[2019-04-22 23:27] lanking520 commented on #14751
@roywei

[2019-04-22 23:30] lanking520 commented on #14742
@zhreshold

[2019-04-22 23:42] zhreshold commented on #14742
@houweidong
can you paste the memory consumption by pid using `ps aux --sort -rss | head -n` ?
Without detailed info I have no idea what's wrong with it.

[2019-04-23 00:10] roywei commented on #14751
Hi @atopion, thanks for the issue,  could you share the following to help us debug?
1. what keras-mxnet version are you using?
2. which example is failing.
3. your keras.json config (located at `~/.keras/keras.json`)

I'm running `examples/lstm_text_generation.py` seems fine.
[code]
[code]

[2019-04-23 00:35] stu1130 commented on #14725
Update for what @anirudh2290 & I have done so far
1. Based on MXNet profiler result(I have updated on the description), we found _backward_FullyConnected increase from 0.0838 to 0.1352.
2. We added following piece of code below https://github.com/apache/incubator-mxnet/blob/68efc1598240bbe36b91d6660489519431795a5d/src/operator/nn/fully_connected-inl.h#L168
[code]
3. I wrote a python script to coll

[2019-04-23 00:38] androuino commented on #14756
Thanks @lanking520 for the response. Yes am trying to do object detection and the input shape of my model is **[1, 3, 512, 512]** (if this is what you're looking for). This is my symbol.json as you have requested. Thank you so much!.
https://gist.github.com/androuino/0b5e36c2fb39be2bda6cd8fc8bdadd05

[2019-04-23 00:38] anirudh2290 commented on #14760
Can we avoid adding another env variable ? We can accumulate only when dtype is set otherwise use the default behavior before this change was added. Also I understand FP16 inputs with accumulation in FP32 for softmax but does this also apply to FP32 inputs with accumulation in FP64. Will there be no accuracy loss ?

[2019-04-23 01:05] PistonY commented on #14762
Sorry.That‘s not work to me.I have two different size input/output which can’t concat to one tensor.

[2019-04-23 01:59] irishjars opened #14774 "Port binding failed in distributed training example"
## Description
I'm trying to run the distributed training example in the mxnet repository (https://github.com/apache/incubator-mxnet/tree/master/example/distributed_training) but i'm having trouble with the port binding.

## Environment info (Required)

[code]

----------Python Info----------
Version      : 3.6.5
Compiler     : GCC 7.2.0
Build        : ('default', 'Apr 29 2018 16:14:56')
Arch

[2019-04-23 02:14] pengzhao-intel commented on #14766
Thanks, @awsbillz @yuxihu, it sounds very useful and I will back to you soon for this request :)

[2019-04-23 02:29] yajiedesign commented on #14729
fix with https://github.com/apache/incubator-mxnet/pull/14743

[2019-04-23 02:46] c00424162 opened #14775 ""terminate called without an active exception""
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-04-23 03:03] PistonY commented on #14762
I inherit `HybridSequential` to fix this.
[code]

[2019-04-23 03:03] #14762 closed

[2019-04-23 04:24] houweidong commented on #14742
ps aux --sort -rss | head -20
[code]
this is at epoch 5, CPUmemory occupation is about 30G

......................................................................................................................................................................................................................
.............................................................................................

[2019-04-23 05:17] TriLoo commented on #14589
Same problem, you can remove the 'spatial' attribute of batchnorm from the python file (output of error info)!

[2019-04-23 06:55] haojin2 commented on #13958
@marcoabreu is there any updates on this issue? I'm facing it again in one of my PRs: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-14773/2/pipeline.

[2019-04-23 07:00] marcoabreu commented on #13958
@ChanceBair has been working on windows lately, maybe he has some info

[2019-04-23 07:04] haojin2 commented on #13958
@Chancebair Could you please provide some updates? This has been open for more than 3 months and I've personally experienced this error 5+ times and always had to apply some workarounds.

[2019-04-23 07:14] houweidong commented on #14742
i add code in train_yolov3.py at every epoch as below to get result quickly.
[code]

[2019-04-23 07:31] atopion commented on #14751
Hello,
of course, I'm using ```keras-mxnet  2.2.4.1``` and my ```keras.json``` looks like this:
[code]

Sofar, I've tried the examples:
- lstm_text_generation.py
- deep_dream.py
- mnist_mlp.py
- cifar10_cnn.py
- mnist_acgan.py

which all failed.

@roywei : In your answer I've seen you're using ```python 2.7```. Could this maybe be a reason?
Please let me know if you need anything else.

atopion

[2019-04-23 08:47] Chancebair commented on #13958
I can dig a bit on this, however as context I worked on codifying windows workers dependencies last year and made no changes to the instances otherwise so it might be good to find someone with more windows development experience to provide their thoughts.

[2019-04-23 09:30] jokerwenxiao commented on #14763
thanks! I solved the problem.

[2019-04-23 11:50] BiranLi opened #14777 "An error occurred when the end parameter was set to a negative value in SliceAxis Op"
## Description
An error occurred when the end parameter was set to a negative value in SliceAxis Op.

## Environment info (Required)
mxnet version is mxnet v1.5.0
using python package

## Error Message:
Error in function *GetSliceAxisParams*.
If end is set to a negative value, index_t type cannot parse this value.

## What have you tried to solve it?

1. Try to modify this point type roll back to

[2019-04-23 15:56] IvyGongoogle commented on #14159
yes, my inputs and weights is in fp16 and batch_size is 16/32, but after my change above, the inference using `src/c_api/c_predict_api.cc` can run, but the speed using fp16 still is same with fp32, or slower.  However, as you know, when we run `example/image-classification/benchmark_score.py`, using fp16 is twice faster than fp32, so I doubt that why python and C++ inference api using fp16 have so

[2019-04-23 15:58] IvyGongoogle commented on #14159
@leleamol those are two different APIs, correct?

[2019-04-23 17:01] #14763 closed

[2019-04-23 17:23] roywei commented on #14751
Hi @atopion, on my side both 2.7 and 3.6 works, tested on mac and linux. Now I will find a windows machine and test it. May due to OS.

[2019-04-23 17:46] lanking520 commented on #14735
@roywei Do you have any context?

[2019-04-23 18:31] lanking520 commented on #14756
@androuino Which version of MXNet Java are you using?

[2019-04-23 23:22] androuino commented on #14756
Hi @lanking520, am using the latest mxnet version (1.4.0) both java library and for training the model for linux gpu. Thanks for your reaponse.

[2019-04-23 23:56] stu1130 commented on #14725
Rerun the minimal reproducible script shown above. Set the num = 100000 and got the result along with nvprof -s
**cu100mkl**
[code]
**cu92mkl**
[code]
We can find **volta_sgemm_128x64_nt** on CUDA 9.2 took almost 3 times than CUDA 10. The reason why the total time it takes is simliar is that volta_sgemm_32x32_sliced1x4_nn takes most of the excution time and it's not the case in LSTM.

[2019-04-24 00:13] androuino commented on #14756
Tried the versions starting from **1.2.0** up to **1.3.1** but without success, all these versions has no ObjectDetector class, or maybe the implementation is different.

[2019-04-24 03:11] zhreshold commented on #14742
Looks like the men occupied by mxnet main thread and all workers are constant.
I highly suspect that it's the shared memory issue.
What do you get from `df -h /dev/shm` ?

[2019-04-24 04:01] houweidong commented on #14742
in the docker contrainer:
df -h /dev/shm:
[code]

Need i run this command at running time?

[2019-04-24 06:56] zhoulukuan opened #14784 "What is the difference between Symbol and Gluon?"
When I learned mxnet, I meet some confused question.
Question1 : I don’t know why there are two different apis. After read [this topic](https://discuss.mxnet.io/t/is-gluon-going-to-replace-symbol/950) I think gluon is a new api which supports dynamic graph, it’s easy to debug but slow, right?
Question2: Can these two apis be fully compatible? I am learning mxnet because my new team is using this f

[2019-04-24 11:46] ziyuang commented on #14734
OK I think the OpenCV in `USE_OPENCV_INC_PATH` and `USE_OPENCV_LIB_PATH` was of different versions (3 vs. 4). The problem is gone if sticking with OpenCV 3.

[2019-04-24 11:46] #14734 closed

[2019-04-24 13:06] TaoLv commented on #14766
@awsbillz Could you provide a reproducer for the crash?

[2019-04-24 13:28] TaoLv commented on #14755
@juliusshufan Can you try a higher version of GCC? I think it's due to the new googletest is not compatible with GCC 4.8.5.

[2019-04-24 13:31] juliusshufan commented on #14755
Sure thing and will take a try. Just wondering, is the GCC 4.8.5 still the minimum requirements for MXNet?

From: Tao Lv [mailto:notifications@github.com]
Sent: Wednesday, April 24, 2019 9:30 PM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: Wu, Shufan <shufan.wu@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [apache/incubator-mxnet] Build on Linux will fail if

[2019-04-24 13:41] TaoLv commented on #14755
Yes, I think the requirement for GCC is not changed. If the issue is confirmed, it will be a breaking issue for MXNet and should be fixed.
Hi @marcoabreu, is GCC 4.8.5 still in the CI validation set?

[2019-04-24 14:54] Flamefire opened #14786 "Documentation of ToTensor shows wrong range"
As stated e.g. at https://beta.mxnet.io/api/gluon/_autogen/mxnet.gluon.data.vision.transforms.ToTensor.html#mxnet.gluon.data.vision.transforms.ToTensor the `ToTensor` transform is defined as

However the implementation does not fulfil this. It converts the image into the range `[0,1]` (*including* 1). This is due to a scaling factor of `255` used which obviously converts a `255` input to an output

[2019-04-24 15:21] kwanking opened #14787 "ci/build.py time out"
run ci/build.py, there is a error
build.py: 2019-04-24 15:20:08,193Z WARNING Exception: Command '['docker', 'pull', 'mxnetci/build.android_armv7']' timed out after 900 seconds, Retrying in 50 seconds

how let timeout be long?

[2019-04-24 16:46] stu1130 commented on #14786
@Flamefire Thanks for finding it out! Would you like to raise a PR to fix this? You only need to change this line  https://github.com/apache/incubator-mxnet/blob/2fd4720342f87be80f280176ffbecb8f37e49b73/python/mxnet/gluon/data/vision/transforms.py#L103

[2019-04-24 20:19] awsbillz commented on #14766
The minimal reproducible code is below

[code]

We experimented turning on/off hybridization and there does appear to be a difference.

Without hybridization. The code runs correctly
[code]

With hybridization, however, we see the stacktrace below:

[code]

[2019-04-24 22:00] Roshrini commented on #11914
Hi @ssttevee I tried to reproduce the issue with the given script, I am running it on p2.8xlarge. It ran successfully for 10000 and 100000 datalengths.
Generally this error occurs if GPU is going out of memory or if there is some bug in the data iterator script for not splitting indices properly across GPUs. If you fixed it, can you share the code snippet which worked for you so that it will be he

[2019-04-24 22:10] roywei commented on #14751
Hi @atopion, I'm trying to find a windows machine to test on.  In the mean time,  could you try uninstall and install mxnet again?
I see you reported mxnet version 1.4.0
[code]
but from the commit hash you reported and error message it's the latest master.
to uninstall, do `pip uninstall ` to remove the pip package and `make clean` to remove the mxnet lib build from source.

I have verified the fo

[2019-04-24 22:21] Roshrini commented on #13332
@lanking520 The image must be changed to float32 type for gpu context. You need to cast img to float. If you change the script as follows, the code will work fine:

data_iter = mx.io.NDArrayIter([img.astype('float32')], None, 1)

[2019-04-24 22:47] apeforest commented on #14496
resolved by https://github.com/apache/incubator-mxnet/pull/14570

[2019-04-24 22:47] #14496 closed

[2019-04-24 22:54] lanking520 commented on #13332
@Roshrini Thanks. However why it works if I defined it in GPU contexted?

[2019-04-24 23:43] lanking520 commented on #14774
@Roshrini Could you please help

[2019-04-24 23:49] lanking520 commented on #14777
@BiranLi Could you please provide some code to reproduce it?

[2019-04-24 23:52] lanking520 commented on #14756
@androuino Thank you, I can reproduce this problem in the most recent 1.5.0-SNAPSHOT. This problem is a bug in the concat operator in Scala it seemed. I will be working on that from today on to see how I can fix it.

[2019-04-25 00:00] lanking520 commented on #14784
Q1: Generally speaking, you can do DL in both imperative or Symbolic ways. MXNet are supporting both of them. imperative way (NDArray) is more like running code from top to down. You will get the result from each layer you write. It's very convienient to debug. However, Symbolic way (Symbol) is done for performance, it will create a computation graph based on the code block you created and execute

[2019-04-25 00:03] lanking520 commented on #14787
@kwanking what are you trying to do? This is the script for CI runs in MXNet.

[2019-04-25 00:45] larroy commented on #14755
What is the error?

For me is MKL problem:

[code]

[2019-04-25 00:45] kwanking commented on #14787
@lanking520 I want to get android-armv7 library and run python3 ./build.py -p android_armv7. and there is the error because my net speed in not quick.

[2019-04-25 00:49] larroy commented on #14755
This works for me
[code]

[2019-04-25 00:49] larroy commented on #14755
@mxnet-label-bot add [MKL]

[2019-04-25 00:49] larroy commented on #14755
@mxnet-label-bot add [Build]

[2019-04-25 01:20] zhreshold commented on #14742
I cannot reproduce the problem, training yolo3, shared memory was consistent at 28G no matter how many epochs.

Can you try different versions of mxnet? 1.4.0 and some older nightly build?

[2019-04-25 02:31] fullfanta opened #14790 "training speed at 1.4.0 is slower than 1.3.1 with large number of classes."
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-04-25 02:44] zhoulukuan commented on #14784
@lanking520 Very clear. Thank you very much, I will learn about gluon apis.  In addition, I feel curious, what‘s official attitude to symbol api, will it be eliminated later or hidden ?

[2019-04-25 02:49] pengzhao-intel commented on #14766
Thanks @awsbillz , we will take a look :)

[2019-04-25 03:32] 92ypli opened #14791 "When can I support shufflenet?"

[2019-04-25 03:49] androuino commented on #14756
Hi @lanking520 thank you for addressing this issue. I'm really looking forward for the fix. I hope you it don't give you hard time fixing it. If only the java library is open source, our team could help fixing the issue as well. Anyway thank you so much, hoping to hear some good news about this issue soon.

[2019-04-25 03:56] squidszyd opened #14792 "Load/Mixed is not registered and is not a subclass of Initializer"
I'm trying to use [`mx.init.Load`](https://mxnet.incubator.apache.org/versions/master/api/python/optimization/optimization.html#mxnet.initializer.Load) initializer to define the source of parameter when declaring some `Variable`, say `my_var`. However,  during the construction of `my_var`, an `AttributeError` is thrown [here](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/symbo

[2019-04-25 04:32] androuino commented on #14756
I would also like to ask why am getting this error also:
https://gist.github.com/androuino/213131592b1d22763bd2a0f98fff7ed8
This happens when I use the java library: **compile group: 'org.apache.mxnet', name: 'mxnet-full_2.11-linux-x86_64-gpu', version: '1.4.0'**.
My machine is **Ubuntu 18.04** with **Cuda 9.0** and **nvidia-390** installed for **GeForce GTX1080ti**.
I tried the same library with

[2019-04-25 05:15] SamanthaFeidFischer opened #14793 "Asap"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-04-25 05:57] TaoLv commented on #14766
Thank you for sharing the reproducer, @awsbillz . Is it possible for you to try a recent night build of MXNet? I think the issue has been fixed on master branch.
To install night build through pip:
`pip install mxnet-mkl --pre`

[2019-04-25 06:29] juliusshufan commented on #14755
@larroy Thanks for the follow-up, at my side, the compilation is successful with gcc6.3.1
on using make -j USE_OPENCV=1 USE_MKLDNN=1 USE_BLAS=openblas test

But it will fail on gcc 4.8.5/5.3.1, logs as below. seems it more like a GCC compatibility issue. If the GCC4.8.5 is still the minimum requirement for MXNet, could you please try with gcc 4/5.

USE_BLAS=open：
#gcc5.3.1)
    60 g++ -c -std=c++1

[2019-04-25 06:50] houweidong commented on #14742
mxnet 1.4.0 has the same problem
the train_yolov3.py dosen't support the mxnet 1.3.0

and the problem seems not the hardware leads to. In single 1080ti, 10 1080ti or 9 2080ti server, the CPU memory leak problem exist.

[2019-04-25 07:33] Flamefire commented on #14786
Sure: https://github.com/apache/incubator-mxnet/pull/14794

[2019-04-25 07:41] hallazie opened #14795 "c++ and python inference give different result with params trained on python"
## Description
I trained a shallow yolo-like model on python (dtype=float32), and got different results while running inference with c++ api (GetDType=0).

I visualize come output activation as follows:
[confidence activation with python and c++ api](https://github.com/hallazie/botrouting_cross_recognition/blob/master/dat/confs.png)

## Environment info (Required)
ubuntu 18.04 with mxnet 1.4.0 cpu

[2019-04-25 08:10] TaoLv commented on #14793
I'm closing this issue as no information is provided. Feel free to re-open it with detailed issue description.

[2019-04-25 08:10] #14793 closed

[2019-04-25 08:33] Marcovaldong opened #14796 "The model gets stuck after several thousand batch_size"
I'm training an RNN-Transducer model on server with MxNet==1.4.0 and 4x1080Ti. After training several thousand batch_size, the model stopped and didn't continue to train. I checked my share memory, there was still 57GB left. The detail information of gpus is as follows, the latter four are used by my script.

![image](https://user-images.githubusercontent.com/17369988/56721511-a051df00-6777-11e9-8

[2019-04-25 08:38] #14787 closed

[2019-04-25 09:02] piiswrong commented on #14792
Load can only be used as a global initializer for loading previously saved models.

[2019-04-25 12:21] khui opened #14799 "training model failed after one epoch on GPU: e == CUDNN_STATUS_SUCCESS (8 vs. 0) cuDNN: CUDNN_STATUS_EXECUTION_FAILED"
## Description
When using gpu, the model could be trained for one epoch or so and then I got Check failed: e == CUDNN_STATUS_SUCCESS (8 vs. 0) cuDNN: CUDNN_STATUS_EXECUTION_FAILED. This error repeatedly appears when training the model on gpu, but at different time (epoch/batch), even from different line. The same model has been successfully trained on CPU. Any ideas about the possible reasons?

[c

[2019-04-25 15:08] awsbillz commented on #14766
The nightly build does appear to have fixed our issue. Could you point us to the commit that fixed the issue just for reference?

[2019-04-25 17:37] lanking520 commented on #14756
@androuino Currently, we publish our CUDA package under 9.2 version, all version prior will not be supported unfortunatly. Please install CUDA 9.2 on your machine to get it work.

The reason that might cause 9.2 not working is the CUDA path not properly set. As an alternative, you can use [the script](https://github.com/apache/incubator-mxnet/blob/master/tools/setup_gpu_build_tools.sh) we use to i

[2019-04-25 17:40] lanking520 commented on #14756
Minimum reproducible Java code:
[code]

Where as Python did not have this problem:
[code]

[2019-04-25 18:13] shoubhik opened #14801 "mxnet.ndarray.contrib.requantize introduces too much error"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-04-25 18:19] arun-gupta opened #14802 "mxnet-cu92mkl can't be installed on Mac"
Trying to install MXNet Model Server on Mac:

[code]

And getting the error:

[code]

A warning needs to be added that CUDA versions of MXNet can't be installed on Mac.

[2019-04-25 18:24] lanking520 commented on #14790
@fullfanta Thanks for reporting that.
@apeforest @samskalicky @szha Please take a look if you have time.

[2019-04-25 18:28] shoubhik commented on #14801
To add more data  and another example

[code]

[code]

Produces
[code]

[code]

Produces
[code]

[2019-04-25 18:33] samskalicky commented on #14790
@fullfanta we just fixed one issue: https://github.com/apache/incubator-mxnet/pull/14570 can you please try building from source with master branch and see if the issue still exists?

[2019-04-25 18:35] lanking520 commented on #14791
@92ypli Is this a feature request? There are some third-party shufflenet implementation available.

[2019-04-25 18:42] roywei commented on #14774
Hi @irishjars, try replacing the content of host file to ip addresses intead of host names.

[2019-04-25 18:44] zhreshold commented on #14742
@houweidong need further investigation, please use thread_pool=True to avoid memory issue as a temporary solution.

[2019-04-25 19:13] larroy commented on #14755
Can you print full compiler invocation? looks like std=c++11 is missing, so it can't find make_tuple. I think this is an easy Makefile fix.

[2019-04-25 20:12] lanking520 commented on #14802
Hi @arun-gupta ,this is only available on Linux machine, currently we do not support Mac with GPU

[2019-04-25 21:09] anirudhacharya opened #14803 "Flaky test: test_random_size_crop"
logs - http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-14503/runs/16/nodes/282/log/?start=0

[code]

[2019-04-25 21:12] anirudhacharya commented on #14803
closing as a duplicate of this - https://github.com/apache/incubator-mxnet/issues/14718

[2019-04-25 21:12] anirudhacharya commented on #14718
failure log - http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-14503/runs/16/nodes/282/log/?start=0

[2019-04-25 21:23] arun-gupta commented on #14802
@lanking520 that's not clear from the docs

[2019-04-25 21:57] atopion commented on #14751
Hello @roywei,
I'm very sorry for the mixup, I was actually using version 1.5.0 to build from source. My build flags are
[code]
Following your suggestion I uninstalled it and tried out installing different versions via pip, here are the results:
[code]
So to me it seems like an error in one of the latest commits, which does not occur when mkl is used (maybe a wrong api call to OpenBLAS or so).
To

[2019-04-25 22:39] #14304 closed

[2019-04-25 22:58] roywei commented on #14751
@atopion thanks a lot for the detailed info, I m able to reproduce now, this is brought by PR: https://github.com/apache/incubator-mxnet/pull/14661 on `include/mxnet/tuple.h`. Please use pip or source before this PR while we fix it.

Thanks!

[2019-04-25 22:59] lanking520 commented on #14756
I add a PR to fix this problem. The problem is the wrong ways of concatenating the NDArrays. It used to be:
[code]

Now is:
[code]

[2019-04-26 00:36] androuino commented on #14756
Hi @lanking520, wow the fix is here already! I am now testing the fix for the Java API. I will also highly consider the script for installing **CUDA** in a fresh new installed Ubuntu OS.

I'll be happy to join the slack channel. Thanks again for all of this.

[2019-04-26 01:13] pengzhao-intel commented on #14801
@xinyu-intel @ZhennanQin

[2019-04-26 01:50] ZhennanQin commented on #14801
Hi @shoubhik, the problem of your case is,

[code]

For `requantize` op, its input `data_min` and `data_max` are not the same as the float32 min/max value before quantization.

So for your case, the expected `data_min` and `data_max` of requantize are,

[code]
Here INT8_MIN_VALUE is the minimum value of int8 type, thus is -128. INT8_MAX_VALUE is the maximum value of int8 type, thus is 127. INT32_M

[2019-04-26 01:58] TaoLv commented on #14755
@larroy this line? https://github.com/apache/incubator-mxnet/blob/master/tests/cpp/unittest.mk#L39

[2019-04-26 02:04] ZhennanQin commented on #14801
Add the reason behind.  `requantize` is to convert int32 to int8. Its int32 input should come from fp32 to int32 `quantize` output , not a casting from `int8` to `int32`.

Consider the case all data are positive value, when converting fp32 to int32, `quantize` will try to map fp32_data_max to INT32_MAX_VALUE. But for casting  from `int8` to `int32`, fp32_data_max will map to  INT8_MAX_VALUE instea

[2019-04-26 02:37] androuino commented on #14756
looks like the check is failed with your push: https://github.com/apache/incubator-mxnet/pull/14804

[2019-04-26 03:09] houweidong commented on #14742
i just add thread_pool in three place: ("n" presents the nth added param )

[code]

and the problem exits still(25 epoch error, should be the full shm leads to)

[2019-04-26 04:02] yinghu5 commented on #14729
@yajiedesign  @pengzhao-intel  @TaoLv  @juliusshufan  verify the change mxnet_option behavior #14743  fix the issues.   thank a lot!

[2019-04-26 04:11] pengzhao-intel commented on #14729
Thanks, closing now :)

[2019-04-26 04:11] #14729 closed

[2019-04-26 04:33] pengzhao-intel commented on #14801
Could we document this in anywhere?

[2019-04-26 04:35] TaoLv commented on #14766
Should be this one: https://github.com/apache/incubator-mxnet/commit/c4a619c6808df82e65081bf55e815c7a7ec55566

[2019-04-26 06:56] jeehyun100 opened #14808 "amalgamation compile error : /amalgamation/python/../../lib/libmxnet_predict.so: undefined symbol: shm_unlink"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-04-26 08:11] jeehyun100 commented on #14808
I put -lpthread -ldl -lrt in Makefile.
Error message was chage.
Check failed: reg != nullptr Cannot find pass MXPlanMemory in the registry

[2019-04-26 08:54] hzfan commented on #14695
I think this is similar to #14064

[2019-04-26 19:53] larroy commented on #9686
Would it be good to be able to to add tag / name to ndarrays so when executing a graph you know which array is what. This would be an optional name as a string to the ndarray constructor. It will also pass this name inside the graph.

[2019-04-26 20:15] larroy commented on #9686
@wkcn what do you mean "For deployment" WRT custom op?

[2019-04-26 20:40] lanking520 commented on #14802
@aaronmarkham do we have docs direct to that?

[2019-04-26 20:41] lanking520 commented on #14795
@hallazie Could you please provide the code you run with?
@leleamol here to see if you can help

[2019-04-26 20:43] lanking520 commented on #14796
@Marcovaldong Thanks for reporting the problem. Could you please provide the code you run for us to try to reproduce that?

[2019-04-26 22:16] rondogency commented on #9686
https://github.com/apache/incubator-mxnet/issues/12681 Gluon batch_norm parameter name running_xxx should be renamed to moving_xxx for consistency

[2019-04-26 22:26] rondogency commented on #12681
We have added it to MXNet 2.0 roadmap and will have this naming consistency fixed down the line. Also parameter checking shouldn't be an issue since those parameters won't be passed directly to the backend.

[2019-04-26 22:54] lanking520 commented on #14799
@khui Not sure what's going on. But I can find you enable: `amazonei_mxnet_p36 ` there. EI-based environment is specifically used for Elastic Inference. The pip package there is not built for GPU. You should use the gpu based one which is `mxnet_p36`

[2019-04-26 23:01] lanking520 commented on #14808
@jeehyun100 You may need to make the backend before you run the make here. Try make at the root folder

[2019-04-26 23:11] apeforest commented on #9686
topk operator: `ret_typ` argument should be `return_type`. Also, `return_type` should be int64 not float32.

[2019-04-27 00:40] wkcn commented on #9686
@larroy If a model which need to be deployed uses custom operator, it's necessary to rewrite the custom operator in C++/C language. It will be better if we can write C++/C custom operator without rebuilding the source of MXNet.
Reference: https://cwiki.apache.org/confluence/display/MXNET/Dynamic+CustomOp+Support

[2019-04-27 01:20] leonid-pishchulin opened #14817 "FCN8S is 2x slower when using cmake with MxNet v1.4.0"
Problem: running out-of-the-box FCN8S symbol in cmake-built MxNet v1.4.0 results into 2x slow-down compared to using MxNet v1.4.0 built with config.mk

setup: Ubuntu 16.04, CUDA 10.0, cuDNN 7.5.0, GPU Tesla T4, MxNet v1.4.0 from GitHub

steps to re-produce:

1) build MxNet with cmake
git clone --recursive https://github.com/apache/incubator-mxnet.git --branch v1.4.x mxnet-v1.4.0-cmake
cd mxnet-v1.

[2019-04-27 01:24] leonid-pishchulin commented on #14817
I did some initial profiling with nvprof and uploaded both profiler outputs

[mxnet-v1.4.0-profiling.zip](https://github.com/apache/incubator-mxnet/files/3123379/mxnet-v1.4.0-profiling.zip)

as can be seen from mxnet-v1.4.0-cmake.nvvp, 50% of the time is spent onto mshadow::cuda::Softmax3DKernel and mshadow::cuda::MapPlanLargeKernel
excluding both kernel runs from the overall run-time, we would ge

[2019-04-27 01:39] #14736 closed

[2019-04-27 03:12] NEWPLAN commented on #9686
I'd like to share my opinions on the roadmap to build MXNet 2.0.

The organization of source files and namespace are not friendly now for the redundancy and chaos.
I have understood the origin design wills that building a simple system with pluggable components (e.g., KV store, NDArray, TVM, etc.). However, this embedding source codes manner may result in chaos and increase the complexity of a sys

[2019-04-27 03:40] #14756 closed

[2019-04-27 10:12] Marcovaldong commented on #14796
@lanking520  The code is as follows:

[code]

[2019-04-27 11:00] marcoabreu commented on #14802
Our documentation at https://mxnet.incubator.apache.org/versions/master/install/index.html?platform=MacOS&language=Python&processor=GPU states that the package is not available and has to be compiled manually from source

[2019-04-27 12:57] khui commented on #14799
Thanks @lanking520 for the answer!

I am using Docker, and the mxnet being used is mxnet-cu92mkl. Do you mean I should instead use pip install mxnet_p36. The conda env where the docker container launched is `amazonei_mxnet_p36`, however, as mentioned, the bugs happen in within a docker container. Therefore, I am not sure whether `amazonei_mxnet_p36 ` is relevant anymore. But will try to install mx

[2019-04-27 13:00] khui commented on #14799
In addition, I tried using naive engine by setting `MXNET_ENGINE_TYPE=NaiveEngine`. And got following more specific errors:

Traceback (most recent call last):
  File "/workdir/code/src/project_main.py", line 154, in <module>
    main(args)
  File "/workdir/code/src/project_main.py", line 138, in main
    do_offline_evaluation=args.do_offline_evaluation)
  File "/workdir/code/src/project/estimator

[2019-04-27 16:24] irishjars commented on #14774
Hi @roywei , i am using the ip addresses.

[2019-04-28 02:06] NeoZhangJianyu opened #14820 "Integrate compile to cmake as only, remove makefile"
## Description
MXNet provide CMakelist.txt and Makefile in same time to compile.
It's hard to maintain two compile systems, please integrate to cmake as only.

cmake support build MXNet in all OS (windows, linux, mac) , makefile is only support non-windows.

We meet trouble that makefile is updated for new code, but CMakelist.txt is missed to update for the new code.
So the cmake is broken in linu

[2019-04-28 02:20] pengzhao-intel commented on #14801
A right example as below:
[code]
The output

[2019-04-28 02:20] #14801 closed

[2019-04-28 02:32] #14640 closed

[2019-04-28 02:37] pengzhao-intel commented on #14801
cc @ZhuoweiSi to plan to add this info into the document.

[2019-04-28 02:52] pengzhao-intel commented on #14820
@larroy @szha @eric-haibin-lin

[2019-04-28 02:55] IvyGongoogle opened #14821 "python lstm_ocr_train.py --gpu 1 --num_proc 4 --loss ctc font/Ubuntu-M.ttf"
Hello, I get a problem.
When I run `python lstm_ocr_train.py --gpu 1 --num_proc 4 --loss ctc font/Ubuntu-M.ttf` under dir `example/ctc`, it always gets stuck for many hours.

Linux distro and version:
LSB Version:	:core-4.1-amd64:core-4.1-noarch
Distributor ID:	CentOS
Description:	CentOS Linux release 7.2.1511 (Core)
Release:	7.2.1511
Codename:	Core

Other envirs:
GPU type: Tesla V100/P100
nvidia

[2019-04-28 07:04] Ldpe2G commented on #5034
@ChaiBapchya I wrote a tool to calculate flops and model size of a given mxnet symbol, you can have a try.
https://github.com/Ldpe2G/DeepLearningForFun/tree/master/MXNet-Python/CalculateFlopsTool

[2019-04-28 07:29] canteen-man opened #14822 "When using the imglist file to load the data,If the number of data set label isn't the integer multiple batch size,the loss become nan"
## Description
I regression the label and the label width is just a float number. I use the imglist to load my image and label.When the total number of label aren't  the integer multiple of the  batch size ，the label  become the strange value,I don’t sure if it is a random number.I print the label in the data iter,some of them are so big，others are so small,I‘m sure these number are't my label in

[2019-04-28 13:08] SamanthaFeidFischer opened #14825 "Thanks"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-04-28 13:21] TaoLv commented on #14825
Ugh, this is my third time to close empty issue for you @SamanthaFeidFischer .

[2019-04-28 13:21] #14825 closed

[2019-04-28 17:24] KellenSunderland commented on #14820
I'd propose we have two votes on dropping Makefile.  One vote for dropping support in the next major version (2.0), one vote for dropping support in an upcoming minor version (either 1.5 or 1.6).

[2019-04-28 17:37] KellenSunderland commented on #9686
https://github.com/apache/incubator-mxnet/issues/10692 might require an API change to fix.

[2019-04-28 18:54] roywei commented on #14774
@irishjars Hi, I know you already set up the hostname and ip address in `~/.ssh/config`, but in the host file, you are putting
[code]
try replace them with
[code]
Let me know if I understand wrongly and refer to this issue: https://github.com/apache/incubator-mxnet/issues/12062
Thanks

[2019-04-28 19:30] KellenSunderland commented on #14817
Thanks for the report @leonid-pishchulin.  I ran the script you provided on my home machine (RTX 2070) and got some interesting results:

[code]

So at least on my environment it seems that both run approximately the same speed.  However that's not to say that on your environment (and possibly in the case of many of our users) something is regressing.

[2019-04-28 19:32] KellenSunderland commented on #14817
As a next step I'd recommend we try compiling with a Dockerfile to make sure we are using the same compiler versions and environment.  Would it also be possible to post the output of running cuobjdump in gist.github.com and linking it here for both .sos?

[2019-04-28 23:50] YutingZhang opened #14826 "[Feature request] BatchNorm "auto" mode for use_global_states"
In https://github.com/apache/incubator-mxnet/pull/14816, we have explored a gluon implementation. However, the conclusion is that an implementation directly on MxNet operator is preferable.

It will be great if someone would like to implement this. Thanks!

[2019-04-29 01:06] jeehyun100 commented on #14808
I builded libmxnet.so on root directory. Loading libmxnet.so is ok. The prediction  is ok.
But in ./amalgamation directory to make libmxnet_prediction.so , It has a problem.
I got the same error, undefined symbol: shm_unlink. Anyone help me? T_T

[2019-04-29 02:05] wkcn commented on #14826
I think BatchNorm Op has the 'auto' mode.
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/batch_norm.cc#L115

[2019-04-29 06:35] git-ql opened #14827 "Does the LRN operator only support the calculation of 4-dimensional tensors?"
## Does the LRN operator only support the calculation of 4-dimensional tensors?

When I use LRN operator with an input data whose shape is（6，4，9）, an  error occurred and log info is as follows:

![call stack](https://user-images.githubusercontent.com/50092277/56879384-12ce0200-6a8b-11e9-82bc-cc4c341a9052.jpg)

## Environment info

[code]

[2019-04-29 07:48] jasperDD opened #14828 "TypeError: object of type ‘NoneType’ has no len()"
Hi, please help me
i use im2rec.py
so when i do so
python Downloads/im2rec.py Downloads/test . --center-crop --resize 224 --pack-label

i get the error

opencv@opencv-virtual-machine:~$ python Downloads/im2rec.py Downloads/test . --center-crop --resize 224 --pack-label
Creating .rec file from /home/opencv/Downloads/test/dog.lst in /home/opencv/Downloads/test
multiprocessing not available, fall bac

[2019-04-29 08:50] BrettLL commented on #13949
same problem with you @JohnLee168

[2019-04-29 09:04] fullfanta commented on #14790
@samskalicky

I installed mxnet_cu92-1.5.0b20190428 throuth pip and noticed training speed is almost close to 1.3.1.

[code]

[2019-04-29 09:05] #14790 closed

[2019-04-29 11:34] anirudh2290 commented on #14584
@AnaRhisT94 yes you can do that if you want to run your entire model in FP16 precision. You can do that by casting your inputs to FP16 and casting your params to FP16. You can look at the FP16 tutorial on how to do this: http://mxnet.incubator.apache.org/versions/master/faq/float16.html?highlight=mixed#using-the-gluon-api . This particular AMP feature would help for situations where you want to ru

[2019-04-29 15:12] jasperDD commented on #14828
i found error,  data folder was deleted from root catalog. and it could find my pictures

[2019-04-29 15:13] jasperDD opened #14832 "How extract pictures from models"
i use this code to biuld model for captcha recognition
dataiter <- mx.io.ImageRecordIter(
path.imgrec = “C:/Users/Admin/Desktop/captcha_example/captcha_train.rec”,
path.imglist = “C:/Users/Admin/Desktop/captcha_example/captcha_train.lst”,
mean.img = “mean.bin”,
batch.size = 100,
data.shape = c(28, 28, 3),
rand.crop = TRUE,
rand.mirror = TRUE
)

data <- mx.symbol.Variable(‘data’)
label <- mx.symbol

[2019-04-29 15:26] roywei opened #14833 "[Numpy][Keras-MXNet] Infer shape partial failed for unknown shapes"
I came from a user reported issue here: https://github.com/apache/incubator-mxnet/issues/14751#issuecomment-486866935
Currently latest MXNet does not work with Keras-MXNet(v2.2.4.1)

In https://github.com/apache/incubator-mxnet/pull/14661, unknown shape in mxnet was represented using `0`, and changed to `-1`, this brought some unexpected behavior on `infer_shape_partial` of some of the operators i

[2019-04-29 15:52] roywei commented on #14833
@mxnet-label-bot add [Bug, Numpy, Operator]

[2019-04-29 17:08] leleamol commented on #14795
@hallazie
Can you please provide some details such as:
1. Modifications to the inference example.
2. The output you were expecting
3. Details about the model you have trained, etc

It will help us answer the question.
Thanks

[2019-04-29 17:08] leleamol commented on #14795
@mxnet-label-bot add ["Pending Requester Info"]

[2019-04-29 17:37] Roshrini commented on #11914
I tried to reproduce this issue on p2.8xlarge instance. Wasn't able to. Will close this issue for now. Please reopen if closed in error or if the issue still persists.
@altosaar @lengxia It will be great if you can you share your reproduction scripts to further debug this.

[2019-04-29 17:37] #11914 closed

[2019-04-29 17:41] khui commented on #14799
As a note, when reproducing the errors in a jupyter notebook, I got following errors when trying to print out the loss and compute the mean.

The loss is.
[code]

`loss.mean()` I got:

[code]

[2019-04-29 18:00] mirocody commented on #14799
@khui If you run the code and got error inside docker container, the issue is very likely to be related to container only.
when you said `when reproducing the errors in a jupyter notebook`, did you run jupyter notebook inside docker, or on DLAMI?
Also, I am curious what command you run to run/start docker container.

[2019-04-29 18:33] khui commented on #14799
@mirocody Thanks!

The errors appear when I am using DLAMI. To debug, I ran docker container to exclude the reasons that the bugs come from the mismatched mxnet/cuda/cudnn version. Since such reasons seem unlikely after trying different combinations, I switched back to use DLAMI. The container is ran using following command, thereafter some commands are ran inside the container as usual.
`nvidia-d

[2019-04-29 18:45] larroy opened #14835 "Flaky test test_custom_op_exc"
A PR that just changed build.py, got a failure on this test:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14815/1/pipeline/

[2019-04-29 18:45] larroy commented on #14835
@mxnet-label-bot add [Flaky, Test]

[2019-04-29 18:48] yuxihu commented on #10692
@KellenSunderland I changed your script a little bit and I did not see memory leak anymore.
[code]

I think it is not the best practice to pass a raw pointer back to higher level language and rely on users to properly free the memory. I tried to free the memory after we execute the callback in [GraphExecutor](https://github.com/apache/incubator-mxnet/pull/14805/files). However, it caused double fr

[2019-04-29 18:54] lanking520 commented on #14821
@IvyGongoogle Hi, Thanks for reporting this issue. Do you have any error logs to share?
@roywei Do you know anyone can solve this?

[2019-04-29 19:00] mirocody commented on #14799
@khui In DLAMI, we support mxnet with cu90, so not sure the error you got is related to cu92 and cudnn. I would suggest to try latest DLAMI and run your code in conda env, if still not work, you can cut a ticket to us, while the community can still look this issue to see if this is related to mxnet framework.

[2019-04-29 21:12] lanking520 commented on #14827
@git-ql Have you tried with `v.1.4.0`, does this problem persist?
@anirudh2290 @stu1130 could you please take a look?

[2019-04-29 21:13] lanking520 commented on #14828
@jasperDD Thanks for your Q and A. Could you please close this issue if you are no longer facing the same problem?

[2019-04-29 21:40] roywei opened #14838 "regression from cudnn upgrade from 7.3.1 to 7.5.0"
We have recently found a performance regression on training imagenet with resnet50v1 when upgrading from **cudnn 7.3.1 to 7.5.0**

**Speed droped from ~5800 images/s to ~4800 images/s**

Environment is AWS DLAMI with AMI ID : ami-2dcceb57 (available in us-east)

command:
[code]
code at: https://github.com/rahul003/deep-learning-benchmark-mirror/blob/master/mxnet_benchmark/train_imagenet.py

our ni

[2019-04-29 21:40] roywei commented on #14838
@mxnet-label-bot add[Cuda, Performance]

[2019-04-29 21:57] stu1130 commented on #14827
Could we have some reproducible script?
I checked the LRU implementation, it looks like we do only support 4 dimensions

[2019-04-29 22:18] lanking520 commented on #14808
Hi @jeehyun100 I can reproduce your issue on my VM:
[code]
Step to reproduce:
On clean 16.04 VM
[code]
@hcho3 Could you please help if you are familiar?

[2019-04-29 22:29] aaronmarkham commented on #14802
I think we can close this. However, if we don't have one already, we should have an issue/feature tracked for creating macOS pip packages that work with GPUs you can get now.

@arun-gupta What kind of GPU do you have with your Mac?

[2019-04-29 22:46] lanking520 commented on #14832
@leleamol Could you please take a look?

[2019-04-29 23:19] iamthebot opened #14839 "MXNetError: Invalid Parameter format for lrs expect tuple of <float> but value=..."
## Description
(Brief description of the problem in no more than 2 sentences.)
MxNet 1.5.0b20190429 introduces a regression from 1.4.0post0 when training with `keras-mxnet==2.2.4.1`:

[code]

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
keras-mxnet

MXNet commit hash:
The 1.5.0b20190429 release on PyPi

## What have you tried to solve it?
1. Reverting to 1.4.0.post0

[2019-04-29 23:32] roywei commented on #14839
@iamthebot Hi, currently latest mxnet does not work with keras-mxnet, issue tracked here: https://github.com/apache/incubator-mxnet/issues/14833. Please use an older version of mxnet before we fix it. Thanks

[2019-04-29 23:39] stu1130 commented on #14652
@perdasilva any updates? Thanks

[2019-04-29 23:41] wkcn commented on #14835
[code]

[2019-04-29 23:50] roywei commented on #14839
@mxnet-label-bot add[Keras, bug]

[2019-04-29 23:58] #14839 closed

[2019-04-30 02:14] IvyGongoogle commented on #14821
@lanking520  Thanks for your reply. No any logs.

[2019-04-30 03:45] git-ql commented on #14827
After reviewing the code of  LRN operator, we find that the implement in v.1.4.0 is similar to that in v.1.3.0 and also only support 4-dimentiaonal tensors.

[2019-04-30 03:58] git-ql commented on #14827
My script is as follows:
[code]

[2019-04-30 05:10] KellenSunderland commented on #10692
@yuxihu Yes I was also occasionally getting double frees.  Thanks for the modified code, good reference.  Closing the issue.

[2019-04-30 05:10] #10692 closed

[2019-04-30 05:20] pilhoon commented on #2932
It looks some changes are. You can use a simple `var`

[code]

[2019-04-30 08:31] PhanTask opened #14844 "ci/build.py failed to build MXNet for Android_armv7"
## Description
Tried to build Android_armv7 using ci/build.py and failed.
I runned `sudo ./build.py -p android_armv7`
And the error showed as follows:
[code]

## Environment info (Required)
OS: Ubuntu 18.04 64bit LTS
MXNet: 1.3.1
Python: 3.6
GPU: NVIDIA GTX1060 6G
CPU: i7-8750H (16G memory)

## What have you tried to solve it?

1. Changed mxnetci dockcross address in `Dockerfile.build.android_armv

[2019-04-30 08:34] tomoncle opened #14845 "Not Found Java Class "org.apache.mxnet.javaapi.Image""
# Not Found Java Class "org.apache.mxnet.javaapi.Image"
I am testing mxnet in Java language, but a problem arises suddenly. I find that the `Image` class file does not exist. I try to reduce the version of mxnet. The problem still exists. So I ask this question here. How can I solve it?

I tested it against the code in the file [SSDClassifierExample.java](https://github.com/apache/incubator-mxnet/

[2019-04-30 09:24] hallazie opened #14847 "run mxnet-cpp in ROS, got frozen after calling SyncCopyFromCPU for converting cv::Mat to NDArray"
## Description
I'm running mxnet-c++ under a ROS node for object detection, which takes a sequence of images as input by subscribing a image message.
The node got stuck when I'm trying to construct input NDArray from cv::Mat data, either by
[code]
or
[code]

## Environment info (Required)
----------Python Info----------
('Version      :', '2.7.15rc1')
('Compiler     :', 'GCC 7.3.0')
('Build

[2019-04-30 09:35] perdasilva commented on #14652
@stu1130 I'm currently on leave until Thursday. I totally missed that you wanted me to merge the other PR first. I will do that as soon as I'm back. I'm sorry missed that. I'll see about already bumping CI to 10.1 as well - then that's done.

[2019-04-30 13:44] #14201 closed

[2019-04-30 13:58] Ian8888 opened #14848 "Create Resnet152 training using vision.get_model API"
I want to create training about resnet152, and I use vision.get_model api.
The problem is can't using mod.Module api
My code is
[code]
the error is

How can I fix the problem?

[2019-04-30 16:57] hcho3 commented on #14808
@lanking520 The `-lrt` flag should be added, according to the Makefile:
https://github.com/dmlc/dmlc-core/blob/649be18a8c55c48517861d67158a45dec54992ee/make/dmlc.mk#L35

Can you post the verbose log of the compilation? Let's check if `-lrt` is being added.

[2019-04-30 18:34] #14185 closed

[2019-04-30 18:46] lanking520 commented on #14844
@larroy Could you please take a look?

[2019-04-30 18:51] lanking520 commented on #14845
@tomoncle Thanks for reporting that. The Image API is introduced after 1.4.0. So you may expect it in 1.5.0. Try to configure your pom file like this: https://github.com/apache/incubator-mxnet/blob/master/scala-package/mxnet-demo/java-demo/pom.xml to use our nightly snapshot.

If you are willing to test it only under 1.4.0, I would suggest follow the code in here:
https://github.com/apache/incubat

[2019-04-30 19:35] stu1130 commented on #14652
@perdasilva no rush! Thanks a lot for this awesome job!!!

[2019-04-30 19:42] larroy commented on #14844
seems like a network issue?  Works for me:

[code]

[2019-04-30 20:56] rfarahmand commented on #11098
I still have problem Installing MXNet from source on OS X (macOS high Sierra). It seems it cannot find opencv2; but I have installed using `brew install opencv` I even tried compiling from source as recommended above - no luck. I get the error below:

`
In file included from src/operator/image/crop.cc:27:
In file included from src/operator/image/crop-inl.h:35:
src/operator/image/image_utils.h:32:1

[2019-04-30 22:09] pengzhao-intel commented on #14766
The change will go into release 1.5. Closing now and feel free to reopen if there are any other issues.

[2019-04-30 22:09] #14766 closed

[2019-04-30 22:41] lanking520 commented on #14848
@zhreshold Could you please take a look?

[2019-04-30 23:05] zhreshold commented on #14848
@Ian8888 You need to convert gluon network to symbol explicitly in order to use `Module`.

[code]

[2019-04-30 23:05] #14848 closed

[2019-04-30 23:38] leonid-pishchulin commented on #14817
commenting out softmax layer reduces run-time from 55.95 to 27.54 ms / fr in case of MXNet with cmake

MXNet with make
forward time: 27.66 ms/frame, 28320.44 ms total; batch_size: 16; symbol: symbol_fcnxs

MXNet with cmake:
forward time: 27.25 ms/frame, 27902.43 ms total; batch_size: 16; symbol: symbol_fcnxs

[2019-05-01 00:03] arun-gupta commented on #14802
No GPU on the Mac

[2019-05-01 00:38] stu1130 opened #14851 "Pylint Error Fixes"
MXNet currently use very old version of pylint. Here we capture several pieces of code that need to be fixed/ refactored.

no-else-raise
1.
https://github.com/apache/incubator-mxnet/blob/bde1b8498f217dc9ca0adfe99db7c24c1eaa8fea/python/mxnet/contrib/onnx/mx2onnx/_export_helper.py#L43
2.
https://github.com/apache/incubator-mxnet/blob/bde1b8498f217dc9ca0adfe99db7c24c1eaa8fea/python/mxnet/contrib/onnx

[2019-05-01 04:14] Ian8888 commented on #14848
@zhreshold Thanks, for your share!
It's can work now.

[2019-05-01 04:35] ChaiBapchya opened #14852 "flaky test: test_ndarray_elementwisesum"
Flaky test in an unrelated (doc PR #14243 )

Python3: MKLDNN-GPU-NOCUDNN

[code]

[2019-05-01 04:36] ChaiBapchya commented on #14852
@mxnet-label-bot add [Test, Flaky]

[2019-05-01 04:57] Ian8888 opened #14853 "Create Resnet152 training using vision.get_model"
I want to create training about resnet152, and I use vision.get_model
My code is
[code]
The error message is

How can I fix this problem?

[2019-05-01 05:21] haojin2 commented on #14802
@arun-gupta If you have no GPU on your mac then none of the GPU wheels will work for you. Please try out `pip install mxnet-mkl`, I just tried on my own mac and it works. If this solves your problem then please close the issue, otherwise feel free to ask! Thanks!

[2019-05-01 05:23] haojin2 commented on #14828
Closing the issue now since the problem seems to be solved. @jasperDD Please feel free to re-open if you have further questions, thanks!

[2019-05-01 05:23] #14828 closed

[2019-05-01 05:50] haojin2 commented on #14712
@PistonY What GPU do you have? Can you share the nvidia-smi outputs?

[2019-05-01 05:56] #14853 closed

[2019-05-01 06:13] Ian8888 opened #14854 "Create Resnet152 training using vision.get_model"
I can't training Resnet152 by vision.get_model
My code is
[code]

The error message is

How can I fix this problem

[2019-05-01 07:06] haojin2 commented on #14650
@apepkuss Sorry for the late reply, what are you trying to do exactly? Are you trying to export the params in a human-readable format?

[2019-05-01 11:25] tomoncle commented on #14845
@lanking520 Thank you for your reminder. I'll try `[1.5.0-SNAPSHOT,]` next.

[2019-05-01 13:18] PhanTask commented on #14844
@larroy
Thank you. After adding `RUN sed -i "s/jessie/stretch/g" /etc/apt/sources.list` it works. I think it is indeed a network issue.

[2019-05-01 13:18] #14844 closed

[2019-05-01 16:10] atopion commented on #14751
Hello,
sorry about the delay. I have now successfully compiled release 1.4.0 from source and it works. I will use this until the problem is fixed.

Should I close the issue?
atopion

[2019-05-01 17:31] anirudhacharya commented on #8645
The difference in performance is only when `batch_axis=1` when `batch_axis=0` there is negligible difference in performance.

`utils.split_and_load` internally calls `utils.split_data`. The real performance difference difference is in `split_data` when `batch_axis=1`

[2019-05-01 18:56] anirudhacharya commented on #8645
for now, I think the only way to fix it would be implement an operator like `numpy.split_array`

[2019-05-01 18:56] anirudhacharya commented on #8645
@mxnet-label-bot add [Operator, Feature Request]

[2019-05-01 20:59] anirudhacharya commented on #11865
To understand this right, in scenarios such as the following
[code]
what you want is we should be able to get the gradients w.r.t any variable which has been marked with `attach_grad`.

In the above example would you also want the result of `y.grad` to be retained? Because that would be a bit different and more like a feature request than a bug. It will probably involve storing intermediate gradie

[2019-05-01 22:59] szha commented on #11865
Yes, that's what I'd like to have. In the current implementation, instead of marking the y's gradient to be one of the output, the above code discards the previous graph in which y resides.

[2019-05-01 23:07] anirudhacharya commented on #11865
@szha would you agree with the above part that these intermediate gradients should not be stored by default but rather we should provide a function call, something like `persist_grad` which the user can call along with the variables( like `x.persist_grad()`) to enable storing of intermediate gradients?

[2019-05-01 23:22] larroy commented on #14820
@KellenSunderland happy to ditch Make, unfortunately Jetson doesn't build with CMake due to CUDA and cross compilation complications. We are using your work to (cross)compile for Jetson.

[2019-05-01 23:22] anirudhacharya commented on #7664
@LeonJWH @techzhou @changss @tobechao @wlbksy can one of please share a minimum reproducible example for this bug?

[2019-05-01 23:41] szha commented on #11865
Yes, there should be an explicit mechanism to mark new outputs. Whether it's reusing attach_grad or a new method is up for debate.

[2019-05-01 23:56] sandeep-krishnamurthy opened #14858 "add_n operator with MXNet-MKL producing wrong results when input count >4"
**Problem:**

With mxnet-mkl (1.4.0)
If number of input symbols > 4 and I perform add_n after a FC layer produces wrong results.
i.e.,
[code]
Minimum reproducible code below:

Run below code which is full network:

[code]
Output
[code]

However, Let us now compute output of each FC in above network (fc0_output, fc1_output,... fc4_output). What I observe is the if I do individual fc output calculat

[2019-05-02 00:10] aaronmarkham commented on #14329
Failed for me today: http://jenkins.mxnet-ci.amazon-ml.com/job/mxnet-validation/job/unix-gpu/job/PR-14855/5/display/redirect

[2019-05-02 00:27] stu1130 commented on #14851
@mxnet-label-bot add [Call for Contribution]

[2019-05-02 09:42] perdasilva commented on #14652
@stu1130 There's no cudnn 7.3 package for cuda 10.1, so I won't be able to update CI to 10.1 in my PR.
I've just done a rebase and I'm putting it through CI =D I'll let you know once it's through.

[2019-05-02 14:48] pengzhao-intel commented on #14858
we are on the public holiday this week :)
@rongzha1 please help take a look for this issue after the holiday.

[2019-05-02 15:12] rakababa commented on #14725
I am also using mxnet-cu100 for CUDA10, but i am seeing that irrespective of using mx.cpu() or mx.gpu(), the system ends up always using the GPU. Anyone knows why?

[2019-05-02 16:41] anirudhacharya commented on #12555
@samskalicky do we have a list of such keywords?

[2019-05-02 16:43] anirudhacharya commented on #14228
can this issue be closed?

[2019-05-02 16:45] samskalicky commented on #12555
@anirudhacharya no we do not

[2019-05-02 16:46] nickguletskii commented on #14329
Failed for me as well: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14638/6/

[2019-05-02 16:52] perdasilva commented on #14652
@stu1130 it's been merged! Feel free to take it away and let me know if I can help you =)

[2019-05-02 16:59] stu1130 commented on #14652
@perdasilva Awesome Thanks a lot!!!

[2019-05-02 18:15] shru9289 opened #14861 "pip install mock Collecting mock Could not find a version that satisfies the requirement mock (from versions: ) No matching distribution found for mock"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-05-02 18:25] lanking520 commented on #14854
@roywei Could you please take a look

[2019-05-02 18:27] lanking520 commented on #14847
@hallazie In Scala/Python, there are NDArray.Image API which used C operator to do the image processing. I am not sure why it is hang for using OpenCV alone with MXNet.

@leleamol Do we have CV toolkit available in C?

[2019-05-02 19:14] yuxihu commented on #13825
Tested with mxnet-cu90mkl==1.5.0b20190501 on g3.8xlarge instance.

Code example (same as above):
[code]

Performance results (in seconds):
[code]
Looks like the dropout performance has been significantly improved with CUDNN support.

@sandeep-krishnamurthy Please help close this issue.

@thomelane Please reopen the issue if you have any further questions. Thanks.

[2019-05-02 20:33] lanking520 commented on #14861
@shru9289 This is a pip install problem, please try to upgrade your pip version or follow the instruction here to install mock:
https://pypi.org/project/mock/0.8.0/

[2019-05-02 20:34] lanking520 commented on #14822
@canteen-man Could you please provide some code that we can reproduce your problem?

[2019-05-02 21:15] scotty3005 opened #14863 "mxnet csv iterator error"
## Description
Running mxnet on R after 50-60 iterations I get the error message posted here below. I am using the custom iterator posted in the code session. I encoutered other discussion about it but I could not figure out if there has been a solution.

R `sessionInfo()`:
R version 3.5.2 (2018-12-20)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Debian GNU/Linux 9 (stretch)

Matrix produ

[2019-05-02 21:43] lanking520 commented on #14863
@anirudhacharya Could you please take a look

[2019-05-02 21:55] araitats opened #14864 "[MXNet] - [BERT]"
https://github.com/dmlc/gluon-nlp/issues/690
## Description
There is a problem with a custom BERT model training with the later version of MXNet 1.5.0 (observed with cu90).
mlm_loss stops around 7.3 and nsp_acc stopps around 54.
mxnet-cu90 version which is older than 1.5.0b20190425 does not have this issue.
1.5.0b20190426 onward has this issue.

## Environment info (Required)
Amazon SageMaker Note

[2019-05-02 22:04] #13825 closed

[2019-05-02 23:50] anirudhacharya commented on #13967
related issue - https://github.com/apache/incubator-mxnet/issues/14228

[2019-05-03 00:46] anirudhacharya commented on #12404
The error happens here - https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/initializer.py#L116 while trying to serialize a `numpy` array into json format.

I think the fix is instead of using the in-built `json.dumps` we should write our own custom JSONEncoder and JSONDecoder that will extend the one implemented in `json` package. This implementation should handle `numpy.ndarrays`

[2019-05-03 00:58] larroy opened #14866 "Can't build the scala package in ubuntu 18.04"
## Description

When I run mvn compile I get the following error:

[code]

## Environment info (Required)

[code]

[code]

Package used (Python/R/Scala/Julia):
scala

For Scala user, please provide:
1. Java version:
[code]
2. Maven version: (`mvn -version`)
[code]
3. Scala runtime if applicable: (`scala -version`)
[code]

For R user, please provide R `sessionInfo()`:

## Build info (Required if bu

[2019-05-03 05:53] huyangc commented on #14761
Is this a bug?

[2019-05-03 05:53] hallazie commented on #14847
converting cv::Mat to NDArray from image file outside ROS node works fine though

[2019-05-03 06:21] yifeim commented on #14228
No, these two problems seem unrelated. In fact, I have two points of confusion now:
(1) The initial post had different error messaging.
[code]
(2) The workaround did not trigger the second error, even though variable `y` was still no in the computational graph.

[2019-05-03 06:36] canteen-man commented on #14822
@lanking520 ,the lst file  is such as :
0     0.2083763     picture_root/1.png
1     0.1911981     picture_root/2.png
2     0.3475569     picture_root/3.png
And I load the image by use
training_iter=mx.image.ImageIter(batch_size =batch_size, data_shape= (3,256,256), path_root=
 xxx,path_imglist= xxx)

mod=mx.mod.Module(symbol= xxx,context = xxx,data_names=['xxx'],label_names=['xxx'])

mod.bind(dat

[2019-05-03 12:26] khui commented on #14799
After setting the drop_out=0, the bugs do not appear again for training lasting for more than 200 epoches. Close this issue for now, and will get back to this to find the in-depth reason when having time.

[2019-05-03 12:27] #14799 closed

[2019-05-03 17:40] #14864 closed

[2019-05-03 18:10] lanking520 commented on #14866
@larroy Could you also provide the steps you install all dependencies?

[2019-05-03 21:28] anirudhacharya opened #14872 "Error when trying to generate text with sequence sampling"
Encountering the following error when I try to run this [sequence sampler example](https://github.com/dmlc/gluon-nlp/blob/master/scripts/text_generation/sequence_sampling.py) from gluon-nlp toolkit -

[code]

The error was likely introduced in this commit 3f3ba92ae1468d08de088d2291ca14e2d5dc5515

cc @reminisce

[2019-05-03 23:00] hcho3 commented on #9686
Was there a decision to drop Python 2? If so, we should consider putting our logo to https://python3statement.org/.

[2019-05-03 23:52] ehsanmok opened #14875 "MXNet to ONNX export bug"
When trying to convert `yolov3_mobilenetv1.0_coco` pretrained from gluonCV v0.5 to ONNX via `onnx_mxnet.export_model` (using mxnet-cu90mkl==1.5.0b20190313 ), I get the following error:

[code]

This matches [this line](https://github.com/apache/incubator-mxnet/blame/master/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py#L1502) which is a bug introduced in [#12878 ](https://github.com/apache/

[2019-05-04 01:34] cgraywang commented on #13482
+1

[2019-05-04 05:44] ptrendx commented on #14838
@roywei - could you tell me which 2 nightly versions could I use to compare performance (1 with 7.3 and other with 7.5)?

[2019-05-04 14:50] TaoLv commented on #14835
I think @arcadiaphy is working on this. Do you have any finding?

[2019-05-04 16:51] anirudhacharya opened #14876 "[Feature Request] Stochastic Weight Averaging"
Paper - https://arxiv.org/abs/1803.05407
Reference implementation - https://github.com/pytorch/contrib/blob/master/torchcontrib/optim/swa.py

[2019-05-04 16:51] #14872 closed

[2019-05-05 00:29] eric-haibin-lin commented on #14485
Sorry for the late reply. On kvstore performance, one potential improvement I find is that there is one extra copy in kvstore-server during pull: https://github.com/apache/incubator-mxnet/blob/master/src/kvstore/kvstore_dist_server.h#L598

The reason is that the ps-lite response API does not provide an option for callback. If that's added, we can avoid this copy operation and schedule the response

[2019-05-05 00:33] eric-haibin-lin commented on #13391
Closing this for now. Feel free to comment if not resolved

[2019-05-05 00:33] #13391 closed

[2019-05-05 03:15] PistonY commented on #14712
I use GTX 1070 with CUDA10.
[code]

[2019-05-05 03:22] arcadiaphy commented on #14835
I'm stuck in reproducing the error. The bug in spawned process is hard to track, the only thing I've got is the non-zero exitcode.

I'll rewrite the test to bypass this error temporarily.

[2019-05-05 03:39] #14845 closed

[2019-05-05 04:01] ymjiang commented on #14485
Hi @eric-haibin-lin , thank you for the note of extra pull copy. Actually I solve it by directly casting the pointer to response vals, instead of using the `CopyFrom`:

`response->vals = ps::SArray<char>(static_cast<char*>(stored.data().dptr_), len, false);`

The performance indeed increases noticeably without the memory copy. And with proper `WaitToRead` I believe this will not affect the  correc

[2019-05-05 04:12] #8663 closed

[2019-05-05 04:12] #9475 closed

[2019-05-05 04:12] #10389 closed

[2019-05-05 04:12] #13217 closed

[2019-05-05 06:23] lanking520 commented on #14875
@Roshrini Could you please take a look?

[2019-05-05 13:32] wkcn commented on #14712
What is the version of CUDNN?

[2019-05-05 15:09] rongzha1 commented on #14858
add_n output mem overlap with input mem (due to FInplaceOption), but in Forward function : ElementwiseSumContainsDnsImpl( ),  output mem was set_zero which makes input zero:     Kernel<set_zero, cpu>::Launch(s, out_data.Size(), out_data.dptr<DType>());

In fact, this is not a MKLDNN Bug.

@pengzhao-intel @zheng-da @TaoLv

[2019-05-05 17:14] AnaRhisT94 commented on #9885
Hi, I'm trying to use the slice instead of crop because ONNX doesn't support Crop properly - and I don't want to change ONNX's function. but rather use Slice instead.
When changing Crop to slice_axis with axis=1 on a pretrained model in the .json, I'm getting an error when trying to use that sliced node. More precisely, I feed a 128x80x60 shaped node to a elemwise_add node which takes as input sam

[2019-05-05 17:20] AnaRhisT94 opened #14880 "Changing a Crop to Slice_axis for ONNX conversion"
Hi, I'm trying to use the **slice_axis** (because Slice and Slice_like aren't supported by ONNX) instead of **crop**(it's also deprecated) because ONNX doesn't support Crop properly - and I don't want to change ONNX's  Crop function. but rather use **slice_axis** instead.
When changing Crop to slice_axis with axis=1 on a pretrained model in the .json, I'm getting an error when trying to use that s

[2019-05-05 18:26] AnaRhisT94 opened #14881 "MXNet to ONNX export bug with "out_shape" when using Crop"
Hi,
I know Crop is deprecated, and probably this why "out_shape" key isn't available. Is there a future fix for this?
The current available workaround for this is just specifying the height and width manually for the crop, but it's not a long-term fix, if I will be using other width/height, and so on.

[2019-05-05 22:41] hhexiy commented on #9079
Any update on this? I'm also having the same problem. For me it only happens when the model uses nn.LSTM. The GPU hangs randomly (like 1 in 3 jobs) at 100% util and low mem and CPU usage.

[2019-05-05 23:39] szha opened #14883 "[Discussion] Overhead in MXNet Execution"
Hi,

I'm starting this thread to collect issues that are likely caused by various overhead in MXNet execution so that we can focus the efforts in solving them. The focus is everything other than the operators and kvstores.

If you've seen performance issues that you found were due to the overhead in MXNet execution (e.g. ctypes/FFI call, asynchronous execution, graph construction overhead, memory

[2019-05-06 00:05] eric-haibin-lin commented on #9079
@hhexiy are you running multiple jobs, each using a separate gpu?

[2019-05-06 00:07] eric-haibin-lin commented on #14485
@ymjiang what's your setup and how much improvement did you see?

[2019-05-06 00:20] roywei commented on #14838
7.3: `pip install mxnet-cu90==1.5.0b20190312`
7.5: `pip instlal mxnet-cu90 --pre` or any timestamp after 03/13

cc @stu1130 who also observed regression when built from source with 7.3 and 7.5. the same model and save command in issue description.

[2019-05-06 00:29] shuokay commented on #14619
Update parameters manually in training loop.
https://github.com/apache/incubator-mxnet/issues/14735

[2019-05-06 03:04] Arelax-zhu commented on #14712
@wkcn
CUDNN 7.0.5, CUDA 9.0, Ubuntu 16.04
[code]

[2019-05-06 04:43] pengzhao-intel commented on #14858
@rongzha1 thanks for the analysis. Would you mind to file a PR and fix this issue?

[2019-05-06 04:45] pengzhao-intel commented on #14858
btw, please add the example as a test case.

[2019-05-06 06:00] eric-haibin-lin opened #14888 "Memory usage estimator"
GPU memory is limited. It would be great to have an utility function to estimate the memory usage of training a model given the shape of the input. Currently, the only way is to run the model with different hidden_size and batch_size (trial and error). MXNet could provide an API that makes this process automatic so that it's easier for the user. @Roshrini @pinaraws  @cgraywang @yifeim feel free to

[2019-05-06 06:25] eric-haibin-lin commented on #13925
+1 on this.

[2019-05-06 06:37] eric-haibin-lin opened #14890 "Viterbi operator"
It would be great to have a GPU implementation of the Viterbi algorithm, since this is important for sequential models.

[2019-05-06 07:16] TaoLv commented on #14888
Curious to know why we need an estimator. Can a estimated number stop the users from trying a larger input size? I think they would not stop until they see the OOM error.
Compared with memory usage estimator, I think it would be better if MXNet can have a memory profiler.

[2019-05-06 08:57] songziqin opened #14892 "embedding_lookup_sparse(wide_w, ids, weights, combiner="sum") C++ api"
I have read the tensorflow phython code embedding_lookup_sparse(wide_w, ids, weights, combiner="sum") . and i wonder if there is the code for C++ api nn layer and implement the same function. thanks

[2019-05-06 10:50] ymjiang commented on #14485
@eric-haibin-lin For a very simplistic case with 1 worker (one 1080Ti GPU) & 1 PS and train VGG16 (batch size=32), I observe about 15-20% training speed improvement.

[2019-05-06 11:04] AnaRhisT94 commented on #14881
**Solved in ONNX==1.2.2**

[2019-05-06 11:04] #14881 closed

[2019-05-06 11:04] AnaRhisT94 commented on #14880
**Solved in ONNX==1.2.2**

[2019-05-06 11:04] #14880 closed

[2019-05-06 11:06] AnaRhisT94 commented on #14875
@ehsanmok mxnet isn't responsible for this error, it's only ONNX.
update your ONNX version, should work when ONNX==1.2.2

[2019-05-06 12:58] chinakook commented on #13925
These bar charts looks nice, but SRU need more layers to catch the accuracy of LSTM. In total, the speed would be nearly equalization because LSTM is rapidly developing in CUDNN.

[2019-05-06 17:42] ehsanmok commented on #14875
@AnaRhisT94 No, my ONNX is already the latest v1.5.0. It's when calling [export_model](https://mxnet.apache.org/api/python/contrib/onnx.html?highlight=onnx#module-mxnet.contrib.onnx.mx2onnx.export_model) causes that to happen. `int(None)` is never valid.

[2019-05-06 17:46] apeforest opened #14895 "[DOC] Build from source link for ubuntu is broken"
On this page: https://github.com/apache/incubator-mxnet/blob/master/docs/install/build_from_source.md

If click the ubuntu hyperlink, it is broken:
https://github.com/apache/incubator-mxnet/blob/master/docs/install/ubuntu_setup.html

[2019-05-06 18:14] #14075 closed

[2019-05-06 20:39] vrakesh commented on #14892
@songziqin Thanks for the question, @leleamol  requesting your input on this question.

@mxnet-label-bot  add [Question]

[2019-05-06 21:33] sandeep-krishnamurthy commented on #8646
Hello @xuzhm
Sorry for the delay in our response.
I ran a sample to verify the above behavior
[code]
Then compare the below:
1. End to end in single module
2. Individually calculate output of fc_0, ... fc_4 and then sum it to compare with above result

I find the results are same. And, I am using latest MXNet (1.5.0) got with `pip install mxnet-mkl --pre`

[2019-05-06 22:26] vrakesh commented on #14895
Looking into this, this seems to be true for all the links. since we convert our md docs to html for the docs website, looks like html links are hardcoded

[2019-05-06 23:27] AnaRhisT94 commented on #14875
Try to use ONNX 1.2.2

[2019-05-06 23:44] ehsanmok commented on #14875
Same error with ONNX 1.2.2

[2019-05-07 02:23] Marcovaldong commented on #14017
@szha  It should be
[code]

[2019-05-07 03:59] #14835 closed

[2019-05-07 04:03] arcadiaphy opened #14902 "flaky test: test_bilinear_resize_op"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14894/1/pipeline

@lobanov-m, perhaps there are some errors introduced in #13226?

[2019-05-07 04:07] szha commented on #14017
@Marcovaldong thanks, fixed.

[2019-05-07 04:16] arcadiaphy commented on #14718
another one:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-14894/1/pipeline

[2019-05-07 05:33] pengzhao-intel commented on #14858
Good catch and fixed now :)

[2019-05-07 05:33] #14858 closed

[2019-05-07 06:06] eric-haibin-lin commented on #14735
can you set update_on_kvstore=False when creating Trainer? I don't think you need to change the type of the kvstore to local

[2019-05-07 06:33] shuokay commented on #14735
@eric-haibin-lin I think distribute training need `update_on_kvstore=True`?

[2019-05-07 07:24] rrjia opened #14904 "libmxnet.so from pypi mxnet-mkl==1.4.0,segmentation fault 11"
when process 10 picture use cpu, for 1000 time ,libmxnet.so will segmentation fault 11random, but if i use libmxnet.so compiler from source,it will not meet this error, but the model's output is wrong, object detection result is empty.

Segmentation fault: 11

Stack trace returned 10 entries:
[bt] (0) /home/rrjia2/c++/plate_masic/engine/lib/libmxnet.so(+0x3f23c2) [0x7f12111273c2]
[bt] (1) /home/rr

[2019-05-07 07:29] pengzhao-intel commented on #14904
@William-jia Thanks to report the issue. could you provide a reproducible case?

[2019-05-07 07:50] zrss commented on #14742
anything new ? i encouter `Inconsistency detected by ld.so: dl-tls.c: 493: _dl_allocate_tls_init: Assertion `listp->slotinfo[cnt].gen <= GL(dl_tls_generation)' failed!` ...

[2019-05-07 08:42] androuino commented on #14756
Hi @lanking520 again. After pulling your changes for the fix of my issue, I tried it right away but am having now a strange error using the example of **ObjectDetection.java** class but I made some alteration to it to meet my requirements. Now it looks like this:
https://gist.github.com/androuino/7808b6fdf05e3122a03f35c63d3a5f89

I followed the step by step tutorial here https://github.com/apache/

[2019-05-07 10:34] William-jia commented on #14904
how i provide this reproducible case? provide my jni and .so file?

[2019-05-07 10:42] ammarRajabA commented on #621
Can anybody update us about this?

[2019-05-07 10:51] pengzhao-intel commented on #14904
What comment line and dataset is used?  Is your case from the MXNet example?

[2019-05-07 11:43] William-jia commented on #14904
train is success, when  deploy it with c++ code on cpu problem is come out., build with source  with cpp_package=1 use_mklnn=1, yolo can not get any result, but if use_mklnn=0, it works

[2019-05-07 11:58] pengzhao-intel commented on #14904
could you share your model to me? if it can't publish, please send mail to me patric.zhao@intel.com.

[2019-05-07 12:10] #12787 closed

[2019-05-07 15:19] mz24cn commented on #621
https://github.com/mz24cn/clnet

[2019-05-07 20:45] vrakesh commented on #14904
@mxnet-label-bot add [MKL]
@William-jia  One more question when you are compiling from source, which branch is used for compilation?? That could help us isolate the differences, between the wheel and the source.

[2019-05-07 20:45] vrakesh commented on #14904
@mxnet-label-bot add [Pending requester info]

[2019-05-08 00:19] androuino opened #14913 "Invalid output shapes"
Hi @lanking520. After pulling your changes for the fix (#14804) of my issue, I tried it right away but am having now a strange error using the example of **ObjectDetection.java** class but I made some alteration to it to meet my requirements. Now it looks like this:
https://gist.github.com/androuino/7808b6fdf05e3122a03f35c63d3a5f89

I followed the step by step tutorial here https://github.com/apac

[2019-05-08 00:25] lanking520 commented on #14913
Have you seen the same problem with Predictor API?
https://github.com/apache/incubator-mxnet/issues/14756#issuecomment-486769617
Try with this piece of code

[2019-05-08 00:38] androuino commented on #14913
Thanks for the response. It's working fine with **Predictor API**. I have an arrays of output **0's** and **1's** with length **512**. My question is, how would I apply the fix to Object Detection?

[2019-05-08 01:38] androuino commented on #14913
@lanking520 could you give me an example of **post processing tookit**? Thanks.

[2019-05-08 01:51] William-jia commented on #14904
由于对方服务器不稳定，或者双方服务器网络连接质量不佳，或者防火墙过滤，而无法连接上对方服务器。
Can not connect to recipient's server because of unstable network or firewall filter.

[2019-05-08 01:52] William-jia commented on #14904
1.4.0,today i compiler it with openblas and mklnn, ite success,but with atlas fail to detect object.

[2019-05-08 02:02] xinyu-intel commented on #14904
@William-jia You can upload them to a net driver and share a link to patric.zhao@intel.com

[2019-05-08 02:10] pengzhao-intel commented on #13720
https://github.com/apache/incubator-mxnet/pull/9552#issuecomment-390523747

Since there is no plan till now, closing this issue.
Welcome to file PR to fix related issues.

[2019-05-08 02:10] #13720 closed

[2019-05-08 05:25] kd97 opened #14915 "How to fix the model params"
After running the demo fine-tune.py,I watched the differences between my-model params file and pre-trained params file.It seemed all params have changed,I think the fine-tune way should fix some layers.So the params should almost be same. But the result showed it seemed not to work. Anyone can explain for me ? or I got a wrong result?

[2019-05-08 06:30] yifeim commented on #14888
@TaoLv This feature is more geared towards federated training, when some of the model shapes are inferred from the user-provided dataset. In this case, trying to utilize memory more efficiently, we have to understand how to set other parameters, e.g., batch_size, accordingly. Essentially, we aim to "try a larger input size" inside a script.

An example would be to fit [word_language_model](https:/

[2019-05-08 08:20] nicklhy opened #14916 "Failed to convert pytorch networks with "torch.view()" to mxnet with ONNX"
Hi, there!
It seems that the current mxnet could not convert basic CNN models like alexnet, resnet from pytorch simply because the shape in ONNX is defined as a Tensor rather than attribute (which is mentioned [here](https://github.com/apache/incubator-mxnet/issues/13395#issuecomment-443304545)).

Are there any specific plans of solving this problem ?

Notice that the error could even occur when i

[2019-05-08 09:34] Shicc commented on #13482
+1

[2019-05-08 11:24] arcadiaphy commented on #14852
Same here:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14886/6/pipeline

[2019-05-08 15:41] CynthiaProtector opened #14917 "Changing the learning rate affect the accuracy"
## Description
During the training process, I tried to change the learning rate to 0.0 after 200 steps, and I found that the accuracy experiences a dropoff. Why is that?

The following figure shows the training process of Lenet with the MNIST dataset. I use one server and one worker (two different nodes), and the worker contains 2 GPUs. I start the training task with the following command:

`pytho

[2019-05-08 16:50] lanking520 commented on #14913
I mean you may need to resolve your personal use cases. The predictor's result should bring you some bounding box probabilities and coordinates of the box in the image. To assist you better, I would like to know what does it mean to the output. If it is the same model, I remember there are three NDArrays output. What are they representing?

[2019-05-08 16:50] lobanov-m commented on #14902
I will check, thank you

[2019-05-08 16:59] stu1130 commented on #14725
Tested the same model with **CUDA 10.1** and got around 1027.52625 throughput which is similar to what we got 1005.25185 on CUDA 9.2

[2019-05-08 17:00] aaronmarkham commented on #14576
This is working for some people:
https://devtalk.nvidia.com/default/topic/1049293/jetson-nano/i-was-unable-to-compile-and-install-mxnet-on-the-jetson-nano-is-there-an-official-installation-tutorial-/post/5326119/#5326119

I also have WIP PR for the setup instructions here:
https://github.com/apache/incubator-mxnet/pull/14855

[2019-05-08 17:19] aaronmarkham opened #14918 "graphviz dependency"
## Description
We have various documents that have graphviz as a dependency for MXNet, both as a system package and a python package, and without a version number specified.

I recently ran into an issue on the nano while working on the instructions where trying to bind Python to the libmxnet.so binary, it failed because my graphviz version exceeded the [allowed range](https://github.com/apache/in

[2019-05-08 18:34] sandeep-krishnamurthy commented on #14777
Unable to reproduce.
[code]

[2019-05-08 18:46] sandeep-krishnamurthy commented on #13748
closing the issue as resolved. Please reopen if you see any further issue. Thanks wkcn@

[2019-05-08 18:46] #13748 closed

[2019-05-08 18:50] sandeep-krishnamurthy commented on #12984
Closing as the PR is now merged. Thanks haojin

[2019-05-08 18:50] #12984 closed

[2019-05-08 18:52] sandeep-krishnamurthy commented on #12970
Bilinear upsampling required kernel to be passed as input because it use deconvolution under the hood. Clarified the expectation in API documentation.
[code]

[2019-05-08 18:52] #12970 closed

[2019-05-08 22:14] vrakesh commented on #14915
@kd97 Thank you for the question, Can you elaborate more on the use, case what kind of Model is this , and what is the use case. If it is possible. to provide a sample reproducible script , that would help as well

@mxnet-label-bot  add [Question]

[2019-05-08 22:16] vrakesh commented on #14916
@mxnet-label-bot  add [ONNX]

@nicklhy Thanks for reporting this, we will look into this issue

[2019-05-08 22:22] vrakesh commented on #14650
@apepkuss Requesting an update on the use-case

[2019-05-08 22:29] leleamol commented on #7973
This doesn't seem to an issue anymore. I would recommend closing this issue.
@lanking520

[2019-05-08 22:32] lanking520 commented on #8646
@xuzhm close this issue for now since lacking response. Please feel free to reopen if the above solution doesn't help

[2019-05-08 22:32] #8646 closed

[2019-05-08 22:34] lanking520 commented on #7973
@junxigauss Please feel free to reopen this issue if problem persist. Close it for now

[2019-05-08 22:34] #7973 closed

[2019-05-08 22:35] lanking520 commented on #11962
@jiajinyu Close this issue due to lack of response. Please feel free to reopen it if problem persist.

[2019-05-08 22:35] #11962 closed

[2019-05-08 23:21] roywei commented on #14619
I'd like https://github.com/apache/incubator-mxnet/pull/14869 to go in, estimated time to complete 05/10

[2019-05-09 00:47] androuino commented on #14913
Thanks for the reply @lanking520, yes there are 3 outputs of NDArrays, actually yesterday, I've tried this in my code:
https://gist.github.com/androuino/f2250d2adae537ef2df1b8cea2190d5e

and it works fine with an output of:
[code]

Am thinking that maybe part of the code I used, I could pull the coordinates of the box in the image.

Yes there are 3 NDArrays output:
https://gist.github.com/androuin

[2019-05-09 00:58] zrss commented on #13301
thx for saving days for me

[2019-05-09 01:34] nicklhy commented on #14916
After a deeper look at the source code. I noticed the convert function for "reshape" tries to read the "shape" values from the graph params dict at [python/mxnet/contrib/onnx/onnx2mx/_op_translations.py#L462](https://github.com/apache/incubator-mxnet/blob/2e03e9ff07b4c34cd165071aeb785db14b965ade/python/mxnet/contrib/onnx/onnx2mx/_op_translations.py#L462).

[code]

However, the "shape" tensor in ON

[2019-05-09 01:35] zrss commented on #13301
hi @thomelane , i checkout the branch of `v1.2.1` and run

[code]

it still failed at

[code]

... do u have any idea to work around it ?

[2019-05-09 02:08] zrss commented on #12464
... oh, `v1.2.1` is left behind ... and it still turns out

[code]

[2019-05-09 02:14] eric-haibin-lin commented on #12464
@zrss try this fork:  https://github.com/eric-haibin-lin/tvm

[2019-05-09 02:20] zrss commented on #12464
@eric-haibin-lin , thx ~ i have tried, it works

post here for ref

[code]

[2019-05-09 03:03] diyang commented on #14008
I have the issue:

t```
rying URL 'https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/src/contrib/mxnet_1.3.0.tar.gz'
Warning in install.packages :
  cannot open URL 'https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/src/contrib/mxnet_1.3.0.tar.gz': HTTP status was '404 Not Found'
Error in download.file(url, destfile, method, mode = "wb", ...) :
  cannot open URL 'ht

[2019-05-09 04:03] diyang opened #14922 "Unable to install mxnet in R 3.6.0 MacOSX"
My R sessioninfo:
`R version 3.6.0 (2019-04-26)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Mojave 10.14.4

Matrix products: default
BLAS:   /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.6/Resources/lib/libRlapack.dylib

locale:
[1] en_AU.UTF-8/en_AU.UTF-8/en_A

[2019-05-09 08:23] pengzhao-intel commented on #13881
could you try the change of this PR #14877?

[2019-05-09 08:24] pengzhao-intel commented on #13881
@yinghu5 please help take a look :)

[2019-05-09 08:42] yinghu5 commented on #13881
@likangGit  @troore  the cmake build have issues. we try to fix them by #14877. I attach several files. you may try to copy them to corresponding folders and see if it can workaround.

[Mxnet_417.zip](https://github.com/apache/incubator-mxnet/files/3161092/Mxnet_417.zip)

[2019-05-09 08:46] Marcovaldong commented on #14796
That's because of there is no space in /dev/shm. The stituation will be normal after empty it.

[2019-05-09 08:46] #14796 closed

[2019-05-09 09:20] troore commented on #13881
@pengzhao-intel @yinghu5 Thanks for your quick response!
And I just tried your solution @yinghu5, the cmake works well. But after that, the ninja has errors related to mkl-dnn. I just post one of them:
`../include/mxnet././ndarray.h:710:51: error: expected ')' before 'mem_pd'`
`explicit NDArray(mkldnn::memory::primitive_desc mem_pd)`
`../include/mxnet/././ndarray.h:739:13: error: ‘primitive_desc’

[2019-05-09 10:04] suyz526 commented on #14712
works on Ubuntu 16.04, CUDA 10.1, CUDNN 7, mxnet 1.3.1

[2019-05-09 14:48] larroy commented on #11801
Is it failing? Why did it get reverted?

[2019-05-09 19:47] vrakesh commented on #14922
@mxnet-label-bot add [Installation, R]

[2019-05-09 19:57] vrakesh commented on #14917
@CynthiaProtector Thank you for , posting your query, this is a interesting find, not sure if this is expected behavior, will look into this

@mxnet-label-bot add [Question]

[2019-05-09 21:17] vrakesh commented on #14917
Hi @CynthiaProtector turns out this is expected behavior,  once learning rate is set to zero , the training essentially starts, running training on the next batch of data with learning rate set to zero basically means you are being shown test accuracy rather than training accuracy.

I would suggest a non zero small amount of decay instead, to see if that helps.

But setting learning rate to zero e

[2019-05-09 23:39] stu1130 commented on #14652
Here are what I found
1. The unit test failed on cuDNN 7.5.0 & 7.5.1 but work perfect on 7.4.2 & 7.3.1. And using Tesla V100 will resolve this problem i.e. work fine on cuDNN 7.3.1 & 7.5.0 & 7.5.1.
2. The function that causes the error is `cudnnGetRNNWorkspaceSize` in here
https://github.com/apache/incubator-mxnet/blob/874fb89cd33b0e4affd7f3fb1b4ae4e09f25ef84/src/operator/rnn-inl.h#L1369
3. I trie

[2019-05-10 00:06] marcoabreu commented on #14918
Test

[2019-05-10 01:41] caocao1989 commented on #9686
2. Refactor of the C++ package
I hope that the syntax of the C++ package is the same as that of the Python package, and it will be more friendly for C++ users.

just like pytorch vs libtorch

[2019-05-10 07:54] arcadiaphy commented on #14360
@zboldyga How about your work on implementing maxtrix operation?
I've looked at the source of pytorch, the matrix inversion is implemented using LU factorization (GETRI in lapack). Not very sure if it's more efficient than Cholesky factorization?
Also, do you plan to introduce MAGMA to mxnet?

[2019-05-11 03:24] chinakook opened #14930 "[Feature Request] Coordinator like tensorflow.train.Coordinator"
In MXNet, using Ctrl-C to stop a training process sometimes may cause deadlock and sometimes cannot clear all related resources.
Using Coordinator, we can conveniently use Ctrl-C to stop a training process and all related processes , also clear all related resources.

[2019-05-11 08:35] William-jia commented on #14904
链接：https://pan.baidu.com/s/18vPez3USPGhRNi5EUN_CkA
提取码：ne8a
模型用于车牌检测

[2019-05-11 08:35] William-jia commented on #14904
链接：https://pan.baidu.com/s/18vPez3USPGhRNi5EUN_CkA
提取码：ne8a

[2019-05-11 09:23] guoguoguilai opened #14932 "How to implement wingloss with mxnet?"
How to implement wingloss with mxnet?

[2019-05-11 16:07] scotty3005 commented on #14863
update: running the same code for about a week, with the same data and the error it has not appeared anymore.

[2019-05-11 16:19] scotty3005 opened #14933 "predict error in MXFeedForwardModel"
## Description
Trying to get predictions for a simple regression model I geet the error posted in the relative section. I am working with R on ArchLinux.

## Environment info (Required)
R version 3.5.3 (2019-03-11)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Arch Linux

Matrix products: default
BLAS: /usr/lib/libopenblasp-r0.3.5.so
LAPACK: /usr/lib/liblapack.so.3.8.0

locale:
 [1] LC_CTY

[2019-05-12 07:35] Aktcob opened #14934 "Compile on NVIDIA nano platform"
can not compile mxnet on NVIDIA nano.
broadcast_reduce_op_value_gpu.o failed

[2019-05-12 18:25] vrakesh commented on #14930
@mxnet-label-bot add [Feature Request]

[2019-05-12 18:27] vrakesh commented on #14932
@guoguoguilai Thank you for question, have you looked into creating custom operators??

https://mxnet.incubator.apache.org/versions/master/faq/new_op.html

Hope this helps

@mxnet-label-bot  add [Question]

[2019-05-12 18:28] vrakesh commented on #14933
@mxnet-label-bot  add [R]

[2019-05-12 18:29] vrakesh commented on #14934
@Aktcob , Thank you opening the issue, could you provide more details on the compilation, including build settings, and flags used? That would greatly help us looking into it

@mxnet-label-bot add [NVIDIA, Pending requester info]

[2019-05-12 18:31] vrakesh commented on #14917
@mxnet-label-bot add [Pending Requester Info]

[2019-05-12 23:26] mjwall opened #14936 "Create a make target to run Apache Rat checks"
## Description
Need a make target to run Apache Rat to facilitate running it and get some consistency between runs from different people.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
None, working with the 1.4.1-rc0 src artifact

## Build info (Required if built from source)

See diagnostics above

MXNet commit hash:
https://github.com/apache/incubator-mxnet/tree/1

[2019-05-12 23:33] mjwall opened #14937 "Build failed on 1.4.1-rc0 with no openCV"
## Description
Got a failure running `make` from the extracted 1.4.1-rc0 src artifact.  I have never built this before, so it is possible it is something specific to my environment but I wanted to capture a ticket just in case.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Non

## Build info (Required if built from source)
See diagnostics above

MXNet commit hash:
h

[2019-05-13 02:56] NRauschmayr opened #14938 "Performance issue when use_bias=True"
## Description
I implemented a neural network that mainly consists of many Dense layers. The same network implemented in Pytorch runs significantly faster: 40s instead of 120s per epoch in MXNet. By setting use_bias=False in the Dense layers I got a significant performance speedup 35s instead of 120s per epoch. In the Pytorch implementation bias=True or False does not result in any significant per

[2019-05-13 04:08] yljylj commented on #14904
How do you deploy it with c++? It seems that you used Java. And did you get the problem when testing?

[2019-05-13 06:00] szha commented on #14937
Hi. You can use `make USE_OPENCV=0` to disable opencv related features when you don’t have opencv in your system.

[2019-05-13 06:28] szha commented on #14937
https://mxnet.apache.org/versions/master/install/build_from_source.html#build-configurations

[2019-05-13 06:28] #14937 closed

[2019-05-13 08:24] William-jia commented on #14904
use c_predict_api deploy with libmxnet.so, package with JNI Provided to the Java web

[2019-05-13 12:15] jens-maus commented on #5296
@jeremiedb I just encountered the same issue here with using the R package and multiple GPU training: The training broke with:

[code]

However, forcing the kvstore to `local_allreduce_device` seem to have resolved the issue. Is there anything that I should be concerned of or does the R-package still lack some fixes to work with the default `local_update_cpu`?

[2019-05-13 14:06] mjwall commented on #14937
Thanks @szha, since OpenCV is optional, I assumed the USE_OPENCV=0 was default.  I figured it was something with my environment though since others are able to build.  I realize too most people will have OpenCV installed.

Does it suprise you that the build ran for 15 min before throwing that error?  I guess I was expecting the build script to fail fast if it was misconfigured.

[2019-05-13 14:08] chinakook commented on #14938
The torch.nn.Linear layer does not have ```flatten``` and ```activation``` argument, please check again to be sure your MXNet implementation and pytorch one are all the same.

[2019-05-13 17:24] vandanavk commented on #14345
@mxnet-label-bot add [Pending Requester Info]

[2019-05-13 17:32] NRauschmayr commented on #14938
Thanks for your reply. Yes `Linear` does not have `flatten` nor `activation`. However, the model itself performs the same sequence  of operations. Is it expected to get such a performance speedup in MXNet when setting `use_bias=False`?

[2019-05-13 17:32] vandanavk commented on #14875
@mxnet-label-bot add [Bug]

@ehsanmok I'm looking into this

[2019-05-13 17:58] szha commented on #14937
@mjwall agreed that it shouldn't be like that. In general we are moving towards cmake which should be able to fail fast in this case, and we will likely unify the solution and deprecate makefile at some point.

[2019-05-13 20:03] jschmitz28 opened #14939 "MXNet silently produces bad results (all zeroes) when allocating NDArray larger than 2^32 in size via random_normal"
## Description
MXNet silently produces bad results (all zeroes) when allocating NDArray larger than 2^32 in size via random_normal().

## Environment info (Required)
Base deep learning AMI on AWS: ami-01ac4e28da63bac3c
[ec2-user@ip-10-2-68-132 ~]$ source activate mxnet_p36
(mxnet_p36) [ec2-user@ip-10-2-68-132 ~]$ python diagnose.py
----------Python Info----------
Version      : 3.6.5
Compiler

[2019-05-13 20:52] jschmitz28 commented on #14939
Looks like a dupe of https://github.com/apache/incubator-mxnet/issues/13036

[2019-05-13 20:52] #14939 closed

[2019-05-13 20:54] vdantu commented on #14938
@mxnet-label-bot add [question, gluon]

[2019-05-13 20:57] vdantu commented on #14938
@mxnet-label-bot update [question]

[2019-05-14 01:21] yljylj commented on #14904
Could you please provide the JNI code? You can send a mail to me [lujia.yin@intel.com](url).

[2019-05-14 02:57] xiaodao2049 opened #14941 "convolution layer when cudnn_off = False will cause random result"
Hi,every one,
I'm training a net in which some layers are convolution layer, and I set a random seed, but when the
cudnn_off = False the result will be random, and if True, the result is reproduceable.

[2019-05-14 03:27] achalddave commented on #10174
For what it's worth, I was able to fix this by following the instructions here: https://gist.github.com/myusuf3/7f645819ded92bda6677 (replicated below):

- Delete the relevant section from the .gitmodules file.
- Stage the .gitmodules changes git add .gitmodules
- Delete the relevant section from .git/config.
- Run git rm --cached path_to_submodule (no trailing slash).
- Run rm -rf .git/modules/pa

[2019-05-14 09:16] lichun-wang commented on #14643
this error was caused by context. export_block has a parameter called ctx, by default, ctx = cpu(0), so if your model is on gpu, this error will occur,  when you code as follow , that will be right:

export_block('model-name', net, ctx=mx.gpu(0) )

[2019-05-14 11:39] feixiangdekaka commented on #14751
raise MXNetError(py_str(_LIB.MXGetLastError()))
mxnet.base.MXNetError: [19:37:35] include/mxnet/tuple.h:202: Check failed: i >= 0 && i < ndim(): index = 0 must be in range [0, -1)

[2019-05-14 11:41] goravkaul commented on #14672
Hi, Any update on when early stopping functionality will be available in Mxnet python?

[2019-05-14 16:40] piyushghai commented on #14672
@roywei is currently working on this :)
Here's a PR that you can track for this : https://github.com/apache/incubator-mxnet/pull/14629/files

[2019-05-14 17:02] vdantu commented on #14941
@xiaodao2049 : I think the reason is that there are multiple implementations of convolution when using cundd  and cudnn chooses the best algorithm based on your available system resources at runtime. You could try using "MXNET_ENFORCE_DETERMINISM" (Refer [this PR](https://github.com/apache/incubator-mxnet/pull/12992) for full context) and see if this helps. If not you could turn off autotune by se

[2019-05-14 17:03] vdantu commented on #14941
@mxnet-label-bot update [question]

[2019-05-14 17:06] stu1130 commented on #14838
I built from source with latest master with CUDA 10.1 & cuDNN 7.5.1, ran twice and got 4992, 5067 respectively

[2019-05-14 18:15] tomoncle opened #14943 "share java samples of mxnet"
used springboot to realize a real-time detection function of uploaded pictures based on SSD model. I hope it can be shared with the sample program of this warehouse, If permitted, I will sort out the submission as soon as possible.

Project demo : https://github.com/tomoncle/mxnet-spring-samples

[2019-05-14 21:57] larroy commented on #14866
`apt install -y maven openjdk-8-jdk`
I had to do:

`update-alternatives --config java`  and choose jdk-8 as default, otherwise maven uses jdk-11.

Also the lib is being picked up from lib/ we usually build on "build" in CMake.  With those changes it worked.

[2019-05-14 21:57] #14866 closed

[2019-05-14 22:05] larroy commented on #14755
@TaoLv can you add -std=c++11  as in the lines below?

[2019-05-14 22:06] larroy commented on #14755
better to replace c++0x to c++11

[2019-05-15 00:20] aaronmarkham commented on #14802
Closing this as we have notifications in the docs about limitations for mac/gpu and how to install MXNet if you have a GPU.
Please feel free to reopen if you have suggestions for more places it should be mentioned.

[2019-05-15 00:20] #14802 closed

[2019-05-15 00:30] stu1130 commented on #14619
Dependency Updates PR
#14950 Update CI to use latest cuDNN & fix the ARCH_MISMATCH error on m60 gpu
#14887 CUDA 10.1 PyPi script
#14588 Update the numpy version

[2019-05-15 01:25] anujgupta82 commented on #6614
@patriciaaa82 : I am looking for the exact same thing
Did you get the answer?

[2019-05-15 01:58] Jessespace opened #14953 "Questions about installing mxnet and gluoncv on nvidia jetson tx2"
1. I tried the mxnet official website to use the source installation steps, failed after many attempts.
2. Use sudo pip install mxnet-jetson to install successfully, but the latest version is 1.2.1, and gluoncv requires mxnet version to be at least 1.3.0 (otherwise when importing gluoncv error)
How do I upgrade the mxnet version on jetson to 1.3.0 or higher?

[2019-05-15 02:18] DickJC123 opened #14954 "broadcast_to() behavior change after new 0D and uninitialized shape support added?"
The documentation for broadcast_to(..., shape=<output_shape>,...) suggests that '0' can appear as a placeholder that means 'keep the same dimension as the input' for the given dimension.  However, the C++ code requires -1 for this.  Which is correct?  Are we changing the behavior?  @reminisce @KellenSunderland

Documentation:
[code]
But in the C++ code, we have:

https://github.com/apache/incubato

[2019-05-15 04:01] goravkaul commented on #14672
Thanks.

[2019-05-15 04:03] reminisce commented on #14954
Thanks for reporting this. That was changed by mistake. I will revert this change for `broadcast_to` and add a unit test for it.

[2019-05-15 04:03] PistonY opened #14955 "[Feature request]Calculate network calculations tools for Gluon."
Now gluon has a `summary` function for calculate total params for a network but don't have a tool for calculate network FLOPs(G).

Why needed this?
 - Model FLOPs could straightly measure a network inference speed.
 - Research needed.
 - Some of ops are widely used in many networks like conv, pooling, fc, bn
, relu, softmax.
 - Some of ops are looping many times and have different shape of feature

[2019-05-15 05:56] pengzhao-intel commented on #14955
The Gflops is related to what kind of implementation is used and whether other optimization skills are applied.

For example, the computation of direct, GEMM-based and Winograd convolution is really different. And if the convolution is fused with BN/Relu/Sum, the calculation is also changed.

If you only care about how much OPs (Add, Mul, FMA) in the network at the runtime, I suggest to get it by

[2019-05-15 05:59] pengzhao-intel commented on #14955
@sandeep-krishnamurthy 's proposal maybe can cover your request with further improvements.
https://cwiki.apache.org/confluence/display/MXNET/MXNet+Operator+Benchmarks

[2019-05-15 06:11] xiaodao2049 commented on #14941
@vdantu thanks for your reply. I have tried both solution you mentioned,MXNET_ENFORCE_DETERMINISM doesn't work, maybe my mx version is too old. Setting "MXNET_CUDNN_AUTOTUNE_DEFAULT" to 0 thrown an std::bad_alloc error. I will upgrade my mxnet and try the first solution again.

[2019-05-15 06:19] PistonY commented on #14955
@pengzhao-intel I mean GFLOPs is not consider special further improvements.It's just standard calculated amount.
For example, a Conv2d flops should be defined as:
[code]

[2019-05-15 06:45] ksellesk opened #14956 "mxnet.image.imread can not correctly read jpg with orientation"
See also:
https://github.com/apache/incubator-mxnet/issues/13216

This is a bug must be fixed since many jpegs has orientation.

People believe that mxnet will do right thing but waste time for debugging other thing.

[2019-05-15 06:47] ksellesk commented on #14956
![IMG_2058](https://user-images.githubusercontent.com/9996886/57754105-47df8300-7720-11e9-94f0-7d9f1ec8766d.JPG)

Such as this pic

[2019-05-15 07:25] pdx1989 opened #14957 "[Bug] ValueError: There are multiple outputs with name "resnetv1b_layers4_conv0_fwd_output""
Minimum reproducible example:
import gluoncv
import mxnet as mx

data = mx.sym.var(name="data")
net = gluoncv.model_zoo.mask_rcnn_resnet50_v1b_coco(pretrained=False)
net.initialize()
sym = net(data)
sym_block = mx.gluon.nn.SymbolBlock(sym, [data])

Error:
Traceback (most recent call last):
  File "case.py", line 8, in <module>
    sym_block = mx.gluon.nn.SymbolBlock(sym, [data])
  File "/newhome/d

[2019-05-15 07:55] haojin2 commented on #11283
Implementation in #14959, almost done, just gradient of data still has some work to be done.

[2019-05-15 08:02] TaoLv commented on #14730
Closed via #14806.

[2019-05-15 08:02] #14730 closed

[2019-05-15 08:41] haojin2 opened #14961 "CI Build Failures: unix-gpu TensorRT"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14959/2/pipeline.
TensorRT build fails with:
[code]

[2019-05-15 08:42] haojin2 commented on #14961
@marcoabreu @Chancebair Any pointers to who might solve this issue? Thanks!

[2019-05-15 08:49] perdasilva commented on #14961
I'm looking into it - I've created a PR to disabled it for the time being. I think I've also figured out the issue. Testing the fix in a different PR.

[2019-05-15 10:26] mouryarishik commented on #14619
I desperately need higher order differentiation. Plz make it possible. Thanks to everyone for all your contribution so far.

[2019-05-15 11:21] arcadiaphy opened #14962 "Improve linear algebra functions"
One of my projects needs to do matrix inversion which is not very accurate and convenient to do with Cholesky factorization, so I decided to implement myself and improve the linalg package in the same time. New operators to add:

| operator | function                               | progress |
|----------|----------------------------------------|----------|
| inverse  | matrix inversion

[2019-05-15 13:07] AnaRhisT94 commented on #14875
I see, well just delete the None then?

[2019-05-15 15:34] perdasilva commented on #14961
Those stages have been temporarily disabled. So, CI should be unblocked now.
I've posted a PR with a fix. Just waiting for it to get merged.

[2019-05-15 17:26] DickJC123 commented on #14954
Thank you for fixing this!  Some additional suggestions:
- If you allow both 0 and -1 for the output dimension 'wildcard', you probably should update the documentation to reflect this.  Going forward, would you suggest people to use -1 in the shape, with the use of 0 being deprecated?
- As you noticed, there's no unit test for this case.  It was a number of the Sockeye unit tests that flushed out

[2019-05-15 18:41] reminisce commented on #14954
@DickJC123 Could you point me to the sockeye's specific failing test? Thanks.

[2019-05-15 19:18] sandeep-krishnamurthy commented on #14955
Thanks this will be very useful.

Currently, I am working on per operator profiling to capture forward time, backward time, max memory allocated in phase 1 of my work. And, these uses different input shapes and option for each operator.

Intention of this work is - to catch any performance regression at operator level, ability identify hot computation paths in operator kernel for certain input sha

[2019-05-15 19:23] #14803 closed

[2019-05-15 19:57] ehsanmok commented on #14875
@vandanavk here is an MVE

[code]

[2019-05-15 20:04] DickJC123 commented on #14954
I've been running in the top-level sockeye directory `python setup.py test`.  I saw 22 unit tests fail.  After changing line 392 in the above-posted snippet to:
[code]
I'm down to 5 tests failing.  I assume you're asking about these 5? They are:
[code]
In each case the error is a device_type == 0 (neither cpu nor gpu) on a read-in NDArray.  It's reading in a file that has neither of the 2 magic nu

[2019-05-15 20:39] mseth10 commented on #14447
@anirudhacharya , which MXNet version are you using? In case you are using master, can you specify the build flags?

[2019-05-15 20:56] anirudhacharya commented on #14447
fyi, PR #14582 is trying to solve this issue.

I used the latest master, cannot recollect the compile flags i had used back then. But this error is reproducible even with the latest PyPi package.

[2019-05-15 22:18] mjwall commented on #14937
awesome, thanks @szha.  Is there a ticket for the cmake stuff I can follow?

[2019-05-15 23:54] vdantu commented on #14962
@mxnet-label-bot add [Feature Request]

[2019-05-15 23:56] vdantu commented on #14943
@mxnet-label-bot add [question]
@lanking520 @frankfliu : Would you be able to take a look at this?

[2019-05-15 23:59] vdantu commented on #14957
@mxnet-label-bot add [bug, question]

[2019-05-16 00:01] vdantu commented on #14956
@mxnet-label-bot add [question, bug]

[2019-05-16 00:03] vdantu commented on #14953
@mxnet-label-bot add [question, build]
@Jessespace : Could you please share the errors you faced when trying to compile from source?
@KellenSunderland : Would you be able to provide a context on mxnet-jetson package and its upgrade time frames?

[2019-05-16 00:07] DickJC123 commented on #14954
The 5 tests that fail do so because the test is trying to save and restore a 2D NDArray with a 0 size for one of the dimensions.  I have not played with numpy compatibility modes for the tests, but in each case the last 3 of the following code lines is causing problems by converting for example (0,1) -> (-1,1):
https://github.com/apache/incubator-mxnet/blob/c5265fbf635965b5124df2d7dcea1b57c6508b73

[2019-05-16 01:01] mseth10 commented on #14721
@iaroslav-ai , I tried reproducing the error, but wasn't able to. I ran the code given by you 10,000 times and it produces the same `L` every iteration. Also, I checked the code for `potrf` and found that the implementation does not involve a random generator, so having the same output is expected.

I am using the same version of MXNet and ran the code on CPU. Are you using GPU?

Code used (with s

[2019-05-16 02:03] PistonY commented on #14955
@sandeep-krishnamurthy It's pleasure this may help you, but I just want a static analysis as I reply to pengzhao-intel, that's not complicated as you do.
The static analysis could help you evaluate network computing in the most fair way.

[2019-05-16 03:43] cloudhan commented on #9686
The CMake for all DMLC projects needs a throughout refactor. It is simply a disaster when integrating with dmlc-core, xgboost, mxnet, etc. Some of them do not have install. None of them export targets, IIRC. This results in the users of these packages being responsible for maintaining the compiler definition and linking dependencies, which should not be the case.

Should bump the cmake_minimum_req

[2019-05-16 03:57] hcho3 commented on #9686
@cloudhan The latest version of dmlc-core exports a CMake target. See https://github.com/dmlc/dmlc-core/blob/master/doc/build.md

[2019-05-16 05:39] aashudwivedi opened #14967 "R installaation is broken"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-05-16 07:09] kevinVegBird opened #14968 "performance improvement compare to mxnet1.3.0"
we know that the mxnet 1.4.0 performance of training is better than mxnet 1.3.0,after my testing the speed of training is faster than mxnet 1.3.0 very much.I want to know which part is critical for the speed improvement?thank you.
Labels:performance

[2019-05-16 07:25] perdasilva commented on #13915
and another: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/master/619/pipeline

Creating PR to disable until a fix can be provided.

[2019-05-16 07:30] pengzhao-intel commented on #14968
Could you do profiling for your cases so it will be clear which parts are accelerated?

[2019-05-16 07:36] perdasilva opened #14970 "[Flaky Test] test_bulking"
## Description

test_gluon_gpu.test_bulking and test_operator_gpu.test_bulking are failing for the `Python3: MKLDNN_GPU` step of the `unix-gpu` pipeline.

See http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/master/628/pipeline for more details.

[2019-05-16 07:58] bricksdont commented on #14664
Same problem here. Any updates on this?

[2019-05-16 08:01] perdasilva commented on #12903
Just saw this pop-up again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/v1.4.x/161/pipeline

[2019-05-16 08:13] Jessespace commented on #14953
My device is **nvidia jetson tx2**
1. I followed the steps of [the official website](http://mxnet.incubator.apache.org/versions/master/install/index.html?platform=Devices&language=Python&processor=CPU), failed. ( Sorry, I didn't record the errors. )
2. I referenced [here](https://devtalk.nvidia.com/default/topic/1049293/jetson-nano/i-was-unable-to-compile-and-install-mxnet-on-the-jetson-nano-is-th

[2019-05-16 08:51] weihua04 commented on #13949
@vandanavk , i have the same problem with you: "KeyError: 'concat0'", and i test many onnx model which  export from pytorch,  Does the problem have any solution ,

thank u

[2019-05-16 09:13] XiaXuehai commented on #14514
I got the same error.I installed mxnet:`pip install mxnet-cu100`.
It runs well in terminal,but got the error in pycharm when` import mxnet as nx`

[2019-05-16 10:00] Charles-Schleich opened #14972 "mxnet-cu100 vs mxnet-cu100mkl vs mxnet"
I'm a bit confused as to which packages i need and the benefits of one vs the others.

Currently i have mxnet 1.4.1 installed and the project i have runs fine on a CPU,
I'm using a machine with a GPU that has NVIDIA 418.40.04 drivers and CUDA 10.1  installed.
So ideally id like to use that.

Do i need both mxnet in addition to mxnet-cu100/mkl installed ?
What are the differences mxnet-cu100 vs mxn

[2019-05-16 13:50] pengzhao-intel commented on #14972
It's a good question.
`mxnet-cuXX` with cuDNN acceleration, good performance on GPU
`mxnet-cuXXmkl` with both cuDNN and MKL-DNN library acceleration, good performance on both CPU and GPU.

http://mxnet.incubator.apache.org/versions/master/install/index.html?platform=Linux&language=Python&processor=CPU

[2019-05-16 16:36] roywei commented on #14619
@mouryarishik @jmacglashan Hi, about higher order gradients, @apeforest and @larroy  are actively working on this and will be first available in the master branch and nightly pip install packages. Unfortunately, it won't make it to 1.5.0 as we plan to release soon. Stay tuned, thanks!

[2019-05-16 18:21] Ishitori commented on #14938
There is definitely something strange going on. I didn't touch PyTorch, and I think we can just stay with MXNet to see something weird going on.

I took @NRauschmayr code and made it to print out metrics for various values of `flatten`, `use_bias` and context. Here is the code:

[code]

The result I receive is on a P3 instance:

[code]

As I can see from this output, backward time for the case `Fl

[2019-05-16 18:40] vdantu commented on #14970
@mxnet-label-bot add [flaky, test]

[2019-05-16 18:42] vdantu commented on #14967
@mxnet-label-bot add [installation, R, Question]
@anirudhacharya : Would you be able to help here?

[2019-05-16 20:23] dmidge8 opened #14975 "Mxnet doesn't reclaim the memory once there is a cudaMalloc fail"
## Description
When there is a training leading to a GPU memory error (e.g. the batch size is too high), no following training  can train, even with a normal amount of memory (e.g. a corrected batch size), when it is done in the same process.

## Details
When there is a training, the memory is allocated and used as necessary. Once it is the time of freeing, the memory remains allocated but is tran

[2019-05-16 20:59] apeforest opened #14976 "[DOC] MXNet build from source instruction for ubuntu is not working for GPU"
## Description
If I follow the instruction from https://github.com/apache/incubator-mxnet/blob/master/docs/install/ubuntu_setup.md

[code]

The build on GPU (p3.2xlarge) could never finish and I got the following output with no clear message:

[code]

[2019-05-16 21:34] larroy commented on #14976
Can you paste `lsb_release -a` to see ubuntu version?

[2019-05-16 21:45] larroy commented on #14976
For me it works fine:

[code]

[2019-05-16 21:45] larroy commented on #14976
Executed the same commands you did. Im at:

d87bd2aba1043d1f3c9e998d6ecd4bee2e342bae

[2019-05-16 21:51] aaronmarkham commented on #9686
I'd like to see mobile device support. Pre-built binaries that developers can use for Android development. And iOS.

[2019-05-16 21:52] aaronmarkham commented on #14619
Should we formally deprecate amalgamation as all it does is lead people down a dead end?

[2019-05-16 22:15] stu1130 commented on #14725
After sync up with Nvidia, the solution is to either upgrade to CUDA 10.1 or downgrade to CUDA 9.2.

[2019-05-16 22:15] #14725 closed

[2019-05-17 01:06] NeoZhangJianyu commented on #14670
@larroy This issue has been fixed totally by https://github.com/apache/incubator-mxnet/pull/14877.
You could try in latest master branch.

[2019-05-17 03:05] mseth10 commented on #14712
minimum cuDNN version required to support CUDA 10 is 7.3.1
@PistonY can you please check your cuDNN version?

[2019-05-17 03:30] szha commented on #14619
@aaronmarkham is it broken?

[2019-05-17 03:57] NeoZhangJianyu commented on #14335
@dbsxdbsx  This issue has been fixed totally by #14877.
You could try in latest master branch.

[2019-05-17 03:59] NeoZhangJianyu commented on #14203
@stereomatchingkiss This issue has been fixed totally by #14877.
You could try in latest master branch.

[2019-05-17 03:59] NeoZhangJianyu commented on #14085
@stsukrov This issue has been fixed totally by #14877.
You could try in latest master branch.

[2019-05-17 08:11] haojin2 opened #14978 "Flaky Test: test_tensorrt_lenet5.test_tensorrt_inference"
Happening for 2 independent PRs.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14959/9/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14830/19/pipeline

[2019-05-17 08:24] fierceX opened #14979 "[BUG] Using a package with MKL and GPU versions, using python to open a new process will cause an error"
Hardware and version information:

----------Python Info----------
Version      : 3.6.8
Compiler     : GCC 7.3.0
Build        : ('default', 'Dec 30 2018 01:22:34')
Arch         : ('64bit', '')
------------Pip Info-----------
Version      : 19.1.1
Directory    : /home/bird/miniconda3/envs/test/lib/python3.6/site-packages/pip
----------MXNet Info-----------
Version      : 1.4.1
Directory    : /home/

[2019-05-17 08:30] mseth10 commented on #14957
@mxnet-label-bot add [Gluon]

[2019-05-17 08:32] mseth10 commented on #14957
[code]
After running the above code snippet, if we take a look at `sym`, we see that:
[code]
`sym` is a tuple of 4 symbols that share the same internal nodes. Hence, we cannot use these symbols in the same block. We can use them individually though:
[code]

@pdx1989 Hope this answers your question.

[2019-05-17 08:48] TaoLv commented on #14979
@fierceX I'm not sure and don't know why but can you try the magic below? ;)
[code]

[2019-05-17 08:59] fierceX commented on #14979
@TaoLv Yes, this will not go wrong, but this should be a bug. What is the specific reason?

[2019-05-17 13:28] perdasilva opened #14980 "["
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-05-17 13:32] perdasilva opened #14981 "[CI][NightlyTestsForBinaries] Test Large Tensor: GPU Failing"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-05-17 13:48] matteosal opened #14983 "Bug with arange inside a foreach"
[symbol.zip](https://github.com/apache/incubator-mxnet/files/3191699/symbol.zip)

Download+extract the attached json and run this script:

[code]

It fails with the following error:
[code]

This example stopped working at this commit: https://github.com/apache/incubator-mxnet/commit/83d2c2d0e0edeb7d85471437601efcf8bebf070e

Before that, it was producing the expected result:
[code]

@sbodenstein

[2019-05-17 16:11] stephenrawls opened #14985 "Add FusedParam Support for Gluon LSTMs"
This is a feature request to have the Gluon LSTM operator use FusedParams for LSTMs and RNNs.

Here is the inference latency for the LSTM operator from the MKLDNN PR branch for a 1 layer 300dim lstm:
[code]
As you can see a lot of overhead is spent concat'ing and reshaping individual params together into a fused param. Would be faster to just use fused params from the beginning.

[2019-05-17 21:03] larroy commented on #14670
Works nicely now, tested with MKL, no mkl and MKLDNN...   thanks guys.

[2019-05-17 21:03] #14670 closed

[2019-05-17 22:04] larroy commented on #9686
I would like to refactor the operator graph and have it in the MXNet codebase, tracking this proposal in the wiki:  https://cwiki.apache.org/confluence/display/MXNET/MXVM%3A+Operator+graph+2.0

[2019-05-18 02:02] asitstands commented on #14978
Another failure is here. http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-10951/33/pipeline

[2019-05-18 02:22] szha commented on #14937
https://github.com/apache/incubator-mxnet/issues/8702

[2019-05-18 02:22] larroy opened #14991 "Second order gradient wrt inputs, expected behaviour."
What would be the expected behaviour of this code?

It tries to calculate the gradient of a function using the gradient wrt of the inputs of the first gradient.

[code]

[2019-05-18 06:03] junrushao1994 commented on #14983
Thanks for raising this! I am not super familiar with the arange operator, but through the error message, I saw its attributes like "start = 0, infer_range = true". I got a little bit confused so would love to confirm with you...Is it indicating that it is trying to generate [0, 0)?

Thank you so much!

[2019-05-18 07:00] asitstands commented on #14970
Another failure `test_bulking` is here. http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-10951/34/pipeline

[2019-05-18 08:46] dbsxdbsx commented on #14335
@NeoZhangJianyu ,thanks.

[2019-05-18 10:20] kshitij12345 commented on #14698
I was planning to try this one. But I am a bit confused looking at the example output.

Running this,
[code]
Copied from https://mxnet.incubator.apache.org/api/python/tools/visualization.html#mxnet.visualization.plot_network

The output I get is,
![graph](https://user-images.githubusercontent.com/19503980/57968125-1f57c300-7984-11e9-8a73-3a2b5562c189.png)

which I believe is the expected behaviour

[2019-05-18 10:23] matteosal commented on #14983
No, it means it is inferring the end of the interval from its output size, that is the input size of the node it's attached to: operator `elemwise_add` named `.Parameters.Net.Nodes.2$8`. So `arange` should generate [0, n), where n is the input length of `.Parameters.Net.Nodes.2$8`.
That should, in turn, infer its input shape from the output of the `broadcast_like` op named `.Parameters.Net.Nodes.2

[2019-05-18 15:25] zhouhang95 opened #14993 "The discription of function mxnet.image.imresize is wrong."
I find it wrong when I also write my psnr code.

'''
        2: Area-based (resampling using pixel area relation). It may be a
        preferred method for image decimation, as it gives moire-free
        results. But when the image is zoomed, it is similar to the Nearest
        Neighbors method. (used by default).
        3: Bicubic interpolation over 4x4 pixel neighborhood.
'''
should be
'''

[2019-05-18 17:53] eric-haibin-lin opened #14994 "Flaky test: test_lstm_clip"
test_gluon_gpu.test_lstm_clip
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14935/6/pipeline

https://github.com/apache/incubator-mxnet/pull/14935/files

[2019-05-18 18:09] eric-haibin-lin commented on #14718
Another one: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14683/5/pipeline

[2019-05-18 18:27] eric-haibin-lin commented on #14735
Both should work after this PR: https://github.com/apache/incubator-mxnet/commit/63ed258063137421e6d4def30435014ab57fb468

[2019-05-19 05:53] junrushao1994 commented on #14983
I see. A known limitation for dynamic shape operators is that it does not support reverse shape inference, and control flow operators are now assumed to be dynamic shape operators.

[2019-05-19 06:20] vdantu commented on #14979
@mxnet-label-bot [question, MKL]

[2019-05-19 06:51] vdantu commented on #14980
@mxnet-label-bot add [test]
@apeforest : Would you be able to help out here?

[2019-05-19 06:52] vdantu commented on #14981
@mxnet-label-bot add [test]
@apeforest

[2019-05-19 06:52] vdantu commented on #14985
@mxnet-label-bot add [feature request, gluon]

[2019-05-19 06:53] vdantu commented on #14991
@mxnet-label-bot add [question]

[2019-05-19 06:55] vdantu commented on #14993
@mxnet-label-bot add [question, bug]

[2019-05-19 12:32] kohillyang commented on #14619
@aaronmarkham so does there exists a tutorial to illustrate how to get libmxnet.so for mobile devices?

[2019-05-19 18:40] eric-haibin-lin commented on #14970
Another in https://github.com/apache/incubator-mxnet/pull/14683

[2019-05-19 18:57] kshitij12345 commented on #14938
I may be terribly wrong about this but,
https://github.com/apache/incubator-mxnet/blob/bd44ff48c4aff8458a67c44b032f82afbf4d52a5/src/operator/nn/fully_connected-inl.h#L162-L178

looking at the pattern here,
maybe replacing the
https://github.com/apache/incubator-mxnet/blob/bd44ff48c4aff8458a67c44b032f82afbf4d52a5/src/operator/nn/fully_connected-inl.h#L172
with `gemv` with a dummy ones vector for re

[2019-05-19 21:35] reminisce commented on #14954
@DickJC123 Sorry for the late reply and thanks for the analysis and suggestion. I agree with what you proposed up there. The ndarrays in memory in the backend are indeed as what you described, i.e. -1 means unknown, 0 means known zero size, etc. The conversion to numpy shape in the NDArray's Save function was somehow missed to be implemented. Would you mind to submitting a fix or you are busy, I c

[2019-05-19 21:45] ziyuang commented on #14159
But TensorRT doesn't support dynamic/variable input shape, right?

[2019-05-20 03:42] pengzhao-intel commented on #14972
Suppose the question is answered. Closing now and feel free to re-open.

[2019-05-20 03:42] #14972 closed

[2019-05-20 05:59] larroy opened #14999 "libiomp5.so not found"
Can't load libmxnet, libiomp5.so not found.

libmxnet is linked dynamically with libomp

[code]

System:  Ubuntu 18.04

[code]

[code]

CMake configuration:
[code]

[2019-05-20 06:21] perdasilva commented on #14980
Just had [this](http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/v1.5.x/6/pipeline) failure in branch v1.5.x. Seems like this error could be related to #14981 and might be fixed by #14990

[2019-05-20 06:37] perdasilva commented on #14902
Happening here as well: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/636/pipeline/

[2019-05-20 07:37] perdasilva commented on #14288
Seeing it again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/master/650/pipeline

Making a PR to disable test until it is fixed.

[2019-05-20 08:11] perdasilva commented on #12417
@aaronmarkham could we please re-open this issue? It's happening again:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/master/640/pipeline

I will submit a PR to disable.

[2019-05-20 08:13] perdasilva opened #15004 "[Flaky Test] test_operator.test_l2_normalization"
## Description

test_operator.test_l2_normalization is failing in CI. Possibly related to (#12417).

[code]

See http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/master/640/pipeline for full logs.

[2019-05-20 08:19] juliusshufan opened #15005 "Additional unit test failures on set execution engine to "naive""
With naïve engine (by export MXNET_ENGINE_TYPE = NaiveEngine)
Compared to the tests results using the default engine, there are additional UT failures, they are:

CASE NAME | Error Message
-- | --
INTEL_MXNET#mkl#test_quantization_mkldnn | AssertionError:    Items are not equal:   Error 6065500000000000068157440.000000 exceeds tolerance rtol=0.000010,   atol=0.000000.  Location of maximum error:(1

[2019-05-20 08:24] perdasilva commented on #14902
Another failure: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/master/625/pipeline

[2019-05-20 09:12] CynthiaProtector commented on #14917
Thank you for your explanation @vrakesh and I feel sorry to response a little late. The explanation seems to be reasonable and I will conduct some more experiments to check the mechanism. The issue is closed and once I have some new findings, I will reopen this issue.

[2019-05-20 09:12] #14917 closed

[2019-05-20 10:10] GokulNC commented on #12682
@vandanavk @Roshrini
I'm still facing the error `AttributeError: No conversion function registered for op type BlockGrad yet.`

I tried ONNX both from `pip` as well as installation from source as directed in the `README`, but the issue doesn't seem to be fixed.

For your reference, the model that I'm trying to convert to ONNX is here:
https://github.com/aidlearning/AidLearning-FrameWork/tree/maste

[2019-05-20 15:50] vdantu commented on #14999
@mxnet-label-bot add [build]

[2019-05-20 16:22] jmerkow commented on #14421
Ok I am working on this again.

I've checked that the parameter files are the same. i.e. something like this:
[code]
I double checked that the actual input to the image is the same (after transforms etc).

We use the module doing something like this:
[code]

[2019-05-20 16:22] ZhuofeiKang commented on #10174
Have you solved this error?

[2019-05-20 16:41] vdantu commented on #15004
@mxnet-label-bot add [Test]

[2019-05-20 16:44] vdantu commented on #15005
@mxnet-label-bot add [test]

[2019-05-20 17:54] jmerkow commented on #14421
Doing some more analysis, it looks like there are some differences at the convolution layer described above, but the changes are relatively minor. However, there is a global pooling layer at the end of the network which seems to have a VERY VERY large difference.  I'm using the following to calculate error:

[code]

the error values are all less than 0.1, except after the global pooling layer i ge

[2019-05-20 18:15] aaronmarkham commented on #14619
@szha My understanding is that it doesn't work. There are several open issues about it, but I haven't tried it out yet myself.
@kohillyang I'd love to see a guide for this using a recent build of MXNet. The closest we have is the amalgamation guide:
https://mxnet.incubator.apache.org/versions/master/faq/smart_device.html
If you try it out, please keep me posted - I'd be happy to get the guide upda

[2019-05-20 18:58] jmerkow commented on #14421
Ok I may have figured it out.

It appears that now global pooling ignores padding (including Pooling_v1). If i set padding=0 on the global pooling layer i get the same values (incorrect) in mx 1.0.0 as mx 1.4.0.  Is there a way to prevent this?

[2019-05-20 19:29] apeforest commented on #14991
Calling autograd.grad on a first order ndarray seems not work (we need to dig out the API design)
The following block works.
[code]

[2019-05-20 19:30] mseth10 commented on #14957
@anirudh2290 can you please close this issue. It has been answered.
@pdx1989 In case you have any lingering questions feel free to reopen the issue.

[2019-05-20 19:30] #14957 closed

[2019-05-20 19:37] jmerkow commented on #14421
Here is a small example that you can use to reproduce the issue:
Code:
[code]

MX 1.0.0 output: [0.6399999856948853, 0.6399999856948853, 0.6399999856948853]
MX 1.4.0 output: [1.0, 1.0, 1.0]

[2019-05-20 19:46] Roshrini commented on #12682
@GokulNC Can you check MXNet version you are using? Could you try latest master branch while installing from source? Or try to get latest nightly build through pip as follows:
pip install mxnet --pre

[2019-05-20 20:26] szha commented on #14619
@aaronmarkham that sounds like something that needs fixing. not sure if it's enough reason to kill it though

[2019-05-20 22:35] haojin2 commented on #14902
Another failure: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-14959/12/pipeline
Seems like the error margin is pretty small with a very small atol:
[code]
Experimenting with bumping up the atol to a reasonable level now, please don't hurry to disable the test for now.

[2019-05-20 22:38] larroy commented on #14991
Which branch are you using?  I'm getting the following when running your example:

[code]

[2019-05-20 22:55] apeforest commented on #14991
I am using my own branch: https://github.com/apeforest/incubator-mxnet/tree/develop/higher_order_grad

I think one line you need to change is: https://github.com/apache/incubator-mxnet/pull/14613/files#diff-2d0bd6acfa276757ae59106dbed8e3e5R353

[2019-05-20 23:36] larroy commented on #14991
I merged your branch, works, thanks.

[2019-05-21 00:07] larroy commented on #14991
I get the warning: "[16:36:03] /home/ANT.AMAZON.COM/pllarroy/devel/mxnet/src/imperative/imperative.cc:362: There are no inputs in computation graph that require gradients."

[2019-05-21 00:38] haojin2 commented on #14902
@perdasilva Fix in #15011.

[2019-05-21 01:02] larroy commented on #14991
This example works for me. I'm able to call grad two times, the second gradient has the correct value, given than the second function is 3  * 2 *x, so the grad is 6 for all elements.

When using ag.grad the gradient is not stored in x though.  One key issue here is that creat_graph in the second call to grad has to be set to false, otherwise we are re-creating the graph and having the problem I ha

[2019-05-21 02:24] anirudh2290 commented on #14938
@kshitij12345 there is already a reduction kernel for sum along axis which is available. I am currently working on replacing sum_rows with this kernel call to fix this perf issue.

[2019-05-21 06:03] GokulNC opened #15013 "[mx2onnx] Feature Request - Support for all modes of L2Normalization"
Currently, I see that there is support only for 'channel' mode in L2Normalization.  ([Reference](https://github.com/apache/incubator-mxnet/blob/5e5a59ec6b145286b13d80a761c304674469cb73/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py#L932))

Is it possible to add conversion support for all the modes of L2Normalization [listed here](https://mxnet.incubator.apache.org/api/python/symbol/symbol.h

[2019-05-21 06:30] GokulNC commented on #12682
Thanks, that helped! It seems the binaries in `pip`'s stable line are not the latest ones.

[2019-05-21 06:46] kaivu1999 opened #15017 "Issue in using nd.ones((3, 4), ctx=gpu()) , CUDA 10.1"
## Description
Not able to use ctx=gpu() in nd.ones()

## Environment info (Required)

[code]
[code]
This leads to the following error
[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)
autopep8==1.4.4
backcall==0.1.0
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
graphviz==0.8.4
idna==2.8
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
jupyter-clie

[2019-05-21 06:52] perdasilva commented on #14718
Another one: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/659/pipeline#step-770-log-1733

[2019-05-21 07:16] perdasilva commented on #13600
Seems to be happening against the v1.4.x branch:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/v1.4.x/56/pipeline

I'll back port the PR disabling the test.

[2019-05-21 08:54] suyz526 commented on #15017
Have you installed mxnet from source?  You have probably forgotten to add some arguments to enable GPU support such as USE_CUDA=1.

[2019-05-21 09:06] kaivu1999 commented on #15017
@suyz526  Are you suggeting to download form sources.
I directly used
sudo apt-get install mxnet
sudo apt-get install mxnet-cu101

But as you know they won't work
What do you suggest ?

[2019-05-21 09:37] matteosal commented on #14983
Ok, so is this to be considered a bug or a feature no more supported? In case it's something intended to work, can you give a time estimate for the fix to happen? Thanks

[2019-05-21 09:42] suyz526 commented on #15017
I have tried to install mxnet from source, or use pip. Both work in my machine.

[2019-05-21 12:41] pengzhao-intel commented on #14999
@yinghu5 @NeoZhangJianyu could you help to take a look?

[2019-05-21 12:41] pengzhao-intel commented on #14999
cc @TaoLv

[2019-05-21 17:28] stu1130 commented on #15017
@kaivu1999
I am using Deep Learning base ami ubuntu 16.04, mxnet-cu101(1.4.1), Driver Version: 418.39. I can't reproduce your issue.
[code]

[2019-05-21 17:51] chandana1332 opened #15025 "Gluon DataLoader incorrectly terminates the process pool in 1.4"
## Description
Gluon DataLoader terminates the process pool early while _MultiWorkerIter is operating on the pool.
Cause: https://github.com/apache/incubator-mxnet/pull/13537/files
As seen in the patch, the process pool is terminated when DataLoader is garbage collected but the scope of the process pool goes beyond the DataLoader until _MultiWorkerIter

## Environment info (Required)

[code]

I'm

[2019-05-21 18:40] #14833 closed

[2019-05-21 23:25] roywei opened #15028 "[CI][NightlyTestsForBinaries] nightly test failed on new AMP tutorial"
After AMP PR https://github.com/apache/incubator-mxnet/pull/14173 added an AMP tutorial, but the nightly test on it is failing:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/320/pipeline

Seems the tutorial depends on gluoncv, we need to add it in CI environment here:
https://github.com/apache/incubator-mxnet/blob/master/ci/docker/install/ub

[2019-05-21 23:27] roywei commented on #15028
@mxnet-label-bot add[Test, CI]

[2019-05-21 23:28] roywei commented on #14981
fixed in latest run, we can close this now: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/320/pipeline

[2019-05-22 00:53] zheng-da opened #15029 "mx.nd.random.shuffle crashes in the master branch"
After compiling the latest master branch (commit 5854b98) of MXNet, it seems it can't run the following simple code:
[code]
The code will result in segfault.

If MXNet is compiled with USE_INT64_TENSOR_SIZE = 1, the code above works fine.

The simple code should work with int32 tensor size.

[2019-05-22 01:01] wkcn commented on #13915
Close it since the flaky test has been disabled.

[2019-05-22 01:01] #13915 closed

[2019-05-22 01:17] eric-haibin-lin commented on #8153
It should be supported already. Feel free to reopen if it's not working

[2019-05-22 01:17] #8153 closed

[2019-05-22 01:21] eric-haibin-lin commented on #8822
We can now follow the boolean mask example where dynamic output shape is supported:
src/operator/contrib/boolean_mask.cc

[2019-05-22 02:34] pengzhao-intel commented on #14085
Closing. Feel free to reopen if any issue is observed again.

[2019-05-22 02:34] #14085 closed

[2019-05-22 03:12] anirudh2290 opened #15032 "FC with bias ndim > 1 fails with MKLDNN"
Minimum reproducible example:

[code]

[2019-05-22 03:23] DickJC123 opened #15034 "Flakey test: test_operator_gpu.py:test_rnntanh_bidirectional"
## Description

The failures are seen infrequently and nondeterministically (but within 1000 trials) on a GPU platform when run on NVIDIA P40.  Based on initial investigation, the problem is introduced by the commit:
[code]
... which is not too surprising given the sizeable refactoring of the rnn code with that commit.
Because the P40 has far fewer compute resources compared to P100 and V100, I su

[2019-05-22 03:38] DickJC123 commented on #14954
Sorry for not getting to the review yet (sidetracked preparing issue 15034).  During my review tomorrow, I'll be looking to see that a serialized NDArray (and its shapes) can be interpreted purely on the state of the file, without knowing the 'numpy compatibility mode' of the writer, and without the reader being in a particular mode.  I'm not sure if this can be achieved with the current set of ma

[2019-05-22 04:12] reminisce commented on #14954
@DickJC123 The PR14998 only reverts the change on broadcast_to param shape without addressing the problem of loading zero-size ndarrays from files w/ or w/o numpy compatibility. For that, I think you already provided a feasible solution which keeps backward compatibility and we can go for that implementation, either you or I can do it. It's just not clear to me that why in sockeye's unit tests, ze

[2019-05-22 05:24] TaoLv commented on #15032
@anirudh2290 Thank you for reporting. What does the error log look like? And what behavior is expected when bias ndim > 1?

[2019-05-22 05:29] TaoLv commented on #15032
@anirudh2290 I see in document bias is defined as 1D with size of num_hidden: https://mxnet.incubator.apache.org/versions/master/api/python/ndarray/ndarray.html#mxnet.ndarray.FullyConnected

[2019-05-22 05:48] pengzhao-intel commented on #15034
The refactor for legacy code is not easy and we have taken these tasks to make MXNet going forward.
Since we are not very familiar with GPU code, @DickJC123 would you mind looking into details and fix the issue? We can take a look for the CPU part if anything is necessary.

[2019-05-22 06:22] Wutever opened #15035 "import self-complied mxnet in windows failed with dependency missing"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-05-22 06:59] apeforest commented on #15029
The coredump does not happen on MacOS with 16GB memory. It occurrs on ubuntu 16.04

[2019-05-22 07:13] apeforest commented on #15029
Here is the stack trace from GDB
[code]

[2019-05-22 07:55] larroy commented on #14253
What's the plan regarding: "Instead, users should be able to just write native Python code as the following and if required, let the framework serialize it into a computation graph for optimization and deployment."  I would get the python AST and convert it to a computational graph, seems that part is not described into detail, I guess is a long-term phase.

[2019-05-22 08:09] stsukrov commented on #14085
Thanks!

[2019-05-22 08:34] pengzhao-intel commented on #14467
#15031

[2019-05-22 08:59] Chancebair commented on #15028
Taking a look

[2019-05-22 10:43] kaivu1999 commented on #15017
Yeah. I had messed up with my Nvidia drivers. I will update once I do the entire thing again

[2019-05-22 12:26] kaivu1999 commented on #15017
Yeah,
I had not configured NVIDIA drivers properly
It's working now !!

[2019-05-22 12:26] #15017 closed

[2019-05-22 13:06] Chancebair commented on #14980
@ChaiBapchya @apeforest @access2rohit @anirudh2290 @larroy

The discussion has come up that this test needs to be refactored so that several gigs of memory are not needed to run tests.  Pedro brought this up in an email subject "Tests with large inputs and rationalize resource usage. Better testing strategies..."

Could someone please take lead on this?  The test is currently disabled in the Jenki

[2019-05-22 18:08] nickguletskii commented on #14852
Same here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14638/12/pipeline

[2019-05-22 18:18] pinaraws commented on #12062
@mxnet-label-bot add[Distributed]

[2019-05-22 18:21] leleamol commented on #14847
@hallazie @lanking520
We do not have CV toolkit available in Cpp package.

[2019-05-22 18:21] leleamol commented on #14832
@mxnet-label-bot remove [C++]

[2019-05-22 18:27] pinaraws commented on #13644
@mxnet-label-bot add[Distributed]

[2019-05-22 18:27] pinaraws commented on #13644
@mxnet-label-bot add[distributed]

[2019-05-22 18:28] pinaraws commented on #12576
@mxnet-label-bot add[Distributed]

[2019-05-22 18:29] pinaraws commented on #12363
@mxnet-label-bot add[Distributed]

[2019-05-22 18:30] pinaraws commented on #10835
@mxnet-label-bot add[Distributed]

[2019-05-22 18:31] pinaraws commented on #11299
@mxnet-label-bot add[Distributed]

[2019-05-22 18:37] leleamol commented on #14832
@lanking520 @jasperDD The question is regarding R APIs.
I am not familiar with these bindings.  The R tutorials mentioned on this link might be helpful.
https://mxnet.incubator.apache.org/versions/master/tutorials/r/index.html

[2019-05-22 18:37] leleamol commented on #14832
@mxnet-label-bot update [R, Question]

[2019-05-22 18:52] lanking520 commented on #14832
@mxnet-label-bot remove [Question]

[2019-05-22 18:53] eric-haibin-lin commented on #14722
it should be fixed in https://github.com/apache/incubator-mxnet/pull/15037 which makes the behavior the same as before

[2019-05-22 18:53] #14722 closed

[2019-05-22 18:54] eric-haibin-lin commented on #14760
Should be fixed in #14830

[2019-05-22 18:54] #14760 closed

[2019-05-22 18:59] pinaraws commented on #13644
@mxnet-label-bot add [distributed]

[2019-05-22 20:47] zheng-da opened #15043 "Inconsistent behavior for empty NDArray."
MXNet.nd.NDArray doesn't support empty NDArray. For example `mx.nd.zeros((0,))` fails. However, `mx.nd.array([])` still suceeds.

[2019-05-22 23:15] svj1991 opened #15047 "Conv 1D block with weights initialized by me and controllable gradients"
Hi,
I’m a bit new to Gluon and mxnet, I’m sorry if my question is too trivial.
I was trying to implement a Conv 1D operation on a speech waveform.

I have the following,

N = 512
hp = 16
re = nn.Conv1D( in_channels=1, channels=N, kernel_size=N, padding=N//2, strides=hp, groups=1, use_bias=False)

Now I have a ndarray 'br' of size (N,1,N) and I wish to initialize the Conv1D layer re with this 'br'

[2019-05-22 23:58] roywei commented on #15034
@pengzhao-intel  It seems there is another refractor in https://github.com/apache/incubator-mxnet/pull/14713. Will it cause more behaviors similar in this issue?

cc @szha @eric-haibin-lin

[2019-05-23 00:09] leleamol commented on #14732
@abner2015
Can you please post the error that you are getting after running this example?

[2019-05-23 01:54] TaoLv commented on #15034
@DickJC123 I can see many discussions about resource and storage in #14476. Could you please take a look at them? Hope they can address part of your questions. Thanks.

[2019-05-23 02:16] zhaotun commented on #13520
I get the same error when train my own dataset. I use VOCLike to load my dataset which described at
[https://gluon-cv.mxnet.io/build/examples_datasets/detection_custom.html](url)，and i change the CLASSES to my own classnames ,such as CLASSES=['1','2','3', ... ,'32']，i have 32 classes and the classname is  from 1 to 32, then start the train , get the error 'Check failed: b < len (25 vs. 20) slicing

[2019-05-23 03:36] DickJC123 commented on #15034
I experimented with reverting the workspace and dropout state handling changes of commit 1c49e40fd to the original approach.  This has eliminated the failures seen on P40.  I will be making a PR of this tomorrow.

[2019-05-23 04:00] szha commented on #15034
cudnn set dropout descriptor is very slow if the dropout state space is not reused.

[2019-05-23 04:44] szha commented on #11654
It still happens all the time. Please consider use more reliable DNS.

[2019-05-23 06:48] abner2015 commented on #14732
@leleamol

see content above

[2019-05-23 08:59] apeforest commented on #14978
one more: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15041/5/pipeline/317

[2019-05-23 09:31] perdasilva commented on #14978
I've submitted a PR to fix it: #15014

[2019-05-23 11:47] pengzhao-intel commented on #15032
@anirudh2290 any update? Do we need to fix or close this in 1.5?

[2019-05-23 12:10] fhieber opened #15052 "broadcast_to is broken in latest MXNet"
Latest nightly builds of mxnet broke the `broadcast_to` op.
The documentation of this operator states:
[code]

Using `shape=(2,0)` works in mxnet==1.4.1 but not in the nightly builds:
[code]

[2019-05-23 13:36] kaivu1999 opened #15053 "ImportError: cannot import name 'transforms'"
## Description
Not able to import transforms from mxnet

## Environment info
CuDNN 7.1.4
Cuda 9.2
Nvcc V9.2.148

Using pthon3 and
pip freeze results in :

[code]
The git repository which can be seen just above mxnet-cu92==1.4.1 is due to setting up bmxnet in the same environment. Nontheless I tried it in a seperate environment without it still the error persists.

[code]

## Error Message:
[code]

[2019-05-23 13:39] kaivu1999 commented on #15053
I am able to get
from mxnet import gluon

[2019-05-23 15:04] pengzhao-intel commented on #14467
Closing the issue since the PR is merged. Feel free to reopen if you see the issue again.

[2019-05-23 18:11] DickJC123 commented on #15034
I discovered a new issue with commit  #14476: it's use of kCuDNNDropoutDesc and the cuDNN API that supports it was only possible starting with cuDNN 7.0.  From this commit onward, the MXNet master no longer compiles against cuDNN 6.0.  I will work up a PR that uses the new dropout state handling approach only when it is available, thus eliminating the inadvertent 'breaking change.'

[2019-05-23 19:07] zachgk commented on #15053
@kaivu1999 Can you try checking what installation is being used for mxnet?:
[code]

If you are using the bmxnet, it does not contain the gluon.data.vision.transforms.py file. It is an old fork of mxnet and the transforms which are here on master https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/vision/transforms.py are not present there https://github.com/hpi-xnor/BMXNe

[2019-05-23 19:29] szha commented on #15034
cudnn support for specific versions has never been promised in mxnet. The only cuda version that requires compiling with cudnn 6.0 was cuda 7.5, which is no longer supported in mxnet.

[2019-05-23 20:02] #15029 closed

[2019-05-23 20:02] fhieber commented on #15052
I think this is a duplicate to #14954 and the fix hasn't made it in yet, closing.

[2019-05-23 20:02] #15052 closed

[2019-05-23 22:14] Schadix commented on #2910
returns range(0,0) on Jetson TX2, Xavier and Nano for version 1.4.x according to my tests.

[2019-05-23 22:35] zachgk commented on #15025
@zhreshold Can you take a look?

[2019-05-23 23:12] zhreshold commented on #15025
A workaround is to let DataLoader and iterator have same scope.

The worker pool is managed by dataloader for sake of resource conservation in case users created hundreds of iterators out of the same dataloader.
One way to fix this problem is to use ref counting for how many iterators are using the worker pool.
Any suggestion? @chandana1332

[2019-05-23 23:15] zachgk commented on #15047
For questions, please submit them on the MXNet discussion forum (https://discuss.mxnet.io) where it will get a wider audience and allow others to learn as well.
 I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
 Thanks!

[2019-05-23 23:15] #15047 closed

[2019-05-23 23:57] zachgk commented on #14993
Thank you for the fix @zhouhang95. If you are interested in contributing to this open source project, feel free to open a pull request fixing those docs at https://github.com/zachgk/incubator-mxnet/blob/master/python/mxnet/image/image.py#L94.

[2019-05-24 00:20] DickJC123 commented on #15034
I found that moving the RNN workspace from a permanent per-instance allocation to the prior (and typical) approach of using the TempSpace resource corrected the test flakeyness on P40.  I won't touch the dropout descriptor handling, nor the fact that it implicitly forces MXNet users to cuda v7.0.  PR shortly.

[2019-05-24 04:04] cchung100m commented on #14851
Hi @stu1130 ,

I'm interested in working on this if no one else has signed up. I propose to remove the 'else' statement after the 'raise' statment for solving the 'no-else-raise' situation. However, I am not sure on dealing with 'unbalanced-tuple-unpacking' situation, I would appreciate if you can give me some references or suggestions.

Many thanks,

[2019-05-24 05:28] wuxun-zhang opened #15057 "Type inconsistent error when running C++ inference script on quantized models"
## Description
When I ran C++ inference script with quantized models, there always have a type inconsistent issue. Also current C++ script didn't support performance benchmark for int8/fp32 models which is not aligned with Python implementation.

## Environment info (Required)

[code]

Package used :
I'm using C++ package.

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/v

[2019-05-24 07:10] cloudhan commented on #9686
Maybe make backward propagation computation optional when compile, specifically using for deploying.

[2019-05-24 07:42] yuyijie1995 commented on #13482
+1

[2019-05-24 08:42] kaivu1999 commented on #15053
Yeah I am have installed BMXnet as I want to use it.

[code]

[2019-05-24 16:09] aaronmarkham commented on #13854
Shows up on beta: https://beta.mxnet.io/api/gluon-related/mxnet.context.html?highlight=context#module-mxnet.context

However, I see no mention of `gpu_memory_info`.

[2019-05-24 16:32] aaronmarkham commented on #13429
Note: `NDAbs` also does not appear on the beta site at all... which is interesting...

The source is here:
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer/optimizer.py#L28
Or more likely:
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer/optimizer.py#L39

It does not appear in the autosummary and is not listed in the docs for a signature to b

[2019-05-24 16:39] apeforest commented on #14980
@larroy @Chancebair Any suggestion for updating the tests? We still need to test large tensors for CPU. Please advise what the best practice is.

[2019-05-24 17:02] anirudhacharya commented on #13429
@aaronmarkham are we tracking this on the beta site github repo?

[2019-05-24 17:41] aaronmarkham commented on #14375
Hi  @LittleFatHero I added this: https://beta.mxnet.io/install/validate-mxnet.html
Does this solve the issue?

[2019-05-24 17:54] aaronmarkham commented on #13301
I'm closing now that there's a workaround.

[2019-05-24 17:54] #13301 closed

[2019-05-24 17:59] lanking520 commented on #14994
@mxnet-label-bot remove [flaky]

[2019-05-24 18:10] karan6181 opened #15062 "Bug in BidirectionalCell for imperative mode when time_step is 1"
The `_reverse_sequences()` method in `~/mxnet/gluon/rnn/rnn_cell.py` gives unexpected output when the input is of single `time_step` with the imperative mode. Below is the example to demonstrate the issue:

[code]

Below is the debugged output from `_reverse_sequences()` method

[code]

The issue is not reproducible in symbolic mode(Please uncomment the `net.hybridize()` if you want to run it in s

[2019-05-24 19:47] aaronmarkham commented on #12171
@eric-haibin-lin is this still an issue? I'm not seeing anything particularly unusual with the current output:
https://mxnet.incubator.apache.org/api/python/optimization/optimization.html?highlight=lbsgd#mxnet.optimizer.LBSGD

[2019-05-24 20:25] pinaraws commented on #15032
@mxnet-label-bot remove[Bug]

[2019-05-24 20:26] pinaraws commented on #15032
@mxnet-label-bot add[Feature request]

[2019-05-24 20:27] leleamol commented on #14993
@mxnet-label-bot add [Doc]

[2019-05-24 20:27] pinaraws commented on #14993
@mxnet-label-bot add[Doc]

[2019-05-24 20:32] zachgk commented on #15053
Here are a few options that might work:
1. You could try editing the package name of bmxnet so that it does not conflict with MXNet. Then, you could `import mxnet as mx` and `bmxnet as bmx`. You can then specify that the vision transforms come from MXNet proper and everything else comes from BMXNet. I don't know if you will run into weird errors due to differences between mxnet and bmxnet if you d

[2019-05-24 20:38] aaronmarkham commented on #14967
Confirming that R installation is broken.  Curious why is it fetching an older version (mxnet_1.3.0.tar.gz). Not that newer ones are there. I tried 1.3.1 and 1.4.0 and 1.4.1 and they're not there.

[2019-05-24 20:40] aaronmarkham commented on #14967
Duplicate of #14922

[2019-05-24 20:41] aaronmarkham commented on #14689
It has been added in the chart here:
https://mxnet.incubator.apache.org/versions/master/install/index.html?platform=MacOS&language=Python&processor=CPU

[2019-05-24 20:41] #14689 closed

[2019-05-24 20:49] larroy commented on #14979
Looks like an OpenMP problem.

[2019-05-24 20:58] zheng-da commented on #15043
As discussed with @reminisce, we can allow creation of empty tensors, but we don't allow shape inference on empty tensors.

[2019-05-24 20:58] #15043 closed

[2019-05-24 21:03] larroy commented on #14979
I would suggest to reproduce with debug symbols as the stack is not including the function names.

[2019-05-24 21:06] larroy commented on #14980
@apeforest Im talking to @access2rohit to understand how can we test this better. I will update this.

[2019-05-24 21:09] anirudh2290 commented on #14698
@kshitij12345 thanks for taking a look at this! I think this is because the ops you see here FullyConnected, Activation are special cased here. If  you use some other ops you may not see the operator name.

[2019-05-24 21:16] IvyBazan commented on #14507
I've updated the remaining http://data.dmlc.ml/ links that I found and verified them in #15065

[2019-05-24 23:00] lanking520 opened #15067 "CachedOp performance regression"
Recently I am running benchmark on the cachedOp performance and get some regression on the result. Please see the table below:

|            | Module API | cachedOp with Static | CachedOp without static |
|------------|------------|----------------------|-------------------------|
| p2.8xlarge | 43ms       | 42ms                 | 51ms                    |
| p3.2xlarge | 11ms       | 19ms

[2019-05-24 23:16] sandeep-krishnamurthy commented on #13997
Resolving as the question is answered. Please reopen if you still face issue using mxnet profiler.

[2019-05-24 23:16] #13997 closed

[2019-05-24 23:42] eric-haibin-lin commented on #15062
@szha

[2019-05-25 00:30] ZhaoqiZhu opened #15069 "Profiler RFC: Introducing new APIs"
# Profiler RFC: Introducing new APIs

## Introducing New APIs

### Motivation

MXNet comes with a profiler that allows users to monitor the performance of their models in two metrics: time and memory consumption. Internally, operator calls, C API calls, and memory allocation/deallocation are represented as events. For functions calls, we know the start and finish time of the events and therefore t

[2019-05-25 00:30] sandeep-krishnamurthy opened #15070 "CustomOp does not show up in profiler output"
Custom operator is very crucial part of many mxnet users. Today, we can't see custom operator in mxnet profiler.

Minimum reproducible code:

[code]

![image](https://user-images.githubusercontent.com/3403674/58362213-a061ff00-7e49-11e9-8fff-88777664e75e.png)

[code]

[2019-05-25 00:31] sandeep-krishnamurthy commented on #15070
I see that @Zha0q1 is working on it.

[2019-05-25 00:46] leleamol commented on #14732
@abner2015 I could not reproduce this issue.The example ran correctly without any errors that you had mentioned.
It would be helpful if you paste the error that you have obtained.

[2019-05-25 00:46] leleamol commented on #14732
@mxnet-label-bot add [Pending Requester Info]

[2019-05-25 00:56] pengzhao-intel commented on #15067
We have a PR to improve CachedOP recently, #14931, I am not sure if this cause the issue.
Do you mind take a try?

[2019-05-25 00:58] KellenSunderland commented on #7410
I think it's important to have deterministic results when training.  If we don't ensure this we can have bugs introduced into the codebase quite easily, which will also impact researchers abilities to trust their results.

[2019-05-25 01:24] CynthiaProtector commented on #2710
@sxjscience The EASGD algorithm is not supported in the released versions of MXNet, and I want to implement that in MXNet to check the performance improvement, any suggestion or help. Thank you very much.

[2019-05-25 01:36] CynthiaProtector commented on #2710
@sxjscience Besides, could you please provide the code implementation of DownpourSGD algorithm.

[2019-05-25 02:23] DickJC123 commented on #14954
@reminisce I think you're really the one with the best 'big picture' of this new Shape facility, and where the definition is going.  Perhaps you could attempt the fix for the remaining issues with Sockeye unittests?  I picked the first test that I mentioned above and see that it is indeed trying to save/restore NDArrays with 0 dim-sizes:

https://github.com/awslabs/sockeye/blob/bb588ecbe874ae29ede

[2019-05-25 02:24] LittleFatHero commented on #14375
Yes, it is really nice , it would be better if you can add the validation of mxnet mkl version!

[2019-05-25 02:38] sandeep-krishnamurthy opened #15071 "Profiler Memory output title is misleading, shows as Time(ms) instead of Memory(Bytes)"
In MXNet profiler output, for Device Storage output, title is misleading, it should be Memory(Bytes) but shows as Time (ms).

![image](https://user-images.githubusercontent.com/3403674/58363581-87624980-7e5b-11e9-87bd-a650bf164d2b.png)

[2019-05-25 02:40] sandeep-krishnamurthy commented on #15071
@Zha0q1 - Are you fixing this as part of your planned work at - https://github.com/apache/incubator-mxnet/issues/15069 ?

[2019-05-25 02:47] ZhaoqiZhu commented on #15071
Yes I am going to fix it

[2019-05-25 02:47] ZhaoqiZhu commented on #15071
Yes I am going to fix it

[2019-05-25 02:48] ZhaoqiZhu commented on #15070
Thank you Sandeep for creating the issue. Will continue to work on it next week

[2019-05-25 02:52] 407257625 commented on #14116
alse have this problem in version 1.5.x, please fix!:

1>argument "lrs" of operator "multi_sgd_update" has unknown type ", required"
1>argument "wds" of operator "multi_sgd_update" has unknown type ", required"
1>argument "lrs" of operator "multi_sgd_mom_update" has unknown type ", required"
1>argument "wds" of operator "multi_sgd_mom_update" has unknown type ", required"
1>argument "lrs" of opera

[2019-05-25 03:34] ZhennanQin commented on #15067
So same benchmark with `hybridize(static_alloc = True, static_shape = True)` got different performance trend on different machines ?

[2019-05-25 07:27] roywei commented on #15062
@mxnet-label-bot add[Bug, Gluon]

[2019-05-25 08:14] reminisce commented on #14954
@DickJC123 I have submitted the PR reverting the changes in save/load functions. See https://github.com/apache/incubator-mxnet/pull/15073 for analysis. Could you please give a review? Thanks.

[2019-05-25 17:49] vizakshat commented on #5394
I tried mx.mod.Module but it takes arguments such as data shapes when binding.
In feed forward we didn't need data shapes. What if i dont know the data shapes??
How can I incorporate Module?

[2019-05-25 17:50] vizakshat opened #15074 "Feedforward is deprecated? Module needs shapes while binding. How can we do it without shapes?"
I tried mx.mod.Module but it takes arguments such as data shapes when binding.
In feed forward we didn't need data shapes. What if i dont know the data shapes??
How can I incorporate Module?

_Originally posted by @vizakshat in https://github.com/apache/incubator-mxnet/issues/5394#issuecomment-495936386_

[2019-05-25 17:52] vizakshat opened #15075 "Hybridising mx.mod.Module?"
How can we hybridize the mx.mod.Module? Is it possible?

[2019-05-26 00:08] wkcn commented on #7410
I prefer the fixed random seed default. It is similar to the random seed setting in C++. Users know what the random seed is and reproduce the experiment with the seed.

[2019-05-26 10:11] feinsteinben opened #15076 "ccccccgtfvgcucekucuglvkilbnebfuhudukkdbjkgij"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-05-26 10:13] #15076 closed

[2019-05-26 14:50] leleamol commented on #15057
@mxnet-label-bot add [C++, Bug]

[2019-05-26 15:02] TaoLv commented on #15057
Should be fixed via #15038 . Now closed.

[2019-05-26 15:02] #15057 closed

[2019-05-27 01:07] #14938 closed

[2019-05-27 04:52] kaivu1999 opened #15077 "Shape inconsistent"
## Description
mxnet.base.MXNetError: Shape inconsistent, Provided = [4096,25088], inferred shape=(4096,2048)

## Environment info (Required)
CuDNN 7.1.4
Cuda 9.2
Nvcc V9.2.148

Package used (Python/R/Scala/Julia):
Python packages
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
gluoncv==0.4.0.post0
graphviz==0.8.4
idna==2.8
kiwisolver==1.1.0
matplotlib==3.0.3
mxnet-cu92==1.4.1
numpy==1.14.6
Pillow

[2019-05-27 06:27] fhieber commented on #14954
Hi @DickJC123,
sorry for seeing this issue only now.
I just checked with latest nightly build of mxnet: all unit tests pass for latest sockeye. The issue I observed with `broadcast_to` (Usage in Sockeye here: https://github.com/awslabs/sockeye/blob/master/sockeye/layers.py#L378) was addressed.

[2019-05-27 07:36] ZhennanQin opened #15078 "Naive engine produce incorrect result on MKLDNN backend"
Reproducible test:

[code]

With threaded_engine, result is correct:
[code]

with naive_engine, result is incorrect:
[code]

If remove below line, the issue can get fix:
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/mkldnn/mkldnn_convolution.cc#L418
`weight.MKLDNNDataReorderAsync(fwd->fwd_pd.weights_primitive_desc());`

The reason behind is, naive_engine won't do this as la

[2019-05-27 08:45] hzahn opened #15079 "Conv3D crashes with layout NDHWC"
## Description
Conv3D with layout NDHWC crashes although the documentation indicates that this layout is supported.

## Environment info (Required)
testet on:
mxnet 1.4.1 and F1.3.0
python 3.6.5 and 3.5.2

----------Python Info----------
Version      : 3.5.2
Compiler     : GCC 4.2.1 Compatible Apple LLVM 10.0.0 (clang-1000.10.44.4)
Build        : ('default', 'Mar 24 2019 11:05:31')
Arch         :

[2019-05-27 09:47] srijiths opened #15080 "tensorrt.tensorrt_bind results NDArray with NaN"
## Description
Trying to convert ArcFace [https://github.com/deepinsight/insightface](url) using tensorrt.bind , output shape is (512,) coming as NaN but with mx.mod.Module its coming properly.

## Environment info (Required)
Cuda 10.0 , mxnet-cu100, [https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1604/x86_64/nvinfer-runtime-trt-repo-ubuntu1604-5.0.2-ga-cuda10.0_1-1_amd

[2019-05-27 11:04] Mark-Dai commented on #14116
this problem generates when build the cpp examples using visual studio, e.g Alexnet. I solved this by change the op.h in the install path, generated by execute Running: OpWrapperGenerator.py" ,somewhere like:	nnvm::Tuple<mx_float> lrs, nnvm::Tuple<mx_float> wds,.then create another project,copy the examples source file, and include the head files and library again. good luck!

[2019-05-27 14:03] 407257625 commented on #14116
@Mark-Dai  can share the generated sh , such as " python  OpWrapperGenerator.py  xxx"

[2019-05-27 14:17] kaivu1999 commented on #9392
This works for me as well
but surprisingly
[code]

for
[code]

[2019-05-27 16:33] lanking520 commented on #15067
Yeah, I suspect it is the problem is coming along with GPU.

[2019-05-27 16:34] lanking520 commented on #15067
Will do a test run on it

[2019-05-27 18:51] szha commented on #15062
The problem is in the inconsistent behavior of split, where if the number of splits is 1 it returns a single NDArray instead of a list.

[2019-05-27 22:23] stu1130 commented on #14851
@cchung100m Thanks. I'll need to take a look at those functions that have 'unbalanced-tuple-unpacking' warning. You could first deal with 'raise' & 'no-else-raise'

[2019-05-28 00:06] ThomasDelteil commented on #14357
This bug is still present in 1.4.1, the batchnorm operator does not support training on CPU. That is quite critical in my opinion.

[2019-05-28 02:07] unaplugin commented on #7631
Same on Ubuntu16.04 LTS & mxnet-cuda90 with version 1.4.1

[2019-05-28 04:24] git-ness commented on #14943
I run the project in Intellij, load the browser, upload the same image provided in the readme and it's not working like I expect it to. Here's what I'm seeing:

![uploadImageIssue](https://user-images.githubusercontent.com/22773456/58450860-c5fb3c80-80c5-11e9-8ad8-aff9a36c879a.gif)

Perhaps I'm missing something?

[2019-05-28 04:33] asitstands commented on #10738
This issue may have been fixed in the latest master. Would you check the latest master?

[2019-05-28 06:50] kaivu1999 opened #15083 "Problem in my Network."
## Description
I am trying to make vgg-11 net for Cifar10 data that is I need to have just 10 elements in the last layer.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Using the following Python packages
backcall==0.1.0
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
gluoncv==0.4.0.post0
graphviz==0.8.4
idna==2.8
ipython==7.5.0
ipython-genutils==0.2

[2019-05-28 07:10] pengzhao-intel commented on #15078
@ZhennanQin WIP to fix the issue :)

[2019-05-28 07:12] kaivu1999 commented on #15083
Sorry my bad !!
This works
'''
from mxnet.gluon import nn
from mxnet import init
import mxnet as mx

net = nn.HybridSequential()
net.add(nn.Conv2D(channels=64, kernel_size=(3,3), in_channels=3, strides=(1,1), padding=(1,1)))
net.add(nn.Activation('relu'))
net.add(nn.MaxPool2D(pool_size=(2,2), strides=(2,2), padding=(0,0), ceil_mode=False))
net.add(nn.Conv2D(channels=128, kernel_size=(3,3), in_chan

[2019-05-28 07:12] #15083 closed

[2019-05-28 07:13] pengzhao-intel commented on #14968
Closing because the question is answered. Feel free to reopen :)

[2019-05-28 07:13] #14968 closed

[2019-05-28 07:54] yinghu5 commented on #14999
Hi Larroy,  is the libmxnet.lib build from latest source code +  cmake, right?  if it is based on Intel mkl-dnn,  then  I suppose there are some steps to copy all related dll into LD search environments like LD_LIBRARY_PATH or in the lib folder.

What is the whole output   if run  ldd lib/libmxnet.so ?

Here is one on my machine.
ls lib  (may i had copied then manually)
libiomp5.so   libmkldnn.so.

[2019-05-28 08:32] yinghu5 commented on #14999
Just check install from PIP,  all of the libraries including libiomp5.so and libmxnet.so, libmkldnn.so are in same folder.

![mxnet](https://user-images.githubusercontent.com/43240216/58463006-a287ce80-8165-11e9-9ee9-adc18f9c2a4a.PNG)

so  please copy the libiom5md.so (and other dependency) into the lib directory.

[2019-05-28 08:53] tomoncle commented on #14943
The image address displayed should be returned by the program itself, not entered manually.

[2019-05-28 09:22] roywei opened #15084 "MXNet GPU MKLDNN Build failure"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15082/2/pipeline

This is currently blocking all PRs in CI.

[2019-05-28 13:12] jlcontreras commented on #15084
Thanks for pointing it out! We are having a look to try and identify the problem. Any ideas what might have caused it?

[2019-05-28 15:08] chandana1332 commented on #15025
Got it! I see why the worker pool init was moved inside DataLoader. Ref counting is a good option but it might be better if we let python handle scope of objects rather than managing it on our side.
One way to let python handle it is to pass a reference of DataLoader to the iterator. This way DataLoader will not go out of scope untill all the iterators have gone out of scope (example: https://pyto

[2019-05-28 15:45] git-ness commented on #14943
Hmm, don't see it redirecting and when trying to enter in `/files/detectImage` on a different tab, what's shown is the original upload prompt. Anything else I can try?

![uploadImageIssue2](https://user-images.githubusercontent.com/22773456/58491926-c0810f00-8124-11e9-9331-baf3c537ef5d.gif)

[2019-05-28 16:14] frankfliu commented on #15074
@mxnet-label-bot add [question]

[2019-05-28 16:15] frankfliu commented on #15075
@mxnet-label-bot add [question]

[2019-05-28 16:16] frankfliu commented on #15077
@mxnet-label-bot add [question]

[2019-05-28 16:17] frankfliu commented on #15078
@mxnet-label-bot add [Bug]

[2019-05-28 16:20] frankfliu commented on #15079
@mxnet-label-bot add [operator]

[2019-05-28 16:23] frankfliu commented on #15084
@mxnet-label-bot add [mkldnn, build, CI]

[2019-05-28 16:26] frankfliu commented on #15080
@mxnet-label-bot add [backend, bug]

[2019-05-28 16:31] lanking520 commented on #14943
@tomoncle Thanks for working on this. The scope of the example for Java API is limited to the basic functionalities demo. Your use use case could be applied to https://github.com/awslabs/mxnet-model-server.

[2019-05-28 17:17] apeforest commented on #14978
https://github.com/apache/incubator-mxnet/pull/15014 has fixed this issue. Closing it.

[2019-05-28 18:02] zhreshold commented on #15025
@chandana1332 Yep, this is actually better. Would you like to contribute a minor patch for it?

[2019-05-28 18:20] chandana1332 commented on #15025
Yeah, I can.

Do you have instructions on what/how to test, etc?

[2019-05-28 18:35] zhreshold commented on #15025
Test cases are located in https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_gluon_data.py and you can add the failure case you just posted.
1.5 is to be cut soon, so I am not sure if there will be a new release for 1.4.

[2019-05-28 18:36] chandana1332 commented on #15025
Okay, I can add a test there.

What is the release date for 1.5?

[2019-05-28 18:38] zhreshold commented on #15025
not sure yet

[2019-05-28 18:49] marcoabreu commented on #15069
Great proposal! I like that you implement this in the backend level to be able to expose it to various frontends.

So far, your design will return aggregated values. In some cases, people would also like to have the raw data to analyse it themselfes.

[2019-05-28 19:12] ZhaoqiZhu commented on #15070
Because of asynchronicity I think we need to call mx.nd.waitall() before profiler.set_state('stop').

I did that and got:

![Screen Shot 2019-05-28 at 12 09 31 PM](https://user-images.githubusercontent.com/10722037/58505327-8bcf8080-8141-11e9-9114-8b3d252823bb.png)

The custom operators did show up.

However, here I actually created two different custom operators, but we could not tell the differe

[2019-05-28 19:20] anirudh2290 commented on #15069
I understand the value of getting the dump output in a different format compared to tabular form. This can also be useful for doing post-processing on the dumped output as required by new profiler features like these: https://github.com/apache/incubator-mxnet/pull/14973 . Having said that, I think of `get_summary` as similar to `dumps` but outputting a different format. In this sense, we don't nee

[2019-05-28 20:20] mseeger commented on #14357
Wow, this is pretty crazy, all sorts of frequently used models will fail on CPU

[2019-05-28 20:53] ThomasDelteil commented on #14357
To clarify it is only an issue during training, the running Var won't be computed correctly. But if you load a gpu trained model on CPU then inference is still correct.

[2019-05-28 21:17] nofaviv commented on #14357
I have just encountered the same or similar problem. I am training on a GPU using the python API. However, my inference target machine does not have a GPU and uses the C++ API on a CPU. My inference results are all **nan**. When I grouped all symbols to the output I was able to see that the problem starts after the first batch normalization layer. When I run the same C++ code on a machine with GPU

[2019-05-28 22:25] tomoncle commented on #14943
@git-ness Maybe I didn't make it clear that "/files" is a common upload URL, just a reminder that the upload was successful. That's all. Another URL "/files/detectImage" is an interface for image upload and detection. You should use the "/files/detectImage" URL to upload and test. (Note that my test environment is Linux, and if you are MAC os, you need to change your maven configuration)

@lanking

[2019-05-28 22:38] cjolivier01 commented on #15069
+1

[2019-05-28 22:41] aaronmarkham commented on #14967
Hi @aashudwivedi - please try it again. I was able to get it to work after downgrading to R v3.5.3, and choosing the USA (IA) mirror... (60).

[2019-05-28 22:42] aaronmarkham commented on #14922
Hi @diyang - the packages for R 3.6 aren't out yet. I was able to get it to work after downgrading to R v3.5.3, and choosing the USA (IA) mirror... (60).

[2019-05-28 22:48] aaronmarkham commented on #14375
I can add a link to this over there:
https://mxnet.incubator.apache.org/versions/master/tutorials/mkldnn/MKLDNN_README.html#verify-whether-mkl-dnn-works

[2019-05-28 23:07] aaronmarkham commented on #14375
Added a PR for this here: https://github.com/mli/new-docs/pull/107
I'm going to close this issue now as it looks like we have the bases covered. Feel free to reopen if I missed something.

[2019-05-28 23:07] #14375 closed

[2019-05-28 23:26] szha commented on #15069
This is we can use this new API in different languages and make sure the return is consistent.

I wasn't able to understand the answer for this question. @ZhaoqiZhu would you mind elaborate? I had the impression that there's no difference in the profiler dump file regardless of the frontend so I assumed that the later steps on analyzing the dump don't involve the front-end language anymore.

[2019-05-29 00:57] szha commented on #15025
@chandana1332 While we want to release 1.5.0 as soon as possible, we still have a couple of PRs left before cutting the release candidate.  https://lists.apache.org/thread.html/b8719632a1d23da619349e91610223c090071c02658d5153fa8f0757@%3Cdev.mxnet.apache.org%3E

In the meantime if you'd like to post the PR soon, @roywei is overseeing the release and helping coordinate. Just let us know when the cha

[2019-05-29 04:49] Zha0q1 commented on #15069
My intension was to not change the existing APIs, but I can see your point. Do you think we need sorting for the tabular output though?

[2019-05-29 04:54] Zha0q1 commented on #15069
Yes, the dump file is processed by the backend, but that's more for tracing. For aggregate information we currently only have dumps() which will return a tabular string. It prints out like this.

![](https://user-images.githubusercontent.com/10722037/58362190-49f4c080-7e49-11e9-92a3-23664384544b.png)

So instead of adding a utility that parse that table into a JSON string, we can return a JSON str

[2019-05-29 06:47] anirudh2290 commented on #15069
sorting for the tabular output would be great to have! There is already an issue open for this: https://github.com/apache/incubator-mxnet/issues/14100

[2019-05-29 06:50] Zha0q1 commented on #15069
Thanks for the link! I will update my proposal to reflect that tomorrow.

[2019-05-29 08:03] Marcovaldong opened #15091 "AttributeError: module 'mxnet.ndarray._internal' has no attribute '_rnn_param_concat'"
My code was ok when using MxNet v1.1.0. When I upgrade it to v1.4.0, I got the current error when using lstm:

[code]

How can I fix it? Or should I upgrade it to newest version?

[2019-05-29 08:41] mseeger commented on #14357
Well, batch normalization makes sense also to train smaller MLPs, and some people do that (we have a project aiming to do that). And people will try to debug bigger models on CPU before pushing them out to expensive GPU instances.

I really hope this is not something very hard to fix?

[2019-05-29 09:39] xizi commented on #14694
need help too

[2019-05-29 12:17] eeqmcc opened #15092 "mxnet model convert to onnx: No conversion function registered for op type LinearRegressionOutput yet."
INFO:root:Converting json and weight file to sym and params
Traceback (most recent call last):
  File "test.py", line 11, in <module>
    converted_model_path = onnx_mxnet.export_model(sym, params, [(8,3,416,416),(8,14196),(8,84,26,26),(8,84,26,26),(8,100,5),(8,2),(8,3)], np.float32, onnx_file)
  File "C:\Users\sunbo\.conda\envs\mxnet-new\lib\site-packages\mxnet\contrib\onnx\mx2onnx\export_model.p

[2019-05-29 14:17] Mypathissional opened #15093 "Converting from Caffe to Mxnet using tools/convert_symbol (scale layer)"
Hi,

I've noticed that one cannot convert the prototxt to a symbol, if there are scale layers if the previous layer was not batch norm layer. So I was wondering which corrections should be done in order to be able to convert the following part
[code]
Would be grateful for any help :)))

Thanks in advance

[2019-05-29 16:13] aaronmarkham opened #15095 "cannot import name _distributor_init"
# Description
CI is giving me this error:
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-15087/2/pipeline

[2019-05-29 16:43] frankfliu commented on #15091
@mxnet-label-bot add [question]

[2019-05-29 16:44] frankfliu commented on #15092
@mxnet-label-bot add [question, onnx]

[2019-05-29 16:45] frankfliu commented on #15093
@mxnet-label-bot add [question, operator]

[2019-05-29 16:55] karan6181 commented on #10738
I have tried with latest master on Ubuntu EC2 instance and it's working for me.

Below is the sample output:
[code]

@sl1pkn07 Could you please try it again and see if it's failing for you or not and we can close this issue if it's not reproducible. Thanks!

[2019-05-29 17:33] jermainewang opened #15096 "[Bug] set_np_compat(shape) crash the shape inference"
## Description
We try to find a latest MX nightly build that works with DGL (v1.4 is not an option due to the bug in DLPack). Currently, we are using 1.5.0b20190523. The shape inference will fail if `mx.set_np_compat` is used. We also tried latest nightly build (requires to change `mx.set_np_compat` to `mx.set_np_shape`). The bug still exists.

## Environment info (Required)

[code]

Package used

[2019-05-29 17:34] jermainewang commented on #15096
@zheng-da @szha

[2019-05-29 17:36] jermainewang commented on #15096
Removing `mx.set_np_compat` fix the bug. Here is the correct output:
[code]

[2019-05-29 18:22] larroy commented on #14980
The discussion was moved to devlist.

[2019-05-29 18:29] szha commented on #15069
What's the value proposition in doing that, especially given that the raw dump is already available.

[2019-05-29 18:34] ZhaoqiZhu commented on #15069
Raw dump gives the events but not the stats. Before, if a user is interested in programmatically process the stats, they must call dumps() and parse the table themselves. Here we are doing that for them

[2019-05-29 18:34] Zha0q1 commented on #15069
Raw dump gives the events but not the stats. Before, if a user is interested in programmatically process the stats, they must call dumps() and parse the table themselves. Here we are doing that for them

[2019-05-29 18:46] szha commented on #15069
Yes, and a python script would do that nicely without involving other frontend (or mxnet). For example this one: https://github.com/TaoLv/mxProfileParser

What's the value addition of having that in the backend? Is it just for those who cannot use python?

[2019-05-29 18:48] aaronmarkham commented on #15084
I we look at the trend, there's a cut off point. Should these commits be rolled back?
http://jenkins.mxnet-ci.amazon-ml.com/job/mxnet-validation/job/unix-gpu/job/master/

[2019-05-29 19:13] anirudh2290 commented on #15069
@szha In case of the tool you mentioned it does the aggregation too. I think the use case that @Zha0q1 is trying to address is when one wants to directly obtain the aggregated JSON directly (to do some post-processing on it) without having to do additional work in the frontend language binding. And yes it can also be useful for other frontends.

[2019-05-29 19:13] Zha0q1 commented on #15069
I think there are multiple points:
1. People are already using dumps() and we want to present the information in a way (json) that it is easier to use. The script is still outputting a table.
2. Users may be interested in calling dumps() at multiple points within a model. With that python script they would need to call mx.nd.waitall(), start a new process to run the script, deal with synchronizati

[2019-05-29 19:41] chandana1332 commented on #15025
Yeah, I should have it ready soon. Is there a date by when I need to put the PR in?

[2019-05-29 20:42] larroy commented on #14980
@Chancebair @perdasilva can we rerun the linked CI run? is the failure related to the test or something else? (what's the root cause?)

[2019-05-29 20:46] perdasilva commented on #14980
I think the tests were causing the machine to run out of ram and crash out. Should I re-run it?

[2019-05-29 21:06] karan6181 commented on #10233
@Lucasyc Could you please try to build MXNet from source again with the latest Master and see if the issue still persist? Thanks!

[2019-05-29 21:24] larroy commented on #13578
Many thanks for the fixes @sl1pkn07 this is working now.

[2019-05-29 21:24] #13578 closed

[2019-05-29 22:29] frankfliu commented on #15096
@mxnet-label-bot add [bug, Numpy]

[2019-05-29 22:55] eric-haibin-lin commented on #14357
@PatricZhao @TaoLv  is there any success using BN for training on CPU?

[2019-05-30 00:32] larroy commented on #14999
Having to copy these libraries manually breaks development using the Python bindings which search for the library in predefined paths like build/ no?

[2019-05-30 01:17] asitstands commented on #10738
@karan6181 Would you check if the cython modules are actually used in runtime? `mx.nd._internal.NDArrayBase` should be `mxnet._cy3.ndarray.NDArrayBase` or `mxnet._cy2.ndarray.NDArrayBase`.

[2019-05-30 01:22] larroy commented on #14980
how much ram do we have in that machine?  If you are confident is not going to cause problems in your fleet I'd say let's run it to see if the problem persist.

[2019-05-30 01:37] ywwhxxtw opened #15101 "Operator ConstantFill not implemented"
## Description
I trained a Tacotron model in pytorch and exported to onnx. And now I would like to import the model to mxnet, but I met **NotImplementedError: Operator ConstantFill not implemented.** this error.

## Environment info (Required)

Ubuntu 16.04, python 3.7.3, mxnet 1.4.1 with onnx 1.5.0, all in anaconda env

Build config:
mxnet installed using pip and onnx installed using conda

## Er

[2019-05-30 01:39] ywwhxxtw commented on #15101
@mxnet-label-bot I think the tag should be ONNX and Bug

[2019-05-30 01:44] TaoLv commented on #14357
Sure. We have training benchmarks for MKL-DNN backend. @juliusshufan Can you share some recent training trends here? Better to have BN in the model. Thanks.

[2019-05-30 04:27] juliusshufan commented on #14357
@TaoLv @eric-haibin-lin Per the nightly tracking on convergence, the ResNet50 with CiFAR10 indating the  training trends to converge.
![image](https://user-images.githubusercontent.com/33112206/58608478-590ac100-82d6-11e9-9666-32cd7ddc0c88.png)

[2019-05-30 05:51] ThomasDelteil commented on #14357
The problem is not the training, the problem is the learnt running var at inference time outside a autograd scope that is messed up and leads to erroneous predictions.

[2019-05-30 05:55] juliusshufan commented on #14357
@ThomasDelteil Thanks for your prompt response. So far the training and pre-trained model based inference is covered, may I know if your proposal on a (minimum) reproduction case?

Thanks.

[2019-05-30 07:07] roywei commented on #15084
see detailed discussion in  https://github.com/apache/incubator-mxnet/pull/15099
We need to keep this open until root cause found.

As next step maybe try remove some build flags and see if it helps.

[2019-05-30 07:24] ThomasDelteil commented on #14357
Inference on a trained from scratch on CPU network is likely to be erroneous thought not guaranteed, the inference of a pretrained-on-GPU model on CPU is fine because the running values have been computed correctly.

I'll share with you tomorrow an example of a training script that works on GPU but not on CPU.

[2019-05-30 14:41] starimpact opened #15102 "the grad of lars should be scaled in lbsgd"
[code]

[2019-05-30 16:14] frankfliu commented on #15101
@mxnet-label-bot add [onnx, feature request]

[2019-05-30 16:15] frankfliu commented on #15102
@mxnet-label-bot add [operator, bug]

[2019-05-30 16:17] karan6181 commented on #10738
Yes absolutely. Could you please provide me the steps to do that?

I did something like this:

[code]

[2019-05-30 16:27] asitstands commented on #10738
[code]
@karan6181 This would be enough to see whether the cython modules are actually used in runtime. If it prints `<class 'mxnet._cy3.ndarray.NDArrayBase'>` or `<class 'mxnet._cy2.ndarray.NDArrayBase'>`, the cython modules are used. If it prints `<class 'mxnet._ctypes.ndarray.NDArrayBase'>`, there may be something wrong with the cython modules.

[2019-05-30 17:24] szha commented on #15069
do you feel that aggregating raw profiler dumps is worth adding a new C API? to me, this aggregation doesn't seem like a core functionality of mxnet since it can be done outside of mxnet. we don't have a contrib namespace for C API so it needs to be right in one shot.

back to the use case:

Adding ways for aggregation and filtering seem more principled.

I actually suspect that this is not a use

[2019-05-30 17:36] Zha0q1 commented on #15069
I think now where I am headed for is to add parameters for return format, sort_by, and ascending like Anirudh suggested. That way we are not going to create new C APIs.

`def dumps(reset=False, format="table" or "json", sort_by=..)`

[2019-05-30 17:39] RuRo opened #15103 "[Feature Request] Gluon SymbolBlock structured imports."
As far as I am aware, gluon provides only 2 ways to save/load models. Please correct me, if I am wrong.

1) using `save/load_parameters`

The problem with this option is that it doesn't save the model architecture, so you have to construct the model, before loading the parameters. You have to know **exactly** what the model was. which is really inconvenient.

For example, if you are trying to do t

[2019-05-30 17:41] frankfliu commented on #15103
@mxnet-label-bot add [Gluon, feature request]

[2019-05-30 18:05] perdasilva commented on #14980
I think the CPU instances are c5.4xlarge - so 32GB. There's been a PR to disable the CPU tests. I would suggest to re-enable it in a PR, copy the nightly tests for binaries Jenkinsfile content to be be of the PR Jenkins files and seeing if it works. I'm sorry I can't do it atm as I'm on sick leave =S

[2019-05-30 18:11] #12171 closed

[2019-05-30 18:42] tengdai722 opened #15105 "Export MXNet object detection model to ONNX"
Hi,

I am using onnx_mxnet.export_model to export MXNet models on GluonCV model zoo to ONNX format. While majority of image classification models work well, while object detection models such as fast cnn cannot be exported due to unsupported operator in the "_contrib" family. I was wondering what is a suitable way to address this problem?

[2019-05-30 19:35] frankfliu commented on #15105
@mxnet-label-bot add [question, onnx]

[2019-05-30 20:27] karan6181 commented on #10738
@asitstands Thanks for the information. I can see the cython module being loaded correctly. Below is the output:

[code]

[2019-05-30 21:09] ThomasDelteil commented on #14357
[code]

[code]

as you can see the variance is erroneous on CPU.

[2019-05-30 22:30] ThomasDelteil commented on #14357
[code]
Inside / Outside the autograd scope should only impact the batch norm operator, using the local batch normalization or the computed running mean and variance. We can see that the CPU version is a lot worse than the GPU one.

[code]

[2019-05-30 22:34] #15062 closed

[2019-05-30 23:11] karan6181 commented on #10738
@nswamy Could you please close this issue? Thanks!

[2019-05-31 01:13] pengzhao-intel commented on #15005
@eric-haibin-lin @szha the MKLDNN related issue will be fixed in #15089.
Since people are using the naive engine for better performance now.
Does anyone in your side look into the engine?

[2019-05-31 01:41] Marcovaldong commented on #15091
@szha Is there any one who got this error?

[2019-05-31 02:55] xianyujie opened #15108 "The test time of the model on GPU is normal, but the test time on CPU is very long."
Hi, I trained the same model as the original model and only changed the datasets. When I test it On GPU, the test time of my model is similar to that of the original model, however, the time of my model tested On CPU is very larger than that of the original model. Why?

[2019-05-31 04:35] frankfliu commented on #15108
@mxnet-label-bot add [Question]

[2019-05-31 04:44] sreev opened #15110 "missing new version bundle for R"
[code]

For Q & A and discussion, please start a discussion thread at https://discuss.mxnet.io
[https://discuss.mxnet.io/t/installation-broken-for-r/4095](https://discuss.mxnet.io/t/installation-broken-for-r/4095)

## Description
(Brief description of the problem in no more than 2 sentences.)

## Environment info (Required)
macOS Mojave 10.14.5

[code]

Package used (Python/R/Scala/Julia):
I'm usi

[2019-05-31 04:49] sreev commented on #15110
[code]

[2019-05-31 05:01] sreev commented on #15110
Also tried these instructions:

[https://discuss.mxnet.io/t/installation-broken-for-r-alternate-method/4098](https://discuss.mxnet.io/t/installation-broken-for-r-alternate-method/4098)

[2019-05-31 05:29] sreev commented on #15110
[code]

[2019-05-31 05:35] sreev commented on #15110
[code]

[2019-05-31 06:01] sreev commented on #15110
[code]

[2019-05-31 06:03] sreev commented on #15110
I renamed, R-package/dummy.NAMESPACE to NAMESPACE. And did another run.

[code]

[2019-05-31 06:05] sreev commented on #15110
Looks like it is a good idea to move from:
`apache/incubator-mxnet/R-package`
to:
`apache/incubator-mxnet-R-package`
**i.e. one level up**
this is then honored by `install_github` and `githubinstall` functions in R.

[2019-05-31 06:26] szha commented on #15091
@Marcovaldong this sounds like an issue where the python code was upgraded but the libmxnet.so was not. Looks like you're building from source. Could you try rebuild? To make sure the code is up-to-date:
[code]

[2019-05-31 07:56] Marcovaldong commented on #15091
@szha Yes, there are two version MxNet in my environments. I upgrade the python code and update the environment variables, but forgot to source them.

Thanks for your reply, I fixed it.

[2019-05-31 07:56] #15091 closed

[2019-05-31 09:01] xianyujie commented on #15108
Here, I tested the computation time for each output layer as follows:
Test on CPU:

id_output: 					0.00042,   	0.0005
_minusscalar0_output: 		0.000355,   0.000364
_mulscalar0_output: 		0.000345,   0.000368
conv0_output: 				0.004286,   0.005467
bn0_output: 				0.004573,   0.004223
relu0_output: 				0.005896,   0.011879
stage1_unit1_bn1_output: 	0.009214,   0.012385
stage1_unit1_conv1_output: 	0.0

[2019-05-31 11:47] chinakook opened #15112 "[Feature Request] Make mxnet be available to published by PyInstaller"
**PyInstaller** bundles a Python application and all its dependencies into a single package. It support Windows/Linux and Mac OS. We can publish our app rapidly on these platforms by PyInstaller.
However, mxnet cannot be packaged as a dependency. So I think we should make MXNet to be compatible with PyInstaller.
P.S: ```Ten*flow``` and ```Pyt*ch``` can be directly packaged with PyInstaller. I've t

[2019-05-31 13:15] pengzhao-intel commented on #15108
@xianyujie did you install the package of mxnet-cuXXmkl?
The mkl build shows very great performance. Below two links give more details.

http://mxnet.incubator.apache.org/versions/master/faq/perf.html#intel-cpu
https://mxnet.incubator.apache.org/versions/master/tutorials/mkldnn/MKLDNN_README.html