[2018-10-09 13:01] luzengxiang opened #12765 "Spark/MXnet: Logic of Code"
vVersion: 1.3.0

Spark/MXnet.scala:
class MXNet ,
method: setFeedForwardModel

Line:180
epochSize = numExamples / params.batchSize / kv.numWorkers

The value of this parameter is confusing. Is it supposed to be numExamples / (params.batchSize / kv.numWorkers)?

[2018-10-09 14:29] lebeg opened #12767 "Flaky test: test_gluon_gpu.test_slice_batchnorm_reshape_batchnorm"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1728/pipeline

[code]

[2018-10-09 14:35] lebeg commented on #12767
Possibly related to:
Failing test: test_gluon_gpu.test_slice_batchnorm: https://github.com/apache/incubator-mxnet/issues/12715

[2018-10-09 14:37] larroy commented on #12767
I'm unsure this is a flaky test, I think it's a cuda / cudnn or CI environment problem. Could you reproduce?

[2018-10-09 14:39] lebeg commented on #11164
Flaky test: test_gluon_gpu.test_slice_batchnorm_reshape_batchnorm #12767

[2018-10-09 14:58] piyushghai commented on #12767
@mxnet-label-bot [flaky, Gluon]

[2018-10-09 14:59] piyushghai commented on #12765
@mxnet-label-bot [scala, Question]

[2018-10-09 15:02] lebeg commented on #12377
Sorry, probably this is the fix: https://github.com/apache/incubator-mxnet/pull/12560

[2018-10-09 15:20] lebeg commented on #12727
@D-Roberts you cmake run tells that
[code]
Could you try to install it via
[code]
And set an environment variable before calling cmake
[code]

[2018-10-09 16:14] lebeg commented on #12767
Another consecutive run failed on master CI:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1728/pipeline

[code]

[2018-10-09 16:16] lebeg commented on #12767
The deconvolution failure is tracked in https://github.com/apache/incubator-mxnet/issues/12579

[2018-10-09 16:21] lebeg commented on #12579
Another run failed on master CI:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1728/pipeline

[code]

@luobao-intel it's due to absent `@with_seed()` annotation on the method.

[2018-10-09 16:33] lebeg commented on #12579
I've added the seed annotations to the tests (and disabled them for now) in https://github.com/apache/incubator-mxnet/pull/12770

@luobao-intel I'm afraid you would need to try to reproduce the tests in a loop. You could use our dockerized environment and modify the testing function to your needs (run only the affected test, run in a loop) in [runtime_functions.sh](https://github.com/apache/incuba

[2018-10-09 17:04] piyushghai commented on #12392
@VanDavv Hope your question has been answered :)
For more questions, please feel free to post on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
@sandeep-krishnamurthy Please close this issue.
@VanDavv Please feel free to re-open if closed in error.
Thanks!"

[2018-10-09 17:08] piyushghai commented on #11933
@lanking520 Have we been able to figure out a good automated way to publish ?

[2018-10-09 17:10] piyushghai commented on #11867
@haojin2 Were the pending updates merged for resolving the doc issues here ?

[2018-10-09 17:10] lanking520 commented on #11933
Since @zachgk is working on this, it is good to close now. @piyushghai thanks for your remind!

[2018-10-09 17:10] #11933 closed

[2018-10-09 17:15] aidan-plenert-macdonald commented on #10002
@JohnCalhoun Yeah. you have the right idea. With those, it should be very simple, other ones may become more complex, but of course start simple and work up.

[Here](https://github.com/apache/incubator-mxnet/blob/master/tests/cpp/operator/runner/core_op_runner_test.cc#L88) are the tests that sort of test the gradients. Mostly just testing that the backward pass op works. Similar code [here](https:

[2018-10-09 17:37] piyushghai commented on #12373
@aaronmarkham Seems like the validate-mxnet-installation anchor link does not go to the intended page. Can you please check the URL once again ?

[2018-10-09 17:39] piyushghai commented on #12286
@samskalicky Looks like the PR referencing this issue has been merged.
Can this issue be closed then ?

[2018-10-09 17:44] piyushghai commented on #12114
@mxnet-label-bot [Feature request]

[2018-10-09 17:48] piyushghai commented on #12071
@timprepscius Hope your issue got addressed on the Discussion Forum.
@sandeep-krishnamurthy Can you please close this issue.
Thanks!

[2018-10-09 17:49] piyushghai commented on #12054
@aaronmarkham Can you help here ?
Thanks!

[2018-10-09 17:51] samskalicky commented on #12286
@piyushghai No, this is not a problem with a single operator. Its a problem with the architecture of generating the python wrappers in the way its currently done.

The PR referencing this issue is not a solution for the actual problem, it was a solution for just the smooth_l1 operator argument issue in which this problem was discovered.

[2018-10-09 17:52] piyushghai commented on #11944
@BenLag2906 Did upgrading to MXNet 1.3 help in resolving the issue ?

[2018-10-09 17:55] piyushghai commented on #11878
@nswamy Can you close this issue  as the related PRs have been merged ?

[2018-10-09 18:00] piyushghai commented on #11842
@OneRaynyDay Did the addition of the flag multi_precision=True to the optimizer help in achieving a speed up ?
@sandeep-krishnamurthy Can you please close this issue as it looks like the commenters on this thread have seen perf boosts using clever flag tricks.

[2018-10-09 18:19] piyushghai commented on #11612
@sandeep-krishnamurthy This question seems unrelated to MXNet Repository.
Can you please close this issue ?

[2018-10-09 18:22] sandeep-krishnamurthy commented on #11612
@daedaesplayground1911  - Please reopen once get more details on this issue. Resolving it for now. Thanks.

[2018-10-09 18:22] #11612 closed

[2018-10-09 18:28] piyushghai commented on #11288
@mbaijal Just checking to see if there's been some progress on this ?

[2018-10-09 18:36] piyushghai commented on #11115
@mxnet-label-bot [Operator]

[2018-10-09 18:39] piyushghai commented on #11071
@mxnet-label-bot [Memory]

[2018-10-09 18:39] piyushghai commented on #11071
@mxnet-label-bot [Memory]

[2018-10-09 18:39] piyushghai commented on #11071
@sandeep-krishnamurthy Can you remove the label "Pending Requester Info"

[2018-10-09 18:58] piyushghai commented on #11007
@sandeep-krishnamurthy Requesting this issue to be closed as this issue is older than 120 days and also we have not been able to reproduce the issue.
@rehmanzafar We now have MXNet 1.3.0 as the latest and greatest version of MXNet. Do try it out and let us know if you still face this issue.
Please feel free to reopen this issue if closed in error.
Thanks.

[2018-10-09 19:07] zhanghang1989 commented on #11622
This is probably out-of-date. If the error doesn't exist any more, feel free to close it.

[2018-10-09 19:10] piyushghai commented on #11622
@sandeep-krishnamurthy Please close this issue as the error does not exist anymore.

[2018-10-09 19:32] #11622 closed

[2018-10-09 19:32] #11007 closed

[2018-10-09 19:34] #12071 closed

[2018-10-09 19:35] #12392 closed

[2018-10-09 19:46] piyushghai commented on #10828
@kaisark Did the above suggestion help in resolving the issue you are seeing ?
If yes, then feel free to close the issue :)

[2018-10-09 19:51] aaronmarkham commented on #12054
I looked into it and it just doesn't exist. It's not in the images repo... I think maybe the original author intended to add it but forgot. I asked around a bit too, but no bites...

[2018-10-09 19:52] piyushghai commented on #10498
@marcoabreu Pinging to check if this feature has been implemented or not :)
Thanks!

[2018-10-09 19:56] aaronmarkham commented on #12373
#12388 was merged and that removed this script from the instructions. I also moved validation to a separate page to reduce the complexity of the install page.
@piyushghai Glad to hear that the instructions work for you!

This issue can be closed.

[2018-10-09 19:56] #12373 closed

[2018-10-09 19:59] piyushghai commented on #10309
@NKUCodingCat I tried reproducing the issue on MXNet 1.3 and could not reproduce the issue.

Can you try on the latest release of MXNet ?

Thanks!

[2018-10-09 20:10] piyushghai commented on #10171
@apeforest Does your recent work on CoreML fixes address this as well ?

[2018-10-09 20:12] piyushghai commented on #10174
@frankpunx I tried the same steps but I also did a ```git submodule update --init --recursive``` and it did not give me any errors.
Please let us know if your issue has been resolved as well with this fix.
Thanks!

[2018-10-09 20:14] piyushghai commented on #10164
@tianweiz07 Are you still facing the installation issue on Raspberry Pi ?

[2018-10-09 20:16] piyushghai commented on #10123
@pakmarkthub Were you able to try @hetong007 's suggestions ?
Do you still see the hanging issue while training Cifar10 model ?

[2018-10-09 20:16] aaronmarkham commented on #12745
Hi @LuckyPigeon - take a look at these website build instructions, so you can test your changes: https://cwiki.apache.org/confluence/display/MXNET/How+to+Build+the+Website
Please let me know if you need any help.

[2018-10-09 20:17] piyushghai commented on #10119
@devymex Why do you think the swapaxisenum::kData should be changed to cvmatdataenum::kOut ?
Can you provide an example as well ?
Thanks!

[2018-10-09 20:28] piyushghai commented on #9914
@mxnet-label-bot [Gluon]

[2018-10-09 20:30] piyushghai commented on #9806
@marcoabreu Has this issue been resolved ?

[2018-10-09 20:35] ShownX commented on #12334
I do not think it is resolved.

[2018-10-09 20:36] piyushghai commented on #9396
@DickJC123 bouncing once more...

[2018-10-09 20:39] piyushghai commented on #9314
@eric-haibin-lin I tried reproducing the issue on MXNet v1.3.0 and I could not see the same error :
[code]

Can you try to see if you still get this issue ?

[2018-10-09 20:41] piyushghai commented on #12765
@luzengxiang : For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.

[2018-10-09 20:43] marcoabreu commented on #9806
Nope

[2018-10-09 20:43] piyushghai commented on #4661
@sandeep-krishnamurthy Requesting this issue to be closed as the Segmentation Fault is no longer observed.

@shadowinlife Please feel free to reopen if closed in error.
Thanks!

[2018-10-09 20:45] piyushghai commented on #9450
@prateekagarwal3 Are you still facing the issue while using im2rec.py ?

[2018-10-09 20:47] piyushghai commented on #11323
@I3orn2FLY Did @lebeg 's suggestions help you out ? Were you able to resolve your issue ?

[2018-10-09 20:47] piyushghai commented on #11323
@mxnet-label-bot [Pending Requester Info]

[2018-10-09 20:49] piyushghai commented on #9004
@leleamol Bouncing this one for your feedback.

[2018-10-09 20:54] piyushghai commented on #8729
@sandeep-krishnamurthy Requesting this issue to be closed.
@OferRosenberg Please feel free to re-open if closed in error. :)

[2018-10-09 20:56] piyushghai commented on #8726
@marcoabreu I believe our existing Jenkins setup does this separation of unit test jobs for different language bindings.
Can this issue be closed then ?

[2018-10-09 20:59] marcoabreu commented on #8726
This is still valid. Languages like scala, clojure, R and probably a few more compile their native counterparts and dependencies during unit test stage instead of compile stage.

[2018-10-09 21:00] piyushghai commented on #8726
Aah. I see. Thanks!

[2018-10-09 21:04] piyushghai commented on #8177
@sandeep-krishnamurthy Please close this issue as the CodeOwners file has been updated.

@hen Please feel free to re-open the issue if closed in error.
Thanks!

[2018-10-09 21:09] piyushghai commented on #3615
@allenlverson I believe your question has been answered.
To summarize the issue :
One can specify a custom label name when you define your own data iterator.
Eg :
[code]

@sandeep-krishnamurthy Requesting this issue to be closed.

@allenlverson Please feel free to re-open the issue if closed in error :)

Thanks!

[2018-10-09 21:27] piyushghai commented on #12755
@ChaiBapchya You can also post this question on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.

[2018-10-09 21:29] piyushghai commented on #12752
@sandeep-krishnamurthy Requesting this issue to be closed since the author has resolved the issue :)

[2018-10-09 21:43] piyushghai commented on #10831
@zzd1992 Can you update your findings with regards to inconsistent outputs with same seeds ?

[2018-10-09 21:45] piyushghai commented on #10271
@ajayvohra2005 Did the commit :  dmlc/dmlc-core#384 help resolve your issue ?
If yes, can you close this issue?

Thanks!

[2018-10-09 21:46] piyushghai commented on #9897
@reminisce Have we been able to address this issue in the visualization tool in DMLC ?

[2018-10-09 21:49] piyushghai commented on #9527
@panovr I tried building MXNet from the latest commit on master branch : c98b19e2d108a3861d89b475927e8a21a913e540 and I did not encounter any segmentation fault on both Python 2.7 and Python 3.6. Looks like this was an intermediate issue which got fixed long ago.

@sandeep-krishnamurthy Requesting this issue to be closed as it is not reproducible.

@panovr Feel free to re-open if closed in error!

[2018-10-09 21:51] piyushghai commented on #9507
@lebeg @larroy Bouncing this ...

[2018-10-09 21:53] piyushghai commented on #9015
@leleamol Something we can look at. 2 C++ tests failing out of 71.

[2018-10-09 21:55] piyushghai commented on #9393
@zhangguotai Can you provide an update here ?

Thanks!

[2018-10-09 22:00] #9527 closed

[2018-10-09 22:00] piyushghai commented on #8952
@mangojiez Did the explanation in #8309 help you out ?

Thanks!

[2018-10-09 22:00] #12752 closed

[2018-10-09 22:01] #3615 closed

[2018-10-09 22:01] #8177 closed

[2018-10-09 22:01] piyushghai commented on #8434
@jinfagang Can you update whether your issue got resolved or not ?

Thanks!

[2018-10-09 22:01] #8729 closed

[2018-10-09 22:02] #4661 closed

[2018-10-09 22:02] #10020 closed

[2018-10-09 22:05] piyushghai commented on #12675
@mxnet-label-bot [Flaky, Test]

[2018-10-09 22:19] piyushghai commented on #12472
@kepler-cpu Did the command ```ci/build.py -p armv7``` help ?

[2018-10-09 22:21] piyushghai commented on #12431
@jeremiedb Were you able to open a PR for this ?
If yes, can you link the PR to this issue to that it can be tracked ?

[2018-10-09 22:48] marcoabreu commented on #10498
Yep, they are automatically pulled if people use the build.py script. Thanks for the heads up.

[2018-10-09 22:48] #10498 closed

[2018-10-09 23:37] piyushghai commented on #12528
Having a look into it. Will update my findings here.

[2018-10-10 00:05] rohun-tripathi commented on #1531
This could work, but not without making changes to mxNet, which could be being used by others. Is there a cleaner solution

[2018-10-10 00:28] gaurav-gireesh commented on #12767
Flaky test failure.
Please refer to the jenkins' log below:
[Log](http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12750/15/pipeline/)

[2018-10-10 00:33] piyushghai commented on #12528
Here are my findings :

I compiled MXNet from source using the instructions here : https://mxnet.incubator.apache.org/install/index.html?platform=Linux&language=Python&processor=CPU . MXNet was compiled from the master branch using the commit hash : c98b19e2d108a3861d89b475927e8a21a913e540

I used a machine with Ubuntu 16.04 as pointed by @pengzhao-intel to try to reproduce the error.

**mxnet_adv

[2018-10-10 03:28] jeremiedb commented on #12431
@piyushghai Thanks for the reminder, I just open the PR.

[2018-10-10 03:41] luzengxiang commented on #12765
Class: org.apache.mxnet.spark.MXNet

[2018-10-10 04:30] lupesko commented on #10881
@pengzhao-intel is this something you guys can help with?

[2018-10-10 04:30] lupesko commented on #8219
@pengzhao-intel is this something you guys can help with?

[2018-10-10 04:54] pengzhao-intel commented on #10881
@lupesko Sure

[2018-10-10 05:07] pengzhao-intel commented on #8219
OK, will take a look for this issue.

[2018-10-10 05:28] haven-jeon opened #12778 "Cannot print parameter summary of embedding layer"
## Description
0  parameter of Embedding layer, when print_summary()

## Environment info (Required)

MXNet 1.3.0

Package used (Python/R/Scala/Julia):
I am using python

## Minimum reproducible example

[code]

[code]

[2018-10-10 05:30] piyushghai commented on #12778
@haven-jeon Thank you submitting this issue. We will look into this

@mxnet-label-bot [Bug, Gluon]

[2018-10-10 06:36] soeque1 commented on #12778
https://github.com/chinakook/mxnet/blob/50f0c4ccf3ebcf1d9f014f39b67dd4c8f28eda80/python/mxnet/visualization.py

It seems that the Embedding layers is currently missing.
So It needs to be added at Line 162 as below.

elif op == 'Embedding':
    key = node["name"].replace("fwd", "weight")
    if show_shape:
        cur_param = shape_dict[key][0] * shape_dict[key][1]

[2018-10-10 06:49] ZhennanQin opened #12779 "symbol.rand_zipfian doc provides mismatch example"
In python/mxnet/symbol/contrib.py:

[code]
This example is for NDArray version, but this op is the symbolic one. This will cause end-user misleading.

[2018-10-10 09:22] sliawatimena commented on #8955
I am using windows 7, anaconda navigator 1.9.2, Python 3.6.6, Jupyter notebook 5.7.0, try to learn code from [Gluon crash course chapter 5](https://gluon-crash-course.mxnet.io/train.html).

I already add
import _pickle as cPickle

I got stuck at

[code]

please help. thanks.

[2018-10-10 13:14] lebeg commented on #12767
Another failure:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12766/2/pipeline

[code]

[2018-10-10 13:26] lostella opened #12783 "Name conflict when serializing LSTMCell"
## Description
A name conflict occurs when serializing a custom HybridBlock that contains a ~~HybridSequentialRNNCell~~ LSTMCell. As a result, deserialization with mx.gluon.SymbolBlock.imports fails.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia): I'm using Python

## Error Message:
[code]

## Minimum reproducible example

https://gist.github.com/lostella/261fd5d08dfb

[2018-10-10 16:33] kalyc commented on #12528
Thanks for taking a look at the other examples @piyushghai
@luobao-intel could you please close the issue if your query has been resolved?

[2018-10-10 16:41] ankkhedia commented on #6783
@danithaca The question involved was getting different outputs of same seed across GPU runs. The numbers which I posted still had same values across GPU runs. The values changed when we switched  context from GPU to CPU but it was same for the same context. As far as my understanding, the same seed can produce different results across contexts but in a particular machine for a fixed context, it sh

[2018-10-10 16:42] piyushghai commented on #12778
@soeque1 Thank you for your suggestion! Maybe you can raise a PR for this fix and contribute to the development of MXNet community :)

[2018-10-10 16:58] piyushghai commented on #8955
@sliawatimena Can you file a separate issue on this repository and also can you provide a minimum reproducible example to help debug this issue ?

From the stacktrace that you've posted, it seems unclear as to where you are using pickle ?
Also, are you using pickle.dump or pickle.load ?

[2018-10-10 17:45] zhreshold commented on #12676
Yep, the order is wrong, could you open a PR to fix it, since the last conversation is closed. @ChaiBapchya

[2018-10-10 18:09] piyushghai commented on #12783
@lostella I tried running your example code provided, but I ran into the following error when I instantiated the block object :

[code]

[2018-10-10 18:11] piyushghai commented on #12783
@mxnet-label-bot [Pending Requester Info]

[2018-10-10 18:28] piyushghai commented on #8581
@SrivastavaKshitij Here's a list of example models we have on MXNet : https://github.com/apache/incubator-mxnet/tree/master/example

You can also have a look at our Model Zoo : https://mxnet.apache.org/model_zoo/index.html
Hope this helps!

[2018-10-10 18:32] piyushghai commented on #12310
@ankkhedia Did your PR fix this issue for the failing test ?
@lebeg Have we been able to see any more instances of this failure in recent times ?
If it's fixed, can we close this issue ? :)

[2018-10-10 18:35] piyushghai commented on #12280
@mqtlam Seems like the PR for the fix got merged recently.
Can you verify if your problem is resolved now ?

[2018-10-10 18:36] ankkhedia commented on #12310
@piyushghai The flakiness of the test is fixed but the PR for fixing topk operator is still not merged.
https://github.com/apache/incubator-mxnet/pull/12446
Some of the tests has been disabled as a part of the above fix which needs to be re-enabled once the operator gets fixed

[2018-10-10 18:38] piyushghai commented on #12063
@mxnet-label-bot [Pending Requester Info]

[2018-10-10 18:44] piyushghai commented on #11817
Seems related to https://github.com/apache/incubator-mxnet/issues/11846

[2018-10-10 18:59] #10217 closed

[2018-10-10 20:09] #11842 closed

[2018-10-10 20:29] piyushghai commented on #12783
Aah. My bad here. Seems like my Jupyter Notebook was running python 2 as default kernel.

[2018-10-10 21:07] vandanavk commented on #12602
FYI. Changes currently in review on ONNX https://github.com/onnx/onnx/pull/1467

[2018-10-10 21:50] piyushghai commented on #12682
@zhengyi2015mi Can you provide a snippet of your model code in order to debug this issue ?
Thanks!

[2018-10-10 21:52] piyushghai commented on #12728
@sandeep-krishnamurthy Looks like the PR for this got merged.
Can you close this issue ?

Thanks!

[2018-10-10 21:53] piyushghai commented on #12598
@KellenSunderland @larroy bouncing...

[2018-10-10 21:58] piyushghai commented on #12577
@liu6381810 Did the previous suggestions help you in this case ?

[2018-10-10 22:18] piyushghai commented on #12405
@dorest I tried the same steps mentioned by you :
[code]

[2018-10-10 23:03] piyushghai commented on #12783
@lostella Here are my findings on the issue :

The symbol names are not getting saved properly in the symbol.json file generated.
More specifically, with the unroll sequence length generates/replicates the same LSTM layer 'n' times, where n is the unroll seq length.
Now if you closely examine the error : ```myblock0_lstm0__plus0_output``` it has a double``` '_'``` in between indicating something i

[2018-10-10 23:35] #9288 closed

[2018-10-11 01:04] ssbusc1 opened #12787 "nd.sparse.clip operation return type is different from the input"
As per the documentation at https://mxnet.incubator.apache.org/api/python/ndarray/sparse.html#mxnet.ndarray.sparse.clip, the nd.sparse.clip operation should return a CSR for a CSR input. But it is returning a RowSparseNDArray. This seems like a bug, as clipping may only be one of multiple steps in processing the sparse input, and the change in type adds friction.

Test case:
[code]

Diagnostics:
[

[2018-10-11 02:17] sliawatimena commented on #8955
Dear @piyushghai,

I just copy from [5. Train the neural network](https://gluon-crash-course.mxnet.io/train.html), from step 1 - 5 are okay. In step 6, the error message are as previous post.

From googling results: this looks like a Windows-specific problem with Python multiprocessing. Please help.

Thanks.

Suryadi

[2018-10-11 02:36] D-Roberts commented on #12727
@lebeg
Does this test pass for you?

FAIL: test_symbol.test_symbol_fluent
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg)
  File "/Users/denisaroberts/workspace/incubator-mxnet/tests/python/unittest/test_symbol.py", line 195, in test_

[2018-10-11 03:48] piyushghai commented on #12787
@ssbusc1 Thanks for filing this issue! We will look into this.
@mxnet-label-bot [Bug, Sparse]

[2018-10-11 04:17] #12405 closed

[2018-10-11 04:18] nswamy commented on #12673
@rozaliyaeverstova thanks for reporting, please refer to the website for downloading the notebook as @aaronmarkham suggested. I am closing this as not an issue, feel free to play with mxnet and bring to our notice issues you may find.

[2018-10-11 04:18] #12673 closed

[2018-10-11 05:09] soeque1 commented on #12778
Thank you for the quick reply. I will PR soon :)

[2018-10-11 05:44] #12543 closed

[2018-10-11 07:19] pengzhao-intel commented on #12703
fix is merged so close.

[2018-10-11 07:19] #12703 closed

[2018-10-11 10:35] daedaesplayground1911 commented on #11612
Yes I'm specifically searching for government liquidation sites and places where I can aquire documents relating to services that are offered to any citizen and people with disabilities.

[2018-10-11 10:38] daedaesplayground1911 commented on #11612
I'm trying to find government liquidation places that specifically specialize in selling vehicles, weapons, used smartphones, and computers.

[2018-10-11 11:06] sxjscience commented on #12310
The bug is caused by memory misalignment. As stated in https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#device-memory-accesses , CUDA device memory must be aligned. Currently, we slice a `char *` object to generate pointers of other dtypes. In this process, we haven't aligned these ptrs correctly. This triggers the "CUDA: misaligned address" error.

This is a common mistake in many

[2018-10-11 11:34] lostella commented on #12783
I simplified the MWE: https://gist.github.com/lostella/9a790fd89726c1741a1fcf4194a5dac6

It seems like it's ultimately an LSTMCell problem.

[code]

[2018-10-11 14:05] vafl opened #12795 "Deserialization problem with gluon `ValueError: There are multiple outputs with name ...`"
## Description

For a simple HybridBlock, saving and deserializing the symbol fails with mxnet 1.3 when an embedding layer is used multiple times. This used to work with mxnet 1.2

It may or may not be related to this issue: https://github.com/apache/incubator-mxnet/issues/12783

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
I'm using python

## Error Message:
(Paste

[2018-10-11 14:12] marcoabreu commented on #12795
@srochel

[2018-10-11 14:18] apeforest commented on #10171
@piyushghai I will take a look.

[2018-10-11 15:27] piyushghai commented on #12795
This seems similar to #12783

[2018-10-11 15:37] lostella commented on #12795
Looks like the problem occurs with `Dense` as well, so the issue probably lies in the `+`:

[code]

gives

[code]

[2018-10-11 15:58] aaronmarkham opened #12797 "test_subgraph.test_pos_conv_bn_sum_relu fails in CI"
Unrelated .js update failed in CI:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12781/4/pipeline

[code]

[2018-10-11 16:18] sandeep-krishnamurthy commented on #12797
I have reverted my PR on Batchnorm that brought in this issue to master. Unblocking master and PR builds - https://github.com/apache/incubator-mxnet/commit/50d231330cf0d4f3862c368cdec4510f50ae6e91

Now pipeline is green. I am working on the fix - https://github.com/apache/incubator-mxnet/pull/12788

Resolving this issue as it is no more applicable.

[2018-10-11 16:18] #12797 closed

[2018-10-11 16:43] piyushghai commented on #12431
@some-guy1 The PR for fixing this got merged. Can you verify and close this issue if the bug is bug ?

Thanks!

[2018-10-11 16:53] larroy opened #12799 "ERROR: test_ndarray.test_order fails on ARMv7 (Qemu)"
More details to be added once https://github.com/apache/incubator-mxnet/pull/12094 gets merged

## Description
ERROR: test_ndarray.test_order fails on ARMv7 (Qemu)

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please provide:
1. Java version: (`java -version`)
2. Maven version: (`mvn -version`)
3. Scala runtime if applicable: (`scala

[2018-10-11 16:55] piyushghai commented on #12799
@mxnet-label-bot [Flaky]

[2018-10-11 16:56] larroy commented on #12799
@piyushghai  is not flaky.

[2018-10-11 16:56] larroy commented on #12799
@mxnet-label-bot, please add labels :[ARM, NDArray, Bug]

[2018-10-11 17:51] Vikas89 opened #12800 "getting segfault while running train_cifar10.py program in example directory"
I am trying to run this command:
python example/image-classification/train_cifar10.py

And getting the segfault. It is very consistent.
[code]

## Environment info
build command -  make -j8 USE_DIST_KVSTORE=1
os: mac

[code]

I am trying to build and repro on linux machine.

[2018-10-11 19:11] ChaiBapchya opened #12801 "Inconsistent function signature of NDarray.randn"
## Description
NDArray.randn function signature
`def rand (*shape, **kwargs):`
is incorrect and inconsistent with rest of the signatures in Random Number Generator NDArray API

a. Rest of the parameters - loc, scale, shape, dtype, ctx, out need to be included
b. *shape has to be replaced by shape
c. Why is another level of abstraction added by putting everything in **kwargs and then popping it up.

[2018-10-11 19:15] anirudhacharya commented on #12801
can you please add links and references in the above issue description

[2018-10-11 19:23] szha commented on #12783
The problem is in the sample code. Since HybridSequentialRNNCell is a container block, you need to use its name_scope if you intend to properly export it as a symbol.
[code]

[2018-10-11 19:32] danithaca commented on #6783
Read the code again, and the results and explanation makes sense. Thanks @ankkhedia. @nswamy -- thanks for reopening the issue. I agree that the problem seems to be resolved and can be closed. Thank you both.

[2018-10-11 19:39] lostella commented on #12783
Unfortunately, that does not seem to solve the issue. See also the simpler example in my previous comment, which does not involve HybridSequentialRNNCell.

[2018-10-11 19:43] szha commented on #12783
For the problem with LSTM alone, the problem is in not naming some of the elementwise operations. In LSTM there are three names that are repeating:
[code]
They come from the [plus0 here](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/rnn/rnn_cell.py#L514), and the [mul0 and mul1 here](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/rnn/rnn_cell.py

[2018-10-11 19:43] szha commented on #12783
This problem exists in RNN and GRU as well, so all three needs to be patched.

[2018-10-11 19:52] ankkhedia commented on #6783
@nswamy @sandeep-krishnamurthy Could you please close the issue as the confusion has been resolved.

[2018-10-11 19:54] piyushghai commented on #12800
Thanks for reporting this issue @Vikas89
@mxnet-label-bot [Example, Bug]

[2018-10-11 19:55] sameer-kapoor opened #12802 "Crash while loading libmxnet-scala.so"
## Description
Random crashes while loading libmxnet-scala.so with both Mxnet 1.2.0 and 1.3.0

## Environment info (Required)

[code]

Package used:
Scala

For Scala user, please provide:
1. Java version: 1.8.0_112-b15
2. SBT version: 0.13
3. Scala runtime: 2.12

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

MXNet commit hash:
b3be92f4a48bce62a5a84242718

[2018-10-11 19:56] piyushghai commented on #11542
Similar issues perhaps : #12795 , #12794

[2018-10-11 19:57] vandanavk commented on #12783
Similar error occurred in https://github.com/apache/incubator-mxnet/issues/11542

[2018-10-11 19:57] piyushghai commented on #12802
Thank you for reporting this issue. We will look into it.
@mxnet-label-bot [Scala, Breaking]

[2018-10-11 19:58] piyushghai commented on #12801
Thank you for reporting this issue @ChaiBapchya
@mxnet-label-bot [NDArray]

[2018-10-11 20:00] Vikas89 commented on #12800
I think there was a fix made in relevant area of code: https://github.com/dmlc/dmlc-core/commit/e3377de933d3e069635150fb330ce6cc33b57950#diff-855ba648d1f4003608aa37ba3d060043

I will retry this on latest code and check if I can reproduce this again. I will keep this thread updated.

[2018-10-11 20:04] lanking520 commented on #12802
@sameer-kapoor Thanks for your question. Please provide some detailed information on the crash message. Have you tried to build from source or use the jar package on Maven?

[2018-10-11 20:04] ChaiBapchya commented on #12801
Yup, I'm working on another PR that will have fix for this too.

[2018-10-11 20:15] piyushghai commented on #12802
@mxnet-label-bot [Pending Requester Info]

[2018-10-11 20:27] sameer-kapoor commented on #12802
@lanking520 We build from source using SBT and on the same OS versions as where the tests are run.
We haven't tried the Maven jar package since we use Scala 2.12.

As far as the crash goes there is nothing else available to us other than what I have posted. If you'd like like I can post the thread dump from the hs_err_pid.log.

[2018-10-11 20:33] lanking520 commented on #12802
@sameer-kapoor Could you please bring the steps you have taken to build from source?

Note: We haven't tested the Scala package build on Cent OS. We do a test on Ubuntu 16.04 and above.

[2018-10-11 20:34] piyushghai commented on #12802
Here's a reference of the Scala Package building steps :
https://github.com/apache/incubator-mxnet/tree/master/scala-package#build

[2018-10-11 20:37] sandeep-krishnamurthy commented on #12795
I observed that the issue occurs when 2 inputs pass through the same block. Trying to understand the root cause for this as it works fine with mxnet 1.2.1

[2018-10-11 20:39] piyushghai commented on #12802
@sameer-kapoor Can you try modifying the MSHADOW Flags as mentioned here before building MXNet from source?
https://philipskokoh.github.io/blog/mxnet-on-centos

[2018-10-11 21:40] lostella commented on #12783
@szha yes, thanks. That's basically #12794.

[2018-10-11 21:48] sandeep-krishnamurthy commented on #12795
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/block.py#L1050
this is the new addition after 1.2.1 which calls output symbol.get_internals() and then finds duplicate names and fails.

[2018-10-11 21:55] milandesai commented on #12802
Hello, to build the C++ library, we simply run 'make' on a CentOS 7 machine. We build the Scala package using a custom SBT script so that we can create artifacts for Scala 2.12. We will run some tests on a sample project using Scala 2.11 to see if the same issue arises when we run `make scalapkg`. That way we can rule out whether there's an issue with our Scala build process.

As to @piyushghai 's

[2018-10-11 21:58] Vikas89 commented on #12800
I am not seeing this issue now, closing this

[2018-10-11 22:08] lanking520 commented on #12802
@sameer-kapoor @milandesai We are trying to reproduce the issue you may facing by the steps came from the CI:
[code]
And build the MXNet backend with the following command:
https://github.com/apache/incubator-mxnet/blob/master/ci/docker/runtime_functions.sh#L239-L253

We tested with python install and it succeeds with:
[code]
However, Scala contains linking issues:
[code]
From the community feedba

[2018-10-11 22:14] #12334 closed

[2018-10-11 23:08] safrooze commented on #12795
@lostella while the issue is being root caused,  one work around in this case would be to use different blocks with shared parameters:

[code]

[2018-10-12 02:51] pengzhao-intel commented on #12710
We start to look at the issue and will back soon :)

[2018-10-12 06:41] HaoLiuHust opened #12806 "when use python3 to write recodeio, "can't concat str to bytes" will happen"
for example there is a writeable rec,
[code]

[2018-10-12 06:45] piyushghai commented on #12806
@HaoLiuHust You can also post this question on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.

Can you provide a more elaborate example which explains your query more ?

@mxnet-label-bot [Question]

[2018-10-12 06:49] HaoLiuHust commented on #12806
how to reproduce:
[code]
the error finally occur in recordio.py, line340:
[code]
since label.tostring() is a bytes in python3. when use python2, it will be ok

[2018-10-12 07:35] tdomhan commented on #12710
thanks you! We are currently experimenting with a workaround that can be found here:
https://github.com/awslabs/sockeye/tree/forkserver

The bottom line is to create a forkserver with a clean python interpreter process before MXNet is imported. If we use that forkserver for forking our decoder process we do not observe the behavior. That said, it is still concerning that one can no longer fork aft

[2018-10-12 08:19] Mut1nyJD opened #12807 "No conversion function registered for op type Deconvolution yet"
Hi I am using the latest official release of MXNET 1.3.1 I see this message when trying to convert my MXNet network to ONNX. My network consists of an encoder/decoder structure. The decoder using deconvolution layers.

As far as I know ONNX has a convolution transpose node so technically it should be possible.

[2018-10-12 12:39] milandesai commented on #12802
Hi @lanking520 , I ran the ldd command and there was no linking issue. Also, I simplified our set up to rule out any issues with our specific application logic and custom Scala 2.12 build process. To do this, I created a simple Scala 2.11 project that creates and prints out a small NDArray. The MXNet library for CentOS was built by installing opencv-devel and atlas-devel on a CentOS 7 VM followed

[2018-10-12 15:29] piyushghai commented on #12807
@Mut1nyJD Thank you for posting your question. We will look into it.
@mxnet-label-bot [ONNX, Question]

[2018-10-12 16:41] piyushghai commented on #12807
@Mut1nyJD Seems like your request already has a work in progress PR : https://github.com/apache/incubator-mxnet/pull/12399. The work on this PR should be completed soon!

@mxnet-label-bot [Feature Request]

[2018-10-12 16:58] lumist opened #12813 "Installation error by pip in Anaconda environment"
I have already installed NVIDIA's driver and CUDA in Ubuntu 16.04. And when I activate Anaconda environment and use pip to install mxnet or mxnet-cu*, there is an installation error showing like this:
[code]

I use 'pip install mxnet-cu92 -i https://pypi.tuna.tsinghua.edu.cn/simple/', there is still the same error as below.
I tried Python 3.6.5, 3.5.6 and 2.7.15 in anaconda environment, and the ve

[2018-10-12 16:58] lanking520 commented on #12802
@milandesai thanks for your reply. I am now aware of what's going on. It seemed like the crashes are random and SIGINT came from the backend. To track the performance of CentOS to ensure its compatibility,  we will try to get Scala Build for CentOS on CI. Hope this would help to improve the stability on Scala package for future release.

Since the issue is with a docker, could you please try with

[2018-10-12 17:02] piyushghai commented on #12813
@lumist Thanks for submitting your issue.
You can also post this question on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.

@mxnet-label-bot [Installation, pip, Question]

[2018-10-12 17:32] johnbroughton2017 opened #12814 "MXPredReshape always fails (return -1) - MXNet 1.3.0 C-API"
Hi friends,

I am having some problem with MXPredReshape(). I tried to reshape the input to a larger size but the function always returns -1. The code is given below. I am not sure what went wrong since there is not error hints. Any suggestion is highly appreciated. Thanks.

-- J

``

        // create Predictor
        mx_uint num_input_nodes = 1;  // 1 for feedforward
        const char* input_k

[2018-10-12 17:44] piyushghai commented on #12814
@johnbroughton2017 Thank you for posting your question.
You can also post this question on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.

@mxnet-label-bot [C++, Question]

[2018-10-12 17:46] JohnCalhoun commented on #10002
@aidan-plenert-macdonald should we write test that check for accuracy of gradient calculations and not just that the op runs? also it looks like there is not full test coverage of gradients and ops in those files? (this discussion might better belong in a different thread)

[2018-10-12 18:15] sahbiept opened #12815 "incubator-mxnet/3rdparty/mshadow/mshadow/./base.h:162:14: fatal error: cblas.h: No such file or directory"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-10-12 18:18] johnbroughton2017 commented on #12814
done! thank you @piyushghai

[2018-10-12 18:20] piyushghai commented on #12815
@sahbiept Thanks for reporting this issue.
Can you provide additional information about the environment by following these steps :
[code]

This will help us to debug further.

@mxnet-label-bot [R, Installation, Pending Requester Info]

[2018-10-12 18:28] ankkhedia commented on #12815
@anirudhacharya Could you please take a look?

[2018-10-12 18:39] piyushghai commented on #12814
@johnbroughton2017 Looking at the code snippet you pasted,
Specifically : ```const mx_uint input_shape_data[4] = { batch_size, input_depth, input_height, input_width };```

What are the values of ```input_height``` and ```input_width``` ?

Because you are reshaping it to :
```const mx_uint new_input_shape_data[4] = { batch_size, input_depth, 512, 512 };```

So for the reshape to work, the product

[2018-10-12 18:44] apeforest commented on #10171
@Bathilde I am not clear about your question. I have just run the command:
`python mxnet_coreml_converter.py --model-prefix='Inception-BN' --epoch=126 --input-shape='{"data":"3,224,224"}' --mode=classifier --pre-processing-arguments='{"image_input_names":"data"}' --class-labels synset.txt --output-file="Inception-BN.mlmodel"` and it seems to have generated the model Inception-BN.mlmodel for me. Co

[2018-10-12 18:47] anirudhacharya commented on #12815
This error is not related to the R-package. The error is happening when he is trying to create the base .so file.

@sahbiept can you please share the commit hash of the commit you are trying to build. Thanks.

@mxnet-label-bot [Build]

[2018-10-12 19:00] Mut1nyJD commented on #12807
@piyushghai

Great thank you for the update I'll keep an eye on the PR

[2018-10-12 19:06] aidan-plenert-macdonald commented on #10002
@JohnCalhoun I would say to do testing in 3 different stages. IMO, each stage should be a separate PR.

1. At first, simple check that each op (or the ops we want to test) have a second order gradient registered. Meaning get the registered gradient and then assert that the gradient also has a gradient.
1. Run the second order gradient and assert that output has the expected shape. Meaning 3x4 matr

[2018-10-12 19:21] sahbiept commented on #12815
@piyushghai  thank you for your fast response, this the output of diagnose.py

----------Python Info----------
Version      : 3.6.5
Compiler     : GCC 7.2.0
Build        : ('default', 'Mar 29 2018 18:21:58')
Arch         : ('64bit', '')
------------Pip Info-----------
Version      : 10.0.1
Directory    : /opt/Anaconda/Anaconda3-5.1.0/envs/mro_env/lib/python3.6/site-packages/pip
----------MXNet Inf

[2018-10-12 21:28] mirocody opened #12817 "mxnet-cu90mkl does not work on g2.8xlarge instance"
## Description
got core dump when import mxnet(mxnet-cu90mkl) in g2.8xlarge instance.

## Environment info (Required)

----------Python Info----------
('Version      :', '2.7.15')
('Compiler     :', 'GCC 7.2.0')
('Build        :', ('default', 'May  1 2018 23:32:55'))
('Arch         :', ('64bit', ''))
------------Pip Info-----------
('Version      :', '10.0.1')
('Directory    :', '/home/ec2-user/an

[2018-10-12 21:38] piyushghai commented on #12817
@mxnet-label-bot [Build, Installation, Breaking]

[2018-10-12 21:59] marcoabreu commented on #12817
Did you compile MXNet from source? It looks like you're using a published version of MXNet that was compiled for a CPU (?) instruction set that's not supported by the CPU in a G2 instance (aka, the CPU is too old).

This should be resolved if you compile from source. Could you give that a shot please?

[2018-10-12 22:14] #12676 closed

[2018-10-12 22:15] rohun-tripathi commented on #8189
I am still experiencing this. If you don't run mx.nd.waitall(), the memory leaks on whichever context you are using. I am using MXNet version '1.3.1'

[2018-10-12 22:15] #11646 closed

[2018-10-12 22:20] JohnCalhoun commented on #10002
@aidan-plenert-macdonald
I like your idea, so the steps would be:

1. write test case that
     1. lists all ops
     1. for each op check for gradient
     1. for each gradient check for gradient
1. PR
1. begin writing ops, for each add test case that checks shape
1. PR
1. write finite difference tests
1. PR

Writing each op should be self contained, So once we have a list of all ops need we can

[2018-10-12 22:30] #12329 closed

[2018-10-12 22:42] milandesai commented on #12802
Hi @lanking520 , issue was not reproduced on ubuntu build. I have another update. We isolated a specific physical node on which the crash was occurring. The crash only occurs when Kubernetes Jenkins runs the application on a pod on that specific CentOS 7 node, hence the intermittency. When it does run on that node, MXNet crashes every time. At first glance, there is no difference between the fault

[2018-10-12 22:44] milandesai commented on #12802
Since we are unblocked and can't provide details about the faulty node in the short-term, feel free to close this ticket

[2018-10-12 22:47] piyushghai commented on #12802
Thanks @milandesai for your investigation here. Happy to know that you are unblocked by it.

@sandeep-krishnamurthy Please close this issue as indicated by Milan here.

[2018-10-12 22:51] lanking520 commented on #12802
Nice!! Thanks for your contribution to the community and we will ship CentOS build/test very soon 👍

[2018-10-12 23:32] piyushghai commented on #12431
@sandeep-krishnamurthy The related PR is merged. The new R-package will include this fix when we release the new binaries of R along with the next MXNet release.
Please close this issue.

@some-guy1 Please feel free to re-open if closed in error. In case you want to instantly verify the fix, you can follow the instructions to build the R-package from source here : https://mxnet.incubator.apache.or

[2018-10-12 23:52] #12431 closed

[2018-10-12 23:52] #12802 closed

[2018-10-13 00:06] leleamol commented on #12247
@lupesko  yes it does solve the issue. The example demonstrates how to use CSVIter.

[2018-10-13 00:08] JohnCalhoun commented on #10002
progress on first part:
[code]

[out.txt](https://github.com/apache/incubator-mxnet/files/2474888/out.txt)

[2018-10-13 01:50] aidan-plenert-macdonald commented on #10002
@JohnCalhoun Yeah, that looks really good. I guess we need to figure out if we can somehow to register compound ops so we can do things like cos(x) -> -sin(x). I'll look into that. I'm happy to help writing simple ops once we get there. You could make the test assemble a graph of ops to gradients and run something like [Tarjan's Algorithm](https://en.wikipedia.org/wiki/Tarjan's_strongly_connected_

[2018-10-13 02:15] egeaydin commented on #8955
This https://github.com/apache/incubator-mxnet/issues/10562  issue helped me.
[code]
Change ``` num_works=4``` to ```num_works=0```.

Hope this helps.

[2018-10-13 02:17] HauWong commented on #3205
I have met the same problem now! so how do you solve it?

[2018-10-13 04:58] eric-haibin-lin commented on #9314
How many times did you try? I'm still getting this error. Another attempt on Mac:
[code]

[2018-10-13 09:04] ghandzhipeng commented on #12062
thanks!

[2018-10-13 09:32] SunnyBeike commented on #11402
@ArmageddonKnight
Hi, I use the mlp_gpu example in the cpp-package to do the same experiments, but nothing was printed. Is there other operations I need to do to trace the memory allocation? Thanks.

[2018-10-13 12:50] marcoabreu commented on #12815
Can you please try installing lib-atlas-dev using apt?

[2018-10-13 13:19] marcoabreu commented on #12814
@piyushghai I have corrected the label assignment. This issue is about the C API which is part of our internal API design.

@johnbroughton2017 Please note that the C-API is not intended for external usage and thus not governed by our semantic versioning. The API might change at any point in time, so please consider this in case you build a critical service on top of it.

[2018-10-13 17:59] johnbroughton2017 commented on #12814
Thanks for your feedback @marcoabreu

I am curious if mxnet will provide standard C APIs to developers soon. My application needs to run in realtime so our code is generally in C/C++. Thanks.

[2018-10-13 18:14] JohnCalhoun commented on #10002
@aidan-plenert-macdonald so I have been looking in to how the unary ops work. I don't think it is possible to register compound ops. It seems the engine is not doing arbitrary differentiation, it just looks up what was registered as the derivative. so -sin(x) has to be its own op and there is no way to describe it is mul(-1,sin(x)) with mul and sin being ops. Am I understanding this right?

sin(x)

[2018-10-13 18:58] marcoabreu commented on #12814
Please have a look at https://github.com/apache/incubator-mxnet/tree/master/cpp-package

The cpp package is our user-facing frontend API that's written in c++. Does that suite your use case?

[2018-10-13 19:28] ArmageddonKnight commented on #11402
@SunnyBeike Sorry but I am not sure what has happened in your case, but there should definitely be something printed. After all, MXNet needs to allocate certain amount of GPU memory to the inputs, outputs, and weight parameters (whether those sum up to be the total memory consumption reported by `nvidia-smi` is another problem). My suggestion goes as follows:

- Have you recompiled the core librar

[2018-10-13 23:18] JohnCalhoun commented on #10002
more updates:
I tried out the sin(x)->cos(x)
so code looked like this:
[code]

but it does not work. this is because ElemwiseGradUseIn{ "cos"} != _backward_sin the math is similar but the function signatures dont match. here is the error

failed: in_attrs->size() == static_cast<size_t>(n_in) (2 vs. 1)  in operator

 _backward_sin is actualy a binary function (takes in input and gradient) while cos

[2018-10-14 06:48] 729009982 opened #12820 "To build a Multi-gpu tensor"
Hi.

    I want to build a nd.zeros() as the label for cGAN ,but when I key in
nd.zeros(shape,ctx=[gpu(0),gpu(1),gpu(2),gpu(3)])
get:
Invalid context string [gpu(0), gpu(1), gpu(2), gpu(3)]

copy_to(gpus), as_in_context(gpus) and split_and_load(x,gpus) does not work
How can I do ?
Thank you for your time :-D

[2018-10-14 08:04] sxjscience commented on #10002
@JohnCalhoun @aidan-plenert-macdonald I've supported the higher-order gradient of sin/cos in https://github.com/apache/incubator-mxnet/pull/12821 We can set the FGradient to be a combination of the forward nodes. If you have time, you can try to support the other unitary operators.

[2018-10-14 08:37] kohr-h opened #12822 "[clojure-package] On modern Ubuntu, scala package cannot be loaded without legacy libcurl"
## Description

The Scala package as pulled in by the Clojure package has a dependency on legacy `libcurl` (on Ubuntu: `libcurl3`) and doesn't work with the current version (on Ubuntu: `libcurl4`).

## Environment info (Required)

Only relevant part:
[code]

Package used (Python/R/Scala/Julia): *Clojure*

For Scala user, please provide: *(Okay, just in case)*
1. Java version:
openjdk version "10.0

[2018-10-14 10:01] marcoabreu commented on #12822
If you got a second, you can have a look at https://github.com/apache/incubator-mxnet/blob/c9a9db6ba04ecc1ee395e74524ccdcb82b528bc3/ci/docker/runtime_functions.sh#L774 https://github.com/apache/incubator-mxnet/blob/master/ci/docker/Dockerfile.build.ubuntu_cpu to see how we are building and running our CI environment. We should also be installing libcurl there. Maybe you can check which version we

[2018-10-14 15:03] wkcn opened #12823 "Is it necessary to wait CUDA stream when calling `WaitToRead` or `WaitToWrite`?"
## Description
Hi! there.
I found a problem about the asynchronous execution.
In the two functions [`NDArray::WaitToRead`](https://github.com/apache/incubator-mxnet/blob/master/include/mxnet/ndarray.h#L335) and [`NDArray::WaitToWrite`](WaitToWrite), there is no any statement to wait the CUDA stream to finish.
It means that the task pushed before calling the two functions may start to execute *afte

[2018-10-14 16:08] piyushghai commented on #12820
@729009982 Thank you for posting your question.
You can also post this question on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.

@mxnet-label-bot [Question, Python]

[2018-10-14 16:11] piyushghai commented on #12823
Thank you for posting your issue. We will look into this.

@mxnet-label-bot [ Bug, Cuda]

[2018-10-14 16:14] piyushghai commented on #12822
@kohr-h Thank you for posting your issue. We will look into the ```libcurl4``` compatibility issue.
@mxnet-label-bot [Clojure, Scala]

[2018-10-14 16:18] piyushghai commented on #12813
@lumist Happy to hear that your issue is now resolved.

@sandeep-krishnamurthy Can this issue be closed as it has been resolved for the user ?

Thanks!

[2018-10-14 16:34] JohnCalhoun commented on #10002
@sxjscience  your example is extremely helpful and provides a great example of how to implement the other operators. is there any good documentation on how the nnvm:Nodes work? or do I just need to study the code more?

[2018-10-14 16:37] piyushghai commented on #12820
@mxnet-label-bot [NDArray]

[2018-10-14 16:40] piyushghai commented on #12817
@mirocody Was this issue resolved for you ?

[2018-10-14 17:36] kohr-h commented on #12822
@marcoabreu I checked that file and also looked around a bit. Lots of scripts install `curl`, and on Ubuntu 16.04 [that pulls in `libcurl3-gnutls`](https://packages.ubuntu.com/xenial/curl), but *not* `libcurl3`. Nowhere in the repo is `libcurl3` explicitly installed, and in lots of places, `libcurl4` is explicitly used, which blocks `libcurl3`. So I don't quite understand how the Scala package bec

[2018-10-14 18:48] #12813 closed

[2018-10-14 18:50] marcoabreu commented on #12822
Interesting analysis, thank you! @nswamy can you take it from here?

[2018-10-14 21:36] DickJC123 commented on #12662
I had been working up a PR with a number of improvements to the way MXNet uses cudnnFind.  In the PR's new serialized approach to running cudnnFind, a fix to your problem became possible.  Please see https://github.com/apache/incubator-mxnet/pull/12804

[2018-10-14 22:34] wkcn commented on #12823
@piyushghai Thank you!

[2018-10-15 01:04] SunnyBeike commented on #11402
@ArmageddonKnight , Tahks.
- Have you recompiled the core libraries (using make)?
   Yes, I did compile the core libraries using
`make -j 16 USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda-9.0 USE_CUDNN=1 USE_DIST_KVSTORE=1`
- Are you sure that you are using the GPU implementation of the operators?
   Yes, the GPU usage was more than 70% when I run mlp_gpu benchmark.

Here

[2018-10-15 04:42] piyushghai commented on #12437
@sandeep-krishnamurthy Seems like PR #12388 resolved this issue. Can you please close this issue ?

@smokytheangel0 Feel free to re-open if closed in error.
Thanks!

[2018-10-15 06:28] eric-haibin-lin commented on #10002
Shall we create a check list of targeted 2nd order grad operators with high, medium and low priority? @sxjscience

[2018-10-15 06:30] sxjscience commented on #10002
Yes, we should create one.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Haibin Lin <notifications@github.com>
Sent: Monday, October 15, 2018 2:29:21 PM
To: apache/incubator-mxnet
Cc: Xingjian SHI; Mention
Subject: Re: [apache/incubator-mxnet] General support of OPs for second-order gradient (#10002)

Shall we create a check list of targeted 2nd order grad oper

[2018-10-15 06:39] pengzhao-intel commented on #8219
@rongzha1 will help for this issue

[2018-10-15 06:56] pengzhao-intel commented on #10881
Regarding dot, it's a kind of library operation, GEMM. There're no much can be optimized from the framework level. Just change to Intel MKL will achieve better performance.

[2018-10-15 08:09] KellenSunderland commented on #12817
Can you post the stack trace?  Did it give an 'image not found' cuda error?

[2018-10-15 08:11] KellenSunderland commented on #12817
Agree with Marco, looks like the error is related to AVX vector instructions being used that aren't available on the E5-2670.

[2018-10-15 08:35] pengzhao-intel commented on #12710
@tdomhan we can reproduce the issue on MacOS, no problem on Linux.

As you mentioned, the issue happens between conda numpy-mkl with fork but the normal version of numpy is OK. And if we use os.system() to execute the cmd, it's also fine.

Still debugging, but it looks like this is a cross-platform and software issues. I will contact with mkl team for some feedbacks.

[2018-10-15 08:56] matanhs commented on #6087
I've looked everywhere for a proper solution, didn't like the idea of using the special constant initializer class since there should not be a difference between scalar constant to any shape tensor. Finally what worked for me is the following:
my_var = mx.symbol.Variable('myconst',shape=(<shape>),init=mx.init.Constant(value=(a).tolist())
if you also want to block gradients simply specify the varia

[2018-10-15 13:03] cconvey commented on #8671
@szha Thanks ^.  When building the wheels, do you use the provided Makefiles or CMake?

[2018-10-15 13:21] cconvey commented on #8671
@szha Sorry, but another question about your 14.04 build environment for Wheels: if you have cmake installed at all, is it version 2.8.12 (14.04's version for that package), or something newer?

[2018-10-15 15:58] danithaca commented on #11341
+1. Sometimes we need to be able to reproduce results even at the cost of worse performance. Is there a plan or next step? Thanks.

[2018-10-15 16:13] JohnCalhoun commented on #10002
where would be the appropriate place to put that checklist? in an issue? or in a JIRA ticket?

probably in an issue so we can mark commits to the ops

[2018-10-15 16:14] sxjscience commented on #10002
Issue +1

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: John M Calhoun <notifications@github.com>
Sent: Tuesday, October 16, 2018 12:13:41 AM
To: apache/incubator-mxnet
Cc: Xingjian SHI; Mention
Subject: Re: [apache/incubator-mxnet] General support of OPs for second-order gradient (#10002)

where would be the appropriate place to put that checklist? in an issue?

[2018-10-15 16:31] JohnCalhoun commented on #10002
good note @leopd . where would be the appropriate place to track progress and priorities on these 100+ ops? in a github issue? an issue for each op? or use the JIRA tickets?

[2018-10-15 16:42] apeforest commented on #10002
There is already an epic created: https://issues.apache.org/jira/browse/MXNET-978
I suggest we add tasks/stories to this epic and prioritize in there.

[2018-10-15 17:04] JohnCalhoun commented on #10002
I am good with that. I can put together a list of all ops that need FGradients defined

[2018-10-15 17:55] leleamol commented on #12247
@zxy110
I have added an example to demonstrate the usage of CSVIter with the PR #12636
Please let me know if this example addresses your concern and helps you in implementing your use case, we can then mark this issue as 'closed'.

[2018-10-15 17:56] leleamol commented on #12247
@mxnet-label-bot : [pending-requester-info]

[2018-10-15 18:13] samskalicky opened #12825 "Control flow operators do not work in imperative (NDArray) API"
## Description
The example for cond operator does not work for NDArray API from the website ([https://mxnet.incubator.apache.org/api/python/ndarray/contrib.html#mxnet.ndarray.contrib.cond])

[code]

When running this with v1.3.x here is the output:

[code]

The symbolic API example does work for the cond operator. Is it supposed to work for for the NDArray API? If so, then this is a bug. If not, t

[2018-10-15 18:14] samskalicky commented on #12825
@zheng-da What is your take on this? Is this supposed to work, or does the documentation need to be removed for cond (and other control flow operators) in the NDArray API?

[2018-10-15 18:39] szha commented on #8671
I'm using Makefile along with a separate set of scripts.

[2018-10-15 19:01] #12437 closed

[2018-10-15 19:41] JohnCalhoun commented on #10002
related question. Ignoring prioritization, are there ops where gradients dont make sense? or ops that should not have an FGradient?

[2018-10-15 20:44] #12783 closed

[2018-10-15 21:28] zachgk commented on #12523
Added PR #12827

[2018-10-15 21:37] thomelane opened #12828 "Navigation for Docs Broken"
Often end up in state where documentation navigation is unresponsive.
Works when starting from https://mxnet.incubator.apache.org/api/python/index.html, but lots of  documentation links take you away from this page, and then the navigation doesn't work.

* See https://mxnet.incubator.apache.org/api/python/optimization/optimization.html.
* And try clicking on 'Gluon API'.
* Just gives https://mxnet

[2018-10-15 21:38] thomelane commented on #12828
@mxnet-label-bot [Website, Doc]

[2018-10-15 21:46] thomelane opened #12829 "Incorrect docs link for NDArray"
All links for `NDArray` in the Python documentation link to `mxnet.optimizer.NDArray` instead of `mxnet.ndarray.NDArray`. Could add confusion for users, since this is the wrong reference to NDArray. And it's only technically possible because NDArray is imported in `optimizer.py`.

* See https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.save for an example.
* Under 'P

[2018-10-15 21:47] thomelane commented on #12829
@mxnet-label-bot [Website, Doc]

[2018-10-15 21:47] lanking520 commented on #12829
@aaronmarkham can you take over from here? :)

[2018-10-15 21:51] lanking520 commented on #12822
Thanks for your question @kohr-h. One question, how do you build your package? From Maven or build from source?

If you grab the package (Scala only) from Maven, we use the following configuration for publishing
[code]
@gigasquid for visibility 😄

[2018-10-15 21:58] thomelane commented on #12828
Already being tracked by @aaronmarkham [here](https://issues.apache.org/jira/browse/MXNET-1019)

[2018-10-15 22:11] lanking520 commented on #1722
@aaronmarkham any update from here?

[2018-10-15 22:18] JohnCalhoun commented on #10002
update: posted checklist on jira issue https://issues.apache.org/jira/browse/MXNET-978

[2018-10-15 22:30] TobyRoseman commented on #12266
MXNet appears to support Python 3.7 now: https://pypi.org/project/mxnet/1.3.0.post0/#files

Is this officially supported?

[2018-10-15 22:34] aaronmarkham commented on #12829
This seems related to this other issue (why can't Sphinx access the shorthand function calls):
https://github.com/apache/incubator-mxnet/issues/12318

Looking at the code section, it's clear that the erroneous links come from Sphinx's autodoc plugin. It is going through, importing things and checking the functions.
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/ndarray/utils.py

[2018-10-15 22:53] eric-haibin-lin commented on #12823
MXNet calls stream->wait at operator level: https://github.com/apache/incubator-mxnet/blob/master/src/imperative/imperative_utils.h#L405

[2018-10-16 00:57] safrooze commented on #12303
@fall4knight Any update on submitting a PR for this fix?

[2018-10-16 01:07] #12528 closed

[2018-10-16 01:09] pengzhao-intel commented on #12303
Thanks @safrooze We are still WIP for the different type of slice, like sliceChannel, and the backward path.

[2018-10-16 03:59] wkcn commented on #12823
@eric-haibin-lin
Thank you!

I call `MXNDArrayWaitToWrite` firstly, then call `MXNDArrayGetData` to get the data pointer of a NDArray.
Passing the data pointer into a CUDA kernel.
In the CUDA kernel, there are some assignments through the data pointer.
The CUDA kernel will run with NULL stream (The CUDA code is out of MXNet, so I couldn't obtain the CUDA stream from `RunContext` in MXNet).
It work

[2018-10-16 04:39] lanking520 opened #12836 "Running slow on Scala Benchmark on batch image input"
Recently I wrote some code to test the performance of Scala benchmark Inference and found that it shows almost equal performance with single inference and batch inference. The core problems are the rebind on the input if you feed in a batch of images. This should be addressed to release the full strength of Scala batch inference.

[2018-10-16 04:40] lanking520 commented on #12836
@mxnet-label-bot, please add label [bug, scala, performance]

[2018-10-16 07:23] inglada opened #12837 "[cpp-package]Wrong GLIBCXX version for cpp-package examples"
## Description
When running the cpp-package examples build from source, the following error occurs
`./alexnet: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.23' not found (required by ./alexnet)`

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
I'm using C++

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): g++ (

[2018-10-16 10:29] zeakey opened #12838 "Module.predict(): different behaviour with caffe's net.forward()?"
It seems that mxnet's `Module.predict(data)` automatically performs a channel switch (eg. RFB2BGR).

I have two identical networks, say `mx_net` and `caffe_net`, in mxnet and caffe respectively, I've mannually checked all the parameters
are identical.

I found that he outputs of the two nets are different by:
[code]

Interestingly,  if I manually switch channel of the data for mxnet alone, I got i

[2018-10-16 13:17] lebeg commented on #12727
@D-Roberts could you describe again your setup and the build steps you have performed? Are you running the whole tests suite?

We are running all tests with [some exclusions](https://github.com/apache/incubator-mxnet/blob/master/.travis.yml#L40) for every PR. These are the tests that are excluded:
* `test_sparse_operator.test_elemwise_binary_ops`
* `test_gluon_model_zoo.test_models`
* `test_random

[2018-10-16 14:31] larroy commented on #12453
This is failing again on a GPU instance p3.2xlarge.

 time ci/build.py --docker-registry mxnetci --platform ubuntu_build_cuda --docker-build-retries 3 --shm-size 500m /work/runtime_functions.sh build_ubuntu_gpu_mkldnn && time ci/build.py --docker-registry mxnetci --nvidiadocker --platform ubuntu_gpu --docker-build-retries 3 --shm-size 500m /work/runtime_functions.sh unittest_ubuntu_python3_gpu

ER

[2018-10-16 17:34] lanking520 commented on #12837
@inglada thanks for filing issue. @leleamol here to help you out.

Usually `GLIBC` ship with your corresponding platform. Ideally, we have the best compatibility with `Ubuntu 16.04` and most of the examples are built and tested there.

@mxnet-label-bot please add [c++, install, example]

[2018-10-16 17:45] gigasquid commented on #12822
Hi @kohr-h - trying to catch up here, are you using the clojure-mxnet jar on maven that has the native deps baked in https://search.maven.org/search?q=clojure-mxnet or are you building from source and then running (meaning doing `make scalapkg` and `make scalainstall`)

[2018-10-16 17:50] gigasquid commented on #12822
@lanking520 I think this issue is related https://github.com/gigasquid/clojure-mxnet/issues/2 - it lists libucurl3 as a dep needed

[code]

[2018-10-16 17:57] lanking520 commented on #12838
@zeakey I tried to dig in and found a piece of source code for you [here](https://github.com/apache/incubator-mxnet/blob/225f71f744ac5e7bd29868b6d3ba0e4fe2527c43/python/mxnet/module/base_module.py#L317). This is a very interesting question though, maybe you can also try file this issue here:

English: https://discuss.mxnet.io/
中文: https://discuss.gluon.ai/
@eric-haibin-lin here to see if we can fi

[2018-10-16 18:09] aaronmarkham commented on #12829
@lanking520 noted that everything is fine in v1.3.0.
I compared the docs build process and note that the optimizer folder is new in master where as in 1.3.0 it was just a optimizer.py file.
We're seeing a bunch of errors in Sphinx:
[code]

[2018-10-16 18:31] D-Roberts commented on #12727
@lebeg Per slack conversation with @larroy , my build should be fine at this point. Thanks

[2018-10-16 18:53] kohr-h commented on #12822
Hi @gigasquid, I used the prebuilt jar for everything, no custom builds were involved.

[2018-10-16 18:55] lanking520 commented on #12829
After checking with @aaronmarkham The issue is introduced in this [PR](https://github.com/apache/incubator-mxnet/pull/12365). There are a bunch of more issues that are cross-referenced...

[2018-10-16 18:55] kohr-h commented on #12822
To be precise, here's the relevant part of my `:dependencies`:
[code]
Reminds me, the package spec on in the instructions seems to be outdated. I can file a PR.

[2018-10-16 19:39] #12778 closed

[2018-10-16 19:54] kohr-h opened #12839 "[Clojure] Readme: "Getting Started" not entirely trivial to follow"
I mentioned in #12822 that something in the README of the Clojure package was off and intended to fix it. However, now that I read the text in a bit more detail, I have some broader questions that might be good to discuss in advance before I come up with some random change.

The main issue with the current version is that as someone not familiar with the package architecture and just starting out

[2018-10-16 20:35] gigasquid commented on #12839
Thanks @kohr-h for creating the issue. Feedback on the README and getting started is much appreciated and will make it easier for new folks to get started.

Would you be interested in collaborating on this with me to make it better? I was thinking that I could take a crack at updating the README in a PR and then you could give feedback and review it to see if it makes sense and is clearer?

[2018-10-16 21:29] lanking520 commented on #12839
@kohr-h Thanks a lot for your contribution to MXNet Clojure package. Really appreciated!
Apart from that, I would like to invite you to join our discussion. We have a small group of people working on Scala and Clojure there on Slack, please follow the step here: https://mxnet.incubator.apache.org/community/mxnet_channels.html

I would like to introduce you the basic build procedure for MXNet Cloju

[2018-10-16 21:45] inglada commented on #12837
Hi,
Thanks for your answer. I helped me found some additional info.
I am using a gcc version which is installed in /usr/local/ and made available through debian/ubuntu "alternatives" mechanism via symlinks in /usr/bin/.
The problem is that libmxnet is using /usr/lib/x86_64-linux-gnu/libstdc++.so.6 instead of the one corresponding to the compiler used for building.

If I use the gcc 6.3 version in

[2018-10-16 21:49] gigasquid commented on #12839
If you do get on the apache slack - we hang out in #mxnet and #mxnet-scala :)

[2018-10-16 22:18] piyushghai commented on #12767
Another failure can be seen here :
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12826/3/pipeline/996

[code]

[2018-10-16 22:28] lanking520 commented on #12767
@lebeg is there anybody working on this? tests are still failing.

[2018-10-16 23:02] eric-haibin-lin opened #12842 "Memory reservation feature"
MXNet GPU memory consumption changes during the training job. The training job easily gets OOM exception when the code is running in a shared environment with limited memory (multiple ppl sharing the same GPUs in the research lab). Whereas TF code always reserves x GB of GPU memory and is never kicked out once the job starts.

If we can have an API to reserve x GB GPU memory for MXNet, it will be

[2018-10-16 23:02] eric-haibin-lin commented on #12842
@samskalicky

[2018-10-16 23:15] lanking520 commented on #12532
@jacky4323 Sorry for the waiting, I am taking over here to help you out.
[I will update this comment here]

[2018-10-16 23:44] samskalicky commented on #12842
Interesting idea @eric-haibin-lin, shouldnt this be something outside of mxnet like slurm where something outside of the job (ie. mxnet) in the OS contain resource usage for the process? Typically when you submit jobs in a shared environment you say upfront how many cores/memory you need for your job and then if the process uses more than its allocated the job gets killed.

Im not sure something l

[2018-10-17 00:43] zheng-da opened #12843 "MXNet doesn't work with scipy int64"
The following code doesn't work.
[code]
It generates the error as below:
[code]

[2018-10-17 02:04] ChaiBapchya commented on #12767
Another failure for me here : http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12749/18/pipeline/996

[code]

[2018-10-17 02:29] soeque1 opened #12844 "ERROR parameter summary of lstm layer"
## Description
Error occurs when print_summary() related to lstm layer.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

## Error Message:
(Paste the complete error message, including stack trace.)
[code]
## Minimum reproducible example
[code]

## What have you tried to solve it?

1. Add logic for lstm, RNN, and so on layers related to RNN
2. Add Excep

[2018-10-17 03:04] zeakey commented on #12838
@lanking520 I found the evil. Actually I'm working on a project copied from caffe. The author switched the channels of **kernel of the input layer** when migrating from caffe to mxnet.

I close the issue.

[2018-10-17 03:04] #12838 closed

[2018-10-17 03:43] wkcn commented on #12823
@eric-haibin-lin
Yes. I found that the CUDA kernel I wrote may runs failed.
I'm looking for the reason.

Thank you!

[2018-10-17 04:29] Vikas89 commented on #12761
I think until and unless you call forward() method on executor, it's output is not supposed to be populated.
shape_computed = shape.bind(mx.cpu(), args={x.name: mx.nd.zeros((2, 3, 4), dtype='float32')})
shape_computed.forward()
print('shape_computed', shape_computed.outputs)

This gives desired result.

[
[2 3 4]
<NDArray 3 @cpu(0)>]

[2018-10-17 04:31] Vikas89 commented on #9166
Is there any use case of trying to create an NDArray of negative size ?

[2018-10-17 04:42] lanking520 commented on #12843
@mxnet-label-bot please add [bug, python, feature]

[2018-10-17 05:41] jacky4323 commented on #12532
@lanking520

OK , thanks for help!!

[2018-10-17 06:18] szha opened #12846 "Script for building openblas from source"
For automatically building a self-contained mxnet shared object, it needs a script for building openblas from source for static-linking.

[2018-10-17 06:33] #12846 closed

[2018-10-17 07:12] inglada opened #12849 "[cmake][cpp-package] Building with cmake does not install the cpp-package API"
Hi,
I have successfully built mxnet from sources on Debian stretch using cmake. The cpp-package is correctly built. However, the "make install" step only installs the library and the header files for the C API, but not the ones for the cpp-package.
Thanks.

[2018-10-17 07:43] sahbiept commented on #12815
it works for me when I typed :
export PKG_CONFIG_PATH=/opt/Anaconda/Anaconda3-5.1.0/envs/mro_env/lib/pkgconfig/:$PKG_CONFIG_PATH

@ankkhedia  ; @piyushghai
@anirudhacharya I want to know what are the  r package dependencies that I should install before installing mxnet R package ?

I have to do the same thing (installation of mxnet R package )  in this  server :
[root@slzuyp0apa05 contrib]# cat /p

[2018-10-17 09:00] kohr-h commented on #12839
Yeah sure, I'd be more than happy to contribute.

That works for me. Probably it's the most efficient way to make quick improvements. But I certainly didn't intend to dump all the work on you @gigasquid 😉

I'll tune in sometime tonight -- which will be afternoon for you I guess? I'm in the Amsterdam time zone.

[2018-10-17 09:01] kohr-h commented on #12839
Thanks @lanking520 for the explanation!

[2018-10-17 10:11] harryprince commented on #12546
@anirudhacharya `dplyr::slice()` syntax is also welcome, if we can not use `[,,]` syntax.

[2018-10-17 10:15] harryprince commented on #9136
@jeremiedb  currently, you can use `tensorflow` autograd in R.

[2018-10-17 11:24] ashkanaev opened #12851 "Error while converting onnx model to Mxnet"
Hi!

Found that it's impossible to converting any model from pytorch which has Upsample layer.

[code]

That means that majority of segmentation model are not convertible. Is there any trick to avoid this problem?

Hope for reply.
Thanks!

[2018-10-17 12:14] gigasquid commented on #12839
Great @kohr-h - I have some time for this carved out on Friday so I'll ping you then

[2018-10-17 13:20] lebeg commented on #12767
@lanking520 I proposed a mitigation here https://github.com/apache/incubator-mxnet/pull/12768 until this will be fixed. You are welcome to participate in the discussion and help merging it. Although this will not fix the problem, it could help reduce the failure rate.

As far as I know @nswamy was investigating the root case.

We have been working in the direction of updating CUDA drivers: https:/

[2018-10-17 13:30] lebeg commented on #12767
@larroy is currently doing the driver updates.

[2018-10-17 16:12] stu1130 commented on #12526
The patch is merged, @sandeep-krishnamurthy please close it

[2018-10-17 16:58] leleamol commented on #12849
Hi,
The cpp-package APIs do not get install after running 'make install'.
In order to consume the C++ API please follow the steps below.

Ensure that the MXNet shared library is built from source with the USE_CPP_PACKAGE = 1.
Include the MxNetCpp.h in the program that is going to consume MXNet C++ API.
    ```#include <mxnet-cpp/MxNetCpp.h>```

While building the program, ensure that the correct p

[2018-10-17 16:59] lanking520 commented on #12849
@mxnet-label-bot please add [c++, installation]

[2018-10-17 17:38] #12526 closed

[2018-10-17 18:09] lanking520 commented on #12851
@ashkanaev Thanks for your issue, I have added @Roshrini to help you out. In fact, if there is a missing operator not available in MXNet, it will be hard to find an alternative. I would mark this as a feature request to see if anyone would like to add this operator support.

@mxnet-label-bot [ONNX, feature]

[2018-10-17 18:18] apeforest commented on #9166
@Vikas89 shape -1 means MXNet will automatically infer the shape.

[2018-10-17 18:19] apeforest commented on #9166
@nswamy Please add label [NDArray] Thanks

[2018-10-17 18:30] Roshrini commented on #12851
Related issue to update the operator: https://github.com/apache/incubator-mxnet/issues/12602

[2018-10-17 19:48] sahbiept commented on #12815
@marcoabreu

 have to do the same thing (installation of mxnet R package ) in this server :
[root@slzuyp0apa05 contrib]# cat /proc/version
Linux version 2.6.32-754.3.5.el6.x86_64 (sandman@node3res7) (gcc version 4.4.7 2 0120313 (SuSE 4.4.7-23) (GCC) ) #1 SMP Wed Aug 15 01:10:56 EDT 2018
You have new mail in /var/spool/mail/root
[root@slzuyp0apa05 contrib]# cat /etc/issue
SLES Expanded Support plat

[2018-10-17 20:07] lanking520 commented on #12844
@soeque1 Actually I tried to run your code and get some other error:
[code]

[2018-10-17 20:20] ankkhedia commented on #12815
@sahbiept You can follow the instructions here
https://mxnet.apache.org/install/index.html?platform=Linux&language=R&processor=CPU
I don't think that imager is required for mxnet installation.

[2018-10-17 20:43] anirudhacharya opened #12854 "Data Iterators documentation is broken"
Many of the API references are not working - http://mxnet.incubator.apache.org/api/python/io/io.html#data-iterators

[2018-10-17 20:46] anirudhacharya commented on #12854
@mxnet-label-bot [Doc, Data-loading]

@aaronmarkham please check

[2018-10-17 21:10] thomelane commented on #12844
Hi @soeque1,

You can now use `model.summary()` to get the summary.

[code]

@lanking520 what version of MXNet are you using? LSTMs weren't hybridizable before v1.3.

[2018-10-17 21:10] ThomasDelteil commented on #12844
You can use the `.summary()` method of your gluon block:

[code]
[code]

[2018-10-17 21:44] anirudhacharya commented on #9686
Taking a brief look at [Data Iterators](http://mxnet.incubator.apache.org/api/python/io/io.html#data-iterators), it would seem the iterators are split up between the  mx.io  module and mx.image module. And there does not seem to be any method/process( correct me if I am wrong) in the split. For instance,
- ImageRecordIter and ImageRecordUInst8Iter( along with CSVIter, NDArrayIter, LibSVMIter) are

[2018-10-17 22:47] anirudhacharya commented on #9686
What is the proposed change here? is the plan to remove `transform` as an argument to the constructor?

[2018-10-17 23:01] aaronmarkham commented on #12854
Inheritance in the Python module is misconfigured. Refer to https://github.com/apache/incubator-mxnet/issues/12829
I'd escalate this as appropriate. I don't know how to fix the inheritance issues.

[2018-10-17 23:07] lanking520 commented on #12844
I use mxnet 1.2 and I think that could be the reason. @soeque1 Are you still facing the issue now?

[2018-10-17 23:20] frankfliu opened #12855 "mxnet.image.image.imdecode() should support bytearray input"
## Description
In commit d4991a0e324b53d8d6e84decbd237ff6a5a3ab08

python/mxnet/image/image.py added following checking:
[code]

This broke backward compatibility.

The old implementation support bytearray as input, not it only support:
1. str (python2)
2. bytes
3. np.ndarray
4. nd.NDArray

We should bring bytearray support back.

## Environment info (Required)

[code]

## Error Message:
ValueErro

[2018-10-17 23:40] szha commented on #9686
@anirudhacharya yes, because dataset interface has a `.transform` method that serves the same purpose but strictly more flexible.

[2018-10-18 00:32] zhreshold commented on #9686
@anirudhacharya

I can see your concern, but iterators included in `mxnet.image` are specifically designed for images and serve as compliments to the purpose agnostic iterators in `mxnet.io`.

Same stories apply to all these image transformation functions provided in `mxnet.image`, users basically can use them as an opencv alternative in order to process `mx.nd.NDArray` instead of `numpy.array`

[2018-10-18 01:33] starimpact opened #12857 "mxnet should support forward and backward hooks"
mxnet should support forward and backward hooks.
pytorch has these functions already.
I have finished an awsome end-2-end fixpoint finetuning algorithm based on hooks.
as far as i know, gluon only supports forward hooks.

[2018-10-18 02:55] smarsuuuuuuu opened #12858 "MXPredReshape always return -1"
I tried to reshape the input shape but the function always returns -1.
<br>
Here is the output of MXGetLastError()

<br>

**I used the latest version of MXNet, and solved this problem.**

[2018-10-18 03:06] codewithsk commented on #10506
Has there been any progress on this?

[2018-10-18 04:16] eric-haibin-lin commented on #10506
Not that I'm aware of. @codewithsk are you looking for any of these?

[2018-10-18 04:39] codewithsk commented on #10506
I'm looking to contribute and this looks interesting. I can maybe submit a proposal on the dev list?

[2018-10-18 05:24] szha opened #12859 "proper support for multi-gpu training in clip_global_norm"
currently the multi-gpu training is not well supported in clip_global_norm, as the most straightforward way of using clip_global_norm (i.e. `clip_global_norm([p.grad(ctx) for p in params for ctx in contexts]`) is incorrect, because it treats the different NDArrays on different contexts for the same parameter as different and independent parameters. imo clip_global_norm should take parameters inste

[2018-10-18 05:48] lanking520 commented on #12859
@mxnet-label-bot [feature request, gluon, python]

[2018-10-18 05:58] eric-haibin-lin commented on #12859
+1

[2018-10-18 07:18] arogozhnikov commented on #12761
@Vikas89 thanks, that indeed works.

I'm closing the issue, but for those trying to use `shape_array` or `size_array`: it is disappointing, you can't even use it for reshaping or to create sym.arange, almost everything requires passing integers.

[2018-10-18 07:18] #12761 closed

[2018-10-18 07:18] plant99 commented on #2853
The input of `imshow` can only be a `2D` input - grayscale
or a 3D  where the last dimension can have 3 ( `RGB` ) or 4 ( `RGBA` )
A good idea is to reshape the (x, y, 1) array to (x, y)

[2018-10-18 08:00] eyildiz-ugoe opened #12861 "RuntimeError: Cannot find the MXNet library."
## Description
I cannot install Mxnet Python binding due to the error thrown as shown below.

## Environment info (Required)

----------Python Info----------
Version      : 3.5.2
Compiler     : GCC 5.4.0 20160609
Build        : ('default', 'Nov 23 2017 16:37:01')
Arch         : ('64bit', 'ELF')
------------Pip Info-----------
Version      : 18.1
Directory    : /usr/local/lib/python3.5/dist-package

[2018-10-18 10:43] inglada opened #12862 "Update mkl-dnn version for building from source"
When building from source with CMake, the compilation of mkl-dnn fails with gcc-8 because the version used in 3rdparty is too old. A bugfix for mkl-dnn was made recently (see https://github.com/intel/mkl-dnn/issues/283) and should solve the issue.
Thanks

[2018-10-18 11:09] TaoLv commented on #12862
Thanks for reporting this issue. A PR is planned to update MKL-DNN version in the next week. Hopefully that will resolve your problem. Please stay tuned for that.

[2018-10-18 12:13] soeque1 commented on #12844
Thanks for your help in solving this problem.

But, There are still some issues. This is not HybridSequential or Sequential.

[code]
________________________________________________________________________________________________________________________
Layer (type)                                        Output Shape            Param #     Previous Layer
===========================================

[2018-10-18 12:22] ustcfd opened #12863 "Rewrite the GRUCell, Error:TypeError: forward() takes 3 positional arguments but 4 were given"
In order to add some graph convolution operations to GRUCell, I have to rewrite the GRUCell of Mxnet.
Technically, I should add a parameter of the input, i.e, adjacency matrix(adj). Unfortunately, I got the error “TypeError: forward() takes 3 positional arguments but 4 were given.”

[code]
Actually, HybridRecurrentCell inherits from RecurrentCell. It still doesn’t work when I add the adj to the fo

[2018-10-18 13:15] cunjif opened #12864 "I have a error in python3.7.0 version"
I run `pip install mxnet` in anconda environment, and then run `python3 -m mxnet`
or input `import mxnet as mx`, I receive a error message...QAQ
----system info----
OS: Deepin 15.7 unstable
Kernel: x86_64 Linux 4.15

----hardware info----
CPU: Intel Core i7-4790
GPU: intel
RAM: 1018MiB / 7866MiB

----python version----
Python 3.7.0  with anaconda3
pip 10.0.1

run follow shell command in dde shell:

[2018-10-18 13:37] #12861 closed

[2018-10-18 15:52] frankfliu commented on #12855
@mxnet-label-bot [bug]

1.3.0 support bytearray, this is a regression and broke backward compatibility

[2018-10-18 16:01] frankfliu opened #12868 "mxnet.image.imdecode crash if input a empty buffer"
## Description

mxnet.image.imdecode() will crash and python process will die if pass a empty bytes buffer to the function.

This looks like a opencv bug, but we should do validation to avoid crash the process.

## Environment info (Required)

[code]

## Build info (Required if built from source)

MXNet commit hash: 815f36ce8b4ed16fe27d500f5c8c930cd10cee5c

## Error Message:
[code]

## Minimum rep

[2018-10-18 16:42] Vikas89 commented on #12800
I encountered the issue again, sorry for the confusion.

If I revert the changes made in this commit in dmlc_core submodule, the issue is gone
https://github.com/dmlc/dmlc-core/commit/e3377de933d3e069635150fb330ce6cc33b57950#diff-855ba648d1f4003608aa37ba3d060043

My changes in dmlc-core/src/io/input_split_base.cc which fixes the problem

[code]

[2018-10-18 16:49] lanking520 commented on #12862
@mxnet-label-bot [MKLDNN, feature request]

[2018-10-18 16:59] lanking520 commented on #12868
@frankfliu @anirudhacharya is also facing this issue before, looks like we need a better backend handling there.

@mxnet-label-bot [python, openCV, bug]

[2018-10-18 17:04] lanking520 commented on #12864
@cunjif this is weird to me. Have you tried building from source? Looks like you are using a distribution we are unsure it would support T.T.  Do you have more information about the error message? I recommend you to use a standard distribution from Ubuntu 14.04 and above.

@mxnet-label-bot please add [python, installation]

[2018-10-18 17:19] eric-haibin-lin commented on #12767
Failing again in http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12860/4/pipeline/997

[2018-10-18 19:18] lanking520 commented on #6693
Hi @chicn @calipos are you guys still facing the issues?

[2018-10-18 19:19] lanking520 commented on #7958
@Paul0M I know it's kind of late, but I still want to reach out and see if you are still facing this issue?

[2018-10-18 19:20] lanking520 commented on #8500
@liumilan Just to follow up with this thread, are you still facing the issue?

[2018-10-18 19:35] lanking520 commented on #8571
@starimpact any updates? Are you still facing this issue?

[2018-10-18 19:58] aaronmarkham commented on #12854
So Sphinx is getting confused. See this related issue: https://github.com/sphinx-doc/sphinx/issues/4961
It looks like to process to fix this is to be very specific about what method is being referenced. I'm working on a solution for this page, but it looks like this is a problem throughout the docs.

[2018-10-18 20:46] apeforest commented on #12337
@piyushghai I don't have the bandwidth to work on this one now. Please label it [Call for contribution]

[2018-10-18 21:04] MyraBaba opened #12869 "Python trained model gives different features set in C++"
Hi,

We have model trained in python and want to use it from c++ as for getting 512D float features.

c++ gives different output when we try with image-classification-predict.cpp

We just want to get data (as in code) 512d float vector as in python output ?

model:
https://pan.baidu.com/s/1mj6X7MK
or

 https://www.dropbox.com/s/ou8v3c307vyzawc/model-r50-arcface-ms1m-refine-v1.zip?dl=0

Isnt there

[2018-10-18 21:32] rozaliyaeverstova opened #12870 "What is the license for Saving and Loading Gluon Models?"
## Description
(Brief description of the problem in no more than 2 sentences.)
I found this tutorial: https://mxnet.incubator.apache.org/tutorials/gluon/save_load_params.html
What is the license for the code?

[2018-10-18 22:35] lanking520 commented on #12869
@MyraBaba thanks for your question and thanks for trying out the C++ API. Could you please bring me more context on the difference with the result? How would you build your C++ package and your system info?
@leleamol here since he is the developer with C++.

@mxnet-label-bot please add label [C++, Question]

[2018-10-18 22:40] szha commented on #12870
All code in mxnet repo, unless otherwise stated, is under apache 2.0.

[2018-10-18 22:41] lanking520 commented on #12870
@mxnet-label-bot [Question]

[2018-10-18 23:07] aaronmarkham commented on #12854
This is ending up being a fairly big issue. The changes since v1.3.0 have caused many of the docs to disappear or point to the wrong methods when methods have the same name.
Sphinx isn't seeing what's there. The autosummary / autodoc features would just walk through the APIs and list things out.

[2018-10-19 01:58] zheng-da opened #12872 "add getnnz operator for sparse arrays"
Scipy sparse matrices have [getnnz](https://docs.scipy.org/doc/scipy-0.19.0/reference/generated/scipy.sparse.csr_matrix.getnnz.html). This operator is useful when the csr matrix is used to store a graph.

[2018-10-19 01:58] zheng-da commented on #12872
@eric-haibin-lin

[2018-10-19 02:05] eric-haibin-lin opened #12873 "Many API documentations are missing."
See https://mxnet.incubator.apache.org/api/python/io/io.html

The API doc for the following classes are missing:
[code]

[2018-10-19 02:28] zheng-da opened #12874 "The API doc of mx.nd.arange doesn't explain infer_range"
As show [here](http://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.arange), the doc doesn't explain infer_range.

[2018-10-19 03:34] hcho3 commented on #12800
@Vikas89 I was not able to reproduce the bug until I checkout the latest master for dmlc-core. Which commit hash for dmlc-core were you using when running the example?

[2018-10-19 04:32] hcho3 commented on #12800
@Vikas89 @piyushghai I created a minimal reproduction of the bug:
[code]
It shows that the bug came into existence since  dmlc/dmlc-core#452 is merged. For a running example, see https://github.com/hcho3/mxnet-issue12800-repro.

[2018-10-19 06:08] apeforest commented on #10002
@sandeep-krishnamurthy please add label [Operator]

[2018-10-19 06:37] anirudhacharya commented on #12873
Duplicate issue - https://github.com/apache/incubator-mxnet/issues/12854

[2018-10-19 06:44] LeightonWong opened #12875 "scala-package version with SNAPSHOT in release branch and tags"
## Description

Mxnet scala-package does not change version from SNAPSHOT to release version in release branch and tags, also I can not find mxnet-scala-xxx package in Maven central repository.

## Environment info (Required)

[code]

I'm using Scala

1. Java version: 1.8.0_192
2. Maven version: 3.5.4
3. Scala runtime if applicable: 2.11.11

[2018-10-19 07:02] Kongsea commented on #2593
My batch size is equal to the number of gpus, however, the error still encountered.

[2018-10-19 07:49] hcho3 commented on #12800
Submitted dmlc/dmlc-core#471, along with a test case.

[2018-10-19 09:10] squidszyd opened #12876 "Crashes when calling `MXPredFree(handle)`"
I encounter `Segmentation Fault` issue when I call `MXPredFree` api to release prediction handler.

Inside my program, there are two threads. The data thread loads data into buffer and the main thread looks for available data(batch size = B) in that buffer and select corresponding handler (initialized with batch size B) to do prediction. Note that when I call `MXPredForward`, there is a lock that

[2018-10-19 09:12] #12875 closed

[2018-10-19 14:11] sbodenstein opened #12877 "CUDA 10 Support and Testing"
Now that CUDA 10 and Turing GPUs are out, what are the plans for adding testing for CUDA 10 builds?

For example, we've had breakages with building MXNet with CUDA 10 on OSX (eg `MXImperativeInvoke` seems to cause corruption of NDArrays).

[2018-10-19 16:20] thomelane commented on #12844
You can use `.summary()` for this example too @soeque1 .

[code]

[code]

[2018-10-19 17:52] lanking520 commented on #12874
@mxnet-label-bot please add [doc, python] here.
@aaronmarkham could you please amend the doc?

[2018-10-19 18:06] lanking520 commented on #12877
@sbodenstein thanks for your issue.
@szha @marcoabreu @larroy @lebeg to help you out.
@mxnet-label-bot please add [CUDA, CI, test] here

[2018-10-19 18:13] aaronmarkham commented on #12874
Sure, what's it do? :shrug:

[2018-10-19 18:19] szha commented on #12877
The code for cuda 10 pip release is ready. We need to request to increase the size limit of mxnet-cu100/mxnet-cu100mkl pip packages to 600mb. @dstufft used to help us with these requests but I haven't heard from him yet. We may need to request this through github issues on pypa repo this time but I don't have enough time to drive this right now.

[2018-10-19 18:33] lanking520 commented on #12874
@aaronmarkham https://github.com/apache/incubator-mxnet/pull/12064 this one! LoL

[2018-10-19 20:48] lanking520 commented on #12876
Hi @squidszyd thanks for reporting this issue. Let me find someone to look this up. @anirudh2290 any recommendation to overcome this issue?

@mxnet-label-bot [Thread Safety, Backend]

[2018-10-19 21:00] lanking520 commented on #9086
Hi @wuchuanying are you still facing the issues?

[2018-10-19 21:08] lanking520 commented on #9301
@mongoose54 are you still facing the same issues?

[2018-10-19 21:09] gigasquid commented on #12839
@kohr-h I have a first draft of it. Please feel free to provide feedback and/or PR's on my gigasquid fork

[2018-10-19 21:16] lanking520 commented on #9325
Hi @zsong are you still facing the same issue?

[2018-10-19 21:19] lanking520 commented on #9413
@xuw080 could you please bring an update about this, are you still facing the same issue?

[2018-10-19 21:35] lanking520 commented on #9599
@beyond-boy This issue appeared that CUDNN is not properly loaded, can you double check the path and try again? Alternatively, you can try with pre-baked pip package to get it to work.

[2018-10-19 21:44] lanking520 commented on #9695
@tonnywang @whu-lyh This looks weird. Could you please try with the pre-cooked pip package and test it? Apart from that, out native engine currently suffered about multi-threading processing on a single machine.

[2018-10-19 21:51] lanking520 commented on #9724
Hi @zhangguotai are you still facing this issue?

[2018-10-19 22:01] lanking520 commented on #9765
@arnaghizadeh are you still facing the same issue?

[2018-10-19 22:05] arnaghizadeh commented on #9765
@lanking520 Hi, I changed platforms so I can't tell if the problem is resolved or not.

[2018-10-19 22:11] Roshrini commented on #11542
@sandeep-krishnamurthy Can you please change the label to [Bug, Gluon]

[2018-10-19 22:11] lanking520 commented on #10071
@hsddlz are you still facing the same issue?

[2018-10-19 22:48] lanking520 commented on #12041
@DuCheng2018 @hitdongfeng have you tried with 1.3 builds. Is this issue reproducible there?

[2018-10-19 23:09] yzhliu commented on #8952
Please feel free to reopen this issue if you found this issue has not been solved.

[2018-10-19 23:09] #8952 closed

[2018-10-19 23:09] yzhliu commented on #9393
Please feel free to reopen this issue if you found this issue has not been solved.

[2018-10-19 23:09] #9393 closed

[2018-10-19 23:10] yzhliu commented on #9450
Please feel free to reopen this issue if you found this issue has not been solved.

[2018-10-19 23:10] #9450 closed

[2018-10-19 23:11] yzhliu commented on #9765
@arnaghizadeh Close it for now. Feel free to reopen this issue if you found this issue has not been solved.

[2018-10-19 23:11] #9765 closed

[2018-10-19 23:12] yzhliu commented on #10119
Close due to no response, Please feel free to reopen this issue if you found this issue has not been solved.

[2018-10-19 23:12] #10119 closed

[2018-10-19 23:12] yzhliu commented on #10174
Please feel free to reopen this issue if you found this issue has not been solved.

[2018-10-19 23:12] #10174 closed

[2018-10-19 23:13] yzhliu commented on #10240
Please feel free to reopen this issue if you found this issue has not been solved.

[2018-10-19 23:13] #10240 closed

[2018-10-19 23:13] yzhliu commented on #10271
Please feel free to reopen this issue if you found this issue has not been solved.

[2018-10-19 23:13] #10271 closed

[2018-10-19 23:13] yzhliu commented on #10831
Please feel free to reopen this issue if you found this issue has not been solved.

[2018-10-19 23:13] #10831 closed

[2018-10-19 23:14] yzhliu commented on #12435
Please feel free to reopen this issue if you found this issue has not been solved.

[2018-10-19 23:14] #12435 closed

[2018-10-19 23:16] anirudhacharya commented on #9599
I think this can be closed due to inactivity. cc @nswamy

[2018-10-20 00:07] rohith14 commented on #11015
It was indeed an issue with CUDA/cuDNN version.  I have moved onto using mxnet 1.3.0 (CUDA/cuDNN: 9.2/7.1.3)

[2018-10-20 00:07] #11015 closed

[2018-10-20 00:43] #12874 closed

[2018-10-20 01:02] DuCheng2018 commented on #12041
Yeah, I have tried v1.3 which also didn’t work.

On 10/20/2018 06:49, Lanking wrote:

@DuCheng2018@hitdongfeng have you tried with 1.3 builds. Is this issue reproducible there?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-10-20 05:21] zheng-da opened #12885 "test_prelu fails frequently."
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12810/8/pipeline/1005
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12810/7/pipeline

[2018-10-20 07:46] leezu commented on #12829
This may be due to the python modules not correctly specifying `__all__`. The members of `__all__` are the ones exported by a Python module. If `__all__` is not defined

#12365 splits mx.optimizer into mx.optimizer and mx.optimizer.contrib. It introduced the `__all__` statement. See https://github.com/apache/incubator-mxnet/pull/12365/files#diff-ee303d7550561edd63bea9a90d2f7106R24 https://github.c

[2018-10-20 08:03] zheng-da opened #12887 "flaky test test_gluon_gpu.test_slice_batchnorm_reshape_batchnorm"
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12810/9/pipeline

[2018-10-20 08:06] squidszyd commented on #12876
@lanking520 @anirudh2290
Thanks for your reply. I just found the crash point inside `MxPredFree` is **UNDETERMINED**.
Sometimes it crashes at the deconstruction of `vector<NDArray>`. Sometimes it crashes at `mxnet::exec::GraphExecutor::~GraphExecutor()` ....

The following is the partial backtrace of one particular crash:
[code]

[2018-10-20 10:27] MyraBaba commented on #12869
Hi
@leleamol

System is Mac os X and also ubuntu 18
build mxnet with cpp support

We want to use Mxnet in our all production.

We just stuck in first attemp :)

https://github.com/deepinsight/insightface/blob/master/deploy/test.py this is the our first test.

We can extract  feature in pyhton.

We tried to use predict-cpp api to use model and extract future with same model above first message .

c

[2018-10-20 18:13] eric-haibin-lin opened #12888 "Take operator doc is broken on the website"
<img width="635" alt="screen shot 2018-10-20 at 11 12 58 am" src="https://user-images.githubusercontent.com/5545640/47259061-29026200-d459-11e8-9f83-0190f005c713.png">

[2018-10-20 19:46] eric-haibin-lin commented on #12843
I don't think this is a feature request. Removing label feature..

[2018-10-21 01:06] cunjif commented on #12864
It's have no this bug in python version3.6. Addition, I couldn't attain more message about this error QAQ, sorry.

[2018-10-21 01:36] lupesko commented on #12817
@mirocody bouncing again.
Suggest you check these steps:
(1) Try with non-mkl version.
(2) if it still fails, try building from source.

[2018-10-21 01:53] masahi opened #12891 "[MKLDNN] Performance on Windows - Upgrading MKLDNN submodule?"
Hi, I tried MXNet + MKLDNN on AVX 512 capable Windows machine, but performance was terrible. I noticed that MKLDNN pulled by mxnet is quite old, and older version of MKLDNN does not enable OpenMP on Windows (omp support was added in [this commit](https://github.com/intel/mkl-dnn/pull/260)).

Do you have a plan to upgrade MKLDNN version?

[2018-10-21 01:56] pengzhao-intel commented on #12891
Yes, we file PR in the next week.

[2018-10-21 02:59] masahi commented on #12891
Great! Thanks for the quick reply.

[2018-10-21 02:59] #12891 closed

[2018-10-21 06:37] JiaxiangBU opened #12892 "The markdown of installation page partly doesn't work"
In the [installation](https://mxnet.incubator.apache.org/install/index.html?platform=MacOS&language=R&processor=CPU) page, the markdown fails for the choice (Mac, R, CPU). Here is the screenshot.

![](http://p24kaozv6.bkt.clouddn.com/mxnetinstallation.png)

[2018-10-21 11:05] rayjs opened #12894 "Training crash SSD with LeakyReLU(rrelu)"
## Description
Training SSD networks with LeakyReLU (rrelu) activation causes the training to crash. I have tried different networks and vgg16_reduced.py as well. It always crashes

## Environment info (Required)
[code]
Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from source)
Compiler (gcc/clang/mingw/visual studio):
gcc

MXNet commit hash:
74638105f5480349cf57cda

[2018-10-21 15:55] lanking520 commented on #12864
@cunjif I see, so your problem solved when you switch to Python 3.6?

[2018-10-21 15:56] lanking520 commented on #12767
https://github.com/apache/incubator-mxnet/issues/12887 duplicated issue

[2018-10-21 15:56] lanking520 commented on #12887
@zheng-da Hi Da, your issue could be duplicated to this one here: https://github.com/apache/incubator-mxnet/issues/12767. Please close this one and track on the other. Thanks

@mxnet-label-bot [flaky, test, CI]

[2018-10-21 15:57] lanking520 commented on #12885
@mxnet-label-bot please add [Flaky, test, CI]

[2018-10-21 15:59] lanking520 commented on #12892
@JiaxiangBU thank you for letting us know. @aaronmarkham could you please check the reason for this? I got the same output as shown above.
@mxnet-label-bot please add [doc, R]

[2018-10-21 16:16] lanking520 commented on #12894
@rayjs thanks for reporting this issue and glad to see you have a workaround for it. Looks like this one is a bug in the operator. But just in case, could you please make sure that you are using this operator correctly by referring to this [documentation](https://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.LeakyReLU).
Some of the args should be set or they go with default

[2018-10-21 16:44] rayjs commented on #12894
@lanking520 For` rrelu `the default parameters work so I am certain about the correct usage. `leaky` act_type works from what I have found but `rrelu` causes the training to crash. I have not checked the other options in `LeakyReLU` other than these two

[2018-10-21 18:52] srochel commented on #12894
@mxnet-label-bot please add [bug]

[2018-10-21 19:47] srochel commented on #12683
@mxnet-label-bot [Good First Issue]

[2018-10-21 19:50] srochel commented on #12500
@mxnet-label-bot [Good First Issue]

[2018-10-21 19:54] srochel commented on #12700
@mxnet-label-bot [Good First Issue]

[2018-10-21 20:02] srochel commented on #12021
@mxnet-label-bot [Good First Issue]

[2018-10-21 20:05] srochel commented on #12205
@mxnet-label-bot [Good First Issue]

[2018-10-21 20:07] srochel commented on #12432
@mxnet-label-bot [Good First Issue]

[2018-10-21 20:12] srochel commented on #11720
@mxnet-label-bot [Good First Issue]

[2018-10-21 20:12] srochel commented on #11725
@mxnet-label-bot [Good First Issue]

[2018-10-21 20:13] srochel commented on #11879
@mxnet-label-bot [Good First Issue]

[2018-10-22 04:06] universewill commented on #12877
any update about this?

[2018-10-22 04:06] universewill commented on #12877
any update about this?

[2018-10-22 04:09] leezu commented on #12829
Fixed by #12886

[2018-10-22 04:10] leezu commented on #12829
Fixed by #12886.

[2018-10-22 04:10] leezu commented on #12829
Fixed by #12886

[2018-10-22 05:29] mirocody commented on #12817
Thanks for the response. I will give a try to compile from source, but just want to make sure here: is there any plan to fix the pip package, so it can work on g2? We need to know this so we can discuss our plan for dlami.

[2018-10-22 05:29] mirocody commented on #12817
Thanks for the response. I will give a try to compile from source, but just want to make sure here: is there any plan to fix the pip package, so it can work on g2? We need to know this so we can discuss our plan for dlami.

[2018-10-22 05:29] mirocody commented on #12817
Thanks for the response. I will give a try to compile from source, but just want to make sure here: is there any plan to fix the pip package, so it can work on g2? We need to know this so we can discuss our plan for dlami.

[2018-10-22 05:59] x110 opened #12899 "Gradient of BatchNorm layer"
I have a network consisting only of a batchnorm layer. The gradient that I get for batchnorm0_gamma after running a backward pass is different than the one I computed manually.
Please advise.
[code]
The output I get is:
( [-1.0274856] &lt;NDArray 1 @cpu(0)&gt;, [0.] &lt;NDArray 1 @cpu(0)&gt;)

When calculating the gradient manually, the output i get is:
[code]
(-1.0274856090545654, -2.127872943878

[2018-10-22 07:04] marcoabreu opened #12900 "Website build times out"
The website build timeout out and failed. This only happened once.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-website-build/detail/restricted-website-build/537/pipeline

[code]

@aaronmarkham

[2018-10-22 07:08] marcoabreu opened #12901 "Flaky test test_operator.test_clip"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1797/pipeline

[code]

[2018-10-22 07:16] marcoabreu opened #12903 "Failing Straight Dope test - test_pixel2pixel (test_notebooks_single_gpu.StraightDopeSingleGpuTests)"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/111/pipeline

[code]

[2018-10-22 09:51] #12887 closed

[2018-10-22 10:48] x110 commented on #12899
In the documentation of batchnorm, I found:
`Both gamma and beta are learnable parameters. But if fix_gamma is true, then set gamma to 1 and its gradient to 0.`

Why is` fix_gamma=True` the default behavior?

[2018-10-22 11:05] x110 commented on #12899
In the documentation of batchnorm, I found:
`Both gamma and beta are learnable parameters. But if fix_gamma is true, then set gamma to 1 and its gradient to 0.`

Why is fix_gamma=True the default behavior?

[2018-10-22 12:12] kohr-h commented on #12839
Great, @gigasquid. I had a pretty busy weekend, but I'll have a look at the new version tonight.

[2018-10-22 14:15] MyraBaba commented on #12869
@leleamol
@lanking520

any idea ? what could be the basic steps in C++ for :
[code]

We loved the mxnet framework bu fi we cant use it in our C++ environment unfortunately we have to  drop mxnet and back to the old system.

for mxnet experts specially on the C , C++ side it should be trivial example which means a lot for the community.

What we can do to make it works ?

[2018-10-22 15:19] lanking520 commented on #12899
@x110 Hi your issue is more like a question, please send a post to https://discuss.mxnet.io/ for better support on the usage of MXNet, thank you!

@mxnet-label-bot please add label [Question, python, operator]

[2018-10-22 15:21] lanking520 commented on #12900
Err. @aaronmarkham have you faced anything like this before? Does this look like an internet connection issue?

@mxnet-label-bot please add label [CI, doc, build]

[2018-10-22 15:28] vishaalkapoor commented on #12903
Here's the error from http://jenkins.mxnet-ci.amazon-ml.com/job/NightlyTestsForBinaries/job/master/111/console

There haven't been any changes to the Straight Dope book in the last week at least: https://github.com/zackchase/mxnet-the-straight-dope/commits/master

It's possible the notebook is flaky, or an error was introduced to MXNet. The notebook is here: https://gluon.mxnet.io/chapter14_genera

[2018-10-22 15:31] lanking520 commented on #12829
@leezu thanks for your diagnosis and fix on the potential issues. @aaronmarkham could you please try again to build based on Master to see if the issue is reproducible?

[2018-10-22 15:36] lanking520 commented on #12903
@marcoabreu thanks for your issue. Could this be a network connection issue?

@mxnet-label-bot please add [Test, Gluon]

[2018-10-22 15:42] marcoabreu commented on #12903
Would surprise me since previous tests in the same run didn't fail

[2018-10-22 15:59] wkcn commented on #12823
Sorry, there is a bug in my project.
I use Python Code to call `cudaSetDevice` and kernel function, like that:
[code]
`func` is a ctypes reference of a CUDA kernel function.
The function `CFuncDef.__call__` will be called in MXNet Custom Operator.
However, the device ID may be changed between calling `set_device` and `func(*arg_datas)` because of asynchronous execution. It causes the problem `acce

[2018-10-22 15:59] #12823 closed

[2018-10-22 16:43] leleamol commented on #12869
@MyraBaba
The MXNet supports C++ APIs in cpp-package directory.  I am working on an example to demonstrate a workflow that will
1. Load the model,
2. Load the parameters, and
3. Run a forward pass.

I will try out your model with that example. Will update this issue with my observations.
Thanks

[2018-10-22 16:45] leezu commented on #12829
@lanking520 @aaronmarkham No need to rebuild based on master. CI did that already. The docs of CI's build are at http://mxnet-ci-doc.s3-accelerate.dualstack.amazonaws.com/PR-12886/2/api/python/ndarray/ndarray.html#mxnet.ndarray.save and as far as I can tell don't contain the issue described by @thomelane

[2018-10-22 16:58] MyraBaba commented on #12869
We almost exhausted :)  It certainly should work but we are very new to mxnet framwork. On the other hand training speed and mem usage fantastic.

If we succesfully get same results in c++ as in our python test.py we will change our AI to the mxnet completely .

Thanks for your help and attention.

Best

[2018-10-22 17:07] x110 commented on #12899
For anyone else wondering `fix_gamma=True` is used when the next layer is linear (also relu) because then the scaling can be done by that layer.

[2018-10-22 17:07] #12899 closed

[2018-10-22 17:10] haimeh opened #12906 "R ndarray deconvolution depth>1 crashes"
When the deconv/transposeconv weight matrix has a depth greater than 1, the R session crashes.
Note, I've tested in a couple different R environments and mxnet builds as well, but the problem remains exactly the same, so I suspect I am misunderstanding the dim layout for deconv vs conv.
In R, my understanding for the default configuration is:
c(width,height,depth,batchNumber) for data
c(width,heig

[2018-10-22 17:11] lanking520 commented on #12899
Thank you!

[2018-10-22 17:30] haimeh commented on #12906
@mxnet-label-bot please add [R]

[2018-10-22 17:38] harshp8l opened #12907 "Test issue"

[2018-10-22 17:39] harshp8l commented on #12907
@mxnet-label-bot add [R]

[2018-10-22 17:40] leleamol commented on #12869
With my test program I was able to get the output of float vector of 512. Without using sklearn.preprocessing.normalize on that output (similar to what was done in the test python script),  the maximum accuracy was reported to be 2.7216 at index 84.   The rest of the entries in 512D vector were 0.03412.

I did not normalize the image before running forward pass.
If this helps, I can share the code

[2018-10-22 17:41] #12907 closed

[2018-10-22 17:47] MyraBaba commented on #12869
I will work on your c++ code and try to make progress.

I will run under  the cpp-package /example/ feature_extract. Right ?

I  can finalise this week this we will move money and there will be support requested we can discuss separately

Best

[2018-10-22 17:57] leleamol commented on #12869
@MyraBaba
The cpp-package/example/feature_extract is a good start but it is not very optimized and does not follow the recommended approach to run the inference workflow.
For example, the program is invoking "SimpleBind" operation every time before running the Forward() call. Since, SimpleBind() is an expensive operation, it should be invoked only once.

Please let us know if you need help.

[2018-10-22 18:27] thomelane commented on #12829
thanks everyone for the quick fix! it's looking good from my side, so case closed.

[2018-10-22 18:27] #12829 closed

[2018-10-22 18:31] aaronmarkham commented on #12900
I can't even use the Jenkins dashboard, let alone this log file. The page times out.
Looking at the error code, it is SIGTERM and Jenkins docs lists this as "The process was explicitly killed by somebody wielding the kill program." In this case, I'm guessing we hit the timeout.

Maybe it is temporary, but the fact that the dashboard is very slow to load and you can't load logs at all means maybe s

[2018-10-22 19:35] MyraBaba commented on #12869
Can you share your code that you mentioned above please , I will start from your code.

[2018-10-22 21:15] zhreshold opened #12909 "[doc] mxnet.io Iterator missing in doc"
https://mxnet.incubator.apache.org/api/python/io/io.html?highlight=imagerecorditer#data-iterators

![screen shot 2018-10-22 at 2 13 18 pm](https://user-images.githubusercontent.com/3307514/47319894-b8984400-d604-11e8-9c76-33bb6ed9b854.png)

Which means it's also missing the API references as well.

[2018-10-22 21:21] azai91 opened #12910 "AMD CPU performance benchmarks"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-10-22 21:34] Sun1992 opened #12911 "mx.sym.concat is slower than using pointwise convolution"
I am implementing Inception Net and Mobilenet Net recently. I found a very confused problem. The concatenation takes more time than pointwise convolution layer while expanding the dimension of the layer.
First I try:
`def Conv(data, num_filter=1, kernel=(1, 1), stride=(1, 1), pad=(0, 0), num_group=1, name=None, suffix=''):
    conv = mx.sym.Convolution(data=data, num_filter=num_filter, kernel=kern

[2018-10-22 22:07] aaronmarkham commented on #12892
Looks like the Docker instructions broke the page as these Docker instructions are showing up in the Windows --> Python --> CPU --> Build from Source block. And build from source isn't appearing as expected. Snowball effect... as the R stuff comes after that Docker section.
http://34.201.8.176/versions/install_macos_r_fix/install/index.html?platform=Windows&language=Python&processor=CPU

There loo

[2018-10-22 22:29] aaronmarkham opened #12914 "slice function incorrectly cross-linking in docs"
## Description

Sphinx is confused with the multiple entries for `slice`.
Cross-linking might be going to the wrong place. For example, https://mxnet.incubator.apache.org/api/python/ndarray/sparse.html#mxnet.ndarray.sparse.CSRNDArray.__setitem__ has a `slice()` reference that points to `symbol` but it would seem this should be going to `ndarray`.

Similar to the issue with NDArray and optimizer: h

[2018-10-22 22:30] anirudhacharya commented on #12909
there is an issue for this - https://github.com/apache/incubator-mxnet/issues/12854
 and I think @aaronmarkham is already fixing it in a PR.

[2018-10-22 22:30] aaronmarkham commented on #12914
@eric-haibin-lin - can you take a look... it seems part of this may have to do with the introduction of the sparse api.

[2018-10-22 22:33] aaronmarkham commented on #12914
Related error with `sparse`:

[code]

[2018-10-22 22:35] aaronmarkham commented on #12909
If someone would like to review https://github.com/apache/incubator-mxnet/pull/12871 this is fixed.

[2018-10-22 22:36] leleamol commented on #12869
@MyraBaba
I have submitted a PR @12915.  It will be under review.  I have used the same example to load the model you have mentioned in the issue and run the inference workflow with the image Tom_Hanks_54745.png

[2018-10-22 22:44] eric-haibin-lin opened #12916 "Fixing Weight Decay Regularization in Adam"
MXNet should implement this paper: https://arxiv.org/pdf/1711.05101.pdf

[2018-10-22 22:49] anirudhacharya commented on #12916
@eric-haibin-lin this is already being tracked here - https://github.com/apache/incubator-mxnet/issues/9881#issuecomment-397769492

[2018-10-22 22:51] kepler-cpu commented on #12472
sorry for the late reply... to answer your question, I did native build in the past with the command you suggested but it didn't work in the end. It did built the lib libmxnet.so but when I tried to use it under python, I got import error.  (pls see my past post).  ps: to move my project forward, I am adopting TF and it seems working so far on Pi.

[2018-10-22 22:55] aaronmarkham commented on #12914
And this one too:
[code]
I can break this out as separate issues, but I get the feeling they're somewhat related around `sparse`.

[2018-10-22 23:04] aaronmarkham opened #12917 "RNNCell and SequentialRNNCell functions incorrectly cross-linking in docs"
## Description

Sphinx is getting confused with the multiple entries for `SequentialRNNCell` and `RNNCell`. There's one in `mxnet.gluon.rnn` and one in `mxnet.rnn`.
https://mxnet.incubator.apache.org/api/python/symbol/rnn.html?highlight=fusedrnncell.unfuse#mxnet.rnn.FusedRNNCell.unfuse
I think there's a question as to which `SequentialRNNCell` is being referred to here.
And for `rnn.save_rnn_check

[2018-10-22 23:14] andrewfayres commented on #12910
@mxnet-label-bot please add [Performance]

[2018-10-22 23:17] andrewfayres commented on #12909
@mxnet-label-bot [Doc, Data-loading]

Thanks for reporting this.

Since this is a duplicate issue which already has a PR this issue can be closed.

[2018-10-22 23:53] apeforest commented on #9733
@sandeep-krishnamurthy @nswamy This issue is fixed. Please close it. Thanks!

[2018-10-23 00:06] haimeh commented on #12906
by trying to recreate the problem in python I think I figured it out, the array layout seems to be slightly different than I thought:

[code]

[2018-10-23 00:06] #12906 closed

[2018-10-23 00:06] lupesko commented on #12876
@apeforest FYI

[2018-10-23 00:09] lupesko commented on #12844
@mxnet-label-bot [Question, Python]
@soeque1 kindly close the issue, or comment if you have additional questions. Thanks!

[2018-10-23 00:10] lupesko commented on #12911
@mxnet-label-bot [Operator, Performance]

[2018-10-23 04:39] mirocody commented on #12817
Thanks @marcoabreu @KellenSunderland @lupesko for your suggestions.
Update:
After trying different versions of packages, got following observations:
1. both cu90-mkl and cu90 versions wok on E5-2650
2. Both cu90-mkl and cu90 versions failed on E5-2670

Currently we do not have plan to build from source for g2(which has both e5 2670 and 2650 cpu) specifically. We need find a way that make it work o

[2018-10-23 05:01] eric-haibin-lin commented on #12916
i want to make an explicit feature request since the previous one is a discussion of the inconsistent api

[2018-10-23 05:04] eric-haibin-lin commented on #12823
Good to know it's resolved.

[2018-10-23 05:08] apeforest commented on #11841
@sandeep-krishnamurthy @nswamy Please close this issue.

[2018-10-23 06:43] apeforest commented on #11639
@reminisce I have fixed this issue by using a double data type to hold large integers. Please help to review the fix. Thanks.

[2018-10-23 08:18] coconutyao opened #12923 "Deadlock happend while calling MXNDArraySyncCopyToCPU() ?"
**We have been troubled by the problem for a few days, so we need everyone's help, thank you!**

**Environment**：
GPU: Tesla P4; CPU: Intel(R) Xeon(R) Gold 6133 CPU @ 2.50GHz.

**Appearance**：
The program receives the Image data as a server. After a period of time, the program starts to appear similar to Deadlock (may be caused by some requests, but cannot be accurately reproduced)

We tested on m

[2018-10-23 08:31] vtkingdom commented on #12923
Are there any hints for the reason why the thread is blocked when calling the MXNDArraySyncCopyToCPU  method ? Just like under some special suitations or usage ?

[2018-10-23 08:32] #12844 closed

[2018-10-23 09:14] jacky4323 commented on #12532
Hi @lanking520

OK, thanks
Are there any plans to update MXNet interface project with Caffe?
some of the custom operators are in caffe for my project.
Any help would be appreciated! thanks.

[2018-10-23 10:15] marcoabreu commented on #12923
Hi, MXNet does not support multithreaded interaction with its frontend APIs. We rather require a sticky-thread for this.

This means that you have to follow the dispatcher model which dedicates one thread during the entire lifecycle of your application to internet with MXNet. It's important that you don't only use a mutex since we depend on the threadlocal variables that are assigned to the dispat

[2018-10-23 10:54] MyraBaba commented on #12869
@leleamol
Thanks I started to working on it.
inception_inference is asking synset file. All we need 512D feature we will use it for our own purposes. we dont need labels.  How we can just produce 512 features ?

I used synset.tx (inception) with below command and get error below.:

How did you run exactly for tom_hanks (112x112) ?

[code]
`

[2018-10-23 12:52] coconutyao commented on #12923
----------------------------------------------------------------------------------------------------
Thanks for the reply, I did not make it clear before. We started 8 processes on one machine, and only 1 thread per process uses mxnet (other threads handle different works). We called the python engine in a C++ program that uses the mxnet-python api. Is there a problem with this usage?

[2018-10-23 12:59] marcoabreu commented on #12923
That sounds good to me. Could you maybe show some minimal example that allows to reproduce the problem?

[2018-10-23 15:04] MoritzMaxeiner opened #12925 "[Feature Request] Support ONNX export of _rdiv_scalar, _sample_multinomial, _sample_uniform operators"
Currently, MXNet->ONNX model export does not support the MXNet operators
- `_rdiv_scalar`
- `_sample_multinomial`
- `_sample_uniform`

`_rdiv_scalar` could be implemented by via `scalar_op_helper` and flipping divident/divisor.
`_sample_multinomial` could be mapped to the ONNX node [`Multinomial`](https://github.com/onnx/onnx/blob/f2daca5e9b9315a2034da61c662d2a7ac28a9488/docs/Operators.md#Multinom

[2018-10-23 16:18] apeforest commented on #12876
@squidszyd Can you try to set the env variable MXNET_ENGINE_TYPE to NaiveEngine such as:

`export MXNET_ENGINE_TYPE=NaiveEngine`

[2018-10-23 16:33] Bathilde commented on #10171
@apeforest , did you try to put your generated model in XCode ?

My issue was at the time it was inserted in an Xcode project and while I was running the application.
The mlmodelc has a filename specified and it was not the right one.

[2018-10-23 18:57] aaronmarkham commented on #12767
Failed again here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12919/1/pipeline

[2018-10-23 19:00] leleamol commented on #12869
Here is the PR #12930 after fixing the example.

[2018-10-23 19:57] lanking520 commented on #12532
@jacky4323 I have reached out to the slack channel of MXNet to see if this is possible. In the meantime, can you try to convert your Caffe model into ONNX and then to MXNet?  I saw you mentioned some custom operators and this may block this approach.

[2018-10-23 20:13] lanking520 commented on #12532
Apart from that, did this help you out? https://discuss.mxnet.io/t/caffeop-mxnet-build-failed/2014

[2018-10-23 20:14] safrooze commented on #12532
I responded to the relevant question on Discuss: https://discuss.mxnet.io/t/caffeop-mxnet-build-failed/2014/2

Copying response for reference here:

Looks like the patch hasn't been maintained as Caffe has evolved. You should try to reset your branch head to an older node (I tried **rc3** tag) and then apply the patch. Once patch is applied, you can then rebase it on top of the main repo. The foll

[2018-10-23 20:47] aaronmarkham commented on #12900
Transient issue. I recommend closing this and reopening if it becomes a problem. Then we'll need to increase the timeout value.

[2018-10-23 21:04] nchafni opened #12931 "How do define onnx path for tensorrt integration?"
src/operator/contrib/./tensorrt-inl.h:41:26: fatal error: onnx/onnx.pb.h: No such file or directory

building on a jetson tx2

[2018-10-23 21:28] thomelane opened #12932 "Probability Distributions Support"
## Probability Distributions Support

Would be great to have out-of-the-box support for distributions, similar to functionality provided by [TensorFlow Probability](https://www.tensorflow.org/probability) and [PyTorch Distributions](https://pytorch.org/docs/stable/distributions.html). My current use case is for Reinforcement Learning algorithms that learn stochastic action policies (i.e. learn par

[2018-10-23 21:30] thomelane commented on #12932
@mxnet-label-bot [Feature Request, Gluon, Operators]

[2018-10-23 21:37] marcoabreu commented on #12900
Just to clarify: This was not a valid timeout but rather a total hang. Increasing the timeout wouldn't have helped

[2018-10-23 22:35] Roshrini commented on #12925
@MoritzMaxeiner Thanks for reporting these operators.
@mxnet-label-bot [ONNX, Feature request]

[2018-10-23 22:44] aaronmarkham opened #12935 "Gluon model zoo docs duplicate ID"
## Description
Docs build on the [Gluon Python API's model zoo page](https://github.com/apache/incubator-mxnet/blob/master/docs/api/python/gluon/model_zoo.md) throws a severe error.

## Error

[code]
## Comments

There's a workaround:
https://stackoverflow.com/questions/16471032/how-do-i-avoid-severe-duplicate-id-warnings-for-my-autodocd-modules-in-sphin
However, when implementing the `:noindex:`

[2018-10-23 22:45] andrewfayres commented on #12923
@mxnet-label-bot [Python, Thread Safety]

[2018-10-23 22:54] aaronmarkham opened #12936 "gluon model zoo's MobileNetV2 section has several doc errors"
## Description
Sphinx throws errors on the MobileNetV2 section of the documentation.

## Error
[code]

[2018-10-23 22:55] aaronmarkham opened #12937 "ndarray reshape function has docs errors"
## Description
Sphinx throws errors on the `ndarray.reshape()` function.

## Error
[code]

[2018-10-23 22:58] aaronmarkham opened #12938 "optimizer doc error"
## Description
Sphinx throws an error on `optimizer` docs.

## Error
[code]

[2018-10-23 23:00] aaronmarkham opened #12939 "initializer.InitDesc docs error"
## Description
Sphinx throws an error on `initializer.InitDesc`.

## Error

[code]

[2018-10-23 23:00] aaronmarkham commented on #12939
It also throws this error:

[code]

[2018-10-23 23:02] aaronmarkham opened #12940 "Several symbol docs errors"
## Description
Sphinx throws an error on generating docs for many of the functions for `symbol`.

## Error
[code]

[2018-10-23 23:04] anirudhacharya commented on #12932
Some of them are here - https://mxnet.incubator.apache.org/api/python/ndarray/random.html?highlight=mxnet.ndarray.random#random-distribution-generator

KL Loss - https://mxnet.incubator.apache.org/api/python/gluon/loss.html?highlight=kl#mxnet.gluon.loss.KLDivLoss

But yes we do need a probability submodule within mxnet

[2018-10-23 23:06] aaronmarkham opened #12941 "visualization docs errors"
## Description
Sphinx throws errors while building the `viz` docs.

## Error
[code]

[2018-10-23 23:15] aaronmarkham opened #12944 "docs incorrectly cross-linking gluon.Constant and initializer.Constant"
## Description

Sphinx is throwing a warning that `gluon.Constant` and `initializer.Constant` are getting mixed up.

## Error
[code]

## Comments
Refer to https://github.com/apache/incubator-mxnet/pull/12871 for a guide on how to resolve this kind of issue.

[2018-10-23 23:28] thomelane commented on #12932
Cheers @anirudhacharya, but the functionality I'm referring to is not covered by those references.

I'm talking about functionality beyond just sampling from distributions: calculations of probability density, log probability of a data sample given the distribution, entropy of distribution, etc. And as far as I'm aware the `KL Loss` in MXNet only works with samples, rather than the theoretical KL

[2018-10-23 23:39] aaronmarkham opened #12947 "ONNX docs errors"
## Description
Sphinx is throwing errors on some of the ONNX docs.

## Error
[code]

[2018-10-23 23:40] aaronmarkham opened #12948 "SVRG optimization module docs error"
## Description
Sphinx is throwing errors on the SVRG  docs.

## Error
[code]

[2018-10-23 23:44] aaronmarkham opened #12949 "text contrib module docs errors"
## Description
Sphinx is throwing errors on the `contrib.text.embedding` and `contrib.text.vocab` modules.

## Error

[code]

[2018-10-24 02:26] universewill opened #12952 "a very interesting problem"
I use resent-152 to classify 3800 categories images. And I find a very interesting case: the accuracy of each epoch is decreasing during each epoch while the accuracy is increasing between epochs. I don't know why.

Notice that I shuffled data at the end of each epoch.
Here is the log:
[code]

[2018-10-24 02:55] wkcn commented on #12952
What version of MXNet did you use?

For the old version of MXNet, `Train-accuracy` is the accuracy of the last batch.
For the latest MXNet, `Train-accuracy` is the accuracy of the whole epoch.

See the PR:
[Track epoch metric separately (#12182)](https://github.com/apache/incubator-mxnet/commit/ce6525ac9084a7df5789ca62c5228e3a3f55bc07)

[2018-10-24 03:04] wkcn commented on #12825
It seems the example is wrong.

The following example works.
[code]

[2018-10-24 05:28] universewill commented on #12952
I just don't understand why the accuracy is decreasing during each epoch. I think it has noting to do with mxnet version?

My minxes version is 1.3.0
@wkcn

[2018-10-24 05:53] jacky4323 commented on #12532
@safrooze ,
I have tried it , the error is solved
unfortunately, When I use cmake to build mxnet, I met the problems below

in CMakeList.txt turn on Use Caffe Plugin
`mxnet_option(USE_PLUGIN_CAFFE     "Use Caffe Plugin" ON) `
`mkdir build/Release  && cd build/Release `
`cmake ../../ `

[CMakeError.log](https://github.com/apache/incubator-mxnet/files/2509111/CMakeError.log)
[console_error_log.txt](

[2018-10-24 06:30] wkcn commented on #12952
@universewill
Could you please provide the reproduced code?

[2018-10-24 07:01] cunjif commented on #12864
Right! QAQ

[2018-10-24 07:02] wkcn commented on #12843
The id of np.int64 in scipy is different from that in numpy.
[code]

[code]

[2018-10-24 07:06] lanking520 commented on #12864
ʕ •ᴥ•ʔ

[2018-10-24 09:19] JiaxiangBU commented on #10791
I also have a problem to install `openblas` on Mac for R and CPU @ v1.3.0.
The err message is here.

[code]

And when I library the pkg, the err message is here.

[code]

Created on 2018-10-24 by the [reprex
package](http://reprex.tidyverse.org) (v0.2.0).

[2018-10-24 12:41] #12864 closed

[2018-10-24 14:58] jiangzhengkai opened #12959 "How to use own mxnet cuda operator in gluon?"
Hi, can anyone tell how to use mxnet op in gluon code?

[2018-10-24 15:38] lanking520 commented on #12947
@mxnet-label-bot please add [ONNX, Doc]

[2018-10-24 16:36] apeforest commented on #11203
I am looking into this.

[2018-10-24 16:41] MyraBaba commented on #12869
@leleamol How I can contact you  ? have you email ?  I could be get paid support from you / also a contribution for your effort .

Best

[2018-10-24 16:48] harshp8l commented on #12947
@mxnet-label-bot add [ONNX, Doc]

[2018-10-24 17:00] lanking520 commented on #12869
@MyraBaba you can join our Slack channel where everybody can ask questions and it's for free!
To join it: http://mxnet.incubator.apache.org/community/contribute.html#slack

[2018-10-24 17:04] Vermeille commented on #11911
Same shit with all the gpu docker images I've tested so far.

[2018-10-24 17:12] harshp8l commented on #12959
For questions, we would also like for you to please submit on the MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow others to learn as well.

[2018-10-24 17:12] harshp8l commented on #12959
@mxnet-label-bot add [question, CUDA, Gluon]

[2018-10-24 17:33] szha commented on #11911
This is likely related to the f16c-related optimization on CPU. It looks like the target CPU doesn't support f16c instruction set.

[2018-10-24 17:43] andrewfayres commented on #12935
@mxnet-label-bot add [gluon,doc]

[2018-10-24 17:45] andrewfayres commented on #12936
@mxnet-label-bot add [Gluon,doc, Model Zoo]

[2018-10-24 17:45] andrewfayres commented on #12937
@mxnet-label-bot add [NDArray,doc]

[2018-10-24 17:46] andrewfayres commented on #12938
@mxnet-label-bot add [Optimizer,doc]

[2018-10-24 17:47] andrewfayres commented on #12939
@mxnet-label-bot add [doc]

[2018-10-24 17:47] andrewfayres commented on #12940
@mxnet-label-bot add [Symbol, Python ,doc]

[2018-10-24 17:47] andrewfayres commented on #12941
@mxnet-label-bot add [Visualization, Python, doc]

[2018-10-24 17:48] andrewfayres commented on #12944
@mxnet-label-bot add [Gluon,doc]

[2018-10-24 17:50] andrewfayres commented on #12948
@mxnet-label-bot add [doc]

[2018-10-24 17:50] andrewfayres commented on #12949
@mxnet-label-bot add [doc]

[2018-10-24 18:05] andrewfayres commented on #12931
@mxnet-label-bot add [build, Edge devices, Onnx, Question]

Hi @nchafni , thanks for opening the issue. Adding some labels on this for better visibility. It'd be helpful if you added a few more details about the issue you're seeing.

Also, I would also recommend you to send this question https://discuss.mxnet.io/ where you will get a wider audience.

[2018-10-24 18:41] deuscovrigus commented on #9516
Bug still present using the cmake build on a TITAN V card. the architectures that the binary targetted is sm_70. The makefile build works but all known architectures are targetted.

[2018-10-24 18:50] nchafni commented on #12931
thanks for the response @andrewfayres.

I'll add more info here and post on https://discuss.mxnet.io/

I'm building on the jetson tx2. If i build it with use_tensort=1 I get the onnx error. I have built onnx in /3rdparty and installed and mapped it a few different ways. I'm wondering the mxnet tensorrt integration even works on the jetson since it doesn't support tensorrt python yet.

[2018-10-24 19:31] anirudhacharya commented on #10791
@JiaxiangBU could you try running just `brew install openblas` and then run the softlink command.

[2018-10-24 20:15] nikudyshko opened #12966 "Strange behaviour/possible bug with mxnet::cpp::Symbol::Variable name argument"
## Description
In a nutshell: network doesn't train if I change prefix in Symbol::Variable name argument from "w" and "b" (lines 38, 39 in example [mlp_cpu.cpp](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/example/mlp_cpu.cpp)) to anything with length greater than 1 char (for example: to "ws"/"bs" or "qwe"/"rty")

## Environment info
Windows 10 64-bit, Visual Studio 2017 Commu

[2018-10-24 23:28] zhreshold commented on #11891
closed by https://github.com/apache/incubator-mxnet/pull/12025

[2018-10-24 23:28] #11891 closed

[2018-10-25 00:17] safrooze opened #12970 "Bilinear UpSampling is broken"
## Description
UpSampling with bilinear mode seems to be broken. Also the unittest that is supposed to be testing this upsampling mode isn't properly implemented, so it isn't run (see #4923). This is reported in [this discuss question](https://discuss.mxnet.io/t/use-mx-nd-upsampling-with-bilinear-sample-type/2067).

## Environment info (Required)

[code]

Package used:
**Python**

## Error Message

[2018-10-25 00:35] safrooze commented on #12959
Have you added your own operator to MXNet CPP code? If so and your operator is accessible through `nd.my_op`, then you can just call it within Gluon.

[2018-10-25 00:36] safrooze commented on #12970
@mxnet-label-bot add [Operator, Bug]

[2018-10-25 01:46] chi-hung opened #12971 "DeformableConvolution throws an "not implemented" error"
## Description

```mxnet.symbol.contrib.DeformableConvolution``` throws this error:

MXNetError: [01:30:30] src/operator/contrib/./deformable_convolution-inl.h:352: not implemented

## Environment info

A [docker container](https://github.com/chi-hung/DockerKeras/blob/master/Dockerfiles/MXNet/mxnet-cu9.2-dnn7.2-18.10.dockerfile) that contains:
* Python 3.6.3
* Ubuntu 18.04
* MXNet (for GPU) built

[2018-10-25 02:16] lialie commented on #6204
I pull the docker image from NGC. Built on my own machine doesn't seem to
have any benefit on performance

deuscovrigus <notifications@github.com> 于2018年10月25日周四 上午1:27写道：

--
Life is too important to be taken serious!!

[2018-10-25 02:20] jiangzhengkai commented on #12959
@safrooze Thanks, i will try

[2018-10-25 03:48] wkcn commented on #12971
It seems that the layer could not convert a number to a 2-D shape.
You could try `mxnet.symbol.contrib.DeformableConvolution(num_filter=5,kernel=(3,3),pad=1)` temporarily.

[2018-10-25 06:39] chi-hung commented on #12971
Wow...I got it. Thanks!

[2018-10-25 06:39] #12971 closed

[2018-10-25 07:06] JiaxiangBU commented on #10791
Hi @anirudhacharya, I tried this code, and the command told me to reinstall it.

[code]

Here is the result of re-installation.

[code]

And I get this error.

[code]

I think there is a file I miss. Becuase I don't specify the version of `openblas`.
I am still working on it.

[2018-10-25 07:30] wkcn commented on #12952
@universewill Have you tested  that 'train_iter' is random?

[2018-10-25 08:55] Vermeille commented on #11911
I'm talking about GPU. Just to make sure.

[2018-10-25 15:00] universewill commented on #12952
yeah, I printed the first batch of each epoch, this data is truely shuffled each between each epoch

[2018-10-25 15:02] 729009982 opened #12973 "load 2 data-sets in a same order"
Hi.
    I am writing to load 2 data-set by VOCDetection from gluoncv ,But I want to read 2 data-sets (same num,size) in a same order .Due to the shuffle strategy ,I can not ensure that.
And I want to know if I fix the random seed would works.
If works,and whether or not  this solution would heart the performance.

  What should I do ? Thank you for your time. :slight_smile:

[2018-10-25 15:20] guker commented on #2142
prefect

[2018-10-25 15:29] guker commented on #2142
what is chunk？ is it prefetched data？

[2018-10-25 15:55] taliesinb commented on #12760
@zheng-da any news on this? Seems like foreach is dangerous to use until this is fixed.

[2018-10-25 17:43] andrewfayres commented on #12952
@mxnet-label-bot [python]

[2018-10-25 17:46] eric-haibin-lin commented on #12932
+1 on this feature

[2018-10-25 17:52] azai91 commented on #12910
@sriharikarnam can you take a look at this issue?

[2018-10-25 17:54] andrewfayres commented on #12966
Thanks for the issue. Adding some labels to help get the correct eyes on this.

@mxnet-label-bot [c++, bug]

[2018-10-25 18:02] andrewfayres commented on #12973
Hi @729009982

We recommend that you submit questions to the MXNet discussion forum (https://discuss.mxnet.io). You'll get a wider audience and it helps other people learn too.

@mxnet-label-bot [gluon, question]

[2018-10-25 19:48] szha commented on #11911
@Vermeille yes, you mentioned so. Still, f16c optimization is a CPU instruction set, and is only enabled in GPU versions. It results in import error if the CPU on the target hardware doesn't support f16c. @apeforest is looking into it

[2018-10-25 21:30] MyraBaba commented on #12869
@leleamol Thanks for your PR it is very good start for me.

But time is limited for me and I need the produce same results for same picture as in python version  which is requires more deep knowledge mxnet &  align and normalisation I think.

[2018-10-25 22:09] eric-haibin-lin opened #12976 "Feature request: CUDNN support for Dropout"
Currently dropout operator doesn't have cudnn support. Furthermore, CUDNN doesn't support dropout with axis, while MXNet Naive dropout op does. I assume CUDNN dropout op will be much faster than MXNet's on large arrays.

@DickJC123 @ptrendx

[2018-10-25 23:54] apeforest commented on #11639
@sandeep-krishnamurthy @nswamy This issue is fixed. Please close it. Thanks!

[2018-10-26 00:12] wkcn commented on #12952
@universewill
I don't know. I think you could try to print the loss.

[2018-10-26 00:53] apeforest commented on #12817
@mirocody This problem has been fixed in the latest release 1.3.1 (to be released)
You may verify using pip install mxnet-cu90mkl --pre

[2018-10-26 05:41] mirocody commented on #12817
Verified, thanks. I close this issue.

[2018-10-26 05:41] #12817 closed

[2018-10-26 05:51] jiangzhengkai opened #12979 "How to reduce memory in Gluon?"
We can use attr={'force_mirroring': 'True'} in mxnet symbol to reduce gpu memory. How can we reduce memory in gluon?

[2018-10-26 08:11] #12959 closed

[2018-10-26 09:17] MyraBaba commented on #12869
I send mail to slack channel and it got bact to me error. FYI

[2018-10-26 15:59] back2yes commented on #11812
@nswamy No, this is not the corresponding one.

The desired classes num is 11586, while the imagenet-11k/synset.txt has 11221 classes

[2018-10-26 16:08] back2yes opened #12981 "Synsets is missing for pretrained model on Imagenet-11k+Places365"
The pretrained model hosted at http://data.mxnet.io/models/imagenet-11k-place365-ch/ does not seem to include a synset file.

Similary issue can be found here:  https://github.com/apache/incubator-mxnet/issues/11812

[2018-10-26 16:21] johncolby opened #12982 "Multiple GPUs crashes entire linux system"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-10-26 16:36] back2yes commented on #12981
It seems that the synset file for imagenet-11k + places365 is the concatenation of places365 and imagenet11k (places365 goes first here).

[2018-10-26 16:36] #12981 closed

[2018-10-26 17:38] AustinDoolittle commented on #12228
Any updates on this?

[2018-10-26 17:57] safrooze commented on #12979
Are you hybridizing? If so, you can always set the same set of attributes on you operators as in hybridized mode F is basically sym.

[2018-10-26 18:09] AustinDoolittle commented on #12751
I've encountered this same issue, is there a workaround?

[2018-10-26 18:13] eric-haibin-lin opened #12984 "Feature request: GELU operator"
Reference paper:
https://arxiv.org/abs/1606.08415

Reference python impl: https://github.com/huggingface/pytorch-openai-transformer-lm/blob/master/model_pytorch.py#L14-L15

Used in transformer language model:
https://s3-us-west-2.amazonaws.com/openai-assets/research-covers/language-unsupervised/language_understanding_paper.pdf

[2018-10-26 18:57] johncolby commented on #12982
Brilliant, many thanks David! I disabled IOMMU in the EFI bios and now multi GPU support seems to be working as expected.

[2018-10-26 18:57] #12982 closed

[2018-10-26 19:39] safrooze commented on #12979
@mxnet-label-bot [gluon, question]

[2018-10-26 20:13] aaronmarkham commented on #12949
@mxnet-label-bot [good first issue]

[2018-10-26 20:15] #12892 closed

[2018-10-26 20:41] nswamy commented on #12869
@MyraBaba you can send a email to dev@mxnet.apache.org requesting an invite, we'll invite your email address.

[2018-10-26 22:02] leleamol commented on #12849
@inglada I am not very expert on CMake or how it is used in this repo. Someone from @mxnet-jenkins  team might be able to answer.

@marcoabreu would you be able to answer above question?

[2018-10-26 22:19] leleamol opened #12989 "Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form."
For Q & A and discussion, please start a discussion thread at https://discuss.mxnet.io

## Description
(Brief description of the problem in no more than 2 sentences.)

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please provide:
1. Java version: (`java -version`)
2. Maven version: (`mvn -version`)
3. Scala runtime if applicable: (`sc

[2018-10-26 22:26] masahi opened #12990 "[MKL-DNN] Enabling Winograd algorithm for AVX 512?"
Hi, I am trying MXNet + MKL-DNN on an AVX 512 capable machine.

Looking at the code in mkldnn_convolution.cc, I'm assuming that MXNet always choose a direct algorithm for mkl-dnn convolution (by specifying  mkldnn::algorithm::convolution_direct). But MKL-DNN implements Winograd algo for AVX 512, and it should be much faster than direct algo when applicable.

Why not enable it if there is a support

[2018-10-26 22:39] jsedoc opened #12991 "python3.6 pip package for CUDA 9.1 MKL no longer updated?"
Hi, it doesn't look like for Linux that there is a MxNet Python 3.6 pip package since right before 1.3.0.post0. Is this intentional?

$ pip install mxnet-cu91mkl==1.3.0.post0
Collecting mxnet-cu91mkl==1.3.0.post0
  Could not find a version that satisfies the requirement mxnet-cu91mkl==1.3.0.post0 (from versions: 1.0.0.post4, 1.0.1b20180123, 1.0.1b20180127, 1.0.1b20180205, 1.1.0b20180212, 1.1.0, 1.

[2018-10-26 23:00] safrooze commented on #12532
Looks like the patch needs updating. Any chance you'd be interested in fixing the patch and pushing a PR to get your name as an MXNet contributor? :)

[2018-10-26 23:56] andrewfayres commented on #12989
@leleamol Looks like you either created this on accident or accidentally left it blank. Please update or close.

[2018-10-26 23:57] andrewfayres commented on #12989
@mxnet-label-bot [Pending Requester Info]

[2018-10-26 23:57] apeforest commented on #11341
@wenyangchu Since I have not got the response from you, I took the liberty to implement this feature in MXNet due to other urgent requests. Thank you very much for your investigation and suggestion. You are more than welcome to review my PR and provide other valuable suggestions.

[2018-10-26 23:58] #12989 closed

[2018-10-26 23:58] leleamol commented on #12989
Closed. It was created by mistake.

[2018-10-26 23:59] andrewfayres commented on #12991
@mxnet-label-bot [python, pip]

[2018-10-27 00:44] andrewfayres commented on #12894
@mxnet-label-bot [bug]

[2018-10-27 00:51] pengzhao-intel commented on #12990
It's nice that you are using MKL-DNN backend :)

Winograd outperforms the direct convolution for small filter size and we have the plan to enable it in the next step.

[2018-10-27 01:00] masahi commented on #12990
Thanks, let me keep this thread open to track progress.

[2018-10-27 01:02] TaoLv commented on #12990
@masahi Thanks for asking that. Since winograd may impact the numerical stability and model accuracy, so I don't think it can be chosen by library implictly. Besides, Winograd doesn't always outperform direct convolution in MKL-DNN. It depends on the implementation and kernel size/shape. To make this feature request more clear, could you also explain what does you model look like and what's you ex

[2018-10-27 01:33] masahi commented on #12990
@TaoLv Good point on numerical accuracy of winograd. Performance - accuracy trade off is an interesting topic. Since you already have int8 convolution (which trades accuracy for performance way more than winograd), it also makes sense to make winograd available so users can opt-in.

I want to test performance of MKL-DNN AVX 512 winograd to compare with my home grown winograd implementation written

[2018-10-27 01:50] ddavydenko commented on #12966
@mxnet-label-bot [Training]

[2018-10-27 01:51] ddavydenko commented on #12966
@nikudyshko , it seems you are using C++ API for training the model. Would you mind sharing your use case? Namely, what made you chose C++ API for training purposes over, let's say, Python API?

[2018-10-27 01:52] ddavydenko commented on #8126
@mxnet-label-bot [Training]

[2018-10-27 01:53] ddavydenko commented on #8126
@theSparta , it seems you are using C++ API for training the model. Would you mind sharing your use case? Namely, what made you chose C++ API for training purposes over, let's say, Python API?

[2018-10-27 01:56] ddavydenko commented on #12966
@leleamol , could you please take a look into this issue?

[2018-10-27 05:55] theSparta commented on #8126
It was a long time ago but I was trying to use the C++ API because the trained network was supposed to be interfaced with some C++ library after training to collect more training data (similar to DAgger). The final solution I ended up with was : (1) train the model in python,
(2) export the trained model to C++ to run inference
(3) collect more data using trained network
 (4) Go back to step (1)

[2018-10-27 06:02] jiangzhengkai commented on #12979
@safrooze Thanks

[2018-10-27 06:02] #12979 closed

[2018-10-27 08:37] shadogray opened #12993 "R package build broken, Roxygen2 refuses to overwrite NAMESPACE"
Commit #12391 breaks R-package, by _NOT_ removing invalid NAMESPACE file.
Steps to reproduce:
   make rpkg
Result: broken mxnet package

Rscript -e "require(roxygen2); roxygen2::roxygenise('R-package'); warnings()"
Aktiver Kindprozess 0x558393c8f5f0 (rpkg) PID 8285
Warnmeldungen:
1: @param [model.rnn.R#251]: requires name and description
...
19: The existing 'NAMESPACE' file was not generated by r

[2018-10-27 08:41] shadogray commented on #12993
SessionInfo during build:

R version 3.5.1 (2018-07-02)
Platform: x86_64-suse-linux-gnu (64-bit)
Running under: openSUSE Tumbleweed

Matrix products: default
BLAS: /usr/lib64/R/lib/libRblas.so
LAPACK: /usr/lib64/R/lib/libRlapack.so

locale:
 [1] LC_CTYPE=de_DE.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=de_DE.UTF-8        LC_COLLATE=de_DE.UTF-8
 [5] LC_MONETARY=de_DE.UTF-8    LC_MESSAGES=de_DE.UTF-8
 [7

[2018-10-27 10:17] TaoLv commented on #12990
I meant MKL-DNN shouldn't "choose the best algo automatically" because of the accuracy issue. At least there should be an environment variable to enable it at framework level. INT8 is also enabled by the user explictly and it need be tuned to exclude some layers for accuracy. If we agree that winograd cannot be applied to all convolution layers, this kind of tuning should also be applied at model

[2018-10-27 12:34] masahi commented on #12990
Yes, something like an environment variable to enable winograd is also what I had in mind.

Thanks for suggesting benchdnn. I'll try it.

[2018-10-27 13:00] pengzhao-intel commented on #12910
@juliusshufan will update the AMD performance results soon

[2018-10-27 15:56] larroy opened #12994 "Test failure and possible bug on GPU topology algorithm (test_device.test_device_pushpull)"
## Description

Failure in test_device.test_device_pushpull is reported by NVidia in DGX1V.

I suspect there is a bug on the binary tree creation. I'm looking into this issue.

[code]

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please provide:
1. Java version: (`java -version`)
2. Maven version: (`mvn -version`)
3. Scala runtime if

[2018-10-27 16:36] larroy commented on #12662
Can this be closed due to the previous fix by @DickJC123 ?

[2018-10-29 16:41] szha commented on #12991
Yes, we discontinued support for cu91 versions in 1.3. For current support status see #8671

[2018-10-29 16:41] #12991 closed

[2018-10-29 17:12] eric-haibin-lin opened #13001 "Feature request: numpy.cumsum"
MXNet equivalence of numpy.cumsum https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.cumsum.html?highlight=cumsum#numpy.cumsum

[2018-10-29 17:57] leleamol commented on #12966
@nikudyshko, @ddavydenko  I spent some time experimenting with this issue. This is an interesting issue.  If I use 2 or 3 characters in following lines to name the variable (e.g ws or wst, bs or bst) then the training fails.
weights[i] = Symbol::Variable("ws" + std::to_string(i));
biases[i] = Symbol::Variable("bs" + std::to_string(i));

However, if I use 1 or more than 3 characters then the traini

[2018-10-29 20:01] frankfliu commented on #12993
@mxnet-label-bot [R]

[2018-10-29 20:11] frankfliu commented on #12994
@mnxet-label-bot [test]

[2018-10-29 20:12] #12868 closed

[2018-10-29 20:13] #12855 closed

[2018-10-29 20:27] aaronmarkham commented on #12947
@mxnet-label-bot [Good First Issue]

[2018-10-29 20:28] aaronmarkham commented on #12944
@mxnet-label-bot [Good First Issue]

[2018-10-29 21:02] aaronmarkham opened #13002 "mxnet.gluon.nn.HybridLambda docs error"
## Description
Sphinx throws errors on the `mxnet.gluon.nn.HybridLambda` docs.

## Error
[code]

[2018-10-29 21:04] aaronmarkham opened #13003 "mxnet.gluon.nn.Lambda docs error"
## Description
Sphinx throws an error on generating docs for `mxnet.gluon.nn.Lambda`.

## Error
[code]

[2018-10-29 21:05] aaronmarkham opened #13004 "mxnet.gluon.rnn.GRUCell docs error"
## Description
Sphinx throws an error generating docs for `mxnet.gluon.rnn.GRUCell`.

## Error
[code]

[2018-10-29 21:06] aaronmarkham opened #13005 "mxnet.gluon.rnn.LSTMCell docs error"
## Description
Sphinx throws an error when generating docs for `mxnet.gluon.rnn.LSTMCell`.

## Error
[code]

[2018-10-29 21:07] aaronmarkham opened #13006 "mxnet.gluon.rnn.RNNCell docs error"
## Description
Sphinx throws an error when generating docs for `mxnet.gluon.rnn.RNNCell`.

## Error
[code]

[2018-10-29 21:09] aaronmarkham opened #13007 "Image API docs error"
## Description
Sphinx throws an error when generating the Image API docs.

## Error
[code]

[2018-10-29 21:11] aaronmarkham opened #13008 "RecordIO API docs errors"
## Description
Sphinx throws several errors when generating the RecordIO API docs.

## Error
[code]

[2018-10-29 21:12] aaronmarkham opened #13009 "mxnet.metric.EvalMetric.get_config docs error"
## Description
Sphinx throws an error when generating docs for `mxnet.metric.EvalMetric.get_config`.

## Error
[code]

[2018-10-29 21:12] frankfliu commented on #13002
@mxnet-label-bot [Doc]

[2018-10-29 21:12] frankfliu commented on #13003
@mxnet-label-bot [Doc]

[2018-10-29 21:13] frankfliu commented on #13004
@mxnet-label-bot [Doc]

[2018-10-29 21:13] frankfliu commented on #13005
@mxnet-label-bot [Doc]

[2018-10-29 21:13] frankfliu commented on #13006
@mxnet-label-bot [Doc]

[2018-10-29 21:14] aaronmarkham opened #13010 "Module API docs error - fails to import BucketModule.switch_bucket"
## Description
Sphinx throws an error when generating docs for the Module API. It is failing to import `BucketModule.switch_bucket`.

## Error
[code]

[2018-10-29 21:14] frankfliu commented on #13008
@mxnet-label-bot [Doc]

[2018-10-29 21:14] frankfliu commented on #13007
@mxnet-label-bot [Doc]

[2018-10-29 21:14] frankfliu commented on #13009
@mxnet-label-bot [Doc]

[2018-10-29 21:14] frankfliu commented on #13010
@mxnet-label-bot [Doc]

[2018-10-29 21:15] aaronmarkham opened #13011 "mxnet.module.BaseModule docs errors"
## Description
Sphinx is throwing errors when generating docs for `mxnet.module.BaseModule`.

## Error
[code]

[2018-10-29 21:15] frankfliu commented on #13011
@mxnet-label-bot [Doc]

[2018-10-29 21:15] anirudhacharya commented on #10923
`initializer.py` has very less test coverage
- [ ] Orthogonal Initializer
- [ ] Bilinear Initializer
- [ ] MSRAPrelu Initializer
- [ ] Mixed Initializer

[2018-10-29 21:16] aaronmarkham opened #13012 "mxnet.module.SequentialModule.add docs error"
## Description
Sphinx throws an error when generating docs for `mxnet.module.SequentialModule.add`.

## Error
[code]

[2018-10-29 21:17] vandanavk commented on #12682
PR https://github.com/apache/incubator-mxnet/pull/12946

[2018-10-29 21:21] vandanavk commented on #12514
please verify with the PR https://github.com/apache/incubator-mxnet/pull/12878

[2018-10-29 21:22] aaronmarkham opened #13013 "foreach operator docs errors"
## Description
Sphinx throws errors when generating the docs for the `foreach` operator.

## Error
[code]

[2018-10-29 21:23] aaronmarkham opened #13014 "AdaptiveAvgPooling2D docs error"
## Description
Sphinx throws errors when generating the docs for the `AdaptiveAvgPooling2D` op.

## Error
[code]

[2018-10-29 21:24] aaronmarkham opened #13015 "ROIAlign docs error"
## Description
Sphinx throws an error when generating the docs for the `ROIAlign` op.

## Error
[code]

[2018-10-29 21:25] aaronmarkham opened #13016 "box_nms operator docs error"
## Description
Sphinx throws errors when generating the docs for the `box_nms` op.

## Error
[code]

[2018-10-29 21:27] aaronmarkham opened #13017 "box_non_maximum_suppression operator docs error"
## Description
Sphinx throws errors when generating the docs for the `box_non_maximum_suppression` op.

## Error
[code]

[2018-10-29 21:28] aaronmarkham opened #13018 "index_copy operator docs errors"
## Description
Sphinx throws an error generating the docs for the `index_copy` op.

## Error
[code]

[2018-10-29 21:29] aaronmarkham opened #13019 "quadratic operator docs errors"
## Description
Sphinx throws errors when generating the docs for the `quadratic` op.

## Error
[code]

[2018-10-29 21:30] aaronmarkham opened #13020 "ndarray.reshape docs errors"
## Description
Sphinx throws errors when generating docs for `ndarray.reshape`.

## Error
[code]

[2018-10-29 21:34] aaronmarkham opened #13021 "mxnet.ndarray.BatchNorm docs error"
## Description
Sphinx throws an error when generating the docs for `mxnet.ndarray.BatchNorm`.

## Error
[code]

[2018-10-29 21:35] aaronmarkham opened #13022 "mxnet.ndarray.crop docs error"
## Description
Sphinx throws an error when generating the docs for this function.

## Error
[code]

[2018-10-29 21:36] aaronmarkham opened #13023 "mxnet.ndarray.slice docs error"
## Description
Sphinx throws an error when generating the docs for this function.

## Error
[code]

[2018-10-29 21:37] aaronmarkham opened #13024 "mxnet.random.seed docs error"
## Description
Sphinx throws an error when generating the docs for this function.

## Error
[code]

[2018-10-29 21:48] frankfliu commented on #13015
@mxnet-label-bot [Doc]

[2018-10-29 21:48] frankfliu commented on #13016
@mxnet-label-bot [Doc]

[2018-10-29 21:48] frankfliu commented on #13017
@mxnet-label-bot [Doc]

[2018-10-29 21:48] frankfliu commented on #13018
@mxnet-label-bot [Doc]

[2018-10-29 21:48] frankfliu commented on #13019
@mxnet-label-bot [Doc]

[2018-10-29 21:48] frankfliu commented on #13020
@mxnet-label-bot [Doc]

[2018-10-29 21:48] frankfliu commented on #13021
@mxnet-label-bot [Doc]

[2018-10-29 21:48] frankfliu commented on #13022
@mxnet-label-bot [Doc]

[2018-10-29 21:49] frankfliu commented on #13023
@mxnet-label-bot [Doc]

[2018-10-29 21:49] frankfliu commented on #13024
@mxnet-label-bot [Doc]

[2018-10-29 21:56] aaronmarkham opened #13025 "mxnet.ndarray.sparse.CSRNDArray.astype docs error"
## Description
Sphinx throws an error when generating the docs for this function.

## Error
[code]

[2018-10-29 21:57] aaronmarkham opened #13026 "mxnet.ndarray.sparse.RowSparseNDArray docs errors"
## Description
Sphinx throws errors when generating the docs for this function.

## Error
[code]

[2018-10-29 21:58] aaronmarkham opened #13027 "mxnet.ndarray.sparse docs errors"
## Description
Sphinx throws an error when generating the docs for this function.

## Error
[code]

[2018-10-29 21:59] aaronmarkham opened #13028 "mxnet.ndarray.load docs error"
## Description
Sphinx throws an error when generating the docs for this function.

## Error
[code]

[2018-10-29 22:00] aaronmarkham opened #13029 "mxnet.ndarray.save docs error"
## Description
Sphinx throws an error when generating the docs for this function.

## Error
[code]

[2018-10-29 22:00] aaronmarkham opened #13030 "mxnet.optimizer.LBSGD docs error"
## Description
Sphinx throws an error when generating the docs for this function.

## Error
[code]

[2018-10-29 22:09] frankfliu commented on #13025
@mxnet-label-bot [Doc]

[2018-10-29 22:09] frankfliu commented on #13026
@mxnet-label-bot [Doc]

[2018-10-29 22:10] frankfliu commented on #13027
@mxnet-label-bot [Doc]

[2018-10-29 22:10] frankfliu commented on #13028
@mxnet-label-bot [Doc]

[2018-10-29 22:10] frankfliu commented on #13029
@mxnet-label-bot [Doc]

[2018-10-29 22:10] frankfliu commented on #13030
@mxnet-label-bot [Doc]

[2018-10-29 22:49] frankfliu commented on #12990
@mxnet-label-bot [Question]

[2018-10-29 23:47] szha opened #13032 "requests need upgrade due to security risk (CVE-2018-18074)"
Details can be found in https://nvd.nist.gov/vuln/detail/CVE-2018-18074
Currently requests are fixed to be below 2.19.0

https://github.com/apache/incubator-mxnet/blob/master/python/setup.py#L33

[2018-10-30 00:06] frankfliu commented on #13032
@mxnet-lable-bot [Bug, Build, Python]

[2018-10-30 02:58] harshp8l commented on #13032
@mxnet-label-bot add [Bug, Build, Python]

[2018-10-30 03:55] szha commented on #13001
`cumsum` is needed when you have an array of lengths with which to slice another concatenated array, and you want to calculate the start and end index to use. For example, suppose you have three arrays of different lengths, and you concatenated them like:
`[1, 2, 3], [4, 5], [6, 7, 8, 9] => [1, 2, 3, 4, 5, 6, 7, 8, 9]`
Their corresponding lengths are `[3, 2, 4]`.
The `cumsum` would be `[3, 5, 9]`,

[2018-10-30 05:53] nanchen322 opened #13035 "cannot library rvg package"
## Description
Recently, I need rvg package to publish powerpoint slides directly by R. However, I cannot library rvg package because of this following error. I am using Mac with OS High Sierra but my friend with Windows does not have this error while having the same code. Can anyone help me with this problem?

Error: package or namespace load failed for ‘rvg’ in dyn.load(file, DLLpath = DLLpath,

[2018-10-30 05:54] zheng-da opened #13036 "fix operators to support large arrays."
We're working on a model that requires very large NDArrays. For example, we want to create an NDArray as follows:
[code]
The current implementation doesn't fail with an error, but it doesn't generate a matrix correctly (it only fills the rows at the beginning).

`mx.nd.zeros` also fails.

It's unclear what operators support and which operators don't.

[2018-10-30 05:55] #13035 closed

[2018-10-30 09:56] Wallart opened #13037 "ImageDetIter looping forever in MXNet-1.3.0"
Hello everybody !
I might have found a bug on on the ImageDetIter.
Recently I ran some old code written thanks to Gluon Object detection tutorial.[https://gluon.mxnet.io/chapter08_computer-vision/object-detection.html]

It's fully functional until MXNet 1.2.1. But in MXNet 1.3.0 the loop for iterating over batches is looping forever.

[2018-10-30 12:52] MyraBaba commented on #5815
Hi

Can advise us for best configuration for Mac Os X i7 8 cores installed mxnet and mklmxnet pyton lib.

mxnet only using %50 of the available cores. %400
how can I make it to use %800 to get more performance ?

[2018-10-30 13:42] lebeg commented on #12885
Failed on master as well:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1827/pipeline

[2018-10-30 15:34] frankfliu commented on #13036
@mxnet-label-bot [Bug, Operator]

[2018-10-30 15:39] frankfliu commented on #13037
@mxnet-label-bot [Bug, Python]

[2018-10-30 16:31] kohr-h opened #13040 "Import and GPU init extremely slow on Windows"
## Description

Under Windows (10), `import mxnet` takes about 10 seconds, and `nd.array([1, 2, 3], ctx=gpu())` takes about 2 minutes. There might be a common reason.

## Environment info (Required)

[code]

### Package used (Python/R/Scala/Julia)

I've tested the following versions:
- `pip install mxnet-cu92mkl`: See "Test code & output" below
- `pip install --pre mxnet-cu92mkl` (installs `mxnet-

[2018-10-30 16:32] kohr-h commented on #13040
#12255 might be related

[2018-10-30 17:20] frankfliu commented on #13040
@mxnet-label-bot [Python, Performance, Windows]

[2018-10-30 19:05] leleamol commented on #12966
@nikudyshko , I compared this C++ implementation with python implementation.  (The excerpt given below). I noted following:

1.  In python API,  while creating "FullyConnected" layer, the names of 'weights' and 'biases' are automatically generated, if not specified. These names are of the format fc_weight and fc_bias
2. User can specify the names of "weights" and "biases" while creating FullyConne

[2018-10-30 21:23] ankkhedia opened #13044 "Export to ONNX not working as expected for ArcFace model"
I am trying to export Arcface model to ONNX.
The model is located in this public S3 bucket
https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100/resnet100-0000.params
https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100/resnet100-symbol.json
When we export to ONNX we get float64 dtype for minscalar layer whereas the ONNX specification doesn't support float64.

## Minimum reproducible exam

[2018-10-30 21:43] vandanavk commented on #13044
thanks for reporting this @ankkhedia. Looking into it

[2018-10-30 22:26] leleamol commented on #12141
Hi @squidszyd,
  Based on the descriptions, it seems you are referring to implementation of iterators in C API.
The C_API are internal and they are different from C++ API that are available in cpp-package. The later is meant for external consumption.

The feature request is more appropriate for C_API and not cpp-package.
@mxnet-label-bot can we replace C++ tag with C_API.

[2018-10-30 22:39] leleamol commented on #12073
@mxnet-lable-bot  [pending-requestor-info]

[2018-10-30 22:43] leleamol commented on #11944
@mxnet-label-bot [pending-requester-info]

[2018-10-30 23:13] leleamol commented on #12966
The issue is similar to the issue #8108

[2018-10-30 23:45] ankkhedia commented on #12870
@rozaliyaeverstova It seems that your question got answered
@sandeep-krishnamurthy Could you please close the issue

@rozaliyaeverstova Please feel free to reopen if closed in error.

[2018-10-30 23:51] ankkhedia commented on #12310
@sandeep-krishnamurthy The issue can be closed as the fixes has been merged.

@Chancebair Please feel free to reopen if closed in error.

[2018-10-30 23:57] leleamol commented on #6693
The issue is related to C API and not the C++ API in cpp-package.
@mxnet-label-bot Please remove C++ and add  C API

[2018-10-31 01:12] ChaiBapchya commented on #12885
Fails for me too - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-13045/3/pipeline/1005

[2018-10-31 01:28] xiaolin-cheng commented on #12576
@kalyc @leleamol

I am implementing an allreduce distributed training algorithm, and wanted to compare with MXNet's native parameter server approach. I did some hacking in the library C++ code, so comparing with C++ ps training would be fair. A quick C++ ps example of even how to use C++ ps APIs would be great. I was lost when I looked into C++ ps APIs and had no idea where to start.

Thanks

[2018-10-31 03:15] wongjoel opened #13051 "Tutorial: Incorrect variable name in tutorial code snippet"
There is a incorrect snippet of code for the Scala tutorial for the character LSTM

[https://github.com/apache/incubator-mxnet/blob/master/docs/tutorials/scala/char_lstm.md#prepare-the-data]

Code currently reads:
[code]

The `dataPath` variable in this code snippet is not defined, and should instead be the parameter `path` as it is in the example code https://github.com/apache/incubator-mxnet/blo

[2018-10-31 04:16] larsonwu0220 opened #13053 "Something wrong of form .rec of my own data"
I try to form .rec and .idx of my own data.
First, run im2rec.py to generate list :
python im2rec.py --list --recursive --train-ratio 1 [list folder] [images folder]
![image](https://user-images.githubusercontent.com/19381177/47765477-1adbfd80-dd05-11e8-9adf-d629b65f009a.png)

Second, run im2rec.py to generate .rec and .idx.
python im2rec.py --num-thread 4 [list folder] [images folder]
![image](ht

[2018-10-31 05:34] varunrajk opened #13054 "Multiple trainers within a single worker using a distributed KVStore"
## Description
The Gluon Trainer `step` method uses enumerations as keys to push and pull gradients/parameters from kvstore. Using two trainers within a single worker script (in a distributed learning setting) can cause an issue because each trainer uses the same set of keys on the distributed KVStore.

## Minimum reproducible example
Here is a simple example script that demonstrates this issue:

[2018-10-31 05:56] pengzhao-intel opened #13055 "tutorials C++ index page without meaningful content"
https://github.com/apache/incubator-mxnet/blob/master/docs/tutorials/c%2B%2B/index.md

@aaronmarkham

[2018-10-31 06:01] pengzhao-intel commented on #13055
@mxnet-label-bot [Doc]

[2018-10-31 06:10] anirudhacharya commented on #13007
In this page - http://mxnet.incubator.apache.org/api/python/io/io.html the links to
- mxnet.io
- mxnet.recordio
- mxnet.image

are linking to the wrong destinations. I am not sure if it is related to the error reported in this issue. Just bringing it to your attention.

[2018-10-31 08:40] wkcn commented on #13036
The type of iterator is `int` in MXNet kernel.
So it will fail when the number of iteration is greater than 2^31 - 1, (namely 2147483647).
50000000 * 100 > 2^31 - 1

Please see the code:
CPU:
https://github.com/apache/incubator-mxnet/blob/master/src/operator/mxnet_op.h#L506

GPU:
https://github.com/apache/incubator-mxnet/blob/master/src/operator/mxnet_op.h#L627

[2018-10-31 09:54] Chancebair commented on #12314
Created a PR to disable test: https://github.com/apache/incubator-mxnet/pull/13057

[2018-10-31 09:54] kohr-h commented on #13040
Titan V

Maybe, but MXNet + MKLDNN takes <0.8 seconds, whereas MXNet + CUDA takes 10-ish seconds. So size alone doesn't explain it.

Okay, so when would that happen? Is that every time a new GPU context is used for the first time?
Can I avoid this issue by building MXNet from source with specific compiler flags?

[2018-10-31 10:36] TonyTangYu opened #13058 "AttributeError: 'str' object has no attribute 'rank'"
## Description
I run the ssd demo of mxnet from [this](https://github.com/zhreshold/mxnet-ssd). When
I run python train.py --gpu 0 --batch-size 32 --lr 0.001 but I get the following problem.  I list all the information needed.

## Environment info (Required)
[code]

Package used (Python/R/Scala/Julia):

I'm using Python2.7.13 and mxnet0.11

## Error Message:
[18:29:52] src/io/iter_image_det_record

[2018-10-31 11:09] wkcn commented on #13058
It seems the SSD example doesn't support the old version of MXNet.
Please upgrade MXNet.
The latest version is 1.3.x.

[2018-10-31 13:12] MoritzMaxeiner commented on #11594
@nswamy Why was this feature request closed? The requested feature is not available in 1.2 release or master AFAICT - I could not find any PR fixing this.

[2018-10-31 13:53] MoritzMaxeiner opened #13061 "Incorrect ONNX export of SliceChannel"
## Description

The [operator mapping](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py#L1942) from MXNet's `SliceChannel` to ONNX `Split` is incorrect:

[code]

This means that when an array is supposed to be split into e.g. 10 evenly sized chunks (`num_outputs` == 10) what is exported instead is an ONNX operator that outputs one chunk of

[2018-10-31 15:42] apeforest commented on #13036
Will take a look

[2018-10-31 15:50] frankfliu commented on #13051
@mxnet-label-bot [Doc]

[2018-10-31 15:52] frankfliu commented on #13053
@mxnet-label-bot [Question]

[2018-10-31 15:55] frankfliu commented on #13054
@mxnet-label-bot [KVStore, Thread Safety]

[2018-10-31 15:58] frankfliu commented on #13058
@mxnet-label-bot [Python, Example]

[2018-10-31 16:18] TonyTangYu commented on #13058
@wkcn  Thank you for your response. I upgraded the version of MXNet. It works now. Thank you!

[2018-10-31 16:32] wkcn commented on #13058
@TonyTangYu I recommend to use the SSD example in gluon-cv github.com/dmlc/gluon-cv, which could reach the baseline.

[2018-10-31 16:58] anirudhacharya commented on #13061
@vandanavk

[2018-10-31 17:05] jacky4323 commented on #12532
@safrooze Hi,

now I use an old mxnet package build with caffe, it works now!!
However, In my caffe operator which is only implemented custom_layer.cpp (there is no custom_layer.cu),
Can I set not compile Cuda with this custom operator?
When I use the command below, I get the error due to not implementing GPU mode(cuda file)
`mkdir build/Release && cd build/Release`
`cmake ../../`
`make -j8`

![im

[2018-10-31 17:31] Wei-1 opened #13063 "Scala-Package CI Missing"
## Description
On the Scala package page:
https://github.com/apache/incubator-mxnet/tree/master/scala-package

The badge for Travis-CI is not working correctly. It is pointing to the DMLC page, which is not there anymore.

## Environment info

The current test for Travis-CI is at https://travis-ci.org/apache/incubator-mxnet/
However, it is only for C++.

in [.travis.yml](https://github.com/apache/

[2018-10-31 17:42] szha opened #13064 "cuDNN in CI needs upgrade"
Current CI is running with [cudnn older than 7.1.1](http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-13056/1/pipeline#step-1311-log-1212), which means it's at least 2 minor versions behind. New features such as LSTM projection is not available on old versions.

[2018-10-31 17:54] frankfliu commented on #13063
@mxnet-label-bot [Scala, Doc]

[2018-10-31 18:01] lebeg commented on #13064
Thanks @szha for the issue, I think this should be resolved with https://github.com/apache/incubator-mxnet/pull/12850 once it would be ready to be merged.

[2018-10-31 18:09] #12310 closed

[2018-10-31 18:09] #12870 closed

[2018-10-31 18:11] ChaiBapchya commented on #10323
Flaky test. CI - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12775/12/pipeline/

Error
[code]

[2018-10-31 18:45] leleamol commented on #12576
@xiaolin-cheng Thanks for providing the information regarding your use case.

The C++ API that are meant to be used as front-end API are available [here]  (https://github.com/apache/incubator-mxnet/tree/master/cpp-package/include/mxnet-cpp)
There are [examples](https://github.com/apache/incubator-mxnet/tree/master/cpp-package/example) that demonstrate training workflows using simple networks.

Cur

[2018-10-31 19:49] MyraBaba commented on #12869
Hi @leleamol

I am trying to integrate and testing your new inference.

do you know the equilavent of the beloq python code in mxnet or Ndarray ?  :

distance = numpy.sum(numpy.square(descA512 - descB512))

I will test with my own preprocessed faces first to see difference..

[2018-10-31 20:53] yajiedesign commented on #13040
Titan V must SM_70 arch.wait update

[2018-10-31 20:58] anirudhacharya commented on #13007
click on mxnet.image and you will see it goes to the wrong place.

[2018-10-31 22:30] leleamol commented on #12869
@MyraBaba
According to the [ndarray.h](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/include/mxnet-cpp/ndarray.h), the NDArray does support "-" and "*" operators with which you can "numpy.square(descA512- descB512)" operations.  However, numpy.sum equivalent operation is not yet supported for NDArray.

[2018-10-31 22:52] eric-haibin-lin opened #13070 "Cannot create large ndarray from numpy"
[code]

[2018-10-31 23:17] wkcn commented on #13036
@apeforest
will it drop the performance down If changing the type of iteration to int64_t?
In PyTorch, the type of iteration is a template type.

[2018-10-31 23:28] zheng-da commented on #13036
i'm fixing some of the operators. but we need a systematic fix. The problem is everywhere. i'll provide a temp fix for some of the operators.

[2018-10-31 23:30] zheng-da commented on #13036
@wkcn in cpu, it shouldn't be a problem. I heard concerns on GPUs. Potentially, we can use int64_t for CPU and int for GPU.

[2018-10-31 23:51] ankkhedia commented on #12815
@sahbiept Did the solutions suggested above worked for you?

[2018-11-01 00:03] ankkhedia commented on #12063
@prathik-naidu Did you get a chance to look into results after applying normalization?

[2018-11-01 00:04] nikudyshko commented on #12966
@ddavydenko Sorry for my late answer, was AFK for few days. I'm developing application, that will be a part of software package for measurement complex from my lab and there is probability that it will require on-line learning. Whole package will be written on C++ so using cpp-api is the only option.

[2018-11-01 00:09] ankkhedia commented on #11713
@Oh233 Did you get a chance to look into the fix as the PR #12178 didn't help fixing the issue?

[2018-11-01 01:35] janelu9 opened #13072 "Does mxnet have a crf-loglikehood ?"

[2018-11-01 03:08] wkcn commented on #13036
@zheng-da
Maybe we can try to use `int32_t` for small for-loop, and `int64_t` for large for-loop.

[2018-11-01 03:12] yash0307 opened #13073 "3D version of mxnet.ndarray.UpSampling"
mxnert.ndarray.UpSampling checks if the data is in form: (batch_size, channels, x,y) (that is, number of dimensions=4), however, I want to do UpSampling for volumetric data where the data is of the form: (batch_size,channels,x,y,z).

Is there a way to do this ?

[2018-11-01 03:54] wkcn commented on #13070
Similar Issue: #13036

[2018-11-01 04:00] wshuail opened #13074 "Bug in bipartite_matching"
Hi when I use SSD for my own dataset, I found a bug in mx.sym.contrib.bipartite_matching for mxnet 1.3.x.

it's easy to reproduce with the code as below. But maybe you have to try many times.

The error informations change sometimes, but generally it's about the memory.
sometimes, it's memory corruption. Sometimes like the message below.

This doesn't happen in mxnet 1.1.0, but gluoncv needs mxnet

[2018-11-01 06:33] idealboy opened #13075 "Performence with multi thead inference is slow"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-11-01 06:50] pengzhao-intel commented on #13075
Thanks to reporting the issue.
Do you have reproducible cases?

[2018-11-01 07:44] idealboy commented on #13075
sorry，indeedly， I use USE_MKLDNN = 1 to compile, and I mislabeled this option when commit the problem.

[2018-11-01 09:49] leezu opened #13076 "ArrayDataset converts ndarray to numpy array"
## Description
[code]

This unexpected and undocumented. Is there any reason for this or can it be deleted?

## Environment info (Required)
https://github.com/apache/incubator-mxnet/blob/52116d4d3205361f861141013eb0de40be003e3c/python/mxnet/gluon/data/dataset.py#L151

[2018-11-01 13:04] MyraBaba commented on #12869
than I can use ** instead of numpy.square right ?

PS: I have trouble to linking  #12930  in cmake . what could be the proper way to do in cmake ?

Best

[2018-11-01 14:19] frankfliu commented on #13072
@mxnet-label-bot [Question]

[2018-11-01 14:19] frankfliu commented on #13073
@mxnet-label-bot [Question]

[2018-11-01 14:21] frankfliu commented on #13074
@mxnet-label-bot [Bug, Operator]

[2018-11-01 14:23] frankfliu commented on #13075
@mxnet-label-bot [Performance]

[2018-11-01 15:16] nswamy commented on #12767
did you reenable the test?

On Thu, Nov 1, 2018 at 8:05 AM Anton Chernov <notifications@github.com>
wrote:

[2018-11-01 15:43] lebeg commented on #12767
@nswamy I was thinking https://github.com/apache/incubator-mxnet/pull/12986/files would reenable it

[2018-11-01 16:14] frankfliu commented on #13073
@mxnet-label-bot [NDArray]

[2018-11-01 16:51] anirudhacharya opened #13078 "UpSampling Operator Documentation is incomplete"
The UpSampling operator documentation is incomplete - https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html?highlight=upsam#mxnet.ndarray.UpSampling

It does not show `num_args` as a parameter - https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/upsampling-inl.h#L50 . And in bilinear mode the operator expects [two inputs](https://github.com/apache/incubator-mxnet/bl

[2018-11-01 16:51] anirudhacharya commented on #13078
@mxnet-label-bot [Operator, Doc, Bug]

[2018-11-01 16:55] TonyTangYu commented on #13058
@wkcn  Thanks for your help. I will take a try! Thank you!

[2018-11-01 17:02] ankkhedia commented on #6783
@nswamy @sandeep-krishnamurthy Could you please close this issue as it has been resolved

[2018-11-01 17:04] ankkhedia commented on #6693
@sandeep-krishnamurthy @nswamy @anirudh2290 Could you please close this issue due to lack of activity

@chicn Please feel free to reopen in case closed in error

[2018-11-01 17:04] TonyTangYu opened #13079 "Open "mobilenet_v2-symbol.json": No such file or directory"
## Description
I want to train mobilenet_v2 using MXNet. I download the model of mobilenet_v2 from [this]( https://github.com/KeyKy/mobilenet-mxnet). When I run the `python train.py --gpu 1 --network mobilenet_v2 --pretrained mobilenet_v2 --lr 0.001 --batch-size 64 --epoch 0` the following error occurs.

## Environment info (Required)

[code]

## Error Message:
[12:38:38] src/io/iter_image_det_rec

[2018-11-01 17:18] asmushetzel commented on #12932
We have also the need for this as part of our project. I have a local version for computing PDF and LOG_PDF including forward/backward pass (aka gradients for all parameters and samples) for the following distributions: uniform/normal/exponential/gamma/poisson/neg-binomial/Dirichlet. All coded as C++ operators. But it would take some more effort to make it clean enough to commit them. Have to see

[2018-11-01 17:19] ankkhedia commented on #7958
@sandeep-krishnamurthy @nswamy @anirudh2290 COuld you please close this issue due to lack of activity.

@Paul0M Please feel free to re-open in case closed in error

[2018-11-01 17:20] ankkhedia commented on #8500
@sandeep-krishnamurthy @nswamy @anirudh2290 Could you please close this issue due to lack of activity.

@liumilan Please feel free to re-open in case closed in error

[2018-11-01 17:20] ankkhedia commented on #8571
@sandeep-krishnamurthy @nswamy @anirudh2290 Could you please close this issue due to lack of activity.

@starimpact  Please feel free to re-open in case closed in error

[2018-11-01 17:30] ankkhedia commented on #9325
@sandeep-krishnamurthy @nswamy @anirudh2290 Could you please close the issue due to lack of activity.

@zsong Please feel free to re-open the issue in case closed in error.

[2018-11-01 17:32] ankkhedia commented on #9413
@sandeep-krishnamurthy @nswamy @anirudh2290 Could you please close the issue due to lack of activity.

@xuw080  Please feel free to re-open the issue in case closed in error.

[2018-11-01 17:33] ankkhedia commented on #9517
@sandeep-krishnamurthy @nswamy @anirudh2290 Could you please close the issue due to lack of activity.

@liangyong928  Please feel free to re-open the issue in case closed in error.

[2018-11-01 17:33] leleamol commented on #12869
You should be able to use "*" operator in NDArray to get the square.

Regarding #12930 the example contains Makefile. What is the error that you are getting?

[2018-11-01 17:34] ankkhedia commented on #9599
@sandeep-krishnamurthy @nswamy @anirudh2290 Could you please close the issue due to lack of activity.

@beyond-boy  Please feel free to re-open the issue in case closed in error.

[2018-11-01 17:36] ankkhedia commented on #9695
@tonnywang @whu-lyh Did you try using the pip package to solve the issue? Were you able to get any success around it?

[2018-11-01 17:39] ankkhedia commented on #10071
@sandeep-krishnamurthy @nswamy @anirudh2290 Could you please close the issue due to lack of activity.

@hsddlz  Please feel free to re-open the issue in case closed in error.

[2018-11-01 17:40] ankkhedia commented on #9724
@sandeep-krishnamurthy @nswamy @anirudh2290 Could you please close the issue due to lack of activity.

@zhangguotai  Please feel free to re-open the issue in case closed in error.

[2018-11-01 17:41] ankkhedia commented on #11538
@sandeep-krishnamurthy @nswamy @anirudh2290 Could you please close the issue due to lack of activity.

@omarkaraksi Please feel free to re-open the issue in case closed in error.

[2018-11-01 17:41] frankfliu commented on #13079
@mxnet-label-bot [Python, Question]

[2018-11-01 17:42] ankkhedia commented on #11743
@sandeep-krishnamurthy @nswamy @anirudh2290 Could you please close the issue due to lack of activity.

@AprilSongRits Please feel free to re-open the issue in case closed in error.

[2018-11-01 17:46] ankkhedia commented on #11777
@zdaxie Is the issue persisting? Did you trying using particular commit as mentioned by @rahul003

[2018-11-01 18:20] zachgk opened #13080 "Jenkins failing on Scala GPU"
There is a failure occurring on the Jenkins in the Scala GPU task.  The failure is occurring when running "make scalapkg" to build the core module.

One sample error ending is:
[code]

We have identified a number of Jenkins runs that produced this:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-13077/1/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/

[2018-11-01 18:21] lanking520 commented on #13080
One more DP http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12995/4/pipeline/1026

[2018-11-01 18:31] lanking520 commented on #13080
@marcoabreu @lebeg @larroy Me and Zach are now investigating the issue and see if we can reproduce them. Please take a look at here as well, is there any changes on GPU config recently?

[2018-11-01 18:44] lanking520 commented on #13080
Resolution: This issue is typically appeared with GPU and not crash on CPU and Clojure.

[2018-11-01 18:55] lanking520 commented on #13080
https://stackoverflow.com/questions/50661648/spring-boot-fails-to-run-maven-surefire-plugin-classnotfoundexception-org-apache/50661649#50661649

https://stackoverflow.com/questions/50661648/spring-boot-fails-to-run-maven-surefire-plugin-classnotfoundexception-org-apache/50661649#50661649

[2018-11-01 19:01] leleamol commented on #12837
Hi @inglada
Will you be able to share the use case that you were planning to address using C++ API?

[2018-11-01 19:02] leleamol commented on #11649
Hi @golo314

Will you be able to share the use cases that you are planning to address using C++ API?

[2018-11-01 19:13] lanking520 commented on #13080
The issue appeared with a recent OpenJDK upgrade, here is the workaround we will take to solve this issue:
[code]

But I am still thinking this problem can only reproduce on GPU, not the CPU. There might be a diff on the JDK version between these two VM,

[2018-11-01 19:14] leleamol commented on #9814
@Ishitori @KellenSunderland

I have recently submitted changes to [ReadMe file in cpp-package](https://github.com/apache/incubator-mxnet/tree/master/cpp-package) and [ReadMe file in cpp-package/example](https://github.com/apache/incubator-mxnet/tree/master/cpp-package/example) that explains how to build cpp-package and run examples.

@Ishitori , since you were trying to run one of the training exa

[2018-11-01 19:16] leleamol commented on #9417
Hi @takuya-takeuchi ,
Will you be able to share the use-cases that you are planning to address using C++ API?
Are you planning to use C++ API for training workflows?

[2018-11-01 19:42] ankkhedia commented on #12815
@sandeep-krishnamurthy @nswamy @anirudh2290 Could you please close this issue due to lack of activity.

@sahbiept Please feel free to re-open in case closed in error

[2018-11-01 19:45] #12815 closed

[2018-11-01 19:56] marcoabreu commented on #13080
No there has not been an update recently.

@lebeg you rolled back, right?

@chanbair fyi

[2018-11-01 20:37] zheng-da commented on #13036
@wkcn My concern is that this modification makes the code complex. As for using different int types for CPU and GPU, it's relatively easier. We can use the template argument to easily achieve it.

[2018-11-01 20:38] zheng-da commented on #13036
@pengzhao-intel what is the performance difference between int32 and int64 in intel CPUs?

[2018-11-01 20:42] lanking520 commented on #13063
Hi @Wei-1 Thanks for your issue, I will raise a PR regarding your problems. Apart from that, we now have Linux CPU/GPU test on Jenkins and will have one for OSX very soon.

Check here for some up-to-date examples with README: https://github.com/apache/incubator-mxnet/tree/master/scala-package/examples .

You can also choose our nightly-build package for Scala which is available to download and imp

[2018-11-01 20:53] zheng-da commented on #13036
@apeforest I have fixed some of the operators, including all random generators, zeros, ones, full, arange, gather_nd.
https://github.com/zheng-da/incubator-mxnet/commit/2c3d9a3a491d33497c2b37897e73796a0c28e19d
But we need to do more to fix the rest of the operators.

[2018-11-01 22:35] takuya-takeuchi commented on #9417
I will not use mxnet cpp api for training for now.

[2018-11-01 22:54] ChaiBapchya commented on #13080
Another occurrence of the same - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12775/14/pipeline/

[2018-11-01 22:58] ChaiBapchya commented on #13080
@zachgk since PR is merged, do we close this?

[2018-11-01 23:55] NRauschmayr commented on #13079
Your training script does not find the "mobilenet_v2-symbol.json", so it is crashing. Did you indicate the correct path in --prefix?

[2018-11-02 00:39] TonyTangYu commented on #13079
@NRauschmayr  Yes. I run the `pwd` command in the directory of "mobilenet_v2-symbol.json"  and copy the path. On the other hand, I trained vgg16 before that and the vgg16 model is in the same file My training script could find corresponding ".json" file.

[2018-11-02 02:37] asanakoy opened #13086 "Model request: gluon GoogleNet (BNInceptionV1)"
There is BNInceptionV1 (i.e. GoogleNet) in the [image classification examples](https://github.com/apache/incubator-mxnet/tree/master/example/image-classification), but there is no BNInceptionV1 in `mxnet.gluon.model_zoo`.

It would be nice to have BNInceptionV1 (with Imagenet pretraining) in `mxnet.gluon.model_zoo` since this network is used in a lot of research papers as a standard benchmark arch

[2018-11-02 02:53] apeforest commented on #13036
@zheng-da Do you plan to create a PR with your change? I will be glad to review. Also, I have created an epic (https://issues.apache.org/jira/browse/MXNET-1184) to address this support in a systematic way. Please feel free to add additional tasks to it as needed. Thanks.

[2018-11-02 04:01] ChaiBapchya commented on #11592
I had the exact same error too. Any pointers to the same?

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11482/17/pipeline/859/#step-1530-log-1006

[2018-11-02 05:30] NRauschmayr commented on #13053
Thanks a lot for reporting this issue. I tried it out and you are right, that the header does not have the correct values.  Using ```imgrec.read``` instead of ```imgrec.read_idx```  seems to solve this problem.

[2018-11-02 05:56] NRauschmayr commented on #13053
Thanks a lot for reporting this issue. Is every label in the file incorrect or just a few?

[2018-11-02 06:18] pengzhao-intel commented on #13036
@zheng-da in general, int64 is only half of int32 performance.

[2018-11-02 07:52] aravindhv10 opened #13087 "softmax in symbol api"
Hello,

     I want to have softmax activation with linear regression output, I was able to get this in gluon in the following way:

class CenteredLayer(mx.gluon.nn.HybridSequential):
    def __init__(self, **kwargs):
        super(CenteredLayer, self).__init__(**kwargs)

    def forward(self, x):
        return x.softmax()

net = gluon.nn.HybridSequential()
with net.name_scope():
    net.add ( gl

[2018-11-02 09:11] wkcn commented on #13036
Hi, I replace the type of all index to a template typename `IndexType`, and add the macro `KERNEL_LAUNCH_TYPE_SWITCH` to choose IndexType. Is it available?

https://github.com/wkcn/incubator-mxnet/blob/support_large_array/src/operator/mxnet_op.h#L62

I use the script [replace_index.py](https://gist.github.com/wkcn/59f6867a217e1a4f68c83ab3d845bba5) to modify all codes.
Using `the_silver_searcher` a

[2018-11-02 09:33] lebeg commented on #12767
https://github.com/apache/incubator-mxnet/pull/12986 did enable the test again.

[2018-11-02 09:33] #12767 closed

[2018-11-02 09:35] inglada commented on #12837
@leleamol Do you mean the application field? I don't understand the question.

[2018-11-02 10:02] aravindhv10 commented on #13087
Hello again,

the above solution is not working as the network is not learning at all.

[2018-11-02 10:09] marcoabreu commented on #12837
@lanking520 cmake can also be used for other systems. We use it on Ubuntu, for example

[2018-11-02 15:08] gigasquid opened #13089 "Port Scala Image API to Clojure Package"
The Image API would be very useful for Clojure users.

Adding it to Clojure would involve adding a new namespace in the Clojure package and adding the correct interop functions as well as a tests for it.

Here is the Scala PR that was just merged into master https://github.com/apache/incubator-mxnet/pull/12995

[2018-11-02 15:45] aaronmarkham opened #13090 "Python API docs don't mention image.imread"
## Description
`mx.image.imread` is undocumented. Searches only lead to examples using it, but never any actual API reference.
I'm led to believe this is coming from OpenCV. It would be nice if this feature was explained in detail, so users know what is available to them.

Various preprocessing examples use `mx.image.imread` or `PIL.Image` and their image handling makes a big difference with infer

[2018-11-02 15:53] aaronmarkham opened #13091 "Search is broken on gluon.mxnet.io (gluon tutorials)"
## Description
[Reported on that site's repo quite some time ago](https://github.com/zackchase/mxnet-the-straight-dope/issues/462), but I'm bringing it up here where there are more eyes.

The site is a hub of the gluon tutorials. **The site must be searchable**.

[2018-11-02 15:55] frankfliu commented on #13090
@mxnet-label-bot [Doc, Python]

[2018-11-02 15:56] frankfliu commented on #13091
@mxnet-label-bot [Doc, Gluon, Example]

[2018-11-02 15:59] frankfliu commented on #13087
@mxnet-label-bot [Gluon, Question]

[2018-11-02 16:02] NRauschmayr commented on #13076
Yes there is a reason for it.  If the array has only one dimension, then it won't be converted to an ```mx.nd.array``` and as such it won't be copied to the GPU.  You can find a similar thread here: https://discuss.mxnet.io/t/what-happen-one-of-the-data-from-the-same-iterator-is-on-the-cpu-and-the-other-is-on-the-gpu-is-this-a-bug/961

[2018-11-02 16:20] kohr-h commented on #13040
I can confirm that a build from source with SM_70 CUDA arch resolves the issue.

Is there a plan to add Volta to the CUDA archs in the prebuilt packages?

[2018-11-02 17:13] anirudhacharya commented on #13090
Fix https://github.com/apache/incubator-mxnet/pull/12831

[2018-11-02 18:41] aaronmarkham commented on #13090
@anirudhacharya - I see that `imresize` is documented in your PR, but not `imread`. Seems like you'd need to add a specific section for it...

[2018-11-02 21:18] Ishitori commented on #12662
Yes, I consider the issue fixed. I tried to reproduce it with `--pre` version of mxnet, using the same methodology and it doesn't fail anymore. Please, close the issue @larroy.

[2018-11-02 21:18] #12662 closed

[2018-11-02 21:41] kohr-h opened #13096 "[Scala] `make scalapkg` fails if MKL-DNN is used"
I've built the core library from source with MKL-DNN activated (`USE_MKLDNN=1`), and in [examples/image-classification/benchmark_score.py](https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/benchmark_score.py) I get a memory allocation message from MKL-DNN, so the core library is fine.

But when I run `make scalapkg`, the build fails at `mxnet-macros_2.11` with this