[2018-05-08 14:05] pengzhao-intel commented on #10599
@al-rigazzi could you share the script with us?
Did you build the code in the Haswell machine as well?

[2018-05-08 14:07] pengzhao-intel commented on #10809
@dwSun, Tao's PR  is merged.
Could you try the case again?

[2018-05-08 14:26] dwSun commented on #10580
just tested with mxnet-mkl-1.2.0b20180508, it works well.

[2018-05-08 16:39] eric-haibin-lin commented on #10835
Lazy initialization for each row in the row_sparse weight parameter is an optimization we haven't done yet. You're right - ideally the weight can be initialized only when a certain category is seen. Currently all rows are filled at one shot during initialization. What sparse embedding provides is the ability to only retrieve the parameters for the categories in the current mini-batch (instead of l

[2018-05-08 17:41] #10509 closed

[2018-05-08 17:44] #9921 closed

[2018-05-08 17:47] eric-haibin-lin commented on #9945
Closing this for now. We probably want to revisit it when we plan to support a feature vector of billion dimensions. In that case sort and hash is definitely faster than bitmap

[2018-05-08 17:47] #9945 closed

[2018-05-08 19:40] alrigazzi commented on #10599
I simply ran the script in examples/image_classification/ but I can give you the exact command line.
Yes, I built on the same system.

[2018-05-08 19:52] eric-haibin-lin commented on #9310
Fixed in https://github.com/apache/incubator-mxnet/pull/9882

[2018-05-08 19:52] #9310 closed

[2018-05-08 21:39] anirudhacharya commented on #10789
@larroy Netron - https://github.com/lutzroeder/Netron

[2018-05-08 22:32] eric-haibin-lin commented on #10382
We did done some memory optimization recently. You might want to check it out:
https://github.com/apache/incubator-mxnet/pull/10847

[2018-05-08 23:47] #10580 closed

[2018-05-08 23:52] whria78 opened #10854 ""WindowsError: [Error 126]" and "ImportError: cannot import name libinfo""
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-05-09 00:26] hetong007 commented on #10320
@jonmorton thanks, will test! It's just not mentioned in Google's paper.

[2018-05-09 00:49] anirudh2290 opened #10856 "Failed OpenMP assertion when loading MXNet compiled with DEBUG=1"
Reproduction steps:
[code]

[code]

[2018-05-09 00:51] zhreshold commented on #10854
WindowsError: [Error 126] indicates that there's `SOME` missing dlls, either not in PATH or missing. Unfortunately, windows won't tell you which one is missing. So it's kind of bad experience to debug what's going wrong.

Can you make sure your PATH include cuda dlls and vc++ runtime dlls?

[code]

[2018-05-09 03:12] aaronmarkham opened #10858 "make docs on Mac - scala docs failure"
## Description
Making docs on a Mac is broken if you use the latest version of scala, maven, and sbt.

## Minimum reproducible example
On a Mac, run `make docs`.
Unrelated, but this actually fails unless you do `make` first.

Then you'll see you need some dependencies like in the [setup_docs_ubuntu script](https://github.com/apache/incubator-mxnet/blob/master/docs/build_version_doc/setup_docs_ubun

[2018-05-09 04:45] wkcn commented on #9823
It seems the reason is that CUDNN call fails.

When the compile options includes USE_CUDNN=1, the softmax activation operator uses CUDNNSoftmax.

And the convolution operator prints the log:
src/operator/nn/convolution.cu:140: This convolution is not supported by cudnn, MXNET convolution is applied.

Softmax Operator dosen't use CUDNN, so it doesn't cause any error.

[2018-05-09 04:46] HaoLiuHust opened #10860 "train acc sometimes get nan"
according to https://github.com/apache/incubator-mxnet/issues/4253, this issue should have been fixed, but I still encounter it, my version is 1.2.0(build on 5.1)

[2018-05-09 06:14] asitstands commented on #10831
Would you please pin down which function shows random behaviour with the same seeds? If you can provide a minimal code reproducing the problem, it would be the best.

[2018-05-09 06:27] Aashit-Sharma commented on #7551
@piiswrong How to use the HybridRecurrentCell , as it seems has to have no documentation and do you have an intention of making an Hybrid recurrent layer ?
Thanks.

[2018-05-09 07:52] #10860 closed

[2018-05-09 07:53] HaoLiuHust commented on #10860
found a mistake about reset in my custom data iter

[2018-05-09 08:07] casscw commented on #10835
Thank you for explanation. Just wide&deep for recommendation system

[2018-05-09 10:13] fhieber commented on #10831
Afaik `mx.random.seed` sets the seed also based on the device id. Do you happen to use different device ids across multiple runs?

[2018-05-09 11:17] al-rigazzi commented on #10599
@pengzhao-intel I simply ran:
` python) example/image-classification/train_imagenet.py --image-shape 3,224,224  --num-epochs 500 --network resnet --kv-store local --num-layers 50 --benchmark 1 --batch-size 128 --lr 0.045 --data-nthreads 8`

Yes, I built on the same Haswell machine.

[2018-05-09 12:27] whria78 commented on #10854
Thank you for the advices.

I found the fact that CUDA 9.1 was not installed correctly in windows 10.

After reinstall the CUDA 9.1, it works well.

Thank you again.

[2018-05-09 12:38] marcoabreu commented on #10846
If slaves run out of disk space, they'll be automatically disabled and no more jobs are being enqueued. None the less, your test should be able to catch that. The network bandwidth should not be a problem, EC2 has a quite nice connection and our slaves are connected using 10Gbit/s

[2018-05-09 12:38] marcoabreu commented on #10846
@ThomasDelteil it was @KellenSunderland who worked on it. He had to close his PR due to breaking API

[2018-05-09 12:50] HorsonLiu opened #10863 "-"

[2018-05-09 12:55] #10863 closed

[2018-05-09 12:59] KellenSunderland commented on #10846
@ThomasDelteil and @marcoabreu  I should bring that PR back to life.  Classic move of get some feedback, don't have time to address it, put the PR in the backlog.  I think making it backwards compatible shouldn't be an issue.

[2018-05-09 15:04] zzd1992 commented on #10831
@fhieber I just have a single GPU.

[2018-05-09 15:16] zzd1992 commented on #10831
@asitstands Roughly, I build Resnet and load cifar10 dataset in main.py.
The data augment function is defined in utils.py which involves np.random and random.
I just set the random set in main.py.

[2018-05-09 15:24] zheng-da opened #10865 "A potential race condition in the executor or engine."
Previously, we encounter a memory error. It was caused by a race condition that the MKLDNN memory in an output NDArray was removed when some MKLDNN operator tried to read the MKLDNN memory from its input arrays. The error was temporarily fixed in https://github.com/apache/incubator-mxnet/pull/10651

This error can be reproduced in the following command:
[code]

However, the race condition shouldn'

[2018-05-09 15:57] jessebrizzi opened #10866 "Scala Module API not resizing properly when returning to original binded size"
## Description

Create and bind a MXNet Module with batch size N. Pass DataBatch that requires net resize to some input NEW_N batch size where NEW_N < N. Then Pass DataBatch that requires module to resize back to the original batch size where NEW_N == n The output of the net will return for the wrong input size (batch size of NEW_N instead of N).

## Environment info (Required)

[code]

Package us

[2018-05-09 16:02] jessebrizzi opened #10867 "Scala Module API resize is leaking memory on the native size."
## Description

Create and bind a MXNet Module with batch size N+1 and proceed to loop and pass DataBatches to it that require the Module to resize before performing the forward pass. Monitor the system resources (With htop, nvidia-smi, jvmtop) and you will notice the used system memory in htop will start to grow, but not the jvm heap size (the system memory usages grows beyond the set max JVM hea

[2018-05-09 16:56] eric-haibin-lin opened #10868 "_backward_softsign activation is incorrect"
The following test case will fail:

Adding modify the test case in https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_operator.py#L5867
[code]

Reason: For y = softsign(x), the inputs for _backward_softsign and _backward_Activation are different:
_backward_softsign takes (dy, x) as input, backward_Activation takes (dy, y) as input.

@nswamy

[2018-05-09 17:57] eric-haibin-lin commented on #10709
dot(csr.T, dns) = rsp is fixed in #10717.

[2018-05-09 18:40] szha opened #10870 "RNN operator should support rnn_tanh and rnn_relu mode on CPU"

[2018-05-09 18:41] szha opened #10871 "gluon.rnn cells should use fused RNN operator"
#10104 and #10311 and RNN operator for rnn_tanh/rnn_relu (#10870) needs to be finished first

[2018-05-09 18:42] szha opened #10872 "RNN operator on CPU should support multi-layer, bidirectional, and dropout"

[2018-05-09 18:46] szha opened #10873 "gluon.rnn layers should use fused RNN operator and become HybridBlock"
#10104 #10311 #10870 #10872 needs to finish first

[2018-05-09 18:47] szha commented on #7551
This request is tracked in #10873. The overall project is tracked in https://github.com/apache/incubator-mxnet/projects/11

[2018-05-09 19:04] #10854 closed

[2018-05-09 20:37] roywei commented on #10840
@sandeep-krishnamurthy  could you help to add label Feature Request? Thanks

[2018-05-09 20:37] roywei commented on #10834
@squidszyd Could you also raise your question at https://discuss.mxnet.io/ and stackoverflow?
@sandeep-krishnamurthy could you help to add label Question? Thanks

[2018-05-09 20:37] roywei commented on #10832
@squidszyd Could you also raise your question at https://discuss.mxnet.io/ and stackoverflow?
@sandeep-krishnamurthy could you help to add label Question? Thanks

[2018-05-09 20:44] roywei commented on #10828
@kaisark could you try USE_BLAS=openblas ?
@nswamy Could you help add label Installation? Thanks!

[2018-05-09 20:51] roywei commented on #10831
@zzd1992 seem that you are using same seed, but the accuracy is still different, so this may not related to random seed? Could you provide a minimum reproducible example and more details like how many epoch did you test and what's the accuracy different? Thanks

@nswamy  could you help to add label Metric and Pending Requester Info? Thanks

[2018-05-09 20:59] roywei commented on #10824
@sandeep-krishnamurthy  could you help to add label Data-Loading, Gluon? Thanks

[2018-05-09 21:10] roywei commented on #10822
@zhyj3038 could you close this issue if resolved? Thanks

[2018-05-09 21:10] ptrendx commented on #7450
@rahul003 Sorry for the late response. No, I did not find what the problem was. The refactor of shuffling is done for some time though, so could be a good workaround for now (it is enabled by passing `.idx` file to ImageRecordIter in addition to `.rec` file). I asked @DickJC123 to look into rootcausing this.

[2018-05-09 21:11] ptrendx commented on #7450
Still, it seems to be really hard to repro, so I'm not sure how successful this investigation will be,

[2018-05-09 21:29] altosaar opened #10875 "How to debug hybridize() failures?"
My model runs fine without hybridize, but I need the speed boost.

When I call hybridize I get a cryptic failure message:

[code]

There are many multiplies and nodes of that shape. How can I figure out why hybridize is not working? i.e. what line of code `normaldef0_fastpoissonlogprob0__mul0` corresponds to?

Thanks!

[2018-05-10 01:02] zhreshold commented on #10875
What I can tell from the logs is the mismatching multiplication behavior in hybridized/non-hybridized versions.
 TL;DR, you might need to explicitly use broadcast_mul rather than * in your code when the first ``normaldef0_fastpoissonlogprob0__mul`` is encountered.

[2018-05-10 01:47] diyang opened #10878 "Typo Erro in Optimizer.R"
There is a Typo in Optimizer.R, which will yield error grad[i] error: attempt to access
[code]
If you look closely, you will notice that in the following code block
[code]
in
[code]
It should be **weight** not **weights**

[2018-05-10 04:54] Rangocold opened #10880 "how to use mxnet to simulate some simple function?"
i run the mlp_cpu success, but if i just want to use an array as input, how should i code? i can not find the Tutorial about that

[2018-05-10 04:57] Rangocold commented on #10880
i am a c++ developer, i just want to use network simulate a function like : y = a * x1 + b * x2 + c * x3,
[x1, x2, x3] is the input

[2018-05-10 05:05] altosaar commented on #10875
Yup, that was it - thanks!

Hopefully there's a better way to figure this out in the future, or a list of guidelines to avoid having to change code after debugging - I had to change about 5 lines and change the minus, plus, and multiply operators to F.broadcast_sub and F.broadcast_add and F.broadcast_mul.

[2018-05-10 05:26] zheng-da commented on #10865
The problem I observed is in convolution. Its input shouldn't be modified.

Even if the inputs are mutable, modifying the output array of an operator shouldn't affect the inputs of another operator.

[2018-05-10 05:35] sandeep-krishnamurthy opened #10881 "mx.sym.dot() performance on CPU"
We are using mx.sym.dot() operator in Keras heavily. We observe CPU performance is suspiciously slower. On profiling a RNN LSTM example, the observation is as shown below.

dot() operator  is contributing to 90% of computation time. Is there any performance implication of mx.sym.dot() operator on CPU?

We are using mxnet-mkl-dnn build, is the operator using gemm operations under the hood?

![image

[2018-05-10 05:46] anirudh2290 commented on #10881
I see that we are still using mshadow dot here: https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/dot-inl.h#L119 . @DickJC123 @zheng-da changed many operators to use linalg_gemm instead of mshadow::expr::dot. Can you provide more insight if there was a performance gain from this on CPU.

[2018-05-10 05:53] anirudh2290 commented on #10881
Adding @piiswrong for comment.

[2018-05-10 05:57] pengzhao-intel commented on #10881
@anirudh2290 Does `mshadow::expr::dot` call GEMM as well?
yes, MKL GEMM will be much faster than other implementations.
The pre-built version is not linked with MKL library. We're working on making a static link to MKL for pre-built binary.

[2018-05-10 05:59] pengzhao-intel commented on #10599
@al-rigazzi  I tested on https://ark.intel.com/products/81706/Intel-Xeon-Processor-E5-2660-v3-25M-Cache-2_60-GHz and it works fine with latest master

[2018-05-10 06:19] anirudh2290 commented on #10881
Yes, AFAIK mshadow::expr::dot  uses gemm. `dot_engine-inl.h` has standalone implementations and also supports calling other blas implementations: https://github.com/dmlc/mshadow/blob/master/mshadow/dot_engine-inl.h#L123 and https://github.com/dmlc/mshadow/blob/master/mshadow/dot_engine-inl.h#L280

[2018-05-10 06:25] pengzhao-intel commented on #10881
Thanks. So if we build from source by USE_BLASS=MKL, it will be faster.
@sandeep-krishnamurthy could you take a try?
FYI, you can set MKL_VERBOSE=1 so there're detailed information of MKL GEMM in the runtime.
We can do further analysis and optimizaiton for the different size of GEMM.

[2018-05-10 06:27] szha commented on #9686
we should merge element wise ops with broadcast ops and dispatch the different implementation only based on the shape, so that symbol and ndarray +-*/ are consistent

[2018-05-10 07:02] lovehuanhuan opened #10883 "make err on RK3399"
As I was told by "http://mxnet.incubator.apache.org/install/"

After inputting
"make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas"
I got these errors:
g++ -std=c++11 -c -DMSHADOW_FORCE_STREAM -Wall -Wsign-compare -O3 -DNDEBUG=1 -I/home/firefly/zzp/incubator-mxnet/3rdparty/mshadow/ -I/home/firefly/zzp/incubator-mxnet/3rdparty/dmlc-core/include -fPIC -I/home/firefly/zzp/incubator-mxnet/3rdparty/nnvm/i

[2018-05-10 07:10] lovehuanhuan opened #10884 "mx.model.load_checkpoint error?"
My mxnet version is 0.10.0  ，when I load another checkpoint, I get these errors, I think it's because of version problem, but how can i solve this problem with mxnet 0.10.0?
I can't want to update my mxnet.

firefly@firefly:~/zzp/insightface/deploy$ python test.py
loading ../models/model-r50-am-lfw/model 0
[07:07:24] /home/firefly/MXNet-HRT/dmlc-core/include/dmlc/./logging.h:304: [07:07:24] /home/

[2018-05-10 07:34] zhyj3038 commented on #10822
thanks for you help, I have load the net and make it work.

[2018-05-10 07:34] #10822 closed

[2018-05-10 07:36] zhyj3038 commented on #10883
I have make from source on 3399 just before.  remember turn off a flag, which ha relationship with  x86 or some thing elsew.

[2018-05-10 07:43] sandeep-krishnamurthy commented on #10881
@pengzhao-intel @anirudh2290 - Thanks for your comments.
Next step, I will try to build from source with USE_BLAS set to MKL and report back if there are performance gain.

@anirudh2290 - To summarize your comment - are you saying mx.sym.dot() does not use efficient MKL GEMM implementation?

@pengzhao-intel - If I do pip install mxnet-mkl are you saying we don't get mkl linked? If I use mxnet-mkl

[2018-05-10 07:58] TaoLv commented on #10881
I‘m afraid mxnet-mkl package is built with USE_BLAS=openblas. You can build from source with USE_BLAS=mkl if you have mkl library installed.
Also, do you know how much of this computation time is consumed by lstm layer or other non-rnn fully connected layers? We are trying to build fused lstm operator for mxnet on cpu. Hope that will help you a lot.

[2018-05-10 11:51] #10880 closed

[2018-05-10 12:04] Rangocold opened #10885 "i meet an exception when i run mlp.cpp"
i build mxnet and run mlp_cpu.cpp success, but when i run mlp.cpp, there is an exception "std::shared_ptr<mxnet::cpp::SymBlob>::operator-><mxnet::cpp::SymBLob,0>(…)return nullptr"
when it reach
https://github.com/apache/incubator-mxnet/blob/5088ca9a65641ddf905b60deae00fa6006f5e431/cpp-package/example/mlp.cpp#L70

my environment is win10, vs2017, cpu,  mkl

i add mxnet include and lib in my project

[2018-05-10 12:11] juliusshufan commented on #10807
@roywei Thanks for follow-up, this issue happens on GPU platform as well, so MKL lable might limit the scope. May I have your double-check? Thanks. :)

[2018-05-10 19:02] some-guy1 opened #10890 "[R] Is it possible to train Mxnet symbols and a GLM pretrained model as loss?"
The idea is very similar to a GAN, but instead of two neural networks I want to use a neural network generator and a prebuilt GLM as the discriminator.

Is this possible using the Mxnet symbols?

Example pseudo-code:
[code]

[2018-05-10 19:31] zhreshold commented on #10875
@piiswrong Is this a bug or simply we cannot detect to use broadcast operators properly?
@hetong007  had similar problems yesterday.

[2018-05-10 20:32] aaronmarkham commented on #10858
I compared versions.

mac
======
maven 3.5.3
java 1.8.0_171
scala 2.12.6

ubuntu
=====
maven 3.3.9
java 1.8.0_162
scala 2.11.6
sbt 1.1.5

I believe the fix for this - to get Mac and Ubuntu on the same version scala, and this will fix the Mac docs build, by getting everything to work with the latest version of scala:

1. Remove index and package.html from mxdoc.py line 89
2. For CI and general Ubun

[2018-05-10 20:51] lanking520 commented on #10858
Is adding platform check in mxdoc.py could be a solution to this for short term? I think we really need a version control for dependencies of docs, update them on a timely manner.

[2018-05-10 21:27] azai91 commented on #9634
This PR should address this issue #10892

[2018-05-10 21:55] jeremiedb commented on #10739
I think the issue was raised from changing the metric calculation to NDArrays instead than on the conversion to R arrays as it can be beneficial in certain circumstances to keep the eval metric calculation on the device.
You can look for instance at this logloss definition:
https://github.com/apache/incubator-mxnet/blob/master/R-package/R/metric.R#L96

If need to perform calculation on R arrays, t

[2018-05-11 01:15] #9634 closed

[2018-05-11 01:44] DickJC123 opened #10896 "test_sparse_operator.py:test_sparse_mathematical_core fails under scipy v1.1"
## Description
Our CI systems pull in scipy via 'pip install scipy' and are now getting version 1.1 from the public server, rather than the previous 1.0.  The trouble with this is that the function scipy.special.psi() has a different behavior in the two versions when passed a 0 argument and this causes test_sparse_operator.py:test_sparse_mathematical_core to fail.

## Environment info (Required)

[2018-05-11 03:42] chtlp opened #10897 "performance and error issue with INT8 quantization example"
Hi, I am trying the the new quantization example in the master branch of MxNet, however the original code seems to have much slower inference speed, while the revised code throws an error with cuDNN.
https://github.com/apache/incubator-mxnet/blob/master/example/quantization/

## Description

The example works fine when saving when saving the matrices in the `cpu()` context:
https://github.com/apac

[2018-05-11 05:25] szha opened #10898 "usage of thread_local causes compilation to fail on osx 10.10"
## Description
(Brief description of the problem in no more than 2 sentences.)

## Environment info (Required)
OSX 10.10

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): clang

MXNet commit hash: HEAD as of yesterday

## Error Message:
[code]

Fix is being tracked in #10888

[2018-05-11 06:00] cvtower opened #10899 "ctypes.c_int(ctx.device_id) TypeError: an integer is required"
## Description
ctypes.c_int(ctx.device_id), TypeError: an integer is required

## Environment info (Required)
python 2.7
centos 7
cuda 8.0
cudnn 6.0
mxnet-cu80 (1.1.0.post0)
GPU:1080Ti
pip list attached.
[piplist.txt](https://github.com/apache/incubator-mxnet/files/1994106/piplist.txt)

What to do:
1. Download the repo from https://github.com/deepinsight/insightface#test-on-megaface.
2. Download L

[2018-05-11 06:11] anirudhacharya commented on #10789
@zheng-da The example is there in the issue description. If we want the reshape to happen based on the shape generated by the ``shape`` operator at runtime, then the existing ``reshape_like`` operator will not work.

Also seeing that caffe2 and other frameworks support reshape with the shape available only at runtime, if users are trying to move to MXNet for inference after building and training t

[2018-05-11 06:33] zheng-da commented on #10789
my understanding is that you want to do something like this:
[code]

my question is why something below is insufficient:
[code]

My main concern is that after you add the shape operator, how the first code work in the backward.
the shape operator doesn't have backward. In other words, how are we going to train the model?
Also , how do we do shape inference for the reshape operator?

I agree we sho

[2018-05-11 06:58] moveforever commented on #10835
in my application, categorical feature's input dim may be ten millions, but categorical feature actually has two millions. If lazy initialization is adopted, it will save much memory.

[2018-05-11 08:37] #10885 closed

[2018-05-11 08:51] marcoabreu opened #10901 "Broken test_sparse_operator.test_sparse_mathematical_core with scipy 1.1.0"
Check out the latest master, build it with ```ci/build.py --platform ubuntu_cpu /work/runtime_functions.sh build_ubuntu_cpu_openblas```.
Run with ```ci/build.py --platform ubuntu_cpu /work/runtime_functions.sh unittest_ubuntu_python2_cpu```.
Happens on all configurations, no matter whether CPU or GPU etc.

[code]

[2018-05-11 08:57] marcoabreu commented on #10901
This seems to be related to the scipy version. This test breaks with scipy 1.1.0, but works with 1.0.1.

[2018-05-11 08:58] marcoabreu commented on #10901
[code]

[2018-05-11 09:32] Rangocold opened #10903 "how to set output value but not output possibility"
i build cpp-package and run example success.in the example, i find that output is the possibility about every label,but my num of label is too much so i want the network output a value . such as i want to use the network to simulate a function like y = x1 + x2 + x3, the input is an array[x1, x2, x3],and output is a y predicted by network,how should i do ?

[2018-05-11 10:44] larroy commented on #10901
Do we know the cause of this bug? @eric-haibin-lin

[2018-05-11 10:56] ArneNx opened #10904 "switch_bucket() sets grad_req to 'write' by default and overwrites other settings"
https://github.com/apache/incubator-mxnet/blob/251ae71a20d8318ab20f4c19520f74b881fdf3ff/python/mxnet/module/bucketing_module.py#L353

I want to set the ``grad_req`` for all my parameters to ``'add'`` by using specifying it in the ``bind()`` call on my top-level module.
The problem is that I use a ``BucketingModule``. So when I call ``forward``, it automatically calls the ``switch_bucket`` method,

[2018-05-11 11:00] lovehuanhuan opened #10905 "Why I can't run gpu model on jeston TX2?"
I compiled mxnet with gpu on jeston tx2 successfully, when i run #example/image-classification/train_mnist.py # with cpu,it's ok, but when i run it with #gpu='0,1,2,3'#, I got errors

root@tegra-ubuntu:/home/nvidia/zhuzhipeng/mxnetTX2/mxnet/example/image-classification# python train_mnist.py
INFO:root:start with arguments Namespace(add_stn=False, batch_size=64, disp_batches=100, dtype='float32', g

[2018-05-11 12:53] al-rigazzi commented on #10599
Still crashes for me:

[2018-05-11 12:57] dwSun opened #10906 "transforms.Compose not working as expected."
[code]
tested both with opencv-python            3.4.0.12 from pypi.

[2018-05-11 16:04] leezu opened #10907 "#10820 NaiveEngine regression"
This is to track the regression introduced by #10820 rendering NaiveEngine dysfunctional: https://github.com/apache/incubator-mxnet/pull/10820

Tests should be added to catch such errors in future.

[2018-05-11 16:29] ptrendx commented on #10901
We saw that in our internal testing and  @DickJC123 made some investigation yesterday. @DickJC123 - could you share your findings?

[2018-05-11 16:40] DickJC123 commented on #10901
https://github.com/apache/incubator-mxnet/issues/10896

[2018-05-11 16:42] DickJC123 commented on #10901
I also filed an issue with scipy: https://github.com/scipy/scipy/issues/8819

[2018-05-11 17:43] rwarnung commented on #10739
@jeremiedb thank you for your comment. But I don't quite understand. If I just use the parameter `eval.metric = mx.metric.logloss` without redefining `mx.metric.logloss` does your comment apply in this case? Isn't this exactly the code as from
https://github.com/apache/incubator-mxnet/blob/master/R-package/R/metric.R#L96
?

[2018-05-11 19:00] piiswrong commented on #10906
You cannot resize after totensor. totensor and normalize should be called at last

@zhreshold We need to properly document this

[2018-05-11 20:15] jeremiedb commented on #10739
My bad, I think I get the issue now: the `mx.metric.logloss` has been defined for the LogisticRegressionOutput operator, which acts on 1-demsionnal vector of predictions and labels. However your model is framed as a multiclass model which outputs n-columns predictions.
A mlogloss metric would be needed to support those use case. I can make a PR soon for this.

[2018-05-11 21:32] aaronmarkham commented on #10858
This will pin Scala. Sbt and Maven should be pinned too. Would need to dig further on how that would work for those. Also, even for this Scala upgrade, we'd want to see if it has any impact.

[2018-05-11 22:07] moshelooks opened #10910 "Feature Request: loading gluon trainer states with different contexts from saved states"
Gluon blocks let you load their parameters in particular context(s) by specifying `ctx` when calling `Block.load_params()`.

Gluon trainers however do not support this; when you call `Trainer.load_states()`, the context(s) are whatever devices we used when `save_states()` was called (excepting when loading states from GPU onto a CPU-only build, in which case they get moved to the CPU).

This limit

[2018-05-11 22:27] lanking520 commented on #10513
I think you are trying to call Python API for Java right? We are currently working on the (Java support)[https://cwiki.apache.org/confluence/display/MXNET/MXNet+Java+Inference+API]. I recommend you to start with Scala library that already existed as you can import that to Java directly.

[2018-05-11 23:30] hetong007 opened #10912 "nn.GlobalAvgPool2D is slow in backpropagation"
## Description
As stated in this PR for GluonCV (https://github.com/dmlc/gluon-cv/pull/113), I tested performance of `se_resnext50_32x4d` with dummy data (to get rid of possible side effect of data loader), and found that

- With `nn.GlobalAvgPool2D`, training speed is 462 images/sec
- When replaced with `contrib.AdaptiveAvgPooling2D`, training speed increased to 643 images/sec

## Results with Pr

[2018-05-11 23:59] harryprince commented on #10878
@diyang  maybe you can propose a Pulll Request

[2018-05-12 00:03] harryprince commented on #10890
pseudo-code seems not works, because predict.glm is implemented in R instead of mxnet. the parameter flat is just a symbol.

[2018-05-12 00:11] harryprince commented on #9952
@FrankLongueira  currently windows prebuild version is support cuda-80

[2018-05-12 00:48] harryprince commented on #9399
@Garglesoap
I got  same error in centos7 but not in ubuntu16.04

[2018-05-12 07:22] wkcn opened #10914 "cudnn_softmax_activation error in MXNet 1.2.0"
## Description
Hi.
It seems that SoftmaxActivation(cudnn version) has a problem in MXNet 1.2.0.
It will cause the error when using SoftmaxActivation.
In the issue(#9823), chinakook considers the bug produced after [PR#9677](https://github.com/apache/incubator-mxnet/pull/9677)

I found the function of `mx.nd.Softmax` and `mx.nd.SoftmaxActivation` seems to be the same. The difference is that `Softma

[2018-05-12 10:24] devymex opened #10916 "`mxnet.nd.smooth_l1(mxnet.nd.array([1, 2, 3]))' core dumped"
## Description
mxnet.nd.smooth_l1(mxnet.nd.array([1, 2, 3]))
core dumped

## Environment info (Required)
ubuntu 16.04

Package used (Python/R/Scala/Julia):
I'm using Python
Compiler gcc:

MXNet commit hash:
e29b2f5bcac0f1cefaad9232879e7165fa51f67d

Build config:
make -j16 USE_BLAS=atlas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1 USE_OPENCV=1 DEBUG=0 USE_OPENMP=1 USE_CPP_PACKAGE=1 CUDA_AR

[2018-05-12 13:41] marcoabreu commented on #10905
Hello, Jetson TX2 only has one GPU available. Thus, it has to be ```#gpu='0'#``` instead of ```#gpu='0,1,2,3'#```

[2018-05-12 19:07] rwarnung commented on #10739
@jeremiedb sorry if my example is not that clear but the line `ifelse(iris[,5] == "setosa",1,0` gives two classes 1 for the species "setos" and 0 for all others. The iris data set is quite standard in R it is about feature of plants and their species.  So it is a two class problem. Shouldn't `mx.metric.logloss` just work in this case? I a afraid it is about the clipping or the logarithm ... can't

[2018-05-12 19:34] szha commented on #10914
@zheng-da

[2018-05-12 23:39] zheng-da commented on #10914
https://github.com/apache/incubator-mxnet/pull/10918

[2018-05-12 23:46] wkcn commented on #10914
@szha @zheng-da  Thank you!

[2018-05-12 23:54] jeremiedb commented on #10739
Could you try running your example with :
[code]

[2018-05-13 04:27] altosaar opened #10919 "gluon.Block load_params method does not accept python3 pathlib.Path"
gluon.Block `load_params` method should accept not only strings, but also pathlib.Path types that are new in python 3.
[code]

[2018-05-13 05:53] eric-haibin-lin opened #10920 "Flaky test test_operator_gpu.test_sparse_dot"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10913/7/pipeline

[code]

@haojin2

[2018-05-13 05:54] jeremiedb commented on #10739
In the your example, out_node  = 2, which results in the last layer of the network to output a matrix of dim: 2 X batch_size. This last layer has an explicit representation of the score associated with each of the 2 levels, which is normalized into a probability by the softmax operator.

Under the logistic regression output operator, the logic is a little different: since the probability associate

[2018-05-13 06:44] jeremiedb commented on #10890
Since a GLM predictions can be expressed as a matrix product and some link function transformation, it should be relatively straightforward to convert into a symbolic representation.
I think you could use the FullyCOnnected operator with num_hidden = 1 and specify the GLM weights as fixed parameters in model training.

[2018-05-13 07:01] jeremiedb commented on #10791
For CPU, you can install with :
`install.packages("https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/CPU/mxnet.zip", repos = NULL)`

For GPU:
`install.packages("https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/GPU/mxnet.zip", repos = NULL)`

@marcoabreu Is it possible for replace the official repo at `"https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/"` with t

[2018-05-13 07:39] jeremiedb commented on #10878
@diyang Does this typo resulted in crashes in all training scenarioson your side? I'm wondering why I haven't noticed issues on my side although the typo has bee npresent for some time. Any idea?

[2018-05-13 11:36] some-guy1 commented on #10890
Ok I want to be able to use any other technique.  GLM, forests, SVR, boosting, etc etc.

After looking through some of the source code I noticed that the values in the custom metric are no longer symbols, but are actual values.  So, I tried to first turn off the loss by:

[code]
Then I created a custom metric:

[code]

This seems to actually call the other R functions that I want.  But, now mxnet

[2018-05-13 15:06] rwarnung commented on #10739
@jeremiedb thank you! This is the solution! I was used to the `softmax `activation but of course with two classes the `logistic `approach that you propose makes perfect sense. I changed the input to

[code]
and it worked fine! Thank you! We can close this request!

[2018-05-13 15:06] #10739 closed

[2018-05-13 15:52] some-guy1 commented on #10791
I just updated to R 3.5 and suddenly all of my MXnet code doesnt work with random errors.

@jeremiedb is there anything that needed to change in your Windows compilation for the change to R 3.5?

The identical code worked with your compiled mxnet code with the R 3.4.4

[2018-05-13 16:17] #10914 closed, assigned to nobody

[2018-05-13 17:13] eric-haibin-lin commented on #10240
possibly fixed by https://github.com/apache/incubator-mxnet/pull/10833

[2018-05-13 17:42] zheng-da opened #10923 "some operators don't have unit tests."
Our Python unit tests don't cover all operators. Recently, I found softmax activation was never tested and the test has been added in https://github.com/apache/incubator-mxnet/pull/10918. Currently, the backward computation of norm doesn't have GPU tests. I'm afraid more operators don't have unit tests.

[2018-05-13 17:58] zheng-da commented on #10789
adding this feature requires at least creating a new shape symbol, change nnvm to handle shape symbols differently from normal symbols, rewrite the shape inference pass to propagate shape information. We need a good design for this, which should be compatible with the current shape inference scheme (I don't have any workable design). Even if we have a design, we need someone who is familiar with a

[2018-05-13 18:17] eric-haibin-lin commented on #10923
Also https://github.com/apache/incubator-mxnet/issues/10868

[2018-05-13 18:17] eric-haibin-lin commented on #10923
We need to make a list tracking missing unit tests

[2018-05-13 20:37] haojin2 commented on #10920
Should be a rtol/atol problem, will fix this ASAP

[2018-05-13 21:37] werewere opened #10925 "problem installing mxnet in R 3.5"
## Description
R is not able to find the repository data to install mxnet in R 3.5. Installation fails.

## Environment info (Required)
PS C:\Users\Administrator\Downloads> python .\diagnose.py
----------Python Info----------
Version      : 3.6.5
Compiler     : MSC v.1900 64 bit (AMD64)
Build        : ('v3.6.5:f59c0932b4', 'Mar 28 2018 17:00:18')
Arch         : ('64bit', 'WindowsPE')
------------P

[2018-05-13 23:28] harryprince commented on #10925
@werewere
maybe you need to install from source, R 3.5 have changed the kernel and performance improved.

[2018-05-14 00:41] chinakook commented on #10095
Yes, it's 4D and sometimes 3D.
I wonder that why it's different, "NHWC" and "NCHW" will be treated diffrently?

[2018-05-14 02:48] chinakook commented on #10916
mxnet.nd.smooth_l1(mxnet.nd.array([1, 2, 3]), sigma=2.0)

[2018-05-14 03:08] chinakook commented on #10836
I think hyperthreading improve very small in this highly synchronized numeric computation situation.
And pytorch used https://github.com/pytorch/cpuinfo to detect cpu.

[2018-05-14 03:31] chinakook opened #10927 "Feature Request: LSTM/GRU hard_sigmoid support"
code from rnn_cell.py
[code]
I think we can offer a option to set all the recurrent activations(in_gate/forget_gate/out_gate) to 'sigmoid' or to 'hard_sigmoid'(**mx.symbol.hard_sigmoid**). "hard_sigmoid" is originated from Theano and is the default LSTM/GRU recurrent activation of Keras.
As I've tested, 'hard_sigmoid' activation can converge faster than 'sigmoid' and get better result than 'sigmoi

[2018-05-14 04:50] jeremiedb commented on #10925
@werewere The official repo is keeping a version that is dating a little bit.
You can try installling this pre-compiled version for Windows, mxnet 1.2.0 compiled with R 3.5.0 in the meantime:
`install.packages("https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/CPU/mxnet.zip", repos = NULL)`

[2018-05-14 04:51] wkcn commented on #10916
@chinakook
Hi, I run the code but it fails.

[code]
Arch Linux + python2/python3 + gcc 8.1.0
MXNet (build from 0fcf1917, make -j 5 USE_OPENCV=1 USE_BLAS=openblas)

[2018-05-14 05:07] jeremiedb opened #10928 "Optimizers memory usage"
There's been few comments about memory consumption in the R-package. With large models, the memory footprint can rapidly burst the available memory unless a manual gc() is added in the training loop.

The problematic appears to be the weights update performed by the optimizers: https://github.com/apache/incubator-mxnet/blob/master/R-package/R/model.R#L221

Memory behaves as if the temporary nd.arr

[2018-05-14 05:50] wkcn commented on #9547
I'm writing a similar project named [MobulaOP](https://github.com/wkcn/MobulaOP).
It's available to implement new operators in Python/C++/C/CUDA without rebuilding the source of deep learning framework.

It aims to write only one code to implement new operator on different deep learning framework and different devices.

For example, I write a [ROIAlign code](https://github.com/wkcn/MobulaOP/blob/m

[2018-05-14 06:05] zhaoxy2018 commented on #10634
@chinakook Can you kindly point me a complete code example?

[2018-05-14 06:26] feevos opened #10930 "gluon documentation bug"
Dear all,

in the gluon documentation of the [neural network layers](https://mxnet.incubator.apache.org/api/python/gluon/nn.html) ```(Versions(master))```, the ```mxnet.gluon.nn..HybridLambda(function, prefix=None)``` appears only in the [analytic description](https://mxnet.incubator.apache.org/api/python/gluon/nn.html#mxnet.gluon.nn.HybridLambda) of the page, but is not listed in any of the table

[2018-05-14 07:26] szha commented on #10930
Indeed. Sorry that I missed it. Would you mind adding it to the list at the top?

[2018-05-14 07:35] feevos commented on #10930
Hi @szha, not at all but I don't know how to do so.

[2018-05-14 08:14] ivshli commented on #10003
Hi,
Does this request is in process? I still can't find intuitive example or doc about c++

Thanks

[2018-05-14 08:24] GoodJoey opened #10932 "about the data translating tool im2rec, is there any option to add new images to the existing rec file?"
Hi,
I have about 50G images for training, and it takes me about 2 hours to translate the images to rec file.
And I will receive thousands of new images period by period, then include them in the new training.
So i need to re-generate the rec file. Is there any way i can just add the new images to the existing rec file instead of re-create the rec file from the very beginning? That will save a lot

[2018-05-14 08:54] zhaoxy2018 commented on #10634
@chinakook thanks~~

[2018-05-14 08:54] #10634 closed

[2018-05-14 09:04] diyang commented on #10878
@jeremiedb Yes, it crashed in all my training scenarios, so I have prompt my own function to bypass it.

[2018-05-14 09:50] jonbakerfish opened #10935 "When are the images converted to range(0,1) in pre-trained resnet50_v2 on imagenet?"
From the Gluon Model Zoo:

However, when I look at the train scripts for resnet50_v2 (i.e. https://github.com/apache/incubator-mxnet/blob/master/example/gluon/image_classification.py and https://github.com/apache/incubator-mxnet/blob/master/example/gluon/data.py)
 There is no code line showing that the image is converted to range (0,1) (i.e. `image = image/255`) in the `get_imagenet_iterator`.
It

[2018-05-14 10:10] diyang commented on #10878
@harryprince  Done

[2018-05-14 10:40] chinakook commented on #10935
https://github.com/apache/incubator-mxnet/blob/b011eccd17d660b2f1ecf901e0db0007706df35c/example/gluon/data.py#L63

[2018-05-14 11:33] liuzx32 opened #10936 "aws-ec2 make -j4 and throw the error"
n_softmax.o
In file included from /home/mobdev/liuzx/incubator-mxnet/3rdparty/mshadow/mshadow/tensor.h:16:0,
                 from include/mxnet/./base.h:32,
                 from include/mxnet/io.h:34,
                 from src/operator/nn/mkldnn/../convolution-inl.h:30,
                 from src/operator/nn/mkldnn/mkldnn_convolution.cc:26:
/home/mobdev/liuzx/incubator-mxnet/3rdparty/mshadow/msha

[2018-05-14 13:11] ashkanaev opened #10937 "c++ API, fixed batch size for predictor."
Hello!
Is't possible to make predictor with c++ API for arbitrary batch size?
From  https://github.com/apache/incubator-mxnet/blob/97570916f844bcb4515d972c75fb0a75da345d97/example/image-classification/predict-cpp/image-classification-predict.cc

` const mx_uint input_shape_data[4] = { 1,
                                        static_cast<mx_uint>(channels),

[2018-05-14 14:55] jonbakerfish commented on #10935
Hi @chinakook,
If you run this code:

    im = mx.nd.random_uniform(shape=(3, 10, 10)) * 255
    im_ = mx.nd.image.normalize(im, mean=(0.485, 0.456, 0.406), std=(0.229, 0.224, 0.225))
    print im_.min(),im_.max()

you will get something like:

    [-1.89502692]
    <NDArray 1 @cpu(0)>
    [ 1131.16967773]
    <NDArray 1 @cpu(0)>

I think the mean and std are for images which are in range (0,1), n

[2018-05-14 16:17] vdantu commented on #10936
@liuzx32 : Could you provide minimum reproducible steps for this failure.

[2018-05-14 16:31] vdantu commented on #10903
@Rangocold : Could you post this on discuss.mxnet.io. You will get a broader audience.

[2018-05-14 17:59] szha commented on #10930
@feevos thanks! You can add the missing entries in this file https://github.com/apache/incubator-mxnet/blob/master/docs/api/python/gluon/nn.md

[2018-05-14 19:03] gautamkmr commented on #9949
Dev decided to have user upgrade the python rather than using the old version.
Please see the discussion here https://github.com/apache/incubator-mxnet/pull/10445
Feel free to close this issue.

[2018-05-14 19:17] eftiquar commented on #8075
1. Steps for building on windows have been revised and merged. We need to use VS 2015, not VS 2013.
( PR - https://github.com/apache/incubator-mxnet/pull/8619/ for Windows builds)
Please check this-
https://mxnet.incubator.apache.org/install/windows_setup.html
2. Scala specific steps need to be updated.

[2018-05-14 19:17] bhavinthaker commented on #10185
@conradwt Hello, could you please clarify which library needs libmxnet.dylib and cannot work with libmxnet.so? It will help understand and justify the effort to build and maintain both libraries.

[2018-05-14 21:02] bhavinthaker commented on #9949
@sandeep-krishnamurthy @eric-haibin-lin  Could one of you please close this issue?

[2018-05-14 21:02] bhavinthaker commented on #8155
@sandeep-krishnamurthy @eric-haibin-lin  Could one of you please close this issue?

[2018-05-14 21:04] bhavinthaker commented on #8016
@sandeep-krishnamurthy @eric-haibin-lin  Could one of you please close this issue?

[2018-05-14 21:06] anirudh2290 commented on #10846
Failed again here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10938/1/pipeline/

[2018-05-14 21:18] conradwt commented on #10185
@bhavinthaker The library which needs the libmxnet.dylib is the [MXNet.jl](https://github.com/dmlc/MXNet.jl).  At this time, this library attempts to rename libmxnet.so to libmxnet.dylib

[2018-05-14 21:35] #8016 closed

[2018-05-14 21:36] #8155 closed

[2018-05-14 21:36] #9949 closed

[2018-05-14 22:36] ThomasDelteil commented on #10846
Thanks @anirudh2290 , I have been distracted by other projects, will try to prioritize moving to smaller models this week.

[2018-05-14 23:00] harryprince commented on #10890
@some-guy1
it seems this is the answer:
https://www.r-bloggers.com/deep-learning-with-mxnetr/

[code]

[2018-05-14 23:11] haojin2 opened #10942 "Flaky test test_operator_gpu.test_batchnorm_with_type"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10939/2/pipeline
[code]

[2018-05-14 23:34] piiswrong commented on #10919
I think we can remove the check. Python prefers duck typing anyway

[2018-05-14 23:39] piiswrong commented on #10927
@szha

[2018-05-15 00:55] eric-haibin-lin commented on #3946
Confirmed with @piiswrong offline that the dependency engine in C++ is thread safe.

[2018-05-15 01:03] chinakook commented on #10095
I got it.
As I've tested, Tensorflow's batchnorm on the last axis is OK. It may not use cudnn.

[2018-05-15 01:09] chinakook commented on #10935
```image = mx.nd.image.to_tensor(image)``` will do that.

[2018-05-15 01:54] feevos commented on #10930
Thanks @szha I am closing this and I hope I haven't created more trouble than help with my ignorance in contributing (getting there ... :) ).

[2018-05-15 01:54] #10930 closed

[2018-05-15 01:55] eric-haibin-lin commented on #10095
Yeah TF doesn’t use CUDNN. We’re waiting for CUDNN 7.2 which has lots of improvements on NHWC

[2018-05-15 02:32] vdantu commented on #10937
@ashkanaev : You could post this question on discuss.mxnet.io to get a wider audience.  Also, are you seeing errors when you modify the predictor or is it not adhering to your modified input shapes? It would be helpful to know what you mean by making it flexible.

@sandeep-krishnamurthy : Could you tag this with "C++", "Example" and "Question".

[2018-05-15 02:33] liuzx32 commented on #10936
@vdantu thank you!
1. git clone https://github.com/apache/incubator-mxnet
2. git submodule update --init --recursive
3. make -j4 and throw the errors

[2018-05-15 02:36] vdantu commented on #10932
@GoodJoey : Could you also post this on discuss.mxnet.io? You will get a wider audience there.

@sandeep-krishnamurthy : Could you tag this "question"

[2018-05-15 02:38] vdantu commented on #10928
@sandeep-krishnamurthy : Could you please tag this as "question", "R"

@jeremiedb : You could also post this on "discuss.mxnet.io". You would get a wider audience.

[2018-05-15 02:40] vdantu commented on #10925
@sandeep-krishnamurthy : Could you tag this question with "R", "Installation", "Question"

[2018-05-15 02:42] vdantu commented on #10907
@sandeep-krishnamurthy : Could you please tag this as "performance"

[2018-05-15 02:46] vdantu commented on #10904
@sandeep-krishnamurthy : Could you please tag this "Question", "Python"

@ArneNx : You could post this question on "discuss.mxnet.io". You would receive a wider audience.

[2018-05-15 02:51] vdantu commented on #10884
@lovehuanhuan : It's an interesting question. Could you also post this on discuss.mxnet.io? You would receive a wider audience.
Also please post the test code that you were trying to run and  also steps to reproduce (if its anything other than just running python test.py)

@sandeep-krishnamurthy : Could you tag this as "python", "question"

[2018-05-15 02:57] vdantu commented on #10910
@sandeep-krishnamurthy : Could you please tag this issue as a "Gluon" and "feature request"?

[2018-05-15 03:00] vdantu commented on #10897
@sandeep-krishnamurthy : Could you please tag this as "Flaky", "Python", "Example", "Question".

[2018-05-15 03:01] liuzx32 commented on #10936
aws ec2: uname -a
#
Linux ip-172-31-8-144 3.14.27-25.47.amzn1.x86_64 #1 SMP Wed Dec 17 18:36:15 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

[2018-05-15 03:11] jonbakerfish commented on #10935
Hi @chinakook ,
Thanks for pointing out. Also, I found that the [mxnet.gluon.data.vision.transforms.ToTensor](https://mxnet.incubator.apache.org/_modules/mxnet/gluon/data/vision/transforms.html#ToTensor) use `F.image.to_tensor` internally.

[2018-05-15 03:11] #10935 closed

[2018-05-15 03:27] haojin2 commented on #10920
Met this again:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10931/7/pipeline
======================================================================

FAIL: test_operator_gpu.test_sparse_dot

----------------------------------------------------------------------

Traceback (most recent call last):

  File "/usr/local/lib/python2.7/dist-packages/nose/cas

[2018-05-15 03:28] haojin2 opened #10945 "Flaky test: test_operator_gpu.test_sgd"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10939/4/pipeline
[code]

[2018-05-15 04:41] chinakook commented on #10937
MXPredReshape

[2018-05-15 05:54] eric-haibin-lin opened #10947 "Flaky test: test_tutorials.test_onnx_inference_on_onnx_model"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10913/12/pipeline

[code]

[2018-05-15 06:08] sandeep-krishnamurthy commented on #10936
@liuzx32 - Have you install BLAS library ? Can you please build from source instruction here - http://mxnet.incubator.apache.org/install/index.html

[2018-05-15 06:12] sandeep-krishnamurthy commented on #10884
@lovehuanhuan - There was a breaking change in model format from v0.10 to v0.11.
A field in the model file `attrs` was renamed to `attr`. Officially there is no support for this. Hacky way for one time, you can open symbol.json and search for 'attrs' and change it to 'attr'.

Please reopen if you need further support

[2018-05-15 06:12] #10884 closed

[2018-05-15 06:15] sandeep-krishnamurthy commented on #10932
Closing the issue. Please ask usability questions at discuss.mxnet.io for faster response

[2018-05-15 06:15] #10932 closed

[2018-05-15 06:56] HorsonLiu opened #10948 "stuck subprocess in multithread"
`import multiprocessing.dummy as multiprocess
import subprocess
import mxnet as mx

def handle_task():
    ctx = mx.cpu()

    for _ in xrange(500):
        print('g')
        mx.nd.ones((2, 3), ctx)
        # stuck here
        subprocess.check_output(["ls"])
        print('d')

child_processes = [multiprocess.Process(target=handle_task, args=()) for _ in xrange(4)]

for i in xrange(4):
    child

[2018-05-15 07:34] YiyiDeng commented on #10349
Getting the same issue on Mac. Add 'python' before 'mxnet_coreml_converter.py' solved this.
Plus, I don't know why the instruction here omits the 'python' command.

[2018-05-15 08:55] liuzx32 opened #10949 "Make: *** there are no rules to create "build/ SRC /executor/graph_executor. O" required target "SRC /executor/.. / engine/profiler. H ". stop"
make: *** 没有规则可以创建“build/src/executor/graph_executor.o”需要的目标“src/executor/../engine/profiler.h”。 停止。

[2018-05-15 08:58] liuzx32 commented on #10936
Yes, I need to install BLAS first. Thank you very much.

[2018-05-15 10:39] liuzx32 commented on #10936
But there are other errors, so sorry!
,
src/io/image_aug_default.cc: In member function ‘virtual cv::Mat mxnet::io::DefaultImageAugmenter::Process(const cv::Mat&, std::vector<float>*, mxnet::common::RANDOM_ENGINE*)’:
src/io/image_aug_default.cc:318:26: error: ‘CV_BGR2HLS’ was not declared in this scope
       cvtColor(res, res, CV_BGR2HLS);
                          ^
src/io/image_aug_default.cc:3

[2018-05-15 11:19] jonbakerfish opened #10950 "The negative samples shall be other classes?"
https://github.com/apache/incubator-mxnet/blob/0fb57ff31ef5caa32edf973213bde8a8faba85e5/example/gluon/embedding_learning/model.py#L128

I think we should uniformly sample indices from other classes:

    n_indices += np.random.choice(n, k-1, p=mask[i]* (1.0/(n-k))).tolist()

[2018-05-15 14:57] eric-haibin-lin commented on #10949
Try make clean and then make

[2018-05-15 14:57] juliusshufan opened #10952 "The params can't be saved as expected when using --model-prefix for all the training script belonging to example/image-classification"
## Description
When executing the script at example\image-classification with option --model-prefix, a python run time error will happen and params can't be saved either.

## Environment info (Required)
CentOS 7.2

[code]

Package used (Python/R/Scala/Julia):
I'm using Python

## Build info (Required if built from source)
gcc 4.8.5

MXNet commit hash:
0fb57ff31ef5caa32edf973213bde8a8faba85e5

Buil

[2018-05-15 14:58] sandeep-krishnamurthy commented on #10936
Most likely you have not installed opencv correctly. Can you please follow the installation instructions to build from source that has all the commands to install blas, opencv and other dependencies.

[2018-05-15 14:58] eric-haibin-lin opened #10953 "Flaky test: test_tutorials.test_gluon_gluon"
[code]

[2018-05-15 16:11] ThomasDelteil commented on #10953
I have seen this one before. Seems like a race condition when sockets are cleared and re-used by the next kernel. Will try to add delay and run a test a few hundred times to see if it happens again.

[2018-05-15 17:45] reminisce commented on #10897
The purpose of the quantization implementation of this version is keeping accuracy under control, i.e. minimizing the accuracy loss when converting FP32 models to INT8. We are seeking other paths for improving the speed.

It's not right to change the context in that function. It's used to serialize params to disk, but doesn't mean the params does not exist on GPU when you load the model. It's all

[2018-05-15 21:59] haojin2 opened #10958 "Flaky test: test_operator_gpu.test_sample_multinomial"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10939/6/pipeline/
[code]

[2018-05-15 22:00] haojin2 commented on #10958
This issue was already raised by me earlier... #10838

[2018-05-15 22:00] #10958 closed

[2018-05-15 22:09] ThomasDelteil opened #10960 "CI bug R-CPU no space left on device"
See http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10956/2/pipeline

[code]

@marcoabreu could that be related to the new autoscaling CI ? I have seen this error at time when /dev/shm is full.

[2018-05-16 00:12] ThomasDelteil opened #10962 "CI not early stopping builds anymore"
@marcoabreu it seems that the CI is not stopping builds of commits that have subsequent commits in a given PR? Though I think it was doing it before. Is it a change that was done on purpose?

[2018-05-16 00:32] LuckyPigeon commented on #10952
This error seems like solved already if your PR #10922 had been merge.

[2018-05-16 00:57] Godricly commented on #9704
fixed in #10915.

[2018-05-16 00:57] #9704 closed

[2018-05-16 01:06] juliusshufan commented on #10952
@LuckyPigeon Yes, this PR https://github.com/apache/incubator-mxnet/pull/10922 is actually to solve the issue. Thanks for confirmation.

[2018-05-16 01:08] juliusshufan commented on #10952
@szha Could you please review PR#10922, and merge it if qualified? Thanks~

[2018-05-16 01:51] sxksxy opened #10964 "linalg_potri() Error: linalg_impl.h:606: Check failed: ret == 0 (3 vs. 0) spotri failed in lapack on cpu."
## Description
I try to use linalg_potri() to get the inverse, the input of linalg_potri is a 2-dimesional ndarray.  Got
linalg_impl.h:606: Check failed: ret == 0 (3 vs. 0) spotri failed in lapack on cpu.

## Environment info (Required)
----------Python Info----------
Version      : 3.6.4
Compiler     : MSC v.1900 64 bit (AMD64)
Build        : ('default', 'Jan 16 2018 10:22:32')
Arch         : ('6

[2018-05-16 02:59] maybepossible opened #10965 "How to show the ctc loss?"
I want to view the loss of the warp-ctc each epoch to prevent overfit. Is there a way to show the ctc loss just like 'accuracy' or 'F1'?

[2018-05-16 03:00] maybepossible commented on #10965
I want to view the loss of the warp-ctc each epoch to prevent overfit. Is there a way to show the ctc loss just like 'accuracy' or 'F1'?

[2018-05-16 03:50] liuzx32 commented on #10949
Ok, thank you.

[2018-05-16 03:50] #10949 closed

[2018-05-16 04:37] ThomasDelteil commented on #10960
Another one, on the jetson build: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10956/4/pipeline/69

[2018-05-16 05:37] wkcn commented on #9920
@anirudh2290
Thank you! I will check it.

[2018-05-16 05:56] #9920 closed

[2018-05-16 06:07] liuzx32 opened #10966 "mx.kvstore.create('dist_sync') throw error. Is there anything wrong with my environment?"
mx.kvstore.create('dist_sync')
mx.kvstore.create('dist_async')
##
MXNetError: [06:04:43] src/postoffice.cc:18: Check  notnull: Environment::Get()->find("DMLC_NUM_SERVER")
##

[2018-05-16 07:14] liuzx32 opened #10967 "Is the doc for launch.py parameters outdated？"
https://mxnet.incubator.apache.org/versions/master/faq/distributed_training.html#modeling
##
There are no instractions for option --cluster and option --launcher is deprecated?

[2018-05-16 08:34] lordofgod opened #10968 "Discuss about NDArray::Save and NDArray::Load"
There seems to be some mistakes in NDArray::Save(dmlc::Stream *strm) (File: ndarray.cc, Line: 1587~1651) and NDArray::Load(dmlc::Stream *strm) (File:ndarray.cc, Line: 1700~1781).
    This issue may cause a CUDA: invalid device ordinal with following two steps:
        1. Save a ndarray on gpu(1) in a machine with two gpu card;
        2. Load the ndarray in another machine with only one gpu card t

[2018-05-16 08:58] qichaotang opened #10969 "Mxnet dynamic graphs achieve scoure code"
Hi, all hackers
   I want to read Mxnet dynamic graphs source code , I know, gluon is front end, I want to know how to achieve this in C++ Back-end, especially, I want to know the commit by converting static graphs to dynamic graphs. I try to find release 0.11.0 ,but commit is too large to know the essential commits. So I need your help. Point out  the essential commits which achieve static graphs

[2018-05-16 09:25] GSanchis opened #10971 "Segmentation fault with custom operator"
## Description
Hi all. I've just recently stumbled into a segmentation fault, which I can't really explain. Creating a new operator (even the softmax in the example) leads to it.

## Environment info (Required)

[code]

I'm using mxnet-cu80 for Python 3.5.

## Build info (Required if built from source)

Downloaded via `pip install --user mxnet-cu80==1.2.0b20180516`. I was using mxnet-cu80-1.0.0, b

[2018-05-16 09:32] GSanchis commented on #10971
Ok, I believe I'm mixing things. Closing this for now, until I've understood what's going on.

[2018-05-16 09:32] #10971 closed

[2018-05-16 10:05] wythe51 commented on #5245
Maybe try `SoftmaxOutput` instead of `LogisticRegressionOutput` (and set `num_hidden=2` ).
At least in my case, it works.

[2018-05-16 11:32] QiXuanWang commented on #10805
@diyang thanks very much for LSTnet-Attn mention. My current problem actually could use this. Will try it out.

[2018-05-16 11:51] rocketbear opened #10972 "Gluon's PReLU is very slow and a fix to it"
I have experienced significantly slow training speed when using PReLU activation instead of using ReLU activation with model composed using the gluon API. The speed of PReLU over ReLU is about 1/5 on GPU when measuring the number of samples processed per second.

Finally I managed to bring the speed of gluon's PReLU back to normal by the following modifications:
Following is the original init func

[2018-05-16 12:38] liuzx32 commented on #10966
Maybe mx.kvstore.create('dist_sync') can't run in python Shell.

[2018-05-16 12:38] #10966 closed

[2018-05-16 12:50] asitstands opened #10973 "Flaky test_deconvolution"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10970/1/pipeline/724

[code]

[2018-05-16 13:09] asitstands opened #10974 "Cpp CI may be broken"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10970/1/pipeline/717

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10311/36/pipeline/718

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10433/30/pipeline/721

[code]

[2018-05-16 14:10] marcoabreu commented on #10974
Confirmed. Steps to reproduce:

Instance: g3.8xlarge (don't forget nvidia-docker)

Build using
```ci/build.py --download-docker-cache --docker-cache-bucket mxnet-ci-docker-cache-prod --platform ubuntu_build_cuda --shm-size 500m /work/runtime_functions.sh build_ubuntu_gpu_cuda91_cudnn7```

Run using
[code]

Failure log:
[code]

[2018-05-16 16:04] marcoabreu commented on #10974
GDB reports ```"During startup program terminated with signal SIGABRT, Aborted."```. Unfortunately, I can't get more informations since the error is flaky. Sometimes it happens multiple times in a row, sometimes it takes ages to show up.

[2018-05-16 16:10] marcoabreu commented on #10962
Hi, this was never enabled. We always built all commits

[2018-05-16 16:48] ThomasDelteil commented on #10962
Ah, don't know how I came to be sure of that then. Well I'm thinking that might be a good idea to do it in the future :)

[2018-05-16 16:48] #10962 closed

[2018-05-16 17:29] eric-haibin-lin commented on #10901
Fixed by https://github.com/apache/incubator-mxnet/pull/10961

[2018-05-16 17:29] #10901 closed

[2018-05-16 17:29] eric-haibin-lin commented on #10896
Thanks for looking into this! Closed via https://github.com/apache/incubator-mxnet/pull/10961

[2018-05-16 17:29] #10896 closed

[2018-05-16 17:32] eric-haibin-lin commented on #10969
You can read the code in src/imperative folder, in particular related to cached op for Gluon backend execution

[2018-05-16 17:36] piiswrong commented on #10964
@asmushetzel

[2018-05-16 17:40] eric-haibin-lin commented on #10950
@chaoyuaw

[2018-05-16 17:48] zhanghang1989 opened #10976 "[BUG] MNIST LeNet forward fails on 65061dc"
MNIST LeNet forward fails on master branch. @eric-haibin-lin mentioned that it may be related to this PR https://github.com/apache/incubator-mxnet/pull/10911
[code]
Got this error
[code]

[2018-05-16 18:04] chaoyuaw commented on #10950
@jonbakerfish Yes, I think you are right. Would you mind creating a PR for this?

[2018-05-16 18:18] zhanghang1989 commented on #10976
Failed on commit 65061dc93710afce92edfe548aa3352473da3cdb,
but seems fixed on master now.

[2018-05-16 18:35] asmushetzel commented on #10964
potri computes the inverse based on the Cholesky decomposition (see documentation of potri). So the input must be a positive definite matrix say "A".  L = potrf(A) then does the Cholesky decomposition where A = L*L^T.  potri(L) will compute the inverse of A.
You have to ensure that the initial matrix A is indeed positive definite when feeding it into potrf().

[2018-05-16 18:44] szha commented on #10972
These two implementations are different in terms of the number of parameters. The performance hit likely comes from the broadcast operation.

[2018-05-16 19:40] DickJC123 opened #10977 "test_kvstore_gpu.py:test_rsp_push_pull fails when run on a system with only one GPU"
## Description
The test test_rsp_push_pull fails when it attempts to create and use context mx.gpu(1) even if only one GPU is present.  The test should ideally perform a reduced level of testing in the absence of 2 GPUs, rather than just fail.

## Environment info (Required)

[code]

## Error Message:
Visible in the repro example below:

## Minimum reproducible example
This error can be reproduced

[2018-05-16 20:31] ankkhedia commented on #10969
Hi @qichaotang
Could you please confirm if they query got answered and close the issue.
@sandeep-krishnamurthy
Please tag this as question and pending requester info

[2018-05-16 20:35] ankkhedia commented on #10968
@sandeep-krishnamurthy Could you please tag this issue as Discussion and NDArray

[2018-05-16 20:37] ankkhedia commented on #10967
@sandeep-krishnamurthy Could you please tag this as Question and Documentation

[2018-05-16 20:45] ankkhedia commented on #10965
@maybepossible , Could you please post your question on discuss.mxnet.io ? We handle questions through that forum.

@sandeep-krishnamurthy Could you please tag the issue as question and close the issue.

@maybepossible Please feel free to reopen in case it is closed in error.

[2018-05-16 20:48] ankkhedia commented on #10950
@sandeep-krishnamurthy Could you please tag this as Call for Contribution

[2018-05-16 20:51] ankkhedia commented on #10952
@sandeep-krishnamurthy Could you please tag this as python and bug

[2018-05-16 20:54] ankkhedia commented on #10964
@sxksxy Hope your issue got resolved.
@sandeep-krishnamurthy Could you please close the issue and label it as operator

@sxksxy Please feel free to re open the issue in case it is closed in error

[2018-05-16 20:56] ankkhedia commented on #10948
@sandeep-krishnamurthy Could you please tag issue as python and bug

[2018-05-17 00:11] azai91 commented on #10836
Is there any issue with just using the following to get the number of cores?

[code]

https://stackoverflow.com/questions/150355/programmatically-find-the-number-of-cores-on-a-machine

[2018-05-17 01:05] jonbakerfish commented on #10950
Hi @chaoyuaw , a PR is created https://github.com/apache/incubator-mxnet/pull/10980. Please have a look. Thanks.

[2018-05-17 02:01] chinakook commented on #10972
Yes, I investigated the leakyrelu-inl.h source code. There are indeed a broadcast operation when the shape of param 'alpha' is 1.

[2018-05-17 02:05] phoenixbai opened #10981 "build ends with error : elemwise_binary_op-inl.h:78:3574: error: expected primary-expression before ‘template’"
## Description
I tried to build from source, and it exits with error below:
I try googling, and fail to find anything helpful.
What could be the cause ? please help.
[code]

## Environment info (Required)

[code]

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-4)

MXNet commit hash:
b84514758d9aefb60dbb90a941c3948d28

[2018-05-17 04:09] #10950 closed

[2018-05-17 04:36] chinakook commented on #10972
I think it's no need to broadcast when multiply a scalar and a matrix. May some other operation is more suitable for this kind of multiplication.

[2018-05-17 05:26] eric-haibin-lin commented on #10981
@haojin2

[2018-05-17 05:31] haojin2 commented on #10981
@phoenixbai A quick solution to this is to upgrade your CUDA version to 8.0 or later if possible. I'm currently working on a fix for this but that may take longer than a simple upgrade.

[2018-05-17 06:57] liuzx32 opened #10984 "Some wrong with training on yarn？"
../../tools/launch.py -n 2 -s 2 --cluster=local python train_mnist.py --network lenet --kv-store dist_sync， run successful.
So I adjust --cluster=yarn to mxnet on yarn
../../tools/launch.py -n 2 -s 2 --cluster=yarn python train_mnist.py --network lenet --kv-store dist_sync
##
But job failed Exit code: 1
18/05/16 12:55:16 INFO dmlc.ApplicationMaster: onContainerStarted Invoked
18/05/16 12:55:16 INF

[2018-05-17 08:27] cvtower commented on #10899
@wkcn
1. args in deploy/face_embedding.py:
        ++print('args:')
        ++print(args)
args:
Namespace(det=2, flip=0, gpu=0, image_size='112,112', model='../models/model-r34-amf/model,0', threshold=1.24)

2. vim /usr/local/lib/python2.7/dist-packages/mxnet/symbol/symbol.py   +1475
        ++print('ctx.device_id:')
        ++print(ctx.device_id)
printed output:
ctx.device_id:
Namespace(det=2, fl

[2018-05-17 08:35] cvtower commented on #10899
BTW, since the ctx.device_id seems like a namespace, then if i
vim /usr/local/lib/python2.7/dist-packages/mxnet/symbol/symbol.py +1478
--ctypes.c_int(ctx.device_id),
++ctypes.c_int(ctx.device_id.gpu),

The network will work normally, i guess ctx.device_id should be integer here but seems like not.
well, i met this issue when solving others problem, not so sure weather the error is caused by the in

[2018-05-17 08:40] liuzx32 opened #10985 "make -j 4 scalapkg throw the error: type mismatch;"
[ERROR] /data/liuzx/incubator-mxnet/scala-package/infer/src/test/scala/org/apache/mxnet/infer/ClassifierSuite.scala:52: error: type mismatch;
[INFO]  found   : java.util.List[String]
[INFO]  required: Array[Byte]
[INFO]     Files.write(path, lines)

[2018-05-17 08:41] phoenixbai commented on #10981
@haojin2 it compiles successfully with cuda version 9.0. thank you!

[2018-05-17 08:42] #10981 closed

[2018-05-17 09:15] wkcn commented on #10899
MXNet doesn't have any check for ctx.device_id.
The type of ctx.device_id should be `int`.
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/context.py#L47

I think the insightface code passes a namespace to args.gpu, however MXNet doesn't check the type of ctx.device_id.

[2018-05-17 10:54] qichaotang commented on #10969
Thanks,

[2018-05-17 10:54] #10969 closed

[2018-05-17 11:28] liuzx32 commented on #10985
Maybe java version is incompatible for that！

[2018-05-17 11:28] #10985 closed

[2018-05-17 13:43] larroy commented on #10973
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/883/pipeline

[2018-05-17 15:09] ali2210 commented on #4469
does windows support mxnet along with scala , if so then how  ?

[2018-05-17 15:50] bricksdont opened #10987 "Sharing Parameters between BucketingModules"
## Description

I am trying to share parameters between two BucketingModules. More specifically, my requirements are:
- I have different sources of data, that are read by different data iterators
- I have several instances of `BucketingModule`. The modules have some parameters in common, and they should share them. I.e. the parameter arrays should essentially be identical.
- On top of that, the mo

[2018-05-17 16:02] bricksdont commented on #10987
It seems that other people are having the very same problem: https://discuss.mxnet.io/t/sharing-parameters-between-two-modules-through-arg-dict/1046.

[2018-05-17 16:22] eric-haibin-lin opened #10988 "Flaky test: test_operator_gpu.test_countsketch"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10983/1/pipeline/

[code]

[2018-05-17 17:00] werewere commented on #10925
thanks @jeremiedb , it seems to install correctly that pre-compiled one.

[2018-05-17 17:46] ThomasDelteil commented on #10945
Happened to me as well here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10959/8/pipeline/703

[2018-05-17 17:48] ThomasDelteil commented on #10942
Happened to me too hre: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10959/6/pipeline/

[2018-05-17 18:09] ThomasDelteil commented on #10953
@eric-haibin-lin a fix has been put it him to add a delay between restarts of the jupyter kernel that should help with that bug, haven't been able to reproduce it locally after 100s of runs. Consider closing for now.

[2018-05-17 18:11] ThomasDelteil commented on #10947
@KellenSunderland just wanted to check what is the status of the retry logic on the mx.test_utils.download() ? That would help with that particular bug.

@eric-haibin-lin I have moved all models that were 500MB+ to <50MB models, so the likeliness of download errors will decrease.

[2018-05-17 18:12] ThomasDelteil commented on #10846
@zheng-da a fix has been put in to reduce the size of the models from 500MB to <50MB for the tutorials. That should prevent this bug from happening in the future. Please consider closing for now.

[2018-05-17 18:18] #10846 closed

[2018-05-17 18:18] #10953 closed

[2018-05-17 20:12] altosaar opened #10990 "Gluon hybridize fails to detect an input"
Here is a minimal example of hybridize failing to detect an input: https://gist.github.com/altosaar/6c29d8ac505ae1cea03ca65f193e7832

Without hybridize, this code runs fine.

However, hybridize thinks one of the inputs is not used. Stack trace:

[code]

[2018-05-17 21:50] altosaar commented on #10990
Yup this is with the latest nightly build.

[2018-05-18 02:39] wushilian opened #10993 "How to train the model by c++"
If I want to use c++ not python to train the model,How should I do?

[2018-05-18 03:15] liuzx32 commented on #9157
anyone?

[2018-05-18 05:30] zheng-da opened #10994 "MKLDNN fails in the backward computation when forward runs with is_train=False"
This is a pretty special case. When we run forward with is_train=False and MKLDNN is enabled, backward fails with a memory error. @ashokei @pengzhao-intel @TaoLv

[code]

The memory error is something like this:
[code]

[2018-05-18 05:47] pengzhao-intel commented on #10994
When we run forward, how it goes into backward?
 If we run the training, `is_train` should be `True`.

Will look into the case.

[2018-05-18 05:57] zheng-da commented on #10994
this mode exists in MXNet.
I'm not sure if mkldnn backward can deal with this case. potentially, the backward computation can just fall back.

[2018-05-18 07:39] chinakook opened #10995 "Some mxnet ctc_loss bug & feature request"
Mxnet ctc_loss has nearly the same source code with baidu's warpctc with little modifications, but it has some bugs.
[code]

### Case 1 - mxnet ctc_loss is all right
[code]

### Case 2 - mxnet ctc_loss cannot support integer label types
[code]

### Case 3 - mxnet ctc_loss is slow or will crash when num_classes is big
[code]

### Case 4 - warpctc is all OK with big num_classes and integer types
[co

[2018-05-18 08:44] chinakook commented on #10987
You can **hack** module by yourself.

[2018-05-18 08:48] bricksdont commented on #10987
Could you please elaborate on that? I assume you mean deriving a new class from `BucketingModule`, but what exactly do you recommend to do?

[2018-05-18 10:12] lispc opened #10996 "Is "Check failed: ctx == vcontext[nid]..." an internal assertion?"
## Description

I encountered the exception "Check failed: ctx == vcontext[nid] Trying to save gradient to gpu(3) while its source node "net1_conv0_backward" computes it on gpu(0). Check your ctx in NDArray allocation." during running my model parallel training code. According to the [source code](https://github.com/apache/incubator-mxnet/blob/c5958f0ade579487ecdbd6c1bcb67538f531c62a/src/executor/

[2018-05-18 12:39] chinakook commented on #10993
It's low productive to train model with c++.

[2018-05-18 12:47] #10716 closed

[2018-05-18 15:44] KellenSunderland commented on #10553
@sbodenstein Can you test this in master, I think the merged PR above should address your concerns.  If it does feel free to close the issue, and if not let us know.

[2018-05-18 15:51] HyperGroups opened #10998 "Question: problem with import model generated by Wolfram Mathematica?"
When I'm using load_checkpoint()
I found the code in model.py is
[code]

the problem is in my arguments, there is no {{{___colon : ____]}}

so the error info is
[code]

mxnet.__version__ is 1.1.0

[2018-05-18 17:49] bricksdont commented on #10987
@chinakook Excuse me, I do not see how this solves my problem; `BucketingModule` does not have an argument `shared_module`. Binding the `mod` module only to rebind it later does not make much sense to me. And why exactly `new_sym` as the `_symbol`? As I understand, `_symbol` changes if the current bucket changes in a `BucketingModule`.

[2018-05-18 21:43] ArmageddonKnight opened #10999 "Naming of Contrib Implementations"
Dear MXNet Developers,

I have a CUDA implementation of LSTM RNN that is algorithmically the same with `LSTMCell` and `cuDNN LSTM RNN` and I am hoping to contribute it to the MXNet repository (in the `src/operator/contrib` folder, I also prepared its Python interface). Could you please kindly answer my following concerns:

- Would the community accept my contribution?
- Is it acceptable if I name

[2018-05-18 21:51] #10871 closed

[2018-05-18 22:08] astonzhang commented on #9881
Thank Haibin for raising such issues.

Besides, weight decay should only apply to weights (not bias). [1][2] Thus, users usually do

[code]

by assuming that weight decay only applies to weights. However, our current implementation applies weight decay to all model parameters including bias.

Reference:

[1] LeCun, Y., Bengio, Y., & Hinton, G. (2015). Deep learning. nature, 521(7553), 436.

[2] Fr

[2018-05-18 22:09] ankkhedia commented on #10993
@sandeep-krishnamurthy  Could you please tag this as Question and C++

[2018-05-18 22:11] ankkhedia commented on #10990
@sandeep-krishnamurthy Could you please tag this as question and gluon

[2018-05-18 22:12] ankkhedia commented on #10987
@sandeep-krishnamurthy  Could you please label it as question

[2018-05-18 22:15] ankkhedia commented on #10999
@sandeep-krishnamurthy Could you please tag this as question

[2018-05-18 22:27] szha commented on #10999
@ArmageddonKnight Hi Jack. Thanks for offering to contribute. How does your implementation compare to cudnn in terms of supported features, efficiency, etc.?

[2018-05-18 22:32] szha commented on #8372
closing. ping me if the issue is still not resolved.

[2018-05-18 22:32] #8372 closed

[2018-05-18 22:33] #8447 closed

[2018-05-18 22:35] szha commented on #8951
This should have been fixed already. Ping me if the problem persists.

[2018-05-18 22:35] #8951 closed

[2018-05-18 22:35] szha commented on #8962
This should have been fixed already. Ping me if the problem persists.

[2018-05-18 22:35] #8962 closed

[2018-05-18 23:03] eric-haibin-lin commented on #10996
Are you using any custom op? There was a bug where the custom op causes inconsistent context

[2018-05-19 00:41] marcoabreu commented on #10999
Thanks for your contribution, we definitely would love to look into it and see some benchmarks. About your second question: In general, we try to keep MXNet independent from any company influence and naming, thus we'd prefer a more generic term. Maybe you got a paper or something else that you could use a reference for the naming?

[2018-05-19 00:55] ArmageddonKnight commented on #10999
@szha @marcoabreu  Thank you so much for your reply.

@szha My implementation is based on the open-source LSTM RNN implementation https://devblogs.nvidia.com/optimizing-recurrent-neural-networks-cudnn-5/, except that it supports **input dropout** and also **backward pass**. I compared my implementation against `cuDNN 6.0` on the Python interface and it is comparable with `cuDNN`. There are cases i

[2018-05-19 09:08] CircleXing001 commented on #4002
yes,i think so.

[2018-05-19 23:38] srochel commented on #8177
@hen - please see updated file content. Is this sufficient or what additional information is needed?
Suggest to close this issue.

[2018-05-20 06:55] xFFFFF commented on #6379
I have this issue too, you ommited this warning: `No library found for -lmxnet`

[2018-05-20 14:45] sergeykolychev commented on #6379
@xFFFFF Cool!, glad to see some interest. Let me know if you'll run by any bug.

[2018-05-20 16:31] sergeykolychev commented on #6379
@xFFFFF
Just tested the lib on perl 5.26.1
You'll need small patch to get all tests to pass on this perl. I am working on larger patch that will include this fix as well.
[code]

[2018-05-20 17:38] xFFFFF commented on #6379
I did not notice any error ... an example from your blog with gluon start without any warning. Only I did not finished traing, because I want do something else. I gave up today. I am a total novice and will take some time to run what I want to run :) - ML with buy or sell. It's a pity that most of the examples are operations on images, not numbers :(

[2018-05-20 17:44] CircleXing001 opened #11006 "bug about sum in loss"
i make a loss of 'mx.sym.sum(xxx)',and use mx.sym.MakeLoss().
but it always can't work and kill the kernel

[2018-05-20 17:50] kice commented on #10126
Here is my implementation for SN-GAN.
[code]
You need to call update_u() after updating the parameters. And it should work after calling hybridize().

[code]

@piiswrong Would you like to give me some advice for my implementation? ( like making it no need to manually call update_u() every update or other better way to implement it)

P.S. @kazizzad  Can you change the title to something like "How t

[2018-05-20 18:09] rehmanzafar opened #11007 "ModuleNotFoundError: No module named '_bz2'"
Hello,

I have installed the mxnet using the following command "**pip install mxnet==1.1.0**". The package was successfully installed but it is giving an error on import "**ModuleNotFoundError: No module named '_bz2'**" I have tried various solutions but no luck.

`import mxnet as mx`

  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/site-packages/mxnet/__init__.py", line 77,

[2018-05-20 18:34] sergeykolychev commented on #6379
@xFFFFF
One of the tests fail on perl 5.26.1 without that patch above. If you don't care, just ignore.
check out calculator.pl :-) as close to numbers as they come. Images are also converted to numbers before being fed into the network.
On serious note, if you are really new to the subject start with this book. http://neuralnetworksanddeeplearning.com/chap1.html

[2018-05-20 20:10] sandeep-krishnamurthy commented on #10993
Hello @wushilian - You can ask usability questions at https://discuss.mxnet.io/ . It has more users who can answer questions related to using MXNet. GitHub issues are more useful to report bugs.
Please reopen in case of any issues.

[2018-05-20 20:10] #10993 closed

[2018-05-20 23:53] jessebrizzi commented on #10867
Also tested on master branch 10ac52993aeaf2fa589a6b3636c8e23a65c8e639 and bug is present

[2018-05-20 23:54] jessebrizzi commented on #10866
Also tested on master branch 10ac52993aeaf2fa589a6b3636c8e23a65c8e639 and bug is present

[2018-05-21 00:06] reminisce commented on #10897
@chtlp Yes, the slow down is expected. We would make the doc clearer. Thanks.

[2018-05-21 02:40] brillwang opened #11008 "Support Sparse OP in C predict API"
For now (version 1.2.0), The C predict api cannot support sparse op and storage type.
`csr_data = mx.symbol.Variable("data", stype='csr')
label = mx.symbol.Variable("softmax_label")
embed_weight = mx.symbol.Variable('embed_0_weight', stype='row_sparse', shape=(3000020, 64))
mult = mx.sym.sparse.dot(csr_data, embed_weight)
fc1 = mx.symbol.FullyConnected(data=mult, num_hidden=128)
act1 = mx.symbol.t

[2018-05-21 04:33] liuzx32 opened #11011 "../../tools/launch.py -n 2 -s 2 --launcher yarn python train_mnist.py --network lenet --kv-store dist_sync"
Traceback (most recent call last):
  File "./launcher.py", line 81, in <module>
    main()
  File "./launcher.py", line 76, in main
    ret = subprocess.call(args=sys.argv[1:], env=env)
  File "/usr/lib64/python2.7/subprocess.py", line 523, in call
    return Popen(*popenargs, **kwargs).wait()
  File "/usr/lib64/python2.7/subprocess.py", line 711, in __init__
    errread, errwrite)
  File "/usr/li

[2018-05-21 04:55] ankkhedia commented on #10977
@sandeep-krishnamurthy  Could you please tag this as kvstore and test

[2018-05-21 04:58] ankkhedia commented on #10984
@sandeep-krishnamurthy Could you please tag this as python

[2018-05-21 05:01] ankkhedia commented on #10994
@sandeep-krishnamurthy Could you please tag this as bug

[2018-05-21 05:02] ankkhedia commented on #10996
@sandeep-krishnamurthy Could you please tag this as Pending requester Info

[2018-05-21 05:03] ankkhedia commented on #10998
@sandeep-krishnamurthy Could you please tag this as Question

[2018-05-21 05:06] ankkhedia commented on #11006
@CircleXing001  Could you please give more context of the issue and minimum reproducible code to reproduce it alongwith environment details

@sandeep-krishnamurthy Could you please tag this as Pending requester info

[2018-05-21 05:09] ankkhedia commented on #11007
@rehmanzafar Could you please give more details about the environment in which you were using?
@sandeep-krishnamurthy Could you please tag this as Installation and Pending requester info

[2018-05-21 05:11] ankkhedia commented on #11008
@sandeep-krishnamurthy Could you please tag this as C API and Discussion

[2018-05-21 05:13] ankkhedia commented on #11011
@liuzx32 Could you please give more context of the environment and error. At first sight, it seems like a permission and error and  you can try running this as sudo in case you are using ubuntu.

@sandeep-krishnamurthy Could you please tag this as Pending requester info and python

[2018-05-21 05:57] CircleXing001 commented on #11006
`data = mx.symbol.Variable('data')

label = mx.symbol.Variable('softmax_label')

conv1=mx.symbol.Convolution(data,kernel=(5,5),stride=(1,1),pad=(2,2),num_filter=32)

fc1=mx.symbol.Activation(conv1,act_type='relu')

pool1=mx.symbol.Pooling(fc1,kernel=(2,2),pool_type='max',stride=(2,2))

conv2=mx.symbol.Convolution(pool1,kernel=(5,5),stride=(1,1),pad=(2,2),num_filter=64)

fc2=mx.symbol.Activation(co

[2018-05-21 06:10] liuzx32 commented on #11011
OSError: [Errno 13] Permission denied from ../../example/image-classification/train_mnist.py.
chmod 775 ../../example/image-classification/train_mnist.py and run it  local success.
##
But run it yarn will failed exitCode=1

[2018-05-21 06:13] liuzx32 commented on #10984
@ankkhedia Thank you so much. Maybe mxnet can give some examples about mxnet on yarn.

[2018-05-21 06:15] liuzx32 commented on #11011
@ankkhedia @sandeep-krishnamurthy Thanks very much, Maybe mxnet can give some examples about mxnet on yarn.

[2018-05-21 07:57] HyperGroups commented on #10998
@ankkhedia only a contributor can add labels?

[2018-05-21 08:26] rehmanzafar commented on #11007
@ankkhedia I am facing this issue in ubuntu 16.04.

[2018-05-21 12:57] al-rigazzi commented on #10599
Hi @pengzhao-intel, I switched to gcc 7 (from 4.9.3), it seems to work now.

Thanks.

[2018-05-21 17:56] rohith14 opened #11015 "Check failed: err == CUSOLVER_STATUS_SUCCESS (7 vs. 0) Create cusolver handle failed"
Installed mxnet
`pip install mxnet_cu91`

CUDA/cuDNN : 9.1/7.1.3

## Error ##
terminate called after throwing an instance of 'dmlc::Error'
  what():  [13:51:26] /home/travis/build/dmlc/mxnet-distro/mxnet-build/mshadow/mshadow/./stream_gpu-inl.h:139: Check failed: err == CUSOLVER_STATUS_SUCCESS (7 vs. 0) Create cusolver handle failed

Stack trace returned 9 entries:
[bt] (0) /local/anaconda3/lib/py

[2018-05-21 18:17] szha commented on #8671
Yes, they should have USE_DIST_KVSTORE=1 already.

[2018-05-21 19:02] fhieber commented on #8671
@szha Oh great, thanks! I haven't tried it in a while but remembered that last time I checked the distributions were compiled without it. Glad to hear its enabled by default now!

[2018-05-21 19:56] szha commented on #8671
@fhieber no problem. I added the corresponding row in the table.

[2018-05-21 20:30] wellner commented on #10436
Any chance of having this issue bumped up?  This bug renders training via Scala impossible in many cases and could be problematic for large batch decoding/inference.

[2018-05-21 22:03] slitsey opened #11016 "[Feature request] temperature parameter in Softmax and SoftmaxOutput"
MXNet does not appear to have a native temperature parameter in its softmax functions. I would like this to be added, as it has many useful applications when learning a categorical probability distribution, especially in a reinforcement learning setting. Should default to 1 to reproduce current behavior.

https://en.wikipedia.org/wiki/Softmax_function#Reinforcement_learning

@eric-haibin-lin

[2018-05-21 23:43] zhanghang1989 commented on #9648
Reopen this due to CUDNN is handled wrongly @piiswrong

[2018-05-22 00:00] #8932 closed

[2018-05-22 00:01] szha commented on #8859
mobilenet pre-trained model is now provided thanks to @hetong007

[2018-05-22 00:01] #8859 closed

[2018-05-22 00:02] szha commented on #8278
Check out https://github.com/dmlc/gluon-nlp

[2018-05-22 00:02] #8278 closed

[2018-05-22 05:30] nttstar opened #11019 "Gluon SoftmaxCELoss does not converge, for large number of classes."
## Description
Training with 85K classes failed while I use gluon trainer with SoftmaxCELoss. But it is ok if I defined the same network by gluon but training with symbolic module interface(sym.SoftmaxOutput).

## Error Message:
training acc starts from 0.0 to 0.001, but then drop to 0.0 again after about 1K iterations.

## Steps to reproduce

1. checkout latest insightface repo(https://github.com

[2018-05-22 05:55] liuzx32 opened #11020 "mxnet on yarn throw the OSError, how can I solve it."
File "/usr/lib64/python2.7/ctypes/__init__.py", line 357, in __init__
    self._handle = _dlopen(self._name, mode)
OSError: libopenblas.so.0: cannot open shared object file: No such file or directory
##
The problem show
s that there is no openblas on ec2，does it means that I need to install openblas for every ec2 on yarn?  Is there any other solutions to solve it.

[2018-05-22 06:42] nttstar commented on #11019
I think sym.SoftmaxOutput considered the numerical stability problem while gluon SoftmaxCELoss not.  [reference](http://freemind.pluskid.org/machine-learning/softmax-vs-softmax-loss-numerical-stability/) in Chinese.

[2018-05-22 07:33] nttstar commented on #11019
I want to note that in symbolic interface I normalize the loss(gradient) in each softmax container and rescale the total gradients in optimizer by 1.0/gpu_num.

In gluon interface I do not apply any gradient normalization but calling ``trainer.step(batch_size)``.
I think they're the same.

[2018-05-22 07:37] lupesko commented on #8075
Scala support on Windows is not yet available for MXNet, unfortunately.
@nswamy and @lanking520 have been doing some awesome work to improve Scala MXNet API. Hoping they will be able to work on Scala and Windows as well - stay tuned!

[2018-05-22 07:50] marcoabreu commented on #8075
Hi hagay, could you elaborate on the issue you are encountering with windows? Considering Scala is based on the JVM and we're successfully running the Backend of MXNet on our Windows CI, there might be something we could do quickly :)

[2018-05-22 07:53] nswamy commented on #8075
Please free to attempt to build a Windows version. from what I can see It
needs windows based native code(JNI)

On Tue, May 22, 2018 at 12:50 AM, Marco de Abreu <notifications@github.com>
wrote:

[2018-05-22 07:55] marcoabreu commented on #8075
Aaaah I see, JNI is the problem here. Got it, thank you! Agree, that might take a bit of time :/

[2018-05-22 10:17] #10788 closed

[2018-05-22 10:58] chinakook commented on #9102
It's fixed in the newest mxnet.

[2018-05-22 10:58] #9102 closed

[2018-05-22 11:11] Godricly opened #11022 "nd.stack with different input sizes"
[code]
output
[code]
It is able to get output shape. But you can not access the data within.

[2018-05-22 12:08] asmushetzel commented on #10203
working on it

[2018-05-22 18:56] lanking520 opened #11023 "No Windows Support for Scala"
## Description
Currently I see the tutorial contains Scala installation page for Scala, please remove that or adding some signs to show we are not currently support Windows.
@aaronmarkham

## Environment info (Required)
Windows

Package used (Python/R/Scala/Julia):
(I'm using Scala)

[2018-05-22 20:43] rahul003 commented on #10967
Looks like --launcher is mapped to --cluster to keep it consistent with a dependency (dmlc-core).
You will need to use --launcher

[2018-05-22 21:00] szha commented on #8365
pretrained models are provided now.

[2018-05-22 21:01] #7376 closed

[2018-05-22 22:01] #10766 closed

[2018-05-22 22:01] szha commented on #10766
Should have already been fixed.

[2018-05-22 22:57] haojin2 commented on #10973
Also encountered at: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11021/5/pipeline

[2018-05-22 23:28] szha commented on #10990
The problem is in the following line:
https://gist.github.com/altosaar/6c29d8ac505ae1cea03ca65f193e7832#file-gluon-hybridize-error-py-L17
`split_item_emb = F.split(item_emb, axis=0, num_outputs=len(set_sizes))`

`__len__` behaves differently between symbol and ndarray.

In general, `hybrid_forward` doesn't support having shape-specific logic.

[2018-05-22 23:31] szha commented on #10990
[code]
seems to be equivalent to
[code]

[2018-05-22 23:34] szha commented on #10990
@piiswrong it would be great if we could have a way to explicitly warn about this though

[2018-05-22 23:47] szha commented on #10910
There's a copy of state in each of the contexts, which might be different from the number of contexts provided by the user. In the case that you describe, the only solution is to throw away some states.

@piiswrong what do you suggest we provide that would allow override of number of contexts for optimizer states?

[2018-05-22 23:49] szha commented on #10799
@zhanghang1989 this does not work because valid_label_map.size is used. `hybrid_forward` doesn't support using shape information if the block is to be hybridized.

[2018-05-22 23:51] zhanghang1989 commented on #10799
Agree. This is just a PoC for feature request :)

[2018-05-22 23:55] szha commented on #10609
[code]
`state` is supposed to be a list. The above code works

[2018-05-22 23:55] #10609 closed

[2018-05-23 00:06] eric-haibin-lin commented on #10589
Fixed now on master

[2018-05-23 00:06] #10589 closed

[2018-05-23 00:06] szha commented on #10589
This has already been fixed thanks to @eric-haibin-lin

[2018-05-23 00:42] szha commented on #10799
For this feature, we will need two more sparse operators for best efficiency:
1. `where(cond, x, y)` in which `cond` is sparse, x/y can be scalar, and return value is dense.
2. `eq(x, y)` where the return value is sparse.

[2018-05-23 00:48] zhanghang1989 commented on #10799
Another component needed is an operator return the ``NDArray.size``

[2018-05-23 01:45] vrakesh opened #11028 "Pre-trained Shufflenet model fails during inference on mxnet-mkl==1.2.0"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-05-23 02:52] liuzx32 opened #11029 "The example of train_mnist.py can't exit after completes."
Run ../example/image-classification/train_mnist.py --network lenet --kv-store dist_sync, but the process can't exit after task completes.

[2018-05-23 03:37] #10329 closed

[2018-05-23 04:26] szha commented on #10401
Hi @Will0622. I wasn't able to reproduce this issue with simple code samples. Could you provide a snippet for reproducing the issue?

[2018-05-23 05:38] lispc commented on #10996
Finally I solved the problem by add a ```with mx.AttrScope(ctx_group=...)``` before ```mx.sym.Variable(name=...)```
It is not an internal bug. But I think it may be better to use a more clear error message. The current error message is not easy for understanding and fixing the problem.

[2018-05-23 06:26] lanking520 commented on #10574
Just to follow up, are you still facing the same issue now? Currently we have changed the namespace into Apache org.

[2018-05-23 06:47] lanking520 commented on #10436
Thanks for your message! We are currently working on a draft proposal to solve this issue and send to the devlist. The disposing method currently brings a great inconvenience to users. In the past, we tried to place that into finalizer stage and it sometimes crash for unknown reasons. Will follow up with this thread with our progress.

[2018-05-23 06:50] HyperGroups commented on #10998
One solution is add ':' test in the code, but may not be able to solve all questions.
ie,
Modifid code:

[code]

[2018-05-23 06:54] lanking520 commented on #10549
Unfortunately, Scala is not supported on Windows for now. We are prioritize Windows support for Scala this month as many users requested that. Will try to provide support that as soon as possible. However, there is still more time needed for a stable release.

[2018-05-23 07:04] lanking520 commented on #9992
Hi! Not sure if you are still facing the issue. Please follow our brand new IntelliJ setup and try this again: http://mxnet.incubator.apache.org/tutorials/scala/mxnet_scala_on_intellij.html
Will keep this thread updated if you are facing the same issues

[2018-05-23 07:11] lanking520 commented on #9656
Sparse API is still in the queue of our TODO list. We will try to get this set of APIs release in the next few months. If you can't wait and would like to 'unlock' this feature to try on your own, please change it here:
https://github.com/apache/incubator-mxnet/blob/master/scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala#L60#L63
or here if you prefer type-checked api:
https:/

[2018-05-23 07:12] lanking520 commented on #9315
Have you still faced the same issue?

[2018-05-23 07:14] lanking520 commented on #8344
@anirudh2290 Please close this Issue. We have updated the link on the website and we will add more support on R this summer.

[2018-05-23 07:51] xinyu-intel commented on #11028
Hi, I cannot reproduce this bug base on the master branch. Do you mind building mxnet on master branch with the command `make -j USE_OPENCV=1 USE_MKLDNN=1 USE_BLAS=apple` ? I will check which commit solve this bug after the released pypi package.

[2018-05-23 08:13] sxjscience opened #11031 "Use dtype=int for the indices returned by TopK"
The dtype of `ret_indices` in "topk" is currently real_t. Should we revise it to `int` to avoid possible loss of precision? (https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/ordering_op-inl.h#L432)

[2018-05-23 10:19] HyperGroups opened #11032 "Problem with load lstm model with mx.Module's bind"
test model is in my Repo
MachineLearning/mxnet/python/1.0/model-wolfram/
model={wolfram.lstm.json, wolfram.lstm-0000.params}
script is in {wolfram_v2/wolfram.lstm.py}

[code]

the model was trained by Mathematica in MXNet Version  1.0.1
and can be load by MXNet-Python with the another version code in MXNet Version.

### Error Info is

[code]
### Without lstm

code verson
'wolfram/v1/wolfram.no_lst

[2018-05-23 10:40] gongjiaqiang commented on #3205
I also meet this same problem, how to solve it?

[2018-05-23 14:58] juliusshufan commented on #10952
fixed

[2018-05-23 14:58] #10952 closed

[2018-05-23 15:42] sandeep-krishnamurthy commented on #10998
@HyperGroups : Can you please ask the question at https://discuss.mxnet.io/ ? More people will be able to answer and later search for the similar question. We want to keep GitHub issues mainly for bugs and feature requests. Please reopen if you face any issues.

[2018-05-23 15:42] #10998 closed

[2018-05-23 15:49] sandeep-krishnamurthy commented on #10996
@lispc Thanks for the update on the fix. Closing the issue.Better exception and error handling is being worked on.
@anirudh2290 - Is this exception that is something under your radar, while you work on exceptions and greatly improving erroring mechanism?

[2018-05-23 16:59] ali2210 commented on #3644
[check this for mxnet on windows ]https://www.youtube.com/watch?v=qvw-Gtv2uz8

[2018-05-23 17:04] sandeep-krishnamurthy commented on #11007
@rehmanzafar I tried on Ubuntu 16.04, I am unable to reproduce your error. Can you please try clean install again? i.e., uninstall and re-install?

[code]

Here is my output:
[code]

[2018-05-23 17:18] ankkhedia commented on #11006
@CircleXing001  The code shared by you create the symbols.  The symbol creation works fine for me. I suppose that the forward pass/ training might be killing your kernel. Could you please share the exact code which you are trying when the kernel fails?

[2018-05-23 17:30] marcoabreu commented on #11031
@asmushetzel

[2018-05-23 17:41] anirudh2290 commented on #10996
This exception wasn't under my radar since its not happening during operator execution.  This should have failed gracefully though.

[2018-05-23 18:35] vrakesh commented on #11028
Hi sure will try out the master branch build, however, since our package refers the pypi package of mxnet 1.2 , I am not sure how much it will help us

[2018-05-23 21:38] wellner commented on #10436
Great!  Looking forward to it and happy to help test and/or review.

[2018-05-23 23:10] sandeep-krishnamurthy commented on #4858
Closing this issue in favor of - https://github.com/apache/incubator-mxnet/issues/10123

[2018-05-23 23:10] #4858 closed

[2018-05-23 23:33] sandeep-krishnamurthy commented on #8679
Closing due to inactivity, please reopen if issue still persist.

[2018-05-23 23:33] #8679 closed

[2018-05-24 00:08] samhodge commented on #9989
Did anyone make any progress on this issue

[2018-05-24 00:09] sandeep-krishnamurthy commented on #9028
@chsin - I am not sure if C APIs are supported fully or maintained.

[2018-05-24 02:11] bluesea2017 opened #11039 "Linux-R"
We can not download R in the linux .
Where do we download R in the linux?

Thank You

[2018-05-24 03:14] Godricly commented on #8822
Is there any update for this feature? Casting nd.array to numpy costs more time than np.where. :disappointed:

[2018-05-24 03:30] Paul0M opened #11040 "Big acc difference when fine-tune using vgg16 and resnet-50"
Test this https://mxnet.incubator.apache.org/faq/finetune.html

when using **resnet-50 and flatten0**, easy to get acc > **80%**, (sgd, lr=0.01)

when using **Inception-BN and flatten**, easy to get acc > **７０%**, (sgd, lr=0.1)

But when using **vgg16 and flatten_0 or fc8**, only get acc over **10%**, (tried sgd,adm with different lr)

Does any one have any idea about this big difference?

[2018-05-24 03:46] CircleXing001 commented on #11006
@ankkhedia Firstly,thanks for ur reply.
Here is the exact [code](https://github.com/CircleXing001/mnist/blob/master/mx_mnist.py) that i tried.

[2018-05-24 05:00] AprilSongRits opened #11042 "speech recognition example is not compatible with python3"
The only one example for speech recognition is not compatible with python3.

[2018-05-24 05:02] rahul003 commented on #11020
Did you build from source? I believe you have to install it on each machine.

[2018-05-24 05:44] HaoLiuHust opened #11043 "Does convolution layer has weight decay param? just as fc layer "wd_mult""
Does convolution layer has weight decay param? just as fc layer "wd_mult"

[2018-05-24 05:54] zhanghang1989 commented on #9989
Thanks for following up! Sorry for the delay. I have fixed the training in PR https://github.com/apache/incubator-mxnet/pull/11044 , will update the pretrained model.

[2018-05-24 07:17] liuzx32 opened #11046 "run mxnet on spark throws error: libopenblas.so.0: cannot open shared object file: No such file or directory"
18/05/24 15:16:32 WARN TaskSetManager: Lost task 0.0 in stage 1.0 (TID 1, ip-172-31-30-210.ec2.internal, executor 2): java.lang.UnsatisfiedLinkError: /mnt/yarn/usercache/mobdev/appcache/application_1498108406715_370596/container_1498108406715_370596_01_000003/tmp/mxnet4326624135048797573/mxnet-scala: libopenblas.so.0: cannot open shared object file: No such file or directory
	at java.lang.ClassLoa

[2018-05-24 11:26] xinyu-intel opened #11048 "Build MXNet with opencv error on MacOS"
## Description
Build MXNet error on MacOS, related to opencv.

## Environment info (Required)

[code]

## Build info (Required if built from source)

Compiler: gcc version 5.5.0 (Homebrew GCC 5.5.0_2)

MXNet commit hash:
704d218bfdbe5778173930bd39ed0ee4d730cfe5

Build config:
`make -j8 CC=gcc-5 CXX=g++-5 USE_OPENCV=1 USE_BLAS=apple`

## Error Message:
[code]

Note that clang works but I have to us

[2018-05-24 13:56] daleydeng opened #11050 "How to get the shape of input variable for both nd and sym in hybrid_forward dynamically?"
When training with different size of images(with batch_size=1), how to get input variable shape using F in HybridBlock.hybrid_forward, that means a single function in both nd and sym api?

For example, using F.contrib.BilinearResize2D for scalling without out_height and out_width.

[2018-05-24 15:07] yjcn opened #11052 "Nvidia Jetson TX2 Check failed: (err) == (cudaSuccess) Name: mxnet_generic_kernel ErrStr:no kernel image is available for execution on the device"
## Description
Can't use GPU on TX2. I compile mxnet by myself(http://mxnet.incubator.apache.org/install/index.html
 Linux-Python-GPU-Build from source),and there is no error while compiling.   When I test my mxnet, there is  an error.
![image](https://user-images.githubusercontent.com/8858803/40494255-fe5724f4-5fa6-11e8-88c8-4210864c7079.png)

Check failed: (err) == (cudaSuccess) Name: mxnet_gene

[2018-05-24 15:42] sandeep-krishnamurthy commented on #10984
Duplicate of https://github.com/apache/incubator-mxnet/issues/11011
Resolving this issue, and following up with action item on the other issue.

[2018-05-24 15:42] #10984 closed

[2018-05-24 17:30] zhanghang1989 commented on #9989
The pretrained model is ready now. It will be merged soon. Thanks again for your patient and interest in this work!

[2018-05-24 18:38] dmidge8 commented on #6313
Alright. I have the same problem than explained here. But I would be interested to know how @rococopeach  managed to solve the problem! Because I have no idea why openblas can't be found, and if it is really openblas that is the problem...

[2018-05-24 22:47] zhanghang1989 opened #11056 "[Feature Request] broadcast_like operator"
## Description

Request a `broadcast_like` operator, which can output a broadcasted NDArray for the given target.

For example `y=nd.broadcast_like(x, z)`, which should return the same result with existing operator `y=nd.broadcast_to(x, z.shape)` but avoid reading the shape explicitly, so that it can be used in `HybridBlock`.

[2018-05-24 22:53] eric-haibin-lin opened #11057 "Failed dist_sync_kvstore test not detected on CI for a long time"
e.g. http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11001/9/pipeline/1442
The test fails but CI didn't detect that @rahul003

It seems to fail after https://github.com/apache/incubator-mxnet/pull/10645 @haojin2

[2018-05-25 01:12] Rangocold commented on #6313
@dmidge8
i give up openblas because i config the environment many days but not work
i use mkl final, it works
when u cmake , add an item ENABLE_MODULE_MKL is key
if u want to use openblas, i find a video may help u
https://www.bilibili.com/video/av18047152/

[2018-05-25 02:06] zheng-da commented on #10807
are you sure you can do it in CPU without MKLDNN?
what you are doing here is trying to allocate a weight array whose dimension is 11520000x1000, which is 85GB.
It seems to me that the code fails in initializing the weight matrix with random numbers. It's before calling MKLDNN operators.

[2018-05-25 02:51] lionel92 commented on #10807
@zheng-da  As I mentioned before, all environments(GPU/CPU/MKLDNN) failed. According to your response, can I consider it as an out-of-memory error?

[2018-05-25 05:44] cvtower commented on #10899
Hi wkcn,

Sorry for this mistake.
The insightface inference should be execute with paras contain GPU device index options, i got this error from my colleague and then just try to make it work while did not review the source files.
Thanks for your kind help!

[2018-05-25 05:44] #10899 closed

[2018-05-25 05:54] liuzx32 opened #11060 "wget https://s3-us-west-2.amazonaws.com/mxnet.liuyz/data/mnist/train.txt throw 404"
The script in scala-package/spark for mxnet on spark. wget https://s3-us-west-2.amazonaws.com/mxnet.liuyz/data/mnist/train.txt throw 404, how can I get the train.txt and val.txt data?

[2018-05-25 07:34] solin319 opened #11061 "mx.nd.argmax is slow"
[code]
We use code before to test the speed of argmax.
NDArray in cpu use 0.112895s.
NDArray in gpu use 0.280577.
numpy.array only use 0.018021.

Why mx.nd.argmax is so slow?

@szha

[2018-05-25 13:02] wsokolow commented on #11040
Which engine did you use for execution? GPU or CPU (with MKLDNN)? I'm observing issues with ~10% accuracy while running AlexNet with MKLDNN engine.

[2018-05-25 13:08] kaleidoscopical opened #11062 "how to manually occupy all gpu memory like tensorflow?"
MxNet is excellent on memory saving. But is there a way to manually occupy all gpu memory like tensorflow?

[2018-05-25 13:27] yjcn commented on #11052
I have solved this problem. The default CUDA_ARCH doesn't contain the TX2 's CUDA_ARCH. So we need to add "CUDA_ARCH = -gencode arch=compute_62,code=sm_62" to make/config.mk manually.
(https://discuss.gluon.ai/t/topic/6589)

[2018-05-25 13:27] #11052 closed

[2018-05-25 13:29] zchrissirhcz commented on #9113
Is this because our GPU based machine runs too fast?

I also encounter this problem when playing the linear regression toy  network in https://mxnet.incubator.apache.org/tutorials/python/linear-regression.html.

[2018-05-25 14:27] asitstands commented on #11031
This could break existing code. Sometimes the resulting array of indices is subject to another operation. Then the result can become different if the dtype of the index array changes. Or it can make an error as some opertions can be applied to only floating point arrays.
[code]
Currently the result is `[8.5]`, but the result is `[8]` if the dtype is integer.
[code]
Currently this is allowed, but i

[2018-05-25 14:38] z01nl1o02 commented on #11061
remove the line  "print max[0]" mx.nd will be faster.

[2018-05-25 15:02] zheng-da commented on #10807
i think so

[2018-05-25 16:42] eric-haibin-lin commented on #10974
Also blocked my PR: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11001/11/pipeline

[2018-05-25 17:15] eric-haibin-lin opened #11064 "Flaky test: test_operator.test_op_roi_align"
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11058/1/pipeline

[2018-05-25 17:22] zhreshold commented on #11064
Relax with rtol should be fine, the diff is acceptable

[2018-05-25 23:00] haojin2 commented on #11064
@zhreshold increased the rtol to 1e-4 and passed 500 consecutive test runs, the change is included in #11058

[2018-05-26 00:59] solin319 commented on #11061
@z01nl1o02
"print max[0]" is used to make sure argmax completed.
We can change it to 'max.wait_to_read()', the result is same.

[2018-05-26 05:49] rachelmint opened #11071 "GPU memory usage for VGG16 prediction"
Hi,

I found that image prediction with VGG16  took 770M GPU memory (for 1 image). I felt like mxnet use more memory than caffe in this case. Is that a normal memory cost?

[2018-05-26 13:35] hlalibe commented on #9217
Hi all,
i followed the instructions above from @helloniklas on Jan 3. After I ran Make, the system ran for quite a while without errors, only warnings, then suddenly I got:
ld: warning: directory not found for option '-L/Developer/NVIDIA/CUDA-9.2/lib64'
ld: warning: directory not found for option '-L/usr/local/cuda/lib64/stubs'
ld: library not found for -lcuda
clang: error: linker command failed w

[2018-05-26 14:34] ibraheemalkilanny commented on #9113
I think it is because the console, too much lines are being printed. Check out my stackoverflow question for details

[2018-05-26 23:35] sandeep-krishnamurthy commented on #9068
Closing due to inactivity. @dbsxdbsx - Please reopen if issue still persist.

[2018-05-26 23:35] #9068 closed

[2018-05-26 23:39] sandeep-krishnamurthy commented on #9113
Resolving. Please reopen if issue still persists.

[2018-05-26 23:39] #9113 closed

[2018-05-26 23:41] sandeep-krishnamurthy commented on #9134
@KellenSunderland - Any updates on the issue? Thanks.

[2018-05-26 23:43] sandeep-krishnamurthy commented on #9137
@dbsxdbsx - Please reopen if the issue still persists.

[2018-05-26 23:43] #9137 closed

[2018-05-26 23:43] sandeep-krishnamurthy commented on #9157
@nswamy - Any comment on this issue?

[2018-05-26 23:44] #9179 closed

[2018-05-26 23:47] sandeep-krishnamurthy commented on #9181
@PhanTask - Please ask usability question at  https://discuss.mxnet.io/ .
Please reopen this issue if you face any bugs.

[2018-05-26 23:47] #9181 closed

[2018-05-26 23:48] sandeep-krishnamurthy commented on #9261
@JSP21 - Please reopen if your issue still persists.

[2018-05-26 23:48] #9261 closed

[2018-05-27 01:02] sandeep-krishnamurthy opened #11072 "Show deprecation warning message for deprecated API"
We should always show Deprecated warning message for deprecated API.
For example, I used mx.sym.SoftmaxActivation() API, but, it was deprecated in favor of mx.sym.softmax(). However, I never saw a warning message.

Similarly, we should identify and warn for all deprecated API usage.

[2018-05-27 01:19] Lane565 commented on #10596
I ran into a similar problem. Can you help me with this? Here comes the Error Message:

 /usr/bin/ld: cannot find -lnppi
collect2: error: ld returned 1 exit status
Makefile:466: recipe for target 'lib/libmxnet.so' failed
make: *** [lib/libmxnet.so] Error 1
make: *** Waiting for unfinished jobs....
/usr/bin/ld: cannot find -lnppi
collect2: error: ld returned 1 exit status
Makefile:495: recipe for t

[2018-05-27 18:26] sandeep-krishnamurthy commented on #10106
Hello @yancz1989 - We recommend asking your usage related questions at https://discuss.mxnet.io/
Please reopen the issue, if you see any bug.

[2018-05-27 18:26] #10106 closed

[2018-05-27 20:52] sandeep-krishnamurthy commented on #10126
This question is very likely to get answered at - https://discuss.mxnet.io/

[2018-05-27 20:57] sl1pkn07 commented on #10558
just for note

new Cuda 9.2.88.1 build OK with GCC 7.3.1

[2018-05-27 22:30] sandeep-krishnamurthy commented on #10782
Resolving the issue, because, with 2 issues referenced, this is an expected behavior. Please reopen for any other issues.

[2018-05-27 22:30] #10782 closed

[2018-05-27 22:35] sandeep-krishnamurthy commented on #10832
Please ask usage related questions at https://discuss.mxnet.io/ for more people being able to answer, search and refer in future. We want to keep GitHub for issues/bugs.

[2018-05-27 22:35] #10832 closed

[2018-05-27 22:36] sandeep-krishnamurthy commented on #10834
Please ask usage related questions at https://discuss.mxnet.io/ for more people being able to answer, search and refer in future. We want to keep GitHub for issues/bugs.

[2018-05-27 22:36] #10834 closed

[2018-05-27 22:42] sandeep-krishnamurthy commented on #10866
@lanking520 - Any inputs on this?

[2018-05-27 23:00] #10878 closed

[2018-05-27 23:04] sandeep-krishnamurthy commented on #10903
Please ask usage related questions at https://discuss.mxnet.io/ for more people being able to answer, search and refer in future. We want to keep GitHub for issues/bugs.

[2018-05-27 23:04] #10903 closed

[2018-05-27 23:05] sandeep-krishnamurthy commented on #10905
@lovehuanhuan - Please reopen if issue still persists.

[2018-05-27 23:05] #10905 closed

[2018-05-27 23:06] #10916 closed

[2018-05-27 23:09] #10964 closed

[2018-05-27 23:10] sandeep-krishnamurthy commented on #10965
Please ask usage related questions at https://discuss.mxnet.io/ for more people being able to answer, search and refer in future. We want to keep GitHub for issues/bugs.

[2018-05-27 23:10] #10965 closed

[2018-05-27 23:12] sandeep-krishnamurthy commented on #10967
@rahul003 - Do we need to update the doc to reflect that --launcher is mapped to --cluster

[2018-05-28 00:04] sandeep-krishnamurthy commented on #11015
Hello looks like Ubuntu (I am assuming?) version, CUDA version and cuDNN version mis-match.
Can you please provide some more details on OS, and reconfirm CUDA driver version and cuDNN version?

[2018-05-28 00:14] sandeep-krishnamurthy commented on #11022
That kind of stack should not be allowed. This looks like a bug in stack().

[2018-05-28 00:17] sandeep-krishnamurthy commented on #11028
This issue is fixed on Master. This fix is not applied on 1.2 branch.
CC @zheng-da

[2018-05-28 00:27] sandeep-krishnamurthy commented on #11040
Hello, I would also encourage you to ask your question at https://discuss.mxnet.io/ for more people being able to answer, search and refer in future

[2018-05-28 00:27] sandeep-krishnamurthy commented on #11043
Please ask usage related questions at https://discuss.mxnet.io/ for more people being able to answer, search and refer in future. We want to keep GitHub for issues/bugs.

[2018-05-28 00:27] #11043 closed

[2018-05-28 00:29] sandeep-krishnamurthy commented on #11046
Hello you need to install Openblas. Please refer installation guide here - http://mxnet.incubator.apache.org/install/index.html

Please provide more details on the system, how did you install mxnet and how did you invoke.

[2018-05-28 00:31] sandeep-krishnamurthy commented on #11050
Please ask usage related questions at https://discuss.mxnet.io/ for more people being able to answer, search and refer in future. We want to keep GitHub for issues/bugs. Please reopen if you face any issues.

[2018-05-28 00:31] #11050 closed

[2018-05-28 00:35] sandeep-krishnamurthy commented on #11062
I think MXNet allocates the required memory, there is no option to forcefully occupy full memory.
Can you please let me know, why would this be required?

[2018-05-28 00:37] sandeep-krishnamurthy commented on #11071
VGG is a dense network with many parameters. GPU memory is for complete model. I think this is normal.
What is the memory usage you are seeing for Caffe?

[2018-05-28 01:51] Paul0M commented on #11040
@wsokolow GPU

[2018-05-28 02:10] liuzx32 commented on #11046
@sandeep-krishnamurthy Thank you for the answer, I have installed openblas in one machine which runs the script for mxnet on spark. If I run it on yarn, you mean I need to install openblas on every machine, that doesn't seem feasible!  How do you solve the distributed running problems? Perhaps my question is here.

[2018-05-28 02:43] liuzx32 commented on #11011
@sandeep-krishnamurthy Thank you very much!

[2018-05-28 02:43] #11011 closed

[2018-05-28 02:49] liuzx32 commented on #11046
@sandeep-krishnamurthy Perhaps mxnet can complie with static link library openbblas.a not dynamic link library openblas.so. I hope it will help mxnet on spark or on yarn.

[2018-05-28 02:49] #11046 closed

[2018-05-28 02:57] catonlion commented on #3685
@mli how to limit the port range....

[2018-05-28 05:37] maybepossible opened #11073 "Data copy between cpu adn gpu"
I use jetson tx1 for inference. It said that there's data copy between CPU and GPU memory. As CPU and GPU share the same memory, Is there a way to not use the cpu memory, just keep the data in GPU? Thank you.

[2018-05-28 05:38] maybepossible opened #11074 "Data copy between cpu and gpu in jetson Tx1"
I use jetson tx1 for inference. It said that there's data copy between CPU and GPU memory. As CPU and GPU share the same memory, Is there a way to not use the cpu memory, just keep the data in GPU? Thank you.

[2018-05-28 05:39] #11073 closed

[2018-05-28 05:59] kaleidoscopical commented on #11062
Thanks for replying me : )

For example, I have a GPU card with 12GB memory and one of my running programs occupies 11.5GB of it. Besides, there are several dynamic memory allocations in my codes.

If I accidentally run another program on the same GPU card, both of the programs will report "Out of Memory". So, I wonder whether there is a safer way to solve this problem.

[2018-05-28 07:09] Alexander-flyer commented on #10596
hei, @Lane565
 Maybe you can try as the answer ->https://stackoverflow.com/questions/16710047/usr-bin-ld-cannot-find-lnameofthelibrary
I'm not sure if it's effective ,but the method make sense.

[2018-05-28 07:15] liuzx32 commented on #11020
@rahul003 Thank you for the answer, Perhaps I can build from source with the static link library openblas.a.

[2018-05-28 07:15] #11020 closed

[2018-05-28 07:16] wsokolow commented on #11040
I've also reproduced my problem with GPU.

[2018-05-28 07:28] Lane565 commented on #10596
Thanks for replying .Last night ,I found that it was due to the lack of libnppi.so files in the /cuda-9.0/lib64/
directory .So I changed cuda version to cuda8.0 and used MXNet 1.0.0 .Finally I succeeded in compiling.

[2018-05-28 07:36] Lane565 commented on #10596
But here comes another problem. When I start Python terminal, error occurs again. Here is the error message:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "mxnet/__init__.py", line 25, in <module>
    from . import engine
  File "mxnet/engine.py", line 23, in <module>
    from .base import _LIB, check_call
  File "mxnet/base.py", line 111, in <module>
    _LIB =

[2018-05-28 07:40] Lane565 commented on #10596
But here comes another problem. When I start Python terminal "import mxnet as mx", error occurs again.

 OSError: /home/qwang/anaconda2/bin/../lib/libgomp.so.1: version `GOMP_4.0' not found (required by /home/qwang/Xiang/Download/apache-mxnet-src-1.0.0-incubating/python/mxnet/../../lib/libmxnet.so)

[2018-05-28 08:17] Alexander-flyer commented on #10596
https://github.com/pytorch/pytorch/issues/643
as a reference

[2018-05-28 08:36] iFighting opened #11077 "The sampling_ratio in roi-align can be specified(not adaptive size)!"
The sampling_ratio in roi-align can be specified(not adaptive size)!

the sampling_ratio in detectron is 2，if we use adaptive size sampling_ratio, the output feature map diff in mxnet and detectron is large with the same input!

[2018-05-28 09:11] Lane565 commented on #10596
That works! Thank you again from the bottom of my heart !

[2018-05-28 10:44] glingyan opened #11078 "how to pass int as parameter to HybridBlock"
class hb1(gluon.HybridBlock):
  def hybrid_forward(self, F, x, dims)
      #get dims's value
      out_dim = dims[0] #error raise TypeError('Symbol only support integer index to fetch i-th output')
class hb2(gluon.HybridBlock):
  def __init__():
      self.hb_nn = hb1()
  def hybrid_forward(self, F, x)
      out_dim = 5
      out_dim_ndarray = mx.nd.array([out_dim])
      self.hb_nn(x, out_dim_nda

[2018-05-28 10:45] glingyan commented on #11078
@piiswrong

[2018-05-28 12:27] #11078 closed

[2018-05-28 13:32] BeethovenVirus opened #11079 "Is it possible to apply intersection/union on mx.nd.array"
For example, I want to be able to simply call like this?
[code]
Currently, it says this operands is unsupported. By the way, is it possible to do this on GPU ?

[2018-05-28 15:14] jakobetzel commented on #10791
@jeremiedb 's mxnet (CPU) link above seems to be broken. Installing leads to the error:
Error in rawToChar(block[seq_len(ns)]) :
  embedded nul in string: 'PK\003\004\024\0\0\0\0\0\xea\026\xadL\0\0\0\0\0\0\0\0\0\0\0\0\006\0\0\0mxnet/PK\003\004\024\0\0\0\0\0\xe9\026\xadL\0\0\0\0\0\0\0\0\0\0\0\0\v\0\0\0mxnet/demo/PK\003\004\024\0\0\0\b\0\xf0\x9e\xabL\xd5\\\aY\xa0\0\0\0\xfc'

[2018-05-28 15:55] dmidge8 commented on #6313
@Rangocold  Thank you for your help! Unfortunately, I still didn't manage to make it work. Except the fact that I didn't include OpenCV during the Cmake (there is the USE_OPENCV that you can turn off if you want to avoid using it).
And I confirm, openblas is hard to properly use, it seems... If MKL is the Intel Math Kernel Library, I would rather not use it.
But it seems the problem comes from the

[2018-05-28 15:56] maybepossible opened #11080 "Is it normal that mxnet takes up much more GPU memory at the start up?"
In my program, I found the mxnet will take 900M GPU memory at the beginning when the program starts. And then reduce to 300M. Is that normal?

[2018-05-28 16:00] lx75249 commented on #6313
@dmidge8 You have to use some linear algebra library (openblas, MKL or something equivalent)  to make it work, because if the header generator can't read the API information from the mxnet dll, it means other programs that depend on mxnet.dll won't work either.

[2018-05-28 16:37] jeremiedb commented on #10791
@jakobetzel , could you provide details on your R version and operating system? Those pre-built binaries are for Windows. I just re-tried an installation of the CPU versoin and worked fine on R 3.5 and Win10.

[2018-05-28 17:32] dmidge8 commented on #6313
@lx75249 Indeed. But I have Openblas in my path, which is also configured in cmake, and I even tried to put openblas directly in the build\Debug\libmxnet.dll folder, altogether with other possibly missing dlls...

[2018-05-28 18:04] #10999 closed

[2018-05-28 18:53] ThomasDelteil commented on #11040
This is due to the fact that flatten_0 is not the penultimate layer in VGG16. See answer here: https://discuss.mxnet.io/t/issue-big-acc-difference-when-fine-tune-using-vgg16-and-resnet-50/1124

[2018-05-28 19:02] ThomasDelteil commented on #11040
You can check your network architecture like that:
[code]
[code]

You want to use `relu7` for your fine-tuning layer.
[code]

Result:
[code]

[2018-05-28 19:57] szha commented on #11078
just keep integer as a member of the class instance.

[2018-05-28 21:46] ThomasDelteil commented on #10212
@aaronmarkham bump

[2018-05-28 21:55] dmidge8 commented on #6313
Alright, I get it a bit better.
Openblas requires some MinGW library to have all its dependencies satisfied. I had to download them and make them available in the path to have them working.

[2018-05-29 04:28] rachelmint commented on #11071
Caffe needs 500-550M GPU memory, but mxnet needs 770M

[2018-05-29 06:14] ZiyueHuang commented on #11077
cc @zhanghang1989

[2018-05-29 06:35] szha commented on #9686
#11031

[2018-05-29 07:12] GokawaHaruki opened #11084 "Undefined Behavior of mx.sym.where with shape-mismatched cond"
## Description
`mx.sym.where(cond, x, y)` still functions, given shape-mismatched `cond`. Would it be more reasonable if we raise a `shape mismatched` error?

Related API: http://mxnet.incubator.apache.org/versions/1.2.0/api/python/symbol/symbol.html?highlight=mxnet.symbol.where#mxnet.symbol.where

## Environment info

mxnet-cu90==1.2.0

## Minimum reproducible example

[code]

[2018-05-29 07:18] nihilityworld opened #11085 "how to build amalgamation in Windows?"
I have try using the mxnet_predict-all.cc generated in Linux and generated in Windows using g++, but all of them got a lots of errors. So I want to know how to build it in Windows?

[2018-05-29 07:42] GokawaHaruki commented on #11084
Perhaps the root is here?

1. Call `where_batch` with `M = x.Size()/cond.Size()` if given shape-mismatched cond:
    https://github.com/apache/incubator-mxnet/blob/v1.2.0/src/operator/tensor/control_flow_op.h#L297
1. Perform `KERNEL_ASSIGN(out[i], req, (0 != cond[i/M]? x[i] : y[i]));`, which results in automatic reshaping and repeating.
    https://github.com/apache/incubator-mxnet/blob/v1.2.0/src

[2018-05-29 07:50] sxjscience commented on #11084
@GokawaHaruki I think the problem is `symbol.eval` will only create one executor. The code will raise an error if it's written this way:

[code]

[2018-05-29 07:58] sxjscience commented on #11084
It is still a bug as the shape checking logic is not triggered.

[2018-05-29 09:25] xinyu-intel opened #11086 "Infer shape error with softmaxoutput"
## Description
softmaxoutput cannot handle a special topology `1*1 conv + softmax` which can be used to replace fully connect in some networks.

I wrote a similar softmax script with 4D input data and 1D label to trigger this error.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using python)

## Build info (Required if built from source)

Compiler (gcc/clang/mi

[2018-05-29 12:07] asmushetzel commented on #11031
A few general remarks about indices in mxnet:

There is no specific convention in MXNet about what datatype to be used when encoding indices. It is basically left to the user or inferred from other data. This is generally fine and consistent. For example look at all operators that are indeed consumers of index arrays (pick, take, gather_nd):
They are all written in a way such that the datatype of

[2018-05-29 12:28] xinyu-intel commented on #11086
Temporarily add flatten manually before softmax to avoid this problem.

[2018-05-29 12:34] sxjscience commented on #11031
Sounds good. We can add a argument called ‘idx_dtype’, which is set to be backward-compatible by default.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: moin <notifications@github.com>
Sent: Tuesday, May 29, 2018 8:08:21 PM
To: apache/incubator-mxnet
Cc: Xingjian SHI; Author
Subject: Re: [apache/incubator-mxnet] Use dtype=int for the indices returned by TopK (#1

[2018-05-29 12:52] kimiylilammi opened #11088 "Tutorial not working aclImdb_lstm_classification.R"
## Description
I am trying to run example https://github.com/apache/incubator-mxnet/tree/master/example/rnn/bucket_R , but seems like "mx.io.bucket.iter" is no longer available as I am getting error:
[code]

Is there a function that can replace this functions functionality? The tutorial should be updated to incorporate that.

## Environment info (Required)
Package used (Python/R/Scala/Julia):
R

S

[2018-05-29 14:01] huyangc opened #11089 "The module.update_metric may hurt the performance in some cases."
I found that the input of the metric instance(preds and labels) might be in different context, the preds will always in ``cpu``. So that when I train a network that have about 100 k classes, the output of the mod will be copied to cpu to calculate the cross entropy loss. The copy procedure will hurt the performance. For example, when I train a resnet-18 with 100k classes:
Speed with CrossEntropy:

[2018-05-29 14:33] asitstands commented on #11031
I think that `random.multinomial` also need to be in the list. I'm positive on the introducion of the new name `idx_dtype`, but using the old `dtype` also looks not bad for the consistency, as the operators in `random` package use `dtype` to specify the data type of the output array. We need to set the backward compatible default currently, but I agree on changing it as integer in 2.0. Anyway an i

[2018-05-29 16:04] sxjscience commented on #11031
Yes, dtype should be better. I can try to add the dtype option for topk first. One issue is that the compiling speed would be slower if we use a nested macro to consider all the combinations.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Deokjae Lee <notifications@github.com>
Sent: Tuesday, May 29, 2018 10:33:26 PM
To: apache/incubator-mxnet
Cc: Xingjian SHI; A

[2018-05-29 17:38] haojin2 commented on #11057
@eric-haibin-lin is this good to be closed now? Seems like the test is fixed now.

[2018-05-29 17:59] rahul003 commented on #10967
@sandeep-krishnamurthy  --launcher is not deprecated.  --cluster is a mapping in dmlc-core, which is not exposed to mxnet users. The doc is up to date. I think you can close this.

[2018-05-29 20:48] piiswrong commented on #10990
This usage is not supported by hybridize. I can't think of a way to fix or warn about this without breaking API though.

Closing as unsupported

[2018-05-29 20:48] #10990 closed

[2018-05-29 20:51] piiswrong commented on #10919
Actually, we don't plan to support this. It should be easy to extract string path from pathlib

Closing

[2018-05-29 20:51] #10919 closed

[2018-05-29 21:03] piiswrong commented on #10910
We should report a better error message.
But I don't think we should support loading state with different number of GPUs.
load_state is intended for resuming training with the same setup

[2018-05-29 21:09] piiswrong commented on #10875
+-*/ operators behave differently for symbol and ndarray due to legacy reasons (broadcast_*) cannot do reverse infer shape.

We should explain this difference in the error message

[2018-05-29 21:13] piiswrong commented on #10824
@zhreshold could you have a look?
It might not be due to as_in_context directly. Maybe its because the use of gpu.

[2018-05-29 21:16] piiswrong commented on #10807
I think this is due to the use of index_t (which is uint32_t) vs int64_t in tesnorblob.

This is a legacy issue. We should use int64_t for all indexing

[2018-05-29 21:21] #10695 closed

[2018-05-29 21:21] piiswrong commented on #10695
should be fixed

[2018-05-29 21:22] #10765 closed

[2018-05-29 21:22] piiswrong commented on #10765
bug fix merged

[2018-05-29 21:30] asmushetzel commented on #11031
I think we should make it consistent from the beginning, i.e. add all affected operators in one shot.

[2018-05-29 21:36] ThomasDelteil commented on #11089
Have a look at this issue for this problem, https://github.com/apache/incubator-mxnet/issues/9571

If you use Gluon, you can compute easily your metric directly on GPU and indeed you can get a lot of performance gain.

However be careful on your evaluation, if you remove all the blocking calls (asnumpy(), metric calculation, loss printing, etc) you could have the false impression that your trainin

[2018-05-29 21:38] ThomasDelteil commented on #10638
Agree with @zhreshold and @piiswrong proposed API. Also note that currently the error for case 2) is quite confusing, this should be improved to explain the incompatibility and point to the proper API call for fine-tuning.

[2018-05-29 21:45] ThomasDelteil commented on #11080
answered here, please close the issue and let's continue the discussion on the forum
https://discuss.mxnet.io/t/is-it-normal-that-mxnet-takes-up-much-more-gpu-memory-at-the-start-up/1134/2

[2018-05-29 21:59] ThomasDelteil commented on #11062
not that I am aware, you can specify which GPU to use by using `mx.gpu(i)` where `i` is your device index.

[2018-05-29 22:00] ThomasDelteil commented on #10269
@ShownX please consider closing if your issue is solved :+1:

[2018-05-29 22:02] ThomasDelteil commented on #10328
@zjuzuhe if your question has been answered, please consider closing the issue, thanks!

[2018-05-29 22:05] ThomasDelteil commented on #10529
@BenLag2906 it looks like your network didn't export properly, can you put the code of how you exported this network ? Thanks!

[2018-05-29 22:09] ShownX commented on #10269
@ThomasDelteil LOL, I am not the person who opened this issue :).

[2018-05-29 22:14] #10376 closed

[2018-05-29 22:15] piiswrong commented on #10376
fix merged

[2018-05-29 22:17] piiswrong commented on #9989
Closing
@samhodge Please reopen or file new issue if this is still unresolved

[2018-05-29 22:17] #9989 closed

[2018-05-29 22:22] piiswrong commented on #9838
The cause here is (1) vs (1,). (1) is just 1, which is not a tuple.

I think we should support shape=1. Basically check if shape is a integer then convert it to a tuple in Parameter.__init__

 @szha could you submit a fix?

[2018-05-29 22:23] piiswrong commented on #9822
@feevos FYI there is self.params.get_constant() now.

[2018-05-29 22:23] #9822 closed

[2018-05-29 22:27] piiswrong commented on #9767
@szha See https://stackoverflow.com/questions/45226950/what-does-arg-scope-actually-do
I think this would be useful although I'm not sure how it should be implemented

[2018-05-29 22:29] #10967 closed

[2018-05-29 22:31] ThomasDelteil opened #11091 "Symbolic .json file not compatible with .params file generated since MXNet 1.2"
Since `MXNet 1.2.0` one possible way of serializing Gluon models is not working anymore.

Reproducible here:

[code]

Gives the following error:
[code]

Whilst it worked in `1.1.0`.

This way of exporting symbol is recommended in [this tutorial on the straight dope](https://gluon.mxnet.io/chapter07_distributed-learning/hybridize.html)

The current recommended way, as described in the upcoming tuto

[2018-05-29 22:38] piiswrong commented on #9644
fix merged

[2018-05-29 22:38] #9644 closed

[2018-05-29 23:39] anirudhacharya commented on #9971
@jwfromm The above issue should not exist in the current mxnet v1.2 release. Please reopen the issue if it persists.

@marcoabreu please close this issue

[2018-05-29 23:51] ThomasDelteil commented on #10223
@dl002 indeed the makefile wasn't correct, it wasn't pointing to the right MXNet root.

[2018-05-30 01:06] anirudhacharya commented on #10754
https://github.com/apache/incubator-mxnet/pull/10780

[2018-05-30 01:06] #10754 closed

[2018-05-30 01:09] #9971 closed

[2018-05-30 01:10] anirudhacharya commented on #9762
@zheng-da this issue has been addressed, can you please close this issue

[2018-05-30 01:19] #9762 closed

[2018-05-30 01:19] #10663 closed

[2018-05-30 01:54] huyangc commented on #11089
Thanks. Maybe I am wrong of the memory copy time consuming. Because the 100k floats are only 0.4M, Maybe calculating on the cpu hurt the performance.

[2018-05-30 01:55] #11057 closed

[2018-05-30 01:55] #11089 closed

[2018-05-30 02:13] liuzx32 opened #11093 "Some wrong with mxnet on spark: params.jars = jars.split(",|:")"
The method setExecutorJars in org.apache.mxnet.spark.MXNet.scala has 'params.jars = jars.split(",|:")' sentence. If the jars from s3://path or hdfs://path, there will be wrong jar path, for example s3 or hdfs or others. Perhaps 'params.jars = jars.split(",")' is recommended.

[2018-05-30 03:00] #11080 closed

[2018-05-30 05:52] xinyu-intel commented on #11086
This change aims to align Caffe's [MobileNet](https://github.com/shicai/MobileNet-Caffe/blob/master/mobilenet_deploy.prototxt) model.

[2018-05-30 06:19] szha commented on #10875
https://github.com/apache/incubator-mxnet/issues/9686#issuecomment-387964643 I included the eventual solution in this comment

[2018-05-30 13:42] chinakook commented on #9765
Ubuntu 18.04/Gcc7/cuda9.2 also has this problem when using make, but it’s no problem with cmake.

[2018-05-30 14:32] chinakook commented on #10789
To get the shape of symbol is very important in some condition. It can be done as following:
x=mx.sym.var(‘data’, shape=(1,3,224,224))
y=resnet50(x)
_, yshape, _ = y.infer_shape_partial()

However, It’s difficult to get shape of a tensor or to define dims of weights according to shape of a tensor in HybridBlock in gluon.

[2018-05-30 14:46] chinakook commented on #11086
Flattern is just OK. It’s not bug.

[2018-05-30 14:50] chinakook commented on #11091
Using a module to save_checkpoint or gluon’s export would be OK. Getting mixed with Gluon’s save and Symbol’s save is so bad.

[2018-05-30 15:24] pwn1 opened #11098 "Installation instructions MacOS/R/CPU don't work."
## Description
(Brief description of the problem in no more than 2 sentences.)

Doing the installation exactly as indicated on the website does not work -- fails with 404 Not Found error.

## Environment info (Required)

----------Python Info----------
('Version      :', '2.7.15')
('Compiler     :', 'GCC 4.2.1 Compatible Apple LLVM 9.1.0 (clang-902.0.39.1)')
('Build        :', ('default', 'May  1

[2018-05-30 16:00] JeanKossaifi opened #11099 "Fancy indexing with a list instead of a tuple"
Currently, MXNet's fancy indexing will fail when indexing with a list rather than a tuple (while it works with NumPy or PyTorch).

Minimal example to reproduce the issue:

[code]

[2018-05-30 16:03] jakobetzel commented on #10791
@jeremiedb I do apologise, I was trying to install on Ubuntu. Sorry for inconveniences.

[2018-05-30 16:30] lebeg opened #11100 "Installation instructions for Windows don't work"
In the [Installing MXNet in Windows](https://mxnet.incubator.apache.org/install/windows_setup.html) instructions there is a paragraph:

Unpack the package into a folder, with an appropriate name, such as D:\MXNet.
Open the folder, and install the package by double-clicking **setupenv.cmd**. This sets up all of the environment variables required by MXNet.
Test the installation by opening the provid

[2018-05-30 17:52] reminisce commented on #11099
Thanks for reporting this. There are some concerns about inconsistent indexing behavior using lists in the numpy world.
https://github.com/numpy/numpy/issues/4940
https://github.com/numpy/numpy/issues/6564
That's why we don't want to introduce this kind of inconsistency into mxnet. From those threads, you can see that it's encouraged to avoid using lists in numpy, so as in mxnet.

[2018-05-30 18:59] #10203 closed

[2018-05-30 20:40] reminisce commented on #11079
You can call the operators explicitly: `mx.nd.logical_and(a, b)` and `mx.nd.logical_or(a, b)`. GPU is supported.

[2018-05-30 21:04] reminisce commented on #11032
My guess is that some operator's shape inference logic is not complete. You mentioned it can be loaded by another version MXNet, which version is that? If possible, can you provide the sym file?

[2018-05-30 21:44] KaiserSozo opened #11101 "Gluon Performance and memory conumption"
Working under gpu, I have next code:

for i, (data) in enumerate(trainingInputs):
                calcT = time.time()
                data = data.as_in_context(ctx)
                output, win_index, delta, mask = netSom(data)
                calc += time.time() - calcT
                copyT = time.time()
                weightsData = weights.data()
                ratesData = rates.data()

[2018-05-30 22:09] #10277 closed

[2018-05-30 22:18] szha commented on #9686
#10807

[2018-05-30 22:39] anirudhacharya commented on #11098
can you try the following link - ``install.packages("https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/CPU/mxnet.zip", repos = NULL)``

@eric-haibin-lin please label this - "R", "Installation"

[2018-05-30 22:45] anirudhacharya commented on #11093
@nswamy

[2018-05-30 22:57] haojin2 opened #11103 "Problem with test_contrib_io.test_contrib_DataLoaderIter"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10931/11/pipeline/719

======================================================================

ERROR: test_contrib_io.test_contrib_DataLoaderIter

----------------------------------------------------------------------

Traceback (most recent call last):

  File "/usr/local/lib/python3.5/dist-packages/nose/ca

[2018-05-31 00:45] szha commented on #9767
Seems doable with decorators and scope.
http://code.activestate.com/recipes/577382-keyword-argument-injection-with-python-decorators/

With this solution, we'd need to decorate every constructor in Gluon.nn/rnn though.

[2018-05-31 03:39] HyperGroups commented on #11032
@reminisce  I've add the [model link]

In this method[here](MachineLearning/mxnet/python/1.0/script/wolfram_v1/wolfram.lstm.py), manually set some states params,

[code]

[2018-05-31 03:43] HyperGroups commented on #11032
@reminisce  I've add the [model link]

In this method[here](https://github.com/HyperGroups/MachineLearning/blob/master/mxnet/python/1.0/script/wolfram_v1/wolfram.lstm.py), manaually set some states params,

[code]

[2018-05-31 07:38] hanalice commented on #719
@mli I exec make clean_all first, than make -j 32 USE_DIST_KVSTORE=1  USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1, after compiled, cd python, exec pip install -e .
I have done all of above, but the ‘mxnet.base.MXNetError: [17:13:44] src/kvstore/kvstore.cc:41: compile with USE_DIST_KVSTORE=1 to use dist’ still shows. Did I miss anything?

[2018-05-31 08:19] pwn1 commented on #11098
Thanks for quick response.
Here's the output:

trying URL 'https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/CPU/mxnet.zip'
Content type 'application/zip' length 29016598 bytes (27.7 MB)
==================================================
downloaded 27.7 MB

Error in install.packages : type == "both" cannot be used with 'repos = NULL'

[2018-05-31 08:51] hanalice commented on #3611
@darshanmaiya @mli I have exec "make -j 32 USE_DIST_KVSTORE=1  USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1", why opt/mxnet/log file has no “-DMXNET_USE_DIST_KVSTORE” param? what can cause to this?

[2018-05-31 09:19] JeanKossaifi commented on #11099
Good point!

For the sake of user friendliness, would it be worth either accepting the list and throwing a warning or raising an informative error (just suggesting the user to use tuples)? Can be tricky to track down the source of the error otherwise :)

[2018-05-31 13:14] myme5261314 opened #11108 "Seems the gperftools-devel and jemalloc-devel wouldn't be detected correctly on rhel(Redhat Enterprise Linux)"
https://github.com/apache/incubator-mxnet/blob/2dbd143e4892bb9ad4aa1835c79f0046603e3531/Makefile#L221

Refer to the mxnet Makefile above, the search paths for gperftools-devel and jemalloc-devel are under `/lib`/`/usr/lib`/`/usr/local/lib`.
But gperftools-devel and jemalloc-devel package installed via yum will place the dynamic library files into **`/usr/lib64`**

TL,DR;
As the title said.

[2018-05-31 16:12] lebeg commented on #10230
Actually, if someone faced a similar problem on other platforms, like armv7 RPi try installing: ` sudo apt install llvm-dev`

[2018-05-31 16:26] justanotheruser opened #11111 "Custom linear regression diverges on simplest example, but built-in LinearRegression does not"
I'm trying to implement some custom loss layer, but I found that I can't make work even simplest custom linear regression layer with simplest model. I want to make conv net with one layer that accepts RGB image (entirely blue, green or red) and outputs it.
This is my custom operator code:
[code]
This is my model:
[code]
When I replace last line with commented out lines, SGD converges. With custom

[2018-05-31 18:31] anirudhacharya commented on #11074
@maybepossible questions are better asked here - https://discuss.mxnet.io/ you will get wider audience.

@nswamy please label this - "Question", "Edge Devices"

[2018-05-31 19:03] hetong007 commented on #11019
When trying to reproduce, I got the following error message:

[code]

Is it something to be expected?

[2018-05-31 19:43] zhanghang1989 commented on #11019
@nttstar mentioned using the option `--version--output A` can converge. The default network option is `E`, which fails to converge using Gluon.

[2018-05-31 20:19] hetong007 commented on #11019
I'm trying to observe the non-convergence, but the error message is not mentioned. I'd like to know if they are two separate issues, or directly related.

[2018-05-31 21:38] imgemp opened #11115 "ReLU Clips NaNs to Zero"
## Description
In tracking down a bug, I found that the relu in mxnet.ndarray clips NaN’s to zero. Ideally, I would think the relu should propagate NaN’s so that bugs are not “covered up” for downstream operations.

## Environment info (Required)
mxnet version ‘1.2.0’
numpy version ‘1.14.3’

[code]

Package used (Python/R/Scala/Julia):
I'm using Python version 3.6.5

Compiler (gcc/clang/mingw/visu

[2018-05-31 22:22] jonomon opened #11116 "Image resize transforms causes negative values and values greater than 255"
In my dataset, I performed two resize operations on the images. The first one is during data creation using cv2.resize and the second resize operation on the nd.array (using resize_short from mxnet.image or Resize from mxnet.gluon.data.vision.transforms).

After the second resize operation, values in the image can be lower than 0 or greater than 255.

Attached is a python script to demonstrated th

[2018-05-31 22:59] reminisce commented on #11099
Good suggestion! We will make the error message clear and informative.

[2018-06-01 02:17] nttstar commented on #11019
@hetong007 They're the same issue. This error msg means the network fails to converge at that time so the output embedding layer has illegal values. Training acc is also decreasing.

[2018-06-01 04:51] lanking520 commented on #10866
Sorry for the late reply, will start looking this today.

[2018-06-01 05:02] feevos opened #11119 "Feature request: please speed up asnumpy()"
Dear all,

I am trying to visualize some predictions from an NN run so I need to use ```asnumpy()``` to get ```imshow``` visualizations. For an ```nd.array``` of size 3000x3000  ```(ctx=mx.cpu())``` this takes forever.  In contrast the function ```nd.argmax(some_array_6X3KX3K)``` for some nd.array of shape (6,3000,3000) runs instantly. Surely the ```asnumpy()``` operation can be done much much fas

[2018-06-01 05:09] reminisce commented on #11119
That doesn't sound like a problem of `asnumpy()` itself. More likely, something is wrong in the upstream. Are you saying it's never ending or it just took too much time than expected? I tried on my laptop of calling `asnumpy()` on a 3000x3000 matrix and it's lightning fast. It would be helpful if you could paste the source code here for further analysis.

[2018-06-01 05:50] reminisce commented on #11119
After looking through the script, I feel it's not the problem of `asnumpy()`. The mxnet operators are async functions in python, which means they may be still running in backend (C++) while python main thread moves to other steps. I suspect that the bottleneck is in the nested loops where ndarray slicing and slicing with assignment are triggered frequently. You can use `tpreds.wait_to_read()` to s

[2018-06-01 05:58] feevos commented on #11119
Thank you @reminisce  I will try what you suggested and get back here, but I have a question. How is it possible for the ```tpreds_use = nd.argmax(tpreds,axis=0)``` to be performed and complete while the other operations are still running?

[2018-06-01 06:18] eric-haibin-lin commented on #11071
are you using gluon or symbols? Did you try mxnet master or pip install --pre? We just fixed some memory issues a few weeks ago https://github.com/apache/incubator-mxnet/pull/10847

[2018-06-01 06:40] reminisce commented on #11119
Can you make sure that `nd.argmax` is complete by adding code
[code]
after it? It is possible that the memory allocation is done for the output while the content of the output is not ready to read.

[2018-06-01 07:05] RogerChern commented on #9686
fix_gamma=False for mxnet.symbol.BatchNorm

[2018-06-01 07:13] feevos commented on #11119
Hi @reminisce, you are right. ```wait_to_read()``` takes a long time, after the nested for loops are finished. So the problem is in the nested for loops. Thank you very much, am closing the topic.

[2018-06-01 07:13] #11119 closed

[2018-06-01 07:42] marcoabreu opened #11120 "Address already in use during tutorial test"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10656/7/pipeline/

[code]

Possibly related to hardcoding ports.

[2018-06-01 07:42] marcoabreu commented on #11120
@ThomasDelteil

[2018-06-01 09:42] ElegantGod opened #11121 "ssd inference bug"
In SSD inference, the anchor and step-size (width, height) is changed by the original image size, which is Contrary to full convolution idea. In caffe-ssd, the anchor and step-size are fixed, which is the right disign.

[2018-06-01 10:37] juliusshufan opened #11122 "Loss value is always "nan" when using gluon vision models training CIFAR10 after model is hybridized."
## Description
I am drafting a training script based on the example/gluon/image_classfication.py, and the script can be found https://github.com/juliusshufan/mxnet/blob/master/gluonmodel/image_classification.py
The major changes is I am trying to get the loss value (cross-entropy loss for this case) during training. (see line 30 and 246), but the reported loss value is always nan.

However, if I s

[2018-06-01 14:31] vuvko commented on #11121
This issue was discussed in https://github.com/zhreshold/mxnet-ssd/issues/156
It's "parent" repository to code in examples.

[2018-06-01 14:31] vuvko commented on #11121
TL;DR; author wanted to leave as it is for backward compatibility

[2018-06-01 15:23] ThomasDelteil commented on #11120
I tracked this issue for a while, still not sure of why it is happening. My first guess was that the previous notebook run didn't clear the socket in time for the next run.

I added a delay between each notebook run which should have been plenty of time for socket to be released.

I'll do some more digging.

@marcoabreu, how many containers are running per instance concurrently? only one right?

[2018-06-01 15:29] ElegantGod commented on #11121
Thank for you reply.

 In python vision, I can fix the input size of inference equal to the input size of training by using "self.mod.bind(data_shapes=[('data', (batch_size, 3, data_shape, data_shape))])", which can generate the result close to truth.

But in c++ version,  I only use "simple_bind" function to generate the executor, the shape of executor.data is the shape of input image.

OK, my En

[2018-06-01 16:30] marcoabreu commented on #11120
They are running concurrently. We got up to 4 containers in parallel.

[2018-06-01 17:08] ThomasDelteil commented on #11120
The ports are already random, but I don't know whether it checks for availability. I think the issue could be that the ports are not released and rarely but sometimes it happens to try to reuse the same random port.

I have also seen a 'linger=1000', which could mean that the port might be still taken 1s after closing, so ugprading the delay between notebook to 1.1 from 0.5 could also solve the is

[2018-06-01 17:43] marcoabreu commented on #11120
I'm not a fan of the delay in between notebooks anyways because it masks a problem. I'd propose that we now remove the delay entirely and track down all the issues coming from that. Otherwise, we're flaky and depend on timing.

[2018-06-01 17:49] ThomasDelteil commented on #11120
the `linger` variable is hard coded in the `kernelapp.py`, if we don't want to use this technique then we need to assign deterministic port that are different from each other and update the config file of the python notebook between run.

[2018-06-01 18:32] marcoabreu commented on #11120
I think that's what we should do. In general, this is required to prepare the path for parallel execution.

[2018-06-01 20:48] gigasquid commented on #8971
Update: The scala jars have been published to Maven (yay!) - I've created up a repo for testing of the Clojure package and getting feedback before opening a formal PR https://github.com/gigasquid/clojure-mxnet.

Please feel free to give it a test drive and let me know in issues any problems you have 😸

[2018-06-01 22:27] BELZHANG opened #11125 "mxnet 1.2.0 GPU error"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-06-01 23:56] szha commented on #11125
Could you upgrade the nvidia driver to 396.26?

[2018-06-02 04:52] rachelmint commented on #11071
Hi eric,
Thanks for your reply.
I am using symbols now and I use mxnet master but I installed it a while ago. I will try the newest version and will give an update.

[2018-06-02 06:52] #10866 closed

[2018-06-02 13:39] vuvko commented on #11121
In C++ you can provide NDArray with specific shape as part of ``args`` parameter. But you need to create this array beforehand.

[2018-06-02 16:34] onlyphantom commented on #10791
@jeremiedb any chance you have a pre-built binary package of mxnet for R 3.5.0 for Mac / Linux folks? Been trying everything else so am a little desperate now. Thanks in advance!

[2018-06-02 17:02] onlyphantom commented on #11098
Wondering if anyone got it to work on R 3.5.0 on mac OS? The lack of responses or support for mac / linux users is concerning

[2018-06-03 04:13] adaaaaaa opened #11131 "mxnet-cu92 low efficiency"
![cu92](https://user-images.githubusercontent.com/23206387/40883010-8440432c-6725-11e8-893d-8ce7cc9947ab.png)
使用mxnet-cu91版本的时候内存占用会高很多到5899M，但是耗时更短只要381秒左右。。。而且使用率也高很多，接近99%
跑的是vgg-gluon的教程。。。

[2018-06-03 13:05] kgbook commented on #1161
the same issue, the latest scikit-image  installed but ImportError.

[2018-06-03 19:32] szha commented on #11131
what are the versions you used for the two packages?

[2018-06-03 23:01] BELZHANG commented on #11125
HI, @szha
my graphics card is a gtx 1080, so the newest driver I can find is 390.59, I tried this and it gives me the same error.
Thank you!

[2018-06-03 23:57] adaaaaaa commented on #11131
cu91是1.2beta，cu92是6月2号的版本 @szha

[2018-06-04 00:15] BELZHANG commented on #11125
OH, I uninstall my manually installed Nvidia driver (.run file) and install the driver using Linux additional drivers(396.24) and it finally works.

[2018-06-04 00:15] #11125 closed

[2018-06-04 00:36] szha commented on #11131
The latest should be 396.26 now.

[2018-06-04 00:36] szha commented on #11131
for cu92, could you try the same version as cu91 and see if the speed is comparable?

[2018-06-04 01:27] lu4 opened #11133 "Manipulating nn.Dense(...) layer parameters"
I'm trying to implement my own optimization algorithm for MxNet (Imperative / Gluon) that does not rely gradients. My question is pretty simple is there a simple way to create new `nn.Dense(...)` layer initialized with parameters (i.e. Biases and Weights) represented by just two nd.array() instances?

Thank you in advance!

[2018-06-04 07:14] anirudhacharya commented on #11098
@onlyphantom @pwn1  I was able to build the R bindings from source and the created tar is [here](https://github.com/anirudhacharya/MLProjects/blob/master/mxnet_1.3.0.tar.gz)
you can install it using the command ``R CMD install mxnet_1.3.0.tar.gz``

You can check [this page](https://github.com/jeremiedb/mxnet_winbin) for installing binaries for Windows.

[2018-06-04 07:22] anirudhacharya commented on #11100
@sandeep-krishnamurthy please label this - "Windows", "Installation"

[2018-06-04 07:27] anirudhacharya commented on #11079
@BeethovenVirus please consider posting your questions here - https://discuss.mxnet.io/

@reminisce please label this - "Question", "NDArray"

[2018-06-04 07:29] anirudhacharya commented on #11085
@nihilityworld questions are to be directed here - https://discuss.mxnet.io/

@sandeep-krishnamurthy please label - "Windows", "Build"

[2018-06-04 07:42] anirudhacharya commented on #11115
@reminisce please label this - "Bug", "Operator"

I see that this behavior is not found in other activation functions such as - ``nd.sigmoid(np.NaN*nd.ones(1))``, ``nd.softmax(np.NaN*nd.ones(1))``, ``nd.tanh(np.NaN*nd.ones(1))``

[2018-06-04 08:01] anirudhacharya commented on #11086
@nswamy  please label - "Question", "Operator"

[2018-06-04 09:48] lebeg opened #11136 "ONNX tests are failing frequently"
## Description

As far as I can tell the tests are trying to access an S3 bucket. This lowers the robustness of the CI verification tests suite.

## Environment info

[Jenkins PR build](http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11053/8/pipeline)

## Error Message:

[code]

[2018-06-04 10:05] anirudhacharya commented on #11088
This example was broken in this PR - https://github.com/apache/incubator-mxnet/pull/9022

@jeremiedb can you please check.

@sandeep-krishnamurthy please label - "R", "Examples"

[2018-06-04 11:14] lynneChan opened #11137 "memory cost problem for different label width when using ssd example"
I am working on training face detectors using the code in example/ssd on the [WIDER](http://mmlab.ie.cuhk.edu.hk/projects/WIDERFace/) dataset, and i found some strange things.
If i use the all the labels and images for training(label width = 4784), the memory cost will be about 10367MB, but if i filter images and labels which number of labels is bigger than 100(label width = 602), the memory cost

[2018-06-04 14:36] jeremiedb commented on #11088
@kimiylilammi, could try using a more up to date version of Mxnet? V 0.10.1 is now somwhat dated. You can install 1.2 with: `install.packages("https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/CPU/mxnet.zip", repos = NULL)`, pre-built GPU version also available.

[2018-06-04 16:07] olga-gorun opened #11139 "MXNet prediction on docker image mxnet/python is much slower than outside docker container"
I experience significant performance decrease when running the test inside docker container built on mxnet/python:1.1.0 docker image.

The tests were done on AWS EC2 c5.xlarge  ubuntu 16.06 w/o mxnet/python:1.1.0 docker image, Docker version 18.03.1-ce, build 9ee9f40. Python version - 3.5, mxnet - 1.1.0, python-opencv - 3.3.0 (without docker, 3.4.1 - within docker)

These tests run prediction (onl

[2018-06-04 17:39] anirudhacharya commented on #11136
This CI run was 3/4 days ago. Can you please re-trigger the CI, other PRs are having a clean CI runs.

@nswamy please close this issue.

[2018-06-04 17:41] anirudhacharya commented on #11101
@nswamy please label this - "Gluon", "Performance", "Memory"

[2018-06-04 17:43] #9838 closed

[2018-06-04 17:46] anirudhacharya commented on #11133
@lu4 check here for resources on creating custom gluon layers - https://gluon.mxnet.io/chapter03_deep-neural-networks/custom-layer.html#Craft-a-bespoke-fully-connected-gluon-layer

@sandeep-krishnamurthy please label - "Gluon", "Question"

[2018-06-04 17:50] anirudhacharya commented on #11131
@szha please label this appropriately, and kindly consider translating the question to the non-Mandarin folks.

[2018-06-04 17:54] anirudhacharya commented on #11108
@sandeep-krishnamurthy please label - "Build",

[2018-06-04 17:58] #11136 closed

[2018-06-04 18:02] anirudhacharya commented on #11111
Refer this tutorial for creating custom operators - https://mxnet.incubator.apache.org/tutorials/gluon/customop.html?highlight=customop

Also consider posting your question here - https://discuss.mxnet.io

@sandeep-krishnamurthy please label - "Operator", "Question",

[2018-06-04 18:14] anirudhacharya commented on #11121
@sandeep-krishnamurthy label - "Bug", "Example"

[2018-06-04 18:54] ShownX opened #11141 "Transforms are not compatible with DownloadedDatasets"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-06-04 20:38] lu4 commented on #11133
@anirudhacharya please let me rephrase my question, since there were two parts to it:

**First part:**
**Problem:** It is hard to train large network. It's simpler to start with smaller layer size and incrementally increase the size along the training. In such way it will also reduce the chance of overfitting.

Motivation:  It's straightforward and safe to augment weight matrix for hidden layers w

[2018-06-04 21:06] anirudhacharya commented on #11139
@nswamy please add label - "Performance", "Docker"

[2018-06-04 21:10] anirudhacharya commented on #11077
RoiAlign was added in this PR - https://github.com/apache/incubator-mxnet/pull/10852 by @zhanghang1989 . can you take a look.

@sandeep-krishnamurthy please add label - "Operator", "Bug"

[2018-06-04 21:16] anirudhacharya commented on #11088
@jeremiedb the example fails with the latest master code too, at this line - https://github.com/apache/incubator-mxnet/blob/master/example/rnn/bucket_R/aclImdb_lstm_classification.R#L54 as initializer is not defined. It was changed here - https://github.com/apache/incubator-mxnet/pull/9022/files#diff-4b1642520fb1d852c2a007d2ae3a68e3L29

[2018-06-04 21:19] piiswrong commented on #11141
It's not supposed to work that way. You need to use a lambda

[2018-06-04 21:20] anirudhacharya commented on #11091
@nswamy please label - "Breaking","Bug", "Gluon"

[2018-06-04 21:23] anirudhacharya commented on #11137
@sandeep-krishnamurthy please label - "Memory", "Example", "Question"

[2018-06-04 21:29] anirudhacharya commented on #11122
@sandeep-krishnamurthy please label - "Gluon", "Example", "Modelling"

[2018-06-04 21:36] zhanghang1989 commented on #11077
I am following up this issue, will fix it soon.

[2018-06-04 21:42] anirudhacharya commented on #11116
@nswamy please add label - "Data-loading"

[2018-06-04 21:46] ShownX commented on #11141
Hmm..., I do not think it is a good idea to use lambda or another function to do the data augmentation since there is transform functions. Can I ask what is the reason to keep difference? I think the customer would get confused and frustrated when using this features.

[2018-06-04 21:57] ThomasDelteil commented on #11091
One way I think we could fix that issue would be to have by default `save_params(filename, format='named_params')`
And an option to have save_params(filename, format='numbered_params') or something like that that use the new behaviour. And switch the default behaviour in `2.0.0`
What do you think @piiswrong  ?

[2018-06-04 22:21] szha commented on #11141
I labeled the issue this way as I think we should eventually get rid of the redundant `transform` argument in datasets.

[2018-06-04 22:22] szha commented on #11122
cc'd @hetong007

[2018-06-04 22:24] szha commented on #9686
#11141

[2018-06-04 22:25] szha commented on #9686
#11134

[2018-06-04 22:28] szha commented on #11079
@reminisce these operators cannot perform intersection or union. Intersection and union require variable length output. @zheng-da

[2018-06-05 00:02] anchen1011 opened #11144 "Save/Load Model?"
Will there be an API for saving and loading models in the future?
It was brought up in #6951 but not actually considered carefully.

Currently we have only:
1. Save/Load checkpoints, which is epoch-dependent
2. Save/Load params, which is not exactly save/load models, and is very unstable cross versions

Thanks!

[2018-06-05 06:46] mjmg commented on #8974
@xinyu-intel Thanks for clarifying my issue/question.

I have now used Intel MKL yum repo to fine tune the packages to be installed needed by MXnet instead of downloading everything as tar.gz.

https://software.intel.com/en-us/articles/installing-intel-free-libs-and-python-yum-repo
`sudo yum-config-manager --add-repo https://yum.repos.intel.com/mkl/setup/intel-mkl.repo`

For the record, using the

[2018-06-05 09:00] Pablitov commented on #6015
I have the same problem. Should I downgrade to R 3.something?

[2018-06-05 11:41] HuichuanLiu opened #11149 "Unreasonable performance of resnext models provided in model_zoo, evaluated by score.py"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-06-05 12:40] HuichuanLiu commented on #11149
I take a look at the symbol.json file from [model_zoo](http://data.dmlc.ml/models/imagenet/resnext/101-layers/resnext-101-64x4d-symbol.json), it looks very different from the original paper.
In my understanding, the resNeXt feeds every path with the same input then the elemwise_add is conducted cross all 32 paths/units and after that the residuals are finally involved. As the figure shows
![image]

[2018-06-05 13:38] Feywell opened #11150 "Hope for adding sample about mx.rnn.ConvGRUCell()"
I need to use `ConvGRU `(symbol interface) to complete a task.
But I just learn to use `contrib.rnn.Conv2DGRUCell` . How can I use the interface  `mx.rnn.ConvGRUCell()`([code](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/rnn/rnn_cell.py))?

** my code detail：**
[code]
**error like following:**
[code]

[2018-06-05 15:29] larroy commented on #10945
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11138/1/pipeline

[2018-06-05 17:26] lanking520 commented on #11093
@yzhliu @nswamy @@andrewfayres .I think we need to build regex to identify these different formats, will start a PR and try if I can solve that. @nswamy can you label this as Scala and bug in here?

[2018-06-05 18:56] hetong007 opened #11156 "mx.nd.topk does not work with ndarray of type float16"
Maybe there are some operators don't work well on some data types, but I just encountered the `float16`-`topk()` pair, didn't run a full scan of all possibly broken pairs.

The following is a few lines of code to reproduce it, including the error message:

[code]

## Environment info (Required)

[code]

[2018-06-05 19:11] ThomasDelteil opened #11158 "MXNet Docker image up to 4x slower than pip installed version"
Currently this docker image builds of mxnet are running up to 4x slower than running the same code outside of docker using the `pip install mxnet` package.

**outside of docker using `pip install mxnet`**
[code]

**in docker using `mxnet/python:1.2.0_cpu`**
[code]

This is likely due to the fact that the docker images are built from source, using non-optimized version of opencv and openblas.

The

[2018-06-05 19:15] mbaijal commented on #11158
This is a known issue and I will be working on this in the coming weeks.

[2018-06-05 19:26] olga-gorun commented on #11139
This issue was discussed on the forum, see https://discuss.mxnet.io/t/mxnet-prediction-on-docker/1172

As a result new issue was open:  #11158. So this one can be closed.

[2018-06-05 19:26] #11139 closed

[2018-06-05 20:19] zhreshold opened #11160 "mx.nd.zeros/ones don't recognize cpu_shared as context"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-06-05 21:35] eric-haibin-lin commented on #11156
@haojin2 @rahul003

[2018-06-05 21:42] eric-haibin-lin opened #11161 "Conv1D is slow"
The Conv1D block uses MXNet's implementation for Convolution, because CUDNN only implements 2-D convolution. In the operator, we can try to optimize the performance by reshaping the inputs to 4D, and kernels to 2D, so that CUDNN kernel can be used.

[2018-06-06 00:11] eftiquar opened #11163 "Deadlock in LibMxNet.dll during unload due to synchronization call in destructor"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-06-06 00:15] thomelane commented on #11133
Hi @lu4,

You can create a clone of your network, and then make adjustments during the copy. If you're using a Sequential Block as a container for your network, you could create another Sequential Block and add all of the layers from one network to the other, which would save redefining the network. You would make changes to the necessary layers before adding them to the new Sequential Block.

As

[2018-06-06 00:45] pengzhao-intel commented on #11161
In our local case, it can be 10x faster :) We can provide the PR for CPU side @jinhuang415

[2018-06-06 01:48] eric-haibin-lin commented on #11161
That will be great!

[2018-06-06 02:02] pengzhao-intel commented on #10809
@dwSun I suggest starting a new thread. From the log, don't see anything related MKL-DNN.

[2018-06-06 02:11] wikier commented on #11091
SGTM

[2018-06-06 06:52] juliusshufan opened #11164 "Python test failure on newly-introduced python test cases introduced in test_gluon.py"
## Description
This issue is used to tracked the bugfix for recently added python test cases on gluon nn layer.
As the bugfix is WIP, the failed cases will be tmporarily skipped.

Once the bugfix is done, the test cases will be re-enabled accordingly.
(See https://github.com/apache/incubator-mxnet/pull/10921 for the PR introduing the new test cases)

## Environment info (Required)
CentOS 7.2
[code

[2018-06-06 09:04] solin319 opened #11165 "ImageIter much slower than ImageRecordIter"
We use ImageIter to read jpg files,.
batch_size was set to 512.
MXNET_CPU_WORKER_NTHREADS set to 48
It use about 0.35s per batch.
But it only use about 0.0618s per batch when we use ImageRecordIter to read rec file.

Why ImageIter is too slow?
Does too many augmenters called in python affect this speed?
Does MXNet has an interface can do all the task include read,decode,resize,crop,tanspose,rgb_me

[2018-06-06 16:31] AugustinasMK opened #11168 "Python failure on mod.bind()"
## Description
Index type must be set for one_hot operator, but I do not find where or how to set it.

## Environment info (Required)
----------Python Info----------
Version      : 3.6.5
Compiler     : GCC 7.2.0
Build        : ('default', 'Apr 29 2018 16:14:56')
Arch         : ('64bit', '')
------------Pip Info-----------
Version      : 10.0.1
Directory    : /home/augustinas/anaconda3/envs/mxnet/l

[2018-06-06 16:44] lanking520 commented on #11103
@haojin2 @eric-haibin-lin It seemed this issue came from download. Is there any way we can resolve that?

[2018-06-06 16:44] lebeg commented on #10837
The missing fortran compiler was [added](https://github.com/dockcross/dockcross/pull/228) to dockcross.

[2018-06-06 17:27] ThomasDelteil opened #11171 "Flaky test: test_gluon.test_hybrid_static_memory_switching"
test_gluon.test_hybrid_static_memory_switching

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11024/6/pipeline/

[code]

[2018-06-06 17:30] ThomasDelteil opened #11172 "Flaky test: test_io.test_LibSVMIter"
test_io.test_LibSVMIter

Download issue, we really need to implement retries on test_utils.download()

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10524/7/pipeline/

[code]

[2018-06-06 17:31] yzhliu commented on #11093
An alternative is to let users use quotation mark. string in quotations should never be split: `"s3://path":"hdfs://path"`

[2018-06-06 17:33] ThomasDelteil opened #11173 "Flaky test: test_deformable_convolution_options"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/919/pipeline/
[code]

[2018-06-06 17:46] ThomasDelteil opened #11176 "Failed to find any forward convolution algorithm."
See this test failing: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/915/pipeline/

with
[code]

I have encountered this in the wild very rarely too.

[2018-06-06 17:57] lanking520 commented on #11072
@sandeep-krishnamurthy I have raised an discussion and propose a solution for this

[2018-06-06 18:06] marcoabreu commented on #11164
Please add a link to the PR we were talking about to give some context

[2018-06-06 18:07] marcoabreu commented on #11176
@DickJC123

[2018-06-06 18:09] RoacherM opened #11177 "mxnet.base.MXNetError"
l want to put two networks together. Resnet and inception worked well,while i changed resnet to desnet,i didn't work and i got the error like below:

Traceback (most recent call last):
  File "D:/py_codes/dog_cat/features.py", line 47, in <module>
    out = net(fear1,fear2).as_in_context((mx.gpu()))
  File "C:\Python_3.6.2\lib\site-packages\mxnet\gluon\block.py", line 481, in __call__
    out = se

[2018-06-06 18:38] lanking520 commented on #11056
I have created a JIRA ticket for this: https://issues.apache.org/jira/browse/MXNET-524.

[2018-06-06 18:46] lanking520 commented on #11048
Hi @xinyu-intel , could you provide your openCV version on your computer?

[2018-06-06 18:47] lanking520 commented on #11023
Any updates?

[2018-06-06 19:16] ThomasDelteil commented on #11144
If your model is hybridizable, and you want to shelf it for a while, the recommended way would be to use `.export('prefix', epoch=0)`.
That way you can reload it later in a symbol block, or in a different language binding altogether.

If you are iterating with your model, the recommend way is `save_params/load_params` for the parameters, and save the model definition file in a `.py` file or simply

[2018-06-06 19:38] lanking520 commented on #10995
@chinakook do you think it is a good idea for us to depreciate contrib.ctc_loss and use WarpCTC since these two are similiar?

[2018-06-06 20:17] lanking520 commented on #11093
Hi @liuzx32 , the jars will be used in this way:
[code]
It seemed we cannot directly place S3 or HDFS paths in here. So It's not necessary to initiate this change.

[2018-06-06 21:36] marcoabreu commented on #11177
Hello @RoacherM, could you please paste your code? It seems there seems to be a problem with your network design.

Additionally, I'd like to refer you to our user discussion forum at https://discuss.mxnet.io/ where you'll find additional help from other users.

[2018-06-06 21:41] zhreshold commented on #10824
The script ran on latest master with no problem.
But I don't think it's related to gluon dataloader, but mkl in 1.1.0?

[2018-06-06 23:49] RoacherM commented on #11177
hello,@marcoabreu  .My network design is here:
class ConcatNet(nn.HybridBlock):
    def __init__(self,net1,net2,**kwargs):
        super(ConcatNet,self).__init__(**kwargs)
        self.net1 = nn.HybridSequential()
        self.net1.add(net1)
        self.net1.add(nn.GlobalAvgPool2D())
        self.net2 = nn.HybridSequential()
        self.net2.add(net2)
        self.net2.add(nn.GlobalAvgPool2D())

[2018-06-06 23:59] marcoabreu commented on #11177
Right at the top you are using 2D pooling but the network expects at least 3D.

[2018-06-07 00:29] xinyu-intel commented on #11048
@lanking520 Hi, here is the build log: `g++-5 -std=c++11 -DMXNET_USE_OPENCV=1 -I/usr/local/Cellar/opencv/3.4.1_5/include/opencv -I/usr/local/Cellar/opencv/3.4.1_5/include`, seems opencv 3.4 comes from homebrew.

[2018-06-07 00:38] chinakook commented on #10995
Yes, that's a good idea. Cudnnctc should be added too.

[2018-06-07 06:38] lanking520 commented on #10995
@szha Thank you. So I think we shouldn't abandon this one, as it is native to MXNet. Here is the JIRA ticket https://issues.apache.org/jira/browse/MXNET-526.

[2018-06-07 11:58] marcoabreu commented on #10942
Duplicate of https://github.com/apache/incubator-mxnet/issues/10087

[2018-06-07 11:58] #10942 closed

[2018-06-07 12:30] AugustinasMK commented on #11168
Just use  this code snippet before mod.bind()
[code]

[2018-06-07 12:30] #11168 closed

[2018-06-07 12:49] chinakook commented on #11131
Are you using Linux?
Maybe the cu92 version is compiled with CMake(because it cannot be successfully built with GCC7/Makefile until now), while the cu91 version is compiled with Make.
CMake built MXNet on Linux will be **slower** than Make built one. I've found that a year ago.

[2018-06-07 14:35] srochel commented on #10988
We should make a focussed effort to resolve all flaky tests in Q3 2018.

[2018-06-07 14:37] srochel commented on #11016
@slitsey Would you be able to provide an example we can use to validate the requested feature?

[2018-06-07 15:56] TaoLv commented on #10809
fashion.py works well with master branch which is built with:
`make -j20 USE_OPENCV=1 USE_MKLDNN=1 USE_BLAS=mkl USE_PROFILER=1`
I will try mxnet-mkl 1.2 release and be back to you later.

[2018-06-07 16:36] lanking520 commented on #10596
Hi @Alexander-flyer @Lane565 , are you still facing the same issue? Can we close this issue?

[2018-06-07 16:37] aaronmarkham commented on #10087
Another set of failures here (2nd time in two days for two different PRs):
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11180/1/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11157/2/pipeline/

Coming up on two months for making some improvement, so can we disable this test in the meantime?

[2018-06-07 16:47] lanking520 commented on #11131
@nswamy Hi Naveen, can you label this as 'CUDA', 'Memory', 'Performance'.

@adaaaaaa Have you tried the proposed the solution? Still that slowʕ •ᴥ•ʔ ?

[2018-06-07 16:54] lanking520 commented on #11144
Thank you for submitting the issue! I'm labeling it so MXNet community members can help resolve it. @nswamy can you add 'Question', 'Disscussion' here?

[2018-06-07 16:58] lanking520 commented on #11149
Hi @HuichuanLiu , I think your problem is more like a question. Please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well. @nswamy can you add  'Question' tag to this issue?

[2018-06-07 17:00] larroy commented on #10708
why is the Jira ticket still open? https://issues.apache.org/jira/browse/MXNET-361

[2018-06-07 17:02] slitsey commented on #11016
@srochel @eric-haibin-lin I'm expecting behavior similar to the short program below:
[code]
which returns
[code]
This allows interpolation between a uniform distribution in the high-temperature limit and a greedy distribution with all probability mass on the most probable index in the zero-temperature limit. Starting with high temperature and decreasing throughout learning allows transitioning fro

[2018-06-07 17:17] lanking520 commented on #11150
Hi @Feywell , I think your problem is more like a question. Please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well. @nswamy  can you label this as 'Question', 'Example'

[2018-06-07 17:18] lanking520 commented on #11158
Hi @nswamy , can you label this as 'Performance' and 'Docker'

[2018-06-07 17:22] lanking520 commented on #11165
Hi @solin319 could you please provide more information about your system information and how you build the package or pip install? Please submit this question on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.

@nswamy can you add 'Question', 'Performance' tag on this issue?

[2018-06-07 21:07] nswamy commented on #11093
Not an issue at the moment and We will add a Feature Request to support jars from S3 and HDFS.

[2018-06-07 21:07] #11093 closed

[2018-06-07 22:04] sandeep-krishnamurthy opened #11192 "BatchNorm operator on GPUs are slow with channels_last"
[mx.sym.BatchNorm operator](https://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.BatchNorm) is considerably slower on GPUs with channels_last (axis=-1).

My understanding is that, with channels_first (axis=1) operator calls cuDNN implementation and with channels_last(axis=-1) MXNet has its own implementation.

[2018-06-07 22:32] #9611 closed

[2018-06-07 22:37] nswamy opened #11193 "Fix OpenCV 3.4.1 issue for Scala package for OSX"
Currently OpenCV@2 package along with Scala package seems to be failing due to an existing opencv version.
modify scala-package/dev/compile-backend.sh to use OpenCV3.4.1

For Q & A and discussion, please start a discussion thread at https://discuss.mxnet.io

## Description
(Brief description of the problem in no more than 2 sentences.)

## Environment info (Required)

[code]

Package used (Python/

[2018-06-07 22:59] megaSpoon commented on #6418
@Soonhwan-Kwon Could you do me a favor to give me guidance of drawing performance curve like you did?

[2018-06-08 01:04] marcoabreu commented on #11176
This is not CI related

[2018-06-08 01:38] glingyan opened #11195 "onnx do not support conv weight from symbol"
if weight is from another node
will raise exception
def _fix_channels(op_name, attrs, inputs, proto_obj):
    """A workaround for getting 'channels' or 'units' since onnx don't provide
    these attributes. We check the shape of weights provided to get the number.
    """
    weight_name = inputs[1].name
    if not weight_name in proto_obj._params:
        **raise ValueError("Unable to get channel

[2018-06-08 01:52] Feywell commented on #11150
@lanking520 Thanks for your reply! I know that is not a bug in MXNet. But I can not find enough documents of ConvRNN about MXNet implements.
Thanks for your help, again 😄

[2018-06-08 02:30] HuichuanLiu commented on #11149
@lanking520 Well, it is not a HOW TO question, but more like a potential Problem in the checkpoint or scoring process. There're very few extra codes and I'm like just cloned the project and run the given scripts.

[2018-06-08 03:38] #10596 closed

[2018-06-08 04:02] lanking520 commented on #11149
@HuichuanLiu Sorry for that. I do see you are using anaconda with MXNet 1.1.
Have you tried build from source using git?
Which Ubuntu machine are you using?
I will try to reproduce the problem you have using a Linux Instance.

[2018-06-08 04:29] HuichuanLiu commented on #11149
@lanking520 Right, I've tried mxnet-cu80 1.2.0(but from pip) and the result:
[code]

2. Will try to build from source later but it could take some time, like 2 days.

3. OS info : Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-62-generic x86_64)

Thanks for your help：-）

[2018-06-08 04:59] HuichuanLiu commented on #11149
@lanking520 Right, I've tried it with mxnet-cu80 1.2.0 from pip:
[code]

2. Will build from source later, but it takes some time

3. Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-62-generic x86_64)

Thanks for your help : )

[2018-06-08 05:18] anirudh2290 commented on #11163
Related to #8921 and #9271

[2018-06-08 05:41] lupesko commented on #11131
@lanking520 can you please add a translation of the issue? My putonghua is a bit rusty 😉

[2018-06-08 05:49] lanking520 commented on #11131
@lupesko
Content from the image:
Maximum CPU Consumption: 158.13   Average CPU Consumption: 109.02
Maximum CPU Usage: 100 Average CPU Usage: 89.76
Maximum temperature in core: 62 Maximum Core Frequency 1860
使用mxnet-cu91版本的时候内存占用会高很多到5899M，但是耗时更短只要381秒左右。。。而且使用率也高很多，接近99%
When I use mxnet-cu91 verion, the occupation for the memory can be up to 5899M, however time is great less, around 381 seconds..

[2018-06-08 06:53] lanking520 commented on #11149
Thanks for your test. I feel something tricky in here. Do you think the model provided have some issues? Just like you said, all configuration LGTM, but just some model super well and some of them super weird. Sounds like using dog-cat classifier to classify rocket. I will reach out to somebody who is working on MXNet model sever so we can test it over there, sounds good?

[2018-06-08 07:29] lupesko commented on #10529
@indhub can you please remove the label "Question" and add "Bug"? this seems like a bug report, not a question.

[2018-06-08 07:44] HuichuanLiu commented on #11149
Agree, and It might involve not only the symbol definition, the pretrain params and the training process, but probably mismatch between the model and the scoring procedure, like the preprocess?

FYI, I attempted to implement a gluon version resnext-101-64x4d based on the provided symbol file and restored param values from the provided checkpoint, this work ended at around acc=0.47+.  with preproce

[2018-06-08 08:14] indhub commented on #10529
@lupesko There isn't enough information to consider this a bug. That JSON file doesn't look normal. I would wait for the user to provide more information about the model and how it was exported.

[2018-06-08 08:36] BenLag2906 commented on #10529
Hi,
I give you my entire json file . In c++ it crashed, in python it's OK to launch CNN.

[yks_pose-symbol.zip](https://github.com/apache/incubator-mxnet/files/2083582/yks_pose-symbol.zip)

regards

`

[2018-06-08 11:12] absalama opened #11200 "Training Imagenet on AlexNet failed with corrupted JPEG format images"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-06-08 14:06] larroy commented on #10838
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11186/3/pipeline

[2018-06-08 15:22] aaronmarkham commented on #10988
I think I hit this same issue.

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11157/5/pipeline

[2018-06-08 15:30] aaronmarkham opened #11202 "Flaky test Python 3: Win: test_operator.test_gru_bidirectional"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11191/2/pipeline

Not much in the error output:

[code]

[2018-06-08 16:23] thomelane opened #11203 "ConvTranspose2d giving incorrect output"
When applying ConvTranspose2d with stride and dilation, the output is incorrect.

Working through a simple example:

* Input Shape: 1x3x3
* Kernel size: 3x3
* Padding: Same (i.e.2x2 in this case)
* Stride: 2x2
* Dilation: 2x2

# Manual Calculation

![incorrect_trans2](https://user-images.githubusercontent.com/4902813/41142087-497e3348-6aa9-11e8-9a60-a465a5d07e8b.png)

# MXNet Output

We get a diff

[2018-06-08 17:28] lanking520 commented on #11149
Hi @HuichuanLiu Can you provide me the link where you download the model. There are too many model zoos in MXNet now

[2018-06-08 17:32] reminisce commented on #11079
@szha Oh right, I misunderstood the question. This should come with the feature of supporting dynamic shapes.

[2018-06-08 17:37] lanking520 commented on #8714
Hi @junxigauss are you still facing this issue?
@nswamy can you add this as 'Windows, 'installation'

[2018-06-08 18:10] lanking520 commented on #8694
@YeWenting are you still facing the same issue? It seemed this issue is more related to the package your are using. @nswamy can you add this as 'blas'?

[2018-06-08 19:41] leezu opened #11206 "Embedding(sparse_grad=True) + hybridization fallback issues"
With the mxnet master branch below code will fail. The combination of the following causes the failure:

- Use of Embedding(sparse_grad=True) + other operations in one HybridBloc
- Combining multiple forward passes during a single autograd record session

[code]

[code]

[2018-06-08 19:57] piiswrong commented on #11203
This does look like a bug. We should fix it with high priority

[2018-06-08 20:55] thomelane commented on #11203
@piiswrong Agreed, would be very hard to pick this up with non-trivial examples.
And could cause serious downstream effects in networks with upsampling.

[2018-06-08 22:39] hetong007 commented on #11122
`mx.metric.CrossEntropy()` assume the prediction is probabilistic, i.e. after softmax transformation.

Model from gluon doesn't have the softmax layer in the end. Please append `z` to `outputs` with `outputs.append(z.softmax())`.

[2018-06-08 23:01] lanking520 commented on #8564
Hi @KellenSunderland , are you still facing the same issue? We are sorry to reply to you too late. Please try it with our most recent package V1.2. If the problem still live in there, please let me know.

[2018-06-08 23:07] lanking520 commented on #8562
Hi @EsraaRagaa are you still facing the same issue?

[2018-06-08 23:08] lanking520 commented on #8499
@botaichang Thanks to try out build this package. Are you still facing the same issue now? If so, please provide the steps you have tried to build so we can better help you with that.

[2018-06-08 23:11] eric-haibin-lin commented on #11176
Is it possible that memory is exhausted on CI?

[2018-06-08 23:18] lanking520 commented on #11195
Hi @glingyan , thanks for your issue. We will consider this as a `feature request`. @anirudhacharya @Roshrini can you take a look at this? @nswamy can you add label as `ONNX`?

[2018-06-08 23:45] eric-haibin-lin opened #11214 "Flaky Docker build due to ccache"
Flaky build test:
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11197/5/pipeline

[2018-06-08 23:54] szha commented on #8499
libPlayCtrl.so doesn't seem like a dependency of mxnet.

For building mxnet from source, please refer to the instructions in https://mxnet.apache.org/install/index.html?device=Linux&language=Python&processor=CPU

[2018-06-08 23:54] #8499 closed

[2018-06-09 00:40] anirudh2290 commented on #8219
I have been looking at this issue. MXNet forward pass for broadcast_add is much faster than tensorflow and pytorch. To give some numbers here (Experiments conducted on my setup of p2.8xlarge, Testing for CPU performance):

For broadcasting a tensor of shape (1,) to  a tensor of shape (2**17, 10, 10), only forward pass:
pytorch: 0.6 seconds
mxnet: 0.4 seconds
tensorflow: 2.1 seconds.

When we inclu

[2018-06-09 01:20] ThomasDelteil commented on #11202
I have had it too just now http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10637/5/pipeline

[2018-06-09 01:21] ThomasDelteil commented on #11202
And had it here too http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11210/2/pipeline/

[2018-06-09 02:02] hetong007 commented on #11019
I have spent sometime in this issue, it is not related to the number of classes. If I fake the labels into 100 classes, it still doesn't converge.

The model's defined at https://github.com/deepinsight/insightface/blob/master/gluon/blocks/UDD.py#L27.

From the definition, seems it is `self.body.add(nn.BatchNorm(scale=False, epsilon=2e-5, prefix='fc1'))` causing the problem. If I set `scale=True` a

[2018-06-09 02:28] anirudhacharya commented on #11195
@glingyan thank you for reporting the issue. Can you please share your complete use case. And the share the ONNX model you are trying to import.

[2018-06-09 04:02] glingyan commented on #11195
https://github.com/r9y9/wavenet_vocoder/
https://www.dropbox.com/s/zdbfprugbagfp2w/20180510_mixture_lj_checkpoint_step000320000_ema.pth?dl=0
https://www.dropbox.com/s/0vsd7973w20eskz/20180510_mixture_lj_checkpoint_step000320000_ema.json?dl=0

[2018-06-09 04:11] glingyan commented on #11195
I modify both pytorch and mxnet to successfully import the model
1. support Norm
2. to fix the issue, I bypass in torch to pass input size as attr
def mul(g, self, other):
     # See Note [Pointwise by scalar]
-    return g.op("Mul", self, _if_scalar_type_as(other, self), **_broadcast_if_scalar(other))
+    return g.op("Mul", self, _if_scalar_type_as(other, self), **_broadcast_if_scalar(other), se

[2018-06-09 06:20] lupesko commented on #8714
@nswamy when you add the labels you may want to remove the "Needs Triage" label :)

[2018-06-09 06:20] lupesko commented on #8694
@nswamy when you add the labels you may want to remove the "Needs Triage" label :)

[2018-06-09 11:12] marcoabreu commented on #11214
This is caused by the compilation of CCache of our Docker images and not related to our actual execution logic.

It seems like our docker cache did not succeed building the containers: http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-docker-cache-refresh/job/master/

[2018-06-09 11:14] marcoabreu commented on #11214
Related log:

[code]

[2018-06-09 12:48] larroy commented on #11214
looking into this

[2018-06-09 21:04] EsraaRagaa commented on #8562
Thanks, I found that I should edit my network.

[2018-06-09 21:04] #8562 closed

[2018-06-09 22:38] eric-haibin-lin opened #11218 "Feature request: randint operator"
reference: https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.randint.html

[2018-06-10 00:45] marcoabreu commented on #11214
Resolved by #11217

[2018-06-10 00:45] #11214 closed

[2018-06-10 04:49] chinakook commented on #11203
As the convtranspose is the backward of conv, It may also has a bug in the conv's backward with this settings.

[2018-06-10 09:01] lanking520 commented on #10574
Hi @sugi1229 , with our 1.2 release, we have published the pre-built package on Maven, please try with our [new Inference API](https://medium.com/apache-mxnet/scala-api-for-deep-learning-inference-now-available-with-mxnet-v1-2-bcb13235db95), it's a lot easier.

[2018-06-10 09:02] juliusshufan commented on #11122
@hetong thanks for your reply, I did it accordingly and this issue fixed.
Thanks I am close the issue accordingly

[2018-06-10 09:02] #11122 closed

[2018-06-10 14:47] larroy commented on #10087
Flaky in windows:

WinPython 3: MKLDNN-GPU Win
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11186/9/pipeline

[2018-06-10 17:47] eric-haibin-lin opened #11219 "Flaky test: test_gru_bidirectional"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11197/7/pipeline

[code]

[2018-06-10 19:52] lanking520 commented on #8474
Hi @chenbiaolong are you still facing the same issue? Currently we have a [tutorial](https://github.com/apache/incubator-mxnet/tree/master/example/cnn_text_classification) using CNN for text classification.

[2018-06-10 23:27] lanking520 commented on #8438
Hi @Ajoo , are you still facing the same issue after tried the proposed solution?

[2018-06-11 00:32] lanking520 commented on #8385
Hi @Yochengliu , I would like to follow up this topic and find someone who can possibly help you. Have you found any ways to meet your needs? @nswamy can you label this as 'feature request'?

[2018-06-11 00:34] lanking520 commented on #8221
Hi @danache , are you still facing the same issue now?

[2018-06-11 01:10] adaaaaaa commented on #11131
谢谢人肉翻译机。。。
![cc](https://user-images.githubusercontent.com/23206387/41208533-3d76159c-6d57-11e8-8b1e-e0fa1bb78daa.gif)
 @lanking520

[2018-06-11 01:48] liuzx32 opened #11221 "How to store a large distributed training model with KVStore？"
If the training model is large, and one single machine can‘t store the model，how do you solve it at present？The model is the result.

[2018-06-11 02:12] larroy commented on #11219
can be reproduced with MXNET_MODULE_SEED=1447306965
python -mnose -v test_operator.py:test_gru_bidirectional

[2018-06-11 02:31] HuichuanLiu commented on #11149
1. I used the  incubator-mxnet/example/image-classification/score.py, where incubator-mxnet/example/image-classification/common/modelzoo.download_model() is called, with url explicitly given in codes:
[code]

[2018-06-11 03:11] rocketbear opened #11222 "Bug in gluon.block.Block.LoadParams"
The following code is in the LoadParams function:

        for name in loaded:
            if not ignore_extra and name not in params:
                raise ValueError(
                    "Parameter '%s' loaded from file '%s' is not present in ParameterDict, " \
                    "which contains parameters %s. Set ignore_extra=True to ignore. "%(
                        name, filename, _brief_p

[2018-06-11 03:39] #11160 closed

[2018-06-11 05:25] TaoLv opened #11224 "‘make lint’ is broken under python2"
## Description
https://github.com/dmlc/dmlc-core/blob/master/scripts/lint.py was changed to python3 by https://github.com/dmlc/dmlc-core/pull/396

So if one is using python2 and pylint/cpplint are not presented in his python3 environment, `make lint` will fail.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
python

For Scala user, please provide:
1. Java version: (`j