[2019-03-16 05:13] #13437 closed

[2019-03-16 05:20] eric-haibin-lin commented on #12976
#13896

[2019-03-16 05:20] #12976 closed

[2019-03-16 05:30] haojin2 commented on #12984
PR #14449 should address this issue @hendrycks Please give a review if you have time, thanks!

[2019-03-16 05:32] haojin2 commented on #14415
@andrewfayres Thanks for the details, please lemme know when the workaround has been merged so that I can re-trigger my builds of all my PRs. Have a great weekend

[2019-03-16 05:43] szha opened #14450 "broken clojure test"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14444/3/pipeline/246

[2019-03-16 06:39] lanking520 commented on #14415
Merged it now. Let's wait for somebody to fix it.

[2019-03-16 13:45] stereomatchingkiss commented on #14378
Don't try to build mxnet1.4.0, it is broken, I suggest you build mxnet1.3.1, it is still broken on windows 10, but unless with a lot of efforts, you can build it.

Please check this [blog ](http://qtandopencv.blogspot.com/2019/03/build-mxnet-131-on-windows.html)if you want to know how to build mxnet1.3.1 on windows.

[2019-03-16 14:40] Bleach665 commented on #14378
@stereomatchingkiss , but I successfully build mxnet with ed8307121ecb7d7f0717ccd080848f5b16dcf191 rev. With mkl, mkl blas, cuda, cudnn, opencv... However, I have not used it yet. Is it possible that the bugs will appear when it will be used? And thanks for the great guide.

[2019-03-16 15:00] stereomatchingkiss commented on #14378
It is a good news if you can build it on windows. How do you solve the issues of #13958 and #14343? I can build mxnet with mkl too, problems is it always throw exception at runtime if you do the inference task by cpu.

ed83071 is a bit newer than 1.4.0, wonder if they fix the build issues on windows already?I am still waiting next stable release.

[2019-03-16 15:26] Bleach665 commented on #14378
I did not make any changes to the code. As for Cmake, I do not remember exactly what changes I made to the configuration, but for sure nothing is critically important. Probably all of these issues were already fixed below or it was depend on VS version (my 2017, you as I understand 2015).

[2019-03-16 19:26] arcadiaphy commented on #14396
After #14363, the threads in custom is created after running first custom operator, the new script to reproduce the bug:
[code]

[2019-03-17 06:48] #12713 closed

[2019-03-17 06:48] #13752 closed

[2019-03-17 06:50] eric-haibin-lin commented on #14434
Not currently supported. what is your use case?

[2019-03-17 06:51] eric-haibin-lin commented on #14383
Contribution is welcome!

[2019-03-17 06:51] eric-haibin-lin commented on #14383
related PR https://github.com/apache/incubator-mxnet/pull/11472

[2019-03-17 07:06] stereomatchingkiss commented on #14378
I don't use vc2017, since it always break support about cuda.

[2019-03-17 11:11] Chouffe commented on #14271
Should we close the issue now @gigasquid @kedarbellare?

[2019-03-17 19:37] jmerkow commented on #14421
Could I run the tool and pass the output instead?

[2019-03-18 02:18] sleepwalker2017 commented on #14369
solved!
the macro NCNN_NAMESPACE is not defined!

[2019-03-18 02:18] #14369 closed

[2019-03-18 02:49] #10416 closed

[2019-03-18 02:49] #14245 closed

[2019-03-18 02:54] TaoLv commented on #13451
Closed via #13668 .

[2019-03-18 02:54] #13451 closed

[2019-03-18 03:06] NKUCodingCat commented on #10416
hmmm I had been given up working on AI for a long time
but I still happy to see such issue fixed, Thanks @vandanavk , sorry for missing you previous message

[2019-03-18 05:23] reminisce opened #14454 "[numpy] Fix test failures after using new shape semantics for zero-dim/size tensors"
**Branch:** https://github.com/apache/incubator-mxnet/tree/numpy

## CPU withou MKLDNN

**Folder:** [tests/python/unittest](https://github.com/apache/incubator-mxnet/tree/numpy/tests/python/unittest)

| Errors/Failures (CPU) |   Assignee |  Status |
|-------------------------|------------------------------|--------|
|  test_contrib_control_flow.test_contrib_rnn  |     @zheng-da       | Fixed by  h

[2019-03-18 06:30] yongfang1995 opened #14456 "python import error"
I have installed mxnet successfully by the following steps:

git clone --recursive https://github.com/apache/incubator-mxnet.git
cd incubator-mxnet
make -j4

Then i install the python binding by :

cd python
python setup.py install

But when i import mxnet in python, i get error like this:
![image](https://user-images.githubusercontent.com/48436808/54510862-059cfe00-498a-11e9-9d14-00fbcc58c758.png

[2019-03-18 07:07] perdasilva commented on #14174
Seeing it again:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/440/pipeline

[2019-03-18 08:09] perdasilva opened #14457 "[Flaky Test] Python 3: GPU WIN test_operator_gpu.test_multinomial_generator"
## Description

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/master/439/pipeline

Related to issue #14158, PR for disabling test: #14158

[code]

[2019-03-18 08:35] #14333 closed

[2019-03-18 09:40] huangzhiyuan commented on #14456
Seems is a shared library error. If you build mxnet from source code smoothly, some shared libraries will be generated in your project root.
[code]
Maybe you can try to add the MXNet shared library to your LD_LIBRARY_PATH:
[code]
Hope it's helpful to you, the document to build MXNet from source: https://mxnet.incubator.apache.org/versions/master/install/ubuntu_setup.html#build-mxnet-from-source

[2019-03-18 12:26] essalahsouad opened #14458 "Create a Dataset Using RecordIO"
I am trying to follow the example  [https://mxnet.incubator.apache.org/versions/master/faq/recordio.html](url) and create my own dataset for training using MXnet. My data is organized as specified in the example:

`/data
file1.jpg
file2.jpg
...`
The tutorial says the first step is to run im2rec.py to create a .lst file.
`python im2rec1.py /home/dell/Bureau/data1  /home/dell/Bureau/data/ --recursiv

[2019-03-18 15:55] ShownX opened #14459 "Cannot release memory sometimes"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-03-18 16:15] wkcn commented on #13928
@mikeobr You can run this code:
https://gist.githubusercontent.com/wkcn/69f0f6d2ca467816dc481a00c225104f/raw/2899896f42a920ff0fde5ff93b9a16d16aec507f/test_fcn_for_mxnet.py

It seems that the performance of dilated Convolutional layer drops in CUDA 9.

[2019-03-18 18:37] #13760 closed

[2019-03-18 22:17] apeforest commented on #10002
@lonelykid We are actively working on the higher order gradient feature right now. We will update you once the PR is ready for review. Thanks for your patience.

[2019-03-18 23:38] zachgk commented on #14459
@ShownX Can you provide some more information? Can you give the example or a minimal script that causes the problem?

Can you also provide the above information about the package you are using (Python, R, Scala, etc.) and run the diagnosis script:
[code]

@mxnet-label-bot add [Memory, Exception Handling, Pending Requester Info]

[2019-03-18 23:38] zachgk commented on #14459
@mxnet-label-bot add [Memory, Exception Handling, Pending Requester Info]

[2019-03-18 23:53] zachgk commented on #14458
For questions, please submit them on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
 I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
 Thanks!

[2019-03-18 23:54] zachgk commented on #14457
@mxnet-label-bot add [Test, Flaky, Windows, Python]

[2019-03-18 23:57] zachgk commented on #14456
@mxnet-label-bot add [Build]

[2019-03-18 23:59] andrewfayres commented on #14450
Issue was resolved with #14448 which disabled the tests. Those tests have a dependency on an external repository which was experiencing an outage. There is an open issue about how to handle this dependency here  #14394.

@mxnet-label-bot add [Test, Clojure]

[2019-03-19 00:01] zachgk commented on #14447
@mxnet-label-bot add [Backend, Operator, Bug]

[2019-03-19 00:04] andrewfayres commented on #14458
@mxnet-label-bot add [Question, Example]

[2019-03-19 00:07] zachgk commented on #14383
@mxnet-label-bot add [Gluon, Bug]

[2019-03-19 00:14] zachgk commented on #14434
@mxnet-label-bot add [Feature]

[2019-03-19 01:03] #14458 closed

[2019-03-19 05:33] pengzhao-intel commented on #14399
@yinghu5

[2019-03-19 05:38] chinakook commented on #14459
Please repeat Ctrl-C until you get back to the console.

[2019-03-19 05:51] chinakook commented on #14421
How do you use your model to inference? If you are using mx.module, please make sure the parameter for_training is set to be 0.

[2019-03-19 07:14] Soonhwan-Kwon opened #14467 "MKL-DNN QuantizedFullyConnectedOp Error"
## Description
When using FusedRNNCell + MKLDNN backend: Graph optimization and Quantization (experimental), it leads to the QuantizedFullyConnectedOp Error like below,

MXNetError: Error in operator quantized_fusedrnn_t134_i2h: [11:40:16] src/operator/quantization/quantized_fully_connected.cc:41: Check failed: !shape_is_none(in_shape->at(0)) QuantizedFullyConnectedOp input data shape must be give

[2019-03-19 07:27] TaoLv commented on #14467
@Soonhwan-Kwon Could you provide a simple reproducer?

Also, have you ever tried `sym = sym.get_backend_symbol('MKLDNN_FC')` and used `quantized_dtype='uint8'` when call `quantize_model`?
https://github.com/apache/incubator-mxnet/blob/master/example/quantization/imagenet_gen_qsym_mkldnn.py#L183

[2019-03-19 07:41] IvyGongoogle commented on #5912
meet the same error. Single thread is ok,  but core dump when predict using multithreading:

[code]

how to fix it?
anyone can give some advises?

[2019-03-19 07:43] Soonhwan-Kwon commented on #14467
@TaoLv We tried your suggestion before,
[code]
and it produces error like below
---------------------------------------------------------------------------
MXNetError                                Traceback (most recent call last)
<ipython-input-7-67512f953d6e> in <module>()
      1 sym = sym.get_backend_symbol('MKLDNN')
----> 2 sym = sym.get_backend_symbol('MKLDNN_FC')

/home/ubuntu/anaconda2/en

[2019-03-19 07:48] Soonhwan-Kwon commented on #14467
@TaoLv And also quantized_dtype='uint8' produces the same original error message

MXNetError: Error in operator quantized_fusedrnn_t134_i2h: [11:40:16] src/operator/quantization/quantized_fully_connected.cc:41: Check failed: !shape_is_none(in_shape->at(0)) QuantizedFullyConnectedOp input data shape must be given

[2019-03-19 07:50] TaoLv commented on #14467
May I know which version of MXNet you are using? MKL-DNN QFC is merged into master recently. PR here: https://github.com/apache/incubator-mxnet/pull/14128

[2019-03-19 07:57] Soonhwan-Kwon commented on #14467
@TaoLv we tried version of 1.4.0.post0 which was the version before the commit, we'll try the latest version as you mentioned right now, thank you.

[2019-03-19 09:19] wuxun-zhang opened #14468 "TypeError: 'float' object is not subscriptable`"
## Description
When I ran ssd training using this [script](https://github.com/apache/incubator-mxnet/blob/master/example/ssd/train.py), I got an error `TypeError: 'float' object is not subscriptable`. I tried this example on both GPU and CPU, but there always have the same problem.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):

I'm using Python.

## Build info (Requ

[2019-03-19 09:29] essalahsouad commented on #14458
Thank you

[2019-03-19 09:37] antinucleon commented on #14383
Repo:
[code]

Open mirror will cost more memory.

[2019-03-19 11:37] pengzhao-intel commented on #14467
@Soonhwan-Kwon Thanks to reporting the issue.

+ @ciyongch @ZhennanQin

[2019-03-19 12:20] Amagong commented on #14467
Hi.
I have tried the same problem. using "mxnet-cu90mkl 1.5.0b20190314"

First, I converted and saved a trained fused-rnn model.

[code]
And, I loaded the converted symbols and the params file.

[code]

When tried simple_bind, it leads to the simple_bind error like below,

RuntimeError: simple_bind error. Arguments:
category: (900, 2)
data: (900, 137, 9)
[20:25:39] src/executor/../common/exec_util

[2019-03-19 12:22] chinakook commented on #14468
I think you can have a try with (gluon-cv)[https://github.com/dmlc/gluon-cv]. It has a better version of SSD and is more accuracy.

[2019-03-19 12:24] 975150313 commented on #14112
Thank you very much. The community problem has been solved.

[2019-03-19 12:24] #14112 closed

[2019-03-19 12:32] pengzhao-intel commented on #14467
@mxnet-label-bot add [MKLDNN, Quantization]

[2019-03-19 12:43] ciyongch commented on #14467
@Soonhwan-Kwon is there any 0 dimension in the shape of input data? quantized Fullyconnected requires all the dimension of input data are given.

[2019-03-19 13:02] roadcode opened #14471 "undefined symbol: _Z9rleDecodePK3RLEPhm"
When import mxnet in python, the error occurs:
libmxnet.so: undefined symbol: _Z9rleDecodePK3RLEPhm

## Build info (Required if built from source)
git clone https://github.com/apache/incubator-mxnet mxnet
cd mxnet
git checkout 1.3.1
git submodule init
git submodule update:
cp -r $SIMPLEDET_DIR/operator_cxx/* src/operator/
make -j
cd python
python3 setup.py install

Compiler (gcc/clang/mingw/visual

[2019-03-19 13:18] pengzhao-intel commented on #14467
@Soonhwan-Kwon @Amagong could you provide a mini reproducible case so that we can help to resolve the issue?

Maybe you also need to patch https://github.com/apache/incubator-mxnet/pull/14466 after excluding the 0-dim layers.

[2019-03-19 13:43] anirudhacharya commented on #13753
@eric-haibin-lin will the multi-precision update rules need to support `row_sparse` storage type and `lazy_update` for weight arrays?

[2019-03-19 14:38] TaoLv commented on #14471
@winstywang Can you help? Looks like a SimpleDet issue?

[2019-03-19 14:44] TaoLv commented on #14437
@yongfang1995  It looks like you have finished the compilation successfully. I will close the issue now. Feel free to reopen if you still have problem on it.

[2019-03-19 14:44] #14437 closed

[2019-03-19 15:28] ShownX commented on #14459
Hi, Thank you for the response. Right now, I cannot provide the code I am running as an example. Definitely, repeating Ctrl-C does not help.

[2019-03-19 16:01] #14057 closed

[2019-03-19 18:34] zachgk commented on #14468
@mxnet-label-bot add [Python, Example]

[2019-03-19 21:55] ThomasDelteil commented on #14101
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14472/1/pipeline

[2019-03-19 21:56] ShownX commented on #14459
![Screenshot from 2019-03-19 16-54-23](https://user-images.githubusercontent.com/9678100/54644629-c2b15800-4a67-11e9-8f41-f58ad6f17f45.png)
It can be notice that the gpu memory cannot be released and there is no process shown in nvidia-smi

[2019-03-20 01:32] roadcode commented on #14471
using the [SimpleDet docker images](https://hub.docker.com/r/rogerchen/simpledet) , the problem has been solved

[2019-03-20 01:32] #14471 closed

[2019-03-20 06:26] pengzhao-intel commented on #14467
The PR #14466 is merged. Please sync up the latest MXNet and build again.

[2019-03-20 06:32] Soonhwan-Kwon commented on #14467
@pengzhao-intel Thank you for the update, @Amagong and I are working on the same project, and @ciyongch we excluded embedding layer(which seems has 0 dimension) but has no effect.

[2019-03-20 06:49] ciyongch commented on #14467
@Soonhwan-Kwon Are you still facing the error of "Check failed: !shape_is_none(in_shape->at(0)) QuantizedFullyConnectedOp input data shape must be given" or "InferShape pass cannot decide shapes for the following arguments (0s means unknown dimensions). Please consider providing them as inputs:" ?
 Can you provide a reproducer, then we can take a look :)

[2019-03-20 07:07] #14241 closed

[2019-03-20 07:46] Amagong commented on #14467
@ciyongch  Thank you for your quick response. I'll check with the newly built version.
And, I'll prepare a simple reproducer.

[2019-03-20 07:54] Amagong commented on #14467
There is currently an "InferShape pass cannot decide shapes for the following arguments (0s means unknown dimensions). Please consider providing them as inputs:" error.

[2019-03-20 11:14] ciyongch commented on #14467
@Amagong Still the same problem as original one. There's some layer has 0 dimension shape input, which is currently not supported by quantized FullyConnected operator. Please check your current model, and exclude all of this layer, I guess these layers are all comes from first time step. We're going to enhance the error message to help understand which operator is reporting this error.

[2019-03-20 15:36] chinakook commented on #14459
You are on persistance mode. Ctrl-c cannot release the memory

[2019-03-20 16:03] yuxihu commented on #13951
@anirudh2290 Could you please reopen this? The original fix has been reverted due to test flakiness. I am working on alternative fix.

[2019-03-20 16:03] yuxihu commented on #14358
@anirudh2290 Could you please reopen this? The original fix has been reverted due to test flakiness. I am working on alternative fix.

[2019-03-20 16:23] #14396 closed

[2019-03-20 17:46] Rmwak opened #14479 "Unable to load mxnet-cu100 on Windows 10 after install"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-03-20 17:48] anirudh2290 commented on #14467
can you try

[code]
also list outputs
[code]

[2019-03-20 18:10] karan6181 commented on #13374
Hi @**kohillyang**, could you please upgrade your gluoncv version to 0.4.0(latest) using `pip install gluoncv —upgrade` since the issue is fixed in the latest gluoncv version. I have tried below scripts and it's working for me:

[code]

[code]

MXNet version: 1.4.0
gluoncv version: 0.4.0

[2019-03-20 18:25] ChengeLi commented on #9259
Hi @kohillyang, Thanks for the information! I have also encountered similar problem with Mxnet 1.3.1, python 2.7, cuda 8. The size of /dev/shm keeps increasing. Do you mean the mxnet 1.4.0 solved the problem? Thanks!

[2019-03-20 18:53] karan6181 commented on #12428
@some-guy1 Could you please re-run your script again with the latest MXNet master, the R environment crash issue has been fixed. If you are able to run your script without error then we can close this issue. Thanks!

[2019-03-20 20:19] zachgk commented on #14479
Hi @Rmwak, have you looked at our windows setup instructions https://mxnet.incubator.apache.org/versions/master/install/windows_setup.html? You need to install some extra dependencies for cuda and cudnn before it will work.

@mxnet-label-bot add [Installation, pip, Windows]

[2019-03-20 20:58] karan6181 commented on #10738
Throwing same error with the latest "cython-0.29.6".  Tried uninstalling cython, and then try to install again(pip version), but it's throwing same issue.

[2019-03-20 20:59] karan6181 commented on #10295
@mxnet-label-bot add [Bug]

[2019-03-20 21:02] karan6181 commented on #10295
This issue is similar to [#10738](https://github.com/apache/incubator-mxnet/issues/10738) and might be fixed by [#10951](https://github.com/apache/incubator-mxnet/pull/10951).

[2019-03-20 21:06] karan6181 commented on #10295
Duplicate of [#10738](https://github.com/apache/incubator-mxnet/issues/10738)

[2019-03-20 22:15] zachgk commented on #12822
@kohr-h With the 1.4 release, we statically link the dependencies such as curl that are used by the maven scala package. You shouldn't have this problem with the new version

[2019-03-20 22:54] kohr-h commented on #12822
Sounds good @zachgk. Unfortunately I don't have time to test it myself, so I'll just close the issue.

[2019-03-20 22:54] #12822 closed

[2019-03-21 00:00] piyushghai opened #14482 "[Flaky Test] Python 3 TensorRT GPU : test_cvnets.test_tensorrt_on_cifar_resnets"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14269/4/pipeline/274

[code]

[2019-03-21 01:17] zachgk commented on #14482
@mxnet-label-bot add [Test, Flaky, Python]

[2019-03-21 02:13] OliverColeman opened #14484 "Odd behaviour with 'device' kvstore and CUDA illegal memory access errors"
## Description
Training the FCN model from gluon-cv over 2 GPUs I encounter different but perhaps related issues depending on which kind of kvstore I use ('local' and 'device'). (I don't think this is a gluon-cv issue.) Test script included.

## Environment info (Required)
[code]

Package used (Python/R/Scala/Julia):
Python

## Error Message:
### If kvstore is 'local':
[code]
### If kvstore is 'de

[2019-03-21 02:47] ymjiang opened #14485 "Any suggestion to accelerate parameter update on PS for distributed training?"
When doing distributed training, I find the parameter update (push requests) dominates the communication time. Since the update happens on CPU, I wonder if there is any suggestion to accelerate the CPU performance on parameter update?

For simplicity, I use 1 worker (one GPU) and 1 PS, and locate them on different machines (no other task run on them). I use `kvstore=dist_sync` and train Alexnet. S

[2019-03-21 03:19] apeforest commented on #14485
@ymjiang how many parameters in one update

[2019-03-21 03:39] #14158 closed

[2019-03-21 03:39] #14457 closed

[2019-03-21 03:53] ymjiang commented on #14485
@apeforest I use Alexnet, about 50M parameter.

[2019-03-21 06:26] Ian8888 opened #14486 "Predict of mx.mod.Module api problem 2"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-03-21 08:54] dreamhighchina opened #14488 "big different between usage of GPU's memory on c++ and python"
when i load params and json on windows using c++ code,it takes 1.4G gpu's memory,but when i load  params and json on linux using python code,it takes 0.7G gpu's memory.can anyone help me?????thanks

[2019-03-21 09:57] juliusshufan commented on #14440
@Shumakriss I tried the case on macos Mojave and conda, below packages installed.
One both MXNet 1.2.1 and MXNet 1.4, I can't reproduce the issue.

certifi==2019.3.9
chardet==3.0.4
graphviz==0.8.4
idna==2.6
mxnet-mkl==1.4.0
numpy==1.14.6
requests==2.21.0
urllib3==1.22

[2019-03-21 10:00] Amagong commented on #14467
@ciyongch  @anirudh2290 Thank you for your reply.
@anirudh2290 'infer_shape_partial' works well without error, but still could not bind.

The error above was due to the use of fused-rnn.
Below is the simple reproduce code.

[code]

When the comment is removed for the lstm or fused-rnn block, the following UserWarning is occurs.

And, in bind time, the following error occurs.

[2019-03-21 10:25] grez72 opened #14489 "global shuffling"
I have mxnet version 1.4.0, and I'm using ImageRecordIter or ImageRecordIter_v1  and wondering if it is possible to globally shuffle images, rather than shuffling by batch? I'm training a model where the structure resulting from batch-wise shuffling actually dramatically impairs learning, so I need a way to globally shuffle.

Thanks!

[2019-03-21 10:39] Amagong commented on #14467
The same error occurs when using RNNCell.
There is no error when using GRUCell.
Is there a problem with how to use it?

[2019-03-21 12:41] Rmwak commented on #14479
Hello zachgk.

The requirements in that link are:

Microsoft Visual Studio 2017 is in my system

I have CUDA 10.1 installed in the system, for the mxnet-cu100 version

Already in place, version 7.5
[code]

I'll add that I have installed and working in my system both pytorch(from pip) and tensorflow(from conda) in their gpu versions. For pytorch I had to install the nightly version since they had a

[2019-03-21 12:50] EvenIsLee opened #14490 "initializer not work excepted"
when I use @mx.init.register to set a new initializer, bias and others not update excepted. Only weight is changed.

[code]
these are outputs

[code]

[2019-03-21 14:08] smissan commented on #14343
is there a workaround for this issue? Will it work without mkl? Or is c++ build completely broken?

[2019-03-21 15:13] renganxu commented on #14047
Hi @ptrendx,  I used the same commands as in nvidia github to create the training dataset, but still could not reproduce nvidia's results. The training on single node (4 GPUs) works well, where the model reached 75.21% accuracy with 62 epochs.

Is it possible to reproduce the same result as in nvidia's DGX-1?  With single DGX-1, the --kv-store=device, but when multi-node is used, --kv-store=horovo

[2019-03-21 15:52] arcadiaphy commented on #14490
@EvenIsLee `net.initialize` only set global default init, which has lowest precedence. The correct way to set init:
[code]

But the implementation in gluon in really confusion compared to that in Module:
[code]

Sometimes, I want to replace all init in gluon block just like in Module, and expect `Block.initialize` to be just like `Module.init_params`.

[2019-03-21 17:19] Bumblebee1964 commented on #14343
For me it works (version 1.3.0) with CUDA 9.2, CUDNN 7, OPENCV 3.4.4 with VS2017 and Windows 10. OpenCV was complied without MKL support.

Version 1.4.x compiles with same config (except opencv3.4.5), but I did not link it yet to my application.

On [https://zhuanlan.zhihu.com/p/58918998] you find a quite good guide I guess, my script is almost the same. Maybe you have to translate to English (I d

[2019-03-21 17:22] Bumblebee1964 commented on #14343
A note on gtest and gtest_main projects, I set option "Treat warnings as errors" on "no" (compiler option /WX-)
Otherwise the projects do not compile.

[2019-03-21 17:56] anirudh2290 commented on #14488
By C++ code do you mean the CPP Package ? Have you tried loading params and json on windows with python frontend ?

[2019-03-21 18:44] leleamol commented on #13870
I checked with @perdasilva, in our current CI setup, we build the static and shared libraries. However, the testins is extensively done on dynamic (shared) libraries.
Currently, we do not have test static targets.

I would add this requirement (providing support for static libraries of mxnet) as feature request.
I will remove the C++ lable as the issue/question is not related to C++ API.
@mxnet-la

[2019-03-21 18:45] leleamol commented on #13870
@mxnet-label-bot remove [C++]

[2019-03-21 19:00] samskalicky opened #14496 "performance degradation from 1.3.1 to 1.4.0"
There appears to be some performance degradation between the 1.3.1 and 1.4.0 releases. So far we know of imdecode and tranpose operators having reduced performance.

We've tracked the responsible PRs for these operators to:
Transpose:
https://github.com/dmlc/mshadow/pull/359/files
https://github.com/apache/incubator-mxnet/pull/11742

Imdecode:
https://github.com/apache/incubator-mxnet/pull/8757

I

[2019-03-21 19:01] samskalicky commented on #14496
So question for the community, is are others seeing performance issues moving from 1.3.1 to 1.4.0?

And for what operators do you see issue?

[2019-03-21 20:40] zachgk commented on #14484
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [Gluon, Python, KVStore]

[2019-03-21 20:43] zachgk commented on #14485
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [KVStore, Performance]

[2019-03-21 20:48] zachgk commented on #14486
@Ian8888, where are you getting the model you are using from? Is it downloaded as symbol and param files or are you training it yourself as part of the code you are running?

If possible, can you share the code that you are running?

@mxnet-label-bot add [Module, Pending Requester Info]

[2019-03-21 20:50] zachgk commented on #14488
@mxnet-label-bot add [Pending Requester Info]

[2019-03-21 20:50] szha opened #14497 "numpy dependency compatibility"
Currently the mxnet numpy version is frozen to `numpy<=1.15.2,>=1.8.2`, while the latest numpy version is [1.16.2](https://pypi.org/project/numpy/#files). This is causing the numpy versions to revert during installation. Given that we're one minor version behind, we should start to fix the compatibility (which could simply be a no-op).

[2019-03-21 21:00] zachgk commented on #14490
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [Python, Gluon]

[2019-03-21 21:01] zachgk commented on #14496
@mxnet-label-bot add [Backend, Performance]

[2019-03-21 21:04] apeforest commented on #14485
@ymjiang There are a few options I suggest you to try:

1) Set the env variable MXNET_KVSTORE_REDUCTION_NTHREADS. This should specify more CPU threads to perfom reduction on hour parameter server
https://mxnet.incubator.apache.org/versions/master/faq/distributed_training.html#environment-variables

2) If the parameter server is the computation bottleneck, try update_on_kvstore=False in your gluon

[2019-03-21 21:20] andrewfayres opened #14498 "Scala Optimizers can cause seg faults"
## Description
In Scala, many of the optimizers cause a seg fault when used in conjunction with a FeedForward. Looked into this and it's because they are recreating native resources during execution which are getting disposed of by the jvm. This happens in the 1.4.0 release.

## Minimum reproducible example
The following Scala code will reproduce this for the Adam optimizer.
[code]
@mxnet-label-bo

[2019-03-21 21:22] andrewfayres commented on #14498
@mxnet-label-bot add [Scala, Bug]

[2019-03-21 22:20] zachgk commented on #14497
@mxnet-label-bot add [pip]

[2019-03-22 00:31] stu1130 commented on #14467
@anirudh2290 and I tried to debug the issue. When I see the shape of gru_l0l0_begin_state_0 in the graph is (0,1024) and following by quantized_fully_connected. The zero dimension of gru_1010 is not been inferred and we need to dive deeper

[2019-03-22 01:09] zachgk commented on #14489
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [Feature request, Backend, Data-loading]

[2019-03-22 02:21] pengzhao-intel commented on #14496
@apeforest @zheng-da

[2019-03-22 02:30] ymjiang commented on #14485
@apeforest Thank you very much for your suggestions! I will try `MXNET_KVSTORE_REDUCTION_NTHREADS` to see if it works.

In terms of option-2, I am using MXNet-Module instead of gluon trainer. So is there any option similar to `update_on_kvstore=False` in Module?

[2019-03-22 02:36] ciyongch commented on #14467
@Amagong Excluding the layers with 0 dimension input will resolve this error. In your samples, the input to `h2h` in the first timestep (0) of all the layers contains 0 shape, just exclude these layers as below:
For **Fused-rnn** block:
[code]
For **lstm** block:
[code]
For **gru** block,   *I noticed that there's another '_' in gru naming*:
[code]
Beside that, please change simple_bind() to bind(

[2019-03-22 02:44] HaoLiuHust commented on #12544
@huyangc I also encounter the same problem, header.flag changed after pack, how to solve this?

[2019-03-22 02:46] HaoLiuHust opened #14499 "about the IRHeader when using pack and unpack"
#12544 I am packing a multi-label dataset, and use header.flag, but after pack and unpack, the flag will be always equal to the label length, is it by design or a bug?

[2019-03-22 03:14] ptrendx commented on #14489
Adding idx file to ImagerecordIter should result in globally shuffled images.

[2019-03-22 03:50] dwSun opened #14500 "Default parameters of gluon.data.vision.transforms.RandomColorJitter should be set to 0.5"
## Description
The default parameters of gluon.data.vision.transforms.RandomColorJitter are (brightness=0, contrast=0, saturation=0, hue=0).
According to mxnet api docs,
[code]
Those parametes will be choosen from [max(0, 1 - 0), 1 + 0], that is [1, 1].
This will cause problmes.

Try this script:
[code]

## test-1-2-3.png, weird ouput.

![test-1-2-3](https://user-images.githubusercontent.com/58999

[2019-03-22 05:02] eric-haibin-lin commented on #13753
No. This does not seem to be a common case for the adamw optimizer

closed with #14171

[2019-03-22 05:02] #13753 closed

[2019-03-22 08:01] anirudh2290 commented on #14467
Thanks @ciyongch  . Can you please let me know why quantized_fully_connected doesn't handle inferring the data dimension 0 based on the output shape. For example, the following runs fine on fp32:

[code]

Expectation is after quantization also it should run fine. But it fails at this check.
Is there any reason why we cant remove the check here:
https://github.com/apache/incubator-mxnet/blob/master

[2019-03-22 08:47] ciyongch commented on #14467
@anirudh2290 The behavior was not changed since the initial version, looks like it will throw many errors in rnn domain. Will figure out the reason and see how to improve this :)

[2019-03-22 09:07] grez72 commented on #14489
Thanks for the quick response. I added the idx file, and I still don't seem to be getting a global shuffle.

Here's how I'm setting up the ImageRecordIter_v1 (I'm using v1 so that I can directly access the index. It seems ImageRecordIter returns only zeros for the index).

[code]

Does the global shuffle only work with ImageRecordIter? If so, is there any way to get ImageRecordIter to return the c

[2019-03-22 15:06] perdasilva opened #14502 "[Test Failure] GPU Test failures across different CUDA versions"
## Description
Testing mxnet library compiled for the python distribution against different versions of CUDA.

I'm getting a strange failures on all CUDA versions. The tests are being run on a g3.8xlarge instance, within a docker container based on the nvidia/cuda:XXX-cudnn7-devel-ubuntu16.04 (where XXX is the particular version of CUDA).

[code]

[code]

I have not yet tried to reproduce it separ

[2019-03-22 15:53] karan6181 commented on #8453
@pracheer Can you please try with the latest MXNet and see if you could reporduce the issue? Thanks!

[2019-03-22 15:57] karan6181 commented on #10295
@Roshrini Can you please mark this bug as a duplicate of [#10738](https://github.com/apache/incubator-mxnet/issues/10738) and close it. Thank you!

[2019-03-22 17:07] lanking520 commented on #12547
@mariussoutier Close this issue for now. As long as you can configure CUDA path correctly, you will be able to build Scala on that.

[2019-03-22 17:07] #12547 closed

[2019-03-22 17:28] ptrendx commented on #14489
I'm not sure what do you mean by returning index. The `v1` version of the ImageRecordIter is pretty old and deprecated, and I'm not even sure it does anything with the index file, let alone use it for global shuffling.

[2019-03-22 17:34] ptrendx commented on #14047
Hmm, this is strange. On Monday/Tuesday I am travelling, but I will try to reproduce your results on Wednesday and see what is the issue there. Horovod and device kvstore should give similar results (not exactly the same because of the addition order in reduction) and definitely should both converge.

[2019-03-22 19:04] grez72 commented on #14489
Sorry I wasn't clear about that. By index I mean the value in the first column of the .lst file used to generate the .rec and .idx files.  Each batch of the iterator has fields for batch.data, batch.label, and batch.index.

[code]

When using ImageRecordIter_v1, batch.index returns the index of the image, corresponding to the first column of the .lst file. However, when using  ImageRecordIter, bat

[2019-03-22 19:09] zachgk commented on #14499
I am looking at the code for IRHeader, pack, and unpack and it looks like it is by design https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/recordio.py#L340. The flag is used for label size throughout. If so, we should update the documentation to better explain this.

Any idea about this @Roshrini?

@mxnet-label-bot add [Data-loading]

[2019-03-22 19:11] ptrendx commented on #14489
Hmmm, seems like a bug in `ImageRecordIter` then.

[2019-03-22 19:28] mzient opened #14505 "RandomResizedCrop produces wrong aspect ratios."
RandomResizedCrop randomly swaps with/height which produces out-of-bounds aspect ratios if the ends of the aspect ratio range are not reciprocals. When swapping is removed, then the aspect ratio is skewed. The solution is to use uniform distribution on a logarithmic scale. See https://github.com/pytorch/vision/pull/799

[2019-03-22 19:31] zachgk commented on #14500
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [Python, Gluon, Discussion, Data-loading]

[2019-03-22 19:33] zachgk commented on #14502
@mxnet-label-bot add [CUDA, Docker, Bug]

[2019-03-22 19:38] zachgk commented on #14505
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [Gluon, Data-loading, Bug, Call for Contribution]

[2019-03-22 19:40] gigasquid opened #14506 "[Clojure] - Add Draw Bounding Box to Core Clojure Image namespace"
## Context
For Object detection, we were using Origami in the examples to draw bounding boxes. The Scala package has just added this bounding box drawing into the core package with this PR  https://github.com/apache/incubator-mxnet/pull/14474 so it would be better for us to use this through interop to achieve consistency through the JVM packages

## Sample Code
Here is some sample interop code tha

[2019-03-22 20:06] karan6181 commented on #8453
@pracheer I am closing this issue due to no activity since more than a year. Please feel free to re-open the issue if you are still facing the same issue. Thank you!

@Roshrini Can you please close this issue? Thanks!

[2019-03-22 20:19] renganxu commented on #14047
Thanks very much for helping check this issue! I really want to know why the result is not reproducible.

[2019-03-22 21:25] jnorwood opened #14507 "model links data.dmlc.ml are broken"
The model links referencing data.dmlc.ml in the model zoo and inference examples are broken.
To fix this, it appears there are more than one issue.  First, there are no longer gzipp'd files, and second the data.dmlc.ml site is no longer the correct source for wget.

so, this works:

`wget http://data.mxnet.io/models/imagenet/resnet/18-layers/resnet-18-symbol.json`

and this works:

`wget http://da

[2019-03-22 21:44] zachgk commented on #14507
According to https://lists.apache.org/thread.html/129d8cb92a978d59ac7dd038c86ffb2db82dc708a3bc09da23727072@%3Cdev.mxnet.apache.org%3E, the change should be `data.dmlc.ml => data.mxnet.io`

@mxnet-label-bot add [Doc, Example, Good first Issue, Call for Contribution]

[2019-03-22 21:50] larroy commented on #13870
It would be useful if you can provide a backtrace.   ulimit -c unlimited and doing gdb on the core, or runnning directly with gdb and doing "bt"

[2019-03-22 22:08] lanking520 commented on #14507
My pr also crashed by that: https://github.com/apache/incubator-mxnet/pull/14474

[2019-03-22 23:25] #8453 closed

[2019-03-22 23:25] nswamy commented on #10295
closing as duplicate

[2019-03-22 23:25] #10295 closed

[2019-03-23 04:29] #14323 closed

[2019-03-23 05:55] jnorwood commented on #14507
Let me add that the mxnet/cpp-package/example/inference/unit_test_inception_inference.sh is also has the line
`wget -nc http://data.dmlc.ml/mxnet/models/imagenet/inception-bn.tar.gz`
so I presume it is also broken.
That probably needs to be separated to three commands, one for .json and one for .params files, and one for the synset.txt.   The  data.dmlc.ml needs to change to data.mxnet.io

[2019-03-23 06:22] jnorwood commented on #14507
i got that unit_test_inception_inference.sh test to work with the following changes
`wget -nc -O model/Inception-BN-symbol.json http://data.mxnet.io/mxnet/models/imagenet/inception-bn/Inception-BN-symbol.json
wget -nc -O model/synset.txt http://data.mxnet.io/mxnet/models/imagenet/synset.txt
wget -nc -O model/Inception-BN-0126.params http://data.mxnet.io/mxnet/models/imagenet/inception-bn/Inception

[2019-03-23 06:57] beingjoey opened #14508 "python import models include mxnet cause a segmentation error"
when I just import some model , I get a segmentation fault as below:
from PySide2.QtWidgets import QMainWindow,QMenu,QAction
from PySide2.QtGui import QImage,QPixmap,QCursor
from PySide2.QtCore import QTimer,QSize,QDateTime
import numpy as np
import mxnet as mx
from skimage import transform

Segmentation fault: 11

Stack trace returned 10 entries:
[bt] (0) /usr/local/lib/python2.7/dist-packages/mx

[2019-03-23 08:49] tycho01 opened #14509 "interop with Apache Arrow"
The original MXNet [proposal](https://wiki.apache.org/incubator/MXNetProposal) suggested:

I didn't see an existing thread on Apache Arrow here, so figured I'd create one.

While the above only mentioned reading out data from MXNet in Arrow format, there may similarly be value in reading in data from Arrow as well.

[2019-03-23 10:20] ZHAIXINGZHAIYUE commented on #14434
@eric-haibin-lin 我想在多个节点间传递一些变量，但这些变量不能用sgd去更新。比如我只想在多个节点间传递我在rank 0 切分好的图像列表。

[2019-03-23 12:22] cccorn commented on #12001
I met the same problem with mxnet version 1.5.0, and I found a solution from L_xiaoming in https://discuss.gluon.ai/t/topic/7842

That is, you need specify the parameter 'key' in the SyncBatchNorm layer, and you can just use the same string as the layer's name.

But I don't know why it works.

[2019-03-23 17:13] apeforest commented on #14496
I could verify the performance degradation using Sam's script on the transpose operator.

The performance slow down is mainly due to arithmetic operation performance difference between int32_t and int64_t data types. I changed the data type in Tensor object in mshadow from index_t (which is typedef to int64_t) to int32_t and can see runtime of transpose operator come back to almost same as in 1.3.

[2019-03-23 18:40] karan6181 commented on #10295
@mxnet-label-bot add [python]

[2019-03-23 23:56] wkcn commented on #14496
Although the option 1 will enlarge the size of the binary library, I agree it in performance-sensitive codes.

[2019-03-24 00:03] wkcn commented on #14496
Although the option 1 will enlarge the size of the binary library, I am in favor of it in performance-sensitive codes.

[2019-03-24 01:47] ChaiBapchya commented on #14509
@mxnet-label-bot add [Feature request]

[2019-03-24 06:58] wuxun-zhang commented on #14468
I think this issue is caused by this PR[#13471](https://github.com/apache/incubator-mxnet/pull/13471). This PR added the new method `reset_local` for `EvalMetric` class in [metric.py](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/metric.py) . When training SSD model, `MultiBoxMetric` class inherited from `EvalMetric` is defined to evaluate training speed and accuracy in [Line2

[2019-03-24 13:06] huyangc commented on #12544
@HaoLiuHust you can change the type of irheader to be np.float64 and change the 4 to be 8 with pack and unpack will solve the problem

[2019-03-24 13:08] huyangc commented on #12544
But this can only solve the problem of too big of the digit but not the flag problem, I think the flag problem is because of the design.

[2019-03-24 17:54] eric-haibin-lin commented on #14509
@tycho01 if you are familiar with Apache Arrow, contribution is welcome! We can probably start with a gluon.data.Dataset class that reads a file in apache Arrow format

[2019-03-24 23:40] eric-haibin-lin commented on #14228
@chinakook for this I think you need to do a.attach_grad() before autograd?

[2019-03-25 02:46] Amagong commented on #14467
Thanks @anirudh2290 I follow your guide, no more errors occur.
But... There are still some problems in successfully applying Quantization to my code.
I'll try various ways to apply  to my code.
Thank you.

[2019-03-25 03:33] ciyongch commented on #14467
@Amagong Glad to here you're able to run quantization on the sample code. Please let us know if you met other errors/failures in your real case. We're working on enhancement for this limitation..

[2019-03-25 03:35] IvyGongoogle opened #14512 "the speed with higher version mxnet is slower than lower mxnet"
Hello, I have a problem:
I use `libmxnet.so` compiled with mxnetv0.7 comparison to mxnetv1.0(or v1.3 and v1.4) to run  my code to infer a batch images,  I find the inference speed with mxnet of higher version is slower than mxnetv0.7.  What causes this problem? How to fix it?  anyone can give some advises?

[2019-03-25 04:07] IvyGongoogle commented on #13928
Hello, I have a problem:
I use libmxnet.so compiled with mxnetv0.7 comparison to mxnetv1.0(or v1.3 and v1.4) to run my code to infer a batch images, I find the inference speed with mxnet of higher version is slower than mxnetv0.7. What causes this problem? How to fix it? anyone can give some advises?

[2019-03-25 04:59] wkcn commented on #13928
@IvyGongoogle Is there any dilated convolutional layers in your model?

[2019-03-25 05:09] vc384 commented on #13928
I met the same problem, I have a project with dilation convolution (resnet backbone). If I use a mxnet1.3.1-cu80 (pip install), the speed is 0.18~0.19s one iter. However, when I switch to mxnet1.4.0-cute80(pip install), the speed drop to 0.19~0.20s one iter. The speed drop slightly, I confused with this problem.
OS: Ubuntu 16.04
Driver: 384.130
CUDA: 8.0
cudnn: maybe 7.4.1 or 6.0.21

[2019-03-25 05:48] mouryarishik commented on #9712
This worked, thanks. But still don't know what is causing .backward() to fail.

[2019-03-25 07:06] pengzhao-intel commented on #14512
Could you try the CPU inference which is significantly improved since 0.7?

https://mxnet.incubator.apache.org/versions/master/tutorials/mkldnn/MKLDNN_README.html

[2019-03-25 07:22] pengzhao-intel commented on #14496
@apeforest
Regarding INT64, MKL-DNN only supports the INT32 at now. The next major version of 1.0 will support INT64 by default.
On the other hand, the Intel MKL library can handle INT64 (libmkl_intel_ilp64.a) and build MXNet with `CFLAGS += -DMKL_ILP64`.

[2019-03-25 07:31] Amagong commented on #14467
@ciyongch In my case, there is a problem that inference time is slow when using quantization.
Originally it took 2 minutes 40 seconds, it takes 24 minutes after quantization....

I generate a network like the sample code above and use the 'quantize_model' function.
[code]
And set parameters as below.
[code]
I use this structure because input data length is variable.

When I run the inference code

[2019-03-25 07:39] Amagong commented on #14467
I'm using 'FusedRNNCell'

[2019-03-25 07:42] wkcn commented on #13928
Could anyone try MXNET_CUDA_TENSOR_OP_MATH_ALLOW_CONVERSION=1 python test.py ?

[2019-03-25 07:43] ZhennanQin commented on #14467
@Amagong The main reason is, you're using quantized model without calibration information.
This will result in online calibration and will slow down the performance dramatically.
To get full speed of quantized model, we suggest to adopt any of calib_mode(naive or entropy).

[2019-03-25 07:46] Amagong commented on #14467
@ZhennanQin Thank you for your advice! I'll try the way you told me.

[2019-03-25 08:04] wkcn commented on #14512
The issue may be similar to
https://github.com/apache/incubator-mxnet/issues/13928

However, I do not have any machine with NVIDIA GPU to test it : (

[2019-03-25 08:28] beingjoey commented on #14508
Now I covered this problem by removing skimage transform model. But I am still worried about that.

[2019-03-25 08:29] IvyGongoogle commented on #13928
@wkcn no dilated convolutional layers in my model which is a ocr recognition model with cnn and rnn

[2019-03-25 08:37] IvyGongoogle commented on #14512
@wkcn I dont know which op in my model is slower in newer mxnet. no dilated convolutional layers in my model which is a ocr recognition model with simple cnn and rnn. Can give some detailed test advises?

[2019-03-25 08:48] fe-codes commented on #13482
+1

[2019-03-25 09:03] lebeg commented on #14507
I'm working on the fixes here: https://github.com/apache/incubator-mxnet/pull/14504

[2019-03-25 09:19] perdasilva commented on #14502
Perhaps the reason CI isn't reporting any issues is that both the lower version of cudnn in the environment [that we set]https://github.com/apache/incubator-mxnet/blob/master/ci/docker/runtime_functions.sh#L815) and the cudnn version [set by the image](https://gitlab.com/nvidia/cuda/blob/ubuntu16.04/9.1/devel/cudnn7/Dockerfile#L5) are lower than what is [required](https://github.com/apache/incubat

[2019-03-25 09:47] perdasilva commented on #14502
Created a PR #14513 to see if I can catch this issue in CI

[2019-03-25 09:51] ymjiang commented on #14485
Ping @eric-haibin-lin

[2019-03-25 10:45] PistonY opened #14514 "CUDA 10.1 support"
I use CUDA 10.1 with mxnet-cu100mkl
But I got this issus
[code]

[2019-03-25 11:56] bj5546 commented on #14116
was this bug fixed？

[2019-03-25 12:06] smissan commented on #14116
No

On Mon., Mar. 25, 2019, 8:56 a.m. bj5546, <notifications@github.com> wrote:

[2019-03-25 12:06] wkcn commented on #14512
@IvyGongoogle Could you please use the profiler to measure the execution time?
http://mxnet.incubator.apache.org/versions/master/tutorials/python/profiler.html?highlight=profiler

[2019-03-25 12:49] yangfly opened #14515 "Should gluon layer support **name** field?"
At present, the **name** of **Gluon** layer is automatically extended to `xxx/operator0_fwd`, based on `name_scope`, which embodies modularization and avoids naming conflicts. However, the **name** field is not currently supported, resulting in a lack of flexibility.

for example
[code]
Should **Gluon** layer also support custom **name** like `Symbol`. Internally, only layer without user defined `

[2019-03-25 13:17] xrmzju opened #14516 "cann't achive linear speed up with multi GPUs"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-03-25 13:20] IvyGongoogle commented on #14512
@wkcn  sorry, I can not find some C++ codes about how to use profiler.

[2019-03-25 14:05] xrmzju commented on #14516
@mxnet-label-bot add [Performance]

[2019-03-25 15:35] grez72 commented on #14489
I can confirm that ```ImageRecordIter``` only returns zeros for the index values. Should I submit a separate issue for this?

[2019-03-25 16:22] wkcn commented on #14512
@IvyGongoogle Could you please provide the forward time between different versions of MXNet? Is it obvious?

[2019-03-25 16:28] wkcn commented on #14515
+1. I think it is necessary to support custom name for gluon block.
For example, to implement a ResNet model, I would like to name the layers as the paper names. In addition, I have a pre-trained model for MXNet Symbol, and I need the consistent names of parameters to support Gluon Model.

[2019-03-25 16:35] sun-dev commented on #14496
Just to clarify, for the data type change from 32bit to 64bit, we're talking about the tensor shape data type, not the actual tensor values. So for example, @apeforest's change allowed 64bit shape data type for a tensor with float elements.

And this performance degradation for transpose was measured with pure-C++ (mshadow) implementations, not MKLDNN.

@pengzhao-intel does MKLDNN support 64-bit t

[2019-03-25 16:36] kohillyang commented on #9686
I think currently CustomOp may need to be redesigned, there cannot be executed in multi-threads, and even in multi-processes, or is it possible to provide an option to implement CustomOp in language which has no GIL eg. Julia?

[2019-03-25 16:44] ptrendx commented on #14489
Please do. Did you confirm that you get global shuffling with ImageRecordIter with index provided?

[2019-03-25 16:46] kohillyang commented on #9686
And, there seem many functions to load parameters from a pre-trained file, but for nn.Block, there is no public way to load parameters from a dict. I think it is better to simplify the previous ones and introduce to new api to load parameters from a dict.

[2019-03-25 17:05] RuRo commented on #9712
Can confirm,
[code]
fails for me with similar error, while
[code]
works like a charm.

[2019-03-25 17:07] junrushao1994 commented on #14342
Going to act on this thread this week. I guess most of them have been addressed in recent PRs like #14361, #14315, #14409.

[2019-03-25 17:33] wangpichao commented on #9667
@MaAo @dongzhuoyao  please change the a=+b to a = a + b, and it would fix the issue.

[2019-03-25 19:26] Chouffe opened #14517 "Build from source, clojure, lein test erroring out"
## Description

When building MXNet from source and running `lein test` using the locally built jar, it errors out with a lot of `java.lang.Exception: = expects more than one argument`.

## Environment info (Required)

Here is how I build from source (mostly following the instructions from the docs). I could reproduce on Ubuntu 18.04 and 18.10:
1. `git clone https://github.com/apache/incubator-mxn

[2019-03-25 19:49] vdantu commented on #14517
@mxnet-label-bot add [Clojure, Test]

[2019-03-25 19:54] vdantu commented on #14514
@mxnet-label-bot add [CUDA, Question]

@PistonY : Is CUDA in your LD_LIBRARY_PATH?

[code]

[2019-03-25 19:54] cjolivier01 commented on #14304
+1

[2019-03-25 19:57] vdantu commented on #14508
@beingjoey : Could you please elaborate what fixed this issue? Did you just remove the
[code]
statement, or did you remove some model altogether?

@mxnet-label-bot add [question]

[2019-03-25 20:31] ShownX commented on #14459
What is persistance mode? How can I avoid this mode?

[2019-03-25 20:36] haojin2 commented on #14514
I think the problem is that MXNet is looking for CUDA 10.0: `OSError: libcudart.so.10.0: cannot open shared object file: No such file or directory` since you installed the cu100mkl version... You either have to build from source or downgrade your CUDA version to 10.0 to use this wheel for now. Please let me know if you have further questions, thanks!

[2019-03-26 00:45] pengzhao-intel commented on #14496
@sun-dev The performance issue talked in this issue is NOT related to MKLDNN. We have verified the performance of MKLDNN, please see below link.

https://cwiki.apache.org/confluence/display/MXNET/MXNet+with+Intel+MKL-DNN+-+Performance+Benchmarking

The MKLDNN doesn't support 64-bit tensor shape now. It supposes to fall back original CPU implementation.

Feel free to let me know if you see any issu

[2019-03-26 01:28] HaoLiuHust commented on #14499
yes, I have read it too, if we want to use it as we want, we can write a custom pack and unpack

[2019-03-26 01:29] HaoLiuHust commented on #12544
@huyangc yes, I have read the code too, if we want to use it as we want, we can write a custom pack and unpack

[2019-03-26 01:32] PistonY commented on #14514
@vdantu Yes.
@haojin2 Do you have plans to release mxnet-cu101mkl?
If you don't I will build from source.

[2019-03-26 01:35] haojin2 commented on #14514
@PistonY Well in short term (like within 2 or 3 days) no, but I'll try to contact related persons on this issue and hopefully we can provide that in the near future. For now please go ahead and build from source, sorry for the inconvenience!

[2019-03-26 01:36] haojin2 commented on #14514
@PistonY Please also let us know if you run into problems when building from source. I actually tried building with CUDA 10.1 + CuDNN 7.5 myself a few days ago and it worked for me.

[2019-03-26 01:37] PistonY commented on #14514
OK,I will.
Thanks for your help.

[2019-03-26 01:37] #14514 closed

[2019-03-26 07:07] YutingZhang opened #14522 "mx.nd.Custom conflicts with memory management"
When training/running a large neural network with CustomOP, mxnet can get stuck. My speculation is that if memory management (e.g., releasing/reallocating GPU memory, raising an "out of memory error") is needed while running CustomOP, mxnet can get stuck.

A minimum piece code to show that CustomOP can deadlock with memory management ("out-of-memory in this case"):
As expected, main(1) should work

[2019-03-26 07:08] YutingZhang commented on #14522
@arcadiaphy @wkcn @anirudh2290 Interested in looking into this?

[2019-03-26 07:55] pengzhao-intel commented on #14440
ping @Shumakriss

[2019-03-26 07:57] wkcn commented on #14522
Does it reproduce the bug in old version of MXNet?

[2019-03-26 08:20] Bumblebee1964 commented on #14116
It seems fixed in the latest version. I downloaded the code 2 weeks ago, and it seemed to be resolved.

[2019-03-26 08:41] beingjoey commented on #14508
yes, I just remove
from skimage import transform

[2019-03-26 08:47] lebeg commented on #14234
Another failure:

http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-backwards-compatibility-checker/420/console

[code]

Maybe this should be tracked separately as it's a different failure?

[2019-03-26 08:49] IvyGongoogle commented on #14512
@wkcn  thanks for your reply,
[code]
as we can see that the initialization time of higher mxnet is nearly double in contrast to mxnet v0.8, and my model inference time is also slower.

[2019-03-26 08:52] lebeg opened #14524 "Flaky backwards compatibility with 1.2.1 for lenet_gluon_save_params_api"
## Description

Several failures for [backwards-compatibility-checker](http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-backwards-compatibility-checker/) with different error values:

* http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-backwards-compatibility-checker/420

[code]

* http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-backwards-compatibility-checker/436

[code]

## Related

[2019-03-26 08:53] lebeg commented on #14234
Created separate issue https://github.com/apache/incubator-mxnet/issues/14524

[2019-03-26 08:53] beingjoey commented on #14508
I reproduced this problem on two different computers, with different version of these models.
I found I just can not import PySide2, numpy, mxnet and skimage.transform together. I still don't know whose bug, but the stack trace always showed libmxnet.so .
Mxnet was the core of my app, so skimage.transform was replaced.

[2019-03-26 09:21] lebeg commented on #14234
Probably this issue can be closed.

[2019-03-26 10:36] smissan commented on #14116
The script did not change in 2 months and is still not working

On Tue., Mar. 26, 2019, 5:21 a.m. Fred Hugen, <notifications@github.com>
wrote:

[2019-03-26 11:41] YutingZhang commented on #14522
@wkcn "the bug in old version": Do you mean the deadlock in subprocess? I thought https://github.com/apache/incubator-mxnet/pull/14451 solved this problem (I have not tried it out myself).

This thread is about a different problem. It happens in the main process on a single GPU.

[2019-03-26 12:12] wkcn commented on #14522
I mean that does this issue exists before the PR https://github.com/apache/incubator-mxnet/pull/14363 ?

[2019-03-26 12:28] Bumblebee1964 commented on #14116
It looks whether the name of the operator (and probably definition) that caused the problem has been changed. From my current working place I cannot easily check difference between generated op.h from version 1.3.1. (which I had to change manually to get it compiled) and version 1.4.1.

I'' try to check by the end of the week when I am back in the office.

[2019-03-26 14:09] wkcn commented on #14522
reproduce the bug in CPU environment, it get stuck too.

[2019-03-26 14:18] wkcn commented on #14522
I see. In `python/mxnet/ndarray/ndarray.py', the function `def copyto(self, other):` calls `_internal._copyto(self, out=other)`, which gets stuck.

[2019-03-26 15:12] perdasilva commented on #14502
I've figured out why the test_lstmp test was failing and have submitted a PR (#14529) to fix that issue.

I have also reached out to @DickJC123 to see if his cuda expertise can help with the other errors related to  `e == CUDNN_STATUS_SUCCESS (6 vs. 0) cuDNN: CUDNN_STATUS_ARCH_MISMATCH`, which I've started experiencing the in CI PR (#14513)

[2019-03-26 18:48] lanking520 commented on #14507
Now fixed are applied. @jnorwood please feel free to verify and close this issue.

[2019-03-26 19:55] Chouffe commented on #14506
Work in Progress here: https://github.com/apache/incubator-mxnet/pull/14533

[2019-03-26 20:01] jnorwood commented on #14507
Thanks for fixing those.  I still found references to data.dmlc.ml in the following files.

docs/model_zoo/index.md

example/rcnn/README.md

tools/coreml/README.md

tools/coreml/test/test_mxnet_models.py

[2019-03-26 22:13] vdantu commented on #14234
@mxnet-label-bot update [flaky, gluon, ci]

[2019-03-26 22:14] vdantu commented on #14524
@mxnet-label-bot add [ci, flaky, gluon]

[2019-03-26 22:54] piyushghai commented on #13391
https://discuss.mxnet.io/t/gluon-per-layer-learning-rate-for-fine-tuning-a-pretrained-network/2288

This question got answered here. I think this is good to close.

[2019-03-26 23:15] ChaiBapchya commented on #5034
@szha can we reopen this issue?
In one of my big data assignments, I was tasked to find "number of floating point computations taking place when one single data is passed through the network"
Is there a way to find this directly in mxnet?

[2019-03-27 00:14] chenjunweii opened #14539 "Is there any way to save the parameter of the autotuning ?"
Is there any way to save the parameter of the autotuning so it won't have to find the best algorithms every time when program is launched ? thanks !

[2019-03-27 02:58] Aktcob commented on #13135
I am faced with the same problem. Did u fix it?

[2019-03-27 03:05] Aktcob commented on #13135
The problem is:  when the 'padding=0', everything is ok. But padding=1 may cause this problem.
So, right now, I set 'kernel size=2,padding=0' in order to shape matching....Hope fix it ASAP~~~~

[2019-03-27 03:40] junrushao1994 commented on #14454
Cannot reproduce `test_gluon_contrib.test_contrib_unroll` now, did I miss anything?

[2019-03-27 03:44] chinakook commented on #13928
Based on experience, you should use newer version of CUDA and CUDNN to get more performance. In my opinion, cuda 8.0 is obsoleted.

[2019-03-27 03:56] reminisce commented on #14454
I took a look at unittest.log. `test_gluon_contrib.test_contrib_unroll` should have been fixed by
https://github.com/apache/incubator-mxnet/pull/14520/files#diff-18a3d5a32b024eb7f4d6560001898c4cL755
Thanks for working on it.

[2019-03-27 04:43] haojin2 commented on #14539
Hi, which autotuning are you talking about? Is it something like "Finding the best convolution algorithm..."?

[2019-03-27 04:48] chenjunweii commented on #14539
@haojin2 yes, that is what i mean, the program autotune every time when it is launched, even though the program is not modified

[2019-03-27 05:24] YutingZhang commented on #14522
Both before an after. I believe it should be a different issue.

[2019-03-27 05:36] haojin2 commented on #14539
Well it's kind of a necessary step for now if you're using CuDNN, TF also has this tuning part for the CuDNN version. It's finding the fastest convolution algorithm given the memory constraints of your GPU. I think what you just said (caching the tuning result on the same machine) may be a way to save some time, I'll take a look into this ASAP and get back to you.

[2019-03-27 07:04] eureka7mt commented on #14515
You can use
`gluon.nn.Conv2D(10, 3, prefix='conv1_')`

[2019-03-27 09:29] jrosebr1 commented on #14507
The `http://data.dmlc.io/mxnet/models/imagenet/vgg/vgg16.tar.gz` link is returning a 403 error. It looks like you're using AWS but the .tar.gz file permissions are not set for public URLs. Can that URL (and the other model URLs) be updated?

Thank you!

[2019-03-27 09:58] lebeg commented on #14507
@jrosebr1 the link you provided is a bit confusing, it should be either `http://data.dmlc.ml/...` or `http://data.mxnet.io/...`.

In any way check latest master that has #14504 merged. If you notice some other link failing let us now.

[2019-03-27 10:11] arcadiaphy commented on #14522
[code]

![image](https://user-images.githubusercontent.com/4437140/55067902-86ab7200-50bb-11e9-91d7-9a4bc1f74778.png)

Pretty interesting bug, seems like `cuda out of memory` cannot be triggered in custom op.

[2019-03-27 10:21] wkcn commented on #14522
OOM on CPU gets stuck too.

[2019-03-27 10:55] arcadiaphy commented on #14522
@wkcn I think it's not related to OOM, looks more like LOG(FATAL) gets stuck.

[2019-03-27 11:54] lambdaofgod opened #14541 "gluon's dataloader crashes if num_workers > 0"
## Description
gluon's dataloader sometimes crashes if num_workers > 0
This seems related to #11908

## Environment info (Required)

[code]
I'm using MXNet 1.3.1

## Error Message:

Sometimes I get
[code]

Sometimes also

[code]

## Minimum reproducible example

[code]

## What have you tried to solve it?
I tried setting `pin_memory` argument to True, but the problem persists.

[2019-03-27 12:24] chenjunweii commented on #14539
@haojin2 Thanks ! and I know that tvm got something similar function which can tune conv layer or fullyconnected layer and save the tuned result to the model, so it can be loaded next time without tuning again. but such function seems not exist in mxnet.

[2019-03-27 14:22] ptrendx commented on #14047
Hi @renganxu, could you post here exact command lines you tried (so the `mpirun ... python train_imagenet.py ...` line)? I did not yet have a chance to test on 2 nodes, but I run multiple single node 8 GPU jobs using horovod (so should be the same as your 2 node test) with the settings you posted and it worked as it should (convergence after 62 epochs). This is the exact line I used:
[code]

[2019-03-27 14:34] dbsxdbsx opened #14544 "Question on gradient calculation of example: reinforcement-learning/parallel_actor_critic"
I wonder the inner mechanism  of gradient calculation with this example. Here I took some excerpts from model.py as below:
[code]
First, I know for actor critic algorithm,  policy advantages should be maximized while state value difference should be minimized. And the absolute value for the 2 values are the same.
Then, my quesiton:
1. for policy advantages,  for gluon version, I know `log_policy`

[2019-03-27 15:11] marcoabreu commented on #14539
@ptrendx @dickjc123 @kellensunderland do you have an idea here?

[2019-03-27 16:25] vdantu commented on #14544
@mxnet-label-bot add [modeling, gluon, question]

[2019-03-27 16:27] vdantu commented on #14541
@mxnet-label-bot add [Gluon, bug]

[2019-03-27 16:58] jnorwood commented on #14507
there are more broken links still referencing data.dmlc.ml. for example:
`grep data.dmlc.ml */*/* 2>/dev/null`
finds several in `docs/model_zoo/index.md` and a few others
and you can repeat this and find several more in deeper subdirectories.
`grep data.dmlc.ml */*/*/* 2>/dev/null`
finds a couple in `tools/coreml/test/test_mxnet_models.py`
That's all I can find that are remaing, related to this is

[2019-03-27 17:49] lupesko commented on #13949
@nswamy I think we should open this issue, since it still persists.

[2019-03-27 18:19] stu1130 commented on #12894
Same as #14447

[2019-03-27 19:30] junrushao1994 commented on #14244
I prototyped a version that supports zero copy from numpy to DLManagedTensor in dlpack, but it turns out that MXNet hasn’t support dlpack 0.2 yet...

[2019-03-27 21:00] #14124 closed

[2019-03-27 22:07] Bfzanchetta commented on #13950
As of today (March 27th) I have similar errors on Jetson TX2, but with JetPack 3.2.1.
The action stated as "# Edit the Mshadow Makefile after line 122 <MSHADOW_CFLAGS += -DMSHADOW_USE_PASCAL=1>" does not solve the issue.

When I do it and move to  `$make -j $(nproc)` , I still get errors.

I'm still attempting to break through my similar error, however I noticed something on your error log.
` -gen

[2019-03-27 22:55] apeforest commented on #14496
@sun-dev is correct. The computation in this operator is not on the elements of the tensor but the between shape index of the tensor. There are add, multiplication and division involved in the transpose operator [here](https://github.com/dmlc/mshadow/blob/757a91c3ca4f5ebf4879739c0871d2d5534465ac/mshadow/extension/transpose.h#L74)

I did a performance comparison of different arithmetic operations b

[2019-03-28 00:03] wkcn commented on #14244
We can update the submodule dlpack.

[2019-03-28 00:12] YutingZhang commented on #14522
@arcadiaphy if LOG(FATAL) gets stuck, then there might be more stuff that can get stuck, which are harder to figure out.

[2019-03-28 00:34] anirudh2290 commented on #14522
I think worth trying would be checking if cudaGetErrorString is not called does it still get stuck. Since custom op uses its own custom threads it may not handle exceptions very well but still std::terminate should be called for unhandled exception. I am surprised that its not happening here for the unhandled exception.

[2019-03-28 01:56] yangfly commented on #14515
@eureka7mt Thank you for your advice, but there are two drawbacks with `prefix=name_`.
- Naming conflicts: conv with prefix='conv1_' and the 2th auto-named conv.
- Unnecessary suffix: `_fwd`

![image](https://user-images.githubusercontent.com/15797180/55123521-f06c6000-513d-11e9-9aa7-f55d3751ca22.png)

- Perhaps we should set a pythonic prefix '_' for auto-named layers, like `_conv1`, `_pool1`, `_

[2019-03-28 02:40] #13951 closed

[2019-03-28 02:40] #14358 closed

[2019-03-28 02:49] pengzhao-intel commented on #14454
@TaoLv will help taking look the MKLDNN related issues in the list :)

[2019-03-28 02:49] pengzhao-intel commented on #14454
cc @juliusshufan

[2019-03-28 02:56] TaoLv commented on #14454
@reminisce Do you have steps for reproducing those failures on local machine?

[2019-03-28 03:08] chinakook commented on #14459
```sudo nvidia-smi -pm 0```

[2019-03-28 03:09] reminisce commented on #14454
@TaoLv Let's talk offline today.

[2019-03-28 03:22] MenglingD opened #14548 "mx.viz.plot_network KeyError: 'ctc_loss0_output'"
## Description

I builded my network with `mx.sym.ctc_loss` for the final loss on speech recognition task, and with `mx.viz.plot_network` to make sure the right struct of network. But I got an exception as I invoke `mx.viz.plot_network`, even if the symbol of network is as simple as possible.

## Environment info (Required)

operating system: ubuntu-16.04 LTS
python version: python 3.5
mxnet versi

[2019-03-28 03:32] windoman commented on #14548
@szha

[2019-03-28 14:26] saptarshim-dal opened #14551 "Simple bind error while inferencing from an onnx model using mxnet on AWS EI"
## Description
I am trying to infer from an onnx model using MXNet on AWS EI and encountering the following error. The code is working as expected while using MXNet 1.2.1 and onnx 1.1.2. I am a noob in ML and have no clue about the error I am getting.

## Environment info (Required)
AWS c5.xlarge EC2 instance
AWS eia1.large EI accelerator
Python 2.7
amazonei-mxnet 1.3.0
onnx 1.2.1

## Code
import

[2019-03-28 14:42] TaoLv opened #14552 "Flaky: test_subgraph.test_pos_conv_bn_sum_relu"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14545/2/pipeline#step-710-log-899

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14543/1/pipeline/241#step-703-log-893

======================================================================

FAIL: test_subgraph.test_pos_conv_bn_sum_relu

-

[2019-03-28 16:33] renganxu commented on #14047
Hi @ptrendx, since my system could not install Docker, I converted the mxnet Docker container to Singularity container and then used Singularity container instead. My detailed command is:
[code]
The commands in the file container_cmd.sh is as follows:
[code]
The option "-mca btl_openib_receive_queues X,4096,1024:X,12288,512:X,65536,512" was added in MPI command because without it there will be err

[2019-03-28 17:33] larroy commented on #14522
Hi

I'm investigating this one. With the provided example I believe the cause of the error is the following at least in CPU context (changing gpu to cpu context in the example above).

[code]

[2019-03-28 18:57] #10867 closed

[2019-03-28 18:57] #14080 closed

[2019-03-28 21:34] vdantu commented on #14548
@mxnet-label-bot add [question]

[2019-03-28 21:35] vdantu commented on #14551
@mxnet-label-bot add [question]

@samskalicky : Would you be able to help here?

[2019-03-28 21:36] vdantu commented on #14552
@mxnet-label-bot add [Test, Flaky]

[2019-03-28 21:40] junrushao1994 commented on #14244
@wkcn I opened a PR about this to https://github.com/dmlc/dlpack/pull/38.

[2019-03-28 21:50] eric-haibin-lin opened #14555 "Flaky test:"
Occurred in https://github.com/apache/incubator-mxnet/pull/14543

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-14543/2/pipeline/

[code]

[2019-03-28 23:20] junrushao1994 commented on #14244
@wkcn Sorry I made a mistake. We already got dlpack 0.2 in MXNet, so everything should be fine

[2019-03-28 23:26] wkcn commented on #14244
In the submodule DLPack, DLPACK_VERSION is 010 rather than 020.

[2019-03-28 23:34] junrushao1994 commented on #14244
@wkcn this is because dlpack forgots to change its version number to 020 when releasing v0.2 lol. I check the commit hash [here](https://github.com/apache/incubator-mxnet/tree/numpy/3rdparty), and it is identical to tag [v0.2](https://github.com/dmlc/dlpack/releases/tag/v0.2).

[2019-03-29 02:30] Cogito2012 commented on #9998
@ShownX Have you found the solution to this problem? I am also struggling on this issue...

[2019-03-29 04:00] weihua04 opened #14558 "How to read multi-rec files efficiently?"
I made several rec files from different datasets, i 'd like to train the multi-rec files at the same time efficiently. I have tried "for" cycle to read each of the rec of a mini-batch , it works, but slow.

Does anyone has any good idea to load multi-rec files efficiently?

ps: i used imagerecorditer

[2019-03-29 04:39] wkcn opened #14559 "Wrong output of BatchNorm when axis != 1 and inconsistent `running_var`"
## Description
Hi, there.
I wrote a testcase for BatchNorm, and I found that there may be wrong output for BatchNorm when axis != 1.
Test Code: https://gist.github.com/wkcn/7632423ae7195e00292f544a61b75839/raw/2dece4605e85d45abcaed7dee2b3aa53f50c146b/test_bn.py

The test only passes when axis = 1, CPU mode.
If we doesn't compare `running_var`, the test will pass when axis = 1, GPU mode.
When axis

[2019-03-29 04:55] eric-haibin-lin commented on #14541
@zhreshold

[2019-03-29 05:17] arcadiaphy commented on #14522
@anirudh2290 @wkcn @YutingZhang Finally figure out the reason:

Normally, when a exception is thrown in spawn thread, it should be caught in `std::exception_ptr` and re-thrown in main thread to ensure proper except handling and avoid `std::terminate`. This mechanism is introduced in #9681 to handle exceptions in operator.

But there are still two problems in the except handling of custom op:

1. T

[2019-03-29 06:27] wkcn commented on #14559
close since my mistake.

[2019-03-29 06:27] #14559 closed

[2019-03-29 06:48] vdantu commented on #14558
@mxnet-label-bot add [question]

[2019-03-29 08:01] pengwangucla commented on #12001
I tried with all the solutions, and neither of them is working.  It is really weird When I only use

The problem still exists, after given key. There is no matching error, however, the program running is jammed and never continue. The maximum number of syncbn I am able to launch is 2. I don't know why

[2019-03-29 09:23] ptrendx commented on #14047
Hmmm, I'm not sure how singularity works, are you sure that horovod sees all 8 ranks there (since you do mpirun on singularity and not on the actual train_imagenet.py script)? Because I could easily see it not converging if e.g. horovod sees only a subset of ranks (which would make learning rate too high).

For example, how many copies of lines like this (with the same batch number) do you see?
[c

[2019-03-29 09:26] ptrendx commented on #14047
Please print `kv.num_workers` after this line: https://github.com/mlperf/results/blob/master/v0.5.0/nvidia/submission/code/image_classification/mxnet/train_imagenet.py#L99

It should be 8.

[2019-03-29 12:45] arcadiaphy commented on #14522
@wkcn @anirudh2290 Like what I've mentioned before, adding on_complete callback in CustomOperation is not a good design, since the calling may be skipped when exception happens:
https://github.com/apache/incubator-mxnet/blob/master/src/operator/custom/custom-inl.h#L128

Any good idea on how to avoid it?

[2019-03-29 13:30] fhieber opened #14563 "Performance decrease with pypi's mxnet==1.4.0 (Mac)"
I am experiencing significant slowdowns with the latest pypi release of `mxnet==1.4.0` on MacOs when running transformer training with Sockeye:

[code]

Interestingly, this difference in performance does **not** exist on a Linux machine (with or without GPU). That is, I don't see any difference in speed between Linux' `mxnet-cu92==1.3.1` and `mxnet-cu92==1.4.0.post0`, or `mxnet==1.3.1` and `mxnet=

[2019-03-29 14:18] two-names opened #14564 "Features of autograd.record"
Hello!

What could be the problem?
I have saved gluon model after 250 epochs like (model.save_parameters(...)).
After that I try to get output from load_params model:

First way is:
[code]
Second way is just:
`outputs = [model(X) for X in data]  `

First way gives better predictions.

What could be the reason?

[2019-03-29 14:48] TaoLv commented on #14552
Hi @marcoabreu , is it possible to check the failure history of a certain case? Just wondering if this case is caused by some recent changes or has been there for a while.

[2019-03-29 15:01] TaoLv commented on #14552
Seems there are actually two failing cases:
test_subgraph.test_pos_conv_bn_sum_relu
test_subgraph.test_pos_conv_bn_relu

[2019-03-29 15:06] ptrendx commented on #14564
If you have e.g. batchnorm in your model, the first way will use training mode of it (using statistics from your batch), whereas the second way will call inference mode (which uses statistics gathered during training).

[2019-03-29 15:42] #14506 closed

[2019-03-29 15:44] two-names commented on #14564
@ptrendx
But default use_global_stats is False in all BN in my model. It's meaning that global moving statistics is not agreagating.

[2019-03-29 16:32] Chouffe opened #14566 "[Clojure][tests] Set appropriate log level for tests"
Right now the tests are really noisy and we should set the appropriate log level for swallowing up to info level of logs.

[2019-03-29 16:46] ptrendx commented on #14564
No. `use_global_stats=True` would mean that you don't calculate statistics during training, `False` calculates statistic from a current batch. In inference mode you never calculate statistics, and instead always use the global mean and variance.

[2019-03-29 17:21] two-names commented on #14564
@ptrendx thanks!

[2019-03-29 17:55] jrosebr1 commented on #14507
@lebeg Sorry for my misunderstanding. What is the correct URL to download the VGGNet (trained on ImageNet) model?

[2019-03-29 18:09] apeforest commented on #14563
@fhieber Can you post a script to reproduce this? I am investigating one of the performance issue https://github.com/apache/incubator-mxnet/issues/14496 introduced in 1.4.0. They could be due to the same rootcause.  Thanks!

[2019-03-29 18:10] apeforest opened #14569 "performance degradation in model inference from 1.3.1 to 1.4.0"
There seems to be a regression on resnet-18 model inference time (When running on GPU) post this PR, this was caught in MMS. nightly runs, the changes in this PR seem to be causing this issue.

**Setup**

We use MMS docker images to run load tests, we can start a local container using the following command.

[code]

for building MXNet opencv 3.2 and CUDA 9.2 were used.

Load testing was done using

[2019-03-29 19:37] larroy commented on #14522
In CPU I see a crash in sgemm. I don't see the relation with exceptions in CPU.

[code]

[2019-03-29 19:40] larroy commented on #14522
In GPU this is the segmentation fault that I get. Are we talking about the same problem?

[code]

[2019-03-29 20:18] jnorwood commented on #14507
[http://data.mxnet.io/models/imagenet/vgg/vgg16-0000.params](url)
[http://data.mxnet.io/models/imagenet/vgg/vgg16-symbol.json](url)

These above work,  but the [https://mxnet.apache.org/model_zoo/index.html](url) is still not updated, else I would close this.

[2019-03-29 20:31] zhreshold commented on #14541
@lambdaofgod This is fixed in 1.4.0 and master

[2019-03-29 20:45] larroy commented on #14522
I talked to @anirudh2290 and I understand we are talking about two separate issues here:

* Exception handling in custom ops
* The integer overflow problem that I described.

@arcadiaphy do you plan to send a fix for the handling of exceptions in custom ops?

I can work on the integer overflow problem.

[2019-03-29 21:25] larroy commented on #14522
This repro in imperative mode isolates from the exception handling problem in custom ops:

[code]

[2019-03-30 00:41] haojin2 commented on #14564
@two-names Please feel free to re-open the issue if you have further questions, closing for now.

[2019-03-30 00:41] #14564 closed

[2019-03-30 01:22] #14498 closed

[2019-03-30 02:09] vdantu commented on #14563
@mxnet-label-bot add [performance, question, pending requester info]

[2019-03-30 02:35] arcadiaphy commented on #14522
@larroy Yes, two different issues here.

Reproduced the gemm bug too, but I'm focusing on the exception handling issue.

[2019-03-30 05:29] anirudh2290 commented on #14522
Thanks @arcadiaphy ! Nice work! We can do this incrementally. Would you be willing to start with a PR for 1 ?

[2019-03-30 18:27] eric-haibin-lin commented on #14434
Are you using gluon trainer API? You can set update_on_kvstore=False and use one dist kvstore to push/pull data

[2019-03-31 03:22] ravi-data-science opened #14572 "Documentation - MxNet Examples - Link broken"
## Description
This link returns a '404'
https://github.com/apache/incubator-mxnet/blob/master/example/python-howto

[2019-03-31 03:46] vdantu commented on #14572
@mxnet-label-bot add [unclear error/doc]

[2019-03-31 06:39] fhieber commented on #14563
@apeforest thanks for investigating! I cannot provide a small script at the moment that reproduces the issue, I just observed the speed difference running various system tests with Sockeye. If you want to run them for yourself you can do the following:

[code]
The speed difference will be visible directly from the first log messages of the form `Speed: 1004.51 samples/sec 10366.54 tokens/sec 62.78

[2019-03-31 08:54] fhieber opened #14574 "Feature Request: 'arange_like/enumerate' operator"
It would be quite useful to have an operator that can create ranges based on an existing 'shape_like' symbol, similar to the ops `zeros_like`, `ones_like`, and other `*_like`.

For example, I would like to enumerate the positions of a symbol with dynamic shape:
[code]

Another name could be 'enumerate'.

[2019-03-31 10:49] Chouffe commented on #14517
This should be fixed now with: https://github.com/apache/incubator-mxnet/pull/14531
Can we close it?

[2019-03-31 10:50] #14517 closed

[2019-03-31 12:35] arcadiaphy commented on #14522
@anirudh2290 Have started a PR for 1, but the really tricky one is 2.

[2019-03-31 12:58] wkcn commented on #14522
Great! Thanks fo your analysis!
I will read the comments and review the PR : )

[2019-03-31 14:26] dwSun opened #14576 "Build failed on jetson nano"
## Description
Failed with **fatal error: emmintrin.h: No such file or directory** on jetson nano trying build mxnet master branch from source.

## Environment info (Required)

[code]

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

MXNet commit hash:
8c2a25fa7058f06945d2befd3030e834a8b76d27
Build config:
Follow instructions from
http://mxnet.incubator.apa

[2019-03-31 17:11] #12216 closed

[2019-04-01 05:55] pengzhao-intel commented on #14467
@Amagong @Soonhwan-Kwon did you get the expected results?
We'd like to know some feedbacks and continuously improve the INT8 flow and quality :)

[2019-04-01 06:51] #14486 closed

[2019-04-01 08:40] rocknamx8 commented on #14116
I also have this problem in version 1.4.0, need a fix.

[2019-04-01 13:06] guoxun commented on #11032
mark

[2019-04-01 14:25] asmushetzel commented on #12932
PR #14579 will bring in log-pdf/pdf of almost all distributions mentioned above.

[2019-04-01 15:02] vdantu commented on #14574
@mxnet-label-bot add [operator, feature]

[2019-04-01 15:03] vdantu commented on #14576
@mxnet-label-bot add [build, breaking]

[2019-04-01 15:20] elfring opened #14580 "Remove unnecessary null pointer checks"
[An extra null pointer check is not needed in functions](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for null before delete p?") like the following.
- [KVStoreDist::RunServer](https://github.com/apache/incubator-mxnet/blob/992c3c0dd90c0723de6934e826a49bad6569eeac/src/kvstore/kvstore_dist.h#L130 "KVStoreDist::RunServer function")
- [MNISTIter](https://github.c

[2019-04-01 15:47] wirisfalvaro opened #14581 "Problem loading pre-trained model in C++ with cpp-package and CPU only inference"
## Description
Compiling a C++ example for CPU inference by loading a pre-trained model leads to segmentation fault. The MXNet library is **compiled for CPU without OpenCV and OpenMP**.

## Environment info (Required)
Since this is a C++ issue, I only paste relevant system info.
[code]
I'm compiling MXNet from source reducing the dependencies with the ultimate goal of compiling a static executable

[2019-04-01 16:29] zhanghang1989 commented on #12001
Gluon-CV is using syncBN for training all segmentation model and YoloV3. Please take a look at how to use it.

[2019-04-01 16:58] vdantu commented on #14580
@mxnet-label-bot add [good first issue, c++]

[2019-04-01 18:07] samskalicky commented on #14551
@saptarshim-dal can you please post/link to the files needed to reproduce using your code? Specifically the facenet1001.onnx and image0001582.jpgff.jpg files. Also can you post valid successful output of this script so we can try and reproduce?

[2019-04-01 18:09] bhavinthaker commented on #14551
Another occurrence of this problem with details is here: https://forums.aws.amazon.com/thread.jspa?threadID=300859&tstart=0

[2019-04-01 19:00] zachgk opened #14583 "Install page history broken"
## Description
On the website install page, there are buttons to select the installation configuration. When you click those buttons, it changes your browser history. But, if you press the browser back button, it won't change the displayed contents or update the page to the previous configuration. For the same reason, it does not react to the forward button as well.

[2019-04-01 19:01] anirudh2290 opened #14584 "Conversion from FP32 to Mixed Precision Models"
## API Addition

Users want to bring a FP32 model and convert it to a Mixed precision model to run inference on it. They want to use the model zoo to convert pretrained models in Python and other frontends. They can do this with gluon models today by casting the inputs and the blocks but the same cannot be done for symbolic models (json and params). Proposing to add an API to convert FP32 models t

[2019-04-01 19:01] zachgk commented on #14583
@mxnet-label-bot add [Website, Bug]

[2019-04-01 19:10] sandeep-krishnamurthy commented on #7592
With Gluon-CV examples, we see similar to better accuracy reached with MXNet. Closing this issues due to inactivity and no reproducible samples.
Please reopen if issue still persists and need help.

[2019-04-01 19:10] #7592 closed

[2019-04-01 19:48] sandeep-krishnamurthy commented on #14408
@songziqin - I hope @leleamol response addressed your concern. Let us know if you still facing issue.

Closing the issue for now, please reopen if issue still exists.

[2019-04-01 19:48] #14408 closed

[2019-04-01 20:11] abhinavs95 commented on #13792
Looks like #14541 is a duplicate issue of this. Acc @zhreshold comment there the issue is fixed in 1.4.0 and master

[2019-04-01 20:55] sandeep-krishnamurthy commented on #14239
@gigasquid - Can you please help take a look at this issue. Thanks!

[2019-04-01 21:23] eric-haibin-lin commented on #4887
@jiajinyu thanks for sharing the solution. Did you have time to create a PR for the fix?

[2019-04-01 21:35] anirudh2290 commented on #13988
@mlourencoeb please provide a reproducible script.

[2019-04-01 21:45] sandeep-krishnamurthy commented on #14087
@pengzhao-intel - Any suggestion here? Thank you.

[2019-04-01 21:51] sandeep-krishnamurthy commented on #13825
@thomelane - Can you please confirm if the issue is resolved with CUDNN support?
Or, this may be related to this - https://github.com/apache/incubator-mxnet/issues/14198

[2019-04-01 22:34] larroy commented on #14522
nice!  I will work on a fix for tensor shapes in the Blas Engine, unless somebody else has a strong desire to help there.

[2019-04-01 23:01] sandeep-krishnamurthy commented on #13545
@Joke09 - Are you still facing the performance issue?

[2019-04-01 23:25] sandeep-krishnamurthy commented on #13075
@idealboy - Do you still face this issue?
Comment here from @leleamol will be useful - https://github.com/apache/incubator-mxnet/issues/14408#issuecomment-473092272

[2019-04-01 23:34] larroy commented on #14522
@mxnet-label-bot [C++, Backend, Bug, Exception Handling]

[2019-04-01 23:41] sandeep-krishnamurthy commented on #12577
@liu6381810 - Waiting for you updates.

[2019-04-02 00:47] pengzhao-intel commented on #14087
Sorry for the delay. @NeoZhangJianyu @yinghu5 will help to figure out and fix the issue :)

[2019-04-02 01:11] ZhennanQin commented on #14584
Hi @anirudh2290, It's really good to have AMP supported for symbolic models.

One thing I want to mention is, we want to let AMP support all kinds of low precision float, not only `FP16`. For the API itself, I think it's OK as target_dtype and op list are all configurable. For the NNVM pass implementation, we wish to avoid hard code `FP16` and make it easy extend to support other low precision flo

[2019-04-02 01:29] #14485 closed

[2019-04-02 02:21] anirudh2290 commented on #14584
@ZhennanQin Thanks for the suggestion! Yes the plan is tho keep the NNVM pass target_dtype agnostic and allow for easy extension for BF16. In future, expectation is  amp_cast and amp_multicast ops should support BF16 apart from FP16 and there should be corresponding lists like these for (https://github.com/apache/incubator-mxnet/pull/14173/files#diff-b79bfa3e02355c43ca5b195ef67172a5R21) BF16 too.

[2019-04-02 03:07] dongjunjundong opened #14589 "convert from mxnet to onnx failed, with Unrecognized attribute: spatial for operator BatchNormalization"
## Description
Failed to convert pretrained mode cifar_resnet110_v1 from mxnet format to onnx;

## Environment info (Required)
using the mxnet zoo pre trained module cifar_resnet110_v1
mxnet version 1.5.0
the convert call is below:
input_shape = [(1,3,32,32)]
export_model("simple_net-symbol.json","simple_net-0000.params",input_shape)

## Error Message:
(Paste the complete error message, including

[2019-04-02 03:24] lanking520 opened #14590 "Scala/Java reshape problem"
Currently I am facing an issue with Scala/Java. If tried to do the following reshape method, the function will fail:
[code]

Error:
[code]

On the backend, this is being called:
[code]

However, Python seemed to be fine:
[code]

I think this might be some bugs in the operator side.

[2019-04-02 03:48] szha commented on #14485
@ymjiang sorry for the late reply. `update_on_kvstore` is an option in Gluon’s Trainer that it uses to decide whether parameters should be bound to gradient tensors, and if so it would directly apply the gradient on the parameter.

[2019-04-02 04:08] dongjunjundong commented on #14589
onnx version 1.4.1

[2019-04-02 04:55] szha commented on #5034
@ChaiBapchya there's no existing feature in mxnet for calculating flops and people usually estimate this based on manual calculation on different (mostly gemm type) operators.

[2019-04-02 05:36] ymjiang commented on #14485
Hey @szha , thank you very much for the reply. Later I found out that the bottleneck is actually at somewhere else, rather than on PS update. So I closed this issue. BTW, `update_on_kvstore` is an useful information to me :)

[2019-04-02 05:48] mlourencoeb commented on #13988
I ended up converting the modelo to onnx ans performing inference with opencv where we can have granular update of the number of threads.

Thanks anyway :)

[2019-04-02 05:48] #13988 closed

[2019-04-02 07:49] pilhoon commented on #3192
`sym.list_outputs()` will work too.

[2019-04-02 08:31] ziyuang commented on #13288
I still have linking errors in creating `bin/im2rec` with OpenCV 4.0.1 (MXNet HEAD: 09ba8be4be36135e2a8d6c439313f5eed729d4bc), mostly from not able to find `cv::String::allocate`, `cv::String::deallocate`, and `cv::error`. OpenCV 4 has moved to `std::string` so there are no methods of `allocate` or `deallocate`.

[code]
The OpenCV 4 libraries have been installed to `/usr/local/lib`.

[2019-04-02 08:33] #14581 closed, assigned to nobody

[2019-04-02 09:08] wkcn opened #14594 "[bug]mx.nd.stack couldn't stack scalars"
## Description
Hi, there.
I found a bug about `mx.nd.stack`, which couldn't stack scalars whose shape is `()`.

## Environment info (Required)
Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):
gcc

MXNet commit hash:
5d2a4510c2c226c6921a8a213d04461f68ca7173

Build config:
`make -j 5 USE_OPENCV=1 USE_BLAS=openblas U

[2019-04-02 09:39] sxjscience commented on #14073
Current I propose to solve the issue following these two steps:

- [ ] Add a new 'fp16_mixed_reduce' flag to the LayerNorm operator. When the flag is turned on, the reduction will be performed in fp32 when the input/output have dtype=fp16.
- [ ] Accelerate the implementation of LayerNorm by taking advantage of the techniques in https://github.com/NVIDIA/apex/blob/master/csrc/layer_norm_cuda_kernel

[2019-04-02 13:38] tim20120526 commented on #2838
thank you!

[2019-04-02 13:58] gigasquid commented on #14239
There is definitely a bug in this area. It is on my list to look into. Another possible thing that might impact / fix this is that there are plans from the Scala team to look into porting the RNN code into the base package. If this is the case, then we can just use the RNN as interop from that.

[2019-04-02 15:40] vandanavk commented on #14589
MXNet has support up to ONNX v1.3.0. [BatchNormalization (Opset7)](https://github.com/onnx/onnx/blob/master/docs/Changelog.md#BatchNormalization-7) had a an attribute "spatial" which is being exported from MXNet to ONNX. Looks like this attribute has been dropped in [BatchNormalization (Opset 9)](https://github.com/onnx/onnx/blob/master/docs/Changelog.md#BatchNormalization-9).

Please try using ON

[2019-04-02 20:12] abhinavs95 commented on #14594
@wkcn looks like this is related to #14227 ?

[2019-04-02 20:18] renganxu commented on #14047
Hi @ptrendx , Horovod sees all 8 ranks there. Because with 1 node, the speed is ~5000 images/sec, and with 2 nodes, the speed becomes ~10000 images/sec. I added my log file in https://gist.github.com/renganxu/f68c4c680ad7e016bea8ee981f72c60c. Yes there is only one copy for those training steps, but there are two evaluation copies because two nodes are used. Could you help check what is the issue t

[2019-04-02 20:19] lanking520 commented on #14590
Here is the corresponding [Python method](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/ndarray/ndarray.py#L1065).

This method  is being called:
[code]

[2019-04-02 20:29] lanking520 commented on #14590
Thanks @stu1130 finding, the Actual PR is here where Python made the switch:

https://github.com/apache/incubator-mxnet/pull/10360

Will raise a PR to update the corresponding Scala code

[2019-04-02 21:06] anirudh2290 commented on #14594
scalars are not currently supported. this should probably be fixed by the zero size tensor support work.

[2019-04-02 22:14] abhinavs95 commented on #14373
@whamza15 This is not an issue of not using all variables in hybrid_forward as the following test works
[code]

[2019-04-02 22:15] wkcn commented on #14594
@abhinavs95 @anirudh2290 Thank you! It is an issue about zero dimension tensor, which is similar to #14227

[2019-04-03 01:12] Baby47 commented on #14471
Hi,@roadcode,
I meet the same problem with you, the error occurs like this:
/usr/local/lib/python3.5/dist-packages/mxnet-1.3.1-py3.5.egg/mxnet/libmxnet.so: undefined symbol: _Z9rleDecodePK3RLEPhm
This means i cannot import mxnet in Python3.5, but it can be imported in python2.7, Have you tried it in python 2.7? Maybe some libraries are tangled?

[2019-04-03 01:35] YutingZhang opened #14602 "Inconsistent naming of pow/power between mx.symbol and mx.nd"
`mx.nd.pow` and `mx.symbol.power` are named inconsistently. As a result, in a HybridBlock, one cannot do `F.pow` or `F.powerl` directly.

[2019-04-03 01:55] #13506 closed

[2019-04-03 01:55] #13584 closed

[2019-04-03 01:59] szha commented on #14548
@windoman sorry for the late reply. The index comes from that ctc_loss op is set to return more than one output: https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/ctc_loss.cc#L103

[2019-04-03 03:40] haojin2 commented on #14602
It's indeed a problem... To ensure backward compatibility I'll add both `nd.power` and `sym.pow`. How do you like such a fix?

[2019-04-03 04:09] #14439 closed

[2019-04-03 04:22] YutingZhang commented on #14602
@haojin2 That'll be perfect! Thanks!

[2019-04-03 04:43] haojin2 commented on #14602
@YutingZhang WIP, will let you know when the PR is out, should be within today.

[2019-04-03 06:03] haojin2 commented on #14602
@YutingZhang  Fix in #14606

[2019-04-03 07:58] NeoZhangJianyu commented on #14087
@Sandeep Krishnamurthy
"This issue is caused by 2 conflicting OMP runtimes" as mentioned by @stsukrov.

For MXNet installed by PIP/Conda by now:
1. 'mxnet-mkl' is without the problem
`pip install mxnet-mkl` or `conda install mxnet-mkl`

 2. 'mxnet' have such issue.
`pip install mxnet` or `conda install mxnet`

For MXNet installed by source:
1.	Set PYTHONPATH
`$ export PYTHONPATH=/path/to/incubator

[2019-04-03 08:16] stsukrov commented on #14087
@NeoZhangJianyu

Thanks for providing work around recommendations.

Was actually dreaming of a build, that just works without venv or LD_LIBRARY_PATH-thaumaturgy.

[2019-04-03 08:50] NeoZhangJianyu commented on #14087
@stsukrov
Yes, I agree with you. I don't like to set LD_LIBRARY_PATH in fact.

In development server,  we always install many many different release libs.  So the conflict will happen easily. venv and LD_LIBRARY_PATH are easy way to avoid/clear the conflict of lib files.

In server for deployment, it's better to copy the libs in /usr/lib if the install/upgrade tool/script are good enough.

venv:

[2019-04-03 09:18] lebeg commented on #14087
Just to make a few connections between tickets:

Here was an attempt to remove bundled conflicting OpenMP library: https://github.com/apache/incubator-mxnet/pull/12160

[Link](https://lists.apache.org/thread.html/4827f0f742b6e7e070da350ea81226d059401527f3072ce8b33c1fdf@%3Cdev.mxnet.apache.org%3E) to the stale dev list discussion.

A proposal from my side for a robust and stable solution is to make

[2019-04-03 10:07] IvyGongoogle opened #14609 "The speed of `MXPredCreate` is very slow for `mxnetv1.0.0/V100/cuda8.0/cudnn5.0/driver410`"
hello, I have an issue. When I use `mxnetv1.0.0/V100/cuda10.0/cudnn7.5/driver410` to run a inference for my model using c++ api, the time of `MXPredCreate` seems to be normal, but when I use `mxnetv1.0.0/V100/cuda8.0/cudnn5.0/driver410`, the time of `MXPredCreate` is very slow. The below is test results:
[code]
I have two question.
first: why the `MXPredCreate` speed of the case2 is still very slo

[2019-04-03 10:18] wkcn opened #14610 "[Feature Request] Disable lazy evaluation"
Hi! there.

Consider this case:
It takes T1 seconds to execute an operator `mx.nd.some_op`.

I have the code:
[code]
Because of lazy evaluation, the excution time is (T1 + T2) seconds.
Using `wait_to_read` is unuseful  to address the issue, since `wait_to_read` will block until the computation finishes.

Is there any solution to disable lazy evaluation, and execute the operator immediatly? Thank y

[2019-04-03 12:01] wkcn commented on #14610
I wrote a test case:
[code]

The output is as follow:
[code]
It takes about 2 seconds to execute all operators.

However, after uncommenting `time.sleep(5)`, there is the output:
[code]

It shows that `wait_to_read` spent `2e-5` seconds.
When does the operators execute?

[2019-04-03 13:31] dreadlord1984 commented on #14471
I meet the same error, solved by using the cocoapi code (https://github.com/RogerChern/cocoapi). Must use this version cocoapi when you build mxnet!!!

[2019-04-03 13:49] jrosebr1 commented on #14507
Thanks @jnorwood!

[2019-04-03 14:38] ptrendx commented on #14047
Hmmm, your accuracy seems low from the start, maybe there is something wrong with initial parameter broadcast? Could you set seeds to be the same (just hardcode them) for all ranks in https://github.com/mlperf/results/blob/master/v0.5.0/nvidia/submission/code/image_classification/mxnet/train_imagenet.py#L109-L114?

[2019-04-03 17:08] lanking520 commented on #14590
Close this one since the problem solved

[2019-04-03 17:08] #14590 closed

[2019-04-03 18:34] lanking520 commented on #14610
@wkcn So it seemed the concept of Lazy evaluation is not totally applicable to all ops based on the fact that op get executed even if `time.time()` is called. Try to adjust the wait time to see what happened.

[2019-04-03 19:21] junrushao1994 commented on #14342
#14612

[2019-04-03 19:21] #14342 closed

[2019-04-03 20:43] lanking520 commented on #14609
@IvyGongoogle Based on my understanding, the first call for inference would copy model info from CPU to GPU which would expect a long time to take.

I am not quite sure the reason about the second question, but keep your driver and lib up-to-date is always recommended.

+ @leleamol if you have some context to put in here

[2019-04-04 00:02] apeforest commented on #10002
@lonelykid PR is out for review https://github.com/apache/incubator-mxnet/pull/14613
Your comments are appreciated.

[2019-04-04 02:47] roadcode commented on #14471
@Baby47 i just copy the libmxnet.so file from SimpleDet docker images to solve this problem

[2019-04-04 12:37] mdv3101 commented on #4659
Still facing issues unable to work and now have to change the entire architecture of the application because of this

[2019-04-04 17:22] abhinavs95 commented on #14505
@mzient fix in #14585. Thank you for your solution.

[2019-04-04 17:29] abhinavs95 commented on #13313
@mengjiexu looks like #14541  is a duplicate issue of this. Acc @zhreshold comment there the issue is fixed in 1.4.0 and master

[2019-04-04 17:42] abhinavs95 commented on #13126
Hi @ThomasDelteil I think this issue is fixed in 1.4.0, I am able to run your example with no errors. Also mentioned in #14541

[2019-04-04 18:04] lanking520 opened #14618 "Consistent crash on CI test Python3: TensorRT GPU"
This test is failed at:
[code]

Related CI runs:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/master/496/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14575/3/pipeline

Error message:
[code]

[2019-04-04 18:46] lanking520 commented on #14558
@weihua04 could you please share your code in here?

[2019-04-04 19:17] szha commented on #9686
https://lists.apache.org/thread.html/a969d92e32f39e9540f3afd3d3a594efb0591083669a79e1accd02d4@%3Cdev.mxnet.apache.org%3E

[2019-04-04 19:21] szha opened #14619 "[Discussion] 1.5.0 Roadmap"
Let's start a discussion here about the roadmap towards 1.5.0. We are looking for:

- New features that are useful to your research and development.
- Improvements and patches to existing features.

If you have any item that you'd like to propose to have in the roadmap, please do:

- Create (or locate existing) issue/pull request for the item, note the issue/pull request number.
- Comment in this

[2019-04-04 19:49] szha commented on #14619
The changes since 1.4.0 release that are already merged in the master branch will be included in the 1.5.0 release. The list can be found at: https://github.com/apache/incubator-mxnet/compare/v1.4.x...master?expand=1

[2019-04-04 19:52] abhinavs95 commented on #13943
Hi @2void mxnet.image.imread() uses opencv imread under the hood. Using the snippet below we can check that the results from both are identical. (I am using mxnet 1.4.0)
[code]
The difference in output between opencv and skimage, from what I could gather, is due to different techniques of decoding the jpeg image (source: https://github.com/scikit-image/scikit-image/issues/2293). However, the outpu

[2019-04-04 21:01] eric-haibin-lin commented on #14619
Hi everyone, I've created v1.5.x branch here: https://github.com/apache/incubator-mxnet/tree/v1.5.x
Before we have an agreement on the timeline and features, I will synchronize this branch with the master branch periodically. Once we have decided the code freeze day, we will only cherry-pick required changes/features to the branch then.

[2019-04-04 21:43] anirudh2290 commented on #14619
Thanks for starting this! I would like to include exception handling fixes: #14397 (@anirudh2290), #14433(@anirudh2290) , #14575 (@arcadiaphy). These three should be merged by end of next week hopefully. Conversion of FP32 models to mixed precision models (#14584) (Should be in by May first week tentatively). In addition, I have some changes to profiler to visualize gpu memory pooling and help mak

[2019-04-04 22:07] lanking520 commented on #5487
@PeterFelixNguyen Are you still facing this problems?

[2019-04-04 22:09] lanking520 commented on #4159
Close this issue due to the inactivity. Please feel free to reopen this if you are still facing the same problems.

[2019-04-04 22:09] #4159 closed

[2019-04-04 22:18] lanking520 commented on #6917
Close this issue due to the inactivity. Currently we have full support on ONNX where you can translate your model to this type and used in MXNet. Please feel free to reopen it if you are still facing the problems or would like to improve the script.

[2019-04-04 22:18] #6917 closed

[2019-04-04 22:20] lanking520 commented on #7044
@BenEngbers Are you still facing the same problem?

[2019-04-04 22:22] lanking520 commented on #7591
@lance-cs-wz @tianhaijie Have you tried the most up to date package? Are you still facing the problems?

[2019-04-04 22:24] lanking520 commented on #7653
Close this issue due to the inactivity. Please try with the up-to-date package and use blas version 0.33+ in your build. Please feel free to comment or reopen it if you are still facing the same problems.

[2019-04-04 22:24] #7653 closed

[2019-04-04 22:59] abhinavs95 commented on #14373
I am trying to figure out if this is actually a bug and if there is a possible workaround for this usecase.

@sandeep-krishnamurthy @safrooze Could you please have a look?

[2019-04-05 00:08] eric-haibin-lin commented on #14610
MXNET_ENGINE_TYPE=NaiveEngine?

[2019-04-05 00:36] wkcn commented on #14610
Test Code:
[code]

Engine|calling `time.sleep(5)`|wait_to_read time|total time|
----------|----|----|----
ThreadedEnginePerDevice|Yes|4e-5|5.01
ThreadedEnginePerDevice|No|0.705|0.708
NaiveEngine|Yes|4e-5|5.7
NaiveEngine|No|5.96e-6|0.68

[2019-04-05 00:37] pengzhao-intel commented on #14619
MKLDNN Quantization PR

sum | #14614
-- | --
relu | #14604
refactor requantize | #14608
conv + activation | WIP
cache op | WIP
SSD COCO model | WIP

[2019-04-05 01:14] anirudh2290 commented on #14610
@wkcn I am not sure I understand your question. As you showed from your numbers the op seems to be executing parallelly with the sleep thread.  So when you execute op(T1) + sleep(T2) you dont  see T1 + T2 but see somewhere close to T2 if T2 > T1. For example op execution time without sleep was 2 seconds. op execution time with sleep was 5 seconds. Also, op execution without sleep was 0.708 seconds

[2019-04-05 01:27] eric-haibin-lin commented on #14496
Is there any fix for transpose? I noticed now transpose takes significant amount of time in BERT.

[2019-04-05 01:44] wkcn commented on #14610
@anirudh2290 Yes. Before my experiment, I was wrong to think the total time was op(T1) + sleep(T2).
If the total time is T1 + T2, we should disable lazy evaluation to accelerate the execution.
However, I did an experiment, and found that the operator execute parallelly with the sleep thread. It is confusing. I do not know when the operator executes.

[2019-04-05 02:04] wkcn commented on #14610
It is interesting that the operator will be executed immediatly, and there is no lazy evaluation for `mx.nd.dot`.

Close the issue.

@lanking520 @eric-haibin-lin @anirudh2290
Thank you so much!

[2019-04-05 02:04] #14610 closed

[2019-04-05 02:23] wkcn commented on #9686
I have some suggestions.
1. Custom Operator for deployment
Currently, MXNet doesn't support the custom operator for deployment unless rebuilding from the source.
Although there is the `MXCustomOpRegister` API, it is inconvenient and does not provide `mshadow::Stream`, which is important for execution an operator asynchronously.
We need an approach (easy to write and compile) to support custom oper

[2019-04-05 03:45] pilhoon opened #14624 "mx.sym.contrib.MultiProposal produces all the same outputs"
## Description
[mx.sym.contrib.MultiProposal](https://mxnet.incubator.apache.org/api/python/symbol/contrib.html#mxnet.symbol.contrib.MultiProposal) produces all the same outputs. It’s expected that various rois extracted by this method.

## Environment info (Required)

----------Python Info----------
Version      : 3.7.3
Compiler     : GCC 7.3.0
Build        : ('default', 'Mar 27 2019 22:11:17')
A

[2019-04-05 04:08] pengzhao-intel commented on #14496
@eric-haibin-lin FYI, https://github.com/apache/incubator-mxnet/pull/14545#issuecomment-479921467 improved the performance of transpose a lot by MKLDNN.

[2019-04-05 05:27] wkcn commented on #14624
Since the input is invalid.

I tried to use MultiPropsosal in Faster RCNN, and it worked.

[2019-04-05 07:07] #14624 closed

[2019-04-05 09:29] asmushetzel commented on #12932
For technical reasons, the PR #14579 has been moved to a new PR #14617

[2019-04-05 10:25] #14272 closed

[2019-04-05 10:26] #14271 closed

[2019-04-05 10:27] #14450 closed

[2019-04-05 10:29] gigasquid commented on #14415
This has been resolved with the long term solution discussed in https://github.com/apache/incubator-mxnet/issues/14394 - so closing this one

[2019-04-05 11:03] Chancebair opened #14626 "[Master Test Failure] Python3: TensorRT GPU"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/master/496/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/master/497/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/master/498/pipeline

The following stages are failing:
### P

[2019-04-05 11:04] Chancebair commented on #14626
@mxnet-label-bot add Test

[2019-04-05 11:05] Chancebair commented on #14626
@KellenSunderland would you have any ideas on this issue?

[2019-04-05 11:14] yumna4 commented on #2910
you have to set it as follows
import os
os.environ['CUDA_VISIBLE_DEVICES']="0,3"  # specify which GPU(s) to be used

[2019-04-05 12:39] mouryarishik commented on #14253
+1 for this RFC.

[2019-04-05 12:47] lebeg commented on #14626
I think this is due to GluonCV model zoo trying to download cifar which is not available, taking a deeper look...

[2019-04-05 12:56] lebeg commented on #14626
Links seem to be alright

[2019-04-05 14:00] lebeg commented on #14626
Might be an issue with the CUDA driver, need to check for the version on the hosts in the AMI's

[2019-04-05 16:00] lanking520 commented on #14626
https://github.com/apache/incubator-mxnet/issues/14618

[2019-04-05 16:16] lanking520 commented on #8139
@caiqi Close this issue due to the inactivity. Please feel free to reopen it if you could provide more information about the GPU status or you are still facing the same problem.

[2019-04-05 16:16] #8139 closed

[2019-04-05 16:52] abhinavs95 commented on #14626
@mxnet-label-bot add [Test, CI]

[2019-04-05 18:47] zboldyga commented on #14619
Some users pointed out useful features around matrix inversions, determinants, log determinants. I propose to add some small features to make these calculations easier: https://issues.apache.org/jira/projects/MXNET/issues/MXNET-1350?filter=allissues .

https://github.com/apache/incubator-mxnet/issues/14360

**Comment in this issue:** These are relevant calculations and some adjustments to the exis

[2019-04-05 21:23] abhinavs95 commented on #14357
@mxnet-label-bot update [Bug, Gluon]

[2019-04-05 21:24] abhinavs95 commented on #10233
@mxnet-label-bot update [Bug, Build, Python]

[2019-04-05 21:29] abhinavs95 commented on #14594
@mxnet-label-bot update [Bug, operator]

[2019-04-05 21:30] abhinavs95 commented on #14602
@mxnet-label-bot update [Bug, operator]

[2019-04-05 21:52] larroy opened #14636 "Slow unit tests"
Some unit tests are very slow taking too much resources and slowing down the suites significantly:

For example:

test_operator_gpu.test_psroipooling ... ok (91.1612s)
test_operator_gpu.test_bulking ... ok (62.2209s)
test_operator_gpu.test_broadcast_binary_op ... /home/piotr/mxnet_master2/tests/python/gpu/../unittest/test_operator.py:2094: RuntimeWarning: divide by zero encountered in remainder

[2019-04-05 21:53] larroy commented on #14636
@mxnet-label-bot add [Test]

[2019-04-07 02:27] rohun-tripathi commented on #3829
conda install -c anaconda cudatoolkit==9.2 (I faced it with 9.2) solves it for me in an anaconda environment.
I am still trying to determine the reason.

[2019-04-07 03:48] eric-haibin-lin commented on #14626
Also happened in http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14518/4/

[2019-04-07 06:24] eric-haibin-lin commented on #14626
Also happened in http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14518/5/pipeline

[2019-04-07 13:01] aashudwivedi commented on #14332
@lanking520 Thanks that helped and I was able to build for Cent OS 7.
I've been trying to build it for Cent OS 6.9 as well and keep running into this error :

```Exception in thread "main" java.lang.UnsatisfiedLinkError: /tmp/mxnet3708514393684345361/mxnet-scala: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.18' not found (required by /
tmp/mxnet3708514393684345361/mxnet-scala```

Do you have an

[2019-04-07 14:02] windoman commented on #14548
Thank you very much for your reply. The `ctc_loss` have two outputs, a loss symbol for per sample in batch and gradient output, which are accounted [https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/ctc_loss.cc#L105](https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/ctc_loss.cc#L105), but only one output is visible [https://github.com/apache/incubator-mxnet/

[2019-04-07 15:31] xiaojingxie commented on #12159
Thanks a lot.

By the way, the method name Forward() is a bit misleading.

[2019-04-07 15:33] #12159 closed

[2019-04-07 19:38] KellenSunderland commented on #14626
Strange, did this just start happening with a cuda driver update?  Did we change instance type or anything else at the same time?

The documentation shows that the error code happens when the driver is running an older version than the runtime, but we've been running this runtime for quite some time in CI, and presumably if we changed the driver it would have been to a newer version, so I'm not su

[2019-04-07 20:52] reminisce commented on #14626
Also see this for the most of the time in
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14622/15/pipeline/274

Error message shows it's a cuda driver initialization problem.

[2019-04-08 04:07] yajiedesign opened #14640 "[Discussion] the condition semantics of mxnet_option."
current ,If the `mxnet_option` condition is not satisfied, this option will be turned off ,not setting the default value off.
But the current conditions in `mxnet_option` seem to want to set default values. Are we going to modify `mxnet_option`?

[2019-04-08 04:26] rohun-tripathi commented on #11535
Hey, how did you get the nvidia-396 driver?

[2019-04-08 04:34] TaoLv commented on #14640
+1 for changing `mxnet_option`. We met issue when build mxnet on Windows and seems `-DUSE_MKLDNN=1` in command line will be overwritten by `mxnet_option`. @yinghu5

[2019-04-08 07:07] hkingtswcbyy commented on #9686
Mxnet-lite based on NNAPI and quantization tools.

[2019-04-08 07:21] #13234 closed

[2019-04-08 07:21] #14426 closed

[2019-04-08 10:40] saptarshim-dal commented on #14551
Thanks @samskalicky and @bhavinthaker for your help.

Turned out that the issue was with trying to infer from an ONNX model with incompatible version of opset. MXNet 1.3.0 is compatible with ONNX 1.2.1 which is in turn compatible with ONNX models trained with opset 7 only.

Closing this issue it's resolved now.

[2019-04-08 10:40] #14551 closed

[2019-04-08 11:50] Chancebair commented on #14626
Created this PR https://github.com/apache/incubator-mxnet/pull/14642 to unblock PRs while we fix this issue

[2019-04-08 12:45] ziyuang commented on #10148
There is even no `operator[]` so I don't know how to change the elements in an `NDArray`

[2019-04-08 13:12] pilhoon commented on #6087
@piiswrong a short example will be very helpful.

[2019-04-08 13:30] jinfei3459 opened #14643 "Check failed: inputs[i]->ctx() == default_ctx (cpu(0) vs. gpu(0)) CachedOp requires all inputs to live on the same context. But data is on gpu(0) while conv0_weight is on cpu(0)"
## Description
(Brief description of the problem in no more than 2 sentences.)
Check failed: inputs[i]->ctx() == default_ctx (cpu(0) vs. gpu(0)) CachedOp requires all inputs to live on the same context. But data is on gpu(0) while conv0_weight is on cpu(0)

[code]
i try to use 'export_block' to export my gluoncv model,but failed!

Traceback (most recent call last):
  File "export2mxnet.py", line 2

[2019-04-08 13:44] Chancebair commented on #14626
Driver on the host:
[code]

[2019-04-08 14:21] Chancebair commented on #14626
And on the docker container (nvidia/cuda:10.0-cudnn7-devel):
[code]

[2019-04-08 14:58] kohillyang commented on #9686
+1 for a better custom OP API

[2019-04-08 15:02] Chancebair commented on #14626
On the docker container the CUDNN version appears to be 7.5.0:
[code]

[2019-04-08 16:17] sl1pkn07 commented on #14304
updated the first post with the latest changes in the environment

same issue

[2019-04-08 17:18] #13126 closed

[2019-04-08 17:28] KellenSunderland commented on #14626
Good info, as a heads up I'm using NVIDIA-SMI 418.40.04    Driver Version: 418.40.04    CUDA Version: 10.1 in a service and so far haven't seen any issues with this version.

[2019-04-08 17:30] #13792 closed

[2019-04-08 17:30] #14541 closed

[2019-04-08 17:30] #13313 closed

[2019-04-08 18:07] #14505 closed

[2019-04-08 19:22] lanking520 commented on #12568
@mariussoutier Close this issue for now since this is fixed. Please feel free to reopen this if you are still facing this problem

[2019-04-08 19:22] #12568 closed

[2019-04-08 21:07] zachgk commented on #13161
At some point, I found a JIRA bug within the scaladoc that explains why the -doc-external-doc flag is not resolving the warning. It was not fixed until a later version of the compiler so this issue requires upgrading the scala compiler past 2.11.8 to fix IOException.

[2019-04-08 21:20] junrushao1994 commented on #14244
Being lazy for a while, and now I am thinking of adding an API to mxnet. @wkcn @szha @SunDoge What do you guys think of names for this API? mx.nd.zerocopy_from() or anything else?

[2019-04-08 23:07] wkcn commented on #14244
I think adding a new argument may be better.

# NDArray to NumPy
a = mx.nd.array([1,2,3])
b = a.asnumpy(shared=True)

# NumPy to NDArray
c = np.array([4,5])
d = mx.nd.array(c, shared=True)

[2019-04-08 23:33] reminisce commented on #14244
I think adding a parameter to the existing API may introduce certain level of ambiguity which is not desirable. For example, `mx.nd.array` takes not just numpy arrays as arguments, but `shared=True` only works for numpy arrays. We can consider adding this parameter to a new API, for example: `mx.nd.from_numpy(zero_copy=True)`, and it falls back to `mx.nd.array` when `zero_copy` is `False`.

[2019-04-09 00:25] lupesko commented on #5034
@mxnet-label-bot add [Feature request]

[2019-04-09 00:26] sandeep-krishnamurthy commented on #12226
This PR has a useful fix, however, it was not taken to completion and closed due to inactivity. https://github.com/apache/incubator-mxnet/pull/11658
When we work on this issue, we need to revisit the changes suggested in this PR - https://github.com/apache/incubator-mxnet/pull/11658

[2019-04-09 01:45] junrushao1994 commented on #14244
@reminisce Sounds good. Will do!

[2019-04-09 04:37] eric-haibin-lin commented on #14610
@wkcn I would rather say the operators are executed eagerly. The number of ops executed in parallel is controlled by `MXNET_GPU_WORKER_NTHREADS` and `MXNET_CPU_WORKER_NTHREADS` https://github.com/apache/incubator-mxnet/blob/master/docs/faq/env_var.md

[2019-04-09 05:09] wkcn commented on #14610
@eric-haibin-lin Thank you!

[2019-04-09 06:19] bj5546 commented on #14116
please fix it

[2019-04-09 07:39] wkcn opened #14648 "`mx.gluon.data.DataLoader` is slow when the size of batch is large"
Hi, there.

I found `mx.gluon.data.DataLoader` is slow when the size of batch is large, since it calls `pickle.load` in `__next__` method of `_MultiWorkerIter` class. [[Code]](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/dataloader.py#L450)

I will upload the re-procedure code.

[2019-04-09 08:23] JohnLee168 commented on #13949
I have the same problem when load resnet50 onnx model

[2019-04-09 08:29] haojin2 opened #14649 "CI Failure: R CPU"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14606/4/pipeline/248
and
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14606/4/pipeline/249
[code]

[2019-04-09 08:40] apepkuss opened #14650 "How can I parse mxnet params file into plain text?"
## Description
I'm trying to parse mxnet params file into plain text in Python without using mxnet or gluon APIs. I tried the following simple Python code, but the result is not plain string, but looks like this "... \xaa>\x0f\xed\x8e>\xaf!\x8f>g ... " How can I get plain string from the param file? Thanks a lot.

## Environment info (Required)
Python = 3.6

[code]

[2019-04-09 09:42] IvyGongoogle commented on #11458
meet the same error. need help...
@JohnLee168 @nihilityworld  @chsin  have you solved it?

@gartentrio  can you describe the detail how to get it work?

[2019-04-09 10:38] IvyGongoogle opened #14651 "get dead lock for infer when using`c_predict_api` and multithread(>2)"
Hello, I have a problem:
I use `c_predict_api` to infer batch of images using multi-threads(>2), but after some minutes,  I get dead lock in `MXPredGetOutput`. This problem is also mentioned in [issue](https://github.com/apache/incubator-mxnet/issues/11458), but not solved. Anyone can give some advises? Thank you very much~

Linux distro and version:
LSB Version:	:core-4.1-amd64:core-4.1-noarch
Di

[2019-04-09 10:58] Chancebair commented on #14626
Updating our host AMI with that driver version and giving it a test

[2019-04-09 11:05] #14401 closed

[2019-04-09 11:06] perdasilva commented on #14165
No activity. I'll close this issue.

[2019-04-09 11:06] #14165 closed

[2019-04-09 11:19] perdasilva opened #14652 "CUDA 10 w/ cuDNN 7.5 Support"
## Description

Currently, the CI tests fail when running mxnet on top of CUDA 10 and cuDNN 7.5 as demonstrated in [this](https://github.com/apache/incubator-mxnet/pull/14611) PR.

The tests pass when using CUDA 10 and cuDNN 7.3.1.20, as demonstrated in [this](https://github.com/apache/incubator-mxnet/pull/14513) PR.

## Environment info (Required)

g3.8xlarge with CUDA 10 and nvidia driver  410.7

[2019-04-09 11:20] perdasilva commented on #14502
Closing this issue in favor of #14652

[2019-04-09 11:20] #14502 closed

[2019-04-09 11:21] perdasilva commented on #14652
My suggestion would be to maybe merge the PR with cuDNN v7.3.1.20 (which would at least ensure that mxnet works with cuDNN up to this version), then whoever tackles the v7.5 issue can just update the CI image to use the latest version of cuDNN.

[2019-04-09 12:27] Chancebair commented on #14626
It seems the driver update did not fix the issue: http://jenkins.mxnet-ci-dev.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fchancebair-unix-gpu/detail/chanbair-disable-tensorrtgpu/2/pipeline/274

[2019-04-09 13:17] x-dragonet commented on #13327
@assertdebug  I also have the problem, "ValidationError: Unrecognized attribute: spatial for operator BatchNormalization". How do you solve it?

[2019-04-09 14:06] MoritzMaxeiner opened #14653 "[Feature Request] Support ONNX export of LayerNorm operator"
Currently, the MXNet->ONNX model exporter does not support the MXNet operator `LayerNorm`.

Since there's no builtin ONNX Node for this the exporter would need to expand the MXNet operator to multiple ONNX nodes implementing layer normalization.

[2019-04-09 15:47] sl1pkn07 commented on #14652
only for to know

the latest version of cuda is 10.1.105_418.39 and cudnn 10.1-linux-x64-v7.5.0.56

why not use this version?

greetings

[2019-04-09 17:47] zachgk commented on #14649
This seems to completely break the CI. Here are some more errors
- https://github.com/apache/incubator-mxnet/pull/14647 with http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14647/1/pipeline and http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14647/1/pipeline
- https://github.com/apache/inc

[2019-04-09 19:02] perdasilva commented on #14652
Hey,

This requires a bit more work on the AMI side. I'm also no convinced that it will solve the problem.
Once we get on cuDNN 7.5, we can look at updating the AMIs to CUDA 10.1 and then bumping the CI images.

Cheers

[2019-04-09 20:50] piyushghai commented on #13968
@stephenrawls Can you provide a minimum reproducible example so that we can help nail down this issue ?

[2019-04-09 20:55] stu1130 commented on #14652
Hey @perdasilva
I can tackle the update v7.3.1.20 -> v7.5 and then make bump up to CUDA 10.1 if you decide to merge https://github.com/apache/incubator-mxnet/pull/14513/files
Thanks

[2019-04-09 21:10] #9015 closed

[2019-04-09 21:11] piyushghai commented on #13455
I don't think this is a bug. This is more of a question.

@mxnet-label-bot Update [Question, Good first issue, Call for contribution]

[2019-04-09 21:27] piyushghai commented on #12428
@some-guy1 I suggest this issue be closed as the snippet used by @jeremiedb loads the labels.
Can you upgrade MXNet R package to V1.4.0 and try it out again and let us know  ?
Please feel free to re-open if closed in error.

@Roshrini Can you close this issue ?

[2019-04-09 21:33] Roshrini commented on #12428
As the issue is fixed in v1.4.0, I am closing this issue. Please reopen if you still encounter it or if closed in error. Thanks!

[2019-04-09 21:33] #12428 closed

[2019-04-09 22:00] piyushghai commented on #14383
This seems to be incorrectly labelled as Gluon. Removing the gluon label.

@mxnet-label-bot Update [Bug, Environment Variables]

[2019-04-09 22:04] piyushghai commented on #13135
Removing the Windows label :
@mxnet-label-bot Update[ Bug,  CUDA,  Gluon]

[2019-04-09 22:11] piyushghai commented on #13374
@kohillyang This issue is indeed fixed in the latest version of MXNet and GluonCV. Please upgrade to both.

I'm suggesting to close this issue. Please feel free to re-open if closed in error.

@Roshrini Can you please close this issue ?

[2019-04-09 22:34] lanking520 commented on #14649
Some stackoverflow stuff:
https://stackoverflow.com/questions/55208794/trouble-installing-r-packages-with-devtools-on-travis

[2019-04-09 22:36] vrakesh commented on #14650
@apepkuss Thanks for your question, what is the purpose of wanting to read the params file if I may ask? Requesting more specifics on the use case.

@mxnet-label-bot  add [Question]

[2019-04-09 22:38] vrakesh commented on #14651
@IvyGongoogle MXNet in its current form is not thread safe, this is something we are looking to resolve going forward

@mxnet-label-bot add [C API, Thread Safety]

[2019-04-09 22:39] lanking520 commented on #14649
Update: The author of R remote seemed to update their cron package. Please try to clean the cache on CI and build again: https://github.com/r-lib/devtools/issues/2020

[2019-04-09 22:39] vrakesh commented on #14652
@mxnet-label-bot add [CUDA, CI]

[2019-04-09 22:41] vrakesh commented on #14653
@MoritzMaxeiner Thanks for the feature request

@mxnet-label-bot [ONNX, Feature Request]

[2019-04-09 22:59] lanking520 commented on #14649
The problem should resolve itself, no further action needed. Please restart the CI and  feel free to close this issue if you are not facing this problems.

[2019-04-10 02:34] IvyGongoogle commented on #14651
@vrakesh thanks for your reply. Please notice when this thread safe is solved. Thank you very much~

[2019-04-10 02:35] ZHAIXINGZHAIYUE commented on #14434
I'm using symbol api.

[2019-04-10 02:59] kohillyang commented on #13374
Yes, this issue has been fixed, I'll close it. Thanks.

[2019-04-10 02:59] #13374 closed

[2019-04-10 03:08] kohillyang commented on #14648
Did you try thread_pool=True instead? Sometimes using thread pool is faster than using multi-processing pool, as the pickling process is escaped.

[2019-04-10 03:23] wkcn commented on #14648
@kohillyang Thank you! I will try it.

[2019-04-10 04:14] Hughen opened #14660 "After the interruption, there are many zombie processes that cannot be killed."
## Description
After interrupting `train.py`, there are many zombie processes that can not be killed.
It seems that the gpu tasks is not being recycled properly.

## Environment info (Required)
[code]
## Error Message:
And dmesg log has a stack error like this has occurred:
[code]

[2019-04-10 05:52] perdasilva commented on #14652
@stu1130 thank you. It seems that the nvidia drivers on the linux nodes has been bumped to 418 because of the tensorrt issues. This means we should be able to use CUDA 10.1 =) (let me know if it doesn't work)

[2019-04-10 07:09] Prologueyan commented on #12861
@tribbloid @eyildiz-ugoe @Hwang64  have u solve this problem?

[2019-04-10 07:57] ChaiBapchya commented on #5034
I was able to count total number of parameters for a model in Pytorch using this command

[code]
Source - https://discuss.pytorch.org/t/how-do-i-check-the-number-of-parameters-of-a-model/4325/9?u=chaibapchya

[2019-04-10 12:48] 2void commented on #13943
@abhinavs95 Thank you very much!👍. Looks like opencv and skimage use different algorithms to deal with compressed JPEG data.

[2019-04-10 14:02] FAFACHR opened #14663 "Error with NDArray.Reshape"
Thank you for this useful framework, I'm new in this field and I'm trying to work on computer vision stuff so I'm using gluoncv to work on instance segmentation but while I'm doing the training with
coco pretrained weights on my own dataset and my own classes (I did the training using "mask_rcnn_resnet50_v1b_coco" and I used the reset_classes to reset my classes in gluoncv). I got an exception : "

[2019-04-10 14:47] mjpost opened #14664 "mxnet-cu100mkl "illegal instruction" on CPU"
On my desktop (with *no* GPU), with CUDA 10 libraries loaded, when I attempt to `import mxnet` in Python, I get the following error:

[code]

But everything works fine in another conda environment with `mxnet-92mkl` and CUDA 9.2 libraries loaded:

[code]

Is there any advice how to fix this? I cannot find a similar issue filed.

[2019-04-10 14:53] mjpost commented on #14664
I also tried upgrading to MXNet 1.4.0, but got the same "Illegal instruction" problem.

[2019-04-10 15:58] wkcn commented on #14664
Why do you install the GPU version in a machine without GPU? It seems that the program crashes since CUDA library files not found.
You can install the CPU version of MXNet: mxnet-mkl

[2019-04-10 16:02] mjpost commented on #14664
The GPU libraries are available and in my path. If I unload them, I get a different message from the linker.

The reason is that I am submitting jobs to a cluster. I have one job that uses MXNet but just for data preparation so it doesn't need a GPU. It's a pain to have to maintain separate environments. As long as the libraries are found, it seems MXNet should be able to work smoothly with a CPU

[2019-04-10 16:08] wkcn commented on #14664
I will test it. I have the environment with CUDA 10 and without GPU.

[2019-04-10 16:09] mjpost commented on #14664
Thank you!

[2019-04-10 18:49] lanking520 commented on #14649
Close this issue for now since there is no forseen problems in CI. Please feel free to reopen if you are still facing the problems

[2019-04-10 18:49] #14649 closed

[2019-04-10 19:18] ThomasDelteil commented on #14539
I think @KellenSunderland had a solution for that, see my issue here: https://github.com/apache/incubator-mxnet/issues/10567 that would definitely be helpful

[2019-04-10 20:18] vrakesh commented on #14660
@Hughen Thank you for sharing the issue, requesting to provide more details and train.py so that we can look into reproducing it
@mxnet-label-bot add [Pending requestor info]

[2019-04-10 20:20] vrakesh commented on #14663
Hi @FAFACHR , thank you for posting the question to the community,requesting to share a reproducible script , so that we can look into what's causing the failure and answer your question.

@mxnet-label-bot add [Question, Pending requester info]

[2019-04-10 20:21] vrakesh commented on #14650
@mxnet-label-bot  add [Pending requester Info]

[2019-04-11 00:01] larroy opened #14670 "Default build with CMake not using MKL"
With make MKL is installed automatically, but with CMake in linux not.

[code]

[2019-04-11 01:12] pengzhao-intel commented on #14670
thank to report this issue @larroy

@Neozhangjianyu @yinghu5 is working on the CMake for MKL

[2019-04-11 01:13] larroy commented on #14670
@mxnet-label-bot add [CMake, Build, MKL]

[2019-04-11 01:32] NeoZhangJianyu commented on #14670
@larroy I'm fixing this issue now.
There are several problems for this issue:
1. $MKLROOT is set by MKL installation, but this cmake expect $MKL_ROOT.
2. If MKLDNN is used, it will use OpenBLAS, instead of MKL as BLAS.
3. Wrong dependence check in MKLDNN and MKL. It will make the MKL check is fault.

I have fixed it in linux locally. But the solution need to be reviewed.
And we need to fix it in w

[2019-04-11 01:38] KellenSunderland commented on #14539
Yes we've got a solution we use internally but it's not fleshed out enough to open source.  Could we possibly run a graph pass then save the graph with the tuning result serialized in an aux param or something?  (Then pick up the param results if we use that version of the graph).

[2019-04-11 02:24] pengzhao-intel commented on #14670
cc @TaoLv

[2019-04-11 02:31] momo1986 opened #14672 "Is it possible for mxnet to save the best model and early stopping"
Hello, thanks for sharing the framework.

I want to do some objection task based on the finetuned mxnet official SSD model.

I observe that after several epochs, the cross-entropy loss and smooth L1 loss will no longer be reduced.

How can I save the best epochs and stop early instead of saving the parameters when the setting epochs is over?

Thanks & regards!

[2019-04-11 02:41] wkcn commented on #14664
Sorry that the version of CUDA in my machine is 10.1.105. It seems that there is no any related pre-build
 MXNet package.

[2019-04-11 08:11] FAFACHR commented on #14663
Thank you so much, I posted my issue on gluoncv github and we solve it. If anyone wants to see the solution it is Issue #716 on gluoncv github

[2019-04-11 08:13] FAFACHR commented on #14663
Thank you so much, I posted my issue on gluoncv github and we solve it. If anyone wants to see the solution it is Issue dmlc/gluon-cv#716 on gluoncv github

[2019-04-11 08:14] #14663 closed

[2019-04-11 09:09] perdasilva opened #14675 "[MKL-DNN] Test failures in Python 2"
## Description

When executing the MKL-DNN tests against the latest mxnet-mkl pip package using python 2, I get the following errors:

[code]
## To reproduce

$ docker run -ti ubuntu:16.04 /bin/bash
Then in the container,

$ apt update && apt install -y python python-pip git
$ pip install mxnet-mkl==1.5.0b20190410 nose scipy
$ git clone https://github.com/apache/incubator-mxnet.git
$ nosetests inc

[2019-04-11 10:29] chinakook commented on #14228
@eric-haibin-lin Yeah.

[2019-04-11 12:02] perdasilva commented on #13103
I'm currently working on some CD pipelines and I'm seeing this issue crop up:

http://jenkins.mxnet-ci-dev.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-static-binary-cu80mkl-release/detail/mxnet-static-binary-cu80mkl-release/4/pipeline

http://jenkins.mxnet-ci-dev.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-static-binary-cu92mkl-release/detail/mxnet

[2019-04-11 13:50] pengzhao-intel commented on #13103
@rongzha1 please take a look this issue.

[2019-04-11 13:53] pengzhao-intel commented on #14675
@TaoLv

[2019-04-11 15:47] TaoLv commented on #14675
I would say that it's a strange behavior of nosetests for me. We noticed that before. The test cases look problematic but they're not caught by CI. @juliusshufan please add more information.

[2019-04-11 16:51] perdasilva commented on #14675
As far as I could tell, CI isn't checking MKL against python 2 (or at least not running that specific suite with python 2) - @jlcontreras has kindly volunteered to add this step to CI. However, there will need to be some coordination with the fix, or the new step will fail =S

[2019-04-11 16:51] perdasilva commented on #14675
As far as I could tell, CI isn't checking MKL against python 2 (or at least not running that specific suite with python 2) - @jlcontreras has kindly volunteered to add this step to CI. However, there will need to be some coordination with the fix, or the new step will fail =S

[2019-04-11 17:55] larroy commented on #14670
Thanks for the great response guys, you rock!

[2019-04-11 19:33] piyushghai commented on #14563
Removing the Question label from this. This is an actual performance regression.

@mxnet-label-bot Update [Pending Requester Info,  Performance]

[2019-04-11 19:33] piyushghai commented on #14558
@anirudhacharya Can you possibly help here ?

[2019-04-11 19:38] piyushghai commented on #11962
@jiajinyu Can you try @vrakesh's suggestions and let us know if you still see different/inconsistent outputs ?

[2019-04-11 19:44] piyushghai commented on #14421
@jmerkow The tool does save and load the same weights and checks the forward pass on the model.
It does not check in the intermediate layers in the model graph.

[2019-04-11 20:02] szha commented on #13103
@perdasilva could you elaborate on the settings for these pipelines? Are they failing because of CPU tests or GPU tests?

[2019-04-11 20:45] anirudhacharya commented on #14558
@weihua04  while creating the rec file, were the labels packed with the image data?

[2019-04-11 20:54] vrakesh commented on #14672
@momo1986 Glad that you are experimenting with the framework, I assume you are using a for loop setup for the epochs?could you share with us a snippet of code, on what you are trying to achieve? I guess that will help us answer this question better.

@mxnet-label-bot add [Question]

[2019-04-11 21:54] haojin2 commented on #14602
@YutingZhang Fix merged. Please let me know if the latest master solves your issue.

[2019-04-11 23:13] lanking520 commented on #14664
@szha

[2019-04-11 23:24] Jerryzcn commented on #11283
@haojin2

[2019-04-12 01:32] smartwell opened #14679 "when convert caffe SSD to MXNET, how to deal repeated min_size"
First, thanks for the great work.

Recently，ShiqiYu group release facedetect.caffemodel, so i want to convert this model to mxnet, i use @zhreshold [tools caffe_converter](https://github.com/zhreshold/mxnet-ssd), normally, every priorbox layer has one min_size and one max_size,  when we try vgg_ssd or mobilenet_ssd ,they all work. But in this facedetect caffe prototxt ,every priorbox layer has mul

[2019-04-12 01:57] momo1986 commented on #14672
Hello, @vrakesh .

Here is my code.

[code]

It does not change a lot from official gluon code.

In the MXNET/Gluon forum in Chinese, there is a discussion with some demos to save the best check-point.

However, I am very curious about a better solution to save the best parameter.

Thanks for your answer.

Momo

[2019-04-12 03:36] #14679 closed

[2019-04-12 05:09] haojin2 commented on #13103
@perdasilva Seems like the mismatch rate is very low (0.xxx%) while rtol=1e-7 and atol is even just 0, I wonder if we could simply bump the tolerances up instead of disabling this?

[2019-04-12 05:26] szha commented on #14664
Since cu92mkl and cu100mkl only differs in cuda/cudnn versions, I'm guessing this is related to cudnn, since the library is statically linked. @mjpost, does it work if you try to build from source? You can find the configuration in #8671

[2019-04-12 05:44] perdasilva commented on #13103
@szha in the two cases I've linked to, it was tested against a binary compiled with your tools for static linking, and the variants used were cu80mkl and cu90mkl.

@haojin2 I'm happy to bump them, but I just wouldn't know what to bump them to =S I'm not familiar with this side of the code and don't really know what reasonable tolerance levels would be.

[2019-04-12 05:47] haojin2 commented on #13103
@perdasilva Even rtol=2e-7 would suffice and please try 10000 times for that particular test. If you don't know how to do it I can run it on my side.

[2019-04-12 05:50] perdasilva commented on #13103
@haojin2 I'll give it a go, and let you know how it goes. Thanks for the help!

[2019-04-12 07:38] gramce opened #14681 "suggestion: a different random dataloader"
Currently, the best(?) way to load huge dataset in mxnet is implement a dataloader. However, this need the ability to easily random access the "i-th" example, becauce "__index__" need to be overwrite.

Huge data(too huge to save on disk) usually stored in remote side (example hdfs) with several small datapart. Each datapart which can be easily load in to memory contains maybe millions of examples.

[2019-04-12 08:56] perdasilva commented on #13103
@haojin2 no good:

[code]

What I did to the test code:

[code]

To test the changes, I have a g3.8xlarge instance with nvidia drivers 418 and nvidia-docker:

[code]

[2019-04-12 10:06] xudou3 commented on #13327
I also have the problem, "ValidationError: Unrecognized attribute: spatial for operator BatchNormalization". How do you solve it?

[2019-04-12 11:03] pengzhao-intel commented on #13103
Could you try `rtol=1e-04, atol=1e-02`?

[2019-04-12 12:14] perdasilva commented on #13103
@pengzhao-intel

[code]

I'll close my skip_test PR and post my fix test PR =)

[2019-04-12 13:12] perdasilva commented on #13103
@pengzhao-intel forgot to say thank you. Thank you! =D

[2019-04-12 16:56] access2rohit commented on #11846
@mxnet-label-bot add [operator]

[2019-04-12 17:25] szha commented on #14664
@mjpost just as a quick sanity check, does it work if you install from nightly build? (i.e. `pip install --pre`)

[2019-04-12 17:51] dmidge8 commented on #14159
Indeed, I concur, there is a need for fp16 computation, as shown in this forum thread. https://discuss.mxnet.io/t/network-in-float16/3710

[2019-04-12 17:53] KellenSunderland opened #14684 "When setting MXNET_CUDA_TENSOR_OP_MATH_ALLOW_CONVERSION no speedup observed"
Doing a quick debugging session on why I don't see any speedup when enabling MXNET_CUDA_TENSOR_OP_MATH_ALLOW_CONVERSION.

So far interesting observations:
Enabling CuDNN API logging and observing forward calls I see repeated examples of these calls with default math type.  Debugging I have verified we do set correct mathtype during cudnn conv setup here: https://github.com/apache/incubator-mxnet/b

[2019-04-12 17:58] mjpost commented on #14664
I get the same error with the nightly build:

[code]

[2019-04-12 17:59] mjpost commented on #14664
But note that I am trying to stick with MXNet 1.3.1, since I have a branch of research code using software (sockeye) that isn't upgraded to 1.4 yet.

[2019-04-12 18:06] KellenSunderland commented on #14684
Auto-tuning is overwriting the math mode at convolution tuning time.  Probably the right thing to do when implementing TCs but it's preventing the conversion math type from being used.  We'll have to think about the long-term fix for this, but I've currently commented out the math type reset locally and I'm trying to verify this cudnn feature provides a significant speedup before moving forward.

[2019-04-12 18:20] KellenSunderland commented on #14684
nvprof summary when autotuning manually disabled via env var:
[code]
nvprof summary with some local code changes to autotuning to allow selection of cudnn mixed math mode:
[code]

nvprof without local changes:
[code]

So the summary is we need a few code changes to actually enable this feature.  I'll have to think a little about what the easiest change is and then I'll open a PR.  I'm also a littl

[2019-04-12 18:45] anirudh2290 opened #14686 "Memory profiling enhancements"
I have created prototype for visualizing the memory pools on the gpu. I have added a doc explaning the feature and how to use the prototype in the cwiki: https://cwiki.apache.org/confluence/display/MXNET/MXNet+Memory+Profiling+Enhancements

I would need some help making this prototype ready to be PR'ed.

There are more improvements that can be done as mentioned in the cwiki. Listing some of them h

[2019-04-12 18:51] ChaiBapchya commented on #14686
Thanks for this feature idea. Interested to work. Will post a PR once I get this working.

[2019-04-12 18:54] anirudh2290 commented on #14686
Thanks @ChaiBapchya . I think it requires some additional testing. Also, need to do some sanity performance tests. Need to add a switch to toggle it in the profiler API. Also, it would be nice to test it in distributed training setting though not strictly required.

[2019-04-12 19:11] szha commented on #14664
@mjpost the only difference between the mxnet-cu92* and mxnet-cu100* would be in the cuda/cudnn library. @DickJC123 do you know if the cuda libraries started to use any new instruction sets?

[2019-04-12 19:19] mjpost commented on #14664
Could it have to do with the AVX instruction set? I found a few issues where people mention this, but I don't perfectly understand them.

- https://github.com/apache/incubator-mxnet/issues/11911
- https://github.com/apache/incubator-mxnet/issues/12817

Note that I haven't tried building from source yet. I hope to do that this weekend.

[2019-04-12 19:25] sl1pkn07 commented on #14304
please add [breaking] tag. i cant build mxnet anymore :S

[2019-04-12 20:23] sl1pkn07 commented on #13578
same problem here. seems try to install symlinks instead of real files

[code]

greetings

[2019-04-12 20:50] sl1pkn07 commented on #13578
[code]

in test. but seems need added the same thing in the 3rdparties libraries

[2019-04-12 21:00] YutingZhang commented on #14602
Thanks! @haojin2

[2019-04-12 21:00] #14602 closed

[2019-04-12 21:48] sl1pkn07 commented on #13578
i think i found the problem

https://github.com/apache/incubator-mxnet/tree/master/include

all is a symlink instead of real files, and point it to relative paths instead off full path

[code]

[2019-04-12 21:59] vrakesh commented on #14681
@gramce thank you for your feature request

@mxnet-label-bot add [Feature Request]

[2019-04-12 22:00] vrakesh commented on #14684
@mxnet-label-bot  add [CUDA]

[2019-04-12 22:08] leleamol commented on #14406
This issue can be closed since the PR is merged. @lanking520

[2019-04-12 22:10] #14406 closed

[2019-04-12 22:11] szha commented on #14664
@mjpost mxnet pre-built binaries require AVX2 instruction set. However, this is true for all packages and not just cu100. So it must be something else.

[2019-04-12 22:11] piyushghai commented on #13943
Thanks. Glad to hear your issue got resolved.
@Roshrini Can you close this issue ?
@2void Please feel free to re-open the issue if closed in error.

[2019-04-12 22:11] haojin2 commented on #14073
Once #14616 is merged then we can simply switch the LayerNorm's reduction to the safe version to achieve the 1st step @sxjscience proposed. Then we can possibly explore the implementation of the 2nd step later. @eric-haibin-lin What do you think?

[2019-04-12 22:26] sl1pkn07 commented on #13578
[code]

thested in my local installation. the error is gone and the files is seems installed in the rigth path

@larroy @potetisensei you can test it?

[2019-04-12 23:06] piyushghai commented on #13193
Good catch @ssbusc1. Fixed the bug in #14688

[2019-04-12 23:20] piyushghai commented on #13335
@kice You seemed to have found a workaround to the problem. Can you add the fix back into apache/incubator-mxnet repo through a pull request ?

[2019-04-12 23:23] piyushghai commented on #11654
@marcoabreu Can you close this issue if this does not happen anymore ? Or if the issue has been moved to JenkinsCI Git Repo, can you close this and backlink this issue there ?

[2019-04-12 23:25] piyushghai commented on #11369
Not sure if bug is the correct label for this issue.
@mxnet-label-bot Update [Test, Website, Disabled test]

[2019-04-13 00:24] wkcn commented on #14681
The sampler of dataloader maybe useful.

[2019-04-13 00:49] larroy commented on #13578
@sl1pkn07 your patch works for me. Can you make a PR? Thanks for the fix!

[2019-04-13 00:53] eric-haibin-lin commented on #14686
The system team from UofT developed https://github.com/tbd-ai/tbd-tools which profiles memory footprint http://www.sysml.cc/doc/2019/demo_24.pdf
@SerailHydra @olympian94 @izaakniksan @ArmageddonKnight
If possible we can reuse and avoid duplicating work

[2019-04-13 01:16] anirudh2290 commented on #14686
Thanks @eric-haibin-lin for the pointer! Will take a look

[2019-04-13 06:15] ChaiBapchya commented on #14174
Again : http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14243/4/pipeline

For unrelated #14243

[2019-04-13 11:39] sl1pkn07 commented on #13578
then its all ok?

[2019-04-13 11:59] LittleFatHero opened #14689 "Why the official website of mxnet has nothing about mxnet-cu100"
I can use the following command to install the mxnet version which support cuda 10:
_**pip install mxnet-cu100**_
why the official website of mxnet has nothing about mxnet-cu100?

[2019-04-13 12:04] sl1pkn07 commented on #14670
related
[code]

with cmake 3.14.2

[2019-04-13 12:48] SerailHydra commented on #14686
Hi, all

Thanks for your interests in our memory tools! I started to build this tool for benchmarking purpose and the version is only 0.11.0. Later my colleagues use the same techniques to build it on new versions of MXNet for optimization purpose.

The open-sourced one is on a bit old version, I am not sure how helpful it is since the codebase changed a lot. I think @ArmageddonKnight has the memo

[2019-04-13 14:03] gaozhihan opened #14690 "assertion error in _finished_deferred_init() in mxnet.gluon.parameter"
## Description

I find this error when running the following code:
[code]
in my case the hidden_size is very big (e.g., 1000000), since allow_deferred_init is set to be True in GRUCell by default, it will call the 274 line of mxnet/gluon/parameter

[code]

np.prod((3000000, 1000000)) > 0 will overflow and give False.

@sxjscience @szha

[2019-04-13 21:39] sl1pkn07 commented on #13578
@larroy all yours https://github.com/apache/incubator-mxnet/pull/14692

[2019-04-14 05:27] eric-haibin-lin commented on #14434
You can either manually change the update_on_kvstore value to False in https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/module/module.py#L500-L502, or use horovod allgather API https://github.com/horovod/horovod#mxnet

[2019-04-14 05:54] szha commented on #14690
@gaozhihan thanks for reporting this. It sounds more like a bug in numpy to me. Also, I tested locally just now and found that numpy is returning correct result in my case.
[code]

It would be great if we could make sure mxnet doesn't depend on the problematic version. Could you help report the environment you're using?
[code]

[2019-04-14 06:16] gaozhihan commented on #14690
Thanks for your reply. I was running simple test case on Windows platform. My numpy version is '1.14.6'

[code]

[2019-04-14 06:23] szha commented on #14690
@gaozhihan I'm using the exact same numpy version on mac.
[code]
@zhreshold @yajiedesign what do you observe on your windows machines?

[2019-04-14 07:32] sxjscience commented on #14690
@szha @gaozhihan I can reproduce this bug using a Windows machine. The numpy version is also `1.14.6`.

The possible workaround is to force the elements to be in64, i.e., `np.prod([np.int64(ele) for ele in self.shape])`

[code]

[2019-04-14 08:29] wkcn commented on #14690
ndarray.shape is a tuple, whose elements are long-type numbers. In Windows, long type is int32 rather than int64.

[2019-04-14 08:34] sxjscience commented on #14690
The weird thing is that prod can still give the right answer in Mac/Linux  when inputs are int32.
[code]

[2019-04-14 11:42] IvyGongoogle commented on #14341
have the same need.  @sleepwalker2017  Do you find some demo for C++?

[2019-04-14 12:51] IvyGongoogle opened #14694 "c++ example about how to use tensorrt to speed up mxnet model for inference?"
Hello, I know [docs](https://mxnet.incubator.apache.org/versions/master/tutorials/tensorrt/inference_with_trt.html) about how to use tensorrt to speed up mxnet model using python for inference, but I can not find some docs for C++.
Similar problem is mentioned [here](https://github.com/apache/incubator-mxnet/issues/14341), but not solved.
Anyone can give some advises?

[2019-04-14 20:33] fhieber opened #14695 "tuple unpacking inconsistent for symbol and ndarray namespaces"
Tuple unpacking for `mx.nd.array` seems strange:
[code]

For symbols it behaves as I would expect:
[code]

I have a use case where this is an issue:
[code]
As expected `l` is `[]`.

For ndarrays:
[code]

This is problematic if writing HybridBlocks with that logic, as they behave differently when hybridized.

[2019-04-14 20:34] fhieber commented on #14695
Dear label-bot, this looks more like a bug than a feature :)

[2019-04-14 22:52] zhreshold commented on #14690
on my windows machine with python 3.6.5, numpy 1.14.5, it's overflow but still gives upper bound positive number

[code]

[2019-04-15 03:24] LittleFatHero opened #14696 "feature request"
Strongly request that MXNet support installation using conda.
Just like pytorch，I just need to execute the following command:
conda install mxnet-cu92
that I can install all I need. I don't need to install cuda and other software.

[2019-04-15 04:00] wkcn opened #14697 "[Performance] performance bottlenecks in gluon.data.DataLoader"
Hi! there.

I read the code of `gluon.data.DataLoader` and found the following performance bottlenecks.
1. the function `__next__` in `_MultiWorkerIter`
  Code: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/dataloader.py#L441
There are many operators in this function, especially `pickle.loads` occupies most of the time.
We can add an independent thread to compute it

[2019-04-15 05:31] ddavydenko commented on #14651
@mxnet-label-bot delete [C API] add [Backend].
Removing C API label as this issue is not specific to API being used but rather is a lack of thread safety in the engine.

[2019-04-15 05:52] sxjscience commented on #14073
@haojin2 Yes, should first try to directly change the reduce to the safe version.

[2019-04-15 07:08] anirudh2290 opened #14698 "Support visualization by op names"
mxnet visualization should support visualization by op names instead of node names.
For example,
[code]
should use op names instead of node names for visualization.

[2019-04-15 08:12] yinghu5 commented on #14640
+1, in details, we are trying use cmake to build mxnet with MKLDNN on windows
Cmake  the command line:  cmake -G "Visual Studio 14 Win64" .. -DUSE_BLAS=open -DUSE_LAPACK=1 -DUSE_MKLDNN=1 -DCMAKE_BUILD_TYPE=Release

we expect the  -DUSE_MKLDNN=1 can overwrite the USE_MKLDNN
But in Cmakelist.txt file of Mxnet , line 33 .

-mxnet_option(USE_MKLDNN           "Use MKLDNN variant of MKL (if MKL found)"

[2019-04-15 08:29] ashkanaev opened #14700 "tensorrt test failure"
Hi, everyone!

I'm got a problem with deficiencies between outputs of model in mxnet and tensorRT. When i start this test [https://github.com/KellenSunderland/incubator-mxnet/blob/600bc1f1d7b85ff507ede08715e560722829d837/tests/python/tensorrt/test_resnet18.py](url), These is an error
`AssertionError:
Items are not equal:
Error 99598.921875 exceeds tolerance rtol=0.000100, atol=0.000100.  Location

[2019-04-15 08:36] NeoZhangJianyu commented on #14670
@sl1pkn07
It's a warning, you could ignore it.

Or fix it manually:

Edit 3rdparty/mkldnn/cmake/utils.cmake:111:

From

[code]

to

[code]

[2019-04-15 09:07] Marcovaldong opened #14701 "src/operator/rnn.cc:254:30: error: ‘kCuDNNDropoutDesc’ is not a member of ‘mxnet::ResourceRequest’"
CentOS 7
CUDA8.0 + CUDNN6.0.21

when I run 'make -j16', then got the current error and I cannot find anything about it.

g++ -std=c++11 -c -DMSHADOW_FORCE_STREAM -Wall -Wsign-compare -O3 -DNDEBUG=1 -I/disk2/dongsq/asr/mxnet/3rdparty/mshadow/ -I/disk2/dongsq/asr/mxnet/3rdparty/dmlc-core/include -fPIC -I/disk2/dongsq/asr/mxnet/3rdparty/tvm/nnvm/include -I/disk2/dongsq/asr/mxnet/3rdparty/dlpack/inclu

[2019-04-15 12:06] Marcovaldong commented on #14701
After checking the (source code)[https://github.com/apache/incubator-mxnet/blob/master/include/mxnet/resource.h#L47], it seems that the master branch of MxNet only supports CuDNN>=7. Is there such problem? @szha

[2019-04-15 13:33] wentlei commented on #8358
I have met the same question. So kindly u r,pls share with us if u have solve it.

[2019-04-15 14:06] sl1pkn07 commented on #14670
yep. but should be "fixed"/silenced in upstream, or i'am wrong?

greetings

[2019-04-15 15:35] anirudh2290 commented on #14159
Hi, Once the conversion pass is added in the backend this should be easy to do. I am currently working on this: https://github.com/apache/incubator-mxnet/issues/14584 . Stay tuned.

[2019-04-15 17:28] Imshepherd commented on #13859
same with two R-package in path

[2019-04-15 19:03] szha commented on #14701
@Marcovaldong yes, prior versions of cudnn don't support restoring dropout state from a used dropout state space.

[2019-04-15 19:17] szha commented on #14701
@Marcovaldong we can fix this at the cost of high overhead as we did before, which is by creating dropout descriptor per forward run. However, for the best performance I'd still recommend that you upgrade to cudnn 7 to benefit from the shared dropout state refactor. Being able to reuse the dropout state would save you non-trivial amount of time.

[2019-04-15 19:17] frankfliu commented on #14689
@mxnet-label-bot add [Question, installation]

[2019-04-15 19:24] 3bhady commented on #8358
@wentlei have you checked this?

[2019-04-15 19:36] frankfliu commented on #14690
@mxnet-label-bot add [Gluon, Bug]

[2019-04-15 19:39] frankfliu commented on #14694
@mxnet-label-bot add [question, C++]

[2019-04-15 19:40] frankfliu commented on #14694
@IvyGongoogle Thanks for raising this question. For questions, please submit them on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow others to learn as well.

@leleamol Do you have any example/docs for C++?

[2019-04-15 19:47] frankfliu commented on #14695
@mxnet-label-bot add [python, bug, good first issue]

[2019-04-15 19:48] frankfliu commented on #14696
@mxnet-label-bot add [Feature, Installation]

[2019-04-15 19:53] frankfliu commented on #14700
@mxnet-label-bot add [question]

[2019-04-15 19:54] frankfliu commented on #14701
@mxnet-label-bot add [question, build, cuda]

[2019-04-15 20:02] Vikas89 commented on #14447
@anirudh2290 can we close this as Training crash SSD with LeakyReLU(rrelu) #12894 is tracking the same issue.

[2019-04-15 20:04] Vikas89 commented on #14594
@anirudh2290
This is sam as supporting 0 shape -
 https://github.com/apache/incubator-mxnet/issues/14227
Can we close either of them or both in favor of 0-shape support.

[2019-04-15 20:05] Chouffe opened #14704 "[clojure][documentation] improve docstrings"
Some docstrings can still be improved for better user experience. Adding parameter descriptions and examples in docstrings.

Example:
[code]

Below is a list of namespaces that still need to be improved:

- [ ] `callback.clj`
- [ ] `context.clj`
- [ ] `executor.clj`
- [ ] `eval_metric.clj`
- [x] `image.clj`
- [ ] `infer.clj`
- [ ] `initializer.clj`
- [ ] `io.clj`
- [ ] `module.clj`
- [ ] `ndarray.

[2019-04-15 20:08] Vikas89 commented on #13220
@anirudh2290 Please tag PR-work-in-progress

[2019-04-15 20:11] anirudhacharya commented on #14447
@Vikas89 I would prefer to keep this open, as it has a minimum reproducible example. And from the issue description of #12894 it would seem #12894 is a bigger issue as it says "Replacing LeakyReLU with activations at other positions also causes the training to crash".

This issue tracks a specific bug in a specific operator, with a example that will need to be included as a test case once the fix

[2019-04-15 20:24] Vikas89 commented on #9624
@solin319 I guess, the fix is already merged and closed.
@anirudh2290 Can we close this one.

[2019-04-15 21:06] anirudh2290 commented on #14594
duplication of #14227 and should be fixed by #14253 . Closing.

[2019-04-15 21:06] #14594 closed

[2019-04-15 21:08] anirudh2290 commented on #9624
@Vikas89 the fix is only for coreml converter. The operator hasnt been fixed yet.

[2019-04-15 21:31] frankfliu commented on #14704
@mxnet-label-bot add [clojure, doc]

[2019-04-15 22:27] simonmaurer commented on #14159
@anirudh2290 thanks a lot for the effort. very interested as well in float16 inference in C++ API

[2019-04-15 22:50] ramadevsaiteja opened #14706 "Failed to build from source"
Makefile:264: WARNING: Significant performance increases can be achieved by installing and enabling gperftools or jemalloc development packages
INFO: nvcc was not found on your path
INFO: Using /usr/local/cuda/bin/nvcc as nvcc path
Running CUDA_ARCH: -gencode arch=compute_30,code=sm_30 -gencode arch=compute_35,code=sm_35 -gencode arch=compute_50,code=sm_50 -gencode arch=compute_52,code=sm_52 -genc

[2019-04-15 23:13] Vikas89 commented on #14340
@ThomasDelteil
I tried running code  on my mac ,

[code]
The results I get is :
[code]

I guess, the expected output of  print(data.grad.asnumpy()) is :
`[[0. 0. 0. 0. 0. 1. 1. 1. 1. 1.]] `

Can you confirm my understanding is correct ?

I also verified that split_v2 is giving correct results ?

[2019-04-15 23:21] ThomasDelteil commented on #14340
Yes your understanding is correct

On Tue, Apr 16, 2019, 01:14 Vikas89 <notifications@github.com> wrote:

[2019-04-15 23:53] aaronmarkham commented on #14330
While specifically addressed in the RFC, I'd like to recommend that we do not build multiple versions of the site in the MVP. Once an architecture is established, then the multiple language bindings, and some kind of actual UX direction, and then we can look versions and how best to provide them as a "nice-to-have". Otherwise, I think giving out directions on how to build a specific version of the

[2019-04-16 00:19] frankfliu commented on #14706
@mxnet-label-bot add [build, CI]

[2019-04-16 02:49] NeoZhangJianyu commented on #14670
Yes. It's an issue of **mkldnn** and should be fixed.
I will create an issue to **mkldnn** repo.

[2019-04-16 02:57] qqaatw opened #14708 "Variable-length LSTM in a mini-batch"
Environment:
1. Python 3.6.3
2. Mxnet-cu92
3. Cuda 9.2 with cuDNN

I'm now proceeding a text processing networks, and have variable length inputs (time-steps) in a batch, I have already padded zeros if the sequence length is not enough to the max sequence length.

Is there a way to mask padded zeros and avoid it being updated?

p.s
I saw [this](https://github.com/apache/incubator-mxnet/pull/3338)

[2019-04-16 03:05] IvyGongoogle commented on #14159
I modify the `src/c_api/c_predict_api.cc` in [L211](https://github.com/apache/incubator-mxnet/blob/master/src/c_api/c_predict_api.cc#L211 ) to:

[code]
And I can successfully infer this trained fp16 model using C++ api, but I find the speed is same with the fp32 when I infer my cnn or ocr(lstm) model. So why is the fp16 not faster than fp32? Or maybe my modification about `src/c_api/c_predict_api.

[2019-04-16 05:16] #14454 closed

[2019-04-16 06:15] frankfliu commented on #14708
@mxnet-label-bot add [question, operator]

[2019-04-16 06:15] ZHAIXINGZHAIYUE commented on #14434
@eric-haibin-lin thank you

[2019-04-16 07:13] ramadevsaiteja commented on #13435
I am also getting similar kind of error. Can someone please respond to this issue?

[2019-04-16 07:49] sui-hs opened #14710 "BatchNorm gets inconsistent result between Module API and NDArray API"
## Description
when using BatchNorm layer in NN, I found that the results differ in Module(Symbol) API and NDArray API.

## Environment info (Required)
MxNet version: 1.3.0

## Build info (Required if built from source)

## Error Message:
1. [with this script](https://gist.github.com/sui-hs/ec86ef6622e8363908ebe4202a335567) the BatchNorm result is:
[[-1.1049458   0.45291406]
 [ 1.3138113  -1.38634

[2019-04-16 09:01] ashkanaev commented on #14700
@frankfliu Thank you for reply!

But it seems as failed unit test. have your building systems passed it? Or you don't check that tensorrt integration?
Hope for your reply!!
Thanks !!

[2019-04-16 09:06] ashkanaev commented on #14700
How can i look at building log/state. Old link from main page is [http://jenkins.mxnet-ci.amazon-ml.com/job/incubator-mxnet/job/master/](url) outdated.

[2019-04-16 10:21] PistonY opened #14712 "Conv3DTranspose not work in Ubuntu."
This is my code
[code]
But report a cudnn bug, I also tried nvidia-docker (official) also not work too.
[code]

[2019-04-16 10:28] PistonY commented on #14712
Also, I tried to reduce/model size is not work too.

[2019-04-16 10:30] wentlei commented on #8358
@3bhady  Thanks for your reply. Yes , I have renamed my python file, and I haven't encountered this problem yet. It may caused by a conflict which the filename is the same with mxnet library as u mentioned.

[2019-04-16 12:42] pengzhao-intel commented on #14496
@samskalicky could you try the latest master and see if the performance is improved?

[2019-04-16 14:30] mika-fischer commented on #14589
Maybe mxnet should target a specific opset then. Or at the very least have a check in there that errors out with a sane error message when onnx is too new...

[2019-04-16 15:50] frankfliu commented on #14710
@mxnet-label-bot add [ndarray, bug]

[2019-04-16 15:52] frankfliu commented on #14712
@mxnet-label-bot add [gluon, bug, cuda]

[2019-04-16 16:06] arcadiaphy commented on #14360
+1

I'm implementing thin plate spline interpolation, calling for an easy to use matrix_inverse.
Using potrf and potri is too awkward.

[2019-04-16 16:20] PistonY commented on #14712
windows could run the same code but Ubuntu can’t.

[2019-04-16 18:51] anirudh2290 commented on #14159
@IvyGongoogle Are your inputs and weights in fp16. Your change should work to run fp16 inference. What batch size are you using and what is the model ? For smaller batch sizes you may not see a big speedup. Also what hardware are you running it on ?

[2019-04-16 22:56] simonmaurer commented on #14159
@IvyGongoogle @anirudh2290 just to make sure are we talking about the C++ API as documented in [https://github.com/apache/incubator-mxnet/tree/master/cpp-package](url)

[2019-04-16 23:43] anirudh2290 commented on #14159
The backend of MXNet is exposed via C APIs for different modules like ndarray, executor, symbol, dependency engine etc. The frontend bindings implement wrappers which internally call the C API to support different frontends. CPP-Package is a frontend binding just like Python. Thus once the support is added in backend you should have the C API for frontends to call, but the frontend interface for e

[2019-04-17 03:15] QJXX opened #14715 "mxnet.base.MXNetError: [10:30:40] src/io/iter_image_det_recordio.cc:326: ImageDetRecordIOParser: label_pad_width: 300 smaller than estimated width: 338"
Traceback (most recent call last):
  File "train.py", line 156, in <module>
    voc07_metric=args.use_voc07_metric)
  File "/home/zsl/qjx/mxnet-dssd/train/train_net.py", line 188, in train_net
    label_pad_width=label_pad_width, path_imglist=train_list, **cfg.train)
  File "/home/zsl/qjx/mxnet-dssd/dataset/iterator.py", line 77, in __init__
    **kwargs)
  File "/home/zsl/Programs/anaconda2/lib/p

[2019-04-17 03:21] pengwangucla commented on #8458
HI Hang, I used your sync_bn implementation for mxnet symbol. However, it reduced the performance of my network. I wonder whether you have ever tried with symbol API with your sync_bn other than gluon. Thanks

[2019-04-17 03:26] zhanghang1989 commented on #8458
The SyncBN does reduce the speed due to synchronization for every BN layer during both forward and backward. Use it only when it is necessary, especially on computation intensive task such as semantic segmentation or object detection where the synchronization is not a huge bottleneck comparing to the computation.

[2019-04-17 05:44] ZhennanQin commented on #14715
I guess you're running symbolic ssd. Please add `--label-width=338` as script argument.

[2019-04-17 08:58] TaoLv commented on #14640
Hi @yajiedesign , do you have any plan to improve mxnet_option now? We found that actually MKL-DNN backend is not built and tested in CI for Windows.

[2019-04-17 10:52] simonmaurer commented on #14159
@anirudh2290 why does the float16 inference still work with Python if that is exactly a wrapper to the C API? as seen on https://mxnet.incubator.apache.org/versions/master/faq/float16.html

[2019-04-17 13:15] stsukrov opened #14718 "[Flaky] Flaky test"
[code]
As seen: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/master/531/pipeline/115

[2019-04-17 13:15] stsukrov commented on #14718
@mxnet-label-bot add [Flaky, Test]

[2019-04-17 13:18] stsukrov opened #14719 "[Flaky] Flaky Test test_div on windows/cpu"
[code]
As seen here:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/master/523/pipeline/87

[2019-04-17 13:19] stsukrov commented on #14719
@mxnet-label-bot add [Flaky, Test, Windows]

[2019-04-17 13:21] stsukrov opened #14720 "[Flaky] Flaky Test test_clamp on windows/cpu"
[code]
As seen here:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/master/523/pipeline/87

[2019-04-17 13:21] stsukrov commented on #14720
@mxnet-label-bot add [Flaky, Test, Windows]

[2019-04-17 14:05] iaroslav-ai opened #14721 "Random number generator seed setting does not always work for `mxnet.ndarray.linalg.potrf`"
## Description
Output of the function `mxnet.nd.linalg.potrf` is not deterministic for some inputs, with `mxnet` and `numpy` random number generator seeds set to a fixed value.

## Environment info (Required)

[code]

Package was installed with `pip3 install -U mxnet`.

## Minimum reproducible example
The script below results in output of `potrf` which is slightly (~1e-15) different from call to c

[2019-04-17 14:06] iaroslav-ai commented on #14721
@asmushetzel

[2019-04-17 15:31] frankfliu commented on #14721
@mxnet-label-bot add [operator, bug]

[2019-04-17 17:36] nswamy opened #14722 "Increased Loss/Validation Perplexity on word language model"
## Description
Validation perplexity on a word language model went up from 127 to 186 on 02/21. I tested with the cu90 pypi package from 1.5.0b20190221.
Looking into the commits that went in, this led me to the change that happened on softmax accumulation type in #14098.
Tested by reverting the commit 862cbc67aacf81990b8c885847686a4c3c734cd3 from 1.5.0b20190221 and built a static library using the

[2019-04-17 17:49] zachgk opened #14723 "Flaky test_loss.test_poisson_nllloss failed CI"
test_loss.test_poisson_nllloss failed the CI at http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14687/3/pipeline/ on unrelated PR https://github.com/apache/incubator-mxnet/pull/14687.

See output below:
[code]

[2019-04-17 17:50] zachgk commented on #14723
@mxnet-label-bot add [Test, Flaky, Python]

[2019-04-17 18:11] zachgk commented on #14720
Another failure at http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-14668/4/pipeline

@mxnet-label-bot add [Julia]

[2019-04-17 18:30] anirudh2290 commented on #14159
if you see the mixed precision doc it asks you to modify symbol code and add cast layers at the start and before softmax. This probably can be done in another frontends too if you are writing the model by yourself. But in most cases you are loading a pre-trained model and if you have a pre-trained model there is no easy way to do this. Also, it gets more complicated when you want to introduce diff

[2019-04-17 18:53] adelshafiei opened #14724 "Extract gradients of the hidden layers after inference"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-04-17 19:42] stu1130 opened #14725 "Performance Regression on CUDA10"
## Description
I have observed performance regression on LSTM model. The performance drop from around 950 samples/ sec to around 780 samples/sec. I compared the result with mxnet-cu100mkl and mxnet-cu92mkl. Both of them are 1.4.0 without using nightly build.

## Environment info (Required)

[code]

## Steps to reproduce
(Paste the commands you ran that produced the error.)

1.  lanuch a DL ami or

[2019-04-17 21:10] #13078 closed

[2019-04-17 21:19] frankfliu commented on #14725
@mxnet-label-bot add [performance, cuda]

[2019-04-17 21:22] frankfliu commented on #14724
@mxnet-label-bot add [question, python]

[2019-04-17 22:47] samskalicky opened #14727 "shape input names order mismatch after partitioning"
## Description
The input names of a symbol are produced by a DFS traversal of the symbol's graph from the outputs back up to the inputs. During graph partitioning, some nodes are added to subgraphs, thus potentially changing the order of the DFS traversal. After graph partitioning, shape propagation occurs, and the inferred shapes for the inputs are returned in the order that they appear in a DFS

[2019-04-18 00:00] Vikas89 commented on #14340
Ok, the root cause for this is we have a caching in nnvm::legacy_op_util, on first backward pass the data will be inititalized, on next backward pass, split backward gets junk data.
If I defeat  caching here: https://github.com/apache/incubator-mxnet/blame/master/src/nnvm/legacy_op_util.cc#L146
by making bwd_init_ = false , I get expected output.

Not sure what was the reason to introduce caching

[2019-04-18 01:49] yinghu5 opened #14729 "Build with CMake under windows can't trigger USE_MKLDNN in CI"
Build with CMake under windows can't trigger USE_MKLDNN, which cause 'WIN CPU_MKLDNN'' can't be built and test in official CI in  https://github.com/apache/incubator-mxnet/blob/master/ci/build_windows.py >> 'WIN_CPU_MKLDNN':

Target
We are working on redesign the build logic of MXNET with MKL/MKLDNN Logic. with @pengzhao-intel @TaoLv @@juliusshufan,

Description/Reproduce step:
from source on win1

[2019-04-18 01:50] ZhennanQin commented on #14727
[code]
Previously, I thought graph partitioning from `default` backend won't change input order. Can you explain more about the input order change? like, which op in op_names cause this, or which kind of op connection cause this?
CC @reminisce as he may know something behind.

[2019-04-18 01:54] pengzhao-intel commented on #14729
Thanks @yinghu5, feel free to file the PR and the community can take a review.

cc @szha @lebeg @anirudh2290

[2019-04-18 02:37] TaoLv commented on #14729
cc @yajiedesign @larroy you may be interested.

[2019-04-18 02:53] Marcovaldong commented on #14701
@szha It needs time to upgrade cuda and cudnn, I will do it when I am leisure. I git clone wource code frm v1.1.0 branch and I installed it successfully. Thanks for your reply.

[2019-04-18 02:53] #14701 closed

[2019-04-18 03:22] yinghu5 opened #14730 "3rdparty/sparse-matrix can't work under windows cmake."
Target
We are working on redesign the build logic of MXNET with MKL/MKLDNN, with @pengzhao-intel @TaoLv @@juliusshufan,

when enable MKL and MKLDNN in build logic,  the build with 3rdparty/sparse-matrix  failed as it haven't windows cmake support.

Reproduce step:

C:\mxnet_4\incubator-mxnet\build>cmake -G "Visual Studio 14 Win64" .. -DUSE_CUDA=0 -DUSE_CUDNN=0  -DUSE_OPENCV=1 -DUSE_OPENMP=1 -DUSE_

[2019-04-18 04:46] cyh-ustc opened #14731 "profile result seems mixed up"
# profile result seems mixed up
I tried to do some profiling on some network. But the result seems to be mixed up on operater scale.
eg.
[_backward_FullyConnected,_backward_FullyConnected,_backward_Concat,add_n,_backward_mul,_backward_Activation,_backward_broadcas 🔍 | 34.913 ms | 0.000 ms | 34.913 ms | 1
-- | -- | -- | -- | --
[_backward_WarpCTC,_backward_Concat,_backward_FullyConnected,_backward_

[2019-04-18 04:49] TaoLv commented on #14731
Try to set these env variables before profiling:
export MXNET_EXEC_BULK_EXEC_INFERENCE=0
export MXNET_EXEC_BULK_EXEC_TRAIN=0
export MXNET_EXEC_BULK_EXEC_MAX_NODE_TRAIN=0

[2019-04-18 07:35] abner2015 opened #14732 "cpp-package predict error at 'int best_idx = predicted.At(0, 0)' whether the ndarray.hpp have a bug?"
The example from

when i use the cpp package inference the image , occur the error :

at the  line :`int best_idx = predicted.At(0, 0)`
debug code at `ndarray.hpp' :

`inline size_t NDArray::Offset(size_t h, size_t w)  const {
  return (h * GetShape()[1]) + w;
}
`
whether hava a bug in ndarray.hpp?

[2019-04-18 08:13] ziyuang opened #14734 "Segfault when installing python binding of MXNet after building"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-04-18 08:22] ziyuang commented on #14734
@mxnet-label-bot add [Build]

[2019-04-18 09:12] cyh-ustc commented on #14731
it works
thanks a lot @TaoLv

[2019-04-18 09:13] #14731 closed

[2019-04-18 09:13] #13389 closed

[2019-04-18 09:32] xiongzhangdavid commented on #14304
same issue, pls help

[2019-04-18 11:17] shuokay opened #14735 "How to update parameter manually with gluon in training loop"
I want to update parameters in the training loop,
[code]
If run in one gpu, the code works well,
If run in muti gpu and in NativeEngine mode, the code works well,
If move ` trainer.step(batch_size)` after `params["my_param"].set_data(my_param*0)`, the code works well,
If run in multi gpu and default ENGINE `my_param` get the incorrect result.
I think maybe I should sync the data after `set_data`,

[2019-04-18 13:28] trivialfis commented on #14304
Add:
[code]

[2019-04-18 13:45] sl1pkn07 commented on #14304
@trivialfis not works for me

[2019-04-18 13:54] trivialfis commented on #14304
@sl1pkn07 I'm building mxnet with g++@7, cmake@3.12 and make (first time trying to build, still trying to fix other issues).  Added the above lines between:

https://github.com/apache/incubator-mxnet/blob/0da4b67ebf5788deef97ecaca5e30cbc9d27660d/CMakeLists.txt#L155

It works for me, not sure what's missing from your environment.

[2019-04-18 13:57] seujung commented on #14735
Try to add this line before update the paramter
[code]

[2019-04-18 15:57] frankfliu commented on #14727
@mxnet-label-bot add [Bug]

[2019-04-18 15:58] frankfliu commented on #14729
@mxnet-label-bot add [build, CI, windows]

[2019-04-18 15:59] frankfliu commented on #14730
@mxnet-label-bot add [build, windows]

[2019-04-18 16:02] frankfliu commented on #14732
@mxnet-label-bot add [C++, example]

[2019-04-18 16:03] frankfliu commented on #14735
@mxnet-label-bot add [question, gluon]

[2019-04-18 17:47] samskalicky commented on #14727
@ZhennanQin Im not sure why we think the input order should not change after partitioning. It makes sense to me that since we're changing the graph its possible the order may change. Maybe @reminisce can explain the rationale behind that assumption that it should not change. All ive been able to figure out the input order does change, hence the error message above about the shapes mismatch.

[2019-04-18 17:54] aaronmarkham commented on #2048
This is still a problem. Rather than closing it again, let's keep it open as a call for contribution.

[2019-04-18 17:55] haojin2 commented on #11283
Attempting implementation in backend...

[2019-04-18 18:00] aaronmarkham opened #14736 "image classification example (/example/gluon): no module named data"
Similar to #2048 and as noted in #5717 - some examples don't work out of the box.
This one does not:
https://github.com/apache/incubator-mxnet/blob/master/example/gluon/image_classification.py

[code]

[2019-04-18 18:17] zhanghang1989 commented on #11283
Yes, it stays in some branch of my fork. We used to implement that for SyncBN

[2019-04-18 19:39] reminisce commented on #14727
@samskalicky The order should be preserved because that's how I implemented it. If it's changed in your case, there might be a bug. Can you draw a diagram to show which inputs' order is changed?

[2019-04-18 19:57] samskalicky commented on #14727
@reminisce can you explain how you implemented it in such a way that the order is preserved?

There is a failing example with the sources in the description, would really appreciate your help debugging through this with your expertise and familiarity.

Here is an example showing the problem:
![image](https://user-images.githubusercontent.com/1541993/56387203-8e50c900-61d8-11e9-96c3-7398ac38cc20.pn

[2019-04-18 20:32] reminisce commented on #14727
@samskalicky Thanks for the diagram. This is indeed the case that breaks the order of inputs and it's not considered in the implementation. We may need the solution in your PR to solve this.

[2019-04-18 21:07] stu1130 commented on #14725
More data points
G3dn.16xlarge -cu100mkl aveage throughtput: 445
G3dn.16xlarge -cu92mkl average throughput: 444
On G3dn(Tesla M60) I don't see the performance regression

[2019-04-18 22:17] anirudhacharya commented on #14114
@yuxihu  should we use an enum for these options or validate their values before use? see also here - https://github.com/dmlc/ps-lite/blob/aee325276bccb092f516df0bce30d3a8333f4038/src/postoffice.cc#L12 where the DMLC-ROLE is checked for not_null but its values are not validated(scheduler/server/worker)

[2019-04-19 00:24] shuokay commented on #14735
@seujung It did not work

[2019-04-19 00:24] shuokay commented on #14735
@seujung It did not work

[2019-04-19 00:29] larroy commented on #14729
MKLDNN can be used no problem in windows?

[2019-04-19 01:04] ZhennanQin commented on #14727
So it's a common case from all backend that the input order may get change after partitioning. So we should consider this in whole partition flow, not for a particular backend. @samskalicky Thanks for finding and fixing this.

[2019-04-19 01:37] TaoLv commented on #14729
Currently it needs some hack to the cmake files.

[2019-04-19 01:56] KellenSunderland commented on #14725
Good catch, that's a big drop.  Would you be able to run nvprof --summary before each run and paste the output here?

[2019-04-19 02:10] anirudh2290 commented on #14725
@KellenSunderland I was looking at this with @stu1130 from mxnet profiler it seemed like fully_connected_backward seems to be taking more time. It could be that cublas gemm (internally called by fc backward) performance regressed for certain input shapes. agreed nvprof would be worth to look at.

[2019-04-19 06:04] #9511 closed

[2019-04-19 06:33] HaoLiuHust opened #14741 "[Problem] symbol auto name"
mxnet will give a symbol a name automatically if I do not give it one, for example a "+" operator and so on, it works well when I construct a network symbol from scratch, but when I get a symbol from symbol-json or checkpoint, and then concat some other sym without name, there will be variable with same name. Is it by design or a bug?

[2019-04-19 06:58] HaoLiuHust commented on #14741
finally I found a solution, use NameManager

[2019-04-19 07:15] houweidong opened #14742 "CPU memory leak when running train_yolov3.py"
When i run the train_yolo3.py in gluoncv, the cpu memory occupation is about 21G at epoch 0,  but at the end of every epoch, the cpu memory will increase about 1G~2G. And the cpu memory can hit 50G when the epochs is about 40!
How can i solve this porblem?

train with option:
`--batch-size 16    -j 8   --dataset coco  --syncbn`

version:
[code]

[2019-04-19 08:24] triplekings commented on #14730
Thanks. I'll check it

[2019-04-19 09:16] yajiedesign commented on #14640
https://github.com/apache/incubator-mxnet/pull/14743

[2019-04-19 12:05] Chouffe commented on #14704
@mxnet-label-bot add [Good First Issue]

[2019-04-19 20:18] sl1pkn07 commented on #14670
ok. my issue is fixed via https://github.com/intel/mkl-dnn/commit/e35da48e4a00fe1ae2fa079f877a78a98df6bf6a#diff-01de9067ac77e00c2f64922cadb78a1d, now wait to bump the version in mxnet .gitmodules

greetings

[2019-04-19 21:14] frankfliu commented on #14741
@mxnet-label-bot add [question]

[2019-04-19 21:15] frankfliu commented on #14742
@mxnet-label-bot add [Memory]

[2019-04-19 23:15] andrewfayres commented on #14256
I tried on two different machines (my personal laptop and an AWS EC2 instance) and haven't been able to reproduce this behavior. Can you please provide the following information:

CUDA version:
CUDNN version:
OS (looks like ubuntu but which release):
GPU Model:

Also, when you say that it hangs does that mean completely or does it eventually resume? I'm not sure what could be causing this issue. B

[2019-04-19 23:46] larroy commented on #14256
There's an initialization delay of a few seconds. Maybe this is being mistaken as hanging?

[2019-04-20 02:28] TaoLv commented on #14670
@sl1pkn07 Thank you for your patience. We're working on a new release of MKL-DNN. Will update MXNet submodule once the release comes out.

[2019-04-20 03:23] gbxu commented on #10567
This sounds great!

[2019-04-20 07:41] wkcn commented on #14697
Close it since I found the bottleneck of performance is the release of NDArray Object.

[2019-04-20 07:41] #14697 closed

[2019-04-20 07:41] wkcn commented on #14648
Close it since I found the bottleneck of performance is the release of NDArray Object.

[2019-04-20 07:41] #14648 closed

[2019-04-20 07:44] wkcn commented on #13928
Close it since dilated convolution is not optimized in the old version of CUDNN as chinakook said.

[2019-04-20 07:44] #13928 closed

[2019-04-20 11:07] atopion opened #14751 "Model build error: Check failed: i >= 0 && i < ndim(): index = -2 must be in range [0, -1)"
## Description
On Windows: Building of keras models fails on adding Dense layers with this error message. This happens regardless if package is build from source or downloaded via pip, with or without cuda.

I first encountered this error as I tried to start [https://github.com/roatienza/Deep-Learning-Experiments/blob/master/Experiments/Tensorflow/GAN/dcgan_mnist.py](https://github.com/roatienza/D

[2019-04-20 11:16] arcadiaphy commented on #14720
Run through this flaky test several times, it happens on linux too:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14693/4/pipeline/258

[2019-04-20 16:32] jmacglashan commented on #14619
Easily the biggest feature Mxnet is lacking is the higher order gradient support. There appears to be some work to get this going, but it's been a bit stagnant. The lack of strong support for this feature prohibits the ability to implement a number of DL algorithms. Everything beyond this seems like quality of life features. I would offer to help on this front, but I won't have the time necessary

[2019-04-21 06:54] hewujunTDT commented on #14706
I have the same question

[2019-04-21 16:59] pengwangucla commented on #8458
I understand it reduces speed, but it also reduces my accuracy, which makes me really confused.

Thanks for the reply, I understand it reduces the speed as I observed, but it also reduces the accuracy from a pretrained se-net. I wonder whether you have tried it using symbol API ?  Thanks

[2019-04-21 20:21] KellenSunderland commented on #14619
Features I'd like to see for 1.5 include:

* Amp if ready.
* New TensorRT integration with subgraph support
* NVTX ranges for easier GPU profiling.

[2019-04-21 20:42] KellenSunderland commented on #14159
I can give a quick summary of my experience with fp16 and C++ so far:

I believe the best way to do this is as in other front-ends such as python.  As @anirudh2290 mentions, add casts around numerically sensitive and insensitive sections (batchnorms and softmaxs for example should be fp32, convs and FC should be fp16) and then make sure your inputs are in fp16.  You should then be able to run infe

[2019-04-21 20:51] KellenSunderland commented on #14619
For those doing the license review I also had a quick question.  Would it be easier if the TensorRT source dependency was made a build-conditional dependency?  This could be pretty easily done in CMake, and it might help avoid the pain we had with licensing in 1.4.

[2019-04-22 01:46] stereomatchingkiss commented on #14619
Any plan to simplify compilation process on windows?
Any document to show us how to compile mxnet with the support of mkldnn on windows?

[2019-04-22 03:30] juliusshufan opened #14755 "Build on Linux will fail if "test" option used"
## Description
There is a build issue happened on MXNet github repo on Linux if using below command:
 make -j USE_OPENCV=1 USE_MKLDNN=1 USE_BLAS=mkl **_### test_**

The build is okay if "test" removed.

@TaoLv @pengzhao-intel

## Environment info (Required)
GCC 4.8.5
CentOS 7.5

[code]
Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from source)
Compiler (gcc/clang/mi

[2019-04-22 05:02] androuino opened #14756 "Mismatch between shape Java API"
Hi, I’ve finished training the yolo3_darknet53 params and wanted to test it with Java API, however am having this error which I have no idea where it coming from:

     Exception in thread “main” java.lang.IllegalArgumentException: requirement failed:
     Mismatch between shape (100,1) and (1,100,4)
        	at scala.Predef$.require(Predef.scala:224)
        	at org.apache.mxnet.NDArray$$anonfun$

[2019-04-22 07:01] nswamy opened #14760 "upcasting accumulation type in norm increases loss/Perplexity"
While fixing an issue described [here](https://github.com/apache/incubator-mxnet/issues/14722).
I applied the changes from master and found that the change from #14616 follows the same pattern as the softmax change in #14098 and increases the loss and hence perpelity from 126.66 to 135, without this change and the fix to softmax #14759, validation perplexity comes back to 126.66

Details on how to

[2019-04-22 07:38] huyangc opened #14761 "mutable state cannot go across device op=BatchNorm input_state_index=3"
Using the same code as #7034
[code]
got this error mutable state cannot go across device op=BatchNorm input_state_index=3

[2019-04-22 08:13] IvyGongoogle commented on #14694
need help...

[2019-04-22 10:25] pengzhao-intel commented on #14619
Yes, we have the plan for MKLDNN on windows and will fix it in 1.5.  I will add into my table.
@yinghu5 @NeoZhangJianyu

[2019-04-22 11:03] PistonY opened #14762 "How to make nn.HybridSequential handel multiple input/output layer?(Gluon)"
For example I have a custom layer defind as
[code]
And if use `nn.HybridSequential`
[code]
Then make data and run would raise an error
[code]

Do you have any way to fix this?

[2019-04-22 11:25] jokerwenxiao opened #14763 "how to run distributed mxnet training job by docker container"
I tried to run a distributed training job with docker container.

I used the launch.py to run the examples/distributed_training/cifar10_dist.py in container, but i confused with hosts file.

command is as flow:
1. **run container in two hosts:** docker run -ti --net=host image:name bash
2. **command in shell:** python launch.py -n -2 -s 2 --sync-dst-dir examples/distributed_training/ --launch ssh

[2019-04-22 12:05] AnaRhisT94 commented on #14584
Hi,
according to this:
https://discuss.mxnet.io/t/load-params-from-symbol-models-to-gluon/804
You can load .params and .json into Gluon model.
Then, can we use the conversion from FP32 to FP16. right?

**Also, would love to know if you quickly guide me how to cast gluon models into fp16.**

[2019-04-22 14:07] shuokay commented on #14735
If I set `kvstore='local` and `update_on_kvstore=False`, everything works well. I think this problem is caused by kvstore. Is there someone can give any advices?

[2019-04-22 15:51] frankfliu commented on #14751
@mxnet-label-bot add [keras]

[2019-04-22 15:52] frankfliu commented on #14755
@mxnet-label-bot add [build]

[2019-04-22 15:53] frankfliu commented on #14756
@mxnet-label-bot add [scala, bug]

[2019-04-22 15:56] frankfliu commented on #14761
@mxnet-label-bot add [question, operator]

[2019-04-22 15:56] frankfliu commented on #14762
@mxnet-label-bot add [gluon, question]

[2019-04-22 15:57] frankfliu commented on #14763
@mxnet-label-bot add [docker, distributed, question]

[2019-04-22 16:59] eric-haibin-lin commented on #14760
What about adding env var like MXNET_ENFORCE_SAFE_ACCUMULATION = 1 to trigger safe accumulation with higher precision on existing ops?

[2019-04-22 17:15] nswamy commented on #14760
If we have to do this for many operators it makes sense to control through a environment variable like you are suggesting. how many operators need this change?

What i am puzzled about is why the loss goes up when the accumulation precision is increased.

[2019-04-22 17:54] eric-haibin-lin commented on #14760
We need this for softmax, log_softmax, norm and layernorm (coming soon).

@szha @ptrendx what do you guys think is the best way to handle this?

[2019-04-22 17:57] KellenSunderland commented on #14725
Good investigation so far, your explanation makes sense @anirudh2290 and @stu1130.  I think that's enough information to get NVIDIA started on verifying the regression and looking for root causes and a fix.

If we wanted to investigate further there is one more step we could potentially run to really lock down exactly why this kernel regressed.  I've found API logging from cuDNN and cuBLAS to be q

[2019-04-22 19:22] larroy commented on #14117
@marcoabreu please list the submodules and dependencies which have these hardcoded paths, you didn't respond to the latest question in the PR you linked ( https://github.com/apache/incubator-mxnet/pull/13456 ) I don't see we have a direct dependency on zeromq but only through a shell script. I don't think this is a valid reason to require root in all the build functions and override the compiler g

[2019-04-22 20:40] awsbillz opened #14766 "MKLDNN doesn't support 6 dimensions"
Hi MXNet,

We are running into this issue where the MKLDNN implementation of MXNet tensors doesn't support 5+ dimensions. Is there are specific reason for this? We use Reshape and Transpose operators that manipulates layer outputs into 6D tensors.

https://github.com/apache/incubator-mxnet/blob/master/src/ndarray/ndarray.cc#L475

[code]

We are currently running on MXNet 1.4.0 with MKLDNN on C5 in

[2019-04-22 20:49] yuxihu commented on #14766
@TaoLv @pengzhao-intel Would you mind taking a look at this issue? Thanks.

[2019-04-22 21:14] lanking520 commented on #14756
@androuino It's a general shape mismatch problem sounds like.

What is the input shape of your model? Are you trying to do object detection on it?

It will be better if you can share me your model and I can have a quick evaluation on it.

[2019-04-22 21:16] lanking520 commented on #14763
@eric-haibin-lin Could you please take a look if you have some context about it?

[2019-04-22 21:25] Roshrini commented on #14763
@jokerwenxiao I think you need to setup passwordless ssh for the communication between the hosts. Can you try to do it? https://www.tecmint.com/ssh-passwordless-login-using-ssh-keygen-in-5-easy-steps/

[2019-04-22 21:30] lanking520 commented on #14762
@PistonY The way you are using is incorrect. You should follow this:
https://discuss.mxnet.io/t/gluon-multi-input-block/1993

[code]

[2019-04-22 22:21] zachgk commented on #14755
@larroy Any ideas?

[2019-04-22 22:53] lanking520 commented on #14761
@eric-haibin-lin

[2019-04-22 22:56] anirudh2290 commented on #14725
Thanks for the useful suggestion @KellenSunderland . @stu1130 obtained the logs and didnt see any volta_sgemm_128x64_nt calls . We see cublasSgemmEx_internal calls and we tried to grep for configuration of m=128 n=64 but weren't able to find anything. I am not sure which cublas call maps to this call (volta_sgemm_128_64_nt) and we have also asked nvidia for help. Let us know if you have any ideas.