[2018-07-04 14:20] Angzz commented on #10386
同问，1.3 pre版本的都已经更新了，但是貌似还是只支持3 dim.

[2018-07-04 15:17] #11535 closed, assigned to nobody

[2018-07-04 16:02] junrushao1994 commented on #11553
It seems that you didn’t update the tvm submodule. You may either update all submodules, or clone the MXNet repo again so that everything should be update-to-date.

[2018-07-04 16:35] apeforest commented on #9167
@sxjscience I will look into this

[2018-07-04 18:01] dmidge8 opened #11557 "Logging in Mxnet, with different level (verbose, warning, error)"
Hi,

As pointed out in this forum thread, https://discuss.mxnet.io/t/how-to-enable-logginig-for-c-api/1273/5 and https://discuss.mxnet.io/t/debug-mxnet-network-in-c/1274, there is a strong need felt to be able to log information and failed checks in MXNet.
It is mainly useful when using the C++ API, because there are no other feedback than the one you get when there is an error and than you need t

[2018-07-04 18:05] ThomasDelteil commented on #9026
@dbsxdbsx I suggest that you switch to Gluon and use a `DataLoader` with `num_workers`>1.
The bottleneck seems to be your image generation that is currently done synchronously rather than asynchronously.
With Gluon you could simply subclass the `Dataset` class to generate your captcha asynchronously using a `DataLoader`. That should solve your I/O issue and you should witness an increase in the GP

[2018-07-04 18:15] ThomasDelteil commented on #8289
@adeagle I think the code has been updated since you raised the issue.
Here are my results running on p3.8x:
**1 GPU:**
[code]
**2 GPUs (1.9x scaling speed):**
[code]
**4 GPUs (3.8x scaling speed):**
[code]

[2018-07-04 18:18] szha commented on #11553
@smartadpole try `git submodule update --init --recursive`

[2018-07-04 19:03] zhreshold commented on #6592
header + num_object * 5 == 2288 in your case @dingding2

[2018-07-04 19:09] ThomasDelteil commented on #8234
@thbupt you are right, I will fix and update the fixed files s3.

[2018-07-04 19:14] szha commented on #11550
@reminisce

[2018-07-04 19:18] szha commented on #11551
@reminisce @piiswrong. Likely due to lack of bound check in gather_nd.

[2018-07-04 19:19] szha commented on #11552
Looks like unsigned type being used in axis.

[2018-07-04 19:21] szha commented on #11557
I think you can already get streams like `LOG(severity)` where severity can be FATAL, ERROR, WARNING, INFO. https://github.com/dmlc/dmlc-core/blob/649be18a8c55c48517861d67158a45dec54992ee/include/dmlc/logging.h#L162-L166

[2018-07-04 20:03] reminisce commented on #11550
MXNet does not support empty NDArrays in nature. What is the use case of creating an empty array in MXNet?

[2018-07-04 20:32] ThomasDelteil commented on #9623
@anirudhacharya you can find example of word embedding training and usage in the [Gluon-NLP](http://gluon-nlp.mxnet.io/examples/word_embedding/word_embedding_training.html) project:
- [Using pre-trained word embeddings](http://gluon-nlp.mxnet.io/examples/word_embedding/word_embedding.html)
- [Training your own word embeddings](http://gluon-nlp.mxnet.io/examples/word_embedding/word_embedding_traini

[2018-07-04 20:36] ThomasDelteil commented on #10126
@kazizzad does @kice's implementation solves your problem?
@sandeep-krishnamurthy can you please close the issue.
@kazizzad if you want to follow up, please post your question on https://discuss.mxnet.io

[2018-07-04 20:40] #9623 closed

[2018-07-04 20:41] ThomasDelteil commented on #9226
@rlantz-cfa I think your problem is the same as @sampathchanda, you have some parameters that have not been initialized because they have never been needed in the first forward pass. However you are trying to update them, probably because you passed `net.collect_params()` in your `Trainer`, which gave all the parameters of your network to the `Trainer`.
@rlantz-cfa If you want to follow-up please

[2018-07-04 21:01] ThomasDelteil commented on #9134
@KellenSunderland, @larroy, @marcoabreu  do you have a JetsonTX1 available to run the above example and confirm it is failing?

[2018-07-04 21:06] dmidge8 commented on #11557
Indeed. But when you use a compiled version of MXNet and you try to figure what is going wrong with it, you may want to toggle with several version of severity.

There, for now, every time you want to use the C++, since you don't have lot of feedback, you either have the choice of compiling the whole MXNet library with no log and then wonder what went wrong, or try to log everything and potentiall

[2018-07-04 21:42] ThomasDelteil commented on #8546
@fallingdust I think unfortunately this usage is not supported. You can use masking, depending on what you want to achieve, you can for example set the values you'd like to ignore to 0 or -1.
Here is an example where I set the discarded value to -1.
[code]
Or as @zhreshold said, if this code is not in a critical path of your network, you can consider doing your array manipulation in numpy.

@zhres

[2018-07-04 21:47] ThomasDelteil commented on #8531
@squidszyd
You can do the following:
[code]
[code]

[2018-07-04 22:06] ThomasDelteil commented on #8487
@xiaogehh currently the Gluon LSTM and GRU RNN layers cannot be hybridized but the work towards should be soon completed. You can track the effort here: https://github.com/apache/incubator-mxnet/issues/10873

Alternatively you have an example of LSTM implemented in C++ here: https://github.com/apache/incubator-mxnet/blob/master/cpp-package/example/charRNN.cpp

@sandeep-krishnamurthy could you plea

[2018-07-04 22:08] ThomasDelteil commented on #8393
@SumNeuron does the explanation from @lebeg and @reminisce make sense to you? If not please consider creating a post on https://discuss.mxnet.io to follow up.

@nswamy could you please close the issue? Thanks!

[2018-07-04 22:17] ThomasDelteil commented on #8178
@qinhui99 did you figure out why your submission got scored poorly?

One thing I could suggest is that to always manually compare your predictions with the images and check whether they make sense so that you know the error comes from you or from the kaggle expected submission format.

If it comes from you, then it could be a data preprocessing issue, or it could be that you are not loading the ri

[2018-07-04 22:20] leezu commented on #11550
At least `mx.nd.array([])` doesn't raise an error. Also indexing an array to obtain an empty one works. My impression was that NDarray aims to model np.ndarray as close as feasible?

Regarding use-case, consider having a list of 1D ndarrays of varying length, with some being empty. Padding them to the same length (and creating a 2D array) following the code above will raise the issue. If mxnet mat

[2018-07-04 22:32] ThomasDelteil commented on #8042
@chowkamlee81 there is no such utility I am afraid. It would be great to be able to do that, getting the code generated from a symbol definition or also for an ONNX model for example.

@sandeep-krishnamurthy can you please close this issue or convert it to Feature Request? Thanks!

[2018-07-04 22:34] ThomasDelteil commented on #8037
@lilhope If the issue is still current, could you provide an example code and post a follow-up post to https://discuss.mxnet.io referencing this issue? Thanks!

@sandeep-krishnamurthy can you please close the issue? Thanks!

[2018-07-04 22:37] ThomasDelteil commented on #7978
@chowkamlee81 does the example provided by @kevinthesun answer your query?

@szha can you please close this issue? Thanks!

[2018-07-04 22:48] #7978 closed

[2018-07-04 22:52] ThomasDelteil commented on #7946
@SumNeuron glancing quickly through the issue it seems that you want to format your data in the following way
`(N, C, T)` where `N` is the batch size, `C` the number of channels and `T` the length of signal time window (sometimes called `W` for width of your signal).
For example, for 3 channels and 64 measurements, using 32 convolutions kernels:
[code]

To answer your second question, have a look

[2018-07-04 22:54] #7946 closed

[2018-07-04 23:19] ThomasDelteil commented on #7895
@itisianlee typically `stride` and `dilation` are behavioral parameter that you want to use when you try to achieve specific behavior. `dilation` when you want to enlarge your receptive field. `stride` when you want to decrease your output resolution. `padding` is typically used in order to control the output size.
Let's first check your formula after fixing `stride` `dilation` and `kernel`.

Usin

[2018-07-04 23:29] reminisce commented on #11550
Operations on empty arrays will probably result in undefined behavior in MXNet. So not throwing exceptions is not a good indicator showing that it works.

MXNet NDArray is not designed to cover empty array use case as in numpy, because complete shape information (both inputs and outputs of operators) must be obtained in shape inference pass before moving to computation in either imperative or symb

[2018-07-05 00:21] #8546 closed

[2018-07-05 00:34] guliashvili opened #11560 "custom loss function"
Hi,

I'm fine tuning Resnet following the https://mxnet.incubator.apache.org/faq/finetune.html tutorial.

Tutorial modifies the Resnet like that:
[code]

However, I need to create a different kind of loss function. Which is following :
1) Do softmax(just softmax not softmaxoutput) with 100 classes.
2) Compute dot product between softmax probabilities and  the vector from [1, 2, 3 ... 100]. (This v

[2018-07-05 01:14] threeleafzerg commented on #11455
@marcoabreu
Following is my reproduce step:
Change @unittest.skip("Somehow fails with MKL. Cannot reproduce locally") with @with_seed()
Then run test_gluon_data.py.  Result show all tests passed.

[2018-07-05 02:10] squidszyd commented on #8531
@ThomasDelteil
Thanks for reply. I've figured out this exact solution months before :P
I'll close this issue.

[2018-07-05 02:10] #8531 closed

[2018-07-05 03:40] marcoabreu commented on #11455
How do you compile MXNet? What's the environment configuration?

[2018-07-05 04:11] marcoabreu commented on #11555
@Roshrini didn't we have full test coverage for all ONNX supported operators?

[2018-07-05 04:31] xizi commented on #11539
@azai91  i have solved this problem by revise kvstrore = "local"

[2018-07-05 04:31] #11539 closed

[2018-07-05 05:31] threeleafzerg commented on #11455
make -j USE_OPENCV=1 USE_MKLDNN=1 USE_BLAS=mkl USE_DIST_KVSTORE=1
My build system is centos 7.0

2018-07-05 11:40 GMT+08:00 Marco de Abreu <notifications@github.com>:

[2018-07-05 05:39] marcoabreu commented on #11455
@piiswrong please provide guidance how to reproduce the issue

P.s. we usually use openblas as blas library and not full mkl

[2018-07-05 06:50] chinakook commented on #11560
Change "rhs= mx.nd.array(range(1,101)" to "rhs=mx.sym.Var("rhs")"
You also need to init rhs symbol properly.

[2018-07-05 06:58] gr8Adakron commented on #11536
Yes! eventually, I figured out its presence in the repo. So, I built it using the master branch and it ran successfully.

[2018-07-05 06:58] #11536 closed

[2018-07-05 07:06] #7895 closed

[2018-07-05 07:07] #8037 closed

[2018-07-05 07:14] chinakook commented on #11549
Yes, I found that a years ago. The speed can be different when using different libopencv. The libopencv shipped with Ubuntu will run slower than that built by yourself.
The building system has also affects on speed, for example, MXNet built by config.mk is faster than that built by CMake. The latter will run very slow on some special case.

[2018-07-05 07:31] zhyj3038 opened #11561 "AttributeError: type object 'SymbolBlock' has no attribute 'imports'"
## Description
when I use "mx.gluon.nn.SymbolBlock.imports",mxnet report " AttributeError: type object 'SymbolBlock' has no attribute 'imports'"

## Environment info (Required)
win7,  mxnet1.2.0

[2018-07-05 09:13] dingding2 commented on #6592
oh, thank u, bro  so, what is the header?  Is it some param or data calculated by the pictures? Is it fixed by the model or changable?  How to understand it?

[2018-07-05 09:24] zhyj3038 commented on #11561
I load  *.json and *.params in another way.

[2018-07-05 09:24] #11561 closed

[2018-07-05 10:03] larroy commented on #9134
Of course. We will add it to our queue and plan to work on this. @wangdi1983  how did you compile / get MXNet?

[2018-07-05 10:10] mouradmourafiq commented on #10105
@wanderingpj I am very sorry, I am not sure what I did to solve that issue.

[2018-07-05 11:29] Ram124 commented on #11556
I found the reason for this.. It was due to anchor box scales and min_size.
i have a new question regarding this. What is the best value for anchor scale and min_size to detect objects in 31512 image.. objects are of size 4100( width*height).
i have changed anchor scales form (8,16,32) to (2,4,6) and min_size to 2 and rpn_stride to 6..
And trained the network, but getting
AP for bicycle = 0.0000
A

[2018-07-05 11:53] wanderingpj commented on #10105
it's ok.

[2018-07-05 12:02] lebeg commented on #7852
Can this issue be resolved?

[2018-07-05 12:04] lebeg commented on #7653
Is this still a problem with latest / 1.2 MXNet?

[2018-07-05 12:19] lebeg commented on #11549
That is an interesting observation @chinakook, do you have a bit more detail about this so we can identify the root cause?

[2018-07-05 12:40] #8178 closed

[2018-07-05 12:47] chinakook commented on #11549
The first issue can be tested with https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/train_mnist.py
The second issue can be tested with my [repo](https://github.com/chinakook/hr101_mxnet). MXNet built by config.mk will take 1.3s to detection while the CMake built one may take 20s to run on a Nvidia 1080Ti even when the CUDNN_AUTOTUNE is set to 0.

[2018-07-05 12:50] lebeg commented on #10543
The unfortunate current situation is that `mxnet-cpp/op.h` should be generated from source by [cpp-package/scripts/OpWrapperGenerator.py](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/CMakeLists.txt#L13). But it requires that the actual mxnet library is there already. I suggest you make sure you have python installed and it's on the PATH and that you run 2 consecutive builds -

[2018-07-05 12:57] lebeg commented on #9944
What if you try a suggestion from https://github.com/apache/incubator-mxnet/issues/10543 - make sure you have python and all [needed modules](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/scripts/OpWrapperGenerator.py#L23-L33) installed and it's on the PATH and that you run 2 consecutive builds - 1 without cpp package and another with.

[2018-07-05 13:19] lebeg commented on #8741
Is this still an issue?

[2018-07-05 13:28] lebeg commented on #8667
Is this still an issue?

[2018-07-05 13:39] lebeg commented on #7725
Can this issue be resolved?

[2018-07-05 14:14] #8042 closed

[2018-07-05 14:22] KellenSunderland opened #11563 "Deprecate USE_PROFILER from make/cmake."
Let's deprecate USE_PROFILER from cmake and build systems as this flag is now always on at compile time.  Having this option seems to be confusing users.  Doing a full removal from cmake should be safe, and should present users with an intuitive message.  For other build systems we may need to provide a deprecation message.

[2018-07-05 14:33] lebeg commented on #11100
Sure, thanks @yajiedesign. The documentation needs to be updated anyway.

[2018-07-05 15:06] lebeg opened #11564 "Build timeouts after ccache added"
Some rare build failures occur after the addition of ccache. Sample:

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-11486/runs/1/nodes/57/log/?start=0

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11486/1/pipeline/

The builds are hitting the Jenkin's timeout as the task fails at exactly the

[2018-07-05 15:19] lebeg opened #11565 "Using ThreadedEnginePerDevice crashes on Raspberry Pi"
## Description

The failure is not deterministic and the library import to python passes in 1 of 4 times. The creation of NDArray's in this case fails though in all cases with similar message that the stack is corrupted.

## Environment info (Required)

[code]

## Error Message:

[code]

## Steps to reproduce

1. `ci/build.py -p armv7`
2. `pip install mxnet-1.3.0-py2.py3-none-any.whl` on RPi

## W

[2018-07-05 16:18] larroy commented on #10837
Can you give more info on why lapack is needed in arm?

[2018-07-05 16:59] apeforest commented on #9167
This issue seems to be the same as [Issue 8997](https://github.com/apache/incubator-mxnet/issues/8997). @cjolivier01 Could you please confirm that? thx

[2018-07-05 17:19] zhreshold commented on #6592
@dingding2 Checkout this for the explanation: https://mxnet.incubator.apache.org/api/python/image/image.html#image-iterator-for-object-detection

[2018-07-05 17:34] golo314 commented on #11543
Quick update, it seems that the problem is that the OpWrapperGenerator.py is unable to find the other .so files. It finds the libmxnet.so but crashes on the following .so file with is libmkldnn.so (which is located in a different file).

[2018-07-05 17:54] leezu commented on #11550
In that case, would it be better to be explicit about the lack of support for empty arrays and make sure they cannot be instantiated (i.e. raise an Exception)?

[2018-07-05 17:57] ThomasDelteil commented on #11040
@indhub can you close this issue? It has been resolved on the forum. Thanks!

[2018-07-05 17:59] ThomasDelteil commented on #11062
@kaleidoscopical I think there is no way to forcefully occupy full memory.
@indhub can you close the issue or remove the [Question][Pending Requester Info] tags and add a [Feature Request] tag?

[2018-07-05 18:10] rahul003 commented on #11549
@hetong007 Yes the commit used by the pip package I tried (also again with Jul 3'rd version) is after your commit.

[2018-07-05 18:15] rahul003 commented on #11549
@szha Yes, with dummy data, they match.

[2018-07-05 18:33] ThomasDelteil commented on #11071
@rachelmint do you have an update?
@eric-haibin-lin I see much higher memory allocation than reported here using the VGG16 model. (Though the parameter file is indeed ~500MB) How do we explain this memory usage? Do we pre-allocate memory for feature maps?

Using gluon I find that MXNet allocates 1.92GB in memory when loading the model.
When running one image through the network, memory peak at 2.1

[2018-07-05 18:36] KellenSunderland commented on #10837
To enable efficient SVD, matrix decomposition, etc.  Maybe more relevant
for edge devices than gpus.

On Thu, Jul 5, 2018 at 6:19 PM Pedro Larroy <notifications@github.com>
wrote:

[2018-07-05 18:46] ThomasDelteil commented on #11086
@indhub  can you remove [Question] and add [FeatureRequest] for improving the softmax operator to support the use-case above without having to manually flatten

[2018-07-05 19:01] andrewfayres commented on #11565
Thank you for submitting the issue! @sandeep-krishnamurthy can you label this installation and edge devices

[2018-07-05 19:03] andrewfayres commented on #11564
@sandeep-krishnamurthy requesting this be CI

[2018-07-05 19:08] andrewfayres commented on #11556
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well. I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
 Thanks!

@sandeep-krishnamurthy requesting this issue be closed and labeled as question

[2018-07-05 19:28] ThomasDelteil commented on #11282
@ZaidQureshi it looks like you used `--model` instead of `--network`

[code]

@indhub can you please close this issue? Thanks!

[2018-07-05 19:28] szha commented on #11564
@marcoabreu you're probably interested.

[2018-07-05 19:35] ThomasDelteil commented on #11133
@lu4
To expand on @thomelane, here is a practical example of how you can set the data:

[code]

To expand on his warning, you'd need to initialize the network at the maximum size first, because you can't reshape the parameters but you can indeed fill them with weights padded with zeros.

@indhub Could you please close the issue? Thanks!
@lu4 if that doesn't answer your question and you would like

[2018-07-05 19:39] rahul003 commented on #11563
It's not used for make as well. It can be safely removed. The only usage of USE_PROFILER in the repo are in build scripts and documentation currently.

[2018-07-05 20:18] Roshrini opened #11567 "MXNet v1.2.0 branch PR build failure"
## Description
HI, following PR Builds are failing on dockcross-linux-arm64.
https://github.com/apache/incubator-mxnet/pull/11478
https://github.com/apache/incubator-mxnet/pull/11548

Probably some issue with this dockerfile:
https://hub.docker.com/r/mxnetci/dockcross-linux-arm64/tags/

@marcoabreu  Can you please take a look?

@anirudh2290

## Environment info (Required)

[code]

Package used (Py

[2018-07-05 21:12] reminisce commented on #11550
I don't know whether forbidding `mx.nd.array([])` would lead to any backward compatibility concern, but it should fail when one of either inputs or outputs of an operator is shape-incomplete. I will check to see why `slice` does not fail when the output is an empty NDArray. Thanks.

[2018-07-05 21:12] guliashvili commented on #11560
@chinakook Thank you so much for the timely response.
I did as you told me and everything works fine.

The only concern I have left is if this vector is gonna be changed during the training. And if yes, how can I stop it? Thank you

[2018-07-05 21:18] apeforest commented on #11495
It is due to integer overflow. The return type of the first value`shape_.Size()` is index_t, which is defined as `unsigned`. The value 700000x128x128 exceeds the UINT_MAX range. The return type of the second value `mshadow::Shape shape.Size()` is size_t, which equals to 64-bit unsigned long. Therefore, it reports CHECK_EQUAL failure.

[2018-07-05 21:45] #8741 closed

[2018-07-05 21:51] anirudh2290 opened #11568 "Issues with spatial transformer op when cudnn disabled"
## Description
as part of PR: #11470, it was found that spatial transformer op without cudnn enabled doesn't pass tests.
To reproduce try one of the two scripts below:

Script 1:
[code]

Result:

[code]

Script 2:

[code]
Result:

[code]

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please provide:
1. Java version: (`java -version`)

[2018-07-05 21:57] lichen11 opened #11569 "im2rec number of threads in R"
In the im2rec function in R, is there an option to specify number of threads? So far I am seeing the following options. I am aware that the Python im2rec.py has num_thread parameter. I am using mxnet 1.3.0.

im2rec(image_lst, root, output_rec, label_width = 1L, pack_label = 0L,
  new_size = -1L, nsplit = 1L, partid = 0L, center_crop = 0L,
  quality = 95L, color_mode = 1L, unchanged = 0L, inter_met

[2018-07-05 22:04] marcoabreu commented on #11567
@larroy

[2018-07-05 22:07] apeforest commented on #11495
The bug is due to 32-bit unsigned int overflow. The second value of `Size()` in the CHECK_EQ is from `mshadow::Shape<dim>`, whose return type is defined as `unsigned` in the [header file](https://github.com/dmlc/mshadow/blob/a8c650ce8a708608a282c4d1e251c57873a8db25/mshadow/base.h#L287).

[2018-07-05 22:32] ThomasDelteil commented on #11462
@jiajinyu it seems that indeed for small batch-size the CPU is doing a lot of work but it results in a small throughput.

I ran with your example, and I see all my cores being used and only ~400 images/sec throughput.

However when I increase the batch-size to 128 I see ~50k throughput, almost a linear scale-up.
[code]

I am not an expert in MKL-DNN or the sparse API, maybe @eric-haibin-lin or @zh

[2018-07-05 22:35] ThomasDelteil commented on #11421
Can you try to use
[code]
instead of using cv2 and let me know if that still happen?

[2018-07-05 22:43] ThomasDelteil commented on #11412
@zchrissirhcz a few module are indeed not in the API documentation as top-level packages as they should, for example the `mxnet.viz` and `mxnet.test_utils`. This is something we need to be fixed IMO, @aaronmarkham ?
 @indhub can you remove the question tag and add a [Bug] tag?
We should also try to handle better the shorthand versions of the modules: e.g `sym`->`symbol` `viz->vizualisation` `nd`->

[2018-07-05 22:50] ThomasDelteil commented on #11385
@yyl199655 for more information automatic differentiation (autograd) you can follow the Gluon Crash Course, in particular this [chapter](https://gluon-crash-course.mxnet.io/autograd.html)

To expand on @szha explanation, you simply need to compute your loss function within the `with autograd.record():` scope and then you can call `loss.backward()` on your loss term to automatically compute that lo

[2018-07-05 22:50] aaronmarkham commented on #11412
I'm not sure why this is the case. My guess is that it is probably doxygen config. I can tackle it first thing next week. Can you assign the issue to me?

[2018-07-05 22:59] lanking520 opened #11571 "RNN Example not supported for MXNet Scala"
This model has not been updated since 2017/07, the RNN example for LstmBucketing is no longer runnable.
Please contribute to RNN support on Scala for the current version. If you would like to run this example for now, please revert your MXNet version to `v0.12`.

In summary, I suspect that some operator changes caused this issue.

- [ ] LstmBucketing
- [ ] TestCharRnn
- [x] TrainCharRNN

Please co

[2018-07-05 23:00] ThomasDelteil commented on #11350
@wanderingpj can you expand a bit on your use-case? Without testing it myself I would say your assumption is correct.
@sandeep-krishnamurthy can you add [Pending Requester Info] tag?

[2018-07-05 23:01] ThomasDelteil commented on #11334
@kice the question as been answered on the forum, thanks!

@indhub can you please close the issue? Thanks!

[2018-07-05 23:02] ThomasDelteil commented on #11286
@indhub duplicate of #11282, question answered there, can you please close the issue? Thanks!

[2018-07-05 23:05] szha commented on #11571
Note that we're no longer using ptb. Instead we're using Sherlock Holmes dataset.

[2018-07-05 23:05] #11385 closed

[2018-07-05 23:15] ThomasDelteil commented on #11177
@RoacherM you are passing to your network `fear1` and `fear2` which are images in the `(C, H, W)` format. You need to "batchify" them to be in the `(N, C, H, W)` format where `N` = `1`.

Replace `net(fear1,fear2)` with `net(fear1.expand_dims(axis=0), fear2.expand_dims(axis=0))`

@indhub can you please close this issue?
@RoacherM if you would like to follow up, please open a thread on https://discu

[2018-07-05 23:18] ThomasDelteil commented on #11280
@KellenSunderland @lebeg @marcoabreu @KellenSunderland any luck for an Android amalgation build?

[2018-07-05 23:19] leezu commented on #11403
@rahul003 would this fix your issue https://github.com/apache/incubator-mxnet/pull/11573 ?

[2018-07-05 23:35] ThomasDelteil commented on #11278
@xmfbit I confirm there is indeed a bug with the 'lars' warmup strategy. I am not sure the optimizer has been properly tested, as that would have been picked up instantly
@ashokei could you follow up on that? Thanks!

[code]

[2018-07-05 23:42] lanking520 commented on #11571
@szha , Do you know if there is any operator changes/abandoned related the RNN for the past 1 year? The code we have written 1 year ago cannot work for now. I believe there shouldn't be any changes on Scala side.

[2018-07-05 23:46] ThomasDelteil commented on #11165
@solin319 If you are willing to use Gluon I would suggest combining the `ImageFolderDataset` and `DataLoader` with `num_workers` >> 1 . The data loading is performed asynchronously on several processes and the data is pre-fetched in advance for you.

Have a look at this tutorial: https://mxnet.incubator.apache.org/tutorials/gluon/datasets.html#using-own-data-with-included-datasets

@solin319 Pleas

[2018-07-05 23:56] ThomasDelteil commented on #11144
@szha @piiswrong is it safe to pickle a model to store the network definition? And later reload the params using `net.load_parameters()` ? Could we imagine having a `net.to_pickle()` in the future? What would be the gotchas to consider when doing this ?

[2018-07-05 23:58] anirudhacharya commented on #10675
If you are using R version ``R version 3.4.3 (2017-11-30)`` it should work fine now. Try the instructions here - http://mxnet.incubator.apache.org/install/index.html?platform=MacOS&language=R&processor=CPU

@cells2numbers please verify and close the issue accordingly

[2018-07-06 00:07] ThomasDelteil commented on #11522
@simonmaurer
please use
[code]
To export your model.
You will get a `test-symbol.json` and `test-0000.params` file.

For more details refer to this tutorial: https://mxnet.incubator.apache.org/tutorials/gluon/save_load_params.html

[2018-07-06 00:37] chinakook commented on #11560
It cannot be changed as it's constants.

[2018-07-06 00:56] leezu commented on #11509
The latter error could be due to that numpy.linalg.norm is not numerically stable (neither is the mxnet one). Possibly #11573 could fix this issue.

[2018-07-06 01:19] guliashvili opened #11575 "inconsistent results of mae acc rmse"
Hi,

I'm trying to train my model with the following code. It has only to classes to predict from 0 and 1.

[code]

Here are the results :
.

This result looks very strange to me.
1) mae is always the same.
2) accuracy is almost optimal (near to 1)
3) rmse is worse then the random

How can these 3 things happen at the same time?

[2018-07-06 01:49] #11522 closed

[2018-07-06 01:49] szha commented on #11571
Not that I'm aware of. Other than the fused RNN kernels in CPU, there hasn't been much change since September 2016. https://github.com/apache/incubator-mxnet/commits/master/src/operator/rnn-inl.h

[2018-07-06 02:04] anirudhacharya commented on #6648
@sandeep-krishnamurthy this issue is fixed, can you please close it.

[2018-07-06 03:13] #6648 closed

[2018-07-06 03:40] lanking520 commented on #11571
I can reproduce the same issue on
- [`v1.1.0`](https://github.com/apache/incubator-mxnet/releases/tag/1.1.0)
However, `v1.0.0` works just fine for `LSTMBucketing`. There has to be something changed from 1.0.0 -> 1.1.0 cause that break. @yzhliu Any major change on Scala happened in the middle?

The `TestCharRNN` still contains the same issue on both 1.1.0 and 1.0.0

[2018-07-06 05:02] #10126 closed

[2018-07-06 06:13] kwanking opened #11576 "AttributeError: 'ResNetV2' object has no attribute 'save_parameters'"

[2018-07-06 06:42] #11177 closed

[2018-07-06 06:42] #11286 closed

[2018-07-06 06:43] #11334 closed

[2018-07-06 06:45] #11133 closed

[2018-07-06 06:46] #11282 closed

[2018-07-06 06:48] indhub commented on #11062
Agree, there is no way to forcefully occupy memory.

[2018-07-06 06:48] #11062 closed

[2018-07-06 06:49] #11040 closed

[2018-07-06 06:50] #8487 closed

[2018-07-06 06:51] #8600 closed

[2018-07-06 06:57] kavnish commented on #9326
Can someone help me to know, how can I use LSTNet trained model for future forecasting?
Thanks!

[2018-07-06 08:09] larroy commented on #11567
@lebeg add to our lists please

[2018-07-06 08:09] larroy commented on #11567
I have a fix for this on a branch.

[2018-07-06 09:52] lebeg commented on #11565
I'd say it's a bug rather than an installation issue.

[2018-07-06 10:47] eyildiz-ugoe commented on #5761
@szha  It still is an issue.

[2018-07-06 10:51] eyildiz-ugoe opened #11581 "predict_image example not working"
Where the following code is executed:

[code]
and following error occurs:

[code]

[2018-07-06 11:13] yyl199655 commented on #11385
If I want to extract a few lines of a matrix(symbol), how should I do?

[2018-07-06 11:14] yyl199655 opened #11583 "Mxnet function"
If I want to extract a few lines of a matrix(symbol), how should I do?

[2018-07-06 14:08] Ram124 commented on #11556
@andrewfayres @sandeep-krishnamurthy Could u please re open this issue and let someone answer my question.. I have not got any response in ([https://discuss.mxnet.io]).. So.

[2018-07-06 17:40] eric-haibin-lin commented on #3946
@yanhn are you using python for inference? MXNET engine has limited number of worker threads https://github.com/apache/incubator-mxnet/blob/master/docs/faq/env_var.md#set-the-number-of-threads
Did you check the GPU utilization? If it's already at 100%, it's pretty much computation bounded

[2018-07-06 18:38] ThomasDelteil commented on #11556
@sandeep-krishnamurthy can you please close the issue? Thanks

[2018-07-06 18:57] anirudh2290 opened #11588 "RNN when CUDNN is disabled"
## Description
Current RNN ops are supported only when CUDNN is enabled. We should also add RNN support with CUDNN disabled.  The new stage added by #11470 will ignore these failures for CUDNN disabled for now.

[2018-07-06 19:33] vdantu commented on #9864
Any suggestions on how to go about with recreating this issue or if I am missing something in my tests.

[2018-07-06 19:35] marcoabreu commented on #9864
Let's close this for now. It was a very specific case in which it failed related to some dependencies.

Thanks for following up!

[2018-07-06 19:35] #9864 closed

[2018-07-06 19:39] golo314 commented on #11543
The error happens inside of libmxnet.so.
After running the debugger, here is a quick snippet where it goes wrong:
#0  0x00007fffe65391eb in alloc_mmap () from /home/alex_golo/mxnet/build/libmxnet.so

#1  0x00007fffe6539506 in blas_memory_alloc () from /home/alex_golo/mxnet/build/libmxnet.so

#2  0x00007fffe65398f7 in gotoblas_memory_init () from /home/alex_golo/mxnet/build/libmxnet.so

#3  0x00007

[2018-07-06 20:17] RedbackThomson opened #11589 "MXPredCreate Input Parameters"
Hello!

While the C API has inline comments, and the documentation describes the input parameters for the methods, it is difficult to understand what they actually mean.

I have seen a number of other people online have asked about 2 parameters in particular:
input_shape_indptr
input_shape_data

The examples tell us that input_shape_indptr should be {0, 4} for a 4-dimensional FeedForward model wit

[2018-07-06 20:32] zhanghang1989 opened #11592 "Flaky Test Issue of GPU Operator"
## Description
`kernel_error_check_imperative()` and `kernel_error_check_symbolic()` in `test_operator_gpu.py` have flaky issues.

[code]

[2018-07-06 20:33] jimhester commented on #11098
In order to use the mxnet cpu binary available at https://mxnet.incubator.apache.org/install/index.html?platform=MacOS&language=R&processor=CPU I needed to compile opencv with `opencv_hdf` and `opencv_text` support (which is not the default for the homebrew bottle currently).

[code]

Then it can be installed with the following and the library can be loaded.

[code]

[2018-07-06 22:18] Roshrini commented on #11555
Thanks for reporting the issue. ONNX split operator supports equal and variable splits while MXNet supports only equal splits of a tensor. Have created a PR which should solve this and enabled onnx backed test for equal splits.

[2018-07-06 22:28] Roshrini opened #11594 "[FeatureRequest]MXNet Split operator to support variable length splits"
## Description
MXNet's split operator only support equal splits of a tensor according to http://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.split

This issue is to request the support for variable length splits.
For example:
[code]

[2018-07-06 22:32] marcoabreu commented on #11592
Hi, would you mind looking a CI run where this occurred?

[2018-07-06 22:37] y12uc231 commented on #4727
Please look into the version available to install on pycharm . got the following error while installing mxnet in pycharm .
"
Could not find a version that satisfies the requirement mxnet (from versions: )
No matching distribution found for mxnet
"

[2018-07-06 22:41] zhanghang1989 commented on #11592
This fails at `"/work/mxnet/tests/python/gpu/test_operator_gpu.py", line 1832, in kernel_error_check_imperative` http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11502/25/pipeline/799

[2018-07-06 23:13] ankkhedia commented on #10088
Hi @robbig2871
The installation instruction works fine for me now. The binaries have been updated on official repo now. Could you please check if there still exists any issue and close the above issue if the instructions works fine for you.

[2018-07-06 23:16] ankkhedia commented on #10925
@werewere Also the binaries on the official repo got updated. So, the install instruction from official MXNet page should work fine! Could you please confirm that the issue got fixed and close it?

[2018-07-06 23:18] ankkhedia commented on #10038
Hi @Ishitori The official repo has now been updated and the instructions on official MXNet installation page for R works. Could you please verify if  it  works for you and close the issue

[2018-07-06 23:33] szha commented on #11549
I've made updates in pip it can now achieve similar speed. Let's wait for tomorrow's nightly build to verify

[2018-07-06 23:39] yzhliu commented on #11571
Can we confirm whether it is caused by Scala frontend changes? e.g., use scala frontend @v1.0.0 but backend @v1.1.0 (or inverse) to see if it also crashes.

[2018-07-06 23:48] golo314 commented on #11543
Another thing I noticed, I get multiple cmake warnings most of which are concerned with cpp-package examples. Here is just one example of several:

CMake Warning at cpp-package/example/CMakeLists.txt:54 (add_executable):
  Cannot generate a safe runtime search path for target mlp because there is
  a cycle in the constraint graph:

    dir 0 is [/home/al/mxnet/build/3rdparty/mkldnn/src]
    dir 1

[2018-07-07 00:04] codewithsk commented on #11176
Currently facing this issue. Reducing batch size does not seem to fix the issue.

Trying to train [fast neural style transfer](https://github.com/SineYuan/mxnet-fast-neural-style/tree/605da92ba3ece0107eff64f3b7e1c13f28c6f0dd )

Issues seems to arise when trying to do mod.save_params() throws the following error:

[code]

[2018-07-07 03:51] mitmul commented on #11555
Thanks for working on this issue. Please close this issue after the PR is merged.

[2018-07-07 03:57] yunzhe-tao opened #11597 "Large Word LM Training"
Hi, I noticed that the large_word_lm model in the folder example/rnn/ has been modified recently. However, the perplexity increases at this version. Could anyone explain the differences between two versions?

Moreover, I ran the codes on p3.8xlarge instance and found that the validation process takes much more time than before. Why is it? Previously the whole validation takes only about 10 minutes

[2018-07-07 06:08] #11576 closed

[2018-07-07 06:52] junrushao1994 opened #11599 "Autograd fails when using `take` operator repeatedly"
## Description
Here provides a strange example that a backward pass on the accumulated sum of a 2-d NDArray `sc`, may potentially cause autograd to fail, depending on the shape of `sc`.

## Minimum reproducible example

TL;DR. This code calculates `x = sum(sc[i, j] for each i, j)`, and then invokes a backward pass `x.backward()`. The error message says that it could not calculate the gradient w.r.

[2018-07-07 06:54] junrushao1994 commented on #11599
@haojin2 Could you help take a look at this? Did I misunderstand anything about the `take` operator? Thanks!

[2018-07-07 09:49] janelu9 commented on #8255
i  have resolved it

[2018-07-07 09:49] #8255 closed

[2018-07-07 11:44] dbsxdbsx commented on #9026
@ThomasDelteil ,thanks for your answer.  I think the problem here is that the dataset of captcha is generated online while training. Therefore, the gpu has to wait  until cpu generates new batches of data.   I guess this is the main issue, and I guess this is what you mean, right?  And another problem  is that I didn't see any example about using gluon Dataloader with data produced online---I DO W

[2018-07-07 15:44] larroy opened #11601 "Flaky keyserver keyserver.ubuntu.com"
ci/docker/install/ubuntu_scala.sh  often fails due to gpg keyserver.

[2018-07-07 17:27] nswamy opened #11603 "Building MXNet Scala produces too many warnings"
When Building the Scala package on the master branch, I see too many warnings for unrecognized documentation strings and library mismatch. The doc strings themselves are retrieved from the backend.

These show up when there are examples with equations. One possible way to fix it is to add **pre** blocks
<pre>Example </pre> block.
<pre>
~/scala-package/core/src/main/scala/org/apache/mxnet/NDArrayAP

[2018-07-08 01:02] yharaskrik opened #11607 "Building .rec files fails with "TypeError: object of type 'NoneType' has no len()""
## Description
When running
`python tools/im2rec.py --encoding .png mydata example/image-classification/training`

to create the .rec files OpenCV fails to read the image.

## Environment info (Required)
Python3
Windows 10 (Also tried on Linux Subsystem running Ubuntu 16.04

[code]

Package used (Python/R/Scala/Julia):
I'm using Python

## Error Message:
`Creating .rec file from /home/jaybell/incu

[2018-07-08 01:54] Ldpe2G commented on #11496
@gigasquid it is easy to implement selu in Scala:https://github.com/Ldpe2G/DeepLearningForFun/blob/master/Mxnet-Scala/SelfNormNets/src/main/scala/snns/Ops.scala

[2018-07-08 02:02] andrewfayres commented on #11543
Thank you for submitting the issue! @sandeep-krishnamurthy requesting this be labeled as c++ and installation

[2018-07-08 02:05] andrewfayres commented on #11553
@smartadpole if this fixed the problem you're having please close the issue

[2018-07-08 02:08] andrewfayres commented on #11560
@sandeep-krishnamurthy requesting this to be closed since issue was resolved.

[2018-07-08 02:16] andrewfayres commented on #11569
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well. I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
Thanks!

@sandeep-krishnamurthy  please close this issue

[2018-07-08 02:17] andrewfayres commented on #11581
@sandeep-krishnamurthy please label this issue as python and example

[2018-07-08 02:18] andrewfayres commented on #11575
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
Thanks!

@sandeep-krishnamurthy please close this issue

[2018-07-08 02:19] andrewfayres commented on #11583
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
 I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
 Thanks!

@sandeep-krishnamurthy please close this issue

[2018-07-08 02:20] andrewfayres commented on #11589
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
 I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
 Thanks!

@sandeep-krishnamurthy please close this issue

[2018-07-08 02:21] andrewfayres commented on #11597
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
Thanks!

@sandeep-krishnamurthy please close this issue

[2018-07-08 02:33] yharaskrik commented on #11607
Thanks for the response! I look forward to seeing a solution!

[2018-07-08 02:35] andrewfayres commented on #11568
@sandeep-krishnamurthy requesting this be labeled as cuda and operator

[2018-07-08 02:35] andrewfayres commented on #11588
@sandeep-krishnamurthy requesting this be labeled as cuda, rnn, and operator

[2018-07-08 06:07] #11023 closed

[2018-07-08 08:26] congchan opened #11609 "ASGD"
## Description
Is there any plan on support similar function as
https://pytorch.org/docs/stable/_modules/torch/optim/asgd.html

[2018-07-08 09:20] ChChwang commented on #719
what does mean reinstall python ? linux python or mxnet python ?

[2018-07-08 12:53] gigasquid commented on #11496
@Ldpe2G thanks for the reference. really nice 💯

[2018-07-08 14:10] ifeherva commented on #9253
I am working on replicating np.diag(). Once done will do the full diagonal operator. This is my first operator so I am learning a lot at the moment.

See progress here: https://github.com/ifeherva/incubator-mxnet/tree/diagonal_operator

2d forward pass CPU [x]
2d forward pass GPU [x]
1d forward pass CPU []
1d forward pass GPU []
2d backward pass CPU []
2d backward pass GPU []
1d backward pass CPU

[2018-07-09 02:37] adaaaaaa opened #11610 "import error"
Windows 10 x64
python 3.6.6
install mxnet and import correctly,but install mxnet-mkl import with an error like this:

`import mxnet
Traceback (most recent call last):

  File "<ipython-input-1-1eadd2d362f9>", line 1, in <module>
    import mxnet

  File "f:\python36\lib\site-packages\mxnet\__init__.py", line 24, in <module>
    from .context import Context, current_context, cpu, gpu, cpu_pinned

[2018-07-09 02:44] yajiedesign commented on #11610
this because lost dll.please run depend(http://www.dependencywalker.com/) check what dll lost and tell me.

[2018-07-09 05:05] zheng-da commented on #10189
@eric-haibin-lin i think you can close this issue now.

[2018-07-09 07:35] sandareka commented on #5812
@ZhichengHuang Please check if [this code](https://github.com/sandareka/Interpretability-of-Machine-Learning-Visualizations) helps you.
 I know this is a very late reply. But I put it if you are still looking for the answer and also for other's benefit.

[2018-07-09 08:41] yukang2017 commented on #11508
I compare the speed of grad clipping between pytorch(0.3.1) and mxnet-gluon(1.2.0) on a Titan X. Pytorch gets nearly 10  times faster than mxnet-gluon.

mxnet:
        grads = [i.grad(ctx) for i in model.collect_params().values() if i._grad is not None]
        gluon.utils.clip_global_norm(grads, args.grad_clip)
pytorch:
        nn.utils.clip_grad_norm(model.parameters(), args.grad_clip)

Are ther

[2018-07-09 12:02] daedaesplayground1911 opened #11612 "Find government repositories"
Find government auctions and other valueable resources that they offer online.

[2018-07-09 12:14] marcoabreu commented on #11612
Hi, I'm sorry, but I'm afraid I don't understand. Could you elaborate a bit more please?

[2018-07-09 14:53] jmacglashan opened #11613 "Add keyword argument and named output support to Gluon Blocks"
This is a feature request.

Using keyword arguments to provide input values (similar to an executor) has some advantages. Particularly so if the call method ignores keyword arguments that the model does not need. Keyword args provides the following advantages:
1. A client only needs to know the data required, not the order, making it less error prone.
2. A model can remove data dependencies withou

[2018-07-09 15:03] eric-haibin-lin commented on #10189
could you reference the PR?

[2018-07-09 15:03] #10189 closed

[2018-07-09 15:04] xmuszq opened #11614 "How to do image down sampling in Mxnet?"
Problem:
I want to resize the image in mxnet, simply like down-sample the image from 200*200 to 100*100. It's easy in Python with other packages like opencv or others. But I search the mxnet, I didn't find any solution to do it in mxnet. Or do down sampling in MXNET's Ndarray.
Anyone knows the solution?

Best regards!

[2018-07-09 16:41] KellenSunderland opened #11616 "Flaky test test_gluon.test_export"
Failed build:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1148/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/master/runs/1148/nodes/822/log/?start=0

Output:
[code]

[2018-07-09 16:42] azai91 commented on #8513
@lightingghost is this issue resolved? if so, we can close this issue.

[2018-07-09 16:44] #11589 closed

[2018-07-09 16:53] golo314 commented on #11543
The warning about not finding a safe path goes away when I turn off OpenMP.

[2018-07-09 16:56] azai91 commented on #10542
@sbodenstein we plan on implementing MKL-DNN RNN support when MKLDNN 0.15 is released which should be within the next few weeks.

[2018-07-09 16:56] #11597 closed

[2018-07-09 16:57] #11583 closed

[2018-07-09 16:57] frankfliu commented on #8230
1. With increased rtol=1e-2 and atol=1e-3, reduced the chance, but build still fail after 20k iterations. But not able to reproduce with failure seed. And no error message is printed out.
2. With any seed, test will fail with certain number of iteration.
3. If increase rtol and atol to 1, the test will always pass, mean it's only related to precision, not a memory related issue.

[2018-07-09 16:57] #11575 closed

[2018-07-09 16:58] frankfliu commented on #8230
@haojin2 Please take a look once you have some time.

[2018-07-09 16:58] sandeep-krishnamurthy commented on #11569
@anirudhacharya @ankkhedia

[2018-07-09 16:58] #11569 closed

[2018-07-09 16:58] #11560 closed

[2018-07-09 17:02] sbodenstein commented on #10542
@azai91: fantastic, thanks so much!

[2018-07-09 17:18] #10599 closed

[2018-07-09 17:22] nswamy commented on #11496
@Ldpe2G @gigasquid I am wondering if this should be implemented on the backend so all languages can benefit.

[2018-07-09 17:40] apeforest commented on #8997
@cjolivier01 Hi Chris, are you still working on this issue? We have another [issue](https://github.com/apache/incubator-mxnet/issues/9167) which I believe can also be fixed by this.

[2018-07-09 17:47] gigasquid commented on #11496
@nswamy Yes, I still think it would be beneficial to have it implemented in the backend. It would be best if users did not have to implement it themselves and could have it as a standard activation. I also appreciate the example from @Ldpe2G which is a nice reference for implementing operators, (especially using the `where`). I might port that into a Clojure example :)

[2018-07-09 17:52] szha commented on #11616
Looks like a CI problem @marcoabreu

[2018-07-09 17:57] azai91 commented on #8513
I see that there's s merge conflict with the PR. can you resolve that and then message @tqchen or @piiswrong about merging.

[2018-07-09 18:00] nswamy opened #11618 "[Scala] JavaDocs generated in the core/infer modules are not a part of the assembly Jar"
JavaDocs generated in the core/infer modules are not included in the jar produced for the full assembly javadocs. Since we publish the full jars to maven, they should have complete javadocs.

This should also include the SymbolAPIBase and NDArrayAPIBase.

[2018-07-09 18:01] marcoabreu commented on #11616
To me, it looks like a test problem. It seems like we are hardcoding paths, causing problems if multiple runs are triggered in parallel. The same could happen on a user system if they have multiple processes starting up inside the same container or operating system, so we should consider this as an important bug.

Also, why de we write to system32?

[2018-07-09 18:04] ankkhedia commented on #9952
@FrankLongueira The windows pre-built binaries has already been updated. Please try the instructions mentioned on official MXNet page on how to install R for Windows.

[2018-07-09 18:09] azai91 commented on #10865
@zheng-da ran the above code on the latest master and was not able to reproduce issue. can you see if this is still an issue?

[2018-07-09 18:10] szha commented on #11616
I was treating sandboxing is a CI problem, as I could hardly think of any circumstance in which we'd want tests from one Jenkins executor to interact with tests in another executor on the same host.

[2018-07-09 18:12] szha commented on #11616
Even if there is such case, I imagine we'd want to manage it explicitly.

[2018-07-09 18:17] codewithsk commented on #11176
Update: I've managed to find a rather bizarre workaround to this issue.

I was facing this issue when I was trying to do a `model.save_checkpoint()`. However, if I caught the exception and saved it in the except block, it seemed to work flawlessly

[code]

[2018-07-09 18:22] nswamy opened #11619 "[Scala] Generate sources jar for all modules and the assembly jar"
Currently we do not include the source files in the sources-jar for MXNet-Scala.
This will be useful for users if they would like to lookup the source code from the maven packages they use.
This should also include SymbolAPIBase and NDArrayAPIBase traits.

[2018-07-09 18:22] szha commented on #11616
That particular API uses `$HOME/.mxnet` as the default path, so the system path likely comes from `$HOME`. One simple solution to fix such case is to override `$HOME` and let it point to a managed temporary file path.

[2018-07-09 18:39] al-rigazzi opened #11620 "LBSGD does not have momentum"
https://github.com/apache/incubator-mxnet/blob/8fde4b7526acbbe242fd5a5f41fac9e477f927f3/example/image-classification/common/fit.py#L219

Hi, I was wondering why LBSGD is not listed as a method with momentum, since it looks like the class offers the possibility of setting it.

[2018-07-09 18:40] marcoabreu commented on #11616
On production systems while running a service, we can't necessarily assume that every single request is handled in a sandbox. On Ubuntu we actually run in a separate container for every single run, but this is not the case. The windows use case seems to be pretty close to reality.

We don't want to interact in between executors, but that's a side effect because we don't make unique paths. Just loa

[2018-07-09 18:40] marcoabreu commented on #11616
Thanks for elaborating on the home variable. That makes sense because we run as administrator on windows.

[2018-07-09 18:47] szha commented on #11616
This situation has nothing to do with a micro service...

[2018-07-09 19:02] KellenSunderland commented on #11616
I'd agree this is a sandboxing issue in the CI.  We'll take a look at how we can improve this @szha.

[2018-07-09 19:12] rachelmint commented on #11071
Hi ThomasDelteil,

I tried in the newer version of mxnet, it takes ~850M to make a prediction on one image. I uses the code in /example/image-classification/predict-cpp/image-classification-predict.cc, not sure why it needs so much memory.

[2018-07-09 19:30] aaronmarkham commented on #9825
@marcoabreu - this issue was resolved by the redirect to the install page. Please close.

[2018-07-09 19:33] #9825 closed

[2018-07-09 19:35] marcoabreu commented on #11616
To clarify: do we expect our users to be able to run multiple instances of MXNet on the same host?

[2018-07-09 21:43] zhanghang1989 opened #11622 "CUDA 9.2 Dev Mode Compiling Failed"
## Description
Compiling using cuda 9.2 and cudnn with the command ``make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1 DEV=1``
Got the following error

[code]

## Environment info (Required)

Ubuntu 16.04, cuda 9.2 cudnn v7.1, AWS P3-16x

[2018-07-09 22:22] jeromejh commented on #10791
Could you help me installing MXNET in R 3.5.0 on OS? I tried to install MLProjects/mxnet_1.3.0.tar.gz but it says ackage ‘mxnet’ was built under R version 3.5.1

[2018-07-09 22:28] hetong007 commented on #10791
@jeromejh  R 3.5.1 was released a few days ago. Can you please update it from https://cran.r-project.org/bin/macosx/ ?

[2018-07-09 22:39] jeromejh commented on #10791
I did just right now. But it still doesn't work. Very frustrating. Could you help me?

[2018-07-09 22:40] hetong007 commented on #10791
@jeromejh please paste

1. the error information
2. your `sessionInfo()` output

[2018-07-09 22:40] jeromejh commented on #10791
<img width="739" alt="image" src="https://user-images.githubusercontent.com/40897593/42479584-983b1976-83a7-11e8-97f2-3c467b4ec094.png">

[2018-07-09 22:41] apeforest commented on #11549
@sandeep-krishnamurthy Could you please label this issue as _pip_, _Performance_ and _installation_

[2018-07-09 22:41] jeromejh commented on #10791
<img width="792" alt="image" src="https://user-images.githubusercontent.com/40897593/42479616-bf66f4fc-83a7-11e8-8ceb-e45732a7ec80.png">

[2018-07-09 22:42] apeforest commented on #11553
@sandeep-krishnamurthy Please close this issue

[2018-07-09 22:42] hetong007 commented on #10791
@jeromejh you need to update your openblas with `brew install openblas`, or other package manager that you are familiar with.

[2018-07-09 22:44] apeforest commented on #11563
@sandeep-krishnamurthy Please label this issue _Build_, _Deprecate_, _Doc_. Thx

[2018-07-09 22:51] jeromejh commented on #10791
I just tried to update it like https://gist.github.com/bmmalone/1b5f9ff72754c7d4b313c0b044c42684 but it still doesn't work..

[2018-07-09 22:55] jeromejh commented on #10791
<img width="788" alt="image" src="https://user-images.githubusercontent.com/40897593/42480064-9e7de4e2-83a9-11e8-88d3-900e020a986d.png">

[2018-07-09 22:57] hetong007 commented on #10791
please try brew install openblas, if you have brew installed.

[2018-07-09 22:59] jeromejh commented on #10791
I'm sorry but where can I run it? In R?

[2018-07-09 23:06] apeforest commented on #11567
@Roshrini It seems the two PRs you listed in description have been merged. Could you verify if they are built successfully?

[2018-07-09 23:09] apeforest commented on #11599
@sandeep-krishnamurthy Could you please label this issue: _Operator_

[2018-07-09 23:10] apeforest commented on #11609
@sandeep-krishnamurthy Could you please label this _Feature Request_

[2018-07-09 23:11] haojin2 commented on #11599
@junrushao1994 will take a look later today

[2018-07-09 23:11] apeforest commented on #11610
@sandeep-krishnamurthy Please label this _Windows_, _Build_

[2018-07-09 23:13] apeforest commented on #11613
@sandeep-krishnamurthy Please label this _Gluon_, _Feature request_

[2018-07-09 23:14] apeforest commented on #11614
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well. I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error. Thanks!

[2018-07-09 23:14] jeromejh commented on #10791
<img width="785" alt="image" src="https://user-images.githubusercontent.com/40897593/42480614-5ae9bfa0-83ac-11e8-9f87-f4fac29d086f.png">

[2018-07-09 23:15] apeforest commented on #11620
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
 I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
 Thanks!

[2018-07-09 23:16] apeforest commented on #11622
@sandeep-krishnamurthy Please label this _Build_, _Installation_, _CUDA_

[2018-07-09 23:17] Roshrini commented on #11567
Thanks for working on the issue. Builds were successful and PRs are merged. Thanks!

[2018-07-09 23:17] #11567 closed

[2018-07-09 23:20] hetong007 commented on #10791
please run **brew install opencv** as well.

[2018-07-09 23:30] jeromejh commented on #10791
Thank you so much. Not it works! I appreciate it!

[2018-07-09 23:36] szha commented on #11549
FYI, the speed-up in opencv comes from its switch to libturbojpeg in 3.4.2, happened in opencv/opencv#11497

[2018-07-10 00:04] kpmurali commented on #8773
I had the same issue.

I got it fixed by following the suggestions of @staticfloat and @xiaoweiz in this earlier issue

https://github.com/JuliaLang/julia/issues/11913

I also did the following:

./ci/docker/install/ubuntu_core.sh
./ci/docker/install/ubuntu_python.sh
./ci/docker/install/ubuntu_scala.sh
./ci/docker/install/ubuntu_docs.sh

git submodule update --recursive
git submodule init
make -j1

[2018-07-10 00:07] hetong007 commented on #11098
@jimhester Good to know that you've figured it out.

The `mxnet` package has just been updated yesterday with 3.5.1, and avoided including unnecessary dependencies on opencv contribs. So now a simple `brew install opencv` should work as well.

[2018-07-10 00:10] #9602 closed

[2018-07-10 00:12] #10791 closed

[2018-07-10 00:12] #10675 closed

[2018-07-10 02:48] Paul0M commented on #11561
In mxnet/gluon/block.py, there is **imports** code as follows:
But in the server (pip install mxnet-cu90), there isnot.
So I've added these code, then every's Fine.

Also I noticed that this applies to mxnet-cu91.

[code]

[2018-07-10 03:01] zhyj3038 commented on #11561
It is intresting! thanks

[2018-07-10 03:14] smartadpole commented on #11553
thank you! Have completed it.

[2018-07-10 03:17] #11553 closed

[2018-07-10 03:19] #10611 closed

[2018-07-10 03:35] #10925 closed

[2018-07-10 04:23] adaaaaaa commented on #11610
@yajiedesign what dll should i try to check? never use that software before...

[2018-07-10 04:28] anirudhacharya commented on #10088
@sandeep-krishnamurthy please close this issue. It has been resolved.

[2018-07-10 04:30] anirudhacharya commented on #8869
this PR - https://github.com/apache/incubator-mxnet/pull/11590 will fix this issue.

[2018-07-10 04:43] #10088 closed

[2018-07-10 10:34] ashkanaev opened #11628 "Linker Error while compiling Mxnet"
There is error while linking examples app (USE_CPP_PACKAGE) on WINDOWS.

13>LINK : fatal error LNK1104: cannot open file 'mxnet_static.lib'
18>------ Build started: Project: mlp_cpu, Configuration: Debug x64 ------
15>LINK : fatal error LNK1104: cannot open file 'mxnet_static.lib'
19>------ Build started: Project: mlp_gpu, Configuration: Debug x64 ------
18>  mlp_cpu.cpp
19>  mlp_gpu.cpp
14>LINK :

[2018-07-10 13:15] larroy commented on #11616
Mostly I agree with Marco. You can't assume that writing to a global path is ok, because this prevents to run tests in parallel in different copies of MXNet which should be possible, as developers often have several copies of the same repo to test different things.

So this test should write to a different location by means of a temporary directory.
The fact that is not a good practice that a unit

[2018-07-10 13:22] rxqy commented on #3829
@Alexander-flyer Hi, I have also encountered a similar problem here.
I'm using cuda-9.0, but mxnet keeps asking me to find libcudart.so.8.0.
Thought might be a problem with my opencv, can you tell me how you solved the problem?

[2018-07-10 14:10] tequilaguru commented on #8569
You can use LD_PRELOAD to workaround this in the meantime.

[2018-07-10 14:49] wxcstc opened #11629 "deconvolution result different with caffe result"
## Description
same params, deconvolution result different with caffe

## Environment info (Required)
windows 10
python3 mxnet version "1.3.0"

Package used (Python/R/Scala/Julia):
I'm using Python

## Steps to reproduce
1.  python code as below:
`import mxnet as mx`
`import mxnet.ndarray as nd`
`a = nd.reshape(nd.arange(9), shape = (1, 1, 3, 3))`
`b = nd.reshape(nd.arange(4), shape=(1, 1, 2, 2))`

[2018-07-10 15:23] #8393 closed

[2018-07-10 16:29] apeforest commented on #11629
@sandeep-krishnamurthy Please label this _Need Triage_. Someone familiar with Deconvolution operator please check if the usage is correct.

[2018-07-10 16:30] apeforest commented on #11628
@sandeep-krishnamurthy Please label this _Windows_, _Build_

[2018-07-10 16:33] apeforest commented on #11614
@xmuszq I have posted to the forum for you. You may track the answer here: https://discuss.mxnet.io/t/how-to-do-image-down-sampling-in-mxnet/1384

[2018-07-10 16:34] apeforest commented on #11620
Thanks for posting this question on the forum. @sandeep-krishnamurthy Please close this issue.

[2018-07-10 16:34] apeforest commented on #11614
@sandeep-krishnamurthy Please close this issue.

[2018-07-10 16:35] apeforest commented on #11612
@daedaesplayground1911 Please elaborate this question a bit more or provide more details. Thx

[2018-07-10 16:50] #11614 closed

[2018-07-10 17:13] xmuszq commented on #11614
Thank you for your help!

[2018-07-10 17:55] tqchen commented on #11307
I would recommend close this issue if there are no further proposals on solving this problem, or move forward with actionable items that might shed light on solving this

[2018-07-10 18:03] codewithsk commented on #11176
Update: Sleeping for 0.5 seconds before sleeping also seems to help.

[code]

[2018-07-10 18:09] zheng-da commented on #10865
@azai91 the problem is kind of fixed. But the fix just solves the problem in this test. there exists a race condition somewhere. I still can't figure out where.

[2018-07-10 18:19] nswamy commented on #11307
OK. closing this until I have some prototype and a design proposal.

[2018-07-10 18:19] #11307 closed

[2018-07-10 18:31] marcoabreu commented on #8044
Fixed.

[2018-07-10 18:31] #8044 closed

[2018-07-10 18:31] golo314 commented on #11543
Might be worth mentioning, when I do not use CPP-PACKAGE (have it off) code compiles without a problem.

[2018-07-10 19:18] marcoabreu commented on #11616
Just to clarify: The problem here seems to be function-under-test python\mxnet\gluon\model_zoo\model_store.py:get_model_file, thus it's not the test itself causing the problem but rather the actually tested function having trouble with multi tenancy.

[2018-07-10 20:00] anirudhacharya commented on #11281
@matteosal thanks for bringing this to the community's notice. @sandeep-krishnamurthy please also tag this "Feature Request".

[2018-07-10 20:41] larroy commented on #11616
@marcoabreu clear, I'm working on a fix.

[2018-07-10 20:55] aaronmarkham opened #11634 "website install page query string needed for devices"
Feature request:
With the other install options you get all of the buttons as options for a deep link. Devices doesn't have this.

https://mxnet.incubator.apache.org/install/index.html?platform=Devices&language=Python&processor=CPU

I'd like to have Raspberry Pi and Jetson as options for direct links.

@kpmurali

[2018-07-10 21:09] alireza202 opened #11635 "Aborted python session when using nd.concat"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-07-10 22:37] szha commented on #11616
Many design decisions are based on having a single instance of mxnet in a system. For example, the mxnet processes don't attempt to find and talk to each other to coordinate on memory allocation. You'd need to change more than the download logic and tests to make it work.

[2018-07-10 22:38] szha commented on #11616
Having this complexity in the code base just to do what containers should have done doesn't seem the right approach to me.

[2018-07-10 23:22] thomelane commented on #11620
@sandeep-krishnamurthy @apeforest can we reopen and tag, looks like this should actually be updated. Signum and LBSGD both have momentum but aren't included here.

[2018-07-10 23:28] lanking520 commented on #11571
The root cause of this issue is [this line](https://github.com/apache/incubator-mxnet/blob/master/scala-package/core/src/main/scala/org/apache/mxnet/module/BaseModule.scala#L429). The `databatch` got disposed due to the implementation of `DataIter` is different. The RNN module define the `.next()` as a reference copy of NDArray. Dispose that will cause losing the training data

[2018-07-10 23:39] #10838 closed

[2018-07-10 23:45] anirudh2290 commented on #11487
Enabled it back here: https://github.com/apache/incubator-mxnet/pull/11366/files. Closing.

[2018-07-10 23:45] #11487 closed

[2018-07-11 00:43] haojin2 commented on #11599
So the problem is that the req type of the indices is not null, maybe this is due to the usage, I'll take a deeper dive into your issue later.

[2018-07-11 01:17] eric-haibin-lin opened #11638 "distributed kvstore doesn't respect shape of ndarrays"
Steps to reproduce:

`test.py`
[code]
Add the following assertion to `SGD:update_multi_precision()`
[code]
Run with `python tools/launch.py  --launcher=local -n 2 python test.py`
[code]

[2018-07-11 02:06] wkcn commented on #8569
@tequilaguru Thank you! I will try it next time.

[2018-07-11 03:56] starimpact opened #11639 "ndarray can not store some big number, it is a bug???"
code:
[code]
output:
[code]

[2018-07-11 03:58] starimpact commented on #11639
@tqchen @piiswrong

[2018-07-11 04:04] szha commented on #11639
reproducible on master

[2018-07-11 04:16] Ericargus opened #11640 "Write a new operator by myself,error says Backward is not implemented.but i write it indeed"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-07-11 05:31] szha commented on #11509
FYI @anirudhacharya the test has been partially re-enabled in #11573.

[2018-07-11 06:59] aaronmarkham commented on #11634
Also the redirect with the query string gets the URL wrong when using the s3 link from CI builds.

[2018-07-11 07:50] marcoabreu commented on #11640
Hello, please show us your code.

[2018-07-11 09:05] #11601 closed

[2018-07-11 09:07] larroy commented on #11616
@szha I see your point. Assuming that only one process is able to run on a system goes against 30 years of Unix and multi user OS development. I think is a bad assumption to make in general even if it's the optimal case. Containers are tools that shouldn't be required for correctness.

[2018-07-11 09:11] marcoabreu commented on #11616
Considering the fact that MXNet is not threadsafe and the interface (CAPI) is single threaded (with sticky thread) together with the assumption that you are only allowed to run a single instance of MXNet puts us in a quite difficult position.

[2018-07-11 09:12] larroy commented on #11616
You can run several instances of mxnet. Can you elaborate?

[2018-07-11 09:14] marcoabreu commented on #11616
This is the assumption stated above: "Many design decisions are based on having a single instance of mxnet in a system. "

[2018-07-11 11:16] yajiedesign commented on #11610
@adaaaaaa libmxnet.dll

[2018-07-11 14:11] Ericargus commented on #11640
I  have solved it.

[2018-07-11 14:12] Ericargus commented on #11640
@marcoabreu  i have solved it

[2018-07-11 14:14] marcoabreu commented on #11640
Awesome! Do you mind sharing what you did to solve the problem?

[2018-07-11 14:14] #11640 closed

[2018-07-11 14:14] Ericargus commented on #11640
@marcoabreu but i have a new problem.(error reports "TBlob.get: device type do not match specified type";),I don't know what wrong.

[2018-07-11 14:20] Ericargus commented on #11640
@marcoabreu  I'm careless.I solved it by copy similar offical operator,and modified somwhere what i need.and the problem dissappear.but i get new issue that says TBlob.get: device type do not match specified type

[2018-07-11 14:47] Ericargus commented on #470
i @piiswrong  hello, i met this error:
mxnet.base.MXNetError: [22:01:36] include/mxnet/././tensor_blob.h:235: Check failed: Device::kDevMask == this->dev_mask() TBlob.get: device type do not match specified type
can you help me what can i do.Thanks

[2018-07-11 15:18] ashkanaev commented on #6204
Is there any update? Maybe someone from developers who responsible for pip build could provide us correct cmake flags? Because for windows user still impossible use selfbuild mxnet.

Got the same issue. My GPU is NVIDIA gtx 960 (MAXWELL). Help please.

[2018-07-11 16:02] szha opened #11644 "CI Error: ClosedChannelException"
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11580/2/pipeline

[2018-07-11 16:07] aaronmarkham opened #11645 "Cannot train SmileCNN with Keras-MXNet"
## Description
Error during training of the SmileCNN demo using Keras-MXNet. (Error in operator conv2d_1/conv2d1)

## Environment info (Required)

[code]

## Package used (Python/R/Scala/Julia):
pip install mxnet-cu90 (this installed 1.2.0)
pip install keras-mxnet

## Error Message:
/home/ubuntu/anaconda3/envs/python2/lib/python2.7/site-packages/keras/backend/mxnet_backend.py:89: UserWarning: MXNe

[2018-07-11 16:07] szha commented on #11616
@marcoabreu and to you, that statement equals "you are only allowed to run a single instance of MXNet"?

[2018-07-11 16:09] thomelane commented on #11629
See https://github.com/apache/incubator-mxnet/issues/11203.

Seems like a case of the same bug, found with an even simpler example. And difference shown with PyTorch in that case. Could also effect backward pass of convolution.

[2018-07-11 16:10] szha commented on #11616
We can also ask whether one test should affect another in any way, and if so, why, and why not managed explicitly.

[2018-07-11 16:11] marcoabreu commented on #11616
Yes, because everything else is undefined behaviour, right? If we design a system to be used only in a specific way, we don't "guarantee" anything if people use it differently. How else would you Interpret such a design statement?

[2018-07-11 16:13] marcoabreu commented on #11616
My stand on that would be that our tests should all be completely self contained. What do you rgibk

[2018-07-11 16:16] szha commented on #11616
OK. Following this logic, we either have inter-process memory management for GPU or our CPU users can't run multi-process CPU inference. What guarantee does CI have BTW?

[2018-07-11 16:18] marcoabreu commented on #11640
For these kind of things I'd like to to invite a thread at discuss.mxnet.io :)
P.s. it's probably related to you being in the wrong context (cpu or GPU) while the operator you wrote only supports a different context. Search for "cpu" "GPU" and "xpu" in your code :)

[2018-07-11 16:34] apeforest commented on #11645
@kalyc Can you please help to check this example? Thx

[2018-07-11 16:35] apeforest commented on #11645
@sandeep-krishnamurthy @nswamy Please label this issue _Keras_

[2018-07-11 16:41] sandeep-krishnamurthy commented on #11645
@aaronmarkham - Can you please open issue with keras-mxnet repo? Looks like issue in MXNet backend of Keras.

[2018-07-11 16:43] szha commented on #11616
Users don't directly deal with CUDA. They interact with CUDA through MXNet. MXNet has internal memory pool to hold previously allocated memory, without information about GPU memory held by other processes. Thus, running multiple processes on the same GPU, for many workloads will likely meet OOM error. You'd know if you tried.

The CPU inference part wasn't really important. I was just joking about

[2018-07-11 16:48] apeforest commented on #11635
@alireza202 I think the reason is because you are concatenating on the wrong axis. Numpy would issue an error if you do the following:

[code]
That being said, MXNet should catch this error elegantly rather than throwing a core dump. @sandeep-krishnamurthy Could you please label this _Unclear Error/Doc_, _Bug_, _Good for first time_. Thanks

[2018-07-11 16:49] marcoabreu commented on #11616
I tried, what you described was exactly my observation: you run out of cuda memory if you run MXNet in parallel. I didn't know we had the memory pool, but that certainly explains it. That problem is the reason all our GPU slaves have only one executors. Is there any possibility to tweak or disable that pool?

We're not in state where we can give actual guarantees at all, that's why I had it in quo

[2018-07-11 16:49] apeforest commented on #11634
@sandeep-krishnamurthy Please label this _Feature Request_

[2018-07-11 16:51] marcoabreu commented on #11616
But yeah, we are regularly testing MXNet CPU on windows and don't seem to encounter many problems. I also wouldn't know much reason besides io(like this case) because the os automatically takes care of RAM and CPU.

[2018-07-11 16:52] apeforest commented on #11620
@sandeep-krishnamurthy Please label this issue _Example_, _Good for first time_

[2018-07-11 16:54] szha opened #11646 "download function should avoid race-condition"
Currently the download function would directly write to target file path, which causes file integrity problem when multiple processes use the same logic to write to the same file.
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/utils.py#L223-L226

Alternative is to write to a temporary file first, and only move to target path upon download completion after verifying file i

[2018-07-11 16:58] #11543 closed

[2018-07-11 16:59] golo314 commented on #11543
The problem was with OpenBLAS. I installed ATLAS and was able to build.

[2018-07-11 17:04] haojin2 opened #11647 "Sparse input matrices are not supported in batchnorm operator when fix_gamma=True"
As title.

[2018-07-11 17:05] haojin2 commented on #11647
Suggested label: Feature Request

[2018-07-11 17:05] haojin2 commented on #11647
#11631

[2018-07-11 17:07] szha commented on #11616
`export MXNET_GPU_MEM_POOL_RESERVE=100` should effectively disable the pool.

[2018-07-11 17:22] haojin2 commented on #11635
The issue could possibly be fixed by changing the InferShape of concat operator to adopt mutual shape inference.

[2018-07-11 17:35] anirudh2290 commented on #11635
you should switch to 1.2.0 to prevent the python process from crashing

[2018-07-11 17:40] golo314 opened #11649 "CPP-PACKAGE Examples throwing an instance of 'dmlc::Error'"
## Description
After successful installation of MXNet, I traversed to cpp-package/example and used the "make all MXNET_USE_CPU=1" command (which was successful). I tried running several example and all but two fail.

## Environment info (Required)
64-bit Fedora 28 on a VirtualBox
[code]

## Build info (Required if built from source)
Most current version.

Compiler (gcc/clang/mingw/visual studio):

[2018-07-11 17:50] alireza202 commented on #11635
The python crashing aside, how would I actually concatenate an empty tensor with another tensor? I tried both dimensions, and it fails.

[2018-07-11 17:59] haojin2 commented on #11367
Fix already submitted in #11389. No new reports, closing this issue.

[2018-07-11 17:59] #11367 closed

[2018-07-11 18:01] haojin2 commented on #10755
Supported in #11326, can close once that is merged.

[2018-07-11 18:02] aaronmarkham commented on #11645
Moving this to https://github.com/awslabs/keras-apache-mxnet/issues/134

[2018-07-11 18:02] #11645 closed

[2018-07-11 18:43] haojin2 commented on #11592
I cannot reproduce this error on my local machine, are you sure that this failure is not related to your PR? Seems like this is happening to other environments for the same build as well.

[2018-07-11 18:45] zhanghang1989 commented on #11592
I am closing this issue, since I don't have this issue any more. My PR just passed CI test.

[2018-07-11 18:45] #11592 closed

[2018-07-11 19:07] marcoabreu commented on #11592
Agree with @haojin2 , the error seems to be related to the PR. Thanks everybody!

[2018-07-11 19:22] marcoabreu commented on #11644
This is a race condition in Jenkins and there's unfortunately not much we can do: https://issues.jenkins-ci.org/browse/JENKINS-49707

We have to wait until they fix it.

[2018-07-11 20:12] haojin2 commented on #11339
@wenyangchu It's actually a typo, it should be `param` instead of `param_`. Fixed in #11652

[2018-07-11 20:19] haojin2 opened #11653 "CI Error: ClosedChannelException"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11587/8/pipeline/

[code]

[2018-07-11 20:20] haojin2 commented on #11653
Suggest Labels: CI, Bug

[2018-07-11 20:53] szha commented on #11644
Why close the issue? Shouldn’t we track the problem?

[2018-07-11 20:57] eric-haibin-lin commented on #10506
LogisticLoss with csr labels (requires reshape and reshape_like)

[2018-07-11 20:58] marcoabreu commented on #11644
Sure,I thought the linked issue is sufficient, but feel free to keep this one here open. Would you mind adding a description and a title?

[2018-07-11 20:58] haojin2 commented on #11644
I encounter another problem with CI with my PR: https://github.com/apache/incubator-mxnet/pull/11631. The build has passed: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11631/8/pipeline, but the status of the PR is not updated.

[2018-07-11 21:01] marcoabreu commented on #11644
That's a separate issue. Would you mind creating a new issue for this please?

[2018-07-11 21:15] nswamy commented on #11571
@lanking520 The code you pointed out is correct, it disposes the NDArrays in the DataBatch created using the Slice operator. Slice operator does not create new NDArrays instead gives a reference to the original NDArray with an offset. The pointers to the NDArrays(both sliced and original) use shared_ptr which only decrements the reference count, so it won't free the original NDArray correspondingl

[2018-07-11 21:17] haojin2 opened #11654 "CI Problem: Build status not reflected on PR"
For #11631, the build is passing: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11631/8/pipeline, but the status of the PR is not updated.
![screen shot 2018-07-11 at 2 16 43 pm](https://user-images.githubusercontent.com/11465736/42599755-20d30ab4-8515-11e8-903c-d92e93eab429.png)

[2018-07-11 21:18] haojin2 commented on #11654
Suggested labels: CI, Bug

[2018-07-11 21:18] haojin2 commented on #11644
@marcoabreu  #11654

[2018-07-11 21:35] access2rohit opened #11655 "CI Problem: new commits not triggering new builds"
## Description
For PR:http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11587/8/pipeline/ after pushing new commit, jenkins is not triggering new build. There are currently build upto 8 for the mentioned PR but there should have been 9 and 10 since pushed two more changes.

## Environment info (Required)
ubuntu 16.04 DLAMI

[2018-07-11 21:36] access2rohit commented on #11655
Labels: CI

[2018-07-11 21:45] anirudh2290 commented on #11568
Added disabled test since the tests are disabled for USE_CUDA=ON USE_CUDNN=OFF as part of #11470

[2018-07-11 21:50] haojin2 commented on #11655
This is a duplicate of #11654.

[2018-07-11 21:51] anirudh2290 commented on #11655
Closing and tracking in #11654.

[2018-07-11 21:51] #11655 closed

[2018-07-11 22:07] kpmurali commented on #11634
I will work on this.

[2018-07-11 23:12] eric-haibin-lin commented on #10709
we still have the same problem for dot(csr.T, dns) = dns

[2018-07-11 23:25] OneRaynyDay opened #11659 "Segmentation fault upon using mx2onnx (export_model)"
## Description
**UPDATE**: The issue is related to `onnx`'s protobuf compiler/protobuf lib version. On ubuntu 18.06, the protoc is version 3. Building `onnx` from source fixed the issue. `mxnet` did not cause the issue.

Hi, Airbnb is currently using ONNX for our mxnet model applications. We ran into this error while trying to serialize mxnet with onnx. It appears that trying to import onnx at som

[2018-07-11 23:42] thomelane commented on #10006
@sandeep-krishnamurthy good answer on this, so good to close. thanks!

[2018-07-11 23:49] eric-haibin-lin opened #11660 "MXNet aborts when setting round_batch=False for LibSVMIter"
As title. This should be fixed.

[2018-07-11 23:51] thomelane commented on #9915
@shipeng-uestc Are you referring to the example [here](https://github.com/apache/incubator-mxnet/tree/master/example/fcn-xs)? When running the script you should be able to see the validation loss logged after every epoch. It will depend on the specific model you've selected though.

[2018-07-12 00:05] thomelane commented on #9064
With Gluon API you can `set_data` on a parameter. So for a convolutional layer you can select the `weight` (which will be the kernel) and call `set_data` on this with the kernel of your choosing. You must make sure you have the correct shape, with the dimensions being (filter, channel, height, width). So if we wanted a single sobel kernel applied to a single channel input we could for the followin

[2018-07-12 00:55] aaronmarkham opened #11662 "make docs - lein not found"
Lein needs to be added to the docs build instructions.

If you're stuck on this error, do this:

[code]
Or some directory that is in your `$PATH`. Then re-run, and you should be good to go.

I'll submit a PR to add this to the instructions.

[2018-07-12 01:09] aaronmarkham commented on #11662
I'm going to wait until this PR is merged: https://github.com/apache/incubator-mxnet/pull/11590
Then I can use the installation script I made for the Ubuntu deps as a base rather than starting from scratch.

[2018-07-12 02:09] #10006 closed

[2018-07-12 05:09] lightingghost commented on #8513
@azai91 I have updated that PR. @tqchen @piiswrong, would you please take a look?

[2018-07-12 06:08] marcoabreu commented on #11659
Hi, thanks for submitting this issue! Have you had a chance to try this out on Ubuntu 16.04? We haven't had the chance to test Ubuntu 18 yet and I'd like to make sure it's not related to the OS for some reason.

[2018-07-12 06:09] marcoabreu commented on #11654
Same here https://github.com/apache/incubator-mxnet/pull/11658

[2018-07-12 06:09] marcoabreu commented on #11654
@lebeg @kellensunderland @larroy

[2018-07-12 07:07] haroldyang977 opened #11663 "MXNet 1.2 Test Accuracy Drop"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-07-12 08:22] KellenSunderland commented on #11654
Looks like our Jenkins master is having some issues.  Working on a quick fix.

[2018-07-12 09:10] KellenSunderland commented on #11654
I believe we've addressed the root cause of the issue (a volume low on space).  I'm monitoring builds to make sure they're working properly.  You may see rebuilds being retriggered for the next 1h or so.  I'll post back if I think the issue is resolved.

[2018-07-12 09:53] marcoabreu commented on #11653
Duplicate of https://github.com/apache/incubator-mxnet/issues/11644

[2018-07-12 09:53] #11653 closed

[2018-07-12 09:59] marcoabreu commented on #11120
They are defined here: https://github.com/apache/incubator-mxnet/blob/master/ci/docker/runtime_functions.sh#L580

[2018-07-12 12:03] szymonmaszke opened #11665 "Is MXNet-R Docker image maintained?"
Title basically says it all; do you plan to update images (especially the R one) to newest MXNet version?

[2018-07-12 12:24] srochel opened #11666 "non-actionable exit code when rat check failed"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-07-12 13:09] KellenSunderland commented on #8741
Looping back on this, it seems openblas on 14.04 is no longer supported.  I think this should remain closed / don't fix.  Enjoy Ubuntu 16.04 and up folks :-).  https://github.com/xianyi/OpenBLAS/issues/1669#event-1729620315

[2018-07-12 14:31] KellenSunderland commented on #11654
After monitoring for a few hours I think the CI is back to normal.  Please feel free to ping if you see any other issues.

[2018-07-12 15:05] srochel commented on #11549
@szha - what is the performance with you change?

[2018-07-12 15:21] aaronmarkham opened #11667 "CI failure: Python 3: MKLDNN-GPU Win: hudson.remoting.RequestAbortedException: java.nio.channels.ClosedChannelException"
Looks like a flaky test. The [PR ](http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11528/4/pipeline)has nothing to do with MKLDNN-GPU.

## Error Message:

[Pipeline] [Python 3: MKLDNN-GPU Win] }

[Pipeline] // parallel

[Pipeline] }

[Pipeline] // stage

[Pipeline] node

Running on mxnetlinux-cpu_nf5jdr2k1i in /home/jenkins_slave/workspace/incubator-mxnet

[2018-07-12 16:03] anirudh2290 commented on #11395
@DickJC123 Thank you for investigating this issue! I am not able to reproduce the test failure pointed by you with the commit : b786ead562590300519a3f0725dafe7d40325edd with the same test seed: 731510245 . Are you able to reproduce the issue with the latest master ?

[2018-07-12 16:21] marcoabreu commented on #11395
Hey anirudh, could you elaborate how you tried to reproduce this issue? Please be aware that this is about memory corruption because of out of bounds writes. This behaviour might now always be reproducible locally. Did you use cuda memcheck to investigate?

[2018-07-12 16:44] anirudh2290 commented on #11395
yes i am not able to similar errors with cuda memcheck either.

[2018-07-12 16:45] anirudh2290 commented on #11395
Tried the following:
[code]

[2018-07-12 16:49] apeforest commented on #11667
@sandeep-krishnamurthy Please label this _Flaky test_

[2018-07-12 16:50] apeforest commented on #11666
@sandeep-krishnamurthy Please label this _CI_

[2018-07-12 16:52] thomelane commented on #9034
`kernel_size` must be odd number, otherwise strange things happen! It's mentioned in the docs string, but I think it would be better for this to be added as strict validation to avoid confusion like this in the future.

With regards to the stride (once a odd `kernel_size` is used), `stride1` relates to the striding on the `data1` feature map 1 and `stride2` relates to the striding within the 'neig

[2018-07-12 16:52] apeforest commented on #11665
@sandeep-krishnamurthy Please label this issue _R_

[2018-07-12 16:54] thomelane commented on #9034
@dsqx71, @sxjscience, @eric-haibin-lin it would be good to get some input validation on `kernel_size` here to avoid this issue in the future.

[2018-07-12 16:54] marcoabreu commented on #11395
How often did you run?

[2018-07-12 16:55] apeforest commented on #11649
@sandeep-krishnamurthy Please label this _CPP_, _Example_

[2018-07-12 16:56] thomelane commented on #9034
@sandeep-krishnamurthy can we now retag, thanks! I think Bug and Operator are the most appropriate tags.

[2018-07-12 16:56] anirudh2290 commented on #11395
ran repeatedly around 2k times.

[2018-07-12 17:03] thomelane commented on #9693
@sandeep-krishnamurthy this can be closed. I checked the provided examples and they are now working without failures.

[2018-07-12 17:05] #11659 closed

[2018-07-12 17:10] thomelane commented on #9186
@Feywell if you're still interested there's an tutorial being worked on at the moment which clearly documents the steps required for distributed training. Check out the PR [here](https://github.com/apache/incubator-mxnet/pull/10955), and the tutorial file is `mxnet/example/distributed_training/README.md`.

[2018-07-12 17:20] marcoabreu commented on #11667
Duplicate of https://github.com/apache/incubator-mxnet/issues/11644

[2018-07-12 17:20] #11667 closed

[2018-07-12 17:24] marcoabreu commented on #11666
Hello Steffen,

thanks for your feature request. Just to clarify: The error log you are seeing at the end is part of our Docker bootstrapping - I have separated it with a ``>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>`` in the following log:
[code]

Everything above that line is the error of the run and everything below that line is the usual boilerplate that is being printed

[2018-07-12 17:37] anirudhacharya commented on #8869
This issue has been resolved in the latest master. @sandeep-krishnamurthy please close this issue.

@mjmg feel free to reopen if the problem persists.

[2018-07-12 17:38] anirudhacharya commented on #10147
This issue has been resolved in the latest master. @sandeep-krishnamurthy please close this issue.

@harryprince feel free to reopen if the problem persists.

[2018-07-12 17:38] anirudhacharya commented on #8240
This issue has been resolved in the latest master. @sandeep-krishnamurthy please close this issue.

@hadjipantelis feel free to reopen if the problem persists.

[2018-07-12 17:53] thomelane commented on #8606
With Gluon you can just call the same `Block` multiple times on different inputs. And `autograd` will manage the gradient calculations so the the parameters of the Block can be updated correctly, even when the `Block` is called multiple times. So taking VGG16 as an example, and applying it to two different inputs and concatenating the results:

[code]

Just perform the last steps inside an `autogr

[2018-07-12 18:02] Ishitori commented on #10038
Yes, I followed the official instructions, and now it works fine. Thanks all.

[2018-07-12 18:02] #10038 closed

[2018-07-12 18:06] thomelane commented on #8458
@sandeep-krishnamurthy this issue can be closed now, thanks. further discussions should be on the PR https://github.com/apache/incubator-mxnet/pull/11502

[2018-07-12 18:09] ankkhedia commented on #8648
Hi @markusdumke The binaries on the official repo(for Windows) has been updated. Could you please follow the instructions there to install R and verify if it is working for you. I am closing this issue. Please feel free to re-open in case it is closed in error.

@sandeep-krishnamurthy  Could you please close this issue

[2018-07-12 18:14] ankkhedia commented on #7428
Hi @kimtang The R binaries for Windows has been updated and you could follow instructions on the official website to install R on Windows. Please verify if it works for you.

@sandeep-krishnamurthy Could you please close this issue

[2018-07-12 18:19] szha commented on #11549
The speed matches what was reported for building from source.

[2018-07-12 18:19] #11549 closed

[2018-07-12 18:32] thomelane commented on #4960
Some related discussions can be found in https://github.com/apache/incubator-mxnet/issues/2294.

And a good example can be found in the [Faster RCNN example](https://github.com/apache/incubator-mxnet/tree/master/example/rcnn), where a [`MutableModule`](https://github.com/apache/incubator-mxnet/blob/master/example/rcnn/rcnn/core/module.py#L30) is defined which supports variable input data.

[2018-07-12 18:33] thomelane commented on #4960
Also with the Gluon API, `Block`s support variable batch sizes out of the box.

[2018-07-12 18:36] haojin2 commented on #10755
@nswamy Could you please change the labels to "Feature Request"? I feel like that's a better description of this issue. Our team is tracking bugs so this kind of issue could be confusing for us.

[2018-07-12 19:08] thomelane commented on #8474
Assuming you're asking about variable batch sizes for the input, you should take a look at [`Module.reshape`](https://mxnet.incubator.apache.org/api/python/module/module.html#mxnet.module.Module.reshape) for this. Some related discussion can be found at https://github.com/apache/incubator-mxnet/issues/2294. And based on the unit-test, an example of its usage would be:

[code]

Also note that with

[2018-07-12 21:31] haojin2 commented on #11411
@safrooze Taking a look at this now.

[2018-07-12 22:42] eric-haibin-lin commented on #9384
fixed via #11519

[2018-07-12 22:42] #9384 closed

[2018-07-12 22:53] thomelane commented on #11508
@yukang2017 would you be able to open a separate issue for the performance issue? that way we can keep api usage separate from performance, and it can be tagged correctly for better community help. thanks!

With regards to how to perform gradient clipping with Gluon, another option is to specify gradient clipping as part of the `Optimizer` given to the `Trainer`. Although this will simply clip by

[2018-07-12 22:56] apeforest commented on #11224
@TaoLv This issue has been fixed by https://github.com/dmlc/mshadow/pull/340. Please help to verify. Thanks.

[2018-07-12 22:59] apeforest commented on #11662
@sandeep-krishnamurthy Please label this _Build_, _Documentation_

[2018-07-12 22:59] apeforest commented on #11663
@sandeep-krishnamurthy Please label this issue _Need Triage_. Thanks!

[2018-07-12 23:02] thomelane commented on #11417
@sandeep-krishnamurthy can we get a tag of 'build' on this please

[2018-07-12 23:20] thomelane commented on #11165
@solin319 Most augmenters call OpenCV functions written in C++ anyway, so I wouldn't expect much of a difference by moving everything to C++. Just a small overhead from calling in Python.

[2018-07-12 23:30] thomelane commented on #11137
Hi @lynneChan, thanks for the question. Could you clarify which part of this is strange though?

[2018-07-12 23:32] apeforest commented on #10738
It seems this issue has been fixed by  Open
[MXNET-545] Fix broken cython build #10951 .@sl1pkn07 Could you please verify it? Thx!

[2018-07-12 23:36] thomelane commented on #11137
Your `batch_size` is set to 12, so even if the total number of images in your dataset is smaller you're still inputting the same amount of data into the network in both cases.

Saving in memory comes from having a smaller number of classes, but I wouldn't necessarily say this should be linear (i.e. memory footprint falling by the same amount as the labels). Most of the model parameters and activat

[2018-07-12 23:41] haojin2 opened #11680 "Flaky Perl test: test_loss.test_dynamic"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11326/13/pipeline
[code]

[2018-07-12 23:41] haojin2 commented on #11680
suggested labels: Perl, Flaky, Test

[2018-07-13 00:20] lichen11 opened #11682 "mxnet R updated version out of memory error"
I recently updated mxnet package to 1.3.0 and keep noticing an out of memory error. The same code was run on mxnet 1.0.1 or before and had never encountered the following error.

 Error in mx.nd.internal.as.array(nd) :
  [00:58:56] src/storage/./pooled_storage_manager.h:118: cudaMalloc failed: out of memory

Stack trace returned 10 entries:
[bt] (0) /home/username/R/x86_64-redhat-linux-gnu-library

[2018-07-13 00:50] zhreshold commented on #10291
Closing this after #11373 is merged

[2018-07-13 00:50] #10291 closed

[2018-07-13 00:50] zhreshold commented on #10019
Closing this after merging #11373

[2018-07-13 00:50] #10019 closed

[2018-07-13 00:51] zhreshold commented on #8694
Closing this after merging #11373

[2018-07-13 00:51] #8694 closed

[2018-07-13 00:51] zhreshold commented on #9823
Closing this after merging #11373, feel free to ping me to reopen it it's not fixed.

[2018-07-13 00:51] #9823 closed

[2018-07-13 01:03] solin319 commented on #11165
We move some augmenters call in c++, and the speed can achieve 0.21s per batch, which is 0.35 smentioned above.
So we expect community can add an interface can read raw pic with high speed.

[2018-07-13 01:08] ijkguo commented on #11240
It was probably related to old SoftmaxActivation layer. Now changed to `mx.sym.softmax` in https://github.com/apache/incubator-mxnet/pull/11373.

[2018-07-13 01:30] ijkguo commented on #8474
Module API had been updated to support variable shape training, c.f. https://github.com/apache/incubator-mxnet/pull/6805 before this issue.

MutableModule from rcnn example was introduced before the previous PR to avoid breaking module API. It was unfortunate that the example was not updated timely since the PR. But if still interested, check out https://github.com/apache/incubator-mxnet/blob/mast

[2018-07-13 01:43] Feywell commented on #9186
@thomelane Thank you！ I will read it carefully.

[2018-07-13 01:52] lynneChan commented on #11137
Hi @thomelane, thanks for your replay.

 I was using the SSD example code to training a face detector, the WIDER dataset have about 12880 images, so the `batch_size` is fine. And the number of  classes is 2(face or non-face). The code used `DetRecordIter` in `dataset/iterator.py` to get image batches which called another API `mx.io.ImageDetRecordIter`. This API need a `label_width` parameter.

I k

[2018-07-13 01:55] yukang2017 commented on #11508
@thomelane I will open a new issue. Thank you!
I tested 'clip_gradient' in _mxnet.gluon.Trainer_ and torch.optim. The time cost is similar.

[2018-07-13 02:07] yukang2017 opened #11683 "time cost in grad clipping"
I compare the speed of grad clipping between pytorch(0.3.1) and mxnet-gluon(1.2.0) on a Titan X. Pytorch gets nearly 10 times faster than mxnet-gluon.
(The network I use is [nasnet](https://arxiv.org/abs/1707.07012).)
mxnet:
[code]
pytorch:
`nn.utils.clip_grad_norm(model.parameters(), args.grad_clip)
`

However, when I test 'clip_gradient' in mxnet.gluon.Trainer and torch.optim, following thomelan

[2018-07-13 02:12] sergeykolychev commented on #11680
@haojin2 I'll take a look ad will fix.

[2018-07-13 03:40] anirudhacharya commented on #10686
@crawforc3 please try these updated instructions and reopen if the issue persists.

@nswamy please close this issue.

[2018-07-13 04:30] haojin2 commented on #11680
Thanks a lot for your quick response!

[2018-07-13 04:37] haojin2 commented on #8834
@lanking520 Was this fixed earlier?

[2018-07-13 04:38] haojin2 commented on #10387
@marcoabreu Have we observed more occurrence of this?

[2018-07-13 05:04] szha commented on #11501
Thanks for summarizing the issues @haojin2. Fixed seed indeed has the effect of hiding flaky tests so we should treat these as flaky tests until fixed. On the other hand, I think it's probably better to track them as individual items so that people can contribute to the fix one at a time. I will go ahead and split these into individual issues.

[2018-07-13 05:17] szha opened #11685 "test_executor.test_bind has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:18] szha opened #11686 "test_executor.test_dot has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:18] szha opened #11687 "test_gluon.test_conv has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:18] lanking520 commented on #8834
Yep, @haojin2 kill this one

[2018-07-13 05:18] szha opened #11688 "test_gluon.test_export has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:19] szha opened #11689 "test_gluon_data.test_multi_worker has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:19] szha opened #11690 "test_io.test_ImageRecordIter_seed_augmentation has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:20] szha opened #11691 "test_loss.test_bce_loss has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:20] szha opened #11692 "test_loss.test_ce_loss has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:20] haojin2 commented on #8834
@marcoabreu If this is no longer happening again would you please close the issue? Thanks!

[2018-07-13 05:21] szha opened #11693 "test_loss.test_ctc_loss has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:21] szha opened #11694 "test_loss.test_ctc_loss_train has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:21] szha opened #11695 "test_loss.test_hinge_loss has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:22] szha opened #11696 "test_loss.test_huber_loss has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:22] szha opened #11697 "test_loss.test_kl_loss has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:23] szha opened #11698 "test_loss.test_l1_loss has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:23] szha opened #11699 "test_loss.test_l2_loss has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:23] szha opened #11700 "test_loss.test_sample_weight_loss has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:24] szha opened #11701 "test_loss.test_saveload has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:24] szha opened #11702 "test_loss.test_squared_hinge_loss has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:24] szha opened #11703 "test_loss.test_triplet_loss has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:25] szha opened #11704 "test_module.test_factorization_machine_module has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:25] szha opened #11705 "test_module.test_module_set_params has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:25] szha opened #11706 "test_module.test_monitor has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:26] szha opened #11707 "test_nccl.test_nccl_pushpull was disabled"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:26] szha opened #11708 "test_ndarray.test_cached has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:26] szha opened #11709 "test_ndarray.test_ndarray_elementwise has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:27] szha opened #11710 "test_ndarray.test_ndarray_pickle has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:27] szha opened #11711 "test_operator.test_bilinear_sampler has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:27] szha opened #11712 "test_operator.test_binary_math_operators has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:28] szha opened #11713 "test_operator.test_deformable_psroipooling has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:28] szha opened #11714 "test_operator.test_dot has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:28] haojin2 commented on #10387
Plus, seems like a duplicate issue for #8834

[2018-07-13 05:28] szha opened #11715 "test_operator.test_dropout has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:29] szha opened #11716 "test_operator.test_elementwise_sum has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:29] szha opened #11717 "test_operator.test_l2_normalization has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:29] szha opened #11718 "test_operator.test_laop has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:30] szha opened #11719 "test_operator.test_laop_2 has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:30] szha opened #11720 "test_operator.test_laop_3 has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:31] szha opened #11721 "test_operator.test_laop_4 has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:31] szha opened #11722 "test_operator.test_rnnrelu_bidirectional has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:31] szha opened #11723 "test_operator.test_roipooling has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:32] szha opened #11724 "test_operator.test_sequence_last has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:32] szha opened #11725 "test_operator.test_unary_math_operators has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:32] szha opened #11726 "test_operator_gpu.test_bilinear_sampler_with_type has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:33] szha opened #11727 "test_operator_gpu.test_convolution_with_type has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:33] szha opened #11728 "test_operator_gpu.test_deformable_convolution_with_type has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:33] szha opened #11729 "test_operator_gpu.test_deformable_psroipooling_with_type has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:34] szha opened #11730 "test_operator_gpu.test_fft has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:34] szha opened #11731 "test_operator_gpu.test_ifft has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:34] szha opened #11732 "test_operator_gpu.test_pooling_versions has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:35] szha opened #11733 "test_operator_gpu.test_pooling_with_type has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:35] szha opened #11734 "test_operator_gpu.test_psroipooling_with_type has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:35] szha opened #11735 "test_optimizer.test_ftml has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:36] szha opened #11736 "test_optimizer.test_nadam has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:36] szha opened #11737 "test_optimizer.test_nag has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:36] szha opened #11738 "test_optimizer.test_signum has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:37] szha opened #11739 "test_quantization.test_get_optimal_thresholds has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:37] szha opened #11740 "test_sparse_ndarray.test_sparse_nd_pickle has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:37] szha opened #11741 "test_sparse_ndarray.test_sparse_nd_save_load has fixed seed that can mask flakiness"
The unit test in title have been using fixed seed to mask flakiness. Suggested action:
1. Evaluate whether the test is flaky without fixed seed. If not, remove seed. Else move to 2
2. If test is flaky, determine whether it's an actual uncaught edge case. If so, fix the operator. Else move to 3
3. If numerical instability is inevitable, adjust tolerance level appropriately.

[2018-07-13 05:43] #11501 closed

[2018-07-13 06:08] anirudhacharya commented on #11665
@szymonmaszke It is currently not being maintained but we will keep issue open and use it track this request.

@sandeep-krishnamurthy Also label this - "Docker", "Feature Request"

[2018-07-13 06:53] apeforest commented on #11508
@sandeep-krishnamurthy Please close this issue. Thx

[2018-07-13 07:15] anshumankmr commented on #3970
@rorschachhb thanks a lot mate

[2018-07-13 07:37] JeremyCXP commented on #10349
Fix already exist in source: https://github.com/apache/incubator-mxnet/blob/master/tools/coreml/converter/_layers.py#L41

You need to dl converter on GitHub and use mxnet_coreml_converter.py directly or wait for a new release directly in pip.

[2018-07-13 08:41] #11508 closed

[2018-07-13 08:42] kebinpeng commented on #9344
@mli what you said is on gluon,however I am using symbol. could you please help me solve this problem? thanks a lot

[2018-07-13 08:46] KellenSunderland commented on #11509
@szha Would it make sense to close this issue and re-open if we see test issuse with test_norm again?

[2018-07-13 09:12] marcoabreu commented on #10387
I don't know. Let's come back when we see it again.

Duplicate of https://github.com/apache/incubator-mxnet/issues/8834

[2018-07-13 09:12] #10387 closed

[2018-07-13 09:12] #8834 closed

[2018-07-13 09:14] marcoabreu commented on #8780
Not as far as I can tell. Closing

[2018-07-13 09:14] #8780 closed

[2018-07-13 09:14] marcoabreu commented on #10274
It could be ARM related. Lets leave it open for now and we'll have a look later on.

[2018-07-13 10:03] mdenna-nviso commented on #9507
Hi all,

I'm having exaclty the same issue, I tried on both Raspberry Pi 3, and Raspberry Pi 3+.
I compiled the latest mxnet using arm-linux-gnueabihf-gcc and did "export MXNET_ENGINE_TYPE=NaiveEngine" during runtime as suggested above in this post.
I have the same backtrace reported by tvandergeer .

Any suggestions?
Thanks

[2018-07-13 10:42] AprilSongRits opened #11743 "Problems of bucking iterator in speech example"
The bucking iterator cannot read all the training data, which will cause the evaluation being significantly different.

[2018-07-13 10:52] douglas125 commented on #7182
I could not find useful resources about how to write a REC file from my own data.
I can create an array dataset using:

`dataset_train = mx.gluon.data.dataset.ArrayDataset(X_train, y_train)`

and then use it in the DataLoader. But if X_train, y_train are too large, I would like to generate them 1 by 1 and save them to disk as I read them, to then be able to use RecordFileDataset function. My quest

[2018-07-13 12:52] whamza15 commented on #9543
Any progress on this?

[2018-07-13 14:58] marcoabreu commented on #10087
Flakyness has not been solved: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1187/pipeline

======================================================================

FAIL: test_operator_gpu.test_batchnorm_with_type

----------------------------------------------------------------------

Traceback (most recent call last):

  File "C:\Anaconda3\envs\py3

[2018-07-13 15:13] KellenSunderland opened #11747 "Flaky test test_quantization_mkldnn.test_requantize_int32_to_int8"
Example Failure
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1175/pipeline

Output
======================================================================
FAIL: test_quantization_mkldnn.test_requantize_int32_to_int8
----------------------------------------------------------------------

Traceback (most recent call last):
  File "/usr/local/lib/pytho

[2018-07-13 16:12] apeforest commented on #11743
@AprilSongRits Can you give more details of this problem. Like a reproducible simple example will be great. Thanks!

[2018-07-13 16:14] zheng-da commented on #11682
how do you install mxnet 1.3.0?

can you provide some code that make mxnet run out of memory to help us reproduce the error?

[2018-07-13 16:24] apeforest commented on #11741
@szha Thanks for filing this issue. We will investigate these Flaky tests.

[2018-07-13 16:24] apeforest commented on #11740
@szha Thanks for filing this issue. We will investigate these Flaky tests.

[2018-07-13 16:24] apeforest commented on #11739
@szha Thanks for filing this issue. We will investigate these Flaky tests.

[2018-07-13 16:25] apeforest commented on #11738
@szha Thanks for filing this issue. We will investigate these Flaky tests.

[2018-07-13 16:25] apeforest commented on #11737
@szha Thanks for filing this issue. We will investigate these Flaky tests.

[2018-07-13 16:29] apeforest commented on #11727
@szha Thanks for filing this issue. We will investigate these Flaky tests.

[2018-07-13 16:29] apeforest commented on #11725
@szha Thanks for filing this issue. We will investigate these Flaky tests.

[2018-07-13 16:29] apeforest commented on #11724
@szha Thanks for filing this issue. We will investigate these Flaky tests.

[2018-07-13 16:29] apeforest commented on #11723
@szha Thanks for filing this issue. We will investigate these Flaky tests.

[2018-07-13 16:29] apeforest commented on #11722
@szha Thanks for filing this issue. We will investigate these Flaky tests.

[2018-07-13 16:31] apeforest commented on #11721
@szha Thanks for filing this issue. We will investigate these Flaky tests.

[2018-07-13 16:31] apeforest commented on #11720
@szha Thanks for filing this issue. We will investigate these Flaky tests.

[2018-07-13 16:55] apeforest commented on #11739
Thannks for filing this issue. We will investigate this Flaky test

[2018-07-13 17:00] lupesko commented on #10349
Thanks for reporting @JeremyCXP .
@apeforest can you please take a look? we might want to refresh the PyPi package.

[2018-07-13 17:33] anirudhacharya commented on #11509
@KellenSunderland as Sheng mentioned it has only been partially enabled, there are certain test cases which are still not enabled and fix that was merged does not fix the occasional hanging of the test case on the CI.

[2018-07-13 17:55] leezu commented on #11509
@anirudh2290 @KellenSunderland Only the part that caused assertion errors during numerical checking of the gradient is disabled. It is not clear if the hang was occurring during `check_numeric_gradient` or during the other parts in the test. If the hang occurred outside of `check_numeric_gradient` it is fixed by change of underlying norm implementation, otherwise it is disabled..

You may want to

[2018-07-13 18:15] #10686 closed

[2018-07-13 18:25] #11708 closed, assigned to nobody

[2018-07-13 18:30] szha commented on #11722
Duplicate of #11410

[2018-07-13 18:30] #11722 closed

[2018-07-13 19:03] apeforest commented on #11735
Thanks for filing this issue. We will investigate this flaky test.

[2018-07-13 19:03] apeforest commented on #11734
Thanks for filing this issue. We will investigate this flaky test.

[2018-07-13 19:03] apeforest commented on #11733
Thanks for filing this issue. We will investigate this flaky test.

[2018-07-13 19:03] apeforest commented on #11732
Thanks for filing this issue. We will investigate this flaky test.

[2018-07-13 19:03] apeforest commented on #11731
Thanks for filing this issue. We will investigate this flaky test.

[2018-07-13 19:03] apeforest commented on #11729
Thanks for filing this issue. We will investigate this flaky test.

[2018-07-13 19:03] apeforest commented on #11728
Thanks for filing this issue. We will investigate this flaky test.

[2018-07-13 19:05] lanking520 commented on #11571
@nswamy and @yzhliu , thanks for your recommendation on the changes. There should be no problem when we dispose a `dataBatch` in the `DataIter`. The core problem happened in the RNN BucketingIter. The `next()` method did not brings a copy. Instead, a reference of NDArray created in the Iterator and passed to the DataIter. The C++ side only see one reference in the original data. In that case, we l

[2018-07-13 19:15] apeforest commented on #11747
Thannks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:16] vandanavk commented on #11526
Try using "\\\\" as the the token delim when you want to use '\' or '\\' as delim

[2018-07-13 20:24] apeforest commented on #11740
Thannks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:24] apeforest commented on #11739
Thannks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:40] lupesko commented on #10937
@ashkanaev thank you for submitting this issue!
This is an issue with the MXNet C Predict API. Let's please update the label to "C API"

@nswamy can you please update the label?

[2018-07-13 20:41] lupesko commented on #10881
We're updating the labels to better indicate MXNet Backend issues.
@sandeep-krishnamurthy can you please update the label from "C++" to "Backend"? Thanks!

[2018-07-13 20:45] azai91 commented on #10026
@pengzhao-intel I believe when you call copyfrom it will convert the input memory shape into the same shape as the target. so if you Reorder2Default but then call copyfrom the mkldnn memory will be the new shape

[code]

[2018-07-13 20:47] apeforest commented on #11711
Thannks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:47] apeforest commented on #11710
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:47] apeforest commented on #11709
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:47] apeforest commented on #11707
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:47] apeforest commented on #11706
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:47] apeforest commented on #11705
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:48] apeforest commented on #11704
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:48] apeforest commented on #11703
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:48] apeforest commented on #11702
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:48] apeforest commented on #11701
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:48] apeforest commented on #11700
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:48] apeforest commented on #11699
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:49] apeforest commented on #11698
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:49] apeforest commented on #11696
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:49] apeforest commented on #11697
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:49] apeforest commented on #11695
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:49] apeforest commented on #11694
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:49] apeforest commented on #11693
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:49] apeforest commented on #11692
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:49] apeforest commented on #11691
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:49] apeforest commented on #11690
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:52] szha commented on #10401
@Will0622 closing for lack of activity. If this is still relevant, whenever you're ready, you can provide the information here and ping me to reopen the issue. Thanks.

[2018-07-13 20:52] #10401 closed

[2018-07-13 20:52] lupesko commented on #10723
@wkcn this is pretty cool! did you consider adding an example to MXNet docs about this functionality?

At any case - this issue seems to be resolved.
@nswamy can you please close?
@wkcn feel free to re-open and comment if closed in error.

[2018-07-13 20:55] szha commented on #10141
@zheng-da @pengzhao-intel ping. Any progress?

[2018-07-13 20:56] apeforest commented on #11689
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:56] apeforest commented on #11688
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:56] apeforest commented on #11687
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:56] apeforest commented on #11686
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:56] apeforest commented on #11685
Thanks for filing this issue. We will investigate this Flaky test

[2018-07-13 20:58] anirudhacharya commented on #11682
@lichen11 I am assuming you have done a source build, which is why it shows as mxnet 1.3 even though official release is 1.2.

Also, as zheng-da requested can you please provide a reproducible example?

@nswamy please label this - "Pending Requester Info", "R", "Memory".

[2018-07-13 20:59] lupesko commented on #10692
@KellenSunderland how much memory does it leak? this may be a critical issue.

This is an MXNet backend issue.
@marcoabreu can you please remove "C++" and apply "Backend"? thanks!

[2018-07-13 21:01] lupesko commented on #11349
This is an MXNet backend issue, not a CPP Package issue.
@sandeep-krishnamurthy can you please update labels accordingly.

[2018-07-13 21:08] lupesko commented on #10543
@MccreeZhao thank you for filing this!

This is not an installation issue, rather a Build issue.
@marcoabreu can you please update labels: remove "Installation", add "Build", add "Windows"

[2018-07-13 21:29] ddavydenko commented on #10492
This seems to be related to MXNet backend feature request where there is a need to control logging level of runtime. @nswamy, in an effort to better label issues, could you please update labels on this one: add "Backend" and remove "C++" labels? Thank you!

[2018-07-13 21:30] lichen11 commented on #11682
Yes I built the GPU version from the source. As described here, https://github.com/apache/incubator-mxnet/tree/master/R-package, " bump up version number to 1.3.0 to make nightly build to build with r… ". So the mxnet R package is 1.3.0.
Here is a reproducible example https://github.com/apache/incubator-mxnet/tree/master/example/gan/CGAN_mnist_R.
I was able to run the code on previous versions. On

[2018-07-13 21:45] ddavydenko commented on #10369
@asitstands, thanks for bringing this up!

@marcoabreu , this seems to be related to the feature request for MXNet backend. In an effort to make our issue labels cleaner, could you please update this issue's labels: remove "C++" and add "Backend"? Thanks!

[2018-07-13 21:53] ddavydenko commented on #10148
@marcoabreu , this seems to be feature request for C++ package, not MXNet backend. Could you please update labels on this issue: remove "C++" and add "CPP Package"? Thank you!

[2018-07-13 21:55] marcoabreu commented on #10148
C++ is the cpp package. The cpp package label will be deprecated

[2018-07-13 22:18] haojin2 commented on #11690
This is a duplicate of #11359.

[2018-07-13 22:35] azai91 commented on #10994
@zheng-da do we know which operators cause this?

[2018-07-13 22:44] anirudh2290 commented on #9891
Closing this since the parsers only parse numbers for CSV, libsvm and libfm.
UTF-8 support not required at this point in time.

[2018-07-13 22:44] #9891 closed

[2018-07-13 22:48] haojin2 commented on #11707
Can you change the title to "disabled test"? This is actually a disabled test

[2018-07-13 22:59] azai91 opened #11752 "Update doc for activation symbol"
## Description
https://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.Activation

https://www.dropbox.com/s/w9krenuwsc9z9uo/Screenshot%202018-07-13%2015.53.00.png?dl=0

The simple_forward method says it accepts a kwargs called `act_data`. However, it is passing the parameter to the Activation class which requires a kwargs called `data`.

## Environment info (Required)

[code

[2018-07-13 23:00] azai91 commented on #11752
@aaronmarkham

[2018-07-13 23:04] azai91 commented on #10994
I think this might be an issue not specific to mkldnn.
built without mkldnn
[code]

and still get the issue
[code]

[2018-07-13 23:17] azai91 commented on #9032
@helloworldlxb are you still having issues with this? could you paste some logs / your output here?

was unable to reproduce with this simple script:
[code]

[2018-07-13 23:20] anirudh2290 commented on #10086
closing, please reopen if still able to reproduce.

[2018-07-13 23:20] #10086 closed

[2018-07-13 23:51] ddavydenko commented on #9733
This seems to be related to the functionality of MXNet backend itself and doesn't pertain to C++ API package. @sandeep-krishnamurthy , could you please update this issue and change its labels: remove "C++" and add "Backend"? Thank you!

[2018-07-13 23:56] haojin2 commented on #11732
Duplicate of #11517

[2018-07-13 23:57] haojin2 commented on #11739
Duplicate of #11456

[2018-07-14 00:02] apeforest commented on #10349
@pracheer The PyPi package needs update. Please let me know if you would like me to take the liberty to do it. Thanks.

[2018-07-14 00:15] ddavydenko commented on #9755
This seems to be related to MXNet backend, not C++ API. This request seems to suggest to refactor Python API, extract NDArrayIter implementation from it and move it into MXNet engine itself so that all language APIs could access it and don't need to reimplement like it currently is in Python.

@nswamy, could you please update labels of this issue: remove "C++" and add "Backend"? Thanks!

[2018-07-14 00:16] ddavydenko commented on #9724
This seems to me related to C API, not to front end C++ API. @sandeep-krishnamurthy , could you please update labels on this issue: remove "C++" and add "C API".

[2018-07-14 00:55] #11739 closed

[2018-07-14 00:55] #11732 closed

[2018-07-14 00:56] #11690 closed

[2018-07-14 02:48] OneRaynyDay opened #11756 "[MXNET-677] int8 quantization does not work on toy mnist dataset"
[Link to JIRA ticket issue](https://issues.apache.org/jira/projects/MXNET/issues/MXNET-677?filter=allopenissues)

The reproducible repository is [linked here.](https://github.com/OneRaynyDay/mxnet-quantization-bug)

## Description

Currently, airbnb is using the quantization extensions of mxnet to boost inference time on several convolutional neural network models. However, it has been difficult t

[2018-07-14 04:13] anirudh2290 opened #11758 "Flaky test test_batchnorm_fallback"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-07-14 05:00] haojin2 commented on #11758
Taking a look.

[2018-07-14 05:43] reminisce commented on #11756
@pengzhao-intel

[2018-07-14 07:31] haojin2 commented on #11758
Fix in #11759 @anirudh2290

[2018-07-14 07:46] lupesko commented on #9396
@DickJC123  bouncing again.

[2018-07-14 13:31] choudharykrish commented on #7313
Pls reopen this issue..

[2018-07-14 18:14] Ishitori commented on #11006
There are some bugs in the code, like shape mismatch, when you calculate accuracy, or trying to use sum on boolean. I also think that you can easily remove the dependency from Tensorflow to load MNIST data.

Take a look into this example. The model is almost the same and can be easily adjusted to match your own: https://github.com/zackchase/mxnet-the-straight-dope/blob/f65cde976f1e3138931db2af3b5b

[2018-07-14 18:40] Ishitori commented on #10166
Hi,

What kind of exception do you receive if you follow official installation instruction: https://mxnet.incubator.apache.org/install/index.html?platform=Windows&language=Python&processor=CPU&version=master  Please, notice of --pre flag. It would install you the latest version of mxnet (not a stable release). If you want a stable release, select version 1.2.0 in the dropdown.

[2018-07-14 18:55] Ishitori commented on #10071
I never worked with CTC, so I don't know for sure. But 672 is the shape of label you receive after the reshape, and WarpCTC expected to receive another shape based on initialization you provided.

I would double check the arguments of WarpCTC block and your actual values.
Also, have you checked this: https://github.com/apache/incubator-mxnet/tree/master/example/ctc ?

[2018-07-14 19:00] Ishitori commented on #9941
The documentation you are referring to is quite old and is not updated for a long time. It shouldn't be used anymore.

For a regularly updated version of the docs, see here: https://mxnet.incubator.apache.org/faq/distributed_training.html

[2018-07-14 21:00] Ishitori commented on #8096
It is a process of trial and error to chose good gradient clipping value. Maybe you can try to follow this advice: https://www.quora.com/How-should-I-set-the-gradient-clipping-value

[2018-07-14 21:53] Ishitori commented on #8004
To make a prediction using this model, you need to do a forward pass with the new data, as it is written in the bottom of the tutorial. It is very similar to how it is done to calculate test accuracy:

1. You set your data to the model
2. Then execute format pass with `is_train=False` flag
3. The output result is probabilities of being negative or positive labels (index 0 - negative, index 1 - pos

[2018-07-14 22:01] Ishitori commented on #11150
The discussion moved to: https://discuss.mxnet.io/t/how-to-use-mx-rnn-convgrucell/1196
@Feywell, please, close the issue, if the question was answered.

[2018-07-15 06:54] KellenSunderland commented on #11228
@marcoabreu @aaronmarkham I'm seeing more of these errors and don't see why this isn't fixable.  Can we reopen this issue?

[2018-07-15 06:59] #11680 closed

[2018-07-15 08:20] Feywell commented on #11150
@Ishitori Thanks. Actually,  I've been busy with other things recently. For this question, I do not find a good answer. I hope I can find a appropriate answer here.
So, can I keep this issue until I find a good solution？

[2018-07-15 12:54] hqucms commented on #3946
Does this mean that it is safe to have multiple threads calling the engine concurrently? Specifically, is it OK to create one executor per thread and running them simultaneously? (I am asking this in the context of multithreaded inference on CPU with C/C++ API).

And this seems in contradiction with:

as stated in https://mxnet.incubator.apache.org/architecture/overview.html, and also the discussi

[2018-07-15 14:24] burness opened #11763 "When Train SSD, It hold on during read the data"
## Description
I run the `train_ssd.py` with  my own voc dataset. I handle on during the data read like fllow:

![image](https://user-images.githubusercontent.com/3112825/42734787-4d3dd150-887c-11e8-8b9a-0bf9409406f5.png)

![image](https://user-images.githubusercontent.com/3112825/42734807-7c3bbbb6-887c-11e8-9179-abeb78933e8c.png)

## Environment info (Required)

[code]

## Steps to reproduce
I wr

[2018-07-15 17:49] prathik-naidu commented on #11581
@eyildiz-ugoe were you able to find an answer to this issue? I'm getting the same error

[2018-07-15 18:55] Ishitori commented on #11581
I have just tried this example using the latest version of mxnet (pip install mxnet --pre) on my mac, and it seems to be working.

When I was trying it using 1.2.0, it hanged on loading the model, saying "Invalid NDArray file format". So I deleted the downloaded models, uninstalled mxnet and reinstalled it with `--pre` flag.

Also I noticed, that image files of cat and dog used in predict are stor

[2018-07-15 19:01] Ishitori commented on #11581
Created a pull request to fix file name generation - https://github.com/apache/incubator-mxnet/pull/11765

[2018-07-15 23:56] #8066 closed

[2018-07-16 00:01] eric-haibin-lin commented on #11071
Specify the `workspace` option in the `Convolution` op will reduce the temp space used for it. Are you using the default value for `workspace`? You can look it up in the json file

[2018-07-16 00:12] eric-haibin-lin commented on #11462
The sparse dot op is parallelized over batch dimension, not optimized for single batch inference. Adding label "performance"

[2018-07-16 01:16] xinyu-intel commented on #11747
Cannot reproduce locally. By the way, why just python3 fail?

[2018-07-16 01:31] Ishitori commented on #11285
I have cloned the most recent version of the mxnet source, to get the latest version of the example. I also installed the latest version of mxnet gpu `pip install mxnet-cu90 --pre`.

If I run the code with the following command (the only difference only with gpus count - I use only 1 gpu with index 0):

```python example/gluon/image_classification.py --dataset dummy --gpus 0 --epochs 10 --mode imp

[2018-07-16 01:32] Ishitori commented on #11284
Similar to https://github.com/apache/incubator-mxnet/issues/11285, if I update my mxnet version to the latest one (`pip install mxnet-cu90 --pre`) and run the example, I don't see issues anymore.

[2018-07-16 02:36] yanhn commented on #3946
@eric-haibin-lin
I used the cpp api: PredictorHandle.
And I didn't set any MXNET engine envrionment, I used the default value.
As for tx2's GPU utilization, it shares a total 8G memory for both cpu and gpu use. And I checked that it wasn't full when there are 2 executors.
Maybe it is the hardware issue?

[2018-07-16 02:38] antran89 commented on #9226
@ThomasDelteil sorry, I am a newbie into MXNet, what should we pass into the `Trainer`

[2018-07-16 03:55] lanking520 commented on #11571
Thanks for all of you for your help, I have added a PR for RNN example here: https://github.com/apache/incubator-mxnet/pull/11753

[2018-07-16 05:01] ZhennanQin commented on #10724
@zheng-da , I spent half day to investigate this, but can't reproduce it within 2000 times running. I tried this in 2 scenarios:
1. Build on Skylake, run tests on same machine, result in 1000 times passed.
2. Build on Skylake, run tests on Broadwell, result in 1000 times passed.

The tests command I used is, nosetests --nocapture --verbose tests/python/train/test_bucketing.py:test_bucket_module

I

[2018-07-16 05:54] zheng-da commented on #11171
the problem should have been fixed by https://github.com/apache/incubator-mxnet/pull/11577

[2018-07-16 06:38] KellenSunderland commented on #11747
@xinyu-intel: This is a rarely occurring non-deterministic failure, so the fact it happens in python3 as opposed to python2, (or any other language) is probably just a coincidence.

[2018-07-16 07:20] wkcn commented on #10723
@lupesko I will consider it. Thank you!

[2018-07-16 08:15] nuaawzl commented on #5761
I met this problem, too. Any suggestion？ thanks

[2018-07-16 13:50] indhub commented on #9226
Problem is not what you pass to Trainer. Problem is, you have some layer that is not being used in forward pass. Please ask the question at discuss.mxnet.io with a reproducible example. This is not a bug. Hence closing this issue.

[2018-07-16 13:50] #9226 closed

[2018-07-16 16:21] aaronmarkham opened #11769 "USE_BLAS=MKL fails due to mshadow requiring openblas"
Seems like you should be able to just use MKL. Docs suggest as much, but this doesn't work.

[2018-07-16 16:41] OneRaynyDay commented on #11756
Just an update: When I install `mxnet==1.3.0b20180715`, it throws the following error upon `qmodel.bind(...)` in the notebook, as in it segfaults before even the `predict()`.

[code]

[2018-07-16 16:45] anirudh2290 commented on #11376
@sifengyang can you please provide reproduction steps for the issue.

[2018-07-16 17:16] #11171 closed

[2018-07-16 18:25] dmidge8 commented on #621
Also hoping to have it!

[2018-07-16 18:36] christ1ne opened #11770 "[quantization] unexpected keyword argument 'quantized_dtype'"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-07-16 18:38] vandanavk commented on #7784
Not seeing this issue with MXNet 1.2.0. Executed `~incubator-mxnet/example/ssd$ python demo.py --cpu --network resnet50 --data-shape 512` to test.

For the sample code,
[code]
d = mx.io.DataBatch([data], label=[label]) should fix the issue.

[2018-07-16 18:43] nswamy commented on #9315
This is all fixed now.

[2018-07-16 18:43] #9315 closed

[2018-07-16 18:45] nswamy commented on #7417
Its in Maven now, we'll be releasing regularly with every release. https://mvnrepository.com/search?q=org.apache.mxnet

[2018-07-16 18:45] #7417 closed

[2018-07-16 18:52] nswamy commented on #9041
This will be available starting 1.3. https://cwiki.apache.org/confluence/display/MXNET/MXNet+Scala+API+Usability+Improvement
You can view the API documentation on the master branch already
https://mxnet.incubator.apache.org/api/scala/docs/index.html#org.apache.mxnet.NDArrayAPIBase

[2018-07-16 18:52] #9041 closed

[2018-07-16 18:54] nswamy commented on #9044
#11547 should fix this.

[2018-07-16 18:54] #9044 closed

[2018-07-16 18:55] nswamy commented on #9992
@dytmh I will close this issue, please open a new issue if you face a problem while following our new tutorial.

[2018-07-16 18:55] #9992 closed

[2018-07-16 18:57] nswamy commented on #11303
@Aman1994 I close this issue now, once we have support on the MXNet backend we'll revisit for Scala support as well.

[2018-07-16 18:57] #11303 closed

[2018-07-16 20:00] srochel commented on #11549
@szha What are the results with the updates?

[2018-07-16 20:20] jonomon opened #11772 "load_parameters expecting parameters that don't exist"
Using the following code:

[code]

where multiple LSTMs are added into gluon.nn,sequential, the function load_parameters crashes with the error message:

[code]

Note that there is no error when save_params and load_params was used.

## Environment info (Required)
- mxnet: 1.3.0
- Ubuntu 16.04.4 LTS
- Python version 3.6

@piiswrong

[2018-07-16 20:34] pracheer commented on #10349
@apeforest Please go ahead with the update.

[2018-07-16 20:59] OneRaynyDay commented on #11756
@reminisce Hi, is there a slack channel I can join for discussion about this bug? I can't seem to get quantization working at all. (Even the examples segfault for me)

[2018-07-16 21:13] OneRaynyDay commented on #11770
You are using mxnet version 1.2.0 while using branch master to run the tests. These two versions have different API's on `quantize_model()`. Please either run:

[code]

and then run the test, or check out the `1.2.0` branch from git before running your test.

[2018-07-16 21:33] reminisce commented on #11756
@OneRaynyDay From the error message, it seems that you quantized the model using a version of MXNet, but ran inference with the quantized model using an older version than that. Were you able to run the example here:
https://github.com/apache/incubator-mxnet/tree/master/example/quantization

It seems that an invitation for you to join the slack channel has been sent out. Let us know if you don't h

[2018-07-16 21:48] OneRaynyDay commented on #11756
Hi @reminisce , thanks for the response. I have not received a slack invitation to `ray.zhang@airbnb.com`. Was it to another e-mail address?

[2018-07-16 21:51] aaronmarkham commented on #11769
More context: https://github.com/apache/incubator-mxnet/pull/11049#discussion_r202511708
Here's the error.
[code]

[2018-07-16 22:17] eric-haibin-lin commented on #11218
@mseth25

[2018-07-16 22:17] christ1ne commented on #11770
thanks for the explanation.

[2018-07-16 22:17] #11770 closed

[2018-07-16 22:22] zheng-da commented on #10724
how did you test it? I tried putting a loop in the test code and run it 1000 times.
[code]
I don't see segfault either. Originally, I can reproduce the bug in this way. It seems https://github.com/apache/incubator-mxnet/pull/11577 fixed the bug.

But if I run
[code]
I can see a segfault occasionally. I'm not sure if this segfault is the same segfault.

[2018-07-16 22:29] zhreshold commented on #11421
As far as I know, opencv seems to be not fork friendly, and therefore will cause all kinds of bug in multiprocessing.

[2018-07-16 22:39] apeforest commented on #10349
@pracheer Please review and approve my PR for the PyPI update: https://github.com/apache/incubator-mxnet/pull/11773

[2018-07-16 22:56] Roshrini commented on #11555
@sandeep-krishnamurthy  https://github.com/apache/incubator-mxnet/pull/11593 merged which solves this issue. Can you please close this issue? Thanks!

[2018-07-16 23:06] ifeherva commented on #11056
Happy to do this next.

[2018-07-16 23:44] roywei opened #11774 "Gluon BatchNorm beta=False not working properly"
**Description**
I came from #10401
In that issue, there is no reproducible code, so not sure whats the use case there.
When I was developing mxnet backend for keras, I have similar issue.

So I used this [unit test](https://github.com/keras-team/keras/blob/6489c457d03e5fd5d605ed6197932f3b769ff951/tests/keras/layers/normalization_test.py#L144) and was able to reproduce:

**Config**
machine: mac
mxn

[2018-07-16 23:45] roywei commented on #11774
@sandeep-krishnamurthy could you help label Gluon, Bug? Thanks

[2018-07-16 23:56] OneRaynyDay commented on #11756
Thank you. I have also found out the reason for the failure, and it is not related to CPU quantization. We should discuss more about this in the slack channel. It is a very strange issue.

[2018-07-17 00:18] lanking520 commented on #10753
Hi @gigasquid , I am also facing the same issues when I try to deal with RNN example, I have add some fix here: https://github.com/apache/incubator-mxnet/pull/11753. Please see if this helps this problem as well

[2018-07-17 00:33] pengzhao-intel commented on #11756
@OneRaynyDay we have successfully run MNIST in our local with the quantization flow.
@xinyu-intel will help to take a look for your scripts.

[2018-07-17 00:50] milandesai opened #11775 "NPE in BucketingModule when providedLabel of DataBatch is not set"
Package: Scala
Mxnet Version: 1.1.0
Java Version: openjdk 1.8.0_131
Maven Version: [unused]
Scala Runtime: 2.12.4

We create a DataBatch without setting the `providedLabel` field. We then call `BucketingModule.forward(...)` with the data batch and get a NullPointerException:
[code]

This happens because the implicit method `ListMap2Descs` tries to convert `ListMap[String, Shape]` into `IndexedSeq[

[2018-07-17 01:22] anirudh2290 commented on #11772
tested that on 1.2.1 this works fine.

[2018-07-17 03:17] safrooze commented on #11772
Looks like the change in #10989 introduces this regression. This change is not included in 1.2.0 or 1.2.1.

[2018-07-17 03:55] ZhennanQin commented on #10724
`for i in {1..1000}; do python tests/python/train/test_bucketing.py; done`
In this way, I still can't reproduce this bug. As in first way you can't reproduce either, I assume the original bug has been fixed. For the segfault you saw in second way, maybe it's another issue.

[2018-07-17 04:44] lupesko commented on #11775
Thanks for reporting the issue @milandesai

To help the community look into it, please provide more information as asked below (usually the new issue template asks to fill all of that in) - providing complete information in the most concise form is the best way to get help.
- Package used (Python/R/Scala/Julia):
- For Scala user, please provide:
1. Java version: (`java -version`)
2. Maven version:

[2018-07-17 04:46] lupesko commented on #11775
@nswamy please label as "Scala" "Bug"
@lanking520 @andrewfayres @ddavydenko who are working on the Scala API

[2018-07-17 06:20] eric-haibin-lin commented on #3946
@junrushao1994 could you check @hqucms 's comment on the thread safety of engine's Push API? Is this true?

[2018-07-17 07:01] zdaxie opened #11777 "Distributed Training: looks like async from the log although setting the kv-store=dist_device_sync"
## Description
Train the distributed image classification code from mxnet master branch, but it seems like async from the log although setting the kv-store=dist_device_sync

## Environment info (Required)
Python 2.7
Mxnet 1.2 from pip

## Partial log:
First several epoches seems like normal, however when the training process near the end, the sequence is totally disordered. Also, when there are se

[2018-07-17 09:07] #10723 closed

[2018-07-17 09:11] marcoabreu commented on #9017
This is about the test you run via build/tests/mxnet_unit_tests

[2018-07-17 09:16] marcoabreu commented on #8655
Hi @liuyiqun1,

I'd like to refer you to our user forum at https://discuss.mxnet.io/. Over there, the community offers custom support for usage problems like this. Just create a thread over there and you should get an answer shortly.

Thank you

[2018-07-17 09:16] marcoabreu commented on #8655
Closed due to #8746

[2018-07-17 09:16] #8655 closed

[2018-07-17 09:23] marcoabreu commented on #7725
Hello @chsin, please check if your issue has been resolved with #8551.

[2018-07-17 10:38] Neutron3529 commented on #11526
@vandanavk You're right, but the document is wrong.
document just say that:

Counts tokens in the specified string.
For token_delim=’`<td>`’ and seq_delim=’`<sd>`’, a specified string of two sequences of tokens may look like:
```<td>token1<td>token2<td>token3<td><sd><td>token4<td>token5<td><sd>```
But if we use token_delim=’`*`’ and seq_delim=’`\n`’, the function will throw an error
many people kn

[2018-07-17 11:04] larroy commented on #9017
Wasn't this solved by me already?

[2018-07-17 14:08] TaoLv commented on #11224
@apeforest The problem is still there for me. Seems it happens in dmlc-core, so why you change mshadow?

[2018-07-17 15:18] KellenSunderland commented on #11407
Still getting occasional failures pulling from github.

Sample output:
[code]

Reference failed build:
 http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1207/pipeline

[2018-07-17 15:42] y12uc231 opened #11783 "How to install the latest version of mxnet?"
how to install the latest version of mxnet with repo? I think there have been some changes which are not reflected in the latest version of pip.

[2018-07-17 15:47] TaoLv commented on #11783
You can follow this page and choose 'master' and 'build from source': https://mxnet.incubator.apache.org/install/index.html?platform=Linux&language=Python&processor=CPU

[2018-07-17 16:36] apeforest commented on #11224
@TaoLv please ignore my previous comment. That fix was for CI only. But I don't seem to have the issue using python2 in my MXNet virtual env.

Here is my virtual env package list:
[code]
And if I run `make lint` at the root directory of mxnet, it just runs smoothly. Could you please let me know the packages in your virtualenv?

[2018-07-17 16:50] haojin2 commented on #11783
@y12uc231 You can also install the nightly build version through "pip install --pre mxnet" or "pip install --pre mxnet-cu90" if you have CUDA installed.

[2018-07-17 17:01] junrushao1994 commented on #3946
@hqucms @eric-haibin-lin
For ThreadedEngine, I read the source code just now and believe that it is thread-safe. The Push API consists of 3 parts: bulk-related; dependency; PushToExecute. Bulk-related part is thread-local, so safe; The dependency and PushToExecute parts are designed as thread-safe. Therefore, in conclusion I believe the ThreadedEngine is thread-safe.

I am not sure why our documen

[2018-07-17 17:38] #11662 closed

[2018-07-17 17:41] lanking520 opened #11784 "Windows NOT supported for Scala Pacakge"
Currently, the build target in Scala package does not contains a dll target to build. Also some tests are not available on windows. In that case Windows build is not available on Scala Package now. I am looking for ways to work this out but I would welcome contributors to collaborate on this.

Please contact Scala package Maintainer (@nswamy @lanking520 @yzhliu @andrewfayres) if you would like to

[2018-07-17 17:45] #11772 closed

[2018-07-17 17:57] #11339 closed

[2018-07-17 18:00] haojin2 commented on #11339
@wenyangchu Would you please verify whether this has been fixed on your end when you have a minute? I've tried this out and verified that the fix works on my end.

[2018-07-17 18:07] szha commented on #9613
#11375 should have fixed it.

[2018-07-17 18:45] #9017 closed

[2018-07-17 18:50] lanking520 commented on #11315
Let's combine the conversation in here so we can kill dupes in issues: https://github.com/apache/incubator-mxnet/issues/10338

[2018-07-17 18:53] access2rohit commented on #11756
@xinyu-intel: do you need help addressing this issue ?

[2018-07-17 19:45] haojin2 commented on #9980
Is this fixed by #10208 and #10939?

[2018-07-17 19:48] haojin2 commented on #10709
Working on this.

[2018-07-17 20:07] CorneliusHagmeister commented on #8959
Sorry for the late reply. We managed to get it to work in the end. Unfortunutaly I dont quite remember what caused the problem. Maybe @adrianloy can say something about the fix.

[2018-07-17 20:19] apeforest commented on #10349
@edavilandes @christoff-1992 Update PyPI package and it works for me now. Please help to verify

[2018-07-17 20:41] #9613 closed

[2018-07-17 20:50] billy19murahmi commented on #9744
@pengzhao-intel I've never used "noduplicates" in KMP_AFFINITY settings. Wondering what this does? I couldn't find the explanation in the [documentation](https://software.intel.com/en-us/node/522691).

[2018-07-17 21:00] vishaalkapoor commented on #2811
I realize this post is over a year old, I'm adding to it in case it helps anyone who's found this issue or in case it helps the original posters.

Here is an RBM library in Python,

[pydbm-mxnet is Python library based on MXNet for building restricted boltzmann machine, deep boltzmann machine, and multi-layer neural networks.
](https://libraries.io/pypi/pydbm-mxnet
)

and a series on Medium (so fa

[2018-07-17 21:06] kandoiNikhil commented on #5289
Hi @sergeykolychev , did you find a solution for this ?

[2018-07-17 21:30] ThomasDelteil commented on #11120
@marcoabreu the suites was run 300 times and the address already in use wasn't triggered. Can we close this issue?

[2018-07-17 22:35] saswatac commented on #11551
To add to this, I have observed it is not only negative index, but it is for any positive out of bound index.

Further assignment to a out of bound index results in non-deterministic behavior. The assignment is either silently ignored or it fails with a SIGSEV or SIGABRT.

silently ignored -
[code]

SIGABRT -
[code]

SIGSEGV -

[code]

For all these cases of assignment as well as retrieval, we sho

[2018-07-17 23:31] rahul003 commented on #11777
That order doesn't look normal in my experience. What network are you training?

Also regarding the last validation part, do you see that the training hangs at that point on the last epoch? That could explain why some processes go ahead and finish valiation while others are stuck because they have more batches than other worker machines. If so, can you ensure you have the changes from this commit

[2018-07-17 23:47] lanking520 commented on #11784
Please merge the above issues into one please.

[2018-07-17 23:58] nswamy commented on #11763
@burness where is the train_ssd.py coming from? could you provide a complete code to test with? What do you mean by your own VOCDetection dataset, did you modify the dataset for your use-case?

@vishaalk could you please review this?

[2018-07-18 01:20] zdaxie commented on #11777
@nswamy @rahul003 The code i ran is incubator-mxnet/example/image-classification/train_imagenet.py, cloning from the master branch. The extra params is
--benchmark 0
--network resnet-v1
--gpus 0,1,2,3
--kv-store dist_device_sync
--num-layers 50
--batch-size 256
--dtype float32
--data-train /path/to/train.rec
--data-val /path/to/val.rec
--num-epochs 120
--lr-step-epochs 30,60,90
--lr-factor 0.1
--i

[2018-07-18 01:57] burness commented on #11763
Yes, I make my own data to be VOC format, and here is my train_ssd.py

[code]

[2018-07-18 03:08] rachelmint commented on #11071
I tried to set the workspace to 512 and 256 (the original value is 1028), the memory is not reduced, it stays exact same size.

[2018-07-18 03:13] CodePlay2016 opened #11794 "fail to quantize custom symbols exported from hybrid block"
## Description
when i quantized my custom symbol exported from hybrid block use the [quantization tool](https://github.com/apache/incubator-mxnet/tree/master/example/quantization), there will always be a duplicated output node which will lead to an error when i bind the module.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
i'm using Python

MXNet commit hash:
(Paste

[2018-07-18 03:45] reminisce commented on #11794
Could you share the symbol you want to quantize?

[2018-07-18 04:07] szhengac opened #11796 "Batch_dot does not support FP16 well"
The `batch_dot` does not support FP16 well and can make training slower compared to using FP32. This is tested using [Transformer](https://github.com/dmlc/gluon-nlp/blob/master/scripts/nmt/train_transformer.py) model in Gluonnlp. This feature has been added in a [NVIDIA mxnet](https://docs.nvidia.com/deeplearning/dgx/mxnet-release-notes/rel_17.11.html#rel_17.11). So I think it is good to enable th

[2018-07-18 04:32] lupesko commented on #8230
PR https://github.com/apache/incubator-mxnet/pull/11749 solves the issue.
@indhub @nswamy kindly close the issue - thanks!

[2018-07-18 05:07] #8230 closed

[2018-07-18 05:11] lupesko commented on #11290
@marcoabreu looks like @access2rohit asked for more info a while back... can you look into it please?

[2018-07-18 05:16] lupesko commented on #10973
@anirudh2290 does https://github.com/apache/incubator-mxnet/pull/11470 fix the issue? if so - please close.

[2018-07-18 07:19] haojin2 commented on #11448
@zheng-da fullyconnected is done in #11498, if you want to add the MKLDNN backward storage type inference for it please go ahead and do so. Thanks!

[2018-07-18 11:51] #11555 closed

[2018-07-18 15:09] aaronmarkham opened #11797 "CI failure with scalainstall on website PR"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11791/1/pipeline

This failure seems unrelated to the PR's code contents.

The PR is to announce the v1.2.1 launch, so can we get some eyes on this problems ASAP?

[2018-07-18 15:10] aaronmarkham commented on #11797
@nswamy

[2018-07-18 16:31] aaronmarkham commented on #11797
Second attempt got past the Clojure test. Transient issues? @marcoabreu
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11791/2/pipeline/

[2018-07-18 16:38] lanking520 commented on #11797
Hi @aaronmarkham the first link you have sent is the network issue I think, since Java socket has been reset. Please try to trigger it and run again

[2018-07-18 16:41] aaronmarkham commented on #11797
I reran https://github.com/apache/incubator-mxnet/pull/11791 and it is moving past the clojure test... fingers crossed.

[2018-07-18 17:05] larroy opened #11801 "flaky kvstore test"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1221/pipeline/

[code]

[2018-07-18 17:19] OneRaynyDay opened #11802 "[Feature Request] Quantized layers support for cpu context"
This is a feature request that includes [this issue](https://github.com/apache/incubator-mxnet/issues/11756)

The narrowed cause of the issue: Performing inference on a quantized model in a cpu context throws segmentation faults. To reproduce this issue, please refer to [this link](https://github.com/OneRaynyDay/mxnet-quantization-bug/blob/master/Module_Quantization.ipynb)

I worked with @access2r

[2018-07-18 18:03] vishaalkapoor commented on #7637
Hi,

Because you're tracking the evaluation error after each minibatch rather than after each epoch, the variance you're seeing at the beginning of each epoch is consistent (and also appears to be) due to the fact that you're averaging accuracies over a small number of minibatches. The smaller number of accuracies you're averaging over, the more variance you'll see, and that's why you see more var

[2018-07-18 19:19] #11430 closed

[2018-07-18 19:38] safrooze opened #11804 "softrelu activation clipping bug in MKLDNN"
## Description
With MKLDNN (enabled in mxnet-cuxxmkl builds), using softrelu activation, the output is clipped to maximum value of 88.37625885009766. This regression was introduced in 1.2.0 when MKLDNN was enabled for activations other than relu in [#10336](https://github.com/apache/incubator-mxnet/pull/10336).

Looking at MKLDNN [implementation of softrelu](https://github.com/intel/mkl-dnn/blob/7

[2018-07-18 20:50] haojin2 commented on #10786
@yifeim Working on the backward for square(rsp) now.

[2018-07-18 20:52] safrooze commented on #9026
@dbsxdbsx It's quite easy to use DataLoader with a custom DataSet object. Your custom DataSet class needs to implement only two functions: `__len__()` and `__getitem_()`. You can then easily use DataLoader with num_workers>1. Here is a dummy example of a custom dataset class that contains 1000 elements, each one the index plus some random noise:

[code]

[2018-07-18 21:06] ptrendx commented on #11796
@DickJC123

[2018-07-18 21:13] apeforest commented on #11224
@TaoLv I could reproduce the error following your comments. I have fixed it and verified in my local environment. PR is https://github.com/dmlc/dmlc-core/pull/433

[2018-07-18 21:17] atiyo commented on #7637
Still have yet to completely go through @vishaalkapoor's very helpful post above, but I also concluded that it seems that this is not an issue with MXnet a while ago but my incorrect logging of the error. Closing the issue now.

[2018-07-18 21:17] #7637 closed

[2018-07-18 22:14] apeforest commented on #11285
I have created a JIRA to track this issue: https://issues.apache.org/jira/browse/MXNET-577

[2018-07-18 22:41] safrooze commented on #11804
@pengzhao-intel @zheng-da

[2018-07-18 23:19] vandanavk commented on #8391
@HaoLiuHust are you still seeing this issue?

with the latest code, I don't see the issue "Check failed: this->shape_.Size() == shape.Size() (4515840000 vs. 220872704) TBlob.get_with_shape: new and old shape do not match total elements".

Could you share the system configuration on which you see this issue?

[2018-07-19 00:14] anirudh2290 opened #11809 "Flaky test: test_hybrid_static_memory"
Please see: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11806/2/pipeline/846/

[code]

[2018-07-19 00:31] haojin2 commented on #10755
@anirudhacharya #11326 has been merged, so this issue should be closed?

[2018-07-19 00:34] #10755 closed

[2018-07-19 00:42] haojin2 commented on #9842
@szha Can this be closed?

[2018-07-19 00:44] haojin2 commented on #9916
Seems like this issue has been addressed already, can we close this? @marcoabreu @szha

[2018-07-19 00:47] #9842 closed

[2018-07-19 01:00] pengzhao-intel commented on #8532
@fhieber @tdomhan could you help confirm the fix?
If the problem is solved, we can close this bug finally ;)

[2018-07-19 01:25] aaronmarkham opened #11810 "website build and deploy failing"
Seems like a new param was injected into the build process which is causing the site builds to fail.
Maybe this... added six hours ago...
https://github.com/apache/incubator-mxnet/pull/11779/files#diff-709fab86767b8ea8dc16edf75a346144R54

[code]

[2018-07-19 01:30] Heidisnaps commented on #7784
@vandanavk
sorry.
I have not run this code recently, so I don't know.

[2018-07-19 01:46] szha commented on #11810
Where's the above log from?

[2018-07-19 01:47] dbsxdbsx commented on #9026
@safrooze Thanks

[2018-07-19 01:47] #9026 closed

[2018-07-19 02:05] anirudhacharya opened #11811 "Duplication of Operators for sampling from random distributions"
The operators defined in ``sample_op.cc`` and ``multisample_op.cc`` are seemingly performing the same tasks. Both these files define the following operators respectively
[code]
[code]

The only difference that I can glean from the documentation is that operators in ``multisample_op.cc`` performs concurrent sampling from multiple distributions, but the behavior of the operators is not different.

I

[2018-07-19 02:33] aaronmarkham commented on #11810
http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-website-build/120/console

[2018-07-19 03:34] HaoLiuHust commented on #8391
@vandanavk It is a long time..., the program has lost, maybe it is ok now..

[2018-07-19 03:37] kli-nlpr opened #11812 "imagenet-11k-place365-ch"
Where can I find the label names of imagenet-11k-place365-ch  models?
http://data.mxnet.io/models/imagenet-11k-place365-ch/
Thank you very much

[2018-07-19 04:12] sandeep-krishnamurthy commented on #8391
Closing the issue as it is not reproducible. Please reopen in case issue still persists.

[2018-07-19 04:12] #8391 closed

[2018-07-19 05:08] sandeep-krishnamurthy commented on #7784
Since unable to reproduce, closing the issue. Please reopen if issue still persists.

[2018-07-19 05:08] #7784 closed

[2018-07-19 07:06] zhaowwenzhong opened #11815 "学习率调整策略怎么设置？？？"
各位大侠看看下面写法错哪里了？

import mxnet.optimizer as optimizer
。。。
lr_scheduler = mx.lr_scheduler.PolyScheduler(base_lr = 0.1, pwr = 2, max_update = 1000)
opt = optimizer.SGD(learning_rate= 0.1, momentum= 0.9, wd= 0.0005, rescale_grad= 1.0/4，lr_scheduler = lr_scheduler)
....
def _batch_callback(param):
        print(param.locals['optimizer'].lr)

model = mx.mod.Module(context = ctx, symbol = sym )
model.fit

[2018-07-19 07:47] CodePlay2016 commented on #11794
@reminisce I'm not sure whether u want this, and i printed `sym.get_internals().list_outputs()` as follow:
[code]

[2018-07-19 08:47] lyd911 opened #11816 "Segmentation fault when Fine-tuning an ONNX model with MXNet/Gluon"
## Description
I got an segmentation when following the tutorial of MXNet doc Fine-tuning an ONNX model with MXNet/Gluon(http://mxnet.incubator.apache.org/versions/1.2.0/tutorials/onnx/fine_tuning_gluon.html). The segmentation fault occurred when doing Training loop, though get an output with decent Accuracy of 0.7812, the kernel died and couldn't continue next steps. I run the code on my own Mac

[2018-07-19 09:06] CodePlay2016 opened #11817 "got 'Process finished with exit code 134 (interrupted by signal 6: SIGABRT)' when binding quantized module"
## Description
when i was binding the module built from a symbol quantized by the [quantization tool](https://github.com/apache/incubator-mxnet/tree/master/example/quantization),  the console showed 'Process finished with exit code 134 (interrupted by signal 6: SIGABRT)' without any further information, which made me really confused. According to [this page](https://www.student.cs.uwaterloo.ca/~cs

[2018-07-19 11:57] cclauss opened #11819 "Is there a way to stop a Jenkins test run?"
Sometimes when making a commit to a PR, I see that I have made a mistake?

It would be helpful if I could cancel a Jenkins job and make a new commit.  It seems like a waste of resources to continue a Jenkins job when I already know the associated commit is not a good one.

[2018-07-19 13:20] zhenpingfeng commented on #8866
any news? I had this bug too.

[2018-07-19 15:01] mdtdev opened #11822 "Install from pre-built binaries failing"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-07-19 15:08] mdtdev commented on #11822
Let me add the note that this was discovered in a workshop and problems showed up for both Windows boxes and Macs, however the Windows boxes are loading the libraries and failing to work after that. I cannot provide that info, and most people at this workshop cannot use their command lines much less have github for providing info. Not sure if that is relevant.

[2018-07-19 15:17] nswamy commented on #11819
@cclauss Thanks for bringing this to our attention, You are right its waste of resources and also delays your new changes getting tested. On another note, we generally discourage contributors from creating WIP PRs, I hope thats not the case here.

@marcoabreu shouldn't this already happen? Could you please prioritize, I have experienced this as well.

[2018-07-19 15:23] nswamy commented on #11817
@reminisce could you please help, please feel free to change the labels if isn't a bug.

[2018-07-19 15:47] vandanavk commented on #11526
The documentation update (https://github.com/apache/incubator-mxnet/pull/11800) has been merged. Can this be closed? @Neutron3529  @sandeep-krishnamurthy

[2018-07-19 16:46] szha commented on #11810
Fix has been merged. I triggered a build with updated parameters at http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-website-build/123/

[2018-07-19 17:00] ankkhedia commented on #11822
hi @mdtdev Could you please provide me the minimum reproducible code which fails in Windows?

@anirudhacharya Could you please help look into Mac issue?

[2018-07-19 17:21] eric-haibin-lin commented on #11811
I think the recommended APIs are listed in https://mxnet.incubator.apache.org/versions/master/api/python/ndarray/random.html#random-distribution-generator
Why are you looking into this? are you trying to add a new one?

[2018-07-19 17:33] mdtdev commented on #11822
Unfortunately no, @ankkhedia, I cannot.  I have asked one of the people with a Windows box to do so. Well, actually maybe I can, they got the install to look ok, and the library mounted ok, but it failed to let them try the test code:
[code]
The error happened after the `a <-` line, but I do not have access to the error message. Sorry!

[2018-07-19 17:41] hetong007 commented on #11822
@mdtdev In your system terminal, please run

[code]

If it complains, please try to execute with `sudo`, as

[code]

then try to install the package again.

[2018-07-19 17:48] ankkhedia commented on #11822
@mdtdev The above instructions for Windows works for me and I am not getting error. Might be some additional dependencies required but cannot comment exactly unless we get hold of the exact error message.

[2018-07-19 17:49] hetong007 commented on #11822
@ankkhedia The exact error message is there:

[code]

[2018-07-19 17:52] mdtdev commented on #11822
@hetong007 Thank you, that appears to have fixed it. Is that something missing from the installation and setup instructions? Or did I miss something big somewhere?  But for me it seems to have fixed it, so thanks!

[code]
shows the desired test result.

[2018-07-19 17:52] apeforest commented on #11224
@TaoLv PR has been merged. Please pull the latest dmlc-core module and verify. Thanks.

[2018-07-19 17:53] vishaalkapoor commented on #11620
@thomelane I've submitted a pull request that adds signum and lbsgd to the list of optimizers with momentum. Please take a look: [link](https://github.com/apache/incubator-mxnet/pull/11826)

[2018-07-19 17:54] ankkhedia commented on #11822
@hetong007 I was talking about Windows error which @mdtdev mentioned in the issue description.

[2018-07-19 17:57] hetong007 commented on #11822
@mdtdev It'll be a temporary fix. We are working to resolve the dependency issues.

@ankkhedia You are correct, I overlooked that piece. I don't recall similar reports after the update two weeks ago.

[2018-07-19 18:15] apeforest commented on #11285
@Ishitori I ran your example and got a different stack trace as reported:
[code]

[2018-07-19 18:48] aaronmarkham commented on #11810
Thanks Sheng. The website build just finished successfully.

[2018-07-19 18:48] #11810 closed

[2018-07-19 18:50] sandeep-krishnamurthy commented on #7229
MXBoard should solve this use case - https://github.com/awslabs/mxboard

[2018-07-19 18:50] #7229 closed

[2018-07-19 20:07] apeforest commented on #11016
@slitsey This feature has been merged. Please pull the latest code and verify. Thanks!

[2018-07-19 20:21] apeforest commented on #11285
Confirmed the fix using one GPU. @msharmavikram Please let me know if you still see the issue.

[2018-07-19 20:22] apeforest commented on #11284
Verified the fix using one GPU. @ZaidQureshi Please test using the latest release and confirm.

[2018-07-19 20:33] apeforest commented on #8997
@shuokay I can no longer reproduce this issue. Please help to verify. Thanks

[2018-07-19 20:34] apeforest commented on #9167
@sxjscience I can no longer reproduce this issue. Please help to verify. Thanks!

[2018-07-19 20:57] haojin2 commented on #8383
@KellenSunderland Since numpy has a defined behavior for such inputs I think the test is valid. I also tried this on ubuntu and mac, and both produced same results as numpy. Maybe this is a platform-specific thing? Seems like here: https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/init_op.h#L449-L452 already has some code to address the signed-unsigned issue. Seems like the

[2018-07-19 21:04] KellenSunderland commented on #8383
Yeah sorry I thought this issue was closed.  I believe it's been fixed.  Give me some time and I'll verify.

[2018-07-19 21:10] apeforest commented on #10262
@szha What is the issue here? I don't see misalignment in the arguments now. Please clarify. Thanks!

[2018-07-19 21:17] apeforest commented on #11331
@sandeep-krishnamurthy This issue has been resolved. Please close it. Thanks

[2018-07-19 21:17] haojin2 commented on #8383
@KellenSunderland Thanks for your quick response! Please close the issue if the results on your end shows that this has been solved.

[2018-07-19 21:21] nswamy commented on #11594
Closing as the PR fixes.

[2018-07-19 21:47] haojin2 commented on #11468
@larroy Can you verify again whether this has been fixed already? I could not reproduce your issue based on the reproduction steps you provided.

[2018-07-19 21:55] haojin2 commented on #9067
@zhaoningning Hello, do you still experience this issue? If so, would you please provide some example scripts to reproduce your issue? Thanks!

[2018-07-19 21:56] haojin2 commented on #11654
Seems like it has been normal for a while, closing this.

[2018-07-19 21:57] haojin2 commented on #11103
Caused by a broken link, the link is fixed now so closing this.

[2018-07-19 21:57] #11103 closed

[2018-07-19 22:00] nswamy commented on #11816
@Roshrini ?

[2018-07-19 22:07] #11331 closed

[2018-07-19 22:09] ifeherva commented on #11056
See https://github.com/apache/incubator-mxnet/pull/11820

[2018-07-19 22:27] sravanbabuiitm opened #11829 "Insufficient documentation for GlobalAvgPool1D"
I m trying to understand the functionality of https://mxnet.incubator.apache.org/api/python/gluon/nn.html#mxnet.gluon.nn.GlobalAvgPool1D

The documentation doesnt seem complete for this, but I have noted discrepancy compared to the behavior of same api in keras.

model = Sequential()

model.add(Embedding(vocab_size,
                    embedding_dims,
                    weights=[embedding_matrix]

[2018-07-19 22:35] szha commented on #10262
This has already been fixed.

[2018-07-19 22:35] #10262 closed

[2018-07-19 22:45] vandanavk commented on #8794
@SumNeuron
Right now, context can be set within a block at max (https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/context.py).

`with mx.Context(mx.gpu(2)): # Context changed in with block.
`

There is no support for automatically switching between contexts yet. There is a request (https://github.com/apache/incubator-mxnet/issues/6333) for the same.

Can this issue be marked as cl

[2018-07-19 23:40] haojin2 commented on #11829
@sravanbabuiitm Thanks for reporting the insufficient doc, I agree that we should provide a more detailed doc at https://mxnet.incubator.apache.org/api/python/gluon/nn.html#mxnet.gluon.nn.GlobalAvgPool1D.
I also noticed several things to help you understand the behavior of the code:
1. You're using GlobalAvgPool1D(), so if you divide the result you get from np.sum by 5 you get 0.008933034, which s

[2018-07-20 00:25] haojin2 commented on #11829
Doc fix in #11832

[2018-07-20 02:14] #11016 closed

[2018-07-20 03:18] reminisce commented on #11794
I need the json file/str which describes the network structure to debug. Can you provide that?

[2018-07-20 03:54] CodePlay2016 commented on #11794
@reminisce sure, it can be found in this [repo](https://github.com/CodePlay2016/prune_mx_face)

[2018-07-20 04:02] reminisce commented on #11794
It contains only quantized symbol. Do you have original symbol and param files?

[2018-07-20 05:17] TaoLv commented on #11224
Thanks, @apeforest . I would like to close this issue after dmlc-core is updated to mxnet master branch.

[2018-07-20 06:10] sergeykolychev opened #11835 "MXNet on Windows via MinGW"
Hi guys,
Are there any plans to get Windows to compile via MinGW compiler on Windows ?
Tried, and as many before me, failed. Looks like there's a need for a substantial code modifications to get it compiled via gcc on Windows.
@szha

[2018-07-20 07:46] CodePlay2016 commented on #11794
@reminisce In fact that quantized symbol file is for another issue, sorry for the trouble. I have uploaded the related file to [Baidu Drive](https://pan.baidu.com/s/1hjJd3w1ehOB3ZSrWRDS7cQ)(the access key is `881o`) in the `symbol.rar` file. The original symbol and param files named `model_symbol-symbol.json` and `model_symbol-0000.params`, and the quantized symbol and param files named `model_sym

[2018-07-20 09:58] bettyeats commented on #11756
hi @OneRaynyDay have you resolved your problem? I have the same error:

[17:16:31] src/executor/attach_op_execs_pass.cc:336: Neither FCompute nor FComputeEx registered _contrib_quantized_conv
[17:16:31] src/executor/attach_op_execs_pass.cc:336: Neither FCompute nor FComputeEx registered _contrib_quantized_conv
[17:16:31] src/executor/attach_op_execs_pass.cc:336: Neither FCompute nor FComputeEx reg

[2018-07-20 16:05] OneRaynyDay commented on #11756
@bettyeats Hi, it is because you're using `ctx=cpu()`. Please refer to the feature request link for more information. Currently there is no workaround. You need `ctx=gpu()`

[2018-07-20 16:09] reminisce commented on #11756
For CPU, you can build with MKLDNN. Native CPU quantization is not implemented.

[2018-07-20 16:41] haojin2 commented on #11411
@safrooze #11836 should fix this issue, I've tried your reproduction script and here's the output from it:
[code]

[2018-07-20 17:38] vishaalkapoor commented on #11763
Hi Burness,

Apologies for the delay, there was a mixup with my handle and another Vishaal K was tagged :)

I'm able to repro the error you're seeing when building by source with the 1.2 branch.

Here are my instructions for reproducibility:

1. Set up the Pascal VOC Dataset by running python pascal_voc.py as per these [instructions]( https://gluon-cv.mxnet.io/build/examples_datasets/pascal_voc.ht

[2018-07-20 17:51] access2rohit commented on #11290
@marcoabreu Can you please provide the setup to reproduce the issue ?

[2018-07-20 17:55] #11427 closed

[2018-07-20 17:55] liyujiel commented on #11427
LSTM example removed

[2018-07-20 17:56] access2rohit commented on #11120
@marcoabreu The address in use issue not being triggered by running the suite couple hundred times. Should this issue be closed ? If not then can you shared the exact setup to reproduce it. I worked with @ThomasDelteil to get these tests to run and since they take time to complete a single run I ran it 300 times in order to reproduce it but it still succeeded.

[2018-07-20 18:02] eric-haibin-lin opened #11837 "broken DOC"
The doc for metric.MCC is broken:

https://mxnet.incubator.apache.org/versions/master/api/python/metric/metric.html#mxnet.metric.MCC

[2018-07-20 18:34] eric-haibin-lin commented on #11056
Added in #11820

[2018-07-20 18:34] #11056 closed

[2018-07-20 18:57] larroy opened #11838 "flaky test: test_broadcast_binary_op"
Flaky test intruduced in master:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1248/pipeline

[2018-07-20 18:59] larroy opened #11839 "flaky test: test_spatial_transformer_with_type"
Flaky test introduced in master:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1246/pipeline/

https://github.com/apache/incubator-mxnet/issues/7645

[2018-07-20 19:19] larroy commented on #7645
Still failing https://github.com/apache/incubator-mxnet/issues/11839

[2018-07-20 19:24] mklissa opened #11840 "Non-Deterministic Behaviour on Gluon vs Symbolic"
## Description

When trying out the examples provided in the current repo, I observe some non-deterministic behavior on same random seed (that is, the accuracy is significantly different).

The example (https://github.com/apache/incubator-mxnet/blob/master/example/gluon/image_classification.py) on Gluon with command:

`python image_classification.py --model resnet18_v1 --dataset cifar10`

doesn't