[2018-03-16 20:58] zheng-da commented on #10131
is it possible that the problem was caused by the potential memory error I found in the unit test?

[2018-03-16 21:00] zheng-da commented on #10131
@cjolivier01 have you tried any memory debug tools such as valgrind and address sanitizer?

[2018-03-16 23:16] cjolivier01 commented on #10131
i don’t think it was caused by that because that codepwth was designed
specifically for batch norm test, so i don’t believe any memory problems
occurred

On Fri, Mar 16, 2018 at 2:00 PM Da Zheng <notifications@github.com> wrote:

[2018-03-17 01:10] marcoabreu opened #10141 "Flaky test test_operator_gpu.test_convolution_options @ Python2: MKLDNN-GPU"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/487/pipeline

[code]

[2018-03-17 01:12] marcoabreu commented on #9853
https://github.com/apache/incubator-mxnet/issues/9844

[2018-03-17 01:14] marcoabreu commented on #10114
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/483/pipeline

Python3: MKLDNN-CPU

[code]

[2018-03-17 01:17] #9440 closed

[2018-03-17 01:24] zheng-da commented on #10141
This test is interesting. It tested the code with very precision. the tol is 1e-5. It seems it's running with float64. I don't think MKLDNN can do conv with float64. The CPU code actually falls back to the native MXNet implementation, as far as I can tell.

[2018-03-17 01:36] zheng-da commented on #9921
yes, we can keep the O(n) array and the subset of rows. Maybe we should discuss this face to face.

[2018-03-17 02:34] nopattern commented on #8651
@szha ,   @vdantu thank you,  I have solved the problem. sorry for forggeting to close.

[2018-03-17 02:34] #8651 closed

[2018-03-17 02:53] pulkitmaloo commented on #10051
Can I work on this?

[2018-03-17 04:37] max-graham commented on #9765
I just ran into the same problem when installing on Ubuntu 17.10. Updating `./make/config.mk` to use gcc-6 worked for me.

That is, replace the lines:
`export CC = gcc`
`export CXX = g++`

with the lines

`export CC = gcc-6`
`export CXX = g++-6`

Hope this helps anyone that stumbles across this issue.

[2018-03-17 05:00] xmyqsh opened #10142 "Hi, is gloun supporting depthwise conv?"
I dug into [gluon version's mobilenets](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/model_zoo/vision/mobilenet.py), it seems that it doesn't use   [depthwise_convolution-inl.h](https://github.com/apache/incubator-mxnet/tree/master/src/operator/nn/depthwise_convolution-inl.h)

It seems that gloun has no api for [depthwise_convolution-inl.h](https://github.com/apache/inc

[2018-03-17 05:28] szha commented on #10142
depthwise convolution is activated by specifying the number of groups to be equal to number of channels. It is used in mobilenet [here](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/model_zoo/vision/mobilenet.py#L45)

[2018-03-17 05:33] xmyqsh commented on #10142
interesting
I will have a check

[2018-03-17 07:05] xmyqsh commented on #10142
@szha
Indeed it is [} else if (param.num_filter == param.num_group &&](https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/convolution.cu#L70)

[2018-03-17 07:05] #10142 closed

[2018-03-17 21:46] #10114 closed

[2018-03-18 01:15] chinakook opened #10143 "__CUDACC__ seems not defined on non-jetbrains ide?"
https://github.com/apache/incubator-mxnet/blob/67af47c889fb5f54cc2b512ab8b453ff5070a1cc/src/common/cuda_utils.h#L35
The "__JETBRAINS_IDE__" macro may cause some common ops dose not use CUDNN acceleration?

[2018-03-18 01:36] chinakook commented on #10143
Sorry, It may be an intellisense error of VS2017.

[2018-03-18 01:36] #10143 closed

[2018-03-18 06:13] anirudhacharya opened #10145 "Inconsistent outputs with mxnet symbol.softmax vs ndarray.softmax"
## Description
The outputs of the Symbol API's softmax operator for non-default axis values is wrong/inconsistent.

## Environment info (Required)
[code]

Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):
GCC

MXNet commit hash:
574f469e973aa8a9667f0a1baa767472c1d26018

Build config:
[code]

## Error:
For the follo

[2018-03-18 06:40] xiehust opened #10146 "why the gluon.nn.embedding always return float32? seems cannot chang to float64."
## Description
(Brief description of the problem in no more than 2 sentences.)
I am using gluon.nn.embedding in my block, but it always return the output with dtype 'float32', thus it prevents me from concat another vector which has dtype 'float64'. Event if I set the dtype 'float64' or np.float64, it still doesn't work, and always output float32 value.

## Environment info (Required)
windows 10
m

[2018-03-18 07:43] harryprince opened #10147 "Mxnet R Package Installation Doc Bug"
Wrong:

[code]

Correct:
[code]

## Reference

https://stackoverflow.com/questions/43872455/mxnet-package-installation-in-r

[2018-03-18 12:28] nicklhy opened #10148 "How to apply the math operators to NDArray in C++"
Hi all,
I am working on a C++ project that need to do some data pre-processing and model inference with mxnet. The raw data is loaded and convert to [mxnet::cpp::NDArray](https://github.com/apache/incubator-mxnet/blob/67af47c889fb5f54cc2b512ab8b453ff5070a1cc/cpp-package/include/mxnet-cpp/ndarray.h#L121). But when I tried to do some pre-processing steps, I found that I can not apply the operators l

[2018-03-18 16:05] nihui commented on #10137
try update the latest code that include my performance fix for depth wise convolution :)

[2018-03-18 17:34] eric-haibin-lin commented on #7292
Negative index should be supported since 1.0. Feel free to reopen it.

[2018-03-18 17:34] #7292 closed

[2018-03-18 20:37] ShootingSpace opened #10152 "Problem with docs of mxnet.gluon.rnn.RNN()"
## Description
There is inconsistency of the docs of mxnet.gluon.rnn.RNN():
The signature states `activation='relu'` is the default,
[code]
While in the below parameters description, the default is tanh:
`activation ({'relu' or 'tanh'}, default 'tanh') – The activation function to use`

as far as my experience, the default is actually `relu'

## Environment info (Required)

[code]

Package used (P

[2018-03-18 23:11] #10152 closed

[2018-03-19 04:02] moveforever commented on #10148
hi, i come across with same problem. I feel a bit complex to use directly NDArray. And i'm planing to generate a simplified NDArray.

[2018-03-19 05:42] anirudhacharya opened #10154 "Symbol API's Concat operator inconsistent with NDArray API's Concat operator"
## Description
The output of the concat operator is inconsistent with the example given in the documentation here - https://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.concat. It is also inconsistent with the NDArray's concat operator - https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.concat

## Environment info (Required)
[code]

Package u

[2018-03-19 07:20] pengzhao-intel commented on #10086
@marcoabreu we are trying to reproduce this issue but can't. Could you reproduce it?

Actually, the MKL-DNN OP is not used in this test.  So we need to double check this issue.

[code]
[code]

[2018-03-19 07:23] marcoabreu commented on #10086
Hi Patric, could you try using the seed 56561434?

[2018-03-19 07:28] #9714 closed

[2018-03-19 07:38] pengzhao-intel commented on #10086
No crash with specified seed @marcoabreu

[code]

[2018-03-19 09:47] marcoabreu commented on #10086
Seems like we'll have to dig a bit deeper to find the segfault. Since it's not using an MKL operator, I'll remove that label. Thanks for investigating!

[2018-03-19 10:33] lebeg commented on #10148
Can you provide a concrete code example so that we can have a look?

[2018-03-19 10:39] lebeg commented on #10128
Can you provide more information on liblibexample.so? How does it depend on mxnet?

[2018-03-19 12:56] tianxingyzxq commented on #8772
same problem on win7 cuda8.0!
![err_mxnet](https://user-images.githubusercontent.com/5278803/37596698-fed31e06-2bb7-11e8-98b5-f7a0d3701b3d.PNG)

[2018-03-19 12:57] tianxingyzxq commented on #8772
错误	394	error C2440: “默认参数”: 无法从“mshadow::Stream<Device> *”转换为“mshadow::Stream<mshadow::cpu> *”	e:\incubator-mxnet\src\operator\linalg_impl.h	522	1	mxnet
错误	395	error C2440: “默认参数”: 无法从“mshadow::Stream<Device> *”转换为“mshadow::Stream<mshadow::cpu> *”	e:\incubator-mxnet\src\operator\linalg_impl.h	523	1	mxnet
错误	396	error C2440: “默认参数”: 无法从“mshadow::Stream<Device> *”转换为“mshadow::Stream<mshadow::cpu> *”

[2018-03-19 14:45] nicklhy commented on #10148
@lebeg , First, I managed to use a channel-wise scale operator "y = ax+b" to replace the BatchNorm for speed acceleration (only for inference phase). Thus, I have to calcuate `a = gamma/sqrt(var+eps)` and `b = -mean*gamma/sqrt(var+eps)+beta`. However, the original `mxnet::cpp::NDArray` only support some very basic operators like "+, -, *, /, %". Square root is not supported originally.

Second, af

[2018-03-19 15:21] #10107 closed

[2018-03-19 16:43] lebeg commented on #10148
The C++ API is not perfect at the moment and goes through a design review in the dev mailing list. There is no sqrt as a NDArray method, but maybe you can take a look into the unary operators [CPU](https://github.com/apache/incubator-mxnet/blob/43234d0f0a9e8dbed81cf0298fe8f5a33f3a552f/src/operator/tensor/elemwise_unary_op_basic.cc#L504-L525) / [GPU](https://github.com/apache/incubator-mxnet/blob/6

[2018-03-19 16:56] ThomasDelteil commented on #9571
That seems pretty critical indeed. The previous PR wasn't correct, it was still doing the computation using asnumpy() because it was using asscalar() which behind the scenes is equivalent to asnumpy()[0].

[2018-03-19 17:47] leopd opened #10158 "Assertion fail when creating very large matrix"
## Description
MXNet crashes with assertion failure when creating matrix with more than 4 billion entries.

[code]

## Environment info (Required)

[code]

For R user, please provide R `sessionInfo()`:

## Error Message:

[code]

## Minimum reproducible example

[code]

## Steps to reproduce

Seems to be a problem instantiating a matrix with more than 4B entries.  I've tried `mx.nd.zeros`, and `mx

[2018-03-19 17:51] rahul003 commented on #9028
@cjolivier01 Could you please add labels Question, Feature Request

[2018-03-19 17:53] rahul003 commented on #9087
@yangjunpro With imagenet it should be possible to see 50-80% speedup. Let us know if you have more questions.

[2018-03-19 17:54] rahul003 commented on #9087
@cjolivier01 Please add the label Question. Thanks!

[2018-03-19 17:56] cjolivier01 commented on #9087
just log on as me lol

On Mon, Mar 19, 2018 at 10:54 AM, Rahul Huilgol <notifications@github.com>
wrote:

[2018-03-19 18:17] pokachopotun commented on #10128
I hope this would be enough.
//CMakeLists.txt
project(test)
if(COMMAND cmake_policy)
      cmake_policy(SET CMP0003 NEW)
    endif(COMMAND cmake_policy)
if(NOT MSVC)
  set(UNITTEST_STATIC_LINK ON)
endif()
set(CPP_EXAMPLE_LIBS
  ${BEGIN_WHOLE_ARCHIVE} mxnet_static ${END_WHOLE_ARCHIVE}
  ${BEGIN_WHOLE_ARCHIVE} dmlc ${END_WHOLE_ARCHIVE}
  ${mxnet_LINKER_LIBS}
 )
add_definitions(-lpthread -std=c++11)

[2018-03-19 18:22] cjolivier01 commented on #8222
Is this resolved?  Closing now, please reopen if needed.

[2018-03-19 18:22] #8222 closed

[2018-03-19 18:24] ThomasDelteil commented on #10042
When using num_workers > 0 I get after a few hundreds/thousands of batches (the higher the number of workers, the sooner the segfault):

I am using mxnet-cu90 1.1.0:

[code]

Running this code: https://github.com/ThomasDelteil/CNN_NLP_MXNet/blob/master/Crepe-Gluon.ipynb and changing this line:
`curr_loss = nd.mean(loss).asscalar()`
to `curr_loss = nd.mean(loss)`

Sometimes, not all the times, I al

[2018-03-19 18:24] cjolivier01 commented on #7996
Is this question resolved?
Questions are answered more quickly on https://discuss.mxnet.io/
Closing now, please reopen if necessary.

[2018-03-19 18:24] #7996 closed

[2018-03-19 18:26] cjolivier01 commented on #7858
Pending response from asker for some time.  Assuming this issue can be closed.
Questions are answered faster on: https://discuss.mxnet.io/
Please reopen if necessary.

[2018-03-19 18:26] #7858 closed

[2018-03-19 18:27] cjolivier01 commented on #6785
This issue looks to be resolved. Please reopen if necessary.

[2018-03-19 18:27] reminisce commented on #10158
There is a plan of supporting `int64` as the type of tensor dimension sizes.

[2018-03-19 18:31] cjolivier01 commented on #9209
Please d9on't time the 'asnumpy()' calls, since this is a final conversion which has a copy, and would be in addition to the "interesting" code being timed.

[2018-03-19 18:33] cjolivier01 commented on #9115
Seems a reasonable request since activation almost always occurs after BN

[2018-03-19 18:35] Jerryzcn commented on #10042
@ThomasDelteil  can you try build from source using master? https://github.com/apache/incubator-mxnet/pull/10096 might fix it.

[2018-03-19 18:35] cjolivier01 commented on #9115
Added JIRA: https://issues.apache.org/jira/browse/MXNET-113

[2018-03-19 18:36] eric-haibin-lin commented on #10154
If you check the your inputs for symbols, they're 3-D with dim0 = 1:
[code]

If you use `data_forward.append(mx.nd.array(val))` instead of `data_forward.append(mx.nd.array([val]))`, the symbol output will be
[code]

Let me know if it doens't work

[2018-03-19 18:41] cjolivier01 commented on #9115
CLosing as it's now tracked by a JIRA

[2018-03-19 18:41] #9115 closed

[2018-03-19 18:49] ThomasDelteil commented on #10042
I am trying now, it did still happen though with`mxnet-cu90==1.2.0b20180315`

[2018-03-19 20:22] ThomasDelteil commented on #10042
The segfault does not seem to happen with latest master, however 1.1.2 does seem to be MUCH slower than 1.1.0. by a factor of 3-4.
`make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1`

Any idea why that might be?

[2018-03-19 20:51] aaronmarkham opened #10159 "Scala API docs search is broken"
## Description
The search field in the main panel does nothing.
https://mxnet.incubator.apache.org/api/scala/docs/index.html#package

[2018-03-19 20:54] Jerryzcn commented on #10042
@ThomasDelteil  The bug is related to a race condition in memory management, where a space is double freed. The latest master add a lock on the space, so that might slow down the dataloading. However, I'm not sure exactly why. ping @zhreshold

[2018-03-19 21:10] ThomasDelteil commented on #10042
Thanks @Jerryzcn
here is a reproducible example:
Play with the `NUM_WORKERS` and `optimized` parameters to surface the problems i mentioned above

[code]

[2018-03-19 21:27] #6785 closed

[2018-03-19 21:45] leopd commented on #10158
Any reasonable workaround until this plan is finished?

[2018-03-19 21:46] szha commented on #9571
@ThomasDelteil as I clarified in your comment in the other PR, you probably misunderstood the logic in that PR. I think your comments really intend to say "non-blocking is faster" and I agree. I think the blocking logic for each metric.update is a design choice that's worth revisiting. Nonetheless, there will be more work to do in imperative execution before we can roll out a change that removes t

[2018-03-19 21:49] ThomasDelteil commented on #9571
Yes that's correct. I see, ideally it would be nice to be able to opt-out of the blocking metrics. What is the rationale behind making the metrics blocking rather than non-blocking? You could always block on the `.get()`

[2018-03-19 21:55] szha commented on #9571
The blocking ensures that computation of next batch doesn't start before the computation of the current batch finishes. Without the blocking, in the current logic, imperative execution will continue by allocating new memory for new batch rather than reusing the memory.

[2018-03-19 21:57] oronanschel commented on #8458
Hi, did someone implemented that yet?

[2018-03-19 22:10] jesterhazy commented on #9078
You can build mxnet from source with the warpctc plugin by following the instructions here: https://github.com/apache/incubator-mxnet/tree/master/example/ctc#building-mxnet-from-source-with-warp-ctc-integration.

[2018-03-19 22:15] zhreshold commented on #10042
@ThomasDelteil
Measuring IO with training is not a good idea. Can you pull up with pure IO test?

[2018-03-19 22:18] #10159 closed

[2018-03-19 22:24] jesterhazy commented on #7881
duplicate of #1983. Try using CustomOp instead.

[2018-03-19 22:27] #7881 closed

[2018-03-19 22:50] ThomasDelteil commented on #9571
I see how that could be a problem, but I think that philosophically MXNet should let the users choose when to block. Typically I usually block after 100 batches or on every epoch. In a typical GPU with GBs of RAMs, the memory footprints of a few batches is negligible compared to the size of the network.

Also blocking or not blocking, I think we can get good gains by storing the accuracy on the ri

[2018-03-19 23:14] nswamy commented on #8591
@tz-hmc, Hope your question has been answered.
For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-03-19 23:14] #8591 closed

[2018-03-19 23:16] nswamy commented on #8614
Closing this, please redirect your question to our user forum

[2018-03-19 23:16] #8614 closed

[2018-03-19 23:35] sandeep-krishnamurthy commented on #9078
@hsddlz - please feel free to reopen if you still need support.

[2018-03-19 23:35] #9078 closed

[2018-03-19 23:40] ThomasDelteil commented on #10042
I removed the network operations and got essentially the same results for master and mxnet-cu90 in pure I/O. It looks like my network is not I/O bound with the current master (stuck on 100 batches for ~14s) but that the GPU is not processing the operations as fast as previously.
Either I botched my cudnn linking or the performance hit is much bigger than reported here https://github.com/apache/inc

[2018-03-19 23:43] anirudh2290 commented on #10045
This issue seems to be fixed on the master. Can you please check ?

[2018-03-20 00:02] nhynes opened #10162 "[question] Convert MXNet NDArray to TVM NDArray"
Is there an easy way to do this or does the TVM bridge need to be expanded?

Conversion through numpy is possible but slow. Ideally it would be possible to do an in-place copy by setting the pointer.

[2018-03-20 00:08] mbaijal commented on #8434
@jinfagang Did you manage to resolve this issue?

[2018-03-20 00:33] nhynes commented on #10162
If anyone else has this question, there's an example is in the PR, itself: https://github.com/apache/incubator-mxnet/pull/9880

[2018-03-20 00:33] #10162 closed

[2018-03-20 00:57] nicklhy commented on #10148
Hope we can make a change to it soon. 囧

[2018-03-20 01:10] anirudh2290 commented on #9613
@zhangchen-qinyinghua i cannot see your reviews in #7253 . can you please provide a minimum reproducible example.

[2018-03-20 01:17] tianweiz07 opened #10164 "unit tests fail on RaspBerry pi with MxNet 1.0"
## Description
Install MxNet 1.0 on RaspBerry pi using docker_multiarch.
When running uni tests, some of them fail

## Environment info (Required)

----------Python Info----------
('Version      :', '2.7.13')
('Compiler     :', 'GCC 6.3.0 20170516')
('Build        :', ('default', 'Nov 24 2017 17:33:09'))
('Arch         :', ('32bit', 'ELF'))
------------Pip Info-----------
('Version      :', '9.0.1

[2018-03-20 01:24] anirudh2290 commented on #8914
@mg0880gm are you still seeing this issue with the latest version of mxnet ?

[2018-03-20 01:35] anirudh2290 commented on #8801
@LeonJWH can you confirm that you could fix this after @PhanTask 's suggestion?

[2018-03-20 02:05] anirudh2290 commented on #8749
@pracheer can you please verify and close this if this is fixed ?

[2018-03-20 02:27] anirudh2290 commented on #9913
Should fix: #9475, #8663

[2018-03-20 02:28] anirudh2290 commented on #8663
@eric-haibin-lin also, please tag "Bug" for the crash.

[2018-03-20 02:30] anirudh2290 commented on #9475
@sandeep-krishnamurthy Please also tag as "Bug" for the crash.

[2018-03-20 02:30] anirudh2290 commented on #7533
@sxjscience Please also tag as "Bug" because of the crash.

[2018-03-20 02:59] zhiz21 commented on #7895
proposed labels: "Question", "HowTo"
Can you please ask usage related questions at - https://discuss.mxnet.io/
Please feel free to reopen if you encounter any issues.

[2018-03-20 03:06] anirudhacharya commented on #10154
@eric-haibin-lin Correct, I made a mistake in my code. Thanks for correcting me.

[2018-03-20 03:06] PaulaQin opened #10166 "Please help to provide mxnet 1.1.0 python package for Windows"
Hi,
Would you please help to build latest version mxnet python package for Windows on PyPI? I want to run mxnet on my Windows machine. Thanks.

[2018-03-20 03:06] #10154 closed

[2018-03-20 03:06] zhiz21 commented on #7184
proposed labels: "Question", "Discussion", "Feature request"

[2018-03-20 03:09] anirudhacharya commented on #10145
The mistake was in my code. In the following part, I should not have enclosed val in parentheses. It adds an extra dimension to the input, hence the wrong results.
[code]

[2018-03-20 03:09] #10145 closed

[2018-03-20 03:10] zhiz21 commented on #9167
proposed labels: "Gluon", "Python", "Bug"

[2018-03-20 03:15] zhiz21 commented on #9110
proposed labels: "Bug", "Python", "Gluon", "CUDA"

[2018-03-20 03:17] zhiz21 commented on #8715
proposed labels: "Python", "Doc", "Unclear Error/Doc"

[2018-03-20 03:19] sxjscience opened #10167 "HybridBlock can be slower than Block"
Here's an interesting example that HybridBlock can sometimes be much slower than Block. We define an Identity block using two strategies and compare the running time.

[code]

The result is:
[code]
We can find that in this case, using Block is a better choice than using HybridBlock.

[2018-03-20 03:38] reminisce commented on #10158
As far as I know, seems no easy workaround right now. May I know in what case you would need to allocate such a big matrix? Does a sparse matrix of `csr` format work for you?

[2018-03-20 03:40] juliusshufan opened #10168 "CPP test case fails to compile using gcc 4.8.5 when MKLDNN enabled"
## Description
When compiling the CPP test cases using GCC 4.8.5 with MKLDNN enabled, a compiling error will be raised as below:
_**tests/cpp/operator/mkldnn.cc:37:10: error: ‘align’ is not a member of ‘std’
   ret2 = std::align(alignment, size, mem, space2);**_

This is because std::align requires GCC 5.0 or above, since the minimum requirement for MXNET is gcc 4.8, it is supposed std::align shou

[2018-03-20 07:59] #10017 closed

[2018-03-20 08:14] cgraywang commented on #9572
@Feywell just follow up, for now we can reproduce the error with mxnet-cu80 version 1.1.0. We are working on fixing the issue in the new release.

[2018-03-20 09:05] Feywell commented on #9572
@cgraywang That's great! Hope the new release.

[2018-03-20 11:03] Bathilde opened #10171 "CoreML tool, wrong mlmodelc file name for Inception-BN"
I am currently using the CoreML tool to transform my models to mlmodel files. The example perfectly work on my mac, I was able to develop a simple application using CoreML and a squeezenet model.

I have downloaded an Inception-BN model (from: http://data.dmlc.ml/mxnet/models/imagenet/inception-bn.tar.gz) and compiled the model with the tools without any error. When the mlmodel file is included in

[2018-03-20 12:11] marcoabreu commented on #10168
@pengzhao-intel

[2018-03-20 12:13] marcoabreu commented on #10164
Hello @tianweiz07, does this also happen on MXNet 1.1?

[2018-03-20 12:14] juliusshufan commented on #10168
@zheng-da

[2018-03-20 12:28] pengzhao-intel commented on #10168
https://github.com/apache/incubator-mxnet/blob/926f2e231334c5a2832b3b79b31cb4e47dde2b1c/src/operator/nn/mkldnn/mkldnn_base.cc#L28

There is a standalone implementation for `std::align` and we can do a replacement for CPP test.
@juliusshufan do you have interested in submitting a PR?

[2018-03-20 14:03] CXMA479 opened #10173 "Unpredictable nan in Array"
## Description
Hi there,
I tried to apply some 'nd' operations on data. But the returned array seemed to *randomly* contain a `nan` element for a certain index.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

MXNet commit hash:
97570916f844bcb4515d972c75fb0a75da345d97

## Error Message:
[code]

## Minimum reproducible example
Run the following code several tim

[2018-03-20 15:37] frankpunx opened #10174 "Install v0.10.0 errors"
## Description
1. Can't do submodule update after checkout v0.10.0
2. Can't compile

## Environment info (Required)

[code]

## Error Message:

(Compiling error)
[code]

## Steps to reproduce
(Paste the commands you ran that produced the error.)

1. `git clone --recursive https://github.com/apache/incubator-mxnet.git`
2. `cd incubator-mxnet`
3. `git checkout v0.10.0`
4. `git submodule update`
[cod

[2018-03-20 15:47] jinhuang415 opened #10175 "MXNet MKLDNN build dependency/flow discussion"
Hi MXNet owners,

  This is Jin from Intel MXNet Shanghai team, we spent some time analyzing current MXNet make/cmake flow, especially the part related with MKLDNN and BLAS selection and full MKL/MKLML library link usage/dependency. We came out with a small summary slides mainly talk about below items:

(1) MKLDNN, full MKL, MKLML library relationship
(2) BLAS selection
(3) Our preferred MXNet Bui

[2018-03-20 15:49] jinhuang415 commented on #10175
[MXNet MKLDNN Build Dependency.pptx](https://github.com/apache/incubator-mxnet/files/1830084/MXNet.MKLDNN.Build.Dependency.pptx)

[2018-03-20 16:02] SuperLinguini commented on #5840
Proposed labels: Doc, Feature Request

Potentially close this issue.

[2018-03-20 16:03] #5840 closed

[2018-03-20 16:09] SuperLinguini commented on #9171
Proposed labels: Bug, Python, RNN

[2018-03-20 16:12] SuperLinguini commented on #9136
Proposed Labels: R, Feature Request, Autograd, Question

[2018-03-20 16:18] SuperLinguini commented on #7592
Proposed Label: Performance, Python

[2018-03-20 16:29] SuperLinguini commented on #9226
Proposed Labels: Python, Example, HowTo

[2018-03-20 17:49] sxjscience opened #10176 "[Operator] Potential indexing problem of SequenceMask, SequenceLast operators"
The SequenceMask, SequenceLast operators directly use `static_cast<int>` to convert the DType indices to int https://github.com/apache/incubator-mxnet/blob/master/src/operator/sequence_mask-inl.h#L93 . This may cause problems when the indices are something like `1.999999999`. We could consider to revise this.

[2018-03-20 17:51] tianweiz07 commented on #10164
Hi @marcoabreu , I did not try the MxNet 1.1 version. Currently we are just planning to use MxNet 1.0 for our RaspBerry Pi devices.

[2018-03-20 18:34] leopd commented on #10158
Sparse won't work -- my data is fully dense.   I'm working with very large sets of embedding vectors -- you can think of it as a 34M class softmax output and that's pretty close.  I guess I'll have to shard them into groups that fit in the limit and do the reduce by hand.  Thx.

[2018-03-20 18:49] szha commented on #9171
@kalpitdixit does the problem still happen?

[2018-03-20 18:51] nswamy commented on #8457
@pracheer Model APIs are deprecated.

[2018-03-20 18:51] #8457 closed

[2018-03-20 20:02] #9405 closed

[2018-03-20 21:12] gautamkmr commented on #8953
Proposed label: bug, example
Please remove the label: Need Triage

[2018-03-20 21:12] harshitajain1994 commented on #10088
Proposed labels: "Installation", "R"

[2018-03-20 21:13] gautamkmr commented on #8447
Please remove Need Triage label
Please add label: Installation, Pip

[2018-03-20 21:14] mbaijal commented on #8434
Can you please add the labels 'Pending Requester Info' and remove the 'Need Triage'

[2018-03-20 21:15] leleamol commented on #9179
Recommended Labels: "Question","Completed"

[2018-03-20 21:15] harshitajain1994 commented on #9068
Suggested Labels : "python", "Windows", "HowTo"

[2018-03-20 21:15] gautamkmr commented on #8387
Please remove the label: Need Triage
Please add the label: Operator, Test, Cuda

[2018-03-20 21:15] mbaijal commented on #8282
Can you please add the label 'Pending Requester Info' and remove the label 'Need Triage'

[2018-03-20 21:17] mbaijal commented on #8143
@VikingMew were you able to fix this as suggested?

[2018-03-20 21:17] mbaijal commented on #8143
Please add the label 'Pending Requester Info' and remove the label 'Need Triage'

[2018-03-20 21:17] gautamkmr commented on #8255
Please remove label: Need Triage
Please add label: Data-loading,  Exploration, Modelling

[2018-03-20 21:17] leleamol commented on #8601
Recommended Labels: "Question","Need Triage","Pending Requester Info"

[2018-03-20 21:18] harshitajain1994 commented on #9032
Suggested Labels : "Question", "Discussion", "Ubuntu", "Python"

[2018-03-20 21:18] bhavinthaker commented on #7823
Please label: Installation, Windows.

This issue seems to be resolved and so I would suggest closing it.

[2018-03-20 21:19] leleamol commented on #8454
Recommended Labels: "Feature Request", "Need Triage"

[2018-03-20 21:20] mbaijal commented on #7860
@chinakook Were you able to solve the issue?

[2018-03-20 21:20] harshitajain1994 commented on #9137
Suggested Labels: "Gluon", "Question", "Data Loading"

[2018-03-20 21:21] gautamkmr commented on #8004
Please remove label: Need Triage
Please add label:  Exploration, Model, CNN,

[2018-03-20 21:21] mbaijal commented on #7860
Please add the label 'Pending Requester Info' and 'Operator' and remove the label 'Needs Triage'

[2018-03-20 21:21] leleamol commented on #8396
Recommended Labels: "Question","Gluon"

[2018-03-20 21:22] gautamkmr commented on #7918
Please remove the label: Need Triage
Please add the label: Doc

[2018-03-20 21:23] harshitajain1994 commented on #9261
Suggested Labels : "Question", "HowTo", "API"

[2018-03-20 21:24] leleamol commented on #7997
Recommnded Labels: "Question", "Need Requestor Info"

[2018-03-20 21:25] leleamol commented on #7907
Recommended Labels: "Question"

[2018-03-20 21:26] gautamkmr commented on #6909
Please remove the label: Need Triage
Please add the label: Doc

Since the tutorial needs to be updated.

[2018-03-20 21:26] bhavinthaker commented on #8600
It may not be wrong to augment an existing dataset with flipped version of the image.

Few links on Data augmentation:
1. https://www.coursera.org/learn/convolutional-neural-networks/lecture/AYzbX/data-augmentation
2. http://cs231n.stanford.edu/reports/2017/pdfs/300.pdf

Please label: question, how-to

I would suggest closing this issue since the question is answered. See szha's guidance above on

[2018-03-20 21:27] leleamol commented on #7717
Recommended Labels: "Question", "Discussion"

[2018-03-20 21:30] mbaijal commented on #6545
Can you please add the label 'Feature request' and 'Example' to this issue and remove 'Needs Triage'

[2018-03-20 21:30] harshitajain1994 commented on #7784
Suggested Labels : "NDArrays", "Ubuntu", "Python"

[2018-03-20 21:30] b0noI commented on #8443
Suggested tags: "Bug"

[2018-03-20 21:30] b0noI commented on #8441
Suggested tags: "Question", "HowTo"

[2018-03-20 21:31] b0noI commented on #8326
Suggested tags: "CUDA", "Exception Handling", "Bug"

[2018-03-20 21:32] b0noI commented on #7987
Suggested tags: "Feature request"

[2018-03-20 21:32] b0noI commented on #8546
Suggested tags: "Question", "HowTo"

[2018-03-20 21:33] b0noI commented on #8480
Suggested tags: "Feature request"

[2018-03-20 21:33] mbaijal commented on #8969
Please remove the label 'Need Triage'

[2018-03-20 21:33] b0noI commented on #8405
Suggested tags: "Bug"

[2018-03-20 21:33] leleamol commented on #8202
Requested Labels: "Bug"

[2018-03-20 21:33] harshitajain1994 commented on #4845
Suggested Labels :"HowTo", "Question"

[2018-03-20 21:34] b0noI commented on #8291
Suggested tags: "Bug", "Doc"

[2018-03-20 21:34] b0noI commented on #8037
Suggested tags: "Question", "HowTo"

[2018-03-20 21:34] b0noI commented on #7895
Suggested tags: "Question", "HowTo"

[2018-03-20 21:35] mbaijal commented on #8486
@chinakook @szha  this still an open issue ?

[2018-03-20 21:38] mbaijal commented on #8486
Please add the label 'Example' and 'Pending Requester Info'

[2018-03-20 21:54] nswamy commented on #7960
I am closing this issue for now. @zjost please open a new issue if you still have a problem on the latest version of MXNet

[2018-03-20 21:54] #7960 closed

[2018-03-20 21:56] zhreshold commented on #8291
I suppose it is solved now for both python2/3, closing this for now, feel free to ask me to reopen it if it's not solved.

[2018-03-20 21:56] #8291 closed

[2018-03-20 21:59] zhreshold commented on #8326
Closing this for now.

[2018-03-20 21:59] #8326 closed

[2018-03-20 22:02] zhreshold commented on #8441
You can checkout this https://mxnet.incubator.apache.org/api/python/gluon/model_zoo.html, and for this kind of questions I suggest to use [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)).
Closing this for now, feel free to contact me to reopen it.

[2018-03-20 22:02] #8441 closed

[2018-03-20 22:03] nswamy commented on #7835
@cjolivier01 Is this fixed?

[2018-03-20 22:10] cjolivier01 commented on #7835
No idea. I didn't know about this issue.

[2018-03-20 22:10] nswamy commented on #7652
@reminisce @cjolivier01

[2018-03-20 22:13] cjolivier01 commented on #7652
@zheng-da Can you describe how batch norm caches its aux values (running mean and variance) between forward and backward passes (see above)?

[2018-03-20 22:27] anirudh2290 commented on #7835
@relaxli00 @Bumblebee1964 can you provide a minimum reproducible example ?

[2018-03-20 22:28] nswamy commented on #9118
tested on 1.1 and confirm that it still crashes

[2018-03-20 22:32] anirudh2290 commented on #9118
@nswamy exception handling change went after 1.1 . can you check with master ?

[2018-03-20 22:32] anirudh2290 commented on #9118
[code]

[2018-03-20 22:43] nswamy commented on #9118
@marfago closing this ticket as @anirudh2290 fixed the issue and the VM does not crash anymore.

[2018-03-20 22:43] #9118 closed

[2018-03-20 22:47] anirudh2290 commented on #9207
int64  type for tensor dimension sizes is not supported yet but there is a plan to support it. Please see: #10158

[2018-03-20 22:58] marcoabreu commented on #10175
Hello Jin, thanks a lot for looking into this! Would you mind creating a thread on dev@ to gain additional attention for this subject?

[2018-03-20 23:00] marcoabreu commented on #10174
Hello @frankpunx, v0.10.0 is quite old and it could be possible that the cub-project did a hard push on their repository, invalidating all commit hashes and thus making this dependency unresolvable.

I would recommend you to upgrade to the latest MXNet version, currently 1.1.0. Would you mind elaborating why you would like to use v0.10.0?

[2018-03-20 23:03] sontran commented on #7551
same here. thanks!

[2018-03-20 23:10] frankpunx commented on #10174
Hi @marcoabreu , the reason i'm trying to use this version is that I'm trying to clone the [FGFA](https://github.com/msracver/Flow-Guided-Feature-Aggregation) repository and they use this version.

[2018-03-20 23:14] marcoabreu commented on #10174
I see, thanks! Would you mind trying out whether it works with 1.1.0?

[2018-03-21 00:46] pengzhao-intel commented on #10175
@marcoabreu Thanks for the suggestion. I will do

[2018-03-21 00:51] chinakook commented on #7860
@mbaijal Yes, It's solved but not smart.

[2018-03-21 01:32] yifeim commented on #10045
Not sure if that is true. Compiled from source:

----------MXNet Info-----------
/home/ubuntu/anaconda3/lib/python3.6/site-packages/urllib3/contrib/pyopenssl.py:46: DeprecationWarning: OpenSSL.rand is deprecated - you should use os.urandom instead
  import OpenSSL.SSL
Version      : 1.2.0
Directory    : /home/ubuntu/incubator-mxnet/python/mxnet
Hashtag not found. Not installed from pre-built packa

[2018-03-21 04:27] aidan-plenert-macdonald commented on #10002
@sxjscience How good are the current unit tests? If I make the changes will the unit tests catch the change? And currently, the python unit tests are failing. Is this something expected?

[2018-03-21 04:43] sxjscience commented on #10002
The current unit test should be correct and we rely on it to test the correctness of PRs. Do you mean that the unit test fails without changing any code?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Aidan Macdonald <notifications@github.com>
Sent: Tuesday, March 20, 2018 9:27:54 PM
To: apache/incubator-mxnet
Cc: Xingjian SHI; Mention
Subject: Re: [apache/incub

[2018-03-21 04:52] aidan-plenert-macdonald opened #10182 "Failing unit tests on Master branch"
Working off the master branch on commit [067590bd](https://github.com/apache/incubator-mxnet/tree/067590bd22721fcb08ba09e8d898997e5c1905b1), the Python unit tests fail on Mac OSX in Python3
[code]

[2018-03-21 04:52] aidan-plenert-macdonald commented on #10002
Yeah. See https://github.com/apache/incubator-mxnet/issues/10182

[2018-03-21 05:09] sxjscience commented on #10182
I usually use “nosetests tests/python/unittests” to run the test. Not sure if “python setup.py test” works.

[2018-03-21 06:53] conradwt opened #10185 "Building From Source Has Incomplete Instructions For macOS 10.13.3"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-21 07:19] #7945 closed

[2018-03-21 07:21] Bumblebee1964 commented on #7835
We wnt on using Python only. As MxNet moved ahead, we will try to use the c++ package again later this year. For time being, let's close it.

[2018-03-21 07:26] Bumblebee1964 commented on #7835
Hi,

thanks for addressing.

We went on using Python only. As MxNet moved ahead, we will try to use the c++ package again later this year. For time being, I have closed the thread.

Regards,

Fred

------ Original Message ------
From: "Anirudh Subramanian" <notifications@github.com<mailto:notifications@github.com>>
To: "apache/incubator-mxnet" <incubator-mxnet@noreply.github.com<mailto:incubator-m

[2018-03-21 10:24] lebeg commented on #10175
A great suggestion! I would wish that the build selection logic would be put into separate files, ie cmake find module and a Makefile include.

[2018-03-21 10:37] gigasquid commented on #8971
Another update - I have the CNN text classification example as well as the GAN MNIST working!
MXNet rocks :)

![gout-9-500](https://user-images.githubusercontent.com/340299/37705399-45f091e0-2cd2-11e8-82be-3eed9ef38d4a.jpg)

[2018-03-21 10:53] frankpunx commented on #10174
Hi @marcoabreu , I have tried to install the latest version of MXNet and then I did MAKE -j4 and got this error. Do you have any idea why?

error:
Generator<mshadow::gpu, DType>*)’:
include/mxnet/./../../src/common/random_generator.h:154:5: error: there are no arguments to ‘CUDA_CALL’ that depend on a template parameter, so a declaration of ‘CUDA_CALL’ must be available [-fpermissive]
     CUDA_CA

[2018-03-21 11:05] gigasquid commented on #8971
@yzhliu I think my gpu problems were related to moving to High Sierra. I'll circle back and take another look soon in the near future 👀

[2018-03-21 13:53] marcoabreu commented on #10174
Sorry, I'm not familiar with that part. Maybe @szha @eric-haibin-lin or @cjolivier01 can shed some light here?

[2018-03-21 14:33] cjolivier01 commented on #10174
did you do a git fetch —all  before the submodule update?

[2018-03-21 15:10] frankpunx commented on #10174
I'm building 1.1 branch.
I have done the following steps:
git clone --recursive https://github.com/apache/incubator-mxnet.git
cd incubator-mxnet
git submodule update
make -4j

[2018-03-21 15:34] rahul003 opened #10186 "Flaky test: test_operator_gpu.test_multi_proposal_op"
## Description
test_operator_gpu.test_multi_proposal_op is flaky and fails on CI Windows. I believe there might be nothing specific to the windows environment it failed in.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia): Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc

MXNet commit hash:

Build config:CI Windows GPU

[2018-03-21 16:10] aidan-plenert-macdonald commented on #10182
Yes. nosetests works

[2018-03-21 16:10] #10182 closed

[2018-03-21 16:42] AlexTS1980 opened #10187 "OpenCV 3.3.1 undefined reference to compiler CXX_3.4.21"
keep getting this error when compiling mxnet:

`cmake USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda-8.0 USE_CUDNN=1 WITH_LAPACK=OFF ..`

[code]
and about 50 more  methods in core and imgcodecs libs that can't find  @GLIBCXX_3.4.21

I've updated `libstdc++.so.6` to support GLIBCXX_3.4.20-24, but keep getting the same error with OpenCV

[2018-03-21 17:23] nswamy commented on #5326
Please post questions on our user-forum. Closing this now.

[2018-03-21 17:23] #5326 closed

[2018-03-21 17:26] nswamy commented on #8682
closing issue as the steps to passing additional arguments are different to build MXNet Scala package

[2018-03-21 17:26] #8682 closed

[2018-03-21 17:31] nswamy commented on #8716
as_in_context is used to bring data from one device to another for computation.
I am closing this issue, For general "how-to" questions, our user forum (and Chinese version) is a good place to get help.

[2018-03-21 17:31] #8716 closed

[2018-03-21 17:34] nswamy commented on #8695
Please try the latest version of MXNet and create a new issue if you encounter the problem again.

[2018-03-21 17:34] #8695 closed

[2018-03-21 17:35] nswamy commented on #9004
@leleamol can you verify if this is resolved?

[2018-03-21 17:39] cjolivier01 commented on #5326
Forum: https://discuss.mxnet.io/

[2018-03-21 17:53] ankkhedia commented on #10093
Hi @ThomasDelteil . As mentioned by @ranman the fix has gone in. So, closing the issue.

Feel free to reopen if closed in error.

@sandeep-krishnamurthy Could you please close the issue

[2018-03-21 17:55] ankkhedia commented on #10102
@gydlcc hope you got your query answered. Closing the issue. Feel free to reopen if closed in error.

@sandeep-krishnamurthy  Could you please close this issue

[2018-03-21 17:59] ankkhedia commented on #10119
@sandeep-krishnamurthy Could you please tag the issue as Pending Requester Information

[2018-03-21 18:04] #10093 closed

[2018-03-21 18:09] zheng-da opened #10188 "potential race condition in MKLDNN NDArray."
NDArray::data() currently still converts its data layout if the data is stored in the MKLDNN format. The problem has been partially fixed in https://github.com/apache/incubator-mxnet/pull/9862. However, the problem can still occur if the output of an MKLDNN operator is passed to a non-MKLDNN operator.

[2018-03-21 18:12] zheng-da commented on #10168
This is a unit test to check the correctness of the custom alignment function.

[2018-03-21 18:26] eric-haibin-lin opened #10189 "Race condition when MKLDNN is enabled"
When MKLDNN is enabled, the output of any MKLDNN op will have MKL layout. If such ndarray is passed to any operator registered with `FComputeEx` interface, calling `NDArray::data` will trigger "Reorder2Default" which may cause race condition since it doesn't prevent others from writing to it at the same time.

The number of non-MKL ops registered with `FComputeEx` is over 50. This should be fixed

[2018-03-21 18:27] #10188 closed

[2018-03-21 18:34] eric-haibin-lin commented on #9396
Hi @DickJC123 could you share some benchmark result for updated FC operator in ff21e1f ? That will be helpful information to decide how to fix the performance degradation for resnet, or revert the change

[2018-03-21 19:18] aaronmarkham commented on #10076
Is this something we can catch in the make step (check for the submodules)... early on so you don't get halfway through the build and get this mysterious error?

[2018-03-21 19:53] jingpengw commented on #8531
just do convolution with another matrix?

[2018-03-21 20:14] anirudh2290 commented on #10186
Encountered this again today: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10014/6/pipeline

@eric-haibin-lin can you please add flaky test label to this issue

[2018-03-21 21:17] szha commented on #10174
For the submodule problem, it looks like this is due to forced update in dmlc/cub (cc @piiswrong). The rest of the errors look like submodules not being properly updated. Try `git submodule update --init --recursive` and then build again.

[2018-03-21 22:28] zheng-da commented on #10186
here as well.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10161/5/pipeline

[2018-03-22 01:22] eric-haibin-lin commented on #10103
@moveforever  I'm not aware of any effort to support sparse feature in cpp-package. It's probably not available. Is python a bottleneck for your case? BTW - are you on slack?

[2018-03-22 02:19] jennyzhang0215 opened #10191 "Fail to install MXNet from source on Win10"
I tried to install MXNet on my windows 10.

I can compile it successfully using Visual Studio 2015.
![image](https://user-images.githubusercontent.com/7044477/37747461-54511a6e-2dba-11e8-88ba-4ee84e589098.png)
And mxnet.dll is in the ./build/Release/
![image](https://user-images.githubusercontent.com/7044477/37747570-d2a8d3b6-2dba-11e8-8e6b-dddae493c4eb.png)

However, when I try to import mxnet, i

[2018-03-22 02:51] TaoLv commented on #10168
@zheng-da @marcoabreu Do you mind to skip this test when GCC < 5.0? I cannot find a good approach to replace `std::align` here. Actually, `mxnet::AlignMem` in this test was designed to replace `std::align` and this test was set for comparing the functionality of `mxnet::AlignMem` and `std::align`. If we provide a new align function here, maybe it should be tested too.

[2018-03-22 03:49] jennyzhang0215 commented on #10191
I've fixed the bug. Maybe the installation page can add more information.

Other than 'Set the environment variable OpenCV_DIR to point to the OpenCV build directory.', we need to 'Add the OpenCV bin directory to the PATH environment variable.', like
![image](https://user-images.githubusercontent.com/7044477/37750267-0f3e559c-2dc7-11e8-9f62-3d43446535e8.png)

[2018-03-22 04:09] #10102 closed

[2018-03-22 04:52] Northrend opened #10193 "Training job crashed with "RecordIOWriter error" on V100 multi-gpu node"
## Description
Hi, my simple training job crashed and mxnet threw out an **RecordIOWriter** error.
Basically, i ran a training job to do an image classification task, with two recordio files. One for training and one for validation. **The rec file is quite large, more than 800G and contains about 12 million samples.**
When i ran this job on an 8-card nvidia P100-PCIE node, with cuda 8.0 and cudnn

[2018-03-22 05:44] spidyDev opened #10194 "Average pool with padding calculation different from TF and Pytorch"
Comparing avg pool behavior on mxnet vs Tendorflow/pytorch , seems like when we calculate the avgpool ,  we count the padding values  while taking mean.

[code]

MXNET:
[code]

Tensor Flow :
[code]

Looking closely  at the first kernel window with padding:
[code]

[code]

Is this behavior by design?
Although this seems incorrect , as avg value will be less than actual mean of the data.

@nswamy @a

[2018-03-22 06:03] ThomasDelteil commented on #9974
Same issue here, that's pretty problematic for preprocessing-heavy datasets

[2018-03-22 06:21] pengzhao-intel commented on #10026
@marcoabreu @cjolivier01  This is a very useful function to verify the correctness of MKL-DNN OP.
After debugging, there are two types of failures in DEBUG mode.

**1. Numerical precision for convolution** @cjolivier01
The current both rtol and atol in SimilarArray are 1e-3.
In the fail case, the two data are `0.67509` and `0.677384`. Because these two numbers are small, the atol is larger than 1e

[2018-03-22 06:25] #9210 closed

[2018-03-22 06:40] pracheer commented on #8749
This has been fixed and can be closed.

[2018-03-22 06:43] #8749 closed

[2018-03-22 07:24] pengzhao-intel commented on #8881
This issue has been fixed in #9112. @marcoabreu could you help close this one?

[2018-03-22 08:01] #8881 closed

[2018-03-22 08:01] #9828 closed

[2018-03-22 09:00] marcoabreu commented on #10168
I don't think this is possible. It's my mistake that I used the wrong GCC version on our CentOS builds and this went through, but in the end we're supposed to support that compiler and apparently there are customers using that version.

[2018-03-22 09:09] juliusshufan commented on #10168
@marcoabreu Thanks for the information, I think per the description here, https://gcc.gnu.org/bugzilla/show_bug.cgi?id=57350, from GCC5.0, the std::align is supported, if my understanding is correct, the minimum requirement of of MXNET is gcc 4.8.

Specifically for this issue, the posix_memalign provided by stdlib might help to replace std::align, but this function is platform-dependent.
What do y

[2018-03-22 09:14] marcoabreu commented on #10168
Puh that's a bit too much for me, I hope somebody else with a bit more experience in that field could help out here.

[2018-03-22 09:30] feevos commented on #10006
Hi this solution applies to the gluon framework. I am not sure if you want to visualize the weights or the output of the convolution for some input (the latter is what I usually do).

Assuming you have a model, in the ```forward``` call you can return more than the last layer and visualize them:

[code]

[code]
this produces the following image:
![image](https://user-images.githubusercontent.com/1

[2018-03-22 09:51] lebeg commented on #10168
Where are the minimum requirements for compiler versions for MXNet builds listed?

[2018-03-22 10:15] dabraude commented on #9917
seems to be working now

[2018-03-22 10:15] #9917 closed

[2018-03-22 10:15] marcoabreu commented on #10168
They are listed at http://mxnet.incubator.apache.org/install/index.html if you press "Build from Source"

[2018-03-22 11:04] aravindhv10 opened #10198 "Using MXNet in c++"
Hello,

I wanted to use MXNet conv nets in c++, I tried to find build instructions for c++ and came across the page (http://mxnet.incubator.apache.org/tutorials/c%2B%2B/basics.html) with the link (https://mxnet.incubator.apache.org/get_started/build_from_source.html#build-the-c++-package) but this seems to be pointing to building MXNet with source for python instead (only CPU). But followed this a

[2018-03-22 12:52] lebeg commented on #10168
I think the version should be one that we are running on the ci. Maybe we can update the documentation on the website? Because it's effectively already 5.0 and clang is not even mentioned (we have ci builds with it AFAIK). Or maybe a question in the dev list?

[2018-03-22 13:07] pengzhao-intel commented on #9993
@marcoabreu @szha This issue has been fixed in #10075.  Could you help close this one?

[2018-03-22 13:12] pengzhao-intel commented on #8874
@marcoabreu @szha this issue is not related to MKL, please help remove the MKL label.

[2018-03-22 13:13] marcoabreu commented on #10168
I think we should rather run CI in accordance with our specifications - it was my mistake I used a wrong version. The problem is that customers using CentOS usually rely on older versions of applications and compilers, so I don't think we can drop support for GCC < 5.
@juliusshufan do I understand it right that GCC 4.8.5 is hard constraint for you?

[2018-03-22 13:15] #9993 closed

[2018-03-22 13:17] KellenSunderland commented on #10076
My hope is that googling errors with tvm_bridge in them will lead users here.

Another option for managing large source dependencies via cmake would be to use ExternalProjects.  These could be configured to fetch source dependencies automatically for users.  Something to consider as our dep chain grows.

[2018-03-22 13:25] juliusshufan commented on #10168
@marcoabreu Thanks again for the follow-up.
For me, as I am running CentOS, and the default gcc with it is 4.8.5, it is a better OOB experience that MXNET can keep on supporting this version of the gcc, and I also agree with you that the necessity of supporting to GCC<5.

Thanks.

[2018-03-22 13:43] marcoabreu commented on #10168
Okay, thank you for your confirmation. I have created a PR to ensure we're validating 4.8.* on CentOS. https://github.com/apache/incubator-mxnet/pull/10200

[2018-03-22 13:45] lebeg commented on #10198
Unfortunately this is not that easy at the moment. What is the concrete failure you are facing with the build?

Btw. we have an ongoing design proposal for C++ API improvements:

**MXNet C++ package improvements**
[JIRA](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=75976112) or [GoogleDocs](https://docs.google.com/document/d/1Xi0aU9Nks7-GcsJIfcXoEpgPeYnSiEtBpJlhZvMaIb8/edit?usp

[2018-03-22 13:55] marcoabreu commented on #10168
@juliusshufan apparently, our CI is able to compile MXNet using GCC 4.8.5 without any erros: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10200/1/pipeline/48 Could you please try to find the difference between your and our approach?

[2018-03-22 13:58] pengzhao-intel commented on #9844
@marcoabreu As @zheng-da mentioned above, this is the issue of `bmod`.
I have double checked the case and there is NO MKL-DNN operator is used.
Please help remove the MKL label.

[2018-03-22 14:03] marcoabreu commented on #10168
@TaoLv I see. So ```std::align``` is only used as a verification method in our tests and nowhere in our actual codebase?

[2018-03-22 14:05] TaoLv commented on #10168
Yes. The compiling failure only occures in mkldnn cpp test case.

[2018-03-22 14:11] marcoabreu commented on #9844
Done, thanks for looking into this!

[2018-03-22 14:13] marcoabreu commented on #10168
I see. Would you mind adding MKLDNN support to our CentOS 7 cpu environment?

[2018-03-22 14:33] lebeg commented on #9944
Totally forgot about this issue, did this get resolved?

[2018-03-22 14:38] lebeg commented on #10164
I see you are using your own lapack library:

[code]

How did you build it?

[2018-03-22 14:43] mattiasarro commented on #8971
@gigasquid are you using an NVIDIA GPU on a Mac? If so, you might want to consider downgrading your NVIDIA Web Drivers. Currently the latest stable one that works for me is 387.10.10.10.25.106, which is best installed with https://github.com/Benjamin-Dobell/nvidia-update. If you're using an eGPU, you still need the [NVIDIAEGPUSupport](https://egpu.io/forums/mac-setup/wip-nvidia-egpu-support-for-hi

[2018-03-22 14:46] TaoLv commented on #10168
@marcoabreu Hah, your PR #10200 has passed CI successfully! So I wonder what I can do now.

[2018-03-22 14:56] marcoabreu commented on #10168
Our CentOS 7 environment is using OpenBLAS and not MKL. The best would probably be to change the configuration to MKLDNN and then fix all upcoming errors.

[2018-03-22 15:12] TaoLv commented on #10168
Sorry, I don't know much about changing CI environment. I will ping @pengzhao-intel and @xinyu-intel for help. They worked on mkldnn and clang environment before.

[2018-03-22 16:05] zheng-da commented on #10168
I agree with @TaoLv that we should disable this test for any compiler that doesn't support std::align. This is just a test. Any CI that uses higher-version compilers can test it.

[2018-03-22 16:11] lebeg commented on #10164
You seem to have a custom version of OpenBLAS as well

[code]

Is this desired? I think you can install it by just

[code]

[2018-03-22 16:22] zheng-da commented on #9874
@Caenorst can you test it again? I measured the perf on p3. The PR https://github.com/apache/incubator-mxnet/pull/10116 should improve the perf by about 3% for your test case.

[2018-03-22 16:42] marcoabreu commented on #10168
I also agree, in this case we can make an exception since we're validating the results in other environments with a more recent compiler version.

[2018-03-22 16:44] ankkhedia commented on #10187
Hi @AlexTS1980 . We handle questions through https://discuss.mxnet.io. Could you please post your issue there.
@sandeep-krishnamurthy  Could you please close this issue and tag the issue as question

[2018-03-22 16:51] ankkhedia commented on #10147
@sandeep-krishnamurthy  Could you please tag this as Documentation

[2018-03-22 16:54] ankkhedia commented on #10148
@sandeep-krishnamurthy Could you please tag this issue as enhancement

[2018-03-22 16:55] sxjscience commented on #10191
@aaronmarkham Should I directly update https://github.com/apache/incubator-mxnet/blob/master/docs/install/windows_setup.md in order to change this?

[2018-03-22 16:59] ankkhedia commented on #10158
Hi @leopd The issue is already already getting tracked in #9207 and is a part of next plan. So, closing the issue. Please feel free to reopen if closed in error.
@sandeep-krishnamurthy Could you please tag this issue as Duplicate and close it.

[2018-03-22 17:01] sxjscience commented on #10194
I remember we've discussed it before but cannot find the issue now...

[2018-03-22 17:03] sxjscience commented on #10191
@ankkhedia It should be better for us to directly create the PR. The users may be busy working on other projects.

[2018-03-22 17:29] ankkhedia commented on #10185
@sandeep-krishnamurthy  Could you please tag this issue as Documentation

[2018-03-22 17:30] ankkhedia commented on #10198
@sandeep-krishnamurthy  Could you please tag the issue as C++ and enhancement

[2018-03-22 17:31] sxjscience opened #10203 "[Operator] unravel_index and ravel_multi_index"
As requested by @fhieber, we should consider to support [unravel_index](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.unravel_index.html) and it's inverse function [ravel_multi_index](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.ravel_multi_index.html) in numpy. This feature is recently added to TF (https://github.com/tensorflow/tensorflow/pull/14895).

[2018-03-22 17:48] sxjscience commented on #10173
@CXMA479 Thanks for reporting this!. It seems to be a bug. I've revised the code to repeat the process multiple times:
[code]

Result:

[code]

[2018-03-22 17:57] sxjscience opened #10204 "[Operator] Make sure the result of topk is sorted"
Currently, the inner implementation of topk is to first sort and slice the first K elements, which will make the results (value/indices) sorted. However, this is not mentioned in the doc. We need to revise the doc + test accordingly.

[2018-03-22 17:58] anirudh2290 commented on #9086
Can you please provide some more details: Can you provide a minimum reproducible example. Also do you have any additional error logs / stacktrace ?

[2018-03-22 17:58] anirudh2290 commented on #9086
@eric-haibin-lin Please tag as "Pending Requester Info" "Exception Handling" "CPP_Package"

[2018-03-22 18:00] sxjscience opened #10205 "[Operator] Accelerate the CPU side performance of topk"
One issue of topk is that the CPU implementation is much slower than the numpy version. Here is a [speed test](https://github.com/awslabs/sockeye/issues/270) done by @mjpost . We need to accelerate the speed.

![](https://user-images.githubusercontent.com/455256/37780245-a2da1800-2dee-11e8-8134-3fb9196f8542.png)

[2018-03-22 18:07] anirudh2290 commented on #8581
@szha Can you please remove the "Need Triage" and add "Call for Contribution" "Example"

[2018-03-22 18:16] anirudh2290 commented on #8471
@Heidisnaps The README now includes additional info on where training data should be stored and where it can be downloaded from https://github.com/apache/incubator-mxnet/blob/master/example/fcn-xs/README.md.  To train your own data you just need to store your data in VOC2012 directory. You can modify the hyperparams used in https://github.com/apache/incubator-mxnet/blob/master/example/fcn-xs/fcn_x

[2018-03-22 18:16] anirudh2290 commented on #8471
@szha can you please remove "Need Triage" and add "Pending Requester Info" and "Example"

[2018-03-22 18:19] anirudh2290 commented on #8347
@szha Please add the label "Example" "Question"

[2018-03-22 18:29] anirudh2290 commented on #7982
Here is a document which should help you with using S3 https://mxnet.incubator.apache.org/faq/s3_integration.html. In general you should be able to use any of the existing examples with S3 by just changing the data source to point to the S3 url. Please let us know if you have any additional questions.

[2018-03-22 18:29] ThomasDelteil commented on #10076
@KellenSunderland compile error brought me here indeed 😄

[2018-03-22 18:30] anirudh2290 commented on #7982
@szha can you please remove "Need Triage" and add "Pending Requester Info" "Example"

[2018-03-22 18:32] szha opened #10207 "mxnet.ndarray.khatri_rao needs GPU version"
## Description
1. khatri_rao was prematurely added to mx.nd/mx.sym namespace instead of contrib namespace which happened in https://github.com/apache/incubator-mxnet/pull/7781/files#r176510540.
2. khatri_rao doesn't have GPU version.

Given that this PR was merged last year, this feature has made its way into releases already. To resolve, we need to do one of the following:
1. mark the released op

[2018-03-22 18:32] anirudh2290 commented on #7842
@szha this issue has been idle for a while. Can this be closed ?

[2018-03-22 18:34] #7842 closed

[2018-03-22 18:36] anirudh2290 commented on #7359
@sxjscience  can you please remove "Need Triage" label and add "Build" "Question" labels.

[2018-03-22 18:37] cswiercz commented on #10207
Also bringing in @jli05

[2018-03-22 18:42] szha commented on #7982
We have the option to use s3 as one of the supported file systems. The build option can be found in https://github.com/apache/incubator-mxnet/blob/master/make/config.mk#L156-L159

All pip packages of mxnet should already support s3 file systems.

[2018-03-22 18:43] conradwt commented on #10185
@sandeep-krishnamurthy The project repository doesn't allow me tag an issue.

[2018-03-22 18:43] #8204 closed

[2018-03-22 18:44] szha commented on #8581
@anirudh2290 I don't think this issue is actionable in the way the proposed label suggests yet.

@SrivastavaKshitij do you have a wish list of examples that you'd like to share?

[2018-03-22 18:50] yupbank commented on #7982
ah.. too bad, i have made a tensorflow model run within amazon lambda, it would still be tempting, if we have mxnet in lambda to use right away...

[2018-03-22 18:58] szha commented on #7982
mxnet is on pip. You can bring up an amazon linux instance and do `mkdir lambda_pack && pip install mxnet-mkl -t lambda_pack` and then use it on lambda.

[2018-03-22 18:58] anirudh2290 commented on #6126
@adrianloy I wasn't able to reproduce the issue with the latest master. Can you please provide the MXNet version that you are using and Minimum Reproducible example.

[2018-03-22 19:04] anirudh2290 commented on #6126
@jrosebr1 By default the model.fit call uses the default initializer. You can also call fit with a different initializer: https://mxnet.incubator.apache.org/api/python/module/module.html?highlight=modu#mxnet.module.BaseModule.fit

[2018-03-22 19:05] anirudh2290 commented on #6126
@szha can you please remove "Need Triage" and add the label "Pending Requester Info" "Module"

[2018-03-22 19:07] anirudh2290 commented on #9178
Can you please provide more details: Minimum Reproducible Example, MXNet Version, Environment etc. ?

[2018-03-22 19:07] anirudh2290 commented on #9178
@sxjscience Can you please add "Pending Requester Info" label

[2018-03-22 19:38] anirudh2290 commented on #9163
This questions has been answered and has been idle for a while now. Can we close this ? @sxjscience

[2018-03-22 19:39] sxjscience commented on #9163
Close it now. Feel free to reopen it.

[2018-03-22 19:39] #9163 closed

[2018-03-22 20:50] ThomasDelteil opened #10212 "MXNet.io website install guide does not have a c++ section"
We should have the instructions to build the c++ package from source (i.e set USE_CPP_PACKAGE=1)

<img width="430" alt="screen shot 2018-03-22 at 1 49 09 pm" src="https://user-images.githubusercontent.com/3716307/37797720-d5ccb568-2dd7-11e8-9ddc-cceec624cf68.png">

[2018-03-22 21:04] ThomasDelteil commented on #9814
@Mabinogiysk https://mxnet.incubator.apache.org/install/build_from_source#build-the-c-package

I would like to add to this issue, that actually for me, strictly none of the cpp example ran without segfaulting or crashing

[2018-03-22 22:28] marcoabreu commented on #10205
@KellenSunderland @asmushetzel

[2018-03-22 22:30] jli05 commented on #10207
Maybe this is for another thread: we need a strategy for an intermediate-level pure, complete tensor algebra library — an equivalent of Eigen in tensorflow. This library/module alone would *solely* provide algebra routines. Higher-level developers define ops.

Otherwise it’s always half-baked thing for such ops — part of the code would try to be generic self-consciously, the rest would follow the

[2018-03-23 00:40] rahul003 commented on #10175
Thanks for clarifying! Once we have finalized the building issues you mentioned, we should add appropriate documentation to mxnet.

[2018-03-23 00:49] zheng-da commented on #10189
This potential race condition is very difficult to produce. It may happen if the output of an MKLDNN operator is used with a sparse array in an operator. The operator has to perform computation on these two arrays (an MKLDNN array and a sparse array) with FComputeEx. However, the current implementation of sparse operators doesn't support this case and fall back using FCompute.

[2018-03-23 00:51] rahul003 commented on #10072
@KellenSunderland So we can close this?

[2018-03-23 00:56] rahul003 opened #10217 "Building with OpenCV causes link errors"
## Description
Building with opencv and cmake causes link errors  on ubuntu
I installed opencv with `sudo apt-get install -y libopencv-dev`

## Environment info (Required)

[code]

Package used: N/A

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc
MXNet commit hash: 09281c76bc215823bc74b34f9ac65d906b741377

Build config:

## Error Message:
[code]

Link

[2018-03-23 02:07] pengzhao-intel commented on #10205
@xinyu-intel can help on this optimization. Is there a timeline? @sxjscience

[2018-03-23 02:17] sxjscience commented on #10205
No strict timeline from my side. Currently the sockeye team switches to numpy topK if CPU is used. May ask @fhieber if there is a timeline. This feature mainly affects the speed of beam search in CPU.

[2018-03-23 02:24] pengzhao-intel commented on #8974
The summary of this issue (thanks @xinyu-intel) :

https://mran.microsoft.com/documents/rro/multithread
On Linux platforms, Microsoft R Open users can enable multi-threaded performance by downloading the optional, custom Intel Math Kernel Library (call mini R MKL and only for R). This library will install the custom RevoUtilsMath package into the default search path and provides the BLAS and LAPAC

[2018-03-23 02:24] #10193 closed

[2018-03-23 02:27] marcoabreu commented on #8974
How about we document this somewhere?

[2018-03-23 02:49] pengzhao-intel commented on #8974
@marcoabreu good suggestion. I am working on updating the MKL-DNN readme. I will add this parts.
Any other place?

https://github.com/apache/incubator-mxnet/blob/master/MKL_README.md

[2018-03-23 04:55] qingyuanxingsi commented on #9944
I didn't give it a second try, if there is no modification to the build code, the issue remains.

[2018-03-23 05:01] pengzhao-intel commented on #10205
Thanks, @sxjscience @fhieber we're working on the sockeye performance optimization so this will be a good case for us.

[2018-03-23 05:09] pengzhao-intel commented on #8712
Reproducible and WIP

[2018-03-23 05:26] pengzhao-intel commented on #9864
@marcoabreu we can't reproduce this issue on our side. And NO MKL-DNN OP is used in this test.
So I suggest removing MKL label.

[2018-03-23 08:17] qingyuanxingsi opened #10219 "Pytorch models inference by mxnet"
Is there any possibilities to export pytorch models to some format and make inference in C++ using mxnet??

[2018-03-23 08:18] lightingghost opened #10220 "Check failed: !ndinputs.back()->is_none()"
I came across with an error of `Check failed: !ndinputs.back()->is_none() node_58 0`. The full code is too complicated to post here. I am trying a minimum sample for reproduce this error. Briefly, the model is the input variable going through a gluon `Block`, and some `ndarray` ops are used to calculate the loss.

Something I have tried:
1. I tried to call `hybridize()` for the Block, and the erro

[2018-03-23 08:27] mjpost commented on #10205
Our solution in Sockeye is to switch on the architecture context. In CPU context, we convert our matrix to numpy and use its version. The relevant lines are as follows:

- [Copy to numpy](https://github.com/awslabs/sockeye/blob/335124558e33538543e1574edba755e9458ea506/sockeye/inference.py#L1282)
- Call [`smallest_k()` (CPU)](https://github.com/awslabs/sockeye/blob/335124558e33538543e1574edba755e94

[2018-03-23 08:31] pengzhao-intel commented on #10141
@marcoabreu could you double check if this case still fails?

It works on my side and the MKL-DNN results matches with GPU as below.

[2018-03-23 09:14] lebeg commented on #10217
I could guess that:

1. For some reason libtiff didn't get installed.

[code]

2. Googling gives the idea that a wrongly set LD_LIBRARY_PATH might be the issue.

[code]

https://github.com/BVLC/caffe/issues/4436
https://github.com/slowmoVideo/slowmoVideo/issues/143

[2018-03-23 09:25] lebeg commented on #10198
Yes, this [python script](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/scripts/OpWrapperGenerator.py) needs to be executed as part of [make](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/cpp-package.mk#L38) or [cmake](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/CMakeLists.txt#L13) to run throuh the compiled libmxnet.so binary and gener

[2018-03-23 09:26] lebeg commented on #10187
Do you maybe have `LD_LIBRARY_PATH` incorrectly set?

[2018-03-23 10:15] marcoabreu commented on #10141
@zheng-da would you mind assisting me here?

[2018-03-23 10:40] AlexTS1980 commented on #10187
I have

LD_LIBRARY_PATH="/usr/local/cuda-8.0/lib64:"

It works for all other frameworks and nets. I'd prefer to to reinstall opencv and (especially) CUDA,  as it is always a pain in the neck. Any shortcut maybe?

[2018-03-23 11:11] lebeg commented on #10187
How about just unsetting it for the build?

[code]

Another shortcut, just use -DBUILD_CPP_EXAMPLES=OFF with cmake.

I see you a providing a very strange build step:

[code]

That is more a format for make rather than cmake.

Anyway, you could try this:

[code]

[2018-03-23 14:53] spidyDev commented on #10194
@sxjscience  do we know if we are planning to change logic similar to other frameworks?

[2018-03-23 15:43] asmushetzel commented on #10205
It would be already incredibly faster if the CPU implementation would use std::partial_sort() instead of doing a full sort and then pick the top-k (which is what it is doing right now). The STL implementation of partial_sort() is very good and would be hard to beat.
For the Sockeye testcase, I verified that such an implementation removes any bottleneck on CPU.

[2018-03-23 16:46] zheng-da commented on #8712
MKLDNN has the same problem?

[2018-03-23 16:56] sxjscience commented on #10194
I think it will break lots of pretrained models. We'd better keep the current implementation. Need to ask @piiswrong

[2018-03-23 17:01] sxjscience commented on #10194
@spidyDev We've discussed it before: https://github.com/apache/incubator-mxnet/issues/2753. The proposal is to add a `valid` flag like in CuDNN. However, the thread becomes inactive. I think we can add a `padding_convention` flag to the operator, which will ignore the padded values once set to be "valid".

[2018-03-23 17:02] sxjscience commented on #2753
Move the discussion to https://github.com/apache/incubator-mxnet/issues/10194

[2018-03-23 17:02] #2753 closed

[2018-03-23 17:14] dl002 opened #10223 "Error running C++ makefile"
Hi,

I need to use the C++ API (for inference only) and I came across mxnet which supports C++ (compared to many other DL frameworks that mostly support Python only). I compiled the example Python code in Windows using the example [here](https://github.com/apache/incubator-mxnet/tree/master/example/image-classification). It successfully ran. Then I got [here ](https://github.com/apache/incubator-m

[2018-03-23 17:28] #10191 closed

[2018-03-23 17:31] sxjscience commented on #10146
We should add `dtype` as an argument.

[2018-03-23 17:39] szhengac opened #10224 "Language model example cannot be run"
The language model example cannot be run without manually creating a data folder.

https://github.com/apache/incubator-mxnet/tree/master/example/gluon/word_language_model

Also, the document is inconsistent with the code.  For example, optional argument
**--data DATA        location of the data corpus**
does not appear in the code train.py

[2018-03-23 17:52] eric-haibin-lin commented on #9412
test_correlation: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10213/7/pipeline/

[2018-03-23 18:02] ashokei commented on #10219
you could try with recent ONNX integration of mxnet.

[2018-03-23 18:44] szha commented on #9412
@eric-haibin-lin is there an open issue for test_correlation?

[2018-03-23 18:47] #6126 closed

[2018-03-23 19:08] eric-haibin-lin opened #10226 "[DOC] ImageRecordIter doesn't render correctly"
The doc for image record io is broken. See http://mxnet.incubator.apache.org/versions/master/api/python/io/io.html#mxnet.io.ImageRecordIter

The [source](https://github.com/apache/incubator-mxnet/blob/master/src/io/iter_image_recordio_2.cc#L735) documentation in cpp was not changed in the past 10 months. I suspect there's some thing wrong with the doc building script (if it was changed recently by

[2018-03-23 20:09] reminisce opened #10227 "Flaky test: test_operator.test_layer_norm"
It failed in one of my PRs on Windows, Python2 GPU. Please confirm whether the difference is expected. If so, consider using a bigger `atol` for comparing two values that are close to zero.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-9552/34/pipeline/577
@sxjscience
[code]

[2018-03-23 20:12] sxjscience commented on #10227
Should change to 1E-2

[2018-03-23 20:15] reminisce commented on #10227
Thanks, I will make the change along with the PR.

[2018-03-23 20:16] sxjscience commented on #10227
I find sometimes it's really hard to make the numerical check pass for all the seeds :sweat_smile:

[2018-03-23 20:27] reminisce commented on #10227
Same here. We should come up with a method of avoid comparing gradient values that are too close to zero.

[2018-03-23 20:48] DickJC123 commented on #9396
Sorry for the delay.  I've been busy with prep for an upcoming conference.  I should be able to look at this perf regression next week.

[2018-03-23 21:06] msurguy opened #10230 "libomp.so is missing in Docker builds for armv6"
## Description
After compiling and deploying MXNet to Raspberry Pi Zero using the new Docker builds, the `libomp.so` error prevents import of MXNet Python library.

More info about how the docker container output was installed is in https://github.com/apache/incubator-mxnet/commit/85215b6176ef3612d198f590268a6595b86565fb

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):

[2018-03-23 21:15] eric-haibin-lin commented on #9396
@DickJC123 thanks! That will be great.

[2018-03-23 21:59] #10227 closed

[2018-03-24 00:35] rahul003 commented on #4045
Needs to be labeled Question

[2018-03-24 00:41] rahul003 commented on #4045
@nickeleres If you are still facing this issue, please use our discussion forum to get help. https://discuss.mxnet.io

[2018-03-24 00:42] nickeleres commented on #4045
I believe this issue was resolved, thank you

[2018-03-24 00:51] #4045 closed

[2018-03-24 00:51] rahul003 commented on #8390
Need to add the label converter, gluon

[2018-03-24 02:26] lightingghost commented on #10220
Here is a minimum sample to reproduce the error
[code]
As stated earlier, calling `hybridize()` will make the error disappear.

[2018-03-24 02:27] zhangchen-qinyinghua commented on #9613
@anirudh2290
The problem is, the transition matrix should be made one of the parameters (can be learned during the train process), rather than be fixed.
I will try to make a PR resently, fix the bug together with a mini-batch version of LSTM-CRF implenmentation.

[2018-03-24 02:32] Lucasyc opened #10233 "Endless Clone when importing on PowerPC"
Note:
We are using ppc64le so we have to build from source. After all installation we try to import mxnet and then python shell get stuck. We looked into system trace and found that libmxnet.so is endlessly forking at some point and finally freeze CPU. We followed the building process exactly as what the documentation provided.

## Description

## Environment info (Required)
ppc64le  GNU/Linux

##

[2018-03-24 06:55] asitstands opened #10235 "Build fails with USE_CUDNN = 0"
@zheng-da  I got the following errors during the build with `USE_CUDNN = 0`. It looks like introduced with #10116.

[code]

[2018-03-24 07:20] HudsonHuang commented on #9461
@zhangguotai Could you tell me how did you solved it? I meet the same problem.

[2018-03-24 09:36] harryprince commented on #10147
same issue like:
#10088
#7985

[2018-03-24 10:15] tdomhan commented on #1740
In case someone else finds this issue to use dumpbin:
1. Open the Visual Studio developer command prompt
2. run:
[code]

I got the error because I didn't have the right version of cuda instal and because I hadn't installed cudnn yet.

[2018-03-24 10:51] dl002 opened #10237 "No setupenv.cmd present in the folder"
The installation docs [here](https://github.com/apache/incubator-mxnet/blob/master/docs/install/windows_setup.md) say the following at [Installing the Prebuilt Package on Windows](https://github.com/apache/incubator-mxnet/blob/master/docs/install/windows_setup.md#installing-the-prebuilt-package-on-windows).

However, there is no `setupenv.cmd` inside the folder. The installation guide is not clear

[2018-03-24 14:29] harryprince commented on #10147
I summarise an installation example on GPU/linux in detail for Chinese users:
https://segmentfault.com/a/1190000013899075

[2018-03-24 19:48] #10224 closed

[2018-03-24 19:53] szha commented on #9520
@sandeep-krishnamurthy @vdantu  please refrain from manually adding "Need Triage" label while triaging. Thanks.

[2018-03-24 19:55] szha commented on #8969
@gautamkmr @sandeep-krishnamurthy please refrain from manually adding "Need Triage" label while triaging. Thanks.

[2018-03-24 19:55] szha commented on #8953
@leleamol @sandeep-krishnamurthy please refrain from manually adding "Need Triage" label while triaging. Thanks.

[2018-03-24 19:55] szha commented on #8673
@anirudh2290 @eric-haibin-lin please refrain from manually adding "Need Triage" label while triaging. Thanks.

[2018-03-24 19:56] szha commented on #8646
@anirudh2290 @eric-haibin-lin please refrain from manually adding "Need Triage" label while triaging. Thanks.

[2018-03-24 19:56] szha commented on #8601
@leleamol @marcoabreu please refrain from manually adding "Need Triage" label while triaging. Thanks.

[2018-03-24 22:56] conradwt commented on #621
Hi All, are there any updates regarding this topic because I would like to see OpenCL be the default for many of these ML libraries and frameworks instead of restricting GPU compute only to Nvidia hardware and CUDA?

[2018-03-24 22:58] eric-haibin-lin opened #10238 "API Doc not refreshed on website"
I compared the API documentation in the source code and on the website. They are different. Is the website refreshed at all? Specifically, the sparse embedding op on website doesn't have the "note" section in the source code:

http://mxnet.incubator.apache.org/versions/master/api/python/ndarray/contrib.html#mxnet.ndarray.contrib.SparseEmbedding

https://github.com/apache/incubator-mxnet/blob/maste

[2018-03-24 23:22] dl002 opened #10239 "Error in Building and Installing packages on Windows using Visual Studio 2017"
When trying to build on Windows following instructions [here](https://github.com/apache/incubator-mxnet/blob/master/docs/install/windows_setup.md#building-and-installing-packages-on-windows), I could successfully run everything up to `cmake -G "Visual Studio 14 Win64" ..` . But when I open the Visual Studio and try to build the `mxnet `project (on Visual Studio 2017 Enterprise), I get the followin

[2018-03-24 23:48] harryprince commented on #10147
I recommend someone officially public a stable version mxnet package to CRAN, just like `pip install mxnet-cu80`, which can make installation and development easier.

[2018-03-25 03:36] szha commented on #10207
@piiswrong @cswiercz did you get a chance to sync? What's the conclusion?

[2018-03-25 04:06] lightingghost commented on #10239
`iomp5.lib` should be the library file needed when building `mxnet` with mkl support, which should be found under mkl `folder`. You can manually add the path following the instruction [here](https://support.microsoft.com/en-us/help/815645/you-receive-a-fatal-error-lnk1181-error-message-when-you-build-a-manag)

[2018-03-25 06:11] sxjscience commented on #10239
Also, I strongly suggest using VS2015 as OpenCV does not support VS2017.

[2018-03-25 06:12] sxjscience commented on #10238
The newly added `LayerNorm` also does not appear in the website.

[2018-03-25 06:45] aravindhv10 commented on #10198
ok thanks ! issue solved, with using USE_CPP_PACKAGE=1, the full make line I used is:
make -j "$(nproc)" 'USE_CPP_PACKAGE=1' 'USE_OPENCV=1' 'USE_BLAS=openblas' 'USE_GPERFTOOLS=1'

[2018-03-25 06:45] #10198 closed

[2018-03-25 09:48] pengzhao-intel commented on #10205
@mjamroz really thanks for the information.
Do you have a representative case we can work on, or just by sockeye example?

BTW, after the new MKL-DNN backend is enabled, we see the inference performance on C5 can get on-pair with GPU in P3. If you need any helps for setting up MKL/MKL-DNN, feel free to ping me.

@asmushetzel good points! we'd like to try and back w/ perf number :)

[2018-03-25 10:51] statist-bhfz commented on #9647
So, is there any chance to get R implementation of Gluon?

[2018-03-25 10:53] duothink commented on #4543
same issue
run the code as follow in multi-thread get a crash
[code]

[2018-03-25 11:59] dl002 commented on #10239
Thank you @lightingghost, however I checked the `mkl `folder and just noted that `iomp5.lib` is not there. I had got the latest mkl from [here](https://software.intel.com/en-us/mkl) and installed. Should an older version of `mkl `be installed instead?

Thank you @sxjscience, if the `iomp5.lib `issue is solved and VS 2017 still gives errors, I will try with VS 2015.

[2018-03-25 12:55] chengdazhi opened #10240 "[Python2] Occasional and random Illegal Memory Access Error | Cached Op Input Context Error"
Hi all,

I am with visual computing group of microsoft research asia. We are currently working on GLUON based Faster RCNN and are dealing with a really trick problem:

## Description
System randomly reports Illegal Memory Access error(np and mxnet random seeds are fixed and data is not shuffled). In hybridize mode the error becomes "Inputs not on the same context" reported by CachedOp. It is stran

[2018-03-25 13:47] aaronmarkham commented on #10238
The site will need to be refreshed for these to appear.

[2018-03-25 16:35] mjamroz commented on #10205
@pengzhao-intel  i believe you mean @mjpost not me ;-).

[2018-03-25 18:40] sxjscience commented on #10239
@cgraywang

[2018-03-25 19:11] lightingghost commented on #10239
@dl002 I think iomp5 is the file name under linux, while under window you should be able to find `libiomp5md.lib`. I remember I changed all the occurrence of `iomp5` to `libiomp5md` in the `CMakeLists.txt` when I build mxnet by myself. Can you have a try?

[2018-03-25 22:06] JaeDukSeo commented on #1968
very interesting case...

[2018-03-26 01:03] pengzhao-intel commented on #10205
@mjamroz sorry for the typo.

[2018-03-26 03:21] piiswrong commented on #10240
My guess is either you didn't copy your data to the right GPU, or you have a Block in which you didn't specify the GPU for parameter.data()

[2018-03-26 04:49] Tyill commented on #2792
On Win7 statically does not work, the application hangs.
Dynamically normal.
Check yourself what's the matter there.

[2018-03-26 05:59] xinyu-intel commented on #10205
@mjpost @asmushetzel @pengzhao-intel  Really thanks! Because I cannot find the real case, so my input is `np.random.rand(10,3,1000,1000)` and got the following result:

Time to do Parse and initialize is 4.120000 seconds
Time to perform SortByKey is 38.850000 seconds
Time to Assign results is 1.490000 seconds

It proves that the SortByKey operation(which use `std::stable_sort`) costs the most time

[2018-03-26 06:33] sxjscience commented on #10205
Looks good. Let’s use partial_sort.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: XinyuChen <notifications@github.com>
Sent: Sunday, March 25, 2018 10:59:28 PM
To: apache/incubator-mxnet
Cc: Xingjian SHI; Mention
Subject: Re: [apache/incubator-mxnet] [Operator] Accelerate the CPU side performance of topk (#10205)

@mjpost<https://github.com/mjpost> @asmushetzel

[2018-03-26 06:47] fhieber commented on #10205
sounds great, thanks for taking on this one!

[2018-03-26 06:55] mjpost commented on #10205
I can provide you with a Sockeye model and 3,000-line test set (German--English) if you like; let me know. Though it seems your random test above confirmed the problem.

There are three more issues related to `topk()` that may or may not be worth considering right now. I don't want to complicate this performance issue with unrelated API issues, but some of these might be easy to address, so I thou

[2018-03-26 07:19] pengzhao-intel commented on #10205
@mjpost Thanks for the information. We will take care of these items.
We have WMT17 dataset and will use it for the further performance evaluation.

[2018-03-26 07:19] chengdazhi commented on #10240
Thanks @piiswrong for your help.
I checked the data, they are converted to the right context.
And I didn't use any Parametric Custom Operators, just the built-in fcs, bns and convs, so I guess I don't need to manually set context for parameter.data()?
I did use SymbolBlock (for the ease to use caffe models) for the backbone, but it didn't report the error when I run the backbone alone.
Also, I ver

[2018-03-26 08:50] tdomhan commented on #10205
Thanks for looking into this! I once quickly added ```std::nth_element``` leading to a 30x improvement over the current sorting code (just for topk, not for the entire translation). For the purpose of developing this it is probably sufficient to look at random matrices of the right shape rather than running Sockeye end to end. We normally run topk over vectors of size vocab * beam_size, where voca

[2018-03-26 10:38] dl002 commented on #10239
@lightingghost In windows also there is no lib called `libiomp5md.lib.` So I just removed `iomp5 `from `Additional Dependencies` in `Linker -> Input` and the Visual Studio project `mxnet` in .sln built without issue (with VS2017). This created a dll libmxnet.dll in my Release folder. Can I now use this dll in my personal project? Do I have to build all projects and get `dll`s?

[2018-03-26 12:20] wykvictor commented on #9288
Any progress? I also have an operation to reshape a Symbol/NDArray depending on its shape. How to get the shape of the output Tensor?

[2018-03-26 13:15] TaoLv commented on #10168
@juliusshufan Please try the latest master branch to see if this issue is still there. Thanks @marcoabreu for merging #10218

[2018-03-26 13:24] harryprince opened #10246 "Run R CGAN Example Fail"
Example Code:
https://github.com/apache/incubator-mxnet/blob/master/example/gan/CGAN_mnist_R/CGAN_train.R

## Description

I try to run CGAN example, but it seems shape inference got trouble with CPU context.

## Environment info (Required)

[code]

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

[code]

MXNet commit hash:
[code]

## Error Message:

Error:

[2018-03-26 13:39] Jeffery4000 opened #10247 "Slow speed on distributed training"
Hi, I'm trying to work out with multiple node with 4 GPUs each after able to achieve almost linear speed up on one single node with 4 GPUs. The dataset had been used was the Imagenet_2012 and tested on resnet50 base on the example provided by mxnet.

I fire up the code by launching the command below and I am trying to fully utilized GPU memory by controlling the batch size and use the maximum thre

[2018-03-26 13:58] pengzhao-intel commented on #8712
@zheng-da I don't know what the previous problem, but still failure since the different results.

[2018-03-26 14:36] Jeffery4000 commented on #10247
To clarify, I'm able to achieve result below with CIFAR10 dataset with resnet-152 with the same configuration.

Single node with 1 GPUs: 980 samples/sec
Single node with 2 GPUs: 1910 samples/sec
Single node with 3 GPUs: 2890 samples/sec
Single node with 4 GPUs: 3850 samples/sec
Two node with 1 GPUs each: 970 samples/sec on each machine = 1940 samples/sec
Two node with 2 GPUs each: 1830 samples/sec

[2018-03-26 15:22] loadwiki opened #10248 "python doc error in mxnet.symbol.pick"
There are two problem:
First:
example 3, input y should be
y=  [[1.],
        [0.],
        [1.]]
However, in original documents:
y=  [[1.],
        [0.],
        [2.]]
Second:
doc of func mxnet.symbol.pick say:
'This function supports n-dimensional input and (n-1)-dimensional indices arrays.'
In the mean while, example 3 shows input indices array has the same dimension as the input array.

[2018-03-26 15:37] sxjscience commented on #10205
For the parallel top-k, the current version should have supported it with the “axis” parameter.

[2018-03-26 15:38] sxjscience commented on #10239
@dl002 You can try to python setup.py develop and then import mxnet to see if there is any problem.

[2018-03-26 16:00] tdomhan commented on #10205
would you expect this to be faster than sorting each entry individually?
I don't fully understand the [sorting code](https://github.com/apache/incubator-mxnet/blob/d2a856a3a2abb4e72edc301b8b821f0b75f30722/src/operator/tensor/ordering_op-inl.h#L239), but I was under the impression that sorting is done globally for the entire matrix and then a secondary sort is performed to handle batch ids.

[2018-03-26 16:01] ashkanaev opened #10249 "Custom interpolation layer. Gluon."
How to realize custom layer (bilinear interpolation) for gluon without input tensor shape?
The issue is hardlink to target size. I want to realize layer for resize arbitrary tensor with some factor.
I found, that SpatialTransformer is what i really need, but target size makes this code inflexible.

Could i realize custom symbol layer with symbol layer?

[code]

[2018-03-26 16:05] sxjscience commented on #10205
This should be faster when GPU is used. However, when CPU is used, this may be slower.

[2018-03-26 16:07] larroy commented on #10011
@szha why close? the bug is still valid

[2018-03-26 18:10] cgraywang commented on #10239
@dl002 after testing, to build with VS2017 successfully is to call the following command to convert it to the right version (14.11):

"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat" -vcvars_ver=14.11

please also check whether the above path to the build directory of VS2017 is the same as the one on your machine. Thanks
@yajiedesign

[2018-03-26 18:37] GSanchis opened #10250 "Model too big?"
Hi all,

I'm attempting to train a recommender system with MXNet 1.0.0 in Python3, but I'm running into the following problem: the dataset has rough 5M items, 200k users. This means that I am not able to have an embedding size larger than 100, since the model would not fit into memory:
[code]
I know that it's an overly simplistic model, but even this one doesn't fit into GPU memory... well, then a

[2018-03-26 19:27] anirudhacharya commented on #10250
@GSanchis this is not an issue with mxnet. Such questions are better asked in the discussion forum here - https://discuss.mxnet.io/ I encourage you to ask this question there.

@sandeep-krishnamurthy @nswamy - please tag this as 'Question' and close it.

[2018-03-26 22:33] aaronmarkham commented on #10185
**This is a build issue.**
No additional documentation is required if the build acted as expected. That being said, if there were workarounds or alternative instructions available, then we could throw those in the docs.

[2018-03-26 22:49] conradwt commented on #10185
@aaronmarkham If this is a build issue, should this be happening?

[2018-03-26 22:54] aaronmarkham opened #10253 "make scalapkg error - ld: file not found: ../../../nnvm/lib/libnnvm.a"
## Description
Cannot `make scalapkg` on mac osx.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please provide:
1. Java version: (`java -version`)
2. Maven version: (`mvn -version`)
3. Scala runtime if applicable: (`scala -version`)

For R user, please provide R `sessionInfo()`:

## Build info (Required if built from source)
clang

M

[2018-03-26 23:42] ThomasDelteil commented on #9974
Use at your own risk. This worked for me:
[code]

[2018-03-27 00:03] jwfromm commented on #9974
If this is an acceptable fix, it'd be great to get it in the master branch since I'm sure other people will start hitting this error soon.

[2018-03-27 00:51] eric-haibin-lin commented on #10250
SparseEmbedding could help reduce the memory footprint for the gradient. See example usage in https://github.com/apache/incubator-mxnet/tree/master/example/sparse/matrix_factorization

[2018-03-27 01:31] kpengboy commented on #9611
@mli has there been any updates? This issue has also caused annoyance for me.

[2018-03-27 02:11] zheng-da commented on #10235
i'll fix it.

[2018-03-27 02:59] xiaotao321 opened #10257 "class mxnet.gluon.rnn.RNN has a mistake default activation function in official document."
## Description
class mxnet.gluon.rnn.RNN has a mistake  default activation function in official document.

## Error Message:
[here](https://mxnet.incubator.apache.org/api/python/gluon/rnn.html#mxnet.gluon.rnn.RNN) has a conflict about the default activation function of RNN.

class mxnet.gluon.rnn.RNN(hidden_size, num_layers=1, **activation='relu'**, layout='TNC', dropout=0, bidirectional=False, i2

[2018-03-27 03:01] henripal commented on #9087
@yangjunpro ran this w/ imagenet on a TitanV; am getting 500 samples/sec in fp16 VS 290 samples/sec in fp32.

[2018-03-27 03:02] sxjscience commented on #10257
Duplicate of https://github.com/apache/incubator-mxnet/issues/10152

[2018-03-27 03:02] #10257 closed

[2018-03-27 04:00] eric-haibin-lin commented on #8480
Related:
https://cwiki.apache.org/confluence/display/MXNET/Extend+MXNet+Distributed+Training+by+MPI+AllReduce

[2018-03-27 04:27] chinakook commented on #9823
I encountered this problem in RCNN too. I've tested with cuda 8.0 and cudnn6.0.2/cudnn7.1.2, both of them are failed today. However, It can run seccussfully on mxnet version two month ago.
I think there may be a bug within mxnet backend.

[2018-03-27 04:33] chinakook commented on #9823
@marcoabreu It's not only the bug in RCNN, but also in mx.sym.SoftmaxOutput or mx.sym.SoftmaxActivation when their result are using in metric such as ```pred.asnumpy()```
So I suggest that reopen this issue util it's solved.

[2018-03-27 05:28] chinakook commented on #9823
It's solved when I roll back to mxnet v1.1.0.

[2018-03-27 08:09] szha opened #10262 "bug in word language model example"
The arguments of RNN don't align
https://github.com/apache/incubator-mxnet/blob/master/example/gluon/word_language_model/model.py#L33
https://mxnet.incubator.apache.org/versions/master/api/python/gluon/rnn.html?highlight=gluon.rnn.rnn#mxnet.gluon.rnn.RNN

[2018-03-27 08:41] pengzhao-intel commented on #10026
@marcoabreu We got the root cause of 3) in above comments. It's not the MKL-DNN implementation issues. Just need to improve the test method under MXNET_MKLDNN_DEBUG

@cjolivier01 Thanks for the nice functionality to check the results of MKL-DNN.
We found there is a special situation which needs to be improved as 3) in my above comments.
The `reshape` is executed to change the view of NDAarry but t

[2018-03-27 08:49] Sherry-Zhang opened #10264 "Run rnn backward fail"
## Description
I want to write a complete rnn testcase contains checking forward and backward. But  it will throw exception when running FusedRNNCell's backward.  It is caused by error slice operation of out_grads. I guess it maybe affected by  `__layout__ `attribute. https://github.com/apache/incubator-mxnet/pull/6747
The testcase and error message are below.

## Environment info (Required)
GPU:

[2018-03-27 11:16] GSanchis commented on #10250
@anirudhacharya Sorry, I wasn't actually aware of that forum.

@eric-haibin-lin I'm aware of the SparseEmbedding, but... I'll post the "but" in the forum, to avoid keeping this issue open.

Yes, please close the question.

[2018-03-27 11:20] some-guy1 opened #10266 "[R] mx.nd.BatchNorm Always empty list()"
## Description
I have trained a model that used mx.symbol.BatchNorm.  Everything seems to have worked well.

I am then trying to use the weights of the trained model to construct portions of the network.  No matter what I feed into mx.nd.BatchNorm, the result is always an empty list().

Example:

[code]
norm_2 is list() regardless of input or options.  Also, including the bias term in the batchnor

[2018-03-27 11:43] NiklasDL opened #10267 "Continue train in R: what is begin_round?"
Suppose I train a model in R with

`begin.round = 1`
`num.round = 10`

and now I would like to continue training for 20 epochs, do I have to set

`begin.round = 11`
`num.round = 20`

or

`begin.round = 11`
`num.round = 30`

or something else?

I am very confused because mxnet lets me insert any arbitrary number for the **begin.round** argument. For example:

`begin.round = 15`
`num.round = 30`

do

[2018-03-27 12:51] rmaria opened #10269 "How to plot network architecture?"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-27 12:55] pengzhao-intel commented on #10141
@zheng-da could you help double check?

[2018-03-27 13:29] dl002 commented on #10239
@lightingghost thanks a lot, I found `libiomp5md.lib` inside the compiler folder, earlier I checked the mkl folder. With that added, the project `mxnet` got built correctly and produced the following inside the Release folder.
[code]

@sxjscience can you please tell me how to run the tests? I am planning to use `mxnet` with C++. Is it mentioned [here](https://github.com/apache/incubator-mxnet/blob

[2018-03-27 13:59] marcoabreu commented on #9823
Thanks a lot for providing more detail! This indeed sounds like quite a serious issue. Just to clarify, does this only happen on a multi-gpu or on a distributed training environment?

@szha @rahul003 could check this please?

[2018-03-27 14:04] #10250 closed

[2018-03-27 16:25] aaronmarkham commented on #10185
No, it wasn't happening before, so something changed, and this wasn't caught since Mac isn't part of CI.
Are you able to use MXNet though? I seem to be able to do what I need to do for now, even if the installation output is a bit discomforting.

[2018-03-27 16:31] haojin2 commented on #9412
@szha This problem was solved once in the past but popped up again due to my recent changes to the operator to support all float data types, I'll do a deep dive on this issue today and get a possible fix.

[2018-03-27 16:46] ajayvohra2005 opened #10271 "MxNet S3 driver sometimes fails to read even after 50 retries"
MxNet 1.0 SSD branch compiled from source

make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1 USE_DIST_KVSTORE=1 USE_S3=1

fails to read from S3 even after 50 retries. Restarting the program after crash works without any problem, so it does not appear to be a problem with S3.

Here is the stack trace

[05:13:18] src/io/s3_filesys.cc:438: request fa

[2018-03-27 16:50] ajayvohra2005 opened #10272 "MxNet dmlc error that goes away on retry"
MxNet 1.0 SSD branch compiled from source as follows

make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1 USE_DIST_KVSTORE=1 USE_S3=1

Sometimes it gives dmlc error shown in stack trace below, that goes away on immediate retry.

<module 'mxnet' from '/home/ubuntu/mxnet/python/mxnet/__init__.pyc'>
Warning: using pre-installed version of mxnet may cau

[2018-03-27 17:54] ThomasDelteil commented on #9974
@jwfromm I will try to work on a PR this week if times allow

[2018-03-27 18:13] haojin2 opened #10273 "Rendering problem of documentations"
## Description
Some documentation contents are not rendered correctly on the API doc site, for example:
https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.Correlation
https://github.com/apache/incubator-mxnet/blob/master/src/operator/correlation.cc#L178
The math equation for correlation operation is not rendered correctly on the webpage.
Suggest label: Doc

[2018-03-27 18:30] larroy opened #10274 "test_ndarray.test_reduce fails in v1.0.0"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-27 19:30] smarthi commented on #10274
Please use JIRA for reporting issues, and desist from opening any new github issues.

[2018-03-27 19:33] conradwt commented on #10185
Yes, I ran the python example and this seems to run without error.  However, is there an easy way to update the build process in order to generate a `libmxnet.dylib` for macOS?

[2018-03-27 20:21] marcoabreu opened #10277 "Flaky test_random.test_shuffle"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/542/pipeline

[code]

https://issues.apache.org/jira/browse/MXNET-236

[2018-03-27 20:22] marcoabreu commented on #10277
https://github.com/apache/incubator-mxnet/pull/10048

@reminisce @asitstands

[2018-03-27 20:25] marcoabreu opened #10278 "Flaky test_sparse_storage_fallback (?)"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/544/pipeline

[code]

[2018-03-27 20:26] marcoabreu opened #10279 "Failing test_operator_gpu.test_sparse_quadratic_function and test_flip"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/546/pipeline

https://issues.apache.org/jira/browse/MXNET-237

[2018-03-27 20:31] marcoabreu opened #10280 "Flaky test_operator.test_correlation"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/550/pipeline/
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10213/7/pipeline/

https://issues.apache.org/jira/browse/MXNET-239

[2018-03-27 20:33] marcoabreu commented on #9412
I'm always adding them to https://github.com/apache/incubator-mxnet/projects/9#card-6995282 - do I have to call them out here as well?

[2018-03-27 21:14] ThomasDelteil opened #10282 "plot_network issue with LRN"
There is an issue in `master` that is not present in `1.1.0`

Plotting the network on this tutorial:
http://mxnet-ci-doc.s3-accelerate.dualstack.amazonaws.com/PR-10165/10/tutorials/onnx/inference_on_onnx_model.html
Fails with this error:

[code]

The issue was introduced before `mxnet==1.2.0b20180221`

It is related to the fact that the LRN layer does not have an output, whilst in `1.1.0` I can do

[2018-03-28 00:30] zheng-da commented on #10141
As I comment before, this isn't an MKLDNN error.
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/test_utils.py#L1252
From the error message above, it shows that it's using rtol=0.000010, atol=0.000010 as tolerance.
It means it's using double precision floating point. The CPU execution falls to native MXNet implementation.

The error message shows that the results are very simila

[2018-03-28 00:54] zheng-da commented on #10026
When I wrote the test, I followed the python test. https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/test_utils.py#L470

When assert_almost_equal is called https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/test_utils.py#L1313, it uses 1e-3 for both rtol and atol. I didn't know why the test fails.

[2018-03-28 00:58] zheng-da commented on #10026
As for modifying OpCheck.Init, you can do
[code]
Please see the example here: https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/mkldnn/mkldnn_fully_connected.cc#L95
This is how we should deal with reshaped MKLDNN NDArray. Unfortunately, we can't do in-place layout conversion in the NDArray, which caused a race condition.

[2018-03-28 01:01] solin319 commented on #10271
https://github.com/dmlc/dmlc-core/pull/384

[2018-03-28 01:01] solin319 commented on #10271
https://github.com/dmlc/dmlc-core/pull/384
This can solve the problem.

[2018-03-28 01:03] juliusshufan commented on #10168
I think this issue is cleared now. Thanks for all your effort. 👍

[2018-03-28 01:03] #10168 closed

[2018-03-28 01:04] pengzhao-intel commented on #10026
@zheng-da I have looked into Reorder2Default, but it will also convert to the original shape rather than the new shape of 'reshape'.
And that's another point we want to improve later.

[2018-03-28 01:44] wkcn opened #10288 "no negative check for reps in mx.nd.tile and mx.sym.tile"
## Description
When using `mx.nd.tile`  and `reps` has negative number, it will cause out of memory.
It seems there is no negative number check for reps in `mx.nd.tile`.
[src/operator/tensor/matrix_op-inl.h](https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/matrix_op-inl.h#L1555)

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python 2

MXNet c

[2018-03-28 03:08] HaoLiuHust opened #10290 "c++ how to predict for a couple of images"
when use c++ to deploy, MXPredSetInput only support a constant size, is there a way that I can forward a few images at once, and the number of images is changing @mli @piiswrong

[2018-03-28 03:33] chinakook commented on #9823
pred_label = mx.ndarray.argmax_channel(pred).asnumpy().astype('int32')
  File "/home/ABCDEFG/dev/incubator-mxnet/python/mxnet/ndarray/ndarray.py", line 1826, in asnumpy
    ctypes.c_size_t(data.size)))
  File "/home/ABCDEFG/dev/incubator-mxnet/python/mxnet/base.py", line 149, in check_call
    raise MXNetError(py_str(_LIB.MXGetLastError()))
mxnet.base.MXNetError: [11:18:51] src/operator/nn/./cudnn

[2018-03-28 03:34] wangx404 opened #10291 "some code in example/rcnn/demo.py is wrong."
In demo.py, when logging the result after prediction, part of the code is wrong. It is shown below.
_logger.info('[[x1, x2, y1, y2, confidence]]')_

Actually, the number in the result should be [x1, y1, x2, y2, confidence].
Please fix it, as though it has no effect on the visualization.

[2018-03-28 03:38] reminisce commented on #10288
Thanks for reporting this. We will make the error handling clear.

[2018-03-28 03:46] reminisce commented on #10282
Seems `FListOutputNames` attribute is not registered with string vector `{"output", "tmp_norm"}` for LRN operator as it was in legacy interface. I found the same issue with `Convolution` and `FullyConnected` a few days back. Need to scan the operator registrations in that PR to see if there are more missing. It could introduce backward incompatibility for applications depending on output names.

h

[2018-03-28 03:48] reminisce commented on #10277
@asitstands Could you verify whether 0.01 threshold is too big for checking the uniform distribution?

[2018-03-28 03:53] reminisce commented on #10269
Try this `mx.viz.plot_network(net.symbol)`.
BTW, we are going to deliver a more powerful solution using TensorBoard for visualizing networks and other data types of MXNet. Stay tuned.

[2018-03-28 04:14] asitstands commented on #10277
@reminisce The probability that the test fails is approximately 0.001 with the 0.01 criterion even if `shuffle` is implemented correctly, assuming the quality of the random numbers are good enough. So it could fail every 1000 runs of the test in average. It looks somewhat high probability. To lower the probability we can increase the number of samples to test uniformity of the shuffling. It is cur

[2018-03-28 04:44] reminisce commented on #10277
@asitstands Can you try feeding a fixed seed to the decorator `with_seed` and see whether the result distribution is fixed? If so, we can make that unit test deterministic.

[2018-03-28 05:38] wkcn commented on #10288
@reminisce  Thank you!

[2018-03-28 07:04] asitstands commented on #10277
@reminisce Seeding with `with_seed` produces a deterministic result. The test becomes significantly weaker comparing to the collective result produced by repeats with different seeds. However, if time consumption is important, I think that fixing the seed is reasonable. I'll make the change.

[2018-03-28 07:17] #10235 closed

[2018-03-28 08:00] wangshuailong opened #10294 "[Help] How I can change the in_data in CustomOp"
Hi, I'm writing my own Costom Operator Op following the tutorials here: https://github.com/apache/incubator-mxnet/blob/master/example/numpy-ops/custom_softmax.py

I want to change the "in_data" because my custom loss needs the outputs of anther network.
for this moment it has only "data" and "label".

I changed the Data Batch in "forward" of Sequential module. However, when the data_batch was pass

[2018-03-28 09:01] larroy commented on #10274
@smarthi Since when are we using JIRA to report issues?, I just spent many hours diagnosing a problem reported by an Amazon customer, I don't appreciate you closing this issue like this.

[2018-03-28 10:51] larroy commented on #10274
This bug is not observed while compiling with gcc-4.9 directly on the PI

[2018-03-28 10:51] marcoabreu commented on #10274
As long as JIRA is not mature, we don't decline issue on GitHub.

@smarthi according to https://lists.apache.org/thread.html/bdc250216a16c2af1abc4ca94014993a0a385021e93eee5dbce7455d@%3Cdev.mxnet.apache.org%3E, GitHub is still totally fine for reporting - please elaborate why you jumped in on only exactly one ticket instead of closing all tickets that fall under that category.

[2018-03-28 11:27] asitstands opened #10295 "Build failure with cython 0.28"
`make cython`, which runs `python setup.py build_ext --inplace --with-cython`, fails with the following errors. My environment is Arch linux with python 3.6.4, cython 0.28.1, and setuptools 39.0.1.

[code]
Downgrading cython to 0.27.3 resolves this but gives warnings and different errors.
[code]
If I run `python setup.py build_ext --with-cython` (without `--inplace`), the build succeeds with cytho

[2018-03-28 12:32] chinakook commented on #9823
@marcoabreu It also happened on single GPU by chance.

[2018-03-28 12:34] marcoabreu commented on #10141
Thank you!

[2018-03-28 14:27] zheng-da commented on #10282
I'll fix the LRN op.

@reminisce do we really need to provide output names? It seems the old interface doesn't provide output names, except for the operators that have multiple outputs.

BTW, it seems your fix has a bug.
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/convolution.cc#L471
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/fully_connected.cc#

[2018-03-28 14:33] zheng-da commented on #10282
I checked all other operators. It seems others are fine.

[2018-03-28 16:01] FinScience opened #10298 "Mxnet not loading"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-28 16:06] reminisce commented on #10282
@zheng-da The legacy interface has `ListOutputs` as a virtual function. It's defined in the base class `Operator`, so all the inheriting classes have this function if it's not implemented in themselves. I will fix the typo.

[2018-03-28 16:38] Pagey commented on #9885
I too second that we need to keep Crop with a "crop_like shape reference"
It seems to be working in current version (1.2.0), with usage:
kak = mx.symbol.Crop(kak_before,zai)

where zai is the shape reference symbol

[2018-03-28 16:40] reminisce commented on #10282
@zheng-da The funny thing is that even with the typo of writing `FListOutputNames` as `FListInputNames` in convolution and fc, it still gives me the correct output name as using legacy interface. It turns out that attribute `FListOutputNames` and `FListInputNames` are identical functions. But I will fix the typo anyway and add unit tests.

[2018-03-28 17:04] clnperez commented on #6518
same here

[2018-03-28 17:38] zheng-da commented on #10282
@reminisce you are right. nnvm::FListInputNames defines the signature of the functor, so your code is fine. it's just a little confusing.

I'm still confused if we have to define `FListOutputNames` for all operators?

[2018-03-28 17:44] zheng-da commented on #10282
@ThomasDelteil my PR (https://github.com/apache/incubator-mxnet/pull/10296) has been merged. Can you try it again?

[2018-03-28 18:05] reminisce commented on #10282
@zheng-da There is no hard requirement. Doing this is for two reasons:
1. Keep backward compatibility.
2. It's sort of the convention of naming all the outputs of nn ops as "output". For all the other tensor ops, I don't observe this convention.

As you can see, there are multiple places in the code base following this convention. In quantization, we also use this to determine which layer should b

[2018-03-28 18:13] piiswrong opened #10299 "RecordIO doesn't work with DataLoader and num_workers > 1"
Likely due to RecordIO's python wrapper doesn't use mutex

[2018-03-28 18:22] szha commented on #10299
https://github.com/apache/incubator-mxnet/issues/9974

[2018-03-28 18:27] hetong007 commented on #10137
The drop disappears if I use `gluon.data.vision.transforms`.

[2018-03-28 18:27] #10137 closed

[2018-03-28 18:36] johnbroughton2017 opened #10301 "Disable async forward pass for fastest prediction?"
Hi all,

Prediction time is important for my case. I am not sure if this is a good idea (or even possible) to disable async forward pass to make the best of it.

I am using a single machine and single GPU. Will async forward pass cause any uncertainty or delay in terms of prediction time?

Any info is appreciated. Thx.
-- J

[2018-03-28 20:39] ArmageddonKnight opened #10304 "Dropout has no effect in 1-Layer FusedRNNCell"
https://github.com/apache/incubator-mxnet/blob/e5f6238a2b213e70ba0ca7acc5bcf5c643502561/example/rnn/word_lm/model.py#L34

I saw that dropout was passed as an argument to `FusedRNNCell` in the benchmark provided. However, I personally doubt that such an argument has any effect on the training results, and the reason is because dropout will **NOT** be applied when the RNN only has one layer.

[2018-03-28 20:45] ArmageddonKnight commented on #10304
Just to clarify, what the benchmark does seems to be the following:

- For `range(num_layers)`, do the followings:
  - Declare one layer of `FusedRNN`.
  - Apply dropout to the `FusedRNN` output.

However, why not do the following:

- Declare `num_layers` of `FusedRNN` with `input_dropout` to be `dropout`.
- Apply dropout to the final output (i.e. output at the last layer) of `FusedRNN`.

[2018-03-28 20:46] jwfromm commented on #9974
Unfortunately, it seems like this fix doesn't always work. When attempting to use it on a an imagenet record, I got the following the error
[code]

[2018-03-28 20:49] piiswrong commented on #10304
dropout only applies to the intermediate layers. This follows CuDNN convention. The reason is you may not want to dropout the final output.

[2018-03-28 20:51] #10299 closed

[2018-03-28 20:56] ArmageddonKnight commented on #10304
Thanks for your response. What I mean is really the following - given that you declare the model this way:

[code]

Why not declare it this way:

[code]

[2018-03-28 20:59] ArmageddonKnight commented on #10304
[code]

As we notice, the variable `dropout` is used twice in this code snippet, once in `FusedRNNCell` and the other time in `outputs = mx.sym.Dropout(outputs, p=dropout)`. What I mean is that **the first use has zero effect** because `CuDNN-RNN` does not apply dropout when the RNN has only 1 layer.

[2018-03-28 21:01] ThomasDelteil commented on #9974
it looks like you might be running the fix twice, which would point worker loop to itself ?

[2018-03-28 21:02] sxjscience commented on #10304
I see, so we are safe to remove the `dropout=dropout` when constructing the FusedRNNCell.

[2018-03-28 21:05] ArmageddonKnight commented on #10304
I am just wondering whether it would be more efficient if we declare our model this way:

[code]

In my opinion, the two declarations are equivalent, but we can make better use of `CuDNN-RNN` using the code above.

[2018-03-28 21:08] bruinxiong commented on #9364
@sxjscience  I also met the same issue. Do you solve it ? How ? Thanks!

[2018-03-28 21:09] sxjscience opened #10305 "Segment fault on the latest master"
## Description
I've just compiled the latest master version in P3.8. However, the code raises segment fault instantly.

## Environment info (Required)
[code]

Package used (Python/R/Scala/Julia): Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc

MXNet commit hash:
f2cf71a4d15139f477e548d9f8672cb723b80122 I'm using my own branch

Build config:
I'v

[2018-03-28 21:17] jwfromm commented on #9974
Although I'm not running it twice, this error is not related to the fix. It look's like its a separate bug entirely as it occurs even without the fix with num_workers set to 1. num_workers at 0 works fine though! I'll have to dig in a little more to see whats going on.

[2018-03-28 21:18] sxjscience commented on #9364
@bruinxiong Yes, I've reinstalled the nvidia driver.

[2018-03-28 22:18] sxjscience commented on #10305
I find I must compile with `profile=1`. @cjolivier01

[2018-03-28 23:16] bruinxiong commented on #9364
@sxjscience Thank you for your instant reply. What version of you reinstalled nvidia driver is ?

[2018-03-28 23:20] sxjscience commented on #9364
384.111. I've also removed `~/.nv`.

[2018-03-29 01:09] chinakook commented on #10294
Actually, you can pass more arguments like following:
mx.sym.Custom(*[a, b, c, d, e], ...)
mx.nd.Custom(*[a, b, c, d, e], ...)

in which a = in_data[0], b = in_data[1], c = in_data[2], d = in_data[3], e = in_data[4].

[2018-03-29 03:24] moveforever commented on #10103
sorry, i didn't see issue in the last few days. I am implementing a high performance server including model predicting. Now my solution is that i extract NDArray class and mshadow lib, and i rewrite operator only using NDArray.

[2018-03-29 03:56] NKUCodingCat opened #10309 "`mxnet.gpu()` Caused Segmentfault"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-29 04:11] zhanglistar opened #10310 "MemoryError on linear classification with 400million dimension feature input"
## Description
I am trying to train a modele using linear classification. My dataset's feature is 400million dimension,
36846 instances.
I am using the example code under example/sparse/linear_classification and modify the path to hdfs path.
When I run python train.py, I got error with MemoryError, details  as below.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'

[2018-03-29 05:02] eric-haibin-lin commented on #10305
I found the same problem with the master at commit e5f6238a2b213e70ba0ca7acc5bcf5c643502561

[2018-03-29 05:12] eric-haibin-lin commented on #10310
What's the number of classes you try to classify? 400M is quite large.. Do you actually have that many active features?

[2018-03-29 05:14] eric-haibin-lin commented on #10309
Related to https://github.com/apache/incubator-mxnet/issues/10305

[2018-03-29 05:15] eric-haibin-lin commented on #10301
Usually async helps hide some latency. You can turn async execution off with `MXNET_ENGINE_TYPE =NaiveEngine`
 https://github.com/apache/incubator-mxnet/blob/master/docs/faq/env_var.md#engine-type

[2018-03-29 05:16] eric-haibin-lin commented on #10279
Fixed by https://github.com/apache/incubator-mxnet/pull/10259

[2018-03-29 05:16] #10279 closed

[2018-03-29 05:25] zhanglistar commented on #10310
Number of classes is 2. Yes, I have that many features. I can train it on spark using fregata.

[2018-03-29 05:27] zhanglistar commented on #10310
I also have trilion features.

[2018-03-29 07:13] asitstands commented on #10277
Addressed in #10313.

[2018-03-29 07:13] zhanglistar commented on #10310
Because it's linear model, I have to do many feature enigeering work. But if I switch to dnn, maybe not so many features.

[2018-03-29 08:24] mwbyeon commented on #9198
[code]

I tried again with mxnet version 1.0.1 and it works fine.

[2018-03-29 08:24] #9198 closed

[2018-03-29 09:06] nihilityworld commented on #9720
Do you solve it ?

[2018-03-29 09:37] harryprince commented on #10246
I am wrong at Discriminator pipeline operator , just copy original code, it works.

[2018-03-29 09:37] #10246 closed

[2018-03-29 09:39] harryprince commented on #10266
@some-guy1 your example is not reproducible, maybe give us a mini-reproducible example.

[2018-03-29 09:52] AlexTS1980 commented on #10187
Still doesn't work, same errors:

`/home/ICTDOMAIN/453615/anaconda2/lib/libopencv_imgcodecs.so.3.3.1: undefined reference to `VTT for std::__cxx11::basic_stringstream<char, std::char_traits<char>, std::allocator<char> >@GLIBCXX_3.4.21'`

So OpenCV version 3.3.1 can't use C++ compiler version 3.4.21, is this correct?

In the CMakeList the compiler is setup as
[code]

Could it be a problem with C++1

[2018-03-29 10:31] some-guy1 commented on #10266
:-( I dont think I can provide a better example.  mx.nd.BatchNorm seems to be a dead function for me.  Nothing ever comes out of it.

Maybe I have completely misunderstood.  Should BatchNorm ONLY be used during training with an iterator?

[2018-03-29 10:39] marcoabreu commented on #10277
Time consumption for tests is not *that* important, but I think we should ask another question: If the generation of random numbers takes such a significant amount of time, wouldn't this also harm runtime performance in real applications?

[2018-03-29 10:40] harryprince commented on #10266
In GAN-Example: https://github.com/apache/incubator-mxnet/tree/master/example/gan/CGAN_mnist_R

[code]

This BatchNorm function works well for me. And BatchNorm parameter should be updated in aux-parameters

[code]

[2018-03-29 10:44] some-guy1 commented on #10266
But what about "mx.nd.BatchNorm"?

"mx.symbol.BatchNorm"  seems to work fine for me, but "mx.nd.BatchNorm" does not.

I have used the "symbol" during training.  No problems, but when I try to use "nd" during testing, nothing happens, no output, nothing.

[2018-03-29 12:18] xiaotao321 opened #10314 "the document of class mxnet.gluon.rnn.RNN has a error"
## Description
[here](http://mxnet.incubator.apache.org/api/python/gluon/rnn.html#mxnet.gluon.rnn.RNN), the description about 'x_t' has a error.
.. math::
        h_t = \tanh(w_{ih} * x_t + b_{ih}  +  w_{hh} * h_{(t-1)} + b_{hh})

    where :math:`h_t` is the hidden state at time `t`, and :math:`x_t` is the hidden
    state of the previous layer at time `t` or :math:`input_t` for the first layer.

[2018-03-29 14:05] TaoLv opened #10316 "MultiBoxDetection cannot pass consistency check"
I am trying to add a unit test for MultiBoxDetection to check the consistency between cpu and gpu. But it cannot pass on my machine (skylake + p100) with latest master branch.

code:
[code]
output:
[code]
Input shape and parameters are all from ssd example.
@zhreshold I notice that MultiBoxDetection was first committed by you. So may I have your suggestion about this?

[2018-03-29 15:03] cjolivier01 commented on #10059
^ ummm yeah... :)

[2018-03-29 16:31] ShownX commented on #10269
I am waiting for this feature for more than half a year :) I am so glad it is on the way.

[2018-03-29 16:34] asitstands commented on #10277
@marcoabreu In the case of `shuffle`, the time consumption is mainly from the memory copy and not from the generation of random numbers. Random shuffling of `n` elements needs `O(n)` swaps of elements (exactly `n` for Fisher-yates algorithm). The memory copy is the "nature" of shuffling. We cannot avoid it if we want to shuffle something. Testing statistical validity of the random shuffling needs

[2018-03-29 19:00] yifeim opened #10319 "Hash functions in mxnet?"
Hi,

The sparse demos used python default hash functions. However, in my experience, python hash can be quite unreliable between different python versions. Could we implement something similar to http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.FeatureHasher.html in mxnet?

https://github.com/apache/incubator-mxnet/blob/e91ff1b81bf2b5f4536ffb5b20e6b12e3cc63725/example/sp

[2018-03-29 20:18] cjolivier01 commented on #10305
it's that Profiler::Get() returns nullptr

[2018-03-29 20:32] hetong007 opened #10320 "RMSProp doesn't work for MobileNetV2 on ImageNet"
## Description
Trying to train MobileNetV2_1.0 on ImageNet-1k with RMSProp, but the model is not effectively trained, i.e. the top-1 accuracy stays at around 0.1%.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
python, installed with `pip install mxnet-cu90 --pre` on Mar 29th, 2018.

## Steps to reproduce

On p3.8xlarge:

1. Get the script from https://github.com/zhr

[2018-03-29 21:39] marcoabreu opened #10322 "test_kvstore_gpu.test_rsp_push_pull out of memory"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10313/2/pipeline/594

[2018-03-29 21:40] marcoabreu opened #10323 "test_gluon_model_zoo_gpu.test_training out of memory"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10313/2/pipeline/594

[2018-03-29 21:42] marcoabreu opened #10324 "test_gluon_model_zoo_gpu.test_inference out of memory"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10313/2/pipeline/594

[2018-03-29 22:59] anirudhacharya opened #10325 "Out of memory test on Ubuntu Python3 GPU : test_kvstore_gpu.test_rsp_push_pull"
## Description
Flaky test on ubuntu_gpu for the test - test_kvstore_gpu.test_rsp_push_pull while running on Python3. The failure is completely unrelated to my PR.

## Environment info (Required)

Package used (Python/R/Scala/Julia):
Python3

Link to the CI run log:
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-10140/runs/7/nodes/586/log

[2018-03-29 23:01] sxjscience commented on #10320
@szhengac

[2018-03-29 23:10] szhengac commented on #10320
It is possible that the iterate stuck in some valley. You may try either a significantly larger stepsize or a much smaller one @hetong007 Also, can you try Adam or FTML?

[2018-03-29 23:12] hetong007 commented on #10320
Seems that RMSProp just does not always work, as also reported here: https://github.com/tonylins/pytorch-mobilenet-v2

[2018-03-29 23:12] #10320 closed

[2018-03-30 00:40] bruinxiong commented on #9364
@sxjscience Thank you very much. I re-installed nvidia driver 384.111. with cuda 9.0 cudnn 7.1. Perfect!

[2018-03-30 00:51] sxjscience commented on #9364
@bruinxiong Great!

[2018-03-30 00:52] chinakook commented on #9823
I'm sure that the problem is caused by this line.
https://github.com/apache/incubator-mxnet/blob/7c28089749287f42ea8f41abd1358e6dbac54187/example/rcnn/rcnn/symbol/symbol_resnet.py#L187
When I changed the line to
[code]
The problem is solved. So I'm sure the mx.symbol.SoftmaxActivation operator(which depend on CUDNN, on the other hand, the mx.symbol.softmax operator is native implementation) has so

[2018-03-30 00:57] ArmageddonKnight opened #10327 "Wikitext-2 and Wikitext-103 RNN Model"
Hi, I saw that in the `example` directory, there are three language modeling benchmarks (`bucketing`, `word_lm`, `large_word_lm`). The first two are running on the PTB dataset and the last one is running on the Google-Billion-Word dataset. Could someone please tell me whether we have any model that can run on the Wikitext-2 and Wikitext-103 dataset, which I think are also very popular in language

[2018-03-30 01:04] bruinxiong commented on #9364
@sxjscience BTW, Did you meet this issue apache/incubator-mxnet#6644 ?
Error message: src/operator/./cudnn_batch_norm-inl.h:62: Check failed: req[cudnnbatchnorm::kOut] == kWriteTo (0 vs. 1)

[2018-03-30 01:48] zjuzuhe opened #10328 "How to manually modify the gradient using symbol?"
When using gluon,I can set grad_req = 'add' and use net.collect_params().zero_grad() to clear the gradient.I want to do the same thing by using mxnet.symbol. What should I do to set the grad_req and manually clear the gradient?Anyone help?

[2018-03-30 01:52] sxjscience commented on #9364
I haven’t met this before. Have you met this issue using the latest master? If that’s the case we can create a new issue for this problem and refer to the old thread.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Xiong Lin <notifications@github.com>
Sent: Thursday, March 29, 2018 6:05:11 PM
To: apache/incubator-mxnet
Cc: Xingjian SHI; Mention
Subject: Re: [apac

[2018-03-30 01:59] zhanglistar commented on #10310
Do you know how the mx-net manage memory? I am shocked that mx-net used so many memory while the model just 400M * 8B = 3.2GB, and I triain it using batch, so it should not use so many memory in my opinion. I have to read the code to find why.

[2018-03-30 02:46] zhanghang1989 commented on #8458
MXNet Gluon Cross-GPU Batch Norm is Implemented here https://github.com/zhanghang1989/MXNet-Gluon-SyncBN . Feel free to try and leave comments.

[2018-03-30 02:59] zhanghang1989 commented on #5888
MXNet Gluon Cross-GPU Batch Norm is Implemented here
 https://github.com/zhanghang1989/MXNet-Gluon-SyncBN. Feel free to try and leave comments.

[2018-03-30 02:59] zhanghang1989 commented on #4305
MXNet Gluon Cross-GPU Batch Norm is Implemented here
 https://github.com/zhanghang1989/MXNet-Gluon-SyncBN. Feel free to try and leave comments.

[2018-03-30 04:02] QiXuanWang opened #10329 "Can't print params on gpu with collect_params"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-30 05:12] mbaijal opened #10330 "[Post 1.1][WIP] Couple of License Issues from 1.1 Release"
## Description
a. [FIXED] LICENSE is missing this BSD licensed file [1]

b. [??] This file [2] seem to be CC-BY-2.5 which is category B [2] and should not be included in text form in the release. I know it's just a readme but probably best to remove it.

a. dmlc-core/include/dmlc/concurrentqueue.h
b. apache-mxnet-src-1.1.0.rc1-incubating/3rdparty/googletest/googlemock/docs/DevGuide.md
b. https://w

[2018-03-30 05:17] HawkAaron opened #10331 "ndarray doesn't support Ellipsis operation"
If we want to slice high dimension array, for example array A with shape (4,5,6,7), we need to explicitly slice each dimension, A[:, :, :, idx], rather than A[..., idx] in numpy, which is concision and easy to debug.

[2018-03-30 05:19] HawkAaron opened #10332 "how to check the gradient of autograd.Function?"
Would you mind adding utility for numeric and backward gradient comparison test ?

[2018-03-30 05:46] johnbroughton2017 opened #10334 "How to subtract mean during prediction with pretrained model (python)"
Hi,

I followed the example code (http://mxnet.incubator.apache.org/tutorials/python/predict_image.html) on prediction using pretrained model.

But I don't see where to subtract the mean (e.g. mean.nd). This is inconsistent with the c++ code here which subtracts a default mean (https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/predict-cpp/image-classification-predi

[2018-03-30 06:56] HawkAaron opened #10335 "ndarray diagonal operator request"
In numpy, we can fetch the diagonal of an array using `diagonal` api: https://docs.scipy.org/doc/numpy/reference/generated/numpy.diagonal.html#numpy.diagonal

It would be convenient to use this api. By the way, if possible, please return a view for that we can change the original array.

[2018-03-30 06:59] cccorn commented on #8458
@zhanghang1989 Thanks!

[2018-03-30 07:28] asitstands commented on #10277
@marcoabreu The implementation of `shuffle` already uses parallelism. On GPU, it utilizes parallel sorting algorithm and the memory swap is also parallelized. On CPU it uses GNU's parallel implementation of `std::random_shuffle` if the array is 1D. Only for higher dimensional arrays in CPU, the implementation is sequential. The optimization in this case is not trivial due to the diversity of data

[2018-03-30 07:38] orchidmajumder commented on #10059
Well well. I reorganized the code a bit to send it to you and just as a verification I ran it on a new P2.8x and I didn't see this problem. I am running some more training jobs on this instance to verify that.

[2018-03-30 08:09] xiadeye commented on #558
how to set label-width with im2rec.py? It returns 'im2rec.py: error: unrecognized arguments: --label-width=7'

[2018-03-30 09:25] vascokk opened #10338 "NDArray saved in Python cannot be loaded in Scala"
## Description
I am trying to convert a numpy array into an ndarray and save it. I intend to use the ndaray file in Scala, but getting src/ndarray/ndarray.cc:672: Check failed: fi->Read(data) Invalid NDArray file format.

## Environment info (Required)
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              4
On-line CPU(s) list: 0-3

[2018-03-30 10:36] chinakook commented on #10335
I think view can only be a ‘rect’. You can do diagonal by combination of mx.sym.arange and mx.sym.take or mx.sym.gather_nd

[2018-03-30 10:38] marcoabreu commented on #10277
Thanks for this great explanation and the detailed benchmarks, great job! In that case, I'd propose to go with the increase to 40000 samples - we can go even higher if you would like, the slaves have 72 vCPUs available (while I can't judge the GPU performance for this use-case) and since this task is IO-bound, we should not really see that much of an increase in time consumption as all threads can

[2018-03-30 11:07] wykvictor commented on #8729
@larroy What's the progress on 'cross-compiling the full MXNet'? For now, what's the best approach to deploy MXnet on Android? Thanks!

[2018-03-30 12:04] wykvictor commented on #8707
@someoneAlready The docker's link is dead?

[2018-03-30 12:43] edmBernard commented on #8707
There is some docker with cross compilation for android in CI https://github.com/apache/incubator-mxnet/tree/master/ci/docker

[2018-03-30 13:32] pokachopotun commented on #10128
The issue was resolved.
Our code executes correctly, if it was compliled as a part of mxnet project tree.
In particular, we added the following lines to incubator-mxnet/cpp-package/example/CMakeLists.txt.

add_library(libexample SHARED test/lib.h test/lib.cpp)
target_link_libraries(libexample ${CPP_EXAMPLE_LIBS})
add_dependencies(libexample ${CPPEX_DEPS})
add_executable(mxnetserver_test test/main.

[2018-03-30 13:32] #10128 closed

[2018-03-30 14:44] cjolivier01 commented on #10059
Ok let me know

[2018-03-30 14:44] cjolivier01 commented on #10059
Do you know what changed?

[2018-03-30 16:05] asitstands commented on #10277
If longer running time is allowed, I think that using 40000 samples would be better than fixing the random seed. More strict tests are better as long as we have available resources for them. In the other hand, I think that 0.01 criterion and 40000 samples are practically enough. More strict test requires much more cost. I repoduced the failure with the reported seed and confirmed that the test is

[2018-03-30 16:25] yajiedesign commented on #9572
It is now determined to be the result of fastmath

[2018-03-30 16:51] orchidmajumder commented on #10059
I just changed the EC2 instance to a new instance. Last time, I tried with multiple instances (with both CUDA8 and 9) but all were giving me same problem. @KellenSunderland can you please spawn a new P2.8x instance (with CUDA9) and see if you can reproduce it now? I'd send you my code too.

[2018-03-30 17:34] KellenSunderland opened #10341 "Deadlock during ThreadedEnginePerDevice destructor after CuDNNConvolutionOp<float>::SelectAlgo called."
## Description
I haven't been able to fully track this down, but this is what I've seen so far.  CI is frequently deadlocking after the introduction of the test :  test_operator_gpu:test_op_output_names_monitor in the PR https://github.com/apache/incubator-mxnet/pull/10300

Removing the lines:
[code]
here: https://github.com/apache/incubator-mxnet/pull/10300/files#diff-cb652780258e73a9cd08568f3892

[2018-03-30 17:46] rahul003 commented on #7073
@sandeep-krishnamurthy Which fix are we talking about here? Was the issue identified?

[2018-03-30 17:59] KellenSunderland commented on #10059
I'll check when a coworker is back in the office, but please feel free to close without hearing back from me.

[2018-03-30 18:00] KellenSunderland commented on #9412
I've partially disabled the test test_op_output_names_monitor in this PR https://github.com/apache/incubator-mxnet/pull/10342 as it's causing long hangs in our CI server.

[2018-03-30 18:12] KellenSunderland commented on #10341
@piiswrong: Do you see what the root cause is here?  Are you able to reproduce?

[2018-03-30 18:15] dl002 commented on #10239
@cgraywang thank you I will do that.

Thank you everyone for all the inputs!

[2018-03-30 18:15] #10239 closed

[2018-03-30 18:17] sxjscience commented on #10042
Should I close this?

[2018-03-30 18:20] sxjscience commented on #10335
Refer to this one also: https://github.com/apache/incubator-mxnet/issues/9253

[2018-03-30 18:26] sxjscience commented on #10310
I feel that the memory cost should be `batch_size * 400M * 8B` if you do not use coordinate descent.

[2018-03-30 18:28] sxjscience commented on #10314
@aaronmarkham

[2018-03-30 18:34] sxjscience commented on #10332
We are going to support it. Stay tuned.

[2018-03-30 19:55] eric-haibin-lin commented on #10310
The caveat is that row sparse format comes with auxiliary indices, which is 8 bytes per row(feature)

[2018-03-30 19:59] reminisce commented on #10269
@rmaria @ShownX We have open-sourced [MXBoard](https://github.com/awslabs/mxboard) which enables users to visualize MXNet data (including network structures) in [TensorBoard](https://pypi.python.org/pypi/tensorboard). The current version on PyPI is [0.1.0rc3](https://pypi.python.org/pypi?:action=display&name=mxboard&version=0.1.0rc3). You can either install from source or `pip install`. The GitHub

[2018-03-30 20:18] reminisce commented on #10006
We have open-sourced [MXBoard](https://github.com/awslabs/mxboard) which enables users to visualize MXNet data (including network structures) in [TensorBoard](https://pypi.python.org/pypi/tensorboard). In your case, you can just simply pass the weights/filters to the logging API and view it in TensorBoard.

The current version on PyPI is [0.1.0rc3](https://pypi.python.org/pypi?:action=display&name

[2018-03-30 20:23] reminisce commented on #7943
We have open-sourced [MXBoard](https://github.com/awslabs/mxboard) which enables users to visualize MXNet data (including network structures) in [TensorBoard](https://pypi.python.org/pypi/tensorboard). The current version on PyPI is [0.1.0rc3](https://pypi.python.org/pypi?:action=display&name=mxboard&version=0.1.0rc3). You can either install from source or `pip install`. The GitHub site has rich e

[2018-03-30 20:26] reminisce commented on #10282
@ThomasDelteil We have open-sourced [MXBoard](https://github.com/awslabs/mxboard) which enables users to visualize MXNet data (including network structures) in [TensorBoard](https://pypi.python.org/pypi/tensorboard). The current version on PyPI is [0.1.0rc3](https://pypi.python.org/pypi?:action=display&name=mxboard&version=0.1.0rc3). You can either install from source or `pip install`. The GitHub

[2018-03-30 20:58] ShownX commented on #10269
Sure. Thank you for this tool.

[2018-03-30 21:07] ThomasDelteil commented on #10282
I will try it next week for sure, looks great!

[2018-03-30 21:25] marcoabreu commented on #10322
Possibly caused by https://github.com/apache/incubator-mxnet/issues/10341 and thus invalid.

[2018-03-30 21:25] marcoabreu commented on #10323
Possibly caused by https://github.com/apache/incubator-mxnet/issues/10341 and thus invalid.

[2018-03-30 21:25] marcoabreu commented on #10324
Possibly caused by https://github.com/apache/incubator-mxnet/issues/10341 and thus invalid.

[2018-03-30 21:39] Jerryzcn commented on #10042
Yeah, we can close this.

[2018-03-30 21:45] #10042 closed

[2018-03-30 21:49] anirudhacharya commented on #10298
Can you provide more information as mentioned in the issue template, like - reproducible example, mxnet version you are using, and your R sessionInfo()

@nswamy @sandeep-krishnamurthy please tag this 'R' and "Pending Requester Info"

[2018-03-30 21:55] anirudhacharya commented on #10325
Possibly a duplicate issue of . - https://github.com/apache/incubator-mxnet/issues/10322

[2018-03-30 22:04] anirudhacharya commented on #10291
@wangx404 consider making a PR to fix this.

@nswamy @sandeep-krishnamurthy please tag this - "Example"

[2018-03-30 22:25] anirudhacharya commented on #10247
@nswamy @sandeep-krishnamurthy please tag this - "Python", "GPU", "Question", "Distributed"

[2018-03-30 22:31] anirudhacharya commented on #10262
please tag this - "Example", "RNN", "gluon"

[2018-03-30 22:55] marcoabreu commented on #10277
I think 1^-6 sounds quite reasonable and the time consumption is still within acceptable boundaries :)

@reminisce please review the PR as you have more in-depth knowledge

[2018-03-30 23:33] szha commented on #10341
@reminisce

[2018-03-30 23:59] kalyanghosh commented on #8183
I am getting started with Keras! When I run the code python examples/mnist_cnn.py, I am getting the same error.
I would be very thankful, if someone can list down the steps to solve this issue.

[2018-03-31 00:00] edavilandes opened #10349 "Converting MXNet model to CoreML fails in param = node['attr']"
## Description
Running mxnet_coreml_converter.py always failed in "param = node['attr']"
## Environment info (Required)
Model Name:	Mac mini
  Model Identifier:	Macmini7,1
  Processor Name:	Intel Core i7
  Processor Speed:	3 GHz
  Number of Processors:	1
  Total Number of Cores:	2
  L2 Cache (per Core):	256 KB
  L3 Cache:	4 MB
  Memory:	8 GB
  Boot ROM Version:	MM71.0230.B00
  SMC Version (system)

[2018-03-31 00:09] marcoabreu commented on #10325
Closed due to duplicate of #10322

[2018-03-31 00:09] #10325 closed

[2018-03-31 00:27] orchidmajumder commented on #10059
I have run multiple tests on the new P2.8x instance and things seem to work fine. I'll close this issue.

[2018-03-31 00:27] #10059 closed

[2018-03-31 01:01] cjolivier01 commented on #8183
pull the latest from master (as of 90 seconds ago) and build or set USE_PROFILER=1 in config.mk

[2018-03-31 04:47] PCML-WangZhe commented on #4831
but after you delete "-1", it will make a new problem:
INFO:root:voc_2020_trainval append flipped images to roidb
Traceback (most recent call last):
  File "/home/lab3/wz/incubator-mxnet-master/example/rcnn/train_end2end.py", line 195, in <module>
    main()
  File "/home/lab3/wz/incubator-mxnet-master/example/rcnn/train_end2end.py", line 192, in main
    lr=args.lr, lr_step=args.lr_step)
  File "

[2018-03-31 05:36] #10314 closed

[2018-03-31 13:26] #10266 closed

[2018-03-31 13:28] some-guy1 commented on #10267
I had the same question a while ago, I now use this:

`begin.round =n.rounds, num.round=n.rounds+extra.iter`

[2018-03-31 14:26] #10322 closed

[2018-03-31 14:26] #10323 closed

[2018-03-31 14:26] #10324 closed

[2018-03-31 14:28] marcoabreu opened #10353 "CI does not check with CuDNN=0"
At the moment, our CI does not run any tests with CuDNN disabled. I'd propose to change the CentOS 7 GPU environment to run with ```CUDA=1 CuDNN=0```.

[2018-03-31 14:28] marcoabreu commented on #10353
@zheng-da

[2018-03-31 14:36] KellenSunderland commented on #10353
Definitely a good idea to get at least one build in without cudnn, theres a lot of code paths it would cover.

[2018-03-31 15:08] z362194037 opened #10355 "mxnet.symbol.Upsampling()"
Hi. guys, I use mxnet-0.9.5. when I use  `mx.sym.UpSampling(name='test', data=b, scale=2,sample_type='nearest')`. An error occurred.

File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/mxnet-0.9.5-py2.7.egg/mxnet/_ctypes/symbol.py", line 181, in creator
    ctypes.byref(sym_handle)))
  File "/usr/local/lib/python2.7/dist-packages/mxnet-0.9.5-py2.7.egg/mxnet/base.py"

[2018-03-31 16:44] ThomasDelteil commented on #10282
@zheng-da the fix is working the graph is displaying

[2018-03-31 16:44] #10282 closed

[2018-03-31 17:32] FinScience commented on #10298
@anirudhacharya  - The R session info is already shared. On trying to load "mxnet", I am getting the said error.
Any help on resolution would be great

[2018-03-31 17:45] NiklasDL commented on #10267
Wouldn't

`begin.round =n.rounds + 1`

make more sense?

Anyway, that still does not explain why MXNet allows to use any arbitrary integer for the
`begin.round` argument

[2018-03-31 17:48] ArmageddonKnight opened #10356 "MXNet from Source is slower than Pip Package"
Hi there,

I have two copies of `MXNet` - one local copy that I kept for revision and another global copy which has been installed using `sudo -H pip3 install mxnet-cu80==0.12.1`. I built my local copy using the following command:

[code]

and created a virtual environment for the python binding. The problem is that - when I run the `cudnn_lstm_bucketing.py` example, what I noticed is that the loc

[2018-03-31 18:03] some-guy1 commented on #10267
Ya I dont think it matters.  All you are actually doing is selecting a slice in a vector to add new content.  It doesnt matter where you start and end.  It is up to the user to select the correct slice.

[2018-03-31 22:01] zheng-da opened #10357 "Write Inplace isn't enabled in activation forward during inference."
Activation is registered in NNVM with FInplaceOption. However, when the op is called in the inference, the output request isn't write inplace.

[2018-04-01 00:13] marcoabreu commented on #8921
Possibly related to https://github.com/apache/incubator-mxnet/issues/9271

[2018-04-01 00:13] marcoabreu commented on #9271
Possibly related to #8921

[2018-04-01 00:30] marcoabreu commented on #9845
Still recent: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/592/pipeline

[2018-04-01 13:37] HawkAaron opened #10358 "ndarray argmax bug report"
**ndarray argmax doesn't support default axis for one dimension array:**

[code]
Error report:
[code]

But if we add `axis=0`, then it works:
[code]

[code]

[2018-04-01 15:05] TaoLv commented on #10316
@zhreshold  Still can't pass the test with nms_threshold=0.

[2018-04-01 15:55] jeejeeli commented on #1988
Can you tell me how configure mulitple machines for train，this problem have troubled me for a long time，Thanks~~~

[2018-04-01 16:37] jeejeeli commented on #3448
I have 2 machines too, same problem,can you tell me how solver this problem detailed ？thank you very much

[2018-04-01 18:22] NKUCodingCat commented on #10309
I tried release 1.1 and failed like latest code....

[2018-04-01 19:03] szhengac commented on #10327
You can find example on Wikitext-2 in the following link:
https://github.com/apache/incubator-mxnet/tree/master/example/gluon/word_language_model

We also have interface for using Wikitext103:
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/contrib/data/text.py

[2018-04-01 19:16] ArmageddonKnight commented on #10327
Great. @szhengac Thanks.

[2018-04-01 19:16] #10327 closed

[2018-04-01 22:30] lutzroeder opened #10359 "Correct way to detect JSON file contains MXNet model"
See https://github.com/lutzroeder/Netron/issues/99

`.json` files can contain both Keras models or MXNet models. Would it make sense for one of them to use a different file extension? Should there be a marker in the `.json` to detect it contains MXNet data?

[2018-04-02 01:57] HaoLiuHust commented on #10290
Thanks, seems cpp-package is more sense

[2018-04-02 02:16] zjuzuhe commented on #10328
@sxjscience Thx.And if I set it to 'add' in the bind function,how could I set the gradients manually to zero after one epoch?I didn't find it in the website.

[2018-04-02 02:24] szha commented on #10359
`.json` can contain not just keras models or mxnet models, but also many other different things, such as datasets, objects, the answer to the ultimate question of life.

For mxnet, it's up to the user to persist the serialized symbolic graph in a form that can be recognized later.

As for the library that deals with visualization of different symbolic graphs, I think it's the responsibility of the

[2018-04-02 03:42] sxjscience commented on #10328
If you are using the executor interface, the gradient are in `grad_dict`(https://mxnet.incubator.apache.org/api/python/executor/executor.html#mxnet.executor.Executor.grad_dict). If you are using the Module interface, the gradients are in `mod._exec_group.grad_arrays`.

[2018-04-02 04:08] #8196 closed

[2018-04-02 04:12] pengzhao-intel commented on #8712
@marcoabreu  @zheng-da The bug has been fixed by MKL-DNN.

@xinyu-intel  will file a PR to update MKL-DNN and enable this case.

https://github.com/intel/mkl-dnn/commit/b4137dfc88e3bf5c6b62e833121802eb8c6696da

[2018-04-02 05:49] zhanglistar commented on #10310
Is there any matrials aboult the design of mx-net? So I can understand the code faster.

[2018-04-02 07:56] zheng-da commented on #10353
We should definitely test build. The question is whether we should run the code and how? Some test code can't run without CuDNN as we have experienced in https://github.com/apache/incubator-mxnet/pull/10302

[2018-04-02 11:17] marcoabreu commented on #10353
I'd propose to add specific excludes (for these non-runnable tests) to the nosetest call in runtime_functions.sh.

Other options would have been to set an environment variable and check it in the test or catch the CuDNN-not-present-exception and drop it. But I'd not be in favour of those because this would require CI-specific modifications in tests and (in the latter case) could mask valid errors

[2018-04-02 15:51] nju-luke opened #10368 "asscalar is very slow"
The train part cost 0.01 second, but the asscalar operation cost a few seconds sometimes more than 10. I install the newest version of mxnet by pip, and this was happened with cpu and gpu context both.
Does anyone have any idea for fixing this? Thank you very much.
[code]

[2018-04-02 16:01] reminisce commented on #10368
How did you time it? `asscalar` is a blocking function call, while the other lines are async. It would not be accurate to simply time it line by line in Python. You will need to add `mx.nd.waitall()` before the last line to time the training part reasonably.

[2018-04-02 17:02] asitstands opened #10369 "Proper seeding of the random number generators for parallel CPU threads and multiple GPU devices"
It looks like the random number generators for CPU threads are seeded with consecutive integers. https://github.com/apache/incubator-mxnet/blob/5a480f0237c28231bcf486f39f917b65513ee6a3/src/common/random_generator.h#L92 So if the first generator is seeded with `s`, the `n`-th generator is seeded with `s+n-1`. Is it right? If so, is there a reason? Of course, seeding `std::mt19937` generators with c

[2018-04-02 17:03] nju-luke commented on #10368
This is the  version with time, and the third out put time.
[code]
[code]

[2018-04-02 17:15] reminisce commented on #10368
This timing does not reflect the correct time spent on training and `asscalar` respectively. As said before, all the lines before the second `print` are async operations. You need to sync before `asscalar` is called.

[2018-04-02 17:22] reminisce commented on #10368
For OOM problem, seems it's caused by always pushing operations to engine for every mini-batch in an epoch. You need to sync before another mini-batch starts. Otherwise, new memory are alway allocated when a new mini-batch starts. You can try defining `train_loss` as a scalar, and replace `train_loss += nd.mean(loss_)` with `train_loss += nd.mean(loss_).asscalar()`.

[2018-04-02 17:31] eric-haibin-lin commented on #9396
@DickJC123 gentle ping - any update? Were you able to reproduce the issue? Just want to check if there's any update since the next release candidate will be cut in a week or so

[2018-04-02 17:54] anirudhacharya commented on #10359
Here is a potential solution to this problem, without having any restrictions on the filename of the json file.

The following is a sample json file that was obtained after serializing an mxnet symbol graph.

[code]

I have checked with a couple of other serialized graphs and all of them have this particular attribute in their json -
[code]
We could possibly use the presence of this attribute in t

[2018-04-02 18:00] anirudhacharya commented on #10359
@szha please tag this - "HowTo", "Visualization".

[2018-04-02 18:35] anirudhacharya commented on #9358
@alexmosc can you verify the bug fix and close the issue accordingly.

[2018-04-02 18:44] indhub commented on #9733
@zhreshold Thoughts?

[2018-04-02 20:31] charlieyou commented on #10073
@dmas-at-wiris
Is this still an issue for you? If so, could you provide an MWE? Thanks!

[2018-04-02 20:42] anirudhacharya commented on #9702
@mbaijal close this issue, if it is resolved.

[2018-04-02 20:47] lanking520 commented on #8132
@yxchng , is this still an issue for you?

[2018-04-02 21:06] cjolivier01 commented on #7848
Redirect to: https://github.com/apache/incubator-mxnet/issues/9632

[2018-04-02 21:06] #7848 closed

[2018-04-02 21:14] cjolivier01 commented on #9632
It appears that pytorch and TF don;t support Fermi GPUs. Do we wish to continue support?

[2018-04-02 21:59] mbaijal commented on #10330
a. Fixed in PR #10373
b. Needs some investigation on best fix since we cant modify 3rdparty submodule

[2018-04-02 22:07] marcoabreu opened #10376 "Flaky test_gluon.test_lambda"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10373/1/pipeline

[code]

[2018-04-02 22:20] cjolivier01 commented on #9632
https://github.com/apache/incubator-mxnet/pull/10375

[2018-04-02 23:36] cjolivier01 commented on #9410
Is this supposed to take a really long time to run?  It takes many minutes...

[2018-04-02 23:50] szhengac opened #10377 "Inconsistency between ndarray and symbol when performing division"
When doing division with ndarray, we can write
`x[:] /= F.sum(x, axis=-1)`
But with symbol, we need to use
`x = F.broadcast_div(x, F.sum(x, axis=-1, keepdims=True))`

I think this inconsistency is not friendly to user when they would like to use the HybridBlock.

[2018-04-03 00:02] eric-haibin-lin commented on #9000
Is this fixed? Looks like the test is not enabled yet

[2018-04-03 00:57] nju-luke commented on #10368
@reminisce Thanks for the explanation about `asscalar`.
I'm sorry that I didn't make it clear about OOM. When I said iteration, it means the epoch. That is, the OOM error is raised during the second epoch, in half the task is completed.
[code]

[2018-04-03 00:58] eric-haibin-lin commented on #2317
#8055 fixes the example test case @sxjscience provides. I'm gonna close it for now. Feel free to reopen it

[2018-04-03 00:58] #2317 closed

[2018-04-03 01:03] eric-haibin-lin commented on #10041
`b = mx.nd.sum(mx.nd.ones((100, 100))`  will work.. I guess the problem is that if user provides axis=None, it won't work. @sxjscience

[2018-04-03 01:05] eric-haibin-lin commented on #8914
Verified on my end that the fix works.

[2018-04-03 01:05] #8914 closed

[2018-04-03 01:14] eric-haibin-lin commented on #9881
@szhengac thanks for your inputs.

My concern is that if we change the wd behavior now, the change is incompatible with previous versions of MXNet and users have to change their code for new hyperparameters. I don't think this is provides a good user experience.

@szha @piiswrong @szhengac What about specifically documenting the update rules for the existing optimizers like https://mxnet.incubator

[2018-04-03 01:27] fedorzh commented on #9410
@cjolivier01
The function `convert_gluon_dataset_to_numpy` which converts gluon dataset to numpy takes awhile.

[2018-04-03 01:29] sxjscience commented on #10041
`None` should represent "empty-axis" and should perform a global reduction. It's very common in numpy.

[2018-04-03 01:30] sxjscience commented on #9881
Looks good. We can write math formulas instead.

[2018-04-03 01:45] HeliWang opened #10378 "Inconsistent output from mxnet-python and mxnet-scala"
## Description
Inconsistent output from mxnet-python and mxnet-scala when importing the same mxnet saved model (kim-0100.params, kim-symbol.json) and have the same input (np.ones((1000, 47, 300))).

MxNet (Python) Output:
[code]

MxNet (Scala) Output:
[code]

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia): Scala and Python

For Scala user, please provide:
1. Java versi

[2018-04-03 02:39] moveforever commented on #10310
I came across with same error. The reason of the error is to save  intermediate optimization statement variable while saving checkpoint.
you can fix like this:
mod.save_checkpoint("checkpoint", epoch, save_optimizer_states=False)

[2018-04-03 05:15] anirudhacharya commented on #10298
@FinScience What is the MXNet version you are using?

in the meantime, try the following and let me know if it works -
[code]

[2018-04-03 05:28] TaoLv commented on #10316
There is an `atomicAdd` in the [cuda implementation](https://github.com/apache/incubator-mxnet/blob/master/src/operator/contrib/multibox_detection.cu#L93) of MultiBoxDetection. It will generate unstable results which are not reproducible. So I cannot check the consistency between cpu and gpu computation. I am not sure if it's as expectation. But I think you should be aware of this. @zhreshold @pii

[2018-04-03 06:03] nju-luke commented on #10368
The OOM was fixed by changed train_loss with `train_loss += nd.mean(loss_).asscalar()` .
Appreciations @reminisce

[2018-04-03 06:03] #10368 closed

[2018-04-03 07:19] mjpost commented on #10205
@sxjscience --- [the documentation](https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.topk) suggests that the `axis` parameter allows one to choose an axis of the tensor, but I don't think it allows for parallelism across all such axes.

[2018-04-03 08:56] eitan3 commented on #9944
@lebeg I'm having the same bug.. I'm trying to compile mxnet for Windows 10 from VS2015. without DUSE_CPP_PACKAGE mxnet compile perfectly, with cpp package it doesnt..

I think the problem here is something with the DLL. when I run the OpWrapperGenerator.py file it output an error "OSError: [WinError 126] The specified module could not be found"
I checked if the first argument is the dll, and it e

[2018-04-03 08:59] mrRo8o7 opened #10379 "When to use SyncCopyFromCPU and SyncCopyToCPU - C++"
Hi, i want to ask for the difference between SyncCopyFromCPU and SyncCopyToCPU. I don't get it from the mxnet c++ reference.

[2018-04-03 10:07] alexmosc commented on #9358
Thank you!

This is going to be closed as fixed.

Alexey

[2018-04-03 10:07] #9358 closed

[2018-04-03 10:46] marcoabreu opened #10380 "Flaky test_operator_gpu.test_deconvolution_options"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/613/pipeline

[code]

[2018-04-03 11:13] II-Matto commented on #1356
@Jing-Luo Hi, I also met the problem of `Mixed` initializer with Gluon `Block`. Have you found any solution that allows to use different initializers for different layers/parameters?

@piiswrong Hi, will Gluon `Block` support `Mixed` initializer in the future?

[2018-04-03 13:08] xinedison opened #10382 "Does memonger work for gluon to save memory?"
## Description
I want to reduce gpu memory costing when using gluon, I tryed MXNet memonger but it did not work for me, After that I setting os.environ['MXNET_BACKWARD_DO_MIRROR'] = '1', But it not work for me too.

## Environment info (Required)

[code]
## question definition

I am using python 2 and newest mxnet gluon 3D convolution to do video action recognition. I want gpu memory to be effient

[2018-04-03 15:01] yxchng commented on #8132
@lanking520 nope thanks

[2018-04-03 16:55] haojin2 commented on #10379
@mrRo8o7 The documentation is added but may not be rendered on the webpage for some reason. You can find the corresponding docs for SyncCopyFromCPU at: https://github.com/apache/incubator-mxnet/blob/c153a6c789f667abb3bf1ea3d8d352c6f3b120b7/cpp-package/include/mxnet-cpp/ndarray.h#L251. For SyncCopyToCPU at: https://github.com/apache/incubator-mxnet/blob/c153a6c789f667abb3bf1ea3d8d352c6f3b120b7/cpp-

[2018-04-03 16:58] haojin2 commented on #10379
In general, you would want to use SyncCopyFromCPU/SyncCopyToCPU when you have some contiguous memory region not yet wrapped by NDArray so that you could use NDArray APIs to operate on that region.

[2018-04-03 18:01] sxjscience opened #10386 "[Operator] Support ndim > 3 for batch_dot"
In batch_dot, i.e, `C = batch_dot(A, B)`,  both inputs A & B must have ndim=3. However, in some cases our inputs could have have higher dimensionality. We can consider to support the following two cases:

- [ ] Both A, B have ndim >3

    We should compute the output as:
[code]
   For example, if the shape of A is (batch_size, a1, a2, …, b, c) and the shape of B is (batch_size, a1, a2, …, c, d), t

[2018-04-03 18:51] indhub commented on #10012
I think these icons were coming from this plugin: https://wiki.jenkins.io/display/JENKINS/Embeddable+Build+Status+Plugin

@marcoabreu Do you know if the new CI has this plugin? If not, what is the effort involved in installing it?

[2018-04-03 18:53] anirudh2290 opened #10387 "Flaky test(scala): test_arange"
[code]

Please see: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10374/1/pipeline/

[2018-04-03 19:00] reminisce commented on #10341
I added several logging messages. It seems this function never returns. Will keep digging.
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/cudnn/cudnn_convolution-inl.h#L718

[2018-04-03 20:18] lanking520 commented on #10369
@nswamy please add 'C++' tag on this topic

[2018-04-03 21:17] anirudhacharya commented on #8575
@shivonkar  close this issue if it is resolved.

@cjolivier01

[2018-04-03 21:43] ThomasDelteil commented on #10037
I'll look into it

[2018-04-03 21:54] Roshrini commented on #9526
@parallelgithub Seems like this issue is resolved on master. Tried it today. Couldn't reproduce the error.
Can you please confirm if you are still facing this issue?

[2018-04-03 21:56] tqchen commented on #10386
maybe related to optimizations in http://www.tvmlang.org/2018/03/23/nmt-transformer-optimize.html

[2018-04-03 22:01] eric-haibin-lin commented on #9881
@sxjscience I could do that but math formulas is not very convenient when clip is involved..

[2018-04-03 22:36] anirudhacharya commented on #9804
@hetong007 any update on this.
Also there does not seem to be a test for "shuffle=TRUE" case - https://github.com/apache/incubator-mxnet/blob/master/R-package/tests/testthat/test_io.R#L63-L85

[2018-04-03 22:37] marcoabreu commented on #10012
@indhub there you go: http://jenkins.mxnet-ci.amazon-ml.com/job/incubator-mxnet/job/master/badge/

[2018-04-03 22:56] piiswrong opened #10389 "Report clear errors when opencv::imdecode fails."
Currently when opencv function fails cryptic opencv error is raised. We should catch it and report which file failed.

see https://github.com/apache/incubator-mxnet/blob/121adb6660897d7cef223caba80a43412ab5c9e0/src/io/image_io.cc#L161

[2018-04-03 23:40] indhub commented on #10012
Thanks, I'll create the PR.

[2018-04-04 00:07] anirudh2290 commented on #10389
Currently we don't catch exceptions unless they are dmlc::Error. This would need to change to catch other library exceptions. This TODO list needs to be prioritized: https://github.com/apache/incubator-mxnet/issues/9913

[2018-04-04 00:24] gautamkmr commented on #9949
I am not able to reproduce this issue
I do have python 2.7.10.

/anaconda/lib/python3.6/site-packages/setuptools-27.2.0-py3.6.egg/setuptools/msvc.py:309: DeprecationWarning: invalid escape sequence \c
/anaconda/lib/python3.6/site-packages/setuptools-27.2.0-py3.6.egg/setuptools/dist.py:331: UserWarning: Normalizing '2018.01.18' to '2018.1.18'
creating /anaconda/lib/python3.6/site-packages/certifi-2

[2018-04-04 00:46] haojin2 commented on #7426
Seems like this issue has already been solved, I cannot reproduce it on the latest master(b1b0521366344b516a618ce73f7bc9a1c0708092):

[[ 0.66865093  0.17409194]
 [ 0.38500249  0.24678314]]
<NDArray 2x2 @gpu(0)>

[[ 0.66865093  0.17409194]
 [ 0.38500249  0.24678314]]
<NDArray 2x2 @gpu(0)>

[2018-04-04 01:00] #7426 closed

[2018-04-04 03:12] cjolivier01 commented on #8575
appears to be resolved — please reopen if necessary

[2018-04-04 03:12] #8575 closed

[2018-04-04 05:11] FinScience commented on #10298
@anirudhacharya - Thanks for this. The error has resolved

[2018-04-04 05:25] anirudhacharya commented on #10298
@sxjscience @cjolivier01 please close this issue.

[2018-04-04 05:32] #10298 closed

[2018-04-04 07:16] reminisce commented on #10341
Added some prints. It seems the `on_complete()` can never finish while `WaitForVar()` keeps waiting. Since this piece of code is running in a worker thread for gpu context, we don't need to push those operations into engine for execution.
[code]

[2018-04-04 07:33] gautamkmr commented on #9949
I tried using the install-mxnet-osx-python.sh script, it did work well with python3.6 however with python-2.7.10 I guess I have not reached upto your step but failed due to some missing dependency.

I will give a shot with the osx_setup.md

with Python2.7.10 it failed during installation of Numpy.

Searching for numpy>=1.8.2,<=1.13.3
Reading https://pypi.python.org/simple/numpy/
Best match: numpy

[2018-04-04 09:17] Gerkam opened #10393 "ImageRecordIOParser2 Assertion failed"
I use python3 and try to get images by .rec file.
I use ImageRecordIter. After 3000000 images I have got, I see OpenCV Error: Assertion failed .
Also I tried only go by iterator and do nothing, but saw the same error on same image.

Here is part of my code.

data_iter = mx.io.ImageRecordIter(
    path_imgrec=data_path, # the target record file
    data_shape=(3, 112, 112), # output data shape. An

[2018-04-04 09:36] chr5tphr opened #10394 "[Feature Request] Operator for Im2Col"
We need an operator for im2col.
Since the operation itself is already implemented in [im2col.h](https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/im2col.h) and [im2col.cuh](https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/im2col.cuh) respectively, this should not be much of a problem.

[2018-04-04 11:01] dabraude opened #10395 "Android build documentation"
It would be really useful to have documentation about building android from source.

[2018-04-04 11:11] larroy commented on #8729
Hi, you can use the new scripts in the ci folder:  ci/build.py   right now it should build for android but the build is untested.

[2018-04-04 13:17] marcoabreu commented on #10012
Thanks a lot!

[2018-04-04 13:48] slyforce opened #10397 "grad_req in multi-task example"
I'm referring to the python script in example/multi-task/example_multi_task.py

As far as I understood gradients need to be accumulated between two loss functions, since you are performing a backward step on two different components onto a single symbol (in the example, f3 gets gradients from sm1 and sm2). However, the default for this example is that grad_req = 'write', implying that one softmax

[2018-04-04 14:09] lebeg opened #10398 "[MXNET-287] ARMv6 build with 8-10 times bigger file size"
The ARMv6 generated wheel grew by 8-10 times in terms of file size according to https://github.com/apache/incubator-mxnet/commit/85215b6176ef3612d198f590268a6595b86565fb.

Investigate and then add more information.

[2018-04-04 14:55] saswatac opened #10399 "Memory leak while using adam optimizer"
## Description

Memory use grows with time while using adam optimizer.

## Environment info (Required)

----------Python Info----------
('Version      :', '2.7.14')
('Compiler     :', 'GCC 4.9.4')
('Build        :', ('default', 'Mar 14 2018 07:42:22'))
('Arch         :', ('64bit', ''))
------------Pip Info-----------
No corresponding pip install for current python.
----------MXNet Info-----------

[2018-04-04 15:49] anirudh2290 commented on #8238
@VikingMew can you please help provide a brief description and current status of the issue in English. I looked at the discuss post using google translate and the translated statements are not very clear.

[2018-04-04 16:09] anirudh2290 commented on #8801
@eric-haibin-lin can this issue be closed. The issue has been answered by @PhanTask.

[2018-04-04 17:03] Will0622 opened #10401 "Gluon nn BatchNorm layer cannot ignore the beta"
In mxnet symbol API, we cannot fix the beta to be 0. So, I tried to use the Gluon nn BatchNorm layer which allows setting center=False to ignore the beta term. However, When I use
 bn = mx.nn.BatchNorm(scale=False, center=False)
I checked the mean of the output from this BatchNorm during training. I found that the mean is changing and also is significantly larger than 0 (e.g., it could be 0.7). Th

[2018-04-04 17:56] #8801 closed

[2018-04-04 18:04] lanking520 commented on #8344
@chetkhatri @piiswrong
Hi Eric and Chetan,
do we have any way to recover the old R manual?
Reference: https://github.com/apache/incubator-mxnet/pull/6283
Duplicated Open Issue:
https://github.com/apache/incubator-mxnet/issues/7483
https://github.com/apache/incubator-mxnet/issues/6161

[2018-04-04 18:05] eric-haibin-lin commented on #10310
Hi @zhanglistar
Some notes on architecture of MXNet: http://mxnet.incubator.apache.org/architecture/index.html
paper: https://arxiv.org/pdf/1512.01274.pdf
sparse op code walk-through: https://cwiki.apache.org/confluence/display/MXNET/A+Guide+to+Implementing+Sparse+Operators+in+MXNet+Backend

if you have specific questions regarding sparsity, I'm happy to chat on [Slack](https://mxnet.incubator.apa

[2018-04-04 18:07] altosaar opened #10402 "Can't press down arrow in search results dropdown on https://mxnet.incubator.apache.org/"
It would improve UX to be able to press the down arrow in the dropdown that appears when we search https://mxnet.incubator.apache.org/

[2018-04-04 18:29] anirudhacharya commented on #9971
The onnx import functionality has now been ported into MXNet repo itself under contrib and it does not prevent GPU use. There are GPU tests currently running successfully on the CI piepline.
This change will ship as part of MXNet v1.2 release. We will EOL the onnx-mxnet pip package after the release. Will close this bug after that.

We should also consider adding "ONNX" as a new label for issues o

[2018-04-04 19:42] anirudh2290 opened #10403 "Flaky test - ONNX"
[code]

Please see: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10400/2/pipeline/1252

[2018-04-04 21:02] eric-haibin-lin commented on #10041
https://github.com/apache/incubator-mxnet/pull/10405

[2018-04-04 21:12] anirudh2290 opened #10406 "Flaky test - test_gluon_data.test_datasets"
[code]

[2018-04-04 21:43] thomelane commented on #9909
@CoinCheung would you be able to show me where in the documentation you saw this? I'd like to change it so it doesn't catch out other users, but I couldn't see it.

[2018-04-04 22:17] anirudhacharya commented on #9565
@sandeep-krishnamurthy please close this bug, as the question has been answered

[2018-04-04 22:22] mli opened #10409 "https://newdocs.readthedocs.io is outdated"
@Awyan can you please remove this site? we found a lot of users are following the instructions there, but some of them are outdated.

[2018-04-04 22:24] aaronmarkham commented on #10409
Plan B, follow this support request: https://github.com/rtfd/readthedocs.org/issues/3854

[2018-04-04 22:33] anirudhacharya commented on #8306
Error not reproducible. The above code works on the latest master.

@sandeep-krishnamurthy please close this issue.

[2018-04-04 22:55] anirudhacharya commented on #9377
Issue not reproducible. I am able to install R on ubuntu.

@sandeep-krishnamurthy @cjolivier01 please close the issue.

[2018-04-04 23:36] sandeep-krishnamurthy commented on #8862
@shipeng-uestc - Please reopen if your still face the issue.
Note: You can install latest mxnet with below command:
[code]

[2018-04-04 23:36] #8862 closed

[2018-04-04 23:36] sandeep-krishnamurthy commented on #9526
@parallelgithub - Please reopen if your still face the issue.
Note: You can install latest mxnet with below command:
[code]

[2018-04-04 23:36] #9526 closed

[2018-04-04 23:52] xup6fup commented on #8344
Do you want this file?

Lanking <notifications@github.com> 於 2018年4月5日 週四 02:05 寫道：

[2018-04-05 00:09] #9565 closed

[2018-04-05 00:09] #8306 closed

[2018-04-05 00:10] #9377 closed

[2018-04-05 00:31] anirudhacharya opened #10414 "There is no API Reference Doc for R bindings."
We need an API reference doc for MXNet R bindings - http://mxnet.incubator.apache.org/api/r/index.html

Currently it is not there. Creating this issue to track it.

@aaronmarkham

[2018-04-05 00:58] #10399 closed

[2018-04-05 01:33] hahnyuan commented on #628
I have write a tool for visulize https://github.com/hahnyuan/darknet-visualizer

[2018-04-05 01:36] NKUCodingCat opened #10416 "mx.symbol.LeakyRelu could not be visualized"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-04-05 03:37] #8524 closed

[2018-04-05 03:57] gautamkmr commented on #9949
Looks like 1.0.0. was fine

PR which tried to add the numpy version but looks like python-2.7.10 is too old for numpy version 1.8.2.

https://github.com/apache/incubator-mxnet/commit/17427d1dc949cb921a190151bc8de74ed50504ef#diff-8cf6167d58ce775a08acafcfe6f40966R31

[2018-04-05 04:51] anirudhacharya commented on #8344
@lanking520 fixed in this PR - https://github.com/apache/incubator-mxnet/pull/10408

[2018-04-05 05:10] reminisce commented on #10416
Probably because you didn't specify the params of LeakyReLU and all the params use the default values. In this case, there is no `attrs` json key in the symbol output format for this operator. It's a bug of `plot_network` not handling this situation well.

We encourage you to try this [MXBoard](https://github.com/awslabs/mxboard) which is feature richer and handles this situation correctly.
[code]

[2018-04-05 05:17] anirudhacharya commented on #9159
@sandeep-krishnamurthy  This is a case of type promotion. Why is it an issue? In general in python, or in computer science, a warning or error is required only when there is a loss of information during a data type conversion.

If a float gets converted to an int then it is a matter of concern, but an int getting converted to a float should not be an issue, because there is no loss of information.

[2018-04-05 06:54] haojin2 commented on #9508
Hello, I tried to re-produce this issue earlier today with Spyder 3.2.6 on Windows 10/ CUDA 9.0/ Python 3.6.4 but with a newer build: mxnet-cu90-1.2.0b20180403 and was not able to reproduce the same bug. Please try the same code again with a newer build on your machine, and see if this bug still pops up, thanks for reporting the bug!

[2018-04-05 07:06] anirudh2290 commented on #9912
This doesnt seem like a bug. The reason that you see all those Nans is because you have already iterated through your dataset before the call to evaluate_accuracy. Your first example in mxnet-csviter where you dont see this issue is because evaluate_accuracy doesn't iterate through your dataset. I think the gluon documentation about DataLoader probably was confusing : http://gluon.mxnet.io/chapter

[2018-04-05 07:51] Tian14267 opened #10419 "How can I build mxnet in ubuntu16.04?"
When I build mxnet in ubuntu ,I get this error:

No package 'opencv' found
g++ -std=c++11 -c -DMSHADOW_FORCE_STREAM -Wall -Wsign-compare -O3 -DNDEBUG=1 -I/home/tian/mxnet/3rdparty/mshadow/ -I/home/tian/mxnet/3rdparty/dmlc-core/include -fPIC -I/home/tian/mxnet/3rdparty/nnvm/include -I/home/tian/mxnet/3rdparty/dlpack/include -I/home/tian/mxnet/3rdparty/nnvm/tvm/include -Iinclude -funroll-loops -Wno-

[2018-04-05 10:29] gianlucacorrado commented on #9704
Any reason why this issue was closed?

MXNet 1.0.0 and 1.1.0 return an MXNetError if I attempt at using layout='NWC':
`MXNetError: Invalid Input: 'NWC', valid values are: {None, 'NCDHW', 'NCHW', 'NCW', 'NDHWC', 'NHWC'}, in operator Convolution(name="", no_bias="False", num_group="1", num_filter="128", pad="(0,)", layout="NWC", dilate="(1,)", stride="(1,)", kernel="(5,)")`

Moreover, the list of va

[2018-04-05 10:40] marcoabreu commented on #9971
Done

[2018-04-05 12:26] szha commented on #8683
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-04-05 13:37] lebeg commented on #10230
I've created a JIRA issue for that [MXNET-286](https://issues.apache.org/jira/browse/MXNET-286)

[2018-04-05 13:56] KaiserSozo commented on #10148
Really?! No usual math functions for NDArray and Symbol. REALLY?!?!!?

[2018-04-05 15:14] lebeg commented on #10230
Have you tried `sudo apt install libpomp-dev`?

[2018-04-05 16:01] bradcar commented on #9217
Hi, @helloniklas I just tried to use your instructions with 10.13.4, Run `git clone --recursive https://github.com/apache/incubator-mxnet.git mxnet`  which gets the latest version which is 1.1.0
and I get the following error:

In file included from src/operator/nn/cudnn/../../../common/cuda_utils.h:31:
/Users/bradcarlile/mxnet/3rdparty/mshadow/mshadow/base.h:147:14: fatal error: 'cblas.h' file not

[2018-04-05 16:09] szha commented on #9217
@bradcar Change the `USE_BLAS` in config.mk to 'apple'.

[2018-04-05 16:20] eric-haibin-lin opened #10421 "Flaky LeakyRelu Test"
Failed in http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10285/8/pipeline

[code]

[2018-04-05 16:33] anirudhacharya commented on #10403
The test failed while trying to read a file from S3. It failed on the ``download`` method of ``mxnet.test_utils`` module (which is common code used by a lot of other tests too), here
[code]
The error logs say it failed while trying fetch the HTTP Response object because the connection was broken. Will look into how we can prevent this and ensure the test is not flaky.

@sandeep-krishnamurthy  can

[2018-04-05 16:45] szha commented on #9217
@bradcar would you mind sharing some of the compilation outputs from the terminal?

[2018-04-05 17:14] bradcar commented on #9217
sure, thanks in advance for your help...
[cblas-notfound.txt](https://github.com/apache/incubator-mxnet/files/1881030/cblas-notfound.txt)

[2018-04-05 17:16] haojin2 commented on #10421
The difference between the target and the actual result is really small, after some research I found this is caused by a too tight rtol (1e-4 instead of default 1e-2). A fix for this is delivered in #10422

[2018-04-05 17:32] Godricly commented on #9704
It was closed since no one had been watching.

[2018-04-05 17:49] szha commented on #9217
No problem. The error that you shared is the missing cblas.h. I checked the compilation line for the problem source, and it looks like this:
[code]
Note that there is `-I/System/Library/Frameworks/Accelerate.framework/Versions/Current/Frameworks/vecLib.framework/Versions/Current/Headers/`. In that place, I was able to find cblas.h on my machine. Could you check whether it's the case for you?

[2018-04-05 18:01] bradcar commented on #9217
under:  /System/Library/Frameworks/AVFoundation.framework/Versions/Current/Frameworks

I was not able to find:
/vecLib.framework/Versions/Current/Headers/

How do I get that installed/fixed?

[2018-04-05 18:28] szha commented on #9217
According to [this doc from OS X](https://developer.apple.com/library/content/documentation/MacOSX/Conceptual/OSX_Technology_Overview/SystemFrameworks/SystemFrameworks.html), you need OS X 10.0+ to get veclib.

[2018-04-05 19:58] #10421 closed

[2018-04-05 20:26] elabeca commented on #9087
Sorry @yangjunpro - I didn't get around in the end to do further testing. Based on @henripal 's results I'm happy to close this unless someone else has anything to add. Thanks again.

[2018-04-05 20:43] gautamkmr commented on #9949
1. Verified that it works fine on 2.7.14 but not 2.7.10

[2018-04-05 20:53] gautamkmr commented on #9949
By default all the mac os comes with either python2.7.14 or python3+.

Probably we can change the release doc with a statement saying, we need python 2.7.14+

[2018-04-05 21:46] ankkhedia commented on #9159
a = mx.sym.Variable('a', dtype='int32')

In the above code, though we have a placeholder for dtype, it doesn't actually fixes datatype for that symbol. As of now, restricting datatype of a symbol  in mxnet can be done using "cast" operator explicitly.

It can be achieved using  the following snippet
a = mx.sym.Variable('a')
a = mx.symbol.Cast(data=a, dtype='int32')

However, I think dtype paramete

[2018-04-05 22:05] rahul003 commented on #7073
@sandeep-krishnamurthy Please close this issue. I've verified that it doesn't segfault on master now.

[2018-04-05 22:06] msurguy commented on #10230
@lebeg should I do this before I install the `.whl` file or is it ok to run it after?

[2018-04-05 22:35] anirudhacharya commented on #9804
This issue is not reproducible on Mac with my RStudio installation. But I am able to reproduce it on one of my EC2 instances.

The only difference in the two installations is the mxnet version -
In Mac I am running
[code]
whereas on the ubuntu installation I am running the latest version -
[code]
The root cause of the problem is the behavior of mxnet's uniform distribution generator which is inter

[2018-04-05 22:54] marcoabreu commented on #10402
@aaronmarkham

[2018-04-05 22:58] bradcar commented on #9217
I have two macs 10.12.6 and 10.13.4 . I could not find  cblas.h in
`/System/Library/Frameworks/Accelerate.framework/Versions/Current/Frameworks/vecLib.framework/Versions/Current/Headers/`

There is no Headers directory in `/System/Library/Frameworks/Accelerate.framework/Versions/Current/Frameworks/vecLib.framework/Versions/Current/` All I see is:
Resources		libBNNS.dylib		libQuadrature.dylib	libvD

[2018-04-05 23:01] gautamkmr commented on #9949
So MAC OS system python-2.7.10 comes with default numpy version 1.8.0.rc1
We have to change the numpy lower bound version something smaller than 1.8.0.rc1

[2018-04-05 23:15] szha commented on #9217
I'm not sure what's happening there... Is xcode on your machine?

[2018-04-05 23:37] bradcar commented on #9217
xcode Version 9.3 (9E145)

[2018-04-06 00:06] gautamkmr commented on #10185
@conradwt  Can you please add more details ?
I dont see any file named libmxnet.dylib ? Did you mean libmxnet.so ?

[2018-04-06 00:17] lanking520 commented on #10414
I got the document generated, let's discuss where to put it

[2018-04-06 00:19] roywei commented on #9890
Hi @Caenorst
I think this is not a bug, users may want to create two variables with same name and use in different graphs as mentioned in your [reference issue](https://github.com/apache/incubator-mxnet/issues/2036). We should allow to use same name

This your case, the output seems correct, if modify your code to not use the same name:
`c=mx.sym.log(b,'x')`
it will print the same output as your c

[2018-04-06 00:35] conradwt commented on #10185
@gautamkmr After building the MXNet from source, I did receive an `libmxnet.so`.  However, I have another library which is wanting to use `libmxnet.dylib` by default.

[2018-04-06 00:51] bradcar commented on #9217
I re-installed my Xcode command line developer tools
`xcode-select --install`
Now the Header directory is there, and I no longer any cblas.h errors.

Where do I find the proper coda to install for mxnet 1.1.0 for mac?
/Users/bradcarlile/mxnet/3rdparty/mshadow/mshadow/base.h:157:12: fatal error: 'cuda.h' file not
      found
  #include <cuda.h>
           ^~~~~~~~
error.

[2018-04-06 00:53] szha commented on #9217
Usually it's in `/usr/local/cuda` once CUDA is installed.

[2018-04-06 01:00] bradcar commented on #9217
THANKS!
what website do I go to download the proper CUDA for mac 10.13.4 and mxnet 1.1.0?

[2018-04-06 01:34] anirudh2290 opened #10431 "Elementwise multiplication of two ndarrays returns wrong results"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-04-06 01:44] szha commented on #9217
That would be https://developer.nvidia.com/cuda-downloads

[2018-04-06 01:45] szha commented on #9217
and https://pypi.python.org/pypi?:action=display&name=mxnet-cu91&version=1.1.0

[2018-04-06 02:02] rahul003 commented on #10431
This seems to work on the current nightly pip package which uses the commit 5245ef68191a6d47594bf331ec6e20ba6e93ad4c  from April 2.

Looks like the bug was introduced after that.

Btw @szha The latest pip --pre package used the above commit from April 2. Is the package not built nighly?

[2018-04-06 02:04] anirudh2290 commented on #10431
@eric-haibin-lin please tag as bug.

[2018-04-06 02:43] kong13661 commented on #10419
Sorry, I don't know how to fix it, but I think updating your sources such as other ubuntu 16.04 and ubuntu14.04 sources will help you.

[2018-04-06 02:53] Sorry commented on #10419
Why are you tagging me???

[2018-04-06 03:56] #7073 closed

[2018-04-06 04:07] CodingCat opened #10432 "[scala-infer]move test files for scala infer API to s3"
can we move these files to S3?

https://github.com/apache/incubator-mxnet/blob/aa3f06511e96cbffc7a9a2d9e0a96cf0e446d646/scala-package/examples/src/test/scala/ml/dmlc/mxnetexamples/inferexample/imageclassifier/ImageClassifierExampleSuite.scala#L41-L48

Downloading speed is super slow and usually take minutes to finish

[2018-04-06 04:26] eric-haibin-lin commented on #10431
@rahul003 can you try `nd.elemwise_mul(x, x)` instead of `x * x`?

[2018-04-06 05:02] vdantu commented on #9613
@zhangchen-qinyinghua : Could you please share more information about what issue you were facing? Minimum reproducible code would be very nice to have.  Or, if you have a PR with suggested changes, please do share.

[2018-04-06 05:59] szha commented on #8532
@pengzhao-intel any update?

[2018-04-06 06:02] szha commented on #8532
Unless intel provides a static library for libiomp5 built with -fPIC flag, or drop the dependency on it, I don't see anything we can do from the mxnet side. Suggestions are welcome.

[2018-04-06 06:09] #7681 closed

[2018-04-06 06:59] reminisce commented on #8836
@MoritzMaxeiner Is the result produced by your script expected?

[2018-04-06 07:52] NKUCodingCat commented on #10419
Well....What you need is Google....

[2018-04-06 08:30] milandesai opened #10436 "FeedForward.scala and NDArrayIter.scala leak memory by not disposing of NDArrays"
## Description
FeedForward.scala and NDArrayIter.scala leak memory by not disposing of NDArrays. We see the below leak warnings occur running on MXNet 1.1.0. Additionally, there is no clean way of disposing a FeedForward and its contents.

## Version
MXNet 1.1.0

## Error Message:
[code]

The culprit appears to be FeedForward.scala:233 and NDArrayIter:163. Additionally, it would be nice to to prov

[2018-04-06 08:49] rahul003 commented on #10431
`elemwise_mul` has the same behavior crashes on the current master

[2018-04-06 08:53] indhub commented on #4253
The "Epoch[x] Train-accuracy=xxx" line printed at the end of every epoch gives the impression that the accuracy metric is for the entire epoch. In reality, it is NOT.

For example if an epoch consists of 101 batches and we were printing metrics every 10 batch because callback was created that way, what will be printed as 'Train-accuracy=xxx' at the end of an epoch is actually just the accuracy fro

[2018-04-06 09:26] milandesai opened #10438 "Loading an older model with a custom operator from Java/Scala more than twice causes MXNet to crash"
## Version
MXNet 1.1.0 with Scala

## Description
Our Scala application uses MxNet and includes several tests. Many of these tests load the same model files, so as a result the same process ends up loading a model multiple times. This normally works fine, but when upgrading from 0.11.0 to 1.1.0 we discovered an odd issue causing our tests to fail. We discovered that if you have a model that uses a

[2018-04-06 10:45] marcoabreu commented on #10432
@szha

[2018-04-06 12:47] MoritzMaxeiner commented on #8836
@reminisce I'm unsure as to what you're asking, specifically. The script should ideally have terminated with exit code 0 and no stdout/stderr output, which is not what happened, so that was unexpected for me.

[2018-04-06 12:57] marcoabreu commented on #10398
Fixed as of https://github.com/apache/incubator-mxnet/commit/582ec4015dff60a6ae6ff25f32cf4b1e3b65925a

@msurguy please validate

[2018-04-06 12:57] #10398 closed

[2018-04-06 13:24] dimon777 commented on #9912
Nice! Thanks for taking a look at this. Closing now.

[2018-04-06 13:24] #9912 closed

[2018-04-06 14:56] gianlucacorrado commented on #9704
Can you reopen it since it wasn't fixed?

Thanks

[2018-04-06 15:27] pengzhao-intel commented on #8532
@szha @ashokei is talking with MKL team for using libgomp in mxnet so it can avoid the dependency of libiomp.

@ashokei any update and please correct me if my understanding is not correct.

[2018-04-06 17:04] szha commented on #8532
@pengzhao-intel thanks for the update. @ashokei let us know how things progress and how this change impacts performance.

[2018-04-06 17:11] leleamol commented on #9699
The PR implementing the upgrade of numpy is merged. Can this issue be closed. @sandeep-krishnamurthy

[2018-04-06 17:13] #9699 closed

[2018-04-06 17:24] indhub commented on #5528
This should fix it: https://github.com/apache/incubator-mxnet/pull/10437

[2018-04-06 17:26] nswamy commented on #8530
This is now fixed.

[2018-04-06 17:26] #8530 closed

[2018-04-06 17:43] ThomasDelteil commented on #10037
@ajayvohra2005 the fix has been merged into master, please consider closing the issue, thanks!

[2018-04-06 17:43] reminisce commented on #8836
@MoritzMaxeiner Sorry should have made question clearer. I wanted to know that if you could reproduce the issue every time using the latest code/release. If not, when it does not crash, is the numerical result expected? This information would be helpful for us to find out whether it's an error of the implementation of the logic or some careless typo resulting in invalid memory access.

[2018-04-06 18:39] #10037 closed

[2018-04-06 18:44] reminisce commented on #8048
@dmadeka I was trying to debug this issue, but couldn't reproduce it using the latest master branch code. My script is as the following. Could you please confirm whether the problem still exists? From what you described, this is more like an issue of the graph executor assigning wrong `req` to the input of the `transpose` operator.
[code]

[2018-04-06 19:32] MoritzMaxeiner commented on #8836
@reminisce Ah, ok. W.r.t. reproducing: I haven't encountered the issue [in 1.0 or 1.1](https://github.com/apache/incubator-mxnet/issues/8836#issuecomment-372075664), so no I can't reproduce it in lastest code/release. Concerning the numerical result: That's hard to say precisely as it involves plently of (inherently inaccurate) floating point math (so I can't just calculate the operations another

[2018-04-06 19:35] #10305 closed

[2018-04-06 20:43] gautamkmr commented on #10185
@conradwt  probably not the best guess, but I will just rename libmxnet.so and try it. Meanwhile I will see if we can build this file as well as a part of build process.

[2018-04-06 21:37] dmacd commented on #10002
Hi there. My team is keenly interested in building on mxnet but we are starting to look at techniques requiring higher order derivatives (also wgan-gp, in particular). Is this capability being actively developed?

[2018-04-06 21:40] aidan-plenert-macdonald commented on #10002
@dmacd Probably not as fast as you would like it to be. This is my side-side project, so I put a few hours in every week or so. If you want to take lead on the development, I could help where I can.

[2018-04-06 21:55] roywei commented on #2116
@helloworldlxb @Matafight this issue should be fix by PR #10446

[2018-04-06 22:41] sxjscience commented on #9171
Looks similar. I'm trying to give a MWE.

[2018-04-06 22:44] eric-haibin-lin commented on #10041
fixed

[2018-04-06 22:44] #10041 closed

[2018-04-06 22:47] reminisce commented on #8799
Minimum reproducible script:
[code]

[2018-04-06 23:07] conradwt commented on #10185
In general, it may be also a good idea to install both the include and library in /usr/local/include and /usr/local/lib respectively after the MXNet has been built.  At this time, the library has a relative path `lib/libmxnet.so` and it probably would be better to use something like `@rpath/libmxetnet.so` during the build process.

[2018-04-06 23:14] ThomasDelteil commented on #9622
I confirm this is still the case:
`INFO:root:Epoch[239] Validation-mAP=0.709660`

[2018-04-07 00:26] szha commented on #8714
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-04-07 01:32] gautamkmr commented on #10185
That sounds more to me like a feature request than bug/installation.

[2018-04-07 01:35] roywei commented on #8337
@kpot  may I know what's the purpose of slice? let's say if you want a[0:2], how you want to use it?
`a[0:4]` is a shallow copy of `a` , using slice in autograd may not be the idea way.
In your case for OpenCL device, could you try to use symbolic gradient directly from nnvm? refer to [gradient](https://github.com/dmlc/nnvm/blob/master/src/pass/gradient.cc) and [test](https://github.com/dmlc/nnvm/

[2018-04-07 02:33] sxjscience opened #10453 "Bug of CuDNN RNN with variable sequence length"
## Description
Segfault will be triggered by the following code:

[code]

I'm using V100 + cuda 9.0 + cudnn 7.0.4 (P3 instance).  The GPU memory keeps increasing and finally raises seg fault.

Also, the same script + configuration has not triggered an error in M60 (g3 instance).

@eric-haibin-lin @DickJC123 @szha @szhengac

backtrace:
[code]

[2018-04-07 02:46] sxjscience commented on #10453
The following code, which always use `seq_len=500` will not trigger the seg fault. This is a very critical bug.

[code]

[2018-04-07 03:12] anirudh2290 commented on #8883
@sandeep-krishnamurthy @marfago this is fixed by the Exception handling change. Can this be closed ?

[2018-04-07 03:31] anirudh2290 commented on #10073
Since we didnt get a MWE can we close this ? @sxjscience

[2018-04-07 03:38] szhengac commented on #10453
The bug occurs when have variable sequence length. I think it may be related to how the mxnet reuse the memory.

[2018-04-07 03:49] #10073 closed

[2018-04-07 04:59] #8883 closed

[2018-04-07 06:11] szha commented on #10453
I was able to finish running the script by setting `export MXNET_GPU_MEM_POOL_RESERVE=7`

[2018-04-07 06:15] eric-haibin-lin commented on #10453
@szha how much memory consumption did you observe?
One thing to try is to can run the code step by step and figure out which batch causes the err

[2018-04-07 06:43] Godricly commented on #9704
@gianlucacorrado reopened

[2018-04-07 07:54] majia-yu opened #10455 "Bug of group2ctxs for model parallelism"
# Description

`mx.mod.Module` with `group2ctxs` gives different results, for `num_gpus` <= 7 and >= 8.

A short example is the graph as below, behaves differently given different `gpus` and `args.group2ctxs`, with a customized `softmax`.

(Its complete code sample follows later.)

[code]

# Steps to reproduce

The script `magic.py` (attached later) gives different results as following:

[code]

B