[2020-07-10 06:00] access2rohit commented on #17331
Currently Large Tensor Support work on all operators implemented in MXNet and MKLDNN also supports int64. CUDA kernels written inside MXNET both generic(cpu/gpu) and specific(gpu only) support large tensors depending on device memory.

BLAS and LAPACK libs were not considered while defining the scope of the project. Currently following BLAS and LAPACK implementations are supported inside MXNet

op

[2020-07-10 06:38] wkcn commented on #18685
Agree the expected result, which is consistent with `mx.nd`:
[code]

[2020-07-10 08:50] AntiZpvoh opened #18687 "Unit test 'test_npx_batch_norm' failed under UNIX GPU environment"
## Description
Unit test 'test_npx_batch_norm' failed under UNIX GPU environment. And this test is in file tests/python/unittest/test_numpy_op.py.

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/master/2099/pipeline/376
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18319/30/

[2020-07-10 09:03] MrRaghav commented on #18662
Hello, sorry for late reply. I was working on your suggestions and used sacrebleu version 1.4.3 to get successful model with sockeye 2.1.7.

Machine translation model was built successfully. I was able to run the **sockeye.translate** command but the translated results are not up to the mark. I will work in it.

Thank you so much for your time. I am closing this issue.

[2020-07-10 09:03] #18662 closed

[2020-07-10 12:10] wkcn commented on #18687
The issue may be related to the PR #18504

[2020-07-10 14:50] photoszzt commented on #16176
I'm hitting this problem:
I'm using Mxnet 1.6.0 and onnx 1.7.0.
[code]

[2020-07-10 15:08] sandeep-krishnamurthy commented on #17331
Thanks @access2rohit for the summary.

Is the plan for enabling Large Tensor Support in the following order?
1. Make openBLAS compatible with Large Tensor support and merge the PR for Enabling Large Tensor Support so that default PyPi users of MXNet can already benefit from the new capability. This will actually cover largest user base of MXNet.
2. Next, we work on enabling MKL bindings capable of

[2020-07-10 15:58] szha commented on #17331
Has the large tensor for numpy array been supported?

[2020-07-10 16:11] sandeep-krishnamurthy commented on #17331
@access2rohit can correct me, but, few of them are supported as they use same kernels under the hood. This issue scope was mainly on the NDArray when it got started. After these are done, remaining Numpy ops will also be supported.

[2020-07-10 16:36] access2rohit commented on #17331
yes

[2020-07-10 16:42] access2rohit commented on #17331
We looked at numpy files inside MXNet and they are using index_t for iterating over elements in their own kernels and use NDarray ones for remaining in which we ensured to use index_t where required. For kernels using BLAS I will update them in the same PR as making MXNet wrappers for openBLAS int64 compatible.

[2020-07-10 17:16] leezu commented on #17331
I'm a little concerned that we don't have a correct integration of BLAS and Lapack. BLAS kernels and will get potential crashes or corrupt results. But I think @sandeep-krishnamurthy's point

refers to fixing this? If so, I'm fine with the order of execution. Thank you @access2rohit for the hard work on this feature

[2020-07-10 17:21] access2rohit commented on #17331
@leezu yes thats what I meant

[2020-07-10 17:57] leezu commented on #18680
WARNING: autodoc: failed to import module 'executor' from module 'mxnet'; the following exception was raised:
No module named 'scipy'
from the log

https://github.com/apache/incubator-mxnet/commit/b4b8b805fe94a6df905c6eae7f6c1f83cfea9b73 introduces the scipy import

[2020-07-10 18:59] #18687 closed

[2020-07-10 21:25] szha commented on #17331
I think the numpy frontend hasn't supported large tensors yet. I started working on it here https://github.com/apache/incubator-mxnet/pull/18368 but I haven't found the time to finish migrating all the tests. @access2rohit would you be able to help out and take that over?

[2020-07-11 00:31] ChaiBapchya opened #18693 "[Website] Clipboard option not displayed properly & Page gets clipped horizontally"
## Description
Page: https://mxnet.apache.org/api/python/docs/tutorials/deploy/export/onnx.html
Browser: Firefox

### Issue 1:
Copy button isn't shown properly. I guess it's supposed to show a clipboard or something written on Copy instead of grey small square button
![Screen Shot 2020-07-10 at 5 22 17 PM](https://user-images.githubusercontent.com/10992635/87212269-7e883d80-c2d2-11ea-9af3-29a49cd1

[2020-07-11 00:31] ChaiBapchya commented on #18693
@mxnet-label-bot add [website]

[2020-07-11 00:35] ChaiBapchya commented on #17982
https://github.com/apache/incubator-mxnet/issues/18693
- Clipped table of contents
- Missing copy button

[2020-07-11 07:30] Xenos24R commented on #17887
Hi alinagithub,
Thank you for your reply.I think the problem may have been caused by a file path error in some configuration files due to the installation of both GPU and CPU versions of MXNET,and I solved the problem by creating a virtual environment.

[2020-07-11 07:31] Xenos24R commented on #17887
Hi alinagithub,
Thank you for your reply.I think the problem may have been caused by a file path error in some configuration files due to the installation of both GPU and CPU versions of MXNET,and I solved the problem by creating a virtual environment.

[2020-07-11 08:10] woreom commented on #18471
I ended up compiling everthing with gcc-4.9 and g++-4.9 (python,opencv,mxnet). it also seems the version of your python is also important I used python-3.7.4

[2020-07-11 16:09] #18680 closed

[2020-07-11 23:30] JeanKossaifi opened #18695 "Transpose only supports up to 6 dimensions"
## Description
Transpose does not currently support tensors with more than 6 dimensions.

### Error Message
[code]

## To Reproduce
Apply transpose to a higher-order tensor.

## Environment
Python 3.7.3
MXNet 2.0.0

[2020-07-12 17:53] szha commented on #18695
Thanks for reporting, Jean. I confirm that this affects numpy operators too.

[2020-07-12 18:02] szha commented on #18695
Two changes will help immediately:
- Collapse consecutive axes of the input array into a single axis here https://github.com/apache/incubator-mxnet/blob/master/src/operator/numpy/np_matrix_op-inl.h#L142-L149
- Extend the implementation to support more https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/matrix_op-inl.h#L362-L419

The root cause is really the limitation of temp

[2020-07-12 18:21] szha commented on #18265
This is probably not a good first issue without suggesting where to add the check.

[2020-07-12 18:30] szha commented on #18229
I think this issue requires developers to navigate through the set-up of CI pipeline and eventually come to the responsible script, so it's not a good first issue without pointers on the code base.

[2020-07-12 18:33] szha commented on #17419
I think those should point to the API doc instead. Also, the parameterdict is deprecated in 2.0. cc @leezu for the issues.

[2020-07-12 18:36] szha commented on #17412
this is probably not a good first issue without pointers to where the related source code is for addressing the problem.

[2020-07-12 18:38] szha commented on #16851
this issue is related to an op that is deprecated in 2.0, so I'm marking this as 1.x.
this issue is probably not a good first issue without pointers on where to look to address it.

[2020-07-12 18:43] #15376 closed

[2020-07-12 18:46] szha opened #18697 "AMP for mx2"
## Description
We will need to AMP support in order to achieve the best performance with fp16 on NVIDIA GPU. In terms of approach, AMP should rely on custom graph pass functionality in 2.0 and not be monkey patching the frontend for swapping the operators

[2020-07-12 18:56] szha commented on #18460
Is this still occurring?

[2020-07-12 18:57] szha commented on #15669
This should have been addressed in https://github.com/apache/incubator-mxnet/pull/17681

[2020-07-12 18:57] #15669 closed

[2020-07-12 20:55] TristonC commented on #17665
Update the result in NGC 20.06 container on GV100 32GB card:

- MXNet: 11.48s

- Pytorch: 11.26s

[2020-07-12 21:46] szha opened #18698 "missing commands in the instructions for building from source"
## Description
As part of #18487 the build from source instruction no longer includes the commands for building from source. Also, it doesn't document the usage of the cmake configs in https://github.com/apache/incubator-mxnet/tree/master/config

[2020-07-13 10:18] r2d3 commented on #17826
Hello @Sunhil

The solution is to do "import mxnet" ONLY in the forked process. I have made a PullRequest to show how to solve this problem

https://github.com/aws-samples/parallelize-ml-inference/pull/4

Regards

David

[2020-07-13 16:59] leezu commented on #18698
The documentation is contained in the files. https://github.com/apache/incubator-mxnet/blob/19e373daac76b466cf11b5d31fa5d5e2eb518a21/config/linux.cmake#L18-L36

[2020-07-13 16:59] #18698 closed

[2020-07-13 17:55] ptrendx commented on #18697
Hi @szha, could you clarify how this approach (graph pass) would work for the non-hybridized execution? I don't think it would be applied then, which would produce a difference in the behavior. That would negatively impact debuggability of models for example, which is pretty bad.

That said, one of the prerequisites for the graph pass is to remove AMP lists and instead put their content as op's at

[2020-07-13 19:03] kpuatamazon opened #18699 "Simplified HybridBlock.forward commit made Sockeye 4% slower"
I'm experiencing a 4% slowdown in due to commit 83b51703e "Add simplified HybridBlock.forward without F (#17530)".

| Commit | Time (s) |
| -- | -- |
| 08528c5cb9449e634f55cb72ceb2b1910d176f80 | 295.90 |
| 56e79853ad5cf98baf84454eb595c7658bef6ee6 | 295.73 |
| d4052fde4a94c8a70f805fe9b44980125afa8686 | 295.69 |
| 9a355ebc1dfc5c087d41bb24c946e7f773e01af9 | 295.28 |
| 3840786a25b16d0cfe6411e26f25aba8

[2020-07-13 19:20] leezu commented on #18699
Can you share the benchmark script and point out where it uses the HybridBlock? How many forward / backward operations are run by the script? We need to identify if the regression is due to changes in frontend or backend.

If it's in the frontend, the overhead might be from supporting both the deprecated and to be removed Python APIs as well as the updated API (ie. compatibility / MX1to MX2 transi

[2020-07-13 20:13] szha commented on #18697
@ptrendx the reasoning is that we shouldn't need to optimize pure imperative program, because that is designed for model debugging and development, and not for performance.

That said, I recognize that there are still cases where we can't hybridize fully yet and still need performance. One short-term approach could be to utilize the [`mx.set_np_default_dtype`](https://github.com/apache/incubator-m

[2020-07-13 20:26] yuzhoujianxia commented on #14799
I got the similiar error

[2020-07-13 20:30] ptrendx commented on #18697
It is not just about performance though - AMP changes numerics of the model, so I don't believe it would be great user experience if they got the model to where they liked it, hybridized it and suddenly got different answer.

One way of solving this I guess could be similar to what happens with the storage type (but just on the input side), where the input would be cast before the operator.

[2020-07-13 20:53] szha commented on #14799
@yuzhoujianxia thanks for reporting. Would you mind filling a [new bug report](https://github.com/apache/incubator-mxnet/issues/new?assignees=&labels=Bug%2C+needs+triage&template=bug_report.md&title=) for your case?

[2020-07-13 22:15] leezu commented on #18460
There was no change in the compilers, but possibly change in mxnet code avoids the problem. The problem wasn't frequent before, so it's hard to tell.

@ChaiBapchya can you help add the `Internal error in` regex to the CI Lambda Check? Or do we have another easy way to filter all CI logs for the prevalence of this issue?

[2020-07-13 22:29] wkcn commented on #18695
Hi @szha , I am trying to fix it and select 'Collapse consecutive axes of the input array into a single axis here when axes.ndim() > 2'.

[2020-07-13 22:54] #16349 closed

[2020-07-13 23:40] leezu commented on #18564
Probably only failing on CD and not CI because the test is never run on CI... See https://github.com/apache/incubator-mxnet/pull/18701

[2020-07-14 00:13] ChaiBapchya commented on #18665
@rondogency and this is for training right? for inference MXNet supports running mean/var right?

[2020-07-14 00:48] leezu commented on #15406
`test_profile_create_domain_dept` is also problematic http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18701/1/pipeline/378

[2020-07-14 01:14] ranjitkathiriya opened #18702 "ImageListDataset"
##

### (module 'mxnet.gluon.data.vision.datasets' has no attribute 'ImageListDataset'

### Steps to reproduce
a = mx.gluon.data.vision.datasets.ImageListDataset(root=train_paths, imglist=None, flag=1)
## What have you tried to solve it?

#18702

[2020-07-14 02:01] ghgggg commented on #15540
so sad i met this problem yesterday ，anyone resolve it？

[2020-07-14 02:50] wkcn commented on #18695
Hi @szha , I create a [`TransposeKernel`](https://github.com/wkcn/incubator-mxnet/blob/support_transpose_dim_gt_6/src/operator/tensor/matrix_op-inl.h#L324) and need to copy the argument (namely `axes`) into the target context. Is there any good way to copy it?

I try to call [`get_space_typed`](https://github.com/wkcn/incubator-mxnet/blob/support_transpose_dim_gt_6/src/operator/tensor/matrix_op-in

[2020-07-14 11:01] lingweiyang opened #18709 "convolution"
What kinds of convolution algorithms does mxnet have?
Can it support more kinds of BLAS libraries to compute convolution in the future?

[2020-07-14 11:41] bgawrych opened #18710 "[Numpy] Backward of softmax, logsoftmax failed on empty ndarray"
## Description
During backporting change #18602 to branch v1.x, CI detected problem similar to original issue (#18569).
Backward propagation of softmax and log_softmax causes MXNetError: Check failed: delay_alloc:

### Error Message
[code]

## To Reproduce

[code]

PR is on its way

[2020-07-14 13:46] xidulu opened #18712 "Auto-encoder example out of date"
CNN Autoencoder under the example folder is till using the "old" api:

[code]
which would cause:
[code]
when using the nightly version of MXNet.

## Reference
https://github.com/apache/incubator-mxnet/blob/master/example/autoencoder/convolutional_autoencoder.ipynb

[2020-07-15 06:50] jinboci opened #18716 "[RFC] Use TVMOp with GPU & Build without libcuda.so in CI"
## Problem 1: TVMOp doesn't work well with GPU builds [#17840](https://github.com/apache/incubator-mxnet/issues/17840)

### The error message:

[code]

### Root cause:

In [mxnet/contrib/tvmop/compile.py](https://github.com/apache/incubator-mxnet/blob/master/contrib/tvmop/compile.py), only `function_binary` `(llvm Module)`is saved in `libtvmop.so`. The `imported_modules` `(cuda Module)`is not save

[2020-07-15 06:56] jinboci commented on #18716
@leezu Would you please take a look? Thank you!

[2020-07-15 07:09] ZheyuYe opened #18717 "[Bug] Wrong parameters dict for weights sharing"
## Description
[code]
Output:
[code]
Here `l1` and `l2` are shared and thanks for the flag `deduplicate`, we could save shared paremeters only once as well as the dictionary correspondence using the last parameter name as key like `dict_keys(['l2.weight', 'l2.bias'])`. There's nothing wrong with that unless we just load part parameters, as `foo2 = Foo(use_mlm=False)`.

Of course we can solve this

[2020-07-15 07:11] samskalicky commented on #18716
@mxnet-label-bot add [Numpy]

[2020-07-15 14:24] bmistral commented on #17395
I am facing the same issue with 3 different onnx models from keras ....
Did you solve the problem ? Anyone ?

[2020-07-15 15:50] leezu commented on #18716
Many customers use a single mxnet build that supports gpu features and deploy it to both gpu and cpu machines. Due to the way how cuda containers are designed, libcuda.so won't be present on the cpu machines. That's why it's better to dlopen(cuda) only once needed. This not only affects tvmop but als nvrtc feature in mxnet.

Using the stubs is a workaround for using dlopen, but adds additional req

[2020-07-15 17:16] leezu commented on #18717
In summary, the feature request is that `save_parameters(..., deduplicate=True)` stores all the names a shared parameter is known under so that the resulting parameter file can be loaded for arbitrary variations of the original models in which a different set of parameters is shared.

It's not really a bug, because the same limitation is present in the MXNet 1.x `save_parameters(..., deduplicate=T

[2020-07-15 20:57] ChaiBapchya opened #18719 "[website] beta.mxnet.io redirects affecting discoverability"
## Description
#### Search
- Searching mxnet grid generator, mxnet grid sampler, mxnet bilinear sampler, mxnet batchnorm on google
- all 3 searches give beta.mxnet.io links in first 2 results
- Clicking on all of them routes to mxnet.apche.org landing page and not the actual page of the API.

![Screen Shot 2020-07-15 at 1 53 23 PM](https://user-images.githubusercontent.com/10992635/87595004-b7ddf6

[2020-07-15 20:58] ChaiBapchya commented on #18719
@ys2843

[2020-07-15 20:58] ChaiBapchya commented on #18719
@mxnet-label-bot update [bug, website]

[2020-07-15 20:59] #18637 closed

[2020-07-15 20:59] ChaiBapchya commented on #17982
https://github.com/apache/incubator-mxnet/issues/18719
- beta.mxnet.io redirects to mxnet.incubator.apache.org/ landing page [instead of specific API]
- google index needs to be updated to point to mxnet official API page [instead of beta site]

[2020-07-15 21:26] leezu opened #18720 "test_inter_methods_in_augmenter timeout"
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18319/runs/36/nodes/350/steps/489/log/?start=0

[code]

[2020-07-15 21:26] leezu commented on #18720
Network issue..

[2020-07-15 21:26] #18720 closed

[2020-07-15 22:08] leezu commented on #17676
NNPACK is currently only supported in the Makefile build (https://github.com/apache/incubator-mxnet/issues/15974), which will be removed. I think oneDNN (mkldnn) replaced it and we can remove it. Any concerns?

[2020-07-15 23:28] szha opened #18723 "[WIP] Instructions for interactive shell with the test environment on CI for reproducing and debugging tests"
## Description

Currently the instructions for interactive shell with the test environment on CI for reproducing and debugging tests is not documented on cwiki or the website. The process involves:

1. observe the failed pipeline and examine the log to find the test
![image](https://user-images.githubusercontent.com/2626883/87608515-fb416000-c6b4-11ea-8d43-b94eaaf84adc.png)

1. find the Jenkins fi

[2020-07-15 23:39] szha commented on #18723
This process is quite complex and has taken me quite some time to reproduce, so we should probably work on simplifying it. It's almost impossible for a newcomer to reproduce these steps just by following the code, and the process is not yet documented anywhere, so we need this to be documented in either cwiki or the mxnet site.

[2020-07-15 23:44] yzhliu commented on #18716
I'm fine to disable tvm op (or mark it as experimental) for now, if it does need another 4 - 6 weeks to fully address the underlying problem, as we have some more urgent tasks on numpy side.

[2020-07-16 01:11] aaronmarkham opened #18725 "metric.py change between branches - missing docs in master"
## Description
Looks like master and 1.x have different implementations of metric and this has broken the docs in the process.

This is blank:
https://mxnet.apache.org/api/python/docs/api/metric/index.html

Metric is under gluon in master:
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/metric.py

1.6 has it:
https://mxnet.apache.org/versions/1.6/api/python/docs/api/metric

[2020-07-16 01:23] aaronmarkham opened #18726 "kvstore doc missing"
## Description

Empty:
https://mxnet.apache.org/api/python/docs/api/kvstore/index.html

The docs just lists the members, so maybe this was moved in master? Is `mxnet.kvstore` no longer valid?
https://github.com/apache/incubator-mxnet/blob/master/docs/python_docs/python/api/kvstore/index.rst

1.6 shows up just fine:
https://mxnet.apache.org/versions/1.6/api/python/docs/api/kvstore/index.html

[2020-07-16 01:25] aaronmarkham opened #18727 "module doc missing"
## Description
This is blank: https://mxnet.apache.org/api/python/docs/api/module/index.html

I believe this was deprecated. Should this node be removed or should it point to older versions?

[2020-07-16 01:29] aaronmarkham opened #18728 "search issues"
## Description
* Doesn't return results on v1.6
  - to reproduce, change version to 1.6, then search for metric.
<img width="839" alt="2020-07-15_18-28-17" src="https://user-images.githubusercontent.com/5974205/87616027-f7b7d400-c6c8-11ea-8159-bb4b116f88c7.png">

* Doesn't have metadata about which API is being returned... Having a list of results that all look the same, but are not the same, isn'

[2020-07-16 01:35] aaronmarkham opened #18729 "TensorRT tutorial is missing in master"
## Description
So the docs give a 404. https://mxnet.apache.org/versions/1.6/api/python/docs/tutorials/performance/backend/tensorrt/index.html

Here's the old version of it assuming it is still valid for master.
https://github.com/apache/incubator-mxnet/blob/v1.x/docs/python_docs/python/tutorials/performance/backend/tensorrt/tensorrt.md

[2020-07-16 01:38] aaronmarkham opened #18730 "executor_manager doc shows up blank in master"
## Description
This is blank: https://mxnet.apache.org/api/python/docs/api/mxnet/executor_manager/index.html
Looks like it was (re)moved in master. Does this doc node need to be removed?

[2020-07-16 02:00] DickJC123 opened #18731 "test_numpy_default_dtype::test_default_float_dtype is not flagging true_divide op issues"
## Description
test_default_float_dtype tests (among other things) the true_divide op's ability to divide an int array by an int scalar to produce either a float32 or float64 output array based on the setting of is_np_default_dtype.  However, the test overlooks a backend error that is created during the test, which can surface during a test teardown of a future test.  This is not only confusing, b

[2020-07-16 02:05] szha commented on #18210
@leezu has there been an update on this?

[2020-07-16 02:13] #7578 closed

[2020-07-16 02:15] #11629 closed

[2020-07-16 02:16] #15320 closed

[2020-07-16 02:19] szha commented on #18702
It's unclear under what setting this happened since the bug report template wasn't properly filled, so there isn't much I could do. I confirm that the dataset class is still available here
https://github.com/apache/incubator-mxnet/blob/690132516a0a99337625248772fd44930686a82b/python/mxnet/gluon/data/vision/datasets.py#L365

[2020-07-16 02:19] #18702 closed

[2020-07-16 02:20] szha commented on #18710
Thanks for reporting. cc @yzhliu

[2020-07-16 02:44] szha commented on #18712
I think in addition to fixing the example, we need a mechanism to detect such problems. I started a discussion for managing examples in https://lists.apache.org/thread.html/rf0c95283d86cce60f98943f7d6e3387d6bad180a621bd939a1b2960f%40%3Cdev.mxnet.apache.org%3E

[2020-07-16 02:45] szha commented on #18727
let's have it removed.

[2020-07-16 02:46] szha commented on #18726
@eric-haibin-lin how should the kvstore be documented?

[2020-07-16 02:49] szha commented on #18730
@eric-haibin-lin do we need this?

[2020-07-16 02:49] #14851 closed

[2020-07-16 02:54] szha commented on #18725
@leezu how would you like this module documented?

[2020-07-16 02:56] szha commented on #18716
Instead of linking tvm to mxnet, can we use TVM to generate source code and test as custom c++ operator?

[2020-07-16 07:04] leezu commented on #18210
Github needs to fix it

[2020-07-16 12:11] Qengineering commented on #18536
I've had the same problem with the memory exhausting. It has to do with GNU compiler. The compiler is very memory hungry, especially when long chains off template code is involved. Even with 8 GByte of RAM, the compilation crashes. The solution is using the Clang compilers temporarily when installing MXNet on a 32-bits Raspberry Pi OS. The 64-bit OS didn't suffer from memory shortage. For a detail

[2020-07-16 12:17] Qengineering commented on #18628
I've built the latest version of MXNet (2.0.0) on a Raspberry Pi with 32 bit and 64 bit OS successfully. The instruction can be found here [](https://qengineering.eu/install-mxnet-on-raspberry-pi-4.html)

[2020-07-16 12:46] lilipj commented on #17395
I've used the onnxmltool.convert_keras function, it works with target_opset=8 (9 fails)

[2020-07-16 12:54] woreom commented on #18536
@Qengineering Thank you for your response, It seems that the CC compiler is the issue however I used GCC-4.9 to overcome it, I wanted to use OpenCV so I had to compile OpenCV with GCC-4.9, too (otherwise it won't work) also the latest python supported by raspbian is python3.7.3 which does not go well with mxnet and OpenCV, so I build python-3.7.4, again with GCC-4.9. I look around your post quit f

[2020-07-16 12:54] #18536 closed

[2020-07-16 14:39] chinakook commented on #18543
It's an urgent job because the MXNet 2.0 delete the symbolic executor API.

[2020-07-16 15:37] szha commented on #18543
@eric-haibin-lin @ArmageddonKnight could you update on this?

[2020-07-16 15:57] ptrendx commented on #18729
@Kh4L Could you check if the content from 1.x is ok / modify the example to work with the current master?

@aaronmarkham You gave link to 1.6 version, which seems to be there, the one that does not work is the master equivalent: https://mxnet.apache.org/api/python/docs/tutorials/performance/backend/tensorrt/tensorrt

[2020-07-16 17:25] #18695 closed

[2020-07-16 17:54] leezu opened #18732 "Website build is untested"
Website is built from master branch; but there is no PR check ensuring that a PR does not break the website build.

Thus website breaks frequently

- https://github.com/apache/incubator-mxnet/issues/18680
- https://github.com/apache/incubator-mxnet/issues/18725

[2020-07-16 17:54] leezu commented on #18725
The module should be documented in the same way as any other module on the website. The issue here is that the website build is not tested in PRs and thus it's no surprise to find various parts of the build break. Can we prioritize fixing the root-cause? https://github.com/apache/incubator-mxnet/issues/18732

[2020-07-16 18:13] guptaanshul201989 opened #18734 "Multi-gpu Mxnet training in sagemaker gives cuda error when dataloader is using multiprocessing"
I am trying to train a transformer seq-to-seq model on Sagemaker ( The script I am using works fine when I run it on an EC2 multi gpu instance ).

When I start a training job on sagemaker, the training progresses fine, but it logs a cuda error:

`[03:28:04] src/engine/threaded_engine_perdevice.cc:101: Ignore CUDA Error [03:28:04] /root/pip_build/mxnet-build/3rdparty/mshadow/mshadow/./tensor_gpu-in

[2020-07-16 18:14] leezu commented on #18734
Try not using cuda before enabling the multiprocessor as a workaround. There are various bugs in the multiprocessing implementation in MXNet

[2020-07-16 18:37] DickJC123 opened #18736 "unittest/test_numpy_interoperability.py inadvertently puts additional unittests on a fixed seed"
## Description
The following code in test_numpy_interoperability.py sets a numpy seed unilaterally, thereby making deterministic the random numbers used in subsequent unittests: https://github.com/apache/incubator-mxnet/blob/2abf0b8c2b3361c73c9dfdeabdb8a88278b693d0/tests/python/unittest/test_numpy_interoperability.py#L515-L528

Also, since the code is executed on import of the file, this sets the

[2020-07-16 19:28] DickJC123 commented on #18736
While technically a different issue, test_numpy_interoperability.py has a spurious print statement: https://github.com/apache/incubator-mxnet/blob/2abf0b8c2b3361c73c9dfdeabdb8a88278b693d0/tests/python/unittest/test_numpy_interoperability.py#L2896-L2902

I've removed this in PR https://github.com/apache/incubator-mxnet/pull/18694 commit https://github.com/apache/incubator-mxnet/pull/18694/commits/3

[2020-07-16 19:39] DickJC123 opened #18737 "test_operator_gpu.py::test_batchnorm_with_type inadvertently retests cases, misses others"
## Description
Notice the test case duplication in the code:
https://github.com/apache/incubator-mxnet/blob/2abf0b8c2b3361c73c9dfdeabdb8a88278b693d0/tests/python/gpu/test_operator_gpu.py#L406-L424

This is one of the issues fixed by PR https://github.com/apache/incubator-mxnet/pull/18694 in commit https://github.com/apache/incubator-mxnet/pull/18694/commits/4e81d14fb05d48e1eb53e861fb0065b68347f4c0

[2020-07-16 21:09] leezu opened #18739 "Compiling with ps-lite enabled leaves 3rdparty/ps-lite/src/meta.pb.cc 3rdparty/ps-lite/src/meta.pb.h in tree"
## Description
Compilation will generate the `3rdparty/ps-lite/src/meta.pb.cc` `3rdparty/ps-lite/src/meta.pb.h` files.
This causes issues when compiling using different Docker containers or on the host platform, as subsequent compilation attempts won't generate the files and instead will fail with the error:

[code]

No files should be generated in the src or 3rdparty folder; but all build-generat

[2020-07-16 23:54] leezu opened #18740 "test_sparse_operator.py::test_elemwise_binary_ops"
## Description
Tests crashes affecting multiple PRs: https://github.com/apache/incubator-mxnet/pull/18711 https://github.com/apache/incubator-mxnet/pull/18694 https://github.com/apache/incubator-mxnet/pull/18722 https://github.com/apache/incubator-mxnet/pull/18733

[code]

[2020-07-17 00:25] Kh4L commented on #18729
@ptrendx @aaronmarkham It has been removed in this PR https://github.com/apache/incubator-mxnet/pull/18579
cc @eric-haibin-lin

[2020-07-17 03:46] chengyuz opened #18743 "AMP: an illegal memory access was encountered"
## Description
i followed this link(https://mxnet.apache.org/api/python/docs/tutorials/performance/backend/amp.html) to enable amp in my project, but with error:
INFO:root:----------------------------------------------------------------------------------------------------
INFO:root:Using AMP
INFO:root:Features in transition 1: 96 -> 96
INFO:root:Features in transition 2: 192 -> 192
INFO:root:Featu

[2020-07-17 04:24] szha commented on #18743
how do you reproduce the error?

[2020-07-17 05:03] szha commented on #18682
@ys2843 can this be applied onto s3, or otherwise can we get ride of the redirection?

[2020-07-17 17:28] #18725 closed

[2020-07-17 17:38] leezu opened #18745 "Run Large Tensor Tests as part of PR tests"
While there is an effort to enable large tensor feature by default (https://github.com/apache/incubator-mxnet/pull/18625), the feature is only tested nightly and in fact the tests are failing: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/752/pipeline/96

As this will be a default feature, and especially as the test only runs 30min, can we e

[2020-07-17 19:28] leezu commented on #17810
GraphExecutor was removed

[2020-07-17 20:10] access2rohit commented on #18745
@leezu simply running all tests within test_large_array.py takes more than 90mins. I don't think its practical to enable them on CI. It will simply timeout on all PRs

[2020-07-17 20:20] leezu commented on #18745
Why does the run linked above only take 26m then?

[2020-07-17 20:25] access2rohit commented on #18745
I think last successful run should be considered. And if we do then : http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/609/pipeline

it takes over roughly 90 mins. @leezu do you agree ?

[2020-07-17 20:26] DickJC123 commented on #18740
I had some success with marking this test with `@pytest.mark.serial` without understanding the underlying issue, or why this action fixed it.  Could someone enlighten me, what do the serial-marked tests do that force them to be run serially?  Are the pytest workers all in the same process?

[2020-07-17 20:28] leezu commented on #18745
@access2rohit there's only one long-running test:

[code]

All other tests run in around 30 minutes. Could the long-running test be optimized to take less than 1 hour? In any case, I think the other tests could be moved to run on every PR?

[2020-07-17 20:31] access2rohit commented on #18745
We can split up and parallelize the jobs to run on multiple works as a part of multiple test suites in CI. That will speed things up but will consume more CI resource hence CI run cost per PR will increase(depending on which platforms you want it to be tested on in CI and for Both CPU and GPU build to ensure correctness and consistency in behaviour). What do you think ?

[2020-07-17 20:31] leezu commented on #18740
The pytest workers are all in separate processes. I'm only aware of the difference that `OMP_NUM_THREADS=$(expr $(nproc) / 4)` is exported before running the parallel pytest processes for non-serial tests.

[2020-07-17 20:33] leezu commented on #18745
As mentioned, I don't think 30 minutes is an issue here as this is a default feature, will run in parallel to other pipelines which already take 60 minutes.

[2020-07-17 21:29] leezu opened #18746 "Numpy Op fallback does not work for functions without return value"
https://github.com/apache/incubator-mxnet/blob/cec86add654fccda2f2112d4487738854e7663ca/python/mxnet/numpy/multiarray.py#L332-L365

Will fail in line 359 if `out is None`.

Example function is `np.save`.

[2020-07-17 22:36] szha commented on #17810
This is still a valid combination on 1.7

[2020-07-17 23:16] DickJC123 opened #18747 "unittests using @retry decorator can segfault if they fail"
## Description
This is a problem I ran into in the development of PR https://github.com/apache/incubator-mxnet/pull/18694, and **I have include a fix** in commit https://github.com/apache/incubator-mxnet/pull/18694/commits/95bfe3a642f07ffd0c78d965b7f590cee75a44fd.

An example invocation of a test that is decorated with @retry(3) and that fails on its first attempt (succeeding on its 2nd) is:
[code

[2020-07-17 23:58] gilbertfrancois opened #18751 "gluon.nn.BatchNorm seems to swap updated values of moving_mean and moving_var on GPU."
## Description
The implementation of `gluon.nn.BatchNorm` behaves different on CPU and GPU context. I suspect that during the update of running_mean and running_var, the updated values are swapped on GPU context.

Erroneous behaviour of the BatchNorm layer has been reported before in the forum and here in the issue tracker. It might be related to this observation.

I made a minimal script to show

[2020-07-18 00:11] DickJC123 opened #18753 "PRs that have passed CI, but have "aged" considerably w.r.t. master, can still be merged."
## Description
Could our system be changed to prevent merging of a CI-passing PR after a "merge window" has elapsed?  I guess this is not normally a problem since after a time an auto-merge would fail and the PR becomes unmergable, right?

PR https://github.com/apache/incubator-mxnet/pull/18197, merged today having passed CI 2 months ago, becomes the poster-child for this issue.  Thanks @leezu for

[2020-07-18 00:11] gilbertfrancois commented on #18100
Could the failing `test_operator.py::test_batchnorm` be related to issue https://github.com/apache/incubator-mxnet/issues/18751 ?

[2020-07-18 00:28] ksindwan commented on #14387
Facing the same issue

[2020-07-18 04:12] szha commented on #18751
@gilbertfrancois thanks for the report. Does it also happen with the 2.0 on master branch? You can install mxnet-cu102 v2.0.0b20200716 from https://dist.mxnet.io/python

[2020-07-18 07:37] Dragas commented on #17913
Seems to be an issue when running an `mxnet/python:1.4.0_cpu_py3` docker image.

[2020-07-18 07:50] davidhewitt opened #18754 "Python 3.8 wheel appears to be slightly corrupted"
## Description
I'm attempting to debug a crash observed by a user of PyO3 (https://github.com/PyO3/pyo3/issues/1044) which occurs when `mxnet` is imported.

Attempting to use `gdb` (via `rust-gdb` wrapper script) suggests that `mxnet.so` is partially corrupted. `readelf -a` also emits some warnings. Both are pasted below.

### Error Message

Errors seen from `readelf -a path/to/libmxnet.so | grep

[2020-07-18 08:06] gilbertfrancois commented on #18751
@szha I've just tested it against **mxnet-cu102 v2.0.0b20200716** and it has the same problem. See below:

[code]

[2020-07-18 15:28] ptrendx commented on #17913
AMP was introduced in MXNet 1.5. Could you try that version (or newer)?

[2020-07-18 18:52] DickJC123 opened #18755 "test_gluon_probability_v2.py::test_gluon_kl and test_gluon_probability_v1.py::test_gluon_kl_v1 are flaky"
## Description
I encountered a failure in one of my CI runs, and have supplied a fix in PR https://github.com/apache/incubator-mxnet/pull/18694 in commit https://github.com/apache/incubator-mxnet/pull/18694/commits/3e05edb3ff4e166831779d438c4537550986b2a0.

The fix was developed by printing out the distribution params and noting that the failures occurred when the parameters of the Geometric distr

[2020-07-19 02:20] xidulu commented on #18755
@DickJC123
Thanks for discovering this issue, I will take a look at your fix.

[2020-07-19 03:08] DickJC123 opened #18756 "pytest worker crash seen on newly introduced unittest test_profiler_gpu.py::test_aggregate_duplication"
## Description
tests/python/gpu/test_profiler_gpu.py has recently started importing unittests/test_profiler.py, and so now runs those tests for the first time with a gpu default context.  With that change, I have seen on centos-gpu:
[code]
## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-18694/11/pipeline

@leezu You might want

[2020-07-19 04:12] TristonC commented on #18751
The CPU result seems wrong, while the GPU result seems more resonable.

[2020-07-19 04:42] TristonC commented on #18751
On GPU, the first running mean is 0, while the following 3 running means are 0.1, 0.19 and 0.271, which can be explained as
running_mean = 0.1 * running_mean + 0.9 * previous running_mean
Not sure why the running mean does not change on CPU context. We need to figure it out.

[2020-07-19 07:17] wkcn commented on #18751
The values of moving_mean and moving_var are not consistent between CPU and GPU.
The values on CPU is population variance (v / n), but that on GPU CUDNN is sample variance (v / (n - 1)).

Refer: https://github.com/apache/incubator-mxnet/pull/18694/files#diff-cb652780258e73a9cd08568f38929aa2R1554

The line 1554 in tests/python/unittest/test_operator.py
```# cudnn uses m-1 in the denominator of its

[2020-07-19 08:54] ChaiBapchya commented on #16848
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18608/3/pipeline
Unrelated PR:https://github.com/apache/incubator-mxnet/pull/18608

[2020-07-19 19:05] mjdenkowski commented on #18699
This benchmark was run using a trained [Sockeye](https://github.com/awslabs/sockeye) model.  This is a full sequence-to-sequence model with HybridBlocks glued together by Python code.  We're running inference (translating a test set with beam search), so there shouldn't be any backward operations.  We can share a model with input data and a run script if that will help with debugging.

Alternative

[2020-07-19 21:14] szha commented on #18731
fixed by #18694

[2020-07-19 21:14] #18731 closed

[2020-07-19 21:15] szha commented on #18736
fixed by #18694

[2020-07-19 21:15] #18736 closed

[2020-07-19 21:15] szha commented on #18737
fixed by #18694

[2020-07-19 21:15] #18737 closed

[2020-07-19 21:15] szha commented on #18747
fixed by #18694

[2020-07-19 21:15] #18747 closed

[2020-07-19 21:15] szha commented on #18755
fixed by #18694

[2020-07-19 21:15] #18755 closed

[2020-07-20 09:22] nabulsi opened #18759 "Segmentation Fault 11"
## Description

Segmentation fault: 11

Aborted (core dumped)
### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Ste

[2020-07-20 11:42] adamsvystun opened #18760 "Out of memory error is not propagated as an error to python environment"
## Description
Out of memory error is not propagated as an error to python environment. This prevents the ability to properly handle the error.

*Why is this important?*

When using the model in production environment I can't catch the error. This means that the service cannot be restarted as it just hangs (so the service does not process subsequent requests). This also means that I am not notifie

[2020-07-20 17:23] leezu commented on #18759
cc @mseth10

[2020-07-20 17:31] leezu commented on #18760
The process in which MXNet is running is terminated due to memory error. It seems that your service is using multiple processes and your main process does not correctly handle the case where child processes are terminated. As a workaround, I suggest you ensure to monitor if your child processes are still alive and restart them if needed.

[2020-07-20 17:34] TristonC commented on #18751
The CPU version updated running mean and running var in backward path. And there are some nuance difference there between CPU and GPUs.  @gilbertfrancois, could you try to add  y.backward() after y.net(x) during the iteration.

[2020-07-20 17:56] leezu commented on #18699
@mjdenkowski

Do you run multiple inference passes in a single run (multiple forward) or only a single one?

The commit in question contains both changes in the Python frontend and in the C++ backend. To verify which part introduces an overhead, I recommend to partially apply the commit in question, discarding all Python changes and only applying the C++ changes.

In more detail, for the Python fr

[2020-07-20 18:06] leezu commented on #18421
@thomasrockhu the `codecov.yml` stopped working https://github.com/apache/incubator-mxnet/blob/master/.codecov.yml

New PRs show the `codecov/project` badge again despite we haven't made enough progress on stabilizing the CI to have a stable codecov https://github.com/apache/incubator-mxnet/pull/18757

[2020-07-20 18:11] leezu commented on #18756
@DickJC123 I'm not familiar with the feature, but @Zha0q1 added the feature and may help

[2020-07-20 18:14] leezu commented on #18754
@davidhewitt can you follow https://mxnet.apache.org/get_started/build_from_source and verify if the same warnings apply to the `libmxnet.so` generated when following the guide?

[2020-07-20 19:06] thomasrockhu commented on #18421
Hi @leezu, it looks like there are duplicate entries under `coverage -> status -> project`
[code]
I would recommend removing one of them.

[2020-07-20 21:30] leezu commented on #18421
Thank you @thomasrockhu

[2020-07-20 23:04] #17968 closed

[2020-07-20 23:28] ChaiBapchya commented on #16193
Bumped into the same error for
[code]

Repro steps
[code]

[2020-07-20 23:28] ChaiBapchya commented on #16193
Can we re-open the issue @leezu @apeforest @szha

[2020-07-20 23:35] TristonC commented on #18751
In case anyone want to do a PyTorch comparison for CPU version:

[2020-07-20 23:36] mseth10 commented on #18759
Hi @nabulsi , thanks for raising this issue. I have tested the instructions ([here](https://mxnet.apache.org/get_started/jetson_setup)) on building MXNet on Jetson module myself and they work fine. There is also a tutorial that you can follow:
https://mxnet.apache.org/api/python/docs/tutorials/deploy/inference/image_classification_jetson.html
This tutorial also contains a link to (3rd party) MXNet

[2020-07-20 23:39] ChaiBapchya commented on #16193
Nevermind, realized that nightly builds arent published to PyPi anymore. But that leaves many people who consume binaries via PyPi to lose out on leveraging horovod with existing versions.

[2020-07-20 23:41] TristonC commented on #18751
@szha It may not affect real training for either CPU or GPU version as CPU version does update the running mean and running var in the backward path. Should we unify the behaviors to make it consistent?
@gilbertfrancois Do you have a repro script of running into nans during training?

[2020-07-20 23:58] nabulsi commented on #18759
Hi @mseth10 . Thanks for working on the issue.
I just tried the method with the wheel that you mentioned. I also got the same error message:
[code]
Did you try using python 3.7?

Another thing: for me, building MXNet from source on the Jetson Nano mostly doesn't finish. After 2.5 hours it just interrupts, although I have swap file of 6 GB :(

[2020-07-21 00:09] mseth10 commented on #18759
Jetson Nano might need a higher swap memory (>20GB) and a very long time. I built it on Jetson Xavier AGX and it still took a few hours.

Do you mean the following code (from the tutorial) segfaults? Which Jetpack version is installed on your device? It should work for Jetpack 4.4
[code]

[2020-07-21 00:18] nabulsi commented on #18759
Yes, these are the steps that I followed. As said, I also tried before to cross compile and then use the generated library on the Jetson, but was getting the same issue. I am currently flashing my SD card with the very original content and will try it on it to see if any changes I made are causing the problem.

[2020-07-21 00:35] mseth10 commented on #18759
Please let me know how it goes.

[2020-07-21 00:46] leezu commented on #16193
If it is broken in the stable version on pypi, it should be fixed. Can you open a new issue about that if it's broken?

[2020-07-21 01:21] ChaiBapchya commented on #16193
It also fails for nightly
I bumped into the same issue for wheels found in repo.mxnet.io
[code]

[2020-07-21 01:30] ChaiBapchya opened #18764 "Horovod issue with stable PyPi mxnet versions 1.6.0cu102"
## Description
Undefined symbol error upon importing horovod for stable release of mxnet on PyPi

Related to https://github.com/apache/incubator-mxnet/issues/16193
### Error Message

[code]

### Steps to reproduce
[code]
## What have you tried to solve it?

1. Tried nightly releases from PyPi
2. Tried releases [stable & nightly] from repo.mxnet.io
2. Tried non mkl & mkl releases for PyPi as well a

[2020-07-21 01:58] szha commented on #18751
Yes I think we definitely should. Otherwise we'd expect the same confusion as in this issue.

[2020-07-21 02:01] szha commented on #18759
@mseth10 @leezu would we be able to offer a wheel through cross compilation?

[2020-07-21 02:02] szha commented on #18764
Tried releases [stable & nightly] from repo.mxnet.io
Tried non mkl & mkl releases for PyPi as well as repo.mxnet.io

What are the results?

[2020-07-21 02:07] mseth10 commented on #18759
@szha yeah it should be possible now that NVIDIA has shared their cross compilation toolchain on apt server.

[2020-07-21 08:04] #18591 closed

[2020-07-21 08:33] davidhewitt commented on #18754
When following the guide, I was able to build a `libmxnet.so` which did not have these warnings. Using Ubuntu 20.04, WSL2. I had to disable CUDA support.

[2020-07-21 09:25] chinakook opened #18765 "Race-condition and crash with SymbolBlock on GPU"
## Description
Severe Bug with nn.SymbolBlock when ctx=mx.gpu(0), cpu is OK.

### Error Message
malloc or free or Segmentation fault error may appears randomly
[code]

[code]

[code]
## To Reproduce
[code]

## Environment
1. mxnet_cu102-1.7.0b20200719-py2.py3-none-manylinux2014_x86_64
2. mxnet 2.0 master in April

[2020-07-21 09:37] chinakook commented on #18765
Solved. Change the last row to ```print([x.asnumpy().shape for x in b])```.

[2020-07-21 11:51] ZheyuYe opened #18766 "Horovod support in MXNet 2"
## Description
Horovod is currently one of the most effective ways of gpu communication acceleration but lacks of support for current mxnet 2.0. I tried to run Horovod on the latest Mxnet master branch (2020.07.21) and it failed as below.

### Steps to reproduce
Horovod was installed by `HOROVOD_GPU_OPERATIONS=NCCL pip3 install  --no-cache-dir horovod ` and the openmpi version I used is 4.0.2.

[A

[2020-07-21 14:10] gilbertfrancois commented on #18751
@TristonC Yes, I have a project. Let me adapt it with an open dataset, so that I can make it public.

[2020-07-21 16:15] leezu commented on #18766
Horovod only supports MXNet 1 at this point. I suggest you open an issue in the Horovod repository and request (or directly contribute) MXNet 2 support. That's because Horovod relies on some implementation details of the MXNet 1 APIs that have been changed.

[2020-07-21 16:25] szha commented on #18766
cc @eric-haibin-lin

[2020-07-21 17:58] ChaiBapchya commented on #18665
Discussed offline. This one is for training.

[2020-07-21 18:20] leezu commented on #18765
@chinakook thanks for providing a workaround. I think it's still a bug

[2020-07-21 18:50] leezu commented on #18754
Thank you for trying that @davidhewitt. The difference between the libmxnet.so in the pip wheel and the one obtained via the build_from_source guide is that in the pip wheel a number of dependencies are statically linked to enable portability across various linux distributions and versions thereof. It's built on a CentOS 7 host for compliance with https://www.python.org/dev/peps/pep-0599/

https:/

[2020-07-21 18:54] leezu commented on #18754
cc @eric-haibin-lin as the issue may be related engine shutdown

Debugging leads us to this line: https://github.com/apache/incubator-mxnet/blob/a0e67353fe81ed97fc7aef2d8429a93dc035a394/src/c_api/c_api.cc#L1318.

Via https://github.com/PyO3/pyo3/issues/1044

[2020-07-21 19:00] leezu commented on #18765
Simpler reproducible example for latest master:

[code]

It fails with

[code]

However, the following will work:
[code]

[2020-07-21 19:59] leezu commented on #18759
Following the cross-build instructions locally was blocked for a few months due to non-public toolchain files. NVidia has now provided some files, but for example cuDNN is missing. @TristonC is tracking that internally and may update the build at https://github.com/apache/incubator-mxnet/pull/18450.

@mseth10 had you verified the cross-compile libmxnet on device already?

[2020-07-21 21:24] marcoabreu commented on #18753
Agree, that should be easy to solve by having a lambda function triggered nightly which invalidates status checks which are older than a certain time period.

@ChaiBapchya

[2020-07-21 21:29] marcoabreu commented on #18719
We should add a robots.txt to beta.mxnet.io to avoid crawling

@szha

[2020-07-21 21:55] leezu commented on #18765
Backtrace

[code]

@ptrendx do you think this is a bug in fused op or in the engine?

[2020-07-21 22:55] #18475 closed

[2020-07-21 23:52] eric-haibin-lin commented on #18765
does adding `mx.nd.waitall()` help?

[2020-07-22 00:51] gilbertfrancois commented on #18751
Many thanks for all the help and the swift responses.

TL;DR
Adding BatchNorm at the end of a feature extractor, and computing on GPU, and having a batch size of 1, results in a NaN.

---
## Description

I've created a small test file, which does the following:

It creates a network with a Conv2D feature extractor, followed by a **tail** (HybridSequential). The tail is used to create a custom size

[2020-07-22 01:07] szha commented on #18719
I've taken down beta.mxnet.io already.

[2020-07-22 01:07] #18719 closed

[2020-07-22 01:22] szha opened #18769 "developer doc for design and architecture of mxnet"
## Description

A clear and easy to understand doc for the design and architecture of mxnet will provide a good point of entry for interested users to become developers. This is something we should definite improve. Some examples to learn from:

- https://pytorch.org/blog/a-tour-of-pytorch-internals-1/ https://pytorch.org/blog/a-tour-of-pytorch-internals-2/
- https://github.com/pytorch/pytorch/blo

[2020-07-22 02:06] chinakook commented on #18765
@eric-haibin-lin Yes, it does.

[2020-07-22 02:13] chinakook commented on #18765
As I've tested, https://github.com/apache/incubator-mxnet/pull/18768 can solve this problem.

[2020-07-22 03:49] nabulsi commented on #18759
**This is my update: Problem is not happening any more.**

I used a fresh image provided by NVidia for my Nano and then went through all the steps again (installed python3.7, installed dependencies, etc..). Then I used the wheel mentioned above to install MXNet 1.6:
[code]
After that I compiled OpenCV 4.4.0 from source. The segmentation errors are not happening any more.

That said, I need your gu

[2020-07-22 04:53] szha commented on #17329
what's the conclusion for this issue?

[2020-07-22 04:59] szha commented on #15569
@ciyongch we missed updating this in 1.7.0. I think it's a minor issue that we proceeded with previous releases. We will still need to address this in the next release when we try to remove the DISCLAIMER-WIP.

[2020-07-22 05:08] ChaiBapchya commented on #18753
Sure that should be doable. And what would be that time period? 2/4/8 weeks?

[2020-07-22 05:41] marcoabreu commented on #18753
Let's start with 2 weeks - as long as it's configurable :)

[2020-07-22 06:05] ciyongch commented on #17329
Hi @szha, the way of handling dual license header was passed with lazy consensus, and I updated the related files based on the following conclusion.

For more details, please see https://lists.apache.org/thread.html/r6d8f62b1ad34f6dbe109a01e715723e8996cd478a01a08498aa02a2e%40%3Cdev.mxnet.apache.org%3E

[2020-07-22 06:09] ChaiBapchya commented on #18764
Same error
[code]

[2020-07-22 06:10] szha commented on #17329
Thanks. I think most of the license issues have been addressed, and the open issue on pybind11 license is already tracked separately.

Thanks for the efforts!

[2020-07-22 06:11] #17329 closed

[2020-07-22 06:20] ciyongch commented on #15569
Hi @szha, we didn't update this as I checked with @roywei for this issue before the code freeze in here https://github.com/apache/incubator-mxnet/pull/15963#issuecomment-618728619 , so I just took this case same as the previous release version (https://github.com/apache/incubator-mxnet/issues/15547 has similar status)

[2020-07-22 06:31] #18685 closed

[2020-07-22 06:35] #18765 closed

[2020-07-22 08:20] suyz526 commented on #18727
Hi,

In [https://mxnet.apache.org/api/python/docs/api](https://mxnet.apache.org/api/python/docs/api), almost every page is empty.

This 'beta' page works: [https://mxnet-beta.staged.apache.org/api/python/docs/api](https://mxnet-beta.staged.apache.org/api/python/docs/api)

Why there exist two different websites for the document? And google always lead me to the first one, which is the blank one.

[2020-07-22 09:23] fhieber commented on #16167
@szha is there a recent estimate on the timeline for MXNet 2.0? Would you recommend to develop downstream toolkits (e.g. Sockeye) against the master branch now or rather wait a little bit longer?
Is there already documentation on how to transition MXNet 1.x projects to 2.x?

[2020-07-22 15:53] DickJC123 commented on #18753
When my in-development PRs become unmergeable due to other accepted PRs, I merge the current master with my PR and push the result, which generates another CI run.  Is it possible that the PR I mentioned above, after 2 months was still mergeable?  Or is there some other way to fix merge conflicts in a way that doesn't require a repeated CI run?

[2020-07-22 16:15] TristonC commented on #18751
@gilbertfrancois Is your project for training or inference? In your script, it uses autograd, but it does not do backward(). The reason I asked this, is BatchNorm behave differently for these two cases.

[2020-07-22 18:42] szha commented on #16167
@fhieber we are planning to release the first public beta on this somewhere in August. At the moment we are finalizing some API changes and also validating them in GluonNLP. We will publish a transition doc as part of the public beta.

[2020-07-22 19:18] leezu opened #18770 "NumPy byteorder incompatibility"
MXNet ignores the byte-order of numpy data-types and always uses native byte-order.

[code]

[2020-07-22 20:47] TristonC commented on #18751
@gilbertfrancois I did a quick test, to answer your question:

The y_out and y_embedding actually came two separate forward runs. And y_embedding came at the second run. The first run was done with training mode( with autograd.record(train_mode=True), and the second run was done without recording. The first run should get both y_out and y_embeddings correctly. Unfortunately, the first run  got the

[2020-07-22 21:53] mseth10 commented on #18759
@nabulsi that's great news. I have not yet tested the cross compilation script provided on the installation page, and it might need some fixing. Until that is done, is there anything that you are blocked on currently, anything that you are unable to do with the wheel provided?

[2020-07-22 22:05] TristonC commented on #18751
It looks like there is a bug there for doing batch norm with 1D array, when the batch size is 1. For example, in this case, after flat, there vector size is 9408, which make the batch data shape as (1, 9408). I suspect that the batch norm views it as shape (9408, 1).

[2020-07-22 22:30] gilbertfrancois commented on #18751
Hi @TristonC, the project is for training. I adapted the script. It It does now one training step, with forward - backward pass and a validation step.

The hybrid_forward function of MyNet returns the logits for the softmax function during training, inside a autograd.record() context and returns the embeddings when doing inference (training=False). This is the behaviour I intend to have. Is this n

[2020-07-22 22:31] TristonC commented on #18751
After nn.Flatten(), the batch norm is actually performed on a 1xCx1x1 Tensor, where C is 9408 for the first batch norm layer in tail, and it is 32 for the second batch morm layer. And then it will have C running means and C running vars, which might not be expected. And the BN is done on a single value when the batch size is 1.

[2020-07-22 23:05] nabulsi commented on #18759
@mseth10 the wheel is currently enough for me. I can move forward now, but I am worried if in the next few days/weeks I find that I need something more and I will have to cross compile. It will be great when you have some time to check it. Also, I noticed that a few days ago they [removed support for Make file](https://github.com/apache/incubator-mxnet/pull/18721), and consequently, the building i

[2020-07-22 23:37] gilbertfrancois commented on #18751
Ok, I see that. But I guess it is the same intended behaviour as pyTorch nn.BatchNorm1d, which takes as input (N, C). The normalization is done over C features. E.g.:

[2020-07-22 23:57] gilbertfrancois commented on #18751
Coming back to mxnet: it looks like it is possible to do a forward pass (inference mode) on cpu when the BatchNorm is placed with Dense layers. But on gpu, it tries to update the values on the forward pass, instead of the backward pass, resulting in NaN when the batch size = 1.

[2020-07-23 00:02] gilbertfrancois commented on #18751
I suspect that the behaviour is corrected when the update of moving_mean and moving_var on GPU is done in the backward pass, like it is on CPU. It will solve the NaN values and will most likely make the quantitative output between CPU and GPU more consistent.

[2020-07-23 00:39] eric-haibin-lin opened #18772 "horovod seg-fault with mxnet pip wheels"
I am working on a bug fix for mxnet master with my horovod branch: https://github.com/eric-haibin-lin/horovod/tree/mx2

I noticed that the example passes if I use mxnet built from source:
[code]

However, it segfault immediate after the first broadcast call if I use the mxnet nightly pip wheel from https://repo.mxnet.io/dist/python such as:
https://repo.mxnet.io/dist/python/cpu/mxnet-2.0.0b2020072

[2020-07-23 01:06] eric-haibin-lin commented on #18772
[code]

[2020-07-23 01:09] eric-haibin-lin commented on #18766
I have a version that seems to work with mxnet built from source here: https://github.com/eric-haibin-lin/horovod/tree/mx2
feel free to try it out if you need it before the PR is merged

[2020-07-23 01:33] ZheyuYe commented on #18766
@eric-haibin-lin  Thanks a lot. I'll try this version.

[2020-07-23 01:48] leezu commented on #18772
Horovod includes the MXNet C++ headers and based on them interacts with the Engine:

https://github.com/horovod/horovod/blob/cf022be959a7c9431a8415729758b26dec1a87e5/horovod/mxnet/mpi_ops.h#L23-L24

But C++ does not have a stable ABI and your Horovod isn't compiled with the same ABI as the MXNet binary wheel. Thus it crashes.

[2020-07-23 04:53] leezu commented on #10988
[code]

[2020-07-23 04:54] leezu commented on #15832
https://github.com/apache/incubator-mxnet/issues/10988

[2020-07-23 06:00] szha commented on #18764
It still seems to be the case in 2.0 in #18772

[2020-07-23 06:25] leezu commented on #18764
That's a separate problem. @eric-haibin-lin mentioned the problem does not apply to 1.x nightly build

[2020-07-23 06:27] niranjannilekani opened #18774 "unable to install mxnet package in R 4.0.1"
## Description
Iam unable to install mxnet package in R 4.0.1

### Error Message
package ‘mxnet’ was installed before R 4.0.0: please re-install it

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.
2.

## What have y

[2020-07-23 06:37] DickJC123 opened #18775 "Failures seen in unittest test_gluon_probability{_v1,_v2}.py::test_gluon_cauchy_{v1,}"
## Description
This was observed during the development of https://github.com/apache/incubator-mxnet/pull/18424.  I've developed a fix which I've added via commit https://github.com/apache/incubator-mxnet/pull/18424/commits/29286c3f7e3b3e7f0836877c2644b95820182322.  I observed that the failures occurred when the sample was near one or both ends of the unit normal distribution for the samples data

[2020-07-23 07:51] chinakook commented on #18643
I also encounter this problem, delayed infer may be fail.

[2020-07-23 08:11] chinakook commented on #18643
A very big and complex graph with dynamic ops may be fail to delayed infer. You can modularize them and then compose modules.

[2020-07-23 12:23] xizi opened #18776 "MXNet model export to ONNX failed"
export rnn.GRU op failed, error message as follow:
AttributeError: No conversion function registered for op type _rnn_param_concat yet.

[2020-07-23 13:05] saudet commented on #17783
Hi, instead of JNA, I would be happy to provide bindings for the C API and maintain packages based on the JavaCPP Presets here:
https://github.com/bytedeco/javacpp-presets/tree/master/mxnet
JavaCPP adds no overhead, unlike JNA, and is often faster than manually written JNI. Plus JavaCPP provides more tools than JNA to automate the process of parsing header files as well as packaging native librari

[2020-07-23 15:12] szha commented on #17783
@saudet this looks awesome! An 18% improvement in throughput is quite significant for switching the way of integration for a frontend binding. I think we should definitely start with this offering. @lanking520 @gigasquid what do you think?

[2020-07-23 15:15] szha commented on #18774
@niranjannilekani thanks for reporting. @hetong007 could you help on this?

[2020-07-23 15:26] szha commented on #18776
Thanks for reporting. We are removing that op in the RNN layer in the 2.0. It will need to be registered in 1.x. That operator should be registered as simple concatenation for ONNX.

[2020-07-23 15:52] gigasquid commented on #17783
@saudet @szha - I think we be a good path forward (from the Clojure perspective)

[2020-07-23 16:16] eric-haibin-lin commented on #18543
I'm still looking into this. Currently the mirror pass requires some shape/type information which is missing at the point of calling the pass

[2020-07-23 17:34] lanking520 commented on #17783
@saudet Thanks for your proposal. I have three questions would like to ask you:

1. If we adopt JavaCpp package, how will that be consumed? Under byteco or apache MXNet? Essentially from our previous discussion, we really don't want another 3rdparty checkin.

2. Can you also do a benchmark on the MXNet's API's performance and possibly share the reproducible code? I did have

3. We do have some add

[2020-07-23 17:36] lanking520 commented on #17783
## What's inside of javacpp-presets-mxnet

* Native shared libraries:
    * libmxnet.so
    * libjnimxnet.so
    * libmkldnn.0.so
* MXNet scala and java classes
* javacpp-presets-mxnet java API implemenations
* javacpp generated native bindings
    * mxnet C_API
    * mxnet-predict C_API

## What's missing

javacpp-presets-mxnet doesn't expose APIs  form nnvm/c_api.h (some of current python/gluon

[2020-07-23 18:21] leezu commented on #18754
The crash is fixed by https://github.com/apache/incubator-mxnet/pull/18768

I'm not sure about the `readelf` warnings, but currently I don't see any evidence for them being harmful (and we're just using cmake to statically link in a bunch of libraries into the `libmxnet.so`). So I'll close this issue. Please comment and reopen if any action needs to be taken from the build perspective.

[2020-07-23 18:21] #18754 closed

[2020-07-23 18:39] TristonC commented on #18751
I am not sure that putting the running mean and running var into the backward pass is the solution. It can be achieved by setting autograd.record(train_mode=False). The problem here  (NaN) is the way of computing running var, be it un-biased (divided by m -1 and as shown in the BN paper) or biased (by m). This is a corner case while m is 1 when the batch size is one and BN is after dense (or flatt

[2020-07-23 19:42] ChaiBapchya opened #18780 "MXNet Bot to label unreviewed PRs that pass CI with pr-awaiting-review"
## Description
MXNet Bot can scan for PRs that have passed all CI checks but not been reviewed
If such unreviewed PRs are found, it can comment
[code]

## References
@szha

[2020-07-23 20:12] szha commented on #15162
Yes, this is still a valid issue. We need to create a page in the community on the branding requirements when depending on our project

[2020-07-23 21:12] leezu commented on #18772
We may want to remove the C++ API headers from the pip package, to prevent anyone from relying on C++ ABI by mistake.

[2020-07-23 22:31] eric-haibin-lin commented on #18772
Thanks for the investigation and good catch about the c++ headers. I agree. We need to rewrite the integration code using only the c APIs to avoid ABI compatibility issues

[2020-07-24 01:22] xizi commented on #18776
Thanks for reply. Can your provide some references show how to  register _rnn_param_concat op as concatenation.

[2020-07-24 02:36] ArmageddonKnight commented on #1442
For me, I installed extra dependency to solve this:

[code]

[2020-07-24 02:38] hetong007 commented on #18774
@niranjannilekani could you share more with us about:

1. The commands you run that eventually lead to the error message
2. The result of executing `sessionInfo()` in your R console

[2020-07-24 02:43] xidulu commented on #18775
@DickJC123
It looks like your commits have solved this issue. Thanks for that.

This reason behind, is the heavy-tailed property of Cauchy, when the input for the quantile/icdf function is close to 1 or 0, the output will blow up, causing flaky tests.
![image](https://user-images.githubusercontent.com/26022201/88356358-1a697d00-cd9a-11ea-8b5a-aa7f95c335b1.png)

[2020-07-24 14:21] kpuatamazon commented on #18699
I split commit 83b5170 into just C++ changes and pushed to this branch so you can see precisely what it looks like: https://github.com/kpuatamazon/incubator-mxnet/tree/split-hybrid .  The C++ changes made it faster then the Python changes made it slower.

Looks like the

| Time (s) | Commit |
|--|--|
| 288.385 | 83b5170 + downgrade MKLDNN to cb2cc7a  |
| 271.170 | 8e39518 + downgrade MKLDNN to cb2

[2020-07-24 16:24] leezu commented on #18699
Thank you for splitting up the commit and comparing the frontend to backend changes! To find out which part of the Python frontend changes is causing the overhead, I'd suggest to apply all changes from 83b5170 minus respectively a) multiarray.py and ndarray.py b) parameter.py c) block.py. My assumption is that the extra C API call in parameter.py causes the overhead and that variant b) would resol

[2020-07-24 17:08] niranjannilekani commented on #18774
Warning in install.packages :
  unable to access index for repository https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/GPU/src/contrib:
  cannot open URL 'https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/GPU/src/contrib/PACKAGES'
Installing package into ‘C:/Users/niranjan.nilekani/Documents/R/win-library/4.0’
(as ‘lib’ is unspecified)
Warning in install.packages :

[2020-07-24 17:12] niranjannilekani commented on #18774
Installing package into ‘C:/Users/niranjan.nilekani/Documents/R/win-library/4.0’
(as ‘lib’ is unspecified)
trying URL 'https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/GPU/mxnet.zip'
Content type 'application/zip' length 348148417 bytes (332.0 MB)
downloaded 332.0 MB

Error: package or namespace load failed for ‘mxnet’:
 package ‘mxnet’ was installed before R 4.0.0: please re-install it

[2020-07-24 17:14] niranjannilekani commented on #18774
Installing package into ‘C:/Users/niranjan.nilekani/Documents/R/win-library/4.0’
(as ‘lib’ is unspecified)
Warning in install.packages :
  unable to access index for repository https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/bin/windows/contrib/4.0:
  cannot open URL 'https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/bin/windows/contrib/4.0/PACKAGES'
installing th

[2020-07-24 17:15] niranjannilekani commented on #18774
R version 4.0.2 (2020-06-22)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 18363)

Matrix products: default

Random number generation:
 RNG:     Mersenne-Twister
 Normal:  Inversion
 Sample:  Rounding

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_Un

[2020-07-24 17:16] niranjannilekani commented on #18774
i tried running all possible solutions available, but not able to install mxnet. Kindly help

[2020-07-24 17:28] mjdenkowski commented on #18699
Thanks for your help with this, Leonard!

If this turns out to be the issue, are there any Sockeye-level changes that would avoid the extra overhead (forward vs hybrid_forward, etc.), or is this something that needs to be addressed in MXNet?

[2020-07-24 20:06] leezu commented on #18699
@mjdenkowski when Sockeye adopts MXNet 2, you will need to rename from `hybrid_forward(F, ...)` to `forward(...)`. The overhead you currently experience could be from the additional C API call in `parameter.py` and the implementation in  `parameter.py` would need to be refactored to remove the overhead.

For verifying the hypothesis, one can simply revert the changes in `parameter.py` while contin

[2020-07-24 21:50] kpuatamazon commented on #18699
3 runs each sorted by increasing time taken.  All downgrade MKLDNN to cb2cc7a + force MKL backend hack.

| time | time | time | git checkout 8e39518 ... |
|---|---|---|---|
| 288.442 | 293.029 | 295.974 | nothing, just keep 83b5170 |
| 287.809 | 299.730 | 307.538 | a: python/mxnet/numpy/multiarray.py python/mxnet/ndarray/ndarray.py |
| 289.946 | 290.054 | 292.440 | b: python/mxnet/gluon/parameter.

[2020-07-25 00:07] leezu commented on #15472
You need to set the path to the warpctc include and lib:

`cmake -GNinja -DUSE_PLUGINS_WARPCTC=1 -DWARPCTC_INCLUDE=/tmp/warp-ctc/include -DWARPCTC_LIB=/tmp/warp-ctc/build/libwarpctc.so ..; ninja`

[2020-07-25 00:07] #15472 closed

[2020-07-25 00:22] #18775 closed

[2020-07-25 00:23] leezu opened #18788 "bfloat16 rendered as uint16"
[code]

[2020-07-25 00:25] szha commented on #18776
for export, I think it would be something similar to this:
https://github.com/apache/incubator-mxnet/blob/85ff00d5c1dafc1e51aaae26f6664582b0eb6ae1/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py#L846-L861

[2020-07-25 02:41] ufownl commented on #16858
Hi everyone, I hit the same issue when I continued training my model by loading the trainer states. Are there any temporary solutions to avoid this issue?

[2020-07-25 04:38] yzh119 opened #18789 "[bug] Autograd throws an exception that was not caught in MXNet 1.6"
## Description

The Autograd module throws an exception that was not caught:
[code]
After the execution of the program.

## To Reproduce
Below is a minimal example to reproduce the bug:
[code]

However, it could successfully print the result
[code]

## Environment

[code]

[2020-07-25 04:41] yzh119 commented on #18789
@sxjscience , @eric-haibin-lin do you have any idea on what happened? I met the same problem on my desktop or an AWS p3 instance, and the error message persists after I upgrade my MXNet to 2.0 version.

[2020-07-25 09:07] szha commented on #18789
I think the numpy array support in autograd.function was missed. https://github.com/apache/incubator-mxnet/pull/18790

[2020-07-25 13:02] Hrushikesh-github opened #18791 "Error running kaggle on Colab as well as Kaggle Notebook"
## Description
Mxnet is giving the following error with a correct code.
This has been observer in the kaggle Notebook as well as Google Colab (!pip install mxnet-cu101) was done.

### Error Message
     91     eval_metric=metrics,
     92     batch_end_callback=batchEndCBs,
    ---> 93     epoch_end_callback=epochEndCBs)
     94
     95

     /usr/local/lib/python3.6/dist-packages/mxnet/model.py i

[2020-07-25 16:58] #18150 closed

[2020-07-25 20:10] szha commented on #18682
@ys2843 @sandeep-krishnamurthy please treat this task as high priority. now that we have a stable version as the default on the website, the website fixes are not nearly as urgent as being able to preview the website changes automatically in each PR. thanks.

[2020-07-25 20:12] szha commented on #18566
deep numpy was a temporary code name. we cannot continue to use due to trademark. please remove any reference of it and replace with simply "np".

[2020-07-25 22:40] szha commented on #17988
this is due to a shared buffer bug that #18219 addresses. it affects only v1.x

[2020-07-25 23:26] saudet commented on #17783
We can go either way, but I found that projects like MXNet or TensorFlow that need to develop high-level APIs on top of something like JavaCPP prefer to have control over everything in their own repositories, and use JavaCPP pretty much like we would use pybind and pip for Python.

I started the JavaCPP Presets because for projects such as OpenCV, FFmpeg, LLVM, etc, high-level APIs for other langu

[2020-07-26 00:43] saudet commented on #17783
I've added that the other day, thanks to @frankfliu for pointing this out: https://github.com/bytedeco/javacpp-presets/commit/976e6f7d307b3f3855f39413c494d8f482c9adf6

That's not hardcoded. We can use whatever name we want for that class.

We can map everything to `Pointer`, that's not a problem either.

No, they are not. Everything in the `src/gen` directory here is generated at build time:
https

[2020-07-26 01:15] yajiedesign opened #18793 "Can we install docker on Windows CI machine?"
Prepare to deploy CD in docker like Linux.
Can docker be installed on the machine and start Windows container mode?
leonard
@leezu
@szha

[2020-07-26 05:49] szha commented on #18617
The PR should be ready now.

[2020-07-26 06:18] szha commented on #18788
cc @rongzha1 @pengzhao-intel

[2020-07-26 13:50] yzh119 commented on #18789
@szha  Thanks for your help, but I think the problem also exists for `mxnet.ndarray`'s, not only for `mxnet.numpy.array`.

[2020-07-26 16:15] szha commented on #18789
Did you run the above as a script? Or in an interactive python shell? I want to see if the program terminated immediately after the execution.

[2020-07-26 16:30] szha commented on #17537
According to Apache incubator VP, the nightly builds should not be offered to the public and only developers should have access.

[2020-07-26 16:30] #17537 closed

[2020-07-26 16:31] szha commented on #11783
Note that the nightly build is provided to mxnet developers only, as convenience infrastructure. They are not official mxnet releases

[2020-07-26 16:32] #11783 closed

[2020-07-26 16:53] yzh119 commented on #18789
I ran the above code as a script.
If I ran it in interactive mode, the exception message appears as I exit:
[code]

[2020-07-26 18:43] szha commented on #18789
#18768 probably have fixed it. Would you try the nightly build and see if this is still an issue?
`pip install --pre mxnet-cu101 -f https://dist.mxnet.io/python`

[2020-07-26 22:31] szha commented on #18666
The current installation page is confusing. I suggest we remove the build from source banner and incorporate the platform-specific build instructions.

![image](https://user-images.githubusercontent.com/2626883/88491075-0027ce80-cf55-11ea-80c4-d35c0be31436.png)

[2020-07-26 22:39] ChaiBapchya commented on #17472
@mxnet-bot test if you comment on an issue

[2020-07-26 22:59] marcoabreu commented on #9686
Are there any plans to move the training logic (dataset handling, distributed training, etc) into the core to avoid having all that logic in the frontend languages?

[2020-07-26 23:14] ChaiBapchya commented on #17472
@mxnet-bot test if it detects that this is an issue and not a PR

[2020-07-26 23:18] ChaiBapchya commented on #17801
@sandeep-krishnamurthy @szha Can we close this issue since this has been completed? Thanks!

[2020-07-26 23:18] #17801 closed

[2020-07-26 23:21] ChaiBapchya commented on #17472
Please ignore previous comments. I just used them for testing out a bot functionality.

[2020-07-27 02:44] szha commented on #15529
cc @ptrendx @DickJC123, it would be good if we could fix this problem.

[2020-07-27 03:18] DickJC123 commented on #15529
Sorry this issue got buried on the todo stack.  To be honest though, it may not be a bug in the convolution algo cache implementation, but more an issue with the policy of emitting warning messages.  The repeated message comes after every 50 new additions to the convolution algo cache.  At the point when there's 1000 differently-spec'd convolutions in the model, the following message appears once:

[2020-07-27 06:16] szha commented on #15529
Warning only once looks good. We should also allow users to query and set the benchmarking options. Ideally we should allow tuning results to be saved and loaded so that in a deployment environment things are stable and won't cause surprises

[2020-07-27 10:01] kpuatamazon commented on #18699
Ran these in a loop over the weekend with 136 samples.

keep 83b5170  | a | b | c | justc++ |  
-- | -- | -- | -- | -- | --
301.324 | 298.468 | 294.094 | 301.243 | 289.476 | AVG
19.978 | 20.590 | 19.759 | 20.746 | 19.351 | Sample stddev
266.168 | 262.355 | 260.640 | 266.384 | 255.469 | Min
287.478 | 284.945 | 279.012 | 288.021 | 278.632 | Q1
307.157 | 303.188 | 297.966 | 306.039 | 294.594 | Median

[2020-07-27 12:03] bgawrych commented on #18244
@szha Can we close this issue as root cause was found?

[2020-07-27 13:14] QueensGambit commented on #15529
About a year ago we discussed about adding a general interface for graph optimization to MXNet: https://github.com/apache/incubator-mxnet/issues/16173

I thought the easiest way to do this was to add a `save()` and a `load()` function to the MXNet executor class, which would create hardware-specific memory dump.
At least for MXNet-TensorRT this should be straightforward, since TensorRT already all

[2020-07-27 16:58] ys2843 commented on #18566
Got it, will do

[2020-07-27 17:20] leezu commented on #18793
Would this be a good opportunity to stop the "hot-patch the existing AMI (without having a mechanism to regenerate it)" and finalize the script to generate the AMI? What do you think @sandeep-krishnamurthy @ChaiBapchya @josephevans?

[2020-07-27 18:27] szha commented on #18244
@bgawrych yes. thank you for tracking this down.

[2020-07-27 18:27] #18244 closed

[2020-07-27 18:41] abhiksark commented on #15585
@luan1412167 did you find any solution to this problem?

[2020-07-27 18:49] marcoabreu commented on #18793
Well it will still run Linux inside docker then, doesn't it? I haven't really been able to get much information about Windows containers

[2020-07-27 18:57] leezu commented on #18699
Thank you @kpuatamazon. I'll make sure to fix this regression before the stable release. One idea is to speed up the communication with the backend, ie by moving away from ctypes.

As you mentioned that this is one of many changes causing regressions: if you would like to look at the following changes resulting in slowdown, you should be able to disregard the Python changes of 83b5170 (at least in

[2020-07-27 18:59] leezu commented on #18793
It should be possible to run windows inside the container, but cuda may not be supported @yajiedesign?

[2020-07-27 19:42] fhieber commented on #18699
Hi @leezu thanks for the insight!
What `__get_item__` are you referring to, for parameters?

[2020-07-27 20:23] samskalicky opened #18800 "[RFC] v1.8.0 release"
Hi MXNet community,

Now that the 1.7.0 release development is closed (and in the midst of the release process), I wanted to start a discussion around another 1.x based release. There are many users that will continue to us 1.x for the foreseeable future while the community transitions to 2.x. Some examples are those who are using toolkits (ie. GluonCV/NLP/etc.) that are pinned to a 1.x version of

[2020-07-27 20:24] samskalicky commented on #18800
@mxnet-label-bot update [RFC, Roadmap]

[2020-07-27 20:56] Kh4L commented on #18800
These PR related to Partition API changes for the Gluon support could be also added:

- Partition API adding and deleting new params to Block and Symbol  https://github.com/apache/incubator-mxnet/pull/18405
- Add backward Type inference to main NN operators https://github.com/apache/incubator-mxnet/pull/18378
- Add better partial args/aux handling in symbol optimize_for https://github.com/apache/i

[2020-07-27 21:15] stu1130 commented on #18800
I would like to include the [BatchNorm performance improvement PR](https://github.com/apache/incubator-mxnet/pull/18676) for axis != 1 to 1.8

[2020-07-27 21:17] leezu commented on #18699
@fhieber Sorry for being unclear. I'm referring to the 5 seconds overhead that remains after reverting `parameter.py`. I think it may be introduced by the extra C API call via `is_deferred_compute()` in `__getitem__` method in `multiarray.py` / `ndarray.py`

[2020-07-27 22:44] #18266 closed

[2020-07-28 00:33] TaoLv commented on #17791
I'm closing this issue as the target platform changed to provide static libraries of MKL. @sl1pkn07 please feel free to re-open the issue if you have more questions. Please also note that there is an open PR (#17794 ) to disable the static linking.

[2020-07-28 00:33] #17791 closed

[2020-07-28 00:50] yajiedesign commented on #18793
Can run the Linux container.But there are some limitations.Can't run windows and Linux at the same time.Need to switch with command.
CUDA may be supported with docker desktop WSL 2 backend.

[2020-07-28 00:57] ChaiBapchya commented on #18693
# Issue 3

https://mxnet.apache.org/versions/1.6/get_started/build_from_source
Copy button exists in this page. But it doesn't actually work. Unable to paste from the clipboard.

Browsers: Safari, Firefox, Chrome

[2020-07-28 01:01] ys2843 commented on #18693
For main site, please clean the cache in browser. Because there is some changes recently to v1.6 website.

[2020-07-28 02:05] Light-- commented on #15721
so, gentlemen, how  to solve this issue ????

[2020-07-28 02:26] rongzha1 commented on #18788
@piotr

[2020-07-28 03:14] eric-haibin-lin commented on #18729
I think there's extra effort to enable tensor-rt integration with the gluon cachedop, as graph executor was dropped in mxnet 2.0

[2020-07-28 03:17] ChaiBapchya commented on #18693
Refreshing the cache didn't quite help. Can you verify?

[2020-07-28 03:19] yajiedesign commented on #18793
At present, CUDA image production encountered difficulties. Some inexplicable errors, I am still trying

[2020-07-28 03:19] eric-haibin-lin commented on #18730
https://github.com/apache/incubator-mxnet/issues/18730

[2020-07-28 05:02] sxjscience opened #18805 "[Numpy] Whether to support 'exclude' flag in numpy operators"
In the old ndarray API, we support `mx.nd.mean(x, axis=1, exclude=True)`, in which the meaning is to sum up the axes except `axis=1`. We do not have the `exclude` option in `mx.np.mean()` so it will be good to have.

See the following code snippet for an example:

https://github.com/apache/incubator-mxnet/blob/74430a92f5232808a169c9e238a419789a5c2fda/python/mxnet/gluon/loss.py#L149-L152

Another o

[2020-07-28 06:04] houjs opened #18806 "memory access error when inference a splitted pretrained model"
## Description

Hi,

we developed a python program to cut a pretrained object classification model to two parts, top net and bottom net to meeting our application.

The model cutting is based on the model json file. We will re-write the json file and parameter files accordingly into two parts.

We use ssd_512_mobilenet1.0_voc and yolo3_mobilenet1.0_voc to verify.

We have no issue about the yolo3_

[2020-07-28 07:11] yzhliu commented on #16848
It should be resolved by #18660

[2020-07-28 07:11] #16848 closed

[2020-07-28 11:19] Light-- commented on #14799
smaller batch_size saved me.

[2020-07-28 13:29] MyraBaba opened #18808 "import mxnet strange errors"
## Description
I can't import mxnet from shell/python but can use it from PyCharm from same venv.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/bc/.venv/CSI/lib/python3.6/site-packages/mxnet/__init__.py", line 102, in <module>
    from . import numpy_op_signature
  File "/home/bc/.venv/CSI/lib/python3.6/site-packages/mxnet/numpy_op_signature.py", line 70,

[2020-07-28 16:45] ptrendx opened #18809 "test_gluon_dirichlet intermittently fails on CPU"
## Description
test_gluon_probability_v2.py::test_gluon_dirichlet fails with some seeds

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/job/mxnet-validation/job/windows-gpu/job/PR-18622/23/display/redirect

## What have you tried to solve it?

1. Tried the nightly build (to eliminate the impact of the PR which showed the failure in CI) with the same seed:
[code]
Results in error:
[code]

[2020-07-28 16:49] ptrendx commented on #18809
@xidulu FYI

[2020-07-28 17:34] ys2843 commented on #18693
Root cause: a regex in `copycode.js` is only supported in Chrome currently, but not safari and firefox. Will fix this.

[2020-07-28 18:11] ys2843 commented on #18727
This problem is fixed, user is currently redirected to corresponding page in v1.6 website.

[2020-07-28 18:34] #18727 closed

[2020-07-28 18:48] #18730 closed

[2020-07-28 20:28] szha commented on #18808
do you happen to have multiple versions of mxnet installed?

[2020-07-28 20:31] MyraBaba commented on #18808
It is happening in the virtual env.

Interesting part Pycharm can run on it but from shell sourcing activate cant import mxnet

[2020-07-28 20:39] szha commented on #18808
This can only mean that the pycharm setting uses a different pythonpath than using it in venv. Unfortunately, unless I have a way to reproduce it I won't be able to find the cause of the problem for you.

In case the context helps, that part of the code is generating stub files so that IDE like pycharm can correctly perform auto-complete.

[2020-07-28 22:53] szha commented on #18806
@houjs thanks for reporting the issue. Besides the json and params, I think what could really help debugging is how you split the networks to generate them. It might be easier to debug that way.

[2020-07-29 01:18] xidulu commented on #18809
@ptrendx
Thanks for pointing out, looking into it.

[2020-07-29 03:50] niranjannilekani commented on #18774
Hello any update on this? Kindly help me

[2020-07-29 03:50] niranjannilekani commented on #18774
Hello any update on this? Kindly help me

[2020-07-29 05:17] TristonC commented on #18751
@gilbertfrancois What is the BN suppose to do for your model in the tail? Is it suppose to do batch normalize every single value?

[2020-07-29 07:42] pengzhao-intel commented on #18809
Is this MKL build?

[2020-07-29 07:45] pengzhao-intel commented on #18788
@leezu could you give more description of what's the problem is and where it is used?

[2020-07-29 08:18] xidulu commented on #18809
@pengzhao-intel
The flakiness is not related to MKLDNN, however the patch fails on the MKL build:
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18817/1/pipeline/284

[2020-07-29 08:28] xizi commented on #18776
After installed mxnet2.0 build from source.  export model error:
NotImplementedError: Only LSTM mode RNN conversion to ONNX is currently supported.

[2020-07-29 09:51] mseth10 opened #18823 "Backward pass fails for subgraphs containing reshape or transpose op"
## Description
When a computation graph is partitioned, ops are grouped into subgraphs based on the subgraph property. For CachedOp subgraphs containing reshape and/or transpose op, the backward pass fails.

### Error Message
[code]

## To Reproduce
Here's a simple script to reproduce the error with Reshape op:
[code]

It produces the following graph:
[code]

### Steps to reproduce
(Paste the comm

[2020-07-29 12:25] Hao-Tju commented on #14220
I recommend that you should not use both the mxnet profiler and the time function at the same time. MXNet profiler will incur additional overhead and result in a wrong time result.

[2020-07-29 16:36] lanking520 commented on #17783
@saudet Thanks for your reply. Still, I am concerned about the first question:

you mentioned:

We are looking for a robust solution for MXNet Java developers to use especially owned and maintained by the Apache MXNet's community. I will be more than happy to see if you would like to contribute the source code that generate MXNet JavaCpp package to this repo. So we can own the maintainance and res

[2020-07-29 16:43] terrytangyuan commented on #17783
This is great discussion. Thanks @lanking520 for initiating this. Perhaps we can define some key metrics here so we can compare the solutions later?

[2020-07-29 17:19] leezu commented on #18788
MXNet bfloat16 type is registered as having numpy equivalent `np.dtype([('bfloat16', np.uint16)])`:

 https://github.com/apache/incubator-mxnet/blob/c1098aa33d6795f84a19601d0319d5bb8e19f317/python/mxnet/ndarray/ndarray.py#L86

As printing a NDArray works via converting to numpy, this causes `bfloat16` arrays to be printed as `uint16`.

The fundamental issue here is that numpy does not support `bfl

[2020-07-29 17:29] leezu commented on #18774
As the error message mentions, there is no binary CRAN package ‘mxnet’ is available for R version 4.0.2. You can compile from source following the instructions: https://github.com/apache/incubator-mxnet/blob/v1.x/docs/static_site/src/pages/get_started/ubuntu_setup.md

cc @ys2843 @sandeep-krishnamurthy the instructions are missing on https://mxnet.apache.org/versions/1.6/get_started/build_from_sour

[2020-07-29 18:28] #18566 closed

[2020-07-29 18:44] #15935 closed

[2020-07-29 18:46] #14229 closed

[2020-07-29 18:53] szha commented on #14064
in 2.x we will focus on numpy array instead of ndarray. the np.split is now behaving consistently.
[code]

[2020-07-29 18:53] #14064 closed

[2020-07-29 18:57] szha commented on #13953
@zhreshold could you take a look and see:
- how we should deal with this in 2.x
- whether we can/should patch it in 1.x

[2020-07-29 18:59] szha commented on #13466
@ys2843 seems that trainer doc is missing in the 1.6 doc. https://mxnet.incubator.apache.org/versions/1.6/api/python/docs/api/gluon/index.html

[2020-07-29 18:59] szha commented on #13466
and it's empty in master https://mxnet.apache.org/api/python/docs/api/gluon/trainer.html

[2020-07-29 19:22] ys2843 commented on #13466
@szha Could you clean the browser cache and try again? The browser could cached the previous redirect. I can see docs content in both link.

[2020-07-29 21:41] #13163 closed

[2020-07-29 21:46] szha commented on #12205
examples for 2.0 onward will be maintained in https://github.com/apache/incubator-mxnet-examples

[2020-07-29 22:19] #12728 closed

[2020-07-29 22:22] szha commented on #12565
The improvement would need to happen per operator. Let's create issues for individual operators when we discover more of these clear messages.

[2020-07-29 22:22] #12565 closed

[2020-07-29 22:24] szha commented on #12432
this definitely isn't a good first issue without pointers. there are separate issues that track the improvement for source build with version selector.

[2020-07-29 22:24] #12432 closed

[2020-07-29 22:26] szha commented on #12048
This is working now.

[2020-07-29 22:26] #12048 closed

[2020-07-29 22:27] szha commented on #11557
requires https://github.com/dmlc/dmlc-core/issues/623

[2020-07-29 22:40] szha commented on #13466
When I click on the trainer card in those pages, this is what I see:
![image](https://user-images.githubusercontent.com/2626883/88860995-d91a0880-d1b1-11ea-878f-9b9295b9f134.png)

[2020-07-29 22:58] ys2843 commented on #13466
@szha I see the problem, also found several broken links in v1.6 website. It looks like the broken links were only fixed in master branch.

[2020-07-29 23:10] gilbertfrancois commented on #18751
Apologies for the delay in answering. I was offline for a few days.

@TristonC https://github.com/apache/incubator-mxnet/issues/18751#issuecomment-665436383 Yes, that is correct. It is part of research I'm doing, where BatchNorm layers are placed in the tail between Dense layers to equalise the "importance" or "amplitude" of features. I noticed that when comparing feature vectors by computing the

[2020-07-29 23:16] Kh4L opened #18824 "[RFC] Double dependency for ONNX"
## Description
ONNX is integrated as a dependency of onnx_tensorrt, which is itself a dependency (3rd party) of MXNet.
In parallel, ONNX is directly used by MXNet for its import and export functionalities.

Updating onnx_tensorrt can break the ONNX import/export functionalities.

This is not necessarily an issue, but it makes the ONNX dependency brittle.

Opening this issue to track it and potenti

[2020-07-29 23:34] ChaiBapchya commented on #18824
Thanks for creating the RFC. For readers to understand this issue better, could you substantiate with the PR example of how onnx_tensorrt updates can break the MX-ONNX import/export functionalities?

[2020-07-29 23:41] szha commented on #18776
cc @josephevans
conversion of other RNN types will need to be added.

[2020-07-30 01:03] pengzhao-intel commented on #18809
maybe re-run can resolve the issue since I didn't see related problem till now.

[2020-07-30 04:02] sxjscience opened #18826 "[Activation] GELU precision mismatch between MXNet and PyTorch in the CPU version"
The CPU version of `mx.npx.leaky_relu(x, act_type='gelu')` has different precision from PyTorch.

The minimal reproducible example:

[code]

The GPU version has no issue:
[code]

@pengzhao-intel @ciyongch

Error:
[code]

[2020-07-30 04:31] TaoLv commented on #18826
@sxjscience Can you confirm the operator runs into its mkldnn version?

[2020-07-30 04:37] sxjscience commented on #18826
Sorry I do not have the bandwidth to confirm that. I think mkldnn should be turned on by default. Are you able to reproduce this?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tao Lv <notifications@github.com>
Sent: Wednesday, July 29, 2020 9:31:49 PM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Menti

[2020-07-30 05:15] TaoLv commented on #18826
In fact, I cannot correctly run the reproducer. I try to fix the precision problem with #18827. Please let me know if it works for you. Thanks.

[2020-07-30 05:26] sxjscience commented on #18826
@TaoLv Sorry, missed some imports.
[code]

(Compiling MXNet takes some time for me so it will be helpful if you can check that...)

[2020-07-30 08:08] ChaiBapchya commented on #17369
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/PR-18825/2/pipeline
#18825

[2020-07-30 14:33] Masquerade0097 commented on #18667
@leezu I tried to build the cpp package using cmake for your PR #18749 on s390x. Although the build succeeds, I'm unable to find the build files. `incubator-mxnet/build/lib`, `incubator-mxnet/build/bin` are empty. Can you please let me know if this is an issue or am I missing something?

Here are the logs -

[code]

[code]

[2020-07-30 15:35] leezu commented on #18667
Are you sure the build succeed? Above logs are only related to the build configuration and not the actual build

[2020-07-30 23:21] szha opened #18829 "test_sparse_mathematical_core segmentation fault"
## Description
unittest/test_sparse_operator.py::test_sparse_mathematical_core segmentation fault

## Occurrences

https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/PR-18656/18/pipeline/#step-259-log-1771

[2020-07-31 01:35] atulk79 commented on #14468
As Wuxun Zhang  commented, define a function reset_local() in the class MultiBoxMetric to override the new method

[2020-07-31 07:58] szha commented on #18824
Can we drop onnx-tensorrt in favor of native tensorrt integration? It seems perfectly ok to run that outside of MXNet as it's more of an ONNX feature.

[2020-07-31 10:00] saudet commented on #17783
Sounds good, thanks! If you have any specific concerns about the above, please let me know. JNA seems to be maintained by a single person with apparently no connections to the AI industry (https://dzone.com/articles/scratch-netbeans-itch-matthias) whereas I have to maintain anyway as part of my work APIs mainly for OpenCV, FFmpeg, ONNX Runtime, and TensorFlow at the moment, but others as well and

[2020-07-31 17:27] ChaiBapchya commented on #14572
@szha we can close this issue since vamshi's PR fixed it.

[2020-07-31 18:01] #14572 closed

[2020-07-31 18:28] szha commented on #14253
This feature has been made available as experimental feature 1.6 and will be supported in 2.0.

[2020-07-31 18:28] #14253 closed

[2020-07-31 18:30] szha commented on #14330
This change has been accepted to the mxnet website. Thanks to those who helped on making it happen!

[2020-07-31 18:30] #14330 closed

[2020-07-31 18:33] szha commented on #15928
This feature has been accepted. Thanks @xidulu for the contribution!

[2020-07-31 18:33] #15928 closed

[2020-07-31 19:24] szha commented on #17240
This module has been merged and will be included as part of mxnet 2.0. Thank you for the contribution @xidulu @szhengac

[2020-07-31 19:24] #17240 closed

[2020-07-31 19:26] szha commented on #17532
This feature has been merged and will be included as part of the mxnet 2.0. Thank you @mseth10

[2020-07-31 19:26] #17532 closed

[2020-07-31 20:14] eric-haibin-lin opened #18831 "MacOS cmake build instruction broken"
Following the instructions in https://github.com/apache/incubator-mxnet/blob/master/config/darwin.cmake:
[code]
it gives me the error below:
[code]

It looks like the template was actually not used by CMake. Alternatively, if i use `cmake  -DUSE_CUDA=0 ..`, the nvcc error disappears.

[2020-07-31 21:03] ChaiBapchya opened #18832 "[Website] Get started page URL parameters not reset"
## Description
Get started page has a nice approach for getting platform & use-case specific instructions.
URL update doesn't reset device parameter when OS Platform config is switched from Devices to other options [say Windows/Mac/Linux].

## Problem
There are 5 potential arguments appended to the url
https://mxnet.incubator.apache.org/versions/1.6/get_started?platform=<>&language=<>&processor=<>

[2020-07-31 21:03] ChaiBapchya commented on #18832
@ys2843

[2020-07-31 21:03] ys2843 commented on #18604
This issue can be closed, all language bindings are removed from master website.

[2020-07-31 21:03] ys2843 commented on #18429
This issue can be closed.

[2020-07-31 21:04] ChaiBapchya opened #18833 "[Website] Get started Windows Docker missing instructions"
Windows -> Python/Scala.. -> GPU/CPU -> Docker doesn't display any results

https://mxnet.incubator.apache.org/versions/1.6/get_started?platform=windows&language=python&processor=cpu&environ=docker&iot=raspberry-pi&

### What else did I try
https://mxnet.incubator.apache.org/versions/1.6/get_started?platform=windows&language=python&processor=cpu&environ=docker&

[2020-07-31 21:04] ChaiBapchya commented on #18833
@mxnet-label-bot update [bug, website]

[2020-07-31 21:04] #18429 closed

[2020-07-31 21:05] ChaiBapchya commented on #18833
@ys2843

[2020-07-31 21:05] #18604 closed

[2020-07-31 21:05] ChaiBapchya commented on #18832
@mxnet-label-bot update [bug, website]

[2020-07-31 21:54] stu1130 opened #18834 "CUDA: an illegal memory access was encountered on hybridized yolo model"
## Step to reproduce
* build mxnet-cu101 from source based off mxnet 1.7.0 branch
* gluoncv 0.7
[code]
[code]
It works fine when I use mxnet-cu101 1.6 pip wheel

[2020-08-01 00:06] #18561 closed

[2020-08-01 00:06] #18746 closed

[2020-08-01 07:58] zheshipinyinMc commented on #18191
start=np.array([0, 0, 0, 0], dtype=np.int)

[2020-08-01 09:51] yajiedesign commented on #18793
@leezu  @szha I have successfully made cuda10 images, and completed the compilation and packaging in the docker container.
next we need to install docker in aws machine.

[2020-08-01 10:01] marcoabreu commented on #18793
Can you please show a demo before the team takes on the effort to update the ami?

[2020-08-01 11:10] yajiedesign commented on #18793
I try to gen a demo.

[2020-08-01 23:18] #9881 closed

[2020-08-02 02:32] szha opened #18838 "double scroll on website"
## Description
on the website, two scrolls appear which prevents keyboard scrolling.

![image](https://user-images.githubusercontent.com/2626883/89114087-aed47f00-d42d-11ea-89d3-fcd3cd06dd39.png)

## To Reproduce

Use Chrome Version 84.0.4147.105 (Official Build) (64-bit) on OSX and visit
https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/image/mnist.html

[2020-08-02 05:44] eric-haibin-lin opened #18840 "MacOS nightly build broken"
[code]

`import mxnet as mx` probably caused by https://github.com/apache/incubator-mxnet/pull/18836  or #18796

[code]

[code]
@leezu  FYI

[2020-08-02 06:09] szha commented on #18840
Looks like protobuf was missing. I think in the past we've been statically linking protobuf. @leezu is the change towards dynamic linking intentional?

[2020-08-02 13:54] yajiedesign commented on #18551
[WinError 126]Because you lost some DLL dependencies.use https://github.com/lucasg/Dependencies/releases check depend with  mxnet_xx.dll

[2020-08-02 21:20] szha opened #18841 "[Development] Deprecate usage of JIRA in MXNet"
Dear MXNet community,

In [2018](https://lists.apache.org/thread.html/b54c168add0dc623a5356eb878e785886ecb8a4b08049c1ed0a63899%40%3Cdev.mxnet.apache.org%3E), the community voted to use JIRA for tracking development. However, in the past two years people gradually favored using GitHub for tracking instead, and the JIRA conventions were not followed. In order to reduce confusion and centralize issue

[2020-08-02 21:52] szha commented on #18458
I created the repository for examples here: https://github.com/apache/incubator-mxnet-examples

[2020-08-02 23:33] ChaiBapchya commented on #15536
It is fixed with https://github.com/apache/incubator-mxnet/pull/17711
So exporting model using mxnet build from source or nightly binaries of 2.0 should resolve this issue. However, the issue will persist on mx1.4/1.5.1/1.6.0 pypi wheels
@szha

[2020-08-02 23:45] szha opened #18843 "casting Gluon block doesn't work for export"
## Description
casting Gluon block doesn't work for export. the exported data type remains the same as before the cast.

## To Reproduce

[code]

[2020-08-02 23:51] szha commented on #17676
Since the Gluon built-in model zoo is being deprecated and some tests still rely on them, these models will be moved to test_utils.py

[2020-08-03 00:14] szha commented on #18843
This works:
[code]

[2020-08-03 00:21] szha commented on #15536
@ChaiBapchya thanks Chai. shall we backport the patch to 1.x?

[2020-08-03 02:06] Light-- commented on #16665
i also meet this error in mxnet 1.6:
[code]

dont know why.....

[2020-08-03 06:24] ChaiBapchya commented on #15536
Yes. Here you go: https://github.com/apache/incubator-mxnet/pull/18846
However, I'm worried folks consuming MXNet out of PyPi binaries release versions [v1.5.1/v1.6] still won't get this fix. They'd have to either build from source / use nightly binary / manually remove the line from installed python package.

[2020-08-03 07:25] yajiedesign commented on #18793
I am push a domo image to dockerhub yajiedesign/mxnet_cd_demo:1.0
run c:\t\run_demo.bat start build.

[2020-08-03 16:04] eric-haibin-lin opened #18849 "contextvar dependency for MXNet nightly build"
When installing the mxnet nightly build, it does not install the contextvars dependency automatically via pip.
[code]

[2020-08-03 16:33] leezu commented on #18840
Actually it's changed to static linkage @szha:

https://github.com/apache/incubator-mxnet/blob/51340d8f40721e03938e0021c6cbb557a44dd90e/CMakeLists.txt#L157

The problem is though that there is a `AND NOT APPLE` in the `if` condition. Need to move the static linkage option to a separate if clause.

[2020-08-03 16:42] leezu commented on #18793
Thank you @yajiedesign. Can you also share the Dockerfile for https://hub.docker.com/r/yajiedesign/mxnet_cd_demo

[2020-08-03 16:55] leezu commented on #17676
The models in the model zoo rely on ndarray operators which are currently recommended for removal. Thus keeping these models in test_utils.py won't work when proceeding with the operator removal.

[2020-08-03 18:00] leezu commented on #18843
The issue is due to the symbol (and thus it's  `json` representation) not being updated after the export:

[code]

[2020-08-03 19:02] #11378 closed

[2020-08-03 19:30] #18838 closed

[2020-08-03 19:41] kpuatamazon opened #18854 "Default CPU allocator no longer multiple of 64 bytes"
## Description

CPUs perform best when tensors are allocated at a multiple of 64 bytes.  The reason is that AVX512 instructions operate on 64 bytes at a time and memory access is more efficient when memory is aligned.

This code intends to align to a multiple of 64 bytes:
https://github.com/apache/incubator-mxnet/blob/4bb82245ee5fcbfd32da6461f7b0770ae3c2d9b6/src/storage/cpu_device_storage.h#L54-L5

[2020-08-03 20:11] #18840 closed

[2020-08-03 20:58] leezu commented on #18831
MXNet defaults to build with Cuda, even though cuda 11 no longer supports mac.

https://github.com/apache/incubator-mxnet/blob/master/CMakeLists.txt#L42

I recommend we default to cuda=off and rely on the `config/linux_gpu.cmake` for enabling cuda. WDYT @eric-haibin-lin?

[2020-08-03 21:01] eric-haibin-lin commented on #18831
i think there’s some problem with cmake where it didn’t look for the right config.cmake. In this issue, darwin.cmake already set USE_CUDA=0

[2020-08-03 21:04] leezu commented on #18831
Did you run the `cp config/darwin.cmake config.cmake` from the mxnet root folder?

[2020-08-03 22:37] Zha0q1 opened #18855 "NumPy BLAS Clashing with MXNet BLAS"
Both NumPy and MXNet are dependent on BLAS. When they are linked to different BLAS libraries there will be a name clashing issue. Effectively, only functions from NumPy's BLAS will be used by both NumPy and MXNet.

According to https://stackoverflow.com/questions/47891872/how-to-use-non-mkl-numpy-under-anaconda, anaconda will by default ship MKL-dependent NumPy. This is also the case on DLAMI 30:

[2020-08-03 22:58] zhreshold commented on #17676
Just confirmed that If ndarray is being deprecated, the effort of rewriting model_zoo with `np` and `npx` is minimal.

If consensus is made to move model_zoo for testing purpose to test_utils.py I can follow this up in https://github.com/apache/incubator-mxnet/pull/18480

[2020-08-03 23:09] #18849 closed

[2020-08-03 23:24] ptrendx commented on #18809
@xidulu Seems it is not the only test in the gluon_probability_v1 suite that has this behavior of huge variance of results. Here is another failure, this time in `test_gluon_negative_binomial_v1`: https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/PR-18622/runs/23/nodes/175/steps/250/log/?start=0
The error:
[code]

[2020-08-03 23:54] leezu commented on #18855
The problem here is that we can never know what BLAS libraries are linked into other Python packages that our users happen to use. NumPy may be a popular one, but other packages may also link different BLAS implementations. The same issue applies to the OpenMP dependency.

Did you statically link BLAS implementation? For dynamic linking, the loader will load the implementation referenced by the fi

[2020-08-04 00:27] szha commented on #18855
is this from pip package or building from source? for pip, we statically link blas/lapacke and stripped all symbols that are not exposed. this means that the blas/lapacke functions are not in the symbol table.

[2020-08-04 00:29] Zha0q1 commented on #18855
This if for building from source. I just joined supporting large tensors for v1.x and 2.0

[2020-08-04 00:32] Zha0q1 commented on #18855
If we are also distributing int-64 mxnet via pip this is probably not an issue. Otherwise user building from source may run into this

[2020-08-04 00:52] Zha0q1 commented on #18855
yeah it's

Right it was a dynamic link. Is there a way to link it statically when building from source?

[2020-08-04 01:48] access2rohit commented on #18855
@Zha0q1  When building pypi wheel. openBLAS is linked statically and is inside `libmxnet.so`. So for dynamic inking we can layout guidelines for users saying that if they want to build from source they need to reinstall numpy with openblas built from source.

We can change the build from source instructions for mxnet.2.0 to always build openBLAS from source and statically link it. @leezu @szha wha

[2020-08-04 02:00] yajiedesign commented on #18793
https://github.com/yajiedesign/mxnet_cd_demo

[2020-08-04 02:02] yajiedesign commented on #18793
However, these dockerfiles cannot be used directly because they contain a large number of external files. The total is about 4GB.

[2020-08-04 02:56] yajiedesign commented on #18793
I am upload all file to onedriver https://1drv.ms/u/s!AgSFk5eCdAIXkVy8o_B54S1_n8ML?e=qkuJUu

[2020-08-04 03:05] Light-- commented on #10106
@sandeep-krishnamurthy
The question has been raised for years here: https://discuss.gluon.ai/t/topic/6913/3, but no progress...

[2020-08-04 03:26] #17823 closed

[2020-08-04 03:28] eric-haibin-lin commented on #16939
looks like the feature is added already

[2020-08-04 03:28] #16939 closed

[2020-08-04 03:33] Light-- commented on #10240
i didn't use any customops, but also meet this error in mxnet 1.6.0:
[code]

[2020-08-04 06:11] xidulu commented on #18809
The

[2020-08-04 10:59] howff opened #18860 "R loadModule fails (Windows, GPU, mxnet v1.7.x)"
## Description

Whilst building the R package it attempts to perform a test load which fails. The call to `loadModule("mxnet")` in `R-package/R/zzz.R` fails, `ERROR: loading failed` is reported and the R package cannot be loaded into R.

### Error Message

[code]

## To Reproduce

I have checked out the source code to mxnet branch 1.7.x (because that's marked as current release).
The mxnet librari

[2020-08-04 13:39] niranjannilekani commented on #18774
Hi Leezu, where should i run below commands??
Please guide me...iam struggling hard to get mxnet installed
sudo apt-get update
sudo apt-get install -y r-base-core r-cran-devtools libcairo2-dev libxml2-dev

[2020-08-04 16:24] leezu commented on #18774
As you're on Windows, you need to follow the Windows guide instead of the Linux guide. Please see https://github.com/apache/incubator-mxnet/blob/v1.x/docs/static_site/src/pages/get_started/windows_setup.md Sorry that I linked the wrong guide for your case before.

[2020-08-04 21:05] szha commented on #18860
cc @hetong007 for R and @yajiedesign for windows build.

[2020-08-04 21:08] szha commented on #18834
@stu1130 could you help verify if this still happens with the master branch?

[2020-08-04 21:11] #18843 closed

[2020-08-04 21:25] eric-haibin-lin opened #18861 "MXNet nightly build linker error"
https://jenkins.mxnet-ci.amazon-ml.com/job/restricted-mxnet-cd/job/mxnet-cd-release-job/1507/execution/node/165/log/

[code]

@szha @leezu FYI

[2020-08-04 21:27] szha commented on #18861
Seems that our binary is getting too big again
[code]

[2020-08-04 21:29] eric-haibin-lin commented on #18861
@szha how to work around this issue in the short term?

[2020-08-04 21:36] szha commented on #18861
One way is to only build for the cuda arch for your machine. A longer term solution would be the RTC solution that @ptrendx is developing

[2020-08-04 22:42] stu1130 commented on #18834
@szha sure but I ran into this error on master branch
[code]
This is the command I used
[code]

[2020-08-04 22:49] stu1130 commented on #18834
@szha sure but when I build mxnet from source I ran into the error.
[code]
This is the command I used.
[code]

[2020-08-04 22:55] leezu commented on #18834
@stu1130 how about installing patchelf?

[2020-08-04 23:01] stu1130 commented on #18834
@leezu thanks! It works

[2020-08-04 23:12] Zha0q1 commented on #18855
Alright I tried the static build scripts under /tools
This is what I got
[code]

It looks like libmxnet is still dependent on libopenblas. Am I doing this wrong or should I config the script in some ways? @leezu

[2020-08-05 01:39] hetong007 commented on #18860
For R installation on Windows, please refer to this guide: https://github.com/apache/incubator-mxnet/blob/v1.x/docs/static_site/src/pages/get_started/windows_setup.md#install-the-mxnet-package-for-r

[2020-08-05 02:13] stu1130 commented on #18834
It seems gluoncv 0.7 doesn't work with mxnet 2.0. Is the gluoncv 0.7 the latest version I can get?
[code]

[2020-08-05 02:34] szha commented on #18834
That is surprising as I can still import nd from a build on the master branch.

[2020-08-05 02:44] szha commented on #10240
Hi @Light--. I don't think you are using python2. Would you like to create a separate issue instead?

[2020-08-05 02:47] szha commented on #10106
Hi @Light--, just because they have the same error message doesn't mean that they share the same cause. That's the reason why we request for bug reports with detailed environment information so that the developers can reproduce them. If you'd like to get a response on the problem, it would be great if you could do the same and share a bug report. Error messages alone like the above or your link wo

[2020-08-05 04:16] DickJC123 commented on #18800
A major feature of CUDA 11 and cuDNN 8.0 is support for the new A100 GPU and its TensorFloat-32 (TF32) mode of computation.  I would like to include PR https://github.com/apache/incubator-mxnet/pull/18694, "Unittest tolerance handling improvements", which allows MXNet to use TF32 effectively.  The PR also makes sensible adjustments to the unittest tolerances based on device context and dtype, ensu

[2020-08-05 04:30] wkcn commented on #18800
- [Fix Bug] set upper bound infinity for conv, resize, upsampling, etc.
https://github.com/apache/incubator-mxnet/pull/18857
It will allow users to create convolutional layers with large number of filters and large spatial kernel.

[2020-08-05 07:31] howff commented on #18860
@hetong007 Thanks for the link.

I've come to github as a last resort having explored all the documentation, blogs and forum posts over the last two weeks trying to get this installed. The link has information which is very out of date. R 3.5 has been superceded twice, but 3.6 and now by 4.0. The pre-built libraries haven't been updated for 2 years. So I'm building everything from source and it's

[2020-08-05 09:20] Light-- commented on #10106
thanks and i understand. What's need here is someone really have experience/insights related to the above issue. I think the post like https://github.com/apache/incubator-mxnet/issues/10240 has described this very specifically. But providing mass info. in that way is inefficient unless someone knows what's the key info. is needed here. Btw, even doing feedback like that didn't get issue solved at

[2020-08-05 10:23] bgawrych commented on #18854
I will take a look at this

[2020-08-05 12:34] quantum-fusion opened #18862 "ONNX model zoo missing json and params files"
## Description
(A clear and concise description of what the bug is.)

I want to download an ONNX model from the model Zoo. (https://github.com/onnx/models). Since the model zoo only provides the ONNX files

I do not know where to get these files from, and how to generate them. (see exporter function) (https://mxnet.apache.org/versions/1.6/api/python/docs/tutorials/deploy/export/onnx.html#How-to-us

[2020-08-05 12:49] Ru-Xiang commented on #17722
Has any research been conducted,  are there any open source solutions？

[2020-08-05 16:11] szha commented on #10106
Definitely. I agree that this thread isn't a usage question as illegal memory access should pretty much always be a framework problem (either bug or missed check). As a community we are slowly but steadily getting better at serving the community, and I look forward to working with you to solve the problem you face too!

[2020-08-05 16:11] leezu commented on #18862
json and params file is the mxnet format. ONNX is a separate format. You can import onnx models to mxnet, or you can download mxnet model from mxnet model zoo.

[2020-08-05 16:37] leezu commented on #18855
As discussed offline, we should avoid requiring all users to build openblas from source, especially as distributions also provide `libopenblas64_.so` versions with OpenBLAS ILP64 build and `64_` suffix in symbol name. Fedora in https://bugzilla.redhat.com/show_bug.cgi?id=1295965 and Debian testing / Ubuntu 20.04 in https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=910924

To avoid symbol version c

[2020-08-05 17:28] quantum-fusion commented on #18862
The problem is the .ONNX model is custom, and did not come from the MxNet model zoo.  Do you know how to generate the sym and params files themselves?

[2020-08-05 17:43] yzh119 commented on #18789
@szha no, the problem still exists.

[2020-08-05 17:46] szha commented on #18789
[code]

[2020-08-05 17:46] szha commented on #18789
`mx.npx.set_np()` seems to be missing

[2020-08-05 18:58] access2rohit commented on #18855
@leezu Thanks for initiating the discussion on debian science. My solution was to have build instructions for everyone to build openblas from source(static linking would avoid issues for cloud users using DLAMI on EC2 that causes issues with openBLAS installation). That way build instructions are identical regardless of the distro selection. Most customers use pip install so for them there isn't a

[2020-08-05 21:18] karan6181 commented on #13484
Any suggestions or fix? The issue still persist

[2020-08-05 21:26] dcmaddix opened #18865 "mx.random.seed does not give deterministic results on multi-cpus"
## Description
I am trying to fix the random seed across multiple cpus and followed the example to pass `ctx` here : https://mxnet.apache.org/versions/1.6/api/python/docs/api/mxnet/random/index.html and the example code works but it seems order dependent.  See the output below.  If I call mx.random.seed(128, ctx=mx.cpu(0)) and mx.random.seed(128, ctx=mx.cpu(1)), it does not work.  Also is this the

[2020-08-05 23:10] leezu commented on #18855
It's great to have those instructions where required. But we should also look at the trend and build a solution that aligns with the work of others.

We may need to add support for those, it's not automatic. For example, https://cmake.org/cmake/help/latest/module/FindBLAS.html does not currently distinguish the 64 and 32bit versions as the maintainers may not be aware of the use-case.

This doesn'

[2020-08-05 23:21] leezu commented on #18865
`mx.cpu(0)` is not really different from `mx.cpu(1)`. There is only one random resource for CPUs, whereas there is one per device-id for GPUs:

https://github.com/apache/incubator-mxnet/blob/6bbd53107aa16fc41e8d462cf5dc46fb70d592df/src/resource.cc#L394-L402

[2020-08-05 23:27] DickJC123 opened #18866 "test_numpy_op.py::test_np_empty_like fails with numpy 1.16.x"
## Description
On a ubuntu system with MXNet v1.7.x, I see:
[code]
numpy v1.16.x meets the specs found in ./ci/docker/install/requirements.

[2020-08-05 23:27] access2rohit commented on #18855
Makes sense

[2020-08-05 23:29] access2rohit commented on #18855
@Zha0q1 you may want to check if these steps are still there in new build scripts and add as necessary

[2020-08-05 23:35] DickJC123 commented on #18866
@Alicia1529, maybe you'd like to take a look at this, having introduced this test, thanks.

[2020-08-05 23:35] leezu commented on #18861
This is the `build_dynamic_libmxnet cu92` pipeline, which is useless. I think we can delete the pipeline and refactor the CD code to just use the static build. See https://github.com/apache/incubator-mxnet/issues/18233

[2020-08-05 23:45] leezu commented on #18855
If you want to make this work via static linking, you need to follow

"If -Bsymbolic is specified, then at the time of creating a shared object ld will attempt to bind references to global symbols to definitions within the shared library. The default is to defer binding to runtime."

https://stackoverflow.com/a/7202917/2560672

[2020-08-06 00:03] szha commented on #18861
we can also consider breaking down mxnet into multiple so files.

[2020-08-06 00:39] leezu commented on #18861
Let's close this issue as the nightly build referenced here is unused.

[2020-08-06 00:39] #18861 closed

[2020-08-06 01:17] szha commented on #18855
Discussed offline and we need to re-enable the symbol whitelisting in cmake builds. They previously existed in make-based builds:
https://github.com/apache/incubator-mxnet/blob/v1.6.x/make/config/libmxnet.ver
https://github.com/apache/incubator-mxnet/blob/v1.6.x/make/config/libmxnet.sym

[2020-08-06 01:49] sxjscience commented on #18865
You may see also the issue: https://github.com/apache/incubator-mxnet/issues/15662

[2020-08-06 02:26] ptrendx commented on #16858
@mk-61 Could you take a look?

[2020-08-06 02:28] dcmaddix commented on #18865
Why is the result different than on different cpus? The seed does not seem to be fixed in my example.  Thank you!

[2020-08-06 08:05] bartekkuncer commented on #18800
I would like to include update of oneDNN version to v1.6: https://github.com/apache/incubator-mxnet/pull/18867.

[2020-08-06 10:28] Mauhing commented on #13484
Try to monitor your shared memory usage while running the program.  If the problem is still here, try to increase the shared memory size.

[2020-08-06 15:21] yajiedesign commented on #18793
@szha

[2020-08-06 16:39] amir-saniyan opened #18869 "armhf: virtual memory exhausted: Cannot allocate memory"
## Description
During compilation of MXNet 1.6.0 on Debian 10.5.0 (armhf) to use in `Raspberry Pi`, compilation failed.

### Error Message

When the build system tries to compile the `np_einsum_op.cc`, the following error occurred:

[code]

## To Reproduce
[code]

## What have you tried to solve it?

I am not running out of memory. The memory is 4 GB and swap is 2 GB.

I am using a 32-bit GCC (Deb

[2020-08-06 16:48] amir-saniyan commented on #18869
The following paragraph is not always true:

**https://mxnet.apache.org/versions/1.6/get_started?platform=devices&iot=raspberry-pi**:

Compilers on 32-bit Linux does not access more than 3 GB of memory even total memory is too big.

[2020-08-06 16:59] leezu commented on #18869
@amir-saniyan

This would be helpful indeed. Would you be able to submit a PR?

[2020-08-06 17:01] leezu commented on #18865
You are running  two random operations in sequence. The first operation uses the fixed seed but modifies the internal state of the random resource.

[2020-08-06 17:04] sxjscience commented on #18865
However resetting the seed of cpu(1) should give us deterministic results at CPU(1). The current behavior is not expected.

[2020-08-06 17:06] leezu commented on #18865
It's not expected and should be fixed. I'd just like to point out the root cause.

[2020-08-06 17:36] leezu commented on #18793
Our CI actually needs to be able to build the container (at least that's how we do it for Linux containers). Should we request NVidia to provide containers a la https://hub.docker.com/r/nvidia/cuda/ for windows?

[2020-08-06 17:59] josephevans commented on #18793
I can spend some time creating Windows AMIs with docker installed. Can I use the existing AMIs we currently use for Windows CI? What version of docker and what installation steps are you using?

[2020-08-06 22:51] Zha0q1 commented on #18855
Thanks! @szha @leezu  I just looked into adding a suffix to cblas/lapack calls within our code base. There are ~50 places in a handful of different files that also need to be changed. This makes me think if this change is too heavy.  Also 1. openblas is used in TVM, so they will need to make the same change to be consistent with us. 2. like @leezu mentioned finding 64 openblas is not well supporte

[2020-08-06 23:06] Zha0q1 commented on #18855
BTW int 32 blas will work for tensors with size > INT_MAX (2**31 - 1 ), it's just when a dim is > INT_MAX we must use int 64 blas, because in the function declaration they use  int 32 for stride

[2020-08-06 23:29] yajiedesign commented on #18793
@josephevans  I use ltsc2019 base image,You can choose the Windows version based on this page:https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=windows-server-2004%2Cwindows-10-2004

the docker use the last version.I am use win10,so I donwload and run win10 docker setup and next next next etc.
win server look this :https://docs.microsoft

[2020-08-07 00:06] leezu commented on #18855
Why not follow the approach in numpy and define a macro at a central place? https://github.com/numpy/numpy/pull/15069/files#diff-4538717a0246e7d9363e76a2e3fc835e

You can edit https://github.com/apache/incubator-mxnet/blob/master/cmake/Modules/FindOpenBLAS.cmake. You will need to edit this file in any case, even if you chose not to rely on symbol suffixes. That's because ILP64 openblas would typic

[2020-08-07 02:10] yajiedesign commented on #18793
@leezu if NVidia can provide windows cuda containers is the best.

[2020-08-07 02:13] szha commented on #18793
cc @TristonC who tends to have magical ways of making such things happen.

[2020-08-07 03:44] niranjannilekani commented on #18774
Hi Leezu

i tried to install using pre built binary package CPU, but iam getting error as shown below.

R version 4.0.2 (2020-06-22) -- "Taking Off Again"
Copyright (C) 2020 The R Foundation for Statistical Computing
Platform: x86_64-w64-mingw32/x64 (64-bit)

R is free software and comes with ABSOLUTELY NO WARRANTY.
You are welcome to redistribute it under certain conditions.
Type 'license()' or '

[2020-08-07 03:45] niranjannilekani commented on #18774
the link given in dmlc gives error, see below

This XML file does not appear to have any style information associated with it. The document tree is shown below.
<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exist.</Message>
<Key>R/CRAN/</Key>
<RequestId>A3993535E1D9E0C4</RequestId>
<HostId>0B6k+WtkHSwfxQYiW3MJx+zVcagJQWgSdlPNz04UIRsdu5AaB5djyEWphIHtGA6YE552n5I8CPA=</HostId>
</

[2020-08-07 03:45] niranjannilekani commented on #18774
please help

[2020-08-07 03:53] DickJC123 commented on #18866
@reminisce, or whoever looks into this, could you also correct the fact that under numpy v1.16.x, test_numpy_interoperability.py:test_np_fallback_ops fails without NUMPY_EXPERIMENTAL_ARRAY_FUNCTION=1 in the environment before the test is run.  The test should be skipped if the numpy version < 1.17 and the variable setting is missing.

[2020-08-07 03:57] Zha0q1 commented on #18855
I created a simple PR. I am trying to learn about the scope of this change as I go

[2020-08-07 04:19] sandeep-krishnamurthy commented on #18774
@hetong007 can you please help with this issue with a recommendation?

[2020-08-07 05:20] pengzhao-intel commented on #18854
Thanks 👍

[2020-08-07 05:35] pengzhao-intel commented on #18826
Does the issue still exist after Tao's PR?

[2020-08-07 05:40] pengzhao-intel commented on #18788
@ElaineBao could you explain the background?

[2020-08-07 05:41] sxjscience commented on #18826
Yes, it's solved.

[2020-08-07 05:41] #18826 closed

[2020-08-07 05:58] ElaineBao commented on #18788
As @leezu said, numpy doesn't support the data type of `bfloat16`, when printing a NDArray as type `bfloat16`, it will be printed as pre-defined `uint16`.

I think it's not a bug actually, if printing a NDArray has to work via converting to numpy, and numpy has no support of `bfloat16`, the only way to print is converting to another numpy supported data type.

[2020-08-07 06:18] hetong007 commented on #18774
@niranjannilekani Since you have a new R version, [Building MXNet-R from Source Code(CPU)](https://github.com/apache/incubator-mxnet/blob/v1.x/docs/static_site/src/pages/get_started/windows_setup.md#building-mxnet-r-from-source-codecpu) is what you should go for. Please follow it strictly and ping me here if stucked.

Some additional points:
- It involves compilation on your system, so RTools is r

[2020-08-07 09:27] bgawrych commented on #18710
Done :)

[2020-08-07 09:27] #18710 closed

[2020-08-07 15:36] leezu commented on #18788
@ElaineBao I agree it's expected for people who understand how the internal mxnet printing logic works. But I'm not sure if this is the optimal user experience.

[2020-08-07 17:23] Zha0q1 commented on #18855
@sandeep-krishnamurthy would you take a look?

[2020-08-07 17:39] marcoabreu commented on #18869
Generally we rather recommend to crosscompile instead of compiling directly on a raspberry: https://mxnet.apache.org/versions/1.6/get_started?platform=devices&iot=raspberry-pi&

[2020-08-07 18:16] TristonC commented on #16167
@szha  We need to add moving AMP package from contrib to core? We will file RFC for this task.

[2020-08-07 18:47] Zha0q1 commented on #18855
For reference, here are the things I tried:

1. build from source mxnet w/ 64 openblas no suffix + mkl numpy ==> mkl shadows 64 openblas
2. build from source mxnet w/ 64 openblas no suffix + 64 openblas numpy ==> works; calls correct function
3. current static build script mxnet w/ 64 openblas no suffix + mkl numpy ==> mkl shadows 64 openblas
4. static build script mxnet w/ 64 openblas no suffix +

[2020-08-07 21:34] sandeep-krishnamurthy commented on #18734
@leezu @szha @eric-haibin-lin @zhreshold - Multi processing in MXNet is causing multiple issues like this and non-deterministic hangs. Given, 1.x is heavily used in production and will have customers for quite some time - What do you recommend in getting away from multi processing in 1.x?

cc @karan6181

[2020-08-07 22:04] szha commented on #18734
The problem is a general one that cuda doesn't support fork after initialization. Multiprocessing is one way in which this problem is exposed. @ptrendx does CUDA plan on addressing this limitation?

[2020-08-07 22:25] ptrendx commented on #18734
I don't believe enabling forks after initialization of CUDA is planned. Generally this is handled (as @leezu mentioned) by spawning the processes before launching operations on the GPU.

[2020-08-07 22:43] waytrue17 commented on #18823
Using the script above, I tested the following operators: ['Reshape', 'transpose', 'elemwise_add', 'elemwise_sub', 'sum', '_lesser_scalar', '_greater_scalar',  '_minus_scalar', '_plus_scalar']
These ops all have the same Invalid argument error during backward prop.

[2020-08-07 22:49] mseth10 commented on #18823
@samskalicky @szha @eric-haibin-lin do you have an idea what could be causing this?

[2020-08-07 23:05] adrianogil commented on #6734
I'm also having this issue with images greater than 2000x2000

[2020-08-07 23:14] sxjscience opened #18878 "[Bug] Reduction operators in numpy does not support explicitly set `keepdims` to Non"
Minimal reproducible example:
[code]

Output:
[code]

The root cause is that we should revise https://github.com/apache/incubator-mxnet/blob/dde635f8c7666e205816da8ca4e519d0d213523f/src/operator/numpy/np_broadcast_reduce_op.h#L43 to use `dmlc::optional<bool>`.

[2020-08-08 00:00] szha commented on #18734
@sandeep-krishnamurthy so I think the root cause of this won't be fixed and we can document better to help users avoid issue like this. Maybe we can have a flag that exposed whether CUDA has been initialized yet and use it to disable forking in data loader?

By the way, what are the nondeterministic hanging issues?

[2020-08-08 00:04] szha commented on #18878
What's the expected behavior in official numpy?

[2020-08-08 00:07] sxjscience commented on #18878
OK, just realized that numpy does not support None either so it's expected.
[code]

[2020-08-08 00:07] #18878 closed

[2020-08-08 00:33] ElaineBao commented on #18788
Yes, I think so, it's not that friendly for users to print out `bfloat16` values. We can consider if there is a better solution for this.

[2020-08-08 01:04] sandeep-krishnamurthy commented on #18734
Thank you @szha and @ptrendx .

@szha I will start a new thread. I was referring to python multi processing in data loader leading to deadlocks in distributed training.

[2020-08-08 02:55] beew opened #18879 "mxnet python gpu not work"
## Description
When trying to create a nd array with the gpu context python appears to hang.

## To Reproduce
just create an array

[code]

then nothing happened as if it hanged, python was running in the background but no output.  Without the gpu context the process was immediate

## Environment

We recommend using our script for collecting the diagnositc information. Run the following command an

[2020-08-08 04:59] samskalicky commented on #18788
Should we just convert to float32 in Numpy?

[2020-08-08 05:42] szha commented on #18805
While this design made a difference when we needed to program in the symbolic way, since in 2.0 the array interface provides eager type inference, our array can behave just like numpy ndarray so this design shouldn't be required anymore. As such, I'm leaning towards that it's still better to be as consistent with the numpy API as possible in the `np` module.

[2020-08-08 06:09] szha commented on #18879
@beew hi Bernard. Sorry to hear that you are facing this issue. Looks like you have the right CUDA_ARCH for your GPU card. Could you try a couple of things to rule out factors such as GPU, compiler, and dependency library? I'd like to know:
- if the pre-compiled binary works on your platform. You can install a nightly build on the v1.x branch from https://dist.mxnet.io/python. You can use this com

[2020-08-08 17:10] eric-haibin-lin opened #18881 "test_npx_batch_dot flaky test"
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18880/2/pipeline

[code]

[2020-08-09 00:05] szha commented on #18563
This happens for the np operators too.

[code]

[2020-08-09 00:06] #16560 closed

[2020-08-09 00:18] beew commented on #18879
@szha
Hi,

1.without source /opt/intel/bin/compilervars.sh intel64, build with openblas instead of mkl (since can't find mkl root and headers)
python gpu examples works (from here https://mxnet.apache.org/versions/1.6/get_started/validate_mxnet.html)

2 With /opt/intel/bin/compilervars.sh intel6 and build with mkl then gpu examples hang as reported here, regardless whether JEMALLOC is turned on or

[2020-08-09 00:20] szha commented on #18879
@beew thanks for testing these settings, it's really helpful. the mxnet-cu100mkl doesn't contain MKL as blas, but only has mkldnn in it. The blas library used for that build is openblas.

[2020-08-09 00:20] szha commented on #18879
cc @PatricZhao whose team likely has the knowledge to find out why MKL build doesn't work in GPU builds.

[2020-08-09 02:27] DickJC123 commented on #18866
tests/python/unittest/test_numpy_op.py:test_np_random_beta also fails on numpy v1.16.x.  numpy.random.beta(...,size=()) is not supported.

[2020-08-09 04:31] eric-haibin-lin commented on #17045
Happened again for the cu101 build: https://jenkins.mxnet-ci.amazon-ml.com/job/restricted-mxnet-cd/job/mxnet-cd-release-job/1525/execution/node/177/log/

[2020-08-09 04:54] szha commented on #17045
@eric-haibin-lin that pipeline isn't the one that produces the nightly builds. Currently the nightly builds for cu101 has stopped because MXNet follows the NVIDIA's supporting strategy on CUDA, which is only the latest two major and minor versions.

[2020-08-09 23:11] szha commented on #18476
@p517332051 thread safety is not yet guaranteed on all C APis and executors. In 2.0 we dropped support for graph executor in favor of the cached op as the only executor. There is a thread-safe version of it from https://github.com/apache/incubator-mxnet/issues/16431

[2020-08-10 03:36] mseth10 commented on #18823
Here is the stack trace of this issue:
[code]

[2020-08-10 04:13] mseth10 commented on #18823
And this is the stack trace when static_alloc is set to false. I used the following patch to obtain it:
[code]
and build via `cmake -GNinja -DCMAKE_BUILD_TYPE=Debug -DLOG_FATAL_THROW=0 -DUSE_CUDA=0 ..; ninja`
[code]

[2020-08-10 05:17] pengzhao-intel commented on #18879
It sounds wired. We will take an investigation for the issue.

[2020-08-10 08:16] cs8105 opened #18886 "bug of NDarray.reshape"
`
In [26]: import mxnet as mx

In [27]: mx.__version__
Out[27]: '1.6.0'

In [28]: nd = mx.nd

In [29]: a = nd.arange(27).reshape((3,3,3))

In [30]: a.reshape((3,3))
Out[30]:

[[0. 1. 2.]
 [3. 4. 5.]
 [6. 7. 8.]]
<NDArray 3x3 @cpu(0)>
`
the the old shape (3,3,3) and new shape (3,3) is not in the same size.

is there some special purpose for this?

[2020-08-10 08:37] mseth10 opened #18887 "Partition graph containing dynamic shape op"
## Description
Graphs containing dynamic shape op are executed in a naive fashion - CachedOps executed without shape type inference and memory allocation - causing significant slowdown. Such a computation graph can be modified to group static shape ops into subgraphs that allow local shape type inference and memory allocation giving performance boost. This can be achieved through partitioning the

[2020-08-10 08:45] mseth10 opened #18888 "Recusively partition subgraphs inside dynamic shape op"
## Description
Some dynamic shape ops - like cond and while - contain subgraphs inside them. These subgraphs are currently executed naively - without shape type inference and memory allocation - causing significant slowdown. These subgraphs need to be partitioned in a similar fashion as described in #18887 . Since there is a possibility of another dynamic shape op present in these subgraphs, graph

[2020-08-10 09:05] mseth10 opened #18889 "Caching subgraphs based on input shapes"
## Description
When a graph containing dynamic shape op is partitioned based on #18887 (and #18888 ) , the new computation graph contains dynamic shape ops and subgraphs containing static shape ops. The input shapes to these subgraphs can vary for two graph inputs of same shape. This is possible because a dynamic shape op can produce different output shapes for two inputs of same shape, and output

[2020-08-10 09:06] mseth10 commented on #18887
@sandeep-krishnamurthy please add this issue to the project https://github.com/apache/incubator-mxnet/projects/23

[2020-08-10 09:06] mseth10 commented on #18888
@sandeep-krishnamurthy please add this issue to the project https://github.com/apache/incubator-mxnet/projects/23

[2020-08-10 09:06] mseth10 commented on #18889
@sandeep-krishnamurthy please add this issue to the project https://github.com/apache/incubator-mxnet/projects/23

[2020-08-10 10:05] ianhellstrom commented on #17963
@szha What does the `post0` suffix signify?

[2020-08-10 15:29] szha commented on #17963
It's just that after the release the pip package document needs to be patched and hence a new version. Since pypi versions are immutable, such patch happens on a post-release version, hence the suffix.

[2020-08-10 16:07] ianhellstrom commented on #17963
Is there a reason a patch does not get its own patch version?

[2020-08-10 18:04] Zha0q1 commented on #18855
One more thing is that now the static build script defaults to dynamically linking openblas. We would need to patch this; I can share my changes once we have a final consensus on how to support openblas 64 in the future.

Also, opencv would fail to link with this error:
[code]
I had to turn off opencv for the mxnet build.

[2020-08-10 18:33] leezu commented on #18886
I verified that this doesn't affect the `np` interface: `mx.np.arange(27).reshape((3,3))` works as expected on master

[2020-08-10 19:11] szha commented on #18886
@cs8105 congrats that you have found mxnet's built-in way of creating memory leaks🤦‍♂️

Joke aside, I think what we need here is a check for consistent size. the logic for ndarray can be found here:
https://github.com/apache/incubator-mxnet/blob/cc287a0fc2de030c5cbb826092cd1863c72931aa/python/mxnet/ndarray/ndarray.py#L1501-L1520

Would you like to open a PR to add a check that makes sure the size

[2020-08-10 19:14] szha commented on #17963
@ianhellstrom there's no code change other than a readme update. I think this is a proper use of the post-release version numbers according to [PEP440](https://www.python.org/dev/peps/pep-0440/#post-releases)

[2020-08-10 19:18] yx1215 opened #18891 "Build from source issue"
## Description
In the build from source guide [here](https://mxnet.apache.org/versions/1.6/get_started/osx_setup), I need to copy the file make/osx.mk as ./config.mk. However, there seems to be no directory called make?

### Error Message
[code]

[2020-08-10 19:21] szha commented on #18891
@yx1215 we deprecated Makefile on master branch in favor of the new CMake build that @leezu helped revamping. The instruction can be found in https://mxnet.apache.org/get_started/build_from_source

@ys2843 @leezu what do you recommend about the build from source guide problem?

[2020-08-10 19:25] szha commented on #18855
There's a step that disable/remove shared object for dynamic linking.

[2020-08-10 19:40] leezu commented on #18891
@yx1215 you're reading the instructions for MXNet 1.6 (look the upper right corner of the website). The instructions will work for 1.6. If you want to build master version, then select master version of website.

As this is a version mismatch issue, I'm closing the issue. But feel free to re-open or comment if there are more issues

[2020-08-10 19:40] #18891 closed

[2020-08-10 20:02] Zha0q1 commented on #18855
Yes, I did that and was able to build the wheel. I think we should add that back too

[2020-08-10 20:25] benguo2 opened #18893 "Increase inference performance on Jetson Nano + issues with ctx=gpu()"
Hi all! Currently I’m developing with the Jetson Nano, and I’m looking for advice in regards to improving inference performance. I’m using Sagemaker as my training environment for SSD object detection with Resnet-50 as my base network, which exports .params and .json files for mxnet. I’ve built mxnet on the nano using the autoinstaller from the nvidia forum (https://forums.developer.nvidia.com/t/i

[2020-08-10 20:26] szha commented on #18893
cc @TristonC whose team can best help.

[2020-08-10 20:42] ys2843 commented on #18891
I am working on enabling build_from_source per version in master website in #18835, WIP

[2020-08-10 21:16] mk-61 opened #18896 "[RFC] Moving MXNet-AMP to core"
MXNet already has experimental AMP (Automatic Mixed Precision) support, exposed in mxnet.contrib package. It is used for automatic casting models to both float16 and bfloat16. This RFC covers moving it into core / making a first-class feature, as well as further development.

Here's a rough task break down for the initial move:

* Need to ensure AMP works with numpy ops - i.e., all ops are in eith

[2020-08-10 23:17] #17963 closed

[2020-08-11 00:19] barry-jin opened #18897 "[Website] Python API References redirect to 404 (1.6.0 Release)"
## Description
Some hyperlinks of tutorials in [python API/mxnet.gluon (1.6.0 Release)](https://mxnet.apache.org/versions/1.6/api/python/docs/api/gluon/index.html) leads to 404, Including Gluon Guide, gluon.Parameter, gluon.Trainer, gluon.model_zoo.vision.

### Error Message
404 Page

## To Reproduce
Try to access these contents through [master branch](https://mxnet.apache.org/api/python/docs/api/

[2020-08-11 01:28] Zha0q1 opened #18898 "Static Build with OPENCV Linking Error"
I used this cmake config
[code]
The compilation was successful but when importing mxnet this was the error message:
[code]
Disabling opencv resolved the issue

[2020-08-11 04:44] szha commented on #18217
addressing this in #18839

[2020-08-11 05:19] szha commented on #18898
Looks like the same issue as this? https://github.com/xianyi/OpenBLAS/issues/460

[2020-08-11 05:23] szha commented on #18216
this doesn't seem to occur anymore?

[2020-08-11 05:54] lepe opened #18900 "Missing "mxnet-full*" maven release for version 1.6.0"
## Description
In Maven Repository, there are releases up to 1.5.1. Version 1.6.0 is missing, for example:

https://mvnrepository.com/artifact/org.apache.mxnet/mxnet-full_2.11-linux-x86_64-gpu
[code]

[2020-08-11 05:59] szha commented on #18900
@lanking520 could you help with this?

[2020-08-11 06:24] #17910 closed

[2020-08-11 06:30] #14904 closed

[2020-08-11 06:32] szha commented on #17940
@deepakkumar1984 Thanks for bringing this up. if you are still interested in contributing this, maybe you can consider proposing them in either 1.8 (#18800) or 2.0 on the master branch

[2020-08-11 06:33] #17945 closed

[2020-08-11 08:40] ikeliou opened #18901 "The same model with different weights has different inference speeds."
The cpu inference speed of the model LResNet100E-IR which I trained is very slow then the pretrained model in the insightface's model zoo.

my model:
https://drive.google.com/drive/folders/15fRNmKKY-Hoz0L7oayD8DXA-DbGtaZM1?usp=sharing

insignface model:
https://www.dropbox.com/s/tj96fsm6t6rq8ye/model-r100-arcface-ms1m-refine-v2.zip?dl=0

mxnet Version 1.6.0

code:
[code]

[2020-08-11 09:12] kohillyang opened #18902 "Got "kFlag == type_flag_: TBlob.get_with_shape: data type do not match specified type.Expected: 0 v.s. given 2" when training with amp."
## Description
Hello, I'm trying to reproduce FCOS. In order to set a larger batch size, I'm trying to train my codes with FP16. I modified my codes based on <https://github.com/dmlc/gluon-cv/blob/master/scripts/detection/faster_rcnn/train_faster_rcnn.py>, but after training started, I got the following error. One possible reason is that I have used some Operators that AMP does not support, but al

[2020-08-11 10:39] deepakkumar1984 commented on #17940
Thanks @szha The MxNet and Gluon in C# is completed and I have started with documenting it: https://mxnet.tech-quantum.com/

But due to COVID and financial situation didn't get time to work on these. I can only plan for 2.0 if the situation improves.

[2020-08-11 10:57] szha commented on #18902
Hi @kohillyang. Thanks for reporting the issue. Would you mind creating a small reproducible example? Others who help would still need to trigger this issue first in order to debug it.

[2020-08-11 13:47] kohillyang commented on #18902
@szha The following codes can reproduce the above error.
[code]

[2020-08-11 14:50] StevenJokes opened #18903 "why 1.6.0.post0 ?"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

https://github.com/horovod/horovod/pull/2172/files
https://github.com/d2l-ai/d2l-en/issues/1324
https://pypi.org/project/mxnet-cu101/
## To Reproduce
(

[2020-08-11 16:52] leezu commented on #18897
cc @ys2843

[2020-08-11 16:52] szha commented on #18903
See https://github.com/apache/incubator-mxnet/issues/17963#issuecomment-671425026

[2020-08-11 16:52] #18903 closed

[2020-08-11 16:54] leezu commented on #18898
Is this on master or on your modified code?

[2020-08-11 17:09] ys2843 commented on #18897
These broken links were only fixed in master branch, need to backport to v1.6.

[2020-08-11 17:12] lanking520 commented on #18900
Due to the violation on the license issue with CUDA and other 3 party dependencies. We no longer allowed to publish CUDA based version to maven central. You can build from source for your own needs.

[2020-08-11 17:16] Zha0q1 commented on #18898
This is on Master

[2020-08-11 17:20] howff commented on #17887
The same problem exists when I install `mxnet_cu102-1.6.0` into Python38 on Windows via the wheel `mxnet_cu102-1.6.0-py2.py3-win_amd64.dll`  (if you can't get this from pip install then you can get it from dist.mxnet.io/python)

It gives an error `"Could not find module C:\python38\lib\site-packages\mxnet\libmxnet.dll"`

Manually copying the DLLs from the Program Files\NVIDIA GPU Toolkit\CUDA dire

[2020-08-11 17:31] leezu commented on #18898
Why do you turn `USE_LAPACK OFF`?

[2020-08-11 17:57] jeremiedb commented on #18860
The pre-built binaries for Windows are no longer generated by https://github.com/yajiedesign/mxnet/releases from what I can see.
After latest built I made was for R 3.6 Mxnet 1.5. if you need a more recent, Mxnet shall be built from source, which I also had issues with at the time, but haven't tried recently. If building from source works, I think the R package component shouldn't be an issue.
Mor

[2020-08-11 18:00] Zha0q1 commented on #18898
I am building with ilp64 mkl so lapack signatures are different. This is something I will work on fixing but for this build I turned it off.

Yes. The build succeeded but I ran into that error at runtime

[2020-08-11 18:23] leezu commented on #18898
However you set `USE_MKL_IF_AVAILABLE OFF` and you didn't specify the `BLAS` option

[2020-08-11 19:51] szha commented on #18860
@jeremiedb thanks for elaborating. @yajiedesign is currently working on moving the windows build pipeline to our CD, pending on https://github.com/apache/incubator-mxnet/issues/18793. Once that's completed, we can also add R build pipeline based on it.

[2020-08-11 20:49] samskalicky commented on #18800
Hey @wkcn can you create a PR to backport this change on v1.x?

[2020-08-11 21:27] eric-haibin-lin opened #18909 "Website API doc is empty"
<img width="1286" alt="Screen Shot 2020-08-11 at 2 26 19 PM" src="https://user-images.githubusercontent.com/5545640/89950553-b12d9a80-dbde-11ea-9293-28bb2f62f760.png">

https://mxnet.apache.org/api/python/docs/api/gluon/loss/index.html

[2020-08-11 21:38] szha commented on #18909
looking into this in #18839

[2020-08-12 01:13] Zha0q1 commented on #18898
Right, I overlooked this. But our cmake will still choose mkl as our choice of blas.

Thanks for the insight! As discussed offline we will be providing a fix to this

[2020-08-12 02:59] wkcn commented on #18800
Hi @samskalicky , I created a PR #18910 to backport it : )

[2020-08-12 04:35] jeremiedb commented on #18860
@howff In the meantime, although it's not latest mxnet and CUDA version, I've built a GPU version for MXNET 1.5.1 on CUDA 10.1 / cuDNN 7.6.4 for R 4.0.

Can be installed with:
`install.packages("https://jeremiedb.s3.ca-central-1.amazonaws.com/share/mxnet/GPU/1.5.1/R4.0/mxnet.zip", repos = NULL)`

[2020-08-12 04:53] rogerdettloff opened #18911 "Image transforms sometimes produce incorrect result"
## Description
I've noticed that image transforms like `npx.image.random_flip_left_right` and `npx.image.random_flip_top_bottom` sometimes produce an incorrect result--although, sometimes they work correctly.  Please see my example below...

### Error Message
No error message is produced.

## To Reproduce
[code]
The example above does not always produce messed-up results for me, but I found that i

[2020-08-12 07:06] szha commented on #18911
Thanks for reporting this. @zhreshold mind taking a look?

[2020-08-12 08:25] xiaosiyu0603 commented on #17963
Thanks a lot, it works well. Could you please update the command on "https://mxnet.apache.org/versions/1.6/get_started?platform=windows&language=python&processor=gpu&environ=pip&" either? People may get frustrated when they run the command from offical website.

[2020-08-12 10:09] lepe commented on #18900
@lanking520 How about the CPU build? does that has CUDA dependencies?

[2020-08-12 15:50] leezu commented on #18900
CPU build can be published. The issue is not with Maven Central but applies to all channels

[2020-08-12 17:29] szha commented on #18896
cc @sxjscience @leezu

[2020-08-12 18:15] leezu opened #18913 "Can't link master version docs"
https://mxnet.apache.org/get_started/build_from_source will always forward external visitors to https://mxnet.apache.org/versions/1.6/get_started/build_from_source.html

Sometimes we may wish to link the master docs. Currently there is no link, such as https://mxnet.apache.org/versions/master/get_started/build_from_source.html available and it is impossible to link to websites in the master versio

[2020-08-12 22:36] sxjscience commented on #18896
@mk-61 If you'd like to see some test cases of the new numpy API, you can also try the numpy version of GluonNLP:  https://github.com/dmlc/gluon-nlp/tree/numpy . Would we connect via Slack?

[2020-08-12 23:16] zhreshold commented on #18911
confirmed, will update once I rooted the cause

[2020-08-13 00:46] tavoaqp commented on #18655
hey, I'm interested on this, count me in if you want help @cosmincatalin

[2020-08-13 00:56] #16795 closed

[2020-08-13 00:56] #17111 closed

[2020-08-13 05:47] #18911 closed

[2020-08-13 15:26] tavoaqp commented on #18655
hey @leezu , I got to compile the project using `make`. But when run `mvn compile` on the Scala folder I get this error:
[code]
then I realized that the `pom.xml` is configured like this:
`<java.version>1.7</java.version>`

I have Java 11 installed and that may be the source of the error above, would that be correct?
Also, is there any reason to set the `java.version` to 1.7?

[2020-08-13 15:30] szha commented on #18655
@tavoaqp I think that's right. cc @lanking520 who's helping with a build instruction on this.

[2020-08-13 17:33] anko-intel commented on #18879
Hi @beew,

I have tried to reproduce the issue locally on similar hardware (GeForce GTX 1060 6GB, Intel(R) Core(TM) i7-5960X CPU @   3.00GHz) and software (Ubuntu 18.04, Kernel:  4.15.0-88, Nvidia driver 410.48 , CUDA 10.0.130) but unfortunately I couldn't (the test works for me).
Could you paste the MxNet sha and MKL version or (better) attach info.txt file produced by following script (run from

[2020-08-13 17:37] cosmincatalin commented on #18655
I have some instruction in this repository [https://github.com/cosmincatalin/mxnet-compiler](https://github.com/cosmincatalin/mxnet-compiler). I use a custom made Docker image to compile a linux based MXNet library and then I compile the Scala 2.11 binding. The image has Java 8 baked in.
Roughly the same procedure can be used to generate 2.12 bindings, by modifying some Maven configs and libraries

[2020-08-13 17:51] lanking520 commented on #18655
instead of build from source, you can get the pip wheel for mxnet and put the so in the lib folder.

I would suggest start with `mvn verify` to see if it can run successfully. I have been trying to upgrade to 2.12 last year but failed due to some dependencies mismatch issue. If you can get over them it could be ok.

Another beast in the code is the code generation system. I am not sure if 2.12 or

[2020-08-13 18:07] tavoaqp commented on #18655
thanks @lanking520 ! seems like a lot of work :smile: , @cosmincatalin I will try your setup!

[2020-08-13 19:03] rogerdettloff opened #18918 "Export/imports doesn't work with npx.set_np()"
## Description
When using npx.set_np(), I create a net (model), save it using `net.export()`, later re-load it using `mx.gluon.SymbolBlock.imports()`.  I get an error as show below...

### Error Message
[code]
## To Reproduce
This works when NOT using npx.use_np()...posting it as a reference.
[code]

Now try the same thing with `npx.use_np()` , and we get the error.
[code]

## Environment

We reco

[2020-08-13 19:07] szha commented on #18918
cc @leezu

[2020-08-13 19:37] cosmincatalin commented on #18655
@lanking520 Yeah, that works too. I tried with so's from the wheel, and that worked. That being said, 2.12 and 2.13 are a must since a lot Scala code is now on 2.12 at least. Spark is now on 2.12. It would have been nice if the whole setup was based on `sbt` rather than `maven`

[2020-08-13 20:40] sxjscience commented on #18918
@rogerdettloff Actually I cannot reproduce this, would you try to install the nightly version of MXNet and try again?

To install the nightly version:

[code]

[code]

[2020-08-13 20:43] sxjscience commented on #18918
@rogerdettloff I closed it by mistake, feel free to respond to this thread if you have further findings.

[2020-08-13 20:47] sxjscience commented on #18789
Actually I cannot reproduce this error. @yzh119 Would you try again with the latest nightly version and with the following code snippet?

To install the nightly version:

[code]

[code]

[2020-08-13 20:49] sxjscience commented on #18788
Is it possible to customized a dtype in numpy just for printing?

[2020-08-13 20:55] sxjscience opened #18919 "[Numpy] Advanced Indexing Bug"
@AntiZpvoh Would you still have time to take a look?

Reproducible example:

[code]

Error:
[code]

[2020-08-13 21:18] rogerdettloff commented on #18918
I just confirmed this is fixed in 2.0.  Thanks.

[2020-08-13 21:21] leezu commented on #18918
Let's track the bug for the 1.x branch, in case someone is interested in improving the np support there

[2020-08-13 21:47] mkhoshle commented on #15540
I have this issue as well. Does anybody know how should I resolve it?

[2020-08-13 23:46] szha opened #18920 "flaky test_np_quantile"
## Description
tests/python/unittest/test_numpy_op.py:test_np_quantile

## Occurrences
https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/PR-18839/runs/7/nodes/176/steps/247/log/?start=0

[2020-08-14 03:54] StevenJokes commented on #15383
![image](https://user-images.githubusercontent.com/25657787/90211971-ce53aa80-de24-11ea-941e-5d8524d8a763.png)
![image](https://user-images.githubusercontent.com/25657787/90211978-d4e22200-de24-11ea-883d-56eae0e62a60.png)
Me too!

[2020-08-14 07:00] #16937 closed

[2020-08-14 07:21] sxjscience opened #18922 "[Random] Expose the random state"
Exposing the RandomState is quite crucial for implementing many techniques like gradient check-pointing and reversible networks, e.g., https://github.com/lucidrains/routing-transformer/blob/master/routing_transformer/reversible.py#L59-L63, which is not possible with the current MXNet.

Thus, we'd better to expose the RandomState so that we can implement these models.

[2020-08-14 07:37] szha commented on #18922
cc @yzhliu for suggestions

[2020-08-14 07:39] szha commented on #18922
On the same note, NumPy recently revamped the random state implementation https://numpy.org/doc/stable/reference/random/index.html#what-s-new-or-different

[2020-08-14 08:56] yjh2533130373 commented on #17719
Cannot find the MXNet library.
List of candidates:
C:\Users\Administrator\AppData\Local\Programs\Python\Python38-32\Lib\site-packages\mxnet\libmxnet.dll
C:\Users\Administrator\AppData\Local\Programs\Python\Python38-32\Lib\site-packages\mxnet\../../lib/libmxnet.dll
C:\Users\Administrator\AppData\Local\Programs\Python\Python38-32\Lib\site-packages\mxnet\../../build/libmxnet.dll
C:\Users\Administrato

[2020-08-14 09:20] nikky4D commented on #17887
@howff I am having the same issues. Can you tell me what is your setup on Windows? Also what is the pip install command you used to install mxnet for cuda 10.2

[2020-08-14 10:03] howff commented on #17887
@nikky4D I installed Python into c:\Python38 and installed CUDA 10.2 from nvidia then I downloaded the latest nightly version of mxnet from pip which actually turned out to be mxnet-1.6.0 listed here: https://dist.mxnet.io/python, the URL is https://repo.mxnet.io/dist/python/cu102/mxnet_cu102-1.6.0-py2.py3-none-win_amd64.whl. Download that and pip install it. If it gives an error when you try to u

[2020-08-14 10:17] nikky4D commented on #17887
@howff  Thank you for the info. I'll try the manual copy and hopefully that will work.

[2020-08-14 16:22] photoszzt opened #18923 "mxnet fail to import onnx model"
## Description
mxnet fail to import onnx model exported by pytorch. The model is from https://github.com/biubug6/Pytorch_Retinaface

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

  File "/disk/zhitingz/video-pipeline/sprocket/platform/lambda_program/onnxruntime/detec

[2020-08-14 20:41] szha commented on #17369
https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/PR-18924/runs/1/nodes/175/steps/250/log/?start=0

[2020-08-14 21:39] Zha0q1 opened #18926 "ILP64 OpenBLAS Behaviors Different from Regular 32-bit LP64 OpenBLAS"
https://github.com/xianyi/OpenBLAS/issues/2779
Please refer to ^ this issue. Float point behaviors are different in ILP64 OpenBLAS and the vanilla 32-bit LP64 OpenBLAS due to difference in the usage of FMA/blocking. Essentially we will lose precision when two float numbers are more than significand apart. This is better handled by vanilla openblas and hence we may get different numerical results o

[2020-08-14 22:35] leeyeetonn opened #18927 "Floating Point Exception mxnet.ndarray.contrib.bipartite_matching"
## Description
(A clear and concise description of what the bug is.)
* `mxnet.ndarray.contrib.bipartite_matching` gives floating point exception when input data's shape contains 0.
* Curiously, it only gives floating point exception when 0 is at certain location in shape, and gives `dmlc::Error` for other locations. See the provided code snippets for example.
### Error Message
(Paste the complete

[2020-08-15 00:51] szha opened #18931 "[Development] MXNet 2.0 Update"
## Overview

As MXNet development approaches its 2.0 major milestone, we would like to update our community on roadmap status, and highlight new and upcoming features.

- Motivation

The deep learning community has largely evolved independently from the data science and machine learning(ML) user base in NumPy. While most deep learning frameworks now implement NumPy-like math and array libraries, t

[2020-08-15 01:20] sandeep-krishnamurthy commented on #18926
Thanks Zhaoqi. This is applicable for tensors with greater than 2pow31 right? It doesn't have any implications for regular tensors?

[2020-08-15 02:05] Zha0q1 commented on #18926
After more discussion with openblas people my understanding is that loss of precision will happen whenever two numbers to be added are certain magnitude apart from each other. (in fact loss of precision always happen but is especially bad under such condition)

Direct quotes from them:

With that said much less error will be accumulated with regularly sized tensors. Also if all the entries to be a

[2020-08-15 02:14] ndeepesh commented on #16247
Are there any examples on how to use these operators with MXNet 1.6.0?

[2020-08-15 07:14] beew commented on #18879
@anko-intel

Here it is

[code]

[2020-08-15 17:51] photoszzt commented on #18923
I update the issue with my forked repo that contains some helpful script to reproduce this issue.

[2020-08-15 18:12] leeyeetonn opened #18933 "Floating point exception in mxnet.ndarray.InstanceNorm"
## Description
(A clear and concise description of what the bug is.)
`mxnet.ndarray.InstanceNorm` has floating point exception when the given data's `batch = 0` or `channel = 0`. Please see the provided code snippets for example.

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your

[2020-08-15 18:16] tavoaqp commented on #18655
hey @lanking520 I got some progress: I switched to Scala 2.12.12 and fixed the dependencies. Everything compiles (with some warnings though) but when it comes to compile the `examples` project I get this:
[code]

Any pointers?
Thanks!

[2020-08-15 18:41] leeyeetonn opened #18934 "Floating point exception in mxnet.ndarray.LeakyReLU"
## Description
(A clear and concise description of what the bug is.)
`mxnet.ndarray.LeakyReLU` has floating point exception when given data's shape contain 0. Please see provided code snippet for example.

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce

[2020-08-15 19:30] szha commented on #18934
I can reproduce the problem. The error also occurs in 2.0 with the numpy interface
[code]

[2020-08-15 20:09] szha commented on #18923
cc @josephevans and @ChaiBapchya

[2020-08-16 02:24] leeyeetonn opened #18936 "Floating point exception in mxnet.ndarray.op.random_pdf_dirichlet"
## Description
(A clear and concise description of what the bug is.)
`mxnet.ndarray.op.random_pdf_dirichlet` has floating point exception when given `sample`'s shape has 0. Please see the provided code as example.
### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To R

[2020-08-16 02:29] szha commented on #18936
@leeyeetonn thanks a lot for identifying and reporting these issues (#18927, #18933, #18934, and this). it's very helpful.

I think a general problem for these issues is that FPE exits the program without a stacktrace. I will work on improving the signal handler to treat it as a regular runtime error instead.

[2020-08-16 02:59] leeyeetonn commented on #18936
@szha Thanks for your feedback! I agree. They should not have FPEs but rather runtime exceptions in python. I believe each one of them requires some additional input validity checks.

I have a few more cases of FPEs caused by similar kind of input. If you don't mind, I'd like to report them as individual issues which is helpful to keep track of things.

[2020-08-16 03:20] leeyeetonn opened #18937 "Floating point exception in mxnet.ndarray.op.random_pdf_poisson"
## Description
(A clear and concise description of what the bug is.)
`mxnet.ndarray.op.random_pdf_poisson` has floating point exception when given `lam` is shape `(0,)`. Please see the provided code snippet for example.
### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

#

[2020-08-16 03:47] leeyeetonn opened #18938 "Floating point exception in mxnet.ndarray.op.SequenceLast"
## Description
(A clear and concise description of what the bug is.)
`mxnet.ndarray.op.SequenceLast` has floating point exception when given `data`'s shape containing 0. Please see the provided code for example.
### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Rep

[2020-08-16 03:59] leeyeetonn opened #18939 "Floating point exception in mxnet.ndarray.op.SequenceMask"
## Description
(A clear and concise description of what the bug is.)
`mxnet.ndarray.op.SequenceMask` has floating point exception when given `data` has 0 in its shape. Please see the provided code for example.
### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Repro

[2020-08-16 04:11] leeyeetonn opened #18940 "Floating point exception in mxnet.ndarray.op.SequenceReverse"
## Description
(A clear and concise description of what the bug is.)
`mxnet.ndarray.op.SequenceReverse` has floating point exception when given `data` has 0 in its shape. Please see the provided code for example.
### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Re

[2020-08-16 06:19] leeyeetonn opened #18941 "Segmentation fault in mxnet.contrib.autograd.mark_variables"
## Description
(A clear and concise description of what the bug is.)
It seems random ndarray can trigger `mxnet.contrib.autograd.mark_variables` to have segfault. Please see the provided code for example.
### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

Stack trace:
  [

[2020-08-16 06:45] leeyeetonn opened #18942 "Floating point exception in mxnet.ndarray.Correlation"
## Description
(A clear and concise description of what the bug is.)
`mxnet.ndarray.Correlation` has floating point exception when given `stride2=0`. Please see the provided code for example.
### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you devel

[2020-08-16 14:45] StevenJokes opened #18943 "code's indentation in docs is chaos"
## Description
(A clear and concise description of what the bug is.)
https://mxnet.apache.org/versions/1.6/api/python/docs/tutorials/getting-started/to-mxnet/pytorch.html
![image](https://user-images.githubusercontent.com/25657787/90337000-053ae380-e012-11ea-9925-8e0ff5c113c4.png)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable

[2020-08-16 15:53] DNXie opened #18944 "`mx.contrib.autograd.mark_variables` segmentation fault"
## Description
(A clear and concise description of what the bug is.)

`mx.contrib.autograd.mark_variables` throws segmentation fault when `variables` and `gradients` are ndarray

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

[code]

## To Reproduce
(If you developed

[2020-08-16 16:41] szha commented on #18943
@StevenJokes thanks for reporting!

[2020-08-16 19:30] DNXie commented on #18944
Duplicate with #18941. Will close this one.

[2020-08-16 20:11] DNXie commented on #18944
The bug is also reproducible in nightly version.

[2020-08-16 20:11] leeyeetonn commented on #18941
doesn't seem to be able to reproduce the provided example in the nightly version. Closing this one in favor of #18944.

[2020-08-16 20:11] #18941 closed

[2020-08-16 20:13] szha commented on #18944
thanks for reporting. while I don't think it should segfault and abort, in your program both the variable and grad don't have other references, so the ref count decreases to zero right after creation and thus autograd receives the spaces that are already freed.

[2020-08-16 20:59] DNXie commented on #18944
@szha But it is not good to let a program crash just because invalid input, right? Probably it can be fixed with some python exception. Thanks!

[2020-08-17 04:13] ChaiBapchya commented on #10988
Another one: https://github.com/apache/incubator-mxnet/pull/18785
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18785/14/pipeline

[2020-08-17 06:24] ChaiBapchya commented on #16353
#18785
Build 14 & 15
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18785/15/pipeline
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18785/14/pipeline

[2020-08-17 06:56] cosmincatalin commented on #18655
Yeah, I've stumbled on this one as well. Come to think of it, maybe I haven't actually been able to generate bindings for 2.12 🤔

[2020-08-17 09:27] kpuatamazon commented on #18854
Fixed by #18885

[2020-08-17 09:27] #18854 closed

[2020-08-17 15:23] kpuatamazon commented on #17980
Mostly fixed by the v1.6.x release of oneDNN.  There is still a speed discrepancy but it's not as bad.

`git checkout 6b568fd2c10e8cc14c21d6150ba71933a2af2a41` (current v1.x branch of MXNet including oneDNN 1.6.1)
[code]

Revert to oneDNN v1.3.
`git checkout 6b568fd2c10e8cc14c21d6150ba71933a2af2a41 && git revert 17111037176294d86b7dc6f719347aa24c96b317 && git revert eae6171cb56190cf06f5b11597380c0

[2020-08-17 16:59] aaraujom commented on #17980
@ChaiBapchya - Will those improvements work for you?

[2020-08-17 17:15] anko-intel commented on #18879
Hi @beew,

Thanks for your answer. I checked out mxnet sha 3143aabb6 and installed MKL version 2019.1.144 but unfortunately I still cannot reproduce  the issue.
Formerly I cannot install MKL 2018.2.199 which you use as it does not support Ubuntu 18.4. When I force to install it, python3 hangs during “import mxnet as mx” – but it could be a different issue than yours.
I also noticed that your drive

[2020-08-17 17:34] beew commented on #18879
@anko-intel

Hi,

1.I am sticking to MKL 2018.2.199 because of this issue https://forums.developer.nvidia.com/t/nvblas-numpy-intelmkl-2018-3-not-work/66090
Not sure if there is any solution at the moment.

2. Nvidia-smi doesn't tell you which cuda is actually used, rather what is the highest cuda version the driver supports (in this case it is 10.1) Since the change from Cuda 10 to Cuda 10.1 break

[2020-08-17 19:04] leezu commented on #18944
@DNXie would you like to contribute a PR to fix the issue? Please build MXNet from source and add the `CMAKE_BUILD_TYPE` option when calling cmake: `cmake -DCMAKE_BUILD_TYPE=Debug ..`. Then the Stack trace above would point you to the function that needs change for avoiding crash.

[2020-08-17 20:21] access2rohit opened #18947 "MXNet-2.0 Enable 64-bit indexing for larger inputs"
## Description

Use int64_t for data index type for internal MXNet operators and ensure 3rd party dependencies like BLAS/LAPACK libraries, OpenCV, oneDNN(oneAPI) and cuDNN also accept `long long/int64_t` parameters for index types. it should be a 0 change for end user (training/inference)scripts.

Tasks
[x] Investigate and build openBLAS with int64 support
[] Investigate building MXNet with MKL as

[2020-08-17 20:27] access2rohit opened #18948 "Enable numpy extension namespace operators to support large inputs"
## Description
Enable large tensor support for following operators under npx:

operator | asignee | status | action
-- | -- | -- | --
activation | zhaoqi |   |  
arange_like | zhaoqi |   |  
batch_dot | zhaoqi |   |  
batch_flatten | zhaoqi |   |  
batch_norm | zhaoqi |   |  
broadcast_like |   |   |  
cast |   |   |  
check_call |   |   |  
constraint_check |   |   |  
contextvars |   |   |  
con

[2020-08-17 20:40] access2rohit opened #18949 "Enable numpy namespace operators to support large inputs #18948"
## Description
Enable large tensor support for following operators under npx:

Operator | Asignee | Status | Action 
-- | -- | -- | --
abs |  @Zha0q1 | Works  |  
absolute | @Zha0q1  | Works  |  
add |  @Zha0q1 | Not Working  |  
all |  @Zha0q1 | Works  |  
allclose |   |   |  
alltrue |   |   |  
amax | @Zha0q1  | Works  |  
amin | @Zha0q1  | Works  |  
any |  @Zha0q1 | Works  |  
append |  @Zha0

[2020-08-17 20:43] access2rohit opened #18950 "Enable _numpy_op_doc namespace operators to support large inputs"
## Description

Enable large tensor support for following operators under _numpy_op_doc:

Operatoe | Asingnee | Status | Action
-- | -- | -- | --
_np__random_shuffle |   |   |  
_np_copy |   |   |  
_np_diag |   |   |  
_np_diagflat |   |   |  
_np_diagonal |   |   |  
_np_dot | @Zha0q1 | broken on (2**31, 1) | https://github.com/apache/incubator-mxnet/pull/18925
_np_moveaxis |   |   |  
_np_prod

[2020-08-17 20:46] Zha0q1 commented on #18949
Thanks for creating this issue! Is there a way to make the table editable by me? I have tested more ops that marked here and I am working on testing more. I would be nice if I can update the table myself

[2020-08-17 22:00] ptrendx opened #18951 "[RFC] GPU performance improvements in MXNet engine"
# Introduction

MXNet's dependency engine's design is very elegant. It provides an easy way to track any kind of dependencies (data dependencies, resource dependencies etc.) on any kind of device (CPU, GPU) using a single mechanism.

However, as the speed of GPUs increased, it becomes increasingly clear that its implementation in MXNet has overheads. They are especially visible when doing imperati

[2020-08-17 22:25] Zha0q1 opened #18952 "Numpy copysign backward error"
[code]

I got this error when trying to run:
[code]

However, this was able to run with no problem:
[code]

Am I doing this wrong?

[2020-08-17 22:54] Zha0q1 opened #18953 "Behavior difference betwen np.broadcast_to and npx.broadcast_like"
[code]

np.broadcast_to can broadcast (x, ) to (2, x) but npx.braodcast_like cannot.
[code]

Is there any reason to make them different? Otherwise should we make them consistent?

[2020-08-17 23:30] access2rohit opened #18954 "Ensure when USE_BLAS=mkl at mxnet build doesn't break with MKL_USE_ILP64=ON"
## Description

MKL supports int64 indexing if MXNet is build with flag `MKL_USE_ILP64=ON` but internally mkl uses `long long` for 64-bit int instead of `int64_t`. This is fine as long as parameters are passed by value but when they are passed as reference `*int64_t` is treated as `*long` hence for 64-bit integer pointers there is a type mismatch by compiler while building MXNet which is `cannot c

[2020-08-18 00:27] KellenSunderland commented on #18951
I really like this proposal, thanks for the great write-up Przemyslaw.

I haven't totally thought through pros/cons, but would it be possible to return a cudaStreamWaitEvent by default after every block of operators is called, and use that as a reference for any dependent block of ops? Would this unblock our GPU worker threads because we're not calling a cudaStreamSync?

If I'm understanding corre

[2020-08-18 00:49] ptrendx commented on #18951
@KellenSunderland The problem is that it is impossible to predict which stream will be chosen for the next operator, and issuing waits on all streams would mean that you never get the parallel execution. To choose the right stream to wait one needs to do it from the second op, not the first (and then you basically end up with this proposal).

[2020-08-18 03:20] kohillyang commented on #18902
Can I get some advice? I have no idea how to solve this problem. Thanks.

[2020-08-18 04:20] szha commented on #18902
so the error is saying that it's expecting float32 while getting float16. you may want to try to use NaiveEngine to pinpoint where this came from: https://mxnet.apache.org/api/dev-guide/debugging_and_performance_optimization_tips

Type code can be found here: https://github.com/apache/incubator-mxnet/blob/master/3rdparty/mshadow/mshadow/base.h#L327-L342
[code]

[2020-08-18 11:32] Light-- commented on #8623
is there any example for setting different learning rate for different layers in mxnet?

[2020-08-18 12:14] anko-intel commented on #18879
Hi @beew,
Thanks for your answer.
You probably already know it - you can also have several MKL versions and switch between them.
Thanks to that you can switch to MKL 2019 just before compilation of Mxnet by :
[code]
and after MxNet compilation you can restore compilers_and_libraries link to your default MKL versions used by other software.

[2020-08-18 15:00] Neutron3529 commented on #16167
@szha I found an inconvenient thing that there is no `concat` layer for gluon. Is it possible to add a `concat` layer for gluon?

[2020-08-18 15:56] beew commented on #18879
@anko-intel

Yes, I can also set up update-alternatives just as I switch between mkl and openblas, I will give it another try in a few days to give it another shot and report back. Thanks.

[2020-08-18 16:38] HahTK commented on #18800
I would also like to see the "Duplicate subgraph input and output" fix in MXNet.18
Specifically, this PR https://github.com/apache/incubator-mxnet/pull/16131.

If I am not mistaken that PR had some test failures.
However, I have a different implementation that is passing.
Can we make this a goal for MXNet 1.8 as well ?

I can do the PR or fix the old one if we approve it for 1.8

[2020-08-18 16:57] szha commented on #8623
@Light-- this still applies to Gluon where there's a per-parameter attribute of `lr_mult`.

[2020-08-18 16:57] #18909 closed

[2020-08-18 17:08] ChaiBapchya commented on #17980
Is there a way to bring down the deficit and have parity? or do we know the reason why DNNL is slower? @TaoLv @aaraujom

[2020-08-18 19:35] Zha0q1 commented on #18954
https://github.com/apache/incubator-mxnet/blob/master/src/operator/numpy/linalg/np_solve-inl.h#L355
https://github.com/apache/incubator-mxnet/blob/master/src/operator/linalg_impl.h#L1667

Some algorithmic changes are also needed, such as pivot calculation ^

[2020-08-18 20:31] eric-haibin-lin opened #18957 "MKLDNN headers missing in mxnet mac nightly build"
[code]

[2020-08-18 20:32] szha commented on #18957
cc @leezu

[2020-08-18 20:51] szha commented on #18951
sounds like a good idea. maybe we can extend the lambda a bit to implement the synchronization as decorator?

[2020-08-18 21:40] ptrendx commented on #18951
Definitely - it should not be the responsibility of the operator to do this synchronization - it should be handled automatically by the framework.

[2020-08-18 21:52] b-shi commented on #17980
Hi, we benchmarked gemm performance for those sizes internally using oneDNN vs oneMKL directly and here is what we got:

| Max (20K trials) GFlops | oneMKL (1Th) | oneDNN (1Th) | oneMKL (4Th) | oneDNN (4Th) | oneMKL (8Th) | oneDNN (8Th) | oneMKL (28Th) | oneDNN (28Th) |
|-------------------------|--------------|--------------|--------------|--------------|--------------|--------------|------------

[2020-08-19 00:32] davisliang commented on #16167
Making `MXNET_SAFE_ACCUMULATION=1` default when running on float16 would be very convenient!

[2020-08-19 00:36] szha commented on #16167
+1 for turning it on by default.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Davis Liang <notifications@github.com>
Sent: Tuesday, August 18, 2020 5:32:29 PM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: Sheng Zha <dmlc.notification@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [apache/incubator-mxnet] [RFC] Apache MXNet

[2020-08-19 01:54] Light-- commented on #8623
then how to output the lr of one layer?

[2020-08-19 03:36] AIGirl10 commented on #14589
Can you please tell me how to export with onnx 1.3 since we are using onnx from mxnet ?

[2020-08-19 04:21] szha commented on #8623
the lr of each layer would be the `lr * lr_mult`

[2020-08-19 05:15] cybaj opened #18960 "Dockerfile build with mxnet dependency package no gpus detected"
## Description
(A clear and concise description of what the bug is.)

### TL;DR
I want to build image which contains the library needed `mxnet` dependecy.
So I added installation of the library and `mxnet` at Dockerfile. `mxnet` package was installed fine.
But build was failed with `OSError: libcuda.so.1: cannot open shared object file: No such file or directory` at installation of the library.
So

[2020-08-19 05:25] szha commented on #18960
@TristonC is there anyone on your team who's familiar with the setup in the nv pytorch docker releases?

[2020-08-19 06:17] Light-- commented on #8623
you mean i can't output it?

[2020-08-19 06:30] szha commented on #8623
right, I don't think it's exposed in the frontend. lr_mult should be set on a variable such as the weight of fullyconnected.

[2020-08-19 06:37] Light-- commented on #17258
i also meet this error, how to solve it?

[2020-08-19 06:43] szha opened #18962 "tutorial didn't mention how to disable hybridization"
## Description

The problem doc is at https://mxnet.apache.org/versions/1.6/api/python/docs/tutorials/packages/gluon/blocks/hybridize.html

The corresponding file is https://github.com/apache/incubator-mxnet/blob/master/docs/python_docs/python/tutorials/packages/gluon/blocks/hybridize.md

[2020-08-19 06:48] ikeliou commented on #18901
I found the problem is the same as the issue #17953.

[2020-08-19 06:48] #18901 closed

[2020-08-19 07:26] Light-- commented on #8623
ok, since i can't find any official example for doing this, now i do it by myself:
1, is the following code right?
[code]
2, do i need to set the lr_mut for optimizer at the same time to make it work? or just set one of them is enough? [some post said it also need to set lr_mult for the optimizer](https://discuss.gluon.ai/t/topic/6002/12)

[2020-08-19 07:28] Light-- commented on #3539
404 now

[2020-08-19 07:31] szha commented on #8623
I think it's only required in one of the two places. the approach in post2 is to use a dictionary to set the lr_mult for each variable by name according to the dictionary input.

[2020-08-19 07:34] Light-- commented on #15718
could you please share how to solve it? some example code?

[2020-08-19 07:35] Light-- commented on #9101
hi bro, how did you get the lr_mult of one layer at last?

[2020-08-19 09:12] xiaoFine commented on #18415
Have you solve problem?

[2020-08-19 11:47] cybaj commented on #18960
I was able to fix this issue by setting `env LD_LIBRARY_PATH` to this image's originals.

[2020-08-19 13:32] pengzhao-intel commented on #18954
@mxnet-label-bot remove [MKL]

[2020-08-19 13:49] Masquerade0097 commented on #18415
@xiaoFine Yes, the error was resolved after importing `mxnet/c_api.h` in my Go code files.

[2020-08-19 13:58] anko-intel commented on #18954
@mxnet-label-bot add [MKL]

[2020-08-19 15:48] TaoLv commented on #17980
@ChaiBapchya Is it possible to compare the performance of FC in two versions? Comparing FC with dot is not so fair to me. As you may know, they are using different execution paths, FCompute vs. FComputeEx.

[2020-08-19 16:48] StevenJokes commented on #18931
I'm a newbie. I'm learning d2l [DCGAN](http://d2l.ai/chapter_generative-adversarial-networks/dcgan.html).
And I try to translate to pytorch. Then I found it isn't same with tutorial in pytorch.org.
Which one is right?
My issue is here: [Maybe our DCGAN have extra nn.BatchNorm2d(ndf)?](https://github.com/d2l-ai/d2l-en/issues/1381)
Still not finish my work: [PR](https://github.com/d2l-ai/d2l-en/pull

[2020-08-19 17:17] szha commented on #18931
@StevenJokes for usage questions, feel free to use https://mxnet.apache.org/community/contribute#forum. RFC issues like this notify all mxnet developers automatically for any discussion so let's move this elsewhere.

[2020-08-19 17:17] StevenJokes commented on #18931
宝贵And one more thing, the new d2l [forum](https://discuss.d2l.ai/) have no offical reply three days.
I'm a newbie. I'm trying to answer some, but I'm afraid to mislead others.
Please spare some time to answer some if you guys can.

---

I'm thinking that the forum is most important to get more new users and find pain spots when communicating.
The pytorch's friendly is caused by the saved discussio

[2020-08-19 17:45] StevenJokes commented on #18931
Don't joke.
Please look https://discuss.mxnet.io/ again.
I ask you how many questions replied here these two months.
Then you can contrast it with discuss.pytorch.org

If we don't have many users, we should pay more attention to them and try to answer every questions.
Then more new users will come, because they know they can find others'  solutions and if they can't, they are still cared about to

[2020-08-19 17:49] StevenJokes commented on #18931
![image](https://user-images.githubusercontent.com/25657787/90671351-27896700-e287-11ea-9dae-c65db8a186f4.png)

VS

![image](https://user-images.githubusercontent.com/25657787/90671400-3e2fbe00-e287-11ea-803b-e1fc4768bf13.png)

Just imagin you are new user now. Which framework you will learn and which forum you will ask?

[2020-08-19 17:50] szha commented on #18931
@StevenJokes thanks for the feedback and I'm really glad that you feel strongly about mxnet and want it to get better. I share the sentiment and as a community I think this is indeed an area where we try to improve. cc @astonzhang on the d2l support

That said, the past few comments have been off-topic, and I will mark them so once others have a chance to look at them.

[2020-08-19 17:52] qqaatw commented on #18931
@StevenJokes Thank you for mentioning this notable and important point! I perceive that a open source project should has an active community to grow up. The forum of MXNet is really inanimate, almost no experienced developers answer the questions on it. This situation will strongly reduce people’s desire to use this framework. Please try to improve it! Tks.

[2020-08-19 17:59] szha commented on #18931
@qqaatw thank you for sharing your feedback. Again, I share the same sentiment and I will myself will at least try to help as much as my bandwidth allows. That said, the proper channel to bring this up is a separate thread on [dev@mxnet.apache.org](https://lists.apache.org/list.html?dev@mxnet.apache.org).

This issue is for feedback on 2.0 features and use cases and I request that we stay on topic

[2020-08-19 18:01] StevenJokes commented on #18931
Off-topic again...
I hate yours' saying. The most important reason that I'm here is just to talk to all your developers.

[2020-08-19 18:10] szha commented on #18931
@StevenJokes you still can reach developers by joining discussion on [dev@mxnet.apache.org](https://lists.apache.org/list.html?dev@mxnet.apache.org), or mentioning this team in GitHub `@apache/mxnet-committers`. They should happen in a different issue and thread, not here.

[2020-08-19 18:13] StevenJokes commented on #18931
And you, developers, just feel good to keep mysterious until nobody understand your "nice" tool, abandon it and don't need you.
You don't need to forgive my very rude grumbles. Just to find some DL books to know that which frameworks most users will learn and talk about. And you can feel free to play your fascinating tools all your life.

I don't care whether it is right issue or not. I just alarm

[2020-08-19 18:21] StevenJokes commented on #18931
You should know that not all users have time and knowledge to read rules and follow your d2l systemic book.
Make your rules simple and obvious next time.

[2020-08-19 18:24] qqaatw commented on #18931
@szha I was in the dev mailing list months ago, and I’m not really a new. BUT what @StevenJokes said really make sense, it is the most important thing, even the fetal problem on MXNet. Please do not put this matter aside, or a off-topic, thank you.

[2020-08-19 18:35] sxjscience commented on #18931
@StevenJokes I think the issue about DCGAN is related to D2L and you'd better to discuss it in the D2L-related channels. (Find one in the D2L: https://github.com/d2l-ai/d2l-en/issues/1381) If you have specific issues about MXNet, you may create an issue and tag it as BUG, or other labels so we can take a look.

[2020-08-19 18:39] StevenJokes commented on #18931
My [summary](https://discuss.d2l.ai/u/stevenjokes/summary) is here:
![image](https://user-images.githubusercontent.com/25657787/90675100-9c12d480-e28c-11ea-981b-7fb201688343.png)

OK. If you don't care me, I don't care you either.

[2020-08-19 18:41] szha opened #18963 "Discussion on Community Management"
## Description

A divergent discussion in #18931 surfaced insufficient support in the discuss forums which is an important issue.  @StevenJokes and @qqaatw brought up a valid point that it's vital to the community.

Here I'd like to tap on that discussion and explore how our community can better help new users engage by making sure their inquiries are heard. Topics in this discussion include: what

[2020-08-19 18:42] sxjscience commented on #18931
@StevenJokes In addition, for the DCGAN issue that is related to D2L, a simple way to verify that you are correct (and also convince the others), is to write a test case that checks whether these two networks are **equivalent**.

For example, you have a network A implemented in MXNet and a network B implemented in PyTorch. There are several checks that you can do:

- Just try to see if these two n

[2020-08-19 18:44] szha commented on #18931
@qqaatw this thread is for 2.0 discussion on the technical roadmap. Community engagement is not part of this topic. As mentioned above, I shared the same goal and sentiment as you. And I also treat this issue seriously and by no means am dismissing you. But, unless the community can have a proper discussion on this, others have no way of working together with you on this.

@StevenJokes here is how

[2020-08-19 18:46] sxjscience commented on #18931
@StevenJokes In addition, for the DCGAN issue that is related to D2L, a simple way to verify that you are correct (and also convince the others), is to write a test case that checks whether these two networks are **equivalent**.

For example, you have a network A implemented in MXNet and a network B implemented in PyTorch. There are several checks that you can do:

- Just try to see if these two n

[2020-08-19 18:46] lanking520 commented on #18931
@StevenJokes Thanks for your effort working on MXNet project and D2L part. It's really an awesome work you have done. We should definitely raise our attention on active contributors. Before we drive this thread into cat-fight, I would recommend you open another issue like Sheng mentioned in the issue. We can discuss over there. This one is just the roadmap for 2.0 features and updates. If you have

[2020-08-19 18:47] StevenJokes commented on #18931
I'll sleep. Good night. 2:37AM now.

[2020-08-19 18:51] ehsanmok commented on #18931
@StevenJokes Thanks for your comments! Couple of things:

* Your comments are violating the [Code of Conduct](https://github.com/apache/incubator-mxnet/blob/master/CODE_OF_CONDUCT.md). Rude and harassing comments, no matter how useful they are, will not be tolerated and listened to. We are a big community here, please be respectful.
* Pretty much all of your peers are aware of the forum issues so

[2020-08-19 19:18] StevenJokes commented on #18931
OK. You'd better not listen. I have read Code of Conduct.

[2020-08-19 20:20] szha commented on #18960
@cybaj great to know. If you could share what you did as a solution in this issue, it would help others who run into the same issue. Thanks!

[2020-08-20 01:24] Zha0q1 commented on #18926
Update: The difference in numerical value is caused by the fact that DLAMI (what i refereed to earlier as vanilla openblas) uses a special (possibly optimized) openblas lib.

I did more tests and found that:

DLAMI openblas (LP64, int32): no loss of precision on my example 2.14748e+09
openblas dev (ILP64, int64): loss of precision 1.93274e+09
openblas dev (LP64, int32): loss of precision 1.93274e+

[2020-08-20 02:01] sandeep-krishnamurthy commented on #18926
Thanks Zhaoqi. If the issue turns out to be DLAMI open blas we should be able create an issue with AWS DLAMI team and get it resolved by bringing this issue to their notice.

Outside DLAMI what is your summary ? Are you saying there will be no loss of precision? You Github iasue with openblas team says it is expected to have different behavior?

[2020-08-20 02:21] Zha0q1 commented on #18926
Will do by this week.

The summary is that under the same version and configuration 32 and 64 openblas will give consistent results. This is what we and the openblas team expect.

Both my 32 and 64 openblas builds have the same loss of precision. Openblas team explains that this is caused by the nature of float number computation and is not a bug. However, it appears that DLAMI ships with a specia

[2020-08-20 03:08] zybsu27f22 opened #18966 "One bug in mxnet1.6.0 gluon hybridize"
## Description
gluon nd接口与sym接口运算结果不一致的问题：如果在使用gluon定义的网络
中输出的结果有加上常数的时候模型hybridize后计算结果会出现错误。

## To Reproduce
比如在gluoncv 中yolov3模型将YOLOOutputV3中box_centers = F.broadcast_add(F.sigmoid(raw_box_centers), offsets) * self._stride 改为 box_centers = F.broadcast_add(F.tanh(raw_box_centers)*3 +1 , offsets) * self._stride，模型在hybridize后与nd计算结果不同。如果单独测试tanh(x) + 1 sym接口与nd计算结果一致，该问题只在定义好的gluon多层网络模型中存在单层网络中

[2020-08-20 03:17] szha commented on #18966
cc @zhreshold to help on GluonCV issues.

[2020-08-20 03:22] stu1130 commented on #18800
I would like to include one more PR #18218 which helps use to build windows mxnet.

[2020-08-20 03:39] xiaoFine commented on #18415
Thanks.

[2020-08-20 05:22] szha commented on #17369
https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/PR-18965/runs/1/nodes/176/steps/247/log/?start=0

[2020-08-20 06:13] PistonY commented on #15013
I met same, 2020.8 now still nobody fix this.....

[2020-08-20 06:30] szha commented on #15013
cc @josephevans @ChaiBapchya

[2020-08-20 06:50] pengzhao-intel commented on #18963
My 0.02, it will be better to have a unified place to discuss all MXNet related issues. There are multiple forums but I don't think it's not active, including dev@, JIRA.

I think GitHub will be a good choice for the interface of MXNet and their user/developers.

[2020-08-20 09:02] wangzbo opened #18970 "Unsuported operator when importing an ONNX model"
## Description
Hello,

I am using mxnet to import a onnx model exported by pytorch and it failed with the error message below. Is there any plan to support the ConstantOfShape operator? Does mxnet support to import a pytorch model with dynamic input/output shapes? Thanks.

python: 3.7.6
pytorch: 1.6.0
opset_version: 11
mxnet: 1.6.0
OS: macOS mojave

### Error Message

## To Reproduce
(If you devel

[2020-08-20 12:51] StevenJokes commented on #18963
I don't think GitHub will be the only one place.
Please look the mxnet issues' numbers. Too many.
It's hard to search directly in google too.
Keep only bugs to report in github.

---

We need a discussion that it's easy to search and solve some specific problems.

---

Frequent Asked Questions is a good try.
**BUT!!**
![image](https://user-images.githubusercontent.com/25657787/90770278-19d5ef00-e3

[2020-08-20 15:06] lanking520 commented on #18655
Acutally this is used for Java to access the NDArray class.