[2020-04-03 04:26] szha commented on #17963
We do have that for linux. https://pypi.org/project/mxnet-cu102mkl/#files

What operating system are you using?

[2020-04-03 04:30] sbar365 commented on #14004
I am also trying to install mxnet for R on MacOS (10.15.4). I installed openblas 0.3.9 and opencv 4.2.0_3.

cran <- getOption("repos")
cran["dmlc"] <- "https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/"
options(repos = cran)
install.packages("mxnet")
library(mxnet)

and I get the following error:

[1] "Loading local: inst/libs/libmxnet.so"
Error: package or namespace load failed f

[2020-04-03 07:27] wilderfield commented on #17537
@samskalicky Irregardless is not a word...

[2020-04-03 09:12] Qualiazero commented on #17963
I am using python compiler of anaconda on the windows10, will you have a windows version soon?

[2020-04-03 10:41] Elijas commented on #11557
@apeforest Thank you for a quick reply! It worked for `graph_executor.cc`, however, not for these:
[code]
Could you tell me the other environment variable?

What I've tried to find it:
I tried looking into source myself to find other ```*_VERBOSE```  variables (no results)
Also tried looking for the definition of ```LOG()``` (no results)

[2020-04-03 11:25] chinakook opened #17965 ""libgcc_s.so.1 must be installed for pthread_cancel to work" when train mask_rcnn"
## Description
"libgcc_s.so.1 must be installed for pthread_cancel to work"

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide

[2020-04-03 11:41] #17965 closed

[2020-04-03 13:53] apeforest commented on #11557
There is no variable to disable that. And it's logged using INFO level.

[2020-04-03 17:29] Qualiazero commented on #17678
Hello are you using linux install this package?

[2020-04-03 17:48] szha commented on #17963
The windows version was too large in size so we only have it available in our own repo https://dist.mxnet.io/python. You can install with
`pip install mxnet-cu102mkl==1.6.0 -f https://dist.mxnet.io/python`

[2020-04-03 17:49] szha commented on #17963
Let's keep this issue open until the installation doc is updated.

[2020-04-03 18:08] #17818 closed

[2020-04-03 18:10] Elijas commented on #11557
Is there a way to set global logging to higher than INFO level, for example
WARNING ?

On Fri, Apr 3, 2020 at 4:53 PM Lin Yuan <notifications@github.com> wrote:

[2020-04-03 21:56] aaronmarkham commented on #17910
It's Markdown 2.1 - this is the dep that is now Python 3 only. In some previous fixes I went through and pinned dependencies. And this is what I tried to apply. Thus the error on Python 2.
This is captured [here in my PR that I closed](https://github.com/apache/incubator-mxnet/pull/17919#issuecomment-605301300) because it won't work without a [significant amount of back-porting](https://github.com

[2020-04-04 00:07] #17961 closed

[2020-04-04 00:11] leezu commented on #17935
Created an upstream issue: https://github.com/thrust/thrust/issues/1090

[2020-04-04 00:56] RuRo commented on #17829
Also here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17734/11/pipeline

[2020-04-04 01:01] leezu opened #17968 "[RFC] Raising the toolchain requirements for MXNet 2"
## Description
I propose to raise our toolchain requirements for the MXNet 2 development branch to require at minimum gcc7 or clang6 on Unix systems and MSVC 2019 on Windows system. All 3 have [reasonable complete C++17 support](https://en.cppreference.com/w/cpp/compiler_support#cpp17) and MSVC 2019 fully supports, so that we can adopt `C++17` as required language standard. gcc7 and clang6 are ava

[2020-04-04 01:20] RuRo commented on #17953
Hi. I've previously had a similar problem, which turned out to be due to [denormal numbers](https://en.wikipedia.org/wiki/Denormal_number) in the model weights. This issue only affects inference times on the CPU, since on some modern CPUs floating-point computations are significantly slower for denormal numbers.

In my experience, denormal numbers often appear in model weights, when you have vanis

[2020-04-04 02:08] Qualiazero commented on #17963
Did the option -f equal to --find ？ I can't find this option in the user guide documentation of pip..

[2020-04-04 04:30] sandeep-krishnamurthy commented on #17968
+1 Thanks for bringing this up.

[2020-04-04 06:25] djaym7 opened #17971 "DOT product too slow on CPU and GPU compared to np and pytorch"
Given below are times for CPU-np, mxnet-CPU, mxnet-GPU, pytorch-CPU, pytorch-GPU.
CPU times on numpy (np) and and pytorch CPU are comparable but mxnet is crazy slow.
GPU time on pytorch is way faster than mxnet.

hardware/software : sagemaker p3.2x latest (1.6.0 cu102mkl)

![image](https://user-images.githubusercontent.com/12378820/78420214-fa068e80-7601-11ea-9629-1f82cf7f8665.png)

![image](https

[2020-04-04 14:28] mseth10 commented on #17238
mxnet-label-bot add ['MKL']

[2020-04-04 14:40] mseth10 commented on #16473
@aaronmarkham looks like this issue has been resolved. Can you check again?

[2020-04-04 16:45] r2d3 commented on #17826
HI @rondogency and @Rainweic,

even with an "import mxnet" in each process, I got similar issue.

For example: https://github.com/aws-samples/parallelize-ml-inference
is creating `global model` in `init_worker`.
It does not do `import mxnet` in each process. I modified the code to do the import in `init_worker` but still gets the CUDA error

`  File "/home/ubuntu/anaconda3/envs/mxnet_p36/lib/pytho

[2020-04-05 01:08] leezu commented on #14189
@stu1130 @eric-haibin-lin failing again http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-17969/2/pipeline/

`[2020-04-04T22:33:15.136Z] test_kvstore_gpu.test_rsp_push_pull ... /work/runtime_functions.sh: line 1239:     6 Bus error               (core dumped) python3.6 -m "nose" $NOSE_COVERAGE_ARGUMENTS $NOSE_TIMER_ARGUMENTS --with-xunit --xun

[2020-04-05 07:44] fhieber opened #17976 "No recent nightly builds for ubuntu-latest"
## Description
It seems that no recent nightly builds for mxnet-1.7 are published for linux.

The latest nightly build found by the install command `pip install --pre "mxnet<2" -f https://dist.mxnet.io/python` is `1.7.0b20200315` (March 15th).

For macos recent nightly builds seem to exist.

For reference this is the Github action file and a corresponding log:
https://github.com/awslabs/sockeye/bl

[2020-04-05 08:55] konioyxgq commented on #17953
Thank you very much for your reply.
This situation occurs. Is it because of what went wrong with my training? Or is there a problem with my model? Do you have any suggestions?
Thank you very much！

[2020-04-05 11:45] QueensGambit commented on #17942
Hi @becauseofAI,
I also experienced issues with the slice operator export and created a PR about this:
https://github.com/apache/incubator-mxnet/pull/17827

Unfortunately, MXNet lacks support to ONNX versions > 1.3.0 at the moment:
https://github.com/apache/incubator-mxnet/issues/14589

I think MXNet should aim to support the latest ONNX versions.
Otherwise it won't benefit from all the bug fixes

[2020-04-05 12:11] QueensGambit commented on #17621
Hi @ThomasGmeinder ,
I also created a PR wit a unit-test about this:
https://github.com/apache/incubator-mxnet/pull/17827

Probably, your solution should be prefered:
[code]

over the try-catch block:
[code]

[2020-04-05 12:55] RuRo commented on #17953
I don't think, this situation necessarily means, that there is something wrong with your training/model. It just means that some weights are slowly converging to 0s during training.

If you are worried about your models correctness, you can manually check, which parameters are close to 0 after training. But unless it's some obvious problem, I don't think, that there's something wrong with paramete

[2020-04-05 13:59] lilongyue commented on #17874
@leezu @apeforest  i think i got the same build bug in the latest repository.
i changed nothing of the cMakeLists.txt , i imported the whole project to my clion ide workspace and build
the mxnet target.
some of my environment:
gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Fri_Feb__8_19:08:17_PST_2019
Cuda

[2020-04-05 14:30] lilongyue commented on #17874
@guanxinq @leezu @apeforest @ry
i checked the code , and i simply change this line  in the file :
'incubator-mxnet/include/dmlc/concurrentqueue.h'
from :
parent->add_block_to_free_list(block);
to:
(*parent).add_block_to_free_list(block);

then all things find build success!

[2020-04-05 14:40] lilongyue commented on #17874
@guanxinq @leezu @apeforest @ry  , this looks like a strange thing can anyone explain why ?

[2020-04-06 01:27] konioyxgq commented on #17953
Thank you again for your patient response. Thank you very much!!

[2020-04-06 01:27] #17953 closed

[2020-04-06 06:30] schliffen commented on #7493
Dear @dtmoodie Im facing with the same problem, can you share your solution? thank you.

[2020-04-06 08:21] saranyailla opened #17978 "Update METADATA - mxnet-1.5.0-py2.py3-none-any.whl - Raspberry Pi"
## Description
Though mxnet seems to be installed using pip, it cannot be used with the statement `import mxnet` as it throws numpy error on raspberry pi.

### Error Message
ValueError: numpy.ufunc size changed, may indicate binary incompatibility. Expected 124 from C header, got 112 from PyObject

## To Reproduce
Installation using wheel: mxnet-1.5.0-py2.py3-none-any.whl

### Steps to reproduce
1

[2020-04-06 13:42] kpuatamazon opened #17980 "When compiled with MKL, fully_connected calls DNNL while dot and batch_dot call MKL"
# Problem
Not sure how much we care about MKL support but to the extent it still appears in the buld system, operator support should be consistent.

When compiled with MKL present (MKL is found in `/opt/intel`), MXNet calls MKL for `dot` and `batch_dot` and DNNL for `fully_connected`.  These are all GEMM operators; why is it inconsistent? This is making Sockeye decoding 22% slower (see below).

Th

[2020-04-06 14:13] TaoLv commented on #17980
Thanks for raising the issue, @kpuatamazon. We plan to optimize the dot and batch_dot operator with DNNL MatMul primitive. But please note that, the performance of MatMul primitive was not optimized until v1.3 which was released last week. That's why we didn't integrate the primitive at the first time when it's introduced in v1.2.

As mentioned above, dot and batch_dot will also be optimized with

[2020-04-06 14:50] chinakook opened #17981 "block.export bug"
## Description
net.hybridize may optimize out some ops. These ops are alive in nn.Block(also nn.HybridBlock), but its names are not contained in symbol's arg_names list. So ignore these ops except that their name are end with 'running_mean' or 'running_var'.
To fix this, please refer to https://github.com/apache/incubator-mxnet/pull/17970

### Error Message
[code]

## To Reproduce
[code]

### Step

[2020-04-06 14:52] kpuatamazon commented on #17980
Here's some benchmarks on 2fff11d4233814aa4ad07858779338090ec2132d (current tip of master) with the same Skylake c5.9xlarge.  DNNL is substantially slower than MKL.

(Which DNNL is in master?)

[code]
Run as `OMP_NUM_THREADS=4 ./mult_bench.py`:
[code]

I don't really mind what the default BLAS implementation is.  But choosing MKL should require undocumented compile options.

[2020-04-06 15:18] kpuatamazon commented on #17980
I also tried the latest DNNL:
[code]
and DNNL is still slower:
[code]

[2020-04-06 15:20] TaoLv commented on #17980
Thank you @kpuatamazon. I will try to reproduce the performance issue and get back to you later.

It should be v1.2.2 but was down graded to v1.1.2 by https://github.com/apache/incubator-mxnet/pull/17084 (maybe by accident).

Not sure I understand what do you mean. But using MKL BLAS is documented in:
- makefile: https://github.com/apache/incubator-mxnet/blob/master/make/config.mk#L120
- cmake: ht

[2020-04-06 15:47] kpuatamazon commented on #17980
This still uses MKLDNN for `FullyConnected`
[code]
I was able to get MKL to run by disabling MKLDNN entirely:
[code]
But then I lose other kernels like DNNL softmax and actually Sockeye randomly crashes:
[code]
(bizarrely this happens after it's translated many sentences with that same code.)

How do I achieve the fastest combination of DNNL softmax and MKL matrix multiply for `FullyConnected` usi

[2020-04-06 16:03] TaoLv commented on #17980
Yes, `USE_MKLDNN` is ON by default on Linux. See https://github.com/apache/incubator-mxnet/blob/master/CMakeLists.txt#L44. If want to disable DNNL optimizations, you need set `USE_MKLDNN` to OFF explicitly in the cmake line.

I think the real question is how to improve the performance of FullyConnected when DNNL is used. In fact, I see the performance of DNNL primitive kernel is good, compared wit

[2020-04-06 16:42] kpuatamazon commented on #17980
Can we please have a build option to force MKL usage for all GEMM calls?  This is a pretty big performance regression.

Hmmm, when DNNL delegates to MKL, that happens internally to DNNL, right?  If the MXNet wrapper is the problem, then why is delegating to MKL much faster?

Applying my workaround:
[code]
Output:
[code]
There is something less efficient about `FullyConnected` than `dot` but it's n

[2020-04-06 16:44] leezu commented on #17978
Who owns and publishes to the pip install https://mxnet-public.s3.amazonaws.com/install/raspbian/ ?
cc @ThomasDelteil you added the guide?

[2020-04-06 16:45] leezu commented on #7493
We will remove the Makefile build. Please use cmake instead.

[2020-04-06 16:45] sandeep-krishnamurthy opened #17982 "[RFC] MXNet website improvements"
## Description

This issue is being created to gather:
1. All the new feature requests/suggestions for MXNet website improvements and changes.
2. Current we have 40 open issues tagged "Website" - https://github.com/apache/incubator-mxnet/issues?q=is%3Aissue+is%3Aopen+label%3AWebsite , if there are any other issues that you face, please comment.

If your feature request/issue is already listed, ple

[2020-04-06 16:54] leezu commented on #14189
`[2020-04-06T01:12:50.019Z] test_kvstore_gpu.test_rsp_push_pull ... *** Error in `python3.6': double free or corruption (fasttop): 0x00007f59fc00ce90 ***`

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-gpu/branches/PR-17734/runs/11/nodes/74/steps/100/log/?start=0

[2020-04-06 17:28] szha commented on #16864
We will need to address the license issues from past releases as promised. https://github.com/apache/incubator-mxnet/labels/Licenses

[2020-04-06 18:30] #15589 closed

[2020-04-06 20:55] szha commented on #17587
@leezu it's copied into the wheel from `3rdparty/dmlc-core/tracker/dmlc_tracker`.

[2020-04-07 00:00] eric-haibin-lin opened #17985 "Flaky test on MacOS: test_dataset_take"
[code]
In PR https://github.com/apache/incubator-mxnet/pull/17466
https://github.com/apache/incubator-mxnet/pull/17466/checks?check_run_id=559681127

[2020-04-07 00:09] leezu commented on #17985
I suspect this is caused by the multiprocessing

[code]

They are disabled now as of https://github.com/apache/incubator-mxnet/commit/ff234dbe1ae21a6432eab5e5afa34400e9f9836a

Let's reopen this issue if the error occurs again.

[2020-04-07 00:09] #17985 closed

[2020-04-07 03:48] TaoLv commented on #17980
@emfomenk What's `-D_DNNL_USE_MKL=FULL` for? I'm not aware of this option and guessing it's not a user facing option.

[2020-04-07 03:49] leezu opened #17987 "Dynamic subgraph accesses elements of empty vector"
## Description
Dynamic subgraph code accesses elements of empty vector, causing MXNet to abort.
The PR only passed CI because of the outdated toolchain used on CI. CI with updated toolchain (ie https://github.com/apache/incubator-mxnet/pull/17984) catches the bug.

### Error Message
`/usr/include/c++/7/bits/stl_vector.h:815: std::vector<_Tp, _Alloc>::const_reference std::vector<_Tp, _Alloc>::opera

[2020-04-07 03:54] emfomenk commented on #17980
@TaoLv, it is a developer's option to enable Intel MKL gemm back (instead of the jitted one). I would suggest to avoid using it, as it internal one (marked with leading underscore). I think it was even broken somewhere in v1.1 to v1.3...

[2020-04-07 04:48] TaoLv commented on #17980
@emfomenk Thanks for the explanation. Do you think that enabling this option can improve the performance of inner product primitive for the above cases?

[2020-04-07 05:25] leezu opened #17988 "Row-sparse constant initializer accesses out of bound elements"
## Description
CI with updated toolchain (ie #17984) catches the bug.

`vector: :_M_range_check: __n (which is 4) >= this->size() (which is 4)`

### Error Message
## To Reproduce
Build with this simple patch

[code]

OR follow the instructions in https://github.com/apache/incubator-mxnet/issues/17987 to trigger this via glibc assertions in debug build.

Wonder if this is related to https://github.

[2020-04-07 05:43] samskalicky commented on #17987
Hi @leezu, @rondogency and I have discussed unifying the resource requests for custom ops and custom subgraph ops and have made the change in #17762 to remove `DefaultSubgraphOpResourceRequest`. This change will fix the issue such that `ctx.requested` will always have at least one element.

But @rondogency being the overly cautious expert that he is also changed it to `ctx.requested.at(0)` and add

[2020-04-07 06:24] sxjscience opened #17989 "[Autograd] Very serious bug of grad_req='add'"
Minimal reproducible example:

[code]

The gradient will  be different when `add` is triggered. However, we should initialize the gradient as all zero.

To reproduce the bug, we can use the following command:

new script with zero_grad
[code]
The output is

[code]

[2020-04-07 06:43] sxjscience commented on #17989
Also, a deeper dive into the problem shows that the issue appears when one layer is reused for >=5 times:
[code]
Result:
[code]

This shows that it's only wrong when `nrepeat` is 5,6,7

[2020-04-07 06:46] leezu opened #17990 "Boolean indexing accesses out of bound elements"
## Description
CI with updated toolchain (ie #17984) catches the bug.

`vector: :_M_range_check: __n (which is 2) >= this->size() (which is 2)`

### Error Message
## To Reproduce
Build with this simple patch

[code]

OR follow the instructions in https://github.com/apache/incubator-mxnet/issues/17987 to trigger this via glibc assertions in debug build.

Run `test_np_ndarray_boolean_indexing`, `tes

[2020-04-07 06:50] leezu commented on #17976
May be due to https://github.com/apache/incubator-mxnet/issues/17903

[2020-04-07 06:50] sxjscience commented on #17989
Also, adding zero_grad before the `mx.autograd.record()` won't solve this problem. I've revised the script in gist and you may try the new version:
[code]

[code]

[2020-04-07 07:03] sxjscience commented on #17989
I discovered this bug when trying to use different parameters of ALBERT. In the original ALBERT, the number of layers are 12 or 24. Both of them won't trigger the bug, so it took me some time to localize the issue.

[code]

[code]

Also, the bug occurs in the hybridized case.

[code]

It also appears in the legacy `mx.nd` interface:

[code]

[code]

[2020-04-07 07:17] sxjscience commented on #17989
Just verified that there is no problem when `ctx=mx.cpu()` . Also, I've found a simpler script to reproduce the problem:

[code]

Result:
[code]

[2020-04-07 07:19] sxjscience commented on #17989
@eric-haibin-lin @szha @szhengac @zhreshold This is the worst problem I've found and it impacts all models with `grad_req=add`.

[2020-04-07 07:31] ZheyuYe commented on #17989
This bug does affect many models with parameters sharing.

[2020-04-07 13:44] pengzhao-intel commented on #17980
@bartekkuncer please help take a look for this issue as well

[2020-04-07 13:46] pengzhao-intel commented on #17971
@anko-intel please help take a look for this issue, thanks.

[2020-04-07 13:47] pengzhao-intel commented on #17898
@bgawrych please help take a look if you can reproduce this issue and if there is a case to catch this issue, thanks.

[2020-04-07 15:05] emfomenk commented on #17980
@TaoLv, yes, this could be. Two reasons for that:
1. If Intel MKL is linked, then most likely `libiomp5.so` will be used instead of `libgomp.so`. So, if you see the performance difference, I would suggest to test Intel MKL-DNN v1.0 / DNNL v1.1+ with `LD_PRELOAD=libiomp5.so`, just to confirm that the issue due to or not due to OpenMP run-time.
2. Performance bug in Intel MKL-DNN v1.0 / DNNL v1.1+.

[2020-04-07 15:41] hananawi commented on #5947
I also encount this problem, and I find that my path contain Chinese then I change it to English, then it works

[2020-04-07 15:49] szha commented on #17989
@ptrendx both this issue and the #16708 seem to be GPU-specific. Would you mind taking a look?

[2020-04-07 16:12] ptrendx commented on #17989
Sure

[2020-04-07 16:52] ChaiBapchya commented on #17920
Add that patch on v1.6.x
Testing it locally first. If it passes, will create a PR to fix the issue.

[2020-04-07 17:30] leezu commented on #17988
Also affects `test_rsp_const_init` in the Perl test suite

[2020-04-07 17:36] leezu opened #17992 "MKLDNNConvolutionBackward accesses out of bound elements"
## Description
CI with updated toolchain (ie #17984) catches the bug.

`vector: :_M_range_check: __n (which is 2) >= this->size() (which is 2)`

### Error Message
## To Reproduce
Build with this simple patch

[code]

OR follow the instructions in https://github.com/apache/incubator-mxnet/issues/17987 to trigger this via glibc assertions in debug build.

Run `test_operator.test_convolution_independ

[2020-04-07 17:38] leezu commented on #17992
Notice that there are also other issues with this test
https://github.com/apache/incubator-mxnet/pull/15631
https://github.com/apache/incubator-mxnet/issues/15638

[2020-04-07 20:00] ptrendx commented on #17989
Hmm, I just tried the latest script from @sxjscience and I got exactly opposite results - gpu working as expected and cpu not working right:
[code]

I ran it ~15 times and always got the same result. What is the version of MXNet you tried it on, @sxjscience?

[2020-04-07 20:01] sxjscience commented on #17989
@ptrendx @szha @zhreshold I find that the bug also exists in 1.5.0, 1.4.0, 1.3.1, 1.2.1. In fact, results on both CPU and GPU are wrong in these versions. Reproducible script is given as follows (I used the legacy mx.nd).

[code]

For MXNet 1.5.0, I used `pip install mxnet-cu101==1.5.0`
For MXNet 1.4.0, I used `pip install mxnet-cu92==1.4.0`
For MXNet 1.3.1, I used `pip install mxnet-cu92==1.3.1`

[2020-04-07 20:09] sxjscience commented on #17989
@ptrendx @zhreshold @szha I tried to run with MXNet==1.0.0 but it give me another error. The earliest version I can confirm that has this issue is 1.2.0. This is really critical and impacts the very basic functionality of a DL framework, i.e., autograd.

[2020-04-07 20:12] sxjscience commented on #17989
@ptrendx I'm using a compiled version of master. Are you able to reproduce it using the script I attached at the beginning of the issue?
[code]

[2020-04-07 20:15] ptrendx commented on #17989
I first tried on our container (which is based on 1.6.0), since that is the easiest thing for me to try first. When I tried both your numpy and ndarray small examples I see CPU exhibiting the error and GPU not, so looking into what could be different between those implementations.

[2020-04-07 20:18] sxjscience commented on #17989
May be it's not related to specific implementation in the GPU side.

[2020-04-07 20:29] ptrendx commented on #17989
It is ElementwiseSum, although I'm not sure why after 7 repeats you get correct result again.
The code of ElementwiseSum for more than 4 repetitions:
[code]
which is wrong - if `req[0]` is kAddTo (which it will be in this case), after the first kernel you get
[code]
but then the subsequent ones instead of doing
[code]
do
[code]

[2020-04-07 20:31] ptrendx commented on #17989
I don't see this issue in our (not yet released) container because I changed ElementwiseSum implementation to be vectorized, and there I do have the proper logic:
[code]
where I change the sum to do `kAddTo` and not including the output as one of the parameters.

[2020-04-07 20:32] sxjscience commented on #17989
@ptrendx Thanks! I think that explains the cause.

[2020-04-07 20:33] ptrendx commented on #17989
It does not explain why it does the right thing for nrepeat=8 forward. There has to be something else going on there that limits elementwisesum to 7 inputs somehow.

[2020-04-07 21:12] zhreshold commented on #17989
I don't think it's related to particular op implementation, it's something may not be working at all when autograd is introduced.
See the experiments I did: https://github.com/apache/incubator-mxnet/issues/16708#issuecomment-558876214

What I did is replicate the same node N times, if N is in (1, 2, 3, 4, 8, 9, 10...) times, the loss and gradients are always GOOD, however, with (5, 6, 7), the grad

[2020-04-07 21:54] ptrendx commented on #17989
@zhreshold And for any op that you check you introduce the elemwisesum node in the backward pass that aggregates the gradients, which you do not see in the model. As I said, I still do not understand why 8+ is fine, I would expect everything above 4 to fail (as elemwisesum implementation has special cases for 2,3 and 4, and then buggy one for 5+). I will look into it further.

[2020-04-07 22:04] sxjscience commented on #17989
@ptrendx After checking the source code, I think it's due to the `MXNET_EXEC_INPLACE_GRAD_SUM_CAP` setting to 8 by default. The `ElementwiseSum` is used in the GraphExecutor to accumulate the gradient:
https://github.com/apache/incubator-mxnet/blob/79c576b8157539d365cc9e0e1e355d4ca12f7374/src/executor/graph_executor.cc#L255-L263

And the inplace_sum_cap is by default 8:
https://github.com/apache/i

[2020-04-07 22:05] kpu commented on #17980
MKL was linked in both cases and in fact called in both cases from `dot` just not from `FullyConnected`

I tried single-threaded (`OMP_NUM_THREADS=1`) and still saw a performance drop.  There shouldn't be much difference between OMP libraries then right?

See my post above "I also tried the latest DNNL".  Performance was unchanged.

[2020-04-07 22:13] ptrendx commented on #17989
Yup, setting that env variable (undocumented BTW ;-) ) to higher value makes the test fail for the higher cases too.

[2020-04-07 22:19] emfomenk commented on #17980
Yeah, there should be zero difference in this case :)

Didn't see that, thanks! Yeah, it looks like a performance bug indeed.

[2020-04-08 01:01] shuokay commented on #17944
I think `mx.sym.slice` is what you need.

[2020-04-08 01:19] ciyongch commented on #16864
@szha, sure, I will follow up those items.

[2020-04-08 01:36] ChaiBapchya commented on #4870
[code]
Similar error of `loadModule` function not found in R

@thirdwing any idea?

[2020-04-08 01:50] pengzhao-intel commented on #17980
Thanks @emfomenk & @TaoLv to identify the issue.  Our team will follow up on the issue and switch more OP to DNNL soon.

[2020-04-08 03:22] #17939 closed

[2020-04-08 13:34] licangqiong commented on #17043
I solved this problem by using mxnet-cuda90 version

[2020-04-08 13:35] licangqiong commented on #14904
I solved this by using mxnet-cuda 9.0 version

[2020-04-08 15:02] TaoLv commented on #17992
I doubt whether #15638 is related. It seems it's a correctness issue.

[2020-04-08 15:47] ChaiBapchya commented on #17920
@aaronmarkham This backport : https://github.com/apache/incubator-mxnet/pull/17029/files in metric.py changed parts within Pearson Correlation. Not sure why that would break the file.

@leezu Tried backporting `library(methods)` in #17993 but now it gives error for finding the library
[code]

@aaronmarkham @leezu any suggestions for this?

[2020-04-08 16:49] coderark commented on #14876
Any updates on this feature request?

[2020-04-08 16:51] stu1130 commented on #16864
I would like #17872 to be on 1.7 as DJL LSTM model depends on the fix.

[2020-04-08 17:51] ChaiBapchya commented on #17920
@aaronmarkham testing if back ports broke it, by reverting it on branch 1.6 and testing locally.

[2020-04-08 18:15] leezu commented on #17920
I don't think there is any single / separate PR to change different parts of the CI to Python 3. Instead of backporting, it may be simplest to create a new PR

[2020-04-08 18:23] leezu commented on #17939
It may not have the same performance

[2020-04-08 18:28] #17992 closed

[2020-04-08 18:32] ChaiBapchya commented on #17920
Alright, thanks for pointing it out. Testing locally if moving all CI from py2 to py3 fixes doc issue.

[2020-04-08 19:05] leezu commented on #17987
Fixed by #17762. Thanks @rondogency and @samskalicky for the quick fix.

[2020-04-08 19:05] #17987 closed

[2020-04-08 19:09] saranyailla commented on #17978
Hello there!
It would be great if this can be fixed as soon as possible as we are
building a tutorial using it.

Thanks and regards,
Saranya

On Mon, Apr 6, 2020 at 9:45 AM Leonard Lausen <notifications@github.com>
wrote:

[2020-04-08 23:10] JiangZhaoh commented on #17839
Fixed by #17921

[2020-04-09 01:48] wkcn commented on #17750
The problem has been solved : )

[2020-04-09 01:48] #17750 closed

[2020-04-09 02:00] Paul0M opened #18000 "No ModulatedDeformableConvolution in mxnet-cu101, 1.6.0"
## Description
No ModulatedDeformableConvolution found in mxnet-cu101(1.6.0)

### Error Message
"No ModulatedDeformableConvolution found in mxnet, consider upgrade..."

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1

[2020-04-09 07:06] YankeeMarco commented on #7958
mxnet is poor

[2020-04-09 07:13] #14735 closed

[2020-04-09 07:13] #8890 closed

[2020-04-09 07:23] connorgoggins commented on #17798
Final update: the pull request has been merged, and the new MXNet production website has been deployed. It is currently available at https://mxnet.apache.org/. If you happen to find any bugs associated with the dropdown or the website content, please create a GitHub issue with the "Website" tag so the bug can be fixed.

[2020-04-09 07:27] connorgoggins commented on #17798
Thank you to all stakeholders, especially @sandeep-krishnamurthy, @aaronmarkham, @szha, @leezu, @sojiadeshina, and @marcoabreu, for your feedback and advice throughout the design and implementation process!

[2020-04-09 11:47] breezelj opened #18002 "resnext model problem"
## Description
(A clear and concise description of what the bug is.)
when I trained faster rcnn with resnext backbone and pretrained model from [http://data.mxnet.io/models/imagenet/resnext/101-layers/resnext-101-0000.params](url), mAP is very low, which is or so 0.001, but resnet is ok, Is there any problem with resnext pretraining model
### Error Message
(Paste the complete error message. Please

[2020-04-09 13:46] zixuanweeei opened #18003 "[Flaky Test] test_operator_gpu.test_ftrl"
## Description
`test_ftrl()` is located in https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_optimizer.py#L671

## Occurrences
+ http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18001/2/pipeline/429
+ http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18001/2/pip

[2020-04-09 13:51] zixuanweeei commented on #18003
@mxnet-label-bot add [gpu, optimizer]

[2020-04-09 18:44] hgt312 opened #18004 "Wrong result when using new numpy ffi in deferred compute"
Find it in CI result of https://github.com/apache/incubator-mxnet/pull/17958.

## Reproduce:

Sample code, use master branch

[code]

Results:

[code]

If replace `_api_internal.tril` by `_npi.tril`, the result is right.

@leezu Can you take a look at this?

[2020-04-09 18:45] ChaiBapchya opened #18005 "[nvidia-docker][1.6] apt-get update failing with gnutls_handshake() failed: Handshake failed"
## Description
Ubuntu 14.04
1.6 branch
Static build Python

### Error Message
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17993/5/pipeline

## To Reproduce
[code]

## What have you tried to solve it?

1. Tried it locally. Able to reproduce. Hence ruling out possibility of Jenkins error.
This is a security / certificate issue [likely

[2020-04-09 18:47] ChaiBapchya commented on #18005
Discovered in all 5 builds of PR https://github.com/apache/incubator-mxnet/pull/17993

[2020-04-09 19:07] leezu commented on #18005
Ubuntu 14.04 is no longer supported. Nvidia may now require a newer ssl toolchain than provided by ubuntu 14.04.

The issue doesn't occur on master because it's hidden by the Docker cache

[2020-04-09 19:07] hgt312 commented on #18004
@hzfan

[2020-04-09 19:16] cenggokhan opened #18006 "Amalgamation Android arm64"
I compiled amalgamation for android arm64 in my macbook pro and get jni_libmxnet_predict.so for Android arm64, however when I use this file in my app, an exception like;
java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "_ZN5mxnet18CachedOpThreadSafeC1ERKN4nnvm6SymbolERKNSt6__ndk16vectorINS5_4pairINS5_12basic_stringIcNS5_11char_traitsIcEENS5_9allocatorIcEEEESD_EENSB_ISE_EEEE" ref

[2020-04-09 20:53] waytrue17 opened #18007 "Typo on tutorial website"
## Description
There is a typo in "crash course tutorial" website. In the "Get data" session of "Train the neural network" chapter,  the tutorial says "Next, we visualize the first six examples" while the actual code displays first ten examples.

<img width="1440" alt="Screen Shot 2020-04-09 at 1 05 33 PM" src="https://user-images.githubusercontent.com/52505574/78936894-4b7ca680-7a64-11ea-8718-842

[2020-04-09 21:08] sysdef opened #18008 "cpanm AI::MXNetCAPI fails: error: mxnet_wrap.o: No such file or directory"
## Description

installing AI::MXNetCAPI fails

### Error Message

cpanm AI::MXNetCAPI fails

## To Reproduce

type: sudo cpanm -v AI::MXNetCAPI

## Environment

debian 10 stable, 64 bit

[code]

[2020-04-09 21:11] #18008 closed

[2020-04-09 21:52] leezu commented on #18004
Thanks for reporting the issue. I can confirm that disabling the new FFI for `tril` via below patch avoids the issue. I'll take a look why the two FFIs behave differently

[code]

[2020-04-09 22:59] ptrendx commented on #18003
Also seen in #17995.

[2020-04-09 23:07] ptrendx commented on #18003
Hmm, something is wrong with the random seed generation of tests - all those failing `test_ftrl` got the same seed:
[code]

FYI @roywei Since you are already looking at random-related stuff and @DickJC123 since you wrote the `@with_seed` facility.

[2020-04-10 01:11] leezu commented on #18003
@szha plans to switch the testing suite to pytest
This involves refactoring the randomness logic and may fix the issue. The new code would likely be inspired by the code in GluonNLP, where we transitioned to pytest already in the initial release and thus refactored the random-related stuff for pytest.

https://github.com/dmlc/gluon-nlp/blob/v0.9.x/conftest.py#L41

[2020-04-10 03:31] eric-haibin-lin commented on #17221
is this fixed?

[2020-04-10 04:36] eric-haibin-lin opened #18013 "horovod cpu build segfault"
This works:
[code]
test.py:
[code]

This fails:
[code]

[2020-04-10 04:46] eric-haibin-lin opened #18014 "segfault with bytePS"
I am using `bytepsimage/mxnet` docker image to test bytePS. However, I find recent MXNet versions lead to segfault.

Specifically, if i build mxnet-cu100 variant with commit b6b1de092b2bbc6ab7207a98dcb1c08fe67ca14b, the following command works:
[code]

However, if i use commit 2f6cdd383abbf46a37b84a5fad013726b5c62169, it gives me segfault.
I used `source tools/staticbuild/build.sh mxnet-cu100 pip`

[2020-04-10 04:47] ChaiBapchya commented on #11747
Still flaky. For unrelated PR #17993
Log : http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17993/7/pipeline/300

[2020-04-10 04:52] pengzhao-intel commented on #18014
Is there any test case for bytePS to cover this kind of issue?

[2020-04-10 05:18] #17384 closed

[2020-04-10 05:45] knowledgecomputer2018 commented on #14468
hi i have this error. why ?
solution:
first i have a array or numpy.float64 K[i] then other line i have a var K=PK . what is meaning i have two var with two type .
god willing

[2020-04-10 05:51] heaseny opened #18015 "[Unit test] 2 unit tests of test_optimizer.py randomly fail due to assertion error"
## Description
test_ftrl and test_sparse_ftrl  of test_optimizer.py fail randomly and can be reproduced with seed on master branch latest commit.
Commands to reproduce:
cd tests/python/unittest/
MXNET_MODULE_SEED=2085448245 nosetests -s -v test_optimizer:test_ftrl
MXNET_TEST_SEED=2129777731 nosetests -s -v test_optimizer:test_sparse_ftrl
### Error Message
==========================================

[2020-04-10 06:39] eric-haibin-lin commented on #18014
bytePS CI only test stable mxnet, not mxnet nightly.

I assume bytepsimage/mxnet uses official mxnet - @ymjiang please correct me if i'm wrong

[2020-04-10 06:46] ymjiang commented on #18014
Yes, `bytepsimage/mxnet` uses official mxnet, and not nightly version: https://github.com/bytedance/byteps/blob/master/docker/Dockerfile#L46

[2020-04-10 07:18] zixuanweeei commented on #11747
Hi, @ChaiBapchya. Perhaps #16709 was not backported to the 1.6.x branch. Would you mind confirming that? If so, I think we need to backport the patch to 1.6.x as well along with #17993.

[2020-04-10 12:53] TaoLv commented on #18014
@eric-haibin-lin @ymjiang Sorry, I have no idea because the back trace doesn't provide useful information. Can you try to disable `MXNET_MKLDNN_ENABLED` before running the model?

[2020-04-10 14:02] ChaiBapchya commented on #11747
Backported that patch. Thanks for pointing it out. Weird how it didn't get selected in the previous cherry-picks.

[2020-04-10 16:53] eric-haibin-lin opened #18019 "Confusing warning message when mkldnn is turned off"
MKLDNN does not expose any special storage type to users, the warning message will make ordinary user confused.
`MXNET_MKLDNN_ENABLED=0 python3`
[code]
@TaoLv

[2020-04-10 17:06] eric-haibin-lin commented on #18013
@apeforest FYI

[2020-04-10 17:12] eric-haibin-lin commented on #18014
I also tried to build both mxnet and bytePS from source, with gcc 7.4, and the following is the stacktrace:
[code]
setting `MXNET_MKLDNN_ENABLED=0` did not help.

[2020-04-10 17:12] eric-haibin-lin commented on #18014
@ymjiang have you seen this err before? `Error disabling address space randomization: Operation not permitted`

[2020-04-10 17:25] eric-haibin-lin commented on #18013
@TaoLv @PatricZhao FYI

[2020-04-10 17:38] eric-haibin-lin commented on #18014
With @leezu 's help I built mxnet in debug mode. Here's the stacktrace with line number:
[code]

[2020-04-10 18:11] #17918 closed

[2020-04-10 18:40] leezu commented on #18014
Based on the backtrace, it appears that some mutex may not be initialized correctly leading to segfault?

[2020-04-10 19:09] sxjscience opened #18022 "[Numpy] Weird bug with mixed dtype"
Minimal reproducible example:

[code]

Error:
[code]

[2020-04-10 19:11] sxjscience commented on #18022
@ptrendx @haojin2 @reminisce @szha  Are you able to reproduce this one? I came across this issue after solving https://github.com/apache/incubator-mxnet/issues/17989

[2020-04-10 19:21] sxjscience commented on #18022
It's a very weird issue. Currently I think one reason is that we haven't correctly handled the mixed dtype:

We will internally call into `BackwardUseNone`:
https://github.com/apache/incubator-mxnet/blob/1679adea81dd00042d3f26b9f8b1d5fa96186bbd/src/operator/tensor/elemwise_binary_broadcast_op-inl.cuh#L37-L48

However, this operator uses the dtype of the output[0] as the dtype of all the tblobs, wh

[2020-04-10 19:38] sxjscience commented on #18022
I used the nightly version of MXNet.

[2020-04-10 19:56] sxjscience commented on #18022
Confirmed that this bug exists in the latest master. Also, we can change the ctx to cpu and it still persists.

[2020-04-10 21:15] eric-haibin-lin commented on #18014
another data point: mxnet-cu100 (1.6.0b20200212) works, but mxnet-cu100mkl (1.6.0b20200212) doesn't

[2020-04-10 21:35] szhengac opened #18024 "Transformer Model Segfault"
Training transformer in [gluonnlp](https://github.com/dmlc/gluon-nlp/tree/master/scripts/machine_translation) with master brach leads to segmentation fault. The training passed with the nightly build on March 12th. I used AWS Linux AMI with cuda100.

Command:
`
python train_transformer.py --dataset WMT2014BPE --src_lang en --tgt_lang de --batch_size 2700 --optimizer adam --num_accumulated 16 --lr

[2020-04-10 21:36] eric-haibin-lin commented on #18014
`https://repo.mxnet.io/dist/python/cu100/mxnet_cu100-1.6.0-py2.py3-none-manylinux1_x86_64.whl` works,
`https://repo.mxnet.io/dist/python/cu100mkl/mxnet_cu100mkl-1.6.0-py2.py3-none-manylinux1_x86_64.whl` doesn't.

So, the issue has been there for a while ..

[2020-04-10 23:06] #17989 closed

[2020-04-10 23:14] zhreshold commented on #16708
Fixed by https://github.com/apache/incubator-mxnet/pull/17995

[2020-04-10 23:14] #16708 closed

[2020-04-10 23:39] sxjscience commented on #18022
For this bug, the most weird thing is that it won't raise an error if I commented two lines, i.e., the following one will run well (commented two lines).

[code]

[2020-04-11 00:49] austinmw commented on #17307
I don't see this option in mxnet 1.5.1.

[2020-04-11 01:34] ymjiang commented on #18014
@eric-haibin-lin I am not aware of this before. Is there any version of MXNet-MKL that works? I suspect it might be due to some incompatibility between BytePS and MKL, if none of existing MKL works.

[2020-04-11 01:55] austinmw opened #18026 "[Feature Request] Documentation on mx.np and gluon datasets"
## Description
I'm trying to determine the recommended way in mxnet 1.6.0 to calculate the statistics of my gluon image Dataset, but there's no clear documentation. All of the documentation seems to assume imagenet statistics, and may also not be up to date for 1.6.0.

I thought that it was preferred to use `mx.np` now, but since samples from this dataset are loaded as `mx.ndarray`s this doesn’t s

[2020-04-11 04:02] #18026 closed

[2020-04-11 05:04] leezu commented on #18024
Can you include the backtrace?

[2020-04-11 05:07] szhengac commented on #18024
@leezu There is no any other message other than the segmentation fault.

[2020-04-11 05:50] TaoLv commented on #18019
@eric-haibin-lin The storage fallback logic is reused for disabling MKL-DNN at runtime. See https://github.com/apache/incubator-mxnet/pull/12058#issuecomment-413372544.

[2020-04-11 05:53] TaoLv commented on #18019
It's mainly due to `InferStorageType` is not only used for sparse/dense dispatching, but also MKL-DNN operator dispatching.

[2020-04-11 06:06] TaoLv commented on #18013
@eric-haibin-lin @apeforest I cannot install mxnet and horovod through the command lines shared in the description. Besides, with `pip install --pre mxnet -f https://dist.mxnet.io/python/cpu`, I can only get https://repo.mxnet.io/dist/python/cpu/mxnet-2.0.0b20200312-py2.py3-none-manylinux1_x86_64.whl.

[2020-04-11 07:13] TaoLv commented on #18014
@eric-haibin-lin @ymjiang I still can't see anything related to MKL-DNN operators from the back trace. Agree that there might be some incompatibility issues between MKL-DNN integration and later BytePS integration.
BTW, have you ever tried NaiveEngine? Can w have some clues from there?

[2020-04-11 09:19] xinyu-intel commented on #18014
Build latest MXNet w/o MKLDNN also encounter this issue:
[code]
[code]

[2020-04-11 13:43] #17472 closed

[2020-04-11 19:03] cenggokhan opened #18030 "Model load problem in 64 bit devices"
I compiled amalgamation for armeabi-v7a and arm64-v8a, I am trying to test model https://github.com/flyingzhao/mxnet_VanillaCNN/blob/master/vanilla-0001.params and https://github.com/flyingzhao/mxnet_VanillaCNN/blob/master/vanilla-symbol.json
devices with arch armeabi-v7a loads model without any problem. But arm64-v8a devices can not load model. Exception:
org.dmlc.mxnet.MxnetException: [21:53:21]

[2020-04-11 19:41] cenggokhan commented on #18006
ndk 21 and gcc compile problem.

[2020-04-11 19:41] cenggokhan commented on #18006
ndk 21 and gcc compile problem.

[2020-04-11 19:41] cenggokhan commented on #18006
ndk 21 and gcc compile problem.

[2020-04-11 19:41] #18006 closed

[2020-04-11 21:48] leezu commented on #18006
@cenggokhan I'm fixing the compile issues for NDK 19+ as part of https://github.com/apache/incubator-mxnet/pull/17984

We'll likely merge it soon, but may need to wait for a resolution of https://gitlab.kitware.com/cmake/cmake/-/issues/20572 to properly test on Jetson devices.

[2020-04-11 21:49] leezu commented on #18006
In general, I suggest you don't use amalgamation if not needed. For Android, you don't need amalgamation.

[2020-04-11 21:50] leezu commented on #18030
Can you try to come up with a minimal reproducible example? That will make it easier to help you

[2020-04-11 21:52] eric-haibin-lin commented on #18019
yes.. but it's still confusing to other users

[2020-04-11 21:54] eric-haibin-lin commented on #18013
@TaoLv can you try `wget https://repo.mxnet.io/dist/python/cpu/mxnet-2.0.0b20200313-py2.py3-none-manylinux2014_x86_64.whl` and then `pip install mxnet-2.0.0b20200313-py2.py3-none-manylinux2014_x86_64.whl`

[2020-04-11 21:54] #17914 closed

[2020-04-11 21:57] #18005 closed

[2020-04-11 22:01] leezu commented on #18000
you can install latest MXNet 1.x nightly version or wait for 1.7 release in a few weeks.
For the nightly: `pip install --pre --user "mxnet-cu101<2" -f https://dist.mxnet.io/python`

[2020-04-11 22:01] #18000 closed

[2020-04-11 22:01] #17839 closed

[2020-04-11 22:56] leezu opened #18031 "docker_cache.py: denied: requested access to the resource is denied"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-docker-cache-refresh/detail/master/2780/pipeline

[code]

cc @ChaiBapchya

[2020-04-11 23:05] eric-haibin-lin commented on #18014
@xinyu-intel the pip build is built using make. Actually, I'm not sure if there's which version/commit built with cmake that works with BytePS..

[2020-04-12 00:30] eric-haibin-lin commented on #18014
@TaoLv The communication API uses the PushAsync api from engine, which unfortunately is not supported by the NaiveEngine..

[2020-04-12 00:32] eric-haibin-lin commented on #18014
@ymjiang that's possible.. I have not tested BytePS with mxnet-mkl before

[2020-04-12 01:47] #18007 closed

[2020-04-12 06:35] TaoLv commented on #18013
Got:
[code]

I'm using CentOS 7.2 and python 3.6.

[2020-04-12 20:07] leezu opened #18034 "QuantizedElemwiseMulOpShape accesses out of bound elements"
## Description
MKLDNN `QuantizedElemwiseMulOpShape` accesses out of bound elements in line 64 during `quantized_elemwise_mul` test.

https://github.com/apache/incubator-mxnet/blob/ab4f7f6a7335e88034edcf61402aec170cdca5fd/src/operator/quantization/quantized_elemwise_mul.cc#L63-L65

Preventing that invalid access by adding `out_attrs->size() > quantized_elemwise_mul::kOutMin` to the if condition, le

[2020-04-12 21:23] sxjscience opened #18035 "[Operator] Add dtype option to arange_like"
Currently, arange_like does not support dtype, which might lose precision when the input has a very high dimensionality. We may consider to support the dtype flag as in `numpy.arange`.

[2020-04-12 22:02] sxjscience opened #18036 "[Numpy] Core dump when the input type of tril is not correct"
Minimal reproducible example:

[code]
Error:
[code]

In numpy, we have:
[code]

In jax, we have
[code]

[2020-04-13 02:30] pengzhao-intel commented on #18034
Thanks to reporting the issue. We will fix soon.

[2020-04-13 03:00] leezu commented on #17067
This seems to be a general bug with the scala API, as it happens for random test cases (just observed in "Example CI: Test CustomopRtc MNIST" http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17984/32/pipeline/372 )

cc @lanking520 @zachgk

[2020-04-13 03:00] leezu commented on #17783
Another data point is that all of our Scala tests fail randomly with `src/c_api/c_api_profile.cc:141: Check failed: !thread_profiling_data.calls_.empty():`, so there seem to be some underlying issues.

https://github.com/apache/incubator-mxnet/issues/17067

[2020-04-13 10:01] kpuatamazon commented on #17980
Single-threaded benchmarks (`OMP_NUM_THREADS=1`) to confirm that it's not a difference in OMP library:
| Shape | dot (MKL) | FullyConnected (MKL workaround) | FullyConnected (DNNL) | DNNL slowdown |
| --- | --- | --- | --- | --- |
| 5, 512, 512 | 0.0000914 | 0.0001016 | 0.0002448 | 2.40x |
| 5, 512, 1536 | 0.0002939 | 0.0003051 | 0.0006576 | 2.15x |
| 5, 512, 2048 | 0.0003828 | 0.0003919 | 0.00085

[2020-04-13 10:04] emfomenk commented on #17980
Summoning  @aaraujom

[2020-04-13 12:11] #18002 closed

[2020-04-13 12:14] kpuatamazon commented on #17980
@TaoLv Regarding your comment

I ran with both MKL and DNNL verbose options: `OMP_NUM_THREADS=1 MKL_VERBOSE=1 DNNL_VERBOSE=1`

[verbose.txt](https://github.com/apache/incubator-mxnet/files/4469425/verbose.txt)

To summarize the verbose output in microseconds:
| Shape | MKL raw | DNNL raw | DNNL raw slowdown | MKL Python overhead | DNNL Python overhead |
| --- | --- | --- | --- | --- | --- |
| 5, 5

[2020-04-13 17:00] ThomasDelteil commented on #17978
@leezu, I believe the arm builds had been originally published by the Berlin group when they were working on edge devices. @KellenSunderland might remember?

[2020-04-13 17:06] sxjscience commented on #10840
We now have einsum in the numpy interface of MXNet. Thus, close this issue.

[2020-04-13 17:06] #10840 closed

[2020-04-13 17:23] leezu opened #18042 "CI: cran broken"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fclang/detail/PR-17984/35/pipeline

[2020-04-13 17:27] leezu commented on #18042
Suggest to use system provided R instead of relying on external repos on CI.

To test newer versions of R, we can switch Ubuntu 16.04 -> 18.04.

In general, relying on the system dependencies will enable us to make our CI more reliable

[2020-04-13 17:45] kpuatamazon commented on #17980
In case somebody finds this issue and wants their optimized build, here is a different workaround that removes the need for `LD_PRELOAD`.  Just do this before running cmake the first time:
[code]
Then `cmake` can be run normally:
[code]
and the compiled MXNet can be run normally without any special environment variables.

To be clear, the above kludge is an undocumented abomination.  The problem w

[2020-04-13 18:09] Jerryzcn commented on #17335
Adding nd.waitall() resolves the issue, but with the penalty of reduced throughout.

[2020-04-13 18:16] szha commented on #17335
This is a problem of having memory cache outside of memory manager and memory fragmentation. You can try `mx.gpu(0).empty_cache()` to alleviate the problem.

[2020-04-13 19:18] sxjscience opened #18043 "[Performance][Numpy] np.einsum can be 500 - 1000 times slower than torch.einsum"
The performance of `np.einsum` in GPU is not very good and will usually be 500 times slower than `th.einsum`. Because `einsum` is essential for implementing the attention mechanism used in NLP + CV, we should accelerate the implementation.

Here is the code to profile different implementations of einsum (also in gist: https://gist.github.com/sxjscience/bfda1a8bd2942d93eef5ddf8a15b52b8). The profil

[2020-04-13 19:23] sxjscience commented on #18043
@ptrendx Would you have time to take a look? I'm planning to use it in the numpy version of GluonNLP and find that our einsum operator's performance is not so good.

[2020-04-13 20:00] ptrendx commented on #18043
Will take a look, but not quite sure when (probably not this week), so if somebody wants to work on it in the meantime, reassign to yourself and go for it.

[2020-04-13 20:46] zleyk22 commented on #17864
I investigated the MXNet C++ code and noticed that the gradient of the input array [[x, y]] is computed as [[(x*y)/x, (x*y)/y]]. Therefore, if y is zero, then we always get nan as the second element of the array. Is it a bug, or is it done on purpose? If the latter is true, how can I avoid it?

[2020-04-14 00:23] zheng-da commented on #16167
A quick comment: DGL contains all sampling implementation and no longer relies on the implementation in MXNet. I think we should deprecate the graph sampling implementation in MXNet.

[2020-04-14 01:39] andrei5055 commented on #17335
@Jerryzcn, @szha. Thanks so much for your suggestions! I tried to use them, and this is what I saw in my experiments.
1. I did not notice any advantage of using `mx.gpu(0).empty_cache()`. On the contrary, sometimes I saw new crashes with the error message associated with this call.
2. Yes, I saw about 25-30% slowdown associated with using `mx.nd.waitall()`. Unfortunately, it does not solve the ini

[2020-04-14 01:50] acphile opened #18046 "Proposal to mxnet.metric"
## Motivation

mxnet.metric provides different methods for users to judge the performance of models. But currently there are some shortcomings which need to be improved in mxnet.metric. We propose to refactor the metrics interface to fix all issues and place the new interface under mx.gluon.metrics.

In general, we want to make the following improvements:

1. Moving the API to the gluon namespace

[2020-04-14 02:26] lilongyue opened #18047 "any use of multi kvserver kvworker mode?"
In the c++ code , the kvworker  is always assigned with the customerid=0 , and the kvserver  is always assigned with appid=0;  the designing use a app-customer pattern .
Any case that has a customerid !=0.  or appid!=0 , ?  anyone can give a example ?
or this  app-customer pattern is used for future extension ?

[2020-04-14 03:29] TriLoo opened #18048 "convert mxnet op `split` to onnx `Split` output names error"
## Description
if a network contains `mx.nd.split()`, then converting it to `onnx` may raise an error `the input of followed layer is not an output of previous layer's output`. The cause is that the output is renamed during converting `mx.nd.split(...)` to `onnx.Split()` node, *i.e.* the `_output + str(i)` is added after the layer name of `mx.nd.split()`, meanwhile, the layer after `mx.nd.split()`

[2020-04-14 07:24] apeforest commented on #17180
Closing the issue as the current cmake build step has been greatly simplified using a config.cmake file thanks to @leezu

[2020-04-14 07:24] #17180 closed

[2020-04-14 08:13] Maritimo opened #18052 "MXNet 8 times slower than Numpy in a simple example."
## Description
MXNet is 8 times slower running a simple example than my code with numpy.

## To Reproduce
I am providing with a zip file with the necessary files to reproduce the problem.
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
1. Uncompress the zip file.
2. Use Jupyter with pytho

[2020-04-14 16:32] szha commented on #17676
caffe usage is very low now and let's deprecate caffe converter too.

[2020-04-14 16:33] szha commented on #11407
Caffe converter should be deprecated in 2.0 since caffe maintenance has been stopped for a long time.

[2020-04-14 16:33] #11407 closed

[2020-04-14 16:34] szha commented on #12532
We are deprecating caffe converter

[2020-04-14 16:34] #12532 closed

[2020-04-14 16:34] szha commented on #9720
We are deprecating caffe converter

[2020-04-14 16:34] #9720 closed

[2020-04-14 16:35] szha commented on #8421
We are deprecating caffe converter

[2020-04-14 16:35] #8421 closed

[2020-04-14 16:35] szha commented on #9225
We are deprecating caffe converter

[2020-04-14 16:35] #9225 closed

[2020-04-14 17:31] leezu commented on #18042
Fixed by https://github.com/apache/incubator-mxnet/pull/17984, specifically

https://github.com/apache/incubator-mxnet/blob/fb73a1717acad61caeaeef010faed9e9fcc05f0e/ci/docker/install/ubuntu_r.sh#L49-L50

[2020-04-14 17:31] #18042 closed

[2020-04-14 17:51] ZheyuYe commented on #17823
Besides that, it would be great if `npx.scatter_nd` is implemented for `mx.np.ndarray`.

[2020-04-14 18:27] WilliamOnVoyage commented on #17357
Also see this issue with distributed training framework, since the context info (device_id) are different among distributed processes, and is not saved as part of the checkpoint.

[2020-04-14 20:14] leezu opened #18057 "Edge device documentation"
## Description
ARM, Android and Jetson toolchains have been simplified on CI in https://github.com/apache/incubator-mxnet/commit/fb73a1717acad61caeaeef010faed9e9fcc05f0e

Based on the improved setup, we should update
https://mxnet.apache.org/get_started?platform=devices&

In summary, we can recommend using
- For ARM
  - The standard Debian/Ubuntu toolchains on ARMv7 / ARMv8.
  - https://toolchains

[2020-04-14 20:18] leezu opened #18058 "Test coverage on ARMv7 / ARMv8"
## Description
Virtualized (qemu-based) testing of ARMv7 and ARMv8 has been simplified as part of https://github.com/apache/incubator-mxnet/commit/fb73a1717acad61caeaeef010faed9e9fcc05f0e

The test coverage has not been extended as part of the PR and only the executor level tests are run:
`python3 -m nose --verbose tests/python/unittest/test_engine.py`

The runtime of the ARM testing stage has bee

[2020-04-14 21:07] leezu commented on #17968
https://github.com/apache/incubator-mxnet/commit/fb73a1717acad61caeaeef010faed9e9fcc05f0e implements the proposal, fixing a number of other issues that were blocking. Please see the commit message for a complete list of changes.

As a follow-up item, I suggest to remove the `cpplint` we currently use in favor of `clang-tidy` (which we also use). cpplint enforces the Google's C++ style guide, which

[2020-04-14 21:09] zhreshold commented on #17676
In the long run, gluon vision model zoo will be maintained in GluonCV and therefore mxnet.gluon.vision.model_zoo should be deprecated to avoid duplicate maintenance efforts in 2.0

[2020-04-14 21:46] sxjscience commented on #18046
I think we can also borrow ideas from the design in AllenNLP: https://github.com/allenai/allennlp/tree/master/allennlp/training/metrics

[2020-04-14 22:56] sxjscience commented on #18052
I can confirm the observation.

[2020-04-14 23:44] leezu opened #18059 "Backwards compatibility checker broken"
Last successful run: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-backwards-compatibility-checker/detail/restricted-backwards-compatibility-checker/1129/pipeline/28
First broken run: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-backwards-compatibility-checker/detail/restricted-backwards-compatibility-checker/1130/pipeline

According to

[2020-04-15 00:19] sxjscience opened #18060 "[Numpy] Dense does not support float32 + float64."
The following code snippet will raise an error with the current MXNet. The reason is that the dtype of `a` will be float64 while the dense layer only supports float32.

[code]

[code]

[2020-04-15 00:27] leezu opened #18061 "Julia tests always test master branch of MXNet instead of the PR branch"
## Description
https://github.com/apache/incubator-mxnet/blob/e796ae9684df5eb94202d7ab012772b3d9442a4f/ci/docker/runtime_functions.sh#L1238-L1259

https://github.com/apache/incubator-mxnet/blob/8e50fd9d862a2917e0727b8cd17f1e5cf0eba081/julia/deps/build.jl#L25-L43

 falls back to building MXNet master branch if it can't find the prebuild `libmxnet.so`. As the location of `libmxnet.so` changed when s

[2020-04-15 01:46] sxjscience commented on #17823
@ZheyuYe @JiangZhaoh @yzhliu @haojin2

To understand the problem, let's consider two use cases. The first one can be solved via `gather_nd` and the second one cannot be solved via the existing MXNet.

## Take elements at specific locations from the input data

`out[i, j, ...] = data[i, positions[i, j], ...]`

In GluonNLP, the `positions` are masked locations in the input that we will need to calcu

[2020-04-15 01:56] pengzhao-intel opened #18065 "Improve log_softmax performance by OneDNN library"
The original request:
https://github.com/apache/incubator-mxnet/pull/18001#issuecomment-613666611

The related code:
https://oneapi-src.github.io/oneDNN/dev_guide_logsoftmax.html
https://github.com/apache/incubator-mxnet/blob/681cfc4205a568d3bfc35da1a601489abdd44074/src/operator/nn/log_softmax.cc

[2020-04-15 05:31] #18061 closed

[2020-04-15 06:06] pengzhao-intel commented on #18034
cc @bgawrych

[2020-04-15 16:21] ZheyuYe opened #18068 "[Numpy] Failed for Boolean type"
## Description
Many operations are unreliable in numpy interface but works well in `mx.nd.ndarray`, such as an example showcased in the reproducible code snippet. The reasons for the above problems can be boiled down to the incompatibility of **Boolean type** which is the return type of `mx.np.equal'. Unlike the `mx.np.equal` operation, `mx.nd.equal` takes float32 as the resulting data type and wo

[2020-04-15 16:32] ZheyuYe commented on #18068
[code]
It works well.

[2020-04-15 16:35] sxjscience commented on #18068
We should enhance the support of `boolean` type. The current problem is that operators like `np.equal(a, b)`, `a == b` will return a array with boolean type. However, this array will usually be updated with operations like `1 - mask`.

[2020-04-15 16:35] sxjscience commented on #18068
@haojin2 @yzhliu @reminisce @szha

[2020-04-15 17:55] leezu commented on #17990
@haojin2 will you fix the bug and reenable the tests?

[2020-04-15 17:56] leezu commented on #17988
@eric-haibin-lin do you plan to fix this bug and reenable the tests?

[2020-04-15 21:09] waytrue17 opened #18073 "Build error on Mac OS"
## Description
Errors occur when I followed the tutorial https://mxnet.apache.org/get_started/osx_setup to build MXNet on Mac OS.

## To fix it
It seems MKL-DNN has some support issues with Mac OS. To solve the problem:
1. At step 2 of the tutorial, go to config.cmake
2. Turn off MKL-DNN by changing set(USE_MKLDNN ON CACHE BOOL "Build with MKL-DNN support") to set(USE_MKLDNN OFF CACHE BOOL "Build

[2020-04-15 21:14] sxjscience opened #18074 "[Numpy] Unique has not registered the gradient"
[code]

Error message:

[code]

[2020-04-15 21:40] leezu commented on #18073
MKLDNN is tested on OSX by our CI: https://github.com/apache/incubator-mxnet/blob/master/.github/workflows/os_x_staticbuild.yml

Your system may have some special problems?

[2020-04-15 22:58] leezu opened #18077 "Parameter fusion support in Gluon"
## Description
It's common that the parameters declared by a Block in Gluon don't exactly match the format used by operators in the backend. Thus we have examples where some parameters are concatenated every forward pass
- *RNN*
  https://github.com/apache/incubator-mxnet/blob/c3b0baaa27e2215eae7ed7676009ea5f4bf49013/python/mxnet/gluon/rnn/rnn_layer.py#L278
- *BERT*
  https://github.com/dmlc/gluon

[2020-04-15 23:12] #17893 closed

[2020-04-16 01:00] waytrue17 commented on #18073
Thanks for the reply! I'll go check it from my side.

[2020-04-16 03:23] zleyk22 opened #18078 "A possible bug when computing a gradient vector"
## Description
I investigated the MXNet C++ code and noticed that the gradient of the input array `[[x, y]]` is computed as `[[(x*y)/x, (x*y)/y]]`. Therefore, if `y` is zero, then we always get `nan` as the second element of the array. Is it a bug?

### Error Message
No error message

## To Reproduce
This is a python program I run:
[code]
I get this output:
[code]
## Environment

We recommend usin

[2020-04-16 04:19] sxjscience commented on #18078
@zleyk22 Yes, it's a bug and also exists in numpy.
[code]
Output:
[code]

[2020-04-16 04:31] stu1130 opened #18079 "MXNet Python numerical scalar is truncated when we set the locale"
## Description
https://github.com/awslabs/djl/issues/49 indicates that MXNet backend didn't handle the locale right. When we use the operator that can input the scalar, we use string as medium to pass the scalar to backend. In C++ engine, we use std::stod to convert the string back to double https://github.com/apache/incubator-mxnet/blob/7a59239a260920dfde7c6bac410679c57a868cc0/src/operator/tensor

[2020-04-16 04:48] ciyongch commented on #15547
Hi @ptrendx @KellenSunderland is there any update for this license issue? Do you think we can include the fix in the coming v1.7.0 release? Thanks!

[2020-04-16 04:55] haojin2 commented on #18074
Root case is that the gradient for `unique` is not well-defined, so its gradient function was not registered at all in the first place. As per offline discussion with @sxjscience, we decide to add a zero grad node for the gradient.

[2020-04-16 05:54] ciyongch commented on #17329
@szha do you know if there's anyone working on updating mshadow license? I can update this part if it's still not started.

[2020-04-16 09:31] nickguletskii commented on #18079
Related: https://github.com/apache/incubator-mxnet/pull/17177

[2020-04-16 12:04] summer-via commented on #7899
I have the same problem, why is the nd.array() function  so slow?

[2020-04-16 15:46] sxjscience commented on #18046
Also, I suggest to remove the option of `macro` averaging. I don't think the current implementation is correct. In scikit-learn, there is no `macro` option for MAE (https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_absolute_error.html#sklearn.metrics.mean_absolute_error), MSE (https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html#sklearn.met

[2020-04-16 16:38] zleyk22 commented on #18078
Xingjian,

If it is a bug, then possibly somebody tries to fix it. Do you know such
a person? I would like to contact him/her.

But if nobody is fixing this bug, then I volunteer to fix it. And as I
see it now it may not be an easy task.

Zbigniew

On 4/15/20 11:19 PM, Xingjian Shi wrote:

[2020-04-16 16:44] sxjscience commented on #18078
@zleyk22 I think currently no one is looking at the issue. Would you try to solve it? Thanks for pointing out the problem!

[2020-04-16 16:49] zleyk22 commented on #18078
Yes, I will try to fix it.

On 4/16/20 11:44 AM, Xingjian Shi wrote:

[2020-04-16 16:50] sxjscience opened #18084 "[Numpy] Backward error in mixed int64 + float32"
This is related to https://github.com/apache/incubator-mxnet/issues/18022.

Reproducible example:
[code]

Error message:
[code]

Currently, I have to use `query / F.np.sqrt(query_shape[-1].astype(np.float32))`.

[2020-04-16 17:11] sxjscience commented on #18084
Another failure case:
[code]

Error:

[code]

[2020-04-16 21:28] leezu opened #18086 "CD pipeline tests segfaults"
CD tests for cuda builds fail with

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/detail/mxnet-cd-release-job/977/pipeline/354

[2020-04-16 21:53] leezu commented on #17976
Works again

[code]

[2020-04-16 21:53] #17976 closed

[2020-04-16 21:56] leezu commented on #7899
You can use the `mx.nd.from_numpy(ndarray, zero_copy=True)` if you don't mind that the numpy array is invalid afterwards.

[2020-04-16 22:07] sxjscience commented on #18078
@zleyk22 I can think of two possible ways to solve this problem:
1) Use two cumsums
   - `[\log a_0, \log a_0 + \log a_1, ..., \log a_0 + \log a_1 + ... \log a_{n-3}]`,
   - `[\log a_2 + \log a_3 ... + \log a_{n-1}, \log a_3 + ... + \log a_{n-1}, ... \log a_{n-1}]`
Then, sum up these two cumsums. Here, I think we should take the log-sum approach to avoid the overflow/underflow problem of multiplyi

[2020-04-16 22:55] eric-haibin-lin commented on #17988
Did the fix in https://github.com/apache/incubator-mxnet/pull/17762 not help?

[2020-04-16 23:16] leezu commented on #17988
#17762 fixed an unrelated issue. You can build latest master from source and run `test_init.test_rsp_const_init` to verify the still unresolved bug in rsp code.

[2020-04-16 23:26] leezu opened #18088 "CI Bot missing comments"
## Description
CI bot didn't comment at https://github.com/apache/incubator-mxnet/pull/18087

Suspected root-cause: Reused a branchname that was previously used for a different PR. Later the other PR got merged and the branch deleted. Recently recreated the branch and opened #18087

[2020-04-17 00:26] stu1130 commented on #16864
https://github.com/apache/incubator-mxnet/pull/17177 solves the locale issue for not only JVM but also Python, see https://github.com/apache/incubator-mxnet/issues/18079. So I want to include this one on 1.7

[2020-04-17 02:14] haojin2 commented on #17990
Fixed in #17796, test re-enabled

[2020-04-17 03:48] haojin2 commented on #18004
@leezu Have you been able to find the root cause for this bug?

[2020-04-17 11:08] RuRo opened #18090 "Aborted unix-gpu CI"
## Description
There currently exists some weird behaviour with `unix-gpu` CI jobs, where the build sometimes gets aborted and other times completes fine. I've seen this multiple times on different PRs.

Until today, I thought, that this is caused by limited available GPU executors and the jobs are getting manually aborted or aborted by some automatic priority setup in Jenkins (maybe priority goes

[2020-04-17 14:36] anko-intel opened #18091 "config/linux.cmake - misleading comment about setting Debug build"
## Description
Uncommenting the second line below from config.cmake file:
[code]

doesn't switch compilation to Debug type. Release library is produced instead.

## To Reproduce
Follow the instruction: [Installing MXNet from source on Ubuntu](https://mxnet.apache.org/get_started/ubuntu_setup):
1.
`cp config/linux.cmake config.cmake`
2.
uncomment line in config.cmake:
[# set(CMAKE_BUILD_TYPE Debug

[2020-04-17 14:44] TaoLv commented on #18091
@leezu FYI.

[2020-04-17 16:59] leezu commented on #18091
Thanks @anko-intel. This used to work, when we relied on standard cmake `initial-cache` feature to handle our config: `cmake -C ../config.cmake`.

[code]

But people were unhappy with the extra typing and we now load the config file automatically if it is present. At the time of loading, the build release type is already set and can't be configured anymore, so we need to remove the `Uncomment the

[2020-04-17 17:02] leezu commented on #18091
It's the same issue as https://github.com/apache/incubator-mxnet/pull/17742

[2020-04-17 17:16] leezu commented on #18090
@RuRo this is an unfortunate issue. The working hypothesis is that there is a bug in one of the numpy operators, causing some later test to hang. @szha is helping to switch CI to run all unittests via naive engine instead of threadedengine, which may help prevent buggy operator A to cause a hang of some later test. There is also the idea of timing out the job if there is no new output for 30 minut

[2020-04-17 18:07] anko-intel commented on #18091
ok, I will

[2020-04-17 18:18] szha commented on #18090
@josephevans is looking into a 30m auto timeout.

[2020-04-17 18:22] szha commented on #17676
@zhreshold thanks for bringing this up. Currently the test for that is the longest running one too, so if there's no objection I hope that we could move forward in removing it soon

[2020-04-17 18:38] leezu commented on #18091
Thank you

[2020-04-17 21:55] sandeep-krishnamurthy commented on #17798
Resolving as the feature is now available. Thanks @connorgoggins

[2020-04-17 21:55] #17798 closed

[2020-04-17 23:17] vpirogov commented on #17595
This issue is resolved in [oneDNN v1.4](https://github.com/oneapi-src/oneDNN/releases/tag/v1.4).

[2020-04-18 02:40] leezu commented on #17978
@mseth10 I think this aligns with your work on prebuilt jetson packages.

[2020-04-18 14:42] QueensGambit commented on #16173
@mk-61 Thank you for your proposal.
Generating a unique key based on model an inference attributes is an option.
I'm not sure if I understood your idea correctly but one downside of this approach is that it might become difficult to maintain at some point if every inference backend uses a different set of attributes.

Therefore, I prefer my previous idea of adding a save and load function to the [

[2020-04-19 01:06] marcoabreu commented on #18090
The 3 hours you see it the global timeout we are setting for jobs. So that abort is intentional

[2020-04-19 01:18] szha opened #18098 "test_kvstore.py::test_sparse_aggregator segfault"
## Description
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/PR-18025/30/pipeline#step-191-log-1085

[2020-04-19 01:22] eric-haibin-lin commented on #18077
What about optimizer? Would optimizers see fused or unfused params?

[2020-04-19 01:36] szha opened #18099 "Error in test_contrib_amp.py::test_amp_coverage"
## Description
As part of #18025 I added a waitall() in between tests in amp. This revealed the following error in unix-gpu pipeline which seems to be related to pointwise fusion.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18025/34/pipeline/417

[code]

[2020-04-19 02:45] zixuanweeei commented on #18077
From the view of RNN operator, I think the optimizers will see the fused parameters. In both forward and backward scenario, only the fused parameter exists in the arguments dict. And we can use `Block.unfuse()` to overwrite the values of unfused parameters.

Both `RNN` and `_backward_RNN` operator receive a NDArray holder for fused parameter:
+ RNN (line 412)
https://github.com/apache/incubator-mx

[2020-04-19 02:47] leezu commented on #18077
Optimizer would see only fused parameters. In general, you can consider all existing parameters as "fused". Unfused parameters are a new "type" of parameters that are not returned by `collect_params()` and we ensure in the Python frontend that users implement `fuse_parameters`, `unfuse_parameters` functions to implement whatever logic is needed to combine the set of unfused parameters into a set o

[2020-04-19 03:33] RuRo commented on #18090
Okay! I think I was able to track down the source of this problem. I noticed, that the last 3 times the pipeline froze for me, the last output was `test_operator_gpu.test_np_true_divide`. The next test after that, that is supposed to run is `test_operator_gpu.test_np_unary_bool_funcs`.

After ducking around with `test_operator_gpu.test_np_unary_bool_funcs` a bit, I was able to reproduce the hangin

[2020-04-19 03:55] leezu commented on #18004
@haojin2 sorry, I didn't get to dive deep on this issue yet. I'll work on this during our bug bash in the coming week.

[2020-04-19 04:14] leezu commented on #18090
@RuRo Thank you for investigating the issue! Unfortunately I can't repro based on your script. Can you provide more details on your environment (mxnet version, cuda version, gpu architecture, etc)?

[2020-04-19 04:19] leezu commented on #18090
However, interrupting the repro script that you shared created the following message
`Segmentation fault: 11` when using the binary nightly build and

[code]

when using the self-compiled version.

[2020-04-19 04:37] szha opened #18100 "test_operator.py::test_batchnorm triggers curand error"
## Description
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-18025/32/pipeline

[code]

[2020-04-19 04:39] RuRo commented on #18090
Here is my environment:

<details>

[code]

</details>

My mxnet install is built from source of the latest master a couple of days ago. CUDA version is 10.2. GPU is GTX1050.

The timing for the lockup to happen can vary quite a lot. I'd recommend starting a couple copies of this script and leaving them running for a minute or so to be absolutely sure.

[2020-04-19 04:46] szha opened #18101 "test_sparse_fm.py::test_factorization_machine_module"
## Description
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-18025/32/pipeline

[code]

[2020-04-19 04:48] eric-haibin-lin commented on #18077
Some optimizers may require global information and involve reductions ops, such as LARS or LAMB cc @szhengac

[2020-04-19 05:44] leezu commented on #18077
Cases that need to expose the unfused parameter to the optimizer wouldn't be supported based on the proposed Gluon fusion API and would require more extensive changes to the backend to support views on the fused array. If that's required, we can reconsider the plan. The fused parameter can be of any shape though, which should facilitate reduction ops etc

[2020-04-19 06:10] eric-haibin-lin commented on #18014
@TaoLv @ciyongch @xinyu-intel @PatricZhao can someone look into why mxnet-cuxx-mkl build leads to the segfault? This may be a potential blocker for mxnet 1.7. If possible we should also patch it with the mxnet 1.6.1 release

[2020-04-19 07:42] szhengac commented on #18077
That’s not needed for either lamb or Lars. At the moment, the new api
allows one step function to get all the parameters so that global
information can be obtained. It is only needed in other optimizers such as
lbfgs. The fused parameter can help reduce the number of api calls and
potentially accelerate the computation. But it is not urgent now as we
haven’t implemented lbfgs like method.

On Sat,

[2020-04-19 23:15] eric-haibin-lin commented on #18014
Another thing is that even if I build mxnet 1.6.x from source using make as the following, running a simple push pull test also leads to segmentation fault:
[code]

I also tried to upgrade to gcc 9 (suggested by @leezu) but got error including cuda headers:
[code]

[2020-04-20 00:59] leezu commented on #18014
For cuda 10.1, gcc8 is supported

[2020-04-20 02:44] sxjscience opened #18102 "[Numpy] The gradient of einsum is wrong"
The gradient of einsum is not reliable. The following is just one example. There are actually **multiple scenarios** in which the gradient is wrong. This operator has both performance issues as stated in https://github.com/apache/incubator-mxnet/issues/18043 and numeric problems.

We should recommend the users **not to use the einsum in MXNet** util these issues are fixed.

[code]

Error:

[code]

[2020-04-20 02:45] sxjscience commented on #18102
@yzhliu @hzfan @szha @leezu

[2020-04-20 03:00] pengzhao-intel commented on #18014
@eric-haibin-lin based on the comments from @TaoLv @xinyu-intel, we don't see anything related to MKLDNN. I think bytePS developer should spend some efforts to locate the reason and get back with clear analysis.

[2020-04-20 03:17] ymjiang commented on #18014
We will investigate this from BytePS-side.

[2020-04-20 03:33] szha commented on #18099
Note that the original error was wrong due to confusing log on teardown of module which attributes errors to the last test (i.e. `test_fp16_casting`). This happens even though it was disabled which helped me catch this problem. This bug is tracked in https://github.com/pytest-dev/pytest/issues/7101

[2020-04-20 03:40] leezu commented on #18099
cc @yzhliu as we discussed about a (supposedly) related problem with `less_scalar_gpufloat32_2bool_2` before.

[2020-04-20 04:14] hzfan commented on #18102
Thanks for bringing this up. Will check it out.

[2020-04-20 06:08] ymjiang commented on #18014
@eric-haibin-lin Could you try this PR? https://github.com/bytedance/byteps/pull/244

[2020-04-20 06:30] sxjscience commented on #18043
Here are the einsum workloads that are related to attention:

Consider the attention cell with query, key, value -> out
We denote the batch_size as B, num_heads as `K`, the query_length as `L_q`, the mem_length as `L_m`, key dimension as `C_k`, value dimension as `C_v`. In the new version of GluonNLP, we will support different layouts for attention cell:

- layout = 'NKT'
   - query.shape = `(B, K

[2020-04-20 06:48] sxjscience opened #18105 "[Gluon] Deferred initialization error of dynamic shape operators"
[code]
Error:
[code]

However, in this scenario, we should be able to get the partial shape of `c` because we are only calling `take` in `axis=0`.

[2020-04-20 07:41] szha commented on #18099
same problem with `test_amp_conversion` http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18025/35/pipeline/417

[2020-04-20 08:48] TaoLv commented on #17595
@vpirogov Thanks for the update. We will upgrade the 3rdparty dependency soon.

[2020-04-20 09:22] sophros opened #18108 "regression_example.jl is failing"
## Description
Invalid example.

### Error Message
MethodError: no method matching (::MXNet.mx.var"#5784#5785")(::Float64, ::NDArray{Float32,1})
Closest candidates are:
  #5784(::Any) at /Users/*********/.julia/packages/MXNet/XoVCW/src/metric.jl:263

Stacktrace:
 [1] (::Base.var"#3#4"{MXNet.mx.var"#5784#5785"})(::Tuple{Float64,NDArray{Float32,1}}) at ./generator.jl:36
 [2] iterate at ./generator.j

[2020-04-20 11:16] RuRo commented on #18090
@leezu can you try to reproduce with a recent mxnet version that is built with `cython` support and run the script with `MXNET_ENFORCE_CYTHON=1 python test.py`?

[2020-04-20 11:39] ciyongch commented on #17329
@mjwall , ` ./cpp-package/LICENSE` and `./docs/python_docs/themes/mx-theme/LICENSE` was updated in https://github.com/apache/incubator-mxnet/pull/18109, while the `./example/rcnn/LICENSE` is already with `Apache License`, and `./example/gluon/tree_lstm/LICENSE` is `MIT License` which was traced in top-level `LICENSE`.

[2020-04-20 16:31] szha commented on #18099
Seems to have the same problem for the rest of the tests so this indicates a problem to the amp module itself. I've disabled all amp tests at the moment

[2020-04-20 16:36] szha commented on #18100
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18025/36/pipeline

[code]

[2020-04-20 17:56] ChaiBapchya commented on #17250
@ptrendx @roywei gentle ping

[2020-04-20 17:56] ChaiBapchya commented on #15721
@roywei gentle ping

[2020-04-20 20:17] sxjscience opened #18116 "[Gluon] Gluon load_parameters/save_parameters does not respect the prefix flag and will be problematic when we share the parameters"
I find that the load/save logic in Gluon does not respect the `prefix` in the network.

Consider the following example, I created two networks, `Foo` and `Foo2`, where they both have one dense layer with `prefix='layer_'` but with different attribute names. One is called `self.l1` and the other is called `self.l2`. At first glance, because these two layers **share the same prefix**, we can share t

[2020-04-20 20:19] sxjscience opened #18117 "[Gluon][Numpy] Bug of save parameters with numpy front-end"
Reproducible example:
[code]

Error:
[code]

[2020-04-20 20:50] leezu commented on #18105
This is expected and one motivation for adding `HybridBlock.forward` based on deferred compute.
In that case, you can implement `HybridBlock.infer_shape` and work around that by it's very nature, the backend can't do shape inference on dynamic shape operators.

You can also implement `HybridBlock.infer_shape` without using deferred compute interface, but then you'll get a symbol as input to `Hybri

[2020-04-20 21:03] leezu commented on #18116
Fixed by https://github.com/apache/incubator-mxnet/commit/8c44af4eba798b379c374c15582f9aea7dd7d8fd ?

Need to use `deduplicate=True`

We should make this default in MXNet 2

[2020-04-20 21:03] ptrendx commented on #17006
Custom ops should be able to set the inplace property.

[2020-04-20 21:20] sxjscience commented on #18116
Confirmed that using `save_parameters(..., deduplicate=True)` will solve this problem.

[2020-04-20 22:09] leezu commented on #18116
Let's track changing the default for MXNet 2 in this issue

[2020-04-20 23:40] leezu commented on #18086
This issue blocks the release of gpu builds

[2020-04-20 23:41] leezu commented on #18086
May be fixed by

https://github.com/apache/incubator-mxnet/pull/18025

cc @szha

[2020-04-21 03:04] leezu commented on #17829
cc @eric-haibin-lin this is a quite common issue

[2020-04-21 03:15] eric-haibin-lin opened #18120 "MKLDNN header missing in recent mxnet nightly static builds"
[code]
[code]

Since mkldnn is turned on by default in Feb, the headers should be included, too

@TaoLv

[2020-04-21 03:32] leezu commented on #18120
FYI, I intend to switch the CD to cmake build in the coming days. It's currently blocked by https://github.com/apache/incubator-mxnet/issues/17557 because I'd like the CD to pass at least once prior to changing the build system.. #17557 may be fixed by https://github.com/apache/incubator-mxnet/pull/18025

[2020-04-21 04:01] TaoLv commented on #18120
I doubt it's caused by the fix in https://github.com/apache/incubator-mxnet/pull/16857. We have lost the mkldnn header folder since then. For example, in https://repo.mxnet.io/dist/python/mkl/mxnet_mkl-1.6.0b20191205-py2.py3-none-manylinux1_x86_64.whl.

[2020-04-21 05:40] lanking520 opened #18121 "Error in Loading model that contains Sparse NDArray"
## Description

I am facing the issue loading the trained Symbolic model in mxnet 1.6.0. It is reproducible in the most recent nightly build. The error message indicated that the storage type in my model is not supported. My model is trained in 1.4.1 using Spare NDArray (RowSparse) as weight and Input type is CSR.

I tried to update the model to 1.6.0 and it didn't solve the problem. What should I

[2020-04-21 07:33] sxjscience commented on #18116
@leezu Should we submit a PR to change the default behavior? I think we should fix it as early as possible because we rely on `save_parameters()` to generate the model zoos.

[2020-04-21 08:04] sxjscience opened #18123 "[Numpy] Bug of `arr.sum()` in latest master"
Reproducible example:

[code]

Error
[code]

[2020-04-21 08:54] qiuyeqiang opened #18124 "fail to convert mxnet to onnx"
## Description
I'm converting a [CRNN+LSTM+CTC](https://github.com/breezedeus/cnocr-models/blob/master/models/cnocr-models-v1.0.0.zip) model to onnx, but get some errors.
converting code:
[code]
### output
[code]
then ,i change the `inputshape` as:
`converted_model_path = onnx_mxnet.export_model(sym, params, [(1, 1, 32, 280), (1, 5)], np.float32, onnx_file, True)
`
the **output** becomes:
[code]

[2020-04-21 16:48] szha commented on #18098
and dist-kvstore tests timed out http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18025/46/pipeline/

[2020-04-21 17:10] ChaiBapchya commented on #15229
Another one : http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18119/3/pipeline

[2020-04-21 17:17] leezu commented on #18098
related https://github.com/apache/incubator-mxnet/issues/17829

[2020-04-21 17:17] ChaiBapchya commented on #15229
@haohuanw our CI as of 4/21 doesn't really use g4 instances. T4 GPU [Tesla] is used in G4 instances while p3 & g3 instances [currently used for GPU workloads in CI] use Tesla V100 and M60 respectively. So since our CI is failing for this test since June 2019, it looks like an issue related to V and not T4

Correct me if I'm wrong @leezu @josephevans

[2020-04-21 17:20] #18091 closed

[2020-04-21 18:51] RuRo commented on #18090
While we are waiting for somebody to reproduce, I've tried playing with the stuck process in gdb.
Here is the backtrace of all the threads after they get stuck.
<details>

[code]

</details>

As you can see, all the threads seem to be either in `pthread_cond_wait`, `pthread_cond_timedwait` or `pthread_mutex_lock`, so this is indeed probably a deadlock situation.

[2020-04-21 19:02] leezu commented on #18090
https://github.com/apache/incubator-mxnet/issues/18014 appears to be due to wrong mutex handling and may be related.

[2020-04-21 19:03] leezu commented on #18090
@RuRo wrt to reproducing, we should first fix the `Check failed: ndim() >= 0 (-1 vs. 0) :` error triggered by the `CustomOp`. It appears that `CustomOp` swallows the error which may cause the subsequent hang

[2020-04-21 19:08] harish-vnkt commented on #17680
Facing the same issue with ```python setup.py install``` too. It's strange because importing mxnet seems to work with Python3 but not Python2.

[2020-04-21 19:11] leezu commented on #17680
Python 2 is EOL and unsupported indeed.

[2020-04-21 19:40] RuRo commented on #18090
Are you sure, that the backtrace you got after interrupting is in any way related to this issue? It doesn't seem likely to me.
1) The backtrace you got is in `_ctypes/ndarray.py`. The issue I was able to reproduce is in the `cython` bindings. If I understand correctly, when `cython` is used `_ctypes` isn't even be imported. Instead, `_cy3.ndarray` would be used. I mentioned, that I also sometimes

[2020-04-21 20:30] leezu commented on #18090
@RuRo, @reminisce helped point out an error in your reproducer script. You use zero-shape tensor, but didn't enable numpy shape semantics. It should be

[code]

This explains the error in https://github.com/apache/incubator-mxnet/issues/18090#issuecomment-616025939

[2020-04-21 20:53] leezu commented on #18090
I can reproduce the hang with the `cmake -DBUILD_CYTHON_MODULES=1` build.

[2020-04-21 20:57] leezu commented on #18014
@xinyu-intel could the issue you report in https://github.com/apache/incubator-mxnet/issues/18014#issuecomment-612375492 be the same as https://github.com/apache/incubator-mxnet/issues/18090

BytePS side fixed some bugs that caused a different crash when using MXNet MKLDNN build, so the remaining issue now is only ThreadedEngine.

[2020-04-21 21:05] RuRo commented on #18090
Ah, I see. I had the `npx.set_np()` call, when I started reproducing this issue, but I removed it, since it made no difference for the hanging behaviour. I was under the impression, that scalar arrays are enabled by default for the `mx.np` kind of array. My bad.

Also, the hang happens with or without the `mx.nd.waitall()` call. Also, as previously mentioned, you don't need the GPU context. So the

[2020-04-21 21:42] eric-haibin-lin commented on #18014
This PR https://github.com/bytedance/byteps/pull/244 also resolves the segfault issue when MXNet is built from source with MKLDNN=0.

[2020-04-21 21:50] zhreshold commented on #18090
Any action item to unblock the ci now?

[2020-04-21 21:51] leezu commented on #18090
Fix the bug

[2020-04-21 22:31] leezu commented on #18090
With respect to the numpy op causing triggering the issue: We can replace those based on CustomOp with native operators. There are only 4 in this file
https://github.com/apache/incubator-mxnet/blob/f619c52dfc3787e3097b37ba28f7065bca910b97/python/mxnet/numpy_op_fallback.py

[2020-04-21 22:45] szha commented on #18100
occurred again http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18025/49/pipeline/415

[2020-04-21 23:51] #18074 closed

[2020-04-22 00:29] szhengac commented on #9881
Solved in #16167. So close it.

[2020-04-22 00:32] RuRo commented on #18090
Are we sure, that this is 100% a `CustomOp` specific problem and not a deeper issue with the current `cython` implementation, that `CustomOp` just happened to bring to light? After all, the issue doesn't occur with `MXNET_ENABLE_CYTHON=0`.

Also, @zhreshold the CI is technically not blocked since the test is just unstable and not completely impossible. This issue was around for a while and until n

[2020-04-22 00:54] harish-vnkt commented on #17680
@leezu Is there a way I can modify CMakeLists.txt to compile mxnet to work with Python2.7? Or perhaps a previous version of mxnet that I could use?

[2020-04-22 00:54] ciyongch commented on #16864
A kindly remainder, we've postponed the code freeze date to April 25th PST to extend the time windows for those pending PRs targeting in v1.7.0, please make sure you've all your need in the v1.7.x branch now. Thanks!

[2020-04-22 01:53] leezu commented on #17680
Yes, you can use MXNet 1.6, which is the last release of MXNet support Python 2. See https://github.com/apache/incubator-mxnet/releases/tag/1.6.0

[2020-04-22 01:57] sxjscience opened #18131 "[Numpy][Discussion] Make sure all numpy operators are tested in the hybridized mode"
I checked our `test_numpy_op.py` and find that there is another operator (other than np.unique) that is not tested in the hybridization mode:

https://github.com/apache/incubator-mxnet/blob/b85e4468f47cc8bc687e62f30a06b2e6757ecdb0/tests/python/unittest/test_numpy_op.py#L1508-L1527

I think we will need to ensure that all numpy operators are tested in the hybrid-mode in the future.

[2020-04-22 02:04] sxjscience opened #18132 "[Numpy] np.split will trigger an error"
Minimal reproducible example:

[code]
Error message
[code]

Just use numpy won't have any error.
[code]

[2020-04-22 02:06] harish-vnkt commented on #17680
I am trying to build mxnet from source because a repository (who's code I am trying to run) has provided custom operators that need to be included in the source. The repository code is in Python2. After I install the python binding, running ```import mxnet``` in a Python2 interpreter gives me ```ImportError: cannot import name _LIB```, whereas it runs successfully in a Python3 interpreter.

[2020-04-22 02:20] leezu commented on #17680
You probably want to use the same version of MXNet as used by the authors of that repo, as it appears that repo is quite old?

[2020-04-22 02:27] harish-vnkt commented on #17680
@leezu That's what I initially did. :(
The authors use https://github.com/apache/incubator-mxnet/tree/62ecb60 for their experiment, but I got compilation errors that I couldn't solve. I have limited computing resources so I couldn't try out that install too many times before deciding to move to the latest version. I would love to get this install working in a Python2 environment. Thanks for your q

[2020-04-22 02:35] leezu commented on #17680
You can try following the old install guide: https://mxnet.apache.org/versions/0.11.0/get_started/install.html

[2020-04-22 05:46] reminisce commented on #18132
The `axis` should have been canonicalized in backend. @hzfan Can you get it fixed?

https://github.com/apache/incubator-mxnet/blob/6a809aaca12ea4dd31d1c2d8121b881b25eb916b/src/api/operator/numpy/np_matrix_op.cc#L142-L149

[2020-04-22 05:51] hzfan commented on #18132
@reminisce  I will fix it. Thanks for the deep dive.

[2020-04-22 05:59] hgt312 commented on #18132
Seems these checks in ffi is redundant? The logic is already in `FCompute` function.

[2020-04-22 07:38] zhongqingyang opened #18135 "Memory leak caused by using ndarray:: operator in thread"

[2020-04-22 07:42] 1TTT9 commented on #1247
same question +1,  any solution or magical function calls to stop it ?

[2020-04-22 07:43] zhongqingyang commented on #18135
when I used ndarray:: operator+、ndarray:: operator-、ndarray:: operator-= orndarray:: operator+= in thread ,Memory is growing at 200m / S，but when I used ndarray:: operator/ or *,
this program was not happened.

[2020-04-22 08:20] RuRo commented on #18090
A little further investigation in GDB with some debug symbols revealed the following information:

Thread 1 (main thread) is in `CustomOperator::Find`. (it shows up as [`mxnet::op::custom::AttrParser`](https://github.com/apache/incubator-mxnet/blob/6a809aaca12ea4dd31d1c2d8121b881b25eb916b/src/operator/custom/custom.cc#L98) in the backtrace because of inlining). Thread 1 is [waiting for the `Custom

[2020-04-22 10:19] acphile opened #18137 "[Numpy] different behaviours between numpy and mxnet.numpy"
### different dtype when calculating division
For example:
in mxnet.numpy
&nbsp;&nbsp; for two ndarray a,b with dtype='int64', the dtype of result c = a  / b is 'float32'
in numpy
&nbsp;&nbsp; the dtype is 'float64'
Generally, when calculating division, mxnet.numpy often uses float32 while numpy uses float64.
Using float32 will often lead to the loss of floating point precision.
[code]

### operat

[2020-04-22 21:59] szha commented on #18098
test_distributed_training-gpu.sh hangs.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18025/58/pipeline/426

[2020-04-22 23:23] leandrolcampos opened #18140 "Reparameterization trick for Gamma distribution"
## Description
I'd like to suggest the implementation of implicit reparameterization gradients, as described in the paper [1], for the Gamma distribution: ndarray.sample_gamma and symbol.sample_gamma.

This will allow this distribution and others that depend on it, like Beta, Dirichlet and Student t distributions, to be used as easily as the Normal distribution in stochastic computation graphs.

S

[2020-04-23 00:11] yzhliu commented on #18060
As discussed with @sxjscience before, one solution is to always convert to fp32 when reading from numpy array. what do you think? @reminisce @haojin2 @szha

[2020-04-23 00:37] sxjscience commented on #18140
@xidulu @szhengac

[2020-04-23 00:41] leezu commented on #18137
I think divergence between numpy and mxnet.numpy should be treated as bug as long as it's not explicitly called out in the documentation?

[2020-04-23 01:58] xidulu commented on #18140
Currently, pathwise gradient is only implemented for `mx.np.random.{normal, gumbel, logistic, weibull, exponential, pareto}` in the backend.

We are planning to implement (in C++ backend) implicit reparam grad for Gamma related distribution in the future, which is extremely useful, as you pointed out, in scenarios like `BBVI for LDA`.

Another possible solution, is to wrap the sampling Op as a Cus

[2020-04-23 03:12] szha opened #18144 "test_numpy_op.py::test_np_empty_like hangs"
## Description
test_numpy_op.py::test_np_empty_like hangs on unix-gpu

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18025/59/pipeline/425

[2020-04-23 12:22] ciyongch commented on #16864
Hi @ptrendx @roywei , may I know how to decide (or whom should I check with) if this release should go out on Medium blog or not, which you did for 1.5.0 and 1.6.0? Thanks!

[2020-04-23 13:47] leandrolcampos commented on #18140
Hi @xidulu,

Thanks for your suggestion. I'll follow it. But, for performance reasons, I also look forward to your implementation (in C++ backend) of implicit reparam grad for Gamma related distribution.

[2020-04-23 14:08] ChaiBapchya commented on #17414
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18145/2/pipeline/
#18145 PR reverts cudnn dropout
But since this was observed even before reverting that cudnn dropout I'm guessing it's an inherently flaky test [possibly due to tighter bounds?]

[2020-04-23 15:27] nickguletskii opened #18149 "test_numpy_op.py:test_np_unary_bool_funcs hangs"
## Description
It seems that `test_np_unary_bool_funcs:test_np_unary_bool_funcs` hangs in CI for hours, then the job gets aborted. At least, I think it's `test_np_unary_bool_funcs`, because `test_np_true_divide` usually comes before and no output for `test_np_unary_bool_funcs` is displayed in the logs when the test suite becomes unresponsive.

## Occurrences

1. http://jenkins.mxnet-ci.amazon-ml.c

[2020-04-23 16:18] phongnguyenai commented on #8952
Sorry but I got the same problem, anyone solved it?

[2020-04-23 17:21] samskalicky commented on #17236
Need to support removing args/aux from custom graph pass, re-using the optimized symbol when calling optimize_for in Gluon repeatedly

[2020-04-23 17:49] leezu opened #18150 "caffe test activation or removal"
## Description
https://github.com/apache/incubator-mxnet/pull/18025 removed caffe test but missed removing caffe functionality. Should either reintroduce the test or remove functionality.

[2020-04-23 18:08] leezu commented on #18149
Related https://github.com/apache/incubator-mxnet/issues/18090

[2020-04-23 18:09] leezu commented on #18144
In the linked CI run `test_numpy_op.py::test_np_empty_like` is not run and thus can't be responsible for the hang. Thus there must be more triggers besides `test_np_empty_like`.

Related https://github.com/apache/incubator-mxnet/issues/18090

[2020-04-23 19:37] szha commented on #18003
Occurred again in http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18146/runs/2/nodes/365/steps/784/log/?start=0

[2020-04-23 20:09] leezu commented on #18003
With the new random infrastructure, the test failure can be reproduced deterministically:

`MXNET_TEST_SEED=1632189249 pytest tests/python/unittest/test_optimizer.py  -k test_ftrl`

[2020-04-23 20:10] RuRo commented on #18090
Just FYI, I am **not** working on a fix for this. Unfortunately, I am currently very busy and will probably be so for quite a while, also I am not very familiar with `cffi`/`cython`. So I won't be able to help much, apart from maybe a little bit of testing/discussion.

Just wanted to point that out, in case I created a false expectation, that I am working on this issue and therefore it doesn't nee

[2020-04-23 21:14] leezu commented on #15662
Reopen as fix is reverted due to performance issue.

[2020-04-24 00:57] leezu opened #18153 "JVM bindings broken with OpenJDK 11"
## Description
OpenJDK 11 is default on Ubuntu 18.04, but doesn't work with MXNet.

Users need to install OpenJDK 8 and `sudo update-java-alternatives -s java-1.8.0-openjre-amd64`.

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18138/9/pipeline

[2020-04-24 01:02] leezu commented on #17783
Another data point is that we currently only support OpenJDK 8 but the JVM languages are broken with OpenJDK 11 which is used on Ubuntu 18.04 for example. See https://github.com/apache/incubator-mxnet/issues/18153

[2020-04-24 01:55] leezu opened #18154 "AddressSanitizer tests broken on Ubuntu 18.04"
## Description
AddressSanitizer based on the `libasan.so` fails on Ubuntu 18.04 (but continues to pass on our Ubuntu 16.04 CI).

Keep AddressSanitizer tests on Ubuntu 16.04 for now, but should be fixed

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fmiscellaneous/detail/PR-18138/10/pipeline

To reproduce (once https://github.com/apache/incubator-mxnet/p

[2020-04-24 01:56] haojin2 commented on #18144
Wow this issue is VERY INTERESTING, in the first [link](http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18025/59/pipeline/425) given in the issue description I'm not even seeing `test_np_empty_like` being run at all, and the last test run before the final timeout process kill was `test_np_bincount`. Also as @leezu pointed out in the above comm

[2020-04-24 02:13] leezu commented on #18144
@haojin2 you can check #18090 for the evidence.

[2020-04-24 03:53] haojin2 commented on #18144
@leezu I understand the goal, but my point is that we should avoid providing un-related info in the issue's description (the hang in the first provided link is not related at all), shouldn't we? It'd be better if link to #18090 was provided in the first place to avoid such confusions.

[2020-04-24 04:41] leezu commented on #18144
I agree.

[2020-04-24 04:59] leezu commented on #18123
Fixed by https://github.com/apache/incubator-mxnet/pull/18129

[2020-04-24 04:59] #18123 closed

[2020-04-24 05:09] #18132 closed

[2020-04-24 06:36] leezu commented on #17616
This issue appears fixed by the toolchain updgrade https://github.com/apache/incubator-mxnet/pull/17962

[2020-04-24 06:36] #17616 closed

[2020-04-24 06:37] ciyongch commented on #15547
Hi @leezu @roywei , may I have your suggestions for this issue, since it's not a concern for the previous version, so supposes it's also fine to the upcoming 1.7.0 release. Am I right?
Thanks!

[2020-04-24 09:13] yangshuailc commented on #15892
@Chenyangzh , I aslo met the SoftmaxActivation op and UpSampling op issues，Can you share your solution? thanks you

[2020-04-24 11:50] clive-g-brown opened #18163 "Build error - Julia - Ubuntu"
CUDA 10.2

Building MXNet → `~/.julia/packages/MXNet/XoVCW/deps/build.log`
┌ Error: Error building `MXNet`: [ Info: Found nvcc: /usr/local/cuda-10.2/bin/nvcc
│ ERROR: LoadError: MethodError: no method matching replace(::String, ::String, ::String)
│ Closest candidates are:
│   replace(::String, !Matched::Pair{#s67,B} where B where #s67<:AbstractChar; count) at strings/util.jl:421
│   replace(::Str

[2020-04-24 15:28] hassonofer opened #18164 "Making _internal._plus_scalar and _internal._mul_scalar normal operators"
## Description
I suggest making 2 internal API's into symbol API.
mx.sym._internal._plus_scalar and mx.sym._internal._mul_scalar.

They are both already available in Gluon API.
for example:
[code]

[code]

The _plus_scalar operator is been used.

To my understanding they are required for ONNX support anyway.

At the moment the only reasonable way to add scalar is either by adding him as an input o

[2020-04-24 17:30] leezu commented on #18163
Try using same setup as on CI. https://github.com/apache/incubator-mxnet/blob/master/ci/docker/install/ubuntu_julia.sh

If that setup is outdated, fixes and update to the CI setup are welcome

[2020-04-24 17:32] leezu commented on #18164
If they are available in the Gluon API, they are also available in the symbol API. There is nothing special about the `F` in Gluon API. It's just the standard symbol namespace.

[2020-04-24 17:34] hassonofer commented on #18164
Not sure how I missed that, thanks

[2020-04-24 17:34] #18164 closed

[2020-04-24 21:01] stu1130 commented on #18079
I can confirm the issue is fixed by https://github.com/apache/incubator-mxnet/pull/17177 Thanks @nickguletskii

[2020-04-24 21:01] #18079 closed

[2020-04-25 00:44] roywei opened #18165 "Unknown shape in flatten op."
Right now there is no way to represent unknown shape in MXNet

According to https://github.com/apache/incubator-mxnet/issues/14253, now it use -1 instead of 0 as unknown dim. This should only take effect if `mx.npx.set_np()` is used.

I have the following use case when I want to bind a shape with unknown batch size, and feed different batch size data during forward.
[code]
if give the following er

[2020-04-25 01:53] szha opened #18166 "Flaky test_numpy_op.py::test_np_mixedType_unary_funcs"
## Description
test_numpy_op.py::test_np_mixedType_unary_funcs

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/PR-18146/7/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/job/mxnet-validation/job/unix-cpu/job/PR-18146/7/display/redirect

## What have you tried to solve it?

1. added retry in #18146

[2020-04-26 06:25] chinakook opened #18170 "/usr/bin/ld fail when build"
## Description
build mxnet master in ubuntu with build.sh

### Error Message
/usr/bin/ld: build/src/operator/tensor/elemwise_binary_broadcast_op_basic_gpu.o: in function `void mxnet::op::BinaryBroadcastComputeSparseEx<mshadow::gpu, mxnet::op::mshadow_op::div>(nnvm::NodeAttrs const&, mxnet::OpContext const&, std::vector<mxnet::NDArray, std::allocator<mxnet::NDArray> > const&, std::vector<mxnet::OpR

[2020-04-26 07:43] chinakook commented on #18170
https://github.com/apache/incubator-mxnet/pull/17767

[2020-04-26 09:30] wy3406 opened #18171 "AttributeError: module 'mxnet.ndarray' has no attribute 'im2col'"
## Description
Use the "mxnet.ndarray. im2col" function to appear "AttributeError"

### Error Message

'1.6.0'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'mxnet.ndarray' has no attribute 'im2col'

## Environment

We recommend using our script for collecting the diagnositc information. Run the following command and paste the outputs below:
[code

[2020-04-26 11:45] monkeyking commented on #5163
Hi,
The domain may changed,
May i have the latest domain of
     http://data.dmlc.ml/mxnet/models/imagenet/synset.txt
TY

[2020-04-26 21:05] szha commented on #17676
mxnet.rnn module should be deprecated and removed too given it's designed for interacting with symbol API.

[2020-04-27 01:09] chinakook commented on #15780
https://github.com/dmlc/gluon-cv/issues/1277

[2020-04-27 01:39] yzhliu commented on #17792
should be fixed by #18158

[2020-04-27 01:39] #17792 closed

[2020-04-27 01:40] yzhliu commented on #17990
should be fixed by #18158

[2020-04-27 01:40] #17990 closed

[2020-04-27 05:05] szha commented on #14292
Still occurring http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-18146/runs/18/nodes/425/steps/728/log/?start=0

[2020-04-27 05:05] austinmw opened #18172 "mxnet.numpy switches back to numpy in jupyter"
## Description
Strange `npx.set_np()` issue with jupyter lab. When I use np within the same cell as import and set, `np.array()` is of type `mxnet.numpy.ndarray`, but in a following cell it's instead type `numpy.ndarray`. **This appears to only happen in jupyter lab, not jupyter notebook.**

### Error Message

## To Reproduce

![Screen Shot 2020-04-27 at 1 00 53 AM](https://user-images.githubuserc

[2020-04-27 05:36] austinmw commented on #18172
Going to close this as I think it's just specific to the latest version of jupyterlab.

[2020-04-27 05:36] #18172 closed

[2020-04-27 08:38] zhongqingyang opened #18173 "C++预测模型时遇到的一些那一解决的问题"
我使用的是MxNetCpp.h的API。
1.在cpu()下使用多线程预测能够正常运行并返回正确结果，gpu()多线程下时，使用NDrray进行图片的归一化和标准化出现内存泄漏，其他涉及到我自己写的NDArry运算也都造成了内存泄露。
2.我向通过自己编写逻辑来代替NDArray的操作，但是在图片的转置这边出现了问题，我打印出预处理后的图片数组和使用NDArray的运算结果相比，数字基本一样，但是数字的位置变了，代码在下方。
3.gpu下家在一个模型使用了1689M的显存，计算一个模型时显存到了3072M，加载两个模型并计算显存稳定在4234M计算第三个模型时out of memory程序退出，我在使用C API测试时发现计算三个模型也没有超过2g显存。
4.使用C API预测模型时，得到的置信度时10多，坐标大部分都是0

[2020-04-27 08:43] acphile commented on #18046
Here are the updated changes to be made:
### 1. improve Class MAE, MSE, RMSE
a. **UPD: remove “macro” supports which represents average per batch**
b. Rewrite RMSE to inherit from MSE
### 2. improve Class _BinaryClassification
a. **UPD: including parameter “class_type” in [‘binary’, ‘multiclass’, ‘multilabel’]**
b. support the situation len(pred.shape)==1 for class_type='binary'
&nbsp;&nbsp;&nbsp;

[2020-04-27 14:06] lilongyue commented on #18173
@zhongqingyang i just you using python if you are not familiar with c++.

[2020-04-27 14:14] zhongqingyang commented on #18173
我现在解决了预处理图片部分，模型已经可以正确的识别目标。但是我想知道NDArray在多线程下是否安全。还有C++API为什么会占用那么多显存。

[2020-04-27 14:14] zhongqingyang commented on #18173
我现在解决了预处理图片部分，模型已经可以正确的识别目标。但是我想知道NDArray在多线程下是否安全。还有C++API为什么会占用那么多显存。

[2020-04-27 18:23] leezu commented on #18172
@austinmw could you link any related bug report on the jupyterlab side?

[2020-04-27 18:35] leezu opened #18175 "CI: Perl test hang after segfault in t/test_multi_device_exec.t"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/1880/pipeline/373

[2020-04-27 18:38] leezu opened #18176 "CI: Failure during Windows Build still passes build stage pipeline"
[code]

but Jenkins stage still passes.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-18169/3/pipeline/39

[2020-04-27 20:47] eric-haibin-lin opened #18180 "cannot build mxnet"
## Description
[code]

### Error Message
[code]

[2020-04-27 20:48] #18180 closed

[2020-04-27 21:09] leezu commented on #18180
`apt install docker-compose` will update doc

[2020-04-27 23:40] ys2843 commented on #14583
@aaronmarkham This bug is still reproducible on new website, can I work on this?

[2020-04-28 01:12] #18176 closed

[2020-04-28 02:18] vexilligera commented on #18154
https://github.com/apache/incubator-mxnet/pull/18181

[2020-04-28 03:03] lilongyue commented on #18173
NDArray is thread safe . If you really care about the memory i suggest using symbols instead of NDArray.
Symbols use memory optimizations .

[2020-04-28 03:07] zhongqingyang commented on #18173
非常感谢您的回复，那么使用C++预测一个模型使用3g的显存是否是正常的呢

[2020-04-28 05:09] leezu commented on #18031
This was due to temporary use of outdated `awscli` on the AMI used by the docker cache job. Fixed ~2 weeks ago.

[2020-04-28 05:09] #18031 closed

[2020-04-28 05:10] leezu commented on #18034
Ping @bgawrych @pengzhao-intel

Let's try to fix this and reenable the tests. Thanks for your help

[2020-04-28 05:42] yzhliu commented on #18036
fixed by #18157

[2020-04-28 05:42] #18036 closed

[2020-04-28 05:58] szha opened #18184 "Flaky Incorrect Results test_numpy_op.py:: test_np_linalg_slogdet"
## Description
slogdet seems to produce wrong results on windows in a flaky way even with `rtol=atol=1e-1`.

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-18146/runs/21/nodes/109/steps/155/log/?start=0

## What have you tried to solve it?

1. added retry

[2020-04-28 06:10] ys2843 commented on #16059
Can I help with this issue? @aaronmarkham

[2020-04-28 15:10] access2rohit commented on #17960
@szhengac  In order to ensure BERT performance is not degraded I am trying to benchmark BERT with Large Tensor Support(LTS) with improved broadcast_axis(was slowing down BERT training by 11%). Which branch on MXNet shall I use to benchmark BERT then?

[2020-04-28 15:14] ChaiBapchya commented on #17886
Duplicate of #17840

[2020-04-28 15:28] ChaiBapchya commented on #17840
The issue persists. Upon trying unix-gpu build on G4 in CI Dev account.
http://jenkins.mxnet-ci-dev.amazon-ml.com/blue/organizations/jenkins/mxnet-validation-bapac%2Funix-gpu/detail/update_gpu_toolchain/8/pipeline/414

all 3 failed tests fail in a similar fashion
they fail at 9 tests with the following error
[code]
9 functions [all 3 have same 9 functions]
[code]

[2020-04-28 15:30] leezu commented on #17960
@sxjscience please give @access2rohit access

[2020-04-28 15:33] szha commented on #17960
@leezu I don't think Rohit meant for the numpy version.

@access2rohit I think you will need to first test for 1.6/1.7 which is what GluonNLP 0.9 depends on.

[2020-04-28 15:34] leezu commented on #18034
Thanks @bgawrych

[2020-04-28 15:34] #18034 closed

[2020-04-28 15:35] sxjscience commented on #17960
I'll add @access2rohit to numpy repo and we can have a test also.

[2020-04-28 15:37] #18154 closed

[2020-04-28 15:44] access2rohit commented on #17960
Makes sense ... I will test this first. But the changes are to be merged in master.
@szha for making LTS as default in master do I need to test it with 2.0 too?

[2020-04-28 17:33] lanking520 commented on #17783
@szha For option 4, I would recommend to consume the JNA layer as a submodule from DJL. I am not sure if this is recommendation serves as "add a dependency in mxnet".

There are two key reason that support for that:

1. DJL moves really fast and we can quickly change the JNA layer whenever in need. Comparing to the merging speed in MXNet.

2. Consume as a submodule means MXNet community don't have

[2020-04-28 17:45] szhengac commented on #17960
I think you will only train the model for some steps. In order to test
gluonnlp with mxnet master, you have to change the default optimizer in the
training script to others that have been included the mxnet master such as
lamb or Adam. Then I think you can run the pretraining script or fine
tuning script with mxnet master.

On Tue, 28 Apr 2020 at 08:11, Rohit Kumar Srivastava <
notifications@githu

[2020-04-28 18:35] ptrendx commented on #18170
Are you sure you have a clean build environment? When developing that PR I did see that there are some problems with dependency tracking for some of the files touched by it (not caused by the PR) and I had to do a clean build to see all the changes made. Maybe it is a manifestation of the same problem?

[2020-04-28 19:16] szha commented on #17783
@lanking520 would it create circular dependency? and how stable is the JNA and what changes are expected? it would be great if you could share a pointer on the JNA code to help clarify these concerns.

[2020-04-28 19:34] lanking520 commented on #17783
There is no code for JNA, everything is generated. It ensure the general standard and minimum layer in C to avoid error and mistakes.

About JNA, you can find more information here: [jnarator](https://github.com/awslabs/djl/tree/master/mxnet/jnarator). We build an entire project for the jna generation pipeline. All we need is a header file from MXNet to build everything. The dependency required by

[2020-04-28 19:42] szha commented on #17783
My understanding is that DJL depends on MXNet, so if you want to bring JNA from DJL into MXNet, it will create circular dependency as a 3rdparty module. In terms of stability, I was referring to the development of code base rather than the performance.

[2020-04-28 20:58] rioadhii commented on #17003
Sir, can you share the steps to build MXnet with Blas + CPP_Package on Windows 10 and Visual Studio 2017, it seems the tutorial on the official page doesn't work for me.

Thank you in advance

[2020-04-28 21:03] szha commented on #18101
another occurrence: http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/PR-18146/runs/24/nodes/146/steps/265/log/?start=0

added 5 retries

[2020-04-28 22:38] josephevans commented on #17802
Activated the staggered build pipelines on 4/27.

[2020-04-28 22:46] sandeep-krishnamurthy commented on #17802
Thanks @josephevans :-)

[2020-04-28 22:46] #17802 closed

[2020-04-28 22:49] leezu commented on #17003
Recommend you use VS 2019

[2020-04-29 03:32] chinakook commented on #18170
I'll try again.

[2020-04-29 04:32] szha commented on #15647
Let's track segmentation fault issues in #17043

[2020-04-29 04:32] #15647 closed

[2020-04-29 04:33] szha commented on #17043
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-gpu/branches/PR-18146/runs/26/nodes/78/steps/127/log/?start=0
[code]

[2020-04-29 05:01] szha commented on #17043
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-18146/runs/26/nodes/414/steps/462/log/?start=0

[code]

[2020-04-29 07:11] apeforest commented on #17960
@access2rohit Turing int64 compiler flag on is a part of mxnet 2.0 project not mxnet 1.x. I think we should focus on testing the performance impact by training a few steps as @szhengac suggested. Thanks.

[2020-04-29 08:38] liupengkd opened #18190 "mxnet"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2020-04-29 09:04] liupengkd opened #18191 "mxnet to onnx"
## Description
<img width="276" alt="image" src="https://user-images.githubusercontent.com/15835439/80578129-9cb40080-8a3a-11ea-8420-05506640fe07.png">
<img width="173" alt="image" src="https://user-images.githubusercontent.com/15835439/80578211-b35a5780-8a3a-11ea-96bf-91648b25f4c4.png">
I want to convert my mxnet (detection) model to onnx model, but the conversion interface provided by mxnet does

[2020-04-29 09:36] Michael-Purtill opened #18192 "Allocating MXNet ndarry to gpu causes jupyter to stall?"
## Description
On my Nvidia GTX 1050 with CUDA 10, attempting to allocate an ndarry on the gpu causes the cell to stall indefinitely. On the other hand, I can allocate memory on the GPU from pytorch so this seems to be MXNet-specific.

The statement I'm attempting to run:

x = nd.ones((3,4), ctx=mx.gpu())
x

[2020-04-29 13:13] rioadhii commented on #17003
I am having trouble with the different cmakelist.txt file, and sadly, it is not according to the tutorial

[2020-04-29 13:27] deepakkumar1984 commented on #16864
Can this feature https://github.com/apache/incubator-mxnet/issues/17940 be considered?

Regards,
Deepak

[2020-04-29 16:00] sxjscience opened #18193 "[Bug][Numpy] Very basic functionality of Gluon is broken"
After https://github.com/apache/incubator-mxnet/pull/17283, the following very basic example of gluon is broken:

[code]

[code]

[2020-04-29 16:01] sxjscience commented on #18193
@yzhliu @JiangZhaoh @szha

[2020-04-29 17:52] MoisesHer commented on #17713
We have investigated this issue and we found a bug in CUDA 10.0 compiler affecting only code generated for NVIDIA Turing architecture, i.e. SM_75.
NVIDIA compiler team confirmed this bug was fixed in CUDA 10.1 compiler (and beyond).

We suggest to remove SM_75 architecture when building Mxnet using CUDA Toolkit 10.0, but keeping SM_70 architecture. Note that code generated for SM_70 architecture i

[2020-04-29 18:48] leezu commented on #18120
@TaoLv agree https://github.com/apache/incubator-mxnet/pull/16857 is wrong. Now we only copy the headers on OSX platform which doesn't make any sense

[2020-04-29 18:50] leezu commented on #18120
I think @mseth10 will fix it as part of his work on fixing CD

[2020-04-29 18:56] leezu commented on #17713
@MoisesHer thanks for investigating the issue. Could you adapt https://github.com/apache/incubator-mxnet/blob/master/config/distribution/linux_cu100.cmake#L36 accordingly and add a comment inline?

[2020-04-29 19:03] leezu commented on #17003
The tutorial may need to be updated. You can also refer to the script used on the CI: https://github.com/apache/incubator-mxnet/blob/master/ci/build_windows.py#L153

[2020-04-29 19:07] leezu commented on #18192
Which version of jupyter, which version of mxnet?

[2020-04-29 19:12] anko-intel commented on #17971
Hi @djaym7
I reproduced the issue locally on Skylake-X i9-7920X. But I am not sure if I observed the same issue. Could you run following python scripts on your environment and upload the results?
[test_dot_issue.py.txt](https://github.com/apache/incubator-mxnet/files/4553919/test_dot_issue.py.txt)
[test_dot_issue_logs.py.txt](https://github.com/apache/incubator-mxnet/files/4553920/test_dot_issue_l

[2020-04-29 20:26] access2rohit commented on #17960
@szhengac I changed the line
[code]
to
[code]
I still the the follwoing error:
[code]

[2020-04-29 20:29] szhengac commented on #17960
Your gluonnlp version has another lamb implementation that tries to
override the lamb in mxnet master. So you need to either manually remove
the gluonnlp.optimizer.lamb or use version 0.9x

On Wed, 29 Apr 2020 at 13:26, Rohit Kumar Srivastava <
notifications@github.com> wrote:

[2020-04-29 20:38] #18190 closed

[2020-04-29 21:42] hasanmainul opened #18196 "Building from source on Ubuntu for gpu environment"
## Description
I tried building from source for a while now. Followed the official [link](https://mxnet.apache.org/get_started/ubuntu_setup) for building on Ubuntu. I wanted to experiment with GPU setup. My instance has two Tesla P100 in it.
used `cp config/linux_gpu.cmake config.cmake` instruction

### Error Message
[code]
## To Reproduce
Just followed the instruction from the building page.

`cm

[2020-04-29 21:55] leezu commented on #18196
You need c++17 compiler for compiling latest master version. Doc will be updated by https://github.com/apache/incubator-mxnet/pull/18161/

[2020-04-29 22:29] szha commented on #15925
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-18146/runs/30/nodes/108/steps/154/log/?start=0

[2020-04-29 22:31] yzhliu commented on #18193
Assignee: @JiangZhaoh

[2020-04-29 22:31] szha commented on #18184
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-18146/runs/30/nodes/109/steps/155/log/?start=0

[2020-04-29 22:58] yzhliu commented on #18102
Assignee: @hanke580

[2020-04-29 23:01] yzhliu commented on #18084
Assignee: @BenjaminCHEN2016

[2020-04-29 23:02] #18196 closed

[2020-04-29 23:03] yzhliu commented on #18068
Assignee: @CassiniXu

[2020-04-29 23:04] #17886 closed

[2020-04-29 23:04] leezu commented on #17840
Reproducer
Compile MXNet with USE_TVMOP=1.
[code]

[2020-04-29 23:28] yzhliu commented on #17179
Closed by #17249

[2020-04-29 23:28] #17179 closed

[2020-04-29 23:41] yzhliu commented on #16991
For the first first issue, I think it is intended as we try to make deep learning the first class. We will provide a global default dtype setting to switch the behavior.

[2020-04-29 23:54] yzhliu commented on #16527
@pedro-abundio-wang do you still have this issue using nightly build? if not can we close?

[2020-04-29 23:55] JiangZhaoh commented on #18193
Sorry for that. I'll fix it as soon as possible.

[2020-04-30 00:04] szha commented on #18193
which tests were supposed to catch this issue?

[2020-04-30 00:05] yzhliu commented on #16655
Assignee: @JinboCi

[2020-04-30 00:07] sxjscience commented on #18193
@szha For example, https://github.com/apache/incubator-mxnet/blob/73d1b055d04a0f0f511a9cc2dd46ae2eb03a8628/tests/python/unittest/test_numpy_gluon.py#L382-L411 I think there are tests in `test_numpy_gluon.py` that will capture this. Let me confirm.

[2020-04-30 00:11] #15933 closed

[2020-04-30 00:17] yzhliu commented on #18060
We'll have an global default dtype switch, and it will be set to float32 if not changed by user.

[2020-04-30 00:24] yzhliu commented on #16910
Close as it is expected and has been resolved in np interface

[2020-04-30 00:24] #16910 closed

[2020-04-30 00:50] JiangZhaoh commented on #18193
That's my issue. In order to not effect original tests, I didn't change the decorator "use_np", which still use `return use_np_shape(use_np_array(func))`. But in npx.set_np() I default flag `dtype` as `True` and then `set_np_default_dtype(dtype)`.
Details in /mxnet/python/mxnet/util.py

[2020-04-30 00:52] sxjscience commented on #18193
OK, so this is not related to CI.

[2020-04-30 00:55] ciyongch commented on #16864
Hi @deepakkumar1984, it's a great feature for MXNet extension, but given the release process (1.7.0 is code freeze now, which means no more new feature will be included in this release) and besides this feature is still under development, I do suggest to make it mature and push it to the next release (like 1.8.0 if there's a plan, or probably [2.0](https://github.com/apache/incubator-mxnet/issues/

[2020-04-30 01:04] deepakkumar1984 commented on #16864
Thanks a lot for your suggestion. I will work on the completeness of the
library and then request again in next release.

Cheers!
Deepak

On Thu, Apr 30, 2020 at 10:25 AM ciyong <notifications@github.com> wrote:

--
Regards,
Deepak

[2020-04-30 02:37] JiangZhaoh commented on #18193
I have found the reason. It because `set_np()` only change the mxnet.numpy functions to default dtype as float64, but doesn't effect mxnet.ndarray functions which still default float32.
The issue mentioned above just like this code:
[code]
So, I think I'd better not to set `dtype=True` flag in `npx.set_np()`, seperate this flag along in a single function `npx.set_numpy_default_dtype()` instead. Or

[2020-04-30 03:14] szha commented on #15925
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-18146/runs/33/nodes/109/steps/155/log/?start=0

[2020-04-30 03:17] sxjscience commented on #18193
I think one of the root cause is that gluon optimizer and initializer are still using the legacy NDArray. We should fix that.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: JiangZhaoh <notifications@github.com>
Sent: Wednesday, April 29, 2020 7:37:14 PM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Auth

[2020-04-30 03:20] szha commented on #16208
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-18146/runs/33/nodes/417/steps/529/log/?start=0

[code]

[2020-04-30 03:22] xidulu opened #18198 "with_seed() broken when running GPU unit test"
## Description

Ran GPU unit tests
`DMLC_LOG_STACK_TRACE_DEPTH=10 MXNET_MODULE_SEED=781106105 MXNET_ENGINE_TYPE=NaiveEngine pytest tests/python/gpu/test_operator_gpu.py`

### Error Message
[code]

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran

[2020-04-30 03:44] haojin2 commented on #18198
Is this possibly caused by #18025? @szha @leezu

[2020-04-30 05:21] deepakkumar1984 commented on #16864
Hello Ciyong,

I was thinking if it could get some visibility to help getting some dev and
test contribution, If its possible to mention about this library somewhere
in MxNet site, it will be very very helpful. I can come up with the
content, the current status of the API Development is as follows:

MxNet Core: 90% Dev completed (Working on examples and documentation)
Keras-MxNet: 40% Dev complete

[2020-04-30 06:01] yzhliu commented on #18117
@Tommliu is working on this.

[2020-04-30 06:02] yzhliu commented on #16653
@Tommliu is working on this.

[2020-04-30 06:02] yzhliu commented on #16964
@Tommliu is working on this.

[2020-04-30 09:44] ciyongch commented on #16864
@deepakkumar1984 that sounds great! A RFC or updates on `dev@mxnet.apache.org` could be helpful to get more visibility as well as suggestions from community :)

[2020-04-30 17:24] yzhliu commented on #17139
fixed by #18199

[2020-04-30 17:24] #17139 closed

[2020-04-30 19:09] ys2843 commented on #16254
On which pages do we need anchors?

[2020-04-30 20:55] leezu opened #18208 "CI: Expose core dumps for segfaults happened during CI run"
Some CI runs may fail due to segfault. Contributors may have difficulty reproducing the segfault locally.
Suggested solution: Preserve the coredump of the segfault, make it accessible and provide easy way to load the coredump in gdb in the container which was used when the segfault occurred.

[2020-04-30 21:02] brian-mann-math opened #18209 "BatchNorm backward(train_mode=False) incorrect behavior on context mx.gpu()"
## Description
When training DeepDream style CNN visualizations using VGG16_bn, I noticed that the results did not seem correct compared to PyTorch. Running an apples-to-apples comparison, I discovered that the problem does not exist for pretrained CNNs without BatchNorm.

Furthermore, after some experimenting with train and predict mode, I have narrowed the problem to a bug in nn.BatchNorm .backw

[2020-04-30 21:12] leezu commented on #15925
@ChaiBapchya does this issue still occur on dev environment with updated AMI (in particular with updated drivers)

Given the issue in https://github.com/apache/incubator-mxnet/issues/17713 was due to a bug in cuda, it appears possible that this issue may be due to a bug in the driver..

CC @zhreshold

[2020-04-30 21:14] szha commented on #16776
still occurs. http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-18146/runs/36/nodes/416/steps/481/log/?start=0

added retry

[2020-04-30 22:09] leezu opened #18210 "CI: OS X jobs canceled"
Github Actions OS X CI recently suffers from timeout & cancellation.

Let's collect the logs on when the job was cancelled to see if it's due to hanging issue.

[code]

[2020-04-30 22:23] ys2843 commented on #16231
I will work on this issue

[2020-04-30 22:24] Neutron3529 commented on #10567
+1
2 years has past..

[2020-04-30 22:37] leezu commented on #10567
May be fixed as part of cudnn 8 integration? https://docs.nvidia.com/deeplearning/sdk/cudnn-api/index.html

cc @DickJC123

[2020-05-01 00:15] leezu commented on #17840
Has been disabled on CI: https://github.com/apache/incubator-mxnet/pull/18204

Let's track fixing TVMOp in this issue?

[2020-05-01 03:10] leezu commented on #18184
Some more failures

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-18202/runs/2/nodes/109/steps/155/log/?start=0

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-18202/runs/3/nodes/109/steps/155/log/?start=0

[2020-05-01 04:11] leezu opened #18213 "Cannot concatenate boolean numpy arrays"
## Description
`mx.np.concatenate([mx.np.zeros((1,), dtype='bool')])` is broken.

### Error Message
[code]

cc @yzhliu

[2020-05-01 04:18] leezu commented on #18213
Related https://github.com/apache/incubator-mxnet/issues/16650

[2020-05-01 04:27] leezu commented on #18198
Yes, it's very likely

[2020-05-01 04:37] leezu commented on #17935
@vexilligera did you test if the error also occurs on more recent versions of thrust? I suggest we try installing thrust 1.9.8 version on Windows CI, which is the version that'll be shipped with Cuda 11

We do that on Ubuntu CI already

https://github.com/apache/incubator-mxnet/blob/76fa58373636c57fee1e4e6cd7960723b39f455f/ci/docker/Dockerfile.build.ubuntu#L144-L150

[2020-05-01 08:19] moured opened #18214 "GlueonCv Faster R-CNN models to .Onnx"
## Description
I am trying to export pretrained GlueonCv Faster R-CNN models to onnx format but I am facing a problem.

### Error Message
**No conversion function registered for op type UpSampling yet.**

## To Reproduce
net = model_zoo.get_model('faster_rcnn_fpn_resnet50_v1b_coco', pretrained=True)

net.hybridize()  # To generate .params and .json
box_ids, scores, bboxes = net(x)
net.export("FRCN

[2020-05-01 09:50] hassonofer opened #18215 "ONNX export of global pool"
## Description
Global pool that is defined without kernel, like:
[code]

Cannot be exported to ONNX, even though the kernel is not used when global is True.
This can be seen at `mxnet/contrib/onnx/mx2onnx/_op_translations.py`

`kernel = eval(attrs["kernel"])` is done at the beginning, while only if global is False it is being used.

### Error Message
[code]

## Environment
Python 3.7
Linux x64
MXN

[2020-05-01 16:29] ChaiBapchya commented on #15925
Hasn't occurred so far [15 tests on commits merged into master for unix-gpu pipeline]
Will keep monitoring & get back.

[2020-05-01 16:31] Manideep08 commented on #5551
I am also facing the same issue and my configuration is same

[2020-05-01 17:34] leezu opened #18216 "Windows fatal exception: access violation"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-18202/7/pipeline

[2020-05-01 17:39] access2rohit commented on #18210
https://github.com/apache/incubator-mxnet/pull/18168/checks?check_run_id=635874598
[code]

[2020-05-01 17:44] yzhliu opened #18217 "[Doc] Numpy OP API document is missing on the website"
https://mxnet.apache.org/api/python/docs/api/index.html

[2020-05-01 17:51] leezu commented on #17935
There is another suggested fix at https://github.com/pytorch/pytorch/issues/25393#issuecomment-619547577

cc @vexilligera

[2020-05-01 17:59] ChaiBapchya commented on #18210
@leezu How do u retrigger OSX jobs anyway?

[2020-05-01 18:00] leezu commented on #18210
Currently only committers can. Could you help fix that? (Though I don't know how)

Essentially committers see a restart button where the cancel workflow button is located in this picture

![image](https://user-images.githubusercontent.com/946903/80828885-e87dbb80-8b9a-11ea-84c6-8f100d970684.png)

[2020-05-01 18:05] ptrendx commented on #15533
Additional point here is that both TF and pyTorch use that proposed SGD logic, different than MXNet.

I am looking into making that change, I'm not sure if we need to be concerned about the backward compatibility for 2.0.

FYI @shengac since you did a legwork for refactoring optimizers for  2.0, @zhreshold and @eric-haibin-lin  for GluonCV and GluonNLP visibility.

[2020-05-01 18:35] zhreshold commented on #15533
I also agree that the compatibility of such change is not forced in the upcoming 2.0, and it's extremely rare that you would save/load the states using different mxnet versions.

[2020-05-01 19:56] szhengac commented on #15533
Putting lr inside the momentum is how Momentum SGD or NAG looks like originally. But putting it outside momentum may be more robust to large batch training in warmup stage.

[2020-05-01 21:10] szha commented on #14980
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/PR-18146/42/pipeline#step-96-log-126

[2020-05-01 22:48] mureva opened #18221 "C++, custom loss and network output?"
I'm a little lost on using a custom loss function and would appreciate some help.

I have a network which is doing some regression and have been using the MAERegressionOutput with some success.
net = CreateNetwork( ... )
lossNet = MAERegressionOutput( "maeLoss", net, idealResult );

When I use MAERegressionOutput things are fairly simple, we just do
1) bind:   auto *exec = lossNet.SimpleBind(ctx,

[2020-05-02 00:11] leezu commented on #15856
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/master/runs/1928/nodes/349/steps/510/log/?start=0

[2020-05-02 03:11] access2rohit commented on #17331
[new_bert_train.log](https://github.com/apache/incubator-mxnet/files/4567005/new_bert_train.log)
[new_lt_bert_train.log](https://github.com/apache/incubator-mxnet/files/4567006/new_lt_bert_train.log)
[master_bert_train.log](https://github.com/apache/incubator-mxnet/files/4567007/master_bert_train.log)
[master_lt_bert_train.log](https://github.com/apache/incubator-mxnet/files/4567008/master_lt_bert

[2020-05-02 04:08] access2rohit commented on #17331
@szha @eric-haibin-lin @apeforest

With current master and new broadcast_axis changes on p3.16xl single GPU training run.

Bert Run Command:
[code]

Results:

| Code Version | throughput (samples/sec) |  |      | total time                                |
|--------------|------------|---------------|--------|-------------------------------------------|
|              | avg        | p50

[2020-05-02 13:07] flygragon commented on #17633
Is there the same bug with release version on windows？ I encountered the same problem when building debug library on windows.

[2020-05-02 18:18] ChaiBapchya commented on #18210
Another instance : https://github.com/apache/incubator-mxnet/pull/18220/checks?check_run_id=638466152

[2020-05-03 22:41] hsneto opened #18224 "DataLoader timed out"
## Description
Whenever I set num_workers > 0 in `gluon.data.DataLoader` I get timed out.

### Error Message

[code]

## To Reproduce

I'm using the mxnet docker image: **mxnet/python:nightly_gpu_cu102_mkl_py3**.

The notebook to reproduce can be find in [d2l.ai - Ch. 7.1](https://d2l.ai/chapter_convolutional-modern/alexnet.html#alexnet).

## Environment

We recommend using our script for collecti

[2020-05-04 00:06] szha opened #18225 "Gluon RNN test randomly crashes"
## Description
test_gluon_gpu.py::test_rnn_forward_backward

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-18146/runs/48/nodes/351/steps/415/log/?start=0

[2020-05-04 03:23] szhengac commented on #17554
This has been fixed in the master branch by setting `lazy_update` to `False`

[2020-05-04 04:21] HaoLiuHust opened #18227 "label data type mistake"
## Description
label is float32 in mxnet, but it is not right in some case, for example, if I have a label=25130987, but when I put it to rec file, it will be 25130988, it is totally not right

[2020-05-04 04:41] szha commented on #18175
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18146/49/pipeline/373

[2020-05-04 05:14] leezu opened #18229 "Compiling with USE_TVMOP flaky due to downloading"
[code]

Suggest to rely on system LLVM instead of downloading LLVM as part of configuration.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18226/1/pipeline

[2020-05-04 13:35] pasa13142 commented on #15553
@marcoabreu Hello, is there any guide we can follow for building mxnet on power9 ?

[2020-05-04 14:12] handoku opened #18231 "Found a cycle when BFS from node '', when trying optimize graph with tensorrt."
## Description
I was use ngc docker image mxnet-19.12. And I was trying use tensorrt to speed up gluoncv yolov3 following [Optimizing Deep Learning Computation Graphs with TensorRT](http://mxnet.incubator.apache.org/api/python/docs/tutorials/performance/backend/tensorrt/tensorrt.html).

I replaced the `resnet-18` model  with `yolo3_darknet53_coco`, but when building the tensorrt engine, the progra

[2020-05-04 16:13] ChaiBapchya commented on #14994
Unrelated PR #18206
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18206/4/pipeline/356

[2020-05-04 16:25] access2rohit commented on #14980
@szha The link shared about has flags -DMSHADOW_INT64_TENSOR_SIZE=0 which is not Large Tensor Build. Currently Large Tensor Tests are only in nightly. Is it possible that you copied a different link ?

[2020-05-04 18:31] leezu opened #18233 "CD issues"
Bringing some discussion from https://github.com/apache/incubator-mxnet/pull/18222#pullrequestreview-404567393 to a separate issue.

Main goal is to raise awareness that the current state is not optimal and partially broken. As there have been veto's on workarounds for the broken parts, let's raise awareness so that going forward the community may collaborate on improving the state more efficientl

[2020-05-04 18:46] leezu commented on #18224
Have you tried "            - Slow transform. Please increase timeout to allow slower data loading in each worker."?

[2020-05-04 18:49] larroy commented on #17633
I think this can be fixed easily by moving the definition / inserting declaration between header and cc files. I fixed the first error like that, but didn't have time to fix all. This will make the symbol present in the compilation unit so the linker can find it and the error will go away. It's simple to fix.

[2020-05-04 18:54] leezu commented on #15553
You may follow https://mxnet.apache.org/get_started/ubuntu_setup  in analogy

[2020-05-04 19:49] waytrue17 commented on #18210
Another data point: [https://github.com/apache/incubator-mxnet/pull/18161/checks](url)

Wed, 29 Apr 2020 22:21:05 GMT
[243/719] Building CXX object CMakeFiles/mxnet_static.dir/src/operator/numpy/linalg/np_solve.cc.o
Wed, 29 Apr 2020 22:21:08 GMT
[244/719] Building CXX object CMakeFiles/mxnet_static.dir/src/operator/numpy/linalg/np_tensorinv.cc.o
Wed, 29 Apr 2020 22:21:20 GMT
[245/719] Building CXX

[2020-05-04 21:28] ys2843 opened #18234 "[Website] Global Search Feature"
##  Description
MXNet website hosts not only rich and comprehensive documentations, but also many useful resources including tutorials, installation guide, APIs and blogs etc. The majority of our target users are those who are curious about MXNet and want to explore, their primary target will mostly be tutorials, FAQs, blog posts and other solution contents. But the current version of MXNet websit

[2020-05-04 22:04] apeforest opened #18235 "[Website] Gluon guide link is missing"
## Description
The following link is missing:
https://mxnet.apache.org/api/python/docs/api/tutorials/packages/gluon/index.html

## To Reproduce
From this page (https://mxnet.apache.org/api/python/docs/api/gluon/index.html), if user clicks the Gluon Guide box, it went to the above missing page.

[2020-05-04 22:14] leezu commented on #17980
Does DNNL always link to MKL by default if MKL is available on the system, just as MXNet does link to MKL in such situation?

Further, regarding the double-linking issue, https://github.com/apache/incubator-mxnet/pull/17794 should fix it.

[2020-05-04 22:18] kpuatamazon commented on #17980
DNNL has only a hidden unsupported option to link to MKL.  It will not link to MKL by default.

[2020-05-05 00:16] ys2843 commented on #18234
@mxnet-label-bot add [website]

[2020-05-05 01:25] pengzhao-intel commented on #14357
Sorry for the later response for a while. We will look into this issue now and get back soon :)

[2020-05-05 02:34] ChaiBapchya commented on #17980
@kpuatamazon Hi I was trying to benchmark using opperf for mkl [default] vs workaround
And despite ensuring mkl is installed & using export CXXFlags followed by usual cmake command, build failed with
[code]

I tried the undocumented abominable kludge option you mentioned and that worked smoothly.
[code]

Script for OpPerf : https://gist.github.com/ChaiBapchya/5f2342f75ddeb1e21f14acac665c76ad

Resu

[2020-05-05 07:03] xianglei3 opened #18241 "My dear friend, when I use the API (model. Get ﹣ input, get ﹣ feature) to have the following problems, I sincerely ask you for advice. Thank you"
mxnet.base.MXNetError: Error in operator conv0: [14:55:31] src/operator/nn/convolution.cc:152: Check failed: dshp.ndim() == 4U (1 vs. 4) : Input data should be 4D in batch-num_filter-y-x
Stack trace:
  [bt] (0) /home/xl/anaconda3/envs/test/lib/python3.5/site-packages/mxnet/libmxnet.so(+0x4b09db) [0x7fee8102a9db]
  [bt] (1) /home/xl/anaconda3/envs/test/lib/python3.5/site-packages/mxnet/libmxnet.so(

[2020-05-05 12:33] Talgin commented on #15553
Yeah, this guide helped us too.

[2020-05-05 14:12] xidulu opened #18242 "[Numpy] np.random.normal/gumbel/logistic broken after FFI update"
## Description
[code]

Also, the output shape of np.random.gumbel does not look right
[code]

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples

[2020-05-05 16:02] ys2843 commented on #18235
I will work on this issue

[2020-05-05 17:00] leezu commented on #15553
If the guide needs any extension to cover PowerPC, feel free to open a PR. Thanks

[2020-05-05 17:56] ChaiBapchya commented on #16059
Closing the issue since now the version dropdown is clean!!

[2020-05-05 17:56] #16059 closed

[2020-05-05 18:07] ChaiBapchya commented on #10402
@ys2843 has this been taken care of?

[2020-05-05 18:42] access2rohit commented on #17595
@vpirogov great news! Once this is added to MXNet we can resolve this issue :)

[2020-05-05 19:01] apeforest commented on #18235
Thanks!

[2020-05-05 20:42] ChaiBapchya commented on #16600
Connection timeout. Unrelated PR : #18206
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18206/6/pipeline
[code]

[2020-05-05 22:05] szha opened #18244 "unix-cpu MKL/MKL-DNN Test Time"
# Description
Since #18146 we introduced parallel testing in CI with the hope of reducing test time. However, during that effort we noticed that the MKL and MKLDNN tests run slower than the setting without MKL or MKLDNN. This issue summarizes the set up and current time difference.

## Setup
The results in this issue come from [this CI run](http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/

[2020-05-05 22:06] szha commented on #18244
cc @TaoLv @PatricZhao

[2020-05-05 22:34] sxjscience commented on #18227
I believe this has been there for a long time. @szha Are we planning to remove image recordio in 2.0?

[2020-05-05 23:36] szha commented on #18227
I believe we are reorganizing them (cc @zhreshold)

[2020-05-06 00:19] zhreshold commented on #18227
We are not planning to remove image recordio as it's still widely used.
For a naive fix, patching the RecordIO with label dtype is probably the easiest way.

The problem is there's no straightforward way to fix the large integer number stored as fp32 in recordio without invalidating the RecordIO files that's already created.

@szha @sxjscience Any idea?

[2020-05-06 00:27] ChaiBapchya commented on #18229
Yet another issue : unrelated PR #18206
[code]
unix-cpu
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18206/runs/7/nodes/47/log/?start=0

unix-gpu
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18206/6/pipeline

[2020-05-06 00:55] yzhliu commented on #18242
@Yiyan66 could you take a look?

[2020-05-06 01:26] pengzhao-intel commented on #18244
Thanks to raising this concern. we will take a look soon.

[2020-05-06 01:35] TaoLv commented on #18244
I notice `MXNET_MKLDNN_DEBUG` is already disabled. I suspect some of the overhead come from primitive creation as the backend is designed from real world usages where the primitives will be created and cached in the first iteration, and reused in the follows. But in unit tests, most of primitives will be created and only used once.

@szha Do you have any detailed report where we can find the test

[2020-05-06 03:40] #18003 closed

[2020-05-06 04:14] ciyongch opened #18246 "Nightly test fail with "test_large_vector.test_nn" on v1.7.x branch"
## Description
Nightly test fail with "test_large_vector.test_nn" on v1.7.x branch, please check log [here](http://jenkins.mxnet-ci.amazon-ml.com/job/NightlyTestsForBinaries/job/v1.7.x/2/execution/node/232/log/)

### Error Message
[code]
@ChaiBapchya @szha @TaoLv

[2020-05-06 05:58] apeforest commented on #17331
@access2rohit This result is a little surprising. In the earlier benchmark results provided by @JonTanS, there is a ~17% degradation in BERT training when large tensor (LT) compiler flag is turned on:

-- | -- | -- | --
bert | 38.1 | 46.7 | -18.42%

However, from your result, even without your latest speedup in broadcast_axis operator, there is very little difference with LT flag is on:

master LT

[2020-05-06 06:12] XiaotaoChen opened #18248 "Can we use horovod and kvstore for distributed training at the same time?"
I mean using kvstore for devices communication in the node,  horovod between nodes.

It's widely knows that horovod launch process per devices, and support hierarchical communication.  So the devices in the same node are independent. And SyncBN can't be used in horovod normally. So we use kvstore local/device to sync gradients acorss devices in the same node. and then sync gradients across nodes b

[2020-05-06 06:15] pasa13142 commented on #15553
@leezu @Talgin , Thanks for helping guys, It worked !

But there is little problem i got, my progress takes 1 sec on 1080ti on 64 bit intel, 1.2 sec on v100 on ppc64.

v100 on ppc should be faster than 1080ti on 64 bit. You guys have any idea ?

[2020-05-06 16:38] yzhliu commented on #18242
fixed by #18247

[2020-05-06 16:38] #18242 closed

[2020-05-06 17:46] szha commented on #18244
@TaoLv for the example link I included, you can find the log where top 50 most time consuming tests are listed for each run.

[2020-05-06 22:57] leezu commented on #18105
I'll close this as wont-fix based on above discussion on Python-side `infer_shape`

[2020-05-06 22:57] #18105 closed

[2020-05-06 23:17] #17903 closed

[2020-05-06 23:33] zhreshold opened #18253 "Multiprocessing DataLoader crashes in NaiveEngine"
## Description
Running multiprocessing dataloader crashes in NaiveEngine mode.

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

[code]

## To Reproduce
Run
[code]

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.
2.

## What have you tri

[2020-05-06 23:38] #18235 closed

[2020-05-07 00:47] djaym7 commented on #17890
Issue still exist on cu101 1.6.0 mkl

[2020-05-07 03:00] leezu opened #18254 "np.random.uniform type_code_ == kNDArrayHandle (7 vs. 11)"
`numpy.random.uniform` accepts
[code]

but mxnet crashes when passed an array_like.

[code]

[code]

[code]

If array_like is unsupported in mxnet, at least there shouldn't be a crash but rather an error message explaining the lack of support.

[2020-05-07 03:35] leezu opened #18255 "MKL_USE_STATIC_LIBS broken"
## Description
If we compile mxnet via `cmake -GNinja -DUSE_MKLDNN=0 -DMKL_USE_STATIC_LIBS=0 -DUSE_CUDA=0 ..; ninja`, running an operation that requires MKL will cause termination.

### Error Message
[code]

## To Reproduce
`python3 -c 'import mxnet as mx; print(mx.nd.square(mx.nd.random.uniform(shape=(1024,))))'`

## Discussion
The missing symbol is defined in `/opt/intel/mkl/lib/intel64/libmkl_c

[2020-05-07 04:12] zleyk22 commented on #17864
Moved to #18078 ([Numpy] Gradient of np.prod is wrong when there are zeros in the array)

[2020-05-07 04:12] #17864 closed

[2020-05-07 05:41] pengzhao-intel commented on #18255
Thanks, @leezu, our team will look into the issue and get back soon.

[2020-05-07 05:50] lilongyue opened #18256 "put more effort over 'easy to use'"
After playing with a lot of projects implemented on 'mxnet' or 'pytorch'.
the Project code length(python version) is often much shorter in Pytorch.

The main design pattern in mxnet is 'hybirdize module way'  , I feel we should put this behind the stage.
Let the user only deal with 'pythonic not symbolic' way of writing code .

maybe we  should stop and reorganize  everything ?

[2020-05-07 06:00] leezu commented on #18256
I agree that many use-cases can be covered in a simpler fashion without hybridization. One question here is if "unhybridized mxnet" may be slower than "hybridized mxnet" and only the latter competitive with pytorch. I think @sxjscience is preparing some benchmarks.

[2020-05-07 06:02] vexilligera commented on #18184
Hi, I tried to reproduce the error by running
`pytest tests/python/gpu/test_operator_gpu.py::test_np_linalg_slogdet`
for 20 times both on CPU and GPU, and didn't run into the error.

[2020-05-07 06:14] sxjscience commented on #18256
@leezu Previously, we have one benchmark by @Jerryzcn : https://github.com/apache/incubator-mxnet/issues/17335 . According to my recent coding experience with the new DeepNumpy interface of MXNet, I do recognize that the usability of Gluon HybridBlock is worse than the Module of PyTorch. When implementing some slightly more advanced networks like TransformerXL, it's easy to write a PyTorch-based v

[2020-05-07 06:42] yzhliu commented on #16357
@Yiyan66 is looking into it.

[2020-05-07 06:57] Tommliu commented on #18117
@sxjscience we will deprecate the mxnet.ndarray as we transfer to mxnet.numpy.ndarray. The compatible issue will be solved then.

[2020-05-07 06:59] pengzhao-intel commented on #17915
Fixed by 17884

[2020-05-07 06:59] #17915 closed

[2020-05-07 07:01] sxjscience commented on #18117
The parameter is a numpy array rather than a ndarray. Will we deprecate the usage of param.save()? @leezu

[2020-05-07 07:30] leezu commented on #18184
Did you try on G3 instances? The other question is why the `rtol=atol=1e-1` and not lower

[2020-05-07 07:46] pasa13142 commented on #15553
@leezu @Talgin no idea guys how can i fix this ? :(

[2020-05-07 14:32] kmfrick commented on #18057
Piggybacking on this: the pre-built library linked [here, section "Install MXNet for Python"](https://mxnet.apache.org/get_started/jetson_setup) is outdated  as JetPack 4.3 bundles CUDA 10.2 and that library is linked against CUDA 10.0 so as soon as you run any script that uses MX you get linker errors. Right now I'm building from source on my Jetson (branch v1.4.x), let me know if there is anythi

[2020-05-07 14:38] TaoLv commented on #18255
Hi @leezu, I would expect the flag `-DMKL_USE_STATIC_LIBS` should take effect only when `-DUSE_BLAS` is set to `mkl`. That means, with your command line, mkl libraries should not be linked at all.

[2020-05-07 14:49] mikeobr commented on #16173
@QueensGambit I'm a bit of a noob level understanding around the internals, but if that allows us to load and start doing inference without taking the tuning hit, then it will help us out.

Generally my team generally uses models as SymbolBlocks and load them like `
`gluon.SymbolBlock.imports(...``, so if we're able use an imported executor alongside our params and symbols, we're good.

[2020-05-07 16:01] flygragon commented on #13773
Howerver, today I encountered the same issue, and always with the same file, after a carton of the machine. I was working with Ubuntu 18.04 with 8G mem. Could some one give me a way to solve it?
Building CXX object CMakeFiles/mxnet_static.dir/src/operator/tensor/indexing_op.cc.o
c++: internal compiler error: killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appr

[2020-05-07 16:07] kohillyang commented on #13773
Please try "make -j1" instead of "make -j".

[2020-05-07 16:13] flygragon commented on #13773
I've tried to reboot the OS and make -j1,but it doesn't work. What can I do ?

[2020-05-07 16:21] kohillyang commented on #13773
is 7.3.8 your default gcc version? Or you can try downgrade your gcc and g++.

[2020-05-07 16:23] leezu commented on #18255
mkl is used if available by default.

[2020-05-07 16:37] flygragon commented on #13773
My gcc version is 7.5.0, RAM is 8G. I've tried again without graphic desktop, but it didn't work reporting the error of out of memory. I'm goting to try to downgrade the gcc version and enlarge the swap file.

[2020-05-07 17:32] access2rohit opened #18258 "Opperf fails when running for all operators (both CPU and GPU ctx)"
## Description
I ran the following command to obtain individual operator performance w/ and w/o Large Tensor Support on both CPU and GPU

[code]

### Error Message
In both contexts(CPU and GPU) I get the following error log:

[code]

## Environment

We recommend using our script for collecting the diagnositc information. Run the following command and paste the outputs below:
[code]

[code]

[2020-05-07 17:32] access2rohit commented on #18258
@ChaiBapchya ^

[2020-05-07 18:33] leezu commented on #13773
You shouldn't downgrade the GCC version. This is a compiler bug. You need to update the version to get a gcc version that has the fix for your bug...

If no version contains a fix, then you need to report a bug report at https://gcc.gnu.org/bugs/

I'll close this issue as it's unrelated to MXNet, but feel free to discuss here further.

[2020-05-07 18:33] #13773 closed

[2020-05-07 18:37] leezu commented on #18057
@kmfrick you can consider making a PR to update https://github.com/apache/incubator-mxnet/blob/master/docs/static_site/src/pages/get_started/jetson_setup.md

If you don't need MXNet 1.4 in particular, I'd rather recommend you to build 1.6, or even the per-release 1.7. It's unfortunate that above guide "hardcoded" the 1.4 version when it was written, instead of referring to the latest stable versio

[2020-05-07 18:41] leezu commented on #15553
You need to investigate and find some minimal example that shows the problem. For example, by using the benchmark scripts https://github.com/apache/incubator-mxnet/tree/master/benchmark/opperf

[2020-05-07 18:45] kmfrick commented on #18057
Yeah I'm building 1.6 now, I noticed half-way through the build that 1.4 was not the most recent release. I'll make a PR against that document when I have some time. Thank you!

[2020-05-07 21:16] leezu commented on #18117
@sxjscience being able to save a single parameter seems quite sensible. Why should we deprecate it? We may change the serialization format though

[2020-05-07 21:27] sxjscience commented on #18117
I think we should not deprecate it.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Leonard Lausen <notifications@github.com>
Sent: Thursday, May 7, 2020 2:17:13 PM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Mention <mention@noreply.github.com>
Subject: Re: [apache/incubator-mxnet] [Gluon][Numpy] Bug

[2020-05-07 23:00] ChaiBapchya commented on #18246
layer norm and batchnorm have been fixed in master by https://github.com/apache/incubator-mxnet/pull/17805

But they aren't cherry-picked in 1.7.x as of today.
Cherry-picked them now and tested locally
Verified the large tensor tests pass

[2020-05-07 23:12] access2rohit commented on #17331
@apeforest THe profiling done by @JonTanS was done long back using mxnet-1.6in november. These results are using current master branch of MXNet, bert scripts have changed too. If there are newer setting for running BERT on single node they are not available on Gluon NLP site. If @eric-haibin-lin or @szhengac can verify whether my BERT is correct or not and also provide proper tuning params to run

[2020-05-08 02:25] jaisanant0 commented on #15275
@cyrusbehr

as you mentioned i have moved the variables mxnetConfig1 mxnetConfig2  into class member but the number of threads spawned is qual to number of cores.
Any solution

[2020-05-08 02:59] ciyongch commented on #18246
Hi @ChaiBapchya , thanks for your kindly help to identify and point out the fix:)

[2020-05-08 03:39] vexilligera commented on #18184
I later reran the test on a G3 instance for 100 times with tolerance at 1e-2, still didn't get the error.

[2020-05-08 04:31] szha commented on #18184
@vexilligera just making sure that you're running it on windows. I observed that the error only happens on windows.

[2020-05-08 04:36] TaoLv commented on #18255
I cannot reproduce the issue. Pulled the latest master branch and built it with the command line as below (I dont have lapack and ninja in my system):
[code]
Try to reproduce:
[code]

openblas is linked. MKL is installed to /opt/intel/mkl, so I assume it can be found in cmake.
[code]

[2020-05-08 05:30] vexilligera commented on #18184
Of course, on G3 with Windows Server 2016.

[2020-05-08 05:54] Talgin commented on #15553
@pasa13142, we had the same problem, training was slower on power9 with Tesla V100  than on my workstation. I do not remember if they found a reason, but our server management service said that ppc was not originally made to do such things (training) :) Like they are good at calculation, maybe some kind of server operations, but they (ibms ppc) do not have much experience with GPUs.
I would also b

[2020-05-08 06:15] rrjia opened #18262 "mxnet.gluon.data.DataLoader error"
## Description
mxnet dataLoader error
I defined myself dataset, it work fine , but combine with gluon.data.dataLoader it can not work.

class MarketDataset(dataset.Dataset):
    def __init__(self, name, data_root_path, transform=None):
        self.data_dir = data_root_path
        self.name = name
        self.imgs = []
        self._transform = transform
        if self.name == "train":

[2020-05-08 07:13] ChaiBapchya commented on #18229
Another one #18261

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18261/1/pipeline

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18261/1/pipeline

@leezu
clang failed but not sure if its related to this issue
Is this 500 internal server error in google protobuf related to tvm?
http://

[2020-05-08 07:16] yzhliu commented on #16743
@BenjaminCHEN2016 will be looking into it.

[2020-05-08 08:58] Tommliu commented on #18213
working on it

[2020-05-08 09:18] BenjaminCHEN2016 commented on #16743
@sxjscience @yzhliu Are numpy array and mxnet array suppose to work together ?

[2020-05-08 09:43] flygragon commented on #13773
Thanks for your help! I've solved this problem by enlarging the swap file from 2G to 10G.

[2020-05-08 10:54] flygragon commented on #13773
I'm glad that  you're feeling free. I think there is cerntainly a bug with the gcc 7.5.0, because it
consumes almost 11GB memory when compiling a cc file of 8KB and a h file with 65KB. I hope this bug has been fixed within a higher version of gcc.

[2020-05-08 16:49] sxjscience commented on #16743
@BenjaminCHEN2016 The problem is that it's a numpy scalar and should be treated similarly as python scalars. I just checked that Jax supports the following:
[code]
Output:
[code]

[2020-05-08 17:06] szha commented on #18184
Thanks. Sounds like it's safe to re-enable the test then. Let's do that and run the CI for three times to make sure it's no longer flaky.

[2020-05-08 17:38] leezu commented on #18229
No, that's due to using Makefile build

[2020-05-08 17:42] leezu commented on #18255
@TaoLv you can reproduce it with the version of MKL installed in the CI environment: https://github.com/apache/incubator-mxnet/blob/68cb9555c4b4779aaae90e593b745270cbb59033/ci/docker/Dockerfile.build.ubuntu#L36-L61

I don't know why mkl is not detected on your system. What happens if you set `-DUSE_BLAS=mkl`?

See https://github.com/apache/incubator-mxnet/pull/17794 where the error happens on CI.

[2020-05-08 17:45] leezu commented on #18137
@acphile can you help to create a separate issue for each problem, to simplify tracking the individual issues?

[2020-05-08 20:57] cyrusbehr commented on #15275
@jaisanant0 As a sanity check, can you export those environment variables directly into your shell where you are running your program (export them before running the program). That way we can isolate the problem.

[2020-05-08 21:19] #16231 closed

[2020-05-08 21:48] jaisanant0 commented on #15275
@cyrusbehr
I did export omp_num_threads = 1 is working.
Could you please tell me how to do in shared library as required by NIST?

[2020-05-08 23:24] yzhliu commented on #18117
which means we need to change the format of the binary file, to include indicator of whether it is mx.np or not?

[2020-05-08 23:46] leezu commented on #18117
Going forward we can simply use the npy / npz formats https://numpy.org/devdocs/reference/generated/numpy.lib.format.html

[2020-05-09 03:08] acphile opened #18265 "Error reporting for operations between different gpus"
[code]
when I do plus operation for two ndarray with different gpus, it will not raise any error. However, it will raise CUDA error when accessing a's data. I think it should be more reasonable to raise error when doing operations like 'a+=b'.

[2020-05-09 03:30] yzhliu commented on #16655
fixed by #18257

[2020-05-09 03:30] #16655 closed

[2020-05-09 03:53] leezu commented on #17935
Seems to be a nvcc bug https://github.com/thrust/thrust/issues/1090#issuecomment-626080333

[2020-05-09 04:37] acphile opened #18266 "same calculation for CrossEntropy and NegativeLogLikelihood in mxnet.metric"
CrossEntropy: http://mxnet.incubator.apache.org/api/python/docs/api/metric/index.html#mxnet.metric.CrossEntropy
NegativeLogLikelihood: http://mxnet.incubator.apache.org/api/python/docs/api/metric/index.html#mxnet.metric.NegativeLogLikelihood
Currently, in mxnet.metric, the definition of CrossEntropy is actually same as the definition of NegativeLogLikelihood, which leads to a duplicate in mxnet.me

[2020-05-09 07:12] wkcn opened #18267 "[MXNet Extensions] Include `lib_api.h` in the pre-built pip package"
## Description
Thanks for the effort on the support of custom operators (PR #15760, #15921, #15886, #17034, #17194, #17241, #17486. #17516, #17569, #17585, #17885 etc.), which makes it easy to implement custom operators in seperate libraries and load them at runtime.

It need the header file [`lib_api.h`](https://github.com/apache/incubator-mxnet/blob/master/include/mxnet/lib_api.h)  to build the

[2020-05-09 09:16] ChaiBapchya commented on #18234
Thanks a lot for this feature.

Few suggestions
1. Let's get rid of the symbol at the end of each line
<img width="608" alt="Screen Shot 2020-05-09 at 2 13 40 AM" src="https://user-images.githubusercontent.com/10992635/81469620-c1c31480-919a-11ea-9668-c0d0bcb70027.png">

2. Also it only gives 5 suggestions. Is there any way of giving more suggestions & preferably a longer list [scrollable?]

[2020-05-09 15:56] TaoLv commented on #18255
@leezu, with adding `-DUSE_BLAS=mkl` to the cmake line, I can get a similar crash issue:
[code]

[2020-05-09 18:45] nickguletskii commented on #17557
Also happened here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-18269/1/pipeline

[2020-05-09 19:21] yzhliu commented on #18022
fixed by #18250

[2020-05-09 19:21] #18022 closed

[2020-05-09 19:21] yzhliu commented on #18084
fixed by #18250

[2020-05-09 19:21] #18084 closed

[2020-05-09 19:25] yzhliu commented on #17840
@JinboCi will be helping

[2020-05-10 01:54] leezu commented on #16134
Thanks to @nickguletskii CentOS CI now verifies MXNet with a different locale to prevent such issues in the future.

All the tests marked with `xfail_when_nonstandard_decimal_separator` in
https://github.com/apache/incubator-mxnet/commit/eab068bdfc1837f8610ffdd33205399913763892 are still subject to the problem and the associated operators need to be exposed via the new FFI to fix the issue.

[2020-05-10 04:06] sxjscience opened #18270 "[Numpy Extension] Add categorical sampling to npx"
We should provide an API that offers the same functionality as https://www.tensorflow.org/api_docs/python/tf/random/categorical in the numpy interface.

In fact, we have this functionality in the legacy `mx.nd` namespace, i.e.,`mx.nd.sample_multinomial`: See https://github.com/apache/incubator-mxnet/blob/eceb5f2c1c494094c1a697286f2c4560b7ca472e/src/operator/random/sample_multinomial_op.cc#L33

One

[2020-05-10 06:23] arogozhnikov opened #18271 "Support for zero-dimensional tensors is broken"
## Description
Support for zero-dimensional tensors is broken

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

[code]

## To Reproduce

It can appear in multiple different situations:
[code]
or
[code]

## Environment

[code]

[2020-05-10 22:01] rondogency commented on #18267
@wkcn Thanks for bringing this up. It would be a great improvement for custom operator usability. We can discuss more later to see if this feature could go into 2.0 release

[2020-05-11 00:34] DuinoDu commented on #12851
If your UpSampling is `bilinear`, you can convert it to deconv firstly and then convert to onnx.
I've tried this way, it worked for me.

[2020-05-11 03:52] monkjuice opened #18276 "libmxnet.dll unable to load with python 3.8 - win10"
### Error Message
....
Unable to find module  '...\site-packages\mxnet\libmxnet.dll'. Try using full constructor syntax

## To Reproduce
Install python 3.8, run `pip install mxnet-cu101`
run `import mxnet`

## What have you tried to solve it?
Installing python 3.7, it's now working

Notes:
- It is working on python 3.8 with the non-cuda version.

- Changes have been made for how dll's should be lo

[2020-05-11 05:56] eric-haibin-lin commented on #18266
i think we can remove one of them

[2020-05-11 06:48] Tommliu commented on #18254
In deepnumpy, we don't support the array_like input for np.random.uniform. It is different from the official numpy. You can refer from the docs (mx.np.random.uniform)
`----------
    low : float, ndarray, optional
        Lower boundary of the output interval.  All values generated will be
        greater than or equal to low.  The default value is 0.
    high : float, ndarray, optional
        Up

[2020-05-11 08:46] kpuatamazon commented on #17980
@ChaiBapchya to be clear, here's how I am building the second option:
[code]
Note that `cmake` does not appear to pick up on changes to the build so it needs a fresh build directory (deleting the cache might work).

[2020-05-11 09:24] david9ml opened #18278 "gluon ssd"ssd_512_resnet50_v1_custom" converted to onnx failed !"
## Description
I tried to convert gluon model(ssd_512_resnet50_v1_custom) to onnx, but failed !

### Error Message
Traceback (most recent call last):
  File "ssd_gluon.py", line 79, in <module>
    converted_model_path = onnx_mxnet.export_model(net_sym, net_params, [input_shape], np.float32, onnx_file, verbose=True)
  File "anaconda2/envs/Python3/lib/python3.6/site-packages/mxnet/contrib/onnx/mx2o

[2020-05-11 10:04] TaoLv commented on #18255
In my environment, the problem can be mitigated by pre loading the libraries. I'm trying to see if we can fix it on build or link stage.

[code]

[2020-05-11 15:51] vycezhong opened #18279 "context changed from gpu to cpu_shared with multiprocessing.Queue"
A trivial example:
[code]
Here is the output.
[code]

My question is why the context is changed?

[2020-05-11 16:21] ys2843 commented on #18234
@ChaiBapchya Thank you for the feedback. Very good suggestion. I will add it to the quip doc.

[2020-05-11 17:30] ptrendx commented on #17858
Hi @mseth10, do you think the utilities that you introduced in dynamic library loading support PR could be used for this?

[2020-05-11 17:48] allisonvacanti commented on #17935
This is indeed an nvcc bug. There is no known workaround at the moment, but the next release of the CUDA toolkit will contain a fix.

Ref thrust/thrust#1090.

[2020-05-11 17:56] leezu commented on #18254
Yes, we don't support it currently. But it shouldn't cause "termination".

When adding the error message, is it feasible to ensure that it covers all operators instead of only the uniform sampling operator? I suspect there may be more operators where the numpy support is not exact and where a similar crash may occur?

[2020-05-11 18:09] leezu commented on #18276
@yajiedesign

[2020-05-11 18:12] leezu commented on #18271
This only works in the https://github.com/apache/incubator-mxnet/issues/14253 interface, which is still opt-in but will be default in 2.0

[2020-05-11 19:09] djaym7 commented on #17971
@anko-intel here are the results
![image](https://user-images.githubusercontent.com/12378820/81601763-44f18f80-9380-11ea-92a3-49506033ebd5.png)
![image](https://user-images.githubusercontent.com/12378820/81601783-4de26100-9380-11ea-95b7-517490c7dad1.png)

[2020-05-11 19:19] ChaiBapchya commented on #16848
Failure on
- windows-gpu Python 3: GPU Win on multiple occasions
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-18186/8/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-18186/7/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindo

[2020-05-11 19:23] leezu commented on #17971
Any relation to https://github.com/apache/incubator-mxnet/issues/17980 for cpu side? Are you comparing to mkl enabled np / pytorch?

[2020-05-11 19:45] karan6181 opened #18280 "[Performance Regression] GPU memory increase for training and inference models"
## Description
- There is an MXNet nightly benchmark which runs CV and NLP models on MXNet Nightly pip wheel and report the metrics and it showed a performance regression on GPU Memory.
- After bisecting the PRs, the PR due to which there is an increase in GPU memory of 120-130 MB happen is [17767](https://github.com/apache/incubator-mxnet/pull/17767). I ran the SSD training with and without the P

[2020-05-11 19:47] karan6181 commented on #18280
@mxnet-label-bot update [Performance]

[2020-05-11 20:52] arogozhnikov commented on #18271
@leezu tried with `mxnet.numpy.zeros([])` but also got failure.

Both hands for that proposal, BTW.

[2020-05-11 20:59] sxjscience commented on #18271
@arogozhnikov You will need to manually call `mx.npx.set_np()` to trigger the numpy semantic.

[2020-05-11 22:56] mseth10 commented on #17858
Hi @ptrendx if you need a generic dlopen for this, I'll suggest using ctypes CDLL.

[2020-05-11 23:01] ptrendx commented on #18280
Moving the details from the offline discussion.

The problem here is that when loading library containing GPU kernels, those kernels are stored in GPU memory. So the more kernels we have in MXNet library, 2 things happen:
 - the library itself gets bigger
 - the more GPU memory is used for just storage of the code.
It was exposed with PR #17767, because it touched elementwise functions, which have

[2020-05-11 23:16] ptrendx commented on #17858
But that would be just for Python then, right? I would need it to call functions from C++ and the load_lib function from your PR seems like it already handles all the differences in OSs and stuff.

[2020-05-11 23:17] leezu opened #18281 "Divergence of implementation between Windows and non-Windows"
https://github.com/apache/incubator-mxnet/blob/f00b9ab5b4410a91a8f6581da696a92f85fbccf6/src/operator/numpy/np_elemwise_broadcast_op.cu#L32-L41

Shouldn't be needed anymore as 64-bit toolchain is now required on Windows? (Added due to compiler OOM errors when 32-bit toolchain was in use)

[2020-05-11 23:27] sxjscience commented on #18280
I agree with using JIT to resolve the binary size issue. @ptrendx @karan6181 Accoding to the reproducible example, does it mean that there is a 128 MB GPU memory increase for just storing the GPU codes?

[2020-05-11 23:29] leezu commented on #16848
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-18186/10/pipeline

[2020-05-11 23:29] #18270 closed

[2020-05-11 23:31] leezu opened #18282 "test_composite_embedding_with_one_embedding"
## Description
`test_composite_embedding_with_one_embedding` fails with `TypeError: an integer is required (got type NoneType)`

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-18186/runs/8/nodes/109/steps/155/log/?start=0

[2020-05-11 23:34] #11141 closed

[2020-05-11 23:45] mseth10 commented on #17858
Sorry, I thought you were referring to the python api introduced by the PR. That has a lot of additional functionality.
We can use the c++ utility function - lib_load https://github.com/apache/incubator-mxnet/blob/9d440868603ad26b702e12ddd2587e5c4b56e42b/src/initialize.cc#L113

[2020-05-12 00:11] ChaiBapchya commented on #18246
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/v1.7.x/4/pipeline
Nightly now passes. Fixed by 17805

[2020-05-12 00:12] ptrendx commented on #18280
Yes, that is right - in total we lose 1407 MB of GPU memory just for loading the library (it is not just the kernel code being loaded, in this there is I believe ~400 MB of context, but majority is the kernel code).

[2020-05-12 00:28] djaym7 commented on #17971
np is not using mkl
![image](https://user-images.githubusercontent.com/12378820/81624835-0d98d800-93ac-11ea-954f-878f5ef597da.png)

Pytorch is using mkl
![image](https://user-images.githubusercontent.com/12378820/81625114-cc54f800-93ac-11ea-8dc8-f16c21048e0d.png)

[2020-05-12 00:48] szha commented on #17713
Testing with naive engine on this test consistently produces illegal memory access.

[2020-05-12 00:54] ciyongch commented on #18246
Close this issue as it's fixed now.

[2020-05-12 00:54] #18246 closed

[2020-05-12 00:55] leezu commented on #17713
Close as it's a cuda bug

[2020-05-12 00:55] #17713 closed

[2020-05-12 01:07] leezu commented on #18004
It's due to common expression elimination. As workaround one could set `MXNET_ELIMINATE_COMMON_EXPR=0`.

https://github.com/apache/incubator-mxnet/blob/ab4f7f6a7335e88034edcf61402aec170cdca5fd/src/executor/eliminate_common_expr_pass.cc#L59-L94

For the old FFI, `n->attrs.dict != m->attrs.dict` and the two nodes are preserved.
But in the new FFI, `n->attrs.dict == m->attrs.dict` and the `np.tril(a,

[2020-05-12 01:09] vycezhong commented on #18279
@mxnet-label-bot [Question]

[2020-05-12 01:28] leezu commented on #16134
@nickguletskii @yzhliu @szha I suspectthe issue will still persist on 2.x with the new FFI when serializing to / loading from json symbol

[2020-05-12 02:03] vycezhong commented on #18279
I found only using `Queue` will cause the problem.
[code]
Is this behavior expected?

[2020-05-12 04:04] zheng-da opened #18287 "asscalar() fails when set_np_shape(True)"
## Description
When we enable `set_np_shape(True)`, I cannot convert a scalar NDArray to python scalar with `asscalar()`. I'm using MXNet 1.6.0.

### Error Message

[code]
## To Reproduce
[code]

[2020-05-12 06:06] ChaiBapchya commented on #16848
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/master/1931/pipeline
Fails on master for centos-cpu too

[2020-05-12 06:35] pasa13142 commented on #15553
Thank you, if i find out, i'll update, but unfortunately signs are not good on ibms ppc :(

[2020-05-12 15:05] wms2537 commented on #18120
The problem seems to persist on the latest nightly builds.
I have tried the followings and the mkldnn headers are not included. This caused problems when installing horovod.

mxnet_cu101-2.0.0b20200506-py2.py3-none-manylinux2014_x86_64.whl
mxnet_cu101-2.0.0b20200508-py2.py3-none-manylinux2014_x86_64.whl

[2020-05-12 16:05] XiaotaoChen commented on #18248
according our experiments, hvd+kv(local) is equal to kv_dist. `hvd + kv` can use nccl for commication across nodes. And in `kv_dist` it will copy out gradients in gpu to cpu, then commicate with zmq across nodes, broadcast updated params from cpu to gpu. It's efficiency may lower than nccl.
### performance comparsions
it was tested with our detection model.

  | local(samples/) | kv_dist(4node) |

[2020-05-12 16:05] #18248 closed

[2020-05-12 16:41] eric-haibin-lin commented on #18120
mxnet-cu100==2.0.0b20200509 seems to work:
[code]

[2020-05-12 17:31] leezu opened #18291 "test_sequential_rnn_cells"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/detail/mxnet-cd-release-job/1105/pipeline

[2020-05-12 19:14] leezu commented on #18280
@ptrendx would your proposal be in scope for 2.0? One further advantage is that by performing compilation at runtime, we may be able to avoid libmxnet.so to become subject to the CUDA EULA which causes many issues from Apache Software Foundation perspective

[2020-05-12 19:36] ptrendx commented on #18280
@leezu That would require doing everything CUDA-related as RTC, whereas my proposal was currently limited only to portion of the kernels.

I would like to start working on this RTC approach ~now, so yes, it is definitely in scope for 2.0 :-).

[2020-05-12 19:53] ptrendx commented on #18099
The error comes from TVM actually, not pointwise fusion.

[2020-05-12 21:34] ptrendx commented on #18280
@leezu @apeforest If anybody wants to help with the build side of things for the dynamic loading of `libcuda.so` and `libnvrtc.so` (especially CMake, since I have pretty much 0 experience with it), it would be greatly appreciated.

[2020-05-12 21:54] leezu commented on #18280
On the CMake side: What else do you expect is required besides removing the declaration that libmxnet depends on libcuda and libnvrtc? It's not clear to me yet why further changes would be needed. In either case, I'm happy to help on the build side.

[2020-05-12 22:00] leezu commented on #18099
Let's reenable the test as TVMOP is now disabled on GPU builds

[2020-05-12 22:02] ptrendx commented on #18280
For the dynamic loading of libnvrtc that would be it I think, I was also thinking about something that would prevent code duplication (something like some answers to this SO question: https://stackoverflow.com/questions/410980/include-a-text-file-in-a-c-program-as-a-char), since that would require generating some files during build.

[2020-05-13 00:06] leezu opened #18293 "CD: Missing openblas"
After enabling cmake staticbuild for CD in https://github.com/apache/incubator-mxnet/commit/c329a524c520ec2b41aa4bff5ee113ff7221b790, `E   OSError: libopenblas.so.0: cannot open shared object file: No such file or directory` https://github.com/leezu/gluon-nlp/runs/669008929?check_suite_focus=true

Need to change the staticbuild script to staticlink openblas or include the library.

[2020-05-13 00:48] zhreshold commented on #17269
closed by #17841

[2020-05-13 00:48] #17269 closed

[2020-05-13 00:51] zhreshold commented on #13945
It's fixed by overriding pickling behavior of RecordIO files without bothering the mutex. I am cloing this now. Please ping me if the problem persists

[2020-05-13 00:51] leezu opened #18294 "Perl: terminate called after throwing an instance of 'std::length_error'"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18290/runs/1/nodes/371/steps/675/log/?start=0

[2020-05-13 00:55] zhreshold commented on #17490
It's most likely due to race condition in preparing/reading the recordio files. Make the unittest serial can fix this issue. Actually the error disappears after changing nose to pytest.

Closing this for now, please ping me if the error persists

[2020-05-13 00:55] #17490 closed

[2020-05-13 01:07] leezu commented on #18280
I see. To run `xxd`, we can use https://cmake.org/cmake/help/latest/command/add_custom_command.html and add the `OUTPUT` files to the set of source files that cmake compiles for the `libmxnet` target.

[2020-05-13 01:38] #18015 closed

[2020-05-13 03:56] TriLoo opened #18295 "/usr/lib64/libc.so.6 cause a mxnet segmentation."
## Description
when using **cpp-package** to do inference, a `dmlc::Error` arose.

### Error Message
the output of `bt` in gdb:

[code]

## To Reproduce

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. download the mxnet, commit head: de510582438ad5fad576eba1b85c845b0ba9989c
2. build it with the cmake, and mkl, mkldnn enabled
3. run an own cpp inference code, then

[2020-05-13 05:39] XiaotaoChen opened #18296 "discussion about implementing SyncBN with nccl instead of shared cpu memory"
Refer to  the `mx.sym.contrib.SyncBatchNorm` implementation, I'm trying to implement `SyncBN` with nccl.

here are two solutions:

1. holding `ncclComm handle` for each tensor,  such as `bn0_mean, bn0_var, bn0_grad, bn0_prod, bn1...`,  each tensor has their own commication handle.
2. holding a global `ncclComm handle`, all tensor commicate with this handle.

here is my draft implementation for abo

[2020-05-13 06:09] szha commented on #18287
@zheng-da I verified that this bug is already fixed on master. Do you require this in 1.7?

[2020-05-13 06:20] zheng-da commented on #18287
yes, we'll wait for mxnet 1.7 release. i'll close the PR.

[2020-05-13 06:38] wms2537 commented on #18120
It doesn't work for me. Is there anything to run or install other than pip3 install --pre mxnet-cu102 -f https://dist.mxnet.io/python/cu102 ?

[2020-05-13 06:52] szha commented on #18287
@zheng-da reopening as I verified that this bug still persists in 1.7. cc @ciyongch

[2020-05-13 06:55] szha commented on #18287
The fix seems to be in https://github.com/apache/incubator-mxnet/pull/17672

[2020-05-13 07:40] ciyongch commented on #18287
Thanks @szha for tagging me, I just tried with https://github.com/apache/incubator-mxnet/pull/17672  on 1.7.x branch, then the issue is gone. I will ping the author to help back-porting the PR to v1.7.x.

[2020-05-13 07:41] acphile opened #18297 "different dtype when calculating division compared with numpy"
For example:
in mxnet.numpy
&nbsp;&nbsp; for two ndarray a,b with dtype='int64', the dtype of result c = a  / b is 'float32'
in numpy
&nbsp;&nbsp; the dtype is 'float64'
Generally, when calculating division, mxnet.numpy often uses float32 while numpy uses float64.
Using float32 will often lead to the loss of floating point precision.
[code]

[2020-05-13 07:45] nickguletskii opened #18298 "[v1.x] CI pipeline for NVIDIA Jetson fails with "unsupported GNU version""
## Description

The CI pipeline for NVIDIA Jetson uses the following container:  https://hub.docker.com/r/dockcross/linux-arm64/
It was recently updated to use GCC 8:
https://github.com/dockcross/dockcross/commit/37c54a369441edbe98ef65a026d8704574cf086d

However, CUDA 9 doesn't support GCC versions above 6, so the CI pipelines are currently failing with the following message:

### Error Message

[

[2020-05-13 07:46] acphile opened #18299 "Fail to use "==" operation between different types"
for example
[code]
it will raise Error:
[code]
But numpy supports "==" operation between different types

[2020-05-13 07:48] acphile opened #18300 "Fail to use mxnet.numpy.prod(a.shape)"
[code]
while numpy supports that.

[2020-05-13 07:56] acphile opened #18301 "mxnet.numpy.ndarray.diagonal() is not supported"
Currently:
AttributeError: 'ndarray' object has no attribute 'diagonal'
which is supported in numpy

[2020-05-13 07:57] acphile commented on #18137
Now they are added:
https://github.com/apache/incubator-mxnet/issues/18297
https://github.com/apache/incubator-mxnet/issues/18299
https://github.com/apache/incubator-mxnet/issues/18300
https://github.com/apache/incubator-mxnet/issues/18301

[2020-05-13 08:29] acphile opened #18302 "Speed difference between mxnet.numpy and numpy"
For example,
[code]
we get:

numpy: 0.0141 sec
6402
mxnet.numpy: 0.2624 sec
6402

mxnet.numpy runs slower than numpy

[2020-05-13 09:05] heaseny opened #18303 "[Unit Test]test_numpy_op.py:test_np_mixed_precision_binary_funcs randomly failed due to assertion error"
## Description
test_numpy_op.py:test_np_mixed_precision_binary_funcs randomly failed due to assertion error, and can be reproduced by test seed.
Test command:
cd tests/python/unittest/
MXNET_TEST_SEED=445183722 nosetests -v -s test_numpy_op.py:test_np_mixed_precision_binary_funcs

### Error Message
test_numpy_op.test_np_mixed_precision_binary_funcs ... [INFO] Setting test np/mx/python random seeds

[2020-05-13 13:13] sarfaty opened #18304 "Building from source with cpp-package fails due to error in OpWrapperGenerator.py"
## Description
I am trying to build MXNet with c++ API on CentOS 7.3, on a machine that i do not own, and on which i have no sudo/root privileges.
I installed all the needed dependencies (mkl, cmake, ninja, etc.), and set the relevant environment variables towards the correct paths, including gcc and g++.
I ran the two commands:
[code]

### Error Message
[code]
## Remarks
The gcc version defined i

[2020-05-13 14:38] pasa13142 commented on #15553
@Talgin hey! Which math library did you select for powerpc ? And does it work ?

[2020-05-13 15:34] XiaotaoChen commented on #18296
It seems like this error caused by the allocated temporary space' device_id can't guarante align with `OpContext`. I don't know how to apply for gpu memory on specific gpu from `mxnet.Resource`.
Can i use `cudaMalloc` and `cudaSetDevice` to apply for gpu memory in mxnet ? it seems unsafe.

[2020-05-13 16:31] sxjscience commented on #18302
This is partially due to the overheads: https://github.com/apache/incubator-mxnet/issues/17097

[2020-05-13 16:36] sxjscience commented on #18297
This is to cope with the DL scenario. The default dtype in DeepNumpy is float32. See also https://github.com/apache/incubator-mxnet/issues/18060 and the current PR: https://github.com/apache/incubator-mxnet/pull/18251

[2020-05-13 16:40] #18271 closed

[2020-05-13 16:41] sxjscience commented on #18271
@arogozhnikov I’ll close it for now because I think adding “mx.npx.set_np()” will solve the issue. Feel free to reopen it.

[2020-05-13 17:14] leezu commented on #18298
It should be fine to backport the docker image used on master branch

[2020-05-13 17:50] leezu commented on #18297
Any diverging behaviour with numpy should either be fixed or clearly documented in a central reference location. Let's track either solution here

[2020-05-13 17:59] leezu commented on #18304
You need to setup your environment correctly for use of gcc. The error above is due to compiling with gcc 9 but having gcc 4 on the system environment. You either need to work with your system administrator to fix the system (for example provide https://www.softwarecollections.org/en/scls/rhscl/devtoolset-8/ ) or set up your own environment in your homedir.

Specifically, the OpWrapperGenerator wi

[2020-05-13 17:59] #18304 closed

[2020-05-13 18:00] leezu commented on #18303
Thanks @heaseny . This is a duplicate of https://github.com/apache/incubator-mxnet/issues/16848

[2020-05-13 18:00] #18303 closed

[2020-05-13 18:02] leezu commented on #18295
Did you call `MXNotifyShutdown();`? cf https://github.com/apache/incubator-mxnet/commit/afb750570e71545b7b58d7374f586b21156d36d8

[2020-05-13 18:05] sxjscience commented on #18297
@leezu I suggest removing the `Bug` label because this is not a bug and won't be fixed. We could add the Document label instead.

[2020-05-13 18:11] leezu commented on #18120
I can't find the mkldnn folder in the release wheel's either. @eric-haibin-lin where did you get the build from?
It's missing in https://repo.mxnet.io/dist/python/cu100/mxnet_cu100-2.0.0b20200509-py2.py3-none-manylinux2014_x86_64.whl and https://repo.mxnet.io/dist/python/cu102/mxnet_cu102-2.0.0b20200509-py2.py3-none-manylinux2014_x86_64.whl

[2020-05-13 19:57] jastern33 opened #18305 "batch_end_callback arguments incorrect in the documentation"
## Description
On [this page](https://mxnet.apache.org/api/python/docs/api/mxnet/model/index.html) the batch_end_callback type is specified `callable(epoch)` but it should be `callable(BatchEndParam)` according to [the source.](https://mxnet.apache.org/api/python/docs/_modules/mxnet/model.html#FeedForward.fit)

This is incorrect in two instances -- under `create()` and under `fit()`.

[2020-05-13 20:02] leezu commented on #18281
In GluonNLP Windows CI, tests fail on Windows with errors like

[code]

This may be due to the diverging implementation described above, or there are more issues. @zhreshold @yzhliu

[2020-05-13 20:38] eric-haibin-lin commented on #18296
@zhanghang1989 FYI

[2020-05-13 20:45] yzhliu commented on #18078
@zleyk22 are you working on this?

[2020-05-13 21:07] zleyk22 commented on #18078
Yes, and no. I have been looking into this code, but there are many
parts of the code which are not clear for me. Therefore, I am not sure
how to fix it in a reasonable way in order not to introduce more bugs. I
was investigating how this code was written. What I saw, this code was
written by Eric Junyuan Xie in the end of 2016. I thought that going
back in time I would learn how this code was wri

[2020-05-13 23:16] #10393 closed

[2020-05-13 23:19] eric-haibin-lin commented on #18120
Actually I cannot find it now after i uninstalling mxnet and reinstall https://repo.mxnet.io/dist/python/cu100/mxnet_cu100-2.0.0b20200509-py2.py3-none-manylinux2014_x86_64.whl . Perhaps I didn't remove/cleanup the previous mxnet version correctly previously.
@TaoLv

[2020-05-13 23:21] leezu commented on #18225
[2020-05-13T06:46:07.563Z] worker 'gw3' crashed while running 'tests/python/gpu/test_gluon_gpu.py::test_rnn_forward_backward[False-True-True-layer0-True]'

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/master/runs/1959/nodes/387/steps/678/log/?start=0

[2020-05-13 23:22] leezu commented on #18225
This fails with a Segmentation fault

[2020-05-14 00:48] leezu commented on #18120
I looked at the CD pipeline and the mkldnn headers are correctly present at the time of building the wheel. The issue really is that

https://github.com/apache/incubator-mxnet/blob/47a38d1101beb5897fe30c9d04f4599cd7636731/tools/pip/setup.py#L152-L154

only runs if the variant is named `"*mkl"` but now we don't use this mkl naming scheme anymore.

I'll open a PR to fix the setup.py script.

[2020-05-14 05:29] ciyongch commented on #15547
Hi @ptrendx , I'm reaching you to check if ONNX-TensorRT (v7.0) is still targeting in 1.7.0 release or not? The license concern would be still there with current code base, right? Thanks!

[2020-05-14 05:32] leezu opened #18314 "ThreadedEngine: Segfault"
## Description
The following code shouldn't crash, but can reliably trigger segfault in ThreadedEngine. (No segfault with NaiveEngine).

[code]

cc @eric-haibin-lin

[2020-05-14 05:36] leezu commented on #18314
On 1.6 it also triggers segfault with NaiveEngine. But not on master.

[2020-05-14 06:05] leezu commented on #18314
To get the backtrace in gdb, use the example without the for loop in the end

[code]

[code]

[2020-05-14 06:48] #18099 closed

[2020-05-14 07:24] yzhliu commented on #18297
@JiangZhaoh will be helping to document.

[2020-05-14 07:24] TriLoo commented on #18295
a wrong input caused this error, and this error is fixed now. thank

[2020-05-14 07:24] #18295 closed

[2020-05-14 10:39] bhavitvyamalik commented on #17923
@JustinhoCHN what was the CUDA version of your Jetson Nano image?

[2020-05-14 13:05] JustinhoCHN commented on #17923
mine is cuda 10.0, jetpack 4.3

[2020-05-14 13:19] bhavitvyamalik commented on #17923
Do you still have the image which you used on your Jetson Nano? Nvidia keeps on updating their images regularly and I ended up with CUDA 10.2 :/

[2020-05-14 15:53] alexsisu opened #18321 "Problem when doing batch inference with fpn_resnest101."
## Description
The problem is that im trying to sent a batch of images ( > 1) to the model. But it fails with the following errr

### Error Message
[code]

## To Reproduce
Here's the link to the code and images:
https://github.com/alexsisu/different_issues/blob/master/issues_mxnet_fpnresnet/issue1.py

### Steps to reproduce
Get the above code and run it.

## What have you tried to solve it?

1. Ye

[2020-05-14 16:24] leezu opened #18322 "test_recordimage_dataset"
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-18312/runs/2/nodes/109/steps/155/log/?start=0
[code]

@zhreshold

[2020-05-14 17:39] ptrendx commented on #18280
`xxd` is Linux only I believe, so the better approach is actually to just be able to generate the file with `R"delimiter(` and `)delimiter"` around the code, which should be much easier to do cross-platform.

[2020-05-14 18:38] zhreshold commented on #18322
This is very likely caused by parallel test. See https://github.com/apache/incubator-mxnet/pull/18323

[2020-05-14 18:46] anirudh2290 commented on #18314
not sure completely what it is, but it could be that the one of the objects in garbage is a ndarray and when you call print it calls its __repr__ and asnumpy, the dependency engine tries to figure if the underlying threadedvar is present but looks like it may have been deleted. Maybe it is worth to figure that for all the objects appended to garbage which were ndarray, if delete was called on them

[2020-05-14 18:47] leezu commented on #18314
The mutex in above core dump is actually non existant. The problem here is that the ffi call to MXNDArraySyncCopyToCPU passes a handle whose Chunk was cleaned up. So the segfault is just a symptom of memory and reference management issues.

the array
[code]

and the chunk
[code]

[2020-05-14 19:01] leezu commented on #18314
I can confirm that __del__ is called on the object, but it's still kept around in Python afterwards.
In practice that may only make problems when debugging memory leaks (as is the case for how I ran into these segfaults)

[2020-05-14 19:05] anirudh2290 commented on #18314
From https://docs.python.org/3/library/gc.html#gc.garbage , "Changed in version 3.4: Following PEP 442, objects with a __del__() method don’t end up in gc.garbage anymore."

 but this statement doesnt seem to be true here.