[2020-08-20 15:38] xidulu commented on #18936
@leeyeetonn
I guess this issue should be resolved now according to https://github.com/apache/incubator-mxnet/pull/18956 (if my understand is correct) authored by @szha

[2020-08-20 16:04] szha commented on #18936
Yes, FPE should no longer abort the program now. The bug still needs to be fixed

[2020-08-20 18:13] leezu commented on #18800
@stu1130 the PR you reference updates the CI configuration to workaround a bug in NVidia CUDA. Unfortunately NVidia will not fix the bug in CUDA 10. Just backporting the PR may not help users building MXNet from source. It may be more helpful to add a paragraph to the installation docs to recommend windows users to build with CUDA 11 or to manually patch their CUDA 10 version to backport the thrus

[2020-08-20 18:15] samskalicky commented on #18800
@leezu There is a CUDA 11 update planned for 1.8. @DickJC123 is planning to do this work. Would we want #18218 anyway?

[2020-08-20 18:17] leezu commented on #18800
@samskalicky generally MXNet supports the last 2 CUDA versions, so MXNet 1.8 would support CUDA 11 and CUDA 10.2

[2020-08-20 18:23] leezu commented on #18926
Should it be reverted / fixed?

[2020-08-20 18:30] Zha0q1 commented on #18926
So according to them this was done to boost performance. They probably won't revert

[2020-08-20 18:34] stu1130 commented on #18800
@leezu @samskalicky I agree to add a doc for this, will raise the PR later. But I would prefer to include the code so user don't need to patch it manually and for DJL team we don't forget to patch it unless the patch cause another problem

[2020-08-20 18:40] samskalicky commented on #18800
Just to summarize, we're all on board with including #18218 in v1.8. Just wanted to clarify that this PR makes the CI more stable, but doesnt help users with the same problem after they install MXNet on windows since thrush is a dependency that gets installed with whatever version of CUDA a user has setup on their machine. If we can document this issue too that would be helpful, but is separate fr

[2020-08-20 18:48] leezu opened #18971 "CD: FileExistsError: [Errno 17] File exists: '/home/jenkins_slave/.local'"
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/detail/mxnet-cd-release-job/1580/pipeline/

[code]

Happened only in the cpu pipeline and not for example the native pipeline.

[2020-08-20 18:53] szha commented on #18927
See the above PR for the fix.

[2020-08-20 20:25] zhreshold commented on #18966
change `box_centers = F.broadcast_add(F.tanh(raw_box_centers)*3 +1 , offsets) * self._stride` to
[code]

[2020-08-20 22:16] ptrendx commented on #16858
Fixed by #18959. @mk-61 we should cherry-pick this fix to v1.x branch.

[2020-08-20 22:16] #16858 closed

[2020-08-20 23:03] #18460 closed

[2020-08-20 23:41] szha commented on #18933
Confirmed that this issue also happens in numpy branch. Since instance norm was using a legacy operator interface, I will refactor it to use the new operator interface and register an npx namespace alias.

[code]

[code]

[2020-08-21 00:01] #18927 closed

[2020-08-21 00:13] mseth10 commented on #18971
Today it happened in the native pipeline, and not in the cpu pipeline
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/detail/mxnet-cd-release-job/1585/pipeline

Could be due to a race condition between cpu and native runs. Needs investigating.

[2020-08-21 02:13] pengzhao-intel commented on #18931
What's plan of the validation and user tutorial?
Does the example still work?

[2020-08-21 02:15] pengzhao-intel commented on #18800
@samskalicky  what's the timeline of 1.8?

Does anyone work on update for the wiki?
https://cwiki.apache.org/confluence/display/MXNET/Project+Proposals+for+next+MXNet+Release

[2020-08-21 02:55] szha commented on #18931
I think the tutorials (in the form of markdown, shown on the website) are currently validated in the website build pipeline. Examples will be maintained in apache/incubator-mxnet-examples.

[2020-08-21 03:47] yzh119 commented on #18789
@sxjscience using the nightly build version does not work either:
[code]

[2020-08-21 03:50] sxjscience commented on #18789
Which OS are you using?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Zihao Ye <notifications@github.com>
Sent: Thursday, August 20, 2020 8:47:58 PM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Mention <mention@noreply.github.com>
Subject: Re: [apache/incubator-mxnet] [bug] Autograd throws an exceptio

[2020-08-21 04:02] sxjscience commented on #18789
I confirmed that it won't happen if you just run it inside jupyter notebook and will only happen if you save to `.py` file and run the `.py` file.

[2020-08-21 04:34] szha commented on #18789
@sxjscience sounds like a release order problem again. Will take a look

[2020-08-21 05:11] samskalicky commented on #18800
Hi @pengzhao-intel we havent set any dates for the 1.8 release yet. Thanks for bringing this up. I have been holding off while waiting on the vote on general@ to complete for the v1.7 release. But we should start to formalize the 1.8 plans now that we're moving forward with backporting PRs and have consensus from the community on having another 1.x release before 2.0.

I would like to propose that

[2020-08-21 05:33] szha commented on #18953
`np.boradcast_to`, like all other operations in mx.np namespace, needs to be consistent with its numpy counter-part. if they need to be made consistent, then we should drop the one in npx.

[2020-08-21 06:15] TaoLv commented on #18934
We will take a look. cc @pengzhao-intel

[2020-08-21 06:17] szha commented on #18936
So here's the problem:
[code]

https://github.com/apache/incubator-mxnet/blob/9bdd4d6347c284770ee5bfe5ae98f1dabc283829/src/operator/random/pdf_op.h#L443

The code needs to guard against zero-size array, and we should add a smoke test to guard against such problem in this op, similar to https://github.com/apache/incubator-mxnet/pull/18972/files

[2020-08-21 06:21] szha commented on #18936
@xidulu since we are deprecating ndarray, do we need to register an alias of this op in np/npx? (or is it already registered)

[2020-08-21 06:24] szha commented on #18937
Here's the problem:
[code]

https://github.com/apache/incubator-mxnet/blob/9bdd4d6347c284770ee5bfe5ae98f1dabc283829/src/operator/random/pdf_op.h#L469

The code needs to guard against zero-size array for right operand of `%`, and we should add a smoke test to guard against such problem in this op, similar to https://github.com/apache/incubator-mxnet/pull/18972/files.

[2020-08-21 06:25] szha commented on #18937
@xidulu same question as https://github.com/apache/incubator-mxnet/issues/18936#issuecomment-678064250, since we are deprecating ndarray in favor of np/npx, do we need to register an alias of this op in np/npx? (or is it already registered)

[2020-08-21 06:31] szha commented on #18938
So here's the problem:
[code]

https://github.com/apache/incubator-mxnet/blob/9bdd4d6347c284770ee5bfe5ae98f1dabc283829/src/operator/sequence_last-inl.h#L158

The code needs to guard against zero-size array for right operand of `/`, and we should add a smoke test to guard against such problem in this op, similar to https://github.com/apache/incubator-mxnet/pull/18972/files

[2020-08-21 06:45] xidulu commented on #18937
@szha
As far as I am concerned, pdf ops are not registered under `npx` yet and I don't think its that necessary because:

1. This series of ops do not have very good support for numpy's broadcasting and zero-dim/size (as is shown in this issue) semantics, which could cause great confusion for users.
2. Secondly, if users would have access to pdf ops, they could now use the pdf operator inside the

[2020-08-21 06:49] szha commented on #18939
So here's the problem:
[code]

https://github.com/apache/incubator-mxnet/blob/9bdd4d6347c284770ee5bfe5ae98f1dabc283829/src/operator/sequence_mask-inl.h#L100

The code needs to guard against zero-size array for right operand of `/`, and we should add a smoke test to guard against such problem in this op, similar to https://github.com/apache/incubator-mxnet/pull/18972/files

[2020-08-21 06:54] szha commented on #18940
So here's the problem:
[code]

https://github.com/apache/incubator-mxnet/blob/9bdd4d6347c284770ee5bfe5ae98f1dabc283829/src/operator/sequence_reverse-inl.h#L139

The code needs to guard against zero-size array for right operand of `/`, and we should add a smoke test to guard against such problem in this op, similar to https://github.com/apache/incubator-mxnet/pull/18972/files

[2020-08-21 06:59] szha commented on #18942
So here's the problem:
[code]

https://github.com/apache/incubator-mxnet/blob/9bdd4d6347c284770ee5bfe5ae98f1dabc283829/src/operator/correlation-inl.h#L219

The code needs to guard against zero-size array for right operand of `/`, and we should add a smoke test to guard against such problem in this op, similar to https://github.com/apache/incubator-mxnet/pull/18972/files

[2020-08-21 07:07] Kh4L commented on #18800
@samskalicky that works for me and the TensorRT related PRs I am backporting.

[2020-08-21 07:27] xidulu commented on #18937
Btw, a possible solution for this bug could be adding a zero-size check (e.g. https://github.com/apache/incubator-mxnet/blob/master/src/operator/numpy/random/np_normal_op.h#L320) before the kernel launch: https://github.com/apache/incubator-mxnet/blob/master/src/operator/random/pdf_op.h#L514

[2020-08-21 14:08] dxls168 opened #18979 "onnx export support of dynamic_axes"
`Torch.onnx.export` function can use dynamic_axes parameter can support dynamic input.
![Screenshot from 2020-08-21 21-54-07](https://user-images.githubusercontent.com/12638513/90898366-1a8c8500-e3f9-11ea-8a56-696530ddc7ec.png)

 `onnx_mxnet.export_model` function input is fixed such as [(1,3,224,224)].
![Screenshot from 2020-08-21 21-54-40](https://user-images.githubusercontent.com/12638513/90898

[2020-08-22 03:08] kohillyang opened #18982 "Allocate memory according to the maximum memory one Tensor may use."
## Description
Currently mxnet has several memory allocating strategies, like rounding strategy, Naive and Round. However, when the graph is static but the input shapes are dynamic, mxnet has to allocate memory in each step. I think these allocating strategies could cause much memory fragmentation and memory consuming, and cause allocating failing even though the memory is enough.
Since in some ca

[2020-08-23 02:16] beew opened #18985 "unable to build r packge"
## Description
It seems that I can't really get any consistent documentation on how to build the r package for mxnet with gpu. I have already successfully built mxnet with this command and the python package

[code]

But there is little info on what to do next to install (and make ) the r package (or anything else besides python for that matter)
Almost everything I found is about installing the mx

[2020-08-23 08:15] #18982 closed, assigned to nobody

[2020-08-23 17:29] szha opened #18986 "test_bbox_augmenters randomly crashes"
## Description
tests/python/unittest/test_contrib_gluon_data_vision.py::TestImage::test_bbox_augmenters

## Occurrences
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-18969/7/pipeline

[2020-08-23 17:30] szha commented on #18982
By turning on static_alloc=True in hybridize it will do what you just described.

[2020-08-23 20:04] szha commented on #18800
Github milestone which seems to be a suitable tool for tracking release progress. I created one here and added all mentioned items that we can try out: https://github.com/apache/incubator-mxnet/milestone/5

[2020-08-23 20:32] DNXie opened #18988 "Documentation Bug: Format issue in mxnet.util.use_np document"
## Description
This is a documentation bug. There is a format issue in `mxnet.util.use_np` document Parameter section. `and NumPy-array semantics. ` is not a parameter.

![image](https://user-images.githubusercontent.com/24580222/90995106-eba51900-e588-11ea-8e20-24b523e1d8f3.png)

### Error Message
None

## To Reproduce
Link to the buggy document: https://mxnet.apache.org/versions/1.6/api/python/d

[2020-08-23 20:52] DNXie opened #18989 "Documentation bug: `dgl_csr_neighbor_non_uniform_sample` doesn't have parameter `seed_arrays`"
## Description
In the documentation of these 8 APIs listed below, there is a parameter `seed_arrays` listed in Parameter section. But it is not accepted by the functions, and passing them gives abort, which crashes the program.

- mxnet.contrib.ndarray.dgl_csr_neighbor_non_uniform_sample: https://mxnet.apache.org/versions/1.6/api/python/docs/api/contrib/ndarray/index.html#mxnet.contrib.ndarray.dgl

[2020-08-23 20:53] szha commented on #18989
cc @lingfanyu

[2020-08-23 21:05] DNXie opened #18990 "Documentation bug: mxnet.symbol.linspace doesn't accept `ctx` as parameter"
## Description

This is a documentation bug. In the document of `mxnet.symbol.linspace`, the Parameter section specified an input parameter `ctx`, which is not in the function signature, and not accepted by the function.

Link to the document: https://mxnet.apache.org/versions/1.6/api/python/docs/api/symbol/symbol.html#mxnet.symbol.linspace

### Error Message
(Paste the complete error message. Ple

[2020-08-24 01:10] DNXie opened #18991 "Documentation bug: dgl_subgraph doesn't accept parameters in the documents"
## Description
The following 4 APIs don't accept the parameter `graph` as stated in the Parameter section.

- `mxnet.contrib.ndarray.dgl_subgraph`: https://mxnet.apache.org/versions/1.6/api/python/docs/api/contrib/ndarray/index.html#mxnet.contrib.ndarray.dgl_subgraph
- `mxnet.contrib.symbol.dgl_subgraph`: https://mxnet.apache.org/versions/1.6/api/python/docs/api/contrib/symbol/index.html#mxnet.con

[2020-08-24 01:35] #17096 closed

[2020-08-24 01:35] #18966 closed

[2020-08-24 01:36] #18953 closed

[2020-08-24 01:37] DNXie opened #18993 "Documentation bug: format issue in the document of `mxnet.contrib.quantization.quantize_model_mkldnn`"
## Description
There is a format issue in the document of `mxnet.contrib.quantization.quantize_model_mkldnn`  in the **Parameter** and **Returns** section.

Link to the document: https://mxnet.apache.org/versions/1.6/api/python/docs/api/contrib/quantization/index.html#mxnet.contrib.quantization.quantize_model_mkldnn

![image](https://user-images.githubusercontent.com/24580222/90995086-d16b3b00-e58

[2020-08-24 01:37] szha commented on #18841
Vote passed in https://lists.apache.org/thread.html/rc2b2615fd9b43d90f35b584621e1f57c08e221061ffdef60c15c14cb%40%3Cdev.mxnet.apache.org%3E
Updating mentions of JIRA in #18992

[2020-08-24 01:41] szha commented on #18963
I'm clarifying the communication channel usage in #18992

[2020-08-24 01:42] DNXie opened #18994 "Documentation bug: mxnet.test_utils.check_consistency Inconsistent parameter"
## Description
This is a documentation bug. There is an inconsistency of parameter name between the function signature and **Parameter** section.

It is `use_uniform ` in the signature, but `use_unifrom ` in the Parameter section.

Link to the document: https://mxnet.apache.org/versions/1.6/api/python/docs/api/mxnet/test_utils/index.html#mxnet.test_utils.check_consistency

![image](https://user-im

[2020-08-24 03:14] ekdnam commented on #18380
@szha I would love to work on this issue. Can you assign me to this?

[2020-08-24 03:18] szha commented on #18380
@ekdnam thanks for offering to help! let me know if you have any question or need any pointer.

[2020-08-24 03:22] ekdnam commented on #18380
Yes surely!

[2020-08-24 03:56] ekdnam commented on #18380
@szha is this a unix specific issue?

[2020-08-24 04:02] szha commented on #18380
@ekdnam apologies, I didn't realize that the issue has already been fixed in https://github.com/apache/incubator-mxnet/pull/18619/files#diff-9b62bcdde840f4769a6f1e1cf1e664a7L55 by @leezu. I think we still need to add the python3.8 pipeline, for which @ma-hei opened #18445.

[2020-08-24 04:03] szha commented on #18380
@ma-hei would you be able to complete #18445?

[2020-08-24 04:08] encichou commented on #18962
hello,I have same question。do you find some function to disable hybrization?
and i have another quesion that is how to release gpu memory?
could you help me?

[2020-08-24 04:11] szha commented on #18962
you can disable hybridization with `net.hybridize(active=False)`

[2020-08-24 04:13] szha commented on #18962
GPU memory held by memory pool can be released by `mx.gpu(0).empty_cache()`

[2020-08-24 04:16] encichou commented on #18962
thank you for your reply, i will try your suggestion.

[2020-08-24 04:41] ekdnam commented on #18380
Oh okay, its no big deal. Till then, I shall try to solve some other issue

[2020-08-24 04:49] yzhliu commented on #18716
Problem 1 should have been fixed by https://github.com/apache/incubator-mxnet/pull/18818

[2020-08-24 04:56] ekdnam commented on #18942
@szha can I work on this issue? Would need some advice on how to solve it

[2020-08-24 05:06] szha commented on #18942
@ekdnam yes. I think in this case the problem is that both stride1 and stride2 should not be zero. The existing mechanism for declaring operator parameter ranges is in the declaration of the parameter object. Currently, it only has default values:
https://github.com/apache/incubator-mxnet/blob/0de7484884292eb028342b1e5669233792429af0/src/operator/correlation-inl.h#L57-L60
To fix it, we will need t

[2020-08-24 06:28] szha commented on #18962
np. if it works, it would be great if you could help update the doc linked in the issue.

[2020-08-24 08:52] bgawrych commented on #18993
@mxnet-label-bot remove [Bug, needs triage]
@mxnet-label-bot add [Doc, MKLDNN, v1.x]

[2020-08-24 08:53] bgawrych commented on #18993
@mxnet-label-bot add [Doc, MKLDNN, v1.x]

[2020-08-24 09:20] encichou commented on #18962
ok ,I am trying the function. but i do not kown how to update the doc. should i  git commit the modified doc- https://github.com/apache/incubator-mxnet/blob/master/docs/python_docs/python/tutorials/packages/gluon/blocks/hybridize.md?

[2020-08-24 09:36] ekdnam commented on #18942
Noted @szha

Are these changes okay?

`DMLC_DECLARE_FIELD(stride1).set_default(1).set_lower_bound(1)`
`.describe("stride1 quantize data1 globally");`
 `DMLC_DECLARE_FIELD(stride2).set_default(1).set_lower_bound(1)`
`.describe("stride2 quantize data2 within the neighborhood centered around data1");`

[2020-08-24 14:54] kpuatamazon opened #18998 "segfault with numpy related to repr"
## Description
This code segfaults for me based on 0de7484884292eb028342b1e5669233792429af0.
[code]

### Error Message
[code]

## To Reproduce
1. Get Ubuntu 18.04 LTS
2.  Compile with `cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DENABLE_TESTCOVERAGE=OFF -DUSE_MKLDNN=OFF -DUSE_CUDA=OFF -DUSE_TVM_OP=ON -DUSE_MKL_IF_AVAILABLE=ON -DUSE_BLAS=MKL -GNinja ..` install, etc.
3. Create `segfault.py` using abov

[2020-08-24 15:13] DNXie opened #18999 "Documentaion bug: mxnet.test_utils.assert_almost_equal_with_err doesn't accept threshold as an input"
## Description
This is a documentation bug. The Parameter section of the documentation of `mxnet.test_utils.assert_almost_equal_with_err` stated the parameter `threshold`. But it is not in the siganture and not accepted by the API, and passing it throws exception.

![image](https://user-images.githubusercontent.com/24580222/91062515-ce109780-e5fa-11ea-9078-4c00cfe24d70.png)

Link to the doc: https

[2020-08-24 15:24] DNXie opened #19000 "Documentation bug: isinf has signature-description inconsistency"
## Description
There is a signature-description inconsistency in the document of the following 3 APIs. The Parameter section stated that there should be a parameter `input`, but it is not accepted by the API.

- mxnet.ndarray.contrib.isinf: https://mxnet.apache.org/versions/1.6/api/python/docs/api/ndarray/contrib/index.html#mxnet.ndarray.contrib.isinf
- mxnet.ndarray.contrib.isfinite: https://mxne

[2020-08-24 15:29] kpuatamazon commented on #18998
Shorter example.
[code]

[2020-08-24 15:34] DNXie opened #19001 "Documentation bug: mxnet.ndarray.contrib.foreach doesn't accept `name`"
## Description
This is a documentation bug. In the document of `mxnet.ndarray.contrib.foreach`, the **Parameter** section stated a parameter `name`. But it is not in the signature and not accepted by the function.

Link to the document: https://mxnet.apache.org/versions/1.6/api/python/docs/api/ndarray/contrib/index.html#mxnet.ndarray.contrib.foreach

![image](https://user-images.githubusercontent.

[2020-08-24 15:40] ekdnam opened #19002 "error while building mxnet from source"
## Description
(A clear and concise description of what the bug is.)
I am trying to build mxnet from source to test some source code I have modified. I am following the instructions given here: https://mxnet.apache.org/versions/1.6/get_started/build_from_source.html .

Two things
1. For me, there seems to be no direct indication in the link above on how to build for v1.6. The `make\config.mk` seem

[2020-08-24 15:40] DNXie opened #19003 "Documentation Bug: mxnet.test_utils.check_numeric_gradient has inconsistent document"
## Description
This is a documentation bug. The parameter of API `mxnet.test_utils.check_numeric_gradient` is not consistent between signature and Parameter section. There is a parameter `check_eps ` in the Parameter section, but it is not in the signature.

Link to document: https://mxnet.apache.org/versions/1.6/api/python/docs/api/mxnet/test_utils/index.html#mxnet.test_utils.check_numeric_gradie

[2020-08-24 15:42] jermainewang commented on #18989
cc'ed @zheng-da here. All these APIs should have been supported in DGL. We could have a discussion on whether to continue support them in MXNet or deprecate them.

[2020-08-24 17:00] szha commented on #19003
@DNXie awesome job hunting down all these problems in the documentation! this will really help us improve the doc quality. Keep them coming!

[2020-08-24 17:06] leezu commented on #19002
The file is present on v1.6: https://github.com/apache/incubator-mxnet/blob/v1.6.x/make/config.mk

I suspect you are not compiling v1.6? If you would like to compile the master version, you need to use cmake. But also for 1.6, as you are on Windows, you need to use cmake.

Please post here if you run into more issues. Thanks

[2020-08-24 17:12] #18934 closed

[2020-08-24 17:21] leezu commented on #18998
Both examples yields `ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()`, which is consistent with numpy. Try cleaning your build directory after updating to https://github.com/apache/incubator-mxnet/commit/0de7484884292eb028342b1e5669233792429af0

Let's reopen if the issue persists. Thanks

[2020-08-24 17:28] ekdnam commented on #19002
Thanks for the very prompt response. While specifying the error, there seems to be a mistake from my side. I thought the master branch of this repo was the source for v1.6, but that is not the case.

As you have rightly said, I have the master branch of `incubator-mxnet`. How can I use cmake to compile it?

[2020-08-24 17:48] leezu commented on #19002
The website will by default show you the guide for 1.6. You can navigate to the master version of the guide by selecting "master" in the upper right corner, pressing "Get Started" and then clicking on the "compile from source" guide.

Unfortunately we can't link that page directly at this time due to https://github.com/apache/incubator-mxnet/issues/18913

[2020-08-24 18:19] ys2843 commented on #18897
Fixed the broken links on gluon index page v1.6 website, please verify.
link: https://mxnet.apache.org/versions/1.6/api/python/docs/api/gluon/index.html

[2020-08-24 19:31] szha commented on #18989
@jermainewang it's ok to deprecate them in 2.0. for 1.x since it's already in the code base, we will need to fix the doc.

[2020-08-24 19:42] kpuatamazon commented on #18998
Fresh build with 3c4ac19 still segfaults.

[2020-08-24 20:44] leezu commented on #18998
I still can't reproduce the segfault, though I'm on DLAMI and you are on standard Ubuntu 18.04 LTS. I have previously seen the error you posted (`pthread_mutex_lock`) in case of ABI issues. Would there be any modifications on your system? Did you check if there is any outdated libmxnet.so in the lib folder?

[2020-08-24 22:10] DickJC123 opened #19005 "reinterpret_cast in transformer.cu needs review"
## Description
@leezu

Could you review the use of reinterpret_cast in the following code snippet from a PR of yours:
https://github.com/apache/incubator-mxnet/blob/3c4ac19daa3e645d918692b864ea19640f7e0314/src/operator/contrib/transformer.cu#L104-L130

The alpha and beta values are floats, so reinterpreting their addresses as pointers to a different primitive type is incorrect I feel.  In "true fp

[2020-08-24 22:42] leezu commented on #19005
Good catch. This code only runs on cuda arch < 5 and the affected integration tests (in https://github.com/aws/deep-learning-containers) seem to only test the float test case.

[2020-08-24 22:49] Zha0q1 opened #19006 "Numpy Equal Broadcast Type Large Int Bug"
[code]
triggers
[code]
I am working on a simple fix on this specific use case but there might be similar issues when broadcasting arrays

[2020-08-24 22:55] szha opened #19007 "flaky test_numpy_op.py::test_np_linalg_lstsq"
## Description
tests/python/unittest/test_numpy_op.py::test_np_linalg_lstsq in unix-cpu pipeline

## Occurrences
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18992/4/pipeline

[2020-08-24 23:04] szha commented on #19003
On master branch, this was fixed in https://github.com/apache/incubator-mxnet/pull/18694/files#diff-75daced0edcfaf1e48f3dd43aebe4f01L982.

The problem still exists on v1.x, which needs to be corrected:
in https://github.com/apache/incubator-mxnet/blob/dfefe879997a1208f1f01e58635c61e86eed1d6a/python/mxnet/test_utils.py#L1185-L1186

[2020-08-24 23:42] szha commented on #19001
This looks like a copy-paste error. The place for fixing it is here:
https://github.com/apache/incubator-mxnet/blob/3c4ac19daa3e645d918692b864ea19640f7e0314/python/mxnet/ndarray/contrib.py#L178-L179

[2020-08-24 23:49] szha commented on #19000
Looks like a typo that slipped through. The place that needs fix is at:
https://github.com/apache/incubator-mxnet/blob/3c4ac19daa3e645d918692b864ea19640f7e0314/python/mxnet/ndarray/contrib.py#L531-L532

[2020-08-24 23:52] szha commented on #18999
The docstring that needs fixing is here:
https://github.com/apache/incubator-mxnet/blob/3c4ac19daa3e645d918692b864ea19640f7e0314/python/mxnet/test_utils.py#L754-L755

[2020-08-25 00:17] Zha0q1 commented on #19006
update:
== != < > <= >= are all affected, but after the fix they seem to be working

[2020-08-25 00:32] ekdnam commented on #19002
Thanks. I am now following these steps, will tell if any error pops up

[2020-08-25 00:56] ekdnam commented on #19002
I don't have a GPU installed on my machine, so I turned this to OFF

https://github.com/apache/incubator-mxnet/blob/3c4ac19daa3e645d918692b864ea19640f7e0314/CMakeLists.txt#L42

Now the resulting error is this:
![cmake-cuda](https://user-images.githubusercontent.com/40426312/91110574-d79e0c00-e69b-11ea-9feb-8535f1f35d5d.jpg)

What should be done?

[2020-08-25 01:01] kohillyang commented on #18902
I found the reason is that amp.init should be called before the creation of the network, because it will patch some functions in the namespaces of mx.nd and mx.sym. And since the functions have already been patched, the network does not need to cast to float16.

However, in <https://github.com/dmlc/gluon-cv/blob/e3513064244f3f987f699ac43781d40ad01e144a/scripts/detection/faster_rcnn/train_faster_rc

[2020-08-25 01:04] szha commented on #18991
cc @jermainewang @zheng-da

[2020-08-25 01:06] kohillyang commented on #19002
Just use cmake-gui, and search USE_CUDA in the dialog, and turn  it OFF.

[2020-08-25 01:06] szha commented on #18902
looks like at minimum we need to document this, or better yet it would be great if AMP can handle the necessary changes transparently. @mk-61 it would be great if you could help take this into account in https://github.com/apache/incubator-mxnet/issues/18896

[2020-08-25 01:08] szha commented on #19002
on linux it's `-DUSE_CUDA=OFF` though I'm not sure how it works on windows 🤦

[2020-08-25 01:22] szha commented on #18988
The problem is the wrong doc string and indentation here:
https://github.com/apache/incubator-mxnet/blob/3c4ac19daa3e645d918692b864ea19640f7e0314/python/mxnet/util.py#L541-L542

A proper documentation format looks like this:
https://github.com/apache/incubator-mxnet/blob/3c4ac19daa3e645d918692b864ea19640f7e0314/python/mxnet/util.py#L773-L776

[2020-08-25 01:40] szha commented on #18990
Looks like a copy-paste error in the doc here that needs removal:
https://github.com/apache/incubator-mxnet/blob/3c4ac19daa3e645d918692b864ea19640f7e0314/python/mxnet/symbol/symbol.py#L3203-L3204

[2020-08-25 04:32] sandeep-krishnamurthy commented on #18793
@josephevans - Can you please help on how to help @yajiedesign and get this work merged to CI?

[2020-08-25 16:28] josephevans commented on #18793
I don't think we want to re-use an existing Windows CI AMI for this, because it has a lot of stuff installed that may not be needed. Are you planning on installing all the build tools (MSVS, nvcc, etc) in the docker container instead of on the host system? Besides docker, what other software needs to be installed on the base AMI? Does NVidia drivers need to be installed?

[2020-08-25 21:50] aws-taylor commented on #17589
```_ZN4dmlc14RecordIOReader10NextRecordEPSs``` corresponds to  ```dmlc::RecordIOReader::NextRecord(std::basic_string<char, std::char_traits<char>, std::allocator<char> >*)```

I ran into this problem because I was compiling MxNet with GCC 8 but linking to a 4.9 libstdc++. Somewhere between 4.9 and 8, there was an ABI change to std::string in order to comply with C++11 requirements that resulted in

[2020-08-25 22:15] #18897 closed

[2020-08-25 22:47] josephevans opened #19012 "Support Dropout operator in ONNX 1.7"
## Description
With the latest ONNX v1.7, the newest opsets (12,13) requires Dropout to pass the ratio in as an input, rather than an attribute. In order to support exporting most of the CV models to ONNX, this operator needs to work.

## References
- https://github.com/onnx/onnx/blob/master/docs/Operators.md#Dropout

[2020-08-26 01:16] Zha0q1 opened #19014 "Cannot modify elements in large tensors where index > int_max"
It looks like for some reason the last element of a large tensor cannot be modified:
[code]
gives
[code]
However,
[code]
gives
[code]

I will probably work on a fix by this week

[2020-08-26 01:19] #19006 closed

[2020-08-26 04:41] kohillyang commented on #18902
And it seems that if amp is used, the trainer is not able to load its trainer states saved previously.

[2020-08-26 04:55] mk-61 commented on #18902
For loading states - have you tried after
https://github.com/apache/incubator-mxnet/pull/18959 ?
It was supposed to fix this.

On Tue, Aug 25, 2020 at 9:42 PM kohillyang <notifications@github.com> wrote:

[2020-08-26 05:48] yajiedesign commented on #18793
@josephevans For security reasons, I'm not going to run tests on CD machines. So maybe I just need to docker.jenkins slave,python.

[2020-08-26 06:11] marcoabreu commented on #18793
From an ami perspective, we are not differentiating between CD and CI machines. They all use the same image

[2020-08-26 10:09] kohillyang commented on #18902
@mk-61 It works, thank you very much.

[2020-08-26 13:50] yajiedesign commented on #18793
Then the NV driver and CUDA are needed to run the test, and the tool chain is still placed in the docker container.

[2020-08-26 16:34] josephevans commented on #18793
So just to recap, we need the following installed on a Windows AMI:

- docker
- python3
- jenkins slave run script (in python)
- java runtime environment (to run jenkins slave client)
- NVidia driver
- CUDA libraries/toolkit

Anything else?

[2020-08-26 16:38] marcoabreu commented on #18793
Just to make sure: you are aware of the scripts to automatically create a windows slave ami, right?

[2020-08-26 17:13] josephevans commented on #18793
@marcoabreu Yeah, I'm familiar with the scripts to create the AMIs. Thanks.

[2020-08-26 17:52] MoisesHer opened #19019 "AMP not reusing weights on recursive networks"
Automatic mixed precision (AMP) in MXNet is not reusing weights when these are applied recursively, instead, it creates a new copy each time, i.e. when a network iterates over the same layer, with same weights, AMP creates a new copy of the weights at each iteration.
This lead to a heavier memory consumption when using AMP, producing out of memory on GPU if the number of iterations is large enough

[2020-08-26 17:54] Zha0q1 opened #19020 "cub apis do not support large tensor"
I was working on https://github.com/apache/incubator-mxnet/pull/19015 and have fixed the cpu version of the op. However the fix for the gpu version is blocked by some cub apis which use int in the function declaration.

One example is: https://github.com/NVlabs/cub/blob/1.8.0/cub/device/device_scan.cuh#L328

This is used here in the nonzero op:https://github.com/apache/incubator-mxnet/blob/master/

[2020-08-26 21:15] mathephysicist opened #19021 "[MXNet 2.0 Autograd Error] Unexpected Error for Backward Argument"
## Description
Unexpected gradient results when using .backward() with an array which does not match the functions input.

## To Reproduce
`
# z= np.array([[ 6. 12.],[35. 48.]])
x = np.array([[2.0,3.0],[5,6]])
y = np.array([[3.0,4.0],[7,8]])
x.attach_grad()
y.attach_grad()

#Expected Result
with autograd.record():
    z = np.sum(x*y)
z.backward()
print(1.5*x.grad)
print(1.5*y.grad)

#Expected Resu

[2020-08-26 23:11] Zha0q1 opened #19022 "MKLDNN numpy rnn core dump"
With the following script mxnet will core dump on y.backward(). My build is master with cuda off mkldnn on. I tried to build mkldnn off and the script wouldn't core dump then.

[code]

This will trigger two possible error messages:
Sometimes it's:
[code]
Other times:
[code]

[2020-08-26 23:11] Zha0q1 commented on #19022
GDB backtrace:
when the error is
[code]
corrupted size vs. prev_size

Thread 21 "python" received signal SIGABRT, Aborted.
[Switching to Thread 0x7fff692dd700 (LWP 78491)]
__GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
51	../sysdeps/unix/sysv/linux/raise.c: No such file or directory.
(gdb) bt
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
#1  0x000

[2020-08-26 23:12] Zha0q1 commented on #19022
GDB backtrace:
when the error is

[code]

[code]

[2020-08-27 00:03] access2rohit commented on #19022
@TaoLv @PatricZhao

[2020-08-27 00:08] mathephysicist opened #19023 "[MXNet 2.0 Bug] Proper Type Promotion"
## Description
Given that numpy properly performs type promotion when performing basic tasks. I think we should do the same when we perform our operations.

## To Reproduce
This works
`import numpy as npa

x = npa.ones((2,2),dtype=int)
y = npa.ones((2,2),dtype=float)

z = npa.matmul(x,y)`

This doesn't
`from mxnet import np

x = np.ones((2,2),dtype=int)
y = np.ones((2,2),dtype=float)

z = np.matmu

[2020-08-27 01:08] karan6181 opened #19024 "SSD Training fails with free pointer issue during end of training"
- The SSD training [script](https://github.com/dmlc/gluon-cv/blob/master/scripts/detection/ssd/train_ssd.py) fails with either `free(): invalid pointer` or `corrupted size vs. prev_size`
- Tried running the script with and without horovod mode on p3dn. Below are details:

## 1. Without Horovod:

#### Cmd:
[code]

#### Failure:
[code]

#### Output log file: https://gist.github.com/karan6181/2ce3d8c

[2020-08-27 01:11] karan6181 commented on #19024
Initially, I created an issue (https://github.com/dmlc/gluon-cv/issues/1415) in Gluon CV thinking that this might be related to script issue. But by root causing that issue, I found that by adding `mx.nd.waitall()` at the end of the script, I dont see that crash anymore. From my understanding (correct me if I am wrong), One shouldn't call the `mx.nd.waitall()` explicitly and the MXNet engine shoul

[2020-08-27 05:44] leezu commented on #19024
It's probably fixed by https://github.com/apache/incubator-mxnet/pull/18768 You can apply that commit to the 1.6 branch and check if the issue persists

[2020-08-27 06:56] sxjscience opened #19026 "[Bug] RTC Failed to compile"
@ptrendx Let me create an issue and track it in the issue.

It is reproducible by running the https://github.com/dmlc/gluon-nlp/blob/master/tests/test_attention_cell.py script on GPU with GluonNLP.

Error Message:
[code]

Code file obtained after setting `MXNET_RTC_VERBOSE =1`:

[code]

[2020-08-27 17:38] Zha0q1 commented on #19020
@sandeep-krishnamurthy @access2rohit For your guys' reference

[2020-08-27 19:10] karan6181 opened #19027 "mx.nd.argsort() output is different on CPU and GPU"
## Description
The `mx.nd.argsort()` output is different on CPU and GPU for certain edge cases

## Script
[code]

### Output

[code]

## Environment

We recommend using our script for collecting the diagnositc information. Run the following command and paste the outputs below:
[code]

[2020-08-27 19:11] karan6181 commented on #19024
Thanks @leezu . I will try that patch and let u know.

[2020-08-27 19:24] karan6181 commented on #7410
I saw a different result on CPU and GPU by using the same seed value. Is this an expected behavior or am I missing something here ??

## script

[code]

## Output

[code]

[2020-08-27 20:11] szha commented on #7410
This is expected. Setting the seed on a device only guarantees reproducible results on the same device, and does not guarantee the same result on different devices.

[2020-08-27 20:19] szha commented on #19027
argsort does not guarantee to be stable.

[2020-08-28 00:03] ptrendx commented on #19026
Ok, I believe `inf` is generated by the ffi for `np.clip` here: https://github.com/apache/incubator-mxnet/blob/master/src/api/operator/tensor/matrix_op.cc#L52

I will make PR with support for fusion of `clip` without `a_min` or `a_max` parameters tomorrow.

[2020-08-28 00:52] ciyongch opened #19029 "[RFC] 1.7.0 Release Postmortem"
As the 1.7.0 release is near completion, I would like to recall some important items and the time-consuming issues we encountered during the process, hope this will help the succeeding release. Comments are welcome to make the release process more smoothly.

### 1. License issue

**Details:**  having license issue could result in -1 vote in the past several releases, so it's important to check and

[2020-08-28 09:03] marcoabreu commented on #19029
Great idea!

[2020-08-28 09:11] hetong007 commented on #18985
I did the following on my Ubuntu to install the CPU-version MXNet, could you please help to follow and verify:

First, clone MXNet by `git clone --recursive https://github.com/apache/incubator-mxnet.git -b 1.6.0`.

Then, Compile with `cmake`:

[code]

I believe you have been here already. So the R part is the following.

I have to modify two files first, please see the diff info below:

[code]

Fi

[2020-08-28 09:23] pengzhao-intel commented on #19029
Good job, @ciyongch !

[2020-08-28 09:24] pengzhao-intel commented on #19029
cc @mli @sandeep-krishnamurthy

[2020-08-28 14:55] JeanKossaifi opened #19030 "Stacking 0-order tensors"
## Description
There seem to  be two issues: i) it is impossible to stack 0-order arrays and ii) stacking arrays of shape (1, ) results in an array of shape (N, 1) instead of (N, )

This is for Python 3.8.3 and mxnet 1.6.0

## Error 1

### Error Message
[code]

### To Reproduce
[code]

## Error 2

[code]
This code runs but outputs a shape of `(4, 1)` instead of just `(4, )`

## On zero-order tenso

[2020-08-28 15:08] sandeep-krishnamurthy commented on #19029
Thank you very much @ciyongch .

[2020-08-28 16:09] szha commented on #19030
thanks for reporting the issue (and good to see you again Jean!). what's the behavior in numpy?

[2020-08-28 16:34] access2rohit opened #19031 "unix-cpu flaky. Timeouts and fails on different test suits"
## Description
For PR https://github.com/apache/incubator-mxnet/pull/18930 it has failed on different test suits at different times

## Occurrences
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18930/4/pipeline

https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18930/3/pipeline

https://

[2020-08-28 16:49] szha commented on #19031
@access2rohit which test? please fill out the template.

[2020-08-28 16:55] JeanKossaifi commented on #19030
Hi @szha, nice to see you again as well! :)

So in Numpy, concatenating scalars (zero order tensors) works and returns a 1D array:
[code]

Stacking arrays of shape `(1, )` actually behaves the same as in NumPy and returns an arrary of shape (4, 1) so isn't directly useable for the above.

Contracting a tensor to a scalar returns a zero order tensor  in NumPy (instead of an array of shape `(1, )` i

[2020-08-28 17:04] access2rohit commented on #19031
Last reported failure showed
test_io.py::test_Cifar10Rec
test_io.py::test_inter_methods_in_augmenter
timed out

[2020-08-28 17:10] szha commented on #19031
as discussed offline, Rohit will report the multiple test issues as individual issues. Thanks Rohit.

[2020-08-28 17:10] #19031 closed

[2020-08-28 22:29] sandeep-krishnamurthy commented on #19027
@szha => Can you please elaborate what it means?

[2020-08-28 22:36] szha commented on #19027
Unstable sort means for equal values the output order doesn't preserve the input orders

[2020-08-29 01:36] szha commented on #19030
ok so the problem is that we made an extension to the NDArray shape semantics to make it numpy-compatible. In the past, MXNet didn't support 0-order tensors, hence the error you observed. There's a switch to enable this extension of shape semantics:
[code]

[2020-08-29 13:32] beew commented on #18879
@anko-intel

I have no access for my machine for a month, I tried with another machine, this one has MKL 2020.0.166.1 (the  latest installed via the deb repository but no cuda. I built mxnet with the options
[code]
It failed with

[code]
But building with openblas was successful.

[2020-08-29 14:44] beew commented on #18985
@hetong007
Didn't work
[code]
my makefile (in mxnet root) now looks like this
[code]

[2020-08-29 15:02] hetong007 commented on #18985
Make sure you cloned the branch `1.6.0` or `v1.x`. I believe the current `master` branch is undergoing some major change and the folder `R-package` is currently removed.

To clone a specific branch, use

[code]

or

[code]

[2020-08-29 15:26] beew commented on #18985
It is branch 1.6.0

[2020-08-29 16:03] hetong007 commented on #18985
Your error message looks like that the path `R-package` doesn't exist, and which shouldn't be. That might because you have cloned a different version, or your folder has been modified unexpectedly.

1. Could you show me the output of `git status` under `$MXNET_ROOT`
2. Instead of `make rpkg`, could you manually execute [these commands](https://github.com/apache/incubator-mxnet/blob/1.6.0/Makefile#

[2020-08-29 16:17] beew commented on #18985
Hi

[code]

I can indeed see R-packge
[code]

[2020-08-29 19:47] marcoabreu commented on #19027
See the "Notes" section here: https://numpy.org/doc/stable/reference/generated/numpy.sort.html

[2020-08-29 22:47] sandeep-krishnamurthy commented on #19027
Thank you both.

[2020-08-29 22:47] #19027 closed

[2020-08-30 00:58] hetong007 commented on #18985
Have you tried to execute the commands line-by-line here: https://github.com/apache/incubator-mxnet/blob/1.6.0/Makefile#L687-L711 ?

According to your error message, it breaks at `install_deps(pkg='R-package', dependencies = TRUE)`, and by manual execution we could simulate the environment right before this line and we debug from there.

[2020-08-30 01:16] beew commented on #18985
It breaks here
[code]

[2020-08-30 01:18] hetong007 commented on #18985
If you start `R` and execute them in the console, do you still get the same error?

[2020-08-30 01:26] beew commented on #18985
Execute what in R? Those aren't R codes.

[2020-08-30 01:28] hetong007 commented on #18985
These are R codes:

[code]

[2020-08-30 01:30] beew commented on #18985
The last line produces
[code]

[2020-08-30 01:32] hetong007 commented on #18985
In the same R console, what are the outputs from these commands:

[code]

[2020-08-30 01:43] beew commented on #18985
[code]

Ok I setwd('/home/bee/R')  is that an issue since some packages assumes it is $HOME

[2020-08-30 01:47] hetong007 commented on #18985
From these outputs, your `R` is not started under `$MXNET_ROOT`, then no doubt that `install_deps(pkg='R-package', dependencies = TRUE)` can't find the folder `R-package`.

Would you start `R` in `$MXNET_ROOT` and run the following again:

[code]

[2020-08-30 01:48] hetong007 commented on #18985
Just saw this line. Yes, that is very likely to be the cause. Please remove this line and try `make rpkg`.

[2020-08-30 02:48] beew commented on #18985
It took a while, the Rpackage not found issue is solved but I got another error
``
g++ -std=gnu++11 -I"/usr/share/R/include" -DNDEBUG -I../inst/include -I'/usr/lib/R/site-library/Rcpp/include'    -fpic  -g -O2 -fdebug-prefix-map=/build/r-base-5iUtQS/r-base-4.0.2=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -g  -c export.cc -o export.o
g++ -std=gnu++11

[2020-08-30 03:19] beew commented on #18985
So I fixed the above by
export CPATH=usr/include/opencv4
But then
[code]

[2020-08-30 03:34] sxjscience opened #19043 "[Numpy][Bug] The gradient of np.pad is wrong!"
The gradient of `np.pad` is wrong. See the following reproducible example:

MXNet Implementation:

[code]
Output:
[code]

Jax Implementation:

[code]

Output:
[code]

Basically, the following line is not correct:

https://github.com/apache/incubator-mxnet/blob/b0c39f7ea983639093c63d7d2486bbef083a55d6/src/operator/numpy/np_pad_op-inl.h#L544-L551

We should change that to

[code]

In addition, I do

[2020-08-30 03:34] sxjscience commented on #19043
The bug causes the training issue of MobileBERT in GluonNLP: https://github.com/dmlc/gluon-nlp/issues/1322

[2020-08-30 03:37] szha commented on #18985
@hetong007 is there a way to build the R package with the libmxnet.so in pip packages?

[2020-08-30 03:39] leezu commented on #18985
@beew note that https://github.com/apache/incubator-mxnet/commit/9f2e73f39b405ec24cab254076f964452382c224 contains fixes for the R package and OpenCV 4. I recommend you use MXNet 1.7 which contains this commit

[2020-08-30 06:44] sxjscience opened #19045 "[Discussion] The science behind testing operators"
FYI @szha @sandeep-krishnamurthy @pengzhao-intel  @ptrendx @yzhliu   @leezu  @xidulu @CassiniXu

Implementing operators is cumbersome and seems to involve more *"engineering than science"*. This is not the case, especially in how we may correctly test the implementation of an operator. Designing practical numerical computation systems involves lots of stability concerns and the following is my ini

[2020-08-30 06:47] hetong007 commented on #18985
In theory you can simply replace this line: https://github.com/apache/incubator-mxnet/blob/1.6.0/Makefile#L690. But seems 1.7.0 has major changes in `Makefile` so I'm not sure how to work with that now.

[2020-08-30 07:02] szha commented on #19045
Thanks for bringing up this topic. There are modern testing tools that we could adopt to help with these testing use cases. For example, one widely used package is [hypothesis](https://hypothesis.readthedocs.io/en/latest/quickstart.html#writing-tests). The many built-in strategies it offers for generating inputs should help simplify the test data generation process and improve fuzzy testing. There

[2020-08-30 07:04] szha commented on #18985
You can find this section here: https://github.com/apache/incubator-mxnet/blob/7a84fe11dd7399d1c2bdd0fb679c46af69e48861/R-package/Makefile#L4

[2020-08-30 07:08] hetong007 commented on #18985
@szha But isn't it confusing to have the relative path like `R-package/inst/libs` in this file?

[2020-08-30 07:22] szha commented on #18985
I'm not sure what the expectation is with this Makefile. @leezu probably knows better.

[2020-08-30 15:03] ekdnam opened #19048 "[BUG] config for windows?"
## Description
(A clear and concise description of what the bug is.)
While building MXNet from source, no config is given for windows OS here https://github.com/apache/incubator-mxnet/tree/master/config. What is to be done in such a case? Are some updates required in the documentation? Or should one use `cmake cmakelists.txt`?

### Error Message
(Paste the complete error message. Please also inclu

[2020-08-30 15:13] ekdnam opened #19049 "Add documentation on how to write tests?"
## Description
(A clear and concise description of what the feature is.)
- If the proposal is about a new model, provide description of what the model is.
- If the proposal is about an API, provide mock examples if possible.

In issue https://github.com/apache/incubator-mxnet/pull/18997, I was stuck on the process of writing tests to check whether the changes I made are working or not. @szha was k

[2020-08-30 19:04] beew commented on #18985
Actually the makefile in V1.7 doesn't even have rpkg

[code]

[2020-08-30 19:07] szha commented on #19048
thanks for bringing this up. cc @yajiedesign @leezu for suggestions

[2020-08-30 20:23] szha commented on #19022
@TaoLv can you please take a look?

[2020-08-30 20:27] szha commented on #18944
The mx.autograd version doesn't seem to have the same problem since the following works.
[code]

I'm removing the contrib.autograd module in #19046 in master.

[2020-08-30 20:58] szha commented on #18913
@ys2843 would it make sense to use a url schema like `https://mxnet.apache.org/versions/master/` for master docs too, so that it won't break the links?

[2020-08-31 00:42] pengzhao-intel commented on #19022
Yes, team is looking into this issue. @anko-intel

[2020-08-31 01:15] hetong007 commented on #18985
As mentioned above, the `rpkg` part lies in the `R-package/Makefile`. You can probably copy the file to `$MXNET_ROOT` and then `make rkpg`.

If that doesn't work, @leezu Would you mind to show how to make with this target?

[2020-08-31 01:43] leezu commented on #18985
@beew If you use 1.7, please follow the documentation as contained in https://github.com/apache/incubator-mxnet/commit/9f2e73f39b405ec24cab254076f964452382c224

[2020-08-31 01:48] leezu commented on #19048
You can start with the linux config and see if it builds without errors. If there are errors, you can post here. Once it works, you can create a PR with the windows config file.

[2020-08-31 02:22] yajiedesign commented on #19048
cmake option is cached.if you change CMakeLists.txt.must clear cmake cache.(delete CMakeCache.txt and CMakeFiles)

[2020-08-31 02:58] beew commented on #18985
It finally works!

There is one small issue, it complains that  opencv.pc not found because the file is called opencv4.pc in Ubuntu 20.04 (from libopencv-dev) The fix is to create a symlink
[code]
Thanks @hetong007  for the help!

I think there should be better documentation on how to compile the r module (and perhaps everything else besides python) Rightnow all the public sources appear to be use

[2020-08-31 03:33] szha commented on #18789
I didn't find a way to get access to any actual error and despite the message the program exited normally.

[2020-08-31 03:51] wkcn commented on #18789
I could not reproduce it when using MXNet (only-cpu) 1.6 and 2.0 on Arch Linux, even if running `*.py` file.

[2020-08-31 04:07] szha commented on #18789
I was only able to reproduce the problem on python3.7 and not on python3.8
[code]

[2020-08-31 04:09] pengzhao-intel commented on #18788
@anko-intel

[2020-08-31 04:09] pengzhao-intel commented on #18019
@anko-intel

[2020-08-31 04:10] pengzhao-intel commented on #14399
closing since most of works are done.

[2020-08-31 04:10] #14399 closed

[2020-08-31 04:11] pengzhao-intel commented on #13881
closing since when updated to mkldnn 1.0. MKL is not a dependency again.

[2020-08-31 04:11] #13881 closed

[2020-08-31 04:12] pengzhao-intel commented on #16891
closing since the fix has alrady updated with latest MKLDNN version.

[2020-08-31 04:12] #16891 closed

[2020-08-31 04:13] pengzhao-intel commented on #17980
closing since the fix is updated with the new MKLDNN.

[2020-08-31 04:13] #17980 closed

[2020-08-31 04:14] ekdnam commented on #19048
Will surely do the needful, and update you all if there are some errors. Thanks a lot.

[2020-08-31 04:22] xidulu commented on #19049
Maybe this could help?

https://cwiki.apache.org/confluence/display/MXNET/How+to+Implement+a+NumPy-Compatible+Operator+in+MXNet

[2020-08-31 05:08] #19026 closed

[2020-08-31 05:59] #15674 closed

[2020-08-31 12:42] kpuatamazon commented on #18998
I've tried and failed to reproduce this on a fresh Ubuntu machine.  Still fails consistently on the original machine, but it's possible something interesting happened to the installation there.  Will come back if I figure something out.

Backtrace, omitting a bunch of python at the bottom.
[code]

[2020-08-31 12:42] #18998 closed

[2020-08-31 13:31] wzzju opened #19052 "Some problems about MxNet amp performance."
## Description
According to [the mxnet amp official doc](https://github.com/apache/incubator-mxnet/blob/master/docs/python_docs/python/tutorials/performance/backend/amp.md), I execute the same code on Tesla V100( 16GB, single card). However, I can not get 60% speed increase, and it is only about  30% increase, as shown below. I'm not sure whether my experiment configuration is incorrect or not. Co

[2020-08-31 16:42] leezu commented on #17981
https://discuss.mxnet.io/t/assertion-error-for-aux-state-when-exporting-model-with-dangling-layer/6549 faces the same issue

[2020-08-31 17:20] #19014 closed

[2020-08-31 17:53] leezu commented on #18800
I'd like to include packaging change https://github.com/apache/incubator-mxnet/pull/19053 which ensures that no GPL dependencies are packaged by the static build scripts for distribution use-cases.

[2020-08-31 20:31] szha commented on #19052
@wzzju thanks for reporting. could you also share your workload?

[2020-08-31 20:58] #18942 closed

[2020-08-31 20:58] #18994 closed

[2020-08-31 22:12] sxjscience commented on #19052
I believe there is another issue that is related: https://github.com/apache/incubator-mxnet/issues/17665

[2020-09-01 00:03] barry-jin opened #19056 "[RFC] Turn Off CuDNN When Training PSPNet"
## Error when training PSPNet on Cityscapes dataset using GluonCV #17439

### Problem Description
The problem is when I train a PSPNet using GluonCV semantic segmentation library on the Cityscapes dataset, the training will stuck (hang) right after it started.

### Debugging
After bisect the date of failure, I find the first bad commit is [PR 13896](https://github.com/apache/incubator-mxnet/pull/1

[2020-09-01 00:07] leezu commented on #19056
Why not fix the hang instead of disabling the feature?

[2020-09-01 00:07] sxjscience commented on #19056
This does not sound like a solution. Problems related to CUDNN Dropout has a very long history and we should try to

- Fix cudnn dropout
- Consider to drop CuDNN Dropout if we can accelerate our native dropout

In fact, we haven't used cuda calls like [curand4 (curandStatePhilox4_32_10_t *state)](https://docs.nvidia.com/cuda/curand/device-api-overview.html) when implementing the random operators.

[2020-09-01 00:09] sxjscience commented on #19056
In addition, I guess is that the root cause is related to multiprocessing + cudnn dropout. Thus, we will need a minimal reproducible code snippet first.

[2020-09-01 00:28] zhreshold commented on #19056
+1 to @sxjscience , the segmentation model training adopts the `DataParallel` pipeline(https://github.com/dmlc/gluon-cv/blob/master/gluoncv/utils/parallel.py#L138), but it's using multithreading instead of mp

[2020-09-01 02:09] #19043 closed

[2020-09-01 08:16] cosmincatalin commented on #18655
So, is there a way to get pass the issue with the `NDArray`?

[2020-09-01 15:33] access2rohit opened #19065 "MKLDNN batch_norm doesn't work with Large Tensor Support"
## Description
When run running `batch_norm` with large inputs for e.g.:
[code]

the program errors out giving following error:
[code]

## To Reproduce
Build MXNet from source and enable Large Tensor Support by turning `ON` the flag `USE_INT64_TENSOR_SIZE` and  run the above sample python script

## Environment

We recommend using our script for collecting the diagnositc information. Run the follo

[2020-09-01 15:58] access2rohit commented on #19065
@TaoLv @pengzhao-intel

[2020-09-01 16:07] tavoaqp commented on #18655
I haven't had spare time to see this! Still not sure why is this happening, I believe that the POM project is not generating the Java byte code in the correct path.

[2020-09-01 16:22] bfgoldstein opened #19066 "Failed to load Arcface from ONNX model zoo"
## Description
I was trying to load the Arcface model downloaded from [ONNX model zoo](https://github.com/onnx/models/tree/master/vision/body_analysis/arcface), but a "NotImplementedError: Operator Sub not implemented." exception was raised.

It seems that this model had some problems before, but it was fixed [here](https://github.com/apache/incubator-mxnet/pull/17711). However, there is a [commit

[2020-09-01 16:44] ekdnam commented on #19048
After the step `cmake ..`, I am getting the following error:

[code]

What is to be done?

[2020-09-01 16:45] ChaiBapchya commented on #18986
+1 for unrelated PR : #19061
https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-19061/runs/1/nodes/109/steps/155/log/?start=0

[2020-09-01 18:19] leezu commented on #19048
You can set the BLAS to be used in the config file.

The install guide recommends using OpenBLAS: "You may download it from from the OpenBLAS release page and compile from source. Set the OpenBLAS_HOME environment variable to point to the OpenBLAS directory that contains the include and lib directories for example by typing set OpenBLAS_HOME=C:\utils\OpenBLAS."

So two steps: 1) install openblas 2

[2020-09-01 22:19] leezu opened #19071 "test_np_average"
[code]
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-19057/2/pipeline/

[2020-09-02 01:47] kohillyang commented on #18800
Any plan to fix MXNET_BACKWARD_DO_MIRROR, or to fix the docs since it is currently not supported by GLuon. I think MXNET_BACKWARD_DO_MIRROR is very important especially in object detection and sematic segmentation. Without that, even the backbone is resnet50, the im_per_gpu can only be set to 1 if the scale is 800 times 1333.

[2020-09-02 03:02] samskalicky commented on #18800
@kohillyang or @szha do you want to open a PR with this fix for v1.8?

[2020-09-02 04:53] ekdnam commented on #19048
I have followed the steps given in the install guide, and have set the environment variable. Screenshots below

![openblas-mxnet](https://user-images.githubusercontent.com/40426312/91933283-2b48cf00-ed06-11ea-8069-11130550cb8b.jpg)

![openblas-dir](https://user-images.githubusercontent.com/40426312/91933287-2e43bf80-ed06-11ea-82d4-6eab8fd76e8f.jpg)

[2020-09-02 15:31] bricksdont opened #19073 "Multinomial sampling produces impossible values"
## Description
Multinomial sampling produces impossible values.

If I understand correctly, if `mx.random.multinomial` is given a distribution such as:

    dist = mx.nd.array([0.3, 0.2, 0.4, 0.1])
    sample = mx.random.multinomial(dist)

Since, [according to the documentation, outputs are 0-indexed,](https://mxnet.incubator.apache.org/versions/1.6/api/python/docs/api/ndarray/random/index.html#mx

[2020-09-02 15:45] bricksdont commented on #19073
Not sure if this really is a bug - closing to investigate

[2020-09-02 17:11] leezu commented on #18886
@r3stl355 you can open the PR against the master branch and v1.x branch

[2020-09-02 17:17] leezu commented on #19048
Thank you @ekdnam. Does the compilation work for you now?

[2020-09-02 17:25] ekdnam commented on #19048
I had set OpenBLAS as an environment variable when this error was posted. The compilation is still not working :(

[2020-09-02 18:05] leezu commented on #19048
So have you set the `set(USE_BLAS "open" CACHE STRING "BLAS Vendor")` option in the config file?

[2020-09-02 18:26] ekdnam commented on #19048
I have to do this, right?

[code]

And apologies if I am troubling y'all in your work. I am new to MXNet, and am very, very excited to work with it. :D

[2020-09-02 18:42] ekdnam commented on #19048
In the file `cmake\Modules\FindOpenBLAS.cmake`, there are paths `OpenBLAS_HOME`, and `OpenBLAS_DIR`, here

https://github.com/apache/incubator-mxnet/blob/f2e90a22c7190e86441a415b1dbdb47ad3603f30/cmake/Modules/FindOpenBLAS.cmake#L18-L19

What should be the path `OpenBLAS_DIR`? Should it be set as an environment variable?

[2020-09-02 18:45] leezu commented on #19048
Setting `set(USE_BLAS ON "open" CACHE STRING "BLAS Vendor")` in the config file or adding the `-DUSE_BLAS=open` option to the command line when calling cmake should be sufficient.

[2020-09-02 19:54] ekdnam commented on #19048
I followed the entire procedure of building from start to end, and now atleast the project has been built! Thanks!

But sorry, the installation problems are still going on. :( In the next step, for installing mxnet for python, the following errors occured:

[code]

The output from the build is below:

[code]

What am I doing wrong?

[2020-09-02 20:33] leezu commented on #19048
You haven't run the build. You only configured the build. You still need to run this step (while inside the `build` directory):

https://github.com/apache/incubator-mxnet/blob/f2e90a22c7190e86441a415b1dbdb47ad3603f30/config/linux.cmake#L31

[2020-09-02 21:06] Zha0q1 opened #19077 "Numpy GCD"
we have np.lcm but not gcd, should we add it?

[2020-09-02 21:09] ekdnam commented on #19048
Oh yeah my bad. Thanks.

i did it, and a recurrent error while building was

[code]

Later while installing for python (`pip install --user -e ./python`), the error `"libmxnet.dll" not found` re-occurred.

[2020-09-02 22:40] szha commented on #19048
looks like the compilation failed because of a missing header:
[code]
I think you may need to either switch to a different blas library or install MKL. @yajiedesign what do you recommend?

[2020-09-02 22:49] leezu opened #19080 "MXEnginePush* C APIs not usable without C++"
## Description
`MXEnginePush*` rely on `ContextHandle` which is not exposed as part of the C API.
C API only exposes `dev_type` and `dev_id` integers.

Thus `MXEnginePush*` APIs can't be used without C++ headers that require linking C++ symbols.

https://github.com/apache/incubator-mxnet/blob/83797400128d41910d87e957131f29fd466f4777/include/mxnet/c_api.h#L3011-L3056
https://github.com/apache/incub

[2020-09-02 23:23] leezu opened #19081 "test_np_round"
[code]

https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-19034/5/pipeline/

[2020-09-03 02:00] DickJC123 opened #19082 "Multi-threaded inferencing support now lacking a unittest?"
While we generally insist that a new feature come with unittests at time of introduction, it's also important to ensure those tests are not removed or marked 'skipped' for too long to protect the feature from falling into disrepair.

Back in February, @anirudh2290's PR https://github.com/apache/incubator-mxnet/pull/16654 introduced multi-threaded inferencing, with new files ./src/imperative/cached

[2020-09-03 04:58] josephevans commented on #18800
I'd also like to include updated ONNX support in 1.8 release with PR #19017

[2020-09-03 04:59] yajiedesign commented on #19048
please do not change CMakeLists.txt Unless you know what you're doing.
if you want change some option use -D param,not change file.
I very recommend use cmake-gui in windows.

[2020-09-03 05:04] yajiedesign commented on #19048
add -DUSE_MKL_IF_AVAILABLE=0 param force close mkl.

[2020-09-03 05:08] #14383 closed

[2020-09-03 15:00] anko-intel commented on #18879
Hi @beew, @gzuchow will try to help you with the second issue.

[2020-09-03 15:51] ekdnam commented on #19048
@szha yes. The requirement of the file is generated from `3rdparty\mshadow\mshadow\base.h`.

[2020-09-03 15:55] ekdnam commented on #19048
Do Windows users usually have problems while building and installing, or is this issue just limited to me?

[2020-09-03 16:01] yajiedesign commented on #19048
you need compile libmxnet.dll first.To do this, you need to resolve all compilation errors.Before that, you don't have to repeatedly try to execute "PIP install -- user - e . /Python",it certainly won't work.You need to make sure“ libmxnet.dll" Has been compiled,

[2020-09-03 17:03] leezu opened #19084 ""C APIs" for error handling are not C APIs"
https://github.com/apache/incubator-mxnet/pull/13795/ introduce a "C API" for error handling. But actually it just moves the C++ implementation of the API into the C header. It's not a C API.

[2020-09-03 17:09] leezu commented on #19084
As of https://github.com/apache/incubator-mxnet/commit/bbc39fa6ef5a21cf6016b52f1efffc7aa5bdd1c0 the API is in include/mxnet/runtime/c_runtime_api.h but the same problem applies

[2020-09-04 00:05] fireant opened #19086 "cannot find cpp-package"
## Description
The master branch doesn't have the cpp-package directory. It seems in June this was removed?

### Error Message
The C++ package is not built. `USE_CPP_PACKAGE` is not used in the cmake script.

## To Reproduce
Try to build with the c++ package from master.

[2020-09-04 00:57] #19086 closed

[2020-09-04 01:03] pengzhao-intel commented on #19065
@anko-intel

[2020-09-04 03:14] mk-61 commented on #19019
I took this original script and hybridized the model, and found out that each step of RNN is hybridized separately.
Nothing is wrong with this, I guess, but just curious - is it possible to modify it so that RNN hybridizes to a single graph?

[2020-09-04 04:29] szha commented on #19019
For that you will need the mx.contrib.unroll or mx.sym.contrib.foreach

[2020-09-04 10:03] ekdnam commented on #19048
Okay.

The command I am using is:

[code]

The error now is:

[code]

[2020-09-04 10:08] ekdnam commented on #19048
The `cblas.h` and `blas.h` error disappeared when `-DOpenBLAS_INCLUDE_DIR=C:\opt\OpenBLAS\include\openblas` and `-DUSE_MKL_IF_AVAILABLE=0` was added.

A suggestion, it should be specified in `cmake\modules\FindOpenBLAS.cmake` where `OpenBLAS_INCLUDE_DIR` should point to.

[2020-09-04 11:11] khoaimon180901 opened #19087 "Unable to install mxnet"
I can not use 'pip install mxnet' in command prompt to intstall mxnet. It keep appearing a list with long of issues that I hardly to know what it is . Here it is a small part of my issue
![image](https://user-images.githubusercontent.com/70476363/92233211-10c74f00-eeda-11ea-9d29-8c0ee3ae4f0f.png)

[2020-09-04 11:30] gzuchow commented on #18879
Hi @beew,

Sorry to hear that you have still a problem with MXNet.
I have tried to reproduce second issue which you encountered. Using Ubuntu 18.04 and 20.04 and flags used by you:

It ran smoothly, even completed with cmake method.

I want to ask about a version of used MXNet and other libiraries.
PAX-utlis will be needed for this setp:
`apt install pax-utils`
Then run this and post to us the res

[2020-09-04 12:38] hmf opened #19088 "Broken link in documentation: tutorial MXNet on IntelliJ"
## Description

Click on link results in error 404

### Error Message
Error 404 - page not found

## To Reproduce

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. Got to https://mxnet.apache.org/versions/1.6/api/java/docs/tutorials/mxnet_java_on_intellij
2. Scroll down to step 6
3. Click on any of the 2 `Java Demo project ` links that point to https://github.com/ap

[2020-09-04 12:40] ekdnam commented on #19087
For Apache MXNet, one of the requirements is OpenBLAS or MKL. You perhaps have to download and build one of them first.

In your screenshot, in the bottom-most part, it can be seen that the prompt says something about MKL.

Please refer this as well: https://pypi.org/project/mxnet/ . Here it is written that MXNet uses OpenBLAS.

@szha do correct if I am wrong.

[2020-09-04 12:54] yajiedesign commented on #19048
missing OpenBLAS_LIB=path_to_open_blas_lib

[2020-09-04 13:07] yajiedesign commented on #19048
not set -DUSE_LAPACK=0
not set USE_CPP_PACKAGE=1

[2020-09-04 13:13] yajiedesign commented on #19048
do you run git submodule init and git submodule update.

[2020-09-04 13:17] ekdnam commented on #19048
The cmake gui shows the correct path for OpenBLAS_LIB, so I have not specified it. If you say so, I will add it to the cmake command.

[2020-09-04 13:17] ekdnam commented on #19048
not set -DUSE_CPP_PACKAGE=1

Okay. Will not add them to the cmake command

[2020-09-04 13:18] ekdnam commented on #19048
I don't know about these commands. So have not run them

[2020-09-04 14:13] ekdnam commented on #19048
The cmake command now is

[code]

After building the project, only one error was there

[code]

[2020-09-04 14:43] hmf commented on #18931
@szha Just a small comment and question on the issue of the tutorials asked by @pengzhao-intel. I am starting to look at this framework and find that I need to *hunt* down the dependencies so that the project examples work.

Case in point the [MNIST example](https://docs.djl.ai/examples/docs/train_mnist_mlp.html) has a link to the  [setup](https://docs.djl.ai/docs/development/setup.html). However,

[2020-09-04 15:04] hmf commented on #17783
I would like to add a my two cents.

In regards to the language I am partial to Scala because:

* It has a cleaner and more terse syntax
* It has good type inference that helps in coding (avoid bugs)
* Good interoperability with Java (like Clojure and Kotlin)
* It has meta-programming that can be used to generate boilerplate

However, Scala comes with some issues:

* APIs are usually over-engineer

[2020-09-04 16:22] StevenJokes opened #19089 "Chaos docs"
## Description
Chaos docs
https://mxnet.apache.org/versions/1.6/api/python/docs/tutorials/packages/gluon/blocks/init.html

![image](https://user-images.githubusercontent.com/25657787/92262466-c1027b00-ef0d-11ea-933c-cf382008d13c.png)
![image](https://user-images.githubusercontent.com/25657787/92262490-ceb80080-ef0d-11ea-99df-5893c8b521ef.png)

## What have you tried to solve it?

1.
2.

## Environ

[2020-09-04 16:26] leezu commented on #19048
The problem is that you should not run cmake multiple times without first deleting the `CMakeCache.txt`. Some of your errors can be related to having an inconsistent set of options from prior configuration runs and the newly specified options.

[2020-09-04 16:29] leezu commented on #19087
Try `pip install --upgrade pip`.

This issue is not related to MXNet

[2020-09-04 17:45] szha commented on #19087
@ekdnam yes, MXNet does support OpenBLAS or MKL as the BLAS library, though for that package OpenBLAS is already bundled.

As @leezu mentioned, the error actually happened during installation of numpy, so @khoaimon180901 your best bet is likely to first upgrade pip and see if it can match pre-built package instead of getting matched only to source distribution (which requires building during insta

[2020-09-04 17:54] szha commented on #18931
@hmf thanks for pointing out the issue on dependencies.

For tutorials on mxnet.apache.org, they are jupyter notebooks in markdown format (processed by notedown) that are executed at the time of building the documentation. for the examples folder, we plan to move them to the [new repo](https://github.com/apache/incubator-mxnet-examples) gradually, guarded by regular CI checks to make sure they are

[2020-09-04 17:59] szha commented on #19088
Thanks for reporting the issue. Since we are using the master branch for the 2.0 upgrade while using v1.x branch for developing for MXNet v1, some examples have been temporarily removed on master branch.

I think the docs shouldn't have linked to the master branch. The examples you look for are still available in https://github.com/apache/incubator-mxnet/tree/v1.6.x/scala-package/mxnet-demo/java-d

[2020-09-04 22:41] Zha0q1 commented on #19077
If no one is actively working on this I will give it a try.

[2020-09-04 23:17] yajiedesign commented on #19048
look like you openblas is static link.change to dynamic link.

[2020-09-05 00:04] szha commented on #19077
thanks for bringing this up! yes I think it would be very useful. make sure the semantics is consistent with np.gcd.

[2020-09-05 09:24] hmf commented on #18931
@szha Thanks for the answers regarding the checks. Thanks for link also.

Oops, my apologies. Scratch that.

[2020-09-05 09:31] hmf commented on #19088
@szha Thanks for the links. BTW, v1.7.x is also correct.

[2020-09-05 19:27] #6909 closed

[2020-09-05 19:27] #7184 closed

[2020-09-05 19:27] #7410 closed

[2020-09-05 19:27] #7880 closed

[2020-09-05 19:27] #7907 closed

[2020-09-05 19:27] #8439 closed

[2020-09-05 19:27] #8448 closed

[2020-09-05 19:27] #8504 closed

[2020-09-05 19:27] #8515 closed

[2020-09-05 19:27] #8529 closed

[2020-09-05 19:27] #8606 closed

[2020-09-05 19:27] #8683 closed

[2020-09-05 19:27] #8705 closed

[2020-09-05 19:27] #8772 closed

[2020-09-05 19:27] #8832 closed

[2020-09-05 19:27] #9205 closed

[2020-09-05 19:27] #9476 closed

[2020-09-05 19:27] #9516 closed

[2020-09-05 19:27] #10052 closed

[2020-09-05 19:27] #10247 closed

[2020-09-05 19:27] #10269 closed

[2020-09-05 19:27] #10456 closed

[2020-09-05 19:27] #10502 closed

[2020-09-05 19:27] #10519 closed

[2020-09-05 19:27] #10529 closed

[2020-09-05 19:27] #10602 closed

[2020-09-05 19:27] #10625 closed

[2020-09-05 19:27] #10674 closed

[2020-09-05 19:27] #10715 closed

[2020-09-05 19:27] #10904 closed

[2020-09-05 19:27] #10937 closed

[2020-09-05 19:28] #10987 closed

[2020-09-05 19:28] #11019 closed

[2020-09-05 19:28] #11071 closed

[2020-09-05 19:28] #11111 closed

[2020-09-05 19:28] #11458 closed

[2020-09-05 19:28] #11898 closed

[2020-09-05 19:28] #11980 closed

[2020-09-05 19:28] #12001 closed

[2020-09-05 19:28] #12082 closed

[2020-09-05 19:28] #12127 closed

[2020-09-05 19:28] #12154 closed

[2020-09-05 19:28] #12228 closed

[2020-09-05 19:28] #12239 closed

[2020-09-05 19:28] #12241 closed

[2020-09-05 19:28] #12244 closed

[2020-09-05 19:28] #12434 closed

[2020-09-05 19:28] #12452 closed

[2020-09-05 19:28] #12461 closed

[2020-09-05 19:28] #12514 closed

[2020-09-05 19:28] #12575 closed

[2020-09-05 19:28] #12577 closed

[2020-09-05 19:28] #12671 closed

[2020-09-05 19:28] #12708 closed

[2020-09-05 19:28] #12751 closed

[2020-09-05 19:28] #12765 closed

[2020-09-05 19:28] #12814 closed

[2020-09-05 19:28] #12820 closed

[2020-09-05 19:28] #12863 closed

[2020-09-05 19:28] #12931 closed

[2020-09-05 19:28] #12990 closed

[2020-09-05 19:28] #13053 closed

[2020-09-05 19:28] #13073 closed

[2020-09-05 19:28] #13076 closed

[2020-09-05 19:28] #13087 closed

[2020-09-05 19:28] #13139 closed

[2020-09-05 19:28] #13187 closed

[2020-09-05 19:29] #13198 closed

[2020-09-05 19:29] #13219 closed

[2020-09-05 19:29] #13248 closed

[2020-09-05 19:29] #13312 closed

[2020-09-05 19:29] #13327 closed

[2020-09-05 19:29] #13337 closed

[2020-09-05 19:29] #13349 closed

[2020-09-05 19:29] #13363 closed

[2020-09-05 19:29] #13366 closed

[2020-09-05 19:29] #13381 closed

[2020-09-05 19:29] #13395 closed

[2020-09-05 19:29] #13397 closed

[2020-09-05 19:29] #13399 closed

[2020-09-05 19:29] #13457 closed

[2020-09-05 19:29] #13520 closed

[2020-09-05 19:29] #13545 closed

[2020-09-05 19:29] #13585 closed

[2020-09-05 19:29] #13594 closed

[2020-09-05 19:29] #13608 closed

[2020-09-05 19:29] #13610 closed

[2020-09-05 19:29] #13639 closed

[2020-09-05 19:29] #13644 closed

[2020-09-05 19:29] #13650 closed

[2020-09-05 19:29] #13670 closed

[2020-09-05 19:29] #13688 closed

[2020-09-05 19:29] #13781 closed

[2020-09-05 19:29] #13863 closed

[2020-09-05 19:29] #13902 closed

[2020-09-05 19:29] #13919 closed

[2020-09-05 19:29] #13944 closed

[2020-09-05 19:29] #13987 closed

[2020-09-05 19:29] #14017 closed

[2020-09-05 19:29] #14019 closed

[2020-09-05 19:29] #14034 closed

[2020-09-05 19:29] #14046 closed

[2020-09-05 19:29] #14047 closed

[2020-09-05 19:29] #14048 closed

[2020-09-05 19:29] #14074 closed

[2020-09-05 19:29] #14088 closed

[2020-09-05 19:29] #14089 closed

[2020-09-05 19:29] #14104 closed

[2020-09-05 19:30] #14106 closed

[2020-09-05 19:30] #14110 closed

[2020-09-05 19:30] #14164 closed

[2020-09-05 19:30] #14175 closed

[2020-09-05 19:30] #14220 closed

[2020-09-05 19:30] #14225 closed

[2020-09-05 19:30] #14353 closed

[2020-09-05 19:30] #14508 closed

[2020-09-05 19:30] #14539 closed

[2020-09-05 19:30] #14544 closed

[2020-09-05 19:30] #14548 closed

[2020-09-05 19:30] #14558 closed

[2020-09-05 19:30] #14576 closed

[2020-09-05 19:30] #14609 closed

[2020-09-05 19:30] #14650 closed

[2020-09-05 19:30] #14672 closed

[2020-09-05 19:30] #14694 closed

[2020-09-05 19:30] #14700 closed

[2020-09-05 19:30] #14708 closed

[2020-09-05 19:30] #14724 closed

[2020-09-05 19:30] #14741 closed

[2020-09-05 19:30] #14761 closed

[2020-09-05 19:30] #14774 closed

[2020-09-05 19:30] #14784 closed

[2020-09-05 19:30] #14792 closed

[2020-09-05 19:30] #14817 closed

[2020-09-05 19:30] #14822 closed

[2020-09-05 19:30] #14827 closed

[2020-09-05 19:30] #14854 closed

[2020-09-05 19:30] #14861 closed

[2020-09-05 19:30] #14863 closed

[2020-09-05 19:30] #14892 closed

[2020-09-05 19:30] #14913 closed

[2020-09-05 19:30] #14915 closed

[2020-09-05 19:30] #14918 closed

[2020-09-05 19:30] #14932 closed

[2020-09-05 19:30] #14941 closed

[2020-09-05 19:30] #14943 closed

[2020-09-05 19:30] #14953 closed

[2020-09-05 19:30] #14956 closed

[2020-09-05 19:31] #15074 closed

[2020-09-05 19:31] #15075 closed

[2020-09-05 19:31] #15077 closed

[2020-09-05 19:31] #15093 closed

[2020-09-05 19:31] #15105 closed

[2020-09-05 19:31] #15108 closed

[2020-09-05 19:31] #15136 closed

[2020-09-05 19:31] #15193 closed

[2020-09-05 19:31] #15238 closed

[2020-09-05 19:31] #15315 closed

[2020-09-05 19:31] #15339 closed

[2020-09-05 19:31] #15348 closed

[2020-09-05 19:31] #15359 closed

[2020-09-05 19:31] #15372 closed

[2020-09-05 19:31] #15432 closed

[2020-09-05 19:31] #15479 closed

[2020-09-05 19:31] #15496 closed

[2020-09-05 19:31] #15504 closed

[2020-09-05 19:31] #15512 closed

[2020-09-05 19:31] #15520 closed

[2020-09-05 19:31] #15534 closed

[2020-09-05 19:31] #15536 closed

[2020-09-05 19:31] #15553 closed

[2020-09-05 19:31] #15572 closed

[2020-09-05 19:31] #15573 closed

[2020-09-05 19:31] #15583 closed

[2020-09-05 19:31] #15639 closed

[2020-09-05 19:31] #15665 closed

[2020-09-05 19:31] #15710 closed

[2020-09-05 19:31] #15734 closed

[2020-09-05 19:31] #15780 closed

[2020-09-05 19:31] #15788 closed

[2020-09-05 19:31] #15793 closed

[2020-09-05 19:31] #15797 closed

[2020-09-05 19:31] #15824 closed

[2020-09-05 19:31] #15844 closed

[2020-09-05 19:31] #15848 closed

[2020-09-05 19:31] #15862 closed

[2020-09-05 19:31] #15863 closed

[2020-09-05 19:32] #15866 closed

[2020-09-05 19:32] #15891 closed

[2020-09-05 19:32] #15957 closed

[2020-09-05 19:32] #15958 closed

[2020-09-05 19:32] #15962 closed

[2020-09-05 19:32] #15998 closed

[2020-09-05 19:32] #16001 closed

[2020-09-05 19:32] #16042 closed

[2020-09-05 19:32] #16121 closed

[2020-09-05 19:32] #16227 closed

[2020-09-05 19:32] #16230 closed

[2020-09-05 19:32] #16232 closed

[2020-09-05 19:32] #16237 closed

[2020-09-05 19:32] #16239 closed

[2020-09-05 19:32] #16269 closed

[2020-09-05 19:32] #16275 closed

[2020-09-05 19:32] #16282 closed

[2020-09-05 19:32] #16296 closed

[2020-09-05 19:32] #16298 closed

[2020-09-05 19:32] #16331 closed

[2020-09-05 19:32] #16387 closed

[2020-09-05 19:32] #16405 closed

[2020-09-05 19:32] #16459 closed

[2020-09-05 19:32] #16557 closed

[2020-09-05 19:32] #16587 closed

[2020-09-05 19:32] #16651 closed

[2020-09-05 19:32] #16661 closed

[2020-09-05 19:32] #16665 closed

[2020-09-05 19:32] #16677 closed

[2020-09-05 19:32] #16726 closed

[2020-09-05 19:32] #16771 closed

[2020-09-05 19:32] #16775 closed

[2020-09-05 19:32] #16852 closed

[2020-09-05 19:32] #16867 closed

[2020-09-05 19:32] #16882 closed

[2020-09-05 19:32] #16946 closed

[2020-09-05 19:32] #16958 closed

[2020-09-05 19:32] #17072 closed

[2020-09-05 19:32] #17122 closed

[2020-09-05 19:33] #17132 closed

[2020-09-05 19:33] #17157 closed

[2020-09-05 19:33] #17237 closed

[2020-09-05 19:33] #17383 closed

[2020-09-05 19:33] #17587 closed

[2020-09-05 19:33] #17664 closed

[2020-09-05 19:33] #18333 closed

[2020-09-05 19:33] #18447 closed

[2020-09-05 22:00] marcoabreu opened #19091 "Bullet points on website are not separated by new lines"
## Description
On https://mxnet.apache.org/versions/1.6/api/faq/security.html the bullet point list does not get separated into newlines

### Error Message
![image](https://user-images.githubusercontent.com/18629099/92314122-fd98aa00-efd3-11ea-9567-bf49f825d59f.png)

[2020-09-05 23:15] beew commented on #18879
Actually there is no  /opt/intel/bin/compilervars.sh intel64
Intelmkl on this machine was installed with the deb repository
https://software.intel.com/content/www/us/en/develop/articles/installing-intel-free-libs-and-python-apt-repo.html

So in this case the library paths should already in standard locations ( e,g /usr/lib/x86_64-linux-gnu)

I appreciate the help, but probably isn't worth the trou

[2020-09-06 13:45] StevenJokes commented on #19089
![image](https://user-images.githubusercontent.com/25657787/92327144-34c99280-f08a-11ea-9125-89aa95c1a36e.png)

https://mxnet.apache.org/versions/1.6/api/python/docs/tutorials/getting-started/crash-course/6-use_gpus.html

[2020-09-06 13:56] ekdnam commented on #19048
I remove `CMakeCache.txt.` everytime while building. Perhaps it solves the problem you mention.

[2020-09-06 13:57] ekdnam commented on #19048
I have cloned the repo recursively. So imo there is no need to do that.

[2020-09-06 13:57] ekdnam commented on #19048
How to do this?

[2020-09-07 02:04] yajiedesign commented on #19048
download openblas official and set -DOpenBLAS_LIB=xxxx\libopenblas.dll.a

[2020-09-07 06:16] sxjscience commented on #18800
Add the numpy bug fix of pad operator: https://github.com/apache/incubator-mxnet/pull/19044

[2020-09-07 09:43] Franciszzj opened #19097 "HDFS supported wheel."
## Description
A HDFS support wheel. USE_HDFS=1.

[2020-09-07 11:37] Yongle-Fu opened #19098 "emscripten emcmake failed"
emcmake failed.
emcmake cmake .. -DUSE_CUDA=0 -DUSE_OPENCV=0 -DUSE_OPENMP=0 -DUSE_CPP_PACKAGE=1

but without emcmake success.
cmake .. -DUSE_CUDA=0 -DUSE_OPENCV=0 -DUSE_OPENMP=0 -DUSE_CPP_PACKAGE=1

configure: cmake .. -DUSE_CUDA=0 -DUSE_OPENCV=0 -DUSE_OPENMP=0 -DUSE_CPP_PACKAGE=1 -DCMAKE_TOOLCHAIN_FILE=/path/to/emsdk/upstream/emscripten/cmake/Modules/Platform/Emscripten.cmake -DCMAKE_CROSSCOMPILI

[2020-09-07 15:53] onurcanbektas commented on #13512
Same here!

[2020-09-07 16:37] szha commented on #13512
the gradient clipping happens inside optimizer update and is not updated back to the gradient buffers.

[2020-09-07 16:44] onurcanbektas commented on #13512
@szha Thank you very much for the answer; how do you use the `clip_global_norm` with a hybridized network?

[2020-09-07 16:47] onurcanbektas commented on #13512
@szha Also, `clip_global_norm` function does a rescaling and not a clipping. We just want want to ignore the gradients which are larger than some threshold.

[2020-09-07 16:53] szha commented on #13512
I see. So you want to clip the absolute value of each dimension in the gradients instead of rescale based on global norm. You can do the following in this case:
[code]

[2020-09-07 17:00] szha commented on #19098
@Yongle-Fu it looks like when you use emcmake, the build system can't find a blas library. Which blas are you using?

[2020-09-07 17:02] kpuatamazon commented on #18800
@fhieber wants #19099 supporting the intgemm library so that https://github.com/awslabs/sockeye version 2 (based on MXNet 1.x) can be installed with `pip`.

[2020-09-07 22:10] Yongle-Fu commented on #19098
openblas 0.3.10_1
/usr/local/opt/openblas

[2020-09-07 22:15] szha commented on #19098
hmm it should have been found in this path https://github.com/apache/incubator-mxnet/blob/master/cmake/Modules/FindOpenBLAS.cmake#L29. What might be happening is that the emcmake wrapper didn't pass on the environment variables that helped you find openblas due to its choice of shebang. Try setting `${OpenBLAS_HOME}` instead.

[2020-09-08 01:24] wkcn commented on #19077
There is a PR about np.gcd (https://github.com/apache/incubator-mxnet/pull/16744/files).
I do not know why it is closed.

[2020-09-08 04:12] Zha0q1 commented on #19077
I had something very similar to that PR that I was going to publish. @haojin2 would you share shed some lights on why the pr was closed?

[2020-09-08 04:12] Yongle-Fu commented on #19098
resolved by add setting

IF(NOT OpenBLAS_LIB)
  set(OpenBLAS_INCLUDE_DIR "/usr/local/opt/openblas/include")
  set(OpenBLAS_LIB "/usr/local/opt/openblas/lib/libopenblas.dylib")
ENDIF()

[2020-09-08 04:12] #19098 closed

[2020-09-08 04:29] ma-hei commented on #18380
Hi, sorry I haven't looked at #18445 in a while. Will take a look again this week.

[2020-09-08 09:21] wzzju commented on #19052
![image](https://user-images.githubusercontent.com/17102274/92449845-3790c880-f1ed-11ea-95a6-6f748e797e87.png)
I find the MxNet used in NGC 20.06 container is customized，because there is no `F.BatchNormAddRelu` found in the [incubator-mxnet](https://github.com/apache/incubator-mxnet) repo. Besides, `nn.BatchNorm` in NGC 20.06 container MxNet version is also different from this repo, as described b

[2020-09-08 09:27] wzzju commented on #19052
Thanks. Tesla V100-16GB and the single card is used.
![image](https://user-images.githubusercontent.com/17102274/92458533-1b465900-f1f8-11ea-9629-fc89c28aa805.png)
![image](https://user-images.githubusercontent.com/17102274/92458844-8728c180-f1f8-11ea-8e48-d02572d67a2f.png)

[2020-09-08 12:20] r3stl355 opened #19101 "[v1.x] [MAC] test_operator.test_index_copy causes `bus error`, possible segfault"
## Description
This only happens on my Mac on v1.x. The same test on v2.0 runs and passes. I can also see that the same test succeeds on  `centos-cpu` CI.
Other posts for this type error i found online suggest possible segfault as an underlying problem.

## To reproduce
`nosetests tests/python/unittest/test_operator.py:test_index_copy`

## Environment
OS: Catalina: 10.15.6

`clang --version`:
Appl

[2020-09-08 16:34] szha commented on #19101
@r3stl355 thanks for reporting the issue. Could you set environment variables `DMLC_LOG_STACK_TRACE_DEPTH=150 MXNET_ENGINE_TYPE=NaiveEngine` and run the same program again and share the stacktrace?

[2020-09-08 16:47] samskalicky commented on #18800
Thanks @sxjscience and @kpuatamazon, looking forward to those additions to the 1.8.0 release. Can you please give an ETA for those backport PRs? Will you still be able to have those ready by September 18th code freeze date?

[2020-09-08 18:00] r3stl355 commented on #19101
Thank you @szha , `MXNET_ENGINE_TYPE=NaiveEngine` did the trick, no more errors, I'm now going to read-up to understand what it does

[2020-09-08 19:24] szha commented on #19101
@r3stl355 it forces the execution to be synchronous, and if it resolves the issue it means there's a race condition that needs to be resolved.

[2020-09-08 20:48] szha commented on #18800
I agree that this is an important feature though we may not make it in time.

[2020-09-09 03:03] onurcanbektas commented on #13512
Thanks a lot for the help @szha ; I've tried your proposed solution and done many different simulations but in each case, the problem persisted (though the gradient explosion is deferred to later stages of the learning)

[2020-09-09 05:27] ekdnam commented on #19048
I think there is some problem with my laptop leading to an inability to build MXNet.  I have followed the entirety of the instructions we talked about here, yet no result :((((

[2020-09-09 09:58] r3stl355 opened #19104 "Error in test_operator.py::test_deformable_convolution"
## Description
AttributeError: module 'mxnet.symbol.numpy_extension' has no attribute 'deformable_convolution'.

Looks like `src/operator/contrib/deformable_convolution.cc` has been removed or renamed from codebase, closest attribute I found is `deconvolution` but I'm not sure if it's about the same thing

## Occurrences
To replicate, `python -m pytest tests/python/unittest/test_operator.py -k "te

[2020-09-09 12:35] r3stl355 opened #19105 "Fatal Python error: Aborted in test_operator.py::test_correlation"
## Description
`python -m pytest tests/python/unittest/test_operator.py -k "test_correlation"` throws `Fatal Python error: Floating point exception` here: https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_operator.py#L3237-L3238

## Occurrences
Happens on MacOS, not tested/seen elsewhere

[2020-09-09 18:40] relaxli00 commented on #17719
Not sure if it's because of your python version of 3.8. Python 3.8 need implicitly claim the path for the dll dependents search. For example, if you're using cuda, you'll need claim the path of its dlls in your program using os.add_dll_directory(). It's a popular topic of Python 3.8 dll loading.

[2020-09-09 20:23] szha commented on #19105
Thanks for reporting. I tried just now on a mac and didn't trigger the same problem. Could you also add information on your mxnet build, and the environment?

[2020-09-09 20:24] szha commented on #19104
@r3stl355 this has been moved to the npx namespace #19046 and you need to re-build mxnet or update your source code.

[2020-09-09 20:30] #18952 closed

[2020-09-09 21:07] r3stl355 commented on #19105
Perhaps my mxnet build is outdated, I'll follow with an update after rebuild

[2020-09-10 07:07] r3stl355 commented on #19104
Issue disappeared after full rebuild, learning from my own mistakes here

[2020-09-10 07:07] #19104 closed

[2020-09-10 07:08] r3stl355 commented on #19105
Issue disappeared after full rebuild, learning from my own mistakes here, sorry for wasted time

[2020-09-10 07:08] #19105 closed

[2020-09-10 09:09] gzuchow commented on #18879
Using this tutorial: https://software.intel.com/content/www/us/en/develop/articles/installing-intel-free-libs-and-python-apt-repo.html by default mkl packages are installed in /opt/intel/ location.

[2020-09-10 16:08] szha commented on #19105
no worries

[2020-09-10 16:55] gpk2000 opened #19111 "Image broken in Documentation Page"
## Description
The images are not visible in this documentation page.

https://mxnet.apache.org/versions/1.6/api/python/docs/tutorials/packages/autograd/index.html

[2020-09-10 17:02] samskalicky commented on #18229
This is being invoked here:
https://github.com/apache/incubator-mxnet/blob/3840786a25b16d0cfe6411e26f25aba8d3b574ff/cmake/BuildTVM.cmake#L19

that tries to download the llvm archive here:
https://github.com/apache/incubator-mxnet/blob/3840786a25b16d0cfe6411e26f25aba8d3b574ff/contrib/tvmop/prepare_tvm.sh#L48

[2020-09-10 17:06] #16108 closed

[2020-09-10 17:29] leezu commented on #16108
Do we still need the ConnectSubgraphOutputs and ConnectSubgraphInputs now?

[2020-09-10 17:31] beew commented on #18879
No, they are not. Doesn't matter what the documentation says, it is probably outdated. I know where they are installed in my machine. I don't know about intel-python, I haven't installed that.

[2020-09-10 19:24] keithbriggs opened #19114 "Installation missing at https://github.com/deepinsight/mxnet"
. Installation

*click*

404 page not found :(

[2020-09-10 19:33] szha commented on #19114
Hi @keithbriggs. Thanks for reporting this. Could you provide the link to the webpage that has the broken link?

[2020-09-10 19:35] keithbriggs commented on #19114
In the issue title.

Another one: at https://mxnet.incubator.apache.org/versions/1.6/get_started/build_from_source, it says "Starting with MXNet 1.7, MXNet recommends using the cmake cross platform build tool", but at https://mxnet.incubator.apache.org/versions/1.6/get_started/download, the latest release is 1.6.0.

________________________________
From: Sheng Zha <notifications@github.com>
Sent:

[2020-09-10 19:41] szha commented on #19114
@keithbriggs thanks. The one in the title is a fork of mxnet by deepinsight (so @nttstar may be able to help you).
The 1.7 website update is ongoing in #19102 and will be made available soon.

[2020-09-10 21:18] samskalicky commented on #16108
good question. we'll need to go look at the various subgraph properties and see what they are doing in those functions.

[2020-09-11 08:04] sxjscience opened #19118 "[Bug][Numpy] MXNet fp16 initialization bug"
Ignore the following reproducible and see the comment later.
[code]

Error:
[code]

Root cause:
https://github.com/apache/incubator-mxnet/blob/fb73de7582de4e622299a4ad045e25f771568193/python/mxnet/initializer.py#L510

This should be changed to `uniform_fn(-self.scale, self.scale, arr.shape, dtype=arr.dtype, out=arr)`

@mk-61 This should also be related to AMP.

[2020-09-11 13:33] kohillyang commented on #19118
I think the following line should be added to convert the model to FP16.
[code]

[2020-09-11 16:00] chrisroat commented on #18657
Yes, thank you!

[2020-09-11 17:11] sxjscience commented on #19118
Forgot to add the `cast` in the example. The error I met is as follows:

[code]

Error:
[code]

[2020-09-11 20:25] josephevans commented on #19012
This has been completed with PR #19017

[2020-09-11 20:25] #19012 closed

[2020-09-11 23:05] leezu commented on #18800
I'd like to include a fix for NaiveEngine::PushAsync https://github.com/apache/incubator-mxnet/pull/19122

[2020-09-11 23:25] leezu commented on #11516
This is working after updating ccache to 3.7.9 https://github.com/ccache/ccache/pull/563

[2020-09-11 23:25] #11516 closed

[2020-09-12 00:02] #17924 closed

[2020-09-12 04:43] StevenJokes opened #19124 "Die DIe DIe DIE aaaaa Fk. I hate world. Non-sense. Shit！！！！"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2020-09-12 04:48] szha commented on #19124
We do not tolerate spam or abusive conduct in the community. Please review the [code of conduct](https://github.com/apache/incubator-mxnet/blob/master/CODE_OF_CONDUCT.md) and behave.

[2020-09-12 04:48] #19124 closed

[2020-09-12 04:51] StevenJokes opened #19125 "Die DIe DIe DIE aaaaa Fk. I hate world. Non-sense. Shit！！！！"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2020-09-12 04:51] StevenJokes opened #19126 "Die DIe DIe DIE aaaaa Fk. I hate world. Non-sense. Shit！！！！"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2020-09-12 04:51] StevenJokes opened #19127 "Die DIe DIe DIE aaaaa Fk. I hate world. Non-sense. Shit！！！！"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2020-09-12 04:51] StevenJokes opened #19128 "Die DIe DIe DIE aaaaa Fk. I hate world. Non-sense. Shit！！！！"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2020-09-12 04:52] StevenJokes opened #19129 "Die DIe DIe DIE aaaaa Fk. I hate world. Non-sense. Shit！！！！"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2020-09-12 05:12] #19129 closed

[2020-09-12 05:12] #19125 closed

[2020-09-12 05:15] #19127 closed

[2020-09-12 05:16] #19126 closed

[2020-09-12 05:39] #19128 closed

[2020-09-12 07:05] szha commented on #19124
@StevenJokes has been blocked from Apache MXNet for 7 days as a result of continued spamming in #19125 #19126 #19127 #19128 #19129 despite the warnings above.

[2020-09-13 02:58] ChaiBapchya opened #19132 "PyPi 1.7.0 install fails"
On Linux, PyPI installation of 1.7.0 not available.
Despite https://pypi.org/project/mxnet/1.7.0/ exists.
[code]

[code]

[2020-09-13 02:59] ChaiBapchya commented on #19132
Workaround was to install 1.7.0.post1
[code]
It works. However, if PyPI website for mxnet shows a particular version, it should be installable.

[2020-09-13 04:39] kohillyang commented on #18800
@szha  I found that training with mx.mod.Module setting MXNET_BACKWARD_DO_MIRROR to 1 takes more GPU memory than Gluon HybridBlock. Because if setting MXNET_BACKWARD_DO_MIRROR to 1, MXNET_USE_FUSION must be also set to 1 because it seems that relu has been fused. Does it mean that Gluon does not need MXNET_BACKWARD_DO_MIRROR? Or we can't generate Symbol from HybridBlock and must write a network wi

[2020-09-13 04:56] samskalicky commented on #18800
@kohillyang thanks for the update. Would you mind opening a separate issue to track debugging? If you do end up opening a PR with a fix please post back here so we can track that for the release. Thank you!

[2020-09-13 05:01] szha commented on #18800
@kohillyang mirror and fusion are two orthogonal techniques that help save memory and Gluon (or specifically CachedOp) still needs to implement it. I can help elaborate more once you open a tracking issue.

[2020-09-13 06:03] kohillyang opened #19133 "Implement MXNET_BACKWARD_DO_MIRROR in Gluon."
## Description
MXNET_BACKWARD_DO_MIRROR is a technology to save GPU memory cost. It is important because some tasks like Object Detection and semantic segmentation can benefit from a larger batch size. Currently, Gluon(or CachedOp) has not implemented it yet.

MXNET_USE_FUSION is also an option to save memory cost. And it seems that MXNET_USE_FUSION is conflict with MXNET_BACKWARD_DO_MIRROR. If MX

[2020-09-13 06:10] kohillyang commented on #18800
@samskalicky @szha Thank you very much. I created an issue for this <https://github.com/apache/incubator-mxnet/issues/19133>.

[2020-09-13 18:11] #9686 closed

[2020-09-13 19:39] tadam98 commented on #18657
Hi, I have installed WSL2 on windows 10 and things appear to be working.
WSL2 requites CUDA 11.
Is there a **pip install mxnet-cu110** or similar for using mxnet on this new platform?

Thanks,
Mickey

[2020-09-13 20:04] szha commented on #18657
not yet. I will open a PR to enable this build

[2020-09-13 20:08] tadam98 commented on #18657
Please do. As WSL2 is now working not bad at all with my 2080 TI super GPU and some of my stuff uses mxnet.
________________________________
From: Sheng Zha <notifications@github.com>
Sent: Sunday, September 13, 2020 11:04:34 PM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: tadam98 <tadam_98@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [apache/incubator-mxn

[2020-09-13 20:11] tadam98 commented on #18657
Would cuda 9.2 or 10.x work in WSL2 ?
________________________________
From: Sheng Zha <notifications@github.com>
Sent: Sunday, September 13, 2020 11:04:34 PM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: tadam98 <tadam_98@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [apache/incubator-mxnet] MXNET for cuda 11.0 Nvidia 450 (#18657)

not yet. I will open a PR

[2020-09-13 20:38] samskalicky opened #19135 "MXNet extensions semantic versioning"
## Description
Currently the _lib_api.h_ has a version number in it that is required to match the one in MXNet when loading the library. This simplifies testing and ensures that libraries will work with a specific version of MXNet. It also allows the APIs to evolve without being restrained.

Starting in the 2.0 release onwards, should we change this to follow semantic versioning? And if so, how do

[2020-09-13 21:05] szha commented on #19135
In general, features in MXNet must follow semantic versioning. This means that if a feature is offered as an official, non-experimental API in a release, then backward-incompatible change to it is no longer allowed in future revision. This applies to both 1.x and 2.x.

Specific to the recent changes in extensions in #19117, it looks they fall in the category of adding functionality. One way to mak

[2020-09-13 21:30] samskalicky commented on #19135
In previous 1.x releases we're been terribly inconsistent:
- 1.6.0 didnt have a `MX_LIBRARY_VERSION` number: https://github.com/apache/incubator-mxnet/blob/1.6.0/include/mxnet/lib_api.h#L25-L33
- 1.7.0 had version number 7: https://github.com/apache/incubator-mxnet/blob/1.7.0/include/mxnet/lib_api.h#L52
- 1.8.0 will have version number 10: https://github.com/apache/incubator-mxnet/blob/35feed66342

[2020-09-14 03:56] eric-haibin-lin commented on #18543
We mainly need to pass shape & dtype info here: https://github.com/apache/incubator-mxnet/blob/master/src/imperative/cached_op.h#L252-L255

[2020-09-14 04:00] ciyongch commented on #19029
Here's another item I would like to mention as below:

### 6 Release Process Guidelines Update
Currently, several sections of the release process on [MXNet Confluence wiki](https://cwiki.apache.org/confluence/display/MXNET/Release+Process) is out of date, in order to provide a clear instructions to the release manger, I would suggest to keep updating the document if there's any change in the proce

[2020-09-14 05:50] szha opened #19137 "Document issues to fix before 2.0 beta0"
## Description

Here are the items that need to be finished before 2.0 beta so that we are confident we have a good working website for documentation.

- [x] Fix warnings in API doc
- [x] Fix warnings in tutorials
- [x] Turn on fail on warnings for doc builds.
- [x] Automatically run and evaluate notebooks

[2020-09-14 05:52] szha opened #19138 "Gluon 2.0 update in built-in blocks"
## Description
Blocks in Gluon should switch to use the np/npx interface with the Gluon 2.0 forward interface.

[2020-09-14 05:57] szha commented on #19133
See https://github.com/apache/incubator-mxnet/issues/18543#issuecomment-691796140

[2020-09-14 06:00] szha opened #19139 "[Development] v2.0.0 beta 0 release"
Hi MXNet community,

This discussion is about the MXNet 2.0's first beta release. This beta release is expected to be the first of the several beta releases before the official release of 2.0. In general, for each release follows a fixed cadence of a monthly update without stopping for minor issues.

In the first beta release, we include all the features listed in #18931 for the Python binding. He

[2020-09-14 08:52] szha commented on #19029
Thanks for bringing this to our attention. Since you & Tao were
instrumental in releasing v1.7 while Przemek & Co. led efforts for v1.6, it
would be great to have the Release Process wiki updated; especially now
since me, Sam & Joe work on v1.8 release.

Let us know once it's updated by you'll.

Thanks
Chai

On Sun, 13 Sep 2020 at 21:01, ciyong <notifications@github.com> wrote:

--
*Chaitanya Prak

[2020-09-14 09:26] ciyongch commented on #19029
I've updated the contents mainly related to the license and website section, and leave a comments for "Manual Docs Build" in section 1.6 which I'm not sure whether we need to keep it or not.

[2020-09-14 12:24] dtarakanov1 commented on #14589
I get `Unrecognized attribute: spatial for operator BatchNormalization` in one of my scenarios.

Quantize a ResNet model.
[code]
The model is converted with a warning:
[code]

Save the model and try running inference
[code]
[code]
Run model check, just in case:
[code]
Something different:
[code]
If try `onnx_tf.backend.prepare` I get another problem, and if I convert the model into a later opset I

[2020-09-14 12:38] pengzhao-intel commented on #19132
Another workaround is `pip install mxnet`

[2020-09-14 16:25] szha commented on #14589
cc @josephevans who's working on ONNX improvements.

[2020-09-15 00:26] kbumsik opened #19144 "Links in README.md are broken"
Hi, I started looking around MXNet.

I just wanted to let you know that the links to "Contents/Social Media" and "Contents/Contribute to MXNet" throw 403 error.

This might have impact on first impression of the framework to newcomers.

![image](https://user-images.githubusercontent.com/7823583/93150787-0f492280-f735-11ea-9874-095e3d592efb.png)

[2020-09-15 00:32] szha commented on #19144
Thanks for reporting the issue, @kbumsik! At the moment, there's an issue that prevents direct linking to the page in mxnet master branch document. You can find those pages by going to https://mxnet.apache.org/, select master branch in the version selector in the upper right, and then click on "Contribute to MXNet" in the bottom left corner.

cc @ys2843. we will need to have the master branch path

[2020-09-15 00:37] kbumsik commented on #19144
Thanks for a quick response @szha, I got the link to the pages as you said :)

[2020-09-15 00:45] szha commented on #19144
A temporary fix: https://github.com/apache/incubator-mxnet/pull/19145

[2020-09-15 00:53] leezu commented on #19139
In MXNet 1.x supports building a single libmxnet.so and use it on both CPU or GPU machines. This is not possible in MXNet 2 due to making nvrtc a required dependency and https://github.com/apache/incubator-mxnet/issues/17858 This can be a blocking issue for users moving from MXNet 1 to MXNet 2.

[2020-09-15 02:50] kohillyang commented on #18543
Is it possible to implement MXNET_BACKWARD_DO_MIRROR if bacthnorm is used? It seems that the parameters of BatchNorm and SyncBatchNorm are updated by themselves (I'm not sure about this). So we may need some extra memory to store these old parameters. It is meaningful since we can assume the size of these parameters are small enough. However, it seems that in current implementation, updating of ba

[2020-09-15 07:48] haohuanw opened #19150 "v1.7.x head commit with MKL failure"
## Description
when running with built mxnet-1.7 with head of v1.7.x; if I create a model with even number of channels in batch norm, I got the is_view check failure when using mkldnn.

### Error Message
[code]

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
[code]

## Wh

[2020-09-15 12:14] sfraczek opened #19151 "FindMKL.cmake small bugs"
## Description
1. `cmake/Modules/FindMKL.cmake` doesn't search `$HOME/intel` path, but only `/opt/intel`. I believe it could search both because if mkl is installed without sudo, it is installed in `$HOME/intel`.
2. `mklvars.sh` exports env variable `MKLROOT` therefore FindMKL should search in `ENV{MKLROOT}` instead of `ENV{MKL_ROOT}` because `MKL_ROOT` is cmake variable.
3. Unused cmake variables

[2020-09-15 21:02] szhengac opened #19155 "CUDA: Check failed: e == cudaSuccess: misaligned address with 3-layer BERT pretraining"
When I pretrained a 3-layer BERT model using GluonNLP 0.10 on one p3.24dn instance with 32GB GPU memory, I received `CUDA: Check failed: e == cudaSuccess: misaligned address`.  With batch size 128 in total, it uses 11GB GPU memory and no error occurs. But when I slightly increased the total batch size to 176 or double it to 256, I received the error. I have cherry-picked https://github.com/apache/

[2020-09-15 21:14] szha commented on #19155
What's the mxnet version/commit?

[2020-09-16 05:28] pengzhao-intel commented on #19151
@anko-intel

[2020-09-16 05:28] pengzhao-intel commented on #19150
@anko-intel

[2020-09-16 07:36] kohillyang opened #19159 "GPU memory usage keeps increasing even hybridize with static_alloc when used in flask debug mode after mxnet 1.6.0post0."
## Description
Hello, I'm using flask with mxnet to write a server. Since it is a web app, we want the GPU memory is fully static allocated.
However, as the title said, I found the GPU memory usage keeps increasing when the version of mxnet is 1.6.0post0 and 1.7.0, and if you are using mxnet 1.5.1, then all things are good. Since Flask debug mode uses multi-threading, I think it may be caused by s

[2020-09-16 15:00] wkcn commented on #19159
Hi @kohillyang , I think it is not related to MXNet.

When there is a new connection, the library flask will create a new python process to handle the connection, which creates a new copy of MXNet instance `predictor`.

[2020-09-16 18:25] kohillyang commented on #19159
@wkcn but even if flask has created a new process, the GPU memory should be freed once the process ends. And the predictor is created in the main function, which should only be called once and has only one predictor instance. On the other side, if the main process has initialized a CUDA environment, the mxnet in the subprocess will fail when inference because their CUDA file descriptor can not be

[2020-09-17 02:47] DickJC123 opened #19166 "[1.x] test_gluon_data_vision.py:test_random_transforms failures seen"
## Description
Repros are:
[code]
Whoever takes on this issue to fix, please verify the test is solid afterwards with:
[code]
When I ran the above command, the test failed at around iteration 700.  This test may have the same issues on master.

FYI. @samskalicky

## Occurrences
(Links to the known occurrences.)

## What have you tried to solve it?

1.
2.

[2020-09-17 02:54] ciyongch commented on #19150
Hi @haohuanw Does this failure only happen in v1.7.x branch or the others as well?

[2020-09-17 04:00] haohuanw commented on #19150
I wasn't got a chance to test other branch; I did couple build using different commit in v1.7.x branch on commit 651e24b281e9e2b405808bd4ec0423a4e6a5a946 and it still fails.

My suspicion is one of:
+ 651e24b281e9e2b405808bd4ec0423a4e6a5a946
+ 3143aabb60038b555db2960d712fb2806b16d581
+ d95de55c322cc67a117958f5ff6faa5d6f25d1b6

introduces the issue.

[2020-09-17 05:05] szhengac commented on #19155
i have tried 5b506000310fd6bc5852bf4e41c0ce03ccc64013 and 1.8.0. I got the error when vocab size is 52000, and this does not happen when vocab size is 32000. So I guess embedding layer may have something to do with it.

[2020-09-17 05:06] sxjscience commented on #19155
Let me check it later today. It only happens in fp16?

[2020-09-17 05:07] szhengac commented on #19155
i only tried fp16

[2020-09-17 05:14] sxjscience commented on #19155
Would you try again with `export MXNET_SAFE_ACCUMULATION=0`? So we can check if it's caused by https://github.com/apache/incubator-mxnet/pull/18385/files

[2020-09-17 05:16] szhengac commented on #19155
5b50600 does not include that pr

[2020-09-17 05:17] sxjscience commented on #19155
So the error still appear on the master even if https://github.com/apache/incubator-mxnet/pull/18385/files is included?

[2020-09-17 05:18] szhengac commented on #19155
i didn't use 2.0 as it is not compatible as 0.10.

[2020-09-17 05:19] szhengac commented on #19155
but 1.8.0 contains #18385

[2020-09-17 05:41] ciyongch commented on #19150
Thanks for your inputs, @anko-intel will help to take a look.

[2020-09-17 10:38] akarbown commented on #19150
I've got repro and will look into it.

[2020-09-17 18:19] DickJC123 opened #19169 "Flakey cpu R test?"
## Description
I think it's important to document non-deterministic CI failures we've run into during our PR polishing.  Along that vein, I saw the following error in pipline https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-19148/runs/2/nodes/303/steps/771/log/?start=0

[code]

A retry of the pipeline passed without th

[2020-09-17 18:50] leezu opened #19170 "Indexing memory sharing discrepancy"
## Description
MXNet array indexing will only match numpy memory sharing in a few cases.

## To Reproduce
Simple slice; mxnet matches numpy

[code]

Slice with step; mxnet diverges

[code]
as numpy still shares memory between the arrays:

[code]

[2020-09-17 19:06] szha commented on #19170
the new python api standard includes read-only views

[2020-09-18 00:49] DickJC123 commented on #19082
@eric-haibin-lin I work with a version of MXNet that has differences I have yet to PR, e.g. in the files imperative/cached_op.{h,cc}.  When I went to merge PR https://github.com/apache/incubator-mxnet/pull/16654, there were merge conflicts, given the sizable refactoring, that I attempted to correct.  However, since the threadsafe unittests were removed, I have no way of testing if my resolved merg

[2020-09-18 01:03] leezu commented on #19139
Another item may be the issue of test coverage. For example, https://github.com/apache/incubator-mxnet/issues/19082 reports that multi-threaded inference test-cases are missing due to refactor, but the feature is still included in MXNet and should be tested before release.

[2020-09-18 01:11] szhengac commented on #19155
when i skip the attention layer and only keep the embedding layer and final dense layer, i received Segmentation fault.

[2020-09-18 02:07] sxjscience commented on #19155
@szhengac Usually, the error message is caused by the force alignment constraint in CUDA, for example, for the two lines in the following, we must ensure that

https://github.com/apache/incubator-mxnet/blob/5b506000310fd6bc5852bf4e41c0ce03ccc64013/src/operator/tensor/indexing_op-inl.cuh#L306-L307
[code]
Also, usually this type of error message can be captured by `MSHADOW_CUDA_POST_KERNEL_CHECK`.

[2020-09-18 02:14] sxjscience commented on #19155
Also, another check you may do is to ensure that the memory address of `grad_in.dptr` and `grad_out.dptr_` are aligned with `LType`: https://github.com/apache/incubator-mxnet/blob/5b506000310fd6bc5852bf4e41c0ce03ccc64013/src/operator/tensor/indexing_op.cu#L804-L809
[code]

[2020-09-18 02:35] szha commented on #19132
current doc says `pip install mxnet` for the CPU version which should work.

[2020-09-18 02:35] #19132 closed

[2020-09-18 02:37] #19114 closed

[2020-09-18 02:39] szha commented on #19024
@karan6181 any update?

[2020-09-18 07:43] zxc971365 opened #19176 "null pointer error"
File "mxnet\python\mxnet\_ffi\function.py", line 106, in list_global_func_names, is plist null pointer?
when i import mxnet, i have OSError: exception: access violation writing 0x0000000000000000 in line 110, ctypes.byref(plist)

Env：
Windows 10
Python 3.7.8
Visual Studio 2019
mxnet 1.7.0

[2020-09-18 10:49] llv22 opened #19177 "module 'mxnet.symbol' has no attribute 'SoftmaxOutput'"
## Description
build mxnet with gpu on ubuntu 16.04 and found the aforementioned issue. I use master branch to build mxnet and installed mxnet in my local, build code as follow:

[code]

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

----------------------------------

[2020-09-18 11:17] wkcn commented on #19177
Hi @llv22 , `SoftmaxOutput` has been deprecated in MXNet 2.0 (the master branch).
In order to use `SoftmaxOutput`, you can use MXNet 1.x (the branch v1.x, https://github.com/apache/incubator-mxnet/tree/v1.x)

[2020-09-18 12:21] llv22 commented on #19177
@wkcn So if moving to v2.0, any suggestions?I mean, any alternative for it? Could you post a reference of migration?

[2020-09-18 13:58] wkcn commented on #19177
You can replace `net = mx.sym.SoftmaxOutput(data=net, label = "output")` with `net = mx.gluon.loss.SoftmaxCrossEntropyLoss()(net)`

https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/loss.py

[2020-09-18 18:30] szha commented on #19082
Looks like it was mainly due to the dependency on mxnet cpp package in the test. rewriting the test to use c api should be the way to go.

[2020-09-18 20:45] austinmw commented on #19024
Hi, I'm getting `corrupted size vs. prev_size` with:
`horovodrun -np 4 -H localhost:4 python train_faster_rcnn.py --dataset coco --horovod --disable-hybridization --batch-size 4`

[2020-09-18 23:11] leezu opened #19183 "CI: Sanity step spends >50% of time on running filepermission update script"
## Description
Out of 8m 16s total runtime for Lint step, 5 minutes are spent on `RUN /work/docker_filepermissions.sh`

[code]

See https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fsanity/detail/PR-19182/1/pipeline/39/

This case may have been extreme (unlucky), but ideally we can figure out how to prevent it.

This may be related to the fact that `RUN /work/doc

[2020-09-18 23:34] DickJC123 commented on #19169
Similar failure hitting another PR:

https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-19142/runs/7/nodes/303/steps/697/log/?start=0

[2020-09-19 01:04] DickJC123 commented on #19169
Resurfacing of error from years ago: https://github.com/apache/incubator-mxnet/issues/13439

[2020-09-19 09:42] kohillyang commented on #19177
@llv22 An alternative is ms.sym.log_softmax with mx.sym.pick.

[2020-09-19 18:52] szha commented on #19177
@llv22 you can use `mx.npx.softmax` for the same.

[2020-09-19 19:34] DickJC123 commented on #19169
Hitting another PR: https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-19184/runs/3/nodes/303/steps/781/log/?start=0

[2020-09-20 03:33] believeitmyway opened #19193 "Amalgamation"
The amalgamation folder seems to disappear from the repo, is it no longer supported?  I want to minimize the dependency and convert it to a single file. Is there another way?

[2020-09-20 04:48] szha commented on #19193
Amalgamation is still available in [v1.x](https://github.com/apache/incubator-mxnet/tree/v1.x/amalgamation).

In terms of generating a single binary to link to that minimizes dependency, you could use `-DMXNET_BUILD_SHARED_LIBS=OFF` to build static library of mxnet with `.a` extension, link to it, and strip all symbols that weren't used. On linux, you can use `strip --strip-unneeded` on your final

[2020-09-20 04:57] believeitmyway commented on #19193
Thank you so much.  I have another question.  The URL below states that we can also remove the dependency on BLAS.  Is there any procedure for that?

https://mxnet.apache.org/versions/1.7/api/faq/smart_device

[2020-09-20 05:37] szha commented on #19193
I think that comment may be outdated. BLAS functions include accelerated gemm which is quite essential to deep learning. I would recommend to always choose a BLAS library in any case.

[2020-09-20 05:45] DickJC123 opened #19197 "[1.x] Test failure seen in recently introduced intgemm test"
## Description
A test_contrib_intgemm.py:test_contrib_intgemm_prepare_data failure was seen in pipeline:
https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-19186/runs/3/nodes/293/steps/515/log/?start=0

Not sure if this repros the error, or if the error is also present on master:
[code]
Test was recently introduced into

[2020-09-20 05:52] believeitmyway commented on #19193
I understand that.  Thank you!

[2020-09-20 05:57] kohillyang commented on #19177
I think what you need is <https://mxnet.apache.org/versions/1.6/api/python/docs/api/gluon/loss/index.html>, however, as wkcn said, you should use v1.x branch instead.

[2020-09-20 06:01] kohillyang commented on #19159
@wkcn predictor is created by `predictor = Predictor()`, not `r = predictor()`, since its children function `__calll__` is overided.

[2020-09-20 21:17] szha commented on #19159
@leezu could this be related to the issue fixed by #18328 #18363?

[2020-09-21 02:37] ciyongch opened #19198 "Dual license header issue"
## Description
This is to track the dual license header issue of file [cmake/Modules/FindJeMalloc.cmake](https://github.com/apache/incubator-mxnet/blob/master/cmake/Modules/FindJeMalloc.cmake) which mentioned in https://github.com/apache/incubator-mxnet/pull/18478.

[2020-09-21 03:04] #19193 closed

[2020-09-21 08:47] bgawrych commented on #19022
This issue will be fixed with oneDNN v1.7 release (planned October 23). We have partial workaround for this and if this is urgent we can open pull request.

[2020-09-21 09:43] kpuatamazon commented on #19197
I am able to reproduce.  Investigating.

[2020-09-21 10:43] kpuatamazon commented on #19197
Ugh sorry, at least it's a test issue rather than a code issue.  I've submitted PRs to fix in both branches.

[2020-09-21 13:33] kpuatamazon commented on #19169
I'm seeing it too in #19201 https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-19201/runs/1/nodes/303/steps/764/log/?start=0 ironically trying to fix my flakey test.

[2020-09-21 15:19] DickJC123 commented on #19169
@thirdwing Reaching out to you as an "R Ninja" on issue https://github.com/apache/incubator-mxnet/issues/19169.

The PR here makes a (theoretically) non-functional change to the failing test UNET of test_img_seg.R.  The modified test has passed CI 7 times with no error (not sure if this is enough times to draw a conclusion).  Can you think of an explanation why this change might fix the problem?

[2020-09-21 19:16] leezu commented on #19159
@kohillyang so you are creating a new predictor in every HTTP call? Thus yes, a new Block is created in every HTTP call and due to https://github.com/apache/incubator-mxnet/pull/18328 the parameter of the Block won't be deallocated.

https://github.com/apache/incubator-mxnet/pull/18328/files only contains Python changes. Would you like to try applying the changes to your MXNet files and see if the

[2020-09-22 01:13] kohillyang commented on #19159
Why do you think I'm creating a new predictor in each call? Apparently there is only one instance for Predictor.

[2020-09-22 02:04] DickJC123 opened #19207 "How to keep CI reliable- extra 'shake-out' of newly added tests?"
## Description
This is a suggestion for a new CI feature.  The problem addressed is known to most- when one submits a PR, one often has to rerun the CI many times to get past flaky unittests unrelated to the PR.  But is a test that fails 0.1% of the time 'flaky'?  Well, if our unittest suite accumulates 100 such 'semi-flaky' tests, and those tests are run in 10 jobs, there will be an average of 1

[2020-09-22 02:19] leezu commented on #19159
You're creating a predictor inside `def net_forward()`. I don't know how often that is called.

[2020-09-22 02:20] leezu commented on #19159
Nevermind, I didn't read your `def net_forward()` carefully enough

[2020-09-22 02:21] leezu commented on #19159
Thus this is unrelated to #18328

[2020-09-22 09:40] xxxpsyduck opened #19208 "Could not find ONNX_LIBRARY using the following names: libonnx.so"
## Description
Bug occurs when trying to build mxnet with tensorrt support (Ubuntu 18.04)
### Error Message
[code]
## To Reproduce

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. Clone mxnet repo
2. cd mxnet
3. mkdir build && cd build
4. cmake -DUSE_TENSORRT=1 ..

## What have you tried to solve it?

1. Try to build onnx-tensorrt in mxnet/3rdparty/onnx-tensorrt/bu

[2020-09-22 12:15] woolpeeker commented on #17848
I meet the same problem.  Has it solved?

[2020-09-22 15:18] #16967 closed

[2020-09-22 19:46] #19197 closed

[2020-09-22 19:51] szha commented on #19207
Thanks for the proposal on addressing the flaky test problem. I've been also thinking the same and here are a couple of suggestions that may help:
- if we introduce a new mxnet-bot command that can trigger requested tests using MXNET_TEST_COUNT=1000 that contributors/committers/reviewers can use, this can help reduce the cost of verifying flaky tests and thus prevent new flaky tests from being mer

[2020-09-22 19:55] szha commented on #19208
cc @Kh4L. Serge, would you be able to help on this? Let @leezu know in case you need any information regarding cmake.

[2020-09-22 20:50] Kh4L commented on #19208
Hi @xxxpsyduck

Have you built onnx and onnx_tensorrt as it is done here https://github.com/apache/incubator-mxnet/blob/master/ci/docker/runtime_functions.sh#L553 ?

You need this preprocessor variable to be set https://github.com/apache/incubator-mxnet/blob/master/ci/docker/runtime_functions.sh#L575

[2020-09-23 00:23] Zha0q1 opened #19211 "Numpy resize falls back to python custom op implementation"
np.resize relies on mxnet python custom ops to fall back to the authentic numpy.resize. Do we have plan to update it since python custom operators are to be deprecated in 2.0?

[2020-09-23 03:23] xxxpsyduck commented on #19208
@Kh4L hello. Can you explain `CI_CUDA_COMPUTE_CAPABILITIES` and `CI_CMAKE_CUDA_ARCH`?

[2020-09-23 03:41] Kh4L commented on #19208
You can ignore those and it will compile for all the devices.

If not, you can check here https://arnon.dk/matching-sm-architectures-arch-and-gencode-for-various-nvidia-cards/ which cuda archs and gencodes to your target devices.

[2020-09-23 04:20] xxxpsyduck commented on #19208
@Kh4L I successfully built mxnet and installed python binding through command `python3 -m pip install --user -e ./python`. I meet the following error when trying to import mxnet:
[code]

[2020-09-23 04:40] xxxpsyduck commented on #19208
@Kh4L I successfully built mxnet and wheel [](https://github.com/apache/incubator-mxnet/blob/master/ci/docker/runtime_functions.sh#L61). Then I got mxnet installed by running this command:
[code]
I ran into this error when trying to import mxnet:
[code]

[2020-09-23 05:16] ciyongch commented on #18641
Should we close this issue as the minimum fixes were backport to v1.7 release. Or we can make a complete fix in the upcoming 1.8 release? @leezu @samskalicky

[2020-09-23 06:08] samskalicky commented on #18641
Yes, if all the fixes are in v1.x we can close this issue. Given where we are in the release process for v1.8 it would be preferred to have these fixes in the v1.8 so we can have a complete fix in the v1.8 release.

But if not, we can still close the issue as long as its fixed in v1.x and will make it into the next release (ie. v1.9)

[2020-09-23 06:21] bgawrych commented on #18800
Can we add fix for ElemwiseSum too? : https://github.com/apache/incubator-mxnet/pull/19200

[2020-09-23 06:25] samskalicky commented on #18800
Hi @bgawrych, #19200 is already merged into the v1.8.x branch. We're planning to tag the release candidate on Friday and start the vote on Saturday 9/26 so your PR should be included.

[2020-09-23 06:30] xidulu commented on #19211
@szha
Python custom op are going to be deprecated in 2.0? That could be a big issue, since Ops in https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/numpy_op_fallback.py all rely on the fallback mechanism.

[2020-09-23 10:14] #19208 closed

[2020-09-23 19:09] tadam98 commented on #18657
Is there a way I can assist with the PR?

[2020-09-23 21:35] szha commented on #18657
@tadam98 that would be really helpful. Thanks for offering to help. The changes needed are basically the same as other cuda build variants. For example, here are all the mentions of cu102 build: https://github.com/apache/incubator-mxnet/search?q=cu102. These occurrences include changes to build logic and build config, CI/CD, and package information.

Let me know if you have any question or otherwi

[2020-09-23 21:41] szha commented on #19211
@xidulu We are deprecating the custom op frontend in favor of the autograd.Function. Underneath, it shares the same custom op executor. There's no planned change of the backend of custom op.

The numpy fallback ops look straightforward to be adapted to autograd.Function.

[2020-09-24 06:59] austinmw commented on #18265
I've got this error with horovod+gluoncv recently as well

[2020-09-24 13:26] gasabr commented on #14670
i'm trying to build mxnet version 1.5.0 from sources and still receive the same error (in 1.5.1 as well) could you please help me with this? Below goes context of my dockerfile, so the error should be trivial to reproduce
[code]

[2020-09-24 15:01] duothink opened #19217 "how to take specific data from 3 dims NDArray?"
## Description
[code]
out is :
[[[ 1.  2.  3.  4.]
  [ 9. 10. 11. 12.]]

 [[13. 14. 15. 16.]
  [21. 22. 23. 24.]]]
<NDArray 2x2x4 @cpu(0)>

how can I get a NDArray 2x1x4 as below
[
[ [1,2,3,4] ],
[ [21,22,23,24] ]
]

[2020-09-24 15:26] leezu commented on #18265
@austinmw can you provide more details? The bug report here mainly points out that a python level exception should be thrown instead of letting an illegal memory access to happen.

I suspect your issue is orthogonal

[2020-09-24 17:14] buaalsy2003 opened #19218 "CPU inference is very slow for some model checkpoints"
## Description
I have trained a resnet50 model. When running inference using an early checkpoint (0003.params) on CPU, it runs on reasonable speed. However, it is much slower to run inference using a later checkpoint (0023.params) on CPU. Both models runs very fast at similar speed on GPU. I ran the profile and it turns out that the issue is at Conv Layer, where some Conv take up to 110ms.

Here a

[2020-09-25 00:04] szha commented on #19217
Hi, I think what you need is gather_nd
[code]

[2020-09-25 00:04] #19217 closed

[2020-09-25 10:16] feevos commented on #16736
Dear all,

using the new version of mxnet (2.0) solves this problem:

[code]

[2020-09-25 10:16] #16736 closed

[2020-09-25 21:08] szha opened #19227 "tests/python/unittest/test_numpy_op.py::test_np_binary_funcs"
## Description
`tests/python/unittest/test_numpy_op.py::test_np_binary_funcs`

## Occurrences
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-19190/11/pipeline

[2020-09-25 21:23] access2rohit opened #19229 "MXNet CPP_PACKAGE does not build with large tensor support(LTS)"
## Description
Currently only non-large tensor build can be built for C++ language
bindings and not the int64 version

## Reason
MXNet supports large tensor only for Python language bindings

To get more traction for LTS on CPP package we need more external customers and use cases to take it up as higher priority.

[2020-09-25 22:03] wangtieqiao opened #19230 "Java Binding API is broken"
## Description
the link provided below is broken, I can not find any instruction on how to install java binding ..

https://mxnet.apache.org/get_started/build_from_source#install-the-mxnet-package-for-java

[2020-09-25 22:15] leezu opened #19231 "opperf memory corruption crash after stack operator"
## Description
Running the opperf benchmark on the master branch causes memory corruption and crash after the `stack` operator

### Error Message
First try
[code]

Second try
[code]

## To Reproduce
On Ubuntu 18.04, compile with `cmake -GNinja -DUSE_CUDA=0  ..; ninja`.
Then run the benchmark with `PYTHONPATH=$PYTHONPATH:~/src/mxnet-master/ python3 mxnet-master/benchmark/opperf/opperf.py --output-f

[2020-09-25 22:20] ChaiBapchya commented on #19231
One thing to be sure its an issue with an op would be to try if opperf terminates successfully w/o stack op
did you try removing the stack op from the mix?

https://github.com/apache/incubator-mxnet/blob/b225fa5d3c9b6d9ba10533fcbf20a20c6aa96aff/benchmark/opperf/nd_operations/array_manipulation_operators.py#L251-L263
this is where it gets tested

[2020-09-25 22:30] leezu commented on #19231
Issue persists after removing the stack op

[code]

[2020-09-25 22:58] leezu commented on #19231
Essentially it crashes for any set of operators:

If I disable anything but `run_mx_unary_operators_benchmarks`, it crashes as follows

[code]

If I disable anything but `run_mx_binary_broadcast_operators_benchmarks`, it crashes as follows

[code]

@ChaiBapchya the issue may be with the opperf setup itself. Would you have time to fix it?

[2020-09-25 23:07] szha commented on #19230
cc @lanking520

[2020-09-25 23:46] lanking520 commented on #19230
@wangtieqiao here is the steps to follow:

1. Build from source for MXNet 1.x or grab released native file from pip wheel and place it to the `lib` folder.
2. cd scala-package and run `mvn install`, this should build the whole Scala/Java package. You can grab the package from there to use the Java bindings.

Another option is to use AWS maintained DeepJavaLibrary for MXNet Java support. You can fo

[2020-09-26 00:16] #15662 closed

[2020-09-26 08:55] kohillyang commented on #9624
@solin319 Does it means that the parameters would be updated even its grad_req is set to "null" if the wd_mult is not set to zero?

I think this behavior is unexpected.

[2020-09-26 15:49] wangtieqiao commented on #19230
hi @lanking520 Thanks for looking into this

**But I can not find** `scala-package` as you mentioned .... Below is the  directory after I pull from source, and follow instruction to run cmake for linux.cmake
`
.
├── 3rdparty
│   ├── ctc_include
│   ├── dlpack
│   ├── dmlc-core
│   ├── googletest
│   ├── mkldnn
│   ├── mshadow
│   ├── nvidia_cub
│   ├── onnx-tensorrt
│   ├── openmp
│   ├── ps-lite

[2020-09-26 18:43] szha commented on #19230
@wangtieqiao it's available on v1.x in https://github.com/apache/incubator-mxnet/tree/v1.x/scala-package

[2020-09-26 18:46] szha opened #19232 "test_numpy_gluon_data_vision.py::test_random_gray"
## Description
tests\python\unittest\test_numpy_gluon_data_vision.py::test_random_gray

## Occurrences
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-19190/14/pipeline/

[2020-09-26 18:48] szha commented on #9624
I think @wkcn fixed this issue in https://github.com/apache/incubator-mxnet/pull/18500

[2020-09-26 18:48] #9624 closed

[2020-09-26 20:00] wangtieqiao commented on #19230
ok, got it -- it is on v1.x branch. Thanks @szha

[2020-09-26 20:00] #19230 closed

[2020-09-27 01:42] lele012 opened #19234 "import mxnet in arm64 error"
## Description
This error occurred when I was using MXNET on ARM64。

“/usr/local/lib/python3.7/site-packages/mxnet/libmxnet.so”，but in the path，lib file(libmxnet.so) is existed.

I installed MXNET by "pip install mxnet"。Is there no ARM64 MXNET image on Dockerhub ？

### Error Message
root@face-6ff98747f6-rtl5n:/# python
Python 3.7.9 (default, Sep 10 2020, 15:29:47)
[GCC 8.3.0] on linux
Type "help",

[2020-09-27 01:44] szha commented on #19234
@lele012 at the moment users need to build from source for arm support. We are planning on adding official arm support in near future. cc @sandeep-krishnamurthy

[2020-09-27 01:52] lele012 commented on #19234
@szha Ok，i know ，thanks。Later，i will try to build from source.

[2020-09-27 02:39] sandeep-krishnamurthy commented on #19234
@mseth10 @josephevans

[2020-09-27 05:28] #18913 closed

[2020-09-27 06:48] wanghr323 opened #19235 "question about function _get_optimal_threshold"
Hello, I’m doing work on the weighting of the convolutional layer. I tried the "_get_optimal_threshold" function of incubator-mxnet/python/mxnet/contrib/quantization.py in mxnet, but I found that no matter what value I pass in , The final threshold return value of this function will return the maximum and minimum values of arrary (finally implemented using the C function),
but when I try to use th

[2020-09-27 21:33] kstawiski opened #19238 "Unable to compile mxnet R package."
## Description
Since few last commits, I'm having a problem with compiling and installing mxnet for R in Docker image.
Nothing changed in the command that previously worked.

### Error Message
[code]

It happens on both CPU and GPU-based version.

### Steps to reproduce
(Paste the commands you ran that produced the error.)

For CPU-based version:

[code]

For GPU-based version:

[code]

## What ha

[2020-09-27 21:35] szha commented on #19238
Hi @kstawiski, we have temporarily removed the R package from the master branch due to C-API changes. For now, please make sure that you use `git clone --recursive https://github.com/apache/incubator-mxnet.git -b v1.x` when checking out the code base.

[2020-09-27 21:44] kstawiski commented on #19238
Thank you @szha for the quick response. Closing the issue.

[2020-09-27 21:44] #19238 closed

[2020-09-28 02:40] xxxpsyduck opened #19239 "mxnet-tensorrt 1.8 build python package issue"
## Description
I followed exactly the build steps in `runtime_functions.sh` but got an error `OSError: libonnx_proto.so: cannot open shared object file: No such file or directory` when trying to import mxnet.

### Error Message
[code]

## To Reproduce
### Steps to reproduce

1. build mxnet from v1.8.x branch step by step following [https://github.com/apache/incubator-mxnet/blob/v1.8.x/ci/docker/ru

[2020-09-28 02:42] szha commented on #19239
That missing file is from ONNX and I don't think we ever required linking to it. Since runtime_functions.sh have many different build settings, could you list the exact commands/function you used?

[2020-09-28 02:51] xxxpsyduck commented on #19239
@szha Yes. I listed them in "Step to reproduce"

[2020-09-28 05:01] szha commented on #19239
cc @Kh4L

[2020-09-28 07:16] PrShi113 opened #19240 "Could not find a version"
After typing
pip install mxnet-cu101==1.6.0

ERROR: Could not find a version that satisfies the requirement mxnet-cu101==1.6.0 (from versions: 1.5.0)
ERROR: No matching distribution found for mxnet-cu101==1.6.0

How can I install a 1.6.0 version???

[2020-09-28 11:47] PrShi113 commented on #19240
Then I uninstalled mxnet 1.5.0, however I still cannot install 1.6.0 version by using
pip install mxnet-cu101==1.6.0. Errors occurred...

[2020-09-28 13:41] sfraczek commented on #19235
Hi,
What do you mean by v1.0.0 version? Could you give a link to code of that version?

[2020-09-28 13:45] wanghr323 commented on #19235
sorry，its the branch v1.2.0……
function is in
https://github.com/apache/incubator-mxnet/blob/v1.2.0/python/mxnet/contrib/quantization.py   line249

[2020-09-28 14:52] grygielski commented on #19218
Hi @buaalsy2003 thanks for reporting this bug, I've managed to reproduce it. I'll try to find cause and fix it.

[2020-09-28 16:30] moseswmwong opened #19242 "Mxnet very slow - running the ssd_512_mobilenet1.0_voc model on Windows 10"
## Description

Installation stem from this link
- https://mxnet.apache.org/versions/1.7/get_started/windows_setup

Mxnet runs very slow on my Windows 10 machine. It is 64 bits system:
- CPU - Intel i7, gaming grade PC
- RAM - 16 G
- GPU - nVidia GTX 1080 8G RAM
- Harddisc - 4 TB

Installations inside Windows, as I strictly followed all instruction possible with careful check every milestone.
- An

[2020-09-28 16:44] leezu commented on #19240
Hi @PrShi113, you can see the available versions at https://pypi.org/project/mxnet-cu101/#history In particular, you may be interested in 1.6.0.post0

[2020-09-28 16:44] #19240 closed

[2020-09-28 16:53] leezu commented on #19239
@xxxpsyduck you may just need to add a statement to copy the library in https://github.com/apache/incubator-mxnet/blob/8e9877b1cc33d271508075c336f8bd34a28e977b/tools/pip/setup.py#L149-L159

[2020-09-28 17:42] szha commented on #19242
cc @zhreshold

[2020-09-28 19:42] kpuatamazon opened #19245 "Performance: avoid memory allocation in MXNDArrayAt"
## Description

I think all `MXNDArrayAt` and `MXNDArrayAt64` is index an array to (eventually) return a scalar.  An operation users might call frequently.  It should not require memory allocation, yet the current code creates a `new NDArray` that in turn allocates its own buffer.

https://github.com/apache/incubator-mxnet/blob/e5a781430ba9e30584c2c58c3ce60b2159b4a08c/src/c_api/c_api.cc#L1980-L199

[2020-09-28 20:02] ptrendx commented on #19155
@szhengac Could you post a larger excerpt from the crash / give repro instructions?

[2020-09-29 00:07] zhreshold commented on #19242
@moseswmwong it's very likely the matplotlib plot is the bottleneck in the video loop, try disable the vis part of the code and see if it speed up?

[2020-09-29 00:40] djaym7 opened #19247 "asnumpy() on cpu is 80 times slower than gpu"
mxnet 1.7.0 latest cu101 and cu101mkl aws p3.2x instance.

**code pasted below to reproduce:**
my results :
![image](https://user-images.githubusercontent.com/12378820/94499535-c9b73b80-01b1-11eb-9c9b-c11f60c1072b.png)

[code]

[2020-09-29 01:39] samskalicky commented on #19247
Cleaned up the code a bit:
[code]
Heres the output I get on P3.2xl with mxnet-cu102 (version 1.7.0):
[code]

[2020-09-29 01:42] lanking520 commented on #17783
Hi all, after talking with @frankfliu, I think we can donate DJL's MXNet JNA (source code) to Apache MXNet for the low level Java support. Having that, Apache MXNet will be able to build from source generating all frontend low level Java API for users to use. The good part is it's maintainance cost, it require very minimal dependencies and everything is generated:

https://github.com/awslabs/djl/t

[2020-09-29 03:40] xxxpsyduck commented on #19239
@leezu I added the following lines to `tools/pip/setup.py` and `python/setup.py`:
[code]
The error still occurs.

[2020-09-29 03:57] dai-ichiro commented on #19242
net.parameters and rgb_nd are on GPU ?

[code]
[code]

[2020-09-29 04:19] szhengac commented on #19155
@ptrendx here is more error msg:

`[1,3]<stderr>:[ip-172-31-3-104:27783] *** Process received signal ***
[1,3]<stderr>:[ip-172-31-3-104:27783] Signal: Segmentation fault (11)
[1,3]<stderr>:[ip-172-31-3-104:27783] Signal code: Address not mapped (1)
[1,3]<stderr>:[ip-172-31-3-104:27783] Failing at address: 0xfffffffffffffffc
[1,3]<stderr>:[ip-172-31-3-104:27783] [ 0] /lib64/libpthread.so.0(+0x117e0

[2020-09-29 04:21] szhengac commented on #19155
I have tried xingjian's suggestions on adding check to the embedding op but got no msg.

[2020-09-29 10:13] PascalIversen opened #19248 "mxnet-cu100: can't import mxnet"
## Description
I can't `import mxnet`
### Error Message
---------------------------------------------------------------------------
[code]

## To Reproduce
[code]
[code]
`import mxnet `

## Environment

[code]

[2020-09-29 11:49] grygielski commented on #19218
Hi again @buaalsy2003. Problem here is inside PReLu activation functions. During training your model, some `gamma` parameters reached very low, denormalized floating point values. It slows down the execution of computations on CPU. I need some time to prepare proper solution for that but if you need quick fix to run your trained model on CPU, just iterate through parameter dict and set low `prelu`

[2020-09-29 13:05] sfraczek commented on #19235
I'm not experienced with Mxnet yet but I made an experiment comparing both functions and the **old version code** seems to not work properly.
For array arr containing `[ 0.990018   -0.92912527  0.88925551  0.29950806  0.5652269   0.91779029 0.70329186  0.93344053  0.26962166  0.23452311]`
the old returns:
min: 0.0,
max: 1.0,
divergence: 0.012564257718622684
threshold: 1.0

the new  returns:
min: -

[2020-09-29 13:49] sfraczek commented on #19235
I think the old version is buggy. How are you using it?

[2020-09-29 16:18] buaalsy2003 commented on #19218
@grygielski Thanks a lot for your quick action!Just to confirm the workaround works.

[2020-09-29 16:48] szha commented on #19248
This means that the library cannot find the CUDA 10.0 runtime library, which is part of the CUDA 10 toolkit. You will need to set the `LD_LIBRARY_PATH` environment variable to include the path for `libcudart.so.10.0`

[2020-09-29 16:48] #19248 closed

[2020-09-29 16:56] #19247 closed

[2020-09-29 18:42] leezu commented on #18564
Also flaky on CI. @ArmageddonKnight can you take a look why the test is causing segfault?

[code]

https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-19185/runs/2/nodes/277/steps/307/log/?start=0

[2020-09-29 18:45] ArmageddonKnight commented on #18564
@leezu I am currently working the GPU memory profile visualization. I will have a look after I am done with that.

[2020-09-29 18:46] leezu commented on #18564
Thank you!

[2020-09-29 19:06] access2rohit opened #19252 "Unable to build cpp-package/examples"
## Description
I am able to build MXNet with USE_CPP_PACKAGE=ON but unable to build examples in cpp-package/examples folder
in v1.6.x branch: https://github.com/apache/incubator-mxnet/tree/v1.6.x/cpp-package/example

### Error Message
[code]

## To Reproduce
MXNet GPU build with additional flag USE_CPP_PACKAGE=ON

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. Bui

[2020-09-29 21:23] r3stl355 commented on #18800
Can someone review this simple one please - a back-port of bug fix reported first for v1.6:  https://github.com/apache/incubator-mxnet/pull/19095

[2020-09-29 23:06] leezu opened #19255 "@with_seed reports test failure for skipped tests"
## Description
For skipped tests, we will see the output `../tests/python/unittest/test_gluon.py::test_hybrid_static_memory[True-False] [WARNING] Error seen with seeded test, use MXNET_TEST_SEED=458439587 to reproduce.` implying an error was seen, even though the skipping of the test was intentional.

This is due to the very broad exception handling in

https://github.com/apache/incubator-mxnet/bl

[2020-09-30 01:27] ciyongch commented on #19198
@samskalicky not sure if you're aware of this issue, it's better to address this in 1.8.0, what do you think?

[2020-09-30 04:23] saudet commented on #17783
Yes, that's what I'm offering. I would sign up as a contributor to make an initial contribution and also do what needs to be done to get it working for your purposes.

I'm sorry, I must have missed that question, and I'm not sure I see it above. Can you point it out just to be sure? I've since released a Gradle plugin, and I think that answers the question though. Here is an example that builds an

[2020-09-30 04:55] samskalicky commented on #19198
Hi @ciyongch thanks for pointing this out. It would be great to pull in this fix into 1.8 if it already exists. Is there a PR already or is someone working on it?

[2020-09-30 05:58] ciyongch commented on #19198
Hi @samskalicky , I don't think there's anyone working on this, as well as another one regarding pybind11 https://github.com/apache/incubator-mxnet/issues/15547, ping @szha to confirm and see if there's any other potential license issues for the release.

[2020-09-30 07:13] samskalicky opened #19256 "Multiple subgraph properties with single backend issue with optimize_for"
## Description
Theres a difference in the flow between `get_backend_symbol` and `optimize_for` when a single backend has multiple subgraph properties that results in the indexed graph not being updated between subgraph properties.

### Error Message
[code]

## To Reproduce
[code]
### Steps to reproduce
1. clone v1.7.x branch and build from source
2. run code above

### Analysis
The error is occurr

[2020-09-30 07:35] sxjscience commented on #11061
Even in the latest MXNet 2.0, this performance issue was not solved:

- Speed of topk(k=1)

[code]

Output:
[code]

- Speed of argmax:
[code]

Output
[code]

[2020-09-30 07:50] sxjscience commented on #11061
Actually, the latest profiling number shows that the argmax in MXNet is 362 times slower than that in PyTorch...

[2020-09-30 08:49] haojin2 opened #19257 "HybridBlock.export parameter naming scheme is incompatible with Block.load_parameters"
## Desciption
Gluon will throw exception when trying to load back model weights that were just saved seconds ago

## Version
cu102mkl 1.6.0.post0

## Minimal Reproduction
[code]
## Exception & Stack Trace
[code]

[2020-09-30 14:11] moseswmwong commented on #19242
Fixed, thanks!

After using mx.gpu() context method the program runs really fast on GPU.

[2020-09-30 16:51] sxjscience commented on #11061
I think we should try to remove the usage of https://github.com/apache/incubator-mxnet/blob/9de2a48fabf1b8a60eb539640dea4c0637b5522b/src/operator/numpy/np_broadcast_reduce_op.h#L472, and reuse the
`ReduceAxesComputeImpl` https://github.com/apache/incubator-mxnet/blob/9268f89080d84d37aadb295f918515fd6d43436e/src/operator/tensor/broadcast_reduce_op.h#L621-L650

[2020-09-30 17:18] lanking520 commented on #17783
@saudet Sounds good to me.

So can I say that all source code need to build will be inside Apache MXNet? We may only import some other Java packages that are necessary to build instead of consume as submodule.

However, during MXNet 1.x, we are facing one key issue: we have to separate native binary with Java package due to license issue. As far as I know, JavaCPP require both of them build togeth

[2020-09-30 18:27] #19257 closed

[2020-10-01 05:06] sandeep-krishnamurthy commented on #11061
@Zha0q1 - Can you please keep this in your TODO list. looks like interesting and important optimization.
FYI @mseth10 @josephevans

[2020-10-01 05:11] sxjscience commented on #11061
@Zha0q1 Ping me any time if you are blocked.

[2020-10-01 05:13] Zha0q1 commented on #11061
Yeah looks like an important fix. Will find to do it

[2020-10-01 05:52] saudet commented on #17783
I'm not sure I follow. Are you saying that Apache MXNet is not allowed to have dependencies? I see plenty of dependencies being downloaded and compiled when building MXNet. If you're saying JavaCPP cannot be one of those, why is that? If there is a reason that we can't go through Maven Central, we could have https://github.com/bytedeco/javacpp added as a git submodule here. Would that be acceptabl

[2020-10-01 13:18] hmf commented on #17783
@lanking520 In regards to the Scala API, access via Java is just fine. I am sure someone with the itch may end up providing a Scala wrapper 8-)

[2020-10-01 17:50] lanking520 commented on #17783
@saudet if it is a maven package consumption should be fine as long as the license isn't fall under (no license, GPL, LGPL or some license that ASF doesn't approve).
I would +1 to the solution you have mentioned in JavaCPP. One last question is the maintainance cost, since JavaCPP is doing the generation work, how much maintainance does it require from community to keep in here?

@hmf Sure, please

[2020-10-01 18:24] kohillyang opened #19264 "Same Network can hybridize on CPU but can not hybridize on GPU."
## Description
Hello, I wrote a network with a list as inputs, it works OK if I hybridize it on CPU or not hybridize and just run it on GPU.
But once I try to hybridize it on GPU, it tell me something like ` Check failed: it != node2index_.end() && it->first == e.node.get(): `. I have tried to set `MXNET_ENGINE_TYPE` to `NaiveEngine` but it does not give me any useful information.

### Error Messa

[2020-10-01 18:35] Zha0q1 opened #19265 "MKLDNN RNN seg fault"
A customer is experiencing seg fault when feeding in a large input to MKL LSTM. I have reduced the code to this:
[code]
I think this is some sort of out of memory issue because if we shrink the input (first dim of `inp`) then there will not be a seg fault, but still, shall we add some error message here so that users will be notified to reduce the input size?

I also noticed the same input will ru

[2020-10-01 18:40] Zha0q1 commented on #19265
seg fault:
[code]

GDB:
[code]

[2020-10-01 20:15] sandeep-krishnamurthy commented on #19265
@TaoLv @ciyongch @PatricZhao - Hello guys. Can you please help in this issue. We saw atleast 2 production users impacted by this and USE_MKLDNN=0 was temp fix, but performance is really bad as expected. This is a blocker.

[2020-10-01 21:02] access2rohit opened #19268 "split_and_load always returning NDArray"
## Description
before the PR #17123 `split_and_load` when passed CSRNDArray would return CSRNDArray for batch_axis=0 but now return NDArray.

## To Reproduce
[code]
Output:
[code]

## What have you tried to solve it?
PR for Fix #19267

## Environment

We recommend using our script for collecting the diagnositc information. Run the following command and paste the outputs below:
[code]

[2020-10-01 21:10] sandeep-krishnamurthy commented on #19265
@anko-intel

[2020-10-02 00:46] AnshuTrivedi commented on #19118
Hi @sxjscience I want to fix this issue. Please assign me. Thanks

[2020-10-02 00:47] sxjscience commented on #19118
Thanks for the contribution @AnshuTrivedi . You may try to fix the initializers and add a test case in https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_numpy_gluon.py

[2020-10-02 01:10] wkcn commented on #19264
It is a bug.

The temporary solution is to pass multiple NDArrays rather than a list of NDArray.

For example:
[code]

[2020-10-02 05:26] AnshuTrivedi commented on #18962
Hi @szha ,I want to work on this issue.Please assign to me.

[2020-10-02 05:35] #19242 closed

[2020-10-02 05:48] AnshuTrivedi commented on #19118
@sxjscience i'm facing difficulty in [test_numpy_gluon](https://github.com/apache/incubator-mxnet/blob/2d3ce934f8ef95940744a84c24ba389bf307bb5a/tests/python/unittest/test_numpy_gluon.py#L66).
I think test is writen ,what changes have to make there?
Please help me.

[2020-10-02 10:49] moseswmwong opened #19279 "Gluon-cv cannot down model file with model_zoo.get_model"
## Description

On MacOS, my python code is:

import mxnet
import glouoncv as gcv
...
net = gcv.model_zoo.get_model('ssd_512_mobilenet1.0_voc', pretrained=True, root='.')
...

The problem is when I run it download fail, it get stuck at the following, never have any further progress for a long time:
[code]
curl --retry 10 -s https://raw.githubusercontent.com/apache/incubator-mxnet/master/tools/diag

[2020-10-02 10:54] brightening-eyes opened #19280 "adding support for TPU devices"
## Description
TensorFlow (natively) and pytorch (with a package called torch_xla) supports running computations on TPU devices.
they are created specially for deep learning.
mxnet can have support for it using mx.tpu() besside gpu and cpu

## References
* [pytorch_xla](https://github.com/pytorch/xla)
* [python api for coral devices](https://coral.ai/docs/edgetpu/api-intro/)

[2020-10-02 16:37] mozga-intel commented on #19265
Thanks, @Zha0q1 @sandeep-krishnamurthy! I have a look at this issue.

[2020-10-02 22:52] #19256 closed

[2020-10-03 02:48] ndeepesh commented on #18734
@szha Can you link the document with workaround? We are also seeing similar issues with python multiprocessing

[2020-10-03 04:30] szha commented on #18734
@ndeepesh the workaround would be to avoid using GPU context before initializing for the multiprocess.

[2020-10-03 05:49] ndeepesh commented on #18734
Thanks @szha . Also is this issue intermittent? We dont see this issue for all our training jobs.

[2020-10-03 12:20] wms2537 commented on #17045
Problem still exist when building on Jetson NX
[code]

Here's my cmake config
[code]

[2020-10-03 13:36] kohillyang commented on #19264
There is a simpler reproduce case:
[code]

The input is a tuple instead of a list, so this bug is not caused by using a list as inputs. And if removing relu in the above codes, the program can exit with a segmentation fault。 Furthermore, If set env "MXNET_USE_FUSION" to 0, the program can exit normally. Since as far as I know, MXNET_USE_FUSION would fuse relu into the last layer through an in-plac

[2020-10-03 13:42] kohillyang commented on #19264
@MoisesHer

[2020-10-03 14:56] wkcn commented on #19264
Hi @ptrendx ,

I reproduced the op-fusion bug in MXNet 1.7 and MXNet 2.0 (20200926).
Could you please help check it?

Thank you!

[2020-10-03 17:05] moseswmwong commented on #19279
UPDATE: I switched network for my MacBook Pro from the problem network to another network (3G smartphone share from my iPhone) and the model downloaded instantly! Furthermore, after that, I switch back to the originally problematic network and there is no problem with the download the model file also download instantly via this previously problematic network.

I am not close the case. As it means

[2020-10-03 20:48] szha opened #19286 "infer shape error in hybridized block for zero-size input"
## Description
For a hybridized HybridBlock, the new forward interface throws an error for zero-size input

### Error Message
[code]
<details>
<summary>Complete error</summary>
---> 17 model(np.zeros((2, 2, 4, 0, 128)))

~/mxnet/python/mxnet/util.py in _with_np_shape(*args, **kwargs)
    296         def _with_np_shape(*args, **kwargs):
    297             with np_shape(active=True):
--> 298

[2020-10-03 21:02] szha commented on #19279
It looks like there are two issues:
- because there's no prompt/progress bar, the downloading on slow network appear to be hanging. I think we can address this by adding a progress bar to the download function here:
https://github.com/apache/incubator-mxnet/blob/e297471c45a185d152cad1668dbb62e277fe6d62/python/mxnet/gluon/utils.py#L330
we should only try to import tqdm without requiring it so that

[2020-10-03 21:24] ndeepesh commented on #13684
Any resolution on this error?

[2020-10-03 22:04] szha commented on #18734
@ndeepesh probably. @ptrendx may know more on the details of this issue.

[2020-10-03 22:06] szha commented on #13684
@ndeepesh this is caused by the same CUDA fork problem we discussed in #18734. The way to solve it is to fork first before initializing the GPU context. In this example, the fork happens in data loader in `load_cifar10` and the GPU initialization happens with `try_all_gpus`. Reordering them should solve the problem.

[code]

[2020-10-03 22:06] #13684 closed

[2020-10-04 01:16] ndeepesh commented on #18734
Thanks @szha . @ptrendx Can you help answer some questions below?
1. We dont see any training failures due to cudaInitialization error in multiprocesssing environment. Is this expected? Are there any side effects to this?
2. We see this issue intermittently and not all training jobs are affected.

Here is the exact warning/error message we get in logs

[code]

[2020-10-04 13:47] moseswmwong commented on #19279
I believe this will solve the problem, thanks so much!

Please keep us posted when the new version is available.

[2020-10-04 14:12] ptrendx commented on #18734
It's hard to answer exactly why you see this without knowing your training script (or at least the part before you start other processes). That said, the fact that you get the error during NDArrayFree suggests that before you fork you created some NDArrays on the GPU. Maybe the issue is intermittent because it only tries to get rid of those particular NDArrays during garbage collection in Python?

[2020-10-04 20:39] ndeepesh commented on #18734
Thanks @ptrendx

We do load one tensor on GPU before we start other processes. We use those processes to prepare and preprocess batches in parallel which in turn gets picked up by parent process (to fed into GPU) via  multiprocessing.Queue. Child processes are only responsible for loading and preparing batches and they have nothing to do with cuda

[2020-10-04 21:29] ChaiBapchya commented on #17980
@pengzhao-intel v1.7.0 public mxnet uses MKLDNN v1.3 and hence won't have this optimization right?
https://github.com/apache/incubator-mxnet/tree/1.7.0/3rdparty
This means public mxnet v1.7 won't have this fix. v1.8, on the contrary, would have the optimized mkldnn [by virtue of v1.x branch having mkldnn v1.6+ prior to 1.8.rc0] right?

[2020-10-05 01:41] pengzhao-intel commented on #17980
Thanks to raise the question. China team is on a public holiday this week.
@anko-intel could you help take a look at the issue?

[2020-10-05 06:43] anko-intel commented on #17980
@ChaiBapchya, You are right, we also have to include 1.6.4 (https://github.com/apache/incubator-mxnet/pull/19251) to make it happened.

[2020-10-05 07:39] #18301 closed

[2020-10-05 10:29] bartekkuncer commented on #18800
Please include fix for GCC8 with oneDNN v1.6.4: https://github.com/apache/incubator-mxnet/pull/19251

[2020-10-05 11:21] mozga-intel commented on #19265
@Zha0q1 Could you please tell me a little bit more details about this issue, such as the branch name and its commit and what version of MKLDNN you have? Thanks!

[2020-10-05 15:16] PascalIversen opened #19291 "MP: Check failed: e == cudaSuccess || e == cudaErrorCudartUnloading: CUDA: initialization error"
## Description
I can not use `mxnet` with multiprocessing, using `multiprocessing.set_start_method("fork")`.

### Error Message
[code]

## To Reproduce

### Steps to reproduce

[code]

## What have you tried to solve it?

1. I tried setting mp.set_start_method("spawn"). But that does not work for my use case since generators are not pickable.
2. removing the first with `with mx.gpu()` fixes the er

[2020-10-05 16:09] leezu commented on #19291
Hi @PascalIversen, due to cuda fork-safety issues you are required to fork before using any MXNet GPU features.
You can refer to https://github.com/apache/incubator-mxnet/issues/4659
I'll close this issue as duplicate for now but please re-open / comment if you have any concerns.

[2020-10-05 16:09] #19291 closed

[2020-10-05 16:15] leezu commented on #4659
@Pascallversen provided a new reproducer: https://github.com/apache/incubator-mxnet/issues/19291

[2020-10-05 16:53] leezu commented on #18734
This is not safe to do in MXNet. For example, if you call `random.seed` in the child process after the parent process used cuda, it will cause segfault.

You can also refer to https://github.com/apache/incubator-mxnet/issues/4659 https://github.com/apache/incubator-mxnet/issues/19291 (ie the current issue is a duplicate of the #4659)

[2020-10-05 17:00] leezu commented on #17045
@wms2537 did you include https://github.com/apache/incubator-mxnet/pull/19123 ?

[2020-10-05 17:31] Zha0q1 commented on #19265
I am using mxnet 1.7 (https://github.com/apache/incubator-mxnet/releases/tag/1.7.0) from `.pip install mxnet`. The machine was a C5.9xlarge DLAMI Ubuntu 18 EC2 instance.

[2020-10-05 17:54] saisiddhant12 commented on #9755
Can I take this up ?

[2020-10-05 18:31] szha commented on #9755
@saisiddhant12 thanks for offering to help. @zhreshold recently worked on moving the python dataloader to the backend and can suggest on how to proceed.

[2020-10-05 18:41] leezu commented on #19286
This bug is related to legacy (non-numpy) reshape operator. Reshape with `0` implies "copy this dimension from input".

We can see that all shapes are correct prior to infer_shape pass:

[code]

But after infer_shape, `0` is replaced by `4`.

[code]

https://github.com/apache/incubator-mxnet/blob/f732530c8e1f8dcc11134e935430e3793ddbf4c8/src/operator/tensor/matrix_op-inl.h#L194-L237

The root cause

[2020-10-05 19:35] access2rohit commented on #19268
PR #19267 is merged now. Closing

[2020-10-05 19:35] #19268 closed

[2020-10-05 22:40] wms2537 commented on #17045
Isn't it turned on by default, I used the code pulled from master, the problem still exists. I can compile it on normal pc but not on jetson.

[2020-10-05 23:09] leezu commented on #17045
Please paste the full cmake configure log. Also note that your Jetson uses AARCH64 and not X86 arch. The code memory model is different and compiler support generally much worse (for example, if position independent code is required, gcc / clang may not implement anything but the default model, thus limiting the size of binary and causing relocation issue above).

We do test compiling MXNet on the

[2020-10-05 23:37] ptrendx commented on #19264
This looks like a bug in the fusion graph pass - I am already working on overhauling it in #19269 so will investigate and fix there. I did a quick check and can reproduce it with new version of the code too, will dig into it.

[2020-10-06 01:38] leezu commented on #18442
This hasn't been fixed yet (or regressed).

[code]
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-19293/1/pipeline/287

[2020-10-06 08:52] wms2537 commented on #17045
Here's the cmake output:
[code]

[2020-10-06 12:51] saudet commented on #17783
Great! Thanks for the clarification. It's Apache v2, so the license is alright.

I've created a branch with a fully functional build that bundles MXNet with wrappers for the C API, on my fork here:
https://github.com/saudet/incubator-mxnet/tree/add-javacpp
It uses the defaults for CMake, but without CUDA or OpenCV, and I'm guessing it works on Mac and Windows too, but I've only tested on Linux (Fe

[2020-10-06 17:50] leezu commented on #17045
Could you try matching the following build configuration (modulo DCMAKE_TOOLCHAIN_FILE and the CUDA version)

https://github.com/apache/incubator-mxnet/blob/db171a89c5e7e0d651ae1578bd8ae8da953417cc/ci/docker/runtime_functions.sh#L140-L155

Ie. our test suite builds for jetson without opencv and without lapack feature. You may also want to ensure that you specify the `-DCMAKE_BUILD_TYPE=Release` op

[2020-10-06 18:11] #19286 closed

[2020-10-06 19:39] DickJC123 commented on #19255
It seems like for the issue reported, it would be simple to test for and ignore the skipped exception.  Do you have a problem with that as an easy incremental fix?

Also, with my brief expose to pytest-repeat, I experienced a non-linear runtime expansion with the use of `--count`, making useful values like 1000 unworkable.  Have you seen that?

[2020-10-06 19:50] DickJC123 commented on #19169
I believe now-merged PR https://github.com/apache/incubator-mxnet/pull/19186 fixes this issue.

[2020-10-06 19:50] #19169 closed

[2020-10-06 22:42] leezu commented on #19255
Yes, it's fine to add special handling for the `Skipped` exception.

As we also have the "issue" of executing the seeding stage twice for every test function (once via the pytest seed fixture and another time via the `@with_seed` decorator), another solution (with more effort) would be removing `@with_seed` and using the pytest fixture (which was originally derived from the `@with_seed` decorator

[2020-10-06 23:22] DickJC123 opened #19304 "[CI Infrastructure] R-MKLDNN-CPU test run failure. gcc fails due to ccache issue?"
## Description
During the work on PR https://github.com/apache/incubator-mxnet/pull/19298, the following CI job failed in the windows-cpu R-MKLDNN-CPU test job: https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-19298/1/pipeline/304/.  This doesn't appear related to the PR, but more with the CI infrastructure and its use of ccache.  Despite the

[2020-10-07 00:12] leezu commented on #19304
In v1.x branch, there is a global ccache configuration:

https://github.com/apache/incubator-mxnet/blob/3b69c607b611eb8f275aa8ed512a380ac0fd768d/ci/docker/runtime_functions.sh#L63-L111

We can just remove it's invocation in the R language tests:

https://github.com/apache/incubator-mxnet/blob/3b69c607b611eb8f275aa8ed512a380ac0fd768d/ci/docker/runtime_functions.sh#L1186-L1191

If that slows down th

[2020-10-07 04:10] #19304 closed

[2020-10-07 04:10] leezu commented on #19304
Closed via https://github.com/apache/incubator-mxnet/pull/19305

[2020-10-07 10:28] wms2537 commented on #17045
Still the same:

[code]
Here's my cmake log:
[code]

[2020-10-07 17:15] leezu commented on #17045
Please ensure your system toolchain is up to date (includes https://bugzilla.redhat.com/show_bug.cgi?id=1243559 fix)

You may also simply use the cross-compilation option by installing the cross-toolchain on your host system analogous to

https://github.com/apache/incubator-mxnet/blob/95f5cc60904a2d88d4861fff0f6dbad15f8cdbe3/ci/docker/Dockerfile.build.jetson#L41-L91

[2020-10-07 18:17] #19118 closed

[2020-10-07 18:17] sxjscience commented on #19118
Thanks @AnshuTrivedi and @szha . This is now closed.

[2020-10-07 21:31] DickJC123 commented on #19304
Awesome, thanks for the quick turnaround!

[2020-10-08 13:57] wms2537 commented on #17045
I think my system toolchain is up to date, I am using jetpack 4.3. If not, how to update system toolchain?

[2020-10-08 14:02] #19151 closed

[2020-10-08 15:55] leezu commented on #17045
The binutils is unrelated to jetpack. I recommend you follow the cross-compilation approach or you need to work with nvidia about how to update your binutils version if needed.

[2020-10-08 18:41] leezu commented on #17045
cc @TristonC @mseth10 do you have any recommendations for @wms2537's issues on Jetson NX device?

[2020-10-08 19:53] leezu opened #19316 "[1.x / 1.8] Regression in runtime fusion"
In MXNet 1.8, XLNet model fails to run due to bug in runtime fusion:

[code]

https://github.com/dmlc/gluon-nlp/pull/1230#issuecomment-698028126

The issue persists with the latest nightly builds of the 1.x branch, ie applies to the 1.8 release. See https://github.com/dmlc/gluon-nlp/pull/1384

[2020-10-08 20:16] ptrendx commented on #19316
Well, I kind of agree it is a fusion bug, but this specific failure should also be tackled on the Gluon-NLP side. Having so many `expand_dims` on 1 thing suggests at least a performance bug in there.

[2020-10-08 20:45] leezu commented on #19316
The concern here is that the regression breaks models that worked without problem.

[2020-10-08 20:46] ptrendx commented on #19316
But is it actually a regression? Does 1.6/1.7 work with the same model? I don't think they should.

[2020-10-08 20:51] leezu commented on #19316
Yes, this works in 1.6. There are separate integration tests for 1.6 and nightly build in GluonNLP and the 1.6 tests pass. You can refer to https://github.com/dmlc/gluon-nlp/pull/1237#issuecomment-686790435 which introduced a version of MXNet containing the regression. I confirmed that the regression is still present in latest 1.x branch via dmlc/gluon-nlp#1384

[2020-10-08 20:59] ptrendx commented on #19316
Ok, so this suggests it broke in 1.7 then. It is quite strange though since if you look at https://github.com/apache/incubator-mxnet/commits/1.8.0.rc1/src/operator/fusion there are only a few commits that went into fusion between 1.6 and 1.7 and none of them looks like something that could affect this.

I will look into this.

[2020-10-08 21:09] leezu commented on #19316
Thank you. You may be right that it's an edge case. Btw, more evidence that this works in 1.6 is that you actually fixed a performance bug based on the GluonNLP XLNet model in 1.6: https://github.com/apache/incubator-mxnet/issues/17105

[2020-10-08 22:08] ptrendx commented on #19316
Well, that is actually not really an evidence because I am using that exact model (from GluonNLP 0.9.0) for my performance experiments in the current PR (that said, I'm using NVIDIA container, but 1.8rc1 is merged there and I don't believe there are any differences in fusion between NVIDIA version and upstream) and it does not show that issue. So my assumption is that this model changed in the mea

[2020-10-08 22:26] leezu commented on #19316
Any change would be verified by the GluonNLP CI. I believe fusion is activated by default in 1.6, thus the CI should test fusion?

These are the outputs of the CI for MXNet 1.6 and 1.x:

[code]

[code]

[2020-10-09 01:56] wms2537 commented on #17045
After some testing, I finally managed to build it. I updated ccache and openblas similar to

Then, I restarted the jetson and built it with these commands

I also added a 8GB swap so that I can build with all 6 cores.

Based on the changes above, I don't know which is the main cause that solved the issue. Thanks @leezu for your help.

[2020-10-09 08:49] akarbown commented on #19150
The issue seems to be present on the other branches as well.
As far as I've checked it has been caused by the [6a5a946](https://github.com/apache/incubator-mxnet/commit/651e24b281e9e2b405808bd4ec0423a4e6a5a946).

[2020-10-09 10:47] iadi7ya commented on #18712
Hi @szha  Can I take this up?

[2020-10-09 11:00] xidulu commented on #18712
You are more than welcome to fix this issue.

[2020-10-09 16:57] iadi7ya commented on #18712
Hi @xidulu
There is no argument named as `prefix` in the 'HybridSequential' class written in file https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/nn/basic_layers.py

The code in the Auto-encoder example should be changed to:

[code]

[2020-10-09 17:34] leezu commented on #18712
You don't need the `name_scope` anymore. You can just use

[code]

[2020-10-09 17:37] iadi7ya commented on #18712
Hi @leezu Thanks! I will make the required changes and open a pull request.

[2020-10-09 20:37] zjost opened #19323 "Variable sequence length not handled correctly for BiDirectional layers"
## Description
There are a couple of different issues related to the use of `use_sequence_length` in the [`_RNNLayer`](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/rnn/rnn_layer.py#L40).

1.  It doesn't seem to be usable by GRU and RNN, but only LSTM.  This is more thoroughly documented [here](https://discuss.mxnet.apache.org/t/gluon-rnn-with-sequence-length-and-defer-i

[2020-10-09 20:38] szha commented on #19323
cc @anko-intel

[2020-10-09 23:29] ptrendx commented on #19264
@kohillyang Could you test whether PR #19269 solves your issue?

[2020-10-10 03:41] kohillyang commented on #19264
@ptrendx It seems that your PR is based on mxnet-2.0 but my codes are based on mxnet-1.7.0. Does there exist any tutorial about how to migrate my codes to mxnet-2.0?

[2020-10-10 04:06] kohillyang commented on #19264
OK, I 'm facing what @wkcn have said. The behavior of HybridSequential is a little strange when the inputs of a HybridSequential is a list of Symbol. And the behaviors of mxnet1.x and mxnet-2.0  are different.

[2020-10-10 04:12] kohillyang commented on #19264
OK, I think I'm facing the problem that @wkcn have said. The behavior of the HybridSequential is a little strange when its input is a list of Symbol.

[2020-10-10 04:19] kohillyang commented on #19264
@ptrendx I have to say that the issue is solved for the small case, but it still exist in my codes. I'm trying to reproduce it with another simple case.

[2020-10-10 16:54] ptrendx commented on #19264
Just to confirm - you are still seeing the error with `node2index` after applying the PR? Or it still does not work but with a different error?

[2020-10-10 18:11] kohillyang commented on #19264
@ptrendx I just compiled your sources from https://github.com/ptrendx/mxnet/tree/pr_faster_pointwise_pass. The error disappeared for the above reproduce case on this page. However, the **same** error still occurs in my codes. The following is a re-produce case, it not the smallest one but it can be run directly. I 'm trying to find a smaller one to reproduce the problem.
[code]

[2020-10-10 18:19] kohillyang commented on #19264
And the following is the error message:
[code]
And the same as before, the problem will disappear if set MXNET_USE_FUSION to 0 or to run it on CPU.

[2020-10-10 18:40] ptrendx commented on #19264
Thank you, I will investigate it on Monday.

[2020-10-10 18:41] leezu opened #19330 "CI failure: extremely laggy filesystem"
## Description
CI failure due to extremely laggy filesystem:

[code]

https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fmiscellaneous/detail/PR-19254/6/pipeline/

cc @josephevans @ChaiBapchya

[2020-10-10 22:54] szha commented on #19330
The mention in the log is "**if** on an extremely laggy filesystem" which suggests that it's just one of the possible causes for "Cannot contact mxnetlinux-cpu_cqe3ns49vo: java.lang.InterruptedException"

[2020-10-11 12:31] LourisXu opened #19332 "Ndarray support extension problem"
For example, in parallel computing with multiple GPUs, I choose sigmoid binary cross entropy loss as the loss function to calculate the loss. For the fourth parameter POS_ Weight needs to load multiple weights to each GPU at the same time, and then each GPU uses its corresponding weight to calculate the loss of parallel computing.

The code is shown below:
[code]
If you don't, the following proble

[2020-10-11 20:22] yifeim opened #19333 "[Bug] cudnn GRU backward errors on train_mode=False"
## Description
Models defined through `gluon.rnn.GRU` cause backward errors on `train_mode=False`.

### Error Message
[code]

## To Reproduce
[code]

### Steps to reproduce
1. Run the above script.

## What have you tried to solve it?
1. Not a problem if we remove the `train_mode` condition;
2. Not a problem if we change to `ctx=mx.cpu()`.

## Environment

***We recommend using our script for coll

[2020-10-12 00:31] szha commented on #18793
what's the status for this? It's been almost three months.

[2020-10-12 05:19] #18712 closed

[2020-10-12 17:51] ptrendx commented on #19264
I can repro it. Not sure yet if it is the same root cause as before and the fix isjust buggy or if this is a different issue.

[2020-10-12 18:04] leezu opened #19337 "Splitting up test functions in tests/nightly/test_large_{array,vector}.py"
https://github.com/apache/incubator-mxnet/blob/4dc99472a510299017ed19347ed6d41f2f6680d2/tests/nightly/test_large_vector.py and https://github.com/apache/incubator-mxnet/blob/4dc99472a510299017ed19347ed6d41f2f6680d2/tests/nightly/test_large_array.py

use a small number of test functions that itself define a large number of inner `check` functions and run them in sequence.

The runs are independent

[2020-10-12 18:10] leezu commented on #19255
@DickJC123 does the following reproduce the non-linearruntime expansion with `--count` you are concerned about?
If below looks good to you, please take a look at https://github.com/apache/incubator-mxnet/pull/19336

[code]

[2020-10-12 18:39] DickJC123 commented on #19255
Back when we used nosetests, we could stress-test a unittest with a command like:
[code]
The purpose of the DEBUG logging level was you could get some output with each test and hence get a sense that it wasn't hung, and also how long the entire run would take.  Also the seed was announced in advance of running the test so that if the failure one was troubleshooting was a segfault, then the seed is

[2020-10-12 18:44] leezu commented on #19255
The implementation is based on the with_seed function, thus things work alike. In particular, what you describe works. Please see:

[code]

[2020-10-12 19:03] kdgutier commented on #9637
I had a similar error, it turned out to be because when defining the graph I believe the Model class does not like to have 'unused' symbols.

[2020-10-12 22:18] gilbertfrancois opened #19338 "The print output of `mx.nn.Conv2dTranspose` shows the wrong direction of in and out channels."
## Description

The print output of `mx.nn.Conv2dTranspose` shows the wrong direction of in and out channels. When e.g. defining:
[code]
it shows:
[code]
However, I think it should be:
[code]

When printing a summary, the output is correct and the layer works as expected. It is just a bit confusing when printing out a network to console for inspection and debugging.

## To Reproduce
[code]

output

[2020-10-12 22:34] leezu commented on #19338
You can adapt https://github.com/apache/incubator-mxnet/blob/af2b4bcecfbf52df3a833974651eb75301d8f860/python/mxnet/gluon/nn/conv_layers.py#L156-L175 or overwrite the `__repr__` method of Conv2dTranspose class in the same file

[2020-10-12 22:38] ptrendx commented on #19264
Hi @kohillyang - it turned out to be the same root cause as the small case - I just had a small bug in my fix. I pushed the fix to the PR. Also, by the way - I do intend to cherry pick that PR to 1.x branch of MXNet.

[2020-10-12 23:09] ptrendx commented on #18624
I believe this issue has the same root cause as #19264 and should be fixed properly by #19269.

[2020-10-13 01:42] kohillyang commented on #19264
LGTM. Now my codes works without problem. Thanks a million. And I'm very glad to hear that this can be fixed in 1.x branch of MXNet.

Please feel free to close this issue.

[2020-10-13 08:10] #19239 closed

[2020-10-13 08:46] Neutron3529 commented on #18800
@samskalicky It seems that my merged BUG fix (for `KLDivLoss`, #18423 ) is not included in 1.8.0-rc1.

[2020-10-13 09:32] Neutron3529 commented on #19333
where is the document for `train_mode` parameter for `backward` function?
I tried to figure out it, but find nothing:
[Here](https://mxnet.apache.org/versions/1.7.0/api/python/docs/_modules/mxnet/executor_manager.html#DataParallelExecutorGroup.backward) is what I found
[code]
there is no `train_mode=False` for backward.

BTW, why mark `train_mode=False` to a backward function?
the only meaning of

[2020-10-13 10:17] fhieber opened #19343 "Still too strict type requirements for broadcast_like"
## Description
`mx.nd.broadcast_like` has  unnecessarily strict dtype requirements for its two data inputs. PR #17977 was aimed to relax them but in MXNet 1.7 I still get the following error from this minimum example:
[code]

### Error Message
[code]

## To Reproduce
[code]

## What have you tried to solve it?

aligning dtypes by either casting a or b to the other dtype resolves the issue. But thi

[2020-10-13 10:55] gilbertfrancois commented on #19338
We proposed a PR to fix the __repr__ function for ConvTranspose classes.

[2020-10-13 13:38] mozga-intel commented on #19265
Hi,

Well,
When running our pre-model (this is a simple imitation of the LSTM model). While a test, I want to create a large LRN tensor, for example: (20758,500). It could be seen that ~ 170GB of memory is allocated for scratchpad computations. We can see that global memory is always true. Well, as a result, for a different oneDNN version, I got the error messages: as following:
1. For a given v.1

[2020-10-13 13:43] saudet commented on #17783
I've pushed changes that show how to use JavaCPP with maven-publish to my fork here:
https://github.com/saudet/incubator-mxnet/tree/add-javacpp/java
Running `gradle publish` or something equivalent also deploys an `mxnet-platform` artifact that can be used this way:
https://github.com/bytedeco/javacpp-presets/wiki/Reducing-the-Number-of-Dependencies

For example, with this pom.xml file:
[code]
We

[2020-10-13 15:47] samskalicky commented on #18800
Hi @Neutron3529 it looks like #18423 was merged to the master branch. The v1.8.0 release (and rc0/rc1) were forked off of the v1.x branch and since the PR was not backported it is not included in this release.

[2020-10-13 17:20] Kh4L commented on #19239
@xxxpsyduck were you able to solve the issue?

[2020-10-13 20:40] ptrendx commented on #18564
I also saw a segfault in the `test_gpu_memory_profiler_symbolic` test: https://jenkins.mxnet-ci.amazon-ml.com/job/mxnet-validation/job/unix-gpu/job/PR-19269/6/display/redirect - it seems related.

[2020-10-13 20:50] ptrendx commented on #18902
Closing based on https://github.com/apache/incubator-mxnet/issues/18902#issuecomment-680788665, and the warning for too late inintialization of AMP was introduced in #19036 .

[2020-10-13 20:50] #18902 closed

[2020-10-13 21:04] leezu commented on #18014
- l

[2020-10-13 21:04] #18014 closed

[2020-10-13 21:15] gigasquid commented on #17783
As far as my feedback for the two options:

They both sound reasonable and improvements to the system. Thank you both @lanking520 and @saudet for your time and efforts. The one aspect that I haven't heard discussed is that implementation of the base Java API - in particular if anyone is planning on tackling this? If so, the person/s building out the dev work themselves might have a preference that

[2020-10-13 23:27] ptrendx commented on #19343
Seems that PR #17977 was merged to master after 1.x branch creation, so would need to be cherry-picked to 1.x branch.

[2020-10-14 00:20] #19338 closed

[2020-10-14 05:00] xxxpsyduck commented on #19239
@Kh4L Not yet. I don't know if I did anything wrong. Steps I did:
[code]
[code]
[code]
every step success without errors. But when import:
[code]

[2020-10-14 05:02] xxxpsyduck commented on #19239
@Kh4L Can you try these steps above with v1.8.x? Is there any changes should be made?

[2020-10-14 10:54] grygielski commented on #19323
Hi @zjost currently CPU does not support `use_sequence_length=True` in RNN layers. It seems that this information is missing in MKLDNN execution path but when you run this code with `export MXNET_USE_MKLDNN_RNN=0` environment variable you will get the following error: `MXNetError: RNN use_sequence_length option is only available for cuDNN version >= 7.2`.

Your solution to use `F.SequenceMask(x, s

[2020-10-14 12:28] fhieber opened #19348 "Operator to return number of dimensions of an input"
## Description
There is `F.shape_array()` returning the shape tuple and `F.size_array()` returning the number of elements. However, there does not seem to be a way to compute the number of dimensions of a tensor within a computation graph directly.

Of course `F.size_array(F.shape_array(x))` is a possible workaround, but it would be more efficient to implement this within a single operator/kernel.

[2020-10-14 16:34] zjost commented on #19323
To be clear, this is a problem for us because we use SageMaker and it makes it such that the same record gets different scores when it's invoked via the endpoint as a single record vs in a Batch Transform job.  Running Batch Transform 1 record at a time takes way too long and we can't control how SageMaker splits the batches.

Also, any comment on point 1, about how this only seems to work with LS

[2020-10-14 17:50] nirantarashwin commented on #19234
Is there a link to building it from source for arm64?

[2020-10-14 18:57] leezu commented on #19234
You can follow the normal build-from-source instructions @nirantarashwin. If you like to do cross-compile, you can set up your environment by following https://github.com/apache/incubator-mxnet/blob/12ec04611c78a603c03707488d66bdbbedf0d536/ci/docker/Dockerfile.build.arm#L109-L128
and pass the `-DCMAKE_TOOLCHAIN_FILE=${CMAKE_TOOLCHAIN_FILE}` argument to cmake when configuring the compilation.

[2020-10-14 19:04] nirantarashwin commented on #19234
Got it. Thank you very much :)

[2020-10-14 20:32] samskalicky opened #19351 "Softmax_label magically appears"
## Description
The Softmax/SoftmaxOutput operator has an optional `label` input that is enabled by setting the `ignore_label` or `use_length`:
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/softmax-inl.h#L616-L618
https://github.com/apache/incubator-mxnet/blob/v1.x/src/operator/softmax_output-inl.h#L61-L63

Many common image classification/CNN models use softmax, but dont us

[2020-10-14 23:53] DickJC123 opened #19353 "Use of temp buffers in src/operator/linalg_impl.h lacks proper synchronization"
## Description
This problem showed up as infrequent failures of test_operator_gpu.py::test_laop on a customized mxnet.  The failures occurred when the test exercised the _potri_ operator (Inverse via Cholesky factorization) and the error was traced back to a missing synchronization in that operator's use of temporary buffers.  This problem appears to be present in the current MXNet master and effe

[2020-10-15 01:36] samskalicky opened #19354 "Gluon export changing params"
## Description
When exporting a model from Gluon, some param values can be modified:
https://github.com/apache/incubator-mxnet/blob/ce1e68260eb3cf9219ae4d59df8bdde7361802ec/python/mxnet/gluon/block.py#L1354
The `_reduce` function here actually performs a sum/division:
https://github.com/apache/incubator-mxnet/blob/ce1e68260eb3cf9219ae4d59df8bdde7361802ec/python/mxnet/gluon/parameter.py#L406

If th

[2020-10-15 02:08] samskalicky commented on #19354
This problem is compounded by the bug in:
https://github.com/apache/incubator-mxnet/blob/6729cf3bf4edd6837b0feb6417691ce2e00dbcee/src/c_api/c_api.cc#L1419
where its calling the `NDArray` constructor:
https://github.com/apache/incubator-mxnet/blob/v1.x/include/mxnet/ndarray.h#L95-L96
and its passing in the dtype to the 3rd argument which is `delay_alloc`.

[2020-10-15 02:11] samskalicky commented on #19354
It further compounds in Gluon where creating the new Parameter doesnt set the dtype explicitly:
https://github.com/apache/incubator-mxnet/blob/6729cf3bf4edd6837b0feb6417691ce2e00dbcee/python/mxnet/gluon/block.py#L1002-L1003
This leads to the default dtype `mx_real_t` which is float32:
https://github.com/apache/incubator-mxnet/blob/ce1e68260eb3cf9219ae4d59df8bdde7361802ec/python/mxnet/gluon/paramet

[2020-10-15 02:25] samskalicky commented on #19354
FYI @leezu @Kh4L @mseth10 @rondogency

[2020-10-15 07:37] gilbertfrancois commented on #10002
What is the current status of support for second order derivatives in Gluon? I tried implementing the method from the paper [Improved Training of Wasserstein GANs](https://arxiv.org/pdf/1704.00028.pdf), but the training program returns an error when I add the gradient penalty to the loss function and do a back propagation. I noticed that, with mxnet version 1.7, it works for Dense layers without a

[2020-10-15 08:26] AlexanderSerov commented on #4785
https://github.com/dmlc/nnvm/blob/master/docs/json_spec.rst

[2020-10-15 09:00] grygielski commented on #19323
Regarding point 1. it seems that for now only LSTM supports `use_sequence_length` parameter. It was introduced by this PR: https://github.com/apache/incubator-mxnet/pull/14208 and it causes some argument order problem when using other RNN types. However, I'm not sure if this is bug or just lack of implementation on GPU side because I'm only familiar with CPU code and as I said before, `use_sequenc

[2020-10-15 15:57] zjost commented on #19323
Thanks for taking the time to show an implementation of this.

Do you think a warning should be added to the documentation regarding the use of `bidirectional`?  I don't think it's clear that this will not have intended behavior unless sequences are of equal length in a batch.  Particularly so because if you start tracing down the base classes, it seems as though e.g. GRU will pass along the `use_

[2020-10-15 20:13] ion-elgreco commented on #3239
How do you run this export, with what program?

[2020-10-15 20:13] #17115 closed

[2020-10-15 20:14] #17116 closed

[2020-10-15 20:17] #12916 closed

[2020-10-15 20:18] #11161 closed

[2020-10-15 20:19] #17109 closed

[2020-10-15 23:09] Neutron3529 commented on #18800
How to merge the PR to 1.x?
I manually opened a new PR(https://github.com/apache/incubator-mxnet/pull/19356).
Is it enough to fix the bug(if all checks pasts)?

[2020-10-16 08:27] mseth10 opened #19360 "SegFault while testing MXNet binaries for CUDA-11.0 using pytest"
## Description
Nightly CD pipeline fails for CUDA 11.0 during testing of MXNet binaries using `pytest`. All tests run successfully. The error is thrown during cleanup after `pytest` is done running a testing module. This error was first recorded when https://github.com/apache/incubator-mxnet/commit/480d027b85d3feff6fecec70be55eb244ddff289 commit was merged, which dropped `pytest`'s `teardown` func

[2020-10-16 08:41] grygielski commented on #19323
Absolutely there should be some note in the documentation about `use_sequence_length` working only on GPU. For `bidirectional=False` it does not harm users but using it with `bidirectional` will lead to incorrect results. Also there should be a mention that it works only for LSTM right now.

I will try to explain you the problem why changing `_RNN` base class works for LSTM and not for GRU and RNN

[2020-10-16 11:44] gzuchow commented on #19065
Thanks @access2rohit  for reporting this issue.

I have tried to run your script to reproduce issue, with flag USE_INT64_TENSOR_SIZE.

With this changes you can run it:

[code]

By this tweaks with a code there are no ```malloc_consolidate``` errors.  Additional memory is required to execute calculation by oneDNN to split the calculation between threads. It is equal number of threads * size of inp

[2020-10-16 15:33] grygielski opened #19361 "[RFC] Denormal floating point values handling"
## Problem statement
Currently in MXNet there is no mechanism of handling denormal floating point values ([wikipedia](https://en.wikipedia.org/wiki/Denormal_number)) of parameters/inputs/outputs. Such numbers are problematic in terms of computations because adding/multiplying them require more CPU instructions than on normal floating point numbers. However, they are so close to zero (e.g. ~1e-30)

[2020-10-16 15:43] grygielski commented on #19218
@buaalsy2003 Sorry for my late response but I somehow missed your question.
If it comes to how I figured out this problem, I had some experience with similar behavior from other frameworks so denormal values was my initial guess. I didn't use any sophisticated debugging tool, to confirm that, I just checked for denormals inside C++ code (more precisely with `fpclassify` function). I've added these

[2020-10-16 15:52] ptrendx commented on #19360
We recently saw this issue too and I am looking for a fix now. I do not believe it is CUDA 11 specific, rather code layout/timing/environment specific - e.g. in our setup we did not see this issue on Ubuntu 18.04 but encounter it on 20.04. The problem is that MXNet does not actually wait for the side thread to finish before the program teardown. During the main thread teardown CUDA deinitializes i

[2020-10-16 18:49] Zha0q1 opened #19362 "Float16 Argmin/max gives wrong results"
[code]
outputs:
[code]

This is reproducible on master and 1.7, both on cpu and gpu. This has not been noticed before because in `test_np_argmin_argmax` we were only using very small tensors. I added in a large tensor case yesterday and multiple ci failed https://github.com/apache/incubator-mxnet/pull/19359.

This might be a memory alignment issue. We probably also need to see if any other operato

[2020-10-16 18:50] sxjscience commented on #19362
I can also reproduce.

[2020-10-16 19:27] ptrendx commented on #19360
Ok, so I think I understand this issue more - the problem is that `shared_ptr` to the engine is a static variable here: https://github.com/apache/incubator-mxnet/blob/master/src/engine/engine.cc#L62 and so the destruction timing of the engine itself is not specified (depends on the order of binaries in the linked executable). This makes it possible for CUDA deinitialization to happen before or aft

[2020-10-16 22:55] ys2843 commented on #19091
Fixed in latest 1.7.0 and master website
https://mxnet.apache.org/versions/1.7.0/api/faq/security.html
https://mxnet.apache.org/versions/master/api/faq/security.html

[2020-10-17 00:36] #19091 closed

[2020-10-17 04:49] Eric-seu opened #19367 "lars_multi_mp_sgd_update kernel used in MLPERF v0.7 not found in v1.6 or v1.7"
## Description
In the submission of mxnet in mlperf training v0.7 benchmark, mxnet used a optimizer kernel call "[lars_multi_mp_sgd_update](https://github.com/mlperf/training_results_v0.7/blob/3dbb53064a6b79354c68a6832414b6536fee1a75/NVIDIA/benchmarks/resnet/implementations/mxnet/common/fit.py#L47)" or "lars_multi_mp_sgd_mom_update".

Mxnet used this optimizer and got great results in mlperf v0.7,

[2020-10-17 06:42] DickJC123 opened #19369 "dangling link ./example/automatic-mixed-precision/common"
## Description
... points to non-existent directory ../image-classification/common.

[2020-10-18 08:12] Neutron3529 opened #19373 "what's wrong with PR test?"
currently, many PR failed due to bad network connection.
not only me myself, but also many PR is affected.
[code]
such exception could not resolved by any PR.
I re-run test for at least 5 times, and most of the test failed.

what's wrong?

[2020-10-19 16:03] leezu commented on #19373
It's a CI issue and need to be fixed. It's unrelated to your PR.

cc @sandeep-krishnamurthy @josephevans

[2020-10-19 18:28] szha commented on #19360
As a short-term solution it's ok. At some point, we may benefit from being able to destruct engine properly at runtime other than at exit. For example, this could enable switching the engine at runtime. Thus, it would still be better if we have an actual solution for destruction order.

[2020-10-19 19:29] ptrendx commented on #19367
You can use `LARS` optimizer - it uses the same kernels as the MLPerf submission (they are named slightly differently - `                        preloaded_multi_mp_sgd_update`). The NVIDIA NGC MXNet container, which was used for that submission, had the LARS optimizer before the upstream and the names were changed as part of the upstreaming process.

[2020-10-19 19:32] ptrendx commented on #19360
Ok, I will open then a PR with the workaround and let's open an issue for the better handling of the destruction order of the engine.

[2020-10-19 20:17] ptrendx opened #19379 "Better handling of the engine destruction"
## Description
Currently engine is a singleton, the lifetime of which is controlled by the static `shared_ptr`. This means that the engine is destroyed at the program exit in an unspecified time (depending on the linking order for example). This was the reason of the issue #19360, which was WARed by #19378. As noted in https://github.com/apache/incubator-mxnet/issues/19360#issuecomment-712361751 t

[2020-10-19 20:33] josephevans commented on #19373
I think there's two issues today. First, I found an expired GPG key that was preventing R packages from being installed on Ubuntu 16.04. I create a PR-19377 for this. Waiting for my PR to pass to backport.

Second, I see errors trying to uncompress the Packages file from https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1604/x86_64/

It looks like a new file was recently pushed, so ma

[2020-10-19 21:03] leezu commented on #19373
@josephevans thank you for looking into the issue. But please note that the issues you mention are unrelated as they only affect the v1.x branch, whereas the issue described here affects the master branch.

[2020-10-19 22:32] leezu commented on #19373
The nvidia issue may affect more than the 16.04 mentioned above. https://github.com/NVIDIA/nvidia-docker/issues/1402 contains some more info (though the issue was closed as it isn't directed to the correct owner)

[2020-10-19 23:19] #18624 closed

[2020-10-19 23:19] #19264 closed

[2020-10-20 00:03] pac469 opened #19383 "ERROR: Could not find a version that satisfies the requirement mxnet==1.4.0 (from datawig) (from versions: 1.6.0, 1.7.0.post1)"
This error shows up everytime I try to install datawig library from AWS on my terminal. I already installed different versions of mxnet and still doew not work

ERROR: Could not find a version that satisfies the requirement mxnet==1.4.0 (from datawig) (from versions: 1.6.0, 1.7.0.post1)
ERROR: No matching distribution found for mxnet==1.4.0 (from datawig)