[2019-07-02 10:10] Wallart opened #15431 "[MXNet 1.5.0.rc2] Issues with asnumpy() method"
Hello,

I've decided to try MXNet 1.5.0.rc2.
And I have a lot of crashes due to asnumpy() calls like the following one :

`phase = nd.array(np.arctan2(imag_part.asnumpy(), real_part.asnumpy()))`

[code]

The same issue occurs if I store asnumpy() result in a temporary variable. The crash seems random.

I didn't had any problems in MXNet 1.4.1

[2019-07-02 11:22] tianylijun opened #15432 "[quantization] is there any plan to support 6bits quantization , as 6 bits quantization more efficient than 8 bits on arm cpu"
Is there any plan to support 6bits quantization , as data overflow risk, 6 bits quantization more efficient than 8 bits on ARM CPU.

[2019-07-02 13:01] Crunchy9 commented on #15420
I'm lost too, because every time something new is popping out. Seems to me it's a OpenCV problem (?).

1.  Build R package with MKL-DNN, OpenCV 4.1.0, Visual Studio 15.
2.  Reproducible example (at last), data from [Kaggle](https://www.kaggle.com/jessicali9530/caltech256).
`python im2rec.py --resize 224 --encoding .jpg --quality 60`
`library(mxnet)
data<-mx.io.ImageRecordIter(path.imgrec="D:/256_O

[2019-07-02 14:24] ciyongch commented on #15429
@roywei I've collected some performance data of  `Dropout`, `relu`, and `dot` on C5.18xlarge, and saw  some big run to run variance on `dot` and `Dropout` as below table without binding cores as table 1.
After binding cores to a socket via below command before running benchmarking, I got a stable and better results as table 2.
[code]
I ran 5 times with 10 warmup + 100 runs for each time. Not sure

[2019-07-02 14:41] pengzhao-intel commented on #15432
Thanks for the proposal.
Do you have any technical details about 6bits is more efficient than 8bits?

[2019-07-02 15:00] aaronmarkham commented on #15415
The biggest issue with this domain going away is where do we point to now? Where's the Julia documentation going to live now? And all the model files that were on data.dmlc.io? I find it odd that there's just a sort of shrug that the domain is gone. If it were my domain, I'd make some effort to recover it. Anyway, none of these links can get updated until we have the docs and models hosted somewhe

[2019-07-02 15:14] tianylijun commented on #15432
As current ARM SIMD do not support int32 += int8*int8（except Cotex A55，A75)，unfortunate 8bits MAC will overflow during 4X4 sgemm block(127*127*4 exceed int16 range )，so int8 need first convert to int16 then do int32 += int16*int16. but 6 bits will not overflow in 4x4 sgemm block，so 6 bits can use directly use int16+= int8*int8 MAC，more efficient than 8 bits

[2019-07-02 15:14] tianylijun commented on #15432
As current ARM SIMD do not support int32 += int8int8（except Cotex A55，A75)，unfortunate 8bits MAC will overflow during 4X4 sgemm block(1271274 exceed int16 range )，so int8 need first convert to int16 then do int32 += int16int16. but 6 bits will not overflow in 4x4 sgemm block，so 6 bits can use directly use int16+= int8*int8 MAC，more efficient than 8 bits

[2019-07-02 15:19] tianylijun commented on #15432
As current ARM SIMD do not support int32 += int8int8（except Cotex A55，A75)，unfortunate 8bits MAC will overflow during 4X4 sgemm block(127x127x4 exceed int16 range )，so int8 need first convert to int16 then do int32 += int16int16. but 6 bits will not overflow in 4x4 sgemm block，so 6 bits can use directly use int16+= int8*int8 MAC，more efficient than 8 bits

[2019-07-02 16:04] aaronmarkham commented on #15406
And again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15427/2/pipeline

[2019-07-02 17:04] aaronmarkham commented on #14953
@Jessespace Can you try the instructions here: https://github.com/apache/incubator-mxnet/blame/master/docs/install/install-jetson.md

[2019-07-02 17:13] aaronmarkham commented on #15415
@iblis17 Can you let me know a bit about gathering the docs artifacts from CI? Since the julia docs are now down, I think it would be a good idea to go ahead and host these locally.

[2019-07-02 17:41] Zha0q1 commented on #15406
We are commenting this out for out. Will then take a closer look at this before tomorrow

[2019-07-02 17:47] roywei commented on #15431
@Wallart Hi, thanks for this issue!
could you provide the following to help us reproduce the error?
1. build flags or pip versions
2. machine type and device context(CPU GPU)
3. values for `imag_part` and `real_part`?

running the following commands works fine for me on cpu with mxnet mkldnn
[code]

[2019-07-02 19:07] IvyBazan opened #15437 "onnx broken links"
URL -  https://mxnet.incubator.apache.org/api/python/contrib/onnx.html
Broken Links
─ https://cwiki.apache.org/confluence/display/MXNET/MXNet-ONNX+Integration (HTTP_404)
─ https://cwiki.apache.org/confluence/display/MXNET/MXNet-ONNX+Integration (HTTP_404)

URL -  https://mxnet.incubator.apache.org/versions/master/api/python/contrib/onnx.html
Broken Links
─ https://cwiki.apache.org/confluence/displ

[2019-07-02 19:08] IvyBazan commented on #15437
mxnet-label-bot website

[2019-07-02 19:11] IvyBazan opened #15438 "text API broken link"
URL -  https://mxnet.incubator.apache.org/api/python/contrib/text.html
Broken Links
─ https://github.com/facebookresearch/fastText/blob/master/pretrained-vectors.md (HTTP_404)

[code]

[2019-07-02 19:15] IvyBazan opened #15439 "Gluon contrib broken link"
URL -  https://mxnet.incubator.apache.org/api/python/gluon/contrib.html
Broken Links
─ https://www.stat.berkeley.edu/~tsmoon/files/Conference/asru2015.pdf (HTTP_404)

[2019-07-02 19:28] SibtainRazaJamali commented on #15372
@Soonhwan-Kwon which project?

[2019-07-02 20:56] Wallart commented on #15431
1. Here are my build flags https://pastebin.com/bwRX0tXN
The only difference with my older builds (1.3 / 1.4 / etc.) is the USE_GPERFTOOLS set to false.

2. I am running the code on a machine equipped with :
- Intel i7 7700k
- 16 Gb of RAM
- 2 GTX 1080 Ti
I am using Intel Python 3.6.8 with all MKL/MKLDNN libs. Everything is installed through miniconda, inside a Docker container.

3. In fact I am t

[2019-07-02 21:01] Wallart commented on #15431
I just discovered that crashes are not random. When I put a breakpoint on faulty lines there is no exceptions when I resume the code execution.

[2019-07-02 21:02] IvyBazan opened #15440 "IO broken links"
URL -  https://mxnet.incubator.apache.org/api/python/io/io.html
Broken Links
─ https://mxnet.incubator.apache.org/api/python/io/mxnet.symbol.Symbol.name (HTTP_404)
─ https://mxnet.incubator.apache.org/api/python/io/mxnet.ndarray.NDArray.shape (HTTP_404)
─ https://mxnet.incubator.apache.org/api/python/io/mxnet.symbol.Symbol.name (HTTP_404)

[code]

[2019-07-02 21:09] IvyBazan opened #15441 "perf broken links"
URL -  https://mxnet.incubator.apache.org/versions/master/faq/perf.html
Broken Links
─ https://github.com/apache/incubator-mxnet/releases/download/1.2.0.rc1/apache-mxnet-src-1.2.0.rc1-incubating.tar.gz (HTTP_404)
─ https://github.com/apache/incubator-mxnet/releases/download/1.2.0.rc1/apache-mxnet-src-1.2.0.rc1-incubating.tar.gz (HTTP_404)
─ https://github.com/apache/incubator-mxnet/releases/downlo

[2019-07-02 21:13] IvyBazan opened #15442 "transforms broken link"
URL -  https://mxnet.incubator.apache.org/tutorials/gluon/transforms.html
Broken Links
─ https://mxnet.incubator.apache.org/versions/master/tutorials/gluon/[%60CIFAR10%60](https:/mxnet.incubator.apache.org/api/python/gluon/data.html?highlight=cifar#mxnet.gluon.data.vision.datasets.CIFAR10) (HTTP_404)

[code]

[2019-07-02 21:27] IvyBazan commented on #15407
URL should be:
-https://github.com/apache/incubator-mxnet/tree/master/scala-package/mxnet-demo/java-demo

[2019-07-02 21:31] IvyBazan opened #15443 "CPP broken link"
URL -  https://mxnet.incubator.apache.org/tutorials/c%2B%2B/mxnet_cpp_inference_tutorial.html
Broken Links
─ https://github.com/apache/incubator-mxnet/blob/master/cpp-package/example/inference/inception_inference.cpp (HTTP_404)

[2019-07-02 21:34] IvyBazan opened #15444 "Java broken links"
URL -  https://mxnet.incubator.apache.org/tutorials/java/ssd_inference.html
Broken Links
─ https://mxnet.incubator.apache.org/api/java/index.md (HTTP_404)
─ https://mxnet.incubator.apache.org/tutorials/index.md (HTTP_404)

[2019-07-02 21:38] IvyBazan opened #15445 "MXNet export broken link"
URL -  https://mxnet.incubator.apache.org/tutorials/onnx/export_mxnet_to_onnx.html
Broken Links
─ http://data.mxnet.io/models/imagenet/ (HTTP_404)

[2019-07-02 21:43] IvyBazan opened #15446 "Clojure NDArray broken link"
URL -  https://mxnet.incubator.apache.org/versions/master/api/clojure/docs/org.apache.clojure-mxnet.ndarray-api.html
Broken Links
─ https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html%3E (HTTP_404)
─ https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html%3E (HTTP_404)

[code]

[2019-07-02 21:44] IvyBazan commented on #15446
URL -  https://mxnet.incubator.apache.org/versions/master/api/clojure/docs/org.apache.clojure-mxnet.symbol-api.html
Broken Links
─ https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html%3E (HTTP_404)
─ https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html%3E (HTTP_404)

[2019-07-02 21:47] IvyBazan opened #15447 "C API doxygen broken links"
URL -  https://mxnet.incubator.apache.org/versions/master/doxygen/group__c__api__attributes.html
Broken Links
─ https://mxnet.incubator.apache.org/versions/master/doxygen/form_0.png (HTTP_404)

URL -  https://mxnet.incubator.apache.org/versions/master/doxygen/group__c__api__convolution.html
Broken Links
─ https://mxnet.incubator.apache.org/versions/master/doxygen/form_1.png (HTTP_404)
─ https://mx

[2019-07-02 23:15] roywei commented on #15429
Thanks @ciyongch , setting the environment variables did reduce the variances.
I have updated the document(1st sheet): https://docs.google.com/spreadsheets/d/1_eezNWbrBAm3s3i6G1m0Rd3YYdTEnmKlYtn4klqdyN0/edit#gid=196553607

With the current data Dot and Dropout is not a big concern now. Relu's regression is something we have to accept as otherwise it could lead to nans and bugs.

[2019-07-02 23:49] IvyBazan commented on #15445
@mxnet-label-bot add Website

[2019-07-03 00:18] Kangzf1996 commented on #15392
@vdantu Hi, there are also some errors when I using MXNet1.4.0.
when I run the make -j4, the error is following:
compilation terminated.
make: *** [Makefile:461: build/src/operator/nn/mkldnn/mkldnn_copy.o] Error 1

[2019-07-03 02:26] cyrusbehr commented on #15393
@larroy do the docker files built Mxnet with c++ support `USE_CPP_PACKAGE`? Or does it only support python right now?

[2019-07-03 02:36] iblis17 commented on #15415
@aaronmarkham If you can get access to a CI worker, there is a dir `/work/mxnet/julia/docs/build`.

Actually, it's hosted via GitHub page, I guess the problem is the domain CNAME setting has been pointed to somewhere.

[2019-07-03 02:37] iblis17 commented on #14720
Close via https://github.com/apache/incubator-mxnet/pull/14776.

[2019-07-03 02:37] #14720 closed

[2019-07-03 07:14] gxkevin opened #15450 "the recall_model->exec->Forward cost most time, how can I reduce the cost time?"
I have a problem is that when I do the dnn predict, where I will use the  SyncCopyFromCPU and the Forward， the batch_size and fea_num is 40，default blas is openblas（I have also tried the Intel mkl，but it doesn't work），the cpu is broadwell，58 logical core total。

I have 32-58 worker thread，each thead only have 1 openmp thread，I worry that open too many openmp thread will decrease the performance。

[2019-07-03 07:15] gxkevin commented on #15450
56 logical cores

[2019-07-03 13:35] ciyongch commented on #15429
@roywei I looked at the table, except a few ops with big variances, most of the degraded ops listed in the table dropped into **mshadow**. I did some further analysis, and found that the performance regression is caused by the commit of `6e94643` (https://github.com/dmlc/mshadow/pull/371), which changed the data type for `index_t`. Seems the quick fix in that PR didn't work for these ops, and a be

[2019-07-03 14:27] TaoLv commented on #15429
+ @apeforest

[2019-07-03 14:53] TaoLv commented on #15392
@Kangzf1996 Can you share the compiler error log as well as the steps to reproduce?

[2019-07-03 15:09] Kangzf1996 commented on #15392
@TaoLv
(kzfpy2) [zhkan@m3206-09 MANet_for_Video_Object_Detection]$ git clone --recursive https://github.com/apache/incubator-mxnet mxnet
Cloning into 'mxnet'...
remote: Enumerating objects: 94322, done.
remote: Total 94322 (delta 0), reused 0 (delta 0), pack-reused 94322
Receiving objects: 100% (94322/94322), 58.82 MiB | 3.73 MiB/s, done.
Resolving deltas: 100% (62536/62536), done.
Submodule '3rdp

[2019-07-03 15:24] sandeep-krishnamurthy commented on #15429
Thanks @ciyongch for diving deep and help in identifying root cause of the issues.

Can you please help me understand why we see variance only for few operators without setting environment variables for KMP and OMP? Our users don't do these environment variable setup so is it something we need to worry about that these operators will perform badly and indeterministic without that setting?

[2019-07-03 15:30] TaoLv commented on #15392
@Kangzf1996 thanks for the prompt reply. Looks like you're using GCC 9+. Have you ever tried a lower version of GCC?

@marcoabreu do we have GCC 9+ in the CI and do we claim MXNet supports that?

[2019-07-03 16:28] roywei commented on #15431
Hi @Wallart running the two faulty lines you provided alone does not throw any errors.
Are these lines all in your dataloader code? Could you provide a minimum reproduciable code?

Maybe the probelms is when running with dataloader with multiple workers? I'm still not able to reprdudce your error.

[2019-07-03 16:45] aaronmarkham commented on #15415
I think someone sniped the dmlc domain. So we could just get a new one in there. Do you have access to that host?

[2019-07-03 17:03] apeforest commented on #15429
@TaoLv @ciyongch The `MSHADOW_INT64_TENSOR_SIZE` (in MXNet it is controlled by `USE_INT64_TENSOR_SIZE`) is off by default. I.e. all the tensor data type should still be int32. Did you run using building from source or using the pip wheel?

[2019-07-03 17:14] apeforest commented on #15429
@TaoLv @ciyongch Thanks for the investigation. I will try to verify it on my machine.

[2019-07-03 17:54] cyrusbehr commented on #15393
I managed to solve the problem.

It seems that the version of OpenCV that mxnet was trying to use had been compiled with `gcc-6.XXX` while I was trying to compile mxnet with `gcc-4.9` (as specified by the documentation).
Once I recompiled OpenCV with `gcc-4.9`, I was able to build mxnet successfully

[2019-07-03 17:54] #15393 closed

[2019-07-03 18:38] aaronmarkham commented on #15406
This is happening a lot. Did it get removed yet?

[2019-07-03 19:04] anirudh2290 commented on #15406
ya removed in this PR: https://github.com/apache/incubator-mxnet/pull/15436

[2019-07-04 00:36] umutisik commented on #9974
FYI this is incompatible with thread_pool=True in DataLoader. (False is the default)

[2019-07-04 04:04] songweijia commented on #15373
Sorry for the late reply. I tried the latest example. Although it's another example other than the previous `inception_inference`. It works.

[2019-07-04 04:05] #15373 closed

[2019-07-04 05:29] TaoLv commented on #15392
@Kangzf1996 For your information, the error of compiling MKL-DNN with GCC 9+ is fixed in the v0.20 release of MKL-DNN. I'm working on upgrading the dependency on MXNet side: https://github.com/apache/incubator-mxnet/pull/15422.

[2019-07-04 06:07] TaoLv commented on #15208
Hi @olegmikul, the error of compiling MKL-DNN with GCC 9+ should be fixed in the v0.20 release of MKL-DNN. I'm working on upgrading the submodule dependency of MXNet. You can try to see whether PR https://github.com/apache/incubator-mxnet/pull/15422 works for you.

[2019-07-04 07:58] ciyongch commented on #15429
@sandeep-krishnamurthy As most of the MXNet's ops will do the parallelism via openmp on CPU, from performance perspective, binding CPU cores will reduce the performance degradation due to cache misses and get better thread scheduling.
Without binding the cores,  the performance variance could be bigger due to thread/context switch among those available cores, and plus the time of benchmarking on a

[2019-07-04 08:54] iblis17 commented on #15415
well, you mean the GitHub repo? yes.

[2019-07-04 08:54] iblis17 commented on #15415
Here: https://github.com/dmlc/MXNet.jl/tree/gh-pages

[2019-07-04 09:06] deem0n opened #15463 "[Clojure] (mdarray/* ndarray num) resulting in zero ndarray"
## Description
`ndarray/*` results in zero ndarray when second arg is float in range (0,1). For example: 0.3 or 0.9

## Environment info

[code]

Package used (Python/R/Scala/Julia):
**Clojure**

Clojure 1.10.1
java version "1.8.0_211"
Java(TM) SE Runtime Environment (build 1.8.0_211-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.211-b12, mixed mode)

MXNet:
org.apache.mxnet.contrib.clojure/cloj

[2019-07-04 11:18] AntonEryomin commented on #13332
Hello! The reason why, because when you started image processing in this method "pre_process_image", in fact, these types of computations use CPU and not GPU.

[2019-07-04 13:41] Kangzf1996 commented on #15392
Ok, thank you. I will try a lower version of GCC

[2019-07-04 13:42] ThomasDelteil commented on #15319
Thanks @KellenSunderland! I think there are a number of MXNet optmizations and new feature that TensorRT users might benefit from regardless of the changes to the TensorRT features of the current build, I mean, I think we should release this build for every release, for a few CUDA/CUDNN/TensorRT sets. A jetson one would be great too.

[2019-07-04 19:00] matteosal opened #15464 "MKL-DNN gives wrong convolution bias gradient if weights gradient is not requested"
## Description
When using MKL-DNN and asking the gradient of a convolution with respect to its biases, the result is wrong unless the gradient with respect to the weights is also requested.

## Environment info (Required)

[code]

Using the python interface

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc

MXNet commit hash: 6a8d9eb5fd4f7133c094149dc80a

[2019-07-04 21:53] #15367 closed

[2019-07-04 23:19] eric-haibin-lin commented on #15428
@yifeim shared a few common sparse dataloading format:
- https://github.com/VowpalWabbit/vowpal_wabbit/wiki/input-format
- https://xgboost.readthedocs.io/en/latest/tutorials/input_format.html

[2019-07-04 23:34] whamza15 commented on #14373
Sorry, I did not get a chance to follow up on this. I can try what you described @abhinavs95. However, not using deferred initialization is going to be a bit of a set back in our toolkit that relies so much on that. Is there a possibility this can be solved and still rely on deferred initialization?

[2019-07-04 23:41] whamza15 commented on #14373
I just want to add that if I use `valid_length` in the embedding block, it works fine even with deferred initialization.

[2019-07-04 23:53] gigasquid commented on #15463
Thanks @deem0n for reporting the issue and also for providing a nice repro case 💯

[2019-07-05 00:32] pengzhao-intel commented on #15464
Thanks for reporting the potential issues.
@zixuanweeei could you help take a look for this?

[2019-07-05 00:44] yzhliu opened #15465 "[RFC] Integrate TVM into Apache MXNet"
# Problem Statement

Currently in MXNet we implement operator kernels in C++. Developers need to specify the detail logic of each computation, which slows down the development process. Given the fact that we’re moving forward to be numpy-compatible[1], a large amount of operators are to be implemented. Moreover, we also have various of backend to support, including CPUs and GPUs from AMD, ARM, Int

[2019-07-05 00:46] pengzhao-intel commented on #15432
@tianylijun thanks for the explanation. The tensorcore compute the 4x4 GEMM with INT8 and seems it can handle the overflow. Did you have a chance to look into the difference?

[2019-07-05 00:52] roywei commented on #15429
I agree that what impact actuall user experience is the final speed of the model inference/training as operators get fused and there are other performance improvement technics applied on overall model. Currently we don't have enough data to say these ops regression we have will impact actuall model speed.

Regarding the int32 vs int64 flag, we found out no matter what's the flag, there are around

[2019-07-05 03:38] YokkaBear commented on #675
I also have the same problem:
`mxnet.base.MXNetError: [11:18:15] src/storage/./pooled_storage_manager.h:157: cudaMalloc failed: out of memory
Stack trace:
  [bt] (0) /data/wangyoujia/anaconda2/envs/my_env37/lib/python3.6/site-packages/mxnet/libmxnet.so(+0x49640b) [0x7fcd6d02340b]
  [bt] (1) /data/wangyoujia/anaconda2/envs/my_env37/lib/python3.6/site-packages/mxnet/libmxnet.so(+0x2e5cc5b) [0x7fcd6f

[2019-07-05 05:33] zixuanweeei commented on #15464
@matteosal I think this is perhaps caused by the fact that the forward convolution operator supports calculation either with or without bias. And both cases require weights in the convolutional operator. So in the backward process, the gradient of bias could be either calculated or not. This leads to only two backward APIs supported by MKL-DNN corresponding to the cases of the forward operations.

[2019-07-05 06:21] roywei commented on #15429
I have ran a search for perf regression on `broadcast_add` and there are 2 regressions between 0412-0425, 0619-0621
mxnet-mkl version | broadcast_add speed | commit|
-- | --| --
1.5.0b20190411 | 0.003 |
1.5.0b20190412 | 0.003 | 30d479feae11b04d423f2ec055d124fb6d2d5730
1.5.0b20190425 | 0.0034 | 587d480372f41b25fcbffd45ce77373ad93d41b5
1.5.0b20190426 | 0.0034 |
1.5.0b20190619 | 0.0033 | ccbbf6b4b76e

[2019-07-05 06:21] yinghu5 commented on #15294
Hi butui
Thank you a lot for your report.  I actually was able to reproduce the problem under linux  by CMake install system.
Cmake ..
make -j
make install
and did some investigation:
the  root cause should be  CMAKE install mechanism will do the strip by default . It remove the runtime dependency library  libmklml_intel.so (coexist wtih intel openmp ) or libmklml_gnu.so (coexist with gomp)
in the

[2019-07-05 07:28] ZhennanQin commented on #15465
Good to see we have another option to implement operators with high performance! Here's a quick question:
How to deal with TVM dependence with LLVM ? LLVM is an important code generator for many CPU backends. If we integrate TVM into MXNet, then shall we integrate LLVM into MXNet? If the answer is yes, then we have binary size issue. If not, then how to make sure TVM can works together with any ho

[2019-07-05 07:54] roywei commented on #15429
@sandeep-krishnamurthy @Zha0q1
https://github.com/apache/incubator-mxnet/pull/15240 This PR introduced regression from 0619-0621.
broadcast_add speed before this PR: 0.004, after this PR: 0.0047
Note speed is different than pip installed version due to build flags but the regression is there.
build: `sudo  make -j$(nproc) USE_MKLDNN=1`
script:
[code]

[2019-07-05 08:55] roywei commented on #15429
another regression from PR https://github.com/apache/incubator-mxnet/pull/14661
broadcast_add speed:
before 0.0033
after:  0.0039

[2019-07-05 09:52] matteosal commented on #15464
I don't have a use case for this. I'm reporting the bug because our unittests at Wolfram Research have spotted it.

[2019-07-05 11:54] hubutui commented on #15294
Currently, the workaround is install `mkldnn` libs to `/usr/lib/mxnet/mkldnn`, patch with RPATH, see https://github.com/archlinuxcn/repo/blob/master/archlinuxcn/mxnet/PKGBUILD#L170. You might wanna consider installing 3rdparty deps in to `/usr/lib/mxnet` subfolder to avoid potential conflicts.

[2019-07-05 12:22] smartwell opened #15470 "it maye be a bug, how to explain"
mxnet 1.5  ubuntu 16.04
[code]

error：
`mxnet.gluon.parameter.DeferredInitializationError: Parameter 'conv0_weight' has not been initialized yet because initialization was deferred. Actual initialization happens during the first forward pass`

if you delete all things about anchor ,it can run successfully

[2019-07-05 12:55] #15470 closed

[2019-07-05 16:25] yzhliu commented on #15465
@ZhennanQin This is a good point. LLVM is required during compile time, while for binary release, only tvm runtime is needed (instead of tvm compiler plus llvm). We don't do JIT.

[2019-07-05 17:15] ZhennanQin commented on #15465
Oh, it's a bit different from what I thought. If we don't do jit, then tvm can't be used to implement custom op unless rebuilding MXNet.
Also, as tvm generated kernel is complied along with compling MXNet, avx512 instructions won't be generated from release version of MXNet, making integrated tvm can't provide best performance comparing with standalone tvm.

Seems jit is the solution to address ab

[2019-07-05 18:12] roywei commented on #15429
  | 1.4.1 | 1.4.1 | 1.4.1 | average | 1.5.0 | 1.5.0 | 1.5.0 | 1.5.0 | 1.5.0 average
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
broadcast_add | 0.055 | 0.059 | 0.056624 | 0.0567635 | 0.058 | 0.06 | 0.057 | 0.057 | 0.058183
elemwise_add | 0.104 | 0.104460 | 0.104491 | 0.10444 | 0.121223 | 0.127 | 0.124 | 0.124 | 0.125145

[2019-07-05 18:12] apeforest commented on #15429
https://github.com/apache/incubator-mxnet/pull/15240 may introduced extra runtime in profiler in mxnet 1.5. Using timeit module, `broadcast_add` between mxnet1.4 and mxnet1.5-int64 does not show significant difference:
[code]

mxnet 1.4:  time: 0.007329841988394037
mxnet 1.5 (with int64 flag): time: 0.007355470006586984
mxnet 1.5 (default):  time: 0.007073252985719591

[2019-07-05 18:16] yzhliu commented on #15465
I actually like the idea. But as jit requires big surgery to MXNet's engine, I suggest to do aot first, then make another design for jit later.

[2019-07-05 18:31] lanking520 commented on #15463
@gigasquid Can you check which function call to the Scala portion. It might be a scala problem

[2019-07-05 18:35] yifeim commented on #15428
The vanilla sparse format lacks sufficient information for e.g., recommendation applications. There are many extensions on group-wise ranking loss, other field identifiers, and other pipe marks. Here are some examples:

1. Group-wise ranking loss

vw allows auxiliary labels and [shared information among groups](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Contextual-Bandit-algorithms)
[code]

[2019-07-05 19:01] roywei commented on #15429
# Conclusion

1. **No significant regression for broadcast ops. This issue should no block 1.5.0 release.**
2. We should use `timeit` or `time` module for benchmark. Or use the same profiler module to make sure it's apple to apple comparison
3. Need better benchmark methods to reduce the variance between runs to clearly identify if there is a regession, otherwise it's hard to root cause and fix

[2019-07-05 20:16] #15425 closed

[2019-07-05 21:14] roywei commented on #15429
There is also no significant regression on BatchNorm op between 1.4.1 and 1.5.0

  | 1.4.1 (int64) | 1.4.1 (int64) | 1.4.1 (int64) | average | 1.5.0 (int 32) | 1.5.0 (int 32) | 1.5.0 (int 32) | average
-- | -- | -- | -- | -- | -- | -- | -- | --
BatchNorm | 2.609942 | 2.621809 | 2.608 | 2.607639 | 2.63 | 2.594 | 2.611 | 2.61147967

script:
[code]

[2019-07-05 21:27] apeforest commented on #15465
@yzhliu Nice proposal. I look forward to this integration of TVM into MXNet backend. It would be great if you could also add a section in the project plan for performance comparison with existing backend, so we have a more quantitative measure.

[2019-07-05 21:27] roywei commented on #15429
# Conclusion

1. **No significant regression for broadcast ops and batchnorm. This issue should no block 1.5.0 release.**
2. Regression on ReLU is expected as it's necessary as stated in https://github.com/apache/incubator-mxnet/pull/14262
3. We should use `timeit` or `time` module for benchmark. Or use the same profiler module to make sure it's apple to apple comparison
4. Need better benchmark m

[2019-07-06 00:08] zheng-da opened #15471 "mxnet can't be compiled in Raspberry pi"
It seems MXNet can't be compiled in Raspberry pi with cmake. It fails to link to the atomic library in GCC. We have to explicitly add -latomic in the Makefile to link the compiled mxnet binary to GCC.

The snapshot shows the error message:
![WechatIMG106](https://user-images.githubusercontent.com/70481/60748909-84bd3e80-9f47-11e9-9c34-cd010cceb03a.jpeg)

[2019-07-06 02:51] nopattern opened #15472 "Failed to compile plugin warpctc"
## Description
(Brief description of the problem in no more than 2 sentences.)

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using Python)

## Build info (Required if built from source)
Compiler (gcc):

MXNet commit hash:
b869ecd65

Build config:
Following the new 'build from source',config.mk has no use now?
(Paste the content of config.mk, or the build comman

[2019-07-06 04:58] Plusmonkey opened #15473 "mac mxnet cpu compile error"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-07-06 20:30] junrushao1994 commented on #15465
@ZhennanQin It would be possible to allow this to be an easy plugin of MXNet. Imagine the following scenario: MXNet itself is a small library with not many operators, and can be extended by downloading extra TVM ops, specialized for different CPUs, without re-compilation.

By detecting the feature set of the CPUs used (whether supporting avx512, etc), we could instruct users to use the most effici

[2019-07-06 20:32] junrushao1994 commented on #15465
@ZhennanQin btw, JIT is something requires runtime external dependency, and extra effort for compiling/caching/... We may consider it later after AOT is done :-)

[2019-07-06 22:11] eric-haibin-lin commented on #14373
@whamza15 does it work if you pass `[]` as the value for valid_length?

[2019-07-06 23:57] eric-haibin-lin commented on #15138
Also we should mention dynamic shape ops like @junrushao1994 did in  https://github.com/apache/incubator-mxnet/pull/13283

[2019-07-07 01:37] gyshi opened #15478 "compute in GPU , astype('int32') overflow problem"
this is in cpu

array([-2147483648, -2147483648, -2147483648,      167373], dtype=int32)

this in gpu.

array([2147483647, 2147483647, 2147483647,     167373], dtype=int32, ctx=gpu(0))

array([-2147483648, -2147483648, -2147483648,     -167373], dtype=int32, ctx=gpu(0))

the result is different between cpu and gpu computation.

[2019-07-07 06:43] nopattern commented on #14589
I have convert mxnet(1.5.0) to the onnx(1.5.0), the error is:
  `INFO:root:Converting idx: 3, op: null, name: first-3x3-conv-batchnorm_gamma
INFO:root:Converting idx: 4, op: null, name: first-3x3-conv-batchnorm_beta
INFO:root:Converting idx: 5, op: null, name: first-3x3-conv-batchnorm_moving_mean
Traceback (most recent call last):
  File "/home/deep/workssd/work/pycharm-community-2019.1.1/helpers/

[2019-07-07 07:08] #15478 closed

[2019-07-07 09:06] KhurramPirov opened #15479 "Clear optimizer state in batch.end.callback"
## Description
I want to clear SGD optimizer state during some steps of training.
Package used:
Python 3.7
## What have you tried to solve it?
1. I tried to delete opt and then create new, inside the function batch callback

[2019-07-07 11:01] pengzhao-intel commented on #15473
Could you update the description with a simple summary about what error you encountered and how to reproduce it?

[2019-07-07 14:19] nopattern opened #15482 "mx2onnx error about batchnorm"
## Description
 I use mx2onnx onnx_mxnet.export_model to transfer mxnet symbol to onnx . But the moving_mean&moving_var param of Batchnorm is not in the params. So the

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm usining Python)

## Build info (Required if built from source)

Compiler (gcc):

MXNet commit hash:
(da4b2a82511df)

Build config:

ifndef CC
export

[2019-07-07 21:51] cjolivier01 commented on #15465
dumb question: Are operators written this way available in any way to non-python languages such as lua, scala, etc?

[2019-07-07 22:45] junrushao1994 commented on #15465
@cjolivier01 yep! The TVM compiler generates llvm IR which are compiled as binary and loaded as a C++ module, then could be used in all frontend languages

[2019-07-07 23:35] ZhennanQin commented on #15465
@junrushao1994 The plugin idea looks too fantastic for me. Of course, If we can achieve that, then integrated TVM is able to provide very good performance.

Here's another question about threading management. As you may know, MXNet is using openmp as threading management protocol. Also threaded engine can create many threaded workers to execute operators in parallel. So the total thread number on

[2019-07-08 01:39] ciyongch commented on #15429
@roywei does it mean the operator profiling results with current profiler module is not accurate?

[2019-07-08 06:47] pengzhao-intel commented on #15267
Fixed and closing now. Thanks to reporting the issue :)

[2019-07-08 06:47] #15267 closed

[2019-07-08 08:05] nopattern commented on #15181
Is there any progress ?  Ssd to onnx is so comon used.

[2019-07-08 10:42] MaeThird opened #15483 "can compile with MKLDNN + MKLML but no MKL"
Because MKL is really large and needs register in Intel' web. It's tedious in the production environment.
I tried to compile the mxnet with MKLDNN and MKLML without MKL but failed in the linking processing. It looks like the '**mshadow**' module needs the MKL
I think if the entire MKL is convenient there will be no MKLML anymore. if the proj is not designed for production  it's just a toy for ever

[2019-07-08 12:08] pengzhao-intel commented on #15483
@MaeThird thanks for trying MXNet with MKLDNN backend.
Yes, it should work without MKL build even in `mshadow`.
Could you try the build with 'USE_BLAS=open`?

Please paste the error message when you build without MKL.

[2019-07-08 12:12] pengzhao-intel commented on #15483
cc @yinghu5  @NeoZhangJianyu

[2019-07-08 12:29] nopattern commented on #14589
the moving_mean is in the auxs param. just merge args and auxs.

[2019-07-08 12:30] pengzhao-intel commented on #15464
@matteosal no problem. we will create the case and file PR soon.

[2019-07-08 12:41] matteosal commented on #15464
Thanks!

[2019-07-08 13:38] cjolivier01 commented on #15465
That python code looks pretty intense compared to JAX/XLA, which looks like normal python/numpy code. What’s the difference between the end results/use cases of these packages?

https://github.com/google/jax/blob/master/README.md

[2019-07-08 15:07] nopattern commented on #15181
onnx 1.5 supports  ssd now
https://github.com/onnx/onnx/issues/1552

[2019-07-08 15:14] nopattern commented on #15482
sorry, the moving_mean&moving_var is in auxs.

[2019-07-08 15:14] #15482 closed

[2019-07-08 15:18] Maicus opened #15484 "Binding Model fails with simple_bind error"
## Description
Im trying to load a model which was created n c++ in python. After loading the network I want to bind it, but it's failing with various reasons.

## Environment info
[code]

## Error Message:
[code]

## Minimum reproducible example
[code]

## What have you tried to solve it?

1. Changed the size of the Input Shape
2. In theory the size of the images should be an grayscale 96x96 imag

[2019-07-08 16:12] lanking520 commented on #15450
Hi @leleamol could you please take a look

[2019-07-08 16:14] lanking520 commented on #15471
@aaronmarkham I remember you made it last time, could you please find the instruction?

[2019-07-08 16:17] lanking520 commented on #15473
@Plusmonkey The error message you have provided is unclear, I also got the same one when I compile successfully.

[2019-07-08 16:34] lanking520 commented on #15479
@KhurramPirov Could you please provide code to reproduce?

[2019-07-08 16:42] whamza15 commented on #14373
@eric-haibin-lin I am not sure I understand the question. valid_length always has value. It is just that this block does not use it. The reason we have this setup is that our toolkit allow people configure blocks (as complex as they want) without having to make them change the input. Some blocks may choose to consume `valid_length` while others may choose not to.

[2019-07-08 16:58] lanking520 commented on #15484
@Maicus It seemed to be a shape mismatch problem. Can you double check your input shape?

[2019-07-08 17:04] apeforest commented on #15429
@ciyongch The profiler was implemented in 1.5 and there are changes in the profiler code which were not in 1.4.1 release: https://github.com/apache/incubator-mxnet/pull/15240. This could have made difference in runtime as the runtime in each operator is very sensitive.

Going forward, we should enhance the profiler module and make it available in CI so we can capture the performance degradation in

[2019-07-08 17:09] lanking520 commented on #14459
@ShownX Close this for now due to the inactivity. Please feel free to reopen if problem persisit

[2019-07-08 17:09] #14459 closed

[2019-07-08 17:42] junrushao1994 commented on #15465
@cjolivier01 basically you can consider TVM serves similar functionality as XLA. JAX doesn’t seem to be relevant in this case.

[2019-07-08 17:52] junrushao1994 commented on #15465
@yzhliu i am not super familiar with the threading management in TVM. Could you answer @ZhennanQin’s question on your side?

[2019-07-08 17:54] samskalicky commented on #15465
@yzhliu If TVM operators have to be compiled and then would need to be recompiled with MXNet, have you thought about TVM being an "accelerator" that could be used with the Accelerator API proposal: https://cwiki.apache.org/confluence/display/MXNET/Bring+your+own+Accelerator ? Maybe using this interface we can build that "auto-download" the appropriate operator-set feature. And keep the operator li

[2019-07-08 18:40] aaronmarkham commented on #15471
https://mxnet.incubator.apache.org/versions/master/install/index.html?platform=Devices&language=Python&processor=CPU
My changes that [fixed the instructions were focused on the cross-compile route](https://github.com/apache/incubator-mxnet/pull/14746/files). Building on the device is painful and seemed impossibly slow.
There are mentions in the native build route about managing memory and increasi

[2019-07-08 18:42] aaronmarkham commented on #15471
@zheng-da Can you specify what version of Pi hardware plus what Pi disk image you're attempting and if you increased the swapfile space?

[2019-07-08 19:30] aaronmarkham commented on #13836
Anyone else troubleshooting setting up Julia with MXNet should note that this PR has been merged and MXNet now supports 0.7 and 1.0.x.

[2019-07-08 20:04] avivna opened #15486 "mxnet profiler yields exception when multithreaded mxndarray IO operations occur in the background"
## Description:
Activation of the mxnet profiler when mx.ndarray io operate in the background result in the following exception:
Check failed: !thread_profiling_data.calls_.empty()

A short script that recreates this exception is attached to this issue:
The script's flow:
[1] Predefined mx.ndarrays (8 arrays by default) are saved to disk
[2] 8 threads are invoked, each thread infinitely load's one

[2019-07-08 21:30] apeforest commented on #13846
This issue has been fixed in CMake. I have verified in CLion on MacOS 10.13.6

[code]

[2019-07-08 21:30] #13846 closed

[2019-07-09 00:02] frankfliu commented on #15486
@mxnet-label-bot add [bug, profiler]

[2019-07-09 00:25] yzhliu commented on #15465
@ZhennanQin tvm will still be using its own thread pool, the thread pool is shared across the workers. I don't see this will be a problem as anyhow the max parallelism we can achieve is the number of physical cores.

@apeforest unfortunately I don't have the performance number for new-written operators as for now.

@samskalicky Yes this can be an option. while it's a little bit unclear to me how i

[2019-07-09 01:24] samskalicky commented on #15465
Thanks @yzhliu for the answers. How will users control the number of threads used by TVM in MXNet? they already have a few knobs to turn, and some use cases like MMS set minimum thread pool sizes to prioritize throughput over latency. Are we overcomplicating things by adding this additional threadpool?

The question about multiple OMP libs still stands though. Will TVM compile with the same OMP as

[2019-07-09 01:36] ciyongch commented on #15429
@apeforest Thanks for the info, as we saw the current perf degradation only happened for some ops or some certain shapes with v1.5, any suggestion to do profiling for a real model? Could we still rely on the profiling result with latest MXNet code base (with #15240)  so far?

[2019-07-09 01:39] ZhennanQin commented on #15465
@yzhliu Actually this will be a performance problem. OMP threads will spin when parallel block is completed, this can help to avoid thread switch off before executing next parallel block. If a TVM operator follows with an OMP operator, then there will be 2x threads activate, half are TVM threads, and the other half are the spined OMP threads. This will cause physical core race, result in low perfo

[2019-07-09 02:10] MaeThird commented on #15483
Hi @pengzhao-intel
 MKLDNN + MKLML + CBLAS( Atlas or OpenBlas) **works as expected**.
 MKLDNN + MKLML + USE_BLAS_MKL=1 (Actually there was no MKL,I just replaced it with MKLML) with the error output:
[code]
It turns out  **MKLML cannot replace the MKL as the blas using**.
**Another small issue is** that [https://github.com/intel/mkl-dnn/blob/41bee20d7eb4a67feeeeb8d597b3598994eb1959/src/common/util

[2019-07-09 02:26] pengzhao-intel commented on #15483
_MKLDNN + MKLML + USE_BLAS_MKL=1 (Actually there was no MKL,I just replaced it with MKLML) with the error output:_

This is not the right usage because MKLML is just a subset of MKL and only works for MKL-DNN library.
It doesn't target to work as a full BLAS library.

You can get MKL by yum or apt to avoid web register.
https://software.intel.com/en-us/articles/installing-intel-free-libs-and-pytho

[2019-07-09 02:34] MaeThird commented on #15483
@pengzhao-intel Thanks for your help.

[2019-07-09 02:34] #15483 closed

[2019-07-09 02:42] TaoLv commented on #15483
Thanks for pinging, @pengzhao-intel .

@MaeThird ,

Regarding the first error, yes, the vsErf function is not part of MKLML. So you need full MKL to take advantage of this function.
Regarding the compiling error with GCC 9+, it's fixed in MKL-DNN 0.20 release and just upstreamed to mxnet half an hour ago (https://github.com/apache/incubator-mxnet/pull/15422). Would you mind trying the master branc

[2019-07-09 06:21] avivna commented on #15486
[mxnet_profiling_exception.py.zip](https://github.com/apache/incubator-mxnet/files/3371458/mxnet_profiling_exception.py.zip)

[2019-07-09 06:35] RuilinZhuIntel commented on #15420
@Crunchy9 Hi, please try this code for training on your kaggle dataset,
library(mxnet)
dataset<-mx.io.ImageRecordIter(path.imgrec="C:\\Users\\ruilinzh\\Downloads\\caltech-256-image-dataset\\data_train.rec", path.imglist="C:\\Users\\ruilinzh\\Downloads\\caltech-256-image-dataset\\data_train.lst", batch.size = 8, data_shape = c(224, 224, 3))
data <- mx.symbol.Variable("data")
conv <- mx.symbol.Convo

[2019-07-09 07:25] Maicus commented on #15484
Yeah I did already, but I not 100% certain what the input shape is...

Is there a way to deduct it?

[2019-07-09 07:26] czd2003 opened #15492 "No CMAKE_CUDA_COMPILER could be found"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-07-09 07:45] yunfanLu commented on #15322
sorry, I don't konw how it support Caffe. I only can use the developed tools supported by Huawei. Maybe the supportive is complex.

[2019-07-09 07:52] KhurramPirov commented on #15479
`def _batch_callback(param):
      avr_loss.append(param.eval_metric.get_name_value()[1][1])
      avr_acc.append(param.eval_metric.get_name_value()[0][1])

      if len(avr_loss) == 20:
          avloss = np.mean(avr_loss)
          avacc = np.mean(avr_acc)
          sw.add_scalar(
              tag='loss',
              value=avloss,
              global_step=global_step[0]
          )

[2019-07-09 07:58] junrushao1994 commented on #15465
@ZhennanQin Does it make sense to parallelize two CPU operators both of which eat all threads?

[2019-07-09 08:06] ZhennanQin commented on #15465
@junrushao1994 No, it doesn't make sense. But currently we can specify OMP_NUM_THREADS = physical_core_num / 2 for two paralleled operators to let each of them to use half physical cores.

[2019-07-09 08:29] Chancebair commented on #15374
Unfortunately this is still broken as of Jul 8th.  Can we get a merge on https://github.com/apache/incubator-mxnet/pull/15452

[2019-07-09 09:03] junrushao1994 commented on #15465
@ZhennanQin If we could somehow instruct TVM's threading backward how many threads it would utilize, will it be something similar? Or what if we could instruct TVM to use omp?

[2019-07-09 10:15] ZhennanQin commented on #15465
@junrushao1994 Let me clarify my concerns for TVM thread pool.

1>
On default, threaded engine will only create single worker for normal CPU operator. At this scenario, user will specify `OMP_NUM_THREADS = physical_core_num` to maximize the computing capacity of CPU. A OMP operator followed by TVM operator will have omp thread spinning issue, causing TVM operator executes slowly. This is a major i

[2019-07-09 11:09] avivna commented on #15486
In order to make recreation of this bug easier, I have recreated it on an mxnet/python docker image:

docker image:
REPOSITORY: mxnet/python
TAG: 1.4.1_cpu_py2

[1] docker was invoked using the following command:
docker run -e PYTHONUNBUFFERED=0 -it temp /bin/bash

[2] mxnet_profiling_exception.py was copied into the docker:
docker cp {local_input_folder}/mxnet_profiling_exception.py {CONTAINER ID

[2019-07-09 11:11] Maicus commented on #15484
So i got it to work by adding the Target and the TargetCode Section as well.

But the size of these should be dependent of the Input Shape, so I would be nicer to not having to specify these.

Do you have any idea why this could be the case?

I dont have to specify these when loading it inside the c++ environment

[2019-07-09 11:18] KhurramPirov opened #15496 "Loaded pretrained model but train accuracy starts from zero,"
## Description
I loaded pretrained model, but got zero train accuracy (acc) at the same time pretrained model has 80% accuracy.
Can I do like this?

`sym, arg_params, aux_params = mx.model.load_checkpoint(os.path.join(args.pretrained, "model"), args.pretrained_epoch)
      sym = get_symbol(args)
      model = mx.mod.Module(symbol=sym, label_names=None, context=ctx)
      model = mx.mod.Module(symb

[2019-07-09 11:56] braindotai commented on #15429
According to the above mentioned benchmark results, it looks like v1.5 is gonna be more faster than v1.4. Am I right?

[2019-07-09 16:26] tqchen commented on #15465
Re: Threadpool

Technically it is easy to drop in openmp as a threadpool backend of TVM. It is just not the default one. Historically tvm defaulted to openmp then evolved its own version of thread pool for better perf. The current thread pool already has accepts the OMP env variable, making it consistent with the omp settings.

Most of the operators touched so far are single threaded so won’t be a

[2019-07-09 17:20] yidawang commented on #15465
We will never want to use two thread pools simultaneously. We should use the one which gives best-to-date performance. Technically it is not difficult for TVM to switch among different thread pool implementations. So we just need to benchmark them and decide which one to use. As @tqchen said, our benchmarking results show that the current TVM thread pool is better than the ones using OpenMP APIs.

[2019-07-09 18:17] roywei commented on #15431
Hi @Wallart  are you able to come up with a reproduciable example? I suspect it may only occur when using dataloader with multi-workers, but i can't reproduce the error. You can also turn on DEBUG flag to get more information on the error.

[2019-07-09 18:26] keerthanvasist commented on #15492
@mxnet-label-bot add [build, cmake, cuda]

[2019-07-09 18:28] keerthanvasist commented on #15496
@mxnet-label-bot add [python, question]

[2019-07-09 22:49] ArmageddonKnight commented on #14383
@antinucleon Given below is the outputs that I got from the LSTM-based NMT model (from the *Sockeye* toolkit):

### Baseline

[code]

### `BACKWARD_DO_MIRROR=1`

[code]

We can see from the output logs that with the same number of global steps, both roughly reach the same training quality. The memory footprint of doing backward mirroring is around **`1/3`** of that in the baseline, but at the same

[2019-07-09 22:52] ArmageddonKnight commented on #14383
My implementation is available here: https://github.com/UofT-EcoSystem/nnvm/blob/cce19c328427de4eacd51178d233ce23a3e3d79d/src/pass/gradient.cc#L144

Any feedback or comment is much appreciated. Thanks.

[2019-07-10 00:27] ZhennanQin commented on #15465
@tqchen I agree with you that this is a technical issue and shouldn't block this PFC. As thread management should be considered from high level design, I bring this topic here.

`OMP_NUM_THREADS` can't help for either of them. For (1), consider the executing sequence: OMP operator -> TVM operator. When OMP operator finished, OMP threads won't sleep immediately, but spin for a while. Then when TVM

[2019-07-10 00:37] yidawang commented on #15465
@ZhennanQin I guess we should first make sure that we don't use more than one thread pool implementation in the runtime. Also, `KMP_AFFINITY` only works for Intel CPUs, we have many more other platforms.

[2019-07-10 00:44] ZhennanQin commented on #15465
@yidawang If we all agree that we should avoid using more than one thread pool implementation in the runtime, then I guess OMP is the only choice, is that true?

[2019-07-10 02:47] Plusmonkey commented on #15473
@lanking520 @pengzhao-intel  Hi, I update the summary and hot to reproduce it.

[2019-07-10 08:29] Wallart commented on #15431
I put the source code on Github.
The error occurs before the dataloader. If you use the dataset to plot a sample for example, you can reproduce.
https://github.com/Wallart/gluon-tacotron2/blob/master/dataset/wav_dataset.py

[2019-07-10 12:09] Crunchy9 commented on #15420
@RuilinZhuIntel, @TaoLv Thanks guys!

[2019-07-10 12:09] #15420 closed

[2019-07-10 16:13] TaoLv commented on #15208
Should be fixed via #15422 . Feel free to reopen if the problem is still there.

[2019-07-10 16:13] #15208 closed

[2019-07-10 16:15] TaoLv commented on #15392
Should be fixed via #15422. Feel free to reopen if the problem is still there.

[2019-07-10 16:15] #15392 closed

[2019-07-10 16:15] frankfliu commented on #15431
@mxnet-label-bot add [Bug]

[2019-07-10 17:32] vandanavk commented on #14875
@ehsanmok I tried the following code with the PR https://github.com/apache/incubator-mxnet/pull/14942. `ValueError: invalid literal for int() with base 10: 'None'` error doesn't occur anymore but I do see `AttributeError: No conversion function registered for op type _arange yet.`. _arange export can be filed as separate feature request. Please try PR https://github.com/apache/incubator-mxnet/pull

[2019-07-10 17:36] keerthanvasist commented on #15496
Hey @KhurramPirov, thank you for asking the question.
For questions, please submit them on the MXNet discussion forum (https://discuss.mxnet.io) where it will get a wider audience and allow others to learn as well.
Thanks!

[2019-07-10 17:37] vandanavk commented on #15326
@wmlba Could you share the symbol and params file of the trained model?

[2019-07-10 17:59] vandanavk commented on #12514
Could you share the symbol and params files that you used? @xhappy @lizhen2017 @allgrom

[2019-07-10 18:18] vandanavk commented on #15131
Updated https://cwiki.apache.org/confluence/display/MXNET/ONNX+Operator+Coverage. This doc has a list of operators according to ONNX 1.3 spec.
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py may have other operators which are specific to MXNet

[2019-07-10 19:06] KhurramPirov opened #15504 "Saved model and then looked at the output of the same batch after loading, got different results!"
## Description
(Brief description of the problem in no more than 2 sentences.)
Get different results from model which is saved and from loaded model.
I tried differen methods for saving and loading, all showed wrong output.

               model.forward(batch)
               out1 = model.get_outputs()[0].asnumpy()
               print('saving')
               arg, aux = model.get_params()

[2019-07-10 20:06] frankfliu commented on #15504
@mxnet-label-bot add [question, training]

[2019-07-10 20:09] frankfliu commented on #15504
@KhurramPirov
It the code just pseudo code or it's complete code?

It looks you like you are running all batched data from data_iter for the initial forward,
But you only forward once for the last batch after you saved. If you are not processing the same input, the result will not be the same.

[2019-07-10 20:17] KhurramPirov commented on #15504
@frankfliu
It is a  sample of the test code. I am checking for each batch once and then look at the output, it is all in one loop with keyboard interruption. Not the last batch, sorry did not insert interruption and right indents.

[2019-07-10 20:31] jonathandgough commented on #10805
@safrooze @roywei is the  LSTnet-Attn method in Gluon yet?
Thanks!

[2019-07-10 21:29] roywei commented on #15431
@Wallart your code is running fine on my machine. I'm testing on[ LJ-Speech Dataset](https://keithito.com/LJ-Speech-Dataset/)

added a few lines in `main` to format the text files, and everything is plotted, and  `asnumpy()` works fine. Could you try without Docker?

[code]

[2019-07-11 00:29] ChaiBapchya opened #15506 "Improving error message"
Source build on Ubuntu (EC2)

I ran into this error:

Thought this error message could be improved -

[code]

[2019-07-11 00:31] ChaiBapchya commented on #15506
@mxnet-label-bot add [Installation, Unclear Error/Doc, Build]

[2019-07-11 01:21] zhly0 commented on #15131
Thanks！

[2019-07-11 01:21] #15131 closed

[2019-07-11 06:17] yidawang commented on #15465
Sorry for the late reply, traveling these days. In this case, I think we should also benchmark to compare the performance of between different scenarios to decide. Theoretically, if a model runs both TVM ops and original MXNet ops on CPUs, I agree that using OpenMP may be a short term solution.

[2019-07-11 07:24] #15484 closed

[2019-07-11 08:10] CynthiaProtector opened #15509 "Train models under the director '/mxnet/example/gluon/'"
I conduct distributed training on almost all the models provided under the directory '/mxnet/example/gluon', however, when running the models with the asynchronous mechanism (--kvstore dist_async), none of the models is convergent.
For instance, I train the resnet18_v1 with cifar10 dataset, the training accuracy is around 0.09 under the asynchronous mechanism. Nevertheless, training with the synch

[2019-07-11 09:02] wshuail opened #15512 "possible bug in nd.gather_nd"
When I use nd.gather_nd with gpu, a unexpected error happened sometimes.

Here is the error message when I run my script with export MXNET_ENGINE_TYPE=NaiveEngine.
[code]

An error "terminate called without an active exception" could happen with the code below.

[code]

when I add nd.waitall() at last, it works well.

any suggestions?

BTW, does mxnet has a function like torch.gather?  gather_nd w

[2019-07-11 09:46] noodle-overflow commented on #13482
+1

[2019-07-11 13:15] qqaatw commented on #15484
I have the same problem as you, could you tell more in detail about the Target and the TargetCode Section? thanks.

[2019-07-11 13:23] marcoabreu commented on #15506
```No space left on device```

Sounds pretty clear to me. Is this not talking about disk space? What was the root cause?

[2019-07-11 13:25] smissan opened #15514 "dmlc.lib is not generated"
when trying to build latest head, dmlc.dll is being generated, but not dmlc.lib (using ms visual studio 2015). Therefore, building mxnet dll fails with

1>------ Build started: Project: mxnet, Configuration: Release x64 ------
1>LINK : fatal error LNK1181: cannot open input file '3rdparty\dmlc-core\Release\dmlc.lib'

[2019-07-11 16:52] frankfliu commented on #15509
@mxnet-label-bot add [Question, distributed, training]

[2019-07-11 16:56] frankfliu commented on #15512
@mxnet-label-bot add [backend, cuda, question]

[2019-07-11 16:57] frankfliu commented on #15514
@mxnet-label-bot add [build]

[2019-07-11 17:14] ChaiBapchya commented on #15506
I had an issue with this part of that error
` when writing output to : `

And I am running this on p2.8x large GPU-optimized AWS EC2 instance with EBS of 100gig
But somehow falls into the space issue
I'm surely missing something.

[2019-07-11 17:35] ChaiBapchya commented on #15506
Issue resolved by
1. Switching to Ubuntu AMI (instead of DL AMI that comes with loads of other packages and libraries I don't need)
2. Increasing the  root storage capacity (default 8gig to 20)

@marcoabreu
coming to this specific issue - "when writing output to " seems abrupt. We can either do away with that  or just mention the location where was the process writing output to. What do you reckon

[2019-07-11 21:23] #15415 closed

[2019-07-11 23:20] larroy commented on #15465
Can it fuse different operators in the graph? I think this would be badly needed for us.

[2019-07-12 05:53] yzhliu commented on #15465
@larroy In this proposal it cannot. It requires more deeply integrated with tvm/relay to run graph-level optimization, which @junrushao1994 is planning.

[2019-07-12 10:01] braindotai commented on #15504
Make sure you are saving and loading the model from the same path. I've tested the code below and it is working fine.

[code]
Output is all zeros.

[2019-07-12 10:09] KhurramPirov commented on #15504
I checked the path, I do it inside batch_callback and model.fit, can it be
the case(seems no), but nevetheless.

пт, 12 июл. 2019 г. в 13:03, Rishik Mourya <notifications@github.com>:

--
Khurram Pirov
skype: matrixrextended
mob: +7-916-439-53-76

[2019-07-12 11:07] braindotai commented on #15496
Below code should work
[code]

[2019-07-12 12:02] marcoabreu commented on #15506
I think that this error is a quite standard one. Considering that the compiler might write to a lot of locations due to optimizations, I don't think that we can safely tell which partition in particular is too small.

To avoid giving false leads, I wouldn't improve the error message here. As long as the error is really related to disk or ram space, it should be straight forward to solve it.

[2019-07-12 12:48] KhurramPirov commented on #15504
It doesn't work inside batch_callback.

пт, 12 июл. 2019 г. в 13:03, Rishik Mourya <notifications@github.com>:

--
Khurram Pirov
skype: matrixrextended
mob: +7-916-439-53-76

[2019-07-12 12:48] KhurramPirov commented on #15496
It doesn't work inside batch_callback and model.fit.

пт, 12 июл. 2019 г. в 14:08, Rishik Mourya <notifications@github.com>:

--
Khurram Pirov
skype: matrixrextended
mob: +7-916-439-53-76

[2019-07-12 12:50] gxkevin opened #15520 "most time cost in NDArray GetData() func"
My predict code is like this， I have 32 worker thread, each has 1 openmp thread, the mxnet engine is NaiveEngine , using the openblas, disable the mkldnn, running the code on the Skylatex machine, using the avx512, but it is not faster than the avx2, I don't know why?

And what's more, the naiveEngine means that all the funcs are sequential？(not asynchronous?)
In this condition, the WaitAll() func

[2019-07-12 13:49] #15514 closed

[2019-07-12 15:56] braindotai commented on #12185
[Check this out](https://www.tensorflow.org/api_docs/python/tf/nn/softmax_cross_entropy_with_logits)
Here it says "logits: Per-label activations, typically a linear output", which means `nd.dot(x, w) + b` in terms of MXNet.
There are actually two versions of logits, first is simply the linear layer(as mentions in the above link), and second is the unscaled log probabilities. That is the reason Ten

[2019-07-12 16:07] frankfliu commented on #15520
@mxnet-label-bot add [question, performance]

[2019-07-12 16:10] ChaiBapchya commented on #15506
Alright. If it is tough to safely tell the location, can't it be renamed to
[code]
Might sound like a nitpick and in that case I don't mind closing this issue.

[2019-07-12 18:15] sandeep-krishnamurthy opened #15525 "Nightly tests / integration tests in PRs are not tested before merging"
We do not test nightly/integration tests added in a PR at PR CI stage. This leads to a PR with failing integration test to get merged and all our nightly CI jobs starts failing.

We need to make sure everything in the PR is tested before merge. For this particular problem, one suggested solution could be - If there are nightly tests in the PR, it needs to be executed as part of PR validation.

Sug

[2019-07-12 18:24] marcoabreu commented on #15525
I'd love to have context sensitive validations. Unfortunately, this feature doesn't exist out of the box.

In general I think that we consider master bleeding edge. Thus, it's okay to have less coverage for the sake of speed and costs. If a PR breaks something, we usually revert it and get back to the original author.

[2019-07-12 18:47] roywei commented on #15525
- Nightly tests are supposed to fail and we can revert whichever PR caused it, other wise it's too costly to run even for PR validation, imagine each commit will trigger a big job.
- Most of the time, when contributors are changing nightly test configurations and adding nightly tests, they test it anyway, it's not likely to fail.
- Test tuorials is a special case as many people are contributing to

[2019-07-12 19:05] marcoabreu commented on #15525
I'm certainly in favour of a context sensitive bot that gives certain comments if certain types of changes are detected. But enforcing directly isn't possible besides adding actual checks.

For example, we asked people in the past to run make lint locally. I could give you statistics about how often linting fails in ci, but trust me that something that simple isn't even followed most of the time.

[2019-07-12 19:06] larroy commented on #15465
Could we add more information on how will it impact the build systems and dependencies? While integrating TVM is exciting, I think is fair to gauge the increase of complexity, build and release implications. Would it be possible to load operators compiled with TVM dynamically? This would open a path to modularize MXNet and reduce the library size / target inference only version in a more streamlin

[2019-07-13 02:21] #14159 closed

[2019-07-13 02:28] anirudh2290 commented on #13335
Resolved by #15245

[2019-07-13 02:28] #13335 closed

[2019-07-13 04:48] intgogo opened #15529 "MXNET_CUDNN_AUTOTUNE_DEFAULT problems"
When I set MXNET_CUDNN_AUTOTUNE_DEFAULT =1, it won't stop.WTF~

[code]
...
Never stop.

[2019-07-13 11:51] LJXLJXLJX opened #15532 "Linking error while compiling on windows10."
I am trying to build the mxnet(1.4.1) c++ api on windows 10.

Firstly, I met the fatal error C1060, compiler is out of heap space. Then I build again and met some linking error.

[2019-07-13 12:45] wkcn opened #15533 "The problems about SGD with momentum when learning rate changes"
Hi, there.
Currently, SGD(Stochastic Gradient Descent) in MXNet is applied by:
[code]
I found there are two problems in SGD.
1. Loss of accuracy on float-point number
For the SGD with momentum, the variable `state` stores the gradients multiplied by learning rate. However, learning rate is usually a small value, such as 1e-3, enabling the `state` becomes smaller than the gradient. It may loss the

[2019-07-14 02:12] Royzon opened #15534 "how to get get train-acc and validation-acc per epoch explicitly per epoch?"
how can I get train-acc and validation-acc explicitly rather than just call modul.fit()， or In other words, how can I customize the call_back to get train-acc and validation-acc per epoch?

[2019-07-14 02:47] larroy commented on #15402
Closing since the performance issues were verified for 1.5 release.

[2019-07-14 02:47] #15402 closed

[2019-07-14 03:13] turtleizzy opened #15535 "mxnet.io.NDArrayIter does not properly function when len(data) * 2 < batch_size and last_batch_handle='pad'"
mxnet version: `1.4.0`
minimal steps to reproduce:
[code]
[code]

[2019-07-14 12:56] braindotai commented on #15534
You can pass evaluation data in .fit call as below:

[code]
For more info checkout [here](https://mxnet.incubator.apache.org/versions/master/tutorials/basic/module.html)

[2019-07-14 13:05] braindotai commented on #15534
You can pass eval_data in the `.fit` call method as below:
[code]
Will print
[code]

[2019-07-14 13:17] braindotai commented on #15535
I was running your code, and it looks like `last_batch_handle` has nothing to do with the error. You'll get the same error if your `batch size > 2 * len(data)`.
[code]
prints:
`IndexError: Slicing stop 6 exceeds limit of 5`

[2019-07-14 14:49] #15509 closed

[2019-07-14 15:20] Mut1nyJD opened #15536 "ONNX export using ONNX 1.5 throws up problem in BatchNorm operator"
## Description
I installed the latest ONNX version 1.5 and now trying to export a standard model (resnet18v2) from the gluoncv modelzoo is causing a validation error in onnx,onnx_cpp2py.export.checker

It is basically complaining about Unrecognized attribute: spatial for operator BatchNormalization

## Environment info (Required)
Windows10, CUDA9.2, Python 3.5
mxnetcu92-mkl 1.4.0.post0
gluoncv0.5.

[2019-07-14 15:48] turtleizzy commented on #15535
`last_batch_handle='pad'` does matter because the default value for `last_batch_handle` is `'pad'` and all other options (`roll_over` and `discard`) does not result in exception.

[2019-07-14 16:14] braindotai commented on #15535
Oh man!! Sorry, I forgot to see what's the default.

[2019-07-14 16:19] braindotai commented on #15536
This [page](https://mxnet.incubator.apache.org/api/python/contrib/onnx.html) tells that only onnx version 1.2.1 is supported. After downgrading onnx from 1.5.0 to 1.2.1, everything should work fine.

[2019-07-15 08:11] Maicus commented on #15484
So in the network was built for training so the Loss was directly computed in the network at the end points target and targetCode, these shouldn't need any shape declaration because it can be inferred from the input shape.

But it seems so that the python implementation had a problem with "Input" Shapes which are not defined.

So I just added them as an InputShape and calculated the size they shou

[2019-07-15 09:44] Chancebair commented on #15374
Still failing as of Jul 15th: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/379/pipeline

[2019-07-15 09:48] Mut1nyJD commented on #15536
@braindotai Yes it resolves the export problem however some ONNX inference engines are very picky and do not accept this spatial notation in batchnorm. So it does not really solve the problem.

Are there any plans to move to ONNX1.5 (opspec 12) as it finally opens up the ONNX to more complex models like e.g. object classification

[2019-07-15 11:04] turtleizzy commented on #15535
PS: workaround is to pad manually.

[2019-07-15 11:16] braindotai commented on #15536
I'm quite note sure about that, a member of MXNet might help you out.

[2019-07-15 12:21] KhurramPirov commented on #15496
Hi! I attached an example for mnist_code, just train for some checkpoint
and then try to load it. All in the  notebook, I can't get the same
accuracy after loading from checkpoints. Please check my notebook. The same
bug is in my main code.

пт, 12 июл. 2019 г. в 14:08, Rishik Mourya <notifications@github.com>:

--
Khurram Pirov
skype: matrixrextended
mob: +7-916-439-53-76

[2019-07-15 12:49] KhurramPirov commented on #15496
And pyfile

пн, 15 июл. 2019 г. в 15:21, Пиров Хуррам Хуршедович <
khurram.pirov@phystech.edu>:

--
Khurram Pirov
skype: matrixrextended
mob: +7-916-439-53-76

[2019-07-15 13:39] paulbauriegel opened #15540 "Inference Error with ONNX model: leaky_relu-inl.h Cannot broadcast gamma to data"
## Description
The inference of an ONNX model from the model-zoo (`onnx-model-zoo/arcface/resnet100/resnet100.onnx`) throws following exception when using mxnet:
`MXNetError: [11:42:53] src/operator/./leaky_relu-inl.h:311: Check failed: s == -1 Cannot broadcast gamma to data. gamma: [1,64,1,1], data: [1,64,112,112]`

## Environment info (Required)

[code]
## Error Message:
[code]

## Minimum repro

[2019-07-15 13:48] braindotai commented on #15540
Only onnx version 1.2.1 is supported for now. After downgrading to 1.2.1, everything should work fine.

[2019-07-15 14:09] paulbauriegel commented on #15540
@braindotai Thank you, for the fast reply. Unfortunately:
[code]
did not solve the issue

[2019-07-15 15:39] braindotai commented on #15496
[Here](https://colab.research.google.com/drive/1c1r07zUDK9WcX3G_ZvQMdtAekUojxhZR) is your working solution notebook. Ask me anything if you've further doubts.

[2019-07-15 16:34] frankfliu commented on #15534
@mxnet-label-bot add [python, question]

[2019-07-15 16:35] frankfliu commented on #15535
@mxnet-label-bot add [python, bug]

[2019-07-15 16:36] frankfliu commented on #15536
@mxnet-label-bot add [ONNX, question]

[2019-07-15 16:37] frankfliu commented on #15540
@mxnet-label-bot add [onnx, question]

[2019-07-15 20:43] vrakesh commented on #15529
@mxnet-label-bot  add [Cuda, Bug]

[2019-07-15 20:44] vrakesh commented on #15529
@mxnet-label-bot remove [Bug]

[2019-07-15 20:52] yzhliu commented on #15465
Sure,
- Build system
   * Download pre-built LLVM
   * Compile 3rdParty/tvm
   * use compiled tvm to compile tvm operator kernels and generate libtvmop.so
- Runtime
  * libtvm_runtime.so linked with libmxnet.so
  * MXNet loads libtvmop.so during runtime (sort of dynamic loading)

While for "fully" supported dynamic loading, the major problem is how to register op metadata, basically InferShape/Inf

[2019-07-15 21:29] larroy commented on #9686
I was thinking that it would like to drop Amalgamation and instead have a dynamic operator registry, imagine for a moment that you can register your operators in a set of yaml files that would do the same as NNVM_REGISTER, before build time you can configure which operators to compile and produce a very lean library in a similar way that almalgamation is doing but more clean and in a per operator

[2019-07-15 21:38] roywei opened #15542 "License issues need to be fixed before 1.6 release"
I am creating this issue to be tracked and resolved before next release according to the discussion on @general during 1.5.0 release:
https://mail-archives.apache.org/mod_mbox/incubator-general/201907.mbox/%3CCAMbkE7T6wP6ph6qgDkmKfC6wZ0Cj7ajBbHyE-h-67%3DUKDCka0g%40mail.gmail.com%3E

1.  Mention original license for ONNX export module and FindJeMalloc, as we have modified the code and licensed unde

[2019-07-15 21:50] yzhliu commented on #15465
Thanks everyone comments on the RFC. To summarize,
* We agree to integrate TVM into MXNet
* The first step is to use TVM write operator kernels, do ahead-of-time compile.
* It might have performance issue if we mix TVM's threadpool and openmp together in MXNet. We need to benchmark and if it does appear to be a problem, we can switch to use openmp in TVM as well.
* Later: whether and how to integr

[2019-07-15 21:51] zhanghang1989 opened #15543 "Bug in NAG Optimizer"
Current implementation of NAG is wrong.

**See this PDF for detail in the equations. [nag.pdf](https://github.com/apache/incubator-mxnet/files/3394333/nag.pdf)**

FYI @eric-haibin-lin

[2019-07-15 21:53] roywei commented on #15542
@Roshrini any idea why we have a different license than the one on NVIDIA? maybe they changed the license after we used it?

[2019-07-15 22:02] keerthanvasist commented on #13751
@miteshyh is this still an issue?

[2019-07-15 22:05] keerthanvasist commented on #14721
@iaroslav-ai is this still an issue?

[2019-07-15 22:17] vrakesh commented on #15543
@zhanghang1989  Thanks for reporting this

@mxnet-label-bot add [Optimizer, Bug]

[2019-07-15 22:18] vrakesh commented on #15542
@mxnet-label-bot add [ONNX]

[2019-07-15 22:31] roywei commented on #15542
@mxnet-label-bot add [Licenses]

[2019-07-15 22:44] stu1130 commented on #15383
@haojin2 the PR was merged, could you close the issue? Thanks

[2019-07-15 22:46] haojin2 commented on #15383
@hzfan Please verify this on your end and close the issue once you think your issue is solved, thanks

[2019-07-15 23:55] roywei opened #15544 "remove mkl blas lincense"
According to @general discussion, we should remove MKL BLAS lincense if we are not shipping it with our source release.

https://mail-archives.apache.org/mod_mbox/incubator-general/201907.mbox/%3C29E387FB-238F-4FC2-A41D-E4AB99AF4911%40classsoftware.com%3E

Currently we added it in license file here: https://github.com/apache/incubator-mxnet/blob/master/LICENSE#L624

cc @pengzhao-intel

[2019-07-16 00:08] roywei commented on #15544
@mxnet-label-bot add [Licenses]

[2019-07-16 00:53] roywei opened #15547 "Pybind11 license issue from onnx tensorrt"
follow up on 1.5.0 release vote discussion on @general:https://mail-archives.apache.org/mod_mbox/incubator-general/201907.mbox/%3Cpony-fd9da504b63c1736e52a84ae954da2a315f2f28a-abe0ddab200aaebfe96f1266ab8118e4927ddc8b%40general.incubator.apache.org%3E

We need to evaluate whether we can include the following license:
3rdparty/onnx-tensorrt/third_party/onnx/third_party/pybind11/LICENSE

I have creat

[2019-07-16 01:09] pengzhao-intel commented on #15544
Yes, I think it makes sense to remove MKL license because we don't distribute it.

@roywei would you mind file a PR to remove it?

[2019-07-16 01:14] vrakesh opened #15548 "MXNet GPU build on CPU machine fails"
Post PR #15449 , when trying to build mxnet with GPU support on a CPU instance fails, with the following error

Running: OpWrapperGenerator.py
terminate called after throwing an instance of 'dmlc::Error'
  what():  [00:10:08]include/mxnet/base.h:427: Check failed: e == cudaSuccess (35 vs. 0) :  CUDA: CUDA driver version is insufficient for CUDA runtime version
Stack trace:
  [bt] (0) build/lib/lib

[2019-07-16 01:14] vrakesh commented on #15548
@mxnet-label-bot add [Build]

[2019-07-16 01:23] hzfan commented on #15383
Thank you for the quick fix. Issue closed.

[2019-07-16 01:36] pengzhao-intel commented on #15544
cc @TaoLv

@tprimak @vpirogov
Could you help to confirm below two points?
What's the license of MKLML in the MKL-DNN?
Is it OK to remove MKL license and only leave Apache 2.0 for MKL-DNN?

[2019-07-16 01:40] vrakesh commented on #15547
@mxnet-label-bot add [ONNX]

[2019-07-16 01:40] vrakesh commented on #15547
@mxnet-label-bot  add [Licenses]

[2019-07-16 01:49] maomaoyuchengzi commented on #15013
I met same problem... Is it possible to add conversion support for all modes of L2Normalization?

[2019-07-16 01:59] DickJC123 commented on #15548
I have just today seen something similar on our CI systems and have a fix.  I'll submit a quick PR.  The idea is that on systems with no cuda driver, cudaDriverGetVersion(&driver_version) will show a driver_version of 0.  I can bypass the cuda/cudnn checks and any request for a GPUCount in that case.

[2019-07-16 02:37] kenjewu commented on #14619
Adding a shape property to mxnet symbol would be great.

[2019-07-16 04:12] paulk-asert commented on #15544
It isn't to do with "full MKL package being an option" per se, although related. There is a file that is downloaded as part of the build process that has the "Intel® Simplified license". The file is downloaded under {{external}} and then copied into {{build/install}}. However, there is no source file in your source tarball that has such a license, hence it should not be part of the LICENSE file.

[2019-07-16 05:11] Talgin opened #15553 "Installing mxnet on PowerPC"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-07-16 07:42] kostayScr opened #15555 "Bug or highly unintuitive and undocumented behaviour corrupting NDArray data(possible race condition)[MKLDNN][C++]"
Copying from NDArray a to NDArray b and then back from b to a(saving network weights for early stopping) causes data corruption. It is not 100% consistent, probably hard to reproduce(but I had it reproducing semi-consistently, must be sensitive to the execution conditions, that's why I mention race possibility). Possibly because execution engine provides a weak gurantee, thus executing a->b and b-

[2019-07-16 07:47] kostayScr commented on #15555
@mxnet-label-bot add [Bug, C++]

[2019-07-16 08:16] avivna opened #15556 "mxnet profiler.dump error: MXNetError(py_str(_LIB.MXGetLastError()))"
## Description
When mxnet.profiler.dump is activated more than once in the same run, the following error is raised:
raise MXNetError(py_str(_LIB.MXGetLastError()))
mxnet.base.MXNetError: [06:35:15] /work/mxnet/3rdparty/dmlc-core/include/dmlc/thread_group.h:225: Check failed: auto_remove_ == false (1 vs. 0)

For convenience, I have recreated the error in a short script, and ran it on a mxnet/python

[2019-07-16 10:11] avivna opened #15557 "mxnet.profiler.dump creates invalid json files"
## Description
I would like to activate the mxnet profiler in order to profile a deep learning training job. Yet, when mxnet.profiler.dumps is activated more than once during the training job (each time dumping the output into a different file) the output json files have invalid json format.

Assuming, for example, that 3 files are created during the run using the profiler.dumps command:

[1] The

[2019-07-16 10:51] braindotai commented on #9182
[AdaBound](https://www.google.com/url?sa=t&source=web&rct=j&url=https://arxiv.org/abs/1902.09843&ved=2ahUKEwjnlYvToLnjAhWc7XMBHT0SCisQFjACegQIAhAB&usg=AOvVaw0RISqGFcyHLqvuj_JYhhMu&cshid=1563274196763)
The authors have said that it's as fast as Adam and as good as SGD.
So it might a good one.

[2019-07-16 12:01] braindotai commented on #14619
I have some suggestions down here:-
- MXNet only has 4 prebuild datasets, I think we should have more...
    Here are some important missing datasets-
      [KMNIST](https://github.com/rois-codh/kmnist), [EMNIST](https://www.westernsydney.edu.au/bens/home/reproducible_research/emnist), [LSUN](https://www.yf.io/p/lsun), [STL10](https://cs.stanford.edu/~acoates/stl10/), [SVHN](http://ufldl.stanford.

[2019-07-16 12:48] braindotai commented on #9686
I have some suggestions down here:-
- MXNet only has 4 prebuild datasets, I think we should have more...
    Here are some important missing datasets-
      [KMNIST](https://github.com/rois-codh/kmnist), [EMNIST](https://www.westernsydney.edu.au/bens/home/reproducible_research/emnist), [LSUN](https://www.yf.io/p/lsun), [STL10](https://cs.stanford.edu/~acoates/stl10/), [SVHN](http://ufldl.stanford.

[2019-07-16 13:15] marcoabreu commented on #15553
Sorry, but we are not officially supporting PowerPC. Please try compiling yourself.

[2019-07-16 13:16] 610v4nn1 commented on #4422
Is there an answer to the question?

[2019-07-16 13:18] 610v4nn1 commented on #4422
Looks like it is possible to do it: https://mxnet.incubator.apache.org/api/python/ndarray/linalg.html#mxnet.ndarray.linalg.potri

[2019-07-16 13:25] braindotai commented on #9686
I have some suggestions down here:-
- MXNet only has 4 prebuild datasets, I think we should have more...
    Here are some important missing datasets-
      [KMNIST](https://github.com/rois-codh/kmnist), [EMNIST](https://www.westernsydney.edu.au/bens/home/reproducible_research/emnist), [LSUN](https://www.yf.io/p/lsun), [STL10](https://cs.stanford.edu/~acoates/stl10/), [SVHN](http://ufldl.stanford.

[2019-07-16 13:30] braindotai commented on #9686
I have some suggestions down here:-
- MXNet only has 4 prebuild datasets, I think we should have more...
    Here are some important missing datasets-
      [KMNIST](https://github.com/rois-codh/kmnist), [EMNIST](https://www.westernsydney.edu.au/bens/home/reproducible_research/emnist), [LSUN](https://www.yf.io/p/lsun), [STL10](https://cs.stanford.edu/~acoates/stl10/), [SVHN](http://ufldl.stanford.

[2019-07-16 13:40] braindotai commented on #9686
I have some suggestions down here:-
- MXNet only has 4 prebuild datasets, I think we should have more...
    Here are some important missing datasets-
      [KMNIST](https://github.com/rois-codh/kmnist), [EMNIST](https://www.westernsydney.edu.au/bens/home/reproducible_research/emnist), [LSUN](https://www.yf.io/p/lsun), [STL10](https://cs.stanford.edu/~acoates/stl10/), [SVHN](http://ufldl.stanford.

[2019-07-16 14:13] Vert53 commented on #8465
I'm having the same problem. The solution does not work for me.

[2019-07-16 14:33] pengzhao-intel commented on #14619
@szha there're already lots of great proposals from the community.
I think we need to create a new topic for 1.6 roadmap :)

[2019-07-16 17:00] vrakesh commented on #15548
@DickJC123 Thanks a lot for quick PR fix

[2019-07-16 20:28] larroy commented on #15465
Would it be possible to keep it decoupled, say the infrastructure to load the tvm operator is included in MXNet but we don't need to couple with LLVM and TVM, (even though we are using it through NNVM). I think irrespective of the technical merit and benefits of TVM which are undeniable, less coupling makes software easier to maintain. @samskalicky knows more about Accelerator APIs.

[2019-07-16 20:33] vrakesh commented on #15556
@avivna Thanks for reporting this issue

@mxnet-label-bot  add [Profiler, Bug]

[2019-07-16 20:34] vrakesh commented on #15557
@mxnet-label-bot add [Profiler]

[2019-07-16 21:15] larroy commented on #14979
ping

[2019-07-16 23:03] bloatybo commented on #14875
@ehsanmok I met the same problem with you. I saw the issue has been around for 3 months. Did you solve it?

[2019-07-17 00:23] paulk-asert commented on #15544
I should also note that while removing the section from the source LICENSE file fixes the source tarball, you still seem to have issues with other artefacts, e.g. mxnet-full_2.11-linux-x86_64-cpu-1.5.0-SNAPSHOT.jar (as an example) contains the affected .so files and so should mention that license within it's META_INF/LICENSE file which it does not (nor any of the other compatible licenses). Of cou

[2019-07-17 04:05] hzfan opened #15563 "[numpy] np.tensordot fails with 0-size tensor"
## Description
np.tensordot does not work with 0-size tensor

## Environment info
python 3.7.3

## Minimum reproducible example

[code]

The result is
[code]

Thank @ckt624 @reminisce for kind help.

[2019-07-17 04:10] hzfan commented on #15563
@mxnet-label-bot add [bug]

[2019-07-17 04:54] cyrusbehr commented on #15327
I resolved the issue by adding the following steps.

[code]

[2019-07-17 04:54] #15327 closed

[2019-07-17 04:59] pengzhao-intel commented on #15555
@ZhennanQin could you help take a look for this ?

[2019-07-17 07:26] ZhennanQin commented on #15555
@kostayScr I can't reproduce the crash on my linux box. Probably because:
[code]
are all empty in your case, so no copy actually happen. Can you provide a real case that can reproduce this issue?

[2019-07-17 07:42] BUG1989 commented on #4785
@KeyKy
https://docs.tvm.ai/dev/nnvm_json_spec.html#node-row-ptr

[2019-07-17 08:46] roywei opened #15569 "Cub license issue"
As pointed out here:
https://mail-archives.apache.org/mod_mbox/incubator-general/201907.mbox/%3CF9383AEE-5693-40ED-BE1C-C109F3D219B7%40classsoftware.com%3E

There is a file in Nvidia cub submodule with a license that does not allow redistribution:https://github.com/NVlabs/cub/blob/v1.8.0/test/half.h

This will prevent MXNet from using it. While I raised [an issue](https://github.com/NVlabs/cub/iss

[2019-07-17 08:46] roywei commented on #15569
@mxnet-label-bot add [Licenses]

[2019-07-17 08:57] kostayScr commented on #15555
Hello, thanks for looking into it.
Here is the complete code:
[code]

Works(fails the check) only in Release build mode for me.
Correct output:
[code]
Factual output:
[code]

[2019-07-17 09:50] yuzhms opened #15570 "Can MXNet support locally-connected layer?"
Can MXNet support locally-connected layer, which is conv layer without share weight, like [`tf.keras.layers.LocallyConnected2D`](https://www.tensorflow.org/api_docs/python/tf/keras/layers/LocallyConnected2D).

[2019-07-17 11:25] arcadiaphy commented on #9686
I think we should provide a user-friendly thread-safe inference API for deploying in c++, java, etc. We can focus on naive engine in inference since it's very hard to refactor threaded engine to be thread-safe. A good and easy-to-use executor should have the following properties:

- One instance of the executor is enough for multi-threaded inference, which means it can be used simultaneously in di

[2019-07-17 12:26] cloudhan commented on #9686
Sounds like refactor execution with TBB and adding some buffering mechanism？

[2019-07-17 13:27] gigasquid opened #15571 "[Clojure] generator tests too brittle"
Some of the Clojure generator tests are too brittle so that any change of the underlying operators result in failing tests that need to be fixed.

We should change the tests to be more robust so that an underlying change to the operator does not make the test fail.

Ex: https://github.com/apache/incubator-mxnet/pull/15564

[2019-07-17 13:58] JoseLucasgt opened #15572 "Hello, I'm a biginer in machine learning and I don't undertande how to create and use my own dataset. I have my list of values(information of eye gaze fixation) and a label(left or right) for each value. I just what the network learn to associate each value to the right label. I'm using mxnet and gluon api."
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-07-17 14:12] JoseLucasgt opened #15573 "I have some data points a a label for each point. I want to make a lstm to learn the dynamics of this sequency of points given the lables but I have no idea how can I do a data set to use it in a lstm network for mxnet gluon."
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-07-17 14:17] haojin2 commented on #15572
@JoseLucasgt Welcome to MXNet community!
I would suggest trying out GluonCV, there's a [link](https://gluon-cv.mxnet.io/build/examples_datasets/recordio.html#sphx-glr-build-examples-datasets-recordio-py) that tells you how to do that. Check it out and feel free to come back if you have further questions.

[2019-07-17 14:58] zboldyga commented on #14360
@arcadiaphy I got distracted the past few months! I just picked this up today. Looked over the changes and will start coding tomorrow, should have a PR open within a few days.

Immediately I realized that using the Potri and Potrf approach (which relies on LAPACK's Cholesky factorization) only works for symmetric positive-definite matrices. For matrices that meet these criteria, it's (probably) th

[2019-07-17 15:12] arcadiaphy commented on #14360
@zboldyga I've worked on it myself recently, you can have a look on my PR: #14963 and #15007

[2019-07-17 16:18] ChaiBapchya commented on #15295
@larroy This makes sense. Is there any PR in the works or do we need a discussion on this before moving?

[2019-07-17 16:24] samskalicky commented on #15465
If we're doing this on a per-operator basis and treating TVM operators like CPU operators then maybe we should be considering something similar to the [dynamic customOp proposal](https://cwiki.apache.org/confluence/display/MXNET/Dynamic+CustomOp+Support) instead of the accelerator API.

@yzhliu how are you thinking about presenting TVM ops here? will they run on CPU or GPU (or both)?

[2019-07-17 16:41] zboldyga commented on #14360
@arcadiaphy OK great, thanks for letting me know!

Do you think the low-level implementations are going to be merged, or do the ops need to be written at the Python level?

If your approach is going to be merged, do you need a hand with the last steps: piverse or svd?

[2019-07-17 17:41] apeforest opened #15575 "CMake will modify the content in 3rdparty/dmlc-core"
## Description
When building MXNet with CMake on Mac, the file include/dmlc/build_config.h under 3rdparty/dmlc-core is always modified leaving an unclean git trace.

It would be great to fix this to make CMake experience better.

## Environment info (Required)

[code]

## Error Message:
diff --git a/include/dmlc/build_config.h b/include/dmlc/build_config.h
index 999d478..2a6629d 100644
--- a/inclu

[2019-07-17 17:52] ChaiBapchya commented on #13221
Yet another time
Unrelated PR https://github.com/apache/incubator-mxnet/pull/15541
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15541/2/pipeline
[code]

[2019-07-17 17:55] keerthanvasist commented on #15573
For questions, please submit them on the MXNet discussion forum (https://discuss.mxnet.io) where it will get a wider audience and allow others to learn as well.

[2019-07-17 17:55] keerthanvasist commented on #15573
@mxnet-label-bot [question]

[2019-07-17 17:56] keerthanvasist commented on #15573
@mxnet-label-bot add [question]

[2019-07-17 18:02] hcho3 commented on #15575
Here is relevant discussion thread: https://github.com/dmlc/dmlc-core/pull/432#pullrequestreview-230400171

[2019-07-17 18:18] arcadiaphy opened #15576 "Multi-threaded inference broken with MKLDNN"
## Description
I want to do multi-threaded inference with shared model parameters, so I'm testing the `MXPredCreateMultiThread` API in [cpp example](https://github.com/apache/incubator-mxnet/tree/master/example/image-classification/predict-cpp). I find that the example is broken with more than 1 thread on MKLDNN build: the output of model inference is not deterministic. If I run it with openblas b

[2019-07-17 18:19] arcadiaphy commented on #15576
@pengzhao-intel

[2019-07-17 19:48] vrakesh commented on #15570
@yuzhms Thanks for the question, can you provide more details on requested feature support , with an example . That would explain the need for it

@mxnet-label-bot [Feature request]

[2019-07-17 19:53] larroy commented on #9094
Is this fixed with the wine detection tutorial improvements?

[2019-07-17 19:54] larroy commented on #9094
If you have further issues, feel free to reopen or create a new one. I think we should close this for now.

[2019-07-17 19:59] #9094 closed

[2019-07-17 20:17] larroy commented on #9507
Let's close this, I suggest reopen with a backtrace with debug symbols if anyone still experience difficulties.

[2019-07-17 20:20] #9507 closed

[2019-07-17 20:29] larroy commented on #4659
@mxnet-label-bot add [Backend]

[2019-07-17 20:54] marcoabreu commented on #15576
MXNet does not support multithreading from the interface level. Not even locking based access. The only way to use MXNet in a multi-threaded fashion is by using a jobqueue that is consumed by a sticky thread.

[2019-07-17 20:55] marcoabreu commented on #15569
@DickJC123 @ptrendx fyi

[2019-07-17 21:01] keerthanvasist commented on #15334
@kalpitdixit Are you still facing this issue? I tried your code, and it works as expected. `boolean_mask` returns an empty NDArray when the index is all zeros.
Can you please give us more information about your environment?

[2019-07-17 21:02] keerthanvasist commented on #15334
@mxnet-label-bot add [bug, NDArray, Pending Requester Info]

[2019-07-17 21:59] roywei commented on #15569
We have got help from the author, thanks @ptrendx!

https://lists.apache.org/thread.html/e811d47ffc61a0dd2b6ba5254632ecdf1d04282ab4040c87480e9cbe@%3Cgeneral.incubator.apache.org%3E

**Next step is to resolve this before the next release, so we can wait for cub to release a new version and update our submodule**

[2019-07-17 22:02] lanking520 commented on #15553
Currently, MXNet pip package only support Cent OS 7 or above, Ubuntu 14.04 or above. It may work on other Linux distribution however not gauranteed.

[2019-07-17 22:11] apeforest opened #15578 "MXNet cu100 nightly release breaks Horovod integration tests"
## Description
For detailed reproducible steps and environment information, please refer to: https://github.com/horovod/horovod/issues/1217

[2019-07-17 22:22] Zha0q1 commented on #15557
Hi @avivna , thank you for creating this issue. The designed usage is that you can only dump to a single file in you script because we are incrementally writing to the file. Changing the file path will result in incomplete outputs. With that said, set_config() should be called only once in your model and that is before you model runs

[2019-07-17 22:23] Zha0q1 commented on #15557
We are also adding to new section the the profiler tutorial to explicitly point out those rules.

[2019-07-17 22:23] lanking520 commented on #13265
@chenyujing1234 Close this issue for inactivity. Please feel free to reopen if problem persist

[2019-07-17 22:23] #13265 closed

[2019-07-17 22:24] lanking520 commented on #14345
@XinyuDu Close this issue due to inactivity. Please feel free to reopen if problem persist

[2019-07-17 22:24] #14345 closed

[2019-07-17 22:31] lanking520 commented on #15102
The user point to a valid location:
[code]
Please track this file for further investigation.

[2019-07-17 22:33] Zha0q1 commented on #15556
Hi @avivna , calling `dump()` with no parameter will effectively mark that no more write will be performed. Then if you call `set_config()` it will error out. What you can do is to set the `finished` to `False`  (https://mxnet.incubator.apache.org/api/python/profiler/profiler.html#mxnet.profiler.dump).

[2019-07-17 22:35] lanking520 commented on #15232
@kangkangRabbit Close this issue due to the inactivity. Please feel free to reopen if this problem persist.

[2019-07-17 22:35] #15232 closed

[2019-07-17 22:38] keerthanvasist commented on #15572
For questions, please submit them on the MXNet discussion forum (https://discuss.mxnet.io) where it will get a wider audience and allow others to learn as well.

[2019-07-17 22:40] ptrendx commented on #15578
This should be fixed by #15551

[2019-07-17 23:52] pengzhao-intel commented on #15576
@wuxun-zhang @ZhennanQin please help take a look for this issue, thanks.

[2019-07-17 23:54] vrakesh commented on #15548
Can confirm #15551 fixed this. closing issue

[2019-07-17 23:54] #15548 closed

[2019-07-18 00:00] apeforest commented on #8966
Why not just use the ThreadedEngine (default one) for multithreaded inference?

[2019-07-18 01:52] yuzhms commented on #15570
It's quite simple.

 If we have an input with shape `(BxC_inxHxW)`，we use a convolution kernel with stride =3, and we want to output feature maps with `C_out` channels, the convolution layer will create weights with shape `(C_out, C_in, 3, 3)`. So the operation in each space position share weight.

Locally connected layer operate as same as the convolution layer, except in each space position, it

[2019-07-18 02:08] ZhennanQin commented on #15555
@kostayScr Thanks for providing this case. Confirm that this is reproducible on my linux box. I'm trying to root cause this problem. I also found that naive engine doesn't have this problem, so for workaround, you can switch to naive engine by
[code]

[2019-07-18 03:28] ruapehau opened #15582 "[Feature Request] Add "lottery ticket" functionality"
Are there any plans to add "lottery ticket" functionality to MxNet/Gluon?

The following URL provides an explanation of the hypothesis:
https://www.technologyreview.com/s/613514/a-new-way-to-build-tiny-neural-networks-could-create-powerful-ai-on-your-phone/

[2019-07-18 03:46] yiwuyao3863 opened #15583 "forward error of mxnet-cu100 with version 1.4.1"
When I run the CNN model (resnet50) on GPU with mxnet-cu100, the error occurs as below:

Traceback (most recent call last):
  File "test_score.py", line 84, in <module>
    test_imagenet1k(model=args.model, task_mode=args.task_mode, **kwargs)
  File "test_score.py", line 39, in test_imagenet1k
    score(model=m, rgb_mean=mean, rgb_std=std, scale=s, num_layer=nl, label_name=l, **kwargs)
  File "/ap

[2019-07-18 07:14] arcadiaphy commented on #15576
@pengzhao-intel @wuxun-zhang @ZhennanQin

The difference between `MXPredCreateMultiThread` and create executor separately is that the former  shares model parameters. I've tested that if the weight is not shared when creating executors by moving `arg_arrays` and `aux_arrays` creation into for loop, then the  result is normal even with MKLDNN.

[code]

It's very strange, I think the model parameter

[2019-07-18 07:21] ZhennanQin commented on #15555
@kostayScr After some analysis, I think it's not a bug, but a engine feature. Actually, the order of a->b and b->a is guaranteed by engine, but as `CopyTo` is executed asynchronously, you shouldn't access a NDArray until all operations are done which are pending on it. So inside `CheckNDArrayValues`, you need to add `WaitAll()` for the checked NDArray. The code would be like
[code]
With this chang

[2019-07-18 08:47] arcadiaphy commented on #15576
@ZhennanQin I think MKLDNN is OK in multi-threading, the possible reason is that calling mkldnn related method like `MKLDNNDataReorder` and `GetMKLDNNData` on ndarray simultaneously messes up the internal `mkl_mem_`.

[2019-07-18 09:00] arcadiaphy commented on #15576
Similar race condition on ndarray: #9862

[2019-07-18 09:03] lucwan opened #15585 "mxnet to onnx conversion error"
trying to convert the model retina face detcetor
https://github.com/deepinsight/insightface/tree/master/RetinaFace
downloaded network from
https://drive.google.com/drive/folders/1OTXuAUdkLVaf78iz63D1uqGLZi4LbPeL

ERRORS on conversion
 raise AttributeError("No conversion function registered for op type %s yet." % op)
AttributeError: No conversion function registered for op type SoftmaxActivation ye

[2019-07-18 09:40] kostayScr commented on #15555
@ZhennanQin I see. But the original problem was with SyncCopyToCpu() rather than GetData(). I had the impression that GetData() will wait as well, like it does in Python I believe. So I just used it instead without checking. It probably needs a large font warning.

Trying to make a reproduction snippet currently. It might be more complex than this, one bunch of NDarrays went out of scope at the en

[2019-07-18 10:53] souviksv commented on #13327
ValidationError: Unrecognized attribute: spatial for operator BatchNormalization

==> Context: Bad node spec: input: "data" input: "bn_data_gamma" input: "bn_data_beta" input: "bn_data_moving_mean" input: "bn_data_moving_var" output: "bn_data" name: "bn_data" op_type: "BatchNormalization" attribute { name: "epsilon" f: 2e-05 type: FLOAT } attribute { name: "momentum" f: 0.9 type: FLOAT } attribute

[2019-07-18 15:04] lewisl opened #15587 "Can't install on Julia 1.1"
Already posted.  Issue seems to have disappeared.

When installed with explicit branch, it appears to install:

[code]

It looks like it worked. But, several problems:
1. You get version 0.3.0 instead of 1.4.1.
2. The package is not really instantiated--e.g., the package metadata is present  but the package itself has not been downloaded.

So, now let's try to use it:

[code]

Run Pkg.instantiate(

[2019-07-18 15:23] lewisl commented on #15587
There seems to be some kind of version numbering conflict between the overall version of MXNet, which is at 1.5.0, and the Julia code.  Julia thinks that the version number being required for the package is 0.3.0.

I tried to be explicit about the version using the uuid for it, but this also fails:

[code]

At this point I'm stuck.

[2019-07-18 16:19] lewisl commented on #13836
Well, no--it doesn't seem to work at all:

[code]

[2019-07-18 16:28] lewisl commented on #15587
It appears that the Julia repository of packages is wonky for this package and resolves to the wrong URL.  But, when being explicit, the package never fully downloads, probably because the overall git repository includes lots of non-Julia stuff that the Julia package manager can't handle.

It never gets past this point:
[code]

[2019-07-18 16:44] lewisl commented on #15587
There is something funky about the Julia package repository.  It is resolving to the wrong url for this package.

So, I tried to download as zip and install locally.  Julia did not like what it found.  It seems the repository contains stuff that Julia package manager will not recognize as a valid Julia package:
[code]

I also tried cloning the repository locally but again Julia did not like it.  T

[2019-07-18 16:49] yuxihu commented on #15578
Got into another issue:

mxnet-cu100==1.5.0b20190717
[code]
Horovod master branch
[code]
Unit test failed due to undefined symbol introduced in #15551.
[code]

[2019-07-18 16:52] lewisl opened #15588 "Hi-jacked link in Julia readme"
Someone has highjacked the url to your documentation, possibly by changing your dns entry.

The url is:
```https://dmlc.github.io/MXNet.jl/latest```

It resolves through several random URLs and ends up on a page demanding that I upgrade Adobe Flash, a known vector of malfeasance.  This I refuse to do.

The resulting bad link is:
```https://fileshare.besteverlinkforplayer.info/?b9zd1=Ny3hsv8OjjZlXf

[2019-07-18 17:27] ptrendx commented on #15578
@DickJC123

[2019-07-18 17:41] yuxihu commented on #15578
I am working on a PR to fix this.

[2019-07-18 17:44] szha opened #15589 "[Discussion] 1.6.0 Roadmap"
Let's start a discussion here about the roadmap towards 1.6.0. We are looking for:

New features that are useful to your research and development.
Improvements and patches to existing features.
If you have any item that you'd like to propose to have in the roadmap, please do:

Create (or locate existing) issue/pull request for the item, note the issue/pull request number.
Comment in this issue: 1)

[2019-07-18 17:52] keerthanvasist commented on #15582
@mxnet-label-bot add [Feature request]

[2019-07-18 17:52] sandeep-krishnamurthy commented on #15589
1. Can we work towards INT-64 support (Large Tensor) as DEFAULT. This would make it easy for Large Tensor use cases such as DGL, recommendation system models to use MXNet easily. Today, they need to compile from source. (CC @apeforest @access2rohit)

[2019-07-18 18:22] anirudhacharya commented on #15589
There are a few regressions that have been introduced since the large tensor support was added. For example, there are a few hierarchical attention networks which were training fine until 1.3.1 but since the addition of large tensor support, results in NaNs in weight vectors and gradient calculations. We probably should ensure all regressions are fixed with regard to this PR.

Related issues and P

[2019-07-18 18:23] szha commented on #14619
See #15589 for the new roadmap discussion.

[2019-07-18 18:23] #14619 closed

[2019-07-18 18:28] ChaiBapchya opened #15592 "Flaky test test_metric.test_global_metric"
For unrelated PR - https://github.com/apache/incubator-mxnet/pull/14243
Here's the error log -
[code]

Pipeline - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-14243/14/pipeline

[2019-07-18 18:29] ChaiBapchya commented on #15592
@mxnet-label-bot add [Test, Flaky]

[2019-07-18 18:37] ChaiBapchya commented on #11072
Any update on this? @lanking520

[2019-07-18 18:38] keerthanvasist commented on #15587
@mxnet-label-bot add [julia, installation]

[2019-07-18 18:39] ChaiBapchya commented on #11563
@KellenSunderland any update on this? Can we close this issue otherwise?

[2019-07-18 18:43] ChaiBapchya commented on #9885
Hey @AnaRhisT94 sorry for delayed response. Did your problem get resolved? If not, can you give a minimum reproducible script for the same?

[2019-07-18 18:50] keerthanvasist commented on #15585
@mxnet-label-bot add [ONNX]

[2019-07-18 19:57] larroy commented on #15295
not that I know of.

[2019-07-18 21:17] ChaiBapchya opened #15594 "deprecated operator backend API"
Currently we have

https://github.com/apache/incubator-mxnet/blob/2b31a39873407f3a13c00c5a029a3ee1dfc74dd7/python/mxnet/operator.py#L1106

and

https://github.com/apache/incubator-mxnet/blob/2b31a39873407f3a13c00c5a029a3ee1dfc74dd7/python/mxnet/operator.py#L1124

But, to filter out deprecated operators, there isn't any API exposed from the backend.

[2019-07-18 21:46] KellenSunderland commented on #15548
Thanks for the quick fix @DickJC123

[2019-07-18 21:48] KellenSunderland commented on #11563
I think we still have to remove this option from our codebase right?  I see a lot of documentation wrongly instructing users to set it to true for an example.

[2019-07-18 21:52] marcoabreu commented on #9686
Agree, the entire API (at the C-API level) should be designed to be entirely threadsafe for all requests - whether it's inference or training. This includes parallel calls from different threads - speak no locking or sticky threads.

[2019-07-18 21:56] larroy commented on #15575
This is a big annoyance for MXNet developers.

[2019-07-18 21:56] marcoabreu commented on #9686
Could we get rid of all the different pre-processor statements in the codebase that evolved due to the different accelerators (USE_CUDA, USE_TVM, USE_MKLDNN, etc) and fully replace them with the accelerator API from @samskalicky ? This would heavily improve the maintainability.

In terms of operator definitions, we could use ONNX as standard (or derive from it if it's not sufficient). At the momen

[2019-07-18 22:41] KellenSunderland opened #15596 "Unable to convert reference model to ONNX"
## Description
I'm trying to use the reference python MXNet to ONNX conversion and I'm running into a few issues.  Probably something I'm doing that's wrong, but I can't figure out what.

When I run:
[code]
or
[code]

I get
[code]

## Environment info (Required)
MXNet 1.4.1 pip installed, cpu verison.

## What have you tried to solve it?

1.  Run with TensorRT integration, which in theory also con

[2019-07-18 22:45] cyrusbehr opened #15597 "c_predict_api.h not working with mxnet amalgamation"
I am trying to run the [predict-cpp](https://github.com/apache/incubator-mxnet/tree/master/example/image-classification/predict-cpp) example using [mxnet amalgamation](https://github.com/apache/incubator-mxnet/tree/master/amalgamation).

I copied the code from the example into my own isolated project.
When I link and use `libmxnet.so` the example runs fine and performs as expected. However, when I

[2019-07-19 00:28] xf05888 opened #15598 "ImportError: cannot import name '_adamw_update'"
Hello everyone!
 I want to install the latest version of MXNet on Jetson so I ran these command:
`wget https://github.com/apache/incubator-mxnet/releases/download/1.5.0.rc2/apache-mxnet-src-1.5.0.rc2-incubating.tar.gz`
`tar zxvf apache-mxnet-src-1.5.0.rc2-incubating.tar.gz`
`cd apache-mxnet*/python && pip install -e .`

It installed successfully，but when I tried to import mxnet in Python, it said:

[2019-07-19 00:47] xf05888 commented on #15598
@mxnet-label-bot add [installation]

[2019-07-19 00:49] xf05888 commented on #15598
@mxnet-label-bot add [ARM]

[2019-07-19 01:10] ChaiBapchya opened #15599 "Deprecate SwapAxis"
We have `swapaxes`

https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.swapaxes

and

https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.SwapAxis

Both do the same job making it redundant!

[2019-07-19 01:10] ChaiBapchya commented on #15599
@mxnet-label-bot add [Operator, Doc]

[2019-07-19 01:32] pengzhao-intel commented on #15589
@sandeep-krishnamurthy Agree INT64 enhancements.
We plan to upgrade MKLDNN to 1.0 in r1.6 so that MKLDNN backend can work for INT64 index.

[2019-07-19 01:35] pengzhao-intel commented on #15589
CPU related proposal for 1.6 (keep updating in the following several days).

1. MKL-DNN upgrade to 1.0
-  the proposal will be sent out soon in dev@   @TaoLv

2. Quantization API improvement @xinyu-intel

[2019-07-19 02:02] wkcn commented on #15589
Agree INT64 enhancements, too.
For the regression problem, a good solution is to choose data type by the data size in the performance bottleneck.

[2019-07-19 02:06] pengzhao-intel commented on #8703
@piiswrong very exact prediction

+1 for proposal, measuring for MKLDNN and there is NO performance and functionality issue.

[2019-07-19 03:01] arcadiaphy commented on #14360
@zboldyga I think high-level ops need to be implemented in c++ for the consideration of backward pass, meanwhile we can expose enough low-level ops for users.

I'll try to merge the determinant PR. Welcome any help in piverse and svd, I'm really busy these days.

[2019-07-19 04:52] ChaiBapchya opened #15603 "Flaky test test_operator_gpu.test_convolution_independent_gradients"
For unrelated PR - #15522

Here's the error log
[code]

CI pipeline - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-15522/7/pipeline/

[2019-07-19 04:52] ChaiBapchya commented on #15603
@mxnet-label-bot add [Test, Flaky]

[2019-07-19 04:52] szha commented on #9686
No, we cannot. They don't serve the same purpose.

I don't believe we should. ONNX is only good for model exchange and not much for anything else. Also, community has already reached consensus to move towards numpy so it's probably not a good idea to get married to ONNX

[2019-07-19 05:08] samskalicky commented on #9686
@marcoabreu We can definitely remove some of these pre-processor statements with the accelerator API (MKLDNN) but not all of them like @szha points out. USE_CUDA needs to stay since we have GPU embedded pretty tightly. We might be able to push it out into an accelerator library, but not in time for 2.0.

I agree with @szha ONNX is not the way to do this. We need to keep our operator registration i

[2019-07-19 05:09] iblis17 commented on #15587
(cc me)
----
I'm working on releasing the MXNet v1.5.0 package to Julia's registry. Please wait for a few days.

[2019-07-19 05:27] sandeep-krishnamurthy commented on #15071
This is now resolved. Thanks @ZhaoqiZhu

[2019-07-19 05:27] #15071 closed

[2019-07-19 05:28] szha commented on #9686
@samskalicky I'm not sure about the accelerator API. It seems that the existing subgraph API in combination with 1) better third-party operator support and 2) exposing graph partitioning as an API should be able to serve the same goal as the accelerator API. Those items are useful in other contexts too and deserve more attention, so I'd suggest those as an alternative to a specialized API just for

[2019-07-19 05:38] samskalicky commented on #9686
@szha I agree the third-party operator support I [proposed](https://cwiki.apache.org/confluence/display/MXNET/Dynamic+CustomOp+Support) could be more useful to the broader community and have been continually working on it in my spare time. I would be interested in collaborating with others to move this along faster. Should we consider that as part of the 1.6 release?

But subgraph API + operator s

[2019-07-19 05:51] szha commented on #9686
I think we're talking about the same thing. (i.e. item 2 in my last response)

[2019-07-19 05:55] samskalicky commented on #9686
Maybe I misunderstood #2, assumed that meant better APIs for partitioning. Could clarify what you mean by #2? Do you mean third-party graph partitioning (similar to third-part operator support)?

[2019-07-19 06:10] sandeep-krishnamurthy commented on #13332
@lanking520 - Can this issue be closed?

[2019-07-19 07:13] ChaiBapchya opened #15605 "Scala GPU Build examples CI failure"
Scala unix GPU build error in an unrelated PR #15541

[code]

Pipeline - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15541/5/pipeline/

[2019-07-19 07:13] ChaiBapchya commented on #15605
@mxnet-label-bot add [Scala, Test, CI, Build]

[2019-07-19 07:21] ChaiBapchya commented on #15603
PR #15549
Pipeline - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-15549/3/pipeline

[2019-07-19 07:32] ChaiBapchya commented on #15599
@sandeep-krishnamurthy @apeforest @anirudh2290 What do you guys think?

[2019-07-19 07:35] #15588 closed

[2019-07-19 07:41] iblis17 commented on #15587
Let's wait for https://github.com/JuliaRegistries/General/pull/2132.

[2019-07-19 08:01] iblis17 commented on #15587
Once we get that PR merged, please try `Pkg.add("MXNet")` out. :)

[2019-07-19 08:29] iblis17 commented on #9550
see: https://github.com/apache/incubator-mxnet/issues/15587#issuecomment-513128172

[2019-07-19 13:00] kostayScr commented on #15555
@ZhennanQin I think I managed to pin it down:
[code]

Output should be all true, but it's:
[code]

It seems to be related to the data format (storage type) of the NDArrays. See comment in the code about exception - it's what hinted me at how to reproduce. I checked quite a few things before I got it reproducing, here is the uncleaned code, maybe it'll save some time: https://pastebin.com/RcHb6kdb

[2019-07-19 13:46] iaroslav-ai commented on #14721
I have a possibility to run the code on other OS, so this is not an issue for me.

[2019-07-19 14:58] QueensGambit commented on #15529
Hello @intgogo,
I experienced a similar problem during training of a CNN-model with multiple output heads.
Are you using the Gluon or MXNet python interface for training your model?

The problem appeared for me more often in cases where I increased the number of layers of the same model architecture.
In my case the CUDNN optimization appeared before every call of:
[code]
when I changed my `trainin

[2019-07-19 15:51] zboldyga commented on #14962
@mseeger @asmushetzel I noticed you both had insightful comments on a related PR: https://github.com/apache/incubator-mxnet/pull/15007

One thing I haven't seen validated yet related to this issue (#14962) is whether MXNet contributors feel SVD and the Moore-Penrose inverse should be exposed via MXNet?

At a glance, libraries like NumPy, SciPy, and Tensorflow are doing this. From an adoptability s

[2019-07-19 15:56] zboldyga commented on #14360
OK great. Moving this discussion about svd and pinverse over to issue #14962

[2019-07-19 17:03] #11563 closed

[2019-07-19 17:31] lewisl commented on #15587
Sounds good.  Thanks for the quick reply.

From: Iblis Lin <notifications@github.com>
Reply-To: apache/incubator-mxnet <reply@reply.github.com>
Date: Friday, July 19, 2019 at 1:03 AM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: Lewis Levin <lewis@neilson-levin.org>, Author <author@noreply.github.com>
Subject: Re: [apache/incubator-mxnet] Can't install on Julia 1.1 (#15587)

[2019-07-19 17:32] lewisl commented on #15587
Terrific.  I can wait. Looking forward to trying out MXNet.

From: Iblis Lin <notifications@github.com>
Reply-To: apache/incubator-mxnet <reply@reply.github.com>
Date: Thursday, July 18, 2019 at 10:11 PM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: Lewis Levin <lewis@neilson-levin.org>, Author <author@noreply.github.com>
Subject: Re: [apache/incubator-mxnet] Can't install on

[2019-07-19 17:38] mseeger commented on #14962
Hello, in fact we are starting work on the SVD, will come soon. With that, you can do the others.
BTW: What best use cases for SVD in a NN library do you know? Just curious. One reason we did not work on this sooner is that we lacked the use cases.

[2019-07-19 17:42] mseeger commented on #14962
IMHO, one should not implement all sorts of derived computations as operators (inverse, logdet, det, ...). Just as we implement conv2d as op, but then resnet-cell as HybridBlock. It is seriously inefficient to recompute decompositions several times, just because you don't understand what is really happening inside.

[2019-07-19 18:05] djuarezr opened #15610 "Elasticnet Regression slower than pure Numpy"
## Description
When I code a simple elasticnet regression in Gluon, it seems to be slower than a pure Numpy implementation. I am using the linux version of the package mxnet-cu101mkl inside a conda environment (installed without deps to use numpy from conda).

## Environment info (Required)

[code]

Package used:
I am using the linux version of the python package mxnet-cu101mkl inside a conda envi

[2019-07-19 18:10] haojin2 commented on #14953
@Jessespace I've tried installation on Jetson TX2 before and I would definitely recommend using the cross-compilation method.

[2019-07-19 18:28] lanking520 commented on #15281
https://github.com/apache/incubator-mxnet/issues/15337 This is the related issue

[2019-07-19 18:42] samskalicky opened #15612 "WarpCTC build failure in 1.5.0"
Building the warpCTC plugin fails i 1.5.0 due to this PR https://github.com/apache/incubator-mxnet/pull/14270

It fails with the following error:

[code]

looks like nnvm::Tshape takes a single int for constructor:
https://github.com/dmlc/tvm/blob/master/nnvm/include/nnvm/tuple.h#L352

But mxnet::Tshape does not have this constructor, instead we provide the default value as well (which is value: 1

[2019-07-19 18:45] samskalicky opened #15613 "[Discussion] 1.5.1 Patch Release"
Let's start a discussion here about the known issues with 1.5.0 to put into a patch release.

Create (or locate existing) issue/pull request for the item, note the issue/pull request number.
Comment in this issue: 1) the above issue number, 2) one sentence of what the item is about and why it's important.
Indicate whether you'd be willing to help out on the item.
Share the ETA if you're driving th

[2019-07-19 18:46] samskalicky commented on #15613
Theres a problem with the WarpCTC plugin in 1.5.0 #15612. A PR has been created with a fix #15601

[2019-07-19 18:48] ThomasDelteil commented on #15613
Reports of inference errors on 1.5.0:
https://discuss.mxnet.io/t/mxnet-1-5-0-is-not-downward-compatible-to-mxnet-1-4-1/4474
https://github.com/apache/incubator-mxnet/issues/15281

[2019-07-19 18:52] roywei commented on #15613
Possible issue with asnumpy(), but not able to reproduce yet https://github.com/apache/incubator-mxnet/issues/15431

[2019-07-19 18:52] roywei commented on #15613
license issues need to be fixed before next release https://github.com/apache/incubator-mxnet/issues/15542

[2019-07-19 19:34] roywei commented on #15281
I have verified #15298 fix this issue, it's already in 1.5.0. Please reopen if there are further issues. Also #15337 might not be related in this case.

[2019-07-19 19:34] #15281 closed

[2019-07-19 19:36] roywei commented on #15281
FYI outputs of mxnet and mxnet-mkl 1.5.0  nightly pip.
[code]

[2019-07-19 19:38] mvaughnxx opened #15615 "How to add mail server"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-07-19 19:43] roywei commented on #15613
FYI https://github.com/apache/incubator-mxnet/issues/15281#issuecomment-513350879 is fixed in 1.5.0

[2019-07-19 19:57] roywei commented on #15337
Hi @QueensGambit I'm getting file not found error when following the steps to reproduce

I do have `model-1.19246-0.603-0223.params` under `model/params`

[code]

[2019-07-19 20:27] roywei commented on #15337
Also I'm getting parameter not found when trying to load the symbol and params direct.
[code]

[code]

[2019-07-19 20:35] vrakesh commented on #15610
@juselec Thanks for reporting, this we will look into it

@mxnet-label-bot add [Performance]

[2019-07-19 20:42] vrakesh commented on #15612
@samskalicky Thanks for reporting this Sam, and thanks for the quick PR as well

@mxnet-label-bot add  [Build, Bug]

[2019-07-19 20:48] QueensGambit commented on #15337
@roywei Thank your for the reply.
Sorry, for the inconvenience there was apparently a `/` missing relative path of the config-files which I released. I just updated the .zip-Release files and it should work again for MXNet 1.4.1.

This is the code how the model is currently loaded:
https://github.com/QueensGambit/CrazyAra/blob/master/DeepCrazyhouse/src/domain/agent/neural_net_api.py#L66

[code]

[2019-07-19 20:50] keerthanvasist commented on #15615
@mxnet-label-bot add [question]

[2019-07-19 21:00] keerthanvasist commented on #15583
@mxnet-label-bot add [question]

[2019-07-19 21:27] QueensGambit commented on #15337
I think, I know why the loading fails, thank you for help @roywei. It's because I ported the training code from Gluon to MXNet for this model. The reason for this was that I experienced long delays during training due to `MXNET_CUDNN_AUTOTUNE_DEFAULT` calls:
* https://github.com/apache/incubator-mxnet/issues/15529

Apparently in MXNet version 1.4.1 the code above works successfully and ignores the

[2019-07-19 21:31] #15337 closed

[2019-07-19 21:32] roywei commented on #15613
FYI https://github.com/apache/incubator-mxnet/issues/15337 is also resolved

[2019-07-19 21:55] ThomasDelteil commented on #15529
See https://github.com/apache/incubator-mxnet/issues/10567 for caching CUDNN autotune results feature request

[2019-07-19 22:03] hcho3 commented on #15575
@apeforest @larroy I plan to submit a pull request soon so that the CMake generated header will not overwrite `dmlc/build_config.h` (just generate a separate header and register it in `.gitignore`).

[2019-07-19 22:05] keerthanvasist commented on #15613
@mxnet-label-bot add [discussion]

[2019-07-19 22:05] keerthanvasist commented on #15553
@mxnet-label-bot add [question]

[2019-07-19 22:33] #12404 closed

[2019-07-19 23:02] ChaiBapchya commented on #14174
For unrelated 15606

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15606/2/pipeline

[2019-07-19 23:15] #15615 closed

[2019-07-19 23:39] zboldyga commented on #14962
@mseeger I agree with your sentiment overall. Users shouldn't wander into using these multi-step ops without a warning, and the likelihood these multi-step ops are actually needed is tiny. Personally I don't have a use for them, I'm just following up on loose ends from other user-reported issues in #14360.

I think the most valid argument I've been reading is that every other numerical computation

[2019-07-19 23:43] zboldyga commented on #14962
Regarding svd and pinv: if you implement svd, a short stub in the documentation describing why pinv isn't provided and how to use svd to get pinv might be useful. I can add that if you like.

This same paradigm could also be used for the more complex ops supported by other frameworks. I'm not really taking a strong stand on this one, just suggesting this as another option!

[2019-07-19 23:49] ChaiBapchya commented on #15603
PR #15601
Pipeline - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-15601/1/pipeline

[2019-07-19 23:50] ChaiBapchya commented on #15592
Unrelated PR - https://github.com/apache/incubator-mxnet/pull/15601
Pipeline - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-15601/3/pipeline

[2019-07-20 03:25] #15598 closed

[2019-07-20 05:51] iblis17 commented on #9550
Please try out the v1.5.0 release.

[2019-07-20 05:51] #9550 closed

[2019-07-20 05:51] iblis17 commented on #15587
That PR got merged.

[2019-07-20 05:51] #15587 closed

[2019-07-20 06:10] iblis17 commented on #15613
I will track Julia stuffs that need to be backported here:
- [ ] https://github.com/apache/incubator-mxnet/pull/15609
- [ ] https://github.com/apache/incubator-mxnet/pull/15608

[2019-07-20 08:07] ChaiBapchya commented on #1622
@nswamy @szha Is this issue relevant anymore?

[2019-07-20 14:22] iblis17 commented on #15613
Hi, I just created a label "Backport 1.5" (https://github.com/apache/incubator-mxnet/labels/Backport%201.5).
I think we can create a single PR to collecting the stuffs that need to be backported, use this label as a checklist, and keep that PR open until we want to make a release candidate.

[2019-07-20 21:00] vkorenev opened #15618 "mvn install produces packages with invalid pom xml"
## Description
When building Scala from source, `mvn install` produces packages with non-expanded `${libtype}` in their pom files. This causes an error when trying to use them from sbt build.

## Environment info (Required)

[code]

Java version:
[code]

Maven version:
[code]
## Build info (Required if built from source)

MXNet commit hash:
`cc861f0a3fecea8fb94c9687396e27966e5ddcde`

Build command

[2019-07-20 21:02] vkorenev commented on #15618
Probably related to #13626.

[2019-07-20 22:24] marcoabreu commented on #15618
@lanking520 @zachgk

[2019-07-20 23:41] lewisl commented on #13954
Running 1.5.0 on Julia 1.1. Only did the tutorial mnist example so far--all worked well.  Will dig in more in the coming weeks.

[2019-07-20 23:42] lewisl commented on #15587
Verify that installation went fine.  Simple initial usage OK, too.

[2019-07-20 23:51] #1622 closed

[2019-07-20 23:53] #15612 closed

[2019-07-21 02:29] QueensGambit commented on #8832
Hi @lawrencewxj @edmBernard
For a certain model architecture which heavily uses depthwise separable convolutions, I achieved a 1.4x speed-up on GPU ( MXNET-cu10 1.4.1,CUDA 10.0, cuDNN v7.5.1.10), but a 3x speed-up on CPU (MXNET-mkl 1.4.1).
The main reason for this is because grouped convolutions cause memory fraction and are naturally not well suited for GPUs.

The following paper conducted an exp

[2019-07-21 12:46] iblis17 opened #15619 "julia: introduce BinaryBuilder.jl to provide libmxnet prebuilt binary"
https://github.com/JuliaPackaging/BinaryBuilder.jl

example: https://github.com/JuliaWeb/LibCURLBuilder for [LibCURL.jl](https://github.com/JuliaWeb/LibCURL.jl)

[2019-07-22 01:40] lewisl commented on #15587
A bit slow to build. Works great. No problems.

- Lewis

On Jul 19, 2019, at 1:03 AM, Iblis Lin <notifications@github.com<mailto:notifications@github.com>> wrote:

Once we get that PR merged, please try Pkg.add("MXNet") out. :)

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/apache/incubator-mxnet/issues/15587?email_sour

[2019-07-22 02:15] iblis17 commented on #15587
Thanks for the report.

We can reduce it via providing some prebult binaries, but I'm no sure the feasibility since compiling libmxnet involves CUDA.
I opened an issue as a TODO: https://github.com/apache/incubator-mxnet/issues/15619

[2019-07-22 04:57] LittleFatHero opened #15622 "Can't install older GPU version of mxnet"
## Description
I can't install mxnet-cu101==1.4.1 or any older gpu version of mxnet on windows 10 using pip.I can only install mxnet gpu version using the following command:
[code]
which will install mxnet 1.5. All the older gpu version of mxnet is not available, it seems that all the older gpu version of mxnet have been remove from the pip channel.
The cpu older version of mxnet is not affected

[2019-07-22 05:36] vrakesh commented on #15618
@mxnet-label-bot  add [Scala, Build]

[2019-07-22 08:12] leevawns commented on #15540
mxnet.base.MXNetError: [15:09:35] c:\jenkins\workspace\mxnet-tag\mxnet\src\operator\./leaky_relu-inl.h:311: Check failed: s == -1 Cannot broadcast gamma to data. gamma: [1,64,1,1], data: [1,64,112,112]

[2019-07-22 09:08] ZhennanQin commented on #15555
@kostayScr Thanks for providing such detailed case. I can reproduce it locally. Some experiment shows that it's another unexpected behavior about `MKLDNNDataReorderAsync`.  Quote out it from mkldnn_convolution.cc can fix this issue, but inference speed will drop especially for small batch size. I'm trying to fix this without performance impact. Maybe need more days.

[2019-07-22 11:55] kostayScr commented on #15555
@ZhennanQin Yeah it was a slippery one, many pre-conditions(that's why the code is so long). The WaitMap works fine as a workaround for me. Doesn't affect performance and results seem to be stable.

[2019-07-22 12:21] evi-Genius commented on #13482
+1

[2019-07-22 12:46] marcoabreu commented on #15613
I'd prefer if we use multiple PRs which only contain cherry-picks from master. That way, we don't squash and keep the references.

[2019-07-22 13:15] DeepDuke opened #15624 "asnumpy() took a lot of time when converting NDARRAY into numpy?"
I  found a strange thing that when I convert `NDARRAY`  into `numpy` for a lot of times,  `asnumpy()`  will took much more time for the first time. When I ran on  gpu:

[code]

[2019-07-22 14:21] Wondersui commented on #13482
+1

[2019-07-22 17:02] wkcn commented on #15624
Yes, it is correct. When using GPU context, MXNet need to allocate GPU memory in the first time. After that, MXNet can get the memory allocation from the memory pool, so it takes less time.

It takes more time to allocate GPU memory than allocating CPU memory.

[2019-07-22 19:13] sxjscience commented on #11283
@smorrel1 , @haojin2 has implemented GroupNorm and you may try that.

[2019-07-22 19:13] #11283 closed

[2019-07-22 19:51] ChaiBapchya commented on #15603
PR https://github.com/apache/incubator-mxnet/pull/15549
Pipeline - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-15549/5/pipeline

[2019-07-22 19:59] ChaiBapchya commented on #15603
Caused by this PR https://github.com/apache/incubator-mxnet/pull/15497
@zixuanweeei @pengzhao-intel Can you please take a look?
Thanks!

[2019-07-22 20:04] vandanavk commented on #14875
Can you try the PR https://github.com/apache/incubator-mxnet/pull/14942? I dint see the issue with this PR.

[2019-07-22 20:13] larroy commented on #11720
Is this related?

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/PR-15625/1/pipeline

Please include test_laop_6 in the title if so.

[2019-07-22 20:54] zachgk commented on #15605
@ChaiBapchya This issue is that the network connection failed while downloading a maven dependency. I don't know how we handle this besides rerunning the jenkins job

[2019-07-22 20:57] pengzhao-intel commented on #15603
thanks, @ChaiBapchya, actually GPU doesn't calculate this part accurately.
@zixuanweeei let us disable GPU test first and then file an issue for GPU.

[2019-07-22 21:03] ChaiBapchya commented on #11720
Same
In PR #15606
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-15606/4/pipeline

[2019-07-22 21:25] roywei commented on #14833
Hi @iamthebot , we just released MXNet 1.5.0, and keras-mxnet will release 2.2.4.2 in next week or so. Tracked here: https://github.com/awslabs/keras-apache-mxnet/issues/234

[2019-07-22 21:41] fab-san opened #15626 "Concat of empty array and array with data crashes Mxnet"
## Description
Concatenating an empty array with an array with some data crashes Mxnet. A similar script in Numpy works just fine (`np.concatenate([np.empty((0, 4)), np.array([[1,2,3,4]])], axis=0)`).

## Environment info (Required)

----------Python Info----------
Version      : 3.6.8
Compiler     : GCC 5.4.0 20160609
Build        : ('default', 'Dec 24 2018 19:24:27')
Arch         : ('64bit', 'EL

[2019-07-22 21:50] sxjscience opened #15627 "[OP][Refactor] Merge native implementations of variance-related operators: BatchNorm, GroupNorm, LayerNorm, Moments"
There are lots of operators in MXNet that are related to calculating the forward + gradient w.r.t the variance, i.e., `var(X)`

- Moments
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/moments.cc
- BatchNorm
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/batch_norm.cc
- LayerNorm
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/lay

[2019-07-22 23:02] yajiedesign commented on #8703
+1. It's time to stop.

[2019-07-22 23:38] wkcn commented on #8703
synchronization with numpy

[2019-07-22 23:47] paul777chen opened #15628 "Is there whl about mxnet-cu100 on windows ?"
There is whl on https://pypi.org/project/mxnet-cu100mkl/. I want to install mxnet on windows through whl. Is there a file about it ?

[2019-07-23 00:52] zhanghang1989 opened #15629 "DataLoader Error using Multi processing"
Note: DataLoader Error using Multi processing

## Description
minimum reproducible code:

[code]
Terminal output:
[code]
## Environment info (Required)

mxnet 1.4.1 or 1.5.1
ubuntu
cuda 10.0

[2019-07-23 01:00] pengzhao-intel commented on #15627
Good idea :)
Could you write up a simple description of what's the preferred optimization skill in these OPs?

 cc @TaoLv @ciyongch @zixuanweeei

[2019-07-23 01:15] #10082 closed

[2019-07-23 01:16] #9948 closed

[2019-07-23 01:25] zixuanweeei commented on #15603
@pengzhao-intel No problem. And I will collate a new example on GPU before filing an issue.

[2019-07-23 03:01] cyrusbehr commented on #14279
hi @diandianliu, did you figure out how to do this?

[2019-07-23 04:07] visionNoob opened #15632 "Building MxNet with CPP_PACKAGE on Windows10 (2019-07-23)"
This document gives a information about Building MxNet with CPP_PACKAGE on Windows10.
If you think it is inappropriate, please close the issue.
---
Hello. I'm visionNoob.
I think many people are struggling with building MxNet on win10, including me.
Finally, I (partially) succeed in building MxNet on win10.

### Environment
Windows 10 Education
Visual Studio 2015
python 3.6(7.5.0)
Nvidia CUDA 9.0(

[2019-07-23 04:18] vkorenev opened #15633 "Packages with Scala classes should end with Scala major release version"
Different major Scala releases (e.g. 2.11 and 2.12) are binary incompatible. There is a convention supported by sbt and other build tools that a Scala package with classes should end with underscore and major Scala version used to compile it. In addition to indicating the compatible Scala version, this allows versions of the same package compiled for different Scala versions to be stored at the sa

[2019-07-23 04:34] vkorenev opened #15634 "mxnet-full jar depends on mxnet-core and mxnet-infer jars while containing all their classes"
The current Maven build for Scala produces `mxnet-full_2.11` package which pulls `mxnet-core` and `mxnet-infer` packages by dependency. However `mxnet-full` jar already contains all the classes from those 2 jars, so there is no need to include them again.

MXNet commit hash: `77254f2a829d481d61e015e900923f1edb4af39f`.

[2019-07-23 05:03] yuxihu commented on #15578
Fix has been merged in Horovod.

[2019-07-23 05:03] #15578 closed

[2019-07-23 05:05] cyrusbehr commented on #14279
found it https://github.com/apache/incubator-mxnet/issues/15275

[2019-07-23 05:25] TriLoo opened #15635 "gluon.nn.Conv2DTranspose() may have a problem working with MKLDNN data ?"
`mxnet version`: 1.5.0
`OS`: Centos 7.2
`Python`: 3.6
`CPU`: Xeon E5-2650 v4

Following code can reproduce this bug on my server:
[code]

The error info is:
[code]

**What I found:**
1.  if the `Conv2DTranspose()` after another `Conv2D()`, one output channel of these two operators must less than 24, for example
[code]
works fine.

[2019-07-23 05:56] ChaiBapchya commented on #15605
Haven't looked at the code. But isn't there any way to catch exception and troubleshoot, instead of asking contributors to retriever CI?

[2019-07-23 06:19] chaofanl opened #15636 "Benchmark/opperf on CPU"
## Description
I manually test with below mxnet version the op test is successful
**commit c8a1de429b4ba81c14348db0c04f6d3ea3ec4a17
Author: Aaron Markham <markhama@amazon.com>
Date:   Thu Jul 18 00:12:45 2019 -0700**
but with _eec0fb4eda40f4fb8222a8d93d8face454aead09, 9a1a1028529c91c83f275edb74b272f8ad3dcc3d_ the test failed.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Ju

[2019-07-23 06:28] iblis17 commented on #15613
ah, okay

[2019-07-23 07:09] ZhennanQin commented on #15555
@kostayScr I filed a PR to fix this: https://github.com/apache/incubator-mxnet/pull/15637. Local test works for me. But as you know, the problem is a bit complicated and random, so I wish you can have a try for your  real case to see if problem is really resolved. Thanks in advance.

[2019-07-23 07:35] zixuanweeei opened #15638 "Convolution may have some precision problem with autotuned cudnn"
## Description
The convolution outputs of autotuned and non-autotuned cudnn are inconsistency when `grad_req` was set to `{"x": "null", "w": "null"}`.

## Environment info

Test script. MXNet was built from source. Built details was listed below.

[code]

## Build info

Compiler gcc: gcc version 5.3.1 20160406 (Red Hat 5.3.1-6) (GCC)

MXNet commit hash: 77254f2

Build config:
[code]

## Error Mess

[2019-07-23 07:35] wkcn commented on #15629
I couldn't reproduce the bug on ArchLinux 5.2.0, MXNet 1.5.0

[2019-07-23 07:39] zixuanweeei commented on #15638
@DickJC123 Could you take a look at this? Thanks.

[2019-07-23 09:37] JoseLucasgt opened #15639 "My first neural network what's the problem (mxnet, Gluon, Multilayer Perceptron)"
Hello, I have made my first neural network but I think It's completely wrong and I don't understand how exactly, this is my code:

NUM_LABELS = 2    # The number of labels.
file_train = open('Youtube_ex.csv')
file_test = open('Train_Youtube_ex.csv')

test_data,test_labels = extract_data(file_test)
test_data_nd = nd.array(test_data)
train_data,train_labels = extract_data(file_train)
train_data_nd =

[2019-07-23 09:50] JoseLucasgt commented on #15639
Also, how can I test my artificial intelligence (giving some data and having the answer to know if it is correctly trained)?
My classes are in numbers and in the code I do a one hot encode but I dont know how to identify my labels with names after.

[2019-07-23 10:46] kostayScr commented on #15555
@ZhennanQin I applied the patch manually, then tried to reproduce the bug in my code(ran it 5 times). The bug didn't pop up so hopefully it is fixed now. Should I close the issue?

[2019-07-23 13:24] lizhenfengfeng commented on #4785
stores the history of forward path, so you can skip constructing the entire graph in inference tasks.
but I also can't understand how to get node_row_ptr

[2019-07-23 14:10] QueensGambit opened #15640 "Performance regression for MXNet 1.5.0"
## Description
I experience a performance regression for both CPU (mxnet-mkl) and GPU (mxnet-cu100) when updating from version 1.4.1 to 1.5.0. The speed regression is about 8% on CPU, if you're interested I can also provide a report for GPU.

## Environment info

MXNet version 1.4.1
[code]
and MXNet version 1.5.0
[code]

* Intel® Core™ i5-8250U CPU @ 1.60GHz × 8
* Ubuntu 18.04.2 LTS
* `export MXNE

[2019-07-23 14:13] QueensGambit commented on #15640
@mxnet-label-bot add [Performance, MKL, Python]

[2019-07-23 14:47] pengzhao-intel commented on #15640
Thanks for reporting the problem. @ElaineBao could you take a look for this?

[2019-07-23 14:50] pengzhao-intel commented on #15640
cc @roywei

[2019-07-23 17:01] zhanghang1989 commented on #15629
This error is not consistent. Some of my AWS EC2 instances have this issue, but others not.
I am closing this for now.

[2019-07-23 17:10] roywei commented on #15640
Hi @QueensGambit  thanks for the issue. What does `cp 71 depth 30 nodes 697` mean for your benchmark?
and could you share your model used? what's the archietecture? There is an known issue with RELU and we made it slower for correctness. https://github.com/apache/incubator-mxnet/pull/14262

[2019-07-23 17:55] anirudhacharya commented on #11865
Here is another usecase where using `attach_grad()` with intermediate variables gives erroneous results -

With the following example I would expect `x.grad` to be `[10, 24, 42, 64]` but using head gradients as per the [autograd documentation](https://www.d2l.ai/chapter_crashcourse/autograd.html#head-gradients) gives me `[5, 12, 21, 32]`

[code]

But when I do it without using head gradients like

[2019-07-23 17:58] anirudhacharya commented on #11865
And as per the autograd documentation here - https://www.d2l.ai/chapter_crashcourse/autograd.html#attach-gradients-to-internal-variables

it would seem we are expecting the computation graph to be thrown away when we execute `x.attach_grad()` because we are implicitly running `detach()` every time `attach_grad()` is called.

We need to get a clear understanding of what the expected behavior is her

[2019-07-23 18:13] QueensGambit commented on #15640
Hello @roywei. Thanks for your answer.
It's an adapted convolutional network which is in principal similar to the AlphaZero-Network, but specially performant for CPUs (about ~3x faster) and GPUs (about ~1.4x faster) while maintaining similar performance.
https://github.com/QueensGambit/CrazyAra/blob/master/DeepCrazyhouse/src/domain/neural_net/architectures/rise_v2_symbol.py#L149

It applies the co

[2019-07-23 18:45] zachgk commented on #15605
The problem doesn't lie on Maven so I don't think there is anything Maven can do to address it directly. Usually we would add some amount of retries for downloading. I just looked and there doesn't seem to be a way to make Maven retry downloading. I would be hesitant to retry the entire Maven test because this doesn't seem to be a frequent problem and it would immediately multiply the cost of the

[2019-07-23 18:49] zhanghang1989 commented on #15629
This may be because of python verion 3.7.3

[2019-07-23 18:49] keerthanvasist commented on #15639
@mxnet-label-bot add [question]

[2019-07-23 19:11] roywei commented on #15640
Hi @QueensGambit, thanks for your detailed reply.

There was a lengthy discussion about operator performance regression here: https://github.com/apache/incubator-mxnet/issues/15429#issuecomment-508831150

Summary is:
1. The profiler code changed between 1.4.1 and 1.5.0, so it's not an apple to apple comparison.
2. Using `time` module, we didn't see significant regression on `batchnorm` and `broadc

[2019-07-23 19:12] zachgk commented on #15628
We have one for MXNet version 1.4.1(https://pypi.org/project/mxnet-cu100mkl/1.4.1/#files). You can install it with:
[code]

[2019-07-23 19:18] roywei commented on #15640
In addition, if you are using mkl version, you can try these env var mentioned here:https://github.com/apache/incubator-mxnet/issues/15429#issuecomment-507700562
[code]

[2019-07-23 19:29] roywei opened #15642 "Website installation issue"
https://mxnet.apache.org/versions/master/install/index.html?platform=Linux&language=Python&processor=CPU&prev=v1.2.1&prev=v1.3.1

1.4.0 installation is showing up on 1.4.1 and master version

version 1.4.1:
$ pip install mxnet
$ pip install mxnet==1.4.0

version master:
https://mxnet.apache.org/versions/master/install/index.html?platform=Linux&language=Python&processor=CPU&prev=v1.2.1&prev=v1.3.1&

[2019-07-23 19:30] roywei commented on #15642
cc @aaronmarkham @IvyBazan @eric-haibin-lin

[2019-07-23 20:05] keerthanvasist commented on #15642
@mxnet-label-bot add [installation, doc]

[2019-07-23 20:11] QueensGambit commented on #15640
It's basically the other way around. Usually, the movetime is a fixed given time and the `nodes` defines how many nodes have been created in this time within search tree. Higher `nodes` and `depths` are preferable.
`cp` is a dynamically changing value evaluation which converges in theory to true value for a particular position given infinite samples, here nodes. The nodes are reused for future boa

[2019-07-23 20:13] keerthanvasist commented on #15633
@mxnet-label-bot add [build, Scala]

[2019-07-23 20:23] keerthanvasist commented on #15634
@mxnet-label-bot add [scala, build]

[2019-07-23 20:32] zachgk commented on #15632
@aaronmarkham

[2019-07-23 20:47] zachgk commented on #15633
The mxnet-core and mxnet-infer are not released. We use the maven-assembly-plugin to combine all of the modules from development into the full jar and then we only release the full jar. Do the other modules not ending in _2.11 cause problems when you install it locally?

[2019-07-23 20:55] zachgk commented on #15634
@vkorenev Are you looking at the versioned mxnet-full or the INTERNAL one? When you build the assembly module, it flattens and includes the code from the other modules. Once they are flattened, we deploy it and use https://github.com/apache/incubator-mxnet/blob/master/scala-package/deploy/pom.xml as the pom.xml instead of the one inherited from the assembly plugin. You can view the deployed versio

[2019-07-23 21:33] vkorenev commented on #15634
Then `mvn install` should replace the pom before installing `mxnet-full` to the local repo.

[2019-07-23 21:41] roywei commented on #15640
Thanks for the explaination, I think the total time spend should be independent from profiler code change. But the results from `profiler.dumps()` is affected.
The environment variable setting should give you another speed up.

Meanwhile we will look at operator regressions. right now only time (ms) spend can be trusted.

[2019-07-23 21:58] zachgk commented on #15622
@LittleFatHero We did not build cu101 for older versions of MXNet, so it only goes back to 1.4.1. If you use an older version of cuda, then there will be older versions of MXNet available. You can find the versions by looking at https://pypi.org/project/mxnet-cu101. The release history shows all the available releases and download files shows which platforms are available for a given release.

[2019-07-23 22:01] vkorenev commented on #15633
So the problem is different. Both `mxnet-core` and `mxnet-infer` are not supposed to be imported from outside, but they are pulled as dependencies of `mxnet-full`, which is installed to the local repo by `mvn install` (#15634).

[2019-07-23 22:01] #15633 closed

[2019-07-23 22:25] ChaiBapchya opened #15643 "NDArray API NN Optimizer (Multi-* update category) issues"
Neural Network Optimizer updates such as
`multi_mp_sgd_mom_update`, `multi_mp_sgd_update`, `multi_sgd_mom_update`, `multi_sgd_update`

They are present in Symbol API doc but not in NDArray API doc.
However, upon checking definition of 1 of the operators

[code]
[code]

[2019-07-23 22:26] ChaiBapchya commented on #15643
@mxnet-label-bot add [Operator, Doc]

[2019-07-23 22:43] liav-teichner commented on #6371
Reading this thread it is still not clear to me whether calling lowering the frequency of calls to update_metric affects the trained final trained model - e.g. calling update metric once for for every two forward_backward calls result.

[2019-07-23 22:49] econti opened #15644 "BatchNorm Issue"
mxnet's `BatchNorm` doesn't seem to modify my input when used which is incorrect. Could someone take a look at the code below?

[code]

Environment:
[code]

Thanks!

[2019-07-23 23:02] wkcn commented on #15644
The default mode is testing, so the mean is 0, and the std is 1.

The following code is in the training mode.

with mx.autograd.record():
  mxnet_DNN(data)

[2019-07-23 23:29] zachgk commented on #15639
For questions, please submit them on the MXNet discussion forum (https://discuss.mxnet.io) where it will get a wider audience and allow others to learn as well.

[2019-07-24 01:11] aaronmarkham commented on #15201
@IvyBazan can you please take a look at this?

[2019-07-24 01:14] aaronmarkham commented on #15632
@zachgk This is good for workaround info, but it's pretty convoluted for putting into instructions. We need to figure out why it doesn't work out of the box. It shouldn't be this hard.

[2019-07-24 01:18] aaronmarkham commented on #15642
Looks like 1.4.0 being in there is just a typo and changing to 1.4.1 would be a quick fix.

According to the selector's normal logic `pip install mxnet --pre` should only show up when master is selected. Showing up when selecting a different version means there's probably a bug in options.js. Or the install page is slightly messed up which then causes the js to break.
Refactoring the install page

[2019-07-24 01:26] ElaineBao commented on #15640
Thank you for your discussion @QueensGambit @roywei , I will try to reproduce the case and profile it firstly :)

[2019-07-24 01:57] ruapehau commented on #15582
There is a similar article titled "Block-Sparse GPU Kernels" on Open AI
https://openai.com/blog/block-sparse-gpu-kernels/

[2019-07-24 01:57] ZhennanQin commented on #15555
@kostayScr Thanks for the try. It's up to you that whether you want to trace the bug to be fixed from master:)

[2019-07-24 03:52] wkcn commented on #15629
The version of Python I used is `3.7.3 (default, Jun 24 2019, 04:54:02) [GCC 9.1.0] on Linux` too.

[2019-07-24 03:54] TangDL commented on #5868
https://github.com/szha Hi，when  I run  example/image-classificati/train_mnist.py --network lenet --gpus 0, I meet this issue now,can you tell me how to slove it?

[2019-07-24 05:10] #15555 closed

[2019-07-24 06:26] kuonangzhe opened #15646 "TensorRT protobuf sizelimit and subgraph error"
## Description
TensorRT inference report error for protobuf size limit for ssd model and subgraph error for maskrcnn model. Models are loaded from gluoncv.

## Environment info (Required)
Ubuntu 18.04, CUDA 10.1, mxnet 1.5.0, Tensorrt 5.0, GTX 1060ti, Python3.6

Compiler: ccache, nvcc

MXNet commit hash: 75a9e187d00a8b7ebc71412a02ed0e3ae489d91f

Build config:
[code]
[code]
## Error Message:
ssd_51

[2019-07-24 06:28] kuonangzhe commented on #15646
@KellenSunderland @Caenorst Hopefully these error messages could help. Thanks in advance.

[2019-07-24 07:42] LittleFatHero commented on #15622
Thank You ！ but the cu101 only goes back to 1.5 which is the last stable release and it doesn't go back to 1.4.1. In the installlation page of  official website of mxnet, from that  mxnet version table, I see the the mxnet-cu101mkl and the mxnet -cu101 is checked in version 1.4.1 which means that I can install the mxnet-cu101==1.4.1 on windows or linux , but the fact is that I can't, because there

[2019-07-24 08:58] 666xiaohei666 opened #15647 "Segmentation fault: 11"
(retinaface) root@docker20:/data2/yanmengkai/face/RetinaFace# pip install mxnet
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: mxnet in /root/anaconda3/lib/python3.7/site-packages (1.5.0)
Requirement already satisfied: numpy<2.0.0,>1.16.0 in /root/anaconda3/lib/python3.7/site-packages (from mxnet) (1.16.4)
Requirement already satisfied: graphviz<0.9.0,>

[2019-07-24 09:54] dexception commented on #9763
Facing same issue.

[2019-07-24 09:57] dexception commented on #9187
This file is not getting generated !

[2019-07-24 10:20] Wallart commented on #15431
@roywei I reproduced the exact same environment outside the Docker. Still using intelpython through miniconda, sames build flags, and the error is still here

[2019-07-24 11:55] Wallart commented on #15431
Same problem. I am building MXNet with something that makes it crash

[2019-07-24 13:26] ElaineBao commented on #15640
Hi, all, I've reproduced the case and confirmed initially that there is a regression in `Activation` operation for specific input shape. Here is the detailed report:

(1) I run the code provided by @QueensGambit with `MKLDNN` backend (change `it`(iterations) in above script from 1e4 to 1e3, for efficiency), and got the profile statistics:

### mxnet 1.4.1

[code]
### mxnet 1.5.0
[code]

Noticed fr

[2019-07-24 14:52] #15628 closed

[2019-07-24 17:27] larry77 opened #15649 "Installation Fails on Debian Stable Machine"
Dear All,
I tried installing the R package for my box (debian stable) according to the instructions here

http://mxnet.incubator.apache.org/versions/master/install/ubuntu_setup.html#install-the-mxnet-package-for-r

the first part i.e.

 ./install_mxnet_ubuntu_python.sh

completed without errors.

If I do
    ~$ python3
    import mxnet as mx
I do not get any error message.

 but the second script

[2019-07-24 20:08] roywei commented on #15431
You can find the build flags used for pip packages here: https://github.com/apache/incubator-mxnet/tree/master/make/pip

[2019-07-24 20:10] zachgk commented on #15647
Can you please provide some information about your environment?

[code]

[2019-07-24 20:20] barumrho opened #15650 "1.5.0 Scala package missing from Maven Central"
## Description
Scala packages for 1.5.0 are missing on Maven Central.
https://search.maven.org/search?q=g:org.apache.mxnet

Looking at this PR (https://github.com/apache/incubator-mxnet/pull/13626) it looks like some changes were made on how Scala package is built. Is this related to the packages not being published?

One follow up question: When installing from source, the version is set to `INTE

[2019-07-24 21:16] zachgk commented on #15649
It looks like you are missing the libmxnet.so file. Do you have the files:
- /home/lorenzo/mxnet/lib/libmxnet.so
- - /home/lorenzo/mxnet/R-package/inst/libs/libmxnet.so
- /home/lorenzo/mxnet/R-package/R-package/inst/libs/libmxnet.so

Also, have you altered the directory structure of the mxnet installation at all? Your directory structure "R-package/R-package" does not look quite right.

You can tr

[2019-07-24 21:36] zachgk commented on #15650
@barumrho The scala package has not been released yet. @lanking520 and I are currently working on it. We need to have other committers verify the release which takes a bit, but I'll let you know when we get it out.

To change the version, you could update the version in `scala-package/assembly/pom.xml`. You could also run `mvn deploy -Drepo_url=file://$HOME/.m2/repository` and that would give you

[2019-07-24 21:40] zachgk commented on #15634
We currently use the deploy plugin to replace the pom file so this isn't a tiny change. We also have fewer details such as no hardware (CPU/GPU) when you use the install version which many of our scripts depend on.

You could try using `mvn deploy -Drepo_url=file://$HOME/.m2/repository` and that would give you a full release with the replaced POM and version 1.5.0-SNAPSHOT.

[2019-07-24 21:57] zachgk commented on #15618
I looked into this a bit. There are other non-expanded properties such as `${cxx}` and `${project.parent.basedir}` so I believe SBT should generally handle these. I think `${libtype}` is different because it uses an activation https://github.com/apache/incubator-mxnet/blob/master/scala-package/pom.xml#L124. So, it will automatically set the appropriate libtype based on the detected operating syste

[2019-07-24 22:00] Zha0q1 commented on #14100
sorting is added in this PR: https://github.com/apache/incubator-mxnet/pull/15132

Now we can use
`profiler.dumps(sort_by = 'avg', ascending = False)`
where `sort_by` can take `avg`, `min`, `max`, `count`; and `ascending` can be either `True` or 'False'

By the way, you can also do `profiler.dump(format = 'json')` to get a json string now

[2019-07-24 22:00] Zha0q1 commented on #14100
@sandeep-krishnamurthy we can probably close this issue now

[2019-07-24 22:04] zachgk commented on #15644
@econti Did wkcn help you resolve your problem? If so, please close the issue. Thanks

[2019-07-24 22:06] ChaiBapchya commented on #8219
Curious to know if this is still being worked on? @pengzhao-intel @anirudh2290

[2019-07-24 22:09] Zha0q1 commented on #15069
@sandeep-krishnamurthy we can close this now

[2019-07-24 22:22] econti commented on #15644
Yes, thank you @wkcn!

[2019-07-24 22:22] #15644 closed

[2019-07-24 22:24] Zha0q1 commented on #10504
@sandeep-krishnamurthy  this issue seems resolved. we can probably close. Also, my PR fixed the other issue linked above

[2019-07-24 22:36] Zha0q1 commented on #15556
@sandeep-krishnamurthy this issue seems resolved

[2019-07-24 22:37] Zha0q1 commented on #15557
@sandeep-krishnamurthy this issue seems resolved

[2019-07-24 23:49] anirudh2290 commented on #8219
https://github.com/apache/incubator-mxnet/pull/11252 this PR addressed this solution.

For 2:

This may not be a trivial effort and requires a detailed performance analysis for mshadow and with eigen for the common use cases. Also, this affect only ops not supported by MKLDNN and the benefits may not be worth the effort.

[2019-07-25 00:20] gogazago opened #15652 "Using openblas"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-07-25 00:36] Zha0q1 commented on #15486
Hi @avivna , I looked into your code. I think either in imperative mode or symbolic mode, the expected usage is that you only use one thread to create you model. Please let MXNet handle parallel exuction. Using multiple threads that all command MXNet at the same time will induce unexpected behaviors. Plus, because of global interpreter lock, you are not speeding up your model even if you use mutlp

[2019-07-25 00:41] Zha0q1 commented on #15486
@sandeep-krishnamurthy we can probably close this issue. @avivna If there is any followup question please fell free to ping me

[2019-07-25 01:33] DeepDuke commented on #15624
Thanks!

[2019-07-25 03:59] sandeep-krishnamurthy opened #15654 "Enhancements to MXNet operator registry APIs"
MXNet operator registry APIs are very useful to build automated solutions such as:
1. Automatic Python API Generation
2. opperf - operator benchmarking
and more.
In these tools we use operator registry APIs to fetch all registered mxnet operators, its metadata such as parameters, types, operator description etc...

With current functionality we miss below listed information. We need to enhance MXN

[2019-07-25 05:06] vkorenev commented on #15618
This relates to "INTERNAL" packages only, which are not supposed to be used in other projects (#15634). The package produced by `mvn deploy -Drepo_url=file://$HOME/.m2/repository` is good. So the actual problem is that `mvn install` does not deploy usable packages to the local repo as one might expect, but there is another command which can do this.

[2019-07-25 05:06] #15618 closed

[2019-07-25 05:40] turtlemeow commented on #13434
Got same error on tx2, still cant solve...

[2019-07-25 06:25] Neutron3529 opened #15655 "Performance regression for gluon dataloader with large batch size"
## Description

gluon's dataloader performs terrible compared to `mx.io.NDArrayIter`

## Environment info (Required)

[code]

## Minimum reproducible example
## Steps to reproduce
[code]
It took `3.6711745262145996` seconds to execute a `next(a)`, roughly 20s for total 6 `next(a)`
For `mx.io.NDArrayIter`, it finish iter almost immediately.

## What have you tried to solve it?
I find the problem oc

[2019-07-25 07:16] chenjunweii commented on #13434
@turtlemeow I think the problem might be out of the memory, try smaller input size, memory management of python api and  c++ api seems different

[2019-07-25 08:58] turtlemeow commented on #13434
@chenjunweii thanks! Input a smaller  image and it works, thank you

[2019-07-25 09:24] Neutron3529 commented on #9686
(1)#10840 Add einsum since it is useful and it could simplify linear algebra ops. (it is now supported by tensorflow and pyThrch)
(2)seperate MXNet.dll into small files to reduce the import time.
nvcc will generate a HUGE file with `-sm=(...a lot of codes...)`
it seems seperate the HUGE `-sm` instruction may increase the `import` performance.

[2019-07-25 13:43] ngunauj opened #15656 "Can you give me a UpSampling's doc? 'bilinear'!!"
[code]

[2019-07-25 15:39] kshitij12345 commented on #15656
There seems to be a problem with the documentation.
https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.UpSampling

It doesn't mention about weight when using `bilinear`.
Digging into the code,
https://github.com/apache/incubator-mxnet/blob/8158ba4b0f1ebd696ec09a0b1aa6031bacb60740/src/operator/nn/upsampling.cc#L123-L173

It mentions about requiring the weight and also

[2019-07-25 17:51] #15486 closed

[2019-07-25 17:53] #15557 closed

[2019-07-25 17:54] #15556 closed

[2019-07-25 17:54] #10504 closed

[2019-07-25 17:57] #15069 closed

[2019-07-25 17:58] #14100 closed

[2019-07-25 18:06] Zha0q1 opened #15658 "profile_symbolic flag not working in profiler"
We use `profiler.set_config()` to control the profiler's behaviors, i.e. what to profile.
`profile_symbolic` and `profile_imperative` are two parameters to control whether to profile operators called in the two modes respectively. However, it seems currently `profiler_symbolic` is not functioning correctly.

In the screenshot below, we have a simple scrip that has `plus_scalar` in symbolic mode an

[2019-07-25 18:07] Zha0q1 commented on #15658
@mxnet-label-bot  add [Profiler, Bug]

[2019-07-25 18:24] matteosal opened #15659 "Dropout produces wrong mask with MKL-DNN"
## Description
Dropout mask (second output) is always full of zeros when mxnet is built with MKL-DNN. Weirdly, setting `MXNET_MKLDNN_ENABLED=0` doesn't fix it, but using a build without MKL-DNN does.

## Environment info (Required)

[code]

Using python package.

## Build info (Required if built from source)

Compiler: gcc

MXNet commit hash: 076b2f330c60f05cb939beea28dd04cd571a34c0

Build config:

[2019-07-25 18:30] zachgk commented on #15652
We have it as a switch (see https://github.com/apache/incubator-mxnet/blob/master/Makefile#L255). You should have USE_BLAS=open to use openblas

[2019-07-25 18:33] gogazago commented on #15652
so can we ignore openblas  on
https://github.com/apache/incubator-mxnet/blob/master/Makefile#L217 ?

Thanks,
Sean.

[2019-07-25 18:41] Zha0q1 commented on #15658
I looked into the code. I seemed like even though `profile_symbolic` was defined, it was never used anywhere. @anirudh2290 do you know about this?

[2019-07-25 19:03] zachgk commented on #15655
Any idea @zhreshold?

[2019-07-25 19:14] zachgk commented on #15652
I might be wrong. @larroy Can you take a look?

[2019-07-25 20:56] cjolivier01 commented on #15069
optionally adding json output seems reasonable. during development of this feature, the intel folks were asking for more aggregation of the output, such as convolution ops for different input shapes, for instance, which seems perfectly fair (there’s a discussion issue about it somewhere). Anyway, whatever y’all decide to do, try to keep open the extensibility to stuff like that (which would lend i

[2019-07-25 20:57] larry77 commented on #15649
Hello,
And thanks for helping out.
I have the files

    ~$ ls mxnet/lib/libmxnet.so
    -rwxr-xr-x 1 lorenzo lorenzo 71740832 Jul 24 17:25 mxnet/lib/libmxnet.so

    ~$ ls mxnet/R-package/inst/libs/libmxnet.so
    -rwxr-xr-x 1 root root 71740832 Jul 24 21:57 mxnet/R-package/inst/libs/libmxnet.so

What I do not have is
    /home/lorenzo/mxnet/R-package/R-package/inst/libs/libmxnet.so

because I do

[2019-07-25 20:57] cjolivier01 commented on #15069
output was loosely based on pytorch, btw.

[2019-07-25 21:04] Zha0q1 commented on #15069
Thanks for the tips! We have added support for sorting and json in this PR: https://github.com/apache/incubator-mxnet/pull/15132. Basically, we have added three new parameters to `dumps`, namely `sort_by`, `ascending`, and `format` by which you can control the aggregate stats output. We are keeping the old table view as it is clear to human; json format is intended for use cases where you want to

[2019-07-25 21:35] zachgk commented on #15649
Try running this which might fix the cuda.h problem. So, you are updating the default configuration instead of using the two lines instead of it (it doesn't load the default configuration if the config.mk file exists).
[code]

 @aaronmarkham or @anirudhacharya, do you know what is wrong with the R installation?

[2019-07-25 21:59] #15658 closed

[2019-07-25 22:00] larry77 commented on #15649
Hi,
And thanks!
The installation from source eventually fails for the same reasons, look at this

g++ -std=gnu++11 -shared -L/usr/lib/R/lib -Wl,-z,relro -o mxnet.so executor.o export.o im2rec.o io.o kvstore.o mxnet.o ndarray.o symbol.o -llapack -lblas -L/usr/lib/R/lib -lR
make[1]: Leaving directory '/home/lorenzo/incubator-mxnet/R-package/src'
installing to /usr/local/lib/R/site-library/00LOCK-R-p

[2019-07-25 22:03] Zha0q1 commented on #9686
I would like to bring up one issue with profiler: currently, there is a flag `kSimbolic` that supposedly should control whether to profiler operators called in symbolic mode. However, there is rarely a use case where users would want to set it to `False`; also, in the backend, this flag is not used at all, meaning that even if it's set to `False`, the profiler will still profiler symbolic operator

[2019-07-26 00:13] liav-teichner commented on #15486
Hi,
I am a co-worker of Aviv and would like to ask a further question: while we target moving to Gluon API and Gluon data loading, our current code uses Module API and DataIter classes. To achieve acceptable data loading performance we spawn child processes that load data from the disk, augment the data and use NDArray.save to save it to shared memory. The main process that executes the training l

[2019-07-26 01:18] eric-haibin-lin opened #15662 "cudnn Dropout reproducibility"
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/dropout-inl.h#L491-L493

The seed of CUDNN dropout does not respect the random seed in mxnet

[2019-07-26 01:41] zachgk commented on #15662
I did a quick recursive grep and found several other usages of the rand function. Here is the full list I found (some of these may be correct):
- https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/dropout-inl.h#L95
- https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/dropout-inl.h#L491
- https://github.com/apache/incubator-mxnet/blob/master/src/operator/random

[2019-07-26 01:59] ngunauj commented on #15656
ok  i will try..try Thanks

[2019-07-26 02:01] ngunauj commented on #15656
ok i will try..try Thanks @kshitij12345

[2019-07-26 03:47] pengzhao-intel commented on #15659
@wuxun-zhang please take a look for this issue.

[2019-07-26 04:49] TaoLv commented on #15659
Some background: MKL-DNN itself doesn't support dropout primitive. When MXNet is built with MKL-DNN, it will use functions from VSL to implement dropout. It's kind of legacy code from MKL2017 integration. That's why it cannot be disabled by `MXNET_MKLDNN_ENABLED=0`.

[2019-07-26 05:16] wuxun-zhang commented on #15659
OK. I'll look into this issue.

[2019-07-26 07:56] Neutron3529 commented on #15589
I think MXNet needs a relocatable .dll/.so file
`libmxnet.dll` is too large and takes too much time to load in my Windows 10

I asked how to decrease the dll size (since there is too much `arch`s in the single .dll file and what I want is just `-arch=sm_61` for my GTX 1060)

The reply is to use `nvprune`, I tried it and it gives me an error:
[code]
Make the `libmxnet.dll`/`libmxnet.so` relocatable

[2019-07-26 09:40] ngunauj opened #15665 "syncbatchnorm0_gamma' has not been initialized yet because initialization was deferred"
The part of forward..
[code]
The part of define..
[code]

the BatchNorm2d is
[code]
when run the code, the error is `syncbatchnorm0_gamma' has not been initialized yet because initialization was deferred`.
when i change the SyncBatchNorm to BatchNorm is ok....

i use `net.initialize(ctx=[mx.cpu(0)])` to init params

[2019-07-26 16:22] roywei commented on #15642
Two steps are used during website build:
1. build_all_versions.sh
2. update_all_versions.sh
Reference: https://cwiki.apache.org/confluence/display/MXNET/Production+Website+Build+Pipeline
Current findings, 'pip install mxnet==1.4.0' is wrongly injected into the installation page by update_all_versions. It would appear event if we remove all appearance of such text, so it injected by checking out ol

[2019-07-26 19:09] access2rohit opened #15667 "CI/CD: mxnet-validation windows-gpu terminating"
test_operator_gpu.test_deformable_convolution ...
is failing for my PR. It has failed 3 times till now.
Failing test is not related to my changes PR: https://github.com/apache/incubator-mxnet/pull/15593/

## What have you tried to solve it?

1. GPU build on ubuntu run successfully on this test. I don't have windows machine

[2019-07-26 19:09] access2rohit commented on #15667
@mxnet-label-bot add [bug]

[2019-07-26 19:10] access2rohit commented on #15667
@mxnet-label-bot add [CI]

[2019-07-26 20:22] szha commented on #15613
@samskalicky thanks for starting the discussion. @PatricZhao @TaoLv could you drive this release?

[2019-07-26 20:45] chargrnv opened #15669 "pypi manylinux1 is not manylinux1"
## Description
manylinux1 package that is published is not manylinux1.
[code]

https://www.python.org/dev/peps/pep-0513/

[code]

## Environment info (Required)
CentOS 5/6

The problem with this is, if I make my own build and publish to an extra-index-url, the published manylinux1 package is given priority by pip.

[2019-07-26 21:14] ChaiBapchya commented on #15200
@aaronmarkham

Well. I tried to compare the working V1.4.1 vs master
Here's the console output
### Ideal Condition. V1.4.1
![V1.4.1 Console for sidebar](https://user-images.githubusercontent.com/10992635/61981685-2ec04180-afaf-11e9-88ce-95cb2b2c24c6.png)

### Master
Div `<div class="sphinxsidebar leftsidebar">` exists. But the content is missing.

![Screen Shot 2019-07-26 at 2 04 48 PM](https://us

[2019-07-26 21:22] larroy commented on #15200
I don't know much about sphinx.

https://github.com/apache/incubator-mxnet/blob/master/docs/_static/mxnet-theme/layout.html

This seems to reference localtoc: https://github.com/sphinx-doc/sphinx/blob/master/sphinx/themes/basic/localtoc.html

Which seems to be missing. So I guess the toc is not being generated correctly. Let me generate the docs and see if there's some error message with the TOC.

[2019-07-26 22:00] zachgk commented on #15669
Right now, we build to be compatible with CentOS 7. We should switch to tagging it appropriately, but PyPI only supports `manylinux1` for linux https://packaging.python.org/guides/distributing-packages-using-setuptools/#platform-wheels so there are no other tags we can use. They are working on adding PyPI support for `manylinux2010` https://github.com/pypa/manylinux/issues/179, but it is not avail

[2019-07-26 22:03] ChaiBapchya commented on #15603
#15661
Failed 20 h ago (PR to skip it was merged later.)
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-15661/1/pipeline

[2019-07-26 22:07] sandeep-krishnamurthy commented on #15636
cc: @ChaiBapchya

[2019-07-26 22:14] ChaiBapchya commented on #15603
#15522
Same as above (noting just for reference)
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-15522/11/pipeline/

[2019-07-26 22:31] abhinavs95 commented on #14838
Hi @ptrendx did you get a chance to look into this?

[2019-07-26 23:32] Zha0q1 opened #15670 "Custom Operator Seg Fault"
After this PR: https://github.com/apache/incubator-mxnet/pull/15518, custom operators will seg fault in symbolic mode.
I have created a script to reproduce the issue. If we set `export MXNET_SUBGRAPH_BACKEND=NONE`, then the script will run ok.

https://gist.github.com/Zha0q1/b89675763f49a63064ab1a37ea0174f2

I built from source (lattest) and ran the script on Deep Learning Base AMI (Ubuntu) Versio

[2019-07-26 23:36] larroy commented on #15200
I think the problem is in sidebar.js  that component is loaded dynamically in JS, has to be debugged. Also layout.html is somehow missing but not sure is related.

[2019-07-26 23:37] Zha0q1 commented on #15670
@PatricZhao @ZhennanQin

[2019-07-26 23:38] Zha0q1 commented on #15670
@mxnet-label-bot add [Bug]

[2019-07-27 01:11] larroy commented on #15200
I think the problem is in the generated html,is missing the element ul class "current" so the selector gets an empty text. Looks like doxygen problem.

[2019-07-27 01:24] ZhennanQin commented on #15670
@Zha0q1 Thanks for reporting this. PR https://github.com/apache/incubator-mxnet/pull/15671 is created to fix this, your provided case can pass now. Please have a try for your real case to see if it works.

[2019-07-27 01:26] larroy commented on #15200
It's quite puzzling, I have look at many places, compared with 1.4.1 and don't find the root cause.

[2019-07-27 02:10] ChaiBapchya commented on #15200
Yup. Went through the steps you mentioned, (breakpoints, comparison with previous version, debug)
But missing the root cause..

[2019-07-27 08:14] ngunauj commented on #15656
ok i solve it by conv2Dtranspose

[2019-07-27 08:26] YouhuiBai opened #15674 "Straggler in latest mxnet when training with distributed parameter server"
## Description
Hi, I found that there is a strange straggler in current newest mxnet when training CNN using distributed parameter server architecture (BSP model) and GPU, it is a special worker whose `rank == 0`. I think it is a bug of mxnet , because I deployed mxnet in hemogeneous environment means that every participated machine has the same hardware and software environment as follows, and th

[2019-07-27 08:28] YouhuiBai commented on #15674
The reason for the straggler is the reutilization of pageable memory.

There is an unorder map int to NDArray comm_buf_ (class KVStoreDist, in kvstore_dist.h), if the compression isn't active, this buffer store the data in pull and push, namely, push pull will share the buffer. When start the distributed kvstore, the first worker whose rank number is zero will push all keys of the model to server(

[2019-07-27 09:46] marcoabreu commented on #15669
We only support cent os 7

[2019-07-27 11:20] ThomasSELECK opened #15675 "Feature request: ReplicationPadding Layer for Gluon"
Hello everyone,

I'm looking for a ReplicationPadding Layer in Gluon, as described [here](https://discuss.mxnet.io/t/replication-padding-layer-in-gluon/4480).

This feature is really useful for Computer Vision related tasks.

Do you think this feature can be implemented in Gluon?

[2019-07-27 13:05] larry77 commented on #15649
Any reaction on this? I suspect it must be something really minor, i.e. adjusting a path, but I need some help.

[2019-07-27 14:45] wuxun-zhang commented on #15659
@matteosal Thanks for reporting this issue. Seems this is not a computational error. I have looked into the `dropout` code, and found that the output `mask` is forced to be calculated and stored with `int*` type instead of original `DType*` or `float*` type. So, when you tried to access the value of `mask`, the wrong answer `1.e-45` will be printed.  Refer to [forward pass](https://github.com/apac

[2019-07-27 16:07] braindotai commented on #15655
Data loaders are different from Data iterators.
Data iterators first load all the data in to the memory before iterating it, while data loaders load data into memory as they iterate the data, hence they are slower than data iterators.

__So why we use data loaders if data iterators are faster?__
Some times when we deal with massive datasets that can't be loaded into memory, so for these data sets

[2019-07-27 17:25] Neutron3529 commented on #15655
Maybe you are right.
BUT... Did you test how slow the DataLoader could be?
It tooks 18s to finish a loop
[code]
It took 18s for me to finish the final loop. (with both mxnet-cu100mkl and mxnet-mkl tested)
It is not the data loader **slower** than data iter

[2019-07-27 18:17] zhreshold commented on #15655
@Neutron3529

Unfortunately for DataLoader, it has to allocate additional memory as you iterate through the dataset, and it will involve mx.nd.stack operator to batch images, which means mxnet engine will take control. In comparison, NDArrayIter or pure numpy array iteration won't trigger additional overheads.

This problem is rather visible to small workloads, i.e., for MNIST. However, for large

[2019-07-27 20:05] Neutron3529 commented on #15655
Thanks for your reply.

Maybe I should choose Linux rather than windows since windows has no `fork` and it will take even longer time to execute the benchmark..
[code]
I close this issue since with small dataset, I could store it in my GPU directly and my GPU could not support a larger dataset since it is quite slow..

Anyway, I hope I could find a faster dataloader in the future.

BTW, I find it

[2019-07-27 20:05] #15655 closed

[2019-07-27 22:38] zhreshold commented on #15655
The next gen dataloader is under discussion so yes it will get faster in the future.

To reduce the size of libmxnet.dll you can specify which arch and build from source on your desktop.  The libmxnet.dll on windows has trade-offs choosing relocatable archs and to be honest I am not familiar with that.

[2019-07-28 01:43] szha commented on #5868
@TangDL would you mind creating a new issue for the problem? We will need some additional information from you to best help. You will be able to provide the information by filling out the issue template.

[2019-07-28 02:33] #13998 closed

[2019-07-28 04:30] #15636 closed

[2019-07-28 04:34] #15670 closed

[2019-07-28 04:34] pengzhao-intel commented on #15670
@Zha0q1 please help double-check if the bug is fixed.

[2019-07-28 04:35] Zha0q1 commented on #15670
@pengzhao-intel  Thanks! I will l check and get back to this issue

[2019-07-28 04:37] pengzhao-intel commented on #15613
It's great to lead the release. @TaoLv @juliusshufan will be working on this.

[2019-07-28 04:51] pengzhao-intel commented on #15635
@TaoLv take a look for this?

[2019-07-28 04:55] pengzhao-intel commented on #15542
We will update MKL-DNN 1.0 in the next release and no MKLML is needed again.

[2019-07-28 08:00] #15624 closed

[2019-07-28 08:35] Neutron3529 commented on #15655
@zhreshold
I find the bottleneck:
[code]
`.transform_first` spends so much time than it is expect.
Change the time to execute `data_xform` (e.g., in a batch) could help improve the performance

[2019-07-28 15:16] TaoLv commented on #15635
I cannot reproduce this issue with the recent 1.5.0 release but with the 1.4.0 release I can get the exact same error. A similar issue was fixed in https://github.com/apache/incubator-mxnet/pull/15088 and the fix is already merged and released in 1.5.0.

@TriLoo Can you double check for the MXNet version you used?

[2019-07-28 17:05] joyofdata opened #15681 "ImportError: cannot import name 'np'"
## Description

I installed mxnet with `sudo pip3 install mxnet` but I cannot import `np` or `npx` from `mxnet`. Importing `mxnet` itself works.

## Environment info (Required)

[code]

## Error Message:
[code]

## Minimum reproducible example
`from mxnet import np`

[2019-07-28 18:41] AgatheBauer opened #15682 "MXnet suddenly can't connect with CUDA anymore in R"
I'm using MXnet v1.4 in R3.5.3 with CUDA v9.0 and cudnn v7

I had everything working, but suddenly when I'm calling

`library('mxnet')`

I'm getting this popup error message:

<img width="326" alt="MXNet problem" src="https://user-images.githubusercontent.com/11364795/62011355-c07aab00-b177-11e9-96cb-49be5039ae9b.PNG">

I swear I didn't touch anything. I tried to fix the issue by reinstalling CUDA

[2019-07-28 23:29] Zha0q1 commented on #15670
@pengzhao-intel @ZhennanQin My use case works now. Thanks!

[2019-07-29 00:57] zixuanweeei commented on #15603
@ChaiBapchya Thanks for reporting this issue. #15661 and #15522 failed before #15631 was merged, right? Let's see whether #15631 works.

[2019-07-29 01:26] wkcn commented on #15681
The numpy branch has not been merged into the master branch yet.
You can install MXNet with numpy api in `http://numpy.mxnet.io/`

[2019-07-29 05:09] mycpuorg opened #15684 "mxnet nd array shape modified with benchmark ??"
## Description
mxnet + pytest benchmark introducing errors in nd array shapes?

## Environment info (Required)
EC2 instance for Ubuntu MXNet AMI
[code]

Package used (Python/R/Scala/Julia):
I'm using Python

## Error Message:

I'm trying to run pytest benchmark on an application that uses mxnet backend.
I'm running the application: https://github.com/apache/incubator-mxnet/blob/master/example/reco

[2019-07-29 08:07] hdmjdp opened #15685 "about hybrid_forward"
class ...(nn.HybridBlock):
      with self.name_scope():  # 3*3 5*5 7*7
            self.weight_dw3 = self.params.get('weight_dw3',
                                               shape=(self.num_input // 3, 1, 3),
                                               init=mx.init.Xavier(),
                                               dtype=self.dtype,
                                               allo

[2019-07-29 09:10] #15685 closed

[2019-07-29 12:40] TriLoo commented on #15635
@TaoLv
Sure, my mxnet version  is exactly mxnet 1.15.0. But I found that my source code's commit hash is : `5fc4fc53df74f276aafa51208142e657e9cfe42d`. I downloaded the latest code and compiling it now.

[2019-07-29 15:40] TaoLv commented on #15635
The version on master branch was changed to 1.5.0 right after the 1.4.0 was released. But the formal 1.5.0 was just released last week.

[2019-07-29 16:03] TriLoo commented on #15635
@TaoLv
Ok, I'll use the latest commit. Thanks for your reply ~

[2019-07-29 16:10] #15635 closed

[2019-07-29 18:12] zachgk commented on #15669
@marcoabreu I don't think I described the issue well. Releases to pip that are tagged `manylinux1` are supposed to follow the standard described in [PEP 513](https://www.python.org/dev/peps/pep-0513/) which requires minimal dependencies and supporting CentOS 5. Unfortunately, there is no other linux tag available besides `manylinux1` if we want to release for linux with PyPI. So, we are currently

[2019-07-29 18:18] larroy commented on #15200
We need to bisect, to find out when it was broken. I have a script to do that.

[2019-07-29 18:20] aaronmarkham commented on #15649
R v3.6 isn't supported last I checked: https://github.com/apache/incubator-mxnet/issues/14967
It's mentioned here too https://mxnet.incubator.apache.org/versions/master/install/index.html?platform=Linux&language=R&processor=CPU
Probably be a good idea to mention the version restriction on the page you're referencing... or, even better, we really need to publish mxnet for the latest version of R!

[2019-07-29 18:29] marcoabreu commented on #15669
Oh I understand. Can we add a description or something similar to describe that the published package is not confirming with the standard and the target OS is CentOS 7? At least until the new tags are available?

[2019-07-29 18:43] haojin2 commented on #15681
@joyofdata Were you able to get the numpy-compatible version according to instructions on `http://numpy.mxnet.io/`?

[2019-07-29 18:44] aaronmarkham commented on #15200
@larroy Not sure if it is worth the effort. We're hoping to launch a refactored website soon and we won't be using any of this old js or sphinx theme. But, if it's easy and you want to try... don't let me stop you!

[2019-07-29 21:26] larroy commented on #15200
OK, I have other things to do, I thought this was important for the release.

[2019-07-29 22:01] larroy commented on #15652
What's the question exactly?  The description on the ticket is not clear.

[2019-07-29 22:11] zachgk commented on #15652
When you build with make and want to set it to openblas, do you use `USE_BLAS=open` or `USE_BLAS=openblas`?  https://github.com/apache/incubator-mxnet/blob/master/Makefile#L255 seems to indicate it should be `open` while https://github.com/apache/incubator-mxnet/blob/master/Makefile#L217 seems to indicate `openblas`

[2019-07-29 22:55] anirudh2290 commented on #15486
@liav-teichner Have you tried DataLoaderIter: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/contrib/io.py#L25

[2019-07-29 23:22] ChaiBapchya commented on #15643
Looked at the wrong branch in the doc.
Found here -
http://mxnet.incubator.apache.org/versions/master/api/python/ndarray/ndarray.html#mxnet.ndarray.multi_mp_sgd_mom_update

Important to navigate to the Master branch in the Versions dropdown of the Home page of the website.

[2019-07-29 23:22] #15643 closed

[2019-07-29 23:33] KellenSunderland opened #15690 "Deadlock when using trivial Gluon Dataset"
## Description
I'm not very familiar with Gluon Datasets but I'm seeing a deadlock when using them with multiple workers.  Am I doing something wrong here?  This repro script deadlocks for me in most (but not all) environments.

## Environment info (Required)
Tested with many versions of MXNet, but for example a 1.5 build with CUDA deadlocks for me.

## Minimum reproducible example
[code]

[2019-07-29 23:37] KellenSunderland commented on #15690
@mxnet-label-bot please add label gluon

[2019-07-30 00:10] zachgk commented on #15650
@barumrho 1.5.0 is now released on Maven central

[2019-07-30 00:39] larroy commented on #15652
Yes, this seems to be wrong.

[2019-07-30 00:54] piyushghai commented on #15690
I found that using ```thread_pool=True``` seems to alleviate the problem when num_workers are set to > 0.
eg :
```train_loader = mx.gluon.data.DataLoader(dataset, batch_size=64, num_workers=2, thread_pool=True) ``` did not hang for me.

[2019-07-30 02:01] larroy commented on #15652
@mxnet-label-bot add [Bug]

[2019-07-30 04:33] #15650 closed

[2019-07-30 04:50] #15652 closed

[2019-07-30 05:33] larroy commented on #11865
Unfortunately this is how it's implemented. Why do you want to attach grad to output again?

[2019-07-30 08:37] lxpwj opened #15701 "Quantization int8 bit performance drop too much"
I am following the (https://github.com/apache/incubator-mxnet/tree/master/example/quantization )

my Mxnet version is 1.5.0

the action i have done is
python imagenet_gen_qsym_mkldnn.py --model=imagenet1k-resnet-152 --num-calib-batches=5 --calib-mode=entropy

python imagenet_inference.py --symbol-file=./model/imagenet1k-resnet-152-quantized-5batches-entropy-symbol.json --param-file=./model/imagene

[2019-07-30 11:46] evi-Genius commented on #13512
hi, I also meet this problem. Do you have sovled this problem?

[2019-07-30 13:08] leezu opened #15703 "topk regression in v1.5"
## Description
https://github.com/dmlc/gluon-nlp/blob/v0.7.1/scripts/word_embeddings/evaluate_pretrained.py stopped working with MXNet v1.5 due to out of memory errors. While the script runs fine on 16GB GPU memory (p3.2xlarge) with MXNet v1.4 it [runs out of GPU memory even with 32GPU memory](http://ci.mxnet.io/blue/rest/organizations/jenkins/pipelines/GluonNLP-py3-gpu-integration/branches/PR-842

[2019-07-30 13:47] boniek83 commented on #6257
Any news on this? It has been over 2 years already...

[2019-07-30 15:53] leezu opened #15705 "Regression in nightly: TypeError: squeeze() missing 1 required positional argument: 'axis'"
## Description
squeeze() stopped working recently.

http://ci.mxnet.io/blue/rest/organizations/jenkins/pipelines/GluonNLP-py3-master-gpu-integration/branches/PR-842/runs/13/nodes/82/steps/126/log/?start=0

[code]

Will add more info shortly

[2019-07-30 16:04] leezu commented on #15705
@eric-haibin-lin pointed out https://github.com/apache/incubator-mxnet/pull/14053 is likely at fault
CC: @szha

[2019-07-30 18:18] szha commented on #15705
Yes, it was the cause as in symbol the default value is missing for the axis.

[2019-07-30 18:18] szha commented on #15705
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/symbol/symbol.py#L2542

[2019-07-30 20:10] vrakesh commented on #15684
@mycpuorg thanks for posting the issue, could you elaborate more on the errors being reported, I do not see a trace in the original post
@mxnet-label-bot add [Pending Requester Info]

[2019-07-30 20:11] vrakesh commented on #15701
@lxpwj Thans for posting this , issue we will look into this

@mxnet-label-bot  add [Performance]

[2019-07-30 21:26] zhanghang1989 commented on #15629
Reopen it.  I found a consistent setting to reproduce the error:
[code]
The deep learning AMI using anaconda 3.6.5 does not have this problem.

[2019-07-30 21:28] piyushghai commented on #15629
@zhanghang1989 Could this be related to : https://github.com/apache/incubator-mxnet/issues/15690

[2019-07-30 21:32] zhanghang1989 commented on #15629
Thanks @piyushghai
I think this issue is independent with the other. My error only happens when starting a process.

[2019-07-30 23:44] vrakesh commented on #15703
@leezu Thank you for reporting this
@mxnet-label-bot add [Performance]

[2019-07-30 23:46] vrakesh commented on #15705
@mxnet-label-bot add [Bug]

[2019-07-30 23:50] #14721 closed

[2019-07-30 23:51] lanking520 commented on #13751
@miteshyh Close this issue for inactivity. Please feel free to reopen if the problem persist

[2019-07-30 23:51] #13751 closed

[2019-07-30 23:51] lanking520 commented on #15334
@kalpitdixit Close this issue due to the inactivity. Please feel free to reopen if you could provide more information

[2019-07-30 23:51] #15334 closed

[2019-07-30 23:53] vrakesh commented on #4887
@jiajinyu bump any update on PR for the fix?

[2019-07-31 00:16] PatriciaXiao commented on #15629
In addition to what is discussed above: it doesn't matter if it is an EC2 P3.16 or P3.2.

In fact the same thing happened to me on P3.2 after I tried to upgrade Python to 3.7 using anaconda. Latter on I tried get rid of these bugs by using Python 3.6 again but it seems that these issues remain foreverly here from now on.

So frustrating:

`
Segmentation fault: 11

Stack trace:
  [bt] (0) /home/ubu

[2019-07-31 00:19] ZhennanQin commented on #15701
@lxpwj Thanks for reporting this. May I know your CPU type first? Because different generation will provide slight different accuracy due to different instructions used.

Cwiki results are collected based on proposal which targeting MXNet v1.4 release, and it is not the same situation as v1.5. v1.5 added more quantized operators, which will help to accelerate the quantized model, and on the other

[2019-07-31 01:10] lxpwj commented on #15701
@ZhennanQin Thank you for prompt update
here is my PC info
![image](https://user-images.githubusercontent.com/5241532/62176070-b1138180-b372-11e9-954d-bcb77dc5545a.png)

i will try resnet50_v1, inceptionv3 or mobilenetv2_1.0 at V1.5.0 firstly and update you the results.
Basically, i wan to make sure entropy loss threshold has higher performance than min/max threshold.

[2019-07-31 01:27] larroy commented on #14979
With a CPU version I get the following, no crash:

[code]

[2019-07-31 03:34] miteshyh commented on #13751
Yes we can close this, I stopped doing it that way. Will reopen in future if still an issue.Thanks.

[2019-07-31 06:13] TaoLv opened #15709 "Transpose does not support inplace"
## Description

Crash with below code snippet:
[code]

Error message:
[code]

## Environment info (Required)

Package used (Python/R/Scala/Julia):
Python

Reproduce:
pip install mxnet and run the demo case above.

[2019-07-31 07:23] lxpwj commented on #15701
some other models on Mx1.5.0

my observation:
1. mobilenetv2 and inceptionv3, the int8 model has desired performance. for inception v3, int8 is even better than floating version.
1. entropy loss doesnot always perform better than min/max, for example, inceptionv3 and resnet-152.

below are my test scripts and results

python imagenet_gen_qsym_mkldnn.py --model=mobilenetv2_1.0 --num-calib-batches=5

[2019-07-31 07:41] ZhennanQin commented on #15701
@lxpwj Thanks for providing the detailed result. I7-4790k only supports AVX2, while not for AVX-512. So the speed up from quantization may not as outstanding as Cascade Lake CPU.

The accuracy looks good to me. We also observed that entropy isn't always better than naive min/max. It depends on topology and calibration dataset.

[2019-07-31 07:47] ZhennanQin commented on #15701
Worth to mention is, for best accuracy after quantization, it's better to adopt Cascade Lake CPU because newly added VNNI instructions can avoid overflow in int8 convolution, thus the accuracy will be sightly better for most topology, especially for entropy loss, because entropy loss will produce more large data and cause more accumulating overflow for some topologies.

[2019-07-31 07:56] lxpwj commented on #15701
thanks for sharing.

[2019-07-31 13:53] anotinelg opened #15710 "Inconsistent behaviour of ImageRecordIter depending on encoding format png vs jpeg"
## Description
I was checking behaviour of ImageRecordIter on .rec file I have created myself.
I have seen that depending on how I created .rec the behaviour of ImageRecordIter is different in the way it handles the order of the color channels.

I  create with png format the ImageRecordIter which by default fall back on the opencv encoding function, and thus inherits the default channel format whi

[2019-07-31 13:54] Rainweic opened #15711 "Failed to allocate CPU Memory"
Train [yolov3](https://gluon-cv.mxnet.io/_downloads/db8ed9345a35aa8e93b30db0ea352bc8/train_yolo3.py) meet the error:
[code]

The train code:
[code]

and the code of VOCDetection：
[code]

[2019-07-31 14:54] cyrusbehr opened #15712 "Build MXNET to use NaiveEngine by default"
How can I build mxnet to use `NaiveEngine` by default?

[2019-07-31 15:02] Rainweic commented on #15711
It seem work:
--num-workers 0
in ubuntu

[2019-07-31 15:05] #15711 closed

[2019-07-31 17:08] roywei commented on #15613
nightly test failure need to be fixed:
https://github.com/apache/incubator-mxnet/issues/15374

[2019-07-31 18:26] #15705 closed

[2019-07-31 21:27] vrakesh commented on #15709
@mxnet-label-bot add [Feature request]

[2019-07-31 21:30] vrakesh commented on #15710
@anotinelg Thank you for query, a member of the community will get back to you on this
@mxnet-label-bot  add [Question]

[2019-07-31 22:38] vrakesh commented on #15712
@mxnet-label-bot add [Question]

[2019-07-31 23:11] piyushghai commented on #13909
@Ishitori The related PR for this has been merged. Can this issue be closed now if it's fixed for you?

[2019-07-31 23:56] sandeep-krishnamurthy commented on #15613
https://github.com/apache/incubator-mxnet/pull/15672

[2019-08-01 00:59] larroy commented on #10856
This breaks ipython, can't execute external commands anymore:
[code]

[2019-08-01 01:01] larroy commented on #14979
I tried in GPU version, also no crash:

[code]

Revision 9d7fc7cbee09de2694022995d0601cb4316e4988

Can't reproduce this.

[2019-08-01 01:12] sandeep-krishnamurthy commented on #15589
It would be nice to add support for default checkpointing in Estimator API.
Also, can we plan to graduate Estimator API in MXNet 1.6? This is super useful API for MXNet users.

@roywei - Any comments?

[2019-08-01 01:14] ZhennanQin commented on #15712
@cyrusbehr Yes if you can build from source. Change below line to the engine you want:
https://github.com/apache/incubator-mxnet/blob/9d7fc7cbee09de2694022995d0601cb4316e4988/src/engine/engine.cc#L35

[2019-08-01 01:33] larroy commented on #14979
I could reproduce with binary distribution cu101mkl
[code]

[2019-08-01 01:38] larroy commented on #14979
Reproduce with a debug build
[code]

Flags:

[code]

[2019-08-01 01:45] larroy commented on #14618
@KellenSunderland

[2019-08-01 02:26] fierceX opened #15716 "Increase amp support for Bi-lstm and Concat operators in gluon"
Now amp does not support the bi-lstm and concat operators in gluon. I am getting the following error in converting a network with bi-lstm:
[code]
Hardware and version information:
[code]
The mxnet version is:`mxnet-cu100==1.6.0b20190730`，GPU is NVIDIA V100 16G.

[2019-08-01 05:08] Jar7 opened #15717 "convert mxnet to pytorch: different inference result from batchnorm layer"
Hello, I converted a pretrained model from mxnet to pytorch. And I checked all the argument values, they are the same. I found the different infer results come from batchnorm layer.
Here is the test code, the output from 2 layers are totally different. Can any one suggest what the problem could be.
[code]

assert operation throws no error.``

[2019-08-01 05:16] hcho3 commented on #15575
Filed a PR: dmlc/dmlc-core#551. Once that's merged, we can upgrade dmlc-core submodule inside MXNet.

[2019-08-01 06:28] lly8752 opened #15718 "set lr_mult, wd_mult of var , it didn't work"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-08-01 07:56] Jar7 commented on #15717
fixed. the "eps" in pytorch should be the same as in mxnet.

[2019-08-01 07:56] #15717 closed

[2019-08-01 09:57] AgatheBauer commented on #15682
Must be a problem outside of MXnet. Tensorflow doesn't work with GPU acceleration either.

[2019-08-01 09:57] #15682 closed

[2019-08-01 16:05] HahTK opened #15719 "Simple Bind does not use shapes in arg_params and aux_params to help infer shape"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-08-01 18:22] cyrusbehr commented on #15712
Excellent thank you

[2019-08-01 18:22] #15712 closed

[2019-08-01 18:29] kshitij12345 commented on #15710
Hi,

I have tried the code with slight refactor.
[code]

Output that I get is
[code]

Note that the zero's are probably due to the `.jpeg` being lossy format.
To verify that
[code]
which outputs
[code]

So I don't think there is a problem with order.

Also bonus for reading till here.
The actual `pack_img` code that encodes doesn't play with the channel order.
https://github.com/apache/incubator-m

[2019-08-01 18:30] larroy commented on #14979
Can't reproduce with Debug builds.

[2019-08-01 18:35] larroy commented on #10856
Using the code provided in this example, the code in the train process is never executed:

https://github.com/apache/incubator-mxnet/issues/14979