[2018-11-02 21:52] frankfliu commented on #13096
@mxnet-label-bot [Build, Scala, MKLDNN]

[2018-11-02 21:54] kohr-h commented on #13096
Actually, while writing up this report, I kept fiddling around and managed to solve the problem. At least temporarily for myself. Here's what works:

1. Make the `Makefile` use environment `LDFLAGS`:
[code]
   I assume that the original version was intentional, maybe to be able to start from scratch. So the above patch may not be acceptable.
2. Set `LDFLAGS="-L$PWD/lib -lmkldnn" in the environment

[2018-11-02 22:21] leleamol commented on #12837
@inglada
I would like to know how do you plan to use C++ API, whether in training workflow or inference workflow.

[2018-11-02 23:06] NRauschmayr commented on #13090
As documented here: https://mxnet.incubator.apache.org/_modules/mxnet/image/image.html mx.image.imread uses OpenCV (not the CV2 Python library). MXNet must have been built with USE_OPENCV=1 for `imdecode` to work.

[2018-11-02 23:22] anirudhacharya opened #13098 "size_array operator returns wrong results on MacOS"
## Description
`size_array` operator returns incorrect results on MacOS but works correctly on Linux systems

Package used (Python/R/Scala/Julia):
I'm using **Python**

Compiler (gcc/clang/mingw/visual studio):
clang

MXNet commit hash:
50f43f05ab61fe9e19698bb18dc34858a240b263

Build config:
make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas

## Minimum reproducible example
[code]

## Steps to reprod

[2018-11-03 00:00] zheng-da commented on #13036
@apeforest I just fixed the operators I use in my model. Could you help add test and fix other operators?

[2018-11-03 00:02] leleamol commented on #12966
@nikudyshko The following lines in symbol.hpp are causing this behavior.
https://github.com/apache/incubator-mxnet/blob/e33da520641489363a710752e4fa7245a84aaa68/cpp-package/include/mxnet-cpp/symbol.hpp#L277

If the names of "weight" and "bias" variables are not 3 or 4 character long, then gradients for these variables are not upgraded. Hence the training fails. We need to fix this issue.

However,

[2018-11-03 00:12] lanking520 commented on #13063
@Wei-1 Got PR merged. Could you please close the issue?

[2018-11-03 00:19] aaronmarkham commented on #13090
Not sure what happened to Nathalie's comment here, but she points out [this file](https://mxnet.incubator.apache.org/_modules/mxnet/image/image.html). There are a lot of functions coming from OpenCV, and this file has doc strings that could show up in the docs, but they're not at the moment.

[2018-11-03 00:52] #13063 closed

[2018-11-03 00:52] wkcn commented on #13098
In [src/operator/tensor/elemwise_unary_op_basic.cc#L546](https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/elemwise_unary_op_basic.cc#L546),
[code]

In `3rdparty/dmlc-core/include/dmlc/data.h`,
[code]

It's confusing that `index_t` may not the same as `int64_t`

[2018-11-03 05:33] leezu commented on #13076
As this is undocumented it should be considered a bug. `mx.gluon.data.ArrayDataset` seems to be a general purpose tool for representing data. The case of single dimensional arrays can easily arise when representing sparse data in COO format.

I don't see why ArrayDataset should contain an obscure optimization to speed up metrics when the user wrongly tries loading data to GPU? Is there not some mo

[2018-11-03 07:36] leezu opened #13100 "Hybridization generates superfluous backward ops that may induce storage fallbacks"
## Description
Hybridizing creates superfluous backward ops in some conditions. This is bad, as these ops may consequently trigger a storage fallback. In the example below, no gradient for `csr` is requested. Still `operator = _backward_square` is generated and consequently a storage fallback occurs.
Note that this example works without storage fallback in the imperative and symbolic API (for impe

[2018-11-03 07:42] leezu commented on #13100
Also note that adding `F.dot(F.BlockGrad(csr.square()), rsp)` will avoid the storage fallback on CPU.
On GPU, adding F.BlockGrad will induce the following error message:

[code]

[2018-11-03 10:38] wongjoel commented on #13051
(Pull Request merged)

[2018-11-03 10:38] #13051 closed

[2018-11-03 11:06] kohr-h commented on #13096
Sure, here's the steps (I'm on Ubuntu Linux):

0. Install the prerequisites
1. Build the core library:
[code]
   After that we have the following contents in the `lib/` directory:
[code]
2. Run `make scalapkg`
   This will trigger the original error.

**Note:** I saw that the [documentation on building from source](https://mxnet.apache.org/install/ubuntu_setup.html#manual-mxnet-installation) recom

[2018-11-03 14:17] wkcn commented on #13036
In my test, it seem that the performances of `+/-` between `int32_t` and `int64_t` are the same.

CPU: Intel i7-7500U
Test Code: https://github.com/wkcn/c_performance
[code]

[2018-11-03 14:53] kohr-h commented on #13096
I forgot one important thing: `-lmkldnn` only works when you symlink `libmkldnn.so.0` to `libmkldnn.so`!

[2018-11-03 17:00] zheng-da commented on #13036
integer operations are cheaper. even if int64 is a little more expensive, it's hard to believe that it can affect the overall performance by much.

[2018-11-03 18:08] apeforest commented on #13036
@wkcn can you share your perf test script. Even though there is not much difference, it would be great to document it with results. Thanks!

[2018-11-03 19:28] nikudyshko commented on #12966
Thank you for your explanations. Not sure if this issue should be closed, so I leave it up to moderators.

[2018-11-03 22:01] frankfliu commented on #13100
@mxnet-label-bot [Good first issue, operator]

[2018-11-03 22:58] KellenSunderland opened #13103 "Flaky test test_gluon_rnn.test_layer_bidirectional"
Example failure: https://travis-ci.org/apache/incubator-mxnet/builds/450064964?utm_source=github_status&utm_medium=notification

======================================================================
FAIL: test_gluon_rnn.test_layer_bidirectional
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/local/Cellar/numpy/1.14.5/libexec/n

[2018-11-03 23:00] KellenSunderland commented on #13103
Another failure here: https://travis-ci.org/apache/incubator-mxnet/builds/449880008?utm_source=github_status&utm_medium=notification

[2018-11-03 23:15] KellenSunderland opened #13104 "Dockerhub causing timeouts in CI"
I've seen several reports of timeouts in the CI recently and believe it's Dockerhub related.  All of the reports have a docker pull that initially fails and then completes after a lengthy retry:

Example:
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/master/runs/1862/nodes/1013/log/?start=0
http://jenkins.mxnet-ci.amazon-ml.com/blue/organi

[2018-11-04 01:19] ddavydenko commented on #13080
@zachgk , please close the issue as it seems that PR has been merged. Unless there is something else to do here to address it?

[2018-11-04 01:41] pengzhao-intel commented on #13036
try the gemm with int 32 and int
64 and see how much peak GFLOPS it can achieve

[2018-11-04 05:38] lizhen2017 opened #13106 "mx.contrib.symbol.DeformableConvolution"
Will the gluon api of DeformableConvolution be implemented? How to use it in dynamic graph? Thanks for your help.

[2018-11-04 06:39] #13080 closed

[2018-11-04 09:18] inglada commented on #12837
@leleamol I would like to use it for all steps of the ML process: building the model architecture (included new layers that I would implement), training and deployment over large amounts of data on a HPC cluster.

mxnet would be a dependency of http://www.orfeo-toolbox.org which is CMake based and has a "superbuild" process to build all its dependencies (boost, itk, gdal, opencv, libsvm, shark-ml,

[2018-11-04 11:36] pengzhao-intel commented on #13103
Not equal to tolerance rtol=1e-07, atol=0

Do you think the relu is too strict?

[2018-11-04 11:42] pengzhao-intel commented on #13096
I stuck at connecting the POM network. Maybe caused by our internal proxy.
Will check with our admin ...

[2018-11-04 16:28] frankfliu commented on #13103
@mxnet-label-bot [Gluon, Flaky, Test]

[2018-11-04 16:30] frankfliu commented on #13104
@mxnet-label-bot [CI, build]

[2018-11-04 17:07] kedarbellare commented on #13089
@gigasquid : I can work on this if no one else has signed up. Note that this is the first time I'm contributing to mxnet so I may need some handholding :smiley:

[2018-11-04 17:30] #13044 closed

[2018-11-04 18:02] gigasquid commented on #13089
@kedarbellare awesome 💯 Happy to help out. Feel free to reach out to me on slack or Github as needed 😸

[2018-11-04 20:52] gigasquid opened #13108 "Confusing Message when Scala/Clojure package extracts the native library from jar"
The message when the Scala package extracts the native library from the jar is not very clear and causing some confusion with users. This issue is to explore how/if we can improve it.

[code]

The message comes from where the native library is being extracted out of the jar, copies it to a temp file, and then loads it into memory from there https://github.com/apache/incubator-mxnet/blob/master/sca

[2018-11-04 20:54] gigasquid commented on #13108
Pinging @nswamy @yzhliu @lanking520

[2018-11-04 20:55] gigasquid commented on #12839
I think this issue can be closed now that the PR was merged - Thanks @kohr-h

[2018-11-04 20:56] #12839 closed

[2018-11-05 03:58] lanking520 commented on #13108
Thanks for raising this issue. I also checked about this before, looks like we need to fix some paths issues.

[2018-11-05 04:02] lanking520 commented on #13096
@pengzhao-intel could you please provide more information about the system version you are using as well as Maven version? I never saw this issue before... I ran all of the Scala projects on OSX/Ubuntu 16.04.

[2018-11-05 04:46] eric-haibin-lin commented on #13100
I don't think it's a trivial task for a beginner, as it involves sparse ops and hybridization. Removing "good first issue" label.

[2018-11-05 06:56] lupesko commented on #12814
@johnbroughton2017 as @marcoabreu pointed above, MXNet does have a C++ API you can use.
Feel free to check it out and close this issue if you have no more questions. Thanks!

[2018-11-05 07:02] lupesko commented on #12713
@sandeep-krishnamurthy is this issue fixed with #12786 ?
If so - please close the issue or comment.

[2018-11-05 07:03] lupesko commented on #12598
@mxnet-label-bot [TensorRT]

[2018-11-05 07:04] sandeep-krishnamurthy commented on #12713
This is fixed.

This needs to be fixed.

[2018-11-05 07:15] lupesko commented on #12807
@Mut1nyJD feel free to close the issue, unless you have further questions. Thanks!

[2018-11-05 07:17] lupesko commented on #13106
@lizhen2017 you can see [here](https://mxnet.incubator.apache.org/api/python/gluon/gluon.html?highlight=symbolbl#mxnet.gluon.SymbolBlock) how you can wrap MXNet symbol in a Gluon SymbolBlock. As you probably know, DeformableConvolution is available as an MXNet symbol ([here](https://mxnet.incubator.apache.org/api/python/symbol/contrib.html#mxnet.symbol.contrib.DeformableConvolution)).

Feel free t

[2018-11-05 07:21] asitstands commented on #2811
Now an RBM example is included in MXNet. https://github.com/apache/incubator-mxnet/tree/master/example/restricted-boltzmann-machine

[2018-11-05 08:03] xueyoo opened #13110 "out_data paramter is wrong"
I create one operator and it similar with  incubator-mxnet/src/operator/cudnn_bilinear_sampler-inl.h
and forward function appear one error at out_data.get function.
the error info is: TBlob.get: device type do not match specified type

add some debug information for out_data object, and found both dev_mask and  dev_id in out_data  are zero
this is strange for dev_mask, it should be 1 or 2, but ope

[2018-11-05 08:15] chenyujing1234 opened #13111 "The same code in MXNet 1.2.0 and MXNet 1.3.0, but the reasoning results are different"
When using mtcnn model for face detection, it is found that the reasoning result of MXNet 1.2.0 is consistent with that of TensorFlow, which is correct, but
The same code in MXNet 1.2.0 and MXNet 1.3.0 inference results are different, but the comparison into the inference data is the same.
Code Description: I use c++ API to recommend the main function (c_predict_api.h):
MXPredCreate > MXPredSetInp

[2018-11-05 08:16] chenyujing1234 commented on #13111
1) my judgement:
Comparing MXNet 1.2.0 with MXNet 1.3.0, the main change is that editing and bottom optimization are replaced by tvm. I wonder if there is a problem in OP processing at the bottom.
2) look forward to:
Please help the MNXet author to help locate this problem, and so on.

[2018-11-05 11:42] willshion commented on #3205
fukk the same

[2018-11-05 12:20] ZhennanQin commented on #13103
Another failure: https://travis-ci.org/apache/incubator-mxnet/builds/450659185?utm_source=github_status&utm_medium=notification

[2018-11-05 14:15] Chancebair commented on #13104
We have seen some Docker Hub issues recently but they have not reported anything for the time this build was triggered: https://status.docker.com/pages/history/533c6539221ae15e3f000031

[2018-11-05 15:50] KellenSunderland commented on #13104
Yeah I found that strange as well Chance.  I was expecting to see some
outage notices corresponding with these retries to be honest.

On Mon, Nov 5, 2018, 6:16 AM Chance Bair <notifications@github.com wrote:

[2018-11-05 16:55] frankfliu commented on #13110
@mxnet-label-bot [Question, operator]

[2018-11-05 16:59] frankfliu commented on #13111
@mxnet-label-bot [Operator]

[2018-11-05 17:00] NRauschmayr opened #13113 "MXNet TensorRT generates wrong results"
Following up from this thread: https://discuss.mxnet.io/t/mxnet-tensorrt-result-different/2139

I tested it myself and it seems that MXNet TensorRT seems to work fine for VGG16 and other models but not for any of the Resnet models from the Gluon model zoo.

I used the mxnet/tensorrt Docker image.

Here an example to reproduce the problem:

[code]
The TensorRT version either delivers NaN or values

[2018-11-05 17:18] MBocchi opened #13114 "cudaMalloc failed: unknown error with GPU context with MXNet 1.3.0"
Hi,

I am using **Windows 10** with **CUDA 9.0** and **mxnet-cu90 1.3.0**. When I try to load model on CPU context, everything is ok but if i try to load on GPU I have this following error:

`[18:13:17] c:\jenkins\workspace\mxnet-tag\mxnet\src\storage\pooled_storage_manager.h:119: cudaMalloc failed: unknown error`

If I install **mxnet-cu90 1.2.0** It works... Does someone know why it is not worki

[2018-11-05 18:12] frankfliu commented on #13113
@mxnet-label-bot [Gluon, model zoo]

[2018-11-05 18:13] frankfliu commented on #13114
@mxnet-label-bot [Windows, cuda]

[2018-11-05 20:20] sandeep-krishnamurthy commented on #13058
Resolving as it works with latest MXNet.

[2018-11-05 20:20] #13058 closed

[2018-11-05 20:25] dmidge8 opened #13125 "Unsupported GPU: wrong results"
I tried to run the regular Mxnet example, to train on an mnist example.
It did run. But it was training only when running on CPU. On the Nvidia GTX 745, which is unsupported, it was running. But the results where garbage, as if it was unallocated. But switching to a Nvidia GTX 1060, it works again.
I guess that if an exception was thrown, to warn that the GPU doesn't work, would be a better way to

[2018-11-05 21:18] ThomasDelteil opened #13126 "Can't break loop when using > 1 worker with DataLoader"
## Description

When using more than 1 worker with a DataLoader and starting the iteration and breaking the loop straight away, the worker crash and throw an error.

## Environment info (Required)

[code]

## Minimum reproducible example

[code]
[code]

[2018-11-05 21:42] leleamol commented on #13125
@dmidge8 Can you provide us the details such as follows:
1. Which MXNet example was used to do this test?
2. Was the MXNet built from source or installed using pip package?
3. If it was built from source, would you be able to share the flags (such as USE_CUDA, CUDA_PATH, etc) used while building the MXNet.

Let's currently label this issue as GPU. Depending on the example we can further add the la

[2018-11-05 21:55] leleamol commented on #13126
@ThomasDelteil Thanks for submitting this issue. I am labeling this issue so that MXNet Community members can help resolve it.

@mxnet-lebel-bot [Gluon, Data-loading]

[2018-11-05 23:11] KellenSunderland commented on #12598
@lizhen2017 Sorry missed your question.  If you're using the symbol API you can save using https://mxnet.apache.org/api/python/symbol/symbol.html#mxnet.symbol.Symbol.save

[2018-11-05 23:13] dmidge8 commented on #13125
@leleamol
1. Indeed, I was not specific enough on this one. When I meant Mnist, I was automatically thinking about Lenet5. Thus I was using this example:  incubator-mxnet/cpp-package/example/lenet.cpp
2. Well, it was not the python interface that I was using. It was the C++ one. Thus, it was compiled from source.
3. I don't remember all the compilations parameters. But it was using OpenBLAS, with

[2018-11-05 23:18] marcoabreu commented on #13113
@KellenSunderland

[2018-11-05 23:24] ThomasDelteil opened #13127 "example/reinforcement-learning/ddpg is using a deprecated framework RLLAB"
The example depends on RLLAB from openAI which is deprecated.
Opening an issue to track and discuss whether we should update or delete the example.

@anirudhacharya

[2018-11-05 23:56] anirudhacharya commented on #13127
thanks for raising the issue Thomas. This is the example in question - https://github.com/apache/incubator-mxnet/tree/master/example/reinforcement-learning/ddpg

[2018-11-06 00:04] TonyTangYu commented on #13079
@NRauschmayr  Thanks! I found it was fixed by using the absolute path of model.

[2018-11-06 02:34] janelu9 commented on #13072
yes，I find it . thanks

[2018-11-06 02:35] #13072 closed

[2018-11-06 04:08] vishaalkapoor commented on #11120
Notes:
- The address already in use issue is resolved by this https://github.com/apache/incubator-mxnet/pull/12068 merged Aug 10.
- The tutorial tests will be re-enabled in #13099 in review.
Once #13099 is merged this issue can be closed.

[2018-11-06 07:45] intgogo commented on #13125
Same problem in my NVIDIA 960M

Environment:
Mxnet lastest
Windows 10
Cuda 9.2

[2018-11-06 08:18] chenyujing1234 opened #13133 "Manually compile MXNet1.3.0 release code, which is very inefficient after testing."
I compiled the 1.3.0 release code according to the official way.
Code download address: https://github.com/apache/incubator-mxnet/releases/tag/1.3.0
Compile method reference: https://mxnet.incubator.apache.org/install/ubuntu_setup.html
Build MXNet from Source
The compile command is:
Make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1
The compilation

[2018-11-06 10:17] kohr-h opened #13134 "[Python]: Indexing with None and Ellipsis"
The expectation of Python users familiar with NumPy is that, e.g., `array[None, :]` and `array[..., 0]` work, which is not the case currently with `NDArray`.

Both of these would be quite straightforward to add. I could do that, but I just want to make sure that it's not deliberately left out for some reason.

I'm working with a manual build from a91b364c490b163da424a1c2935652ea7b799050.

[2018-11-06 13:25] kohr-h opened #13135 "[Python] CUDNN error from 3D deconvolution"
## Description

When I build a simple net (Gluon interface) that involves a 3D deconvolution, and run it on some sample data, I get an error indicating that CUDNN couldn't find an algorithm.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia): Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): VC++ 14.11

MXNet commit hash: a91

[2018-11-06 13:32] kohr-h commented on #13135
Note: If I replace the last line with `output = output.as_in_context(mx.cpu())`, there's no problem. Likely because `copyto` does not check `_LIB.MXGetLastError()` like `asnumpy` does. The curious thing is that the code blows up at a completely unrelated place to the original error.

[2018-11-06 13:39] kohr-h commented on #13135
Furthermore: If I leave out the last line and do `python -i tmp.py` I observe this:
[code]
So the error has in fact not even occurred before the call to `asnumpy`.

[2018-11-06 13:53] kohr-h commented on #13135
More digging, again from `python -i tmp.py`:
[code]

[2018-11-06 14:09] yajiedesign commented on #13040
@kohr-h yes,https://github.com/apache/incubator-mxnet/pull/13069

[2018-11-06 14:50] kohr-h commented on #13040
Very good :+1:

[2018-11-06 14:51] kohr-h commented on #13040
@yajiedesign  If you like I can leave this issue open and you can close it with the PR.

[2018-11-06 14:53] vuvko commented on #13074
Can confirm this problem on CPU. On GPU everything is fine.
[code]
results in `free(): invalid pointer`. While
[code]
seems to works just fine

[2018-11-06 15:21] marcoabreu opened #13136 "Travis Python CPU tests on Mac are disabled"
Due to low capacity (CPU cores) of Travis, we are running into timeouts if the compile cache is missed. In these cases, the tests take too long to execute and we run into the 50 minute timeout. We already excluded a number of tests, but the situation did not improve.

As a temporary solution, we disable the execution of all tests until the capacity has been increased.

Infra ticket: https://issues

[2018-11-06 15:50] KellenSunderland commented on #13113
Interesting.  Thanks for the report, I'll have to dig in to the issue.

[2018-11-06 17:30] movchan74 opened #13138 "MXNet crashes while trying load ONNX model"
## Description
MXNet crashes when I'm trying load ONNX model.  The model is SE-ResNet50 that was converted from pytorch.

## Environment info (Required)

[code]
Package used (Python/R/Scala/Julia):
I'm using mxnet==1.3.0.post0, pytorch==0.4.0, onnx==1.3.0

## Error Message:

[code]
## Minimum reproducible example
The model as ONNX file: https://drive.google.com/file/d/1M8i8n8hWs6wP8eCERKcc3rORUGHq

[2018-11-06 17:44] harshp8l commented on #13126
@mxnet-label-bot [Gluon, Data-loading]

[2018-11-06 17:56] leleamol commented on #13127
@mxnet-label-bot [RNN, Example]

[2018-11-06 18:13] leleamol commented on #13133
Hello @chenyujing1234  Thank you very much for submitting the issue. I'm labeling it so MXNet community members can help resolve it. In order to help triage the issue further could you provide some information?
1.  Which MXNet released/published version you have used for comparison with built from source library ? There are pip versions such as mxnet-cu90, mxnet-cu90mkl, etc available.
2. The perf

[2018-11-06 18:16] lichen11 opened #13139 "Normalize pixels to [0,1] using im2rec or reassign values to rec files"
I want to normalize the pixel values into [0, 255] without reading the images, normalizing them and re-saving them as jpeg. I used the im2rec API in R and notice there is no value normalization in this API. Then I tried reassign values to the rec files as follows:

    val = mx.io.ImageRecordIter(
            path.imgrec = val_data,
            batch.size  = batch_size,
            data.shape  = d

[2018-11-06 18:36] leleamol commented on #13138
Hi @movchan74 ,
Thank you for submitting the issue! I'm labeling it so MXNet community members can help resolve it.
@sandeep-krishnamurthy @ankkhedia @Roshrini

@mxnet-label-bot [ONNX, Bug]

[2018-11-06 18:40] larroy commented on #10856
This is really problematic, is there a suggestion for anything that we can do to fix this?

[2018-11-06 18:43] larroy commented on #12994
I tried to reproduce in p3.16xlarge but didn't make it to fail: compiled with:

Executed:

nosetests -s --with-timer --with-xunit --xunit-file nosetests_unittest_testdevice.xml --verbose tests/python/gpu/test_device.py 2>&1 | tee unittest_testdevice.log

----------------------------------------------------------------------
XML: /home/piotr/mxnet/nosetests_unittest_testdevice.xml
[success] 100.00%

[2018-11-06 18:58] larroy commented on #12994
Was able to reproduce compiling in release mode:

[code]

[code]

[2018-11-06 19:53] leleamol commented on #13135
@kohr-h
Thank you for submitting the issue! I'm labeling it so MXNet community members can help resolve it.
If you have built from source, can you please share the make file flags that you have used?

Thanks
@mxnet-label-bot [Gluon, CUDA, Windows, Bug]

[2018-11-06 19:57] leleamol commented on #13139
@lichen11
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
 I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
 Thanks!

@mxnet-label-bot [R, Question]

[2018-11-06 19:57] movchan74 commented on #13138
It is worth to mention that model works with mxnet==1.2.1.post1 but only for batch size 1. For batch size, more than one an error is the same.

[2018-11-06 20:01] lichen11 commented on #13139
Hi, I actually also noticed an error in the MXNet R API im2rec. When the original images are actually normalized to [0,1], when using im2rec to pack the images, the pixel values are scaled to [0, 255].

[2018-11-06 20:03] azai91 opened #13141 "MKLDNN softmax outputs NaN in mkldnn 0.14"
## Description
Extremely negative softmax inputs output NaN. This is an error caught detected in MKLDNN already (https://github.com/intel/mkl-dnn/issues/106) with a fix (https://gist.github.com/emfomenk/0386c529c5df21ae308b00d16454c48e) in MKLDNN v0.15+ (we are v0.14).

The fix is either to:
1. patch MKLDNN v0.14 with the earlier fix
2. to upgrade the MKLDNN version in mxnet (https://github.com/ap

[2018-11-06 20:03] azai91 commented on #13141
@nswamy

[2018-11-06 20:18] leleamol commented on #12073
The fix is merged and there is no update from the requester.
Can this issue be closed?

@mxnet-jenkins @marcoabreu

[2018-11-06 20:23] #12073 closed

[2018-11-06 22:35] sandeep-krishnamurthy commented on #12582
Hello @thbupt

I verified that as expected, with trainerG.step(), the Discriminator network (netD) is not updated. Below is the code snippet I used in the training loop under update G network.

[code]

However, please note that you are generating a new fake images here. You are not using fake images generated in Update D network section. So, if you verify netD(fake) before this block, you are actu

[2018-11-06 22:35] #12582 closed

[2018-11-06 23:04] kalyc commented on #10123
Hi @pakmarkthub I used MXNet v1.1.0 on my machine and am unable to reproduce the issue. Could you please verify if the issue is still persisting at your end? I was able to run `train_cifar10.py` file without any issue. I was able to see the validation accuracy on epoch 0 and the program didn't hang.

[2018-11-07 00:41] eric-haibin-lin opened #13146 "Feature request: mx.init.TruncatedNormal"
[Truncated normal initialization](https://www.tensorflow.org/api_docs/python/tf/initializers/truncated_normal ) is used for training the state of the art NLP model [BERT](https://arxiv.org/abs/1810.04805)
It would be great if MXNet can provide official support.

[2018-11-07 01:04] Ishitori opened #13147 "Feature request: Add dtype to gluon.nn.SymbolBlock.imports() to load float16 models"
## Description
Currently, `gluon.nn.SymbolBlock.imports(...)` cannot load a model with parameters if they were saved as float16, because the method implicitly expects `float32`. There is no dtype in the method signature to tell the method to expect `float16`.

I have created a [custom function](https://discuss.mxnet.io/t/import-export-fails-for-float16-net-after-cast/2149/2?u=sergey) to do it, but

[2018-11-07 02:06] ankkhedia commented on #12063
@prathik-naidu I ran the predictions with the mxnet-1.3.0 and see same predictions as mentioned in the example itself. As @sergeykolychev pointed out the predictions get worse with normalisation and maybe the model was trained without normalisation.

[2018-11-07 02:09] chenyujing1234 commented on #13133
1. I  Build In Ubuntu14.04.1 With cuda9.0( No MKL). GPU is GTX 1080
2. I am not sure Is it Debug version,  I Foud the libmxnet.so (readelf -S libmxnet.so), Found there are debug information in the file。 But I am sure  i build it with DEBUG=0

[2018-11-07 02:12] chenyujing1234 commented on #13133
Today I found that tensorRT is not used in compile phase.  Does it have any effect?

[2018-11-07 02:16] #13106 closed

[2018-11-07 05:40] pengzhao-intel commented on #13141
@azai91 could you help to add a testcase for this issue after the #12953 is merged?

[2018-11-07 06:42] hariag commented on #13113
this is due to batch normalization layer.

[2018-11-07 09:29] javi-clear-image-ai commented on #5228
I have the same issue...
**TRAIN-VALIDATION:**
json_stats: {**"accuracy_cls": 0.977055**, "eta": "0:00:00", "iter": 89999, **"loss": 0.097330**, "loss_bbox": 0.015025, "loss_cls": 0.075462, "loss_rpn_bbox_fpn2": 0.000000, "loss_rpn_bbox_fpn3": 0.000000, "loss_rpn_bbox_fpn4": 0.000153, "loss_rpn_bbox_fpn5": 0.000106, "loss_rpn_bbox_fpn6": 0.000000, "loss_rpn_cls_fpn2": 0.000099, "loss_rpn_cls_fpn3"

[2018-11-07 15:46] ShownX commented on #8623
how to set different learning rate in Gluon?

[2018-11-07 16:51] NRauschmayr commented on #13113
Can you give some more details why this is due to batch normalization? I understand that TensorRT makes optimization that can impact floating point precision. But it should not change the final output result.

[2018-11-07 17:21] eric-haibin-lin commented on #11796
Sorry about the revert. I found that it is better to implement fp16 ops in mxnet instead of in mshadow, since there are built in functionality to detect/enable tensorcore. I can make a PR in maybe two or three days. @sbodenstein are you using symbol or gluon to train transformer?

[2018-11-07 18:33] lanking520 commented on #13096
@pengzhao-intel thanks for your feedback. From the system info, I can see that you are currently using CentOS. Currently, we are running into problems with it and looking for ways to fix it. Could you please try with other distribution (such as 16.04) and test again? As known so far, you need to install `Maven 3.3.9` and `OpenJDK8` on the system in order to run Scala package.

[2018-11-07 18:37] kalyc commented on #10123
@sandeep-krishnamurthy could you close this issue?
@pakmarkthub please feel free to re-open/ comment if the issue still persists at your end.

[2018-11-07 18:59] zachgk opened #13161 "Scaladoc build errors"
## Description

When compiling the docs, there are a number of errors and warnings while generating the scaladocs.  Sample output is below:
[code]

[2018-11-07 18:59] zachgk commented on #13161
@mxnet-label-bot[Doc, Scala]

[2018-11-07 19:28] ankkhedia commented on #11607
Hi @evanfitzking @yharaskrik Are you facing the above issue only with png dataset? I didn't face with standard imagenet dataset(.jpeg files). Also, if you could share a small sample of your dataset, it would be great help in debugging the issue.

[2018-11-07 19:47] leleamol commented on #13147
@Ishitori
Thank you very much for submitting the issue.  I'm labeling it so MXNet community members can help resolve it.

@mxnet-label-bot [Feature Request, Gluon]

[2018-11-07 20:02] vdantu commented on #12938
@aaronmarkham : Is this a duplicate of https://github.com/apache/incubator-mxnet/issues/13030 ?

[2018-11-07 20:46] marcoabreu opened #13163 "testissue"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-11-07 20:46] marcoabreu commented on #13163
@mxnet-label-bot add label [CI]

[2018-11-07 20:49] harshp8l commented on #13163
@mxnet-label-bot remove [CI]

[2018-11-07 20:51] sbodenstein commented on #11796
@eric-haibin-lin: we are using symbol to train transformer. That would be great to reenable this as soon as possible.

Is there any reason to not expose `linalg_gemm` and `linalg_gemm2` `float16`-support on GPU as well?

[2018-11-07 21:08] marcoabreu commented on #13163
@mxnet-label-bot remove [CI]

[2018-11-07 21:09] tribbloid commented on #12877
looks like this pypi is slow to respond, is there another release channel we can use?

[2018-11-07 22:14] akalinki commented on #12710
Hi folks,
In a case when you're using mxnet with mkl, can you please set environment variable MKL_VERBOSE=1 and share the output?

Best regards,
Alexander

[2018-11-07 22:19] aaronmarkham commented on #12938
Yes, it looks like it.

[2018-11-07 22:26] kohr-h opened #13166 "[Python] __getitem__ copies too often"
## Description

While working on #13134 I noticed that `NDArray.__getitem__` does not really do a good job of determining whether or not a view instead of a copy can be returned.

For instance, wrapping any indexing object into a 1-element tuple should have no effect at all (at least if one wants to be consistent with NumPy), but the wrapping currently leads to a copy.
Or, indexing a 3D array as `

[2018-11-07 22:36] szha commented on #12877
Unfortunately, no...

[2018-11-07 22:44] #10897 closed

[2018-11-07 22:49] ankkhedia commented on #11895
@whl33886 seems like a valid bug to me. I will raise a PR for fixing the same.

[2018-11-07 22:50] pengzhao-intel commented on #13096
@lanking520 Will try later for different MVN but can't change the OS since it's not under my control :(

http://mxnet.incubator.apache.org/install/index.html?platform=Linux&language=Scala&processor=CPU

BTW, seems there're some SW dependencies so I suggest to updating the `scala`  install doc of building from source section.

[2018-11-07 22:55] ankkhedia commented on #12800
@hcho3 Is this still an issue or has been fixed after your PR?

[2018-11-07 22:55] aaronmarkham commented on #12939
Notes on `ERROR: Undefined substitution referenced`:

## Undefined substitution reference error

[code]

In some math examples, people will use `|var|` to express the absolute value of something. The usage of pipes around a name is special to Sphinx and triggers a substitution of that value for something that is defined in the doc later. Switching to actual code or escaping the math can fix this.

[2018-11-07 23:01] ThomasDelteil opened #13167 "Check tutorials API coverage"
As discussed here: https://github.com/apache/incubator-mxnet/pull/13099

We could convert the notebooks from the tutorial to python scripts and analyse how much coverage of the MXNet codebase we have. We could potentially then use that information to help deciding which tutorial we should write.

[2018-11-07 23:21] KellenSunderland commented on #13113
Still working on this.  Here's my output when I run it with the latest version of TensorRT and ONNXtoTensorRT https://gist.github.com/KellenSunderland/7e486514fa02388619bcf4ee1614c18b

[2018-11-07 23:33] Vikas89 commented on #12800
This is fixed.

[2018-11-07 23:33] #12800 closed

[2018-11-08 00:31] ankkhedia commented on #13138
@Roshrini @vandanavk

[2018-11-08 00:35] ankkhedia commented on #13079
@TonyTangYu Could you please close the issue as it has been resolved.

[2018-11-08 01:01] leleamol commented on #7771
@Bumblebee1964 Can you please try with the latest MXNet version and if the issue persists, can you. please provide a minimum reproducible example?

I have recently submitted a PR #12930 demonstrating how to load model in JSON format.

[2018-11-08 01:13] leleamol commented on #13166
@kohr-h  Thank you very much for submitting this issue and suggesting the solutions.  I would highly encourage to submit a PR for the fix.
Meanwhile I will label the issue so that MXNet community can help in resolving this issue.

@mxnet-label-bot [Python, NDArray, Bug]

[2018-11-08 03:20] moveforever opened #13172 "mx.sym.sparse.dot generate wrong result?"
code is as followed. I found the result of mx.sym.sparse is not equal to the result mx.nd.sparse. I validate the result of mx.nd.sparse is right. So i guess there existed bug in mx.sym.sparse ?
[code]

[2018-11-08 03:53] kalyc commented on #11121
Thanks for opening the issue @ElegantGod
As discussed offline with @zhreshold the symbol implementation has been likely deprecated and the team has switched to Gluon CV implementation some time back. We have decided to keep the code as it is to retain the backward compatibility.

@sandeep-krishnamurthy could you close this issue? @ElegantGod please feel free to re-open by commenting for further qu

[2018-11-08 04:51] pengzhao-intel commented on #13141
@azai91 PR is merged, go ahead to create a test for this issue 👍
Feel free to let me know if any help is needed.

Original: MKL-DNN 0.14
[code]
Now: MKL-DNN 0.17
[code]

[2018-11-08 05:31] pengzhao-intel commented on #13141
@mxnet-label-bot [MKLDNN]

[2018-11-08 05:32] pengzhao-intel commented on #12862
@inglada The MKLDNN is updated. Please help check if your issue is resolved.
Feel free to let us know for any issues.

[2018-11-08 05:47] idealboy commented on #13075
will it have a solution? thank you sir!

[2018-11-08 05:51] idealboy commented on #979
I have the same problem, when I use multi thread to do inference MXPredGetOutput function, it is aboud 3X slower than single thread

[2018-11-08 05:52] idealboy commented on #979
I have the same problem, when I use multi thread to do inference MXPredGetOutput function, it is aboud 3X slower than single thread

[2018-11-08 05:52] idealboy commented on #979
I have the same problem, when I use multi thread to do inference MXPredGetOutput function, it is aboud 3X slower than single thread

Thank you!

[2018-11-08 05:55] idealboy commented on #979
Does nd.SyncCopyToCPU(data, size) in MXPredGetOutput is blocked when in multi thread case?

[2018-11-08 05:59] pengzhao-intel commented on #13075
@idealboy it will be better to provide a case for me.
A case you can refer as below:
https://github.com/awslabs/sockeye/pull/361

[2018-11-08 06:08] chenyujing1234 commented on #13133
Please help me , I've been troubled for a long time.

[2018-11-08 06:31] TonyTangYu commented on #13079
@ankkhedia  Oh, I'm sorry.

[2018-11-08 06:31] #13079 closed

[2018-11-08 07:36] inglada commented on #12862
It seems to solve the issue. Thanks.

[2018-11-08 07:36] #12862 closed

[2018-11-08 07:58] roywei commented on #11859
Hi @eziolotta , there are some limitations on saving bucketing module. refer to https://github.com/apache/incubator-mxnet/issues/5289
For now, you can reconstruct the bucketing module and only use saved params. You can follow this example, and also refer to https://github.com/apache/incubator-mxnet/issues/5008
The following code works for me
[code]

[2018-11-08 09:47] pengzhao-intel commented on #12891
@masahi updated, please double check if your issue is fixed :)

[2018-11-08 09:50] kohr-h commented on #13135
[Here](https://gist.github.com/kohr-h/7d35e349d44dcb66ef0c1929a659522d)'s a link to my `CMakeCache.txt`.

[2018-11-08 09:52] kohr-h commented on #13135
I saw that some of the recent commits changed code in the affected header, so I tried again with a32fa840262cdad5e7556a53d7ce3d7218ae7120. Same result as before, unfortunately.

[2018-11-08 09:57] masahi commented on #12891
yes, I tried that PR before it was merged. Performance is good now.

[2018-11-08 09:58] moveforever commented on #13172
@eric-haibin-lin , help

[2018-11-08 10:21] GSanchis commented on #11911
Any update on this? I believe I'm stumbling into the same issue. pip-installing mxnet with versions 1.2.1 or 1.3.0 leads in my case also to the same problem upon importing mxnet in python (Illegal instruction (core dumped)).

In my case and in this machine I'm not using the cuda version, so it's just the plain `mxnet` package from pip. My CPU is a Intel(R) Core(TM) i5-2520M CPU @ 2.50GHz (accordin

[2018-11-08 12:19] pengzhao-intel commented on #11161
@xinyu-intel please check the latest MKL-DNN and conv1d.
We could start the evaluate and integrate conv1d now.

[2018-11-08 14:00] lebeg commented on #12877
https://github.com/apache/incubator-mxnet/pull/12850

[2018-11-08 15:53] cyrenaique commented on #13114
Hi,
 Same problem here...

[2018-11-08 16:00] MBocchi commented on #13114
After installing mxnet-cu90, I installed mxnet-cu90mkl and it solves the problem

[2018-11-08 16:49] roywei commented on #10805
Hi @safrooze , could you contribute your [Gluon implementation](https://github.com/safrooze/LSTNet-Gluon) back as the official example for LSTNet? Since we are promoting Gluon now and we can't actually use SequentialRNNCell for Skip-RNN.

[2018-11-08 17:48] stu1130 commented on #9622
The model is out-of-date. @ajayvohra2005 @sunyonggang you might want to use the [gluon-cv](https://gluon-cv.mxnet.io/build/examples_detection/train_ssd_voc.html) to train the latest SSD model

[2018-11-08 18:52] #11121 closed

[2018-11-08 19:18] leleamol commented on #13172
Hi @moveforever Thanks for submitting the issue.

@mxnet-label-bot [Python, Symbol, Sparse]

[2018-11-08 19:44] szha commented on #11911
@GSanchis According to [Intel(R) Core(TM) i5-2520M spec](https://ark.intel.com/products/52229/Intel-Core-i5-2520M-Processor-3M-Cache-up-to-3-20-GHz-), it doesn't support AVX2 instruction set, which is currently the minimum requirement for pre-built binary.

[2018-11-08 19:57] #13003 closed

[2018-11-08 19:58] shirishr commented on #12036
Thank you. I had to make some changes for it to run using gpu.

[2018-11-08 20:13] ChaiBapchya opened #13187 "Inconsistent return types of random_generator functions in cpu and gpu"
The file - `/incubator-mxnet/include/mxnet/random_generator.h` includes CPU and GPU implementation of random number generator functions.

Close look at `cpu` implementation
[code]

While in case of `gpu`
[code]

Why is it hardcoded in gpu? Shouldn't it be generic?

[2018-11-08 21:02] kalyc commented on #8190
Hi @xfwu
Thanks for submitting the issue.
I ran it locally on my machine - using this setup:
[code]

These are the results I got:
[code]

Could you share your system configuration where you got the above results?
I would recommend re-building using `make clean` first and then building as `make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1`

[2018-11-08 21:04] kalyc commented on #8190
This [paper](https://arxiv.org/pdf/1711.03953.pdf) mentions that a start of the art model produces perplexity of `47.8` approximately, for this model we should expect something higher as the model used in the example is simpler.

[2018-11-08 21:08] kalyc commented on #13091
@aaronmarkham I see that Search is working on the Gluon website -
https://gluon.mxnet.io/search.html?q=autograd&check_keywords=yes&area=default#
https://gluon.mxnet.io/search.html?q=load&check_keywords=yes&area=default#
Could you check at your end and close this issue if its not persisting?

[2018-11-08 21:29] stu1130 commented on #11137
@lynneChan I tried the example on the original dataset(voc) and the memory usage like this
| label-width  | GPU memeory  |
| ------------ | -------------    |
| 350               | 5900                 |
| 1000             | 6222                 |
| 2000            | 8180                  |
| 5000            | 14040                |
When you set the label-width to 4784, each label set will be padd

[2018-11-08 21:43] ankkhedia commented on #11607
@evanfitzking @yharaskrik I even tried reproducing the issue with CIFAR dataset(png format files) but couldn't reproduce. Could you please provide more details as asked above.

[2018-11-08 22:00] ankkhedia commented on #12063
@prathik-naidu
This model has been trained without normalization and doesn't need its input normalized, contrary to the Gluon model zoo one that needs its input normalized.
So closing the issue as the example is working as expected. Please feel free to re-open if closed in error.

@sandeep-krishnamurthy Could you please close the issue

[2018-11-08 22:38] marcoabreu commented on #13163
@mxnet-label-bot remove [CI]

[2018-11-08 22:40] marcoabreu commented on #13163
@mxnet-label-bot remove [CI]

[2018-11-08 22:42] marcoabreu commented on #13163
@mxnet-label-bot add [CI, Good first issue]

[2018-11-08 22:43] lanking520 commented on #13163
@mxnet-label-bot please thanks @marcoabreu for his effort

[2018-11-08 22:44] lanking520 commented on #13163
@mxnet-label-bot update [Question]

[2018-11-08 22:48] marcoabreu commented on #13163
@mxnet-label-bot update [Question, Good first IsSue, something that doesn't exist]

[2018-11-08 22:49] szha commented on #13163
Oh poor Marco.

[2018-11-08 22:51] marcoabreu commented on #13163
Thank god I'm not automatically getting subscribed for all these threads :D

[2018-11-08 22:51] marcoabreu commented on #13163
@mxnet-label-bot update [something that doesn't exist]

[2018-11-08 22:51] marcoabreu commented on #13163
@mxnet-label-bot remove [something that doesn't exist]

[2018-11-08 22:51] marcoabreu commented on #13163
@mxnet-label-bot unsuppored command [something that doesn't exist]

[2018-11-08 22:52] szha commented on #13163
@mxnet-label-bot dance

[2018-11-08 22:53] marcoabreu commented on #13163
@mxnet-label-bot elephant [Python]

[2018-11-08 22:56] marcoabreu commented on #13163
@mxnet-label-bot 123456789

[2018-11-08 22:57] marcoabreu commented on #13163
@mxnet-label-bot update []

[2018-11-08 23:01] szha commented on #13163
@mxnet-label-bot add [breaking, dance]

[2018-11-08 23:06] harshp8l commented on #13163
I overlooked this case - this would be useful for the user to delete all labels easily

[2018-11-08 23:06] roywei commented on #13163
@mxnet-label-bot do you get confused by url like this [Bug](https://github.com/apache/incubator-mxnet/pull/12958#issuecomment-432842299)? add[CI]

[2018-11-08 23:08] harshp8l commented on #13163
@mxnet-label-bot remove [Good First Issue]

[2018-11-08 23:18] zachgk commented on #13161
Some errors are suppressed by default and should be noted.  The build output after a partial fix from https://github.com/apache/incubator-mxnet/pull/13189/commits/bb7f4b872d000d9d899e1fc41c8da356db7123ba (to clear up the output a bit) but with the flags to show the warnings (-deprecated -feature) is:
[code]

[2018-11-08 23:55] lanking520 commented on #13163
@mxnet-label-bot add [bug, feature, breaking, ci, scala, python, gluon]

[2018-11-09 00:01] zachgk commented on #12416
This issue can be closed as it was resolved in https://github.com/apache/incubator-mxnet/pull/12654

[2018-11-09 00:05] ankkhedia commented on #11607
@mxnet-label-bot add [Pending Requester Info]

[2018-11-09 00:12] aaronmarkham commented on #12401
@kalyc - Yes those instructions are updated, but the examples were failing.
@leleamol Should this be closed? I think you had a PR that fixed some or all of the issues with the examples.

[2018-11-09 00:19] ssbusc1 opened #13193 "elemwise_mul results in corrupt response"
## Description
When two CSR matrices are multiplied using the * operator, or with nd.sparse.elemwise_mul, the resulting CSR has corrupt indices/indptr values.

## Minimum reproducible example
[code]

It is not clear from the documentation whether the c = a * b is allowed when the inputs are CSR matrices. But it goes ahead without an exception, and actually returns a CSR, but the data has been corr

[2018-11-09 00:40] lanking520 commented on #13163
@mxnet-label-bot update [fart]

[2018-11-09 01:51] harshp8l commented on #13193
@mxnet-label-bot add [Python, Sparse, Bug]

[2018-11-09 02:34] harshp8l commented on #12432
@mxnet-label-bot add [Good First Issue]

[2018-11-09 02:46] #13172 closed

[2018-11-09 02:51] moveforever commented on #13172
sorry, now i validate that result of mx.sym.sparse.dot is right. There existed some problem in my validation

[2018-11-09 03:48] idealboy opened #13198 "About crossentroy.py and LogisticRegressionOutPut in mxnet? A strange Problem?"
I just use the crossentropy.py in https://github.com/miraclewkf/multilabel-MXNet.git to train multi-label classifier(1000 classes), but I found that the inference result is always strange
And the crossentropy loss is also located in example/recommenders in mxnet source.

(1)The result score is very low, and a little number of output is smaller than 0.5
(2)when I change actually_calculate_loss = Tr

[2018-11-09 04:54] piyushghai commented on #13163
Hey @mxnet-label-bot Remove [Question], remove [Python], remove Feature

[2018-11-09 04:55] lanking520 commented on #13163
@mxnet-label-bot remove [Question, Python, Feature]

[2018-11-09 05:02] #12935 closed

[2018-11-09 05:07] #13090 closed

[2018-11-09 05:08] #13004 closed

[2018-11-09 05:08] #13005 closed

[2018-11-09 05:08] #13006 closed

[2018-11-09 05:11] #12944 closed

[2018-11-09 05:13] #13013 closed, assigned to nobody

[2018-11-09 05:46] nswamy commented on #11777
@zdaxie thanks for letting us know, Closing Issue as unable to reproduce

[2018-11-09 05:46] #11777 closed

[2018-11-09 06:08] cctgem commented on #12001
@kaleidoscopical Did you find a way to use syncbn by symbol api?

[2018-11-09 10:51] larroy commented on #12662
How did you measure the memory? Do you think it makes sense to add a regression test?

[2018-11-09 11:51] kohillyang opened #13199 "Namescope is None when hybridize in multi-threading environment. AttributeError: 'NoneType' object has no attribute '__exit__'"
## Description
(Brief description of the problem in no more than 2 sentences.)

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using Python)

## Error Message:
[code]

## Minimum reproducible example
[code]

## Steps to reproduce
(Paste the commands you ran that produced the error.)

1.
2.

## What have you tried to solve it?

Forward once before starting the thr

[2018-11-09 11:56] lebeg commented on #12329
Unfortunately this test fails on the v1.3.x release branch:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/v1.3.x/97/pipeline

[2018-11-09 16:07] yharaskrik commented on #11607
My apologies I thought I responded to this issue. It turns out that the step before when I was converting the images to PNGs some of the metadata was missing/corrupted and thus building the .rec files failed.

[2018-11-09 16:41] aaronmarkham commented on #13091
It is working now!

[2018-11-09 16:41] #13091 closed

[2018-11-09 16:43] aaronmarkham commented on #13163
@mxnet-label-bot add [gOOd FiRsT IsSuE]!!!

[2018-11-09 16:48] aaronmarkham commented on #13163
![good-first-issue](https://user-images.githubusercontent.com/5974205/48276155-2eb9ea80-e3fc-11e8-807c-ecc21373dcfd.jpg)

[2018-11-09 16:57] harshp8l commented on #13163
Old version was redeployed ;(

[2018-11-09 16:58] harshp8l commented on #13163
@mxnet-label-bot remove [Bug]

[2018-11-09 16:59] harshp8l commented on #13163
@mxnet-label-bot add [Bug]

[2018-11-09 17:06] harshp8l commented on #13163
@mxnet-label-bot add [gOOd FiRsT IsSuE]!!!

[2018-11-09 17:31] leleamol commented on #13187
Hello @ChaiBapchya
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
 I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
 Thanks!

@mxnet-label-bot [Question]

[2018-11-09 17:35] lanking520 commented on #13163
@mxnet-label-bot remove [good first issue]

[2018-11-09 17:38] piyushghai commented on #13163
@mxnet-label-bot AdD [QuestiON]

[2018-11-09 17:41] ankkhedia commented on #11607
@nswamy @sandeep-krishnamurthy Could you please close this issue as the issue is resolved.

[2018-11-09 17:43] lanking520 commented on #13163
@mxnet-label-bot update [Question]

[2018-11-09 17:48] CathyZhang0822 commented on #13163
@mxnet-label-bot remove [Question]

[2018-11-09 17:49] CathyZhang0822 commented on #13163
@mxnet-label-bot add [a label doesn't exist]

[2018-11-09 17:51] CathyZhang0822 commented on #13163
@mxnet-label-bot update [FEATURE REQUEST, feature request, Feature requests]

[2018-11-09 17:52] CathyZhang0822 commented on #13163
Awesome! @mxnet-label-bot, You are a good bot. Well done.

[2018-11-09 17:57] kalyc commented on #12715
@marcoabreu The disabled flaky tests have been enabled. Could you close this issue?

[2018-11-09 18:09] apeforest commented on #13163
@mxnet-label-bot update [Question, Bug]

[2018-11-09 18:09] apeforest commented on #13163
@mxnet-label-bot update [Test]

[2018-11-09 18:21] stu1130 commented on #11137
@sandeep-krishnamurthy could you please close the issue. @lynneChan if you have any question, please feel free to reopen it

[2018-11-09 18:46] stu1130 commented on #7928
@jonbakerfish @solin319 confirmed that the example still works. got mean AP= 0.70, 0.74 and 0.78 on vgg voc2007, vgg voc2007+2012, resnet voc2007+2012

[2018-11-09 18:56] leleamol commented on #12244
@mxnet-label-bot add [pending-requestor-info]

[2018-11-09 18:58] leleamol commented on #11649
@mxnet-label-bot add [Pending Requester Info]

[2018-11-09 18:59] leleamol commented on #7771
@mxnet-label-bot add [Pending Requester Info]

[2018-11-09 19:02] leleamol commented on #7973
@mxnet-label-bot add [Pending Requester Info]

[2018-11-09 19:05] leleamol commented on #9814
@mxnet-label-bot add [Pending Requester Info]

[2018-11-09 19:07] golo314 commented on #11649
The project was dropped, but I wanted to use the C++ API for feature extraction/inference.

The reason why I wanted C++, is because my code base is in C++.

[2018-11-09 19:07] ShownX opened #13206 "[Feature Request] Random Rotation Image Augmentation"
In Gluon/mx.image, it still does not have an API to do image rotation. For a quick search, it seems a lot of user has the same issue.

[2018-11-09 19:20] kalyc commented on #10123
This might be a related issue (RecordIO input split) - https://github.com/apache/incubator-mxnet/issues/12800 and it has been resolved

[2018-11-09 19:37] Ishitori commented on #9814
@leleamol, I was just reproducing an error from the forum. I am not sure I can find original message anymore though...

[2018-11-09 20:15] aaronmarkham commented on #13163
@mxnet-label-bot add [gOOd FiRsT IsSuE]!!!

[2018-11-09 20:15] aaronmarkham commented on #13163
@mxnet-label-bot remove [gOOd FiRsT IsSuE]!!!

[2018-11-09 20:16] aaronmarkham commented on #13163
Sweet. It works!

[2018-11-09 21:16] marcoabreu commented on #12715
Sure, thanks for the headsup

[2018-11-09 21:16] #12715 closed

[2018-11-09 22:44] leleamol commented on #13206
Hi @ShownX
Thanks for submitting this feature request.

@mxnet-label-bot add [Feature Request, Gluon]

[2018-11-09 23:03] #9622 closed

[2018-11-10 00:50] #11137 closed

[2018-11-10 00:55] DickJC123 commented on #12662
As part of #12804, I took the minimal example code provided here and turned it into the initially failing unittest test_gluon_gpu.py:test_large_models.  To make the test universal, I had its operation scale with the amount of available memory, as provided by a new Python API addition gpu_memory_info():
[code]
After CI showed the test failing, I pushed the fix that corrected the issue.  So in summa

[2018-11-10 01:07] kalyc opened #13211 "train_cifar10 example not working with Master Branch"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-11-10 01:42] zachgk commented on #13161
After progress with https://github.com/apache/incubator-mxnet/pull/13210 and https://github.com/apache/incubator-mxnet/pull/13189, the original 12 deprecation warnings, 17 feature warnings, 29 warnings, and 120 errors has been reduced to one warning.  The build command and output (when not run through /docs/Makefile html) are:
[code]

The IOException warning is because there is no javadoc page to

[2018-11-10 04:34] srochel commented on #11120
#13099 is merged, please close.
Why did we not use mechanism describe in https://blog.github.com/2013-05-14-closing-issues-via-pull-requests/ i.e. add fixes #13099  in PR? Are people not aware of it?

[2018-11-10 05:34] kohillyang commented on #13199
The latest version of mxnet also have this bug.

[2018-11-10 05:46] vdantu commented on #12318
@aaronmarkham : What needs to be done here for the docs?

[2018-11-10 05:47] vdantu commented on #12321
@aaronmarkham : What were you looking for here?

[2018-11-10 09:04] #11120 closed

[2018-11-10 10:43] chinakook opened #13216 "[Feature request]JPEG Orientation in mxnet.image.imread"
When using mxnet.image.imread to deal with some jpeg file, the result image will be wrong, as **mxnet cannot get the right mode of JPEG orientation** from the exif. It's important when people want to train their own images with JPEG orientation information included.
I hope we can add some flags as the OpenCV does.

[2018-11-10 19:15] GSanchis commented on #11911
Thanks @szha. Looks like I'll have to compile it from source then. In any case, thanks for the info!

[2018-11-10 22:13] larroy commented on #12799
@mxnet-label-bot remove label: [Flaky]

[2018-11-11 08:53] lgov opened #13217 "Handle OpenCV exceptions instead of aborting"
(This is intended as an umbrella issue to follow up my ongoing proposal on the dev mailing list & work on handling OpenCV exceptions)

## Description

I am working on migrating a classification product currently using Caffe to
MXNet. Along the way I'm encountering some issues loading and augmenting
the images dataset.

Basically it seems my dataset contains some technically invalid images.
When lo

[2018-11-11 08:56] lgov commented on #13217
Draft proposal on how to handle OpenCV exceptions on the dev mailing list:

http://mail-archives.apache.org/mod_mbox/mxnet-dev/201811.mbox/%3cCANvU9seUjFbVYCk49T93R0BfDxbFq-cenirRRuZdCHYekOFD6Q@mail.gmail.com%3e

[2018-11-11 09:07] lgov commented on #13217
Related issues:
#9913 - TODO list for Exception Handling Support

#11912 - failed to catch imdecode exception
#10389 - Report clear errors when opencv::imdecode fails.
#9475 - OpenCV Error: Assertion failed
#12999 - throw mxnet exceptions when decoding invalid images.
#10393 - ImageRecordIOParser2 Assertion failed
#12280 - Reading/ignoring corrupt images with Gluon data loader (imdecode error cann

[2018-11-11 09:15] viper7882 commented on #13040
I share the same experience in Windows 10, MXNet 1.3.0, NVidia GeForce GTX1060 GPU. @yajiedesign , thank you for the detail explanation.

The reason being I'm able to detect this issue is due to I've upgraded from 1.0.1 version directly to 1.3.0. I understand that it is a huge jump, but I didn't expect to experience such a huge drop in performance.

[2018-11-11 12:01] larroy commented on #12658
+1

[2018-11-11 13:43] #13089 closed

[2018-11-11 22:02] zhanghang1989 commented on #12001
You can't call `asnumpy()` or do `print()` with `SyncBatchNorm`. Please use standard `BatchNorm` for debugging and change it to `SyncBatchNorm` with correct `num_device` after debugging.

[2018-11-12 02:48] jiajinyu commented on #4887
We have encountered the same problem and found out the possible root cause.

## Root cause:
A previous train  has nodes (worker/server) not killed for some reason. Then a new scheduler starts, again bind to the port, say, 9091, used by the scheduler in the previous train. The nodes in this train, and the nodes from previous instance now **both** send message to this scheduler. This confuses ZMQ be

[2018-11-12 03:36] WANG-MengJiao opened #13219 "using C++ interface on CPU to extract feature vector, delete NDArray::WaitAll() generate incorrect result"
I am using a c++ api on CPU to extract a 512-dim feature vector from images. The feature vector will be printed out.
I encountered with the problem that with/without `NDArray::WaitAll()` generate totally different outputs. Among the results, with `NDArray::WaitAll()` can get correct vector.
However, the `NDArray::WaitAll()` is very time consuming. According to the comment in [feature_extract.cpp](

[2018-11-12 04:59] eric-haibin-lin opened #13220 "Many operators don't work for integer type"
Many operators implicitly cast data to float and return inaccurate results:
[code]

[2018-11-12 06:10] szha commented on #12629
I fixed it in #13056

[2018-11-12 06:10] #12629 closed

[2018-11-12 07:30] nswamy commented on #11121
@zhreshold, @kalyc can you mark the code deprecated and provide a link to the Gluon CV SSD Implementation to help users.

[2018-11-12 07:36] #7928 closed

[2018-11-12 07:43] #12948 closed

[2018-11-12 07:43] #12917 closed

[2018-11-12 07:43] #12940 closed

[2018-11-12 07:43] #13007 closed

[2018-11-12 07:43] #13010 closed

[2018-11-12 07:43] #13014 closed

[2018-11-12 07:44] #12939 closed

[2018-11-12 07:46] #12949 closed

[2018-11-12 07:50] #13024 closed

[2018-11-12 07:50] #13028 closed

[2018-11-12 07:50] #13029 closed

[2018-11-12 08:43] pengzhao-intel commented on #11906
@zheng-da @safrooze  It's on the plan to integrate 1D conv into MXNet soon by @xinyu-intel

[2018-11-12 08:44] lebeg opened #13221 "Flaky tests: test_gluon_model_zoo_gpu.test_training"
## Description

Test fails on master:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1901/pipeline

[code]

## Related issues

test_gluon_model_zoo_gpu.test_training out of memory
https://github.com/apache/incubator-mxnet/issues/10323

Flaky test_gluon_model_zoo_gpu.test_training @ Python3: MKLDNN-GPU
https://github.com/apache/incubator-mxnet/issues

[2018-11-12 08:46] lebeg commented on #10323
@ChaiBapchya it seems that this issue is a bit different than reported in here, I've created https://github.com/apache/incubator-mxnet/issues/13221 to track it separately

[2018-11-12 09:43] sbodenstein commented on #11796
@eric-haibin-lin: any updates about this?

[2018-11-12 10:08] maomaochongchh opened #13222 "mxnet.base.MXNetError"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-11-12 10:59] xinguanxi commented on #12868
but how to solve this bug?

[2018-11-12 14:57] gjtjx opened #13223 "compile error"
compile error ,stuck at dmc_core or kvstore_utils
ubuntu 16.04
gcc version 5.4.0
cuda9.2 cudnn 7.1.4
any help?

[2018-11-12 17:41] eric-haibin-lin opened #13227 "Missing return value documentation for nd.random.* and sym.random.*"
The operators in https://mxnet.incubator.apache.org/api/python/ndarray/random.html#random-distribution-generator don't mention the return value types and the number of return values.

[2018-11-12 18:33] Roshrini commented on #13211
Thanks for reporting this issue. I tried to reproduce it. Seems like the example script was changed after the release.

If you run script https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/train_cifar10.py from master branch, it will not work with 1.3. release branch.

With MXNet1.3 branch, please run https://github.com/apache/incubator-mxnet/blob/v1.3.x/example/ima

[2018-11-12 18:37] aaronmarkham commented on #12321
Closing in favor of the separate issues created for each error.

[2018-11-12 18:37] #12321 closed

[2018-11-12 18:43] vrakesh commented on #13025
PR merged and issue fixed, issue good to close

[2018-11-12 18:44] vrakesh commented on #13009
issue fixed in PR #13215 , good to close

[2018-11-12 18:45] vrakesh commented on #13012
Issue fixed in PR #13215 , good to close

[2018-11-12 18:52] kalyc commented on #13211
Thanks for taking a look @Roshrini
I verified that the example works with `v1.3.x` branch and doesn't work with the `master` branch.
Error log is the same as pasted above for `master` branch

[2018-11-12 18:58] harshp8l commented on #13211
@mxnet-label-bot add [Example, Python]

[2018-11-12 19:18] harshp8l commented on #13163
@mxnet-label-bot update [pr-awaiting-review]

[2018-11-12 19:33] leleamol commented on #13198
@idealboy
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
 I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
 Thanks!"

@mxnet-label-bot add [Question]

[2018-11-12 19:34] leleamol commented on #13206
@mxnet-label-bot add [Feature Request, Gluon]

[2018-11-12 19:34] leleamol commented on #13187
@mxnet-label-bot add [Question]

[2018-11-12 19:35] leleamol commented on #13216
@mxnet-label-bot add [Feature Request]

[2018-11-12 19:37] leleamol commented on #13223
@gjtjx
Thanks for submitting the issue. Can you please share the flags (such as USE_CUDA_PATH, USE_OPENCV, etc) that you are using while building the MXNet?

I will add the labels to this issue so that MXNet community members would be able to provide help.

[2018-11-12 19:38] leleamol commented on #13223
@mxnet-label-bot add [Build]

[2018-11-12 20:38] aaronmarkham commented on #13055
Many of the tutorial folders were without an index page. Sphinx throws errors when there isn't a table of contents on an index page. The "glob" directive just tells Sphinx to autogenerate a ToC based on the contents of that directory. That is why it seems like it might not be meaningful, but if you browse to the site you can see that it created a basic table of contents:
https://mxnet.incubator.ap

[2018-11-12 20:47] aaronmarkham opened #13232 "visualization docs don't line up with tutorials usage of viz"
## Description
When visualization is mentioned in tutorials it is always done like `mx.viz.plot` or similar. It is never done as `mx.visualization`. However, our API reference only has `mx.visualization` and the `.viz.` option isn't mentioned.

We have this issue around any kind of shortcut/redirect naming throughout the project.

Sphinx is unable to use the shortcut names for some reason. It has

[2018-11-12 21:15] kalyc commented on #13211
Re-installed mxnet using `pip install mxnet --pre` and the example works on master, closing issue

[2018-11-12 21:15] #13211 closed

[2018-11-12 21:29] lebeg commented on #12713
As mentioned in https://github.com/apache/incubator-mxnet/pull/12786 the fix for the 1st problem has issues on the v1.3.x release branch.

[2018-11-12 22:16] #12463 closed

[2018-11-12 23:00] wenyangchu commented on #11341
@apeforest Thanks for taking action to make it happen. Sorry the notification was sent to my gmail and filtered.

[2018-11-12 23:15] sandeep-krishnamurthy opened #13233 "Add memory cost profiler example for Gluon"
Users should be able to easily reproduce memory cost when using different memory plan controlling environment variables.

We need to add GLUON scripts for say Inception for Image classification, SSD Object detection, and Transformers for sequence models. Use the different set of Memory optimization controlling environment variables listed here - https://mxnet.incubator.apache.org/faq/env_var.html?

[2018-11-12 23:18] samskalicky opened #13234 "waitforall() hides errors"
mx.nd.waitforall() doesnt check for errors and rethrow any that have occurred users will get an error when reading the output data. But I ran into an issue where I was gathering performance data, measuring elapsed time over an inference via model.forward() and mx.nd.waitforall() but I had hit an error and it was being hidden by waitforall(). I would have gotten the error had I actually read the ou

[2018-11-13 00:07] anirudh2290 commented on #13234
this is by design and has been documented in the PR: https://github.com/apache/incubator-mxnet/pull/9681 . The waitforall is generally used for synchronization and benchmarking purposes. If you want to throw the exception you can call wait to read on the variables before or after the waitall call. Adding waitall support requires a global exception ptr and complicates the implementation. To workaro

[2018-11-13 00:09] harshp8l commented on #13232
@mxnet-label-bot add [Doc]

[2018-11-13 00:30] pengzhao-intel commented on #13055
@aaronmarkham Thanks for the explanation. It makes sense :)

[2018-11-13 00:30] #13055 closed

[2018-11-13 00:37] lupesko commented on #13234
@mxnet-label-bot add [Feature Request]

[2018-11-13 00:37] lupesko commented on #13234
@mxnet-label-bot add [NDArray]

[2018-11-13 00:40] lupesko commented on #13222
There are no details here beyond the template.
@maomaochongchh - please update the issue with details, or otherwise please close the issue. Thanks!

[2018-11-13 00:41] lupesko commented on #13222
@mxnet-label-bot add ['Pending Requester Info']

[2018-11-13 00:43] leleamol commented on #13199
@mxnet-label-bot add [Gluon, Thread Safety, Bug]

[2018-11-13 00:43] leleamol commented on #13199
@kohillyang
Thanks for submitting the issue. I have added the labels so that community members can provide the help.

[2018-11-13 00:44] leleamol commented on #13167
@mxnet-label-bot add [Feature Request, Python, CI]

[2018-11-13 00:47] leleamol commented on #13217
@mxnet-label-bot add [OpenCV, Exception Handling]

[2018-11-13 00:53] leleamol commented on #13219
Hi @WANG-MengJiao  Thanks for submitting the issue.  I have submitted a PR #12930 that demonstrates the usage of C++ API in inference workflows. This might provide some help.
I will add the labels so that MXNet community members can provide help

[2018-11-13 00:54] roywei opened #13238 "train_mnist.py in example/image-classification does not work with inception-bn and resnet"
## Description
train_mnist.py in example/image-classification does not work with inception-bn and resnet
As in title, the following commands will fail:

[code]
[code]

## Error Message:
[code]

## Root cause
The `get_symbol()`  in those models requires additional `image_shape` argument, and `train_mnist.py` does not provide it

[2018-11-13 00:54] leleamol commented on #13219
@mxnet-label-bot add [C++,  Question]

[2018-11-13 00:55] leleamol commented on #13222
@mxnet-label-bot add [Pending Requester Info]

[2018-11-13 02:25] roywei opened #13243 "CPP examples training acc does not increase"
## Description
I found this problem in PR: https://github.com/apache/incubator-mxnet/pull/13185
Following examples here:
https://github.com/apache/incubator-mxnet/tree/master/cpp-package/example

During traing, the acc actually does not change at all.

Right now affected models:
1. inception-bn
2. resnet

will continue to check other models

## Error Message:
[code]
## Minimum reproducible example

[2018-11-13 02:26] roywei commented on #13243
@mxnet-label-bot add[C++, Example]

[2018-11-13 02:29] neverjoe commented on #10542
Any good news for mkl-dnn rnn support?

[2018-11-13 03:09] zachgk commented on #13243
@mxnet-label-bot add [C++, Example]

[2018-11-13 07:18] aaron900813 opened #13245 "mxnet::cpp::NDArray::WaitAll() take about 160ms"
here are codes：
    tValRestart;
    net271_executor->Forward(false);
    std::cout << "Forward use " << tValDuration << " ms" << std::endl;
    tValRestart;
    auto targetx = net271_executor->outputs[0].Copy(global_cpu_ctx);
    auto targety = net271_executor->outputs[1].Copy(global_cpu_ctx);
    auto targetw = net271_executor->outputs[2].Copy(global_cpu_ctx);
    auto targeth = net271_executor-

[2018-11-13 07:42] neverjoe commented on #10542
Is there any python test demo for GruForwardInference?

[2018-11-13 08:01] yifeim opened #13247 "Support None as input in forward and hybrid_forward?"
## Description
(Hybrid) forward supports `None` as defaults, but not as inputs. I was wondering if there are any fundamental reasons why `None` cannot be taken as input - if the pattern is consistent and I do not change the computation graph? Similarly, `None` in the output should also be allowed.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

## Error Messag

[2018-11-13 08:06] pengzhao-intel commented on #10542
There's no python interface, but you can test by mkldnn binary very simple.
https://github.com/intel/mkl-dnn/tree/master/tests/benchdnn

https://github.com/intel/mkl-dnn/commit/3ced2c71fdb06fe4546fe95054d1e766a8addfa7

In the test file, it includes several configurations:

[2018-11-13 11:29] chi-hung commented on #12257
This would be very useful. How's it going?

[2018-11-13 11:52] viper7882 commented on #13040
A simple program and memory profiling explains the reason of slowness.

`import mxnet as mx

if __name__ == '__main__':
    a = mx.nd.ones((2, 3), mx.gpu())
    b = a * 2 + 1
    print (b.asnumpy())`

![download](https://user-images.githubusercontent.com/28743821/48411418-759d3c80-e77c-11e8-9482-13e62fab690b.png)

The peak memory usage has exceeded 2GB using this simple program. Likely someone has

[2018-11-13 12:21] CarlosYeverino opened #13248 "Cannot compile a cpp predictor including the library c_predict_api.h"
Hi all,

I successfully installed mxnet on Ubuntu 16.04 LTS by doing the following:
[code]

Now I want to create a cpp predictor that includes the library c_predict_api.h, however, when I compile the the program I got the following error:
[code]

Then I added the path /incubator-mxnet/lib to LD_LIBRARY_PATH in ~/.bashrc and now  I get the follofing output for  LD_LIBRARY_PATH:

[code]

However, th

[2018-11-13 17:14] #12936 closed

[2018-11-13 17:14] #12941 closed

[2018-11-13 17:14] #13023 closed

[2018-11-13 17:14] #13026 closed

[2018-11-13 17:14] #12914 closed

[2018-11-13 17:14] #13008 closed

[2018-11-13 17:14] #13011 closed

[2018-11-13 17:14] #13022 closed

[2018-11-13 17:57] roywei opened #13250 "broken links on website"
This link seems to be broken:
https://mxnet.apache.org/api/python/io/io.html

[2018-11-13 19:06] kalyc commented on #13238
Thanks for submitting the issue @roywei Did you install MXNet from source?
Can you retry this example using `pip install mxnet --pre` ?

[2018-11-13 19:22] kalyc commented on #13223
Could be a related issue https://github.com/apache/incubator-mxnet/issues/12041

[2018-11-13 19:37] kalyc commented on #9105
Thanks for updating the issue with a an associated fix
@bzcheeseman could you please close the issue?

[2018-11-13 19:39] #13009 closed

[2018-11-13 19:40] #13012 closed

[2018-11-13 19:45] zachgk commented on #13245
@mxnet-label-bot add [C++, Performance, Pending Requester Info]

Hi @aaron900813, can you help provide some info about your environment?
## Environment info (Required)

[code]

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

MXNet commit hash:
(Paste the output of `git rev-parse HEAD` here.)

Build config:
(Paste the content of config.mk, or the build comm

[2018-11-13 19:46] kalyc commented on #11542
@ankkhedia can you re-try importing the models? The issue appears to have been fixed in the PR above

[2018-11-13 19:58] zachgk commented on #13250
@mxnet-label-bot add [Doc, Website]

@aaronmarkham, can you take a look at this?

[2018-11-13 20:17] #10858 closed

[2018-11-13 21:10] zachgk commented on #13247
@mxnet-label-bot add [Feature Request, Python, Gluon]

[2018-11-13 21:34] zachgk commented on #13248
@mxnet-label-bot add [C++, Question]

Hi @CarlosYeverino, have you taken a look at the C++ Tutorial at https://mxnet.incubator.apache.org/tutorials/c%2B%2B/basics.html?

[2018-11-13 21:34] #12947 closed

[2018-11-13 21:52] zachgk commented on #4659
@mxnet-label-bot add [Python, Bug]

[2018-11-13 21:55] harshp8l commented on #13163
@mxnet-label-bot add [bug, Insallation]

[2018-11-13 21:56] harshp8l commented on #13163
@mxnet-label-bot add [question, Test]

[2018-11-13 21:58] aaronmarkham commented on #12828
@vdantu was working on this file: https://github.com/apache/incubator-mxnet/blob/master/docs/_static/js/auto_module_index.js
And noted a bug in it that can cause the page to go blank if you try to use the `:noindex:` directive in Sphinx.
This js file also injects some stuff on the left nav bar and it seems awfully close to what we're seeing here with this bug. Maybe this clue will help reach a sol

[2018-11-13 22:01] aaronmarkham commented on #13250
I think that this PR: https://github.com/apache/incubator-mxnet/pull/13246 should fix the problem.

[2018-11-13 22:01] yifeim commented on #13247
@zachgk Thanks! I should also mention that None output type should also be similarly allowed for completeness. Will edit the original feature request.

[2018-11-13 22:03] aaronmarkham commented on #13250
Note that PR's preview links have the content showing up just fine.
http://mxnet-ci-doc.s3-accelerate.dualstack.amazonaws.com/PR-13246/1/api/python/io/io.html
http://mxnet-ci-doc.s3-accelerate.dualstack.amazonaws.com/PR-13246/1/api/python/gluon/model_zoo.html

[2018-11-13 22:52] #9105 closed

[2018-11-13 22:59] vandanavk commented on #12937
Duplicate of https://github.com/apache/incubator-mxnet/issues/13020

[2018-11-13 23:35] stu1130 commented on #11649
@golo314 I ran the alexnet example and it worked OK on Fedora release 30. Could you please pull the latest version of mxnet and compile again to test it (current version would be `build/alexnet`). Thanks!

[2018-11-13 23:41] kalyc commented on #7247
Thanks for submitting the issue
We are tracking this in our backlog when we pick up work on R implementation

@mxnet-label-bot add [Feature Request]

[2018-11-13 23:45] vandanavk commented on #13016
Looking into this

[2018-11-13 23:45] vandanavk commented on #13017
Looking into this

[2018-11-13 23:45] eric-haibin-lin opened #13254 "Missing numerical grad tests for many math operators"
https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_operator.py#L3454-L3480
There were 25 math operators uses `mathematical_core` helper to test their correctness. However, as @anirudhacharya pointed out, numerical gradient checks are missing. We should enable grad check for all these operators.

[2018-11-13 23:47] kalyc commented on #7247
@mxnet-label-bot add [Feature Request]

[2018-11-13 23:53] vdantu commented on #13250
@roywei and @aaronmarkham : I might have forgotten to Fixes tag .. the PR is merged. Could we close this issue?

[2018-11-14 00:03] anirudhacharya commented on #10923
Missing Gradient Checks - https://github.com/apache/incubator-mxnet/issues/13254

[2018-11-14 00:32] apeforest commented on #13220
@mxnet-label-bot [Good First Issue, Call for Contribution]

[2018-11-14 00:51] apeforest commented on #10923
@mxnet-label-bot add [Good First Time]

[2018-11-14 01:11] roywei commented on #13250
Thanks for fixing this! Closing

[2018-11-14 01:11] #13250 closed

[2018-11-14 01:15] zachgk commented on #13247
Thank you for the suggestion @yifeim. We welcome contributions, so feel free to try making these changes yourself if you want to get involved

[2018-11-14 01:20] mseth10 commented on #12314
I investigated this issue. The dropout symbol implementation calls a function BernoulliGenerate when MKL and OpenMP flags are on. This is where the flakiness comes from.

BernoulliGenerate uses multithreading and calls MKL library function viRngBernoulli to populate a mask vector. https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/dropout-inl.h#L82

When **p**=1.0, it is suppose

[2018-11-14 01:35] pengzhao-intel commented on #12314
@mseth10 thanks for the deep dive. I will look into the case and back to you soon.

[2018-11-14 05:50] TaoLv commented on #12675
Issue is still there:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-13260/1/pipeline/1110

[2018-11-14 05:51] TaoLv commented on #12675
@mxnet-label-bot add [Flaky, Test]

[2018-11-14 06:20] pengxin99 commented on #13221
@pengzhao-intel @TaoLv dose this error means that the output of CPU model parameters does not the match with the GPU?

we run this testcase at our machine and can`t reproduce this error, our envs :

- CPU: Intel(R) Xeon(R) CPU E5-2699
- GPU:Tesla P100
- mxnet: build from source, `make -j USE_MKLDNN=1 USE_BLAS=mkl USE_OPENCV=1 USE_CUDA=1 USE_CUDNN=1 USE_CUDA_PATH=/usr/local/cuda-9.0
`
- MXNET_TEST_

[2018-11-14 08:04] idealboy opened #13262 "Mxnet is not thread safe with the engine single instance implemented!"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-11-14 08:36] #13262 closed

[2018-11-14 10:53] SamX01 opened #13263 "[Doc]Doc's little error"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-11-14 10:53] larroy commented on #11100
@Chancebair

[2018-11-14 10:54] yajiedesign commented on #13040
@viper7882 Can your 1.2.0 run properly?

[2018-11-14 15:16] asitstands commented on #13187
There is a template specialization for double in gpu. Generic implementation without specialization is not so simple because the underlying curand API  is not generic. It requires an implementation of new a generic random number generator. Actually I have tried to address some issues in random number generation by implementing a new generator common for cpu and gpu (https://github.com/dmlc/mshadow

[2018-11-14 16:03] taliesinb opened #13264 "RNN operator crashes when gradient is requested when is_train=False"
For MXNet release version 1.3.0, the RNN operator is using the `is_train` parameter to decide whether to allocate space it needs for calculating gradients. Therefore if you request gradients during inference, the backward pass will fail when it notices that `init_space_` is `false`.

[code]

This yields the following stacktrace:

[code]

[2018-11-14 16:26] chenyujing1234 opened #13265 "MXNet C++Interface reasoning leads to CPU memory leak"
I am using the c++ interface of mxnet to carry out the reasoning of mtcnn algorithm for face detection.
Environment: Ubuntu16.04.1 + GPU cuda9.0 + MXNet1.3.0
I use the interface: MXPredCreate MXPredReshape MXPredForward MXPredFree...
When I used a lot of pictures for stress testing (running for a long time), I found that my process occupied more and more CPU memory, and eventually it occupied all

[2018-11-14 17:57] KellenSunderland commented on #11516
Can we use -MD instead of -M.  Sounds like it might work around the issue  https://stackoverflow.com/questions/29703938/ccache-doesnt-work-with-gcc-m-flag

[2018-11-14 18:22] yifeim commented on #13247
Thanks for the offers, but I don’t think I need to fix it in a hurry, because I have my workaround. Mxnet for me still seems to have large amount of obvious hacks or bugs, understandably. Nonetheless, I like the better side of mxnet.

I appreciate that you feel this is an sensible suggestion and an obvious thing to do. Will revisit later.

[2018-11-14 18:29] lanking520 commented on #12836
@kalyc No, it's allow the functionalities to do batch correctly, but we still not seen the performance improvement so please keep it open.

[2018-11-14 18:29] Roshrini commented on #12888
This issue seems to be already fixed. @eric-haibin-lin Can you once check https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.take and close the issue?

[2018-11-14 18:29] kalyc commented on #10309
Thanks for reporting the issue @NKUCodingCat, it appears to have been fixed.
Could you close this issue?

[2018-11-14 18:34] kalyc commented on #10883
Thanks for reporting the issue @lovehuanhuan
Have you tried a clean install of mxnet by doing `make clean` and then building the library? Is the problem still persisting?

[2018-11-14 18:36] kalyc commented on #13037
Thanks for reporting the issue @Wallart
Do you mind sharing the code snippet you used and details from your development environment?

[2018-11-14 18:37] #11341 closed

[2018-11-14 18:42] zachgk commented on #13254
@mxnet-label-bot add [Python]

[2018-11-14 18:53] zachgk commented on #13263
@mxnet-label-bot add [Python, Gluon, Doc, Pending Requester Info]

Thanks for helping us improve our documentation @SamX01. Can you provide a link to where the problem is? If you are also interested in contributing to this open source project, you can try making the changes yourself and opening a pull request.

[2018-11-14 18:57] ankkhedia commented on #11542
@kalyc I tried running above code snippet with latest mxnet but it failed.
It seems the PR fixing the same issue has been closed and will be re-worked. https://github.com/apache/incubator-mxnet/pull/12805

[2018-11-14 19:02] kalyc commented on #12728
@sandeep-krishnamurthy could you close this issue?

[2018-11-14 19:05] zachgk commented on #13264
@mxnet-label-bot add [Python, Bug, RNN]

Thank you for submitting the issue @taliesinb! I'm labeling it so the MXNet community members can help resolve it

[2018-11-14 19:13] zachgk commented on #13265
@mxnet-label-bot add [C++, Memory, Bug, Pending Requester Info]

Thanks for raising the issue @chenyujing1234. Can you provide a bit more info so we can better help?

## Environment info (Required)

[code]

## Build info (If built from source)

Compiler (gcc/clang/mingw/visual studio):

MXNet commit hash:
(Paste the output of `git rev-parse HEAD` here.)

Build config:
(Paste the content of config.

[2018-11-14 19:49] lanking520 commented on #12836
@mxnet-label-bot remove [bug]

[2018-11-14 20:18] KellenSunderland commented on #11516
NICE

[2018-11-14 21:30] anirudhacharya commented on #7907
@chowkamlee81 are you still facing this issue. If yes, can you share the code snippet that is producing this error?

[2018-11-14 21:31] anirudhacharya commented on #7907
@mxnet-label-bot remove [Need Triage, Example]

[2018-11-14 22:03] kalyc commented on #13163
@mxnet-label-bot remove [Bug]

[2018-11-14 23:02] eric-haibin-lin commented on #13217
Do you know why this happens? @lgov

[2018-11-14 23:06] kalyc opened #13274 "R test failing intermitently"
## Description
R test failing intermitently

## Environment info (Required)
Test failing on CI and could be flaky

For R user, please provide R `sessionInfo()`:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-13266/1/pipeline

Have been observing above behavior on multiple PRs

[2018-11-14 23:06] kalyc commented on #13274
@mxnet-label-bot add [R, Flaky, CI]

[2018-11-14 23:29] stu1130 commented on #12401
@aaronmarkham after I dived deeper examples. I've captured the current status.

| Model | cpu | gpu | comment |
| ------|:---|---:| -----:  |
|alexnet.cpp |v|v| acc not update|
|googlenet.cpp |?|v|N/A|
|mlp.cpp|v|v|acc not update on gpu|
|mlp_cpu.cpp|v|N/A|N/A|
|mlp_gpu.cpp|N/A|v|N/A|
|mlp_csv.cpp|?|v|acc not update |
|resnet.cpp|?|v|N/A|
|lenet.cpp|v|v|N/A|
|lenet_with_mxdataiter.cpp|v|v|acc not

[2018-11-14 23:36] kalyc commented on #13274
Another PR with similar failure - https://github.com/apache/incubator-mxnet/pull/13256

[2018-11-14 23:41] aaronmarkham commented on #12401
Is v like ✔️ ?
And x like ❌ ?
Is there an issue with "acc not update"? Does this mean it runs the example, but never reports on accuracy? Is that really a problem for an example?

[2018-11-14 23:58] roywei commented on #12401
@aaronmarkham Refer to https://github.com/apache/incubator-mxnet/issues/13243, some models are not trained at all in examples. Params are not updated after each epoch.
@stu1130 Thank for the detailed table, suggest creating a PR to remove[ unnecessary prints](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/example/alexnet.cpp#L278) in alexnet.  Also, update readme on the usage of

[2018-11-15 00:31] #12318 closed

[2018-11-15 00:35] lou-k commented on #12464
@kalyc I still see the same error with the same repo case:
[code]
Perhaps you did not receive the error if you already had commit `fdba6cc9bd3bec9ccd0592fa3900b7fe25d6cb97` in your local remote?

I decent workaround is to just download the release tarball for that version; no problems there.

I've since updated to 1.3.0, so this is no longer an issue for me. I'm closing the issue since (1) there i

[2018-11-15 00:35] #12464 closed

[2018-11-15 00:36] lou-k commented on #12464
Oh and @kalyc thanks a bunch for checking in on it. Certainly nice to have someone working through old issues!

[2018-11-15 01:03] wegel commented on #9974
I seem to have the same problem using the latest nightly (installed yesterday using `pip install mxnet-cu92 gluoncv`.

[code]

[2018-11-15 01:08] harshp8l commented on #10502
@mxnet-lablel-bot update [question, c api]

[2018-11-15 01:10] harshp8l commented on #12141
@mxnet-label-bot update [feature request, c api]

[2018-11-15 01:43] leleamol commented on #13265
@mxnet-label-bot update [Bug, C API, Memory, Pending Requester Info]

[2018-11-15 01:45] leleamol commented on #13248
@mxnet-label-bot update [C API, Question]

[2018-11-15 02:34] mseth10 commented on #12314
@pengzhao-intel Apparently, the issue is not with viRngBernoulli, it is with the streams being generated. In the present code, different seed is passed to vslNewStream for different threads. Making the seeds constant fixes the flaky issue. Please review. Fix in #13276 .

[2018-11-15 04:18] pengzhao-intel commented on #13264
@lihaofd please help take a look for this issue. thanks.

[2018-11-15 11:57] chenyujing1234 commented on #13265
You can get my test code from this address. TKS
https://pan.baidu.com/s/19Wtd_Cf1BGF-2MS3le1mYA

[2018-11-15 11:58] chenyujing1234 commented on #13265
You can get my test code from this address. TKS
https://pan.baidu.com/s/19Wtd_Cf1BGF-2MS3le1mYA

[2018-11-15 11:58] chenyujing1234 commented on #13265
You can get my test code from this address. TKS
https://pan.baidu.com/s/19Wtd_Cf1BGF-2MS3le1mYA

[2018-11-15 11:59] chenyujing1234 commented on #13265
You can get my test code from this address. TKS
https://pan.baidu.com/s/19Wtd_Cf1BGF-2MS3le1mYA

[2018-11-15 14:08] gerkulesov commented on #12877
Are there any news about mxnet-cu100 pip release?

[2018-11-15 14:53] taliesinb commented on #12760
@zheng-da @xinyu-intel Checking in on this again. Any information would be helpful.

[2018-11-15 17:41] stu1130 commented on #11649
@sandeep-krishnamurthy could you please close the issue? @golo314 feel free to reopen it if you have any question!

[2018-11-15 17:48] #10309 closed

[2018-11-15 17:56] szha commented on #12877
@yajiedesign opened an issue and it's currently sitting in https://github.com/pypa/warehouse/issues/4986
Given that, I'm going to start publishing the build artifacts also to s3 bucket, so that at least people can get access while we resolve the size limit.

[2018-11-15 17:59] mzhukova commented on #12710
Hi folks,

@tdomhan, Can you please run the application with MKL_VERBOSE=1, this will help us to determine the MKL version and threading layer.
I guess your issue can be related to Intel OpenMP + fork(), see https://github.com/numpy/numpy/issues/10060.
So, you can also try the workaround -- set KMP_INIT_AT_FORK to false.

Please, let me know what you find out!

Best regards,
Maria

[2018-11-15 17:59] kalyc commented on #6846
Hello @langwei
Were you able to resolve the issue following the steps above?

[2018-11-15 18:14] #13015 closed

[2018-11-15 18:14] #13018 closed

[2018-11-15 18:14] #13019 closed

[2018-11-15 18:17] KellenSunderland commented on #13265
Great bug report @chenyujing1234.  Really appreciate the details.  I'll take a look at this on a best-effort basis (might take a while to verify the leaks on my end).

If anyone else from the community has time to jump on this I think it'd be very useful.  I've seen a lot of reports of leaks from users.

[2018-11-15 18:41] #11649 closed

[2018-11-15 19:18] szha opened #13288 "OpenCV 4.0 Compatibility"
OpenCV 4 is happening soon https://github.com/opencv/opencv/wiki/ChangeLog#version400. The big changes include the switch to C++11 and API changes.

If you have experience trying it out with MXNet, please do share your findings here. Thank you.

[2018-11-15 19:34] fhieber commented on #12710
Hi @mzhukova, thanks for the workaround with `KMP_INIT_AT_FORK=false`! This seems to fix the hanging issue for me.
Here's the version information when running with `MKL_VERBOSE=1`:
[code]

[2018-11-15 20:54] kalyc commented on #7771
Hi @Bumblebee1964 there appears to be no update on your end on this issue
I am requesting to close it at the moment, please feel free to open it if the problem persists.

@mxnet-label-bot add [suggest-closed]

[2018-11-15 20:54] kalyc commented on #7771
@mxnet-label-bot add [suggest-closed]

[2018-11-15 20:58] #12937 closed

[2018-11-15 20:58] #12938 closed

[2018-11-15 20:58] #13002 closed

[2018-11-15 20:58] #13020 closed

[2018-11-15 20:58] #13030 closed

[2018-11-15 21:14] harshp8l commented on #13163
@mxnet-label-bot add [Suggest-Closed]

[2018-11-15 21:15] harshp8l commented on #13163
@mxnet-label-bot remove [sUgGeSt-cloSEd]

[2018-11-15 21:30] zachgk commented on #13233
@mxnet-label-bot add [Example, Python, Profiler]

Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

[2018-11-15 21:32] zachgk commented on #13227
@mxnet-label-bot add [Python]

Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

[2018-11-15 21:41] Wallart commented on #13037
I'm running my code on nvidia-docker containers (Ubuntu 17.10) with CUDA 9.2. I compiled each of my MXNet version from scratch with opencv and mkldnn support.
On the hardware side I'm using 2 GTX 1080Ti.

If we consider the following code snippet, using a dataset in ImageRecord format (approximately 200 images) :

`cls_loss = FocalLoss()
    box_loss = SmoothL1Loss()

    cls_metric = mx.metric.Ac

[2018-11-15 21:46] zachgk commented on #11854
@mxnet-label-bot update [Build]

This issue has not been updated in 90 days and I want to follow up. Do you still have this issue?

[2018-11-15 21:56] zachgk commented on #11914
@mxnet-label-bot update [Bug, Python, Backend, CUDA]

[2018-11-15 22:08] zachgk commented on #12041
@mxnet-label-bot update [Bug, Build, Pending Requester Info]

Can you run our diagnostic script and comment with the output?

[code]

[2018-11-15 22:13] zachgk commented on #13223
@mxnet-label-bot add [Pending Requester Info]

Can you please provide the following info so we can help figure out the problem:

## Environment info (Required)

[code]

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

MXNet commit hash:
(Paste the output of `git rev-parse HEAD` here.)

Build config:
(Paste the content of config.mk, or the build command.)

#

[2018-11-15 22:14] zachgk commented on #9599
@mxnet-label-bot add [suggest-closed]

[2018-11-15 22:29] ThomasDelteil commented on #13248
I think it is not a missing library but a missing header file, have you included `mxnet/c_predict_api.h` in your include flags?

[2018-11-15 22:30] kalyc commented on #9325
@mxnet-label-bot add [suggest-closed]

[2018-11-15 22:31] kalyc commented on #9724
@mxnet-label-bot add [issue-closed]

[2018-11-15 22:31] ThomasDelteil commented on #13219
@WANG-MengJiao `NDArray::WaitAll()` makes you wait for the current operations to complete in the engine. If you don't use that, you would be reading the outputs buffer out of sync with what you expect.

[2018-11-15 22:32] kalyc commented on #10071
@mxnet-label-bot add [suggest-closed]

[2018-11-15 22:33] ThomasDelteil commented on #12825
@samskalicky can you please close the issue? @sandeep-krishnamurthy can you please close the issue the PR has been merged

[2018-11-15 22:33] kalyc commented on #11538
@mxnet-label-bot add [suggest-closed]

[2018-11-15 22:33] kalyc commented on #11743
@mxnet-label-bot add [suggest-closed]

[2018-11-15 22:38] ThomasDelteil commented on #13076
I think the way forward would be to document the feature, the work-around is fairly simple (`.reshape(-1, 1)` your array).

[2018-11-15 22:38] zachgk commented on #8500
@mxnet-label-bot add [suggest-closed]

[2018-11-15 22:38] ThomasDelteil commented on #12973
@nswamy @sandeep-krishnamurthy @indhub can we close the issue? Thanks!

[2018-11-15 22:53] cjolivier01 commented on #11743
closing until requester reopens

[2018-11-15 22:53] #11743 closed

[2018-11-15 22:53] sandeep-krishnamurthy commented on #13206
Will take a look at this.

[2018-11-15 23:06] #12973 closed

[2018-11-15 23:41] kalyc commented on #6272
@MarvinTeichmann your issue has been fixed by this https://github.com/apache/incubator-mxnet/pull/13235#event-1970036707 can you close it?

[2018-11-16 00:14] #8500 closed

[2018-11-16 01:06] mzhukova commented on #12710
Hi @fhieber ,
So, the MKL indeed uses OpenMP threading in this case, which is the root cause of the hang that you observe.
numpy can be forced to use sequential or tbb threading by corresponding MKL_THREADING_LAYER settings. However, as mxnet uses libmklml which support only intel_thread, the good option here will be to use this workaround KMP_INIT_AT_FORK=false.
You can also check version and may

[2018-11-16 01:11] ankkhedia commented on #11895
@whl33886 The issue has been fixed now.
@sandeep-krishnamurthy Could you please close the issue as it has been fixed.
@whl33886 Please feel free to reopen in case closed in error.

[2018-11-16 01:12] #13110 closed

[2018-11-16 01:42] WANG-MengJiao commented on #13219
@ThomasDelteil Thank you for your response. Let me to get this straight. Do you mean without `NDArray::WaitAll()`,  I should read the outputs from sync instead of using `NDArray array = executor->outputs[0]`? Since I am a newbie to MxNet, could you give me some example about how to do that?

Also, from the comments in [feature_extract.cpp](https://github.com/apache/incubator-mxnet/blob/master/cpp-

[2018-11-16 02:05] zachgk commented on #12185
@mxnet-label-bot add [Good First Issue]

@muralibalki As an apache open source project, we always welcome contributions from the community and our users! If you want to contribute, this would be a good issue to get started with. You can find help contributing to mxnet at https://mxnet.apache.org/community/contribute.html.

[2018-11-16 02:10] pengzhao-intel commented on #12710
really appreciate for the help @mzhukova @akalinki

[2018-11-16 02:52] langwei commented on #6846
Try adding
" CUDA_ARCH = -m64   -gencode arch=computer_53 ,  code = sm_53  -gencode arch = computer_53, code=computer_53"
to KNOWN_CUDA_ARCHS in Makefile and compiling.

[2018-11-16 06:14] sriharikarnam commented on #6257
@PistonY
Yes, it is, please review the design doc at cwiki https://cwiki.apache.org/confluence/display/MXNET/Upstreaming+of+Mxnet+HIP+port

[2018-11-16 06:30] chinakook commented on #13265
Are you using a mxnet version that contain MKL-DNN?

[2018-11-16 06:34] chinakook commented on #13245
Yes, building with CMake and building with Makefile are different.

[2018-11-16 09:07] HX1079299660 commented on #8132
I have the same problems for now

[2018-11-16 12:58] CarlosYeverino commented on #13248
Hi @zachgk and @ThomasDelteil ,

thanks for your replay. I managed to fix the issue by copying the compiled files from the directories **lib** and **include** of my cloned repository to **/usr/lib** and **/usr/include** respectively.

**However, I would like to know how to fix the issue using environment variables in Ubuntu insted of copying the files to /usr.**

[2018-11-16 13:58] MarvinTeichmann commented on #6272
Thanks.

[2018-11-16 13:58] #6272 closed

[2018-11-16 16:30] wangxinanbook opened #13300 "Data type error when import onnx model"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-11-16 16:49] aaronmarkham opened #13301 "building 1.2.0 tag fails with tvm error"
## Description
I started a build from scratch to test building docs for this older tag and it fails trying to build MXNet on the 1.2.0 tagged release.
Not sure how big of a deal it is, but... maybe it is. If I recall correctly, there was some history rewrite with TVM.
[code]

[2018-11-16 16:59] TeXniKK opened #13303 "mxnet-cpp package cross-compilation fails with OSError: "wrong ELF class: ELFCLASS32""
## Description
mxnet-cpp package cross-compilation fails with OSError: "wrong ELF class: ELFCLASS32"

## Environment info (Required)
Host system: Ubuntu 18.04.1 LTS  4.15.0-38-generic x86_64
Target system: ARM Cortex-A9 CPU

[code]
## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):
arm-buildroot-linux-gnueabihf-gcc-7.3.0

MXNet commit hash:
85fefa8c7291b556057

[2018-11-16 16:59] pilhoon commented on #5761
The image must be changed to `float32` type for gpu context. (as @piiswrong commented.)

In @Shiro-LK ’s code, add a line as `little_batch = little_batch.astype(‘float32')` after reshaping.

[2018-11-16 17:30] vandanavk commented on #13300
Thanks for reporting the issue and proposing a fix too @wangxinanbook. You could go ahead and raise a PR with this proposed fix. Please verify if all the ONNX import tests pass (tests/python-pytest/onnx/import/mxnet_backend_test.py)

[2018-11-16 17:31] vandanavk commented on #13300
@mxnet-label-bot add [ONNX, Bug]

[2018-11-16 18:31] zachgk commented on #13301
@mxnet-label-bot add [Build, Docs]

Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

[2018-11-16 18:43] PistonY commented on #6257
@sriharikarnam Looking forward to your features.AMD yes!

[2018-11-16 18:44] harshp8l commented on #13301
@mxnet-label-bot add [build, doc]

[2018-11-16 18:59] zachgk commented on #13303
@mxnet-label-bot add [Build, CMake, ARM]

Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

[2018-11-16 19:00] #11895 closed

[2018-11-16 19:09] zachgk commented on #13245
@mxnet-label-bot remove [Pending Requester Info]

[2018-11-16 19:13] #12825 closed

[2018-11-16 19:14] zachgk commented on #13288
@mxnet-label-bot add [Build, OpenCV]

Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

[2018-11-16 19:14] #9413 closed

[2018-11-16 19:15] #9325 closed

[2018-11-16 19:15] #9724 closed

[2018-11-16 19:15] #10071 closed

[2018-11-16 19:15] #11538 closed

[2018-11-16 19:17] ankkhedia commented on #6783
@mxnet-label-bot add [suggest-closed]

[2018-11-16 20:46] #13016 closed

[2018-11-16 20:46] #13017 closed

[2018-11-16 21:33] #13021 closed

[2018-11-16 21:35] #13232 closed

[2018-11-16 21:41] zachgk commented on #10455
@mxnet-label-bot add [Backend, Pending Requester Info]

[2018-11-16 21:46] kohr-h commented on #9686
My 2 cents: The logically flawed all-integer indexing should be fixed:

[code]

In the same way, an array of shape `()` should be convertible to scalar via `asscalar()`, which it currently isn't.

See the discussion [here](https://discuss.mxnet.io/t/rank-0-arrays-in-mxnet-aka-pi-is-wrong/108) for context.

[2018-11-16 21:54] szha commented on #9686
@kohr-h yes, having 0th order tensor support is important. Regarding the approach, we may not want to implement it as an asscalar() call, since that's a blocking call. Instead, we should extend the tensor definition so that calculation involving such scalar can still be asynchronous.

[2018-11-16 22:14] zachgk commented on #8840
@mxnet-label-bot add [C++]

@chenjunweii Does this issue remain with the current version of mxnet?

[2018-11-16 22:18] zachgk commented on #8786
@larroy I noticed there was a PR https://github.com/apache/incubator-mxnet/pull/8788 that says it fixes the problem. Can this issue be closed?

[2018-11-16 22:18] kalyc commented on #13301
Hi @aaronmarkham thanks for submitting this issue - it appears to be similar to https://github.com/apache/incubator-mxnet/issues/10076

Have you checked if `folder nnvm` is present in `3rdparty/tvm/nnvm`? If not - I would suggest doing a `make clean` and using in the latest 3rd party modules from master

[2018-11-16 23:25] aaronmarkham opened #13308 "Scala API docs examples and discussion content & render inaccuracies"
## Description

The Scala API docs are generated using sources that have examples that are pythonic or otherwise not Scala example code. Also scaladocs isn't able to render the rst code that is extracted from the other sources.

Rather than include this info that doesn't render properly and is out of context, it would be better to link to the source material where it renders properly and makes sen

[2018-11-16 23:29] aaronmarkham commented on #13308
Example current display on the Scala API:
![2018-11-16_15-26-11](https://user-images.githubusercontent.com/5974205/48652351-f7c37600-e9b3-11e8-87bd-806c5e5f9953.png)

[2018-11-16 23:30] aaronmarkham commented on #13308
Original discussion begins with this PR and associated issue: https://github.com/apache/incubator-mxnet/pull/13210

[2018-11-17 00:00] #11859 closed

[2018-11-17 00:07] #12314 closed

[2018-11-17 00:10] #8840 closed

[2018-11-17 00:23] #12837 closed, assigned to nobody

[2018-11-17 00:30] stu1130 commented on #12837
@inglada feel free to reopen it if the PR didn't resolve your issue or have any other question

[2018-11-17 00:30] aaronmarkham commented on #13301
I started from scratch, meaning I cloned, and went straight to 1.2.0. That was part of the docs build so I just tried again doing a make clean to see what would happen. Same error.

[code]

[2018-11-17 00:33] aaronmarkham commented on #13301
Updated submodules and got this:
[code]

[2018-11-17 00:46] #13027 closed

[2018-11-17 01:37] eric-haibin-lin commented on #13146
reference: https://www.tensorflow.org/api_docs/python/tf/initializers/truncated_normal
https://github.com/pytorch/pytorch/pull/5015/

[2018-11-17 04:04] ArmageddonKnight opened #13312 "Forward/BackwardResource in OperatorProperty Interface"
Hi,

Sorry but I have a question regarding the `OperatorProperty` interface. Let us take the `RNNProp` as an example:

[code]

I noticed we do not declare ahead of time the shape or the size of temporary workspace that we need. It was not until the actual forward/backward propagation when we say:

[code]

I have two questions regarding the temporary workspace management:

- Am I right in saying th

[2018-11-17 08:18] mengjiexu opened #13313 "error when DataLoader's num_workers is not 0"
when I use:
train_data = gluon.data.DataLoader(
        MyImageFolderDataset(label_len).transform_first(transform_train),
        batch_size=batch_size,num_workers=4)
It shows error:
      Can't pickle local object 'Dataset.transform_first.<locals>.base_fn'

when I use:
train_data = gluon.data.DataLoader(
        MyImageFolderDataset(label_len).transform_first(transform_train),
        batch_size=

[2018-11-17 17:15] NRauschmayr commented on #13113
I am closing this issue because  of https://github.com/apache/incubator-mxnet/pull/13310/files . Thanks Kellen for your help and for fixing this so quickly!

Just to give a brief summary of some offline discussions between me and Kellen: Initially I reported that I got values in the order of ^30 or NaN. It turns out that I was running on a GPU model that was not supported. When switching to a p3 i

[2018-11-17 17:15] #13113 closed

[2018-11-18 03:20] connermcb opened #13314 "Check failure during exec$update.arg.arrays - dims mismatch"
## Description
bucket.plan indices appear not to be updating correctly causing attribute check to fail.

## Environment info (Required)
R version 3.5.1 (2018-07-02)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United Sta

[2018-11-18 06:21] wangxinanbook commented on #13300
Sure @vandanavk

[2018-11-18 13:36] wangxinanbook commented on #13300
I ran the test. It came out another issue on `test_clip_default_min_cpu`,  even I used the master code.  I think this should be fixed elsewhere.  How do you think ?  @vandanavk
[code]

[2018-11-18 19:06] lanking520 commented on #13096
Hi All here is an update with Mac build instruction
[code]
change `Makefile` line 145:
[code]
[code]
I can make Scala work in this way. @zheng-da Could you please take a look here? What will be the influence if I made this change? When I build the Scala package, `'$${ORIGIN}'` return an empty string

[2018-11-18 21:08] zhaoyao73 opened #13316 "C++ tutorials"
C++ tutorials is not up to date with current cpp-package.
Current cpp-package doesn't provide get_mnist.sh anymore.
I will provide a patch for it.

[2018-11-18 23:31] larroy commented on #8786
I guess we can.

[2018-11-19 00:33] lanking520 commented on #13096
@kohr-h Same configuration applied on the Ubuntu 16.04 and passed. I will raise a PR very soon regarding the change to bring MKLDNN into Scala!

@pengzhao-intel I also managed to make Cent OS7 work on CI, please check this PR: https://github.com/apache/incubator-mxnet/pull/13279

[2018-11-19 01:50] vandanavk commented on #12931
@KellenSunderland any inputs on this?
Ref: PR https://github.com/apache/incubator-mxnet/pull/13310

[2018-11-19 02:06] KellenSunderland commented on #12931
@vandanavk  #13310 might take some iterating to get right, but this is also addressed in https://github.com/apache/incubator-mxnet/pull/12469 which is ready to be merged if someone can have a look.

@nchafni So a few questions for you.  First of all at the moment ONNX's proto client needs to be generated before compiling.  Make sure you're doing a

[code]
before compilation.

I'f you've already do

[2018-11-19 02:11] KellenSunderland commented on #12931
Out of curiosity would you also be able to let us know what version of Jetpack you're using?  Would you be opposed to upgrading to a recent version?  We're seeing some solid perf improvements with CUDA 10, TRT5 and CuDNN 7.3 so will likely update the versions used in master soon.  My assumption is that most people using TRT are looking for performance and would likely prefer speed oer

[2018-11-19 02:13] chenyujing1234 commented on #13265
Now my project is stuck here, waiting for your reply. Thank you

[2018-11-19 02:17] KellenSunderland commented on #13104
Looks like this has been addressed by DockerHub, haven't seen a occurrence in some time.

[2018-11-19 02:17] #13104 closed

[2018-11-19 02:18] KellenSunderland commented on #13265
Any chance you could paste the reproducing code on gist.github.com?

[2018-11-19 02:36] KellenSunderland commented on #13265
Looks like I need to install an app to access the files, but no worries, I can likely download the code with a colleague tomorrow.

[2018-11-19 02:50] DuCheng2018 commented on #12041
The bug is fixed after I update mxnet. Thx a lot.

[2018-11-19 02:52] #12041 closed

[2018-11-19 04:57] Adesun commented on #13265
@KellenSunderland
I uploaded the test code attached by @chenyujing1234  to google drive , you can get it  by this[ link ](https://drive.google.com/file/d/1NWSzK9Qv1kBCZMoSfz-OxkKCWmIpoBjv/view?usp=sharing)

[2018-11-19 05:58] zachgk commented on #13308
@mxnet-label-bot add [Doc, Scala]

Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

[2018-11-19 08:09] Bumblebee1964 commented on #7771
Dear Kalyanee,

Thanks for addressing.

Currently we use the Python interface.

We will revert to the C++ api in December using the latest MxNet version. If we still encounter the same problem, we will open the issue.

Regards,

Fred

From: Kalyanee Chendke [mailto:notifications@github.com]
Sent: Thursday, 15 November 2018 21:55
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: F

[2018-11-19 08:54] kimzhengxiaolei opened #13319 "pip install error: Could not find a version that satisfies the requirement pyrealsense2==2.16.1.291 (from versions: ) No matching distribution found for pyrealsense2"
Cannot install pyrealsense2 on MacOS
Saying that
"Could not find a version that satisfies the requirement pyrealsense2 (from versions: )
No matching distribution found for pyrealsense2"

[2018-11-19 09:37] lebeg commented on #13221
@pengxin99 Though I think you have the right setup, we are testing the build with [following parameters](https://github.com/apache/incubator-mxnet/blob/f87db9eed45c208f9c13098205193c4cd41d04ee/ci/docker/runtime_functions.sh#L542-L558):

[code]

I see that `DEV` and `USE_BLAS` differ. Can this be an issue?

[2018-11-19 09:50] lebeg opened #13320 "NightlyTestsForBinaries failed"
## Description

All builds fail after this [run](http://jenkins.mxnet-ci.amazon-ml.com/job/NightlyTestsForBinaries/job/master/135/):

[code]

[2018-11-19 10:12] jlcontreras commented on #13320
[code]

@aaronmarkham option java_docs seems to be missing in the first section of docs/settings.ini

[2018-11-19 13:04] chenyujing1234 commented on #13265
I Build ASAN versin, and test, Found memory leak.
the log is :
https://gist.github.com/chenyujing1234/0449ecf6f502e5c3538e4f2f018a04e1

[2018-11-19 13:38] #13319 closed

[2018-11-19 13:48] lebeg commented on #13303
Yes, interesting issue. @leleamol

@TeXniKK try to do the following as a workaround:

* Do cmake configuration but for the host platform. It will generate the needed `op.h` file.
* Remove the [following section](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/CMakeLists.txt#L9-L17) from the CMakeLists.txt
* Re-configure cmake for cross-compilation

[2018-11-19 14:01] lebeg commented on #12849
The cmake build can be considered as 'true' and should be used instead of make whenever possible. Currently, it's not supported only for 1 case: cross-compilation with CUDA, for example for [Jetson](https://github.com/apache/incubator-mxnet/pull/10530).

The fact that installing does not include the nessesary files probably should be fixed in [CMakeLists.txt](https://github.com/apache/incubator-mx

[2018-11-19 14:17] lebeg commented on #12134
I have fixed this issue with https://github.com/apache/incubator-mxnet/pull/11148 but the PR still has some problems.

[2018-11-19 16:14] #8190 closed

[2018-11-19 16:35] Silence4Allen commented on #3205
same as me

[2018-11-19 17:48] kalyc commented on #7771
Thanks for the update @Bumblebee1964
Could you please close this issue at the moment then?

[2018-11-19 18:00] aaronmarkham commented on #13320
Looks like that should be added. 1.3.0 and 1.3.1 need to be added too.

[2018-11-19 18:17] zachgk commented on #13312
@mxnet-label-bot [Question, Operator, C++]

For questions, please submit them on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
 I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
 Thanks!

[2018-11-19 18:18] zachgk commented on #13313
@mxnet-label-bot add [Bug, Python, Gluon, Data-loading]

Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

[2018-11-19 18:18] zachgk commented on #13312
@mxnet-label-bot add [Question, Operator, C++]

[2018-11-19 18:20] zachgk commented on #13316
@mxnet-label-bot add [C++, Doc]

Thank you for the contributions @zhaoyao73. I am labeling this issue so the MXNet community can help find it.

[2018-11-19 18:31] anirudhacharya commented on #10923
Missing Optimizer tests -
 - [ ] Large batch BSGD
 - [ ] Delay compensation asynchronous SGD
 - [ ] SGLD
 - [ ] AdaDelta
 - [ ] Adamax
 - [ ] Nadam

[2018-11-19 18:35] zachgk commented on #13320
@mxnet-label-bot add [Doc, Build]

[2018-11-19 18:36] larroy commented on #12994
I found out the root cause of this, we are unable to perform graph partitioning on 8 GPUs such as p3.16xlarge or DGX1 when using tree in kvstore. We need to fix graph partitioning and add a regression test.

In this case K-L fails finding a graph partition and the fallback using BFS doesn't seem to work (and is not currently well unit tested).

[2018-11-19 18:45] vandanavk commented on #13300
@wangxinanbook I don't see this error. It seems to pass on my setup

[2018-11-19 19:05] KellenSunderland commented on #13265
Great work, looks like the ASAN build is setup right and detecting errors.  What I would do now is run the offending code in a loop with a fixed number of iterations, then look for a leak that has a multiple of that number.  If there's a genuine leak it should be present there.  For example you could run MXPredCreate, MXPredReshape, MXPredForward and then MXPredFree in a loop 123 times, then look

[2018-11-19 20:51] #7771 closed

[2018-11-19 23:04] zboldyga commented on #13227
I'll check this out tonight and/or tomorrow!

[2018-11-20 01:14] tribbloid commented on #12861
I wonder how did you fix it? I encounter the same problem:
https://stackoverflow.com/questions/53384859/how-to-customise-files-being-copied-into-tmp-directory-when-running-a-local-pip

[2018-11-20 02:02] ChaiBapchya opened #13326 "[Feature Request] Set context for entire file using single command"
It would be a good feature to have a single command

`mx.context.set_context('gpu')`

whereby below that line, all the MXNet functions would be run with the context as `gpu`

Current scenario: Use `ctx` parameter for every single function.

Instead of asking the user to mention `ctx` for every function, one command per file would improve the user experience.

[2018-11-20 02:02] ChaiBapchya commented on #13326
@mxnet-label-bot [add Feature Request]

[2018-11-20 02:32] chenyujing1234 commented on #13265
Some of my test code need to be modified, otherwise the memory overflow error will be reported.
                  include/mxnet_mtcnn.hpp
 42             buffer_.reset(new char[length_ + 1]);
 43             ifs.read(buffer_.get(), length_);
 44             ifs.close();
 45             buffer_[length_] = '\0';

[2018-11-20 03:02] hanzhaogang opened #13327 "Cannot find custom operator proposal Error whiling trying to export a Deformable-ConvNets which is based onmxnet into onnx"
## Description
I trained a model under Deformable-ConvNets([https://github.com/msracver/Deformable-ConvNets](https://github.com/msracver/Deformable-ConvNets)) which is based on mxnet. While trying to export it into onnx format, I hit this error: ` Cannot find custom operator proposal`

 it seems that mxnet cannot find teh `proposal` operator, which I confirmed that is a custom operator defined by

[2018-11-20 03:57] janelu9 opened #13329 "problem about lstm_crf"
![image](https://user-images.githubusercontent.com/24219258/48750595-d1a31c00-ecba-11e8-8e01-4282994a8daa.png)

does this step have any problem?  it may not match this logloss
![image](https://user-images.githubusercontent.com/24219258/48750688-6ad23280-ecbb-11e8-8258-16242599cebd.png)

[2018-11-20 04:30] janelu9 commented on #13329
here is the codes
https://github.com/apache/incubator-mxnet/blob/master/example/gluon/lstm_crf/lstm_crf.py

[2018-11-20 05:59] cchung100m commented on #12205
Hi @vandanavk ,

I'm interested in working on this if no one else has signed up. However this is the first time I'm contributing to mxnet so I may need some hand-holding 😃

By the way, I see lots of Missing class/function docstring, I'd like to know that how to add docstring appropriately, for example, where can I find some references, any suggestions?

Many thanks,

[2018-11-20 06:49] lanking520 opened #13332 "MXNet Python inference crash when copy from CPU to GPU"
## Description
MXNet Python GPU would crash if pass cpu-context image to GPU context model
model download script:
https://github.com/apache/incubator-mxnet/blob/master/scala-package/examples/scripts/infer/imageclassifier/get_resnet_data.sh

If the user defines the image as GPU-contexted, problem solved.

@piyushghai @andrewfayres

Package used:
Python

Build config:
[code]
Build from source also n

[2018-11-20 09:32] larroy opened #13333 "Two C++ unit test failing ACTIVATION_PERF.ExecuteBidirectional ACTIVATION_PERF.TimingCPU"
## Description

C++ unit tests failing  on CPU without MKL

ACTIVATION_PERF.ExecuteBidirectional ACTIVATION_PERF.TimingCPU
ACTIVATION_PERF.TimingCPU

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
sef compiled

## Build info (Required if built from source)

[code]

MXNet commit hash:
64657c2c46f38ac3e87db8a342d3c2bfe7786f28

## Error Message:
[code]

## Minimum reprod

[2018-11-20 09:34] larroy commented on #13333
@mxnet-label-bot labels [Bug,Test,Arm,C++]

[2018-11-20 10:19] chi-hung commented on #11283
Well, I have implemented *GroupNorm*. It's slower than ```nn.BatchNorm```, but it works (as the code below):
[code]
Clearly there are several issues, for example:
* An operator such as ```F.moments()```  (quite common) is not implemented in MXNet yet. Hence, my implementation here could be slow?
* When training with mixed-precision, the above implementation cast a FP16-input into FP32 to avoid los

[2018-11-20 10:41] yajiedesign opened #13335 "MXPredCreate lost dtype"
## Description
when use MXPredCreate with int8.it will  Type inconsistent error.
 I find https://github.com/apache/incubator-mxnet/blob/master/src/c_api/c_predict_api.cc#L213 cause data dtype to lose.And then cause Type inconsistent.

## Environment info (Required)
----------Python Info----------
Version      : 3.6.0
Compiler     : MSC v.1900 64 bit (AMD64)
Build        : ('default', 'Dec 23 2016

[2018-11-20 11:41] wenyangchu commented on #9763
I have the same issue. It happens both when I build with mxnet c++ examples or gluon-cv examples
in gluon-cv/scripts/deployment/cpp-inference
It is a very frustrating experience .. I have compile the source with USE_CPP_PACKAGE=1
I am searching for one working example how to link headers and packages

[2018-11-20 12:27] jacksonxliu opened #13337 "Issues of running MXNET cu-80 with RTX2080, Nvidia-driver-410, CUDA-8.0, 9.0, 9.2"
## Description

Loading MXNET mtcnn model very slow with CUDA8.0.
With CUDA 9.0 or CUDA 9.2, fail to load MXNET forward convolution algorithm, or after processing the forward convolution algorithm, the system would show error if I want to give further instructions, such as print mxnet.ndarray or asNumpy

## Environment info (Required)
Ubuntu 16.04
Nvidia-driver410
GrForce RTX 2080
CUDA 8.0, CUDA 9

[2018-11-20 12:39] larroy commented on #13333
Root cause analisys: This is a problem with dmlc::any and parsing of parameters, at least in ACTIVATION_PERF.ExecuteBidirectional as activation type is not correct when picked up after passing through dmlc::any after argument parsing

[2018-11-20 12:42] larroy commented on #13333
Parsing is correct, as enum ActivationOpType {kReLU, kSigmoid, kTanh, kSoftReLU, kSoftSign};

kTanh is 2 which is correct:

[code]

[2018-11-20 12:45] lebeg commented on #13303
I'm glad you nailed it.

[2018-11-20 14:03] larroy commented on #13333
[code]

[2018-11-20 14:03] larroy commented on #13333
The problem is actually not arm specific, this is happening when not compiling on GPU and not MKL, we are not running those tests in CI.

[2018-11-20 14:05] lebeg commented on #13333
Maybe rename and edit the description of the issue then?

[2018-11-20 15:04] janelu9 commented on #13329
it's difficult to compute Z(t) ，I think the first "logsumexp" may be replaced with "sumexp"

[2018-11-20 15:20] peterzhang2029 commented on #13301
Centos 7 get same issue here.

[2018-11-20 16:21] larroy opened #13341 "MXNET_KVSTORE_USETREE problems"
## Description

Related to #12994
- Kernighan-Lin never succeeds, always goes into exponential algorithm
- Binary Tree depth is calculated wrong (mxnet::kvstore::ComputeDepth)
- Fails to find a tree in p3.16xlarge and DGX1

## Environment info (Required)
MXNET_KVSTORE_USETREE=1 in multi-gpu nodes

[2018-11-20 16:43] larroy opened #13342 "inv_khatri_rao.OneInputMatrixTransposed segfaults on ARM"
## Description

inv_khatri_rao.OneInputMatrixTransposed segfaults on ARM

## Environment info (Required)

ARMv7 using QEMU

mxnet_unit_tests --gtest_filter="inv_khatri_rao.OneInputMatrixTransposed"

reproduction info is sent in a separate PR:  #13334

[2018-11-20 16:57] vdantu commented on #13332
@mxnet-label-bot add [Python, Bug]

[2018-11-20 16:58] vdantu commented on #13333
@mxnet-label-bot add [Bug,Test,Arm,C++]

[2018-11-20 17:01] TeXniKK commented on #13303
@lebeg yep, but still it will be nice to generate some permanent fix for it )

[2018-11-20 17:15] vdantu commented on #13342
@mxnet-label-bot add [C++, Test, ARM, Bug]

[2018-11-20 17:30] vdantu commented on #13329
@mxnet-label-bot add [question, Gluon, Example]

[2018-11-20 17:34] vdantu commented on #13327
@mxnet-label-bot add [ONNX, question, Operator]

[2018-11-20 17:58] kalyc commented on #6846
@langwei could you please elaborate more? If the issue was resolved then could you please close it?

[2018-11-20 18:00] #13032 closed

[2018-11-20 20:09] #13320 closed

[2018-11-20 21:59] larroy commented on #13333
Could reproduce on amd64 with
cmake\
    -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
    -DCMAKE_C_COMPILER_LAUNCHER=ccache \
    -DUSE_MKL_IF_AVAILABLE=OFF \
    -DUSE_CPP_PACKAGE=ON\
    -DUSE_CUDA=OFF\
    -DUSE_OPENMP=ON\
    -DUSE_OPENCV=ON\
    -DCMAKE_BUILD_TYPE=Debug\
    -GNinja ..
ninja -v

[2018-11-20 22:20] larroy commented on #13333
@mxnet-label-bot remove [Arm]

[2018-11-20 23:44] piyushghai commented on #11315
@mxnet-label-bot add [Feature request]

[2018-11-21 00:33] vandanavk commented on #12205
@cchung100m Welcome! :)
It's great that you'd like to work on this and contribute to MXNet.

Here's an example of a class that has docstrings.
`example/ctc/captcha_generator.py`
You could write a class description with attribute information for the classes/functions which show an error. Then execute pylint on that file to confirm that the error is fixed.

Please feel free to reach out for further

[2018-11-21 01:45] chenyujing1234 commented on #13265
Has any result ?

[2018-11-21 05:36] SergazyK commented on #13337
Same with me

[2018-11-21 06:38] pengxin99 commented on #13221
@lebeg I want to test if the `DEV` and `USE_BLAS` will affect the results, but i can not compile success use this two parameters:
` make -j20 DEV=1 ENABLE_TESTCOVERAGE=1 USE_CPP_PACKAGE=1 USE_MKLDNN=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDNN=1 USE_CUDA_PATH=/usr/local/cuda-9.0/
`

                 from include/mxnet/./base.h:32,
                 from include/mxnet/operator_util.h:43,

[2018-11-21 07:34] hanzhaogang commented on #10923
What skills and knowledge are required to write the test code? How do we test operators? Checked the `test_subgraph_op.py` whihc I think should be a test for the subgraph operator in the `incubator-mxnet/tests/python/unittest/` package but still have no idea how to contribute.

[2018-11-21 10:49] dmas-at-wiris opened #13349 "Cannot change grad_req in imported model"
I’m trying to load a pretrained model and fine tune it. Given that I’m using batch accumulation I need to change grad_req to ‘add’. However, when i do this it crashes with the following error:

This issue is also found [here](https://discuss.gluon.ai/t/topic/5766), however no solution was provided.

[2018-11-21 14:09] AustinDoolittle commented on #10567
Any updates @KellenSunderland? That feature sounds very useful.

[2018-11-21 15:12] aaronmarkham opened #13353 "vision model zoo API is unlinked in docs"
## Description
`mxnet.gluon.model_zoo.vision` is not linked up as it should be.
https://mxnet.incubator.apache.org/api/python/gluon/model_zoo.html

[2018-11-21 15:53] vdantu commented on #13353
@mxnet-label-bot add [Doc]

This seems to be coming from the following section in
https://github.com/apache/incubator-mxnet/blob/master/docs/api/python/gluon/model_zoo.md

[code]

[2018-11-21 15:58] vdantu commented on #13349
@mxnet-label-bot add [Question]

[2018-11-21 16:20] vandanavk commented on #13327
@hanzhaogang Thank you for trying this out. The MXNet to ONNX exporter doesn't yet support operators such as Proposal, DeformablePSROIPooling, or Custom. ONNX doesn't have a specification for these operators either.

Having said that, the error that you are seeing is while loading the model, which is before export starts. Could you share the symbol.json and params files?

[2018-11-21 16:57] lebeg commented on #13221
The flag [`DEV`](https://github.com/apache/incubator-mxnet/blob/master/Makefile#L81-L84) should not be relevant, but for openblas to work you probably need to install OpenBLAS first. For Ubuntu it would be as simple as: `sudo apt install libopenblas-dev`

[2018-11-21 21:43] sbodenstein commented on #13337
Support for Turing GPUs (eg 2080) was added in CUDA 10 (https://devblogs.nvidia.com/cuda-10-features-revealed/). CUDA 9 won't allow you to use Turing GPUs. Also relevant: #12877

[2018-11-21 21:45] taliesinb opened #13363 "foreach operator produces corrupt gradients for nodes external to the subgraph when some grad reqs are 'null'"
I'm using macOS, release build 1.3.0, installed from pip. @sbodenstein has also confirmed this bug on Ubuntu 18.04.

The foreach operator produces corrupt gradients for nodes external to the subgraph when some grad reqs are 'null'.

Here's code demonstrating this:

[code]

The output is:

[code]

Every time I run this I get a different value for the second result, showing its probably uninitialize

[2018-11-21 21:56] taliesinb commented on #12760
@zheng-da @xinyu-intel I'm not giving up hope yet 😛

[2018-11-21 23:04] mseth10 opened #13365 "Missing MKLDNN implementation for backward softmax operator"
## Description
While adding unit tests for various MKLDNN operators, I discovered that the backward softmax operator does not have an MKLDNN implementation. Is there any particular reason why it is not currently there? Is it missing and supposed to be added in the future?

## Environment info (Required)
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/softmax.cc#L108
backward

[2018-11-21 23:08] mseth10 commented on #13365
@pengzhao-intel @TaoLv @azai91 Please have a look.

[2018-11-21 23:12] mseth10 commented on #13365
@mxnet-label-bot [MKLDNN]

[2018-11-22 00:11] frankfliu opened #13366 "Missing libgomp.so.1 on fresh ubuntu 18.04"
## Description
On fresh ubuntu instance, mxnet pip package didn't install all required shared libraries:

OSError: libgomp.so.1: cannot open shared object file: No such file or directory

## Environment info (Required)
Here is the step to reproduce:
1. Install fresh EC2 Ubuntu 18.04 c5.4xlarge instance
2. sudo apt-get update
3. sudo apt-get install python-dev
4. sudo apt-get install curl
5. curl -

[2018-11-22 01:41] azai91 opened #13369 "MKLDNN LSTM Regression in MKLDNN 0.17"
We noticed that after the MKLDNN 0.17 update on 11/7 that our lstm models have lower throughput than before. https://www.dropbox.com/s/ifglj7lqcv4fw1q/Screenshot%202018-11-21%2017.41.30.png?dl=0

For Q & A and discussion, please start a discussion thread at https://discuss.mxnet.io

## Description
(Brief description of the problem in no more than 2 sentences.)

## Environment info (Required)

[cod

[2018-11-22 01:42] azai91 commented on #13369
@pengzhao-intel  created this issue to track progress

[2018-11-22 01:49] nswamy commented on #9599
closing due to lack of response from the user.

[2018-11-22 01:49] #9599 closed

[2018-11-22 01:57] nswamy commented on #9695
closing due to no response from the user.

[2018-11-22 01:57] #9695 closed

[2018-11-22 01:58] nswamy commented on #9517
closing due to no-activity

[2018-11-22 01:58] #9517 closed

[2018-11-22 02:12] MaeThird opened #13370 "the official image-classification predict-cpp demo crashed if..."
In the '**example/image-classification/predict-cpp**' demo, if I comment out the "predict" process,the code would be crashed.I mean **initialize the PredictorHandle but not do the predict the demo would be crashed with or without the MXPredFree(pred_hnd) doesn't matter**.
In my case I must split away the "**initialize of PrdictorHandler**" with "**forward process**" as is really necessary in the p

[2018-11-22 02:50] janelu9 commented on #13329
it  may be a divergence on how to comprehend 'exp' in the logloss

[2018-11-22 03:07] pengxin99 commented on #13221
@lebeg Thanks, and I build with openblas, but still can`t reproduce this issue, i want to know if this issue appear every time in your envrionment?

- `make -j20 DEV=1 USE_MKLDNN=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDNN=1 USE_CUDA_PATH=/usr/local/cuda-9.0/`
- MXNET_TEST_SEED=241519495

[WARNING] *** test-level seed set: all "@with_seed()" tests run deterministically ***
[INFO] Setting test np/mx/p

[2018-11-22 06:52] chenyujing1234 commented on #13265
I've solved one the memory leak problem caused by using reshape functions in the CPU version.
Cause:  PredictorHandle object is not released after calling Reshape.
==================
But there will still be memory leaks in reasoning on gpu, but I don't know how to compile the version of ASAN. Can you help me to compile the version of ASAN of GPU-cuda 9.0?

[2018-11-22 07:20] pengzhao-intel commented on #13369
Thanks to create the issue and we will submit PR to fix soon.

[2018-11-22 07:42] pengzhao-intel commented on #13365
Thanks, @mseth10  It is not the performance bottleneck so we didn't integrate previously.
But it is on the plan and we will submit PR soon.

[2018-11-22 10:21] zerolxf opened #13372 "Support sparse as return in topK?"
## Description
why not support sparse as return in [topK](https://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.topk)?

When k is relatively small, it is very sparse.
It is more efficient than "mask" and simpler than "both".Sparse in distributed transmission saves time.
I want to implement the optimizer described in the paper *Sparsified SGD with Memory*, available at https

[2018-11-22 10:44] ChaiBapchya commented on #12453
CI failed with similar error -
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12749/67/pipeline/1111

[code]

[2018-11-22 11:24] DuCheng2018 opened #13373 "How to release GPU memory by CPP interface?"
I need to do a forward propagation at first, and then do another one in the same process.
If gpu memory malloced by the first propagation can not be released, the second one will not have enough memory to use.
How to deal with it ?

[2018-11-22 12:37] lebeg commented on #11905
Possibly related https://github.com/apache/incubator-mxnet/pull/12160

[2018-11-22 12:37] lebeg commented on #9744
Possibly related https://github.com/apache/incubator-mxnet/pull/12160

[2018-11-22 12:38] lebeg commented on #8532
Possibly related https://github.com/apache/incubator-mxnet/pull/12160

[2018-11-22 14:04] kohillyang opened #13374 "[Bug] ValueError: There are multiple outputs with name "resnetv1b0_layers1_relu0_fwd_output"."
Outputs of diagnose.py:
[code]

Error Message:
[code]
related issues:
[#12795](https://github.com/apache/incubator-mxnet/issues/12795)

# Minimum reproducible example
[code]

[2018-11-22 16:18] qilei123 opened #13375 ".."
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-11-22 19:35] vdantu commented on #13375
@qilei123 : What is this created for? If you have suggestions on how to log an issue, could you create a PR for this template? This should otherwise be closed.

@sandeep-krishnamurthy : I think this issue can be closed.

[2018-11-22 19:37] vdantu commented on #13374
@mxnet-label-bot add [Gluon, Question, Bug]

[2018-11-22 19:37] vdantu commented on #13373
@mxnet-label-bot add [C++, Question]

[2018-11-22 19:40] vdantu commented on #13365
@mxnet-label-bot add [MKLDNN, operator, question]

[2018-11-22 19:41] vdantu commented on #13366
@mxnet-label-bot add [Python, pip, installation, question]

[2018-11-22 19:42] vdantu commented on #13363
@mxnet-label-bot add [Operator, question]

[2018-11-22 19:43] vdantu commented on #13369
@mxnet-label-bot add [MKLDNN, Performance]

[2018-11-22 19:53] vdantu commented on #13370
@mxnet-label-bot add [C++, Example, Question]

[2018-11-22 19:54] vdantu commented on #13372
@mxnet-label-bot add [Operator, Question]

[2018-11-22 22:46] lebeg commented on #13221
Maybe it is not an issue anymore, feel free to introduce a PR that reverts the disabling of the test.

[2018-11-22 23:37] #13141 closed

[2018-11-23 01:31] marcoabreu commented on #13372
@eric-haibin-lin

[2018-11-23 02:19] hanzhaogang commented on #13327
@vandanavk I am really sorry that due to the policy of our company I cann't share them here.  I will try to reproduce this issue with some protrained models, after that I can provide those files here.

[2018-11-23 03:15] DuCheng2018 commented on #13373
I find a interface named MXNDArrayFree( ) and MXSymbolFree( ) in c_api.h of mxnet. But when I use them, they do not work well.

[2018-11-23 03:50] hanzhaogang commented on #13220
Hard to trace. Can't find the  gen_op module in the current package while working on this line:
`from .gen_op import * # pylint: disable=unused-wildcard-import`

[2018-11-23 06:20] coconutyao commented on #12923
Hello, sorry to reply so late. This problem no longer occurs after changing the engine type of MxNet from the default ThreadedEnginePerDevice to ThreadedEngine. I hope this can give you some clues.

[2018-11-23 06:40] janelu9 commented on #13329
I have resolved this theoritically bug. the new result is numerical stability

[2018-11-23 08:47] muhyun opened #13380 "mxnet bind fails in nvidia jetson tx2 (jetpack 3.3, cuda 9.0) in aws greengrass env."
A python code to load an mxnet model fail in bind() function on Nvidia Jetson TX2 (JetPack 3.3), where mxnet is installed using AWS Greengrass's pre-built binary. The model is resnet-50 based transfer learning one.

- nvidia jetson tx2 with jetpack 3.3
- ubuntu 16.04
- python 2.7
- mxnet 1.2.1

[code]

The error message is;

`[2018-11-22T10:21:41.559Z][FATAL]-[10:21:41] src/storage/storage.cc:119:

[2018-11-23 08:57] MaeThird commented on #13370
ha ... the "always the same as the first forward's output" is my fault.Sorry about this.But the crash caused by comment out "predict" still happened in the official demo.

[2018-11-23 09:39] zerolxf opened #13381 "[Feature Request] Support CSRNDArray in kv_store"
## Description
In distributed training, communication takes up a lot of time. In order to compress the communication time, an optimization method is to make the gradient sparse.

But for now kv_store doesn't support push CSRNDArray values.
Although support for this feature may cause other problems, right?

For example, for CSRNDArray format

But kv_store probably transfers multidimensional arrays

[2018-11-23 15:12] gigasquid opened #13384 "[Clojure] - Port Scala Inference to Clojure Package"
The Scala package has a very nice inference package. It would be nice to port it to the Clojure API.

Here is the scala code https://github.com/apache/incubator-mxnet/tree/master/scala-package/infer/src/main/scala/org/apache/mxnet/infer

It would involve creating the corresponding Clojure namespaces and doing the correct interop with the code. It would also need the corresponding unit tests. https

[2018-11-23 15:19] chenyujing1234 commented on #13265
Now GPU reasoning will still have memory leaks, troubled for two weeks, now want to go online, but stuck here. I don't know what you got there?

[2018-11-23 15:20] gigasquid opened #13385 "[Clojure] - Turn examples into integration tests"
Currently we have a good set of examples in the Clojure package but it would be nice to be able to run them as integration/ regression tests whenever we are making changes or getting ready for a release.

Some thought needs to be put into the best way to do this, but one idea is to make them runnable with `lein test` somehow and then have a script that runs through all the directories in the examp

[2018-11-23 15:30] gigasquid opened #13386 "[Clojure] - Remove refer warning"
Currently on the master branch if you run the clojure package, you will see the warnings:

[code]

The reason this is occurring is because a new operator has been added that is brought dynamically by the backend and scala package.

This can be removed by adding it to the `:refer-clojure :exclude` in the
* `ndarray.clj`  - https://github.com/apache/incubator-mxnet/blob/master/contrib/clojure-packag

[2018-11-23 16:09] larroy commented on #13333
ElemwiseShape is asserting because the relu shape is 2, but hardcoded as 3 https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/activation.cc#L176

Introduced in this commit
https://github.com/apache/incubator-mxnet/commit/b2ec05b5ec2164c5d47c040d4bebbe4ff6a1cb8f

PR: https://github.com/apache/incubator-mxnet/pull/10847

The shape needs to be conditioned on the activation function

[2018-11-23 19:57] lanking520 commented on #13375
@qilei123 close this issue due to lack of information. Please feel free to reopen if you complete the information in your issue.

[2018-11-23 19:57] #13375 closed

[2018-11-23 20:10] KellenSunderland commented on #13380
Would you be able to share the model with us?  Does it bind properly if you use the CPU as your context?

[2018-11-23 20:17] KellenSunderland commented on #13337
It shouldn't crash if you use Turing, it should just use a possibly less than ideal PTX version.    This could be related to a recently fixed bug.  Can you see if you can reproduce the issue in version 1.3.1 (which should be released very soon).

[2018-11-23 20:29] KellenSunderland commented on #13133
Would you be able to run a simple test (in which you see a performance difference) and run with nvprof for both cases and post the result.  Just run the same python script you'd normally run and prefix your bash command with nvprof.  This should get you some output when the process finishes that will be useful for determining where the perf difference is.

[2018-11-23 20:39] gigasquid opened #13388 "[Clojure] - Add Clojure to the main website docs install"
Currently Clojure doesn't appear as an option on the main install page of MXNet https://mxnet.incubator.apache.org/install/index.html?platform=Linux&language=Scala&processor=CPU

![installing_mxnet_ _mxnet_documentation](https://user-images.githubusercontent.com/340299/48959822-0a9af500-ef36-11e8-8c56-ad4e67eb42b9.png)

But the default install option should be almost exactly like Scala since it is

[2018-11-24 03:15] cyh-ustc opened #13389 "how to carry out unit test on essential classes"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-11-24 03:17] chenyujing1234 commented on #13133
a solution was found. It's normal not to link openblash

[2018-11-24 03:18] chenyujing1234 commented on #13133
It looks like it's openblash that causes me to use only one CPU

[2018-11-24 03:18] chenyujing1234 commented on #13133
This problem can be closed. Thank you.

[2018-11-24 03:54] #13133 closed

[2018-11-24 05:00] chinakook commented on #13265
You can drop reshape to avoid this.

[2018-11-24 08:03] lupesko commented on #13138
Was able to reproduce with latest MXNet (1.4.0b20181123) and ONNX 1.3.0.

Bouncing this @Roshrini @vandanavk can you guys check out this error and see if you can help?

[2018-11-24 08:06] yemenr commented on #12484
@jasonyu1996 Same question...

[2018-11-24 11:06] jasonyu1996 commented on #12484
It seems that this is indeed a feature in need. Could you please provide some instructions on how this should be implemented? @haojin2 @apeforest @samskalicky

[2018-11-24 11:38] #13386 closed

[2018-11-24 11:39] JWarlock opened #13391 "Gluon: Per-layer learning rate for fine tuning a pretrained network"
Hi!
I want to train a pretrained model, for example, ResNet, where I want to limit the first two layers’ learning rate to lr/100, middle layers ’ learning rate to lr/10, and fully connected layers ’ learning rate to lr.
I’ve only found implementation using native mxnet: https://github.com/apache/incubator-mxnet/issues/2242.
But How to implement it using gluon and gluon.Trainer?

[2018-11-24 11:39] marcoabreu commented on #13389
Hello,

that's correct. We mainly use Python tests to validate our backend. We also have some C++ tests, but for most developers it's simply faster to write them in Python than in C++, hence the focus on Python.

Best regards,
Marco

[2018-11-24 13:07] MXLHELLO commented on #6785
hello~but I still can not solve this problem.because I can't use pip to install the mxnet-cu80 if the version is less than 0.10.0 .and the mxnet-cu80 remain the same problem

[2018-11-24 13:07] MXLHELLO commented on #6785
hello~but I still can not solve this problem. Because I can't use pip to install the mxnet-cu80 if the version is less than 0.10.0 .and the mxnet-cu80 remain the same problem

[2018-11-24 17:17] marcoabreu commented on #13380
Great news. Would you mind explaining what you had to change so other users who face the same issue know how to approach the problem? Thank you!

[2018-11-24 18:05] anujsrc commented on #13388
@gigasquid - I have submitted https://github.com/apache/incubator-mxnet/pull/13393 and in the description, I have requested readers to review MXNet Scala Setup guide as well before using Clojure dependency.

[2018-11-24 18:49] KellenSunderland commented on #13389
Agree with Marco's points, but just wanted to mention that we're certainly open to adding C++ tests for classes like the engine.  I see a number of advantages for having C++ tests:

* First cost and execution time is substantially less for C++ tests.
* Some of the platforms we'd like to support don't have full python installations, and some customers choose not to install python in their build sys

[2018-11-24 18:59] gigasquid commented on #13388
Awesome! Thank you 💯

[2018-11-24 21:09] ieee8023 opened #13395 "Cannot import alexnet model from pytorch with ONNX"
I cannot import the alexnet model from pytorch. I receive this error:

[code]

Here is code to reproduce the issue
[code]

[code]

[2018-11-25 05:10] vdantu commented on #13381
@mxnet-label-bot add [KVStore, Feature request]

[2018-11-25 05:18] vdantu commented on #13389
@mxnet-label-bot add [c++, question, test]

[2018-11-25 05:20] vdantu commented on #13391
@mxnet-label-bot add [gluon, question]

[2018-11-25 06:24] dbsxdbsx opened #13397 "Gluon: name issue about example"Actor Critic""
I am referring to the [gluon example: actor critic](https://github.com/apache/incubator-mxnet/blob/master/example/gluon/actor_critic/actor_critic.py).

According to the code in `actor_critic.py`, the true returns of each states is calculated as:
[code]
,which is an Monte Carlo method without bootstrapping.
So I think the name should be `REINOFRCE with Baseline` but not `Actor Critic`. As stated in

[2018-11-25 09:13] qingqing01 opened #13399 "One question about batch norm code when setting use_global_stats True."
In the cuDNN impl of batch norm, the code in `src/operator/nn/cudnn/cudnn_batch_norm-inl.h
` is:

[code]

https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/cudnn/cudnn_batch_norm-inl.h#L211

In the cuDNN impl of batch norm, why the savedMean and savedInvVariance are nullptr when `global_stats` is True?  From the cuDNN doc:

    Inputs. Optional cache parameters containing saved

[2018-11-25 17:36] vdantu commented on #13397
@mxnet-label-bot add [Question, Example]

[2018-11-25 18:30] eric-haibin-lin commented on #13391
You can set the lr_mult attribute:
[code]

[2018-11-25 19:39] gigasquid commented on #13384
@kedarbellare Awesome! No rush. Feel free to ping me here or on slack 😸

[2018-11-25 21:31] lanking520 opened #13403 "Allow Scala to have mixed Symbol/Constant"
[Quote from Email]
I'm trying to figure out how to do something like this
https://github.com/ufoym/mxnet/blob/master/example/vae/VAE.py#L83, however
it seems the Scala Symbol API does not allow the mixing of symbols and constants like the python library does.

 It seems like if I want to use constants in my loss functions I'm going to have to have a very large argsDict when I go to train since eve

[2018-11-25 21:33] lanking520 commented on #13403
@mxnet-label-bot please add [Scala, Question]

[2018-11-25 22:06] lanking520 commented on #13403
Hi Sam, about the line you have pointed:
[code]
I didn't see why you cannot do this. In fact, this piece of python code did not mix with constant, they are all Symbols (mu, logvar...). Could you please point to the code you have so we can help you out?

[2018-11-25 23:55] srochel commented on #13369
@pengzhao-intel - added this issue to tracker of open issues for release 1.4.0. Appreciate resolution before code freeze on November 27, 2018.

[2018-11-26 02:57] pengzhao-intel commented on #13369
@srochel I am working with MKL-DNN team to fix the issue and will back the ETA to you.

[2018-11-26 06:17] DuCheng2018 commented on #13373
I find that GPUPooledStorageManager::Free() reuse the memory pool instead of releasing it. And GPUPooledStorageManager::ReleaseAll() clear the memory pool. However, in NDArray Class, GPUPooledStorageManager::ReleaseAll() is never used.
What if I imply release function in Class of StorageImpl and call it in NDArray::Chunk::~Chunk()?

[2018-11-26 08:15] safrooze opened #13407 "ONNX export makes incorrect assumption about label names"
## Description
ONNX implementation in mx2onnx.export_model:export_model() makes multiple incorrect assumptions about the symbolic graph which makes its implementation very fragile to any graph that doesn't fit its assumptions.

Incorrect assumptions:
1. Order that data is fed to network is the order that `sym.list_inputs()` lists them:
    * This is an incorrect assumption because the order data i

[2018-11-26 11:17] intgogo commented on #13313
Same problem in windows server 2016.

[2018-11-26 14:18] allgrom commented on #12514
I had the same problem. First, I manually changed symbol.json file by adding to it the key "attrs" with the following parameters {"axis": "1", "eps": "1e-03", "fix_gamma": "True", "momentum": "0.9", "use_global_stats": "False"}. But after conversation the output  in onnx was different from the output of the original model.
PR #12787 solves this problem without adding the key "attrs", but the resul

[2018-11-26 14:21] hodarahmati commented on #3311
@thirdwing    The provided link doesn't work, is it possible too see the complete code somewhere?

[2018-11-26 16:46] aaronmarkham opened #13410 "ARM QEMU test in CI failed unrelated PR"
## Description
Test with ARM QEMU fails with some kind of network interruption...

Makes wonder about these network issues where dependencies fail to download... should we put in a retry function, so that we don't have to restart our PRs when there's a transient error?

## Error
[code]

[2018-11-26 17:01] vdantu commented on #13407
@mxnet-label-bot add [onnx]

[2018-11-26 17:03] vdantu commented on #13410
@mxnet-label-bot add [ARM, CI, test, question]

[2018-11-26 17:07] sam-h-bean commented on #13403
So in the line I pointed to there is that ```0.5``` that needs to be a symbol variable or you need to ```import org.apache.mxnet.SymbolConversions._``` to get something like this to work.

[2018-11-26 17:10] lanking520 commented on #13403
Thanks for your reply! The implicit methods in there should not have much diff in performance. Please let me know if you see a performance decrease after implementing it with Scala

[2018-11-26 17:23] asilvas commented on #11911
Possibly related problem. We had no update to Sharp since our successful upgrade to v0.21 weeks back. But now running into the illegal instruction error on startup (Alpine 3.4.1). No changes at all from what I can tell (we use Docker images), which is interesting part. Any chance an instruction set is being disabled for security reasons (Spectre has wreaked havoc)? I'll continue to investigate fro

[2018-11-26 18:14] vrakesh commented on #13380
@muhyun Requesting details on the steps you followed to resolve the issue, This would help other users, when they run into similar problems.

[2018-11-26 18:30] Roshrini commented on #13407
Thanks Sina for creating issue for it. I am aware of this issue and started working on the fix for it https://github.com/apache/incubator-mxnet/pull/12946 but got sidelined by other things. I will rebase the PR with latest changes and continue working on the fix.
I also have added optional parameters "label_names", "label_shapes"([name, shape]) to export_model API.

[2018-11-26 21:30] vrakesh commented on #10455
@majia-yu Are you still facing this issue? Requesting a reproducible example for the same (magic.py)

[2018-11-26 21:31] vrakesh commented on #13223
@gjtjx are you still facing this compilation error? Requesting you to provide build info, so that we can reproduce this issue on our end .

[2018-11-26 21:39] vrakesh commented on #12280
@mqtlam A PR was merged fixing this issue,  requesting a verification of resolution.

@mxnet-label-bot add [Pending Requestor Info]

[2018-11-26 21:40] vrakesh commented on #12280
@mxnet-label-bot update [Pending Requestor Info]

[2018-11-26 21:41] vrakesh commented on #12280
@mxnet-label-bot add [Pending Requester Info]

[2018-11-26 22:46] zachgk commented on #12523
Closing since PR #12827 was merged

[2018-11-26 22:46] #12523 closed

[2018-11-26 22:54] vrakesh commented on #7973
@junxigauss Requesting an explanation on the solution, it would help all users , if they run across a similar issue.

[2018-11-26 22:56] vrakesh commented on #13222
@maomaochongchh Closing the issue, due to inactivity, feel free to reopen the issue, with the requested information.
@sandeep-krishnamurthy Requesting to close this issue due to inactivity

[2018-11-26 23:20] vrakesh commented on #4659
@szha Has this issue been resolved? I have not been able to reproduce the exact issue, It stalls to fail only when GPU runs out of memory, I have been able to spawn more than 10 workers with the example script. I see a related PR has been merged in dmlc/gluon-nlp repo

[2018-11-27 00:09] vrakesh commented on #8573
@eLvErDe Are you able to build mxnet successfully? If so can this issue be closed?

@mxnet-label-bot add [Pending Requestor Info]

[2018-11-27 00:10] vrakesh commented on #8573
@mxnet-label-bot add [Pending Requestor Info]

[2018-11-27 00:34] vrakesh commented on #8091
@ahriy Requesting to close the issue, if it is no longer a problem

[2018-11-27 00:34] vrakesh commented on #8091
@mxnet-label-bot add [Pending Requester Info]

[2018-11-27 00:38] majia-yu commented on #10455
@vrakesh no, everything is fine thanks

[2018-11-27 00:38] #10455 closed

[2018-11-27 00:58] vrakesh commented on #6846
@langwei requesting an update on your comment above, has the issue been resolved?

[2018-11-27 01:06] KellenSunderland commented on #13380
I'm guessing you'd just have to re-run the Jetpack installation wizard and ensure you select the correct packages for drivers, cudnn, cuda and tensorrt. @muhyun, correct me if I'm wrong.

[2018-11-27 01:14] vrakesh commented on #8367
@GengZ Has your question been answered? If so requesting you close this issue.

[2018-11-27 01:45] vrakesh commented on #7080
@eric-haibin-lin requesting an update on this bug, has this been resolved?

[2018-11-27 03:10] szha commented on #4659
@leezu might still have some issue with it so let's wait for his comment too.

[2018-11-27 03:39] leezu commented on #4659
Here is an updated test case

[code]

Here Cuda is initialized on the parent process before calling the child processes. You may argue, that GPU operations in the child processes should not be supported, but then the situation must be handled gracefully, ie. throw some error on the Python side and not the C++ side. But let's accept the current C++ exception. Even then, if we only want to do CPU wo

[2018-11-27 07:02] szha commented on #12877
I've been working towards an event recently so unfortunately, I haven't got to this yet. I will try to find some cycles on this around 12/3

[2018-11-27 11:30] sbodenstein commented on #13337
@KellenSunderland: are you sure about this? Both PyTorch and TensorFlow have a lot of issues open about this (eg [this](https://github.com/tensorflow/tensorflow/issues/23341)), and articles written about it (eg [this](https://medium.com/@saitejadommeti/building-tensorflow-gpu-from-source-for-rtx-2080-96fed102fcca) "The major issue being CUDA-9 is not aware of the latest GeForce RTX 2080 and its ar

[2018-11-27 14:01] #13222 closed

[2018-11-27 14:36] TaoLv opened #13421 "MKL-DNN deconvolution runs into crash"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-11-27 14:40] TaoLv commented on #13421
@azai91 Please take a look at this. I notice there are comments in #11778 are not addressed and may be related to this issue: https://github.com/apache/incubator-mxnet/pull/11778/files#r234581473

[2018-11-27 15:56] JackwithWilshere commented on #4224
@yajiedesign I still met this problem

[2018-11-27 17:06] #13388 closed

[2018-11-27 17:41] kohr-h commented on #13135
Update: I just ran the minimal example on the same machine under Linux (although with CUDA 10), and the error is the same:
[code]

I'll remove the Windows label.
@mxnet-label-bot remove [Windows]

[2018-11-27 17:48] #9417 closed

[2018-11-27 19:17] vrakesh commented on #13421
@mxnet-label-bot add [MKLDNN, Bug]
@TaoLv Thank you for sharing the issue, and providing information on related issue.

[2018-11-27 19:17] eric-haibin-lin commented on #13381
Yes! I am also thinking about doing this. I am curious - what's your use case?

[2018-11-27 19:42] vrakesh commented on #13263
@SamX01 Are you still facing this issue, if so requesting a link to the the doc problem.

[2018-11-27 19:51] azai91 commented on #13369
Performance pre-mkldnn 0.17 (commit: 498e03da7ce420a48050fcd363aacb8dec2516f7)

2018-11-27 19:46:30,234 Epoch[0] Batch [0-50]	Speed: 31.46 samples/sec	perplexity=5543.863167
2018-11-27 19:47:14,732 Epoch[0] Batch [0-100]	Speed: 35.96 samples/sec	perplexity=3904.193633
2018-11-27 19:47:59,995 Epoch[0] Batch [0-150]	Speed: 35.35 samples/sec	perplexity=3247.239610
2018-11-27 19:48:49,773 Epoch[0] Bat

[2018-11-27 20:51] vrakesh commented on #11962
@jiajinyu Have you tried kvstore dist_syn?, and when you say difference how much of a difference do you observe?

If you can share a reproducible example it would be great.

[2018-11-27 20:53] vrakesh commented on #9814
@Ishitori Are you still facing this issue? Were you able to follow the documentation above, to have it working consistently? Requesting an update

[2018-11-27 20:57] azai91 commented on #13369
Performance on current master (with regression) - consistent with with chart
Avg: 211.5
[code]

[2018-11-27 21:31] #11218 closed

[2018-11-27 21:48] vrakesh commented on #9396
@DickJC123 Requesting an update regarding the issue, have the recent version(s) of the mxnet solved the issue for you?

[2018-11-27 21:50] vrakesh commented on #9874
@Caenorst Has the performance, loss been negated post @zheng-da 's PR? If so requesting to close the issue.

[2018-11-27 22:09] #12888 closed

[2018-11-27 22:24] pengzhao-intel commented on #13369
@azai91 please try the patch I sent to you by email. The final fix will go into MKL-DNN 0.17.1 and I will update to this release for MXNet.

[2018-11-27 22:51] azai91 commented on #13369
@pengzhao-intel is the patch the latest version of mkldnn (84b2a5ae025c2730bb02e41b2fbf2f7b132f655c)

[2018-11-27 23:16] eric-haibin-lin commented on #13220
It's most likely due to the float conversion in https://github.com/apache/incubator-mxnet/blob/f5ba2678f077b58d31d31029f680f93b313e1cea/src/operator/math_functions-inl.h#L43-L61

[2018-11-27 23:40] anirudhacharya opened #13429 "Wrong documentation in Optimization API"
NDAbs should not show under Optimization API

![screen shot 2018-11-27 at 3 38 05 pm](https://user-images.githubusercontent.com/2778341/49118800-94123600-f25a-11e8-9d98-c8217fafd9de.png)

@aaronmarkham

[2018-11-27 23:40] anirudhacharya commented on #13429
@mxnet-label-bot [Doc, Bug]

[2018-11-27 23:40] vrakesh commented on #8510
@Luo-Liang Have you tried fixed seed for initialization as per @ThomasDelteil's suggestion? Requesting to close this issue, if the issue is resolved.

[2018-11-28 00:02] azai91 commented on #13369
  | Pre-0.17 (498e03da7ce420a48050fcd363aacb8dec2516f7) | Master | Patch
-- | -- | -- | --
  | 267.69 | 190.68 | 275.22
  | 279.78 | 176.55 | 267.68
  | 320.43 | 194.2 | 267.94
  | 285.07 | 201.84 | 310.52
  | 295.73 | 232.32 | 289.49
  |   |   |  
  |   |   |  
  |   |   |  
  |   |   |  
  |   |   |  
Average | 289.74 | 199.118 | 282.17

[2018-11-28 00:17] pengzhao-intel commented on #13369
Thanks, @azai91 I am working with MKL-DNN team to make the patch release out.

[2018-11-28 00:34] #8786 closed

[2018-11-28 00:41] aaronmarkham opened #13430 "install page selector logic broken"
## Description
Based on how the selector appears to be designed, you add multiple classes to a div and they will share the same content. It doesn't work when you get to the version level.
The following code should work to share common content:
[code]
It doesn't work. All of the versions get the top code block.
Then if you break it out and use:
[code]
You get the same output for every version all a

[2018-11-28 01:31] chenjunweii opened #13434 "Inference with C++ using gpu on tx2 got error"
I got following error when I used c++ api to inference on tx2 with cuda

The codes works on my x86 pc, no matter cpu version or gpu version,

but failed on tx2 with cuda

those errors happened when I dump the NDArray with the following code

`cout << exe->out[0] << endl;`

by the way, is there any api like

mx.contrib.tensorrt.tensorrt_bind

in c++ version ?

--- Error ----

[01:20:50] src/nnvm/le

[2018-11-28 01:46] vrakesh commented on #13430
@mxnet-label-bot add [Doc]

[2018-11-28 01:49] vrakesh commented on #13434
@chenjunweii Thank you for reporting the issue, requesting reproducible example on the same. That would help us dig deeper into the issue

[2018-11-28 01:50] vrakesh commented on #13434
@mxnet-label-bot add [C++, ARM, Edge Devices]

[2018-11-28 01:54] vrakesh commented on #8239
@aseyboldt Are you still seeing this issue, there has been some related PR merges to this issue, If you no longer see this on your side, requesting you to close this.

[2018-11-28 02:19] RajathSwaroop opened #13435 "error building mxnet with cuda"
Build from source fails with gcc 6.4 and cuda 9.1.

Tried using USE_F16C=0 but does'nt help.

Here is the log:

/usr/local/cuda-9.1/bin/nvcc -c -o build/src/operator/contrib/deformable_convolution_gpu.o -std=c++11 -Xcompiler -D_FORCE_INLINES -O3 -ccbin g++  -gencode arch=compute_30,code=sm_30 -gencode arch=compute_35,code=sm_35 -gencode arch=compute_50,code=sm_50 -gencode arch=compute_52,code=sm_5

[2018-11-28 02:53] ahmadudin commented on #12575
Is there any example on how i can use tensorrt on mxnet using c++ ?

[2018-11-28 02:54] haimeh commented on #13114
I am getting the same issue with the latest cu100 build of version 1.3.1 (20181119_mxnet_x64_vc141_gpu_cu100)
cpu works:
`mx.nd.array(5,ctx = mx.cpu())+mx.nd.array(5,ctx = mx.cpu())`
`10`
gpu mystery error:
`mx.nd.array(5,ctx = mx.gpu())+mx.nd.array(5,ctx = mx.gpu())`
`Error in mx.nd.internal.array(src.array, ctx) :
  [19:49:18] c:\jenkins\workspace\mxnet\mxnet\src\storage\pooled_storage_manager.h

[2018-11-28 06:01] #8367 closed

[2018-11-28 13:41] zerolxf commented on #13381
I want to implement the optimizer described in the paper "Sparse Communication for Distributed Gradient Descent" , available at https://arxiv.org/abs/1704.05021

I tried to modify the value of NDArray directly through index, but it was a bit slow.

[2018-11-28 14:04] aravindhv10 opened #13437 "Memory leak in c++ api"
I am using the c++ api mxnet, I have attached the program. There seems to be significant memory leak due to the line "exec->Backward();", am I doing anything wrong (valgrind shows the memory leak is due to calls in opencv but I have not included or used any of the opencv functions here) ?

(please check the attachment for the program "program.cpp")

## Description
Memory leak when using c++ api.

[2018-11-28 14:13] taliesinb commented on #13363
@marcoabreu This isn't a question, this is a bug.

[2018-11-28 14:13] taliesinb commented on #12760
@zheng-da @xinyu-intel Any info?

[2018-11-28 14:31] junrushao1994 commented on #12760
@zheng-da I am struggling to graduate recently, and has been staying up late to 4am almost every day during these two weeks. I am afraid I don’t have enough capacity.

[2018-11-28 16:26] samskalicky opened #13438 "libc getenv is not threadsafe"
## Description
getenv() calls in libc are not threadsafe according to:

https://rachelbythebay.com/w/2017/01/30/env/
and
https://github.com/xianyi/OpenBLAS/issues/716

There are indirect calls to dmlc::GetEnv() all across the mxnet codebase, here are a few:

https://github.com/apache/incubator-mxnet/blob/266de6bef4da5769431557288d41fab2a02e52ca/src/engine/threaded_engine_perdevice.cc#L79
or
https:

[2018-11-28 17:07] Chancebair opened #13439 "[Test Failure] R: CPU"
Build failure error in http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/2038/pipeline

[code]

[2018-11-28 17:20] marcoabreu opened #13440 "Nvidia Jetson compilation in CI is broken"
Details are available in https://github.com/apache/incubator-mxnet/pull/13402

[2018-11-28 20:37] vrakesh commented on #13439
@Chancebair Thank you for reporting the build failure.

[2018-11-28 20:37] vrakesh commented on #13439
@mxnet-label-bot  add [Build]

[2018-11-28 20:40] vrakesh commented on #13438
@samskalicky Thanks for identifying the thread safety issue

[2018-11-28 20:40] vrakesh commented on #13438
@mxnet-label-bot add [BLAS]

[2018-11-28 20:43] vrakesh commented on #13435
@RajathSwaroop Thank you reporting the issue, could you provide detailed setup of the runtime? Including OS, hardware , Python versions e.t.c. Also requesting more information on steps used in the build process.

[2018-11-28 20:46] gigasquid opened #13441 "[Clojure] Add Spec Validations for the Random namespace"
It would be nice to add some spec validations to the random namespace https://github.com/apache/incubator-mxnet/blob/master/contrib/clojure-package/src/org/apache/clojure_mxnet/random.clj

So that if a user calls a function with the incorrect arguments, it will guide them to the correct form.

Using the `util/validate` function as in https://github.com/apache/incubator-mxnet/blob/master/contrib/cl

[2018-11-28 20:47] vrakesh commented on #13438
@mxnet-label-bot remove [BLAS]

[2018-11-28 20:50] vrakesh commented on #13435
@mxnet-label-bot [Build, CUDA]

[2018-11-28 20:50] vrakesh commented on #13435
@mxnet-label-bot [CUDA]

[2018-11-28 20:52] vrakesh commented on #13438
@mxnet-label-bot add [Backend, Bug]

[2018-11-28 20:57] gigasquid opened #13442 "[Clojure] Port ResourceScope to the Clojure Package"
It would be nice to port `ResourceScope` to the Clojure package to have a standard way to manage memory among the JVM languages

https://github.com/apache/incubator-mxnet/blob/master/scala-package/core/src/main/scala/org/apache/mxnet/ResourceScope.scala

Completing this would involving the correct interop to call the functions and use it in an idiomatic Clojure way. It would also involve creating

[2018-11-28 21:03] RajathSwaroop commented on #13435
Here are the details.

OS: Ubuntu 16.0.4 64-bit
Hardware: Intel I7 7700HQ 16 Gb RAM, GTX 1070 GPU laptop
Python version - 2.7

Installed Cuda 9.1, opencv 3.1 and tried building using

cmake ..  in build directory
and also make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda-9.1 USE_CUDNN=1

however both the build processes failed with and without USE_F16C=0 flag

[2018-11-28 21:04] harshp8l commented on #13163
@mxnet-label-bot add [build]

[2018-11-28 21:04] harshp8l commented on #13163
@mxnet-label-bot add [Build]

[2018-11-28 21:04] harshp8l commented on #13163
@mxnet-label-bot remove [Build]

[2018-11-28 21:04] harshp8l commented on #13439
@mxnet-label-bot add [build]

[2018-11-28 21:34] samskalicky commented on #13438
I found a set/get in MXNet for MXNET_CPU_WORKER_NTHREADS:
![image](https://user-images.githubusercontent.com/1541993/49183630-34776180-f312-11e8-9df8-2a2295d77b43.png)

[2018-11-28 21:35] samskalicky commented on #13438
FYI @KellenSunderland and @larroy

[2018-11-28 22:10] larroy commented on #13438
@samskalicky I don't think the problem is running different processes, one process shouldn't affect the other in terms of environment and per separation of the process space. The problem is using getenv / setenv from the same process in different threads, as is the case from the code you linked.

[2018-11-28 22:10] larroy commented on #13438
Could you decode the stack trace via c++filt?

[2018-11-28 22:30] larroy commented on #13438
[code]

[2018-11-28 22:33] larroy commented on #13438
Looks like the evidence points to where we suspected, initialize.cc We should rework that code.

[2018-11-28 22:35] larroy commented on #13438
[code]

[2018-11-28 22:49] azai91 opened #13445 "MKLDNN gradients incorrect with hybrid called with static_shape=True and train_mode=False"
When a gluon network is hybridized with static_shape=True and train_mode=False the gradients are different from when hybridized is not called.

Unit test for this has been disabled (https://github.com/apache/incubator-mxnet/pull/12411/files#diff-962bd5bb7248659d7eb3be37ee8a4c6bR1246). To reproduced just change the following line to:

[code]

For Q & A and discussion, please start a discussion thre

[2018-11-28 22:58] vrakesh commented on #13437
@aravindhv10 Thank you for reporting the leak issue.

[2018-11-28 22:59] vrakesh commented on #13437
@mxnet-label-bot add [C++, Bug]

[2018-11-28 23:00] vrakesh commented on #13445
@mxnet-label-bot add [MKLDNN, Gluon]

[2018-11-28 23:02] vrakesh commented on #13445
@azai91 thank you for reporting the issue, requesting to add an example of the gluon network code being used for reference.

[2018-11-28 23:05] vrakesh commented on #13435
@mxnet-label-bot add [build]

[2018-11-28 23:27] zachgk opened #13446 "flaky test: test_random.test_randint_generator"
test_random.test_randint_generator in "Python 3: GPU Win" failed on the CI at http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-13364/4/pipeline/1096/ for an unrelated PR https://github.com/apache/incubator-mxnet/pull/13364. Error log shown below:

[code]

[2018-11-29 00:35] zachgk commented on #13446
Another example at http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-13364/5/pipeline/1097. The flaky test was introduced in https://github.com/apache/incubator-mxnet/pull/12749

[2018-11-29 00:39] NRauschmayr opened #13448 "SIGABRT when running with MXNet 1.3.0.post0"
Following up from this thread: https://discuss.mxnet.io/t/gluoncv-pikachu-killing-jupyter-on-p3-2x/2309/4

The example code from https://gluon-cv.mxnet.io/build/examples_detection/finetune_detection.html crashes with SIGABRT on a new p2 instance (DLAMI (Ubuntu) 18.0, which comes per default with the MXNet version: 1.3.0.post0). The example works fine with MXNet 1.3.1.

Find attached the output of

[2018-11-29 00:49] harshp8l commented on #13163
@mxnet-label-bot add [Build]

[2018-11-29 00:50] zachgk commented on #13446
Another from different PR https://github.com/apache/incubator-mxnet/pull/13105 http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-13105/6/pipeline/1093

[2018-11-29 01:31] pengzhao-intel commented on #13369
@azai91 done, ping the v0.17.1

[2018-11-29 01:45] vrakesh commented on #13448
@NRauschmayr Thank you for reporting the issue

[2018-11-29 01:46] vrakesh commented on #13448
@mxnet-label-bot add [Memory]

[2018-11-29 03:21] zheng-da opened #13449 "significant performance regression in SpMV"
It seems https://github.com/apache/incubator-mxnet/pull/12380 causes significant performance regression in SpMV. It causes about 3 times slow down on p3.16x. The main reason is that the PR causes a small number of omp threads to perform computation.

Here is the minimal code for reproducing the bug. It seems the problem occurs only when a model is initialized with multiple GPUs.

use the code belo

[2018-11-29 03:39] #12872 closed

[2018-11-29 03:45] zheng-da opened #13451 "Gluon dense layer gets segfault on large arrays when MKLDNN is built in MXNet."
The code below gets segfault when MKLDNN is built in MXNet.

[code]

[2018-11-29 06:16] pengzhao-intel commented on #13451
Thanks for the case. MKL-DNN has the plan to support large inputs and will back you later.

[2018-11-29 06:57] TaoLv commented on #13451
@mxnet-label-bot add [MKLDNN, Gluon]

[2018-11-29 07:00] yifeim commented on #10840
May I follow up what is the current state of einsum? It is convenient at times and most useful, perhaps, for its autograd computation.

[2018-11-29 09:43] TaoLv commented on #13451
Currently MKL-DNN doesn't support large dimension (> INT_MAX) and that will be change in the v1.0 release of it. Before that, we need fallback the computation to MXNet if the input/output dimension is larger than INT_MAX.
@zheng-da Do you know if large NDArray is already enabled in MXNet or it is just an effort ongoing? Do we need to change MKL-DNN backend in the coming release?

[2018-11-29 09:55] MartinRenaudin commented on #11868
I am seeing the same issue too!

- USE_NNPACK = 0 --> build OK
- USE_NNPACK = 1  --> build NOK

I followed the NNPACK installation guidelines from https://mxnet.incubator.apache.org/faq/nnpack.html too!
is there any update or known fix for this ?

[2018-11-29 11:58] gigasquid opened #13453 "[Clojure] - Add Spec Validations to the Optimizer namespace"
It would be nice to add some spec validations to the optimizer namespace https://github.com/apache/incubator-mxnet/blob/master/contrib/clojure-package/src/org/apache/clojure_mxnet/optimizer.clj

So that if a user calls a function with the incorrect arguments, it will guide them to the correct form.

Using the util/validate function as in https://github.com/apache/incubator-mxnet/blob/master/contri

[2018-11-29 13:47] geoalgo opened #13454 "Model loading became very slow after #11001"
## Description

The PR (#11001) introduced a checked in SymbolBlock.imports that makes the loading of large graph takes very long time (it used to be instantaneous):

The issue is the code checking if any symbol is row_sparse, removing this check allows to load large model instantaneously again.

## Environment info (Required)

----------Python Info----------
Version      : 3.6.5
Compiler     : GC

[2018-11-29 13:59] marcoabreu commented on #13341
#13343

[2018-11-29 14:20] larroy opened #13455 "MaxIntegerValue is buggy"
## Description
This code doesn't do what it claims, and does it wrong. Just filing an issue so I don't forget to add a fix.

https://github.com/apache/incubator-mxnet/blob/master/src/common/utils.h#L666

[2018-11-29 14:41] geoalgo commented on #13454
It will be great to test loading a large graph to avoid such regression (the model I attached could serve as a unit-test).

[2018-11-29 15:33] Thelta opened #13457 "Questions about MXPredCreateMultiThread"
Hello, I have been trying trying to use MXPredCreateMultiThread on my project. There are few questions I have.

1. I have [asked](https://discuss.mxnet.io/t/reusing-mxpredcreatemultithreads-predicthandles/1944) about using reusing PredictHandles. For those who didn't say clicked the link, short answer is it fine as long as it is used in same thread. Will it be possible to reuse it in different thr

[2018-11-29 15:50] Rajat-Mehta commented on #11015
I am facing the same issue. I am using :
Ubuntu 14.04
CUDA : 9.2
CUDNN_MAJOR : 7
mxnet : 1.3.0
Installed mxnet with : pip install mxnet_cu92

Any idea why I am getting this error?

[2018-11-29 16:36] larroy commented on #13438
as you said, what about libraries like openmp which might access the environment variable without a lock.  We could try monkey patching getenv with our own wrapper at link time or runtime. Best is not to use setenv after we have multiple threads running.

[2018-11-29 17:14] marcoabreu opened #13459 "Upgrade CMake to at least 3.10 for NVCC Ccache support"
We need to upgrade to at least 3.10 in order to support CCache for NVCC: https://github.com/pytorch/pytorch/issues/8433

Details available at https://gitlab.kitware.com/cmake/cmake/issues/16953

We currently run CMake 3.5.1

[2018-11-29 17:33] larroy commented on #13341
issue remains, let's reopen

[2018-11-29 17:44] anirudh2290 commented on #13326
mx.test_utils.set_default_context does this.

[2018-11-29 17:44] #13326 closed

[2018-11-29 19:24] aaronmarkham opened #13461 "docs error on dgl_subgraph"
## Description
Sphinx warning/error.

## Error
[code]

[2018-11-29 19:27] aaronmarkham opened #13462 "docs error in edge_id"
## Description
Sphinx warning/error.

## Error
[code]

[2018-11-29 19:53] vrakesh commented on #13449
@zheng-da Thank you for reporting the regression in sparse matrix vector multiplication.

[2018-11-29 19:54] aaronmarkham commented on #13462
@mxnet-label-bot add [docs]

[2018-11-29 19:54] aaronmarkham commented on #13461
@mxnet-label-bot add [docs]

[2018-11-29 19:55] vrakesh commented on #13454
@geoalgo Thank you for reporting the performance regression in , model loading.

[2018-11-29 19:55] vrakesh commented on #13454
@mxnet-label-bot add [Performance]

[2018-11-29 19:58] vrakesh commented on #13455
@mxnet-label-bot add [Bug]

[2018-11-29 20:03] vrakesh commented on #13457
@Thelta Thank you for your questions
1. Regarding this,
     There was an answer in the forum 3 days ago, perhaps that answers your question?

     https://discuss.mxnet.io/t/reusing-mxpredcreatemultithreads-predicthandles/1944

     Note: That MXNet is not thread safe, PredictHandles created should be fine as long as they are in the same thread.

2. This one I am not sure, I will let someone else

[2018-11-29 20:03] vrakesh commented on #13457
@mxnet-label-bot add [Question]

[2018-11-29 20:05] vrakesh commented on #13459
@mxnet-label-bot add [Build, CMake]

[2018-11-29 20:09] vrakesh commented on #13461
@mxnet-label-bot  add [doc]

[2018-11-29 20:10] vrakesh commented on #13462
@mxnet-label-bot add [Doc]

[2018-11-29 20:11] vrakesh commented on #13461
@mxnet-label-bot add [Doc]

[2018-11-29 21:26] aaronmarkham opened #13466 "docs rendering issue with gluon.Trainer"
## Description
Properties aren't rendering properly:
https://mxnet.incubator.apache.org/api/python/gluon/gluon.html?highlight=trainer#mxnet.gluon.Trainer

[2018-11-29 22:01] vrakesh commented on #13466
@mxnet-label-bot add [Doc, Good First Issue]

[2018-11-29 22:11] aaronmarkham opened #13468 "Running the mxnet scala jar in the interpreter throws an error"
## Description
If you try following the docs for Scala --> NDArray, it uses the interpreter. The latest jar doesn't work in the interpreter.

You can recreate this by running:
[code]

Then paste in one of the examples:
[code]
## Errors
First one you see:
[code]
Then you also get:
[code]

[2018-11-29 22:11] aaronmarkham commented on #13468
@mxnet-label-bot Add [Scala]

[2018-11-29 22:49] anirudhacharya commented on #13439
this is not a build failure. it is a flaky test failure

[2018-11-29 23:34] ThomasDelteil commented on #13454
Looks like there might be some issue with the `.get_internals()` function which is the true bottle neck, some quadratic complexity maybe.

[2018-11-29 23:40] yifeim opened #13470 "revive mxnet from malloc errors plus an interesting usage pitfall"
## Description
Mxnet often appears dead after malloc errors from either user's inaccurate memory estimation or [normal usage](https://github.com/apache/incubator-mxnet/issues/10453). However, this is not entirely the case; we observed a pattern that can "revive" mxnet from malloc errors. It is worth investigating the pattern to potentially allow people to try-catch malloc errors and retry with dif

[2018-11-29 23:43] aaronmarkham commented on #13410
More ARM CI issues here:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12977/2/pipeline
[code]

[2018-11-29 23:44] eric-haibin-lin commented on #13470
@anirudh2290 any idea when exception will be gone and when they persist?

[2018-11-29 23:46] srochel commented on #13439
@anirudhacharya - please elaborate why you think
"}, "could not find function \"mx.ctx.default\"", quote(mx.ctx.default())) at R-package/tests/testthat/test_img_seg.R:157" is a flaky test?

[2018-11-30 00:06] anirudhacharya commented on #13439
@srochel Still investigating the root cause, but it is a test failure because it failed in the `make rpkgtest` step which is run after the `make rpkg`( which builds the package) is run successfully. And it is flaky because it is not consistently reproducible.

But unlike most flaky tests it does not seem to be a precision issue with output values, but I still need to root cause why the interpreter

[2018-11-30 00:28] samskalicky commented on #12255
Hey Guys, we need to start getting consistent in what and how were testing this.

Here was I tried:

1. spin up a C5.large instance with DLAMI v19.0
2. pip install mxnet-cu90 --user
3. time python -c "import mxnet"

Here was the output:

real	0m24.955s
user	0m0.827s
sys	0m0.189s

Doing it a second time resulted in the following (and for every subsequent time too).

real	0m0.855s
user	0m0.798s
sys

[2018-11-30 01:48] janelu9 commented on #13329
`    def _forward_alg(self, feats):
        # Do the forward algorithm to compute the partition function
        alphas = [[0.] * self.tagset_size]
        alphas[0][self.tag2idx[START_TAG]] = 1
        alphas = nd.array(alphas)

        # Iterate through the sentence
        for feat in feats:
            alphas_t = []  # The forward variables at this timestep
            for next_tag in range(se

[2018-11-30 01:48] janelu9 commented on #13329
`    def _forward_alg(self, feats):
        # Do the forward algorithm to compute the partition function
        alphas = [[0.] * self.tagset_size]
        alphas[0][self.tag2idx[START_TAG]] = 1
        alphas = nd.array(alphas)

        # Iterate through the sentence
        for feat in feats:
            alphas_t = []  # The forward variables at this timestep
            for next_tag in range(se

[2018-11-30 01:49] janelu9 commented on #13329
`    def _forward_alg(self, feats):
        alphas = [[0.] * self.tagset_size]
        alphas[0][self.tag2idx[START_TAG]] = 1
        alphas = nd.array(alphas)
        for feat in feats:
            alphas_t = []  # The forward variables at this timestep
            for next_tag in range(self.tagset_size):
                emit_score = feat[next_tag].reshape((1, -1))
                trans_score = s

[2018-11-30 01:50] janelu9 commented on #13329
`    def _forward_alg(self, feats):

        alphas = [[0.] * self.tagset_size]
        alphas[0][self.tag2idx[START_TAG]] = 1
        alphas = nd.array(alphas)

        for feat in feats:
            alphas_t = []
            for next_tag in range(self.tagset_size):
                emit_score = feat[next_tag].reshape((1, -1))
                trans_score = self.transitions.data()[next_tag].reshape

[2018-11-30 01:50] janelu9 commented on #13329
`    def _forward_alg(self, feats):
        alphas = [[0.] * self.tagset_size]
        alphas[0][self.tag2idx[START_TAG]] = 1
        alphas = nd.array(alphas)
        for feat in feats:
            alphas_t = []
            for next_tag in range(self.tagset_size):
                emit_score = feat[next_tag].reshape((1, -1))
                trans_score = self.transitions.data()[next_tag].reshape((

[2018-11-30 01:50] DuCheng2018 commented on #13373
I open a feature request, so I close this issue.

[2018-11-30 01:50] #13373 closed

[2018-11-30 01:51] janelu9 commented on #13329
`    def _forward_alg(self, feats):
        alphas = [[0.] * self.tagset_size]
        alphas[0][self.tag2idx[START_TAG]] = 1
        alphas = nd.array(alphas)
        for feat in feats:
            alphas_t = []
            for next_tag in range(self.tagset_size):
                emit_score = feat[next_tag].reshape((1, -1))
                trans_score = self.transitions.data()[next_tag].reshape((

[2018-11-30 01:51] janelu9 commented on #13329
`    def _forward_alg(self, feats):

        alphas = [[0.] * self.tagset_size]
        alphas[0][self.tag2idx[START_TAG]] = 1
        alphas = nd.array(alphas)

        for feat in feats:
            alphas_t = []
            for next_tag in range(self.tagset_size):
                emit_score = feat[next_tag].reshape((1, -1))
                trans_score = self.transitions.data()[next_tag].reshape

[2018-11-30 01:51] janelu9 commented on #13329
[code]

[2018-11-30 02:12] TaoLv commented on #13421
Fixed via #13433 .

[2018-11-30 02:12] #13421 closed

[2018-11-30 05:06] jmaudlin41 opened #13481 "What bugs are running on my phone?"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-11-30 06:01] Luo-Liang commented on #8510
Yes. This is no longer a problem. I have confirmed it's due to initialization.

[2018-11-30 06:01] #8510 closed

[2018-11-30 06:54] gerkulesov commented on #12877
Upload limit for mxnet-cu100 and mxnet-cu100mkl [was increased](https://github.com/pypa/warehouse/issues/4986#issuecomment-442898420) on PyPI!

[2018-11-30 07:08] DuCheng2018 opened #13482 "[Feature Request] Release gpu memory by API."
## Description
When it is required to do a forward propagation at first, and then do another one in the same process,
if gpu memory malloced by the first propagation can not be released, the second one will not have enough memory to use.

[2018-11-30 07:43] hustzeyu commented on #11283
@eric-haibin-lin 楼上的实现ok吗？

[2018-11-30 08:00] zheng-da opened #13484 "flaky test test_gluon_data.test_recordimage_dataset_with_data_loader_multiworker"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-13418/11/pipeline

[code]

[2018-11-30 08:03] zheng-da commented on #13451
@pengzhao-intel @TaoLv This is a critical bug for the DGL release. @apeforest is working on fixing all mxnet operators. could you please fix this one as well. Thanks.

[2018-11-30 08:04] zheng-da commented on #13484
another one here:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-13436/4/pipeline

It seems this flaky test happens pretty frequently.

[2018-11-30 08:58] jasonyu1996 commented on #10840
@yifeim I have actually implemented one based on the high-level interfaces. However, it supports only the Gluon interface. I guess to add support for Symbol I have to move onto a lower abstraction layer, or rely on some missing high-level interfaces (#12484 for example).

@altosaar @roywei @sandeep-krishnamurthy I would be grateful if you can help.

[2018-11-30 11:56] larroy commented on #13438
I don't think we need any mutex. We can just pass any config to the thread as data if we need. Definitely we shouldn't be using the environment to config workers.

[2018-11-30 14:14] devymex opened #13485 "Found bug in caffe convert tool and solved"
With following prototxt, the "_parse_proto" function will return empty "output_name"

[code]

It is because the last layer "sigmoid" has identical bottom and top, making the "_output_name['output']['count']" equals to 2:
https://github.com/apache/incubator-mxnet/blob/9adf2148322547d36dd90045647122a4ea649661/tools/caffe_converter/convert_symbol.py#L152
https://github.com/apache/incubator-mxnet/blob

[2018-11-30 16:22] tianweiy commented on #13337
I also encountered the same error one month ago after the forward pass. However, I reinstall the mxnet today and it works fine for me. I also test that mxnet-cuda100 also works now.

My System setup:
ubuntu 18.04
cuda 9.2, cuda 9.1, cuda 10.0 installed
cudnn v7.3.1 for linux

GPU: RTX 2080
CPU is AMD Ryzen 2600
RAM: 16GB

[2018-11-30 17:29] vandanavk commented on #13395
@ieee8023 Thanks for reporting this issue. I'm able to replicate this issue on my setup, will debug this and update you soon.

[2018-11-30 17:34] samskalicky commented on #12255
I took the script from above and added another loop to try from 1 to 36 processes:

[code]

Here are the results:

5.77136611938
7.65716195107
13.9892320633
16.6815569401
22.9886288643
27.6006569862
30.7331540585
33.8466141224
34.18151021
37.1062369347
43.6272640228
44.1143600941
45.8406460285
46.6692020893
47.8332960606
52.4621579647
56.1070458889
56.8046569824
54.1124491692
65.2930281162
62.0744

[2018-11-30 17:42] KellenSunderland commented on #13337
@sbodenstein I'm pretty sure.  I can test on my machine to trust-but-verify :-).

@tianweiy: that's really interesting that a reinstall fixed your issue.  I wonder if people running into this issue could delete their ~/.nv folder and see if it magically starts working.  What I'm wondering is did people upgrade their card on the same machine?  If so I could see a cubin for the wrong hardware being

[2018-11-30 17:49] aaronmarkham commented on #13484
Another one here:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-13463/2/pipeline

[2018-11-30 18:02] yifeim commented on #10840
See https://github.com/apache/incubator-mxnet/pull/13244 for an example about how to export gluon models.

[2018-11-30 18:13] vrakesh commented on #13470
@mxnet-label-bot add [Feature]

[2018-11-30 18:15] vrakesh commented on #13481
@jmaudlin41 Thank you for posting the issue, requesting to provide more information regarding the issue, system information and a reproducible example.

[2018-11-30 18:15] vrakesh commented on #13481
@mxnet-label-bot add [Pending Requester Info]

[2018-11-30 18:17] vrakesh commented on #13482
@DuCheng2018 Thank you for the feature, request.

[2018-11-30 18:17] vrakesh commented on #13482
@mxnet-label-bot add [Feature]

[2018-11-30 18:19] tianweiy commented on #13337
I am upgrading on a new machine so that I don't think the cache is the problem. I also upgrade the cudnn library which may help to fix the problem.

[2018-11-30 18:20] vrakesh commented on #13484
@mxnet-label-bot add [Flaky, Test, Python]

[2018-11-30 18:22] vrakesh commented on #13485
@mxnet-label-bot  add [Bug]

@devymex Thank you for sharing the issue and the solution, requesting to create a PR referencing this issue, so that we can review and make changes to close this.

[2018-11-30 18:23] vrakesh commented on #13485
@mxnet-label-bot  add [Bug]

[2018-11-30 18:41] #13461 closed

[2018-11-30 18:41] #13462 closed

[2018-11-30 18:59] vandanavk commented on #13395
Related issues: https://github.com/apache/incubator-mxnet/issues/10789, https://github.com/onnx/onnx-mxnet/issues/50.

MXNet expects shape to be an attribute but the more recent versions of ONNX have defined the shape to be a tensor.

[2018-11-30 19:35] zhreshold commented on #13482
I am getting multiple request similar to this one, I think we need a formal C API as well as python API so user can explicitly release gpu memory pool without waiting for program to exit.

[2018-11-30 19:39] vandanavk commented on #12384
PR https://github.com/apache/incubator-mxnet/pull/13068

[2018-11-30 19:39] #12384 closed

[2018-11-30 23:30] Vikas89 commented on #12255
Looks like the processes are stuck at gomp_team_start if I use multiprocessing

[code]

But instead if I use threads, like below, threads don't get stuck.

[code]

Looks like there is issue with fork + openmp ,
We should check if this is related : https://bisqwit.iki.fi/story/howto/openmp/#OpenmpAndFork

[2018-11-30 23:55] anirudh2290 commented on #13449
Looking at this. tried out your example, notice more than 3x speed drop with and without the change.

[2018-12-01 00:20] kalyc commented on #13369
@azai91 looks like this issue has been fixed? Can you verify and close the issue accordingly?

[2018-12-01 00:44] thomelane commented on #13374
+1 also effecting a user here https://discuss.mxnet.io/t/error-when-trying-to-import-a-trained-net-multiple-outputs-with-name/2426

[2018-12-01 00:45] thomelane commented on #13374
Seems that `mx.gluon.nn.SymbolBlock` constructs the graph based on output names, when it should use the index of outputs instead.

[2018-12-01 01:07] samskalicky commented on #12255
I added a 2 second delay between launching each process in the script and found that most processes complete the import between 1.7-1.9 seconds. This 2 second delay prevents processes from competing for resources at the same time. There appears to be some bad contention going on thats causing the large delay. Adding the 2 second delay prevented large exponential increase in import delay. Heres the

[2018-12-01 01:42] anirudh2290 commented on #13449
Found the root cause of the issue: After the PR: #12380 , omp_thread_max_ is mutated in set_reserve_cores. This means for each gpu worker the omp_thread_max_ will keep dropping. For 8 GPU workers, it drops till it it is 1. After this, the dot operator execution internally calls `GetRecommendedOMPThreadCount` which `return omp_thread_max_` which is 1. Thus the dot operator executes on a single thre

[2018-12-01 02:43] zhreshold commented on #13037
@stu1130 Can you have a look?

 I can confirm that the changes made in #12131 breaks the behavior of `next_sample` therefore causing infinite loop to the subclass ImageDetIter in image.detection

[2018-12-01 02:56] stu1130 commented on #13037
@zhreshold ok I'll look into it

[2018-12-01 05:46] zheng-da opened #13504 "flaky test ARMv7 QEMU"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fedge/detail/PR-13436/2/pipeline
[code]

[2018-12-01 05:50] zheng-da commented on #13484
another one here:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-13418/11/pipeline

[2018-12-01 07:03] azai91 commented on #13369
closing.

[2018-12-01 07:03] #13369 closed

[2018-12-01 09:51] devymex commented on #13485
I don't know how to create a  acceptable PR but just did my best here:
https://github.com/devymex/incubator-mxnet/pull/1

[2018-12-01 21:40] thirdwing commented on #3311
@hodarahmati Please use the link below: https://github.com/thirdwing/Cortana-Intelligence-Gallery-Content/tree/master/Tutorials/Deep-Learning-for-Text-Classification-in-Azure/R

[2018-12-01 22:11] ChaiBapchya opened #13506 "Flaky test test_random.test_negative_binomial_generator"
test_random.test_negative_binomial_generator failed for unrelated PR #13226 on CI -
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-13226/2/pipeline/

Error log shown below:
[code]

[2018-12-02 03:15] vrakesh commented on #13504
@mxnet-label-bot add [Flaky, Test, ARM]

[2018-12-02 03:15] vrakesh commented on #13506
@mxnet-label-bot  add [Flaky, Test, Python]

[2018-12-02 03:16] vrakesh commented on #13506
@mxnet-label-bot add [Flaky,Test,Python]

[2018-12-02 04:18] perdasilva commented on #11707
@lebeg should this issue be closed?

[2018-12-02 05:44] ddavydenko commented on #13468
@mxnet-label-bot add [Bug]

[2018-12-02 05:49] eric-haibin-lin commented on #12729
Can be useful for many attention based models.

[2018-12-02 06:04] eric-haibin-lin commented on #13372
@zerolxf the topk op returns the top k values in the tensor of certain axis, and the shape of the output depends on k. Are you suggesting a new return type that returns a sparse mask?

[2018-12-02 12:46] HauWong commented on #3205
Finally I have found the origin of my problem. That's the same name with the package I have given to my directory file. They are both named "captcha". So I guess some conflict occured between them.

[2018-12-03 02:53] haoxintong commented on #13482
+1, for some application it is necessary to release gpu memory.

[2018-12-03 08:11] zhaolili opened #13512 "Clip_gradient setting in gluon.trainer doesn’t work"
[Setting clip gradients in Trainer doesn’t work.](https://discuss.mxnet.io/t/clip-gradient-setting-in-gluon-trainer-doesnt-work/2471)
**mxnet version: 1.2.0**

Below code is used to clip gradients to [-2.0, 2.0]. With this setting, I printed the weights gradients of the last convolutional layer, and it turns out that some gradients are still much larger than 2.0.

[code]

[2018-12-03 08:14] #13512 closed

[2018-12-03 14:35] larroy commented on #12799
@mxnet-label-bot remove ['Flaky']

[2018-12-03 17:29] eric-haibin-lin opened #13513 "[Feature request] Argpartition operator"
Similar to https://docs.scipy.org/doc/numpy/reference/generated/numpy.argpartition.html

[2018-12-03 18:11] samskalicky commented on #13438
In an attempt to reproduce the issue (assuming its coming from simultaneous processes initializing at the same time) I created a cpp engine unit test by modifying tests/cpp/engine/threaded_engine_test.cc and adding the following two functions:
[code]

The handler attempts to capture the segfault and print the stack trace, and the envsegfault test creates a threaded engine object and repeatedly sto

[2018-12-03 19:22] azai91 opened #13515 "MKLDNN Perplexity Issue"
The recent upgrade to to 0.17.1 (https://github.com/apache/incubator-mxnet/issues/13369) has addressed the issue of throughput. However, the the perplexity of the lstm increases dramatically (https://www.dropbox.com/s/lnp1dc9uvwhfcqh/Screenshot%202018-12-03%2011.22.10.png?dl=0).

For Q & A and discussion, please start a discussion thread at https://discuss.mxnet.io

## Description
(Brief descripti