[2018-09-05 17:08] safrooze commented on #12303
Great results @fall4knight! Does it make sense to you that `slice` is about 50% more expensive than `concat` and almost as expensive as `convolution`?

[2018-09-05 17:19] ajosh0504 commented on #10323
Not sure what's going on- I'm trying to train and test a CNN on MXNet:

File "textcnn.py", line 179, in <module>
    curr_loss = nd.mean(loss_result).asscalar()
  File "/home/ubuntu/anaconda3/envs/python3/lib/python3.6/site-packages/mxnet/ndarray/ndarray.py", line 1894, in asscalar
    return self.asnumpy()[0]
  File "/home/ubuntu/anaconda3/envs/python3/lib/python3.6/site-packages/mxnet/ndarray/nd

[2018-09-05 17:26] samskalicky commented on #9032
@helloworldlxb, @azai91  and I are unable to reproduce the incorrect tanh values you reported. If you are still having issues, could you please provide a simple testcase similar to what @azai91 had posted that clearly shows the incorrect values being produced by the tanh activation?

[2018-09-05 17:27] samskalicky commented on #8238
@VikingMew need your help, could you please provide more info about which versions and a complete example of a failing customop?

[2018-09-05 17:38] aaronmarkham commented on #12100
Hi @zheng-da - here is suggested place for this information:
https://github.com/apache/incubator-mxnet/blob/master/docs/tutorials/gluon/hybrid.md

It might also be helpful to clarify these points specifically in the Python documentation.

Let me know if I can help you with those edits. I would put this info in myself, but I fear I'm missing the broader context that you would be able to provide. A

[2018-09-05 17:40] ddavydenko commented on #11458
@mxnet-label-bot, [Thread Safety, Bug]

[2018-09-05 17:48] aaronmarkham commented on #12013
This issue has been resolved.

[2018-09-05 17:48] #12013 closed

[2018-09-05 17:59] haojin2 commented on #12461
Can you share your system info such as CUDA version/driver version? Please use tools/diagnose.py and paste the outputs of it here. I've previously used Ubuntu16.04+CUDA8+CuDNN6+GTX1050 and it worked fine on my end.

[2018-09-05 18:03] haojin2 commented on #12454
So you want to inspect the contents in the data buffer? It'll be a bit tricky here if your buffer is in GPU context, but if it's in CPU context then you can use `LOG(INFO)` plus the data pointer to print specific elements out.

[2018-09-05 18:42] kalyc opened #12465 "Documentation Inconsistent for Sparse Embedding symbol API"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-09-05 18:49] kmezhoud commented on #10791
@hetong007 Yes

[2018-09-05 18:52] anirudhacharya commented on #8705
@sandeep-krishnamurthy please add the label - "Question"

[2018-09-05 18:53] anirudhacharya commented on #7240
@sandeep-krishnamurthy Please label - "Feature Request"

[2018-09-05 18:53] anirudhacharya commented on #7247
@sandeep-krishnamurthy please label - "Bug"

[2018-09-05 18:53] anirudhacharya commented on #7273
@sandeep-krishnamurthy please label - "Feature Request"

[2018-09-05 18:54] anirudhacharya commented on #6925
@sandeep-krishnamurthy please label - "Feature Request"

[2018-09-05 18:54] anirudhacharya commented on #6606
@hetong007 please label - "Feature Request"

[2018-09-05 18:56] hetong007 commented on #10791
@kmezhoud  Can I have your output from `brew info openblas`? It seems to me that your installation of openblas is not valid, or not 0.3.1, however it is the latest version from brew on my system.

[2018-09-05 19:01] szha commented on #12460
try `export MXNET_GPU_MEM_POOL_TYPE="Round"` and see if it stabilizes the memory.

[2018-09-05 19:09] szha commented on #12463
Hi @sbodenstein. Thanks for bringing this up and definitely we are interested in adding its support.

For the RNN part, I hijacked your previous issue #9543 and I brought up the same topic there :)

[2018-09-05 19:15] kmezhoud commented on #10791
@hetong007
[code]

[2018-09-05 19:33] sandeep-krishnamurthy commented on #10087
Resolving via fix from @hcho3 in PR - https://github.com/apache/incubator-mxnet/pull/11873/

[2018-09-05 19:33] #10087 closed

[2018-09-05 19:43] anirudhacharya commented on #10791
@kmezhoud Try to link your openblas installation to v0.3.1 with the following statement and then try `library(mxnet)` on an R console
[code]

[2018-09-05 20:15] kmezhoud commented on #10791
@anirudhacharya it works now 👍
Many thanks

[2018-09-05 20:41] #12248 closed

[2018-09-05 21:54] samskalicky commented on #2910
mx.test_utils.list_gpus()

[2018-09-05 22:44] marcoabreu commented on #12464
@srochel

[2018-09-05 22:48] hankcs commented on #2910
Thanks @samskalicky , you saved my day.

[2018-09-06 00:05] kalyc commented on #12465
I upgraded the mxnet version by running `pip install mxnet --pre --upgrade` and the above error still persists.

System Config -
[code]

I noticed that [changes were made to deprecate contrib.SparseEmbedding on May 7](https://github.com/apache/incubator-mxnet/blob/225f71f744ac5e7bd29868b6d3ba0e4fe2527c43/example/sparse/matrix_factorization/model.py) - they are somehow not reflecting in the latest

[2018-09-06 02:17] pengzhao-intel commented on #9543
Just see the message :(  The variable length RNNin CPU side is scheduled to implement in our Q4.
@ciyongch

[2018-09-06 03:54] apeforest commented on #11468
@nswamy Could you please close this issue since it's not reproducible. Thanks

[2018-09-06 09:30] L1aoXingyu commented on #12334
[code]
This can work.

[2018-09-06 10:27] jasonyu1996 commented on #10840
I have almost finished the implementation, save some polishing and testing. The current solution is not in the backend, but alongside `Block`. To allow one piece of code to support both `ndarray` and `symbol` at the same time, it uses the same idea as `HybridBlock`. The difference is that for `HybridBlock` there might be parameters inside and it is necessary to instantiate and possibly hybridize i

[2018-09-06 16:50] ankkhedia commented on #7968
@jeremiedb Vgg19 transfer learning failed for me and the GPU memory footprint at time of failure was around 15GB while running on Windows. Could you please elaborate on the solution using gc() which you proposed. Also, are you sure if it is not a hardware constraint?

[2018-09-06 17:48] ankkhedia commented on #12428
Hi @some-guy1
Could you please follow CSVIterator example mentioned over here https://mxnet.incubator.apache.org/tutorials/r/CustomIterator.html. Over here , it assumes label to be a part of the input csv file.

[2018-09-06 18:27] ankkhedia commented on #5052
@khalida Please try to run the examples again to see the speedup. In my opinion , you are facing the problem of cold start and hence classsification CPU time is significantly more than other numbers. I also faced a similar issue. While comparing again, I didn't find too much of a difference in speedup for classification/regression example while running on Windows ec2 server.
Classification GPU tim

[2018-09-06 18:28] ankkhedia commented on #5052
@sandeep-krishnamurthy Could you please close the issue as the query has been answered.

@khalida Please feel free to reopen in case of more question or closed in error.

[2018-09-06 18:31] ankkhedia commented on #12439
@smartinsightsfromdata Could you please confirm if your issue got fixed.

@sandeep-krishnamurthy Could you please add the label Pending Requester Info

[2018-09-06 18:31] roywei opened #12470 "foreach operator does not support input's dimension unknown"
## Description
In mxnet symbol, None shape is not supported, however we can use 0 as placeholder dimensions.
See: https://github.com/apache/incubator-mxnet/issues/7981
we can use
[code]
instead of
[code]

But foreach operator will throw error due to check here:
https://github.com/apache/incubator-mxnet/blob/master/src/operator/control_flow.cc#L317

## Error Message:
[code]

## Minimum reproducible

[2018-09-06 18:32] eric-haibin-lin commented on #12465
Hi I cannot reproduce it with the following code:
[code]
[code]

[2018-09-06 18:34] roywei commented on #12470
@mxnet-label-bot [Symbol]

[2018-09-06 19:40] vandanavk commented on #11281
@mxnet-label-bot [Feature request]

[2018-09-06 20:37] jeremiedb commented on #12428
@some-guy1  How did you install the package? I suspect it's a corrupt build you're have. I'm running on 1.3.0 (GPU build on Windows) and the following did work fine:

library(mxnet)

[code]

train-data.csv contains two columns while train-label.csv contains a single column.

[2018-09-06 20:49] vrakesh commented on #12470
@roywei Thank you for reporting the issue and the PR.

[2018-09-06 20:57] #11468 closed

[2018-09-06 21:34] jeremiedb commented on #7968
@ankkhedia I haven't used specifically VGG19, but I just made a run with Inception-BN and it was able to run with around 3 GB on my laptop GPU (1060) with batch size of 32 on 224X224 images.

Which version did you specifically used? Those exploding RAM explosion should have been fixed with the optimizers refactor.  I can try on VGG19 a bit later, but given Inception-BN consumption, I think you mig

[2018-09-06 21:38] ankkhedia commented on #7968
@jeremiedb Inception_BN did work for me but Inception BN is very small model compared to VGG19.
I have tried latest MXNetR GPU build for Windows(cu90)

[2018-09-06 21:50] kepler-cpu opened #12472 "Try to Setup MXnet on Raspberry Pi3 using MXNet installation guide using MAC but fail"
## Description
new to programming... trying to setup MXnet on Raspberry pi3 and following the instruction at
https://mxnet.incubator.apache.org/install/index.html?platform=Devices&language=Python&processor=CPU

trying to use MAC to build the build/mxnet-x.x.x-py2.py3-none-any.whl but run into the following problems ; ps: Docker installed on my MAC

## Environment info (Required)

----------Python

[2018-09-06 22:35] zheng-da opened #12473 "CI fails consistently in test_tvm_bridge"
It seems a lot of PRs fail in the same place.

[code]

[2018-09-06 22:54] KellenSunderland commented on #12142
Hey @Faldict.  (1) Nice machine.  (2) I was wondering if you'd be able to test a pre-release version of MXNet 1.3 from a pip package?  Could you try a pip install mxnet-tensorrt-cu90 ?

[2018-09-06 23:00] some-guy1 commented on #12428
@ankkhedia  the csviter API describes the using two different files for data csv and label csv.

@jeremiedb I just copied and pasted the following into RStudio:

[code]

Have you tried a label csv with more than a single column?  It appears that csv iter is ONLY reading the first column of the csv file even though I said the shape was c(3,3,1)

[2018-09-06 23:05] jeremiedb commented on #7968
Right, vgg16 and 19 crashed on even with very small batch sizes. However, process works fine also with Resnet 34, 50 and 101 (on a 6Gb 1060). Do you know what to expect in term of memory consumption for vgg? Given many other models work fine, not sure if it's a R issue?

[2018-09-06 23:10] ankkhedia commented on #7968
Vgg16 would require more than 12GB  of GPU memory size and vgg19 requires more than 15GB. This numbers are the GPU memory footprint at the time of crash. However, I tried the gc() fix which you mentioned above and the transfer learning do work fine with GPU memory footprint constant at 1.6GB.

[2018-09-06 23:27] jeremiedb commented on #12428
I tried the following with a label.csv having 6 columns and it returns proper array of shape (3,2,1). Note that batch size is ignored in defining the shape of data and label.

[code]

[2018-09-06 23:29] anirudhacharya commented on #12431
@some-guy1 can you please share a small snapshot of these two data files `./matty_inv/A.csv` and `./matty_inv/A_2.csv`

[2018-09-06 23:30] anirudhacharya commented on #12428
@some-guy1 can you please share a small snapshot of the data file you are trying to read - `./matty_inv/A.csv`

[2018-09-06 23:31] some-guy1 commented on #12428
![image](https://user-images.githubusercontent.com/23563452/45190326-77da9c00-b20b-11e8-89bb-5afba3398207.png)

[2018-09-07 01:51] yanhn commented on #11649
Maybe because your gpu is out of memory. This error will not be thrown out during MXNDArrayCreate.
In my case, MXNDArrayCreate can successfully create the first 141 layers' params. But crashed on the 142th. You can have a check on your gpu usage.

[2018-09-07 02:17] fall4knight commented on #12303
@safrooze I think the reason is that in your usecase you set `dilation=512`, in which case the `convolution` is completely skipped according to the optimal algorithm. You can set `dilation` to other commonly used numbers like 1 and see what happens. Thanks.

[2018-09-07 02:17] xinedison commented on #12226
+1, we also agree with memory optimization. When we reimplement some experiment, we always  get stuck with out of memory error if we want to use enough batch size for the experiment. And we found that MXNET_GPU_MEM_POOL_TYPE is not helpful.

[2018-09-07 03:04] Faldict commented on #12142
Hi @KellenSunderland . I have installed mxnet-tensorrt-cu90, but failed to utilize gpu. While running code with gpu context, I meet some errors:

[code]

The cuda version is indeed 9.0. So I wonder what cudnn version it builds on?

By the way, this pip package depends on protobuf 3.5. I wish you could point out critical dependencies. (I reinstalled protobuf 3.5.1 again.)

[2018-09-07 03:11] ShownX commented on #12334
Sometimes, we need to initialize using the other models weights, not only the weights stored on the server.

I proposed this issue for future use since the ```save_params()``` is deprecated in the future. It should be raised because it would be super user-unfriendly.

[2018-09-07 05:34] KellenSunderland commented on #12142
I'm trying to link as many packages as possible statically, but have been unable to do so with protobuf yet.

The no kernel image available is a CUDA warning, but it's not specific to CUDA versions.  It's actually saying the package doesn't include object code compatible with your GPU (which should be compute capability 6.1).

[2018-09-07 05:46] lanking520 commented on #12142
@KellenSunderland +1, I currently holds a decent code that can build all binaries but not protobuf...

[2018-09-07 05:59] lanking520 commented on #12142
@Faldict for CU90 build:
[code]

[2018-09-07 11:16] sbodenstein commented on #9543
@pengzhao-intel: thanks! Thats useful for us to know.

[2018-09-07 12:28] KellenSunderland commented on #12142
Alright, I'm a little limited in what I can ship at the moment due to maximum file sizes in PyPi.  I just pushed a version with static protobuf and JIT compilable GPU operators for Pascal cards.  This may introduce a small delay when you first load the library as CUDA kernels are JIT'd.  This should get you passed the errors you're currently seeing though, so give it an update.

A regular pip upgr

[2018-09-07 17:06] safrooze opened #12478 "Feature Request: randint"
## Description
MXNet has no `randint` implementation and integer sampling can be both limiting and confusing to developers:
* If using random_uniform with 'float32', the range is limited to 16.6M, beyond with there is no one to one mapping between float and int values.
* My tests show that random_uniform with 'float64' seem to address the issue, but this is not obvious to most developers and it ma

[2018-09-07 17:07] safrooze commented on #12478
@mxnet-label-bot [Feature request]

[2018-09-07 17:40] ankkhedia commented on #7968
Hi @jeremiedb It makes sense. Finetuning on larger networks can be achieved using smaller batch size. It worked for me with batch size of 32 for vgg19 and without using gc(). Since adding gc() might affect training performance and slow it down, it makes sense to reduce batch sizer according to the hardware in case the training crashes.

@lichen11 Please try with a reduced batch size and it should

[2018-09-07 18:00] #7319 closed

[2018-09-07 18:19] apeforest commented on #8238
@nswamy @sandeep-krishnamurthy Could you please close this issue. It's been over 90 days without response. Thanks

[2018-09-07 18:20] #8238 closed

[2018-09-07 18:34] opringle opened #12480 "Cannot install mxnet: Could not find a version that satisfies the requirement mxnet"
## Description

When installing mxnet in my python3 virtualenv, I get the following error:

[code]

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using python)

## Error Message:

`Could not find a version that satisfies the requirement mxnet (from versions: )
No matching distribution found for mxnet`

## Steps to reproduce

1. `$ pip install mxnet`

[2018-09-07 18:34] #9032 closed

[2018-09-07 18:49] marcoabreu commented on #12480
Did you try with python3.6?

[2018-09-07 18:51] vrakesh commented on #12472
@kepler-cpu Thank you for reporting the issue, I tried out the docker build path. I am also running into the issue. I am trying various versions of the source repo to see if any of them builds with the docker path.

Also requesting you to try a native build on rasberry pi to see if that works.

@mxnet-label=bot [Bug, Build, Breaking]

[2018-09-07 18:51] vrakesh commented on #12472
@mxnet-label-bot [Bug, Build, Breaking]

[2018-09-07 18:53] vrakesh commented on #12480
@opringleThank you for reporting the issue requesting to try with python 3.6.

@mxnet-label-bot [Installation, Python]

[2018-09-07 18:54] opringle commented on #12480
I did not. I am using python 3.7.

On Fri, Sep 7, 2018, 11:51 Marco de Abreu, <notifications@github.com> wrote:

[2018-09-07 18:55] vrakesh commented on #12461
@johnbroughton2017 Any success with the installation?? were you able to get it running

[2018-09-07 19:00] opringle commented on #12480
I have just tried again with anaconda python 3.6.5 and the issue is resolved. Thank you!

[2018-09-07 19:00] #12480 closed

[2018-09-07 19:12] marcoabreu commented on #12473
The issue is not resolved.

[2018-09-07 20:36] kalyc commented on #12465
Hi, as discussed offline this requires upgrading to the latest version of mxnet v1.3 which I installed using `pip install mxnet --pre --upgrade` for both python2 and python3. Closing this issue at the moment - will wait for the new PIP package to be released to use this API with Keras.

[2018-09-07 20:36] #12465 closed

[2018-09-07 20:52] johnbroughton2017 commented on #12461
@vrakesh @haojin2 Hey guys, really appreciate your feedback.

I was using Ubuntu 16.04+CUDA9+CUDNN7+GTX1050.
The same setup seems to work well with my 1080 card but fails with 1050.
I also have tried on 1060 and it works well.

It's a bit strange to me as I thought all PASCAL card should be supported in the same way.

-- J

PS: Trying the tools/diagnose.py now ...

[2018-09-07 21:18] eric-haibin-lin commented on #12478
https://github.com/apache/incubator-mxnet/issues/11218
@mseth10  did you make any progress on this?

[2018-09-07 21:18] #12473 closed

[2018-09-07 21:45] #5052 closed

[2018-09-07 21:45] #7968 closed

[2018-09-07 21:53] #11816 closed

[2018-09-07 22:32] szha commented on #12478
Duplicate of #11218

[2018-09-07 22:32] #12478 closed

[2018-09-07 22:46] kepler-cpu commented on #12472
Thanks @vrakesh... I am trying the native build as suggested... currently running into the following error msg:
//
liblapack3 set to manually installed.
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following in

[2018-09-08 00:27] cgraywang commented on #9543
@DickJC123 @ptrendx I think the new features are very useful, since we are working on large scale NLP models, where most of the models are based on RNN cells. For example, we need cell state clipping and projection clipping to make the models overcome the possible overfitting. Similarly, it would be very helpful if we can have projection in the RNN cell, in that way, we can improve the memory size

[2018-09-08 00:44] jeremiedb commented on #12428
Can you confirm whether the following is working:

[code]

This has been run on Windows 10 and R 3.5.1 and worked fine.
From the error message provided `symbol$infer.shape(list(...))`, issue seems more related to the network definition.

[2018-09-08 01:01] #11029 closed

[2018-09-08 01:44] some-guy1 commented on #12428
Ok this is confusing living heck out of me.  I ran your code above and iter$value() results in the dimensions I would expect.  Hence, this appears correct.

BUT, I tried again to simply run only my code below

[code]
and I still only get one value in the label.

[code]

Now instead if I run:

[code]

I get

[code]

Is it possible that the label axis is rotated relative to the data axis? Are we sup

[2018-09-08 04:03] jeremiedb commented on #12428
Interesting! Really looks like a bug when the last label axis is set to 1.
As a quick turnaround, what about dropping the 1 axis for all data and label in the csv.iter and perform a reshape within the model architecture?

Something like:

[code]

[2018-09-08 07:16] jasonyu1996 opened #12484 "[Feature Request] Assertion operators"
Hi! I personally would be happy to see assertion operators in MXNet. While they might seem useless for imperative computations (the NDArray API), I believe they are absolutely helpful for declarative computation (the Symbol API), especially when implementing libraries (e.g., implementing a library function that takes as input some symbols and returns the result after performing several symbols), w

[2018-09-08 13:55] kuonangzhe opened #12486 "gluon.nn.SymbolBlock.imports Error"
We use mxnet 1.3.0 on Ubuntu 16.04, python3.5, with model loading method SymbolBlock.imports. Then get error as follows:

[code]

While we tried with mxnet 1.2.1 and the program ran well. There might be some problems in the function but we are not sure. Are there any suggestions?

[2018-09-08 13:58] mariussoutier commented on #12409
Nice, looking forward to it.

[2018-09-08 14:02] mariussoutier opened #12487 "[Scala] PrefetchingIter fails with labels and predictions should have the same length"
## Description

Trying to use a `PrefetchingIter` to combine two `ImageRecordIter`. The two do not have the same number of images, but that shouldn't be a problem, right?

## Environment info (Required)

macOS 10.13.6
IntelliJ 2018.2.2
Scala 2.11.12
Java 1.8.0_121
MXNet 1.2.1

## Error Message:

[code]

## Minimum reproducible example

[code]

[2018-09-08 16:10] vrakesh commented on #12484
@jasonyu1996 thank you for the feature request .

@mxnet-label-bot [Feature request]

[2018-09-08 16:12] vrakesh commented on #12486
@kuonangzhe Thank you for reporting the issue, requesting to share a more detailed reproducible example
@mxnet-label-bot [Gluon, Bug]

[2018-09-08 16:26] vrakesh commented on #12487
@mariussoutier Thank you for reporting the issue.

@mxnet-label-bot [Scala]

[2018-09-08 19:29] #12470 closed

[2018-09-08 19:56] #12406 closed

[2018-09-09 00:07] mash-graz commented on #10698
i want to second this feature request!

although some rather outdated and unmaintained rust-bindings for mxnet already exist ([mxnet-rs](https://github.com/jakelee8/mxnet-rs)) and the utilization of mxnets c-bindings looks more ore less trival given rusts ffi capabilities (see: [rust-bindgen](https://github.com/rust-lang-nursery/rust-bindgen)), i would really like to rust officially supported, rel

[2018-09-09 13:36] some-guy1 commented on #12431
The csv files are identical:
![image](https://user-images.githubusercontent.com/23563452/45265038-bc388880-b413-11e8-8c24-4f78b844a17a.png)

[2018-09-09 13:38] some-guy1 commented on #12428
Ok so I think we are now moving on to a new problem.  I would think the workaround you have posted above should work just fine....but it doesnt.  It causes the entire R environment to crash.

I am getting the exact same symptoms when I setup an iterator based on arrays in memory.  See the following separate issue I submitted:

[https://github.com/apache/incubator-mxnet/issues/12431](https://github

[2018-09-09 13:43] some-guy1 commented on #12431
I can confirm that:

[code]

Results in the expected:

[code]

So I have no idea why the entire R environment crashes when I started the training.  Mxnet states it is starting to train, then everything crashes.

[2018-09-09 23:02] eric-haibin-lin commented on #12464
There was a history rewrite in tvm repo which breaks this.
The commit still exists in my fork https://github.com/eric-haibin-lin/tvm
Could you add this as the remote and see if you can checkout that commit?

[2018-09-09 23:07] eric-haibin-lin commented on #12484
+1
@haojin2 @apeforest @samskalicky

[2018-09-10 00:05] liori opened #12491 "undefined symbol: _ZTVN2cv11_InputArrayE on `make rpkg` when USE_OPENCV=0"
## Description

Building the R package fails if OpenCV is disabled.

## Environment info (Required)

Debian Stable (stretch). R installed from CRAN Debian packages (version 3.5.1). CUDA tools installed from Debian Backports repository. All other tools, including the necessary dependencies, installed from Debian Stretch repository (gcc 6.3).

## Minimum reproducible example

`(git clone --recursive

[2018-09-10 01:45] lengxia commented on #11914
I also encountered this problem, have you solved it?

[2018-09-10 02:08] yufengwhy commented on #10386
数据量较大，reshape有点慢，弄好了通知一声，更新一下代码，@sxjscience

[2018-09-10 03:14] TaoLv opened #12492 "[Doc] No content for building from master source"
Seems this page is not up-to-date:
https://mxnet.incubator.apache.org/install/index.html&version=master#

Also, this page is a litte messy for me:
https://github.com/apache/incubator-mxnet/blob/master/docs/install/index.md

[2018-09-10 06:41] vrakesh commented on #12491
@liori thank you for reporting the issue

@mxnet-label-bot [R, Build]

[2018-09-10 06:44] vrakesh commented on #12492
@TaoLv thank you for reporting the issue
@mxnet-label-bot [Doc]

[2018-09-10 06:52] lupesko commented on #9067
@zhaoningning are you able to provide a script reproducing the issue?

[2018-09-10 07:57] hallazie opened #12493 "ctc_loss with large alphabet size raises CUDA error"
##Enviroment:
python2.7/windows7_64bit
mxnet-1.2.0
Nvidia Driver Version 397.31

## Error Message:
[15:41:28] G:\deeplearn\mxnet\dmlc-core\include\dmlc/logging.h:308: [15:41:28] g:\deeplearn\mxnet\mshadow\mshadow\./stream_gpu-inl.h:62: Check failed: e == cudaSuccess CUDA: unknown error
[15:41:28] G:\deeplearn\mxnet\dmlc-core\include\dmlc/logging.h:308: [15:41:28] g:\deeplearn\mxnet\src\engine\./th

[2018-09-10 08:26] lebeg commented on #12377
Is failing again:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1563/pipeline

[code]

[2018-09-10 09:31] lizhen2017 opened #12497 "Onnx arange op not supported!"
I'm using mxnet 1.3.0 and onnx 1.3, No conversion function registered for op type _arange yet, so the arange function have not been surported?

[2018-09-10 12:45] KellenSunderland commented on #9814
I'm having the same issues as above with version 1.3.

[2018-09-10 12:47] marcoabreu commented on #9814
As far as we can see, it's still broken on CPU. We should add tests for this before we can close the issue.

[2018-09-10 13:44] fgrass commented on #10143
Has the problem been solved?

[2018-09-10 13:53] chinakook commented on #10143
It's an error of VS2017. It's not solved.

[2018-09-10 14:04] KellenSunderland commented on #9814
Sorry it's not well documented but you have to make sure that data is downloaded to the correct folder.  Try changing to the example folder and running the get_data.sh script.

[2018-09-10 15:00] luobao-intel commented on #12377
sorry, I can't reproduce the same result with the same random seed XNET_TEST_SEED=304218922.
In my trial, the test_activation is ok.
The experiment is shown as follows:
# experiment #
## command ##
export MXNET_TEST_SEED=304218922
python /usr/bin/nosetests tests/python/mkl/test_mkldnn.py:test_activation

## log ##
[INFO] Setting test np/mx/python random seeds, use MXNET_TEST_SEED=304218922 to repr

[2018-09-10 16:20] KellenSunderland commented on #12142
The diligent PyPi maintainers have enabled extra storage space for our two packages, and I've uploaded a version that has both Pascal and Volta support included.  I've also statically compiled a number of libraries to make the lib more portable.  Give the new version a shot and see if it addresses your issues.

[2018-09-10 17:16] vrakesh commented on #12493
@hallazie Thank you for reporting the issue. We will look into this
@mxnet-label-bot [CUDA, Operator]

[2018-09-10 17:35] vrakesh commented on #12497
@lizhen2017 thank you for the question

@mxnet-label-bot [ONNX, Question]

[2018-09-10 17:57] apeforest commented on #12493
@hallazie This issue seems to have been resolved in a recent PR: https://github.com/apache/incubator-mxnet/pull/11834

Could you please verify and let me know if you still have issue? Thanks

[2018-09-10 18:13] lou-k commented on #12464
@eric-haibin-lin yes your fork has the commit https://github.com/eric-haibin-lin/tvm/commit/fdba6cc9bd3bec9ccd0592fa3900b7fe25d6cb97

[2018-09-10 18:37] #12168 closed

[2018-09-10 18:39] zheng-da opened #12500 "Print a message to indicate MKLDNN when MKLDNN is compiled into MXNet"
Currently, MXNet doesn't explicitly print a message indicating that MKLDNN has been compiled into MXNet. Such a message can be very useful because a lot of times users can't be certain if they are using an MKLDNN version of MXNet or not.

[2018-09-10 18:42] vrakesh commented on #12500
@zheng-da Thank you for the feature request
@mxnet-label-bot [Feature Request]

[2018-09-10 19:01] lanking520 commented on #12140
Link this Issue to the PR: https://github.com/apache/incubator-mxnet/pull/12489

[2018-09-10 19:05] sandeep-krishnamurthy opened #12501 "Clean up im2rec and rec2idx"
im2rec and rec2idx are tools that are  commonly used utilities in MXNet.
We need to do the following:
1. Make it as an API, available via PyPi.
2. Have good API documentation and include it as part of API docs page on the website.
3. Add end to end example for using these tools as API in code.

[2018-09-10 19:41] andrewfayres commented on #10867
@jessebrizzi Sorry for the slow reply, I've been out on vacation.

As soon as I get a little bit of free time I'll pull down the update you've made to your repository and see if I can reproduce. I mainly checked for the resize issue when I was looking earlier. It's possible there's also a different leak. I definitely agree with moving it to native is our best long term solution but at the moment I

[2018-09-10 19:50] lanking520 commented on #12416
Hi @jesterhazy did this solve your problem?

[2018-09-10 19:59] jesterhazy commented on #12416
@lanking520 i figured out the workaround before i opened the ticket (as noted in the ticket). the problem is that the instructions are wrong.

[2018-09-10 20:02] lanking520 commented on #12416
@jesterhazy thank you. @aaronmarkham can you pick up from here and update the installation instruction for Scala user?

[2018-09-10 20:42] kalyc commented on #10553
@sbodenstein could you close this issue? Looks like it has been fixed.

[2018-09-10 20:43] sbodenstein commented on #10553
Sorry about that, its definitely fixed. Closing.

[2018-09-10 20:43] #10553 closed

[2018-09-10 20:49] kalyc commented on #12437
Hello @smokytheangel0 - looks like this issue has been resolved. Could you please close it accordingly?

[2018-09-10 20:51] ziyuang commented on #12302
Any plans to include a fix in 1.3.0?

[2018-09-10 20:55] zheng-da opened #12503 "It seems the tests in test_contrib_svrg_module are flaky"
I tried running the tests in the master branch. It seems it fails occasionally.
[code]

[2018-09-10 20:57] Roshrini commented on #12497
@lizhen2017 thanks for reporting this issue.
ONNX doesnt have specific "arange" operator. https://github.com/onnx/onnx/blob/master/docs/Operators.md
So, it's not yet supported with import and export with MXNet.

[2018-09-10 21:39] zhreshold commented on #12334
After transition from `save_params` to `save_parameters` it is no longer enforcing prefix check, and it's really error prone if we are going to load partial weights from different models.
So `save_parameters` and `load_parameters` are seriously only for serialization IMO.

As suggested by @L1aoXingyu I think it's safer to copy loaded parameters between each other, at least you will know what param

[2018-09-10 21:58] apeforest commented on #11967
@sandeep-krishnamurthy please close this issue.

[2018-09-10 21:59] kalyc commented on #12497
@lizhen2017 could you please close this issue if your question has been addressed?

[2018-09-10 22:00] apeforest commented on #11297
@marcoabreu Please remove Feature Request and Operator labels. Thanks

[2018-09-10 22:47] thomelane opened #12506 "Simplify `1DConv` to `RNN` in `Sequential` Block"
As far as I'm aware it's not possible to create a `Sequential` Block going from `1DConv` to `RNN` without implementing a custom transpose block. Although simple for the user to implement, I think this network configuration is common enough for us to think about finding an easier way.

## Issue

One potential solution would be to select compatible layouts, but `1DConv` only supports 'NCW' (a.k.a. '

[2018-09-10 22:47] thomelane commented on #12506
@mxnet-label-bot [Feature Request]

[2018-09-10 23:03] samskalicky commented on #7533
@sandeep-krishnamurthy please close this issue as the fix PR is now merged. Thanks!

[2018-09-10 23:26] ShownX commented on #12334
Right now, I meet the issue like:
1. I have a pre-trained model, e.g. resnet trained on my own datasets. Assume it is saved by the function ```save_parameters()```. The key of the saved function would be the format such as ```features.0.0.mean```

2.1. If I just use exactly model but only initialize the features using the pretrained model, the previous function does not work: ```model.features.ini

[2018-09-10 23:44] sandeep-krishnamurthy commented on #11158
@mbaijal - Any updates on this?

[2018-09-10 23:44] #7533 closed

[2018-09-10 23:49] aaronmarkham opened #12510 "CI test failure: test_contrib_svrg_module.test_fit"
## Description
My PR failed CI on an unrelated unittest.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12426/4/pipeline

[code]

[2018-09-10 23:53] aaronmarkham commented on #12510
Also failed on this other PR:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12504/1/pipeline

[2018-09-10 23:54] #11412 closed

[2018-09-10 23:57] aaronmarkham commented on #12510
@StephanieYuan - can you please take a look at this issue? Seems like it is related to your recent contribution. Thanks!

[2018-09-11 00:39] StephanieYuan commented on #12510
@aaronmarkham I'll try to push a fix as soon as possible. Thanks!

[2018-09-11 01:32] xhappy opened #12514 "Exception occurred when convert mxnet model to onnx model"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-09-11 02:30] ShownX commented on #12334
Thanks. Right now, I can use ```save_params()``` to get what I want. But it is deprecated in the future. I want to address this issue when the mxnet team actually decide to deprecate this function and hope can update the functions ```save_parameters()``` or ```load_parameters()```.

There are two cases I mention before. 1. Training the custom dataset with the pre-trained model; 2. Modifying the ba

[2018-09-11 02:53] #12497 closed

[2018-09-11 04:14] anirudhacharya commented on #12377
Failing again - http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-12391/runs/9/nodes/951/log/?start=0

[code]

[2018-09-11 04:40] anirudhacharya commented on #12510
another failure - http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-12391/runs/9/nodes/965/log/?start=0

seems to fail consistently.

[code]

[2018-09-11 04:44] StephanieYuan commented on #12510
@anirudhacharya Flaky tests are disabled temporarily.  Running nosetests seems to be robust locally, will take a further look to see what causes the issue. Thanks!

[2018-09-11 05:27] anirudhacharya commented on #12510
@StephanieYuan use this [falkiness checker](https://github.com/apache/incubator-mxnet/blob/master/tools/flakiness_checker.py) and if the test is not reproducible locally try to replicate it in CI environment. cc: @marcoabreu

[2018-09-11 07:09] kepler-cpu commented on #12472
try native build on pi directly but still get errors when executing the cmake \ commands in the 'Build' section from the instruction

below is the errors I got...
ps: have tried to install the ninja-built but still fail
ninja --version shows 1.3.4
cmake version shows 3.6.2

appreciate any guidance on how to move this forward...

# Error Msg:

pi@test:~/incubator-mxnet/build $ cmake \

-- The C com

[2018-09-11 07:35] luobao-intel commented on #12377
Sorry for that, in previous situation, we confront the situation that element of input data is close to zero.
And we found that the extremely big  difference step, eps, should be blamed. And we turned its value down. However, in current situation, test failure is caused by the small eps for the big  element of  input data.  The smaller the eps is, more calculation steps is required. And for big in

[2018-09-11 08:35] lebeg commented on #12377
PR to disable the test again: https://github.com/apache/incubator-mxnet/pull/12516

[2018-09-11 12:38] asmushetzel opened #12518 "Documentation indices for Random Samplers incomplete"
## Description
All operators that sample from multiple distributions are not referenced in the "Random sampling" section of ndarray- and symbolic-API (sample_uniform, sample_normal, sample_exponential, ....). As a result, they can only be found by browsing through the full API (where they are documented), means that nobody will be aware off them other than by accident.  They had been correctly ref

[2018-09-11 13:26] aligoglos opened #12519 "The specified module could not be found error in OpWrapperGenerator.py"
i want build mxnet with cpp-package but this error occur:
[code]

accord to this [#10049](https://github.com/apache/incubator-mxnet/issues/10049) i put all dependency DLL's to release folder but issue doesn't solved.

----------Python Info----------
('Version      :', '2.7.13')
('Compiler     :', 'MSC v.1500 32 bit (Intel)')
('Build        :', ('v2.7.13:a06454b1afa1', 'Dec 17 2016 20:42:59'))
('Ar

[2018-09-11 14:43] loadwiki commented on #3946
Can I just create multi infer handle in different thread? I've tried in this way and don't work.

[2018-09-11 15:27] StephanieYuan commented on #12510
Disable tests involving floating point calculations,  will try to reproduce locally.

[2018-09-11 16:13] kalyc commented on #12514
Thanks for opening this issue @xhappy
@mxnet-label-bot[ONNX, Question, Exception Handling]

[2018-09-11 16:16] kalyc commented on #12519
Thanks for submitting this issue @aligoglos
@mxnet-label-bot[Windows, Build]

[2018-09-11 16:27] kalyc commented on #12454
@gsunilkumar1 could you please close this issue if your question has been answered? You can also use discuss.mxnet.io to learn about mxnet usage

[2018-09-11 17:06] hetong007 commented on #12439
@smartinsightsfromdata it is normal to see the xml because the mirror is not indexed. A workaround is to download the tarball and install locally:

[code]

[2018-09-11 17:20] #8866 closed

[2018-09-11 18:19] zhreshold commented on #12334
@piiswrong Do you have some comments here?

[2018-09-11 19:34] aaronmarkham opened #12522 "CI fails while trying to make mkldnn"
## Description

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12504/3/pipeline

[code]

[2018-09-11 20:11] Vikas89 commented on #7450
this happened to me even after copying the files to data directory,

88e9fe53272d:image-classification vikumar$ python train_cifar10.py --network resnet --num-layers 50
/Users/vikumar/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == n

[2018-09-11 21:55] kalyc commented on #12522
Thanks for opening this issue @aaronmarkham
@mxnet-label-bot[MKLDNN, Build, CI]

[2018-09-11 22:31] zheng-da commented on #10920
It seems that the previous PR doesn't fix the problem completely.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11641/24/pipeline

[2018-09-11 23:23] zachgk opened #12523 "Updates to tutorial "Run MXNet Scala Examples Using the IntelliJ IDE (macOS)""
## Description
There are some minor problems with the [scala intellij tutorial](https://mxnet.incubator.apache.org/tutorials/scala/mxnet_scala_on_intellij.html) with code [here](https://github.com/apache/incubator-mxnet/blob/master/docs/tutorials/scala/mxnet_scala_on_intellij.md) that could be fixed to improve the experience for new users following the tutorial.

## Issues

- When I added the MXNe

[2018-09-11 23:28] kalyc commented on #11987
@wenxueliu were you able to solve this issue? Could you close it if the issue has been resolved?

[2018-09-11 23:36] kalyc commented on #12510
@aaronmarkham looks like the flaky test has been disabled in this PR - https://github.com/apache/incubator-mxnet/pull/12520/files - could you close this issue if it has been fixed at the moment?

[2018-09-11 23:37] kalyc commented on #12503
@zheng-da the flaky test have been disabled in this PR - https://github.com/apache/incubator-mxnet/pull/12520/files - can this issue be closed?

[2018-09-11 23:38] kalyc commented on #10016
@kandoiNikhil could you update/close this issue?

[2018-09-11 23:39] aaronmarkham opened #12524 "AddVersion.py breaks the site output in a variety of ways"
## Description

[AddVersion.py](https://github.com/aaronmarkham/incubator-mxnet/blob/b56da3cc32fee828c352f0bfb1f05e393ca58040/docs/build_version_doc/AddVersion.py#L77-L78) does some pretty aggressive website modifications just before publishing the full website. It was already known to break on the install page, and now it seems it is responsible for #12168 and #11438. I created a PR to fix this i

[2018-09-11 23:53] kalyc commented on #12523
Thanks for submitting this issue @zachgk
@mxnet-label-bot [Doc, Scala]

[2018-09-11 23:53] #12503 closed

[2018-09-11 23:57] sandeep-krishnamurthy commented on #12302
InstanceNorm supports FP32 only as of today.
Marking this as feature request to mimic behavior of BatchNorm.
@apeforest

[2018-09-12 01:03] iamthebot opened #12526 "#12285 Breaks NDArrayIter For 3D Arrays"
## Description
Our mnist smokescreen tests are breaking in the latest build (mxnet-1.3.0b20180911) as a result of this PR (#12285) with an index out of range error.

## Environment info (Required)

Breaks on both Linux and OSX. Build mxnet-1.3.0b20180909 is fine, 1.3.0b20180911 is faulty.

[2018-09-12 01:10] kandoiNikhil commented on #10016
I never found out the reason for it, closing as there is no more action needed here.

[2018-09-12 01:10] #10016 closed

[2018-09-12 01:15] zhreshold commented on #12526
Can you provide more details? For example, length of the NDArray, batch size?

[2018-09-12 02:08] YueshangGu commented on #11283
So have the Group Norm been added into mxnet?

[2018-09-12 03:04] sandeep-krishnamurthy commented on #12526
Interested to understand the issue with an example. If this is a critical issue and takes time to fix, we can revert that commit till we root cause the issue.

[2018-09-12 03:35] #10920 closed

[2018-09-12 03:40] hallazie commented on #12493
I'm trying to build the master branch from source but encountered some problems. I'll notify you once I verified it.

[2018-09-12 03:53] Faldict commented on #12142
@KellenSunderland That problem was probably due to the mismatch of nvidia driver versions. After I fixed the problems and installed the latest pip package `mxnet-tensorrt-cu90`, TensorRT is usable now. I tried the `lenet` test case and measured the inference time:

[code]

Seems that it works fine! Thanks for your awesome efforts!

[2018-09-12 04:20] luobao-intel opened #12528 "Those cases with some problems in dir : example"
## Description
In the directory **example**,  there are some cases that can't be run normally due to code bugs and  lost  dependency files or  links.

## covered cases ##
- [x] mxnet_adversarial_vae
- [x] restricted-boltzmann-machine
- [x] sparse\linear_classification
- [x] speech_recognition

## Environment info (Required)
All the cases were tested on the master branch, commit id :  abbe283ef8b1d

[2018-09-12 05:16] PistonY opened #12529 "Operator _backward_FullyConnected is non-differentiable because it didn't register FGradient attribute."
I'm trying to implement [WGAN-GP](https://arxiv.org/pdf/1704.00028.pdf) in Gluon.There is a "gradient_penalty" in this paper.I wrote it as this
[code]
but when I backward with this an error raised 'Operator _backward_FullyConnected is non-differentiable because it didn't register FGradient attribute.'
complete code is [here](https://gist.github.com/PistonY/ec4cdc76335dcba74c457b6d22e55ebc)
How can

[2018-09-12 05:17] PistonY commented on #12529
vresion: mxnet --pre
os: Ubuntu 16.04
cuda: 9.0

[2018-09-12 05:32] gsunilkumar1 commented on #12454
Yeah i will close the ticket.
Thanks for the inputs.
Please suggest if there is a way to check buffers in GPU context

[2018-09-12 05:32] #12454 closed

[2018-09-12 06:36] vishaalkapoor commented on #12526
@sandeep-krishnamurthy  @zhreshold

Here's a specific example from the Nightly Binary test which just failed:

StraightDope: Python2 Single-GPU]
[StraightDope: Python2 Single-GPU]
[StraightDope: Python2 Single-GPU] IndexErrorTraceback (most recent call last)
[StraightDope: Python2 Single-GPU] <ipython-input-8-d40071ee971d> in <module>()
[StraightDope: Python2 Single-GPU]      20     train_data.res

[2018-09-12 07:33] kuonangzhe commented on #12486
@vrakesh @sandeep-krishnamurthy Since there is confidentiality issues for the code, we cannot provide more details to reproduce the error, and it will also cost much time in locating the bad operator or mechanism in symbol, so sorry for the inconvenience. We finally changed to use load_parameters with consistent save and load method when dealing model to avoid the error, and now it works fine. Tha

[2018-09-12 07:34] #12486 closed

[2018-09-12 07:52] yajiedesign commented on #12107
yes CMAKE_GENERATOR_TOOLSET  is undefined behaviour.In fact, it is already useless.https://github.com/apache/incubator-mxnet/pull/9940 is used to delete it, but it is late asked merger.

[2018-09-12 13:51] jacky4323 opened #12532 "caffeOp mxnet build failed"
Hi,

environment MXNet v1.0.0

I want to use caffe operator to implement some custom layers,such as the solution in mxnet/example/caffe/
I follow the install command described in https://mxnet.incubator.apache.org/faq/caffe.html, how to solve these problems?
1. git clone https://github.com/BVLC/caffe
2. cd caffe && wget https://github.com/BVLC/caffe/pull/4527.patch && git apply 4527.patch

thanks

[2018-09-12 14:19] sandeep-krishnamurthy commented on #12526
Thanks Vishaal.

On a side note, how did we miss nightly master build failure. We need to revisit it once.

[2018-09-12 16:50] stu1130 commented on #12526
Thanks @vishaalkapoor.
work on it

[2018-09-12 17:47] kalyc commented on #12532
Thanks for submitting the issue @jacky4323
Could you also provide your system config for us to be able to assist you better?

@mxnet-label-bot[Caffe Integration, Operator]

[2018-09-12 18:04] Ishitori commented on #12063
@prathik-naidu I think that model may actually have been trained without normalization.

I receive worse results if I apply normalization to the data. The top one is: `probability=0.060943, class=n01930112 nematode, nematode worm, roundworm` which is clearly worse than original one: `probability=0.249607, class=n02119022 red fox, Vulpes vulpes`

If I change model to Gluon one (`resnet18 = vision.r

[2018-09-12 18:26] apeforest commented on #12061
Hi @StOnEGiggity if you already identified the root cause and knew the fix, would you mind making the change directly and contribute to this repository? If so, we are more than happy to review your pull request. but also please don't feel obliged :)

[2018-09-12 18:28] apeforest commented on #11966
This is a feature request, not a bug. @anirudh2290 Could you please remove the [Bug] label and add [Feature Request]? Thx

[2018-09-12 19:43] nswamy commented on #12409
@mariussoutier we released the package to Staging here if you would like to test it.
https://repository.apache.org/content/repositories/staging/org/apache/mxnet/

See the instructions on how to use packages in Staging repo here:
https://cwiki.apache.org/confluence/display/MXNET/MXNet-Scala+Release+Process#MXNet-ScalaReleaseProcess-UsingPackagesinStagingRepository

[2018-09-12 19:47] kalyc commented on #12529
Hi @PistonY thanks for submitting the issue
@mxnet-label-bot[Bug, Operator]

[2018-09-12 19:49] kalyc commented on #12528
Thanks for submitting the issue @luobao-intel
@mxnet-label-bot[Bug, Example]

[2018-09-12 19:51] kalyc commented on #12526
Thanks for submitting the issue @iamthebot
@mxnet-label-bot[NDArray, Bug]

[2018-09-12 20:06] kalyc commented on #12524
Thanks for submitting the issue @aaronmarkham
@mxnet-label-bot[Website, Build, Installation]

[2018-09-12 21:11] ThomasDelteil commented on #12226
+1 on documenting this environment variable

[2018-09-12 21:53] apeforest commented on #10995
@chinakook I have added support of using integer as label type in CTC. Please kindly verify this change at your earliest convenience.

[2018-09-12 22:08] marcoabreu commented on #12522
This is related to the GitHub outage we mentioned on dev@

[2018-09-12 22:13] marcoabreu commented on #12472
Hello, have you tried running our Docker based build pipeline? You can execute it using 'ci/build.py -p armv7'

[2018-09-12 22:15] eric-haibin-lin commented on #11796
merged

[2018-09-12 22:31] marcoabreu opened #12538 "Failing nightly test: test_dcgan (test_notebooks_single_gpu.StraightDopeSingleGpuTests)"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTests_onBinaries/detail/NightlyTests_onBinaries/148/pipeline

[code]

[2018-09-12 22:46] marcoabreu opened #12539 "Failing nighty test: test_pixel2pixel (test_notebooks_single_gpu.StraightDopeSingleGpuTests)"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTests_onBinaries/detail/NightlyTests_onBinaries/148/pipeline

[code]

[2018-09-12 22:50] kepler-cpu commented on #12472
if I get your point, I think my answer is yes... I tried the ci/build.py -p armv7 script that I download to my MAC from the source at https://mxnet.incubator.apache.org/install/index.html?platform=Devices&language=Python&processor=CPU

Q. I tried that build on my MAC.  I assume it's ok.  or I should use another type of platform?

However, I got a list of errors.  Please see my 1st post.
It seems t

[2018-09-12 23:16] apeforest commented on #12493
@hallazie Please let me know if you have encountered specific installation issue. Ideally, you should be able to just run pip install on your Windows as `$ pip install mxnet-cu92 --pre`

[2018-09-12 23:28] kalyc commented on #12464
@lou-k is the issue still persisting? Could you close the issue if it has been fixed?

[2018-09-12 23:34] ankkhedia commented on #12491
@anirudhacharya Could you please take a look. Is OpenCV a mandate for Linux builds

[2018-09-12 23:36] ankkhedia commented on #12439
@smartinsightsfromdata Were you able to get the install working wit the workaround mentioned?

[2018-09-12 23:41] anirudhacharya commented on #9966
Duplicate issue - https://github.com/apache/incubator-mxnet/issues/10818

@spidyDev please close.

[2018-09-13 01:17] szha commented on #9543
@haojin2 is driving the addition of the options for LSTM projection and rnn state clipping in #12541.

[2018-09-13 01:55] chinakook commented on #10995
Yes, It's all right in all these cases. This issue can be closed as it's solved.

[2018-09-13 01:55] #10995 closed

[2018-09-13 02:08] jacky4323 commented on #12532
Hi @kalyc ,

system  config of my linux is showed below.
thanks for help!!

Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                20
On-line CPU(s) list:   0-19
Thread(s) per core:    2
Core(s) per socket:    10
Socket(s):             1
NUMA node(s):          1
Vendor ID:             GenuineIntel
CPU family:            6
Mod

[2018-09-13 02:45] PistonY commented on #12529
Is this a bug?
I got in trouble with it for so long.

[2018-09-13 03:24] s0302102 opened #12543 "Complie error (not the mxnet itself. but cpp interface)"
## Description
compile with cpp-package ok but when use the libmxnet.so from cpp, some header files go wrong

## Environment info (Required)
----------Python Info----------
('Version      :', '2.7.12')
('Compiler     :', 'GCC 5.4.0 20160609')
('Build        :', ('default', 'Dec  4 2017 14:50:18'))
('Arch         :', ('64bit', 'ELF'))
------------Pip Info-----------
('Version      :', '10.0.1')
('D

[2018-09-13 03:35] WenmuZhou commented on #9974
I still have this problem in 1.3.0
[code]
the code is
[code]

[2018-09-13 03:48] huyangc opened #12544 "[Precision Problem] about the IRHeader when using pack and unpack"
[code]
The header.flag will be changed when the label is a list(according to the length of the list). is that a feature or bug?

[2018-09-13 04:27] huyangc commented on #12544
And another "Feature" here:
[code]

It is so wired that the label in header can change automatically.

Which takes me two days to debug my code. orz

[2018-09-13 04:41] huyangc commented on #12544
ok, after some digging into the source code, I figure it out. the code here
https://github.com/apache/incubator-mxnet/blob/225f71f744ac5e7bd29868b6d3ba0e4fe2527c43/python/mxnet/recordio.py#L338

using the np.float32, but somehow 33511805.0 this number will be changed when use such kind of dtype. change to np.float64 may solve the problem.

[2018-09-13 04:47] huyangc commented on #12544
And about the IRHeader. Document [here](https://mxnet.incubator.apache.org/api/python/io/io.html#mxnet.recordio.IRHeader) says that

but in fact, it is really according to the label length.

[2018-09-13 07:23] liqg opened #12546 "How to subset a MXNDArray in R?"
Hi,
As a beginner of mxnet using R, I wonder why there is not a way to subset a MXNDArray, which is able to be done in python. Are there some ways to do these stuffs, for example:
[code]

[2018-09-13 08:07] TccccD commented on #1905
Hi, @vincentfung13 @shipeng-uestc @tqchen
This seems a bit confusing, is there a simple example of using aug_seq? I want to use like"random crop - > resize", this resize method stretches the image to a square.

[2018-09-13 08:12] zheng-da commented on #12529
@PistonY currently, MXNet doesn't support the second-order differentiation.
we might have it in a near future @sxjscience

[2018-09-13 10:02] juliusshufan commented on #11164
re-open, this is tracked the issues in PR https://github.com/apache/incubator-mxnet/pull/10921

[2018-09-13 10:05] juliusshufan commented on #11164
@szha Could you please reopen this ticket, as it is still valid, sorry for no update for long time.

[2018-09-13 10:21] mariussoutier opened #12547 "[Scala] [macOS] GPU / CUDA?"
Hi,

wouldn't it be possible to offer a GPU version on the Mac as well? Nvidia already supports CUDA on the Mac.

[2018-09-13 10:48] mariussoutier commented on #12409
@nswamy Just tried it out, Module API seems to work now. Thanks!

[2018-09-13 10:51] mariussoutier commented on #12409
Is there any difference between Module and FeedForward anyway?

[2018-09-13 12:37] mariussoutier commented on #12409
Ok, makes sense. I've also used FeedForward for my CNN :-)

[2018-09-13 13:05] lizhen2017 commented on #12514
I met the same problem.
I found that gluon API provide nn.BatchNorm(epsilon=1e-5, momentum=0.9)to implement the BN op. And the sym API provide mx.sym.BatchNorm to implement BN, when exported, they are different. The contrast derive from the gluoncv official ssd512 code and the yolov3 code.

[2018-09-13 13:11] lizhen2017 commented on #12514
Maybe using gluon api to implemet the algorithm can solve the problem directly.

[2018-09-13 15:28] KellenSunderland commented on #12089
MacOS is now installed on the CI via Travis.

[2018-09-13 15:51] loadwiki commented on #12438
This core dump issue causes by the bug from other code. But I do find some core dump bug which can be repeat very easily: create a infer handle by load a model, then the thread exit immediately. Then core dump happens, something like this:
`  // Create Predictor
  MXPredCreate(static_cast<const char*>(json_data.GetBuffer()),
               static_cast<const char*>(param_data.GetBuffer()),

[2018-09-13 15:51] #12438 closed

[2018-09-13 16:36] mariussoutier opened #12553 "[Scala] Training differences between macOS and Ubuntu?"
Tested this with both MXNet 1.2.1 and 1.3.0 Staging. I have the identical code and dataset to train a MLP and a CNN on image data. On my Mac (MBP Late 2013) it converges easily within 5-10 epochs to an accuracy of 80% using learning rate of `0.00001`. On my Dell laptop, using Ubuntu 18 and both with and without GPU, it essentially doesn't converge at all (accuracy around 1,6%).

How is this possib

[2018-09-13 16:42] apeforest commented on #12529
@nswamy Please change the label type from Bug to Feature Request. thx

[2018-09-13 17:09] kalyc commented on #12553
Thanks for submitting this issue @mariussoutier
@mxnet-label-bot[Scala, OSX, Ubuntu]

[2018-09-13 17:10] kalyc commented on #12547
Thanks for submitting the issue @mariussoutier
@mxnet-label-bot[Question, GPU, Mac, Scala]

[2018-09-13 17:13] kalyc commented on #12546
Thanks for submitting the issue @liqg
@mxnet-label-bot[R, NDArray, Question]

[2018-09-13 17:15] kalyc commented on #12543
Thanks for submitting the issue @s0302102
@mxnet-label-bot[C++, Build]

[2018-09-13 17:37] kalyc commented on #12510
@sandeep-krishnamurthy please remove label [Flaky] and add label [Disabled Test]

[2018-09-13 17:41] kalyc commented on #12492
For the first document could you provide more context @TaoLv  - Build from Source on Master on what machine? I do see the [pages opening](https://mxnet.incubator.apache.org/install/index.html?platform=Linux&language=Python&processor=CPU&version=master#) for building from source

[2018-09-13 17:48] eric-haibin-lin commented on #12464
@Roshrini did we fix the v1.2.1 branch, too?

[2018-09-13 17:58] Roshrini commented on #12464
@eric-haibin-lin 1.2.0 branch was fixed, it tracks new branch of nnvm now. https://github.com/dmlc/nnvm/commit/0ca68e89ced69c0100aed32343cf30b45cafca7a

I think we can do same for 1.2.1 branch too, it can track https://github.com/dmlc/nnvm/tree/mx_1.2.0

[2018-09-13 17:58] kalyc commented on #12539
The test is not Flaky.
This PR https://github.com/apache/incubator-mxnet/pull/12537 - reverts the change in the NDArrayIter

[WIP] PR - https://github.com/apache/incubator-mxnet/pull/12545 to capture edge case of empty label

[2018-09-13 18:00] kalyc commented on #12538
The test is not Flaky.
This PR #12537 - reverts the change in the NDArrayIter

[WIP] PR - #12545 to capture edge case of empty label

[2018-09-13 18:01] stu1130 commented on #12526
@iamthebot I am able to find the root cause, so don't worry about it. Thanks

[2018-09-13 18:03] kalyc commented on #12544
Thanks for submitting the issue @huyangc
You can use discuss.mxnet.io for discussions on MXNet with the community

For your question could you please follow the format posted in the issue template for submitting the issue? Posting details about your dev environment will be helpful for us to debug as well.

[2018-09-13 18:12] kalyc commented on #12544
@mxnet-label-bot[Question]

[2018-09-13 18:17] kalyc commented on #9393
@zhangguotai were you able to resolve the issue? Could you please close the issue if it was resolved?

[2018-09-13 18:18] kalyc commented on #9527
@panovr were you able to resolve the issue? Could you close the issue if that is the case?

[2018-09-13 18:28] kalyc commented on #8251
@Ujjalbuet could you please update the issue/ resolve it if its not persisting anymore?

[2018-09-13 19:14] mariussoutier commented on #12409
One more issue, Module-based GPU training on Ubuntu fails during the second epoch with a SIGTERM. I don't know yet what's happening. FeedForward-based training in 1.2.1 works without a problem.

[2018-09-13 19:26] nswamy commented on #12409
could you please open a new issue with some reproducible code?

[2018-09-13 19:41] mariussoutier commented on #12409
Sure, will do.

[2018-09-13 19:59] lanking520 commented on #12553
Hi @mariussoutier thanks for your issue, could you please provide a minimum reproducible code? This looks weird to me too.

[2018-09-13 20:18] gigasquid commented on #12553
@mariussoutier A Clojure user had a similar problem. Maybe something in this issue can diagnose (The Clojure package has since joined the main project) https://github.com/gigasquid/clojure-mxnet/issues/5

A final solution wasn't found for his laptop by he could run on the 18.04 server

[2018-09-13 20:32] zhreshold commented on #9974
@WenmuZhou This should properly fixes for all kinds of situations: https://github.com/apache/incubator-mxnet/pull/12554
We will officially include it soon as it may affect multiple users.

[2018-09-13 20:35] mariussoutier commented on #12553
Interesting. I've also noticed that MXNet-CPU is slower on my Ubuntu laptop than on my MacBook. The MacBook is from 2013 and the Dell from 2017, so has newer CPU, twice the RAM, and way faster SSD.

I just don't know where I should investigate, I'm pretty new to Ubuntu and it already took me a day to set this all up. Would building MXNet from source on the laptop help?

[2018-09-13 20:44] gigasquid commented on #12553
I would try using the Scala jars and comparing your dependencies against these Clojure docker files
for 18.04
https://hub.docker.com/r/magnetcoop/mxnet-clj-cpu/
https://hub.docker.com/r/magnetcoop/mxnet-clj-gpu/

The Dockerfiles in the project's ci are 16.04 so might not be as relevant to you

[2018-09-13 20:50] gigasquid commented on #12547
Yes! That is on the list for improvements for Clojure/Scala as well. I think it's just a matter of putting in the right maven build profiles, it just needs some time and attention.

[2018-09-13 21:17] samskalicky opened #12555 "Operator registration does not check for keyword sensitivity"
When registering an operator there are a set of keywords that cannot be specified in various places throughout the registration process. One example is adding an argument named "name" builds fine but on importing in python results in this error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ubuntu/engine_arch/python/mxnet/__init__.py", line 28, in <module>

[2018-09-13 21:29] ankkhedia commented on #12546
Hi @liqg Thanks for the question.

You  will need to convert the mx objects to R supported arrays and use that to subset.
[code]

[2018-09-13 21:29] samskalicky commented on #12555
@mxnet-label-bot[bug, Exception Handling]

[2018-09-13 21:32] ankkhedia commented on #12546
@liqg Hope your issue is resolved and thanks for trying MXNetR!

@sandeep-krishnamurthy Could you please close the issue.

@liqg Please feel free to reopen in case you face further issue or closed in error.

[2018-09-13 22:53] leleamol commented on #12543
@s0302102
The code that is posted with this issue has some syntax errors that would have caused compilation issues.  For example:
1. The #include in first line does not specify specific header files.
2. In the function definition "Symbol mlp(const vector &layers)", the datatype for vector is not specified.  Changing it to "Symbol mlp(const std::vector<int> &layers)" would help.
3. In the implement

[2018-09-13 23:29] kalyc commented on #12435
@lzh19961031 could you please update the issue? If it is not persisting anymore then could you resolve it?

[2018-09-13 23:30] lou-k commented on #12464
@kalyc yes this is still persisting

[2018-09-13 23:31] #12522 closed

[2018-09-13 23:31] kalyc commented on #10174
@frankpunx has your issue been resolved? Could you update?

[2018-09-13 23:32] lou-k commented on #12464
@Roshrini as far as I can tell this issue exists for 1.2.0 as well:
[code]

[2018-09-13 23:38] kalyc commented on #12524
@aaronmarkham is this issue still persisting?

[2018-09-13 23:55] kalyc commented on #12528
I was able to run the sparse/linear_classification example successfully on Mac OS Sierra using MXNet- v1.3 installed from PIP on python2.
Could you try running that example again @luobao-intel ?

[2018-09-14 00:11] kalyc commented on #12415
Ran the test locally 500 times on Mac. Unable to reproduce.

@aaronmarkham is this still persisting? Could you close the issue if it isn't? Maybe the failure was related some Git outage?

[2018-09-14 00:31] aaronmarkham commented on #12524
Yes

[2018-09-14 00:33] aaronmarkham commented on #12415
I haven't seen it since then.

[2018-09-14 00:34] kalyc commented on #12415
Could you close the issue?

[2018-09-14 00:53] s0302102 commented on #12543
@leleamol Thanks very much for your comment.
First let me say sorry for the code error. As I used linux to compile the code but windows to submit the issue, something went  wrong when I pasted from linux to windwos via the  vnc viewer. The first two questions you mentioned above are as below respectively:
1. #include <chrono>
2. vector <int>
As for the third question, the using namespace std; was

[2018-09-14 01:30] TaoLv commented on #12492
@kalyc Seems it's already fixed by #12509 . I will close this issue now.

[2018-09-14 01:31] #12492 closed

[2018-09-14 01:33] pengzhao-intel commented on #12528
@kalyc Thanks,  could you try other cases (also in Linux) and see if the issue is still there?

[2018-09-14 01:51] WenmuZhou commented on #9974
@zhreshold waiting for update

[2018-09-14 02:48] #8251 closed

[2018-09-14 02:53] wewan commented on #7664
I was training binary classification using **.rec** ,  met the same problem

[2018-09-14 02:55] liqg commented on #12546
Thanks for your responses. How about the assignment, such as `a[1:2] <- 2`. Do the R package developers have any plan to add functions like `[.MXNDArray` for indexing or `<-.MXNDArray` for assignment? May be it is not very convenient to use as.array to wrap each MXNDArray variable.

[2018-09-14 03:06] PistonY commented on #12529
ok,hope mxnet support it soon.

[2018-09-14 05:00] zhaoningning commented on #9067
@apeforest @lupesko  sorry,I can not reproduce this issue after such a long time...

[2018-09-14 06:27] mariussoutier commented on #12547
@gigasquid Is it already possible to build MXNet from source for Mac with CUDA support?

[2018-09-14 06:29] mariussoutier commented on #12461
18.04+CUDA9+CUDNN7+GTX1050 works for me.

[2018-09-14 06:34] Ian8888 opened #12562 "installed MXNet problem for win10"
## Description
I installed the Mxnet GPU version but it's not working.

[14:12:03] c:\jenkins\workspace\mxnet-tag\mxnet\src\imperative\./imperative_utils.h:76: GPU support is disabled. Compile MXNet with USE_CUDA=1 to enable GPU support.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\AAA\Anaconda3\lib\site-packages\mxnet\ndarray\ndarray.py", line 2271, in

[2018-09-14 07:33] stereomatchingkiss commented on #10543
I have the same issues when build the mxnet from source on windows, some questions.

1. Would this error stop me from inference? I don't need to train the models by cpp api.
2. My cmake always show me "Could NOT find PythonInterp (missing: PYTHON_EXECUTABLE) ", even I add the PYTHON_EXECUTABLE as "C:\Python27", "C:\Python27\python.exe" or "C:\Python27\pythonw.exe"

[2018-09-14 13:30] gigasquid commented on #12547
Yes I believe so http://mxnet.incubator.apache.org/install/osx_setup.html
I would start and try to build from source with cuda. If the base package builds then it is just a matter of getting the pom.xml files for the scala architecture. If you have time to investigate, that would be awesome 😸

[2018-09-14 13:36] marcoabreu opened #12564 "Test coverage report gets assigned to wrong commit"
Due to the Jenkins merging strategy during our PR validation, CodeCov auto-assumes the wrong commit. In the default implementation, it will pick the commit of our master branch instead of the PRs commit. This means that the coverage report is associated with the wrong branch and thus the results scattered across the place and test coverage differences not properly revealed.

[2018-09-14 13:53] mariussoutier commented on #12547
I will try. Since MXNet doesn't work on Ubuntu and CPU-training is too slow, this would indeed be awesome.

[2018-09-14 15:15] azai91 commented on #12377
tldr: you should never use anything less than 1e-5 as there is not enough precision in the numerator (f(x + eps/2)  - f(x - eps/s)) to derive an accurate slope.

[2018-09-14 16:02] mariussoutier commented on #10579
So, consensus is to go `USE_NNPACK = 0` and `USE_MKLDNN = 1`?

[2018-09-14 16:08] mdespriee opened #12565 "Improve error messages on shape inference (Operator)"
## Description
I'm trying to migrate to mxnet symbol a fairly complex flow, and I spent way too much time debugging "shape inference failed" errors when binding the module.
What shape ? What symbol ? Which shape is ok, and which is missing ? Argh !

## Environment info (Required)
Using mxnet 1.3.0 on scala

## Error Message:
[code]

[2018-09-14 16:10] mdespriee commented on #12565
More generally, I also suggest to review the use of require() scattered in the code, and make sure they all have meaningful messages.

[2018-09-14 16:28] kalyc commented on #12562
Thanks for submitting the issue @Ian8888
Have you tried MXNet V1.3?
@mxnet-label-bot[Windows, Installation]

[2018-09-14 16:28] kalyc commented on #12564
@marcoabreu thanks for submitting the issue
@mxnet-label-bot[Test]

[2018-09-14 16:30] kalyc commented on #12565
Thanks for submitting the issue @mdespriee, you can open a PR with the changes you have suggested and we can review them.
@mxnet-label-bot[Scala, Good First Issue]

[2018-09-14 16:37] ankkhedia commented on #12546
Hi @liqg Currently I don't think there is any plane but it may be tracked as feature request which may be revisited when such efforts are being undertaken.

@sandeep-krishnamurthy Could you please add feature request label to the issue.

[2018-09-14 17:00] aaronmarkham opened #12566 "website search showing unavailable APIs"
## Description

Searching for `allreduce` while in the 1.0.0 version yielded a result:
http://mxnet.incubator.apache.org/versions/1.0.0/search.html?q=allreduce&check_keywords=yes&area=default

But this just dumps you off in the gluon docs at the top. Searching on master yields a correct result.

I recently worked on search, fixing some other bugs and tested that some APIs should not appear in old

[2018-09-14 17:01] apeforest commented on #9067
@zhaoningning Sorry for the delayed response. I believe your issue should have been fixed by #12290 if not already by other PRs. We will be responsive to issues filed in the future. Thank you for your continuing support of MXNet.

[2018-09-14 17:28] kalyc commented on #12566
Thanks for submitting the issue @aaronmarkham
@mxnet-label-bot[Website, Bug]

[2018-09-14 17:32] anirudhacharya commented on #12546
@liqg currently I think this will require ndarray to be mutable, and currently ndarray objects are immutable in R.

[2018-09-14 18:19] anirudhacharya commented on #12491
@liori Yes we need mxnet to be built with `USE_OPENCV=1` for `make rpkg` on ubuntu, we will update the build instructions with this.

[2018-09-14 18:31] kalyc commented on #12114
@mxnet-label-bot[Feature]

[2018-09-14 18:35] kalyc commented on #8273
@tci2127 were you able to resolve the issue? Could you close it if thats the case?

[2018-09-14 19:00] zhreshold opened #12567 "1.3.0 release pre-built package contains a buggy openblas version. Causing gluon data loader with large num_workers to crash"
## Description
In latest mxnet pip prebuilt packages, when using gluon data loader with num_worker > certain number, it may raise error:
[code]

Related issue: https://github.com/xianyi/OpenBLAS/issues/1735

## Environment info (Required)

Ubuntu 16

[code]

[code]

[2018-09-14 19:00] zhreshold commented on #12567
@szha

[2018-09-14 19:03] szha commented on #12567
Looks like we just need to [upgrade the openblas dependency to 0.3.3](https://github.com/xianyi/OpenBLAS/issues/1735#issuecomment-417631520). Since it doesn't require code change in mxnet I will prepare a post-release to include the upgrade shortly.

[2018-09-14 21:01] kalyc commented on #12567
@mxnet-label-bot[Bug, BLAS]

[2018-09-14 21:09] aaronmarkham commented on #12567
@ankkhedia @Roshrini @lupesko - this may impact the windows instructions since we're currently having people use OpenBLAS v0.2.19 when building from source. WDYT @szha ?

[2018-09-14 21:09] kalyc commented on #7873
@stoneyang thanks for submitting the issue. Were you able to resolve it? If so, could you close the issue?

[2018-09-14 21:10] kalyc commented on #8667
@mwunderlich I am unable to reproduce the issue. Could you please update/ close the issue if it has been fixed?

[2018-09-14 21:11] szha commented on #12567
@aaronmarkham both versions should work. It's up to the user to decide which version of dependency to include.

[2018-09-14 21:12] kalyc commented on #7717
@chowkamlee81 could you please close the issue if it has been fixed? Thanks

[2018-09-14 21:13] kalyc commented on #10271
Could you update/close this issue if the problem has been fixed @ajayvohra2005 ? Thanks

[2018-09-14 21:52] mariussoutier opened #12568 "[Scala][macOS] Trying to build from source"
I'm trying to build the Scala package from source on macOS with MXNet 1.3.0.

Here is what I found:

* Building with CUDA doesn't work, the build just aborts with `nvcc fatal   : The version ('9.1') of the host compiler ('Apple clang') is not supported`
* Building with Intel MKL works, however at runtime training a module fails with:
`The size of NDArray doesn't match the requested MKLDNN memory d

[2018-09-14 22:11] apeforest commented on #8799
@mseeger This issue has been fixed. Please verify.

[2018-09-14 22:12] apeforest commented on #9067
@sandeep-krishnamurthy This issue has been fixed. Please close this issue.

[2018-09-14 22:19] kalyc commented on #12568
Thanks for submitting the issue @mariussoutier
@mxnet-label-bot[Scala, OSX, Build]

[2018-09-14 22:38] #9067 closed

[2018-09-14 22:46] haojin2 commented on #11839
The corresponding fix has been merged, please close the issue.

[2018-09-14 22:47] haojin2 commented on #11839
@anirudh2290 @eric-haibin-lin @nswamy @sandeep-krishnamurthy The corresponding fix has been merged, please close the issue.

[2018-09-15 03:26] #11839 closed

[2018-09-15 09:54] mariussoutier commented on #12568
As for CUDA, installing older Developer Command Line Tools with clang 9.0, the compilation advances much further, but then the linker fails with

[code]

[2018-09-15 12:26] gigasquid commented on #12553
I found this and thought it might be helpful https://mc.ai/install-mxnet-on-ubuntu-18-04/
especially the part about gcc7 vs gcc6 https://mc.ai/install-mxnet-on-ubuntu-18-04/

[2018-09-15 12:28] gigasquid commented on #12565
I agree. I've run into that one from the Clojure side as well and it could be improved.

[2018-09-15 16:54] mariussoutier commented on #12553
I thought it was just the Scala API that was problematic. `pip install mxnet-cu90mkl` installs fine, I have to rewrite my code in Python to verify this assumption.

[2018-09-15 17:42] lanking520 commented on #12553
@mariussoutier maybe this can be helpful: https://github.com/apache/incubator-mxnet/issues/11303. We will try to bring instruction on 18.04 since you are not the only one who asked for this... About the performance issue, could you please provide some code that can reproduce it? I will tested to see what the issues came from

[2018-09-15 18:27] mariussoutier commented on #12553
@lanking520 Ah thanks, then I'll stop trying to compile it on Ubuntu. About the training performance, I'm seeing this with the MLP from the tutorials.

[2018-09-15 19:30] feevos commented on #10002
Dear all, it will be great to have 2nd order derivative support. There are some promising GAN training methods that use 2nd order derivatives (e.g. wgan-gp, [SGA](https://arxiv.org/abs/1802.05642) etc) for stabilizing training.

Thank you very much for all your efforts.

[2018-09-15 21:17] mdespriee commented on #12565
After PR #12570 is merged, we'll go from this:
[code]
to this:
[code]

I think we can have even better from the backend, but that's progress.

[2018-09-16 02:34] yajiedesign commented on #12567
is impact the windows? Windows need to upgrade openblas?

[2018-09-16 02:37] yajiedesign commented on #12562
are you sure installed the mxnet-cu92?i will check build setting.

[2018-09-16 02:42] LeonJWH commented on #7664
Maybe we should make our **.rec** files in our own ways to make sure it has no problem.

[2018-09-16 02:44] zhreshold commented on #12567
i am only receiving report on ubunutu so far

[2018-09-16 02:52] yajiedesign commented on #12567
ok,not upgrade now,wait report.

[2018-09-16 03:53] XiangyunHuang commented on #12439
@hetong007  I come across the same problem as @smartinsightsfromdata when I try to install mxnet

[code]

[code]

[code]
[code]

[code]
[code]

[2018-09-16 04:52] XiangyunHuang commented on #12439
Thanks @hetong007

[2018-09-16 05:24] Eric-mingjie opened #12574 "How to compute flops and paramters of a model in MXNet?"
Is there a tool to compute flops and number of paramters in MXnet?

[2018-09-16 07:53] xuzhenqi opened #12575 "How to use tensorrt in FP16 or Int8 mode?"
Mxnet1.3.0 supports tensorrt for inference, but I do not find any tutorials or examples to show how to inference a model in FP16 or Int8 mode. So is there a way to do it?

[2018-09-16 10:03] Adesun commented on #12519
@aligoglos
It seems like libmxnet.dll cannot find its dependency,
you should put all dependency libraries into system PATH
or the same directory with libmxnet.dll
then running the command below
`python OpWrapperGenerator.py ./path/libmxnet.dll`
you'll get the op.h generated successfully

[2018-09-16 16:08] #12574 closed

[2018-09-17 02:04] #12142 closed

[2018-09-17 04:17] xiaolin-cheng opened #12576 "Can anybody provide a kv-store (distributed training) example with cpp package?"
I am OK with python bindings, but not able to figure out how to use cpp package kv-store APIs. There is no working example under **mxnet\cpp-package\example**. Thanks a lot!

[2018-09-17 09:20] Ian8888 commented on #12562
I using `pip install mxnet --upgrade --pre`  to update my MXNet V 1.3 is work now.
Thanks for your suggestion <3

[2018-09-17 11:05] liu6381810 opened #12577 "Training with fc and multi-gpu is much slower than single gpu"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-09-17 11:40] hallazie commented on #12493
This issue is solved by installing newer release `pip install mxnet-cu91==1.2.0`. Thanks for the help. :D

[2018-09-17 11:40] #12493 closed

[2018-09-17 12:38] yajiedesign commented on #12562
ok

[2018-09-17 13:29] aligoglos commented on #12519
yes this issue because of libmxnet.dll dependencies, i add all dll dependency into libmxnet.dll folder but this time this error occur :
`FileNotFoundError: [Errno 2] No such file or directory: '../include/mxnet-cpp/op.h'`

[2018-09-17 14:15] Ruoyu-Qian commented on #12066
@anirudhacharya Sorry for the late response. I tried the following commands:
`cd /Library/Frameworks/R.framework/Versions/3.5/Resources/lib/
ln -sf  /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib libRblas.dylib`

However, when I ran `sessionInfo()`, I still got the default
`BLAS:/System/Library/Frameworks/Accelerate.framework/Version

[2018-09-17 16:02] aaronmarkham opened #12578 "sample_multinomial_op.o causing build from source to fail"
I can't build mxnet on master from source anymore… getting this error:
[code]
I updated my submodules... I just pulled latest:
[code]
I can checkout a fresh clone and build, but why should I have to do that? What needs to happen to fix my existing repos?

Commented here: #12374 as it seems related.

[2018-09-17 16:06] aenikata commented on #621
At the moment there's cloud providers like gpueater pushing the AMD option, which naturally leads towards Keras+PlaidML not MXNet. My ideal would be to be able to take one of the (almost universally AMD-based) cryptocurrency rigs you can pick up for a reasonable price and see what deep learning you can do with it.

[2018-09-17 16:18] aaronmarkham commented on #12566
I have a lead on the problem. Stay tuned.

[2018-09-17 16:43] lupesko commented on #12578
@aaronmarkham can you clarify - when you clone a fresh repo, can you build normally?
If so - could this have been an issue with your repo?

[2018-09-17 16:53] kalyc commented on #8667
Thanks for the update, @mwunderlich
Could you close this GitHub issue if its not persisting?

[2018-09-17 16:56] kalyc commented on #12562
Thanks for the update @Ian8888
Could you close this GitHub issue if it has been resolved?

[2018-09-17 16:58] kalyc commented on #12575
Thanks for opening this issue @xuzhenqi
You can also post this question on discuss.mxnet.io to get further help from the community.
@mxnet-label-bot[Question]

[2018-09-17 16:59] kalyc commented on #12576
Thanks for submitting the issue @xiaolin-cheng
@mxnet-label-bot[Example, C++]

[2018-09-17 17:01] kalyc commented on #12577
Thanks for submitting the issue
@mxnet-label-bot[Performance, Question]

[2018-09-17 17:09] kalyc commented on #12578
@mxnet-label-bot[Installation]
@aaronmarkham could you paste your environment config here?

[2018-09-17 17:29] szha commented on #12567
@zhreshold the 1.3.0.post0 releases contain the upgrade. Please verify.

[2018-09-17 17:44] aaronmarkham commented on #12578
I just needed to do a `make clean` apparently. I don't want to have to do this as part of my shell scripts because then I have to rebuild every time. It saves a lot of time to keep the build intact. What's the best practice on dealing with these kinds of failures that get introduced and you're trying to automate the builds?

[2018-09-17 17:47] anirudhacharya commented on #12066
@Ruoyu-Qian

[code]

[2018-09-17 17:52] Ruoyu-Qian commented on #12066
@anirudhacharya Thank you so much! It works now! Really appreciated.

[2018-09-17 17:59] lupesko commented on #12567
Thanks @szha.
@yajiedesign are you waiting for a confirmation before you publish the windows pip package for 1.3.0?

[2018-09-17 18:12] Ishitori commented on #12434
Yes, I confirm there is an issue. bias is defined in function signature, but if you try to actually put there a symbol you will get:

[code]

The minimal reproduce example is:

[code]

@marcoabreu, please, retag

[2018-09-17 18:14] aaronmarkham commented on #12575
There is a [TensorRT tutorial on the website](http://mxnet.incubator.apache.org/tutorials/tensorrt/inference_with_trt.html).

It wasn't cherry-picked for the v1.3.0 release branch so it doesn't show up there... only in master.

[2018-09-17 18:15] #8902 closed

[2018-09-17 18:17] eric-haibin-lin commented on #12577
Did you scale the batch size linearly with the number of GPUs?

[2018-09-17 18:20] apeforest commented on #11086
@xinyu-intel I would like to get more insights about this request. It seems you can just reshape data to (4, 4) before passing it to SoftmaxOutput symbol. Do you want MXNet to do this extra step automatically? If so, what are the criteria for this automation? Thanks

[2018-09-17 18:22] aaronmarkham opened #12579 "test_mkldnn.test_Deconvolution failed in CI"
## Description
Flakey.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12504/7/pipeline

[code]

[2018-09-17 18:28] zhreshold commented on #12567
@szha Verified with same code, 1.3.0 failed and 1.3.0.post0 passed. Thanks for the timely fix!

[2018-09-17 19:03] stu1130 commented on #12579
Thanks for reporting the issue @aaronmarkham
@mxnet-label-bot[Flaky, Test]

[2018-09-17 19:53] szha opened #12580 "Unclear doc on argument passing convention"
While the Gluon tutorial describes how parameter passing works in https://mxnet.incubator.apache.org/tutorials/gluon/hybrid.html, the API doc didn't make it clear how parameter passing works. https://mxnet.apache.org/api/python/gluon/gluon.html?highlight=hybrid#mxnet.gluon.HybridBlock

[2018-09-17 19:57] #12567 closed

[2018-09-17 21:56] kepler-cpu commented on #12472
want to update this case and share some my experiences with the community...

I have finally successfully cross-complied the mxnet for armv7 (Pi) - the whl file instructed in the mxnet doc.   The way I resolved it is using the latest 1.3.0 source instead of the 1.2.1 that gave me problems.  thx the the CI build from the mxnet team I guess :-)

I am following the next step to install the whl packag

[2018-09-17 22:00] leleamol commented on #12543
@s0302102 I was able to build latest version of mxnet and examples correctly.
Can you try building examples in cpp-package/examples directory as mentioned here (https://github.com/apache/incubator-mxnet/blob/master/cpp-package/README.md)
?
The error in the first post seems to be from compiler. Will you be able to post the complete error message you obtained when you built your example?

For refere

[2018-09-17 23:38] marcoabreu commented on #12575
Could you show where you found that? Besides with a direct link

[2018-09-18 02:32] liu6381810 commented on #12577
@eric-haibin-lin
Yes，
1 V100 batch 8192 40w+ samples/s
8 V100 batch 8192  1.8w samples/s
8 V100 batch 65536 8w+ samples/s

[2018-09-18 03:31] apeforest commented on #11966
@nswamy Could you please remove the [Bug] label and add [Feature Request]? Thanks

[2018-09-18 03:32] apeforest commented on #11926
@andrewfayres Could you please link your ticket to this issue? What is the current status? Thanks!

[2018-09-18 03:32] apeforest commented on #11804
@safrooze Please verify at your earliest convenience if this issue has been fixed. Thanks!

[2018-09-18 03:33] thbupt opened #12582 "In dcgan.py, the parameters of netD are updated as training G?"
In dcgan.py, the code for updating G is as followings.
print(netD(fake))
        with autograd.record():
            output = netD(fake)
            output = output.reshape((-1, 2))
            errG = loss(output, real_label)
            errG.backward()
        trainerG.step(opt.batch_size)
        print(netD(fake))
I print the output of netD before and after updating G, I found they have differen

[2018-09-18 04:32] lizhen2017 opened #12583 "mx.contrib.tensorrt.tensorrt_bind result error"
Environment： Mxnet 1.3.0 Cuda 9.0 cudnn 7.1 tensorrt 4.0 ubuntu 16.04.
(1) Inference with tensorrt, result bad.
os.environ['MXNET_USE_TENSORRT'] = '1'
arg_params.update(aux_params)
all_params = dict([(k, v.as_in_context(mx.gpu(1))) for k, v in arg_params.items()])
#print(all_params)
executor = mx.contrib.tensorrt.tensorrt_bind(sym, ctx=mx.gpu(1), all_params=all_params,

[2018-09-18 04:39] Ian8888 commented on #12562
Sorry, I forgot.
Thanks for your reminded.

[2018-09-18 04:39] #12562 closed

[2018-09-18 05:01] mwunderlich commented on #8667
sure, no problem.

[2018-09-18 05:01] #8667 closed

[2018-09-18 05:11] kepler-cpu commented on #12472
what is the version of python that the mxnet package is supported on Pi?

I am wondering if there is a version or modules path issues in my setting.
It depends on which directory I enter python, I got different types of Import Error.

The early reported one - by entering python under /home/pi/my_mxnet_work/mxnet_py3, and append a path (see above), I got the ImportError about lib info.

Now, by ent

[2018-09-18 05:15] stu1130 commented on #12582
Thanks for submitting the issue!
You could also ask the question [link](https://discuss.mxnet.io/) to get more help from community.
@mxnet-label-bot[Question, Example]

[2018-09-18 08:34] mariussoutier commented on #6023
Same error on macOS 10.13:

[code]

With Python 2.7 I can install version 1.2.1post1, but it doesn't upgrade to 1.3.0.

On Ubuntu 18 it works fine.

[2018-09-18 09:59] marcoabreu commented on #12568
So far, we have not been testing or designing our build systems to work with GPU on a Mac. So yes, it might be possible that the path is hardcoded for Unix (not apple) based systems.

Are you using cmake or make to compile?

[2018-09-18 12:32] yajiedesign commented on #12567
@lupesko At present, I have uploaded 1.3.0, waiting for report.

[2018-09-18 13:31] shababqcd opened #12586 "Memory issue with Module forward function"
## Description
MXNET taking more and more memory after every forward propagation of a Generator Network

## Environment info (Required)
CUDA 8.0 on ubuntu 16.4 and mxnet 1.3.0

Package used (Python/R/Scala/Julia):
(I'm using Python 2.7)

## Minimum reproducible example
[code]

## Steps to reproduce

1. Here we just do the forward propagation, 10000000 times. If running this code, you can see that

[2018-09-18 15:02] mariussoutier commented on #12568
I'm using make. I added a softlink to make the warning go away, but the compile error persists.

[2018-09-18 15:02] mariussoutier commented on #12568
Actually, I'm using `scala-package/dev/compile-mxnet-backend.sh osx-x86_64-gpu ./` (I added `osx-x86_64-gpu` with the CUDA params).

[2018-09-18 15:58] stu1130 commented on #12586
@shababqcd Thanks for submitting the issue.
@mxnet-label-bot [Memory]

[2018-09-18 16:29] szha commented on #6023
@mariussoutier I'd like to see what pep425 tags are supported on your mac. What's the output of
[code]
Note that w/ pip10/18 the above may fail, and you can instead do
[code]

[2018-09-18 16:49] lebeg commented on #12472
@kepler-cpu the runtime on RPi was broken, but should be fixed when https://github.com/apache/incubator-mxnet/pull/12588 will be merged. Regarding your initial problem it's related to fortran not being present in dockcross and was fixed with https://github.com/dockcross/dockcross/pull/228. The fix should be contained in our custom builds on dockerhub https://hub.docker.com/r/mxnetci/.

[2018-09-18 17:12] #12564 closed

[2018-09-18 17:19] marcoabreu opened #12589 "Group and flag test coverage reports"
https://docs.codecov.io/docs/flags

We should apply flags to our coverage reports. This would allow us to filter by Configuration (CPU, GPU, MKLDNN, etc) or Environment (Mac, Ubuntu, Windows, Raspberry, Jetson).

[2018-09-18 17:26] mariussoutier commented on #6023
Both fail, actually. I have pip 18.

[2018-09-18 17:32] szha commented on #6023
weird. mine seems to work:
[code]

Do you mind running [this script](https://github.com/apache/incubator-mxnet/blob/master/tools/diagnose.py) and reporting the output? This is for collecting some environment information.

[2018-09-18 17:36] mariussoutier commented on #6023
Ah sorry, the latter works, I didn't import `pip._internal`, only `pip.

[code]

[2018-09-18 17:51] szha commented on #6023
@mariussoutier looks like the problem is that we didn't release the 3.7 support yet. For lower versions your python only supports ('cp36', 'none') whereas we have (cp36, cp36m, macosx_10_11_x86_64). I will see if I can quickly release one (allow 2 hours). However, note that 3.7 support hasn't been incorporated in mxnet's CI yet. If you run into issue, let us know immediately so that we can at leas

[2018-09-18 17:53] #9034 closed

[2018-09-18 17:59] sandeep-krishnamurthy commented on #12327
Thanks @jasonyu1996 for your contribution. Resolving.

[2018-09-18 17:59] #12327 closed

[2018-09-18 18:15] KellenSunderland commented on #12568
Yes unfortunately soft-links won't fix the problem.  NVCC doesn't support modern Clang.  The best path forward to get it to compile would be to install GCC from brew, and then use it to compile your code.

[2018-09-18 18:56] anirudh2290 commented on #11966
My opinion is that it is still a bug because it doesn't say clearly that float64 is not supported for this op. We cannot expect users to know what 1 or 0 maps to or what the error really means. The #11156 resolution is a good improvement in the error messaging.  I know many ops in MXnet don't do this currently, but a better way is to check for dtypes supported for the op inputs in InferType and er

[2018-09-18 19:00] apeforest commented on #11966
@anirudh2290 As @haojin2 commented #11156 has already updated the error message, so it is now considered a feature request to support float64. Thanks!

[2018-09-18 19:45] apeforest commented on #11966
@anirudh2290 I just tried to run the example in latest master and the issue seems have been resovled. Please verify and close this issue if you can confirm. Thanks.

[2018-09-18 20:18] srikar2097 commented on #11283
Hi @kalyc @sandeep-krishnamurthy If I want to contribute Group Norm implementation in Gluon. What is the process?

[2018-09-18 20:43] anirudh2290 opened #12593 "[DISCUSS] Infer Type Logic in Infer Type of Operators should throw exceptions for Unsupported Dtypes"
## Description

Infer Type logic should raise exception for unsupported dtypes for operators so that it is caught during the bind stage instead of forward. There may be operators out there which  don't have the check in InferType but in Forward.  For example : https://github.com/apache/incubator-mxnet/issues/11966 and https://github.com/apache/incubator-mxnet/issues/11156
Thoughts ? @sxjscience @h

[2018-09-18 20:43] anirudh2290 commented on #11966
@apeforest Thanks for confirming that the issue with respect to error message is fixed. Another issue as raised here , is about error being raised in forward instead of bind call. I know that there may be many operators which have this check in Forward instead of InferType. I have created a new discuss issue for the same and we can close this issue.

[2018-09-18 20:43] #11966 closed

[2018-09-18 21:15] azai91 commented on #11769
https://github.com/dmlc/mshadow/blob/master/cmake/mshadow.cmake#L11

Will look into what functions are not supported.

[2018-09-18 21:48] KellenSunderland commented on #12568
Absolutely!

So if you're building with make you'd just have to do something like

[code]

With cmake you could add this before generating your build files: "-DCMAKE_CXX_COMPILER=g++ -DCMAKE_C_COMPILER=/usr/bin/gcc"

[2018-09-18 21:57] #12089 closed

[2018-09-18 22:47] sandeep-krishnamurthy commented on #11849
Resolving as changes are merged.

[2018-09-18 22:47] #11849 closed

[2018-09-18 23:01] leleamol commented on #12247
You can try using the "CSVIter" as follows.

In the above example "mnist_iter_train_data.csv" and "mnist_iter_test_data.csv" files contain the input features as 784 columns and "mnist_iter_train_label.csv", "mnist_iter_test_label.csv" as single column of labels.

[2018-09-18 23:12] anirudh2290 commented on #12593
@ChaiBapchya

[2018-09-19 00:10] stu1130 commented on #11884
Thanks for submitting the issue @kjchalup
The reason why it uses floating point is that the label value could be generated by the regression, e.g. 68.6 kg for a human body weight.
There is a [page](https://mxnet.incubator.apache.org/tutorials/basic/data.html) that uses im2rec with real data.
I did some experiments to change the code to %d and it works with ImageRecordIter.
Could you provide some r

[2018-09-19 00:52] ChaiBapchya commented on #10487
#12594 Does this address a part of what was expected?
Just like "same" padding for maxPool1D, I'll have to extend it to all types of pooling and convolutions right?

[2018-09-19 05:43] mariussoutier commented on #6023
Ok, `pip install` succeeded, thanks!

[2018-09-19 07:13] Adesun commented on #12519
@aligoglos
did you run the command
`python OpWrapperGenerator.py ./path/libmxnet.dll`
if you did  and  no error occured,
the op.h should be in directory   cpp-package\include\mxnet-cpp\op.h

[2018-09-19 07:31] lizhen2017 commented on #12583
I find that my mxnet version is wrong. I pip install trt version mxnet , everything is all right.
Thanks for your help!

[2018-09-19 07:31] #12583 closed

[2018-09-19 07:32] lizhen2017 commented on #12575
The tensorrt compiling process is slow, is it common?

[2018-09-19 09:09] jasonyu1996 commented on #12484
It seems that I am not the only person who thinks this type of operators beneficial. Is anyone interested in implementing this? @haojin2 @apeforest @samskalicky

[2018-09-19 09:41] zhizec opened #12597 "How can I choose python version with docker image?"
How can I choose python version with docker image?  With "nvidia-docker run -ti --rm mxnet/python:gpu" I got default python 2.7. Any option to choose python version or should build specified image by myself? Thank you!

[2018-09-19 12:06] asitstands commented on #12528
I cannot reproduce the error in the restricted Boltzmann machine example. The stack trace you gave essentially says that `isinstance(pyrnd.getrandbits(32), int)` returns `False`, but it should return `True` simply because `getrandbits()` returns an `int` ([python doc](https://docs.python.org/3/library/random.html#random.getrandbits)). Would you try once more?

[2018-09-19 12:55] lizhen2017 opened #12598 "mx.contrib.tensorrt.tensorrt_bind got a bad result!"
Environment:mxnet-tensorrt-cu90 tensorrt 4.0, cuda9.0, cudnn 7.1 python3.5
(1)Inference with sym.simple_bind got right  detection result.
executor = sym.simple_bind(ctx=ctx, data=batch_shape, grad_req='null', force_rebind=True)
executor.copy_params_from(arg_params, aux_params)
(2) Inference with mx.contrib.tensorrt.tensorrt_bind got bad result
os.environ['MXNET_USE_TENSORRT'] = '1'
arg_params.upda

[2018-09-19 14:35] KellenSunderland commented on #12568
Looks like it's almost working.  Just to double check, would you be able to run a quick
[code]
and paste it here?

Also a
[code]

Those two commands should let us know what version of libcudart it's linked against and if it's on the library path.

[2018-09-19 15:56] 1frey commented on #10567
+1
Any news?

[2018-09-19 16:28] stu1130 commented on #12598
Thanks for submitting the issue @lizhen2017
@mxnet-label-bot[Bug]

[2018-09-19 16:29] KellenSunderland commented on #10567
My team has an implementation of this in a fork.  We'll try and contribute it back, but no promises on a timeline.

[2018-09-19 16:47] stu1130 commented on #12597
Thanks for submitting the issue @zhizec
@mxnet-label-bot[Question]
You can also post the question here [link](https://discuss.mxnet.io/) to get more help from community.

[2018-09-19 17:26] stu1130 commented on #12597
@mxnet-label-bot[question]

[2018-09-19 17:36] vandanavk opened #12602 "Update upsampling operator"
The existing Upsampling operator supports only one integer scale.
It would be useful to have this as a list of floats - a different scale per dimension.

This is required with ONNX export/import: https://github.com/onnx/onnx/blob/master/docs/Operators.md#Upsample

Other requirements related to upsampling operator:
Downscaling: https://github.com/apache/incubator-mxnet/issues/10674#issuecomment-384

[2018-09-19 17:36] stu1130 commented on #11884
After I traced the code from [im2rec.py](https://github.com/apache/incubator-mxnet/blob/master/tools/im2rec.py). The correct format is `float`. But if you use integer for label data, it should work fine since float(label value) return a float anyway

[2018-09-19 17:37] vandanavk commented on #12602
@mxnet-label-bot [Feature request, Operator]

@apeforest @haojin2 @samskalicky @Roshrini

[2018-09-19 17:38] aaronmarkham commented on #12575
@marcoabreu It wasn't added to the tutorials index. #12587 fixed that.
@xuzhenqi Please close this issue if you have the resources you were requesting. Thanks!

[2018-09-19 17:45] xiaolin-cheng commented on #12576
@kalyc do we have a C++ example of distributed training? thanks

[2018-09-19 18:04] KellenSunderland commented on #12575
@lizhen2017 it can take some time to compile as it does some auto-tuning during engine creation.  Would you like to see a feature that would allow you to cache the engine creation?  If so I can add it to our backlog.

[2018-09-19 18:31] leleamol commented on #12244
Hi @liuzhi136 ,
If you are building on Ubuntu, the build from source instructions on the links below would be helpful.

1. http://mxnet.incubator.apache.org/install/ubuntu_setup.html
2. http://mxnet.incubator.apache.org/install/build_from_source.html

The installation links mention Cuda 9.2 and CuDNN 7.14 versions.
I have tried these instructions on my setup and could build the mxnet without error

[2018-09-19 18:32] vandanavk commented on #11480
The PR has been merged. Can this issue be closed now?

[2018-09-19 18:44] lanking520 commented on #12568
@mariussoutier Thanks for your effort by making MXNet Scala GPU working on Mac OSX. The issue you have should be the linking issue. You should include them before you build the MXNet backend. Please check `libmxnet.so` file to see if there are linking issues.

[2018-09-19 19:35] #11480 closed

[2018-09-19 19:46] mariussoutier commented on #12568
[code]

and

[code]

[2018-09-19 20:05] lanking520 commented on #12568
How about the
[code]

[2018-09-19 20:08] #8799 closed

[2018-09-19 20:10] mariussoutier commented on #12568
[code]

[2018-09-19 23:47] stu1130 commented on #12526
@iamthebot
Could you give me the repro of what the data shape is and how you used and initialized the NDArrayIter?
We would like to make sure all the existing use cases work!
Thank you so much!

[2018-09-20 02:00] jasonyu1996 commented on #12484
@eric-haibin-lin Hi! Do you think it is necessary to provide an interface for explicitly defining dependencies like this https://www.tensorflow.org/api_docs/python/tf/control_dependencies ?

[2018-09-20 05:08] lizhen2017 commented on #12575
@KellenSunderland
I'll appreciate if you do so.Thanks for your help!

[2018-09-20 07:48] nswamy opened #12610 "Add thumbs up/down for API/Example/Tutorial documentation"
Time and again we have heard users complain that the documentation on Apache MXNet could need improvement, but we don't know which parts need improvement and also we cannot just do one overhaul of all the documentation, so we need to capture user feedback.

One suggestion @mli has made in the past is to have thumbs up/down reaction on each of the API/Example/tutorial documentation that exists, so

[2018-09-20 08:17] lizhen2017 commented on #12575
By the way, how to install mxnet-tensorrt-cu90 from sources, because I find that mxnet-tensorrt pip-installed version just support forwarding well, fucntions such as datasets processing and so on , can't be access to.

[2018-09-20 08:19] gautamkmr opened #12611 "Create docker images with jupyter notebook along with sample notebook"
MXNet Docker image should have jupyter notebook installed as well as some sample mxnet notebook. This could be an additional docker image than existing one but this will be very useful for users to quickly launch the jupyter notebook.

[2018-09-20 08:20] gautamkmr commented on #12611
@KellenSunderland  @mbaijal @sandeep-krishnamurthy  @bhavinthaker  any comment?

[2018-09-20 08:40] pengxin99 opened #12612 "cannot converge use the dcgan with mnist and cifar10 dataset?"
i use the dcgan.py to train dataset with mnist, after 25 epochs the netD`s performance pretty well , train acc is around 0.9, but the netG`s loss is a little high, and it looks like don`t converge

below is netD loss and netG loss:
![d_and_g_loss](https://user-images.githubusercontent.com/28485566/45806511-d582e400-bcf3-11e8-9972-462bece22ccb.png)

[2018-09-20 09:55] lovickie opened #12613 "Report a bug of Engine::Get()"
GraphExecutor should hold Engine::\_GetSharedRef() to a class member engine_ref_, or sometimes Engine might be deconstructed before GraphExecutor was deconstructed. Note that in ~GraphExecutor(), Engine::Get()->DeleteOperator() was called.

This bug is similar to https://github.com/apache/incubator-mxnet/issues/309 , which has been fixed yet. In this bug, sometimes ObjectPool\<ThreadedOpr\>, Objec

[2018-09-20 10:05] lovickie commented on #12613
I don't know how to paste the code elegantly, would anyone teach me please....

[2018-09-20 13:26] junrushao1994 commented on #12613
@lovickie You should use ` ``` `  to surround your code.

AFAIK, destruction order has been a long-standing problem here. Many years ago, when C++ 11 was not that popular, there were naked pointers everywhere...There should have been tons of PRs trying to fix this, but if there is any problem, you are more than welcome to submit a PR.

[2018-09-20 15:57] stu1130 commented on #12611
Thanks for submitting the issue @gautamkmr
@mxnet-label-bot [Feature request, Docker]

[2018-09-20 16:01] stu1130 commented on #12612
Thanks for submitting the issue @pengxin99
@mxnet-label-bot [question, example]
You can also post the question here [link](https://discuss.mxnet.io/) to get more help from the community.

[2018-09-20 16:11] stu1130 commented on #12613
Thanks for submitting the issue @lovickie
@mxnet-label-bot [Bug, Backend, C]

[2018-09-20 16:53] kalyc commented on #12565
@mdespriee thanks for your contribution. Looks like the PR has been merged. Can this issue be closed?

[2018-09-20 16:54] lanking520 commented on #12568
I would like to refer to this [issue](https://github.com/tensorflow/tensorflow/issues/6729#issuecomment-272589138). TF seemed to have something similar. It seemed to fix by this [comment](https://github.com/tensorflow/tensorflow/issues/6729#issuecomment-279483546) Hope this helps!

[2018-09-20 17:04] mdespriee commented on #12565
Can it be improved from the backend side ?
If not, yes, we can close it for now.

Le jeu. 20 sept. 2018 à 18:55, Kalyanee Chendke <notifications@github.com>
a écrit :

[2018-09-20 18:13] caiqi opened #12619 "Too large max depth value in _recursive_fork_recordio"
It seems that 1000 is too large for _recursive_fork_recordio in
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/dataloader.py#L178
Even if len(obj.__dict__.items()) > 2, this function will be called by more than 2 ** 1000 times.

The following code in https://github.com/dmlc/gluon-cv/blob/master/scripts/detection/ssd/train_ssd.py#L96  in gluon-cv will cause `Recursion

[2018-09-20 20:09] lupesko commented on #12319
@hetong007 - are there examples of models or use cases where these are useful? would help me to see if I can prioritize this on my team in Amazon. Thanks!

[2018-09-20 21:47] stu1130 commented on #12619
Thanks for submitting the issue @caiqi
@mxnet-label-bot [data-loading]

[2018-09-20 21:52] zhanghang1989 opened #12623 "Feature Request NDArray.has_nan() method"
`ndarray.has_nan(NDArray)` and  its convenient form `NDArray.has_nan()`, which return `True` if there is `nan` in the data else return `False`. This is very helpful in debugging.

Optimally has an option to output the per location prediction `ndarray.has_nan(x, gather=True)`, when `gather=False`, it should output a binary NDArray with the same shape as `x` and each location predicts the correspond

[2018-09-20 21:54] zhanghang1989 commented on #12623
@mxnet-label-bot [Feature Request, Operator]

[2018-09-21 04:34] jeremiedb commented on #12431
I think the issue comes from the evaluation metric. The following code include a modified rmse metric that flatten the pred and label vector. I think it's bug that the eval metric fails when the predictions are not in a flat setting, I'll open a PR to get it fixed.

[code]

[2018-09-21 05:37] paroda opened #12627 "Interop bug - clojure - executor/forward - param coercion issue"
## Description
ClassCastException when using executor/forward in cojure-mxnet with 3 args

## Environment info (Required)
[code]

Package used (Python/R/Scala/Julia): Clojure
I am using Clojure 1.9.0
Java version: openjdk 1.8.0_181

## Build info (Required if built from source)
Compiler: gcc
MXNet commit hash: db295eff3

Build config:
make -j4 USE_CUDA=0 USE_BLAS=openblas

## Minimum reproducible

[2018-09-21 05:41] eric-haibin-lin commented on #12623
Similarly
NDArray.is_inf() https://www.tensorflow.org/api_docs/python/tf/is_inf

[2018-09-21 05:42] eric-haibin-lin commented on #9721
TF has https://www.tensorflow.org/api_docs/python/tf/check_numerics

[2018-09-21 06:44] lovickie commented on #12613
More information as follows.
My project x, use mxnet to do sth, and also provides python api. When import mxnet before import x, the destruction ran well. But if import x before import mxnet, it would coredump when destruction. Finally I found this bug.
Thank reviewers for checking my PR.

[2018-09-21 06:58] BrianHanechak opened #12628 "Version 1.3.0 doesn't work for me on Windows (cu92); 1.3.0b20180915 works fine"
## Description
When I install version 1.3.0, the Python process exits whenever I do any GPU operation. 1.3.0b20180915 works fine, however.

## Environment info (Required)

----------Python Info----------
Version      : 3.6.3
Compiler     : MSC v.1900 64 bit (AMD64)
Build        : ('v3.6.3:2c5fed8', 'Oct  3 2017 18:11:49')
Arch         : ('64bit', 'WindowsPE')
------------Pip Info-----------
Versio

[2018-09-21 07:03] sriharikarnam commented on #6257
@eric-haibin-lin
Could you please suggest the procedure to add a subpage in mxnet wiki for the design proposal Couldn't find a link in the page where we can upload the design
We had registered for @dev and got approval

[2018-09-21 07:12] fhieber opened #12629 "Conflicting documentation for RNN dropout"
Current documentation on dropout in RNN layers / FusedRNN operator is a bit confusing to me:
- mx.gluon.rnn.{LSTM,RNN,GRU}'s docstring (for example: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/rnn/rnn_layer.py#L359) state `If non-zero, introduces a dropout layer **on the outputs** of each RNN layer except the last layer.` and this is in line with the `unfuse()` method,

[2018-09-21 07:32] #11455 closed

[2018-09-21 08:46] mariussoutier commented on #12568
I've tried the suggestions from these links:
[code]

but to no avail.

[2018-09-21 11:14] sbodenstein commented on #12463
@szha: any updates about this? Now that CUDA 10 and Turing GPUs are on sale (all with TensorCores), it would be very good to add support to make it easier to use TensorCores.

[2018-09-21 16:15] stu1130 commented on #12627
Thanks for submitting the issue and your contribution! @paroda
@mxnet-label-bot [Clojure, Bug]

[2018-09-21 16:19] stu1130 commented on #12629
Thank for submitting the issue @fhieber
@mxnet-label-bot [question, example]
You can also post the question here [mxnet discussion](https://discuss.mxnet.io/) to get more help from the community.

[2018-09-21 16:30] stu1130 commented on #12628
Thanks for submitting the issue @BrianHanechak
@mxnet-label-bot [Bug, Python]

[2018-09-21 16:51] eric-haibin-lin commented on #6257
Sorry I was not aware that you cannot edit the wiki page. What's your cwiki.apache.org account/email? I can add you.

For the initial design let's just send out a link to google doc on dev@ for people to comment, and we can copy paste the final design to cwiki later.

[2018-09-21 17:57] lupesko commented on #12598
@KellenSunderland - can you take a look please?

[2018-09-21 17:58] lupesko commented on #12627
@gigasquid - can you please take a look?

[2018-09-21 18:10] gigasquid commented on #12627
There is a PR in progress for it - it just got closed by mistake https://github.com/apache/incubator-mxnet/pull/12630

[2018-09-21 18:11] KellenSunderland commented on #12598
@lizhen2017 Thanks for the report.  Would you be able to share the model you're working with?

[2018-09-21 19:00] BrianHanechak commented on #12628
Some additional information... we are seeing some event log entries. On my computer:

Faulting application name: python.exe, version: 3.6.3150.1013, time stamp: 0x59d3d3a3
Faulting module name: ucrtbase.dll, version: 10.0.17134.191, time stamp: 0x5db729cd
Exception code: 0xc0000409
Fault offset: 0x000000000006e77e
Faulting process id: 0x1e4c
Faulting application start time: 0x01d4516eaca6e8ca
Faul

[2018-09-21 20:20] ChaiBapchya commented on #10487
@marcoabreu this looks like a feature request.

[2018-09-21 20:44] szha commented on #12629
RNN operator doc needs fixing.

[2018-09-21 23:10] lanking520 commented on #12568
@mariussoutier So if you add this, will the build package pass?

[2018-09-21 23:27] gigasquid commented on #12627
PR merged - closing

[2018-09-21 23:27] #12627 closed

[2018-09-21 23:38] sandeep-krishnamurthy commented on #12538
Resolving this issue as the change is reverted and tests are passing.

[2018-09-21 23:38] #12538 closed

[2018-09-21 23:38] sandeep-krishnamurthy commented on #12539
Resolving this issue as the change is reverted and tests are passing.

[2018-09-21 23:38] #12539 closed

[2018-09-21 23:57] #10694 closed

[2018-09-21 23:58] lupesko commented on #11884
Fix merged - thanks @stu1130 - this can be resolved.
@kjchalup - kindly resolve, or add more details if there is still an issue. Thanks!

[2018-09-22 01:09] lizhen2017 commented on #12598
@KellenSunderland I implement a tiny-yolov3 network, the network inference well without trt api, and how can share the model?

[2018-09-22 02:05] ChaiBapchya commented on #12623
Just went through the Debug operators and looks like, there are quite of few of them
https://www.tensorflow.org/api_guides/python/control_flow_ops#Debugging_Operations
[code]

Mostly I will work on that.

[2018-09-22 03:47] #11884 closed

[2018-09-22 08:00] I3orn2FLY commented on #11323
@lebeg
I gave up on amalgamation. Now I tried your proposed docker solution:
`ci/build.py -p android_arm64`
Now i have following error:
[code]

Full logs of step:
[code]

[2018-09-22 08:32] Lizonghang opened #12640 "Time bottleneck in forward_backward and next(train_iter)"
## Description

In BaseModule.fit function, <code>forward_backward</code> only needs 0.00055s, <code>update</code> only needs 0.079953s, <code>next(data_iter)</code> only needs 0.000265s. However, we run <code>forward_backward</code> and <code>next(data_iter)</code> together and spend 2.919867s. Could you please tell me what is the reason of this time bottleneck?

## Environment info (Required)

P

[2018-09-22 12:32] mariussoutier commented on #12568
@lanking520 Not sure how I can add this in Maven, I mostly use sbt for Scala builds. Will try to investigate. How can I join the Slack channel?

[2018-09-22 16:37] zhangyichent commented on #12228
mxnet-cu92  1.3.0 is error
mxnet-cu92  1.2.0 is ok

[2018-09-22 17:07] tqchen commented on #11964
close by #12047

[2018-09-22 17:07] #11964 closed

[2018-09-22 17:08] tqchen commented on #11964
Thanks @wkcn this is now part of MXNet, do you mind to do a write up on introducing this new feature?

[2018-09-22 18:19] some-guy1 commented on #12431
Thank you for the explanation!

[2018-09-23 02:57] szha commented on #12629
@haojin2 is addressing this in #12541

[2018-09-23 06:17] eric-haibin-lin commented on #12640
forward_backward is async. This document will help you understand how to profile performance:
https://mxnet.incubator.apache.org/tutorials/python/profiler.html#profiling-mxnet-models

[2018-09-23 06:28] zhreshold commented on #12619
see https://github.com/apache/incubator-mxnet/pull/12622

[2018-09-23 11:34] jianchao-li commented on #11015
Hello, @rohith14. Have you solved the problem? I came across exactly the same problem with `mxnet` and `gluoncv`.

[2018-09-23 18:16] gigasquid commented on #12568
@mariussoutier - To join the slack channel, post to the dev list a message that you would be like to be added to the slack channel and someone will invite you. There is also a @mxnet-scala slack room that we can use for faster chatting

[2018-09-23 18:53] stu1130 commented on #12640
Thanks for submitting the issue @Lizonghang and the response @eric-haibin-lin
@mxnet-label-bot[module, question, performance]

[2018-09-23 19:07] lebeg commented on #11323
Hm, it's strange. Actually, I was wrong about the actual command, it should be:
[code]
Don't forget to clean up properly before:
[code]

[2018-09-23 22:13] eric-haibin-lin commented on #12640
Closing this for now. Feel free to comment if you have follow up questions

[2018-09-23 22:13] #12640 closed

[2018-09-24 02:51] Angzz commented on #12619
@zhreshold I change the code you commit, but the error still exits

[2018-09-24 03:55] wkcn commented on #11964
@tqchen I'm sorry that I have some important thing to do and little time to write it recently.

[2018-09-24 05:48] Ldpe2G commented on #12574
@Eric-mingjie you can refer to my implementation: https://github.com/Ldpe2G/DeepLearningForFun/tree/master/Mxnet-Scala/UsefulTools

[2018-09-24 10:55] HawkAaron commented on #5113
I cloned all the code recursively, but still encoutered this error, do you know how to fix it ?

[2018-09-24 12:51] yajiedesign commented on #12628
ok i am find problem.

[2018-09-24 16:45] szha opened #12649 "Sequence operators should allow different type for sequence length"
Currently, Sequence operators (i.e. Sequence{Last,Mask,Reverse}) require sequence lengths and input data to have the same type, which doesn't seem necessary.

[2018-09-24 16:54] apeforest commented on #11926
@sandeep-krishnamurthy This issue is not related to Operator implementation. Please remove the [Operator] label. We have created a JIRA ticket MXNET-933 to implement the native constant operator in MXNet backend.

[2018-09-24 17:56] aaronmarkham commented on #11100
@lebeg - the instructions have been updated. However, there's no mention of these pre-built binaries in the new instructions except for the R binding. Should the guide be further updated to show users how to take advantage of the pre-built binaries for a vanilla MXNet install?
@vrakesh @ankkhedia @samskalicky - adding you all for visibility.

[2018-09-24 18:00] aaronmarkham commented on #10747
H @XMaster96 - the Windows instructions have recently been updated: https://mxnet.incubator.apache.org/install/windows_setup.html

One thing to note is that you should have CUDA, cuDNN and Visual Studio (2015 or 2017) installed before you use the mxnet-cu92 pip package.

[2018-09-24 18:06] aaronmarkham commented on #10562
@Feywell Did this resolve the issue? Or should the docs be updated to talk about this limitation?

[2018-09-24 18:19] zhreshold commented on #12619
@Angzz What os? Can you print this for me to debug?

[code]

[2018-09-24 18:41] Ishitori opened #12650 "Need to pass state to LSTM when doing float16 quantization"
There is an exception happens if I try to do float16 data type with LSTM and don't provide state as an argument.

## Environment info (Required)
[code]
Python

MXNet commit hash:
1.3.1b20180918

## Error Message:
[code]
## Minimum reproducible example
[code]

## Steps to reproduce

1. Run the example code

## What have you tried to solve it?

1. Passing state that you get from `begin_state()` fix

[2018-09-24 19:33] reminisce opened #12652 "Running MXNet built w/o TensorRT passes silently when MXNET_USE_TENSORRT=1"
When `MXNET_USE_TENSORRT=1` is set for the MXNet built w/o TensorRT, it currently falls back to the default graph executor without giving any warning messages.

[2018-09-24 19:39] stu1130 commented on #12650
Thanks for submitting the issue @Ishitori
@mxnet-label-bot[[python, Feature request]

[2018-09-24 19:50] Roshrini commented on #12049
Opened PR to upgrade ONNX version in CI. https://github.com/apache/incubator-mxnet/pull/12633

This issue will be fixed by that

[2018-09-24 20:18] sandeep-krishnamurthy commented on #9905
@sxjscience - Are you working on this Block?

[2018-09-24 22:53] anirudhacharya commented on #12510
@StephanieYuan any progress in re-enabling these tests?

[2018-09-24 23:02] lanking520 opened #12657 "Scala doc issue"
Currently, the Scala API page is broken. Please check this [link](https://mxnet.incubator.apache.org/api/scala/docs/index.html#org.apache.mxnet.SymbolAPIBase). The format is wrongly represented

[2018-09-24 23:29] lanking520 commented on #11878
@nswamy I think we can close this issue now since we add the support for DataDesc

[2018-09-25 00:14] ddavydenko commented on #12409
Seems like this extra question was filed and replied to in #12553. Could we close this issue as it has been addressed in comments above?

[2018-09-25 00:15] eric-haibin-lin commented on #11283
@srikar2097 you can add a contrib block in gluon. If you want some feedback on your plan to implement GroupNorm, you can subscribe dev list https://mxnet.incubator.apache.org/community/ and send out an email for RFC

[2018-09-25 00:59] aaronmarkham opened #12658 "test_dynamic fails in CI"
## Description
Looks like another flakey test.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12654/1/pipeline

[code]

[2018-09-25 01:06] gautamkmr commented on #12611
Idea by the infrastructure folks ... does it matter ?   Isnt it making the user experience better WDYT?

[2018-09-25 01:35] Angzz commented on #12619
@zhreshold
ubuntu 16.04, I print the info you mention above  with python2, and the output is 1000

[2018-09-25 01:40] zhreshold commented on #12619
Okay, I modified the search depth to be less aggressive.

[2018-09-25 01:47] Angzz commented on #12619
@zhreshold OK, I will update mxnet pre version to do a experiment, thanks

[2018-09-25 04:40] Faldict commented on #12142
Hi @KellenSunderland, sorry to bother you again.
Could you plz provide a copy of your tensorrt makefile? I wish to build from source on a Jetson TX2 board.

[2018-09-25 04:46] vandanavk commented on #9632
Pre-Kepler GPUs have been disabled by the PR referenced here.

@sandeep-krishnamurthy Please close this issue.

@piiswrong Please reopen this issue if it has been closed in error.

[2018-09-25 04:52] vandanavk commented on #10349
@sandeep-krishnamurthy Please close this issue as the PR has been merged.

@edavilandes @christoff-1992 Please feel free to reopen this issue if you encounter it again.

[2018-09-25 04:56] vandanavk commented on #10583
Can this be closed @marcoabreu ?

[2018-09-25 04:58] vandanavk commented on #10976
@sandeep-krishnamurthy Please change the label to Good First Issue.

Looks like the issue is not reproducible on a more recent codebase.

[2018-09-25 05:00] vandanavk commented on #11794
@CodePlay2016 do you still see this issue?
Please feel free to close it if it is resolved.

[2018-09-25 05:02] vandanavk commented on #12024
@David-Levinthal just wanted to followup to check if you still see this issue

[2018-09-25 05:42] #10349 closed

[2018-09-25 05:42] #9632 closed

[2018-09-25 05:42] #5433 closed

[2018-09-25 05:42] #2116 closed

[2018-09-25 07:35] #12409 closed

[2018-09-25 09:12] leezu opened #12661 "MXNet MKL conflicts with other MKL optimized packages"
## Description
For MXNet with MKL for BLAS, when importing and using mxnet in python but also using other python packages that separately link with MKL, the program will crash as having two MKLs linked is not supported by Intel. An example for a package being incompatible with MXNet with MKL is Numpy. This may be due to [MKL being statically linked](https://github.com/apache/incubator-mxnet/blob/c

[2018-09-25 11:02] Ishitori opened #12662 "Memory leak when passing images of different dimensions with MXNET_CUDNN_AUTOTUNE_DEFAULT"
## Description
I have noticed, that if I use MXNET_CUDNN_AUTOTUNE_DEFAULT=1 with big image dimensions (1900x1900), then after a forward pass a lot of GPU memory got consumed and never released. Autotune gets Out of Memory exception, if I try to pass another image after the first one with also big, but different dimensions (1800x1800).

The image dimensions are smaller, so my assumption is that sin

[2018-09-25 12:08] Angzz commented on #12619
when update to 1.3.1b20180925, error occurs when train ssd with coco:

---------------- train log and error log ------------------

INFO:root:Start training from [Epoch 0]
[19:54:19] src/operator/nn/./cudnn/./cudnn_algoreg-inl.h:109: Running performance tests to find the best convolution algorithm, this can take a while... (setting env variable MXNET_CUDNN_AUTOTUNE_DEFAULT to 0 to disable)
[19:54:

[2018-09-25 14:10] vandanavk commented on #12658
@mxnet-label-bot [Flaky, CI]

[2018-09-25 14:18] vandanavk commented on #12661
@mxnet-label-bot [Build, MKL]

[2018-09-25 14:21] vandanavk commented on #12662
@mxnet-label-bot [Bug, Memory]

[2018-09-25 14:37] ThomasDelteil commented on #12544
@huyangc indeed the issue is with the conversion from float64 to float32.

If you use instead:

[code]
you get
[code]

[2018-09-25 14:44] ThomasDelteil commented on #12612
@pengxin99 can you share qualitative example of images generated by your generator? Could you also share your full code?

[2018-09-25 14:51] fhieber commented on #12661
Related to #8532 ?

[2018-09-25 15:31] ThomasDelteil commented on #12597
@zhizec I agree with you we should provide py2 and py3 installations, @nswamy can you please update the label to [feature request] ? Thanks!

[2018-09-25 15:56] David-Levinthal commented on #12024
sorry..seriously overwhelmed..know a good cloning lab?
d

On Mon, Sep 24, 2018 at 10:03 PM Vandana Kannan <notifications@github.com>
wrote:

[2018-09-25 16:17] vandanavk commented on #12661
@fhieber Did the PR https://github.com/apache/incubator-mxnet/pull/11148 fix the issue for you?

[2018-09-25 16:28] vandanavk commented on #8234
@ThomasDelteil @thbupt Is this issue resolved now?

[2018-09-25 16:53] apeforest commented on #11804
@safrooze I have verified that using the master from intel/mkl-dnn module the problem has been fixed.
`>>> from mxnet import ndarray as nd

[100.]
<NDArray 1 @cpu(0)>`
@sandeep-krishnamurthy @nswamy Please close this issue.

[2018-09-25 16:57] safrooze commented on #11804
@apeforest Thanks! Closing this issue. Just for reference this fix will be included in MKLDNN 0.17 release.

[2018-09-25 16:57] #11804 closed

[2018-09-25 17:57] zhreshold commented on #12619
@Angzz Would disable these lines help? https://github.com/apache/incubator-mxnet/blob/29ac19124555ca838f5f3a01da638eda221b07b2/python/mxnet/gluon/data/dataloader.py#L181-L183

Are you using RecordFiles? If not, it has nothing to do with JPEG images.

[2018-09-25 18:31] vandanavk commented on #10436
@sandeep-krishnamurthy Please close this issue as PRs with fixes have been submitted.

@milandesai @wellner Please feel free to reopen the issue if you see it again.

[2018-09-25 18:35] aaronmarkham commented on #12578
@mxnet-label-bot[CI]
This issue really only comes up with the developing with the scripts used for CI. Since CI doesn't cache the intermediate artifacts (the build folders) this never pops up. But if you're developing with it and having to run full site builds, you need to run these scripts locally, and it is super nice having a build finish in seconds instead about 40 minutes. Injecting `make cle

[2018-09-25 18:38] #10436 closed

[2018-09-25 18:47] leezu commented on #12661
@fhieber Yes, lets track in #8532 only.

[2018-09-25 18:47] #12661 closed

[2018-09-25 18:59] mbaijal commented on #11158
Docker images uploaded to dockerhub for mxnet 1.2.1 and 1.3.0 are based on pip binaries.
PR to merge these new dockerfiles and build script is in review - https://github.com/apache/incubator-mxnet/pull/12556

[2018-09-25 19:10] lanking520 commented on #12657
@aaronmarkham I have looked into this. It seemed like the `<pre>` things messed up the parser. The reason we added that in the comments is to make it structural and not raising too much warnings. I tried to build doc without `<pre>` and it seemed to work. In this case, I suggest finding an alternative that Scala Parser will understand.

[2018-09-25 19:13] aaronmarkham commented on #12657
Maybe use [literal blocks](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#literal-blocks) in rst format instead?

[2018-09-25 20:45] vandanavk commented on #7873
Issue not reproducible with

MXNet 1.3.1
Python 3.6.5.
Platform     : Darwin-16.7.0-x86_64-i386-64bit
machine      : x86_64
processor    : i386

@stoneyang Closing this issue. Please feel free to reopen if you observe this issue again.

@sandeep-krishnamurthy Please close this issue.

[2018-09-25 21:02] vandanavk commented on #9052
Issue not reproducible with

Python 3.6.4
MXNet 1.3.0
Platform     : Linux-4.4.0-1065-aws-x86_64-with-debian-stretch-sid
machine      : x86_64
processor    : x86_64

@lhb8125 Can this issue be closed?

[2018-09-25 21:08] vandanavk opened #12665 "ke"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-09-25 21:08] #12665 closed

[2018-09-25 22:30] vandanavk commented on #8953
Issue not reproducible with the code in https://zh.gluon.ai/chapter_computer-vision/fine-tuning.html.
(MXNET 1.3.1 Python 3.6.5 MacOS).

@sandeep-krishnamurthy  Please close this issue.
@bigdata-eqxiu Please feel free to reopen if this issue appears again.

[2018-09-25 22:39] #8953 closed

[2018-09-25 22:39] #8836 closed

[2018-09-25 22:42] #7873 closed

[2018-09-25 23:00] yuxihu commented on #12403
@eli2014: could you please justify why the result should be
[[[[3,5, 5.5],
[15.5, 17.5]]]]
?

We tried your example with MXNet(1.3.1) and Caffe2 (0.8) and we get the same result from both frameworks, which is different from your output. Please provide more details on your test environment, like MXNet version, etc. for easier debugging.

**MXNet:**

[code]
**Caffe2**
[code]

[2018-09-25 23:00] yuxihu commented on #12403
@eli2014: regarding your above comment, could you please also elaborate on why you think the code needs to be modified to what you suggested?

[2018-09-25 23:14] vandanavk commented on #8048
Issue not reproducible with MXNet 1.3.1, Python 3.6.5 on Mac OS. Tried to replicate the issue with @reminisce's script.

@sandeep-krishnamurthy Please close this issue as it is not reproducible on latest code.

@dmadeka Please feel free to reopen if this issue is seen again.

[2018-09-25 23:15] apeforest commented on #12403
@sandeep-krishnamurthy As @yuxihu pointed out, the results from Caffe2 and MXNet are identical. It does not seem to be a bug. Please change the label to [Discussion]. Thanks!

[2018-09-25 23:17] #8048 closed

[2018-09-25 23:35] vandanavk commented on #11988
@mxnet-label-bot [Scala, Test]

[2018-09-25 23:37] #11988 closed

[2018-09-25 23:48] vandanavk commented on #9720
@drkoller Could you share the model with which you saw this issue? And any other script/data that you used, would be helpful.

[2018-09-26 01:29] #9052 closed

[2018-09-26 02:06] Angzz commented on #12619
Sorry, I don't understand why delete these lines, if delete, the recursive mechanism will not work? I do not use the ``RecordFiles``, just the images download by script ``gluoncv/datasets/mscoco.py``. By the way, I find trouble always occur with coco but not voc, I doubt when image files up to a certain amount(just like coco), the multiprocess in dataloader will not work well(just like pytorch), i

[2018-09-26 02:42] Cpruce opened #12669 "Dropout output shape not the same as input shape"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-09-26 04:08] Cpruce commented on #12669
Issue persists in mxnet-cu92, signifying probably not a cuda issue

[2018-09-26 06:02] vandanavk commented on #12669
@mxnet-label-bot [Gluon, Bug]

[2018-09-26 06:03] Angzz commented on #12619
when train to 13 epoch for coco, another error occurs:

[13:44:22] src/resource.cc:262: Ignore CUDA Error [13:44:22] src/storage/storage.cc:65: Check failed: e == cudaSuccess || e == cudaErrorCudartUnloading CUDA: initialization error

Stack trace returned 10 entries:
[bt] (0) /home/liang/.local/lib/python3.5/site-packages/mxnet/libmxnet.so(+0x379e1a) [0x7fadcc375e1a]
[bt] (1) /home/liang/.local/l

[2018-09-26 06:11] vandanavk commented on #9396
@DickJC123 did you get a chance to check this issue with the latest code or @eric-haibin-lin's inputs?

[2018-09-26 06:11] vandanavk commented on #8884
@leoxiaobin Does this issue still exist?

[2018-09-26 06:16] vandanavk commented on #9874
@Caenorst did @zheng-da's PR improve the performance on your setup?

[2018-09-26 06:18] vandanavk commented on #11161
@pengzhao-intel @jinhuang415 is there a PR for this issue?

[2018-09-26 06:48] pengzhao-intel commented on #11161
@vandanavk Not yet, the 1D conv is still under the development.
We will file PR and merge it into MXNet in the next MKL-DNN release (0.17).
https://github.com/intel/mkl-dnn/commit/a1204e41d177c0117f129cfaef92dc81d030ef4e

[2018-09-26 09:00] Will0622 commented on #11794
@reminisce @xinyu-intel I still see the same bug that the quantized network has duplicate dequantize operators when I use custom symbols. Attached are the symbols before and after quantization of a tiny example where I use the custom op only once in the network.
[symbols.tar.gz](https://github.com/apache/incubator-mxnet/files/2418916/symbols.tar.gz)

[2018-09-26 10:36] al-rigazzi commented on #10865
@zheng-da sometimes, using very large batches, I observe NaN values at the first training iteration. The phenomenon is much more frequent when I use more OMP threads and the network is large. For example, if I use more than 20 OMP threads with VGG 16 and 1024 samples per batch (on a single node), I get NaN's 10% of the times.

I think this could be due to a race condition when allocating/copying M

[2018-09-26 11:10] sbodenstein commented on #9543
@szha, @DickJC123: TensorCore support for RNNs is [currently disabled](https://github.com/apache/incubator-mxnet/blob/225f71f744ac5e7bd29868b6d3ba0e4fe2527c43/src/operator/cudnn_rnn-inl.h#L47). We would really like to make use of this for training large RNN models.

Are there any plans to add support for it soon?

Also: what about a flag `cudnn_use_tensorcores` (similar to cudnn flags in convoluti

[2018-09-26 12:26] ghost opened #12671 "Could you tell me how to use aug_seq at mx.io.ImageRecordIter?"
## Description
I was wondering if there are same examples for us to know how to use aug_seq at mx.io.ImageRecordIter. there are just a few information for it.

## Environment info (Required)
[code]
Package used (Python/R/Scala/Julia):
I'm using Python for tackle the problem.
Python 2.7

[2018-09-26 13:18] chengdazhi commented on #10240
@vandanavk Thanks for asking. I'm not sure, we switched back to symbol implementation. Haven't verified whether the PR mentioned could solve the problem.

[2018-09-26 14:45] Angzz commented on #12619
finally I solve this problem by this link:
https://github.com/r9y9/gantts/issues/14
but I don't know why?

[2018-09-26 15:08] vandanavk commented on #12671
@mxnet-label-bot [Question, Data Loading]

[2018-09-26 17:50] zhreshold commented on #12619
@Angzz  Not sure why, maybe python related. However, it is not relevant to this thread. I am going to close this issue. Let me know if anyone is still getting the same original recursion error.

[2018-09-26 17:52] arogozhnikov opened #12672 "Ndarray construction can't convert zero-dimensional numpy arrays"
## Description

See example below

## Environment info (Required)

Ubuntu 18, python 3.6, pip-installed CPU-only version
MXNet 1.3.0

## Minimum reproducible example

[code]

MXNet does support zero-dimensional arrays, so this is the problem of importing.

[2018-09-26 17:52] rozaliyaeverstova opened #12673 "MNIST Handwritten Digit Classification - Missing Page"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-09-26 17:56] vandanavk commented on #12673
@mxnet-label-bot [Doc, Website]

@aaronmarkham

[2018-09-26 17:57] vandanavk commented on #12672
@mxnet-label-bot [NDArray]

[2018-09-26 18:11] vandanavk commented on #12613
The PR has been merged. @lovickie Can this issue be closed?

[2018-09-26 18:20] vandanavk commented on #11278
@sandeep-krishnamurthy Please close this issue as the PR has been merged.

@xmfbit Please feel free to reopen this issue if you see it again

[2018-09-26 18:29] szha commented on #9543
I'm not sure about adding the flag as part of the operator arguments, because this option is not meaningful to other implementation. I think instead we can have it as an environment variable similar to other performance-related features.

[2018-09-26 18:30] szha commented on #9543
We definitely want to add this support, though we are currently a bit short-handed. A patch is most certainly welcome.

[2018-09-26 18:30] vandanavk commented on #10416
@NKUCodingCat did mxboard work for you?
Please update/close this issue if it is resolved on your setup.

[2018-09-26 18:31] #11278 closed

[2018-09-26 18:45] vandanavk commented on #11108
@myme5261314 Is this issue still seen on your setup?

[2018-09-26 19:58] lanking520 opened #12675 "R package flaky test on downloading"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12639/2/pipeline/1013

Could you please provide a retry scheme while trying to download the model?
@anirudhacharya @hetong007

[2018-09-26 20:17] aaronmarkham commented on #12673
Yes, those should be the same tutorial, or at least the one on the website is the very latest. Whatever that old link was pointing to was some old version of the tutorial. Please let me know if there's a broken link somewhere that can be updated.

Each markdown tutorial in Github /incubator-mxnet/docs/tutorials/ is converted to html and published on the website: https://mxnet.incubator.apache.org/

[2018-09-26 20:20] aaronmarkham commented on #10020
Hi @Mabinogiysk did #12388 fix this for you? If so, can you close this?
There's this page now: https://mxnet.incubator.apache.org/install/c_plus_plus.html

[2018-09-26 20:34] aaronmarkham commented on #12673
Github content gets removed. I can't tell why or how in this case. Maybe an deleted branch? But if there's a referring link on the website pointing to that... that's something that can get fixed.

Licensing is Apache 2.0.

[2018-09-26 20:35] aaronmarkham commented on #12610
@nswamy I'd label this a Website and not Doc.

[2018-09-26 20:36] vandanavk commented on #12675
@mxnet-label-bot [R]

[2018-09-26 20:40] aaronmarkham commented on #12523
@lanking520 I had run into this issue before and had a similar resolution. I can't recall why these logger imports were removed from the tutorial. What can be done to make this easier and not throw errors?

Also, on a similar note, when building the scalapkg for docs there are a lot of these errors, and it would be nice if they went away... Here's just one example:

[code]

[2018-09-26 21:37] vandanavk commented on #9015
With MxNet 1.3.1

[code]

[2018-09-26 21:43] ankkhedia commented on #12491
@sandeep-krishnamurthy Could you please close the issue as question has been answered

[2018-09-26 21:46] #12491 closed

[2018-09-26 21:46] #12439 closed

[2018-09-26 21:46] vandanavk commented on #11689
PR https://github.com/apache/incubator-mxnet/pull/12315 has enabled this test.

cc @sandeep-krishnamurthy

[2018-09-26 21:51] vandanavk commented on #11719
@sandeep-krishnamurthy  Please close this issue as PR has been merged

[2018-09-26 21:58] vandanavk commented on #12359
@sandeep-krishnamurthy Please close this issue as the PR has been merged.

@reminisce Please feel free to reopen if you see this issue again.

[2018-09-26 22:25] ChaiBapchya opened #12676 "Mismatched Shapes in Value Error"
## Description
Shapes given in the Value error seem to be mismatched between expected and got

Python

Compiler: visual studio

MXNet commit hash: 769165b1794f9067e42c65477b3c2fe91a606f89

## Error Message:
[code]

## Minimum reproducible example
`mx.nd.array(1)`

Correct way of initialization right now is to feed a list,
[code]
Shape of such an NDarray is
[code]

Meaning, it expects (1,)
However,

[2018-09-26 22:44] vandanavk commented on #11542
Similar issue: https://discuss.mxnet.io/t/symbolblock-imports-valueerror-there-are-multiple-outputs-with-name/1599/3

[2018-09-26 22:52] vandanavk commented on #12676
@mxnet-label-bot [NDArray]

[2018-09-26 22:56] ChaiBapchya commented on #12676
@mxnet-label-bot [Bug]

[2018-09-26 23:05] aaronmarkham commented on #12415
Failed again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12667/2/pipeline

[2018-09-26 23:06] aaronmarkham commented on #12415
@kalyc It's failing on Windows so testing it on a Mac might not reproduce it.

[2018-09-26 23:11] vandanavk commented on #10271
@ajayvohra2005 Please help verify the changes in https://github.com/dmlc/dmlc-core/pull/384. Thanks

[2018-09-26 23:59] vandanavk commented on #4709
@sandeep-krishnamurthy Please close this issue for now.

@xinghedyc Please reopen this issue if you see it again or if this issue has been closed in error.

[2018-09-27 00:12] ustcfd opened #12679 "How to get the true value of the mxnet.NDArray by Scala"
I’ve trained my model using mxnet_1.3 python HybridBlock. Then I load the trained model in Scala. I didn’t get any errors when I run [demo.Scala,](https://github.com/ustcfd/mxnet_scala/blob/master/scala_model_load/demo.scala) and the output is shown in the following.

![mxnet_scala](https://user-images.githubusercontent.com/18348656/46071393-808f1400-c1b2-11e8-9e49-e5e87e0694ab.png)

But now I got

[2018-09-27 00:12] vandanavk commented on #11542
@sandeep-krishnamurthy Please change the label to [Bug, Gluon]. The issue occurs on Gluon import of certain models (not ONNX format alone).

[2018-09-27 00:17] ustcfd opened #12680 "How to get the true value of the mxnet.NDArray by Scala"
I’ve trained my model using mxnet_1.3 python HybridBlock. Then I load the trained model in Scala. I didn’t get any errors when I run [demo.Scala,](https://github.com/ustcfd/mxnet_scala/blob/master/scala_model_load/demo.scala) and the output is shown in the following.

![mxnet_scala](https://user-images.githubusercontent.com/18348656/46071393-808f1400-c1b2-11e8-9e49-e5e87e0694ab.png)

But now I got

[2018-09-27 00:28] #12680 closed

[2018-09-27 00:30] ustcfd commented on #12680
This is a duplicate。My fault,sorry.

[2018-09-27 00:33] #10583 closed

[2018-09-27 00:35] #12669 closed

[2018-09-27 00:40] vandanavk commented on #4661
Issue not reproducible with MXNet 1.3.1, Python 2.7 and Python 3.6.
Verified on DL AMI with Ubuntu.

@shadowinlife Can this issue be closed?

cc @sandeep-krishnamurthy

[2018-09-27 00:41] Ldpe2G commented on #12679
@ustcfd
1. getOutputs method returns IndexedSeq[IndexedSeq[NDArray]], refer to https://github.com/apache/incubator-mxnet/blob/master/scala-package/core/src/main/scala/org/apache/mxnet/module/Module.scala#L492

2. refer to set and asType  methods of NAarry
 https://github.com/apache/incubator-mxnet/blob/master/scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala#L700

https://github.com

[2018-09-27 00:43] zhreshold commented on #4661
@vandanavk The original issue started with "Operating System: OS X 10.11.6". But you are testing on ubuntu.

[2018-09-27 01:19] vandanavk commented on #4661
Update: Tested on MacOS 10.12.6, MXNet 1.3.1, Python 2.7.15 too. Segmentation fault not observed.

Executed `python2 image_segmentaion.py --input VOC2012/JPEGImages/2007_000027.jpg`

@zhreshold thanks :) updated

[2018-09-27 01:31] ZhennanQin opened #12681 "Batch_norm parameter names mismatch on gluon"
In python/mxnet/gluon/nn/basic_layers.py:

[code]

Should we rename running_mean_initializer to moving_mean_initializer, and running_variance_initializer to moving_variance_initializer?

Also,

[code]

'running_mean' and 'running_var' are mismatched with op definition:
[code]
This will cause trouble for parameter checking. Shall we align them?

[2018-09-27 03:17] hongBry commented on #10563
@FoConrad @sxjscience
 I also implemented PPO using mxnet-gluon, but the performance is much worse than the OpenAi baseline.
Is it really caused by the Adam optimizer in MXNet? Have you solved this problem?

[2018-09-27 04:26] #11689 closed

[2018-09-27 04:45] zhreshold commented on #12681
@piiswrong

[2018-09-27 05:28] vandanavk commented on #12681
@mxnet-label-bot [Gluon, Question]

[2018-09-27 06:52] yifeim commented on #10563
The PPO paper primarily depended on SGD and used Adam only as an alternative for better performance. Given he online nature of the problem, I would be surprised if SGD makes a fundamental difference.

Also, while the KL term stabilizes the objective, PPO may be too conservative if there is no explicit exploration. Weight divergence is expected: any optimal policies must be deterministic, i.e. satu

[2018-09-27 11:24] zhengyi2015mi opened #12682 "No conversion function registered for op type BlockGrad yet"
When I transform my mxnet model to onnx model, I met the following error:
![image](https://user-images.githubusercontent.com/12168094/46142859-de8f2a80-c28a-11e8-979e-39d884e80055.png)
Here is my *-symbol.json file:
![image](https://user-images.githubusercontent.com/12168094/46142901-02527080-c28b-11e8-84f3-21860d85f291.png)

[2018-09-27 13:15] srochel opened #12683 "tests still pulling data from data.dmlc.ml and are randomly failing"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-09-27 13:55] sbodenstein commented on #9543
@szha: I'm happy to make a PR. One question about the behaviour: the flag `MXNET_CUDA_ALLOW_TENSOR_CORE` is set to `true` by default. Its behaviour is:
- Only use TensorCores if `DType` is `float16` and `MXNET_CUDA_ALLOW_TENSOR_CORE` is `true`. Presumably, the use of TensorCores will never worsen `float16` training, so defaulting to TensorCore use seems reasonable.
- But if `DType` is `float32`, t

[2018-09-27 14:49] tdomhan opened #12684 "MXNet 1.3 on PyPI Cuda 9.1"
MXNet 1.3 on PyPI for Cuda 9.1 seems to only be build for windows.
Looking at: https://pypi.org/project/mxnet-cu91mkl/1.3.0/#files
There are only versions for `mxnet_cu91mkl-1.3.0-1-py2.py3-none-win_amd64.whl` and `mxnet_cu91mkl-1.3.0-py2.py3-none-win_amd64.whl`. A version for `manylinux` is missing. The same is true for `mxnet-cu91`.

Indeed `pip install mxnet-cu91mkl` will install version `1.2.1

[2018-09-27 16:06] apeforest commented on #12061
@sandeep-krishnamurthy @anirudh2290 This issue has been fixed by the requester. Please close it. Thanks!

[2018-09-27 16:07] vandanavk commented on #12682
@mxnet-label-bot [ONNX, Operator]

[2018-09-27 16:10] vandanavk commented on #12684
@mxnet-label-bot [Build, CUDA]

[2018-09-27 16:12] #12061 closed

[2018-09-27 16:15] vandanavk commented on #12683
@mxnet-label-bot [CI, Test]

[2018-09-27 16:41] aaronmarkham commented on #12566
I'm capturing this issue here for later followup: https://issues.apache.org/jira/browse/MXNET-998
As the issue isn't happening anymore and seems transient, I'm closing this.

[2018-09-27 16:41] #12566 closed

[2018-09-27 17:06] lanking520 commented on #12679
@ustcfd About printing is werid stuff: I created something that is similar to ndarray in Python:
https://github.com/apache/incubator-mxnet/pull/12536. The visualize function can help you get some context what is inside.

Your second request is also concerning in our current usage. Let me think about it and get you back.

[2018-09-27 17:51] vandanavk commented on #11693
Created PR# https://github.com/apache/incubator-mxnet/pull/12686

[2018-09-27 18:19] anirudhacharya commented on #12675
@mxnet-label-bot ["Flaky", "Test"]

[2018-09-27 18:36] vandanavk commented on #12676
Fix in PR https://github.com/apache/incubator-mxnet/pull/12678 (Ref: https://github.com/apache/incubator-mxnet/pull/12677#issuecomment-424960050)

[2018-09-27 18:49] vandanavk commented on #8601
@sandeep-krishnamurthy Please close this issue based on @vishaalkapoor's comments above.

@mstokes42 Please feel free to reopen this issue if it has been closed in error.

[2018-09-27 19:35] #8601 closed

[2018-09-27 20:06] vandanavk commented on #11542
Sure. Here's the code snippet with ONNX model, https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100/resnet100.onnx

[code]

[2018-09-27 21:02] vandanavk commented on #12514
@xhappy @lizhen2017 could you share the model that you are using for testing

[2018-09-27 22:05] sandeep-krishnamurthy commented on #12309
@vishaalkapoor - Any comments here? Thanks!

[2018-09-27 22:20] sandeep-krishnamurthy commented on #11342
@wenyangchu - You could use "MXNET_CUDNN_AUTOTUNE_DEFAULT" environment variable for these options.
MXNET_CUDNN_AUTOTUNE_DEFAULT=0 for off, 1 for limited workspace (default), 2 for fastest.

[2018-09-27 22:27] zhreshold commented on #11342
Adding additional cudnn specific arguments sounds good to me

[2018-09-27 22:52] vishaalkapoor commented on #12309
@sandeep-krishnamurthy
Hi, this was resolved by reverting notebooks that were added on 08-21 (just prior to the failure) https://github.com/apache/incubator-mxnet/pull/12343
and you created an issue to track adding back those notebooks.
https://github.com/apache/incubator-mxnet/issues/12345
Coincidentally, I'm looking at the straight dope today :)

Please feel free to close this issue as it's bein

[2018-09-27 22:59] samskalicky commented on #12389
@marcoabreu please remove Memory label, this is a bug in NDArray API.

[2018-09-27 23:35] lanking520 commented on #12679
@ustcfd Hope this helps: https://github.com/apache/incubator-mxnet/pull/12690

[2018-09-27 23:39] vandanavk commented on #12682
Thank you for reporting this issue @zhengyi2015mi. Could you share the model you used for testing?

Are there any other operators that are giving such errors? Please share details of those operators too (if any).

[2018-09-28 00:04] #11693 closed

[2018-09-28 01:09] huyangc commented on #12544
@ThomasDelteil Thanks, I need to use a nparray when construct an IRHeader.
Help a lot !

[2018-09-28 01:09] #12544 closed

[2018-09-28 01:39] ustcfd commented on #12679
Thank you very much for the reply ,which have deepened my understanding of mxnet by scala。@lanking520，the interface function perfectly solved my problem。

[2018-09-28 01:41] #12679 closed

[2018-09-28 02:29] eli2014 commented on #12403
@yuxihu @apeforest
I made a mistake in the example. The value of spatial_scale should be 1.0.
So the statement 'mx.nd.ROIAlign(x, y, (2, 2), 0.7)' should be 'mx.nd.ROIAlign(x, y, (2, 2), 1.0)'.
If you rerun the example, the output will be
[[[[5.25, 6.75],
[14.25, 15.75]]]].

I think the output should be
[[[[3,5, 5.5],
[15.5, 17.5]]]]

Because y = mx.nd.array([[0,0,0,3,3]]) means the start coordina

[2018-09-28 02:37] ShoufaChen commented on #9288
I depend on the shape as :

I have a `y` : `(batch , c, h*w)`,  and `x`: `(batch, c, h, w)`

`h` and `w` is not determined.  Before I use `net.hybridize()`, I can use `y.reshape(0, 0, *x.shape[2:])`, however, after the `hybridize`, the `symbol` don't have the `shape` attribute, so how to achieve the same purpose?

how could I do?  thank you very much.

[2018-09-28 02:38] szha commented on #9543
Yes, I agree that the new variable is necessary. This matches the "_ALLOW_CONVERSION" flags in the cudnn interface.

[2018-09-28 02:55] feevos commented on #9288
Hi @ShoufaChen, your problem is easy, see [nd.array.reshape](https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.NDArray.reshape) operation. The same exists for Symbol

[code]
you can use this trick inside your custom layer definition. Hope this helps.

[2018-09-28 03:15] ShoufaChen commented on #9288
@feevos
thank you very much for your reply.
Maybe I don't represent my problem clearly.  In fact, I want to 'split' the dimension, rather than multiply the last two dimension.

Is there any solution?

[2018-09-28 05:06] #12309 closed

[2018-09-28 05:39] #12613 closed

[2018-09-28 05:39] #11838 closed

[2018-09-28 06:55] denemmy commented on #8188
I have the same problem

[2018-09-28 07:40] fhieber commented on #8532
I finally got back to this after a while. I no longer observe the libomp-related error mentioned in the original issue, but I am observing process deadlocks with the following numpy/mxnet configuration in Sockeye:
[code]
If mkl-optimized numpy is installed via anaconda (as shown above) and using mxnet-mkl==1.3.0.post0 on a Mac laptop, the Sockeye subprocess spawned at a checkpoint (to decode the v

[2018-09-28 08:20] pengzhao-intel commented on #8532
@fhieber thanks for the feedback.
Could you give me a test case to reproduce this issue?

[2018-09-28 15:30] fhieber commented on #8532
[code]
(this will train a tiny model on the setup.py file, but will hang once reached 100 updates and spawns a CheckpointDecoder subprocess to decode 2 sentences of the validation data.
This will hang with the last log line being:
[code]

If you set `--decode-and-evaluate 0`, no decoder subprocess will be started at each checkpoint, and training runs fine.

If you run
[code]
and run the same train

[2018-09-28 16:19] vandanavk commented on #12652
@KellenSunderland for inputs

[2018-09-28 16:32] asmushetzel commented on #12518
Great, looking forward for a fix. Please keep in mind, that these operators should also be part of the "random" namespace.
Think this is important to fix, people simply won't see what exists so assume that MXNet just has plane nothing for certain tasks. Bad for reputation.

[2018-09-28 16:39] vandanavk commented on #9467
@larroy This test doesn't fail on latest CI builds. Closing this issue. Please feel free to reopen if it has been closed in error.

@sandeep-krishnamurthy Please close this issue.

[2018-09-28 17:27] sandeep-krishnamurthy commented on #12403
Thanks for the update! Resolving as the issue is addressed.

[2018-09-28 17:36] sandeep-krishnamurthy commented on #7582
Resolving in favor of broader Gluon memory optimization effort - https://github.com/apache/incubator-mxnet/issues/12226

Please reopen if closed in error.

[2018-09-28 17:36] #7582 closed

[2018-09-28 18:43] safrooze commented on #9288
@ShoufaChen At the moment you only have one good option: define a `self.shape` in your block and add a `set_shape()` function that you call from the training top level using data's shape before you pass data into the function.

[2018-09-28 18:57] #12049 closed

[2018-09-28 20:34] zhanghang1989 opened #12699 "[Feature Request] Reference Copy Option for asnumpy() method"
## Description
Current implementation of `NDArray.asnumpy()` method does not have the option to avoid the physical copy in the memory. Another framework of PyTorch has a similar method of `Tensor.numpy()`, which does the reference copy. That means PyTorch create a `numpy.array()` with the same memory of the `torch.Tensor`. We could similarly allow the reference copy option by setting an optional `

[2018-09-28 20:48] vandanavk commented on #12699
@mxnet-label-bot [Feature request, NDArray]

[2018-09-28 20:50] Ishitori opened #12700 "Add support of dot product (GEMM) for float16 on CPU"
## Description
Currently dot product for float16 is supported only on GPU (was added https://github.com/apache/incubator-mxnet/issues/10531), but is not supported on CPU. It would be great to add it to CPU for fast inference.

Package used (Python/R/Scala/Julia):
Python, mxnet 1.3.0

## Error Message:
[code]

## Minimum reproducible example
[code]
## Steps to reproduce

1. Run the Minimum reproduc

[2018-09-28 20:50] Ishitori commented on #12700
@eric-haibin-lin

[2018-09-28 20:56] vandanavk commented on #12700
@mxnet-label-bot [Feature request, Operator]

[2018-09-28 20:57] szha commented on #12226
#12668

[2018-09-28 22:31] yzhliu commented on #6023
@szha Can we have pip build from source when it encounters unsupported python / arch, e.g., arm?

[2018-09-28 23:36] vandanavk commented on #11281
@sandeep-krishnamurthy  Please change the label to [Feature request, Operator]

[2018-09-28 23:59] pengzhao-intel opened #12703 "Performance Regression from #12019"
The performance on CPU dropped about 30-50% for the inference in resnet151 and other networks till
https://github.com/apache/incubator-mxnet/pull/12019

Please reproduce the issue by benchmark_score.py.

Below data shows the fps changes, such as first row from 33.89 drops to 19.91, about -41%.

@azai91 @zheng-da @eric-haibin-lin

647559	resnet-152#3#224#224#1	647559
COMPLETED	1516 s	RESNET-152	1	F

[2018-09-29 00:18] szha commented on #6023
@yzhliu that's possible if we do a source distribution. however, we'd have to assume that the build config we use is what the user wants.

[2018-09-29 03:06] charlesrwest commented on #9647
I would also like to see the C/C++ API have access to the same features/be treated as a first party.  It is one of the primary draws of MXNet for me.

[2018-09-29 04:47] pengzhao-intel commented on #8532
@fhieber thanks for the details information.

Because this is a new issue, do you mind close this one and open a new one?
BTW, the issue is observed from sockeye first, I suggest we can create an issue in sockeye repo first and go back MXNet repo when we figure out the specific bug.

[2018-09-29 04:48] FoConrad commented on #10563
The way I debugged the implementation is similar to the code I posted above. I ran the OpenAI baselines code with my implementation of PPO, made sure they were initialized the same, and stepped through comparing the weights and gradients.

I found immediately my value function was incorrect.

Also, double check your initialization to begin with. Sometimes PPO was very sensitive to the weight initi

[2018-09-29 05:03] pengzhao-intel commented on #12700
A good suggestion :)

Maybe more aggressive, the INT8 dot is also needed.

[2018-09-29 05:50] eric-haibin-lin opened #12705 "Fp16 support for top_k operator"
[code]

TopK is commonly used for metrics and building block for machine translation networks. This should be supported.

[2018-09-29 05:54] #9536 closed

[2018-09-29 18:32] vandanavk commented on #12703
@mxnet-label-bot [Performance]

[2018-09-30 05:00] eric-haibin-lin commented on #9547
Bump. Extensibility is very important

[2018-09-30 06:27] Aozorany commented on #8850
[only works on version 1.2.0 and 1.2.1](https://github.com/Aozorany/incubator-mxnet/tree/master/amalgamation)

[2018-09-30 22:27] lupesko commented on #12247
@leleamol

I think this function is part of the example, in [example/utils.h](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/example/utils.h)

Would be great is if you can try to reproduce the issue @zxy110 is facing, and either fix the example, or show how the usage is incorrect.

[2018-09-30 23:49] johnbroughton2017 opened #12707 "well-trained model fails at training data"
Hi all,

For some reason I am encountering the following problem:
I trained an alexnet type model until the training accuracy is about 100%, which is the output of the training process. To validate the model, I manually load the last checkpoint and then predict on the training data. But the accuracy drops to about 80%. I think something must be wrong. I tried adding or removing the mean RGB but it

[2018-10-01 00:49] vandanavk commented on #12707
@mxnet-label-bot [Question, Example]

[2018-10-01 02:45] ShoufaChen opened #12708 "SyncBatchNorm not supports 1D batch norm"
SyncBatchNorm not supports  1D batch norm?
## Environment info (Required)
Ubuntu 18.04
CUDA 9.0
mxnet 1.3.0
python 3.6

I add a module based upon gluon-cv  yolo, and use a `conv1d` followed with a batch norm layer. The code is shown as：
[code]
Note that this batch norm layer follows a `Conv1D` layer.  When `num_sync_bn_devices < 1`, this will work properly, however, I will get following error when

[2018-10-01 03:31] johnbroughton2017 commented on #12707
nvm.

seems to be making some mistakes during color conversion!

[2018-10-01 03:31] #12707 closed

[2018-10-01 04:03] vandanavk commented on #12708
@mxnet-label-bot [Gluon, Question]

cc @sandeep-krishnamurthy

[2018-10-01 08:00] perdasilva commented on #11707
#12477 seems to be handling it- so I've closed my PR (#12382)

[2018-10-01 16:49] stu1130 commented on #9110
cuDNN didn't support 3d dilation convolution yet, will use another method to achieve the same functionality. @sandeep-krishnamurthy please add feature request label. thanks

[2018-10-01 17:34] #11688 closed

[2018-10-01 17:37] lebeg commented on #12310
This test is failing in the 1.3.x branch as well: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/v1.3.x/40/pipeline

[2018-10-01 18:24] fhieber opened #12710 "Subprocess Deadlock with mxnet-mkl"
## Description
mxnet-mkl hangs indefinitely when trying to spawn subprocesses. This is a recent issue we are observing with Sockeye and may be related to #8532, but it can be reproduced without Sockeye (see below).

## Environment info (Required)
- Python 3.6.6
- MacOs
- mxnet-mkl==1.3.0.post0
- Anaconda Numpy (with MKL optimization): `conda install mkl ; conda install numpy`

## Minimum reproduci

[2018-10-01 18:33] vandanavk commented on #12710
@mxnet-label-bot [MKL]

[2018-10-01 19:35] ThomasDelteil commented on #8234
@vandanavk still not, will try to prioritize

[2018-10-01 19:36] ThomasDelteil commented on #12612
@pengxin99  qualitatively the images look pretty good, do you expect them to become better?

[2018-10-01 20:12] fhieber commented on #12710
Actually, there is no need for the subprocess to be a Python process. replacing `cmd = [sys.executable, sys.argv[0], 'test']` with `cmd = ['ls']` produces the same hanging.

The hang does **not** occur if one comments the following lines from the code:
[code]

So it seems that mxnet-mkl is somehow preventing any subprocess forking.
If the above code example is run in a debugger, the hanging occurs

[2018-10-01 23:16] eric-haibin-lin opened #12713 "distributed kvstore bug in MXNet"
I'm using distributed kvstore with Gluon trainer. I found the two following bugs:

1. Initializing `trainer = gluon.Trainer(update_on_kvstore=True)` doesn't work. Inspecting `trainer._update_on_kvstore` shows that the value is still set to `False`.

2. When distributed kvstore is used, by default `gluon.Trainer` doesn't work with `mx.optimizer.LRScheduler` if a worker has more than 1 GPU. To be mo

[2018-10-02 02:58] pengxin99 commented on #12612
@ThomasDelteil Thanks, and I use the inception score mertic, it looks converge.

[2018-10-02 02:58] #12612 closed

[2018-10-02 05:32] pengzhao-intel commented on #12710
Thanks @fhieber to raise this issue. I will take a look after China holiday from 1st to 7th OCT.

[2018-10-02 09:21] marcoabreu opened #12715 "Failing test: test_gluon_gpu.test_slice_batchnorm"
This test is failing almost consistently. Three runs failed in a row.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1696/pipeline/
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1697/pipeline/
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1698/pipeline/

[2018-10-02 12:35] tdomhan commented on #12710
thanks for looking into the issue!

[2018-10-02 12:44] perdasilva commented on #12329
I've tested this locally. I ran the test 10k times and no errors. I also ran it with the suggested seed. Maybe this issue is gone?

[2018-10-02 13:07] tdomhan commented on #12710
Just as a note: In the installation steps above one needs to add a `--no-deps` to the mxnet installation to make sure the conda numpy version, which uses mkl, will not be overwritten by the pip version:

1. conda install mkl
1. conda install numpy
1. pip install mxnet-mkl --no-deps
1. python3 code.py

[2018-10-02 16:06] sandeep-krishnamurthy commented on #11774
Resolving via #12625

[2018-10-02 16:16] ragavvenkatesan commented on #12713
+1

[2018-10-02 17:30] ankkhedia commented on #7524
@lichen11
Please find the example added here
https://github.com/apache/incubator-mxnet/blob/master/docs/tutorials/r/MultidimLstm.md

@nswamy @sandeep-krishnamurthy Could you please close this issue as the example has been merged.

[2018-10-02 17:37] yuxihu commented on #12403
@eli2014 Thanks for your response. We will investigate and verify the algorithm based on what you provide. Since our algorithm for this operator is adapted from caffe2, we suggest that you post the same concern on caffe2 such that they are also aware and can investigate.

[2018-10-02 21:27] vrakesh commented on #9527
@panovr is this issue resolved for you, if so, requesting to close this issue

[2018-10-02 22:02] thomelane commented on #12671
Hi @shawncheeer,

As I understand things, `aug_seq` should be a string referring to the augmenter you want to use.

An 'augmenter' here, isn't actually a single type of augmentation (e.g. resize) but instead it's a `ImageAugmenter` class with a `Process` method that performs all the augmentation steps required (e.g. resize, colour shifts, crops).

MXNet has a two augmenter out of the box called `a

[2018-10-02 22:04] thomelane commented on #12671
Aside from the above, I'd take a look at Gluon's Transforms. You'll probably find they're an easier way to implement what you need. See https://mxnet.incubator.apache.org/api/python/gluon/data.html#vision-transforms

[2018-10-02 22:09] thomelane commented on #1905
Hi @TccccD,

I've just replied to a similar post [here](https://github.com/apache/incubator-mxnet/issues/12671) which hopefully clarifies things a little more.

Aside from implementing your own augmenter and using in `aug_seq`, you should take a look at [Gluon's Transforms](https://mxnet.incubator.apache.org/api/python/gluon/data.html#vision-transforms). You can [`Compose`](https://mxnet.incubator

[2018-10-02 22:35] thomelane commented on #12577
Hi @liu6381810,

Seems like there's an overhead to using multiple GPUs, and one possible source is the transfer of gradients between GPUs. Are you using an AWS EC2 p3.16xlarge instance for this, or do you have your own server here? Check `nvidia-smi topo --matrix` to confirm that you have fast GPU to GPU communications. You could also take a look at gradient compression to reduce the amount of dat

[2018-10-02 23:10] vrakesh commented on #12255
@kardoszc using the example provided by you , i was able to get the same result on run 1 on a MAC, on consecutive runs of the above, the speed was better, or similar
[code]

[2018-10-03 00:31] D-Roberts opened #12727 "Error when make -j8"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-10-03 00:39] thomelane commented on #12547
What issue were you having with MXNet on Ubuntu @mariussoutier? Check out AWS EC2 DLAMI for Ubuntu that has MXNet and CUDA pre-installed if you didn't want to configure yourself: see https://docs.aws.amazon.com/dlami/latest/devguide/what-is-dlami.html.

[2018-10-03 00:59] thomelane commented on #12392
Hi @VanDavv,

Given the original context of transfer learning, with Gluon you can just provide the parameters for the last layer to the `Trainer` object. Usually you'd give all of the parameters with `net.collect_params()`, but instead only provide the parameters you're interested in learning/tuning.

See https://mxnet.incubator.apache.org/tutorials/onnx/fine_tuning_gluon.html for an example, and

[2018-10-03 01:04] thomelane commented on #12392
Answering your question a little more directly (if you haven't moved over to Gluon), you could set the weight decay to zero for the parameters before the BlockGrad with [`set_wd_mult`](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer.py#L330).

[2018-10-03 04:16] sandeep-krishnamurthy opened #12728 "support fix_beta in sync_batchnorm operator"
Add fix_beta parameter in sync_batchnorm. Related PR for adding in BatchNorm - https://github.com/apache/incubator-mxnet/pull/12625

[2018-10-03 05:37] eric-haibin-lin opened #12729 "Feature request: operator "sparse softmax""
The sparse softmax is useful for the transformer model: https://www.tensorflow.org/api_docs/python/tf/sparse_softmax

[2018-10-03 15:54] vrakesh commented on #12727
@D-Roberts  Thank you for filing the query on the build issue, I will try out the process on my own mac and get back to you asap

@mxnet-label-bot [Docs, Build]

[2018-10-03 17:13] D-Roberts commented on #12727
Thank you - highly appreciate it.

I should have also mentioned that the end to end setup and build worked perfectly fine for me on another mac (without High Sierra, at work).

[2018-10-03 17:45] zheng-da opened #12732 "TODO list for supporting dynamic shape"
MXNet doesn't support operators that don't allow static shape inference, such as unique and boolean_index. One possible solution is proposed in https://cwiki.apache.org/confluence/display/MXNET/Dynamic+shape

This task can be broken into multiple steps:
* support such an operator in the imperative execution. A possible modification in the imperative execution is shown here: https://github.com/apac

[2018-10-03 18:11] larroy commented on #12662
I think we discovered this before. Somehow I can't find the ticket, but I did some memory consumption graphs in the Jetson board. We notified NVidia about this before. Maybe @DickJC123 has some more info.

[2018-10-03 18:12] larroy commented on #12662
Is the memory released across executions of the script?

[2018-10-03 18:13] larroy commented on #12662
Possibly related: https://devtalk.nvidia.com/default/topic/1023405/jetson-tx2/continuously-decreasing-available-memory/

[2018-10-03 18:17] vrakesh commented on #12727
@D-Roberts Just a clarification, have you tried it on Sierra ?

[2018-10-03 18:21] vrakesh commented on #12732
@zheng-da thanks for the detailed proposal on supporting dynamic shapes

@mxnet-label-bot [Feature request]

[2018-10-03 20:17] zhreshold commented on #12684
cuda9.1 is deprecated by Nvidia, so do us. If you have strong reason to stick with cuda9.1, let us know. Otherwise we recommend to upgrade cuda to 9.2 at least.

[2018-10-03 21:07] D-Roberts commented on #12727
@vrakesh Yes, it worked on Sierra on a different Mac with no problems.

[2018-10-03 21:39] #7524 closed

[2018-10-03 22:14] D-Roberts commented on #12727
@vrakesh I was wondering if there is a problem with using the wrong compiler, or extra files in /usr/include that interfere. I've looked around for similar problems and solutions but still stuck.

[2018-10-04 07:54] Isa-rentacs opened #12734 "Example of RNN (incl. GRU/LSTM) with APIs defined in c_predict_api.h"
## Description
With MXNet 1.3.0, RNN layers can be hybridized. I would like to use those hybridized RNN models from C-api (c_predict_api.h) but couldn't find an example.

## More details
I was looking at [an issue (How to use LSTM or GRU in C++ using c_predict_api.h?)](https://github.com/apache/incubator-mxnet/issues/8487) and in the answer:

I believe it's released as a part of MXNet 1.3.0, and n

[2018-10-04 12:56] marcoabreu commented on #12734
FYI: All C-APIs are considered internal APIs that don't follow semantic versioning. They are not intended for external use since they might change at any point in time. We got the Cpp-package which is enduser-facing, so this might rather be a feature request for the C++ package.

[2018-10-04 17:45] rev-KevinBenham opened #12736 "Running build.py to generate .whl for Jetson, no LAPACK lib found"
## Description

liblapack not found when trying to build mxnet wheel from ci/build.py for the jetson framework on a host computer. Installed wheel on Jetson to see what would happen and lapack supported functions returned errors, did not build correctly, as expected.

## Environment info (Required)
Running the build.py on Ubuntu 16.04 (more info below)
Docker version 18.06.1-ce

What to do:
1. Dow

[2018-10-04 17:54] vrakesh commented on #12734
@mxnet-label-bot [Feature request]

[2018-10-04 17:56] cconvey commented on #8671
@szha : I'm trying to locally reproduce the `mxnet` and `mxnet-mkl` wheels that end up on PyPI.  (Linux and OS X only.)  Regarding the process you guys use:

1) Is there anything noteworthy about the platforms and/or steps used to prepare the wheels?

2) What tests (if any) do you run to verify that a wheel is good prior to upload?

Thanks!

[2018-10-04 18:02] vrakesh commented on #12736
@rev-KevinBenham Thank you for reporting the issue.

@mxnet-label-bot [Build, ARM]

[2018-10-04 18:20] szha commented on #8671
@cconvey I use ubuntu 14.04 as the environment because I want the GLIBC to be old enough for portability. I statically link all the dependencies too. For verification, if I changed any dependency, I do a manual verification of the new wheel. For all wheels, I run unit-test as sanity test before any upload.

[2018-10-04 18:46] leleamol commented on #12247
@lupesko the 'setDataIter' function in example/utils.h is hard coded for MNISTIter.
I have written an example to demonstrate CSVIter. The pr is out for review.

PR reference:
#12636

[2018-10-04 19:14] marcoabreu commented on #12734
Sorry, I'm not familiar with the c API.

@lebeg @leleamol might be able to answer that question

[2018-10-04 21:58] samskalicky commented on #8482
@calipos you cannot control the memory pool. It gets freed on exit of the program.

@sandeep-krishnamurthy please close this issue. Thanks!

[2018-10-04 22:19] zhreshold commented on #8482
Currently there's no way to release the pool through existing API. You can post a feature request if you think it's important. @calipos
Feel free to ping me to reopen this issue regarding any questions remaining, thanks.

[2018-10-04 22:19] #8482 closed

[2018-10-04 22:53] samskalicky commented on #8039
@sandeep-krishnamurthy please close this issue as the example is out of date (API no longer supported) and the issue has likely been resolved by now. Thanks!

[2018-10-04 22:56] samskalicky commented on #6272
@MarvinTeichmann is this still an issue? If so, can you update your reproducibility instructions to 1.3 and we'll try and debug if the issue still persists. Thanks!

[2018-10-04 22:58] samskalicky commented on #5983
@sandeep-krishnamurthy the related issues mentioned above have been closed/fixed. Please close this issue as well. Thanks!

[2018-10-05 06:03] szha commented on #6272
@samskalicky the example hasn't been updated so the instruction remains the same.

[2018-10-05 06:39] eric-haibin-lin opened #12741 "Features to Announce for the MXNet v1.4"
This thread tracks a list of significant improvement/feature PRs worth mentioning in the next version of MXNet:
- Julia binding https://github.com/apache/incubator-mxnet/pull/10149
- MKLDNN operator fusion https://github.com/apache/incubator-mxnet/pull/12530
- MKLDNN quantization https://github.com/apache/incubator-mxnet/pull/12530

Feel free to add more PR to this thread.

[2018-10-05 14:49] D-Roberts commented on #12727
Someone built successfully from source on High Sierra (slack channel) so it is likely not a problem with the OS.

[2018-10-05 14:51] gigasquid commented on #12727
This sounds like it might be some help https://stackoverflow.com/questions/46872922/broken-c-std-libraries-on-macos-high-sierra-10-13

[2018-10-05 16:46] Ishitori commented on #12662
@larroy, when searching for the best algorithm the memory consumption spikes, and once it is found it goes down, but not to the state it was before the search started.

[2018-10-05 18:42] vishaalkapoor opened #12743 "Nightly for Binaries failing and not caught"
## Description
Nightly is failing with a ImportError: No module named 'prompt_toolkit.formatted_text' and is not being caught as a test failure as the test runner isn't executing any tests.

1) Fix import error
2) Make sure a test failure happens if the executor does not execute.

http://jenkins.mxnet-ci.amazon-ml.com/job/NightlyTestsForBinaries/job/master/93/console

[2018-10-05 18:42] vishaalkapoor commented on #12743
@marcoabreu @ThomasDelteil
I'll put in a fix today.

[2018-10-05 19:33] charlesrwest commented on #9647
On a related note, it looks like C++ is becoming a first party language with PyTorch:
https://www.reddit.com/r/cpp/comments/9kyfb3/pytorch_10rc1_includes_new_pure_c_frontend/

[2018-10-05 20:07] reminisce commented on #12741
Subgraph API: https://github.com/apache/incubator-mxnet/pull/12157

[2018-10-05 20:32] vrakesh commented on #12741
@mxnet-label-bot [Discussion]

[2018-10-05 20:33] vrakesh commented on #12743
@mxnet-label-bot [Build]

[2018-10-05 20:35] vrakesh commented on #12727
@D-Roberts I tried the whole process on my Sierra as well, it works well.I have not able to get to access to a High Sierra device, yet, meanwhile I request to follow up on @gigasquid's suggestion. Let us know if it helps

[2018-10-05 20:46] apeforest commented on #10807
Verified the PR #11742 will fix this issue. @sandeep-krishnamurthy please close this. Thanks!

[2018-10-05 20:50] apeforest commented on #9207
Verified the fix with PR #11742. @sandeep-krishnamurthy Please close this issue. Thanks!

[2018-10-05 21:37] vrakesh commented on #12472
@mxnet-label-bot [ARM]

[2018-10-05 21:57] #11687 closed

[2018-10-05 21:57] #11506 closed

[2018-10-05 21:57] wikier commented on #12703
Have you monitored the memory? I think we've run into a similar issue because inputs caching. That may be related with the performance regression.

[2018-10-05 22:23] nswamy opened #12745 "Copying code from the website also copies the prompts"
## Description
When copying code using the Copy from Clipboard javascript on the website, it also is copying the prompt
Go to 1) http://mxnet.incubator.apache.org/install/index.htmlplatform=Linux&language=Python&processor=GPU
2) use the copy to Clipboard option to copy text it has copied,
`$ pip install mxnet-cu92` earlier the shell prompt was not copied to clipboard

## Environment info (Required

[2018-10-05 22:58] vrakesh commented on #12255
More updates this issue seems to specific to linux, reproduced Original posters issue on a linux box
mxnet 1.1
[code]

mxnet 1.3
[code]

[2018-10-06 00:17] D-Roberts commented on #12727
Thank you @gigasquid  and @vrakesh
It is indeed an Apple issue and the trick on stackoverflow.com seems to have worked.

However, to ascertain, do you have this test fail ?
nosetests tests/python/unittest/test_operator.py:test_dot
/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. I

[2018-10-06 01:32] larroy commented on #12727
For me it worked fine, but I didn't do any dependency setup as I have everything setup already. I think is a problem with your environment. I suggest to check gcc and g++ versions, reinstall and update Xcode...   we are also building osx in travis, maybe you want to check the environment of the travisfile.  Unless anybody has this problem I think we should close this issue.

[2018-10-06 02:48] DickJC123 commented on #12662
I have an explanation but I'll have to think about the best fix.  The problem starts with the fact that cudnnFind() does its own workspace  allocations and doesn't use MXNet's memory allocator.  MXNet anticipates this by setting up a 'headroom' via MXNET_GPU_MEM_POOL_RESERVE (a percentage of total memory). I was able to run your script with repeated allocations on a 16GB GPU by setting MXNET_GPU_M

[2018-10-06 04:09] #9207 closed

[2018-10-06 08:42] CheungDuMing opened #12751 "When tensor-gpu engine can't grid big number, how to deal with it?"
While calculate train_loss += loss.mean().asscalar() on gpu, the loss.shape is (98304, 1),  and I got following error.

mxnet.base.MXNetError: [16:26:40] c:\jenkins\workspace\mxnet-tag\mxnet\3rdparty\mshadow\mshadow\./cuda/tensor_gpu-inl.cuh:58: too large launch parameter: Softmax[98304,1], [256,1,1]

Source code in tensor_gpu-inl.cuh:

const int kMaxGridDim = 65535;
/*! \brief suggested grid numb

[2018-10-06 11:59] JohnCalhoun commented on #10002
I think this would be a great feature to add to MXNet and I would like to work to make this happen. I have the C++/Python skills to do but I am new to the MXNet backend. I think I can follow the examples of the existing operators that support higher order gradients, (transpose, *, exp). can some one experienced help me understand how to get started? maybe @ piiswrong?

[2018-10-06 12:13] JackTemaki opened #12752 "GPU not found in toy example with new nvidia driver 396.54"
Hello everyone,

MxNet crashes when I run  a toy example with GPU. I tried with Cuda 9.1 and Cuda 9.2, and with mxnet 1.3.0 and 1.2.1 installed via pip. It might have to do something with the driver version 396.54, because i am sure it worked at some point before.

## Error Message:
[code]

## Minimum reproducible example
[code]

I have no idea what else to try.

Best,
Jack

`nvcc --version`
[code

[2018-10-06 12:48] LuckyPigeon commented on #12751
It's not mxnet bug, tensorflow gpu engine can't grid this big number, your shape must be [x <= 65536, 1], so I think you need to increase your number of batch.

[2018-10-06 13:12] JackTemaki commented on #12752
I actually solved the problem. I do not know exactly how it appeared, but after purging all cuda and nvidia stuff, reinstalling the 390 driver, installing cuda 9.1 from a runfile and not apt, it worked. Then after upgrading to 396.54 it still worked, and now also with cuda 9.2

It seems this is an Ubuntu 16.04 issue when installing cuda from apt and then updating to 396 and has nothing to do with

[2018-10-06 13:34] pengzhao-intel commented on #12703
@wikier Thanks for the information.
Do you have an example? I'd like to see the problem and figure out a long-term solution.

[2018-10-06 13:45] pengzhao-intel commented on #12579
@luobao-intel please take a look for this case.

[2018-10-06 13:49] CheungDuMing commented on #12751
The data.shape is (2, 3, 128, 128) where batch_size is data.shape[0].
The loss.shape is like data.flatten().
If I increase batch_size, the loss.shape will still be [x>65536, 1].
How to fix this problem?

[2018-10-06 15:27] #10977 closed

[2018-10-06 19:14] larroy commented on #12751
Can we edit and rephrase a better title for this issue?

[2018-10-07 03:40] CheungDuMing commented on #12751
You have my word.

[2018-10-07 04:56] vrakesh commented on #12752
@JackTemaki  Thanks for posting the issue and glad you were able to resolve it

[2018-10-07 04:57] vrakesh commented on #12751
@mxnet-label-bot [Question]

[2018-10-07 08:38] lupesko commented on #12255
@fighting-liu is your MXNet built from source, or installed via pip? if installed via pip - which version of MXNet? (mxnet/mxnet-mkl/mxnet-cu90mkl/...), if built from source can you provide the build flags?

@vrakesh the original report is that program stagnates for 5 mins... what is the total time you are seeing?

[2018-10-07 08:41] lupesko commented on #12727
@D-Roberts since these tests pass on the Travis CI and per the suggestions on this issue, I think you can probably close this issue. If there are still open/unclear points - please comment. Thanks!

[2018-10-07 08:49] lupesko commented on #12628
Thank you @yajiedesign !
@BrianHanechak can you please confirm the issue was resolved and close it, or otherwise report the error again? Thanks!

[2018-10-07 09:15] BrianHanechak commented on #12628
I just updated to 1.3.1b20180927 and it seems to be resolved.

[2018-10-07 09:15] #12628 closed

[2018-10-07 09:16] BrianHanechak commented on #12628
Thank you for tracking this down!

[2018-10-07 14:00] eli2014 commented on #12403
@yuxihu Thanks.  I have already post the issue on Caffe2.

[2018-10-07 17:11] mirekphd commented on #11911
You can repen the issue, because it is more general and the explanation given must be different (the specified CPU instruction set does not prevent it from occuring, but downgrading version to 1.2.0 does).

More info
I keep getting this error ("Illegal instruction (core dumped)") in python, or a nondescript kernel restart (with a core dump) in Jupyter Notebook for a different CUDA build (mxnet-cu9

[2018-10-07 18:41] ChaiBapchya opened #12755 "Absence of randn function in Symbol API"
As highlighted by @anirudhacharya in PR #12749
There is an absence of `randn` function in [Symbol API](https://mxnet.incubator.apache.org/api/python/symbol/random.html)

Is it a conscious omission?

[2018-10-07 21:30] D-Roberts commented on #12727
@larroy
The output to gcc -v and g++ -v:
MacBook-Pro-2:build dRoberts$ gcc -v
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 10.0.0 (clang-1000.10.44.2)
Target: x86_64-apple-darwin17.7.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin
MacBook-Pro-2:build dRoberts$ g++ -v
Configured wit

[2018-10-07 21:34] D-Roberts commented on #12727
@larroy
Then:
cmake\

-- The C compiler identification is AppleClang 10.0.0.10001044
-- The CXX compiler identification is AppleClang 10.0.0.10001044
-- Check for working C compiler: /Library/Developer/CommandLineTools/usr/bin/cc
-- Check for working C compiler: /Library/Developer/CommandLineTools/usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detec

[2018-10-07 21:47] D-Roberts commented on #12727
[CMakeOutput.log](https://github.com/apache/incubator-mxnet/files/2454344/CMakeOutput.log)

[2018-10-07 21:52] vrakesh commented on #12752
@mxnet-label-bot [Installation, GPU]

[2018-10-07 21:52] D-Roberts commented on #12727
@larroy @lupesko

Thank you for letting me know that the tests pass. It is a problem with my environment. I have reinstalled everything starting with xcode several time and implemented all the suggestions on this page - still getting errors.

I believe the problem is from Apple, more specifically setting up a new Mac (High Sierra OS) from an older Mac using Migration Assistant and not specific to

[2018-10-07 21:52] #12727 closed

[2018-10-07 21:52] vrakesh commented on #12755
@mxnet-label-bot [Question]

[2018-10-07 21:53] D-Roberts commented on #12727
Thank you for your tips - if anything else comes to mind, please let me know. The build is still not working successfully. I plan to reinstall macOS at this point.

[2018-10-07 22:59] vishaalkapoor commented on #12743
Code merged. Closing issue.

[2018-10-07 22:59] #12743 closed

[2018-10-07 23:02] vishaalkapoor commented on #12345
@sandeep-krishnamurthy @marcoabreu Please feel free to close as https://github.com/apache/incubator-mxnet/pull/12744 addressing this has been merged. Thanks!

[2018-10-08 03:07] luobao-intel commented on #12579
This pipeline didn't provide the np/mx/python random seed. How could this failure be reproduced?

[2018-10-08 03:56] Redfriday opened #12756 "Is NDArray creatiton thread safe"
We use mxnet to do online prediction, the program randomly core when NDArray destructs, we may allocate NDArray parallelly in different thread, is NDArray creatiton not thread safe? Below code may be executed parallelly .

     mxnet::cpp::NDArray::Load(_network_param_path, nullptr, &network->params);
     // Create new ndarray according to the batch size for inputs.
      network->params["data"]

[2018-10-08 06:12] lupesko commented on #12247
@leleamol does #12636 solve the issue here?

[2018-10-08 06:48] vrakesh commented on #12255
@lupesko I do not see times as high was 5 minutes, overall, the who run is under 30s. But it should take take more than a second or so to complete a C library import

When a single instance is imported it takes about half a second to import , as the number of parallel import increases , the time taken drastically increases.

[2018-10-08 06:51] vrakesh commented on #12756
@Redfriday thanks for the query, requesting a more detailed reproducible example, with environment details, including operating system, and machine specifications.
@mxnet-label-bot [Question]

[2018-10-08 07:03] vrakesh commented on #12676
@ChaiBapchya  can this be closed as well?

[2018-10-08 08:53] #10747 closed

[2018-10-08 11:52] marcoabreu commented on #12756
Hello,
In general, mxnet is not threadsafe. It goes as far as not even being safe to be called using a mutex.

Any interaction with mxnet has to happen with the same sticky thread in a single threaded fashion. Speak, if you use thread 1000 the first time you interact with mxnet, you always have to use thread 1000. This is called a dispatcher pattern.

Many people like to synchronize threads by usi

[2018-10-08 12:10] Redfriday commented on #12756
@marcoabreu  Thank you, that is to say ndarray construct and destruction must be in one pthread?

[2018-10-08 12:28] Redfriday commented on #12756
Got it, thank you very much.

[2018-10-08 15:07] mirekphd commented on #12105
#11911

[2018-10-08 16:20] lebeg commented on #12472
@kepler-cpu I'm not sure about the lock problem, didn't see anything like that before. Maybe you could try using master build with
[code]
The artifact should be available afterwards in `./build`. Try to pip install it and see if it works.

[2018-10-08 16:41] lebeg commented on #12734
@Isa-rentacs In my understanding the implemented [RNN layer](https://github.com/apache/incubator-mxnet/pull/11482/files#diff-1aff5f9b61af7ed872118c7369d34d12R30) is implemented in python, so there would be no option to access it from the C API. Maybe this could be a feature request.

[2018-10-08 16:54] ChaiBapchya commented on #12676
Um, the PR doesn't address it and the question is still unanswered. I personally think it's mismatched. But wanted to confirm it. In that case, it's a simple change for PR.

[2018-10-08 18:03] vrakesh commented on #12024
@David-Levinthal
requesting an update from your side, if the issue is fixed , we can close this issue

[2018-10-08 18:05] vrakesh commented on #10976
@vandanavk if the issue is not reproducible can this be closed

[2018-10-08 18:33] vrakesh commented on #10217
@rahul003  Has the issue been resolved on your side? If so , requesting to close the issue

[2018-10-08 18:55] safrooze commented on #12751
Why is this called tensorflow gpu?!? Did you meant to say tensor-gpu?

[2018-10-08 19:43] piyushghai commented on #12383
@gigasquid Can you have a look at the failing test here ?

[2018-10-08 19:44] piyushghai commented on #12752
@JackTemaki If this issue is resolved for you can you close the issue :) ?

[2018-10-08 19:47] piyushghai commented on #11100
Related PR to windows installation instructions : https://github.com/apache/incubator-mxnet/pull/12696

[2018-10-08 19:53] piyushghai commented on #12568
@mariussoutier Is your issue resolved now ?

[2018-10-08 19:56] piyushghai commented on #12334
@ShownX If the issue is resolved for you, can you close this issue ? Thanks :)

[2018-10-08 19:56] taliesinb opened #12760 "Extremely weird shape inference bug in foreach"
## Description

The foreach subgraph operator is sensitive to what should be irrelevant details of its construction, incorrectly failing when the inputs of a symmetric function are re-ordered.

## Environment info (Required)

Package used (Python/R/Scala/Julia):
I'm using Python.

## Error Message:

The error message is actually incorrect. The graph is shape-correct!

[code]

## Minimum reproducib

[2018-10-08 20:05] piyushghai commented on #8453
@pracheer Are you still facing this issue on the latest MXNet version ?

[2018-10-08 20:08] piyushghai commented on #12760
@taliesinb Thanks for submitting this issue.
@mxnet-label-bot [Bug, Python, Operator]

[2018-10-08 20:15] piyushghai commented on #12337
@apeforest What's the progress on this one ?

[2018-10-08 20:22] zheng-da commented on #12760
Thanks for reporting the bug. I'll look into the bug.

[2018-10-08 20:25] arogozhnikov opened #12761 "Shape_array returns random numbers"
## Minimum reproducible example

[code]

## Output

[code]

## Environment info (Required)

[code]

[2018-10-08 20:49] taliesinb commented on #12760
Here's a simpler problem that I believe is the same issue:

[code]

This prints:

[code]

But it should print:

[code]

Changing the value of `"heads":[[3,0,0],[2,0,0]]` to `"heads":[[2,0,0],[3,0,0]]` does nothing! It should determine the order of outputs of the inner foreach op.

[2018-10-08 20:51] eric-haibin-lin commented on #10002
@sxjscience do you have a design for higher order gradient? @JohnCalhoun offers to help implement some ops

[2018-10-08 20:52] piyushghai commented on #12684
@tdomhan If you can try at use Cuda 9.2 for your use case, please let us know if that works for you. If it does, can we close this issue ?

[2018-10-08 20:55] piyushghai commented on #10002
@JohnCalhoun Here's a useful developer guide that you can follow to get started :
https://cwiki.apache.org/confluence/display/MXNET/Development

[2018-10-08 20:57] piyushghai commented on #12761
@arogozhnikov Thanks for reporting this issue. We will look into this.
@mxnet-label-bot [Python, Bug, Operator]

[2018-10-08 21:01] taliesinb commented on #12760
My hypothesis is that the subgraph's outputs are being visited in topological order rather than in the order given by `heads`.

[2018-10-08 21:40] piyushghai commented on #12461
@johnbroughton2017 Were you able to get it running using the configuration described above ?

[2018-10-08 21:41] piyushghai commented on #12345
@sandeep-krishnamurthy Can you close this issue ?

[2018-10-08 21:53] piyushghai commented on #12437
@smokytheangel0 Can you confirm if the issue got resolved ? If yes, please close this issue :)

[2018-10-08 21:55] piyushghai commented on #12128
@piiswrong Can you give a minimum reproducible example for this crash that you are facing ?

[2018-10-08 21:56] aidan-plenert-macdonald commented on #10002
@JohnCalhoun I have experience doing things like this. Below is a little info I have from when I started. Unfortunately, I am doing a lot at the moment, so I can't be the main contributor.

# Trig Example

To start, let's just look at [unary trig ops](https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/elemwise_unary_op_trig.cc). If you look at [this line](https://github.com/

[2018-10-08 21:58] piyushghai commented on #11843
I believe this PR : https://github.com/apache/incubator-mxnet/pull/11952 will also track this issue.

[2018-10-08 22:03] piyushghai commented on #11289
@mbaijal Looks like the PR for enabling the KVStore Test got merged.
Can you close this issue as well ?

[2018-10-08 22:48] sandeep-krishnamurthy commented on #12713
Working on this. Will update my findings.

[2018-10-08 23:40] LuckyPigeon commented on #12751
As far as I know, tensorflow gpu engine is same as tensor-gpu.

[2018-10-08 23:57] JohnCalhoun commented on #10002
Thank you @aidan-plenert-macdonald ! So once I get up to speed and get an environment together it sounds like the first steps are

1. implement the sin FGradient as you have suggested using cos
2. test that you can then do the second order gradient of sin
3. Implement the cos FGradient as sin
4. test that you can do a third order gradient of sin
5. From there the work will be implemention for all

[2018-10-09 00:55] nswamy commented on #12745
👍 @LuckyPigeon
Yes, your very welcome to submit a PR.  If you are interested in contributing to the website, I think @aaronmarkham can help you with some starter tasks.

[2018-10-09 02:17] #12345 closed

[2018-10-09 03:28] apeforest commented on #10002
Another issue related to this feature:
https://github.com/apache/incubator-mxnet/issues/12529

[2018-10-09 04:40] #11289 closed

[2018-10-09 04:42] sandeep-krishnamurthy commented on #10976
resolving, issue is not reproducible

[2018-10-09 04:42] #10976 closed

[2018-10-09 04:53] #9304 closed

[2018-10-09 05:04] #10807 closed

[2018-10-09 05:05] #11495 closed

[2018-10-09 05:07] #5983 closed

[2018-10-09 05:07] #8039 closed

[2018-10-09 05:09] piyushghai commented on #12756
@sandeep-krishnamurthy Can you close this issue ? The Query has been answered.

[2018-10-09 05:10] #11086 closed

[2018-10-09 05:30] piyushghai commented on #7375
@regzhuce Hope your question was answered by the above comment.

@sandeep-krishnamurthy Can you please close this issue ?

[2018-10-09 05:35] #11987 closed

[2018-10-09 05:35] #12756 closed

[2018-10-09 08:38] marcoabreu commented on #11999
We now have the retry mechanism, so this should be mitigated. Thanks for the heads up

[2018-10-09 08:38] #11999 closed

[2018-10-09 08:57] tdomhan commented on #12684
thanks for confirming that this is about deprecating cuda 9.1. As I saw a version for windows, I assumed there was an issue with releasing the Linux version. In any case I will not use 9.1 with MXNet in this case. Closing the issue.

[2018-10-09 08:57] #12684 closed

[2018-10-09 09:37] Isa-rentacs commented on #12734
Thanks @lebeg, I understood this is going to be a feature request. Before going forward, I would like to understand a little bit more.

In the [1.3.0 release note](https://github.com/apache/incubator-mxnet/releases/tag/1.3.0), it says:

Do you mean C/C++ is not included in the languages that can import the exported model?

[2018-10-09 11:58] shirishr commented on #12036
Not really.
VAE_example.ipynb still merits an update and the culprit code rectified.
Else remove this notebook altogether from the examples altogether.