[2019-09-11 08:30] lostella commented on #16135
@reminisce does the fix also fix sampling other than sample_normal? All other sampling functions also raise the same error on 1.5.0:
* `s = mx.nd.sample_uniform(low=mx.nd.array([10.0]), high=mx.nd.array([11.5]))`
* `s = mx.nd.sample_negative_binomial(k=mx.nd.array([3]), p=mx.nd.array([0.5]))`
* `s = mx.nd.sample_poisson(lam=mx.nd.array([1.5]))`
* ...

[2019-09-11 09:18] asmushetzel commented on #16135
The fix provided should fix all the samplers (i.e. for all distributions).

[2019-09-11 10:30] leezu commented on #16134
Can you try upgrading to PyQt5 5.13.0?

[2019-09-11 12:54] lostella commented on #15613
1.5.0 apparently broke sampling operators on Linux, see #16135. A PR is open for this #16139. I hope this has a chance to make it to 1.5.1.

[2019-09-11 13:09] matteosal opened #16143 "Failure of MKL-DNN Convolution from C API"
## Description
With MKL-DNN, getting the output of a Convolution operator using the C API can trigger this error:
[code]

## Environment info (Required)

[code]

Package used: C API

## Build info

Compiler: gcc

MXNet commit hash: e87995db6f8ac7e8d4424001e1db5296398562f6

Build config: plain config.mk with `USE_OPENCV=0`

## Error Message:
[code]

## Minimum reproducible example
[code]

## Steps

[2019-09-11 13:42] TaoLv commented on #16143
As suggested by the error message, need call Reorder2Default to change MKL-DNN internal layout to MXNet default layout before touching the data. Is possible to do that with NDArrayHandle?

[2019-09-11 14:01] matteosal commented on #16143
Looks like the NDArray method `Reorder2Default()` is not exposed by the C API.
If that's intended, then the user is never supposed to access it and mxnet should use it automatically when needed, so in this case I'd say this is a genuine bug.
Otherwise, if a user is actually requested to access it, it should be exposed.

Or am I missing something?

[2019-09-11 14:57] TaoLv commented on #16143
Thank you @matteosal . Sure I will consider your suggestion and I personally tend to hide the layout conversion from frond-end users. Here is a temporal fix. It would be highly appreciated if you can try it in your model and share if you observe any further issue. Thank you.
https://github.com/TaoLv/incubator-mxnet/commit/ffc84598f1a965296444011750576d2c9601f7cc

[2019-09-11 15:53] matteosal commented on #16143
Yes, that patch fixes the issue. Do you have an approximate ETA for a permanent fix? Thanks!

[2019-09-11 18:21] anirudh2290 commented on #16102
@sxjscience probably not. is this happening only with reshape ?

[2019-09-11 18:28] sxjscience commented on #14883
In P3.2x:

[code]
MXNet: 49.990619931902195
JAX: 132.80538150242398
TVM: 4.161664417811803
Numpy: 1.8179416656494143
PyTorch: 20.977394921439036
TensorFlow: 47.540392194475444
[code]
MXNet: 61.272689274379196
JAX: 141.04713712419783
TVM: 4.231657300676618
Numpy: 1.918860844203404
PyTorch: 20.21517072405134
TensorFlow: 44.17456899370466
[code]

[2019-09-11 18:40] gabrielcrds commented on #14479
Hello. Commenting just to remember about this issue, since it is from March and it is still open. I'm having the exact same problem! Exact same version for CUDA etc.

[2019-09-11 18:51] sxjscience commented on #16102
I guess we failed to catch this usability degradation because we haven't tested the error message raised by reshape. I suggest adding this to the `test_exc_handling.py`.

[2019-09-11 21:33] aaronmarkham opened #16146 "Website build on CI is down due to Julia error"
## Description

This is in the error log.

[code]

[2019-09-11 21:33] aaronmarkham commented on #16146
http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-website-build/

[2019-09-11 21:34] aaronmarkham commented on #16146
It's going to be this PR that triggered the problem:
#15568

[2019-09-11 22:06] #15543 closed

[2019-09-12 02:31] chuanheliu opened #16150 "undefined reference to `MXPredSetInput'"
`
/home/lch/project/face/face_c/retinaface/./src/insightface_api.cpp:85: undefined reference to `MXPredSetInput'
/home/lch/project/face/face_c/retinaface/./src/insightface_api.cpp:86: undefined reference to `MXPredForward'
/home/lch/project/face/face_c/retinaface/./src/insightface_api.cpp:91: undefined reference to `MXPredGetOutputShape'
/home/lch/project/face/face_c/retinaface/./src/insightface_a

[2019-09-12 07:37] RomanSteinberg commented on #16134
@leezu the results are the same. And once again I want to point out that I can find workaround, but it *doesn't remove vulnerability from mxnet codebase*.

[2019-09-12 07:53] RomanSteinberg commented on #16134
By the way, has anyone managed to reproduce the error? If not I'll try to find possibility to "copy" the system on "deploy" computer.

You can use reactions thumbs up and down to vote.

[2019-09-12 16:01] igolan opened #16154 "Deprecated MXNET website is still online ?"
Hi,
I searched for "install mxnet" in Google, and the first results was this link:
http://mxnet.incubator.apache.org/test/get_started/install.html
(note the /test/ )
which looks like a deprecated version of MXNET website (if you go to the homepage, you'll find news about MXNET0.1 release).

Although it's nice to go back in time, I find it very confusing.
If that website is intentionally online, I

[2019-09-13 05:59] xidulu opened #16162 "[CI] [Flaky] [Test] Unix Cpu test failed on Clojure cases"
As titled

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16152/1/pipeline

[code]

[2019-09-13 07:08] RomanSteinberg commented on #16134
@marcoabreu yes I know and I tried to do it, but it doesn't reproduce the problem. I'm looking for a way to 'copy' the OS and all the environment which reproduces the problem.

[2019-09-13 07:36] xidulu commented on #16162
@gigasquid mind taking a look :)

[2019-09-13 14:17] gigasquid commented on #16162
The failure in this case is downloading one of the scala jar dependendies:

[code]

I imagine that this is a transitory connection error with maven, but I'll ping @lanking520 just in case. I rekicked the job to see if it completes this time

[2019-09-13 14:52] xidulu commented on #16162
@gigasquid
Thx for your time.
Btw, it seems that all the CI jobs are paused for some reasons currently, yellow lights everywhere. So, maybe it's gonna take some time to see if the connection error happens again.

[2019-09-13 15:49] TaoLv commented on #16143
@matteosal Thank you for reporting that and I'm really sorry for the inconvenience. Here is another patch: https://github.com/TaoLv/incubator-mxnet/commit/893c5968270bf1aae73296b889842e58afccc170. Would you mind sharing the Python scripts doing the same thing? I'm trying to understand the differences between C API and Python for this deconv issue.

[2019-09-13 16:24] Kh4L commented on #11424
In addition, this operator should return a NDArray of shape `(number_of_nonzeros, num_dims)`, directly representing the indices, rather than a tuple of indices like in NumPy.

[2019-09-13 17:35] anirudhacharya commented on #10051
I was able to run the above in python3. @eric-haibin-lin Could you please check if this is still an issue.

[2019-09-13 17:55] szha commented on #15589
@reminisce @haojin2 given that numpy operators would be a major topic in 1.6 release, it would be great if you could add what you intend to include in this release.

[2019-09-13 18:04] eric-haibin-lin commented on #10051
can you try python <=3.5? python 3.6+ should be fine

[2019-09-13 18:18] anirudhacharya commented on #10051
able to run with Python 3.5.2.

[2019-09-13 21:12] eric-haibin-lin commented on #10494
the workaround would be setting lr_mult and wd_mult of the symbol

[2019-09-13 21:46] szha opened #16167 "[RFC] Apache MXNet 2.0 Roadmap"
# Overview

The purpose of this RFC is to organize and present the roadmap towards 2.0. As 2.0 will be a major release, changes that would break backward compatibility are permissible.

The proposed changes in this RFC are either collected from past roadmap discussions such as #9686, or are based on various common issues from the past. This RFC organizes these changes into self-contained projects

[2019-09-13 22:44] Vikas-kum opened #16168 "group norm tests are failing"
88e9fe53272d:incubator-mxnet vikumar$ nosetests -v tests/python/unittest/test_operator.py:test_groupnorm
[INFO] Setting module np/mx/python random seeds, use MXNET_MODULE_SEED=1969046295 to reproduce.
[WARNING] *** test-level seed set: all "@with_seed()" tests run deterministically ***
test_operator.test_groupnorm ... [INFO] Setting test np/mx/python random seeds, use MXNET_TEST_SEED=907522936 to

[2019-09-13 22:46] Vikas-kum commented on #16168
https://github.com/apache/incubator-mxnet/pull/14959

@sxjscience @haojin2 - We saw a failure in PR. This test is failing with that seed consistently. Please check if there is issue with code or test and provide if there is quick fix.

[2019-09-13 23:07] sxjscience commented on #16168
Lower the atol_eps by https://github.com/apache/incubator-mxnet/pull/16169

[2019-09-14 03:50] lyqlola commented on #13592
hi, I also encountered this problem. How did you solve it?

[2019-09-14 06:10] ChaiBapchya opened #16172 "Flaky randint large vector"
`test_large_vector.test_ndarray_random_randint` fails the assertion
[code]

because only 1 value in the entire 4.3bn vector is outside the bounds (>= low and <high)
at that index, garbage value seems to be assigned

Tried it multiple times, failed for following seeds
For seed *MXNET_TEST_SEED**=**278341920*
[code]

For seed **MXNET_TEST_SEED=65322548**
[code]

MXNET_TEST_SEED=180664123
[code]

Bui

[2019-09-14 07:52] apeforest commented on #15575
@hcho3 Could you please file a PR to upgrade dmlc-core module in MXNet? Let me know if you need help. Thanks!

[2019-09-14 12:39] matteosal commented on #16143
This one fixes the last example, thanks.
As for the python scripts, this one should match the first C example (except for different `grad_req`, which doesn't make any difference) and it doesn't fail:
[code]
As for the second example, I've managed to reproduce it with this script:
[code]
This one fails in e87995db6f8ac7e8d4424001e1db5296398562f6, but is fixed by your second patch.

[2019-09-14 14:36] QueensGambit opened #16173 "Saving and loading of cudNN optimization and graph fusion"
Hello everyone,

there are several tasks which are executed repeatedly on binding MXNet graphs and result in the same outcome when the graph is unchanged.
In theory these results could be saved to disk and later reloaded.
These tasks include cudNN autotuning, TensorRT graph fusion, IntelMKLDNN graph optimization.

Here is a short overview:

## cudNN convolution autotuning

* **Description:** runs

[2019-09-14 14:37] QueensGambit commented on #16173
@mxnet-label-bot add [Backend, Call for Contribution, CUDA, MKLDNN, ONNX]
ping @KellenSunderland @ThomasDelteil

[2019-09-14 14:37] QueensGambit commented on #16173
ping @KellenSunderland @ThomasDelteil

[2019-09-15 07:16] shdyn opened #16174 "How to build new operators?"
Hi, I need to compile the operators in https://github.com/deepinsight/insightface/tree/master/3rdparty/operator. I tried to copy files in that folder to incubator-mxnet/src/operator and compile the source codes using incubator-mxnet/docs/install/install_mxnet_ubuntu_python.sh. Then I install these operators using incubator-mxnet/python/setup.py. However, I still cannot run these operators? Any sug

[2019-09-15 07:33] pengzhao-intel commented on #16173
FYI, MKLDNN graph fusion is already enabled by default :)
One more, saving the fused graph maybe cause portable issues and break backward compatible so we need a solution to fall back as well.

[2019-09-15 07:36] pengzhao-intel commented on #16167
@szha Really great proposal and we may want to add some items in 2.0 too.
Is there a timeline of 2.0?

[2019-09-15 11:49] QueensGambit commented on #16173
Thank you for the reply @pengzhao-intel. I updated the description on MKLDNN.

I see the point about portability and backward compatibility issues.
Maybe it is better to define `optimize` as a string argument which must be in `{'on_bind', 'save_reload', 'disabled'}`:

[code]

In the default case `optimize='on_bind'`, it will behave the same way as currently and all previous code will behave the sa

[2019-09-16 05:26] nacorti commented on #15320
Same problem here, also in python3

Using a custom dataset on a pretrained yolo3_darknet53_voc model from gluon model_zoo

The value b in the error seems directly proportional to the batch size and inversely related to the number of workers, but I don't know what to change to make the 3549 value larger.

[2019-09-16 06:09] SyGoing opened #16176 "When convert mxnet model (simple pose) to onnx , the deconvolution’s convert function miss?"
Hello，It failed when I try to convert the mxnet model(simple pose in the model zoo).
the wrong message is  that :
   AttributeError: No conversion function registered for op type Deconvolution yet.

[2019-09-16 07:22] pengzhao-intel commented on #16173
@ZhennanQin will follow up with the details :)

[2019-09-16 07:42] ZhennanQin commented on #16173
I roughly go through this topic, and I think we need a top level design first, like, which information needs to be saved, how to save the result(via aux_params or file), and what format to encode(probably we need to save many sections with different types, including some binaries). When top design is approved by community, then I can bring the implementation on MKLDNN parts.

[2019-09-16 12:35] QueensGambit commented on #16173
@ZhennanQin This sounds reasonable.
Maybe it would be good to create a cwiki page for the top level design:
* https://cwiki.apache.org/confluence/display/MXNET/Proposals

[2019-09-16 15:36] shoubhik opened #16177 "How to dump quantized weights from MKLDNN as Ndarray"
Hi,
I have a use case where i need to debug the weights of Convolution layer when quantized by MKLDNN in MXNet [here](https://github.com/apache/incubator-mxnet/blob/master/src/operator/subgraph/mkldnn/mkldnn_conv.cc#L189-L190). The problem I am facing is that the model saved has the original fp32 weights and it is converted to int8 during runtime. When I do try to dump the cached_weight_ into a Fi

[2019-09-16 18:46] #16168 closed

[2019-09-16 18:48] samskalicky commented on #16087
@mxnet-label-bot add [bug,pending-requester-response]

[2019-09-16 18:48] samskalicky commented on #16087
@mxnet-label-bot add [bug]

[2019-09-16 18:49] samskalicky commented on #16087
@anirudh2290

[2019-09-16 18:52] samskalicky commented on #16098
@zachgk add [bug]

[2019-09-16 18:58] samskalicky commented on #16098
@zachgk assign [@reminisce ]

[2019-09-16 18:58] samskalicky commented on #16099
@zachgk assign [@reminisce ]

[2019-09-16 19:00] samskalicky commented on #16102
@zachgk assign [@sxjscience]

[2019-09-16 19:02] samskalicky commented on #16106
@zachgk assign [@samskalicky  ]

[2019-09-16 20:19] zachgk commented on #16108
@mxnet-label-bot add [Performance]

[2019-09-16 21:28] Vikas-kum opened #16181 "disabled 3 tutorials tests"
Nighltly tests are failing due to some tutorial tests. We fixed some.
3 tests were disabled form this file : tests/tutorials/test_tutorials.py
test_gluon_performance
test_python_profiler
test_mkldnn_quantization

We need to uncomment the test after fixes are done in tutorials.

https://github.com/apache/incubator-mxnet/pull/16179/files

[2019-09-16 21:35] Vikas-kum commented on #16181
@mxnet-label-bot [Test]

[2019-09-16 21:36] sad- commented on #16181
profiler fix should be in this pr: https://github.com/apache/incubator-mxnet/pull/16160

But yeah we can disable until after the fixes for mkldnn_quantization and gluon_performance are done. I think we may have to whitelist mkldnn_quantization from the test suite actually in the long run.

[2019-09-16 21:49] igolan opened #16182 "contrib.cond operator does not support parameterized block execution"
## Description
``contrib.cond`` operator does not support parameterized block execution (cannot infer shape).

## Environment info (Required)

[code]

I'm using Pyton

## Build info (Required if built from source)
N/A

## Error Message:
[code]

## Minimum reproducible example
[code]
Remove comments from MLP.__init__ and code will run (it will initialize self.dense1 before using contrib.cond)

## S

[2019-09-16 21:53] zachgk commented on #16121
Hi @mahmoodn. If you are using the MAKE base build instead of the CMake one, then you can pass in a new value for CXX through `make CXX=xxx ...`. You can also use bash right before the command such as `CXX=xxx someBashCommand...`.

Can you explain what your use case is, how you are building mxnet, and what prevents you from passing in the gcc version through the CC and CXX environment variables?

[2019-09-16 22:18] Vikas-kum commented on #16181
@sad- Thanks. I tried that but doesn't look like profiler tests were passing-

Looks like there is more to fix here - New error that came here was -
[code]

Logs for reference -
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/tutorials_nighly_fix/10/pipeline

Can you please try to provide fixes for 3 tests and then we can enable the tests in nightly.

[2019-09-16 22:27] zachgk commented on #16146
Since #16147 was raised that seems to address this issue and the website publishing has been successful for the last 15 runs, I will close this issue. Please reopen if I am closing in error.

[2019-09-16 22:48] zachgk commented on #16162
That error means the CI machine was unable to connect to Maven central to download the package. We see it sometimes and are tracking the issue under https://github.com/apache/incubator-mxnet/issues/15605.

[2019-09-16 22:56] zachgk commented on #16167
Is there a plan to create a branch either for the 1.x version and have master reflect 2.0 or to create a branch for the 2.0 version and keep master on 1.x for now?

[2019-09-16 23:09] zachgk commented on #16174
Did you receive any kind of error when you tried to compile mxnet? Also, the new operator FAQ might be able to help you https://mxnet.incubator.apache.org/versions/master/faq/new_op.html?

[2019-09-16 23:13] zachgk commented on #16177
ping @pengzhao-intel

[2019-09-16 23:23] zachgk commented on #16182
@junrushao1994 Can you take a look?

[2019-09-17 00:02] pengzhao-intel commented on #16177
Thanks @zhennanqin to follow up :)

[2019-09-17 00:38] YouhuiBai commented on #15674
@apeforest Very sorry, I forgot to check the gmail because it is uncommonly used. I used branch 1.5.0 ("current newest mxnet" as I said), and checked from version 1.0.0 to `master` branch, there is straggler. What can we do is just allocate the pinned memory for `comm_buf` rather than reuse the `merged`, which is pageable memory. Thanks a lot!

[2019-09-17 01:09] R1ncy commented on #15320
the label of my class index is from 0 to 999, so the class number=1000. i changed the class number to 1001 and the problem was solved. @nacorti

[2019-09-17 02:09] ZhennanQin commented on #16177
Hi @shoubhik,
Here's a demo code on how to dump mkldnn u8 convolution weights.
https://github.com/ZhennanQin/incubator-mxnet/commit/c775dfc4f444a013302420112cc9c214fc59cd00

For s8 convolution, mkldnn doesn't support to convert its s8 weight back to default format, thus you can't directly save them with aobve code. But you can still access its s8 weight in nhwc format:
[code]
You can write a loop

[2019-09-17 03:01] shdyn commented on #16174
Thanks for your reply. There was no error in compiling. I also refered
https://github.com/reminisce/mxnet/blob/900a6997ded8f7124fc6323aa66408cb70e8253f/docs/how_to/add_op_in_backend.md

On Tue, Sep 17, 2019 at 7:10 AM Zach Kimberg <notifications@github.com>
wrote:

[2019-09-17 04:17] shoubhik commented on #16177
@ZhennanQin in your previous comment for s8 it should be?

`int8_t* ptr = static_cast<int8_t*>(cached_weight_.GetMKLDNNData()->get_data_handle())`

and for u8 case in your code snippet you have written

[code]

for s8 should it be
[code]

[2019-09-17 04:32] ZhennanQin commented on #16177
https://github.com/ZhennanQin/incubator-mxnet/commit/5276bfac3962fb9511482ac7232a0981f97d9b8e is added to show how to print s8 convolution weights.

[2019-09-17 04:36] shoubhik commented on #16177
and for bias also we can do the same thing?

[2019-09-17 04:37] ZhennanQin commented on #16177
for bias, you can try the first solution first(NDArray save), if it doesn't work, then access with pointer will always work.

[2019-09-17 04:45] shoubhik commented on #16177
thanks this has been very helpful.

[2019-09-17 05:36] szha commented on #16167
@pengzhao-intel a tentative target date is by end of Q1 2020.

@zachgk we will create a branch for 2.0. Initially we will keep master to be 1.x and have 2.0 in a new branch. After 1.6 release we will revisit how to make the 2.0 branch the master.

[2019-09-17 06:13] mahmoodn commented on #16121
I had a compilation error using gcc-4.8.5 on centos 7.
I can reproduce the error but I think it was related to older gcc version.
So, I decided to test a newer gcc, e.g. 7.

Is there any note about minimum version of GCC for the latest git version?

[2019-09-17 09:02] matteosal commented on #13363
Can this be labeled as a bug?

[2019-09-17 11:45] Lizonghang opened #16186 "Segmentation fault when calling "auto &updates = update_buf_[key];""
## Description
Hello, I divided the standard `DataHandleDefault` interface in kvstore_dist_server.h into `DataHandleSyncDefault` and `DataHandleAsyncDefault` to support the synchrouous mode and asynchronous mode respectively. The `DataHandleSyncDefault` interface works fine but the `DataHandleAsyncDefault` interface suffered from segmentation fault, which is caused by `auto &updates = update_buf_[

[2019-09-17 13:33] leezu commented on #16121
Officially currently MXNet only supports gcc-4.8 build: https://github.com/apache/incubator-mxnet/blob/681cfc4/tools/dependencies/README.md

Can you provide more details on the build issues with gcc-4.8.5?

[2019-09-17 13:59] alexst07 commented on #15788
@vandanavk even your example gave me an error:

[code]

And yes, I had the same error of @lookup1980 before.

[2019-09-17 15:01] igolan opened #16187 "symbol.contrib.cond does not support custom operator execution"
## Description
``symbol.contrib.cond`` operator does not support custom operator execution.

## Environment info (Required)

[code]

I'm using Pyton

## Build info (Required if built from source)
N/A

## Error Message:
[code]

## Minimum reproducible example
[code]

## Steps to reproduce
Run code above

## What have you tried to solve it?

1. Replace custom operator with no-operator (or built-in o

[2019-09-17 16:23] igolan opened #16188 "symbol.contrib.cond does not support some built-in operators"
## Description
``symbol.contrib.cond`` operator does not support the build-in operators ``round``, ``floor`` and ``ceil`` (and probably some more).

## Environment info (Required)
[code]

I'm using Pyton

## Build info (Required if built from source)
N/A

## Error Message:
[code]

## Minimum reproducible example
[code]

## Steps to reproduce

1. Run the code above. hybrid_forward has few lines wit

[2019-09-17 16:26] leezu commented on #13363
@mxnet-label-bot add [Bug]

[2019-09-17 17:30] junrushao1994 commented on #16182
Hey, thank you for asking! This is actually an expected behavior.

The basic reason is that deferred initialization is not supported when control flow exists.

Why we are reluctant to do this? Imagine, in a contrib.cond with two branches (then and else), so only one branch is executed each time. Just say, in a buggy code, if it goes to the first branch, deferred initialization may initialize the w

[2019-09-17 17:42] vandanavk commented on #15788
@alexst07 Please have a look at https://github.com/apache/incubator-mxnet/issues/14589#issuecomment-479057849 for information on the error with BatchNorm operator.

[2019-09-17 17:45] vandanavk commented on #16176
@SyGoing Please share which version of MXNet and ONNx you are using. MXNet does have an exporter for Deconvolution https://github.com/apache/incubator-mxnet/blob/3dacabeaa4dea080f91363701a4a928cc807ed54/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py#L222

[2019-09-17 17:51] vandanavk commented on #16090
@Tianxiaomo Transpose operator is exported as Transpose https://github.com/apache/incubator-mxnet/blob/3dacabeaa4dea080f91363701a4a928cc807ed54/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py#L868. Not sure where SwapAxis is used. Could you share your model?

[2019-09-17 18:55] igolan commented on #16182
I understand, thank you for the detailed response!
I'm closing, but it's worth adding this to contrib.cond documentation.

[2019-09-17 18:55] #16182 closed

[2019-09-17 19:38] junrushao1994 commented on #16182
Thank you so much for your feedback!

@zheng-da should we add this limitation to the doc?

[2019-09-17 20:59] junrushao1994 commented on #16188
@yzhliu Hey I saw MXTVMBridge in the stack trace, what is that used for?

[2019-09-17 22:09] igolan commented on #16188
Hi, it also happens in MXNET1.4.1:

## Output:
[code]

## ENV INFO:
[code]

[2019-09-17 22:52] apeforest opened #16193 "Fail to install Horovod with MXNet 1.5.1 and nightly"
The symbol _ZN5mxnet12on_enter_apiEPKc is missing from mxnet-cu100mkl nightly and 1.5.1 package. Without it, horovod cannot run.

This symbol is available in mxnet-cu100 1.5.0 package.

[2019-09-17 23:06] alext234 commented on #9735
I would love to know if anyone given this a try ?

[2019-09-18 01:17] SyGoing commented on #16176
@vandanavk，Hello ,the version of  MXNet and ONNX is 1.4.1 and 1.5.0, So Maybe I need to update mxnet to 1.5.0?

[2019-09-18 01:31] SyGoing commented on #16176
Hello，when I update mxnet to 1.5.0, there is another problem log for Batchnorm :
D:\Anaconda3\python.exe "D:\PyCharm Community Edition 2019.1.3\helpers\pydev\pydevd.py" --multiproc --qt-support=auto --client 127.0.0.1 --port 8034 --file E:/coco/COCO/workspace_mypy/mxnet2onnx.py
pydev debugger: process 25688 is connecting

Connected to pydev debugger (build 191.7479.30)
Backend Qt5Agg is interactiv

[2019-09-18 01:35] pengzhao-intel commented on #16173
A related discussion @dev before:

https://lists.apache.org/thread.html/dc83f4c16cc47b12a52c55d641cc5c6916cf8aa51589371eaf89a94b@%3Cdev.mxnet.apache.org%3E

[2019-09-18 01:37] SyGoing commented on #16176
my code  is here:

import mxnet
import mxnet  as mx
from mxnet.contrib import onnx as onnx_mxnet
from onnx import checker
import onnx

# convert pretrained glunCV2jsonparam
from gluoncv import model_zoo
from gluoncv.utils import export_block
from mxnet.gluon.model_zoo import vision

def gen_symbol_param_file_form_gluoncv_test():
    pose_net = model_zoo.get_model('simple_pose_resnet18_v1b', pretra

[2019-09-18 01:42] balabala7776 commented on #13301
hello，I got the same error,can you tell me how to solve it?

[2019-09-18 02:25] Tianxiaomo commented on #16090
[code]
@vandanavk

[2019-09-18 08:57] leezu commented on #9735
It's available as part of [GluonNLP](http://gluon-nlp.mxnet.io/), a toolkit that enables easy text preprocessing, datasets loading and neural models building to help you speed up your Natural Language Processing (NLP) research built on top of MXNet: https://github.com/dmlc/gluon-nlp/blob/7995ab20c344b8ced3d474a5aee548eadde715c6/scripts/word_embeddings/train_sg_cbow.py

@szha please close the issue

[2019-09-18 09:05] xidulu opened #16196 "[RFC] [WIP] Making sampling methods differentiable."
## Background
Backpropagation through random variables is no easy task. Two main methods are often adopted for derivative estimation: score function estimator and pathwise derivative estimator (see https://arxiv.org/abs/1506.05254 for more details). The former one is wildly used reinforcement learning while the pathwise derivative estimator could be seen a lot in variational autoencoder related mo

[2019-09-18 09:36] caigen commented on #9271
+1. win7 + python 3.7 + pip mxnet.

[2019-09-18 15:29] hfassold opened #16200 "ONNX export does not work for EfficientNet model due to missing operator (AdaptiveAvgPooling2D)"
I am trying to convert the 'EfficientNet' pre-trained model (B0 variant) to ONNX format.
See paper https://arxiv.org/abs/1905.11946

Unfortunately, this does not work because it seems that one operator is missing.
The error thrown is 'AttributeError: No conversion function registered for op type _contrib_AdaptiveAvgPooling2D yet'

MXNet version: 1.5.0

Code to reproduce this issue:

import numpy a

[2019-09-18 16:54] vgangal101 opened #16201 "using gluon/image_classification.py img/sec speed up when metric update and reset when turned off"
I am working with the example/gluon/image_classification.py script in the apache incubator mxnet github and was tinkering with the script. I have observed that when I run the following command :

python image_classification.py --model resnet50_v1 --dataset dummy --epochs 1 --log-interval 1 --batch-size 64 --gpu 0

I get a img/sec value of 323.0 img/sec on a Tesla V100 gpu

The same command if I ru

[2019-09-18 18:34] zachgk commented on #14943
@tomoncle @git-ness https://github.com/apache/incubator-mxnet/blob/master/example/README.md seems like a good place to put it. I think it fits under "Web Predictive Services". Would you like to raise a PR to add it?

[2019-09-18 18:48] zachgk commented on #15191
There has not been any response for several months and a solution was proposed for the issue. I will close this for now. Please reopen if the issue remains.

[2019-09-18 18:48] #15191 closed

[2019-09-18 20:40] nacorti commented on #15320
Had that problem already, this is somehow different.

This occurs when I try to run

`for i, batch in enumerate(train_loader):` on a DataLoader object.

I'm using AWS Sagemaker, and this enumerate command succeeds when I'm running in a notebook on an ml.t2.medium instance but fails when I try to run on an ml.p2.xlarge instance, after outputting some malloc lines that don't appear when I'm running

[2019-09-18 20:55] junrushao1994 commented on #16188
We confirm that we can reproduce this bug

[2019-09-18 20:58] junrushao1994 commented on #16188
A minimal example would be:

[code]

[2019-09-18 21:55] junrushao1994 commented on #16188
A workaround would be:

[code]

[2019-09-18 21:58] sxjscience commented on #16102
@eric-haibin-lin I've added the check for exception handling.

[2019-09-18 21:58] #16102 closed

[2019-09-18 21:59] junrushao1994 commented on #16188
Just digged a while with @zheng-da.

This bug should be related to inconsistency between operator implementation (F.round does not require original input when doing backward) and cached op (in which there are pieces of code that assume original input exists). We have a workaround in the post above that forces the input to exist, but this is definitely a bug somewhere unrelated to control flow oper

[2019-09-18 22:27] aaronmarkham commented on #14994
Failed again....
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15885/14/pipeline

[2019-09-18 22:29] aaronmarkham commented on #15229
Failed here... just on CI... on what should be unrelated...
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15885/14/pipeline/303

[2019-09-18 23:08] nacorti commented on #15320
I figured it out

I was trying to use an LSTDetection dataset type to feed into a DataLoader, when I should've been using the RecordIO format detailed [here](https://gluon-cv.mxnet.io/build/examples_datasets/detection_custom.html#sphx-glr-build-examples-datasets-detection-custom-py)

Wish the docs had said something about RecordIO being required to feed into a model, would've saved me some time.

[2019-09-18 23:38] eric-haibin-lin commented on #9686
remove the deprecated `infer_range` argument for `nd.arange`. The option is actually not supported.

[2019-09-19 05:37] wkcn opened #16206 "Wrong results of min([inf, inf]) and max([-inf,-inf])"
## Description
Hi, there. The user Orb! found the bug.
The results of min([inf, inf]) and max([-inf,-inf]) are wrong.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc

MXNet commit hash:
5f9a68033f0cad7b777cc3988b819997c6f4c9eb

Build config:
`make -j4 USE_OPENCV=1 USE_

[2019-09-19 06:54] perdasilva opened #16208 "[CD] test_profiler failing for cpu on python 2"
## Description

The python 2 tests are failing against the statically linked cpu variant of libmxnet:

[Jenkins log](http://jenkins.mxnet-ci-dev.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/detail/mxnet-cd-release-job/195/pipeline/414)

[code]

## Environment info (Required)

[ubuntu_cpu](https://github.com/apache/incubator-mxnet/blob/master/ci/docker/Dockerf

[2019-09-19 08:22] #15767 closed

[2019-09-19 08:54] LeicongLi opened #16210 "Load pre-trained AlexNet ONNX official model"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-09-19 12:10] pengzhao-intel commented on #16177
closing sine the question is answered :)
Feel free to reopen or answer more

[2019-09-19 12:10] #16177 closed

[2019-09-19 12:33] fantajeon commented on #14774
How about this: DMLC_USE_KUBERNETES=1  .
When ps library binding with address and port, it would set address = 0.0.0.0 if DMLC_USE_KUBERNETES set.

I would be ok!.

[2019-09-19 14:05] JiaoPaner commented on #15632
face the same error. is there any other solution?

[2019-09-19 15:15] JiaoPaner commented on #14116
Facing the same error when compiling 1.5.0.
Now have it fixed?

[2019-09-19 15:22] QueensGambit commented on #15632
Hello @JiaoPaner.
Yes, the reason is because the `-DCMAKE_BUILD_TYPE=Release` argument is missing in the build instructions.
I created a pull-request about this 8 days ago, but it is not merged yet: https://github.com/apache/incubator-mxnet/pull/16144
I also created a wiki page for instructions to build MXNet for Windows using the command line rather than than the cmake-gui (you might want to set

[2019-09-19 18:11] zachgk commented on #14479
You should need the CUDA version to match exactly. So, 10.0 for mxnet-cu100 or 10.1 for mxnet-cu101.

[2019-09-19 18:48] anirudh2290 opened #16214 "test_sync_batchnorm failure on p3.8xlarge"
test_sync_batchnorm behaves differently when there are different number of gpu devices on the machine. It fails on p3.8xlarge but when num_devices are 1 or 2, the test passes.

[code]

[2019-09-19 20:34] zachgk commented on #16010
The tensorflow workaround you gave is to call dropout on the weight layer and then multiply by the probability for the dropout layer to undo the weight change. This should work in MXNet and other frameworks as well

[2019-09-19 21:12] zachgk commented on #16002
I don't think so. You could try using gather_nd as a workaround.

[2019-09-19 21:26] zachgk commented on #15962
Your training accuracy is going to 100 so your model is probably overfitting the dataset (https://www.d2l.ai/chapter_multilayer-perceptrons/underfit-overfit.html)

[2019-09-19 21:36] donhk1011 commented on #16002
Hi,
Thanks for the reply. Is it possible to use gather_nd with something like for-loop?
Could you please give me an example of how to use it with gather_nd?
E.g., input - [0,1,2,3,4,5], output - [ [0,1], [1,2], [2,3], [3,4], [4,5] ]

[2019-09-19 21:36] access2rohit opened #16216 "Inconsistent behaviour nd.argmax against np.argmax when there are 'nans' in data"
below is a reproducable example to display inconsistencies in argmax in mxnet and numpy
[code]

[2019-09-19 21:40] access2rohit commented on #16216
@mxnet-label-bot add [numpy]

[2019-09-19 21:40] access2rohit commented on #16216
@reminisce @szha

[2019-09-19 21:41] access2rohit commented on #9686
we need to fix this issue as well https://github.com/apache/incubator-mxnet/issues/16216. It's a breaking change

[2019-09-19 21:51] aaronmarkham opened #16217 "CI failure - test_operator_gpu.test_update_ops_mutation"
Failed a run on an unrelated update:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15883/39/pipeline/

[2019-09-19 22:07] zachgk commented on #16002
You would want to use a for loop to construct the indices input to gather_nd.

[code]

[2019-09-19 22:20] zachgk commented on #15863
How were you building ResNet and running the training? Can you share the script/code or a minimal example so that we can try to reproduce your results?

[2019-09-19 22:36] zachgk commented on #15254
@tomoncle I am closing this issue because it seems like all the problems were addressed. Please reopen if there are remaining problems

[2019-09-19 22:36] #15254 closed

[2019-09-19 23:29] wkcn commented on #15836
Close it since the issue has been solved.
Thank @yajiedesign for the fix : )

[2019-09-19 23:29] #15836 closed

[2019-09-20 00:08] aaronmarkham commented on #14329
Failed again! http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15883/40/pipeline/302

[2019-09-20 00:26] CynthiaProtector commented on #15863
Thakns, zachgk. I do not build the Resnet-20 on my own, I used the ResNet-20 under the directory /mxnet/example/image-classification/symbol. No modification is made to the code. However, the problem does exit in the version 0.12.1 or 1.4.1.

[2019-09-20 00:31] CynthiaProtector commented on #15962
The other reason is that no data augmentation is applied in the training process, therefore, the final test accuracy is around 81% because of the limited training dataset. When the data augmentation is applied, the test accuracy is improved.

[2019-09-20 00:46] TristonC commented on #16201
The speedup is not real. And it is due to the asynchronous computation of MXNet.  The nd.asnumpy() function is called in the metrics' update which causes the synchronization for each batch. The performance without metrics update should be close to the one with the metrics update.

[2019-09-20 00:47] eric-haibin-lin commented on #15613
If we have a chance for another RC, we should port https://github.com/apache/incubator-mxnet/pull/15240 and https://github.com/apache/incubator-mxnet/pull/15342

[2019-09-20 03:02] igolan opened #16220 "`NDArray.clip()` works very slow in imperative execution on GPU."
## Description
`NDArray.clip()` works very slow in imperative execution on GPU (~x3 slower than ReLU).
More details below

## Environment info (Required)

[code]

I'm using Python

## Build info (Required if built from source)
N/A

## Error Message:
Running GluonCV resnet18_v2 on ImageNet:
Imperative, with `ndarray.clip(0,6)` as activation: throughput ~900 samples/sec.
~x3 slower compared to:
Impe

[2019-09-20 07:28] JiaoPaner commented on #15143
I read the #15144 ,modified the line " #if !defined(_MSC_VER)" which is 744  to "#if !(defined(_MSC_VER) && _MSC_VER < 1900)" .Then, compile again that config includes USE_CPP_PACKAGE.After that the compile result has no any errors  and no any above errors.
And the examples can run without error , the solution does work.

[2019-09-20 07:32] JiaoPaner commented on #15632
@QueensGambit
I read the #15144 ,modified the line " #if !defined(_MSC_VER)" which is 744 to "#if !(defined(_MSC_VER) && _MSC_VER < 1900)" .Then, compile again that config includes USE_CPP_PACKAGE, my operating system is win10 x64 and IDE is Visual Studio 2015.
After that the compile result has no any errors and no any above errors.
And the examples can run without error , the solution does work.

[2019-09-20 08:19] Sumanth-393 opened #16224 "mxnet.base.MXNetError: [13:43:35] C:\Jenkins\workspace\mxnet-tag\mxnet\src\ndarray\ndarray.cc:1755: Check failed: fi->Read(data) Invalid NDArray file format while loading resnet-18"
got Error while loading checkpoint from model.load_checkpoint

## Steps to reproduce
(Paste the commands you ran that produced the error.)

path='http://data.mxnet.io/models/imagenet/'
[
mx.test_utils.download(path+'resnet/18-layers/resnet-18-0000.params'),
 mx.test_utils.download(path+'resnet/18-layers/resnet-18-symbol.json'),
 mx.test_utils.download(path+'synset.txt')]
ctx = mx.cpu()
sym, arg_pa

[2019-09-20 09:39] matteosal commented on #16143
Any news about this?
Not sure it should be labeled C API anymore, because one 1 example out of 2 (the one above here) can also be reproduced from Python.

[2019-09-20 13:25] ybz79 opened #16227 "How to use a pre-trained model in model zoo as a sub-block in my own model?"
## Description
I want to use a pretrained model in the model zoo (such as BERT) as a layer in my own model.
[code]

But I have a small problem about the naming, since bert_model and other parameters in my own model didn't have a same prefix, which can cause error in model.save_params()
, how can I slove this problem?

[2019-09-20 14:18] TaoLv commented on #16143
Sorry for the delay @matteosal . I got trapped by other stuff this week. Will look into the python script and get back to you next week. Thanks for your patience.

[2019-09-20 18:14] zachgk commented on #9656
Sparse Support was added in https://github.com/apache/incubator-mxnet/pull/15378

[2019-09-20 18:14] #9656 closed

[2019-09-20 18:31] zachgk commented on #16227
You should use Mymodel.name_scope() when defining the child blocks. Take a look at the documentation in http://beta.mxnet.io/api/gluon/mxnet.gluon.nn.Block.html. Also, use model.save_parameters as save_params is deprecated.

[2019-09-20 18:40] zachgk commented on #16224
I ran this and it seemed to work fine.

The mx.test_utils.download directory tries to download the files to the local directory. Can you try navigating to an empty directory before running this?

Can you also share your environment info:
[code]

[2019-09-20 20:29] zachgk commented on #15797
@crossLi Were you able to get the custom data loader working?

[2019-09-20 21:31] #14116 closed

[2019-09-20 21:31] #15143 closed

[2019-09-20 21:55] zhreshold commented on #13593
@YutingZhang
Just tested out the master version, the ENV variable `OMP_NUM_THREADS` can now effectively control the OMP threads each worker is allowed to use.

For example, `OMP_NUM_THREADS=32 python3 mxnet_cpu_test.py --num-workers=2` gives

![image](https://user-images.githubusercontent.com/3307514/65360902-88f81000-dbb6-11e9-85fb-c91fc6c1f9f4.png)

[2019-09-20 22:18] anirudhacharya commented on #10051
@eric-haibin-lin can this issue be closed?

[2019-09-20 22:32] marcoabreu commented on #16154
@ThomasDelteil

[2019-09-20 22:48] wkcn commented on #16206
Close it since the issue has been addressed in PR #16226

[2019-09-20 22:48] #16206 closed

[2019-09-20 23:02] salmanmashayekh opened #16230 "Loading Sagemaker NTM Artifacts"
I have trained a Neural Topic Model with Sagemaker and now I am trying to load/deploy the model locally. The artifacts include a `symbol` and an a `parameters` file.

I am using the following to load the model:
[code]

But when I try to `bind` the model:
[code]

It fails with the following error:
[code]

From the model architecture (https://arxiv.org/pdf/1809.02687.pdf), I know that the input data

[2019-09-20 23:20] ChaiBapchya opened #16231 "[Website] MXNet Version selection Drop-down makes page jump to top of page"
Upon selecting the version from the drop-down, it moves the screen to the top of the page - not the desired outcome.

![Install page](https://user-images.githubusercontent.com/10992635/65363728-548a5100-dbc2-11e9-80a5-a3f051b3e766.png)

However, upon selecting the rest of the options - OS Platform, Langugage binding, GPU/CPU etc the screen remains in the original position (instead of moving to the

[2019-09-20 23:20] ChaiBapchya commented on #16231
@mxnet-label-bot add [website-beta]

@aaronmarkham What do you think?

[2019-09-20 23:52] ChaiBapchya commented on #16174
With today's new updated website launch - https://mxnet.incubator.apache.org/api/faq/new_op should be the link @zachgk

[2019-09-21 01:55] WenmuZhou commented on #15797
I have write a dataset like this and it work https://github.com/WenmuZhou/crnn.gluon/blob/master/data_loader/dataset.py#L140-L195

[2019-09-21 01:56] WenmuZhou opened #16232 "how can I load a pre-trained model with different shape and same name of last layer"

[2019-09-21 09:51] aaronmarkham commented on #16154
I'll make an infra request. We don't have control of that folder.

[2019-09-21 21:58] donhk1011 commented on #16002
Thanks! I

[2019-09-21 21:58] #16002 closed

[2019-09-22 02:00] #15123 closed

[2019-09-22 07:21] iblis17 commented on #15613
No idea why my backporting PR got closed (#16142).

[2019-09-22 13:42] mifan0208 opened #16237 "Mxnet official website before the search function area ran where? Updated?"

[2019-09-22 20:39] reminisce opened #16238 "[Flaky] test_convolution_multiple_streams"
[code]

[code]
[log.txt](https://github.com/apache/incubator-mxnet/files/3640152/log.txt)

[2019-09-22 21:58] johnbroughton2017 opened #16239 "train_imagenet.py fails with float16 + alexnet"
## Description
I found the following error when training an alexnet using fp16. It is very easy reproduce using the command below. I have seen a few people reporting this bug yet I haven't been able to find a solution. If you replace ```alexnet``` with ```reset-v1```, it works fine.

I was following the official tutorial here:
https://mxnet.incubator.apache.org/api/faq/float16

I think the root of

[2019-09-22 22:11] chunhanl opened #16240 "Broken Links"
## Description
Links under README -> Content are broken
[Tutorials](https://mxnet.incubator.apache.org/tutorials/)
[Design Notes](https://mxnet.incubator.apache.org/architecture/index.html)
[Installation](https://mxnet.incubator.apache.org/install/index.html)
[Pretrained Model](http://mxnet.incubator.apache.org/api/python/gluon/model_zoo.html)

[2019-09-23 01:00] adc17 commented on #16106
@lanking520 I'm wondering if console output would be better than actually throwing an error here, that way users without the `MKLDNN` subgraph backend enabled don't encounter an unnecessary exception?

[2019-09-23 01:25] junrushao1994 opened #16245 "[Build][CMake] LIBOMP: Cannot find llvm-lit"
## Description
Hey, I am trying building MXNet from source using CMake. Although I am able to build it, cmake does produce some warnings that I would love to configure out why.

[code]

I suppose that openmp is downloaded by the cmake script and built from scratch, so shouldn't it be self-contained? So is there any flags that i missed out? Any ideas would be super helpful!

## Environment info (Re

[2019-09-23 01:33] junrushao1994 commented on #16245
Tried with the most recent HEAD (dccfc88f66d23366bd478ec42fd9b106ae74d2ad) the issue still exists.

[2019-09-23 02:46] TaoLv commented on #16143
@marcoabreu Do you have any suggestion about including @matteosal 's demo case as unit tests of MXNet? Where should I put the cpp code?

[2019-09-23 04:35] chinakook opened #16247 "[Feature request] mx.ndarray.any and mx.ndarray.all"
I think numpy.any/numpy.all are both common used, so mx.ndarray.any and mx.ndarray.all should be implemented.

[2019-09-23 04:51] reminisce commented on #16247
These ops are included in NumPy Operator Coverage list but haven't been implemented yet.
https://cwiki.apache.org/confluence/display/MXNET/NumPy+Operator+Coverage+Status

[2019-09-23 12:50] srsridharan opened #16249 "links broken for https://mxnet.incubator.apache.org/versions/master/gluon/"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-09-23 15:07] JiaoPaner commented on #16240
Why hasn't anyone answered this question yet?

[2019-09-23 16:06] anirudh2290 commented on #16087
What is the MXNET_ENGINE_TYPE you are using ?  Threading library in python won't provide much benefits because of GIL. You can either try multiprocessing or you can use C Predict API Multi threading interface. You can find an example here : https://github.com/apache/incubator-mxnet/tree/master/example/image-classification/predict-cpp

[2019-09-23 17:02] sbebo commented on #13875
Hi all,
this bug keeps biting us. This is easily reproducible, meaning that it occurs randomly but with pretty high frequency, always within a few hundred attempts, but non deterministic.
The code I'm using (essentially the same as above):

[code]

I managed to isolate some requirements to recreate a conda environment where this issue occurs.
This is obtained with conda + pip as follows (I have co

[2019-09-23 17:14] samskalicky commented on #16106
@ZhennanQin do you think this is related to #14727 ?

[2019-09-23 17:17] sbebo commented on #13875
This does seem related (or really, the same thing) as https://github.com/numpy/numpy/issues/10060
and https://github.com/apache/incubator-mxnet/issues/12710
Setting KMP_INIT_AT_FORK=FALSE does seem to fix the issue.
Not sure if something could be done by the libraries that use MKL to warn about this and how to prevent it.

[2019-09-23 17:31] reminisce opened #16252 "[Flaky] test_softmax_with_length asserts equality near zero"
[code]
[softmax_flaky.log](https://github.com/apache/incubator-mxnet/files/3643365/softmax_flaky.log)

[2019-09-23 17:54] kriswo commented on #16240
These broken links results in having no instructions to build MXNet from source for end users.

The issue is related to whomever is maintaining https://mxnet.incubator.apache.org/ as Google's links are also broken.  So anyone who Googles "build mxnet from source" gets broken links.

[2019-09-23 17:56] roywei commented on #16249
lots of google search results went to 404, may due to new mxnet website launch

https://mxnet.incubator.apache.org/api/python/kvstore/kvstore.html
https://mxnet.incubator.apache.org/api/python/index.html

[2019-09-23 17:58] roywei commented on #16249
@srsridharan you may want to search directly on mxnet new website for now. https://mxnet.incubator.apache.org/

[2019-09-23 18:04] roywei commented on #16240
I think it may due to our new website launch. Everything is still there on the new website, you may want to navigate and search directly on new website.

Installation: https://mxnet.incubator.apache.org/get_started
Built from source: https://mxnet.incubator.apache.org/get_started/ubuntu_setup
Tutorials: https://mxnet.incubator.apache.org/api/python/docs/tutorials/
Design: https://mxnet.incubator.a

[2019-09-23 18:05] roywei commented on #16240
similar issue https://github.com/apache/incubator-mxnet/issues/16249

[2019-09-23 18:10] kriswo commented on #16240
There are also broken links on the website: https://mxnet.incubator.apache.org/api/cpp

That links to URLs like this: https://mxnet.incubator.apache.org/install/build_from_source

Which are broken.

[2019-09-23 18:42] samskalicky commented on #16210
@vandanavk please take a look

[2019-09-23 19:10] igolan commented on #16249
The new website has a lot of bugs/missing documentations.
Few examples:
[Searching for broadcast_add does not return Symbol/ndarray broadcast_add methods](https://mxnet.incubator.apache.org/api/python/docs/search.html?q=broadcast_add) ( I also couldn't find it in the menu)
[In Symbol.sqaure , it refers to square methods but the link is to the same page ("Convenience fluent method for square().")](

[2019-09-23 20:02] ei-grad commented on #16134
Looks like a bug with locale settings somewhere in mxnet.

[code]

[2019-09-23 21:54] aaronmarkham opened #16254 "Enable anchors on website"
It would be nice to link to section headings with anchors. I'm pretty sure Jekyll supports this, so it's just a matter of some tinkering on the front-end to get this to work.

[2019-09-23 22:17] Jerryzcn commented on #15627
Can we add InstanceNorm as well thanks!

[2019-09-23 23:37] ZhiminPeng opened #16256 "[Bug] Failed to evaluate gradient on samples with train_mode=False"
## Description
I am working on using integrated gradient to interpret DL models. This method requires evaluating gradient on a few samples. I understand that when evaluating gradient, one should set `train_mode = False` to avoid behaviors from the Dropout layers. I was able to do so with feedforward networks, and CNNs. But while experimenting with LSTM, calling `x.grad` for the first time gives th

[2019-09-24 00:32] TaoLv commented on #13875
@sbebo I take this issue as a defect of the openmp library and the library will be excluded in the next minor release.

[2019-09-24 02:26] ZhennanQin commented on #16106
@samskalicky Not exactly the same. #14727 is about input names reordering after subgraph partition. This is about variables with same names.

[2019-09-24 03:17] JiaoPaner commented on #16240
BTW，the new website is slower than before and many information is missing such as installation

[2019-09-24 06:45] apeforest commented on #15968
Working on it now.

[2019-09-24 06:47] leezu commented on #13875
@szha @eric-haibin-lin this bugreports describes the cause of the `OSErrors` that time-to-time happen on ci.mxnet.io (CI used by gluon-nlp.mxnet.io , gluon-cv.mxnet.io , ...)

[2019-09-24 06:51] leezu commented on #13875
Note that we didn't face the OSError related crashes anymore after upgrading to Ubuntu 18.04 (more specifically, using the following Docker container https://github.com/dmlc/gluon-nlp/blob/master/ci/batch/docker/Dockerfile )

[2019-09-24 07:00] TaoLv commented on #13875
Hi @leezu, is it possible for you to try `export KMP_INIT_AT_FORK=false` in your CI environment?

[2019-09-24 07:20] sbebo commented on #13875
Oh, will try to move to Ubuntu 18.04 if possible.

[2019-09-24 11:12] RomanSteinberg commented on #16134
Thank you, @ei-grad but I have another behavior. When I run your script on on `deploy` computer it reproduces the bug for both locales.

[2019-09-24 11:19] ei-grad commented on #16134
Oops, probably you have the LC_CTYPE env variable also set to the russian locale. This should be more reliable (but still needs the `ru_RU.UTF-8` locale generated):

[code]

[2019-09-24 12:40] aaronmarkham commented on #16240
@JiaoPaner Sounds like you're having a network issue. Thomas and I worked on this site while traveling all over and even using satellite while on an airplane, so I'm pretty sure the site is fine with regard to being available.
If you continue to have issues connecting to the website, please report it in a separate issue since this one will be closed when my link-fixing PR is merged. Any site avail

[2019-09-24 13:00] thvasilo commented on #1722
Not sure if it works for MXNet as well, but the closest I've found that actually works (in terms of building dmlc-core with HDFS support) is this one: https://github.com/dmlc/xgboost/issues/3882#issuecomment-437251268

I'm not sure if building Hadoop from source is strictly required, I've had success in the past simply using the binaries.

[2019-09-24 13:07] marcoabreu commented on #16134
Interesting, thanks for providing the steps to reproduce. The locale certainly shouldn't influence numerical results.

@szha any idea?

[2019-09-24 13:07] marcoabreu commented on #16134
Also @pengzhao-intel any idea?

[2019-09-24 14:49] JiaoPaner commented on #16240
@aaronmarkham Thanks for your reply. The website is fine when I used VPN.The major reason is Great Fire Wall due to can not access google.com includes ajax.googleapis.com, locally jquery.js can solve it as you said, after all there are many Chinese developers use mxnet.

[2019-09-24 15:04] igolan commented on #16240
The new website has a lot of bugs/missing documentations.
Few examples:
[Searching for broadcast_add does not return Symbol/ndarray broadcast_add methods](https://mxnet.incubator.apache.org/api/python/docs/search.html?q=broadcast_add) ( I also couldn't find it in the menu)
[In Symbol.sqaure , it refers to square methods but the link is to the same page ("Convenience fluent method for square().")](

[2019-09-24 15:23] aaronmarkham commented on #16240
@igolan You may want to report that as a separate issue since many people can contribute fixes and this issue will get closed soon. We don't want to lose track of what you've noticed.
The other one you mention will also get closed as the subject and core issue is related to google indexing and not a particular issue on the website. (I've opened a ticket with Apache infra about that one.)
Your issu

[2019-09-24 15:58] igolan opened #16260 "website bug: Symbol.sqaure links to square method link is to the same page (infinite loop)"
Website bug:
[Symbol.sqaure](https://mxnet.incubator.apache.org/api/python/docs/api/symbol/_autogen/mxnet.symbol.Symbol.square.html#mxnet.symbol.Symbol.square)
 refers to square methods but the link is to the same page (infinite loop when clicking "Convenience fluent method for square().")

[2019-09-24 16:00] igolan opened #16261 "website bug: missing documentation"
Hi,
The new website is missing some of the documentations.
[Searching for broadcast_add does not return Symbol/ndarray broadcast_add methods](https://mxnet.incubator.apache.org/api/python/docs/search.html?q=broadcast_add) ( I also couldn't find it in the menu)

It's also true for many other methods (I assume it's the same reason for all of them, so I'm putting only the broadcast_add example).

[2019-09-24 16:23] #16201 closed

[2019-09-24 17:00] apatsekin commented on #16249
@roywei the whole Symbol API documentation is missing (try clicking on any links from this page):
https://mxnet.incubator.apache.org/api/python/docs/tutorials/packages/symbol/index.html

[2019-09-24 19:03] leezu commented on #13875
@TaoLv the issue occurred only rarely (few times a month) for us and did not occur anymore during the recent months. What would be the expectation of setting `export KMP_INIT_AT_FORK=false`? Should it fix the issue or are you asking to confirm if setting the env variable reintroduces the problem?

[2019-09-24 20:16] lanking520 commented on #16232
Hi @WenmuZhou Thanks for your question. Could you please provide more context of your model? Usually you can provide a different input shape for your model.

[2019-09-24 20:23] lanking520 commented on #16237
Hi @mifan0208 Could you provide more information for your question?

[2019-09-24 20:25] lanking520 commented on #16239
@zhreshold @hetong007 Could you please take a look? It looks like a GluonCV problem.

[2019-09-24 22:11] lanking520 commented on #16261
@aaronmarkham seemed like the search engine is not working properly

[2019-09-24 22:12] lanking520 commented on #16260
@aaronmarkham Please take a look

[2019-09-24 22:36] zhreshold commented on #16239
@johnbroughton2017 Double checking that you are using the symbolic example here: https://github.com/apache/incubator-mxnet/tree/master/example/image-classification

I just tried it using mxnet-cu100 1.5.0 and it's working fine.

There are a couple reasons it might fail

- Are you using mxnet built with cuda?
- Are you using a GPU that supports fp16? GPUs older than Volta arch can't support fp16.

[2019-09-25 00:14] wkcn commented on #16237
mifan0208’s question may be ‘where is the search box in the main page of MXNet website’.

The search box only exists in the documents pages, like http://mxnet.incubator.apache.org/api/python/docs/api/

Some users report that they could not find the search box in the new website, and the old search box is more convenient than the new one. I also hope that the search box exists on the right-top of t

[2019-09-25 02:38] johnbroughton2017 commented on #16239
@zhreshold Thanks a lot for getting back to me.

The GPU I am using is GeForce RTX 2080
The mxnet version I am using is mxnet-cu101mkl
I just tried mxnet-cu101 which gave the same error.

Could this be a problem between 10.0 CUDA and 10.1 CUDA?

[2019-09-25 07:17] szha commented on #16256
@TaoLv could you take a look?

[2019-09-25 07:39] TaoLv commented on #16256
I can reproduce the issue by changing the last line to `print(x.grad)` and the issue exists for both mxnet and mxnet-mkl. Just talked with @zixuanweeei, he will help to take a look.

[2019-09-25 08:43] Kongsea commented on #13482
+1

[2019-09-25 09:01] zixuanweeei commented on #16256
Thanks for reporting this issue. Actually, we need a workspace to store the intermediate result of RNN variants, like the output of every gate and the state of every step, which are created only when `is_train=True`. These intermediate results are used in the gradients' calculation. When `train_mode=False` (`is_train=False`), no workspace will be created in `Forward`. So it will raise the error in

[2019-09-25 10:55] srsridharan commented on #16249
@roywei Thanks for the suggestion.  I raised the ticket to flag the website issue and will use the direct serach for now. However please note that the search functionality is pretty slow on the mxnet site. Perhaps requesting a recrawl of the mxnet site from the google crawler would get this resolved a bit sooner?
https://support.google.com/webmasters/answer/6065812?hl=en
just a thought..

[2019-09-25 11:16] Kh4L commented on #16240
Additional broken links: the two links on this page https://mxnet.incubator.apache.org/api/python/docs/tutorials/packages/symbol/index.html

[2019-09-25 11:56] Scipio1996 opened #16269 "How can I get featuremaps in each layer by SymbolBlock"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-09-25 12:11] ThomasDelteil commented on #16249
Result | URL |  
-- | -- | --
404 Not found | http://mxnet.io/faq/perf.html<a href>RedirectedLinked from: http://mxnet.incubator.apache.org/get_started and 2 more |  
404 Not found | http://mxnet.incubator.apache.org/validate_mxnet.html<a href>Linked from: http://mxnet.incubator.apache.org/get_started |  
404 Not found | http://mxnet.incubator.apache.org/ubuntu_setup.html<a href>Linked from: http:

[2019-09-25 12:16] ThomasDelteil commented on #16249
<table width="638" cellpadding="0" cellspacing="0" id="brokenLinkTable">
                  <tbody><tr>
                    <td id="brokenLinkTable_td_header" width="30"><div align="center"><strong>#</strong></div></td>
                    <td id="brokenLinkTable_td_header" width="499"><div align="center"><strong>Broken link </strong><span class="style6"> (you can scroll this field left-right)</spa

[2019-09-25 12:41] #16240 closed

[2019-09-25 13:03] aaronmarkham commented on #16260
Actually, I'd like someone to explain this to me and how it should work. It seems like the convenience methods in MXNet conflict with how Sphinx works. There might be a way to set this up properly, but so far I'm not aware of one.

`viz` was addressed by adding notes, not by fixing how sphinx does autodoc with it. https://github.com/apache/incubator-mxnet/issues/13232

`onnx` was also addressed wi

[2019-09-25 13:15] aaronmarkham commented on #16249
I already have a ticket open with Apach Infra for that.
https://issues.apache.org/jira/browse/INFRA-19144

[2019-09-25 13:20] aaronmarkham commented on #16249
Since this is really about the google index, let's keep this issue focused on that.
If we can get a reindex, it'll fix the google search results.
As for the broken links, I'll try to knock out the ones mentioned in the comments today. I just merged a previous link pass I did on the install page and readme. If y'all find more broken links, please open another issue as I will close this one once the

[2019-09-25 13:56] aaronmarkham opened #16270 "website analytics are offline"
It looks like Google Analytics isn't working on the website.

I sent test traffic through the analytics console and didn't see it show up.

Here's the gtag that's from the property settings:

[code]
The static site's GA is configured here:
/docs/static_site/src/_includes/google-analytics.html

But for some reason, this doesn't seem to show up when I view source, so it might be more than just updat

[2019-09-25 14:49] aaronmarkham opened #16273 "add custom redirects and 404 page"
Since the launch of the new site, there have been a variety of reports of 404s from google search results.

1. While reindexing should fix this, an interim solution would be a nicer 404 page.
1. Also, some commonly requested URLs could be redirected to their new home.
For example:
`/install` could go to `/get_started`

A detailed discussion on redirects for the old site can be found here and adapt

[2019-09-25 15:07] aaronmarkham commented on #16154
This has been resolved. It might take a while for google's index to update.

[2019-09-25 15:07] #16154 closed

[2019-09-25 15:26] QueensGambit opened #16274 "Website: Wrong installation link"
Broken **installation** link at:
* https://mxnet.incubator.apache.org/get_started
which results in 404 page errors.

It links to:

* https://mxnet.incubator.apache.org/ubuntu_setup.html
* https://mxnet.incubator.apache.org/install-jetson.html
* https://mxnet.incubator.apache.org/windows_setup.html
* https://mxnet.incubator.apache.org/centos_setup.html

under different configuration selections, but

[2019-09-25 15:27] QueensGambit commented on #16274
@mxnet-label-bot add [Doc, Website]

[2019-09-25 15:37] pcsso commented on #16240
Most of the links on the [C++ build page](https://mxnet.incubator.apache.org/api/cpp) are still broken.

[2019-09-25 16:00] aaronmarkham commented on #16240
Strange. I'm looking into that.

[2019-09-25 16:06] michaelkr opened #16275 "nd.random.uniform() FP exception when called with bad shape"
## Description

Calling nd.random.uniform() with a improper shape spec causes a hard exception and python exit.

## Environment info

'1.2.1'

Running from Python 3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 19:07:31)

## Build info (Required if built from source)
Did not build from source - using version that came with Conda.

## Error Message:
Floating exception

## Minimum reproducible example

[2019-09-25 16:14] aaronmarkham opened #16276 "website build deploying old artifacts"
After fixing some links and noting that the site had been build with that commit it was brought to my attention that the links were still broken.

This [build run 49](http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-website-build-master/49) created some artifacts that I downloaded and can see the changes are not present despite the link fix commit being listed.

I reran it as run 50 and we'll

[2019-09-25 17:47] lanking520 commented on #16269
@Scipio1996 Currently, there are only ways to see the input names with layers in the Symbol. You can take a reference here: https://mxnet.incubator.apache.org/api/python/docs/api/symbol/mxnet.symbol.Symbol.html#query-information

[2019-09-25 17:49] lanking520 commented on #16230
@salmanmashayekh is there any code piece available to reproduce?
@ThomasDelteil Could you please take a look here?

[2019-09-25 17:49] aaronmarkham commented on #16276
http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-website-build-master/50/console failed...
[code]
In this case, it seems like there was no archive available...

[2019-09-25 17:51] lanking520 commented on #16275
@michaelkr Thanks for reporting this issue. Is that reproducible on MXNet 1.5? Apart from that, could you please provide the shape you tested?

[2019-09-25 17:54] braindotai commented on #16167
Just a quick cheer up for a new website of MXNet... its way more awesome and beautiful than I expected.
Though minor bugs are still there, for ex- most of the link in the tutorials are broken and not working.
Anyways great work so far.

[2019-09-25 18:08] michaelkr commented on #16275
@lanking520 I will try to get mxnet 1.5 installed with conda on another machine and test.

The exact calling sequence to duplicate is:

start python, then:

which exits python with a "Floating exception" that cannot be caught.

[2019-09-25 18:27] sxjscience commented on #16196
Also, you may check the more recent REBAR paper: https://papers.nips.cc/paper/6856-rebar-low-variance-unbiased-gradient-estimates-for-discrete-latent-variable-models

[2019-09-25 18:51] sxjscience commented on #16196
Ping @szhengac who should be in charge of the distribution module.

[2019-09-25 20:15] #8605 closed

[2019-09-25 21:22] zhreshold commented on #16239
Yep, I can reproduce the error using CUDA 10.1.
@szha do you know who's familiar with it?

[2019-09-25 22:04] ChaiBapchya commented on #16174
I copy pasted the files into src/operator/. directory. Rebuilt it.
Tried the following
[code]

This didn't give me any error

For more details about using the function, `help()` might be helpful
[code]

[2019-09-25 22:27] salmanmashayekh commented on #16230
Thank you both @lanking520 and @ThomasDelteil!

Here is a MWE:

[code]

The training log is as follows:

[code]

When the training is done, it generates the following zip file, which includes a `metadata`, a `symbol`, and a `parameters` file: https://drive.google.com/open?id=1TLnIrnmB1SzPqN7cgyECql1Ri74isPKG

I am trying to load the `symbol`/`parameters` file into an mxnet model, so that I can mak

[2019-09-25 23:12] eric-haibin-lin commented on #10377
We should fix it in #14253

[2019-09-25 23:18] sxjscience opened #16279 "[Bug] Inconsistency between HybridBlock and Block"
There are lots of operators that have inconsistent behaviors between hybridized and not-hybridized versions.

[code]
[code]

Even if we use the `numpy` interface, the following code cannot  run:

[code]

[code]

[2019-09-25 23:39] sxjscience commented on #13247
@yifeim Should be solved by https://github.com/apache/incubator-mxnet/pull/16280

[2019-09-26 00:10] aaronmarkham commented on #16276
The site updated on the subsequent build. Seems like there's something to fix here still, but it self-corrects. Leaving this open for research after other critical things are fixed.

[2019-09-26 00:50] #16143 closed

[2019-09-26 00:59] reminisce commented on #16279
The problem is that ndarray indexing is not hybridizable. And more general, old symbol's `__getitem__` semantics is not consistent with ndarray's. There is a PR trying to address this problem in numpy module, but needs more diving-deep review.
https://github.com/apache/incubator-mxnet/pull/15905

[2019-09-26 01:05] sxjscience commented on #16279
@reminisce Thanks, we should fix these problems in the new numpy interface (also add the checks).

[2019-09-26 01:11] WenmuZhou commented on #16232
a simple code to reproduce is
[code]

and the output is
[code]

[2019-09-26 01:13] WIll-Xu35 commented on #16240
The model zoo link returned by google is also broken. [https://mxnet.incubator.apache.org/model_zoo/index.html?highlight=model](url)

[2019-09-26 01:19] liupengkd opened #16282 "op Crop"
Which interface is called Crop of op in the json file of mxnet?

[2019-09-26 03:30] Lizonghang commented on #16186
[Solved] These faults may be caused by read-write conflicts of the same memory space while calling PUSH and PULL simultaneously in asynchronous mode. I update the traffic model and everything goes fine.

[2019-09-26 03:30] #16186 closed

[2019-09-26 04:43] reminisce commented on #16279
@sxjscience Agree. It's in the scope. 15905 tries to address the problem by differentiating indexing a list of ndarrays and a single ndarray. I'm afraid there may still be pitfalls/inconsistencies/incompatibility we have not considered. If you have time, could you review that PR, or we can discuss offline as well.

[2019-09-26 05:16] sxjscience commented on #16279
Sure, I’ll review that. Also, I think we should keep a list to track the inconsistent behaviors so the user would be aware of that.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: reminisce <notifications@github.com>
Sent: Wednesday, September 25, 2019 9:43:49 PM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.

[2019-09-26 07:43] hcho3 commented on #15575
@apeforest You should close this, now that #16149 is merged.

[2019-09-26 08:30] xidulu commented on #16196
@sxjscience
Thanks for your reply, I've briefly read REBAR before, estimating gradient by combing reparameterization trick with REINFORCE has been more and more popular these days. (e.g. https://arxiv.org/abs/1807.11143 , https://arxiv.org/abs/1711.00123 )
I'll have further discussion with @szhengac regarding the distribution module.

[2019-09-26 11:06] zixuanweeei commented on #16256
@ZhiminPeng Could you give us some details about your application scenario? If you really want it works, we provide a temporal fix 025a22790773cbd2dede80fc05c61ea9f3896e9d. It would be highly appreciated if you can try it in your application. And feel free to tell us if there is any problem. Thanks.

[2019-09-26 11:56] xidulu commented on #16275
@michaelkr
What you are create is something called "Zero-size tensor", which, as far as I'm concerned, is not supported by `mx.ndarray`, as the zero in the shape means unknown rather than a concrete number, see bullet 2 in https://github.com/apache/incubator-mxnet/issues/14253 for more details.
However, the deep numpy API supports zero-size tensor, I'm not sure if the version installed using pip i

[2019-09-26 12:30] michaelkr commented on #16275
Thanks @xidulu ...it was actually a typo in my code, so I don't need the workaround.  I submitted it here because I felt it should result in a catchable exception or similar behavior, not a crash.

[2019-09-26 12:56] zixuanweeei commented on #16256
As far as I know, fused RNN operator needs a permanent workspace for storing intermediate results, which are used to calculate the gradients in `Backward`. In a inference only route, we don't intend to store those results,  which is partly a matter of performance. Have a talk with @TaoLv offline, seems `pooling` operator also have some possibly relevant problems.

In `autograd.record` scenario, do

[2019-09-26 14:16] xidulu commented on #16275
@michaelkr
I tried your code and the error handling functionality worked well on my machine:
[code]
I could not find out a way to reproduce the floating number exception (which should behave like core dump) you mentioned so far.

[2019-09-26 14:49] TaoLv commented on #13875
The env variable fixed the problem reported in this issue. So if GluonNLP CI is facing the same issue, I think it can be fixed by this env variable too.

[2019-09-26 17:16] keerthanvasist commented on #16282
@mxnet-label-bot add [question]

[2019-09-26 17:20] matteosal opened #16286 "MKL-DNN Convolution result is unstable with C API"
## Description
After issue https://github.com/apache/incubator-mxnet/issues/16143 was fixed, further testing revealed that the numerical result of the same example is unstable: evaluating the op multiple times can give different results.

## Environment info (Required)

[code]

## Build info (Required if built from source)

Compiler: gcc

MXNet commit hash: c5007ea01ad1b88e43cc669385a4a76b7020ce94

[2019-09-26 17:21] matteosal commented on #16286
I should also mention that the problem disappears if running with `MXNET_MKLDNN_ENABLED=0`

[2019-09-26 21:09] michaelkr commented on #16275
@xidulu Thanks for testing - I see that on my MacOS machine, running mxnet 1.5, I get the same result as you - a catchable exception.

But on my CentOS 7.5 machine, again with mxnet 1.5, it just core dumps.

[2019-09-26 21:52] ZhiminPeng commented on #16256
@zixuanweeei Thanks for looking into this. I would love to give your temporal fix a try. I installed mxnet through pip. I wonder how I should pick up your change. My application scenario is for model interpretation through [integrated gradient](https://arxiv.org/pdf/1703.01365.pdf). This requires us to evaluate the gradient of the model on a few samples.

[2019-09-26 22:35] ZhennanQin commented on #16286
@matteosal Thanks for reporting this. It turns out that the fix for https://github.com/apache/incubator-mxnet/issues/16143 has a bug that, a unreliable data pointer would be returned which points to a  released memory sometime. We will provide another fix to improve this. Sorry about this.

[2019-09-26 23:43] johnbroughton2017 commented on #16239
@zhreshold @szha
Thanks for looking into this. Seems like a real issue after upgrading to CUDA 10.1.

I am wondering if this is related to mx.symbol.LRN. I tried to remove LRNs in the AlexNet and the error disappears. FYI.

[2019-09-27 01:33] zixuanweeei commented on #16256
A nice paper! Maybe we can talk about it in the future. I am not familier with some "axiom"s yet 😄 . As to get our change work, I think you should build it from source. It may contains some of the following steps,
+ Prepare the source code
[code]
+ [Build it from source](https://mxnet.incubator.apache.org/get_started/ubuntu_setup.html). It depends on your platform. And you can find some useful scr

[2019-09-27 02:18] xidulu commented on #16275
@michaelkr
I tested it on my CentOS 7.0 machines and it worked perfectly fine. I would suggest you dump out the core file and use `gdb` to obtain the back trace for further information:
[code]

[2019-09-27 02:19] blessalanou opened #16291 "Unable to access https://mxnet.incubator.apache.org/ in China, got 404 response."

[2019-09-27 02:37] nidetaoge commented on #7933
1. The right way to do pre-processing is bgrConverter(image) * scale + bias，so for example, if your params are '{"is_bgr":True,"red_bias":-128,"blue_bias":-128,"green_bias":-128,"image_scale":0.0078125,"image_input_names":"data"}' , you are doing: image * 1/128.0 + (-128). If you set is_bgr = False, you need to change the order for bias, which means you need to give the real red bias to blue_bias,

[2019-09-27 04:31] yajiedesign commented on #16070
Some problems with "git pull" in building system.The problem has been fixed, but it will be suspended for a few days because of some other problems.

[2019-09-27 04:45] yajiedesign opened #16293 "in new doc,search "broadcast_div" only find sparse"
![image](https://user-images.githubusercontent.com/771744/65742892-b861cc00-e124-11e9-8ee3-12c494d625a0.png)

[2019-09-27 08:32] #16270 closed

[2019-09-27 09:09] bricksdont opened #16295 "New website: where did "Evaluation Metric API" go?"
## Description

I was looking at

https://mxnet.incubator.apache.org/versions/master/api/python/metric/metric.html

in the past, which is now a 404.

Where is the page "Evaluation Metric API" now? Where can I find general information about `mxnet.metric`?

[2019-09-27 09:41] HaydenFaulkner commented on #8848
Did you find a solution to this problem? I'm also interested

[2019-09-27 09:48] HaydenFaulkner opened #16296 "ConvRNNCells dynamic input_shape"
Same question as the closed #8848, is there a way to dynamically set the input shape for ConvLSTMCell and ConvGRUCell?

Thanks,
Hayden

[2019-09-27 10:17] shesung opened #16297 "incorrect grad of gluon.nn.BatchNorm when scale=False"
When using gluon.nn.BatchNorm(scale=False) on gpu,  the computed grad for beta is not correct. The grad of beta seem to be accumulated between iterations.

When setting scale=True or running on cpu, it goes correctly.

This problem may make network hard to converge during trainning.

## Environment info (Required)
CentOS Linux release 7.2.1511 (Core)
GTX 1080Ti
Driver Version: 384.69
CUDA Version

[2019-09-27 11:50] saicoco opened #16298 "[Gluon with estimator] loss is unchanged?"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-09-27 11:51] saicoco commented on #16298
Test, Gluon-estimator

[2019-09-27 13:16] Aaronreb commented on #14514
Hi,
Can you help me build from source, since iam having cuda 10.1

[2019-09-27 17:09] lanking520 commented on #16291
@blessalanou I am sorry to hear that. It might be some blocker in the Network in China. Everything is fine on the US side. @aaronmarkham is there anything we can help here?

[2019-09-27 17:11] aaronmarkham opened #16300 "intel-mkl package failing to install during ubuntu builds"
## Description
CI builds are failing due to an issue with an MKL package.
[code]
Failure here: http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-website-build-master/59/
[code]
and more info...
[code]

[2019-09-27 17:12] lanking520 commented on #16300
@PatricZhao @TaoLv Not sure if this is Intel related. Could you please take a look?

[2019-09-27 17:14] lanking520 commented on #16295
Here you go: https://mxnet.apache.org/api/python/docs/api/gluon-related/mxnet.metric.html

[2019-09-27 17:21] lanking520 commented on #16296
Usually if you are not sure about the shape of a certain dimension, you can set it to 0.
@haojin2 if you know anyone can answer this

[2019-09-27 17:26] lanking520 commented on #16297
Hi @shesung have you tried: setting scale=False running on cpu, does the output came correctly?

[2019-09-27 17:28] lanking520 commented on #16298
@saicoco Could you please share some piece of code you run?

Note: If you change the learning rate too small, it will make the training hard to converge

[2019-09-27 17:29] aaronmarkham commented on #16291
There's another issue with jquery being blocked by the great firewall. I was going to move the libs locally so we can avoid that, but if they're blocking the whole site, there's not much we can do. (AFAIK)

[2019-09-27 18:06] igolan opened #16301 "mxnet.initializer.Constant with NDArray as input does not work with hybridize"
## Description
Hi,
Using `mxnet.initializer.Constant` with NDArray as input does not work with hybridize, but according to the [mxnet.initializer.Constant documentation](https://beta.mxnet.io/api/gluon-related/_autogen/mxnet.initializer.Constant.html?highlight=initializer.constant#mxnet.initializer.Constant) it can get both float and NDArray.

## Environment info (Required)

[code]

Package used P

[2019-09-27 18:13] #13247 closed

[2019-09-27 18:14] sxjscience commented on #13247
@yifeim Currently, only supports None as the input.

[2019-09-27 18:45] chunhanl opened #16302 "Error while running unit test test_gluon_data.py:test_dataloader_context"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-09-27 18:46] chunhanl commented on #16302
@mxnet-label-bot add [Test, Gluon, DataLoader]

[2019-09-27 22:46] aaronmarkham opened #16306 "[Julia CI pipeline] reduce complexity and deps"
## Description

For the other language bindings, I was able to reduce the dependencies down quite a lot by using the "[lite](https://github.com/apache/incubator-mxnet/blob/master/ci/docker/Dockerfile.build.ubuntu_cpu_lite)" dockerfile as a starting point and layer on the minimum dependencies, but for some reason, every time I tried that with Julia I'd end up with a broken build when Julia tried to

[2019-09-27 23:06] ptrendx commented on #16291
Actually I have a similar issue and I'm in US - https://mxnet.incubator.apache.org does not work for me, while https://mxnet.apache.org does.

[2019-09-27 23:09] igolan commented on #16261
Still doesn't work (see [https://imgur.com/SAwvEwR](https://imgur.com/SAwvEwR) ).
Just to clarify, it's not about the search, it's about missing documentation (for example, where is Symbol.broadcast_add documentation? can you find it?).

[2019-09-27 23:34] aaronmarkham opened #16308 "[python docs] ndarray.InstanceNorm warning"
## Description

Sphinx builds of the Python API docs have the following warning:
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-27 23:35] aaronmarkham opened #16309 "[python docs] gluon.contrib - invalid option block"
## Description

Sphinx builds of the Python API docs have the following warning:
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-27 23:38] aaronmarkham opened #16310 "[python docs] gluon.nn.Block.summary - duplicate target name"
## Description

Sphinx builds of the Python API docs have the following warning:
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-27 23:48] aaronmarkham opened #16311 "[python docs] gluon.nn.HybridBlock - multiple duplicate object description issues"
## Description
Guidance is needed before solving these duplicate object Sphinx issues - what is expected in the documentation? Only show things like `register_child` in the `HybridBlock`? Just adding `:noindex:` as suggested by the warning output may have undesired results in the docs output.

Sphinx builds of the Python API docs have the following warning(s):
[code]

## How to reproduce
You can r

[2019-09-27 23:51] aaronmarkham opened #16312 "[python docs] gluon.nn.SymbolBlock - multiple issues"
## Description

Sphinx builds of the Python API docs have the following warning(s):
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-27 23:53] aaronmarkham opened #16313 "[python docs] mkldnn tutorial warnings"
## Description

Sphinx builds of the Python API docs have the following warning(s):
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-27 23:54] aaronmarkham opened #16314 "[python docs] profiler tutorial warnings"
## Description

Sphinx builds of the Python API docs have the following warning(s):
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-27 23:55] aaronmarkham opened #16315 "[python docs] TensorRT tutorial warnings"
## Description

Sphinx builds of the Python API docs have the following warning(s):
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-27 23:57] lanking520 commented on #16300
PR merged//

[2019-09-27 23:57] aaronmarkham opened #16316 "[python docs] monitor.py docstring warning"
## Description

Sphinx builds of the Python API docs have the following warning(s):
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-27 23:59] aaronmarkham opened #16317 "[python docs] NDArray title section too short"
## Description

Sphinx builds of the Python API docs have the following warning(s):
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-28 00:01] aaronmarkham opened #16318 "[python docs] symbol docs section title too short"
## Description

Sphinx builds of the Python API docs have the following warning(s):
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-28 00:08] aaronmarkham opened #16319 "[python docs] multiple broken cross links in tutorials"
## Description

Sphinx builds of the Python API docs have the following warning(s):
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-28 00:22] aaronmarkham opened #16320 "[python docs] image refs broken in multiple tutorials"
## Description

Sphinx builds of the Python API docs have the following warning(s):
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-28 00:22] aaronmarkham opened #16321 "[python docs] multiple blank line and unindent warnings"
## Description

Sphinx builds of the Python API docs have the following warning(s):
[code]

## How to reproduce
You can run into the problem following these steps.

1. Run a "lite" binary build.
[code]

2. Run the Python API docs build:
[code]

[2019-09-28 00:47] aaronmarkham opened #16322 "[website] rendering issue on implementing ops faq"
## Description
Scroll down till you hit the italicized section.
http://mxnet.incubator.apache.org/api/faq/add_op_in_backend

## How to reproduce & test
You can run into the problem following these steps.

1. Run the Jekyll docs build:
[code]

2. Find the output in `/docs/static_site/build/html` and deploy that to your dev web server.

[2019-09-28 00:51] aaronmarkham opened #16323 "[website] global search feature needed"
## Description

The website would benefit from a global search feature.

The current search feature provided by sphinx is only for the Python API, is nested deep in the site, and also happens to come with some legacy issues from its origins:
https://github.com/mli/new-docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+search

It might be better to just swap out with a more robust feature that is ba

[2019-09-28 05:57] saicoco commented on #16298
Here is my network:
[code]

I add relu for bolcks of resnet18_v2, however it doesn't work..

[2019-09-28 06:29] iblis17 commented on #16306
(cc me)

[2019-09-28 07:04] TaoLv commented on #16300
Thank you @lanking520 @aaronmarkham . I will take a look.

[2019-09-28 09:21] bricksdont commented on #16295
Thanks! In the meantime I learned that there are already several PRs to fix the website issues - closing for now.

[2019-09-28 09:21] #16295 closed

[2019-09-28 11:39] iblis17 commented on #16306
I tried to run a "lite" binary build
[code]

Any idea about this error on master? I think it's unrelated to both Julia and MKL.
The submodule is updated on my box already.

[2019-09-28 14:28] ibrahimsherdil commented on #15583
How did you solve this? Or bypass?

[2019-09-28 20:44] apeforest opened #16325 "2"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-09-28 20:45] #16325 closed

[2019-09-28 20:53] larroy opened #16326 "Mxnet 1.5.0: Crash while training mask-rcnn with horovod"
## Description

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please provide:
1. Java version: (`java -version`)
2. Maven version: (`mvn -version`)
3. Scala runtime if applicable: (`scala -version`)

For R user, please provide R `sessionInfo()`:

## Build info (Required if built from source)
Installed from PIP

## Error Message:

[cod

[2019-09-28 20:58] larroy commented on #16326
@mxnet-label-bot add [Bug]

[2019-09-28 23:20] larroy commented on #16326
Another one
[code]

[2019-09-28 23:51] larroy commented on #15690
Have you tried with platform OpenMP? I think it was working for me like that with multiproccess. Which OMP implementation are you using?

[2019-09-29 01:28] ZhennanQin commented on #16286
@matteosal As https://github.com/apache/incubator-mxnet/pull/16289 is merged, this issue should be fixed. Can you try again to see if your real case get fixed? Thanks.

[2019-09-29 01:57] shesung commented on #16297
@lanking520 Yes. It's correct on cpu.
I also found that, defining the layer with symbol api, the result is correct.

[2019-09-29 05:47] hkingtswcbyy commented on #15589
If I want to use mxnet.gluon.nn.Conv2D to get a depthwise conv layer, I need to explicit set the group argument. Can this be infered automatically?

[2019-09-29 06:21] reminisce commented on #15589
As for NumPy compatibility, we would like to add
1. A set of NumPy operators mostly with CPU/GPU forward/backward supports.
2. A new `ndarray` class that replicates NumPy's `ndarray` in most ways. (Differences will be documented).
3. NumPy op integration with Gluon components, including layers, model zoo, parameters, data loaders, etc.

[2019-09-29 15:08] sukhbeersingh commented on #16321
Hi @aaronmarkham , I would like to try working on this issue.

[2019-09-30 02:52] liupengkd opened #16331 "mx.symbol.crop problem"
I am going to use the previous mxnet model, using the mx.symbol.crop interface, but now the interface has been deprecated, I want to know some specific details used in this interface.

[2019-09-30 05:59] jiangwch commented on #15148
19   1488.9 MiB    252.7 MiB           sym, arg_params, aux_params = mx.model.load_checkpoint(prefix, epoch)
    20   1489.0 MiB      0.1 MiB           all_layers = sym.get_internals()
    21   1489.1 MiB      0.1 MiB           sym = all_layers['fc1_output']
    22   1489.2 MiB      0.1 MiB           self.model = mx.mod.Module(symbol=sym, context=ctx, label_names=None)
    23   3331.3 MiB   1842.2

[2019-09-30 06:09] eric-haibin-lin opened #16332 "Docker images are using CUDNN5 and CUDA8"
The cudnn and cuda version used in the official repo is too old
https://github.com/apache/incubator-mxnet/blob/master/docker/Dockerfiles/Dockerfile.in.lib.gpu

[2019-09-30 06:43] WIll-Xu35 opened #16333 "mxnet docker gives different inference output"
## Description
When using official mxnet docker image on cloud server and without docker on a local server, the inference result is different. The input is exactly the same.

## Environment info (Required)
docker on cloud server: cuda9.0, cuda drive 418 (host machine), mxnet 1.4.0
local server: cuda9.0, cuda drive 396, mxnet 1.3.0

[2019-09-30 06:56] WIll-Xu35 commented on #16333
After downgrading the mxnet version in the docker to 1.3.0, the inference result are exactly the same. But why?

[2019-09-30 07:53] perdasilva commented on #14652
This has since been fixed ^^ thx to @stu1130

[2019-09-30 07:53] #14652 closed

[2019-09-30 13:12] matteosal commented on #16286
Yes it's fixed, we don't see this problem in our test suite anymore

[2019-09-30 15:09] aaronmarkham commented on #16306
I just fetched upstream/master and ran that command and didn't get an error. I've found that when I've had a bunch of branches around and switch around a lot I have to run `make clean` and update the submodules to get in a buildable state. Something happened with the submodules recently and I had to delete all of them and check them out again. Starting fresh in a new directory works too, but that'

[2019-09-30 15:24] aaronmarkham commented on #16322
#16334 fixed a similar issue with just a line break...

[2019-09-30 15:25] eric-haibin-lin commented on #16326
@apeforest

[2019-09-30 15:27] Kh4L commented on #16322
@aaronmarkham I missed this issue... Shall I also add this page to the PR?

[2019-09-30 15:36] iblis17 commented on #16306
ah, git-worktree is the lifesaver in this case. :p

The example from its man page is exactly fit into this case.

On 9/30/19 11:09 PM, Aaron Markham wrote:

[2019-09-30 16:19] aaronmarkham commented on #15410
dmlc links have been removed... domain is gone...

[2019-09-30 16:19] #15410 closed

[2019-09-30 16:20] aaronmarkham commented on #15200
New site makes this a moot issue.

[2019-09-30 16:20] #15200 closed

[2019-09-30 16:57] aaronmarkham commented on #14583
@zachgk Is this still an issue on the new site?

[2019-09-30 16:58] aaronmarkham commented on #13430
New website launch makes this a moot issue.

[2019-09-30 16:58] #13430 closed

[2019-09-30 16:59] aaronmarkham commented on #12828
New website launch makes this a moot issue.

[2019-09-30 16:59] #12828 closed

[2019-09-30 17:00] aaronmarkham commented on #12524
New website launch makes this a moot issue.

[2019-09-30 17:00] #12524 closed

[2019-09-30 18:18] lanking520 commented on #16331
Could you please detailed information of the code you try to use and the action you would like to achieve?

[2019-09-30 18:45] zachgk commented on #14583
@aaronmarkham This issue is still there. To reproduce,

1. go to the installation docs on the get_started page.
2. Randomly click on any of the buttons. Note that it changes the url path to index.html which is also wrong.
3. If you press the browser back button, it doesn't do anything. If you press it repeatedly, it only takes effect if you press it more than the number of times you changed the in

[2019-09-30 19:27] sxjscience commented on #16196
Let me link it to https://github.com/apache/incubator-mxnet/issues/12932

[2019-09-30 19:36] sxjscience commented on #16196
@xidulu Also, you may refer to https://www.tensorflow.org/probability .

[2019-09-30 20:45] #14991 closed

[2019-09-30 21:14] reminisce opened #16338 "Reduce op throws "too many resources requested for launch""
When MXNet is compiled in `debug` mode, reduce ops on GPUs may throw the error "too many resources requested for launch" at kernel launch. See https://github.com/apache/incubator-mxnet/pull/16294#issuecomment-536727538 for root cause.

This issue is filed to track the progress of fixing the problem.

Error message [example](https://github.com/apache/incubator-mxnet/pull/16294#issuecomment-53626661

[2019-09-30 21:28] ppolmoadip opened #16339 "I have a question about a repository on GitHub"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-09-30 22:16] ChaiBapchya opened #16340 "Installs python-dateutil 1.5 fails sanity pipeline"
[code]

[2019-09-30 22:16] ChaiBapchya commented on #16340
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fsanity/detail/PR-16336/1/pipeline

[2019-09-30 22:47] ChaiBapchya commented on #16340
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fsanity/detail/master/1091/pipeline

[2019-10-01 05:20] #10051 closed

[2019-10-01 05:23] szha opened #16345 "Flaky test: test_preloaded_multi_sgd"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16343/1/pipeline#step-476-log-1053

Likely caused by #16122 in which the test was added.

cc @Caenorst @apeforest

[2019-10-01 08:06] regularfry opened #16347 "`lein deps` on `contrib/clojure-package/examples/gan` fails"
## Description

Trying to run the `gan` clojure example fails because `project.clj` seems to refer to a nonexistent version of the `clojure-mxnet` library.

## Environment info (Required)

[code]

## Error Message:

[code]

## Minimum reproducible example

N/A

## Steps to reproduce

1. `git clone https://github.com/apache/incubator-mxnet.git`
2. `cd incubator-mxnet/contrib/clojure-package/example

[2019-10-01 10:52] pengzhao-intel commented on #16339
what's the question?

[2019-10-01 11:41] #16273 closed

[2019-10-01 11:41] ThomasDelteil commented on #16273
This is fixed in https://github.com/apache/incubator-mxnet/pull/16342

[2019-10-01 15:27] vpirogov commented on #16300
This is an issue with Intel MKL's apt repository. Intel is aware of the problem and working on the fix. See [relevant topic at Intel MKL forum](https://software.intel.com/en-us/forums/intel-math-kernel-library/topic/821365).

[2019-10-01 17:22] apeforest commented on #16193
@szha @TaoLv mxnet 1.5.1 pip package has the same issue. Horovod cannot be installed with MXNet 1.5.1.

Also when I do `nm -D lib/python3.6/site-packages/mxnet/libmxnet.so` I got nm: File format not recognized. Same command works with 1.5.0 so file. Is there anything changed in the release pipeline? Thanks!

[2019-10-01 18:12] ZhiminPeng commented on #16256
The fix works

[2019-10-01 18:16] leezu commented on #16193
`_ZN5mxnet10CopyFromToERKNS_7NDArrayEPS1_i` is missing as well. (Adding here for SEO)

[2019-10-01 18:29] Caenorst commented on #16345
I don't see any absurd difference:
[code]
so I'm suggesting to bump rtol to 5e-3 or 1e-2.

[2019-10-01 19:07] aaronmarkham commented on #16345
Failed here too: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16344/1/pipeline

[2019-10-01 19:24] szha commented on #16193
@apeforest @leezu I think the problem is that starting recently we used upx for compressing the binary.

[2019-10-01 20:26] szha commented on #16193
I'm releasing a post0 version of 1.5.1 to remove the upx compression to mitigate the impact. We still need to figure out a way to link horovod to the compressed libmxnet

[2019-10-01 20:39] aaronmarkham commented on #15880
4 hr timeout on the python3 mkldnn-mkl-cpu test. Why is this test still active? It causes a lot of issues with getting PRs through the pipeline.

[2019-10-01 21:20] szha commented on #16256
@zixuanweeei the `train_mode` concept is different from whether it's "an inference only route". It is for controlling the different behaviors between training mode and inference mode (e.g. dropout behaves as identity during inference). The code should rely on whether the gradient is being recorded instead.

[2019-10-01 21:51] ChaiBapchya commented on #16345
Failed here too: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16336/5/pipeline PR #16336

[2019-10-01 21:55] ChaiBapchya commented on #16345
@Caenorst can you try bumping it up and then running that particular test say 10k times for unix-gpu using this command:
[code]

[2019-10-01 22:48] ChaiBapchya opened #16349 "[Website] Table of contents bug"
For this page - https://mxnet.incubator.apache.org/api/python/docs/api/ndarray/routines.html
From top of the page to Neural network section, the right table of contents works as expected
[responsive]

After scrolling down below Neural network section, starting from Contributed routines
https://mxnet.incubator.apache.org/api/python/docs/api/ndarray/routines.html#module-mxnet.ndarray.contrib
Table o

[2019-10-01 22:49] ChaiBapchya commented on #16349
@mxnet-label-bot add [website]

[2019-10-01 23:04] ChaiBapchya opened #16350 "[Website] Function parameters display inconsistent"
On the page Routines
For certain group of functions, function along with its parameters are displayed
1. Sort and search - https://mxnet.incubator.apache.org/api/python/docs/api/ndarray/routines.html#sort-and-search
2. Neural Network - https://mxnet.incubator.apache.org/api/python/docs/api/ndarray/routines.html#neural-network
3. Miscellaneous - https://mxnet.incubator.apache.org/api/python/docs/ap

[2019-10-01 23:04] ChaiBapchya commented on #16350
@mxnet-label-bot add [Website]

[2019-10-01 23:04] ChaiBapchya commented on #16350
@aaronmarkham
Use-case: In previous website, on 1 single page, I could search for all operators that have specific parameter "index".
But now I can't.

[2019-10-01 23:05] ChaiBapchya commented on #16340
Got fixed by retriggering the pipeline.

[2019-10-01 23:05] #16340 closed

[2019-10-01 23:09] ChaiBapchya commented on #16231
@mxnet-label-bot update [website-beta, website]

[2019-10-01 23:10] ChaiBapchya commented on #16059
@mxnet-label-bot update [website]

[2019-10-01 23:17] aaronmarkham commented on #16231
Sounds like we need a jquery label for people that want to hack on the front-end of the site.

[2019-10-02 00:49] ChaiBapchya commented on #13484
Please reopen
PR #16253
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-16253/3/pipeline
timeout error
[code]

[2019-10-02 00:57] aaronmarkham commented on #16350
It would seem that the signatures have been explicitly turned off with `:nosignatures:`.
https://github.com/apache/incubator-mxnet/blob/master/docs/python_docs/python/api/ndarray/routines.rst
I can't tell you why some were left with signatures and some were not other than I recall seeing problems with sphinx throwing duplicate ID warnings. Maybe that's why? You can try it out and remove the nosig

[2019-10-02 05:03] kunal732 commented on #15181
have the same exact issue as @ban1080 :/

[2019-10-02 06:47] ChaiBapchya commented on #15880
4 hr timeout again! MKL CPU
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16336/6/pipeline/263

#16336 is a step towards getting conclusive evidence towards perennially slow unittests. Hopefully we get clarity onto it once that PR is merged.

I am leaning towards disabling this test until timeout issue for mkldnn is fixed! @aaronmarkham

[2019-10-02 06:50] ChaiBapchya opened #16352 "[CI] Julia Windows CPU timeout"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-16336/6/pipeline/176

#16336

Violates the 3-hour timeout.

[2019-10-02 06:52] ChaiBapchya commented on #16352
@mxnet-label-bot add [CI, Test, Julia]

[2019-10-02 07:03] ChaiBapchya opened #16353 "test_operator_gpu.test_kernel_error_checking"
UNIX-GPU
Unrelated PR #16328
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16328/2/pipeline

[code]

[2019-10-02 07:03] ChaiBapchya commented on #16353
@mxnet-label-bot add [Test]

[2019-10-02 07:07] ChaiBapchya commented on #14378
Is this related to issue found in pipeline for  #16328

[code]

[2019-10-02 09:07] Pagey commented on #16261
there's also a serious issue with chrome find in the new document pages- it seems that because the docs are not in the main page frame, trying to find (ctrl-F) on the page in chrome doesn't return any hits

[2019-10-02 14:36] vpirogov commented on #16300
It turns out that GPG key used to sign packages in apt channel has expired. The issue can be resolved by [updating the key](https://software.intel.com/en-us/articles/installing-intel-free-libs-and-python-apt-repo).

[2019-10-02 17:13] apeforest commented on #15575
Thanks for the quick fix.

[2019-10-02 17:13] #15575 closed

[2019-10-02 17:20] #15725 closed

[2019-10-02 17:23] ChaiBapchya commented on #15880
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16336/7/pipeline

[2019-10-02 17:25] ChaiBapchya commented on #10227
Happened again: #16336 (unrelated PR)
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16336/7/pipeline/
[code]

[2019-10-02 17:28] sxjscience commented on #10227
I guess we need to use 1E-3

[2019-10-02 17:30] lanking520 commented on #16300
@TaoLv I saw someone is trying to solve this problem, but still seemed not working. Is there an ETA for this? https://software.intel.com/en-us/forums/intel-math-kernel-library/topic/821365

[2019-10-02 17:34] ChaiBapchya commented on #10227
Um.. 1E-1, 1E-2, now 1E-3.. it has to stop somewhere.. but anyway.. for temporary fix I will push that as PR then

[2019-10-02 17:37] sxjscience commented on #10227
@ChaiBapchya Yep, would it be possible to just test a few seeds? Also, we could somehow remove the finite-difference test.

[2019-10-02 17:47] Caenorst commented on #16345
It turned out that values very close to 0. are the most inaccurate so bumping atol instead of rtol.

[2019-10-02 18:03] sxjscience commented on #10227
@ChaiBapchya In theory it will not if our manual backward logic is correct.

[2019-10-02 18:08] stu1130 opened #16357 "Numpy Operator Inconsistency"
## argmax
The dtype return be argmax is float32 instead of int
[code]

## repeat

[code]
[code]

## softmax
[code]
[code]

## mean
[code]
[code]

## prod
[code]
[code]

[2019-10-02 18:09] stu1130 commented on #16357
@mxnet-label-bot add [Numpy]

[2019-10-02 18:10] sxjscience commented on #10227
@ChaiBapchya I mean the test would be as strict as the original. Also, fixing the seed works in some randomness tests.

[2019-10-02 20:23] rondogency opened #16358 "CI Flaky Test: test_operator_gpu.test_np_around"
Centos GPU test_operator_gpu.test_np_around fails on tolerance
should be a flaky test since it is the only occurrence I know

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-15921/52/pipeline
[code]

[2019-10-02 20:25] rondogency commented on #16358
@mxnet-label-bot add [Test, Flaky]

[2019-10-02 21:10] zachgk opened #16359 "Flaky Scala Nightly Release Profiler"
There is a flaky test on the Scala nightly Jenkins pipeline that occasionally causes it to fail. Sample failure:
[code]

See pipeline at http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-publish-artifacts/job/master and a sample failure at http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-publish-artifacts/detail/master/121/pipeline/. The failing test suite was run oth

[2019-10-02 21:27] roywei commented on #11774
I'm re-opening this issue as the fix PR got reverted, and there is a user reported this does not work in keras-mxnet.  https://github.com/apache/incubator-mxnet/pull/12789

I've verified the above reproducible code is still not working for both keras-mxnet and gluon

[2019-10-02 21:34] samskalicky opened #16360 "[Feature Request] Add ability to treat warnings as errors"
For model development in federated environments, logs may not be shown to the end users. As a result, some mxnet warning messages are never displayed. People without enough familiarity with mxnet may never identify the actual root cause of issues. This potentially affects many people's productivity.

An example is `Storage type fallback detected`. In the following example, a sparse operator failur

[2019-10-02 21:58] sxjscience commented on #16357
duplicate: https://github.com/apache/incubator-mxnet/issues/16048

[2019-10-03 01:02] blessalanou commented on #16291
Thank you guys. https://mxnet.incubator.apache.org works OK.

[2019-10-03 01:02] #16291 closed

[2019-10-03 01:19] zixuanweeei commented on #16256
@ZhiminPeng Thank you for your trying. It should be noticed that the fix is just temporal, and it may lose some performance.

[2019-10-03 01:33] zixuanweeei commented on #16256
@szha Thanks for your reply. I will delve into the concept of `train_mode`. And thanks for the hint about recording gradient. It may become a breakthrough solving the problem.

[2019-10-03 02:57] KellenSunderland commented on #14341
The CPP package has been updated to include TensorRT binding ability in https://github.com/apache/incubator-mxnet/pull/15335  Thanks for the feedback, and let us know if you have any issues with the new feature.

[2019-10-03 02:57] #14341 closed

[2019-10-03 03:45] jiashu-zhu opened #16364 "ption"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-10-03 03:46] #16364 closed

[2019-10-03 04:18] jiashu-zhu opened #16365 "Exception: unknown storage type: -1"
## Description
I encounter a the exception "Exception: unknown storage type: -1" when I use my focal loss

## my focal loss
the shape of out_data[0] is (batch_size, 2, anchor_num)
the shape of in_data[1] is (batch_size, anchor_num)
[code]

## Error Message:
Error in CustomOp.backward: Traceback (most recent call last):
  File "/home/anaconda2/lib/python2.7/site-packages/mxnet/operator.py", line 10

[2019-10-03 05:43] KellenSunderland commented on #16173
I agree this is an issue and really like the approach here @QueensGambit.  TensorRT and Autotuning are the operations I see that impact our current cold start time.  cuDNN is relatively straightforward to cache, TRT we might want to think about how to save and load the engine properly.  I think the keys for caching are well though through.  We would have to make sure the expectation is this will o

[2019-10-03 05:46] KellenSunderland commented on #15589
TRT is now working from the CPP package.  I think to consider it a released feature we'd want to update documentation and possible target the new TRT version (6).

[2019-10-03 12:55] QueensGambit commented on #16173
Thank you for the feedback @KellenSunderland.
I think the mini-batchsize should be included as a caching specification as well because optimization techniques like TensorRT depend on it.

A different approach would be to define a save and load function for the [Executor class](https://github.com/apache/incubator-mxnet/blob/992c3c0dd90c0723de6934e826a49bad6569eeac/include/mxnet/executor.h#L53).
The

[2019-10-03 13:00] QueensGambit commented on #16173
Regarding the export of a TensorRT executor handle (@Caenorst),
the [ONNX-TensorRT repository](https://github.com/onnx/onnx-tensorrt) provides an executable to generate an TensorRT engine file from an ONNX-model:

[code]
Alternatively, one can use the the C++-API instead:

[code]

Later the engine file can be reloaded from memory:
Here is an example python code for this using code fragements from

[2019-10-03 14:22] chinakook commented on #16173
Maybe we can save the optimization states in params directly.

[2019-10-03 14:34] QueensGambit commented on #16173
@chinakook This is an option, but could violate the ability to deploy the same model across different platforms (e.g. CPU, CPU-MKLDNN, GPU-CUDA, GPU-TensorRT).

[2019-10-03 15:11] TaoLv commented on #16300
Sorry I’m on holiday and cannot verify it with mobile phone. But I was told that it was already resolved. Could you please reinstall the key and try the steps in https://software.intel.com/en-us/articles/installing-intel-free-libs-and-python-apt-repo again?

发自我的iPhone

在 2019年10月3日，上午1:31，Lanking <notifications@github.com> 写道：

﻿

@TaoLv<https://github.com/TaoLv> I saw someone is trying to solve

[2019-10-03 16:19] anirudh2290 commented on #15589
I am working on an interface for multi threaded inference in MXNet and it would be great if it could go in 1.6.

[2019-10-03 16:49] larroy commented on #13484
This looks more like a IO stall than a bug.

[2019-10-03 16:52] larroy opened #16367 "Flaky test test_operator_gpu.test_preloaded_multi_sgd"
See recent builds, this test is failing on windows gpu

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-16253/3/pipeline/

[2019-10-03 16:53] larroy commented on #16367
@mxnet-label-bot add [Test, Flaky]

[2019-10-03 18:03] rondogency commented on #16367
Did you merge the latest master? A fix for it has been merged yesterday https://github.com/apache/incubator-mxnet/pull/16356

[2019-10-03 22:42] marcoabreu commented on #13484
120 seconds is quite some time. Considering everything is happening on local volume, it's quite unlikely that the disk is so occupied. Could something be stuck? I think it's worth investigating.

[2019-10-04 00:06] larroy commented on #13484
Any suggestions?

[2019-10-04 00:35] sxjscience commented on #12048
To revise it, we need to change the FInferType https://github.com/apache/incubator-mxnet/blob/09ae7dfe9cb559dd6fa4996d491ee125e3e0b9e7/src/operator/tensor/elemwise_unary_op_basic.cc#L532-L536

[2019-10-04 07:09] RuRo commented on #9582
Why was this issue closed?

The behavior of `Accuracy.update` is still wrong for one-hot labels. It still doesn't raise any error/warning and just silently gives the wrong values. The current documentation for the `Accuracy` class doesn't mention, whether preds/labels can be one-hots or indices.

The doc string for the `update` method does mention, that labels should contain "class indices as valu

[2019-10-04 10:11] Sumanth-393 commented on #16224
Thank You zachgk its working fine

[2019-10-04 10:11] #16224 closed

[2019-10-04 16:57] leezu commented on #9582
@szha

[2019-10-04 17:28] ZhiminPeng commented on #16256
Do we have a timeline to get the correct fix merged? Our team is currently blocked by this.

[2019-10-04 19:10] vrakesh commented on #16360
@mxnet-label-bot add [Feature]

[2019-10-04 20:04] sxjscience commented on #16301
@leezu Should be related to the Gluon refactor.

[2019-10-04 21:05] anirudhacharya commented on #15102
@starimpact please try this optimizer https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer/optimizer.py#L788 and close this issue if your concern is addressed. lbsgd is likely to be deprecated.

[2019-10-04 21:24] leezu commented on #16301
@sxjscience  What's the intended behavior? Shouldn't it simply call `value.asscalar()` if it's an ndarray?

[2019-10-04 22:16] sxjscience commented on #16301
@leezu I mean, would we support ndarray (or nparray) as the input of constant in the future? Also, we should have a better error message to the user.

[2019-10-04 22:58] leezu opened #16375 "[RFC] Deferred compute in imperative interface to unify imperative and symbolic interface"
A new **deferred computation** (DC) argument to the imperative MXNet APIs is
proposed. If enabled, memory allocation and computation is deferred as long as
possible. Users can export the computational graph recorded during deferred
computation, which enables hybridization support.

Arrays for which DC is enabled are called **lazy**. Other arrays are called
**normal**. Inplace operations on lazy ar

[2019-10-05 00:02] leezu opened #16376 "[RFC] Deferred compute in imperative interface to unify imperative and symbolic interface"
A new **deferred computation** (DC) argument to the imperative MXNet APIs is
proposed. If enabled, memory allocation and computation is deferred as long as
possible. Users can export the computational graph recorded during deferred
computation, which enables hybridization support.

Arrays for which DC is enabled are called **lazy**. Other arrays are called
**normal**. Inplace operations on lazy ar

[2019-10-05 00:03] leezu commented on #16375
Closing as issue was not picked up by the mailing list bridge.

[2019-10-05 00:03] #16375 closed

[2019-10-05 20:10] szha commented on #15589
@anirudh2290 this sounds like a larger change. Would you link to the RFC for it?

[2019-10-05 23:13] diegobernardes opened #16379 "Fail to run example code with Raspberry Pi"
## Description
With a fresh Raspbian install on a Raspberry Pi 4 I'm not able to run [this](https://gluon-cv.mxnet.io/build/examples_detection/demo_yolo.html) example. Would be nice to have a pre compiled wheel for Raspberry that includes the OpenCV. I tried to build the MXNet from the source, but I'm having an error as well.

## Environment info
[code]

## Error Message:
[code]

## Minimum reprod

[2019-10-06 00:25] diegobernardes opened #16380 "Fail to build from source on Raspberry Pi"
## Description
I'm trying to use MXNet with the Raspberry and so far with no success. First I tried to use the pre built wheels file for Python, but got error, more details on this [issue](https://github.com/apache/incubator-mxnet/issues/16379). Then I tried to build from source, and I can't finish the build because of an error.

## Environment info
[code]

## Build info
MXNet commit hash:
I'm usi

[2019-10-06 02:27] szha commented on #16380
Looks like you need to link the libmxnet to the libatomic (which our cmake failed to do automatically).

I'm still learning cmake so the following represents my best guess. Does it fix the problem if you add the following to the [CMakeLists.txt](https://github.com/apache/incubator-mxnet/blob/master/CMakeLists.txt)?
[code]

[2019-10-06 02:29] szha commented on #16379
Which pip package did you use?

[2019-10-06 02:40] szha commented on #16376
Thanks for the proposal, @leezu. Since this is a major change, I have some questions regarding the plan.

First, should we restrict this mode to only apply to the new numpy arrays? Since the deferred compute mode won't support reverse shape inference, new blocks that implement the forward interface will not work without implementing the parameter shape inference logic in `infer_shape`. This also a

[2019-10-06 05:01] szha commented on #16193
A summary of the actions being taken:
- A post-release version has been released for all variants for 1.5.1.
- We requesting an increase to the package size limit so that we could remove the compression for nightly. https://github.com/pypa/warehouse/issues/6763
- @reminisce is investigating how we can compile the operators into a separate binary on which compression can again be applied.

[2019-10-06 07:41] chinakook commented on #16365
I have this problem too, It may be a compatible problem.

[2019-10-06 08:59] chinakook commented on #16365
I think it's **serious bug** as most python custom operators encounter this error.

[2019-10-06 09:23] jiashu-zhu commented on #16365
so how can I use this custom operator? I really need to use focal loss in my experiment
I can use other custom operators, they didn't have this problem @chinakook

[2019-10-06 12:32] chinakook commented on #16365
You can define storage type as the parent class CustomOp. May be like `['default']`.

[2019-10-06 13:31] wkcn commented on #16365
I could not reproduce this exception
[code]

[2019-10-06 13:56] chinakook commented on #16365
@jiashu-zhu paste your model here.

[2019-10-06 14:50] jiashu-zhu commented on #16365
I just use this focalloss to replace softmaxoutput in RetinaFace @chinakook

[2019-10-06 14:52] jiashu-zhu commented on #16365
[https://github.com/deepinsight/insightface/tree/master/RetinaFace](url) @chinakook

[2019-10-06 14:54] jiashu-zhu commented on #16365
this focalloss works in your code? @wkcn

[2019-10-06 21:48] wkcn commented on #16365
@jiashu-zhu Yes, it works in my code.

[2019-10-06 22:48] grapeot commented on #16042
@Caenorst I can see a misunderstanding here that you meant to build MXNet with TensorRT support but @Zheweiqiu thought it meant to build the model. I hit this problem with exactly the same error message, and am willing to dig deeper by rebuilding MXNet with TensorRT support. However, I don't see instructions in the [doc](https://github.com/apache/incubator-mxnet/blob/1.5.1/docs/install/build_from_

[2019-10-06 23:32] diegobernardes commented on #16379
[This one](https://mxnet-public.s3.amazonaws.com/install/raspbian/mxnet-1.5.0-py2.py3-none-any.whl). It's on the installation guide on [this page](https://mxnet.apache.org/index.html).

[2019-10-06 23:40] diegobernardes commented on #16380
I'll do this change and leave it compiling. It will take some hours to finish, I'll send the results later.

[2019-10-07 02:54] chinakook commented on #16365
All FPN op in [this repo](https://github.com/dingjiansw101/RoITransformer_DOTA) get this error.

[2019-10-07 05:08] jiashu-zhu commented on #16365
Really thanks, so do you have any idea to make it works?I think I can try them @chinakook

[2019-10-07 06:21] anirudh2290 commented on #15589
@szha yes I am planning to add a RFC this week.

[2019-10-07 07:59] iblis17 commented on #16352
(cc me)

[2019-10-07 08:45] asmushetzel commented on #16376
Sounds really interesting. Can you elaborate a bit more about specific use cases that this enables or simplifies? Is there something that can't be done today that this would enable? Are there major pain points that this would address compared to hybrid-blocks? Etc..

[2019-10-07 09:34] chinakook commented on #16365
Use a older mxnet version.

[2019-10-07 11:09] jiashu-zhu commented on #16365
Many thanks, I will try it @chinakook

[2019-10-07 13:24] wkcn commented on #16365
Could you  please tell me which SoftmaxOutput is replaced with FocalLoss?
A minimal reproduce example is good.

[2019-10-07 13:52] ChrisQiqiang opened #16387 "How to manage the parameters units when using Mxnet for distributed deep learning?"
I am a beginner in Mxnet. Parameters are transferred in the form of <key, value> pairs when using MXNET for distributed deep learning, according to the paper Parameter Server in 2014. (It implies parameters will be transferred in the unit of each layer.)
If I want to define the form by myself, for instance, I want the parameters in layer 1 and layer 2 or more layers packed and transferred together

[2019-10-07 14:15] pedro-abundio-wang opened #16388 "ImportError: cannot import name 'np'"
I refer this issue, https://github.com/apache/incubator-mxnet/issues/15681.

running the following command:
pip install https://apache-mxnet.s3-accelerate.amazonaws.com/dist/python/numpy/latest/mxnet_cu100-1.5.0-py2.py3-none-manylinux1_x86_64.whl

But my computer install cuda 9.0.
Does mxnet+numpy+cuda9.0 support? Which url can i get this package?

[2019-10-07 15:26] jiashu-zhu commented on #16365
I replace the SoftmaxOutput in line 403 of rcnn/symbol/symbol_common, and I use resnet-152 as my backbone, which you can download in retinaface homepage, and other setting remain default @wkcn

[2019-10-07 18:58] samskalicky commented on #16357
@zachgk assign [@reminisce ]

[2019-10-07 18:59] samskalicky commented on #16326
@zachgk assign [@apeforest ]

[2019-10-07 19:00] samskalicky commented on #16301
@zachgk assign [@leezu  ]

[2019-10-07 19:00] samskalicky commented on #16297
@zachgk assign [@szha  ]

[2019-10-07 19:01] samskalicky commented on #16279
@zachgk assign [@sxjscience  ]

[2019-10-07 19:01] sxjscience commented on #16048
Close this and move the discussion to https://github.com/apache/incubator-mxnet/issues/16357

[2019-10-07 19:01] #16048 closed

[2019-10-07 19:01] samskalicky commented on #16256
@zachgk assign [@szha  ]

[2019-10-07 19:02] samskalicky commented on #16239
@zachgk assign [@szha  ]

[2019-10-07 19:04] samskalicky commented on #16210
@zachgk assign [@oorqueda ]

[2019-10-07 19:05] samskalicky commented on #16208
@zachgk close this issue as the problem is resolved

[2019-10-07 19:07] reminisce opened #16389 "[Flaky] test_np_max_min on windows"
[code]
[windows.log](https://github.com/apache/incubator-mxnet/files/3699033/windows.log)
@stu1130

[2019-10-07 20:51] zachgk commented on #16210
@oorqueda Please comment if you want me to assign this issue to you (I can only assign it to users who have commented on an issue)

[2019-10-07 20:59] zachgk commented on #16208
This issue also reoccurred on http://jenkins.mxnet-ci-dev.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/detail/mxnet-cd-release-job/227/pipeline/. I am not sure that it is resolved

[2019-10-07 22:17] leezu commented on #16376
Thank you @szha and @asmushetzel for looking through the RFC.

The RFC is not so much about extending what is possible, but improving the user experience. A major issue of the existing API is that `mx.nd` and `mx.sym` are distinct and partially incompatible. The issue of both being distinct is partially addressed by existing `HybridBlock` at the cost of making the issue of their incompatibility ev

[2019-10-07 22:22] diegobernardes commented on #16380
No success:

[code]

I don't know much about `cmake` as well. Tried to put at the end of the file and then tried near the `mxnet_LINKER_LIBS` declaration:

<img width="317" alt="image" src="https://user-images.githubusercontent.com/14483/66353146-4164d880-e959-11e9-94e4-8a93fd4920e9.png">

[2019-10-07 22:23] leezu commented on #16301
Hi @igolan
could you update to MXNet 1.5. This actually works in MXNet 1.5

[2019-10-07 23:16] eric-haibin-lin commented on #16388
@reminisce

[2019-10-08 00:13] szha commented on #16380
hmm, the linker line didn't have the atomic library in it. @yajiedesign do you know how to properly add it?

[2019-10-08 00:41] szha commented on #16388
While cuda 9.0 support is not available, cuda 9.2 support is available at https://apache-mxnet.s3-accelerate.amazonaws.com/dist/python/numpy/latest/mxnet_cu90-1.5.0-py2.py3-none-manylinux1_x86_64.whl

[2019-10-08 00:49] pedro-abundio-wang commented on #16388
Thank you! And one more question.
Can you also provided cuda8.0+mxnet+numpy package url?
Maybe i need it on some laptop.

[2019-10-08 01:00] szha commented on #16388
cuda 8.0 will no longer be supported. mxnet supports only the last two major and minor versions of cuda, which also reflects nvidia's support.

[2019-10-08 03:38] #16388 closed

[2019-10-08 05:39] TaoLv opened #16394 "CI flaky test: onnx cpu: TypeError: attrib() got an unexpected keyword argument 'convert'"
The failing case is observed on both master branch and mkldnn-v1.0 feature branch.

Master branch: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16369/5/pipeline
mkldnn-v1.0 branch: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16263/5/pipeline
[code]

[2019-10-08 07:14] ChaiBapchya commented on #16174
@mxnet-label-bot add [Pending Requester Info]

@zachgk Is this good to close since I think we've answered this question and the author hasn't responded for a while.

[2019-10-08 17:44] cccorn commented on #16365
I got the same problem. I tried mxnet version 1.5.0, 1.4.1, 1.3.1, 1.2.1, 1.1.0, and only version 1.1.0 works for me.

[2019-10-08 17:46] stu1130 commented on #16389
observe the same error in np_mean windows_gpu
[code]

[2019-10-08 18:15] igolan commented on #16301
Great.
Closing.

[2019-10-08 18:15] #16301 closed

[2019-10-08 21:48] leezu opened #16399 "ndarray.load crashes MXNet GPU builds on CPU machines"
## Description
For some parameter files below crash happens. It does not happen for all parameter files.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

## Error Message:

[code]

## Minimum reproducible example
[code]

## Steps to reproduce
- `pip install mxnet-cu100` on a CPU machine with cuda installed
- Run above example

[2019-10-08 23:16] larroy commented on #16394
Checking with a dummy PR: https://github.com/apache/incubator-mxnet/pull/16400

[2019-10-09 00:02] wkcn commented on #16365
I need a minimal reproduce example to check the bug, since I am busy and have a little time on it.

[2019-10-09 00:32] DickJC123 opened #16401 "CI showing random pylint failures"
## Description
The 'sanity' CI runner is randomly failing with the following pylint error:
[code]

Some recent examples from different PR's:
[code]

While there may be a direct fix to numpy_op_signature.py, the bigger question is why are some pipelines showing this error and others not?  Is there an inconsistency in the pylint run by `python3 -m pylint ...`?

@larroy
## Environment info (Required)

[2019-10-09 01:19] ZhennanQin commented on #14727
I believe this issue is fixed in master, below is my result:
[code]
Result is the same with quoting out `os.environ['MXNET_SUBGRAPH_BACKEND'] = 'default'`

[2019-10-09 03:10] TaoLv opened #16402 "Inconsistent behavior of calling dtype of NDArray"
`mx.nd.dtype()` should either give the correct result or throw an error like in numpy.
mxnet:
[code]

numpy:
[code]

[2019-10-09 05:29] larroy commented on #16401
Thanks for reporting this, we will have a look.

[2019-10-09 06:02] reminisce commented on #16401
It's a pylint bug. I have deleted that line in the master branch. The flakiness should not show up again.

[2019-10-09 06:39] ChaiBapchya commented on #16389
Same error
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16104/23/pipeline
#16104

[2019-10-09 06:52] ChaiBapchya commented on #16389
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16403/1/pipeline
Unrelated PR #16403

[2019-10-09 07:08] light1003 commented on #15492
I got the same error

[2019-10-09 07:20] luan1412167 opened #16405 "model onnx with spatial=0 not support in ONNX runtime"
## Description
Hi, I'm converting arcface model from mxnet to onnx. However, mx2onnx convert model with spatial=0 when onnx runtime not support to run with model spatial=0.
I have change spatial parameter in code (mxnet/contrib/onnx/mx2onnx/_op_translations.py)
and reshape prelu input and add flatten layer.
Then it can run but the result is wrong. For more detail informations I have opened issue o

[2019-10-09 14:29] rshyamsundar opened #16407 "Output of sampling method always has float32 type irrespective of the type of the parameters"
## Description
Output of sampling method for various distributions (normal, gamma, etc.) always has `np.float32` type irrespective of the type of the parameters passed. Ideally the returned samples should have the same `dtype` as the parameters passed.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
I'm using Python 3.6.5

## Build info (Required if built from source)

[2019-10-09 18:23] DickJC123 commented on #16401
One of the failures I posted (the one from my PR) is built off of a fairly recent master.  It's only missing your 'add boolean ndarray' PR from 10/8/2019, which does not touch the numpy_op_signature.py file.  @reminisce, what commit introduced the fix your mention?

I assume that the pylint 'bug' was specific to certain pylint versions (as opposed to being truly non-deterministic).  My point to @l

[2019-10-09 18:33] DickJC123 commented on #16401
After merging the most recent master into my PR, I still get a failure:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fsanity/detail/PR-16391/6/pipeline

@reminisce Could you tell us more about the pylint bug as you understand it?

[2019-10-09 18:51] reminisce commented on #16401
@DickJC123 I am not an expert in root causing pylint errors, but I guess CI still reports this maybe due to some cached code in the system before you merged the master tip into your branch for two reasons:
1. It's the same message as you posted before I deleted `from __future__ import absolute_import`.
2. The line where the error is reported does not match what pylint describes. It matches the cod

[2019-10-09 19:49] larroy opened #16413 "Numpy log is flodding CI output"
Please reduce logging since this is going to fill up the logs.

[code]

[2019-10-09 19:49] larroy commented on #16413
@mxnet-label-bot add [Numpy]

[2019-10-09 22:02] ChaiBapchya commented on #16389
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-16328/16/pipeline/175
Unrelated PR #16328

[2019-10-09 23:18] DickJC123 commented on #16401
To answer my own question from above, https://github.com/apache/incubator-mxnet/pull/16305 introduced the file ./python/mxnet/numpy_op_signature.py with initial lines:
[code]
https://github.com/apache/incubator-mxnet/pull/16370 attempted to correct the pylint issues, changing the lines to:
[code]
And finally the most recent change to numpy_op_signature.py came from commit:
[code]
... which simplif

[2019-10-09 23:31] reminisce commented on #16401
@DickJC123 The following is just my guess.

I looked at your branch for PR 16391. Your commits are interleaved with the master branch commits, which suggests it's a **merge**, instead of **rebase**. It may require a rebase, which means putting your commits on top of the master branch tip, to refresh the CI cache (if there is any). But again, this is just my speculation. I have submitted three PRs

[2019-10-09 23:44] mseth10 opened #16417 "Nightly Tests failure"
## Description
PR #15885 removed file [docs/install/index.md](https://github.com/apache/incubator-mxnet/blob/3dacabeaa4dea080f91363701a4a928cc807ed54/docs/install/index.md) which is used by nightly_test_installation [here](https://github.com/apache/incubator-mxnet/blob/master/ci/docker/runtime_functions.sh#L1391), causing nightly tests to fail since 09/19.

Here's the jenkins link for the failed j

[2019-10-09 23:46] mseth10 commented on #16417
marco-label-bot add['Doc', 'Test']

[2019-10-09 23:49] mseth10 commented on #16417
@aaronmarkham since this is caused by your PR, can you please take a look? Thanks!

[2019-10-10 00:31] aaronmarkham commented on #16417
Here's an example of where the install instructions reside:
https://github.com/apache/incubator-mxnet/blob/master/docs/static_site/src/_includes/get_started/macos/python/cpu/pip.md

There are many .md files now that are specific to the platform or kind of installation you want. That nightly test needs to be updated for the new pages.

I think it would make more sense to have the commands as shell/

[2019-10-10 00:52] aaronmarkham opened #16419 "Test failure with test_numpy_op.test_np_linalg_slogdet on Windows GPU and CPU"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16411/2/pipeline

[code]

[2019-10-10 00:56] ChaiBapchya commented on #16350
Will be fixed by @ThomasDelteil #16392

[2019-10-10 01:08] zixuanweeei commented on #16256
Sorry for the late update. For now, we are focusing on MXNet 1.6 upgrade. It may be fixed after 1.6.

[2019-10-10 02:12] levinguyen commented on #13482
+1

[2019-10-10 05:00] aaronmarkham commented on #16419
Also here:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-16392/5/pipeline

[2019-10-10 05:57] reminisce commented on #16419
Should have been fixed in the master branch.

[2019-10-10 05:59] reminisce commented on #16389
Fixed in https://github.com/apache/incubator-mxnet/pull/16415

[2019-10-10 06:00] #16389 closed

[2019-10-10 06:00] #14327 closed

[2019-10-10 07:57] CanyonWind opened #16424 "[Channel Shuffle / Hard Swish / Hard Sigmoid] running in MKL CPU backend failed"
## Description
I've trained a [NAS searched ShuffleNet related model](https://github.com/CanyonWind/MXNet-Single-Path-One-Shot-NAS), which contains some rare operators like Channel Shuffle, hard Swish, hard Sigmoid, etc.. It runs fine on both GPU and raw CPU backend but failed (val_acc = 0.0) on MKL CPU backend.

## Environment info (Required)

[code]

## Background
This ShuffleNet related model h

[2019-10-10 12:10] RoeePeleg opened #16427 "mxnet.recordio.pack example fails in python3"
## Description
when running the example from mxnet.recordio.pack using python3 it fails: TypeError: can't concat str to bytes

## Environment info (Required)
`----------Python Info----------
Version      : 3.6.7
Compiler     : GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.39.2)
Build        : ('default', 'Jun 19 2019 11:26:37')
Arch         : ('64bit', '')
------------Pip Info-----------
Vers

[2019-10-10 12:10] asmushetzel commented on #13915
So this got closed because the fundamental tests (that should pass) are disabled. Not really what seems appropriate given that are some basic computations that should always work.

Well this is how the code for the activation of type "softrelu" looks like (I traced it to ensure that this is exactly the code that gets executed). The gradient computation is just plain wrong!

/*! \brief SoftReLU, al

[2019-10-10 13:51] asmushetzel commented on #13915
Realized I misunderstood the outermost logic. Went back to the original pull request from 2015 to figure out that the argument supplied to _grad function is the computed value of the forward pass, not the original argument. So the current code is correct.
Still this type of math must be tested and we should not simply switch tests off.

[2019-10-10 17:19] devymex commented on #12529
Do you have any updates for the request? I want to train wgan-gp with gluon.

[2019-10-10 18:03] lanking520 commented on #16394
Find the root cause: https://stackoverflow.com/questions/58189683/typeerror-attrib-got-an-unexpected-keyword-argument-convert

The pytest is too old to use the attrs. The right way is to upgrade the pytest version

[2019-10-10 21:38] larroy commented on #15662
So all those places should be seeded propperly correct?

[2019-10-10 22:29] anirudh2290 opened #16431 "[RFC] MXNet Multithreaded Inference Interface"
Thanks to @nswamy for his inputs and design discussions related to this project and @frankfliu for explaining the requirements and the use case from customer perspective.

# Problem Statement

One of the big un-catered for use cases in MXNet is loading a model and being able to run parallel inference on the model from multiple threads while sharing the parameters. There are multiple user requests

[2019-10-10 22:42] marcoabreu commented on #16431
Great proposal!

Few questions from my end:

1. Will the new C-API functions be threadsafe in general? Speak, I can invoke them at any point in time from any thread without the need of a lock, sticky-thread or a thread hierarchy? (I'm thinking of the thread-safety being done on the backend level)
2. Will this also support the GPU use-case? Speak, the parameters are only copied into GPU memory once

[2019-10-10 22:51] larroy commented on #16401
I'm having this in my PR: https://github.com/apache/incubator-mxnet/pull/16430#partial-pull-merging

[2019-10-10 22:52] larroy commented on #16401
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fsanity/detail/PR-16430/1/pipeline

[2019-10-10 23:09] anirudh2290 commented on #16431
Thanks @marcoabreu !

The issue I found with C API thread safety especially with the cached op use case was the ThreadLocalStore. If we fix this issue then C APIs related to CreateCachedOp and InvokeCachedOp should be threadsafe.

This should still support the single GPU use-case for 1.6. Multi GPU inference use case requires more verification at the cached op level .

I don't think we have such a

[2019-10-10 23:12] larroy commented on #12529
Shouldn't my PR fix this issue?

Here 2nd order gradient for fully connected was implemented.
https://github.com/apache/incubator-mxnet/pull/14779

[2019-10-10 23:12] larroy commented on #12529
I think we could close this

[2019-10-10 23:13] #12529 closed

[2019-10-11 00:13] leezu commented on #16399
@szha

[2019-10-11 00:24] eric-haibin-lin commented on #15662
random/sampler.* and rnn_impl.* are for other operators, not dropout. But yes, in general those should also be fixed, and deserve separate github issues

[2019-10-11 01:26] TaoLv commented on #16394
Thank you @lanking520 . I'm still wondering why the problem is flaky and wasn't caught by CI at the first place.

[2019-10-11 02:50] pengzhao-intel commented on #16424
Thank to report the issue @ZhennanQin  will take a look :)

[2019-10-11 04:00] lanking520 commented on #16394
@TaoLv The root cause was the Python package `attrs` version control. They made the breaking change since 19.10 -> 19.20 on Oct 1. However, our CI has not set a version for this dependency (always use the latest). Actually, the `pytest` package does not require a fixed version of it. It causing the crash on pytest. Upgrading the version would help to solve the problem.

[2019-10-11 04:37] huangh12 commented on #6072
Before profiling, set the env as follows.
export MXNET_EXEC_BULK_EXEC_TRAIN=0
export MXNET_EXEC_BULK_EXEC_INFERENCE=false

[2019-10-11 05:15] anirudh2290 opened #16434 "WaitForVar in dependency engine not thread safe"
Related to #16431 . Please see the reproducible script here : https://github.com/anirudh2290/mxnet/blob/multithreaded_inference_poc/cpp-package/example/multithreading_engine_wait_to_read.cpp

[2019-10-11 05:22] eric-haibin-lin commented on #15662
below is a test case:
[code]

[2019-10-11 05:25] eric-haibin-lin commented on #15662
we need to delay the initialization of the seed in https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/dropout-inl.h#L497
request a random resource: https://github.com/apache/incubator-mxnet/blob/e260f13499a6c84737a97aae09e5921ad8fdd4fd/src/operator/numpy/random/np_choice_op.cc#L71
get a random number generator: https://github.com/apache/incubator-mxnet/blob/e260f13499a6c84737a97

[2019-10-11 08:21] reminisce commented on #16357
transpose fixed in https://github.com/apache/incubator-mxnet/pull/16414.

[2019-10-11 08:25] CanyonWind commented on #16424
Hi @ZhennanQin, thanks for the prompt response. I'm participating a competition and desperately need this tool to quantize. Could you please let me know whether there could be a quick fix / walk-around?

[2019-10-11 08:40] clouds56 opened #16438 "Prebuilt scala package for 2.12"
## Description
I found there's prebuilt jar for scala 2.11, now 2.12 is popular and 2.13 has come out. I think it is a good time to provide prebuilt package for scala 2.12 (or even make it the default one).
I tried to built it myself, but I have to keep multiple java version, since the tool required for build `javah` is removed in jdk 10 (I'm using jdk 12).

## Environment info (Required)

For Sca

[2019-10-11 10:30] luan1412167 opened #16439 "How to convert to onnx model with spatial==1?"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-10-11 11:56] pengzhao-intel commented on #16424
@CanyonWind it's great to know you're using MXNet and Intel Quantization solution in your competition.
Could you cite the MXNet and the related quantization solution in your further publication?

[2019-10-11 12:03] NamLQ commented on #3297
Anyone has solved the issue?

[2019-10-11 13:55] chinakook opened #16440 "How to flatten the first three dims of 4-dim tensor?"
I have a 4 dim tensor, now I want to flatten the first three dims, which op can be use to do it?
I want to do that with only one op.

[2019-10-11 14:14] TaoLv commented on #16440
`mx.nd.reshape(data, shape=(-1, 0), reverse=True)`?

[2019-10-11 14:50] michaelkr opened #16441 "excellent website page "Symbolic Configuration and Execution in Pictures" missing"
It used to be located here:

    https://mxnet.incubator.apache.org/api/python/symbol_in_pictures/symbol_in_pictures.html

I can't seem to find in anywhere. I know there is a big site update going on, I just wanted to alert you that this was a particularly good page!

[2019-10-11 14:59] michaelkr commented on #16441
@mxnet-label-bot would love to add the label "Website". But there does not seem to be a clear way to do that in this interface. Maybe there is markup for it?   8/

[2019-10-11 15:14] chinakook commented on #16440
Thx!

[2019-10-11 15:14] #16440 closed

[2019-10-11 15:42] TaoLv commented on #16394
Thank you for your explanation, @lanking520 . I'm closing this issue now.

[2019-10-11 15:42] #16394 closed

[2019-10-11 16:48] aaronmarkham opened #16443 "[CI failure] test_np_linalg_slogdet on windows-cpu"
Breaks inappropriately here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-16396/2/pipeline

[code]

[2019-10-11 17:26] aaronmarkham opened #16444 "[website] Training with Data from S3 article broken link"
## Description
Broken link on:
https://mxnet.apache.org/api/python/docs/tutorials/deploy/run-on-aws/index.html
This page tries to link to:
https://mxnet.apache.org/versions/master/faq/s3_integration.html

[2019-10-11 17:49] NamLQ opened #16445 "cuda.h: No such file or directory"
## Description
I can not perform manual MXNet-R Installation on Ubuntu 18.04 LTS with cuda 10.1 and cudnn 7.6.4. The post-installation actions of cuda and cudnn had been performed successfully.

## Environment info (Required)

[code]
I'm using R

[code]

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):
[code]

MXNet commit hash: `cf61364a2f38c90769098b330d5e

[2019-10-11 20:01] #16350 closed

[2019-10-11 20:01] ChaiBapchya commented on #16350
Closing since fixed

[2019-10-11 21:07] anirudh2290 commented on #16434
I noticed that this happens only when we call NDArray constructor in cpp pacakge and WaitToRead in main thread. If there is only waitall and not wait to read it works fine. Need to check if this is an issue with frontend CPP package.

[2019-10-11 21:21] ChaiBapchya opened #16447 "Large tensor nightly test memory failures"
Currently, upon running large tensor tests (CPU specific), we see memory footprint that exceeds the available memory (where nightly tests are run - C5 instance with <150G)

Thus we see errors like

[code]

Attempts made -
Despite calling nd.waitall and empty_cache(), memory footprint continues to grow gradually (as nosetests proceed 1 test after another).  For reference this commit -
https://githu

[2019-10-11 21:56] ChaiBapchya commented on #16447
Duplicate of #14980

[2019-10-11 21:56] #16447 closed

[2019-10-11 22:06] aaronmarkham commented on #16249
This link is gone from the google index.

[2019-10-11 22:06] #16249 closed

[2019-10-11 22:11] TEChopra1000 opened #16449 "Train Neural Network Python Tutorial - Plot Images code not working"
## Description
I was not able to get images to plot in **Train the neural network Python** tutorial found [here](http://mxnet.incubator.apache.org/api/python/docs/tutorials/getting-started/crash-course/4-train.html) as the tutorial is written. Some solutions are proposed below.

## Environment info (Required)

I ran the recommended script but no environment information was returned after the Envir

[2019-10-11 22:12] CanyonWind commented on #16424
Sure, I'm happy to do that. Could you please let me know which quantization method (paper) you are using in the MKL so that  I could cite it. Thank

[2019-10-12 02:01] kenjewu opened #16453 "[website] Mxnet official website menu bar background invalid"
When the Mxnet official website slides down, there is an error in the menu bar background. The current website has a high latency when visiting the official website in China.

[2019-10-12 02:31] DickJC123 commented on #16401
It appears the output of pylint differs between the case of jobs==1 and the case jobs==8 (as set in the ./ci/other/pylintrc file).  I can get the error `python/mxnet/numpy_op_signature.py:21:0: E0402: Attempted relative import beyond top-level package (relative-beyond-top-level)` to appear consistently when I set the jobs==1.  Perhaps jobs==1 should be the setting for our CI, since it is masking e

[2019-10-12 03:44] pengzhao-intel commented on #16424
Please cite the blog, https://medium.com/apache-mxnet/model-quantization-for-production-level-neural-network-inference-f54462ebba05

[2019-10-12 07:13] ZhennanQin commented on #16424
@CanyonWind https://github.com/apache/incubator-mxnet/pull/16455 is created to address the fp32 accuracy issue. With this patch, your command can provide below accuracy result:
[code]
For quantization, I've tried, but still got 0 acc due to some mkldnn correctness issue. We need to wait mkldnn team to fix that. This may take a few days or weeks. Sorry about that.

[2019-10-12 08:04] rezamds opened #16456 "can't install any R package"
R version 3.6
os: centos 7
## Description
Hi
i cant install any package in R
it downloads the packages but does not install

for a sample i try to install ranger package

install.packages("ranger")

but tis error shows for all packages
can you help me please
## Error Message:
Selection: 29
trying URL 'https://ftp.fau.de/cran/src/contrib/ranger_0.11.2.tar.gz'
Content type 'application/x-gzip' lengt

[2019-10-12 09:38] rezamds opened #16459 "can't run R after reinstalling"
## Description
hi all dear
I removed R from my centos7 and reinstalled it
R is installed but it does not run
## Environment info (Required)

R version 3.6
linux : centos 7

## Error Message:
/usr/lib64/R/bin/exec/R: error while loading shared libraries: libRblas.so: cannot open shared object file: No such file or directory

[2019-10-12 10:05] vafl opened #16460 "numpy -> mxnet -> numpy gives arrays with strange behavior"
## Description

Converting numpy arrays to mxnet and back again can give numpy arrays that behave very strangely.

Minimal example:

[code]

It doesn't happen with smaller values of `n` such as `100_000`.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...) Python

## Minimum reproducible example
see above

## Steps to reproduce
run the script

## What have

[2019-10-12 10:23] pengzhao-intel commented on #16424
Reopen to wait for quantization fix

[2019-10-12 15:25] hzfan commented on #14263
Try replace the
`
ar crv $@ $(filter %.o, $?)
`
with
`
ar Scrv $@ $(filter %.o, $?)
`

in `Makefile`. It worked for me.

The root cause of this may be the 4GB limit of static lib generated by `ar`.  See the `64-bit variant` chapter in [wiki](https://en.wikipedia.org/wiki/Ar_(Unix)).

[2019-10-12 16:12] CanyonWind commented on #16424
@pengzhao-intel Got it. Thanks

@ZhennanQin Thanks for the help! I will give it a try. A quick question is that is this problem caused by reshaping? If I can find some way to avoid using it in the model, should the quantization work?

[2019-10-12 19:03] mguzmann commented on #2838
I have this same problem but I do not have root access. Is there any work around for this?

[2019-10-13 12:40] ZhennanQin commented on #16424
for quantization, it's not about reshape. there're some int8 convolutions produces wrong result, causing acc to 0. Currently the only workaround solution is skipping quantize those trouble convolution, I can help to identify those layers in your model when I have time.

[2019-10-13 14:23] NamLQ commented on #16445
Solved by using this:
`make -j$(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1 USE_MKLDNN=0`

[2019-10-13 14:23] #16445 closed

[2019-10-13 15:17] xidulu commented on #16460
Hi @vafl

I did the following experiment:

[code]

It seems that the root causes of your problem are: 1. The type conversion between Numpy.ndarray and mx.ndarray. 2. The numerical error from Numpy.

I would suggest you could either raise this issue in Numpy's repo or manually declare the array's dtype using `.astype('float64')`.

[2019-10-13 18:25] vafl commented on #16460
Thanks @xidulu! That explains it. Indeed it seems like a numpy problem.

[2019-10-13 18:25] #16460 closed

[2019-10-13 23:29] CanyonWind commented on #16424
Thank you very much for taking the time to help. I will try it too and let you know if there is any update.

[2019-10-14 01:18] samskalicky commented on #10330
@zachgk is this fixed? If so, please resolve this issue

[2019-10-14 01:27] samskalicky commented on #15544
@roywei Did you remove this, or did we just modify the license appropriately? Can you summarize what is left to do to close this issue?

[2019-10-14 01:39] samskalicky commented on #15569
@ptrendx heres the build failure:
[code]

[2019-10-14 01:44] vsuhasm commented on #13054
Hi, is there any way to get around this? I'm having the same issue.

[2019-10-14 02:35] roywei commented on #15544
@samskalicky I think this can be closed when we integrate with mkldnn v1.0, which is still in a branch https://github.com/apache/incubator-mxnet/tree/mkldnn-v1.0

[2019-10-14 02:55] haojin2 commented on #16402
Nice catch! Verified that this also happens in the new numpy module, will devote some time on investigating this issue.

[2019-10-14 02:56] haojin2 commented on #16453
@ThomasDelteil  Any comments on this issue?

[2019-10-14 02:58] haojin2 commented on #16439
@anirudhacharya Any comments?

[2019-10-14 04:27] ThomasDelteil commented on #16453
@kenjewu can you share a screenshot if the issue? Or a clip?

[2019-10-14 04:28] ThomasDelteil commented on #16441
Thanks we'll add it back. We have purposefully removed some Module and Symbol API tutorials to favor the usage of Gluon. It would be good to understand your use case for using Symbol over Gluon?

[2019-10-14 06:27] luan1412167 commented on #15892
@vandanavk I have changed as your comment https://github.com/apache/incubator-mxnet/issues/15892#issuecomment-524952771. However I got error
`  File "mxnet_to_onnx_converter.py", line 36, in <module>
    converted_model_path = onnx_mxnet.export_model(sym, params, [input_shape], np.float32, onnx_file)
  File "/home/luandd/miniconda3/envs/luandao/lib/python3.7/site-packages/mxnet/contrib/onnx/mx2onn

[2019-10-14 06:46] EasitMickly commented on #15908
hi, have you solved this problem. I have the some problem. so I want to ask you. Thank you.

[2019-10-14 08:19] luan1412167 commented on #15585
@vandanavk which version mxnet and onnx can convert retinaface mxnet to onnx?

[2019-10-14 08:41] dszeto2 opened #16471 "CMake build with MKL_USE_ILP64 throws type mismatch"
When setting `MKL_USE_ILP64` to `On` in the CMake build, the build fails:
[code]
The rest of my CMake build command is here:
[code]
I'm using `gcc 4.8.2` on CentOS-6 from commit `f52ddfd880ad9d0e5a9d26eb41aabdd96fa4ac65`. Setting `MKL_USE_ILP64` to `Off` gets mxnet to build and successfully link against libmkl_intel_lp64.so, which is expected. Any help would be appreciated.

[2019-10-14 15:07] michaelkr commented on #16441
I'm training a network in the python environment - so gluon is fine there - but delivering it in c++. In order to understand how the c++ side works - which is through the graph interface - this document was helpful. Thanks!

[2019-10-14 16:28] igolan commented on #16261
The missing documentation is now available. Closing.
@Pagey - consider opening a separate issue for the chrome find issue (it is probably due to the usage of multiple frames in the website.)

[2019-10-14 16:28] #16261 closed

[2019-10-14 16:30] igolan commented on #16293
@yajiedesign it is similar to #16261 and it seems to be solved.

[2019-10-14 18:13] #10330 closed

[2019-10-14 18:33] ddavydenko commented on #16471
@mxnet-label-bot, add [Bug, Build]

[2019-10-14 18:34] ddavydenko commented on #16456
@mxnet-label-bot, add [Bug, Installation]

[2019-10-14 18:35] ddavydenko commented on #16449
@mxnet-label-bot , add [Bug, Example, Documentation]

[2019-10-14 18:37] ddavydenko commented on #16438
@mxnet-label-bot , add [Scala, FeatureRequest]

[2019-10-14 18:37] ddavydenko commented on #16434
@mxnet-label-bot , add [Bug]

[2019-10-14 18:39] ddavydenko commented on #16427
@mxnet-label-bot , add [Bug]

[2019-10-14 18:46] ddavydenko commented on #8703
As part of the transition we also need to go through all the examples we supply with MXNet and explicitly check they are compatible and running using Py3.

[2019-10-14 18:46] aaronmarkham commented on #16322
@Kh4L sorry I missed your message. Up to you if you want to tackle this issue too.

[2019-10-14 18:47] ddavydenko commented on #16431
@mxnet-label-bot , add [Feature]

[2019-10-14 18:48] ddavydenko commented on #16407
@mxnet-label-bot , add [Feature, Good First Contribution]

[2019-10-14 18:49] ddavydenko commented on #16405
@mxnet-label-bot, add [Question]

[2019-10-14 18:50] aaronmarkham opened #16473 "devices install page not rendering"
Nothing displays when you choose jetson or raspberry pi.

https://mxnet.incubator.apache.org/get_started?version=v1.5.0&platform=devices&language=python&environ=pip&processor=cpu

[2019-10-14 18:51] ddavydenko commented on #16401
@mxnet-label-bot , add [Build]

[2019-10-14 18:52] ddavydenko commented on #16399
@mxnet-label-bot , add [Bug]

[2019-10-14 20:19] DickJC123 opened #16474 "CI has pylint's cyclic-import error disabled. Worth fixing?"
Issue https://github.com/apache/incubator-mxnet/issues/16401 and resulting PR
https://github.com/apache/incubator-mxnet/pull/16462 exposed the fact by running pylint with the arg `--jobs=8`, our CI experienced the following behaviors:
    - Some classes of errors were not being reported (cyclic-import, duplicate-code, too-many-lines)
    - Some errors were being flagged non-deterministically (impo

[2019-10-14 20:53] roywei commented on #16387
Hi @ChrisQiqiang , it depends on what do you want to achieve when you pack them and transfer together.
I believe the parameters are still been updated one by one according to here: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/trainer.py#L361
However, KV store APIs allows you to update several keys together: https://mxnet.incubator.apache.org/api/python/docs/api/kvstore/

[2019-10-14 21:54] DickJC123 opened #16475 "CI saw test_numpy_op.py:test_np_sum failure"
## Description
@reminisce @haojin2
Likely needs atol/rtol tweeking.  I can reproduce this repeatably with:

MXNET_TEST_SEED=28297241 nosetests --verbose -s tests/python/unittest/test_numpy_op.py:test_np_sum

Seen in:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16462/5/pipeline/260/

Error output:
[code]
Test otherwise seems somewhat solid-

[2019-10-14 22:37] haojin2 commented on #16475
This happened in numerical gradient check, which is a bit unstable by nature. I've personally already tested with 10000 trials and did not get a failure back then... and yes, I think we should raise the tolerance level a little bit to account this kind of worst-case scenario, I'll mix this into one of my recent PRs #16436

[2019-10-14 22:49] chenliu0831 commented on #9744
Hi, is there any other action items remaining for this issue? I wonder if we don't have to explicitly set  `OMP_NUM_THREADS` after 1.2.0 release. Thanks

[2019-10-14 23:25] DickJC123 opened #16478 "CI unix-gpu GPU:CMake build failures"
At least 2 PRs have seen GPU:CMake build failures for the unix-gpu:

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-16462/runs/6/nodes/48/steps/182/log/?start=0

shows error:
[code]
A simple retrigger shows no similar problem.

Also, from @access2rohit , http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins

[2019-10-14 23:36] TEChopra1000 opened #16479 "MXNet on the Cloud Doc Issues"
There are a few formatting issues on this page, including:

- Code is not showing up in code-blocks
- Misc. characters showing up around sub-headings.

https://mxnet.incubator.apache.org/api/python/docs/tutorials/deploy/run-on-aws/cloud.html

[2019-10-14 23:39] leezu commented on #16399
There is a simple fix at https://github.com/apache/incubator-mxnet/pull/16432
Just requires review

[2019-10-15 00:05] TEChopra1000 opened #16480 "Broken Links - Logistic Regression Explained (DOCS)"
I found a few broken and incorrect links on this page: https://mxnet.apache.org/api/python/docs/tutorials/getting-started/logistic_regression_explained.html

All of the links in this paragraph are broken:

I think that the link in the word **Xavier** further down the page is meant to point here: https://mxnet.apache.org/api/python/docs/api/initializer/index.html#mxnet.initializer.Xavier
or here:
h

[2019-10-15 00:19] TEChopra1000 opened #16481 "Broken / Incorrect Links - Gluon: from experiment to deployment (DOCS)"
Broken Links from this page: https://mxnet.apache.org/api/python/docs/tutorials/getting-started/gluon_from_experiment_to_deployment.html

- C++ inference part
- MXNet learning rate scheduler
-  DataSet API
- DataLoader API
- Transform API
- inference using C++
- hybridization tutorial
- Java, Scala, and C++ APIs. } none of these links work
- Predict Image Tutorial
- next tutorial
- Scala Inference

[2019-10-15 00:31] TEChopra1000 opened #16482 "Broken Links: Handwritten Digit Recognition (Python)"
The following hyperlinked words have broken links in this tutorial: https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/image/mnist.html

- Python Requests
- Sequential layer
- Xavier
- Trainer
- SGD optimizer
- softmax_cross_entropy_loss - I think this is incorrectly linked

[2019-10-15 02:07] xidulu commented on #16407
Hi @rshyamsundar
Good suggestion!
I believe the `dtype` of the output is fully determined by the `dtype` parameter in `nd.random.xxx()` currently. It would be great to infer the output type according to the input type, just like what numpy does.
However, IMO,  the logic for `infer_type` function would become little bit complicated if this feature got involved, let's say, you have two different typ

[2019-10-15 02:33] Zheweiqiu commented on #15892
@luan1412167 Did you replace SoftmaxActivation with softmax and remove all attribute mode in your .json file?

[2019-10-15 02:56] luan1412167 commented on #15892
@Zheweiqiu
![Screenshot from 2019-10-15 09-52-46](https://user-images.githubusercontent.com/37315746/66796368-a0b28200-ef31-11e9-8573-44210f3c7626.png)
I have converted successful but I don't know get result from what output? .I get result boundingbox is so small. So can you point out result for me?
`[[[[5.3017639e-04 5.4040336e-04 5.1597238e-04 ... 4.6603641e-04
    5.1257212e-04 4.5140341e-04]

[2019-10-15 03:02] AaronFan1992 commented on #15892
@luan1412167  You should read RetinaFace paper carefully. hah

[2019-10-15 03:12] Zheweiqiu commented on #15892
@luan1412167 Your output seems to be feature vector or some intermediate output rather than bounding box. The name of output layer is "output" in mxnet and I dont think its gonna change during model conversion.

[2019-10-15 03:24] luan1412167 commented on #15892
@Zheweiqiu, @AaronFan1992

`sym = '/home/luandd/Downloads/R50-symbol.json'
params = '/home/luandd/Downloads/R50-0000.params'
# Standard Imagenet input - 3 channels, 224*224
input_shape = (1,3,1920,1080)
# Path of the output file
onnx_file = '/home/luandd/CLionProjects/untitled/retinaface.onnx'

converted_model_path = onnx_mxnet.export_model(sym, params, [input_shape], np.float32, onnx_file, verbos

[2019-10-15 03:46] Zheweiqiu commented on #15892
@luan1412167 I am using the same script as yours to do the conversion but I am busy with other stuff and dont get time to do the rightness verification of the converted model.

[2019-10-15 03:49] luan1412167 commented on #15892
@Zheweiqiu can you share me your model?

[2019-10-15 03:54] Zheweiqiu commented on #15892
@luan1412167 I am afraid of not. The company is pretty strict about this and I am not allowed to upload anything to cloud nor send any file via email. Sorry about that.

[2019-10-15 03:57] luan1412167 commented on #15892
@Zheweiqiu thanks you. Can you tell me the architecture output is right?

[2019-10-15 04:10] reminisce commented on #16419
Please report the issue if you see it again. Closing now.

[2019-10-15 04:10] #16419 closed

[2019-10-15 04:34] ccrop opened #16483 "Matrix operation Bug"
1、Matrix operation Bug
2、Errors in obtaining data from a dimension of a matrix。
The same code is fine in numpy、pytorch
3、The code is very simple.
a = nd.random.uniform(shape=(1,100,7))
b = a[:,:,-1]<0.5
b = nd.reshape(b,(-1))
c = a[:,b,:]
print(c.shape)
4、output：result:（1，100,7）,ok result:(1,50,7)

[2019-10-15 04:41] luan1412167 commented on #15892
@Zheweiqiu where did you download retinaface mxnet model?

[2019-10-15 08:31] olojuwin opened #16485 "cudnn_convolution-inl.h:160: Check failed: e == CUDNN_STATUS_SUCCESS (8 vs. 0) : cuDNN: CUDNN_STATUS_EXECUTION_FAILED"
bug
work environment：2080TI
CUDA:9.0
MXNET_VERSION:1.2.0  ,1.2.1  1.5.0
CUDNN: NO

when I train resnet101 ,if i set export MXNET_CPU_WORKER_NTHREADS=24, I'll get this mistake.
If I don't  set  MXNET_CPU_WORKER_NTHREADS or MXNET_ENGINE_TYPE，it work good.
If I change it to something else backbone ，it work good.
if i change CUDA to 10.0,it work good.

[2019-10-15 10:21] Kh4L commented on #16322
@aaronmarkham  I don't see the italicized section anymore. I guess it has been fixed :+1:

[2019-10-15 13:37] Alvin1369 opened #16488 "Any sample code to show how to do image augmentation in c++"
Hi,
Is it possible to provide some sample code to show how to do image augmentation in c++?

Thanks
-Alvin

[2019-10-15 14:27] TaoLv commented on #16471
AFAIK, MXNet doesn't work with ILP64. Could you please elaborate what's the problem you want to solve?

[2019-10-15 14:28] TaoLv commented on #16471
cc @yinghu5

[2019-10-15 15:22] igolan commented on #16260
It works now, closing.

[2019-10-15 15:22] #16260 closed

[2019-10-15 17:00] TEChopra1000 commented on #16480
I'm going to move all of the broken links from the Python Tutorials section into one ticket. Closing this one.

[2019-10-15 17:00] #16480 closed

[2019-10-15 17:01] TEChopra1000 commented on #16481
I'm going to move all broken links from the Python Tutorials into one ticket. Closing this ticket.

[2019-10-15 17:01] #16481 closed

[2019-10-15 18:07] stu1130 opened #16491 "CI failed due to DockerHub outage"
some example of CI failure
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/PR-16490/1/pipeline

The latest status of DockerHub
https://status.docker.com/pages/533c6539221ae15e3f000031

[2019-10-15 18:08] roywei commented on #16491
tracked here on docker: https://github.com/docker/hub-feedback/issues/1897

[2019-10-15 18:12] stu1130 commented on #16491
looks like it's working now, will close it if my PR passed the CI

[2019-10-15 18:16] TEChopra1000 commented on #16482
I'm going to put all broken links from the python tutorial into one ticket and so I'll close this one.

[2019-10-15 18:16] #16482 closed

[2019-10-15 18:17] #16322 closed

[2019-10-15 18:56] TEChopra1000 opened #16492 "Broken Links - Python Tutorial | Getting Started"
**Broken Links Found in the [Crash Course](https://mxnet.apache.org/api/python/docs/tutorials/getting-started/crash-course/index.html#)**

* previous tutorial | [found here ](https://mxnet.incubator.apache.org/api/python/docs/tutorials/getting-started/crash-course/5-predict.html)
* previous tutorial | [found here](https://mxnet.incubator.apache.org/api/python/docs/tutorials/getting-started/crash-c

[2019-10-15 20:41] #16491 closed

[2019-10-15 20:55] DickJC123 commented on #16401
Issue fixed by now-merged https://github.com/apache/incubator-mxnet/pull/16462.

[2019-10-15 20:55] #16401 closed

[2019-10-15 22:35] aaronmarkham opened #16495 "docs for gluon.data.* are missing"
Probably related to git filters when adding the files.
https://stackoverflow.com/questions/8006393/force-add-despite-the-gitignore-file

[2019-10-16 00:08] ChaiBapchya opened #16498 "[CI] Centos GPU Seg Fault"
Seg Fault
Unrelated PR - #16497
Pipeline - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-16497/1/pipeline
[code]

[2019-10-16 00:37] wx3000 opened #16499 "mxnet/tensorRT docker image coredumps"
## Description

The docker image mxnet/tensorrt which integrates mxnet with tensorrt core dumps. docker image has TRT 4.0, python3.5, cuda9 and MxNet 1.3.

## Environment info (Required)
AWS base DLAMI on G4 instance. DLAMI version is 19.2 and OS is ubuntu. Installed docker 19.2 and nvidia docker on top of it.

first install docker:
https://docs.docker.com/install/linux/docker-ce/ubuntu/

there is

[2019-10-16 00:52] leezu commented on #16499
Who owns the Docker images at https://hub.docker.com/u/mxnet ? The tensorRT hasn't been updated since a year.

[2019-10-16 01:08] aaronmarkham commented on #15925
Happened here too:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16496/1/pipeline/294

[2019-10-16 01:57] starimpact commented on #15102
_l2norm is time consuming for a large parameter, so I suggest it should be:
[code]

[2019-10-16 09:42] 0x01h commented on #11015
Any suggestions for this issue?

[2019-10-16 11:35] Alvin1369 commented on #16488
Finally i found the answer, you might want to set augmentation feature by calling SetParam, below is an example,

MXDataIter *iter;
iter->SetParam("brightness", 0.3);

[2019-10-16 11:35] #16488 closed

[2019-10-16 12:47] gentelyang opened #16508 "Distributed Training using MXNet with Horovod"
$ mpirun -np 8 \
    -H server1:4,server2:4 \
    -bind-to none -map-by slot \
    -x NCCL_DEBUG=INFO \
    -mca pml ob1 -mca btl ^openib
    python train.py
this train.py means one of the (gluon_mnist.py、module_mnist.py、resnet50_imagenet.py) ?
can i use gluon_mnist.py instead of train.py?

[2019-10-16 12:53] gentelyang commented on #16508
Is there any examples that can be run directly? This page is too simple to write. I hope you can write some details in detail.

[2019-10-16 13:18] aaronmarkham opened #16509 "autograd tutorial is missing its images"
https://mxnet.apache.org/api/python/docs/tutorials/packages/autograd/index.html

[2019-10-16 13:19] aaronmarkham opened #16510 "control flow tutorial is missing"
There are several references to it but it isn't in the docs anymore.

[2019-10-16 16:21] 610v4nn1 opened #16511 "Returned value incorrectly described in the documentation"
https://github.com/apache/incubator-mxnet/blob/c2bbde75c36be2fef4a5e6d941cc01f5aabd9fd2/src/operator/tensor/ordering_op.cc#L38

The returned values are the indices of the largest values, as shown in the example below.

[2019-10-16 17:37] access2rohit commented on #14263
@hzfan let me try that. Thanks for the suggestion!

[2019-10-17 03:03] tuanzhangCS commented on #16110
Hi @dwSun , I think maybe it's not a bug.
Because the type of arr2 is uint8, and the data type of arr2.sum() is also uint8. So, the real sum, which is 11090, is overflow. 11090 % 256 = 82. Then the mean equal to 82 / 100 = 0.
So, the main reason is `mx.nd.array.sum()` and `np.array.sum()` return different data type. It's seem to `mean()`.
Do you agree it?

[2019-10-17 03:16] tuanzhangCS commented on #16110
And you can try this case, it return correct result.
[code]

[2019-10-17 03:34] alphashi opened #16515 "MXNet C++Interface, run image-classification-predict.cc example cannot exits normally"
When I run the MXNet C++Interface example [image-classification-predict.cc](https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/predict-cpp/image-classification-predict.cc) in windows with visual studio 14 2015, it cannot exits normally.

If I comment the mxnet predictor free api `MXPredFree(pred_hnd);`, then it exit successfully.

[2019-10-17 05:09] tianlanli opened #16516 "mxnet 0.10.0 compile fail"
`make -j8 > build.log 2>&1`

then

`src/operator/./cudnn_rnn-inl.h(435): error: argument of type "cudnnRNNDescriptor_t" is incompatible with parameter of type "cudnnHandle_t"
          detected during:
            instantiation of "void mxnet::op::CuDNNRNNOp<DType>::Forward(const mxnet::OpContext &, const std::vector<mxnet::TBlob, std::allocator<mxnet::TBlob>> &, const std::vector<mxnet::OpReqType

[2019-10-17 05:57] tianlanli commented on #16516
`make -j8 USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=0 USE_CUDNN=0 > build.log 2>&1`

then

`/usr/bin/ld: 找不到 -lopenblas`

but in config.mk
`ADD_LDFLAGS = -I/home/ll/software2/OpenBLAS/lib`
`ADD_CFLAGS = -I/home/ll/software2/OpenBLAS/include`

in my .bashrc
`export PATH="/home/ll/software2/OpenBLAS/:$PATH"
export PKG_CONFIG_PATH="/home/ll/software2/OpenBLAS/lib/pkgconfig:$PKG_CONFIG_PATH"
export LD_L

[2019-10-17 06:15] tianlanli commented on #16516
I try cuda 8 again , wait

[2019-10-17 06:37] ChaiBapchya opened #16517 "test_operator test_bulking_operator_gpu failing on centos gpu"
Unrelated PR https://github.com/apache/incubator-mxnet/pull/16477

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-16477/5/pipeline

Maybe related to #14368
[code]

[2019-10-17 08:23] lordofgod opened #16518 "mxnet cpp-package complie failed with visual studio 2017"
## Description
I just get some problem while compiling mxnet1.15.1 and cpp_package on win10 with vs2017. The generated "op.h" file seems incorrect at functions like "multi_sgd_update" missing data type of parameter "lrs" and "wds" which should be "mxnet::Tuple<float>". And this may cause compile failure of examples in cpp_packages.The information in outputs view is "argument "lrs" of operator "mul

[2019-10-17 08:33] tianlanli commented on #16516
I shift to cuda-8.0 ,then make

`src/operator/./cudnn_rnn-inl.h(435): error: argument of type "cudnnRNNDescriptor_t" is incompatible with parameter of type "cudnnHandle_t"
          detected during:
            instantiation of "void mxnet::op::CuDNNRNNOp<DType>::Forward(const mxnet::OpContext &, const std::vector<mxnet::TBlob, std::allocator<mxnet::TBlob>> &, const std::vector<mxnet::OpReqType, s

[2019-10-17 08:38] tianlanli commented on #16516
`8 errors detected in the compilation of "/tmp/tmpxft_0000a3de_00000000-11_rnn.compute_50.cpp1.ii".
Makefile:211: recipe for target 'build/src/operator/rnn_gpu.o' failed
make: *** [build/src/operator/rnn_gpu.o] Error 2
make: *** 正在等待未完成的任务....`

[2019-10-17 09:26] xysong1201 commented on #7064
Hi, @feiyulv , could you specify how to define the num_group to create depth-convolution? Thank you

[2019-10-17 10:06] mureva opened #16522 "optimisers such as FTML in C++ package - am I just missing them or are they not exposed?"
I can see from the documentation that MXNet now includes a wide range of modern optimisers, however, I can't seem to access them from the C++ package.

Currently, I do:
`mx::Optimizer *opt = mx::OptimizerRegistry::Find("adam");`

or similar, but I can't do, for example:
`mx::Optimizer *opt = mx::OptimizerRegistry::Find("ftml");`

Looking at optimizer.h and optimizer.hpp I can see that only a subse

[2019-10-17 12:42] marcoabreu commented on #16516
Quick question, but is there a specific reason you're using 0.10.0? We already released 1.5.1.

[2019-10-17 13:09] tianlanli commented on #16516
I want to use FGFA(Flow Guided Feature Aggregation) which base mxnet 0.10.0.

I pip install mxnet 1.5.1 l in another ubuntu server , but I can not use FGFA base on 1.5.1 .

another reason is I don't konw how to do about next line from FGFA github.
` For advanced users, you may put your Python packge into ./external/mxnet/$(YOUR_MXNET_PACKAGE), and modify MXNET_VERSION in ./experiments/fgfa_rfcn/cf

[2019-10-17 14:03] kenjewu commented on #16453
From these two figures, it can be seen that there is a problem with the background fixing when the navigation bar slides down.
![1571320577(1)](https://user-images.githubusercontent.com/27672489/67015830-be4a3c00-f129-11e9-974f-0897010f1908.png)
![1571320610(1)](https://user-images.githubusercontent.com/27672489/67015834-bf7b6900-f129-11e9-87b7-365a379df8c5.png)

[2019-10-17 15:38] aaronmarkham opened #16524 "CI tests timing out"
CI really needs some attention. I had three PRs yesterday and they all failed on one test or another due to timeouts. Tests need to be broken up or streamlined. It shouldn't take 4 hours for tests to run and then timeout.

GPU: CUDA10.1+cuDNN7 - 3 hour timeout
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16500/15/pipeline/46

dist-kvstore t

[2019-10-17 15:48] aaronmarkham commented on #16524
Also this one had 3 timeouts:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16496/3/pipeline/45

[2019-10-17 16:17] ChaiBapchya commented on #16498
Not sure if it is a one-off.. hence closing. will reopen if the issue resurfaces.

[2019-10-17 16:17] #16498 closed

[2019-10-17 19:22] ptrendx commented on #16508
@apeforest @yuxihu

[2019-10-17 20:44] szha commented on #16485
@olojuwin thanks for reporting. could you try cuda 9.2 for the latest version as well? also, it would be helpful if you could clarify which script you used for training resnet101

[2019-10-17 22:18] #16399 closed

[2019-10-18 00:41] aaronmarkham commented on #16252
Broke again here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16525/1/pipeline

[2019-10-18 00:42] SpaceView commented on #15492
tried various CMake versions, the same error

[2019-10-18 03:10] tianlanli commented on #16516
thank you , I will try later version again

[2019-10-18 03:59] pedro-abundio-wang opened #16527 "ErrStr:no kernel image is available for execution on the device"
Environment Info:

I have install CUDA 10.0, and use mxnet-numpy download from offical support http://numpy.mxnet.io

Runing the following code ,then i got the error info :

`
x = np.ones((2, 3), ctx=npx.gpu())
x
`

`MXNetError: [11:41:41] src/operator/contrib/./.././../common/../operator/mxnet_op.h:794: Check failed: err == cudaSuccess (48 vs. 0) : Name: mxnet_generic_kernel ErrStr:no kernel imag

[2019-10-18 04:52] zczjx opened #16528 "[Bug | ONNX]mxnet cannot export the ONNXmodel with BatchNormalization operator"
## Description
onnx_mxnet.export_model() will throw exception and failure if I use it to export my trained model which have BatchNormalization operator

## Environment info (Required)
os: Ubuntu 16 / Anaconda python3.7
mxnet 1.5.1
onnx 1.5.0

Package used (Python/R/Scala/Julia):
Python

## Error Message:
12:41:27] src/operator/nn/./cudnn/./cudnn_algoreg-inl.h:97: Running performance tests to find

[2019-10-18 04:57] zhanghang1989 commented on #6657
I still get this error `TBlob.get_with_shape: new and old shape do not match total elements`
Any thoughts on this?

[2019-10-18 05:02] tuanzhangCS commented on #16427
Use `s = b'...'` @RoeePeleg
You can learn the difference of *string* between python2 and python3 (encoding).

[2019-10-18 05:28] coltzwz opened #16529 "How can i compile on the jetson tx2 with tensorrt?"
I want depoly mxnet on tx2, and using tensorrt to inference. I found the mxnet-tensorrt-cu90 but it is mxnet-1.2.0, I want to use mxnet-1.6.0. I compile mxnet on tx2 completely, but cannot using tensorrt api. What should I do?

[2019-10-18 05:54] olojuwin commented on #16485
@szha ok，I will test later。
I'll give you the script first：https://github.com/deepinsight/insightface/tree/master/recognition

[2019-10-18 05:59] olojuwin commented on #16485
@szha
#!/bin/bash
#source /etc/profile
export MXNET_CPU_WORKER_NTHREADS=2
#export MXNET_CUDNN_AUTOTUNE_DEFAULT=1
export MXNET_ENGINE_TYPE=ThreadedEnginePerDevice
#export MXNET_ENGINE_TYPE=NaiveEngine
#export MXNET_ENGINE_TYPE=ThreadedEngine
#export MXNET_ENABLE_GPU_P2P=0

#MXNET_GPU_COPY_NTHREADS=6
#MXNET_EXEC_NUM_TEMP=4
#MXNET_GPU_WORKER_NTHREADS=4

#DATA_DIR=path/face_emore
NETWORK=r100
JOB=Insi

[2019-10-18 06:45] ZHAIXINGZHAIYUE opened #16531 "Just use fp16 is slower than mixed_precision! Why?"
Just use fp16 is slower than mixed_precision! Why?

[2019-10-18 06:55] dwSun commented on #16110
confusing and  interesting, I am considering take this as a test for my next interviewee.

[2019-10-18 06:55] #16110 closed

[2019-10-18 07:25] hgt312 commented on #16524
https://github.com/apache/incubator-mxnet/issues/16524
Timeout too.

[2019-10-18 07:57] zczjx commented on #16528
Label: ONNX, Bug
can you help to set labels, it seems I cannot set Labels by myself

[2019-10-18 15:45] aaronmarkham commented on #16524
Another on unix-gpu, kvstore http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16512/4/pipeline/

[2019-10-18 17:15] roywei opened #16535 "CI Travis time out"
Currently travis test is constantly timed out, Temporarily disable it first to unblock PRs.

Note, this happened before and we already disabled nose tests https://github.com/apache/incubator-mxnet/issues/13136

Now we are disabling builds.

[2019-10-18 17:53] anirudhacharya commented on #16439
while converting onnx models, the`batchnorm` operator has the spatial parameter disabled due to the way `batchnorm` is defined in onnx - https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py#L357-L359

changing the label to "feature request"

[2019-10-18 17:54] anirudhacharya commented on #16528
related issue - https://github.com/apache/incubator-mxnet/issues/16439#issuecomment-543860499

[2019-10-18 20:44] Reddyforcode commented on #15283
@kalpitdixit  have you found what is the error?

[2019-10-18 21:35] roywei commented on #16524
Unix-gpu kvstore is fixed now, next is looking into other timeouts

[2019-10-18 23:25] anirudh2290 commented on #16531
By faster you mean convergence ? Can you elaborate on what is your use case. Are you running it for training or inference ? Can you provide reproducible script ? Its possible that convergence may be slower with all fp16 because certain reduce operators need to run in FP32 mode to retain good accuracy.

[2019-10-18 23:30] ChaiBapchya commented on #16517
#16416
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-16416/7/pipeline
[code]

[2019-10-18 23:42] larroy opened #16539 "memory corruption error while trying to train BERT"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-10-19 00:27] roywei opened #16541 "Constant Pylint error in CI Sanity Check"
Pylint check on tools/caffe_converter/*.py . fails consistency for PR checks, there is no change on CI or tools/caffe_converter/. Files under that folder have not been updated for a long time.

Temporary disable it to unblock development.

Failing Jobs:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fsanity/detail/PR-16532/5/pipeline

http://jenkins.mxnet-ci.am

[2019-10-19 00:31] anirudh2290 commented on #16434
To verify this theory, I added another example which uses the backend NDArray data structure instead of CPP NDarray data structure and calls WaitToRead on it. This works fine (https://github.com/anirudh2290/mxnet/blob/multithreaded_inference_poc/cpp-package/example/multithreading_engine_wait_to_read2.cpp). This shows that the issue is with the NDArray data structure in CPP frontend.

[2019-10-19 00:31] leezu commented on #16539
Can you provide the complete command you use for training? When does the corruption happen?

[2019-10-19 01:18] leezu commented on #10167
I edited the above example to include `HybridLoopIdentityBlock` for comparison.

[2019-10-19 05:50] larroy commented on #16539
@eric-haibin-lin I used his container....
[code]

[2019-10-19 08:20] zixuanweeei opened #16548 "Stacked RNNCell and FusedRNNCell may give inconsistent results with GPU context"
## Description
Some new test cases were added to unit test for covering the fusion routine of RNN operators in #16420. Then we found that flakiness of `test_operator.py:test_rnnrelu_sym` appears several times from the online CI of either Unix-GPU MKLDNN+GPU or Unix-GPU NOMKLDNN+GPU. We have no idea the root cause of the flakiness, but we can reproduce the inconsistent results locally. Please see t

[2019-10-19 08:23] zixuanweeei commented on #16548
@pengzhao-intel @TaoLv

[2019-10-19 11:19] pengzhao-intel commented on #16548
How relative error is executed here which will cause the flaky report if the absolute number is very small?
The absolute difference is only 0.00012941 but relative difference is large than 1. Please check how the calculate and maybe we need a robust algorithm for the relative difference.

[2019-10-19 12:51] tuanzhangCS commented on #16515
Can you describe the error in more detail?

[2019-10-19 13:10] zixuanweeei commented on #16548
Thanks for your reply. @pengzhao-intel

According to [Numpy](https://github.com/numpy/numpy/blob/v1.17.0/numpy/testing/_private/utils.py#L1455-L1510), the absolute and relative differences are derived by
[code]
These two are used in the error message. The criterion of `assert_allclose(actual, desired, rtol, atol)` is **`atol + rtol * abs(desired)`**.

Below is an example of a failed `test_rnnrelu_

[2019-10-19 17:01] aaronmarkham commented on #16276
I haven't seen this happen lately.

[2019-10-19 17:01] #16276 closed

[2019-10-19 17:04] aaronmarkham commented on #15206
Moot issue

[2019-10-19 17:04] #15206 closed

[2019-10-19 17:05] aaronmarkham commented on #14583
Sheng fixed this on the new site.

[2019-10-19 17:07] aaronmarkham commented on #15287
The data.mxnet.io site was switched over to S3 and that doesn't support browsing like a regular website. You have to specifically request an asset for it to respond.

I'm going to close this for now. Please open another issue if you can't find a model.

[2019-10-19 17:07] #15287 closed

[2019-10-19 17:10] aaronmarkham commented on #12873
The APIs appear on the new site.

[2019-10-19 17:10] #12873 closed

[2019-10-19 17:12] aaronmarkham commented on #13804
Moot issue.

[2019-10-19 17:12] #13804 closed

[2019-10-19 17:15] aaronmarkham opened #16552 "mxnet.io docs not rendering correctly"
## Description
Some tech debt from the beta site, or maybe some docstring issue... but mxnet.io doesn't look right.
https://mxnet.apache.org/api/python/docs/api/mxnet/io/index.html

Mentioned here:
https://github.com/apache/incubator-mxnet/issues/13804#issuecomment-452498757

Creating a specific issue to track this.

[2019-10-19 17:21] aaronmarkham commented on #15408
Duplicate of https://github.com/mli/new-docs/issues/64
When I checked it had to do with svg images... I think that if they get moved to the same host (in this repo and deployed with the site), they'll work.

[2019-10-19 17:24] aaronmarkham commented on #13854
It looks like the new API generator has fixed this issue.
https://mxnet.apache.org/api/python/docs/api/mxnet/context/index.html#mxnet.context.gpu_memory_info

[2019-10-19 17:24] #13854 closed

[2019-10-19 17:33] aaronmarkham commented on #16349
I'm not seeing the a. issue here:
https://mxnet.apache.org/api/python/docs/tutorials/getting-started/gluon_from_experiment_to_deployment.html

There's a little overlap seen like you point out in b. though.

[2019-10-19 17:37] aaronmarkham commented on #16517
Failed here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-16512/4/pipeline
Really need to clean out these tests or figure out the infra side so that they're not so brittle...

[2019-10-20 02:35] haojin2 commented on #14415
@gigasquid Seems like this test is failing again now but caused by a different reason:
[code]

[2019-10-20 02:36] haojin2 commented on #14415
@gigasquid Could you help with identifying the cause so that we could fix this ASAP? Thanks!

[2019-10-20 03:17] chenliu0831 commented on #13909
Should this happen when `last_batch= rollover`?

[2019-10-20 06:32] ptrendx commented on #16527
What is the GPU you are using?

[2019-10-20 07:25] RoeePeleg commented on #16427
i know i can use bytes instead of str in order to make it work. i just wanted to note that the example and the documentation of the method are not correct.
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/recordio.py#L370-L371
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/recordio.py#L378-L386

[2019-10-20 08:11] pedro-abundio-wang commented on #16527
I am working on my laptop using GeForce GT 750M

[2019-10-20 09:30] kshitij12345 commented on #13958
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-15909/6/

[2019-10-20 18:00] gigasquid commented on #14415
looking into it

[2019-10-20 18:49] gigasquid commented on #14415
The failing test is a bit too brittle - it is verifying the saved model of the mnist. A new attribute has been added so the test is failing `"attrs" {"is_np_shape" ["int" 0]}` - This test needs to be reworked, I will add a pr to your pr to disable it in the meantime https://github.com/reminisce/mxnet/pull/19

[2019-10-20 19:51] haojin2 commented on #14415
@gigasquid okay I see the cause. But no hurries on the fix for the test, I think @reminisce has also made changes to make that test working now. Thanks a lot for your prompt reply! I'll also close the issue now.

[2019-10-20 19:51] #14415 closed

[2019-10-21 01:12] ZHAIXINGZHAIYUE commented on #16531
@anirudh2290 I mean the train speed. mixed_precision: 1000 samples/s, just single fp16: 900 samples/s

[2019-10-21 01:16] szha commented on #16531
Hi @ZHAIXINGZHAIYUE, please pay attention to the request for your script as it's impossible for others to help without knowing your workload. Thanks.

[2019-10-21 03:20] knjwhn commented on #13991
Hello,guys,I made some modification in openblas (add a new cblas_mygemm)and I wanna to use it in mxnet , is there have a place or something to call cblas_sgemm() in mxnet source code ?  Hope for your help.

[2019-10-21 03:21] knjwhn opened #16557 "Where is the place that mxnet call cblas_gemm if I use openblas?"
Hello,guys,I made some modification in openblas (add a new function cblas_mygemm)and I wanna to use it in mxnet , is there have a place or something to call cblas_sgemm() in mxnet source code ? Hope for your help.

[2019-10-21 04:22] szha commented on #16508
@gentelyang while you're waiting for a response, I'd like to share a full-fledged example in GluonNLP for BERT-pretraining with horovod. You can find it in [this page](http://gluon-nlp.mxnet.io/model_zoo/bert/index.html#run-pre-training)

[2019-10-21 06:10] reminisce opened #16559 "Tracking mxnet.numpy operator issues for 1.6.0 release"
## Issues from running D2L [numpy2](https://github.com/d2l-ai/d2l-en/tree/numpy2) branch

1. chapter_preliminaries/probability.md

[code]

2. chapter_preliminaries/probability.md
[code]

3. chapter_multilayer-perceptrons/dropout.md
[code]

4. chapter_deep-learning-computation/parameters.md
[code]

5. chapter_recurrent-neural-networks/seq2seq.md
[code]

6. All notebooks with train_s2s_ch8
[code]

7

[2019-10-21 07:32] classicsong opened #16560 "It is easy to crash MXNet when tensor goes larger"
## Description
When I use large tensor, it is easy to crash the MXNet kernel.
Using following python code to reproduce:

[code]
The error looks like an int32 overflow on shape.size.
Any easy way to fix this out? The only way I found out is to compile MXNet with USE_INT64_TENSOR_SIZE = ON, which is slower than the default one.

## Environment info (Required)
mxnet 1.5.1 (pip3 install)

Package used

[2019-10-21 08:37] roywei commented on #16535
Update: I disabled Travis directly as we are not testing anything there now.
We can add it back if we can figure out how to get more resources on Travis. according to #13136

[2019-10-21 10:53] fumingxing2015 opened #16562 "Same model but different time-consuming"
I trained a model (mobilenet v1.0) with my data. when  test the time-consuming .  I found it's slower than the built-in model in gluon.model_zoo,about twice slower. The model have same structure,the only different is the params values. I check the param , I found there are same values very small . Why the different params can make different time-consuming? Should I set some special option to avoid

[2019-10-21 11:03] deHsien opened #16563 "Python CPU single thread configuration"
I'm going to participate in submission limited to use CPU single thread. My implementation is in Python and I found that when import mxnet, a threadpool is created. After trying for a long time, I can only reach a threadpool with 8 threads with MXNET_ENGINE_TYPE=NaiveEngine and OMP_NUM_THREADS=1.
Is there a configuration to reach a threadpool with 1 thread.
Thank you.

[2019-10-21 11:23] deHsien commented on #16563
@pengzhao-intel
May I have your help, thank you

[2019-10-21 12:10] pengzhao-intel commented on #16563
@ZhennanQin could help you on the topic :)

[2019-10-21 16:27] aaronmarkham opened #16566 "[CI test failure] test_fast_lars fails on windows gpu"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16550/3/pipeline/

At C:\jenkins_slave\workspace\ut-python-gpu\ci\windows\test_py2_gpu.ps1:29

[2019-10-21 17:11] marfago opened #16568 "Different (not uniform) behavior in RMSE,MSE,MAE"
Looking at metrics it seems like they behave in a slightly different way depending on the how they sum up all the batch inputs. For example, Accuracy does not calculates the mean of single batches, but sums all them up and evaluates a single mean in the get method:

https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/metric.py#L507

On the contrary, RMSE evaluates the single RMSE fo

[2019-10-21 18:33] ddavydenko commented on #16568
@mxnet-label-bot add [Feature]

[2019-10-21 18:36] ddavydenko commented on #16563
@mxnet-label-bot add [Question]

[2019-10-21 18:38] ddavydenko commented on #16562
@fumingxing2015 , could you please provide your model with params? It is not clear from the question and the context why you might be running into increased latencies.

[2019-10-21 18:38] ddavydenko commented on #16562
@mxnet-label-bot add [Question]

[2019-10-21 18:38] ddavydenko commented on #16560
@mxnet-label-bot Add [Bug, Large Tensor Support]

[2019-10-21 18:40] roywei commented on #16560
cc @access2rohit

[2019-10-21 18:43] ddavydenko commented on #16548
@mxnet-label-bot add [Bug]

[2019-10-21 18:43] roywei commented on #16557
cc @larroy

[2019-10-21 18:44] roywei commented on #16541
fixed with #16540

[2019-10-21 18:44] #16541 closed

[2019-10-21 18:48] roywei commented on #16529
cc @larroy

[2019-10-21 18:49] roywei commented on #16522
cc @leleamol

[2019-10-21 18:50] roywei commented on #16518
cc @leleamol

[2019-10-21 18:52] roywei commented on #16516
Please use the latest MXNet, and raise a feature request or file a bug if the latest mxnet does not support the feature you want to use.

[2019-10-21 18:52] #16516 closed

[2019-10-21 18:52] ddavydenko commented on #16511
@mxnet-label-bot add [Doc]

[2019-10-21 18:53] roywei commented on #16511
cc @ChaiBapchya

[2019-10-21 18:53] ddavydenko commented on #16492
@mxnet-label-bot add [Doc]

[2019-10-21 18:56] ddavydenko commented on #16485
Is there any particular reason you are not including cuDNN even though you are using CUDA? I suggest you compile with cuDNN enabled and try CUDA 9.2. Also, please refrain from using 1.2 version as it is no longer supported.

[2019-10-21 18:57] ddavydenko commented on #16483
@mxnet-label-bot add [Bug]

[2019-10-21 18:58] TEChopra1000 opened #16569 "The Edit Pencil by the Julia Headers is broken"
The edit-pencil that leads to that file on github, to the right of the h1 headers on the Julia site are broken. For example the pencil found on this site:
 https://mxnet.apache.org/api/julia/docs/api/

Lead here:

[2019-10-21 19:01] roywei commented on #16483
Hi @ccrop could you provide which mxnet version are you using?  If pip installed nightly version, what's the date? If build from source which commit and what's the build flags?
Thanks!

[2019-10-21 19:06] marfago commented on #16568
I think this is more a bug than a new feature, since different metrics are calculated with different methodology (mean of sample vs mean of means of samples) which does not make metrics conceptually interchangeable (if I want the calculate the global RMSE with the current implementation I should estimate all the predictions and then update the metric, while in the case of accuracy I can update it