[2020-10-20 00:07] leezu commented on #19383
MXNet 1.4 may not be available for your Python version (assuming you're on MacOS), as your version of Python may be newer then MXNet 1.4: https://pypi.org/project/mxnet/1.4.0/#files

You can consider reporting an issue with datawig and ask them not to require MXNet 1.4 but any MXNet version < 2.

[2020-10-20 00:36] leezu opened #19384 "Python3: MKLDNN-CPU hangs"
[code]

https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-19374/runs/2/nodes/285/steps/439/log/?start=0

[2020-10-20 05:06] TaoLv commented on #19361
@pengzhao-intel @mgouicem could you please help to review the proposal? Many thanks!

[2020-10-20 05:09] pengzhao-intel commented on #19384
@anko-intel FYI

[2020-10-20 05:19] pengzhao-intel commented on #19361
It will be more convenient for setting FAZ to true by default. The only concern is that if it affects the training accuracy (suppose very limited).

We have encountered several performance issues with denormal computation in the past but only happen in the user's debugging mode by randomly generated numbers. Thus, I am not sure if this issue will be happening in real cases.

Let's wait for a while

[2020-10-20 06:23] josephevans commented on #19373
Ok, I believe I finally found the culprit. Our AMIs that are used for Jenkins slaves have auto-update turned on, and based on the logfiles of the slave instances, it looks like docker was being auto-updated and restarted, which was killing the log-output of the containers (and therefore jenkins jobs.)

I've created a new AMI for mxnetlinux_cpu hosts with updated software versions, which also adds

[2020-10-20 08:51] sugurbaris commented on #17633
@larroy What do you mean by "moving the definition / inserting declaration between header and cc files."? I encountered a similar error and couldn't find a solution for this. (for x64 build on VS 2015)

[2020-10-20 09:56] mozga-intel commented on #19265
Hi @Zha0q1
There’s a bug in oneDNN LSTM forward inference that results in using ~4x more memory for LSTM workspace in inference cases.
Could you please tell me whether this addressing (look at the table), is acceptable and it allows you to resolve any issues?

  | Before | After
-- | -- | --
The total size of memory needed to   allocate LSTM tensor (dim: 20756, 500) | 230 GB (~4x more memory) | 56

[2020-10-20 12:41] markbaumgarten commented on #18436
Or you can:

pip install mxnet==1.4

...which works for me.

[2020-10-20 21:00] mgouicem commented on #19361
Thanks @grygielski for the proposal. I definitely agree with the premise of this proposal: most users do not know/care about denormals and they just get in the way of good performance for some use cases.

For ease of use, I would encourage disabling denormals by default and go for option 2 or 4 (so set FTZ and DAZ), since the users that need denormals for accuracy usually know about denormals in t

[2020-10-20 21:03] Zha0q1 commented on #19265
@mozga-intel Thanks for you investigation! Yes, this improvement is huge and will help our users who run inference tasks on pre-trained models. It would be great to include this fix in the next oneDNN release

[2020-10-21 00:24] josephevans commented on #19373
CI seems much more stable today with the new AMI. Released an updated AMI to address ARMv8 test failures due to qemu installation. We should no longer be seeing the docker connection issues (or unexpected EOF errors) and 2 of 3 PRs to fix the other CI issue (expired GPG key) has been merged.

This issue can be closed.

[2020-10-21 00:40] sandeep-krishnamurthy commented on #19373
Thank you so much Joe.

[2020-10-21 03:10] TaoLv commented on #19361
Thanks for your comments, @mgouicem! @szha @leezu could you please help to review? If we want to address this on framework level, probably we need to clearly define the behaviors on different hardware platforms.

[2020-10-21 04:12] szha commented on #19361
I'd like to see if there are real use cases where denormal floats are legitimate use cases. @xidulu @szhengac is there any known cases where such precision is needed?

[2020-10-21 04:17] fuhaizhou commented on #11868
got the same error here, still not solutions so far? it has been almost two years since this is reported

[2020-10-21 04:28] #11061 closed

[2020-10-21 04:28] #19362 closed

[2020-10-21 05:05] xidulu commented on #19361
@szha
In gluon.distribution, floating number of very small value are often clipped to a minimum value to avoid numerical issue in downstream tasks, e.g.
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/probability/distributions/utils.py#L164-L172

The clip is very necessary, otherwise tons of NaN would come up when very small value are fed into OPs like `log`.

[2020-10-21 06:49] akashAD98 commented on #14059
you can use this command `pip install mxnet`

[2020-10-21 07:04] grygielski commented on #19361
@xidulu Thanks a lot for your user experience comment. In this case, using `np.finfo('float32').eps` returns the machine epsilon which is far from denormal number. Therefore, these 2 flags shouldn't affect your clipping. To create denormal number from machine epsilon you have to take it to ~6th power.
[code]

[2020-10-21 11:56] Neutron3529 commented on #19373
Seems the CI works now, close this issue.

[2020-10-21 11:56] #19373 closed

[2020-10-21 14:01] bgawrych commented on #19384
Hi @leezu,
I couldn't reproduce this issue, so I've investigated logs deeply and here is what I've deduced:
Log that you provided is not complete, other log from jenkins https://jenkins.mxnet-ci.amazon-ml.com/job/mxnet-validation/job/unix-cpu/view/change-requests/job/PR-19374/2/consoleText
shows logs from many parallel jobs and it's complete log.
You can copy this line to find same place in these

[2020-10-21 15:32] josephevans commented on #18793
I have a new Windows AMI created with Cuda 11.0 and docker, but having issues with testing. Builds work, but unit tests are failing with: OSError: exception: access violation writing 0x0000000000000000

I believe this may be due to OpenCV or OpenBLAS dependencies.

[2020-10-21 15:58] sangrey commented on #16187
Was this ever resolved or was a work around ever found?

[2020-10-21 16:42] leezu commented on #19384
Thank you for investigating @bgawrych and I'm sorry that I missed the `Aborted` line..

[2020-10-21 16:42] #19384 closed

[2020-10-21 16:58] leezu commented on #16187
You can consider trying https://github.com/apache/incubator-mxnet/tree/83797400128d41910d87e957131f29fd466f4777/example/extensions/lib_custom_op instead of the Python-level custom operator. But I'm not sure if it has been tested with conditional operator yet.

[2020-10-21 16:59] #14059 closed

[2020-10-21 17:01] samskalicky commented on #16187
Heres the full stack trace from the given example on v1.8 MX:
[code]
Its an error in the MXNet Python Custom Op, but on the C++ side

[2020-10-21 17:10] samskalicky commented on #16187
Simple fix seems to be adding `**kwargs` to the `IdentityOPProp` constructor like:
[code]
Now it works and prints:
[code]

[2020-10-21 17:50] sangrey commented on #16187
That does look like the issue we're having. I'll try that workaround. Thanks!

[2020-10-21 18:50] #19360 closed

[2020-10-21 21:19] szha commented on #15547
This has been resolved in https://github.com/apache/incubator-mxnet/pull/18574

[2020-10-21 21:19] #15547 closed

[2020-10-21 22:18] larroy commented on #17633
I think the function needs to be forward declared or defined in a way that the windows compiler sees the symbol, it's not the case now.

[2020-10-22 00:34] leezu commented on #18400
`ERROR at teardown of test_foreach`

https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-19336/runs/4/nodes/284/steps/420/log/?start=0

[2020-10-22 09:48] Yong-Hsu commented on #15908
same problem
I am trying to compile mxnet with tensorrt on jetson tx2

[2020-10-22 12:01] Neutron3529 opened #19405 "Missing `ElemwiseBinaryOp::DnsCsrDnsOp` implementation for cpu"
## Description
When I tried compiling v1.8.x and the newest v1.x, gcc told me
[code]
it seems that the `ElemwiseBinaryOp::DnsCsrDnsOp` implementation for CPU is missing.
I tried search such implementation in github, but found nothing.
What I should do if I want to compile v1.8.x?

[2020-10-22 13:00] ThariqRamadhan101 commented on #15540
I have this issue too. I get the same error but from a different model, I got it from https://github.com/onnx/models/tree/master/vision/body_analysis/arcface/model . Then I try to change the model to https://s3.amazonaws.com/onnx-model-zoo/arcface/resnet100.onnx (this link is not similar to yours, look closely). It works for me. Maybe there is some model with a different parameter. Which is not wo

[2020-10-22 14:37] szha commented on #19405
The release branches are verified by the CI with gcc so it's more likely an issue of stale source code/build. Have you tried building on a clean checkout?

[2020-10-23 10:04] code-wangshuyi opened #19418 "Please Add CUDA 11.1 support"
## Description
When I compile mxnet 1.5.0  use CUDA 11.1 ,because I bought two RTX 3080 gpus. I had to use CUDA 11.1, CUDA 10.x does't support new hardwares.

### Error Message
                 from /home/learner/data/incubator-mxnet/src/common/random_generator.cu:26:
/usr/local/cuda/bin/../targets/x86_64-linux/include/thrust/detail/config/cpp_dialect.h:104:13: warning: Thrust requires C++14. Plea

[2020-10-23 10:20] code-wangshuyi commented on #19418
I solved by myself,
Just alter this file _config.h_

its path is

_/usr/local/cuda/bin/../targets/x86_64-linux/include/thrust/system/cuda/config.h_

//#ifndef THRUST_IGNORE_CUB_VERSION_CHECK
#ifdef THRUST_IGNORE_CUB_VERSION_CHECK

[2020-10-23 22:15] sxjscience commented on #18766
I'll close this since it has been supported in horovod. Thanks @eric-haibin-lin and @leezu .

[2020-10-23 22:15] #18766 closed

[2020-10-23 23:05] barry-jin opened #19420 "[BUG] Fatal Python error when running GluonNLP pytest on MXNet linux nightly build"
## Description

1. Run GluonNLP [full suite of tests](https://github.com/dmlc/gluon-nlp/tree/master/tests) with `pytest` on `mxnet-cu102==2.0.0b20201022` will introduce threading error (see Error Message).
2. But run full suite of tests on `mxnet-cu102==2.0.0b20201016` will not introduce this error.
3. Also, run these tests separately will not introduce this error.

### Error Message
<details>
<su

[2020-10-24 05:48] Neutron3529 commented on #19405
I found some PRs mentioned about it ( #18357 #18761 )
I don't know why CI works, even if I clone the branch which passed CI, I failed to compile without merge that PR.

[2020-10-24 10:53] #19418 closed

[2020-10-24 14:27] #17870 closed

[2020-10-25 08:12] dibgerge opened #19422 "mx numpy to list conversion has different behavior than numpy"
## Description
When converting a 1-D `mxnet.numpy` array to list, the result is a list of arrays of size 1 each. In numpy, the result is a list of number. Is this behavior intentional?

## To Reproduce

[code]

## Environment

MxNet 1.7

[2020-10-25 18:11] #19367 closed

[2020-10-26 03:13] dibgerge opened #19423 "Unexpected behavior of np.random.choice"
## Description

When using `np.random.choice(num, size=num, replace=False)`, where `num` is the same for the input array, and size of output array, then I am always getting a sorted array, i.e. same as `np.arange(num)`.

The expected output is to have a shuffled version of `np.arange(num)`. This is the behavior of native numpy.

## To Reproduce

[code]

## Environment

Mxnet 1.7

[2020-10-26 04:17] xidulu commented on #19423
@dibgerge

I believe there exists a bug in my implementation.

You could temporarily use `np.random.shuffle` as a work around.

[2020-10-26 05:35] ZHEQIUSHUI opened #19424 "memory leak in Executor when inference in cpu !help!"
![image](https://user-images.githubusercontent.com/46700201/97136982-94414600-178f-11eb-8da0-fa89c13b2135.png)

i have try only run
[code]
it haven`t momery leak,,so i think the problem is not in here.
is my code wrong in use Executor?
thank you!

[2020-10-26 09:58] IAGLivingInDream commented on #13999
GPU 1060 6g -> compute_61,sm_61

[2020-10-26 16:09] leezu commented on #19422
The issue is also present on master. The problem is that numpy returns type `np.int64` in this case (shape `()`), whereas mxnet returns `mxnet.numpy.ndarray` with shape `(1, )`

[2020-10-26 16:40] samskalicky opened #19427 "[1.8.x] LICENSE needs update/review"
## Description
Per the [discussion on Apache general regarding the v1.8.0.rc1 vote](https://lists.apache.org/thread.html/r46f2e7d4ea34f4ac716bf7608f3d4c503975968d1840bc68f06479a2%40%3Cgeneral.incubator.apache.org%3E), we need to review and update our license file.

We need to review each [3rdparty submodule](https://github.com/apache/incubator-mxnet/tree/v1.8.x/3rdparty)'s LICENSE and update the c

[2020-10-26 16:58] leezu commented on #19427
An alternative is to stop redistributing the 3rdparty code an provide scripts for users to download the 3rdparty code during / before build configuration.

[2020-10-26 18:59] kpuatamazon commented on #19427
Regarding intgemm, I think #19406 covers me.  MIT (most code) and Boost and explicitly mentioned.

[2020-10-26 19:55] samskalicky commented on #19427
Thanks! Marked integemm as done.

[2020-10-26 23:51] szha commented on #19427
mshadow has already been handled with the merge. it's not whitelisted in rat-exclude and it's not actually 3rdparty anymore.

[2020-10-27 06:40] ZHEQIUSHUI opened #19430 "CPP resnet examples training acc does not increase,loss does not decrease"
## Description
(A clear and concise description of what the bug is.)

[code]

## What have you tried to solve it?

1.change lr
2.add LRScheduler

## Environment

windows x64 cpp
mxnet-v1.7.x compile with mkl (no cuda)

[2020-10-27 06:42] ZHEQIUSHUI commented on #13243
hey bro,did you have fixed it?i got the same issue,the acc and loss have change but just a little bit.....and acc does not increase
[code]

[2020-10-27 07:13] ZHEQIUSHUI commented on #19430
![image](https://user-images.githubusercontent.com/46700201/97268422-d9847700-1866-11eb-8fd2-50eeb1e44a5d.png)
got almost same acc and loss for each epoch....

[2020-10-27 07:13] ZHEQIUSHUI commented on #19430
@roywei dalao!!help!!

[2020-10-27 07:19] bgawrych commented on #19424
@ZHEQIUSHUI Can you provide more details like MXNet version, how you've built this package - also it would be helpful if you will post your net definition and input shapes

[2020-10-27 07:52] ZHEQIUSHUI commented on #19430
![2@CE9A~DCF~DWT5$E3U2P H](https://user-images.githubusercontent.com/46700201/97272020-4a7a5d80-186c-11eb-9eaf-a663a67b2853.png)
the pred vector got a same number???

[2020-10-27 09:26] ZHEQIUSHUI commented on #19424
@bgawrych the mxnet version is v1.7.x lastest.build with mkl(no cuda),input shape is bitchsize*3*107*108

and you view the other issue that i have report?

issue https://github.com/apache/incubator-mxnet/issues/19430

[2020-10-27 09:35] ZHEQIUSHUI commented on #19430
now!i make sure mlp.cpp and alexnet.cpp can normal train(acc increase,loss decrease),but resnet is still wrong.....i don`t know the issue is in net or train process.

i make the resnet in alexnet.cpp or alexnet in resnet.cpp,both of they got same issue(acc does not increase)...

[2020-10-27 09:47] ZHEQIUSHUI commented on #19430
@bgawrych

[2020-10-27 10:30] #19405 closed

[2020-10-27 12:47] bgawrych commented on #19430
I don't know if you're using example from _cpp-package/example/resnet.cpp_, but I couldn't run this example - I fixed it by replacing
`Xavier xavier = Xavier(Xavier::gaussian, Xavier::in, 2);`
with:
`Xavier xavier = Xavier(Xavier::gaussian, Xavier::out, 2);`
First run worked fine and net was learning, but second run shows similar issue with yours.
Probably it's problem with parameter initializatio

[2020-10-27 13:53] bgawrych commented on #19424
@ZHEQIUSHUI Can you check with debugger stack trace when memory leak happen? I can't reproduce this issue without network definition. Are you sure that this loop with memcpy is right?

[2020-10-27 14:42] ZHEQIUSHUI commented on #19424
@bgawrych can I get your email address?I can send your the net Json file and my inference code(if your have free time).thank your so much.I can make sure there is not memory leak except this function.thank you so much!

[2020-10-27 15:53] szha commented on #19427
@PatricZhao could someone on your team help verify mkldnn licenses?

[2020-10-27 16:18] samskalicky commented on #19427
Thanks @szha does this apply to ctc_include too?

[2020-10-27 16:38] ptrendx commented on #19427
There was no change in nvidia_cub licensing.

For onnx-tensorrt - there is a change to pybind licensing (3rdparty of onnx, which is 3rdparty of onnx-tensorrt), resolving https://github.com/apache/incubator-mxnet/issues/15547.

[2020-10-27 17:48] mikeseven commented on #16245
problem still here in latest code today, master branch, on MacOS latest with llvm 11.

[2020-10-27 18:27] samskalicky commented on #19427
Does this change include the [issues raised in the email thread](https://lists.apache.org/thread.html/r46f2e7d4ea34f4ac716bf7608f3d4c503975968d1840bc68f06479a2%40%3Cgeneral.incubator.apache.org%3E)? Is the pybind license up-to-date with these files:
1. ./3rdparty/onnx-tensorrt/third_party/onnx/third_party/pybind11/tests/test_gil_scoped.cpp
2. ./3rdparty/onnx-tensorrt/third_party/onnx/third_party/p

[2020-10-27 20:31] sandeep-krishnamurthy commented on #19427
@samskalicky - TVM is already covered -https://github.com/apache/incubator-mxnet/blob/v1.8.x/LICENSE#L235 what needs to be done here?

[2020-10-27 20:42] Zha0q1 commented on #19427
it looks like ctc_include uses the exact same apache 2.0 license as ours except for this line at the end of their license file
[code]

[2020-10-27 20:50] samskalicky commented on #19427
We need to review that there have not been any changes to files in TVM and its 3rdparty (and those 3rdparty's 3rdparty....etc), and that if any have changed that their licenses that we update our license.

[2020-10-27 21:13] sandeep-krishnamurthy commented on #19427
@szha @leezu => Is there a process to do this activity?

[2020-10-27 21:18] access2rohit commented on #19427
Quick question:
[code]
Some files have `Copyright (c) 2015 by Contributors`
and some have `Copyright (c) 2016 by Contributors`
does this line cover both `Copyright (c) 2015-2016 by Contributors` ? or do we need individual lines. If not then `ps-lite`'s licenses are included in MXNet's license file

[2020-10-27 21:33] access2rohit commented on #19427
The follwoing files have
[code]
have
[code]
instead of
[code]
as written in MXNet License file
[code]
Wee need to add another line
[code]
to point 5 in our license file

[2020-10-27 22:17] waytrue17 commented on #19427
For dmlc-core, we have the following items that are not included in our license:
dmlc-core/include/dmlc/any.h: `Copyright (c) 2016 by Contributors`
dmlc-core/include/dmlc/blockingconcurrentqueue.h: `Copyright (c) 2015 Jeff Preshing`
dmlc-core/include/dmlc/build_config_default.h: `Copyright (c) 2018 by Contributors`
dmlc-core/include/dmlc/concurrentqueue.h: `Copyright (c) 2013-2016, Cameron Desroch

[2020-10-27 22:28] #18889 closed

[2020-10-27 23:11] leezu commented on #19427
@sandeep-krishnamurthy I think the main issue here is that our LICENSE file may not currently list all dependencies of dependencies (submodules of the submodules). We can refer to "Dependencies of dependencies" section of https://infra.apache.org/licensing-howto.html

[2020-10-28 00:44] ZHEQIUSHUI commented on #19430
@bgawrych it is work!!!thank you so much!!!!

![image](https://user-images.githubusercontent.com/46700201/97376786-42b4ca80-18f9-11eb-8a53-0495b0196e4c.png)
but i use the same (dafult)parameter in python that is work.maybe there is any diff in internal.

[2020-10-28 00:48] ZHEQIUSHUI commented on #19430
[code]
they are work!

[2020-10-28 00:48] #19430 closed

[2020-10-28 07:54] tensorflowt opened #19435 "no libmxnet.so file after building"
## Description
MXNet Source：apache-mxnet-src-1.7.0-incubating.tar.gz
System version：Centos7
CUDA：10.2
CUDNN：7.6.5
CMAKE:3.18
OpenBLAS：installed

`cd apache-mxnet-src-1.7.0-incubating`
`make -j32 USE_OPENCV=0 USE_BLAS=openblas USE_CUDA=1 USE_CUDNN=1`

result:
![微信图片_20201028155202](https://user-images.githubusercontent.com/37217594/97407374-8e856500-1935-11eb-9f80-d6e4f50dee27.png)

How do I solve

[2020-10-28 08:52] rayjs opened #19436 "Bilinear Upsampler - GridGenerator Indexing"
In the line https://github.com/apache/incubator-mxnet/blob/master/src/operator/grid_generator-inl.h#L103
[code]

Should not this `scalar<DType>(param_.target_shape[1])` be  `scalar<DType>(param_.target_shape[0])`?
In this line
`
grid_dst[1] = scalar<DType>(-1.0) + tcast<DType>(tcast<int>(grid_dst[1] /
          scalar<DType>(param_.target_shape[1]))) * scalar<DType>(2.0/(param_.target_shape[0] - 1

[2020-10-28 09:55] ZHEQIUSHUI commented on #19424
@bgawrych i got the reason...because i use std::cout to log something....i am so sorry....thank you a lot!!!

[2020-10-28 10:14] ZHEQIUSHUI commented on #19424
@bgawrych the reason isn`t cout, i use the same code with v1.5.x,there is not memory leak,but v1.7.x.....

[2020-10-28 10:15] ZHEQIUSHUI commented on #19424
but the v1.5.x doesn`t compile with mkl....

[2020-10-28 10:24] bgawrych commented on #19424
@ZHEQIUSHUI You can create private repository on github with the code and give me an access to it. I will look at this

[2020-10-28 13:54] bartekkuncer commented on #19427
@szha @PatricZhao

For mkldnn we have:
_12. 3rdparty/mkldnn - For details, see, 3rdparty/mkldnn/LICENSE
          Copyright 2016-2019 Intel Corporation
          Copyright 2018 YANDEX LLC_
which is consistent with their LICENSE file, but there is also:
"Copyright 2020 Arm Limited and affiliates." in blas.cmake and .drone.yml files;
"Copyright 2020 Intel Corporation" and "Copyright 2016/7/8/9-2020

[2020-10-28 14:58] #19435 closed

[2020-10-28 19:14] Zha0q1 commented on #19427
openmp uses a customized version of the Apache License v2.0
[code]
Specifically
[code]
I am not sure if we should mention this in our  License.
~
~
~
~
Besides, openmp also has the following Licenses that are NOT included in our license file:
1.
[code]
2.
[code]
3.
[code]
4.
[code]

[2020-10-28 20:37] Zha0q1 commented on #19427
prepared a pr https://github.com/apache/incubator-mxnet/pull/19439

[2020-10-28 22:12] josephevans commented on #19427
@bartekkuncer Thanks for investigating, it's probably best to include it. Can you create a PR with this and the other changes you found?

[2020-10-28 22:34] Zha0q1 opened #19441 "numpy vdot grad issue"
This is how we define the numpy vdot operator. I think by calling `.flatten()` we basically create a copy of the input so the grad of the original input is not updated
[code]

[2020-10-29 00:08] josephevans commented on #19427
#19440 should have all license updates consolidated for all submodules.

[2020-10-29 00:41] ZHEQIUSHUI commented on #19424
i have try the same code in cpu with the same version mxnet(v1.7.x),but i have compile two libmxnet([just only cpu] and [with mkl]),i make sure the problem is the mxnet with mkl!!my code have not memory leak!

this is only cpu version mxnet
![QQ录屏20201029084031 00_00_00-00_00_30](https://user-images.githubusercontent.com/46700201/97511638-8293b480-19c2-11eb-9ff7-f4cefe93a120.gif)

this is with
![Q

[2020-10-29 02:43] pengzhao-intel commented on #19427
@anko-intel to take care

[2020-10-29 02:47] pengzhao-intel commented on #19427
@ciyongch do you have any sense for this part?

[2020-10-29 02:55] pengzhao-intel commented on #19430
Do you check-in the fix?

[2020-10-29 02:58] pengzhao-intel commented on #19424
@ZHEQIUSHUI thanks to reporting this issue and it's really important for us.
Could you help provide a reproducer? Maybe a proxy model is fine which will accelerate our debugging progress?

[2020-10-29 03:00] pengzhao-intel commented on #19265
Sorry for that and the team is working on fixing any possible issues. Feel free to ping us for any issue :)

[2020-10-29 06:18] ciyongch commented on #19427
Regarding 3rdparty/mkldnn, it seems there're some new files/license updates added in v1.6.4 (MX 1.8.x) compared to v1.3 (in MX 1.7.0), so we need to update the new license or statement in the top level LICENSE files to reflect the change as well.

I've the same questions on whether the year range is sufficient or not for the Copyright statement? For example, there're several different year (range)

[2020-10-29 13:55] bgawrych opened #19446 "net.optimize_for doesn't work with numpy semantics"
## Description
Forward pass after calling optimize_for with specific backend doesn't work. I'm not sure what this error mean, but found a way to overcome this (ugly way :))
Problem occurs on master and 1.x branches

### Error Message
[code]

## To Reproduce
[code]

## What have you tried to solve it?

1. Add `ConvertShapeAttrToNumPyCompatible(&g);` in `MXOptimizeForBackend`- doesn't help

@samskal

[2020-10-29 18:22] josephevans commented on #19427
@ciyongch I think it's fine to just update the range of years if the copyright holder is exactly the same.

[2020-10-30 01:26] ciyongch commented on #19427
Thanks @bartekkuncer to add the missing info for mkldnn.
Hi @samskalicky , mkldnn part should be covered by https://github.com/apache/incubator-mxnet/pull/19443, can be marked as DONE?

[2020-10-30 11:17] bgawrych opened #19453 "TopKAccuracy not working"
## Description
TopKAccuracy not working anymore - It was working for sure about ~2 weeks ago (maybe even 1 week)

### Error Message
[code]

## To Reproduce
Use example script from documentation
[code]

[2020-10-30 11:21] bgawrych commented on #19453
@mxnet-label-bot add [Gluon]

[2020-10-30 11:24] ZHEQIUSHUI commented on #19424
@pengzhao-intel of course.what do you need?

[2020-10-30 11:25] ZHEQIUSHUI commented on #19430
Fixed!the problem is in init!

[2020-10-30 16:31] samskalicky commented on #19427
Thanks everyone, after the #19440 and #19443 we've covered all the submodules. We need to do better about maintaining the LICENSE when updating submodules moving forward. I'll be sure to include this in the summary for the v1.8.0 release when it completes and we can followup on the mailing list.

Thanks again for everyone's help, it was great to see the community come together to address these iss

[2020-10-30 16:36] samskalicky commented on #19446
Thanks for the code to reproduce @bgawrych, I can reproduce on teh v1.8.x branch. will take a look

[2020-10-30 17:26] barry-jin opened #19454 "[Numpy] mxnet.np.dtype() falls back to official NumPy function numpy.vander()"
## Description
Calling mxnet.np.dtype() will fall back to official NumPy function numpy.vander() rather than numpy.dtype().

### Error Message
[code]

[code]

## To Reproduce
[code]

## What have you tried to solve it?

1.
2.

## Environment

***We recommend using our script for collecting the diagnostic information with the following command***
`curl --retry 10 -s https://raw.githubusercontent.co

[2020-10-30 18:30] barry-jin commented on #19454
It looks like some other mxnet numpy operators in [mxnet/numpy/fallback.py](https://github.com/apache/incubator-mxnet/blob/0faecf01eddc781793927cb7cb9415310e9b21a2/python/mxnet/numpy/fallback.py#L24-L113) also fall back to official numpy.vander().

[code]

[2020-10-30 22:01] #19441 closed

[2020-10-30 23:34] ptrendx opened #19458 "Wrong handling of workspace in backward of numpy tensordot operator"
## Description
The backward pass of tensordot (both regular and the integer version) operator uses workspace to store intermediate value, but then uses `ReduceAxesComputeImpl`, which also uses workspace). See e.g. here:
https://github.com/apache/incubator-mxnet/blob/bd55002/src/operator/numpy/np_tensordot_op-inl.h#L420-L428

Since there is only a single workspace storage in MXNet, this means that

[2020-10-31 17:25] szha commented on #19458
good catch. it should be refactored to use stateful op instead.

[2020-11-01 06:32] pribadihcr opened #19461 "Failed run example/multi_threaded_inference"
Hi ,
I got an message error when run multi_threaded_inference example.
apache-mxnet-src-1.7.0-incubating/include/mxnet/base.h:459: Check failed: e == cudaSuccess (3 vs. 0) :  CUDA: initialization error

[2020-11-02 01:36] johncaling40 opened #19462 "\Microsoft.Cpp.Default.props" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk."
## Description
I get error `\Microsoft.Cpp.Default.props" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk.`
### Error Message
[code]

## To Reproduce
n/a

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. Everything [here](https://mxnet.apache.org/versions/1.7.0/get_started/windows_setup#build-from-source)

[2020-11-02 07:11] sxjscience commented on #19458
@hzfan @reminisce @haojin2  I think we have the discussion about multiple workspaces before. Would you help provide some contexts on this?

[2020-11-02 07:14] sxjscience commented on #19423
@xidulu Would you have time to fix it? This is an important random op.

[2020-11-02 07:18] sxjscience opened #19463 "[Bug][AMP][2.0] AMP issue of the concatenate operator"
## Description
Reproducible example:

[code]

Output:

[code]

@mk-61 Would you take a look on this? I'm not super familiar with the amp code so it may take me more time to resolve this issue.

[2020-11-02 07:44] bgawrych commented on #19424
@ZHEQIUSHUI we need minimal part of your model that causes this memory leak, currently we don't even know which operators you're using

And as I said before, if you're still ok with that:

[2020-11-02 12:40] akarbown commented on #18255
Hi @leezu and @TaoLv, I didn't know whether this issue is solved or not. Thus, I tried to reproduce & check it on the latest master (and also at some builds from the March, 2020) but couldn't. I compiled mxnet with the following command line: ```' cmake -GNinja -DUSE_MKLDNN=0 -DMKL_USE_STATIC_LIBS=0 -DUSE_CUDA=0 -DUSE_BLAS=mkl ..; ninja'``` and get the following output:
[code]
Should I set somethi

[2020-11-02 12:45] akarbown commented on #19150
Hi @haohuanw, could you please verify the fix on your side?

[2020-11-02 14:42] xidulu commented on #19423
@sxjscience
Unfortunately, I do not have enough free time to look into this issue until this weekend. Also, I don't have computation resources for debugging the Op. But I could still provide help and information regarding the information as much as I could.

[2020-11-02 15:28] ptrendx commented on #19458
@szha I don't think one would need stateful op there, just allocate the larger workspace that can hold both the intermediate result and the workspace for reduction.

[2020-11-02 17:00] leezu commented on #19255
As of 3f436fb @with_seed is only used in ndarray large tensor nighlty tests: https://github.com/apache/incubator-mxnet/blob/3f436fb1fe1a839f6f5d981e3ec626cd840045df/tests/nightly/common.py and I think we can thus close this issues

[2020-11-02 17:00] #19255 closed

[2020-11-02 18:02] #19446 closed

[2020-11-02 19:32] #19265 closed

[2020-11-02 19:42] ptrendx commented on #19458
Same problem in `MomentsForwardImpl`: https://github.com/apache/incubator-mxnet/blob/33d94f1d59335f504ed5b9a7b32f0e81a5d5da56/src/operator/nn/moments-inl.h#L136-L141

[2020-11-02 19:45] ptrendx commented on #19458
There is a lot of copy-paste in the implementation of various numpy ops - they should be reviewed. Maybe we could make a test pipeline with a warning if someone tries to access `ctx.requested[0].get_space_typed` more than once in a given operator and review those usages?

[2020-11-02 19:49] sxjscience commented on #19458
I raised the concern before to @reminisce and @haojin2 but there were some discussions that mentioned that we can have multiple workspaces.

[2020-11-02 20:55] haojin2 commented on #19458
@ptrendx Please refer to the new impl for numpy which uses a pre-allocated workspace to avoid this problem at: https://github.com/apache/incubator-mxnet/blob/master/src/operator/numpy/np_broadcast_reduce_op.h#L666-L694. the `MomentsForwardImpl` you posted is not serving any numpy operator

[2020-11-02 21:12] ptrendx commented on #19458
@haojin2 Sure (I'm actually folding that implementation back to the original for code reuse but anyway), but this function is not used in the examples I showed.

I did see multiple examples of this, including some that I am fixing in my #19426 PR (like this in numpy kron: https://github.com/apache/incubator-mxnet/blob/master/src/operator/numpy/np_kron-inl.h#L229-L234). It just feels that whatever

[2020-11-02 21:21] sxjscience commented on #19458
I've checked the implementation, the way to solve the problem is to create a large workspace, pre-compute the size of the workspace required by reduce and then slice the large workspace:

Example code in LayerNorm: https://github.com/apache/incubator-mxnet/blob/33d94f1d59335f504ed5b9a7b32f0e81a5d5da56/src/operator/nn/layer_norm-inl.h#L247-L271

[2020-11-02 21:49] sxjscience commented on #19458
Discussed offline with @reminisce and he mentioned that there are four issues in https://github.com/apache/incubator-mxnet/issues/15732

[2020-11-02 21:53] ptrendx commented on #19458
@sxjscience I don't think that is relevant - `MXNET_GPU_TEMP_SPACE` does not let you request multiple allocations. AFAIK, what it does is enabling multiple workspace resources, so that more than 1 operator that needs workspace can run at the same time (but each operator gets only 1 workspace resource out of the pool).

[2020-11-02 21:56] sxjscience commented on #19458
Okay, I was not aware of this. If that's the case, we should definitely need to fix these operators.

[2020-11-02 22:38] reminisce commented on #19458
@ptrendx I believe @sxjscience was referring to something that should have advocated for developing operators requiring a series of calls to other operators with multiple temp spaces. In fact, assigning multiple `KTempSpace` to an op's attribute `FResourceRequest` should allow you to request multiple allocations. It's just that it's disallowed by a hard-coded check here due to some historical reas

[2020-11-02 23:18] ptrendx commented on #19458
I agree that the developer experience is lacking here. That said, using multiple workspaces to solve this is not great - you end up with memory fragmentation and potentially much higher memory consumption overall because of this.

I would argue that the proper way of handling of the developer experience should be better structure of the code (so that you do not take a random piece of the other ope

[2020-11-03 00:10] reminisce commented on #19458
@ptrendx If I understand your argument correctly, it seems the mechanism of returning the workspace from the context and resetting the counter similarly leads to the potential problem of memory fragmentation? Also, resetting the temp space in a callee would require copying the data from the original context to the bigger one would cause performance degradation. I believe it's a decision about the

[2020-11-03 00:41] ptrendx commented on #19458
No no, by returning the workspace I did not mean actual freeing of memory - just an indicator to the developer that whatever workspace they were using before is no longer valid, the actual handling of workspace by the backend would stay the same.
Basically there are 2 scenarios here:
1. where limit to the number of times I can request workspace from context is enough:
 - I asked for some memory
 -

[2020-11-03 15:29] szha commented on #19458
Attention needs to be paid to memory alignment when dtypes for different chunks are different. It didn't matter in this example.

[2020-11-03 15:42] ptrendx commented on #19458
Yes, I think we should add overload to `get_space_typed` to take "multiple" workspaces (as in, still single allocation but with all the alignment etc. taken care of for the operator developer).

[2020-11-03 15:49] sxjscience commented on #19458
One example about alignment (Use PadBytes for padding): https://github.com/apache/incubator-mxnet/blob/ea222a355005fb3f13fe422fcab7caab53999dfd/src/operator/tensor/ordering_op-inl.h#L579-L617

[2020-11-03 15:52] ptrendx commented on #19458
Yup, that padding logic should be handled by the call to take workspace, not by each operator separately.

[2020-11-03 16:22] vidyaravipati opened #19467 "[BUG] [TUTORIAL]Mxnet2.0 crashcourse was not reflecting on website"
## Description
(A clear and concise description of what the bug is.)
The new crash course material which is merged as part of [PR](https://github.com/apache/incubator-mxnet/pull/19345)  is not being reflected on the [website](https://mxnet.apache.org/versions/1.6/api/python/docs/tutorials/getting-started/crash-course/index.html)

### Error Message
(Paste the complete error message. Please also inc

[2020-11-03 17:05] ptrendx commented on #19316
@leezu I'm working on this now. There is something fishy going on here - I tried reproducing it by compiling `v1.8.x` branch and the test passed. I also tried the pip package that you tried in your PR in GluonNLP, and that one failed. I will try to figure out where does the difference come from.

[2020-11-03 20:43] Zha0q1 commented on #19467
There was a minor git identity issue in our publish pipeline. It should be resolved now.
https://mxnet.apache.org/versions/master/api/python/docs/tutorials/getting-started/crash-course/index.html

[2020-11-03 20:47] leezu commented on #19467
Thank you @Zha0q1!

[2020-11-03 20:47] #19467 closed

[2020-11-03 23:49] sxjscience commented on #19463
Removed the `needs triage` because @mk-61 is able to reproduce the issue per offline discussion.

[2020-11-04 02:45] leezu commented on #18255
Thanks @akarbown for following up on this issue. I first noticed the failure reported here due to the CI failure of https://github.com/apache/incubator-mxnet/pull/17794 It would previously immediately abort.

I rebased the PR and included an update to the latest MKL version. Now the CI does not immediately abort but there are still 20 failed (aborted) tests. Perhaps there has been a change in MKL

[2020-11-04 09:07] pribadihcr commented on #16674
any solution?. got the same error

apache-mxnet-src-1.7.0-incubating/src/engine/threaded_engine_perdevice.cc:131: Check failed: ctx.dev_mask() == Context::kGPU (1373401408 vs. 2) :

[2020-11-04 17:09] sxjscience opened #19472 "[Bug][2.0] GluonNLP BART model float16 error"
## Description
Tried to use the GluonNLP BART model with amp but met with a  weird error:

What I'm doing is the following:
- Create FP32 model
- FP32 forward
- Create FP16 model
- Share the weights of FP32 model to FP16 model
- FP16 forward
- Turn on AMP
- FP32 forward (Trigger error).

To reproduce, you will first need to install the master version of GluonNLP:

[code]

[code]

### Error Message

[2020-11-04 17:17] leezu opened #19473 "CI ThreadedEngine Segfault related to __repr__"
[code]

https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-19470/runs/1/nodes/286/steps/426/log/?start=0

Segfault is similar to https://github.com/apache/incubator-mxnet/issues/18314 https://github.com/apache/incubator-mxnet/issues/18998

For now it is unclear why pytest even triggers the call to `__repr__` .

[2020-11-04 17:18] leezu commented on #14994
https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-gpu/branches/PR-19470/runs/1/nodes/143/steps/215/log/?start=0

[2020-11-04 17:25] szha commented on #19472
the reported line of error is `model_fp16(src_data, src_valid_length, tgt_data, tgt_valid_length)`, which hasn't invoked amp yet. what's the expected behavior for sharing parameters and then casting the model to fp16?

[2020-11-04 17:29] leezu commented on #19473
Hypothesis: PyTest is calling `__repr__` on an uninitialized (failed during `__init__`) or freed (`__del__` was called) array. This will cause a segmentation fault as the ndarray pointer will point to undefined memory.

https://github.com/pytest-dev/pytest/issues/4659

[2020-11-04 17:56] sxjscience commented on #19472
Removed the amp-related code:

[code]

[2020-11-04 17:59] sxjscience commented on #19472
In fact, directly casting the original model to float16 does not work also:
[code]

[2020-11-04 18:06] sxjscience commented on #19472
Closed as I noticed it's a problem caused by GluonNLP implementation.

[2020-11-04 18:06] #19472 closed

[2020-11-04 18:10] barry-jin commented on #19420
## Update
### To Reproduce
It is able to reproduce this error by running a small set of tests.
[code]
<details>
<summary>Error Message</summary>

[code]

</details>

### Possible memory leak.
There is possible GPU memory leak when running `test_models.py::test_tvm_integration` on 10.22 nightly release.
[code]

<img width="1792" alt="Screen Shot 2020-11-04 at 9 39 48 AM" src="https://user-images.gi

[2020-11-04 19:53] #18593 closed

[2020-11-04 21:27] leezu commented on #14994
Flaky test is annotated in source via `@pytest.mark.flaky` now. It may be easier to track the flaky tests via source grep and we can close this issue

[2020-11-04 21:27] #14994 closed

[2020-11-04 23:31] jmracek opened #19477 ""UnboundLocalError: local variable 'dshapes' referenced before assignment" when using quantize_net_v2 with calib_data=None"
https://github.com/apache/incubator-mxnet/blob/2e33e961b6339f32680e38aa72ac28bc94215460/python/mxnet/contrib/quantization.py#L897

Pretty straightforward bug.  If `calib_data is None` then `dshapes` is never assigned and this line will throw an error.

[2020-11-05 01:55] #19473 closed

[2020-11-05 01:58] leezu commented on #18564
Also affects test_aggregate_duplication

https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/master/runs/2376/nodes/278/steps/356/log/?start=0

[2020-11-05 07:04] Light-- opened #19479 "mxnet 1.7.0 src/executor/infer_graph_attr_pass.cc:675: Check failed: is >> rshape[out_ent_id] Invalid attribute"
## Description
constructed simple model, but throw out dmlc error

### Error Message
[code]
## To Reproduce
run the minimal code example
### Steps to reproduce
1. install mxnet-cu101 1.7.0
2.run the code
[code]

## What have you tried to solve it?

1. this error has not reported before in mxnet-cu90 1.6.0
2. [this solution](https://github.com/apache/incubator-mxnet/issues/7981) can not fix it, i d

[2020-11-05 16:37] szha commented on #19479
@Light-- `simple_bind` takes the shape (not the data) of a symbol variable. The correct usage is
[code]
See [`Symbol.simple_bind`](https://mxnet.apache.org/versions/1.7.0/api/python/docs/api/symbol/symbol.html#mxnet.symbol.Symbol.simple_bind)

[2020-11-05 16:37] #19479 closed

[2020-11-05 16:44] leezu commented on #18986
https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-19478/runs/1/nodes/108/steps/133/log/?start=0

[2020-11-05 17:27] MOAZ47 commented on #3985
Hi, I would like to know how did you solve your json load issue. I am facing a similar issue, and have tried the things in this thread, but none of them work. This is the error I see,

`/usr/local/lib/python2.7/dist-packages/mxnet/symbol/symbol.pyc in load_json(json_str)
   2750         raise TypeError('fname required to be string')
   2751     handle = SymbolHandle()
-> 2752     check_call(_LIB.M

[2020-11-05 17:45] leezu commented on #3985
@MOAZ47 your file is invalid. It's a html file but we expect a json file.

[2020-11-05 19:14] bricksdont commented on #18922
Does this mean that it would be possible to save and load (set) the exact state of a random generator, as opposed to only being able to set an initial seed?

This would be great to have, also for debugging purposes. For instance, a bug that I opened:

https://github.com/apache/incubator-mxnet/issues/19073

could be debugged if the random state itself could be saved and loaded.

[2020-11-05 20:13] leezu commented on #10278
Still happening. Marked as flaky in https://github.com/apache/incubator-mxnet/pull/19482

https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/PR-19480/runs/1/nodes/176/steps/240/log/?start=0

[2020-11-05 21:48] ptrendx commented on #19316
Update: the code generation itself seems to be working fine - it is the subgraph it gets that is wrong. I'm not yet sure if this is fault of some bug in common subexpression elimination (since with `export MXNET_ELIMINATE_COMMON_EXPR=0` the bug does not repro) or with the fusion graph pass.

[2020-11-06 01:47] Light-- commented on #647
any guidance here? how to save the multi-output symbol?
i used this,
[code]

but failed....
[code]

i don't know why, because when i run single-task network, ```_sym = all_layers['fc1_output'] ``` worked.
@tqchen @pluskid @piiswrong @ChrisYang

[2020-11-06 01:56] CaiqingJian opened #19484 "An error in calculating a large number"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=100` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2020-11-06 04:42] mifan0208 opened #19485 "use DCNv2-BUG"
when I use DCNv2,the dataloader will not work,but when I use origin Conv,it will work normally.Why?

[2020-11-06 07:29] ZHEQIUSHUI commented on #19424
hey @bgawrych @pengzhao-intel i just create a new  repository and invited you to it,you can come if you need the model json file.

[2020-11-06 07:29] ZHEQIUSHUI commented on #19424
i closed this issue

[2020-11-06 07:29] #19424 closed

[2020-11-06 10:02] grygielski commented on #19323
@leezu I think we can close it since https://github.com/apache/incubator-mxnet/pull/19466 has been merged

[2020-11-06 17:00] ptrendx commented on #19316
Another update - the problem comes from the eliminate common expressions. In the model there seem to be 12 `reshape`s of the same input, each followed by 12 `expand_dims`. In the correct execution, they all get squashed to a single `reshape` followed by `expand_dims`, but in the wrong execution the `reshape`s get squashed into 1, but the (12*12=)144 `expand_dims` do not, resulting in a fused opera

[2020-11-06 18:39] sxjscience commented on #19073
@bricksdont The binary search here does not seem to be correct: https://github.com/apache/incubator-mxnet/blob/9d440868603ad26b702e12ddd2587e5c4b56e42b/src/operator/random/sample_multinomial_op.h#L128-L143

We may choose to directly use the discrete distribution in std c++ http://www.cplusplus.com/reference/random/discrete_distribution/ @xidulu

[2020-11-06 18:49] sxjscience commented on #19073
@bricksdont Would you be willing to help fix it? To reproduce the wrong behavior, let's consider
[code]

Output:
[code]

[2020-11-06 19:07] #19323 closed

[2020-11-06 19:26] ptrendx commented on #19316
Ok, that was pretty stupid. The reason why `expand_dims` were not squashed in the official pip wheel for 1.7 and 1.8 is because common expression elimination does not currently try to squash operators that use any `ResourceRequest` (even though it could if the request is `kTempSpace`) and with MKLDNN `expand_dims` actually requests `kTempSpace`. 1.6 had mkldnn off by default (so worked), but 1.7 a

[2020-11-06 19:31] bricksdont commented on #19073
Hi @sxjscience, thanks for reviving this issue and providing a **much** simpler way to reproduce!

Unfortunately, I lack the C++ skills to read this reliably and fix it. I hope someone else can take this on.

[2020-11-06 20:17] sxjscience commented on #19073
Also ping @zixuanweeei @pengzhao-intel

[2020-11-07 03:12] leezu commented on #19485
Please provide a minimal example to reproduce the bug

[2020-11-07 03:24] leezu opened #19490 "pytest xdist internal error"
[code]

https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/PR-19488/runs/1/nodes/175/steps/250/log/?start=0

[2020-11-07 03:30] #19316 closed

[2020-11-07 03:30] leezu commented on #19316
Thank you @ptrendx!

[2020-11-07 06:19] #15832 closed

[2020-11-07 06:34] xidulu commented on #19073
@sxjscience
The implementation of the binary search is correct.
The problem behind is that the binary search would return the index of the first element larger or equal to `value`. When no such element is found, i.e. `value` is larger than all elements in [0, K), index K will be returned, which is invalid.
In such case, one should add a special check after the loop, just like the origin version of

[2020-11-07 14:30] mifan0208 commented on #19485
@leezu I just changed the base network resnet152 or res101 which is as backbone in ssd.from second to fourth ,change
The original conv:
nn.Conv2D(channels=out_channel,kernel_size=3,strides=stride,padding=1,
                        use_bias=False,in_channels=in_channel)

changed conv:
gluon.contrib.cnn.ModulatedDeformableConvolution(channels=out_channel,kernel_size=3,strides=stride,

[2020-11-07 14:48] mifan0208 commented on #19485
@leezu and I use the dcnv1,the model train normally,but  the model con't convergence？Why? Thankyou for your response.

[2020-11-08 00:05] #19232 closed

[2020-11-08 00:09] leezu opened #19494 "Bus error in create_sparse_array after test_sample_multinomial_num_outputs"
"Bus errors are generally caused by applications trying to access memory that hardware cannot physically address" https://stackoverflow.com/questions/36970110/how-to-determine-the-cause-for-bus-error

[code]

https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/leezu-patch-3/4/pipeline

[2020-11-08 05:04] sxjscience opened #19495 "Boolean type bug"
[code]

[2020-11-08 05:12] sxjscience commented on #19495
Also see https://www.tensorflow.org/guide/autodiff#3_took_gradients_through_an_integer_or_string.

[2020-11-09 01:27] HotFrom opened #19496 "c:\incubator-mxnet\src\operator\tensor\../../common/cuda/rtc/vectorization-inl.h(448): error C2398: FREOM “1”: TO “const int” “unsigned int”requires a narrowing conversion [C:\incubator-mxnet\build\mxnet_75.vcxproj]"
[code]

[2020-11-09 06:39] wy3406 opened #19498 "SyncBN causes the memory to gradually increase with iteration"
## Description
(A clear and concise description of what the bug is.)

- I have a few issues/questions regarding SyncBN
When using BN training in custom image segmentation, the memory is normal. But when I replaced BN with SyncBN, I found that the GPU memory gradually increased with iteration until it occupied the entire GPU memory,then the training is stuck. I try to use a smaller batch than BN, w

[2020-11-09 07:48] seekFire opened #19499 "cudaMalloc retry failed"
## Description
Error occurs in logging stage:
[code]

### Error Message
[code]

## Environment
Python3.7
mxnet-cu102==1.7.0

So could you please help me with these questions?

[2020-11-09 08:53] akarbown commented on #18255
I did a small research. Got the repro of the issue. Determined that MKL libraries static linking (```-DMKL_USE_STATIC_LIBS=1```) results in the following passrate: ```1 failed, 10236 passed, 151 skipped, 1 xpassed```, while turning off the MKL libraries static linking results in: ```23 failed, 7849 passed, 33 skipped```.
Then I back to the MKL dynamic libraries, did LD_PRELOAD of them before runni

[2020-11-09 10:28] bgawrych commented on #19022
@Zha0q1 @pengzhao-intel @szha Fix is already merged in all branches - Can we close this issue?

[2020-11-09 10:35] pengzhao-intel commented on #19022
closing as @bgawrych mentioned.

[2020-11-09 10:35] #19022 closed

[2020-11-09 11:16] akarbown commented on #19150
@samskalicky, could you please tell me who should I ask for verification of that bug in order to close it?

[2020-11-09 11:32] bgawrych commented on #19424
@ZHEQIUSHUI Would you mind to share also inference code in github repository?

[2020-11-09 12:07] grygielski commented on #19477
Hi @jmracek thanks for reporting this bug. I've submitted a quick fix: https://github.com/apache/incubator-mxnet/pull/19501

[2020-11-09 14:36] kpuatamazon opened #19502 "CI slowdown on CentOS CPU related to OpenMP and intgemm"
## Description

intgemm is a 3rd-party library written by me and included as a submodule. Unrelated continuous integration tests were going slower afterwards on CentOS 7 CPU.  This has been discussed in comments on https://github.com/apache/incubator-mxnet/commit/13936020d4cc3ccb2d4192adccaa282cef509193#commitcomment-43224930 .

After losing several hairs, the issue appears to be OpenMP support in

[2020-11-09 16:37] leezu commented on #19502
Another hypothesis is that the slowdown results from an interaction of the llvm openmp linked by mxnet + the gcc 7 openmp (?) provided by devtoolset 7 on centos. Let's try if the issue persists when only linking one openmp implementation.

[2020-11-09 16:41] leezu commented on #19498
Please provide a short example that can reproduce the bug. That will make it easier to identify and fix the memory leak

[2020-11-09 17:38] samskalicky commented on #19150
Hi @akarbown I pinged @haohuanw with a reminder. We can close this issue since the fix is in #19299 if we dont hear from him by tomorrow.

[2020-11-09 17:39] akarbown commented on #19150
Thank you!

[2020-11-09 18:00] kpuatamazon commented on #19502
The Centos 7 OpenMP performance is terrible.

To test @leezu 's hypothesis, I created a branch https://github.com/kpuatamazon/incubator-mxnet/tree/removeopenmp without the 3rdparty OpenMP.  This means there should only be the OS-/compiler-provided OpenMP.

The same test above took 542.95s with intgemm's CMakeLists.txt as is, and 539.99s with my OpenMP commented out like below.  No real difference

[2020-11-09 18:04] leezu commented on #19502
Thank you for testing this @kpuatamazon! If the slowdown is solely due to the CentOS 7 OpenMP, it implies that we should also enable 3rdparty/openmp in the static builds distributed by others on pypi etc. It was previously disabled for consistency with the old Makefile staticbuild.

https://github.com/apache/incubator-mxnet/blob/564c6d307e3439c1e5bb9bbd7e82d6744bea6a83/CMakeLists.txt#L412

Further

[2020-11-09 18:22] leezu commented on #19502
On the CD test pipeline (which uses the system provided openmp), I observe on Aug 30 2020:

[code]
https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/restricted-mxnet-cd/pipelines/mxnet-cd-release-job/runs/1633/nodes/250/steps/288/log/?start=0

and on Sep 1 (after intgemm was merged)

[code]
https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipeli

[2020-11-09 18:26] leezu commented on #19502
We can compare the test commands on the CD

https://github.com/apache/incubator-mxnet/blob/3042df0b77049257a0b853606e69778cec24fd4b/ci/docker/runtime_functions.sh#L747-L785

to the ones on the CI (where the slowdown is observed)

https://github.com/apache/incubator-mxnet/blob/3042df0b77049257a0b853606e69778cec24fd4b/ci/docker/runtime_functions.sh#L873-L882

[2020-11-09 19:02] leezu commented on #19502
I can reproduce the difference in perforamce between CD CentOS setup and CI CentOS setup locally.

For CD setup, I use
[code]

and for CI setup I use

[code]

In both cases I have modified the cmake file to remove intgemm:

[code]

and deleted the `3rdparty/openmp` folder.

[2020-11-09 19:38] szha commented on #19499
Hi @seekFire. Because MXNet execution is asynchronous, the OOM error likely happened earlier. I'd suggest reducing model size or batch size to make it fit in your current GPU. If you have reason to believe that the current setting should fit in your GPU memory, it would be helpful if you elaborate on that so that I can take a closer look.

[2020-11-09 21:10] leezu commented on #19490
Closing based on https://github.com/apache/incubator-mxnet/pull/19491

Please reopen if issue persists

[2020-11-09 21:10] #19490 closed

[2020-11-09 22:28] leezu commented on #19502
@kpuatamazon removing the test coverage instrumentations from the centos build brings the test back to `24.18s`.

I suspect that the test coverage instrumentation would never be part of llvm OpenMP (3rdparty/openmp) due to
https://github.com/apache/incubator-mxnet/blob/551a8d3e94cfa033a933a5aaafafcc0b23ecedcf/CMakeLists.txt#L401

However, as intgemm pulls in the system openmp the coverage instrume

[2020-11-10 01:23] wy3406 commented on #19498
@leezu In the following example, nvidia-smi shows that the memory grows slowly as the iteration progresses
[code]

[2020-11-10 06:40] seekFire commented on #19499
@szha Thank you for your suggestion! When I turn down the batch size to 2 on one GPU it works ok, I'm just surprised that the batch size is so low when training with HRNet-W18 for segmentation...
BTW, when I trained the model with one GPU, the batch size can not even be set to 4, but when I trained with 4 GPUs, it will works fine with batch_size = 4, I just wonder what's the difference between the

[2020-11-10 06:45] haohuanw commented on #19150
sorry I don't really have time on my side to test on the fix but I am also not blocked on this change. feel free to resolve it if we have unit tests that can verify change works.

[2020-11-10 07:37] bricksdont commented on #19073
@xidulu Thanks! What exactly do you suggest be changed in the code? Could you open a PR for this?

[2020-11-10 12:34] xidulu commented on #19073
In short, you could add a check after the while loop (before https://github.com/apache/incubator-mxnet/blob/9d440868603ad26b702e12ddd2587e5c4b56e42b/src/operator/random/sample_multinomial_op.h#L141) to see if left == K (which is not in [0, K) ),  if that happens, you should manually call `left--` before so that the result still lies in [0, K).

I would love to help you but unfortunately I currentl

[2020-11-10 13:08] zhaoxin111 commented on #10187
please check your gcc version, I solve the it by set gcc=5.4

[2020-11-10 13:51] seekFire commented on #19499
@szha Another question is, the loss value not only doesn't decrease, but also changes back and forth between several fixed values during training, what do you think is the possible reason for this?

[2020-11-10 15:35] leezu opened #19511 "segfault after test_scalar_tensor_creation on windows"
https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-19509/runs/1/nodes/108/steps/147/log/?start=0

[code]

[2020-11-10 15:38] #19502 closed

[2020-11-10 16:43] szha commented on #19499
Is this a per-GPU batch size? I imagine it has to do with the input image sizes.

[2020-11-10 20:15] grygielski commented on #19477
@jmracek Fix for this Issue has been merged to v1.x branch. If that's fine for you, you can close this issue.

[2020-11-10 20:49] mk-61 commented on #18697
Hi @szha, why do you want to implement AMP with a graph pass? Which aspects of the current approach do you expect to improve by switching to a graph pass?
One drawback of the Python-side monkey patching I see is that it is sensitive to how various ops are registered on the client side - NumPy vs legacy, imperative vs hybridized, etc. - ideally, we want to handle this in a uniform way, since we don

[2020-11-11 01:42] leezu commented on #18986
Also crashes on Linux. Repro via:

`MXNET_TEST_SEED=1492532915 python3.8 -m pytest tests/python/unittest/test_numpy_contrib_gluon_data_vision.py::TestImage::test_bbox_augmenters`

[2020-11-11 01:46] leezu commented on #18986
@zhreshold please see the deterministic reproducer in the comment above.

[2020-11-11 02:16] leezu commented on #18986
https://github.com/apache/incubator-mxnet/blob/a2b400c72e4069a2ee531a969fa874bef109a763/src/operator/image/image_random-inl.h#L836-L880

[code]

[code]

[2020-11-11 03:11] saudet commented on #17783
Here's another potential benefit of going with a tool like JavaCPP. I've started publishing packages for TVM that bundle its Python API and also wraps its C/C++ API:
 * https://github.com/bytedeco/javacpp-presets/tree/master/tvm

Currently, the builds have CUDA/cuDNN, LLVM, MKL, and MKL-DNN/DNNL/oneDNN enabled on Linux, Mac, and Windows, but users do not need to install anything at all--not even C

[2020-11-11 06:07] seekFire commented on #19499
@szha Yes, you're right, and the input image size is 512*512

[2020-11-11 11:10] seekFire commented on #19499
@szha
Well, I think this question is not important for me, as long as the model can be trained with at least one image per batch...BTW, when I run some script like below under the shell environment, it works OK:
[code]
But the reshape operation in my custom metric function will generate error during training:
`labels = labels.transpose((0, 2, 3, 1)).reshape(0, -3, -1).argmax(-1)`

The error messag

[2020-11-11 18:13] leezu commented on #19499
Have you enabled the numpy compatible mode? `use_np` or `set_np`?

[2020-11-11 22:25] #18986 closed

[2020-11-11 22:57] mseth10 commented on #18887
Done in #18690

[2020-11-11 22:57] #18887 closed

[2020-11-12 04:31] seekFire commented on #19499
@leezu
No, I don't. but the type of the tensor manipulated is **mxnet.ndarray.ndarray.NDArray** rather than **numpy.ndarray**, the special values like 0, -1, -3 are defined in the function **reshape** of **mxnet.ndarray.ndarray.NDArray**, and when I used the older version of mxnet(1.5.0), there has no such error... So I guess whether or not it is a bug

[2020-11-12 04:49] seekFire commented on #19499
@leezu
I tried your suggestion by adding the script:
`mx.npx.set_np()`
But it didn't work and new error occurs...

[2020-11-12 05:04] seekFire commented on #19499
@leezu
I'm doing the semantic segmentation task, and because of using sparse label, the shape of label needs to be converted, from (n, c, h, w) to (n, h*w), and the shape of prediction also needs to be converted from (n, c, h, w) to (n, h*w, c)
I just wonder if it is because I set the **last_batch** of dataloader to '**keep**', so the batch size is not fixed, and the error occured...

[2020-11-12 06:53] seekFire commented on #19499
@leezu
I think I may find out the error reason: when I use the class **mx.metric.CustomMetric** to wrap my custom metric function, the type of tensor in this function will convert from **mxnet.ndarray.ndarray.NDArray** to **numpy.ndarray**, so it will generate this error. The validation process is as follows, same script as above except using **numpy** to replace **mxnet.ndarray**:

[code]
The err

[2020-11-12 09:52] DestinyMy opened #19520 "Using mxnet on RTX3090"
## Description
(A clear and concise description of what the feature is.)
- If the proposal is about a new model, provide description of what the model is.
- If the proposal is about an API, provide mock examples if possible.

## References
- list reference and related literature
- list known implementations
Hello,

I have some problems on using mxnet on RTX 3090. 30 series GPU only support cuda11,

[2020-11-12 12:07] AlexanderSerov opened #19521 "[RFC] Integration with AndroidNN"
## Problem statement
Our team use mxnet for training and for inference. In recent time we have intention to run inference on Android devices so we compile mxnet using android ndk and it works fine. Now we have intention to accelerate inference on mobile devices using [android NN Api](https://developer.android.com/ndk/guides/neuralnetworks) which android support since version 8.1. This Api serve as

[2020-11-12 14:20] Wallart commented on #19520
Hello,
In order to use MXNet on my RTX 3090, I had to build MXNet 1.8.0.rc1 with CUDA 11 support.
If you are familiar with Docker, I've created an image (docker pull wallart/dl_mxnet:1.8.0.rc1), so you could use MXNet without rebuilding everything.

[2020-11-12 16:54] sxjscience opened #19524 "[Bug] Graph optimization bug"
## Description

The recent merged https://github.com/apache/incubator-mxnet/pull/18690 has broken the CI of GluonNLP. The tests that are related to relative positional embedding which contains the unique operator. See https://github.com/dmlc/gluon-nlp/pull/1432/checks?check_run_id=1391543133 for the error message.

Need some help in investigating the issue.

@mseth10 @sandeep-krishnamurthy @szha @

[2020-11-12 18:12] leezu commented on #19521
It would be nice to have a lightweight version, but no-one is working on it currently. One workaround is to manually delete the operator implementation files that you don't need.

[2020-11-12 19:19] samskalicky commented on #19521
I did a quick set of builds from v1.x using make with different flags and looked at the size of libmxnet.so. Each subsequent row adds new build flags to the previous.

Build Flags | libmxnet.so size [bytes]
------------ | -------------
None | 168573168
+USE_MKLDNN=0 | 131479368
+USE_INTGEMM=0 | 131251704
+USE_INT64_TENSOR_SIZE=0 | 131251704
+USE_CPP_PACKAGE=0 USE_DIST_KVSTORE=0 | 131251704
+USE_OP

[2020-11-12 19:28] dmitry-markeshov commented on #19521
Hi, we've built excluding not used operators and reached ~20MB size. But the main objective is performance. We believe that AndroidNN allows to compute mnxet models on GPU.
The size should be minimal as well, coz a lot of operators just translated to AndroidNN calls.

[2020-11-12 19:56] mseth10 commented on #19524
Thanks for reporting the issue @sxjscience . This issue happens during training when the model is hybridized. It is a known bug #18823 with MXNet that we are currently working on. Meanwhile, what we can do is disable the graph partitioning by default. Will create a PR shortly.

[2020-11-12 20:26] samskalicky commented on #19521
Using this set of build flags I removed diff sets of ops in v1.x on x86 and measured the libmxnet.so size. Each subsequent row removes additional ops from the previous.

`make USE_MKLDNN=0 USE_INTGEMM=0 USE_INT64_TENSOR_SIZE=0 USE_DIST_KVSTORE=0 USE_CPP_PACKAGE=0 USE_OPENCV=0 USE_TVM_OP=0 USE_NNPACK=0 -j`

Ops removed | libmxnet.so size [bytes]
------------ | -------------
top-level src/operator |

[2020-11-12 20:31] samskalicky commented on #19521
Disentangling MXNet ops would be a good refactoring work. But it would be a lot of work. We may have to do it anyway to satisfy the licensing issue with Apache/Nvidia, so it might be worth doing. But like  @leezu pointed out no-one is currently working on this.

[2020-11-13 00:00] szha commented on #19524
keeping this open for now to make sure the case is tested when actual fix is added.

[2020-11-13 00:01] sxjscience commented on #19524
@szha Would it be a 2.0-release issue?

[2020-11-13 10:45] h030162 opened #19527 "when export slowfast_4x16 from glouncv, I get err:No conversion function registered for op type slice yet."
Traceback (most recent call last):
  File "slowfast_export.py", line 273, in <module>
    converted_model_path = onnx_mxnet.export_model(sym, params, [input_shape], np.float32, onnx_file, verbose = True)
  File "/usr/local/lib/python3.6/site-packages/mxnet/contrib/onnx/mx2onnx/export_model.py", line 79, in export_model
    verbose=verbose)
  File "/usr/local/lib/python3.6/site-packages/mxnet/contr

[2020-11-13 11:42] akarbown commented on #18255
When I run the tests with the following cmdline: ```python3 -m pytest -sv failing_test_case``` I've got the following output:

[code]

I've checked that it's enough to LD_PRELOAD libmkl_rt.so to fix the issue. However, when I link libmkl_rt.so (or compile mxnet with MKL_USE_SINGLE_DYNAMIC_LIBRARY=1) I get the same problem as it's described [#17641](https://github.com/apache/incubator-mxnet/issues/

[2020-11-13 14:54] akarbown commented on #18255
@leezu do you need this tests to work with USE_MKLDNN=1 or USE_MKLDNN=0?

[2020-11-13 17:23] bunyaminfuatyildiz commented on #13923
Error: package or namespace load failed for ‘mxnet’:
 package ‘mxnet’ was installed before R 4.0.0: please re-install it

[2020-11-14 00:43] samskalicky commented on #19150
Thanks @haohuanw, ill close this issue for now. we can reopen it if you find further issues.

[2020-11-14 00:43] #19150 closed

[2020-11-14 07:01] samskalicky opened #19535 "[RFC] Need to export all HybridBlocks in a Gluon model"
## Description
Gluon can have any hierarchy of Blocks where a top-level Block is not a HybridBlock, and lower-level blocks are HybridBlocks. These HybridBlocks can be dispersed throughout the model architecture. Users can optimize the parts of their model that support it by calling `hybridize` on the top level block to trigger a recursive call throughout all child blocks. But there is currently no

[2020-11-14 07:16] samskalicky commented on #19535
Heres a silly example of a hierarchical Block/HybridBlock to play around with:
[code]

[2020-11-14 12:36] KrisLee512 commented on #2521
Hi,I also encountered the same problem with my Ubuntu 18.04 computer,how did you solve the issue,Thank you

[2020-11-14 21:44] samskalicky commented on #19535
Heres a complete, working solution on v1.8.x branch. Notice the new `save` and `load` functions perform the full model export/reload of both model architecture and params.
[code]

[2020-11-15 01:55] josephevans commented on #18793
OK guys, I finally got new AMIs launched for Windows builds that include docker. They are currently in-place with Cuda 11.0 installed. You should be able to start migrating to containerized builds.

[2020-11-15 02:47] androuino opened #19536 "Building from source but having ‘CUDA_CALL’ must be available [-fpermissive] error"
## Description
I was trying to build mxnet from source and my computer's spec is this:
Ubuntu 18.04
Cuda9.0 = V9.0.176
g++-6
gcc-6

### Error Message
`make: cc: Command not found
make: cc: Command not found
Makefile:264: WARNING: Significant performance increases can be achieved by installing and enabling gperftools or jemalloc development packages
INFO: nvcc was not found on your path
INFO: Using

[2020-11-15 20:13] samskalicky commented on #19521
@dmitry-markeshov @AlexanderSerov the other thing you can do is run your subgraphing pass on x86 and remove the operators that will be executed by your custom backend. Then when you load optimized model on android you dont need to have those operators compiled in the mxnet build.

[2020-11-15 23:07] samskalicky commented on #19521
long term what would we want to do to exclude ops from the build? Would we want to do something like this:
https://github.com/samskalicky/incubator-mxnet/commit/f2184ceab711bf1081165d6e0c5dbca958111dae
Where we set a flag like `__EXCLUDE_ALL_OPS__` and then set flags specifically for the ops we want to include like `__INCLUDE_OP_NORM__`

[2020-11-16 01:50] marcoabreu commented on #19521
How about we just build and load the ops externally and people can just delete the ones they don't want - based on your external operator system. So we no longer embed them into the main .so file but have them alongside

[2020-11-16 03:24] GeorgeSheridan commented on #19353
Should this issue be labeled as Good First Issue?

We are doing research about how to help newcomers onboarding in an open source project and how to accelerate the issue resolving process.
We have developed a tool to automatically label the Good First Issue (GFI), i.e., the issue which is good for newcomers.
We first extract 72 features from different dimensions of issue reports, such as readabili

[2020-11-16 04:19] appropiate commented on #18774
Is there any info on whether there will be mxnet binaries on CRAN for R v4.0 in the near future?

[2020-11-16 04:28] leezu commented on #19536
Which version of mxnet are you building? If it's a recent version, you can try to use the cmake build instead

[2020-11-16 04:34] androuino commented on #19536
after cloning it, I didn't check out to any branch so I guess it's the latest version. I will try with cmake. Thanks.

[2020-11-16 05:49] pribadihcr commented on #19086
@fireant, did you resolve it?

[2020-11-16 09:26] fhieber commented on #19535
Thanks @samskalicky, this would sound like an interesting feature for Sockeye as well. In Sockeye, we use a mix of Hybrid and non-Hybrid blocks, both during training and inference. We currently do not use the export mechanism of Gluon, but keep our own configuration file to build the model graph at inference time, according to its specifications, we therefore tie code and model artifacts closely t

[2020-11-16 14:04] HotFrom opened #19537 "mxnet only uses 10 video memory for any task"
mxnet only uses 10 video memory for any task

[2020-11-16 16:29] leezu commented on #19086
@pribadihcr you will need to use the `v1.x` branch. If you are interested in helping to update the CPP package for the master branch that would be very welcome. (It needs update due to deprecation of some underlying APIs in master)

[2020-11-16 16:44] ptrendx commented on #19521
Yes, currently the structure we have is
 - `operator_name.cc` which contains operator definition (+ all the infershape/type etc.) and `FCompute<cpu>`
 - `operator_name.cu` which contains just `FCompute<gpu>`

We should change that to something like:
 - `src/operator/operator_name.cc` which contains all the device independent operator definition
 - `src/operator_impl/cpu/operator_name.cc` which con

[2020-11-16 18:06] samskalicky commented on #19535
Thanks @fhieber is your approach for Sockeye's configuration file generalizable to something we could build in to mxnet? Can you point me to an example where you do this?

Nothing would change for that problem with exporting models. The restrictions around input shapes is specific to the MXNet engine memory allocation scheme where reshaping causes re-allocation. Its much lower level in the stack.

[2020-11-16 18:13] samskalicky commented on #19521
How much of the binary size comes from FCompute and associated functions versus the other Operator functions (attribute parsing, inputs/outputs, shape/type/storageType inference, etc)? Any guesses?

[2020-11-16 19:46] ptrendx commented on #19521
I did not do any experiments, but I would be very surprised if it is not at least 50% - you only have a few very small functions for all the infers, while you need at least 8 variants for `MSHADOW_TYPE_SWITCH`, and especially on the NumPy side there are functions that use those switches nested (so 64+ variants), not to mention that those functions tend to be larger.

[2020-11-16 21:22] leezu opened #19544 "CheckPvalGPU undefined in CPU builds"
https://github.com/apache/incubator-mxnet/blame/46c0fb3483dab4634bed72ac9da4408980c18219/src/operator/numpy/random/np_multinomial_op.h#L201

is only defined in GPU build.

Thus, on Windows builds will fail with

[code]

[2020-11-17 00:33] DestinyMy commented on #19520
Thank you very much. I'll try it right away.

[2020-11-17 00:47] ptrendx commented on #19496
I believe this should be fixed by https://github.com/apache/incubator-mxnet/pull/19500.

[2020-11-17 00:48] dai-ichiro commented on #19520
Check this site.
https://dist.mxnet.io/python/cu110

You can install the nightly version of mxnet.

`pip install mxnet-cu110==1.9.0b20201116 -f https://dist.mxnet.io/python/cu110`

Hope this helps.

[2020-11-17 02:05] normalclone opened #19546 "Can't use mxnet with GPU in Windows Server 2016"
## Description
I'm trying to run mxnet-cu101 in my windows server 2016 but it return some weird error

## What I had installed
`Cuda Toolkit 10.1`
`Windows Server 2016 x64`
`Python 3.7 x64`
newest `mxnet-cu101`

### Error Message
My env vars:
`CUDA_HOME=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1`
`CUDA_PATH=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1`
`CUDA_VISIBLE_DEVIC

[2020-11-17 02:33] gengyanlei opened #19548 "pip install mxnet-cu102==1.6.0 error 官网"
![image](https://user-images.githubusercontent.com/22360785/99338987-40bea580-28c0-11eb-8efc-1a0438531f14.png)

[2020-11-17 02:37] Zha0q1 commented on #19548
would you paste the error message too?

[2020-11-17 02:39] gengyanlei commented on #19548
![image](https://user-images.githubusercontent.com/22360785/99339430-21744800-28c1-11eb-8bb9-df1f2d0bb161.png)
我是觉得官网尽量不要犯这种低级错误！

[2020-11-17 02:40] #19548 closed

[2020-11-17 04:43] pribadihcr opened #19550 "Got error in c++ inference example when enable tensorRT"
## Description
Got error in c++ inference example when enable tensorRT

### Error Message
I got the following error:
terminate called after throwing an instance of 'dmlc::Error'
  what():  [12:35:05] ../../include/mxnet-cpp/symbol.hpp:260: Check failed: MXSymbolInferShapeEx(GetHandle(), keys.size(), keys.data(), arg_ind_ptr.data(), arg_shape_data.data(), &in_shape_size, &in_shape_ndim, &in_shape_d

[2020-11-17 05:15] leezu commented on #19546
It can also mean that the `libmxnet.dll` has a dependency on another dll which can't be found at the time of opening `libmxnet.dll`.

[2020-11-17 05:33] #19454 closed

[2020-11-17 10:24] normalclone commented on #19546
Can u suggest me how to fix it! Thanks

[2020-11-17 13:21] tjad opened #19551 "Ruby bindings"
## Description
For Ruby to be adopted as an officially supported language.
The best candidate project I've seen available is [mxnet.rb](https://github.com/mrkn/mxnet.rb/issues/47)

We are in the process of getting this project up to speed and would like to understand the mxnet-incubator team's position regarding bindings for Ruby.

[2020-11-17 18:55] szha commented on #19551
Thanks for bringing this up. It's great to see interest in making mxnet accessible in Ruby and thanks for sharing the language binding project from the community.

Adding support for a new language binding involves some work. For better chance of success, it's best to have a couple of maintainers who's willing to port and maintain the language binding for the community. If @mrkn @tjad @toddsundste

[2020-11-17 19:15] leezu commented on #19546
cc @yajiedesign

[2020-11-17 19:16] #19546 closed

[2020-11-17 23:41] #19544 closed

[2020-11-18 02:47] eiichi-1009 opened #19555 "mxnet"

[2020-11-18 02:49] waytrue17 opened #19556 "segfault on mx1.8-cu110 with python3.7"
## Description
Running mxnet-horovod example `incubator-mxnet/example/distributed_training-horovod/gluon_mnist.py` on mxnet1.8-cuda11.0 with python 3.7 encountered a segfault error. The error occurred after the example script finished.
The same script works fine on mxnet1.8-cuda10.2 with python 3.7 and mxnet1.8-cuda11.0 with python 3.6.

## To Reproduce
### Steps to reproduce
1. Launch an EC2 p3.8

[2020-11-18 05:19] sxjscience commented on #19495
@szha I'm marking it as 2.0 since it seems to be a serious issue related to boolean type.

[2020-11-18 07:12] tjad commented on #19551
@szha Thank you very much for your support! We will do our best and to get this done promptly. I will make more mentions of major progress here as we complete functionality. And of course, if other Ruby community members are keen to help, jump aboard.

[2020-11-18 07:14] DblD commented on #19551
+1

[2020-11-18 17:28] #19555 closed

[2020-11-18 20:24] #19496 closed

[2020-11-18 20:46] #18954 closed

[2020-11-18 20:50] leezu opened #19563 "test_deformable_convolution timeout"
It was run after test_psroipooling and custom op tests

[code]

https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-gpu/branches/master/runs/2393/nodes/143/steps/215/log/?start=0

[2020-11-19 01:39] Light-- commented on #617
could you be more specific? how to write the script? @piiswrong @pluskid

[2020-11-19 06:14] leezu commented on #19563
Again in https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-19417/54/pipeline

[2020-11-19 06:17] Zha0q1 commented on #19563
https://github.com/apache/incubator-mxnet/pull/19547 5 times in a row for me

[2020-11-19 08:03] samskalicky commented on #19535
Created PRs on v1.x (#19565) and master (#19564) branches. Closing this RFC issue and migrating to PRs for further discussion.

[2020-11-19 08:03] #19535 closed

[2020-11-19 14:46] AyushP123 commented on #16961
@MediosZ how did you rebuild openblas setting the number of threads to one??. And by your responses I understood that OpenMP wasn't the issue, it was OpenBlas. Please correct me if I am wrong.

[2020-11-19 14:48] AyushP123 commented on #16961
Setting `OPENBLAS_NUM_THREADS=1` also limits the number of threads to 1.

[2020-11-19 15:40] xiaozhah opened #19567 "How to import the `expand` into Gluon?"
Noted there are only these ONNX commands are included.

However I can't find the `expand` op, I think it releared to `mx.nd.broadcast.to`.

This is vis of ONNX format, when importing into Gluon, it throws error.
![image](https://user-images.githubusercontent.com/7589403/99688233-86e25780-2ac0-11eb-9d7c-e767e0787d41.png)
`NotImplementedError: Operator Expand not implemented.`

How to import the `ex

[2020-11-19 16:00] chinakook commented on #19176
+1

[2020-11-19 19:09] #16358 closed

[2020-11-19 22:44] #18667 closed

[2020-11-19 23:58] #19463 closed

[2020-11-20 02:27] Light-- commented on #6480
how to sum gradients of different shapes?

[2020-11-20 04:23] Light-- commented on #5779
same issue here

[2020-11-20 04:25] liusy182 opened #19569 "Infer `input_names` in `mxnet.gluon.SymbolBlock.imports` API"
## Description
From discussion #19568 , we want to have [mxnet.gluon.SymbolBlock.imports](https://mxnet.apache.org/versions/1.7/api/python/docs/api/gluon/symbol_block.html#mxnet.gluon.SymbolBlock.imports) being able to infer the `input_names` in instead of forcing a client to specify it.

## References
- list reference and related literature
- list known implementations

[2020-11-20 14:12] chinakook commented on #14742
I've also met with this problem when runing train_faster_rcnn.py(gluon-cv) without syncbn. Set ```thread_pool=True``` can avoid this problem.

[2020-11-20 15:52] Sunalwing opened #19571 "What I think is that imageRecordIter is meant to use with .rec files saved with image in BGR format, and outputs data in RGB as gluon network expects. (By the way can you confirm that assumption on gluon?)"
What I think is that imageRecordIter is meant to use with .rec files saved with image in BGR format, and outputs data in RGB as gluon network expects. (By the way can you confirm that assumption on gluon?)

Actually im2rec.py scripts given by mxnet reads the image with opencv (cv2.imread) if the "pass-through" parameters is true,  and pack it into the .rec files. So in that case, the .rec files st

[2020-11-20 15:52] #19571 closed

[2020-11-21 01:36] chinakook opened #19574 "symbol.tojson memory leak"
## Description
Current symbol's tojson API have memory leak. I found this from debug with https://github.com/dmlc/gluon-cv/blob/849411ed56632cd854850b07142087d599f97dcb/gluoncv/data/batchify.py#L396 . The memory will keep growing in a multiprocessing training environment because of frequently pickling symbol with tojson() may cause memory leak.

## To Reproduce
Mini example to reproduce this memor

[2020-11-21 08:02] chinakook commented on #14742
I found the reason about train_faster_rcnn.py memory leak. https://github.com/apache/incubator-mxnet/issues/19574

[2020-11-22 04:04] szha commented on #17783
Thanks all for the discussion. @saudet would you help to bootstrap the adoption of javacpp in mxnet to get it off the ground? I'm happy to help with any infrastructure work necessary.

[2020-11-22 09:49] AyushP123 commented on #15275
It might be an OpenBlas issue instead of OpenMP (Setting OMP_NUM_THREADS also sets OPENBLAS_NUM_THREADS):
Relevant links:
1. https://github.com/apache/incubator-mxnet/issues/16961
2. https://github.com/bgeneto/build-install-compile-openblas

[2020-11-22 10:37] vycezhong opened #19575 "MKLDNN header missing in mxnet-cu102==1.7.0 pip package"
I encountered an compilation error showing that <mkldnn.h> is not found when I tried to compile BytePS with mxnet-cu102==1.7.0. I checked the mxnet package and indeed there is no MKLDNN header.

However, interestingly I found that it supports MKLDNN. And later I found MKLDNN is enabled by default in 1.7.0. https://github.com/apache/incubator-mxnet/pull/16899

![image](https://user-images.githubuse

[2020-11-23 01:01] shilei-nj commented on #19520
@Wallart
I do the same thing, it worked but the training speed on 3090 is slower than 2080ti. Do you have the same problem?

[2020-11-23 05:26] chinakook opened #19577 "Multiple gpu train error"
## Description
Multiple gpu train error in mxnet 2.0 master (20201123)

### Error Message
[code]

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.
2.

## What have you tried to solve it?

1.
2.

## Environment

***We

[2020-11-23 12:35] bartekkuncer commented on #19575
Hi @vycezhong,
I saw that there was simillar issue in the past: https://github.com/apache/incubator-mxnet/issues/18120, which has been fixed here: https://github.com/apache/incubator-mxnet/pull/18355. I will check why this issue is occurring again.
Thanks for reporting.

[2020-11-23 13:12] m-ky opened #19579 "mxnet_75.dll chosen, even if there is newer mxnet_86.dll present"
## Description
MXNet 1.8.0.rc2, Windows 10, Cuda 11, NVIDIA RTX 3090, C++ build from source
After build there are several mxnet_XY.dll, where X is cuda major and Y minor version. For RTX 3090 mxnet_86.dll should be used.
However this dll is not chosen, instead it tries to select mxnet_75.dll.
This causes:
1. Either mxnet_75.dll is there, which causes PTX compilation to start, if mxnet_75.dll conta

[2020-11-23 14:26] bartekkuncer commented on #19575
I have checked that the fix has been applied to branch v1.7.x but not to the tag 1.7.0 which apparently is used to build the pip package.

[2020-11-23 16:17] bartekkuncer commented on #19575
Please try using: https://repo.mxnet.io/dist/python/cu102/mxnet_cu102-1.7.0b20200813-py2.py3-none-manylinux2014_x86_64.whl. I believe it has all necessary headers.

[2020-11-23 17:27] vycezhong commented on #19575
Thanks for your help.

[2020-11-23 18:13] Wallart commented on #19520
With equivalent batch size, the training speed on 3090 is equivalent to my old 1080ti. What type of model are your training ?

[2020-11-23 18:34] leezu commented on #19579
If you're only interested in running on a single GPU architecture, you can just set `USE_SPLIT_ARCH_DLL=0`

[2020-11-23 21:43] ptrendx commented on #17782
We encountered this issue when moving to Ubuntu 20.04 and Python 3.8. The issue does not happen during any single test, but running multiple dataworker tests in a row triggers it (the repro that we used for investigation was
[code]
The root cause seems to be how Python memory management interacts with forking. Basically if there are still some shared memory `NDArrays` present (because of garbage c

[2020-11-23 23:58] josephevans opened #19580 "Some model zoo models no longer load in master"
## Description
When using MXNet master branch, some gluon model zoo CV models no longer load when setting pretrained=True. From discussing with @leezu, it seems naming conventions may have changed between MXNet versions.

The following CV models are no longer working in master:

* vgg11
* vgg13
* vgg11_bn
* vgg13_bn
* alexnet
* inceptionv3
* densenet121
* densenet161
* densenet169
* densenet201
*

[2020-11-24 00:05] leezu commented on #19580
I'm referring to the change in naming convention in b9298924043b9c8316613f5bdf9bc467cb140197

The model files saved before b9298924043b9c8316613f5bdf9bc467cb140197 are no longer supported in MXNet 2. We should remove the models created prior to b9298924043b9c8316613f5bdf9bc467cb140197 from the modelzoo or re-create them.

[2020-11-24 00:34] shilei-nj commented on #19520
@Wallart
I have solved the problem, with MXNet 1.8.0.rc2 and cuda 11.1.
You should update cudnn from 8.0.4 to 8.0.5, this is very important.
And modify KNOWN_CUDA_ARCHS in MXNet Makefile, add 86.
Now it's really fast.

[2020-11-24 06:44] kohillyang commented on #19498
Is it because of of DataParallelModel? Since muti-threading training && multi-processing training is not supported by mxnet. To speed the training up, I suggest you trying horovod instead.

[2020-11-24 07:31] honglei opened #19581 "Missing mxnet-cu102 pip packages for Windows"
https://mxnet.apache.org/versions/1.7.0/get_started?platform=windows&language=python&processor=gpu&environ=pip&
suggests:
[code]

C:\Users\jhonglei>c:\python37\python.exe -m pip install --upgrade mxnet-cu102
[code]

[2020-11-24 09:10] Light-- commented on #19520
NOT worked. I tested all the containers.

[2020-11-24 14:38] m-ky commented on #19579
Thank you for response.
I actually use multiple GPU architectures and need the splitting functionality.
My fix seems to work fine, I just wanted to let people know that there is bug.

[2020-11-24 16:18] szha commented on #19520
@shilei-nj thanks for pointing it out. Would you help add this change to the [v1.x branch](https://github.com/apache/incubator-mxnet/blob/db080058fdd428865b30077eb883a5987208d8b0/Makefile#L449-L467)?

@Light-- could you file a bug report for the issue you are facing? We will need more details to identify the issue which are requested in the issue template. Thanks!

[2020-11-24 18:41] leezu commented on #19579
Ok, great! Would you open a PR with the fix?

[2020-11-24 18:58] mmarcinkiewicz opened #19583 "Incorrect images in documentation"
## Description
The same image (cosine) is used to show the different options for the Learning Rate Decay.

### Error Message
none

## To Reproduce
---

### Steps to reproduce
https://mxnet.apache.org/versions/1.7.0/api/python/docs/tutorials/packages/gluon/training/learning_rates/learning_rate_schedules.html

## What have you tried to solve it?
---

## Environment
---

<details>
![image](https://us

[2020-11-24 18:59] mmarcinkiewicz commented on #19583
The image is not being shown
![image](https://user-images.githubusercontent.com/43240942/100139262-7e5a9a00-2e8f-11eb-98fb-99c178585ad1.png)

[2020-11-24 22:23] access2rohit opened #19585 "[RFC] Improve CPU memory pool management for MXNet process"
## Problem statement
I noticed that memory pool keeps memory allocated to MXNet process so NDArray or tensors can be allocated faster by our pool. At times the pool size becomes very large and memory may not be released to the pool immediately once NDArray goes out of scope. When I was running Large tensor Nightly Tests(all at once sequentially) then I saw certain tests were causing OOM (even on 7

[2020-11-24 23:23] dai-ichiro commented on #19581
Check this site.
https://dist.mxnet.io/python/cu102

You can install mxnet from this site.
`pip install mxnet-cu102==1.7.0 -f https://dist.mxnet.io/python/cu102`

Hope this helps.

[2020-11-25 00:39] shilei-nj commented on #19520
@szha no thanks, just fix it by your next update please.

[2020-11-25 01:14] honglei commented on #19581
@dai-ichiro Many Thanks ！

[2020-11-25 10:29] bartekkuncer commented on #19575
@vycezhong I understand that the package I proposed works for you? :)

@szha @leezu Should we release patch v1.7.1 which will fix the lacking headers or just wait for official minor v1.8.0 release?

[2020-11-25 11:19] vycezhong commented on #19575
Yes it works for me. Thanks.

[2020-11-25 13:08] m-ky commented on #19579
After some looking I found that it is already fixed in master:
https://github.com/apache/incubator-mxnet/pull/19410
I will ask to merge this fix to 1.8.0

[2020-11-25 13:08] #19579 closed

[2020-11-25 13:10] m-ky commented on #18800
Can https://github.com/apache/incubator-mxnet/pull/19410 be merged?

[2020-11-25 13:21] bartekkuncer commented on #18800
Is fix for lacking mkldnn headers: https://github.com/apache/incubator-mxnet/pull/18608 included?

[2020-11-25 13:45] m-ky opened #19586 "MKLDNN error in mx.sym.Concat"
## Description
When using MKLDNN, concatenating sometimes fails and results in error. Please see the code.

### Error Message
MXNetError: The size of NDArray doesn't match the requested MKLDNN memory desc. MKLDNN memory requests for 41943040 bytes, but got 34603008 bytes from NDArray

## To Reproduce
x = mx.sym.Variable('x')
w = mx.sym.Variable('w')

c = mx.sym.Convolution(data=x, weight=w, num_fi

[2020-11-25 15:33] szha commented on #19575
@bartekkuncer I think we should.

[2020-11-25 16:01] chinakook commented on #19520
MXNet2.0 built by myself is working fine with RTX3090.

[2020-11-25 16:33] bartekkuncer commented on #19586
Simillar error on linux:
MXNetError: The size of NDArray doesn't match the requested MKLDNN memory desc. MKLDNN memory requests for 50331648 bytes, but got 34603008 bytes from NDArray

[2020-11-25 18:35] leezu commented on #18800
@bartekkuncer I think so: https://github.com/apache/incubator-mxnet/commit/2aa2702880207df2665c290b4416712b6d9fceaa

[2020-11-26 03:39] honglei commented on #19581
@dai-ichiro  It only works under in cpu-mode under Win10/Python3.7.9 x64, the gpu-mode cause application crash.

[2020-11-26 03:51] dai-ichiro commented on #19581
Is CUDA version correct?
Please check `nvcc -V` command on command prompt.

If CUDA version is correct, check this command in python.
[code]
Hope this helps.

[2020-11-26 04:19] honglei commented on #19581
PS D:\OCRLibs> nvcc -V
[code]

[code]

[2020-11-26 04:28] dai-ichiro commented on #19581
Sorry I don't know why.

Try to validate your MXNet installation.
https://mxnet.apache.org/get_started/validate_mxnet.html

[2020-11-26 05:16] honglei commented on #19581
It works after uninstall and re-install mxnet! just sometimes raise out-of-memeory exception.

[2020-11-26 09:27] anko-intel commented on #19586
@mxnet-label-bot MKLDNN

[2020-11-26 10:53] bartekkuncer commented on #19575
@szha Ok, I will look into it.

[2020-11-26 11:48] honglei opened #19591 "Suport Chinese Characters in file Path"
## Description
Env: Win10/Python3.8.9 x64/mxnet_cu102-1.7.0-py2.py3-none-win_amd64.whl from https://dist.mxnet.io/python/cu102
[code]

### Error Message

[code]

[2020-11-26 11:56] Light-- commented on #19520
buddy, your docker image runs like this.....
[code]

what's this??????????????????

[2020-11-26 12:19] tjad commented on #19551
We've completed translation of optimisers, and are now fleshing out Gluon API nn and rnn modules. We'll tackle the loss functions last and add specs (tests) toward the completion of Gluon API.

[2020-11-26 15:10] bartekkuncer commented on #18800
Please include FindMKL.cmake fix: https://github.com/apache/incubator-mxnet/pull/19152 and update of mkldnn to v1.7.0: https://github.com/apache/incubator-mxnet/pull/19560

[2020-11-26 15:49] mifan0208 commented on #19485
@leezu  Hi,Can you help me solve this problem?

[2020-11-26 16:19] Wallart commented on #19520
I'm providing SSH daemon for remote debugging purposes. You need to run the image in background with -itd options.
Then you can execute `docker exec -it -u USER mxnet-1.8.0.rc1 bash` or connect the container to your preferred IDE.
You can also populate your container with a specific user/uid in order to mount volumes with `-e HOST_USER=myUser -e HOST_UID=$(id -u)`

[2020-11-26 16:51] #18229 closed

[2020-11-26 17:01] RuRo commented on #18657
@szha Sorry to bug you, but it's been 4 months. Are there any updates?

[2020-11-26 17:10] szha commented on #18657
@RuRo sorry for lack of update on this issue. The nightly build version now has the cu110 package (for development purpose only): https://dist.mxnet.io/python

For releasing on PyPI, there are some ongoing license issue that are being sorted out.

[2020-11-26 17:12] szha commented on #19575
@bartekkuncer it's just about repackaging and releasing on PyPI as another version. Since there is some ongoing license issue that needs to be sorted out first, we are putting changes to PyPI changes on hold. Will revisit once the issue is resolved.

[2020-11-26 17:14] manhminno commented on #17938
Change version of numpy: pip install numpy==1.16.4
And re-install mxnet: pip install mxnet
It work!

[2020-11-26 18:03] szha commented on #19591
@honglei thanks for reporting. `mx.image.imread` is a thin wrapper of opencv's imread, which doesn't seem to support utf-8 paths. For now I think you can use the following workaround:
`mx.image.imdecode(np.fromfile(img_fp, dtype='uint8'))`

[2020-11-26 20:02] joaomamede commented on #621
@metal3d It's the tradition of where the coders are speaking instead of more integration. Some projects opt to cut resources to the minimum working objective, meaning that integration to a wide variety of choices is left behind.
Why do you think people still code these things in windows although it's a terrible platform from it. Tradition.
It's the sad reality of resources limitations.

[2020-11-27 00:36] shilei-nj commented on #19520
@Wallart
With old options it is a little bit slower than 2080ti, now it's 50% faster than 2080ti.

[2020-11-27 01:50] Light-- commented on #19520
hey, @Wallart what do you say about this?

i followed your steps, but
[code]

[2020-11-27 01:55] Light-- commented on #19520
hey, @dai-ichiro, what will you say about this:
[code]

[2020-11-27 07:02] StevenJokess opened #19594 "No matching distribution found for mxnet==1.7.0.post1"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=100` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2020-11-27 10:08] chinakook commented on #19520
I think it's time to get cuda 11.1 and sm_86 into official mxnet support list as RTX 3090 series is very popular.

[2020-11-27 10:31] honglei commented on #19591
@szha Yes，it was caused by `cv2.imread`. Many Thanks

[2020-11-27 12:44] Wallart commented on #19520
@Light-- What type of CPU are you using ?

[2020-11-28 00:13] szha commented on #10638
This issue has been mostly fulfilled with the various supports in the Gluon toolkits

[2020-11-28 00:13] #10638 closed

[2020-11-28 00:14] #14126 closed

[2020-11-28 00:17] szha commented on #18697
@mk-61 mostly cleaner abstraction and feature interaction. Multiple features that rely on monkey patch can't work together.

[2020-11-28 03:41] saudet commented on #17783
@szha Thanks! Could you let me know what would be missing if anything to get this initial contribution into master? https://github.com/saudet/incubator-mxnet/tree/add-javacpp/java Probably a little README.md file would be nice, but other than that?

[2020-11-28 14:47] szha commented on #17783
In order for it to be adopted by developers and users, I expect that a new language binding should have the following:
- Tests that are enabled in the CI for PRs. Adding it to any of the [existing pipelines](https://github.com/apache/incubator-mxnet/tree/master/ci/jenkins) should be ok.
- Documentation website. The javadocs should be built and linked from the main website so that others know what

[2020-11-29 07:11] sxjscience opened #19595 "[Bug] Serialization Bug"
## Description
I noticed a serialization bug when rerunning the machine translation example in GluonNLP. This might be due to the recently upgraded serialization format.

Here's the reproducible example:
[code]
Output:

[code]

[2020-11-29 07:11] sxjscience commented on #19595
@leezu @szha This is a very serious bug and we need to fix it. Would you try to verify the bug?

[2020-11-29 15:04] #19536 closed

[2020-11-29 15:27] szha commented on #19595
I can reproduce. Added a couple of `waitall()` calls didn't resolve it so I think it's not related to synchronization. Thus, I think it's related to serialization/deserialization itself.

[2020-11-29 18:35] sxjscience commented on #19595
This is quite critical...... I trained several NMT models but the weights are not saved appropriately....

[2020-11-29 20:12] sxjscience commented on #19595
I tried the 20201117 wheel and it does not have the issue. So I think it's introduced by the recent npx.savez PR.

[2020-11-30 05:39] harshitshrma opened #19597 "Unable to load vgg16 using mx.model.load_checkpoint"
Hi all,

I am trying to load vgg16 pre-trained model I download from the mxnet website:
    http://data.mxnet.io/models/imagenet/vgg/vgg16-0000.params
    http://data.mxnet.io/models/imagenet/vgg/vgg16-symbol.json
However, I keep getting the following error at line **(symbol, argParams, auxParams) = mx.model.load_checkpoint('vgg16', 0):**

mxnet.base.MXNetError: MXNetError: Failed loading Op prob

[2020-11-30 06:15] shroudie opened #19598 "Exporting to Onnx with dynamic shapes"
## Description
I am not 100% sure but I think current API `onnx_mxnet.export_model` only supports exporting onnx model with fixed shape.

I know I can directly modify the onnx graph, but some models that I have failed to load after I modify the input and output batches. I was wondering if it is possible to have official feature for the API.

[2020-11-30 07:22] DemonsHunter opened #19599 "Having trouble with installing GPU-version mxnet"
## Description
When I was trying to intall an mxnet with GPU, I encounter some unexpected errors:

### Error Message
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple/
ERROR: Could not find a version that satisfies the requirement mxnet-cu111 (from versions: none)
ERROR: No matching distribution found for mxnet-cu111

## To Reproduce
(If you developed your own code, please provide a sho

[2020-11-30 09:51] anko-intel commented on #19586
@mxnet-label-bot add [MKLDNN]

[2020-11-30 11:46] bartekkuncer commented on #19594
Reproduced the issue.

[2020-11-30 13:42] szha commented on #19594
I think the problem was that the windows pip package for mxnet has become too large to publish on PyPI.

[2020-11-30 13:50] bartekkuncer commented on #19594
@szha I understand. I tried looking for this package but only found mxnet==1.7.0 (not 1.7.0.post1) for windows. Is this package (1.7.0.post1 for win10) available anywhere?

[2020-11-30 14:41] bartekkuncer commented on #19594
@StevenJokess Try this package: https://repo.mxnet.io/dist/python/cpu/mxnet-1.7.0-py2.py3-none-win_amd64.whl. Please let me know if it works for you.

[2020-11-30 14:58] StevenJokess commented on #19594
@bartekkuncer Where did you find this package?

[2020-11-30 15:04] bartekkuncer commented on #19594
@StevenJokess On internal CI page. Does it work? :)

[2020-11-30 15:14] StevenJokess commented on #19594
![image](https://user-images.githubusercontent.com/71307974/100626636-0abdfe80-3361-11eb-9e23-f2a8e7bed010.png)
Thanks.
How to find it next time? Or another wheel?

[2020-11-30 15:25] bartekkuncer commented on #19594
If the package will not decrease in size for future releases I believe it will be hard to publish them on PyPl.
@szha Is there any other public channel to get the win10 version of 1.7.0 and other mxnet release packages?

[2020-11-30 15:48] szha commented on #19594
Not that I'm aware of. @yajiedesign was looking into custom compression that may help this, though I think a more reliable way forward is for NVIDIA to publish these dependencies as a separate package that we can depend on.

Let's track this in #18793 which was intended for tracking CD automation for windows.

[2020-11-30 16:01] bartekkuncer commented on #19594
@StevenJokess I believe as of now there is no way to find those packages for windows on your own. You can always try building mxnet from source to have recent versions: https://mxnet.apache.org/versions/1.7.0/get_started/build_from_source.

[2020-11-30 16:38] szha commented on #19599
@DemonsHunter thanks for reporting the issue. I don't think we started to publish to the mxnet-cu111 package on PyPI yet. There is an ongoing license issue that we are attempting to resolve and thus are putting it on hold for publishing new GPU packages on PyPI.

[2020-11-30 17:46] samskalicky commented on #19597
@harshitshrma can you list the step-by-step instructions to reproduce? (ie. did you build from source, or install from pip wheel, exact code to load the model, etc..)

[2020-11-30 19:25] harshitshrma commented on #19597
@samskalicky I built from the source and then created a sym-link mxnet to my virtual environment.
I am getting the error while loading the model from the disk:

Code:
import mxnet as mx
(symbol, argParams, auxParams) = mx.model.load_checkpoint("vgg16", 0)

Error:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/harshit/.virtualenvs/dl4cv/lib/python3.8/site-pac

[2020-11-30 19:45] samskalicky commented on #19597
[code]
This error means the operator isnt registered. How are you building MXnet from source. Can you give step by step instructions to reproduce (ie. clone, make/cmake, PYTHONPATH, etc)

[2020-11-30 19:59] harshitshrma commented on #19597
@samskalicky sure. These are the steps I followed.

[code]

I haven't tried with the pre-built pip wheel yet. But I did try a few older versions of MXNet building them from source and got the same error.

[2020-11-30 20:19] kpuatamazon opened #19603 "[v1.x] six/astroid dependency conflict broke lint"
## Description

lint is broken for v1.x due to a dependency conflict between six and astroid.

Example log: https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/sanity/branches/PR-19601/runs/2/nodes/39/steps/80/log/?start=0

Relevant snippet:
[code]

This is causing `sanity` to fail for #19601 (v1.x) but pass for #19602 (master)

cc @szha

[2020-11-30 20:47] #19563 closed

[2020-11-30 21:02] samskalicky commented on #19597
@harshitshrma it looks like after the clone you build immediately. This means you're building MXNet's master branch, rather than 1.7. Did you mean to do a `git checkout v1.7.0` after the clone?

[2020-11-30 21:27] leezu commented on #19603
@kpuatamazon this also affects the master branch (but is not obvious thanks to docker cache). A simple fix is updating the six dependency specification to be in line with astroid

[2020-11-30 22:25] leezu opened #19605 "Improve CI caching of docker multi-stage builds"
As per https://github.com/moby/moby/issues/34715#issuecomment-550567523 we should enable docker buildkit on CI to improve the caching behavior of multi-stage builds.

On the MXNet side, the following patch may suffice

[code]

Prior to applying the patch on the mxnet side, https://github.com/apache/incubator-mxnet-ci/blob/master/tools/jenkins-slave-creation-unix/conf-ubuntu-cpu-c5/install.sh and h

[2020-11-30 22:54] leezu opened #19606 "CI docker daemon not running"
[code]

Affects https://github.com/apache/incubator-mxnet/pull/19604 https://github.com/apache/incubator-mxnet/pull/19588

cc @Zha0q1

[2020-11-30 23:10] #19595 closed

[2020-12-01 01:29] josephevans commented on #19606
I created updated AMIs which should solve this for the short-term, but looking into longer term solutions.

[2020-12-01 05:05] harshitshrma commented on #19597
@samskalicky Thanks a lot. You're right. I had forgotten to checkout v1.7.0.
 It works now (though I had to downgrade cuda toolkit from version 11.1 to 10.2).

[2020-12-01 06:05] samskalicky commented on #19597
Cool, thanks for the update. We added support for CUDA 11 in v1.8.x branch, you can try that one out if you need a newer version of CUDA.

[2020-12-01 15:40] feevos opened #19609 "mxnet 2.0 - GroupNorm does not work with as_nd_ndarray() upon activation of mx.npx.set_np()"
## Description
The operator ```gluon.nn.GroupNorm``` does not work properly (I believe) when we use ```mx.npx.set_np()```. That is something in its definition breaks and it cannot accept ```mx.np.ndarray.as_nd_ndarray```

### Error Message
in short (but see also below for the complete error message):

[code]
## To Reproduce
A. Working example:
[code]
B. When things break:

[code]
## Error message:

[2020-12-01 16:22] akarbown opened #19610 "[RFC] MXNet: Improve the build with DNNL, MKL, and OpenMP."
[Author of the RFC: @TaoLv ]
## **Problem statement**
This RFC targets discussing the strategies for building MXNet with Intel DNNL, MKL, and different OpenMP runtimes for different platforms. It will help to address (or mitigate if not fully addressed) the issues [1][2][3][4][5][6] and pave the way towards the CMake build system for the project. After all of these are in place, we can expect a be

[2020-12-01 16:24] akarbown commented on #19610
CC: @leezu, @TaoLv, @anko-intel

[2020-12-01 17:17] leezu commented on #19610
Thank you @akarbown for opening this RFC. It LGTM overall. Some minor comments / questions below:

I think MKL_USE_ILP64 does not need to be exposed to the user and we may re-use the MXNet USE_INT64_TENSOR_SIZE flag. We should switch to USE_DNNL sooner rather than later.

If ILP64 is used, we may be forced to static link MKL, to avoid symbol conflicts
with LP64 Blas libraries that could be loaded

[2020-12-01 19:18] harshitshrma commented on #19597
@samskalicky Sure, I'll try that. Thanks again.

[2020-12-01 19:18] #19597 closed

[2020-12-01 19:28] Zha0q1 commented on #19610
After `USE_INT64_TENSOR_SIZE` controls lp64/ilp64 MKL and I think we are already defaulting `MKL_USE_STATIC_LIBS` to true

[2020-12-01 19:31] Zha0q1 commented on #19610
with LP64 Blas libraries that could be loaded into the same process if users
import MXNet and NumPy in the same Python process. cc @access2rohit @Zha0q1

I think even we should force static link at all time because of the performance boost of mkl over say openblas. Some cblas functions are a few times faster and lapack functions haven been seen to have 25x boost

[2020-12-01 19:36] leezu commented on #19610
Static link and performance differences between mkl and openblas are two separate topics. Could you elaborate your reasoning?

[2020-12-01 19:38] Zha0q1 commented on #19610
Yes, my point is that if numpy uses openblas and mxnet uses mkl then we certainly do not want openblas to mask mkl

[2020-12-02 04:32] leezu opened #19616 "CI broken: libtvm.so: undefined symbol: _ZTVN4llvm19raw_svector_ostreamE"
Will be fixed by https://github.com/apache/incubator-mxnet/pull/19613

[2020-12-02 08:01] Adnios commented on #14775
hello. I have met the same problem in Mxnet-1.4.1. Do you have solved this problem.

[2020-12-02 11:41] div338 commented on #15585
Hi, any success on this?

[2020-12-02 23:26] leezu opened #19619 "TVM Bridge fails on MSVC Windows builds"
TVM Bridge does not introduce link dependencies, but causes link failure on Windows. May be a MSVC bug.

[2020-12-02T01:54:37.813Z] LINK: command "C:\PROGRA~2\MICROS~1\2019\COMMUN~1\VC\Tools\MSVC\1428~1.293\bin\Hostx64\x64\link.exe /nologo @CMakeFiles\mxnet.rsp /out:libmxnet.dll /implib:libmxnet.lib /pdb:libmxnet.pdb /dll /version:0.0 /machine:x64 /INCREMENTAL:NO /OPT:REF /OPT:ICF /MANIFEST /MANIF

[2020-12-03 06:44] TaoLv commented on #19610
@pengzhao-intel @ciyongch @yinghu5 Please help to review.

The proposal was drafted quite a while ago. Since then, DNNL library has been renamed to oneDNN to be consistent with the rest of oneAPI libraries [1]. Maybe we need also consider to use flag `USE_ONEDNN`? @mgouicem

[1] https://github.com/oneapi-src/oneDNN#oneapi-deep-neural-network-library-onednn

[2020-12-03 08:08] fucker007 opened #19621 "to use im2rec.py is so diffcult to me, Any body can help."
I command `python im2rec.py /ext_disk3/face_recogniton/Glint360K/data data --list  --train-ratio 0.8 `

however , when check data.lst is nothing write in it.

what happend？if you can help me, thanks a lot

[2020-12-03 08:09] fucker007 commented on #19621
@ry @pluskid @mrkn @pjstadig

[2020-12-03 08:45] Light-- commented on #19520
Intel(R) Core(TM) i7-3960X CPU @ 3.30GHz

[2020-12-03 09:09] akarbown commented on #19610
I'll take a look into it.

I don't know yet. I'll keep you posted as I'll get more knowledge on this issue.

[2020-12-03 12:09] bykim555 commented on #13724
1.first, i use ndk21, android-ndk-r21d/toolchains/llvm/prebuilt/linux-x86_64/bin and
export CC=armv7a-linux-androideabi23-clang
export CXX=armv7a-linux-androideabi23-clang++

2.then i build openblas, everything is ok
3. and then i build my libmxnet_predict.so, many issues come out, i solved them one by one

need to modify the 'makefile' in amalgamation, besides modify OpenBLAS path, need to change

[2020-12-03 17:58] leezu opened #19622 "protobuf version mismatch on CI"
`[2020-12-02T23:35:43.300Z] [libprotobuf FATAL google/protobuf/stubs/common.cc:78] This program was compiled against version 2.6.1 of the Protocol Buffer runtime library, which is not compatible with the installed version (3.0.0).  Contact the program author for an update.  If you compiled the program yourself, make sure that your headers are from the same version of Protocol Buffers as your link-

[2020-12-03 18:56] leezu opened #19623 "out of memory during compilation on CI"
CI is subject to out of memory errors if object is not in ccache. Similar to https://github.com/apache/incubator-mxnet/issues/18501

[code]

https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-19588/12/pipeline

[2020-12-03 23:01] rogerdettloff commented on #19594
I would also like to pip install mxnet==1.7.0 on windows.
@szha How sure are you about the size issue mentioned above?  I noticed that two other mxnet whl files (for macos and linux) are already on PyPi and they are much larger than the one that @bartekkuncer helpfully referenced on Monday https://github.com/apache/incubator-mxnet/issues/19594#issuecomment-735826843 .  That whl file was only about

[2020-12-03 23:17] leezu commented on #19494
Duplicate of https://github.com/apache/incubator-mxnet/issues/18829

[2020-12-03 23:17] #19494 closed

[2020-12-03 23:17] leezu commented on #18829
There can also be  Bus error in create_sparse_array after test_sample_multinomial_num_outputs

"Bus errors are generally caused by applications trying to access memory that hardware cannot physically address" https://stackoverflow.com/questions/36970110/how-to-determine-the-cause-for-bus-error

[code]

https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/

[2020-12-04 01:53] leezu commented on #19623
It's possible to workaround this error by retriggering CI a few times

[2020-12-04 03:05] leezu commented on #18380
Python 3.8 is now tested on CI as part of https://github.com/apache/incubator-mxnet/pull/19588

[2020-12-04 03:05] #18380 closed

[2020-12-04 03:44] feevos commented on #19609
Workaround that allows operations:

[code]

Output:

[code]

This is a small replacement hack for GroupNorm:

[code]
toy run:
[code]

[2020-12-04 04:09] gmx1992 commented on #11163
Proposed solution
[https://blog.csdn.net/CR_Alvin/article/details/110631788](url)

[2020-12-04 04:11] gmx1992 commented on #9271
Proposed solution
https://blog.csdn.net/CR_Alvin/article/details/110631788

[2020-12-04 04:17] mgouicem commented on #19610
Yes, the library was renamed to oneDNN. It makes sense to rename the flag to USE_ONEDNN since this is the latest official name for the library.

[2020-12-04 05:28] leezu commented on #19622
The issue persists after the upgrade to 20.04

[code]

https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17794/18/pipeline/

To solve this issue we need to find out where the proto 2.6 compiled binary comes from

[2020-12-04 06:27] lsdustc opened #19628 "CTC loss in mxnet 2.0 not work when use half precision"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=100` before running your script.)
`[14:22:42] /home/super/software/incubator-mxnet/src/storage/storage.cc:199: Using Pooled (Naive) StorageManager for GPU
Traceback (most recent call la

[2020-12-04 11:44] kpuatamazon commented on #19603
The sanity CI has passed.  Thanks @rondogency!

[2020-12-04 11:44] #19603 closed

[2020-12-04 17:04] szha opened #19630 "Edge pipeline segmentation fault"
## Description
tests/python/unittest/test_engine.py

## Occurrences
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fedge/detail/PR-19624/2/pipeline#step-276-log-165

[2020-12-04 18:48] karan6181 opened #19631 "MXNetError: unknown type for MKLDNN :2 when training Mask RCNN with mxnet-cu101==1.7.0"
## Description
- The GluonCV Mask RCNN script with and without horovod fails with `MXNetError: unknown type for MKLDNN :2` issue using `mxnet-cu101==1.7.0`

### Error Message

[code]

GluonCV: v0.9.0
Horovod: v0.21.0

## To Reproduce
### Without Horovod
[code]
Full log: https://gist.github.com/karan6181/efa4ad8f61c3e21cbee9c55fea98b2f0

### With Horovod
[code]

## Environment

***We recommend usin

[2020-12-04 19:42] Zha0q1 commented on #16471
building with ilp64 mkl/openblas is now supported. Setting USE_INT64_TENSOR_SIZE=1 will automatically link to ilp64 mkl now

[2020-12-04 20:06] szha commented on #19630
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fedge/detail/PR-19624/4/pipeline/

[2020-12-04 20:26] #16471 closed

[2020-12-04 20:35] leezu commented on #19630
You may skip the test to improve CI stability

[2020-12-05 18:12] szha commented on #19594
the windows version should be available on pypi now

[2020-12-05 18:12] #19594 closed

[2020-12-06 03:32] JaimeGoB commented on #18774
@appropiate will you able to install mxnet? I am facing the same issues as you. I cannot install mxnet, no matter what I do. I am running R 4.0.1 on MAC.

[2020-12-06 09:06] Rivendile opened #19634 "How to install mxnet from source quickly"
## Description
I find that it cost a lot of time to install from source, especially the process of building the shared library. However, I just want to change the submodule **ps-lite** for test. Is there a faster way to install MxNet from source code?
I install MxNet 1.5.0 on aws EC2 g4dn, the version used here should not be changed due to other reasons.

[2020-12-07 00:12] #19634 closed

[2020-12-07 06:45] saudet commented on #17783
Ok, I'm able to start looking into that.

Well, "language binding", it would basically be just the C API for starters. I think that would be enough for DJL though.
@lanking520 @frankfliu Would there be anything specific from your team?

For Jenkins, I assume I'd need to get access to the server and everything to do something with that myself...
What about GitHub Actions? I see there is some work g

[2020-12-07 06:51] edsn60 opened #19635 "ValueError: The argument structure of HybridBlock does not match the cached version. Stored format = [0], input format = [0, 0, 0]"
## Description
I was trying to train maskrcnn using mxnet and gluoncv under **cpu** with the script "train_mask_rcnn.py" provided by gluoncv (see https://cv.gluon.ai/build/examples_instance/train_mask_rcnn_coco.html). The train script does not raise any error, however, when I tried to load my pretrained model and test an image, I got this error. I don't know what's happening.

### Error Message
Tr

[2020-12-07 13:33] kpuatamazon opened #19636 "[CI] The user named '~jonathonf' has no PPA named 'ubuntu/gcc-8.0'"
At appears gcc-8.0 has disappeared from `jonathonf`'s PPA in Ubuntu, breaking CI.

https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/sanity/branches/PR-19601/runs/7/nodes/39/steps/80/log/?start=0

[code]

[2020-12-07 14:05] szha commented on #19635
To use with imports interface, you need to use block.export to save both the graph and the parameters.

[2020-12-07 15:12] szha commented on #17783
@saudet for setting up the pipeline, we just need to add a step in existing Jenkinsfiles. I can help facilitate any need for access to the CI.

[2020-12-07 16:33] lanking520 commented on #17783
I would recommed to provide a basic Java interface that allow all Java developers can build frontend to it. As Sheng mentioned, you can start with the Jenkins template to add a Java publish job to it.

[2020-12-07 17:17] leezu commented on #19630
The segmentation fault should be unrelated to test_engine. I'm updating the title.

[2020-12-07 18:48] Zha0q1 commented on #19630
I will look into this today. Seems to be affecting many prs

[2020-12-07 22:19] kpuatamazon commented on #19081
[code]

Seen in https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-19601/4/pipeline based on v1.x

[2020-12-07 23:26] Zha0q1 commented on #19630
@josephevans helped launched a bunch of new worker machines and edge should be able to pass now. I restarted the edge pipeline on a few of the recent prs that were previously blocked

[2020-12-07 23:39] #19630 closed

[2020-12-07 23:39] leezu commented on #19630
Thank you @Zha0q1 @josephevans

[2020-12-08 08:00] saudet commented on #17783
I don't really want to deal with CI, especially Jenkins, it's a major time sink and completely unnecessary with services like GitHub Actions these days, but let's see if I can figure out what needs to be done. If I take the Jenkinsfile_centos_cpu script for Python, it ends up calling functions from here, which basically install environments, runs builds, and executes stuff for Python:
https://gith

[2020-12-08 15:05] leezu commented on #17783
MXNet supports both cython and ctypes (fallback) for the Python interface. It depends on your build configuration.
https://github.com/apache/incubator-mxnet/blob/master/CMakeLists.txt#L91
We may want to change the default for MXNet 2

It's also fine to use Github Actions if that's easier for you. The main reason for using Jenkins is that the MXNet test suite is too large for a free service such as

[2020-12-08 23:57] samskalicky opened #19647 "[1.x] No exception for optimize_for when backend missing"
## Description
An exception is not thrown when `optimize_for` is called for an unknown backend. Instead, all that happens is a print message:

[code]

Notice that `optimize_for` actually returns a copy of the input symbol.

[2020-12-08 23:59] samskalicky commented on #19647
Should we just make this `LOG(FATAL)` instead?
https://github.com/apache/incubator-mxnet/blob/v1.x/src/c_api/c_api_symbolic.cc#L1547

[2020-12-09 00:26] samskalicky commented on #19647
Making the change above now throws an exception:
[code]

[2020-12-09 10:37] chinakook opened #19649 "Results are significant different between RTX 2080Ti and RTX 3090"
I built mxnet with cuda 11.1 by myself, but I found there are significant difference between the result of RTX 2080Ti and the one of RTX 3090.
I have tested the results with resnet18_v1(modified to same with torchvision), the results are following:
MXNet 2.0 on RTX 3090 result:
[code]

MXNet 2.0 on RTX 2080Ti:
[code]

MXNet 2.0 on CPU:
[code]

Torch 1.7 on RTX 3090
[code]

Torch 1.7 on RTX 2080Ti

[2020-12-09 14:26] troyliu0105 opened #19650 "make symbol's grad as net's output"
## Description
I want to make a GAM for symbol block. I just wonder whether here exists an api to do this, like below:

[code]
😃

[2020-12-09 16:17] szha commented on #19649
@chinakook thanks for reporting. how did you produce these results?

[2020-12-09 21:00] leezu opened #19651 "libopenblas64 not found"
[code]

even though `apt install libopenblas64` and `/usr/lib/aarch64-linux-gnu/libopenblas64.a` exists.

cmake build config should be updated to search for libopenblas64 before falling back to libopenblas if LT is on?

[2020-12-10 06:38] mseth10 commented on #18823
Fixed by #19614

[2020-12-10 06:38] #18823 closed

[2020-12-10 06:39] mseth10 commented on #19524
Fixed by #19614

[2020-12-10 06:39] #19524 closed

[2020-12-10 12:32] chinakook commented on #19649
I will do more tests, and then I will paste the test code here.

[2020-12-11 01:24] samskalicky opened #19655 "Race condition between loading a model and accessing tensor data"
## Description
Theres a race condition between loading a model and the model's params being available by a backend run with `optimize_for` like:
[code]
Where the data in the ndarrays have garbage data in the backend.

### Fix
We need to loop over the NDArrays for args/aux and call `wait_to_read` on each to ensure any previous operations pushed to the engine are complete:
https://github.com/apache/

[2020-12-11 01:26] fucker007 commented on #12280
是的这个问题让我觉得mxnet有点繁琐，就像一个套套一样。无法直达目标。

[2020-12-11 03:39] Sundrops opened #19657 "gradients using loss=F.make_loss(myloss) are not same as gradients not using loss=F.make_loss(myloss) in Hybrid programming"
The description of ndarray.make_loss is same as the description of symbol.make_loss. And it only explains symbol, not ndarray.
I want to know what `F.make_ loss()` will do when I use `net.hybridize()` and `loss.backward()`.

https://mxnet.apache.org/versions/1.7.0/api/python/docs/api/ndarray/ndarray.html?highlight=make_loss#mxnet.ndarray.make_loss
https://mxnet.apache.org/versions/1.7.0/api/python

[2020-12-11 06:04] sxjscience opened #19659 "[Bug] Latest MXNet fails the GluonNLP test case"
## Description
Minimal reproducible example:

@waytrue17 I think it might be related to the recent bugfix: https://github.com/apache/incubator-mxnet/pull/19614

[code]

Output:

[code]

[2020-12-11 19:04] samskalicky opened #19660 "[License] RAT excludes updates"
## Description
In the Apache Incubator general vote for the release of 1.8.0-rc2 [an issue was raised](https://lists.apache.org/thread.html/r47d1223cd30a04bbbbee83b642b800d9865620abe87607951f6a1124%40%3Cgeneral.incubator.apache.org%3E) regarding the difficulty in auditing the license status of MXNet. Here are the main points:
- Its hard to handle reviewing the licenses for the 3167 Unknown License

[2020-12-12 14:30] dmteams commented on #19594
hi, same problem here
![Capture](https://user-images.githubusercontent.com/75791502/101986456-3361c480-3c8e-11eb-95f2-50289e170d04.JPG)

I tried to activate the package of @bartekkuncer but not working either...
![Capture2](https://user-images.githubusercontent.com/75791502/101986580-e9c5a980-3c8e-11eb-81f6-eea84ddab3cd.JPG)

can anyone help me?

[2020-12-13 04:59] szha commented on #19594
@dmteams what you have seems to be a different problem where compilation for numpy failed. you can try to first install numpy directly (to hopefully pick up pre-built binary instead of building from source) and then install mxnet.

[2020-12-13 23:52] shroudie opened #19664 "Failed to build mxnet from source"
## Description
Hello all, I was trying to build mxnet from source (for tensorrt support), but errors occurred during build process.

### Error Message
Performing C SOURCE FILE Test CMAKE_HAVE_LIBC_PTHREAD failed with the following output:
Change Dir: /home/shunfan/Documents/mxnet/build/CMakeFiles/CMakeTmp

Run Build Command(s):/usr/bin/ninja cmTC_4bef8 && [1/2] Building C object CMakeFiles/cmTC_4b

[2020-12-14 01:55] Rivendile commented on #10828
I encountered the same error. My config.mk is https://github.com/apache/incubator-mxnet/blob/1.5.0/make/pip/pip_linux_cu100.mk, while ADD_CFLAGS and ADD_LDFLAGS are not set.
I can build MxNet when USE_S3=0. Any suggestions?

[2020-12-14 06:48] fucker007 opened #19665 "how to view model with mxnet"
why there is do not have `view model`  [https://mxnet.apache.org/api/faq/visualize_graph](url)

  a little bad

[2020-12-14 08:13] bartekkuncer commented on #19594
@dmteams I see that the numpy package was taken from cache. It is possible that there were some problems during download and therefore it does not work now. You might want to try `pip install --no-cache-dir mxnet` which will ignore cached libs. Please let me know if it helps.

If it goes to missing environment, you have to create one first to be able to activate it. I believe you do not need it to

[2020-12-14 16:51] mrngbaeb commented on #1090
that link is also broken :)

[2020-12-14 18:09] #18788 closed

[2020-12-14 18:13] leezu commented on #19664
Please provide the build configuration log.

cc @Zha0q1 due to the ` CheckSymbolExists.c:8:19: error: ‘OPENBLAS_USE64BITINT’ undeclared (first use in this function); did you mean ‘OPENBLAS___64BIT__’?` above

[2020-12-14 19:40] barry-jin commented on #19420
Here are the logs before and after reverting #19378
<details>
<summary>Before Revert</summary>

[code]

</details>

<details>
<summary>After Revert</summary>

[code]

</details>

[2020-12-14 21:30] barry-jin opened #19672 "[RFC] FFI: New Containers and Improve Object System"
## Problem statement
Currently MXNet is using PackedFunc based FFI[1] to improve performance of imperative execution. C APIs will be registered as PackedFunc in the runtime system and we can call any of these PackedFunc via only one exposed API. But, PackedFunc based FFI has only ADT(Algebatic data type), Integer and Float these contaienrs registered in runtime system, and also it is limited to on

[2020-12-15 03:00] ChaiBapchya opened #19673 "PR Status Labeler Bot doesn't get triggered by reviews"
## Description
some PRs get pr-awaiting-merge label when CI passes and it already has an approval, but others dont when the approval comes after the CI has already completed.

https://github.com/apache/incubator-mxnet/pull/19669

@samskalicky  Thanks for reporting

### Error Message
NA

### Steps to reproduce

1.Review a PR after CI has passed.

## What have you tried to solve it?

1. Manually lab

[2020-12-15 03:00] ChaiBapchya commented on #19673
@mxnet-label-bot update [bug]

[2020-12-15 03:10] ChaiBapchya commented on #19673
Cause of issue: Currently, Github webhook only sends events related to "Status"
https://issues.apache.org/jira/browse/INFRA-20624

What does Status event cover?
[code]
Basically, any change that happens to the commit status [CI running/success/failure]
However, PR review event is not part of Statuses event.

Next Steps
- Create a request for updating github webhook for PR Status Label to send even

[2020-12-15 04:27] leezu commented on #19672
It seems that the key difference between the TVM NDArray and MXNet NDArray wrt to FFI is that in TVM, the Ref will own a copy of the NDArray, whereas in the current implementation, MXNet NDArrayHandle in the FFI only owns a pointer to the underlying array. Changing the MXNet FFI to also own the underlying NDArray (copy constructor instead of pointer) should resolve the issue. Copy of the MXNet arr

[2020-12-15 05:10] shroudie commented on #19664
Were you talking about CMakeOutput.log? It is quite long, I've uploaded to Drive and shared with [this link](https://drive.google.com/file/d/1ScWR3KzqtmOGmHwBEbweEt61lRZxfK8Z/view?usp=sharing). Thanks,

[2020-12-15 11:42] Joaquin-aliaga commented on #18657
@szha Hi, I've installed the latest mxnet_cu11 ("mxnet_cu110-2.0.0b20201214-py3-none-manylinux2014_x86_64.whl") and the following error has happened:
AttributeError: module 'mxnet' has no attribute 'mod'

Working with:
Python 3.7.8
Debian 10
GPU: NVIDIA Tesla P100
CUDA 11

How can I solve this?
Thanks in advance

[2020-12-15 15:16] JustinNeumann commented on #19176
+1 and currently fighting with this one, though my overall setup is rather experimental currently.

plist is not the error reason since it is simply **ctypes.POINTER(ctypes.c_char_p)()**. Dependencies are all loaded according to self-crafted C++ script with LoadLibrary and a check of dependencies with dumpbin.exe shows them all in Path environment variable. The relevant function **MXNetFuncListGlo

[2020-12-15 15:55] leezu commented on #19664
I mean the output of the `cmake` command prior to running `make` or `ninja`. Sorry for the confusion

[2020-12-15 17:55] barry-jin commented on #19672
Yes, I agree with you. Owning the underlying NDArray instead of a pointer in NDArrayHandle should achieve the goal.

[2020-12-15 18:56] ChaiBapchya commented on #19673
Ticket created: https://issues.apache.org/jira/browse/INFRA-21193

[2020-12-15 21:30] shroudie commented on #19664
Thanks for the help. All I did was:

[code]

[2020-12-15 21:49] samskalicky commented on #19631
MXNetError: unknown type for MKLDNN :2

If you look at this file:
https://github.com/apache/incubator-mxnet/blob/64f737cdd59fe88d2c5b479f25d011c5156b6a8a/src/operator/nn/mkldnn/mkldnn_base-inl.h#L234-L247

You'll see its running dtype checking and doesnt find a case in the switch for value 2. If you go look at what value 2 is:
https://github.com/apache/incubator-mxnet/blob/64f737cdd59fe88d2c5b479f

[2020-12-15 21:54] karan6181 commented on #19631
Thank You @samskalicky . Mask RCNN does use AMP and it casts the weights and gradients to FP16 here https://github.com/dmlc/gluon-cv/blob/master/scripts/instance/mask_rcnn/train_mask_rcnn.py#L705

[2020-12-15 23:19] leezu commented on #19664
Yes, please provide the output of `cmake -DUSE_CUDA=1 -DUSE_TENSORRT=1 ..` with an empty build directory

[2020-12-15 23:24] shroudie commented on #19664
Hi, I shared a file of full output in [here](https://drive.google.com/file/d/10MaVIyo1HDOanxKeuSe7ud6wJ8RLoxGZ/view?usp=sharing), thanks!

[2020-12-15 23:34] leezu commented on #19664
You can see that `-- Configuring incomplete, errors occurred!`.

Please install `gfortran`, for example via `sudo apt install gfortran` as the `/usr/lib/x86_64-linux-gnu/libopenblas.a` uses the `libgfortran`.

cc @mseth10 do you think we should detect libgfortran even if gfortran compiler is not present?

[2020-12-15 23:35] karan6181 commented on #19631
I also tried running Mask RCNN script on single node using `mxnet-cu101mkl==1.6.0.post0` with `gluon-cv==0.8.0` and I was able to run it successfully without any issue.

Below is the output from the run:

[code]

However, running it with `mxnet-cu101==1.7.0` and `gluoncv==0.8.0` fails with:

[code]

[2020-12-15 23:48] samskalicky commented on #19631
@bgawrych @bartekkuncer @grygielski FYI, looks like something changed from 1.6.0 to 1.7.0 that is causing this issue when running on CPU with MKLDNN

[2020-12-15 23:54] szha commented on #18657
@Joaquin-aliaga it's probably due to unclean installation. try to:
- remove all previous installation
- (if you have a local copy of mxnet source code) invoke python in a location without mxnet

[2020-12-16 00:09] mseth10 commented on #19664
We didn't have to install `gfortran` separately before. But now with @Zha0q1 's recent [commit](https://github.com/apache/incubator-mxnet/commit/b1b50210f3a9befe421063d3878d43d03c15cf1f) on statically linking openblas, we have to install it separately. @Zha0q1 can you update the build instructions with this update?

[2020-12-16 00:29] shroudie commented on #19664
It is all working fine now, thanks a lot!

[2020-12-16 00:31] Zha0q1 commented on #19664
I think this is how cmake checks if a symbol exists. It tries to compile some dummy project and see it it succeeds

[2020-12-16 00:32] Zha0q1 commented on #19664
I will update the build from source doc in instruct the user to install gfortran then

[2020-12-16 01:59] #19664 closed

[2020-12-16 04:25] 2sin18 commented on #17506
Any updates? thanks.

[2020-12-16 08:02] cantor-set opened #19681 "USE_CPP_PACKAGE being ignored on 2.0 on while building from source"
## Description
While trying to compile `cpp-package` from the main branch, following the instructions from [here](https://mxnet.apache.org/get_started/build_from_source) and runing the following compilation step:

[code]

Results on:

[code]

The CPP package never gets build.

### Error Message
-- The C compiler identification is GNU 8.3.0
-- The CXX compiler identification is GNU 8.3.0
-- Check f

[2020-12-16 14:58] leezu commented on #19681
CPP Package is currently not available in MXNet 2. Contribution to add it back would be very welcome. You can copy over the code from v1.x branch and may need to do a few changes for compatibility due to removal of deprecated APIs in MXNet 2.

[2020-12-16 21:38] zhreshold commented on #19631
I would suspect that the merging of mkldnn as default caused some issue in the contrib operators.

[2020-12-16 22:28] DNXie opened #19683 "Floating point exception in mxnet.contrib.ndarray.arange_like"
## Description
Floating point exception in `mxnet.contrib.ndarray.arange_like` and `mxnet.ndarray.contrib.arange_like` when `repeat` is 0.

### Error Message
In mxnet 1.6:
[code]

In mxnet nightly version (2.0.0):
[code]

## To Reproduce
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2020-12-16 22:31] DNXie opened #19684 "Segmentation Fault in mxnet.ndarray.split_v2"
## Description
Segmentation fault in `mxnet.ndarray.split_v2`

### Error Message
[code]

## To Reproduce
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2020-12-16 23:09] leezu commented on #19684
`0` shapes are unsupported in the `mxnet.nd` interface. Please update to MXNet 2 and use `mxnet.np` (or use the experimental `mxnet.np` in mxnet 1.x versions).

I'm closing the issue as it's unsupported.

[2020-12-16 23:09] #19684 closed

[2020-12-16 23:09] leezu commented on #19683
`0` shapes are unsupported in the `mxnet.nd` interface. Please update to MXNet 2 and use `mxnet.np` (or use the experimental `mxnet.np` in mxnet 1.x versions).

I'm closing the issue as it's unsupported.

[2020-12-16 23:10] leezu commented on #19683
You can refer to https://github.com/apache/incubator-mxnet/issues/14253 for more information

[2020-12-16 23:10] leezu commented on #19684
You can refer to https://github.com/apache/incubator-mxnet/issues/14253 for more information

[2020-12-17 00:34] DNXie commented on #19683
@leezu  This issue doesn't involve 0 in shape.

[2020-12-17 00:37] DNXie opened #19686 "Floating Point Exception in mxnet.contrib.ndarray.interleaved_matmul_selfatt_qk"
## Description
Floating Point Exception in `mxnet.contrib.ndarray.interleaved_matmul_selfatt_qk`

### Error Message
In mxnet1.6:
[code]

In mxnet 2.0.0, floating point exception when exit.
To reproduce: https://colab.research.google.com/drive/1SVK_U1VKWX0sKj2nHr9P8pL5eLyLIBaw?usp=sharing
[code]

## Reproduce
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.

[2020-12-17 00:40] karan6181 commented on #19631
**Update:** Commenting out this line of code (https://github.com/dmlc/gluon-cv/blob/master/scripts/instance/mask_rcnn/train_mask_rcnn.py#L705-L710) seems to work with Horovod  `v0.21.0`, `mxnet-cu101==1.7.0` and `gluoncv==0.8.0`. However, running the same script without horovod fails with different issue which is mentioned below:

[code]

- **Conclusion:** Manually casting the model to FP16 doesn'

[2020-12-17 02:56] mseth10 opened #19688 "[RFC] Large MXNet source files causing CI build failures"
## Problem statement
MXNet CI is running OOM [1] while building MXNet binaries for unix-cpu and unix-gpu stages. This is an intermittent failure and the work around is to re-trigger CI a few times. The issue is caused due to some of the numpy .cc files being too large causing gcc to use too much memory. The issue was not pronounced with gcc7, but with the recent update to use gcc8 [2] for CI build

[2020-12-17 03:19] wkcn commented on #19688
There is a related issue: https://github.com/apache/incubator-mxnet/issues/18501
I also prefer Option 2 to solve the CI problem immediately : )

[2020-12-17 06:07] access2rohit commented on #19688
Thank you @mseth10 for looking into this !!
I think Option 2 helps us unblock CI thus unblocking all open source contributors immediately and gives us more time to take the corrective measure to refactor files to reduce memory utilization by gcc.

Option1 may keep us blocked for long and has the uncertainty of how long will it take.

IMHO Option 2 is the way forward :)

[2020-12-17 06:08] Zha0q1 commented on #19688
+1 for option 2

[2020-12-17 06:16] kshitij12345 commented on #19688
A tangential question:

Should we raise a bug report with `gcc` community as it seems that `gcc8` is using more resources to handle the same files than `gcc7` and it is a regression between those version.

[2020-12-17 15:35] leezu commented on #19683
What do you expect `repeat=0` to do?

[2020-12-17 15:37] leezu commented on #19683
We can reopen this issue and track improving the error message. It would be great to have a human-readable message instead of a crash.

[2020-12-17 15:38] leezu commented on #19686
[code]

you are using a `0` shape tensor as `num_heads=0`. It's not supported in `mx.nd` interface..

We can track improving the error message

[2020-12-17 15:43] leezu commented on #19688
How do you arrive at the time estimates? Adding a `CC=gcc-7` statement in runtime-functions.sh shouldn't take you 2 days. It should take less than 30 minutes... I'm also a bit worried about a time estimate of 40 days for splitting `.cc` files into multiple files.

[2020-12-17 16:24] leezu opened #19690 "oneDNN 2 missing headerfiles"
https://github.com/apache/incubator-mxnet/pull/19667 breaks Horovod (cf https://github.com/horovod/horovod/pull/2530) as some header files are missing in the pip wheel:`/usr/local/lib/python3.6/dist-packages/mxnet/include/mkldnn/oneapi/dnnl/dnnl.hpp:23:10: fatal error: oneapi/dnnl/dnnl_config.h: No such file or directory`

cc @bartekkuncer

[2020-12-17 16:25] leezu commented on #19690
Related code on MXNet side is at https://github.com/apache/incubator-mxnet/blob/91503f71e17fca9151779503fc9f5edefe26f2ef/tools/pip/setup.py#L148-L150

[2020-12-17 19:05] samskalicky commented on #19688
Effort will certainly vary depending on who does the work, their familiarity, and how long it takes them to ramp up. If we get people familiar with the code it could be shorter. If we get people unfamiliar, 5/day seems reasonable. If its someone new to MXNet (and possibly not an expert in C++) it could take longer.

Until we get actual people to volunteer to do the work, and ask them how long they

[2020-12-18 05:48] sxjscience commented on #19690
I've met this error too. @bartekkuncer  Is it possible to add the header to pip wheel? Also ping @szha

[2020-12-18 05:56] sxjscience commented on #19690
In terms of the wheel, I think the last wheel that works is 20201214.

[2020-12-18 11:05] anko-intel commented on #19631
I will try to analyze the issue.

[2020-12-18 13:13] bartekkuncer commented on #19690
@leezu I believe that changing L149 to: `shutil.copytree(os.path.join(CURRENT_DIR, 'mxnet-build/3rdparty/mkldnn/include/oneapi/dnnl'),` fixes the issue but as I am not familiar with horovod I do not know how to check if the fix works. Can you provide me with a way to reproduce the issue?

[2020-12-18 16:00] sxjscience commented on #19690
@bartekkuncer For me, I met this error when trying to install horovod (you may change the cuda version):

[code]

[2020-12-18 16:04] szha commented on #19690
@bartekkuncer I recommend the following for verification:
- Download a wheel with the correct headers (e.g. the 20201214 one that @sxjscience mentioend) and one without (the ones after 1214)
- Unzip them and examine the header content and see where the headers should be.
- Correct the toolts/pip/setup.py and use the wheel build scripts to build correct wheel.
- Verify if the headers are in the rig

[2020-12-18 18:56] leezu commented on #19690
Thanks @bartekkuncer! I opened https://github.com/apache/incubator-mxnet/pull/19694 as weekend has started in your timezone

[2020-12-19 22:13] Joaquin-aliaga commented on #18657
@szha I've created a new Google Cloud Platform instance (so no mxnet library was installed), then installed mxnet_cu110-2.0.0b20201218-py3-none-manylinux2014_x86_64.whl and the same error has happened.

module 'mxnet' has no attribute 'mod'

Working with:
Python 3.7.8
Debian 10
GPU: NVIDIA Tesla P100
CUDA 11

FYI: same code with mxnet-cu101 works fine, but GCP has Cuda11 by default.

[2020-12-21 01:48] dibgerge opened #19700 "Probability distirbutions"
## Description

For probabilistic modeling, pytorch has the `distributions` module, and tensorflow has the `tensorflow_probability` package. I haven't seen something similar for MXNet. The closest I've seen is `GluonTS`, but this more domain specific for forecasting.

Is this to be considered the official MxNet probability package?

[2020-12-21 02:32] szha commented on #19700
GluonTS certainly has plenty of distributions offerings. @xidulu and @szhengac also made the gluon.probability module for Gluon 2.0 (#18403, discussion in #17240), though this is not yet available in mxnet 1.x releases.

[2020-12-21 03:09] dibgerge commented on #19700
Great news! Thank you!

[2020-12-21 14:38] leezu commented on #19690
Horovod now fails with

[code]

[2020-12-21 14:41] bartekkuncer commented on #19690
Yes, I saw that, working on the fix.

[2020-12-21 14:42] leezu commented on #19690
Thanks @bartekkuncer!

[2020-12-21 16:08] kpuatamazon commented on #19688
A related problem is excessive code generation.  Take `np.delete` for example.

https://github.com/apache/incubator-mxnet/blob/16e2b15f6e334ca88f29b9c14e55547df2c136fc/src/operator/numpy/np_delete_op-inl.h#L337-L355

That's:
- MSHADOW_TYPE_SWITCH: 8 types on CPU and 7 types on GPU.
- MXNET_NDIM_SWITCH cases 1 through 5.
- MSHADOW_TYPE_SWITCH: 8 types on CPU and 7 types on GPU.
- MXNET_ASSIGN_REQ_S

[2020-12-22 11:55] bykim555 commented on #14844
1. Tried to build Android_armv7 using ci/build.py and sucess. ndk17, api 24
2.  Use Android Studio.
Android.mk,
include $(CLEAR_VARS)
LOCAL_MODULE := mxnet_inference
LOCAL_SRC_FILES := $(LOCAL_PATH)/libs/libmxnet.so
LOCAL_EXPORT_C_INCLUDES := $(LOCAL_PATH)/include/mxnet
include $(PREBUILT_SHARED_LIBRARY)
...
LOCAL_SHARED_LIBRARIES += mxnet_inference
include $(BUILD_SHARED_LIBRARY)

Application.mk

[2020-12-22 13:09] PawelGlomski-Intel commented on #19586
I am working on this.

[2020-12-22 13:14] leezu commented on #14844
@bykim555 which version of MXNet are you building. Please open a new discussion thread. Thanks

[2020-12-22 15:32] leezu opened #19705 "CI: rat check passing with 'java: command not found' on master"
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fsanity/detail/master/2424/pipeline

[2020-12-22 15:47] bartekkuncer commented on #19690
@leezu I think this PR https://github.com/apache/incubator-mxnet/pull/19706 should fix the problem.

[2020-12-23 05:05] saudet commented on #17783
I've updated my fork with a workflow for Java build on GitHub Actions: https://github.com/saudet/incubator-mxnet/commit/2be05405090e388bdfcb52d40d9419ca7aa038c4
Please let me know what you think of this!

It's currently building and testing for Linux (CentOS 7), Mac, and Windows on x86_64 with and without CUDA:
https://github.com/saudet/incubator-mxnet/actions/runs/437312011
(It looks like the bui

[2020-12-23 07:14] pribadihcr commented on #19550
Hi @Kh4L any help about this issue? thanks

[2020-12-23 08:48] gzchenjiajun commented on #18657
pip install mxnet-cu110
Tip me
ERROR: No matching distribution found for mxnet-cu110

@szha

[2020-12-23 12:07] vikram-rawat commented on #18774
I have the same problem. mxNet is not available for R 4.0.2. Please look into it.

[2020-12-23 13:49] leezu commented on #17783
Thank you @saudet. You can take a look at https://infra.apache.org/publishing-maven-artifacts.html for more information on the Apache Software Foundation (ASF) maven artifact publishing process. Summary: Release candidate artifacts are pushed to a staging area and can be promoted after the release vote passed.

One thing to note is that ASF policies do not allow publishing unreleased (nightly) art

[2020-12-23 13:59] leezu commented on #17783
I downloaded the `mxnet-2.0-20201222.141246-19-linux-x86_64.jar` and find that

[code]

As `libgfortran` has changed their ABI a few times over the years, you will need to include `libgfortran.so` in the `jar` (which we can distribute under AL2 License thanks to the [GCC Runtime Library Exception](https://www.gnu.org/licenses/gcc-exception-3.1.en.html)). However, you must not include `libquadmath.

[2020-12-23 16:18] marcoabreu commented on #17783
Regarding security: I think that the quoted paragraph has the same (in)securities as our jenkins setup, doesn't it?

[2020-12-23 16:25] leezu commented on #17783
I don't think so. Microsoft specifically says "We recommend that you do not use self-hosted runners with public repositories." It indicates to me that they have very little confidence in their security model. https://docs.github.com/en/free-pro-team@latest/actions/hosting-your-own-runners/about-self-hosted-runners#self-hosted-runner-security-with-public-repositories

[2020-12-23 16:44] marcoabreu commented on #17783
Yes I think they are mentioning the same security problem we are having with our jenkins slaves. Any user could run arbitrary code and install a rootkit. Hence the separation towards restricted slaves.

So from that point of view, I don't consider the github actions self runner any less secure than our jenkins slaves. But of course still insecure.

[2020-12-23 17:03] leezu commented on #17783
The problem with runners I had in mind is that there used to be no API to start new instances for each job, but rather that the instances had to be up and running all the time and would be re-used for all jobs. Thus any compromise would be truly persistent. We don't do that in our Jenkins setup, where instances are terminated time-to-time.

But I just checked the Github documentation and Microsoft

[2020-12-23 17:51] szha opened #19712 "Pre-built Binary for CUDA 11.1"
## Description
CUDA 11.1 is now available and mxnet should provide pre-built binary for it.

[2020-12-23 20:18] #19705 closed

[2020-12-25 01:32] saudet commented on #17783
Thanks for the links! I've been publishing to the Maven Central Repository, I know how that works.

It doesn't sound to me like they forbid publishing snapshots, just that it shouldn't be documented, which is weird, but whatever. It should be alright to deploy snapshots and keep it a "secret", no? They say we "should" do this and that, but if none of their services offers support for Maven artifac

[2020-12-25 01:47] saudet commented on #17783
FWIW, it looks to me like libquadmath is LGPL, not GPL: https://github.com/gcc-mirror/gcc/blob/master/libquadmath/COPYING.LIB

[2020-12-25 07:45] ZHEQIUSHUI opened #19715 "_contrib_MultiBoxPrior create failed in cpp code"
## Description
i can`t create _contrib_MultiBoxPrior symbol

### Error Message
![a0b11e7f427683649de04e44a8118d5](https://user-images.githubusercontent.com/46700201/103125970-d0c5eb00-46c7-11eb-953b-7089591affc4.png)

![641a54216bfe73f1f88945dfec07344](https://user-images.githubusercontent.com/46700201/103125971-d1f71800-46c7-11eb-9282-bb0f41569e0d.png)

## What have you tried to solve it?

1.i ha

[2020-12-25 12:20] leezu commented on #17783
There haven't been any ABI breaks in libquadmath.so. Thus we can simply ask users to install libquadmath.so by themselves and everything will work. Our users will not be able to find an incompatible libquadmath.so

You're right, but the consequence is the same.

Yes. Reading the https://infra.apache.org/publishing-maven-artifacts.html again, there is also https://repository.apache.org/snapshots wh

[2020-12-25 19:55] sa-mustafa commented on #17633
The functions are already forward-declared. For example, ToTensorImplCUDA/NormalizeImplCUDA/NormalizeBackwardImplCUDA are properly declared in [image_random-inl.h](https://github.com/apache/incubator-mxnet/blob/8e849e44abf33b5ee19c6631e8f62593cbd669ee/src/operator/image/image_random-inl.h#L52).
I don't know how the release build succeeds without nagging. Anyway, to work around it you should manual

[2020-12-25 19:59] dmteams commented on #19594
I tried to uninstall/reinstall numpy successfully, then try both `pip install mxnet` and `pip install --no-cache-dir mxnet` but I still have the same problem. I really do not understand... I finally installed TensorFlow that seems working just fine... Thank you anyway guys!

[2020-12-26 05:27] izzitrin9 opened #19716 "can't install mxnet package"
## Description
trying to install mxnet on Windows 10 using pip install mxnet==1.7.0.post1
, keep getting error message

### Error Message

 ERROR: Command errored out with exit status 1:
   command: 'C:\Users\zhang\miniconda\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\zhang\\AppData\\Local\\Temp\\pip-install-gbe7d_2e\\numpy\\setup.py'"'"'; __file__='"'"'C:\\U

[2020-12-26 08:37] Justobe opened #19717 "mxnet.base.MXNetError: MXNetError: Error in operator batchnorm6"
## Description
mxnet throws an exception when I try to build my model and use mxnet as the backend of keras. However, my script runs successfully on other backends of keras (such as tensorflow and cntk). I further found that the problem may be caused by batch normalization in the program when using mxnet.
I also noticed that this issue was mentioned in #15721, but this issue still exists in the la

[2020-12-26 12:17] rrjia opened #19718 "GPU memory cannot be released after MXPredFree"
Hi,

I use the C++ APIs of MXNet to do some classification tasks. But I find that MXNet does not release GPU memory when calling MXPredFree(). When my program exits, all occupied GPU memory is released. So when I run my program, I can do classification just once, otherwise GPU memory is not enough. I think this is a very serious problem. I hope MXNet developers @tqchen @mli @piiswrong can look int

[2020-12-26 13:11] xiaozhah opened #19719 "MXPredForward can't enanle dropout"
I create a network and set the attributes of `dropout` to `training`, but it stills can't utilzed the `dropout` when using MXNet C++ API [`MXPredForward`](https://mxnet.apache.org/versions/1.7.0/api/cpp/docs/api/c__predict__api_8h.html#a1ce8a6c852f1ae11c2504b9bc186e723).

[![enter image description here][1]][1]

How to enable `dropout` in c_predict_api?
any suggestion?

  [1]: https://i.stack.imgu

[2020-12-27 03:22] chinakook commented on #19649
The mxnet_cu110-1.9.0b20201226 built by official is good. I'll do more tests to find the reasons.

[2020-12-27 04:24] chinakook commented on #19649
The result also varies in mxnet_cu110-2.0.0b20201226

Result 1 on RTX 3090 on mxnet_cu110-2.0.0b20201226
[code]

Result 2 on RTX 3090 on mxnet_cu110-2.0.0b20201226
[code]

Test script for mxnet 2.0.0 master
[code]

[2020-12-27 06:26] chinakook commented on #19649
After more tests, I found that the result also varies on RTX2080Ti on both MXNet 1.9.0 and MXNet 2.0.0.
The result have 0.005 difference in the shallow layer. I think it will have more difference as the layer grows.
[code]

[2020-12-27 06:52] #19700 closed

[2020-12-27 08:18] chinakook commented on #19649
A torch test case. Torch has lower difference between 2080Ti and 3090. However, MXNet will have difference up to 0.3 in some cases.
[code]

[2020-12-28 08:21] AlexanderSerov commented on #19521
Hi folks. I have a question to mxnet team related to previous talk. In our design of androidnn we approach a situation when we need to pass devices to androidnn backend. Usually, other backends (mkl, tensort) get a device through Context. The problem is context support limited list of devices (CPU,GPU). On the other hand, androidnn support other set of devices (cpu, gpu, npu...) with indexes speci

[2020-12-28 11:34] dibgerge opened #19720 "`Distribution` repr fails if cached_property not initialized"
## Description
When defining a `Categorical` distribution using `logit` and then trying to display the distribution in the repl, it failed due to `KeyError: prob`. This error will happen to any distribution which contains `cached_properties` as part of its arguments declared `arg_contraints`.

### Error Message
[code]
## To Reproduce

[code]

## What have you tried to solve it?

Simply calling the

[2020-12-28 16:22] johsbk commented on #18671
@cosmincatalin this is because you NDarrays are not deallocated automatically, you can do use ResourceScope, like this:
`ResourceScope.using(new ResourceScope()) {
            val bareArray = row.getAs[Seq[Double]](fieldName).map(_.toFloat).toArray
            val shape = schema.getShape(fieldName)
            val transposedShape = shape.reverse
            val expectedSize = shape.product

[2020-12-28 20:25] dibgerge opened #19722 "[RFC + BUG?] Implementation of Categorical distribution"
## Problem statement

I am probably wrong about those, but I thought to ask here anyway. I was using `mxnet.gluon.probability.Categorical` from master, and two things came to my attention:

1. It requires a `num_events` argument, which feel unnecessary, and possibly could be eliminated?
2. [Possible bug] If providing `logit`, current `log_prob` implementation assumes we are providing `log softmax(

[2020-12-28 20:27] ChaiBapchya commented on #18673
Closing since the issue seems to be fixed & no activity from issue creator.

@sammieghabra
Feel free to reopen if the issue persists with later versions of MXNet.

[2020-12-28 20:27] #18673 closed

[2020-12-28 20:31] sxjscience commented on #19722
I think adding a `logsumexp` is reasonable. When the inputs are already from log_softmax, `logsumexp(x)` will be 0 so the behavior is the same as the current version. Basically, `logsumexp(log_softmax(x)) == 0`

[2020-12-29 01:27] samskalicky commented on #19521
Hi @AlexanderSerov great question, let me try and break it down.

Contexts in MXNet are chosen by users with the expectation that they can run their whole model with any particular context. The MXNet community has worked hard to maintain parity between CPU and GPU contexts so that the majority of models can be executed on either context successfully. A Context in MXNet needs to be able to support

[2020-12-29 19:23] cosmincatalin commented on #18671
Great stuff @johsbk

[2020-12-29 19:23] #18671 closed

[2020-12-30 14:13] leezu commented on #19690
@bartekkuncer looks like the `dnnl_config.h` is included in the wrong directory. It should be in `oneapi/dnnl/dnnl_config.h` at least horovod build fails with `usr/local/lib/python3.6/dist-packages/mxnet/include/mkldnn/oneapi/dnnl/dnnl.hpp:23:10: fatal error: oneapi/dnnl/dnnl_config.h: No such file or directory  #include "oneapi/dnnl/dnnl_config.h"`)

[2020-12-30 14:18] leezu commented on #19690
The files included in are

[code]
I think we may need to update https://github.com/apache/incubator-mxnet/blob/3c5beb3596b6bc01f77bc7ddd14ed90221c31950/cd/mxnet_lib/static/Jenkins_pipeline.groovy#L36 to ensure that the config files are stashed correctly on the CD

[2020-12-30 16:00] dai-ichiro commented on #19716
You need C compiler.
For example, install Visual Studio 2019 community, and then install mxnet.

[2020-12-30 19:54] ChaiBapchya commented on #19019
@MoisesHer Any update on this? Is someone working on the fix?

[2020-12-31 01:04] szha commented on #19690
we might also consider making it robust in setup.py by asserting the existence of these header files instead of only include when available.

[2021-01-01 09:44] xidulu commented on #19722
Hi @dibgerge
The reason "num_events" is required is that we cannot call `logit.shape` or `prob.shape` in the symbolic mode, as you can see, TF would use a very complicated subroutine to get num_events in the symbol mode: https://github.com/tensorflow/probability/blob/v0.11.1/tensorflow_probability/python/distributions/categorical.py#L352
while torch does not have such issue : https://github.com/py

[2021-01-01 13:10] troyliu0105 commented on #18834
@szha
I built v1.8.0, v1.7.0 to reproduce this issue. and I can confirm that still happens.
But it works fine when I use prebuild package 1.6.0.post0 from pypi.

I have same issue in my code. After I turned `hybridize` on, it will produce this error. But with `off`, everything works fine.

[2021-01-01 14:30] leezu commented on #18834
@troyliu0105 it just means that you managed to corrupt your python profile. Try uninstalling all mxnet packages (you probably have multiple insatlled?) and installing again

[2021-01-01 15:12] troyliu0105 commented on #18834
@leezu actually, I created different anaconda env and duplicated source code directory for each build. So, I think they are isolated.

[2021-01-01 16:04] leezu commented on #18834
Sorry, but as you experience the issue of importing, it means that your environment is broken. You can try using `pip install -e .` to install while in the `incubator-mxnet/python` directory

[2021-01-01 17:17] #19720 closed

[2021-01-03 06:55] troyliu0105 commented on #18834
@leezu 😂，that's not the issue I encountered. I think you confused me with the one opened this issue.

[2021-01-03 16:26] DNXie commented on #19686
@leezu  Thanks! An exception message sounds better than crash.

[2021-01-03 16:27] DNXie commented on #19683
@leezu Sounds great.

[2021-01-03 21:57] leezu commented on #18834
Ok. I thought you talk about the `ImportError: cannot import name 'nd'` issue described above.

[2021-01-04 02:12] troyliu0105 commented on #18834
@szha I build the most recently master branch. cuz gluoncv is not compatible with mxnet 2.0 (can't pass version assert), so I use previous exported weight to test like below:

[code]

and this issue still occurs.
<img width="1388" alt="image" src="https://user-images.githubusercontent.com/5518286/103495301-4757ab00-4e75-11eb-9a1a-b8cf2f6f9b0f.png">

[2021-01-04 09:34] bartekkuncer commented on #19690
Thanks @leezu . I fixed it in CI but must have overlooked it in CD.

[2021-01-04 14:51] leezu commented on #19690
It looks like there are still more issues with the CD. Horovod still fails with

[code]

[2021-01-04 15:37] bartekkuncer commented on #19690
Yes, I saw that. https://github.com/apache/incubator-mxnet/pull/19726 should fix the issue.

[2021-01-05 00:36] szha commented on #19719
if you always want dropout enabled even during inference, you can set mode to `always`

[2021-01-05 01:05] szha commented on #19717
cc @sandeep-krishnamurthy

[2021-01-05 02:02] dibgerge commented on #19722
Thank you for the clarification. I am not very familiar with the symbolic code. I wonder if it is worth implementing this subroutine to calculate shape if at all possible, or it may add significant overhead.
Also wondering, would there be performance differences between `npx.logsoftmax` and the `logaddexp` PR?

[2021-01-05 04:58] saudet commented on #17783
I suppose it's more business friendly, but it's not a requirement for releasing binaries under Apache, correct? That is, this is a policy specific to the MXNet project?

Yes, I saw that too. There's already a few snapshots from MXNet there, so I assume we can use it freely:
http://repository.apache.org/content/groups/snapshots/org/apache/mxnet/
(Oh and look at that, the artifacts are using a gener

[2021-01-05 07:08] xidulu commented on #19722
MXNet should support symbolic shape like TF does (I guess), but I have zero knowledge of it, and it's probably broken or out of maintenance or not compatible with deep NumPy api or something  :-|

Regarding ur second question, the performance should roughly be the same, since they are both doing reduction operation. (Maybe `npx.logsoftmax` could be faster)

[2021-01-05 13:19] szha commented on #19722
You can use the shape_array function on arrays to retrieve shapes as an MXNet managed array (i.e. symbol/ndarray) and use that to retrieve the num_categories as a scalar array through indexing

[2021-01-05 14:15] leezu commented on #17783
It is a requirement to release the binaries under AL2. You can refer to https://www.apache.org/legal/resolved.html for a list of compatible and incompatible licenses. LGPL is Category-X (not allowed) as it places restrictions on the larger work.

It's fine with me to re-use the existing pattern if others don't mind.

We can open a ticket with [Apache Infra](https://infra.apache.org/). Would you li

[2021-01-06 05:54] cyrusbehr opened #19729 "Unable to disable MXNET_CUDNN_AUTOTUNE_DEFAULT"
When I run GPU inference, I get the following message:
[code]

This significantly slows things down as tuning can take some time, and is an issue when I have variable input sizes (as tuning can occur for every image). I therefore want to disable tuning.

If I run `export MXNET_CUDNN_AUTOTUNE_DEFAULT=0` then re-run my script, it makes no difference. The message is still printed, and auto tuning is

[2021-01-06 16:38] leezu commented on #19690
Thank you @bartekkuncer!

[2021-01-06 16:38] #19690 closed

[2021-01-07 00:18] djaym7 commented on #1432
self.clear_gpu()
del self.net,train_loader,val_loader,train_dataset,val_dataset
gc.collect()

There still remains ~2gb memory occupied in gpu which is only cleared after restarting/killing the kernel/process without which the memory keeps increasing till there is None left after every iteration.

[2021-01-07 05:31] sxjscience opened #19730 "Enabling cutensor in the CD pipeline"
## Description
@MoisesHer previously enabled to use cutensor to accelerate our einsum. However, we still need to turn it on manually https://github.com/apache/incubator-mxnet/blob/fcfef81c36a311e96735c817b26692ad3333960f/config/linux.cmake#L43. It will be great if we can enable the cutensor-acceleration by default in our pip wheel.

I think this can be a 2.0 item.

What's your opinion @szha @leezu

[2021-01-07 09:20] benz725 opened #19731 "Cannot compile the source code with the tensorrt flag(cmake -D USE_TENSORRT=1)"
## Description
**I want to use tensorrt with my mxnet, i compile the mxnet with the source code. when I add the flag cmake -D USE_TENSORRT=1, i report compile error like this:**
CMake Error at /home/yfzx/.local/lib/python3.7/site-packages/cmake/data/share/cmake-3.18/Modules/FindPackageHandleStandardArgs.cmake:165 (message):
  Could NOT find Protobuf (missing: Protobuf_INCLUDE_DIR)
Call Stack (most

[2021-01-07 09:47] benz725 commented on #19731
problem resolved!
from the Reported message : Could NOT find Protobuf (missing: Protobuf_INCLUDE_DIR)
i install the protobuf ( sudo apt-get install libprotobuf-dev protobuf-compiler), then solved the problem.
but when compile again , it reported another problem:
CMake Error at CMakeLists.txt:242 (find_library):
  Could not find ONNX_LIBRARY using the following names: libonnx.so

-- Configuring inc

[2021-01-07 11:03] leezu commented on #19730
If we do this, the pip wheel will only work on computers with cutensor installed. We are currently not allowed to ship the cutensor inside the pip wheel under Apache License 2, though NVidia could allow this if they decide so.

[2021-01-07 11:05] leezu commented on #19731
The build with tensorrt is currently not very user friendly. Nvidia plans to contribute a PR to improve it. For now, follow
https://github.com/apache/incubator-mxnet/blob/ae8c9748743ca98979964bd34643aca343f93c7c/ci/docker/runtime_functions.sh#L541-L594

[2021-01-07 14:22] benz725 commented on #19731
Thank U very much!!
I'm not very clear about how to use this .sh file in docker, I will try to install onnx manually tomorrow, thank you again!

[2021-01-07 15:21] leezu commented on #19731
You don't need to use the .sh file, but you can just refer to the steps listed in the section of the .sh file referenced

[2021-01-07 15:23] leezu commented on #19731
cc @Kh4L

[2021-01-08 00:41] ZHEQIUSHUI commented on #19715
anybody help?plz

[2021-01-08 02:43] benz725 commented on #19731
thanks, I still don't know how to install onnx manually, I get many errors in the follow the tutorial of the onnx installation guide.

[2021-01-08 07:00] benz725 commented on #19731
I'm very confused about the error message:
**CMake Error at CMakeLists.txt:242 (find_library):
Could not find ONNX_LIBRARY using the following names: libonnx.so**

I search in both onnx and onnx-tensorrt folders , there is no file named libonnx.so**, I only found some files named libnvonnxparser.so/libnvonnxparser.so.7/libnvonnxparser.so.7.2.1.
What should I do next?
Thank you!

[2021-01-08 08:31] Kh4L commented on #19731
Did you run this successfully:

[code]

If yes, what is the outputs of :
[code]
and finally, can you verify if this path is part of `$LIBRARY_PATH`?

[2021-01-08 10:15] hassonofer commented on #18800
Any timeline updates ?
The tables at https://cwiki.apache.org/confluence/display/MXNET/1.8.0+Release+Plan+and+Status
seems out of date

[2021-01-08 21:11] samskalicky commented on #18800
The current status is here:

https://lists.apache.org/thread.html/r0bcc91647e8d199eb138e13644aa765167402e778227dbf7c6d50a84%40%3Cdev.mxnet.apache.org%3E

On Fri, Jan 8, 2021 at 2:16 AM Ofer Hasson <notifications@github.com> wrote:

[2021-01-08 21:26] hassonofer commented on #18800
Thanks for that

[2021-01-09 08:17] benz725 commented on #19731
I will tell what I have done:
First, I download onnx-tensorrt from "https://github.com/onnx/onnx-tensorrt" to my /home dir, but in this project, the onnx-tensorrt/third_party/onnx/  directory is empty, I download the onnx from "https://github.com/onnx/onnx/tree/553df22c67bee5f0fe6599cff60f1afc6748c635" to the onnx-tensorrt/third_party/onnx/ dir.
Then I follow the onnx-tensorrt official tutorial, d

[2021-01-09 10:41] leezu commented on #19731
You need to run `git submodule update --init recursive` inside the mxnet folder. Do not manually copy around folders

[2021-01-10 05:19] wkcn commented on #19729
Could you please try to add the following code in the head of your script?
[code]

[2021-01-10 06:18] cyrusbehr commented on #19729
Adding that doesn't change anything for me.

[2021-01-10 09:26] benz725 commented on #19731
when I have done what you have told me, i download the mxnet source code again and do the git submodule update --init --recursive, I followed the .sh file as listed before, when it run to the "cmake -DONNX_NAMESPACE=$ONNX_NAMESPACE .." line , it reported error :

NAMESPACE=$ONNX_NAMESPACE ..
Generated: /home/yfzx/mxnet-src/incubator-mxnet/3rdparty/onnx-tensorrt/build/third_party/onnx/onnx/onnx_onn

[2021-01-10 11:35] leezu commented on #19731
You will need to install tensorrt first. Please see https://developer.nvidia.com/Tensorrt

[2021-01-10 11:41] benz725 commented on #19731
Yes , I already have installed Tensorrt. It is in my /usr/local/TensorRT-7.2.1.6/ directory.

[2021-01-10 12:21] benz725 commented on #19731
@leezu
and follow the https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/sampleMNIST tutorial, I run the sample_mnist program to confirm my tensorrt is installed correctly.
the output of the sample_mnist is below:
&&&& RUNNING TensorRT.sample_mnist # ./sample_mnist
[01/10/2021-20:19:35] [I] Building and running a GPU inference engine for MNIST
[01/10/2021-20:19:42] [I] [TRT] Some ta

[2021-01-10 12:35] leezu commented on #19731
`usr/local/TensorRT-7.2.1.6` is a non-standard tensorrt directory. So you need to specify `-DTENSORRT_ROOT=/usr/local/TensorRT-7.2.1.6`

[2021-01-10 13:10] Counterfeiter commented on #11868
Would like to build mxnet v1.6.x for raspberry pi 4 ubuntu (arm64), fails with the same error.
Is NNPACK still supported? There are other unresolved issues with this package in the issue ticker...

Also cross compiling with docker fails... but I have to modify the build commands, to get it working until it fails at compile time...

[2021-01-10 14:03] benz725 commented on #19731
OK, I compiled it correctly.
but when I do make, it reported error again....
I only paste part of it, like this:
In file included from /home/yfzx/mxnet-src/incubator-mxnet/3rdparty/onnx-tensorrt/third_party/onnx/onnx/defs/schema.h:24:0,
                 from /home/yfzx/mxnet-src/incubator-mxnet/3rdparty/onnx-tensorrt/third_party/onnx/onnx/defs/nn/defs.cc:7:
/home/yfzx/mxnet-src/incubator-mxnet/3rd

[2021-01-10 14:28] benz725 commented on #19731
OK, I compiled again, and now it work correctly.
But I don't know at the bottom of  .sh file, the directory of /work/mxnet/lib, what's the meaning of the /work/mxnet?
Is that the directory of the mxnet source code? I think I must change the directory, because when i do the copy, the terminal will exit.

[2021-01-10 14:29] leezu commented on #19731
`/work/mxnet ` refers to the path of mxnet source code, yes.

[2021-01-10 14:33] benz725 commented on #19731
the result of the "ls 3rdparty/onnx-tensorrt/third_party/onnx/onnx" is :
backend                  onnxifi_dummy.c           onnx_pb.h
bin                      onnxifi_ext.h             onnx.proto
checker.cc               onnxifi.h                 onnx.proto3
checker.h                onnxifi_loader.c          optimizer
checker.py               onnxifi_loader.h          optimizer.py
common

[2021-01-10 14:35] benz725 commented on #19731
@leezu
Thank you, it's 10:30PM in my country, I must go home and fix it tomorrow.
Thanks!

[2021-01-11 02:58] benz725 commented on #19731
@leezu @Kh4L
the incubator-mxnet/ci/docker/runtime_functions.sh file,
I can run to the line before the
" cmake -DUSE_CUDA=1                            \
           -DUSE_CUDNN=1                           \
           -DUSE_OPENCV=1                          \
           -DUSE_TENSORRT=1                        \
           -DUSE_OPENMP=0                          \
           -DUSE_MKLDNN=0

[2021-01-11 05:36] Kh4L commented on #19731
@benz725
`/work/mxnet/lib` is for the `LD_LIBRARY_PATH`, as it is done here:
https://github.com/apache/incubator-mxnet/blob/209a789e6cbc06d686b23893b892fbd58af6ffe8/ci/docker/runtime_functions.sh#L1099

`/work/mxnet` correspond to the root of the source code.
In your case, you should replace all occurrences of `/work/mxnet` by `/home/yfzx/mxnet-src/`.

[2021-01-11 07:52] benz725 commented on #19731
@leezu @Kh4L
I git clone the project agin to my folder : run "git clone --recursive https://github.com/apache/incubator-mxnet mxnet" at my "/home/yfzx/mxnet-src/mxnet_root" folder, then run below lines one by one:

set -ex

export CC=gcc-7
export CXX=g++-7
export ONNX_NAMESPACE=onnx

# Build ONNX
pushd .
echo "Installing ONNX."
cd 3rdparty/onnx-tensorrt/third_party/onnx
rm -rf build
mkdir -p build

[2021-01-11 12:17] leezu commented on #19731
Maybe your machine is running out of memory and killing the terminal. Try using less parallel processes.

[2021-01-11 13:51] benz725 commented on #19731
the docker which you infered can run tensort directly？where can I download the docker image？i donnt want to compile again. so many bugs make me so headacke.
@leezu

[2021-01-11 14:56] chinakook commented on #19681
I have developed a MXNet 2 compatible mxnet-cpp package called mxnet-cpp-mini which inference support only. I'll release it if someone want to use it too.

[2021-01-11 15:41] leezu commented on #19731
@Kh4L would you have time to submit the PR to simplify TensorRT build? It's really unfortunate the current build is not easy for users

[2021-01-11 17:08] benz725 commented on #19731
i think if there is a docker image i can download directly , it will work and can save me a lot of time .

[2021-01-11 17:48] leezu commented on #19731
@benz725 it's not allowed due to license of tensorrt

[2021-01-12 01:02] Neutron3529 commented on #19649
have you ever tried `NVIDIA_TF32_OVERRIDE=0 python`?
3090 using tf32 to accelerate training&testing by default, and using `NVIDIA_TF32_OVERRIDE=0` will disable it.

[2021-01-12 01:08] Neutron3529 commented on #19712
CUDA 11.2 is now available and mxnet should provide pre-built binary for it.
It seems that CUDA 11.2 is faster than CUDA 11.1, at least on my RTX 3090.

[2021-01-12 04:03] chinakook commented on #19649
@Neutron3529 I think It has nothing to do with tf32. I've tested with ```NVIDIA_TF32_OVERRIDE=0``` as you suggested, the problem is not solved.

[2021-01-12 04:05] chinakook commented on #19712
Pytorch said they are going to skip CUDA 11.1 because of bug and realse a CUDA 11.2 version.

[2021-01-12 04:25] chinakook commented on #19712
@Neutron3529 The latest cudnn cannot support CUDA 11.2, how did you do that?

[2021-01-12 10:13] Neutron3529 commented on #19712
I currently using Manjaro system, and find there are no difference between cuda 11.1+cudnn8.0.5.39 and cuda 11.2+cudnn8.0.5.39(maybe 11.1)

All the trainings are fine and running at full speed.

[2021-01-12 10:25] Neutron3529 commented on #19649
my result (v1.x, compiled by myself):
[code]
it seems that `NVIDIA_TF32_OVERRIDE=0` works for me, and without it may bring a huge bias.

what's more, my CPU generated the different result (`13064.974` vs `13064.977`)compared to yours, maybe the error is normal and do not worth an issue.

[2021-01-12 13:44] chinakook commented on #19649
@Neutron3529 Yes, v1.x is OK. MXNet 2 has this bug.

[2021-01-12 22:56] TristonC commented on #19731
@benz725 NVIDIA has MXNet container at https://ngc.nvidia.com/catalog/containers/nvidia:mxnet

[2021-01-12 23:16] TristonC commented on #19649
The TF32 is on by default from MXNet 1.8. Pytorch may have TF32 off by default.

[2021-01-12 23:21] DickJC123 commented on #19729
Is it possible that in your model the Convolutions have set the cudnn_tune parameter, e.g. mx.sym.Convolution(...,cudnn_tune=1)?  This would take precedence over the environment variable, which supplies the default setting.

[2021-01-13 01:33] Zha0q1 opened #19747 "Bert ONNX export produces nan on Tensor RT in fp16 mode"
I am trying to enable the path mxnet/gluon-nlp --> onnx --> tensorrt.
There is a bug that if I use a pretrained bert model, then running inference with tensor rt in fp16 mode will produce `nan`'s.

Using pretrained weights:
[code]
Not using pretrained weights:
[code]

More specifically, WITHOUT pretrained weights, tensor rt can produce reasonable outputs in both fp16 mode and regular fp32 mode. Ho

[2021-01-14 07:32] #19715 closed

[2021-01-14 10:58] Wallart commented on #10002
Same here on MXNet 1.8.0.rc2.
I'm trying to implement cBiGAN which is composed of residual blocks and follows WGAN-GP training procedure.

[2021-01-14 17:37] TristonC commented on #19747
@MoisesHer is currently working on this issue.

[2021-01-14 21:13] OliverColeman opened #19752 "Allow Symbol arguments for BilinearResize2D width, height, scale_*"
## Description
`ndarray.contrib.BilinearResize2D` expects the  `width`, `height`,  `scale_width` and `scale_height` parameters to be scalar ints or floats. The request here is to allow passing a Symbol for these parameters. The Symbol values could come from, for example, the `nd.shape_array()` function. This would allow, for example, specifying the output size of the Bilinear operation based on th

[2021-01-14 23:58] Zha0q1 opened #19753 "TopK returns float32 indices"
It looks like regardless of the input type the indices output `B[1]` is always of type float32. I checked the c++ code and I think it's supposed to be int32/64? Is this behavior by design?

[code]

[code]

@access2rohit @leezu @sxjscience @szha

[2021-01-15 00:00] sxjscience commented on #19753
I think we should set the B[1] to int32/int64.

[2021-01-15 00:11] Zha0q1 commented on #19753
I just realized there is a parameter `dtype` in topk to control the type of the indices output

Also had a quick discussion with Rohit. We might force indices output to use int32/64 in 2.0. In v.1x we might want to keep the current behavior so that we do not break things

[2021-01-15 00:12] sxjscience commented on #19753
Yes, +1 for forcing the change in 2.0.

[2021-01-19 18:25] andrei5055 commented on #19420
@barry-jin : To investigate this problem I need to compile MxNet locally. Do you know what set of **cmake** options I need to use for that?

[2021-01-19 18:39] barry-jin commented on #19420
From my experience, I just used following commands to build MxNet locally and reproduce the issue:
[code]

[2021-01-19 21:53] andrei5055 commented on #19420
Thanks a lot for the script! Unfortunately, I am having a linking problem:
[code]
The file `dnnl_config.h` is not presented in any part of  `incubator-mxnet`

[2021-01-19 23:04] barry-jin commented on #19420
You may try to update 3rdparty modules `git submodule update --init --recursive`

[2021-01-19 23:46] cyrusbehr commented on #19729
I inspected the model json file, and saw the following in the json file:
`"cudnn_tune": "limited_workspace", `

So it looks like `cudnn_tune` needs to be set to off or None.

[2021-01-19 23:46] #19729 closed

[2021-01-20 08:11] harplife commented on #10562
Windows 10 Enterprise v 20H2, Python 3.6, Cuda 10, mxnet 1.7.0 - I have this problem too. It does work with `num_workers=0`.

[code]

[2021-01-20 09:35] tmyapple opened #19768 "MaskRCNN deconv layer does not really use the bias"
## Description
MaskRCNN second stage has a deconv layer - implemented as **Conv2DTranspose** (in GLUON-CV).
By examination of this layer you will see that it contains a bias, but does not really use it.
It is weird, because the bias is actually exist but is not really needed. So although, in the layer kwargs the default of **no_bias=False**, and the deconv layer in the mask-rcnn has the default va

[2021-01-20 19:15] szha commented on #19712
CUDA 11.2 support in #19764, currently pending new release for cudnn, details are in the PR.

[2021-01-20 21:17] andrei5055 commented on #19420
@barry-jin : Is it true, that the script you gave me should reproduce this problem? I tried, and I don't see it:
```==== 71 passed, 16 skipped, 17 warnings in 1528.46s (0:25:28) ====```
Just in case... The 16 tests were skipped, because **"JVM is not supported"**. I'm not sure if a memory problem will show up in one of these tests.

[2021-01-20 23:52] barry-jin commented on #19420
@andrei5055 Thanks for your investigation. I think the warning message should be "TVM is not supported". You can follow [tvm documentation](https://tvm.apache.org/docs/install/index.html) to install tvm. Alternatively, I will provide test suite without tvm support that will reproduce this issue.

[2021-01-21 00:29] ChaiBapchya commented on #17485
@Kh4L was this issue fixed? If yes what was the workaround?

[2021-01-21 04:48] barry-jin commented on #19420
You can checkout gluon-nlp to https://github.com/dmlc/gluon-nlp/commit/7910d6d247ec9cb1b51cd49d79e3d474b087b188 and run following test suite.

[code]

[2021-01-21 17:33] karan6181 commented on #17485
The issue occurs when batch size is greater than 1 per GPU. If user provide the Batch size of 1 per GPU, then Validation works perfectly fine. However, when batch size is greater than 1 per GPU then they see this error `IndexError: index 999 is out of bounds for axis 1 with size 500`. Looks like a Bug. FYI @zhreshold

[2021-01-21 18:03] karan6181 commented on #17485
I did some analysis on different `batch_size` hyperparameter configurations:

1. If `batch_size=1 per GPU`, then training plus validation (after every epoch) works without any issue
2. If `batch_size=2 per GPU`, then training works (If we don't run validation at all)
3. If `batch_size=2 per GPU`, then training works, but validation fails, irrespective of doing validation at every epoch or at the e

[2021-01-21 18:49] karan6181 commented on #17485
- I debugged the code a bit and found this line (https://github.com/dmlc/gluon-cv/blob/master/scripts/instance/mask_rcnn/train_mask_rcnn.py#L694) might be the culprit or things where we should start looking at.
- For `batch_size=2 per GPU`,  I think during training, the data loader created such a way that it passes 2 images per GPU during forward pass. However, Validation doesn't support multi-bat

[2021-01-21 20:05] zhreshold commented on #17485
@karan6181
after investigating the mask rcnn, I think a simple fix should do the trick to allow validation work with models initialized with `batch_size > 1`:

here: https://github.com/dmlc/gluon-cv/blob/ecf491685018e951bec12f9e45bc482749de4f85/gluoncv/model_zoo/rcnn/mask_rcnn/mask_rcnn.py#L85

we can modify this line to

[code]

[2021-01-21 23:34] DNXie opened #19773 "Documentation bug: format issue in the document of mxnet.gluon.contrib.estimator.GradientUpdateHandler"
## Description

format issue in the document of `mxnet.gluon.contrib.estimator.GradientUpdateHandler`

## Link:
https://mxnet.apache.org/versions/1.7.0/api/python/docs/api/gluon/contrib/index.html#mxnet.gluon.contrib.estimator.GradientUpdateHandler

![image](https://user-images.githubusercontent.com/24580222/105425368-3c439f80-5c17-11eb-9122-561c50302891.png)

[2021-01-22 00:19] KaixuYang opened #19776 "Could you release the sdist on pypi besides the wheels"
Hello,

For the python version, would it be possible to release the sdist files besides the wheel files? Thanks!

[2021-01-22 00:40] ChaiBapchya commented on #17485
@karan6181 tested it on EC2 instances and verified that this works.
Thanks @zhreshold for pointing it out & @karan6181 for helping with investigation.

[2021-01-22 02:09] szha commented on #19776
I think that's a good idea. With the revamped cmake build, the build system could potentially auto-discover available libraries for integration when building. The relevant work would be to add the logic for triggering cmake build into the setup.py.

[2021-01-22 10:15] yongyi-wu opened #19777 "np.pad() fails even with simple arguments"
## Description
I used `np.pad()` just for some basic operations, but it fails without giving any informative error message. I tried different inputs, but the function fails every time.

### Error Message
[code]

## To Reproduce
[code]

## Environment

<details>
<summary>Environment Information</summary>

[code]

</details>

[2021-01-22 11:57] leezu commented on #19776
@KaixuYang would you like to help improve the setup.py. I'm happy to advise on any questions

[2021-01-22 12:24] tuoyuxiang commented on #5759
都2021年了，这个bug还没人修复？？

[2021-01-22 12:25] tuoyuxiang commented on #5759
It's 2021 now, the bug still alive here?

[2021-01-22 13:51] leezu commented on #19777
Thanks for reporting the issue @yongyi-wu. It's a bug in the FFI. @barry-jin could you take a look?

https://github.com/apache/incubator-mxnet/blob/1c3fcad78caa7e58f81045d6128435a59222dfdd/include/mxnet/runtime/object.h#L807-L813

[2021-01-22 14:00] NamelessLoop opened #19778 "Cython setup.py including mxnet library, mxnet.libinfo.find_include_path() error"
I have already "cythonized" my code declaring in the code int, double, list ecc. But, as my code has data type from the Mxnet library like: (mxnet.io.NDArrayIter, mxnet.ndarray.ndarray.NDArray), I wanted to declare those to speed up the training phase of the code. Searching on the web I find out that, like for numpy.get_include() in the setup.py file, I have to declare the same path for mxnet in "

[2021-01-22 14:33] leezu commented on #19778
Sorry, but what exactly are you trying to do? Do you want to directly interface with MXNet C API in your Cython code? Or do you want to use MXNet Python API in your Cython code? In the latter case, you can't release the GIL and the MXNet code will run in standard Python invoked by your Cython code

[2021-01-22 14:45] NamelessLoop commented on #19778
Exactly I have a python code in which I'm using mxnet functions. Yesterday I found out that if I compile it, it is faster but moreover if I add extension to the .pyx and then compile it, it is even more faster. I got no problem with numpy.ndarray but I've no idea how to add extension to those mxnet arrays type and to declare the get_include path in the setup.py file to compile the .pyx because the

[2021-01-22 15:03] NamelessLoop commented on #19778
The python_code.pyx:

`
import mxnet
cimport numpy
cimport mxnet???

def MxNetTrain(net, model_type, trainer, loss_function, train_input, train_output, val_input, val_output, test_input,
               test_output, epochs, args_save):
    # In case of attention training un-pack the Tuple objects
    if (model_type == 'seq2seq - attention') or model_type == 'seq2seq - transformer':
        encoder_

[2021-01-22 15:29] leezu commented on #19778
It's possible that you need to modify the MXNet source to enable `cimport mxnet`. Your contribution to making this possible would be very welcome

[2021-01-22 15:35] KaixuYang commented on #19776
@leezu I have no background in this but I would like to give it a try if that’s something I could learn in a short time. Is there a guide or example?

[2021-01-22 15:39] leezu commented on #19776
@KaixuYang you can take a look at scikit-build https://scikit-build.readthedocs.io/en/latest/usage.html or "raw" pyproject.toml file: https://setuptools.readthedocs.io/en/latest/build_meta.html

[2021-01-22 15:40] NamelessLoop commented on #19778
Therefore, there is no way to cdef an mx.io.NDArrayIter in a .pyx file?

[2021-01-22 18:50] Johnny-dai-git opened #19781 "MNISTiterator miss channel information while flatten causing conv1d layer differed initialization failed."
## Description
(A clear and concise description of what the bug is.)

I am using Mxnet 1.6.0.

The problem shows up when I am trying to flatten the Mnist dataset from 2D(1,28,28) to (1,784). And feed the data to a Conv1d layer.

Here is the iterator I am using:
""" Flatten the dataset from (1,28,28) to (1,784)

train = mx.io.MNISTIter(
    image = "data/train-images-idx3-ubyte",
    label = "data/

[2021-01-22 18:54] barry-jin commented on #19777
Thanks for reporting this bug. The root cause is that `pad` operator tries to cast Integer type into ADT type in this [line](https://github.com/apache/incubator-mxnet/blob/1c3fcad78caa7e58f81045d6128435a59222dfdd/src/api/operator/numpy/np_pad_op.cc#L65).
From my perspective, it's the bug in the design of `pad` operator on C++ side. Investigated into `pad` source, the attribute `pad_width` only acc

[2021-01-22 19:21] andrei5055 commented on #19420
@barry-jin: Still cannot reproduce this problem:
```========== 933 passed, 847 warnings in 2932.28s (0:48:52) =======```

BTW, all warnings are of following two types:
**Type 1:**
[code]
**Type 2:**
[code]

[2021-01-23 01:04] #17485 closed

[2021-01-23 05:46] KaixuYang commented on #19776
@leezu Is the goal to first install `scikit-build` in the `setup.py` file, then call it to include cmake? What are the dependencies that cmake is supposed to find automatically? Like the openblas or the other python dependencies?

[2021-01-23 09:05] yongyi-wu commented on #19777
I actually tried providing a tuple of tuples for `pad_width`, but the error persists. So, I guess there might be other source of the problem, and it will be great if you could mix and match different arguments to test it.

[2021-01-23 12:58] leezu commented on #19776
cmake will find native dependencies, such as openblas and will error out if they can't be found. So you don't need to worry about them. Installation of sdist will only be supported if user has all native build dependencies installad. You can refer to https://mxnet.apache.org/versions/master/get_started/build_from_source.html for list of recommended dependencies

You use `scikit-build` in `setup.py

[2021-01-23 15:18] NamelessLoop commented on #19778
I found out this website https://mxnet.apache.org/versions/1.1.0/doxygen/files.html where this files should be the include folder I have to link to the setup.py file. Am I getting this wrong?

[2021-01-23 16:41] jbensabat opened #19783 "Trying to build MXNET with MSVC 2019 under windows 10 under CMAKE GUI"
Hello
I am trying to build a MSVC 2019 X64  using CMAKE GUI
the configuration goes fine (Although does not recognize GoogleTest)
I get

Selecting Windows SDK version 10.0.18362.0 to target Windows 10.0.19042.
CMAKE_CROSSCOMPILING FALSE
**_CMAKE_HOST_SYSTEM_PROCESSOR AMD64
CMAKE_SYSTEM_PROCESSOR AMD64_**
CMAKE_SYSTEM_NAME Windows
CMake version '3.19.3' using generator 'Visual Studio 16 2019'
Found

[2021-01-23 18:38] barry-jin commented on #19777
Tuple of tuples can get what is expected.
[code]

[2021-01-23 21:24] leezu commented on #19783
You forgot to initialize 3rdparty subdirector. Run `git submodule update --init --recursive`

[2021-01-23 21:34] jbensabat commented on #19783
could you be more explicit please
thanks
jac

[2021-01-23 22:05] leezu commented on #19783
If you have a terminal, run `git submodule update --init --recursive` inside mxnet dir. If you don't know how to do that, I suggest you search on the internet how to do it with MSVC

[2021-01-23 22:06] leezu commented on #19783
I suspect that you forgot to initialize the git 3rdparty submodules. That's why cmake doesn't find all components.

[2021-01-24 07:03] jbensabat commented on #19783
thanks
i downloaded the code from the site (zip file)
I then cloned using git and updated and now I can build the lib
thanks

[2021-01-24 07:03] #19783 closed

[2021-01-25 10:42] yongyi-wu commented on #19777
Ohh I see. The tuple I tried was more like for numpy's `pad`:
[code]

[2021-01-25 13:10] fallahmad commented on #19139
Hi MXNet community,

Any timeline update for MXNet 2.0.0 ? Is the master branch stable ? Can we use it to test new features ?

[2021-01-25 16:38] troyliu0105 commented on #19139
@fallahmad I do think there is an eta... 😢

[2021-01-25 16:44] leezu commented on #19139
@fallahmad you can use the master branch. We intend to vote on an alpha release soon.

[2021-01-25 16:57] fallahmad commented on #19139
@troyliu0105 @leezu Thank you guys

[2021-01-25 17:14] DNXie opened #19784 "floating point exception in mxnet.gluon.contrib.nn.PixelShuffle1D/2D/3D if factor=0"
## Description
floating point exception in mxnet.gluon.contrib.nn.PixelShuffle1D/2D/3D if factor=0

### Error Message
[code]
## To Reproduce
[code]

[code]

[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2021-01-25 17:31] DNXie opened #19785 "Floating point exception in mxnet.gluon.nn.GroupNorm if num_groups=0"
## Description
Floating point exception in `mxnet.gluon.nn.GroupNorm` if `num_groups`=0

### Error Message
[code]
## To Reproduce
[code]

## Environment
OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2021-01-25 17:56] KaixuYang commented on #19776
@leezu I'm not sure if I did it in the correct way,  but I keep getting this error calling `setup.py`. What is the expected behavior   of `find_lib_path`?
[code]

[2021-01-25 19:01] KaixuYang commented on #19776
@leezu Where are the `libmxnet.so` and  `libmxnet.dylib` files?

[2021-01-25 19:03] leezu commented on #19776
You need to setup the scikit-build to create these files with cmake

[2021-01-25 19:11] mk-61 commented on #19019
Not much to report here. The initially proposed general solution was to cache results of amp_casts. The problem with this is to identify right keys for this cache - it doesn't appear to be possible in all cases.
Another option - since it's RNN-specific problem, may be we can work it around in RNN block itself, somehow?

[2021-01-25 19:31] szha opened #19786 "cuDNN/cuTensor in Binary Distribution"
## Description
cuDNN/cuTensor are used in MXNet GPU builds to accelerate common kernels in deep learning. Including them in distribution helps simplify the installation process for our users and make it easier for acceleration from these libraries to benefit more users. I'd like to use this issue to collect information and discuss feasibility for including these libraries in our distribution.

[2021-01-25 19:31] szha commented on #19786
cc @TristonC

[2021-01-25 19:53] KaixuYang commented on #19776
@leezu The build fails if cmake is not installed, is there a way to check this? (The brew install cmake, not the pip install cmake). Also how to turn off CUDA? The build checks for CUDA but it is not available.

[2021-01-25 20:14] KaixuYang commented on #19776
@leezu This also happens with `opencv`.

[2021-01-25 21:07] leezu commented on #19776
@KaixuYang you can refer to https://github.com/apache/incubator-mxnet/blob/master/config/linux_gpu.cmake / https://github.com/apache/incubator-mxnet/blob/master/config/linux.cmake config files for a list of configuration options (including how to turn off cuda). For your initial development, I think you can hardcode this configuration option. Later you can try to auto-detect it.

[2021-01-25 21:13] KaixuYang commented on #19776
@leezu Yeah I see these files. I'm wondering where does cmake learn which config (darwin.cmake,  linux.cmake,  linux_gpu.cmake) to use?

[2021-01-25 21:15] KaixuYang commented on #19776
For example, when I don't have cuda on my machine, it should use the version without CUDA.

[2021-01-25 21:16] leezu commented on #19776
These configs only take effect if you copy them to the main folder (next to CMakeLists.txt) under the name `config.cmake`:

https://github.com/apache/incubator-mxnet/blob/1c3fcad78caa7e58f81045d6128435a59222dfdd/CMakeLists.txt#L28-L31

They are just for convenience. If the config is not present, the default values will be used

https://github.com/apache/incubator-mxnet/blob/1c3fcad78caa7e58f81045d

[2021-01-25 21:17] leezu commented on #19776
So at this time you can either detect if cuda is present inside the `setup.py` and then pass `-DUSE_CUDA=1` or `0`, or you can refactor the CMakeLists.txt file to support a `-DUSE_CUDA=Auto` option (which would try to find cuda and disable cuda if it can't be found)

[2021-01-25 21:17] KaixuYang commented on #19776
Yeah this makes sense, thanks!

[2021-01-25 21:18] leezu commented on #19776
Ok, thank you! For purpose of development, you can just set `-DUSE_CUDA=0` inside setup.py for now (until you get that to work. Then take the next step).

[2021-01-25 21:28] KaixuYang commented on #19776
@leezu seems like I got into another existing issue #16245

[2021-01-25 21:45] leezu commented on #19776
It will be fixed by https://github.com/apache/incubator-mxnet/issues/19610 For now you can delete this code or add an extra condition to ensure you take the `else` branch:

https://github.com/apache/incubator-mxnet/blob/1c3fcad78caa7e58f81045d6128435a59222dfdd/CMakeLists.txt#L415-L430

[2021-01-25 21:46] leezu commented on #16245
Should be fixed by https://github.com/apache/incubator-mxnet/issues/19610

[2021-01-26 00:20] saudet commented on #17783
Ok, I've finally updated my fork accordingly along with a few additional changes: https://github.com/saudet/incubator-mxnet/commit/09668180fe81da96ed2baee26c373fdcd343cdec
If that looks good enough for a pull request, I'll do that right away! @leezu

[2021-01-26 10:34] EnricoMi commented on #19575
Is there an ETA on releasing v1.7.1 or v1.7.0.post0 for cu101 and cu102?

[2021-01-26 10:36] bartekkuncer commented on #19575
@szha

[2021-01-26 14:19] r3stl355 opened #19790 "[TEST] [MAC] test_gluon_rnn.test_rnn_layers_fp16 is not skipped when using `nose`"
## Description
Test `test_gluon_rnn.test_rnn_layers_fp16` is currently attributed with `@pytest.mark.skipif(mx.context.num_gpus() == 0, reason="RNN FP16 only implemented for GPU for now")` but this is ignored if `nose` is used to run tests resulting in failed test. Documentation shows most of the test being executed using `nose`.

## Occurrences
Occurs on Mac but could equally happen in other envi

[2021-01-26 14:29] leezu commented on #17783
Thank you. It's fine with me. Once you open the PR, @lanking520 and @gigasquid may be able to review too

[2021-01-26 14:53] szha commented on #19575
Thanks for the ping. We resolved the license issue and I can get to it this week.