[2019-02-15 23:19] andrewfayres opened #14181 "Scala Infer ObjectDector crashes on models which don't return"
## Description
The Scala Infer API's ObjectDetector will crash when provided with a model which doesn't return coordinates for bounding boxes. We should handle this situation more gracefully. Either return an error message stating that the model doesn't have the required outputs or return the results without the bounding boxes.

## Error Message:
[code]

## Minimum reproducible example
[code]

##

[2019-02-15 23:21] andrewfayres commented on #14181
@mxnet-label-bot add [Bug, Scala]

[2019-02-15 23:36] Ishitori commented on #14089
I don't think it is possible at the moment. The data always loaded first in RAM, and then you need to manually move it to the proper GPU memory with either `split_and_load()` or `as_in_context()`.

If you can load the batch of 16 items in RAM, but would like to load more into GPUs before doing a forward pass, then I would:

1. Write a custom loop which would go through ImageRecordIter as many time

[2019-02-15 23:42] lanking520 commented on #14104
@Ishitori Thanks for your input. Should we make it cpu as a default?

[2019-02-16 00:42] ThomasDelteil commented on #6418
@megaSpoon have a look at mxboard https://github.com/awslabs/mxboard

[2019-02-16 00:51] ThomasDelteil commented on #8861
This bug with extra memory allocation on GPU 0 has been resolved now

[2019-02-16 00:51] #8861 closed

[2019-02-16 03:03] ChaiBapchya commented on #14157
Similarly found it for `mx.nd.minimum`
[code]

[2019-02-16 04:34] #8850 closed

[2019-02-16 05:01] #9314 closed

[2019-02-16 18:25] ptrendx commented on #14175
Are you trying to use version with distributed kvstore? In that case you should update you ps-lite submodule to include this commit: https://github.com/dmlc/ps-lite/commit/f45e2e78a7430be09f76264d2f4073fb2b1d54a2

[2019-02-16 23:03] eric-haibin-lin commented on #13598
@reminisce @junrushao1994 maybe we probably to include this change in the next major refactoring/design

[2019-02-17 00:14] Ishitori opened #14183 "Multinominal distribution returns same results during different runs"
## Description
If I try to sample from multinominal distribution running the same script multiple times, and not setting the seed, I always get the same result. If I use numpy for similar case, I receive different results for every run.

Created based on [this question](https://discuss.mxnet.io/t/mx-nd-multinomial-output-the-same-results-each-running/3226).

## Environment info (Required)

[code]

[2019-02-17 01:21] eric-haibin-lin commented on #13709
Were you using self-attention blocks with batch_dot operator? There was an improvement for fp16 in https://github.com/apache/incubator-mxnet/pull/13716

[2019-02-17 01:27] Ishitori commented on #13644
@Davdi, did you manage to find the issue? To me it seems that it should be connected to connectivity, because when you remove `--kvstore dist_sync` the default value is used, which for this tutorial is `device`.

I also notice that you set n = 1, but mention "2 instances". Which configuration do you try to achieve? And what is the content of your hosts file?

[2019-02-17 01:39] Ishitori commented on #13349
Hi @dmas-at-wiris . Is it still an issue? Could you provide your minimal reproducible example?

[2019-02-17 03:07] e8035669 opened #14184 "Cannot infer RNN symbol with mode=RNNMode::kRnn_tanh"
## Description
(Brief description of the problem in no more than 2 sentences.)
I'm using C++ interface. If I wanna create an RNN symbol with C++ factory function in `cpp-package/include/mxnet-cpp/op.h`, the generated function will always set all 4 inputs into the operator.
But when I infer the symbols, RNN symbol expect exactly 3 input needed with `mode=RNNMode::kRnn_tanh`, and always fail to crea

[2019-02-17 12:02] saberioon commented on #14004
I have the same issue, Is there any solution available?

[2019-02-17 20:09] gigasquid opened #14185 "[Clojure] Missing Clojure Tutorials on Web Page"
Other language tutorials are listed here, but the Clojure ones are missing
https://mxnet.incubator.apache.org/versions/master/tutorials/index.html

We could definitely do something very similar to the Scala tutorials.

[2019-02-17 23:11] junrushao1994 commented on #13598
This will be great step towards a clearer definition of operators! Nice proposal!

[2019-02-18 02:30] #13709 closed

[2019-02-18 02:32] PistonY commented on #13709
Thx,it worked.

[2019-02-18 03:47] ChaiBapchya commented on #14183
I tried it 6 times and looks like it ain't that bad
But certainly need to delve deeper I guess

[code]

[2019-02-18 03:50] ChaiBapchya commented on #2302
@eric-haibin-lin Since we have quite a few separate (specific) requests for FP16 support. Do we merge one together and close out the redundant ones? or we keep the issues the way they are?

[2019-02-18 04:04] ChaiBapchya commented on #13455
Hey @kshitij12345
Looks like a valid question. Maybe @larroy can weigh in.
Also doing some `git blame` brought up this PR https://github.com/apache/incubator-mxnet/pull/10970 which might help in further deep dive.

[2019-02-18 05:13] eric-haibin-lin commented on #2302
@ChaiBapchya this list might actually be out-dated now..

[2019-02-18 05:46] szha commented on #14183
Related: https://github.com/apache/incubator-mxnet/issues/10369#issue-310541078

[2019-02-18 06:19] szha commented on #14184
@pengzhao-intel @TaoLv

[2019-02-18 07:09] pengzhao-intel commented on #14184
@lihaofd please help take a look for this issue. Thanks.

[2019-02-18 07:27] perdasilva commented on #14165
@sergeykolychev thanks for looking into it. Let's keep this issue around to see if anyone else runs into it?

[2019-02-18 08:17] stsukrov commented on #13846
@zachgk
Any feedback?

[2019-02-18 08:17] stsukrov commented on #14087
@pengzhao-intel
Any feedback on the topic?

[2019-02-18 08:18] stsukrov commented on #14086
@pengzhao-intel
@TaoLv
Any feedback on the topic?

[2019-02-18 09:10] TaoLv commented on #14086
@stsukrov The two internal error are reproduced and tracked internally. Will let you know once they are got fixed. Probably we need patch release of the compiler but it needs time.

[2019-02-18 09:16] perdasilva opened #14187 "Flaky test_random.test_exponential_generator @ Python3: Centos 7 CPU"
## Description

Flaky test_random.test_exponential_generator, see [ci log](http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/master/335/pipeline/)

Possibly related to: #13743 #9843

[code]

[2019-02-18 09:24] pengzhao-intel commented on #14087
@stsukrov I am a little busy this week and I will look into the issue later.
Luckily, there's the method to unblock your experiments.

[2019-02-18 09:57] Chancebair opened #14189 "[Flaky Test] Python3: MKLDNN-GPU test_kvstore_gpu.test_rsp_push_pull"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/master/347/pipeline

[code]

[2019-02-18 09:58] Chancebair commented on #14189
@mxnet-label-bot add [Flaky, Test]

[2019-02-18 11:07] stsukrov commented on #14086
@TaoLv
Thanks.
Feel free to request any testing on the issue.

[2019-02-18 11:08] stsukrov commented on #14087
@pengzhao-intel
Thanks a lot. It's not a blocker for us.

[2019-02-18 11:11] idealboy opened #14191 "About mxnet-tensorrt's problem between different mxnet version?"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-02-18 11:36] simonmaurer commented on #14159
@leleamol so @IvyGongoogle did use an example [()](https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/predict-cpp/image-classification-predict.cc) which uses <mxnet/c_predict_api.h> but not cpp_package API [().](https://github.com/apache/incubator-mxnet/tree/master/cpp-package) those are two different API, correct?

[2019-02-18 17:00] apeforest commented on #10973
Please reproduce this in master before marking it as flaky test.

[2019-02-18 17:00] #10973 closed

[2019-02-18 17:57] sergeykolychev commented on #14165
Sure

[2019-02-18 19:39] ChaiBapchya commented on #2302
Do you recommend closing this issue in that case?

[2019-02-18 19:48] eric-haibin-lin commented on #12658
Failed again in http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14171/4/pipeline
@sergeykolychev any idea why this happens?

[2019-02-18 20:53] sergeykolychev commented on #12658
@eric-haibin-lin I'll check this, I just added a PR and will add the fix for this to the PR.

[2019-02-18 20:55] sergeykolychev commented on #12658
@eric-haibin-lin The failure in this case is unrelated to the one before. test_dynamic encompasses all tests.

[2019-02-18 23:51] lanking520 commented on #14177
@TobiasSkovgaardJepsen Thanks for raising this.

@eric-haibin-lin @szha if you guys know anything with the info of HybridBlock

[2019-02-18 23:58] szha commented on #14177
@TobiasSkovgaardJepsen the document from the error message is the list of arguments for CachedOp, the underlying operator to make hybridization happen. CachedOp is not the same as hybridize, which indeed only has those documented arguments.

[2019-02-19 00:02] szha commented on #14177
The problem is that hybridize didn't fail fast but instead returned the error message of CachedOp. The error message should be fixed.

[2019-02-19 00:33] eric-haibin-lin opened #14198 "Dropout inference performance"
Dropout is a commonly used component for NN training. Currently it is however, not well optimized for inference. Currently for inference, the dropout op produces two outputs (out, mask), and copies the input to one of them (out). Ideally for inference we should
1. check `kWriteInplace` and avoid the copy
2. produces a single output instead of two

For (1), it should be straightforward - just check

[2019-02-19 00:53] eric-haibin-lin commented on #14198
We can probably add a graph pass for bind(is_train=False).
cc @szha

[2019-02-19 00:57] jwmueller commented on #13859
I also have the same issue as @chris-english and @lichen11 (see detailed outputs below) and `echo "USE_MKLDNN = 0" >> ./config.mk` also does not help either.
The issue clearly seems to be the replicated "R-package/R-package/" in the path where **libmxnet.so** is supposed to be located, since this file is located at the right path if I could just remove one of these R-package statements.

Does anyo

[2019-02-19 01:03] lanking520 commented on #14191
@KellenSunderland Could you please take a look?

[2019-02-19 01:52] tahouse opened #14199 "example/image-classification/common/util.py get_gpus() exception"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-02-19 07:47] Ian8888 opened #14201 ""Convert symbol" tool Can't convert Softmaxwithloss from caffe to mxnet?"
I using Convert_symbol.py tool from https://mxnet.incubator.apache.org/versions/master/faq/caffe.html

I meet the question :

Traceback (most recent call last):
  File "/home/mnxnet-cv307/mxnet/tools/caffe_converter/convert_model.py", line 231, in <module>
    main()
  File "/home/mnxnet-cv307/mxnet/tools/caffe_converter/convert_model.py", line 227, in main
    convert_model(args.prototxt, args.ca

[2019-02-19 09:21] wkcn commented on #14044
The issue is solved.
I use `MXTVMBridge` to execute asynchronous functions.
Since the C++ header file `<funtional>` is different among different compiler, I replace it to the corresponding version to address the ABI compatibility problem.

Example: https://github.com/wkcn/MobulaOP/blob/master/3rdparty/tvm_packed_func/tvm_packed_func.h#L13

[2019-02-19 09:21] #14044 closed

[2019-02-19 11:38] stereomatchingkiss opened #14203 "Cannot compile mxnet on windows"
os : win10 64bits
compiler : vc2015 64 bits
cuda : cuda92

Bug 1 : openMP required int in for loop

line 515 and line 580 should change to

`for (int i = 0; i < static_cast<int>(N); ++i)`

Bug 2 : std::min cannot find overload version

line 340 of convolution_v1-inl.h should change to

`(shape_colunit_.Size() + shape_dstunit_.Size()), static_cast<index_t>(ishape[0]))`

[2019-02-19 12:59] jasperDD opened #14204 "can't create rec file im2rec in python"
i do as shown  here https://github.com/apache/incubator-mxnet/issues/14164
import mxnet
test='C:/Users/Admin/Desktop/test.lst' # folder where must be my test.lst
DataSet='C:/Users/Admin/Downloads/mypic/' # folder with my pictures (20 pics)

then when i try
data_iter = mx.image.ImageIter(
    batch_size=4,
    data_shape=(3,816, 1232),
    label_width=1,
    path_imglist='test.lst',
    path_root='

[2019-02-19 15:44] mahmoodn opened #14205 "Quick installation finished but unable to run examples"
The quick installation script for ubuntu seems to finished without problem.

[code]
However, I am not able to run the example below

[code]

What is missing here?

[2019-02-19 16:28] mahmoodn opened #14206 "mxnet-cu92 and cuda 10 problem"
I had no problem with mxnet and cuda 10 before, but now I can not make it run. Although I have installed `mxnet-cu92` and `mxnet`, I get the following error

[code]

You can see below

[code]
and
[code]
The cuda is 10
[code]

[2019-02-19 17:02] frankfliu commented on #14204
@mxnet-label-bot add [question, python]

[2019-02-19 17:03] frankfliu commented on #14199
@mxnet-label-bot add [Bug, python]

[2019-02-19 17:05] frankfliu commented on #14201
@mxnet-label-bot add [Caffe integration]

[2019-02-19 17:08] frankfliu commented on #14205
@mxnet-label-bot add [build, CI, Installation]

[2019-02-19 17:10] frankfliu commented on #14206
@mxnet-label-bot add [Installation, cuda]

[2019-02-19 17:52] perax opened #14207 "I can't load mxnet package in R (macOS)"
## Description

I have installed mxnet following the steps on the web: https://mxnet.apache.org/versions/master/install/index.html?platform=MacOS&language=R&processor=CPU

When I try to load mxnet library via library(mxnet) I have the following error:

[code]

I noted that the reason was I haven't got the file libopencv_stitching.3.4.dylib and then I have create manually all the symbolic link need

[2019-02-19 18:22] access2rohit commented on #13846
HI @stsukrov Can you try running the unit test using latest pull from master branch and git stash all your changes. This way we can establish if there is some local change thats causing the issue. FullyConnected layer should not be giving such an error.

[2019-02-19 19:00] szha commented on #13675
https://github.com/apache/incubator-mxnet/pull/14090

[2019-02-19 19:00] #13675 closed

[2019-02-19 19:05] ifeherva commented on #13953
The UpSampling function expects multiple inputs as _data_ however one has to provide how many inputs are to be expected using the num_filter parameter.
However the code suggests that it is only taken into consideration if sample_type is nearest unlike what the documentation says (http://mxnet.incubator.apache.org/versions/1.3.1/api/python/symbol/symbol.html#mxnet.symbol.UpSampling)

The current co

[2019-02-19 20:38] lanking520 commented on #13996
@yuyijie1995 Close this issue for now. Please feel free to reopen if problem persist.

[2019-02-19 20:38] #13996 closed

[2019-02-19 20:38] lanking520 commented on #14207
@anirudhacharya could you please take a look

[2019-02-19 20:41] lanking520 commented on #14206
Hi @mahmoodn do you have CUDA 9.2 installed on your machine? It looks like the nvcc path is not properly configed.

Note: Different CUDA version do not compatible with each other. Such as install CUDA 10 cannot run package built on CUDA 9.2

[2019-02-19 21:06] ThomasDelteil commented on #14106
@xiaolin-cheng, what learning rate are you using? It can be that you are using a learning rate that is too high or too low.

[2019-02-19 21:11] ThomasDelteil commented on #14143
@perdasilva I couldn't reproduce:
[code]
Note that this test downloads a file, is it possible that your environment prevents downloads?

[2019-02-19 21:11] ThomasDelteil commented on #14115
@mahmoodn, Please re-open if you are still working on the issue. Thanks!

[2019-02-19 21:11] #14115 closed

[2019-02-20 00:22] stephenrawls opened #14210 "Slow Async GPU Copy"
Some of our NLP models need to use multiple data arrays, sometimes up to 6 different data ndarrays as input. This is a big problem for multi-gpu training because the CPU -> GPU copy time is very slow. In particular, whereas the *actual* time to copy data via cuda memcpy calls is fast, the python overhead with calling into the MxNet C API seems slow.

Here is a sample script that shows what I mean:

[2019-02-20 01:35] eric-haibin-lin commented on #14125
related issues: https://github.com/apache/incubator-mxnet/issues/12705 https://github.com/apache/incubator-mxnet/issues/11156 https://github.com/apache/incubator-mxnet/issues/11061

[2019-02-20 05:53] eric-haibin-lin commented on #2302
I do see that many ops are going to be deprecated. Closing it now. Please file separate github issue when an unsupported fp16 op is encountered.

[2019-02-20 05:53] #2302 closed

[2019-02-20 06:25] stephenrawls commented on #14210
As a follow up, I decided to time how long a single call into the c api takes for a no-op style operation:

[code]

The output I get is:
[code]

If I multiply this by 48 then I get an expected overhead of 1.776 ms. Which is still too slow to pay at the start of every training loop, but there is a big gap between that and the 6-7 ms that I am observing.

It turns out the `.as_in_context` is also ca

[2019-02-20 07:22] shshaoqqi commented on #3205
haha  I think they have made the same problem as you
it's so awkward

[2019-02-20 07:32] perdasilva commented on #14143
Wow. That's very strange. Seems to be working for me now. Same machine, same internet connection, same docker image. But interestingly, it didn't fail on downloading the data. It would hang on the `name, acc = metric.get()` line, from memory.

My output would just be:

[code]
and hang.

Well - good to know it's not happing anymore.  I will close it.

[2019-02-20 07:33] #14143 closed

[2019-02-20 09:20] lebeg commented on #11359
@marcoabreu ping

[2019-02-20 10:39] stereomatchingkiss commented on #14203
The project, always show me the message

**"Link Time Code Generation" should be set to "Profile Guided Optimization - Optimization (/LTCG:PGOptimize)" instead of being blank.**

even I select
Linker->Optimization->Link time code generation->"Profile Guided Optimization - Optimization (/LTCG:PGOptimize)"

[2019-02-20 11:29] jasperDD commented on #14164
[Ishitori](/Ishitori) may i ask you help me here?
https://github.com/apache/incubator-mxnet/issues/14204

[2019-02-20 12:16] #11359 closed

[2019-02-20 13:06] z01nl1o02 commented on #14203
i may get a similiar issue.
win7+vs2015x64+cuda90

mxnet/src/operator/random/shuffle_op.cu(62)
no suitable user-defined conversion from "mshadow::Tensor<mxnet::gpu, 1, mxnet::index_t>" to "const mshadow::Tensor<mshadow::gpu, 1, unsigned int>" exists

how to fix it?

[2019-02-20 15:28] frankfliu commented on #14210
@mxnet-label-bot add [performance, python]

[2019-02-20 16:05] Hwang64 commented on #12861
@tribbloid @eyildiz-ugoe how to solve this problem?

[2019-02-20 16:13] elliebirbeck opened #14211 "cpu memory leak when running inference on model"
## Description
when performing model inference on a cpu I am experiencing RSS memory leak (linear increase from 700MB to 10GB+)

## Environment info (Required)

[code]

I have tested with mxnet compiled using mkldnn as above and also a version compiled using openblas, and with the most recent (unstable) release of 1.5.0b20190220

## Minimum reproducible example
[code]

## Steps to reproduce

Run t

[2019-02-20 16:26] frankfliu commented on #14211
@mxnet-label-bot add [Bug, Performance]

[2019-02-20 17:17] frankfliu commented on #14205
@mahmoodn
It seems your build is failed in the middle:
[code]

Can you take a look if you have "scripts" folder in "/home/mahmood/mx/incubator-mxnet/3rdparty/mkldnn"?

Please make sure update your submodule:
[code]

[2019-02-20 17:18] frankfliu commented on #14205
@mxnet-label-bot add [pending requester info]

[2019-02-20 18:15] ThomasDelteil commented on #14211
@elliebirbeck copying my answer from the forum here:
This very likely due to you adding ops faster than MXNet is able to process them, the images will be loaded in memory `ndarray = mxnet.image.imdecode(imgbuf, to_rgb=1)` and passed to the network.

MXNet is fundamentally asynchronous, it runs on eager execution.

When you call forward, you effectively say, compute this operation as soon as possib

[2019-02-20 18:15] #14211 closed

[2019-02-20 19:11] mahmoodn commented on #14205
Thank you. I will surely come back. I won't have access to the machine for one day or so.

[2019-02-20 19:31] Roshrini commented on #9974
@jwfromm @WenmuZhou Verified that both of the issues mentioned are not reproducible on the current master branch. PR #[12554](https://github.com/apache/incubator-mxnet/pull/12554) should have fixed those. I am closing this issue. Please feel free to reopen if closed in error or if you still encounter this issue. Thanks!

[2019-02-20 19:31] #9974 closed

[2019-02-20 19:36] smissan commented on #14116
this is a critical issue that breaks CPP interface. Please fix

[2019-02-20 22:48] ThomasDelteil commented on #14096
@mahmoodn to run this example you need to compile MXNet from source with the warpCTC from Baidu due to licensing issues. Instructions are availables here:  https://github.com/apache/incubator-mxnet/tree/master/example/speech_recognition#environments

[2019-02-20 22:51] #14096 closed

[2019-02-20 23:30] szha commented on #14046
Gluon's hybridize for HybridBlock is backed by CachedOp, a special type of operator that caches the computation graph. It has internal buffers for data and metadata such as shape and type, and is intelligent enough to reallocate bigger buffer if requested space is larger than the previously allocated space. If the model can be expressed in hybridized gluon model, then the space is managed by the c

[2019-02-20 23:51] roywei opened #14216 "update params failed when params and grads are empty"
This PR https://github.com/apache/incubator-mxnet/pull/13346 has changed the logic for updating parameters [here](https://github.com/apache/incubator-mxnet/pull/13346/files#diff-1455b9a4a68f5a9491ddf841ba3c93c6R162)

However it broke a unit test in downstream project [Keras-MXNet](https://github.com/awslabs/keras-apache-mxnet). I was able to reproduce using pure MXNet:

# Steps to reproduce
[code]

[2019-02-21 00:05] apeforest commented on #8132
Can you check in your model, if some convolution layer has `cudnn_tune` not set to `off`. If so, please update your model by setting all the `cudnn_tune` param all the layers to `off`. Thanks.

[2019-02-21 00:26] sravanbabuiitm commented on #14046
Thank you!
Does this mean that even without calling hybridize, the children of regular block have this CachedOp ?

And by using hybridize the entire model gets managed this way ?

[2019-02-21 02:24] Jessespace opened #14220 "Qestion bout nd.waitall()"
I want to test the inference time about yolov3.I I wrote two versions.like bellow:

1.`tic = time.time()
class_IDs, scores, bounding_boxs = net(x)
toc = time.time()
print("Inference time is :",toc-tic)`

2.`tic = time.time()
class_IDs, scores, bounding_boxs = net(x)
**nd.waitall()**
toc = time.time()
print("Inference time is :",toc-tic)`

The results of the two versions vary greatly.Which one is r

[2019-02-21 04:58] szha commented on #14046
Regular block doesn't have CachedOp, only HybridBlock does. Hybridize call on a regular block recursively calls hybridize on all children, which has the effect of hybridizing all HybridBlock children

[2019-02-21 05:31] #14216 closed

[2019-02-21 05:47] eric-haibin-lin commented on #14210
How many NDArrays are you copying? I know it is not a good answer for this issue but usually I find it fast enough to prefetch the next batch of ndarrays to GPU ahead of time, while the GPU is busy computing the current batch.

[2019-02-21 06:48] frankfliu commented on #14220
@mxnet-label-bot add [Question]

[2019-02-21 06:58] wkcn commented on #14220
2 is right.
MXNet computes operators asynchronously, so it is necessary to call 'nd.waitall()' to wait for all computation over.

[2019-02-21 07:00] frankfliu commented on #14220
@Jessespace
MXNet ndarray use lazy evaluation, the previous operations may not finished yet. For benchmark purpose, you should use nd.wait_to_read() or nd.waitall().
See: https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.NDArray.wait_to_read
And: https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.waitall

If

[2019-02-21 09:56] Jessespace commented on #14220
I'm still not clear about this problem.I use **nd.waitall()** to test a single image.
But I got 0.49 FPS.Please help me figure out  the problem.

[code]

[2019-02-21 10:58] larroy commented on #13455
I will have a look at this when I have some time. Thanks for looking at this issue.

[2019-02-21 13:29] jasperDD opened #14224 "NameError: name 'mx' is not defined (python)"
... batch_size=4,
... data_shape=(3,816, 1232),
... label_width=4,
... path_imglist='test.lst',
... path_root='DataSet')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'mx' is not defined

why mx is not defined, i loaded mxnet?

[2019-02-21 13:32] TaoLv commented on #14224
import mxnet as mx

[2019-02-21 13:40] jasperDD commented on #14224
yes, it works, but
i get error
Traceback (most recent call last):
  File "<stdin>", line 6, in <module>
  File "C:\Users\Admin\AppData\Local\Programs\Python\Python37-32\lib\site-packag
es\mxnet\image\image.py", line 1071, in __init__
    with open(path_imglist) as fin:
FileNotFoundError: [Errno 2] No such file or directory: 'test.lst'

but this file there is ion my desktop

[2019-02-21 13:59] jasperDD opened #14225 "SyntaxError: invalid syntax in cycle for"
test='C:\Users\Admin\Desktop\test.lst' # folder where must be my test.lst

test='C:/Users/Admin/Desktop/test.lst'
DataSet='C:/Users/Admin/Downloads/mypic/'

data_iter = mx.image.ImageIter(
batch_size=4,
data_shape=(3,816, 1232),
label_width=4,
path_imglist='C:/Users/Admin/Desktop/test.lst',
path_root='DataSet')

for data in data_iter: d = data.data[0]
break

error
==========================

... b

[2019-02-21 14:09] wkcn commented on #14224
close since the issue is solved.

[2019-02-21 14:09] #14224 closed

[2019-02-21 17:01] frankfliu commented on #14225
@mxnet-label-bot add [Question]

[2019-02-21 17:44] adrianloy opened #14226 "Feature request: Argmax function should return an array if multiple entries with max value exist"
Correct me if I am wrong, but currently it is quite a hassle to find a way in a network that should work in hybrid mode (so no asnumpy()) to get ALL indices where entries with maximum values exist.
However, there are quite a lot of functions that use list of indices, e.g. take(). But there are not many functions that will return list of indices, so functions like take() are often harder to use tha

[2019-02-21 18:13] stephenrawls commented on #14210
@eric-haibin-lin  I would be okay with that solution, but not sure the best way to achieve it.

Currently my training loop looks roughly like this:
[code]

This is just rough idea of course, but the point is that the data loader is happening on separate processes so the latency for getting data is hidden. But I am waiting at the bottom of my training loop to be able to read the loss, meaning that

[2019-02-21 18:15] frankfliu commented on #14226
@mxnet-label-bot add [feature]

[2019-02-21 18:26] jeremiedb commented on #14061
@jasperDD

Data should be handled as arrays in mxnet.
For images, each observation is 2D (HxW). To store multiple observations, a 3rd dimension is therefore needed. Data fed to the network will be of shape [HxWxBatchSize].

For images, you could use the following approach to convert videos in arrays of images of the appropriate format:

[code]

What the above does is to extract 10 frames from the

[2019-02-21 18:50] stephenrawls commented on #14220
It is unclear from your question. Is the problem that you think it is slower than it should be?

If you are using the GPU, just FYI there is a lot of overhead for the first operation you perform on the GPU. So for benchmarking purposes you need to "warm up" the GPU by processing at least one item on the GPU, and then start timing for real after the initialization overhead is finished.

[2019-02-21 18:50] thomelane commented on #14220
You'll want to start 'time_loadimage' after the load and context change has finished: remember that MXNet operations are asynchronous. And it's better to use `wait_to_read()` instead of `waitall()` if you're wanting to time certain operations. And even better still you should check out the [MXNet Profiler](https://mxnet.incubator.apache.org/versions/master/tutorials/python/profiler.html) instead o

[2019-02-22 00:53] ChaiBapchya opened #14227 "MXNet Ndarray initialization with constant scalar inconsistencies"
**Iniitializing MXNet NDArray with constant as a list**
This is valid
[code]

**Iniitializing MXNet NDArray with constant as a scalar**
However, this is not. Gives an infershape error.
[code]
PR https://github.com/apache/incubator-mxnet/pull/12678 provided support for importing numpy scalar
Might be of use

[2019-02-22 01:26] frankfliu commented on #14227
@mxnet-label-bot add [Feature request]

[2019-02-22 01:34] WenmuZhou commented on #9974
I have test my code with mxnet-cu80 (1.5.0b20190221), this bug has fixed, thanks

[2019-02-22 01:36] yifeim opened #14228 "Weird gluon hybridize bug"
## Description
On a set of network/input configurations, the hybridized model returns a weird bug: `Check failed: g.GetAttr<size_t>("storage_type_num_unknown_nodes") == 0U (1 vs. 0)` Instead, this does not seem to be the true cause in any conceivable failure cases.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia): Python

## Minimum reproducible example
[code]
## Steps

[2019-02-22 01:36] yifeim commented on #14228
@eric-haibin-lin

[2019-02-22 01:47] AmigoCDT opened #14229 "About the weighted softmax, the forward result is too small"
I implementate the weighted softmax by `https://github.com/apache/incubator-mxnet/blob/v1.0.0/example/sparse/weighted_softmax_ce.py`

Following is my implementation:
`class WeightedSoftmaxCrossEntropyLoss(mx.operator.CustomOp):
    """
    softmax cross entropy weighted loss, where the loss is adjusted by \
    (class_weight) / sum_of_all_weights)
    """
    def __init__(self, class_weights):

[2019-02-22 04:38] ChaiBapchya opened #14231 "Numpy vs NDArray inconsistent values"
Numpy value of 2^29
[code]
All the below values for **MXNet**

MXNet NDArray Initialized as constant scalar
[code]
[code]
Even here, there are inconsistencies
MXNet NDArray initialized as array/list
[code]
[code]

[2019-02-22 04:39] ChaiBapchya commented on #14227
@frankfliu Don't think this is a feature request per se. I am highlighting a bug or a possible question (would like some to verify if my doubts are valid)

[2019-02-22 04:52] ChaiBapchya commented on #14227
@mxnet-label-bot update [Bug, Operator]

[2019-02-22 04:52] ChaiBapchya commented on #14231
@mxnet-label-bot update [Bug, Operator]

[2019-02-22 04:59] assertdebug commented on #13327
onnx.onnx_cpp2py_export.checker.ValidationError: Unrecognized attribute: spatial for operator BatchNormalization

[2019-02-22 04:59] assertdebug commented on #13327
How to fixed it???

[2019-02-22 05:23] ChaiBapchya opened #14232 "Many examples of operators in NDArray API are not executable"
While there are many examples of NDArray API that are executable (meaning they can be copied to the clipboard and run in shell directly

There are quite a few others that aren't.

In order to:
a. Maintain consistency in Documentation on the website
b. Facilitate usability, ease of understanding and reproducibility

we should ensure all examples of the operators are executable (copy-pasted into the

[2019-02-22 05:23] ChaiBapchya commented on #14232
@mxnet-label-bot add [Doc]

[2019-02-22 05:31] ZhennanQin commented on #14231
Try
[code]

[2019-02-22 06:36] stereomatchingkiss commented on #13958
I found that too, but can't solve the issue, you can refer to #14203

[2019-02-22 06:43] ChaiBapchya commented on #14231
@ZhennanQin Thanks!
Right.
Silly mistake. Forgot that our default datatype is Float!
Verified that all 5 values are same
**Numpy**
[code]
**MXNet**
_Constant initializer as scalar_
[code]
_Constant initializer as array/list_
[code]

[2019-02-22 06:43] #14231 closed

[2019-02-22 07:15] xiaoqihe commented on #9733
now, this bug appear in python mxnet-cu80==1.3.1, can you check it?

[2019-02-22 08:57] mahmoodn commented on #14205
@frankfliu
Hi, I tried from scratch with the git recursive option
[code]
output logs are pasted as below

https://pastebin.com/fkndDDpu
https://pastebin.com/C7VbiCFb
https://pastebin.com/9C04ehSr

Everything look fine. However, I am still getting "no module mxnet" error for python.
[code]

[2019-02-22 12:22] #14206 closed

[2019-02-22 12:55] mahmoodn commented on #14205
OK I fixed it by these commands
[code]
and mxnet was in the list.

[2019-02-22 12:55] #14205 closed

[2019-02-22 12:57] mahmoodn opened #14233 "seed_state must be int"
Hi,
May I know how to fix this error?
[code]

Following packages are installed
[code]

[2019-02-22 13:11] marcoabreu opened #14234 "Backwards compatibility out of bounds for 1.2.1"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-backwards-compatibility-checker/detail/restricted-backwards-compatibility-checker/380/pipeline

[code]

[2019-02-22 13:18] HaichaoZhu opened #14235 "/usr/bin/ld: cannot find -lsatlas"
## Description
I got an error in when compile mxnet with "make -j4". At last stage, "/usr/bin/ld: cannot find -lsatlas" happened. It looks like:
`a - build/src/kvstore/kvstore_utils.o`
`a - build/src/kvstore/kvstore.o`
`a - build/src/resource.o`
`a - build/src/libinfo.o`
`a - build/src/initialize.o`
`/usr/bin/ld: cannot find -lsatlas`
`collect2: error: ld returned 1 exit status`
`make: *** [lib/li

[2019-02-22 15:26] stsukrov commented on #13846
@access2rohit

Hi!

What I did:

1. Pulled the last version of the mxnet
2. cmake -DUSE_CUDA=OFF -DBLAS=apple -DCMAKE_C_COMPILER="/usr/local/bin/gcc-8" -DCMAKE_CXX_COMPILER="/usr/local/bin/g++-8" -DMKLDNN_THREADING="OMP:COMP" -DUSE_OPENCV=OFF ..
3. cd tests
4. ./mxnet_unit_tests --gtest_filter=FULLY_CONNECTED*

Got the output:
Note: Google Test filter = FULLY_CONNECTED*
[==========] Running 2 test

[2019-02-22 18:11] frankfliu commented on #14234
@mxnet-label-bot add [Bug}

[2019-02-22 18:11] frankfliu commented on #14228
@mxnet-label-bot add [Bug, Gluon]

[2019-02-22 18:12] frankfliu commented on #14235
@mxnet-label-bot add [Question, build]

[2019-02-22 18:13] frankfliu commented on #14233
@mxnet-label-bot add [Gluon, question]

[2019-02-22 18:16] frankfliu commented on #14229
@mxnet-label-bot add [question, Good first issue]

[2019-02-22 18:20] Roshrini commented on #7933
Hi @loweew, I tried to reproduce this issue on this model: http://data.mxnet.io/models/imagenet-11k-place365-ch/ (resnet-50) I was not able to reproduce it. Your exact model and scripts would have helped to debug the issue you are facing further. For now, I am closing it as I cannot reproduce. Please feel free to reopen if closed in error or if you still encounter this issue. :) Thanks!

[2019-02-22 18:29] Roshrini commented on #11660
Changing label to FeatureRequest. Gives proper exception saying its not supported yet:
"sparse batch loader doesn't support round_batch == false yet"

[2019-02-22 18:45] zhreshold commented on #9733
@xiaoqihe 1.3.1 was released before this fix, so please wait for the next release or try nightly build instead.

[2019-02-22 19:19] samskalicky opened #14236 "Makefile plugins target needs mkldnn dependency"
## Description
Building MXNet from source and enabling the WarpCTC plugin following these instructions:
https://github.com/apache/incubator-mxnet/tree/master/example/ctc#ctc-loss-in-mxnet
fails to build on Ubuntu with ```make -j$nproc```  because it depends on mkldnn which wasnt compiled yet. This is due to a missing makefile dependency on the plugin build target.

Heres the error message:

[code]

[2019-02-22 19:44] frankfliu commented on #14236
@mxnet-label-bot add [Build, Bug]

[2019-02-22 20:19] zachgk commented on #13468
I added interpreter instructions in #14169 to avoid this problem in the future. In addition, the scala standard library was removed from the final jar as part of #13626 and fixing the released versions was added to the JIRA backlog as [MXNET-1230]

[2019-02-22 21:46] larroy commented on #13468
Thanks @zachgk @lanking520 and others. The assembly & core jar artifacts look much better now. This is certainly an improvement.

I think linking with OpenCV statically would help, in Ubuntu 18.04 for example there's opencv 3.2 but not OpenCV 2.4 with results in being unable to load the library:

[code]

[2019-02-22 22:02] daveliepmann opened #14239 "Clojure RNN example does not match performance of pretrained model"
## Description
The Clojure RNN/LSTM example does not match the performance expected (or seen in the pre-trained model) when trained for a matching 75 training epochs.

## Environment info (Required)
Apologies, I don't have this info, as the test was run on an on-demand AWS machine. (p2.xlarge, AWS Deep Learning AMI for Ubuntu)

I'm using the Clojure contrib package.

## Error Message:
N/A

## Mini

[2019-02-22 22:32] zachgk commented on #13468
@larroy We do link opencv statically (and everything else statically linked by the pip package) following the publish instructions (https://github.com/apache/incubator-mxnet/tree/master/ci/publish) that we use to publish the releases and nightly snapshots. The normal build instructions for building from source do not.

[2019-02-22 22:41] renganxu commented on #14047
Hi @ptrendx Since I had performance issue when running on bare-metal, I also start to use the NGC container ngc18.11_mxnet to run the MLPerf mxnet resnet50 benchmark on our servers but it cannot converge. Each server has 4 V100-SXM2 32 GB. I ran the benchmark on two servers and set the parameters the same as DGX-1:
[code]
Here the batch size is 208 for each GPU, so the global batch size is 208*8=1

[2019-02-22 23:10] Roshrini commented on #13792
@evorta I ran gluon-cv/scripts/detection/ssd/train_ssd.py --num-workers 2 on Mac and also on ubuntu P2.8xlarge.. It seems to be running fine. Ran just 5 epochs though for testing. Can you check it again on MXNet master? Also did you get a chance to try fix suggested by @zhreshold?

[2019-02-22 23:24] szha commented on #13760
Empty tensor is currently not possible to be explicitly expressed in MXNet.

[2019-02-22 23:59] frankfliu commented on #14239
@mxnet-label-bot add [performance, clojure]

[2019-02-23 00:56] lanking520 commented on #13468
Seemed to be good to close now 👍

[2019-02-23 00:56] #13468 closed

[2019-02-23 02:21] anirudh2290 commented on #13760
Since the begin=end case is currently returning ndarray with garbage values, should we throw an exception when we encounter these inputs. I know we may have users depending on this behavior, but the number may be very less because of the garbage values.

[2019-02-23 03:52] SunDoge commented on #10698
Here's an attempt [SunDoge/mxnet-rs](https://github.com/SunDoge/mxnet-rs) and I'm looking for people to join forces.

[2019-02-23 07:36] eric-haibin-lin opened #14241 "Flaky test: sgld"
[code]
occured in http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/activity for PR https://github.com/apache/incubator-mxnet/pull/14237

[2019-02-23 08:58] nkhdiscovery commented on #4659
@leezu
Here is something even more complex which works, I thought anybody else may come here and needs the solution - which does not work if you do not force  `mp.set_start_method('forkserver', force=True)`

`import random
import numpy as np
import mxnet as mx
import multiprocessing as mp

def test():
    mx.random.seed(random.randint(10,200))
    a = mx.nd.random_normal(shape=(2,2), ctx=mx.gpu(0)

[2019-02-23 23:05] ChaiBapchya commented on #13001
Taken note of all the above comments. All these use cases make this feature request very relevant. Tagging myself here as I start working on this.

[2019-02-24 00:26] e8035669 commented on #14184
Hey, thanks to you guys.
Is it a bug ? Or my use is wrong ?

[2019-02-24 02:00] ifeherva commented on #11424
@eric-haibin-lin the .indices API is a blocking call right? I am getting very slow speeds and that would explain it.

[2019-02-24 02:07] lonelykid commented on #10002
Any news? I saw no updates in the Jira issue

[2019-02-24 06:03] reminisce commented on #14105
According to numpy, this should return an empty array. Since MXNet does not support emtpy array in computation, it simply throws exception. So there is nothing wrong for now until we support empty arrays which has been planned.
[code]

[2019-02-24 06:29] eric-haibin-lin commented on #3946
The parallel utility in gluonnlp may be useful for some use cases: https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/utils/parallel.py#L66-L77

[2019-02-24 09:01] SunDoge opened #14244 "Feature request: share memory between numpy.array and mxnet.ndarray"
Last time I did a benchmark and @szha pointed out [that](https://gist.github.com/SunDoge/59a8ff336703b45be30b46dc3ee8b4ab#gistcomment-2841120)

This is a safe choice but sometimes it can be a performance problem. I check the C API and find no function to share data from outside. Is it possible for MXNet to provide such api?

[2019-02-24 13:04] wkcn commented on #13327
Please set CXX_PROPOSAL to true in the yaml config of Deformable Conv.

However, I do not know whether onnx supports for proposal operator.

[2019-02-24 14:22] pengzhao-intel commented on #14184
@e8035669 we're debugging but sorry we're a little busy last week so don't spend too much time in here.
If this is a blocker issue, feel free to let me know and we can raise the priority。

[2019-02-24 15:51] danielgilon opened #14245 "visualize with global_pooling and no kernel crashes."
Using Python. Trying to visualize with global_pooling and no kernel crashes.

The visualization code fails when trying to run:
[code]
on the layer below:
[code]
while it works on when setting a kernel:
[code]

labels: Bug

[2019-02-24 15:54] danielgilon commented on #14245
relates to: https://github.com/apache/incubator-mxnet/issues/7814

[2019-02-24 18:42] eric-haibin-lin commented on #11424
That's right. It is blocking because the shape of the output cannot be inferred until the data is seen. You can see the dynamic shape support proposal in https://cwiki.apache.org/confluence/display/MXNET/Dynamic+shape I am not aware of the target date for the non-blocking implementation.

[2019-02-24 21:39] apeforest commented on #13829
@jiangzhengkai There is a default cuDNN autotune switch controlled by an environment variable: MXNET_CUDNN_AUTOTUNE_DEFAULT. You will need to turn it off to disable the cuDNN algorithm exploration. Otherwise, the conv layer may still generate non-deterministic result due to different cuDNN algorithm used.

Please `set MXNET_CUDNN_AUTOTUNE_DEFAULT=0`.

[2019-02-24 21:42] apeforest commented on #13098
Issue has been fixed:

[code]

[2019-02-24 21:42] #13098 closed

[2019-02-24 23:37] eric-haibin-lin opened #14246 "[DOC] a few documentations for linalg ops are broken"
http://mxnet.incubator.apache.org/api/python/ndarray/linalg.html?highlight=lin#mxnet.ndarray.linalg.gemm
and
http://mxnet.incubator.apache.org/api/python/ndarray/linalg.html?highlight=lin#mxnet.ndarray.linalg.gemm2

<img width="591" alt="screen shot 2019-02-24 at 3 31 38 pm" src="https://user-images.githubusercontent.com/5545640/53307074-7c425200-3849-11e9-9815-5e30c2ca4088.png">

source code in h

[2019-02-25 01:11] AmigoCDT commented on #14229
I found that the sum of pred in forward() is 1, this means the forward() works well.
I will find if the problem happened in backward().

[2019-02-25 05:28] hey-yahei commented on #13986
I reinstall anaconda and mxnet of nightly version.
Now it works now!
Thanks

[2019-02-25 05:28] #13986 closed

[2019-02-25 13:08] pengzhao-intel commented on #14236
Thanks to raising the issue. @xinyu-intel could you help take a look?

[2019-02-25 13:09] pengzhao-intel commented on #14236
@mxnet-label-bot add [MKLDNN]

[2019-02-25 14:37] piyushghai commented on #14234
@marcoabreu Haven't seen this failing again. Maybe something intermittently went in that broke it and now it seems to be fixed.
http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-backwards-compatibility-checker/

Can this issue be closed ?

[2019-02-25 15:36] marcoabreu commented on #14234
No, MXNet yields different results for the same input, so we should track down why.

[2019-02-25 16:15] gigasquid commented on #14118
This was originally for BERT - but he helped me understand that it is more complicated than I originally thought with this model.  So changing it to https://fasttext.cc/

[2019-02-25 17:17] frankfliu commented on #14241
@mxnet-label-bot add [Flaky, test]

[2019-02-25 17:18] frankfliu commented on #14245
@mxnet-label-bot add [Bug]

[2019-02-25 17:19] frankfliu commented on #14246
@mxnet-label-bot add [Doc]

[2019-02-25 18:24] lanking520 commented on #14235
Looks like atlas is missing, please try to install this and try again.
[code]

[2019-02-25 18:52] mseth10 commented on #14052
@ZhennanQin Thanks for confirming it's an MKLDNN bug. Good to know that it's fixed. Can you also give an ETA on when the next release containing the fix be rolled out?

[2019-02-25 18:54] aaronmarkham commented on #14135
Fixed with #14172

[2019-02-25 18:54] #14135 closed

[2019-02-25 19:31] aaronmarkham commented on #14109
Please reopen if you have further issues!

[2019-02-25 19:31] #14109 closed

[2019-02-25 23:30] reminisce opened #14253 "[RFC] Introducing NumPy-compatible coding experience into MXNet"
## Motivation
Today deep learning scientists spend majority of their time on data processing, debugging tensor algorithms, and tuning model parameters, instead of architecting models from scratch by themselves as a result from the abundant pre-trained models existing in many deep learning model zoos. This has highlighted the usability of tensor APIs as a key factor for a framework to be widely ado

[2019-02-25 23:36] junrushao1994 commented on #14253
+1 for this RFC.

Numpy compatibility has been long existing desire from both developers and users. It is very meaningful if we could make it possible.

[2019-02-25 23:52] apeforest commented on #14253
+1 for this RFC.

The inconsistent APIs even within MXNet operators itself caused many confusing for users. It will be a great improvement to usability if we can make MXNet APIs compatible with Numpy.

I would suggest that we establish a formal review process for PRs that includes API change or addition to prevent from creating inconsistent APIs in the future.

[2019-02-25 23:59] ifeherva commented on #14253
+1 for this RFC.

I especially like the numpy namespace proposal, that will help cleaning up a lot of thing.

My experience is that the major blocker for numpy compatibility (and bad user experience) is due to the lack of dynamic shape inference. I cannot wait to have that out.

Anyways, since I wrote a handful of operators already and I am very happy to lend in getting fully numpy-compatible once

[2019-02-26 03:00] GengxinXu opened #14254 "MXNET library failing in R"
I want to install the MXNet package for R.

Firstly, I paste the following command in Mac terminal to install Homebrew:
[code]
And then, I insert the Homebrew directory at the top of the PATH environment variable:
[code]
Next, I install OpenCV and OpenBLAS.
[code]
In order to check the successful installation. I paste the commands again and it shows:
[code]
Secondly, I install the latest version o

[2019-02-26 07:40] nickguletskii commented on #14253
+1 for handling zero-size arrays.

I'm not that concerned about numpy compatibility, but the lack of zero-size arrays is something that I would like to see fixed, since the current situation means that empty arrays have to be carefully padded to not cause any problems.

[2019-02-26 10:47] HaichaoZhu commented on #14235
@lanking520 Since I have no rights of administrator, I can not use `yum`. I tried with other methods like `conda install -c anaconda atlas ` and system gives me `# All requested packages already installed`. I can not install `atlas-devel` with `conda`. Should I ask administrator for help? Or installed atlas already has the package, I need to set the path in `bashrc` file?

[2019-02-26 17:37] junrushao1994 commented on #14235
can you try openblas?

[2019-02-26 17:58] HaichaoZhu commented on #14235
@junrushao1994 I loaded the module `openblas/dynamic/0.2.18 `. But the error `/usr/bin/ld: cannot find -lsatlas` still exits. I think I used openblas already. Since without loading `openblas` module, I would meet another problem "missing file `cblas.h`".

[2019-02-26 17:59] lanking520 commented on #14235
@HaichaoZhu My recommendation. Since you do not have admin access, please try to use the existing pip package directly to use MXNet. If you need to change the code base to build from source, I would recommend to use a VM has cent OS 7 or docker to build as many of the dependencies required admin to install

[2019-02-26 18:17] HaichaoZhu commented on #14235
@lanking520 Thank you for the suggestions. Unfortunately, I need to change the codes from source. I can not use a VM or docker because the GPU resource will be unavailable with this solution. I think I need to contact administrator to install the package.

[2019-02-26 18:32] satyakrishnagorti opened #14256 "MXNet hangs when creating an NDArray on a GPU Context in Scala"
## Description
MXNet hangs when I create an NDArray on a GPU context while using Scala bindings, every time the computer is restarted. But gets fixed as soon as I initialise an NDArray on GPU using python bindings.

Do the python bindings do anything more (in terms of cuda initialisation etc.) compared to Scala bindings when we create an NDArray on gpu?

This issue seems very strange, and happens

[2019-02-26 18:38] junrushao1994 commented on #14235
Did you use Makefile or CMake? If you are using Makefile, please also change [this line](https://github.com/apache/incubator-mxnet/blob/master/make/config.mk#L116) to OpenBlas.

ATLAS and OpenBLAS are different packages, if "cannot find -lsatlas" still exists, there must be somewhere still using ATLAS rather than OpenBLAS.

[2019-02-26 19:03] lanking520 commented on #14235
Well, build the GPU package does not mean you have to have a GPU on it. You can follow this instruction to build the package easily with any CUDA version. https://github.com/apache/incubator-mxnet/tree/master/tools/staticbuild. To simplify that, open a 14.04 VM and do the following:
[code]
The `mxnet_variant` is the version you would like to build with (cu80, cu90, cu92) are all valid options

Onc

[2019-02-26 19:22] eric-haibin-lin commented on #14210
That is certainly sth to try, although I am not sure why `CopyFromToSimple` takes 3-5 ms for 48 runs. I thought `CopyFromToSimple` allocates memory but it turns out not the case. The actual memory allocation seems to be inside copy<cpu, gpu> when TBlob() is invoked. https://github.com/apache/incubator-mxnet/blob/5f32f32e8c7ce50f20eae1438bf970eba6830578/src/ndarray/ndarray.cc#L1186-L1275
Did you pr

[2019-02-26 19:42] access2rohit commented on #13999
Hi,
    Did you make changes the codebase before building ?

[2019-02-26 19:42] access2rohit commented on #13999
@zhizec ^

[2019-02-26 19:47] junrushao1994 commented on #14244
@szha will lead us to implement this feature. I will take a look this weekend.

[2019-02-26 20:09] HaichaoZhu commented on #14235
ATLAS and OpenBLAS are different packages, if "cannot find -lsatlas" still exists, there must be somewhere still using ATLAS rather than OpenBLAS.

Oh, this is the solution! I did use `makefile`, but I didn't know I need to change `USE_BLAS = atlas` in `config file`. Thank you so much. Although there is still some other errors, I don't have `/usr/bin/ld: cannot find -lsatlas` anymore!

[2019-02-26 20:15] HaichaoZhu commented on #14235
@lanking520 Thank you for the support. If I can build VM without using GPU, it will be helpful for my next stage research. I will try in my computer.

[2019-02-26 20:21] leleamol commented on #14256
@mxnet-label-bot add [Scala, Bug]

[2019-02-26 20:31] ChaiBapchya commented on #14174
Yet another instance - Refer PR https://github.com/apache/incubator-mxnet/pull/14247
Jenkins - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14247/1/

@lanking520 Looks more than a random error

[2019-02-26 20:38] junrushao1994 commented on #14235
@HaichaoZhu please let me know if you have further building issues. Building stuff is kinda fun for me.

[2019-02-26 20:52] lanking520 commented on #14235
@junrushao1994 おもしろい面白い!
Please follow the https://cwiki.apache.org/confluence/display/MXNET/Outstanding+problems+with+publishing to see if you would like to contribute our publish problems.

[2019-02-26 20:57] lanking520 commented on #14174
@marcoabreu not quite sure if it caused by some network issue or timeout from Jenkins. It's rare to see this issue, but it did happened.

[2019-02-26 21:02] eric-haibin-lin commented on #13825
Probably resolved by #13896

[2019-02-26 21:10] lanking520 commented on #14253
+1 for this RFC.

The consistent experience would also help JVM language binding to be in sync with Python. It reduce the bar for users familar with Python to write the same thing in Scala.

[2019-02-26 21:10] eric-haibin-lin opened #14257 "Flaky cpp test: dropout gpu perf"
The dropout cpp test fails intermittently on MXNet master. I can reproduce the failure by running the cpp test locally a couple of times.

Reference failure log:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14066/5/pipeline/

[2019-02-26 21:26] markproy commented on #14003
Not sure how I add "+1" to this request, so I'm just adding this comment.  I'd like to convert a ResNet-50 model created by MXNet under the hood of SageMaker's Image Classification built-in algo.  Unfortunately, it uses "_copy" (and perhaps other unsupported layers).  Thus, the converter is unable to create a coreML model.

[2019-02-26 21:43] piyushghai commented on #14257
@mxnet-label-bot Add [Test, Flaky]

[2019-02-26 21:44] piyushghai commented on #14254
@mxnet-label-bot Add [R, Installation]

[2019-02-26 21:58] piyushghai commented on #14254
@anirudhacharya @hetong007 @ankkhedia Can you guys have a look into this issue and help out @GengxinXu here ?

[2019-02-26 22:12] hetong007 commented on #14254
My guess is that although your softlink solves the "linking" problem, essentially the libraries are still different. Thus the `Symbol not found` error is about the difference between versions of openblas or opencv.

If possible, my suggestion is to build MXNet R locally: https://mxnet.incubator.apache.org/versions/master/install/osx_setup.html

[2019-02-26 23:49] ifeherva commented on #14228
I ran into the same issue, what was the solution in your case?

[2019-02-27 01:00] GengxinXu commented on #14254
Thank you so much.
Do you mean that I follow the "Building MXNet from Source Code" (where there're only 5 lines of commands to be pasted in Mac terminal) in your given website?

[2019-02-27 06:16] JohnLee168 opened #14260 "c/c++ multiple threads inference problem"
Hi, I have a question for multiple threads inference in c/c++.
The server uses 10 threads to handle request images from clients, and create 20 PredictorHandles(a PredictorHandle pool) to inference.
When server recv one image in a thread, server chooses an available PredictorHandle(not in use) from the PredictorHandle pool to inference. Each PredictorHandle is only used in one thread, but one threa

[2019-02-27 07:50] rongzha1 commented on #14236
@samskalicky  you can workaround by using: make -j1

[2019-02-27 08:38] wkcn commented on #14253
+1 for this RFC.

It will be more flexible to use MXNet, especially in slicing, and I hope mx.numpy could eliminate the divergence between mx.nd and mx.sym.  : )

I wonder how to implement mx.numpy: using Python ast  module to extract the abstract syntax tree then run them on JIT, or implement it on Python entirely? We should also focus on the deployment of mx.numpy.

I do not think F.numpy.dot is

[2019-02-27 10:36] HaichaoZhu commented on #14235
@junrushao1994

In fact, I have further issues. The LAPACK problem. I installed `lapack` package, but `undefined reference to 'ssyevd_'` and `undefined reference to 'dgesvd_'` occurred. Since University's computer is under maintenance, I can not provide the whole error message.

[2019-02-27 17:18] samskalicky commented on #14236
Thanks guys!

Ive tried adding " | mkldnn " to the Makefile here:

https://github.com/apache/incubator-mxnet/blob/master/Makefile#L492

that seems to be working. This is similar to another target above:

https://github.com/apache/incubator-mxnet/blob/master/Makefile#L476

Any thoughts about committing this change into the makefile?

[2019-02-27 18:21] reminisce commented on #14253
@wkcn All of what you have said make sense. :)

Gluon APIs, GluonNLP and GluonCV highly depend on the current MXNet infra. So we have to execute it in an organized and steady stream in order not to break backward compatibility. Current NNVM has its own limitations in expressing dynamic shapes and control flow operators. We will eventually need a new IR (Relay is an option) to do AST transformation

[2019-02-27 18:24] access2rohit opened #14263 "MXNet Master build for CUDA with DEBUG=1 failing"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-02-27 18:30] aaronmarkham commented on #14263
I tried this on a p3.2xlarge and a p3.16xlarge using a DLAMI Base and saw the same error both times. Running with DEBUG off will build fine.

[2019-02-27 19:14] eric-haibin-lin opened #14264 "nd.reshape truncate values"
reshape with a smaller shape truncates the value in the tensor, which is strange and inconsistent with numpy:
[code]
whereas in numpy:
[code]

[2019-02-27 19:14] eric-haibin-lin commented on #14264
@junrushao1994 @reminisce

[2019-02-27 19:32] anirudhacharya commented on #14254
@GengxinXu yes, if you have the mxnet source code built, building the R-package can be done by following this - https://mxnet.incubator.apache.org/versions/master/install/osx_setup.html#building-mxnet-from-source-code

[2019-02-27 20:45] satyakrishnagorti opened #14265 "Bug in Optimizer's serializeState and deserializeState methods (Scala)"
## Description
Currently there is a bug in the way Optimizer is trying to serialize state which fails when trying to deserialize Optimizer that has no `states` (like SGD without momentum).

## Issue
Currently the way serialize is being done is as below: (pasting Optimizer.serailizeState())
[code]
When an Optimizer without `states` like SGD with momentum set as `0` is being used. The `states` map (

[2019-02-27 21:12] reminisce opened #14266 "Move TShape definition and necessary passes out of NNVM"
MXNet needs its own definition of `TShape` to support scalars and zero-size tensors which is compatible with NumPy. To keep NNVM code unchanged, we need to copy `tuple.h` from NNVM to MXNet and make changes in the current MXNet codebase accordingly. Some NNVM passes need to be moved out too.

See https://github.com/apache/incubator-mxnet/issues/14253 for more details.

[2019-02-27 21:13] reminisce commented on #14266
@junrushao1994

[2019-02-27 21:19] reminisce opened #14267 "Redefine TShape to support scalars and zero-size tensors"
Need to use -1 for ndim and dimension sizes to indicate unknown shape information. Currently, 0 is used which will be changed to support scalars and zero-size tensors.

[2019-02-27 21:27] reminisce opened #14268 "Add numpy module under root module mxnet"
1. A new module `mxnet.numpy` will be created as a placeholder for future numpy operators.
2. `mxnet.ndarray.numpy` and `mxnet.symbol.numpy` will be created as well for use in Gluon.

[2019-02-27 21:35] junrushao1994 commented on #14264
There might be issues with infer shape

[2019-02-27 21:36] junrushao1994 commented on #14266
Working on this #14217

[2019-02-27 21:38] anirudhacharya commented on #6493
Can we update this issue with the current status or close it since we anyway will move to the new website pretty soon and we can track the tutorials there separately?

@indhub @szha @ThomasDelteil @vishaalkapoor

[2019-02-27 21:39] anirudhacharya commented on #6493
Most of the R tutorials in the list have been fixed. FYI

[2019-02-27 21:58] junrushao1994 commented on #14266
Working on this #14270

[2019-02-27 22:56] junrushao1994 commented on #14235
[These lines](https://github.com/apache/incubator-mxnet/blob/master/Makefile#L176-L187) in Makefile checks if LAPACK is properly installed. Could you try again and let me know whether there is a warning?

[2019-02-27 22:57] gigasquid opened #14271 "[Clojure] Add helper function to convert formed vector to NDArray (infers shape)"
We have a ndarray function called `array` that will take a 1d clojure vector and a shape vector and turn it into a ndarray. The Scala function has a new helper function that allows you to pass in a dimensional float/double  array and have the NDArray create it and infer the shape.

It would be nice to create an interop function for this.
Example of interop:

[code]

[2019-02-27 22:59] gigasquid opened #14272 "[Clojure] Change the NDArray Example to use the ndarray formatted printer"
The Scala package has a new toString method for NDArray that can print out content.

This would be nice to showcase in our NDArray Tutorial.

Example:

[code]

https://mxnet.apache.org/api/clojure/index.html
https://mxnet.apache.org/api/clojure/ndarray.html

[2019-02-27 23:16] stephenrawls commented on #14264
Not sure about others but I like this behavior.

It allows me to create a maximum-sized array in imperative mode, and re-shape it to the right size each time through the loop at zero cost and with zero allocations.

When running in training mode with autograd this will give you the error you want though:

[code]

[2019-02-27 23:44] wkcn commented on #14268
I think it is confusing that mx.numpy, mx.nd.numpy and mx.sym.numpy all exist.

In gluon, it is available that Block(nd) and Block(sym) are both supported.

It may be better to support mx.numpy.xxx(nd) and mx.numpy.xxx(sym)

[2019-02-28 00:27] leleamol commented on #14265
@mxnet-label-bot add [Scala, Bug]

[2019-02-28 01:10] leleamol commented on #14106
@mxnet-label-bot  add [Pending Requester Info]

[2019-02-28 01:37] leleamol commented on #14260
@JohnLee168 based on my understanding and documentation the MXPredCreateMultiThread() can be used only when the EngineType is NaiveEngine.

It is possible to reuse  PredictorHandle created by MXPredCreate() in a single threaded environment by calling MXPredForward().
In case of multi-threaded environment, if you want to reuse PredictorHandle, you would have to keep the operations MXPredSetInput(),

[2019-02-28 02:08] GengxinXu commented on #14254
@anirudhacharya Thanks!
I followed your advice, but I still couldn't solve the problem, since the same Error still occurred.

[2019-02-28 02:53] apeforest commented on #14236
Why do we need warpctc if mxnet already has native implementation?

[2019-02-28 02:59] bj5546 commented on #14116
release 1.40 has the same erro

[2019-02-28 03:24] anirudh2290 commented on #14253
Thanks for the RFC!

Earlier mxnet.ndarray was supposed to give you the experience of writing pure imperative code. Why can't we add the operators under this namespace and make the interface changes for existing operators ? Is there a list of operators which have diverged APIs for numpy and ndarray and can it be timed with 2.0  release?

If I understand correctly, even when using numpy namespace y

[2019-02-28 03:26] JohnLee168 commented on #14260
Thanks for your reply.
So, you mean either I use one thread to inference, or use multiple threads which
MXPredSetInput(), MXPredForward() and MXPredGetOutput() shoudle be locked(MXPredSetInput(), MXPredForward() and MXPredGetOutput() functions can only be running in one thread at a time), Is that right?
I created a new topic on forum. And i'll close this issue. Thanks for your help.

[2019-02-28 03:45] szha commented on #14253
@anirudh2290

We can. However, there exist some operators in mxnet.ndarray whose names are the same as numpy counterparts while the behavior are slightly different, this means they cannot exist in the same namespace if we want to preserve backward compatibility. On the other hand, 2.0 is a good opportunity for fixing many of the existing problems besides the operator behaviors, so we'd likely want

[2019-02-28 05:09] reminisce commented on #14268
Can you elaborate? I don't understand this part.

If implemented in this way, how would you differentiate mx.numpy.xxx between symbolic and imperative? The current design considers the minimum change required in Gluon for now and future. With the current design `F.numpy.op`, it would be very easy to just delete `F.` to eliminate `ndarray` and `symbol` namespaces in the future.

[2019-02-28 05:10] roywei commented on #13825
after #13896, seems only `mx.gluon.nn.Dropout(0.5)` has performance improvements, but not  mx.nd.Dropout(data, 0.5, mode='always')

following the above code sample:
### Using `mx.nd.Dropout`
1.43 s ± 293 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)
### Using Custom Dropout
331 ms ± 411 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

### Network using `mx.gluon.nn.Dropout`
128 ms ±

[2019-02-28 05:36] szha commented on #13825
@roywei by default cudnn_off is turned on. You need to turn it off to benefit from cudnn dropout.

[2019-02-28 06:32] Bumblebee1964 commented on #14116
Please fix, it is annoying to work around this issue especially when trying to understand cpp samples as these won't build out of the box.

[2019-02-28 06:33] TaoLv commented on #14253
@reminisce @szha NumPy has reference/view and stride in its NDArray structure whille MXNet.NDArray doesn't have. How does this impact the design of NumPy-compatible coding experience?

[2019-02-28 06:41] junrushao1994 commented on #14253
@TaoLv In neural nets, once you do backprop, you cannot overwrite data because it destroys checkpointing.

[2019-02-28 07:17] diandianliu opened #14279 "set mxnet single thread"
hi
     I run my program on linux, use CPU, call the mxnet.so. I find my program have many threads, and not  call fork an other may have multithread function. it is may be the mxnet.so have mutlithread, and  set MXNET_CPU_WORKER_NTHREADS=1,MXNET_CPU_NNPACK_NTHREADS=1,MXNET_CPU_PRIORITY_NTHREADS=1,but not effect. how to set the mxnet.so run in single thread, thanks!

[2019-02-28 07:31] wkcn commented on #14268
@reminisce
The block in gluon accepts the instance of mx.nd.NDArray or mx.nd.Symbol.
We can distinguish between symbolic and imperative namespaces by the type of inputs.

An Example:
[code]

[2019-02-28 07:32] TaoLv commented on #14253
Not sure I understand the `checkpointing`. Can you explain a bit more? I think we have memory planning pass to decide whether the data can be overwritten? Also there are NumPy-based framework like Theano and Chainer.

[2019-02-28 07:38] xcwanAndy opened #14280 "Compiling from source code error"
## Description
Compiling from source code occurred ***link libzmq*** error.
## Environment info (Required)
[code]

Package used (Python/R/Scala/Julia):
I'm using Python.

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc

MXNet commit hash:
7c617ccc7a8655f3b93acdfac8aeee20eee2a778

Build config:
In CMakeLists.txt, I set:
[code]
and build files with ```nin

[2019-02-28 08:17] #14279 closed

[2019-02-28 08:36] cishidai opened #14281 "update MXNET"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-02-28 09:09] TaoLv commented on #14281
No issue description is provided. I'm closing it for now. Feel free to reopen with detail information. @cishidai

[2019-02-28 09:09] #14281 closed

[2019-02-28 10:53] IvyGongoogle opened #14282 "float16 does not work for `rnn` model"
Hello, I use this [predict-cpp](https://github.com/apache/incubator-mxnet/tree/master/example/image-classification/predict-cpp)  to infer some images.
When I use `float16` to infer a `cnn` model and it shows the speed is much faster than using `float32`. But when I use `float16` to infer a `rnn` model , the speed is nearly same with using `float32`.
So what causes this? can you give some advises?

[2019-02-28 11:20] HaichaoZhu commented on #14235
@junrushao1994  My bad, I did not add lapack path correctly in `config` file. Now the warning disappear. Thank you so much for your suggestions.

[2019-02-28 13:27] edwardfang commented on #558
you may use `--pack-label`

[2019-02-28 15:08] wkcn commented on #14257
There is another issue about dropout gpu perf.
http://jenkins.mxnet-ci.amazon-ml.com/job/mxnet-validation/job/unix-gpu/job/PR-14278/1/display/redirect
[code]

Maybe we should modify the code of `tests/cpp/include/test_op.h`.
`opContext_.run_ctx.stream = mshadow::NewStream<gpu>(true, true);` -> `opContext_.run_ctx.stream = mshadow::NewStream<gpu>(true, true, 0);`

[2019-02-28 16:50] HaichaoZhu commented on #14235
I think I can close this now. Again, thank you for your support. @lanking520 @junrushao1994

[2019-02-28 16:50] #14235 closed

[2019-02-28 17:05] access2rohit commented on #13846
@stsukrov
Your build instructions are different than specified here:
http://mxnet.incubator.apache.org/versions/master/install/osx_setup.html

Can you provide more details as to why are they different?

[2019-02-28 17:57] HaichaoZhu opened #14283 "undefined reference to `cv::_InputArray"
I am trying to compile MXnet with `makefile`. But the errors `undefined reference to cv::_InputArray::_InputArray(cv::Mat const&)` & `undefined reference to cv::imdecode(cv::_InputArray const&, int)` occurred, the issues look like:

`-L/scratch/ultraimage/hz160/anaconda3/envs/py27/lib -llapack
build/src/io/iter_image_recordio.o: In function mxnet::io::ImageRecordIOParser<float>::ParseNext(std::vec

[2019-02-28 18:02] reminisce commented on #14253
@TaoLv MXNet can have the same concept as in NumPy for view with the implementation of strides. But I think it's not the first priority for us to do so, because they are rarely useful in training (maybe useful in data preprocessing). @junrushao1994 's point is that in-place assignment is invalid in BP as it will wipe out pre-stored autograd information. This is consistent with other DL frameworks.

[2019-02-28 18:46] apeforest commented on #14253
Do we really have to carry this burden of backward compatibility all the way beyond 2.0? I feel existing operators are confusing enough that 2.0 maybe a good time for us to make the API clean and easy to use. It seems to me adding a new name space `mx.numpy` to the existing `mx.sym` and `mx.ndarray` caused more confusion.

[2019-02-28 18:57] reminisce commented on #14268
@wkcn Thanks for the example. I see your point. I misunderstood your suggestion before. Agree that it provides clearer UX having a unified operator interface for both `NDArray` and `Symbol` and doing call dispatch under the hood based upon the input argument types. However, we need to consider that there are other operators not belonging to numpy and still needing `F.` prefix in Gluon. I discussed

[2019-02-28 19:34] zachgk commented on #13846
@access2rohit We currently have both make and cmake build systems that we use and the install instructions could use either depending on the page. We have cmake instructions at https://mxnet.incubator.apache.org/versions/master/install/build_from_source.html.

[2019-02-28 20:09] stsukrov commented on #13846
Yup.
That's the build instructions listed for tests folder.

Feel free to provide me with instructions on building a working test for mac with make.
cmake build for mac is still undoubtedly broken.

[2019-02-28 21:05] reminisce commented on #14253
@apeforest Because MXNet guarantees backward compatibility, those two namespaces have to be kept till 2.0. Adding namespace `numpy` lowers the bar for data scientists from NumPy community to use the DL framework. As for the framework itself, the purpose is to deemphasize the difference between `mxnet.symbol` and `mxnet.ndarray` in this major release. To retire those two namespaces in 1.x.x, one pr

[2019-02-28 21:38] reminisce opened #14285 "[Flaky] test_infer_type.test_infer_multiout_op2"
`rtol` and `atol` are too small.
[code]

[2019-02-28 21:53] junrushao1994 commented on #14264
@steventhornton @eric-haibin-lin What if we can add a boolean flag of the API, indicating whether an error will be thrown in this situation?

[2019-02-28 22:01] danithaca commented on #13598
We observed poor inference latency with MKL-DNN, and maybe this proposal will help address it. See https://discuss.mxnet.io/t/poor-inference-latency-with-mkldnn-on-cpu/3339. Thought it might be helpful to cross share the use case here.

[2019-02-28 22:09] MaxBareiss commented on #14263
I have the same issue on PPC64LE using master (c319ae57), built with CMake on Linux. I don't have this issue with 1.4.0.

[2019-02-28 22:12] access2rohit commented on #13846
@zachgk Thanks for the link.
@stsukrov If you want to use CMAKE only you can try instructions here: https://mxnet.incubator.apache.org/versions/master/install/build_from_source.html#recommended-for-systems-with-non-intel-cpus for MacOS
and for MAKE you can try the previous link that I shared. For now it would be better that we stick to the instructions given on the MXNet website.

@apeforest Can y

[2019-02-28 22:20] stephenrawls commented on #14264
I'm okay if we add a boolean flag to turn this feature on. I'm even okay if we move this feature to a different operator if you want 100% parity with  NumPy for all operators that share a name with NumPy operators. I just want to retain ability to use this feature :)

Thanks,
Stephen

[2019-02-28 23:04] junrushao1994 opened #14288 "Flaky test: test_operator_gpu.test_dropout"
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-14270/runs/5/nodes/271/steps/624/log/?start=0

[code]

[2019-02-28 23:06] junrushao1994 commented on #14288
See also

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-14270/runs/5/nodes/271/steps/624/log/?start=0

[2019-02-28 23:22] apeforest commented on #14253
@reminisce I am fine with keeping those two namespaces till 2.0 for backward compatibility. Starting from 2.0, I feel we may want to just drop `mx.ndarray', `mx.symbol` and make `mx.numpy` the only name space to users. I like the unified interface idea you propopsed.

[2019-02-28 23:27] junrushao1994 opened #14289 "[Flaky] test_operator_gpu.test_convolution_multiple_streams"
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-14192/runs/5/nodes/273/log/?start=0

[code]

[2019-02-28 23:35] cbowdon opened #14291 "[Clojure] mxnet-scala cannot be loaded without legacy openssl"
## Description

I have a very similar (probably related) issue to #12822 when using the pre-built jar. Same error message as @kohr-h describes, except instead of the unsatisfied link being `libcurl3` it is `libcrypto.so.1.0.0`. It turns out this is provided by `libopenssl1_0_0` which is again a package that I do not want to install system-wide to avoid breaking other things.

## Environment info (

[2019-03-01 00:45] junrushao1994 opened #14292 "[Flaky] test_operator_gpu.test_adamax"
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-14192/runs/6/nodes/271/log/?start=0

[code]

[2019-03-01 04:19] edfall opened #14293 "SOFTMAX is slow"
## Description
Trying to implement an attention model with mxnet, a lot of softmax operation is used.
I find softmax operation is `too slow`, slower than a convolution and other platform softmax implementation, such as torch.

## Minimum reproducible example
- code:
[code]
- output:

[code]
- softmax operation is consistently slower(2-8X) than convolution,  even worse when softmax channel is low(8

[2019-03-01 05:20] wkcn commented on #14293
There are two softmax implementations in MXNet: softmax and SoftmaxActivation, the
former is a naive implementation, but the latter is a cudnn one.

Could you please try mx.nd.SoftmaxActivation?

[2019-03-01 05:42] edfall commented on #14293
I tested, it is much faster. thank you!

[2019-03-01 05:42] #14293 closed

[2019-03-01 05:57] access2rohit commented on #11635
I am able to repro the issue. Will raise a PR by tomorrow

[2019-03-01 06:34] wkcn commented on #11635
Thanks for your report.
Current MXNet does not support 0-size tensor, like mx.nd.empty((0, 1)).
We will fix it.

[2019-03-01 07:21] #14266 closed

[2019-03-01 07:56] stsukrov commented on #13846
CLion uses CMake, so we cannot ignore it completely.

I'm not even sure, that the default make even makes tests. Last time, I found none. Let me double check it today

[2019-03-01 08:10] yangjin111 opened #14294 "Strange error when training resnet101_v2 with mixed precision"
## Description
Firstly,I trained inception_v3 with mixed precision,it work well and I got a good result.But when I train resnet101_v2,it stops in training first batch and no error information shows.
Then I try training resnet101_v2 in 'float32',it works well.

## Environment info (Required)
win10
rtx 2080
cuda 9.2
cudnn 7.5
mxnet 1.5.0

## More info
I use `mxnet.gluon.model_zoo.vision.resnet101_v2

[2019-03-01 08:22] junrushao1994 commented on #14292
@mxnet-label-bot add [Test, Flaky]

[2019-03-01 08:22] junrushao1994 commented on #14289
@mxnet-label-bot add [Test, Flaky]

[2019-03-01 08:23] junrushao1994 commented on #14288
@mxnet-label-bot add [Test, Flaky]

[2019-03-01 08:27] Jessespace commented on #14220
I followed your advice and tried to use **profile**. Still some confusion about some places.

**code:**
profiler.set_state('run')
tic = time.time()

x, img = data.transforms.presets.yolo.load_test(img_path, short=shape)
x = x.as_in_context(ctx)
class_IDs, scores, bounding_boxs = net(x)

bounding_boxs.wait_to_read()
all = time.time() - tic
profiler.set_state('stop')
print("time:", all)
print(profil

[2019-03-01 16:13] stsukrov commented on #13846
Rebuild the test with

make
make test
./mxnet_unit_tests --gtest_filter=FULLY_CONNECTED*

**Confirming to be successfull with make.**
So the issue is cmake

@mxnet-label-bot add [cmake]

[2019-03-01 16:20] stsukrov commented on #13846
Updated the issue so the impact of the issue is clear

[2019-03-01 16:31] mahmoodn commented on #14233
Hi
Is there any temporary workaround for that?

[2019-03-01 16:50] anirudhacharya commented on #14189
@mxnet-label-bot add [Disabled test]

[2019-03-01 18:45] apeforest commented on #13846
Confirmed. I build with

[code]
All tests passed.

[code]

[2019-03-01 19:42] zachgk commented on #14265
Hey @satyakrishnagorti, it sounds like you have looked at this and know what to change. If you are interested, you are also more than welcome to open a pull request and contribute the fixes yourself. Let me know if you need any help

[2019-03-01 19:51] leleamol commented on #14294
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.
Can you provide a sample code that you are using to train the network?
@mxnet-label-bot add [Gluon]

[2019-03-01 20:04] leleamol commented on #14280
@mxnet-label-bot add [Build]

[2019-03-01 20:23] leleamol commented on #14283
@HaichaoZhu can you please share the config flags that you have used while building the MXNet?

@mxnet-label-bot add [Build, OpenCV, Pending Requester Info]

[2019-03-01 20:53] leleamol commented on #14282
@IvyGongoogle The predict-cpp example mentioned in the issue is designed from image recognition.
Can you please share the reproducible example for rnn network? It will help community members to address the issue.
@mxnet-label-bot add [FP16, RNN]

[2019-03-01 21:02] satyakrishnagorti commented on #14265
Yeah, I will send a PR soon.

[2019-03-01 21:14] leleamol commented on #14291
@mxnet-label-bot add [Scala]
@lanking520 @frankfliu can you please comment on this issue?

[2019-03-01 21:26] stsukrov commented on #13846
We were actually talking about c++ tests

[2019-03-01 23:50] Roshrini commented on #13138
Fix with PR https://github.com/apache/incubator-mxnet/pull/13604/ doesnt fix all the models. Reopening this issue

[2019-03-02 00:26] #14236 closed

[2019-03-02 01:02] eric-haibin-lin commented on #14228
@ifeherva could you share you failed test case?
 "Wrap y with F.identity(y) on the inner network." -> this seems to work for @yifeim 's case

[2019-03-02 01:21] eric-haibin-lin commented on #14257
I see. Maybe that will fix the the failure reported previously

[2019-03-02 03:10] NonvolatileMemory commented on #14264
I think it's a bug not a feature.

[2019-03-02 03:30] DickJC123 commented on #14289
This appears to be an issue with releasing of resources during the NaiveEngine shutdown.  There aren't many tests in our CI that test with the NaiveEngine, so this new test I added is fleshing out the problem.  I saw segfaults (error = 255) on CentOS, and supplied a fix: https://github.com/apache/incubator-mxnet/pull/14006/commits/790a9981440424b6646a7f83f73cce7043ab2398.
It looks like there are m

[2019-03-02 07:34] ashokei opened #14301 "SoftmaxOutput crashes with normalization "valid""
## Description

## Environment info (Required)
ubuntu 16.04 default build
and, run below script.

[code]

MXNet commit hash:
fb4f9d55382538fe688638b741830d84ae0d783

Build config:
make

## Error Message:
[code]

[2019-03-02 08:38] xcwanAndy commented on #14280
Can anyone help me fix this problem please? I'm really in a hurry.

[2019-03-02 08:51] wkcn commented on #14301
Thanks for your report!

reproduce the bug in MXNet fb4f9d5

[2019-03-02 13:06] cqlyiyeshu commented on #6644
the issue still exists

@cjolivier01

[2019-03-02 17:56] sl1pkn07 opened #14304 "error: inlining failed in call to always_inline 'float _cvtsh_ss(short unsigned int)': target specific option mismatch"
## Description
Fail build

## Environment info (Required)

[code]

## Compiler (gcc/clang/mingw/visual studio):
gcc 8.3.0

CUDA 10.1.105
OpenCV 4.1.0
CuDNN 7.5.0.56
NCCL 2.4.6
OpenBLAS 0.3.5
lapack 3.8.0

## MXNet commit hash:
42e929bcb35d2d0a7cff4b09aa6e392976e75acc

## Build config:
[code]

## Error Message:
[code]

## Minimum reproducible example
try to build in updated archlinux

## Steps to r

[2019-03-02 18:03] sl1pkn07 commented on #10738
hi @apeforest i cant test the PR because i cant apply it in the top of master (7aac0b52539361415c3ba74e9e0de99c05813d4b)

greetings

[2019-03-02 18:33] #13929 closed

[2019-03-02 23:14] eric-haibin-lin commented on #14264
I suggest by default we throw errors if shapes mismatch. And add an option to enable truncated reshape inplace if users choose to

[2019-03-02 23:33] stephenrawls commented on #14264
@NonvolatileMemory Do you mean you think it's a bug because users should expect mx.nd.Reshape() to have identical behavior to NumPy's Reshape() operator?

If so, as mentioned, I don't have an opinion at all, and as mentioned I am happy for this feature to be turned on optionally, or to be renamed to something else entirely, e.g. mx.nd.SomeNewOperator().

If you mean it's a bug for users to want th

[2019-03-03 01:33] #3199 closed

[2019-03-03 01:46] wkcn commented on #14264
In my opinion, we should fix the bug in Reshape OP, and add a new operator named    adapted_crop to get the interesting feature.

e.g.

a = nd.zeros((3,6,9))
b = nd.zeros((2,8,5))
a_crop, b_crop = nd.adapted_crop(a, b, mode='tiny',merge=False)
a_crop2, b_crop2 = nd.adapted_crop(a, b, mode='full', fill_value=3, merge=False)

it is equivalent
a_crop = a[:2,:6,:5]
b_crop = b[:2,:6,:5]

a_crop2 = nd.f

[2019-03-03 04:46] estarpro opened #14306 "mxnet-cuda100 malloc problem of mod.forward()"
Hi, I am new to mxnet .And I had mxnet-cuda100 malloc problem when executing function mod.forward(Batch(data1))
## Environment info (Required)
opencv-python==4.0.0.21
mxnet-cu100==1.3.1
Ubuntu 16.04.5
matplotlib==2.2.3

Build config:
I installed mxnet from pip .

## Error Message:

*** Error in `python': free(): invalid pointer: 0x00007fbdc9ce3490 ***
Py/spatial/_distance_wrap.so has been abandone

[2019-03-03 08:53] NonvolatileMemory commented on #14264
for nd.reshape, it's very dangerous. I prefer the nd.free_reshape or other name

[2019-03-03 12:41] wkcn commented on #14280
Do you install zmq?

And I recommend to use make to build MXNet.

Build Setup:
http://mxnet.incubator.apache.org/versions/master/install/ubuntu_setup.html

[2019-03-03 12:59] wkcn commented on #14306
Could you please provide a stacktrace?
Sorry that I do not have any server with CUDA 10.

[code]

Thanks!

[2019-03-03 14:21] wkcn commented on #14233
@mahmoodn
Sorry for late reply. It is a bug since the type of pyrnd.getrandbits(32) is long in python2.

mx.random.seed(int(pyrnd.getrandbits(32))) will work.

[2019-03-03 14:22] xcwanAndy commented on #14280
@wkcn I do install zmq and I've tried to use make to build MXNet, but still meet the same link problem.

[2019-03-03 14:33] wkcn commented on #14280
How did you install zmq? build from source or apt-get install?
It seems that the version of zmq installed does not match with the c++ compiler.

[2019-03-03 14:40] xcwanAndy commented on #14280
My c++ compiler version is:
[code]
and libzmq is installed by apt-get install, its version is:
[code]
Does it make any difference?

[2019-03-03 15:55] wkcn commented on #14280
Could you try to uninstall zmq, then build zmq from source?

[2019-03-03 15:58] xcwanAndy commented on #14280
Sure. I'll try as soon as possible. Thanks a lot.

[2019-03-03 20:38] mahmoodn opened #14309 "ValueError: need at least one array to concatenate"
I have converted an 3 minutes MP3 file to WAV and fed that to the speech recognition example. However, I get this error

[code]

[2019-03-03 23:47] zheng-da opened #14311 "constructing a CSR matrix from the coo input is slow."
When constructing a CSR matrix from the coo input, MXNet replies on scipy. That is, MXNet converts the coo inputs to NumPy arrays first and convert them to the scipy csr and then to MXNet CSR. This is very slow when the coo input is large.

[2019-03-04 00:04] DickJC123 commented on #14301
I too recently saw an issue with Softmax that generated a segfault.  This behavior began with the Softmax operator changes introduced by https://github.com/apache/incubator-mxnet/pull/13699 and occurs when the framework is compiled with USE_MKLDNN=0.  The failing test is with sockeye:
[code]
Perhaps you could verify that your fix corrects this behavior?

[2019-03-04 02:33] roywei commented on #13949
@mxnet-label-bot remove[Bug] add [pr-awaiting-response]

[2019-03-04 02:34] roywei commented on #13949
@mxnet-label-bot add [pr-awaiting-response]

[2019-03-04 02:42] pengzhao-intel commented on #14311
Any reproducible case for this issue?
Do you have a proposal for the fix, like write a specific OP for the conversion?

[2019-03-04 05:03] ChaiBapchya commented on #14174
Yet again - Refer PR #14303
Jenkins - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14303/2/pipeline

[2019-03-04 05:37] xcwanAndy commented on #14280
I have built successfully according to the above reply:

But failed by following this page: https://mxnet.incubator.apache.org/versions/master/install/build_from_source.html#build-mxnet-with-c++

Anyway, @wkcn thanks a lot for helping me fix this. I'll close this issue.

[2019-03-04 05:37] #14280 closed

[2019-03-04 06:15] wkcn commented on #14301
@DickJC123 Hi! I submitted a PR, which may address the problem.
https://github.com/apache/incubator-mxnet/pull/14302

[2019-03-04 07:17] estarpro commented on #14306
@wkcn Here is the stacktrace
*** Error in `/home/cbd109/applications/anaconda3/envs/pyzhc27/bin/python': free(): invalid pointer: 0x00007fff473a2490 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7ffff6d5b7e5]
/lib/x86_64-linux-gnu/libc.so.6(+0x8037a)[0x7ffff6d6437a]
/lib/x86_64-linux-gnu/libc.so.6(cfree+0x4c)[0x7ffff6d6853c]
/home/cbd109/applications/anaconda3/envs/p

[2019-03-04 07:33] wkcn commented on #14306
Could you please print `img.shape`
it seems that `img.shape != (1, 3, 112, 112)`

[2019-03-04 09:32] JohnLee168 commented on #11458
Had dead lock problem too using c_predict_api.
I use 10 different PredictorHandles created by MXPredCreate() and for each PredictorHandle calling MXPredSetInput(), MXPredForward() and MXPredGetOutput() functions to inference in 10 threads, and after serval hours, I got dead lock in MXPredForward, MXPredSetInput or MXPredGetOutput.

[2019-03-04 09:47] BigBigWolf-AI opened #14316 "mxnet为什么不支持使用conda安装？"
tensorflow，pytorch都支持conda安装。支持conda安装，对于刚入门的小白来说其实非常好。因为无论是在Windows还是Linux下，都只需要安装显卡驱动就好了。不需要配置cuda和cudnn，因为使用conda install命令安装时，会自动将cuda和cudnn安装好。小白完全不用搞配置路径这些乱七八糟的东西。
最主要是，使用conda创建一个虚拟环境。不同虚拟环境下的conda和cudnn互不干扰，这样可以评估不同cuda版本的影响。而且，使用conda安装，可以将所有的依赖都一并解决，非常好呀。而且还能支持旧系统。更为可怕的是，就算安装CPU版本，也不需要安装MKL库，都是自动下载安装的。强烈建议mxnet增加对conda安装的支持。
可以参考一下conda版的tensorflow的强大之处：
https://www.anaconda.com/tensorfl

[2019-03-04 10:12] wkcn commented on #14316
感谢你的建议: )

pip可以在conda以及非conda环境下使用，pip安装MXNet仅仅需要一行指令。

可以使用conda创建一个虚拟环境，然后使用pip安装MXNet。而且anaconda自身已经带了numpy, opencv这些库了，不需要手动安装额外的库。

MXNet的mkl版本是可以直接使用，不需要安装其他东西的。CUDA版本也是安装好显卡驱动后直接可以使用。

[2019-03-04 10:26] dbsxdbsx commented on #13881
I got the same problem

[2019-03-04 10:47] HaichaoZhu commented on #14283
@leleamol I am not sure which part should I share, so I attached `config file` here.
[config.txt](https://github.com/apache/incubator-mxnet/files/2925990/config.txt)

[2019-03-04 11:09] estarpro commented on #14306
@wkcn Thank you for your reply.The output is (112,112,3).So there is nothing wrong with the picture shape.

[2019-03-04 11:16] mika-fischer opened #14317 "std::threads spawned by mxnet must catch all exceptions, otherwise the whole application will terminate"
## Description
If an exception is thrown and not caught in an `std::thread`, C++ will terminate the application. So in a proper library that must never happen. Therefore all threads spawned by mxnet must catch all exceptions and handle them somehow.

Currently (with the latest release, 1.3.1) this is not the case, leading mxnet to tear down our whole program...

For instance, in `threaded_engine_p

[2019-03-04 17:45] nswamy commented on #13949
Please reopen a new issue if you still face problems after pulling in the commit that @vandanavk suggested and we'll take investigate further.

[2019-03-04 17:45] ifeherva commented on #13563
I have an implementation already just need to ask tests and will PR.

[2019-03-04 17:53] #7853 closed

[2019-03-04 18:16] mahmoodn commented on #14233
Thanks for the reply.

[code]
Should I change all of them?
Also, should I run make or `pip install --user -e .` or nothing?

[2019-03-04 18:36] #14233 closed

[2019-03-04 19:12] access2rohit commented on #14263
Other Approaches tried:
1. ubuntu 16.04 GPU MXNet 1.4.x using Make, gcc 4.8 and g++ 4.8
USE_CUDA=1
USE_CUDNN=1
USE_LAPACK=1
USE_BLAS = openblas
USE_OPENCV=1
USE_CUDA_PATH = /usr/local/cuda
DEBUG=1
/usr/local/cuda -> /usr/local/cuda-9.0

2. ubuntu 16.04 GPU MXNet 1.4.x using Make, gcc 5.4 and g++ 5.4
USE_CUDA=1
USE_CUDNN=1
USE_LAPACK=1
USE_BLAS = openblas
USE_OPENCV=1
USE_CUDA_PATH = /usr/local/cud

[2019-03-04 19:25] ifeherva commented on #13563
See PR here
https://github.com/apache/incubator-mxnet/pull/14321

[2019-03-04 19:37] reminisce opened #14323 "[numpy] Change the existing infer shape and utility functions to use the new definition of unknown shapes"
### Problem
**Current defition of unknown shapes**
`shape.ndim() = 0` or any `shape[i] = 0`, for `0 <= i < shape.ndim()`.

should be changed to

**new definition of unknown shapes**
`shape.ndim() = -1` or any `shape[i] = -1`, for `0 <= i < shape.ndim()`.

**How to make changes?**
Always use util function `mxnet::op::shape_is_known(const mxnet::TShape&)` from https://github.com/apache/incubator-mxn

[2019-03-04 21:09] anirudhacharya commented on #14301
I can also confirm this issue, it happens only when `normalization-"valid"` and while executing the `Executor.backward` function call. For instance this sample code works fine -

[code]

So the bug is with the gradient calculation of softmax output when `normalization="valid"`

[2019-03-04 21:43] fhieber commented on #13862
I can confirm that the problem exists in 1.4.0

[2019-03-04 21:48] fhieber commented on #14301
@wkcn Sockeye can use 'valid' normalization in its SoftmaxOutput operator use, see [here](https://github.com/awslabs/sockeye/blob/2f44099cd4f488bd8d348d74e9ae85095f72501e/sockeye/loss.py#L112).
The failure you are observing for `test/unit/test_inference.py::test_topk_func` is related to #13862, which is an open problem.

[2019-03-04 22:23] reminisce opened #14327 "[numpy] Implement NumPy operators"
I made a list of operators that can be implemented using NumPy APIs. Most of the operators are extracted from the [D2L book](https://github.com/d2l-ai/d2l-en). I think we should prioritize these operators to benefit the wide audience of the book. Some operators, such as `one_hot` does not have the counterpart in NumPy. We can consider registering them under different namespaces than `mxnet.numpy`.

[2019-03-04 22:30] anirudhacharya commented on #13199
mxnet in general is not thread safe. You can accomplish the above using multiprocessing.

[code]

[2019-03-04 22:46] DickJC123 opened #14328 "The hardcoding of CUDNN_VERSION in ./ci/docker/runtime_functions.sh is out-of-date."
## Description
Here's a portion of runtime_functions.sh relating to the tensorrt build (which is built against cuda 10.0 and cuDNN 7.4.2):
[code]
The runtime environment for other builds also set CUDNN_VERSION to 7.0.3, and those builds are against cuda 9.1 and cuDNN 7.1.2.  It would be nice to have these env var settings fixed in a way that doesn't quickly become obsolete (or remove them if they

[2019-03-04 22:48] piyushghai commented on #14306
@mxnet-label-bot Add [Cuda]

[2019-03-04 22:49] piyushghai commented on #14327
@mxnet-label-bot Add [Feature request, Numpy]

[2019-03-04 22:50] piyushghai commented on #14323
@mxnet-label-bot Add [Numpy, Good first issue]

[2019-03-04 22:51] piyushghai commented on #14317
@mxnet-label-bot Add [Bug].

@frankfliu Can you provide an input over here to resolve this ?

[2019-03-04 22:51] piyushghai commented on #14328
@mxnet-label-bot Add [CI]

@marcoabreu Maybe you can help with this in the runtime_functions.sh file ?

[2019-03-04 22:54] piyushghai commented on #14309
@mahmoodn Can you provide a minimum reproducible code for it ?
We'll try to help you out here.

@mxnet-label-bot Add [Python]

[2019-03-04 22:55] piyushghai commented on #14304
@mxnet-label-bot Add [Build, CMake
]

[2019-03-04 23:02] wkcn commented on #14301
@fhieber Sorry that I overlooked it.
@anirudhacharya https://github.com/apache/incubator-mxnet/pull/14302 will address the problem.

[2019-03-04 23:05] piyushghai commented on #14316
@mxnet-label-bot Add [Feature Request]

[2019-03-05 00:11] lanking520 commented on #14291
@cbowdon Thanks for filing this issue. Please try to use our latest `1.4.0` package, it is statically linked most of the dependencies together.

[2019-03-05 00:18] wkcn commented on #14306
@estarpro
Could you please try mod.forward(Batch([mx.nd.array(img).transpose((2,0,1)).reshape((1,3,112,112))]))

[2019-03-05 00:27] szha opened #14329 "[Flaky] flaky test in test_operator_gpu.test_convolution_multiple_streams"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14324/3/pipeline#step-682-log-1293

@DickJC123

[2019-03-05 00:28] piyushghai commented on #14329
@mxnet-label-bot Add [Test, Flaky]

[2019-03-05 01:15] DickJC123 commented on #14329
Looking at this now.  The problem occurs during shutdown of the system when MXNET_ENGINE_TYPE=ThreadedEngine (so the ThreadedEnginePooled).  I'll first try to determine if it's related to the dual stream work, or whether it's just that the dual-stream PR, in expanding the meager testing of the ThreadedEnginePooled, uncovered an issue with it.

[2019-03-05 01:48] access2rohit commented on #14263
@mxnet-label-bot add [bug][build]

[2019-03-05 01:55] astonzhang opened #14330 "[RFC] Integrating the new MXNet website"
# About the new website

We heard of complaints and suggestions on the contents and UX of the MXNet website such as poor-quality tutorial examples and lack of feedback providing channel (e.g., https://github.com/apache/incubator-mxnet/issues/6493 and https://github.com/apache/incubator-mxnet/issues/12610). To make improvements on such, we propose to re-design the MXNet website.

The new website (W

[2019-03-05 01:57] astonzhang commented on #14330
@mxnet-label-bot Add [RFC]

[2019-03-05 02:27] xinyu-intel opened #14331 "A temp solution to enable GluonCV INT8 flow"
## Description
A simple method to launch int8 inference with gluon is that loading back a quantized JSON file and parameter as a SymbolBlock. However, SymbolBlock function is based on CachedOP which needs both forward and backward computing graph. So, some inference_only operators like quantized operators and subgraph operators cannot be loaded back. Below are the error logs:

[code]
A temporary s

[2019-03-05 02:32] BigBigWolf-AI commented on #14316
既然都是feature request了，那就再强烈建议mxnet支持一下意法半导体公司的STM32系列单片机，感觉未来在嵌入式前端这一块，会有很大的应用，而且意法半导体也推出了许多相关的产品。支持Keras，tensorflow，cntk都支持，就是不支持mxnet，这怎么行。
参考：
https://www.st.com/content/st_com/en/about/innovation---technology/artificial-intelligence.html

[2019-03-05 03:12] wkcn commented on #14316
@BigBigWolf-AI 这个是意法半导体公司做的模型格式转换。
现在可以把MXNet的模型以onnx格式导出，再导入支持onnx转换到意法半导体公司的模型格式的框架里，转出最终的模型格式。

[2019-03-05 03:13] lanking520 commented on #11926
After some tests, your problem can be solved through this:
[code]
It will actually bring you the right result you need. The weird thing is the Custom Operator that being registered is an object shared along in the same state. The state is used in the Symbolic graph as you used in here. When you have two ops are defined in the same state, they will share the same kwargs as the Engine would thought

[2019-03-05 03:14] BigBigWolf-AI commented on #14316
好方法，我怎么没有想到呢，66666666666~~~ @wkcn

[2019-03-05 03:28] wkcn commented on #14327
Great! I have the following questions.

Could you please provide an example to explain how to accept `NDArray` and `Symbol` inputs?

In detail, how to determine the type of inputs?

Slice and View (e.g. `reshape`) are the important features in NumPy, however current MXNet doesn't support non-contiguous tensor, and MXNet operators always return a copy. How to address the problem? For non-contiguous

[2019-03-05 04:21] DickJC123 commented on #14329
I believe I've isolated the problem.  I started by checking out the commit that introduced the dual stream facility and test (5f32f32e8).  I could run the test 20 times without failure.  I then examined behavior under the other 19 commits to master that were made since then.  The problem behavior first appears with:
[code]
I ran the test_convolution_multiple_streams test with the engine list prune

[2019-03-05 05:10] aashudwivedi opened #14332 "MXNet static library build results in error in centos, oracle linux and similar distros"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-03-05 05:36] perdasilva commented on #14187
Fixed by #14287

[2019-03-05 05:36] #14187 closed

[2019-03-05 07:02] estarpro commented on #14306
@wkcn Thanks a lot! This has bothered me for several days.But The picture is already (112, 112, 3), why does reshape work?

[2019-03-05 07:16] junrushao1994 commented on #14244
Hey, I did some research this weekend and am convinced it might be possible. So is it acceptable if we assume we are using coupes (instead of cython) @szha

[2019-03-05 07:20] Ian8888 opened #14333 "Predict of mx.mod.Module api problem"
I use predcit api in web(https://mxnet.incubator.apache.org/api/python/module/module.html).

I use ImageIter api reading image(It format has [index, label, path]),and mod.predict receive image data, but the predict result can't return label.

If I need know the label information to calculate the precision. What I can use?
(My label is 0 or 1 in image data)
(Example: first Image is label 0, via the

[2019-03-05 07:26] szha commented on #14244
@junrushao1994 could you elaborate on the consideration?

[2019-03-05 07:47] wkcn commented on #14306
@estarpro Because the shape of model input is (1,3,112,112).
Is there any error after changing the input?

[2019-03-05 08:14] #14301 closed

[2019-03-05 08:18] asheetal opened #14334 "R/mxnet/cuda 10.1 error with op.h Check failed"
Centos 7
R version 3.5.2
Cuda 10.1
mxnet checkout v0.5
gcc 7.3.1
config.mk is as follows

When I run the command

This is the error I get
Error: [16:14:42] /opt/mxnet/3rdparty/tvm/nnvm/include/nnvm/op.h:461: Check failed: p.second != plevel Attribute FListInputNames of operator CuDNNBatchNorm is already registered with same plevel=10

Stack trace returned 10 entries:
[bt] (0) /usr/lib64/R/library/

[2019-03-05 08:33] asheetal commented on #14334
Ah I found the problem. I was doing both keras mxnet backend as well as library(mxnet). I removed library(mxnet) this error went away

[2019-03-05 08:33] #14334 closed

[2019-03-05 10:04] dbsxdbsx opened #14335 "[MKLDNN] Question on installation and use of MKLDNN"
**Target**
I am trying to build mxnet from source to use with python and C++ on win10_64, and with MKL+MKLDNN as backbone.

I KNOW what I stated below may be TOO MUCH, but I do think these questions are representative, as I've googled A LOT before, and still not solved.

**Question on installation**
With the latest `CMakeList.txt` in mxnet source，I  see:
[code]
(Here, I know MKL  is the basic inte

[2019-03-05 11:40] estarpro commented on #14306
@wkcn Everything is fine. Thank you for your help.Now I can close this issue.

[2019-03-05 11:40] #14306 closed

[2019-03-05 12:15] dbsxdbsx commented on #14116
@Bumblebee1964 , and is especially annoying  when it pops up after 1 hours compiling!

[2019-03-05 17:46] piyushghai commented on #14331
@mxnet-label-bot Add [Quantization]

[2019-03-05 17:49] piyushghai commented on #14332
@mxnet-label-bot Add [Build]

@lanking520 , @zachgk Can you guys have a look at this issue perhaps ?

[2019-03-05 17:51] piyushghai commented on #14335
@dbsxdbsx Thanks for raising this question. For questions, please submit them on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow others to learn as well.

Thanks!

@mxnet-label-bot Add [Question, MKL, MKLDNN]

[2019-03-05 17:56] lanking520 commented on #14332
@aashudwivedi Nice try and thanks for working on this. I also find similar issue when trying Cent OS 7. The `libzmq.a` file is living in `lib64` other than the `lib` under `staticdeps`. You should change the `LD_LIBRARY_PATH` to resolve the issue or copying the content from `lib64` to `lib`.

Currently we are using `Ubuntu 14.04` to run this script, you can do with `Ubuntu 16.04` as well if you wa

[2019-03-05 17:57] piyushghai commented on #14333
@Ian8888 Can you shed some light on the model you are using ?
Specifically, what's the last layer of your model ? Is it Sigmoid or Softmax ?
In case you want to do a binary classification, you could use the softmax layer at the end to convert the output from your model to probability values, and based on that you can predict the class as being x or y ( Or 0 or 1 in your case ).

@mxnet-label-bot A

[2019-03-05 18:02] access2rohit commented on #14263
@mxnet-label-bot add [build]

[2019-03-05 18:39] reminisce commented on #14327
@wkcn

This can be achieved pretty similar to how `forward` is defined in `HybridBlock` by checking the input argument's type. However, per [our discussion](https://github.com/apache/incubator-mxnet/issues/14268#issuecomment-468393763), we are not going to expose numpy operator APIs accepting symbolic inputs (at least for the next three months) as it's the thing we want to deprecate in 2.0.

In fa

[2019-03-05 18:43] piyushghai commented on #14289
Seen here as well :

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14269/1/pipeline/273

[2019-03-05 18:48] piyushghai commented on #14289
There's another duplicate issue : https://github.com/apache/incubator-mxnet/issues/14329.

Suggest to close this one and carry the conversation on 14239.

[2019-03-05 18:53] junrushao1994 commented on #14329
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-14192/runs/5/nodes/273/log/?start=0

======================================================================
FAIL: test_operator_gpu.test_convolution_multiple_streams
----------------------------------------------------------------------

Traceback (most recent call last):

[2019-03-05 18:54] junrushao1994 commented on #14289
I am closing this issue and submitting this to #14329

[2019-03-05 18:54] #14289 closed

[2019-03-05 19:14] szha commented on #14329
Thanks, @DickJC123. Does it reveal an actual problem or is it specific to the CI environment? I'd prefer to see this fixed instead of reverting ASAN enforcement as that change fixed a number of other problems.

cc @arcadiaphy

[2019-03-05 22:31] DickJC123 commented on #14329
To debug this further, I checked out the ASAN PR commit, reverted my dual-stream PR, then reinserted the test_operator_gpu.py file version from that PR.  Then running the test_convolution_multiple_streams test multiple times generated segmentation violations and python 'double free' aborts (see below) on the ThreadedEngine only.  The test passes solidly when the ThreadedEngine is omitted.  I concl

[2019-03-05 22:36] junrushao1994 commented on #14244
The point is that we need transfer/share ownership of numpy's ndarray to mxnet's C++ backend, because we cannot guarantee the frontend object to exist forever.

Therefore, we need a customized deleter of MXNet's NDArray, aka calling something `Py_DECREF` of the numpy's ndarray object from the C++ backend - It is possible to implement the deleter via ctypes or cython, and then pass it to something

[2019-03-05 22:37] szha commented on #14329
@DickJC123 this plan sounds good. Thanks.

[2019-03-05 23:04] piyushghai commented on #13798
@jacksonxliu Did @leleamol 's suggestions help you out ?
If yes, please feel free to close the issue.

[2019-03-05 23:11] piyushghai commented on #11654
@jlcontreras Were you able to push a fix on the Jenkinsci repo for this ?

Please feel free to close the issue if this is fixed. I believe the right place to track this issue would be the jenkinsci repository, rather than MXNet repository.
WDYT ?

[2019-03-05 23:32] wkcn commented on #14327
@reminisce I see. Thank you!

[2019-03-05 23:37] piyushghai commented on #10883
@lovehuanhuan Did @kalyc 's suggestions help you out ?
If yes, please feel free to close the issue.

[2019-03-06 00:23] DickJC123 commented on #14329
Rather than open up a new issue to track any follow-up PR from @arcadiaphy  I thought it best to continue this one to keep the history.
My PR https://github.com/apache/incubator-mxnet/pull/14338 removes the ThreadedEngine from the engine list of the test_convolution_multiple_streams, but also enables easy testing of that problem case.  After the PR is merged, I would recommend that @arcadiaphy tes

[2019-03-06 01:37] #13829 closed

[2019-03-06 01:42] #14092 closed

[2019-03-06 01:44] ThomasDelteil opened #14340 "[bug] Bug in Gradient flow with backward(retain_graph=True) and split()"
See below code.

I get 4 different values for my gradient, when I should be getting the same (first one)

[code]
[[ 0.          0.          0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.        ]
 [ 0.          0.          0.

[2019-03-06 01:52] ThomasDelteil commented on #14340
replacing
[code]
with
[code]
works as expected, I'm thinking the bug might come from the split operator. @eric-haibin-lin

[2019-03-06 03:20] sleepwalker2017 opened #14341 "Is the mxnet-tensorrt integration available in C++?"
I see the doc here:
https://cwiki.apache.org/confluence/display/MXNET/How+to+use+MXNet-TensorRT+integration#HowtouseMXNet-TensorRTintegration-BaselineMXNetNetworkPerformance

Is this feature available in C++ or only for python users?

thank you !

[2019-03-06 04:26] stereomatchingkiss commented on #11769
os : win10 64bits
compiler : vc2015 64 bits update 3(this version cannot build with openBLAS, lots of link issue)
cuda : no cuda, cpu only
opencv : no opencv
mxnet version : 1.3.1(1.4.0 cannot compile on window, please read #14203 )

The mshadow.cmake generated by cmake under the folder 3rdparty\mshadow\cmake got command like this

[code]

After uncheck USE_MKLML_MKL I can compile mshadow with mkl

[2019-03-06 06:09] arcadiaphy commented on #14329
@DickJC123 OK. Let me find out the problem behind the threaded engine crash.

[2019-03-06 06:22] junrushao1994 opened #14342 "Ensure all usage of `ndim` to be 0-d tensor compatible"
EDIT: See also #14323.

After #14315, we should check all the occurrence of `ndim` to ensure they are used correctly in the semantics of 0-d tensor.

@reminisce @szha @eric-haibin-lin @zheng-da @yzhliu

# List of occurrence
## src/c_api
* [x] src/c_api/c_api.cc
* [x] src/c_api/c_api_common.h
* [x] src/c_api/c_api_symbolic.cc
* [x] src/c_api/c_predict_api.cc

## src/common
* [x] src/common/serializ

[2019-03-06 06:34] #14246 closed

[2019-03-06 06:57] reminisce commented on #14342
Also include all the infer shape functions of operators.
https://github.com/apache/incubator-mxnet/issues/14323

[2019-03-06 07:00] junrushao1994 commented on #14342
@reminisce Yep. I intentionally ignored `src/operator` in this list because there are too many occurrences in that list, and we should share efforts across these two things - logic and implementation

[2019-03-06 09:04] kohillyang commented on #13199
But unlike pytorch, it is not possible to optimize the network if using Process instead. I found a inconvenient way to solve it is to inference once before pushing it into sub-threads.

[2019-03-06 09:53] wkcn commented on #13199
@kohillyang

In my opinion, supporting multi-threading in Python will drop the performance, because we need to add locks to keep thread-safety.

I think it's better to use multi-process in Python, which has GIL and create a fake multi-threading. We could pass NDArray object through Pipe, e.g. [Gluon DataLoader](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/dataloade

[2019-03-06 09:55] stereomatchingkiss opened #14343 "Cannot generate op.h when build with mkl"
- os : windows 10 64bits
- compiler : vc2015 64bits update 3
- mxnet : 1.3.1

I write down the steps of building at [stackoverflow](https://stackoverflow.com/questions/55017740/mxnet-build-with-intel-mkl-always-throw-error-intel-mkl-fatal-error-cannot-loa), please read it until step 14 if you want to know the details.

I use python download from [here](https://www.python.org/downloads/) to generat

[2019-03-06 10:03] jlcontreras commented on #11654
Makes sense to move the discussion there, we are still unsure about how to fix it.

[2019-03-06 10:15] XinyuDu opened #14345 "Output inconsistency between mxnet model and converted onnx model"
## Description
The inference result of a converted onnx model is not identical with the original mxnet model.

## Environment info
Ubuntu 18.04
python 3.6
mxnet 1.3.1
onnx 1.2.1

## Mxnet model
The light weight (1M) gender-age mxnet model can be download [here](https://github.com/deepinsight/insightface/tree/master/gender-age/model)

## Converting script
The mxnet model has been successfully conve

[2019-03-06 11:40] kohillyang commented on #13199
@wkcn, Glad to see this issue is going to be resolved.
One case threading is needed is that when some operators is written by numpy, especially when the batch size is small, which is common in object detection. Using multi-threading can get a speed improvement of about 15% according to my test on 8x P40

Anyway, At least according to my test, mxnet has already supported the multi-threading trainin

[2019-03-06 13:22] wkcn commented on #13199
@kohillyang Thank you!
In Object Detection, do you mean that the proposal and proposal_target layers are custom operators, written by numpy, and using multi-threading to execute these NumPy operators parallelly can accelerate them？

[2019-03-06 13:31] pengzhao-intel commented on #14343
Thanks, I see you raise the issue in the gluon forum.
@xinyu-intel is looking for the issue and will reply to you soon.

[2019-03-06 13:42] pengzhao-intel commented on #14335
@dbsxdbsx really thanks for the usage of MKLDNN backend.
In general, the window supports of MKLDNN is not mature at now. Some workarounds are needed.
Sorry for the inconvenience. But we're working on the improvements.

@xinyu-intel @TaoLv  will help you with the specific questions and building issues.

[2019-03-06 14:01] fhieber commented on #13862
Oh thank you so much! This is quite hilarious - we relied on exploiting this undocumented behavior without knowing :)
For Sockeye this means that we can update to 1.4.0 immediately and make this exploit of range overflow explicit by using `shape=(sys.maxsize, y)` in our code instead of `shape=(-1, y)`. We rely on this functionality because we cannot infer the first shape value (batch size) in a Hy

[2019-03-06 15:29] aashudwivedi commented on #14332
I add the following lines in the script build_lib.sh before the line `>&2 echo "Checking linked objects on libmxnet.so..."`
[code]
for libname in $(ls staticdeps/lib64/*.a | xargs -n 1 basename)
do
    cp -fL staticdeps/lib64/$libname staticdeps/lib/$libname
done

cp -L /usr/lib64/libgfortran.so.3 lib/libgfortran.so.3
cp -L /usr/gcc-4.8.5/release/x86_64-unknown-linux-gnu/libquadmath/.libs/libquadm

[2019-03-06 17:46] lanking520 commented on #13989
@yuyijie1995 Close this issue for now due to the inactivity. Please feel free to reopen it if you are facing more problems with it.

[2019-03-06 17:46] #13989 closed

[2019-03-06 17:50] lanking520 commented on #13798
@jacksonxliu Close the issue for now. Please feel free to reopen if the problem persist.

[2019-03-06 17:50] #13798 closed

[2019-03-06 17:52] piyushghai commented on #14341
@sleepwalker2017 Thanks for raising this question. For questions, please submit them on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow others to learn as well.

Maybe @KellenSunderland Can help answer your question here.

Thanks!

[2019-03-06 17:52] piyushghai commented on #14341
@mxnet-label-bot Add [Question, TensorRT]

[2019-03-06 17:53] piyushghai commented on #14342
@mxnet-label-bot Add [Numpy]

[2019-03-06 17:53] piyushghai commented on #14342
@mxnet-label-bot Update [Operator]

[2019-03-06 17:54] piyushghai commented on #14343
@mxnet-label-bot Add [MKL, Build]

[2019-03-06 17:57] piyushghai commented on #14345
@mxnet-label-bot Add [ONNX, Bug]

[2019-03-06 17:59] lanking520 commented on #14316
@BigBigWolf-AI Currently, MXNet has static-linked most of the dependencies including opencv. You should be able to use it with only Python and pip installed. About the edge device support, MXNet support ARM based device and Raspberry Pi.

[2019-03-06 19:29] renganxu commented on #14047
Hi @ptrendx, could you give some guidance on the question in my previous post? Also what is"--dali-nvjpeg-memory-padding" used for? Will it have impact to the model accuracy?

[2019-03-06 19:44] ptrendx commented on #14047
Oh, sorry, I completely missed that comment.

How do you prepare you training dataset? The way we did it in our submission is shown e.g. here: https://github.com/NVIDIA/DeepLearningExamples/tree/master/MxNet/Classification/RN50v1.5#prepare-dataset

I don't see anything obviously wrong with the options you set. How does it look like when running on single machine (basically halve the lr parameter a

[2019-03-06 19:50] ThomasDelteil commented on #14340
in case you might have an idea @reminisce @piiswrong @sxjscience

[2019-03-06 19:58] anirudhacharya commented on #12128
The following code runs fine when run with `MXNET_ENGINE_TYPE=NaiveEngine`

[code]

I think we can close this issue unless the author still has pending concerns.

[2019-03-06 20:02] ThomasDelteil commented on #14340
F.split_v2 does not have this bug.

[2019-03-06 20:14] anirudhacharya commented on #8312
This bug is no longer reproducible. This can be closed.

[2019-03-06 20:36] anirudhacharya commented on #10393
can you share the .rec file that is throwing this error? It would be ideal if you could share a minimal .rec file that can reproduce the error rather than the whole dataset that you may be using.

[2019-03-06 21:16] anirudhacharya commented on #9166
@apeforest this is not a bug but a case of improper exception handling. Please update the labels.

[2019-03-06 21:18] apeforest commented on #9166
@anirudhacharya This is causing a core dump. I think it's a bug that needs to be fixed.

[2019-03-06 21:26] anirudhacharya commented on #9166
with the latest version of mxnet, the above command neither causes core dump or Segmentation fault.
When I try to pass `-1` as shape, I get the following stack trace.
[code]

Based on this, I think this issue can be closed.

[2019-03-06 21:29] apeforest commented on #9166
@anirudhacharya Thanks for checking this. Could you please help to update the exception with more meaningful message? Ideally, the user should know that negative number should not be used as dimension in this command.

[2019-03-06 21:36] apeforest commented on #14340
@ThomasDelteil
I ran it on CPU and didn't get core dump. Here is my output:

[code]

We also have a unit test to cover split operator with gradient:
tests/python/unittest/test_infer_type.py

[code]

[2019-03-06 21:40] aChatterjee13 opened #14349 "installed mxnet using pip install mxnet==1.3.1. Using numpy 1.14.3. But the import mxnet fails"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-03-06 21:48] piyushghai commented on #14349
@aChatterjee13 , we now have MXNet v1.4 as well on PyPi.
Is there any specific reason you are using v1.3.1 ?

Also, can you check the output of :

``` pip show mxnet ```

This will tell you the path where MXNet is installed. To me it looks like a path issue.

@mxnet-label-bot Add [Installation]

[2019-03-06 21:55] aChatterjee13 commented on #14349
v1.3.1 was already in the application. I even tried with the latest version. Was getting the same error.

pip show mxnet
Name: mxnet
Version: 1.3.1
Summary: MXNet is an ultra-scalable deep learning framework. This version uses openblas.
Home-page: https://github.com/apache/incubator-mxnet
Author: UNKNOWN
Author-email: UNKNOWN
License: Apache 2.0
Location: c:\users\achatterjee\appdata\local\program

[2019-03-06 22:12] ThomasDelteil commented on #14340
@apeforest

The test does not seem enough to actual test that backward is working, I would add a check on the values of the actual gradients.

Are you using a mkl version of mxnet?
Are you running the first example or the second? I get the bug on ubuntu with a GPU build and also on my max on CPU build:

[code]

[2019-03-06 23:25] wkcn commented on #14340
split has a bug, and it always concatenates the in_grad by dim 1.
However, it still has problem when I fix it.

[2019-03-07 01:02] stereomatchingkiss commented on #14343
Thanks, by the way, I build mxnet 1.3.1 with gpu and find out I can use gpu to do the inference task(with mxnet v1.3.1), but when I switch to cpu, it throw the same error again " Intel MKL FATAL ERROR: Cannot load mkl_intel_thread.dll."

Not sure which call in the forward function need this dll yet it can't find it.

[2019-03-07 01:48] Lizonghang opened #14353 "Will MXNet supports federated learning, like TensorFlow-Federated?"

[2019-03-07 03:16] #14199 closed

[2019-03-07 03:19] sleepwalker2017 commented on #14341
@Kellen Sunderland
Could you come and help ? thank you !

I also put this question on the forum:

https://discuss.mxnet.io/t/is-mxnet-tensorrt-integration-available-in-c/3399

[2019-03-07 03:19] sleepwalker2017 commented on #14341
@Kellen Sunderland
Could you come and help ? thank you !

[2019-03-07 04:45] ChaiBapchya commented on #14353
@mxnet-label-bot add [Feature request]

[2019-03-07 05:58] Ian8888 commented on #14333
The last layer is softmax.
I tried using data.label to get the label information.
Hope, the softmax result has mapping the label information.

[2019-03-07 07:46] BigBigWolf-AI commented on #14316
最新消息是mxnet需要按照cuda。意味着我的系统如果装了cuda 9，那么我就没有办法尝试使用cuda 10版的mxnet。更没办法安装其它支持cuda 10版本的框架。因为系统只装了一个cuda 9. 但是，如果mxnet搞得像pytorch那样使用conda安装时自动安装对应的cuda版本，就可以使用虚拟环境来隔开不同版本的cuda。
话说到这，想问一下，mxnet要使用cuda 10的话，是不是得手动编译安装？
最后：
@lanking520 Thank You！

[2019-03-07 07:57] wkcn commented on #14316
@BigBigWolf-AI 不需要自己编译。可用pip装mxnet-cu100或mxnet-cu100mkl

[2019-03-07 08:26] KellenSunderland commented on #14341
I use it from native code.  You can use the same API calls that python uses
if you're able to trace through that code.  There's only 3 or 4 relevant
calls.

On Wed, Mar 6, 2019, 9:53 AM Piyush Ghai <notifications@github.com> wrote:

[2019-03-07 08:57] Bumblebee1964 commented on #14343
Hi,

you need include the right folder of the Intel MKL software package on your PATH env. var. It is probably "C:\Program Files (x86)\IntelSWTools\compilers_and_libraries_2019.2.190\windows\redist\intel64\mkl" .

I do not have access to my develop PC to check.

Also, if you have configured OpenCV, you need to add the folder containing the binaries of this project to the PATH. Same for CUDNN suppo

[2019-03-07 09:19] stereomatchingkiss commented on #14343
No use, I copied every dll in that folder and put them into the same folder with the exe, but it still give me the same error

No, I don' need to build im2rec by myself, gluoncv installed by pip got that exe

CUDNN works fine, but cpu with mkl do not

It got lots of error because many arguments(learning rate and weigth decay of each functions) do not declare the type, I make them as mx_float manua

[2019-03-07 09:35] stereomatchingkiss commented on #14343
The libs I link to in my small program are opencv_world342.lib and libmxnet.lib, do I need to link with more lib?

ps : I build the mxnet without opencv, but my program use opencv to read the image

[2019-03-07 09:52] asmushetzel commented on #13862
PR #14356 will fix this.

[2019-03-07 10:18] kohillyang commented on #13199
Yes. Another case is that if some codes is written by Block rather than HybridBlock if some codes can hardly be packaged into a single Operator and asnumpy is called (sometimes because dynamic shape inference is almost impossible.).  In this case if more than one gpu are used and not using mult-threading, the network can not easily be paralleled.

Since dynamic network is becoming more and more po

[2019-03-07 12:39] chinakook commented on #14349
You can try to reinstall numpy again with pip from the **ORIGIN SOURCE**(i.e. not mirrors)

[2019-03-07 12:42] chinakook commented on #14333
Yes, it's normal. You should add a argmax layer on the top of the network to get the label

[2019-03-07 12:46] chinakook commented on #14294
You can try the models on [Gluon-CV](https://github.com/dmlc/gluon-cv). It's well tested with float16

[2019-03-07 12:57] adrianloy opened #14357 "[Bug] Batchnorm running_var behaves differently when using gpu vs. cpu"
I have the issue in my model that the running_var parameter of some batchnorm layers are NaN after my dummy forward pass to initialize the parameters. While debugging, I discovered that the value of the running_var depends on the context I use. I assume this is a bug, as a model should behave the same no matter which context is used. Here is a minimum reproducible example:

[code]

If I set num_gp

[2019-03-07 13:14] chinakook commented on #14228
Wrapping y with F.identity(y) on the outer network also works. I think **y**, the input tensor, it cannot be backward because it does not pass through any operator.

[2019-03-07 13:30] chinakook commented on #14228
I found another problem like following:
[code]

Error infomation:
[code]

[2019-03-07 14:28] wkcn commented on #14345
Thanks for your report!
We will check it.

[2019-03-07 14:34] Bumblebee1964 commented on #14343
If you use opencv to read the image, you might put the release folder of opencv in your PATH.
I got 1.3.0 without CUDA support but with MKL running on Windows 10 with CPP_PACKAGE.

Also I got 1.3.1 compiled (same errors) and running with both CUDA and MKL support a but my own program crashes without any warnings/log messages when I call NDArray::WAitall after calling the executor.

I did not attem

[2019-03-07 14:54] wkcn commented on #14357
I ever submitted a PR
https://github.com/apache/incubator-mxnet/issues/9216, which may be related to the issue.

[2019-03-07 16:01] stereomatchingkiss commented on #14343
Yes, I already put them into PATH. My solution is create a global_dll folder and add it into my PATH, this way I could switch different dll easier without adding too many PATH. Add so many PATH could cause some nasty troubles.

I did not use MKLML either, because the CMake file of mshadow will forced to use openBLAS

Thanks

Know your pain, guess I should give 1.3.0 a try. If things are like this

[2019-03-07 18:00] DickJC123 commented on #14329
I need to point out that a recently merged "op bulking" PR saw a segfault in either the NaiveEngine or the ThreadedEnginePerDevice.  I could not reproduce this on my internal machines after hundreds of trials.  I'm hoping that what @arcadiaphy learns in his follow-up work may have relevance past the ThreadedEngine problem.  See: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxne

[2019-03-07 18:13] #14181 closed

[2019-03-07 18:13] #14265 closed

[2019-03-07 18:16] piyushghai commented on #14291
@cbowdon Were you able to test it out on the v1.4.0 Scala jar from Maven ?

[2019-03-07 18:58] yuxihu opened #14358 "Memory builds up when creating size-zero NDArray in a loop"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-03-07 18:59] yuxihu commented on #14358
@mxnet-label-bot update [Bug, NDArray, CUDA]

[2019-03-07 19:05] yuxihu commented on #13951
The memory leak is related to the extra unused variable you passed into your RNN model but it is NOT specific to RNN. In your repro script, you created a size-zero ndarray in each loop which caused the memory leak.
[code]
However, since the size-zero ndarray is unused anywhere, it is a better code practice to create once outside the loop and use it throughout your training. The same change applies

[2019-03-07 19:13] aaronmarkham commented on #14330
I think there's some discussion to be had around how the APIs drill down. I have a proposed flow in the wiki than now fleshing things out a bit more. I think this flow could remove the need for a /guide folder as these are all under /api and the elements of "guide" are interwoven in every page.
https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=103089084

I've taken the tact followin

[2019-03-07 19:24] piyushghai commented on #14084
@xyzdcgan Were you able to resolve your issues ?

[2019-03-07 19:26] piyushghai commented on #14074
@jasperDD Were you able to re-generate the mean.bin files based on @Ishitori 's suggestions ?

[2019-03-07 19:30] piyushghai commented on #13999
@zhizec I followed the instructions to build MXNet and I did not face the error.
http://mxnet.incubator.apache.org/versions/master/install/windows_setup.html

Can you try following the steps for Build from Source on this page ?

[2019-03-07 19:37] piyushghai commented on #13800
@jlcontreras I see a PR merged that seems to have fixed this issue.
Do you think this issue is good to close now ?

[2019-03-07 20:02] perdasilva commented on #13800
@piyushghai should be fine to close ^^

[2019-03-07 20:30] piyushghai commented on #13288
Related PR got merged : https://github.com/apache/incubator-mxnet/pull/14313

@szha Is this issue good to close now ?

[2019-03-07 20:35] szha commented on #13288
Yes, thanks for the fix @daleydeng and @wkcn

[2019-03-07 20:39] piyushghai commented on #12428
@some-guy1 The other issue that you opened was fixed. (#12431) .
Do you think the fix for that fixed this as well  ?

[2019-03-07 20:39] vandanavk commented on #12205
@cchung100m will you be submitting the next batch of PRs for these fixes?

[2019-03-07 20:43] piyushghai commented on #14282
@IvyGongoogle Can you share the minimum reproducible script so that we can debug this issue ?

[2019-03-07 21:23] piyushghai commented on #14174
It's not related to Scala.
The errors on the Jenkins stage are at : Static Build CPU 14.04 Python, more specifically this :
[code]

[2019-03-07 21:23] piyushghai commented on #14174
@mxnet-label-bot Update [Python, Build, MKL]

[2019-03-07 21:32] #14268 closed

[2019-03-07 21:32] #14267 closed

[2019-03-07 21:36] aChatterjee13 commented on #14349
I tried to import mxnet in my local python promt which gives me the above error. But on my anaconda environment, the issue is not reproducible. Was working fine on the anaconda environment.
Manually compared the dependencies, in both the environments it is the same

graphviz<0.9.0,>=0.8.1
requests<2.19.0,>=2.18.4
numpy<1.15.0,>=1.8.2
chardet<3.1.0,>=3.0.2
idna<2.7,>=2.5
urllib3<1.23,>=1.21.1
certi

[2019-03-07 21:38] piyushghai commented on #14349
I don't think it's a dependency issue. It's most likely because pip install mxnet is installing the wheel file into the anaconda's environment, rather than the system's python env.

[2019-03-07 21:39] aChatterjee13 commented on #14349
**Do you see any issue with the path for this?**

[2019-03-07 21:40] piyushghai commented on #14349
Not with this path though.

[2019-03-07 21:41] piyushghai commented on #14349
Can you try and see what does ```which python``` output ?

[2019-03-07 21:48] piyushghai commented on #14229
@AmigoCDT Did you find an issue with the backward pass as well ?

[2019-03-07 21:49] aChatterjee13 commented on #14349
Python prompt:

C:\Users\achatterjee\Desktop>python --version
Python 3.6.5

C:\Users\achatterjee\Desktop>where python
C:\Users\achatterjee\AppData\Local\Programs\Python\Python36\python.exe

Anaconda prompt:
(base) C:\Users\achatterjee>where python
C:\Users\achatterjee\AppData\Local\Continuum\anaconda3\python.exe
C:\Users\achatterjee\AppData\Local\Programs\Python\Python36\python.exe

(base) C:\User

[2019-03-07 22:37] yuxihu commented on #13951
@yifeim After a little bit more digging, I think the issue is specifically related the usage of size-zero ndarray for your extra variable. If you just use mx.nd.array([1], ctx=context) as the extra variable in the loop of your repro script, you will not observe any memory leak. The true problem is creating size-zero ndarray in a loop.

[2019-03-07 22:41] ketranm opened #14360 "supporting matrix inversion and determinant"
Hi there,
I just wonder if we have any plan to support matrix inversion and computing determinant of a matrix in mxnet.
These functions are supported in PyTorch (i.e [torch.inverse](https://pytorch.org/docs/stable/torch.html#torch.det), [torch.det](torch.det), [torch.logdet](https://pytorch.org/docs/stable/torch.html#torch.logdet)) through [MAGMA](https://developer.nvidia.com/magma).

Thanks!

[2019-03-07 22:44] stephenrawls commented on #14360
+1

For example, these would be useful for these types of models:
http://www.aclweb.org/anthology/D07-1015
https://arxiv.org/abs/1702.00887

[2019-03-07 22:46] stephenrawls commented on #14360
@mxnet-label-bot Feature

[2019-03-07 23:02] yuxihu commented on #14358
We still observe the same issue after changing context from mx.gpu(0) to mx.cpu(0).

@mxnet-label-bot update [Bug, NDArray]

[2019-03-07 23:04] #13923 closed

[2019-03-07 23:19] lanking520 commented on #13836
@SamuelLarkin Close this issue for now. Please feel free to reopen it if you are facing more problems with it.

[2019-03-07 23:19] #13836 closed

[2019-03-07 23:20] lanking520 commented on #13800
Close this issue for now. Please feel free to reopen it if you are facing more problems with it.

[2019-03-07 23:20] #13800 closed

[2019-03-07 23:20] lanking520 commented on #12710
Close this issue for now. Please feel free to reopen it if you are facing more problems with it.

[2019-03-07 23:20] #12710 closed

[2019-03-07 23:38] lanking520 commented on #14174
@piyushghai Well, it both happened.

[2019-03-08 00:49] piyushghai commented on #14345
@XinyuDu I downloaded your model, and given the code snippet, I was not able to convert it to ONNX.
I got the following error : ```
TypeError: __new__() got an unexpected keyword argument 'serialized_options'```

[2019-03-08 01:09] anirudhacharya commented on #14317
@mxnet-label-bot add [Thread Safety]

[2019-03-08 01:14] leleamol commented on #13870
@hengdos I was trying to reproduce this issue on Mac and Ubuntu. But I was not able to invoke 'make' while building the 'transformer' with statically linked libraries. Can you please ensure that CMakelist.txt for static library is correct?
I will try it again as well.

[2019-03-08 01:21] wkcn commented on #13199
@kohillyang Hi! Could you please provide an example code to show how to run the operator written by numpy in parallel? Thanks!

[2019-03-08 01:22] yifeim commented on #13951
Very interesting. Thanks a lot for the insights!

[2019-03-08 01:40] leleamol commented on #14184
Hi @e8035669
The "op.h" file in cpp-package is automatically generated. It contains the function declaration (such as the "Symbol RNN ()" mentioned in this issue.) that are derived by parsing the libmxnet.so file.
Hence, it will not be
As per the documentation for the RNN operator, the "state_cell" parameter is only needed for LSTM network. However, due to the way how "op.h" is generated, it is no

[2019-03-08 02:18] AmigoCDT commented on #14229
@piyushghai yes, I use another similar customOP (Focal loss), it works well.
So the trouble is in my code. Two choices :
 1. gradient:  `gradient passing` or `gradient formulation`.
 2. I lose something in my script. If there is no fault at my gradient. The main error get this:  `mx.metric.EvalMetric`, Focal loss CustomOP also rewrite this class. But I do not know what does this do. I will find at

[2019-03-08 02:26] AmigoCDT commented on #14229
@piyushghai I think the error is in backward() or gradient passing. I find few user rewrite `mx.metric.EvalMetric`. This maybe not necessary.

[2019-03-08 02:51] wkcn commented on #13199
I see. There is only one thread to execute Custom Operator.
Did you modify `src/operator/custom/custom-inl.h` to support multi-threading?

[2019-03-08 03:25] e8035669 commented on #14184
Hi @leleamol
Thanks for your reply.
I have tried to pass a dummy state_cell symbol into it, But it will always fail to infer the shape.
So pass a dummy symbol cannot work.
The only way I can do is invoke RNN operator directly. I have tried this way, and it can work now.

[2019-03-08 03:29] #9166 closed

[2019-03-08 03:33] anirudh2290 commented on #12128
Closing since non-issue. @anirudhacharya can you please also check gluon and open a new issue if required.

[2019-03-08 03:33] #12128 closed

[2019-03-08 03:47] stereomatchingkiss commented on #14343
I guess I found the issue, you need to enable MKL_USE_ILP64(I am surprise it can compile even my pc only install MKL with 64 bits), else the mxnet will try to build with 32bits library, but the problem is when you enable that options, you will get tons of compile time errors.

[2019-03-08 03:52] anirudh2290 commented on #13265
Thanks for the great discussion! @JohnLee168 and @coolwebgo are you guys still seeing memory leak ? Can you provide a reproducible script for this.

[2019-03-08 03:56] stereomatchingkiss opened #14364 "Enable MKL_USE_ILP64 cause a lot of compile time errors on windws"
- os : windows 10 64bits
- compiler : vc2015 64bits update 3
- mxnet : 1.3.1

As the title mentioned, there are tons of compile time error when you switch this option on. I suspect without it, mxnet would build with mkl 32bits, which cause another issues happens, you can check the details from #14343, I write down the details at there

[2019-03-08 03:57] yuxihu commented on #14358
@mxnet-label-bot add [Backend]

[2019-03-08 04:51] stereomatchingkiss commented on #14364
I "fix" those compile time errors, but this do not solve the issue, because this time it pop out new errors when compile the app, the error message is

"..\..\3rdLibs\mxnet\build_cpu_1_3_1\install\include\mxnet-cpp/monitor.hpp(47): error C3861: 'MXExecutorSetMonitorCallbackEX': identifier not found"

I give up on using mxnet cpp-package on windows + cpu support, it is too painful to build it.

[2019-03-08 06:38] eric-haibin-lin commented on #14072
fixed in https://github.com/apache/incubator-mxnet/pull/14098

[2019-03-08 06:38] #14072 closed

[2019-03-08 06:40] eric-haibin-lin commented on #14257
#14278 fixes the stream used in the test. feel free to reopen if this issue happens again

[2019-03-08 06:40] #14257 closed

[2019-03-08 06:42] eric-haibin-lin commented on #14077
Added in https://github.com/apache/incubator-mxnet/pull/14171

[2019-03-08 06:42] #14077 closed

[2019-03-08 06:46] Ian8888 commented on #14333
Thanks, your suggest. I can get label to calculate.

But, I have the new issue about the "equal operate" in different type.

[code]

Have any api can compare this type or convert the same type?

[2019-03-08 06:53] eric-haibin-lin opened #14366 "Flaky test test_with_random_seed"
Appeared in https://github.com/apache/incubator-mxnet/pull/14321
See logs at
- http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-14321/6/pipeline
- http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14321/5/pipeline
[code]

[2019-03-08 07:45] perdasilva opened #14368 "test_operator_gpu.test_bulking failing on windows"
## Description
When re-enabling the windows pipeline (#14336), I found that test_operator_gpu.test_bulking is [not passing](http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-14336/9/pipeline).

I will disable the test in the PR. I've reached out to @DickJC123, the creator of the test.

[2019-03-08 09:13] XinyuDu commented on #14345
@piyushghai  The converting script runs successfully in my environment. I think maybe you should try `pip install -U protobuf` before converting the model.

[2019-03-08 09:42] kohillyang commented on #13199
I didn't modify src/operator/custom/custom-inl.h, but there can be more than one thread to excucte custom Operator. I mean, considering there are only one network, it has each individual copy on each GPU, so I think they can be treated several independent network when forwarding. And if we have n GPU, we execute n threads, one thread per one GPU,  to inference and back-propagate these networks. Th

[2019-03-08 09:43] sleepwalker2017 opened #14369 "mxnet build error: with flag USE_TENSORRT"
I'm working on ubuntu 16.04 and building mxnet from the latest source.

make -j USE_CPP_PACKAGE=1 USE_TENSORRT

here is the error list:

src/executor/onnx_to_tensorrt.cc: In function ‘nvinfer1::ICudaEngine* onnx_to_tensorrt::onnxToTrtCtx(const string&, int32_t, size_t, nvinfer1::ILogger::Severity, bool)’:
src/executor/onnx_to_tensorrt.cc:99:19: error: expected id-expression before ‘::’ token
   ::

[2019-03-08 09:59] stereomatchingkiss opened #14370 "Add travis build for different platforms"
Any plan to add travis build for different platforms? Right now mxnet/cpp_package on windows are broken(according to #14343, it is broken since 2 years ago), there are too many bugs when try to build/deploy. If there are travis build for different platforms, there are many bugs should be able to avoid when develop, unless the users could have more insight which platform they are able to build the

[2019-03-08 12:55] wkcn commented on #13199
@kohillyang
I submitted a PR to support multi-threading for Custom Operator, but I do not know how did you accelerate it without modifying custom-inl.h
Could you upload your code?

[2019-03-08 16:41] zeryx commented on #10567
@KellenSunderland would love to know more, this is very relevant to us.

[2019-03-08 17:41] piyushghai commented on #14366
@mxnet-label-bot Update [Flaky, Test]

[2019-03-08 17:44] piyushghai commented on #14364
@mxnet-label-bot Add [CPP, Windows, Build]

[2019-03-08 17:44] piyushghai commented on #14368
@mxnet-label-bot Add[Test, CI, Windows]

[2019-03-08 17:45] piyushghai commented on #14370
@mxnet-label-bot Add [Feature Request, Build]

[2019-03-08 17:46] ausk commented on #14116
Rebuild more than 5 times, building failed when run `OpWrapperGenerator.py`, finally locate to this issue.

[2019-03-08 17:51] piyushghai commented on #14369
@sleepwalker2017 Can you tell me a bit more information about your system ?

You can use this template :

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please provide:
1. Java version: (`java -version`)
2. Maven version: (`mvn -version`)
3. Scala runtime if applicable: (`scala -version`)

For R user, please provide R `sessionInfo()`:

[2019-03-08 17:51] piyushghai commented on #14369
@mxnet-label-bot Add [Build]

[2019-03-08 19:17] piyushghai commented on #14370
@marcoabreu Is this something we plan to do with Travis ? Or are the Jenkins CI testing out various platform sufficient for now ?

[2019-03-08 19:20] leleamol commented on #14184
Hi @e8035669 ,

I tried your example but instead of
`Symbol dummySym = Symbol::Variable();`
I initialized 'dummySym' as follows (default empty constructor of Symbol)
`Symbol dummySym;`
and it worked.
I obtained following output.
./rnn_example
Parameters:
    input: (1 1 4 )
    rnn_param: (27 )
    rnn_state: (1 1 3 )
Output size: (1 1 3 )
Input[0.2, 0.3, 0.4, 0.5, ]
Output [-0.816632, -0.89489, -

[2019-03-08 19:32] piyushghai commented on #14345
@XinyuDu Thanks I was missing protobuf.

So I was able to reproduce your issue.
I loaded both the models and found there is a difference in the layers in both of them.

I used ```mx.visualization.print_summary(symbol)``` to visualize the layers in the model.

Here's the one for MXNet only model :

[code]

Here's on that was converted from ONNX to MXNet :

[code]

The model summaries start deviatin

[2019-03-08 20:08] anirudhacharya opened #14371 "Links and References in Julia tutorials are broken"
The links and references in the two Julia tutorials are broken -
 - [MNIST](https://github.com/apache/incubator-mxnet/blob/master/julia/docs/src/tutorial/mnist.md)
 - [LSTM Sentence generator](https://github.com/apache/incubator-mxnet/blob/master/julia/docs/src/tutorial/char-lstm.md)

The links point to the old dmlc url.

[2019-03-08 22:30] andrewfayres commented on #10867
I've finally come up with a good fix for this.  I'll be submitting a PR shortly. I've run your test on my local laptop and am able to get through all passes without issue and memory looks stable. I've also fixed it so that this code can be wrapped in a ResourceScope block without it crashing.

I'm going to start up an instance to run the test over the weekend just to be thorough but everything's l

[2019-03-08 22:48] piyushghai commented on #14371
@mxnet-label-bot Add [Doc, Julia]

[2019-03-08 22:49] piyushghai commented on #14371
@anirudhacharya
Good catch. Can you perhaps also raise a PR to fix this ?

@mxnet-label-bot Update [Doc, Julia, Good First Issue]

[2019-03-08 22:57] anirudhacharya commented on #14371
@piyushghai I do not know the proper links and references. I was just trying to checkout mxnet's julia bindings and found the tutorial links were broken. The author of the tutorials might be able to fix it.

[2019-03-08 23:06] andrewfayres commented on #11926
I accidentally added the wrong issue id to the pr above. It doesn't have anything to do with this.

[2019-03-08 23:51] whamza15 opened #14373 "Passing parameters to HybridBlocks and not using them"
## Description
Not using variables in hybrid_forward() causes deferred initialization to fail. There is no requirement that one should use ALL passed input. I am not sure why it failed to infer the input shape for the dense layer.
It works fine without hybridize of course.
The reason we are passing input data to blocks without using them is because some subclasses uses them and we would like to un

[2019-03-09 00:03] piyushghai commented on #14373
Looks like a possible bug to me.
I'm labelling it so that the MXNet community can help resolve it.

@mxnet-label-bot Add [Bug, Gluon]

[2019-03-09 00:12] leleamol commented on #13861
@SOWENKIN
I tried reproducing this issue with mxnet =1.4. I am getting following results.  Can you share which results you were expecting?

0.291860
375.748474, 384.370605, 381.852356, 389.790405
Forward time: 276.461832ms

@mxnet-label-bot add [Pending Requester Info]

[2019-03-09 01:04] e8035669 commented on #14184
Oh! It works!
I really don't know mxnet. I should work hard on it.
Thank you guys.

[2019-03-09 01:04] #14184 closed

[2019-03-09 01:17] anirudh2290 commented on #14358
Nice catch !

[2019-03-09 11:25] wkcn commented on #14244
For the sharing from numpy to NDArray, we should use ctypes or weakref module add the inference of numpy object, and decrease the inference through NDArray::deleter.

For the sharing from NDArray to numpy, I think we can add a deleter attribute for numpy object.

[2019-03-09 12:47] hubutui opened #14374 "incomplete formula for correlation layer?"
Hi, I check https://mxnet.incubator.apache.org/versions/master/api/python/ndarray/ndarray.html#mxnet.ndarray.Correlation, and it seems that the formula of correlation is incomplete. According to FlowNet, it should be:
[code]
Also, adding FlowNet referrence to document may helps.

[2019-03-09 13:26] gigasquid commented on #10867
@andrewfayres Fantastic! Really excited about this 💯

[2019-03-09 16:17] LittleFatHero opened #14375 "beta.mxnet.io does not contain verification step for installation (新版官网没有验证安装过程)"
新版官网：beta.mxnet.io
该官网只有安装过程，没有说有验证过程，能否把验证cuda版mxnet是否安装成功的，以及mxnet-mkl版本是否安装成功加上？
PS：我知道旧版官网有验证过程，但是不是很明显，也得找的。特别是MKL版本的，得四处找才能找到，何不安装和验证都放在一个页面，改善大家的体验？

[2019-03-09 16:20] LittleFatHero opened #14376 "I failed to install the mxnet-mkl version on Windows 10"
OS ：Windows 10 professional
I installed mxnet-mkl version using the following command:

_conda create -n mxnet_mkl_env python=3.6
conda activate mxnet_mkl_env
pip install mxnet-mkl_

When I finished  the installation, I executed the following command in python environment：

An error occurred:

**Traceback (most recent call last):
File “”, line 1, in
File “C:\Users\sheep\Miniconda3\envs\mxnet_mkl\l

[2019-03-09 17:24] junrushao1994 commented on #14244
Agreed with @wkcn

[2019-03-09 19:19] Bleach665 opened #14378 "Win10 build error: gtest, no 'object' file generated"
System and tools: Win 10 x64 Enterprise 2016 LTSB, VS 2017 15.9.8, CMake 3.13, mxnet rev ed8307121ecb7d7f0717ccd080848f5b16dcf191.

Build configured via CMake gui. BUILD_TESTING flag was disabled.
Builded using msbuild tools:
`msbuild mxnet.sln /p:configuration=debug /m`

Error received:
`"C:\Lib\mxnet\prebuild_x64\mxnet.sln" (default target) (1) ->
       "C:\Lib\mxnet\prebuild_x64\3rdparty\googl

[2019-03-10 03:30] vincentJCE opened #14381 "mkl support problem, please solve it"
It seems mxnet has mkl support problem.
nvidia-docker pull mxnet-python: 1.4.0_gpu_cu100_mkl_py3.
It runs with mkldnn problem.
On the other hand, nvidia-docker pull mxnet-python: 1.4.0_gpu_cu100_py3, the verstion without mkl, the image itself is not correctly compiled. It says gpu support is disabled.

[2019-03-10 06:29] pengzhao-intel commented on #14381
@vincentJCE, could you provide the step to reproduce the issue and paste the error log?

@mxnet-label-bot add [build, MKLDNN]

[2019-03-10 06:32] pengzhao-intel commented on #14376
@juliusshufan could you help take a look?

@mxnet-label-bot add [Installation, MKLDNN, Windows]

[2019-03-10 07:27] antinucleon opened #14383 "MXNET_BACKWARD_DO_MIRROR is broken"
MIRROR feature is broken for a while. Is there any plan to fix this?

[2019-03-10 07:54] #11115 closed

[2019-03-10 07:54] #14157 closed

[2019-03-10 08:31] peterpaniff opened #14384 "try to train ssdlite mobilenetv2, encounter the error."
i follow the instrctions. The code below was added to  example/ssd/symbol/symbol_factory.py
    elif network == 'mobilenet_v2':
        image_shape = '3,224,224'
        network = 'mobilenet_v2'
        from_layers = ['relu6_1_expand', 'relu6_4', '', '', '', '']
        num_filters = [-1, -1, 512, 256, 256, 128]
        strides = [-1, -1, 2, 2, 2, 2]
        pads = [-1, -1, 1, 1, 1, 1]
        siz

[2019-03-10 08:58] stereomatchingkiss commented on #14370
I hope it is enough too, but it is not, there are many bugs when you try to build mxnet on windows, especially when you try to build with intel mkl, please check issues #14343, #14364

[2019-03-10 11:08] pengzhao-intel commented on #14335
+ @juliusshufan to track the windows related building issues

@mxnet-label-bot Add [Windows]

[2019-03-10 13:46] turtleizzy commented on #13949
I am facing similar issue when loading pytorch-densenet onnx model into mxnet. The error message reads:

`/usr/local/lib/python3.6/site-packages/mxnet/contrib/onnx/onnx2mx/import_onnx.py in _convert_operator(self, node_name, op_name, attrs, inputs)
     59         """
     60         if op_name in convert_map:
---> 61             op_name, new_attrs, inputs = convert_map[op_name](attrs, inputs, sel

[2019-03-10 19:55] zboldyga commented on #14360
@ketranm

Looks like inversion via Cholesky factorization is supported, and there's also an API handle for getting the inversion using that factorization:

https://mxnet.apache.org/api/python/ndarray/linalg.html#linear-algebra

potrf - get the Cholesky factorization (triangular matrix)
potri - calculate inversion
sumlogdiag - *may* be useful for calculating logdeterminant (my linear algebra is a l

[2019-03-11 02:00] pengzhao-intel commented on #14375
@wufengqian thanks for the great suggestions.
@TaoLv is working on the MKL documentation https://github.com/apache/incubator-mxnet/pull/14202

@mxnet-label-bot add [doc, questions]

[2019-03-11 02:01] pengzhao-intel commented on #14375
@juliusshufan

[2019-03-11 02:09] wufengqian commented on #14376
Hi,
    I also asked the same question in [discuss.gluon.ai](url) ,but it seems that no one know how to solve the problem in detail.

[2019-03-11 02:17] pengzhao-intel commented on #14376
Sorry, we don't check the forum frequently :(
BTW, please wait a moment because we are building the windows system inside now.

[2019-03-11 02:21] wufengqian commented on #14376
Building the windows system inside? I'm sorry but I am curious about that. What is the purpose ?

[2019-03-11 02:29] pengzhao-intel commented on #14376
To reproduce the problem on the Windows

[2019-03-11 02:35] dbsxdbsx opened #14385 "OpenCV 4.0 is currently not support on win10"
I try to build mxnet on win10_64. With the latest mxnet source code, and vs2017(changed to v14)  cuda(10.1)+cudnn+mkl+mkldnn+opencv4(prebuilt), then it raises an error after compiling about 15 minutes.
[code]
But everything is ok with opencv3.4.4(prebuilt).

[2019-03-11 02:38] hengdos commented on #13870
@leleamol hi, I have tested the following CMakelist.txt for static library on macOS Mojave 10.14.3.

[code]

The output is like this:
[code]

Thanks for your reply.

[2019-03-11 02:46] wkcn commented on #14385
Could you please provide the context of error message, and the code of c:\opencv\build\include\opencv2\core\cvstd_wrapper.hpp	45?

[2019-03-11 03:10] dbsxdbsx commented on #14385
for code in OPENCV4.0
[code]
the code at line 45 is
[code]

[2019-03-11 03:45] stereomatchingkiss commented on #14376
Any chances to add a travis build for windows(if you have enough of resources) like #14370 suggest?
One with mkl + cuda
Another one with mkl

This way whenever you commit the codes written on x platform(mac osx, linux etc), you can ensure your new codes do not break anything on windows.
It would be better if you add travis build for every platforms you plan to support, like opencv.

[2019-03-11 03:45] peterpaniff opened #14386 "train ssdlite mobilenetv2, enconter the name error"
raise ValueError('Cannot find output that matches name \"%s\"' % index)
ValueError: Cannot find output that matches name "mobilenetv20_features_relu61_relu6"

but i visualize the  pretrained mobilenetV2 structure, it does has the name.
![image](https://user-images.githubusercontent.com/6010392/54099213-0d412d80-43f3-11e9-91d6-4ccf30272969.png)

[2019-03-11 03:50] peterpaniff commented on #14384
i solve it myself

[2019-03-11 03:50] #14384 closed

[2019-03-11 03:53] #13862 closed

[2019-03-11 05:28] TaoLv commented on #14335
@dbsxdbsx could you post the steps for reproducing the build issue? Or typical steps for building mxnet from a Windows user perspective. I also sent an email to you for details.

Try to answer part of the questions:

It's possible to build MXNet with MKL/MKL-DNN from source. Please take a look at what we do in CI:
https://github.com/apache/incubator-mxnet/blob/master/ci/docker/runtime_functions.sh

[2019-03-11 06:53] dbsxdbsx commented on #14335
@pengzhao-intel @TaoLv , Actually, for the past several days, I've succeeded in build mxnet on win10 with FULL MKL+MKLDNN, and run it in python. But not yet in C++ because of issue #14116.
But what I did is  just too complicated as I modified a lot within mxnet cmakelist and some other files.

Now I am trying to clear and note everything useful during my compiling. Once it is done, I would post it

[2019-03-11 06:55] TaoLv commented on #14335
You're very welcomed to contribute them back to mxnet.

[2019-03-11 07:07] houweidong opened #14387 "problem in metric.update(0, record) when train with multi GPU"
I run the code on 9 2080TI(11G), 48CPU kernel and 256G memory
When i run the yolo3 code provided [here](https://gluon-cv.mxnet.io/build/examples_detection/train_yolo_v3.html) with single GPU, there is no problem. But when I tried to run code with multi GPU like this:
python3 --network darknet53 --dataset coco --gpus 0,2 --batch-size 16 -j 16 --log-interval 100 --lr-decay-epoch 80,90 --epochs 100 -

[2019-03-11 07:53] peterpaniff commented on #14386
I solve it myself

[2019-03-11 07:53] #14386 closed

[2019-03-11 07:55] peterpaniff opened #14388 "When i train ssdlite mobilenetV2, can not find the json file"
mxnet.base.MXNetError: [15:52:08] src/io/local_filesys.cc:199: Check failed: allow_null  LocalFileSystem::Open "mobilenet_v2-symbol.json": No such file or directory， but I DId place the file to the ssd/model folder

[2019-03-11 08:05] dbsxdbsx commented on #14335
@TaoLv @pengzhao-intel ，Finally, I made it.  Too exhausting! [link here](https://zhuanlan.zhihu.com/p/58918998).   Hope it is helpful.

[2019-03-11 08:06] peterpaniff commented on #14388
the path problem, I solved it by myself

[2019-03-11 08:06] #14388 closed

[2019-03-11 08:25] TaoLv commented on #14335
@dbsxdbsx Really nice summary! Will follow it and try to reproduce the issue.

[2019-03-11 08:43] #8312 closed

[2019-03-11 09:18] redbaron4 opened #14389 "Broken pip package mxnet-cu80 1.5.0b20190310"
The nightly build package for windows uploaded to pypi by the build bot on March 10 seems broken. The file https://files.pythonhosted.org/packages/9a/bc/ee216a4dbe1433d881906513768cf61f9d52c1f8dee133f69f99e1ee9ec7/mxnet_cu80-1.5.0b20190310-py2.py3-none-win_amd64.whl shows a size of 0 bytes on download when it should have 259MB size. The MD5 and SHA-256 checksums are also different.

This is causin

[2019-03-11 09:48] #14387 closed

[2019-03-11 11:39] dishaa19 commented on #4805
Hello @sxjscience , Can you please explain in detail how to call back second output? I am new to MXNet and getting confused with the different approaches available. I have used mx.sym.Group[output_layer, fc_layer]. I would like to get the output of fc_layer which is an intermediate layer to my network.
Please help..

[2019-03-11 11:48] cbowdon commented on #14291
@piyushghai I haven't yet found time I'm afraid. If you'd like to close the ticket and let me re-open it if 1.4.0 doesn't work that's fine by me.

[2019-03-11 11:53] wkcn commented on #14385
It is strange that there is no the flag c++11 for NVCC.

[2019-03-11 11:55] wkcn commented on #14385
I think it may be related with the compiler.

[2019-03-11 12:25] dbsxdbsx commented on #14385
@wkcn，but  how to deal with it with visual studio, since the whole comipling shoud be done under v14.

[2019-03-11 12:27] wkcn commented on #14385
Sorry that I do not know, and I do not have VS to reproduce it. Maybe someone could help you.

[2019-03-11 16:12] lupesko commented on #13951
Thanks for handling @yuxihu!

[2019-03-11 17:07] piyushghai commented on #14389
@marcoabreu Are you aware of any issues with the nightly publishing pipeline ?

@mxnet-label-bot Add [Windows, Pip]

[2019-03-11 17:54] lanking520 commented on #14291
@cbowdon Yeah, please reopen if 1.4.0 doesn't work

[2019-03-11 17:54] #14291 closed

[2019-03-11 19:14] lanking520 opened #14390 "Scala CustomOp design flaws"
Currently, Scala CustomOp designed not properly. It shared the data among all operators created based on it. It caused the problems that the latter operators overwrite the previous one if it defined later during the symbolic graph computing stage. To solve this problem, the data storage for CustomOp can be improved.

The problem is reported here: https://github.com/apache/incubator-mxnet/issues/11

[2019-03-11 19:15] lanking520 commented on #11926
@mdespriee Close this for now and link a new Issue to this since the problem seemed to be solved. Please feel free to reopen if problem persist or you would like to follow up. Thanks

[2019-03-11 19:15] #11926 closed

[2019-03-11 19:51] ddavydenko commented on #14256
@andrewfayres , please take a look.

[2019-03-11 20:45] ThomasDelteil opened #14391 "as_in_context() does not copy the gradient to the new context"
I think it should copy the gradient as well automatically?

[code]

[code]

[2019-03-11 21:04] haojin2 commented on #10387
Seems to happen again on my PR: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14359/7/pipeline. @marcoabreu @lanking520

[2019-03-11 21:20] lanking520 commented on #10387
This is something different, with strange value came from the op

[2019-03-11 21:24] vandanavk commented on #11914
@ssttevee could you paste the code snippet of the alternate approach that worked for you?

[2019-03-11 22:47] gigasquid opened #14394 "[Clojure] Mitigate outages of Origami Repository"
We had an outage of the Origami repo that the Clojure integration tests use. This issue is to discuss long term strategies of mitigating an outage in the future.

https://github.com/apache/incubator-mxnet/pull/14379

[2019-03-11 22:54] vandanavk commented on #14345
could you check the behavior with count_include_pad=True and with count_include_pad=False in Pooling. Based on info from https://github.com/apache/incubator-mxnet/issues/10194

[2019-03-11 22:59] andrewfayres commented on #14378
Thanks for the issue. Looks like a problem finding a 3rd party package. When you cloned the repo did you use the --recursive flag?

Here's a link to the [build from source instructions](http://mxnet.incubator.apache.org/versions/master/install/windows_setup.html#build-from-source) just in case.

@mxnet-label-bot add [Installation, Windows, Build]

[2019-03-12 01:47] YutingZhang opened #14396 "mx.nd.Custom not working in subprocess"
mx.nd.Custom gets stuck at subprocess.

The following code to replicate the error is from https://github.com/wkcn/MobulaOP/issues/40#issuecomment-471803878

[code]

`asnumpy` gets stuck due to `mx.nd.Custom`

[2019-03-12 02:07] rocknamx8 commented on #5163
I have the same problem with that. What's the mean of the id(e.g. n01440764) in front of the class name? And, how can I do to make my own synset.txt?

[2019-03-12 02:12] wkcn commented on #14396
I found that the custom operator has been `Engine::Get()->PushSync`, but it couldn't be executed. (forward and backward).

[2019-03-12 02:32] yajiedesign commented on #14385
This is a problem with opencv. look like it has been fixed at 4.0.1.upgraded to opencv 4.0.1 and try again.

[2019-03-12 04:24] wkcn commented on #14340
The bug couldn't be reproduced in this test case.
[code]

[2019-03-12 04:38] redbaron4 commented on #14389
It seems to be a PyPI issue because the file is correctly accessible from my home network. Apologies for this.

[2019-03-12 04:38] #14389 closed

[2019-03-12 05:42] lanking520 commented on #14378
@mxnet-label-bot  add [install]

[2019-03-12 06:03] dbsxdbsx commented on #14385
@oh~seems  I have to build opencv from scratch.

[2019-03-12 08:03] sleepwalker2017 commented on #14341
I'm sorry I don't quite understand. you mean you use this feature in C++ in native code? or in python?

If I want to use this feature in C++, I need to trace into the python-C++ calls  to see what apis python uses ?

[2019-03-12 10:54] Bleach665 commented on #14378
Yes, --recursive flag was used.
And just now I did reproduce this bug on another computer with same software.

[2019-03-12 11:24] zhreshold commented on #14396
I rekon there's a limitation of custom op with requires a global lock when executing the python custom op, and it might cause dead lock when combined with subprocess.

@eric-haibin-lin raising for expertise in engine part.

[2019-03-12 14:08] Cryptiex opened #14398 "AssertionError: wx and wy should be equal"
## Description
I am running the DeepIM implementation with MXNET as the backend. At some point the program always crashes and shows the error "_AssertionError: wx and wy should be equal_"

## Environment info (Required)
The system uses Ubuntu 16.04.

Error in CustomOp.forward: Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/mxnet/operator.py", line 987, in forward

[2019-03-12 14:43] juliusshufan commented on #14376
As a quick update, this issue can be reproduced with build from source on windows, with mkl+mkldnn,
will keep on the root causing. @pengzhao-intel @stereomatchingkiss

[2019-03-12 15:01] wufengqian commented on #14376
This problem really make me ,,,,a little upset, at so far I still didn't know how to fix the problem in a simple or understandable way .

[2019-03-12 15:04] wufengqian commented on #14376
I think the best way is the mxnet should add support to conda instead of  just supporting pip. Just like pytorch, there is no difference in windows and linux.

[2019-03-12 15:16] TaoLv opened #14399 "[Doc] Improve the document for MKL-DNN backend"
MKL-DNN backend is released with MXNet for several versions and in the recent 1.4.0 release we announced the brand new graph optimization feature and the INT8 quantization workflow for CPU based on MKL-DNN. With these features, users can get significant performance speedup for CPU deployment. But we also notice that there are quite a few issues about how to build and use MKL-DNN backend. So I thin

[2019-03-12 15:17] manasi198 opened #14400 "training own model to own data in pascal voc format"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-03-12 15:20] TaoLv commented on #14399
@pengzhao-intel @aaronmarkham

[2019-03-12 16:48] perdasilva opened #14401 "Nightly test fail: Python 2 and Python 3 tutorial tests"
## Description

Nightly tests for binaries failing against master.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/247/pipeline

Both Tutorial: Python 2 and Tutorial: Python 3 steps are failing with:

[code]

[2019-03-12 17:38] lanking520 opened #14402 "Scala arange Flaky test"
Currently, I received several reports from contributors about the failed test they got from CI:
[code]
Some problems appeared in the CI:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14365/7/pipeline/281

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14359/7/pipeline

Thanks @haojin2

[2019-03-12 18:27] andrewfayres commented on #14402
Likely related to #13816. I'm trying to reproduce it locally.

[2019-03-12 18:59] andrewfayres commented on #14402
Reproduces locally by increasing the number of iterations to 10k. Both of the tests that were added will intermittently fail. Looks like start isn't being passed to NDArray.arrange but it's a required parameter.

Tagging the author of the PR @kiendang for his input on this.

[2019-03-12 19:22] andrewfayres commented on #14394
@mxnet-label-bot add [Discussion]

What is it that we have a dependency on in the Origami repo and what do we use it for?

[2019-03-12 19:55] kiendang commented on #14402
Sorry. I'm taking a look at this.

The value of `stop` was passed to `start` in both tests. Those two tests were added to test situations where no value is passed to `stop` (`stop = None`). The intended behavior would be what happens when `start = 0`  and `stop = Some(<value passed to start>)` as whatever was , e.g `NDArray.arange(5)` should be the same as `NDArray.arange(0, Some(5))`.
https://git

[2019-03-12 21:58] zachgk opened #14404 "Gluon base.data_dir() being computed in docs"
In the documentation, we use base.data_dir() to refer to local directories for some functions including [the gluon vision cifar100 dataset](https://mxnet.incubator.apache.org/api/python/gluon/data.html#mxnet.gluon.data.vision.datasets.CIFAR100). However, sphinx processes it to an actual path when generating the function api reference - `/home/jenkins_slave/.mxnet/datasets/cifar100`. This could con

[2019-03-12 21:58] zachgk commented on #14404
@mxnet-label-bot add [Docs, Python]

[2019-03-12 22:32] satyakrishnagorti commented on #14256
@andrewfayres I found that even creating a GPU Tensor in pytorch first and then trying MXNet-Scala works fine after a system restart, but not the other way round. Does this seem like some cuda resource that is needed gets cached after using it via python and then gets available??

[2019-03-12 22:37] andrewfayres commented on #14256
That's what I'm leaning towards. I'm going to try and reproduce it in a few different places to see if I can narrow down the cause.

[2019-03-12 23:51] wkcn commented on #14398
The bug seems to be related to DeepIM，rather than MXNet.

[2019-03-12 23:57] junrushao1994 commented on #14323
@reminisce Will we PR to the numpy branch?

[2019-03-13 00:26] andrewfayres commented on #14398
@mxnet-label-bot add [Operator]

DeepIM has an [open issue](https://github.com/liyi14/mx-DeepIM/issues/24) for this.

[2019-03-13 00:31] andrewfayres commented on #14401
@mxnet-label-bot add [Test, Needs Triage]

[2019-03-13 00:31] andrewfayres commented on #14401
@mxnet-label-bot add [Need Triage]

[2019-03-13 01:47] anirudh2290 opened #14406 "resnet cpp-package test is broken"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14397/5/pipeline

after adding waitall support the resnet example is failing with cudamalloc out of memory error.

[2019-03-13 02:02] reminisce commented on #14323
@junrushao1994 Yes.

[2019-03-13 02:12] wkcn commented on #14406
I wonder the memory of GPU in CI.
The input shape is (50,3,224,224), which may triggers OOM.

[2019-03-13 02:14] wkcn commented on #14406
In addition, the model in cpp-package seems to be not convergent.

[2019-03-13 02:15] pengzhao-intel commented on #14399
It's great to improve the DOC for MKLDNN since we got lots of requests from both the community and outside customers.

@lupesko

[2019-03-13 02:38] anirudh2290 commented on #14406
I think its running on a p3.8xlarge which should be sufficient to run this test. @marcoabreu can you confirm.

[2019-03-13 02:40] anirudh2290 commented on #14406
yes i observed that too.

[2019-03-13 02:47] dbsxdbsx commented on #14385
@yajiedesign， I tried to build OPENCV4.0.1, indeed, now libmxnet.dll is built successfully, But Importing mxnet in python, it failed with opencv_world401.dll:
[code]
Interesting, when I put opencv_world344.dll with libmxnet.dll, it is working, though libmxnet.dll is compiled with opencv 4.0.1.

[2019-03-13 02:55] songziqin opened #14408 "Multi-threaded execution leads to high CPU load"
In my code , I have five threads, for each thread I have generate a Executor just as follows:
std::unique_ptr<mxnet::cpp::Executor> exec
 exec_.reset(network_.SimpleBind(ctx, args_,grad_store,grad_req_type));
but when I run the program,I found the cpu load is very high. I want to know  Whether each thread generates a separate Executor engine，and each Executor engine generate many threads. and
if I

[2019-03-13 03:03] wkcn commented on #14406
Since the input shape of ResNet is (3, 224, 224), so I resized the MNIST image (1, 28, 28) to (3, 224, 224).

[2019-03-13 03:10] junrushao1994 commented on #14323
#14409

[2019-03-13 03:24] sleepwalker2017 commented on #14341
@KellenSunderland hope for your reply ..

[2019-03-13 03:50] wkcn commented on #14391
`as_in_context` will return a new copied NDArray object, but it doesn't copy the gradient.
If you need to copy the gradient, `a.grad.as_in_context(ctx)` is okay.

[2019-03-13 05:04] wkcn commented on #14391
I think it Is not necessary to copy the gradient automatically, because the gradient is not used usually, it may be useless to copy automatically.

[2019-03-13 05:14] ThomasDelteil commented on #14391
I disagree I think it would make more sense to copy the gradient as well as the tensor. It doesn't make sense for them to be on different contexts?
Also a variable that had gradient attached after being moved does not have a gradient attached anymore, that seems clearly a bug to me?

[2019-03-13 06:08] pengzhao-intel commented on #14364
@TaoLv @juliusshufan

[2019-03-13 06:20] stereomatchingkiss commented on #14364
Found a way to build cpu version of 1.3.1 without anything related to mkl, you can check this [post ](cpu support)and #14380

[2019-03-13 08:07] wkcn commented on #14391
You are right. Let me think about a lazy method to return the gradient.

[2019-03-13 08:29] wkcn commented on #14391
Is it good to define the function def as_in_context(ctx, ignore_grad=True)?
Because sometime we do not need to copy the gradient, and I do not how to copy the gradient lazily.

[2019-03-13 08:40] wjbKimberly commented on #12082
mark. I want know that why add tanh to the last layer make STN works well.

[2019-03-13 09:00] perdasilva opened #14411 "Test failure TestStochasticTiming_2D"
# Description

cpp-package test  BATCH_NORM.TestStochasticTiming_2D failed. Possibly flaky.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/404/pipeline/

[2019-03-13 10:38] perdasilva opened #14414 "[Test Failure]: CI Static Build CPU 14.04 Python"
## Description

Static compilation for python step fails:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/416/pipeline

Seems to be around here:

[code]

[2019-03-13 10:50] perdasilva opened #14415 "[Test Failure] Clojure Integration"
## Description

Seems the scala package tests are failing the Clojure Integration tests on CI
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/405/pipeline

Seems related to #14402

[2019-03-13 10:54] perdasilva opened #14416 "[Test Failure] Clojure: CPU Integration"
## Description

Clojure: CPU Integration test is failed.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/405/pipeline

Seems related to #14402

[2019-03-13 11:11] perdasilva commented on #14416
Duplicate of #14415

[2019-03-13 11:11] #14416 closed

[2019-03-13 12:16] marcoabreu commented on #14406
We run on a g3.8xlarge

[2019-03-13 12:38] wkcn commented on #14406
Changing batch size to a smaller value will address the OOM issue.

[2019-03-13 12:52] kiendang commented on #14402
Found the issue. The reason is if the two compared arrays are both like [0f] and [0f] then `diff` and `norm` will be near 0 resulting in division by zero.
https://github.com/apache/incubator-mxnet/blob/6aa8c27a69cafc65eb97c4e077cb399462b617e2/scala-package/core/src/test/scala/org/apache/mxnet/CheckUtils.scala#L27-L32
Solution is if `diff` is near `0f`, i.e < `Float.MinPositiveValue` just return it

[2019-03-13 16:47] ThomasDelteil commented on #14391
If we are worried about breaking APIs, I think we could start with a `as_in_context(ctx, copy_grad=False)` to avoid a breaking API change but for MXNet 2.0 I would suggest to move to `copy_grad=True` which makes more sense to me.

[2019-03-13 17:09] ThomasDelteil commented on #14401
this PR introduced new warnings, warnings makes the tests fail tutorials https://github.com/apache/incubator-mxnet/pull/14214

[2019-03-13 17:47] ddavydenko commented on #14411
@mxnet-label-bot , add [C++, Test]

[2019-03-13 18:07] #14402 closed

[2019-03-13 18:11] lanking520 commented on #14174
https://github.com/apache/incubator-mxnet/issues/14414

[2019-03-13 18:11] lanking520 commented on #14174
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/416/pipeline

[2019-03-13 18:12] lanking520 commented on #14414
Close this one due to the duplicated flaky tests

[2019-03-13 18:12] #14414 closed

[2019-03-13 18:13] leleamol commented on #14406
@marcoabreu  There are no changes to the alexnet.cpp or cpp-package recently.
Are there any changes to underlying cuda or mxnet implementation.

These test were passing before.

[2019-03-13 18:14] ddavydenko commented on #14406
Did infra that these tests are run on have changed recently? It seems that the test would be running fine on p3.8xl but would fail on g3.8x (legacy hardware)... @marcoabreu

[2019-03-13 18:27] anirudh2290 commented on #14406
as i said this happened in waitall change. waitall earlier used to hide exceptions, but with the PR: https://github.com/apache/incubator-mxnet/pull/14397 it is thrown. These problems would have been there from before but surfacing now.

[2019-03-13 18:58] jmerkow opened #14421 "Updating mxnet from 1.0.0, networks give different outputs"
I am working in a production environment, where have some networks implemented in mxnet 1.0.0. I am working updating our systems and trying to push to the latest mxnet (1.4.x as of now) but when we upgrade our networks produce different outputs.
We are using symbols saved to json files and arg/aux_params stored in .params files. these were all produced by mxnet 1.0.0 or earlier.

When using the la

[2019-03-13 20:58] lanking520 commented on #14349
@aChatterjee13  It can happened in a way that pip does not linked to the python you used. Recommended to create a conda environment or pip environment to install and run mxnet. Please let me know if you are facing any problems by doing so.

[2019-03-13 22:45] leleamol commented on #14406
I tried these examples with the recent code change in "WaitAll()" on p2.16x instances and c5.18x instances. I did not see the crash.

However,  we still need to add missing exception handling in the example so that we can prevent the crashes due to unhandled exceptions.

[2019-03-13 23:44] anirudh2290 commented on #14406
hi @leleamol . to reproduce you will have to use g3.8xlarge. I was able to reproduce on a g3.8xlarge.

[2019-03-13 23:53] wkcn commented on #14406
Could someone please look the GPU memory used by the model?

[2019-03-13 23:57] anirudh2290 commented on #14406
the last i observed it was around 11GB. For now I am going to use smaller batch_size for tests and later @leleamol will revisit and improve the cpp tests.

[2019-03-14 00:15] andrewfayres commented on #14408
@mxnet-label-bot add [Performance, c++, question]

Adding labels for better visibility. You might try asking this question on https://discuss.mxnet.io/ instead. Questions there tend to get better visibility as github is primarily used to track issues.

[2019-03-14 00:16] andrewfayres commented on #14411
@mxnet-label-bot add [C++, Test]

[2019-03-14 00:18] andrewfayres commented on #14415
Yep, this was due to the Scala NDArray arange test failing. Going to go ahead and get this one closed.

@mxnet-label-bot [Clojure, Test, Flaky, Scala]

[2019-03-14 00:18] andrewfayres commented on #14415
@mxnet-label-bot add [Clojure, Test, Flaky, Scala]

[2019-03-14 00:30] andrewfayres commented on #14421
Do you have a sample model which can be shared to reproduce this? There is a backwards compatibility checker for models as part of the nightly pipeline. It trains models on earlier releases and checks for consistency on the latest builds. It's possible there is an edge case which is being missed.

@mxnet-label-bot add [Pending Requestor Info, Bug]

[2019-03-14 00:45] vandanavk commented on #12444
@mxnet-label-bot add [Symbol]

[2019-03-14 00:46] vandanavk commented on #10389
@mxnet-label-bot add [Exception Handling]

[2019-03-14 00:46] vandanavk commented on #10357
@mxnet-label-bot add [Operator]

[2019-03-14 00:49] anirudh2290 commented on #10389
Working on a PR for this

[2019-03-14 00:49] vandanavk commented on #10173
@mxnet-label-bot add [NDArray]

[2019-03-14 00:50] vandanavk commented on #9967
@mxnet-label-bot add [R]

[2019-03-14 00:52] vandanavk commented on #9624
@mxnet-label-bot add [Operator]

[2019-03-14 00:54] vandanavk commented on #9159
@mxnet-label-bot update [Feature Request, Symbol]

[2019-03-14 00:58] vandanavk commented on #8646
@mxnet-label-bot add [Operator]

[2019-03-14 00:59] vandanavk commented on #7664
@mxnet-label-bot add [Metric]

[2019-03-14 01:05] vandanavk commented on #4887
@mxnet-label-bot add [Distributed]

[2019-03-14 01:39] vandanavk commented on #14234
@mxnet-label-bot add [CI]

[2019-03-14 01:39] vandanavk commented on #14093
@mxnet-label-bot add [MKLDNN]

[2019-03-14 01:41] vandanavk commented on #13485
@mxnet-label-bot add [Converter]

[2019-03-14 02:00] wkcn commented on #14391
I'm worry `copy_grad=True` will drop the performance. Assume that it takes 1s to copy the data of a large tensor, it will takes extra 1s to copy the gradient.

[2019-03-14 02:19] anirudh2290 opened #14426 "mx.random.seed with ctx failures on a gpu build when run with cpu context"
Minimum reproducible example.
[code]

To reproduce, this will require the exception handling support for waitall in this PR: https://github.com/apache/incubator-mxnet/pull/14397 . This issue was found because of CI failures when running test_random.py on windows. It was hidden earlier because waitall didnt have exception rethrow support. This issue may have been around since the PR was added: #103

[2019-03-14 02:57] haojin2 commented on #13958
I'm running into this issue for #14359 too. Any updates?

[2019-03-14 03:13] ThomasDelteil commented on #14391
In what case would you not want to copy gradients that has been attached?
Most as in context happened on data without gradient, I only discovered the
bug on some niche use case that requires data with gradient attached.

If the data does not have gradient attached the runtime would be the same
since no gradient would need moving

On Wed, Mar 13, 2019, 19:00 JackieWu <notifications@github.com> wrot

[2019-03-14 03:36] juliusshufan commented on #14376
@wufengqian
Can you please try the below steps to make it works?
1. Download and install the latest full MKL version following instructions on the intel website. https://software.intel.com/en-us/mkl
2. Add the mkl dll path to Windows PATH, the local is similiar to: (X standing for the partition you installing the full MKL)
: X:\Program Files (x86)\IntelSWTools\compilers_and_libraries_2019.3.203\wi

[2019-03-14 06:41] pengzhao-intel commented on #14112
@juliusshufan

@mxnet-label-bot add [windows]

[2019-03-14 06:43] pengzhao-intel commented on #14093
Resolved by the latest master, so I am closing this issue.
Feel free to re-open if there is any other open issue.

[2019-03-14 06:43] #14093 closed

[2019-03-14 06:45] pengzhao-intel commented on #13881
@juliusshufan

[2019-03-14 06:49] pengzhao-intel commented on #13598
@danithace Tao has answered the question in the forum :) thanks to raising the question.

[2019-03-14 06:54] pengzhao-intel commented on #13221
@pengxin99 could you check this test again?

[2019-03-14 06:56] pengzhao-intel commented on #11906
The request features are implemented :)
Closing now. Feel free to reopen if there is another issue.

[2019-03-14 06:56] #11906 closed

[2019-03-14 07:44] kiranvarghesev commented on #1740
pip install numpy==1.15.0
Works

[2019-03-14 10:12] pengxin99 commented on #13221
@pengzhao-intel @ChaiBapchya
a quick reply, i use mxnet build from source (lasted version),

build code: ` make -j20 DEV=1 USE_MKLDNN=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDNN=1 USE_CUDA_PATH=/usr/local/cuda-9.0/
`

test seed set: `MXNET_TEST_SEED=1844955066
`

and got test ok as follows:

[2019-03-14 11:20] wufengqian commented on #14376
Thanks, but I'm sorry and I won't try this. Because my SSD's volume is small and the full MKL version is such a big guy,,,,,,,,,. And the most important thing is I think the mxnet should do the thing just like the pytorch does that just need one command that I can install all I need.

[2019-03-14 12:20] pengzhao-intel commented on #8532
The problem has been fixed with the latest numpy in conda.

Closing, feel free to re-open if there is any other issue.

[2019-03-14 12:20] #8532 closed

[2019-03-14 12:23] pengzhao-intel commented on #8974
We will add the doc according to https://github.com/apache/incubator-mxnet/issues/14399

Closing this one, feel free to reopen if there is any other issue.

[2019-03-14 12:23] #8974 closed

[2019-03-14 12:28] pengzhao-intel commented on #10724
@ThomasDelteil did you see the failure recently? We can't reproduce the issue for a long time.

[2019-03-14 14:06] aplusc98 opened #14429 "How to get the output of last layer after every batch as ndarray?"
I'm using the Mxnet implementation of Resnet by https://github.com/khetan2/mbem and https://github.com/tornadomeet/ResNet/
I'm using the resnet for a 10 way image classification.
I use a batch size of 500 and I want to perform a matrix operation on the output obtained after the last gully connected layer. I want to access the output as NDArray(batch X no of classes i.e. 500 x 10). Till now I'm get

[2019-03-14 14:16] stereomatchingkiss commented on #13958
I would like to know too, maybe you could try 1.3.1, unless it works on windows.
You could check [this blog](https://qtandopencv.blogspot.com/2019/03/build-mxnet-131-on-windows.html) if you want to compile 1.3.1 on windows, I have to warn you the journey of compile mxnet 1.3.1 on windows from source is not a pleasant one

[2019-03-14 15:06] brancoliticus opened #14430 "mxnet build from source in OpenIndiana OS fails during ninja build"
## Environment info (Required)
----------Python Info----------
('Version      :', '2.7.15')
('Compiler     :', 'GCC 6.4.0')
('Build        :', ('default', 'Aug 27 2018 20:01:47'))
('Arch         :', ('32bit', 'ELF'))
------------Pip Info-----------
('Version      :', '10.0.1')
('Directory    :', '/usr/lib/python2.7/vendor-packages/pip')
----------MXNet Info-----------
No MXNet installed.
---------

[2019-03-14 16:21] kohillyang commented on #13199
@wkcn
I have to admit that I was wrong. I have tried to write a small test case and I found it is absolutely impossible to run a same CustomOp in different threads. More worse, I found my program sometimes cashes if multi-threading is used.

Here is my test codes:

[code]

It cashes without any Exception and outputs.

[2019-03-14 16:23] kohillyang commented on #13199
if line `print("enter", x)` is not committed, it does not crash but the cpu usage is less than 100%, and the outputs are in order so I am sure that there is only one thread to execute CustomOP.

[2019-03-14 16:34] wkcn commented on #13199
Thanks for your report! I will check it.
I have closed the previous PR, since I found that it is too complex to support multi-threading. The issue is still considered.
There are some bugs when running MXNet on multi-threading or multi-process, e.g.
https://github.com/apache/incubator-mxnet/issues/14396

[2019-03-14 17:27] anirudh2290 commented on #14105
@reminisce numpy behavior seems to be inconsistent . For example
[code]
end = 0 returns the two element array till index 1. end = -1 instead of returning 3 element array returns empty array. Ideally it should return the three element array. Otherwise there is no way to include the 0th index with negative step.

[2019-03-14 17:33] brancoliticus commented on #14430
I redid the build by generating make files instead of ninja build files. In the compiler output there are two types of errors repeated and then a final error when the build stops. Below is the output of the make process:

[  0%] Building CXX object CMakeFiles/mxnet_static.dir/src/c_api/c_api.cc.o
In file included from /export/home/branco/mxnet/src/c_api/c_api.cc:32:0:
/export/home/branco/mxnet/inc

[2019-03-14 17:38] anirudh2290 commented on #14317
Currently exceptions are caught only if they are within operator execution since that covers most cases. However, we can add exception handling at other places, for example GPUWorker catch it and save it similar to the way it is done in ExecuteOprBlock and set the exception for the opr_block. Then the exception should be handled. @mika-fischer  Would you like to contribute the fix ?

[2019-03-14 18:05] mseth10 commented on #14105
Opened an issue with numpy for the same https://github.com/numpy/numpy/issues/13123

[2019-03-14 18:13] haojin2 commented on #13958
@stereomatchingkiss I actually only want my PR to pass CI instead of getting a local build. Thanks for your info all the same! @marcoabreu any updates on this issue?

[2019-03-14 18:23] szha commented on #14391
https://github.com/apache/incubator-mxnet/pull/14427#pullrequestreview-214315633

[2019-03-14 19:09] anirudh2290 commented on #14429
@aplusc98 Calling predict on model should return the outputs as ndarray. If you are using module API call get_outputs() in module API.

This question is more suited for discuss.mxnet.io and will get higher visibility. Github issues is mainly for tracking mxnet issues. Closing.

[2019-03-14 19:09] #14429 closed

[2019-03-14 19:13] mseth10 commented on #14105
According to numpy,
To include element 0, slice down to None, or just omit that bound.
[code]

[2019-03-14 21:47] leleamol commented on #14411
This test is not related to C++ API in cpp-package.

@mxnet-label-bot remove [C++]

[2019-03-14 21:56] leleamol commented on #13437
@aravindhv10
I was able to run your program.cpp under valgrind.  I did not notice any memory leak in "Backward()" call.
I also tried to monitor the RSS consumption and it was very steady after the initial epochs.
The RSS consumption also went down after invoking "MXNotifyShutdown()".

There was recent PR merged to fix the potential memory leak https://github.com/apache/incubator-mxnet/pull/14223/f

[2019-03-14 22:10] leleamol commented on #13312
Removing the C++ keyword as the question is related to custom operators and not the C++ API in cpp-package.

@mxnet-label-bot remove [C++]

[2019-03-14 22:36] leleamol commented on #14408
@songziqin
This is based on my understanding of C++ API.
It is possible to create Executor engine in one thread and share it across many thread. However, the executor engine will run the forward pass on only one input at a time.  That is, for a given input,  the following 3 operations should be performed atomically for the correct inference
1.  Setting the input for the Executor
2. Running the for

[2019-03-14 23:10] mseth10 commented on #14105
Closing this issue as the behavior is consistent with numpy.

Here is how we can get the element at 0-th index with MXNet NDArray.
[code]

Note: `None` needs to be given as part of a tuple.

[2019-03-14 23:10] #14105 closed

[2019-03-14 23:26] leleamol commented on #14406
@anirudh2290
I could reproduce this issue on p2.8 as well when I change the batch size to 100.
The example uses only one GPU. With batch size = 50, the GPU memory reaches 11GB.

[2019-03-14 23:40] andrewfayres commented on #14430
@mxnet-label-bot add [Build, Installation]

[2019-03-14 23:56] leleamol commented on #12159
Hi @xiaojingxie

The Executor->Forward() method performs more  tasks as compared to MXPredForward(). It invokes following 2 C APIs internally
MXExecutorForward()
and
MXExecutorOutputs()
where as MXPredForward() only runs the forward pass and does not retrieve the outputs.
In addition, the outputs of the forward pass are copied to the 'output' array in the Executor object, for faster retrieval late

[2019-03-15 02:58] ZHAIXINGZHAIYUE opened #14434 "could i set multi kv_store in distribute training program?"
could  i set multi kv_store in distribute training program?

[2019-03-15 05:07] aravindhv10 commented on #13437
Dear leleamol,

Thanks for checking this. I am extremely sorry, I was a but busy lately and could not get back to this quickly. I will check with the latest build of MXnet and get back to you as soon as possible, I agree  it may have been fixed in some of the patches, will confirm that it is solved as soon as I find time.
You can mark the issue closed, I will reopen / start another if I run into t

[2019-03-15 13:51] gigasquid commented on #14394
It is the Nexus repository for orgimani dependency of the some of the Clojure examples like this https://github.com/apache/incubator-mxnet/blob/master/contrib/clojure-package/examples/gan/project.clj#L21

@hellonico and myself are looking into ways to make it more robust.

[2019-03-15 16:40] IvyGongoogle commented on #14282
@leleamol @piyushghai  thanks for your reply.  You can get my reproducible example [here](https://github.com/IvyGongoogle/ocr-recognition).  Before you try it, hope you read `README.md` to see how to get it works.

Looking forward your reply and advises.
thank you very much~~~

[2019-03-15 16:43] leleamol commented on #13437
Thanks @aravindhv10  for your reply.

I will request committers to close this issue as per your suggestion.  Please feel free to reopen it.

Thanks.

[2019-03-15 17:07] #13616 closed

[2019-03-15 17:22] yongfang1995 opened #14437 "compile error"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-03-15 18:09] ifeherva commented on #14227
The bug seems to be related to the operator returning ndarrays with 0 shape

[2019-03-15 18:10] ifeherva commented on #14227
Considering there is work going on on adding zero-shape support, is there a need to fix this? If yes, I can do it.

[2019-03-15 19:35] anirudh2290 commented on #14396
Yes this is because of the dead lock in the subprocess. One way to fix this is to create a start and stop functions in CustomOperator, which should be called from pthread_atfork prepare and child handlers.
Using thread pool to manage CustomOperator threads would make the implementation cleaner. Anyone wants to try and create a PR for this ? @wkcn @arcadiaphy @YutingZhang ?

[2019-03-15 19:42] zjost opened #14439 "Recommender example is broken"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-03-15 20:10] Shumakriss opened #14440 "Seg fault during mxnet.Convolution() after reshape()"
## Description
I get a seg fault when reshaping before Convolution() even though the input appears the same.

## Environment info (Required)
macOS Mojave
Version 10.14.3
Processor Intel Core i7
Memory 16GB
Graphics Radeon Pro 455 2048 MB

diagnose.py output:
----------Python Info----------
Version      : 3.6.8
Compiler     : GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)
Build        :

[2019-03-15 22:57] ThomasDelteil commented on #14391
I can see @szha argument on that one, though I remain on the fence. However that's a niche use-case and I'm happy to go on the side of simplicity. To add a use-case to the conversation: when you want to differentiate the loss with respect to the input for example (DeepDream style visualization) and want to visualize the gradient. If you simply copy back the ndarray to the CPU, the gradient is not

[2019-03-15 22:57] #14391 closed

[2019-03-15 23:21] haojin2 commented on #14415
Saw this again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14359/13/pipeline. @andrewfayres Any updates on the fix for this?

[2019-03-15 23:31] andrewfayres commented on #14415
That's a different failure.

[code]

Looks like an issue with the origami repo. It had an outage last week and may be experience another one. There's an open issue about mitigating the clojure integ test reliance on this #14394.

[2019-03-16 02:16] haojin2 commented on #14124
Fix in #14445. Achieved ~80x speedup of both forward and backward on mentioned workload on GPU.

[2019-03-16 02:30] szha commented on #14124
Awesome job!

[2019-03-16 02:38] haojin2 commented on #12984
Working on it now...

[2019-03-16 02:55] wkcn commented on #14437
Could you please provide the error message?

[2019-03-16 02:56] wkcn commented on #14437
Please install cmake

[2019-03-16 03:39] yongfang1995 commented on #14437
Thank you
I instaledl cmake,and got the following error:
![image](https://user-images.githubusercontent.com/48436808/54470280-f37f5c00-47df-11e9-9560-47b40c7f9ce1.png)

[2019-03-16 03:43] TaoLv commented on #14437
Seems BLAS is missing. You need install either openblas or mkl and set USE_BLAS=openblas or mkl respectively in the make line.

[2019-03-16 03:45] TaoLv commented on #14437
BTW, you can follow this document to build MXNet from source: https://mxnet.incubator.apache.org/versions/master/install/ubuntu_setup.html#build-mxnet-from-source

[2019-03-16 04:13] TaoLv commented on #14440
Cannot reproduce the issue with the given example. I'm using below configurations:
- miniconda environment
- pip install mxnet-mkl==1.4.0
- CentOS 7

@juliusshufan Can you help to check it on Mac?

[2019-03-16 04:21] haojin2 commented on #14415
@andrewfayres Please address this ASAP as I'm experiencing another occurrence on my other PR here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14445/2/pipeline. Thanks!

[2019-03-16 04:25] anirudhacharya opened #14447 "Seg Fault while using Randomized relu activation function"
[code]

Using `rrelu` activation type of the `LeakyRelu` operator I either get a seg fault or it errors out with the following stack trace -
[code]

other activation types work fine.

[2019-03-16 04:58] andrewfayres commented on #14415
@haojin2 not related to this issue and I don't own this code

The CI failure you're seeing is due to clojure integ tests having a dependency on the origami repo which is apparently experiencing an outage. This happened last week and @gigasquid opened a PR (#14379) to disable those tests. The repo came back online before the PR got merged so she closed it instead.

I did go ahead and open a new PR