[2017-12-27 20:18] kalpitdixit commented on #9171
@szha
I tested CUDA 9.0.176 with cuDNN 7.0.3  and with cuDNN 7.0.5.
In both cases, the hanging problem happens.

[2017-12-27 21:01] bejjani commented on #9210
in order to bound it between 0 and 1 the cosine should be divided by 2
[code]

[2017-12-27 23:40] eric-haibin-lin commented on #9197
`Tensor<xpu, 2> labels ` is a 2-D tensor. labels[i][j] should return the `real_t` element at position (i,j)

[2017-12-28 00:03] eric-haibin-lin commented on #9193
@ptrendx

[2017-12-28 00:26] szha commented on #7960
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-28 00:26] szha commented on #7918
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-28 01:26] safrooze opened #9213 "Crash when MXNet API called before spawning multiprocess"
## Description
When any MXNet API is called before spawning new processes using python multiprocess, the main process crashes.

## Environment info (Required)
Python 2.7
[code]
Python 3.6
[code]

Package used: Python 2.7 and 3.6

## Error Message:
Most of the time:
[code]
Sometimes:
[code]

## Minimum reproducible example
[code]

## Steps to reproduce
Simply save the above code in a file and execu

[2017-12-28 01:27] ptrendx commented on #9193
@solin319 Could you try NCCL 2? NCCL 1 is no longer under  active development and could contain bugs.

[2017-12-28 01:43] safrooze opened #9214 "CTC example trains very slowly (~250 samples/sec)"
## Description
Running the lstm_ocr.py script in example/ctc doesn't train anywhere near the speed shown in the README logs. I get around 250 samples per second, while the example shows ~4200 samples per second.

## Environment info (Required)
[code]

Package used: Python 3.6

## Steps to reproduce
[code]

## What have you tried to solve it?
The bottleneck is the captcha image generation. I can ge

[2017-12-28 01:44] safrooze commented on #9214
@yajiedesign any thoughts on this?

[2017-12-28 03:19] szha commented on #9048
The problem should have been resolved in mxnet==1.0.0.post2. @leezu could you check and see if the post2 version fixes the problem for you?

[2017-12-28 03:21] szha commented on #8903
The problem should have been resolved in mxnet==1.0.0.post2, pending validation. This issue has the same resolution as 9048 so let's track the progress there.

[2017-12-28 03:21] #8903 closed

[2017-12-28 03:46] szha commented on #8977
pip version 1.0.0.post2 for cu80/cu80mkl/cu90/cu90mkl now supports nccl out of the box.

We will consider turning on USE_PROFILER once its performance impact is evaluated and considered tolerable.

[2017-12-28 03:46] #8977 closed

[2017-12-28 04:18] szha commented on #8859
This will be resolved in #9215

[2017-12-28 04:26] szha commented on #9185
@leoxiaobin We discovered that there's inconsistency between resnetv1 bottleneck versions in model zoo and the original paper. The imagenet accuracy for resnet50/101_v1 should be improved after #9215, as you can see the numbers there.

[2017-12-28 04:36] fedorzh commented on #9185
That's cool, but I was talking about the non bottleneck versions. The repository I pointed to used non-bonon-bottleneck for CIFAR

[2017-12-28 07:54] wkcn opened #9216 "Loss of Precision in BatchNorm and output_var may be wrong"
## Description
1. BatchNorm loses a little precision
2. the output_var in BatchNorm may be wrong

## Environment Info
OS: Arch Linux 4.14.8
MXNet: 1.0.0 and 1.0.1 (the latest version, CPU version)

## Build Config
make -j8 USE_OPENCV=1 USE_BLAS=openblas
***

Hi, there.

I converted [ResNet Model on Caffe](https://github.com/KaimingHe/deep-residual-networks) to [ResNet model on MXNet](https://githu

[2017-12-28 08:42] wkcn commented on #9207
I get the error:
[code]
I seems there is overflow on the struct Shape

[2017-12-28 12:26] szha commented on #7823
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-28 12:26] szha commented on #6857
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-28 12:26] szha commented on #5840
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-28 12:26] szha commented on #7862
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-28 12:26] szha commented on #2710
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-28 15:19] leezu commented on #9048
libmxnet is now linked against libgfortran.so.3 which is included in the pip package. So the problem is solved. Thanks @szha

[2017-12-28 15:19] #9048 closed

[2017-12-28 15:26] ly-atdawn commented on #9197
Why int int(labels[i][j]) or cout<<labels[0][1] in compiling is right, whils in performing is wrong?
And, Tensor<xpu, 2> labels, labels shape is (1, batch_size). so wo could get every label with labels[0][i]?? Is right??
Thanks

[2017-12-28 15:27] ly-atdawn commented on #9197
Why int(labels[i][j]) or cout<<labels[0][1] in compiling is right, whils in performing is wrong?
And, Tensor<xpu, 2> labels, labels shape is (1, batch_size). so wo could get every label with labels[0][i]?? Is right??
Thanks

[2017-12-28 16:31] helloniklas opened #9217 "Installing GPU support on Mac"
Anyone managed to install GPU support on macOS? I've got an eGPU running with NVIDIA card. Installed CUDA 9 with cuDNN (version 8 does not seem to run on macOS 10.13.2).

I've read some posts saying that CUDA 9 was supported from MXNET v 0.12.

Running a command like pip install mxnet-cu90 does not work though.

[2017-12-28 17:24] leopd commented on #2710
This is a feature request.

IMHO it's a feature we should add to mxnet.

[2017-12-28 19:32] szha commented on #9217
GPU version of osx is currently not supported through pip.

You can try to build from source. A while back I was able to build mxnet with cuda 8 on OSX.

[2017-12-28 19:35] helloniklas commented on #9217
@szha right, got you, thanks. So do you know if MXNET 1.0.0 in theory will support cuda 9 if I attempt to build from source.

[2017-12-28 19:38] helloniklas commented on #9217
Also, it seems Python can't be supported if building from source? https://mxnet.incubator.apache.org/get_started/build_from_source.html

[2017-12-29 00:26] szha commented on #8042
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-29 00:26] szha commented on #7956
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-29 00:26] szha commented on #4845
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-29 00:26] szha commented on #7445
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-29 00:26] szha commented on #7533
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-29 01:07] solin319 commented on #9193
Thanks, NCCL2 worked

[2017-12-29 01:08] #9193 closed

[2017-12-29 03:49] szha commented on #9217
Yes, mxnet 1.0.0 should support cuda 9 when building from source.

The build process is for building the shared object of mxnet, which is a dependency of the python language binding of mxnet. The python language binding doesn't require building so there is no doc listed.

[2017-12-29 06:12] eric-haibin-lin commented on #9211
Thanks for reporting this.
Supporting `last_batch_handle ` options other than `discard` with sparse matrix is on the TODO list. We'll support it after MKL concat operator is merged so that it properly returns a sparse matrix. For now probably we should add the missing error message
@ZiyueHuang

[2017-12-29 07:03] ZiyueHuang commented on #9211
Sure. Working on it.

[2017-12-29 08:10] jiagengliu commented on #3734
@pjmtdw Could you add the support for 1.0.0? Thank you!

[2017-12-29 09:34] yhl41001 commented on #9201
I have soved the problem by download the params again from another source.

[2017-12-29 09:34] #9201 closed

[2017-12-29 11:56] gzygzy9211 opened #9225 "Caffe_Converter produce mx.symbol.SoftmaxOuput rather than SoftmaxActivation"
incubator-mxnet/tools/caffe_converter/convert_symbol.py
According to the py code, it produce  mx.symbol.SoftmaxOuput  for caffe's  layer of type "Softmax"

However mx.symbol.SoftmaxOuput needs label and it computes gradient w.r.t to its input, which is not expected during inference.

So am I right that we should use mx.symbol.SoftmaxActivation while converting caffe's "Softmax" layer?

===========

[2017-12-29 11:56] #9114 closed

[2017-12-29 12:00] rlantz-cfa commented on #9114
Realized my error.  Specifically, the lines of the list file should be generated to something like:

`111 \t 4 \t 5 \t 400 \t 400 \t 0 \t 0.5 \t 0.5 \t 0.6 \t 0.6 \t path/to/file.jpg `

[2017-12-29 12:42] rlantz-cfa opened #9226 "Deferred Initialization Error after a forward pass"
## Description
I'm following the Gluon Tutorial, and am attempting to build a custom object detection model by modifying the code found [here]([http://gluon.mxnet.io/chapter08_computer-vision/object-detection.html]). (http://gluon.mxnet.io/chapter08_computer-vision/object-detection.html) After building out the architecture, I try running the training loop and end up with a Deferred initialization

[2017-12-29 15:41] helloniklas opened #9229 "Building from scratch on macOS 10.13.2 error 1"
Attempting to build MXNET 1.0.0 from scratch based on the osx.mk it eventually ends with an error

[code]

And before that loads of warnings...
[code]

I'm new to using make and building from scratch so I guess I might be missing something. I followed instructions at https://mxnet.incubator.apache.org/get_started/build_from_source.html

Using latest Xcode tools didn't work at all, so using Xcode8.

[2017-12-29 17:22] ToruHironaka commented on #7740
I got the same issue. I use CUDA=8.0. you should install mxnet cuda version by pip with the specific mxnet version number. You may have to uninstall current mxnet before installing below mxnet version.

pip install mxnet-cu80==0.11.0

https://mxnet.incubator.apache.org/get_started/install.html

[2017-12-29 17:32] Rizhiy commented on #5580
@Oh233 How do I do that in python3?

[2017-12-29 17:47] sxjscience opened #9253 "Numpy Diag in MXNet"
Borrow from https://discuss.gluon.ai/t/topic/3846.

We can consider to implement `np.diag` in the future.
https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.diag.html

[2017-12-29 18:43] dingran commented on #9211
Hi @eric-haibin-lin, by the way, I have a related observation regarding sparse. It seems as though the operator is slower (less optimized?) compared to handling dense matrix, at least on GPU.

I don't have a simple example readily available, but you can take a look here https://github.com/dingran/nvdm-mxnet/blob/master/nvdm.ipynb

In cell [3], the flag `use_dense` controls whether to use sparse or

[2017-12-29 21:00] jrzaurin commented on #8132
Hi there

I am on `Ubuntu 16.04.3` using `conda 4.4.2` and `Python 2.7.14`

I see the same error even after

[code]

Any news on how to solve this?

[2017-12-29 22:33] leo-gan opened #9255 "nd.random_normal(0, **0**)"
if scale=**0** (it is 1 by default), the function random_normal is hanging up without error indefinitely in Jupyter Notebook. Python 3.5

[2017-12-29 23:26] szha commented on #8132
@jrzaurin This bug should have already been fixed by the PR mentioned above. Which version of mxnet are you using? Would you be able to upgrade to 1.0?

[2017-12-29 23:49] jrzaurin commented on #8132
@szha

In fact I am using

[code]

which I installed via:
`pip install mxnet-cu80==0.11.0`

(opencv and graphviz where already installed)

I upgraded to `cuDNN v6.0` but I doubt that has something to do (?)

Overall: `Ubuntu 16.04.3`, `conda 4.4.2`,  `Python 2.7.14` and `mxnet 0.11` and I see the same message (I am running it as I write and is there) and it runs very very slow on a tiny dataset (S

[2017-12-29 23:53] szha commented on #8132
The latest version of mxnet is mxnet-cu80==1.0.0.post2. Would you be able to try out this version?

[2017-12-30 00:14] sxjscience commented on #9255
@leo-gan Which version of MXNet are you using? I've checked tried the code in the latest master version and it raises this error:

[code]
which look reasonable.

[2017-12-30 00:18] sxjscience commented on #9216
What's the result if we use this line instead: https://github.com/wkcn/test_mxnet_bn/blob/master/compute.py#L15. I think it may be the same as the MXNet version. Also, the rel_error is relatively small and should not be a problem.

[2017-12-30 00:26] szha commented on #5748
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-30 00:26] szha commented on #5815
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-30 00:26] szha commented on #7826
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-30 00:28] jrzaurin commented on #8132
@szha

Hey thanks!

I did not know about the `mxnet-cu80==1.0.0`, updated on my p2 instance (Tesla K80) and my mac and the message is gone, so I assume that problem solved 👍

Still runs very slow. I am reading a book and they claim : _"A single GPU will be used to fine-tune VGG on the Stanford Cars dataset as epochs will only take ~11 seconds"_

but in my case:
[code]

which is a bit extreme.  How

[2017-12-30 00:40] leo-gan commented on #9255
it's the last version of MXNet.

...
mxnet-cu80 (1.0.0)

Regards,

Leonid Ganeline
Microsoft MVP (BizTalk Server & Microsoft Integration & Microsoft Azure)
http://geekswithblogs.net/leonidganeline/

On Fri, Dec 29, 2017 at 4:14 PM, Xingjian Shi <notifications@github.com>
wrote:

[2017-12-30 02:18] zhreshold commented on #9185
@fedorzh Could you share the minimal training script to reproduce the different result from gluon/resnet_symbol? I just found some subtle difference between them and would like to know if that's the reason.

More specific,
- you have to use `thumbnail=True` for cifar10
- gluon model use `center=False` for the first batchNorm layer, which it's True for symbol version.

[2017-12-30 02:18] lucidfrontier45 opened #9257 "No padding idx arg in gluon.nn.Embedding"
How can I do equivalent for PyTorch's `padding_idx` or Chainer's `ignore_label` in gluon's Embedding?
http://pytorch.org/docs/master/nn.html#torch.nn.Embedding
https://docs.chainer.org/en/stable/reference/generated/chainer.links.EmbedID.html#chainer.links.EmbedID

I don't see any similar argument in gluon doc.
https://mxnet.incubator.apache.org/api/python/gluon.html#mxnet.gluon.nn.Embedding

Thank

[2017-12-30 02:23] javelinjs commented on #9229
It should have been fixed by https://github.com/apache/incubator-mxnet/pull/9256
Keep this open since we haven't figured out why it was not caught by CI build.

[2017-12-30 02:28] szha commented on #9229
Verified that #9256 fixed the problem on my end

[2017-12-30 03:06] lightingghost opened #9258 "How to define a variable that is not trainable?"
When defining a variable in tensorflow, it is possible to set `trainable=False`.

Is is possible to do so in mxnet? for both `symbol` and `ndarray` APIs?

Thanks

[2017-12-30 04:45] kohillyang opened #9259 "Shared memory leak when using mxnet.gluon.data.DataLoader"
## Description
I found there may exists shared memory leak in mxnet.gluon.data.DataLoader

## Environment info (Required)
Python 2.7.13 , Anaconda
Nvidia-docker Cuda-8.0
mxnet-1.0(installed from pip)

## Minimum reproducible example
[code]

## Steps to reproduce

This code dead after some time, I found the reason is shared memory usage is increasing when running this code, but if I set num_works t

[2017-12-30 05:34] wkcn commented on #9216
@sxjscience If using the line 15th, the result will be the same as that of MXNet.

The rel_error is relatively small.

However, there may be **a bug**.

The [documents](https://mxnet.incubator.apache.org/api/python/symbol/symbol.html?highlight=batchnorm#mxnet.symbol.BatchNorm) said that
output_mean_var (boolean, optional, default=0) – Output All,normal mean and var

https://github.com/apache/incub

[2017-12-30 05:53] sxjscience commented on #9216
Looks like a bug, I'm not sure. @piiswrong @cjolivier01

[2017-12-30 08:52] ZiyueHuang commented on #9182
working on FTML

[2017-12-30 09:31] pjmtdw commented on #3734
@jiagengliu
Yes, I'was struggling to support it. but got stuck a little bit according to compile error. Maybe takes time.

[2017-12-30 10:41] helloniklas commented on #9229
I can confirm I can now build this on my Mac. Many thanks.

[2017-12-30 11:08] JSP21 opened #9261 "computing gradients during backpropagation: How to get gradients of the cross entropy loss w.r.t softmax function in resnet during backpropagation?"

[2017-12-30 12:26] szha commented on #7958
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-30 12:26] szha commented on #6272
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2017-12-30 15:13] kohillyang commented on #9259
This problem also exists in my notebook.

[code]

after some time , the output of `df -h` is
[code]

[2017-12-30 18:48] szha commented on #9229
Thanks @javelinjs for the quick turnaround.

[2017-12-30 18:48] #9229 closed

[2017-12-30 18:49] eric-haibin-lin commented on #9211
@dingran I’ll take a look at your notebook shortly

[2017-12-30 21:25] kice opened #9264 "Some questions about gluon"
I want to do this by using list `self.conv.append(nn.Conv2D())`, but it does work.
Can someone give me a suggestion for this case? I have on idea for it.

The network is created with skip connections.

<pre><code>
class Layer(nn.HybridBlock):
    def __init__(self, depth=15, channels=3, **kwargs):
        super(Layer, self).__init__(**kwargs)
        self.depth = depth

        self.conv01 = nn.Co

[2017-12-30 21:42] sxjscience commented on #9264
@kice We cannot use list to store Blocks because they will not be registered correctly. You may refer to this PR for more information https://github.com/apache/incubator-mxnet/pull/9148.

One solution to this problem is to use Sequential or HybridSequential as a container to the Conv Layers. For example:
[code]

@szha @piiswrong In PyTorch, there is an additional ModuleList object (http://pytorch.

[2017-12-31 04:22] szha commented on #9264
It might have been nice if we adopted the list interface with `append` and `extend`. Given that the only missing functionality is the equivalent of `list.extend`, I think the added value of adding BlockList is only marginal.

[2017-12-31 06:42] charleshm opened #9266 "something wrong with SparseEmbedding?"
I wrote a embedding version of fm, but got bad results. I checked my code several times,  didn't find any bug. anybody help check it ?

`    """ builds factorization machine network with proper formulation:
    y = w_0 \sum(x_i w_i) + 0.5(\sum\sum<v_i,v_j>x_ix_j - \sum<v_iv_i>x_i^2)
    F : field_size
    K : factor_size
    """
    x = mx.symbol.Variable("data") # None * F
    # 交叉项权重: D * K

[2017-12-31 12:31] ly-atdawn commented on #9197
Help

[2017-12-31 12:59] CoinCheung opened #9267 "compiling from source failed"
## Description
I try to compile the c++ api from the source code and met some error about cuda

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using C++.)

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc

MXNet commit hash:
e4128ec76f919db46d5f401b411283cab0635e29

Build config:
[code]

## Error Message:
[code]

## Min

[2017-12-31 18:57] eric-haibin-lin commented on #9266
What are you comparing to? What optimizer are you using?

[2017-12-31 20:29] helloniklas commented on #9217
@szha thanks, can confirm it all works, running macOs 10.13.2 with Cuda 9.1 and cuDNN 7 on a MacBook Pro with Sonnett ePGU and GeForce 1080 gpu.

Training the lenet example takes 36 seconds now vs. 14 minutes and 11 seconds on cpu.

[2017-12-31 20:42] #7956 closed

[2018-01-01 01:50] charleshm commented on #9266
adam, the model didn't converge.  I first wrote fm using tensorflow, it's ok.  but in mxnet, using SparseEmbedding, it didnt converge; using Embedding, it started to converge , but the result was unexpected.

[2018-01-01 01:56] eric-haibin-lin commented on #9266
I see. Are you using CPU / single GPU / multiple GPUs?
One thing to notice is that our Adam optimizer by default performs lazy update if it sees sparse weight & sparse grad, which is similar to tf.LazyAdamOptimizer and behaves different from standard Adam optimizer. https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer.py#L675-L688

There're some effort supporting standard u

[2018-01-01 04:51] ZiyueHuang commented on #9266
Sure. Standard Adam update is on my list. Will work on it later.

[2018-01-01 08:13] nehaljwani opened #9271 "Windows: Python prompt gets stuck on exit()"
## Description
Python prompt gets stuck on exit() after importing mxnet

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
[code]

## Minimum reproducible example
[code]

[2018-01-01 08:23] nehaljwani commented on #9271
If I comment out `atexit.register(_notify_shutdown)` at https://github.com/apache/incubator-mxnet/blob/1.0.0/python/mxnet/base.py#L394 the problem goes away. Of course, that's just a workaround.

[2018-01-01 10:05] NonvolatileMemory opened #9272 "a typo in doc "nd.sum""
`data = [[1,2,0],
        [3,0,1],
        [4,1,0]]

csr = cast_storage(data, 'csr')

sum(csr, axis=0)
[ 8.  2.  2.]

sum(csr, axis=1)
[ 3.  4.  5.]`

I think sum(csr, axis=0) should be [ 3.  4.  5.]?

[2018-01-01 10:06] NonvolatileMemory commented on #9272
https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html?highlight=sum#mxnet.ndarray.sum

[2018-01-01 10:48] yangjunpro commented on #9087
@elabeca
Hi Elabeca, any update regarding to your benchmark of ImageNet data set with Titan V?
We are planning to do some benchmark and optimization work also on Volta architecture, so your experience may be helpful for us.

Thanks

[2018-01-01 12:26] szha commented on #7750
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-01 12:26] szha commented on #8060
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-01 12:38] #8943 closed

[2018-01-01 14:19] nehaljwani commented on #8976
@popfido FYI, mxnet for linux-64 and osx-64 is now available in the defaults channel. You can also try `conda install mxnet`. The linux build links to jemalloc and uses the fix mentioned at https://github.com/jemalloc/jemalloc/issues/937 .

[2018-01-01 14:27] nehaljwani opened #9274 "Is compilation on 32 bit supported?"
## Description
Tried compiling mxnet using gcc 7.2.0 (32-bit), build fails with 'out of memory error'

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc

MXNet commit hash: Using tag: 1.0.0

Build config:
After applying the patches at https://github.com/apache/incubator-mxnet/pull/9273
[code]

## Error Message:
[code]

## What have you tried to solve it?

[2018-01-01 17:18] nehaljwani commented on #9271
Additional findings:
- So far reproducible only on Windows 7. Windows 10 doesn't face this issue.
- This problem isn't specific to Anaconda Python. I tried with the installer from https://www.python.org/downloads/ too. Same problem.

[2018-01-02 01:20] chinakook commented on #9216
Please be caution that CUDNN cannot handle BN when eps <= 1e-5. In this situation, you can set cudnn_off=true in BN of MXNet.

[2018-01-02 01:48] adaaaaaa commented on #8671
头像换了，不好看，还是原来的猪头像好看。。。蛤蛤。。。

[2018-01-02 02:01] qxin opened #9275 ""bad" mAP score on COCO"
Hi, sorry... but I trained coco using this mxnet SSD, and i found that the mAP ( iou:[0.5]) is only about 0.15. But caffe+ssd can achieve 0.46 (iou:[0.5]).   Thanks.

[2018-01-02 03:44] linVdcd opened #9276 "实验多任务训练时遇到问题"
![mt](https://user-images.githubusercontent.com/8973153/34473605-f47a8b72-efaf-11e7-8229-4f360f482dd3.png)
如图，softmax1分支是一个2分类问题，softmax2分支是一个4分类问题，drop6以上的层是共享层（该网络名为MTnet）。在实验中，发现将softmax1的loss置零（softmaxoutput函数的grad_scale=0.0），只训练softmax2时。4分类的正确率无法达到，没有softmax1分支的网络（名为STnet）的精度（差了4个百分点）。
为了找出问题，我将STnet和MTnet的输入，随机种子设置一样（网络的参数初始化一样，打印出来验证一样的了），优化方法都是带动量的SGD。唯一不同的是，STnet没有softmax1这个分支，MTnet的soft

[2018-01-02 03:58] wkcn commented on #9216
@chinakook Thank you!

I wrote [a new code](https://github.com/wkcn/test_mxnet_bn/tree/ndarray) to test.
And I found that using CUDNN and not using CUDNN on Caffe get the same BN output.
But there is a little difference between the CPU result and the GPU result on Caffe.
[code]

The comparison between MXNet and Caffe is showed below.

Using the GPU result of Caffe.
[code]

[code]

[code]

[2018-01-02 04:05] sxjscience commented on #9216
@wkcn Can you confirm that the output is invstd instead of var?

[2018-01-02 04:06] sxjscience commented on #9216
@wkcn These errors are too small and will cause no problem. However, there is certainly a bug if the output is invstd instead of var.

[2018-01-02 04:44] wkcn commented on #9216
@sxjscience
Thank you!

I'm sure that the output_var is invstd instead of variance.
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/batch_norm.cc#L147

[2018-01-02 08:53] taylover-pei opened #9278 "NasNet代码问题"
用Gluon编写的NasNet的代码好像问题，运行的时候总提示维度不对。是否能修改以下？

[2018-01-02 10:03] alexalex1234 opened #9279 "should gluon use the sublinear memory"
I set export MXNET_BACKWARD_DO_MIRROR=1 while use gluon
Does this environment work in gluon?
Thanks a lot

[2018-01-02 21:17] eric-haibin-lin commented on #9279
It doesn't work in Gluon yet

[2018-01-02 21:18] piiswrong commented on #9216
the documentation should be fixed

[2018-01-02 21:30] eric-haibin-lin commented on #9211
Hi @dingran
I just noticed that you're using gluon interface with sparse ndarray. Unfortunately this is not supported yet. The gluon interface will try to run all operators with dense data/weight/gradient if you hybridize it. You probably will observe storage fallback messages in your console/terminal.

If you don't hybridize the network, you can probably run it in imperative mode (I haven't verif

[2018-01-02 21:51] javelinjs commented on #9255
I think 1.0.0.rc1 adopts the recent fix @szha

[2018-01-02 21:53] szha commented on #9279
Related: #6644

[2018-01-02 22:17] leo-gan commented on #9255
Thanks!

Regards,

Leonid Ganeline
Microsoft MVP (BizTalk Server & Microsoft Integration & Microsoft Azure)
http://geekswithblogs.net/leonidganeline/

On Tue, Jan 2, 2018 at 1:52 PM, Yizhi Liu <notifications@github.com> wrote:

[2018-01-02 22:20] #9255 closed

[2018-01-02 22:27] leo-gan opened #9284 "error on the print(net.weight)"
Hi,
I'm executing the http://localhost:8888/notebooks/mxnet/chapter02_supervised-learning/linear-regression-gluon.ipynb example.
`net = gluon.nn.Dense(1, in_units=2),
print(net.weight)` - returns

It is the

OS: Windows 10
Python 3.5

A similar error on this line:
`print(net.bias)`

[2018-01-03 00:00] arshitgupta commented on #9042
This works. However, there is a small caveat (as mentioned by eric@ in offline discussion) - when you create multiple softmax layers, the 'states' dictionary keys are essentially the indices (instead of name strings), essentially creating a conflict when we have multiple softmax layers with same index. The work around for this issue is to use kvstore value of 'devices' instead of 'local' (default)

[2018-01-03 00:00] #9042 closed

[2018-01-03 00:17] Cosmo commented on #9217
@helloniklas I have a similar setup (macOS 10.13.2, GeForce 1080, cuda 9.1 and cuDNN 7).
would you mind to share the steps you took, to build and run mxnet on your machine?

thanks, any help appreciated!

[2018-01-03 01:12] NonvolatileMemory commented on #9272
sorry, i mean it should be8 3 1

[2018-01-03 01:15] szha commented on #9272
@eric-haibin-lin

[2018-01-03 01:25] adstraw opened #9285 "SIGABRT when running mxnet_unit_tests"
## Description
Running build/tests/cpp/mxnet_unit_tests results in an abort

## Environment info (Required)
----------Python Info----------
('Version      :', '2.7.12')
('Compiler     :', 'GCC 5.4.0 20160609')
('Build        :', ('default', 'Nov 19 2016 06:48:10'))
('Arch         :', ('64bit', 'ELF'))
------------Pip Info-----------
('Version      :', '8.1.1')
('Directory    :', '/usr/lib/python2.

[2018-01-03 01:43] eric-haibin-lin commented on #9272
Yes that's a typo. @NonvolatileMemory do you mind posting a pull request to fix this?
https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/broadcast_reduce_op_value.cc?utf8=%E2%9C%93#L79-L80

[2018-01-03 01:54] NonvolatileMemory commented on #9272
@eric-haibin-lin  very thx! I will do it!

[2018-01-03 02:02] NonvolatileMemory commented on #9272
@eric-haibin-lin https://github.com/apache/incubator-mxnet/pull/9287

[2018-01-03 02:46] feevos opened #9288 "Get HybridBlock layer shape on runtime"
Dear all,

I am trying to build a custom pooling layer (both for ndarray and Symbol) and I need to know the input shape at runtime. According to the documentation, HybridBlock has the function "infer_shape", but I can't make it work. Any pointers into what I am doing wrong?

## mxnet version
1.0.0 , build from conda, python3.

## Minimum reproducible example
For example:

[code]

## Error Message:

[2018-01-03 03:14] KeyKy opened #9289 "How to get the symbol type?"
How do i know the type of symbol? Convolution or Pooling or BN

[2018-01-03 03:19] #9272 closed

[2018-01-03 08:02] mwbyeon commented on #9289
You can use `symbol.debug_str()`
See https://mxnet.incubator.apache.org/api/python/symbol/symbol.html?#mxnet.symbol.Symbol.debug_str

[2018-01-03 10:44] helloniklas commented on #9217
@cosmo
1. Download Xcode8.3.3 from Apple. This is the version NVIDIA state for Cuda 9.1 Mac. Unzip and rename to Xcode8.3.3.app.
2. Run ```sudo xcode-select -s /Applications/Xcode8.3.3.app``` or to wherever you have placed Xcode.
3. Run ```xcode-select --install``` to install all command line tools compilers etc.
4. Run ```git clone --recursive https://github.com/apache/incubator-mxnet.git mxnet``

[2018-01-03 11:18] dingran commented on #9211
I see, thanks for explanation!

[2018-01-03 13:17] Cosmo commented on #9217
Wohoo, it works! Thank you very much! :)
Let's hope that Turi Create will get support for 1.x

[2018-01-03 13:21] adaaaaaa commented on #8671
https://pypi.python.org/pypi/mxnet-cu91/
Not Found
Sorry, the page you're looking for couldn't be found.
Perhaps check the URL?

[2018-01-03 13:31] jrosebr1 commented on #1302
If anyone else is interested I put together a tutorial on how to parse and plot mxnet logs, including training and validation loss, accuracy, top-k accuracy, etc.:

https://www.pyimagesearch.com/2017/12/25/plot-accuracy-loss-mxnet/

I hope it helps anyone who is looking to plot their logs.

[2018-01-03 13:42] lck1201 opened #9291 "find a bug in mxnet.gluon.utils.clip_global_norm(arrays, max_norm)"
Find a bug in mxnet.gluon.utils.clip_global_norm(arrays, max_norm)
[code]
Perhaps the function should return **arrays** rather than **total_norm**
Thx!

[2018-01-03 15:56] edmBernard commented on #1302
I think tensorboard is more complete solution and was not so hard to use.
It allow to monitor accuracy and lots of other parameters like gradient etc ...
And it keep track of previous training without more work

[2018-01-03 18:10] aaronmarkham commented on #8146
Fixed with #8841

[2018-01-03 18:10] #8146 closed

[2018-01-03 18:30] abidmalik1967 opened #9292 "Runing MxNet"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-01-03 18:39] jrosebr1 commented on #1302
Can TensorBoard be used to plot mxnet loss and accuracy? I wasn't aware of this.

[2018-01-03 18:56] KellenSunderland commented on #8805
@DickJC123 Interesting, thanks for the pointer!

[2018-01-03 19:12] szha commented on #8671
@adaaaaaa cu91 versions are WIP.

[2018-01-03 19:32] #9211 closed

[2018-01-03 19:45] szha commented on #8805
@DickJC123 is there any plan to patch 7.5 curand?

[2018-01-03 20:00] cliffwoolley commented on #8805
I'm not aware of any such plan.

[2018-01-03 20:17] szha commented on #8805
Thanks. Given that this is a compatibility issue in 7.5 curand and there's no plan to fix for curand, we won't be fixing this.

[2018-01-03 20:17] #8805 closed

[2018-01-03 21:07] edmBernard commented on #1302
Yes
the standalone tensorboard maintained by dmlc: https://github.com/dmlc/tensorboard
documentation on python API with a mxnet example: https://github.com/dmlc/tensorboard/tree/master/python

[2018-01-03 21:12] jrosebr1 commented on #1302
Thanks!

[2018-01-03 22:49] nswamy commented on #9292
are you running on a machine that has a GPU ?

[2018-01-03 23:16] gamenn opened #9294 "Trouble installing on Windows"
[I am posting this issue for the attention of @zhreshold, as suggested by a member of MXNet team.

I am trying to get MXNet working on Windows with Anaconda distribution of Python.  After running around a bit, I was told by a member of the MXNet team (AstonZ) that the installation command to use is:

`pip install mxnet-cu80==1.0.0 `

However, after doing that, "import mxnet as mx" line fails with

[2018-01-03 23:42] zhreshold commented on #9294
This is most likely you are pythonmidmatched pip and python.
Make sure you install using the pip come with anaconda

[2018-01-03 23:44] lupesko commented on #9294
@gamenn can you please provide more info:
- Windows version
- Python version
- The full error stack

[2018-01-03 23:44] lupesko commented on #9294
@nswamy please apply labels:
- Triaged
- Windows
- Installation

[2018-01-03 23:50] lupesko commented on #9292
@nswamy please apply labels:
Triaged
Pending Requester Info

[2018-01-03 23:50] gamenn commented on #9294
@zhreshold: I ran "pip install mxnet-cu80==1.0.0" from within the Anaconda prompt. I presume that would the right way to install; isn't it?

[2018-01-03 23:56] #9176 closed

[2018-01-03 23:56] lupesko commented on #9291
Thank you @lck1201 !
I think you are correct, looping in @piiswrong for guidance.
Additionally, we should expand the docstring to be more informative.

@piiswrong - can you confirm this is indeed a bug?
@lck1201 - would you like to submit a PR with this fix?

[2018-01-03 23:56] lupesko commented on #9291
@nswamy please apply labels:
Triaged
Bug

[2018-01-03 23:59] gamenn commented on #9294
@lupesko: Added Windows and Python version info to the issue above. There is not much of a error callstack for this issue since the very first import line itself is failing as unrecognized module.

[2018-01-03 23:59] lupesko commented on #9289
Thank you @mwbyeon !
@KeyKy I think we can close the issue, feel free to re-open if you still have questions.

[2018-01-04 00:00] lupesko commented on #9289
@nswamy please apply labels:
Triaged
Request For Information

And please close.

[2018-01-04 00:07] zhreshold commented on #9294
@gamenn I suggest you can do quick self diagnose, for example, pip --version inside anaconda prompt, try to locate the site-packages of conda python, etc.

Anyways, if you are still out of luck, please use the script of https://github.com/apache/incubator-mxnet/blob/master/tools/diagnose.py and paste results here.

[2018-01-04 00:11] sxjscience commented on #9291
This is not a bug. `clip_global_norm` clips the gradient arrays in place and returns the original norm.

[2018-01-04 00:26] szha commented on #8143
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-04 00:46] gamenn commented on #9294
@zhreshold: Pasting below the output of diagnose.py

----------Python Info----------
Version      : 3.6.2
Compiler     : MSC v.1900 64 bit (AMD64)
Build        : ('default', 'Sep 19 2017 08:03:39')
Arch         : ('64bit', 'WindowsPE')
------------Pip Info-----------
Version      : 9.0.1
Directory    : C:\Users\myUserName\AppData\Local\Continuum\anaconda3\lib\site-packages\pip
----------MXNet Info

[2018-01-04 00:47] #9291 closed

[2018-01-04 01:11] marcoabreu opened #9295 "test_operator.test_laop_3 hangs"
The execution of test_operator.test_laop_3 randomly hangs without a message on Python3: MKLML-CPU. See http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/130/pipeline/329

[2018-01-04 01:11] marcoabreu commented on #9295
@piiswrong @szha Please assign the proper label.

[2018-01-04 01:35] marcoabreu opened #9297 "git checkout on windows slaves times out"
Due to rate limiting, introduced by GitHub, git checkout on windows slaves times out if multiple jobs are getting started at the same time.
![image](https://user-images.githubusercontent.com/18629099/34547087-c9ed4cd8-f0f8-11e7-94b4-9e4b53c56ed7.png)

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-9220-merge/7/pipeline

[2018-01-04 01:40] lck1201 commented on #9291
@lupesko  @sxjscience  thank you guys

[2018-01-04 01:47] szha commented on #9292
@abidmalik1967 you have multiple copies of mxnet on your machine.
The one you installed is `mxnet-cu80==0.11.0` which is likely in `/lfs1/software7/anaconda2/lib/python2.7/site-packages`
The one you ran is likely `mxnet-cu75==0.9.4` which is in `/home/amalik/.local/lib/python2.7/site-packages/mxnet-0.9.4-py2.7.egg/mxnet/`

Given that you have cuda 8.0 installed judging from your LD_LIBRARY_PATH, y

[2018-01-04 02:23] lupesko commented on #9288
Are you trying to get the input shape at runtime?
If so, `infer_shape` is not the right API.

You may want to try something like:
[code]

Which returns:
`input shape: (5L, 5L, 16L, 16L)`

[2018-01-04 02:25] lupesko commented on #9288
@nswamy please apply labels:
Triaged
Pending Requester Info
Request For Information

[2018-01-04 02:29] mongoose54 opened #9301 "How to fine-tune VGG16"
This is more of a general question

I have pretained VGG16 `vgg = gluon.model_zoo.vision.vgg16_bn(pretrained=True)` . How can I replace the last layer (i.e. 1000 outputs) with a layer with 10 outputs? I was reading through the Fine Tuning tutorial [here](http://gluon.mxnet.io/chapter08_computer-vision/fine-tuning.html#DeepDog-net) but the issue is that the features in vgg16 do not contain the dens

[2018-01-04 02:35] szha commented on #9301
This has already been updated in latest version of mxnet:
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/model_zoo/vision/vgg.py#L52-L63

Would you be able to upgrade to the latest version of mxnet?

[2018-01-04 02:40] zhreshold commented on #9294
@gamenn you are missing dll in path. CUDA runtime, visual c++ or something. windows won’t tell you which one is missing.

[2018-01-04 02:53] feevos commented on #9288
Hi @lupesko , thank you very much for your reply. Perhaps this is something I am not understanding very well (the way to properly use hybridize call in a unified way both with Symbol and NDArray). I've just started learning Gluon + mxnet.

Your solution works (I actually have this solution to my code) when the ```_input``` variable is an NDArray type. But then I want a unified way of finding the s

[2018-01-04 03:13] gamenn commented on #9294
What exactly are the path variable names MXNet looks for?

[2018-01-04 04:17] mwbyeon commented on #9258
You can use `fixed_param_names` paramter
See https://mxnet.incubator.apache.org/api/python/module/module.html?highlight=fixed_param_names#mxnet.module.Module

And an example.
https://github.com/apache/incubator-mxnet/blob/b2ce81218b13c3140dc3d2fd9fa27a1dd0264b75/example/ssd/train/train_net.py#L200-L240

[2018-01-04 05:24] lightingghost commented on #9258
Thanks for helping! @mwbyeon

[2018-01-04 05:24] #9258 closed

[2018-01-04 06:40] DabiaoMa opened #9302 "nd.contrib.fft issue"
Hi,

I am currently using nd.contrib.fft to compute STFT(short time Fourier transform) of audio wavs to implement the distilled WaveNet.
I noticed that even I set the weight of STFT loss to 0 (0 * STFT_loss), there are still gradients backward from STFT_loss to parameters, and this behavior causes the gradient to be NaN if the weight is not 0 (1 * STFT_loss)
I have triple checked my implemented an

[2018-01-04 07:26] edmBernard commented on #1302
@jrosebr1 here a complete example (not mine) to log accuracy and gradient in tensorboard from mxnet and using Gluon. https://gist.github.com/skirdey/8b9bd6cc20e958bc57e76004410f17ff

[2018-01-04 09:47] starimpact opened #9304 "FlatTo1D in copy Tensor is a problem for huge array!"
in ndarray Copy function:
[code]
FlatTo1D will cause a ```int of Shape``` overflow problem. Because the Shape value type is ```index_t``` which range is on ```int```. Sometimes, we need to handle a very big data, which size will exceed the range of int.
So... I suggest the following code:
[code]
yes....just convert to 2D shape, we will be able to handle much bigger very big array data.

how about

[2018-01-04 11:10] adrianloy commented on #9261
If you use the simple_bind api you can get the gradients from the executor object after performing the forward pass.

[2018-01-04 12:50] wkcn opened #9307 "How to clear the optimizer states (reset a optimizer)"
Hi, there.

I wrote an `eval_end_callback` function, and there is a condition that changing the learning rate of the optimizer when a metric decreases.

In mxnet.optimizer.SGD, there are the optimizer states.

[code]

I want to set the state value zero as the same as the initialization of the optimizer.

How to clear the optimizer states?

Thank you!

[2018-01-04 13:16] KeyKy commented on #9289
THX!

[2018-01-04 13:16] #9289 closed

[2018-01-04 14:19] asmushetzel commented on #8456
MKL does multithreading internally (also based on openmp, but not controlled by above environment variable). It has its own internal mechanism for controlling thread numbers, where the default is to use maximum number.
So in essence: When you link with MKL, all MKL calls are anyway maximally threaded internally.

[2018-01-04 14:45] BenLag2906 opened #9308 "batch size in inference"
I work with your version of mxnet under windows in c++.

I have heard of it was possible to make inference/prediction with a batch size. This practise is usually only for training.

Could you please provide a piece of explanation to do this? I want to to boost time processing on inference ? I have seen it in python but with MXPredForward in c++, I don't see any solution ?

[2018-01-04 16:27] mwbyeon commented on #9308
This is an example.

Fist, Set the shape of input data with batch size. `(batch_size, channel, height, width)`
https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/predict-cpp/image-classification-predict.cc#L197-L200

Second, Create a model with the shape of input data.
https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/predict-cpp/ima

[2018-01-04 17:59] #9297 closed

[2018-01-04 18:59] eric-haibin-lin opened #9310 "model using contrib.SparseEmbedding returns inconsistent result between runs"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-01-04 19:05] eric-haibin-lin commented on #9284
@szha was this fixed?

[2018-01-04 19:41] szha commented on #9284
Yes, this has been fixed in the latest version
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/parameter.py#L120

[2018-01-04 19:42] pracheer commented on #8339
This is due to the behavior of zip function which was changed in python 3.

Will try to send a PR for this in a couple of days.

[2018-01-04 19:44] lichen11 commented on #7968
Hi, I recently attempted transfer learning on ResNet101. I only retrain the last fully connected layer.

    resnet101<- mx.model.load("Model/ResNet/resnet-101", iteration=0)
    symbol<- resnet101$symbol
    internals<- symbol$get.internals()
    outputs<- internals$outputs
    flatten<- internals$get.output(which(outputs=="flatten0_output"))
    new_fc<- mx.symbol.FullyConnected(data=flatten, nu

[2018-01-04 20:51] sxjscience commented on #9310
Looks like again the atomicAdd problem https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/indexing_op.h#L566

[2018-01-04 20:55] eric-haibin-lin commented on #9310
The GPU kernel is using atomic add : https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/indexing_op.cu#L59

[2018-01-04 21:00] sxjscience commented on #9310
OK, I've missed the GPU part. The result of atomicAdd would be non-deterministic. However, the loss functions are quite far from each other and atomicAdd should not be the cause.

[2018-01-04 21:02] eric-haibin-lin commented on #9310
Why would the result of `atomicAdd ` non-deterministic? Isn't it atomic?

[2018-01-04 21:05] sxjscience commented on #9310
The result of summation would depend on the order of the additions because float32 has limited precision.

[2018-01-04 21:22] aaronmarkham commented on #9145
The docs are built in a Docker container. With the latest build from master, Docker hits a memory limit which causes the build to fail, and there's no clear indication that this is what happened.  From a tip seen on a similar unexplained exit, I bumped the memory limit in Docker's preferences to 4GB, and the build completes.

[2018-01-04 21:22] #9145 closed

[2018-01-04 21:28] machuck commented on #8962
find all versions by:
`pip search mxnet`
For cpu only version
`pip install keras-mxnet`

[2018-01-04 22:29] eric-haibin-lin opened #9314 "nd.pick core dumps on large array"
[code]

Usually large array complains about shape mismatch, this one core dumps immediately.

[2018-01-05 00:25] Roshrini opened #9315 "Refactor mxnet-scala code/tests/examples/docs to use "org.apache.mxnet" instead of "ml.dmlc.mxnet"."
## Description
Currently, MXNet-Scala library uses "ml.dmlc.mxnet" packages. As mxnet is under apache now,  mxnet-scala code/tests/example and docs should use "org.apache.mxnet" instead of "ml.dmlc.mxnet".

This work will change the way to import modules when using mxnet-scala package.

Old way:
[code]
New way:
[code]

I will be creating PR soon to address this.

[2018-01-05 01:25] lichen11 commented on #4817
Hi, I recently attempted fine-tuning ResNet101 based on your comments.

However, when I initiate training (using GPU), R outputs the following msg:

    Start training with 1 devices
    [19:35:16] src/operator/nn/./cudnn/./cudnn_algoreg-inl.h:107: Running performance tests to find the             best convolution algorithm, this can take a while... (setting env variable MXNET_CUDNN_AUTOTUNE_DEFAU

[2018-01-05 01:42] lupesko commented on #9315
Looks good - thanks for picking this up!

@nswamy please apply label:
- Triaged
- Enhancement

[2018-01-05 02:01] ZiyueHuang commented on #9310
Not sure. I have tried MF example using `mx.random.seed(0)` and `np.random.seed(0)`, the results (mse) are almost the same for multiple runs when gpu sparse embedding is applied. Will look into LM example later.

[2018-01-05 02:35] Imshepherd commented on #8042
https://github.com/Imshepherd/MxNetR-Convert-json-to-symbol
Example code which I wrote for R.

[2018-01-05 05:14] feevos opened #9316 "bug in parameter default values of gluon.loss.Loss"
## Description

(I think!) there is a bug in the default values of the parameters ```weight``` and ```batch_axis``` of the module ```gluon.loss.Loss```. In particular when I try to create a custom loss function derived from Loss I get the following error:

**implementation that produces error**
[code]

## Error Message:

[code]

## What have you tried to solve it?

If I  modify the constructor of

[2018-01-05 05:37] jeremiedb commented on #7968
Just made a few tests with different ResNet models and I also experienced crashes.

Issue appears tied with a memory that isn't released during training. No problem with ResNet34 or 50, but it got problematic with 101. Have you looked at the GPU usage immediatly after launching the training (nvidia-smi) to confirm you have same issue?

I also noticed apparent memory leak when running large embeddi

[2018-01-05 05:40] jeremiedb commented on #4817
@lichen11, please see answer in #7968

[2018-01-05 05:46] adaaaaaa commented on #8671
cu90和cu91有没有benchmark，对比一下？

[2018-01-05 06:28] cookingbear opened #9317 "why's the function asnumpy() so slow?"
I tried the speech_recognition example but found out that the last step below(pred = pred.asnumpy()) slow down the process. why's that?

<pre>
`def update(self, labels, preds):
     check_label_shapes(labels, preds)
        if self.is_logging:
            log = LogUtil().getlogger()
            labelUtil = LabelUtil.getInstance()
        self.batch_loss = 0.
        for label, pred in zip(labels,

[2018-01-05 09:14] iblis17 commented on #9267
I got similar error message.
And switching to gcc 6 solves my issue.
e.g. in `config.mk`
[code]

[2018-01-05 09:39] charleshm commented on #9266
Great !

[2018-01-05 12:26] szha commented on #4543
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-05 12:26] szha commented on #8157
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-05 13:23] tornadomeet opened #9319 "repeat run constructor function of SymbolBlock when using gluon interface"
## Description
when convert `mx.sym.##op##()` to `SymbolBlock` and run forward() during training, i found it will repeat call the constructor function, so if we Initialize some variable in the constructor() and change it in forward(), then it will be wrong because every time after it changed, it will be Initialized again.

give an example here:
https://github.com/luoyetx/mx-lsoftmax/blob/master/op

[2018-01-05 15:11] CoinCheung commented on #9267
@iblis17 Ah, I see, Thanks a lot!!

[2018-01-05 15:11] #9267 closed

[2018-01-05 15:37] BenLag2906 commented on #9308
Hi,
Thanks for quality of your answer,
Even if I have not really understand how concatenate my images inputs.
For each image, i must set input in a loop ? eg :
fr(int i; i < Batch_size ; i++) {
  image_data = bufferImage.at(i) ;
  MXPredSetInput(pred_hnd, "data", image_data.data(), image_size);
}
..

MXPredForward(pred_hnd);

..
and extract of shape the results for the buffer image.

Is it the goo

[2018-01-05 15:59] tornadomeet opened #9320 "how to fix error of SyntaxError: Non-ASCII character '\xef' i?"
## Description
when build from source and ```import mxnet```, it will output error like this:
[code]

## Environment info (Required)
python2.7.13+macos10.12.3

MXNet commit hash:
```1150b65a077681493f4cbd8fad3957ca9038aa27```

## Steps to reproduce
(Paste the commands you ran that produced the error.)

[code]

## What have you tried to solve it?

1. add one line of code ```# -*- coding: utf-8 -*-`

[2018-01-05 17:21] gamenn commented on #9294
By the way, it appears like people in general have run into problems getting MXNet to work on Windows. Here are some links that come upon a quick search:

https://github.com/apache/incubator-mxnet/issues/7145

Blog by one person who apparently could not get it to work easily and had to struggle to find a way:
https://stankirdey.com/2017/03/09/installing-mxnet-deep-learning-framework-on-windows-10/

[2018-01-05 18:26] sxjscience commented on #9316
The base class `Loss` have the `weight` and `batch_axis` arguments that do not have default values. https://mxnet.incubator.apache.org/api/python/gluon/loss.html#mxnet.gluon.loss.Loss I feel that it's okay to do that. We could pass our own default values to initialize the base class

[2018-01-05 18:31] sxjscience commented on #9216
I find it will be improper to output the invstd as the value will be undefined when batch_size=1. We should consider to change it back to output the variance.

[2018-01-05 18:41] cjolivier01 commented on #9216
Just FYI, CUDNN stores invstd for moving_variance rather than actual variance, if I remember correctly.
This can be seen in the unit test not checking for those being the same when CUDNN is enabled: https://github.com/apache/incubator-mxnet/blob/f9fd88bf178c0005a81ebf909750d5786bb1ec69/tests/cpp/operator/batchnorm_test.cc#L409

[2018-01-05 18:52] sxjscience commented on #9216
@cjolivier01 I see, we need to test the correctness of the mean and "var" as we can fetch these two values by turning on `output_mean_var`. https://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.BatchNorm

[2018-01-05 19:05] sxjscience commented on #9216
@cjolivier01 In that case, it should be okay to keep the invstd format. We need to test the case when `output_mean_var` is turned on.

[2018-01-05 19:36] wildhunter-66 commented on #9094
Hi,
To install mxnet use this address:  [https://www.pyimagesearch.com/2017/11/13/how-to-install-mxnet-for-deep-learning/](url)
You have to change one line  "git clone --recursive https://github.com/apache/incubator-mxnet.git mxnet --branch 0.11.0" with "git clone --recursive https://github.com/apache/incubator-mxnet.git mxnet --branch 1.0.0"
I have just installed it on virtual env. and I made a p

[2018-01-05 20:08] zsong opened #9325 "AttributeError: function 'MXGetLastError' not found"
I am on windows 7 with python 3.60 64 bit version.

I installed numpy `numpy-1.13.3+mkl-cp36-cp36m-win_amd64.whl`
And then install mxnet
[code]

Then I am getting this error.

[code]

[2018-01-05 20:36] zhreshold commented on #9294
@gamenn Sorry for the late reply. I though it was resolved.
In general, there's no `fancy` stuff you need to do to install on windows. We have pre-complied and packed to pip wheel so everyone should be able to install it using `pip install mxnet`.
The windows version was available since 0.11 several months ago, and it is considerably stable because we do have a forum that have users reporting the

[2018-01-05 21:13] gamenn commented on #9294
@zhreshold Yes, when I did "pip install mxnet", the CPU version was indeed working. The problem was with getting the gpu version to work since I was getting the "gpu not enabled error". So, I was told that to get the gpu version working, I first needed to do "pip uninstall mxnet" and then do "pip install mxnet-cu80==1.0.0". When I did that, the "import mxnet as mx" line itself started failing.

Do

[2018-01-05 21:16] zhreshold commented on #9294
CUDNN will be provided in pip install, so you just need make sure cuda version is correct.
Say you have cuda 8.0, install mxnet-cu80, cuda 9.0 with mxnet-cu90, that's it.
You can also checkout the nightly build with `pip install mxnet-cu8(9)0 --pre`

[2018-01-05 21:40] Roshrini commented on #9145
@aaronmarkham Getting similar issue on mac while building the docs using `make docs`,

[code]

Increasing docker memory doesn't seem to work either. By any chance, did you find the root cause of this?

[2018-01-05 21:56] indhub commented on #4543
@daranday's comment above says setting 'MXNET_CPU_WORKER_NTHREADS' fixes the problem. I'm closing this issue. Please reopen if that suggestion doesn't fix the problem. Thanks!

[2018-01-05 21:56] #4543 closed

[2018-01-05 23:49] #9294 closed

[2018-01-05 23:50] gamenn commented on #9294
Thank you. Got it working.
Just for the benefit of others running into this: By default, as of now, when we download Cuda from NVidia, it installs 9.1 version. Doing "pip install mxnet-cu90" results in "module not found error" with that version of Cuda. So, I had to specifically search for 9.0 version of Cuda and install it.

[2018-01-05 23:56] sxjscience commented on #9317
`asnumpy()` will trigger a cuda synchronization. So your code will be slowed down.

[2018-01-06 00:20] cjolivier01 commented on #8532
@szha, Can we link libiomp5.a statically and then strip the symbols from the final libmxnet.so?  I am theorizing (I think correctly) that two completely separate versions of openmp can coexist when they apply only to two different modules.

[2018-01-06 00:31] larroy commented on #8532
@cjolivier01 how can this work, when the data structures passed to the functions of the library change? This would only work if both versions of openmp would guarantee binary compatibility. Is that the case?

[2018-01-06 00:37] cjolivier01 commented on #8532
@larroy Not sure what you're trying to say here.  If the symbols are stripped from libmxnet.so, then the libnumpy.so (or whatever it's called)'s omp.so and libmxnet.so (with its internal omp pool) won't see each other at all, much less call into each other.

[2018-01-06 00:44] ykim362 commented on #8532
@cjolivier01 When I discussed this issue with MKL team, it is not much feasible to make static MKLML given that it has lots of binary dependencies. Another aspect is that there is a possibility that two separate OpenMP calls (from numpy and from MXNet with MKLML) could degrade the performance. We are working on several experimentations. I would like to update the result next week.

[2018-01-06 01:01] hubenjm commented on #6682
@terrychenism I wanted to ask if you could provide other parameters used in your image iterators for training the resnext-50 model in particular. e.g. what was the min and max random crop size?

[2018-01-06 01:16] lichen11 commented on #7968
I added gc() before     mx.model.FeedForward.create and also within     mx.model.FeedForward.create. Then I immediately ran nvidia-smi. At some second, utilization was 29%, then GPU Memory Usage reached to about 12.7GB for a few seconds, then R crashes.

[2018-01-06 01:32] opringle opened #9326 "Example blog post: Deep learning for multivariate time series forecasting."
Hey guys.  Checkout my blog post, implementing a state of the art multivariate time series model in MXNet.   Feel free to add it to the examples.

https://opringle.github.io/2018/01/05/deep_learning_multivariate_ts.html

[2018-01-06 01:33] feevos commented on #9316
@sxjscience  thank you for your reply. Yes, it's perfectly fine to pass our own values. I think somehow I got confused by the word "default" in the documentation, having the understanding that there exist default values prespicified (```weight = None, batc_axis = 0```).  My bad! Thank you.

[2018-01-06 01:33] #9316 closed

[2018-01-06 02:52] mwbyeon commented on #9308
@BenLag2906  This is code for understanding. (not tested)

[code]

[2018-01-06 04:08] yajiedesign commented on #9320
i am not find this commit hash.can you test in laster version?

[2018-01-06 06:49] tornadomeet commented on #9320
i have tried the master branch, still the same error, commit is ```c3d6cf09007dc11e1a5e2227075422911aa2eb3e```

[2018-01-06 07:37] 91Eric commented on #2860
Is this resolved ? I get a mismatch error when loading a downloaded resnet50.params files @gaush123 @sds6

[2018-01-06 10:40] KellenSunderland commented on #8542
Just had a test failure due to this external dep: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-9055-merge/11/pipeline/337

[code]

[2018-01-06 11:22] KellenSunderland commented on #9295
Here's the ticket for the LA hangs with MKL @mseeger @asmushetzel.

[2018-01-06 11:25] KellenSunderland commented on #9295
The next time someone runs into this one let's try and get a trace of all the threads.  I looked at this a little already with @asmushetzel, and it certainly was a deadlock during initialization (i.e. not livelock, no activity on any thread), but I wasn't exactly clear on why one of the threads was blocked.

[2018-01-06 11:58] RajeshRaja27 commented on #3441
Its not installing on Windows on condaprompt when giving conda install mxnet???
Then How i should install it

[2018-01-06 13:09] larroy commented on #8532
@cjolivier01 I see. I thought the problem was linking with the same symbols.  I found this related to the issue: https://software.intel.com/en-us/inference-engine-devguide-known-issues

[2018-01-06 14:16] rayjs opened #9328 "Row wise normalization of tensor"
Hi,
I am new to mshadow. I am seeking some help regarding a tensor operation. I see there are examples to implement elementwise tensor operations as below:
https://github.com/dmlc/mshadow/tree/3d87ed2a4b47ef749c616f208cee45d920fb6e6e/guide#user-defined-operator

But I am looking for slightly different that is, row wise normalization of a tensor
A= [row1; row2;... rowN]; Anormalized = [row1/norm(ro

[2018-01-06 14:59] mseeger commented on #9295
If the test hangs using MKL, then I am afraid also a normal run of MXNet, using the linalg ops, will hang on MKL eventually.

Do you also see these problems with the other laop tests? Because laop3 is only for a small subset of the ops. Is it clear which of them is the issue?

[2018-01-06 15:06] tornadomeet commented on #9320
fixed!

i just do  ```rm mxnet/ndarray/gen_contrib.py``` and install mxnet again, then it is ok.

the  reason maybe : that file is generate by old mxnet version, when remove it and generate by master branch, it fixed.

[2018-01-06 15:07] marcoabreu commented on #9295
I have never seen this problem arise with any other test than laop3. Of course, it might be possible that the previous tests brought the process into a corrupted state. I haven't had the chance yet to dig into the problem and identify the failing line - we might consider adding more debug output to those tests, especially if one test-method consists of multiple tests.

[2018-01-06 15:08] tornadomeet commented on #9328
```mx.nd.L2Normalization(data)```

[2018-01-06 15:53] bhavinthaker commented on #8805
Typically, I would NOT expect older CUDA/cuDNN versions to run on newer latest generation Nvidia hardware for the reasons highlighted on this email thread. As far as I know, CUDA9 is backward compatible with earlier hardware and so I would suggest moving to latest CUDA9/cuDNN, especially so that MXNet can utilize the power of Volta on EC3 P3 instances.

[2018-01-06 22:02] KellenSunderland opened #9332 ""Matrix Factorization" R test failing due to unavailable HTTP server."
## Description
All PRs are currently failing due to a R test that's attempting to download a dataset from an unavailable web server.

The unavailable file is http://files.grouplens.org/datasets/movielens/ml-100k.zip.
The affected test: "Matrix Factorization"

## Environment info (Required)
CI

## Notes
Disabled in PR #9333

@szha Would you be able to tag this one as a flaky test?

[2018-01-07 00:53] samhodge opened #9334 "Cannot build libraries from source with cuda support on OSX with NVIDIA GeForce GTX 780M on macOS 10.12.6 using Xcode8.2 clang"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-01-07 05:05] pengzhao-intel commented on #9199
@juliusshufan Could you try to run with the original mxnet path (w/o MKLML)?

[2018-01-07 06:01] xcgoner opened #9335 "mxnet.random.seed() doesn't work for mxnet.gluon.data.DataLoader with shuffle=True"
I want to use the same sequence of mini-batches to compare the performance of different optimizers.
I used "mxnet.random.seed(1)".
However, it only works for the initializer.
For mxnet.gluon.data.DataLoader with shuffle=True, it needs an extra "import random; random.seed(1);"

[2018-01-07 12:26] szha commented on #8177
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-07 12:54] KeyKy opened #9337 "Questions about the accnn.py tools."
I have read the paper Efficient and Accurate Approximations of Nonlinear Convolutional Networks. However, I do not fully understand the math in accnn.py. The tool split a convolution into two convolution.

[code]
1. Can accnn.py apply to Convolution with stride 2 (not equal to 1)?
2. Why reshape W = W.transpose((1,2,0,3)).reshape((C*y, -1))  into [C*y, N*x] not [C*x, N*y]

[2018-01-07 15:39] tornadomeet opened #9338 "why share the same value of class member when using multigpu of HybridBlock, bug?"
## Description
in my opinion, when using multi-gpu for training, each device should do forward() on one device(gpu) independently, and it should use it's own class member value, not share class member value cross devices. Is this correct?

but i found when using HybridBlock, multi devices share the same value, why?

ubuntu16.04
python2.7.13

MXNet commit hash:
```deb25bca9803cac338faedb2eb14dfda22

[2018-01-07 19:01] szha commented on #9338
Regular instance variables behave like instance variables, agnostic of the context.
Parameter instance variables will have a copy for each of the context and behave as you stated.

Is there a use case where you need context-dependent copy of regular variables?

[2018-01-07 19:05] dangulod opened #9340 "Problem loading python package when building from sources with CUDA-9.1"
## Description
I have built mxnet 1.0 from sources with CUDA-9.1. However, I can not load the python package, unlike in the R library I can load without problems

## Environment info (Required)

----------Python Info----------
Version      : 3.6.3
Compiler     : GCC 7.2.0
Build        : ('default', 'Oct  3 2017 21:45:48')
Arch         : ('64bit', 'ELF')
------------Pip Info-----------
Version

[2018-01-07 21:17] szha commented on #9334
It’s probably because CUDA doesn’t support that version of compiler yet. You can revert the command line tools to an earlier supported version. See this stackoverflow answer on how to revert command line tools https://stackoverflow.com/a/36590330/3062895

[2018-01-07 21:21] samhodge commented on #9334
That is not the case as nvcc has compiled many source files. So nvcc is working with the clang in Xcode 7.2

[2018-01-07 21:28] szha commented on #9334
Oh sorry that I missed it. I think that symbol ‘__shfl_down’ is only availabile for compute capability 3+. From the nvcc call it looks like compute_20 was still on for your case.

[2018-01-07 21:29] samhodge commented on #9334
This might be worth trying http://docs.nvidia.com/cuda/cuda-installation-guide-mac-os-x/index.html But given nvcc has been working for compilation I thought it would work for linking maybe I am wrong

[2018-01-07 21:31] samhodge commented on #9334
So it looks like an excellent excuse to buy an eGPU enclosure or revert to a version of mxnet that supports older GPU instructions

[2018-01-07 21:42] rf987 commented on #9271
+1

I'm having the same issue on Windows 7, running mxnet '0.11.0'
I have to manually kill the python process whenever I create a model or even load a model from checkpoint.

[2018-01-07 21:44] samhodge commented on #9334
Nah the 780 can do 3.5 CUDA capably maybe it is a matter of setting nvcc compile flags

[2018-01-07 23:07] samhodge commented on #9334
This is relevant https://github.com/tensorflow/tensorflow/issues/1361

[2018-01-08 00:26] szha commented on #6812
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-08 03:03] tornadomeet commented on #9338
hello, @szha ，` self.cnt` is parameter instance variable or regular instance variabel.

there are may case which using it own class member value independently, such as
[code]
because we want only init `self._eye_matirx` only one time, so when `F=mx.nd`, when should know the context advance for initialized.(of course if whe initialize every time when do forward(), then it will be ok).

but when usi

[2018-01-08 03:36] zhangguotai opened #9342 "I have a problem in the process of cross compiling"
issue:./include/dmlc/./optional.h:67:29: error: 'class dmlc::optional<int>' has no member named 'val'
     std::swap(val, other.val);
I should how to modify?

[2018-01-08 03:54] szha commented on #9334
I'm not sure what's going on... Our makefile currently doesn't have compute_20 anymore https://github.com/apache/incubator-mxnet/blob/master/Makefile#L257
The only place I found compute_20 is in cub, though it shouldn't be relevant: https://github.com/dmlc/cub/blob/80dbf02aa36d9ef881629e2ee2c15415ba07cef5/common.mk#L84
@DickJC123 do you have an idea?

[2018-01-08 03:58] szha commented on #9338
`cnt` would be a regular variable because `self.cnt = 0`.
In the eye case what you want is a parameter that remains constant. You can achieve that by using `self.params.get('eye_matrix', grad_req='null')`.

[2018-01-08 04:00] szha commented on #9338
I recall that Haibin looked into 'eye' a while back. @eric-haibin-lin do you have recommendation on how to implement the above case?

[2018-01-08 04:05] szha commented on #9342
Did you update the submodule? `git submodule update --init --recursive`

[2018-01-08 04:42] CoinCheung opened #9343 "memory leakage ?"
## Description
Following the examples I created a resnet model and train it on cifar10. After around 6 epoches with batch size of 256, my memory usage rate rose to 100% and the program terminated.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
python

## Error Message:
[code]

## Minimum reproducible example
[code]

## Steps to reproduce
(Paste the commands you ran t

[2018-01-08 05:25] zhangguotai commented on #9342
I don‘t your meaning,I have downloaded all files of  github. I want to create dynamic link library int the arm,but having a problem in the process of cross compiling. I should where to execute this order?

[2018-01-08 05:40] tornadomeet commented on #9338
yes, `eye_matrix` is just one example, what i need is a constant `ndarray` with specific context when F=mx.nd;

another, if using `mx.operator.CustomOp` for implement user-defined operator, `self.cnt` will be  hold by each device independently, so i need the same behavior in HybridBlock.

[2018-01-08 06:05] Kenneth-X opened #9344 "fcn-xs for mutil GPU"
i follow the code:
_python -u fcn_xs.py --model=fcn32s --prefix=VGG_FC_ILSVRC_16_layers --epoch=74 --init-type=vgg16_
and change:
_ctx = [mx.gpu(0),mx.gpu(1),mx.gpu(2),mx.gpu(3)]_
in 'fcn_x.py' file
but i get the error:

 **File "/data-sdc/tao.xie/mxnet/python/mxnet/base.py", line 146, in check_call
    raise MXNetError(py_str(_LIB.MXGetLastError()))
mxnet.base.MXNetError: [13:50:42] include/mxnet

[2018-01-08 06:30] DickJC123 commented on #9334
nvcc is wrongly being invoked with no -arch=sm_nn flag and so defaults to sm_20.  Track down the cause, perhaps related to an improper setting of CUDA_ARCH.

[2018-01-08 06:50] zhangguotai commented on #9342
I don‘t your meaning,I have downloaded all files of github. I want to create dynamic link library int the arm,but having a problem in the process of cross compiling. I should where to execute this order?

At 2018-01-08 12:06:12, "Sheng Zha" <notifications@github.com> wrote:

Did you update the submodule? git submodule update --init --recursive

—
You are receiving this because you authored the thr

[2018-01-08 07:44] samhodge commented on #9334
Adding these lines to config.mk fixed it

`
CUDA_ARCH := -gencode arch=compute_30,code=sm_30 \
			-gencode arch=compute_35,code=sm_35 \
`

[2018-01-08 07:46] samhodge commented on #9334
Thanks to everyone that looked into this, sweet community you have going here. I will be back if I have more questions.

[2018-01-08 07:46] #9334 closed

[2018-01-08 08:26] szha commented on #9342
Sorry for the confusion. Given the compilation error, the most common cause is that some of the submodules are outdated, which is why I asked whether you updated the submodules. You didn't provide environment information such as that you're doing it on ARM, which is less common, so I didn't think it would be a code problem.

@ZihengJiang would you provide some info on how to compile for ARM?

[2018-01-08 08:32] szha commented on #9343
The problem is that in your inference loop there was no blocking operator, which means the next iteration will start before the current iteration finishes. Since the execution for operators are asynchronous, the unfinished operators would accumulate, which results in ever-increasing memory usage.

The quickest fix is to print the loss as well in the inner loop. Because the loss is an ndarray, its

[2018-01-08 10:00] KeyKy opened #9347 "I found it is hard to insert a node in mxnet graph."
(Not Gluon) For example, if I want to insert a convolution node into VGG-16, I need to directly modify the symbol.json.

[2018-01-08 10:01] tobechao commented on #7664
I add a while loop in image.py:
def next(self):
    ...
    try:
            while i < batch_size:
                label, s = self.next_sample()
                data = self.imdecode(s)
                try:
                    self.check_valid_image(data)
                except RuntimeError as e:
                    logging.debug('Invalid image, skipping:  %s', str(e))
                    continue

[2018-01-08 10:10] KeyKy commented on #9347
is there any tools for converting symbol.json into symbol.py

[2018-01-08 10:26] edmBernard commented on #9347
can't you:
- load json in python
- add your layer
- save the model in symbol.json

I don't know if the second part is possible.

[2018-01-08 11:26] KeyKy commented on #4972
I also want to know the meaning of node_row_ptr

[2018-01-08 11:27] KeyKy commented on #4785
@Godricly Did you find the meaning of node_row_ptr?

[2018-01-08 12:26] szha commented on #7184
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-08 12:36] KeyKy commented on #9347
@edmBernard it needs the meaning of node_row_ptr.

[2018-01-08 15:32] Godricly commented on #4785
I don't remember it. It was so long time ago. Sorry.

[2018-01-08 15:36] Godricly commented on #9347
What's the trouble in modifying symbol script? It should be ok.

[2018-01-08 16:27] marcoabreu commented on #9342
You can also try to use our docker_multiarch containers: https://github.com/apache/incubator-mxnet/tree/master/docker_multiarch

[2018-01-08 18:09] sxjscience commented on #9335
I think one solution is to always use `numpy.random`. And we will only need to use `np.random.seed(...)` at the beginning.

[2018-01-08 18:31] aaronmarkham commented on #9217
Thanks @helloniklas!
I'll be adding these instructions to the install area. Please ping me if you uncover any refinements that should be mentioned.

[2018-01-08 19:10] jerrin92 opened #9350 "Trouble building with mkl from source"
We are trying to build mxnet from source using mkl, however even though all the required environment variables are added in regards to ld_library and path variables, mxnet still complains that the components are not visible.

## Environment info (Required)

[code]

Build config:
(Paste the content of config.mk, or the build command.)
[code]

## Error Message:
(Paste the complete error message, inc

[2018-01-08 19:51] mli commented on #9344
I think fcn-xs doesn't support multiple GPUs for now, because of the input data are not well aligned within a batch.

There is a tutorial (in chinese) shown how to fix it: http://zh.gluon.ai/chapter_computer-vision/fcn.html

[2018-01-08 21:39] #9343 closed

[2018-01-08 21:42] szha commented on #9292
@abidmalik1967 is the issue fixed?

[2018-01-08 21:42] #9284 closed

[2018-01-08 21:43] #9264 closed

[2018-01-08 21:44] szha commented on #9185
ping

[2018-01-08 21:44] #9172 closed

[2018-01-08 21:47] dangulod commented on #9340
Well, You can close the issue, I forgot to compile the python package, now it works

[2018-01-08 21:48] szha commented on #9068
@dbsxdbsx what's the status of this issue?

[2018-01-08 21:51] fedorzh commented on #9185
Hey sorry I was on vacation and didn't have access to the laptop

Here are some of the snippets from how I train
[code]

and

[code]

[2018-01-08 21:55] fedorzh commented on #9185
I also have some symbols stored in my notebook cache, not sure which one is which
[code]

and

[code]

[2018-01-08 22:13] shiyangdaisy23 commented on #9302
Hi,

Can you provide some reproducible example?

Thanks

[2018-01-09 00:26] szha commented on #8190
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-09 00:26] szha commented on #5433
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-09 00:26] szha commented on #8191
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-09 00:26] szha commented on #6126
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-09 00:55] lichen11 commented on #3041
What do you mean by reassign conv0?

[2018-01-09 02:25] feevos commented on #2910
[code]
output varies depending on available gpus (usually a list of strings, like ```['0','1','2','3']```

works for me getting the list of gpus available on a particular node (on hpc facility, slurm environment, python/2.7.13).

[2018-01-09 03:24] oscarkfpang commented on #7852
FrancisTse8 your latest instruction on installing mxnet on my Pi3 works. The last error number for "bin/im2rec" is different from yours 344 but somehow the libmxnet.so has been compiled in mxnet/lib folder. Thanks a lot!

[2018-01-09 05:07] nvnnghia commented on #4607
anyone here solved this problem?

[2018-01-09 06:54] nicklhy opened #9354 "resize image in GPU for better performance?"
Hi, I got a problem when pre-processing a large image dataset. The image resize operation consumes too much CPU resource in opencv (or mxnet.image.imresize). Is it possible to resize an image in GPU with mxnet?

PS: I noticed the `mxnet.symbol.BilinearSampler` operator and not sure if it is what I am looking for.

[2018-01-09 06:58] KeyKy commented on #9347
@Godricly Yes, i am writing a tool to convert .json into symbol.py.

[2018-01-09 07:39] #9276 closed

[2018-01-09 08:53] KeyKy commented on #9337
1. I found the accnn.py can't apply to Convolution with stride 2. This following code should be added
[code]

[2018-01-09 08:56] #9347 closed

[2018-01-09 09:13] lordofgod commented on #4134
@animebing @piiswrong I find that if you create an bilineaer upsampling operator, it will return a deconvolution operation in src\operator\upsampling.cc. It's sure that deconvolution can be used as bilinear if we forward a network, only that the upsample_weight is initialized as bilinear kernel. But during backpropogation, the upsampling_weight will be updated. Should I carefully ignore the weight

[2018-01-09 09:23] quietsmile opened #9357 "can group2ctx be used in multi-machine model parallel situation?"
I have figured out how to split a layer into 8 gpus by using group2ctx which is a very great feature. I wonder if group2ctx can support to split a layer into multi-machines (eg. 16 gpus on two machine) by doing some easy modifications?

Thanks. @tqchen @piiswrong @mli

[2018-01-09 09:31] KellenSunderland commented on #9332
Looks like this dataset has been posted again.  It's a 4.9 MB file.  The licensing and redistribution details are included in an attached README.  The relevant sections to me are:

[code]
To me it remains somewhat vague given these terms if we can cache this data in our CI setup somewhere.  If no-one objects I'd recommend contacting the authors.

[2018-01-09 09:32] KellenSunderland commented on #9332
Another option given the simplicity of the dataset (movie rankings) would be to generate a dataset locally that adheres to the same formatting.

[2018-01-09 09:53] KellenSunderland commented on #9332
We're actually never calling predict and never calling expect_equal in this test, unlike for example the 'MNIST' test.  This further convinces me that we don't need to be using real data here, and can probably use generated data.  I also get the impression we can narrow the scope of this test, such that it focuses on a single 'unit under test'.

[2018-01-09 10:15] jyuan1118 commented on #9028
Are you have any improvement about this project? I am kind of interested in it.  Thanks

[2018-01-09 10:43] alexmosc opened #9358 "Why does running 1 round of an MXNET model training produce Train-mse=NaN?"
If I run just 1 round of an MXNET model training with `mx.model.FeedForward.create` I get NaN as a training error. Is this for a purpose?

Why does one need to run just 1 round? In my case I make reinforcement learning with Q-function approximation, where I need to run a batch of examples through the network just one time.

[code]

Console:
[code]

[code]

## What have you tried to solve it?

If I

[2018-01-09 10:47] alexmosc commented on #7524
@jeremiedb
The link you have provided returns 404 error. Could you link to an existing page please?

[2018-01-09 11:07] janelu9 opened #9359 "Does gluon's dnn support data format of libsvm other than mxnet's?"
The data consists of lines like the following:

-1 4:1 6:1 15:1 21:1 35:1 40:1 57:1 63:1 67:1 73:1 74:1 77:1 80:1 83:1 \n

[2018-01-09 11:18] kmarlen1988 commented on #1546
I'm using googlenet in mxnetR but the predicted probabilities are the same for all images. I tried to change the activation function, the batch size and i normalized the input to [-1,1]
The code is the following:
num_classes = 2

	ConvFactory <- function(data, num_filter, kernel, stride = c(1, 1), pad = c(0, 0),
                        name = '', suffix = '') {
		conv <- mx.symbol.Convolution(data

[2018-01-09 11:55] kmarlen1988 opened #9360 "Same predicted probabilities for googlenet using mxnetR"
I'm using googlenet in mxnetR but the predicted probabilities are the same for all images. I tried to change

- the activation function,
- the batch size and
- the initializer
I normalized the input to [-1,1] but most of the times I'm running the model the predicted probabilities remain the same.

The code is the following:

num_classes <- 2

ConvFactory <- function(data, num_filter, kernel, strid

[2018-01-09 12:26] szha commented on #8202
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-09 12:26] szha commented on #8204
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-09 12:26] szha commented on #7008
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-09 12:26] KineticCookie opened #9361 "infer_shape error for 'resnet-152'"
## Description
Hello. I ran to a problem with a model described in https://mxnet.incubator.apache.org/tutorials/python/predict_image.html
I tried to infer shapes for model inputs but encountered an error.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
I'm using Python 3.6 package.

## Error Message:
infer_shape error. Arguments:

-------------------------------------

[2018-01-09 13:02] KeyKy commented on #9337
3.Why the model decomposed by accnn.py cost much more GPU memory. About 1700 -> 3300. In my opinion, although it results to much more convolution, we can only one shared blob for the main route, another blob for the shortcuts.

[2018-01-09 13:06] abidmalik1967 commented on #9292
yes. Its fixed

On Mon, Jan 8, 2018 at 4:42 PM, Sheng Zha <notifications@github.com> wrote:

--
Abid M. Malik
******************************************************
"I have learned silence from the talkative, toleration from the intolerant,
and kindness from the unkind"---Gibran
"Success is not for the chosen few, but for the few who choose" --- John
Maxwell
"Being a good person does not depend on

[2018-01-09 13:43] qingyuanxingsi commented on #8287
Can mxnet be linked using **static** library?It succeeded in compiling,but also got same error as this one??

[2018-01-09 15:12] dongzhuoyao commented on #9115
will you implement it recently? @chinakook

[2018-01-09 16:33] ArmageddonKnight commented on #8287
@qingyuanxingsi  From my personal perspective, no. If you link it with static library, you will notice that all your symbols have not been registered.

[2018-01-09 16:44] jeremiedb commented on #7524
Sorry about that, did some updates on the examples. These should be cleaner: https://jeremiedb.github.io/mxnet_R_bucketing/TimeSeries_CPU

[2018-01-09 17:44] lebeg commented on #8287
@qingyuanxingsi @ArmageddonKnight yes you can, but you need a special flag to be set while linking. Look [here](https://github.com/apache/incubator-mxnet/pull/9349/commits/77db36a7c002c03b1e8930429f922776b398ba91)

For gcc: --whole-archive, for clang: -force_load

[2018-01-09 18:08] #9292 closed

[2018-01-09 18:08] szha commented on #9292
@abidmalik1967 good to know

[2018-01-09 18:24] ArmageddonKnight commented on #8287
@lebeg  @qingyuanxingsi Thanks a lot for your answer. I haven't considered the option of adding extra linking flags.

[2018-01-09 19:04] szha commented on #1546
@jeremiedb

[2018-01-09 21:37] ykim362 commented on #9350
@jerrin92 Could you please use below command instead?

$ make -j $(nproc) USE_OPENCV=1 USE_MKL2017=1 USE_MKL2017_EXPERIMENTAL=1 USE_BLAS=atlas

You might need to install atlas if you haven't.

sudo apt-get update && apt-get install -y libatlas-base-dev

[2018-01-09 22:44] nswamy commented on #3946
@piiswrong can you expand on why you suggesting that the executors should accessed from the same thread ? This means that for the lifetime of the process only thread will be responsible for interacting with MXNet.

[2018-01-09 22:55] zhreshold commented on #7533
I though it was resolved, but apprarently not, it exception is still uncaugh in python.

[2018-01-09 22:57] zhreshold commented on #9361
You need to provide the data shape if you are trying to run infer_shape.
Docs:
https://mxnet.incubator.apache.org/api/python/symbol/symbol.html?highlight=infer_shape#mxnet.symbol.Symbol.infer_shape

[2018-01-09 23:05] eric-haibin-lin opened #9363 "Incorrect weight_decay implementation in AdaGrad"
In Adagrad, weight_decay should be applied to grad before clipping the gradient/updating the state/weight.

https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer.py#L856-L858

Also adadelta: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer.py#L982

[2018-01-09 23:06] eric-haibin-lin commented on #9357
No model parallel across multi-machines is not supported as of now.

[2018-01-09 23:25] sxjscience opened #9364 "CUDNN_STATUS_INTERNAL_ERROR in V100"
## Description
Cannot run gpu operator test on V100. I'm using the P3.2x machine + the latest master + cuda 9.0 + cudnn v7.0.3

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia): Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc

MXNet commit hash: 492a5fde03418ae31b64d9866ca6a7a5c72388d3

Build config:
(Paste the content

[2018-01-10 00:04] zhreshold commented on #9185
@fedorzh Data aug is crucial, random crop and horizontal random flip is very useful.
I am also tuning on cifar10, I will let you know what I've figured out.

[2018-01-10 00:21] sxjscience commented on #9364
Seems not related to MXNet as I still have the error using the pip version

[2018-01-10 00:21] #9364 closed

[2018-01-10 00:26] szha commented on #8178
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-10 01:24] ykim362 commented on #8532
@cjolivier01 From the experimentations, the behavior varies case by case. Some combinations of versions work fine. Some are not. So, the workaround @larroy pointed (LD_PRELOAD env variable) might be a good option. Also, it is recommended to use MKL-enabled MXNet with non-MKL python to get the best performance for neural network workloads.

[2018-01-10 01:35] jeremiedb commented on #1546
@kmarlen1988, can you confirm whether your intent to limited to prediction or to retrain a complete model? It seems like you attempted to launch training on cpu, which is likely not a good idea as it would takes ages to train large model such as Inception or Resnet on cpu.

If you want to use a pre-trained model to perform prediction, you can look at the steps here: http://dmlc.ml/rstats/2015/12/0

[2018-01-10 02:08] jeremiedb commented on #7968
Could you provide the details on how you add gc() within mx.model.FeedForward.create? The gc() modification did solved it the memory consumption on my end.

[2018-01-10 02:16] szha commented on #8532
@ykim362 our goal is to be able to provide good out-of-the-box experience for MKL-enabled mxnet. Though the workaround might be good for experienced users, we cannot control the environment in which mxnet runs for pip users. Thus, I'm still leaning towards the way @cjolivier01 proposed above if possible.

Do you mind sharing more on the dependencies of mklml to help figure out the feasibility of s

[2018-01-10 02:18] animebing commented on #4134
@lordofgod , I am sorry that I can't help you, because I haven't  used MXNET for almost one year.

[2018-01-10 03:09] fedorzh commented on #9185
I did experiment with these, and only horizontal flip makes a large difference. However, the results a significantly different even if I do use the flip.

[2018-01-10 03:12] jiarenyf opened #9368 "MultiBoxTarget +1 to label automatically is so strange ..."
I wonder in https://github.com/apache/incubator-mxnet/blob/492a5fde03418ae31b64d9866ca6a7a5c72388d3/src/operator/contrib/multibox_target.cc#L259, why plus 1 to the target clsID in the code ? Shouldn't we manually add 1 when preparing label (assume 0 is for background) ? Why the code does this job automatically ?
So we should set the positive label start from 0 when preparing data, and then when ca

[2018-01-10 03:14] #9368 closed

[2018-01-10 05:22] opringle commented on #8663
Also getting the same error while trying to implement bucketing with variable length data/label:

#Steps to reproduce

[2018-01-10 09:58] alexmosc commented on #7524
@jeremiedb :
Thank you. This is a master code! However, do you mind if I point to a somewhat strange thing: in your prediction analysis, the predicted timeseries is very much just a lagged version of the real timeseries. It may be due to insufficient training, but in general this is indicative of either the data problem or model problem. What do you say?

[2018-01-10 10:10] #9337 closed

[2018-01-10 11:06] chinakook commented on #9115
@dongzhuoyao I've not sure about that whether the ABN is covered by the mirror feature of mxnet or [mxnet-memonger](https://github.com/dmlc/mxnet-memonger) machanism. So I will compare them at first.

[2018-01-10 11:46] #9112 closed

[2018-01-10 12:26] szha commented on #8156
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-10 13:37] asmushetzel commented on #9295
@meissnereric
Eric, can you own this (I'm willing to help). The configuration that fails is
python3, USE_MKL2017=1, USE_MKL2017_EXPERIMENTAL=1, USE_BLAS=openblas
The hanging test executes seyvd, which according to the above settings,  will be the openblas-version of seyvd.
Nobody currently knows what the issue is, there seems to be no change in test environment, neither have we modified any linalg

[2018-01-10 13:43] meissnereric commented on #9295
Sure, I'll have a look at it today thanks for letting me know.

[2018-01-10 20:26] lichen11 commented on #7968
I added gc() quite a few times before training and three times within training. Please see below:

    gc()
    model <- mx.model.FeedForward.create(
      gc(),
      symbol             = new_soft,
      X                  = train,
      eval.data          = val,
      ctx                = mx.gpu(0),
      eval.metric        = mx.metric.accuracy,
      num.round          = 1,
      learning.rate

[2018-01-10 20:33] KellenSunderland commented on #9295
Did these test start failing around the end of December, when this change was merged?  https://github.com/apache/incubator-mxnet/commit/d0388d00d5959d96341129a40ab21264476dfda6#diff-6d85ccdfa8c4118c1722e64466901ef2

[2018-01-10 20:39] marcoabreu commented on #9295
That's the one! Yes, it started happening after Christmas. You're awesome
Kellen, thanks for finding it!

On Wed, Jan 10, 2018 at 9:33 PM, Kellen Sunderland <notifications@github.com

[2018-01-10 22:58] #9007 closed

[2018-01-10 23:04] lxwgcool opened #9372 "Compile Error: /usr/bin/ld: cannot find -lcuda"
## Description
I try to compile mxnet from source code and get the error below:
/usr/bin/ld: cannot find -lcuda
Even i try to reset the path of CUDA (such as "USE_CUDA_PATH=/apps2/cuda/8.0.61"), however, the compiler keep finding CUDA in the system folder.

## Environment info (Required)
Red Hat Enterprise Linux Workstation release 6.7 (Santiago)

## Build info (Required if built from source)

Com

[2018-01-10 23:08] ykim362 commented on #8532
@szha I totally agree with you regarding the OOB experience! Actually, our concern is that static linking doesn't solve the problem. How about trying rpath compile option?

@fhieber Could you provide some more detailed information to re-generate this situation? The behavior varies, so I would like to test with the exactly same environment.

[2018-01-10 23:23] szha commented on #8532
@ykim362 could you elaborate? Currently I'm using '${ORIGIN}' in rpath for mkl builds already, and shipping mkl shared objects along with libmxnet.so. I don't think this prevents other omp from being loaded first and hence doesn't solve our problem. Are you referring to a different solution that's based on rpath?

[2018-01-11 00:26] szha commented on #7292
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-11 00:36] rsdubtso commented on #8532
MKL dev here. Can somebody please verify that the pip packages are not linked to OpenMP (Intel's libiomp5) statically? If any one of them is, then this would be a problem. If every single package links to OpenMP dynamically, this should probably work (disclaimer: this needs to be verified; the libmkl_rt.so on Linux loads libiomp5.so via dlopen and I'm not 100% sure what would happen if the library

[2018-01-11 00:44] sami-badawi commented on #9050
I get the this segfault:
[code]

when running C++ version of
```cpp-package/example/lenet```

This is where the segfault is thrown:

[code]

I have built it on a OS X 10.13.2
I disabled as many libraries as possible.

I have been able to run Python version of lenet when I installed it with ```pip```.

[2018-01-11 01:06] szha commented on #8532
@rsdubtso Hi. I can verify that mxnet pip package is linked dynamically to `libiomp5.so`. We include `libiomp5.so` in the pip package using the rpath trick described above.

[2018-01-11 01:37] jeremiedb commented on #7968
Adding the gc() in the function arguments won't have effect during training time.
gc() needs to be added within the function definition, ie:

[code]
Calling `x(a=1, b=2, gc())` just won't work since you're passing function arguments.
You would need to add the gc() here:: https://github.com/apache/incubator-mxnet/blob/master/R-package/R/model.R#L221
To be effective, you'll need to source these func

[2018-01-11 01:47] jeremiedb commented on #7524
Thanks for pointing this out. I took a second look and I believe the code is correct. There hasn't  been an extensive parameter tuning of the model and making predictions on a long future horizon can easily result in errors build up (during training, the previous real label is provided).
Not impossible there's a bug though, please advise if you see one.

[2018-01-11 03:40] rsdubtso commented on #8532
Hm. Seems like the numpy package also uses dynamic linking to libiomp5. Do you have a small repro that I could try? (Please do include all the necessary package installation steps -- I'm pretty new to all this stuff...)

PS. I also tried installing mxnet for python2.7 conda and it seems to be missing libmxnet.so completely... should I be using conda for python3?

[2018-01-11 05:14] masa-ito-fj opened #9374 "Conversion from Gluon block to MXNet module failed"
Could you please give me some advice about how to fix my python script for converting a neural network model from Gluon block to MXNet module?

## Description of the problem

My script can successfully downloaded a ResNet-18 model from Gluon model zoo as a Gluon block object and converts it to a MXNet module object. But when the module object uses its bind method to create memory for the downloade

[2018-01-11 06:07] xiaowenhe commented on #6147
@bohdankornienko ，Do you get it now? I want to know the  formulas/pseudo-code  how does GridGenerator calculated too. Thanks!

[2018-01-11 06:12] xiaowenhe commented on #6147
@piiswrong ,can you explain the details and give a formulas/pseudo-code about the  GridGenerator calculated ?

[2018-01-11 07:00] DabiaoMa commented on #9302
@shiyangdaisy23
Here is an simple example:
######################

from mxnet import nd, gpu, autograd, gluon
import numpy as np
import librosa

ctx = gpu(2)
fft_length = 256
fft_size = fft_length // 2 + 1

f = gluon.nn.Dense(1, flatten=False)
f.collect_params().initialize(ctx=ctx)

wavs = nd.array(librosa.load('210001.wav', sr=16000, mono=True)[0], ctx=ctx)
x = nd.random.uniform(shape=(1, wavs.sh

[2018-01-11 07:38] mseeger commented on #9295
Eric Meissner in Cambridge now owning this one.

On Jan 10, 2018 9:33 PM, "Kellen Sunderland" <notifications@github.com>
wrote:

[2018-01-11 08:15] DabiaoMa commented on #9302
@shiyangdaisy23
Sorry, it is my mistake, the number of padding zeros are not correct. There is nothing wrong with nd.contrib.fft

[2018-01-11 09:31] guotong1988 opened #9375 "Does Nvidia have a kind of cuda driver to install for the machine without GPU?"
So after installing the cuda driver on the NO-GPU machine, we can debug on it in GPU-mode, which is the same as a machine with GPU~
Sorry to trouble you and thank you very much~

[2018-01-11 09:57] universewill commented on #9340
The build from source tutorial doesn't give solution to build python package. How do you do that? @dangulod

[2018-01-11 12:13] ly-atdawn opened #9376 "Init bias term in every layer"
In mxnet, the bias term in a layer is default inited with 0., if I want to init bias term to 0.1, how could I do?
I tried some ways, for example:
init_patterns = ['.*', 'bias'] # init pattern. bias init wrong, always is 0.
init_methods = [mx.initializer.Xavier(rnd_type="uniform", factor_type="avg", magnitude=1.0),
    mx.initializer.Constant(value=0.1)]
 initializer = mx.initializer.Mixed(init_pat

[2018-01-11 12:26] szha commented on #8221
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-11 12:26] szha commented on #8238
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-11 13:44] meissnereric commented on #9295
Hmm, the plot thickens.

So on a c5.2xlarge instance I built mxnet from source using USE_MKL2017=1, USE_MKL2017_EXPERIMENTAL=1, USE_BLAS=openblas flags this morning and ran
PYTHONPATH=./python/ nosetests3 --verbose tests/python/unittest

3 separate times test_operator.test_laop_3 FAILED apparently due to some numerical issues. I haven't seen anyone mention this test failing yet, but it didn't hang

[2018-01-11 14:33] KineticCookie commented on #9361
@zhreshold thanks for pointing it out.
But the thing is, what if I don't know what data shape is for current model?
In this [tutorial](https://mxnet.incubator.apache.org/tutorials/python/predict_image.html) shape is basically hardcoded: `mod.bind(for_training=False, data_shapes=[('data', (1,3,224,224))], label_shapes=mod._label_shapes)`
I try to abstract over that and can't find a proper solution.

[2018-01-11 14:33] alexmosc commented on #7524
@jeremiedb , I will try to run the code myself. If I will understand where the source of bad modelling is I will post here. Thank you!

[2018-01-11 14:41] KineticCookie commented on #9361
The broader question:
Is there a way to get information (names, data types, shapes) about model inputs and outputs using only model persistence mechanism? (like Tensorflow model signatures)

[2018-01-11 16:23] imamdigmi opened #9377 "Error: Can't find 'R-package' during the installation"
## Description
Hi! I'm trying to install MXNet following [this guide](http://mxnet.incubator.apache.org/get_started/install.html) on Ubuntu 16.04 for R with GPU but have some problem here, it cant find R-Package, so I'm trying to googling how to install R-Package but i'm cant find that package.

## Environment info
I'm using R
[code]

## Build info
Compiler gcc

MXNet commit hash:
a5edbf94094581ee

[2018-01-11 17:01] pitLog opened #9378 "Mxnet C API CPU Mode segmentation fault"
## Description
I try to use mxnet c_api but it crashes.

## Environment info (Required)
Win 10 64 bits, VS 2015

This is my sample :

`...
        mx_uint * shape = NULL;
        mx_uint shape_len = 0;
        MXPredSetInput(m_predictor, "data", in_data.data(), static_cast<mx_uint>(size));
        MXPredForward(m_predictor);
        MXPredGetOutputShape(m_predictor, 0, &shape, &shape_len);

[2018-01-11 17:19] szha commented on #9375
https://stackoverflow.com/questions/3087361/gpu-emulator-for-cuda-programming-without-the-hardware

[2018-01-11 18:44] lupesko commented on #9378
hey @pitLog - as a first step, can you please try [this example](https://github.com/apache/incubator-mxnet/tree/master/example/image-classification/predict-cpp) on CPU and see if it is working?

[2018-01-11 18:45] lupesko commented on #9378
@nswamy please label as:
- Pending Requester Info
- C++
- Triaged

[2018-01-11 19:11] lupesko commented on #9377
@imamdigmi to help us help you, can you please list all the steps you followed as you were building the package?
(Linux/R requires you to build from source...)

Thanks!

[2018-01-11 19:12] lupesko commented on #9377
@nswamy can you please apply the labels:
- R
- Linux
- Pending Requester Info

[2018-01-11 19:23] lupesko commented on #9376
Hi @ly-atdawn
You'll need to use a custom initializer, see more details [here](https://mxnet.incubator.apache.org/api/python/optimization.html#mxnet.initializer.register).

Going forward, for questions like this or follow up questions please use the [MXNet Discuss Forum](https://discuss.mxnet.io/).

[2018-01-11 19:23] lupesko commented on #9376
@nswamy please apply label:
- Python
- Question

And close the issue. Thanks!

[2018-01-11 19:30] lupesko commented on #9375
@guotong1988 going forward please use the [MXNet Discuss Forum](https://discuss.mxnet.io/) for questions.

[2018-01-11 19:31] lupesko commented on #9375
@szha can you please apply label "Question" and close?
Thanks!

[2018-01-11 19:37] szha commented on #9375
@guotong1988 closing now. Do let us know if you need any other help. Also, you may want to check out https://discuss.gluon.ai/

[2018-01-11 19:37] #9375 closed

[2018-01-11 20:19] aidan-plenert-macdonald opened #9380 "nd.stack causes abort for differently sized arrays"
[code]
[full output](https://gist.github.com/aidan-plenert-macdonald/17db427a6404d0588326d7d91ca08fc7)

This causes the Python environment to exit. A simple non-fatal error message would suffice in this case.

[2018-01-11 21:07] #9376 closed

[2018-01-11 21:23] zhreshold commented on #9361
You can't get any output shape without input shape, that's true for every single library.
If you would like have attributes of layers, gluon do have it.
[code]

[2018-01-11 21:27] zhreshold commented on #9185
@fedorzh I have switched to ImageRecordIter with cifar_train.rec just like https://github.com/tornadomeet/ResNet/blob/master/symbol_resnet.py you mentioned, with gluon model, I got ~95% validation acc. So it's not the problem with gluon model, but the way to apply data augmentation.

With that confirmed, using Dataloader with proper transformation can also achieve good accuracy IMO.

[2018-01-11 21:29] kmarlen1988 commented on #1546
Thank you for your answer.  I want to train the model using my data on gpu.  I tried to use a pre-existing model with 2 classes but the predicted probabilities were similar and all images were classified in one class.

[2018-01-11 21:29] eric-haibin-lin opened #9381 "(Flaky?) perl test failure"
I'm looking at the build status for each commit on MXNet master and noticed that perl test failed once a few weeks ago. Was this already fixed? @sergeykolychev

[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/74/pipeline

[2018-01-11 21:59] fedorzh commented on #9185
Very interesting as I also tried that. Could you please share the exact code for me to debug the exact differences?

[2018-01-11 22:04] zhreshold commented on #9185
https://gist.github.com/zhreshold/0ef2aafe48dbbc14a18ce8afffce3c00

[2018-01-11 22:07] eric-haibin-lin opened #9382 "Failed kvstore nightly test"
http://jenkins-master-elb-1979848568.us-east-1.elb.amazonaws.com/job/KVStore_SingleNode_Tests/77/console

The nightly test "test_kvstore.py" has been failing for the past week.

[code]

[2018-01-11 22:29] jiayiliu commented on #7784
Here is the way to reproduce the problem.  Probably I misunderstand the meaning of list of NDArrays.
Any suggestion?  thx.

(16, 3, 32, 32)

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ubuntu/.local/lib/python2.7/site-packages/mxnet-1.0.0-py2.7.egg/mxnet/io.py", line 157, in __init__
    assert isinstance(data, (list, tuple)), "Data must be list of NDArra

[2018-01-11 23:06] jiayiliu commented on #9026
Could we switch to some faster way for data feeding?  I didn't see any way to do multi-thread with DataIter.  I don't think `PrefetchingIter` works here because the data is already in memory.

Any suggestions are welcome.  Thank you!

[2018-01-12 00:00] eric-haibin-lin opened #9384 "Flaky row_sparse_pull test"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-9329-merge/21/pipeline

[code]

@reminisce

[2018-01-12 00:02] yuxiangw opened #9385 "`np.linalg.solve` needed"
## Description
The linear algebra package: `ndarray. linalg`  seems to be missing an important feature.
So far there is no api for solving linear system of equations of the form:

`Ax = b`

This is the most basic operation in linear algebra and matlab can do it with a simple `backslash`, or simply `x = A\b`.

## Environment info (Required)

This is basically mirroring the following function in `nu

[2018-01-12 00:26] szha commented on #8239
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-12 00:33] marcoabreu commented on #9384
Maybe related to #9378 ?

[2018-01-12 00:34] marcoabreu commented on #9381
#   Failed test at t/test_loss.t line 233.
# Looks like you failed 1 test of 24.

[2018-01-12 01:16] ly-atdawn commented on #9376
Thanks

[2018-01-12 01:32] ly-atdawn commented on #9376
I want to set like this:
weight init like: mx.initializer.Xavier(rnd_type="uniform", factor_type="avg", magnitude=1.0)
bias init like:
@mx.init.register
    # @alias('myinit')
    class CustomInit(mx.init.Initializer):
        def __init__(self):
            super(CustomInit, self).__init__()
        def _init_weight(self, _, arr):
            pass
            # arr[:] = 0.1
        def _init_bias

[2018-01-12 01:33] ly-atdawn opened #9387 "Init bias term in every layer"
I want to set like this:
weight init like: mx.initializer.Xavier(rnd_type="uniform", factor_type="avg", magnitude=1.0)
bias init like:
[code]
How can implement this? Help a lot

[2018-01-12 01:51] ly-atdawn commented on #9387
I use mx.initializer.Mixed() have resolved this problem.
Thanks a lot

[2018-01-12 01:51] #9387 closed

[2018-01-12 03:28] seyoungleecho opened #9388 "Official version of pretrained MobileNet/ShuffleNet/NASNet is available?"
I working on semantic segmentation using efficient/low memory consumption architectures.
Is any pretrained models MobileNet/ShuffleNet/NASNet trained on ImageNet data is available?
KIndly help since SqueezeNet results for semantic segmentation is not promising......because SqueezeNet accuracy itself is low.....

[2018-01-12 03:32] seyoungleecho commented on #9388
@szha , any updated on pretrained models in #9215.

[2018-01-12 04:31] githubcrj opened #9390 "Why ndarray no vstack like numpy?"
In numpy we can like this:
a = np.ones((5,2))
b = np.one((3,2))
stack them vertically
c = np.vstack((a,b))
but in ndarray we cannot do that.

In ndarray concat function can do that.

[2018-01-12 04:32] chowkamlee81 opened #9391 "How to view the network with only model.params without having .json file?"
I had a model file mobilenet-1.0-0000.params but doesn't have .json file.
I would like to view/visualize the network in jpg/png files. Is there is any possibility to view the model? Kindly help

[2018-01-12 05:15] szha commented on #9388
Yes, it's available now in the master branch and you can start using it. It will also be included in the next release.

[2018-01-12 05:41] chowkamlee81 opened #9392 "Official version of MobileNet pretrained model and .json file"
Recently i found MobileNet gluon version of model.param.

I would like to have symbolic version of mobileNet in model.param and also .json format file.
Is anything are avilable in modelzoo with json and mobilenet.param file.
Kindly reply...
@szha do you any updates on this....

[2018-01-12 05:46] szha commented on #9392
Gluon model zoo has it in master branch now, which you can use to generate the json and param
[code]

[2018-01-12 05:47] chowkamlee81 commented on #9388
thanks szha, closing the issue...

[2018-01-12 06:09] sergeykolychev commented on #9381
Was not aware of this, I'll fix this asap.

[2018-01-12 06:51] zhangguotai opened #9393 "I encounter a problem in the process of running example!"
/home/root/Inception/Inception/caffenet-symbol.json ... 9015 bytes
/home/root/Inception/Inception/caffenet-0000.params ... 243861676 bytes
[14:05:34] src/nnvm/legacy_json_util.cc:190: Loading symbol saved by previous version v0.8.0. Attempting to upgrade...
[14:05:34] src/nnvm/legacy_json_util.cc:198: Symbol successfully upgraded!
terminate called after throwing an instance of 'cl::Error'
  what()

[2018-01-12 06:55] mseeger commented on #9295
Hello,

This test compares A and identity to what you get computing expressions
from U and Lambda.
Please output everything, A, U, Lambda, and results of expressions. Do this
directly in numpy format. Then compare to numpy. Use same style.
These errors are too large to be due to low prec.
Exactly what a test is for.

If you find something wrong either with syevd, or worse, with gemm2, please
isola

[2018-01-12 07:00] chowkamlee81 commented on #9392
Hi szha, model has been downloaded . But while exporting to .json and .param files throws an error ""Please first call block.hybridize() and then run forward with "
                "this block at least once before calling export."

Kindly help to resolve the issue as it thrown an exception in mxnet/gluon/block.py below code

    def export(self, path, epoch=0):
        """Export HybridBlock to jso

[2018-01-12 07:00] chowkamlee81 commented on #9392
@szha , model has been downloaded . But while exporting to .json and .param files throws an error ""Please first call block.hybridize() and then run forward with "
"this block at least once before calling export."

Kindly help to resolve the issue as it thrown an exception in mxnet/gluon/block.py below code

def export(self, path, epoch=0):
    """Export HybridBlock to json format that can be load

[2018-01-12 07:20] marcoabreu commented on #9295
Just FYI, we updated MXNet to use MLKML v0.12 last night.

Am 12.01.2018 7:55 vorm. schrieb "mseeger" <notifications@github.com>:

[2018-01-12 08:11] szha commented on #9392
Sorry, my bad.
[code]

[2018-01-12 08:41] chowkamlee81 commented on #9392
Got the one. Thanks its working... Closing the issue...

[2018-01-12 08:41] #9392 closed

[2018-01-12 09:24] limky83 opened #9395 "ModuleNotFoundError: No module named 'skimage'"
Tried running a python program that imports the following:
import os
import sys
import tensorflow as tf
import skimage.io as io
import numpy as np

and the error "No module named 'skimage'" shows.

I am using Python 3.6.4

## Error Message:
  File "C:/Python36/imgSegmentation2.py", line 8, in <module>
    import skimage.io as io
ModuleNotFoundError: No module named 'skimage'

## What have you trie

[2018-01-12 10:15] pitLog commented on #9378
I tried your example.

First data model doesn't work and crashes for another reason :
`mxnet\dmlc-core\include\dmlc/logging.h:308: [11:01:34] d:\dev\3rdparty\ms\axel\logiroad\all_mxnet\training\mxnet\src\operator\./concat-inl.h:184: Check failed: shape_assign(&(*in_shape)[i], dshape) Incompatible input shape: expected (1,0,14,14), got (1,320,13,13)`

But the second works well if I remove NDListHan

[2018-01-12 10:22] pitLog commented on #9378
It appears the problem come from my model/param, because I find the same bug if I load my model with the predict example code.
But why ?

[2018-01-12 10:51] schlichtanders commented on #9157
anyone?

[2018-01-12 11:19] nicklhy opened #9396 "speed drop after updating mxnet from 0.10.0 to 1.0.0"
Hi, I just updated mxnet today from 0.10.0 to 1.0.0 in order to use some new features. Both versions are installed with pip like `pip3 install mxnet-cu80==1.0.0`. However, after a detailed benchmark test, I observed a significant speed drop when running resnet inference especially when batch size is small. The result for resnet152 is like below:

[code]

[code]

PS. I noticed that when batch size

[2018-01-12 11:39] KineticCookie commented on #9361
I executed your snippet, and I can't find information about shapes model was trained with.
[code]
Layer attribute doesn't contain information to get a model input and output shape. Moreover I can't find a data types for each layer.

I made an additional search and found this issue #7641 with @jeremiedb explaining shapes implementation:

Seems like mxnet infers information about shapes and data typ

[2018-01-12 12:26] szha commented on #8176
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-12 12:26] szha commented on #8251
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-12 14:46] imamdigmi commented on #9377
Yap! @lupesko here are the steps I took :
1.`git clone --recursive https://github.com/apache/incubator-mxnet.git mxnet --branch 0.11.0 && cd mxnet`
2. `sudo apt-get install -y libopenblas-dev liblapack-dev`
3. `make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1`
4. `make rpkg`

and i got the error.

[2018-01-12 15:21] meissnereric commented on #9295
With some help from Zhenwen in debugging the problem, I think we've figured out what the bug is that's causing this. Somewhere during syevd the signs of the eigenvectors are getting computed or flipped incorrectly.

Haven't found where its introduced or how, but below is some simple example code to reproduce the issue. This was running the latest mxnet build as of this morning, with MKLML v0.12.

[2018-01-12 15:48] yimingliu0216 commented on #9094
I have the same issue here. Using mxnet 1.0.1. Getting the actual error message. Do I have to reinstall mxnet using 0.8.0?

[2018-01-12 16:12] calendarbase opened #9399 "error: unable to load shared object /mxnet/libs/libmxnet.so"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-01-12 16:40] shuokay commented on #9391
No, params file is a dict like file, no symbol info in it

[2018-01-12 16:54] rayjs commented on #6223
@piiswrong
http://mxnet.incubator.apache.org/api/python/module/module.html#mxnet.module.Module
In modules constructor I provide the list of parameters that are to be freezed(in `fixed_param_names`) in the new network.

But what about the auxiliary variables from the old network that are copied to the new network. Are they going to be freezed as well during the training of the new network, such as

[2018-01-12 20:22] opringle opened #9405 "BucketingModule causes uncaught exception if symbol name not specified"
## Description

When using the *BucketingModule* together with *mx.rnn.BuckSentenceIter*, I hit an uncaught exception if I do not specify the symbol name in either *mx.sym.Embedding* or *mx.sym.FullyConnected* symbols, despite each symbol in the network having a unique name.

## Environment info (Required)

[code]

I'm using python

## Error Message:

[code]

## Minimum reproducible example

[code

[2018-01-12 20:39] eric-haibin-lin commented on #9396
might be related to #9055

[2018-01-12 21:03] mseeger commented on #9295
I noticed this issue with the signs as well, and I am in fact controlling
the signs, see my code.

The test however should be independent of signs of eigen vectors, it just
depends on the definition of the decomposition, right?

On Jan 12, 2018 4:22 PM, "Eric R Meissner" <notifications@github.com> wrote:

With some help from Zhenwen in debugging the problem, I think we've figured
out what the bug

[2018-01-12 21:04] mseeger commented on #9295
The test does not compare eigen vectors. This cannot be the reason it fails.

On Jan 12, 2018 4:22 PM, "Eric R Meissner" <notifications@github.com> wrote:

[2018-01-12 22:05] zhreshold commented on #8338
Any fix so far?

[2018-01-12 22:16] sxjscience commented on #8338
In fact I haven't met this problem again using the latest version.

[2018-01-12 22:22] zhreshold commented on #8338
@sxjscience On centos as well?

[2018-01-12 22:33] sxjscience commented on #8338
@zhreshold Yes, the server in my lab uses `CentOS Linux release 7.4.1708 (Core)` + `CUDA8.0` and I can compile MXNet successfully.

[2018-01-12 22:35] marcoabreu opened #9408 "[CI] Merging is not possible because you have unmerged files."
Description WIP

Initial error: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-9406-merge/1/pipeline/
[code]

Future errors: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-9406-merge/9/pipeline/
[code]

``git status`` on Jenkins master
[code]

[2018-01-13 00:09] fedorzh commented on #9185
@zhreshold you used `resnet101_v2` but I talked about `resnet18_v2`; the tornadomeet version gets high accuracy with the much shallower resnet

[2018-01-13 00:18] mbaijal commented on #7750
All the points mentioned were fixed as a part of:
1. https://github.com/apache/incubator-mxnet/pull/8051
2. https://github.com/apache/incubator-mxnet/pull/8061

[2018-01-13 00:18] #7750 closed

[2018-01-13 00:20] fedorzh commented on #9185
Here is the command I used to train ResNet from tornadomeet:
`python -u train_resnet.py --data-dir data/cifar10 --data-type cifar10 --depth 20 --batch-size 64 --num-examples 50000 --gpus=0`

If you dig into the code, you can see that for this configuration, the model is not very deep. Moreover, besides horizontal flip and pad=4 with fill, there is no data augmentation (and you do mean and other no

[2018-01-13 00:20] mbaijal commented on #7749
This issue was fixed for the 1.0.0 release. New comments are being tracked in a different issue - https://github.com/apache/incubator-mxnet/issues/8913

[2018-01-13 00:20] #7749 closed

[2018-01-13 00:55] fedorzh commented on #9185
I also tried to train with the Module rather than with the gluon Trainer:
[code]

[2018-01-13 01:48] nicklhy commented on #9396
@eric-haibin-lin , great to see this work. I will test the performance after it is merged.

[2018-01-13 01:55] fedorzh opened #9410 "Training with the same parameters and seed gets significantly different results"
Train with the same parameters and seeds, get different results. Repro:

[code]

Output:
[code]

[2018-01-13 02:09] fedorzh commented on #9410
I use Python 2 so the Issue https://github.com/apache/incubator-mxnet/issues/8658 shouldn't influence.

[2018-01-13 02:10] sxjscience commented on #9410
I think only one script is needed. We could run it multiple times to see if the results are the same.

[2018-01-13 02:19] fedorzh commented on #9410
To make sure this is not the initialization issue, I made `mx.init.One()`. With this, I wasn't able to reproduce on the whole dataset, but I was able to reproduce if trained on a subset:

[code]

and
[code]

It is faster (only 5K examples to train on) and more clear (initialization should be deterministic) to work with this version

[2018-01-13 02:22] zhreshold commented on #9185
@fedorzh If you change `resnet101_v2` to `resnet18_v2`, it achieves ~94.7 validation acc using the same script. Is there additional concern you have?

[2018-01-13 09:37] jeremiedb commented on #1546
Sorry it's hard to provide to tell whether it's more of a modeling issue or a bug with mxnet itself without a reproducible error.

What version of Mxnet do you use? There has been bug with the initializer for a short-period of time around Oct-Nov 17. If you can train a toy model like MNIST, then it's not an initializer issue.

If you want to perform 2 classes classification, I'd recommend to start

[2018-01-13 10:26] jeremiedb commented on #9377
Have you tried to install the current release rather than 0.11.0? I'd recommend using latest release, though it requires R >=3.3.

[2018-01-13 12:26] szha commented on #8257
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-13 12:26] szha commented on #8270
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-13 15:13] analog-cbarber opened #9411 "gluon.data.vision datasets should have layout option"
(mxnet 1.0.0)

The datasets provided in mxnet.gluon.data.vision do not provide an option for the initial data shape and simply put the channel dimension last for some reason. Unfortunately, this choice clashes with the default layout of NCHW for the Conv2D block, which is frequently the first layer in models using these data sets. It also clashes with the native layout of these datasets. In the ca

[2018-01-13 21:43] szha opened #9412 "Flaky Tests Tracking Issue"
# What
Thanks to community members, we identified tests that are flaky and need fixing. I'm putting together the list of open issues for tracking them and calling for help on fixing them.

We use this issue for tracking progress and coordinating efforts.

| Issue | Requester        | Category       | Cause                                | Status |
|-------|------------------|----------------|-----

[2018-01-13 22:37] sergeykolychev commented on #8928
@szha I am looking into this and as well into another flaky test t/test_loss.t

[2018-01-13 22:39] sergeykolychev commented on #9412
I am taking #8928 (Perl issue)

On Sat, Jan 13, 2018 at 1:44 PM, Sheng Zha <notifications@github.com> wrote:

[2018-01-13 22:49] xuw080 opened #9413 "training GAN on multiple GPU, found this error: mxnet.base.MXNetError: [14:39:38] src/ndarray/ndarray.cc:518: Check failed: from.shape() == to.shape() operands shape mismatchfrom.shape = [1,293,256,14,14] to.shape=[293,256,14,14]"
## Error Message:
(Paste the complete error message, including stack trace.)
src/ndarray/ndarray.cc:518: Check failed: from.shape() == to.shape() operands shape mismatchfrom.shape = [1,293,256,14,14] to.shape=[293,256,14,14]

Stack trace returned 10 entries:
[bt] (0) /data4/xuw080/mx-maskrcnn/incubator-mxnet/python/mxnet/../../lib/libmxnet.so(_ZN4dmlc15LogMessageFatalD1Ev+0x3c) [0x7f64fd0470bc]
[b

[2018-01-13 23:44] wildhunter-66 commented on #9094
Hi yimingliu0216
Just install version 1.0.0 from https://github.com/apache/incubator-mxnet/releases/tag/1.0.0
It's working perfect.
On reading lines (170, 171, 172, 173) from file: https://github.com/apache/incubator-mxnet/blob/master/src/nnvm/legacy_json_util.cc   you can see witch versions you can use:
  170     {MXNET_MAKE_VERSION(**100, 0, 0**), UpgradeJSON_Parse},
  171     {MXNET_MAKE_VERSIO

[2018-01-14 00:26] szha commented on #4882
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-14 00:26] szha commented on #8273
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-14 00:26] szha commented on #7880
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-14 01:41] yimingliu0216 commented on #9094
Thanks for the reply. I already downgrade to 1.0.0. It works fine now, but it wastes my date to reinstall the mxnet.

[2018-01-14 02:01] sergeykolychev commented on #9412
@szha merged https://github.com/apache/incubator-mxnet/pull/9414 that should address two flaky perl tests and small change for viz that happened upstream recently.

[2018-01-14 03:58] sergeykolychev opened #9415 "[Perl] Rare segfault in rnn gluon test"

[2018-01-14 04:37] szha commented on #8928
Thanks for the effort. Closing now. One rare segfault case is tracked in #9415

[2018-01-14 04:37] #8928 closed

[2018-01-14 05:02] xuw080 commented on #9413
Solved.
add these lines in /incubator-mxnet/python/mxnet/module/executor_group.py before calling exec_.backward(out_grads=out_grads_slice) in def backward(self, out_grads=None):
            if len(out_grads_slice) > 0:
                out_grads_slice[0] = out_grads_slice[0].reshape((-1, 256, 14, 14))
            exec_.backward(out_grads=out_grads_slice)
It will change shape of out_grads_slice[0] f

[2018-01-14 05:23] xuw080 opened #9416 "Out of memory"
## Error Message:
(Paste the complete error message, including stack trace.)
[21:14:30] src/executor/graph_executor.cc:706: Bucketing: data bbox_target_stride32 has a shape [1,576], which is larger than already allocated shape [1,108]. Need to re-allocate. Consider putting default bucket key to be the bucket taking the largest input for better memory sharing.
[21:14:30] src/executor/graph_executor

[2018-01-14 05:56] takuya-takeuchi opened #9417 "[cpp-package] inception_bn.cpp is wrong"
## Description
Sample code is wrong. In InceptionFactoryB function, pooling variable is created by passing wrong arguments.

## Environment info (Required)
Windows 7/10

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): Visual Studio 2015

MXNet commit hash: #c3d6cf09007dc11e1a5e2227075422911aa2eb3e

## Error Message:
[code]

## What have you tried to solve i

[2018-01-14 07:05] tornadomeet opened #9419 "no 'use_global_stats' in gluon.nn.BatchNorm()"
hello,

 `use_global_stats` lie in both `ndarray` and `symbol`, but not in `gluon.BatchNorm()`, should we add it in gluon api?

 `use_global_stats` is used when fixed some network layer which use bn during fine-tune.

[2018-01-14 09:08] tornadomeet opened #9421 "how to add 'SpatialTransformer' in gluon api?"
`mx.sym.SpatialTransformer` and `mx.nd.SpatialTransformer` already exist, but not exist in gluon interface.

in pytorch, you can use `affine_grid`(http://pytorch.org/docs/master/nn.html#torch.nn.functional.affine_grid) and `grid_sample`(http://pytorch.org/docs/master/nn.html#torch.nn.functional.grid_sample) to implement stn, but it is in `torch.nn.functional` ,  so where shold this add in gluon, `

[2018-01-14 12:26] szha commented on #8222
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-14 12:26] szha commented on #7725
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-14 12:26] szha commented on #8201
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-14 12:26] szha commented on #6257
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-14 19:18] szha commented on #9421
I think gluon basic layers is fine. If you expect the interface design to iterate, then the safest bet would be gluon.contrib.

[2018-01-14 19:58] bhavinthaker commented on #9412
A few related PRs for reference on randomness problem in CI tests:
1. https://github.com/apache/incubator-mxnet/pull/8313
2. https://github.com/apache/incubator-mxnet/pull/8526

Info from @szha: https://pypi.python.org/pypi/flaky

See also: Email thread on dev@ titled: "Improving and rationalizing unit tests" and "Call for Help for Fixing Flaky Tests"

@szha It may help to add the above informatio

[2018-01-14 20:08] szha commented on #9412
@bhavinthaker good suggestions. I added these references.

[2018-01-14 23:15] moveforever opened #9425 "when saving CSRNDArray, is final saved CSRNDArray file dense format?"
@eric-haibin-lin

[2018-01-14 23:23] #9425 closed

[2018-01-14 23:41] fedorzh commented on #9185
@zhreshold, I really appreciate you sharing the code, it helped debug a few things.
It seems that the largest increase in accuracy indeed comes from using different data accessing methods. In comparison with my initial models, there are two increases in accuracy:
1. Random data modifications you have in `train_transform` give a significant boost over not having them in the `transform` function
2.

[2018-01-15 01:37] xuw080 commented on #9416
Solved, use largest data shape and label shape when calling bind

[2018-01-15 04:08] rayjs opened #9429 "How to provide std::vector<float> of parameters to operator layer"
Hi I want to provide a float and an int vector as parameter to my operator. I have the following definition but I get compilation error. To get around this instead of `std::vector<int>`, I use `Tshape`, which works fine but for `float` it is not possible because `Tshape` accepts `int`.

Please help.

[code]
Thank you

[2018-01-15 07:38] sxjscience commented on #8337
@leezu Could you help simplify this a little bit? I'll look at this tomorrow.

[2018-01-15 07:39] #9416 closed

[2018-01-15 07:41] sxjscience commented on #9429
@rayjs You can try to use `nnvm::Tuple<float>` instead

[2018-01-15 07:45] sxjscience commented on #9395
I feel that it's not related to MXNet as the code has `import skimage.io as io`. You need to install skimage (http://scikit-image.org/docs/dev/install.html)

[2018-01-15 07:45] #9395 closed

[2018-01-15 07:46] sxjscience commented on #9391
Yes, the `.params` just stores some NDArrays and do not define the computation logic.

[2018-01-15 08:32] parallelgithub commented on #9315
We added dependency in **sbt.built**
`"org.apache.mxnet" % "mxnet-parent_2.11" % "1.0.1-SNAPSHOT"`
as **pom.xml** or
add
`"org.apache.mxnet" % "mxnet-core_2.10" % "0.1.1"`
as **README.md** for Scala/Java,
but we got _unresolved dependency_ error.
How do we use the new version package ?

[2018-01-15 08:34] rayjs commented on #9429
Thank you so much :)

[2018-01-15 08:36] #9429 closed

[2018-01-15 11:15] GoodJoey opened #9430 "when i use k8s to distribute training, i get the error on scheduler?(my_node_.port) != (-1) bind failed"
Worker and server containers are fine, but get this error when creating scheduler container, anyone knows why? thanks.

Traceback (most recent call last):
  File "train_cifar10.py", line 22, in <module>
    from common import find_mxnet, data, fit
  File "/mxnet/example/image-classification/common/find_mxnet.py", line 20, in <module>
    import mxnet as mx
  File "/mxnet/python/mxnet/__init__.py",

[2018-01-15 12:32] meissnereric commented on #9295
We’ve been working on it this morning and have narrowed the issue down to a problem with syevd, only reproducible in the test environment.

Running the following simplified code:
[code]
Inside the test environment (using “PYTHONPATH=./python/ nosetests3 --verbose tests/python/unittest/test_operator.py:test_laop_TEST”) returns the following results:
A: [[-13.34414296  15.99829902  -5.9348693    0.3

[2018-01-15 16:24] leezu commented on #8337
@sxjscience I have simplified the code until any change makes the bug disappear:
[code]
It seems this bug may not be related to slicing after all, sorry @kpot for putting this wrongly in your issue ;)

[2018-01-15 17:09] sandeep-krishnamurthy opened #9436 "Support boolean outputs for topk operator"
## Description
Output from topk operator is positional 0s and 1s. It would be more standard with Numpy NDArray and other DL framework, if the return values are Boolean (True / False).

Similarly, since MXNet NDArray wants to be closer to behavior of Numpy NDArray operations, it would be good to support Boolean types as output for conditional operators.

This functionality will also help Apache MXN

[2018-01-15 17:11] sandeep-krishnamurthy commented on #8941
Current state of the project:
1. Supports sequential dense models.
2. Able to train CNN model (Tested Resnet architecture)

Here is a guide to install and try it out - https://github.com/deep-learning-tools/keras/wiki/Installation-Guide---Keras-with-MXNet-backend

[2018-01-15 17:27] kice opened #9438 "MXNet crash while getting output of the network"
Windows 10 + Python 3.6 mxnet-cu90 1.0.1b20171229

    class Scale(nn.HybridBlock):
        def __init__(self, channels, **kwargs):
            super(Scale, self).__init__(**kwargs)
            self.conv = nn.Conv2D(channels, kernel_size=1, padding=0, strides=1, use_bias=False)

        def hybrid_forward(self, F, x):
            return self.conv(x)

    class FENet(nn.HybridBlock):
        def __

[2018-01-15 18:23] eric-haibin-lin opened #9440 "CI fails to create Nvidia driver from time to time"
I see this error message multiple times on CI and it seems to be related to CI instead of MXNet source code. I wonder if anyone is working on fixing this? @marcoabreu @KellenSunderland @pedro

[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/169/pipeline

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/mas

[2018-01-15 18:55] #9391 closed

[2018-01-15 18:57] sxjscience commented on #9372
You may try to change the USE_CUDA_PATH flag manually in the config.mk file (https://github.com/apache/incubator-mxnet/blob/master/make/config.mk#L55) to have a try

[2018-01-15 18:58] sxjscience commented on #9354
Yes, you can combine BilinearSampler and GridGenerator (http://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.GridGenerator) to resize the image.

[2018-01-15 19:03] sxjscience commented on #9328
I close the issue here because it's mainly related to MShadow instead of MXNet. Also, we no longer use MShadow to implement the new operators. Only some legacy implementations use MShadow and will be refactored in the future.

[2018-01-15 19:03] #9328 closed

[2018-01-15 19:20] mseeger commented on #9295
But the test you said fails, it recomputes a and identity from u and lambda.
While u is not unique (signs), the results must fulfill the definition, so
must get a and identity.

On Jan 15, 2018 1:33 PM, "Eric R Meissner" <notifications@github.com> wrote:

[2018-01-15 21:35] marcoabreu commented on #9440
This was related to the Spectre security update, released as a security critical patch and thus automatically applied to all our slaves. This was related to https://lists.apache.org/thread.html/142e5602d26bdb27801c31319187a5a44261065a26730dde1c963b0e@%3Cdev.mxnet.apache.org%3E. The problem has been fixed now. Feel free to log into the CI and retrigger the build yourself.

[2018-01-15 22:30] zheng-da commented on #9440
@marcoabreu It seems to me that building a new docker still fails. It still fails with the same error.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-9423/12/pipeline/59

[2018-01-15 22:40] marcoabreu commented on #9440
Thank you, I have noted it down.

On Mon, Jan 15, 2018 at 11:30 PM, Da Zheng <notifications@github.com> wrote:

[2018-01-15 23:12] piiswrong commented on #9390
stack has an axis argument for this

[2018-01-15 23:15] piiswrong commented on #9326
Would you like to propose a PR?

[2018-01-16 00:08] #9185 closed

[2018-01-16 00:19] lupesko commented on #9438
Thanks for reporting @kice !
Quick questions:
- Are you running this on a device with GPU?
- Were you able to make sure your MXNet Windows install is successful? (see [here](https://mxnet.incubator.apache.org/get_started/windows_setup.html))

@nswamy can you please apply labels:
- Gluon
- Windows
- Cuda
- Pending Requester Info

[2018-01-16 00:21] lupesko commented on #9421
@tornadomeet please use [MXNet Discuss Forum](https://discuss.mxnet.io/) for such questions going forward.

@szha can you please close the issue?

Thanks!

[2018-01-16 00:26] lupesko commented on #9396
@nicklhy #9055 was merged. Can you please build latest and re-test?

@eric-haibin-lin can you please label:
- Pending Requester Info
- Performance

[2018-01-16 00:26] szha commented on #8289
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-16 00:26] szha commented on #8298
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-16 00:26] szha commented on #5487
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-16 00:28] lupesko commented on #9388
@seyoungleecho going forward please use the [MXNet Discuss Forum](https://discuss.mxnet.io/) for questions.
@szha can you please close this issue?

Thanks!

[2018-01-16 00:31] lupesko commented on #9378
Thanks @pitLog
@nswamy can you please label as:
- Bug
- Windows
- Crash

[2018-01-16 00:33] #9388 closed

[2018-01-16 00:34] szha commented on #9421
@lupesko I think github issue is an appropriate place to discuss about feature requests and designs, would you agree?

[2018-01-16 00:52] sxjscience commented on #9340
Close issue as the problem has been solved.

[2018-01-16 00:52] #9340 closed

[2018-01-16 00:52] opringle commented on #9326
Sure.  I'll submit one this week.

[2018-01-16 00:59] kice commented on #9438
I have successfully trained and get output for other network on my GPU. In fact, I started this network just after finishing the last network.

I tried to use the latest mighty build and it also crashs. Because the pre-build binary doesn't come with debug symbol file, I had no idea what goes wrong.

[2018-01-16 01:59] quietsmile opened #9449 "Can sequential module be distributed into mulit machines and how?"
Can sequential module be distributed into multi machines and how?
@eric-haibin-lin

[2018-01-16 03:26] some-guy1 commented on #8189
I have the same problem in R.  Very small batch size results in very fast iterations and the memory always increases to max of the computer (32GB in my case).  To my understanding, the R implementation does not have the mx.nd.waitall() option.  What is the work around for an R user?

Using MXnet R version 0.10.1

[2018-01-16 04:45] nicklhy commented on #9396
@lupesko , Hi, just made a test and the result is listed below:

[code]
[code]
As I mentioned [here](https://github.com/apache/incubator-mxnet/pull/9055), the inference speed of resnet152 did increased a lot when batch size is small, but still a bit lower than the 0.10.0 version. GPU usage are 100% in 0.10.0, 83% in 1.0.0, 95% in 1.0.1 respectively. By analyzing the CUDA calls, I noticed that the

[2018-01-16 05:13] prateekagarwal3 commented on #5947
imread read blank (None) image for file: *.jpg

[2018-01-16 05:13] prateekagarwal3 opened #9450 "imread read blank (None) image for file: *.jpg"
The image does exist but I am getting an error when I am trying to use im2rec.py, I get this error.

[2018-01-16 06:58] zhreshold commented on #8338
Thanks @asmushetzel for pointing out this. This is fixed as https://github.com/dmlc/mshadow/pull/320
Closing this for now, feel free to reopen.

[2018-01-16 06:58] #8338 closed

[2018-01-16 07:18] TaoLv commented on #3946
@piiswrong Maybe not related. Can mxnet find two independent ops in a computation graph and execute them parallelly on two cores of one CPU, respectively?  Or if mxnet can konw how much cores are there, and give first half to the first operator and give the second half to the second operator.

[2018-01-16 07:24] #9390 closed

[2018-01-16 08:32] squidszyd opened #9451 "How to dynamically bind executor with variable symbol?"
During testing phase, my symbol's computing structure depends on some factor K. E.g, when the factor equals to K, then there are N(K) layers of Convolution operations, where N(K) changes with K.
Thus, I have to construct a new symbol and rebind it with an executor when K changes. Code may look like this:
[code]
My question is, how to effectively release memory allocated by the bound module and reb

[2018-01-16 08:43] ZiyueHuang commented on #8338
Good catch! Glad to see this is fixed. Thanks @zhreshold

[2018-01-16 09:58] sriharikarnam commented on #6257
@szha  We have created a provision for common backend (CUDA and HIP).We are in the process of creating PR for the same.MxNet has 8 subModules[dlpack, dmlc-core, mshadow, nnvm, ps-lite, cub, openmp, googletest] and backend change should go as atomic commit in all sub-modules.So Please suggest way to raise PR in all sub-modules in one go.

[2018-01-16 11:13] chinakook opened #9452 "A new deep learning visualization tool from baidu support MXNet!"
https://github.com/PaddlePaddle/VisualDL

[2018-01-16 11:59] some-guy1 opened #9453 "[R] CNN Memory Leak - Needs to somehow call Garbage Collector"
## Description
Memory constantly increases until out of memory of machine.  Using the following code.  The memory does not release even after Mxnet finishes requested iterations.  If I use the gc() command, all memory is released.  **How can I call gc() during Mxnet optimizing?**  Or is there a different work around?

Input is a 16x16x3 data set.  Should be fairly easy to solve.

`train_iter = mx.

[2018-01-16 12:26] szha commented on #8282
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-16 13:54] TX2012LH opened #9454 "copy tensor from gpu to cpu"
I want to copy a tensor from gpu to cpu and I did it as below. But it seems that the pointer `cpu_box1.dptr__` is disorderly after carrying on `Copy`. I wonder there is something wrong?
[code]
### env
mxnet v0.12
cuda-8.0
ubuntu 16.04

[2018-01-16 14:17] shitou112 opened #9455 "An error occurred while calculating the square of ndarray by using gpu context"
#### 1. When I use a**2 to compute square, I encounter an error.
[code]
#### 2. However, when using ctx=mx.cpu(), the result is right.
[code]

#### 3. when I use a*a to compute square, the result is also right.
[code]

[2018-01-16 16:49] BenLag2906 commented on #9308
Hi,
First,  thanks for your answer!

I have concatenate image as you described: it works fine...but my last problem is to separate results..
(I promiss :it'is my last question !!)
because when i use your code, it display all bounding box on an single image: How can I separate boudning box for each image of the batch size ? output[0] contains results of all image contained in the batch..( and for e

[2018-01-16 18:40] eric-haibin-lin commented on #9452
@reminisce @zihaolucky

[2018-01-16 19:47] szha commented on #6257
@sriharikarnam submodules are versioned by commit hash, so you may go ahead and make changes in the submodules first, and once merged, update the submodules in mxnet.

[2018-01-16 21:12] eric-haibin-lin commented on #9396
Hi @nicklhy what network are you using? Does it include any custom operators?

[2018-01-16 21:17] sandeep-krishnamurthy opened #9458 "Support auto infer input shape in convolution operator"
MXNet does not support auto inferring of input shape for convolution operator. It would be very convenient for users to have this functionality.

Apart from advantage to users, this is a limiting functionality for MXNet backend to Keras. Keras allows users to specify "None" to allow the backend framework to infer the input shape which is supported by other backends (TF and CNTK).

An example ResNe

[2018-01-16 21:25] eric-haibin-lin commented on #8914
@mg0880gm could you try latest version of MXNet and update the `__init__` function of your `XXCustomOpProp` from
[code]
to
[code]
And see if it works?

[2018-01-16 21:56] eric-haibin-lin commented on #9449
I'm afraid not yet. What's your use case and why are you considering it?

[2018-01-16 22:41] eric-haibin-lin commented on #8592
I think that caused by a typo in the test:
[code]

[2018-01-16 22:41] #8592 closed

[2018-01-16 22:45] eric-haibin-lin commented on #8852
Resolved by #9055

[2018-01-16 22:45] #8852 closed

[2018-01-17 00:17] pracheer commented on #8339
Apologies for the delay. Here is the pull request for it:
https://github.com/apache/incubator-mxnet/pull/9460

[2018-01-17 00:26] szha commented on #7987
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-17 01:16] zhangguotai opened #9461 "The fault in the process of running example"
I had compiled libmxnet.so and  image-classification-predict.When running order that ./image-classification-predict apple.jpg,I got a fault that image-classification-predict: image-classification-predict.cc:238: int main(int, char**): Assertion `pred_hnd' failed.
I looked original code:
MXPredCreate((const char*)json_data.GetBuffer(),
                 (const char*)param_data.GetBuffer(),

[2018-01-17 01:41] chinakook commented on #9458
Gluon can support this.

[2018-01-17 03:34] cjolivier01 commented on #9396
can you try setting OMP_NUM_THREADS=1 in the environment and try again? does it speed up?

[2018-01-17 03:35] cjolivier01 commented on #9396
(set before running python)

[2018-01-17 04:27] nicklhy commented on #9396
@cjolivier01 Same result after setting it. The GPU usage is still 93~95% when testing ResNet101 or ResNet152(batch_size=1). However, mxnet 0.10.0 can easily reach 99-100%.

Notice there are no disk IO or image pre-processing operations in my speed test script. The bottleneck should be in GPU, or more specifically, `cudaStreamSynchronize`. I guess "OMP_NUM_THREADS" won't be able to solve this probl

[2018-01-17 04:51] cjolivier01 commented on #9396
Apparently not -- was checking if something cpu-related was bottleneck but it seems not.

[2018-01-17 05:22] jeremiedb commented on #9453
Far from ideal, but as a dirty patch you can add a gc() call within the train.model function training loop here:
https://github.com/apache/incubator-mxnet/blob/master/R-package/R/model.R#L221
This will require to essentially copy and call the entire model.R script since some function has dependencies on functions that aren't exported.
It can be worthwile to add a condition such as if (nbatch %% 10

[2018-01-17 05:29] jeremiedb commented on #9399
Seems like an issue with OpenCV. Have you tried compiled with USE_OPENCV = 0?
Did the `libopencv-dev` was successfully installed?

[2018-01-17 07:42] lupesko commented on #9378
@pitLog it is reasonable to assume the problem is in your model.
Try building w/o MKL and see if the issue goes away.

[2018-01-17 08:01] dangulod commented on #9340
@universewill The library compilation is made through `python setup.py build` in the Python folder, and the installation: `python setup.py install`

[2018-01-17 09:42] RogerBorras opened #9465 "Package actualization mxnetR for windows"
Hi,

It is possible to provide an actualization for mxnetR in windows to version 1.0? @thirdwing?

Thanks!

[2018-01-17 11:19] some-guy1 commented on #9453
Hmm, ok I will give that a try.  Thanks!

[2018-01-17 12:11] yufengwhy commented on #6340
weight decay == [L2 regularization](http://gluon.mxnet.io/chapter02_supervised-learning/regularization-gluon.html)

[2018-01-17 12:26] szha commented on #8326
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-17 14:28] thirdwing commented on #9465
I am afraid I need to finish my thesis first. This is my highest priority.

[2018-01-17 14:32] larroy opened #9467 "Flaky test"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-9457/2/pipeline/

[code]

[2018-01-17 14:32] RogerBorras commented on #9465
Ok, good luck with your thesis!

[2018-01-17 15:01] ZiyueHuang commented on #9363
wd term is also not merged into grad in SGD. Should we fix them? Will it cause some problems for backward compatibility?
cc @sxjscience

[2018-01-17 15:45] sxjscience commented on #9363
For SGD, not merging in the wd term will linearly scale the “real” wd and the impact is smaller compared to Adagrad. However, the change may break lots of our current examples and I’m not sure whether to revise it or not. We need to investigate how the other packages implement the WD term.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ziyue Huang <notifications

[2018-01-17 16:39] eric-haibin-lin commented on #9382
Back to normal after a new instance is started

[2018-01-17 16:39] #9382 closed

[2018-01-17 19:27] rahul003 commented on #9438
@kice Would it be possible to share a sample image and the trained model parameters?

[2018-01-17 19:54] rahul003 commented on #9438
Please also share the stacktrace

[2018-01-17 20:11] kice commented on #9438
@rahul003
https://github.com/kice/kice/releases/download/memnet/memnet-gluon.zip

There is no error message at all, for python nor C predict API (not the C++ Package)

![stacktrace](https://i.loli.net/2018/01/18/5a5fadab0cdb5.png)

[2018-01-17 22:04] aaronmarkham commented on #9217
Was anyone able to confirm that the Mac GPU build will work with OpenCV support (USE_OPENCV=1) in the config?
@Cosmo
@helloniklas

[2018-01-17 22:17] rahul003 commented on #9438
On running this on Linux, I see that it crashes with `cudaMalloc failed: out of memory`
I'm running this on a machine with 8 GPUs each of which has 11439MB  memory.  Is it possible that you're seeing the same issue? Could you try decreasing the size of the model and confirm if this is the issue

[2018-01-17 23:09] rahul003 commented on #9438
Okay on running this again on a different machine (with same GPU memory), I see
[code]

[2018-01-17 23:14] kice commented on #9438
I did not have this error message on Windows. Just "Application stop working" pop up.

[2018-01-17 23:14] rahul003 commented on #9438
Ya, this error message is from linux

[2018-01-17 23:15] rahul003 commented on #9438
Can you check if the binding shapes are right in the network?

[2018-01-17 23:19] kice commented on #9438
I think the shape of the output is the same as the one of input.

[2018-01-17 23:26] Cosmo commented on #9217
@aaronmarkham Haven't tried unfortunately. I'm back on my machine by end of jan. I assume, it's a bit too late :|

[2018-01-18 00:04] calendarbase commented on #9399
Yes I belive that OpenCV was installed successfully.
I checked with this:
pkg-config opencv --cflags

-I/usr/local/include/opencv -I/usr/local/include

pkg-config opencv --libs

-L/usr/local/lib/x86_64-linux-gnu -lopencv_dnn -lopencv_ml -lopencv_objdetect -lopencv_shape -lopencv_stitching -lopencv_superres -lopencv_videostab -lopencv_calib3d -lopencv_features2d -lopencv_highgui -lopencv_videoio -l

[2018-01-18 00:26] szha commented on #7582
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-18 00:40] sergeykolychev commented on #9381
Should be fixed by https://github.com/apache/incubator-mxnet/pull/9414

[2018-01-18 02:49] sxjscience commented on #7582
Does anyone know the status of this issue?

[2018-01-18 03:03] kobenaxie commented on #8634
reference [https://github.com/apache/incubator-mxnet/issues/8404](url)

[2018-01-18 03:03] #8634 closed

[2018-01-18 03:17] some-guy1 commented on #9453
I attempted to copy the model.R and all dependencies, but I am stuck on the error shown below.  Seems that the missing function is embedded in c++ somewhere.  Not sure how to get around this. Is it possible to use this function without altering c++?

 Error in mx.nd.slice(dlist$data, s$begin, s$end) :
  could not find function "mx.nd.slice"

[2018-01-18 03:38] feevos commented on #9288
Any updates on this issue?

[2018-01-18 03:50] szha commented on #9288
`infer_shape` might have been a misnomer because what it does is actually inferring the shapes of parameters, and what you expect as well as the `infer_shape` that symbol provides is for inferring output shape.

In general, in HybridBlock you shouldn't depend on the exact shape of input, because otherwise it indicates that the computation graph may change depending on the shape, thus rendering it

[2018-01-18 04:05] opringle commented on #5580
Also struggling to implement this in Python 3.

[2018-01-18 04:13] feevos commented on #9288
@szha  thank you very much for your reply. I am trying to implement the pyramid scene parsing pooling layer, from [here](https://hszhao.github.io/projects/pspnet/) . For this implementation one needs to perform max pooling (or other) in a set of scales: a) global pooling, b) 1/2, c) 1/4, d) 1/8, then rescale and then concatenate results. Full details in the [arxiv paper](https://arxiv.org/abs/1612

[2018-01-18 04:17] #9177 closed

[2018-01-18 04:32] opringle opened #9473 "Adding an arguement to mxnet.symbol.softmax()"
- I have an mxnet.module with a custom loss function
- As a result I need to create a separate module from an internal symbol to get the model predictions
- This symbol is an mxnet.symbol.softmax() layer
- Because the symbol does not have label as an input, I cannot use mxnet.metric methods with it

Can anyone advise me as to how to get mxnet.metric api working with internal model symbols? Do I ju

[2018-01-18 05:24] #9473 closed

[2018-01-18 05:25] opringle commented on #9473
Solution is here: https://github.com/apache/incubator-mxnet/issues/5229

[2018-01-18 05:58] jeremiedb commented on #9453
No worry, mx.nd.slice is not an exported function (not sure why actually?), but is still accessible through mxnet:::mx.nd.slice. As a rule of thumb, if you have another missing function warning, you can likely solve it through mxnet:::<function_name>

[2018-01-18 06:50] weishy-xun opened #9474 "how to release gpu memory in the garbage pool?"
As I can see,  there're a lot of issues about gpu memory leaking, and always end with something like:

However, when I use multiprocessing,  it is really painful,  because the "pool" isn't share between process. E.g. I have 4 processes, one ocuupied 11g, when another process get "out of memory", it cannot release the first process's garbage pool. And if I do not call the first process forever, the

[2018-01-18 06:55] weishy-xun commented on #9474
Not sure if I need open another issue for code below,  showing the gpu leaking problem I met with.

import mxnet as mx
import numpy as np
a = mx.nd.zeros((500,500,3), ctx=mx.gpu(0))
b = mx.nd.ones((500,500,3), ctx=mx.gpu(0))
for i in range(100000):
    rs1 = np.random.randint(1, 480)
    rs2 = np.random.randint(1, 480)
    a[10:10+rs1,10:10+rs2] = b[20:20+rs1, 10:10+rs2]

[2018-01-18 07:47] guotong1988 commented on #9375
Thank you all. Your response is the best in all the DL frameworks community.

[2018-01-18 09:26] xuzhenqi opened #9475 "OpenCV Error: Assertion failed (dst.cols < SHRT_MAX && dst.rows < SHRT_MAX && src.cols < SHRT_MAX && src.rows < SHRT_MAX) in remap, file /home/travis/build/dmlc/mxnet-distro/deps/opencv-3.3.0/modules/imgproc/src/imgwarp.cpp, line 4944 terminate called after throwing an instance of 'cv::Exception'"
When I use augmentation of aspect, random scale, rotate, mxnet report this error:
[code]

I install the mxnet by
[code]

I think mxnet should catch opencv Exceptions rather than terminating the process.

[2018-01-18 09:31] zhangguotai opened #9476 "libmxnet.so: undefined symbol: dorgqr_？？？？？？？？？？？？？？？？？"
I have compiled mxnet successfully,why this fault happened?

[2018-01-18 09:45] nicklhy commented on #9354
Thank you. BilinearSampler is totally what I am looking for!

[2018-01-18 09:45] #9354 closed

[2018-01-18 10:25] calendarbase commented on #9399
I managed to install OpenCV based on this: https://www.learnopencv.com/install-opencv3-on-ubuntu/
Tested that it was correctly installed with this: cd build/bin ./cpp-example-edge ../../samples/data/fruits.jpg
Then continued with installing MXNET latest master.
But still got the same error:
Error: package or namespace load failed for ‘mxnet’:
 .onLoad failed in loadNamespace() for 'mxnet', details

[2018-01-18 11:27] some-guy1 commented on #9453
Oh!! I had no idea you could that.

Ok well I tried what you suggested and **problem solved!**  Every 10 iterations my memory drops back down to a sane level.

[2018-01-18 12:25] #9453 closed

[2018-01-18 12:26] szha commented on #6846
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-18 12:26] szha commented on #7771
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-18 12:26] szha commented on #8291
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-18 13:29] ilibx opened #9477 "distributed trainning with mxnet, get error "ImportError: No module named numpy""
## Description
Following by the install guide i built  mxnet in the docker, and started multi-container then i run the exmple as bellow:
[code]
then i stepped to train with multi-container, so i do it like this:
[code]
envs:
[code]

mxnet build cmd:
[code]
i don't know how to solve it, please help me fix it..

thanks alot

[2018-01-18 13:46] #9477 closed

[2018-01-18 17:39] larroy commented on #9476
please provide more info on how you compiled, platform etc.

[2018-01-18 18:07] meissnereric commented on #9295
Ok new update to this story.

I synced to the latest changes from master branch for each of them, and now I can't reproduce the bug at all. I then ran the build in 3 configurations:

1. one with no MKL installed/configured (my mac)
2. one with MKL2017+MKL2017_EXPERIMENTAL+USE_BLAS=openblas (ec2 host on DL AMI)
3. one with MKL2017, MKL2017_EXPERIMENTAL, USE_BLAS=mkl and full MKL (ec2 host on DL AMI

[2018-01-18 18:21] mseeger commented on #9295
Are we sure the test hangs due to the issue you saw?
Well can watch for a while, see whether issues that Marco raised, are still
present

On Jan 18, 2018 7:08 PM, "Eric R Meissner" <notifications@github.com> wrote:

[2018-01-18 18:22] Bestehorn opened #9478 "Loss becomes NAN with larger, more layered network"
## Description
When the number of layers/nodes in gluon.Sequential structures increases, the SoftMax cost function will return NaN values and then prevent learning. See attached jupyter notebook for reproduction:
[mlp-gluon-NAN.ipynb.txt](https://github.com/apache/incubator-mxnet/files/1643935/mlp-gluon-NAN.ipynb.txt)
The above example is from the [MXNET tutorial/book website](http://gluon.mxnet.i

[2018-01-18 18:28] reminisce commented on #9455
Since running operators in Python is async with backend, you need to wait until the computation of pow is finished. Try this: `(a**2).asnumpy()`.

[2018-01-18 18:42] sxjscience commented on #9478
Would you also show the initializer and optimizer used to train the network? A good initialization is also essential to avoid exploding relus.

[2018-01-18 18:54] Bestehorn commented on #9478
Initialization and other stuff has not been changed compared to the tutorial on MXNET [here](http://gluon.mxnet.io/chapter03_deep-neural-networks/mlp-gluon.html#Faster-modeling-with-gluon.nn.Sequential). Here is a copy of the corresponding code from the attached jupyter notebook:
[code]
As stated above, the initialization works fine if the network is "small" in terms of nodes/layers, so I do not t

[2018-01-18 18:54] eric-haibin-lin commented on #9380
@piiswrong in this case is the expected result with shape (10,3)?

[2018-01-18 18:59] szha commented on #9295
MKLML is a dependency of the MKL2017 option and was updated recently in #9218

[2018-01-18 19:02] sxjscience commented on #8337
@leezu I find that `dist[0, 0]` will always be 0 and the `sqrt` function is non-differentiable at 0. The result will be correct if we add a small epsilon to the dist
[code]

[2018-01-18 19:38] aidan-plenert-macdonald commented on #9380
@eric-haibin-lin So this wasn't so much about it doing the right thing as simply not killing Python. This error shouldn't be fatal. Not Numpy's behavior,

[code]

Numpy doesn't kill the session when it throws the error. But beyond that, MXNet lacks an `nd.hstack` function, so it would be nice if `nd.stack` could handle stacking of different shapes.

For example, pseudocode outlining the shape asse

[2018-01-18 20:02] Bestehorn commented on #9478
First of all: Thanks for your prompt responses and effort to look into this.
While changing sigma to 0.01 has the effect of removing the NaN cost issue, it does not solve the underlying issue that the model is not getting better, i.e., not learning. This is the output I get with sigma=0.01 as instructed by you:

Despite having more layers and being slower, the network should still converge to a so

[2018-01-18 20:36] sxjscience commented on #9478
@Bestehorn I think it's related to the optimizer. You can try to use different learning rate/optimization methods to see the effect. You can try adam, which trains faster
[code]

[2018-01-18 20:41] reminisce commented on #9452
@chinakook It looks easy-to-use, but still lacks many features supported in Tensorboard. Do you know how reliable this tool is? I have not been able to run their demo so far. It always complains
[code]

[2018-01-18 21:36] #9146 closed

[2018-01-18 23:31] opringle opened #9483 "Creating a symbol variable from a numpy array"
Hi guys.

- I would like to create a symbol that represents a predefined weight matrix (for use in my loss function).
- So far I have created a symbol variable, defined it's shape and then initialized it.
- However, I cannot work out how to initialize it with anything other than random numbers, zeros or ones.  Is it possible to initialize with a numpy array?

`weights = mx.sym.Variable('weights',

[2018-01-19 00:26] szha commented on #8231
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-19 00:42] larroy commented on #8231
@szha isn't this fixed?

[2018-01-19 00:46] aidan-plenert-macdonald opened #9486 "LSTM doesn't work with Symbols - "'Symbol' object has no attribute 'shape'""
I am using the following versions,
[code]

When I run,
[code]

I get,
[code]

So the problem is occuring [here](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/rnn/rnn_layer.py#L173) because RNN Layer checks the shape right away.

How can I fix this?

[2018-01-19 00:48] #8231 closed

[2018-01-19 01:01] eric-haibin-lin commented on #9486
@szha

[2018-01-19 01:04] szha commented on #9486
Block doesn't support Symbol.

[2018-01-19 01:07] aidan-plenert-macdonald commented on #9486
@szha Is there a way to fix this? I am trying to use SageMaker, and the examples do this `save` call. For example, [MNIST](https://github.com/awslabs/amazon-sagemaker-examples/blob/master/sagemaker-python-sdk/mxnet_gluon_mnist/mnist.py#L91) saves the symbolic graph.

[2018-01-19 01:15] aidan-plenert-macdonald commented on #9486
Never mind. I just needed to use HybridSequential.

[2018-01-19 01:15] #9486 closed

[2018-01-19 02:31] gaosanyuan opened #9488 "image segmentation iterator"
I now do image segmentation task based on money framework.
I have implemented a data iter for this task, but it is a little slow for large images, I would like to know if any SegIter(based on gnu) is available, thanks

[2018-01-19 03:47] zhangguotai commented on #9476
make -j $(nproc) USE_BLAS=openblas,platform is ubuntu 14
I have compiled lapack and openblas successfully.

[2018-01-19 04:09] ilibx opened #9489 "terminate called after throwing an instance of 'dmlc::Error'"
Clone code from this repo, build with USE_DIST_KVSTORE=1 in ubuntu:16.04 container, instance multi container, then run cmd bellow:
[code]
i get the error as bellow:
[code]
how can i fixed it?

thanks a lot

[2018-01-19 04:50] pabramowitsch opened #9490 "Unable to install mxnet on MacOS .. no version seemingly compatible with Python3"
I just want to play with mxnet using prebuilt code on MacOS but the pip install fails.  Following the instructions on the Apache MXNET pages,  My command line is

 **python3 -m pip -vvv install mxnet=='0.11.0'**

but I can get the same error with the latest version. (I also get the same message using the default python & pip which are 2.6.4)

I get a bunch of lines like this:
[code]
I'm pretty sur

[2018-01-19 04:55] szha commented on #9490
Do you need to use 0.11.0 specifically, or would you be fine with trying more recent versions? In the later case you may try simply `pip install mxnet`

[2018-01-19 06:01] gramce opened #9491 "is_train in model.backward will change the bias parameter?"
please close

[2018-01-19 06:13] gramce commented on #9491
a mistake

[2018-01-19 06:23] reddysree007 commented on #9094
Can anyone tell me how to downgrade the mxnet version form 1.0.1 to v1.0.0 without having to reinstall from starting?

I'm getting same error on v1.0.1

[2018-01-19 06:30] szha commented on #9412
Working on #8283

[2018-01-19 06:31] szha commented on #8283
Reviewed the license, and it doesn't pose any restriction on use. I will move its hosting to s3 and re-enable.

[2018-01-19 07:31] reddysree007 commented on #9094
@yimingliu0216 Could you tell me how you downgraded version?

[2018-01-19 08:36] Rikorose opened #9493 "Data Loading API for NDArray"
## Description
I am struggling to find an efficient way of loading non image data that has the shape of `(f, t)`, where `f` are my number of features and `t` corresponds to time and thus is a variable size number. I need to preprocess my data and currently do this with numpy. The preprocessing is costly so I only want to do this once and save the preprocessed data in a `MXRecord`.
For images there

[2018-01-19 09:49] GSanchis commented on #8669
After quite some time stumbling into this problem, apparently at random, I believe I have found out what the problem was, after reading [this](https://github.com/apache/incubator-mxnet/blob/master/example/recommenders/demo1-MF.ipynb) example, which imports [this](https://github.com/apache/incubator-mxnet/blob/master/example/recommenders/movielens_data.py) module:

[code]
then:
[code]
Finally:
[cod

[2018-01-19 11:32] larroy commented on #9476
can you try to disable LAPACK? Do you need LAPACK?
Did you compile lapack and openblas yourself?

USE_LAPACK=0

[2018-01-19 12:08] larroy opened #9494 "We are building the sources twice on OSX with CMake"
## Description
We build 371 files instead of 197 since we build the static and dynamic library with separate object files on OSX

## Environment info (Required)
OSX

Cmake build:
[code]

[2018-01-19 12:26] szha commented on #4045
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-19 12:26] szha commented on #8341
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-19 12:26] szha commented on #8355
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-19 12:26] szha commented on #8328
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-19 14:31] asmushetzel opened #9497 "Ensure that all operators properly support kAddTo in backward pass"
PR9495 fixes one operation where the backward pass of an operator did not obey the "req" argument properly (resp. not at all) and so ignored the "kAddTo" directive (which directs the operator to add the gradients to the output tensor(s) and not just assign them. This leads to wrong gradients in case that an operator fans out its output to more than one other operator.

We should examine all operat

[2018-01-19 14:31] asmushetzel commented on #9497
@KellenSunderland @marcoabreu @cjolivier01

[2018-01-19 16:26] #9491 closed

[2018-01-19 16:27] #8328 closed

[2018-01-19 17:37] pabramowitsch commented on #9490
Thanks szha!  Yes, I've tried not specifying any version as you indicated, or tried specifying the latest version, but the errors are the same.  Basically pip lists every version in the repo and declares that my python (python3) is incompatible with it.  So clearly the error must be somewhere else.. but where?  As I have python 2.7 also on the machine, I invoke pip through python3.

**>python3 -m

[2018-01-19 17:56] szha commented on #9490
Hi @pabramowitsch. I just realized that your kernel version 13.4.0 indicates you're using OSX 10.9 Mavericks. Our pip package for OSX current only supports 10.10-10.12, due to the limitation in build.

[2018-01-19 18:01] sxjscience commented on #9493
@piiswrong @sha Would the new `gluon.data.RecordFileDataset`  satisfy the need?

[2018-01-19 18:09] pabramowitsch commented on #9490
Thank you.   I was wondering about that, but as python3 itself didn't complain about the OS, I assumed the pip install would work.  I've been stalling on upgrading this machine as it has so much running development software on it.  Can you point me to another way to install a version of mxnet on 10.9 just for learning purposes?

[2018-01-19 18:22] zanbri commented on #4009
I'd like to reopen this issue as I still don't see a general solution for how to slice a symbol to the shape of another symbol. Previously, there was the `Crop()` function which allowed for this to be done, but it has been depreciated for some reason.

How should `slice()` be used to perform the action of `Crop()`?

[2018-01-19 20:02] piiswrong commented on #9319
Operators was never designed to store persistent states. They should be stored as parameter or auxiliary states.

[2018-01-19 20:04] piiswrong commented on #9483
You can use set_params after initialization.

[2018-01-19 20:07] piiswrong commented on #9474
You can set MXNET_GPU_MEM_POOL_RESERVE to a big number (like 80, 90 or 95) to force mxnet to release memory eagerly. But this may have significant negative impact on speed.

See https://mxnet.incubator.apache.org/how_to/env_var.html

[2018-01-19 20:09] piiswrong commented on #9454
NewTensor doesn't actually allocate memory.
You need to use `new` to allocate memory yourself

[2018-01-20 00:00] aidan-plenert-macdonald commented on #7551
@piiswrong Is this feature available now?

[2018-01-20 00:12] eric-haibin-lin commented on #9396
@nicklhy what happens if you call `mx.nd.waitall()` before all the forward calls, remove `output.wait_to_read()`, and call `mx.nd.waitall()` after all 100 batches are done?
I don't know see any reason why streamSync becomes more expensive ...

[2018-01-20 00:20] aidan-plenert-macdonald opened #9501 "LSTM doesn't work with Symbols and HybridBlocks"
I want to use LSTM with AWS SageMaker, but I am having [problems with Symbols](https://github.com/aws/sagemaker-python-sdk/issues/51). I noticed that LSTM seems to make not attempt at using the HybridBlock pattern. For [example](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/rnn/rnn_layer.py#L173), it only defines a forward method that inherently can't be used with Symbol

[2018-01-20 00:36] aidan-plenert-macdonald commented on #9489
From [this](https://stackoverflow.com/questions/23098695/strange-return-value-134-to-call-gawk-in-bash-script),

Just as a sanity check. Can you ssh into each of the hosts without a password?

And what happens if you run `python train_mnist.py --network lenet --kv-store local`?

[2018-01-20 00:38] aidan-plenert-macdonald commented on #9461
This is really hard to read. Can you clean it up and give more detail?

[2018-01-20 00:46] Myrthan opened #9502 "Cannot compile sources"
## Description
Cannot fully compile mxnet on ubuntu because of out of memory error.

## Environment info (Required)
Linux ip-172-31-12-26 4.4.0-1048-aws #57-Ubuntu SMP Tue Jan 9 21:45:57 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

What to do:
https://mxnet.incubator.apache.org/get_started/install.html
Linux/Python/CPU/Build from Sources
Step 4: $ make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas

Packa

[2018-01-20 02:08] eric-haibin-lin commented on #3946
If a graph has two parallel paths, MXNet can detect that and execute it if it has enough WORKER_THREADS. https://github.com/apache/incubator-mxnet/blob/master/docs/faq/env_var.md#set-the-number-of-threads

For CPU we rely on openmp for parallelization. We may give a hint to openmp but there's no guarantee on how many threads are actually executing for a single operator.  @cjolivier01 works on CPU

[2018-01-20 02:18] ilibx commented on #9489
@aidan-plenert-macdonald
Thanks for your response, i restart all container, and then run succeeded. i do not know why.

Before run that, i had ran succeeded local

[2018-01-20 02:18] #9489 closed

[2018-01-20 02:21] cjolivier01 commented on #3946
currently, it will run the ops in parallel, using (possibly) several OMP on each one independently. OMP threads for the given operator will tend to be on separate physical cores, however currently there is not coordination between OMP thread/core allocation across parallelly-executing operators, so they may overlap for some period of their execution.

it’s actualy kind of a tricky thing, because y

[2018-01-20 05:00] #8283 closed

[2018-01-20 05:05] szha commented on #9412
I fixed #8283 in #9503.

[2018-01-20 05:44] zhangguotai commented on #9476
I don't know that what relationship of openblas and lapack.
But by $ sudo apt-get install -y libopenblas-dev liblapack-dev,sudo apt-get install -y libopencv-dev,so I think that USE_LAPACK=1 USE_OPENCV = 1.
It isn't correct?

[2018-01-20 07:31] sxjscience opened #9506 "Using the same seed will generate different results on different devices"
## Description
[code]
[code]
Outpus are:
[code]
[code]

[2018-01-20 07:32] TX2012LH commented on #9454
I found that it worked  after I took value of tensor via `cpu_box1[i][j]` instead of pointer. The memory of tensor is not continuous.

[2018-01-20 08:11] Matafight commented on #7551
looking forward to this new feature

[2018-01-20 09:33] Rikorose commented on #9493
This looks promising, I wonder why I had not found it yet. I will try it out this week.

What about storing `nd.array` in a record file? The `numpy`/`BytesIO` workaround is not really nice.

[2018-01-20 11:18] leezu commented on #9501
LSTM doesn't support HybridBlock yet. If you just wish to build a simple LSTM you can directly use the [LSTMCell](https://mxnet.incubator.apache.org/api/python/gluon.html#mxnet.gluon.rnn.LSTMCell) which can be hybridized.

[2018-01-20 12:26] szha commented on #6545
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-20 12:26] szha commented on #8203
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-20 12:26] szha commented on #5326
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-20 13:06] larroy commented on #9476
should be correct, maybe due to ubuntu? We test in ubuntu 16.04. Why do you run ubuntu 14? is too old.

[2018-01-20 13:09] TaoLv commented on #3946
@eric-haibin-lin @cjolivier01 Thanks for the information. I am just curious about how does mxnet deal with the model parallelism, op parallelism and the parallelism inside of a op. If I have 40 cores and 2 independent ops, I can create 40 threads and give the first 20 threads to the first op and the other 20 threads to the second op, and execute the two ops concurrently on cpu. But maybe it's not

[2018-01-20 13:47] jimm1973 opened #9507 "Segmentation Fault"
Hello everyone, Im following this post for my studies "https://mxnet.incubator.apache.org/tutorials/embedded/wine_detector.html" but whenever I run the python camera_test.py on the Terminal, this shows up. Can someone tell me what should I do in order to progress. Thanks.

pi@raspberrypi:~ $ python camera_test.py
[13:37:44] src/nnvm/legacy_json_util.cc:190: Loading symbol saved by previous version

[2018-01-20 13:56] larroy commented on #9507
Where's the segmentation fault happening?
Can you do:
[code]
then use the `bt` command in gdb to get a backtrace, but mxnet should provide a backtrace if you compile with USE_SIGNAL_HANDLER

[2018-01-20 14:02] relaxli00 opened #9508 "Gluon Conv1DTranspose causes "kernel died""
Using pip-installed mxnet-cu90-1.0.1b20171229. Similar codes, Conv2DTranspose works fine and Conv1DTranspose causes kernel death, in Spyder 3.2.6.  Windows 10 / Anaconda 3 / Python 3.6

The working code with Conv2DTranspose:
==== 2D code ====
import mxnet as mx
from mxnet import gluon as g
import numpy as np

ctx = mx.cpu()
img = np.zeros((1, 3, 7))
img = img.reshape(img.shape[0], 3, 7, 1)
dataLoa

[2018-01-20 15:04] taylover-pei opened #9509 "SphereFace"
Is there someone who has complete the A-Softmax Loss(SphereFace) code with MxNet?

[2018-01-21 02:41] jimm1973 commented on #9507
I'll try it when i get back on my RPi3. It's happening when I rename the "Inception-BN_symbol.json" to "Inception_BN_symbol.json"

[2018-01-21 06:10] jimm1973 commented on #9507
HI @larroy I did try ulimit -c unlimited i worked but the the terminal responds "Segmentation fault (core dumped)"

[2018-01-21 06:30] kice commented on #9438
I implement another network, also have the same issue.
I found that the concat operation MXNET need a huge amount of GPU memory.

I don't know how to prove my finding, can someone do it for me? @rahul003

[2018-01-21 08:14] RogerChern commented on #8884
Recent pr makes the Ops before or after CustomOp run in parallel. But the CustomOp itself still runs sequentially. Anyone has clues why this happen?

[code]

[2018-01-21 08:42] RogerChern commented on #8884
A MCVE as following runs in a 2GPU setting:

[code]

outputs are:
[code]

[2018-01-21 12:26] szha commented on #4746
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-21 12:26] szha commented on #8375
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-21 14:16] wkcn opened #9511 "set_lr_mult() or set_wd_mult() is invalid if not setting param_idx2name for the optimizer"
## Description
Hi, all.

I found a problem that I have to set **param_idx2name** for the optimizer if I want to **set lr_mult or wd_mult**.

**If not setting param_idx2name, the set_lr_mult() and set_wd_mult() are both invalid, but there is no any prompt**.

However, **it's difficult to define param_idx2name because kvstore and multi-GPU**.

## Environment info (Required)
Operation System: Arch Li

[2018-01-21 17:58] #4746 closed

[2018-01-21 18:16] szha commented on #9511
It looks like your change would overwrite the `idx2name` user provides in the optimizer instance.

[2018-01-21 23:42] wkcn commented on #9511
@szha Thank you!

Yes, the change will overwrite the idx2name. I think it is unnecessary to provide the idx2name for user if the idx2name for the optimizer is the same as the idx2name in the mxnet.module.BaseModule.

On what condition will the user need provide the idx2name for the optimizer instance? It is complicated to get the mapping from the index to the name of parameters.

[2018-01-22 00:26] szha commented on #8383
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-22 00:54] masa-ito-fj commented on #9374
Thanks to the advice of [@merrymercy](https://github.com/merrymercy)  in [the NNVM issue #297](https://github.com/dmlc/nnvm/issues/297), the problem has been solved.

The trick was to add one line to the function `block2symbol(block)` and to correct some lines about which I made mistakes about the usage of basic python modules.

<pre>
m-ito@dgx1:~/TestbedNNVM/nnvm1223_mxnet100/mxnet100$ git diff e

[2018-01-22 00:54] #9374 closed

[2018-01-22 01:36] #8272 closed

[2018-01-22 02:55] chinakook commented on #9452
@reminisce I'will have a try!

[2018-01-22 03:22] chinakook commented on #9452
@reminisce It's normal in my PC. I've installed it from "pip install visualdl".

[2018-01-22 03:30] gaosanyuan opened #9513 "get the names of different outputs of the same layer"
When a layer has more than one output, how to get the names of different outputs?
For example, a custom layer outputs two symbols, when using get_internal(), they usually have the same name.

[2018-01-22 05:29] qingyuanxingsi commented on #6313
Got error below building mxnet in windows!
![image](https://user-images.githubusercontent.com/1770516/35206275-80e28b7a-ff76-11e7-84d1-31c1cc4582c5.png)

# Environment info #
Operating System:Windows 7
Compiler: Visual Studio 2013 x64
Package used (Python/R/Scala/Julia):Cpp-package

# Build Options #
![image](https://user-images.githubusercontent.com/1770516/35206538-4855ac36-ff78-11e7-8b03-692171

[2018-01-22 06:07] nicklhy commented on #9396
@eric-haibin-lin , Still the same result. There is always a small speed gap between mxnet 0.10.0 and the current version.

[2018-01-22 06:38] leezu commented on #8976
https://github.com/leezu/jemalloc also includes the workaround from jemalloc/jemalloc#937 . So for those who don't use conda, compiling jemalloc from https://github.com/leezu/jemalloc should work.

Note that this uses the not widely used `-mtls-dialect=gnu2` compile option for building jemalloc which may have implementation errors. A proper fix in jemalloc is still to be written.

[2018-01-22 07:14] chenqy4933 opened #9515 "How to convert caffe slice layer to mxnet slice layer by changeing caffe_conver tool?"
I try to convert slice layer of caffe to mxnet slice layer,but the caffe_conver tool does not support the  caffe slice layer,I try to fix it but with trouble when _convert_slice_param(layer.slice_param) like convelution layer.

[2018-01-22 07:18] chenqy4933 commented on #9515
sorry，，，I am pool in python 。。。。。。anybody have solved this????

[2018-01-22 08:11] leezu opened #9516 "cmake cuda arch issues"
@cjolivier01 there still seem to be some issues with cuda arch and cmake.

Ref: #6204 #6799

In particular I experience an issue similar to #6204: With cmake: `Check failed: err == cudaSuccess (7 vs. 0) Name: MapRedKeepLowestKernel ErrStr:too many resources requested for launch` whereas the ordinary Makefile build works. In both cases I target `-gencode arch=compute_61,code=sm_61` for GTX 1080.

[2018-01-22 09:25] liangyong928 opened #9517 "Check failed: err == CUDNN_STATUS_SUCCESS (6 vs. 0) CUDNN_STATUS_ARCH_MISMATCH"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-01-22 09:32] Godricly opened #9518 "cuDNN path parameter please?"
Can we have a separate cudnn path parameter in make/config.mk? It's quite unfriendly for me with cuDNN not in cuda path. Because I'm sharing computer with others so the cuDNN version might be different.

[2018-01-22 09:36] chenqy4933 commented on #9515
@tqchen Can you solve it???

[2018-01-22 10:26] liangyong928 commented on #9517
yong@yong-desktop:~/cudnn_samples_v7/mnistCUDNN$ ./mnistCUDNN
cudnnGetVersion() : 7005 , CUDNN_VERSION from cudnn.h : 7005 (7.0.5)
Host compiler version : GCC 5.4.0
There are 1 CUDA capable devices on your machine :
device 0 : sms  4  Capabilities 2.1, SmClock 1566.0 Mhz, MemSize (Mb) 1983, MemClock 1804.0 Mhz, Ecc=0, boardGroupID=0
Using device 0

Testing single precision
CUDNN failure
Error: CUD

[2018-01-22 11:10] popfido commented on #8976
@leezu Thanks for ur help. Currently using jemalloc 4.5.0 is still fine, and I just wondering when it will be scheduled and fixed by jemalloc team. Opening this issue is to notify those who wants to compile mxnet from scratch using jemalloc 5+ like me.

[2018-01-22 11:21] yuantangliang opened #9520 "Image augumention crash when set MXNET_CPU_WORKER_NTHREADS bigger than 3"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-01-22 11:41] chinakook commented on #9458
The MXNet backend can doing this with symbol.infer_shape, but it is not convenient to use that in Gluon especially HybridBlock. So MXNet indeed need such a feature such as the Keras's "backend.int_shape(x)" operator.

[2018-01-22 12:26] szha commented on #8347
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-22 12:26] szha commented on #6909
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-01-22 12:57] jiang1st commented on #6968
Hi, I am new to mxnet. Now I want to add some conditional control in my network. I notice that sym.where can do this work by:

[code]

I am curious to know, in the above example, if the condition is true, will f_y=a+b be executed ? (maybe f_y is executed but the result will not be returned? )

I read the example of tensorflow, the explanation is quite clear:

[code]

So, is mx.sym.where equivalent

[2018-01-22 12:58] larroy commented on #9507
Yes, do you have a core file there. Please use gdb to get a backtrace, it's a standard way you can find some intsructions doing a quick google search, basically gdb /executable core   then bt command

[2018-01-22 13:50] meissnereric commented on #9295
@mseeger No, I don't know for sure this issue caused the hanging tests as I never saw one hang. Both issues being in laop3 felt too specific for coincidence so I assumed they were the same underlying problem.

@szha Could be. Since the issue seems to be resolved now, it would just be testing that it wasn't broken at that point.

Anyone know if we're still seeing the hanging issue in CI builds?