[2019-11-26 18:59] ChaiBapchya commented on #16478
Another one here (unrelated PR #16894 )

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16894/9/pipeline

[2019-11-26 21:28] guoquan opened #16916 "Support for XLA devices"
## Description
(A clear and concise description of what the feature is.)
- If the proposal is about a new model, provide description of what the model is.
- If the proposal is about an API, provide mock examples if possible.

## References
- list reference and related literature
- list known implementations

[2019-11-26 21:44] guoquan commented on #16864
Let's have it then. #16916 I would (personally) focus it to requesting support for XLA devices.
It would be helpful in the way that it enables access to the ~evil~ TPU.

[2019-11-26 21:52] haojin2 commented on #16830
Happening again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/1325/pipeline
[code]
@xinyu-intel @PatricZhao Anyone could take a look?

[2019-11-26 23:14] eric-haibin-lin opened #16918 "Configurable log interval for estimator"
Currently the gluon Estimator has a LoggingHandler, which supports logging per batch and per epoch. It would be good to have a configurable logging interval (e.g. logging every 50 batches). Logging per epoch does not provide enough information, while logging per batch is tooooo verbose

[2019-11-26 23:32] pengzhao-intel commented on #16830
Yes, @xinyu-intel is looking for this and the PR is under the testing.

[2019-11-26 23:33] pengzhao-intel commented on #16830
https://github.com/apache/incubator-mxnet/pull/16866

[2019-11-26 23:34] #16887 closed

[2019-11-27 00:04] szha commented on #16754
mirror option isn't added to Gluon yet.

[2019-11-27 00:34] zhreshold commented on #16708
After digging a while, I found several confusing facts about this bug.

1. @nickguletskii is correct, it's not about `ElementWiseSum`
2. Duplicating same node with (1, 2, 3, 4, 8, 9, 10...) times, the loss and gradients are always GOOD, however, with (5, 6, 7), the gradients will diverge at the first iteration

[2019-11-27 01:39] pengzhao-intel commented on #16916
Good idea! We're evaluating the possibility of XLA recently :)

[2019-11-27 02:10] szha commented on #14883
One idea that gained some popularity after discussion is to introduce an engine-less mode to MXNet, in which the operators are exposed in API and dispatched in a similar way as pytorch.

Given that Naive Engine option should be quite close to this already, we should verify the overhead in the Naive Engine mode and judge the necessity based on that result.

[2019-11-27 04:00] cjolivier01 commented on #16916
As a start, it would be good to simply be able to generate an HloModuleProto protobuf file.  Thisin itself would create an object that can be used to execute.  Either via plugin (I would be willing to help with such a plugin if a generalized HloModuleProto could be generated) or that could be plugged back into the mxnet engine.

[2019-11-27 05:08] sxjscience commented on #16880
@zburning Are you willing to fix this problem?

[2019-11-27 06:02] zburning commented on #16880
@sxjscience Yes, I would like to work on it.

[2019-11-27 06:38] leezu commented on #16918
@liuzh91 would you be interested to fix this given you're currently working on the Estimator API?

[2019-11-27 06:55] liuzh91 commented on #16918
I can do this.

[2019-11-27 06:58] #16279 closed

[2019-11-27 09:57] Wallart commented on #16754
Can you confirm that mirroring is still working on MXNet 1.5.1 using the symbolic API ?
As a placeholder, I will re-write my network using symbols.

[2019-11-27 10:58] Kh4L commented on #14883
@sxjscience what do the differences between Naive and ThreadedEngine reflect in the other frameworks?

[2019-11-27 12:39] shrey183 opened #16924 "Why do I install version 1.2.0 using pip install mxnet?"
## Description
I am using Python 3.7.0 and I want to install mxnet in order to use gluonts. I write `pip install mxnet` and it always install version 1.2.0 but for gluonts I need version >=1.3.0. So I tried `pip install mxnet==1.3.1` but it gives me the following error message.

### Error Message
ERROR: Could not find a version that satisfies the requirement mxnet==1.3.0 (from versions: 0.11.1b201

[2019-11-27 13:33] leezu commented on #16924
Why do you want to use MXNet 1.2 or 1.3? GluonTS Readme describes they want `pip install mxnet==1.4.1 gluonts`.
If you already have either MXNet or GluonTS installed, you need to run `pip install --upgrade mxnet==1.4.1 gluonts`.

In the near future, GluonTS will also support MXNet 1.5. They are currently waiting for the MXNet 1.5.2 release: https://github.com/awslabs/gluon-ts/pull/245

[2019-11-27 13:33] #16924 closed

[2019-11-27 13:39] RuRo opened #16925 "ImageRecordIter random_resized_crop artifacts"
## Description

The `random_crop` augmentation in `ImageRecordIter` seems to sometimes corrupt the image. This happens with both `random_resized_crop=True` and `random_resized_crop=False`, with `min_random_area` and `min_crop_size` respectively.

I think, that this is caused by the `cv::resize` calls on [line 390](https://github.com/apache/incubator-mxnet/blob/a98cefc74c10985a78050b35d9f888d215a3f

[2019-11-27 15:28] Wallart opened #16926 "autograd.is_training() does not work on hybridized networks."
Hello everyone,
I might have found an issue about autograd.is_training().

I've implemented a transformer. At training time my network is returning predictions and attention weights for plotting. During inference it's only returning predictions. After the training phase I'm doing validation on a new dataset. Here is a basic description of the problem

Training loop core :
[code]
Transformer hybrid

[2019-11-27 16:22] ptrendx commented on #16904
Removing 1.6 label, since the relevant PR was merged to 1.6.

[2019-11-27 16:26] ptrendx commented on #16891
Considering @rongzha1 comment I don't consider this issue to be a blocker for 1.6 release. Please comment if you disagree @leleamol @samskalicky .

[2019-11-27 16:47] shrey183 commented on #16924
I tried as you suggested and got the following error message:

ERROR: Could not find a version that satisfies the requirement mxnet==1.4.1 (from versions: 0.11.1b20170915, 0.11.1b20170922, 0.11.1b20170929, 0.11.1b20171006, 0.11.1b20171013, 0.12.0b20171020, 0.12.0b20171027, 0.12.0, 0.12.1b20171103, 0.12.1, 1.0.0, 1.0.0.post1, 1.0.0.post3, 1.0.0.post4, 1.0.1b20180114, 1.0.1b20180121, 1.0.1b20180128,

[2019-11-27 17:33] samskalicky commented on #16891
@ptrendx @rongzha1 @PatricZhao thanks for looking into this, but the issue is not resolved until we verify by running the script @leleamol shared. The build.sh is the script used to generate the pip wheels. using make doesnt follow the same steps and reproduce the problem.

If you cant reproduce the build using the same scripts, I can share a pre-built pip wheel with you separately.

[2019-11-27 20:52] samskalicky commented on #16891
Regarding the following error:
[code]
you can install with `sudo apt-get install nasm`

[2019-11-28 02:22] leezu commented on #16924
Strange. Please run the diagnosis script that you were requested to run when creating the issue: `curl --retry 10 -s https://raw.githubusercontent.com/dmlc/gluon-nlp/master/tools/diagnose.py | python`

[2019-11-28 03:23] evi-Genius opened #16929 "quantization, excluded_sym_names doesn't work"
## Description

I use the `excluded_sym_names `when I test my custom model on `imagenet_gen_qsym.py`, but actually the symbols are not be excluded, that is the symbols are also be quantized.
The model is convert from gluon.

[2019-11-28 03:48] liuzh91 opened #16930 "Plug and Play fit_batch() for the estimator class"
## Description
In the current estimator implementation, fit_batch() is a class method of the estimator class. A common workflow of fit_batch() is that the model `self.net` forwards the training batch to generate outputs and compute loss functions. The problem is that such design is not flexible enough with different model forward interfaces on the same task. For example, fit_batch() of the base es

[2019-11-28 03:52] leezu commented on #16930
CC @sxjscience @szha @roywei

[2019-11-28 03:56] liuzh91 commented on #16930
@szhengac

[2019-11-28 06:46] leezu commented on #16929
Please specify the version of MXNet you are using. It's best to run the diagnosis script that you were requested to run when you opened this report..

[2019-11-28 06:54] szha commented on #16930
A common difficulty in using callback is the confusion about signature. You can work around it by defining a class, as is done in the event handler.

[2019-11-28 07:03] evi-Genius commented on #16929
## Environment
----------Python Info----------
Version      : 3.5.2
Compiler     : GCC 5.4.0 20160609
Build        : ('default', 'Nov 23 2017 16:37:01')
Arch         : ('64bit', 'ELF')
------------Pip Info-----------
Version      : 19.1.1
Directory    : /home/xiangyang/.virtualenvs/py35/lib/python3.5/site-packages/pip
----------MXNet Info-----------
Version      : 1.5.1
Directory    : /home/xiangy

[2019-11-28 07:29] szhengac commented on #16930
Why don't we just pack the input and unpack it when we feed it into the model? The order of input will be determined by the user, i.e, how they construct the dataloader. The RNN model specific input `begin_state` will always serve as a keyword argument.

[2019-11-28 07:51] leezu commented on #16926
Hybridization traces the input during the first forward pass to the hybridized network. Afterwards it will re-use the computational graph established during the initial trace.

To solve your issue, simply create two instances of your network. Both should share parameters and both can be hybridized. Just use one of them for training, the other one for validation.

You're very welcome to submit a PR

[2019-11-28 07:51] #16926 closed

[2019-11-28 07:55] leezu opened #16932 "Detect unsupported usage of Gluon Hybridization"
## Description
Sometimes users may expect Gluon hybridization to magically do things it currently cannot do.
An example is https://github.com/apache/incubator-mxnet/issues/16926, where the user expects `if autograd.is_training()` control flow to be incorporated into the hybridized graph.

Instead of silently ignoring the control flow and picking the branch that was selected during the first call t

[2019-11-28 07:56] leezu commented on #16926
@Wallart would https://github.com/apache/incubator-mxnet/issues/16932 be helpful? Please comment there if you have any concerns.

[2019-11-28 08:39] leezu opened #16933 "Python setup.py bdist_wheel broken"
## Description
Python package built with the scripts included in this repository is not functional. The `libmxnet.so` is not installed to the same place as with our Pypi packages.

It will be copied to `mxnet/libmxnet.so`  instead of `lib/python3.8/site-packages/mxnet/libmxnet.so`

It seems the destination path of package data is not set up correctly (cf https://www.python.org/dev/peps/pep-0427/#i

[2019-11-28 08:43] leezu commented on #16933
CC @lanking520 @szha @zachgk @marcoabreu

Is there any public version of the scripts used for building the pypi release?

[2019-11-28 08:46] liuzh91 commented on #16930
Ok, we will wrap it in the class.

[2019-11-28 08:47] leezu commented on #16930
The same considerations should apply to `evaluate_batch`?

[2019-11-28 08:48] liuzh91 commented on #16930
I think so

[2019-11-28 09:03] liuzh91 commented on #16930
The problem is even we can use pack/unpack workaround to bypass the input/output issue. The computation of loss function may still be diverse. For example, for `standardRNN`, one has:
[code]
On the other hand, for `BigRNN`, one has
[code]
In this case, we may resort to if/else clause to judge which computation routine we shall use. The code will be cumbersome in the future.

[2019-11-28 09:08] xidulu opened #16935 "[Numpy] Op for loading serialized np array"
## Description

In many machine learning tutorials/assignments, the dataset is distributed through serialized numpy ndarray.
However, DeepNumpy currently cannot directly load these data.
A workaround would be:
`X = np.array(onp.load(DATA_FILE))`

[2019-11-28 09:40] xidulu opened #16936 "[Numpy] `np.sum` raises exception under naive engine"
[code]

[2019-11-28 10:14] xidulu opened #16937 "[Numpy] Zero-size tensor add zero-size sum raises exception"
## Description

Very weird problem:

Expected output:
[code]

[code]

What deepNumpy outputs:

[code]

[code]

[2019-11-28 11:53] kpuatamazon opened #16938 "Quadratic operator backward actually calls forward for FComputeEx"
## Description
I think this line is incorrect.  It's defining `_contrib_backward_quadratic` but calls the forward step.

https://github.com/apache/incubator-mxnet/blob/32a9baac3b7b58b133bfc4eb9426ccba75986eb3/src/operator/contrib/quadratic_op.cc#L76

Realize this operator is mostly there for documentation and I'm trying to learn from it.

[2019-11-28 13:25] GPoloVera opened #16939 "Including original Numpy Sort methods"
## Description
Include in the mxnet.numpy interface functions from the numpy package

- numpy.sort(a, axis =1, kind=None , order=None ): This is a package function

- numpy.ndarray.sort(axis=-1, kind=None , order=None): This is an instance method

- numpy.argsort(a, axis=-1 , kind=None, order=None): This is a package function

The idea is to use them within a autograd.record() context and being ab

[2019-11-28 13:28] 610v4nn1 commented on #8337
I am also facing something which seems to be the same problem. Is there an update on this bug?

[2019-11-28 13:49] rongzha1 commented on #16891
Hi @samskalicky  I applied AWS Deep learning AMI, c5.18xlarge and ubuntu 14.04 as yours
Using @leleamol shared script to build mxnet:

1. mxnet1.5:
      git checkout v1.5.x(commit c9818480680f84daa6e281a974ab263691302ba8)
      when training, some error happens:
      mxnet.base.MXNetError: [08:18:23] src/operator/nn/mkldnn/mkldnn_base.cc:372: Unknown MKLDNN format for 4 dimensions: 53
      So w

[2019-11-28 18:37] RuRo commented on #16932
I think, that the bigger issue here is not that hybridization doesn't account for user defined conditions/branching, but that there is no way (?) to obtain information about the current execution mode after hybridization.

If I understood you correctly, detecting "unsupported" usage for hybridization in Gluon would require introspecting user code inside `hybrid_forward`, which is not possible/reas

[2019-11-28 22:03] sxjscience commented on #16939
I think there is an open PR that tries to add sort: https://github.com/apache/incubator-mxnet/pull/16750

[2019-11-28 22:59] szha commented on #16279
To clarify, this inconsistency still exists in the NDArray and Symbol implementation and it's considered as "won't fix".

[2019-11-28 23:05] whamza15 commented on #16701
Looks like while_loop does not produce correct gradient either.

[2019-11-29 02:24] leezu commented on #16932
The proposed solution will help for the case of #16926. Do you want to work on it?

Using `F.contrib.cond` could (need to confirm with @junrushao1994 ) currently make your model run slower as certain optimizations taken by MXNet are currently not supported with dynamic control flow in the computational graph.

Detecting "unsupported" usage for hybridization is non-trivial / may require restriction

[2019-11-29 02:25] wuxun-zhang commented on #16929
@evi-Genius Are you running on GPU context? The models generated by `imagenet_gen_qsym_mkldnn.py` should be executed on CPU, please try to specify `--ctx=cpu` when you launched `imagenet_inference.py`.

[2019-11-29 04:21] liuzh91 opened #16942 "Validation model can be different from fit model in estimator class"
## Description
In current estimator class implementation, validation model is the same network as the training model `self.net`. Code of `evaluate_batch()` is shown below:

[code]

This assumption does not hold true in the general case. It is common to have a different validation model than the training model on many tasks, e.g., the language model.

[code]
Please refer to (https://github.com/dmlc

[2019-11-29 05:15] haojin2 opened #16943 "Failing Test: test_contrib_amp.test_amp_conversion"
Happening multiple times across different platforms/PRs/builds:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16870/9/pipeline/356
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-16788/20/pipeline/76
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fun

[2019-11-29 05:22] haojin2 commented on #16911
@lanking520

[2019-11-29 05:33] haojin2 opened #16945 "Python and Scala 14.04 Static build checks fails due to Ubuntu mirror problems."
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16931/3/pipeline/313
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16931/3/pipeline/312
[code]

[2019-11-29 05:55] s0nghuiming opened #16946 "Miss mkdir tests/python/unittest/data before executing tests in test_image.py module"
## Description
Miss mkdir tests/python/unittest/data before executing tests in test_image.py module
This will lead test_image failed two cases, they are:
  - test_image#TestImage#test_imageiter
  - test_image#TestImage#test_image_detiter

### Error Message

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provid

[2019-11-30 02:09] haojin2 commented on #16939
PR for `np.argsort`: #16949

[2019-11-30 03:13] larroy opened #16950 "Failure on docker run for ubuntu_build_cuda"
## Description

There seems to be a problem with nvidia docker in EC2 when running in recent 18.04 environment.

[code]

[code]

[2019-11-30 03:13] larroy commented on #16950
@mxnet-label-bot add [CI]

[2019-11-30 07:05] larroy opened #16951 "CentOS GPU tests failing in master"
## Description

Centos GPU tests are failing in master:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/master/1341/

I couldn't reproduce in p3 instance over ubuntu 18.04. Trying in the CI AMI now.

Seems to be a problem in the base AMI, reproduced by running the following commands:

[code]

Failure is:

[code]

A solution would be to update

[2019-11-30 07:10] larroy commented on #16951
@mxnet-label-bot add [CI]

[2019-11-30 22:47] oorqueda commented on #16891
Hi @TaoLv, is there an ETA to have this issue fixed? It's causing quite some concern around here.

Thanks,

Omar

[2019-12-01 00:04] szha commented on #16754
Yes, mirror should be working with the symbolic API/graph executor. There shouldn't be a need for rewriting, since HybridBlock outputs a symbol when you feed it with one.

[2019-12-01 02:15] larroy commented on #16891
Added a script for easy repro:

http://ix.io/23fU

http://ix.io/23fV

To run:
[code]

[2019-12-01 03:16] haojin2 commented on #16951
For more info, I've made a change to print the cublaserror's error message out:
[code]
The error type is `CUBLAS_STATUS_INVALID_VALUE`.

[2019-12-01 05:04] larroy commented on #16951
I think the error doesn't say much. I think the issue is the driver inside the docker image causes problems, at least I saw nvidia engineers acknowledging such an issue. If you see one of my PRs the failure goes away but some jobs require cuda libs in the container.

[2019-12-01 05:23] TaoLv commented on #16891
@oorqueda @samskalicky @leleamol As mentioned in https://github.com/apache/incubator-mxnet/issues/16891#issuecomment-557760466, I suspect that the regression is caused by the removal of libiomp5.so. To verify, please try to apply the below patch to `make/pip_linux_mkl.mk`:

[code]
And then build MXNet with:
[code]
If it's true, I don't think we have any choice to avoid the regression in pip packag

[2019-12-01 08:30] Lurx2000 opened #16954 "Illegal instruction (core dumped)"

[2019-12-01 11:41] #16954 closed

[2019-12-01 20:27] zhanghang1989 opened #16956 "Error Running GluonCV Transfer Learning Tutorial on Mac OSX"
## Description

Error Running GluonCV Transfer Learning Tutorial on Mac OSX.
https://gluon-cv.mxnet.io/build/examples_classification/transfer_learning_minc.html

### Error Message
(Paste the complete error message, including stack trace.)
[code]
## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

##

[2019-12-01 20:27] zhanghang1989 commented on #16956
Related GluonCV issue https://github.com/dmlc/gluon-cv/issues/1069

[2019-12-01 22:14] zhanghang1989 commented on #16956
Related isssue https://github.com/apache/incubator-mxnet/issues/16051#issue-487660150

[2019-12-02 05:48] leezu commented on #16193
We should agree on some solution prior to the next release.

[2019-12-02 05:53] szha commented on #16933
You should use `tools/staticbuild/build_lib.sh` for building the mxnet library. Refer to `tools/staticbuild/README.md`

[2019-12-02 06:57] ymzx commented on #16803
https://github.com/ymzx/pixellink-mxnet.git

[2019-12-02 07:31] ymzx commented on #16803
i had add steps and scripts instead of screenshot in https://github.com/ymzx/pixellink-mxnet.git

[2019-12-02 08:51] Wallart commented on #16926
@leezu Thank you for your answer.
I will submit a PR to clarify the documentation

[2019-12-02 08:52] Wallart commented on #16754
Ok, I will give it a try and let you know if it works

[2019-12-02 14:23] ChrisQiqiang opened #16958 "The detail transfer method of one NDArray LIST between machines."
#A question about kvstore.push
The tensors are transferred by calling the function named KVstore.push and pull. And it also supports the way like this:
Kvstore.Push(key_list, [ndarray1, ndarray2...] ,priority)
I cannot get the detail process, I wanna know whether the Ndarray list would be compressed into a file, then be transferred in a TCP/IP process.
Through my test, it may just a list and the N

[2019-12-02 15:56] Wallart commented on #16754
Could you provide a basic example ?
I'm struggling to find valid documentation on the use of HybridBlocks with a graph executor

[2019-12-02 19:43] eric-haibin-lin opened #16959 "Estimator.evaluate does not support logging"
Gluon estimator does not log evaluation progress. It does not have the event_handler option. Shall we add it?

[2019-12-02 19:58] drmasud opened #16960 "large numpy array to mxnet ndarray conversion"
## Description
Conversion fails on large matrices.

### Error Message
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ec2-user/.local/lib/python3.6/site-packages/mxnet/ndarray/utils.py", line 146, in array
    return _array(source_array, ctx=ctx, dtype=dtype)
  File "/home/ec2-user/.local/lib/python3.6/site-packages/mxnet/ndarray/ndarray.py", line 2505, in ar

[2019-12-02 20:59] ptrendx commented on #16943
This failure  is not specific to that test, I believe it is a CI misconfiguration. Maybe it pulls in 10.2 version of cublas for 10.1 toolkit?
@samskalicky @ChaiBapchya Could you comment on that?

[2019-12-02 22:05] stephenrawls commented on #16960
Looks like 5M > 2^32, i.e. you have more elements than a single int32 can represent.

This PR adds support for int64 number of elements: https://github.com/apache/incubator-mxnet/pull/14570

But it does it via a build-time flag USE_INT64_TENSOR_SIZE, which defaults to false.

Looks like you need to build a custom version of MXNet with this flag turned on: USE_INT64_TENSOR_SIZE

[2019-12-03 00:10] samskalicky commented on #16943
@apeforest and @roywei are working on this. FYI @larroy

[2019-12-03 00:16] lanking520 commented on #16911
@dnzprmksz Currently, we do not publish the Spark packge to maven. You may need to build from source with Maven to use the Spark package.

[2019-12-03 00:35] apeforest commented on #16943
@larroy confirmed it's an issue of outdated Nvidia driver. He could not reproduce the error on an Ubuntu 18.04 instance. @larroy is working to deploy an AMI from his successful EC2 instance.

[2019-12-03 01:05] #16877 closed

[2019-12-03 02:34] liuzh91 commented on #16959
I can do this.

[2019-12-03 03:22] coltzwz commented on #14875
the bug is happen in yolo3.py line 161, there is a None param, fix it. and then u will meet the _arange op not regist

[2019-12-03 03:28] MediosZ opened #16961 "Unable to hardcode the OMP_NUM_THREADS into program"
Hi, I want to run mxnet in single thread mode, and for some reason I can't set environment variables.
First I recompile the library without MKL-DNN and OpenMP support using the latest code and hardcode "MXNET_ENGINE_TYPE=NaiveEngine"
Then I want to set OMP_NUM_THREADS=1 in a similar way.

Here's what I done, I modify some code in openmp.cc
[code]

But the program will create 56 workers as usual.
W

[2019-12-03 03:41] leezu commented on #16754
`output_symbols = net(*input_symbols)` where `net` is your HybridBlock.
Just use the `output_symbols` and ignore `net`. You only use `net` to obtain the symbol.

[2019-12-03 04:28] NamTran838P commented on #15787
Hello, I got a similar issue on both of my desktop computers. Their specs are:

Windows 8 & 10
Python 3.8

After installing mxnet using the pip install command, I got the following error message when attempting to call

`import mxnet as mx`

I have made sure that the CUDA version matches the mxnet package that I installed. Please help. Thanks a lot.

![Capture (1)](https://user-images.githubuserco

[2019-12-03 05:11] leezu commented on #15787
There are no Python 3.8 builds for Pip yet.
You most likely have some inconsistency where you tried to install MXNet from source for Py3.8 but forgot to compile (as above). And later you installed from pip for a different Python version.

I'll close the issue for now as it is related to not building MXNet when installing from source. Let's track the Py3.8 release separately.

[2019-12-03 05:11] #15787 closed

[2019-12-03 05:12] leezu commented on #15787
You can follow https://mxnet.apache.org/get_started/windows_setup#build-from-source to build for Python 3.8 on Windows.

[2019-12-03 06:20] ymzx commented on #13482
+1

[2019-12-03 06:50] larroy opened #16962 "TVM compiling something serially for 16 min"
Seems during Build / GPU: USE_INT64_TENSOR_SIZE  TVM is compiling some kernels in serial mode and they are extremely slow to compile. Any ideas what's going on here? There's just one core used during the job.

[code]

[2019-12-03 06:50] larroy commented on #16962
@mxnet-label-bot add [TVM, CI]

[2019-12-03 06:50] larroy commented on #16962
@mxnet-label-bot add [build]

[2019-12-03 06:53] larroy commented on #16962
http://jenkins.mxnet-ci-dev.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fapache-unix-gpu/detail/master/4/pipeline

[2019-12-03 06:55] larroy commented on #15787
Try setting
MXNET_LIBRARY_PATH
to the path of the dll

https://mxnet.apache.org/api/faq/env_var

[2019-12-03 06:57] Swarnagupta opened #16963 "I am trying to install MXNet for R. In the documentation - https://mxnet.apache.org/get_started/ubuntu_setup.html#install-the-mxnet-package-for-r"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message, including stack trace.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.
2.

## What have yo

[2019-12-03 07:00] Swarnagupta commented on #16963
![docs folder](https://user-images.githubusercontent.com/8513995/70027645-9ffcaa80-15c8-11ea-999b-7f1dece71c3d.PNG)

[2019-12-03 07:05] cs8105 opened #16964 "Data comparison is inconsistent with numpy"
In [88]: nd.array([0],dtype='int') < 1e-3
Out[88]:

[0]
<NDArray 1 @cpu(0)>

In [89]: np.array([0],dtype='int') < 1e-3
Out[89]: array([ True])

In [90]:

[2019-12-03 08:25] leezu commented on #16933
This is unrelated to using `tools/staticbuild/build_lib.sh` for building the mxnet library. The point is that the `libmxnet.so` is not placed correctly into the wheel by `setup.py bdist_wheel` (which is run as part of `tools/staticbuild/README.md`). It seems there's some missing step in the public version of the scripts. Nevertheless I confirm that the bug is still present when following `tools/st

[2019-12-03 12:13] romeolandry opened #16967 "Cannot import [yolo3]() model from onnx/model zoo"
## Description
I downloaded [yolo3](https://github.com/onnx/models/blob/master/vision/object_detection_segmentation/yolov3) model from onnx/model zoo. I tried to import that to mxnet via mxnet.contrib.onnx but get the following error message.

### Error Message
--------------------------------------------------
KeyError         Traceback (most recent call last)
<ipython-input-13-7a0ead8a05d3> in <

[2019-12-03 18:34] TEChopra1000 commented on #15409
@aaronmarkham this has been fixed. This ticket can be closed.

[2019-12-03 19:31] zachgk commented on #16933
I think you also had to replace `python/setup.py` with `tools/pip/setup.py`

[2019-12-04 03:36] leezu commented on #16933
Thanks @zachgk. Actually it seems we have to copy all contents of `tools/pip` to the folder that contains the `mxnet` git repository. For example, if mxnet is at `~/src/mxnet`, then run `cp -R ~/src/mxnet/tools/pip/* ~/src/; cd ~/src; python setup.py bdist_wheel`. So the `tools/staticbuild/build_wheel.sh` is broken.

I'll open a PR to add documentation and maybe fix the scripts.

Besides, the scri

[2019-12-04 08:51] oljike opened #16969 "Gradient accumulation in Module"
Hi! I am trying to implement a simple MLP on MNIST with gradients accumulation using MX Module. _accum_step_ is number gradients accumulation steps. I am doing the following:
1. Bind the model with _grad_req="add"_ parameter
2. Run _forward(batch)_ and _backward()_ _accum_step - 1_ times.
3. On _accum_step_ iteration I run _model.update()_ and the following to zero the gradients:
`model._exec_grou

[2019-12-04 11:44] Wallart commented on #16754
To test mirroring, I've built a quick example, however after the first iteration the loss is always nan. I cannot push investigation further.

I am missing something but I can't find what it is. I suppose that the Transformer LayerNorm / Dropout are not working in training mode, but using an autograd.train_mode() when I'm extracting the network symbols does not solve the issue.
https://gist.github

[2019-12-04 12:04] leezu commented on #16754
Can you post a minimal example to reproduce the problem?

[2019-12-04 13:24] Wallart commented on #16754
Yes of course I will create a repo.

[2019-12-04 14:58] Wallart commented on #16754
https://github.com/Wallart/transformer-ts-forecasting
For execution :
./main.py train synth ~/fakePath 24 -e 400 -b 64 --num-layers 2 --dim-model 32 --dim-ff 128

By default it will start a training using Gluon API. To switch on Module API, you have to paste the following lines

in main.py line 131
[code]
in transformer.py line 38
[code]

[2019-12-04 16:10] Wallart commented on #16754
My bad  a MXNET_BACKWARD_DO_MIRROR=1 was dragging around PyCharm run conf.

[2019-12-04 21:08] haojin2 commented on #16964
Hi,
The behavior of nd is not guaranteed to be consistent as official NumPy.
If you're looking for NumPy-compatible behaviors, please try out the new NumPy-compatible interface, available in latest nightly versions & soon to be available in 1.6.0 release version:
[code]

[2019-12-05 00:47] ZhennanQin commented on #16961
Can you list the mxnet build cmd? If you're using openblas, I doubt the openmp threads are introduced by it. Maybe you can try to rebuild openblas without openmp.

[2019-12-05 01:52] pengzhao-intel commented on #16891
@leleamol could you help to confirm the current test status based on our feedback?
I don't want it to block 1.6 release.

cc @samskalicky @apeforest

[2019-12-05 04:40] haojin2 commented on #16964
@ptrendx I think it's a data type issue:
[code]
I guess `1e-3` was casted to integer in the backend...

[2019-12-05 05:02] leezu commented on #16754
@Wallart so you mean everything is working as expected? Then I'll close the issue. But please reopen if I misunderstood.

[2019-12-05 09:18] dnzprmksz commented on #16911
I tried building from source before asking the question but took me many hours and could not build due to dependencies somehow. Any plan on roadmap to release it on maven?

[2019-12-05 09:27] Wallart commented on #16754
I'm still not sure how to use _set_attr(force_mirroring='True'). I can't see any impact on memory consumption.
Can I set the attribute in the HybridBlock hybrid_forward ? Or do I have to wait to get the full computation graph ?

[2019-12-05 09:42] leezu commented on #16754
I think you can set it on the symbol which you obtained via `output_symbols = net(*input_symbols)`.

[2019-12-05 09:45] arcadiaphy commented on #16431
@anirudh2290 Just see this RFC. Let me share what I've done in multithreaded infererce, I think it's the only viable way now in mxnet.

I've deployed many models with scala API, and run them in multiple threads. The whole system has run smoothly in production environment for more than 2 months.

The backend of inference is graph executor, which is created for each thread with shared model paramete

[2019-12-05 12:02] stereomatchingkiss opened #16983 "C and cpp api of mxnet cannot load the yolov3 model of gluoncv"
## Description
C and cpp api of mxnet cannot load the yolov3 model of gluoncv, same codes works on windows 10 64bits home edition.

### Error Message
load by cpp api give error messages

    Segmentation fault: 11

    Stack trace:
    [bt] (0) /home/yyyy/Qt/3rdLibs/mxnet/build/install/lib/libmxnet.so(+0x1399959) [0x7f7019bc2959]
    [bt] (1) /lib/x86_64-linux-gnu/libc.so.6(+0x3ef20) [0x7f7016e37f

[2019-12-05 12:06] stereomatchingkiss commented on #16983
Is is possible to release prebuild binary of c++ of mxnet on different platforms? Like windows, ubuntu, mac os(like pytorch and tensorflow done), android and ios?
It is very hard to compile a working version of mxnet, I am ok and happy to use python, but not all of the tasks are suitable for python, thanks.

[2019-12-05 21:52] anirudh2290 commented on #16431
Thanks for the thoughtful and valuable comments @arcadiaphy.

Yes, if I am not mistaken this is very similar to how the C Predict API supports multi threaded inference today.

This is a very useful point. In my proposal, I was concentrating mostly on ThreadedEngine and not NaiveEngine. Though, recently I added tests for NaiveEngine in my PR and everything seemed to be working fine. Till now I have

[2019-12-05 22:02] #16647 closed

[2019-12-06 03:18] wb315 opened #16988 "gluoncv resnet50_v1b load"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message, including stack trace.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.
2.

## What have yo

[2019-12-06 06:43] wkcn commented on #16864
Existing Feature:
  - dynamic custom operator support on CPU #15921

Propose:
  - dynamic custom operator support on GPU
    The implementation of operators on CPU and GPU could share [the same forward/backward function](https://github.com/apache/incubator-mxnet/blob/master/example/extensions/lib_custom_op/gemm_lib.cc#L56), and distinguish them by [`MXTensor::dltensor.ctx`](https://github.com/apac

[2019-12-06 07:12] Alicia1529 opened #16991 "Array initialization and indexing is inconsistent with official numpy"
## Description
Two consistencies with official Numpy
1. when initializing a ndarray, the data type of official Numpy array will be casted to the input data type. DeepNumpy will set the default data type to be float32 unless the dtype parameter is explicitly declared.
[code]
2. when indexing a 1-d array, the return type of numpy array is a value, while the return type of deenumpy array is still a d

[2019-12-06 08:34] leezu commented on #10856
Unlocked the issue based on our code of conduct. https://www.apache.org/foundation/policies/conduct

[2019-12-06 08:44] leezu commented on #10856
Assertion still fails with latest master and `cmake -DUSE_CUDA=0 -DUSE_MKLDNN=0 -DCMAKE_EXPORT_COMPILE_COMMANDS=1 -DBUILD_CYTHON_MODULES=0 -DCMAKE_BUILD_TYPE=Debug ..` build.
[code]

[2019-12-06 08:53] ebinzacharias commented on #9320
Adding the following two lines in the script solved the issue for me.

#!/usr/bin/python
# coding=utf-8

Hope it helps !

[2019-12-06 14:30] kimtang commented on #16762
I encounter the same problem with -DCUDA_ARCH_LIST=Common. But then when I change to -DCUDA_ARCH_LIST=Pascal I can compile and link it on windows. It would be good to let people know how to compile for a specific gpu card

[2019-12-06 16:13] cjolivier01 commented on #10856
the theory for fix for that is stated in that issue regarding OMP calls during kernel tuning which may be erroneously re-executing static’s init after fork. it is probably correct.

[2019-12-06 16:17] cjolivier01 commented on #10856
curious which part of the code of conduct led you to unlock that issue. it was locked due to violations of code of conduct. that can be discussed on dev if you wish to unlock it next time.

[2019-12-06 18:32] cuibuaa opened #16994 "DataLoader: Missing batch_size dim when num_workers > 0"
## Description
When num_workers is not 0, Dataloader misses batch_size dimension for the last batch with one sample.

### Error Message
No specific error trace, but this issue will cause a series of errors for the last batch samples

## To Reproduce

[code]

### Steps to reproduce

1. if num_workers > 0, the output is :
[1 1 1 1]
<NDArray 4 @cpu_shared(0)>
2. if num_workers = 0, the output is:
[[1

[2019-12-06 18:34] aaronmarkham opened #16995 "CI timeout on unix-cpu Python2 test"
## Description
This test hit the 4 hour timeout on a couple of recent runs, blocking PRs.
unix-cpu > Python2

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16980/6/pipeline/294
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16986/2/pipeline/

## What have you tried to sol

[2019-12-06 19:00] apeforest commented on #16995
The latest PR passes in 1 hr 37mins. https://github.com/apache/incubator-mxnet/pull/16992
It does seem quite flaky.

[2019-12-06 19:36] larroy commented on #16995
I diagnosed some of the timeouts to come from EFS rate limit. EFS shared ccache is currently disabled in the master CI for this reason. I don't like shared state but having a shared EFS ccache might indeed provide some value which should be measured, but the size was too huge and too many small files overload EFS IO.  In this case, from what I see the test itself is taking 4h, and the cache is dis

[2019-12-06 19:38] larroy commented on #16995
Compare with a normal run which takes 1:30 http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/1350/pipeline/294

[2019-12-06 19:46] larroy commented on #16951
Fixed by https://github.com/apache/incubator-mxnet/pull/16968

[2019-12-06 19:46] #16951 closed

[2019-12-06 19:46] larroy commented on #16950
Fixed by https://github.com/apache/incubator-mxnet/pull/16968

[2019-12-06 20:25] mikeobr commented on #16864
A feature that would be very useful for production deployments of MXNet models would be the ability to cache or save Autotune results, there are several feature requests already around this topic, such as https://github.com/apache/incubator-mxnet/issues/16173 and https://github.com/apache/incubator-mxnet/issues/10567.

Our production servers have multiple instances of networks on them. Autotuning

[2019-12-06 20:31] samskalicky opened #16996 "mx.io.NDArrayIter cant pad when size is large"
## Description
When input data is smaller than batch size, sometime it errors out with:
[code]

## To Reproduce
[code]

Using a batch size of 20 succeeds, but larger sizes fail.

### Steps to reproduce
This is using the 1.6.0 branch

[2019-12-06 21:11] haojin2 commented on #16217
Happening again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16990/4/pipeline/
[code]

[2019-12-06 21:21] sxjscience commented on #16964
I think the root cause would be the same as https://github.com/apache/incubator-mxnet/issues/16653

[2019-12-06 21:33] NihalHarish commented on #16891
Hi, I tried to build using these steps and encountered this error:

[code]

[2019-12-06 21:36] #15535 closed

[2019-12-06 22:37] NihalHarish commented on #16891
Retried with this patch and got these results:

**Average Throughput: 1663.49 samples/sec**

[code]

[2019-12-06 23:40] ChaiBapchya commented on #16891
@NihalHarish thanks for verifying

@TaoLv
The patch doesn't seem to be merged on the master branch. Any reason why it's not being done along with the PR that bumped MKLDNN to v1.0 https://github.com/apache/incubator-mxnet/pull/16555

[code]

If it was omitted by mistake and since it is required, I could push a PR for the same.

2. Also, do you folks have any data about performance tests run AFTER

[2019-12-07 00:02] wkcn commented on #15925
‘’’

reproduce.
Setting test np/mx/python random seeds, use MXNET_TEST_SEED=976443772 to reproduce.
ERROR
test_operator_gpu.test_np_linalg_slogdet ... [INFO] Setting test np/mx/python random seeds, use MXNET_TEST_SEED=1853898693 to reproduce.
Setting test np/mx/python random seeds, use MXNET_TEST_SEED=1853898693 to reproduce.
ERROR
test_operator_gpu.test_np_linalg_svd ... [INFO] Setting test np/mx

[2019-12-07 00:21] #16950 closed

[2019-12-07 03:45] leezu commented on #10856
I'm unlocking it based on my understanding of the "Be open" and "Be empathetic, welcoming, friendly, and patient." guidelines and based on my belief that after several months any heated / hostile tone which lead to the locking, should have calmed down. I think no discussion on dev is needed as there was none to establish the locking, but if you would like to start one, please go ahead. For now I s

[2019-12-07 04:22] stereomatchingkiss opened #17003 "Release prebuild binary of cpp"
## Description
Any plan to release prebuild binary of cpp in the future for different os?Like windows, mac, linux?
It is very difficult to build a workable mxnet.

[2019-12-07 05:05] #16918 closed

[2019-12-07 05:38] xidulu commented on #17003
I believe what you are looking for is the `nightly build`.
You could refer to the `Prerequisites` section in https://github.com/haojin2/PyData-LA-Demo

[2019-12-07 08:30] stereomatchingkiss commented on #17003
No, I mean the headers files and the libraries(dll, lib, .a, .so)  which could be used by c++ applications, it is very difficult to build a working c++ library for mxnet on different platforms, every new release of the mxnet may break the old solution which work.

[2019-12-07 08:48] leezu commented on #17003
I don't think shipping a precompiled libraries is a good solution for C++. It relies on implementation (compiler) defined ABI and may break at any point. You can take a look at [P1863R0](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2019/p1863r0.pdf).

Instead, how about we improve the `CMakeLists.txt`, so that MXNet can easily be integrated in other projects that use cmake. https://cliutils.

[2019-12-07 10:04] stereomatchingkiss commented on #17003
I hope cmake can make the process easy, but it is still very, very hard to build a cpp library of mxnet after so many years, and I don't think this issue could be solved in the near future.

After a lot of struggle, I manage to build mxnet on ubuntu and windows(especially on windows), the good news are the library works on windows, but do not works on ubuntu.

You could check the issue #16983 if y

[2019-12-07 13:16] leezu commented on #10856
This also affects compiling Cython extensions. It's impossible to compile Cython extensions as long as this issue remains unfixed:

[code]

`cmake -DUSE_CUDA=0 -DUSE_MKLDNN=0 -DCMAKE_EXPORT_COMPILE_COMMANDS=1 -DBUILD_CYTHON_MODULES=1 -DCMAKE_BUILD_TYPE=Debug ..`

[2019-12-07 13:35] xidulu opened #17004 "[RFC] [Gluon] Accumulating loss in the forward phase"
## Description

In `tf.keras`, users could call `add_loss` method to create some non-standard loss function (when I say standard, I mean loss function that takes parameters other than `y_true` and `y_pred`), e.g. loss function that involves the input.

https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer#add_loss

A practical example would be Bayesian Neural Network:
[code]
source: htt

[2019-12-07 14:59] vjache opened #17005 "Concatenate with empty array fails."
## Description
[code]

### Error Message
[code]
## To Reproduce
See description.

### Steps to reproduce
See description.

## What have you tried to solve it?
The second array is automatically computed by algorithm, and at some edge case it produce a zero lenghted slice.

## Environment

We recommend using our script for collecting the diagnositc information. Run the following command and paste th

[2019-12-07 15:07] cjolivier01 commented on #10856
so fix the bug that’s causing the assert or switch omp to build in release mode.  the former is preferred.
btw i compiled a lot of cython (see my cython branch in the repo) without incident.

asserts should be root causes and not swept under the rug.

[2019-12-07 15:31] leezu commented on #17005
You need to use numpy compatible mode. Zero dim arrays are not supported otherwise. See https://github.com/apache/incubator-mxnet/issues/14253

[2019-12-07 15:31] #17005 closed

[2019-12-07 15:48] leezu commented on #10856
It should be root caused. But this issue is open since 1.5 years and no-one stepped up to do it / was able to do it. Are you willing to root-cause it?

Otherwise, could you provide more information on why you believe linking with `3rdparty/openmp` is needed? https://github.com/apache/incubator-mxnet/pull/8730 doesn't provide any reasoning.

[2019-12-07 16:06] leezu commented on #10856
It appears to me that this issue only occurs when having multiple openmp libraries at runtime. I don't understand why we need to support this use-case. MKL-DNN works with whatever openmp runtime is provided by the compiler [[1](https://github.com/intel/mkl-dnn/blob/433e086bf5d9e5ccfc9ec0b70322f931b6b1921d/doc/build/build_options.md#openmp)]. If you think this use-case is important, please give som

[2019-12-07 17:06] cjolivier01 commented on #10856
if it is really a problem, then it would be prioritized. all the necessary
info is in that issue (and i already mentioned just yesterday or today on
that ticket) what it was again and it’s like i was talking to no one, as it
has been, simply an immediate revert to “remove the library”.  in the time
wasted on all this, it could have been resolved 100 times over.

I can remove just about every bug f

[2019-12-07 17:32] nerdoid commented on #16753
I checked out master and updated the submodules, and encountered the same error originally reported by alopez1327. My steps:

[code]

[2019-12-07 17:37] cjolivier01 commented on #10856
Chris, I'm trying to understand the situation better exactly because I think
this bug is important and I would like to address it. Therefore I asked you a
question, expecting your answer would be helpful to solve this problem.
Unfortunately it seems to me that your answer misses the point of my question.

Let me reiterate the question and provide more background information.

1) It is my understan

[2019-12-07 17:38] leezu commented on #10856
Chris, I'm trying to understand the situation better exactly because I think
this bug is important and I would like to address it. Therefore I asked you a
question, expecting your answer would be helpful to solve this problem.
Unfortunately it seems to me that your answer misses the point of my question.

Let me reiterate the question and provide more background information.

1) It is my understan

[2019-12-07 17:42] vjache commented on #17005
Dear @leezu, I can't use the unexisting thing.  I'm using Windows, and as you probably know it is not supported.
See also:
 https://github.com/apache/incubator-mxnet/issues/15681#issuecomment-516114231 .

![image](https://user-images.githubusercontent.com/1158761/70378505-133c4e80-1932-11ea-8c53-8c8141a0ddf0.png)

[2019-12-07 17:48] vjache commented on #15681
No, you can't, for Windows.

[2019-12-07 18:32] leezu commented on #17005
The page is outdated. Just install the normal nightly version or compile master version from source

[2019-12-07 18:34] samskalicky opened #17006 "[RFC] Custom Operator Part 2"
## Description
Request for comments on the next PR for enhancing custom operator support

Heres some suggestions from the initial PR (Part 1):
- custom GPU operators
- Random number generator resource request
- sparse data types
- migrate lambda functions in MXLoadLib in src/c_api/c_api.cc to classes defined elsewhere
- Documentation, add the "library" python package to the namespace to the doc: h

[2019-12-07 23:51] wkcn commented on #15681
Hi @vjache , I replied the issue in the early date(July 29), when the NumPy branch was not merged into the master branch.
Recently, it is available to install MXNet with numpy-like API, on Windows, by ‘pip install mxnet —pre’. If it can’t yet, welcome to.submit an issue.

[2019-12-08 00:13] wkcn commented on #17006
Hi @samskalicky , thank you for the contribution!
I have several suggestions.

- custom GPU operators
  1. Provide CUDA stream in `OpResource`.
  2. Share the same function on CPU and GPU.
      Users can discriminate the context by `MXTensor::dltensor::ctx`
- Call framework specific math helper
  It is important for a custom operator. Users may call gemm, even convolution op in custom op.

Thanks

[2019-12-08 02:01] #15681 closed

[2019-12-08 02:39] szha commented on #16708
@zhreshold any luck?

[2019-12-08 02:41] szha commented on #16376
How's this project going?

[2019-12-08 02:45] szha commented on #16995
Let's use the flaky label just for tests.

[2019-12-08 02:47] szha commented on #16478
Let's use the flaky label just for tests.

[2019-12-08 03:02] eric-haibin-lin commented on #16795
I do expect the API to change in the future. Currently @szhengac @zhongyuchen and I are exploring APIs for gradient compression with a few algorithms, and we may bring back the best practice back to MXNet.

[2019-12-08 03:50] leezu commented on #14979
Thanks @pengzhao-intel. I observe the issue still happens when compiling MXNet master with the llvm-openmp and MKLDNN. It is my understanding, that llvm-openmp and intel openmp share the same codebase, so I suppose this is expected ([reference](https://software.intel.com/en-us/forums/intel-c-compiler/topic/793552))? What do you think?

For now I'll reopen this issue to facilitate further investiga

[2019-12-08 08:01] z01nl1o02 commented on #15957
add copy constructor may fix it
`  NodeEntry(const struct NodeEntry& entry):
    node(std::move(entry.node)),
    index(entry.index),
    version(entry.version)
  {}
`

[2019-12-08 09:03] Alicia1529 opened #17011 "[Numpy] additional default parameter for mxnet.numpy.max: axis=-1"
Max operator in official numpy can support argument axis=-1 and return max value from its last dimension. Wonder if deepnumpy can support this argument.
[code]

[2019-12-08 09:14] leezu commented on #14979
There are currently two hypotheses about the root cause of this error (https://github.com/apache/incubator-mxnet/issues/14979#issuecomment-525103793): a) bug in llvm / intel openmp b) interaction between gomp and llvm / intel openmp.

I did some more investigation and conclude we can rule out option b. In particular, I compile `CC=clang-8 CXX=clang++-8 cmake -DUSE_CUDA=1 -DUSE_MKLDNN=1 -DCMAKE_EXP

[2019-12-08 11:59] TaoLv commented on #16891
@ChaiBapchya The file is used to build mxnet-mkl pip package. If you want to change the configurations, I think you need have a proposal on dev@.

[2019-12-08 12:36] fatherMatrix opened #17013 "How can I use mshadow in C++ as a matrix compute framework like Eigen?"
## Description
I like MXNet very much and I'd like to use tools about mxnet community in my daily work. But I find  the C++ interface of mashadow or ndarray doesn't support matrix compute like equation solve or matrix decomposition. So I just wonder how it would be if we can support it in the future.

[2019-12-08 14:09] cjolivier01 commented on #14979
what is the source file and line number of that crash in libmxnet.so? What’s the line of code crashing?

[2019-12-08 16:03] xidulu commented on #17011
Looks like the problem occurs in this line
https://github.com/apache/incubator-mxnet/blob/9b25db05b4de18b5bfed8467cfd934f2bfa4f11a/src/operator/numpy/np_broadcast_reduce_op.h#L190

I guess an additional check for bypassing the access to ishape tuple (`ishape[axes[i]]`) may solve the problem.

[2019-12-09 00:09] #16996 closed

[2019-12-09 00:43] kice commented on #16590
In my case, I use pytorch to export onnx with opset less than 8, it still cannot import the model to mxnet.

[code]

[code]
Here is the output
[code]

Here is error when I import the model.
[code]

I even try to add the model parameters to the input names for pytorch to export,
[code]

[2019-12-09 01:43] MediosZ commented on #16961
Yes, the threads are created by openblas, and I rebuild the openblas setting the number of threads to one, then problem solved.
Thanks @ZhennanQin

[2019-12-09 01:43] #16961 closed

[2019-12-09 01:46] wkcn commented on #16994
Hi @cuibuaa , please use the latest version of MXNet. It is a bug in the old version.

[2019-12-09 05:57] szha opened #17017 "USE_BLAS=apple broken on OSX 10.15"
## Description
Starting from 10.15, Accelerate/vecLib frameworks are not shipped by default ([macOS frameworks are now thinned for the x86-64 architecture](https://developer.apple.com/documentation/macos_release_notes/macos_catalina_10_15_release_notes)), and the users need to install macOS SDK separately.

### Error Message
cblas.h not found

## To Reproduce
on OSX 10.15, `make USE_BLAS=apple`

#

[2019-12-09 05:59] leezu commented on #17017
How about CMake?

[2019-12-09 06:05] szha commented on #17017
It looks broken too: https://github.com/apache/incubator-mxnet/blob/master/cmake/Modules/FindAccelerate.cmake#L27

[2019-12-09 06:30] janelu9 commented on #9359
I think I can use embedding

[2019-12-09 06:32] rondogency commented on #17006
Need to include a fix for the test error https://github.com/apache/incubator-mxnet/pull/15921#pullrequestreview-328686634

[2019-12-09 06:58] haojin2 commented on #16830
Happening again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17016/1/pipeline
[code]

[2019-12-09 07:02] pengzhao-intel commented on #16830
skip the test now and please merge the code.

[2019-12-09 07:42] perdasilva opened #17020 "[CUDA 9.0] NVRTC Compilation failed"
## Description
Since #15167, the CD pipeline for CUDA 9.0 have been failing.

### Error Message

Many examples can be taken from the CD pipeline, [e.g.](http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/detail/mxnet-cd-release-job/276/pipeline)

[code]

## To Reproduce

Run the CD pipeline for cu90 and/or cu90mkl

## What have you tried to

[2019-12-09 07:42] perdasilva commented on #17020
@DickJC123 I've created a proper issue so we can track this problem - thanks for looking into it!

[2019-12-09 08:03] leezu commented on #17020
As  #15167 is part of 1.6 release, is this a release blocker?

[2019-12-09 08:19] #10856 closed

[2019-12-09 08:53] haojin2 commented on #17011
PR merged, closing

[2019-12-09 08:53] #17011 closed

[2019-12-09 09:10] haojin2 commented on #16839
Happening again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17009/3/pipeline/
[code]

[2019-12-09 09:12] TaoLv commented on #14979
@leezu, not sure if the problem of LLVM OMP is the same one as described at the beginning of this issue. I simply took the original issue as a problem of iomp5 which has been removed from all the binary releases of MXNet. Hence the issue was closed.
If you have further interests, you can reproduce the original issue with code snippet and package provided in the description on a GPU. And the please

[2019-12-09 09:15] TaoLv commented on #14979
The library can be found at: https://software.intel.com/en-us/parallel-studio-xe/choose-download

[2019-12-09 09:24] haojin2 opened #17022 "Flaky Test: test_ndarray.test_update_ops_mutation"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16774/12/pipeline/
[code]

[2019-12-09 09:34] TaoLv commented on #13875
@leezu, the same issue and same fix as #14979. I'm closing this issue as:
1. `libiomp5.so` has been removed from the pip releases of MXNet;
2. The problem should have been fixed in a newer version of `libiomp5.so`.

Feel free to reopen if you have any question. Thanks!

[2019-12-09 09:34] #13875 closed

[2019-12-09 09:44] leezu commented on #14979
Is the iomp source code based on llvm? What version of llvm omp would the 2019.0 update correspond to? Or is the source different? I'll try it.

[2019-12-09 10:18] haojin2 commented on #16653
The latest master branch today has this behavior:
[code]
But still has a little bit problem with the scalar case:
[code]
I think this is a new case for the binary scalar op, I'll work on a solution to this.

[2019-12-09 10:49] leezu commented on #14979
@cjolivier01 https://github.com/apache/incubator-mxnet/blob/ce97e22813442b55211703c1bfa8fa20d58ef0e8/src/engine/openmp.cc#L72-L82

[2019-12-09 12:46] cjolivier01 commented on #14979
which line? the stack trace you listed says libmxnet.so at stack level 0 rather than libomp.so, so it wouldn’t be in the omp calls here, correct, is the CHECK_GE failing?

[2019-12-09 12:55] leezu commented on #14979
The function referred to above is the `bt [3]` in the backtrace. CHECK_GE is not failing, because `bt [2]` is part of `libomp.so`. But I'm not sure if it is due to the `omp_set_num_threads(1);` or `omp_set_num_threads(omp_thread_max_ - reserve_cores_);` call. `addr2line` just prints `??` if I try to look up the address of `bt [3]`

The libmxnet.so function on `bt [0]` does not seem very interestin

[2019-12-09 13:26] cjolivier01 commented on #14979
thanks now the stack trace makes sense. maybe libomp isn’t built with -O0 in debug mode — assuming this is a debug build.

[2019-12-09 13:30] cjolivier01 commented on #14979
this problem is gone with the upgrade?

[2019-12-09 13:34] cjolivier01 commented on #14979
actually the problem is seen in a stack trace earlier in this issue with the stock libiomp5 release as well?

[2019-12-09 14:00] cjolivier01 commented on #14979
If it’s gone with the upgrade, then fine.

However, if it’s not, and since it also happened with official dust of libiomp5, then considering that llvm omp is in HUGE distribution globally being part of clang and all, then it seems pretty unlikely to me that it’s a bug in the openmp causing this. Especially since I wrote most of this omp-related stuff in mxnet that is in that stack trace, and I def

[2019-12-09 14:34] cjolivier01 commented on #14979
regarding the libgomp hang i noted above, apparently it’s a known issue with libgomp and forking that I am surprised to see still occurring today. He lists gcc 8.

https://github.com/pytorch/pytorch/issues/17199

[2019-12-09 14:52] leezu commented on #14979
Yes, this crash still happens after the upgrade of llvm openmp. It also happens both when compiling with gcc or compiling with llvm.

The only case where the crash does not happen is when compiling with gcc and libgomp instead of the libomp.

The gcc hang you refer to above, is it https://gcc.gnu.org/bugzilla/show_bug.cgi?id=60035 ? I'm aware of that bug report and therefore quite surprised that t

[2019-12-09 15:52] TaoLv commented on #15229
Still failing: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17021/1/pipeline

[2019-12-09 16:23] cjolivier01 commented on #14979
i will see if i can reproduce this week

they link to the gcc issue in that pytorch issue link. it’s not that one you linked which is a pull request of sorts.

it’s weird because i saw that behavior maybe three years ago using gcc 3.x ish, I think, so I assumed that libgomp had been corrected to handle fork properly since then. I am surprised that the same behavior is being reproduced in such a ne

[2019-12-09 18:24] zhreshold commented on #16994
Should be closed by #16233, please let me know if the error still persistent in latest mxnet

[2019-12-09 18:24] #16994 closed

[2019-12-09 18:41] #16789 closed

[2019-12-09 19:00] haojin2 commented on #17013
@fatherMatrix Are you looking for extra APIs for linear algebra operations in mshadow?

[2019-12-09 19:39] samskalicky commented on #17020
@apeforest assign @ptrendx

[2019-12-09 19:40] samskalicky commented on #17017
@apeforest assign @apeforest

[2019-12-09 19:41] samskalicky commented on #16991
@apeforest assign @mli

[2019-12-09 19:42] samskalicky commented on #16988
@apeforest assign @reminisce

[2019-12-09 19:43] samskalicky commented on #16983
@apeforest assign @anirudh2290

[2019-12-09 19:46] samskalicky commented on #16969
@apeforest assign @mli

[2019-12-09 19:47] samskalicky commented on #16967
@apeforest assign @oorqueda

[2019-12-09 19:48] samskalicky commented on #16962
@apeforest assign @reminisce

[2019-12-09 19:48] samskalicky commented on #16960
@apeforest assign @access2rohit

[2019-12-09 19:49] samskalicky commented on #16958
@mxnet-label-bot update [Question, KVStore]

[2019-12-09 19:49] samskalicky commented on #16956
@apeforest assign @Jerryzcn

[2019-12-09 19:50] access2rohit commented on #16960
@drmasud  can you paste the output of
[code]

[2019-12-09 19:52] samskalicky commented on #16946
@mxnet-label-bot update [Question, HowTo, Test]

[2019-12-09 21:31] ptrendx commented on #17020
I was looking into it and it seems like a bug in nvrtc in cuda 9 toolkit. I believe the workaround should be easy - I will have the PR ready today.

[2019-12-09 22:53] zhreshold commented on #16708
Traversing autograd module, no luck yet.

[2019-12-09 23:09] reminisce commented on #16962
@yzhliu is fixing this on TVM side. I will update TVM submodule after his PR is merged.

[2019-12-10 04:21] #17020 closed

[2019-12-10 04:27] ptrendx commented on #16943
This issue is now resolved. It was a bug in nvidia/cuda docker images that pulled the wrong version of cublas.

[2019-12-10 04:27] #16943 closed

[2019-12-10 05:42] fatherMatrix commented on #17013
Yes.

[2019-12-10 06:18] stereomatchingkiss commented on #16167
Any plan to simplify the build of c and c++ api for mxnet2.0?It is hard(or very hard) to build a working version of mxnet with cpp api on different platforms(windows, linux, mac), every new release of the mxnet may or may not break somethings and we need to spend many hours to figure out how to make it work.

[2019-12-10 06:20] szha commented on #16167
@stereomatchingkiss good point. What are you using c/c++ api for?

[2019-12-10 06:29] stereomatchingkiss commented on #16167
1. Develop stand alone app on desktop and mobile
2. Wrapper of another language(ex : php)
3. Run the inference task on aws lambda, we do not want to prune the libs of python manually if we could build a slim library of mxnet/tensorflow/pytorch.

Maybe you could open a post to ask the users what are they expect for c or c++ api, I guess most of them only need to use the api to perform inference tas

[2019-12-10 07:29] oljike commented on #16969
Actually, I have resolved the problem. The key thing is to zero the gradients which are backwarded to the first model by
`model_2._exec_group.shared_data_arrays[0]['grad of data_2'] *= 0`
Also, rescale grad should be the same as in the desired batch size mode.

[2019-12-10 07:29] #16969 closed

[2019-12-10 08:11] hnuhchen opened #17033 "AttributeError: 'NoneType' object has no attribute 'MXNDArrayFree'"
## Description
(A clear and concise description of what the bug is.)

Hello, i am using Cython to generate dynamic library files of mxnet project. But if i run my project through these dymanic library files, the problem AttributeError: 'NoneType' object has no attribute 'MXNDArrayFree' sometimes occurs, exactly the problem does not always come up.  It is strange that the problem comes up after all

[2019-12-10 10:10] northeastsquare commented on #14387
How do you solve it ? I also met it with multiple gpu

[2019-12-10 12:12] leezu commented on #16995
Happened again to 2 PRs (16971, 17018)

[2019-12-10 12:51] leezu commented on #16995
Can we use https://aws.amazon.com/about-aws/whats-new/2018/07/amazon-efs-now-supports-provisioned-throughput/ as a short-term solution?

[2019-12-10 14:35] drmasud commented on #16960
Here it is:

[✖ CUDA, ✖ CUDNN, ✖ NCCL, ✖ CUDA_RTC, ✖ TENSORRT, ✔ CPU_SSE, ✔ CPU_SSE2, ✔ CPU_SSE3, ✔ CPU_SSE4_1, ✔ CPU_SSE4_2, ✖ CPU_SSE4A, ✔ CPU_AVX, ✖ CPU_AVX2, ✖ OPENMP, ✖ SSE, ✔ F16C, ✖ JEMALLOC, ✖ BLAS_OPEN, ✖ BLAS_ATLAS, ✖ BLAS_MKL, ✖ BLAS_APPLE, ✔ LAPACK, ✖ MKLDNN, ✔ OPENCV, ✖ CAFFE, ✖ PROFILER, ✔ DIST_KVSTORE, ✖ CXX14, ✖ INT64_TENSOR_SIZE, ✔ SIGNAL_HANDLER, ✖ DEBUG]

[2019-12-10 15:32] TaoLv commented on #14979
It should be different code base.

[2019-12-10 16:40] cjolivier01 commented on #14979
* I root-caused the the crash mentiend directly above (in a debugger), but the answer is actually in the stack trace:
[code]

This is loading the wrong omp library from the one that it was just built against.  That library comes with (on Ubuntu) libomp5.deb package.  The proper one would be in cmake-build-debug/3rdparty/openmp at build time.  Why it is loading that other one I did not track down,

[2019-12-10 17:01] cjolivier01 commented on #14979
By the way, I don't care if it's used or not, but on the MXNet python branch, I did some cython stuff that, in the cmake files, uses the mxnet toolchain to build the cython library.  That's one approach, there are other approaches -- there's pros and cons for each.

[2019-12-10 17:31] ptrendx commented on #16193
Hi @leezu, you added the R1.6.0 label here, but I believe this is not a blocker for the release (and it seems to be kind of resolved now anyway) - is that true?

[2019-12-10 17:35] ptrendx commented on #16891
What is the status of this issue? From the conversation it seems to me that Intel people think it is not an issue (or at least it is unavoidable) and Amazon people are concerned about this. Is that accurate? If so, how does it affect the 1.6 release - should I go ahead and make the RC despite this issue or is there active work going on to fix it?

[2019-12-10 17:50] #16959 closed

[2019-12-10 18:07] sxjscience commented on #17033
@hnuhchen Thanks for submitting the issue. Is it possible to post a minimal reproducible example? That will help us solve the problem.

[2019-12-10 19:16] samskalicky commented on #16891
@TaoLv are you saying that we should keep the current config where we build the mkl flavor with openblas:
https://github.com/apache/incubator-mxnet/blob/master/make/staticbuild/linux_mkl.mk#L52

Or are you proposing that it needs to be changed to build the mkl flavor with mkl blas instead of openblas?

[2019-12-10 21:37] eric-haibin-lin commented on #16238
Failed several times here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-17002/11/pipeline/

[2019-12-10 21:41] szha commented on #16193
@ptrendx the new nightly on s3 should work with Horovod now as it doesn't include binary compression with upx. Since the limit is already raised, we should be able to release 1.6.0 correctly too.

@apeforest please verify and reopen if necessary.

[2019-12-10 22:40] zhreshold commented on #13482
Closing this issue as #14252 is merged, please feel to ping me if you have other thoughts.

[2019-12-10 22:40] #13482 closed

[2019-12-10 23:01] leezu commented on #14979
@cjolivier01 thank you for looking into this. I notice that the crash also happens when using the system llvm openmp at compile time (ie delete `3rdparty/openmp` before build). I describe that in https://github.com/apache/incubator-mxnet/issues/14979#issuecomment-562926756
Thus it seems the cause you mention isn't the root cause?

BTW, the update of the `3rdparty/openmp` is about fixing the debug

[2019-12-10 23:06] leezu commented on #16193
@ptrendx I think it is a blocker because we can't release eto pypi with this bug open. But yes, it's resolved.

[2019-12-11 00:12] cjolivier01 commented on #14979
Assert issue is fixed in referenced PR above.

The cython setup script apparently uses forking which is causing the problem during compile.

[2019-12-11 00:24] cjolivier01 commented on #14979
You can see in the newer version, they set in the atfork handler:
[code]
This is why the assert goes away, but the assert remains harmless even in the old version.

[2019-12-11 00:26] leezu commented on #14979
Thanks for looking into it. Even when harmless, it's annoying when using debug build. Thus it's good to make it go away.

[2019-12-11 00:29] leezu commented on #14979
When using system llvm openmp instead of `3rdparty/openmp`, why does the crash reported in the current PR still happen if it is due to a linking problem? I'm not clear about your reasoning here.

[2019-12-11 00:44] leezu opened #17040 "Estimator nightly test broken"
## Description
@liuzh91 https://github.com/apache/incubator-mxnet/pull/16971 https://github.com/apache/incubator-mxnet/pull/16900 broke the nightly test. See http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/532/pipeline

### Error Message
[code]

[2019-12-11 01:44] TaoLv commented on #16891
mkl flavor packages are always built with USE_BLAS=openblas. We can change that to MKL BLAS if we are allowed to include dependency with category x license [1] into MXNet convenient releases.

[1] https://www.apache.org/legal/resolved.html#category-x

[2019-12-11 02:57] tranvanhoa533 opened #17043 "Segmentation fault: 11"
## Description
I trained arcface with 8 gpus and met Segmentation fault after some iterations

### Error Message
[code]

## To Reproduce
I used code from repo [insightface](https://github.com/deepinsight/insightface/tree/master/recognition). And run train_parall.py with per-batch-size 50

## What have you tried to solve it?
I tried to install different mxnet version (1.4.0, 1.4.1, 1.5.0, 1.5.1) by

[2019-12-11 03:50] Rainweic commented on #14875
Did you find some ways to fix it? I meet it with "ssd_512_resnet50_v1_voc"

[2019-12-11 05:15] samskalicky commented on #16891
Thanks @TaoLv

I was able to rebuild and reproduce Nihal's results:
[code]

The root cause of this performance regression is from the difference of BLAS libraries (switching from MKL BLAS to OpenBLAS) and removing the libiomp5.so library.

Now the next step is to determine how we want to proceed. **Do we continue with OpenBLAS and take the hit on performance, or as @TaoLv mentioned can we use the

[2019-12-11 05:21] Rainweic commented on #16176
``Unrecognized attribute: spatial for operator BatchNormalization``
you use onnx 1.3.0 can solve this

I use mxnet1.5.1 onnx1.3.0 , and meet ``AttributeError: No conversion function registered for op type _greater_scalar yet.``

[2019-12-11 05:30] #17040 closed

[2019-12-11 06:16] apeforest commented on #16193
@szha Yes, I can verify that Horovod can be built successfully using the nightly pip package from https://apache-mxnet.s3-us-west-2.amazonaws.com/dist/2019-12-07/dist/mxnet-1.6.0b20191207-py2.py3-none-manylinux1_x86_64.whl. Can we have a command to install mxnet nightly without having to specify a particular date. I can then add test to horovod nightly test using the mxnet nightly build. Thanks!

[2019-12-11 06:27] leezu commented on #14979
Fixed by https://github.com/apache/incubator-mxnet/pull/17039/ Thanks Chris.

[2019-12-11 06:27] #14979 closed

[2019-12-11 06:52] szha commented on #16193
sure. I plan to first simplify the path as it's not useful to have two `dist` in the path. Then we can probably make a mxnet-nightly-latest.whl file which gets overwritten with the new releases.

[2019-12-11 07:38] leezu opened #17045 "Relocation truncation issues"
## Description
`libmxnet.so` is too large (depending on compile options), so that linking fails. This was observed before on CI with test coverage functionality enabled (https://github.com/apache/incubator-mxnet/issues/15971), but can also happen with non-test-coverage builds, such as `-DUSE_INT64_TENSOR_SIZE=ON` build.

I first observe this in the #17031 (http://jenkins.mxnet-ci.amazon-ml.com/blu

[2019-12-11 07:48] leezu commented on #17045
To solve this, I think we can instruct the compiler to always use 64 bit relocations instead of 32 bit relocations (that may overflow), use `-O2` (or in the extreme case `-Os`) instead of `-O3` to reduce code bloat or use some linker relaxation techniques.

Using `-O2` may be faster than our current `-O3`, as code bloat can slow down the program more than any speed-up from the additional optimizat

[2019-12-11 08:31] junrushao1994 commented on #17045
My personal experience is that using 64bit relocation is fine on x86-64, so I am in favor of such change :-)

[2019-12-11 10:12] edmBernard commented on #16167
That's a bit what amalgamation part was for ? a simplified inference interface. The last time I use amalgamation (some years ago) it was often break by update and not really maintain.

[2019-12-11 11:31] YCAyca opened #17046 "Error at memory location & Access violation reading location"
## Description
Hi, I'm working on cpp inference code using Visual Studio 2019 and v141 tool.
When I debug the code I come across with 2 exception unhandled. These exceptions are described belove. I used m own .json and .params file created from mobilenetv2 trained and saved with kaggle fruits dataset. Do you have any idea about why I'm getting this errorr?

### Error Message
Unhandled exception at

[2019-12-11 11:35] leezu commented on #17046
Can you provide a minimal example that reproduces the error?

[2019-12-11 11:40] YCAyca commented on #17046
In logging.h the exception is thrown from here :

![error1](https://user-images.githubusercontent.com/20625822/70618448-efc01f00-1c23-11ea-918a-97a3037bef40.png)

and in executor.hpp the exception is thrown from here :

![error2](https://user-images.githubusercontent.com/20625822/70618525-29912580-1c24-11ea-8934-74869a4d7199.png)

[2019-12-11 12:13] leezu commented on #17045
Linking `master` works fine when using `ninja` instead of `make`. Not sure about the reason..

[2019-12-11 12:23] YCAyca commented on #17046
And if you ask the main code part where the error occurs, it's here at the Executor* exec= net.SimpleBind(...) part

![error_main_part](https://user-images.githubusercontent.com/20625822/70621219-2305ac80-1c2a-11ea-9906-4cc8569998d6.png)

[2019-12-11 12:36] leezu commented on #17046
Thank you. Essentially I mean an example like this: https://stackoverflow.com/help/minimal-reproducible-example

[2019-12-11 13:42] YCAyca commented on #17046
Ah ok I got it now! Sorry here is the simple code with .json and .params files. Actually I wanted to add the .rec file too, but it was too big that the site didn't let me.

[reli.zip](https://github.com/apache/incubator-mxnet/files/3950584/reli.zip)

[2019-12-11 14:07] leezu commented on #17045
Thus I think the build logic is flaky and just works due to some lucky coincidence in the way things are linked together?

Looking at the `cmake -GNinja -DUSE_SIGNAL_HANDLER=ON -DUSE_CUDA=ON -DUSE_CUDNN=ON -DUSE_TVM_OP=ON -DPython3_EXECUTABLE=/usr/bin/python3 -DUSE_MKL_IF_AVAILABLE=OFF -DUSE_MKLDNN=OFF -DUSE_DIST_KVSTORE=ON -DCMAKE_BUILD_TYPE=Release -DCUDA_ARCH_NAME=Manual DUSE_INT64_TENSOR_SIZE=

[2019-12-11 17:30] vpirogov commented on #16891
Hi @TaoLv, @samskalicky,

Intel MKL-DNN includes GEMM implementation that is comparable in terms of performance to Intel MKL. Is using `mkldnn_gemm` an option here?

[2019-12-11 18:02] samskalicky commented on #16891
@TaoLv @PatricZhao Are there features in MXNet that require MKL as the BLAS library? I was able to find this line:
https://github.com/apache/incubator-mxnet/blob/c82af38211dbf8356a4f3b35f023632c5bf880ae/src/operator/quantization/quantized_fully_connected.cc#L291

[2019-12-11 19:09] larroy commented on #16995
EFS is disabled now. I think the throughput was set to max but there's too many small files and the cache was too big. Maybe with a more reasonable cache size it would work. This means it's not the only cause of timeouts, could be an IO bottleneck in Jenkins or somewhere else. Could the VPC suffer from an IO limit?

[2019-12-11 19:10] larroy commented on #16995
@leezu could you link to the PRs? Is there something interesting in the logs?

[2019-12-11 19:24] larroy commented on #16995
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16976/2/pipeline/294

[2019-12-11 22:27] marcoabreu commented on #16995
Reading this thread really hurts. Can we please have less guessing and more rootcausing?

How should a unit test be related to ccache, considering it's not a compile task? Why should network or disk io be a problem in a suite of tests? Even if there was limited io, I've never heard of a case where your request gets terminated or put into a deadlock in case of hitting the limit. AWS always uses thr

[2019-12-11 22:28] szha commented on #17013
We have cholesky factorization ([potrf](https://mxnet.apache.org/api/python/docs/api/ndarray/linalg/index.html#mxnet.ndarray.linalg.potrf)) and eigen decomposition ([syevd](https://mxnet.apache.org/api/python/docs/api/ndarray/linalg/index.html#mxnet.ndarray.linalg.syevd)) from lapack in our linear algebra operators that should help. It might have been intended in mshadow but I don't think they wer

[2019-12-11 22:38] cjolivier01 commented on #11417
Closing due to it not being an issue.  Also, those other tickets have been fixed.

[2019-12-11 22:38] #11417 closed

[2019-12-11 23:06] djaym7 commented on #14875
nope, raised a ticket in Amazon but no one is currently working on this ..

[2019-12-12 02:09] TaoLv commented on #16891
@vpirogov @samskalicky Although MKL BLAS may also have positive impact to the case demonstrated above, I think the main gap is from different OMP runtimes. Setting `USE_BLAS=mkl` will help to pull in iomp5. Sure I'm going to replace `cblas_sgemm` and `cblas_sgemm_batch` with the MatMul primitive from DNNL once it's release, but I don't think that will help to fill the gap between gomp and iomp5.

[2019-12-12 03:18] fatherMatrix commented on #17013
Thank you very much for your reply. And I sincerely hope that the DMLC can get better and better. :)

[2019-12-12 03:23] leezu commented on #16995
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16971/8/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17018/5/pipeline/294

I didn't check the logs in detail, but both are aborted with `Sending interrupt signal to process`.

[2019-12-12 04:37] cjolivier01 commented on #16995
notice the last test is (or is very near to) test_nump_op.test_np_unique
so what’s the next test after that? that could be hanging there until system kills it.

run the numpy tests locally

i don’t see anything which would indicate an infrastructure problem considering it’s only one test run that fails and it fails in basically the same place every time. I am curious how this conclusion was reache

[2019-12-12 05:46] leezu commented on #14263
@access2rohit Regarding `ar` and building the more recent version on CI, https://github.com/apache/incubator-mxnet/blob/cab1dfad37f044d691e7c4ea81d73463cfcf0c8d/ci/docker/install/ubuntu_ar.sh#L35
should get an extra `--enable-64-bit-archive`.

See https://sourceware.org/bugzilla/show_bug.cgi?id=14625
And based on the associated patch it seems there's no runtime switch: https://sourceware.org/git/g

[2019-12-12 05:47] leezu commented on #16852
Try building `binutils` locally with `--enable-64-bit-archive`.

[2019-12-12 06:04] szha commented on #16995
we should probably use parallel testing with naive engine for operator tests, so as not to have such spillage of failure.

[2019-12-12 06:50] djaym7 opened #17053 "Save quantized params in int8"
## Description
For the current quantize_net solution, the params are saved in fp32 format and converted to int8 during first pass and cached in memory. It would be better for edge devices and devices with less memory in general to load in8 models vs fp32 (4x more size than int8). Additionally, extra processing time of converting params everytime a model is loaded will be reduced.

This is planned

[2019-12-12 07:55] larroy commented on #16995
@marcoabreu you didn't read well, because nobody wrote that it was related to ccache, that's why it hurts.

[2019-12-12 08:06] larroy commented on #16995
This is what I wrote above for everyones convenience:

[2019-12-12 11:35] fatherMatrix commented on #17013
If the Cholesky factorization could be used in C++ interface?

[2019-12-12 11:35] hubutui commented on #16852
@leezu Hey, I try rebuilt `binutils` locally with `--enable-64-bit-archive`, and then build mxnet. It didn't work. I could confirm that `CMAKE_AR=/usr/bin/ar`, and this is the newly build binutils.

[2019-12-12 13:56] leezu commented on #16852
@hubutui besides using the built `CMAKE_AR` and `-mcmodel=medium`, you can also add  `-Wl,--no-relax`. In my case, the error message instructed to specify `-Wl,--no-relax`.

Also, for cmake, I find that using `cmake -GNinja` to select ninja build system makes the relocation truncation issue less likely

[2019-12-12 14:22] hubutui commented on #16852
You mean I could try with `-mcmodel=large -Wl --no-relax` or `-mcmodel=medium -Wl --no-relax` again?

[2019-12-12 14:39] leezu commented on #16852
[code]

[2019-12-12 15:09] vpirogov commented on #16891
@TaoLv, is anything preventing us from using LLVM OpenMP runtime (libomp)? It is pretty much an open source version of libiomp5.

[2019-12-12 15:22] TaoLv commented on #16891
@vpirogov We can do that. My only concern is the interoperability of it. Also from MXNet perspective, we need move the release process from make to cmake which I don't think can be done within the schedule of the 1.6.0 release.

[2019-12-12 16:06] vpirogov commented on #16891
What do you mean by interoperability exactly?

[2019-12-12 17:16] wizcheu commented on #16933
The same question. Have you built the mxnet==1.6.0 manually successfully?

[2019-12-12 21:45] djaym7 opened #17055 "Deformable Convolutions v2 - gluon"
## Description
Feature request for Deformable convolution v2 in gluon.
An example in symbol has been given my the authors referenced below.

## References
https://github.com/msracver/Deformable-ConvNets/tree/master/DCNv2_op

[2019-12-12 21:46] #17055 closed

[2019-12-12 21:47] djaym7 commented on #17055
Already being solved here : https://github.com/apache/incubator-mxnet/pull/16341

[2019-12-13 00:02] access2rohit commented on #16960
@drivanov in your make file add this last line
[code]
and build again

[2019-12-13 00:28] eric-haibin-lin opened #17056 "Gluon Trainer does not handle non-deterministic parameter order for distributed training"
## Description
Currently gluon Trainer iterates over the parameter dict and assign indices for multi-machine training. The index is used to identify the gradient/parameters. This relies on a deterministic order of param dict iteration and deterministic order of parameter creation. However, that is not be true if the user's code defines parameters in a random order (e.g. https://github.com/dmlc/glu

[2019-12-13 01:56] pengzhao-intel commented on #17053
@djaym7 could you provide more details information about your edge devices for INT8?

[2019-12-13 02:18] ciyongch commented on #17053
@djaym7 There' some limitations for the current quantization flow in MXNet to save convolution params (with channel-wise quantization) in INT8 data type, while it's ok for FullyConnected (with tensor-wise quantization). I'm working on quantization granularity/options enhancement and enabling INT8 params saving for these ops.

[2019-12-13 05:03] leezu commented on #16933
Yes. The description in https://github.com/apache/incubator-mxnet/issues/16933#issuecomment-561461776 should be sufficient to build the wheel.

If you're on a system with `libgfortran.so.4`, you simply have to replace any reference to `libgfortran.so.3` in the `tools/staticbuild` folder with `libgfortran.so.4`.

Did you meet any problem? If you can create a PR to improve the script and Readme that

[2019-12-13 06:27] #16942 closed

[2019-12-13 06:27] #16930 closed

[2019-12-13 06:28] #16869 closed

[2019-12-13 12:25] RuRo opened #17058 "CUDA 10.2 Python wheels"
## Description
There is currently no cuda 10.2 support for prebuilt Python wheels. (`mxnet-cu102` and `mxnet-cu102mkl`)

It would be greatly appreciated if you could add these versions to your CI.

[2019-12-13 13:53] leezu opened #17059 "ARM CI cannot authenticate /install `autoconf`"
## Description
https://github.com/apache/incubator-mxnet/issues/16753 error happens on CI as well. It seems to interact with the APT cache persistence. Once the invalid file get's into the cache, it is not deleted anymore and all subsequent CI runs fail. Ie apt will not delete and re-download the file, but rather throw an error:

### Error Message
`WARNING: The following packages cannot be authent

[2019-12-13 13:55] leezu commented on #17059
Nevermind, I think the reason this happens on CI now is that I changed another file used for building the  Docker container. Consequently the docker cache is not reused anymore. So it's exactly the same issue as #16753.

[2019-12-13 13:55] #17059 closed

[2019-12-13 13:57] leezu commented on #16753
This also affects the CI.

    http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fedge/detail/PR-17031/13/pipeline/
    http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fedge/detail/PR-17031/14/pipeline/
    http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fedge/detail/PR-17031/15/pipeline/
    htt

[2019-12-13 14:01] leezu commented on #16753
@larroy the reason that `ci/build.py -p armv7` works is that it uses the cache.
Would there be any problem to switch to the updated `dockcross` images? They recently moved to debian stretch: https://github.com/dockcross/dockcross/commit/aae501313ef206b769b0204067cebd1604029fcd

Why do we need `mxnetcipinned` and where is it maintained? I couldn't find it at https://github.com/apache/incubator-mxne

[2019-12-13 18:38] larroy commented on #16753
when we tracked dockcross directly it was breaking CI randomly. That's why it's pinned. Anyone can update this via PR.

[2019-12-13 19:11] larroy commented on #16753
This is correct, to reproduce container rebuild:

`piotr@44-229-42-241:0: ~/mxnet [upstream_master]> time ci/build.py -p armv7 --no-cache 2>&1 | tee armv7.log`

[2019-12-13 19:15] LukasAdamowicz opened #17061 "Built from source uses old version of opencv"
## Description
Following the directions for building from source [HERE](https://mxnet.incubator.apache.org/get_started/osx_setup.html) for MacOS Catalina, the instructions say to

[code]
However, once the build finishes, attempting to `import mxnet` results in the an error that it can't find the FFMPEG library `libavcodec.57.dylib`, which is the case because the current version of FFMPEG is up to

[2019-12-13 19:21] relaxli00 opened #17062 "Incomplete description generation with OpWrapperGenerator.py"
For C++ usage, when OpWrapperGenerator.py is used to generate op.h, a bug in OpWrapperGenerator.py in will cause incomplete description in op.h.

Original code in OpWrapperGenerator.py, Line 188:
`    def WrapDescription(self, desc = ''):
        ret = []
        sentences = desc.split('.')
        lines = desc.split('\n')
        for line in lines:
          line = line.strip()
          if len(l

[2019-12-13 19:38] relaxli00 opened #17064 "c++ inconsistent default setting for deconvolution with no_bias being true"
C++ symbol Deconvolution has no_bias being set to true by default, but still with the bias in the input arguments list. This will cause the direct calling failure.

To be consistent, no_bias argument should be set to false by default (as it does in Convolution symbol). To use Deconvolution with no_bias as true, one need override the original symbol with bias argument removed.

[2019-12-13 19:54] relaxli00 commented on #16983
Yes, it is found the latest (I'm using 1.6.0b20191125, both cu101mkl and cpu only versions) C/C++ ndarray load etc. are not compatible with the parameters saved or exported by Python. LoadJson still works for the architecture.

[2019-12-13 21:50] eric-haibin-lin opened #17067 "Scala flaky test: testObjectDetectionExample and GanExampleSuite"
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17057/1/pipeline/

[2019-12-14 03:14] TianMingChen opened #17071 "OSError"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2019-12-14 03:16] TianMingChen opened #17072 "OSError: libnvrtc.so.9.0 not found"
![image](https://user-images.githubusercontent.com/20785298/70874475-41cebf00-1fed-11ea-9cce-d68b65f21cc5.png)
OSError

[2019-12-14 03:17] TianMingChen opened #17073 "oserror"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2019-12-14 03:18] #17073 closed

[2019-12-14 03:18] #17071 closed

[2019-12-14 05:48] stereomatchingkiss commented on #16983
Thanks for the info, guess I need to wait until next version of mxnet.

[2019-12-14 16:28] #17056 closed

[2019-12-14 18:18] YCAyca commented on #5163
Hi! I was stucking with the same problem and solved with this way : creating a .lst file from my dataset. Convering the .lst file to the synset file with this python code :

f= open("C:/Users/SAHINA/Desktop/mxnet_sample/mxnet_sample/OKNOK.lst","r")

f2 = open("C:/Users/SAHINA/Desktop/mxnet_sample/mxnet_sample/OKNOKsynset.txt", "w")

for line in f:
    line = line[line.find("\t")+1:len(line)]
    l

[2019-12-15 01:52] wkcn commented on #17072
Hi @TianMingChen , could you please provide a minimal reproduce example?

[2019-12-15 04:20] yurivict opened #17076 "1.6.0.rc0 fails to build with clang: reinterpret_cast from 'nullptr_t' to 'DType *' (aka 'float *') is not allowed"
clang-8 fails to build mxnet on FreeBSD:
[code]

[2019-12-15 05:53] yurivict opened #17079 "Please add an option to use the external dmlc-core"
Several systems have packages for ```dmlc-core```: https://repology.org/project/dmlc-core/versions

These packages should be used.

Only the ```install``` target breaks:
[code]

[2019-12-15 18:13] yurivict opened #17080 ".gitignore and CPPLINT.cfg are installed by mxnet-cpp"

[2019-12-15 19:14] yurivict opened #17081 "The python package build reinstalls lib/libmxnet.so into mxnet/libmxnet.so"
The ```mxnet``` package (C/C++) installs ```lib/libmxnet.so```, and then the python build copies it over into ```mxnet/libmxnet.so```, all under ```/usr/local```.

There is most certainly a way to let the python interpreter know where to look for libraries without needing to copy it into another location.

[2019-12-15 22:02] szha commented on #16167
The status of MXNet 2.0 project is tracked at: https://github.com/apache/incubator-mxnet/projects/18. The status for each project will be updated by the contributor who's driving it. If you have more projects that you intend to drive please first discuss here.

[2019-12-15 22:03] szha commented on #16167
Once 1.6 release is complete, we will create a branch for MXNet 1.x for future releases and start using master branch for 2.0 development.

[2019-12-16 02:18] TianMingChen commented on #17072
just laike this
![image](https://user-images.githubusercontent.com/20785298/70874522-704c9a00-1fed-11ea-80a7-2d4535a38b74.png)

[2019-12-16 02:22] leezu commented on #17081
Do you mean the C++ package, or the Python package? Python package also needs `libmxnet.so` of course.

[2019-12-16 02:27] wkcn commented on #17072
`libnvrtc.so.9.0` is a library of CUDA 9.0 Toolkit. Did you install CUDA 9.0 ?

[2019-12-16 02:27] yurivict commented on #17081
Python package should rely on the pre-installed ```lib/libmxnet.so``` library in situations when the ```mxnet``` package is already installed.

[2019-12-16 02:41] TianMingChen commented on #17072
yes,like this
![image](https://user-images.githubusercontent.com/20785298/70875347-a17a9980-1ff0-11ea-9c6d-013271a87313.png)

[2019-12-16 02:43] leezu commented on #17081
Would you like to fix the python package in this regard? As a workaround you may set `MXNET_LIBRARY_PATH` See https://github.com/apache/incubator-mxnet/blob/93228649340bcacb8056d47d8f6f8a78a9805ae4/python/mxnet/libinfo.py#L26

[2019-12-16 02:46] leezu commented on #17061
Would you like to open a PR to update the doc (to recommend version 4)?

[2019-12-16 02:50] wkcn commented on #17072
Could you please try to run `python3 demo.py` rather than `sudo python3 demo.py` ?

[2019-12-16 02:57] yurivict commented on #17081
Sorry I am only a package maintainer, and don't have resources to fix things.
I've added a patch to the FreeBSD port that deletes this file from the plist.

[2019-12-16 03:04] leezu commented on #17081
Ok, no worries. We hope to make it easier to package MXNet in the future.
If you could provide more feedback that would be welcome.
I think improving our CMake setup would improve packageability, would you agree?

[2019-12-16 03:16] TianMingChen commented on #17072
if I don't use sudo in this computer,it will have this problem in every code
![image](https://user-images.githubusercontent.com/20785298/70876677-75ade280-1ff5-11ea-9b53-b45a53777998.png)

[2019-12-16 03:16] TianMingChen commented on #17072
I try it in another computer

[2019-12-16 03:17] wkcn commented on #17072
You can re-compile the NMS operator in SNIPER.

[2019-12-16 03:19] TianMingChen commented on #17072
Ok,I try it.

[2019-12-16 03:48] yurivict commented on #17081
Absolutely!

Maybe just add a cmake variable ```INSTALL_AS_PACKAGE```. When it would be set to ```ON``` the library wouldn't get installed.

[2019-12-16 03:53] damNull commented on #13958
I meet the same problem too. And I use the following method to easily solve the problem.
Enter the property page of generated MXNet visual studio solution and edit the property:

[2019-12-16 06:26] haojin2 opened #17083 "`mx.np.outer` does not support integer inputs"
## Error
[code]
## Reproduction
[code]

[2019-12-16 07:38] gengyanlei opened #17085 "Suggest to add RandomApply in gluon's transforms"
## Description
(A clear and concise description of what the feature is.)
- If the proposal is about a new model, provide description of what the model is.
- If the proposal is about an API, provide mock examples if possible.

## References
- list reference and related literature
- list known implementations

[2019-12-16 09:11] liuzh91 opened #17086 "[MKLDNN] RNN Op gradient computation is broken"
## Description
RNN op gradient computation on CPU is broken for the source built mxnet.

I was running a language model training script on my ec2 instance. I tested the script with the latest source built mxnet. During training, I ran into the following log:

### Log Message
[code]
The loss value does not change any more. If I use the mxnet build by pip installation `pip install https://apache-mxn

[2019-12-16 09:49] zixuanweeei commented on #17086
Thanks for reporting this issue. We will take a look.

[2019-12-16 10:42] romeolandry commented on #16967
Thank you for the answer!
I checked the both repository.
what i wont to do is to import a .onnx files and continue to train it.
is it possible ??
thank you!

[2019-12-16 11:29] zixuanweeei commented on #17086
@liuzh91 I can reproduce the result. The gradients of bias in LSTM are very large as you mentioned, and the gradient of weights in LSTM looks normal. Currently, we can `export MXNET_USE_MKLDNN_RNN=0` for a workaround. It would be highly appreciated if you could give a try  upon 52c9a45abc8d1f8228ec9ed1bad7f137137fd96b.

[2019-12-16 12:02] GPoloVera opened #17088 "HuberLoss() ValueRror"
## Description
Using the **HuberLoss()**  (with or without parameters) from the module loss raise a **ValueError** exception with the message. Using it directly, with a simple call, no need to be within any autograd.record() or something more complex.

### Error Message

Stack Trace:

Traceback (most recent call last)
[code]
## To Reproduce
[code]

### Steps to reproduce
[code]
## What have you tr

[2019-12-16 14:01] LittleFatHero opened #17089 "can't install mxnet through pip install command"
os: ubuntu 18.04
python: 3.6

problem : When I install mxnet-cu101 using the following command:
[code]
I can't install, it said the Hash values do not match.
I change another computer and network, there is still the same problem.
I guess it is because the update of the mxnet and cause the software source error.
please fix the problem as soon as possible.

the following is the error information：
[c

[2019-12-16 14:36] xidulu commented on #17088
Unfortunately, only L1 and L2 loss are supported by DeepNumpy(MXNet numpy ndarray) currently. It's actually pretty easy to fix, but I am not sure if the patch will become part of MXNet 1.6.

Maybe @haojin2 could provide you more information.

[2019-12-16 14:37] leezu commented on #17086
@zixuanweeei I previously confirmed the issue still happens with 897f4fae075c5261958de1a07cded0b5b3058a7a

[2019-12-16 14:39] leezu commented on #17089
There seem to be frequent problems with the tsinghua mirror. Another user reported similar problems earlier this month.

Please use a different mirror or the original pypi repo.

[2019-12-16 14:39] #17089 closed

[2019-12-16 14:40] leezu commented on #17089
In particular, you can download the file here: https://files.pythonhosted.org/packages/57/aa/474e97edaa2064c4e57dfb5685290ffc188592878c8bc58a1dca770872b5/mxnet_cu101-1.5.1.post0-py2.py3-none-manylinux1_x86_64.whl

[2019-12-16 14:42] zixuanweeei commented on #17086
Thanks for the reply. Can `MXNET_USE_MKLDNN_RNN=0` work with 897f4fa and 52c9a45.

[2019-12-16 15:12] leezu commented on #17086
Yes, `MXNET_USE_MKLDNN_RNN=0` on 52c9a45 is a workaround for the issue.

[2019-12-16 17:45] yuriploc commented on #12266
@TobyRoseman This should be reopen, as it looks like MXNet still doesn't support Python 3.7: https://pypi.org/project/mxnet/#files

[2019-12-16 18:10] TobyRoseman commented on #12266
@yuriploc - The `mxnet-1.5.1.post0-py2.py3-none-manylinux1_x86_64.whl` file from the link you gave is for Linux.

[2019-12-16 18:53] truedichotomy opened #17092 "ERROR: LoadError: LoadError: IOError: open: permission denied (EACCES) (Julia, macOS)"
## Description
I'm getting LoadError in Julia trying to precompile MXNet on macOS 10.15.2. Interestingly installation on another macOS machine with the same versions were successful. The difference is that the machine it failed on is running off an external SSD.

### Error Message
[code]

## Environment

We recommend using our script for collecting the diagnositc information. Run the following com

[2019-12-16 19:13] yuriploc commented on #12266
My apologies, @TobyRoseman. I'm eager for a new version of `turicreate` to support 3.7 and did not read the whole list correctly.

[2019-12-16 19:34] TobyRoseman commented on #12266
No problem @yuriploc. We're tracking that issues [here](https://github.com/apple/turicreate/issues/788) and getting very close to releasing a fix.

[2019-12-16 20:19] swe-ml opened #17093 "as_in_context support for Symbol objects"
## Description
Symbol objects currently have multiple unsupported operations raising NotImplementedforSymbol errors. I would love to see as_in_context supported for Symbol (and subsequently Gluon). I believe this is required for model parallelism under the HybridBlock paradigm.

## References
https://mxnet.apache.org/api/python/docs/_modules/mxnet/symbol/symbol.html#Symbol

[2019-12-16 22:25] szha commented on #17085
what's the definition of RandomApply?

[2019-12-17 00:09] #17061 closed

[2019-12-17 01:26] wkcn commented on #17085
There are multiple transform methods, and choose one randomly.

[2019-12-17 02:01] gengyanlei commented on #17085
https://pytorch.org/docs/1.1.0/torchvision/transforms.html#transforms-on-pil-image
Apply randomly a list of transformations with a given probability！

[2019-12-17 02:05] gengyanlei commented on #17085
比如color_transform，它会让图像值分布变化，但是我想让网络也学习到原始图像值分布，那么就需要一个概率值，对这个tranform发生概率进行设置！
For example, color_transform will change the distribution of image values, but I want the network to learn the distribution of the original image values, so we need a probability value to set the probability of this tranform occurrence!

[2019-12-17 05:36] reminisce opened #17096 "[mxnet 2.0][item 1.4] NumPy Extension Operator Reorganization and Renaming"
We introduced modules `np` and `npx` for registering NumPy and the other operators, respectively in MXNet. We need to move the non-NumPy operators to module `mx.npx` by
- Adding alias `_npx_op_name` to operator registration.
- Adding NumPy-compatible docstrings and desired op signatures in `_numpy_op_doc.py`.

[2019-12-17 06:02] reminisce opened #17097 "[mxnet 2.0][item 10.1] MXNet Imperative Op Invocation Overhead"
MXNet imperative operator invocation overhead is as large as 30-60us, which is significant compared to the official NumPy operators with ~600ns overhead. This has negatively impacted the performance of applying MXNet to the models where many operators' kernel runtime duration is short, especially in the area of classic machine learning. We plan to address the problem in two steps:

1. Short term:

[2019-12-17 06:12] iblis17 commented on #17092
What is the Julia `versioninfo()` on the second machine?

[2019-12-17 08:43] GPoloVera commented on #17088
Hi @xidulu ,

Thank you very much, it seems that the course d2l.ai is based on the previous interface and they have not change this part. So, not even  the 'SoftmaxCrossEntropyLoss or 'SigmoidBCELoss' would work?
I would add this ones first, I think they much more used than the Huber loss.

[2019-12-17 11:29] hkvision commented on #2519
Hi @younglou @SupDataKing I am also wondering how mxnet data iterators could read data (e.g. imagenet) from hdfs. What examples are you running? I can't find train_resnet.py... I'm running https://github.com/apache/incubator-mxnet/blob/master/example/gluon/image_classification.py and seems there's problem reading from hdfs.
Thanks so much for your help in advance!

[2019-12-17 14:46] xidulu commented on #17088
Hi @GPoloVera

It would be great if you could contribute DeepNumpy-compatible version of these Loss function to MXNet, but I just wanna inform you that it's vert likely you contributions will only be accessible through either `build from source` or the `nightly build` version.

[2019-12-17 19:06] jonomon opened #17103 "R installation instructions out of date"
## Description
(A clear and concise description of what the bug is.)

In the installation instructions found https://mxnet.apache.org/get_started/ubuntu_setup.html#install-the-mxnet-package-for-r, files
[code]

do not exist.

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your scrip

[2019-12-17 23:11] ChaiBapchya commented on #16891
@TaoLv To get a closure on this topic, would it be possible to move the discussion forward
Thanks

[2019-12-18 04:10] wkcn commented on #17097
Hi @reminisce , I have several questions.
1. Does the time of asynchronous execution cover that of invocation overhead?
2. MXNet Imperative mode creates a computational graph, but NumPy computes operations directly. How long will they take?

To my knowledge, if using pybind11 or Python’s C extension, it need to re-build interfaces to support other version of Python.

[2019-12-18 04:21] liuzh91 opened #17104 "add batch_axis attribute in ValidationHandler"
## Description
`ValidationHandler` is an `event_handler` that evaluates model on the validation dataset. It is a default `event_handler` of `fit` function in the `estimator` class. Current Implementation of `ValidationHandler` is shown below:
[code]

During evaluation, `ValidationHandler` calls `self.eval_fn(val_data=self.val_data)` to compute validation metrics on the validation dataset. The prob

[2019-12-18 08:35] zburning opened #17105 "Bug with fusion"
## Description
I'm running the script at https://github.com/dmlc/gluon-nlp/tree/master/scripts/language_model/run_glue.py. The command line to reproduce:
python run_glue.py --task MRPC --gpu 8 --batch_size 32

I have the following observation:
1. With model.hybridize()
With mxnet-cu100 >= 1.6.0b20191102, the time cost of the first batch is more than 283s with a single GPU, more than 1000s with 4 G

[2019-12-18 08:40] GPoloVera commented on #17088
Hi @xidulu,

I would love to do that but I would need some help because I am not familiarise enough with the code.
You said it is already done with the L1 and L2 losses but not with the rest isn't it?
Maybe trying to replicate the things done on this two and port to the rest is enough or there would be more challenging things?

[2019-12-18 09:18] xidulu commented on #17088
@GPoloVera
Yep, you simply need to replicate the modification done to the L1 and L2 to make other loss functions compatible with DeepNumpy API.

You could refer to this PR: https://github.com/apache/incubator-mxnet/commit/65928b1936d5d43f237b0f9f9e43115861faf4c0#diff-8b9ba6d32a6b2369b6ffde76f0986d1f

p.s. You could just a leave a comment under this thread if you meet any problems during your devel

[2019-12-18 11:12] igor-byel opened #17106 "Results differ in first run from next runs"
## Description
Results differ in first-run from  next runs  when using MXNET_ENGINE_TYPE=NaiveEngine environment variable

### Steps to reproduce
#1.set environment variable
import os
os.environ["MXNET_ENGINE_TYPE"] = "NaiveEngine"
##this import commented in global  if uncomment all works good
##import moved to line 14,23,24 to emulate reference to class in separated file
#import mxnet as mx
#from

[2019-12-18 12:17] chinakook commented on #17097
I have a good idea, I think we can build our own custom ctypes system or some other middleware to solve it.

[2019-12-18 12:42] jiapei100 opened #17107 "How to use system mkldnn?"
Can those 3rdparty libraries be replaced by system installed ones?
If so, how?

[2019-12-18 14:05] hubutui commented on #16852
@leezu You mean just append these two line to `CMakeLists.txt`? I have try it, but with no lock. I'm currently manual set `CUDA_COMMON_GPU_ARCHITECTURES` to compute capability >= 3.7.

[2019-12-18 14:16] TaoLv commented on #17107
No, you cannot do that. MXNet usually depends on certain version (commit id) of MKL-DNN and it's statically linked as a part of libmxnet.so.

[2019-12-18 14:21] TaoLv commented on #16891
@vpirogov @ChaiBapchya The interoperability means:
- how to pass the threading model to the dependencies of MXNet, eg. openblas, lapack, opencv, dnnl, mkl.
- how to cooperate with other tools, eg. gomp based numpy or pytorch.

[2019-12-18 15:31] vpirogov commented on #16891
@TaoLv,

You are right that when different OpenMP runtimes are used in the same application there's a potential for interoperability issues. For this particular discussion it's important to note that the interoperability considerations are the same for libiomp5 and libomp. From that perspective using libomp does not introduce any additional issues in comparison to what MXNet used before (i.e. libi

[2019-12-18 17:05] ptrendx commented on #17105
Some increase in the time of the first batch is expected with fusion enabled, but that is definitely excessive. Just to confirm - by `mxnet-cu100 >= 1.6.0b20191102` you mean that you tested both builds form 11/02 and 12/15? There was a change #16783 that went to master on November 12 (and backported to 1.6 on November 15) that sped up the compilation by caching the results.

Anyway, will look into

[2019-12-18 18:08] ptrendx commented on #17105
Ok, I can reproduce it. The first observation is that it is not actually the compilation time that takes so much time (so probably the fusion graph pass?).

I will dig further into it. At least when comparing the second epoch between fusion-enabled and disabled runs the fusion is faster (83.8s vs 87s) ;-)

[2019-12-18 18:16] truedichotomy opened #17108 "MethodError during training when running mx.fit in regression-example.jl (Julia)"
## Description
MethodError during training when running mx.fit in regression-example.jl in Julia 1.3 on macOS 10.15.2.

### Error Message
julia> mx.fit(model, optimizer, trainprovider,
              initializer = mx.NormalInitializer(0.0, 0.1),
              eval_metric = mx.MSE(),
              eval_data = evalprovider,
              n_epoch = 20,
              callbacks = [mx.speedometer()])
[ I

[2019-12-18 18:18] truedichotomy commented on #17092
[code]

[2019-12-18 18:22] sxjscience commented on #16991
@Alicia1529 For the second question, I think you will need to use `mx.npx.set_np()` to enable numpy-compatible behavior.
[code]

[2019-12-18 19:08] eric-haibin-lin opened #17109 "[mxnet 2.0][item 3.2] Unify Executor"
Scope:

1. SymbolBlock equivalent in C/C++, unify the executor implementation for symbol/module and the one for gluon blocks
2. migrate other versions of inference API

[2019-12-18 19:14] eric-haibin-lin commented on #17109
Features of an executor
1. memory planning
2. Infer shape, dtype, storage type
3. gradient checkpointing (aka mirror)
4. Subgraph support
5. Control flow support
6. Dynamic shape op support
7. Python/C predict API
8. Graph passes for fusion/quantization

Features missing/requires validation for Gluon imperative
- gradient checkpointing
- C predict API
- Graph passes for fusion/quantization
- wheth

[2019-12-18 19:18] eric-haibin-lin opened #17110 "[mxnet 2.0][item 3.5] NNVM Backend Operator Interface"
Scope:

1. support more than one temporary spaces
2. split forward shape/type inference and reverse shape/type inference for better error messaging.
3. deferred initialization removal (or improve error/info message)
4. accompanying operator implementation changes

Risks:

1. some changes may make operator implementation less error-prone while less flexible, and thus require some reworking.

[2019-12-18 19:23] eric-haibin-lin opened #17111 "[mxnet 2.0][item 4.11] Gluon Distributed Training Usability Enhancement"
Scope:

1. <del>more flexibility for communication with kvstore UDFs</del>
2. add distribution strategies to estimator
3. plugin for communication backends (horovod, byteps, parameter server) for data parallel training
4. data sharding/sampling/streaming enhancement for distributed training
5. better documentation for new users

[2019-12-18 19:25] eric-haibin-lin commented on #17111
- RFC for 3: https://github.com/apache/incubator-mxnet/issues/16795
- Initial PR for the plugin interface: https://github.com/apache/incubator-mxnet/pull/17010

[2019-12-18 19:50] tycoles commented on #14003
Same problem here!

[2019-12-19 00:23] leezu opened #17113 "3rdparty/openmp cmake build broken on some systems"
## Description
See https://github.com/apache/incubator-mxnet/pull/17098 and please help to review it.

`cmake -GNinja -DUSE_CUDA=ON` will currently fail on some systems, as OpenMP detects and attempts to build nvptx offloading target (which is not needed, but whose build fails).

[2019-12-19 00:38] ptrendx commented on #17105
I created the PR with a fix to this. Locally the graph pass takes now ~4.5 s on a single GPU, down from over 200 s (since you are not using multiple processes in that script, the time for multiple GPU would still scale linearly unfortunately, but changing that would require much bigger changes to MXNet).

[2019-12-19 01:02] eric-haibin-lin opened #17115 "[mxnet 2.0][item 4.11] Horovod backend for mxnet AbstractKVStore"
As the abstract kvstore API is merged in https://github.com/apache/incubator-mxnet/pull/17010. We shall add the horovod backend. Reference code: https://github.com/apache/incubator-mxnet/pull/17010/commits/1980e37d634aee44749b129bdf0de73516bf610d

[2019-12-19 01:02] eric-haibin-lin opened #17116 "[mxnet 2.0][item 4.11] BytePS backend for mxnet AbstractKVStore"
As the abstract kvstore API is merged in #17010. We shall add the bytePS backend. Similar to: 1980e37

[2019-12-19 01:30] WenmuZhou commented on #9079
@hhexiy some question with crnn

[2019-12-19 02:41] zburning commented on #17105
Thank you for your great work!

[2019-12-19 03:12] zburning opened #17117 "Problem with gluon.utils.split_data()"
## Description
The current gluon.utils.split_data() has:
[code]

Considering an example:
we have a tensor of shape (31, *), and we want to split it into 8 slices. According to the function, step will be (31 // 8 = 3), so that the tensor will be split into 8 tensors of size [3, 3 ,3 ,3 ,3 ,3, 3, 10], in which the last tensor is excessive large. A better result could be [4, 4, 4, 4, 4, 4, 4, 3]

May

[2019-12-19 03:23] wkcn commented on #17117
[code]

[2019-12-19 03:30] zburning commented on #17117
Thank you, this is a clean solution.

[2019-12-19 04:41] leezu commented on #17117
Following `np.array_split` is a good idea. It should have been done from the beginning. Would you like to create a PR?

[2019-12-19 05:04] leezu commented on #17107
@TaoLV will newer versions of DNN provide backwards compatibility? Ie can we relax the current "depends on commit id" requirement to minimum version requirement in the future?

[2019-12-19 05:06] leezu commented on #17097
@wkcn that can be done as part of `setup.py` locally on the users machine, or would you see any problem?

[2019-12-19 05:54] eric-haibin-lin commented on #17097
How much engineering efforts does it take to do (1)?

[2019-12-19 06:12] zburning commented on #17117
@leezu Yes

[2019-12-19 06:22] xidulu opened #17118 "Custom Gradient compatible with Hybridize"
## Description
Custom Backward is a feature supported by both tensorflow(https://www.tensorflow.org/api_docs/python/tf/custom_gradient?version=stable) and pytorch(https://pytorch.org/tutorials/beginner/examples_autograd/two_layer_net_custom_function.html). MXNet implements `autograd.Function` https://github.com/apache/incubator-mxnet/pull/7403/files , which is quite similar to the one in pytorch,

[2019-12-19 06:42] eric-haibin-lin commented on #16685
Nice finding. Is the part one issue only concerned with the `identity` op?

[2019-12-19 07:00] feevos opened #17119 "mxnet-cu101mkl==1.6.0b20191006 cannot be used with horovod via pip install"
## Description
Installed mxnet-cu101mkl==1.6.0b20191006 via pip, then installed (via pip) horovod 0.18.2
[code]

After that, I cannot use:
[code]

### Error Message
I am getting the error:
[code]
## To Reproduce
[code]

## What have you tried to solve it?
I've installed a previous version of mxnet, namely: mxnet-cu101mkl 1.6.0b20190811 and now horovod is working. I don't know in which version afte

[2019-12-19 07:03] eric-haibin-lin commented on #14883
proposal in https://github.com/apache/incubator-mxnet/issues/17097

[2019-12-19 07:26] leezu commented on #17119
Duplicate https://github.com/apache/incubator-mxnet/issues/16193#
You can use the builds from https://repo.mxnet.io/dist/2019-12-18/dist/mxnet_cu101mkl-1.6.0b20191218-py2.py3-none-manylinux1_x86_64.whl

Also see https://lists.apache.org/thread.html/cba5e34a59af5e3ce99bbad912341efef32fb409c022d9239aa2994a@%3Cdev.mxnet.apache.org%3E why nightly builds moved.

[2019-12-19 07:26] #17119 closed

[2019-12-19 08:21] IvyGongoogle opened #17122 "how to use 'Exponential Moving Average' for weights ?"
Hello, I cannot find some materials about how to use 'Exponential Moving Average' for weights by python API. Can you give some advises?

[2019-12-19 09:33] Wallart commented on #16754
I confirm that mirroring is still working.
We can apply _set_attr(force_mirroring='True') on HybridBlocks and then work with the Module API

[2019-12-19 09:33] #16754 closed

[2019-12-19 10:00] liuzh91 opened #17124 "train estimator on data stream"
## Description
The `fit()` function of `gluon.estimator` only supports input from `gluon.DataLoader`.  One limitation of `gluon.DataLoader` is that it accesses training data with index. Therefore, it is impractical to train the `estimator` on continuous data stream.

It will be great if the `fit()` function can support inputs from any `iterable` object instead of `gluon.DataLoader` only.

## Refer

[2019-12-19 10:57] TaoLv commented on #17107
@leezu MKL-DNN follows the semantic versioning 2.0 so it's backwards compatible for minor versions and might be not compatible for major versions.

We cannot do that without a lot of MKL-DNN version check inside MXNet. My opinion:
1. We don't encourage MXNet users to use older versions of MKL-DNN as they might lack some good features which are already integrated into MXNet.
2. We don't encourage M

[2019-12-19 11:08] TaoLv commented on #16891
@vpirogov, yes, that's true. libomp and libiomp5 should have the same interoperability issue. From this perspective, the current release build solution (makefile + gomp) sounds a safer choice though it has relatively worse performance. I assume that gomp has better interoperability than the other two runtimes, maybe not true.

[2019-12-19 11:47] leezu commented on #17124
The check should be removed. Python uses duck typing. MXNet claims to be a Python-first project now. So let's follow Python's best practice.

[2019-12-19 16:49] mikeobr opened #17125 "Transform documentation is unclear about GPU support"
## Description
These transforms are useful for data augmentation and prep, however the docs are a bit unclear. Some operators such as resize or to_tensor work on GPU, but many of the others are not implemented for GPU. It would be nice if the documentation reflected which operators are supported.

## References
- https://mxnet.incubator.apache.org/api/python/docs/api/ndarray/image/index.html#modul

[2019-12-19 17:44] sxjscience commented on #17097
I think we can first replace the code-gen here https://github.com/apache/incubator-mxnet/blob/521c477ad32864d887481abf6c53acae3b717cf6/python/mxnet/ndarray/register.py#L115-L269 with pybind11.

[2019-12-19 17:56] lorenzob opened #17126 "Memory should be completely released after an OOM happens"
## Description
After a cudaMalloc failed: out of memory error is raised everything becomes unusable with more out of memory errors (even if a smaller batch is provided).

If I load two models both become unusable after the OOM.

### Error Message
Traceback (most recent call last):
  File "core/facerec.py", line 673, in <module>
    img_result, distances = compare(list(images_data), "work/")
  File

[2019-12-19 18:00] szha commented on #17126
Should have already been fixed in #16194. Could you try a nightly build to verify?

[2019-12-19 18:01] sxjscience opened #17127 "[mxnet 2.0][item 7.2] RaggedNDArray in MXNet"
# Introduction
Many machine learning problems involve manipulating a collection of tensors with different shapes. For example, in machine translation, the source and target sentences may have different lengths. In object detection, the images have different sizes and each image is associated with a different number of bounding boxes. In graph neural network, each node has a different number of nei

[2019-12-19 18:21] tqchen commented on #17097
I have another candidate that would highly recommend: adopt TVM's FFI convention.

The historical problem of MXNet FFI was the blowing amount of the C API bindings as we add new features. This creates a huge amount of maintenance burden.

The real problem was not really about which FFI system to adopt(cython and pybind are fine in that end, except for the cost of compilation), but more of the cost

[2019-12-19 18:25] lorenzob commented on #17126
With the nightly first I got this error:

https://github.com/apache/incubator-mxnet/issues/16785

and I solved(?) it by setting MXNET_USE_FUSION=0.

After that, on the first call after the OOM I get (from another model, not the same that threw the OOM error):
[code]

[2019-12-19 18:30] szha commented on #17126
The problem here is that the call in mshadow isn't requesting memory from our memory pool. We are in the process of deprecating mshadow.

[2019-12-19 19:18] eric-haibin-lin commented on #17097
@tqchen thanks for sharing this! Is there any reference benchmark result that stress tests the ffi overhead?

[2019-12-19 19:21] tqchen commented on #17097
I don't have any benchmarks at hand, but would be great if someone can help creating one with cython enabled.

[2019-12-19 19:23] eric-haibin-lin commented on #17097
@reminisce do you think we should also consider/benchmark tvm ffi? It's used in MNM, and probably having that for mxnet 2.0 will make migration to MNM easier.

[2019-12-19 19:33] sxjscience commented on #17117
@leezu @zburning How about labeling it as a performance issue?

[2019-12-19 19:34] sxjscience commented on #17122
@IvyGongoogle Would you provide more information? Are you referring to something similar to `tf.train.ExponentialMovingAverage`?

[2019-12-19 19:44] szha commented on #17122
Assuming that's the case, we have a prototype in GluonNLP for this at: https://github.com/dmlc/gluon-nlp/blob/qanet/scripts/question_answering/util.py#L74

[2019-12-19 20:21] tqchen commented on #17097
OK here is a script to quickly check

[code]

Results on my laptop
[code]

[2019-12-19 23:15] tqchen commented on #14883
i just would like to comment a bit about the tvm related benchmark. The copyto function was not really a good benchmark for TVM's FFI cost mainly because that function was implemented directly via ctypes because we didn't find it to be a bottleneck.  The core functionality could have been turned into cython, which could speedup the overhead of the call.

The current best way test the FFI is throug

[2019-12-19 23:45] tqchen commented on #14883
To followup this again, the patch https://github.com/apache/incubator-tvm/pull/4549 fixed the copyto issue by cythonize it. Here is an updated script to add benchmark of copyto

[code]

Results on my laptop(macbook pro 13inch)
[code]

[2019-12-20 01:38] szhengac commented on #17086
52c9a45 is applied to max pooling. I think it has nothing to do with RNN?

[2019-12-20 02:34] junrushao1994 commented on #17097
@tqchen can you also copy the results you posted in #14883 to here? This shows convincing benchmark results that tvm ffi is comparable with numpy.

[2019-12-20 02:37] liuzh91 commented on #17086
Nah. It didn't fix the gradient explosion issue.

[2019-12-20 02:43] ciyongch commented on #17086
@szhengac @liuzh91 The current gradient explosion issue is not fixed yet, we're working on this. For now, the `MXNET_USE_MKLDNN_RNN=0` is the workaround after the commit [897f4fa](https://github.com/apache/incubator-mxnet/commit/897f4fae075c5261958de1a07cded0b5b3058a7a), and is also applicable to [52c9a45](https://github.com/apache/incubator-mxnet/commit/52c9a45abc8d1f8228ec9ed1bad7f137137fd96b) .

[2019-12-20 03:40] tqchen commented on #17097
I think interested folks can follow the last post here https://github.com/apache/incubator-mxnet/issues/14883#issuecomment-567726765 the general takeaway seems to be that the overhead is quite close to numpy's one

[2019-12-20 05:19] IvyGongoogle commented on #17122
@sxjscience  yes. I mean that.  @szha  Could you provide some `py` scripts about how to use this class `ExponentialMovingAverage` when I am defining my cnn model ?

[2019-12-20 05:37] reminisce commented on #17097
@tqchen Thanks for sharing the benchmark results. We did consider using TVM FFI as a candidate and I strongly agree with your suggestion on making a limited set of runtime API for sustainable maintainability. The Python op API overhead in general is more obvious when passing Python native data structures to the backend, such as lists, tuples, etc. I modified your script by passing a Python tuple a

[2019-12-20 06:33] Alicia1529 commented on #16646
This bug has been fixed in pr #16804

[2019-12-20 06:35] #16646 closed

[2019-12-20 06:45] Tigerwander commented on #12280
Is this issue in open mode?

[2019-12-20 06:47] leezu commented on #12280
@Tigerwander this issue should be fixed. Please open a new issue

[2019-12-20 06:48] Tigerwander commented on #12280
Hey, have you solved this problem, I am now in same problem, and does not find satisfactory answer

[2019-12-20 07:20] tqchen commented on #17097
First of all, it would really be great if the issue of native data structure could been bought up at the first place in the RFC :)

Every design has a tradeoff, and most of the TVM FFI's design started as an artifact of of Amdahl's law.  In particular, it is interesting to ask how much native python data structure we need. e.g. most of the fast path(e.g. add/sub) and common operators the problem d

[2019-12-20 07:40] leezu commented on #17126
@lorenzob which date is your nightly build of? Could you build https://github.com/apache/incubator-mxnet/pull/17114 from source and check the issue still persists?

CC @ptrendx seems there may be another fusion issue here

[2019-12-20 07:55] sxjscience commented on #17097
I think we need to support `tuple` if we are going to adopt the PackedFunction approach. It is used in some functions like `split`, `hsplit`, `reshape`, `transpose`.

[2019-12-20 09:32] beingjoey opened #17132 "TX2 gpu memory cost abnormal"
## Description
I built mxnet in Tx2 , and did mtcnn face detecting and insightface , and I found the memory cost in TX2 was about 2 times of it in x86 computers which equiped nvidia-t2080 or nvidia 1050,(on these 2 computers the memory cost were almost the same).
My test used the same image and mtcnn face detecting costed about 1GB memory, compared with 500MB in computer.

[2019-12-20 10:23] lorenzob commented on #17126
@leezu I'm willing too but I'm stuck with the build on a gtest error and I cannot find any complete build guide covering all the requisites. Can you help me with this?

I have gtest in /usr/src/gtest and /usr/local/lib/gtest/

I tried:

cmake -DBLAS=open -DUSE_CUDA=1 -DUSE_CUDA_PATH=/usr/local/cuda -DUSE_CUDNN=1 -DUSE_MKL_IF_AVAILABLE=ON -DGTEST_ROOT=/usr/local/lib/gtest/ -DCMAKE_BUILD_TYPE=Releas

[2019-12-20 12:53] sebastian-sz opened #17135 "Exporting to ONNX format - Error in documentation example"
## Description
When trying to reproduce the steps in the documentation:
Exporting to ONNX format
https://mxnet.apache.org/api/python/docs/tutorials/deploy/export/onnx.html

The content of 5th input cell
[code]
throws an error.

### Error Message
[code]

## To Reproduce
The entire error can be reproduced by running such a single cell:
[code]
### Steps to reproduce

1. Create virtual environment wit

[2019-12-20 14:13] leezu commented on #17126
@lorenzob thank you. Actually there is the `3rdparty/googletest` submodule included in MXNet. You need to run `git submodule update --init --recursive` or clone with `git clone --recursive https://github.com/apache/incubator-mxnet/` to make sure all submodules are initialized correctly.

A better error message should be provided indeed..

[2019-12-20 14:17] leezu opened #17136 "CMake: Improve error message if submodules are not checked out"
## Description
Current error message is confusing to users.
Reference https://github.com/apache/incubator-mxnet/issues/17126#issuecomment-567874505

[2019-12-20 16:30] ptrendx commented on #17126
@lorenzob Can you provide some repro instructions for the error where you needed to disable fusion?

[2019-12-20 16:34] #17105 closed

[2019-12-20 18:23] reminisce commented on #17097
@tqchen Thanks for explaining things inside out. Please know that I'm not against TVM FFI design. In fact, it's great to know that you think passing Python native data structures can be accelerated by engineering through TVM FFI. This is vital for keeping the future MXNet runtime API in a limited set for scalable and sustainable maintainability.

Putting the design decision aside, I want to share

[2019-12-20 18:25] tqchen commented on #17097
To followup on this thread about brining native support to tvm ffi, I will first discuss the ways to address tuple, and then discuss some of the pros and cons.

First of all, we all know that at a time point we are going to translate the python data structure we know into C++. The main question is where that translation can happen. In the pybind case, the translation happens in the c++ side by dir

[2019-12-20 18:34] tqchen commented on #17097
Some additional thoughts along the line:

- It would be great to discuss what are the collection of "fast path" data structures
- Given that this looks like a proposal, perhaps it should be tagged with an RFC so that it can be  mirrored to dev@

[2019-12-20 18:49] ptrendx commented on #17097
@reminisce Do you have data on what is the time split between the FFI itself and engine scheduling inside MXNet backend?

[2019-12-20 18:51] sxjscience commented on #17097
For the "fast path" structures that we need to support, I'm considering the following:
- py_slice, Ellipsis for basic indexing.

Also, there are two scenarios when list will be involved:
- For concatenate, the arguments may be wrapped in a python list.
- In the case of split and hsplit, the return value can be a list.

[2019-12-20 19:02] tqchen commented on #17097
@sxjscience here are some quick thoughts (of course passing pyobject kind of "solves" the problem, so I am discussing the wrapping that can be done through the tvm ffi).

- concatenate seems can be achieved through the python side wrapping ```concat-> concat_internal(*args)```
- return list value can be addressed by introducing a Tuple object to tvm runtime, we recently did that.

The py_slice is

[2019-12-21 04:40] reminisce commented on #17097
@ptrendx I benchmarked `mx.nd.zeros((1,), out=out)` in async engine. The total time including FFI and engine scheduling is 40us, and FFI itself takes 21us.

[2019-12-21 07:20] iblis17 commented on #17092
@truedichotomy I'm trying to tackle this issue in https://github.com/apache/incubator-mxnet/pull/16125.
A workaround is setting the environment variable `MXNET_HOME` to the prebuilt binary dir.

[2019-12-21 09:34] wintersurvival opened #17139 "gamma and beta dimensionality error in GroupNorm operator"
## Description
In the implement of mxnet.sym.GroupNorm，the size of gamma and beta is (group_number,)。However, in the paper of group norm the size of gamma and beta is (channel_number,) like the way of batchnorm.

### Error Message

## To Reproduce

### Steps to reproduce
1.
2.

## What have you tried to solve it?
1.
2.

## Environment
mxnet v1.6.0

# paste outputs here

[2019-12-21 11:58] nickguletskii opened #17140 "mx.nd._internal._mul_scalar and other scalar operators give incorrect results when PySide2 is used"
## Description

Creating an instance of `PySide2.QtCore.QCoreApplication` makes `mx.nd._internal._mul_scalar` and other scalar operators function incorrectly.

## To Reproduce
[code]
### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. Install a Python 3.7.2 virtual environment with PySide2 and MXNet.
2. Run the provided script without any arguments. You should see the

[2019-12-21 12:21] lorenzob commented on #17126
@leezu Thanks, I just did a straight checkout from github to get started and missed the recursive part from the docs.

I still need a little more help with the install:

I upgraded cmake to 3.14 (3.10.2 with cuda 10 does not work, see: https://root-forum.cern.ch/t/intallation-cuda-cublas-device-library-advanced-set-to-notfound/33206/9 )

I had to manually link liblapack.so too:

sudo ln -s /usr/li

[2019-12-21 13:37] leezu commented on #17126
@lorenzob you need to uninstall all mxnet packages first (ie uninstall mxnet-cu100), and then install the source compiled version. It is expected that only `mxnet` package (and no mxnet-cuX) package is installed afterwards.

The attribute error you experienced is due to having two versions installed (in my experience).

Sorry to hear you experienced issues with the cmake & cuda setup. The requirem

[2019-12-21 15:38] ptrendx commented on #17097
Ok, so it is about 50:50 split. Is there also work underway to profile what is the reason of the time spent in the engine?

[2019-12-22 00:38] vjache opened #17143 "Wrong sum of array"
## Description
Wrong sum of an array. I've a list of floats, I created ndarray from it using numpy and mxnet and called sum routine and got different results.

### Error Message
No error just wrong arithmetic result of array summation.

## To Reproduce
[code]

### Steps to reproduce
See "To Reproduce"

## What have you tried to solve it?

1.
2.

## Environment
[code]

[2019-12-22 05:21] reminisce commented on #17097
@ptrendx Yes, there is an effort of profiling engine code flow using VTune. We hope the exercise can pinpoint the hotspots that contribute to the most part of latency. Further time split for pure C++ part between setup code (shape/type inference, memory allocation, dependency setup) and op scheduling is also around 50% vs. 50%.

For the "fast path" data structures, I'm summarizing the items as fol

[2019-12-22 05:32] tqchen commented on #17097
The following fast-path can be addressed in the TVM FFI:
- ```tuple``, ```list``` via translation in python/cython side (see benchmark above)
- ```str``` is already fast (seem benchmark above)
- ```Context``` can be quite fast if the object is a tvm object, around same mangitude as passing NDArray
- ```np.dtype``` can get around by by str conversion, or introduce a type structure, TVM FFI support

[2019-12-22 10:50] wkcn commented on #17143
Hi @vjache , it is not a bug.
The reason is that the default data type is `float64` in numpy, but `float32` in MXNet.

[code]

[2019-12-22 12:10] hadjiprocopis opened #17144 "ImageRecordIter : sometimes crashes when number of threads > 1"
Hi,
I am using the Perl API (AI::MXNet the latest from CPAN v1.4) of MXNet v1.5.1
I am in Linux, fedora 30, kernel  5.3.13-200 and my Perl version is v5.28.2

I have compiled MXNet from source archive : apache-mxnet-src-1.5.1-incubating.tar.gz ( i had too many problems with the git repo).

The problem arises with the following piece of Perl code:

[code]
The problem is that sometimes 50-50 the abo

[2019-12-22 12:15] vjache commented on #17143
To bypass this problem one need to specify a dtype explicity as 'float64'  i.e. :
`md.array(a, dtype='float64')` .
But still it is a critical problem for entire 'mxnet'.

[2019-12-22 12:21] vjache commented on #17143
Sorry, I've seen your response only after I posted my where I foun the bypass. But still I consider this is a serious thing. If I create an array and the accuracy is lost then I should be at least warned, and at best the error raised. It is incorrect to silently do decreasing of accuracy when I create array.

[2019-12-22 12:26] #17143 closed

[2019-12-22 13:48] chezhihong1 commented on #14881
How to sliced the h_w accordingly in the .json file?  Have you changed _op_translations.py? Thank U~

[2019-12-22 15:34] lorenzob commented on #17126
@leezu I added the mxnet-cuX after I saw this error:

AttributeError: module 'mxnet' has no attribute 'cpu'

Right after the build and install this is the situation:

Python 3.6.7 |Anaconda, Inc.| (default, Oct 23 2018, 19:16:44)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

['__doc__', '__loader__', '__name__', '__package__', '__path__', '__spec__']

[2019-12-22 16:26] leezu commented on #17126
@lorenzob I think the problem is that you didn't uninstall all mxnet versions obtained via pip, before installing the self-compiled version.

Ie. first `pip uninstall mxnet`, `pip uninstall mxnet-cuX`, etc.
Then `cd ~/path/to/mxnet-incubator/python; pip install --user -e .` to install the self-compiled version.

[2019-12-22 17:29] yelandgit opened #17145 "Compilation error"
I'm trying to compile MXNet with different configurations:

[code]

[code]
Why the ctest is failed?

[code]
What did I make wrong? Invalid parameter combination?
I need MXNet without GPU support, just CPU. How can I do it?

[2019-12-22 17:51] lorenzob commented on #17126
@leezu I did remove the all the mxnet packages and also created a new conda env to be sure.

But I used the "setup.py install" script to install the module rather than pip directly. Now it works, thanks, but the error is still there:

[code]

[2019-12-23 01:34] tqchen commented on #17097
After some thoughts along the direction, I find a better and fun answer to the above question: support tuple/ellipsis/slice in tvm ffi effectively.

I quickly hacked up a POC in https://github.com/tqchen/tvm/tree/pyffi that supports the following benchmark script(disclaimer: it is only a POC so not intended for use or fully optimized, but it demonstrates all the technical flows necessary to make a

[2019-12-23 02:40] eric-haibin-lin commented on #15738
@ptrendx should we consider making the acess to the loss scale easier since it might be frequently used for grad norm clipping?

[2019-12-23 09:04] leezu commented on #17113
Fixed by https://github.com/apache/incubator-mxnet/pull/17098

[2019-12-23 09:04] #17113 closed

[2019-12-23 09:10] leezu opened #17151 "[CI] Pin edge build docker containers"
## Description
Currently the pinned containers used in the edge build are broken and things only work due to caching effects https://github.com/apache/incubator-mxnet/issues/16753
However, caching breaks in case of any changes to the edge build.
Thus https://github.com/apache/incubator-mxnet/issues/16753, which requires a change (cmake update) disabled pinning and switched to the upstream containe

[2019-12-23 09:10] leezu commented on #16753
As part of https://github.com/apache/incubator-mxnet/issues/16753, the docker containers have been updated and switched to the upstream version. Thus this issue can be closed.

I opened https://github.com/apache/incubator-mxnet/issues/17151 to track pinning the upstream containers again @larroy

[2019-12-23 09:10] #16753 closed

[2019-12-23 13:20] leezu opened #17154 "test_numpy_interoperability.test_np_array_function_protocol broken with numpy 1.18"
## Description
test_numpy_interoperability.test_np_array_function_protocol is broken with numpy 1.18 ?

### Error Message
[code]

## To Reproduce
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/master/1414/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/master/1418/pipeline
http:/

[2019-12-23 13:35] haojin2 commented on #17154
@leezu I'm seeing:
[code]
at http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/master/1433/pipeline/.

[2019-12-23 13:44] haojin2 commented on #17154
@leezu Please remove unrelated links so that we don't lose focus on the issue, and open separate issues for those failure caused by other parts of the system. I'm working on reproducing the interoperability failure now.

[2019-12-23 14:14] haojin2 commented on #17154
@leezu Fix for the interoperability issue delivered in #17155, please do open separate issues for other problems.

[2019-12-23 14:21] olk opened #17156 "failing C++14 compilation for mxnet 1.5.1"
## Description
mxnet compiled with USE_CXX14_IF_AVAILABLE=ON forced compilation error in DMLC.

### Error Message
[code]

I guess that -std=C++14 isn't correctly passed to DMLC because file thread_group.h includes C++14 features (like std::shared_timed_mutex) only if
DMLC_USE_CXX14 is defined or __cplusplus > 201103L

I think that __cplusplus > 201103L is misleading because only 201402L does ident

[2019-12-23 14:51] olk commented on #17156
I notice that file mxnet/CMakeLists.txt sets -DDMLC_USE_CXX11=1 and -DDMLC_USE_CXX14=1 if SUPPORT_CXX14 is valid.
Shouldn't only -DDMLC_USE_CXX14=1 be specified?!

[2019-12-23 15:49] yajiedesign opened #17157 "mx.sym.var not impact with mx.name.Prefix,this is bug or feature?"
the mx.sym.var not call NameManager to get name.so it not impact  with mx.name.Prefix.this is bug or feature?

[2019-12-23 18:08] nickguletskii commented on #17140
Seems to be the same issue as #16134. Closing.

[2019-12-23 18:08] #17140 closed

[2019-12-23 19:58] reminisce commented on #17097
Thank @tqchen for sharing the PoC code within such a short timeframe. :) The numbers look promising even with Python native objects deeply copied. Pybind performs deep copy by default unless the receiving object in C++ end is marked as `opaque` so that the Python object passed by reference. That is often used for propagating large object changes from C++ to Python. In our op invocation use cases,

[2019-12-23 22:21] cyrusbehr opened #17158 "Cache CUDA modules when building Mxnet"
I am trying to build Mxnet with GPU support using the following options:

[code]
Currently, the build takes quiet long (~3 hours). I've noticed that the majority of the time is spent building the Cuda modules.

For my use case, I'll be rebuilding the library often (as part of my CI pipeline) but would like to reduce the build time. Is there some way to run an incremental build which caches these C

[2019-12-23 22:59] apeforest opened #17159 "Performance regression from 1.4.1 to 1.5.1"
## Description
In a recent test, we noticed a 33% performance drop between 1.4.1 and 1.5.1 in resnext-50 inference. We have triaged and found the culprit to be https://github.com/apache/incubator-mxnet/pull/15802.

@PatricZhao Please help to investigate.

@jonatan1626 @ChaiBapchya will provide more data points.

### Error Message
(Paste the complete error message. Please also include stack trace b

[2019-12-23 23:10] jonatan1626 commented on #17159
There is a commit between 1.4.1 -> 1.5.1 that is causing the regression. Initially I found that [#15802](https://github.com/apache/incubator-mxnet/pull/15802) was the issue, but after rerunning/reproducing it to verify, I am getting different results. I am currently going through the commits to figure out where the regression is will post my results once I have found it!

[2019-12-23 23:15] jonatan1626 commented on #17159
These were the initial numbers, which is why this investigation is going on:

Now we are trying to find the culprit for the regression from 1.4.1 -> 1.5.1

There was a gain from 1.5.1 -> 1.6 from the mkldnn upgrade [#15422](https://github.com/apache/incubator-mxnet/pull/15422)

=========================== MXNet 1.4.1 Pip ==============================
Model: resnext-50
    ----Latency----
    Mode

[2019-12-24 01:43] canteen-man commented on #16562
Hi，@fumingxing2015，I meet the same problem.I found the geem compute in convlution is very slow.Both MKL and Openblas are slow.
Do you have any suggestion about this problem.

[2019-12-24 02:26] jonatan1626 commented on #17159
Quick update on this, so commit id c5265fbf635965b5124df2d7dcea1b57c6508b73 (I'm labeling this commit number 182, meaning this is 182 commits behind 1.5.1) gives us:

    "p50": 18.60,
    "p90": 22.57,
    "p99": 27.02

The following commits give this error (181, 180):
----------------------------------------------------------------
  File "gluon_resnext50.py", line 24, in <module>
    run_resnex

[2019-12-24 02:43] pengzhao-intel commented on #17159
@wuxun-zhang please take a look for this issue

[2019-12-24 02:46] pengzhao-intel commented on #17159
@apeforest how about the performance on 1.6 and latest master?

[2019-12-24 03:22] yajiedesign commented on #17158
You can try ccache in linux.

[2019-12-24 03:35] yajiedesign commented on #8703
The 2020 is coming, is there any conclusion?

[2019-12-24 04:16] szha commented on #8703
Given the opportune time of mxnet 2.0 development, let's drop python2 support in mxnet 2.x

[2019-12-24 04:54] wuxun-zhang commented on #17159
@apeforest @jonatan1626 I will look into this issue. BTW, could you also share the benchmarking scripts you used? Thanks.

[2019-12-24 05:12] jonatan1626 commented on #17159
Thanks @wuxun-zhang you can find the scripts here: https://github.com/jonatan1626/mxnet_performance

the folder build_mxnet contains the docker build for mxnet. I put the commit number in the Dockerfile of the mxnet version that I want to build.
Build using`docker build -t mxnet .` within that directory
Then `docker run -it mxnet bash`. The wheel can be found in the `dist` directory.

I copy that

[2019-12-24 05:47] wuxun-zhang commented on #17159
@jonatan1626 Thanks for sharing. But, there is a issue when I tried to download image from S3 in my local machine.
[code]

Could you temporarily upload the testing image and `resnext50` model files to github repo if file size is not too large? Thanks

[2019-12-24 09:30] leezu commented on #17154
@haojin2, sorry to link multiple broken CI steps. I didn't investigate the exact set of issues further after linking the failure to the numpy 1.18 release. Most likely they need to be fixed in a single PR, as otherwise CI will not pass for the PR containing the fixes.

[2019-12-24 09:42] leezu commented on #17158
1) Use ninja instead of make. For that specify `cmake -DNinja [...]` and use `ninja` instead of `make -j`.
2) Use a single a single cuda compute architecture. With https://github.com/apache/incubator-mxnet/pull/17031 you only need to set `-DMXNET_CUDA_ARCH=7.0` (as an example), but until it is merged, you need to set multiple variables. See the commit message at #17031 for the variables you curren

[2019-12-24 10:03] leezu commented on #17156
Are you using the cmake or Makefile based compilation?

[2019-12-24 10:06] leezu commented on #17145
A change in upstream jemalloc means that we can't link with system jemalloc.
This will be fixed once https://github.com/apache/incubator-mxnet/pull/17121 is merged. In the meantime you can use that PR if you like to build with jemalloc.

[2019-12-24 10:24] wuxun-zhang commented on #17159
I tried to use resnext50 model from [Gluon-CV modelzoo](https://gluon-cv.mxnet.io/model_zoo/classification.html#resnext) since I cannot get access to the model in s3. I used the local machine CLX-8280 with 28 physical cores and the inference command is like below:

[code]

Output based on **mxnet-mkl==1.5.1**
[code]

Output based on **mxnet [master](https://github.com/apache/incubator-mxnet/commit

[2019-12-24 11:24] leezu commented on #17126
Thanks for confirming @lorenzob. So you confirmed the issue disappears when setting `MXNET_USE_FUSION=0` with the code from #17114, correct?

How close to out of memory are you with `MXNET_USE_FUSION=0`? (ie. what's the memory usage)

CC @ptrendx

[2019-12-24 11:33] hzfan commented on #17097
Following [this branch](https://github.com/tqchen/tvm/commit/ddd9323d9f8713b77591260f32529078f585a2ac) I made a simple POC on MXNet side (code [here](https://github.com/hzfan/incubator-mxnet/commit/35385cde85267dc848b551a326d3c30c9d369b8e)). It turns out that passing a python `tuple` and receiving it as `TShape` takes around 200ns.

[2019-12-24 12:25] JlidiBorhen opened #17163 "Performance deterioration when predicting in Python multithreading Thread"
## Description
I'm working with the face detection model in this repository :
https://github.com/YonghaoHe/A-Light-and-Fast-Face-Detector-for-Edge-Devices/

When running in main thread , there's no problems. But when I run prediction in a  multithreading.Thread , I get inaccurate detections and the bounding box scale changes randomly especially when the face is moving.

### Error Message
None

##

[2019-12-24 16:08] jonatan1626 commented on #17159
Hey @wuxun-zhang sorry about that! I have put the model files and input data that I am using in the repo in a zip file `params.zip`.

Should I also be running
`export OMP_NUM_THREADS=28
export KMP_AFFINITY=granularity=fine,noduplicates,compact,1,0
numactl --physcpubind=0-27 --membind=0`

When executing the test? Could that be the cause for the difference?

[2019-12-24 16:37] Rainweic opened #17164 "net.Cast("float16") doesn't work: Check failed: (*in_type)[i] == dtype_param (2 vs. 0) : This layer requires uniform type. Expected 'float32' v.s. given 'float16' at 'gamma'"
## Description
When I use my dataset to trian Gluoncv's SSD with Float16, I meet this error:
<br>`Check failed: (*in_type)[i] == dtype_param (2 vs. 0) : This layer requires uniform type. Expected 'float32' v.s. given 'float16' at 'gamma'`<br>
I find in SSD, some BatchNormal Layers is use symbol to achieve. Because this, `net.cast('float16)`  loses efficacy.

### Error Message
mxnet1.5.1:<br>
`Chec

[2019-12-24 16:45] olk commented on #17156
cmake

[2019-12-24 16:45] tqchen commented on #17097
@hzfan thanks for implementing a poc:) However, these is a subtle but important difference which worth discusses here :) I will use cython-ffi to refer to the above approach, and tvm-ffi to refer to tvm's approach

- In cython-ffi, both data structure and functions are exposed, this means a in order to grow the set of functions, we need to expand the set of C API. In another words, we need to grow

[2019-12-24 16:54] cyrusbehr commented on #17158
Excellent thank you, I will give these a try

[2019-12-24 16:54] #17158 closed

[2019-12-24 17:06] apeforest commented on #17159
@pengzhao-intel performance in 1.6 came back a little but still not as good as 1.4. Also we are not sure if the performance recovery were due to other performance enhancements.

@jonatan1626 Could you strip any EIA related setting from your script. Let’s use the  Apache MXNet script to test

[2019-12-24 17:33] jonatan1626 commented on #17159
@apeforest so I think it's using Apache MXNet already? When running the script this is printed:
[code]

I reran the benchmark with the above script on c5.18xlarge:

[code]

**1.4.1**
Install: `pip install mxnet-mkl==1.4.1`
Output:
[code]

**1.5**
Install: `pip install mxnet-mkl==1.5.1`
Output:
[code]

**1.6**
Install: `pip install mxnet-mkl==1.6.0b20191025`
Output:
[code]

[2019-12-24 21:53] sxjscience commented on #8703
I think we should drop python2 in mxnet 2.x. Also, we should revise all the docstrings to use type hints: https://docs.python.org/3/library/typing.html.

[2019-12-24 22:02] sxjscience commented on #17139
Should be a bug @haojin2 .

[2019-12-25 02:12] TaoLv commented on #17159
@jonatan1626 Maybe not relate to the regression, but c5.18xlarge should have 2 cpu sockets and 18 cores on each. The env variables should look like:
[code]
If you just want to leverage the first cpu socket (like what @wuxun-zhang did on his machine):
[code]

[2019-12-25 04:35] wuxun-zhang commented on #17159
Thanks @TaoLv for reminding the above different settings.

@jonatan1626 Just updated the collected results on **c5.18xlarge**. I got the very different performance numbers of mxnet-mkl 1.5.1 with yours. Could you double check in your side?

**With below commands (using all physical cores on 1 socket):**
[code]
[code]

[code]

[code]

[2019-12-25 04:51] tranthanhtung04101995 opened #17167 "can't install mxnet-cu100"
import mxnet
illegal instruction (core dumped)
Processor: Inter Xeon (R) CPU X5570@ 2.93 GHZ
Graphics: GeForce GTX 960/PCle/SSE2
Cuda 10.0, cudnn 7.4.2, opencv 4.1.2.
Can You help me ?

[2019-12-25 06:05] TaoLv commented on #17167
@tranthanhtung04101995
- Could you please install mxnet by `pip install mxnet` and check if the native version works on your machine?
- Could you please share the output of `lscpu` on your machine?

I'm afraid the binary releases need AVX2 supported on your machine. See https://github.com/apache/incubator-mxnet/pull/17047#issuecomment-564863078.

[2019-12-25 06:44] jonatan1626 commented on #17159
Thanks @TaoLv for that information!

@wuxun-zhang I may be missing something, but I these are the numbers from the rerun.

These are my steps:
[code]
Does that seem right or am I missing something?

I have also installed mxnet-mkl==1.5.1 onto the other machines and rerun the benchmark and they give around the same numbers I've posted below.

[code]

[code]

[code]

[2019-12-25 08:04] DuZzzs commented on #15908
Same error.

[2019-12-25 08:31] tranthanhtung04101995 commented on #17167
mxnet version: 1.5.1.post0
lscpu:
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              8
On-line CPU(s) list: 0-7
Thread(s) per core:  1
Core(s) per socket:  4
Socket(s):           2
NUMA node(s):        2
Vendor ID:           GenuineIntel
CPU family:          6
Model:               26
Model name:          Intel(R) Xeon(R) CPU

[2019-12-25 08:42] TaoLv commented on #17107
I'm closing this issue as it seems not a valid request. Feel free to reopen if any concern. Thanks!

[2019-12-25 08:42] #17107 closed

[2019-12-25 08:53] TaoLv commented on #17167
Does the native mxnet (without the suffix -cu100) work well on your machine? It seems that AVX2 is not supported.

[2019-12-25 09:00] tranthanhtung04101995 commented on #17167
also does not work. how to build mxnet on my machine

[2019-12-25 09:06] TaoLv commented on #17167
See if this works for you: https://mxnet.incubator.apache.org/get_started/ubuntu_setup.html or https://mxnet.incubator.apache.org/get_started/centos_setup.html

[2019-12-25 09:48] eric-haibin-lin commented on #14288
@DickJC123 @ptrendx it looks like a bug in the cudnn dropout implementation on the ratio=1 case

[2019-12-25 21:16] szha commented on #17167
I think this is a problem of not fixing the instruction set when building the binary, and then building on a new environment. cc @ddavydenko

[2019-12-26 03:26] TaoLv commented on #17167
@szha Previously I thought sse3 is the minimal requirement. I didn't see where -mavx2 is introduced. Is it from the static build of dependencies?

[2019-12-26 06:47] pengzhao-intel commented on #17159
@jonatan1626 could you do some performance debug in your local?

1) Following the below link, you can check if the MKLDNN is used and then you can compare the runtime of each primitive in your network.
https://mxnet.apache.org/api/python/docs/tutorials/performance/backend/mkldnn/mkldnn_readme#4
2) Use MXNet profiling tools to dunp the runtime of each operator and compare the runtime between two ve

[2019-12-26 06:49] pengzhao-intel commented on #17159
@wuxun-zhang I think we need a document to illustrate how to debug performance for MXNet and MKLDNN like what we do for MKLDNN readme. Please try to write a draft and we can publish in website soon.

[2019-12-26 07:13] yxchng commented on #15891
@zachgk @AssassinTee Any updates on this?

[2019-12-26 07:16] pengzhao-intel commented on #17159
@jonatan1626 any thought, could you compare the performance of AMI, pip install and build from source for 1.4 and 1.5.1?

[2019-12-26 07:52] pengzhao-intel commented on #16891
@samskalicky and all,
The problem is very clean now. I think we need to make a decision and going forward.
Two possible paths as below

- Keep the build as-is with gomp
   cons, stable and mature now
   pros, a slight performance drop

- Re-build with llvm by CMake
   cons, same performance as before
   pros, efforts on improving CMake path and potential interoperability issues

From my side, I pr

[2019-12-26 07:54] fengcunhan commented on #15891
I have the same problem.My mxnet version is 1.5.1.Any updates on this?

[2019-12-26 09:06] tranthanhtung04101995 commented on #17167
i build mxnet. thank you.
https://github.com/apache/incubator-mxnet/issues/14953#issuecomment-492966154

[2019-12-26 09:39] fumingxing2015 commented on #16562
I only set the  small values to zero ,this can avoid the speed slow down and keep the accuracy no change.

[2019-12-26 13:43] wuxun-zhang commented on #17159
Yes, that will be very helpful. I'll start this work.

[2019-12-26 14:42] AssassinTee commented on #15891
No, it still doesn't work. I just worked around it by re-initalizing the model every prediciton

[2019-12-26 15:51] jonatan1626 commented on #17159
@pengzhao-intel sure I will look at the docs and can get the profiling numbers!

Also wanted to double check, we should look at: DL AMI 25/26, then do a pip install (1.4.1, 1.5.1, 1.6), and then build from source for 1.4.1 and 1.5.1 and run the benchmark? So a total of 12 different runs.

[2019-12-26 16:23] wuxun-zhang commented on #17159
@jonatan1626 I just created an auto-run script to run benchmark with MXNet profiler. You can find these files in my [gist repo](https://gist.github.com/wuxun-zhang/8e1bc466fd08bc78561fd1620bfe58c3). Firstly, you need to apply the patch `symbolic_run.diff` to your original repo, and then just run `./auto_run_with_profiler.sh` to collect profiling information (will print the results into stdout). Be

[2019-12-26 17:18] jonatan1626 commented on #17159
Thanks @wuxun-zhang!

Here are the results of my run (I switched the iterations to 10000):

**mxnet-mkl==1.4.1**
[code]

**mxnet-mkl==1.5.1**
[code]

**mxnet-mkl==1.6**
[code]

[2019-12-26 20:44] djaym7 opened #17178 "Delete This"
Delete Issue

[2019-12-26 20:49] larroy commented on #17006
@wkcn could you explain your suggestion? calling gemm back into the framework which gets dispatched to GPU or CPU?

[2019-12-26 21:01] #17178 closed

[2019-12-26 21:21] larroy commented on #17097
What's the point of having an API if you type erase it? Then you might as
well have a single function API with a type erased callback name to select
the function to call. In the end you move the burden away from the API to
the callers and inside the API to the dispatchers. For going this route of
uber-clever template tricks to generate code, I think it's better to just
put in place proper code gen

[2019-12-26 21:23] sxjscience opened #17179 "[Numpy] where does not support python scalar as the input"
[code]

Error message:
[code]

Also, the imperative case:
[code]

Error message:
[code]

[2019-12-26 21:25] larroy commented on #17097
Pybind is nice, I used Boost python many years ago, which I think is based
on. The problem with this is the hourglass C bindings, you have to go from
Python to C++ / Pybind, down to C and to the engine, this seems like a lot
of boilerplate.

On Mon, Dec 16, 2019 at 10:02 PM reminisce <notifications@github.com> wrote:

[2019-12-26 21:26] apeforest opened #17180 "Need a better build script for CMake"
## Description
The current instruction for users to build from source using Cmake is not very user-friendly. Users have to remember each flag whenever they build mxnet.

It will be nice to have a simple setup.py and users only need to run the following as Pytorch:
[code]

[2019-12-26 21:27] apeforest commented on #16864
A simple script to build from source using cmake: https://github.com/apache/incubator-mxnet/issues/17180

[2019-12-26 21:59] tqchen commented on #17097
@larroy indeed every solution has trade-offs, and these tradeoffs are discussed in the above posts when we compare solutions, and they are backed by benchmarks :) it would be great if you can also suggest potential tradeoffs here.

When you expose an API from typed language(c++) to a dynamic language(python), you have to type erase it, given that the python functions don't have the type, and you h

[2019-12-26 21:59] sxjscience commented on #16167
Should we create a new branch for 2.0? I think we are also planing for 1.7.0 https://github.com/apache/incubator-mxnet/issues/16864

[2019-12-26 22:08] apeforest commented on #17159
Why is this line ever printed at all? Apache mxnet should have no knowledge of EIA context.

[2019-12-26 23:21] apeforest opened #17181 "Fail to build mxnet from source"
## Description
Following the steps at https://mxnet.apache.org/get_started/ubuntu_setup
I got the following error:

### Error Message
[code]

## To Reproduce
[code]

then

[code]

## Environment

We recommend using our script for collecting the diagnositc information. Run the following command and paste the outputs below:
[code]

[2019-12-26 23:48] wuxun-zhang commented on #17159
@apeforest Look at the code [here](https://github.com/jonatan1626/mxnet_performance/blob/master/perf_script/misc.py#L44), if I understood correctly, this script just use `try...except...` to determine the running context. `ctx = mx.eia()` fails with throwing an exception.

@jonatan1626 Glad it works. Looks that the time consuming of `conv` and `fc` accounts for most of time(>90%). From the above p

[2019-12-26 23:52] jonatan1626 commented on #17159
@apeforest This benchmark script is from the EIA benchmark that we are using for inference tests. So it makes a call to check whether and EIA context is available, otherwise it will use mx.cpu() context.

@wuxun-zhang yeah I didn't see any regression! I'm looking closer at how we are timing it in the script. I'm a little confused because when you ran it, you're not getting any regression in the nu

[2019-12-27 00:29] apeforest commented on #17159
@wuxun-zhang Based on your earlier performance result, it seems we still see inference runtime increased from Avg: 14.64 in mxnet-1.4 to Avg: 16.486327974449974 in mxnet-1.5. Maybe they are not related to MKLDNN operators.

@jonatan1626 Could you please continue to rootcause the commits that caused the performance regression between 1.4 and 1.5?

[2019-12-27 00:49] ChaiBapchya opened #17182 "Seg Fault on dot product of sparse matrix with dense matrix"
## Description
Seg Fault on master, 1.5.1

### Error Message
[code]
## To Reproduce
[code]

### Steps to reproduce

1. pip install mxnet
2. python shell

## What have you tried to solve it?

1. Use gdb to find backtrace
2.

## Environment

We recommend using our script for collecting the diagnositc information. Run the following command and paste the outputs below:
[code]

[2019-12-27 00:53] wuxun-zhang commented on #17159
Yes. `load_imagenet_gluon` will use gluon hybridized model while `load_imagenet_module` will use symbolic model. If you want, you can also use `load_imagenet_module` to re-collect the latency of resnext50 with different mxnet-mkl versions.

[2019-12-27 01:18] ChaiBapchya commented on #17182
Oh okay. So another way of creating sparse matrix is first create scipy.sparse matrix and then convert it to mxnet.
Scipy sparse matrix creation revealed the true error

[code]

So the error handling / messaging can be done better on MXNet side.

[2019-12-27 01:19] ChaiBapchya commented on #17182
TODO: Add a check during sparse matrix creation to ensure index array size corresponds to the shape of array creation

[2019-12-27 06:34] xidulu commented on #17179
I actually mentioned this problem in the PR, https://github.com/apache/incubator-mxnet/pull/16829#issuecomment-554489820

[2019-12-27 07:38] liuzh91 opened #17184 "Weight tied cannot be used with weight sharing"
## Description
We experience some weight initialization error when we use weight sharing and weight tied simultaneously. We share weights between `model` and `model_eval`. The code is shown below:

[code]

### Log Message
If `args.tied` is set `True`, we get the following log message:
[code]
If we turn off `args.tied`, the initialization works correctly.

### To Reproduce
(If you developed your ow

[2019-12-27 07:43] zixuanweeei commented on #17086
Hi, @liuzh91 @szhengac. We have posted https://github.com/apache/incubator-mxnet/pull/17183 to fix the gradient explosion issue in RNN Backward. Thanks for reporting this issue again. And it would be greatly appreciated if you could give a test on this patch. Thanks.

BTW, we got the below training log:
[code]

[2019-12-27 07:46] liuzh91 commented on #17086
Thank you for the commit. We will double check whether the bug still persists.

[2019-12-27 08:12] zixuanweeei commented on #17184
According to the class `AWDRNN(train.AWDRNN)`, `tie_weights` boolean value means that *Whether to tie the weight matrices of output dense layer and input embedding layer*. So there is no bias param in a embeddings table, right? And output dense should be defined with `no_bias=True`.  Does it make sense?

[2019-12-27 08:25] liuzh91 commented on #17184
Thank you for the reply. It makes sense to me.

[2019-12-27 08:36] #17184 closed

[2019-12-27 12:40] leezu commented on #16167
In the past we always kept development on the master branch, thus how about branching out 1.7.0 release branch and keeping development on master?

[2019-12-27 13:40] TaoLv commented on #16167
+1 for using master branch for 2.0 development. I think we need 3 branches at least:
1. master branch: for 2.0 development
2. v1.x:  for 1.x development and maintenance
3. v1.7.x: for 1.7.x release

[2019-12-27 19:50] kexinyu commented on #17164
I'm having a similar issue, but I guess this explains why the cast loses efficacy for BatchNorm layer?
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/nn/basic_layers.py#L359-L362
[code]
so 'gamma' is still in float32, while the input is in float16, which causes the check failure.

[2019-12-27 19:55] szha commented on #17097
Thanks for the explanation. I'm not so concerned about complexity of
dispatching. If I understood you correctly the main benefit that you
explain for the TVM project was not having to change the C API, but still
you need to do type checking in both ends, or at least on the receiving end
of the API, correct? I think we have discussed similar things in the past
and we might have different views on s

[2019-12-27 20:44] ThomasDelteil commented on #15472
@larroy any idea how to fix it with cmake ?

[2019-12-27 22:44] larroy commented on #17097
LOL, the last one was my comment, not @szha :-D

[2019-12-27 22:46] szha commented on #17097
Test

On Fri, Dec 27, 2019 at 11:54 AM Pedro Larroy <pedro.larroy.lists@gmail.com>
wrote:

[2019-12-28 03:43] szha commented on #16167
That's what I had in mind. The v1.7.x branch doesn't have to be created until code freeze for 1.7.0

[2019-12-28 04:03] tqchen commented on #17097
re the need for explicit type checking code in TVM FFI.

Actually there is no explicit code for type checking as they are generated automatically via template expansion(on the receiving end), also we also have a "strong typed" signature that wraps the packed function interface, which gives you compile time type checking https://github.com/apache/incubator-tvm/blob/master/include/tvm/runtime/packed

[2019-12-28 14:33] samskalicky commented on #17006
We should create a namespace for the stuff in the lib_api.h file as suggested by @larroy:
https://github.com/apache/incubator-mxnet/pull/15760/files#r311756416

[2019-12-29 02:12] wkcn commented on #17006
@larroy Users may need matrix operators and DNN Op(e.g. ReLU, Conv) when writing a custom Op. Although they can implement it by third-party libraries, it is more convenient to use the built-in functions in MXNet.

[2019-12-30 06:52] haojin2 commented on #16247
@chinakook #17087 is merged, closing this issue.

[2019-12-30 06:52] #16247 closed

[2019-12-30 07:52] haojin2 commented on #16216
@access2rohit Seems like this issue has been addressed in the latest nightly build (mxnet-mkl==1.6.0b20191229):
[code]
Closing this issue now, if you found the problem is not solved please feel free to re-open this issue.

[2019-12-30 07:52] #16216 closed

[2019-12-30 09:54] leezu commented on #17158
@cyrusbehr FYI, #17031 is merged.

[2019-12-30 11:48] lorenzob commented on #17126
@leezu @ptrendx I used commit d000c3 that I think includes #17114

I no longer get the "Operator is non-differentiable" error if I do not set the MXNET_USE_FUSION. Setting MXNET_USE_FUSION=0 never solved the OOM error.

I still get the OOM if I use more than 10 112x112 images in one batch (for inference). When I get the first OOM I'm actually filling all the available free memory (about 3GB) and m

[2019-12-30 16:17] jonatan1626 commented on #17159
@apeforest
Is this what you wanted with 1.4.1 pip run, 1.5.1 pip run, 1.4.1 source run, 1.5.1 source run.

**pip mxnet-mkl==1.4.1**
Model: resnext-50
	----Latency----
	Model Partition Time: 0
	Model Load Time: 87.3405933380127
	First Inference: 113.36421966552734
	p99: 20.80082893371582
	p90: 19.6378231048584
	p50: 15.682220458984375
	Avg: 16.990032211302186
	StdDev: 6.2820178635081145

**source m

[2019-12-30 18:07] cyrusbehr opened #17195 "Unable to convert Insightface resnet 100 model to onnx"
I originally posted this question to the onnxruntime github page, but was hold to repost it here. The original post can be found [here](https://github.com/microsoft/onnxruntime/issues/2743#issue-542643478):

I am trying to convert the Insightface resnet 100 model (` LResNet100E-IR,ArcFace@ms1m-refine-v2`) which can be found [here](https://github.com/deepinsight/insightface/wiki/Model-Zoo) to work

[2019-12-30 18:43] Rainweic commented on #17164
姐 他为啥这么设置啊 我都懵了 这不让BN转fp16？ 我该咋训练和转化。。。

[2019-12-30 19:34] samskalicky commented on #17182
@apeforest assign [@ChaiBapchya ]

[2019-12-30 19:34] samskalicky commented on #17181
@apeforest assign [@apeforest ]

[2019-12-30 19:36] samskalicky commented on #17179
@apeforest assign [@reminisce  ]

[2019-12-30 19:37] samskalicky commented on #17167
@apeforest assign [@apeforest ] please follow up with @TaoLv

[2019-12-30 19:40] samskalicky commented on #17164
This is a known issue with BatchNorm operator not supporting float16. It needs some work to support, not currently a bug but not-implemented feature
@mxnet-label-bot update [Feature ]

[2019-12-30 19:41] samskalicky commented on #17164
@mxnet-label-bot update [Feature request]

[2019-12-30 19:43] samskalicky commented on #17163
@apeforest assign [@anirudh2290 ]

[2019-12-30 19:45] samskalicky commented on #17159
@apeforest assign [@apeforest ]

[2019-12-30 19:46] samskalicky commented on #17157
Can you please elaborate on the problem and show an example code to reproduce the issue?

[2019-12-30 19:48] kexinyu commented on #17164
BatchNorm is a “blacklist” function for which 16 bits of precision may not be sufficient. So you want to ensure that inputs into BatchNorm layer use float32, or you may have convergence issues.

[2019-12-30 19:49] samskalicky commented on #17156
This is not a supported build flow, we havent tried nor do we regularly build/test building with c++14.
@mxnet-label-bot update [Cmake, Feature request]

[2019-12-30 19:49] samskalicky commented on #17154
@apeforest assign [@reminisce ]

[2019-12-30 19:54] Rainweic commented on #17164
噢 这样子啊！谢谢小姐姐～(￣▽￣～)~ 但是我心中有个疑问，batchnorm基本都是大量使用，该如何确保bn层的输入是fp32而其它算子是fp16呢。。。能否给个简单的代码样例

[2019-12-30 19:54] samskalicky commented on #17139
@apeforest assign [@haojin2 ]
feel free to re-assign to the appropriate person

[2019-12-30 19:54] kexinyu commented on #17164
If the inputs uses float16, shouldn't there be a dtype switch (float16 -> float32) before `BatchNormForward`?
https://github.com/apache/incubator-mxnet/blob/b6972bb055fc44481b072db3abb90e26ee27c787/src/operator/nn/batch_norm-inl.h#L292
Why would this type mismatch error still exist?
`Check failed: (*in_type)[i] == dtype_param (2 vs. 0) : This layer requires uniform type. Expected 'float32' v.s. gi

[2019-12-30 19:54] samskalicky commented on #17151
@apeforest assign [@larroy ]

[2019-12-30 19:55] kexinyu commented on #17164
我也正有这个疑惑，正在研究中哈哈，弄明白了告诉你=w=

[2019-12-30 19:57] samskalicky commented on #17136
@apeforest assign [@access2rohit ]
@mxnet-label-bot remove [Bug]
Please follow up about enhancing the error messages, not a bug

[2019-12-30 19:57] samskalicky commented on #17135
@mxnet-label-bot update [Documentation]

[2019-12-30 19:57] Rainweic commented on #17164
Thank you! But I still doubt about it. BatchNorm doesn't support fp16, how can I train my model with fp16?

[2019-12-30 20:00] Rainweic commented on #17164
嗯呢。话说方便的话能否留下个联系方式么

[2019-12-30 20:00] samskalicky commented on #17132
@mxnet-label-bot update [Question]
Whats the expectation in MXnet for memory usage on arm vs x86?

[2019-12-30 20:40] reminisce commented on #17154
With the latest master commit and numpy 1.18, I have no problem to run `test_numpy_interoperability.py` on Ubuntu.

[2019-12-30 21:26] leezu commented on #17154
@reminisce there may be further numpy 1.18 incompatibilities. If all are resolved, https://github.com/apache/incubator-mxnet/commit/318d9c7f8f5434bdff37ddae6bfd7b03b7e1dede#diff-69f4d73bfad59a614d2c730c4f327db6R29 should be reverted to verify in the CI environment

[2019-12-30 21:48] apeforest commented on #17167
Can we close this issue now?

[2019-12-30 21:56] apeforest commented on #17159
@jonatan1626 Yes. That's an apple-to-apple comparison as we discussed.

Can you also verify if there is degradation between `pip install mxnet==1.5.0b20181209` which is the earliest pre-release of 1.5 on pypi and pip 1.4? If there is no degradation, we can just do binary search on the daily build of 1.5 on pypi after that date. If there is still degradation, we may need to build from source and co

[2019-12-30 21:59] apeforest commented on #17151
@larroy please assign yourself.

[2019-12-30 22:00] apeforest commented on #17136
@access2rohit please assign to yourself.

[2019-12-30 22:07] leezu commented on #17156
@samskalicky why not? We have a `USE_CXX14_IF_AVAILABLE` option:

https://github.com/apache/incubator-mxnet/blob/44784c2554f0330b94d8bde411394da89405c397/CMakeLists.txt#L58

[2019-12-31 02:28] TaoLv commented on #16167
C-API is the foundational API in MXNet that all language bindings depend on.

@szha I'm looking at the item 3.1.2. Could you please explain the scope of C-API? Do you mean those APIs sit in the src/c_api/ folder?

[2019-12-31 03:40] szha commented on #16167
@TaoLv one promising direction that the community is converging to is the interface based on packed function (motivation as described by @tqchen in https://github.com/apache/incubator-mxnet/issues/17097#issuecomment-567604444). What this means to the project is that the existing c API will be updated to follow the packed function interface.

[2019-12-31 04:16] TsingWei commented on #16809
It was fixed in #17031 .

[2019-12-31 04:16] #16809 closed

[2019-12-31 04:54] sxjscience commented on #17179
@xidulu In my use case, I'm using the symbolic interface so I cannot call `mx.np.array`.

[2019-12-31 05:00] reminisce commented on #17179
@hgt312

[2019-12-31 06:02] ankitpatidar1 commented on #3205
i am facing same problem
run command : `pip install  django-simple-captcha`
then add url in rout urls
`urlpatterns = [
    path('captcha/', `include('captcha.urls')),`
]`
then apply migrations
`python manage.py migrate`

[2019-12-31 06:34] hgt312 commented on #17179
I will add the scalar version soon.

[2019-12-31 07:18] 1980695671 opened #17197 "AttributeError: 'module' object has no attribute 'mxnet_wrapper'"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2019-12-31 07:49] beingjoey commented on #17132
the same or even lower would be better.

[2019-12-31 12:18] szha commented on #17167
@apeforest no the instruction set problem should still be there.

[2019-12-31 14:05] wuxun-zhang commented on #17159
Hi @jonatan1626 , may I know your exact command to build MXNet with MKLDNN from source (mine is `make USE_OPENCV=1 USE_MKLDNN=1 USE_BLAS=mkl USE_INTEL_PATH=/opt/intel -j` ) ? which version of gcc/g++ you use to build mxnet? I found that there maybe much performance difference when using different gcc verisons on c5.18.

The below results are tested on **c5.18xlarge - Deep Learning AMI (Ubuntu 16.0

[2019-12-31 15:53] jonatan1626 commented on #17159
Hey @wuxun-zhang so I am using a docker build that seems to be running gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.4) you can find it here: [mxnet-build](https://github.com/jonatan1626/mxnet_performance/tree/master/build_mxnet)

I am doing a './build.sh mkl' to build the mxnet version, but now this makes sense as to why we are getting different numbers!

The cause of the regression doesn't seem

[2019-12-31 18:13] apeforest commented on #17159
@jonatan1626 When building from source please use exactly the same cmake command as @wuxun-zhang is using. The ./build.sh is used to generate pip wheel.

[2019-12-31 20:50] access2rohit commented on #17136
@apeforest I don't see an option to do so

[2019-12-31 22:08] jonatan1626 commented on #17159
@apeforest Because the benchmarking scripts uses the performance of the pip wheels shouldn't we only be building pip wheels and then running on that?
Also, should I be doing:
pip install mxnet==1.5.0b20181209 or pip install mxnet-mkl==1.5.0b20181216?

Basically, should we not look at mkl for the performance regression anymore or continue to use it?

@wuxun-zhang Sure I can double check on my side.

[2019-12-31 22:38] apeforest commented on #17159
@jonatan1626
When we say test pip wheel, we mean using the pip wheel published at PyPi. When build from source, we always use cmake with specified flags. I think using ./build.sh to test performance is different from "build from source".

[2019-12-31 23:01] larroy commented on #17151
@apeforest how should I got about doing that?

[2020-01-02 01:35] wuxun-zhang commented on #17159
I just tested with mxnet [v1.5.1](https://github.com/apache/incubator-mxnet/tree/1.5.1) branch. FYI, this [link](https://gist.github.com/application2000/73fd6f4bf1be6600a2cf9f56315a2d91#file-how-to-install-latest-gcc-on-ubuntu-lts-txt) provides the step-by-step guidance for switching to different gcc versions on Ubuntu.

[2020-01-02 02:30] szha commented on #17151
@apeforest non-committers need to comment on an issue before they can be assigned.

[2020-01-02 03:36] reminisce commented on #17154
@leezu I submitted the reverting PR here: https://github.com/apache/incubator-mxnet/pull/17200. It has passed CI. Could you help to review and merge if possible? Thanks.

[2020-01-02 04:33] tranthanhtung04101995 commented on #14953
yiyiy

[2020-01-02 04:34] #17167 closed

[2020-01-02 05:30] TaoLv commented on #16578
Should be fixed via #17075. Feel free to re-open if the problem is still there.  @zixuanweeei

[2020-01-02 05:30] #16578 closed

[2020-01-02 05:32] TaoLv commented on #16830
Closed via https://github.com/apache/incubator-mxnet/pull/16866

[2020-01-02 05:32] #16830 closed

[2020-01-02 05:34] TaoLv commented on #17086
@liuzh91 Did you have any chance to try the patch? Happy new year~

[2020-01-02 07:08] liuzh91 commented on #17086
I haven't. I'll take a try this week.

[2020-01-02 08:02] IvyGongoogle opened #17201 "mx.model.load_checkpoint can not get the arg_params and aux_params with correct order"
Hello, I use `sym, arg_params, aux_params = mx.model.load_checkpoint(modele_prefix, epoch)` to load a pre-trained model and then I print the value of `arg_params` and `aux_params`. But I find that the parameters‘s oder in `arg_params` and `aux_params` is inconsistent with the model struct I defined.   So how to get the `arg_params` and  `aux_params` whose order is consistent with model struct I de

[2020-01-02 08:11] liuzh91 commented on #17086
@zixuanweeei @TaoLv  I can confirm the new patch work correctly on the language model script. Thanks for the patch.

[2020-01-02 08:13] zixuanweeei commented on #17086
Thanks for your kindness. Very happy to receive the good news. Happy new year~

[2020-01-02 08:28] TaoLv commented on #17086
@liuzh91 Nice to hear that and thank you for trying it out. Would you mind approving #17183 if it looks good to you? Also please propose if you feel the issue is critical and hope the fix to be included into 1.6 release. Thanks!

[2020-01-02 08:35] deimsdeutsch commented on #17195
Faced similar issue 2 months and decided against it. Glad it is being taken up.

[2020-01-02 08:59] leezu commented on #17154
Thank you

[2020-01-02 08:59] #17154 closed

[2020-01-02 09:16] leezu commented on #17086
@TaoLv I checkd and this issue affects 1.6. As it was recently decided to distribute the MKL builds by default this fix must be backported.
CC @ptrendx

[2020-01-02 16:59] rohun-tripathi commented on #14357
Has this bug been fixed in the latest versions?

[2020-01-02 18:23] ptrendx commented on #17164
This error actually seems to come from the fact that the `SymbolBlock` does not know really what symbols are inside it, and so it casts all of the parameters in the `net.cast('float16')` call. However, BatchNorm layer is slightly special in that it actually requires its parameters `gamma` and `beta` to be `float32` even if input is `float16` in order to not lose precision. So the BatchNorm layer e

[2020-01-02 22:53] ishaybas opened #17205 "MXNetCAPI.so: undefined symbol: MXListAllOpNames"
## Description
Trying to build MXNet for the first time (for me), and then building the PERL binding.
All went fine with no errors, but when I try to load MXNet from PERL an error is received.
Maybe I am just missing something small in my configuration..

### Error Message
perl: symbol lookup error: /home/ishay/perl5/lib/perl5/x86_64-linux-gnu-thread-multi/auto/AI/MXNetCAPI/MXNetCAPI.so: undefined

[2020-01-03 00:13] onomatet opened #17207 "LR schedulers do not work in R"
Neither custom nor pre-built learning rate schedulers have any effect on the training process in R.
The training process is always the same regardless of the scheduling scheme used.

Some debugging shows that the lr_scheduler function is called and the LR is correctly recalculated, however the updated LR is not applied.

I have a strong suspicion that the issue is a side-effect of commit `be478700

[2020-01-03 02:17] Rainweic commented on #17164
Thank you! Let me try

[2020-01-03 11:34] giaxxi commented on #15181
Same issue here:
`AttributeError: No conversion function registered for op type _contrib_MultiBoxPrior yet.`

Incidentally I followed the same process as @ban1080.

[2020-01-03 11:44] commanderka commented on #14479
Same problem with mxnet-cu100 here. Cuda 10.0 is installed and I get the same error message. Please fix!

[2020-01-03 14:51] TaoLv commented on #16770
Also happens here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17138/6/pipeline

[code]

[2020-01-03 19:18] eric-haibin-lin opened #17210 "Move launch.py to official API"
Currently to do distributed training, `tools/launch.py` is used to launch the cluster. However, the file cannot be easily discovered in the installed pip packaged (one needs to navigate to the folder where mxnet pip package locates). Otherwise users manually clones mxnet to get the script.
A better way is to make it a module or API of MXNet, so that users can launch distributed training via someth

[2020-01-03 22:36] leezu commented on #17210
There's an option in setup.py to specify python files as "to be installed as script" (made available in users path). It should be fine to use it after renaming `launch.py` to something mxnet specific, eg `mxnet_launch_distributed.py`. What do you think?

[2020-01-04 07:52] djaym7 commented on #11872
![image](https://user-images.githubusercontent.com/12378820/71762429-e3765d00-2e83-11ea-8b2a-4d3a7cc5d3c2.png)

num_workers 30, consistently getting connection timeout.. will try reducing the workers.. mxnet-cu101mkl  : 1.6.0b20191207, p3.16xlarge sagemaker notebook instance

[2020-01-04 14:10] onomatet commented on #17207
## Minimal example

I hope it will be of some help. Modified after the tutorial.

### Code
[code]

### Output

[code]

Train-rmse is the same in every iteration regardless of the scheduler used.

[2020-01-05 22:57] MyraBaba opened #17216 "how to compile mxnet with cpp and gpu support in the docker ?"
Hi,

I asked in the forum but non answer received

I couldn't find a docker image that has gpu and cpp support.

I want to compile myself in the docker.

is it possible ?

how can I do that ant guidance?

[2020-01-06 01:07] QueensGambit commented on #17216
Hi @MyraBaba ,
there is an official MXNet NVIDIA docker image available which also has TensorRT support:
* https://docs.nvidia.com/deeplearning/frameworks/mxnet-release-notes/rel_19-12.html#rel_19-12

I also created an examplary Dockerfile on how to use it:
* https://github.com/QueensGambit/CrazyAra/blob/master/engine/src/rl/Dockerfile

[2020-01-06 02:35] OliverColeman opened #17218 "mxnet.ndarray.from_numpy() throws error for float16 dtype"
## Description
When trying to convert a numpy array with dtype `float16` I get the error below. I looked through the code and it looks like it should be supported, but I've tried the latest production release (mxnet-cu101==1.5.1.post0) and the latest pre-release (mxnet-cu101==1.6.0b20191029) with no success.

### Error Message
[code]
## To Reproduce
[code]

## Environment
[code]

[2020-01-06 04:33] TaoLv opened #17219 "Flaky test: test_numpy_op.test_npi_boolean_assign"
## Description
test_numpy_op.test_npi_boolean_assign

## Occurrences
[code]

## What have you tried to solve it?
None

[2020-01-06 04:34] TaoLv commented on #17219
@haojin2 @reminisce FYI.

[2020-01-06 04:46] eric-haibin-lin opened #17220 "Cannot access child blocks' parameter in parent block's hybrid_forward"
I have a very simple model:
[code]

[2020-01-06 04:52] reminisce commented on #17219
@Alicia1529

[2020-01-06 05:25] cloudrivers commented on #15181
meet the same issue on aws sagemaker. it seams that the version of onnx in sagemaker's mxnet is 1.2.1. how to update it to 1.5?

[2020-01-06 05:31] hgt312 commented on #17179
If both `x` and `y` are scalars, dtype of the output should be what? In official numpy, it may be `int64` or `float64` according to the inputs' type.

[2020-01-06 05:35] cloudrivers commented on #15181
meet the same issue on aws sagemaker. it seams that the version of onnx in sagemaker's mxnet is 1.2.1. however, I tried to upgrade to 1.6.0. after that, the issue still occur.
pip install onnx==1.6.0
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-4-e340aa08d30e> in <module>()

[2020-01-06 05:39] wkcn commented on #17218
Thank you for the report: ) I will check it.

[2020-01-06 06:32] Kongsea commented on #3432
In conda environment, run:
[code]

[2020-01-06 06:44] eric-haibin-lin opened #17221 "MXNet nightly breaks horovod integration"
https://buildkite.com/horovod/horovod/builds/1784#8b441e99-241b-4a94-9e77-fcf3dfce8c9d
[code]

@apeforest

[2020-01-06 08:31] wkcn commented on #17218
The bug has been fixed in the PR https://github.com/apache/incubator-mxnet/pull/16234 on Nov. 22, 2019.
However, the version of the nightly-build mxnet-cu101mkl is 20191006, and the version of the nightly-build mxnet-cu101 is 20191122.

MXNet installed by `pip install mxnet-cu101 --pre` works.

Hi @yajiedesign , could you please help update these nightly-build packages? Thanks a lot : )

[2020-01-06 10:03] RuRo commented on #17058
So... neither the `cu102`, nor the `cu102mkl` versions are currently available on PyPI. Are we waiting for the next release? Is there an ETA or something?

[2020-01-06 10:31] leezu commented on #17220
I suggest we deprecate `hybrid_forward`, in which parameters are passed as function arguments.
Instead users should access parameters via the `self.weight.data(ctx)` syntax used in `Block`.

Then you may access child-block parameters as `self.childblock.weight.data(ctx)`.

[2020-01-06 10:41] leezu commented on #17058
@RuRo only stable and RC releases are published on Pypi. You can download pre-releases from pip install https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/dist/2019-12-29/dist/mxnet_cu101-1.6.0b20191229-py2.py3-none-manylinux1_x86_64.whl

Unfortunately the nightly build pipeline publishing to https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/dist/2019-12-29/dist/mxnet_cu102-1.6.0b

[2020-01-06 12:05] xidulu opened #17223 "[Numpy] np.broadcast_to does not support scalar as input"
## Description
As title

[code]

[2020-01-06 12:12] gengyanlei opened #17224 "可以将gluon中数据分发 合成么，像pytorch那样，并且.step()不需要传入batch，以及损失函数可以加reduce么？使用起来不太方便，不过比symbol好用多了，symbol不好记录loss"
## Description
(A clear and concise description of what the feature is.)
- If the proposal is about a new model, provide description of what the model is.
- If the proposal is about an API, provide mock examples if possible.

## References
- list reference and related literature
- list known implementations

[2020-01-06 14:47] wkcn commented on #17224
请问对应是指pytorch里的哪些函数呢？

[2020-01-06 17:38] schliffen commented on #12861
I encountered the same problem, Has anyone solved it?

[2020-01-06 18:25] leezu opened #17226 "Compile from Source instructions re-use CI install scripts"
## Description
The "compile from source" instructions re-use CI install scripts. But the CI scripts contain hacky modifications that shouldn't be applied to user systems silently. For example

https://github.com/apache/incubator-mxnet/blob/83a23b0988b55c1483f5ecec941207357492bcff/ci/docker/install/ubuntu_core.sh#L55-L66

We don't have any logic to undo such system changes when the user uninstall m

[2020-01-06 19:24] leezu commented on #17103
Would you mind taking a look at https://github.com/apache/incubator-mxnet/pull/17228 ? It should fix your issue, but I'm not an R expert.

[2020-01-06 20:04] #17117 closed

[2020-01-06 21:33] #17164 closed

[2020-01-06 23:46] OliverColeman commented on #17218
That got it, thanks :)

[2020-01-07 00:07] zhhoper opened #17231 "cannot quantization example"
## Description
(A clear and concise description of what the bug is.)
I try to run quantization example:
python imagenet_gen_qsym_mkldnn.py and met the segmentation fault. The details of output is as follows:
### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)
INFO:logger:Na

[2020-01-07 00:11] eric-haibin-lin commented on #17220
Shall we also consider the case where input is a symbol so the `ctx` is not visible to `forward`?

[2020-01-07 00:12] eric-haibin-lin commented on #17231
@PatricZhao @TaoLv @ZhennanQin

[2020-01-07 00:15] ZhennanQin commented on #17231
@eric-haibin-lin Thanks for reporting this. May I know if calibration=naive will crash or not?

[2020-01-07 00:19] zhhoper commented on #17231
@ZhennanQin I tried to set calib-mode to 'naive', met the same error. Error message as follows

INFO:logger:Namespace(batch_size=32, calib_dataset='data/val_256_q90.rec', calib_mode='naive', data_nthreads=60, enable_calib_quantize=True, epoch=0, exclude_first_conv=False, image_shape='3,224,224', label_name='softmax_label', model='resnet50_v1', no_pretrained=False, num_calib_batches=10, quantized_d

[2020-01-07 00:21] ZhennanQin commented on #17231
@zhhoper Thanks for the information. Will investigate this soon.

[2020-01-07 01:42] gengyanlei commented on #17224
mxnet gluon数据读取时，需要对数据进行分发到每个GPU上，然后再根据每个gpu上面预测的结果，计算loss，再将每个loss反向传播(**这个过程需要for循环操作，比较繁琐**)，而且.step(batch_size)，这个batch_size有可能不是一样的，那么需要每次step时，获取动态获取batch_size大小。
数据分发对应nn.DataParallel
可以将预测结果直接合并成1个么，不管几个gpu，我阅读mxnet API时，没注意到有这个参数。

[2020-01-07 01:49] wuxun-zhang commented on #17231
@zhhoper From my side, I cannot reproduce this issue with latest master in my local machine. May I know which mxnet version (commit id) do you use? Recently we have provided a PR to fix `_copyto` issue when using `calib_mode=entropy`. Could you try this commit https://github.com/apache/incubator-mxnet/commit/e65fc4bee5b8602b38ba2e419a4ea2e5ce5b7e9a or later on master again? Please let us know if y

[2020-01-07 01:51] gengyanlei commented on #17224
![1111](https://user-images.githubusercontent.com/22360785/71861912-f95d7980-3132-11ea-9e92-53b65b442467.png)
可以将这个预测结果合并么，不要每个x预测一次，直接对data预测，那样我就好操作了，每次对结果操作时，遍历特别麻烦（我也可以提前对结果concat，但这个过程繁琐）

[2020-01-07 01:56] pengzhao-intel commented on #17224
@gengyanlei  可以把标题改短一点嘛：）

[2020-01-07 02:04] wkcn commented on #17224
@gengyanlei
1. 数据分发
目前好像还没有类似`nn.DataParallel`的API，需要自己封装一下。
2. `.step(batch_size)`
Gluon里的`.step(1)`和PyTorch的`.set()`是等价的，对Loss沿batch轴求均值就可以了。

[2020-01-07 03:02] tonyng1707 opened #17232 "How to build conda package on mxnet-cu101 (version 1.5.1)"
I use 'conda skeleton pypi' to build Conda package on mxnet-cu101; however exception 'could not find unpacked source dir' occurs. It seems like PyPI only has the wheel file on the package, not the source.

How can I get the source (tar file) on mxnet-cu101 (v1.5.1). Thank you.

[2020-01-07 03:33] pribadihcr commented on #15646
+1

[2020-01-07 06:23] gengyanlei commented on #17224
@wkcn 主要数据分发之后，预测结果需要像上面代码一样，对结果还需要遍历计算，不利于后续的相关操作，例如精度计算等。

![微信截图_20200107120038](https://user-images.githubusercontent.com/22360785/71871716-1014c800-3155-11ea-95b2-436fefa8b839.png)

我的意思其实是把输入数据concat，直接输入网络，得到1个预测结果，我不关心哪个结果属于哪个gpu(没有意义)，然后计算loss时，只需要操作1次；

像.step(batch_size=1)这样的操作可以完全写死的，这种灵活操作完全没有必要；
数据分发这个我不清楚，可能部署时需要，但是在学术上面没考虑过这个，应该既可以分发，又可以写个封装API；对于很多人来说，手动数据分发的概率很小，我同学基本上都首选pytorch的

[2020-01-07 06:24] yajiedesign commented on #17218
@wkcn hi.now the old windows build system has been borken.We will move the night release to S3, which is currently in progress and will take some time.

[2020-01-07 07:19] #17086 closed

[2020-01-07 08:23] samskalicky opened #17236 "[RFC] Custom subgraph property part2"
## Description
Request for comments on the next PR for enhancing custom subgraph property support

Heres some suggestions from the initial PR (Part 1):

Heres some suggestions from the initial PR (Part 1):
- docs, readme, tutorial
- dynamic graph passes

## References
- initial PR (Part 1): #17034

[2020-01-07 08:23] samskalicky commented on #17236
@mxnet-label-bot add RFC

[2020-01-07 08:51] lucasxlu commented on #17043
@tranvanhoa533 Facing the same problem, did you solve it?

[2020-01-07 14:24] leezu commented on #17043
You can build MXNet from source with debug info enabled. Then the backtrace above will be more meaningful

[2020-01-07 14:52] wkcn commented on #17218
@yajiedesign Thank you! It seems that the build system for Linux CUDA10.1 has been broken too.
The version of nightly-built MXNet CUDA10.1 Linux is built on 20191122.

[2020-01-07 15:13] leezu commented on #17232
https://github.com/apache/incubator-mxnet/releases/download/1.5.1/apache-mxnet-src-1.5.1-incubating.tar.gz

[2020-01-07 15:13] #17232 closed

[2020-01-07 15:18] leezu commented on #17220
What's the use-case to input symbol into `forward`? It wouldn't work in most cases because `forward` doesn't have `F`.

[2020-01-07 16:03] chandana1332 opened #17237 "Data imbalance handling in MXNet Gluon"
Hello,

My question regarding data imbalance handling in Gluon is as follows:

Suppose I'm training with 4 GPUs. For an update, my training loop samples 4 batches (one for each GPU) and runs fwd/bkwd on them. Using a Gluon Trainer, I can reduce and update gradients on all 4 GPUs.

Now I'm towards the end of an epoch and I only have 2 batches left to process. I sample those 2 batches, send them off

[2020-01-07 16:03] chandana1332 commented on #17237
@eric-haibin-lin @apeforest

[2020-01-07 16:49] mjsML opened #17238 "Error building on ubuntu 18.04 on x64 with intel XEP, CUDA10.0, NCCL and TensorRT"
## Description
Trying to build mxnet with the following config :
```cmake -DUSE_CUDA=1 -DUSE_CUDA_PATH=/usr/local/cuda -DUSE_CUDNN=1 -DUSE_MKLDNN=1 -DCMAKE_BUILD_TYPE=Release -DUSE_TENSORRT=1 -DUSE_NCCL=1 -DUSE_NCCL_PATH=/usr/local -DMKL_INCLUDE_DIR=/home/mj/intel/mkl/include -DMKL_RT_LIBRARY=/home/mj/intel/mkl/lib -GNinja .. ```

cmake generates the make files successfully. Then the build fails a

[2020-01-07 17:10] leezu commented on #17238
Did you update all submodules?

[2020-01-07 17:16] mjsML commented on #17238
I don't understand what do you mean by submodules ... I did clone master recursively and built tensorrt-onnx and onnx before I tried to build the root package.

[2020-01-07 17:18] leezu commented on #17238
Ok, that means you have up-to-date submodules. Otherwise `git submodule update --init --recursive` will update.

How did you build and install onnx?

[2020-01-07 17:26] mjsML commented on #17238
I used the steps mentioned below in the second script (the CI for docker):
[How to build mxnet with tensorrt support?](https://discuss.mxnet.io/t/how-to-build-mxnet-with-tensorrt-support/3865/2)

I deleted everything now and started from scratch with the submodule update and now building...

[2020-01-07 17:30] leezu commented on #17238
That script installs packages for Ubuntu 16.04, for example

`wget -qO tensorrt.deb https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1604/x86_64/nvidia-machine-learning-repo-ubuntu1604_1.0.0-1_amd64.deb`

That may cause your issues

[2020-01-07 17:34] mjsML commented on #17238
Sorry I wasn't clear. I didn't use the entire script ... I used the script steps below, because I got another error while building it and that fixed the error:
[code]

[2020-01-07 17:47] mjsML commented on #17238
@leezu even with the submodule update the build still failed with the pthread and fopen64 errors. I'll try to build it with make instead of ninja and see what happens.

[2020-01-07 18:30] apeforest commented on #17237
One way is to let the Gluon Dataloader handle the last batch using [discard/ rollover] so that every GPU process the same number of samples.

https://mxnet.apache.org/api/python/docs/api/gluon/data/index.html#mxnet.gluon.data.DataLoader

[2020-01-07 18:48] chandana1332 commented on #17237
So that only works when the number of samples being samples is less than batch_size but I'm talking about a case when number of batches being sampled is less than number of GPUs.
Hence, the scenario I'm talking about is outside of the data loader.

Also, we don't have an issue handling data imbalance but I'm trying to understand the internals of how MXNet does it.

Today, we sample batches and if

[2020-01-07 19:18] apeforest opened #17239 "Cmake with NCCL flag does not work."
## Description
If I build mxnet with NCCL using cmake, it failed with "Could not find NCCL libraries" even though my NCCL is installed at /usr/local/cuda/include
## Reproduce
[code]
## Environment

We recommend using our script for collecting the diagnositc information. Run the following command and paste the outputs below:
[code]