[2019-08-01 18:53] iamthebot opened #15721 "Regression w/ Keras and MxNet 1.5.0: Error in operator batchnorm... Check failed: i >= 0 && i < ndim(): index = 1 must be in range [0, -1)"
## Description
After upgrading to Mxnet 1.5.0, keras-mxnet (2.2.4.1) now causes a large number of models to fail with the error:

mxnet.base.MXNetError: Error in operator batchnorm8: [10:17:02] include/mxnet/./tuple.h:211: Check failed: i >= 0 && i < ndim(): index = 1 must be in range [0, -1)

## Environment info (Required)
Reproduced on Ubuntu 18.04/Amazon Linux 2 with keras-mxnet 2.2.4.1 and the

[2019-08-01 19:06] larroy commented on #10856
I have a private branch which fixes this issue, but need to verify side effects further.

[2019-08-01 19:06] larroy commented on #10856
https://github.com/larroy/mxnet/tree/openmp_improv

[2019-08-01 19:25] anirudh2290 commented on #10856
I revisited this yesterday when I was working on one issue. I see that this assertion hits only when DNDEBUG and -g flags are passed when building 3rdparty/openmp. I tweaked my CMakeLists to remove those DNDEBUG and -g flags to 3rdparty/openmp and those assertions go away. I don't think I will ever get to debugging openmp code so I am good.

[2019-08-01 20:17] ptrendx commented on #15716
Hi @fierceX, do you have any small example that shows this problem? I will look into it.

[2019-08-01 22:02] larroy commented on #10856
well, it's not executing code that should be executed, if you see the linked issue.

[2019-08-01 22:03] larroy commented on #10856
related: https://github.com/apache/incubator-mxnet/issues/14979

[2019-08-01 22:04] larroy commented on #14979
RelWithDebSymbols:

[code]

[2019-08-01 22:06] anirudh2290 commented on #10856
you can fix the customer impact by making the workaround i suggested in CMakeLists.txt. Removing pthread_at_fork will cause customer impact for multiprocessing users.

[2019-08-01 22:31] mycpuorg opened #15725 "AMP issue in _gen_atomic_symbol"
Hi @fierceX,

I'm referencing you, based on another amp issue.
I'm following https://github.com/apache/incubator-mxnet/blob/master/docs/tutorials/amp/amp_tutorial.md to optimize the training times in my RNN model which is pretty similar to this:
https://github.com/apache/incubator-mxnet/blob/master/example/recommenders/demo1-MF.ipynb

Can you please help out?

[code]

[code]

[2019-08-01 22:31] larroy commented on #10856
I disagree with your statement. Yes, the customer impact is that if fixes several problems. Please specify what problems do you think it introduces to remove pthread_at_fork.

[2019-08-01 22:38] cjolivier01 commented on #10856
it is my understanding that this is caused by the static init which calls an OMP API at fork time, possibly from the kernel tuning stuff. if so, just make it not re-run the kernel tuning stuff at fork time.

i have seen no compelling evidence that the atfork call in that linked issue is related to this failure. i fact, i stated this before in the email discussion and no challenge to that was give

[2019-08-01 22:41] eric-haibin-lin commented on #15725
@ptrendx

[2019-08-01 22:42] larroy commented on #10856
@cjolivier01 I think you haven't carefully taken all the data provided into consideration, including my latest responses in the @dev mailing list regarding this issue, which are unanswered. Also I have linked the issue above which shows customer code not being executed. I will send a PR with a fix, feel free to comment on that, but please refrain from making uninformed comments without making any

[2019-08-01 23:13] ptrendx commented on #15725
Hi @mycpuorg, there should be a Python traceback in addition to the C++ traceback you provided, which should give more info on which operator failed - could you post that as well?

[2019-08-01 23:27] ptrendx commented on #15716
There seem to be 2 problems here. On 1 hand, the ConcatType function seems to be too strict in what it thinks it needs to be correct (and so that error should not be there in the first place as type could be inferred during later stage of InferType pass) - I will make a PR fixing that tomorrow. On the other hand, I don't quite see how you could end up with this situation by just adding AMP so agai

[2019-08-01 23:28] anirudh2290 commented on #10856
Multiprocessing will stop working after you remove pthread_at_fork at handler. Many of mxnet users like @YutingZhang depend on that. MXNet Model Server uses it @vdantu .

I think you should either do the workaround, or if you want to really debug openmp code, explore the option that @cjolivier01 suggests.

[2019-08-01 23:30] vrakesh commented on #15716
@mxnet-label-bot add [Pending Requester Info]

[2019-08-01 23:31] larroy commented on #10856
Thanks. Do you know why it stops working? Could you elaborate?

[2019-08-01 23:32] vrakesh commented on #15718
@lly8752 Requesting to provide, reproducible steps and details on the issue,

@mxnet-label-bot  add [Pending Requester Info]

[2019-08-01 23:33] vrakesh commented on #15719
@mxnet-label-bot add [Feature Request]

[2019-08-01 23:34] vrakesh commented on #15721
@iamthebot Requesting a reproducible example on the same

@mxnet-label-bot add [Bug, Pending Requester Info]

[2019-08-01 23:35] vrakesh commented on #15725
@mxnet-label-bot add [Pending Requester Info]

[2019-08-01 23:41] anirudh2290 commented on #10856
To rephrase your question , you are asking why we need pthread_atfork ?

This is to suspend all the active threads prior to forking. Otherwise we can run into issues as documented here: http://pubs.opengroup.org/onlinepubs/009695399/functions/pthread_atfork.html

[2019-08-01 23:58] larroy commented on #10856
Ok I got what you meant now. I don't think the kernel tunning is a problem there. I see that there's problems with multiprocessing when removing pthread_at_fork. Please suggest another approach for the issue linked above. Why is kernel tuning related to the crash linked above?  Yes the warning comes from kernel tuning, but the crash??

[2019-08-02 00:02] larroy commented on #10856
Thanks @anirudh2290 for the record, I think you are right about problems with Multiprocessing. I think we need to find a way to avoid the other problematic side-effects that are causing problems and crashes. Suggestions welcome.

[2019-08-02 00:19] IvyBazan opened #15729 "Missing nin content from dmlc.ml site"
The following assets were hosted on the dmlc.ml site and need to be recovered.

http://data.dmlc.ml/models/imagenet/nin/nin-symbol.json
http://data.dmlc.ml/models/imagenet/nin/nin-0000.params

[2019-08-02 00:30] mycpuorg commented on #15684
I figured the problem out. Posting this for posterity.

Do not use pytest-benchmark in cases where your training function is not re-entrant. The issue is that pytest-benchmark, by default, performs many rounds and iterations of testing to generate the benchmark results. This is done by spawning many concurrent threads which does not go well with typical training functions.

So, my solution was to

[2019-08-02 00:30] #15684 closed

[2019-08-02 00:34] IvyBazan opened #15730 "Missing nnvm content from DMLC.ML site"
The blog on fusion and runtime compilation for nnvm and tinyflow was hsoted on the dml.ml site and needs to be recovered.

http://dmlc.ml/2016/11/21/fusion-and-runtime-compilation-for-nnvm-and-tinyflow.html

[2019-08-02 00:40] larroy commented on #14979
[out.txt](https://github.com/apache/incubator-mxnet/files/3459151/out.txt)

[2019-08-02 01:14] mycpuorg commented on #15725
Here's the generic part of the Python stack trace that I can share. Thanks.

[code]

[2019-08-02 01:48] KellenSunderland commented on #14618
Having a look.  After a first quick glance it seems we're not yet hitting TensorRT code.  Could be a TRT specific environment problem.

[2019-08-02 01:49] KellenSunderland commented on #14618
Looks like this is an old failure.  Closing as it was addressed in April.

[2019-08-02 01:49] #14618 closed

[2019-08-02 02:17] fierceX commented on #15716
Hi @ptrendx ,The following code should be able to reproduce this error.
[code]

[2019-08-02 03:26] ChaiBapchya commented on #4048
@szha @mli since #4550 has merged is this good to close?
OR
@nswamy is this pending?

[2019-08-02 03:55] cjolivier01 commented on #10856
I suggest locking this issue due to Pedro's hostile tone.

[2019-08-02 03:59] cjolivier01 commented on #10856
Pedro, please relay any further information through a committer.

[2019-08-02 04:42] kshitij12345 commented on #15656
@zachgk Should this be kept open till the documentation is fixed?

[2019-08-02 04:56] sandeep-krishnamurthy commented on #15721
cc @roywei @karan6181

[2019-08-02 05:10] sandeep-krishnamurthy commented on #11376
Resolving as we don't have more info about reproducing the issue. @sifengyang - Please reopen if issue still persists

[2019-08-02 05:10] #11376 closed

[2019-08-02 05:20] sandeep-krishnamurthy commented on #11108
Closing as the issue is resolved. Please reopen if issue still persists

[2019-08-02 05:20] #11108 closed

[2019-08-02 05:42] pengzhao-intel commented on #15464
The fix is merged and close this issue.
Feel free to reopen if anything doesn't work as the expectation.

[2019-08-02 05:42] #15464 closed

[2019-08-02 05:44] pengzhao-intel commented on #15576
@arcadiaphy did you local solution work for this issue?

[2019-08-02 06:03] reminisce opened #15732 "MXNET_GPU_TEMP_SPACE=4 cannot pass CI"
After changing the default value of `MXNET_GPU_TEMP_SPACE` from 1 to 4, the CI cannot pass due to some memory corruption on GPUs.

Test PR: https://github.com/apache/incubator-mxnet/pull/15704

Error message as below.

[code]

[2019-08-02 06:23] ZHAIXINGZHAIYUE commented on #14434
@eric-haibin-lin 使用 update_on_kvstore 与不使用它，在理论上对分布式训练速度影响大吗？谢谢

[2019-08-02 07:16] ZHAIXINGZHAIYUE commented on #14434
@eric-haibin-lin 另外，为什么在多机训练时不能设置多个类型为dsit的kvstore?

[2019-08-02 07:47] wkcn commented on #14264
Gentle ping.
I think it is a bug, which still exists in MXNet 1.5.0.

[2019-08-02 08:21] ZHAIXINGZHAIYUE opened #15734 "How to get computation cost and communication cost in distributed training?"
How to get computation cost and communication cost in distributed training? Then, i could to improve training effiency.

[2019-08-02 10:02] anotinelg commented on #15710
thanks a lot @kshitij12345  for your reply.

First of all, I apologise for the code I put in the message, which was not even runnable (I have checked then)!
Second, I am little bit confused on the results:
-  I think my error is to have found a difference in behaviour between png and jpeg. I have re run my code, and now I do not find any difference (except that the lossy format of jpeg makes that

[2019-08-02 14:53] ChaiBapchya commented on #2048
@aaronmarkham is this taken care of as well? I'm guessing so by #14781

[2019-08-02 15:40] ChaiBapchya opened #15735 "Arg name inconsistencies"
Operators like `concat`, `Elementwise_sum`, `add_n`, `squeeze`, `stack` etc have one of their parameters as `*args` (variable argument) and specifically the arg_type is `NDArray-or-Symbol[]` (notice it is a list of NDArray or Symbol)

However, the arg_name for such arg_type is different for different functions

`'arg_name': 'args', 'arg_type': 'NDArray-or-Symbol[]'`
1. khatri_rao
'khatri_rao': {'h

[2019-08-02 15:40] ChaiBapchya commented on #15735
@mxnet-label-bot add [Question, Operator]

[2019-08-02 15:43] ptrendx commented on #15725
Thank you! This should be enough - I will look into it.

[2019-08-02 15:45] ptrendx commented on #15716
Thanks! I will look into this.

[2019-08-02 15:59] pengzhao-intel commented on #15701
@lxpwj thanks for using quantization flow. you can refer our blog for more info
https://medium.com/apache-mxnet/model-quantization-for-production-level-neural-network-inference-f54462ebba05

[2019-08-02 16:17] pengzhao-intel commented on #13881
close this issue and please file new one if you encounter other issues.

[2019-08-02 17:26] zachgk commented on #15656
Yeah, we can leave this issue to fix the docs. @kshitij12345, do you want to fix it?

[2019-08-02 17:27] sandeep-krishnamurthy commented on #15721
Thank you @iamthebot - That would be great.

[2019-08-02 17:38] sandeep-krishnamurthy commented on #15674
FYI - @apeforest @yuxihu

[2019-08-02 17:42] kshitij12345 commented on #15710
Hi,

Thanks. Nice Idea.

ImageRecordIter gives you data with channels first as mentioned in the docs.
https://mxnet.incubator.apache.org/versions/master/api/python/io/io.html#mxnet.io.ImageRecordIter

Also you are correct that all channels are flipped i.e. if original is BGR then after loading it is RGB. Maybe due to use of OpenCV. (Not really sure).
So you are indeed correct that the two transfor

[2019-08-02 17:48] kshitij12345 commented on #15656
@ngunauj Would you like to take it?
Otherwise I will.

[2019-08-02 17:55] samskalicky opened #15737 "1.5.0 MKLDNN error "Unknown MKLDNN format""
Resnext-50 model from MXNet model zoo fails in 1.5.0 build for "mxnet-mkl" pip wheel with MKLDNN error "Unknown MKLDNN format for 5 dimensions: 108".

Works with:
- "mxnet" pip wheel
- "mxnet-mkl==1.4.1"

## Error message:
[code]

## Failing code:
[code]

@PatricZhao @ZhennanQin @TaoLv @juliusshufan can you please help debug?

[2019-08-02 18:43] IssacCheng opened #15738 "AMP results in higher loss"
After AMP training for this sample GluonNLP training model:
https://github.com/dmlc/gluon-nlp/compare/master...ChengXianbing:master
we found that the loss is higher than training without enabling AMP
(We also enable AMP training in our own language model, we found that not only the loss is
higher, but also the training throughput decreases from 30445.52 samples/s to 25603.86 samples/s).

Could you

[2019-08-02 20:13] vrakesh commented on #15737
@mxnet-label-bot add [MKLDNN]

[2019-08-02 21:57] aaronmarkham commented on #2048
IDK. I'm not sure when I'll be able to test it again.

[2019-08-02 22:06] anirudh2290 commented on #15716
thanks @ptrendx for looking at this. let me know if I can help here.

[2019-08-02 22:26] ChaiBapchya commented on #11720
Another one for `test_operator.test_laop_6`

#15736

Pipeline - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15736/1/pipeline

[2019-08-02 23:44] larroy commented on #14979
@fierceX forking an initial process is not supported in MXNet. The first Process creation should not be done, as the state of the library after fork is inconsitent. The code in the train function is never executed.

With respect to the crash, after investigating this I believe is caused by calling setenv in pthread_at_fork.  I will refactor this code so unsafe calls to setenv are not done during f

[2019-08-03 01:17] ban1080 commented on #15319
Hi, any updates to this? I need to use CUDA 10.0+ (running Jetson Nano) and there is no ready python package. Compiling from source crashes due to MSHADOW.

[2019-08-03 01:48] youn123 opened #15742 "Minor bugs in ImageNet training tutorial"
Not sure if this is the correct place to point this out, but the ImageNet training tutorial seems to contain a few minor bugs. Fixing them might save people some time:

In [ImageNet data preparation tutorial](https://gluon-cv.mxnet.io/build/examples_datasets/imagenet.html), I added these to `extract_train` of `imagenet.py` at lines 82-83:

[code]

Also, to extract the data that is directly usable

[2019-08-03 01:51] ban1080 commented on #14576
The instructions allow you to build, but they are based on the "make" build system which doesn't have TensorRT support. When I try compile using cmake which does have the TensorRT option I get the same error.

[2019-08-03 02:08] ban1080 commented on #14694
help

[2019-08-03 02:08] larroy commented on #14576
Check how it is done in ci. Arm doesn't have sse instructions. You need a propper make config . This is working in CI folder check functions.sh

[2019-08-03 02:09] larroy commented on #14576
Disable sse.

[2019-08-03 06:07] KellenSunderland commented on #15319
Sorry.  Haven't been able to get TensorRT integration working with Jetsons
thusfar.

On Fri, Aug 2, 2019, 6:17 PM ban1080 <notifications@github.com> wrote:

[2019-08-03 12:04] happynear opened #15743 "How can I know where is 10th plus node?"
Report error:
Error in operator _plus10: [19:53:35] src/operator/nn/./../tensor/../elemwise_op_common.h:135: Check failed: assign(&dattr, vec.at(i)): Incompatible attr in node _plus10 at 1-th input: expected [100,1,3], got [1,100,3]

Where can I find the _plus10? Is there any debug tools?
If I can find the corresponding symbol, I can correct it simply with mx.sym.reshape. But how can I find it?

[2019-08-03 15:27] pengzhao-intel commented on #15737
@samskalicky thanks to reporting the issue.
@TaoLv please help take a look, we need to fix it in 1.5.1 if this is a valid issue.

[2019-08-03 16:15] TaoLv commented on #15737
@samskalicky Could you try the latest nightly build? I think it should be fixed on the master branch already.

[2019-08-03 17:38] samskalicky commented on #15737
Thanks @TaoLv, it does work with `mxnet-mkl --pre`

Can you share the PR that has the fix? Is it a fix that can go into 1.5.1, or is it part of a new feature that will have to wait until 1.6.0?

[2019-08-03 21:42] eloi-loomai opened #15745 "Memory layout in the LSTM operator"
## Description
Suspicious bug in the LSTM RNN operator

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
C++

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): clang

MXNet commit hash:
`24cce9e3c99e499b696b779cbb3b863145f473f1`

Build config:
[code]

## Error Message:
This line looks wrong
https://github.com/apache/incubator-mxnet

[2019-08-03 23:31] wkcn commented on #15743
‘MXNET_ENGINE_TYPE=NaiveEngine python xxx.py’ enable MXNet to execute operators synchronously in single thread. It can be used to debug.

[2019-08-03 23:49] pengzhao-intel commented on #15745
could you take a look for CPU implementation as well?

@zixuanweeei can help you to understand from the formula?

[2019-08-03 23:55] pengzhao-intel commented on #15737
@samskalicky is this from the real customer case? If so, we need to pick up to 1.5.1.

[2019-08-03 23:59] pengzhao-intel commented on #15701
Closing this issue and feel free to reopen if there's still an issue.

[2019-08-03 23:59] #15701 closed

[2019-08-04 00:19] pengzhao-intel commented on #15419
Resolved and closing.

[2019-08-04 00:19] #15419 closed

[2019-08-04 00:25] eloi-loomai commented on #15745
Found this:
https://discuss.pytorch.org/t/set-forget-gate-bias-of-lstm/1745/3

[2019-08-04 01:00] pengzhao-intel commented on #15294
@hubutui does our document can resolve the issue? If not, what's part missed?
https://mxnet.incubator.apache.org/versions/master/tutorials/mkldnn/MKLDNN_README.html

[2019-08-04 01:04] pengzhao-intel commented on #15032
Thanks for the suggestion. It sounds good and will update the error message.

[2019-08-04 01:07] pengzhao-intel commented on #14675
Any update in this case. BTW, the python2 will be deprecated :)
Closing this now and feel free to reopen if the issue still exists.

[2019-08-04 01:07] #14675 closed

[2019-08-04 01:10] pengzhao-intel commented on #11769
The MKLDNN cmake and makefile is updated recently. I think the issue is resolved.
Closing now and feel free to reopen if any issue is found.

[2019-08-04 01:10] #11769 closed

[2019-08-04 03:56] zixuanweeei commented on #15745
@eloi-loomai The memory layout of weights is:

[code]

So it should be `DType* bias_n = weight_iter_n + L * H * ngates * H;`.  And it should be noticed that the [LSTM formula of MXNet](https://mxnet.incubator.apache.org/api/python/gluon/rnn.html#mxnet.gluon.rnn.LSTMCell) differs from [that of MKL-DNN](https://intel.github.io/mkl-dnn/dev_guide_rnn.html). MXNet has two parts of biases in each gate o

[2019-08-04 04:19] pengzhao-intel commented on #14440
closing since we can't reproduce the issue.
@Shumakriss feel free to reopen if you still encounter the segv.

[2019-08-04 04:19] #14440 closed

[2019-08-04 04:21] pengzhao-intel commented on #14381
closing since no reproducible case till now.
Feel free to reopen :)

[2019-08-04 04:21] #14381 closed

[2019-08-04 04:22] pengzhao-intel commented on #12134
The latest CMake refactors the logic of MKL selection.
The problem is resolved so closing.

[2019-08-04 04:22] #12134 closed

[2019-08-04 04:25] pengzhao-intel commented on #13221
@TaoLv please let ruilin taking look for this issue.

[2019-08-04 04:26] pengzhao-intel commented on #13365
This will be implemented in MKL-DNN 1.0 with MXNet 1.6.

[2019-08-04 04:28] pengzhao-intel commented on #13445
closing since no reproducible case and we have fixed several bugs recently.
If the issue still exists, feel free to reopen.

[2019-08-04 04:28] #13445 closed

[2019-08-04 04:30] pengzhao-intel commented on #14052
Resolved so closing.

[2019-08-04 04:30] #14052 closed

[2019-08-04 04:34] pengzhao-intel commented on #14335
The question is answered so closing

[2019-08-04 04:34] #14335 closed

[2019-08-04 04:36] pengzhao-intel commented on #14376
Updated the windows doc in below link which will resolve the issue.
https://mxnet.incubator.apache.org/versions/master/tutorials/mkldnn/MKLDNN_README.html#3

[2019-08-04 04:36] #14376 closed

[2019-08-04 06:08] eric-haibin-lin commented on #15642
is this fixed?

[2019-08-04 11:49] pengzhao-intel commented on #13221
@ruilinzhuintel

[2019-08-04 13:50] #15659 closed

[2019-08-04 14:41] leejiajun commented on #9842
The problem is fixed? @jwfromm
I print "in_shapes" in the function "infer_shape". One of channel of the shape always print out zero, e.g. [[64L, 0L, 3L, 3L]], [[4096L, 0L]].
Why?

[2019-08-04 19:25] ChaiBapchya commented on #14852
Another one PR #15736
 -
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15736/2/pipeline

[2019-08-04 20:13] Derongan opened #15747 "Cannot run cpp examples, Too many resources requested for launch"
## Description
Running resnet cpp sample throws exception
`[19:53:52] ../cpp-package/example/resnet.cpp:281: With Error: [19:53:52] /home/ubuntu/incubator-mxnet/src/operator/nn/batch_norm.cu:527: Check failed: err == cudaSuccess (701 vs. 0) : Name: BatchNormalizationUpdateOutput ErrStr:too many resources requested for launch
`

## Environment info (Required)
(Building MXNet from source)

[code]

#

[2019-08-04 22:14] szha opened #15748 "[RFC] RFC Issue Mirroring to dev@mxnet.apache.org"
# Problem Statement

Before setting up the mirroring, activity on dev@mxnet.apache.org and on GitHub are disconnected. Community members need to manually bring discussion on GitHub to the dev@ list by sending a notification with a link, and vise versa. This problem has been discussed (and [voted on](https://lists.apache.org/thread.html/5375f46e9e358603fdabb46d97c838420d827e79e189f3ffbbdc1b57@%3Cde

[2019-08-04 22:16] #15748 closed

[2019-08-04 22:16] szha opened #15749 "[RFC] RFC Issue Mirroring to dev@mxnet.apache.org"
# Problem Statement

Before setting up the mirroring, activity on dev@mxnet.apache.org and on GitHub are disconnected. Community members need to manually bring discussion on GitHub to the dev@ list by sending a notification with a link, and vise versa. This problem has been discussed (and [voted on](https://lists.apache.org/thread.html/5375f46e9e358603fdabb46d97c838420d827e79e189f3ffbbdc1b57@%3Cde

[2019-08-04 22:24] Derongan commented on #15747
Update: Building with -DCMAKE_BUILD_TYPE=RELEASE made it work. Im still wondering why it doesn't otherwise

[2019-08-05 03:43] becauseofAI opened #15750 "New feature request: split tensor into arbitrary contiguous groups along the specified dimension"
If we want to split a tensor into arbitrary contiguous groups along the specified dimension, such as spliting (N, 80, H, W) to (N, 32, H, W) (N, 32, H, W) (N, 16, H, W), how can we easily achieve this goal with MXNet?

Although the MXNet has provided the API of ```mxnet.ndarray.split(data=None, num_outputs=_Null, axis=_Null, squeeze_axis=_Null, out=None, name=None, **kwargs)```, the ```mxnet.ndarr

[2019-08-05 06:31] fhieber commented on #14574
Resolved by #15400

[2019-08-05 06:31] #14574 closed

[2019-08-05 07:23] arcadiaphy commented on #15576
@pengzhao-intel My local solution works fine, but it's not suitable for an official PR.

[2019-08-05 08:07] vrakesh commented on #15729
@mxnet-label-bot add [Website]

[2019-08-05 08:07] vrakesh commented on #15730
@mxnet-label-bot add [Website]

[2019-08-05 08:52] anotinelg commented on #15710
Thanks for the confirmation. But then I have a concern and this is about the color normalisation we apply with imageRecordIter. It seems that it does not apply the coefficient mean_[CHANNEL] and std_[CHANNEL] to the correct one:

[code]

The output are:
[code]

It seems that the mean_r and std_r are applied on the Red Channel, instead of the blue channel as specified in the call of the imageRecord

[2019-08-05 08:52] vrakesh commented on #15738
@mxnet-label-bot add [Performance]

[2019-08-05 08:53] vrakesh commented on #15747
@mxnet-label-bot add [Build, Example]

[2019-08-05 08:57] vrakesh commented on #15742
@youn123 Thank you for pointing this out

@mxnet-label-bot add [Gluon, Website]

[2019-08-05 08:58] vrakesh commented on #15749
@mxnet-label-bot add [RFC]

[2019-08-05 08:58] vrakesh commented on #15750
@mxnet-label-bot add [Feature Request]

[2019-08-05 10:24] Adesun commented on #15749
thats a good option

[2019-08-05 15:34] eloi-loomai commented on #15745
Ok, thanks!

[2019-08-05 15:34] #15745 closed

[2019-08-05 15:35] eloi-loomai commented on #15745
I also realized that the order of gates in the planes is:
`I, F, G, O`

[2019-08-05 16:44] ptrendx commented on #15738
Hi @ChengXianbing, the loss being high problem comes from the fact that the gradients generated when using AMP are scaled up by the loss scale (which starts at ~65000) and then scaled down by the same scale during optimization step. Normally that would not be a problem, but in the case of this language model you have a clip gradient operation in between, which does not take the loss scale into acc

[2019-08-05 17:17] aaronmarkham commented on #15642
Yes, it's fixed.

[2019-08-05 17:17] #15642 closed

[2019-08-05 17:23] junrushao1994 commented on #15749
+1 for the proposal!

BTW shall we have an option to block messages sent by the label bot to avoid too much traffic?

[2019-08-05 17:35] ptrendx commented on #15716
Ok, so after applying PR #15740 I can successfully run the example when using `amp.init`:
[code]
while the `amp.convert_hybrid_block` still fails with the same error in concat - @anirudh2290, could you take a look at this?

[2019-08-05 18:15] marcoabreu commented on #15749
Yeah anything involving the label bot should be blocked if possible

[2019-08-05 18:20] samskalicky commented on #15737
@pengzhao-intel This is from a public model in the MXNet model zoo. Can you share the PR with the fix and describe the complexity of including that in 1.5.1 patch release?

[2019-08-05 18:32] anirudh2290 commented on #15716
@ptrendx will take a look.

[2019-08-05 20:33] sandeep-krishnamurthy opened #15757 "[Discussion] Unified performance tests and dashboard"
**Problem Statement**

1. Performance tests are not integrated with CI. We do not run any performance tests during PR validation and nightly tests. We will not be able to catch performance leaks early enough leading to performance degradations, regressions caught during or after a release.
2. Without performance tests with CI, we are unable to track performance improvement/degradation and bring in

[2019-08-05 21:18] marcoabreu commented on #15757
We can't use the CI system for performance measurements since it does not provide a consistent environment for various reasons (efficiency, maintainability, etc). Thus, we need a separate system that has the sole purpose of being entirely consistent.

Also, I'm afraid that using tests to also measure performance could be misleading since tests might get extended or altered. I'd propose to have ded

[2019-08-05 22:25] vdantu commented on #15734
@mxnet-label-bot  add [question, training]
@apeforest @yuxihu : Would you be able to help answer this question?

[2019-08-05 22:49] samskalicky commented on #15613
@TaoLv Can #15737 be fixed in 1.5.1?

[2019-08-05 22:55] access2rohit opened #15758 "UNIX_CPU build failing"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/activity

failing consistently

Train MNIST is failing

[2019-08-05 22:55] access2rohit commented on #15758
@mxnet-label-bot add [CI]

[2019-08-05 23:48] roywei commented on #15749
+1 cycled reference between github disucssion and dev list dicussion is confusing.

[2019-08-06 00:16] sxjscience opened #15759 "[Optimizer][Bug] Gradient is mutated in the Adam optimizer"
In the implementation of Adam: grad, mean and var are all mutated (See https://github.com/apache/incubator-mxnet/blob/master/src/operator/optimizer_op-inl.h#L1307-L1315). However, the `FMutateInput` flag is only set to {2, 3}, which should be {1, 2, 3}. (See https://github.com/apache/incubator-mxnet/blob/master/src/operator/optimizer_op.cc#L699)

To reproduce the bug, you may check the value of th

[2019-08-06 01:00] zixuanweeei commented on #15745
Is there any problem with the order? The native LSTM implementation of MXNet shares the same order of gates with that of MKL-DNN, but differs in the number of bias. And the gates order of their GRU implementations are different, which might be concerned.

[2019-08-06 01:22] TaoLv commented on #15737
Should be https://github.com/apache/incubator-mxnet/pull/15692. But since v1.5.x is using a different version of MKL-DNN, could you try to apply this patch to v1.5.x manually and check if the issue is fixed there? If so, I will add it to the list for 1.5.1 patch release. Thank you!

[2019-08-06 01:27] eloi-loomai commented on #15745
Not sure

[2019-08-06 01:36] zixuanweeei commented on #15745
Feel free to directly mention me here if there is any question 😃.

BTW, we are working on integrating the LBR-GRU of MKL-DNN into MXNet. It will be completed in these days.

[2019-08-06 01:36] samskalicky commented on #15737
Sure, will try and report back

[2019-08-06 02:47] hubutui commented on #15294
@pengzhao-intel I'm not sure, I don't use the Makefile to build, I use cmake.

[2019-08-06 04:26] pengzhao-intel commented on #15757
+1

It's a nice proposal which can save lots of maintaining efforts for a different organization with a single and unified dashboard and also very easy to track the performance regression.
Meanwhile, everyone can check and cite the latest performance from the official repo.

Actually, there're lots of tasks before achieving this goal. @juliusshufan can share some of our local experience first and

[2019-08-06 04:39] sandeep-krishnamurthy commented on #15757
Thanks @PatricZhao - This requires both hardware and software setup. Let us start small with whatever is available and incrementally expand it. Looking forward to more learnings from your experience.

[2019-08-06 05:04] samskalicky commented on #15737
@TaoLv I tried building with the v1.5.x branch and confirmed that it failed. I cherry picked your PR in and rebuilt, and the test worked! Lets include this in the 1.5.1 patch release.

[2019-08-06 05:38] TaoLv commented on #15737
Thanks for the prompt response @samskalicky . I will update the wiki page accordingly.

[2019-08-06 05:43] TaoLv commented on #15613
Thanks for reporting. Added it to https://cwiki.apache.org/confluence/display/MXNET/1.5.1+Release+Plan+and+Status

[2019-08-06 07:14] apeforest commented on #15734
@ZHAIXINGZHAIYUE Please run profiler following: https://mxnet.incubator.apache.org/versions/master/tutorials/python/profiler.html

[2019-08-06 07:45] tribbloid commented on #7943
@JustinhoCHN that feature is broken at the moment:

https://github.com/dmlc/gluon-cv/issues/895

[2019-08-06 07:55] anotinelg commented on #15710
What I think is that imageRecordIter is meant to use with .rec files saved with image in BGR format, and outputs data in RGB as gluon network expects. (By the way can you confirm that assumption on gluon?)

Actually im2rec.py scripts given by mxnet reads the image with opencv (cv2.imread) if the "pass-through" parameters is true,  and pack it into the .rec files. So in that case, the .rec files st

[2019-08-06 07:55] Schneey commented on #3205
Maybe you've created a new python file named captach？
Just rename！

[2019-08-06 08:42] mn033 commented on #14003
@markproy I have exactly the same issue with SageMaker Object Detection. Did you solve this problem in any way? (other converter etc.) ?

[2019-08-06 10:07] Wallart commented on #15431
I finally found the issue. At runtime I was linking the outdated MKLDNN (v0.14) provided by Anaconda whereas MXNet is probably using v1.0+

[2019-08-06 10:35] TaoLv commented on #15431
@Wallart, the master branch uses v0.20 of MKL-DNN while the 1.5.0 release uses v0.19. Please use the self-contained MKL-DNN in MXNet. The anaconda MKL-DNN distribution is not actively maintained.

[2019-08-06 10:48] #15431 closed

[2019-08-06 12:38] wkcn commented on #15758
The CI couldn't download the MNIST dataset in `http://data.mxnet.io/mxnet/data/mnist.zip`

[2019-08-06 15:03] giuseppedib opened #15766 "[MXNet] Operator _zeros inferring shapes failed"
## Description
The definition of a mx.ndarray, with one of the dimensions set to zero, produces an error in mxnet v1.5.0, while it was working fine in mxnet v1.4.1 .

## Environment info
[code]

## Steps to reproduce
[code]

## Error Message:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/anaconda3/lib/python3.7/site-packages/mxnet/ndarray/utils.py", line 67, in

[2019-08-06 16:56] matteosal opened #15767 "FullyConnected op with float64 and MKL-DNN fails if gradient are not set in a specific way"
## Description
With MKL-DNN and float64 arrays, getting the output of a FullyConnected op after a forward pass fails unless the gradient update method is not `'null'` *and* explicit gradient arrays are specified (even though no backward pass is involved).

## Environment info (Required)
[code]

Package used: python

## Build info (Required if built from source)

Compiler: gcc

MXNet commit hash: 3

[2019-08-06 17:00] sandeep-krishnamurthy commented on #15757
@ptrendx - Any inputs on the performance related tests / benchmarks / CI you maintain that can be upstreamed here?

[2019-08-06 17:29] access2rohit commented on #15758
@wkcn yes data.mxnet.io is down

[2019-08-06 18:53] kshitij12345 commented on #15710
Sorry, I haven't been able to go through, `im2rec.py`.

But I don't think it should be an issue.
Though OpenCV itself maps the image with BGR format in array, the encoded image is standard.

[code]
So if I am correct, it is written in the standard way and when it is read, even if it is restored as RGB, the mappings of the channel are correct.
We can verify that by slightly updating the previous sc

[2019-08-06 21:12] vdantu commented on #15766
@mxnet-label-bot add [Bug]

[2019-08-06 21:32] anotinelg commented on #15710
I agree with you, but this works **only** if  you pack the image in the .rec file in format BGR (as you did in the example)

[code]

It does NOT work if you pack the img into the .rec files in RGB format, the normalisation will be applied to wrong channel.

So I think this should be documented in the imageRecordIter class

[2019-08-06 23:28] vdantu commented on #15767
@mxnet-label-bot add [Bug]

[2019-08-06 23:47] wkcn commented on #15613
Hi, I’m fixing the bug of two C APIs `MXEnginePushAsyncND` and `MXEnginePushSyncND`
https://github.com/apache/incubator-mxnet/pull/15751

It will be finished this week.

[2019-08-07 01:26] chhokrad opened #15771 "Cross Compile MXNET for RPI 4 with opencv, openmp and DIST_KVSTORE enabled failed"
## Description

Need instructions to cross compile mxnet for raspberry pi using docker with opencv, openmp and DIST_KVSTORE enabled. I tried changing build_armv7() function to reflect my options but got the following error.

## Environment info (Required)

Distributor ID: Ubuntu (Virtual Machine)
Description:    Ubuntu 16.04.6 LTS
Release:        16.04
Codename:       xenial

MXNET REPO:  git clon

[2019-08-07 02:14] TaoLv commented on #15613
Thanks for proposing, @wkcn .
Is this bug firstly introduced in the 1.5.0 release?  Why do you think it should be included into the 1.5.1 patch release?

[2019-08-07 02:15] ChengXianbing commented on #15738
Thanks @ptrendx Will try that

[2019-08-07 02:41] wkcn commented on #15613
@TaoLv Yes, it is a bug in 1.5.0 release https://github.com/apache/incubator-mxnet/blob/v1.5.x/src/c_api/c_api.cc#L1537

It need to be fixed,  otherwise users couldn't use these two C APIs in the release version of MXNet.

[2019-08-07 02:45] TaoLv commented on #15613
I mean does it also exist in v1.4.x releases?

[2019-08-07 02:48] wkcn commented on #15613
@TaoLv It doesn't exist in v1.4.x release. The bug was introdueced firstly in v1.5.x release.

[2019-08-07 05:27] pengzhao-intel commented on #15767
@wuxun-zhang please take a look for this bug.

[2019-08-07 05:36] pengzhao-intel commented on #15703
@eric-haibin-lin @TaoLv

[2019-08-07 05:44] TaoLv commented on #15613
Thanks for the clarification. Do you have a github issue for that? I add it to the track list.

[2019-08-07 06:35] wkcn opened #15774 "the bug of `MXEnginePushAsyncND` and `MXEnginePushSyncND`"
Hi there,
I found the bug of `MXEnginePushAsyncND` and `MXEnginePushSyncND`, whose argument should be an array pointer of NDArrayHandle. The bug was introduced in v1.5.0 release.

I have fixed it in the PR https://github.com/apache/incubator-mxnet/pull/15751

Issue: #15774
master branch: #15751
v1.5.x branch: #15775

[2019-08-07 06:36] wkcn commented on #15613
@TaoLv I have added the issue https://github.com/apache/incubator-mxnet/issues/15774

[2019-08-07 06:48] TaoLv commented on #15613
@wkcn, thanks for your report and contribution! The issue and your fix are added to https://cwiki.apache.org/confluence/display/MXNET/1.5.1+Release+Plan+and+Status.

[2019-08-07 08:42] wuxun-zhang commented on #15767
@matteosal Thanks for reporting this issue. I can reproduce this issue locally. Firstly, `float64` is not supported yet for current MKL-DNN implementation, so actually mkl-dnn pass should not be executed in this example and there should be missing or imcomplete datatype check somewhere. Additionally, `grad_req` is dependent on `args_grad`, so `grad_req` is always `kNullOp` when `args_grad=None` (s

[2019-08-07 09:13] kshitij12345 commented on #15710
What you are saying makes sense as `pack_img` calls `cv2.imencode` which is expecting BGR format.

Agreed.

I'll ping one of the codeowner just in case we are missing something.
@larroy Could you please help.

[2019-08-07 09:18] chhokrad commented on #15771
@aaronmarkham

[2019-08-07 10:09] davidtranno1 commented on #15540
@leevawns @paulbauriegel
I have the same issue. Did you resolve it?

[2019-08-07 10:14] paulbauriegel commented on #15540
@leevawns No unfortunately not, I just switched to another framework which was able to work with that ONNX file.

[2019-08-07 10:33] matteosal commented on #15767
I also get the same problem with `RNN`, but setting explicit gradients doesn't help in this case. It seems completely broken on float64:
[code]

Other RNN modes besides 'rnn_tanh' are also affected.

[2019-08-07 10:36] TaoLv commented on #15703
I did a traverse through the nightly build and commits in between 1.4.0 and 1.5.0 release and found that the regression is most likely caused by: https://github.com/apache/incubator-mxnet/pull/14570

@apeforest could you help to double check?

[2019-08-07 11:02] KhurramPirov opened #15780 "FP16 gemm on cpu not implemented!"
## Description
Try to add synhronious function to avoid memory leak but got this error

## Environment info (Required)

Package used (Python)

## Minimum reproducible example

 for k, batch in enumerate(train_dataiter2):
              temp = mod_fc.predict(batch.data[0])
              out = mx.ndarray.cast(data=temp, dtype='float32')
              print(f"out_norm:{nd.norm(out)}")#for avoiding mem

[2019-08-07 13:07] pengzhao-intel commented on #15767
@wuxun-zhang let's double-check all data type in MKLDNN backend. Maybe fix should be in 1.5.1. @TaoLv

[2019-08-07 13:10] TaoLv commented on #15703
@leezu Please propose if we need fix this issue in the 1.5.1 patch release. Thanks.

[2019-08-07 13:38] aaronmarkham commented on #15771
I believe I had issues with `cmake` when working with Nano an Pi. I avoided it and stuck to `make`. You may want to do the same. That being saId, if you're feeling adventurous, why not try one the cmake files found here: https://github.com/opencv/opencv/tree/master/cmake
It would seem you could drop it here: https://github.com/apache/incubator-mxnet/tree/master/cmake/Modules
You may want to set en

[2019-08-07 13:51] wuxun-zhang commented on #15767
Seems that there are no data type check for MKL-DNN stateful RNN implementation (see https://github.com/apache/incubator-mxnet/blob/master/src/operator/rnn.cc#L226). So, when input data is `float64`, mkldnn rnn pass still be executed and then `unknown mkldnn type` error will be got.

[2019-08-07 14:30] kshitij12345 commented on #15759
On looking at other optimizer's updater,
These are the cases where original grad is being updated.
Will update the PR accordingly.

**RMSPropAlexUpdate**
https://github.com/apache/incubator-mxnet/blob/71861238743fcd8177afe52d1562d9078ac547de/src/operator/optimizer_op-inl.h#L1600-L1619

**RMSPropUpdate**
https://github.com/apache/incubator-mxnet/blob/71861238743fcd8177afe52d1562d9078ac547de/src/ope

[2019-08-07 14:37] zixuanweeei commented on #15767
The execution trace of RNN is maked out as below.

https://github.com/apache/incubator-mxnet/blob/71861238743fcd8177afe52d1562d9078ac547de/src/operator/rnn.cc#L254

https://github.com/apache/incubator-mxnet/blob/71861238743fcd8177afe52d1562d9078ac547de/src/operator/nn/mkldnn/mkldnn_base-inl.h#L206-L220

[2019-08-07 15:40] aaronmarkham commented on #15771
@zheng-da might have some insights on this.

[2019-08-07 16:22] #15592 closed

[2019-08-07 17:43] KellenSunderland commented on #15613
I'd like to backport a few TensorRT patches we've contributed to master.  No functional changes but they'll provide support for many additional models that would otherwise not be supported.

[2019-08-07 17:51] vandanavk commented on #12851
@ashkanaev Could you share the model or a link to the ONNX model that you are using?

[2019-08-07 18:01] ChaiBapchya commented on #11592
PR #15772
Pipeline - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15772/3/pipeline

[2019-08-07 18:25] ChaiBapchya commented on #14851
Looks like the above 2 types of errors/warnings have been taken care of with @cchung100m PR

One thing is yet to be addressed
`assignment-from-no-return` error

Error log from `make pylint`
[code]

[2019-08-07 18:26] ChaiBapchya commented on #14851
@stu1130 Do you think this is a good-first-contribution worthy issue?

[2019-08-07 18:48] stu1130 commented on #14851
@ChaiBapchya yeah

[2019-08-07 18:49] stu1130 commented on #14851
@mxnet-label-bot add [good-first-contribution]

[2019-08-07 18:59] samskalicky opened #15784 "Simple_Bind failure in 1.5.0"
## Description
Simple bind fails in 1.5.0, used to work in 1.4.1. Possibly related to #14661

## Error Message:
[code]

## Minimum reproducible example
[code]

[2019-08-07 19:01] samskalicky commented on #15613
https://github.com/apache/incubator-mxnet/issues/15784 needs to be fixed in 1.5.1, big impact for simple_bind

[2019-08-07 19:24] szha commented on #15703
I thought that feature would not be enabled if the compilation flag isn't turned on. what's the cause for builds without that flag?

[2019-08-07 20:32] samskalicky commented on #15784
Looks like it was fixed in master, tried building from source and it succeeded. Need to nail down the commit with the fix.

@reminisce any suggestion on what that might have been?

[2019-08-07 20:37] roywei commented on #15613
we also need to update mshadow on 1.5.x branch https://github.com/apache/incubator-mxnet/pull/15600

[2019-08-07 22:36] samskalicky commented on #15784
Thanks @reminisce for pointing me to #15620 as the fix. I tried the previous PR #15137 and found that it was still failing. So #15620 fixes this issue.

[2019-08-07 22:49] antonmilev commented on #10562
I am with mxnet 1.5.0 and have this problem..

[2019-08-07 23:13] ChaiBapchya opened #15786 "LeNet-5 inference FAIL"
PR #15783
Build pipeline -
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15783/6/pipeline/
[code]

[2019-08-07 23:40] ban1080 commented on #15181
I'm getting a "AttributeError: No conversion function registered for op type _contrib_MultiBoxPrior yet.".

- I trained using AWS's object detection algorithm (Resnet50 + SSD).
- Converted resultant training model (on S3 bucket) to a deploy model using "deploy.py" in mxnet's SSD examples.
- Attempted to convert to from deploy model to ONNX model. Used
`import mxnet as mx
import numpy as np
from mx

[2019-08-07 23:42] ChaiBapchya commented on #15786
Not sure if this is Bug on MXNet side. Since MXNet accuracy higher than TensorRT

[2019-08-08 00:32] ZhennanQin commented on #15767
It's not all about float64, but about `MKLDNN` subgraph backend. The problem is, recently we enabled MKLDNN subgraph backend by default, and this will break the fallback mechanism when handing float64. Please use `export MXNET_SUBGRAPH_BACKEND=NONE` to work around shortly.

[2019-08-08 00:37] cyrusbehr commented on #15520
I am wondering the same thing. Can we omit the `WaitAll` if we are running the `NaiveEngine`?

[2019-08-08 01:02] ZhennanQin commented on #15767
@pengzhao-intel @TaoLv v1.5.0 doesn't have this issue. So don't need to fix in v1.5.1.

[2019-08-08 01:10] wuxun-zhang commented on #15767
@ZhennanQin Can we add data type check here [#L1663](https://github.com/apache/incubator-mxnet/blob/7186123874/src/executor/graph_executor.cc#L1663) to disable subgraph when input data type is not supported by MKL-DNN?

[2019-08-08 01:21] pengzhao-intel commented on #15767
It's nice and we can try to resolve in 1.6.

[2019-08-08 01:28] pengzhao-intel commented on #15780
@KhurramPirov  This is expected behavior on CPU where the FP16 GEMM doesn't support.
Seems your problem is the memory leak so I suggest filing a bug to report leak problem.

[2019-08-08 01:36] yzz-cver opened #15787 "RuntimeError: Cannot find the MXNet library."
after
cd python
python setup.py install

I have encountered the following problems, please help me.

[2019-08-08 01:37] TaoLv commented on #15703
I'm not sure. I just located the issue to this commit by bisecting. The compilation flag is not set when I built mxnet from source.
@apeforest do you have any idea?

[2019-08-08 01:37] yzz-cver commented on #15787
![image](https://user-images.githubusercontent.com/53545589/62668886-252bd600-b9c0-11e9-94e7-2f8aa01df0cf.png)

[2019-08-08 01:42] TaoLv commented on #15613
Thank you @KellenSunderland . Could you help to list them to the cwiki page?

[2019-08-08 01:42] TaoLv commented on #15613
Sure. I will do that.

[2019-08-08 01:42] TaoLv commented on #15613
@szha is this needed?

[2019-08-08 01:50] phy12321 commented on #13520
Has the issue been resolved for you?  I got the same error when i want to print or slice the output of network,then i found not only the output of network cannot be printed  or sliced.I made a ndarray and it cannot be printed, either.

[2019-08-08 01:55] TaoLv commented on #15569
Hi @roywei @ptrendx  is this got fixed on the master branch? Do we need to include the fix to 1.5.1 patch release?

[2019-08-08 01:59] TaoLv commented on #15542
@roywei do you happen to know any updates for these license issues?

[2019-08-08 02:12] TaoLv commented on #15613
@roywei @lebeg Could you help to check if the issue has been fixed via https://github.com/apache/incubator-mxnet/pull/15452? If so,  I will include the fix to the 1.5.1 patch release. Thanks!

[2019-08-08 02:27] lookup1980 opened #15788 "mxnet convert to onnx: No conversion function registered for op type null yet."
## Description
I tried to convert mxnet mode to onnx, but got this error: No conversion function registered for op type null yet.

onnx version is:
[code]

The model and my code is:
[code]

## Environment info (Required)

----------Python Info----------
Version      : 3.7.3
Compiler     : GCC 7.3.0
Build        : ('default', 'Mar 27 2019 22:11:17')
Arch         : ('64bit', '')
------------Pip Info

[2019-08-08 02:27] larroy opened #15789 "Can't build in debug mode with Make"
## Description
Can't build in debug mode with Make.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please provide:
1. Java version: (`java -version`)
2. Maven version: (`mvn -version`)
3. Scala runtime if applicable: (`scala -version`)

For R user, please provide R `sessionInfo()`:

## Build info (Required if built from source)
[code]

[2019-08-08 02:28] larroy commented on #15789
@mxnet-label-bot add [Bug]

[2019-08-08 02:28] larroy commented on #15789
@mxnet-label-bot add [Build]

[2019-08-08 02:31] larroy opened #15790 "Can't train CIFAR10 with debug flag using CMake / GPU / MKL"
## Description

train cifar_10 doesn't seem to make any progress when MXNet is built with CMake and debug flags.

## Environment info (Required)

Console  is flooded with OMP warnings:

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please provide:
1. Java version: (`java -version`)
2. Maven version: (`mvn -version`)
3. Scala runtime if applicable: (`scala -version`)

[2019-08-08 02:34] larroy commented on #15790
@mxnet-label-bot add [Bug, Build, CMake]

[2019-08-08 02:36] larroy commented on #15787
You have to compile the project first. Are you building from source?
Please follow docs here:

https://mxnet.incubator.apache.org/versions/master/install/build_from_source.html

[2019-08-08 03:10] XiangyunHuang opened #15791 "fail to install mxnet r package within r 3.5.3 under ubuntu 16.04.6"
## Description

1. download and compile mxnet

[code]

There is no errors and warnings, so I think I have installed all deps

2. Then, I try to build and install R-package, unfortunately, it fails

[code]
[code]

however, I can find `base.h`
[code]
[code]

## Environment info (Required)

[code]
[code]

## Error Message:
[code]

[2019-08-08 03:48] zerofo opened #15793 "onnx2mx error."
docker images: ngc  mxnet 19.07-py3(ubuntu18.04 )
onnx:1.2.1
use  keras2onnx(master ver.  and upgrade onnxconverter-common) on this repo https://github.com/bedapudi6788/NudeNet-models
it work fine, on the onnxruntime-gpu.
but it is 'channel_last'.
i use mx.contrib.onnx.import_model(error in module.bind ) and mx.contrib.onnx.import_to_gloun (error in prediction)

input NHWC
[code]
input NCHW
[code]

[2019-08-08 04:43] samskalicky commented on #15613
@TaoLv without this when you checkout the v1.5.x branch the 3rdparty/mshadow directory is empty and mxnet fails to compile. This is definitely needed.

[2019-08-08 05:02] TaoLv commented on #15613
Then you need backport this change to all of the release branches. Can this be mitigated by `git submodule sync` and `git submodule update --recursive --init`?
I'm afraid even if this change is picked to v1.5.x, users will get git complains when they try to pull the latest code if they are on a old commit.

[2019-08-08 05:03] vdantu commented on #15791
@mxnet-label-bot add [R, build, question]
@anirudhacharya Would you be able to answer this question?

[2019-08-08 05:04] vdantu commented on #15793
@mxnet-label-bot add [onnx, question]
@vandanavk would you be able to help here?

[2019-08-08 05:07] vdantu commented on #15784
@samskalicky : Should this be closed? I see that the PR responsible for the fix is being tracked in the Patch Release discussion.

[2019-08-08 05:09] vdantu commented on #15788
@mxnet-label-bot add [onnx, question]
@vandanavk would you be able to answer this?

@lookup1980 Does your onnx_mxnet come from mx.contrib.onnx_mxnet?

[2019-08-08 05:11] vdantu commented on #15787
@mxnet-label-bot add [question]
As @larroy suggested, you would have to build the project first before you install the python package. Or you could use the published PyPi packages, with "pip install".

[2019-08-08 05:22] KellenSunderland commented on #15613
What's the issue with MShadow?  Did they have to do a force push / history re-write again?  We may indeed have to backport that to other release branches.

[2019-08-08 07:05] zerofo commented on #15793
I finetune a model base on densenet201.
and  i predict 'a.jpg',  output should be [-12.927393  12.917948].
I convert to onnx and check fine, predict 'a.jpg' on onnxruntime get [-4376840. ,  1190051.5]

[2019-08-08 07:36] ou525 opened #15796 "Model Quantization with CUDNN"
Hi, I am trying the quantization example with cudnn in the master branch of MxNet, However, when I call the quantized model imagenet1k-inception-bn-quantized-0000 with the C++ interface, an error occurs, as follows

## Description
registered _contrib_quantized_act
[11:01:57] src/executor/attach_op_execs_pass.cc:355: Neither FCompute nor FComputeEx registered _contrib_quantized_act
[11:01:57] src/e

[2019-08-08 07:49] crossLi opened #15797 "how can I concat two dataset with a sepcial ratio?"
I need to I concat two dataset with a sepcial ratio in some task, so how can I concat datasets and use dataloader to provide data

[2019-08-08 08:04] xinyu-intel commented on #15796
@ou525 Hi, you can try to exclude quantize all activation layers of your model by setting `excluded_sym_names` to check if the error still exists.

[2019-08-08 08:42] ou525 commented on #15796
@xinyu-intel  Thanks for the reply, the excluded_sym_names parameters are as follows, I have found them in the json file, and there is no omission. Can you tell me in more detail?
            excluded_sym_names += ['ch_concat_3a_chconcat',
                                   'ch_concat_3b_chconcat',
                                   'ch_concat_3c_chconcat',
                                   'ch_c

[2019-08-08 09:01] xinyu-intel commented on #15796
@ou525 Yes, you may need to exclude both concat and activation layers since GPU currently doesn't support quantized_concat and quantized_activation. If you want to get a fully quantized model, you can try to install mxnet-mkl to quantize your model with CPU.

[2019-08-08 09:05] KhurramPirov commented on #15780
Hi @pengzhao-intel , yes I have memory leak problem during predict steps in a loop. All answers which I have found referred to asynchronous operations, that is why I decided to paste either something as .asnumpy(), .asscalar() or just print to make it wait for all operations and start to be synchronous. It is well known problem, but I don't know the solution with FP16 bug.

[2019-08-08 10:19] TaoLv commented on #15780
My personal suggestion is that if you want to use FP16, please use a GPU which supports FP16. Currently we don't have native data type and instruction of FP16 on CPU.

[2019-08-08 10:33] KhurramPirov commented on #15780
@TaoLv my GPU supports FP16, as you see "FP16 gemm on cpu" it is error on cpu support.

[2019-08-08 10:40] wkcn commented on #15774
Close it since the PRs have been merged : )

[2019-08-08 10:40] #15774 closed

[2019-08-08 12:13] wkcn commented on #15780
Is it available to use FP32 GEMM to emulate FP16 GEMM temporarily?

Although the performance is slow, users can test FP16 model on CPU.

[2019-08-08 12:29] KhurramPirov commented on #15780
I tried to use float32 everywhere, but got the same error linked with FP16 when made predict step.

[2019-08-08 12:59] bkmgit commented on #6493
Is there still interest in the following tutorials:
* [How do I work with MXNet within a Matlab environment](https://github.com/apache/incubator-mxnet/tree/master/matlab)?
* [Can I run MXNet in a browser using JavaScript](https://github.com/dmlc/mxnet.js/)?
* [Neural Art - Transfer the style of one image onto the content the content of another image](https://github.com/apache/incubator-mxnet/tree/

[2019-08-08 13:17] XiangyunHuang commented on #15791
@vdantu Thanks, I have fixed it, see more [details](https://d.cosx.org/d/420836-mxnet-mxnet)

maybe related to https://github.com/dmlc/dmlc-core/issues/144

[2019-08-08 13:17] #15791 closed

[2019-08-08 13:53] pengzhao-intel commented on #15796
@xinyu-intel could we make GPU exclude these layers by default?

[2019-08-08 13:54] TaoLv commented on #15780
Is your model trained with FP16? Can you double check if there are any cast operators in the saved model?

[2019-08-08 13:58] KhurramPirov commented on #15780
yeah, I have  for inputs to my net:
data = mx.sym.Cast(data=data, dtype=np.float16)

and then for predictions I use:
 out = mx.ndarray.cast(data=temp, dtype='float32')

But I tried to make np.float32 for inputs but got error with FP16))

[2019-08-08 14:03] TaoLv commented on #15613
@KellenSunderland  mshadow source code is donated and merged to MXNet. See https://github.com/apache/incubator-mxnet/pull/15600 and https://github.com/dmlc/mshadow/issues/373. So it's not a git submodule any more.

[2019-08-08 14:16] TaoLv commented on #15780
@eric-haibin-lin @zhreshold Do you any experience on this? Train the model with FP16 and then run inference with FP32? I'm afraid the weight parameter is saved with FP16 data type.

[2019-08-08 14:24] KhurramPirov commented on #15780
I don't think it is the problem with 16 to 32 change. I noticed that any command which can make in loop actions synchronous leads to the same error I have posted.
 for k, batch in enumerate(train_dataiter2):

              temp = mod_fc.predict(batch.data[0])
              temp.wait_to_read()# here you can paste .asnumpy(), .asscalar() or print or nd.waitall(),.

The recommendations are taken from

[2019-08-08 14:43] wkcn commented on #15613
For the source downloaded before mshadow merged into MXNet, users need to remove
the directory mshadow firstly, then git pull to update the code.

[2019-08-08 15:35] samskalicky commented on #15613
@wkcn that doesnt work for me:

[code]

[2019-08-08 15:43] TaoLv commented on #15737
@samskalicky #15801 is merged to v1.5.x branch. I'm now closing this issue. Thanks!

[2019-08-08 15:43] #15737 closed

[2019-08-08 16:06] vdantu commented on #15797
@mxnet-label-bot add [question]
@anirudhacharya would you be able to help here?

[2019-08-08 17:01] #13134 closed

[2019-08-08 17:01] #13166 closed

[2019-08-08 17:28] vrakesh commented on #11323
@mxnet-label-bot add [Pending Requester Info]

[2019-08-08 17:32] larroy commented on #15790
This is also happening in release mode. Cifar10 makes no progress.

[2019-08-08 17:33] larroy commented on #15790
[code]

[2019-08-08 20:20] larroy commented on #12453
Can we close this? @szha

[2019-08-08 20:21] larroy commented on #11163
Let's close this. We can't invest energy on Windows 7. As I understand this doesn't happen in Windows 10.

[2019-08-08 20:23] drivanov opened #15809 "Inconsistent multiplication of sparse and compressed sparse arrays with np.inf's"
## Description
The results of multiplication of sparse and compressed sparse array with `np.inf`'s are `mx.nd.array([np.inf])` are inconsistent with corresponding results in `numpy`.

## Environment info (Required)
[code]
## Build info (Required if built from source)

MXNet commit hash:
b6972bb055fc44481b072db3abb90e26ee27c787

## Steps to reproduce:
0. **Expected** (produced by `numpy`) results w

[2019-08-08 21:26] larroy commented on #14263
Having the same issue.

[2019-08-08 22:07] anirudh2290 commented on #10923
- [ ] sequence reverse op misses gpu unit tests

[2019-08-08 22:32] ptrendx commented on #15757
We can certainly push some of our benchmarks to that common repo, although I'm not sure how to handle the differences between our container version of MXNet and upstream.

As for the performance testing insights - having a dedicated machine is important (so probably p3.16xlarge instance) as other tenants may skew the results, especially for the cases that are more CPU or IO intensive.

[2019-08-08 22:58] wkcn commented on #15613
Hi @samskalicky ,  I can download `mshadow` by `git submodule update --init --recursive`
[code]

[2019-08-09 00:28] ChaiBapchya commented on #11720
Another one

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-15807/2/pipeline

#15807

test_operator.test_laop_6 ...
Error running unittest, python exited with status code C0000005

At C:\jenkins_slave\workspace\ut-python-gpu\ci\windows\test_py2_gpu.ps1:27

char:13

+ if (! $?) { Throw ("Error running unittest, python exited with status ...

[2019-08-09 00:54] WenmuZhou commented on #15797
Recently encountered the same problem, the data of the two data sets needs to maintain a certain proportion in each batch.

[2019-08-09 02:14] juliusshufan commented on #15757
Update some benchmark and accuracy test from Intel side.

Currently, we track the performance, accuracy and convergence of the MXNet github repo nightly, covering different models and MXNet Op. The kernel level performance is also measured with MKLDNN upgrade. The performance measurement on Xeon platform, covering the "top-bin" and "main-stream" SKUs. The scripts involve the internals and also lev

[2019-08-09 09:08] lly8752 opened #15824 "why can't i init weight of symbol with it's init attr in gluon frame"
why can't i  init weight of symbol with it's init attr

import gluonbook as gb
from mxnet import gluon, init, autograd, nd
from mxnet.gluon import loss as gloss, nn
import mxnet as mx

batch_size = 256
train_iter, test_iter = gb.load_data_fashion_mnist(batch_size)

net = nn.Sequential()

input = mx.sym.var('data')
weight =  mx.symbol.Variable(name="{}_weight".format('111'), init=init.Zero())
bias

[2019-08-09 14:39] chhokrad commented on #15771
@aaronmarkham  I ended up compiling on the device using make. But had to do couple of more steps as a result of incompatible version of protobuf (2.5.x) installed during building process. The steps are listed in this [link](https://devtalk.nvidia.com/default/topic/1052663/container-mxnet/mxnet-on-jetson-nano-for-multi-machine-not-working/post/5363570/#5363570).

Please check if _-gencode arch=comp

[2019-08-09 14:39] #15771 closed

[2019-08-09 15:18] PinkLoveyi commented on #11817
I have the same issue, and finally, I figured it out. The reason for me is my Keras `version 2.2.0` is too high.
After, I change the version to `2.0.1`, it worked.
Hope this version issue can help you!

[2019-08-09 15:53] TaoLv commented on #15613
@KellenSunderland Could you please include the TensorRT patches you just mentioned into the cwiki? https://cwiki.apache.org/confluence/display/MXNET/1.5.1+Release+Plan+and+Status

Thanks for your support!

[2019-08-09 15:53] roywei commented on #15547
https://issues.apache.org/jira/browse/LEGAL-468 is closed as the latest Pybind11 license is permissive. But we need to ask onnx-tensorrt and onnx to update them.

@KellenSunderland @Caenorst could you guys help?

Thanks

[2019-08-09 16:05] roywei commented on #15569
we can update our submodule to latest cub commit

[2019-08-09 16:10] roywei commented on #15542
@gigasquid @adc17 @iblis17 could you help replace the images mentioned in 6 in the issue? We would like to fix them for 1.5.1 release.
Thanks!

[2019-08-09 17:12] access2rohit commented on #15758
its fixed now ... closing!

[2019-08-09 17:12] #15758 closed

[2019-08-09 17:13] access2rohit commented on #15667
It was due to an API call that was increasing runtime. Solved it by caching

[2019-08-09 17:13] #15667 closed

[2019-08-09 17:23] anirudhacharya commented on #15797
@crossLi the solution would be to write a custom data loader. Please check here - https://mxnet.incubator.apache.org/versions/master/tutorials/gluon/datasets.html and here - https://mxnet.incubator.apache.org/versions/master/tutorials/basic/data.html

[2019-08-09 18:20] jzhou316 commented on #12453
I had the same problem in some of my NMT experiments running of multi-GPUs on p3.2xlarge. It ran some times but failed other times, and the error was not consistent at where it occurred and what messages it displayed. I tested every part of my code without finding any problems. Though it could be my fault, but is it possible that the issue is with MXNet?

some of the error messages
[code]
[code]

[2019-08-09 19:35] anirudh2290 commented on #15716
@ptrendx @fierceX I have added a fix in #15829. Please help review.

[2019-08-09 19:47] vdantu commented on #15824
@mxnet-label-bot add [gluon, question]

[2019-08-09 21:01] larroy commented on #12453
@jzhou316 thanks for pointing this out. Could you give more info about the environment in which this happened? is it running in EC2? How difficult you think is to reproduce? Is there a way to reproduce it every time?

Thanks.

[2019-08-09 21:04] ptrendx commented on #15809
@eric-haibin-lin FYI

[2019-08-09 21:12] #13438 closed

[2019-08-09 22:11] ChaiBapchya opened #15832 "test_operator_gpu.test_ndarray_reshape fails"
test_operator_gpu.test_ndarray_reshape

Pipeline -
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15807/4/pipeline

Error Log
[code]

PR #15807

[2019-08-09 22:11] ChaiBapchya commented on #15832
@mxnet-label-bot add [Flaky, Test]

[2019-08-09 22:14] iamthebot opened #15833 "Keras-Mxnet Regression: Cannot apply softmax to a tensor that is 1D. Received input: Symbol: broadcast_add30"
## Description
Regression from 1.4.x to 1.5.xx:

Instantiating some basic architectures in Keras (eg; VGG16) is now broken with the error message:

`ValueError: Cannot apply softmax to a tensor that is 1D. Received input: Symbol: broadcast_add30`

These worked fine before.

## Environment info (Required)
Using keras-mxnet 2.2.4.1
[code]

Package is Python via Keras-Mxnet

## Error Message:
[code]

[2019-08-09 23:04] vdantu commented on #15833
@roywei : Would you be able to help this?

I will label this as question for now. If this is not an expected behavior, we can track this as a bug.
@mxnet-label-bot add [question]

[2019-08-09 23:55] roywei commented on #15721
@iamthebot Hi, I was able to reproduce the bug. The latest keras-mxnet from source is fine, but 2.4.1 is not compatible with mxnet 1.5.0. We are working on keras-mxnet 2.4.2 release but blocked by another bug detected by CI. ETA of availability is around next week. Thanks again for the issue!

[2019-08-09 23:56] wkcn opened #15836 "The pre-built MXNet package on Windows uses the older master branch"
Hi, there.
The pre-built MXNet package on PyPi is generated nightly. However, I found that the nightly package on Windows uses the code of the older master branch.

## Steps to reproduce
On Windows OS,
[code]
The latest MXNet is generated on Aug. 10.
After installing the nightly MXNet package on Windows, open the directory of site-package (`$(PYTHON_HOME)/site-packages/mxnet`). There is no the dir

[2019-08-10 05:33] Lebron8997 commented on #14589
@mxnet-label-bot
My onnx 1.5.0 (latest)
For batchnorm, I revised script mxnet/contrib/mx2onnx/_op_translations.py as follows:
1, on line 647: kernel = eval(attrs["kernel"]) if attrs.get("kernel") else None
This is needed for global pooling  like:
x = mx.symbol.Pooling(data=data,
                          pool_type='avg',
                          global_pool=True,
                          name=na

[2019-08-10 06:51] psmaragdis opened #15844 "Hang when using custom function on parameters"
## Description
Custom functions made using autograd.Function hang if the functions's input is used in self.saved_tensors and that function is applied on a layer parameter. It seems to work fine when this function is applied on non-parameters in a layer.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
I'm using Python

## Error Message:
No error, program hangs

## Mini

[2019-08-11 02:41] XiaotaoChen opened #15848 "does there need some update with guide and tests in mshadow?"
refer to the issue in mshadow [does there need some update with guide and tests?](https://github.com/dmlc/mshadow/issues/355)
i met the same problem. `basic_stream` aborted with the info:
[code]
`config.mk` setting as below:
[code]
According to the compile error,  i modified some options of compilation in `Makefile`. Adding `-fopenmp` to `CFLAGS` ,  `-std=c++11` to `NVCCFLAGS` and `basic_stream` t

[2019-08-11 09:04] iblis17 commented on #15542
well, I'm not sure the source of  `./julia/examples/imagenet/ijulia-pretrained-predict/cat.png`.
@pluskid Can you recall that ?

[2019-08-11 20:58] reminisce commented on #15732
Skipping the following tests allows the CI to pass without errors. Not sure which one(s) exactly caused the error.
[code]

[2019-08-12 01:28] lly8752 commented on #15718
i set __lr__mult__ attr of symbol, and used optimizer and Module, it don't work.that because i don't give sym params when i creat optimizer.now solved it.

[2019-08-12 02:10] TaoLv commented on #15613
@iblis17 Could you help to pick #15608 #15609 to the v1.5.x branch?

[2019-08-12 05:08] happynear commented on #15743
Thanks.

[2019-08-12 05:08] #15743 closed

[2019-08-12 05:43] pengzhao-intel commented on #15640
Thanks @ElaineBao
FYI, @QueensGambit,  Elaine is WIP to fix these performance issues and will update the results soon.

[2019-08-12 06:12] ckt624 opened #15856 "unix GPU CI fails randomly"
## Description

I submited PR of tensordot operators to master branch, and failed the unix GPU test for test_parallel_random_seed_setting_for_context from time to time (http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15820/4/pipeline). This failure seems to happen randomly. Error messages:

=====================================================

[2019-08-12 07:15] RuilinZhuIntel commented on #13221
@pengzhao-intel  @ChaiBapchya @TaoLv
Sorry for late reply, I reproduced this case on the latest mxnet repo.
My hardware environment:

- CPU: Intel(R) Xeon(R) Platinum 8180 CPU @ 2.50GHz

- GPU: Tesla P100
My Mxnet build environment:

- CPATH=/usr/include/openblas make -j USE_MKLDNN=1 USE_BLAS=openblas USE_OPENCV=1 USE_CUDA=1 USE_CUDNN=1 USE_CUDA_PATH=/usr/local/cuda-9.0

- MXNET_TEST_SEED=18449550

[2019-08-12 09:48] KhurramPirov commented on #15780
@TaoLv Will appreciate you with any new advice, because the research is stuck because of this.

[2019-08-12 12:04] marekjg opened #15862 "CPU GEMM in float 16 fails silently with NaiveEngine (CPP api)"
## Description
When running inference in cpp api with naive engine, the computation is not performed but the output array is initialized and no exception is raised. Without naive engine, there's exception thrown (which is expected). Using python api with naive engine will raise exception in both cases so the problem seems to be related to CPP api. It applies to Dense layer but also happend with mo

[2019-08-12 12:09] CynthiaProtector opened #15863 "Training ResNet-20 with CIFAR-10 does not converge with MXNet1.3.0"
We rent a cluster of 8 workers to run some experiments with MXNet1.3.0, each node of the cluster is installed with cuda-8.0, cudnn-6.0. When training ResNet-50 with CIFAR-10, the validation-accuracy is always around 10%, and when training ResNet-50 with ImageNet, the validation-accuracy is around 57% after training for 70 epochs. However, when training with MXNet0.12.1, there exists no such proble

[2019-08-12 12:26] TaoLv commented on #15780
If you want to use a GPU, please make sure the context of your model is gpu. If you want to use a CPU, possibly you need re-trian your model with FP32.

[2019-08-12 12:27] dheeraj-coding commented on #8868
What is the difference between this and NDarray.take function?

[2019-08-12 13:31] pengzhao-intel commented on #15862
FP16 in CPU is not supported now. But it should be a problem for the inconsistent error message.
We will improve the error message at least.
@wuxun-zhang please help to take a look.

[2019-08-12 13:38] gigasquid commented on #15542
License issues have been fixed for the Clojure package and 1.5 branch - see https://github.com/apache/incubator-mxnet/pull/15828 for details

[2019-08-12 14:50] kshitij12345 commented on #15709
Hi,

I would like to work on this. However I'll need some pointer as to how to go about it or even a reference of other operator which supports this should do.

[2019-08-12 15:39] TaoLv commented on #15709
Hi @kshitij12345, thank you for looking into this. Your contribution will be highly appreciated!

Actually this is not an in-place issue and the `transpose` operator in MXNet is not designed to support in-place.

From the error log and the check at https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/matrix_op-inl.h#L334, the `req[0]` here is `kNullOp` which means the operator

[2019-08-12 15:39] QueensGambit commented on #15640
Thank you for the notification @pengzhao-intel.
Wouldn't it be to appropriate to disable the NaN-Value check from https://github.com/apache/incubator-mxnet/pull/14262  by default whenever the model is loaded in full-inference mode (`grad_req='null'`) or to make it parametrizable?

ReLU is the most common building block, thus the regression affects most current models.
Normally, when a model was fu

[2019-08-12 16:27] kshitij12345 commented on #15709
Oh, I see. Thank You for the nice explanation. Will send a PR soon.

[2019-08-12 17:31] vdantu commented on #15863
@mxnet-label-bot add [training, question]

[2019-08-12 17:31] vdantu commented on #15863
@apeforest : Would you be able to help or suggest who could help?

[2019-08-12 17:33] vdantu commented on #15862
@pengzhao-intel : Thanks for a quick response :)

@mxnet-label-bot add [question]

[2019-08-12 17:34] vdantu commented on #15856
@mxnet-label-bot add [flaky, test, ci]

[2019-08-12 17:35] vdantu commented on #15848
@mxnet-label-bot add [question]

[2019-08-12 17:37] vdantu commented on #15844
@mxnet-label-bot add [question]

[2019-08-12 19:57] blchu opened #15866 "AMP tutorial does not work on 1.5.0"
The AMP tutorial offered in the iPython notebook at https://mxnet.incubator.apache.org/versions/master/tutorials/amp/amp_tutorial.html results on errors in certain function calls when running with 1.5.0, notably `test_utils.download_model` and `contrib.amp.convert_hybrid_block`. Peeking at the source code, I don't think these functions are implemented in 1.5.0. There appears to be no version requi

[2019-08-12 21:31] anirudh2290 commented on #15866
@bichu thanks for bringing this up. You are right, convert_hybrid_block isn't available in 1.5 but its in master. you can obtain it with:

[code]

About the documentation, there was a dropdown in mxnet.io to select documentation for different versions, but it doesnt seem to be working. cc @aaronmarkham for the version selector dropdown issue.

[2019-08-12 23:01] ChaiBapchya commented on #14288
Was able to reproduce this issue.
With `cudnn_off=True`,

[code]
Works correctly
`assert output_zeroes == len(input)` is correct (both values `10000`)

However, With `cudnn_off=False` i.e. with cudnn
[code]
Fails at the assertion because the values are
output_zeroes 9999
input 10000

[2019-08-13 02:32] ptrendx commented on #15832
If you look at the log it is actually test_countsketch that starts failing, the ndarray reshape test finally crashes because of this. I recall there was an issue open about countsketch operator.

[2019-08-13 04:57] KellenSunderland commented on #15613
For some reason not able to edit the cwiki?

Proposals for fixes are:
https://github.com/apache/incubator-mxnet/pull/15645
https://github.com/apache/incubator-mxnet/pull/15666
https://github.com/apache/incubator-mxnet/pull/14898
https://github.com/apache/incubator-mxnet/pull/15344

[2019-08-13 05:31] TaoLv commented on #15613
Thank you @KellenSunderland . I just included these patches to the table on cwiki. Please help take a look: https://cwiki.apache.org/confluence/display/MXNET/1.5.1+Release+Plan+and+Status
BTW, do you know someone with TensorRT background can help to pick them to the v1.5.x branch? Because I'm wondering if they need be ported in a certain order.

[2019-08-13 07:49] wuxun-zhang commented on #15862
@marekjg I can reproduce this issue from my side when `MXNET_ENGINE_TYPE=NaiveEngine`. But I try to use `std::cout` instead of `LOG(FATAL)`, it will output error messages normally. So maybe there have inconsistent logging behavior between `NaiveEngine` and default engine for C++ API.

[2019-08-13 10:58] marekjg commented on #15862
@pengzhao-intel I know it is not supported, problem is from the user point of view with cpp api and cpu device as it seems that everything worked just fine (the output array is created).

[2019-08-13 11:15] linhanxiao commented on #4836
Have you solved this problem?What method did you use?  @malhotraa @piiswrong

[2019-08-13 11:20] linhanxiao commented on #4836
@malhotraa @piiswrong
I installed mxnet in a docker
my docker Environment info
Operating System: Ubuntu 16.04
Compiler: gcc 4.9.0
Package used (Python/R/Scala/Julia): Python
Python version: 2.7

[2019-08-13 12:37] pengzhao-intel commented on #15862
yes, it's a problem. Will fix it.

[2019-08-13 12:38] pengzhao-intel commented on #15862
Let's see why LOG(FATAL) doesn't work in here :)

[2019-08-13 14:10] kshitij12345 commented on #13958
I have run into the issue a few times now.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-15768/10/pipeline

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-15768/9/pipeline

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-1

[2019-08-13 14:43] xnnxax527 commented on #15796
Hi @xinyu-intel , I see you release the calibration and quantization code on Intel MKLDNN, thanks.
I am so interested in quantizing gluoncv SSD model on GPU, but the mkldnn quantized ssd model can't run on ctx=mx.gpu(), what's the problem?
the model should quantized with cudnn if i want to run on GPU?

[2019-08-13 15:21] jmacglashan commented on #8703
Pipe dream: I'd love it if Mxnet not only dropped Python 2 support for a more consistent design, but also went all in on Python 3.6 for type hint integration. There are enough different types involved in MXNet that types can help clarify usage, particularly for disambiguate symbol vs ndarray vs list vs tuple, vs tuple of ints rather than tuple of floats, etc.

[2019-08-13 16:15] KellenSunderland commented on #15613
No problem Tao, I can probably cherry-pick them a bit later today.

[2019-08-13 16:35] KellenSunderland commented on #15613
First two cherry-picked PRs:
https://github.com/apache/incubator-mxnet/pull/15875
https://github.com/apache/incubator-mxnet/pull/15874

[2019-08-13 18:01] ChaiBapchya opened #15879 "[CI] Windows CPU numpy module not found"
Pipeline - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-15783/9/pipeline

Multiple occurrences of "module not found"

One such error log:
[code]

[2019-08-13 18:01] ChaiBapchya commented on #15879
@mxnet-label-bot add [CI]

[2019-08-13 19:05] zachgk commented on #15784
@samskalicky Is this fixed since #15620 was merged?

[2019-08-13 19:19] samskalicky commented on #15784
Fixed in #15620

[2019-08-13 19:19] #15784 closed

[2019-08-13 20:16] ChaiBapchya commented on #9806
@marcoabreu @piyushghai Any update? resolved yet?

[2019-08-13 20:22] ChaiBapchya opened #15880 "[CI] unix cpu validation Timeout"
Python 3 MKL CPU timeout >3hr timeout

Shell script runs for 3h
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15794/2/pipeline/281/

But what's the cause?

PR #15794 doesn't make any change to C API.

[2019-08-13 20:23] ChaiBapchya commented on #15880
@mxnet-label-bot add [CI]

[2019-08-13 20:29] ChaiBapchya commented on #15880
Another PR #15785
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15785/8/pipeline

[2019-08-13 22:45] marcoabreu commented on #15862
@sandeep-krishnamurthy we had somebody who worked on exception for single- and multi-threaded execution, but I can't recall who. Can you assist here?

[2019-08-13 23:09] pengzhao-intel commented on #15796
@DickJC123 @ptrendx is there any plan on GPU quantization?

[2019-08-14 02:32] larroy commented on #15629
Hi. This is not supported, to fork a process and use MXNet inside. We should probably detect this and throw an error.

[2019-08-14 05:29] wuxun-zhang commented on #15862
FYI, when commenting out [this line in dmlc/logging.h](https://github.com/dmlc/dmlc-core/blob/f1ff6cc117f4e95169a9f62be549c8fe3e15c20f/include/dmlc/logging.h#L423), the error stack trace will be printed normally for `NaiveEngine`.  I don't know where to re-define this macro `DMLC_LOG_BEFORE_THROW` in MXNet, which is firstly defined in [dmlc/base.h](https://github.com/dmlc/dmlc-core/blob/f1ff6cc117

[2019-08-14 06:54] apeforest commented on #15757
@juliusshufan Thanks for providing the benchmark setup. Recently we have been running operator-level runtime comparison between int32 and int64 data types for tensor indexing using the MXNet Opperf profiler contributed by @sandeep-krishnamurthy and et al. However, we do notice large variations if we calibrate the runtime using built-in profiler in MXNet, also mis-correlation from the runtime we me

[2019-08-14 12:35] AssassinTee opened #15891 "Timeout on second predict"
## Description
I'm setting up a flask server which loads my mxnet model and has a predict-Api-method.

While testing the api I noticed, that the prediction has a timeout on the second call in the mxnet api. By timeout I mean that python is stuck in one mxnet method and seems to run endless.

I am using python-flask and mxnet v. 1.4.1. I tried upgrading to mxnet v. 1.5.0 but nothing chaned and the

[2019-08-14 12:45] Zheweiqiu opened #15892 "retinaface model to onnx"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-08-14 13:10] xinyu-intel commented on #15796
@xnnxax527 Yes, you can quantize ssd with `ctx=mx.gpu(0)`. Currently, MXNet only supports limited `quantized_operators` for GPU with cudnn, including`quantized_conv`, `quantized_pool`, `quantized_flatten` and `quantized_fullyconnected`. Also, I'm not sure if your Geforce graphic card supports DP4A instruction.

[2019-08-14 13:16] leezu commented on #15703
@TaoLv the issue is not blocking me, but I find it concerning that https://github.com/apache/incubator-mxnet/pull/14570/ should have had no side-effects when the compilation flag is unset but introduces this issue. It should be fixed on a 1.5.x point release.
Pinging @apeforest

[2019-08-14 16:19] ChaiBapchya commented on #15880
Another PR #15881
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15881/7/pipeline

[2019-08-14 16:22] ChaiBapchya commented on #15605
Another one - #15794
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15794/3/pipeline/286

[2019-08-14 17:11] ChaiBapchya commented on #15605
@zachgk I just feel it is unreasonable to expect contributors/MXNet users to retrigger the PRs because something wasn't downloaded correctly.

Now specific to this issue -
Error says GET request failed.
Would be great if it adds way to solve it (currently retrigger CI, hopefully in future it auto-corrects itself)

But going forward, we need to make CI robust enough for connection failures.

[2019-08-14 18:18] eric-haibin-lin commented on #15780
@KhurramPirov is your model trained using fp16? Are you using any pre-trained model? It's possible that some weights are stored in fp16 and you need to cast the checkpoint to fp32.

[2019-08-14 18:23] apeforest commented on #15703
Sorry, I just saw this. Looking into it now.

[2019-08-14 20:00] #15571 closed

[2019-08-14 20:09] ChaiBapchya commented on #15605
Another one - #15881

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15881/8/pipeline/286

[2019-08-14 21:37] zachgk commented on #15605
@perdasilva Any idea why the CI might be having problems connecting to maven?

[2019-08-14 22:57] ChaiBapchya commented on #11720
Again #15736
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-15736/6/pipeline/

[2019-08-14 23:25] eric-haibin-lin commented on #15809
We follow the scipy semantics for sparse arrays:
[code]

[2019-08-14 23:31] ptrendx commented on #15809
Is this intentional though (on both our and scipy side)?

[2019-08-15 00:03] ChaiBapchya commented on #15757
Here are the links for Large Tensor Operator benchmarks I ran.

Python's Time module -
https://docs.google.com/spreadsheets/d/1GpdNquQb71Is5B-li99JDuiLeEZd-eSjHIIowzGrwxc/edit?usp=sharing

MXNet Profiler (built-in CPP profiler) - https://docs.google.com/spreadsheets/d/1VkZoBFacZo8NGNcdFU5P9gFs3dm7D_ykOkPUzUD-Yu4/edit?usp=sharing

Tested on - p3.16xl instance

[2019-08-15 00:30] ChaiBapchya commented on #15880
Another PR #15769
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15769/6/pipeline

[2019-08-15 01:07] DickJC123 commented on #15880
test_random.py:test_shuffle is taking a long time to run.  I've seen cpu runtimes between 10 and 50 minutes for that test alone.  I've developed a fix and piggy-backed it onto a pending PR of mine: https://github.com/apache/incubator-mxnet/pull/15882.

[2019-08-15 01:16] DickJC123 commented on #15879
I've seen a similar error in a pipeline of mine.  Your pipeline has a first mention of trouble:
[code]
In a pipeline of mine (http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-15882/9/pipeline/), the error was:
[code]
@marcoabreu Can you have someone look into these sporadic build-machine issues that happen when pulling in python packages pri

[2019-08-15 01:18] zheng-da opened #15898 "missing numpy operators in MXNet."
## random
-[ ] mx.np.random.rand

[2019-08-15 01:23] anirudh2290 commented on #15862
@marcoabreu I worked on exception handling for the backend. Having said that I am not very familiar with the CPP frontend language binding, and it looks like this issue is specific to CPP binding. The error code is not checked and exception is not being rethrown in the frontend language binding. cc @leleamol who worked on the CPP language binding.

[2019-08-15 01:46] pengzhao-intel commented on #15757
Thanks, @apeforest @ChaiBapchya we are testing large tensor operator now. Will come back with the results soon

[2019-08-15 02:27] zachgk commented on #15548
@DickJC123 Can you take a look at another case of this? We run a nightly maven snapshot pipeline in the CI that builds for GPU on a CPU machine as well. However, it now seems to be failing some Scala unit tests that are run (still on the CPU machine while building for GPU). It fails either when trying to create a KVStore or use a DataIterator (MXDataIterNext).

The error message it fails with is (

[2019-08-15 04:34] arsdragonfly commented on #15319
Any follow-ups?

[2019-08-15 04:56] #15716 closed

[2019-08-15 05:15] marcoabreu commented on #15879
@perdasilva can you have a look please?

[2019-08-15 06:19] anonymouslycn commented on #13482
+1

[2019-08-15 11:39] arsdragonfly opened #15908 "mxnet fails to compile: onnx_pb.h: No such file or directory"
mxnet fails to compile: onnx_pb.h: No such file or directory

I'm building within a dockerfile shown below:
[code]

[2019-08-15 15:04] linhanxiao opened #15912 "mshadow"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-08-15 15:45] linhanxiao opened #15913 "__CUDACC_VER_ is no longer support"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-08-15 18:12] vandanavk commented on #15585
Support for exporting Upsampling operator is here https://github.com/apache/incubator-mxnet/pull/15811

[2019-08-15 18:25] vandanavk commented on #15536
MXNet currently supports ONNX v1.3. The documentation is updated in PR https://github.com/apache/incubator-mxnet/pull/15914

[2019-08-15 18:32] vandanavk commented on #15892
I don't see this issue using MXNet master and ONNX v1.3.0. Which ONNX version are you using?

[2019-08-15 18:53] zachgk commented on #15912
This issue does not have any description or changes to the issue template and seems to have been created in error. I will close it for now. If you do have an issue, please reopen and add a description or create a new issue.

[2019-08-15 18:53] #15912 closed

[2019-08-15 18:59] zachgk commented on #15913
@linhanxiao  Are you getting the same error as #13785? If so, can you share how you are building?

[2019-08-15 19:03] samskalicky opened #15916 "Error when loading models with no params"
When loading small unit test models (such as models that contain only an identity operator) there may not be any params in the params file. When this happens the "save_dict" is an empty list rather than a dict. In load_checkpoint an error is thrown when we call "*.items()" on a list when its expecting a dict.

https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/model.py#L451-L454

W

[2019-08-15 19:11] zachgk commented on #13785
@squirrelim What is the reason behind using commit `998378a`? It is currently over 2 years old.

@LZP4GitHub What commit are you using to build?

[2019-08-15 19:52] ban1080 commented on #15319
^ Switched to TensorFlow, although, someone on the Nvidia forum claims to have been able to build MXNET from scratch with the Tensor_RT flag:

https://devtalk.nvidia.com/default/topic/1049293/jetson-nano/i-was-unable-to-compile-and-install-mxnet-on-the-jetson-nano-is-there-an-official-installation-tutorial-/post/5349993/#5349993

[2019-08-15 20:16] ChaiBapchya commented on #11809
Another one - #15736
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15736/8/pipeline/

[2019-08-15 20:16] ChaiBapchya commented on #11809
@haojin2 should I disable?

[2019-08-15 20:31] eric-haibin-lin opened #15918 "Trainer.save_state does not work if update_on_kvstore=False"
When update_on_kvstore is set to False and multiple GPUs are used, trainer only saves the trainer state on context[0], and the rest are not saved.

[2019-08-15 20:40] eric-haibin-lin opened #15919 "Trainer.set_learning_rate is broken when distributed kvstore is used"
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/trainer.py#L265-L275
When update_on_kvstore=True, Trainer.set_learning_rate does not modify the learning rate on the remote parameter server

[2019-08-15 20:56] ceedubs opened #15920 "KeyError using onnx2mx on basic Keras LSTM model"
## Description
`KeyError: 'dense_1/Sigmoid:01'` when using `onnx2mx` to import an LSTM model that was originally trained via keras and converted to ONNX format via `keras2onnx`.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
I'm using Python, along with `keras2onnx`.

Here are the direct dependencies:

[code]

## Error Message:
[code]

## Minimum reproducible example

[2019-08-15 21:25] vandanavk commented on #15596
try adding batch_shape within [] in the export_model() call.

`onnx_mxnet.export_model(sym=sym, input_shape=[batch_shape], verbose=True, params=all_params)
`

[2019-08-15 21:26] ChaiBapchya commented on #15880
Another PR #15541 Python 3 CPU (runs for 4hours) before terminating!
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15541/8/pipeline/279

[2019-08-15 21:26] KellenSunderland commented on #15596
Thanks @vandanavk!

[2019-08-15 21:26] #15596 closed

[2019-08-15 21:56] eric-haibin-lin opened #15923 "kvstore.save_optimizer_states does not support distributed kvstore"
States cannot be saved during distributed training: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/kvstore.py#L538-L550

[2019-08-15 23:02] pengzhao-intel commented on #15880
This is interesting and we need to figure out if the increased computation leads to the problem.
@zixuanweeei could you help to take a look for the CI?

[2019-08-16 00:37] zheng-da commented on #15898
numpy operators accept python list. For example,
[code]

[2019-08-16 00:43] zheng-da commented on #15898
`indices_or_sections` in `mx.np.split` should be int, tuple of int or a numpy array.

[2019-08-16 01:30] ChaiBapchya opened #15925 "[CI] illegal memory access"
Multiple gpu tests fail due to illegal memory access
PR - #15736
Pipeline - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15736/9/pipeline

[code]

[2019-08-16 01:32] ChaiBapchya commented on #15925
@mxnet-label-bot add [CI, Bug]

[2019-08-16 01:34] #15916 closed

[2019-08-16 01:56] zixuanweeei commented on #15880
@pengzhao-intel I've seen cpu runtimes more than 10 minutes by testing `test_random.py:test_shuffle` for three times. Seems there are lots of discussions on the shuffle operator, like PR #10048, PR #15882 and ISSUE #10277. I will take some surveys on them first.

[2019-08-16 02:01] pengzhao-intel commented on #15880
Thanks @zixuanweeei

Could we statistic and sort the runtime for all cases in CPU side (CPU, CPU+MKL, CPU+MKLDNN)?
After that, we can see the runtime change by a new PR like @ChaiBapchya's large tensor PR.

[2019-08-16 02:52] zixuanweeei commented on #15880
Sure. @pengzhao-intel

BTW, I have disabled MKLDNN subgraph backend to see whether it impacts on the efficiency of shuffle operator. The results showed the shuffle operator has the same time cost w/ and w/o MKLDNN subgraph backend.

[2019-08-16 03:42] david-di opened #15927 "sym.Variable input init need init.dumps(), but NDarray is not JSON serializable"
## Description
mxnet.symbol.Variable(name, attr=None, shape=None, lr_mult=None, wd_mult=None, dtype=None, init=None, stype=None, **kwargs)
The input parameter init, I used mxnet.initializer.Constant(value).
The introduction of Constant class says "Initializes the weights to a given value. The value passed in can be a scalar or a NDarray that matches the shape of the parameter to be set", so I use

[2019-08-16 04:07] ptrendx commented on #15918
Shouldn't those states be exactly the same for all contexts?

[2019-08-16 05:27] aaronmarkham commented on #8773
I keep running into this issue as well. A clean clone with recursive init of the submodules seems to get around it, but this isn't a real fix.

[2019-08-16 05:35] zixuanweeei commented on #15880
Some fixes from PR #15882 has reduced the cost from more than 10 mins to no more than 2 mins. It cost ~41s on local test. And it seems that the fixes on `test_shuffle` doesn't alter the functionality of the test. It just drops the needless equal assertions.

[2019-08-16 05:53] apeforest commented on #15703
Interestingly, I found that turning on the USE_INT64_TENSOR_SIZE flag (meaning using int64_t instead of int32_t as index_t type) will solve the OOM issue. Still rootcausing it.

[2019-08-16 05:58] ChaiBapchya commented on #15880
Another one #15736
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15736/10/

[2019-08-16 06:13] CNApocalypse commented on #15721
but when I install an older version(1.2.1), another error occur. [More Information](https://discuss.gluon.ai/t/topic/14110)

[2019-08-16 07:51] xidulu opened #15928 "[RFC] A faster version of Gamma sampling on GPU."
### Description

Sampling from Gamma distribution requires rejection sampling, which is applied in the implementation of `mxnet.ndarray.random.gamma()`.  However, two main drawbacks exist in the current implementation ( [sampler.h](https://github.com/apache/incubator-mxnet/blob/fb4f9d55382538fe688638b741830d84ae0d783e/src/operator/random/sampler.h#L182) )

1. Random numbers used in the rejection s

[2019-08-16 08:29] yzhliu commented on #15928
cc @apache/mxnet-committers I think we can gradually refactor current implementation (ndarray api) by adopting this new approach.

@xidulu could you please fix the url links in your post.

[2019-08-16 08:36] xidulu commented on #15928
Links fixed.

[2019-08-16 10:52] arsdragonfly opened #15929 "./build.py -p ubuntu_tpu_tensorrt fails with error"
`./build.py -p ubuntu_tpu_tensorrt` executed under `ci` yields the following error (last few lines):
[code]

[2019-08-16 13:47] zixuanweeei commented on #15880
From the last comment by @ChaiBapchya, we also found that `test_operator.test_convolution_independent_gradients` costed too much. And that test was conducted on a library compiled with MKL-DNN. So it will cost more on CPU context when MXNet is compiled without MKL-DNN. Should PR #15922 work for test_shuffle, we would reduce the cost from `test_operator.test_convolution_independent_gradients`.

[2019-08-16 15:45] ptrendx commented on #15928
Hi @xidulu. I did not look at the differences in the implementation of host-side vs device-side API for RNG in MXNet, but if they are comparable in terms of performance, a possible better approach would be something like this:
 - launch only as many blocks and threads as necessary to fill the GPU, each having their own RNG
 - use following pseudocode
[code]
There are 2 ways of implementing `next_s

[2019-08-16 16:22] aaronmarkham commented on #15649
@larry77 Did changing the version work for you? Since we're tracking the version support in #14967, I'm going to close this. Please reopen if you're still having issues.

[2019-08-16 16:22] #15649 closed

[2019-08-16 18:03] hzfan opened #15931 "TBlob bug about dltensor"
## Description
TBlob does not disable/overload the default copy constructor/assignment, so the default one can be used. This results in shallow copy of dltensor_ (which is a field of type DLTensor in TBlob, see [here](https://github.com/apache/incubator-mxnet/blob/5a4c01bac9afd4e75227a0b4b1231bceffb204df/include/mxnet/tensor_blob.h#L415)) and memory leak.

## Environment info (Required)
Python 3.7

[2019-08-16 18:08] hzfan commented on #15931
@mxnet-label-bot add [bug]

[2019-08-16 18:11] ChaiBapchya commented on #13736
Unable to reproduce it
With latest master
[code]

[2019-08-16 18:11] #13736 closed

[2019-08-16 18:38] anirudh2290 opened #15932 "Issues with SequenceReverse operator backward pass"
The behavior of SequenceReverse operator backward pass is different before and after #11742
https://github.com/apache/incubator-mxnet/pull/11742

The grad of sequence length has different values before and after this PR, causing issues for customers. My guess is this is because of an undefined behavior which is hit when casting from float to int or unsigned. The operator needs to be revisited to c

[2019-08-16 18:38] anirudh2290 commented on #15932
@access2rohit

[2019-08-16 21:13] zachgk commented on #15929
ping @larroy

[2019-08-16 21:16] zachgk commented on #15932
@apeforest

[2019-08-16 21:23] eric-haibin-lin opened #15933 "indexing op does not report out of bound indices"
out of bound error is reported in numpy:
[code]

but MXNet does not:

[code]

We can reuse the kernel in ` nd.take(mode='raise') ` to report such an error.

@reminisce @haojin2 @hhexiy

[2019-08-16 21:48] ChaiBapchya opened #15934 "[CI] Validation Website build failure"
#15761
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/PR-15761/7/pipeline/
[code]

[2019-08-16 21:49] ChaiBapchya commented on #15934
@mxnet-label-bot add [CI]

[2019-08-16 21:49] ChaiBapchya commented on #15934
@aaronmarkham any idea?

[2019-08-16 22:12] ChaiBapchya commented on #15925
Another one same PR
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15736/13/pipeline/316

[2019-08-16 22:12] apeforest commented on #15703
Further narrowed it down to topk operator. There is some implementation of TopKImpl that did not allocate correct amount of GPU memory. Working on a PR now.

[2019-08-16 22:53] larroy opened #15935 "unused -mf16c compiler flag during android build"
[code]

[2019-08-16 22:54] larroy commented on #15935
@mxnet-label-bot add [Android, Build,Good First Issue]

[2019-08-16 22:56] larroy commented on #15935
@mxnet-label-bot add [Call for Contribution]

[2019-08-16 22:58] ChaiBapchya commented on #13736
Fixed by  https://github.com/apache/incubator-mxnet/pull/14102

[2019-08-17 06:10] reminisce commented on #15931
I too encountered the illegal-memory-access error probably resulted from the root cause revealed here (I called `TBlob::reshape`). I think overriding assignment operator and copy constructor with `SetDLTensor()` explicitly called is reasonable.

[2019-08-17 06:28] xidulu commented on #15928
Hi @ptrendx , thanks for your reply, according to my discussion with @yzhliu , device-side API is much slower than host-side API.

Also, could you please talk a little bit about the advantage of your approach compared with mine? thx :)

[2019-08-17 08:50] ou525 commented on #10937
@ashkanaev  Is this problem solved? How to achieve it?

[2019-08-17 08:58] yzhliu commented on #15928
@ptrendx If I understand correctly, "static assignment" is what current mxnet is doing, which is "ndarray on GPU" in @xidulu 's table.

[2019-08-17 11:13] kshitij12345 commented on #15933
@eric-haibin-lin ,

From a quick view,
`take` as of now doesn't actually support `mode=raise`,
https://github.com/apache/incubator-mxnet/blob/a8b9728d5729b565fdf2f588d1985bb5eca7f68a/src/operator/tensor/indexing_op.h#L671-L675

https://github.com/apache/incubator-mxnet/blob/a8b9728d5729b565fdf2f588d1985bb5eca7f68a/src/operator/tensor/indexing_op.h#L679-L709

So as of now, it doesn't actually raise

[2019-08-18 03:56] ptrendx commented on #15928
@yzhliu No. What MXNet currently does is a scheme where, yes, each thread gets assigned statically some number of elements, but it has a while loop for each of them. The scheme I proposed has a single while loop that processes all elements assigned to a given thread. There is a big difference between these approaches, due to SIMT architecture of the GPU. Basically you can treat some number of thre

[2019-08-18 07:28] caiqi commented on #14875
I found that there are several ops not supported during converting, including slice_axis(..., end =None), slice_like, repeat, arange. But for a fixed input dimension, these operations can be replaced with normal slice_like, concat. The main problem is in box_nms.

[2019-08-18 09:02] hzfan commented on #15931
I created a fix in https://github.com/apache/incubator-mxnet/pull/15937#issue-308348737 by overriding assignment operator and copy constructor with SetDLTensor() explicitly called, as @reminisce suggested.
As @yzhliu  mentioned, this is not backward compatible. I'm not sure whether previous use of TBlob assignment (which seems to be heavily used) will be affected.

[2019-08-19 01:02] #12885 closed

[2019-08-19 02:13] ChaiBapchya commented on #12885
Would be great to know which PR fixed the flakiness issue. Like what was the reason behind its flakiness and how was it solved.
It's great that @larroy tested it and verified that its not flaky anymore. But curious to know the theoretical underpinning behind the solution.

[2019-08-19 06:44] hzfan commented on #15931
Fixed by https://github.com/apache/incubator-mxnet/pull/15937 . Issue closed.

[2019-08-19 06:44] #15931 closed

[2019-08-19 07:42] perdasilva commented on #15374
Still failing as of the 19th

http://jenkins.mxnet-ci.amazon-ml.com/job/NightlyTestsForBinaries/job/master/

[2019-08-19 08:33] xidulu commented on #15928
@ptrendx

The device-side api I mentioned is the `RandGenerator` class. (the one used in `ndarray.random()`), it generates random number with `curand_uniform()`:
https://github.com/apache/incubator-mxnet/blob/master/include/mxnet/random_generator.h#L111

Host api can be seen here (the one I used)
https://github.com/apache/incubator-mxnet/blob/master/3rdparty/mshadow/mshadow/random.h#L370
Random nu

[2019-08-19 09:09] #15735 closed

[2019-08-19 10:11] yzhliu commented on #15928
@ptrendx Thanks now I got what you mean.  I'm open to what you proposed. while I think one of the major problems with the device api is the maintenance of the random generator (and it's states).

[2019-08-19 10:13] tchaton commented on #9648
[code]

[2019-08-19 11:58] roywei commented on #15721
@iamthebot 2.2.4.2 is available now, https://github.com/awslabs/keras-apache-mxnet/releases/tag/2.2.4.2
this should be fixed.
 please reopen if this issue persists.

[2019-08-19 11:58] #15721 closed

[2019-08-19 11:59] roywei commented on #15833
@iamthebot 2.2.4.2 is available now, https://github.com/awslabs/keras-apache-mxnet/releases/tag/2.2.4.2
this should be fixed.
please reopen if this issue persists.

[2019-08-19 11:59] #15833 closed

[2019-08-19 14:41] ChaiBapchya commented on #15613
Benchmark doc fix PR https://github.com/apache/incubator-mxnet/pull/15769

[2019-08-19 17:22] deuscovrigus commented on #15747
I had the same problem on the cmake build since 1.4.0 and I can confirm that  -DCMAKE_BUILD_TYPE=RELEASE fixes it

[2019-08-19 18:52] samskalicky commented on #12795
Need to check and see if issue is resolved in https://github.com/apache/incubator-mxnet/issues/14619#issuecomment-504249531

[2019-08-19 19:07] haojin2 commented on #15563
Tried the test script on latest master and the bug is fixed now.

[2019-08-19 19:07] haojin2 commented on #15563
Closing the issue, feel free to reopen if the same bug pops up again.

[2019-08-19 19:07] #15563 closed

[2019-08-19 19:24] zachgk commented on #13485
Status: There was a fix for the PR by the user who created the issue in #14470. The user was asked to add a test as well and has not responded for a number of months. The fix was never merged.

[2019-08-19 19:45] ChaiBapchya commented on #11720
Another #15941
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-15941/2/pipeline

[2019-08-19 20:26] mphat10 opened #15945 "Please Update for R 3.6"
Thank you very much

[2019-08-19 21:16] abhinavs95 commented on #15927
@david-di This has been already fixed by #15150 but was merged after 1.5 release. Its not reproducible in latest pip.

Could you try with `pip install mxnet --pre`?

[2019-08-19 21:26] aaronmarkham commented on #15934
I had a bunch of build issues lately. I don't know the root cause. I found that if I pass in USE_BLAS=openblas on the `make` command, I can get around the build failures... whereas before, you could just do make without that.
I see that the jenkins pipeline for this doesn't set USE_BLAS:
https://github.com/apache/incubator-mxnet/blob/master/ci/docker/runtime_functions.sh#L1440

I guess what I'm sa

[2019-08-19 21:27] aaronmarkham commented on #15934
Here's one of the issue I was seeing:
https://github.com/apache/incubator-mxnet/issues/8773#issuecomment-521888720

[2019-08-19 22:37] apeforest commented on #15703
Root cause found:

it is due to this line: https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/ordering_op-inl.h#L434

mshadow::Shape is constructed using index_t, which by default is int32_t in MXNet 1.5. In this case, the workspace size is 3184736511 which exceeds 2^31 and hence causing integer overflow.

Workaround: turn on the USE_INT64_TENSOR_SIZE compiler flag

Possible

[2019-08-20 04:19] frankfliu commented on #15945
@mxnet-label-bot [R, feature request]

[2019-08-20 06:18] apeforest commented on #15703
@leezu Based on the analysis above, this is not a really memory usage regression but a bug due to integer overflow. The memory space required by the topk operator in your script is 2729810175 which exceeds 2^31 (max int32_t). It did not overflow in MXNet 1.4 because int64_t was used by default as the type for index_t. Therefore, this is another case where large integer support is needed in MXNet.

[2019-08-20 08:43] leezu commented on #15703
Thank you for diving deep to find the root cause! I'm not blocked by this fix having to wait for MXNet 1.6, but we may wan't ask @TaoLv as release manager. If the fix has to wait for 1.6 the regression should be documented, for example in the "known issues" section of the release notes? https://github.com/apache/incubator-mxnet/releases

What do you mean with "**partially** fixes" in #15948? Could

[2019-08-20 14:20] TaoLv commented on #15703
@apeforest Thank you for the analysis. What's the blocker to get this issue fixed on the v1.5.x branch?

[2019-08-20 16:25] leezu commented on #12795
The "Minimum reproducible example" works for me on 1.5 and current master. This can probably be closed?

[2019-08-20 17:38] apeforest commented on #15703
@TaoLv This is not an issue (bug per se) but limitation of int32_t data types we used in MXNet. As I pointed to the line https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/ordering_op-inl.h#L434 the workspace is created using a 1D mshadow::Shape object, whose length is bounded by `index_t` which is int32_t by default. When the workspace size required is larger than 2^31, the

[2019-08-20 20:33] PatriciaXiao commented on #15629
It isn't always like this: normally it won't happen, only after I tried to upgrade Python to 3.7 on server it becomes like this. Also, my laptop has local Python3.7 installed but nothing is wrong here, simply slow (without GPU). For now I couldn't reproduce the error anymore, since I terminated that buggy environment to make my life easier. But it is for sure that the above-mentioned code isn't ca

[2019-08-20 21:33] larroy commented on #15929
Hi @arsdragonfly
You have a dirty working directory, you should remove the build folder or really clean the repository. See dev_menu.py option 10, be careful because it will discard your local modifications.

[2019-08-21 00:00] samskalicky commented on #15613
@TaoLv I'd like to pull in the following PRs, they are necessary fixes for some of my use-cases:
https://github.com/apache/incubator-mxnet/pull/15245
https://github.com/apache/incubator-mxnet/pull/15917

[2019-08-21 00:06] apeforest commented on #15613
This PR fixes a memory misalignment bug in topk operator introduced recently. Please add it to 1.5.1 patch release:
https://github.com/apache/incubator-mxnet/pull/15948

Thanks

[2019-08-21 03:28] mahmoodn opened #15957 "error: call of overloaded is ambiguous"
With gcc 7.4 and cuda 10 and mxnet-1.4.1, I get this compilation error
[code]
details:
[code]
Any way to fix that?

[2019-08-21 06:00] pengzhao-intel commented on #15796
Fixed and closing.

[2019-08-21 06:03] #15796 closed

[2019-08-21 06:04] pengzhao-intel commented on #15796
Feel free to reopen if you encounter the problem again.

[2019-08-21 08:10] leezu commented on #15703
@apeforest It seems int32_t was not used for the topk operator prior to v1.5. Thus as v1.5 changed the defaults for topk, it created this regression. This needs to be documented, given that most users will not be aware of the work done on USE_INT64_TENSOR_SIZE flag and why it had to introduce int32_t for topk.

[2019-08-21 08:58] aaronpmishkin opened #15958 "Potential Bug using nd.tile Between Convolutional Layers"
## Description
I’ve encountered an issue using `mxnet.ndarray.tile` to upscale CNN embeddings so that they may be used as features in another convolutional map. First, embeddings are computed for a context set using a CNN; these embeddings are then tiled to match their original shape, appended as channels to a query set, and passed through another CNN. Cross-posted on the forum [here](https://disc

[2019-08-21 10:16] rocinant commented on #12806
change to s=mx.recordio.pack(header, b'') to solve the problem

[2019-08-21 12:32] Zheweiqiu commented on #15892
onnx version: 1.21.
mxnet version: 1.5.0
The model is downloaded from https://github.com/deepinsight/insightface/tree/master/RetinaFace under "RetinaFace Pretrained Models" section. There is a dropbox link with which you can directly download the model.
Thanks!

[2019-08-21 14:15] vuvko commented on #15656
seems related https://github.com/apache/incubator-mxnet/issues/13953

[2019-08-21 14:40] CynthiaProtector opened #15962 "ResNet18_v2 under the directory of /mxnet/example/gluon"
I tried to train _ResNet18_v2_ with CIFAR-10, the initial learning rate is 0.1, and decrease to 0.01 and 0.001 at the 80 epoch and 160 epoch (The _image_classification.py_ doest not implement the lr_scheduler function and I add that myself). Even training on a single node with 4 GPUs, the final test accuracy is around 81%, why is that?

[2019-08-21 15:43] CynthiaProtector commented on #15962
The following is a sample of the training log:

[2019-08-21 15:54] frankfliu commented on #15957
@mxnet-label-bot add [build]

[2019-08-21 15:56] frankfliu commented on #15958
@mxnet-label-bot add [operator, question]

[2019-08-21 15:58] frankfliu commented on #15962
@mxnet-label-bot add [training, question]

[2019-08-21 17:33] apeforest commented on #15703
@leezu int64_t was used by default in v1.4. However, we identified performance regression (https://github.com/apache/incubator-mxnet/issues/14496, https://github.com/apache/incubator-mxnet/issues/14790) due to the change of data type and therefore introduced a compiler flag to switch the default data type back to int32_t in v1.5. We are working on performance optimization with int64_t and plan to

[2019-08-21 17:44] marcoabreu opened #15965 "CI compilation times out on unix-gpu and centos-gpu"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15167/41/pipeline/50

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-15167/41/pipeline/44

Seems like the compilation is hanging.

CC @ptrendx

[2019-08-21 19:56] eric-haibin-lin opened #15966 "[Feature request] cast_like operator"
currently symbol doesn't support symbol.dtype API, and cast operator takes a pre-defined dtype as the input. It is necessary to introduce a cast_like(arr1, arr2) operator that cast `arr1` to the dtype of `arr2`.

[2019-08-21 21:44] ChaiBapchya opened #15967 "Tracking Large Tensor vector test coverage"
As part of the ongoing effort to cover certain set of operators for testing large vector support (vector size > 2^32)

Few ops that haven't been covered yet / Need to be fixed

1. ndarray convert types
e.g. `a.tostype('row_sparse')`

2. nd.dot
3. nd.where
4. nd.sparse.where

[2019-08-21 21:44] ChaiBapchya commented on #15967
@mxnet-label-bot add [Test]

[2019-08-21 21:45] ChaiBapchya commented on #15967
From @access2rohit PR #15943
https://github.com/apache/incubator-mxnet/pull/15943/commits/9bff00f0480b6fd278221f9b04483ccda05e3cc4

[2019-08-21 21:59] ChaiBapchya commented on #9381
Another data point - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15953/7/pipeline/

[2019-08-21 22:40] eric-haibin-lin opened #15968 "1 bit mask for Dropout"
Currently the mask generated by dropout op uses the same dtype and shape as the input. 1 bit per coordinate should be sufficient. Since dropout is heavily used after activations, this will save a lot of memory for training.

@ptrendx @DickJC123 @PatricZhao @TaoLv

[2019-08-22 03:11] frankfliu commented on #15968
@mxnet-label-bot add [feature request, operator]

[2019-08-22 04:22] ZhennanQin opened #15971 "CI fails with `PC-relative offset overflow in PLT entry`"
Description

Clang build failed with:
[code]

Full log:
[code]

Check below log for details:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fclang/detail/PR-15970/1/pipeline

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fclang/detail/PR-15961/5/pipeline

[2019-08-22 04:32] pengzhao-intel commented on #15971
@marcoabreu @apeforest @lanking520

[2019-08-22 05:02] apeforest commented on #15757
@pengzhao-intel There was some mistake in the earlier results due to CPU sharing. Chai has re-run profiling and collected the updated results here:

https://docs.google.com/spreadsheets/d/1GpdNquQb71Is5B-li99JDuiLeEZd-eSjHIIowzGrwxc/edit?usp=sharing

Please check the three sheets: Shape (1024, 1024), Shape (10000, 1) and Shape (10000, 100) corresponding to three different input  shapes. The runtim

[2019-08-22 05:33] marcoabreu commented on #15757
Erm why are we running cpu only benchmarks on a p3.16xlarge?

Lin Yuan <notifications@github.com> schrieb am Mi., 21. Aug. 2019, 22:03:

[2019-08-22 05:36] apeforest commented on #15757
@marcoabreu You are right. We should be more frugal :) @ChaiBapchya

[2019-08-22 05:39] marcoabreu commented on #15757
It's not necessarily only about frugality but also the c5.18xlarge contains
different processors than p3.16xlarge as far as I know. So the results
don't really reflect the reality - but I also don't think that they will
make a big difference. But in the future we should let apples stay apples
and pears be pears :)

Lin Yuan <notifications@github.com> schrieb am Mi., 21. Aug. 2019, 22:38:

[2019-08-22 06:16] ChaiBapchya commented on #15757
It didn't occur to me about the instance. Apologies for the same. @marcoabreu Thanks for bringing it to our notice.

Having said that wanted clarification
"So the results
don't really reflect the reality " - Why does running CPU only benchmark on p3.16xl not reflect reality? All the 4 config (int32,int32+mkl.int64,int64+mkl) were run on the same instance. Moreover, I was planning to run GPU benchm

[2019-08-22 06:39] wuxun-zhang commented on #15757
We have just collected the performance numbers of some operators (like fullyConnected, softmax, etc) with MKL-DNN implementation. We also compared the results between MKL-DNN v0.20 and v1.0. Now one local CLX-8280 with 28 physical cores is used to run benchmark. Later maybe we'll switch to AWS EC2 C5 instance.
Because I don't have edit access to Chai's google doc, so I just listed the results in a

[2019-08-22 06:48] arsdragonfly commented on #14589
Did you run into [this](https://github.com/microsoft/onnxruntime/pull/890) ? Have you solved it?

[2019-08-22 07:44] marcoabreu commented on #15757
It doesn't reflect reality in so far as that users would not run a cpu only build on a p3.16xlarge but on a c5 instead.

Right, they were run on the same instance, but I'm not sure (Intel, please confirm) if the CPUs in a c5 might perform differently. But in general I would doubt it and say that the relative results are still relevant, just not accurate.

I don't think it would make sense to be ho

[2019-08-22 07:48] CynthiaProtector commented on #9185
I have the same confuse with you. When training ResNet18_v2 with the CIFAR-10, the validation accuracy is around 81%. Have you solved this problem? I need your help badly.

[2019-08-22 14:00] arcadiaphy commented on #15844
@psmaragdis Looks like we've forgot to add read dependencies on saved tensors, I'm working on a PR to fix it.

[2019-08-22 15:56] unrelatedlabs opened #15974 "USE_NNPACK build flag not honored."
## Description
USE_NNPACK build flag not honored.

[code]

I get

[code]

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python 3.7

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):
gcc version 8.3.0 (Debian 8.3.0-6)

MXNet commit hash:
75a9e187d00a8b7ebc71412a02ed0e3ae489d91f

Build config:
[code]
## Error Message:
-- The C com

[2019-08-22 16:09] marcoabreu opened #15975 "Crashing test test_laop6"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-15972/1/pipeline/

[2019-08-22 16:27] ChaiBapchya commented on #15975
Faced this issue atleast 5-6 times and had mentioned about it in this issue https://github.com/apache/incubator-mxnet/issues/11720

[2019-08-22 16:59] apeforest commented on #15757
Hi @wuxun-zhang Thanks for the running the test and sharing data. Are the performance numbers generated from your inhouse profiling tool at Intel? We also noticed using average sometimes can be misleading due to some one glitch (one super large number). We used p50 number to present in the table instead.

[2019-08-22 17:08] NRauschmayr commented on #15866
Thanks for reporting this. We are actively working on website changes and documentation, where the version dropdown mechanism will be modified. We will make sure that this issue will be fixed.

[2019-08-22 17:12] marcoabreu commented on #11720
laop_3 and laop_6 are different tests, so I would differentiate if possible.

[2019-08-22 17:13] marcoabreu commented on #15975
Awesome, thanks! But lets keep the tests separate.

[2019-08-22 17:14] marcoabreu commented on #15971
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fclang/detail/PR-15976/2/pipeline

[2019-08-22 19:07] Jerryzcn commented on #15627
@ptrendx @Kh4L Are you interested in optimizing GroupNorm kernel? It is used in the more recent RCNN models.

[2019-08-22 19:46] ptrendx commented on #15627
We are always interested in optimization opportunities :-). That said, we would need to prioritize it and I don't think we have resources for it currently. If somebody wants to try in the meantime I would be more than happy to talk and help shaping the GPU algorithm though.

[2019-08-22 21:08] NRauschmayr opened #15978 "mx.nd.tile: too many reduction axes"
## Description
Following up from this thread: https://discuss.mxnet.io/t/potential-bug-using-nd-tile-after-convolutional-layers/4688/3
The user is using ```mx.nd.tile``` to create a (100,6,28,28) tensor from a (6,14,14) tensor. Concatenating this tensor with another (100,6,28,28) tensor leads to the following error:
[code]

[2019-08-22 21:57] aaronmarkham commented on #15866
You can disable the redirect for tutorials by modifying .htaccess.
https://github.com/apache/incubator-mxnet/blob/master/docs/build_version_doc/artifacts/.htaccess#L10
None of the tutorials in branches other than master are tested, so this change would introduce the issue that people can visit broken tutorials.
Tutorials really should have a prerequisites section that defines the minimum version(s

[2019-08-22 22:40] stu1130 commented on #15971
@ZhennanQin we disabled Clang MKLDNN job for now, please rebase it.

[2019-08-22 22:45] larroy commented on #15690
Not using threads causes forking.

[2019-08-22 23:35] sergeykolychev commented on #9381
@ChaiBapchya Thank you for the report, I'll take a look.

[2019-08-23 03:28] ntomer commented on #14875
Not sure if this is the right place to post, but I used the fixes from  PR #14942, fixed the issue for me but the next error is:
'AttributeError: No conversion function registered for op type _greater_scalar yet.'

Attempting to export 'ssd_512_mobilenet1.0_voc'

[2019-08-23 05:03] #15703 closed

[2019-08-23 05:40] wuxun-zhang commented on #15757
@apeforest I used the Chai's large tensor [benchmark scripts](https://github.com/ChaiBapchya/incubator-mxnet/blob/opperf_lts/benchmark/opperf/opperf_large_tensor.py) with latest MXNet master. So I think the data should be average but not a p50 number. Later I will update the data by using p50 metric to ensure consistency with your data.

[2019-08-23 10:08] #12806 closed

[2019-08-23 14:00] leezu commented on #14983
You can use the following workaround to make forward shape inference work for the use-case (thus working around the lack of reverse shape inference)

[code]

https://github.com/dmlc/gluon-nlp/blob/a9eb2fd38180b5affbd30ec78f33f6ef16ef9c20/src/gluonnlp/model/bert.py#L497-L499

[2019-08-23 15:45] NRauschmayr commented on #15978
closing the issue because the user already opened one: https://github.com/apache/incubator-mxnet/issues/15958

[2019-08-23 15:45] #15978 closed

[2019-08-23 16:25] ChaiBapchya commented on #15757
@wuxun-zhang For p50,90 and 99 numbers, I've this PR  https://github.com/apache/incubator-mxnet/pull/15953

Once that's merged you will be able to get those numbers using python's time module.

With profiler flag, you can choose between python or Native.

[2019-08-23 19:43] #14125 closed

[2019-08-23 20:10] ChaiBapchya commented on #15967
From my PR #15941
SequenceLast
[code]

[2019-08-23 20:12] ChaiBapchya commented on #14174
Again #15941
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15941/9/pipeline

[2019-08-23 23:12] larroy opened #15988 "Saving and loading singular arrays crashes the library"
This should not crash the library, either propagate an exception or preferrably handle it successfullly.

[code]

type_flag gets a garbage value on reading, presumably because the value is not read as the shape has 0 dimensions.
https://github.com/apache/incubator-mxnet/blob/master/src/ndarray/ndarray.cc#L1706

[2019-08-23 23:12] larroy commented on #15988
@mxnet-label-bot add [Bug, Breaking]

[2019-08-23 23:12] larroy commented on #15988
@reminisce @haojin2 @samskalicky

[2019-08-23 23:29] samskalicky commented on #15988
Can you please add this error message in the description:

[code]

[2019-08-23 23:30] krzjoa commented on #14933
I've encountered very similar problem when trying to run linear regression example.

### Environment
**R version 3.6.1 (2019-07-05)**
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 18.04.2 LTS

Matrix products: default
BLAS:   /usr/local/lib/R/lib/libRblas.so
LAPACK: /usr/lib/x86_64-linux-gnu/openblas/liblapack.so.3

locale:
 [1] LC_CTYPE=pl_PL.UTF-8       LC_NUMERIC=C

[2019-08-24 01:18] ChaiBapchya commented on #15975
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-15980/4/pipeline

PR #15980

[2019-08-24 02:37] larroy opened #15992 "Out of bounds access in req vector in MKLDNN"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-08-24 02:38] larroy commented on #15992
@pengzhao-intel @TaoLv

[2019-08-24 02:38] larroy commented on #15992
@mxnet-label-bot add [Bug, MKL]

[2019-08-24 02:41] larroy commented on #15992
@mxnet-label-bot add [breaking]

[2019-08-24 09:18] pengzhao-intel commented on #15992
@ciyongch @wuxun-zhang  please help take a look for this bug.

[2019-08-24 19:30] ChaiBapchya commented on #13455
@larroy I found `MaxIntegerValue` used in `sample_multinomial_op.h` incorrectly.
For example
[code]
[code]
Maybe this can facilitate discussion.

[2019-08-24 21:38] vandanavk commented on #15101
@ywwhxxtw ConstantFill operator is not available in ONNX anymore. Would Constant operator work for you? There's a PR https://github.com/apache/incubator-mxnet/pull/15993 adding support for Constant in MXNet.

[2019-08-24 21:49] vandanavk commented on #15788
@lookup1980 could you share your sym and params?
I tried with the resnet18 model in [GluonCV model zoo ](https://gluon-cv.mxnet.io/model_zoo/classification.html) and dint face any issues.

[code]

[2019-08-24 22:01] vandanavk commented on #15892
Thanks @Zheweiqiu. I faced this error:
`AttributeError: No conversion function registered for op type SoftmaxActivation yet.` with the model you shared on latest MXNet and ONNX v1.3.0.
There is no export support for this operator yet. Please open a feature request

[2019-08-24 23:22] YutingZhang opened #15997 "MxNet triggered Segmentation Fault when using together with Ray or PyTorch"
Platform: Ubuntu 16.04
MxNet version: 1.6.0 from pip (`mxnet-cu90mkl --pre`)

When MxNet is imported with some other commonly used library, such as ray and pytorch, segmentation fault happened.

**With Ray**, ray version: 0.7.3 (from pip)

[code]

Error messages:
[code]

**With PyTorch**,  torch version: 0.4.1.post2

[code]

Error messages:

[code]

[2019-08-25 00:19] YutingZhang commented on #15997
@anirudh2290 @larroy @zhreshold

[2019-08-25 01:40] #12755 closed

[2019-08-25 02:09] wkcn commented on #15997
It is related to the third-party memory allocation libraries, such as gperftools, tcmalloc, jemalloc. There is the same problem in other frameworks.

[2019-08-25 05:15] kkurni commented on #15472
I also get the same error on v1.5.x branch

/incubator-mxnet/build# cmake -DUSE_PLUGINS_WARPCTC=ON ..

[code]

Here is the error line.
https://github.com/apache/incubator-mxnet/blob/v1.5.x/CMakeLists.txt#L740-L741

Does it requires different parameter?

[2019-08-25 05:44] kkurni opened #15998 "Build MXNET with GPU but fail to import mxnet on CPU machine"
## Description
I tried to build mxnet with WARP_CTC enabled.
I need to run this mxnet on docker image with GPU
But I also need to run testing on CPU machine.

What is the build parameter that best for this purpose?

I tried to build using this make parameter
[code]

But I get error on docker on CPU machine during the import mxnet

[code]

If I build it using GPU docker with "nvidia default runtime

[2019-08-25 08:50] nopattern commented on #15472
you can try the old compiling method of 1.3.1.That worked for me.

[2019-08-25 09:36] QueensGambit commented on #15632
Hello @visionNoob, @zachgk and @aaronmarkham
thanks to your instructions (@visionNoob) I managed to build the MXNet cpp-package with Intel-MKL as well as CUDA support.
I summarized my findings here:
* https://github.com/QueensGambit/CrazyAra-Engine/wiki/Compile-instructions-for-Windows

On one system I was able to generate the `op.h` with the python script, but on another system I encountered a ch

[2019-08-25 09:50] QueensGambit commented on #15640
A preprint of our paper is now available on arXiv:
* https://arxiv.org/abs/1908.06660

The paper describes among other things the network architecture in more detail.
Moreover, the Monte-Carlo tree search was reimplemented in C++ using the MXNet C++ Package:
* https://github.com/QueensGambit/CrazyAra-Engine

[2019-08-25 10:43] ciyongch commented on #15992
Sure, I will take a look at this.

[2019-08-25 11:27] ciyongch commented on #15992
@larroy I've created a PR https://github.com/apache/incubator-mxnet/pull/16000 to fix this bug. The reason of CI not catching this is: STL vector dosen't check for `[]` operator, while `at()` does.
I checked the `new_req` in the code, and seems it's not necessary, so it could be removed and use original `req` instead.

[2019-08-25 17:25] larroy commented on #15992
Thanks for looking into this. With cmake we are adding range check for stl containers in debug mode which also checks in operator []. See h
-D_GLIBCXX_ASSERTIONS  define in cmake build.

[2019-08-25 17:26] mahmoodn opened #16001 "Low kernel performance"
I have profiled the latest git version on 1080ti and see that there is kernel named "mshadow::cuda::AddTakeGradKernel` which is really slow. The achieved occupancy is 0.031 and the executed IPC is 0.064.
I haven't seen this kernel to be in the top used kernel list before (I mean the version I used 6 months ago). I also see this [issue](https://github.com/apache/incubator-mxnet/issues/2612) which i

[2019-08-25 17:28] mahmoodn commented on #16001
I forgot to say that it seems that the kernel implementation is [here](https://github.com/dmlc/mshadow/blob/master/mshadow/cuda/tensor_gpu-inl.cuh) which has not been updated since 2 years ago.

[2019-08-25 17:35] YutingZhang commented on #15997
@wkcn Thanks! Good to know that. My goal is to use Ray together with MxNet. It seems Ray works fine with PyTorch.

[2019-08-25 22:12] sxjscience commented on #16001
@mahmoodn Which MXNet version are you using? The current implementation would never use the AddTakeGradKernel.

[2019-08-25 22:49] iGEM-Thessaloniki-2019 commented on #5290
In Ubuntu 18.04, the following error:

`    sander: error while loading shared libraries: libgfortran.so.3: cannot open shared object file: No such file or directory`

was fixed by running

`    sudo apt-get install libgfortran3:amd64`

`Also, in place of amd64 the I am aware of the following options: i386, i586, i686, x86_64.  `

[2019-08-25 23:01] donhk1011 opened #16002 "How to get sliding window output?"
Hi,

Is there any function in mxnet that gives sliding window output like the ‘unfold’ in Pytorch?
e.g.,
(https://pytorch.org/docs/master/nn.html?highlight=unfold#torch.nn.Unfold)
(https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.lib.stride_tricks.as_strided.html)
![image](https://user-images.githubusercontent.com/32080634/63658191-99ef6600-c75d-11e9-9c3f-f7b70563cc96.png)

It sho

[2019-08-26 01:41] ciyongch commented on #15992
@larroy Thanks for point out this. Does the current CI enable debug mode?

[2019-08-26 04:37] stu1130 opened #16004 "Split index operator files into smaller pieces"
## Description
Split the bigger object file `index_op.o` which is generate by `indexing_op.h`, `indexing_op.cc`, `indexing_op-inl.cuh` and second bigger object file`elemwise_unary_op_trig.o` which is generated by `elemwise_unary_op_trig.cc` and `elemwise_unary_op_trig.cu` into smaller pieces like #15922.
It helps compiler compile the files parallelly and solve `out of heap space` error

[2019-08-26 06:18] EmilPi commented on #14447
Hello, I installed latest 2019-08-23 build using `sudo -H pip3 install mxnet-cu100==1.6.0b20190823` - issue still present there.

[2019-08-26 06:29] mahmoodn commented on #16001
I have cloned using git command. I will try one more time. Here are the commands that I use:

[code]
Do you agree with that?

[2019-08-26 06:56] Zheweiqiu commented on #15892
Thanks @vandanavk for trying out. I go this error at first. After I googled, according to this [answer](https://github.com/onnx/onnx/issues/1954) I replace all "SoftmaxActivation" with "softmax" in the *.json file. Then I got the error stated in the question. Do I need to re-train the model using op "softmax" instead of "SoftmaxActivation"?
Thanks!

[2019-08-26 08:44] leezu commented on #16001
There used to be a `AddTakeGradLargeBatchCaller` kernel that was faster but buggy on newer GPUs (NVIDIA® Tesla® V100). It was subsequently removed https://github.com/apache/incubator-mxnet/pull/11795/
Did you previously use the version of mxnet before this change?

[2019-08-26 09:32] haojin2 commented on #11809
@ChaiBapchya Can you actually bump up the tolerance a bit, like atol to 1e-4 instead of 1e-5?

[2019-08-26 10:28] mahmoodn commented on #16001
Yes. I used a git version back in April or May and ran it on M2000 with cuda-10.
Anyway, I tried one more time and here are the full details. I appreciate any feedback.

clone
[code]

make
[code]
Full output is available [here](https://srv-file6.gofile.io/download/hgIVBA/nohup.zip).

Install
[code]

Run command
[code]

Please download the output file from [here](https://srv-file6.gofile.io/downloa

[2019-08-26 11:59] EmilPi opened #16010 "DropConnect Layer"
[This page](https://rodrigob.github.io/are_we_there_yet/build/classification_datasets_results) claims that TOP accuracy on MNIST is achieved using DropConnect (the link to the paper is broken, original paper is [here](http://yann.lecun.com/exdb/publis/pdf/wan-icml-13.pdf)).
I was searching over stackoverflow and other sites, but didn't find the DropConnect implementation. Regarding other framework

[2019-08-26 13:17] Pagey opened #16011 "integer overflow bug in large NDArray AGAIN"
## Description
a bug that has been fixed last year [https://github.com/apache/incubator-mxnet/pull/11742](url) seems to have returned-
when creating large NDArrays indexes seem to overflow

## Environment info (Required)
windows, version 1.6

## Error Message:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Program Files\Python36\lib\site-packages\mxnet-1.6.0-py

[2019-08-26 13:35] sxjscience commented on #16001
I’m not aware of the change. The AddTakeGrad kernel should not be used. We need to revise the code of AddTakeGradLargeBatch instead.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mahmood Naderan <notifications@github.com>
Sent: Monday, August 26, 2019 3:28:40 AM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust

[2019-08-26 13:39] sxjscience commented on #16001
@mahmoodn You are correct. We should add back the LargeBatch version. It’s quite essential to the performance of take.

[2019-08-26 13:44] sxjscience commented on #11314
In fact, the correct way to solve the problem should be to try to use the mshadow version or fix the bug in the CUDA code.

[2019-08-26 13:52] sxjscience commented on #11314
Simply removing the implementation causes performance downgrade. https://github.com/apache/incubator-mxnet/issues/16001

[2019-08-26 14:33] mahmoodn commented on #11314
Thanks for the effort.
Is it fine to set `MXNET_FORCE_ADDTAKEGRAD=0` before the run?

[2019-08-26 15:06] aaronpmishkin commented on #15958
Is there an update on this issue? My current understanding is that MXNet's backend produces a tensor whose dimensions exceed the maximum permitted by the broadcast-reduce operator. Is there a workaround for the issue?

[2019-08-26 15:07] mahmoodn commented on #11314
So, in order to revert to the previous implementation, is it enough to remove + lines and add - line?

[2019-08-26 15:12] mahmoodn commented on #11314
Looking at https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/indexing_op.h#L537, I see
[code]
which has been changed since the first post in this topic.

[2019-08-26 15:15] leezu commented on #16001
`AddTakeGradLargeBatchCaller` would be applicable if you were running a version from 1 year ago. If you ran the git version back in April or May, `AddTakeGradLargeBatchCaller` must be unrelated as it was already removed at that point in time.

[2019-08-26 15:15] leezu commented on #16001
Can you confirm you didn't run a >1 year old version?

[2019-08-26 15:18] mahmoodn commented on #16001
I don't have access to the machine right now. I will pursue that in the next week.
At the moment, I want to know how to fix this...

[2019-08-26 15:56] mahmoodn commented on #16001
I want to test 1.2.0 released on May 22, 2018.
The source package doesn't contain 3rd party files though. I also see some recent changes in 3rdparty/
So, what can I do? Isn't there any way to get one year old 3rdparty/ packages?

[2019-08-26 16:12] mahmoodn commented on #16001
Excuse me, but it seems that in the released package, there is no `.git`. Therefore, I am not able to add submodules.
[code]

[2019-08-26 18:55] mahmoodn commented on #16001
But as I said the source package in the asset section of 1.2.0 is missing 3rdparty/
Please see the output below

[code]

[2019-08-26 19:28] mahmoodn commented on #16001
@sxjscience  Unfortunately, it failed with the following error
[code]
It seems that 1.2.0 is not compatible with cuda 10. I will try some alternatives, either version above 1.2.0 or cuda 9.

[2019-08-27 01:17] ciyongch commented on #15992
@larroy Yeah, that make sense for not catching such error in current CI. So it's better to enable this check in CI in the future, right?

[2019-08-27 01:49] Zheweiqiu commented on #15892
I tried remove the attribute mode for softmax operator but got the following error:
AttributeError: No conversion function registered for op type UpSampling yet.
I believe same problem will be encountered even if I retrain the model and I see this issue is still working in progress.
Thanks for your reply!

[2019-08-27 01:51] pengzhao-intel commented on #14979
@larroy thanks to head up. In the next release, mklml will be removed so the binary will be more clear :)

@TaoLv @xinyu-intel could you take a try in local?

[2019-08-27 01:53] TaoLv commented on #14979
@larroy Could you please share the detailed steps to reproduce? Which version of mxnet should I use?

[2019-08-27 03:53] AaronFan1992 commented on #15892
I meet the same problem. wish to solve asap, thanks for a lot.

[2019-08-27 06:23] ZHAIXINGZHAIYUE commented on #14434
@eric-haibin-lin @zachgk  当使用update_on_kvstore=False 时， mxnet 如何保证初始化的权重在不同的节点上都是一样的？
[code]

[2019-08-27 09:10] zfatgxu opened #16019 "d"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-08-27 09:11] fsaina commented on #15265
@sheep94lion would you please provide some help how you managed to do that ? I would be very much grateful if you could take share to path you took in order to get mxnet working on android.

[2019-08-27 09:21] yangwenhuan opened #16020 "Is there any communication between parameter servers?"

[2019-08-27 13:50] TaoLv commented on #16019
Closing since no information was provided.

[2019-08-27 13:50] #16019 closed

[2019-08-27 13:54] TaoLv opened #16021 "[CI] openblas build failed in static build"
I notice the openblas 0.3.5 build failed in static build but the CI still passed.

[code]
For example:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15983/3/pipeline/297

[2019-08-27 13:56] TaoLv commented on #16021
@zachgk @lanking520 @szha

[2019-08-27 18:28] mahmoodn commented on #16001
Do you want me to uninstall cuda 10.1 and install 9.2 before that `pip`?
Or you mean installing the binary 1.2.0 binary for 9.2 on my cuda 10.1?

[2019-08-28 00:46] pengzhao-intel commented on #14979
As a request from @larroy, I am reopening this issue.

[2019-08-28 01:43] YouhuiBai commented on #15674
@apeforest I think it's probably not related to the Dataloader,  the pinned memory is used at worker to communicate with server through parameter server, all the workers use the pinned memory except the worker whose rank id is zero.

[2019-08-28 08:30] wuxun-zhang commented on #15757
Hi @ChaiBapchya , is there has some updates for this [large tensor benchmark script](https://github.com/ChaiBapchya/incubator-mxnet/blob/opperf_lts/benchmark/opperf/opperf_large_tensor.py)? I tried to run this script with [this commit](https://github.com/apache/incubator-mxnet/commit/ab602142d97681401526e2278effcdff43bec31a) and will get such an error below. Look that this error is caused by incom

[2019-08-28 14:59] TaoLv commented on #15613
@KellenSunderland, the 3 PRs were already merged to v1.5.x. Please update for the other two if we still need them.

[2019-08-28 14:59] TaoLv commented on #15613
@ChaiBapchya, thank you for the report. Could you please cherry pick it to the v1.5.x branch and tag me in the PR?

[2019-08-28 15:00] TaoLv commented on #15613
@samskalicky , please pick them to v1.5.x and tag me in the PR. I will update the cwiki page accordingly.

[2019-08-28 15:01] TaoLv commented on #15613
@apeforest Any update? Is it still true that we can pick this to v1.5.x?

[2019-08-28 18:42] anirudh2290 opened #16030 "Flaky test : test_amp_conversion"
### Description
Flaky test, test_amp_conversion : http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15943/26/pipeline/315 .

This seems to be only happening when cast_optional_param=True. Will add a PR commenting out this part of the test for now and will investigate further.

[2019-08-29 01:39] wkcn commented on #14253
Hi @reminisce , I try to pass a numpy-compatible array into a legacy operator, and it raises this error.

[code]

I hope that the legacy operator is the subset of

[2019-08-29 01:54] keetsky commented on #12018
Have solved? I met the same issue.

[2019-08-29 02:19] keetsky commented on #12018
If i let `mx.sym.BatchNorm(data=fc1, fix_gamma=True, eps=2e-5, momentum=bn_mom, name='bn3')`
and save to onnx model,but when i load onnx mode ,find that mxnet default set fix_gamma to False in _op_translations.py `    # in test mode "fix_gamma" should be unset.
    new_attrs['fix_gamma'] = not attrs.get('is_test', 1)` ,so my predict results are diffrent, how to fix it?

[2019-08-29 02:20] kkurni commented on #15998
Yes, I link it with cuda path.

I am using nvidia docker image. During runtime in CPU, it has the cuda driver there inside /usr/local/cuda

But it is still complaining about cudalib

[2019-08-29 02:41] jackchinor commented on #15796
@pengzhao-intel  when I run quantize example with 1.Model Quantization with Intel® MKL-DNN , there is a error :"quantize_model_mkldnn only support Intel cpu platform with MKL-DNN Backend", I didn't change the example code. I install mxnet-mkl through"pip install mxnet-mkl --pre".Could you tell me how to fix it ?

[2019-08-29 02:46] pengzhao-intel commented on #15796
@jackchinor could you paste your cmd and output? @xinyu-intel

[2019-08-29 02:49] xinyu-intel commented on #15796
@jackchinor try to set ctx to cpu

[2019-08-29 03:00] yangwenhuan commented on #16020
Could you show me the relative source code?

[2019-08-29 06:21] DerHaddy opened #16033 "Building MXNet C++ from Source with VS 2017 Error LNK1248"
Hey all,

I am currently trying to build MXNet C++ API. I have done this (https://mxnet.incubator.apache.org/versions/master/install/windows_setup.html) guide for VS 2017.  After 4 hours of building time I got this Error:

[code]

I just read that there is a maximum build size even from 32 bit even at 64 bit, but I'm not sure.
Can someone help me with this issue?

Thanks

[2019-08-29 11:09] ZHAIXINGZHAIYUE opened #16036 "ndarray error"
File "/home/Apps/anaconda2/lib/python2.7/site-packages/mxnet/base.py", line 254, in check_call
    raise MXNetError(py_str(_LIB.MXGetLastError()))
mxnet.base.MXNetError: [18:41:07] include/mxnet/././tensor_blob.h:290: Check failed: this->shape_.Size() == static_cast<size_t>(shape.Size()) (3072008192 vs. 18446744072486592512) : TBlob.get_with_shape: new and old shape do not match total elements
Sta

[2019-08-29 12:15] khui commented on #13482
+1

[2019-08-29 12:51] ZHAIXINGZHAIYUE commented on #16036
what's the max size of an ndarray ?

[2019-08-29 16:45] apeforest commented on #16036
By default it's 2^31 (max int32). To support large tensor size, you may need to build MXNet from source with compiler flag USE_INT64_TENSOR_SIZE.

[2019-08-29 16:49] matteosal opened #16037 "LSTM with MKL-DNN produces wrong output after weights are changed"
## Description
1) Create an RNN op with `mode='lstm'` and bind it
2) Run a forward pass
3) Change the NDArray holding the RNN parameters
4) Run a forward pass again

The output doesn't change, unless the second forward pass is performed in training mode (`is_train=True`). Setting `MXNET_MKLDNN_ENABLED=0` doesn't fix the issue, but using a build without MKL-DNN does.

This severly impacts training

[2019-08-29 16:53] leleamol commented on #15626
@mxnet-label-bot add [NDArray]

[2019-08-29 17:04] leleamol commented on #15626
I could reproduce this issue.  As per the call stack below the operator "Concat" fails to infer the shapes.    I also noticed that the operator "_zeroes" fails to infer shape when we try to intialize ndarray as follows:
m = mx.ndarray.zeros((0,4))
This is already captured in the issue #15766

I am curious to know what is the significance of having "0" as one of the shape dimension?

Here is the ca

[2019-08-29 17:37] larroy commented on #15998
I would recommend to try to use "ldd" and work on the LD library path environmental variables.

[2019-08-29 17:49] leleamol commented on #16036
@mxnet-label-bot add [NDarray]

[2019-08-29 17:51] leleamol commented on #16037
@mxnet-label-bot add [Bug, MKLDNN, RNN]

[2019-08-29 17:53] leleamol commented on #16033
@mxnet-label-bot add [Build, Windows]

Can you try buildingin in the Release configuration? This would reduce the size of image.

[2019-08-29 17:57] mahmoodn commented on #16001
OK I installed cuda-9.2 toolkit only in another path and changed PATH and LD_LIBRARY_PATH to catch that path.
[code]
Although it ended up with an error, the generated output file is available at https://srv-file7.gofile.io/download/edLeC9/run.zip

As you can see, `AddTakeGradLargeBatchKernel` is in the top place.

Please see below that I installed mxnet-cuda9.2 from pip and then cloned the repo an

[2019-08-29 18:02] sxjscience commented on #16001
@mahmoodn Sorry that I cannot access the provided output file. Has the speed been faster if the AddTakeGradLargeBatchKernel is used?

[2019-08-29 18:10] kkurni commented on #15472
Do you mean, I can only build the warpctc with make instead?

make -j$(nproc) USE_OPENCV=0 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1 USE_MKLDNN=0 WARPCTC_PATH=${WARP_CTC_DIR}/warp-ctc MXNET_PLUGINS+=plugin/warpctc/warpctc.mk

[2019-08-29 18:52] mahmoodn commented on #16001
Unfortunately, no...
When I profile with no metric, I see the following kernel rankings where `AddTakeGradLargeBatchKernel` is on the top.

https://pasteboard.co/IuYuGmA.png

When I profile with `--metrics ipc`, I see that kernel goes to the second place. Also, the IPC is low on 1080ti.

https://pasteboard.co/IuYudIO.png

[2019-08-29 18:56] sxjscience commented on #16001
Which script are you using for the profiling?

[2019-08-29 19:04] sxjscience commented on #16001
Also, the kernel used is this one: https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/indexing_op-inl.cuh#L45-L53 .

[2019-08-29 19:37] kkurni commented on #15998
I cannot find the "libcuda.so.1" on my CPU machine. "/usr/lib/x86_64-linux-gnu"
(I am using nvidia/cuda:10.1-cudnn7-devel-ubuntu18.04 docker image)

So my question is how to build mxnet that is compatible with GPU but also CPU.

Is there any way to do this?

[2019-08-29 21:43] ptrendx commented on #15589
We have multiple improvements to BERT inference and training speed that we would like to be part of 1.6 release:
[x] Softmax optimizations (#15545 )
[ ] Pointwise fusion for GPU (#15167 )
[ ] Eliminate common expressions (#15657 )
[ ] Bias speed improvements (#16039 )
[ ] Aggregated AdamW optimizer (not yet PR'ed)
[ ] Aggregated zeroing of the gradients (not yet PR'ed)
[ ] Aggregated sum of square

[2019-08-29 23:17] roywei commented on #15589
Moving fixing nightly failure from 1.5.1 scope to 1.6.0 as they are failing on master branch not 1.5.x branch.
https://github.com/apache/incubator-mxnet/issues/15613#issuecomment-516937546

[2019-08-30 00:31] anirudh2290 commented on #9686
`module.bind` API has a param named data_shapes which is misleading because the param is not limited to just shapes but they are data descriptors and accept DataDesc instances. I think this should be fixed in 2.0

[2019-08-30 00:50] ZhennanQin commented on #16037
Probably it's because the stateful RNN op doesn't check if weight is changed. We will look at this. @pengzhao-intel

[2019-08-30 01:08] ZHAIXINGZHAIYUE commented on #16036
@apeforest thank you.

[2019-08-30 01:08] #16036 closed

[2019-08-30 02:09] ZhennanQin commented on #16037
@zixuanweeei Would you  please have a look for this?

[2019-08-30 02:28] Zheweiqiu opened #16042 "Error when calling get_backend_symbol"
I am using the following code to use tensorrt to speed up inference but got some errors:
The mxnet model I am loading is retinaface downloaded from [Retinaface](https://github.com/deepinsight/insightface/tree/master/RetinaFace) under "RetinaFace Pretrained Models".
[code]

File “/home/qiuzhewei/RetinaFace/retinaface.py”, line 224, in init
trt_sym = sym.get_backend_symbol(‘TensorRT’)
File “/opt/con

[2019-08-30 02:44] zixuanweeei commented on #16037
@ZhennanQin Sure. Just as you have said, it is definitely caused by that stateful RNN op won't check weights again after it has been initialized with MKL-DNN memory format in inference procedure.

[2019-08-30 04:01] KellenSunderland commented on #15690
Also able to get this to work with threading.  Preference is to use multi-processing.

[2019-08-30 04:13] KellenSunderland commented on #15613
Added:
https://github.com/apache/incubator-mxnet/pull/16043

[2019-08-30 04:15] ZhennanQin commented on #16042
TensorRT integration isn't built by default. To enable this backend, you need to build from source with `USE_TENSORRT=1`

[2019-08-30 04:33] apeforest opened #16045 "[Doc] operator source points to the incorrect file"
http://mxnet.incubator.apache.org/versions/master/api/python/ndarray/ndarray.html#mxnet.ndarray.mean

This operator is defined in https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/broadcast_reduce_sum_value.cc#L83

However, the auto-generated doc file points to https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/broadcast_reduce_op.h#L83

[2019-08-30 04:59] pilhoon commented on #8358
I just reinstalled mxnet, and this was fixed.
try,
`pip install -U mxnet-cu90` or (`pip install -U mxnet`). Don’t miss the `U` flag.

[2019-08-30 05:11] Jerryzcn commented on #14883
MXNet function call overhead is quite high

http://tvm.d2l.ai.s3-website-us-west-2.amazonaws.com/chapter_cpu_schedule/call_overhead.html#overhead-of-numpy-tvm-and-mxnet

[2019-08-30 05:26] Jerryzcn commented on #14883
related: https://github.com/apache/incubator-mxnet/issues/8112

[2019-08-30 06:13] zixuanweeei commented on #16037
@matteosal Thanks for you reporting this issue. We are addressing the problem. PR is on the way. Thanks.

[2019-08-30 06:51] sxjscience opened #16048 "[Numpy] DType information losses when converted from numpy"
[code]

[code]

[code]

[code]

[2019-08-30 06:52] sxjscience commented on #16048
@haojin2

[2019-08-30 06:55] sxjscience commented on #16048
Also, would be more consistent if we could print `float32`, `int64` instead of the raw class name

[2019-08-30 08:40] TaoLv commented on #16021
Ping @zachgk  @lanking520. Could please take a look at this issue?

[2019-08-30 09:27] #15656 closed

[2019-08-30 10:01] mahmoodn commented on #16001
I just used `nvprof --metrics ipc -o run.nvvp python text_cnn.py --num-epochs=1 --gpus=0`

[2019-08-30 10:10] canerturkmen opened #16049 "Initializers should implement `__eq__`"
## Description
HybridBlocks do not initialize with params when parameter initializers are explicitly given, and two initializers don't match (by reference).

## Environment info (Required)
[code]
## Error Message:
[code]

## Minimum reproducible example
[code]

## Steps to reproduce
(Paste the commands you ran that produced the error.)

1.
2.

## What have you tried to solve it?

1.
2.

[2019-08-30 10:50] dheeraj-coding commented on #14851
I was looking into this issue and I couldn't find these pylint erros in the current master branch. Is it fixed?

[2019-08-30 11:04] dheeraj-coding commented on #14851
I was looking into this issue and it this error doesn't seem to be there in the current master.
Current Error log from `make pylint`
[code]

[2019-08-30 12:04] matteosal commented on #16037
Great!
I also see the same problem with modes `rnn_relu` and `rnn_tanh`, while `gru` is fine.

[2019-08-30 14:30] dheeraj-coding opened #16050 "Update setup_docs_ubuntu.sh for 18.04 - R Dependencies."
## Description
Update the setup_docs_ubuntu.sh file to use new repositories for installing r-base as the current repositories fail to install in Ubuntu 18.04

## Environment info (Required)
Ubuntu 18.04

[2019-08-30 14:31] dheeraj-coding commented on #16050
@mxnet-label-bot this is improvements and not Doc

[2019-08-30 17:28] leleamol commented on #16042
@Zheweiqiu please let us know if building with TENSORRT solves the issue.

@mxnet-label-bot add [Question, Build, Pending Requester Info]

[2019-08-30 17:33] reminisce commented on #16048
Acutally, the `fp32` conversion is intended since it's the default dtype in DL. We don't try to match everything exact with numpy, but rather provide a numpy-like experience which is tailored for DL applications.

I will see what we can do for stringizing `dtype`. Thanks.

[2019-08-30 17:40] sxjscience commented on #16048
Would it be better to convert int types to int32?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: reminisce <notifications@github.com>
Sent: Friday, August 30, 2019 10:34:00 AM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Author <author@noreply.github.com>
Subject: Re: [apache/incubator-mxnet] [Numpy] A

[2019-08-30 18:53] leleamol commented on #16049
@mxnet-label-bot add [Gluon, Question]

[2019-08-30 18:56] leleamol commented on #16050
@mxnet-label-bot add [Feature Request]

[2019-08-30 19:08] dheeraj-coding commented on #16050
I can work on this if it is a required feature.

[2019-08-30 20:11] lanking520 commented on #16021
Let me try it locally...

[2019-08-30 20:32] eric-haibin-lin opened #16051 "Segmentation fault on softmax with length"
MXNet version:
[code]
Sample code:
[code]
Error message:
[code]
@haojin2

[2019-08-30 20:33] eric-haibin-lin commented on #16051
There is also no documentation for example inputs/outputs.

[2019-08-30 20:40] eric-haibin-lin commented on #14373
We have a temporary workaround in https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/model/transformer.py#L420-L501 but this bug should definitely fixed in MXNet

[2019-08-30 20:44] ChaiBapchya commented on #12383
Unable to look at the pipeline and hence the error. Can you paste the failure/error?

[2019-08-30 20:45] ChaiBapchya opened #16052 "[CI] Clojure test failure"
Lein test Clojure Failure in CI
For unrelated PR - #15941

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15941/22/pipeline/
[code]

[2019-08-30 20:45] ChaiBapchya commented on #16052
@mxnet-label-bot add [Test, CI]

[2019-08-30 21:54] leleamol commented on #16049
I think this is what is happening.
1. When MyBlock is first instantiated and assigned to "bl", it creates the "some_param" with "init=mx.init.Constant(-10.0)"
2. While instantiating another object (at the end of the script), we retrieve params from "bl" (using bl.collect_params()) and set them to be params for the newly instantiated object.
3. In the newly instantiated object, when "self.params.ge

[2019-08-30 22:13] stu1130 commented on #15971
The PR that disables the test coverage has been merged. It would significantly decrease the size of the object files. But when MXNet keep growing, at some point we might still have the same issue again. Then the best solution is to add -mcmodel=large on mxnet & all the statically link libraries.

[2019-08-30 22:35] yuxihu commented on #15971
Close the issue for now as resolution has been provided. Please reopen it if further questions.

[2019-08-30 22:35] #15971 closed

[2019-08-30 22:36] yuxihu commented on #14263
A fix [PR](https://github.com/apache/incubator-mxnet/pull/15981) has been merged. Could you please try to verify if it fixes your problem?

[2019-08-30 22:40] yuxihu commented on #15965
@marcoabreu @ptrendx Are you still seeing the same issue in your PRs? We tried to look into the logs in the provided build and there seems very little useful information there. If we do not have data points showing we consistently hit the same issue, it can be some intermittent infrastructure (ec2, networking, etc) issues.

[2019-08-30 23:49] vandanavk commented on #15892
Support for Upsampling operator is currently in review. Operator changes in https://github.com/apache/incubator-mxnet/pull/15811 and ONNX support in https://github.com/apache/incubator-mxnet/pull/15994. You could pull in these changes and build locally to try immediately. Else, you could watch out for these 2 PRs getting merged.

[2019-08-31 00:06] vandanavk commented on #14875
@caiqi @ntomer feel free to contribute the ONNX conversion for these missing operators :+1:

[2019-08-31 00:12] Zheweiqiu commented on #16042
Hi @ZhennanQin,
When you say "build from source", do you mean set parameter `USE_TENSORRT=1` when building the model or do I need to reinstall mxnet library with tensorrt support? I guess it is the former one since I can successfully call `mxnet.contrib.tensorrt `.

[2019-08-31 08:31] VoVAllen opened #16054 "[Bug] Error initialization with gluon when using mx.set_np_shape(True)"
## Description
[code]
[code]

## Environment info (Required)

Latest MXNet 1.5

Package used (Python/R/Scala/Julia): Python

## Issue Related
https://github.com/dmlc/dgl/issues/814

[2019-08-31 08:38] VoVAllen commented on #16048
Seems related to error at https://github.com/apache/incubator-mxnet/issues/16054

[2019-08-31 14:34] tianzheng4 opened #16056 "ImportError: cannot import name 'ftml_update'"
Operating system: Ubuntu 16.04
Cuda version: cuda 9.0
Python 3.6.6

I have installed mxnet-cu90==1.0.0 using pip3. However, when I try "import mxnet", I got the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/dist-packages/mxnet/__init__.py", line 42, in <module>
    from . import optimizer
  File "/usr/local/lib/python3.6

[2019-08-31 14:41] tianzheng4 commented on #16056
@mxnet-label-bot add [Installation]

[2019-08-31 14:56] gigasquid commented on #12383
This is from last year `2018` - I'm not sure which test it was because the log is not there anymore, but the Clojure package did fix some tests. I think this should be closed and reopened if any failures occur again.

[2019-08-31 14:56] gigasquid commented on #12383
@aaronmarkham are you ok to close this?

[2019-08-31 20:01] ChaiBapchya opened #16059 "[Website] Version selection dropdown on get_started"
Website's version selection dropdown can be made cleaner

![image](https://user-images.githubusercontent.com/10992635/64068569-ca685180-cbee-11e9-8ae2-7f3e760dfa5c.png)

[2019-08-31 20:01] ChaiBapchya commented on #16059
@mxnet-label-bot add [website-beta]

[2019-08-31 20:21] perdasilva commented on #16021
Bumping openblas to v0.3.7 seems to fix the issue =)

[2019-09-01 03:35] reminisce commented on #16054
@VoVAllen Could you try the following? It works for me with the latest master branch. `mx.set_np_shape` is requested by DGL folks and is not an official user-facing API. If you want to enable numpy-like mode completely, please use `npx.set_np()`. Please know that numpy-like functionality is still under active development and there are still many places in Gluon to be converted in the following mon

[2019-09-01 04:50] zixuanweeei commented on #16037
@matteosal That's right. The problem won't apear with GRU, because we haven't integrated MKL-DNN GRU into MXNet yet. It will be available in the near future.

[2019-09-01 06:25] pengzhao-intel commented on #16037
@matteosal thanks to reporting the issues which are really helpful.
Would you mind introducing some background of how your organizations are using MKL-DNN so that we can have better supports or more cooperations?
My official email: patric.zhao@intel.com

[2019-09-01 08:16] yifeim opened #16060 "[bug] mxnet.ndarray.sparse.norm fallback regression in 1.5.0 and master"
## Description
mxnet.ndarray.sparse.norm causes sparse fallback in CSRNDArray in 1.5.0 and master. Additionally, that the regression passed unit tests suggests deeper issues. For example, all sparse regression fallbacks happen silently in the background, instead of being surfaced to the caller. This makes it difficult to id the root cause.

## Environment info (Required)

[code]

Package used (Pyt

[2019-09-01 08:30] canerturkmen commented on #16049
Indeed, that is a nice workaround.

Ultimately I thought this was an issue since the two initializers are (logically) equivalent, and that the `Initializer` class does not implement `__eq__`. But if it's expected behavior that the parameter initialization compares initializers by reference, my question is answered.

[2019-09-01 10:31] mahmoodn commented on #16001
@sxjscience
Is `AddTakeGradLargeBatchKernel` correct? Should I see that in 1.2.0 with cuda-9.2?

[2019-09-01 13:03] TaoLv commented on #16021
Thank you @perdasilva. Do you have a fix for that? The mkldnn-v1.0 feature branch is also suffering from this issue.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16012/3/pipeline

[2019-09-01 14:25] VoVAllen commented on #16054
@zheng-da Could you take a look at this and https://github.com/dmlc/dgl/issues/814? I'm not familiar with things behind `set_np_shape`. Currently dgl is incompatible with gluon due to this API. Do you think the solution above is fine?

[2019-09-01 17:05] perdasilva commented on #16021
@TaoLv I've just opened a PR, please review and merge if ok =D

[2019-09-02 00:09] eric-haibin-lin commented on #14434
you need to manually do kvstore.pull after kvstore.init to make sure all weights are initialized to the same value

[2019-09-02 00:10] eric-haibin-lin commented on #15933
Raise mode added in #15887

[2019-09-02 00:12] eric-haibin-lin commented on #15662
@ptrendx @DickJC123 just FYI

[2019-09-02 00:13] eric-haibin-lin commented on #16020
The code is at https://github.com/apache/incubator-mxnet/blob/master/src/kvstore/kvstore_dist.h
and
https://github.com/apache/incubator-mxnet/blob/master/src/kvstore/kvstore_dist_server.h
Feel free to reopen for further questions

[2019-09-02 00:13] #16020 closed

[2019-09-02 02:09] Zheweiqiu commented on #15892
The mxnet was installed using pip command. Do I need to uninstall it and rebuild it from source to reflect those changes?

[2019-09-02 05:11] eric-haibin-lin commented on #15918
Yes. `load_states` only loads the state for context[0] if update_on_kvstore=False, which makes GPU memory explode..

[2019-09-02 05:44] nopattern commented on #15472
yes ,I think that worked.

[2019-09-02 08:42] gyshi opened #16068 "CI error in unix gpu test_quantization_gpu.test_quantized_conv"
more details

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16067/1/pipeline
[code]

[2019-09-02 10:11] Pagey opened #16070 "yajiedesign/mxnet "This branch is 137 commits behind apache:master.""
does anybody know why this branch hasn't been updated in a month?  @yajiedesign can it be fixed? new precompiled releases are produced every day but on outdated source

Thanks

[2019-09-02 11:05] matteosal commented on #16037
Sure, I'm writing you from my Wolfram work email

[2019-09-02 14:17] #15709 closed

[2019-09-02 17:23] eric-haibin-lin opened #16076 "Improve binary op kernel with MKL"
Binary op kernel is used for distributed kvstore at server side for gradient aggregation: https://github.com/apache/incubator-mxnet/blob/073c898e6abf415f98813acd52f11145962c96a0/src/kvstore/kvstore_dist_server.h#L732

but it is not using vectorized vsadd in MKL in its implementation:

https://github.com/apache/incubator-mxnet/blob/8df946978d68713237fd520605adc22729d241aa/src/ndarray/ndarray.cc#L89

[2019-09-02 17:47] #16068 closed

[2019-09-02 21:34] sxjscience commented on #16054
@VoVAllen I can confirm that both code snippets could run using the latest MXNet master.

[2019-09-02 22:19] ptrendx commented on #16051
Is the problem here that the length is fp32 and not one of integer types?

[2019-09-03 00:51] ZhennanQin commented on #16042
I mean you need "to reinstall mxnet library with tensorrt support".  But if you can "successfully call mxnet.contrib.tensorrt", then I assume you're using the build that enable TensorRT backend. Then please try to add `os.environ['MXNET_USE_TENSORRT'] = '1'`  in your scripts. Please read this documentation for full details:
https://github.com/apache/incubator-mxnet/blob/master/docs/tutorials/tenso

[2019-09-03 03:17] pengzhao-intel commented on #16076
@eric-haibin-lin is there any use case and background?

[2019-09-03 03:35] haojin2 commented on #16070
@Pagey Are you trying to use @yajiedesign's personal fork?

[2019-09-03 03:45] eric-haibin-lin commented on #16076
Any distributed training job with parameter server uses this for gradient aggregation.

[2019-09-03 03:45] eric-haibin-lin commented on #16076
@PatricZhao maybe the right tag is MKL instead of MKLDNN?

[2019-09-03 05:21] haojin2 commented on #16051
@eric-haibin-lin
This is what I got on my end with your code
[code]
If I change your code to:
[code]
I get:
[code]
Which seems like a correct answer to me.

[2019-09-03 05:41] eric-haibin-lin commented on #16051
@haojin2 thanks. I'm not sure why it does not show the intended error msg on my. I was using Mac. Were you also using macOs?
Also - in the doc shall we include an example of using use_len=True, and that the length must be int types?

[2019-09-03 05:56] Pagey commented on #16070
Yep the windows precompiled builds- they are also referenced in MXNet windows docs- the files are compiled (automatically?) about once a day, but it like the fork hasn’t been updated from mxnet master since 1st August 2019

[2019-09-03 08:59] R1ncy commented on #15320
hi, have you solved it? I get similar in python.
And it can't be reproduced when in debug mode, too.

[2019-09-03 12:41] kaiserdan commented on #13520
Thanks for the suggestion @zhaotun. I faced the same problem and your proposed fix solved it.

[2019-09-03 15:48] sxjscience commented on #16054
@VoVAllen Correct my the previous comment. The following code still raises the error:
[code]

We have to use
[code]

[2019-09-03 16:26] leleamol commented on #16070
@mxnet-label-bot add [Doc, Build, Windows]

[2019-09-03 16:37] leleamol commented on #16049
Thanks @canerturkmen for your response!

@lanking520  Please feel free to close this issue

[2019-09-03 16:42] yuxihu commented on #15965
I am closing the issue for now. Let's reopen if it surfaces again. Thanks.

[2019-09-03 16:42] #15965 closed

[2019-09-03 17:03] #12383 closed

[2019-09-03 20:10] aaronmarkham opened #16083 "can't run CI scripts on Windows"
## Description
When running the build script to emulate CI tests while on a Windows host, I ran into an error that's a platform limitation.
[code]

Yields:
[code]

Googling about says that you can't use `getuid` on Windows. If we want to support a Windows community for development, we should probably not have this fail for Windows users. Seems like we could put a placeholder in there if on Windows

[2019-09-04 01:41] damvantai opened #16087 "Error memory leak in multi thread use Threading library in python, when predict from same a model for multi thread"
Error memory leak in multi thread use Threading library in python, when predict from same a model for multi thread
mxnet 1.5 after merge https://github.com/apache/incubator-mxnet/issues/15375, why still have that error when inference

[2019-09-04 02:21] VoVAllen commented on #16054
Thanks! I'll update the code in dgl.

[2019-09-04 02:34] wkcn commented on #15836
Hi @phunterlau @szha @zhreshold , the binary package on Windows is still built on the older master branch. Could you please help have a look?

[2019-09-04 03:34] eric-haibin-lin commented on #14264
@reminisce do we have numpy compatible reshape in mx.np.reshape?

[2019-09-04 04:03] reminisce commented on #14264
@eric-haibin-lin Yes, there is one. It's just that it returns a copy of the input ndarray, instead of a view.

[2019-09-04 05:33] sxjscience commented on #14883
Some profiling results:
https://gist.github.com/sxjscience/f069d49b250820be4483debfa9a8d4b5

Here I used NaiveEngine
[code]

[2019-09-04 06:09] pengzhao-intel commented on #16037
Fixed and closing. Thanks to reporting the issue :)

[2019-09-04 06:09] #16037 closed

[2019-09-04 06:31] #16054 closed

[2019-09-04 07:02] Zheweiqiu commented on #16042
Here is the result after I tried to follow the document
My initial code:
[code]
I added one line according to your answer
[code]
But I still got the error:
mxnet.base.MXNetError: [06:56:32] src/c_api/../operator/subgraph/subgraph_property.h:367: Check failed: it != prop_ptr_map_.end(): SubgraphProperty TensorRT is not found in SubgraphPropertyRegistry

Then I tried alternative in that document and

[2019-09-04 14:40] Tianxiaomo opened #16090 "ONNX dosen't support SwapAxis"
## onnx dosen't support SwapAxis
model have operater,
[code]
but when I export onnx model,
[code]
## Environment info (Required)
python 3.6.8
mxnet 1.4.1
onnx 1.5.0

[2019-09-04 17:25] xidulu commented on #15928
@ptrendx @yzhliu
I will create a PR for `np.random.gamma` implemented using the method I proposed before the end of the week, as I need to proceed to implement more distribution samplers, in which the gamma sampler serves as a necessity.
Refactoring  `nd.random` may be left for further discussion.
--------------------------------------

(P.S. Personally speaking, I think performance is not the onl

[2019-09-04 17:50] smpawlowski opened #16093 "mx.viz.print_summary doesn't report parameters for a symbol"
## Description
mx.viz.print_summary reports zero parameters for a symbol that has parameters.

## Environment info (Required)
Windows 10, python, mxnet 1.5.0

## Error Message:
See example below that trains a network with 3 parameters. The parameters are correctly trained, but not reported by mx.viz.print_summary
Output of the sample script below:
Params before training: --------------------------

[2019-09-04 21:39] cannedprimates opened #16095 "Julia NDArray getindex by row not implemented?"
I was trying to go through

https://mxnet.incubator.apache.org/versions/master/tutorials/basic/ndarray_indexing.html

using the Julia API and I noticed that indexing by row (e.g. arr[:,1]) doesn't seem to have been implemented yet. I also looked at

https://github.com/apache/incubator-mxnet/blob/master/julia/src/ndarray/array.jl

and didn't see an implementation there. Would be cool to have! :)

[2019-09-04 23:57] smukund28 opened #16096 "FixedBucketSampler needs last_batch = discard feature"
Feature Request :

When DataLoader uses a Sampler, one cannot rely on the last_batch='discard' feature. It would be nice to have this in place for Sampler as well.

What have you tried to solve it?
One way to overcome this error is to pad the samples and load the data. Another way is to simply check for the batch size in the loop and discard if the sample size does not match the batch size..

Exam

[2019-09-05 05:50] VoVAllen opened #16098 "[Bug] Unrecognize parameter shape after npx.set_up()"
## Description
In MXNet:
[code]

After importing dgl:
[code]
Basically, it is not a problem when creating, training & saving models.
However, when loading models from files by net.load_parameters(filename), it throws errors like:
shape (32,-1) is incompatible with shape (32, 8).
So we cannot correctly load the model by using the current API.

Related issue: https://github.com/dmlc/dgl/issues/829

[2019-09-05 05:56] VoVAllen opened #16099 "[Bug] NDArray asscalar error after set npx.set_np()"
## Description
[code]

![image](https://user-images.githubusercontent.com/8686776/64315490-c10f2880-cfe4-11e9-90eb-86e82d113688.png)

[2019-09-05 06:14] reminisce commented on #16098
It looks like you saved a net which has not been initialized. It should work like the following. However, recent changes on ndarray indexing has prevented assigning a legacy `NDArray` to `mxnet.numpy.ndarray`. So the `load` function cannot work now. I will submit a PR to fix this.
[code]

[2019-09-05 06:21] reminisce commented on #16099
The problem is that scalar sanity check for legacy NDArray is not numpy-compatible. I can send in the fix, but could you explain in what situation you would need to do this with numpy semantics on?

[2019-09-05 06:22] VoVAllen commented on #16099
It's from `assert a[0] == 1`, which calls `bool(a[0]==1)`, and would trigger the error.

[2019-09-05 07:10] damvantai commented on #1432
but in Vram Gpu, my memory still don't reduce.

[2019-09-05 07:52] hgt312 commented on #13482
+1

[2019-09-05 09:50] haojin2 commented on #16070
@Pagey Would you please kindly point me to the doc that you're using now? so that I could double-check and provide help to you.

[2019-09-05 10:11] Pagey commented on #16070
@haojin2 e.g. here: https://mxnet.incubator.apache.org/versions/master/install/windows_setup.html
as i said, the prebuilds are build every day or other day there, but for some reason the code hasn't been updated in a month- me and others use these prebuilds for windows installations- i could compile myself from source but this was better

[2019-09-05 11:40] pengzhao-intel commented on #15767
@matteosal sorry for the delay. The PR is blocked by 3rd party package but it is resolved and will be merged soon.

[2019-09-05 13:53] chongruo opened #16101 "[Feature Request] np.where compatible operator"
## Description
### Bug
[mx.nd.where()](https://beta.mxnet.io/api/ndarray/_autogen/mxnet.ndarray.where.html?highlight=where#mxnet.ndarray.where) shows an incorrect behavior when one of the inputs is an NDArray with zero size.

Here is a reproducible example
[code]
The output is weird and it seems that the NDArray with zero size has not been checked. We expect that it would raise an error showing th

[2019-09-05 15:18] chongruo commented on #16101
@mxnet-label-bot  add [Bug]

[2019-09-05 15:20] chongruo commented on #16101
@mxnet-label-bot  add [Feature request]

[2019-09-05 17:36] eric-haibin-lin opened #16102 "Usability degradation"
[code]
But recent build hides error messages:
[code]

[2019-09-05 17:41] ngupta23 commented on #5979
I had a similar problem with all outputs predicting the same value. For my case, there were a couple of things that I had to change to fix this.

Change the architecture of the neural network (number of neurons in the layers). There was no fixed rule that worked for me. In some cases, when I increased the number of neurons, the predictions were same for all observations. In other cases, when I inc

[2019-09-05 17:47] apeforest commented on #15674
@YouhuiBai Thanks for the explanation.When you say "current newest mxnet" has straggler, are you   implying there was no such behavior before? If so, do you remember the last working version? I can do a trace back to see which PR introduced this.

[2019-09-05 17:55] sxjscience commented on #16102
I think we should also test for the exceptions. We need to test
[code]

[2019-09-05 18:18] reminisce commented on #16102
I suspect this may be related to some variations on the nightly build platforms. I built the latest master from source on mac os; the error message and stack trace can be printed correctly. However, the latest nightly build gives the seg fault and the stack trace is irrelevant with the code.

[2019-09-05 18:20] reminisce commented on #16101
Scalar tensors like below is not supported in `mx.nd` module. We need to implement a numpy-compatible where op for this purpose. I will add this op to the list and prioritize it.
[code]

[2019-09-05 18:30] igolan opened #16103 "Different default values for NDArray and Symbol in random.multinomial"
## Description
```mxnet.symbol.random.multinomial```
 and
```mxnet.ndarray.random.multinomial```
 have different default values for the argument get_prob.
That confusing, specifically when using hybrid blocks, and calling
```F.random.multinomial```
 without specifying a value for get_prob.

Signatures:
[code]
vs.
[code]
## Environment info (Required)
N/A

Package used (Python/R/Scala/Julia):
MXNET

[2019-09-05 18:33] #15759 closed

[2019-09-05 18:34] sxjscience commented on #15759
Thanks @kshitij12345 !

[2019-09-05 19:13] zhreshold commented on #15629
I can confirm that this can be reproduced with anaconda environment + pip installed mxnet.
However,
- locally built mxnet + python3.7 have no issue.
- mac + python3.7 + pip installed mxnet have no issue.

 So I suggest to tranfer this issue to pypi package building pipeline to see if the statically linked libs are causing the error.
@szha

[2019-09-06 02:13] adc17 opened #16106 "src/executor/graph_executor.cc:1847: Check failed: arg_names.size() == in_args_map.size() (2 vs. 1)"
## Description
Running `lein test` in the clojure package directory results in two occurrences of the following error, causing the test suite to fail: `org.apache.mxnet.MXNetError: [01:57:41] src/executor/graph_executor.cc:1847: Check failed: arg_names.size() == in_args_map.size() (2 vs. 1)`

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia): Clojure

For Scala user, plea

[2019-09-06 04:16] anirudh2290 commented on #15148
@rvardimon thanks for raising the issue. Have you looked at the profiler output from mxnet , when you load the model params it initially loads on cpu so you may see a spike but then it should be released after set_params is called. if not module api is adding some overhead which should be looked at: @karan6181

[2019-09-06 04:21] anirudh2290 commented on #16102
There are already tests for exception handling: https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_exc_handling.py . The problem is we don't test for macos, do we ? Having said that this was working at some point in time, so as @reminisce suggests this may be issue only with specific builds.

[2019-09-06 05:09] ZhennanQin commented on #16106
Hi @adc17 , probably caused by enabling `MKLDNN` subgraph backend by default on master. Subgraph assumes that the input variables have unique name, if not, the error message you provided will be shown. I don't have the environment to run clojure-package, but I guess it's caused by the improper test cases that use same name for multiple variables. May I know the case names that failed? Then I can h

[2019-09-06 06:03] samskalicky opened #16108 "Subgraph API creates duplicate inputs and outputs"
## Description
Subgraph API can create duplicated tensors for both inputs to a subgraph and outputs from a subgraph. This happens when there are multiple nodes in a subgraph that consume the same input, or when there are multiple nodes that consume a single subgraph output. This results in tensor duplication, and causes OOM due to excessive memory usage.

## Minimum reproducible example
Consider t

[2019-09-06 06:27] dwSun opened #16110 "ndarray treated uint8 as signed value"
## Description
ndarray treated uint8 as signed value, cause nd.mean and nd.sum return confused values.

## Environment info (Required)

[code]

MXNet commit hash:
mxnet 1.5.0/mxnet-mkl 1.5.0 from pypi

## Error Message:
[code]

## Minimum reproducible example
[code]

[2019-09-06 08:42] ElaineBao commented on #15640
Hi, @QueensGambit, this issue has been fixed in mxnet 1.6. As version of 1.6 has not released yet, you can install nightly build version: `pip install mxnet-mkl==1.6.0b20190903` .

I've tested above scripts on this version:

[code]

As you can see, relu with shape `mb1ic128` and sigmoid with shape `mb1ic256` have a faster performance than that in 1.5.0, and achieve the same result as 1.4.1.

[2019-09-06 10:36] QueensGambit commented on #15640
Great news!
I'm happy to update to MXNet-1.6.0 or MXNet-1.6.0-Dev for the next _CrazyAra_ release.
Thank you for awesome work.

[2019-09-06 10:39] #15640 closed

[2019-09-06 17:51] HahTK commented on #16108
Two things to add :

1. A temporary fix has been tested for fixing the output duplication. (code below)
This fix fits things into the current function signatures and had to redo similar computation in 2 spot
2. A better fix would be to introduce a map for output_entries and input_entries to allow 1-many and many-1 mappings between the subgraph and the maingraph. Conceptually, similar with the fix

[2019-09-06 20:40] eric-haibin-lin opened #16111 "Incompatible data type for numpy ops?"
[code]

Many math operators in numpy (such as `log`) do not return integer result. However, `mx.np` does. Is this expected?

[2019-09-06 20:42] eric-haibin-lin commented on #16111
@reminisce @sxjscience

[2019-09-06 20:52] reminisce commented on #16111
Yeah, we are already aware of this and has been working on this. It requires us to re-write the kernel of those ops and that would become much less tedious and efforts after we use TVM op module developed by @yzhliu . One catch here is that we may not be able to provide backward compute function for int input types as the backward pass shares the same infer type function as the forward. So for tho

[2019-09-06 21:17] sxjscience commented on #16111
@reminisce I think it's reasonable.

[2019-09-06 21:26] sxjscience commented on #16111
Link this with https://github.com/apache/incubator-mxnet/issues/16048

[2019-09-06 22:30] reminisce opened #16113 "[Flaky] test_mkldnn.test_activation"
[code]
@PatricZhao Any idea? Thanks.

[2019-09-06 22:54] adc17 commented on #16106
@ZhennanQin The Clojure test cases that failed are `test-maximum` and `test-minimum`: https://github.com/apache/incubator-mxnet/blob/6de684825130c28dfa75f2a707aeaed64a4340e5/contrib/clojure-package/test/org/apache/clojure_mxnet/operator_test.clj#L409-L441

Changing the duplicate `"data"` strings to `"data1"` and `"data2"` resolves the failures 🎉.

@gigasquid I think the correct fix is to update th

[2019-09-06 23:22] karan6181 commented on #15148
- I see roughly 2 GB of CPU memory usage when I ran the user script and also with the below minimum reproducible script using Gluon.

- ```python
  import mxnet as mx
  import gluoncv
  from time import sleep

  net = gluoncv.model_zoo.get_model('cifar_resnet20_v1', pretrained=True, ctx=mx.gpu())
  net.hybridize()

  #print(net.summary(mx.nd.ones((1, 3,28,28), ctx=mx.gpu())))
  sleep(20)
[code]

-

[2019-09-07 00:10] gigasquid commented on #16106
@adc17 looks reasonable to me. Thanks for helping on this 💯

[2019-09-07 00:23] anirudh2290 commented on #15148
We ( I and @karan6181  ) looked at a bunch of things to understand where the overhead is coming from. We looked at Resource Request and attach op resources pass. We looked at object pool in threaded engine, and at turning off OPENMP and MKLDNN and checking, but the overhead is still there. We looked at the overhead caused by different arrays in the module api.  Overhead is not coming from any of t

[2019-09-07 03:23] yifeim commented on #16060
@eric-haibin-lin

[2019-09-07 03:55] eric-haibin-lin commented on #16060
It looks like the regression happens around April 16th
[code]

[2019-09-07 05:21] sxjscience commented on #16102
@anirudh2290 Have we tested the case for reshaping to an invalid shape?

[2019-09-07 05:33] #13220 closed

[2019-09-07 11:56] pengzhao-intel commented on #16113
@ElaineBao could you help take a look?

[2019-09-07 18:04] iblis17 commented on #9686
Julia-related issue
- [ ] remove MXNET_HOME backward compatibility https://github.com/apache/incubator-mxnet/pull/15568#discussion_r321972339

[2019-09-07 18:07] eric-haibin-lin commented on #16060
I did further bisecting and the error happens starting commit 3f3ba92ae1468d08de088d2291ca14e2d5dc5515 @reminisce
Need to look into it a bit more

[2019-09-07 19:56] #16021 closed

[2019-09-08 03:31] adc17 commented on #16106
I had a look this evening; if we wanted to make the error message clearer it would be DRYest to throw something in the scala stack.

I think it's just `createFromListedSymbols` and `createFromNamedSymbols` that would need patching:

https://github.com/apache/incubator-mxnet/blob/3ff1d8794c432142999199df77963ace161ff493/scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala#L1210-L1213

ht

[2019-09-08 08:59] zixuanweeei commented on #16113
FYI @ElaineBao , using `MXNET_TEST_SEED=851486559` could produce failed test of this. And I also tested it with `MXNET_TEST_COUNT=100, MXNET_TEST_SEED=42`, which results to the test passed.

[2019-09-08 09:40] mahmoodn opened #16121 "Using custom gcc version"
Is there any way to use custom gcc version instead of the default on the system? A method other than exporting CC, CXX.

[2019-09-08 17:45] marcoabreu commented on #16102
Agree, I think the issue is how we compile. Seems like we're stripping debug symbols.

[2019-09-08 17:46] marcoabreu commented on #16087
Hi, can you provide us with a reproducible example?

[2019-09-08 17:47] marcoabreu commented on #16083
Build.py doesn't support Windows and it's also not trivial not planned due to the deep integration of our scripts into the host filesystem. In the end, build.py is a CI utility and not intended to be end-user facing.

[2019-09-08 17:47] #16083 closed

[2019-09-09 00:07] ChaiBapchya opened #16123 "test_gluon_gpu.test_ctc_loss seg fault"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-16104/6/pipeline

#16104

[2019-09-09 00:36] ChaiBapchya commented on #16123
Caused by not merging with the updated master. Code coverage to be ignored merged #16107

[2019-09-09 00:36] #16123 closed

[2019-09-09 01:09] ElaineBao commented on #16113
@zixuanweeei Thank you for the test! I'll reproduce the case.

[2019-09-09 01:12] smartwell commented on #13482
+1

[2019-09-09 01:15] ZhennanQin commented on #16108
We found the same issue when implementing MKLDNN subgraph backend. To address this, we introduced 2 APIs: `ConnectSubgraphOutputs` and `ConnectSubgraphInputs`, which can reduce the duplicated inputs and outputs. Subgraph backend developer have to manually use those 2 APIs to handle this case by case, which isn't quite convenient. It's a good improvement if subgraph pass can handle this automatical

[2019-09-09 04:13] sxjscience commented on #14883
The overhead is `33.87945038931711` after we used the default Engine (comment NaiveEngine line)

[2019-09-09 13:12] gigasquid commented on #16106
@lanking520 Thoughts on the Scala side above? ^

[2019-09-09 15:59] igolan opened #16130 "Imperative execution in MXNET with multiple GPUs does not run in parallel"
## Description
When running MXNET in imperative (not hybrid) mode using multiple GPUs, it seems like the GPUs do not run in parallel.

## Environment info (Required)

[code]

Package used: Python

## Build info (Required if built from source)
N/A

## Error Message:
N/A

## Minimum reproducible example
Running GluonCV modelzoo cifar_resnet110_v2 on CIFAR10:
[HYBRID profiler output](https://imgur.co

[2019-09-09 17:01] apeforest commented on #15374
@access2rohit Can you help to check if the nightly test failure is still related to your topk change?

[2019-09-09 17:47] access2rohit commented on #14263
@yuxihu Still Not fixed

[2019-09-09 18:05] anirudhacharya commented on #10051
@mxnet-label-bot add [Bug]

[2019-09-09 18:06] anirudhacharya commented on #10494
@mxnet-label-bot add [Bug]

[2019-09-09 18:20] lanking520 commented on #16106
Sure, please do a PR in there. I also find some tricks we can do to automatically figure out the data names:

- `LIB.NNSymbolListInputNames` will bring you all names in the Symbol including the input
- You can find all names for Parameter while loading.

The subtraction for the above two will be the input names.

[2019-09-09 18:43] zhreshold commented on #15629
Seems like a duplicate of #14979, and there's more context there, closing to avoid duplicate investigations.

[2019-09-09 18:43] #15629 closed

[2019-09-09 18:54] apeforest commented on #16103
Since this will impact backward compatibility and there is a plan to consolidate symbol and ndarray modules in 2.0, we will address this issue in MXNet 2.0: https://github.com/apache/incubator-mxnet/issues/9686

[2019-09-09 18:54] #16103 closed

[2019-09-09 19:48] ptrendx commented on #16042
@KellenSunderland @Caenorst

[2019-09-09 21:25] #15927 closed

[2019-09-10 00:36] anirudhacharya commented on #10051
I was able to run the below code snippet for 100 runs without any errors. Maybe we can close this issue.

[code]

[2019-09-10 01:11] access2rohit commented on #15374
Ran [amp tutorial](https://github.com/apache/incubator-mxnet/blob/master/docs/tutorials/amp/amp_tutorial.md) manually and found no error

Output:
`
[00:13:37] src/base.cc:84: Upgrade advisory: this mxnet has been built against cuDNN lib version 7401, which is older than the oldest version tested by CI (7600).  Set MXNET_CUDNN_LIB_CHECKING=0 to quiet this warning.
Model file is not found. Downloadi

[2019-09-10 01:18] ElaineBao commented on #16113
Hi, @zixuanweeei , your case has been solved in https://github.com/apache/incubator-mxnet/pull/16133, it's caused by the discontinuous gradient at the origin.
Hi, @reminisce , your case seems not happen near the origin, but unfortunately I run for 10000 times and cannot reproduce the case. Can you please provide the MXNET_TEST_SEED of that case? Thank you.

[2019-09-10 01:30] access2rohit commented on #15374
`$ python -c "from mxnet.runtime import Features; print(Features())"

[✔ CUDA, ✔ CUDNN, ✖ NCCL, ✖ CUDA_RTC, ✖ TENSORRT, ✔ CPU_SSE, ✔ CPU_SSE2, ✔ CPU_SSE3, ✔ CPU_SSE4_1, ✔ CPU_SSE4_2, ✖ CPU_SSE4A, ✔ CPU_AVX, ✖ CPU_AVX2, ✖ OPENMP, ✖ SSE, ✔ F16C, ✖ JEMALLOC, ✔ BLAS_OPEN, ✖ BLAS_ATLAS, ✖ BLAS_MKL, ✖ BLAS_APPLE, ✖ LAPACK, ✖ MKLDNN, ✖ OPENCV, ✖ CAFFE, ✖ PROFILER, ✖ DIST_KVSTORE, ✖ CXX14, ✔ INT64_TENSOR_

[2019-09-10 01:37] Zheweiqiu commented on #16042
Still facing the same problem after trying approaches listed above, can you take a look at it?
Thanks in advance!

[2019-09-10 05:40] Caenorst commented on #16042
@Zheweiqiu Can you show the whole process / script that you did for building MXNet ?

[2019-09-10 07:12] Zheweiqiu commented on #16042
I am using retinaface mxnet model and the code is basically from [github](https://github.com/deepinsight/insightface/blob/master/RetinaFace/retinaface.py). I want to speed up the reference using tensorrt, so I modify it a little bit.
The whole scrip is too long so I only attach modification I make. Below is original code from line 113 to 138.

`    sym, arg_params, aux_params = mx.model.load_check

[2019-09-10 12:11] RomanSteinberg opened #16134 "Incorrect subtraction"
## Description
The result of subtraction is influenced by third party code.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
I'm using Python

## Build info (Required if built from source)
None

## Error Message:
None

## Minimum reproducible example
[code]

## Steps to reproduce

1. source ~/insightface/venv/bin/activate
2. python test_mxnet.py

The observed result is

[2019-09-10 12:35] leezu commented on #16134
I can't reproduce this on Ubuntu 18.04 with neither MXNet 1.5 from pypi nor a local build from latest master.

Could you please share more information about the version of PyQt5 as well as the systems that you experience the issue? How does the 4th computer on which you cant repro differ from the other 3 on which you experience the issue?

[2019-09-10 13:53] Caenorst commented on #16042
@Zheweiqiu Sorry, I asked you about the process for BUILDING MXNet.

[2019-09-10 14:00] lostella opened #16135 "Sampling fails on mxnet-mkl==1.5.0?"
## Description
Some random sampling functions seem not to be working on mxnet-mkl version 1.5.0.

## Environment info (Required)

[code]

I'm using Python, pip-freeze gives:

[code]

## Error Message:

[code]

## Minimum reproducible example

[code]

[2019-09-10 14:46] lostella commented on #16135
This still did not occur in `mxnet_mkl-1.4.1`, and appears to be still occurring in `mxnet_mkl-1.6.0b20190909`

[2019-09-10 20:53] ChaiBapchya commented on #16134
@mxnet-label-bot add [Bug, Question]

[2019-09-10 20:54] ChaiBapchya commented on #16090
@mxnet-label-bot add [ONNX]

[2019-09-10 20:54] ChaiBapchya commented on #16090
@vandanavk take a look
@Tianxiaomo thanks for pointing out

[2019-09-10 20:55] ChaiBapchya commented on #16060
@mxnet-label-bot add [Bug, Operator]

[2019-09-10 22:12] ChaiBapchya commented on #16135
@mxnet-label-bot add [Operator, Bug]

[2019-09-10 22:14] ChaiBapchya commented on #16135
Thanks for pointing out.
I was able to reproduce this issue for `pip install mxnet==1.5.0`, `pip install mxnet==1.6.0`

No error for `pip install mxnet==1.4.0`
So likely introduced in patch release 1.4.1

[2019-09-11 00:25] eric-haibin-lin commented on #15968
@apeforest

[2019-09-11 02:08] Zheweiqiu commented on #16042
You mean the process of building model? I am using the pretrained model from [github-retinaface](https://github.com/deepinsight/insightface/tree/master/RetinaFace) under "RetinaFace Pretrained Models" section

[2019-09-11 03:31] reminisce commented on #16113
@ElaineBao Thanks for checking it. Unfortunately, the log was overwritten by the follow-up run. I will report it once I see it again.

[2019-09-11 03:32] Caenorst commented on #16042
We suggested your rebuild MXNet from Source with TensorRT and you said you did it. Did you ?

[2019-09-11 04:24] iblis17 commented on #15613
@TaoLv Just can I just push to the v1.5.x branch direcetly?

[2019-09-11 05:31] lostella commented on #16135
I was not able to reproduce on 1.4.1, so probably introduced in 1.5.0

[2019-09-11 06:16] marcoabreu commented on #15613
No, please create pull requests instead

[2019-09-11 06:26] apeforest commented on #15613
Haven't we already passed code freeze?

On Tue, Sep 10, 2019 at 11:16 PM Marco de Abreu <notifications@github.com>
wrote:

[2019-09-11 07:32] reminisce commented on #16135
Fixed in https://github.com/apache/incubator-mxnet/pull/16139.

[2019-09-11 08:00] RomanSteinberg commented on #16134
There are 2 computers with GPU and 2 without. All have linux installed and python works in virtual environments. For simplification, I will consider only two computers which have GPU on-board. Computer `deploy` has a problem and I provided info about it below. My computer (`roman`) environment is as follows:

----------Python Info----------
Version      : 3.6.7
Compiler     : GCC 8.2.0
Build

[2019-09-11 08:14] chongruo opened #16140 "[Feature Request] consistent behavior of reshape() in ndarray and symbol mode"
For reshape() operator, I found that it works with input which is not a tuple. For example:

[code]

However, the bebavior is not consistent in symbol mode for reshape() with non-tuple input. It will raise an error.

It is bothering that when implementing hybrid_forward() in HybridBlock, codes( F.reshape() ) in two modes are the same. We usually disable hybridized mode for debugging (printing shap

[2019-09-11 08:17] TaoLv commented on #15613
Yes, we have passed code freeze and the rc0 was already tagged. Front-end packaging is in progress. One can still commit code change to the v1.5.x branch but that will be not included in the vote for rc0.