[2020-01-07 19:23] leezu commented on #17239
We may refactor https://github.com/apache/incubator-mxnet/blob/master/cmake/Modules/FindNCCL.cmake to improve autodetection. In the meantime see the variables used for searching. If you set one of them to your nccl base directory, it should find nccl successfully?

[2020-01-07 19:23] apeforest commented on #17221
MXNet no longer publishes nightly to pip. So pip install mxnet --pre will not work.

The cu100 build on S3 works with horovod: pip install https://apache-mxnet.s3-us-west-2.amazonaws.com/dist/2019-12-30/dist/mxnet_cu100-1.6.0b20191230-py2.py3-none-manylinux1_x86_64.whl

But we don't have cu100 build in the past week.

[2020-01-07 19:24] #17226 closed

[2020-01-07 19:26] leezu commented on #17180
We also need to handle other language bindings. But yes, the user experience can be improved.

[2020-01-07 19:28] leezu commented on #17221
We need to tag a new 1.6 rc and push it to pypi. Then pip install --pre will install the latest rc.

[2020-01-07 19:28] leezu commented on #17221
cc @ptrendx

[2020-01-07 19:32] apeforest commented on #17221
@leezu Ideally, we will need a `pip install mxnet-nightly` so we can run integration test inside Horovod repo with mxnet nightly wheel.

[2020-01-07 19:43] leezu commented on #17221
There will be a pip command to install the nightly builds using the pip -f option or based on a static URL. @samskalicky may be able to provide an ETA.

[2020-01-07 19:44] leezu commented on #17221
Or @szha who also has the appropriate rights to change the pipeline.

[2020-01-07 19:45] szhengac opened #17240 "[MXNet 2.0] [RFC] Distribution Module"
## Description
In MxNet 2.0, we would like to provide a distribution module, analogous to Pytorch distribution. The main difference from theirs is that we use numpy op and it allows hybridization. The current project code can be seen from https://github.com/xidulu/incubator-mxnet/tree/distribution_dev/python/mxnet/gluon/probability.

The basic skeleton divides into following parts:

1. Stochastic

[2020-01-07 20:57] eric-haibin-lin commented on #17220
nevermind, in gluon 2.0 the symbol and ndarray will be unified. As long as it still support hybridization, it's fine

[2020-01-07 23:10] eric-haibin-lin commented on #17237
Hi @chandana1332

Thanks for posting the question here.

If your current mini-batch is small and GPU 3 & 4 does not even have 1 sample, the gradient on GPU 3 & 4 will remain the same as what they were for the previous iteration. Therefore, for this case, the allreduced_gradient will be based on refresh gradients from GPU 1 & 2, and stale gradients from GPU 3 & 4.

[2020-01-07 23:12] eric-haibin-lin commented on #17237
I recently updated the split sampler in gluonnlp, such that the number of samplers for each worker will always be the same (with `even_size=True`). https://gluon-nlp.mxnet.io/master/api/modules/data.html?highlight=splitsampler#gluonnlp.data.SplitSampler

This somewhat avoids the imbalanced data batch problem. If it is useful I can upstream the sampler to mxnet, too

[2020-01-07 23:39] eric-haibin-lin opened #17244 "Incorrect installation instruction"
The instructions for installing mxnet master branch is incorrect.
https://mxnet.apache.org/get_started?version=master&platform=linux&language=python&environ=pip&processor=cpu

![Screen Shot 2020-01-07 at 3 38 52 PM](https://user-images.githubusercontent.com/5545640/71938317-ddbe9700-3163-11ea-8b4a-12dacc700b1d.png)

It should only show the ones with `--pre` suffix

@aaronmarkham

[2020-01-08 00:32] TEChopra1000 commented on #16633
@aaronmarkham or @lanking520 the Symbol tutorials have been removed, this ticket can be closed.

[2020-01-08 00:38] #16633 closed

[2020-01-08 01:08] xidulu commented on #17240
More specifically, control flow helps perform parameter validity check: https://github.com/apache/incubator-mxnet/issues/16868

[2020-01-08 01:27] pribadihcr commented on #15646
@kuonangzhe ,

I have same experience about getting CHECK_NE message ""A cycle is found in the computational graph between nodes "" when my network contain conv->relu->batchNorm->(skip connection). If the configuration like this conv->batchnorm->(skip_connection), it will pass it.

[2020-01-08 01:43] sxjscience commented on #17224
@gengyanlei 谢谢您的建议！我觉得.step(batch_size=1)这个操作可以添加一个default value，在这一行默认batch_size为1:
https://github.com/apache/incubator-mxnet/blob/f17d19ba663df8694c10dfa56863a7e2a19cadcb/python/mxnet/gluon/trainer.py#L320

[2020-01-08 02:00] sxjscience commented on #17179
Are we able to make it numpy compatible?

[2020-01-08 02:00] gengyanlei commented on #17224
您好，我的重点是能不能将数据concat直接输入网络，将loss汇总成1个变量，不需要像上面的样例一样遍历执行，我不纠结step；
既然gluon都很高度集成了，那么数据分发，结果预测也应该有这样的操作，便于使用。
我暂时不使用mxnet了，还是用pytorch吧，抱歉啊，针对这种操作实在是不方便，我不关心哪个gpu上面哪个预测结果，反正都是并行操作，我专门写一个封装API，但是这种操作针对不同的主函数又有不一样的写法，针对精度，损失，各种评价指标，乃至对预测结果进一步操作，再反向传播，都很不方便哈。
仅仅是我的使用体验，至于那些bug我用到的基本上都是常用的操作。

[2020-01-08 02:20] sxjscience commented on #17224
@gengyanlei As pointed out by @Jerryzcn , there is one data parallel module in GluonCV: https://github.com/dmlc/gluon-cv/blob/master/gluoncv/utils/parallel.py

[2020-01-08 04:03] dingbo8128 opened #17246 "error when download mxnet http status '404 Not Found'"
### Error Message

试开URL’https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/src/contrib/mxnet_1.3.0.tar.gz'
Error in download.file(url, destfile, method, mode = "wb", ...) :
  无法打开URL'https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/src/contrib/mxnet_1.3.0.tar.gz'
此外: Warning messages:
1: In doTryCatch(return(expr), name, parentenv, handler) :
  无法载入共享目标对象‘/Library/

[2020-01-08 04:56] eric-haibin-lin opened #17247 "[mxnet 2.0][item 7.3] Improved Sparse Support"
Scope:

1. sparse format and operator support
2. scipy coverage
3. operators for graph neural-networks (e.g. ops in [minigun](https://github.com/dglai/minigun)

Minimum support:
* CSR format redefinition
* zerocopy to DLPack
* integration with minigun kernels

Next-level support:
* format: coo and block sparse.

[2020-01-08 05:30] wkcn commented on #17224
@gengyanlei 谢谢你的建议！确实Gluon的使用方法再简化一些会更好。

@sxjscience 我看到gluoncv里有些函数和MXNet里的函数是重复的，比如：[`split_and_load`](
https://github.com/dmlc/gluon-cv/blob/5d54877bcf430ea65e5053ef086084f30500c9d9/gluoncv/utils/sync_loader_helper.py#L59)；以及有一些增强Gluon功能的模块，如DataParallelModel。是否可以把这些内容加入到MXNet项目呢？

[2020-01-08 06:03] gengyanlei commented on #17224
抱歉啊，没用过gluon-cv，这个也是mxnet的高级API么？还是相当于 detection2 VS pytorch的关系呢？
其实说实话，我也没用过detection，哈哈，一般都尽量只用官方的最正统的包。

[2020-01-08 06:24] gengyanlei commented on #17224
查看了一下gluonCV gluonNLP，这些是新、经典的网络复现，可以提供快速的实现，但是更新频繁，可能会发生类似tf一个月一版本，函数说明变化巨大的情况吧，没入坑。听说评价还可以，后面尝试尝试，哈哈。

[2020-01-08 06:43] szha commented on #12861
This happens when the mxnet library build failed

[2020-01-08 09:36] Justobe opened #17250 "mxnet.base.MXNetError: Error in operator transpose176: [02:14:06] src/operator/tensor/./matrix_op-inl.h:354: Check failed: shp.ndim() == param.axes.ndim() (-1 vs. 4)"
I get an exception when I load model using MXNET as keras's backend. **I can load the model correctly with  Tensorflow , Theano and cntk as the backend, but I get the following error with MXNET:**

The code is as follows:
script.py:

    import os
    import sys
    import argparse

    """Parser of command args"""
    parse = argparse.ArgumentParser()
    parse.add_argument("--backend", type=str,

[2020-01-08 11:21] leezu commented on #17238
It seems the compilation instructions and the compilation process for building with TensorRT are lacking.. How is your experience with the make build?

For cmake, I suggest we improve the process to build onnx and onnx-tensorrt automatically as part of the MXNet build, similar to openmp. @mjsML are you familiar with cmake and would like to contribute?

[2020-01-08 11:28] leezu commented on #17244
How did you arrive at the `master` version URL? It's not linked from the https://mxnet.apache.org/get_started page

[2020-01-08 11:30] leezu commented on #17246
Currently only the following files are available.

[code]

How did you arrive at the src url that you report as missing?

[2020-01-08 11:41] mjsML commented on #17238
@leezu
The pthread errors and had to do with some missing libs... This [page](https://nextjournal.com/mpd/compiling-mxnet) specifically running apt with these packages:

`apt-get install --no-install-recommends \
  software-properties-common apt-transport-https \
  build-essential cmake libjemalloc-dev \
  libatlas-base-dev liblapack-dev liblapacke-dev libopenblas-dev libopencv-dev \
  libcurl4-op

[2020-01-08 11:48] leezu commented on #17238
@pengzhao-intel are you aware of the header leaks mentioned by @mjsML?

@mjsML I suggest you don't link with MKL for now to fix your problem given your "main target is to get a fast GPU build that utilizes the Nvidia packages". There may be a bug in the build setup with MKL + the nvidia libs you mention.

The 3rdparty folder is updated time to time when new versions of MKL-DNN are released. Such 3

[2020-01-08 12:01] mjsML commented on #17238
@pengzhao-intel as a concrete example `/mxnet/3rdparty/mkldnn/src/cpu/gemm/gemm_threading.hpp` and `/mxnet/3rdparty/mkldnn/src/cpu/gemm/gemm_pack_storage.hpp` are missing the assert.h includes while using them ... I'm suspecting the other internal headers leaks (example includes of utils.hpp) are veneered by build / compiler arguments / include directories that neither my compiler nor I were not a

[2020-01-08 12:07] mjsML commented on #17238
@leezu I'll try to build without MKL as see what happens then.

[2020-01-08 12:59] mjsML commented on #17239
I experienced this too ... try using -DUSE_NCCL=1 -DUSE_NCCL_PATH=/usr/local (or as @leezu your NCCL path)

[2020-01-08 13:22] mjsML commented on #17238
@leezu Success!
[code]
So it seems that MKL and MKLDNN with NVIDIA is the culbert here ...
I'll pull on the build guides later tomorrow then ... Cheers and thanks for the help :) *falls asleep*

[2020-01-08 13:30] mjsML commented on #17181
[This](https://github.com/xianyi/OpenBLAS/wiki/faq#debianlts) fixed it for me. You basically need to update the OpenBLAS libs to latest with a the dynamic architecture flag ...

[2020-01-08 16:31] ptrendx commented on #17250
It is a bug in a shape inference of the Transpose operator. It was changed recently (after 1.5.1 release), but I don't believe your case is covered by those changes (so it would still fail). It should be an easy change, I will make PR to fix it.

[2020-01-08 16:41] ptrendx commented on #17250
@Justobe Actually, after closer examination of the shape inference of transpose, I believe the current version is correct and should fix your issue. Please try nightly build, which you can find e.g. here: https://repo.mxnet.io/dist/2019-12-30/dist/mxnet_cu101mkl-1.6.0b20191230-py2.py3-none-manylinux1_x86_64.whl

[2020-01-08 17:58] apeforest commented on #17159
@jonatan1626 Could you please provide an update? What's the final conclusion or action items for the performance from 1.4 to 1.5

[2020-01-08 18:06] eric-haibin-lin commented on #17244
There is a drop-down list for "MXNet version", and i selected "Master"

[2020-01-08 18:08] leezu commented on #17244
Thanks. I didn't realize that this dropdown list exists. There seems to be no UI element indicating the existence of the dropdown prior to hovering over the version number.

[2020-01-08 18:44] sshearn commented on #16620
@lanking520

Any updates here?

[2020-01-08 19:05] sxjscience commented on #17224
@gengyanlei 我们会尽量统一到mxnet的gluon里

[2020-01-08 19:20] jonatan1626 commented on #17159
@apeforest So I wasn't able to build from source and test mxnet 1.6.0.rc0, but these are the results from the build from source on my side using `make USE_OPENCV=1 USE_MKLDNN=1 USE_BLAS=mkl USE_INTEL_PATH=/opt/intel -j`

gcc version 4.8.5 (Ubuntu 4.8.5-4ubuntu8~16.04.1)
mxnet 1.4.1
Model: resnext-50
	----Latency----
	Model Partition Time: 0
	Model Load Time: 84.43331718444824
	First Inference: 114

[2020-01-08 20:37] cyrusbehr commented on #15974
Any updates on this issue @marcoabreu (it has been nearly 6 months). I am experiencing the same problem - although I am first exporting the library paths:
[code]
cmake output:
[code]
How are people currently building with NNPACK??

[2020-01-08 20:47] haojin2 commented on #17223
PR merged, closing

[2020-01-08 20:47] #17223 closed

[2020-01-08 20:49] haojin2 commented on #17219
@TaoLv This is actually hitting a case not supported by np, I think we should remove that case from that unit test, as what I've done in #17131 .
@Alicia1529  @reminisce

[2020-01-08 21:27] eric-haibin-lin opened #17251 "[website] [doc] tutorial rendering not working"
https://mxnet.apache.org/api/python/docs/tutorials/performance/backend/profiler.html#The-incorrect-way-to-profile

Some links are rendered in a strange way.

![Screen Shot 2020-01-08 at 1 26 54 PM](https://user-images.githubusercontent.com/5545640/72017448-8deed700-321a-11ea-8a78-79d503802026.png)

[2020-01-08 23:31] samskalicky opened #17252 "updated NCCL version breaks nightly pip wheel builds"
## Description
nightly pip wheel builds were building successfully until December 30th. On December 31st the builds started failing for these build flavors:
cu90
cu100
cu101
cu90mkl
cu100mkl
cu101mkl

### Error Message
All builds failed with the same error message:
[code]

## To Reproduce
Build using the docker container used in the CI:
mxnetci/publish.ubuntu1404_cpu

[code]

[2020-01-08 23:31] samskalicky commented on #17252
@mxnet-label-bot update [Build]

[2020-01-08 23:55] szha commented on #17252
working on it in https://github.com/szha/mxnet/commit/f2035bf4b2d282e8fd5344e4afddcc6f21cd7fc1

[2020-01-09 00:07] apeforest commented on #17181
@mjsML Thanks. Issue fixed.

[2020-01-09 00:47] gengyanlei commented on #17224
谢谢了。

[2020-01-09 01:03] leezu commented on #17181
@apeforest what platform are you on? Ideally the installation instructions should be updated based on this issue

[2020-01-09 02:01] Justobe commented on #17250
@ptrendx I really appreciate your reply! I got another exception when I change the version from 1.5 to 1.6 (both the version you provided and version mxnet-cu101_1.6.0b20191122). I reconfirmed that this exception only occur on the MXNET backend.

[2020-01-09 02:46] ptrendx commented on #17250
@roywei ^^

[2020-01-09 04:39] pengzhao-intel commented on #17238
@wuxun-zhang for looking into the issue

[2020-01-09 04:41] pengzhao-intel commented on #17238
Thanks for the information. We will investigate and fix the problem.

[2020-01-09 07:44] dingbo8128 commented on #17246
I just run `install.packages("mxnet")`

[2020-01-09 10:39] Wallart opened #17256 "Sparse compression causes errors"
Hello everyone,
I am trying to use sparse tensors to save memory in my Transformer architecture and I'm applying F.sparse.cast_storage on an attention weights tensor.

[code]

As you can see the sparseNDArray is densified on the fly to produce output (because value is not sparse). Then, I return a dense output and a sparse attn_weights.
Output will be finally used to compute the loss, and attn_wei

[2020-01-09 11:08] leezu commented on #17246
You can try following the compile-from source guide instead: https://mxnet.apache.org/get_started/ubuntu_setup.html#install-the-mxnet-package-for-r

There is also a PR which simplifies the guide a bit
https://github.com/apache/incubator-mxnet/pull/17228

[2020-01-09 11:56] ronnac opened #17257 "armv81"
## Description
The make/config.mk file doesn't account for the armv81 architecture. It should be treated the same as armv71 or armv61 with regards to USE_SSE=0 and USE_F16C=0.

### Error Message
g++: error: unrecognized command line option ‘-msse3’
g++: error: unrecognized command line option ‘-mf16c’

## To Reproduce
(If you developed your own code, please provide a short script that reproduces t

[2020-01-09 12:36] leezu commented on #17257
`make/config.mk` is used for the deprecated Makefile build. Based on your steps to reproduce, you are using the CMake build.

You could look into the `CMakeLists.txt` if you're willing to investigate the issue further.

You can also check how the CI server tests the ARMv8 build at https://github.com/apache/incubator-mxnet/tree/master/ci/docker

[2020-01-09 13:02] Justobe opened #17258 "mxnet.base.MXNetError: [12:37:13] src/executor/../common/exec_utils.h:391: InferShape pass cannot decide shapes for the following arguments"
## Description
I find that MXNET behaves differently from Tensorflow when I try to load  one simple lstm model using the following code. I get the exception under the MXNET backend. But the code runs correctly under Tensorflow.

### Error Message
[code]

## To Reproduce
script.py
[code]

The structure of  model is shown below
![image](https://user-images.githubusercontent.com/15032308/72069773-e3a

[2020-01-09 13:15] ronnac commented on #17257
Thank yoou! Maybe the instructions on
https://mxnet.apache.org/get_started/build_from_source need to be
updated.
It states there " For building with Java/Scala/Clojure, only make is
supported." which I think is wrong.

------ Original Message ------
From: "Leonard Lausen" <notifications@github.com>
To: "apache/incubator-mxnet" <incubator-mxnet@noreply.github.com>
Cc: "Nick Römer" <nick.romer@adval

[2020-01-09 13:15] Justobe opened #17260 "ValueError: Layer #1 (named "batch_normalization_1" in the current model) was found to correspond to layer batch_normalization_1 in the save file. However the new layer batch_normalization_1 expects 4 weights, but the saved weights have 3 elements."
## Description
I find that MXNET behaves differently from tensorflow  when I try to load the inceptionV3 model using the following code. The scipt runs correctly with tensorflow, but I get one exception with MXNET. I don't know why this happens only on MXNET.

### Error Message
[code]

## To Reproduce
code.py
[code]
The script can be run like this:

## Environment
- numpy  1.16.1
- tensorflow 1.14

[2020-01-09 13:26] leezu commented on #17257
With respect to the armv8 build, take a look at

https://github.com/apache/incubator-mxnet/blob/83578b9a61d5ddb5ed54576fac17e24f97f35e52/ci/docker/runtime_functions.sh#L332-L348

Yes, it should be updated. Do you want to make a PR based on your experience building these bindings?

The idea is that we use cmake to build `libmxnet.so` and the language binding just needs to use that `libmxnet.so`. I

[2020-01-09 15:47] apkuhar commented on #15974
I managed to build an older version of mxnet with nnpack, but it was a couple of times slower than the binary build ob 1.5.1 on raspberry pi 4. Running a resnet50 based model. So might make no sense to try to build with nnpack anymore

[2020-01-09 19:26] djaym7 opened #17261 "Gluon adding new parameters to learn -error"
I am trying to replicate this pytorch's class, what am i doing wrong here ? (Tried to follow same convention as Dense class in gluon)
@zhreshold help please.

![image](https://user-images.githubusercontent.com/12378820/72098235-ea153200-32d2-11ea-9b9e-09bd805da137.png)
#the input 2 is for c parameter in __init__ which is useless in this case.

[2020-01-09 19:57] djaym7 commented on #17261
Ablation Studies:
1. Without  passing p in hybrid_forward gave this error, so followed the "Dense" layer source code
![image](https://user-images.githubusercontent.com/12378820/72100230-1763df00-32d7-11ea-94fc-1c1a3d4966f9.png)

![image](https://user-images.githubusercontent.com/12378820/72100290-36627100-32d7-11ea-9488-3c06b00d8be1.png)

[2020-01-09 20:06] MyraBaba commented on #17216
So is this include mxnet cpp support and all required include files for cpp mxnet ?

[2020-01-09 21:02] djaym7 commented on #17261
Solved

[2020-01-09 21:02] #17261 closed

[2020-01-09 21:25] QueensGambit commented on #17216
Yes, the docker file contains a shared object library at:
* /usr/local/lib/libmxnet.so

which was built with C++ and TensorRT support.

---

The cpp include files are located at:
* /opt/mxnet/cpp-package/include

within the docker container.

[2020-01-09 21:52] cyrusbehr opened #17262 "Unable to build / link mxnet against cuda 10.2"
I am trying to build mxnet with cuda 10.2 in a docker container.
For my build, I am using the following docker image from nvidia: `nvidia/cuda:10.2-cudnn7-devel-ubuntu18.04`

Within the container (from fresh image) I am running the following commands:

[code]

The build gets to the 95% percent mark, then fails with the following message:
[code]

If I build mxnet using the exact same build command

[2020-01-09 22:12] zhreshold opened #17263 "[mxnet 2.0][item 4.8][RFC] Gluon Data API Extension and Fixes(Part 1)"
## Description

This is the part 1 of Gluon Data API extension and fixes, which mainly focus on cleaning up diverging usage of mxnet module/gluon.
Through long time evolution, there's currently two streams of data loading conventions implemented in mxnet
- Iterator: mxnet.io.DataIter(https://github.com/apache/incubator-mxnet/blob/ac88f1e87aa7da2c33f0cb89524d444ddc3a2ae8/python/mxnet/io/io.py#L180)

[2020-01-09 22:58] zrsm commented on #2838
You mean, a "symlink" I've never actually heard the term soft-link, but I am just saying this could cause confusion.

[2020-01-09 23:11] roywei commented on #17250
Hi @Justobe what's the backend used to train your model? Currently keras-mxnet does not support loading model trained using other backends. Mainly due to we made some special cases in Keras front end in order to make it work with mxnet backend. ([ref](https://github.com/awslabs/keras-apache-mxnet/issues/92)). You may have to train your model directly using MNXet backend, save and load with MXNet b

[2020-01-10 02:41] Justobe commented on #17250
Hello@roywei, thanks for your reply.
1. These models are trained under TensorFlow and can be run correctly under CNTK and Theano. I have a lot of models, and only a few models (including this one) throw exceptions under the MXNET. I wonder if this is a bug in currently mxnet. I'm really looking forward that it could be fix if it's a bug. I enjoy using keras under the mxnet backend (this [issue1725

[2020-01-10 16:56] SunDoge commented on #16376
Is there any progress? I really like the `static_shape` part. Currently, the symbol has no `shape` attribute which makes it hard to use some ops in HybridBlock, for example

[code]
even if I know the C, H, W will never change and I will never access the batch size B. I only need the shape once and the shape should be cached. This RFC may fix it.

[2020-01-10 18:30] eric-haibin-lin opened #17267 "Unclear error message in np.dstack"
## Description
`mxnet.np.dstack` throws dtype mismatch if one input is `int32` and the other is `float32`.  However, the error message is not that clear:
[code]

When this op is use in a nested gluon block, it's a bit hard to investigate what are the actual types of input 0 and input 1. It will be much more helpful if the actual data types can be printed.

[2020-01-10 20:49] MyraBaba commented on #17216
the docker file could create the image.

After awhile it says :

[2020-01-10 22:24] MyraBaba commented on #17216
also Ican compile cpp-mxnet/example/inference . with make

it gave : fatal error mxnet/op.h . No such file

[2020-01-10 23:15] zhreshold opened #17269 "[mxnet 2.0][item 4.8][RFC] Gluon Data API Extension and Fixes(Part 2)"
## Description
This is the part 2 of Gluon Data API extension and fixes, which mainly focus on speeding up the current data loading pipeline using gluon dataset and dataloader.

## Motivation

The current data loading pipeline is the major bottleneck for many training tasks. We can summarize the entire flow as:

[code]
where there are performance concerns:
- performance of python dataset/transform

[2020-01-10 23:17] zhreshold commented on #17269
@szha @eric-haibin-lin @sxjscience @szhengac Request for comments regarding NLP dataloading

[2020-01-10 23:31] ptrendx commented on #17263
What about `mx.io.ImageRecordIter`? Also, what about the return type of those iterator - `mx.io` iterators return `mx.io.DataBatch`, will that be changed too?

@JanuszL FYI since DALI MXNet plugin produces `mx.io.DataBatch` and may be affected.

[2020-01-10 23:40] zhreshold commented on #17263
The old iterators will get a special gluon dataset wrapper which has no length and forbids random accessing or sampling from dataloader, they keep their original arguments during iteration

[2020-01-11 02:42] litaotju commented on #17262
Seems the data section size is too large. Could you try to add `-mcmodel=large`** to the link command to see if it works?

[2020-01-11 03:03] litaotju commented on #17216
If you are trying to build mxnet from source, actually there are already docker file included in this repo.

- ci/docker/Dockerfile.build.ubuntu_gpu_tensorrt
- ci/docker/Dockerfile.build.ubuntu_gpu_cu101

You could use anyone of these for your purpose. For example, if you need TensorRT and gpu support. Use the following one to make a docker:

[code]

[2020-01-11 05:09] litaotju commented on #17195
Tried your scripts and cpp file. The cpp application can load the exported onnx without any error.

I am using
- onnx: `pip3 install --user onnx==1.2.1`
- onnxruntime: `wget https://github.com/microsoft/onnxruntime/releases/download/v1.1.0/onnxruntime-linux-x64-1.1.0.tgz`
- mxnet: master branch, commit id: 6f95702613dd95aa4a1b467b938d79c4d13bee96
- Docker container: built from `ci/docker/Dockerfil

[2020-01-11 05:11] michiboo commented on #15935
Hi is this issue still available?

[2020-01-11 06:15] litaotju commented on #17267
@eric-haibin-lin ,
Got similar issue when trying to use the np.dstack api. I submit above PR for this. Please kindly help to review if you could. Thanks.

[2020-01-11 09:38] leezu commented on #17262
I suppose you are not building on a GPU machine? Currently, in this case, our cmake build setup will fall-back to building for all possible cuda architectures. Most likely you only want to build for the GPUs that you want to run MXNet on in the end.

Please set `-DMXNET_CUDA_ARCH=7.0` (or your respective cuda arch) in the `cmake` command.

@litaotju does this actually work for you? The same issue

[2020-01-11 11:02] tonyng1707 opened #17274 "Is Mxnet 1.5 (with GPU) available on Conda"
For the mxnet-gpu package (https://anaconda.org/anaconda/mxnet-gpu), only v1.2.1 is available so far. Is MXNet v1.5 (with GPU) available on Conda? If yes, which package is it?

And I try to build my own MXNet Conda package by executing 'conda skeleton pypi --all-urls mxnet-cu101', an error 'could not find unpacked source dir' occurs. How can I build a MXNet Conda package from pypi?

[2020-01-11 12:42] dithyrambe opened #17275 "CosineEmbeddingLoss won't work after hybridize (ie. with symbol API)"
## Description
`CosineEmbeddingLoss` seems to have issue in its symbol API implementation. Loss works fine until I hybridize my model. Looks like its some reshaping issue.

Below is the stacktrace and the snippet to reproduce.

[code]

## To Reproduce
[code]

## Attempt to solve
I manage in to get  around it by explicitly calling `F.reshape` instead of `<tensor>.reshape` in `CosineEmbeddingLoss._c

[2020-01-11 16:50] QueensGambit commented on #17216
Yes, I don't really like the procedure either to create a cpp-header file with a python script.
You need to call `OpWrapperGenerator.py` to create the `op.h` file:

[code]

If this doesn't work on your system due to encoding errors, you can try downloading the file instead:

* https://github.com/dmlc/MXNet.cpp/blob/master/include/mxnet-cpp/op.h

[2020-01-11 22:52] TomasBahnik commented on #15383
Issue is still present in Windows `mxnet 1.6.0b20191125`  updates today by `pip install -U --pre mxnet`

[2020-01-12 01:02] #16252 closed

[2020-01-12 06:37] #10881 closed

[2020-01-12 06:43] eric-haibin-lin opened #17278 "[Performance] CachedOp/Gluon performance thread"
Starting a thread to collect performance problems of cached_op/gluon hybrid blocks. If you compared module with gluon and found performance issue with gluon, please share it here. Thanks.

[2020-01-12 06:47] #10907 closed

[2020-01-12 06:51] eric-haibin-lin commented on #13634
CPU kernels were added: https://github.com/apache/incubator-mxnet/pull/9977

[2020-01-12 06:51] #13634 closed

[2020-01-12 06:52] eric-haibin-lin commented on #14137
@ptrendx @DickJC123 can we get rid of these backend specific flags in the operator interface, targeting mxnet 2.0?

[2020-01-12 07:40] apeforest commented on #17239
@mjsML Thanks, using that flag worked for me. @guanxinq interested in fixing FindNCCL.cmake as suggested? :)

[2020-01-12 07:48] haojin2 commented on #15383
@TomasBahnik Sorry, just discovered that the fix was previously merged into the numpy branch, we'll port that fix to windows ASAP.

[2020-01-12 11:19] litaotju commented on #17262
@leezu, I didn't have this issue when building locally maybe because I have a GPU. Got the answer from stackoverflow.

[2020-01-12 16:12] jonatan1626 commented on #17159
@apeforest You can close this issue:

I have built from source and ran the benchmark, doesn't seem to be any regression from 1.5.1 and 1.6.0.rc1. I was able to build 1.6.0.rc1 without using the DL-AMI.

**1.5.1**
[code]

**1.6.0**
[code]

[2020-01-13 03:38] ChaiBapchya commented on #17239
I took a look at

To solve this particular case, I added a check for symlink (if UNIX) - https://github.com/ChaiBapchya/incubator-mxnet/blob/nccl_autodetect/cmake/Modules/FindNCCL.cmake

However, I'm not sure if it is complete. Coz I took a look at https://github.com/apache/incubator-mxnet/blob/master/cmake/Modules/FindCUDAToolkit.cmake
It has a fairly long drawn way of finding the Cuda Toolkit
1.

[2020-01-13 06:39] xidulu commented on #15383
@TomasBahnik
@stu1130
I was able to reproduce the error on windows with `mxnet 1.6.0b20191125` (this is actually the latest version for Windows, even though 1.60b2020xxxx has already been available for other platforms), installed by `pip install -U --pre mxnet`.

I also tested `np.random.uniform` and everything seems to good, which suggests that the random number generator is working normally.

[2020-01-13 06:48] XWalways commented on #6657
I also get the error`TBlob.get_with_shape: new and old shape do not match total elements` when using gpu,but if i set the ctx=cpu, it works

[2020-01-13 11:37] leezu commented on #17239
@apeforest could you provide some background if NCCL is installed at `/usr/local/cuda/include` by default?

@ChaiBapchya your change seems to rely on `CUDA_TOOLKIT_ROOT_DIR`, but this variable is not among the variables exported by `FindCUDAToolkit`. In fact, you can see it's explicitly unset:

https://github.com/apache/incubator-mxnet/blob/master/cmake/Modules/FindCUDAToolkit.cmake#L708

Instead,

[2020-01-13 11:43] leezu commented on #17275
Would it be required to use `broadcast_div` instead of `/` in the last line below:

https://github.com/apache/incubator-mxnet/blob/985a4ca62766ddca22b995a663d258003602f6af/python/mxnet/gluon/loss.py#L923-L932

[2020-01-13 11:45] leezu commented on #17274
It seems above package is maintained by anaconda.

Are you sure you need to build a conda packages? You could just install normal python wheels inside your conda package. For example with `pip install mxnet-cu101`. See https://mxnet.apache.org/get_started?version=v1.5.1&platform=linux&language=python&environ=pip&processor=gpu

[2020-01-13 14:46] leezu opened #17282 "R-package requires OpenCV"
## Description
In https://github.com/apache/incubator-mxnet/issues/7273 https://github.com/apache/incubator-mxnet/pull/7389 a mandatory dependency on OpenCV was added to the r package. This breaks the r-package on systems without OpenCV https://github.com/apache/incubator-mxnet/issues/7273#issuecomment-332223197).

Further, the link command is not set up correctly so that the Rcpp `mxnet.so` does

[2020-01-13 14:47] leezu commented on #7273
Let's track the bugs introduced by #7389 separately. I opened https://github.com/apache/incubator-mxnet/issues/17282

Currently this feature request of this issue has been implemented, though breaking other use-cases that were previously supported.

[2020-01-13 14:47] #7273 closed

[2020-01-13 17:20] leezu commented on #17282
The linking issue will be fixed as part of https://github.com/apache/incubator-mxnet/pull/17228

Makevars was missing the following entries:

[code]

The problem of making the OpenCV dependency required instead of optional remains.

[2020-01-13 18:24] cyrusbehr commented on #17195
Thank you for your answer @litaotju
After looking into this again, I realized that when I convert the model using `python mxnet2onnx.py`, then the error is generated when loading the model. However, if I use `python3 mxnet2onnx.py` to convert the model, the model can be loaded without error.

**Solution**: Use python 3 to convert the model

[2020-01-13 18:24] #17195 closed

[2020-01-13 18:33] guanxinq opened #17285 "Graph Partition API Test Error"
## Description
PR https://github.com/apache/incubator-mxnet/pull/15886/files#diff-962e4e83b570943c087e477058485e25 added 4 tests for graph partitioning given a backend. However, these tests cannot succeed if run them separately.

### Error Message
======================================================================
ERROR: test_subgraph_op.test_subgraph_exe
---------------------------------------

[2020-01-13 19:20] apeforest commented on #17181
@leezu I was using the latest AWS DLAMI. I will verify once more.

[2020-01-13 19:33] sxjscience opened #17289 "[Feature Request] Port features in GluonCV, GluonNLP..., back to MXNet"
## Description
Some useful functionalities of MXNet are implemented in GluonCV, GluonNLP, etc.. I think we should port some reusable features back to MXNet to improve the user's experience. For example, we can port the following extensions

- batchify function: https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/data/batchify/batchify.py
- learning rate scheduler: https://github.com/dmlc/gl

[2020-01-13 19:34] sxjscience commented on #16767
Move the discussion to https://github.com/apache/incubator-mxnet/issues/17289

[2020-01-13 19:34] #16767 closed

[2020-01-13 19:43] apeforest commented on #17239
In DLAMI, nccl is installed by default in the cuda directory: /usr/local/cuda/include/nccl.h

However, if user installed nccl manually by themselves, sudo apt install libnccl2 libnccl-dev, you may use the `sudo dpkg-query -L libnccl-dev` to find where it is.
https://askubuntu.com/questions/1134732/where-is-nccl-h

I would suggest @ChaiBapchya to first search `/usr/local/cuda/include/`. If not foun

[2020-01-13 19:44] apeforest commented on #17239
Thanks @ChaiBapchya for volunteering to work on this!

[2020-01-13 20:36] leezu commented on #17181
There are both 16.04 and 18.04 versions of DLAMI. Based on your kernel version, you are using 16.04.
18.04 works fine for me.

If 16.04 ships with problematic openblas, let's add a Note to the install guide.

[2020-01-13 20:44] leezu commented on #17239
That's would only work on Debian based platforms and only for one particular way of installing nccl on these systems. I think it's safe to require users to set `NCCL_ROOT` if they manually installed nccl to a different path.

In fact, we should fall-back to building nccl ourselves if nccl is required and not found.

[2020-01-13 21:18] ChaiBapchya commented on #17239
Ya. Even when I looked at different autodetection files for cmake used in various other open-source frameworks
1. Xgboost - https://github.com/dmlc/xgboost/blob/master/cmake/modules/FindNccl.cmake
2. Flashlight - https://github.com/facebookresearch/flashlight/blob/master/cmake/FindNCCL.cmake
3. Pytorch - https://github.com/pytorch/pytorch/blob/master/cmake/Modules/FindNCCL.cmake
4. Caffe - https:/

[2020-01-13 21:37] larroy commented on #15492
yes nvcc should be in the path seems.

[2020-01-13 22:11] lvpasquier commented on #17275
Hello, thanks for having a look.

Actually shape issue seems to occur even before that when `F.norm` is called.

[code]

[2020-01-13 22:29] dithyrambe commented on #17275
Hello, thanks for having a look.

Actually shape issue seems to occur right after `F.norm` is called and `.reshape` is used. As you can see below.

[code]

Why would `.reshape` & `F.reshape` have different behaviour ?

Regards

[2020-01-13 22:30] mjsML commented on #17181
This issue happens on 18.04 too (this is my OS at the moment) ... I think it depends which subversion of ubuntu you have ... This is a very old install of 18.04 (probably 18.04.00 or the likes) ... and given I have not updated OpenBLAS explicitly it happened on 18.04 too .. according to the build guide from OpenBLAS the core issue is some symbols don't make it if you don't compile with the dynamic

[2020-01-13 22:40] dithyrambe commented on #17275
Oh I just noticed something there:

`.reshape(-1, 1)` is not the same as `.reshape((-1, 1))` on symbolic API.

Does this should be fixed ? Or is it a desired behaviour ?

[2020-01-13 22:55] sxjscience opened #17291 "Learning rate scheduler page shows incorrect figures"
## Description
I came across this issue when checking our official guide of learning rate scheduler. https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/training/learning_rates/learning_rate_schedules.html

The figures are not correct and they all point to the cosine learning rate scheduler. We should correct it. Also, we can ask the users to go to D2L to learn learning rate schedule

[2020-01-13 23:17] apeforest opened #17292 "Can't run horovod with latest nightly wheel"
## Description
Cannot run horovod with latest nightly wheel. It could mean the 1.6 release have same problem too. The last working nightly wheel was 12/30/2019

### Error Message
[code]

## To Reproduce\
### Steps to reproduce
[code]
## What have you tried to solve it?

1. Tried mxnet-cu100 nightly wheel on 12/30/2019. It worked
2. Tried mxnet-cu92 nightly wheel on 12/30/2019. It worked

## Enviro

[2020-01-14 00:10] larroy commented on #17181
Which branch is this? master or 1.6.x?

[2020-01-14 00:35] mjsML commented on #17181
@larroy master ... a similar issue also occurs when you chose MKL as BLAS too (the linker complains on another symbol tho) ...

[2020-01-14 00:51] eric-haibin-lin opened #17295 "[website] many contrib ops do not render correctly"
The following ops have code snippets that don't render correctly:

interleaved_matmul_encdec_qk
interleaved_matmul_encdec_valatt
interleaved_matmul_selfatt_qk
interleaved_matmul_selfatt_valatt

![Screen Shot 2020-01-13 at 4 50 48 PM](https://user-images.githubusercontent.com/5545640/72304250-dcd6ab00-3624-11ea-8af5-a7dcd10ef3bc.png)

https://mxnet.apache.org/api/python/docs/api/contrib/ndarray/ind

[2020-01-14 00:54] larroy commented on #17181
what's the root cause of this? This is something we should add to CI if users are facing these difficulties.

[2020-01-14 01:02] mjsML commented on #17181
agreed ... as I mentioned above it's a well documented [issue](https://github.com/xianyi/OpenBLAS/wiki/faq#debianlts) with OpenBLAS and debian based distros.

[code]
Basically the symbol mentioned above is missing from the default binaries that ships with debian based distros, so OpenBLAS needs to be rebuilt from latest source with this flag to force the compiler to output the symbol that the link

[2020-01-14 01:04] stephenrawls commented on #17292
Saw this on email list and got curious...

Looks like problem is probably this commit:
https://github.com/apache/incubator-mxnet/commit/4ed14e2b749743a014121f57b265675fa7b4c06d#diff-875aa4c013dbd73b044531e439e8afdd

Basically `MXAPIHandleException` used to be defined inline in the header file, so all consumers had to do was
[code]

But now as of 3 days ago it is not an inline function anymore. Mea

[2020-01-14 01:47] larroy commented on #15492
with cuda 9.2 as in the CI environment this is not a problem as nvcc is added to the path.

[2020-01-14 01:47] larroy commented on #15492
Let's add a note about CMAKE_CUDA_COMPILER to the install instructions.

[2020-01-14 02:47] wuxun-zhang commented on #17231
@zhhoper Any update for this issue?

[2020-01-14 06:47] apeforest commented on #17159
The original issue was regression between 1.4 and 1.5. Could you also post results built from source using 1.4?

[2020-01-14 08:11] ChaokunChang opened #17299 "Error when building mxnet with USE_DIST_KVSTORE"
## Description
(A clear and concise description of what the bug is.)
I am building MxNet from source code, following the steps:
1. git clone --recursive https://github.com/ChaokunChang/incubator-mxnet byteps-backend
2. cd byteps-backend; mkdir build; cd build;
3. cmake -DUSE_CUDA=1 -DUSE_MKLDNN=1 -DCMAKE_EXPORT_COMPILE_COMMANDS=1 -DBUILD_CYTHON_MODULES=1 -DUSE_DIST_KVSTORE=1 ..
4. DEBUG=1 make -j4

[2020-01-14 14:55] leezu commented on #17239
@ChaiBapchya BTW, unfortunately a lot of CMake usage out in the wild does not meet the modern CMake bar but is leftover from the early days of CMake. While not covering all use-cases of MXNet, sometimes we can refer to https://cliutils.gitlab.io/modern-cmake/ for best practices

[2020-01-14 15:16] leezu commented on #17292
@stephenrawls currently a Makefile build is used. You can find it at https://github.com/apache/incubator-mxnet/tree/master/tools/staticbuild We are working on migrating to the cmake build in the future though.

[2020-01-14 15:22] leezu commented on #17275
There are many subtle inconsistencies with symbolic and ndarray. Those will be fixed in MXNet 2 by migrating to a numpy compatible interface.

[2020-01-14 15:22] ZheyuYe opened #17303 "New Basic Layer "nn.bias_add""
## Description
I am working on the reproduce of ALBERT pretrained model from tensorflow into gluonnp (numpy nlp for specific), and I found that in the masking decoder of ALBERT model, the new learnable biases are used but the original embedding weights are loaded. I successful completed the implementation with the following code.
[code]
However, I am still wondering if that possible to construct a

[2020-01-14 15:28] leezu commented on #17299
Please post the output of `cmake -DUSE_CUDA=1 -DUSE_MKLDNN=1 -DCMAKE_EXPORT_COMPILE_COMMANDS=1 -DBUILD_CYTHON_MODULES=1 -DUSE_DIST_KVSTORE=1 ..`.

It seems protobuf is not found correctly on your system. If this is the case and if protobuf is required, we can change the `CMakeLists.txt` to error out in case of not finding protobuf.

[2020-01-14 15:31] leezu commented on #17299
Besides protobuf, zmq is also a required dependency. However, cmake currently treats it as optional, leading to build error

`../3rdparty/ps-lite/src/./zmq_van.h:8:10: fatal error: zmq.h: No such file or directory
 #include <zmq.h>`

if `-DUSE_DIST_KVSTORE=1` is used.

[2020-01-14 15:37] jonatan1626 commented on #17159
Yup these were the results when building from source. It doesn't look like there's any regression related to the source code, it may have been caused somewhere within the pip builds.
Model: resnext-50

**1.4.1**
[code]
**1.5.1**
[code]

[2020-01-14 16:09] leezu commented on #17181
@apeforest @mjsML please provide the output of your `cmake` commands.
It's unclear whether MKL is found during your compilation attempt based on the information provided.

I can't reproduce this issue both when linking against MKL as well as linking against OpenBLAS on a blank Ubuntu 18.04 system.

Are you compiling inside conda?

@mjsML we don't require updating OpenBLAS. This is unrelated.

[2020-01-14 16:47] dithyrambe commented on #17275
Nice,

I guess the issue is solved then.
What about the fix ?

Regards

[2020-01-14 17:57] #17267 closed

[2020-01-14 18:18] #17103 closed

[2020-01-14 18:20] leezu commented on #17275
If you think it's required to change line 925, 926, 927 above to use tuple `(-1, 1)` please create a PR. Is that what you mean?

[2020-01-14 18:41] reminisce opened #17304 "[flaky] test_higher_order_grad.test_tanh"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17249/5/pipeline

[2020-01-14 18:45] ptrendx commented on #17303
You should be able to use `broadcast_add` there, no?

[2020-01-14 18:57] ptrendx commented on #17278
There are a few performance issues that we saw in `CachedOp` compared to graph executor.

 - https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/block.py#L1013-L1014 is constructing a Python list (inclusing memory allocation) every time, which added ~100us for BERT inference
 - Bulking of ops is broken for ops using inputs to the graph / producing outputs of the graph (I belie

[2020-01-14 19:09] apeforest commented on #17304
@kshitij12345 Could you please take a look at this test? Thanks!

[2020-01-14 19:13] vietspaceanh opened #17307 "NDArray does not have `std()` method"
Although `ndarray.mean()` exists, I cannot find the standard deviation method for `NDArray'.

Example:
[code]
[code]

[2020-01-14 20:04] dithyrambe commented on #17275
All right,

Thanks for your help.

[2020-01-14 20:35] D-Roberts commented on #17307
@vietspaceanh  In case it helps your usecase, there is:

`import mxnet.numpy as np`
`a = np.random.randn(3,3)`
`np.std(a)`
array(0.8727266)

[2020-01-14 20:41] #17275 closed

[2020-01-14 21:46] aaronmarkham commented on #17244
The content looks fine in here: https://github.com/apache/incubator-mxnet/blame/master/docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md

This is probably some javascript bug in here: https://github.com/apache/incubator-mxnet/blob/master/docs/static_site/src/assets/js/options.js
Never been a fan of these conditional selectors... seems like they're always breaking.

[2020-01-14 22:13] zhhoper commented on #17231
@wuxun-zhang Sorry that I haven't been able to touch that after reporting the bug. Will take a look at that and let you know if the bug is still there.

[2020-01-14 22:24] apeforest commented on #17159
No regression found when building mxnet from source with 1.4, 1.5 and 1.6. The difference in performance could be due to the inconsistent script when generating the pip wheels for testing.

[2020-01-14 22:24] #17159 closed

[2020-01-14 23:28] ronnac opened #17310 "mvn compile of the scala package fails on armhf because of hardcoded sse and f16c flags"
## Description
mvn compile of the scala package fails on armhf because of hardcoded sse and f16c flags in init-native/pom.xml and native/pom.xml.
Cfr related issue https://github.com/apache/incubator-mxnet/issues/1916

### Error Messages
￼error pom.xml
g++: error: unrecognized command line option ‘-msse3’
g++: error: unrecognized command line option ‘-mf16c’

￼error mshadow:
[INFO] --- native-mave

[2020-01-15 02:34] litaotju commented on #17132
Which memory are you referencong here? TX2 shares gpu and host cpu memory. While in x86 the cpu and gpu does not share mem

[2020-01-15 04:57] ResearchingDexter commented on #15647
I runned ```python python diagnose.py```
then printed
[code]
@zachgk

[2020-01-15 06:45] eric-haibin-lin commented on #17244
@aaronmarkham what's the alternative solution you're proposing?

[2020-01-15 07:52] ronnac opened #17315 "mvn install scala package sigsev mxnet::TShape::Size()"
## Description
mvn install of the scala package fails on armhf 32bit with SIGSEGV at
￼Building MXNet Scala Package - Core INTERNAL  [6/12]
￼T E S T S
￼test Visualize
￼Problematic frame:
# C  [libmxnet.so+0x929e54]  mxnet::TShape::Size() const+0x10

### Error Messages
[code]

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examp

[2020-01-15 08:07] zhhoper commented on #17231
@wuxun-zhang @ZhennanQin I run the example using mxnet 1.6.0, it seems to work ok. However, the run time of quantized model is much slower (more than 10 times) than the original one. Is there anything I need to set up in order to speed up the quantized model?
I test resnet152
For float32:
command:
python imagenet_inference.py --symbol-file=./model/imagenet1k-resnet-152-symbol.json --param-file=./m

[2020-01-15 08:22] ZheyuYe opened #17317 "Floor division operator "//" in deepnumpy"
## Description
According the motivation of mx.np.ndarray, they should share same operation as numpy. But it seems that there is no operation of floor divison.
[code]
As the last line raised an error
**"Raised an error unsupported operand type(s) for //: 'ndarray' and 'ndarray'"**
It is obvious that we can use the operation with mx.np.floor and true division. It would be better if there were a more

[2020-01-15 09:58] liuzh91 opened #17320 "Add customized event handlers in ValidationHandler"
## Description
Current `mxnet.gluon.contrib.ValidationHandler` does not support customized event handlers although `eval_fn` usually supports customized `EventHandler`. The code is shown below:

[code]

## References
- https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/contrib/estimator/event_handler.py

[2020-01-15 11:41] leezu commented on #15647
Please uninstall and reinstall mxnet

[2020-01-15 14:52] ZheyuYe opened #17327 "np.ndarray indexing after hybridize"
## Description
Indexing is an important feature of numpy that supports complex positioning and value operations as [Numpy | Indexing](https://www.geeksforgeeks.org/numpy-indexing/). The mxnet deepnumpy only supply the basic indexing operation as
[code]
whereas the above operation will fail after hybridize, see [here](https://github.com/apache/incubator-mxnet/pull/16621). Currently, the more effect

[2020-01-15 17:11] aaronmarkham commented on #17244
Maybe mxnet-oncall can spend time looking at the js function that runs that feature.
I looked it over and nothing pops out as why it isn't working. Happy to work with someone on it that maybe knows more js and how to use the debugger to experiment with the div states.

[2020-01-15 18:36] apeforest commented on #17181
Okay if I follow all the instructions on the web to apt update all required packages, I no longer face the issue. I guess it's probably I messed up cmake in my old enviroment. @mjsML if you also don't see this issue any more, I guess we can close it. Thanks @leezu for investigation.

[2020-01-15 19:34] roywei opened #17329 "License issue with 1.6.0.rc1"
Following are the license issue found by mentors during 1.6.0.rc1 vote @ general.

https://lists.apache.org/thread.html/rb83ff64bdac464df2f0cf2fe8fb4c6b9d3b8fa62b645763dc606045f%40%3Cgeneral.incubator.apache.org%3E

I'm compiling this list of issues so the community can help fix them.

- [ ] 1. https://github.com/apache/incubator-mxnet/issues/15547
- [x] 2. ./docs/python_docs/themes/mx-theme/mxthe

[2020-01-15 19:41] leezu commented on #17181
I'll close this issue for now, please reopen @mjsML if you can still reproduce this.

[2020-01-15 19:41] #17181 closed

[2020-01-15 19:55] roywei commented on #17329
@PatricZhao could you help with the "Copyright 2019 Intel Corporation” and #3 and #4 under mkldnn? Thanks

[2020-01-15 19:58] roywei commented on #17329
@hzfan @reminisce @haojin2  Looks like we need to remove the ASF header if this file is directly copied from numpy, and add it to whitelist of the header check.
https://github.com/apache/incubator-mxnet/blob/master/src/operator/numpy/np_einsum_op-inl.h

[2020-01-15 20:03] eric-haibin-lin commented on #17292
@szha

[2020-01-15 20:46] apeforest commented on #17292
Thanks @stephenrawls for the analysis.
Here is the rootcause of the problem:

1) Horovod uses MX_API_BEGIN() and MX_API_END() from mxnet/c_api_error.h to catch and throw errors in horovod APIs: https://github.com/horovod/horovod/blob/master/horovod/mxnet/mpi_ops.cc#L224
2) MX_API_BEGIN() is a macro that calls MXAPIHandleException https://github.com/apache/incubator-mxnet/blob/master/include/mxnet/

[2020-01-15 21:57] sxjscience commented on #17327
@ZheyuYe In terms of `mx.npx.pick` we can support multiple-dimensional selection as long as we are selecting the leading ones:

[code]

Also, would you provide a reproducible code snippet (like above) to mention which type of indexing operation is missing?

[2020-01-15 22:14] #17304 closed

[2020-01-15 22:31] roywei commented on #17329
@aaronmarkham any idea how to fix the font files in #2? Can we move it to s3 and download it when building the docs?

[2020-01-15 23:12] aaronmarkham commented on #17329
I'd research the fonts' licenses, add the appropriate license references, and leave them where they are. Moving to s3 would just add to site latency, and we don't want that.

[2020-01-15 23:22] TEChopra1000 commented on #16509
@aaronmarkham this issue has been resolved. You can close this ticket.

[2020-01-15 23:28] TEChopra1000 commented on #16492
@aaronmarkham these links have been fixed. This ticket can be closed.

[2020-01-15 23:36] leezu commented on #17329
@roywei The file includes modifications, such as

https://github.com/apache/incubator-mxnet/blob/bd67723da96e6d36e72c9a42535a4fe68f234a71/src/operator/numpy/np_einsum_op-inl.h#L1088

It seems valid to re-license the file under Apache license given that the original license header is included. (Above link suggests this approach is not recommended though)

If we choose not to relicense files with mi

[2020-01-15 23:42] roywei commented on #17329
I'll leave the authors to decide whether to add Apache license if it's modified by MXNet contributors. Either way, we also need to acknowledge the License and CopyRight in the [LICENSE](https://github.com/apache/incubator-mxnet/blob/master/LICENSE) file.

[2020-01-15 23:47] apeforest opened #17331 "[mxnet 2.0] Turning on large tensor support by default"
## Description
Currently, MXNet only supports tensor size smaller than 2^31. To support large tensors, users need to recompile MXNet with USE_INT64_TENSOR_SIZE compiler flag set to ON.

Large tensor is used often in applications such as recommendation system with sparse embedding matrix and graph neural networks such as DGL.

To provide a better user experience, we would like to turn on this compi

[2020-01-15 23:48] eric-haibin-lin opened #17332 "Race condition in downloading model from model zoo in parallel"
When i use horovod for training, and call

`model = get_model(model_name, pretrained=True)`

It complains with

[code]
The get_model API breaks if multiple processes are doing it at the same time.

[2020-01-15 23:49] leezu commented on #17329
@roywei thanks. When removing the ASF header from incubator-mxnet/cmake/Modules/FindCUDAToolkit.cmake, how to pass the RAT license check? There is no `.rat-excludes` files in the mxnet repository. How to exclude the file?

[2020-01-15 23:57] roywei commented on #17329
here it is: https://github.com/apache/incubator-mxnet/blob/master/tests/nightly/apache_rat_license_check/rat-excludes
More reference and history: https://cwiki.apache.org/confluence/display/MXNET/MXNet+Source+Licenses

[2020-01-15 23:59] apeforest opened #17333 "Consolidate build from source instruction into one page"
## Description
Currently there are three pages of instructions for building from source:

https://mxnet.apache.org/get_started/build_from_source
https://mxnet.apache.org/get_started/ubuntu_setup
https://mxnet.apache.org/get_started/centos_setup.html

They are mostly similar and hard to maintain. Can we just have one page for the most common linux platform and refer other uses to user docker if nee

[2020-01-16 00:21] Jerryzcn opened #17335 "Excessive GPU memory usage with dynamic shape input"
## Description
When using threaded engine with dynamic shape input. MXNet uses excessive amount of GPU memory. In the following script, MXNet is only able to reach a batch size of 16 while TensorFlow, PyTorch and MXNet w/ NaiveEngine can reach a batch size of 256

## To Reproduce
The following script create a dynamically shaped dataset, dataloader, padding batchify, and a simple neural network. It

[2020-01-16 00:41] #16509 closed

[2020-01-16 00:41] #16492 closed

[2020-01-16 00:58] ptrendx commented on #15547
The latest ONNX-TensorRT (v7.0) contains the onnx commit that has the right LICENSE in pyBind. However, switching to it would first of all require some changes to the way it is called and second of all require matching TensorRT 7, so I would much prefer to do this in 1.7 release and not as the last thing in 1.6.

[2020-01-16 01:15] DickJC123 commented on #16831
The hang I reported in this old issue has occurred again in the exact same place, which I inferred to be in test_np_resize() because that is the next test to run after test_np_reshape():

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17312/1/pipeline/356

A retry run I launched also appears to be hung on the test that follows test_np_empty()

[2020-01-16 01:35] cyrusbehr commented on #15275
@igor-byel I experienced the same issue you are facing, and here is my fix. The issue is likely due to the way you are using the `putenv` function. From the linux manual:

       variables.  The argument string is of the form name=value.  If name
       does not already exist in the environment, then string is added to
       the environment.  If name does exist, then the value of name in the

[2020-01-16 02:03] ptrendx commented on #17335
@DickJC123 Could you take a look?

[2020-01-16 02:15] wuxun-zhang commented on #17231
@zhhoper May I know your exact command to build MXNet from source? And your complete benchamrk commands? Thanks.

[2020-01-16 02:39] shawnbrar opened #17337 "MXNET Installation for R-Package are wrong"
The official installation instructions of Mxnet for R on Ubuntu are wrong. Under the Install the MXNet Package for R heading it says that "source root directory to build the MXNet Perl package:". Why is that so?
![Screenshot_2020-01-16-08-08-26-830_com brave browser](https://user-images.githubusercontent.com/59639827/72488616-72498900-3837-11ea-9b80-c2a05e89e11c.jpg)

[2020-01-16 03:03] ResearchingDexter commented on #15647
It didn't work that uninstall and reinstall mxnet. I reinstall mxnet many times, please help me. @leezu

[2020-01-16 03:18] cyrusbehr opened #17338 "Unable to build mxnet with USE_OPENMP=OFF with MKLDNN backend"
I need to compile mxnet to run in single thread mode. From what I have found, using the environment variables `MXNET_ENGINE_TYPE=NaiveEngine` and `OMP_NUM_THREADS=1` and using `omp_set_num_threads(1);` in my c++ code gets the number of threads down to 2. To get the number of threads down to 1, I need to compile the library with `USE_OPENMP=OFF` (discussed more in [this](https://github.com/apache/i

[2020-01-16 06:58] mahxn0 commented on #14875
same problom, when used torch yolov32onnx.py, so easy to convert
I will give up mxnet never look back

[2020-01-16 10:08] TaoLv commented on #17329
@roywei Regarding [3], [4], do you think we need list the copyrights/license in MXNet top LICENSE file or ask MKL-DNN itself to change? I noticed that in the latest version of MKL-DNN, it already added MathJax copyrights/license to its LICENSE file. See https://github.com/intel/mkl-dnn/blob/master/LICENSE#L352

[2020-01-16 12:08] leezu commented on #17337
It's fixed by https://github.com/apache/incubator-mxnet/pull/17284 2 days ago.
You may need to clear your browser cache.

[2020-01-16 12:18] leezu commented on #15647
Ok. Then you should uninstall and build from source. Please follow the guide at https://mxnet.apache.org/get_started/ubuntu_setup
If the error persists, add `-DCMAKE_BUILD_TYPE=Debug` instead of `-DCMAKE_BUILD_TYPE=Release` in the `cmake` line.

Your problem could be related to the conda setup. If you don't want to build from source, I suggest you don't use conda and try again to install mxnet wit

[2020-01-16 12:28] ChaokunChang commented on #17299
This is the output of cmake:

-- The C compiler identification is GNU 7.4.0
-- The CXX compiler identification is GNU 7.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for working CXX compiler

[2020-01-16 12:35] leezu commented on #17299
Looking at your output, you can see

[code]

You need to install ZMQ. This should have been a fatal error preventing build.

[code]

Your system is not setup correctly. You're mixing system protobuf and some conda protobuf.
Conda messes a lot with your system. You shouldn't use it if you want to compile MXNet.

[2020-01-16 13:10] leezu commented on #17299
I suppose you activated conda after logging in to your machine. Something like `source activate mxnet_p36`. If you didn't do that and you don't want to use conda, you can try to delete the conda installation `rm -rf /home/ubuntu/anaconda3`

[2020-01-16 13:15] leezu commented on #17338
@TaoLv this fixes the issue for me (though I didn't try linking with MKL). I'll reassign this issue to you, as it seems to be due to MKLDNN integration (ie above missing variable).

[2020-01-16 13:19] ChaokunChang commented on #17299
I have never used `source activate mxnet_p3` command before (In fact I even didn't know what is it ...). I thought I didn't use conda because there is no something like `(base)` before `ubuntu@ip-xx-xx-xx-xx:~$ `

[2020-01-16 13:27] TaoLv commented on #17338
@leezu Thanks. We need check USE_OPENMP in cmake as what we did for makefile: https://github.com/apache/incubator-mxnet/blob/master/mkldnn.mk#L35. I will file a PR to fix the problem once the patch is verified by the reporter.

[2020-01-16 14:37] ZheyuYe commented on #17327
@sxjscience

[code]
I was aimed to pick the items from the sequence with shape (8, 2, 768) whereas the `mn.npx.pick` can not handle it. Under the deep numpy enviorment, I used the basic indexing as numpy operation as `encoded = sequence[batch_idx, pick_ids.reshape((-1,))]` which would fail after hybridize() raising the below **Error**

[2020-01-16 14:47] leezu commented on #17299
It means you are using the `(base)` conda environment.

Maybe it's activated by default on the Deep Learning AMI. You can check the `.bashrc` file and delete any lines like `source activate`.

[2020-01-16 14:56] TaoLv opened #17341 "Segfault of test_gluon_data.test_recordimage_dataset_with_data_loader_multiworker"
## Description
Maybe not that flaky. I met the crash in my MKL-DNN upgrading PR (#17313) which seems to be not related to this test.
Put this issue here to see if anyone else meets the same problem and hope someone familiar with threaded engine can take a look.

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17313/2/pipeline/29

[2020-01-16 15:28] kshitij12345 opened #17342 "[bug] Indexed Assignment Incorrect"
## Description
Incorrect output when assigning with mask_array

## To Reproduce
[code]

## Output
[code]

## Environment

We recommend using our script for collecting the diagnositc information. Run the following command and paste the outputs below:
[code]

[2020-01-16 15:52] #17337 closed

[2020-01-16 18:16] cyrusbehr commented on #17338
@leezu @TaoLv
Adding `set(MKLDNN_CPU_RUNTIME SEQ CACHE INTERNAL "" FORCE)` solved the problem.
Thanks!

[2020-01-16 18:58] roywei commented on #17329
Hi @TaoLv , the existing MathJax is for the docs file, we need to also include mkldnn part. Basically for all newly added source files, if there is a different license or copyright statement (different than the Apache contributor copyright) we need to state in the top level license file clearly: which file used what license and what’s the copyright.

[2020-01-16 21:55] haojin2 commented on #17342
@kshitij12345 This has been addressed in the new `np` module:
[code]
running this on the latest master:
[code]

[2020-01-16 22:16] #17085 closed

[2020-01-16 22:25] apeforest opened #17347 "Static build script error out"
## Description
If I want to build a wheel locally, the script tools/staticbuild/build.sh no longer works.

### Error Message
[code]
## To Reproduce
### Steps to reproduce
cd mxnet
tools/staticbuild/build.sh

## Environment
[code]

[2020-01-16 22:36] apeforest commented on #17347
@stu1130 Are you aware of this error? Thanks

[2020-01-16 22:37] stu1130 commented on #17347
you need the
[code]
To be more specific,  `nasm`

[2020-01-16 23:20] leezu commented on #17347
This is not related to our CMake build.

[2020-01-16 23:23] leezu opened #17350 "Website: Link-checker as part of build?"
## Description
The consistency of all links should be asserted as part of the CI.
Otherwise PR's can easily break internal links.

For example, the fixes done by https://github.com/apache/incubator-mxnet/pull/17349/files should never have become necessary, as CI should have prevented breaking those links.

## References
http://www.sphinx-doc.org/en/master/man/sphinx-build.html can be configured to

[2020-01-17 00:13] apeforest opened #17352 "Error in mkldnn unit test"
## Description
When I ran nosetests -v tests/python/mkl/test_mkldnn.py, all the tests passed.
If I ran nosetests -v tests/python/mkl/test_mkldnn.py:test_mkldnn_engine_threading, it failed with
[code]
## To Reproduce
nosetests -v tests/python/mkl/test_mkldnn.py:test_mkldnn_engine_threading

[2020-01-17 00:17] apeforest commented on #17352
@PatricZhao @TaoLv Did you encounter this before? Thanks

[2020-01-17 00:25] eric-haibin-lin opened #17353 "Tutorial does not render correctly"
The links are not rendered properly:
https://mxnet.apache.org/api/python/docs/tutorials/packages/ndarray/sparse/train_gluon.html

![Screen Shot 2020-01-16 at 4 25 05 PM](https://user-images.githubusercontent.com/5545640/72574126-d2aee980-387c-11ea-8ddc-40d45a788f95.png)

[2020-01-17 01:07] ChaokunChang commented on #17299
close in mistake, reopen

[2020-01-17 05:03] TaoLv commented on #17352
Yes, we're aware of this problem as in our local validation system, python tests are split into single run for each test. We didn't dive into the problem as we thought it's a problem of nosetests or how the nosetests file is implemented. I remember these was an similar issue but cannot find it anymore.

[2020-01-17 05:04] TaoLv commented on #17352
@juliusshufan

[2020-01-17 07:05] kohillyang opened #17357 "lr_scheduler does not work as expect when training from checkpoint.(Not sure it is a bug.)"
## Description
As I know, the optimizer decides the num_update according to its _index_update_count saved on each device, which means that If the trainer states on one GPU device and loaded into another device, the behavior of lr_sheduler relying on num_update will be different.

This is a little confusing, because one case is that the GPUs are shared by the whole lab, and when I want to restore t

[2020-01-17 08:16] kohillyang commented on #17224
https://github.com/dmlc/gluon-cv/blob/master/gluoncv/utils/parallel.py is designed for SyncBN，however, there are some thread problems when forward and backward in multi-thread environment.

[2020-01-17 08:17] kohillyang commented on #17224
See https://github.com/apache/incubator-mxnet/pull/14344.

[2020-01-17 08:41] shawnbrar opened #17359 "Mxnet doesn't install for R if OpenCV is build on linux"
I am an avid R user and wanted to build Mxnet for R on Ubuntu 18.04.
I have also built (not installed through apt-get) OpenCV with its contributed modules.
For Mxnet, I had installed Intel's MKL library through their repository and had built Intel MKL-DNN library.
I wanted to build Mxnet for CPU. Below is the cmake command with it's flags that I use to make the cmake files in the build directory.

[2020-01-17 10:16] leezu commented on #17359
You likely didn't set up your CPATH, LIBRARY_PATH and LD_LIBRARY_PATH correctly. Could you post the value of each?

Ie run `echo CPATH` etc

[2020-01-17 13:31] TaoLv opened #17362 "[flaky] test_higher_order_grad.test_arcsin"
## Description
test_higher_order_grad.test_arcsin

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17356/1/pipeline

[code]

## What have you tried to solve it?

None

[2020-01-17 13:31] TaoLv commented on #17362
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17355/1/pipeline

[2020-01-17 13:36] harshsp31 commented on #15585
Anyone found the issue?

[2020-01-17 13:42] xidulu opened #17363 "Random generator testing not working correctly,"
## Description
Changing the `ss.norm.ppf` to `ss.logistic.ppf` or `ss.gumbel_r.ppf` will not affect the result of the test, which is clearly problematic.

https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_random.py#L614

To reproduce:
  1.  Replace the `ss.norm.ppf` in line 614 in test_random.py with `ss.gumbel_r.ppf`
  2. Run `MXNET_ENGINE_TYPE=NaiveEngine nosetests

[2020-01-17 18:33] #17285 closed

[2020-01-17 18:58] apeforest commented on #17362
@kshitij12345 Could you please take a look? Thanks!

[2020-01-17 19:29] djaym7 commented on #14955
Anyone has an update on this ?

[2020-01-17 22:14] apeforest commented on #13881
I still have this issue recently if I compile using make and USE_BLAS=mkl. If I use cmake with -DUSE_MKL_IF_AVAILABLE=ON it's also not working and complains that "-- Could NOT find MKL (missing: MKL_INCLUDE_DIR MKL_RT_LIBRARY)
-- Found OpenBLAS libraries: /usr/local/lib/libopenblas.so
-- Found OpenBLAS include: /usr/local/include"

I did install mkl following this guide https://software.intel.com/

[2020-01-17 22:44] zhhoper commented on #17231
Hi, the mxnet build from source does not seem to work. I install the mxnet with pip, it can compress the network but the run time is super slow.  The mxnet version is 1.6.0.

[2020-01-17 23:16] apeforest opened #17366 "Coredump running unit test with MKL Blas"
## Description
I build mxnet with MKL blas and MKLDNN. The build was successful, however, when I ran unit test, I got the following core dump. Note: I am using master branch so there is no local changes from me.
### Error Message
test_mkldnn.test_convolution ... [23:12:00] ../src/executor/graph_executor.cc:2062: Subgraph backend MKLDNN is activated.
[23:12:00] ../src/executor/../operator/../common

[2020-01-17 23:25] apeforest commented on #17366
@PatricZhao @TaoLv I will appreciate if you guys could provide input to this problem. I am working on a PR https://github.com/apache/incubator-mxnet/pull/16735 recently that requires me to build with MKL blas and MKLDNN. However, I found it not a good experience using MKL. Please see my other issue opened: https://github.com/apache/incubator-mxnet/issues/13881.

Since our man page encourages users

[2020-01-18 01:26] leezu commented on #13881
@apeforest after installing mkl to that location, you likely either need to add the location to the relevant environment variables (such as PATH), or manually specify the mkl root dir as an argument to cmake. It's expected and in fact desirable that cmake doesn't pick up things that are not listed in the relevant environment variables or command line options.

Or what do you mean?

[2020-01-18 05:48] haojin2 opened #17369 "flaky test: test_gluon_data_vision.test_random_transforms"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17358/2/pipeline
[code]

[2020-01-18 06:54] roywei commented on #17329
Hi @skylook , could you update your copyright on the file listed as No. 7 above?
`./example/image-classification/predict-cpp/image-classification-predict.cc`

This file was contributed by you before MXNet was donated to Apache Software Foundation. This file only has your copyright, but there is no license. The Apache Software Foundation does not require individual copyright notice from contributor

[2020-01-18 07:04] roywei commented on #17329
Now we have either created a PR to fix the above issues or contacted the original author to help with files we can't directly change.

Next step is find a script to automatically find files with license/copyright issue.

[2020-01-18 12:52] lilongyue opened #17374 "potential dead lock bug! in 'dmlc-core'"
in the file 'dmlc-core/include/dmlc/thread_group.h'

in the file    two functions below are used as initializer  of engine threads:
there is a potential dead lock bug inside these functions:

1.  wait  thread get the mutex_ lock and switch to engine thread
2. engine thread  set signaled_ = true;  and switch to wait  thread
3. wait thread bypass if condition and continues to execute
4. the engine j

[2020-01-18 13:01] #17374 closed

[2020-01-18 13:12] TaoLv commented on #17366
Have you ever tried the suggestion in the error message to `export KMP_DUPLICATE_LIB_OK=TRUE` before running the test? This is also the interoperability problem of different omp runtimes I mentioned in https://github.com/apache/incubator-mxnet/issues/16891.

[2020-01-19 00:59] szha commented on #17329
Note that the list from Justin is not an exhaustive one and we will still need to search for issues again by ourselves.

[2020-01-19 02:18] wkcn commented on #17357
It is a bug. MXNet saves `index_update_counts` by device_id. When `device_id` is changed, `index_update_counts` will be reset.
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer/optimizer.py#L408

[2020-01-19 02:31] wkcn commented on #17357
A temporary solution:
Use the environment variable `CUDA_VISIBLE_DEVICES` to select the GPU devices, and fix the device id in the code.
`CUDA_VISIBLE_DEVICES=1,2 python train.py`

[2020-01-19 02:58] a550461053 opened #17378 "libmxnet.so: File format not recognized"
## Description
(A clear and concise description of what the bug is.)
After updating the version of mxnet to mxnet-cu100==1.6.0b20191102, I get error `AttributeError: module 'mxnet.ndarray' has no attribute 'my_gemm'`

### Error Message
When use example/extensions/lib_custom_op/test_gemm.py, got that: `AttributeError: module 'mxnet.ndarray' has no attribute 'my_gemm'`
And I check the libmxnet.so, f

[2020-01-19 03:13] TaoLv commented on #17378
@samskalicky @wkcn Could you please take a look?

[2020-01-19 03:33] mycpuorg opened #17379 "Does MXNet Profiler support C++ APIs?"
## Description
Does MXNet support Profiler APIs in C++ package/interface like the Python interface?
If it does, then it's great. But I cannot find any documentation anywhere about this? Any pointers will be helpful. Thanks.

[2020-01-19 04:25] szha commented on #17252
fixed in #17259

[2020-01-19 04:25] #17252 closed

[2020-01-19 04:52] szha commented on #17378
@a550461053 the binary was compressed with upx and thus the format cannot be recognized.

Since then, we moved away from this approach and also stopped publishing nightly builds to pypi directly, and are publishing to our s3 bucket instead.

[2020-01-19 05:50] wkcn commented on #17378
Hi @a550461053 , the new approach was introduced in Dec. 6, 2019, so MXNet 1.6.0b20191102 is not supported.
It works for MXNet whose version>=1.6.0b20191207

[2020-01-19 06:03] a550461053 commented on #17378
OK, so the release version of mxnet will not use compressing?

[2020-01-19 06:06] a550461053 commented on #17378
Thank you, the pypi latest version which I can see by `pip install mxnet-cu100==1.6.0 `is 1.6.0b20191102.

[2020-01-19 07:35] stereomatchingkiss commented on #17379
You may consider to export mxnet model to onnx and load them by opencv4(begin from 4.2.0), this community do not care much about c or cpp api.

[2020-01-19 08:07] kshitij12345 commented on #17362
#17325

[2020-01-19 08:45] ResearchingDexter opened #17380 "pip install error"
## Description
I compiled MXNet for the source code, but I got the error when I **install MXNet for python**

### Error Message
[code]

## To Reproduce
[code]

### Steps to reproduce

## What have you tried to solve it?

1.
2.

## Environment
[code]

[2020-01-19 09:32] bjoern234 commented on #15721
It seems that this issue still exists in 2.2.4.2 and MXNet 1.5.1
`mxnet.base.MXNetError: Error in operator batchnorm6: [10:29:46] include/mxnet/tuple.h:211: Check failed: i >= 0 && i < ndim(): index = 1 must be in range [0, -1)`

[2020-01-19 10:02] leezu commented on #17380
Please provide the full logs mentioned inside your code snippet.

[2020-01-19 10:03] leezu commented on #17378
You can find more recent nightly releases at https://apache-mxnet.s3-us-west-2.amazonaws.com/dist/index.html

MXNet 1.6 final release will be pushed to pypi once the release is done in a few days.
Let's close this issue for now, but please reopen in case of further problems.

[2020-01-19 10:03] #17378 closed

[2020-01-19 11:07] a550461053 commented on #17378
Ok, Thank you.

[2020-01-19 12:14] zhongyuchen opened #17381 "High cpu usage of gluon.data.Dataloader"
## Description

I found that if `num_workers=0`, there will be a high CPU usage (nearly ~50% of 48CPUs). This occurs whenever I enabling CUDA.

So when I have 4 threads run in parallel (e.g. data parallelism, each thread uses one GPU), **then there will be severe CPU resource preemption problem**. It will lead to extremely slow training speed. I have encountered this problem [here](https://github.

[2020-01-19 13:00] a550461053 opened #17382 "document of lib_custom_op support gpu without rebuilding mxnet"
## Description
I want to create a lib_custom_op in c++ mxnet-backend without rebuilding the whole mxnet. In example/extensions/lib_custom_op/makefile, I didn't see the nvcc compiler and the source code sets the CPU device. Does it support GPU?
- Can we update the document of custom op.

## References
- https://github.com/apache/incubator-mxnet/tree/master/example/extensions/lib_custom_op
- https:/

[2020-01-19 13:19] wkcn commented on #17382
It doesn't support GPU yet. The PR https://github.com/apache/incubator-mxnet/pull/17270 is work in process.

[2020-01-19 19:01] bjoern234 opened #17383 "How to use Conv1d in Julia"
Hi!
I've tried to translate the Conv1d Python Keras/TF example from [https://machinelearningmastery.com/cnn-models-for-human-activity-recognition-time-series-classification/](https://machinelearningmastery.com/cnn-models-for-human-activity-recognition-time-series-classification/) into MXNet.jl.

I was able to train the model but with poor results compared to the Keras version. I'm not sure what I'

[2020-01-19 20:07] #17338 closed

[2020-01-20 01:51] a550461053 commented on #17382
OK, thanks, I will pay attention to the PR #17270 . This issue focus on the document.

[2020-01-20 02:04] ResearchingDexter commented on #17380
It only printed so much...., how I can do that.

[2020-01-20 02:59] heaseny opened #17384 "Error in numpy unit test"
## Description
When I ran the test  nosetests -s -v tests/python/unittest/test_numpy_interoperability.py:test_np_fallback_ops
, it raised error "TypeError: No loop matching the specified signature and casting
was found for ufunc inv"

### Error Message
nosetests -s -v tests/python/unittest/test_numpy_interoperability.py:test_np_fallback_ops
test_numpy_interoperability.test_np_fallback_ops ... [INF

[2020-01-20 08:30] TaoLv commented on #16995
Timeout again:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17355/3/pipeline/294

At the same place:
[code]

[2020-01-20 09:36] liuzh91 commented on #17380
@ResearchingDexter  Have you `make` under the `incubator-mxnet` directory before doing `pip install`?

[2020-01-20 17:13] sxjscience commented on #17303
Given that we can use broadcasting, it should not be necessary to introduce `bias_add`. Also, in numpy, we can directly use the auto-broadcasting mechanism.

[2020-01-20 17:13] #17303 closed

[2020-01-20 17:36] sxjscience commented on #17317
@haojin2 @reminisce

[2020-01-20 22:39] haojin2 commented on #17317
working on it

[2020-01-20 22:56] haojin2 commented on #17384
Hi, I'm not able to reproduce with latest master branch, which branch were you using? and what kind of build are you using?
[code]

[2020-01-20 23:22] larroy commented on #16995
Thanks the team will look into this next week.

[2020-01-21 00:41] rondogency commented on #17382
Hi @a550461053, the lib_custom_op in c++ doesn't support GPU for now, and we are working on both c++ custom op doc #17241 and gpu support #17270

The doc from python api you mentioned is merely for python custom op, and it is a different thing from lib_custom_op c++ custom op

[2020-01-21 01:51] heaseny commented on #17384
The test can fail with  numpy==1.16.4, so should I upgrade my numpy?

[2020-01-21 01:53] haojin2 commented on #17384
I have 1.18.1, I'll try with my numpy downgraded.

[2020-01-21 05:48] KellenSunderland commented on #15547
I'd also propose we do this in the 1.7 release.

[2020-01-21 06:47] reminisce opened #17389 "Indexing ndarray should give empty array output"
## Description
When indexing an ndarray with an index greater than the dim size, it should produce an empty ndarray as in NumPy, instead of throwing an error.

[code]
@Alicia1529

[2020-01-21 09:43] allenxcp opened #17394 "cmake failed cpp-package with USE_TENSORRT,IN ubuntu18.4+cuda10+tensorrt7"
## Description
(A clear and concise description of what the bug is.)

/home/xcp/3rdparty/test/incubator-mxnet/3rdparty/dmlc-core/cmake/build_config.h.in -> include/dmlc/build_config.h
Found OpenMP_C: -fopenmp
Found OpenMP_CXX: -fopenmp
Autodetected CUDA architecture(s):  7.5
-- CUDA: Using the following NVCC architecture flags -gencode;arch=compute_75,code=sm_75
CMake Error: The following variable

[2020-01-21 10:57] jens-maus commented on #17207
I stumbled over the same issue here and tested the example provided by @onomatet. I also could verify that using the lr scheduler does not seem to end up in seeing changed/adapted learning rates to appear. @jeremiedb @hetong007 Any explantation/workaround for that?

[2020-01-21 11:50] lilipj opened #17395 "Keras model to ONNX to mxnet error"
## Description
I'm trying to import a keras model converted in onnx format with onnx_mxnet import module.
I've built a classic mnist digit classification with keras :
def define_model():
	model = Sequential()
	model.add(Conv2D(32, (3, 3), activation='relu', kernel_initializer='he_uniform', input_shape=(28, 28, 1), name="name_1"))
	model.add(MaxPooling2D((2, 2), name="name_2"))
	model.add(Conv2D(64

[2020-01-21 14:00] Wallart commented on #17017
I can reproduce too

[2020-01-21 14:19] hetong007 commented on #17207
Well it looks like the optimizer implementation doesn't consider the learning rate from the scheduler: https://github.com/apache/incubator-mxnet/blob/master/R-package/R/optimizer.R#L40

A quick fix would be checking the existence of the scheduler before `lr <- learning.rate`. It has been like this before the PR.

[2020-01-21 14:46] onomatet commented on #17207
@hetong007 Thank you for your reply!

Honestly, I don't see how would it help. lr schedulers are called properly on every update here
https://github.com/apache/incubator-mxnet/blob/25505e9da4ea24ce37f1e60916d1afc3fcd15300/R-package/R/optimizer.R#L86
and they modify the `lr` parameter in the `sgd` namespace.

From my understanding, however, it doesn't matter since `lr` is a property of the `mx.symb

[2020-01-21 14:59] leezu commented on #17394
You need to provide the cmake command that you are running...

`CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
ONNX_LIBRARY`

[2020-01-21 15:07] jeremiedb commented on #17207
@onomatet I think you're correct. I'm yet unsure whether the learning rate property could be mutated on the symbol. Otherwise, I guess a reinitialization of the optimizer graphs would be needed. I'll take a closer look by tomorrow.

[2020-01-21 15:08] leezu commented on #15547
I think approval needs to be requested at https://issues.apache.org/jira/browse/LEGAL-468 if the borderline-compliant license should be used in the release?
Currently it seems that both 1.5 release and 1.6rc are not compliant with ASF policy given this license issue?

[2020-01-21 17:52] access2rohit opened #17397 "log_softmax for large tensor is flaky"
## Description
log_softmax fails randomly when using very large tensors.

## Occurrences
*** Maximum errors for vector of size 5000000000:  rtol=0.0001, atol=1e-20

  1: Error 228.818179  Location of error: (1, 69287122), EXPECTED_log_softmax0_output=-17.01618748, FORWARD_log_softmax0_output=-16.63553619
  2: Error 228.818174  Location of error: (1, 66902942), EXPECTED_log_softmax0_output=-17.0161

[2020-01-21 17:53] access2rohit commented on #17397
@mxnet-label-bot add [large-tensor]

[2020-01-21 18:04] ChaiBapchya opened #17398 "1.5.x branch fails with numpy.decorator issue"
## Description
Numpy.decorator module not found
#17286
### Error Message
[code]
## To Reproduce

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-17286/1/pipeline

[2020-01-21 18:06] #17104 closed

[2020-01-21 18:57] apeforest commented on #16891
Hi @pengzhao-intel, in MXNet 2.0 Cmake is planned to be the only build system: https://github.com/apache/incubator-mxnet/projects/18#card-30594044

Would that address the cons in Option 2?

[2020-01-21 22:45] k128 commented on #14664
I'm getting the same error
Ubuntu 18.04
pip install mxnet-mkl
Also tried pip install mxnet and pip install mxnet-mkl --pre

[2020-01-21 22:50] leezu commented on #14664
@k128 please provide information about your cpu. Ie output of `cat /proc/cpuinfo`

[2020-01-21 23:03] k128 commented on #14664
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 26
model name	: Intel(R) Core(TM) i7 CPU         920  @ 2.67GHz
stepping	: 4
microcode	: 0x12
cpu MHz		: 1649.507
cache size	: 8192 KB
physical id	: 0
siblings	: 8
core id		: 0
cpu cores	: 4
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 11
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr

[2020-01-22 00:29] #17292 closed

[2020-01-22 04:20] tonyng1707 commented on #17232
@leezu I can build a MXNet Conda package based on the source you provided; however the package does not support GPU usage.  Please help

[2020-01-22 04:24] jeremiedb commented on #17207
At the moment, I can't think of a quick turnaround for fixing that LR update issue.
Having a condition to rebuild the weights executors seems to be a viable route to take, at least from an initial PoC on SGD. A concern is whether rebuilding execs might cause some memory overhead on large models. It remains to be validated, but if it's safe to assume learning rate update would typically be use only

[2020-01-22 05:28] shawnbrar commented on #17359
I actually found the problem. When I type in `make -f R-package/Makefile rpkg`, the following output appears :
`make -f R-package/Makefile rpkg`

--------------------------------------------------------------------------------------------------------------------
mkdir -p R-package/inst/libs
cp src/io/image_recordio.h R-package/src
if [ -d "lib" ]; then \
	cp -rf lib/libmxnet.so R-package/inst/libs

[2020-01-22 05:42] shawnbrar commented on #17359
I renamed all of my _opencv4.pc_ files to _opencv.pc_. This solution worked for me.
![Screenshot from 2020-01-22 11-11-41](https://user-images.githubusercontent.com/59639827/72868426-fe602280-3d07-11ea-9034-17c56e2705b5.png)
*Providing with a screenshot*

[2020-01-22 08:23] szha commented on #17232
@tonyng1707 you can use `tools/staticbuild/build.sh cu101` for building the mxnet-cu101 variant.

[2020-01-22 10:02] onomatet commented on #17207
@jeremiedb thank you for your answers! I will give your idea a try as a temporary solution.
My concern is, however, that rebuilding of the executors might be ok for the simple lr schedulers like `mx.lr_scheduler.FactorScheduler` but it might become a problem for a something like cosine annealing scheduler which requires quite frequent lr updates.

[2020-01-22 14:10] szha commented on #17329
There are multiple files with multiple headers and an automated tool that checks for multiple headers would have helped. In addition, the checks for these files (except 6) are currently ignored by the following [rat-exclude](https://github.com/apache/incubator-mxnet/blob/master/tests/nightly/apache_rat_license_check/rat-excludes) rules:
[code]

It means that these rules should be revisited and we

[2020-01-22 15:59] onomatet commented on #17207
Found a temporary solution which works for me and doesn't require reinitialization of the executors:

1. Store original LR in the `sgd` namespace.
2. Each update, recalculate LR with a scheduler.
3. Multiply gradient array by `lr / lr_orig` prior to feeding it to the executor.

It might not be exactly the same as setting the LR in the executors themselves, but it esentialy works as expected.

[2020-01-22 16:34] bricksdont opened #17402 "Cannot install mxnet-cu101mkl with pip"
## Description
Trying to install mxnet-cu101mkl with pip fails because no Pypi package matches.

### Error Message

[code]

### Steps to reproduce

I am creating a new Python virtual environment that uses Python 3.6:

[code]

Then I run this command:

[code]

## What have you tried to solve it?

- install a local version of different pythons, for instance 3.7
- look in Pypi for specific wheels, do

[2020-01-22 17:00] leezu commented on #17402
There is a bug in pip 20. Please downgrade to pip 19.

[2020-01-22 17:00] #17402 closed

[2020-01-22 17:04] bricksdont commented on #17402
That (= a bug in my version of pip) was not the issue I think, I just realized that the machine does not have MKL installed.

If I install the version without MKL, everything is fine:

    pip install mxnet-cu101

But I have no idea how I could have found out, except by trial and error.

And I did not downgrade pip:

[code]

[2020-01-22 17:05] leezu commented on #17359
@shawnbrar Do you have any reference for this statement? If so, we need to update

https://github.com/apache/incubator-mxnet/blob/b295d13491895a5ac9bd4ca186e9260da10774ef/R-package/src/Makevars#L2-L4

accordingly. However, I tested the changes with `pkg-config --cflags opencv` and it works fine on my Ubuntu 18.04.. There is likely something wrong in the way you installed OpenCV.

Let's reopen this

[2020-01-22 17:07] #17239 closed

[2020-01-22 17:19] bricksdont commented on #17402
@leezu Which bug with pip version 20 vs. 19 are you referring to?

[2020-01-22 17:45] TBag-ui commented on #16651
Was a workaround ever found for this issue?

[2020-01-22 18:05] leezu commented on #17402
https://github.com/pypa/pip/issues/7629

[2020-01-22 18:52] leezu commented on #17359
@shawnbrar how did you generate `opencv4.pc`? I tried compiling OpenCV 4.2 from source but didn't get a `opencv4.pc`.

In any case, this issue can be fixed by the following patch:

[code]

[2020-01-22 22:21] eric-haibin-lin opened #17409 "operator missing in AMP operator lists"
These operators do not appear in any of the AMP list:
'_contrib_interleaved_matmul_encdec_qk', '_contrib_interleaved_matmul_encdec_valatt',
 '_contrib_interleaved_matmul_selfatt_qk', '_contrib_interleaved_matmul_selfatt_valatt'

It means that AMP may not cast inputs correctly in some cases, when these ops are used.

[2020-01-22 22:46] leezu commented on #14664
Thanks @k128. Your CPU doesn't support AVX instruction set, but the binary package you obtained via `pip install` requires AVX. We may drop this AVX requirement from future versions of the binary packages, but in the meantime you need to build from source.

Also, please provide the output of `gcc -Q --help=target`

You can find build from source instructions at https://mxnet.apache.org/get_started

[2020-01-22 22:50] k128 commented on #14664
The following options are target specific:
  -m128bit-long-double        		[enabled]
  -m16                        		[disabled]
  -m32                        		[disabled]
  -m3dnow                     		[disabled]
  -m3dnowa                    		[disabled]
  -m64                        		[enabled]
  -m80387                     		[enabled]
  -m8bit-idiv                 		[disabled]
  -m96bit-long-d

[2020-01-22 23:14] access2rohit opened #17411 "topk() takes more memory"
## Description
topk() takes more memory than the supplied input.

### Error Message
[code]
## To Reproduce

[code]
### Steps to reproduce
Run the above script on MXNet built from master

## Environment

We recommend using our script for collecting the diagnositc information. Run the following command and paste the outputs below:
[code]

[2020-01-22 23:25] connorgoggins opened #17412 "certain sample_ ops hanging with mx.nd.random_normal input"
## Description
While testing sample_ operators for opperf, I came across an issue where `sample_gamma`, `sample_generalized_negative_binomial`, and `sample_generalized_negative_binomial` would hang when provided with `mx.nd.random_normal` as input args. For example, the following command hangs:

`mx.nd.sample_gamma(alpha=mx.nd.random_normal(shape=(3,)),beta=mx.nd.random_normal(shape=(3,)))`

Inter

[2020-01-22 23:50] roywei commented on #17329
Yes, agree we need a script and the exclude rules for rat-check need to be revisited. We should avoid bulk exclusion entire folder. Anything in the exclusion need to be manually checked for license and copyright compliance.

It's quite tricky to translate the following rules to scripts.
https://www.apache.org/legal/src-headers.html
https://www.apache.org/legal/resolved.html

Right now I can think

[2020-01-22 23:56] leezu commented on #14664
Thank you. Please let me know if you face any issues with the source compiled version of mxnet (https://mxnet.apache.org/get_started/ubuntu_setup)

[2020-01-23 00:54] haojin2 opened #17414 "flaky test_deconvolution2d"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17392/2/pipeline/
[code]

[2020-01-23 04:45] shawnbrar commented on #17359
So earlier when you had pointed out that I should run some `echo` commands in my terminal, I did not get any output in my terminal. So I went ahead and searched for `opencv` in my system. I found out that I had three different versions on `opencv` on my computer. Two of which were `OpenCV 4.2.0-dev` (the one which I had compiled) and `OpenCV 3.2` (which I had installed from `apt-get`). The third v

[2020-01-23 04:50] leezu commented on #17359
Thanks @shawnbrar for the elaboration. The issue will be fixed by https://github.com/apache/incubator-mxnet/pull/17404/ shortly.

[2020-01-23 04:53] shawnbrar commented on #17359
You're welcome. I've been dying to try this library in R since mid 2019. But wasn't able to build it properly earlier.

[2020-01-23 05:08] #17359 closed

[2020-01-23 05:09] leezu commented on #17359
@shawnbrar I fixed some issues with the R build recently, so at least the build should work well now. Please report any further issues you fine here on github

[2020-01-23 05:50] jeremiedb commented on #17207
@onomatet Glad that you found a viable turn around.

I performed a test with a modified SGD and updater where the execs get rebuilt. On a CNN model on MNIST where the weights executors where updated 22 times during an epoch, training time went from 3.1 sec to 3.6 sec, so roughly 0.025 sec per learning rate update.

From a sprase learning rate update perspective, it appears reasonable, but in scena

[2020-01-23 12:42] k128 commented on #14664
I might be doing something completely wrong here, but I installed MKL via APT without error and used the code on this page in order: https://mxnet.apache.org/api/python/docs/tutorials/performance/backend/mkldnn/mkldnn_readme.html

After executing these lines, I got errors
Commands:
cmake -DUSE_CUDA=OFF -DUSE_MKL_IF_AVAILABLE=ON -DUSE_MKLDNN=ON -DUSE_OPENMP=ON -DUSE_OPENCV=ON ..
make -j $(nproc)

L

[2020-01-23 14:10] henrikmatzen commented on #8326
use `demo.py --cpu` if you have gpu problems

[2020-01-23 14:39] shawnbrar commented on #17359
@leezu, were you able to find out whether the build on your Ubuntu was using OpenCV 4 or OpenCV 3?

[2020-01-23 15:52] kshitij12345 commented on #16238
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-17325/7/pipeline

[2020-01-23 15:55] kshitij12345 commented on #14329
#16238

[2020-01-23 17:13] xidulu commented on #17412
The `hang` you describe happened in the rejection sampling implementation of `sample_gamma`, which was basically an infinite while loop. I believe this `hang` was triggered by invalid parameters of the sampling method, in which case there would never be `accepted samples`.

In your example, the `alpha` parameter, if sampled from a standard normal, would be a negative number by chance, which could

[2020-01-23 17:14] anirudh2290 commented on #16651
@TBag-ui one workaround is mentioned here : https://github.com/apache/incubator-mxnet/issues/16365#issuecomment-548364009

[2020-01-23 17:32] leezu commented on #17359
It was with OpenCV 3. The fix in #17404 will apply to Ubuntu 20.04 and current Debian Testing, as well as when manually compiling OpenCV 4 from source and installing it correctly.

[2020-01-23 17:33] leezu commented on #14664
@k128 please post the complete output of the `cmake` command as well as the `make -j $(nproc)`. You can attach them as files to your response

[2020-01-23 19:19] ehsanmok opened #17417 "[Website][Doc] Gluon Custom Layers doc rendering issue"
- https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/blocks/custom-layer.html

<img width="1062" alt="Screen Shot 2020-01-23 at 11 12 25 AM" src="https://user-images.githubusercontent.com/6980212/73016050-0389a400-3dd2-11ea-9a40-4f7b50edf059.png">

- https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/blocks/custom-layer.html#Layers-with-Parameters

<img width="643" al

[2020-01-23 19:20] ehsanmok commented on #17417
@mxnet-label-bot add [Doc, Good First Issue]

[2020-01-23 19:24] ehsanmok opened #17418 "[Website][Doc] Gluon Parameter link rendering issue"
https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/blocks/custom-layer.html#Layers-with-Parameters

<img width="643" alt="Screen Shot 2020-01-23 at 11 21 45 AM" src="https://user-images.githubusercontent.com/6980212/73016547-e4d7dd00-3dd2-11ea-869d-3045de3eeb41.png">

[2020-01-23 19:24] ehsanmok commented on #17418
@mxnet-label-bot add [Doc, Good First Issue]

[2020-01-23 19:29] ehsanmok opened #17419 "[Website][Doc] Incorrect links in Gluon Custom Layer (Beginners)"
Always use a released commit to link to a code line. Currently

- [`forward(self, x)`](https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/blocks/custom_layer_beginners.html#The-simplest-custom-layer) points to [here](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/block.py#L415).

- [`hybridize`](https://mxnet.apache.org/api/python/docs/tutorials/packages/gl

[2020-01-23 19:30] ehsanmok commented on #17419
@mxnet-label-bot add [Doc, Good First Issue]

[2020-01-23 19:43] ehsanmok opened #17420 "[Website][Doc] Gluon hybridize rendering issue"
https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/blocks/hybridize.html#Key-differences-and-limitations-of-hybridization

<img width="842" alt="Screen Shot 2020-01-23 at 11 40 59 AM" src="https://user-images.githubusercontent.com/6980212/73017972-87915b00-3dd5-11ea-998b-776f13225199.png">

and

<img width="818" alt="Screen Shot 2020-01-23 at 11 44 53 AM" src="https://user-images.gi

[2020-01-23 19:43] ehsanmok commented on #17420
@mxnet-label-bot add [Doc, Good First Issue]

[2020-01-23 19:50] ehsanmok opened #17421 "[Website][Doc] Gluon Layers and Blocks links rendering issues"
- https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/blocks/nn.html#Layers-and-Blocks

<img width="797" alt="Screen Shot 2020-01-23 at 11 48 24 AM" src="https://user-images.githubusercontent.com/6980212/73018447-87de2600-3dd6-11ea-8bca-9267344a1851.png">

- https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/blocks/nn.html#A-Sequential-Block

<img width="778" alt="Scre

[2020-01-23 19:50] ehsanmok commented on #17420
@mxnet-label-bot add [Doc, Good First Issue]

[2020-01-23 19:51] ehsanmok commented on #17421
@mxnet-label-bot add [Doc, Good First Issue]

[2020-01-23 19:59] ehsanmok commented on #17418
Added to its section issue: #17417

[2020-01-23 19:59] #17418 closed

[2020-01-23 20:04] ehsanmok opened #17422 "[Website][Doc] Gluon Custom Loss Blocks link rendering issues"
- https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/loss/custom-loss.html#What-is-Contrastive-Loss

<img width="830" alt="Screen Shot 2020-01-23 at 12 03 15 PM" src="https://user-images.githubusercontent.com/6980212/73019460-7a29a000-3dd8-11ea-9f65-49d26784d284.png">

- https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/loss/custom-loss.html#Prepare-the-training-data

[2020-01-23 20:05] ehsanmok commented on #17422
@mxnet-label-bot add [Doc, Good First Issue]

[2020-01-23 20:10] ehsanmok opened #17423 "[Website][Doc] Gluon KL divergence link rendering issue"
https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/loss/kl_divergence.html#Kullback-Leibler-(KL)-Divergence

<img width="803" alt="Screen Shot 2020-01-23 at 12 09 50 PM" src="https://user-images.githubusercontent.com/6980212/73019894-59157f00-3dd9-11ea-814d-2e76706081a9.png">

and

<img width="844" alt="Screen Shot 2020-01-23 at 12 11 32 PM" src="https://user-images.githubuserconten

[2020-01-23 20:11] ehsanmok commented on #17423
@mxnet-label-bot add [Doc, Good First Issue]

[2020-01-23 20:16] ehsanmok opened #17424 "[Website][Doc] Gluon Loss functions LaTex rendering issue"
https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/loss/loss.html#Cross-Entropy-Loss-with-Softmax

Seems this page doesn't not render latex

[2020-01-23 20:17] ehsanmok commented on #17424
@mxnet-label-bot add [Doc, Good First Issue]

[2020-01-23 22:05] #17320 closed

[2020-01-23 22:37] leezu commented on #14664
I verified that the `./tools/staticbuild/build.sh cpu pip` includes AVX2 instructions in the `libmxnet.so`, whereas standard make and cmake builds do not. https://github.com/apache/incubator-mxnet/blob/359da7611db68025e13c1f059bc604634847240c/make/staticbuild/linux_cpu.mk

To check the presence of AVX2 instructions use:

[code]

[2020-01-23 23:56] leezu commented on #17299
@ChaokunChang Sorry, I misread your comment at https://github.com/apache/incubator-mxnet/issues/17299#issuecomment-575147222

I understand you're not using conda. Unfortunately the environment you're using (DLAMI) activates some conda features by default (for example you're using `/home/ubuntu/anaconda3/lib/python3.6/site-packages/pip` and `/home/ubuntu/anaconda3/bin/protoc`). This is a problem wi

[2020-01-24 01:00] apeforest opened #17425 "USE_TVM_OP flag in CI tests differ from release and default cmake flags"
## Description
In our current CI, all the tests except one (Python3: GPU TVM_OP OFF) are testing mxnet build with USE_TVM_OP on. However, in our pip release or default CMakelist.txt, the USE_TVM_OP flag is off by default. This difference may cause our released version not properly tested.

[2020-01-24 02:19] #12107 closed

[2020-01-24 02:48] ChaiBapchya commented on #17412
@xidulu good point
@connorgoggins would be great to paste the outputs when u write command so as to complement your sentences.

Also, since we uncovered this use-case. Would be a great idea to improve the "Error handling" or "error messaging".

[2020-01-24 02:48] ChaiBapchya commented on #17412
@mxnet-label-bot add [good first issue]

[2020-01-24 03:32] #17332 closed

[2020-01-24 03:38] k128 commented on #14664
It took me a long time to get the output since for some reason, sending the output to a text file was causing cc1plus processes to spawn until the system crashed from lack of memory.  Eventually I figured out what was causing the issue (still no idea why) and used script instead.  Here's where I'm at:

Code I ran:
sudo apt install -y build-essential git libopenblas-dev liblapack-dev libopencv-dev

[2020-01-24 03:43] leezu commented on #14664
Previously you reported the build is failing. That seems not an issue anymore? Your build is succeeding now. I'm not sure why python installation fails.

Try using ` pip3 install --user -e .` instead.

[2020-01-24 03:54] k128 commented on #14664
Yeah, it seems the build is working now.  I wasn't sure that the python issue wasn't related (ie. I was missing a file due to a build error).  Not sure what fixed it.  I did at some point delete and reclone the git so possibly some file was corrupted or something.  Thanks for your help!

[2020-01-24 06:09] szha commented on #17329
Let's adopt the work-in-progress license as suggested by Justin

[2020-01-24 06:44] hzfan commented on #17097
I created a follow-up design proposal on [cwiki](https://cwiki.apache.org/confluence/display/MXNET/MXNet+FFI+for+Operator+Imperative+Invocation). TVM FFI works well with MXNet and the overhead for `np.zeros` gets greatly reduced. Any feedback is appreciated.

[2020-01-24 08:52] ChaiBapchya commented on #16238
Found again - http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-gpu/branches/PR-17399/runs/1/nodes/74/log/?start=0
non-related PR https://github.com/apache/incubator-mxnet/pull/17399

[2020-01-24 08:59] ChaiBapchya commented on #14329
@kshitij12345 good find. Since it is the duplicate (and this one was opened first) should we close the other one? @szha or let both remain?

[2020-01-24 10:27] szha commented on #16238
Duplicate of #14329.

[2020-01-24 10:27] #16238 closed

[2020-01-24 17:48] roywei commented on #15542
Closing as we have open issue tracking the remaining pybind and cub license. everything else is resolved.

[2020-01-24 17:48] #15542 closed

[2020-01-24 21:24] connorgoggins commented on #17412
@xidulu it's strange that this restriction on `alpha` isn't specified anywhere in the docs [[1](http://beta.mxnet.io/r/api/mx.nd.sample.gamma.html), [2](http://beta.mxnet.io/r/api/mx.nd.sample.generalized.negative.binomial.html), [3](http://beta.mxnet.io/r/api/mx.nd.sample.negative.binomial.html)].

These three operators need better documentation (to indicate to users that `alpha` must be in `U(0,

[2020-01-24 21:47] haojin2 commented on #17362
Another example of failure to assist the debug:
[code]

[2020-01-24 21:52] haojin2 commented on #17398
#17426 has been merged, I think this should be resolved. Feel free to reopen if errors still are present.

[2020-01-24 21:52] #17398 closed

[2020-01-24 21:55] haojin2 commented on #17384
@heaseny Hi, I just got the chance to try this out, and I was able to hit the same error, I'll be working on a fix for this, thanks for reporting the issue!

[2020-01-24 22:57] leezu commented on #15547
Apache legal didn't have concerns to continue release as is currently. See above linked thread.

[2020-01-24 22:59] haojin2 commented on #17384
@heaseny Have you tried with the latest 1.18 version of numpy? I think it should solve the issue, after some investigation I found that the error is caused by numpy 1.17 being not able to handle the same input case.

[2020-01-24 23:10] heaseny commented on #17384
Thank for your solution, I tried and found  the case could be successfull with latest numpy.

------------------
Thanks,
Xuecun

-------- 原始邮件 --------
发件人：Hao Jin <notifications@github.com>
时间：2020年1月25日 05:56
收件人：apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
抄送：heaseny <yangxc_1@aliyun.com>,Mention <mention@noreply.github.com>
主题：Re: [apache/incubator-mxnet] Error in numpy unit tes

[2020-01-24 23:46] leezu commented on #14664
I can reproduce this issue on AWS `c1` instances introduced 2010. Can't reproduce on `m3` instance introduced 2012. Note that `m3` doesn't support AVX2, so this issue is unrelated to AVX2.

`m3` supports the following additional instruction sets compared to `c1`:
[code]

Given the nature of this problem we can conclude the problem is with `avx` instruction set.

Further the use of `__m128d` type i

[2020-01-24 23:55] leezu commented on #14664
@mjpost could you verify if `mxnet` and `mxnet-cu100` 1.5.1 still don't work for you. If so, please also share the `cat /proc/cpuinfo` of your machine.

[2020-01-25 01:59] larroy commented on #15935
@michiboo did you try to rebuild? ci/build.py -p android_armv7

[2020-01-25 02:34] larroy commented on #15935
Still happening @michiboo would you like to help?

[2020-01-25 02:36] ChaiBapchya commented on #15605
Another one for #16722
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16722/5/pipeline

[2020-01-25 02:44] ChaiBapchya opened #17436 "test_gluon_model_zoo.test_parallel_download IO error"
## Description
Python 2 : GPU Win
Unrelated PR #16722

Error log (brief)
[code]

Detailed - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16722/4/pipeline

[2020-01-25 03:12] leezu commented on #17436
CC @eric-haibin-lin

[2020-01-25 03:22] xidulu commented on #17412
@connorgoggins
You could find the constraint in the docstring of python frontend.
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/ndarray/random.py#L340

I don't know why the website was rendered from the C++ doc instead of the python doc. 🤔

-----------------------------------

Bigger than zero actually, `U(0,1)` is just an example.

------------------------

Currently, none of

[2020-01-25 03:54] ChaiBapchya commented on #17412
@xidulu Good point. But since website is rendering C++ I'll update that.

Moreover, I took a brief look at np_gamma_op.* files and didn't find value check.
CheckSuccessKernel is checking for values in output right?
Where are the params checked for value?

[2020-01-25 04:31] xidulu commented on #17412
@ChaiBapchya

Oh, you are right, I forgot to implement the `check_legal_kernel` like https://github.com/apache/incubator-mxnet/blob/master/src/operator/numpy/random/np_normal_op.h#L131 for gamma.

[2020-01-25 04:56] kshitij12345 commented on #17362
@haojin2

#17325 takes care of this one as well as others.

However I am facing issues with the CI. It has timed out multiple times.

[2020-01-25 06:20] ChaiBapchya commented on #17412
I can help with that if you want

On Fri, Jan 24, 2020, 8:31 PM Xi Wang <notifications@github.com> wrote:

[2020-01-25 06:26] KuangHaofei opened #17439 "Error when training PSPNet on Cityscapes dataset using GluonCV"
## Description
The problem is when I train a PSPNet using GluonCV semantic segmentation library on the Cityscapes dataset, the training will stuck (hang) right after it started. Checking the GPU status shows that the memory is used but no program is running, GPU utilization is 0. The screenshot is attached below.

![gpu_status](https://user-images.githubusercontent.com/18661888/73117299-44beb700-3

[2020-01-25 06:40] xidulu commented on #17412
@ChaiBapchya

Thx a lot! That would be great  :)

[2020-01-25 07:54] michiboo commented on #15935
@larroy Hi Yes I would like to still work on it

[2020-01-25 08:31] #17352 closed

[2020-01-25 22:29] ChaiBapchya commented on #17067
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16722/5/pipeline

#16722

[2020-01-25 23:00] tqchen commented on #17097
Thanks @hzfan I would also high recommending taking a close look at the TVM's object protocol, and try to push most of the things through the Object eventually(Create temporary support for legacy cases like TShape is fine, but eventually pushing things as object will have a greater uniformity, and brings benefit such as putting everything into a container)

[2020-01-26 01:13] eric-haibin-lin commented on #17436
related: https://github.com/apache/incubator-mxnet/pull/17098#issuecomment-571439534

[2020-01-26 01:14] eric-haibin-lin commented on #17409
Fixed by https://github.com/apache/incubator-mxnet/pull/17408

[2020-01-26 01:14] #17409 closed

[2020-01-26 13:42] TaoLv commented on #17384
Can we close this issue now or do you think we need another fix? I notice that mxnet requires numpy 1.16.0 - 2.0.0: https://github.com/apache/incubator-mxnet/blob/master/python/setup.py#L33

[2020-01-26 13:57] TaoLv commented on #17409
We always need to put the operator into a AMP lsit when implementing a new operator? Do we have any mechanism to guarantee that?

[2020-01-26 21:18] heaseny commented on #17384
I think the requirement of numpy in setup.py should  be updated due to this issue. Can I get further feedback?

[2020-01-26 22:55] deepakkumar1984 opened #17442 "Symbol API deprecated?"
Saw this comment on the documentation site. What is the future of Symbol API, is it going to be replaced with Gluon?

![image](https://user-images.githubusercontent.com/6328361/73143186-fa0c7e80-40e6-11ea-9b37-bcf0d32cc2d4.png)

[2020-01-27 02:59] TaoLv commented on #14329
Happened again:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17313/6/pipeline

[code]

[2020-01-27 17:40] IamOlep opened #17447 "Pre-compilation fail for MXNet.jl"
Every time I try to import MXNet in Julia, I get the following error. Is it a problem of my configuration or something more general? I just can't figure it out from the error message.
I use Linux, in particular I'm on Manjaro-i3. The system is up-to-date but I also tried with older images.

┌ Error: Error building `MXNet`:
│ [ Info: Found nvcc: /opt/cuda/bin/nvcc
│ ERROR: LoadError: MethodError: n

[2020-01-27 18:39] bryanyzhu commented on #9110
@stu1130 @sandeep-krishnamurthy Hi, may I ask the status of this issue? It seems until now, dilation in 3D Conv is not supported in MXNet. I tried the same code snippet, the error still shows `Dilate is not supported in 3d convolution`

[code]

[2020-01-27 18:50] stu1130 commented on #9110
@bryanyzhu we didn't have time to work on this. Right the 3D Conv still didn't support dilation.

[2020-01-27 18:53] bryanyzhu commented on #9110
@stu1130 Got it, thank you.

[2020-01-27 21:03] cyrusbehr commented on #17262
@litaotju I tried what you suggested, and added the following to the top of the cmake file:
[code]

However, I still get the error:
[code]

[2020-01-27 21:34] leezu commented on #14664
@k128 @mjpost could you try installing https://lausen-public.s3.amazonaws.com/mxnet_cu100-1.6.0b20200127-py2.py3-none-manylinux1_x86_64.whl and report if it works?

The library is built using https://github.com/apache/incubator-mxnet/pull/17448. Setting `-mno-avx` in our cmake build correctly disables avx instructions. To completely get rid of avx inside `libmxnet.so` we also need to build statica

[2020-01-27 22:02] leezu commented on #17262
Let's track the issue at https://github.com/apache/incubator-mxnet/issues/16852#issuecomment-565016904

[2020-01-27 22:02] #17262 closed

[2020-01-27 22:21] cyrusbehr commented on #17262
@leezu You are correct in saying that my machine does not have a GPU. I am trying to build with support for all Cuda Arch's as I would like to distribute mxnet as part of an SDK and require compatibility with different Architectures.

And sounds good, I will follow the issue you linked.

[2020-01-27 23:42] leezu commented on #17262
@cyrusbehr you can remove a few arches from https://github.com/apache/incubator-mxnet/blob/master/Makefile#L429

For example, code compiled for `30` also runs on `35`. So you may change `30 35 50 52 60 61 70 75` to `30 50 60 61 70 75` or similar? (Though this may have a slight performance impact on the users of 52, 61 arch, or whatever you remove.)

[2020-01-28 02:27] connorgoggins opened #17454 "IdentityAttachKLSparseReg - operator argument error"
## Description
The [docs](https://mxnet.apache.org/api/python/docs/api/symbol/symbol.html#mxnet.symbol.IdentityAttachKLSparseReg) for the `IdentityAttachKLSparseReg` operator clearly state that `data` is the only required arg, but when running the op with just the `data` arg I encounter a mismatch error between the number of inputs and inferred number of inputs indicating that the operator expects

[2020-01-28 04:33] szha commented on #14329
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-17453/1/pipeline#step-100-log-1526

[2020-01-28 04:43] apeforest commented on #16376
This seems to be a big change to the existing operator mode (imperative and symbolic). Could you please provide more information.

AFAIK, symbolic API already does deferred init, imperative API is provided to improve user experience. Based on this RFC, what's the advantage of this new deferred_compute mode? As a user, when should I use it or not.

Another question. We all know deferred init cause

[2020-01-28 05:06] kshitij12345 commented on #14329
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-17325/14/pipeline#step-100-log-1524

[2020-01-28 15:19] kshitij12345 commented on #17342
@haojin2
Noted.

However shouldn't there be some sort of deprecation warning or anything. Cause right now it silently computes the incorrect result.

[2020-01-28 15:40] ballcue commented on #6734
I seem to be having the same issue. Has anyone found a solution?
[code]

[2020-01-28 15:46] ballcue commented on #17126
I seem to be having the same problem.
[code]

@lorenzob were you able to solve the out of memory errors? @szha , if the problem is in the call to mshadow, is there a way of working around mshadow to avoid it? Thanks.

[2020-01-28 16:47] kshitij12345 commented on #14329
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-17325/15/pipeline#step-100-log-1523

[2020-01-28 18:41] connorgoggins commented on #17454
This is the definition of the operator's arguments:
[code]

[2020-01-28 19:53] ChaiBapchya opened #17457 "Py3.5 required for Static build GPU 14.04 Python"
## Description
Ubuntu 14.04 <Unix GPU>

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17286/6/pipeline/326

### Error Message
[code]

[2020-01-28 20:33] eyalroz opened #17459 "The FAQ link in README.md is dead"
## Description
`README.md`  has a link to an FAQ page; [this is the link](https://mxnet.apache.org/faq/faq.html). That page doesn't exist (404 error).

### Error Message

[2020-01-28 22:34] xmuszq opened #17461 "Initialize variable with constant matrix (like ndarray) in symbol API"
## Description
I want to initialize a variable with a constant nd  array in a symbol. It looks like the operation doesn't support it. A simple case:
        a=5; b=8192
        val_init_npy=[nd.zeros((a,b))];
        p_dropout_matrix = mx.symbol.Variable("dropout_matrix", shape=(num_fixed_dropout, len_dropout), init=mx.init.Constant(val_init_npy) )

### Error Message
 raise TypeError(repr(o) + " i

[2020-01-28 23:16] larroy commented on #15935
@michiboo thank you. Could you modify CMakeFile to omit these flags for the architectures where it doesn't apply?

[2020-01-28 23:55] leezu commented on #16376
Essentially the motivation for deferred compute is to extend imperative mode to enable users to "construct a symbol" without using symbolic API. This addresses confusion around having two APIs and prevents divergence between imperative and symbolic APIs. There's no need to drop the existing imperative / symbolic APIs due to deferred compute.

Please ask a question and I'll answer ;)

Based on defe

[2020-01-29 00:00] leezu commented on #17442
You shouldn't be using the symbol API anymore to construct your models.

Gluon provides easier means to define the model, and if you use `gluon.HybridBlock` you can still export it to a symbol. The main advantage of such symbol is that you can then run it easily in other MXNet language bindings besides Python.

[2020-01-29 00:36] apeforest commented on #17299
@leezu I encountered the same problem trying to install mxnet with USE_DIST_KVSTORE ON in the latest AWS DLAMI. I think we need to solve this problem for a better user experience.

[2020-01-29 00:42] leezu commented on #17299
@apeforest may be able to add a workaround for DLAMI at https://github.com/dmlc/ps-lite/blob/master/cmake/ProtoBuf.cmake

I think the problem here is that DLAMI has a strange setup including `/home/ubuntu/anaconda3/bin/protoc` by default on PATH. What do you think?

[2020-01-29 02:44] TaoLv commented on #16300
Closed via #16304 and #16369

[2020-01-29 02:44] #16300 closed

[2020-01-29 02:49] rondogency opened #17467 "Flaky Test test_operator:test_custom_op_fork hanging"
## Description
test_operator.py - test_custom_op_fork

Python custom operator test hanging causing some CI to timeout

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17270/16/pipeline/298

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17241/19/pipeline/294

Note that the

[2020-01-29 03:11] deepakkumar1984 commented on #17442
It make sense now. Thanks

On Wed, Jan 29, 2020 at 10:30 AM Leonard Lausen <notifications@github.com>
wrote:

--
Regards,
Deepak

[2020-01-29 09:52] lorenzob commented on #17126
@ballcue No, but I did not do further tests with the latest versions since the last post.
As an obvious workaround I reduced the batch size and, as my process is running under gunicorn, I kill the process in case of OOM so that a new one is respawned.

[2020-01-29 17:38] kshitij12345 commented on #14329
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-17325/17/pipeline#step-100-log-1526

[2020-01-29 18:38] ballcue commented on #17126
@lorenzob Got it, thank you.

[2020-01-29 19:44] joshuaswaney opened #17469 "Java NDArray Disposal"
## Description
It appears that neither ResourceScope nor NDArrayCollector work fully as intended in Java.

Following [the ResourceScope documentation](https://github.com/apache/incubator-mxnet/blob/master/scala-package/memory-management.md), it correctly disposes of NDArray objects created within the block but **not** for the ones returned by `Predictor.predictWithNDArray`:
[code]

Following [the

[2020-01-29 19:52] joshuaswaney commented on #17469
The wiki says that `ResourceScope` is "not tested on Java": https://cwiki.apache.org/confluence/display/MXNET/JVM+Memory+Management#JVMMemoryManagement-Java

There's also an open question listed there of: "Will there be a situation where a native pointer is still in use but the Scala Object is not reachable."  It appears that this may be the case.

[2020-01-29 20:02] apeforest opened #17470 "Distributed training hangs if --sync-dst-dir used and num of hosts less than num of workers"
## Description
Distributed training using dist kvstore hangs if --sync-dst-dir used and num of hosts less than num of workers

### Error Message
hangs after rsync

## To Reproduce

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. Follow the example: https://github.com/apache/incubator-mxnet/tree/master/example/distributed_training
2. Specify hostfile:
localhost

3.

[2020-01-29 20:03] gautham-kollu opened #17471 "Gluon Reshape behaves differently for NDArray and Symbol"
## Description
Gluon Reshape() behaves differently for NDArray and Symbol.
NDArray -> Does the reshape IN-place
Symbol -> Does the reshape Out-of-place

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
import mxnet  as mx
from mxnet.gluon import nn

clas

[2020-01-29 20:11] ChaiBapchya opened #17472 "Memory corruption issue with unravel_index"
## Description
MXNet unravel_index function seems to run into memory corruption issue with the following inputs
## Command
[code]

## Error Log
[code]

At the very least, error handling should be improved (even if the inputs were incorrect, graceful exit is desired)

[2020-01-29 20:21] apeforest commented on #17299
@leezu Just FYI, if I use make with the USE_DIST_KVSTORE=ON in config.mk, then the build is fine.

[2020-01-29 20:44] ChaiBapchya commented on #17472
It seg-faults for other inputs
[code]

[2020-01-29 21:40] leezu commented on #17299
@apeforest yes, cmake build fails due to DLAMI violating some assumption taken when writing https://github.com/dmlc/ps-lite/blob/master/cmake/ProtoBuf.cmake (cc @yajiedesign).
I'll look into finding a workaround it in a few days

[2020-01-29 23:05] stu1130 commented on #17469
@joshuaswaney If you are using MXNet java language binding, I would recommend to go with [DJL](https://github.com/awslabs/djl) which fully support MXNet inference and training with CV models. We also have better memory management in [NDManager](https://javadoc.djl.ai/api/0.2.1/index.html)

[2020-01-30 00:53] ChaiBapchya commented on #17331
Add LT support to ops found via OpPerf
https://github.com/apache/incubator-mxnet/pull/17444
https://github.com/apache/incubator-mxnet/pull/17445

[2020-01-30 02:56] anirudh2290 commented on #17467
@rondogency I was also able to reproduce the hang. Can you disable the test, to unblock CI for now.

[2020-01-30 05:26] ChaiBapchya commented on #14329
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17444/3/pipeline
#17444

[2020-01-30 05:29] ChaiBapchya commented on #11395
Is this related? CUDA: unspecified launch failure- http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-17444/2/pipeline/

[2020-01-30 06:27] NamLQ commented on #5911
Could someone implement Ftrl optimizer  in R?

[2020-01-30 06:32] allenxcp commented on #17394
@leezu  the commond is "cmake -DUSE_CUDA=1 -DUSE_CUDA_PATH=/usr/local/cuda -DUSE_CUDNN=1 -DUSE_CPP_PACKAGE=1 -DUSE_TENSORRT=1 ..
"

[2020-01-30 07:13] icemelon9 opened #17479 "Bug in RNN and LSTM with multiple layers for mxnet-mkl"
## Description
When `gluon.rnn.RNN` and `gluon.rnn.LSTM` have multiple layers and input size is not equal to hidden size, the output tensors and output states (except the state for the first layer) are incorrect. This bug only appears in mxnet-mkl package (I checked 1.5.0, 1.5.1, and 1.6.0, all have this bug), not in mxnet package.

### Error Message
(Paste the complete error message. Please also

[2020-01-30 08:09] ChaiBapchya opened #17480 "scatter_nd core dump"
## Description
scatter_nd gives core dump

## Command
[code]
### Error Message
[code]

[2020-01-30 08:47] ChaiBapchya commented on #17331
[OpPerf] : Indexing Ops https://github.com/apache/incubator-mxnet/pull/16253

[2020-01-30 08:50] rondogency commented on #17467
@anirudh2290 PR is here https://github.com/apache/incubator-mxnet/pull/17481

[2020-01-30 11:32] fomkin opened #17483 "Tests failed when I try to build scala-package from source"
## Description

I wanted to build Scala package from source. I just pulled repository (with submodules), compiled `*.so` libraries and run `./mvnw install`. Tests was failed.

### Error Message

[code]

## Occurrences

Tried on latest master and on latest tag.

### Steps to reproduce

[code]

## Environment

We recommend using our script for collecting the diagnositc information. Run the following

[2020-01-30 11:49] szha commented on #17479
cc @PatricZhao @TaoLv

[2020-01-30 12:17] #17442 closed

[2020-01-30 12:21] szha commented on #17471
In Gluon one should not specify where the output is stored using `out=` argument. In the future, Gluon should automatically detect and warn (or throw execption) on such case.

cc @leezu

[2020-01-30 12:25] RuRo commented on #14373
There is a similar problem when there are unused parameters.
For example, you can have a model like this:
[code]

 Currently, this model will not hybridize successfully, when `mode == True`, because the weights in the `o2` path are "unused".

<details>

[code]

</details>

Having unused parameters is useful since you might want your pretrain/finetune/evaluation networks to behave differently, but

[2020-01-30 12:29] szha commented on #14373
cc @leezu

[2020-01-30 13:24] TaoLv commented on #17479
Hi @icemelon9, as 1.6.0 is not released yet, could you please be more specific about the commit id or build date if you're using a nightly release? Also cc @zixuanweeei

[2020-01-30 14:25] zixuanweeei commented on #17479
Hi @icemelon9 , thanks for reporting this issue. I have a test on v1.6x branch (commit-id 6eec9da) for 3-layer LSTM. The differences between the results of those two releases are less than 1e-5. Could you give a try on v1.6.x? It would be highly appreciated. Further investigation of v1.5.x is in progress. I will confirm the result later. Sorry for the inconvenience.

[code]

[code]

[2020-01-30 17:21] leezu commented on #17394
Could you provide information how you installed Tensorrt and ONNX and what other commands you ran.

Essentially I'm looking for a list of all steps to reproduce this issue given a Ubuntu 18.04 or DLAMI Ubuntu 18.04 system.

Thank you

[2020-01-30 18:07] gautham-kollu commented on #17471
Would Gluon not support in-place ops ?

[2020-01-30 18:44] icemelon9 commented on #17479
I installed mxnet through pip. The output of the script from my side is:

[code]

[code]

[2020-01-30 18:51] ChaiBapchya commented on #11395
Another windows gpu cuda launch error : http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-17444/4/pipeline #17444

[2020-01-30 18:53] ChaiBapchya commented on #14329
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17482/1/pipeline
#17482

[2020-01-30 19:40] Kh4L opened #17485 "IndexError in gluon-cv Mask-RCNN validation on master"
## Description

An IndexError occurs during the first validation step when [training gluon-cv Mask-RCNN](https://github.com/dmlc/gluon-cv/blob/master/scripts/instance/mask_rcnn/train_mask_rcnn.py)  with horovod.

### Error Message

[code]

### Steps to reproduce

1. Compile and install mxnet master
2. Get gluon-cv master
3. horovodrun -np 8 -H localhost:8 python ./gluon-cv/scripts/instance/mask_rc

[2020-01-30 20:55] canerturkmen opened #17488 "HybridBlock/SymbolBlock import-export does not persist input/output formats"
## Description
This is a combination of two small issues with the `HybridBlock.export` and `SymbolBlock.imports` methods.

1. When serializing/deserializing hybridized block objects, the `_in_format` and `_out_format` attributes are not persisted. Especially when dealing with nested inputs, this leads to some unexpected behavior.
2. When blocks with no parameters are `export`ed, a `.params` file i

[2020-01-30 21:49] apeforest opened #17490 "Check failed: pbegin_ <= pend_: Invalid RecordIO Format"
## Description
Encountered a coredump running unit test under tests/python/unittest/test_io.py

### Error Message
[code]

## To Reproduce
### Steps to reproduce

1. pip install https://apache-mxnet.s3-us-west-2.amazonaws.com/dist/2020-01-30/dist/mxnet_mkl-1.6.0b20200130-py2.py3-none-manylinux1_x86_64.whl
2. nosetests -v tests/python/unittest/test_io.py

## What have you tried to solve it?

1. Buil

[2020-01-30 21:50] apeforest commented on #17490
Similar to https://github.com/apache/incubator-mxnet/issues/7450

[2020-01-30 22:00] #17457 closed

[2020-01-30 23:15] connorgoggins opened #17493 "im2col fails in GPU context regardless of input"
## Description
Calling the im2col operator within a GPU context results in a dimension mismatch error - even if the shapes used are entirely valid. I encountered this error while testing the operator on CPU and GPU machines, and found that while it passed on CPU, it failed on GPU with the exact same input in every case.

### Error Message
[code]

[2020-01-30 23:53] ChaiBapchya commented on #17493
[code]

[2020-01-30 23:54] ChaiBapchya commented on #14329
Another one
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17407/5/pipeline
#17407

[2020-01-30 23:57] ChaiBapchya commented on #17493
Good catch.

[2020-01-31 01:11] icemelon9 commented on #17479
I compiled the mxnet master with mkldnn. And the output results are correct now.

[2020-01-31 01:25] zixuanweeei commented on #17479
Thanks for trying out the master. Yes, I can confirm that the nightly build `1.6.0b20191023` has the problem. Would you mind using the latest build? Or please tell us if there is any incompatible usage in your application.

[2020-01-31 01:27] eric-haibin-lin commented on #17488
@sxjscience FYI

[2020-01-31 01:27] eric-haibin-lin commented on #17488
Is this fixed already?

[2020-01-31 01:34] sxjscience commented on #17488
@eric-haibin-lin It's not fixed. For the first issue, the problem is that the serialized json file has not stored the in_format.

[2020-01-31 01:39] eric-haibin-lin opened #17495 "Initial inspections for singleton thread safety in MXNet"
I roughly skim-through the code base and searched for classes with `::Get` method. Some of these class objects are global singletons and have potential thread safety issues. I list the initial assessment:

### thread safe classes
These classes are thread safe
- ::dmlc::Registry<TVMOpConfig>
- Engine
- Storage
- StorageManager
  - CPUSharedStorageManager
  - GPUPooledStorageManager
  - GPUPooledRou

[2020-01-31 01:40] szha commented on #17488
cc @leezu

[2020-01-31 01:44] eric-haibin-lin commented on #17488
BTW - @canerturkmen thank you for reporting this.

[2020-01-31 02:13] zixuanweeei commented on #17479
@pengzhao-intel @TaoLv This problem happens on the codebase with the old MKL-DNN version (< v1.0). After aa1074dc1704d3732ab205c43d48083ef8c69680, we brought the refactor of rnn operators into MXNet, which could give the correct result. I also tested with b5d07e30321da47d604b99048c1b57c03ec819b0 (1 commit before aa1074dc1704d3732ab205c43d48083ef8c69680), turning out to have the wrong result. For n

[2020-01-31 02:50] pengzhao-intel commented on #17479
Since the fix is in v1.6.x, I suggest switching to v1.6.x. Actually, it depends on their deployment requirements. If it is necessary, we can evaluate how difficult to backport to v1.5.x.

[2020-01-31 03:03] TaoLv commented on #17479
Hi @icemelon9, I'm closing this issue as it's already fixed on the master branch and will be included in the v1.6.0 release. You can get the latest nightly build through `pip install https://apache-mxnet.s3-us-west-2.amazonaws.com/dist/2020-01-30/dist/mxnet_mkl-1.6.0b20200130-py2.py3-none-manylinux1_x86_64.whl`.

[2020-01-31 03:03] #17479 closed

[2020-01-31 03:19] leezu commented on #17471
Not when hybridizing. Ideally the framework can optimize the computational plan in the background and decide when in-place can be used.

[2020-01-31 06:23] chouxianyu commented on #14875
I have the same problem

[2020-01-31 14:54] EletronicElephant commented on #7443
More than two years later, it seems like MXNet still doesn't support Boolean Index?

[2020-01-31 17:36] leezu commented on #7443
As part of https://github.com/apache/incubator-mxnet/issues/14253 there is support / is in progress

[2020-01-31 18:10] leezu opened #17497 "Website: Separate master and stable versions of website"
## Description
We may want a separate built pipeline and website version for each stable branch + master.

## References
For example, https://mxnet.apache.org/get_started/ubuntu_setup will only work for master version of MXNet. This is not a backwards compatibility issue: The previous instructions continue to work for MXNet master. The problem is that users have no way to access the old instructio

[2020-01-31 18:31] aaronmarkham commented on #11395
Unspecified launch failure here:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-17435/7/pipeline

What's the workaround? Need to a get PR through that has nothing to do with CUDA...

[2020-01-31 18:37] aaronmarkham opened #17498 "CI test timeout for Unix-CPU Python 3 debug"
## Description
The test is timing out at 4 hours.
Perhaps this test needs to be broken out into smaller parts? Or some parts can be removed?

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17435/8/pipeline/296

[2020-01-31 19:06] ChaiBapchya commented on #11395
I haven't found one. I kept retriggering and finally gave up.

[2020-01-31 19:49] fomkin commented on #17483
I've got same result when compile libmxnet with `make`.

[code]

[2020-01-31 20:50] haojin2 commented on #17384
Since it's an issue related to numpy itself, we can probably change our test to skip this test for earlier numpy versions without having to change the requirements for just this one test, what do you think?

[2020-01-31 23:22] ChaiBapchya commented on #14329
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-17494/2/pipeline #17494

[2020-02-01 03:17] ChaiBapchya commented on #17483
@zachgk @lanking520 any idea?

[2020-02-01 08:06] heaseny commented on #17384
Thanks for your suggestion, this makes sense, I will close this issue.

------------------
Thanks,
Xuecun

-------- 原始邮件 --------
发件人：Hao Jin <notifications@github.com>
时间：2020年2月1日 04:50
收件人：apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
抄送：heaseny <yangxc_1@aliyun.com>,Mention <mention@noreply.github.com>
主题：Re: [apache/incubator-mxnet] Error in numpy unit test (#17384)

[2020-02-01 08:51] michiboo commented on #15935
@larroy  Hi for some reason, I cannot reproduce the warning in this build

[2020-02-01 09:55] kshitij12345 commented on #14329
Unable to recreate the failure locally with
[code]

Can anyone try to see if they can reproduce it locally?

@ChaiBapchya Could you also try it once?

[2020-02-01 14:42] TaoLv commented on #17384
I‘m afraid it's a real issue that the users may encounter in their use cases.

[2020-02-01 19:15] eric-haibin-lin commented on #17497
We definitely need website versioning for mxnet 2.0

[2020-02-01 20:56] ChaiBapchya opened #17504 "unix-cpu lib_tvm.so file too short"
## Description
lib_tvm.so file too short

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17494/3/pipeline/

Unrelated PR #17494

### Error Message
[code]

[2020-02-02 03:23] eric-haibin-lin opened #17506 "CuDNN multi-head attention"
## Description
CuDNN has multihead attention API. MXNet should have a high level MHA API that integrates with CuDNN
https://docs.nvidia.com/deeplearning/sdk/cudnn-api/index.html

[2020-02-02 05:43] kshitij12345 commented on #11395
Unspecified Launch Failure:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-17435/7/pipeline/#step-169-log-1210

[2020-02-02 07:44] kshitij12345 commented on #14329
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17325/23/pipeline#step-875-log-1043

[2020-02-02 07:53] hzfan commented on #17097
@tqchen Thanks for sharing this. I don’t know if I understand correctly. For now arguments except primitives pass through FFI via Object (like ADTObj). It is then converted to TShape in backend and TShape is not involved in FFI directly.

As you said, Object allows me to conveniently put various kinds of things into a container (ADTObj), without losing their types. For example, now a tuple of tupl

[2020-02-02 18:08] eric-haibin-lin opened #17507 "Make loss scale public in AMP"
For NLP often users need to do gradient norm clipping. When using AMP, I find it's not easy to access the current gradient scale factor unless I look into AMP source code: https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/finetune_squad.py#L464
Shall we make the loss scale a public property? @ptrendx

[2020-02-02 19:33] larroy commented on #17043
Seeing another segfault here:

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15990/19/pipeline

[2020-02-02 20:12] ChaiBapchya commented on #17369
Another one - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17487/4/pipeline

#17487

[2020-02-02 20:14] ChaiBapchya commented on #17067
Another one - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17482/4/pipeline
#17482

[2020-02-02 20:16] ChaiBapchya commented on #17369
Another one unrelated PR - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16253/6/pipeline

#16253

[2020-02-02 23:20] larroy commented on #16770
Another one

[code]

[2020-02-03 06:52] leezu commented on #13956
https://stackoverflow.com/a/5085425/2560672

Thus it is not true that `DMLC_LOG_FATAL_THROW` needs to be explicitly set to 0. Rather, if `DMLC_LOG_FATAL_THROW` is unset, `DMLC_LOG_FATAL_THROW == 0` will evaluate true during preprocessing at least if the preprocessor implements the standard correctly. Some older preprocessors may not have conformed to standard and this logic may have thus appeared

[2020-02-03 07:07] olk commented on #17156
Seams to be fixed for current code (1.6.0 rc2).

[2020-02-03 07:13] ChaiBapchya commented on #16739
Also affects test_higher_order_grad.test_arccos
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-17508/1/pipeline/
#17508

[2020-02-03 07:13] ChaiBapchya commented on #14329
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17508/2/pipeline/

#17508

[2020-02-03 07:49] ChaiBapchya commented on #14329
Ran the above command. Test passed
[code]

[2020-02-03 16:01] metal3d commented on #621
TensorFlow, PyTorch, MxNet... none of them listen to the users for that need.
I've got a Intel card on 3 laptops, using NEO opencl with LuxRender for example and it computes 7x to 20x faster. But for ML, I can't.

OpenCL is not restrictive, open, works on a large variety of card, even Raspberry can use OpenCL, cf. Pi OpenCL.

Please, consider SYSCL for example. We are not all able to pay thunderbo

[2020-02-03 16:46] ptrendx commented on #14329
I don't think you will be able to repro this failure on its own unfortunately - I believe the problem with this test is that it is affected by other tests. What I believe happens is the other tests use a lot of GPU memory that is cached in the caching memory allocator. Then this tests (to test the effect of env variables that are read only during init of MXNet) launches a new MXNet process. That p

[2020-02-03 18:07] leezu commented on #621
@metal3d contributions welcome. Also see TVM

[2020-02-03 18:08] #17156 closed

[2020-02-03 18:43] kshitij12345 commented on #14329
@ChaiBapchya Thanks for confirming.
@ptrendx That makes sense. On digging a bit deeper, I found that `test_bulking` had similar failures. https://github.com/apache/incubator-mxnet/issues/14970

Both `test_bulking` and `test_convolution_multiple_streams` spawn a new process for the test.

Do you think it is a good idea to move **both** of them into a new test file?

[2020-02-03 18:58] ptrendx commented on #14329
They should be fine, yes, but I don't think the new test file is enough - it actually needs to be its own `nosetests` instance so that they are the only thing launched from that process.

[2020-02-03 20:50] larroy commented on #15935
What did you try?  ci/build.py -p android_armv7  should reproduce.

[2020-02-03 22:09] ChaiBapchya commented on #14329
@kshitij12345 since the fix is identified do you mind leading it? I can take it up otherwise. :)

[2020-02-03 23:44] chenxiwarm opened #17512 "MXNet _LIB.MXGetLastError() when calling .asscalar() on GPU context"
## Description

My code is as follows, where I used .asscalar() to compute the **step_loss** on gpu context.  When I call .asscalar(), it throws exceptions. My context is mx.gpu(). I double checked that the variable **loss** is always in shape (1,). So I do not know why I get the following errors.
 My code:
[code]

### Error Message
(Paste the complete error message. Please also include stack trac

[2020-02-04 01:26] zhreshold commented on #17439
If you can bisect the date of failure then we can better locate the PR which introduced the problem.

[2020-02-04 03:32] larroy commented on #17043
[code]

[2020-02-04 03:42] larroy commented on #17043
[code]

[2020-02-04 03:43] larroy commented on #14979
This seems fixed now.

[2020-02-04 03:45] larroy commented on #17043
This doesn't seem to happen when I don't link with llvm openmp in 3rdparty.

Happens aprox 50% of the time with this test.

[2020-02-04 03:49] larroy commented on #17043
Looks like it might be related to mixing openmp implementations even though there were several fixes recently for related issues like   https://github.com/apache/incubator-mxnet/issues/14979

[2020-02-04 07:38] uday60 commented on #17058
Waiting for builds for 10.2

[2020-02-04 07:41] samskalicky commented on #17467
@Zha0q1 FYI

[2020-02-04 07:49] Zha0q1 commented on #17467
Thanks for pining. I think this test case existed long before my work and it was working fine before. Could this be related to dropping the support for python 2?

[2020-02-04 07:59] michiboo commented on #15935
I try the exact same command, but I ended up with a error. I checked I already has opencv 4 so it shouldn't be a problem

+ cmake -DANDROID=ON -DUSE_CUDA=OFF -DUSE_SSE=OFF -DSUPPORT_F16C=OFF -DUSE_LAPACK=OFF -DUSE_OPENCV=OFF -DUSE_OPENMP=OFF -DUSE_SIGNAL_HANDLER=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo -DUSE_MKL_IF_AVAILABLE=OFF -G Ninja /work/mxnet
-- CMAKE_CROSSCOMPILING FALSE
-- CMAKE_HOST_SYSTEM_P

[2020-02-04 09:06] chenxiwarm commented on #17512
Find the cause of the problem, it's not because of ".asscalar()" function, but because that I did not use padding when loading data using dataloader, hence the training samples in the same batch does not have the same length. Problem solved by using padding in the batchify function as follows:
[code]

[2020-02-04 09:06] #17512 closed

[2020-02-04 09:26] onomatet commented on #17207
@jeremiedb well, it is not an optimal solution, of course, but I believe it is better than nothing at all. In the worst case scenario, one can reduce the frequency of LR updates to get reasonable training speed.

Probably, it is worth fixing this bug dirty this time around and then leave the TODO ticket for future deeper reworking of the mx.symbols if somebody will decide to clean it up.

[2020-02-04 15:16] kshitij12345 commented on #14329
@ChaiBapchya I'll be busy in the coming weeks. So it'll be great if you can fix this one.

[2020-02-04 16:56] olk opened #17514 "C++-Package examples broken"
## Description
Compiling clean checkout from github causes multiple `undefined reference` linker errors.
This kind of errors usually happen if compilation units are linked together that have been compiled with different C++ standards.

### Error Message
/usr/bin/ld: libmxnet.a(c_api.cc.o): in function `MXNDArrayReshape':
c_api.cc:(.text+0x56a7): undefined reference to `std::__cxx11::basic_ostrings

[2020-02-04 18:08] metal3d commented on #621
@leezu excuse me, but your remark seems to not be serious. "Contributions welcome" is like to say "do it if you're so strong".

The core of kernel compilation for machine learning in that kind of framework is "central", that's something that is chosen at the beginning and along the development process.

Contribution by "one guy external to the project" is not possible for that. If I want to work o

[2020-02-04 18:11] leezu commented on #15935
You need ot `git submodule update --init --recursive`. It seems your googletest submodule is missing.

[2020-02-04 18:29] leezu commented on #17514
Hi @olk,

there are multiple potential soruces for your issue:
- I see your github repository does not include 8 commits of official master branch
- Maybe you compile for too many cuda arches, causing your linker to fail due to too large binary size. In that case you need to set -DMXNET_CUDA_ARCH="7.0,7.5" or whatever arches you are interested in

In general, you should include the complete output

[2020-02-04 18:36] leezu commented on #17514
I can't reproduce your error, but I do observe

[code]

[2020-02-04 18:38] rkahani commented on #11538
If you are using the Flask, it may be because of multithreading.
So, one solution would be:
app.run(threaded=False)

https://github.com/awslabs/sockeye/issues/671#issuecomment-477602579

[2020-02-04 18:52] leezu commented on #621
I don't see any blocker to add the feature you're requesting, just there's noone willing to work on it. You pointed out the constraints correctly, at lot of ressources are required.
TVM will solve the problem in the not too-far future, so there is no strong incentive to invest resources now into manually writing code targeting OpenCL. Did you take a look at https://docs.tvm.ai/tutorials/get_starte

[2020-02-04 19:18] olk commented on #17514
@leezu I think the CUDA architecture is correctly detected:

[2020-02-04 19:39] samskalicky commented on #17058
@mxnet-label-bot add [CI]

[2020-02-04 19:44] larroy commented on #17058
Let's not close this issue if it's not fixed for the user.

[2020-02-04 19:44] josephevans commented on #17058
Thanks for the suggestion, noted. We will track this.

[2020-02-04 20:19] leezu commented on #17514
I ran bisect, and actually b1e491182fa9c15da89f1b701778de3a1421811b is at fault here:

@anirudh2290 note that to reproduce this issue, you need a fresh checkout of the repository.
To reproduce:

`git clone --recursive https://github.com/apache/incubator-mxnet/; git checkout b1e491182fa9c15da89f1b701778de3a1421811b; rm -rf *; git checkout .; git submodule update --init --recursive; mkdir build; cd

[2020-02-04 20:41] drag05 commented on #14004
I have installed mxnet for CPU and worked fine on Windows 10, R version 3.6.2. Then I wanted to try mxnet for GPU: I installed mxnet for GPU using the command:

`install.packages("https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/GPU/mxnet.zip", repos = NULL)`

everything went file. However when trying to load in R version 3.6.2 or R Studio, I get the following error:

`Loading required

[2020-02-04 21:00] leezu commented on #17514
@olk please try again with a fresh checkout of a726c406964b9cd17efa826738a662e09d973972. This works on my machine.

[2020-02-04 21:08] lanking520 commented on #17483
which code base did you built on? It did not seemed to have problem on my end with most recent master build on CPU.

[2020-02-04 21:20] metal3d commented on #621
At first, thanks for your answer.

That's the problem we point.
The problem that I see (and other than me can see also) is that it seems that major frameworks are trying to make things "faster and easier" before to make the framework more largely usable. That's all we say... That's cool that CUDA is supported and that AWS or Google proposes GPU on demand. But in reality, OpenCL can help to make ML

[2020-02-04 21:22] leezu commented on #17514
Also need to figure out why CI didn't detect this issue before closing this issue

[2020-02-04 21:25] larroy commented on #17514
This also fails on my machine:

[code]

[2020-02-04 21:25] larroy commented on #17514
[code]

[2020-02-04 21:59] olk commented on #17514
@leezu My HEAD points to 71a5c9e65 (a726c4069 is already in the commit history)

[2020-02-04 22:08] leezu commented on #17514
@olk, my point is that it's broken after a726c40. Try checking out a726c40 in a clean checkout and please rerun the build

[2020-02-04 22:09] olk commented on #17514
The problem is that my dev machine runs Arch Linux(rolling releases).
At the moment Arch linux uses GCC-9.2 as default compiler + CUDA-10.2.
But CUDA-10.2 supports only GCC-8.3 and the Arch Linux CUDA package links statically against GCC-8.
After downgrading my system to the last version that uses the GCC-8.3 as the default (and CUDA-10.1 -> 2019/05/24) I could compile and link mxnet from github c

[2020-02-04 22:32] ChaiBapchya opened #17515 "[OpPerf] Regression test for OpPerf"
## Description

Running regression test for OpPerf entails
a. Updating the operator (API change) shouldn't break OpPerf utility
b. API changes should be flagged by OpPerf
c. Integration of OpPerf in CI/Dashboard (detailed discussion in existing open issue https://github.com/apache/incubator-mxnet/issues/15757 by @sandeep-krishnamurthy )

## Motivation

https://github.com/apache/incubator-mxnet/pul

[2020-02-04 22:47] leezu commented on #17043
@larroy the issue you report is due to an incompatibility between the jemalloc version used and llvm openmp.

Reproducer:

[code]

If you change the USE_JEMALLOC=OFF, it will work.

[2020-02-04 23:20] leezu commented on #17514
You can see that https://github.com/apache/incubator-mxnet/commit/230ceee5d9e0e02e58be69dad1c4ffdadbaa1bd9 cleans up a lot of code, which probably affects the order in which libraries are linked. As you say, GCC 9.2 is unsupported by Cuda, so it's probably undefined behaviour and worked for some lucky reason with the old build script.

Another reason could be that there is a bug in upstream GCC9.2

[2020-02-04 23:29] djaym7 opened #17518 "MaskRCNN can't export -- solution attached"
## Description
Parameters normalizedperclassboxcenterencoder5_means  and normalizedperclassboxcenterencoder5_stds are used in training but not in inference. This causes AssertionError while exporting symbol.

### Error Message
AssertionError "assert name in aux_names"

## To Reproduce
import gluoncv as gcv
import mxnet as mx
net = gcv.model_zoo.mask_rcnn_resnet101_v1d_coco(pretrained=True)
net.hyb

[2020-02-04 23:46] djaym7 commented on #14875
Had same error on Nov 5, 2019 lol

[2020-02-05 00:41] samskalicky commented on #17382
@a550461053 The GPU support for customOps is finally ready thanks to all the hard work from @rondogency !!! Yay! You can get a nightly build or build from source with the latest master to try out the functionality.

@rondogency is also working on the documentation updates for GPU support in #17486 too, so you can review the latest there an leave comments if there is something we can clarify.

[2020-02-05 01:14] larroy commented on #17043
thanks, should we add a check of sorts to avoid this happening?

[2020-02-05 01:16] larroy commented on #17043
I would suggest to run fit with hyperparameter_tune=False  I don't observe the crash with this, as it doesn't trigger multiprocessing.

[2020-02-05 01:18] leezu commented on #17043
For now we can't recommend compiling with jemalloc anyways. See the reasoning at https://github.com/apache/incubator-mxnet/pull/17324

[2020-02-05 02:44] leezu opened #17522 "Custom error type doesn't always work"
## Description
`CHECK(!Imperative::DCInfo::IsNone(*ndoutput)) << "ValueError: Test"` confuses the https://github.com/apache/incubator-mxnet/pull/17128/ logic.

It will throw `MXNetError` instead of `ValueError`.

(I made this observation https://github.com/apache/incubator-mxnet/pull/17509 branch. Without https://github.com/apache/incubator-mxnet/pull/17509 abort would be called.)

[2020-02-05 04:40] #17514 closed

[2020-02-05 08:55] fomkin commented on #17483
@lanking520

[2020-02-05 10:01] a550461053 commented on #17382
Ok, I will try it and this issue can be closed.

[2020-02-05 10:01] #17382 closed

[2020-02-05 13:41] shawnbrar commented on #17359
@leezu , Bro, I reinstalled ubuntu again on my laptop. I built OpenBLAS, MKL-DNN, the I built R and installed RStudio. Then, I built mxnet and then its R-package. The error about `No package 'opencv' found` still persists, even when I built it using the changes that you've made. The whole error output is below.
_________________________________________________________________________
`$ make -f R-

[2020-02-05 17:25] leezu commented on #17359
Probably your PKG_CONFIG_PATH is wrong.

[2020-02-05 18:56] #13956 closed

[2020-02-05 19:44] D-Roberts opened #17529 "np.random.gamma(1,0) and np.random.gamma(0,0) hang"
## Description
On my system, numpy.random.gamma(1,0) and numpy.random.gamma(0,0) do not produce a value or an error, but just hang.

In original numpy, they generate 0.0.

### Error Message
No error message.

## To Reproduce

### Steps to reproduce

1. build mxnet from source
2. import mxnet as mx
3. run:
mx.numpy.random.gamma(1,0)
mx.numpy.random.gamma(0,0)

## Environment
[code]

[2020-02-05 20:15] jonatan1626 commented on #17331
Inference Benchmarks comparing LT_MKL with just MKL Enabled.
All Time in MS.

MXNet Type | Model | Mode | average | p50 | p90 | p99 | std-dev | p50 Improvement | p50 Improvement Percentage
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
mxnet_LT_MKL | resnext101_64x4d | gluon | 50.1521455 | 47.3425388 | 53.8454056 | 191.146851 | 25.6092029 | 2.12430954 | 4%
mxnet_MKL | resnext101_64x4d | gluon | 5

[2020-02-05 20:54] szha commented on #13956
Thanks for fixing it @leezu

[2020-02-05 22:30] leezu commented on #17058
cu102 nightly convenience builds are now available at https://apache-mxnet.s3-us-west-2.amazonaws.com/dist/index.html thanks to @samskalicky

[2020-02-05 22:30] #17058 closed

[2020-02-06 00:14] mseth10 opened #17532 "[RFC] Partitioning for a given backend"
## Description
Request for comments for the next PR on partitioning for a given backend
- Printing graph statistics after call to `optimize_for`
- Documentation: adding a markdown file with description and example(s)
- Updating [lib_subgraph](https://github.com/apache/incubator-mxnet/blob/master/example/extensions/lib_subgraph/test_subgraph.py) examples to add ones using gluon

## References
- Rec

[2020-02-06 00:58] shawnbrar commented on #17359
I am using the latest master version. And if my PKG_CONFIG_PATH is wrong, then changing opencv4.pc to opencv.pc shouldn't work.

[2020-02-06 01:12] jonatan1626 commented on #17331
Training Benchmarks comparing LT_MKL with just MKL Enabled.
Speed measured seconds per Epoch.
GPU Memory measured in MB.

Note: Samples/Second are opposite so I have multiple the percentages by -1. A quick explanation: The number should be going higher so a positive percentage change means there are now less samples/second. A negative percentage change means there are more samples/second.

Model |

[2020-02-06 01:35] eric-haibin-lin commented on #17331
@jonatan1626 thanks for the update. Does `-22.98%` mean 22.98% slower?

[2020-02-06 01:43] leezu commented on #17359
Try editing https://github.com/apache/incubator-mxnet/pull/17404/files instead of renaming opencv4.pc to opencv.pc. Any improvements to that PR are welcome.

[2020-02-06 02:09] jonatan1626 commented on #17331
@eric-haibin-lin Yes I am calculating this by: 1 - (<LT, MKL value> / <MKL value>).
For the samples/sec I am multiplying by -1.

[2020-02-06 05:54] apeforest commented on #17331
In your description "A negative percentage change means there are more samples/second." Doesn't that mean negative percentage is faster?

[2020-02-06 06:04] reminisce commented on #17389
Fixed in https://github.com/apache/incubator-mxnet/pull/17391

[2020-02-06 06:04] #17389 closed

[2020-02-06 06:07] jonatan1626 commented on #17331
@apeforest Oh sorry, so I'm multiplying by only for the samples/second column -1 to keep the meaning consistent with everything else. The rest of the columns depict the correct positive percentage improvement and negative percentage degradation.

For example if MKL_LT gives 66 samples/sec and MKL gives 70 samples/sec that will be:
1-(66/70) or 6%. Because it's positive, we think that it's better b

[2020-02-06 13:32] xidulu commented on #17529
Hi @D-Roberts, I am the author of `np.random.gamma`. It seems that the rejection sampling got trapped in an infinity loop because of the invalid parameter (scale = 0), as no samples could be accepted according to the standard formula.

I will create a fix soon.

However,  https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.gamma.html the doc for official NumPy says "The scale

[2020-02-06 15:24] D-Roberts commented on #17529
Hi @xidulu .

I actually agree with raising a ValueError. The only reason I tried these edge cases is because I found some of these inconsistencies in Numpy, where the documentation says that the parameter should be > 0 but then a value is outputed for 0 instead of an Error message.

[2020-02-06 18:33] eric-haibin-lin commented on #17514
is this resolved?

[2020-02-06 18:36] leezu commented on #17514
C++ package problem is fixed by https://github.com/apache/incubator-mxnet/pull/17520.

[2020-02-06 19:48] eric-haibin-lin opened #17537 "Outdated mxnet nightly build wheel instructions"
The mxnet nightly pip wheel instructions are outdated. The latest wheels are available at https://apache-mxnet.s3-us-west-2.amazonaws.com/dist/index.html

Shall we update the website with this link? Or maybe at least the static links to latest builds

[2020-02-06 23:35] ChaiBapchya commented on #14329
Another one - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17475/8/pipeline #17475

[2020-02-06 23:53] szha commented on #17537
@samskalicky this page doesn't seem to work when accessed from the alias https://repo.mxnet.io/dist/index.html

[2020-02-07 02:02] haojin2 commented on #17522
Somewhat related to this issue, can we enable showing the original stack trace via some kind of switch? The current simplified stack trace would greatly impact the easiness to uncover info necessary for debugging @szha

[2020-02-07 02:07] haojin2 commented on #16146
Seems to be failing again due to a different reason: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/PR-17302/13/pipeline/
[code]

[2020-02-07 03:24] samskalicky commented on #17537
@szha you are correct, the way Javascript XMLHttpRequest works the page and links must be in the same domain as the one the page is accessed from. So either we do it at https://apache-mxnet.s3-us-west-2.amazonaws.com or we do it at https://repo.mxnet.io but we cannot do both at the same time.

If we are officially blessing this page and making it official we can switch it. Otherwise if the communi

[2020-02-07 03:33] a550461053 opened #17539 "implement a c++ operator using other outside functions in 'so' file"
When I write a c++ operator, I want to use functions of my 'so' file. I have add `-L /usr/lib -lmy_so_file -ldl` to g++, nvcc line of 'config.mk'. But when I build mxnet, got error `undefined reference to xxx_function`. The 'xxx_function' is added in xxx-inl.h. And the 'so' file test right independently.

[2020-02-07 06:05] Bidski opened #17540 "Unbatching dataset elements"
## Description
(A clear and concise description of what the feature is.)
- If the proposal is about a new model, provide description of what the model is.
- If the proposal is about an API, provide mock examples if possible.

I would like to be able to unbatch elements into a dataset to create more elements in the dataset. Same functionality as is provided by [tensorflow](https://www.tensorflow.or

[2020-02-07 08:40] stu1130 commented on #15383
@xidulu Thanks for deep dive. I would probably get back to this a few weeks later

[2020-02-07 09:14] ChaiBapchya commented on #16146
Found here too - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/PR-17500/6/pipeline
#17500

[2020-02-07 12:43] QueensGambit commented on #15092
Hello @eeqmcc ,
I found a solution to this problem.
The reason why you get this error is because your model was exported from the MXNet-symbol-API which includes loss functions within the network. When you define a network with the Gluon-API, the loss function is not part of the network definition, similar to other deep learning frameworks.
The loss layers don't affect your output and are only use

[2020-02-07 17:40] eric-haibin-lin commented on #17537
Do it at  https://repo.mxnet.io sounds better. The link is easier to remember compared to the other one. @samskalicky @szha what do you think

[2020-02-07 17:53] samskalicky commented on #17537
Honestly I dont think the link matters. We're going to embed it in the website and wont expect users to remember the URL by heart. There is no static website at https://repo.mxnet.io/ anyway, so there no expectation that the download page should work at that address.

Honestly I dont think its a big deal which one we access it from since it will be a link in a webpage.
<a href="https://apache-mxne

[2020-02-07 18:40] leezu commented on #16146
This affects all PRs.

[2020-02-07 18:45] apeforest opened #17545 "CMake GPU build broken by #16654"
## Description
The CMake build instruction on ubuntu not working on a ubuntu instance with DLAMI

### Error Message
FAILED: : && /usr/bin/c++  -mf16c -Wall -Wno-unknown-pragmas -Wno-sign-compare -O3 -msse3 -std=c++11 -fopenmp   tests/CMakeFiles/mxnet_unit_tests.dir/cpp/engine/engine_shutdown_test.cc.o tests/CMakeFiles/mxnet_unit_tests.dir/cpp/engine/omp_test.cc.o tests/CMakeFiles/mxnet_unit_tests.

[2020-02-07 20:24] leezu commented on #17545
b1e491182fa9c15da89f1b701778de3a1421811b is the first bad commit
commit b1e491182fa9c15da89f1b701778de3a1421811b
Author: Anirudh Subramanian <anirudh2290@ufl.edu>
Date:   Sat Feb 1 09:36:59 2020 -0800

[2020-02-07 20:31] leezu opened #17548 "CI doesn't test cmake build properly"
Evidence https://github.com/apache/incubator-mxnet/issues/17514 https://github.com/apache/incubator-mxnet/issues/17545

[2020-02-07 21:09] samskalicky commented on #16146
Looks like it was working 2 days ago:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/PR-17486/3/pipeline/86

What changed since then?

[2020-02-07 21:29] aaronmarkham commented on #16146
My guess is that the dependencies in the julia docs chain hit this error:
[code]
It does this:
[code]
So I'm thinking those all need to be version pinned and roll back mkdocs-material to a version that still works. Or pin markdown to a previous version...

That would be here:
https://github.com/apache/incubator-mxnet/blob/7caffa65e30f37e70796ba165ac5a4265e64974e/julia/docs/Makefile#L23

[2020-02-07 21:30] aaronmarkham commented on #16146
I'm about to head out to the airport and be traveling, so I don't know if I can test this and help with a patch in a reasonable amount of time... any takers?

[2020-02-07 21:37] haojin2 commented on #16146
@aaronmarkham indeed it's a version problem:
`pkg_resources.VersionConflict: (Markdown 3.2 (/home/jenkins_slave/.local/lib/python3.5/site-packages), Requirement.parse('markdown<3.2'))`

[2020-02-07 21:41] haojin2 commented on #16146
working on a fix, will have a PR out soon.

[2020-02-07 21:44] leezu commented on #17537
The key problem here is

To obtain that blessing, the builds located at that side should be created from a community controlled (ie. controlled via some configuration files in a public repository) resource. Has the Jenkins CD already replaced the proprietary build pipeline?

[2020-02-08 00:03] samskalicky commented on #17537
@leezu I dont think that matters. The bucket will contain the nightly pip wheels regardless of where they are built from. If they are built from a proprietary system or a publicly accessible one they will go to the same/similar location in the bucket and the webpage will just show them.

This is like saying I wont drive a BMW because its built in [Spartanburg, South Carolina](https://www.bmwgroup-

[2020-02-08 01:51] szha commented on #17537
CD was fixed but was failing again after #15990 as it didn't take CD into account. http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/detail/mxnet-cd-release-job/656/pipeline#step-487-log-408

I think we should focus on fixing and maintaining one solution instead of creating more distraction

[2020-02-08 02:31] leezu commented on #17545
Root cause seems to be the change in preprocessor logic. Compare

https://github.com/apache/incubator-mxnet/commit/b1e491182fa9c15da89f1b701778de3a1421811b#diff-ca9cfe7afd877e3f6a1601e9f9894ea1R233

https://github.com/apache/incubator-mxnet/commit/b1e491182fa9c15da89f1b701778de3a1421811b#diff-b7c9df82199fd093bf767c1635607088L170

Another thing exposed by this PR is that the config.cmake should inc

[2020-02-08 02:54] anirudh2290 commented on #17545
Thanks @leezu . Also, need another test on the CI to build with ENABLE_CUDA_RTC OFF.

[2020-02-08 07:43] Bidski opened #17554 "Calling optimizer.create_state on block parameters throws an AttributeError"
## Description
(A clear and concise description of what the bug is.)
I am using `mxnet.optimizer.Adam` but this appears to apply to all of the optimizers.

I have called `collect_params` on my block and I am passing each one to the `create_state` function of my optimizer, but this throws an `AttributeError` as shown below.

### Error Message
(Paste the complete error message. Please also include s

[2020-02-09 02:22] #13365 closed

[2020-02-09 05:15] TaoLv commented on #16146
#17549 is merged but looks like the issue is still there.

[2020-02-09 17:21] aaronmarkham commented on #16146
Oh boy:

[code]

So these dependencies are fighting over this markdown version. One says it must be 3.2 or greater the other says it must be less.

I have an idea:
If someone has an older setup building locally that works - try that and export the pip versions and we pin it like that. Or maybe there's some old docker image that has this setup?

Also, to get unblocked, we can disable Julia docs fro

[2020-02-09 21:19] #17545 closed

[2020-02-09 23:21] aaronmarkham commented on #16146
So it worked for me on my test. Not sure why exactly, but I ended up with slightly older versions of things. From my log:
[code]
I think maybe adding these will do the trick. Considering that my current setup isn't failing, I'm not entirely sure how to test this out, but it's worth a try.

## Side note
Now, I tried to run `pip freeze` but the Docker image that I had left was (I guess) before these

[2020-02-10 01:04] a550461053 commented on #17539
How can we insert a pre-define function to dmlc-core?

[2020-02-10 01:30] aaronmarkham commented on #16146
Btw, this should have been a new issue, rather than re-opening an unrelated issue... sure, the title matches, but the errors were not the same. Anyhoo, I hope I fixed it with the above PR. If it doesn't work, then maybe the jenkins nodes are caching and they need to be restarted. If I can run the CI build and have it pass, then it I'd expect it to run in production! Otherwise, we're missing an imp

[2020-02-10 05:27] #16146 closed

[2020-02-10 13:32] TaoLv commented on #17459
Hi @eyalroz, thank you for reporting the issue. Most of the faq topics have been moved to the sidebar of https://mxnet.apache.org/api/faq/add_op_in_backend. Would you mind creating a PR fix this linking issue of README?

[2020-02-10 13:49] szha opened #17557 "test_batchnorm is failing for cu101/cu101mkl/cu102 builds in CD"
## Description
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/detail/mxnet-cd-release-job/658/pipeline/#step-1231-log-1339

### Error Message
`[2020-02-08T04:20:44.832Z] MXNetError: Check failed: reinterpret_cast<CustomOpFBFunc>( params.info->callbacks[kCustomOpForward])( ptrs.size(), const_cast<void**>(ptrs.data()), const_cast<int*>(tag

[2020-02-10 14:36] TaoLv opened #17558 "Window-gpu: [WinError 5] Access is denied: 'C:\\Windows\\TEMP\\tmpfguakubg\\cmake-3.16.1-win64-x64\\bin\\cmake.exe'"
## Description
[code]

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-17318/8/pipeline/

## What have you tried to solve it?
None

[2020-02-10 16:15] inkydragon commented on #16569
This link should pointe to https://github.com/apache/incubator-mxnet/blob/master/julia/docs/src/index.md

[2020-02-10 16:54] leezu commented on #17558
This issue occurs due to a workaround for the outdated Windows AMI (not updated as per https://github.com/apache/incubator-mxnet-ci).
@josephevans and @larroy are working on updating the Windows AMI.

[2020-02-10 19:13] rondogency commented on #17539
@a550461053 are you using the c++ custom operator? if yes, you need to use the mx.library.load(*.so) api to have your .so file dynamically loaded.

[2020-02-10 22:14] TEChopra1000 commented on #17424
This issue was resolved and this ticket can be closed.

[2020-02-10 22:15] TEChopra1000 commented on #17423
This issue was resolved and this ticket can be closed.

[2020-02-10 22:15] TEChopra1000 commented on #17422
These issues were resolved and this ticket can be closed.

[2020-02-10 22:16] TEChopra1000 commented on #17421
These links have been fixed. This issue has been resolved and this ticket can be closed.

[2020-02-10 22:17] TEChopra1000 commented on #17420
These links have been fixed. This issue has been resolved and this ticket can be closed.

[2020-02-10 22:18] TEChopra1000 commented on #17417
These links have been fixed. This issue has been resolved and this ticket can be closed.

[2020-02-10 22:27] #17417 closed

[2020-02-10 22:27] #17420 closed

[2020-02-10 22:27] #17421 closed

[2020-02-10 22:27] #17422 closed

[2020-02-10 22:28] #17423 closed

[2020-02-10 22:28] #17424 closed

[2020-02-10 22:34] TEChopra1000 commented on #17424
PR: https://github.com/apache/incubator-mxnet/pull/17435

[2020-02-10 22:35] TEChopra1000 commented on #17423
PR: https://github.com/apache/incubator-mxnet/pull/17435

[2020-02-10 22:35] TEChopra1000 commented on #17422
PR: https://github.com/apache/incubator-mxnet/pull/17435

[2020-02-10 22:35] TEChopra1000 commented on #17421
PR: https://github.com/apache/incubator-mxnet/pull/17435

[2020-02-10 22:35] TEChopra1000 commented on #17420
PR: https://github.com/apache/incubator-mxnet/pull/17435

[2020-02-10 22:35] TEChopra1000 commented on #17418
PR: https://github.com/apache/incubator-mxnet/pull/17435

[2020-02-10 22:35] TEChopra1000 commented on #17417
PR: https://github.com/apache/incubator-mxnet/pull/17435

[2020-02-11 01:24] aaronmarkham opened #17560 "[ci] [docs] Error blocking all PRs: autodocsumm is incompatible with Sphinx 2.4.0"
## Description
CI and website builds are down due to an incompatibility in versions of Sphinx and one of its extensions, autodocsumm. This extension is used in the Python API docs (fairly important feature).

Also, reported here on the autodocsumm project as of yesterday.
https://github.com/Chilipp/autodocsumm/issues/22

I already have a proposed fix coming...

### Error Message
http://jenkins.mxn

[2020-02-11 01:42] a550461053 commented on #17539
No, I use the c++ operator in mxnet backend according to [](https://mxnet.apache.org/api/faq/add_op_in_backend). Because I have implement a operator and I need  to reuse mshadow op.

[2020-02-11 01:57] eric-haibin-lin opened #17562 "Fail to import MXNet in distributed kvstore test"
The distributed kvstore test has been failing on the master branch:
[code]
CI reports test passes by mistake. MXNet actually cannot be imported due to some changed from mxnet.numpy.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/master/1622/pipeline

@haojin2 have you seen this?

[2020-02-11 05:44] apeforest commented on #17366
export KMP_DUPLICATE_LIB_OK=TRUE works. Closing this issue.

[2020-02-11 05:44] #17366 closed

[2020-02-11 13:54] StatMixedML opened #17565 "MXNet slowness when creating large graph"
Hi,

this is related to the second part of the GluonTS issue reported here:

https://github.com/awslabs/gluon-ts/issues/607#issuecomment-583871759

I want to fit a GPVAR model in GluonTS and estimation is of magnitude 1,000 slower than training a DeepAR model. According to @geoalgo & @mbohlkeschneider,  mxnet seems to be very slow when creating a large graph.

I have cross-referenced to the origin

[2020-02-11 15:13] szha commented on #17537
For https://repo.mxnet.io/dist/index.html I did the following:
- fixed the javascript so that it can be accessed from both the above url and the https://apache-mxnet.s3-us-west-2.amazonaws.com/dist/index.html
- added order and filter to the nightly builds table.

The current practice for a fixed url is simply incorrect. The version used is misleading and claims to be an official release version. T

[2020-02-11 15:14] szha commented on #17043
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17551/4/pipeline#step-697-log-1160

[2020-02-11 17:15] ptrendx commented on #17565
Which version of MXNet are you using?

[2020-02-11 17:37] RuRo commented on #15787
Just in case anyone stumbles on this issue, notice, that `mxnet` expects the `build` directory to be in the root of the repository. So if you are trying to build in a different directory (i.e. in `/tmp` or in a directory adjacent to your cloned `mxnet` repository), the `setup.py` script will fail with the above error.

[2020-02-11 17:39] ChiaraXian commented on #8148
@zhreshold Could you explain inputs of mxnet .json nodes in detail? Especially index and version. I am now trying to read mxnet .json and understand the node structure but I haven't found any document about this. Your answer will be really helpful for me. Thanks!

[2020-02-11 17:45] aidan-plenert-macdonald commented on #8148
@ChiaraXian Maybe look at the code I wrote here will help,

https://github.com/aidan-plenert-macdonald/mxflows/blob/master/mxflows/flow_diagram.py#L45

[2020-02-11 18:06] StatMixedML commented on #17565
Sorry, forgot to mention:

- Python: 3.6.7
- mxnet-cu100: 1.4.1 (needed for gluonts to work properly: mxnet>=1.3.1,<1.5.*)
- gluonts: 0.4.3.dev55+g90587ba

[2020-02-11 19:16] ChaiBapchya opened #17568 "mp_lamb_update float32 input type inconsistent issue"
## Description
Upon passing all the inputs as float32, it incorrectly infers as float16.

[code]

[2020-02-11 19:16] ChaiBapchya commented on #17568
@access2rohit

[2020-02-12 00:53] #17560 closed

[2020-02-12 00:58] djaym7 commented on #17518
@bryanyzhu check this

[2020-02-12 01:01] bryanyzhu commented on #17518
Hi, is this solved or still a bug?

[2020-02-12 17:31] ChiaraXian commented on #8148
@aidan-plenert-macdonald Thank you for your code. But I still wonder the index and version in the list of inputs. [node_id, index, version]. The first item means the node_id of input, how about the other two items?

[2020-02-12 17:57] aidan-plenert-macdonald commented on #8148
Found the documentation here https://docs.tvm.ai/dev/nnvm_json_spec.html#nodes. It's not super helpful.

You can trace down the code a bit,

https://github.com/dmlc/nnvm/blob/master/python/nnvm/graph.py#L26 ==>
https://github.com/dmlc/nnvm/blob/master/python/nnvm/graph.py#L270 ==>
...
https://github.com/dmlc/nnvm/blob/ef0ab9b09dbf1318851be311d3752de6c9bd4881/src/core/graph.cc#L45 ==>
https://githu

[2020-02-12 17:59] djaym7 commented on #17518
One has to skip loading those 2 parameters while exporting manually.

[2020-02-12 18:25] #17529 closed

[2020-02-12 18:52] ChaiBapchya commented on #17067
Another one - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17487/13/pipeline #17487

[2020-02-12 19:30] a550461053 opened #17577 "build mxnet from source and get ImportError: cannot import name 'NDArrayHandle'"
- I build mxnet from source, here's the steps:

[code]

- I got `ImportError: cannot import name 'NDArrayHandle` when I test mxnet in python.
`from mxnet.kvstore import NDArrayHandle`

- Then I list the kvstore class:

1. In release mxnet-cu100:
[code]
2. In my build mxnet:
[code]
I want to know why it happen and what's the default `config.mk` of the released mxnet wheel.

[2020-02-12 19:59] ChaiBapchya opened #17578 "Additional C/Python APIs for Operator stats/info"
## Description
While working on OpPerf, we found a need for the following C APIs

### MXNet wide Operator Registry info
- get_deprecated_operators()
- get_contrib_operaotrs()
- get_backward_operators()
- get_internal_operators()

Currently there is an API for all MXNet registered operators
mx.operator.get_all_registered_operators()
But it returns 1132 ops (as of Feb 12, 2020)
It includes internal

[2020-02-12 21:56] sl1pkn07 opened #17579 "typo in CmakeLists.txt about OPENMP_FOUND"
https://github.com/apache/incubator-mxnet/blob/f0d1d9dd8879920c68290b6f520f97a17444354c/CMakeLists.txt#L420

according cmake documentation, `OPENMP_FOUND` should be `OpenMP_FOUND`

https://cmake.org/cmake/help/git-master/module/FindOpenMP.html

greetings

[2020-02-12 22:01] szha commented on #17579
Thanks for bringing this up. Would you be open to contributing a patch to fix it?

[2020-02-12 22:50] sl1pkn07 commented on #17579
@szha done

[2020-02-12 23:01] ChaiBapchya commented on #16864
Exposing OpPerf utility in the MXNet's Pip.
@TaoLv As discussing in one of the OpPerf PR's (https://github.com/apache/incubator-mxnet/pull/17500), let's make OpPerf available to users by adding it to the MXNet binary.

This will enhance the usability of the tool.

[2020-02-12 23:01] eric-haibin-lin commented on #17495
There are a couple of thread local variables in the python level, too:
[code]
they suggest that if the frontend python thread is switched, some of these contexts are lost.

[2020-02-12 23:16] leezu commented on #17495
Specifically, we'd need to use something like https://docs.python.org/3/library/contextvars.html
But Contextvar in it's current form is not sufficient, as it doesn't allow us to hook in C API calls.
This feature should be added to Python standard library, and on the MXNet side we should use a patched version of Contextvar

[2020-02-12 23:19] leezu commented on #17579
Variables are case sensitive in CMake syntax. This is only an optical issue.

[2020-02-12 23:30] sl1pkn07 commented on #17579
not at all, a example

https://github.com/Nadrin/Quartz/issues/2

[2020-02-13 00:00] frankfliu opened #17581 "macOS static build failed with 'cblas.h' file not found"
## Description
I use following command to build macOS static build:
[code]

### Error Message
[code]

## To Reproduce
I have XCode 11.3.1 installed on my system, the cblas.h file location is:
[code]

But in 3rdparty/mshadow/make/mshadow.mk file hard coded include path as:
[code]

## What have you tried to solve it?
Manually change the path to make it work locally.

[2020-02-13 00:00] frankfliu commented on #17581
@mxnet-label-bot add [build, ci]

[2020-02-13 00:57] leezu commented on #17581
Could you try `CMAKE_STATICBUILD=1 ./tools/staticbuild/build.sh cpu`

[2020-02-13 01:01] leezu commented on #17579
Ok. I'm not sure why this worked so far then.

[2020-02-13 01:16] leezu commented on #17579
`OPENMP_FOUND` is also supported variable.

https://gitlab.kitware.com/cmake/cmake/blob/master/Modules/FindOpenMP.cmake#L584

[2020-02-13 01:28] ChaiBapchya commented on #13439
@anirudhacharya R GPU failed in unix-gpu for unrelated PR #17542

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17542/10/pipeline/

[code]
Not sure exactly which test failed. Any idea? Looks like flaky coz other unix-gpu builds seem to have gone fine.

[2020-02-13 03:14] sxjscience opened #17584 "[Numpy] broadcast_arrays is not in symbolic interface + no broadcast_like"
## Description
broadcast_like is very useful for broadcasting arrays in the symbolic interface. I think we should add it to the `npx` namespace.

Also, currently broadcast_arrays is not in the symbolic interface and we should add it.
[code]

[code]

 @ZheyuYe @haojin2

I'll first add broadcast_like to npx.

[2020-02-13 08:45] hkvision opened #17587 "Need help: how to manually build whl"
Hi,

Are there any instructions to build the whl for mxnet that is equivalent to the whl that you release on pypi?

I have compiled the project using mkl with libmxnet.so under incubator-mxnet/lib, then I run `python setup.py bdist_wheel` under `incubator-mxnet/python` and get a whl under `dist`, if I pip install this whl, I am encounting the following issues when import mxnet:
- Cannot find libmx

[2020-02-13 09:34] lilipj commented on #15920
I have the same problem with keras2onnx, and onnxmltools, but when I change the target_opset to 8 in onnxmltool.convert_keras function, it works. When target_opset is 9 , it fails

[2020-02-13 09:37] lilipj commented on #16590
I have the same problem with keras2onnx.
I tried onnxmltools to do the conversion from keras to onnx, it fails, same error. But when I change the target_opset to 8 in onnxmltool.convert_keras() function, it works

[2020-02-13 09:46] Jerryzcn commented on #16803
what version of mxnet are u using

[2020-02-13 09:48] Jerryzcn opened #17588 "OOM when training GluonCV Mask/Faster RCNN"
On P3.16x. I wasn't able to train either Faster or Mask RCNN resnet50_v1b w/ FPN
This happens after version 1.6.0b20191016. The next nightly build 1.6.0b20191029 will OOM after 10 epochs of training.

[2020-02-13 09:51] ymzx commented on #16803
@Jerryzcn
mxnet.__version__  is  '1.4.0'

[2020-02-13 16:53] sl1pkn07 opened #17589 "OSError: /tmp/makepkg/sl1-mxnet-git/src/build/libmxnet.so.1.5.1: undefined symbol: _ZN4dmlc14RecordIOReader10NextRecordEPSs"
[code]

linux
python 3.8.1
mxnet f5a1014479351f3139b92c437d65de3a3a653196
gcc 8.3.0, also happen with gcc 9.2.1

[2020-02-13 17:03] leezu commented on #17589
Please provide full cmake configuration and build logs.

[2020-02-13 17:05] sl1pkn07 commented on #17589
[code]

the build log is too extense

[2020-02-13 17:48] leezu commented on #17589
Without the build log, it's impossible to advise about the root cause of your issue.

You can attach the file in a comment.

[2020-02-13 20:31] sl1pkn07 commented on #17589
seems fixed

build opencv (with cuda support) and openexr with gcc 8 (instead gcc 9) the error is gone

sorry for the noise

[2020-02-13 20:31] #17589 closed

[2020-02-14 01:57] samskalicky commented on #17577
@apeforest any idea on kvstore?

[2020-02-14 03:15] QimingZheng opened #17591 "Support for Partitioned Variables (used in large sparse models)"
## Description
Support partitioned variables when training models with large embedding layers (e.g. recommendation system).

## Motivation

Models [e.g. **Factorization Machines**(1) or **DeepFM**(2)] in recommendation tasks are usually very large, **billions of features** (including user id and product id) are used.

In the setting of distributed training, if each worker holds a local copy of the

[2020-02-14 03:29] frankfliu commented on #17581
mac static build doesn't have CMake yet. I created a PR to add cmake support: https://github.com/apache/incubator-mxnet/pull/17592

With CMake, this issue no longer exists.

[2020-02-14 06:37] reminisce commented on #17562
The test failure is on Python2. The test should be launched using Python3 instead.

[2020-02-14 10:18] ChiaraXian commented on #8148
@aidan-plenert-macdonald Thanks a lot!!! Thank you for your help!!!

[2020-02-14 12:49] sl1pkn07 commented on #17514
try with

[code]

[2020-02-14 19:19] connorgoggins opened #17595 "MKLDNN incompatibility with large tensor (dim >= 2^32) data"
## Description
While testing individual ops for large tensor (dimension >= 2^32) input functionality, I found an error in MKLDNN. Within `3rdparty/mkldnn/src/cpu/gemm/gemm.cpp` on line 43 there is a function which takes in several parameters, including `M` (the variable used to accept the data dimension in the input). `M` is designated as an `int`, so when the value 2^32 is passed in as the first

[2020-02-14 19:30] access2rohit commented on #17595
@mxnet-label-bot add [MKLDNN]

[2020-02-14 19:38] apeforest commented on #17595
@PatricZhao Could your team please take a look at this? Thanks!

[2020-02-14 20:04] access2rohit commented on #17595
@PatricZhao @TaoLv  looks like blas=MKL/openblas/none(mnative mxnet) and MKLDNN=OFF is supporting gemm on int64 but with MKLDNN its not. If its not a known issue with MKLDNN can you guys please take a look

[2020-02-14 20:26] eric-haibin-lin commented on #1137
or just put a `mx.nd.waitall()`

[2020-02-15 03:28] TaoLv commented on #17595
Thank you for reporting the issue. I will take a look at this. But my initial thought is that MKL-DNN itself already supports int64 shape since the v1.0 upgrading, while I don't think the current integration of MKL/openblas supports int64 GEMM.

[2020-02-15 04:34] TaoLv commented on #17595
I can reproduce the crash.

[2020-02-15 06:42] leezu commented on #17017
Fixed by https://github.com/apache/incubator-mxnet/pull/17602 for cmake build

[2020-02-15 13:06] whamza15 commented on #14373
Any progress on this?

[2020-02-15 20:01] eric-haibin-lin opened #17606 "Flaky test: test np_insert"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-17400/12/pipeline

@reminisce @haojin2

[2020-02-16 02:24] access2rohit commented on #17595
@TaoLv thanks for taking a look !

[2020-02-16 17:42] szandara commented on #14488
Can you explain why the C API solves the problem?

I have the same issue and I am unable to run my network. If I use Python the memory usage is 2.7GB while using the C++ interfaces causes a cudaMalloc error (I have a 12GB Nvidia GPU!)

[2020-02-16 19:33] szha commented on #14373
@whamza15 this will be taken into account in the MXNet 2.0 roadmap item 4.3, Gluon block enhancement, that @leezu is driving.

[2020-02-17 01:53] leezu commented on #17017
This has been fixed for CMake build. Please follow https://mxnet.apache.org/get_started/osx_setup to compile with cmake.

Closing this issue as the Makefile build is deprecated and will be removed.

[2020-02-17 01:53] #17017 closed

[2020-02-17 02:00] QimingZheng commented on #17591
@mxnet-label-bot add [Sparse]

[2020-02-17 02:02] QimingZheng commented on #17591
@mxnet-label-bot add [Distributed]

[2020-02-17 02:06] QimingZheng commented on #17591
@eric-haibin-lin Could you help to take a look?

[2020-02-17 05:44] eric-haibin-lin opened #17612 "Gluon block thread safety bug"
[code]

Error:
[code]

[2020-02-17 05:53] eric-haibin-lin commented on #17591
@QimingZheng are looking into this for research purpose or deploying models for real-world use cases? Currently TF has the best support for this kind of models.

Is your target model size larger than what a single machine can hold?

[2020-02-17 06:14] QimingZheng commented on #17591
Hi, @eric-haibin-lin, for both research purpose and production requirements.

My target model size will be hundreds of Gigabytes (cannot be handled by one server).

[2020-02-17 07:09] gachiemchiep opened #17613 "Illegal instruction (core dumped) when running mxnet on Intel NUC"
## Description
Illegal instruction (core dumped) when running mxnet on Intel NUC

### Error Message
Illegal instruction (core dumped)

## What have you tried to solve it?

1. try with mxnet version 1.5.1 and 1.5.0
2. Also try mxnet on anaconda channel

## Environment

With mxnet

[code]

Without mxnet

[code]

Please help .

[2020-02-17 07:22] TaoLv commented on #17613
The binaries you used needs AVX2 instruction. See discussion in https://github.com/apache/incubator-mxnet/issues/11911.

[2020-02-17 07:28] gachiemchiep commented on #17613
Hello @TaoLv
Thanks man. The discussion did help me understand the problem.
I will try to compile mxnet to check whether my problem could be solved.

[2020-02-17 08:15] leezu commented on #17613
The static build scripts have been updated to avoid AVX instructions. Try running the `CMAKE_STATICBUILD=1 tools/staticbuild/build.sh cpu` as per the instructions in https://github.com/apache/incubator-mxnet/tree/master/tools/staticbuild

Alternatively you can directly compile on the NUC and the compiler will refrain from using AVX if the processor doesn't support it.

[2020-02-17 08:17] gachiemchiep commented on #17613
Hello, @leezu .
Is the staticbuild tool support cross-compiling for the NUC?

[2020-02-17 17:02] aaronmarkham commented on #11395
Again here.... and another I just restarted...
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-17594/1/pipeline

![failure-to-launch](https://user-images.githubusercontent.com/5974205/74673380-eabba680-5163-11ea-82ff-59d3e7286533.jpg)

[2020-02-17 17:15] szha commented on #17331
The slowdown for BERT (-22.98%) is quite significant. We will need to mitigate this before moving forward.

[2020-02-17 18:58] leezu commented on #8703
MXNet 1.6.x is the last release to support Python 2. See https://github.com/apache/incubator-mxnet/pull/15990

[2020-02-17 18:58] #8703 closed

[2020-02-17 18:59] leezu commented on #8703
Consensus in https://lists.apache.org/thread.html/r3a2db0f22a1680cc56804191446fef2289595798ca19fd17de1ff03e%40%3Cdev.mxnet.apache.org%3E

[2020-02-17 23:06] szhengac opened #17616 "CUDA: unspecified launch failure on CI Windows"
## Description
CI on windows keeps giving `CUDA: unspecified launch failure`. It has been retriggered many times.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-17400/20/pipeline/

[2020-02-17 23:51] szha commented on #17537
The directory listing files are now available. I updated the https://repo.mxnet.io/dist/index.html with the links. It's now possible to install nightly builds with the same command:
`pip install --pre mxnet -f https://dist.mxnet.io/python/cpu`

Let's update the installation instructions to use the directory listing files.

[2020-02-18 00:44] aaronmarkham commented on #11395
Again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-17594/3/pipeline

[2020-02-18 02:57] gachiemchiep commented on #17613
Hi @TaoLv  , @leezu
Thank you for your  support. Re-compiling mxnet on the NUC fix my problem

[2020-02-18 02:57] #17613 closed

[2020-02-18 09:16] ThomasGmeinder opened #17621 "get_inputs function in _op_translations.py does not support outputs from SliceChannel"
## Description
The get_info function in _op_translations.py does not support nodes that have multiple outputs (like Split)

The inputs of the following node are generated from the name only:
        input_nodes.append(proc_nodes[input_node_id].name)
https://github.com/apache/incubator-mxnet/blob/4559ab83b81e63e92887602b1b950082ec53744c/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py#L140

na

[2020-02-18 23:49] reminisce commented on #17562
Fixed by https://github.com/apache/incubator-mxnet/pull/17600.

[2020-02-18 23:49] #17562 closed

[2020-02-19 17:15] ptrendx commented on #17616
@haojin2 The first failing test is `test_operator_gpu.test_np_nan_to_num`.

[2020-02-19 17:36] WaqasAhmedMalik opened #17627 "mxnet R package not available on repos"
## Description
mxnet R package not available on repos.

I am trying to install mxnet R package using the following repos which is given by you but getting the following error message.

cran <- getOption("repos")
cran["dmlc"] <- "https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/"
options(repos = cran)
install.packages("mxnet")

### Error Message
Warning in install.packages :
  cann

[2020-02-19 17:54] VladPerervenko commented on #17627
Same result

[2020-02-19 18:14] haojin2 commented on #17616
Please first disable then investigate.

[2020-02-19 18:58] leezu commented on #17627
Please compile from source as workaround.

[2020-02-19 19:26] sxjscience opened #17628 "Missing dnnl_config.h when installing horovod"
## Description
I tried to compile MXNet using the cmake command:
[code]
and then install horovod
[code]
The error message is
[code]

I find that we have these lines in `mkldnn.mk`  https://github.com/apache/incubator-mxnet/blob/c2aff58c448bbe5755de0c8d35a1cc7d3fd9aa51/mkldnn.mk#L52-L53

The problem might be that we haven't copied the files to `mxnet/include/mkldnn` so the build system used in horo

[2020-02-19 19:28] sxjscience commented on #17628
@leezu @apeforest Have you met problems when building horovod with the latest version?

[2020-02-19 19:32] sxjscience commented on #17628
A temporary fix is to manually copy files inside the `build` directory to `include/mkldnn`. I've confirmed that this solves the problem in horovod installation.
[code]

[2020-02-19 23:36] apeforest commented on #16167
Is there a plan to remove the cudnn_off argument from the neural network operators such as Dropout, Convolution, Pool etc. It creates a few usability issues:
(1) Once a model is exported. It requires users to change this flag in all the layers manually if they want to enable/disable cuDNN. When the cudnn_off is set to true in some layers, the global env variable `MXNET_CUDNN_AUTOTUNE_DEFAULT` beco

[2020-02-20 01:15] TaoLv commented on #17628
I will take a look at this. I remember previously the recommended build system of mxnet was makefile when cooperating with horovod.
@sxjscience is this the only issue when using cmake to build mxnet and linking it to horovod?

[2020-02-20 01:32] larroy opened #17633 "Windows link failures in Debug mode"
## Description

Some template functions need to be defined in the compilation unit, right now can't build in debug mode and thus fix issues with GPU builds in windows.

[code]

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own c

[2020-02-20 01:32] larroy commented on #17633
@mxnet-label-bot add [breaking]

[2020-02-20 01:52] larroy opened #17635 "Windows segmentation faults in GPU tests"
## Description

Windows GPU tests from the updated environment in https://github.com/aiengines/ci fails with the following:

[code]

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that repr

[2020-02-20 04:13] sxjscience commented on #17628
That’s currently the only one I found for linking to horovod. However I just ran setup.py in horovod and hasn’t run distributed training yet. I’m having some other issues in the cmake-built MXNet which I’m still investigating.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tao Lv <notifications@github.com>
Sent: Wednesday, February 19, 2020 5:15:05 PM
To: apache

[2020-02-20 06:07] haojin2 commented on #17616
#17630 still fails on windows-gpu with `test_np_nan_to_num` disabled, the error starts to occur on the test immediately after `test_np_nan_to_num`, meanwhile there were other PRs passing the windows-gpu build, as a result, I suspect the problem is not with the `test_np_nan_to_num` itself.

[2020-02-20 06:16] mifan0208 opened #17636 "After model parameter iteration, printed the loss , and OOM problem appears,"
## Description
After model parameter iteration,  printed the loss , and OOM problem appears,What's the problem？

## Occurrences
Traceback (most recent call last):
  File "train.py", line 124, in <module>
    train(train_loader)
  File "train.py", line 105, in train
    print('loss',loss_.asnumpy())
  File "/usr/local/lib/python3.6/site-packages/mxnet/ndarray/ndarray.py", line 1996, in asnumpy

[2020-02-20 08:54] vexilligera commented on #17635
I was able to run the script ci/windows/test_py3_gpu.ps1 properly and did not run into this error with the setup script provided on a local Windows machine.