[2015-11-04 04:03] starimpact commented on #424
I found that the swapaxis supports template only, that means I need to enumerate all possible groups of swapaxis functions.for example:
swap 0 and 1, then swapaxis<1, 0>(....)
swap 0 and 2, then swapaxis<2, 0>(....)
swap 0 and 3, then swapaxis<3, 0>(....)
swap 2 and 3, then swapaxis<3, 2>(....)
........

[2015-11-04 04:38] tqchen commented on #424
Thanks for point it out. Yes. These could be reduced to two possible cases by use it with together reshape. For example, say X is 3 dimension (c, t, h, w), what and we want to swap c and w, what we can do is

Swap that involves the lowest dimension
[code]

General swap dim1, dim2
[code]

So you can use get_with_shape function in TBlob, which allows you to convert any TBlob contiguously into 4D Ten

[2015-11-04 04:49] winstywang commented on #479
You may need a callback at the end of each epoch like: https://github.com/dmlc/mxnet/blob/master/example/imagenet/inception-full.py#L101

[2015-11-04 06:30] tqchen commented on #467
Thanks to @Kublai-Jing fixed by #469

[2015-11-04 06:30] #467 closed

[2015-11-04 06:37] tqchen commented on #473
This should be able to be implemented by elementwise-scalar symbol as in the ndarray ops. The idea is to implement a ScalarOp that takes a scalar and symbol. It should be straight forward to implement this like https://github.com/dmlc/mxnet/blob/master/src/operator/activation-inl.h

Then we can do operator overloading on python side to support the elementwise ops with scalars.
Please let us know i

[2015-11-04 06:38] starimpact commented on #424
I try it with numpy of python and it works, this is really a tricky one.
Thank you very much.

[2015-11-04 06:39] tqchen commented on #472
This is discussed to be added as SoftmaxTransform Operator. cc @antinucleon  Please let us know if you are interested in contributing

[2015-11-04 06:39] tqchen commented on #424
Thanks! Please open a PR for this

[2015-11-04 06:42] starimpact commented on #424
I will do PR after I implement it in mxnet.

[2015-11-04 06:58] junranhe opened #482 "Unit test examples"
感觉修改代码的时候容易忽略了改examples哦，例如 imagenet alexnet.py 以前num_round 改为了num_epoch没有跟着改，对第一次的朋友使用mxnet有点不必要的麻烦。。。

[2015-11-04 07:40] vchuravy commented on #375
I run into the same problem if I don't add to `cblas` to the MSHADOW flags

[code]

The blas version installed is the archlinux one from http://www.netlib.org/blas/ & https://www.archlinux.org/packages/extra/x86_64/cblas/

[2015-11-04 07:48] antinucleon commented on #472
See if I have time tomorrow

[2015-11-04 08:07] yajiedesign commented on #482
could put the example in the unit test?

[2015-11-04 08:52] fhowen commented on #479
thank you,now I understand how to save the model as I like,but how about load model?
(1)if I want to load model to prediction,should I use mx.model.load?
(2)what about I load the model to continue trainning?

[2015-11-04 09:18] tornadomeet commented on #479
(1), Yes
(2), refer to #379

[2015-11-04 09:47] fhowen commented on #479
@tornadomeet thank you
I followed your advice and add this in the mx.model.FeedForward:arg_params=mx.nd.load("lenet_2GPU-0005.params"),and others in lenet.py stays unchanged,than I try it.
but it raise the error "find name "arg:fullyconnected1_bias" that is not in the arguments".
what's wrong in this?

[2015-11-04 10:14] tornadomeet commented on #479
it seems that your *.params file and *-symbol.json file is inconsistent(the arg name : rg:fullyconnected1_bias).
list the args of symbol by list_arguments(), and list the dict of *.params to see the key, then check that

[2015-11-04 10:20] fhowen commented on #479
from data import mnist_iterator
import mxnet as mx
import logging

## define lenet
# input
data = mx.symbol.Variable('data')
.
.
.
fc2 = mx.symbol.FullyConnected(data=tanh3, num_hidden=10)
# loss
lenet = mx.symbol.SoftmaxOutput(data=fc2)

## data
train, val = mnist_iterator(batch_size=300, input_shape=(1,28,28))

## train

logging.basicConfig(level=logging.DEBUG)
dev = [mx.gpu(i) for i in range(2)

[2015-11-04 11:31] starimpact commented on #424
Traceback (most recent call last):
  File "/home/mzhang/work/end-to-end/MXNetProject/swapaxis_test.py", line 8, in <module>
    import mxnet as mx
  File "/home/mzhang/anaconda/lib/python2.7/site-packages/mxnet-0.5.0-py2.7.egg/mxnet/__init__.py", line 7, in <module>
    from .base import MXNetError
  File "/home/mzhang/anaconda/lib/python2.7/site-packages/mxnet-0.5.0-py2.7.egg/mxnet/base.py", line

[2015-11-04 11:41] fhowen commented on #479
@tqchen
is there a bug? in excutor.py ,def copy_params_from()?

because if we use save_checkpoint() to save the model,the name of args will be like this "arg:fullyconnected1_bias"
but when we reload the model,the name in self.arg_dict,it doesn't have a prefix "arg:",
I think it is why I come to an error

[2015-11-04 11:46] fhowen commented on #479
@tqchen
is there a bug? in excutor.py ,def copy_params_from()?

because if we use save_checkpoint() to save the model,the name of args will be like this "arg:fullyconnected1_bias"
but when we reload the model,the name in self.arg_dict,it doesn't have a prefix "arg:",
I think it is why I come to an error

[2015-11-04 11:54] fhowen commented on #479
I write the forward like this:
model = mx.model.FeedForward(
        ctx = dev, symbol =mx.symbol.load('lenet_2GPU-symbol.json'), num_epoch = 10, begin_epoch=5,
        learning_rate = 0.05, momentum = 0.9, wd = 0.00001,arg_params=mx.nd.load('lenet_2GPU-0005.params'))

then I call fit.

[2015-11-04 11:57] tornadomeet commented on #479
@fhowen  does it work now?

[2015-11-04 12:02] fhowen commented on #479
@tornadomeet
https://github.com/dmlc/mxnet/blob/master/python/mxnet/executor.py#L180
this is where error occurs.

[2015-11-04 12:03] fhowen commented on #479
it doesn't work now..

[2015-11-04 12:04] fhowen commented on #479
the name in self.arg_dict has no prefix,it comes from the symbol file
but the name in arg_params has a prefix,it comes from arg_params file.

[2015-11-04 12:12] fhowen commented on #479
https://github.com/dmlc/mxnet/blob/master/python/mxnet/model.py#L418
but if I remove the arg: here.
when I reload the model,it can only continue to train 1 epoch ,then an error of save_dict.update occurs.

[2015-11-04 12:24] tornadomeet commented on #479
@fhowen  i just run a test, but no that bug here, so can u paste your code?

[2015-11-04 12:25] fhowen commented on #479
ok.

[2015-11-04 12:30] fhowen commented on #479
# pylint: skip-file
from data import mnist_iterator
import mxnet as mx
import logging

## define lenet
# input
data = mx.symbol.Variable('data')
"""
# first conv
conv1 = mx.symbol.Convolution(data=data, kernel=(5,5), num_filter=20)
tanh1 = mx.symbol.Activation(data=conv1, act_type="tanh")
pool1 = mx.symbol.Pooling(data=tanh1, pool_type="max",
                          kernel=(2,2), stride=(2,2))
#

[2015-11-04 12:33] fhowen commented on #479
@tornadomeet sorry for the code is messy...I haven't used github before

[2015-11-04 13:01] tornadomeet commented on #479
@fhowen , hmm, this seems a bug ;
the reason is that we cannot use "arg_params=mx.nd.load('lenet_2GPU-0005.params')" directly, because mx.nd.load() is return not just arg_params but also aux_params, so we should seperate the arg_params from the return, and then feed into mx.model.FeedForward(...)
acturally, the mx.nd.load() interface is a bit puzzling for users, maybe @tqchen , can add seperate in

[2015-11-04 13:04] fhowen commented on #479
@tornadomeet thank you.
I hope there is a example about continue to train the model...

[2015-11-04 13:43] Kublai-Jing commented on #472
I will ry to submit a PR today

[2015-11-04 17:33] mli commented on #482
the examples are too expensive for testing. even moving the imagenet dataset is not easy.

we might let a gpu machine run the examples once every day for testing

[2015-11-04 17:55] tqchen commented on #424
Likely you forget to implement some function you declared in SwapAxisProp

[2015-11-04 17:57] tqchen commented on #479
You can load it in a model structure, and feed the content to another
[code]

[2015-11-04 21:07] thirdwing commented on #459
To install on Mac/Linux:
[code]

[2015-11-04 22:01] piiswrong opened #487 "Scaling for loss layers"
Our current solution is to leave the loss as-is, and let the user decide the scale using grad_rescale. The Mathematical standard is to divide it by batch_size*num_output so that loss and learning_rate don't change when you change batch_size or num_output.

Consider scaling the loss by batch_size*num_output by default?

[2015-11-04 22:10] pluskid commented on #487
For `batch_size`, the gradient is already divided by `batch_size` in the updating rule of optimizers.

[2015-11-04 22:19] piiswrong commented on #487
This is only for FeedForward model. I'm thinking about pushing it into the default setting of optimizers or loss_ops to make it work for every model.

[2015-11-04 22:30] pluskid commented on #487
Yes I agree. In the Julia side I exposed more information to an optimizer, including `batch_size`, so rescaling is automatically done for all optimizers (see [here](https://github.com/dmlc/MXNet.jl/blob/master/src/optimizer.jl#L214)). And an optimizer is model-agnostic so should work with any models besides FeedForward. I could back-port that to the Python side if necessary.

For output size, are

[2015-11-04 22:43] piiswrong commented on #487
I agree. Please do a patch if you have time. Otherwise I can do it later.
We can standardize scaling for mxnet provided multi-dimension output loss layers and recommend people do the same for custom layers.
This can help avoid dangerously large gradients when you have a hundred output and use a common learning rate of 0.01.

[2015-11-04 22:50] yib2 opened #488 "Fail to make -j4 on Mac, all dependencies are installed already"
You may see the output below when i make -j4.

In file included from src/common/tblob_op_registry.cc:6:
In file included from include/mxnet/ndarray.h:17:
In file included from include/mxnet/./base.h:13:
In file included from ./mshadow/mshadow/tensor.h:16:
./mshadow/mshadow/./base.h:120:14: fatal error: 'cblas.h' file not found
In file included from src/c_api/c_predict_api.cc:9:
In file included fr

[2015-11-04 23:27] piiswrong commented on #488
./mshadow/mshadow/./base.h:120:14: fatal error: 'cblas.h' file not found
You didn't have blas or didn't set the path to it in config.mk

[2015-11-05 00:16] mli commented on #487
please aware that if using the BSP model for distributed training, the batch size is multiplied by num_workerss, see https://github.com/dmlc/mxnet/blob/master/python/mxnet/model.py#L744

doc https://github.com/dmlc/mxnet/blob/master/doc/developer-guide/multi_node.md#kvstore

[2015-11-05 00:27] mli opened #489 "prediction service"
we already have several pre-trained models achieving the state-of-the-art performance, it would be nice we can make an online service so that users can have a quick look. an example is

http://www.clarifai.com/#demo

making a simple service should be easy:

- the service is able to accept POST request. using any language should be fine. for example, we can use http://docs.cherrypy.org/ if using py

[2015-11-05 00:31] pluskid commented on #487
Is it viable to unify the handling of mini batch for the distributed training and single-node multi-device training? For example, to let different devices process a whole mini-batch as in distributed training.

[2015-11-05 01:15] mli commented on #487
the current `batch_size` means the number of examples a process will read each time. it somewhat controls two important hyper-parameters:

- `num_ex_per_device` the number of examples feed into a single device each time. it's limited by the device memory capacity
- `num_ex_per_update` the number of examples used for each weight updating. this is a trade-off between system performance (often in the

[2015-11-05 01:36] starimpact commented on #424
thanks, I fix it out.

[2015-11-05 03:26] piiswrong commented on #489
do we have a server ready?
Maybe we can also use it to host pretrained model files?

[2015-11-05 03:27] mli commented on #489
either renting ec2 instances or finding one at cmu works for me. machine resource is not a problem

[2015-11-05 03:32] mli commented on #489
but i'm not sure to use that to hosts pretrained models. github might be more stable, but lfs is definitely not the solution, it's too expensive...

[2015-11-05 03:37] piiswrong commented on #489
Is ec2 practical for hosting 50~500MB files for download?
A model zoo would really be nice.

[2015-11-05 03:40] winstywang commented on #489
I have a VPS can be used to host models.

[2015-11-05 03:42] mli commented on #489
then s3 could be cheaper and easier. at most $0.03 / GB vs $.1 / GB for LFS

https://aws.amazon.com/s3/pricing/

[2015-11-05 03:42] mli commented on #489
@winstywang do you need to pay the bandwidth for VPS?

[2015-11-05 03:44] winstywang commented on #489
@mli No need. But I remember it has CPU limit. It is the standard bluehost service.

[2015-11-05 03:58] unityunreal opened #491 "build error:use of undeclared identifier 'EvalMatChooseRowElem_' on OSX 10.11"
I am trying to build mxnet on my mac, after execute `make` in terminal,such errors appear:

[code]
And I can't find `mat_choose_row_element` and `one_hot_encode` implementation in any files...
Any help would be appreciated, thanks!

[2015-11-05 04:01] mli commented on #489
@winstywang thanks. but let's use lfs at this moment, since it's stable and easier to use. we may switch to s3 later since i'm going to apply an aws gif grant.

[2015-11-05 04:04] starimpact commented on #424
Hi,
It still has a problem, can not work well in python. Can I send my SwapAxis code files to you and ask you to fix  the problem ?
what's your email ?

[2015-11-05 04:07] tqchen commented on #424
You can open a PR with WIP flag, and I can help review it if you like

[2015-11-05 04:34] tqchen commented on #491
Likely you need to update the newest mshadow

[2015-11-05 04:38] maxpy opened #492 "how to change a single layer learning rate when fine tune ?"
Just like  blobs_lr: 0  param , in  Caffe  .prototxt   setting

[2015-11-05 04:42] winstywang commented on #492
You may need to modify corresponding python file. If your goal is to freeze some early layers from finetuning, you can you the BlockGradOp.

BTW, it is recommended to use English here, since the users of mxnet are not only limited to Chinese.

[2015-11-05 05:17] starimpact commented on #424
I got the following error when I push,
remote: Permission to dmlc/mxnet.git denied to starimpact.
fatal: unable to access 'https://github.com/dmlc/mxnet/': The requested URL returned error: 403

[2015-11-05 05:19] tqchen commented on #424
You will need to do a fork, and send a pull request

[2015-11-05 05:20] antinucleon commented on #424
Please refer: https://mxnet.readthedocs.org/en/latest/contribute.html

[2015-11-05 05:37] starimpact commented on #424
i did the fork

[2015-11-05 05:40] tqchen commented on #424
You want to clone the repo from your fork, instead of the dmlc's repo and push to your repo, something like
[code]

[2015-11-05 05:56] unityunreal commented on #491
@tqchen , thanks, update `mshadow` solves my problem

[2015-11-05 06:28] starimpact commented on #424
mxnet has child repository mshadow, how do i commit all changes in mxnet and mshadow?

[2015-11-05 06:30] starimpact commented on #424
I found that what I forked mxnet is not the newest one.

[2015-11-05 06:37] tqchen commented on #424
There are information here that can help you https://mxnet.readthedocs.org/en/latest/contribute.html

If you have changes made to mshadow, you want to clone mshadow separately and create a PR to https://github.com/dmlc/mshadow

[2015-11-05 06:41] toothacher17 commented on #369
Hi,

Are there any interesting implementation examples in cpp? Or I should read the cpp API interface instead?

Thanks a lot

[2015-11-05 06:49] starimpact commented on #424
hi, please check my github, you can see the swapaxis.please check it.
thanks very much.

[2015-11-05 06:56] tqchen commented on #424
Made the comments there

[2015-11-05 07:08] xmuhcd opened #494 "CMake on Windows 10"
Hi, I downloaded the MXNet Source, and tried to build it on Windows 10 using VS 2015. I first use CMake GUI to load the source folder, then press configure(I know I need to set the third-party path, I have CUDA 7.5, CUDNN v3, and OpenBlas). But i got the following errors:

CMake Error at CMakeLists.txt:16 (include):
  include could not find load file:

    mshadow/cmake/mshadow.cmake

CMake Error

[2015-11-05 07:10] starimpact commented on #424
there is 3 files in operator folder: swapaxis.cu, swapaxis.cc, swapaxis-inl.h.
add a Shape5 function in tensor.h in mshadow/mshadow

[2015-11-05 07:11] starimpact commented on #424
the following is my test file.
the question is the 'print 5' will not be executed.
----------------------
A = mx.symbol.Variable('A')
a = mx.nd.ones((3, 4, 5))
print a
swap = mx.symbol.SwapAxis(A, dim1=0, dim2=2)
print 2
c_exec = swap.bind(ctx=mx.cpu(), args={'A' : a})
print 3
c_exec.forward()
print 4
rlt = c_exec.outputs[0].asnumpy()
print 5
print 'after swap:', rlt
---------------------------

[2015-11-05 07:13] starimpact commented on #424
the following is my test file.
the question is the 'print 5' will not be executed.
[code]

[2015-11-05 07:15] starimpact commented on #424
the following is my test file.
the question is the 'print 5' will not be executed.
[code]

[2015-11-05 07:15] ferodia opened #495 "user defined activation function"
Hello,
I would like to build RBF neural network using mxnet, but the gaussian activation function is not available (there are only sigmoid, relu and tanh)
could you please tell me how and where can I add it ?

Thanks!

[2015-11-05 07:19] hjk41 commented on #494
You need those submodules like mshadow, ps-lite and dmlc-core.

It is suggested that you use git to get the code (git clone --recursive
https://github.com/dmlc/mxnet), github download does not handle submodules
properly.

Or you can also try to download the submodules yourself. They are located
under github.com/dmlc/

On Thu, Nov 5, 2015 at 3:08 PM, Chunde <notifications@github.com> wrote:

--
HON

[2015-11-05 07:22] tqchen commented on #424
Can you run a bit debug on this ? You can likely print out the messages in the forward function to see if things get executed. I also made a few comments on your impelemtnation

[2015-11-05 07:29] hjk41 commented on #494
Also, if you don't plan to modify mxnet itself, I suggest you download the
binary releases directly: https://github.com/dmlc/mxnet/releases

On Thu, Nov 5, 2015 at 3:19 PM, Chuntao HONG <chuntao.hong@gmail.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-05 07:37] piiswrong commented on #495
Hi,
If you want the best GPU performance, you can add an operator under src/operator. activation-inl.h would be a good example.
If you just want a quick hack, you can try NumpyOp. Please see example/numpy-ops/numpy_softmax.py

If you managed to create an operator or a working RBF model, you are welcome to contribute to MXNET. Please consider put you work under example and submit a PR.

Thanks

[2015-11-05 07:38] starimpact commented on #424
Forward function is not be executed!

[code]

[2015-11-05 07:40] piiswrong commented on #492
I have a patch for this but haven't merged it in. I'll paste it here as an example:
index ccfb99e..6bb5411 100644
--- a/python/mxnet/optimizer.py
+++ b/python/mxnet/optimizer.py
@@ -66,7 +66,7 @@ class Optimizer(object):
         """Create additional optimizer state such as momentum.
         override in implementations."""

-    def update(self, index, weight, grad, state):
+    def update(self,

[2015-11-05 07:40] xmuhcd commented on #494
Hello Chuntao,

Many thanks,
I see the problem now. Actually I am interested by the project, so I would like to read through the code, and try to test it with the source code running on VS.

[2015-11-05 07:45] tqchen commented on #424
Made a few more comment that you might want to fix. I guess will need your help in making the operator work

[2015-11-05 07:50] starimpact commented on #424
As you see , I put the `printf` in the front of the `Forward` function.
[code]

[2015-11-05 08:39] maxpy commented on #492
merge  the optimize.py ,
 and change model.py  line 337 to updater(index*num_device+k, g, w , 0)   in
is that right?

[2015-11-05 08:51] piiswrong commented on #492
That's the basic idea
We need a proper solution but that might take some time. You are welcome to submit PR if you are interested in contributing.

[2015-11-05 13:10] starimpact commented on #424
Do you have QQ(47474167) or FB?

[2015-11-05 15:37] chuan92 opened #496 "LIBTIFF_4.0 link errors"
my os is **ubuntu15.04** and I install opencv via **'sudo apt-get install libopencv-dev'**.
However, during the make process of mxnet, I got the following error.

*/usr/lib/x86_64-linux-gnu/libopencv_highgui.so.2.4: undefined reference to'TIFFIsTiled@LIBTIFF_4.0'*
*/usr/lib/x86_64-linux-gnu/libopencv_highgui.so.2.4: undefined reference to'TIFFOpen@LIBTIFF_4.0'*

...

It seems that opencv needs lib

[2015-11-05 18:33] piiswrong commented on #496
you can try remove opencv and install from source

[2015-11-05 22:23] ZhangAustin opened #498 "multiple GPU support?"
Does mxnet support multiple GPUs for DNN/LSTM parallel training? How?

In terms of speed/efficiency, how does the "parameter server" parallelzation, comparing to the "asynchronized sgd"?

[2015-11-05 23:09] antinucleon commented on #498
MXNet support not only multiple GPU but also multi-machine.

For Feedforward network, there is high-level API which is described here:
https://mxnet.readthedocs.org/en/latest/python/model.html#use-multiple-devices
For LSTM, we currently make the example by using low level API. To run on
multi-device, you need to add key value API which is hidden in high level
feed forward model API.
For Speed, you

[2015-11-05 23:11] yajiedesign commented on #494
if you want use cuda,must use vs2013,the cuda 7.5 not support 2015.

[2015-11-05 23:27] tqchen commented on #498
ps or kvstore is a ***system abstraction*** to implement the parallel learning ***algorithms***. On single node multi GPU, the algorithm is synchronized SGD. While distributed version support both sync and async algorithms

[2015-11-06 01:48] xmuhcd commented on #494
Hi yajie, I know, when I compiled using VS 2015, it pops out some errors, so I use VS 2013, everything now seems good. Thanks!

[2015-11-06 02:13] sbodenstein opened #500 "R build fails on OSX Mavericks Machine"
I've built MXNet on an OSX Mavericks machine without problems (all the Python examples run fine). However, I can't build the R package with `R CMD INSTALL R-package`. Running this gives the following error:

[code]

Also, I'm using R 3.2.2.

[2015-11-06 02:21] tqchen commented on #500
Please make sure you have initialized the git submodule and pulled dmlc-core

[2015-11-06 02:43] starimpact commented on #424
delivery of parameter is ok.
but somewhere is corrupted.
[code]
[code]

[2015-11-06 02:59] thirdwing commented on #500
It is my fault. I forgot to update the building instruction.

@sbodenstein Please use `make rpkg` to generate `mxnet_0.5.tar.gz`, then `R CMD INSTALL mxnet_0.5.tar.gz`.

[2015-11-06 03:17] sbodenstein commented on #500
Great! It works now.

[2015-11-06 03:17] #500 closed

[2015-11-06 06:19] starimpact commented on #424
I putted it into lenet.py, still can not work well.
[code]

[2015-11-06 06:36] starimpact commented on #424
Yeah, I solved the problem.:smile:

[2015-11-06 07:01] tqchen commented on #424
Great, can you cleanup the code and create a PR?

[2015-11-06 07:10] starimpact commented on #424
But I come across another problem, still in progress.

[2015-11-06 08:02] starimpact commented on #424
problem is solved, can run now, but still need more work.

[2015-11-06 09:18] jrabary commented on #449
After checking a closed look into model.fit method, I notice that it just need a DataIterator object. Then, what is the requirement for an iterator to make it works with model.fit ? Does fuel data stream http://fuel.readthedocs.org/en/latest/overview.html will work out of the box ?

[2015-11-06 09:45] wangg12 commented on #477
I've already update to the newest mxnet, but I still get the same bug. @tornadomeet
[code]

[2015-11-06 09:47] starimpact commented on #424
I have finished the new code based on your suggestions.
And the Backward is also completed.
Please check the code for me.Give me more suggestions.
Thank you very much.:smile:

[2015-11-06 15:49] Kublai-Jing commented on #472
Should that be a stand-alone operator or should it be included in the activation operator ?

[2015-11-06 17:52] tqchen commented on #472
I think we can do it in a standalone one, as this is quite different from elementwise activations

[2015-11-06 17:55] piiswrong commented on #472
Then we need both softmaxtransform and cudnn softmax transform
On Nov 6, 2015 9:52 AM, "Tianqi Chen" <notifications@github.com> wrote:

[2015-11-06 18:02] tqchen commented on #472
These two can be done in one ops, like currently Convolution

[2015-11-06 18:03] antinucleon commented on #472
Agree to @piiswrong

[2015-11-06 18:18] tqchen commented on #449
I think if you write an adapter to implement the DataIter, things might work out of the box

[2015-11-06 18:25] tqchen commented on #482
Thanks for the suggestion. Most examples are too heavily weighted, to be added to the testcase. But you are right that we need to be more careful about examples when API changes are introduced.

Most API should be stablized and we would expect a few changes in IO to make it more general, hopefully such thing will happen less in the future

[2015-11-06 18:25] #482 closed

[2015-11-06 18:25] tqchen commented on #488
Closing for now, please feel free to re-open, seems to be problem of not installing BLAS

[2015-11-06 18:25] #488 closed

[2015-11-06 18:27] tqchen commented on #479
closing for now as answered in last comment, please feel free to reopen

[2015-11-06 18:27] #479 closed

[2015-11-06 18:27] #494 closed

[2015-11-06 18:27] #491 closed

[2015-11-06 19:35] piiswrong commented on #477
This is a bug due to recent dataiterator interface change.
Will be fixed after https://github.com/dmlc/mxnet/pull/505 is merged

[2015-11-06 22:49] piiswrong opened #507 "Re-organize examples"
We have a lot of good examples but the example folder is kinda getting cluttered.
We can re-organize the folder structure to make it clearer:
+image_classification
+feature_guide
+autoencoder
+rnn
+adversary
+etc

Also, we should make it possible for people to contribute examples, and related pretrained weights, without submitting PR to mxnet. It will be easier for contributors and for us to maint

[2015-11-06 23:22] tqchen commented on #507
+1 for the task based examples.

I think it is fine to do examples as PR, because they are real contributions and we like to give credit our contributors that.

[2015-11-06 23:22] antinucleon commented on #507
+1

[2015-11-06 23:39] piiswrong commented on #507
I think we can have both: an in house example repo, plus an exmaple registry, where people can freely post their work with mxnet

[2015-11-06 23:43] tqchen commented on #507
I like the idea of example registry.

It can either be a README.md(with links to people's repo) or wiki.

[2015-11-06 23:44] piiswrong commented on #507
wiki sounds better. The idea is to minimize the effort it takes to register a work

[2015-11-07 05:14] #477 closed

[2015-11-07 05:34] chenjx1005 opened #508 "how to construct a loss function symbol using python api"
from https://github.com/dmlc/mxnet/blob/master/example/adversary/adversary_generation.ipynb I see how to calculate softmax, gradient in numpy. However, I want a loss function symbol so that i don't need to assign model.backward an out_grads. I try to write code like this but not succeeded:

import mxnet as mx

A = mx.symbol.Variable('A')
B = mx.symbol.Variable('B')
W = mx.symbol.Variable('W')
f =

[2015-11-07 06:09] piiswrong commented on #508
There are two ways:
1. write an operator with cuda kernel under src/operator. You get best performance but need to put in some effort.
2. write an operator in python with numpy like https://github.com/dmlc/mxnet/pull/436. It's fast to develop but may become performance bottleneck

[2015-11-07 08:15] starimpact commented on #424
function is ready to go. please check it.
maybe there is a little code style problem.
:laughing: :smile: :smile_cat: :smiling_imp:

[2015-11-07 11:08] starimpact opened #510 "strange core dumped problem"
Code:
[code]
Error result:
[code]

[2015-11-07 12:29] chenjx1005 commented on #508
thanks for your reply!

[2015-11-07 12:29] #508 closed

[2015-11-07 18:36] futurely commented on #214
Fast and Faster R-CNN's changes to Caffe are all in [this commit](
https://github.com/rbgirshick/caffe-fast-rcnn/commit/4115385deb3b907fcd428ac0ab53b694d741a3c4) and the object detection application is [here](https://github.com/rbgirshick/py-faster-rcnn).
[code]

[2015-11-07 19:02] futurely commented on #507
It's best to have a fine-tuning example https://github.com/dmlc/mxnet/issues/379 in the style of [this doc](http://caffe.berkeleyvision.org/gathered/examples/finetune_flickr_style.html).

[2015-11-07 19:14] futurely commented on #489
Cherrypy is only suitable for very small projects. Flask is a much more powerful and popular light weight web framework. Uber developed its RESTful web service framework [Clay](https://github.com/uber/clay) based on Flask. The [hello world example](http://clayframework.com/) is extremely simple.
[code]

Alibaba's cloud computing service [Aliyun](http://www.aliyun.com/) is offering price-off promot

[2015-11-07 19:39] mli commented on #507
also agree that we can reorg the example by applications. it would be even better if each examples supports tags. for example, for the imagnet inception examples, we can have

[code]

and them build a tag index automatically. so people who are interested on dn technologies can find the examples quickly

[2015-11-07 21:16] piiswrong commented on #507
Search would be good.
The docker registry model looks pretty nice. Is there a solution for building something like that easily?

[2015-11-07 21:35] mli commented on #507
do you mean a docker hub like service to host pre-trained models? probably putting a model in a downloadable place is good enough. if we use docker, we often link the model into docker, rather than make the model into the docker image, which will result in frequent building.

if you mean the tag search, probably a simple grep script will do the trick. we already did that in the dmlc blog, see
http

[2015-11-07 23:50] adder opened #511 "save training/test error during training"
It's not very clear to me how I can save some metrics (eg. accuracy on test/training set) during training. I would like to plot these metrics (training curves) to see how the trainings process evolved. I'm using the R API.

Thanks for this great pacakage!

[2015-11-08 01:01] piiswrong commented on #511
I think a custom metric that saves when update is called is a good way to
go.
Python/mxnet/metric
On Nov 7, 2015 3:50 PM, "adder" <notifications@github.com> wrote:

[2015-11-08 01:16] Kublai-Jing commented on #461
It's in lstm.py

[2015-11-08 01:25] hotpxl commented on #510
I'm not quite sure how the environment is set up. It's possible you are not linked against pthread. Make sure you have `-pthreads` in the compile options.

[2015-11-08 01:30] hotpxl commented on #511
Can you do this directly in R? @hetong007

[2015-11-08 01:50] tqchen commented on #511
You can do that using batch.end.callback, which takes current environment as arguments, and you can create a closure to save things you want

[2015-11-08 02:10] zcyang opened #512 "numpy like matrix operation for ndarray and symbol variable"
mxnet is awesome for implementing some commonly used models like mlp and convnets. To develop some new models requires some efforts.

The current support of numpy like matrix operation for ndarray and symbol variable is very limited. These are important to develop new models that are not supported by the existing layers.

It will be perfect if the matrix indexing, slicing, summation, multiplicatio

[2015-11-08 02:44] tqchen commented on #512
Yes, the idea is to add operations as we need and make it easier to do so.

- Currently, there is a PythonOp that allows you to directly write operator in python.
- More optimized operator can be added from c++ side, using mshadow, with no knowledge of GPU programming.

So either you can quickly hack up what you need using numpy, or add important ops in c++ as we need to add them(open up issues on

[2015-11-08 03:11] zcyang commented on #512
May I ask are there any examples on how to hack with PythonOp for some numpy like operations?

[2015-11-08 03:12] tqchen commented on #512
Yes here it is https://github.com/dmlc/mxnet/tree/master/example/numpy-ops

Please also feel free to open issue for specific Op you want as you encounter problems, we can discuss more in detail on how things can be added :) Most of which should be pretty straight forward

[2015-11-08 03:13] tqchen commented on #512
@piiswrong I think we want to highlight NumpyOp somewhere in the doc(maybe python/index.md), can you open a PR for this?

[2015-11-08 03:16] zcyang commented on #512
many thanks!

[2015-11-08 05:04] starimpact commented on #510
It is not possible, I compiled the mxnet without changing anything.Just used default setting.

[2015-11-08 05:44] piiswrong commented on #512
I think we need to few HOWTO pages and link them in the root README
1) How to create new operators (c++ and numpy)
2) How to write custom training loop

On Sat, Nov 7, 2015 at 7:13 PM, Tianqi Chen <notifications@github.com>
wrote:

[2015-11-08 05:50] piiswrong opened #513 "HOWTO pages for key use cases"
Given the the questions we have been getting, I think it's time we create some succinct  guides for key use cases:
+ How to create new operators (c++ & python & julia & ...)
+ How to create custom training loops

Also, since few people read the hole doc and nobody read FAQ before AQ, we should link them in bold somewhere you can't miss, like in the root README.md

I can write the python operator p

[2015-11-08 05:51] hetong007 commented on #511
I think I can add it in R.

[2015-11-08 05:52] starimpact commented on #424
I come across a problem:
```SwapAxis(..., dim1=2, dim2=3)```can work well on both cpu and gpu.
```SwapAxis(..., dim1=3, dim2=2)```only work well on cpu, but fail on gpu with the following error:
[code]

[2015-11-08 06:10] tqchen commented on #511
@hetong007 Let us add it as a batch.end.callback function

[2015-11-08 06:14] tqchen commented on #513
Let us do it. I think we can put it on python/index.md
here is the current guide for c++ ops https://github.com/dmlc/mxnet/blob/master/doc/developer-guide/operator.md

@piiswrong  would be great if you can push numpy ops

[2015-11-08 16:02] pluskid commented on #513
The Julia side user defined operator is not ready yet due to multi-thread callback issues dmlc/MXNet.jl#16. But I can add the Julia part for the howto once the implementation is ready.

[2015-11-09 02:58] yang1fan2 opened #516 "Concat operator supports concating at dimension zero?"
Hi
I noticed that concat operator only support concating at dimension one currently. For RNN, concating output of LSTMs before Softmax (i.e. concat all the batches from different locations among a sentence) will speed up the training process substantially.
Thanks;

[2015-11-09 04:01] futurely opened #517 "The input/output semantics figure link is missing in the operator document"
https://github.com/dmlc/mxnet/blob/master/doc/developer-guide/operator.md

[2015-11-09 05:59] starimpact opened #520 "Cannot work on GPU"
Work well on cpu, but not gpu.
[code]
Error
[code]

[2015-11-09 06:07] piiswrong commented on #520
you need to allocate the args ndarrays on gpu

[2015-11-09 06:09] tqchen commented on #520
Normally you can use simple_bind, which allocates the arrays for you

[2015-11-09 06:09] starimpact commented on #520
OK, please combine MY PR

[2015-11-09 06:12] tqchen commented on #516
Yes, this can be done by extending the https://github.com/dmlc/mxnet/blob/master/src/operator/channel_op_common.h to add a concat dimension argument.

Note that mshadow's concat and slice support along arbitrary dimension. But we need to add it :)

Are you interested in contributing? Also note although mshadow is templated, we can either enumerate dim with template, or do some reshape trick, to re

[2015-11-09 06:20] #520 closed

[2015-11-09 06:38] starimpact commented on #520
But, how do I send weight matrix by simple_bind?

[2015-11-09 10:32] junranhe opened #521 "Why batch size need to be smaller in NDArrayIter?"
I construct a NdarrayIter for extract the features online, so my data size == batch_size,
and throw a python error:
python/mxnet/io.py", line 175, in __init__
"batch_size need to be smaller than data size when not padding."

[2015-11-09 11:56] sxjscience opened #522 "About assigning value to a tensor"
Thank you for the awesome package! I'm programming using MXNet and have a question about the way we assign value to tensor, e.g. https://github.com/dmlc/mxnet/blob/master/python/mxnet/optimizer.py#L166 Can we directly access the original value without [:] added? I've tried that and find no problem. But https://github.com/dmlc/mxnet/blob/master/doc/tutorial/new_op_howto.md points out that adding [:

[2015-11-09 14:39] lizequn opened #523 "Problem with using the LinearRegressionOutput layer"
I defined a simple NN like this
[code]
and get the error as following
[code]
*softmax_label not found*
Is that means I must use Softmax as the ouput layer? Or I miss something?

Thx

[2015-11-09 14:51] pluskid opened #524 "Singleton dimension get dropped during shape inference"
It seems if the final output is of dimension 1, (i.e. shape `(N,1)` with mini-batch size `N`), the singleton dimension is dropped. This might be reasonable for single dimension softmax output. But this special treatment makes the rest of the story (e.g. multi-output softmax and especially regression) less consistent and could confuse people a lot especially when the error message about dimension i

[2015-11-09 14:55] yang1fan2 commented on #516
Sure, I'll try
Thanks;

[2015-11-09 14:55] pluskid commented on #523
The name of your label in dataiter should match that required by your linear regression output layer (by default it is 'out_label' in this case). The default name for labels in the data provider is `softmax_label` just for backward compatibility. You should be able to change the name when you construct the dataiter.

Another option is to create a `Variable` (just like `data`) and specify a name. F

[2015-11-09 15:12] lizequn commented on #523
thanks, I didn't notice the lable name.

And I found an example in R which don't need this label name, so I just follow this to write my Python demo.

http://mxnet.readthedocs.org/en/latest/R-package/fiveMinutesNeuralNetwork.html#regression
[code]

[2015-11-09 15:14] pluskid commented on #523
Yes, we recently changed the API on Python side in order to support multiple input and output variables properly. The R side is still the old API that guess the label name based on a "_label" postfix.

[2015-11-09 17:42] #523 closed

[2015-11-09 19:51] pluskid commented on #521
It seems to be a bug that was fixed before and then overwritten in a recent complicated merging.

[2015-11-09 19:52] tqchen commented on #521
i.c. maybe open a quick fix for this?

[2015-11-09 19:55] #521 closed

[2015-11-09 21:32] piiswrong commented on #524
responding to side note, I think I pushed a patch to make it support vector output

[2015-11-09 21:35] piiswrong commented on #522
with out [:] you are allocating a new ndarray (or numpy.ndarray) to store the results. This will hurt performance and sometimes correctness.
I would keep the [:] unless I really want to allocate a new array

[2015-11-09 21:41] tqchen commented on #522
Without [:], actually what was happened was the old ndarray is discard, and the variable now stores an float value in python. So the correctness of code depend on how you use it

[2015-11-10 01:09] sxjscience commented on #522
Thank you very much @piiswrong @tqchen ! I've figured out the difference now.

[2015-11-10 01:09] #522 closed

[2015-11-10 03:54] lsvigorous commented on #498
is windows version of multi-machine supported now ?

[2015-11-10 04:01] antinucleon commented on #498
Yes,

On Mon, Nov 9, 2015 at 7:54 PM lsvigorous <notifications@github.com> wrote:

[2015-11-10 06:16] #287 closed

[2015-11-10 06:17] #328 closed

[2015-11-10 06:44] maxpy opened #528 "got memory error"
Here is my code:

num_gpus = 1
gpus = [mx.gpu(i) for i in range(num_gpus)]
symbol, arg ,aux = mx.model.load_checkpoint('vgg', 1)

internals = symbol.get_internals()
fea_symbol = internals["drop7_output"]
feature_extractor = mx.model.FeedForward(ctx=gpus, symbol=fea_symbol,
                                         arg_params=arg,
                                         aux_params=aux,

[2015-11-10 07:50] piiswrong commented on #528
2G is not enough for running vgg.
Try reduce batch_size to 1 and increment gradually

[2015-11-10 07:51] winstywang commented on #528
You may need to change the parameter here: https://github.com/dmlc/mxnet/blob/master/src/operator/convolution-inl.h#L52

[2015-11-10 08:09] tornadomeet opened #529 "When create one symbol, how to set multi-input data?"
Hello~
  In some scenarios, one layer(the middle layer, not the input data layer) needs more than one input layer, and these inputs don't have the same formula mode, just like in caffe (one layer may have more bottom layers) , so how to set this multi-input data when buliding one layer in Symbolic?
assume that i have written a NewLayer in python side refer to [new_op_howto](http://mxnet.readthedoc

[2015-11-10 08:23] unityunreal opened #530 "build error:threadediter.h:326:37: error: no matching function for call to ‘std::condition_variable::notify_all() const’"
After execute  `make` on terminal, such error happens:

[code]

Any suggestions of how to solve this? Thanks!

[2015-11-10 08:34] unityunreal commented on #530
Perhaps my `gcc` versions causes? my gcc version is `gcc version 4.8.0 (GCC) `

[2015-11-10 08:44] winstywang commented on #529
Check the implementation of Concat Op.

[2015-11-10 08:49] tornadomeet commented on #529
@winstywang , the inputs don't have the same formula mode, so we cannot concat it. I'm writing the crop layer in python, just as(but not the same ) https://github.com/BVLC/caffe/pull/1639,

[2015-11-10 08:59] piiswrong commented on #529
Just declare any input and weights in list_arguments ['input_1', 'input_2',...]
and when creating the symbol
new_layer = NewLayer()
new_layer(input_1=x1, input_2=x2...)

[2015-11-10 08:59] tornadomeet commented on #529
@winstywang , Yeah, i got it, when more inputs, just as concat = mx.symbol.Concat(*[conv, pool])
thanks a lot!

[2015-11-10 09:04] tornadomeet commented on #529
@piiswrong , thanks, i do it according to the your method, it works!
maybe you can consider put this guide to [new_op_howto](http://mxnet.readthedocs.org/en/latest/tutorial/new_op_howto.html)~

[2015-11-10 15:30] matthill opened #531 "C++ example using predict API from image"
The new amalgamation C++ code is really cool.  I'm planning on switching away from Caffe which is an absolute pain to deploy with its million dependencies.  I'm having trouble putting together a simple example that reads an image (e.g,. jpg) and performs a feedforward to classify the results.  I'm sure it's simple to do, but it doesn't seem obvious to me.  A simple example program to go along with

[2015-11-10 16:03] tmfs10 opened #532 "Build error because of protobuf"
I'm trying to build MXnet on CentOS 6.5. First I got the error that meta_message.pb.h and node.pb.h in ps-lite/include/ps/internal were generated by a newer version of protoc than the one on my server. Then when I installed the latest version from https://github.com/google/protobuf, I got the message that they were generated by an older version.

Which version do I need?

[2015-11-10 17:00] tqchen commented on #531
Thanks for the suggestion. We do not yet have a C++ example so far(which is a bit shame as the main program is in c++), but you can find examples in
- Go https://github.com/jdeng/gomxnet
- python https://github.com/dmlc/mxnet/blob/master/predict/python/mxnet_predict.py and https://github.com/dmlc/mxnet/blob/master/tests/python/predict/mxnet_predict_example.py
- Java https://github.com/dmlc/mxnet/p

[2015-11-10 20:02] mli commented on #532
please have a pull: git pull && git submodule update

the problem should be solved

[2015-11-11 01:22] tqchen opened #533 "[YARN] MXNet on YARN Example"
Now everything is ready for distributed training, and we have an [AWS example](http://mxnet.readthedocs.org/en/latest/aws.html) here for a ssh based distributed training on bare mental.

However, more cluster scheduler compatible way of job submission can naturally be supported, as DMLC comes with the [trackers](https://github.com/dmlc/dmlc-core/tree/master/tracker) for all platforms including YAR

[2015-11-11 01:25] tqchen commented on #498
https://mxnet.readthedocs.org/en/latest/distributed_training.html

[2015-11-11 01:25] #498 closed

[2015-11-11 01:26] tqchen commented on #255
Here is the example, https://mxnet.readthedocs.org/en/latest/distributed_training.html

we are also actively look for contributors to try and improve it #533

[2015-11-11 01:26] #255 closed

[2015-11-11 01:33] winstywang commented on #530
A similar issue is reported in previous project with GCC 4.8.0: https://github.com/dmlc/cxxnet/issues/221 Could you please try to upgrade it? At least 4.8.4 is good to go.

[2015-11-11 02:23] daleloogn commented on #533
exciting works

[2015-11-11 04:04] starimpact opened #535 "Donnot know what mx.nd.onehot_encode is to do"
in lstm.py file,
[code]
why not to use:
[code]

[2015-11-11 04:05] tqchen commented on #535
it was due to the fact that the seq_data was on GPU and it is hard to support such advanced indexing.

[2015-11-11 04:14] starimpact commented on #535
but why it can use:
[code]

[2015-11-11 04:21] tqchen commented on #535
oh, i get what you mean, the input was different. For one-hot, it need to do a one hot encoding, to take the y-th place to be 1, and rest to be 0

[2015-11-11 04:33] starimpact commented on #535
I cannot find where is ```y-th```

[2015-11-11 04:36] tqchen commented on #535
```mx.nd.array(x, ctx=m.seq_data[seqidx].context)```

[2015-11-11 04:40] starimpact commented on #535
ok, I need more research.

[2015-11-11 04:40] starimpact commented on #535
thank you very much:smile:

[2015-11-11 05:57] starimpact opened #538 "Is there any document about mx.optimizer?"
I cannot find the description document about ```mx.optimizer```.
Help me:question:

[2015-11-11 08:03] maxpy commented on #528
Thank you all.
I solve the problem by add numpy_batch_size=1,  param :

    netPredict = mx.model.FeedForward(ctx=gpus, symbol=fea_symbol,
            numpy_batch_size=1,arg_params=arg,aux_params=aux, allow_extra_params=True)

[2015-11-11 08:11] #528 closed

[2015-11-11 08:58] starimpact opened #539 "Can NumpySoftmax(mx.operator.NumpyOp) run on GPU?"
Can ```NumpySoftmax(mx.operator.NumpyOp)``` run on GPU?

[2015-11-11 09:14] tornadomeet commented on #538
please refer the doc [module-mxnet.optimizer](https://mxnet.readthedocs.org/en/latest/python/model.html?highlight=optimizer#module-mxnet.optimizer)

[2015-11-11 09:37] wangg12 opened #540 "How to use adaptive learning rate to train models?"
I found `lr_scheduler`, but I could't find any scheduler. I wonder what kind of scheduler I can use in mxnet? For example, if I need to train a model by decaying the learning rate of SGD every few epoches, how could I make it?

[2015-11-11 12:21] lsvigorous commented on #494
@xmuhcd, do you successfully enable USE_DIST_KVSTORE on windows ? I met several error due to the dependency in ps-lite, basically protobuf, gflags, glog.
@tqchen, do we have a doc on the ps-lite also ?

Thanks.

[2015-11-11 14:41] tzutalin opened #542 "Inception model on Android"
Hi,
  I am also working on deep learning on mobile device. , I implemented Caffe, FastRCNN, and FasterRCNN to Android platform. But I would like to remove some layers in different models to speed up and reduce memory usage. May I know which layers you remove? What's your inception model? What's the accuracy? Thanks
https://github.com/tzutalin/Android-Object-Detection

[2015-11-11 14:44] thirdwing commented on #465
@pommedeterresautee Sorry for the late reply.

Actually I prefer a new parameter, maybe you can send a PR.

[2015-11-11 15:55] antinucleon commented on #542
In my thesis there is a tutorial of make a 0.4 time complexity compared to
AlexNet, and performance is same to ZF (83% in top 5). But as it is still
private now, you may find Kaiming He's paper in constrain complexity
helpful.
On Wed, Nov 11, 2015 at 06:41 darrenl <notifications@github.com> wrote:

[2015-11-11 16:25] jermainewang commented on #540
Hi,

Currently, we only have normal [SGD optimizer](https://github.com/dmlc/mxnet/blob/master/python/mxnet/optimizer.py#L86). One way to have decaying learning rate is to implement a new Optimizer like adagrad or adam. Would you like to have a try?

Another way to walkaround this is to use the `callback` interface in `model.fit`. Please see [`callback.py`](https://github.com/dmlc/mxnet/blob/master

[2015-11-11 16:32] jermainewang commented on #539
Hi,

The `NumpySoftmax` is implemented using `numpy` operators, so it could only run on CPU. To use a GPU version softmax, you could use `mx.symbol.SoftmaxOutput` to create a symbol and follow the the symbolic execution to run your code. You may want to look at the document [here](https://mxnet.readthedocs.org/en/latest/python/symbol.html#symbol-creation-api-reference).

Best,
Minjie

[2015-11-11 16:36] antinucleon commented on #540
Mingjie, in misc I implemented lr schedule
On Wed, Nov 11, 2015 at 08:25 Minjie Wang <notifications@github.com> wrote:

[2015-11-11 16:36] pommedeterresautee commented on #465
no pb.
I am traveling right now but will try to do it next weel.

Kind regards,
Michael

[2015-11-11 16:37] jermainewang commented on #517
Hi,

Thank you for your input! We will complete the missing link as soon as possible.

Best,
Minjie

[2015-11-11 16:38] xmuhcd commented on #494
@Isvigorous, I didn't notice that symbol, just use all default setting. So I'm not sure about that.

Best regards

[2015-11-11 17:13] tqchen commented on #542
@tzutalin this might also be helpful mxnet.readthedocs.org/en/latest/developer-guide/note_memory.html As the arch was used to reduce memory usage

[2015-11-11 18:53] zachmayer commented on #185
Has "distributed parameter sever support" been added yet?

[2015-11-11 18:54] antinucleon commented on #185
Yes. Here is the doc:
https://mxnet.readthedocs.org/en/latest/distributed_training.html

On Wed, Nov 11, 2015 at 10:53 AM Zach Mayer <notifications@github.com>
wrote:

[2015-11-11 20:08] zachmayer opened #544 "R regression example does not work"
In a fresh R session:
[code]

Yields:
[code]

Their is either a bug in the code or with my installation.  The sonar classification example and MNIST examples work fine.  I followed the install guide here:
https://medium.com/@lelayf/installing-mxnet-for-r-on-yosemite-291470055980

[code]

[2015-11-11 20:10] zachmayer commented on #544
This also fails:
[code]
[code]

[2015-11-11 21:15] sxjscience opened #545 "Multiple data inputs for an operation"
I'm trying to build a loss function that contains multiple data inputs, e.g, loss = in_data[0] * in_data[1] - out_data[0]. I find the only operation in MXNet  that support multiple data inputs is `mx.symbol.Concat`. But in this situation, I may need to take a list of symbols as data inputs. For example, I may need this kind of Op:

      loss= NewLossOP(data=[sym1, sym2], name='NewLoss')

Can I ac

[2015-11-11 21:17] tqchen commented on #545
You can take multiple data input, for example, checkout, fullyconnected.

[2015-11-11 21:17] apark263 commented on #492
so for the graph showing training evolution here:

https://mxnet.readthedocs.org/en/latest/tutorial/imagenet_full.html

are you just checkpointing and then manually changing your learning rate at each transition point?

[2015-11-11 21:30] kaishijeng commented on #214
Any chance to add layers which are required by faster-rcnn in near future?

[2015-11-11 21:34] jermainewang commented on #540
I see, like @antinucleon said, you could directly used code in [misc.py](https://github.com/dmlc/mxnet/blob/master/python/mxnet/misc.py).

[2015-11-11 21:34] loretoparisi opened #546 "Amalgamation for iOS"
Is possibile to add amalgamation for iOS?

[2015-11-11 21:37] sxjscience commented on #545
@tqchen I haven't stated the question clearly. Actually, I'm trying to use `mx.operator.NumpyOp` for a quick hack of the loss layer, but I fail to add other arguments besides 'data' and 'label'. Does the NumpyOp support such usage? Coding an Op in C++ may be an overkill for my problem.

[2015-11-11 21:40] antinucleon commented on #546
Yes, but as currently no one in dmlc is major in mobile development, we
would like volunteers help us to contribute a simple demo, and we can
provide kinds of supports.

On Wed, Nov 11, 2015 at 1:34 PM Loreto Parisi <notifications@github.com>
wrote:

[2015-11-11 21:45] XericZephyr opened #547 "[Discussion] Implement LSTM training utilizing High level API (mx.model.FeedForward)"
I am considering a new example of LSTM using the high level API, which can easily benefit from the distributed training. However, the LSTM model and the optimization technique might require a more general model programming prototype, part of my suggestions are:

1. Adding `epoch_start_callback` and `batch_start_callback`. This might help us to transfer the previous LSTM cell states to the LSTM cel

[2015-11-11 22:50] tqchen commented on #545
I think it should support your usage, as long as you add them in list_arguments @piiswrong

[2015-11-11 22:51] loretoparisi commented on #546
I see, could you explain the approach, given the assumption all of us have read the amalgamation stuff in https://mxnet.readthedocs.org/en/latest/tutorial/smart_device.html and that can edit/read a Make file?
This could be a starting point then!

[2015-11-11 22:55] tqchen commented on #546
Here is an outline how it can be done, because there is no additional dependency besides blas, it should be quite identical to what was given

- [ ] Use the amalgamation script https://github.com/dmlc/mxnet/tree/master/amalgamation to create a C library
- [ ] Find a blas library in IOS, openblas or other blas, to link and create a C library ```libmxnet_predict.so```
- [ ] Create a swift/object-c w

[2015-11-11 23:49] piiswrong commented on #547
I wrote a model base class and a solver base class for autoencoder training under example/autoencoder/model.py & example/autoencoder/solver.py
You can have a look.
It also supports printing internal activation for debugging

[2015-11-12 00:11] thirdwing commented on #544
Hi, @zachmayer
:+1:  for the reproducible case and traceback info.

I have confirmed the bug in https://github.com/dmlc/mxnet/blob/master/R-package/R/model.R#L150-L154

I will fix this soon.

[2015-11-12 00:21] tqchen commented on #544
Could due to shape convention requirement in the regression output operator not match the shape of label in the arrayIter

[2015-11-12 00:39] tornadomeet commented on #545
@sxjscience you can prefer to #529

[2015-11-12 01:31] starimpact commented on #538
thank you

[2015-11-12 02:00] tzutalin commented on #542
@tqchen
Thanks. I will take a detailed look at the website.

@antinucleon,
Hope you can release your model someday.

[2015-11-12 02:02] unityunreal commented on #530
Yes, I upgrade gcc version and this message disappear, perhaps the minimum version of gcc of the requirement to build `mxnet` should be updated on the doc site.

[2015-11-12 02:24] antinucleon commented on #542
You may use this model for now;
https://github.com/Leliana/WhatsThis/tree/master/app/src/main/res/raw

and we will release it later
On Wed, Nov 11, 2015 at 18:00 darrenl <notifications@github.com> wrote:

[2015-11-12 02:35] sxjscience commented on #545
Thank you very much @tqchen and @tornadomeet. In fact, I find I cannot run the `numpy_softmax.py` example after updating mxnet to the latest version. It reports the following error:

    File "example\\numpy-ops\\numpy_softmax.py", line 48, in <module>
    mlp = mysoftmax(data=fc3, name = 'softmax')
    File "C:\Users\sxjscience\AppData\Roaming\Python\Python27\site-packages\mxnet-0.5.0-py2.7.egg\m

[2015-11-12 02:38] winstywang commented on #530
Happy to hear that. Thanks for the advice.

[2015-11-12 02:38] #530 closed

[2015-11-12 03:26] thirdwing commented on #544
Not enough time today. The error is https://github.com/dmlc/mxnet/blob/master/R-package/src/executor.cc#L40-L41

The dimension is not the same.

[2015-11-12 04:51] piiswrong commented on #545
did you rebuild mxnet? It's fine for me.

[2015-11-12 05:36] yang1fan2 opened #552 "If a output of a static graph doesn't connect to a loss function or BlockGrad, what will happen?"
Can I construct a static graph like this?
During backward process, will the error, which is propagated in this particular output, be zero?

Thanks;

[2015-11-12 05:47] wangg12 commented on #540
Well, I see. And I want to know that whether mxnet will provide adadelta, adam, adagrad or other optimizing methods and more flexible learning rate schedulers?

[2015-11-12 06:10] sxjscience commented on #545
@piiswrong I've found the problem. The bug is caused by https://github.com/dmlc/mxnet/blob/master/python/mxnet/operator.py#L202. Using `hex` for 16-bit string conversion will cause the [Trailing L Problem](http://stackoverflow.com/questions/5917203/python-trailing-l-problem) for 64-bit value. I've revised the code to

    cb_ptr = format(cast(pointer(self.info_), c_void_p).value, 'x')

and it work

[2015-11-12 06:37] canchen257 opened #553 "'Undefined Symbol: sdot_ ' error when running the mnist example"
Hi, I have successfully build mxnet and install python package, but when I try to run the mnist example
![4](https://cloud.githubusercontent.com/assets/7553233/11112177/7ea4e05e-894b-11e5-9acc-61e907172709.jpg)

I got the error as below:
![2](https://cloud.githubusercontent.com/assets/7553233/11111971/4d19fe2c-8949-11e5-9c8c-c2bd977fd712.jpg)

My environment is Ubuntu 14.04 and I have installed th

[2015-11-12 06:38] piiswrong commented on #545
Thanks for the fix. Are you sure scanf("%p", &p) doesn't need the 0x in front? Could you open a PR for this?

[2015-11-12 07:02] vchuravy commented on #545
`scanf("%p", &p)` will need the `0x` in front.

In Julia I have to do `pstring = bytestring("0x", hex(reinterpret(UInt, pointer_from_objref(info))))` to get the correct value.

[2015-11-12 07:04] vchuravy commented on #553
since you have `libcblas` and `libblas` you probablk have a netblas installed so you should set `USE_BLAS = atlas`. And then do `make clean && make` what error do you then get?

[2015-11-12 07:07] starimpact opened #554 "The problem of implementing Faster R-CNN"
Hi,
I found it's difficult directly to implement Faster R-CNN.
I think I must write two new kind of operators to handle the classification and regression problems.
Do I need to write them?

[2015-11-12 07:10] winstywang commented on #554
I think currently the blocking one is ROI pooling. If you could do it, and contribute a PR, that is the best.

[2015-11-12 07:11] starimpact commented on #554
The proposal progress is also needed to implement by writing two new operators, isn't?

[2015-11-12 07:15] sxjscience commented on #545
@piiswrong @vchuravy I've made the pr and I'm not sure about the `scanf("%p", &p)` issue.

[2015-11-12 07:18] winstywang commented on #554
Yes, we definitely need them. However, they are relatively easier compare to ROI pooling,

[2015-11-12 07:20] starimpact commented on #554
I think ROI pooling is easier, because it gradient-free.

[2015-11-12 07:23] winstywang commented on #554
No, you need to back prop it as indicated in Fast RCNN paper.

[2015-11-12 07:24] winstywang commented on #554
Anyway, we need to implement them all before we can get it. You contribution is always welcomed :)

[2015-11-12 07:27] starimpact commented on #554
ROI pooling is actually the max pooling, definitely gradient-free(sure need backprop).
I think you didn't get my idea.:smile:

[2015-11-12 08:07] starimpact opened #556 "I think we need a instant messenger"
we need a im to do better communication.

[2015-11-12 08:24] caffeTao opened #557 "how to implement shared convolutional kernel by n input feature maps"
Hi,i wanna use n filters sharing one convolutional kernel to filter n input feature map and output n feature map，i notice though feature maps are sliced, there will be n kernels,too. so how can we add an flag for sharing kernel?Looking forward to your instruction.thx.

[2015-11-12 08:38] canchen257 commented on #553
@vchuravy After make clean in the mxnet root file, It seems the situation becomes worse. I meet some problems I have never met before. Now I could NOT make -j4.
![5](https://cloud.githubusercontent.com/assets/7553233/11113934/a6ab2134-895b-11e5-9266-a55ae06d70d7.jpg)

[2015-11-12 08:42] vchuravy commented on #553
Could you try installing `libblas-dev` with `apt-get`? It seems you are missing the correct header files.

[2015-11-12 08:44] vchuravy commented on #556
I would be in favor of having an IRC channel

[2015-11-12 09:01] canchen257 commented on #553
@vchuravy after I use the sudo apt-get libblas-dev， I still meet the problem below:
![6](https://cloud.githubusercontent.com/assets/7553233/11114337/faf50d06-895e-11e5-82ff-6c3fa4525be6.jpg)
I wonder why this would happen?

[2015-11-12 09:10] canchen257 commented on #553
@vchuravy  Well, when I change USE_BLAS = blas， I can build the library successully. However, when I run the mnist example, I still meet the problem in the beginning : undefined symbol:sdot_.

[2015-11-12 10:24] #463 closed

[2015-11-12 11:11] yajiedesign commented on #494
@lsvigorous i am send pr fix promble https://github.com/dmlc/ps-lite/pull/25

[2015-11-12 15:10] starimpact opened #558 "More Complicated Labels"
how can i pass the bounding boxes info into an operator

[2015-11-12 15:55] zachmayer commented on #544
Thanks for getting on this so fast!

[2015-11-12 16:00] zachmayer commented on #546
I think iOS has Apple's BLAS library: [vecLib](https://developer.apple.com/library/prerelease/ios/documentation/Performance/Conceptual/vecLib/index.html)

[2015-11-12 16:34] loretoparisi commented on #546
@zachmayer Yes I confirm that Accelerate it's a good numerical and vectorial library, I have used in several Audio visualization and real time waveform and stream manipulation projects.
@tqchen Give ```Accelerate framework```, could you define the steps to link and create a C library libmxnet_predict.so? Sorry, that is not clear to me already.

[2015-11-12 17:01] tqchen commented on #546
Just modify Makefile and  ```type make```

[2015-11-12 17:03] tqchen commented on #546
To be more specific,  change lines here to adapt link to accelerate lib. We already used the same BLAS interface, so there is no code you have to change in mxnet

[2015-11-12 17:03] tqchen commented on #544
Should be fixed by #550

[2015-11-12 17:15] zachmayer commented on #544
I'll rebuild and check!

[2015-11-12 17:22] zachmayer commented on #556
How about gitter?  e.g. https://gitter.im/dmlc/mxnet

[2015-11-12 17:43] pluskid commented on #556
Does gitter allow you to search (all) the chat history?

I'm not objecting other kinds of communication channels, but what is the downside of just using github issues?

[2015-11-12 17:48] zachmayer commented on #544
I still get the same issue, even after re-pulling the repo, building the R package, and running `R CMD INSTALL mxnet_0.5.tar.gz`.  Looking at your PR, you changed some python code and some C++ code. I think you may also need to update the R code and the Rcpp code:
https://github.com/dmlc/mxnet/blob/master/R-package/R/model.R#L150-L154
https://github.com/dmlc/mxnet/blob/master/R-package/src/executo

[2015-11-12 17:49] zachmayer commented on #556
I think it does let you search all history.  I think the goal of something like gitter is to allow people to ask random question that might not be appropriate for issues, and let developers coordinate.  It's very similar to IRC.  Lots of github repos seem to be using gitter, so I made the suggestion.

[2015-11-12 19:13] piiswrong commented on #558
it's just a vector of 4 numbers

[2015-11-12 19:18] piiswrong commented on #557
I'm not sure if I understand but if the kernel is shared wouldn't the n outputs be identical?

[2015-11-12 20:52] piiswrong commented on #554
https://github.com/rbgirshick/py-faster-rcnn/tree/master/lib/roi_data_layer
Here is a python fast rnn implementation from Ross. Maybe we can copy some layers

[2015-11-12 22:20] terrychenism opened #559 "How to merge multiple data binary files?"
I use mxnet data loading API with nsplit=4 command, how to merge 4 part togethor? Or can mxnet support multiple data binary files?  Thanks a lot!

[2015-11-12 22:25] tqchen commented on #559
Yes, set path to be the folder containing the 4 files

[2015-11-12 22:28] terrychenism commented on #559
Thanks a lot, Tianqi !

[2015-11-12 22:28] #559 closed

[2015-11-12 22:40] starimpact commented on #558
the original label part of  input data is just one dimension. how can i make it be 4 dimensions.

[2015-11-12 23:22] thirdwing commented on #544
Hi,@zachmayer

Just come back from the exam and fix this (see #560 ). Actually it is a very simple problem. We met an inconsistency of dimensions between R and the backend.

Now you should have something like below:

[code]

Just let us know if you met new problems.

[2015-11-12 23:49] XericZephyr opened #561 "[Discussion] Uneven load for different GPU device?"
The current set up for mxnet is assuming Multiple GPUs have same or similar capacity. So the data parallelism is done evenly for every GPU.

Now let's consider, what if we have three GPUs, e.g. one 980 with 3GB memory and two Titan X with 12 GB memory?

Seems we have two options:

1. The batch size should be set to fit the 980 device, which wastes the power of the two Titan X.
2. Or we ignore the

[2015-11-13 00:10] mli commented on #561
you can change the split function:

https://github.com/dmlc/mxnet/blob/master/python/mxnet/model.py#L80

it currently changes the batch equally. you can changes into according to the gpu memory, but i guess according the gpu flops is better.

[2015-11-13 00:12] starimpact commented on #558
use infershape？

[2015-11-13 00:15] XericZephyr commented on #561
@mli  Thanks! I am aware of the code. However, only modifying this part is not general enough. I will try to open a PR shortly to solve this issue. Thanks.

[2015-11-13 00:19] winstywang commented on #556
Gitter is good for some quick questions.

[2015-11-13 00:29] caffeTao commented on #557
not really, one input feature map a time, and for n input feature map there will be n output, but the kernel is the same, that's what i wanna do

[2015-11-13 00:51] vchuravy commented on #556
I just found irc.gitter.im which allows you to connect via a traditional irc client to gitter so I am fine with that too.

[2015-11-13 01:03] piiswrong commented on #557
that's a batch of n images right? Just make n the batchsize

[2015-11-13 01:09] starimpact commented on #556
likely most of you guys like gitter, so ask the Tianqi Chen to create one.
OK?

[2015-11-13 01:16] huazehuang opened #562 "'cufftResult_t' error when predicting a large image using fcn"
Hi

I tried to predict a large image using fully convolutional network, mxnet terminated and gave me an error message as " **terminate called after throwing an instance of 'cufftResult_t'** "

The fcn implementation I used is from https://github.com/tornadomeet/mxnet/tree/fcn-xs/example/fcn-xs

I think this is somewhat relates to a memory issue. I used a Titanx. In my machine, when the long edge o

[2015-11-13 01:22] thirdwing commented on #544
I am afraid I broke something else.

[2015-11-13 01:27] lsvigorous commented on #494
@yajiedesign, I met no problem with USE_DIST_KVSTORE disabled, will try your solution.

[2015-11-13 01:35] tornadomeet commented on #562
currently the [fcn-xs example](https://github.com/tornadomeet/mxnet/tree/fcn-xs/example/fcn-xs) there is not Not completely ready, it only change the vgg16 model to fully-convolution-network style, so when u predict one image use the vgg16fc model, you should also resize it to (224,224) first;

[2015-11-13 01:39] huazehuang commented on #562
@tornadomeet I think is not because the example itself. I also have my own version of fcn. It produces the same problem. Nevertheless both version are able to to work on a smaller image (less than 505).

[2015-11-13 02:47] caffeTao commented on #557
sorry, my English is poor that makes you misunderstand. Not the batch,it's the channel that n represent, the operation is just like pooling, one featur map corresponds to one same kernel，the output n feature map. Maybe convolution is not designed to handle operation of this type. So i wonder how to implement it.

[2015-11-13 03:25] tornadomeet commented on #562
@huazehuang , thanks for report this bug. i just test large image, i think the problem is that the defalut  workspace for convolution is too small when u using very large image, so i update the [fcn-xs example](https://github.com/tornadomeet/mxnet/tree/fcn-xs/example/fcn-xs), u can change workspace_default's value depenod on your image size;
now the big image predict here is ok.

[2015-11-13 03:40] tqchen commented on #556
gitter added.

[2015-11-13 03:40] #556 closed

[2015-11-13 03:49] huazehuang commented on #562
@tornadomeet Thanks for updating your code.

The problem still exists. I have tried many large workspace size, but it didn't help.

Did you try on GPU? In my case, increase workspace size can help to make it work on CPU, but not GPU.

Another strange thing is in [InitTemp function](https://github.com/dmlc/mxnet/blob/68a25b2c4e5e26c12045d433fece8c6e4d9c9d2d/src/operator/convolution-inl.h#L252), it

[2015-11-13 03:57] #544 closed

[2015-11-13 04:13] tornadomeet commented on #562
I test it on both GPU and CPU, also passed. can you give your test code.
for the InitTemp funciton, i also found it is broken when the input image is too large. though it checked, it seems that when should configure the workspace when we construct the convulution symbol.

[2015-11-13 04:43] huazehuang commented on #562
The code is here [test example](https://github.com/huazehuang/mxnet/blob/fcn-xs/example/fcn-xs/test.py)

Thanks!

[2015-11-13 04:43] #545 closed

[2015-11-13 06:28] huazehuang commented on #562
I resolve this issue by disabling the cudnn and recompiling mxnet. Thanks for helping!

[2015-11-13 06:28] #562 closed

[2015-11-13 06:35] yang1fan2 opened #568 "grad_req from symbol.bind doesn't work in lstm?"
Hi
      For the current lstm.py code, if I change grad_req in rnn_sym.bind from "add" to "write". It will produce the same perplexity curve as the one with "add".
      Moreover, I am rewriting the RNN components in mxnet and using similar design from TensorFlow. But I met some problems. I am pretty sure that the grad_req in my rewriting version is "write". Because under my experiments, the resul

[2015-11-13 06:37] tqchen commented on #568
add and write should be the same if we update every batch, because the gradient is always accumulated before write to the gradient holder.

The only difference was when doing update every two batches for example, then reset every two batch and with add will work differently than write

[2015-11-13 06:39] pluskid commented on #568
+1, if you check out the parameter in the IPython notebook, it says
[code]
so add and write are the same here.

[2015-11-13 08:06] xylcbd opened #570 ""ImportError: cannot import name libinfo" python import error on windows"
platform : windows

1,build with vs2015 success;
2,python setup.py build && python setup.py install;
3,python$: import mxnet

then error accured:
<code>
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "mxnet\__init__.py", line 7, in <module>
    from .base import MXNetError
  File "mxnet\base.py", line 10, in <module>
    from . import libinfo
ImportError: cannot im

[2015-11-13 08:15] starimpact opened #571 "Improve the doc of mx.operator.NumpyOp"
such as:
1. name ends with 'label' will not be allocated memory.
2. could pass some constant parameters by using __init__(self, param1, param2...) function.
3. the number of in_data is depended on the number of return values of function list_arguments.

I must guess and try to write myself operator with NumpyOp. :disappointed:

[2015-11-13 08:57] starimpact commented on #571
1. name ends with 'label' will not be allocated memory for gradient.

[2015-11-13 12:02] yang1fan2 commented on #568
That's really helpful
Thanks;

[2015-11-13 16:11] pluskid commented on #547
There is [an implementation of char-rnn LSTM](https://github.com/dmlc/MXNet.jl/tree/master/examples/char-lstm) in the Julia binding using the high-level API `FeedForward`. The trick is:

To provide explicitly the init states from the data provider, so that shape inference becomes possible. Because we are dealing with fixed length sequence and explicit unrolling, those init states are just constant

[2015-11-13 16:13] pluskid commented on #547
But I agree that to support more general RNN with variable sequence length and avoid explicit unrolling, we might need to extend the current shape inference mechanism to support *Self-connecting-node* or *Delayed-node*, so that the shape could be automatically inferred. Of course, we will need a new model other than `FeedForward` for more general time-sequence models.

[2015-11-13 16:28] pluskid commented on #270
It is already possible with the current `FeedForward` model. Just group your multiple loss into one symbol should work. Feel free to re-open the issue if there is any further problem.

[2015-11-13 16:28] #270 closed

[2015-11-13 16:30] pluskid commented on #267
Attributes is still interesting but the priority should be pretty low. I'm closing this issue for now as currently `simple_bind` already works with arbitrary naming convention as long as the data names and shapes from the data iter are accurate.

[2015-11-13 16:30] #267 closed

[2015-11-13 16:33] pluskid commented on #344
`BlockGrad` is already in master. Though I feel it a bit hacky way to do this as in order to block gradient, one need to change the network architecture by inserting that block-gradient operator into the layers.

[2015-11-13 16:35] pluskid commented on #381
Multiple loss is already supported in the current `FeedForward` with the updated data iter API. Setting weights should also be possible by simply tweaking the `rescale_grad` parameter for each loss symbol.

[2015-11-13 16:36] #384 closed

[2015-11-13 16:38] pluskid commented on #394
Yes, some variant of `FullyConnected` as `Embedding` that takes directly one-hot index would be better. Something like [this](http://lasagne.readthedocs.org/en/latest/modules/layers/embedding.html) for example.

[2015-11-13 16:38] pluskid commented on #398
I'm closing this due to inactivity. Feel free to re-open if needed.

[2015-11-13 16:38] #398 closed

[2015-11-13 16:59] Yunrui commented on #488
Met exactly the same issue in EI Capitan.

I installed openblas thru brew, and changed USE_BLAS = openblas. Also tried the following, but no luck. Any way to troubleshoot?

export LIBRARY_PATH=/usr/local/Cellar/openblas/0.2.15/include/

[2015-11-13 17:08] #416 closed

[2015-11-13 17:09] pluskid commented on #473
Closing since PR already merged.

[2015-11-13 17:09] #473 closed

[2015-11-13 17:10] pluskid commented on #496
Feel free to re-open if the issue is still not resolved.

[2015-11-13 17:10] #496 closed

[2015-11-13 17:12] #535 closed

[2015-11-13 17:14] pluskid commented on #552
+1 for this question. We should document this clearly. Will an error be raised? Or will just arbitrary garbage gradient be back-propagated leading to undefined behavior?

[2015-11-13 17:14] Yunrui opened #572 "blas issue compile issue"
hi all,

I am encountering the blas compile issue on EI Capitan. I searched and found similar questions about it, saying reason might be bias not installed. So I installed openblas thru brew, changed config file as "USE_BLAS = openblas". No luck. And I also tried to export LIBRARY_PATH=/usr/local/Cellar/openblas/0.2.15/include/, still got the exactly same error as below.

Anyone shed some light?

[2015-11-13 17:15] pluskid commented on #554
Related issue #214

[2015-11-13 17:16] #568 closed

[2015-11-13 17:18] tqchen commented on #552
Users is asked to pass a top_grad in this case on backward, for each of non-blocked output. So you can treat this as an layer and even chain multiple executors together

[2015-11-13 17:19] pluskid commented on #572
An easier option is just to use the built-in BLAS of OS X:
[code]
as in [make/osx.mk](make/osx.mk)

[2015-11-13 17:20] pluskid commented on #552
@tqchen Yes, but what happens if the user run `backward` without passing top_grad, will an error be raised?

[2015-11-13 17:21] tqchen commented on #552
Yes, an error will be raised

[2015-11-13 17:24] Yunrui commented on #572
actually, I used "USE_BLAS = apple" at the very beginning, but encounter the same build failure. Then I thought my bias was not installed correctly, then I tried open blas....

[2015-11-13 18:07] tqchen commented on #572
You want to add the path to CPLUS_INCLUDE_PATH and C_INCLUDE_PATH. Or add them in -I flag in the ADD_CFLAGS

[2015-11-13 19:43] XericZephyr commented on #558
You might want to use `mx.io.ImageRecordIter` to pass in label with width 4. And you will need the tricks below to help you use lengthy label (and, unfortunately, the label size must be fixed).

1. Before you do preprocessing, write image list as follow:
[code]
2. When you use `im2rec` tool, remember to set `label_width=4` in the command line to generate specific RecordIO file.
3. In your python c

[2015-11-13 20:11] starimpact commented on #558
thanks, but using intershape is ok.
actually, i need to pass a label matrix and a label vector, not only a label vector.

[2015-11-13 20:23] cuihenggang opened #573 "Any ideas about the conv kernel sizes in inception.py"
Hi,

I noticed that in "example/imagenet/inception.py", which I assume is the model for the 1000-class ImageNet dataset, the kernel sizes of the convolutional layers are a little different from the kernel sizes described in the original GoogLeNet paper. Did you discover this set of configurations would achieve higher accuracy?

Actually I just find the structure of the network is also a little dif

[2015-11-13 20:32] zachmayer commented on #544
works now.  Thank you!

[2015-11-13 20:32] antinucleon commented on #573
It is Inception-6 Network, which is described in BatchNorm paper.

[2015-11-13 20:35] antinucleon commented on #572
Add modify the config.mk like this
[code]

[2015-11-13 21:02] phunterlau commented on #572
I had the exact similar issue before and my solution was: adding /usr/local/include and /usr/local/lib to the PATH, and `USE_BLAS = apple`

[2015-11-14 01:32] Yunrui commented on #572
thanks, the issue was resolved by adding ADD_LDFLAGS and ADD_CFLAGS

[2015-11-14 01:32] #572 closed

[2015-11-14 02:21] Yunrui opened #575 "fail to install mxnet using GPU"
hi all,

I cannot install mxnet after enabling CUDA and upgrading to OS X EI Capitan. I read previous post, one possibility is about LD_LIBRARY_PATH, but I get it set.

Actually, at least I get mxnet installed (with GPU) on OS X yosimite, but it complains something like "cuda runtime incompatible with library". Then I decided to upgrade to EI Capitan and installed new version of CUDA for 10.11. Th

[2015-11-14 02:59] pluskid commented on #575
Maybe instead of `LD_LIBRARY_PATH`, try using `DYLD_LIBRARY_PATH` ?

[2015-11-14 03:01] pluskid commented on #575
Also as a workaround, you can fix the `@rpath` problem by fixing the libmxnet.so directly. Firstly, use  `otool -L` to list referenced libraries of `libmxnet.so`. For those references with `@rpath/…`, use `install_name_tool -change` to change them to absolute path. Something like
[code]

[2015-11-14 04:19] Yunrui commented on #575
thanks @pluskid, replacing @rpath indeed fixed this problem.

But, I still get an error when training with GPU. I am already using latest package of CUDA thru https://developer.nvidia.com/cuda-downloads. how did you resolve this issue?

+                                      ctx=device.gpu, num.round=5, array.batch.size=100,
+                                      learning.rate=0.05, momentum=0.9,

[2015-11-14 05:45] qianguih opened #576 "how to prepare CIFAR 100 and CIFAR 10 training and testing data?"
Hi, there,
    I am trying to re-run provided CIFAR 10 and CIFAR 100 examples. When I use the provided CIFAR 10 training and testing data, it can produce the same results as introduced. However, when I feed programs with the CIFAR 10 and CIFAR 100 data I manually converted, the accuracies decreased a lot.
    Specifically, first, I downloaded the matlab version CIFAR 10 and CIFAR 100 data and wrot

[2015-11-14 05:55] Yunrui commented on #575
My CUDA driver version is: 7.5.21. The library version I used is also 7.5.

[2015-11-14 08:57] II-Matto commented on #381
@pluskid Thanks, I will try them in a few days!

[2015-11-14 09:14] mpearmain opened #578 "Failure to build for GPUs"
I've pulled the config.mk file and try and build but get the following error

/usr/bin/ld: cannot find -lcudart
/usr/bin/ld: cannot find -lcublas
/usr/bin/ld: cannot find -lcurand
collect2: error: ld returned 1 exit status
make: *** [lib/libmxnet.so] Error 1
make: *** Waiting for unfinished jobs....
/usr/bin/ld: cannot find -lcudart
/usr/bin/ld: cannot find -lcublas
/usr/bin/ld: cannot find -lcura

[2015-11-14 12:57] shuokay commented on #578
Need to set ```USE_CUDA_PATH = /usr/local/cuda-7.0``` in config.mk
https://github.com/dmlc/mxnet/blob/master/make/config.mk#L46

[2015-11-14 18:15] zachmayer opened #579 "eval.data argument in mx.model.FeedForward.create [R-Package]"
How do I correctly pass data to `eval.data` in `mx.model.FeedForward.create`?  It seems to take data in a different format than the `X` and `y` arguments, which is confusing:
[code]

Yields:
`Error: attempt to apply non-function`

Traceback:
[code]

[2015-11-14 18:19] futurely commented on #378
Indeed, speed benchmark is tedious and the numbers are boring. Benjamin Franklin said more than two hundred years ago: "'In this world nothing can be said to be certain, except death and taxes." Today we should add competition to the list. Whether you like it or not, the competitors keep marketing to the massive potential users that [their pieces of software are the fastest](https://github.com/sou

[2015-11-14 18:27] tqchen commented on #378
Thanks for the script. We want to do bench-marking carefully, as mxnet's execution is asynchronize, measuring the time when backward returns is not precise. So we should be slower than this statistics indicates.

@antinucleon  is working on a benchmark script that takes this into cosideration.

This being said, it is hard for any toolkit to be super faster on a single card, due to the bottleneck p

[2015-11-14 18:39] futurely commented on #378
Thanks for your analysis!

Since Caffe was open source almost exactly two years ago, too many DL libraries were re-invented. TensorFlow's appearance this week obviously takes the competition to the next level. Distributed training and cross-platform deployment will become the new norm very soon. Comparing the distributed training performance with TensorFlow is a great opportunity to improve awaren

[2015-11-14 18:44] tqchen commented on #378
For reference https://www.quora.com/What-is-MXNet-How-does-it-compare-to-similar-frameworks

This is a preliminary benchmark on single card from alex smola's group. As we can see, we are not faster in terms of performance on single card. Because there is no magic in systems design to optimize out bottleneck of computations.

The advantage of dep scheduler and multi-threading comes to make communic

[2015-11-14 18:47] tqchen commented on #575
Maybe you want to first check if other cuda based library runs, as installed cuda driver does not necessarily mean you are using it. By default ubuntu have another driver that was quite hard to get rid of.

[2015-11-14 18:47] thirdwing commented on #579
@zachmayer I am afraid this is something we forgot to update.

Maybe the following is what you expect.

[code]

[code]

[2015-11-14 18:53] tqchen commented on #561
This is merged in #566

[2015-11-14 18:53] #561 closed

[2015-11-14 18:57] tqchen commented on #570
I do not know what happened on this side, but seems https://github.com/dmlc/mxnet/blob/master/python/mxnet/libinfo.py was not found.

Another way you can try is simply add path to mxnet/python to the PYTHONPATH environment variable, or insert it to the first location sys.path everytime you import mxnet

[2015-11-14 18:58] tqchen commented on #576
Yes, this procedure should be the same. Please make sure you shuffle the data before pack them

[2015-11-14 19:00] tqchen commented on #571
@starimpact  It would be great if you can contribute update to the NumpyOp docstring :)

[2015-11-14 19:01] tqchen commented on #558
Now that #504  is merged in. You can build a index to get the labels you want.

[2015-11-14 19:02] tqchen commented on #558
@XericZephyr Yes, the label_woth is exactly what you meant, can you contribute a PR to add your understanding to the doc?

[2015-11-14 19:04] tqchen commented on #557
If you want to share some kernel of convolution, you can create a common variable, and pass them in when you construct convolution, for example

[code]

[2015-11-14 19:07] tqchen commented on #553
This could due to in-compete version of the blas, Maybe you can consider build with other blas, for example OpenBlas instead

[2015-11-14 19:08] tqchen commented on #546
@loretoparisi Please let us know if you have any update on this, we would love to have your contribution and get it work on iOS

[2015-11-14 19:08] #538 closed

[2015-11-14 19:09] tqchen commented on #532
closing for now, please feel free to reopen it

[2015-11-14 19:09] #532 closed

[2015-11-14 19:10] #539 closed

[2015-11-14 19:12] tqchen commented on #542
closing for now, please feel free to open it. @tzutalin if you are interested, we would also love to have your contribution to mxnet

[2015-11-14 19:12] #542 closed

[2015-11-14 19:12] #529 closed

[2015-11-14 19:22] qianguih commented on #576
Hi, Tianqi,
    Thanks for your reply.
    https://github.com/dmlc/mxnet/blob/master/doc/python/io.md tells that the images would be shuffled automatically. Attached is my image list files. Is that ok?
    Is it possible that I should change the parameter when calling im2rec? Because when I packing the images from image list, it reported the JPEG encoding quality is 80. Should I specify it to be 1

[2015-11-14 19:24] zachmayer commented on #579
ahah!  Thank you.

In general, examples like that are really useful in the documentation.  Thanks!

[2015-11-14 19:24] #579 closed

[2015-11-14 19:29] lukemetz commented on #510
I ran into the same problem with slightly different code:
[code]

It appears to be a race condition when the python program exits. It only happens half the time and can be fixed with a breakpoint  and then manually continuing just before exit. The result is always printed even on crash.

[2015-11-14 19:34] tqchen commented on #510
hmm, can you try to get some stack trace on such error, so we can have a general idea on where things went wrong, thanks!

[2015-11-14 19:35] tqchen commented on #576
You want to shuffle the list before you feed them into the record packer

[2015-11-14 19:36] tqchen commented on #576
The shuffle of recordReader is only done in a local manner, which means it only shuffles data within each block

[2015-11-14 19:38] tqchen commented on #579
@thirdwing  I think we can optionally support passing in a list into eval_data

[2015-11-14 19:51] lukemetz commented on #510
I tried, was hoping to be a little more useful. Do you know how?
I tried compiling with -rdynamic, DEBUG=1.
When running under GDB everything seems to just work. I will play around some more and see if I can get one.

[2015-11-14 19:52] thirdwing commented on #579
Yes, adding now. Just a few lines.

[2015-11-14 19:53] qianguih commented on #576
Sorry, I am a little confused about "local" and "each block". Could you be more specific? Does this mean I still need to make numbers in the first row in train.lst randomly organized?

[2015-11-14 19:54] tqchen commented on #510
I was thinking about gdb, don't have brilliant idea on this:( thanks for investigating and please let us know if you have more fundings

[2015-11-14 19:56] tqchen commented on #576
Yes, I mean you to shuffle the list, before you pack, so the same labels won't occur consecutively

[2015-11-14 20:11] lukemetz commented on #510
So this appears to be a bug with openblas as when compiling with normal blas the error does not occur. Also, the following code is a minimal example to reproduce the bug. Still no stack trace.
[code]

[2015-11-14 20:55] pluskid commented on #510
The original post mentioned that there is a core dumped. If you actually get a core file dumped, you can load the core file into GDB, and get some stack trace. Although when the libraries are not compiled with `-g`, the stack trace might be hard to decrypt (e.g. fully of `???` or might be even misleading).

[2015-11-14 21:05] lukemetz commented on #510
Didn't know you could do that.
I set `ulimit -c unlimited` to get a core file to show up,
then gdb that file. all ??? on backtrace, no symbols despite mxnet with -g. I checked each of the 4 available frames and none had symbols.

I think its in the ThreadEnginePerDevice dealloc method.
I annotated the code with the following:
[code]
With a result of
[code]

I am kinda a noob when it comes to debug

[2015-11-14 21:16] qianguih commented on #576
Hi, I tried to shuffle the first column in the train.lst. However, the accuracy seems to stick around 83% after 20 epochs. Attached is my train.lst file for CIFAR 10. Is there anything wrong with it?

[train.txt](https://github.com/dmlc/mxnet/files/34748/train.txt)

[2015-11-14 21:18] qianguih commented on #576
By the way, I shuffled .lst files using the bash command shuf. Is there any better way to do this?

[2015-11-14 21:45] pluskid commented on #510
just for the record, I also noticed some crashing from Julia side recently. Basically, if I only load libmxnet but does not do any computation with it. Something like
[code]
then it will crash:
[code]

But it will not crash if I actually did some computation (e.g. train a neural network) with MXNet. I have not been able to spend time to debug this yet.

[2015-11-14 22:30] tqchen commented on #576
I do not mean shuffle first column, but shuffle the lines in your train.lst before you pack

[2015-11-14 22:38] XericZephyr commented on #558
Thanks for inviting. I will be working on it shortly.

[2015-11-15 00:30] qianguih commented on #576
Sorry for the confusion. The lines in train.lst are shuffled.
And I also set the quality parameter to be 100 during packing. But the accuracy is only 84% for CIFAR 10 after 30 epochs.

[2015-11-15 01:46] korneil opened #583 "Support 3D Convolution"

[2015-11-15 02:16] pluskid commented on #583
Do you mean 3D convolution (and pooling)?

[2015-11-15 02:32] starimpact commented on #571
OK, but I will do it at free time, recently I am a little busy.Because I'm doing project with mxnet which I am just familiar with only half month.

[2015-11-15 02:34] starimpact commented on #571
So many question are going to be solved:smile:

[2015-11-15 02:45] thirdwing commented on #579
@zachmayer Now you can use your old code.

[code]
[code]

[2015-11-15 02:50] korneil commented on #583
Yes!

[2015-11-15 03:11] caffeTao commented on #557
will the filter be learned in training process? Does it need extra initiation? And can i use for recurrence to handle the channel data？ thx

[2015-11-15 03:15] tqchen commented on #557
The filter can be binded, and you can get gradient from the filter, so in that sense it can be learned. In Current convention, it will be learnt if you set the name to end with suffix weight. It will be initialized as normal convolution weights.

I do not understand on what do you mean by recurrence

[2015-11-15 03:30] tqchen commented on #571
Things are improving, thanks to all the contributors, including effort from you

[2015-11-15 03:31] pluskid commented on #583
cuDNN always support 3D convolution and pooling. We will just need to change the API to adapt that. But for the mshadow backend, I guess need some work to support 3D case.

[2015-11-15 04:08] qianguih commented on #576
Btw,is there any API provided to extract the activations in a specific layer in a given model?

[2015-11-15 04:10] tqchen commented on #576
yes, c.f. https://github.com/dmlc/mxnet/blob/master/example/imagenet/predict-with-pretrained-model.ipynb

[2015-11-15 04:34] qianguih commented on #576
Thank you! You guys are awesome.

[2015-11-15 05:35] starimpact commented on #571
yes, I want make it better also.
I like the flexibility.

[2015-11-15 05:49] starimpact commented on #554
I want to implement the sibling layers as following, but it will die when I train it and without any error message:
Do you have any better ideas to figure it out?
[code]

[2015-11-15 05:57] starimpact commented on #554
I see the error when I use cpu:
[code]
what's wrong? :cry:

[2015-11-15 09:47] caffeTao commented on #557
I'm so sorry for my poor representation. it's for circulation to handle all the feature maps like for(){}.For the suffix weight, i don't think i know what to do exactly, name the filter "filter_weight"?

[2015-11-15 10:07] starimpact commented on #554
[code]

[2015-11-15 10:15] starimpact commented on #554
[code]

[2015-11-15 12:03] starimpact commented on #554
it's my RPN, when I run the training of classification or regression individually, there is no problem, but not when combine them together.
As you see, my classification cost layer and regression cost layer is implemented in python.

[2015-11-15 13:37] starimpact commented on #554
I doubt whether something between python and mxnet has problem?

[2015-11-15 13:59] starimpact commented on #554
I will write these two layers in c++ manner, check whether it is ok.

[2015-11-15 14:02] vchuravy commented on #554
@starimpact You were trying to implement these layers in python? The error you a getting is certainly coming from the fact that something went bad in the NumpyOp layer. Can you share the code for your layers? (Best as a gist)

[2015-11-15 14:05] starimpact commented on #554
[code]

[2015-11-15 14:32] Yunrui commented on #575
Thanks, the issue is my macbook pro (13') is using integrated graphic card, Intel iris, which I think not supported by CUDA. :-(.....

[2015-11-15 16:02] zachmayer commented on #579
Fantastic, thank you.  Would it be difficult to implement early stopping based on the evaluation set?

[2015-11-15 18:07] tqchen commented on #579
@zachmayer MXNetR is a R-package, and all the training logic, including the parameter optimization, evaluation are on R, so I suppose it is possible for any R hacker to add that feature :)

[2015-11-15 18:08] tqchen commented on #557
Yes, ''layer_k_filter_weight'' should be a nice name

[2015-11-15 18:44] zachmayer commented on #579
I'll take a look :-)

—
Sent from Mailbox

On Sun, Nov 15, 2015 at 1:07 PM, Tianqi Chen <notifications@github.com>
wrote:

[2015-11-15 19:19] thirdwing commented on #511
@adder Is the following what you're expecting? In `mx.callback.log.train.metric`, you have use an additional argument to save the train metric.

[code]

[code]

[code]

[code]

[2015-11-15 19:24] adder commented on #511
Yes :)
This looks nice, does it also work for the validation error?

[2015-11-15 19:33] starimpact commented on #554
i want to know how to debug when i encounter some questions.

[2015-11-15 19:35] starimpact commented on #554
i also want to know how to make the error message always show up not just quit whith nothing.

[2015-11-15 19:52] thirdwing commented on #511
Of course that can also be added by several lines of code.

I am just thinking getting values through call back or adding two parameters in `mx.model.train`.

[2015-11-15 20:05] tqchen commented on #511
A callback is more ideal, since this requires less API change

[2015-11-15 20:51] tqchen commented on #554
If you think this is the problem of numpy operator. Please try to simpilfy the script, for example
remove some of the operations performed.

It would be helpful write a complete short snippet that reproduces your problem. Both will help others to quickly understand what is going on your side.

[2015-11-15 21:59] lukemetz opened #586 "Basic tensor operations like in theano / tensorflow"
Hello all,
What are your thoughts around low level theano / tensorflow style operations? ([theano tensor](http://deeplearning.net/software/theano/library/tensor/basic.html), [tensorflow math](http://tensorflow.org/api_docs/python/math_ops.md),  [tensorflow nn](http://tensorflow.org/api_docs/python/nn.md])). While slow without kernel fusion, they are incredibly nice to quickly develop more complica

[2015-11-15 22:24] tqchen commented on #586
Yes, this is a great idea

[2015-11-15 23:30] starimpact commented on #554
can you tell me what the error message means

[2015-11-16 00:52] vchuravy commented on #554
It might be that the c-callback gets garbage-collected [1] That would explain why you don't see it all the time.

I am not familiar enough with python, but it might not keep a reference if the value is stored in a structure.

[1] http://stackoverflow.com/questions/24269939/systemerror-objects-cellobject-c24-bad-argument-to-internal-function

[2015-11-16 00:53] starimpact commented on #554
@vchuravy  thank you anyway :smile:

[2015-11-16 01:18] piiswrong commented on #554
@vchuravy this indeed could happen.
@starimpact if this is your problem it should be fixed after the new PR is merged.

[2015-11-16 01:19] vchuravy commented on #554
[code]

So if I am not mistaken that means that nothing is holding a reference to the elements in the `info_` structure and they might get gc'd. @starimpact I will create a PR and we can see if that solves your problem.

https://docs.python.org/2/library/gc.html
[code]

[2015-11-16 01:20] starimpact opened #588 "how do I do to let the layer be a lost layer, in c++?"

[2015-11-16 01:21] piiswrong commented on #554
@vchuravy I already pushed a PR

[2015-11-16 01:22] starimpact commented on #554
I am implementing the cost layers in c++ manner, hope to solve it.

[2015-11-16 01:24] starimpact commented on #554
but I don't know how to make a layer be a loss function.I know how to do with python, in which I can set ```__init__(False)```

[2015-11-16 01:27] starimpact commented on #554
@vchuravy thank you, but your post from stachoverflow is too hard for me to understand.

[2015-11-16 01:37] starimpact commented on #588
I don't know how to make a layer be a loss function.I know how to do with python, in which I can set ```__init__(False)```

[2015-11-16 01:48] vchuravy commented on #588
Take a look at how the numpy layer works under the hood and search for `need_top_grad`

https://github.com/dmlc/mxnet/blob/master/src/operator/native_op-inl.h#L231-L242

[2015-11-16 01:58] starimpact commented on #588
But I didn't see the similar way for regression_output-inl.h(I know it is the loss function layer.)
[code]

[2015-11-16 02:01] vchuravy commented on #588
In both cases there is no backward dependency declared onto the out_gradient.

[2015-11-16 02:03] starimpact commented on #588
oh , thank you , I will have a try. :smile:

[2015-11-16 02:13] starimpact commented on #588
yes ,it is worked.
thank you very much.

[2015-11-16 02:54] caffeTao commented on #557
thx, I 'll have a try

[2015-11-16 03:50] thirdwing commented on #511
@adder This will be merged.
[code]
[code]
[code]
[code]
[code]
[code]

[2015-11-16 03:58] #575 closed

[2015-11-16 05:31] adder commented on #511
This is great! thanks!

[2015-11-16 06:37] #511 closed

[2015-11-16 06:39] yajiedesign commented on #586
- [x] add
- [x] sub
- [x] mul
- [x] div
- [ ] mod

[2015-11-16 08:15] freesouls opened #592 "How can I resume training on the checkpoint(saved) model"
for example, I have trained a model for 10 rounds, and save the model successfully. What if I want to go on training base on the saved model, saying, I want to train 10 more rounds. I can not find some documentation.

[2015-11-16 08:37] starimpact opened #593 "how to remove the uninitialized warning?"
[code]

[2015-11-16 08:38] starimpact commented on #593
the following code creates the up warning:
[code]

[2015-11-16 08:39] starimpact commented on #593
I think the expression has no problem.
But how it to cause the warning?

[2015-11-16 09:09] yao5461 commented on #592
Hi Binbin,
An example:
[code]
refer to https://github.com/dmlc/mxnet/issues/479

[2015-11-16 09:47] loretoparisi commented on #546
@tqchen Yes. I'm now looking back at my old porting of ```Essentia``` audio library to iOS, just to have a comparison of the two approach: https://github.com/loretoparisi/EssentiaTouch

[2015-11-16 10:02] mpearmain commented on #578
Path now look like:

Rebuilt R package as per instruction and testing in R.

  $device
  [1] "gpu"
  $device_id
  [1] 0
  $device_typeid
  [1] 2
  attr(,"class")
  [1] "MXContext"

+                 train.y,
+                 hidden_node=10,
+                 out_node=2,
+                 out_activation="softmax",
+                 num.round=20,
+                 array.batch.size=15,
+

[2015-11-16 11:46] shuokay commented on #578
You need to rebuild mxnet and R package, because R package calls mxnet C++ library.

[2015-11-16 12:47] #592 closed

[2015-11-16 14:28] starimpact opened #594 "my faster-rcnn can work on cpu, but not on gpu, why?"
HI,
anchor_regressioncost is for bound box regression in my faster-rcnn framework.
but it can only work on cpu, will fail on gpu.
but anchorclassifycost can work ok both on cpu and gpu.
Can you help me figure it out?
Please see my github.
[code]

[2015-11-16 15:05] cuihenggang opened #595 "Some questions on example/distributed-training results"
Hi,

I have some questions for the results in example/distributed-training.

For the section (table) of "5 machines with 10 GTX 980, BSP", it uses "batch_size=96", but for the "System Performance" table, it uses "batch_size=48" for the same system setting (10 GTX980 GPUs). I'm wondering does it mean we can fit a batch_size of 96 in GPU memory, then why don't we use batch_size 96 for the "System Pe

[2015-11-16 16:06] thirdwing commented on #579
@zachmayer Actually it is quite easy to stop early.

Just add a new callback `mx.callback.early.stop`.

It takes two arguments, `train.metric` and `eval.metric`. The training will stop once one of them goes below the standard you set.

[code]
[code]

[2015-11-16 16:50] sneakerkg commented on #594
Hi Ming,
I'm very interested in working together with you on Faster-rcnn. Please give me a few days to catch up with your current work.

[2015-11-16 17:00] zachmayer commented on #579
Ok, I'm starting to get how callbacks work.  Can you share the source code for `mx.callback.early.stop`?  I'll probably modify it to stop after N iterations without an improvement in validation error, rather than a hard threshold for validation error.

[2015-11-16 17:03] thirdwing commented on #579
It is on my github https://github.com/thirdwing/mxnet/commit/76c6d7bdf59ecae78a7c16612c4775f7427ae8ac

You can see the difference from the link. I am writing a document for callback functions. There are many things can be done through callbacks.

[2015-11-16 19:42] mli commented on #595
for the performance, it is "batch size / GPU" namely the batch size given to a single gpu. the number 48 is consistent with 96 shown later, because each machine has two gpus.

the time is per epoch. i should remove the time column later

i simply fix the learning rate for the first 20 iterations, and then change it later.

[2015-11-16 21:32] starimpact commented on #594
i must solve it today

[2015-11-16 21:56] cuihenggang commented on #595
That makes sense.

PS. Caffe should also support the "Batch Normalization" specialization. It improves the accuracy so much.

Thank you!
Cui

[2015-11-16 22:03] piiswrong commented on #594
What's the error message

[2015-11-16 22:06] starimpact commented on #594
just quit, no error message

[2015-11-16 22:13] starimpact commented on #594
another strange question is , in gpu mode, it will die quietly when i printf one value of in_data.

[2015-11-16 23:14] mli commented on #595
I'm going to close the issue now. Please feel free to reopen it if you have other questions.

[2015-11-16 23:14] #595 closed

[2015-11-17 01:32] starimpact commented on #594
@tqchen can you give me some tips?

[2015-11-17 01:33] starimpact commented on #594
@tqchen can you give some hints?

[2015-11-17 02:02] starimpact commented on #594
if there is a restriction in gpu mode that cannot access each value of a tensor directly?

[2015-11-17 02:02] vchuravy commented on #594
You can't use printf in CUDA except if you add `-arch sm_20` or higher to NVCCFLAGS

http://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#formatted-output

[2015-11-17 02:14] #576 closed

[2015-11-17 03:02] starimpact commented on #594
I think I found the problem: in gpu mode , mshadow does not support fetching single value of a Tensor.

[2015-11-17 03:03] starimpact commented on #594
@vchuravy No, I still can do printf("hello world") in gpu mode.

[2015-11-17 03:50] starimpact commented on #594
Sovled !!!    :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile:

[2015-11-17 03:53] XericZephyr commented on #594
Congratulations man~ @starimpact

[2015-11-17 04:08] wangg12 opened #597 "Load caffe without caffe dependency?"
Just like https://github.com/szagoruyko/loadcaffe in torch7, there is no need to install caffe. Can mxnet do this? Currently, I just find caffe converter in mxnet, but need caffe installed.

[2015-11-17 04:38] #594 closed

[2015-11-17 04:52] futurely opened #598 "Deduplicate the Inception network definitions"
There are [multiple Inception definitions](https://github.com/dmlc/mxnet/search?l=python&q=factory&type=Code&utf8=%E2%9C%93) scattered around some of which may be incorrect as suggested by @antinucleon in https://github.com/soumith/convnet-benchmarks/issues/68#issuecomment-156734520. It would be easier to maintain a single authoritative version.

[2015-11-17 06:21] piiswrong commented on #597
I took a look at this:
https://github.com/szagoruyko/torch-caffe-binding
https://github.com/szagoruyko/loadcaffe
They looks like good reference. Maybe people working on caffe bindings can use this.
@jermainewang

[2015-11-17 06:21] dushoufu opened #599 "error exists when build mxnet with USE_DIST_KVSTORE = 1"
when i modified the config.mk and let USE_DIST_KVSTORE = 1,then build and I get the error
src/kvstore/./kvstore_dist.h:12:19: fatal error: ps/ps.h: No such file or directory
I guess there is a ps.h located in the directory /ps-lite/src/ps.h, but no ps/ps.h.
If I mkdir the ps/ps.h, then will bring more errors,possibly because of dependencies error.

who can give me some help with this?

[2015-11-17 07:49] worldveil opened #600 "python package installation fails with verbatim instructions from install wiki (Ubuntu 14.04)"
My machine:

[code]

I followed the instructions here:
http://mxnet.readthedocs.org/en/latest/build.html

[code]

The error is:

[code]

Perhaps I'm missing something simple. I will continue to investigate.

[2015-11-17 08:39] sxjscience commented on #597
I think it can be done by compile the official caffe protobuf `caffe.proto` to get the `caffe_pb2.py` file, which can do the parsing. https://github.com/kitofans/caffe-theano-conversion is also a good reference.

[2015-11-17 09:07] shuokay commented on #599
You should clone mxnet with ```git clone --recursive https://github.com/dmlc/mxnet```, if not, submodules cant be fetched.

[2015-11-17 09:26] hjk41 commented on #599
You can also do "git submodule update" to get the submodules after you have
done "git clone"

On Tue, Nov 17, 2015 at 5:07 PM, shuokay <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-17 09:57] shuokay commented on #540
Cant call ```mx.misc.FactorScheduler```
For example, in lenet.py,:
[code]
and python complain
[code]

[2015-11-17 11:55] wangg12 opened #601 "python doc error in KVstore example"
in the KVstore example:
[code]
where `kv.set_updater` should be
`kv._set_updater(update)`

[2015-11-17 12:36] catmonkeylee opened #602 "cifar-100.ipynb error"
model.fit(X=train_dataiter,
          eval_data=test_dataiter,
          eval_metric="accuracy",
          batch_end_callback=mx.callback.Speedometer(batch_size, 200),
          epoch_end_callback=mx.callback.do_checkpoint(model_prefix))

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-

[2015-11-17 12:37] starimpact opened #603 "Sum Operator"

[2015-11-17 12:41] starimpact commented on #603
I know there is a sumall_except_dim, but it can not do it .

[2015-11-17 14:08] catmonkeylee opened #604 "How to get or generate the mean_image?"
When I read the notebook 'Use Pretrained Inception-BatchNorm Network',  I don't know how to get the mean_image :
# load mean image
mean_img = mx.nd.load("Inception/mean_224.nd")["mean_img"]

It was generated when train the imagenet? When I read the alexnet, I can not find the code that generated the  mean_img.   If I used my images to train the model, How to generate the mean image.

[2015-11-17 14:14] starimpact opened #605 "strange, cannot send label matrix and other infos into lost layer"
please have a look my github.
[code]
I defined several parameters ,but none of them can be filled wanted values.
[code]

[2015-11-17 14:16] austingg commented on #604
The image iterator will automatically calculate/load mean file if you set mean_file="xxxxx".

[2015-11-17 14:28] #605 closed

[2015-11-17 14:36] Jellyrick opened #606 "multi-machine distributed-training hang out"
i wan't to use multi machine to train imagenet. all machine have a shared file system.
when server_nodes is 1, all going well on every machine.
But when server_nodes bigger than 1, the process is stuck

hosts:
192.168.1.200
192.168.1.201

i run below command on 192.168.1.200:
../../tracker/dmlc_mpi.py -n 2 -s 2 -H hosts python train_imagenet.py

only print :

mpirun -n 2  -env DMLC_ROLE server -en

[2015-11-17 15:08] catmonkeylee commented on #604
Thanks, I read the source code, in train process the mean_file path is not exists, so will automatically caculate the file and save the mean.  in test process the mean_file path is exists, so will load and use the mean.

[2015-11-17 15:08] #604 closed

[2015-11-17 16:16] mli commented on #606
the problem is because the scheduler or the root node uses the wrong IP (127.0.0.1) which cannot be reached by others, the codes are there

https://github.com/dmlc/ps-lite/blob/dev/tracker/tracker.py#L384

[2015-11-17 16:18] mli commented on #602
we changed `num_round` into `num_epoch`, can you please push a PR to fix it? thanks

[2015-11-17 16:20] mli commented on #601
yeah, we try to replace it by `set_optimizer`, which is probably more straightforward for optimization algorothms.  can you please push a PR to fix the example. thanks

[2015-11-17 16:31] mli commented on #600
can you please have a `git pull` and install again? i try it some minutes ago with the same ubuntu and python version, it works fine

[2015-11-17 16:32] mli commented on #599
please also run `git pull`, it seems that your clone of mxnet is a little bit old

[2015-11-17 19:25] kaishijeng commented on #554
Starimpact,

   Are you able to run your faster-rcnn implementation properly? If yes, can you share your code?

Thanks,

[2015-11-17 19:35] #573 closed

[2015-11-17 21:55] XericZephyr opened #609 "[Discussion, Python] Eliminating Arguments of Model API"
Currently, there are too many arguments of model API in Python, making it extremely hard to maintain the code.

Can we find out a way to eliminate them? Or, in a better word, better organize them?

[2015-11-17 22:08] pluskid commented on #609
Are you talking about a better way to organize them or actually find some way of *removing* some of the arguments?

[2015-11-17 22:18] XericZephyr commented on #609
Sorry for the confusion. @pluskid   I am talking about better organizing them and hope to hear some suggestions from you.

I think reasonably eliminating some of them might be a way to better organize the arguments.

There are absolutely other ways, some of them coming out of my mind like:

* Grouping the callbacks into one argument, with namedtuple. For example, when accessing callbacks, using `c

[2015-11-17 23:00] XericZephyr commented on #547
@pluskid I have a question. The python code pass the last states into the initial states for each batch. So I think it's probably not ok to just pass zero blobs to init states. I am still working on evaluating the effect of this behaviour.

[2015-11-17 23:10] pluskid commented on #547
The state is reset after gradient update, and gradient update is done every batch by default.

Even if you want to copy over the states, that could be done, see for example the sampler example in Julia.

[2015-11-17 23:52] korneil opened #612 ""Slice end index out of range" on eval data"
During the eval phase I get this error message:

		[00:43:49] ./dmlc-core/include/dmlc/logging.h:208: [00:43:49] include/mxnet/ndarray.h:219: Check failed: (shape_[0]) >= (end) Slice end index out of range
		Traceback (most recent call last):
		  File "mxnet_xx.py", line 142, in <module>
		    batch_end_callback=mx.callback.Speedometer(100))
		  File "/opt/local/Library/Frameworks/Python.framework

[2015-11-18 00:02] korneil commented on #612
Solved, it was an error on my side, calling `mx.io.NDArrayIter` with different shapes.

[2015-11-18 00:02] #612 closed

[2015-11-18 00:02] pluskid commented on #547
Was too brief because I was one a phone. I looked at the python lstm example again. You are right, it seems the states are copied over during the whole epoch. The forward states are transferred even if the backward is cut by resetting the gradient. If you want to achieve this with high-level API, it is still possible by having the last states in the LSTM output, and copying that over in the data i

[2015-11-18 00:05] XericZephyr commented on #547
Yes. I agree. Currently, building a separate model is a good(probably the best) idea. However, it cannot easily utilize the multi-GPU and distributed training benefit. Sigh. It's very hard to choose.

[2015-11-18 00:09] pluskid commented on #609
There is another not-so-cool thing related is that some parameters are passed when constructing the model, while others are passed when calling train. For example, `num_epoch` might better be an argument of `fit` instead of `__init__`. I'm not sure whether it is to keep consistency with the sklearn API or not. But I somehow gave up thinking of doing the refactoring because

- There are many parame

[2015-11-18 00:15] worldveil commented on #600
I tried `git pull` and installing again, same issue.

I then tried deleting the entire repo, re-cloning, re-building, and re-installing. Same issue.

Are you using Python 2.7.6?

[2015-11-18 00:19] worldveil commented on #531
Hi, I would also like to help with this.

Unfortunately, I'm not an expert in linking C libraries to other languages like Go, Python, and Java as you show above, so they aren't too illustrative of how one might go about using, say, a model trained in the Python bindings in a C++ context.

Might there be other examples you could point to, or even perhaps some old commits that might show this? I'm a

[2015-11-18 00:23] mli commented on #600
yeah, `Python 2.7.6` with numpy `1.10.1`. @antinucleon @tqchen any idea about the error?

[2015-11-18 01:06] starimpact commented on #554
still one working.

[2015-11-18 02:04] Jellyrick commented on #606
@mli ，problem solved！

another question：

how can i use  0，1gpu in machine 0， and  0，3gpu in machine 1， thxs

[2015-11-18 02:06] mli commented on #606
[code]

[2015-11-18 02:10] xylcbd commented on #570
![image](https://cloud.githubusercontent.com/assets/3643991/11230744/61495392-8ddc-11e5-8643-5df5c905b1e5.png)

nothing is modified.
Python 2.7.10 64bit  , win7 64bit (win10 64bit) system

[2015-11-18 02:28] tqchen commented on #546
sounds great, let us know how itgoes

[2015-11-18 03:19] Jellyrick commented on #606
@mli  I am confused about the relationship between  machine and server && server and worker. what's the design philosophy?  If i have multi machine, how many server-nodes should run?

[2015-11-18 03:21] mli commented on #606
you can simple use number workers = num servers = num machines

[2015-11-18 03:22] XericZephyr opened #614 "[RNN] What is exactly NLL metric?"
The code is at https://github.com/dmlc/mxnet/blob/master/example/rnn/lstm.py#L181 .

[code]

I have several questions.

* I have problems in finding reference to the metric `nll`? What is the definition of NLL? What's the meaning of it?
* Is `len(y)` always equal to `batch_size` ? If so, why do we need so complicated function?

[2015-11-18 03:32] winstywang commented on #614
nll means negative log likelihood.
@antinucleon Could you confirm the second question?

[2015-11-18 03:38] #601 closed

[2015-11-18 04:00] dushoufu commented on #599
Thank everybody. My problem is OK. I'm a starter of GIT.

[2015-11-18 04:06] starimpact opened #615 "neighbor layer unequal grad problem"
example: ```layer1->layer2```
then, out_grad of layer1 should equal to in_grad of layer2, right?
but not here, why?

[2015-11-18 04:08] mli commented on #599
great, i'll close this issue now, please feel free to reopen it if your issue is still there

[2015-11-18 04:08] #599 closed

[2015-11-18 04:13] winstywang commented on #531
All calls from host languages to mxnet core are directed using the C API here:https://github.com/dmlc/mxnet/blob/master/include/mxnet/c_api.h Please let us know if you have further questions.

[2015-11-18 04:32] tqchen commented on #593
Likely because some source of your tensor's shape was not intialized?

[2015-11-18 04:34] tqchen commented on #603
This can be supported by adding blas api asum to mshadow. Like the vector dot https://github.com/dmlc/mshadow/blob/master/mshadow/tensor_cpu-inl.h#L337

[2015-11-18 04:36] tqchen commented on #615
This question is a bit without context.

This should in general be true, unless layer1 is also connected to other layer, and the gradient will be summed up.  If it was not the case on your side, maybe consider post an minimum example to reproduce the problem

[2015-11-18 05:15] starimpact commented on #615
layer1 has pre layer, and only one post layer.
for example:
I set the values of in_grad of layer2 all 1s. and then the out_grad of layer1 only have several 1s, others are 0s.
this is really strange.
BTW, layer2 is the loss layer.

[2015-11-18 05:20] starimpact commented on #615
BTW2, layer2 has serveral label parameters, not only one.

[2015-11-18 05:30] tqchen commented on #615
Yes, this is strange if it is what you described, it could be  memory overflow problem that faied to assign some of in_grad.

Or you forget to declare dependency to out_grad, in such case the out_grad will simply be invalid in backward

[2015-11-18 05:34] starimpact commented on #615
actually, the layer1 is cov layer, and the layer2 is my self-defined loss layer. and the loss layer do not deed to backdepend to the out_grad.

[2015-11-18 05:35] starimpact commented on #615
actually, the layer1 is cov layer, and the layer2 is my self-defined loss layer. and the loss layer do not need to backdepend of the out_grad.

[2015-11-18 05:38] starimpact commented on #615
maybe it is he memory overflow problem of in_grad of layer2.
but I print the values of in_grad after I set its value. and it is normal.

[2015-11-18 05:53] starimpact commented on #615
the following is my loss layer's infershape, should be no problem:
[code]

[2015-11-18 06:06] starimpact commented on #615
my loss layer2:
[code]
the out_grad of layer1 is all 6.0s.
but when do:
[code]
the out_grad of layer1 is sparse 6.0s, others are 0s.

really, really strange....................

[2015-11-18 06:11] starimpact commented on #615
I found the in_grad value is affected by in_data.

[2015-11-18 06:11] starimpact commented on #615
in_data is just like a mask of in_grad.

[2015-11-18 06:13] tqchen commented on #615
check the inplace option, if you set that, but the operation you performed cannot be done in inplace manner

[2015-11-18 06:13] starimpact commented on #615
I have no inplace functions.

[2015-11-18 06:14] starimpact commented on #615
zero values of in_data should has no correspond values of in_grad. maybe its the reason.

[2015-11-18 06:15] tqchen commented on #615
I have little evidence on what happened on your side then. Maybe you can do some unit tests on the operators to see if the behavior is correct.

[2015-11-18 06:16] starimpact commented on #615
does mshadow or mxnet process the following automatically?
```zero values of in_data should has no correspond values of in_grad```

[2015-11-18 06:18] tqchen commented on #615
I don't understand your question

[2015-11-18 06:19] starimpact commented on #615
i am confused a little also....

[2015-11-18 06:20] starimpact commented on #615
for example:
[code]
will cause pre layer1's values be all 0s.
but
[code]
will cause pre layer1's values be all 6s. this is what I want.

[2015-11-18 06:22] tqchen commented on #615
I see what you mean, you cannot assume mutating the input of in_data will change the state of previous layer. Each operator should act in an independent way, by only mutating the outputs(out_data in forward and in_grad in backward).

Otherwise the behavior is undefined. Because the memory allocation algorithm will take advantage of such restriction and re-uses some of the memory

[2015-11-18 06:26] starimpact commented on #615
how do you explain this situation?
the tdata_in really acts like a mask of tgrad_in of this layer and out_grad of pre-layer.

[2015-11-18 06:27] starimpact commented on #615
this is unreasonable.

[2015-11-18 06:30] tqchen commented on #615
The restriction is you can only change in_grad in backward and out_data in forward, the operator will need to obey this restriction. Because the gradient is all the previous operator need to backprop the gradient to input(maybe together with some context like in_data, out_data)

[2015-11-18 06:34] starimpact commented on #615
my second proof:
[code]
then in the out_grad of pre-layer, only the first value of it is 6, others are 0s.

[2015-11-18 06:36] starimpact commented on #615
I don't think the in_data has any relationship with in_grad also, but the experiment data shows not.

[2015-11-18 06:36] starimpact commented on #615
backwarddependency:
[code]

[2015-11-18 06:38] tqchen commented on #615
You cannot change content of in_data in Backward Function.

[2015-11-18 06:40] starimpact commented on #615
just experiment, I want know what's wrong between the in_grad and out_grad.

[2015-11-18 06:44] starimpact commented on #615
I will do more experiments to find the reason.
Do you have any other better suggestion?

[2015-11-18 06:52] tqchen commented on #615
Good luck on finding the cause. But please do not assume you can change content of in_data in backward

[2015-11-18 06:52] starimpact commented on #615
OK, I will not do it.

[2015-11-18 08:16] qianguih opened #617 "can we feed multi input data to mxnet?"
Hi, there,
    I am trying to do multi-task learning using mxnet. Is it possible to feed multi-input to a network in mxnet?

[2015-11-18 08:20] huazehuang commented on #617
See the multi-label io [doc](https://github.com/dmlc/mxnet/blob/master/doc/python/io.md#extension-mutliple-labels-for-a-single-image)

[2015-11-18 08:35] qianguih commented on #617
Hi, thanks for your reply.
Actually, there are different sources of input rather than one same set of input with multi labels in my case. Is this possible in Mxnet?

[2015-11-18 08:41] sneakerkg commented on #617
Hi,

Could your problem being solved by creating multiple data iterators, each
one is responsible for one data source.

Thanks,
Tianjun

2015年11月18日星期三，qianguih <notifications@github.com> 写道：

[2015-11-18 08:43] huazehuang commented on #617
In this case you need to specify multiple mx.sym.Variable. For example

[code]

[2015-11-18 09:47] wangg12 opened #619 "Provide more optimizers like Adam, RMSProp,AdaDelta, Adagrad, etc. ?"
As mentioned in #540, currently mxnet only has the normal SGD. It will be better to provide more excellent optimizing methods.

[2015-11-18 10:23] antinucleon commented on #619
Thanks for suggestion! Indeed it is very easy to implement new optimization algorithm in MXNet eg, Adam in [Julia](https://github.com/dmlc/MXNet.jl/blob/master/src/optimizers/adam.jl). We may start to word on it after ICLR deadline. Also any contribution to make new optimizers to ```python/mxnet/optimizer.py``` is more than welcome :)

[2015-11-18 10:24] Jellyrick commented on #606
another question:

if use 3 gpu in machine0 and use  1 gpu in machine 1,  with 2 works 2 servers。

the param 'batch_size' in mx.io.ImageRecordIter should be assign what?

[2015-11-18 11:27] winstywang commented on #619
Hi, thanks for the suggestion. Actually we have experimented with several advanced optimization methods in previous project cxxnet, however the difference between sgd is minor at least in the case of CNN. Anyway, we could implement some of them as mentioned by @antinucleon

[2015-11-18 11:39] zachmayer commented on #540
@jermainewang How do you use a callback to adjust the model parameters?  Could you give a short example `epoch_end_callback` that adjusts the learning rate?

[2015-11-18 11:40] zachmayer commented on #619
I would also like to try out some different optimizers in the R packaged =D

[2015-11-18 11:56] starimpact commented on #615
Solved , It's my problem.:smile:

[2015-11-18 11:56] #615 closed

[2015-11-18 13:12] starimpact commented on #593
I don't think it can work when any tensor's shape was not initialized. isn't it?
tensor must have shape or cannot exist.

[2015-11-18 13:14] starimpact commented on #593
I don't think it can work when any tensor's shape was not initialized. isn't it?
tensor must have shape, otherwise it cannot exist.

[2015-11-18 16:35] thirdwing commented on #362
Just think about this for a little while.

What about saving the model as a json string in Rdata. When loading, we parse the json string.

This can be done by adding two helper functions.

[2015-11-18 17:00] qianguih commented on #617
Hi, guys,
    thanks for pointing out how to write a multi source input network. Moreover, how can we write the training command?
    Currently, I am following the CIFAR 100 example. https://github.com/dmlc/mxnet/blob/master/example/notebooks/cifar-100.ipynb
    How can we feed multi source input to the network when calling model.fit to train the network?

[2015-11-18 17:12] tqchen commented on #619
You are also more than welcomed to implement your own and contribute back to mxnet.

[2015-11-18 17:17] topepo commented on #362
My viewpoint is mostly around prediction using the model object so I'll focus on how we could export the prediction function. I can think of two options:

 * some stand-alone `C` programs like `C5.0` drop the model parameters (splits and variables in that case) into a text file that is then parsed at prediction time by separate code. You could have a defined format to export the weights and biases

[2015-11-18 17:47] zachmayer commented on #619
If you could provide some docs on writing new optimizers, I'll try my hand at porting adagrad from keras:
https://github.com/fchollet/keras/blob/a19c9ecfbd99a0fc60c476fb8a0fbd3284a9d620/keras/optimizers.py#L116

[2015-11-18 18:04] jermainewang commented on #540
Hi,

Here is a simple example on how to do it in callback way. I use the [cifar10](https://github.com/dmlc/mxnet/tree/master/example/cifar10) example as the code base.

What you need to do is to capture the optimizer in a function closure:
[code]
On my machine, it outputs something like followings:
[code]

Hope this helps,

-Minjie

[2015-11-18 18:05] tqchen commented on #362
It is never hard to explicit save something that is serializable in Rdata form.  We have ways to save graph to json string, and ndarrays(parameters) to raw type in R.

Problem is on eagerly saving things to object everytime an object is generated. Which could be costly for object such as array(means need to dump things from GPU to CPU everytime an operation is calculated).

- This eager saving app

[2015-11-18 18:25] philtomson opened #621 "OpenCL support?"
It would be nice to eventually have OpenCL support for those of us with GPUs that don't do CUDA.

[2015-11-18 18:49] jermainewang commented on #540
@shuokay, the correct way to use `lr_scheduler` is to pass it to `mx.model.FeedForward`:
In lenet.py
[code]
Interestingly, there is a bug in optimizer that is fixed in #622, so it should work now.

Thank you for your question!

Minjie

[2015-11-18 18:53] jermainewang commented on #621
Hi,

We are considering this as well! The thing is that for company like AMD, they are actually developing environments that is compatible with CUDA in the future: http://www.anandtech.com/show/9792/amd-sc15-boltzmann-initiative-announced-c-and-cuda-compilers-for-amd-gpus. So we are still deciding whether we are going to put our limited human resources into supporint OpenCL. If you are interested,

[2015-11-18 18:55] thirdwing commented on #619
@zachmayer

See https://github.com/dmlc/mxnet/blob/master/R-package/R/optimizer.R#L4 as an example.

[2015-11-18 18:56] huazehuang commented on #617
The training command ```fit``` is the same. You just need to specify a multi input network and data iterator.

Note that the default data iterator currently does not support multi source input.  You need to hack a little of [NDArrayIter](https://github.com/dmlc/mxnet/blob/master/python/mxnet/io.py#L126) to build your own data iterator.

[2015-11-18 18:56] jermainewang commented on #598
Hi, thanks for your advice! This will indeed help a lot to avoid bugs in copy/paste codes. Would you like to offer a hand on this? :)

Minjie

[2015-11-18 19:03] gujunli commented on #621
Hi Minjie,

Maybe we can collaborate on extending MXnet with OpenCL support. we have
Opencl caffe open sourced, I guess we can reuse the core kernels?

thanks!
Junli
On Nov 18, 2015 10:53 AM, "Minjie Wang" <notifications@github.com> wrote:

[2015-11-18 19:20] jermainewang commented on #621
Ha, it's great to hear voice from AMD people here :p. I heard that the problem of integrating OpenCL is mainly due to its support for template which is widely used in mshadow. @tqchen may know more details about this.

Minjie

[2015-11-18 19:32] udibr commented on #540
you can try my Adam pull request https://github.com/dmlc/mxnet/pull/623

[2015-11-18 19:33] mli commented on #606
if the gpus are identical, you can fix a batch size of each gpu, say 48, then `batch_size = 48 * num_gpus_on_this_machine.`. otherwise please refer to PR #566

[2015-11-18 19:43] mli commented on #621
@gujunli it's very nice to see you here, (we met at icml beijing last year). we are definitely interested on opencl, and hope to support it asap. but the current issue is that we used C++ template while opencl doesn't support it, see https://github.com/dmlc/mshadow/issues/71

[2015-11-18 19:55] gujunli commented on #621
template is an issue. On AMD devices we have special keyword to support, no
problem. The problem is the same key word does not work on NV GPUs. we are
also figuring out a general solution. I would like to hear your thoughts on
this.@limu @minjie

junli

On Wed, Nov 18, 2015 at 11:43 AM, Mu Li <notifications@github.com> wrote:

--
************************************************
Junli Gu--谷俊丽
Coord

[2015-11-18 19:59] mli commented on #621
nvidia gpu should be file with cuda. our main motivation to support opencl is for amd gpus and other devices, such as fpga. for example, altera also contacted us to make mxnet run on their devices.

[2015-11-18 20:00] tqchen commented on #621
This won't pose a problem as long as AMD's version of compiler support somewhat similar thing as nvcc does, i.e. template programming and allow integration of host and device code.

What can be done is to have something like  tensor_gpu-inl.amd.cc to specialize for AMD's version of keyword. As long as the extra keyword is minimum and the compiler can be detected by marco, it should be fine.

[2015-11-18 20:12] pluskid commented on #617
Doesn't ndarray iter already support multiple input?

[2015-11-18 20:50] thirdwing commented on #362
Let me write `mx.model.save.Rdata`/`mx.model.load.Rdata` and do some benchmarking.

[2015-11-18 22:49] lukemetz commented on #603
Does mshadow/mxnet support this? I too was trying to write a sum op but ran into issues constructing scalars(tensors with zero shape). In addition it looks like ndarray doesn't support at-least construction of scalars. Is the workaround just leave it in shape (1,)?

[2015-11-18 23:13] vchuravy commented on #621
@philtomson The problem is more for the kernel code. OpenCL uses C as a language for its kernels and MXNet uses C++ for CUDA and CPU kernels and is able to generate both from the same template, which is nice because you don't need to support 2 or 3 different versions of things.

[2015-11-18 23:35] mli opened #625 "improve the sematic of lr_scheduler"
the current lr_scheduler is based on epoch, it is not flexible, and it has problem with the distributed training, where the optimizer runs on the server nodes. a server node neither can get the current epoch number, nor there is a clear definition of epoch for async sgd.

i suggest to turn to a `batch` based lr scheduler implemented in python/mxnet, while provide an epoch like interface to users,

[2015-11-18 23:42] pluskid commented on #625
Can we put learning rate in kvstore and synchronize it?

[2015-11-18 23:45] mli commented on #625
currently it only syncs once when call `kvstore.set_optimizer(optm)`. syncing later is nontrivial in a full async updating, some nodes may fast while others may slow, especially, any worker may die at any moment if running on the ec2 spot instance

[2015-11-18 23:46] piiswrong commented on #625
This will result in different learning rate for each layer right?

[2015-11-18 23:47] piiswrong commented on #625
With async sgd, each thread push their own grad update on their own weight, I think they should all increment num_updates by one.

[2015-11-18 23:48] mli commented on #625
no if set num_update = "the maximal number of updates applied to a weight", so every layer share the same upper bound. we can support defining a scheduler for each layer, but it seems over-engineering.

[2015-11-19 02:31] jermainewang commented on #625
Which scenarios are you talking about? SGD or ASGD? I think in no matter
which way the update and the adjustment of learning rate should happen on
server side.

   - In distributed SGD, the minibatch will be carved into smaller pieces
   and the update will be performed after gathering all worker’s gradient.
   - In distributed ASGD, after each minibatch, the update will happen.

lr_scheduler shou

[2015-11-19 03:08] mli commented on #625
one example is the alexnet, it has a few conv layers and three big fullc layers. in order to reduce the communication overhead but still enjoy a small batch size, we can sync & update the conv layers for each batch, while sync the fullc layers for every 10 batches.

[2015-11-19 03:13] jermainewang commented on #625
Oh i see. This the variable batch size trick in Alex paper. Do we have plan
to implement that?

On Wed, Nov 18, 2015 at 10:08 PM, Mu Li <notifications@github.com> wrote:

--
Minjie Wang
*New York University | Computer Science*
715 Broadway, New York, NY, 10009

[2015-11-19 03:28] mli commented on #625
probably not in a near future except that we going to train a distributed vgg or other large models

[2015-11-19 05:03] iamhankai opened #628 "Any tools to convert pretrained mxnet model to model for caffe?"
Any tools to convert pretrained mxnet model to model for caffe?

[2015-11-19 05:06] hetong007 opened #629 "[R] A shiny app to demonstrate image prediction from a pre-trained model"
[Shiny](http://shiny.rstudio.com/) is an R package which enables users to build web app with R as the computational backend. We can make an app demonstrating the image prediction to users in real time.

One similar shiny app example is demonstrating image compression by svd: https://yihui.shinyapps.io/imgsvd/. For more examples of shiny, please visit http://shiny.rstudio.com/gallery/.

This issue

[2015-11-19 05:06] winstywang commented on #628
I think you should ask this question to caffe developers...

[2015-11-19 05:47] pineking opened #630 "python install error due to invalid syntax"
run the command: python setup.py install

the error is:

Extracting mxnet-0.5.0-py2.6.egg to /usr/lib/python2.6/site-packages
SyntaxError: ('invalid syntax', ('/usr/lib/python2.6/site-packages/mxnet-0.5.0-py2.6.egg/mxnet/model.py', 232, 26, '                       for k, v in train_data.provide_data}\n'))

[2015-11-19 05:49] futurely commented on #598
The latest https://github.com/dmlc/mxnet/pull/624 can serve as the orthogonal network definitions.

[2015-11-19 06:04] futurely commented on #628
To do network parameters extraction and construction in the opposite direction of https://github.com/dmlc/mxnet/blob/master/tools/caffe_converter/convert_model.py all you need are [`symbol, arg_params, aux_params = load_checkpoint(prefix, epoch)`](https://github.com/dmlc/mxnet/blob/master/python/mxnet/model.py) and https://github.com/BVLC/caffe/blob/master/examples/pycaffe/caffenet.py.

[2015-11-19 06:09] futurely commented on #619
Leslie N. Smith. No More Pesky Learning Rate Guessing Games. http://arxiv.org/abs/1506.01186.

[2015-11-19 06:30] fengfengyuyu opened #631 "[R, Windows] Two demos of mxnet have Errors"
I just installed the windows version of mxnet. Platform: x86_64-w64-mingw32/x64 (64-bit)
I tried demos. Two demos are not available as follows:

  symbol=C,
  ctx=mx.cpu(),
  arg.arrays = list(A=a, B=b),
  aux.arrays = list(),
  grad.reqs = list(FALSE, FALSE))

**Error in eval(expr, envir, enclos) :
  could not find function "mx.symbol.bind"**

![basic_excutor](https://cloud.githubusercontent.com/

[2015-11-19 06:50] vchuravy commented on #619
@futurely That would be very nice to have.

[2015-11-19 07:45] futurely commented on #337
@HyeonwooNoh's entry in the [PASVOC VOC segmentation](http://host.robots.ox.ac.uk:8080/leaderboard/displaylb.php?challengeid=11&compid=6) benchmark 	[POSTECH_DeconvNet_CRF_VOC](http://host.robots.ox.ac.uk:8080/leaderboard/displaylb.php?challengeid=11&compid=6#KEY_POSTECH_DeconvNet_CRF_VOC) achieved 74.8% average precision. In [his implementation](https://github.com/HyeonwooNoh/caffe/commits/new_da

[2015-11-19 07:52] antinucleon opened #632 "Net2DeeperNet and Net2WiderNet op"
lol, who will do it?

[2015-11-19 07:53] HyeonwooNoh commented on #337
@futurely
EltwiseAccuracyLayer is used to compute accuracy for segmentation, but
RedSoftmaxWithLossLayer is not used for segmentation (it's implemented for another purpose).
For segmentation, SoftmaxLoss layer should be refered.

[2015-11-19 07:57] winstywang commented on #337
wow, the authors are here :)
I will work on the segmentation task soon

[2015-11-19 07:58] futurely commented on #337
https://github.com/HyeonwooNoh/DeconvNet/blob/master/training/001_stage_1/stage_1_train.prototxt

[2015-11-19 14:32] anzw opened #635 "MxnetTestApp throw runtime exception on window 10 x64"
I download 20151110_win64_cpu_only.7z, when run MxnetTestApp on window 10 x64, it throws runtime exception
![10](https://cloud.githubusercontent.com/assets/4187342/11273285/692ddf2e-8f0d-11e5-9ac2-979573993a70.PNG)

[2015-11-19 15:00] thirdwing commented on #631
The binary package is from a Japanese friend: https://github.com/datasciesotist/files

[2015-11-19 15:30] udibr opened #636 "char-lstm notebook gives different (overfeat) results than saved notebook on github (py2/3?)"
I've re run the [char-lstm notebook](https://github.com/dmlc/mxnet/blob/master/example/rnn/char_lstm.ipynb) without modifing anything and compared the training and validation of the original notebook on github to the results I got (which I called SGD). It looks like something has changed and now the model is overfitting a little bit but the validation is a little bit better.
I noticed that I am ru

[2015-11-19 16:33] antinucleon commented on #636
Recently we merged a new PR which leads to these change: https://github.com/dmlc/mxnet/pull/484 .Sorry we didn't update notebook together

[2015-11-19 17:21] Strateus commented on #572
Had same issue, fixed it with same flags, but compilation stopped here:

/usr/bin/ld: cannot find -lopenblas
collect2: error: ld returned 1 exit status
Makefile:122: recipe for target 'lib/libmxnet.so' failed
make: *** [lib/libmxnet.so] Error 1
make: *** Waiting for unfinished jobs....
/usr/bin/ld: cannot find -lopenblas
collect2: error: ld returned 1 exit status
Makefile:136: recipe for target 'b

[2015-11-19 17:26] Strateus opened #638 "Compilation issue with openblas"
Edited/Added
USE_BLAS = openblas
ADD_CFLAGS =  -I/root/openblas/include
ADD_LDFLAGS = -I/root/openblas/lib

to config.mk but still get this error:

/usr/bin/ld: cannot find -lopenblas
collect2: error: ld returned 1 exit status
Makefile:122: recipe for target 'lib/libmxnet.so' failed
make: *** [lib/libmxnet.so] Error 1
make: *** Waiting for unfinished jobs....
/usr/bin/ld: cannot find -lopenblas
co

[2015-11-19 17:33] pluskid opened #639 "Update ElementwiseScalarOp"
I find the name and documentation for this argument not very informative. It seems calling `_MinusScalar(sym, scalar=2, scalar_on_right=True)` means `2 - sym`? Then shouldn't the argument be `scalar_on_left`?

[2015-11-19 17:43] antinucleon commented on #639
I think so. Default will be left.

[2015-11-19 18:19] tqchen commented on #632
They are not operators, but initialization method for building deeper/wider nets

[2015-11-19 18:20] antinucleon commented on #632
Yes I know, just for fun because in the paper you call it as ```op```

[2015-11-19 18:21] piiswrong commented on #638
-I/root/openblas/lib -> -L/root/openblas/lib

[2015-11-19 18:28] piiswrong commented on #630
try add a \ at the end of 231?

what's your python version? upgrading to 2.7 probably will resolve this.

[2015-11-19 18:32] #206 closed

[2015-11-19 18:33] #344 closed

[2015-11-19 18:33] #386 closed

[2015-11-19 18:38] Strateus commented on #638
Worked, thank you!

[2015-11-19 18:38] #638 closed

[2015-11-19 19:03] antinucleon commented on #602
Updated

[2015-11-19 19:03] #602 closed

[2015-11-19 19:05] piiswrong commented on #635
@hjk41

[2015-11-19 19:33] futurely opened #640 "Add unpooling operator for segmentation network"
https://github.com/dmlc/mxnet/pull/422 and https://github.com/dmlc/mxnet/pull/503 have added the deconvolution operator for segmentation. The other missing piece to construct a complete segmentation network is the unpooling layer (https://github.com/dmlc/mxnet/issues/337#issuecomment-157978068).
Current reference implementation is only in Caffe.
https://github.com/HyeonwooNoh/caffe/blob/new_data_l

[2015-11-19 19:40] pluskid commented on #630
it seems the OP is using python 2.6.

[2015-11-19 21:25] starimpact commented on #593
@tqchen

[2015-11-19 21:26] starimpact commented on #593
@piiswrong

[2015-11-19 21:27] starimpact commented on #593
@vchuravy

[2015-11-19 21:43] piiswrong commented on #593
Please send a minimal configuration that reproduces this warning
https://gist.github.com/

[2015-11-19 21:46] starimpact opened #641 "faild to get a value of a tensor in gpu"
@tqchen  why does it exist ? is it a bug of mxnet or mshadow ?

[2015-11-19 21:50] starimpact opened #642 "faild to get a single value of a tensor in gpu"
@tqchen @piiswrong why does it exist ? is it a bug of mxnet or mshadow ?

[2015-11-19 21:50] #641 closed

[2015-11-19 22:03] tqchen commented on #642
Can you be more specific? i.e, provide a snippet that produces your problem. If you mean directly get element from gpu into a float variable. It is indeed not possible, because the content of that float do not sit on main memory, and the instruction is not aware of that, an explicit copy to CPU is needed

[2015-11-19 22:11] tqchen commented on #593
@starimpact The best way to get help is to ***paste something that others can reproduce***, like a snippet that can be compiled  and produces the warning you mentioned. Otherwise, it is very hard for others to help you, as guessing the context of what might happened on your side, so hard for others to take actions, and reply to your issue.

This warning is quite clear, saying that there is an assi

[2015-11-19 22:14] #424 closed

[2015-11-19 22:26] tqchen commented on #593
For example, a better way on raising the issue could be something like

The following code gives the warning blabla, and there appears to be nothing wrong on this code, etc.
[code]
In this way, others can directly copy this snippet, reproduce the warning they had, and fix the potential problem. If you cannot get the snippet that reproduces the error, think about the difference between the snippet

[2015-11-19 23:36] starimpact commented on #593
😄

[2015-11-20 01:04] #625 closed

[2015-11-20 01:18] ZhreShold opened #644 "[Python API]Retrieve intermediate results using existing model"
AFAIK, there's no document regarding how to retrieve intermediate layers like
[code]

What is the best practice to get the data say fully connected fc7 data from pretrained VGG16 model in prediction?

For now, I have:
[code]

Any help is appreciated!

[2015-11-20 01:21] antinucleon commented on #644
You need to change the symbol output to get internals. For example for a ```FeedForward``` model:

[code]

If you need several outputs, you can ```group``` the internals and outputs to form a new symbol, then bind with weight.

[2015-11-20 01:29] pineking commented on #630
Fixed it by updating to python 2.7, this information should be told in prerequisites and install part of the documents.

[2015-11-20 01:30] #630 closed

[2015-11-20 01:33] tornadomeet commented on #593
i also find that when compile the newest offical mxnet(without any change), it will report this uninitialized warning.

[2015-11-20 01:46] tornadomeet commented on #640
yes, when using the [Deconvnet](http://cvlab.postech.ac.kr/research/deconvnet/) for segmentation, the last op is uppooling, but currently, the io part for segmentation is not support.
if the  mxneters agreed adding the uppolling op, i will try it.

[2015-11-20 01:52] ZhreShold commented on #644
Thanks, is it by design to eliminate internal buffer in order to save memory requirement?

[2015-11-20 01:54] worldveil commented on #600
I can confirm this fails with a clean EC2 instance:

[code]

and returns the same error.

[2015-11-20 02:28] mwegman4 opened #645 "Installing mxnet on Mac"
Hello,

I'm attempting to build and install the mxnet package to use in R/RStudo (on my Mac OSX10.10.5). I've been following the steps described in the installation guide, but am receiving an error when I try to build mxnet on the project root.

I began with:
1) Installed git
2) Terminal: git clone --recursive https://github.com/dmlc/mxnet
3) Installed homebrew [0.9.5 (git revision 3d1e; last comm

[2015-11-20 02:38] antinucleon commented on #644
Yes intermediate result will not be kept if there is no dependency.

[2015-11-20 02:44] worldveil commented on #531
OK, that's somewhat helpful. Is there an example of the C API used as a C script?

[2015-11-20 03:05] playerkk commented on #337
Is that possible to assign different weights to different ground-truth labels? The weight can be set as 1/f_i, where f_i is the frequency of the i-th label in the training set, to deal with the unbalanced number of training samples of different classes.

[2015-11-20 03:10] futurely commented on #337
In "Learning Deconvolution Network for Semantic Segmentation", "for both datasets, we maintain the balance for the number of examples across classes by adding redundant examples for the classes with limited number of examples."

[2015-11-20 03:18] futurely commented on #337
In more [traditional](http://scikit-learn.org/stable/auto_examples/linear_model/plot_sgd_weighted_samples.html) machine learning algorithms, [weighted sample](http://scikit-learn.org/stable/auto_examples/svm/plot_weighted_samples.html) are not unusual. But long tail samples sometimes hurt the performance in DL experiments [2]. It's doubtful whether duplicating them will be of any help.

[2] Erjin

[2015-11-20 03:19] playerkk commented on #337
@futurely Please take a look at Eq.(1) of http://www.cv-foundation.org/openaccess/content_cvpr_2015/papers/Mostajabi_Feedforward_Semantic_Segmentation_2015_CVPR_paper.pdf

[2015-11-20 03:27] futurely commented on #337
As you can see on the PASCAL VOC 2012 segmentation [leaderboard](http://host.robots.ox.ac.uk:8080/leaderboard/displaylb.php?challengeid=11&compid=6#KEY_POSTECH_DeconvNet_CRF_VOC), most top performing submissions are using the Microsoft COCO dataset to further boost performance. The observation is very similar with what was discovered in "Naive-Deep Face Recognition": big data is more effective tha

[2015-11-20 03:28] mli commented on #600
@worldveil oh, yeah, i repeated the problem on ec2 too... it looks like due to the numpy automatically installed by `setup.py`

i resolved the this problem by

[code]

it will install a lower version

[code]

but i do have a numpy 1.10.1 installed on a machine it works well. @antinucleon can you have a look at it?

[2015-11-20 03:34] Kublai-Jing commented on #394
where could I start working on this issue ? as what @pluskid  suggests ? Current implementation prevents us from creating long sequences lstm (memory will blow)

[2015-11-20 03:36] qmiwang opened #646 "Error in RNN Sample"
Maybe there is an error in lstm.py
line 186 : ` def set_rnn_inputs(m, X, begin):`
Given two sequences : `x1= [0, 1, 2, 3, 4]'`  and `x2= [5, 6, 7, 8, 9]'`
then we get X_batch: `X =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]'`, with batch_size is one.
After calling:  `set_rnn_inputs(m, X, 0)`
we get seq_data and seq_labels for sequence 1 (i.e. `x1`):
 `seq_data = [0, 1, 2, 3, 4]'` and  `seq_labels = [1, 2, 3,

[2015-11-20 04:02] piiswrong commented on #645
could you provide more detail before ld: symbol(s) not found for architecture x86_64
?

[2015-11-20 04:14] antinucleon commented on #394
@Kublai-Jing I am working on taking embeding directly. Will PR back today or tomorrow.

[2015-11-20 04:16] Kublai-Jing commented on #394
awesome !

[2015-11-20 04:26] tqchen commented on #639
I think we need to fix this, rename scalar_on_right->scalar_on_left, and fix this case https://github.com/dmlc/mxnet/blob/master/src/operator/elementwise_binary_scalar_op-inl.h#L139

@yajiedesign

[2015-11-20 04:29] tqchen commented on #639
cc @yajiedesign who contributed the elementwise binary op. It is partly due to my uncareful code review.

I think two things need to be fixed

- rename scalar_on_right to scalar_on_left, which is what it really means on code.
- Check https://github.com/dmlc/mxnet/blob/master/src/operator/elementwise_binary_scalar_op-inl.h#L139 , which actually is logic for right operand, and change it

[2015-11-20 04:33] piiswrong commented on #593
fixed by https://github.com/dmlc/mxnet/pull/643

[2015-11-20 04:33] #593 closed

[2015-11-20 04:44] XericZephyr commented on #646
What's the actual sequence you mean?
[0 1 2 3 4 5 6 7 8 9] or [0 5 1 6 2 7 3 8 4 9] ?

If you mean the first, I think the result is OK.

[2015-11-20 04:59] wangxianliang opened #647 "Is it possible for mxnet to implement multi-task learning?"
For example:
On training:
Task A: Data_A, Label_A, loss_A
Task B: Data_B, Label_B, loss_B
The two tasks share the same hidden layer and cnn layer, the data layer, fully connected layer and loss layer are different.
On testing:
Input a sample, predict the task B & task B label.

[2015-11-20 05:02] XericZephyr opened #648 "[BUG] Different Batch Size for Train and Validation data."
# Bug Description

There is a bug found when the `batch_size` of train and validation data is different.

The behavior is actually very weird.

1. When the train `batch_size` < val `batch_size`, the validation accuracy will always be zero.
2. When the train `batch_size` == val `batch_size`, the result is fine.
3. When the train `batch_size` > val `batch_size`, there is an exception raised.

I thin

[2015-11-20 05:06] XericZephyr commented on #648
I will try to contribute a temporary solution to fix the case when train `batch_size` < val `batch_size` for Accuracy metric. It will come shortly.

[2015-11-20 05:08] piiswrong commented on #647
yes, but the default FeedForward model only support single loss. You'll need to write your own model and solver. Check examples/autoencoder/model.py&solver.py for example.

[2015-11-20 05:10] tqchen commented on #647
I think Feedforward already support multiple losses, as long as you group together? At least seems that was the case in julia @pluskid . We might need a toy example for this

[2015-11-20 05:16] pluskid commented on #647
Yes! I believe multiple loss in Python is also supported. Something like this:
[code]

[2015-11-20 05:26] XericZephyr commented on #647
Agreed with @pluskid .

[2015-11-20 05:51] hjk41 commented on #635
The bug reproduces on my machine. I am debugging now.

On Fri, Nov 20, 2015 at 3:05 AM, Eric Junyuan Xie <notifications@github.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-20 06:20] liueryun opened #651 "compile error on Mac OS X Yosemite"
My system environment:
Mac OS X Yosemite
atlas
no cuDNN
Apple LLVM version 6.1.0 (clang-602.0.49)

Below is the error information:

g++ -c -O3 -Wall -msse2  -Wno-unknown-pragmas -Iinclude  -std=c++0x -fopenmp -fPIC -DDMLC_USE_HDFS=0 -DDMLC_USE_S3=0 -DDMLC_USE_AZURE=0 -o recordio.o src/recordio.cc
g++ -c -O3 -Wall -msse2  -Wno-unknown-pragmas -Iinclude  -std=c++0x -fopenmp -fPIC -DDMLC_USE_HDFS=0 -

[2015-11-20 07:21] antinucleon commented on #651
Please copy ```make/osx.mk``` to ```./config.mk```, then try to make

[2015-11-20 08:40] antinucleon commented on #394
After https://github.com/dmlc/mxnet/pull/654 merge, embedding problem seems will be solved.

[2015-11-20 09:12] piiswrong commented on #648
I think It would be better to just force them to be identical, since the network is only allocated for training batchsize not testing

[2015-11-20 09:17] Strateus opened #655 "WindowsError in python 2.7 (Anaconda) after cmake/VS2013 compilation successful"
I have Windows 7 64.
I modified base.py to print the path:

[code]

I dont see any documentation warnings that i need to use Python 3.0+. Cmake though warned that he wasnt able to find python 3+ binaries. And Ubuntu version works good on python 2.7.10 (Anaconda as well). Is windows version of mxnet is for Python 3 only?

[2015-11-20 09:55] futurely opened #656 "Use iterations directly instead of epoch_size"
From the early experiences of training DL models https://github.com/BVLC/caffe/issues/59#issuecomment-33399073, most of the time epoch size, i.e. the number of samples, is a totally unnecessary and annoying burden for the users to maintain. It's much more natural to use iterations directly and automatically go to the beginning at the end of the dataset. At least it should become optional and secon

[2015-11-20 10:43] futurely opened #657 "Abstract the train_model example into a generic tool"
The [lastest](https://github.com/dmlc/mxnet/tree/0e08b173c0545b0db92335fad3ed4b482f4a3c98/example/image-classification) image classifcation examples are more re-usable than the older versions. It is helpful to further evolve them into more generic tools to train any model on any dataset.

The use case is users can start training by passing in some necessary parameters such as symbol_network, data_

[2015-11-20 10:50] futurely opened #658 "Checkpoint every some iterations"
`mxnet.callback.do_checkpoint` is usable as the epoch_end_callback. It is desirable to checkpoint more frequently since the model might reach the peak performance in the middle of an epoch.
[code]

[2015-11-20 11:21] zhangkaixu opened #659 "[Python Symbolic API] failed to use one symbol multiple times in a single op"
for example
`sym.concat(s1, s1)` or `s2 = s1 * s1`
If I do so, the model can be trained by calling `fit()` due to the logs I see. But it stopped there and cannot execute the rest of my code.

Of course I can replace `s1 * s1` by `s1 ** 2`, but this is a bug, right?

[2015-11-20 12:06] futurely opened #660 "Print detailed architecture definition and check shapes during network construction"
for two reasons:
1. Save the training output in log files for each experiment and the above information helps users find out the network architectures in question retrospectively.
2. Fail early if the shapes are inconsistent. The errors in a network definition can be found out before the network starts to run. Otherwise, the program just crashes and emits a huge core dump file which is much less u

[2015-11-20 12:14] futurely opened #661 "Unify the evaluation metric such as accuracy API with the operators"
Treat evaluation operations specially with a API different from the operators add unnecessary confusion and complexity in model definition.
Where to plug in the accuracy?
[code]
Appearing along with its input is a much clearer solution.
[code]

[2015-11-20 13:29] winstywang commented on #337
I will work on segmentation task from next week. I think the first step is to implement the basic FCN model instead of the second model.

[2015-11-20 13:32] winstywang commented on #531
Sorry there is no such examples currently. It should not be hard since the interface is clearly defined. Looking forward to your contribution if possible.

[2015-11-20 13:50] starimpact commented on #642
matrix divided by a scalar(this is a element from a tensor vector) should be supported in gpu. i think so.

[2015-11-20 13:52] yajiedesign commented on #639
https://github.com/dmlc/mxnet/pull/653 change ok

[2015-11-20 13:55] starimpact commented on #642
i.e. M is a matrix tensor, V is a vector tensor.
expression ```M/V[i]``` will be failed in gpu, but will be successful in cpu.
as well as ```std::cout<<V[i]```.

[2015-11-20 15:49] wangg12 opened #663 "Add an optional parameter to visualise the architecture of networks with other shapes?"
Currently, in https://github.com/dmlc/mxnet/blob/master/python/mxnet/visualization.py#L62, the shape of elements is "box". Personally I think other shapes like "oval" may look better, because boxes occupy too much space.   ^_^

[2015-11-20 17:24] wangg12 commented on #663
@pluskid How to fix the problem that both the `plot_network` method and `node_attr` dict have "shape"  ?

[2015-11-20 17:36] jermainewang commented on #658
Hi,

I think you could do this using `batch_end_callback`. One example is the [`Speedmetor` ](https://github.com/dmlc/mxnet/blob/master/python/mxnet/callback.py#L52). You could implement similar callback but do `save_checkpoint` in the function body.

-Minjie

[2015-11-20 17:41] futurely commented on #658
The snippet does that. Please help commit it. Thanks!

[2015-11-20 17:43] jermainewang commented on #657
Good suggestion. Let me summarize what you suggests:
* Separate dataset parameters and optimization parameters with network configuration.
* Allow command line (or separate config file) to accept dataset/optimization parameters for easy use.
Do I understand your points?

Also, I think we should unify the semantics of command line arguments of our applications, so once users learn how to use one ap

[2015-11-20 17:48] futurely commented on #657
Yes, those requirements are exactly what the users need in daily use. Thanks for your interest!

[2015-11-20 17:48] jermainewang commented on #656
I think we already support that. The `NDArrayIter` could support `last_batch_mode` as [`roll_over`](https://github.com/dmlc/mxnet/blob/master/python/mxnet/io.py#L140) which may be what you want?

[2015-11-20 17:48] tqchen commented on #658
@futurely Would be great if you can open a PR on this:) Maybe rename the do_checkpoint to be do_checkpoint_during_iteration

[2015-11-20 17:51] futurely commented on #656
To be more clear, I mean these [`epoch_size`](https://github.com/dmlc/mxnet/search?utf8=%E2%9C%93&q=epoch_size) should be replaced by iterations.

[2015-11-20 17:55] pluskid commented on #663
you can merge the dict provided by user if not none. the mergedn dict will overwite existing entries.

[2015-11-20 17:56] tqchen commented on #656
These are optional parameters, which are only needed for consensus purpose for distributed training. For single machine, num_epoch is used

[2015-11-20 17:59] #631 closed

[2015-11-20 17:59] futurely commented on #656
The document should be more explicit about the usage of user facing parameters.

[2015-11-20 18:01] jermainewang commented on #661
Hi,

Thank you for you suggestion. With your code, you need to do softmax in order to compute accuracy. But this is a redundant computation, since one could directly compute accuracy without softmax. Maybe return some thing like:
[code]
is better?

-Minjie

[2015-11-20 18:06] futurely commented on #661
You're right. Softmax is only for normalized class probabilities. The update signatures of `Accuracy` in the two cases are the same.

[2015-11-20 18:06] tqchen commented on #642
The problem is on ```V[i]```, reading i-th element from the vector. Which is not supported. For a compiler, this means get the value from address ```v.data+i```. And the compiler do not know the address is on GPU.

Note that all scalars(floats) sits on registers on CPU, so in order to do that, we need to copy the value from ```v.data+i``` to CPU, e.g. by allocating a length-1 vector cpu tensor.

S

[2015-11-20 18:10] tqchen commented on #656
Yes, you are absolutely right. The best way is to improve it when we find things that can be improved, so it can always be better? It would be great if you can open a PR to contribute your wisdom into this case and improve the docstring so people won't get confused later

Thanks!

[2015-11-20 18:15] futurely commented on #656
This example is just a special case of the bigger issue in https://github.com/dmlc/mxnet/issues/657.

[2015-11-20 18:15] #656 closed

[2015-11-20 18:19] tqchen commented on #661
This specification really depends on what was wanted. I will mark this a discussion thread.

From some perspective, it is cleaner from a modeling point of view to separate evaluation, model configuration and loss function(which we did not). The idea is model configurations contains everything that is necessary for prediction, but not others. Some comparisons

- The current evaluation interface wor

[2015-11-20 18:25] tqchen commented on #656
Again it will be great to have your contribution in opening a PR to help making mxnet better. I see improvement even w.r.t. to this issue is great for all of us, and such steps of changes can again big momentum easier, with your wisdom and code into it

[2015-11-20 18:30] zachmayer opened #664 "A Neural Algorithm of Artistic Style"
I was wondering if anyone would be interested in helping me replicate the images from this paper?
http://arxiv.org/abs/1508.06576

It looks like it's just a bunch of covnets, so we could possibly start with the pre-trained models and then try to reverse engineer the author's approach for combining images.

It'd make for a really, really cool mxnet demo =D

[2015-11-20 18:42] XericZephyr commented on #648
I think so. Just forcing them to be the same is more rigid. But for who is not familiar with mxnet framework, this kind of restriction is very frustrating. For now, I think allowing user to set train `batch_size` <= val `batch_size` might leave user more flexibility.

So, here is the choice, the rigid one or user-friendly one?

[2015-11-20 19:03] futurely commented on #661
The proposed interface enables even easier replacement of `accuracy = mx.symbol.Accuracy(data=fc, name = "accuracy")` with `euclidean = mx.symbol.Euclidean(data=fc, name = "regression")`.

Re-evaluation is still possible as long as the prediction is the output. `bboxes, pascal_voc_mean_average_precision = get_symbols()` and then `average_precision = mx.symbol.MsCocoAveragePrecision(bboxes)`.

Mult

[2015-11-20 19:38] mli commented on #658
you can set `epoch_size` to reduce the size of an epoch, whose default value is `num_examples/batch_size`

[2015-11-20 19:53] tqchen commented on #659
Thanks for reporting this, should be fixed after #665 get merged

[2015-11-20 19:53] mli commented on #664
that's absolutely awesome! we can also setup a website so others can try it easily

[2015-11-20 20:00] zachmayer commented on #664
see also http://www.deepart.io/

[2015-11-20 20:01] mli commented on #664
exactly. i think we can speedup the prediction time a lot comparing them:)

[2015-11-20 20:02] zachmayer commented on #664
Agreed!  I also want to try it out locally =D

[2015-11-20 20:03] mli commented on #664
sure. please ping me at anytime if you have problem to get it run

[2015-11-20 20:09] tqchen commented on #664
For web-service, related to #629

[2015-11-20 20:19] zachmayer commented on #664
@mli I haven't even started yet, so any suggestion you have would be appreciated.  I'm try to figure out how to begin:  should I start with a pre-trained network, or should I somehow train a network on a pair of images alone?

[2015-11-20 20:48] mli commented on #664
i guess we can first reuse the pretrained caffe models https://github.com/jcjohnson/neural-style/tree/master/models (mxnet can load caffe models)

then try to translate their lua codes to mxnet

we may consider train the network later. we already have vgg model training codes there
https://github.com/dmlc/mxnet/tree/master/example/image-classification

[2015-11-20 21:17] starimpact commented on #642
do you mean ```M/3.0f```is also only work on CPU?
so the only way to make this type expression work on gpu is to fill 3.0f to a matrix which is same size to M.
but the question is whether the generation of matrix of value 3.0f could be finished on gpu ?

[2015-11-20 21:21] piiswrong commented on #660
Which op generated this? Ideally this should be caught in infershape before forward/backward starts.

[2015-11-20 21:26] #659 closed

[2015-11-20 22:24] thirdwing commented on #629
A very simple version has been done.

https://github.com/thirdwing/mxnet_shiny

[2015-11-20 22:43] Strateus commented on #655
Any help please?

[2015-11-20 22:44] phunterlau commented on #664
Training the model needs much time and tune. I have tried the Lua version of  https://github.com/jcjohnson/neural-style/tree/master/models for producing neural style pictures, and it worked nicely. The lua version loads the caffe model, so mxnet can load the same model too from model.sh and simply replicate the producing script from Lua to python with mxnet.

![Pogo with oil painting style](https:

[2015-11-20 22:52] phunterlau commented on #645
do you use clang or gcc from brew? I had similar problem with gcc from brew, if change back to clang (from xcode), it solves the problem

[2015-11-20 22:58] antinucleon commented on #664
The example looks cool. I think we can do it on Inception instead of VGG

[2015-11-20 23:26] tqchen commented on #629
@thirdwing can we find anyplace to host it?

[2015-11-20 23:28] hetong007 commented on #629
This might be a good place: https://www.shinyapps.io/

[2015-11-20 23:28] futurely commented on #658
Still need to do an extra computation `checkpoint_iters * batch_size` or re-computation when `batch_size` is changed. Simply setting `checkpoint_iters` is more user friendly.

[2015-11-20 23:29] tqchen commented on #642
You can try it out, ```M / 3.0f``` works on GPU. The point is that the ```3.0f``` sits on CPU.

The problem you encountered is due to  operation  ```float a =  V[i]```. Which compiler treats as a CPU memory load. So you will need to copy V[i] back to CPU first

[2015-11-20 23:32] futurely commented on #658
The same applies to `validation_iters` which can't be set explicitly now.

[2015-11-20 23:33] thirdwing commented on #629
At least you should have a look at http://107.170.74.195:3838/mxnet/

Then we can talk about deployment in other places.

[2015-11-20 23:34] thirdwing commented on #629
It is a weak server with only 1GB memory, so it is really slow.

[2015-11-20 23:36] futurely commented on #660
All errors are posted. There is no clue to find out the answer. That's why all relevant information should always be printed out.

[2015-11-20 23:36] tqchen commented on #629
Looks nice, would be great if user can also simply provide an URL to the image on the web

[2015-11-20 23:52] tqchen commented on #629
cc @mli

[2015-11-21 00:08] mli commented on #629
let's do the following things

1. put things into docker to easy deploy and upgrade
2. find a proper aws instance you want, say c4.2x large, i will create one (or a few if there are a lot of traffic)
3. ping @phunterlau to redirect a sub-domain of dmlc.io or dmlc.ml to that ip address

[2015-11-21 00:21] tqchen commented on #655
This seems to be same error @thirdwing encountered, which happens to some windows machine but we do not know why, @hjk41 do u have any idea on this?

[2015-11-21 01:08] thirdwing commented on #655
Exactly the same error on my machine.

[2015-11-21 01:08] starimpact commented on #642
does it affect the performance?

[2015-11-21 01:11] tqchen commented on #642
It only involves copy of small amount of data back to CPU, so presumably no

[2015-11-21 01:15] tqchen commented on #614
````len(y)``` indeed equals batch_size. Would be great if you can suggest a simpler version

[2015-11-21 01:22] thirdwing commented on #629
OK. I will make a docker for this.

[2015-11-21 01:30] #606 closed

[2015-11-21 01:30] tqchen commented on #394
fixed by #654  Please check updated LSTM examples

[2015-11-21 01:36] #628 closed

[2015-11-21 01:36] phunterlau commented on #629
got it, what subdomain do you want? I can simply add a cname to it. `shiny.dmlc.ml` for example?

[2015-11-21 01:37] #558 closed

[2015-11-21 01:37] #540 closed

[2015-11-21 01:40] #478 closed

[2015-11-21 01:40] tqchen commented on #472
Let us see if there is any updates on this

[2015-11-21 01:41] tqchen commented on #465
Let us know if there is update on this, going to close this for now

[2015-11-21 01:41] #465 closed

[2015-11-21 01:41] tqchen commented on #329
close due to a bit outdated, reopen later

[2015-11-21 01:41] #329 closed

[2015-11-21 01:41] yajiedesign commented on #655
you Anaconda is 64bit? and you compilation mxnet with 64bit?

[2015-11-21 01:41] phunterlau commented on #664
is inception faster than vgg? vgg model is so slow as 2min on a titan x, which prevents it from being production

[2015-11-21 01:42] tqchen commented on #401
now that both julia and python data interface should support multiple input data, please feel free to reopen this or open a new issue if there is any questions

[2015-11-21 01:42] #401 closed

[2015-11-21 01:43] tqchen commented on #598
closing for now, as #624

[2015-11-21 01:43] #598 closed

[2015-11-21 01:44] tqchen commented on #636
@antinucleon can you update the notebook result and close this issue?

[2015-11-21 01:44] tqchen commented on #597
closed by #620

[2015-11-21 01:48] #495 closed

[2015-11-21 01:48] #492 closed

[2015-11-21 01:49] tqchen commented on #557
closing for now, feel free to reopen if you have further questions

[2015-11-21 01:49] #557 closed

[2015-11-21 01:49] #597 closed

[2015-11-21 01:50] tqchen commented on #512
move discussion to #586

[2015-11-21 01:50] #512 closed

[2015-11-21 01:51] tqchen commented on #516
thanks to @yang1fan2 this is now supported

[2015-11-21 01:52] tqchen commented on #516
#650

[2015-11-21 01:52] #516 closed

[2015-11-21 01:56] tqchen commented on #553
closing for now, feel free to reopen when needed

[2015-11-21 01:56] #553 closed

[2015-11-21 01:57] #588 closed

[2015-11-21 01:59] #644 closed

[2015-11-21 02:02] tqchen commented on #614
closing for now, but please open a PR or new issue if you have a new proposal

[2015-11-21 02:02] #614 closed

[2015-11-21 02:02] piiswrong commented on #617
NDArrayIter already supports multi input/output. Just pass in multiple data source.

[2015-11-21 02:02] #617 closed

[2015-11-21 02:02] tqchen commented on #642
closing for now as the question get answered

[2015-11-21 02:02] #642 closed

[2015-11-21 02:04] tqchen commented on #583
going to mark it as help wanted, would be great if someone could to open a PR to contribute this:)

[2015-11-21 02:05] #552 closed

[2015-11-21 02:06] tqchen commented on #578
closing for now, you will need to compile mxnet with GPU before install R pkg

[2015-11-21 02:06] #578 closed

[2015-11-21 02:07] #461 closed

[2015-11-21 02:07] tqchen commented on #378
closing for now

[2015-11-21 02:07] #378 closed

[2015-11-21 02:11] tqchen commented on #640
Yes, that would be great

[2015-11-21 02:13] tqchen commented on #648
merged in the fix by @XericZephyr for now. Thanks! In future, enforcing the same batch size might be a better idea

[2015-11-21 02:13] #648 closed

[2015-11-21 02:14] tqchen commented on #603
Yes, currently we construct it using shape ``` (1,)```

[2015-11-21 02:15] tqchen commented on #603
c.f.  norm https://github.com/dmlc/mxnet/blob/master/src/ndarray/unary_function-inl.h#L82

[2015-11-21 02:39] qmiwang commented on #646
@XericZephyr I updated my words. And I am confused about the orgnization of the dataset (`X_train_batch`). May you please explain it again?

[2015-11-21 03:35] phunterlau commented on #629
by the way, I see you use port number with path. If possible, with the AWS server, can you get a standalone IP, e.g. 107.170.74.195 so I can add an 'A' record to `shiny.dmlc.ml` to this IP. It is the best and universal solution, otherwise I may need to add http redirect which may have issue of multiple backend machines (multiple A record is very fine).

[2015-11-21 03:45] Kublai-Jing commented on #394
Actually I found that the embedding version is about 2 times slower than the original one. Is that normal ?

[2015-11-21 04:01] thirdwing commented on #629
OK.

@phunterlau Now the shiny app is at http://107.170.74.195/

@tqchen It can take url.

[2015-11-21 04:04] XericZephyr commented on #646
I think you should first got an understanding of language model, which is just to predict the next word using the previous words. For example, in sequence [0, 1, 2, 3, 4], if input 1, also from previous information stored in `c`(cell state) and `h`(hidden state, also output), you get an ideal output 2.

For organization of `X_train_batch`, let's take an example.
Assume now you have a sequence [1,

[2015-11-21 04:46] phunterlau commented on #629
nice, here we go <http://shiny.dmlc.ml/> if you want to change to some other sub-domain, feel free to ask here. Just an easy A record.

[2015-11-21 04:58] phunterlau commented on #629
a small problem while using URL: if give some URL images for example https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg it shows an error `Attempted to assign value to a read-only reactivevalues object` I tried multiple URL links, none worked.

[2015-11-21 05:02] hetong007 commented on #629
I successfully used the URL about 30 mins ago, but I got the same error now.

[2015-11-21 05:21] thirdwing commented on #629
Please wait for a while. I am updating it.

[2015-11-21 05:42] thirdwing commented on #629
It should work now. Really inexperienced in shiny.

[2015-11-21 05:55] hetong007 commented on #629
Thanks, it works now, but it seems to have too much workload for the server. I got the error message `cannot popen '/usr/bin/which 'convert' 2>/dev/null', probable reason 'Cannot allocate memory'`

[2015-11-21 06:01] thirdwing commented on #629
`convert` is used by `imager` package and it is a little expensive for a server with 1 GB RAM, especially dealing with large figures.

[2015-11-21 06:15] qianguih commented on #617
sorry, could you be more specific? how to write the script?

[2015-11-21 06:24] Strateus commented on #655
Python 2.7.10 |Anaconda 2.3.0 (32-bit)| (default, Nov  7 2015, 13:29:20) [MSC v.1500 32 bit (Intel)] on win32
mxnet compilation is 64 bit, i used Cmake and VS2013, there is no 32 bit option. How can i make 32 bit compilation of mxnet?

[2015-11-21 07:19] tqchen opened #670 "[Vote] Centralized Page for Links of Examples, Apps, Awesomethings"
Now MX have many examples, mobile and web apps, we need a ***centralized page*** to help user find all these awesome resources(i.e. links to these resources). This is a vote on where to put this page. Please cast vote by reply to this issue

- (1) example/README.md
- (2) mxnet wiki
- (3) doc/awesome-mxnet.md
- (4) a separate repo (dmlc/awesome-mxnet)

[2015-11-21 07:21] tqchen commented on #670
@hetong007 @thirdwing @pluskid @mli @antinucleon @piiswrong

[2015-11-21 07:44] hetong007 commented on #670
I vote for (3) or/and (1). (4) might drive users' attention away.

[2015-11-21 07:48] wangg12 commented on #670
I vote for a wiki(3) like what torch does.

[2015-11-21 08:01] pluskid commented on #670
I vote for (1) and use have some way to automatically be linked in doc (3).

(2) should also be good as it allows other people to edit (?), but I think the main thing should still be (1) or (3) -- just to be consistent with the rest of the documentation system. Otherwise users might get confused. Probably in the main example doc, add pointers to wiki for something like "more examples from the comm

[2015-11-21 08:18] pineking commented on #670
I vote for (1).

[2015-11-21 11:39] changkun commented on #575
Well, [Integrity Protection](https://developer.apple.com/library/watchos/documentation/Security/Conceptual/System_Integrity_Protection_Guide/System_Integrity_Protection_Guide.pdf) seems like a really big problem when frameworks do not adaptive for OSX 10.11. On the Runtime Protections section we know that any dynamic linker (dyld) environment variables,such as DYLD_LIBRARY_PATH, are purged when la

[2015-11-21 14:24] raygit opened #671 "stream_gpu-inl.h:65: Default GPU stream was used when MSHADOW_FORCE_STREAM was on"
Hi all,

Sorry to bother you but i encountered this issue when i attempted to run the binary after the file ***basic_stream.cu*** was built, and it threw out the message:
[code]
Appreciate your help as to why this is occurring?

Btw, i've compiled this on OSX El Capitan with CUDA 7.5 installed; path settings appear to be correct.

[2015-11-21 14:56] antinucleon commented on #670
vote for 1

[2015-11-21 16:31] thirdwing commented on #670
1 or 3
On Nov 21, 2015 2:21 AM, "Tianqi Chen" <notifications@github.com> wrote:

[2015-11-21 16:42] Strateus opened #673 "ImageRecordIter loading error"
converted 11 images with im2rec tool:

[code]

 tried to import with ImageRecordIter, got these errors:
[code]
and without path_imglist:
[code]

a bug?

[2015-11-21 17:13] tqchen commented on #629
@thirdwing @phunterlau  @mli  We will need to add one more functionality. Allow user to give feedback to rate the result, and provide a text box of label that they think are correct, this can help us to collect some data to improve the model

[2015-11-21 19:08] phunterlau commented on #629
@tqchen good idea, we can have a more powerful machine for more users, and some buttons on the page of collecting feedbacks (e.g. giving each answer a "like" button etc). We can post it to weibo and reddit when ready.

P.S. I have also setup <http://shiny.mxnt.ml/> for this demo, since it is mxnet project. (I have registered many DMLC domains, try mxnt.ml xgboost.ml :-) )

[2015-11-21 19:44] thirdwing commented on #459
Windows package is in drat repo now and demo works well.

![screenshot from 2015-11-21 14 27 57](https://cloud.githubusercontent.com/assets/1547093/11320191/493852f6-905e-11e5-91a4-1798eefae76e.png)

[2015-11-21 20:08] XericZephyr commented on #673
I think you miss some important arguments in `ImageRecordIter`, e.g. `batch_size` which is required according to the document. http://mxnet.readthedocs.org/en/latest/python/io.html

[2015-11-21 20:48] Strateus commented on #673
Thank you, that worked.
just in case: raising exception would help definately instead of core dump :)

[2015-11-21 20:48] #673 closed

[2015-11-21 21:05] tqchen commented on #459
@thirdwing  Can you update the document and README in R package to point to these instructions?

[2015-11-21 21:18] Strateus opened #675 "GPU memory issue"
Im not sure if its a bug or not, i loaded a model from caffe zoo (pre-converted to mxnet format):
[code]
made iterator of 11 images, batch size = 2
[code]
before start checked my GPU memory, im not sure whats MiB but its almost empty and my card should have 1Gb:
[code]
Then CUDA said im out of memory:
[code]

If i load with batch_size = 1, then everything goes correct:
[code]
And my GPU memory at

[2015-11-21 21:31] mli commented on #675
i guess it's due to the bug we found last week, there is a strange memory allocation/deallocation (or the model) during the start. since vgg model is pretty large, so mxnet reaches the gpu memory limit on that moment.

[2015-11-21 21:34] mli commented on #670
i'm fine with anyone except for 4. the only problem with 1&3 is that it triggers travis for each edit...

[2015-11-21 22:02] tqchen commented on #675
Could due to nonlinear memory request of CuDNN, but we are not yet sure about this in the moment.

[2015-11-22 00:00] tqchen commented on #670
Let us go with 1 then

[2015-11-22 00:08] tqchen commented on #671
This could due to  we didn't updated the example of mshadow. This warning is due to some operation did not have stream set, (some tensor did not get the stream set correctly). let us move to issue of https://github.com/dmlc/mshadow

[2015-11-22 00:08] #671 closed

[2015-11-22 00:12] mli commented on #670
i also suggest to clean the current example folder. the purpose of examples are twofold. first it shows how to use mxnet, second it provides simple and clean implementation of algorithms that easy others to do similar works.

we'd better limit the codes going into this fold, to avoid too frequently commits. so we should merge an example into the master only if 1) it's simple and useful and 2) it's

[2015-11-22 00:26] korneil commented on #510
Here is a backtrace with source "import mxnet":

    # gdb python core
    GNU gdb (Ubuntu 7.7.1-0ubuntu5~14.04.2) 7.7.1
    Copyright (C) 2014 Free Software Foundation, Inc.
    License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
    This is free software: you are free to change and redistribute it.
    There is NO WARRANTY, to the extent permitted by law.  Type "show co

[2015-11-22 01:45] thirdwing commented on #629
BTW, personally I don't think shiny is designed for such a purpose, we
might need to switch to a more powerful web framework.

Let me talk with the authors of shiny and get back to you.

On Sat, Nov 21, 2015 at 2:08 PM, Hongliang Liu <notifications@github.com>
wrote:

--
Qiang Kou
qkou@umail.iu.edu
School of Informatics and Computing, Indiana University

[2015-11-22 01:50] hetong007 commented on #629
By using shiny we emphasize the power of **MXNetR**. A more powerful web framework might be more efficient, but not that attractive for the R's community.

If you mean the computational tasks are too heavy tor a shiny app and you want to discuss it with shiny authors, that would be great :)

[2015-11-22 02:24] thirdwing commented on #629
The limitation is in the free version of shiny server. As I know, using free version, there will only one R process no matter how people are using this app. So people might queue to see the results.

I am not very sure about this. Let me double check with Rstudio people.

KK

[2015-11-22 02:54] mli commented on #629
the single process limit will be big problem then...

it seems that we don't the fancy interactive feature provided by shiny.. so we can use some other high performance framework then. one option is using go.

[2015-11-22 03:13] antinucleon commented on #675
You can try this to see whether it works. Add explicit parameter
```workspace``` in each convolution layer. Default value is 512MB and it
may be too large for ancient cards. Try to set 64MB in each convolution
layer, for example:
[code]

[2015-11-22 04:55] wangxianliang opened #676 "Can't convert Slice layer & Eltwise layer from caffe to mxnet?"
The following is output:

Traceback (most recent call last):
  File "convert_symbol.py", line 164, in <module>
    main()
  File "convert_symbol.py", line 156, in main
    symbol_string, output_name = proto2script(sys.argv[1])
  File "convert_symbol.py", line 122, in proto2script
    raise Exception('Unknown Layer %s!' % layer[i].type)
Exception: Unknown Layer Slice!

[2015-11-22 05:49] qianguih commented on #647
Hi, @pluskid, could you share more about how to prepare the training data and how to feed them into model.fit to train the model?

[2015-11-22 08:30] winstywang commented on #664
I would like to do it, but the priority is not that high so far.

[2015-11-22 09:34] gouchangjiang commented on #250
I have acrossed the error "OpenBLAS\include\cblas.h(60):error: identifier "openblas_complex_float" is undefined" when compiled in VS, I have compiled OpenBLAS, I don't know how to solve it. Thanks in advance for any help.

[2015-11-22 11:34] futurely commented on #670
(3) is the best option.

Tensorflow's dedicated website [tensorflow.org](http://tensorflow.org/) is a successful example of attracting a large amount of users in a short time, or to be more specific 13,000 stars, 3,274 forks, 1,296 watches and counting on GitHub in 13 days. Tensorflow keeps the website sources in [a separate directory g3doc](https://github.com/tensorflow/tensorflow/tree/master/ten

[2015-11-22 11:53] sparo-jack opened #679 "when import mxnet in python2.7.5 on centos6.6,the following error is raise"
OSError: /home/qiang/Downloads/mxnet/python/mxnet/../../lib/libmxnet.so: undefined symbol: cblas_sgemm

[2015-11-22 12:03] futurely commented on #629
If handling more user traffic is a concern, the architecture of the app needs to be [upgraded to be distributed asynchronous pipeline](https://aws.amazon.com/architecture). A similar not exactly the same scenario is [media sharing](http://media.amazonwebservices.com/architecturecenter/AWS_ac_ra_mediasharing_09.pdf) in which media files are first uploaded into S3 and processed, e.g. resized and cla

[2015-11-22 12:35] Strateus commented on #675
Is it possible to do after you loaded a model?
model.symbol seems doesn't allow to change workspace

[2015-11-22 13:14] #679 closed

[2015-11-22 13:52] korneil opened #680 "mxnet - caffe training difference"
I have a folder of images with 4 classes (with equal images in each class). I create a record with im2rec for training and evaluation, then run train_imagenet.py from examples folder.

If e.g. I use googlenet as the network, training and validation accuracy is floating around 0.25 +- 0.5 even after 100 epoch.

If I train with caffe on the same jpg imageset, it get's ~99.99 accuracy after 12 or 13

[2015-11-22 15:03] antinucleon commented on #680
Could you post your training script? Seems your forget shuffle data /. initialization /  too large learning rate, then lead the training fail.

[2015-11-22 15:07] antinucleon commented on #675
One simple hack is change the symbol.json directly and add this parameter to the json file.

[2015-11-22 15:23] korneil commented on #680
When I generate the train.list and validation.lst I shuffle the values. Then I create the record files with im2rec (which I guess also shuffles), then I am using the standard train_imagenet.py from the examples folder using different networks (also googlenet).

[2015-11-22 15:38] Strateus commented on #675
Just tried. If i set 64 to workspaces of all layers, Exception raised:
[code]
If i set 128 in all layers - core dumped.
If i set 128 in all layers with num_filters == 128, and workspace == num_filters on the rest - still dumps on out of memory. Memory load seems to be the same: up to 800MiB.

[2015-11-22 15:58] antinucleon commented on #680
For googlenet, the most important is initialization and current one may be inaccurate because I use Inception BN but not the old Googlenet. Batch norm will reduce the importance of init value. Could you test Inception Net with batch normalization? I will fix the init bug later.

[2015-11-22 17:56] tqchen commented on #676
This was because these layer may not yet be supported in mxnet, or the mapping was not yet added. Please feel free  to open a issue on each operators(layer) that is missing, and we can find ways to add them, or give guidance on how they can be added

[2015-11-22 18:26] #459 closed

[2015-11-22 20:05] korneil commented on #680
With inception-bn it works well, thank you!

[2015-11-22 20:05] #680 closed

[2015-11-22 20:16] daisy12321 opened #684 "Cannot compile on mac"
Hello there,

I am trying to install mxnet on my mac OS X Yosemite 10.10.5. I first tried to install MXNet directly in Julia 0.4.1 by doing Pkg.add("MXNet"). It gives me the following error message:

[code]

I then followed instructions to install libmxnet manually. I first installed opencv using brew successfully, copied os.mk to the project root, and when I run make -j4, I obtain the following e

[2015-11-22 22:55] piiswrong commented on #684
What's your g++ version?

[2015-11-22 23:19] daisy12321 commented on #684
It is gcc (GCC) 5.0.0 20141005 (experimental)

[2015-11-23 00:25] piiswrong commented on #684
In OSX g++ is usually redirected to clang. Did you install g++ manually? Maybe you can try clang?

[2015-11-23 02:04] hjk41 commented on #655
This seems to be a bug introduced recently. I tried with x64 build on
Windows 10 several weeks ago and it worked fine. Now I have the same error.
I will try to figure out the problem.

On Sat, Nov 21, 2015 at 2:24 PM, Igor S <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-23 02:13] hjk41 commented on #250
*openblas_complex_float* should have been defined in line 113 of
OpenBLAS/include/openblas_config.h. Could you check if you have this file,
and if the "#ifdef" macros function properly?

On Sun, Nov 22, 2015 at 5:34 PM, gouchangjiang <notifications@github.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-23 02:50] futurely commented on #676
This is part of the https://github.com/dmlc/mxnet/issues/404 (no [pun](https://en.wikipedia.org/wiki/HTTP_404) intended) issue.

[2015-11-23 03:34] pluskid commented on #684
@daisy12321 The *experimental* version of GCC sounds suspicious. As @piiswrong suggests, you might want to try to build with OSX's default clang compiler. If you have problem setting up the environment, you can also come to my office hour next week and I could help.

[2015-11-23 03:42] pluskid commented on #670
@futurely Thanks for the pointer. Though I do not think it is *because* tensorflow has a separate website that it attracts a lot of users.

@mli Is there anything we could do with Travis? It is indeed quite slow currently. Like setting up our own CI server? Or only runs a lightweight subset of tests except, say, it is the first commit of the day or something like that?

[2015-11-23 03:42] tornadomeet opened #686 "How to copy the data from the Tensor 'src' to the crop of Tensor 'dst'?"
Hello, all,
  I'm writing one operator in c++ side, but encountered some difficulties .
  Suppose that we have 2 Tensors: src and dst , both with the format Tensor<xpu, 4, real_t>, the shape of src is (1, 128, 300, 300),  and the shape of dst is (1, 128, 400, 400), now i want to copy the data of src to the subspace of dst, with its range (1,128,50:350,50:350); how to do that?

  The simplest way i

[2015-11-23 03:45] pluskid commented on #664
@winstywang I'm recently taking a painting class, one of the project is to apply some specific artistic style to paint a photograph. If you implemented this, I should show it to the instructor! Haha! :laughing:

[2015-11-23 03:48] antinucleon commented on #664
I am working on it...  First I will repeat torch experiment, then I will replace VGG.

[2015-11-23 03:53] pluskid commented on #664
@antinucleon wondering why people use VGG so much despite it being much bigger and slower than google's model. The recently announced [neuraltalk2](https://github.com/karpathy/neuraltalk2) also uses VGG for example. Would be very interesting if we could show here that the huge VGG model could be replaced.

[2015-11-23 04:06] pluskid commented on #658
There is a bigger problem: the parameters are located on each worker device, and only sync-ed back to CPU at the end of each epoch (see [here](https://github.com/dmlc/mxnet/blob/master/python/mxnet/model.py#L370)). So saving checkpoints in the middle of an epoch will only get parameters from the last epoch.

I do agree that being able to save and inspect models per iteration (batch) is useful for

[2015-11-23 04:07] pluskid commented on #651
Closing due to inactivity. Please feel free to re-open if the issue in case of any followups.

[2015-11-23 04:07] #651 closed

[2015-11-23 04:11] futurely commented on #658
Batch end callback can do this by checking `iter_no % num_checkpoint_iterations == 0`. Another trick is to fake epoch_size to be num_checkpoint_iterations rather than `ceil(num_samples / batch_size)`.

[2015-11-23 04:11] #658 closed

[2015-11-23 04:17] pluskid commented on #647
@qianguih The easiest way of using multiple data / labels is to use `NDArrayIterator`. Unfortunately, there seem to be no enough document or example on this. Please refer to [this code](https://github.com/dmlc/mxnet/blob/master/python/mxnet/io.py#L98). Basically, you can pass a list of data / labels, or actually a dictionary of name-array pairs to construct your data iterators. Something like
[cod

[2015-11-23 04:21] pluskid commented on #645
I guess we should add to the document that only compiling with clang is supported on OS X.

[2015-11-23 04:22] #639 closed

[2015-11-23 04:27] mli commented on #670
a temp solution is to let the r-test do less iterations. in the future, we can let travis just do unittest, while more the training test on a dedicate (ec2) machine

[2015-11-23 04:31] pluskid commented on #524
Closing because after a while I successfully convinced myself that this is fine...

[2015-11-23 04:31] #524 closed

[2015-11-23 04:33] futurely commented on #337
@playerkk class weighting is [implemented](https://github.com/alexgkendall/caffe-segnet/search?utf8=%E2%9C%93&q=class_weighting) by the authors of [3][4]. But the experimental result on the PASCAL VOC 2012 segmentation dataset is not very competitive with DeconvNet [1] and CRF-RNN [5] although its network architecture seems to be very similar with DeconvNet. It's would be instructive to get some e

[2015-11-23 04:33] pluskid commented on #510
@korneil It seems to be an import error. Can you confirm that this error occur only when you have a script file containing nothing but
[code]
and yet you can run the built-in examples without problem (e.g. mnist/mlp.py)?

[2015-11-23 04:36] qianguih commented on #647
@pluskid Get it. Thanks !

[2015-11-23 04:40] pluskid commented on #417
Some code from `FeedForward` should definitely be refactored and put into super class once we have another model type. I vote for not having a separate trainer. Because different models will have different training logics. For example, RNN models will need to maintain states transition, gradient cut-off over time.

[2015-11-23 04:45] tqchen commented on #686
Let us move this issue to https://github.com/dmlc/mshadow

We can update the CropExp to support RValue evaluation, reference slice expression https://github.com/dmlc/mshadow/blob/master/mshadow/extension/slice.h So you can use it at right side of assignment

[2015-11-23 04:46] tqchen commented on #686
Let us know if you are interested in contributing this.

[2015-11-23 04:52] tornadomeet commented on #686
@tqchen , yes ,i'll try this.

[2015-11-23 04:53] #686 closed

[2015-11-23 04:57] daisy12321 commented on #684
great suggestions - I uninstalled the experimental version of GCC and used clang instead. It works! Thank you both very much

[2015-11-23 04:57] #684 closed

[2015-11-23 06:02] phunterlau commented on #645
hack1nt0 from sina weibo <http://www.weibo.com/1762781217> proposed and tested his own clang-omp and clang-omp++ solution for using OpenMP with BLAS on Mac. If CPU only, openmp is not really necessary because BLAS can take care of multi-thread and fully utilize CPUs, but with multiple GPU, it still make some sense.

![](http://ww1.sinaimg.cn/large/6911e821jw1ey9rzfiebij20ku03cmzd.jpg)

[2015-11-23 06:50] tqchen commented on #338
this is enabled by #690

[2015-11-23 06:50] tqchen commented on #338
Though the higher level interface might still need some discussion

[2015-11-23 08:04] phunterlau opened #692 "need to download VS 2013 Redistributable Packages for windows CPU version"
got this reminder from a weibo post http://www.weibo.com/u/1994147141 that windows CPU version needs https://www.microsoft.com/en-us/download/details.aspx?id=40784 we should update the installation instruction with this. Thanks.

[2015-11-23 08:09] hjk41 commented on #692
I thought I fixed it...

The latest version of the binary are linked with static runtime library.
Let me try it on a clean machine.

On Mon, Nov 23, 2015 at 4:04 PM, Hongliang Liu <notifications@github.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-23 10:04] futurely commented on #619
Ilya Loshchilov, Frank Hutter. Online Batch Selection for Faster Training of Neural Networks. ICLR 2016. http://arxiv.org/abs/1511.06343
"Our experimental results on the MNIST dataset suggest that selecting batches speeds up both AdaDelta and Adam by a factor of about 5."

Code is available at https://sites.google.com/site/batchsel/.

[2015-11-23 13:15] fhowen opened #694 "creating a new loss layer with python API"
Hi,I'm trying to use python API to write a new loss layer.I found the example here:examples/numpy-op/numpy_softmax.py
but I have a question:
(1)in the backward, the in_grad parameter ,how did it get the initial value?
(2)I read the code in /src/operator/softmax-inl.h ,and I found the function SoftmaxGrad(grad,out,label),but I can't find the implemention of it ,so how does this work?

thanks.