[2016-01-25 20:29] #1328 closed

[2016-01-25 21:26] Gelu74 commented on #1356
Thanks.
I've reading (again and again) the doc at http://mxnet.readthedocs.org/en/latest/python/model.html#mxnet.initializer.Mixed
but I can not figure out how to use it.
A toy example would be very welcomed.

[2016-01-26 01:11] narayaba opened #1358 "GPU based mxnet is not accessible in windows"
With the most recent windows binary build 20160120 GPU package the lenet produces correct CPU results. However, the results based on GPU are incorrect. The installation process completed successfully (see below).

F:\Projects\Gpulibs\formxnet\mxnet>R CMD INSTALL --no-multiarch R-package
* installing to library 'C:/Users/narayaba/Documents/R/win-library/3.2'
* installing *source* package 'mxnet' ..

[2016-01-26 03:13] thirdwing commented on #1358
The 2015 version failed because some functions are missing. Personally I think this is expected.

If you really need to use 2015 version of lib, you can edit the NAMESPACE file from https://github.com/dmlc/mxnet/blob/master/R-package/NAMESPACE

But you need to delete all missing functions manually.

[2016-01-26 03:41] thirdwing opened #1359 "[R] NDArrayIter is missing in R"
Not very sure we really need this.

[2016-01-26 06:36] bornfree commented on #1205
Still a problem for me on mac with OpenCV3. I installed using brew. How did I get it working?

[2016-01-26 07:34] #1355 closed

[2016-01-26 07:35] yonadavs commented on #1355
Was building with gcc, and not g++.. Sorry, my bad..

[2016-01-26 08:11] cupermanrose commented on #1298
I'm writing a lstm c++ sample.Could you manage your doc?I felt a little confused when I was reading.

[2016-01-26 08:27] luxiangju commented on #647
@Iyttonhao
have you committed the example about multi_label? if yes, please give me a link to get the example!
I followed the above tips, however, still get the message:  Symbol.InterShapeKeyword argument name softmax_label not found.

I guess probably because the data iterator I use is not right as:

def ilsvrc12_iterator(batch_size, input_shape):
    """return train and val iterators for imagene

[2016-01-26 12:16] zhubuntu commented on #1298
@cupermanrose Where are you confused with? This is my qq number:876814711,we can talk on QQ.

[2016-01-26 14:45] attitudechunfeng opened #1360 "questions about image regression"
I'd like to use MxNet for image regression, namely my input data is image and output is a number. How can I process my data? I have tried to process in the way as doing image classification, and I change to use a LinearRegressionOutput instead of SoftmaxOutput, but the Train-accuracy=0.00, Could someone tell me where's wrong?

[2016-01-26 18:22] junshui commented on #1031
I observed the same problem.

I have a computer with 12 cores from 2 CPUs. When I run mxnet, the CPU usage is only about 10%, which does not change no matter how I setup MXNET_CPU_WORKER_NTHREADS and OPENBLAS_NUM_THREADS.

[2016-01-26 21:23] jmschrei commented on #1360
You need to change your eval_metric from 'acc' to 'MAE', 'MSE', or 'RMSE' if you're using the Python package.

[2016-01-26 23:03] piiswrong commented on #1356
I don't have an example at hand. If you can't understand the doc, try reading the code in mxnet/initializer.py:Mixed

[2016-01-26 23:47] ppwwyyxx commented on #1356
I just read the code in `initializer.py`. And it makes no sense to me that the base `Initializer` class would process 'bias', 'gamma', 'weights' etc one by one. It's a ridiculous design.

An initializer should be responsible for initializing __one variable only__. And it's users responsibility to determine which variable to init.

With the current design, the `Uniform` initializer should be called

[2016-01-27 01:01] attitudechunfeng commented on #1360
Thanks a lot@jmschrei. But how to change the eval_metric?

[2016-01-27 01:01] twtygqyy opened #1362 "Is it possible to show top k validation accuracy during training?"
How can I modify the layer symbols if I want to see top k validation accuracy during training

[2016-01-27 01:36] piiswrong commented on #1356
@ppwwyyxx The problem with building init into layers is that you'll have to write init code in C++ and it becomes harder to write and change.
If init stays in the front end, your solution basically means the default initializer is a Mixed initializer that dispatch based on name. It's mostly the same deal.

[2016-01-27 01:39] wangdelp commented on #1219
@mittlin @piiswrong Hi, I am getting the same error following the same steps, i.e. 1) mkdir build 2)cd build 3) cmake .. 4) make -j72. I've checked that the USE_NVRTC is already set as zero at the time I pull it from github. I am not sure where should I put the config.mk file, just copy it under root directory(~/mxnet), or copy it into the build(~/build/mxnet) directory? Do you guys have any clue

[2016-01-27 01:59] mittlin commented on #1219
copy config.mk under root directory(~/mxnet). this is my config.mk.

#-------------------------------------------------------------------------------
#  Template configuration for compiling mxnet
#
#  If you want to change the configuration, please use the following
#  steps. Assume you are on the root directory of mxnet. First copy the this
#  file so that any local changes will be ignored by git

[2016-01-27 02:37] ppwwyyxx commented on #1356
By 'bulit into layers' I didn't mean built into operators. I'm assuming there is a layer-like abstraction such as the `ConvFactory` in imagenet examples. And if initialization method of a variable can be given in variable definition time (like in TensorFlow), a layer abstraction will then be able to provide default initialization. But I guess this will introduce too many changes to the current sys

[2016-01-27 02:39] jmschrei commented on #1360
If you're using python, add `eval_metric='rmse'` to the fit method.

[2016-01-27 03:13] piiswrong commented on #1356
I don't like the current name based approach either but it hasn't caused enough trouble to compel action. If you have concrete thoughts you are welcome to propose a PR and we can have more discussion.

[2016-01-27 03:15] luxiangju commented on #880
I got the same problem. I set the data with label_width=2,,, however, when I train the net, got the message: mxnet.base.MXNetError: InferShape Error in softmax's label argument
Corresponding keyword of symbol: softmax_label
Shape inconsistent, Provided =(192,2), inferred shape=(192,1)

[2016-01-27 03:16] luxiangju commented on #880
How should I set the inferred shape, the same to the input shape?

[2016-01-27 03:19] piiswrong commented on #1362
Accuracy is computed in python with mx.metric.Accuracy. You can add a TopkAcc class.

[2016-01-27 03:24] attitudechunfeng commented on #1360
Thank u. I have solved the problem. And I have another question, how to visualize the learned filters in MxNet. I haven't found relative tutorials. Could you give me some advice for that?

[2016-01-27 03:25] luxiangju commented on #558
@XericZephyr
I tried multi_label training in the same way, but the model.fit returns the error:
raise MXNetError(py_str(_LIB.MXGetLastError()))
mxnet.base.MXNetError: InferShape Error in softmax's label argument
Corresponding keyword of symbol: softmax_label
Shape inconsistent, Provided =(192,2), inferred shape=(192,1)

BTW: how to use the intershape ?

[2016-01-27 03:28] piiswrong commented on #1219
@wangdelp copy it to mxnet root. If still see the same error, try pull the latest code.

[2016-01-27 04:22] wangdelp commented on #1219
@mittlin @piiswrong hmm, my code is up-to-date when I run git pull. I've copied your config.mk literally under ~/mxnet directory but still got the same error. It's still looking for the libvrtc.so library...

I've solved it by adding the path containing the .so file in env variable LIBRARY_PATH:
export LIBRARY_PATH=/usr/local/cuda-7.0/targets/x86_64-linux/lib

[2016-01-27 05:34] twtygqyy commented on #1362
@piiswrong Thanks for your answer!

[2016-01-27 05:34] #1362 closed

[2016-01-27 05:56] Palang2014 commented on #1338
@piiswrong  : Almost the same, take a look:

run 1:
[code]

run 2:
[code]

[2016-01-27 05:58] Palang2014 commented on #1338
@winstywang : Can we set batch size per GPU separately from batch size in MxNet?

[2016-01-27 06:01] Palang2014 commented on #1338
@zer0n : Agreed! Do we have anything similar to 1-bit SGD implemented in MxNet?!

[2016-01-27 06:15] ZhaoJianghua opened #1363 "Error in FCN"
I changed the fcn model, but I got this error.

[13:48:42] ./dmlc-core/include/dmlc/logging.h:241: [13:48:42] include/mxnet/./ndarray.h:71: Unknown type enum 136
[13:48:42] ./dmlc-core/include/dmlc/logging.h:241: [13:48:42] src/engine/./threaded_engine.h:295: [13:48:42] include/mxnet/./ndarray.h:71: Unknown type enum 136
An fatal error occurred in asynchronous engine operation. If you do not know

[2016-01-27 06:52] piiswrong commented on #1338
batch_size_per_gpu = total_batch_size/number_of_gpu

[2016-01-27 06:53] piiswrong commented on #1363
What did you change?

[2016-01-27 07:10] ZhaoJianghua commented on #1363
I build a model based on alexnet and initialize its weights by my own method. It seams all ok and can do training for a few epochs.

[2016-01-27 07:31] winstywang commented on #1363
Is it OK to run the original FCN model?

[2016-01-27 07:33] ZhaoJianghua commented on #1363
it's ok when crop the data size into 128*128

[2016-01-27 07:38] hjk41 commented on #1363
A strange enum value? Sounds like a memory access problem to me.

On Tue, Jan 26, 2016 at 11:33 PM, ZhaoJianghua <notifications@github.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2016-01-27 07:40] ZhaoJianghua commented on #1363
the enum value is different everytime

[2016-01-27 09:42] andrewcz opened #1365 "multivariate time series prediction"
Hi,
is there a multivariate time series prediction application in this package.
many continuous sequences to predict another sequence?
example being-

https://github.com/Element-Research/rnn/blob/master/examples/recurrent-time-series.lua

Many thanks,
Best,
Andrew

[2016-01-27 11:31] qizhuli commented on #600
I had the same problem `AttributeError: 'NoneType' object has no attribute 'append'.` while trying to install mxnet python package. @mli's solution solved my problem beautifully. Thanks @mli!

[2016-01-27 12:05] qigongsun commented on #1263
softmax = mx.symbol.SoftmaxOutput(data = fc2, name = 'softmax')

[2016-01-27 12:39] caffeTao commented on #1313
If the new model has fewer layers than the old one ,Does it matter?

[2016-01-27 17:03] AdMoR opened #1366 "Check failed in C prediction API"
Before starting i want to thank the contributors of this amazing lib. I love the speed and effectiveness.

I come across a problem that seems very weird to me.
I downloaded and tested image_classifiction.cc on both Mac and Linux and i changed the input by giving a matrix instead of a name and get an error.

_Check failed: eshape[0] == 0 || eshape == dshape Assignment: Shape of Tensors are not cons

[2016-01-27 18:30] piiswrong commented on #1366
Could you post your code? `changed the input by giving a matrix instead of a name` sounds wrong and it shouldn't compile. All symbols are names and they are only assigned with matrixes during binding.

[2016-01-27 19:04] amithr1 opened #1368 "mpi"
Hi all,

I can only use mpirun (openmpi) to launch jobs and not ssh as the load sharing facility doesn;t allow sshs. In this case, can I still use the distributed parameter server framework? I dont have any control on what nodes the job is launched on, except specifying the total number of servers and workers for mpirun.

I have looked at the mpirun launcher.

[2016-01-27 20:12] mebjas opened #1369 "List the todos publicly to finish them quickly"
We should have `mxnet` on Todofy, I tried it on my fork and there are about `34 todos` in the `master branch`. Here's the link: https://todofy.org/r/fybot/mxnet

This will give clear visibility on what all need to be finished, and platform has various feature to assist the process.

[2016-01-27 22:22] kingvision opened #1370 "c++ interface for extracting feature"
hi
  how i can extract feature by c++?

thanks

[2016-01-27 23:12] sanson87 commented on #1336
Same issue here, accuracy remains stuck from the second run. Would be interested if anyone has a suggestion. Thanks a lot.

[2016-01-28 03:11] ChrisYang commented on #647
i got similar issue as i created the data iterator as @luxiangju did.

[2016-01-28 04:34] paipai880429 commented on #910
@jimxinbo Could you please detail the way how to organize the current mxnet layers so that we can perform a multi-label image classification framework?

[2016-01-28 05:08] superzrx commented on #1260
The problem comes from kv_store as in #858
Maybe we should update 'local' to 'device' for all imagenet examples.

[2016-01-28 05:14] #1260 closed

[2016-01-28 05:17] superzrx opened #1371 "Change default kv_store value to device"
As metioned in #1260  and #858 , the default value 'local' for kv_store will reduce speed for small batchsize when trainning big networks like inception or resnet.
Maybe we should set 'device' as the detault value.
In my case, it raise the trainning speed from 50 samples/sec to 100 samples/sec using 4xK40 when training resnet.

[2016-01-28 05:34] superzrx commented on #1371
Additionally change sgd to ccsgd gives another 25 samples/sec promotion

[2016-01-28 06:05] ascust opened #1372 "How can I use layer-wise learning rate"
I am wondering if there is a way that I can use different learning rates for different layers like what is in Caffe. I am trying to modify a pre-trained model and use it for other tasks. What I want is to speed up the training for new added layers and keep the trained layers at low learning rate in order to prevent them from being distorted. for example, I have a 5-conv-layer pre-trained model. No

[2016-01-28 06:18] jimxinbo commented on #910
Hi, @paipai880429, I end up using a multi-label softmax layer implemented by myself.

For organizing the current mxnet layers, as suggested by @piiswrong , you can create k (number of label for each sample) softmax symbols and assign one label to each.

[2016-01-28 07:07] ChrisYang commented on #270
@antinucleon i was wondering how to set the labels if we use
mx.io.ImageRecordIter
in mx.io.ImageRecordIter there is one argument label_width but there is no related item to label_name(s) setting. How can it be associated with your 'xx'  and 'xxx' in your example.

[2016-01-28 07:36] austingg commented on #1363
@tornadomeet  have ever met that error during training FCN for semantic segmentation?

[2016-01-28 07:45] austingg commented on #1372
use Optimizer.set_lr_scale(). Related to #1150

[2016-01-28 07:56] ascust commented on #1372
sorry, could you be more specific? I saw there is a parameter called "args_lrscale". I am not quite sure how to set it. Could you make it more clear in terms of my case? I would really appreciate. I am a newbie, just trying to learn it from scratch. Thank you.

[2016-01-28 08:31] AdMoR commented on #1366
My code is really close from the original example.
I only adapted the input to provide a processed cv::Mat
This implied to also adapt GetMeanFile for a cv::Mat input

[code]

As stated before, the adaptation is minimal in GetMeanFile.

[code]

Finally, i didn't forget to call MXPredCreate. It is done only once at the mxnet object creation.
Moreover i checked the return value of the creation which

[2016-01-28 08:45] kjshao opened #1373 "Is there a optimizer using Levenberg-Marquardt algorithm?"
I'm now using MXnet for regression, the input data is a 7-dimension vector, and the output is a value of the function f(x1,...,x7). The dataset contains 100, 000 samples. I've got RMSE which is low enough with the another program using Levenberg-Marquardt algorithm. The network is a simple MLP with two hidden layers. But in mxnet I only found methods like SGD which can not achieve the accuracy tha

[2016-01-28 08:51] gary30404 opened #1374 "How to move mxnet on Nvidia tk1?"
I'm a deep learning beginner. Could anyone tell me how to modify Makefile to move mxnet on tk1?

[2016-01-28 09:32] paipai880429 commented on #910
@jimxinbo Do you mean that I should train K ConvNets, with each a binary classifier? If yes, then will have K times parameters and the training time. Furthermore, we have to generate 6 train.lst and train.bin.

[2016-01-28 10:59] jimxinbo commented on #910
What I have in mind is one convnet, but the top layer is k softmax symbol. I believe this will be mathematically correct. Instead of back-proping gradient from one softmax, you are now back-proping from k softmax.

But you have a point, I am not sure weather mxnet support multiple output layers. Could you help @piiswrong

Worst case, I am glad to make the layer I made public.

[2016-01-28 13:42] lzhaozi opened #1375 "What's the difference between mean.nd and mean.bin"
I've seen the mxnet will create mean.bin during training. But the predict example provide a mean.nd(mean_224.nd) as the mean file.
What's the difference between the .nd type and .bin type? Can I use the mean.bin as the mean file of predict program?
If not, how to create my own mean.nd?
Can anyone help me...I'm a beginner...Thank you very much....

[2016-01-28 15:11] #1375 closed

[2016-01-28 16:14] ljie-PI commented on #1342
It works now. Thanks.

[2016-01-28 16:14] #1342 closed

[2016-01-28 17:13] GravApple opened #1377 "How to change the batch size during forwarding?"
I want to implement a layer that is capable of changing the batch size during forwarding, and C++/MShadow level would be my preference for performance consideration. I believe there must be a way of dealing with this requirement, can someone tell my how?
Any advice will be appreciated! Thanks in advance.

[2016-01-28 18:36] mli commented on #1368
are you using qsub? in that case, you don't need to specify the -H configure, mpirun will find it

[2016-01-28 18:40] mli commented on #1371
does `kvstore=device` solve #1260 ?

we didn't set to device in default because it improves some networks but degrades others. a better way is to heuristically set the best config.

[2016-01-28 19:23] mli commented on #1338
@Palang2014 1bit sgd has only been tested if there are big fully connected layers. both cntk and amazon echo team used it for speech recognition. but i think it is not necessary for conv networks except for alexnet/vgg.

[2016-01-28 19:33] zer0n commented on #1338
Very true

[2016-01-29 00:41] piiswrong commented on #1377
Runtime reshaping is difficult with current architecture. You need to change the GraphExecutor and memory allocator. A layer cannot modify it's in/out shape

[2016-01-29 00:42] piiswrong commented on #1374
@winstywang
It should be straight forward. What error are you seeing?

[2016-01-29 00:44] piiswrong commented on #1373
Optimizers are in python/mxnet/optimizer.py.
It should be straight forward to create a new one.

[2016-01-29 00:49] piiswrong commented on #1369
@tqchen Looks like a good idea. Let's try it?

[2016-01-29 00:55] ascust opened #1378 "failed to compile on Mac OS X 10.11.3"
hi guys,
I failed to compile on my Macbook with Mac OS X 10.11.3. The output is:
....
mxnet::io::ImageRecordIOParser::ParseNext(std::__1::vector<mxnet::io::InstVector, std::__1::allocator<mxnet::io::InstVector> >*) in iter_image_recordio.o
  "cv::imdecode(cv::_InputArray const&, int)", referenced from:
      _main in im2rec-352b28.o
      mxnet::io::ImageRecordIOParser::ParseNext(std::__1::vector<

[2016-01-29 01:14] tornadomeet commented on #1369
+1

[2016-01-29 01:17] tornadomeet commented on #1363
can you debug which line of your code suspend? the information is not enough here. i guess for 2 tips:
1. your crop_offset should change if you using your own model;
2. your initialization should consider the context(gpu or cpu).

[2016-01-29 01:20] tornadomeet commented on #1377
or you can write your own solver, and bind the symbol for every batch, which only change the input data and label.

[2016-01-29 01:51] mli commented on #1369
enabled, have a check at

https://todofy.org/r/dmlc/mxnet

[2016-01-29 01:56] zhangchen-qinyinghua commented on #1372
In fact, mxnet is so flexible that you can update your parameters one by one with different Optimizers and different learning rates.

Use code the following code:
https://github.com/dmlc/mxnet/blob/master/python/mxnet/optimizer.py#L376

And of course you should maintain the binding of symbols and NDArrays by your self.

[2016-01-29 01:59] zhangchen-qinyinghua commented on #1370
You should bind your own Symbols with the trained parameters to extracting the features.

As for c++ interface, you can also try this (which is usable, but not completed):
https://github.com/hjk41/MxNet.cpp

[2016-01-29 03:01] tqchen commented on #1371
This also really depends on the PCI and card settings, it was not set to device mainly because it is also more memory consuming. However, you are welcomed to contribute a note on this in the docstring and documents

[2016-01-29 03:02] #1338 closed

[2016-01-29 03:04] tqchen commented on #1298
You are welcomed to open a PR and add the link to https://github.com/dmlc/mxnet/tree/master/example#mxnet-examples-and-resources

[2016-01-29 03:04] #1298 closed

[2016-01-29 03:31] piiswrong commented on #1378
You didn't post the original error

[2016-01-29 03:58] ascust commented on #1378
I finally found the problem. The thing was I didn't install pkg-config, which is a dependency for building OpenCV. I think you should add this to the tutorial that "be sure to install all the dependencies for Opencv when using homebrew" since it does not do it automatically. Thanks, I am gonna close this.

[2016-01-29 03:58] #1378 closed

[2016-01-29 04:49] winstywang commented on #1374
I have not tested it. I will try it on TX1 next week as soon as I get it.

[2016-01-29 05:50] axlesor commented on #946
I encountered similar issues loading a model. If I use example/kaggle-ndsb1, it is working fine, I can load models saved in previous iterations. But for other example/kaggle-ndsb2:
tmp = mx.model.FeedForward.load(model_sty, load_epoch, ctx = mx.cpu())
File "/mxnet/mx_env/lib/python3.4/site-packages/mxnet-0.5.0-py3.4.egg/mxnet/symbol.py", line 769, in load
    check_call(_LIB.MXSymbolCreateFromFile

[2016-01-29 08:50] shuokay opened #1380 "Distributed Training: Is there any method to balance the time consume on different workers?"
Assume I have 2 different graphic cards K40 and gtx980 on two workers, these two card have significant different compute capability. If batch size on the two workers are the same, then gtx980 have to wait K40 to finish the compute. So I would ask is there any method to balance the time consume?

[2016-01-29 12:26] ascust opened #1381 "How to load images with different size."
Hi,
I am currently trying to do image segmentation using PASCAL dataset. The difficulty is the images in this dataset have different sizes, so I have to crop them into a fixed size for batch training. Here comes the question. How can I crop the images dynamically before creating the batch. I mean the images loaded can have different sizes, but after a preprocessing step, the images will get random

[2016-01-29 14:08] pluskid commented on #1324
@jacobdevlin Sorry for the late reply. Was traveling and trying to build a basic prototype of sequence APIing during the last week. We will discuss to finalize that this weekend. I guess we can discuss about the details during the meeting. But here are some thoughts related to your comments above.

I think your concern that explicitly unrolled models have this issue of having to deal with sequence

[2016-01-29 18:38] #1369 closed

[2016-01-29 18:39] mebjas commented on #1369
Thanks! :)

[2016-01-29 18:50] piiswrong commented on #1381
You can write your custom data iterator. You can refer to io.DataIter and recordio.MXRecordIO

[2016-01-29 18:51] piiswrong commented on #1381
Another strategy is to modify iter_image_recordio.cc in src/io. There shouldn't be fundamental difficulty with supporting variable input size as long as the output images are croped to the same size.

[2016-01-29 18:57] piiswrong commented on #1380
Use model.fit(ctx=[mx.gpu(slow), mx.gpu(fast)], work_load_list=[1, 9]). Tune the numbers until it's not blocking.

[2016-01-29 19:53] Gelu74 commented on #1356
OK, After reading the source I think I understand. I'll write a sort summary here for the records (in case there is someone as dumb as me..) and to get corrected if I am wrong before I close the issue.

Say you want to use a default initializer:
`default_initilializer = mx.init.Xavier(rnd_type="uniform", factor_type="in", magnitude=2.34)`

 for all your layers except for one, the layer defined as:

[2016-01-29 23:02] hanyh opened #1383 "Problem running RNN PTB sample on both Linux and Windows"
during running the RNN PTB sample lstm_ptb.py, it fails while calulcalting NLL due to zero len label vector here:  nll = -np.sum(np.log(seq_label_probs.asnumpy())) / len(X[0,:])

Logs:
Loading ./data/ptb.train.txt, size of data = 929590
Unique token: 10000
Loading ./data/ptb.valid.txt, size of data = 73761
Unique token: 10000
Vocab=10000
Training with train.shape=(46445, 20)
Training with val.shap

[2016-01-30 00:28] ascust commented on #1381
I am still not very clear. I dont have much experience with mix programming in C++ and Python and dont know how it works. So can I just do it with pure python like extending a new class based on dataIter? or I have to modify iter_image like you said. I wish you could tell me a little bit more. I would appreciate it.

[2016-01-30 05:53] shuokay commented on #1380
@piiswrong I think this only can run on the same machine, but how if I have two cards on separated machines?

[2016-01-30 06:52] gary30404 commented on #1374
g++ -std=c++0x -DMSHADOW_FORCE_STREAM -Wall -O3 -I./mshadow/ -I./dmlc-core/include -fPIC -Iinclude -msse3 -funroll-loops -Wno-unused-parameter -Wno-unknown-pragmas -DMSHADOW_USE_CUDA=0 -DMSHADOW_USE_CBLAS=1 -DMSHADOW_USE_MKL=0 -DMSHADOW_RABIT_PS=0 -DMSHADOW_DIST_PS=0 -DMXNET_USE_OPENCV=1 `pkg-config --cflags opencv` -fopenmp  -DMXNET_USE_NVRTC=0 -MM -MT build/src/resource.o src/resource.cc >build/

[2016-01-30 06:58] piiswrong commented on #1374
Try adding -DMSHADOW_USE_SSE=0 to ADD_CCFLAGS in config.mk and in mshadow/make/mshadow.mk:11, remove -msse3

[2016-01-30 07:05] piiswrong commented on #1381
You can do either. Python solution will be slower but it's not necessarily going to be the bottle neck.

[2016-01-30 07:07] piiswrong commented on #946
You model was created using ctx=mx.gpu() and you are trying to load it with ctx=mx.cpu().
Only gpu version supports different stride. Load with gpu and you should be fine.

[2016-01-30 07:09] piiswrong commented on #1363
@ZhaoJianghua Please post a minimum reproducible code so other people can help you debug.

[2016-01-30 07:50] gary30404 commented on #1374
@piiswrong Do you mean this?
in config.mk(root directory of mxnet)
ADD_CCFLAGS =
DMSHADOW_USE_SSE = 0
mshadow/make/mshadow.mk:11
MSHADOW_CFLAGS = -funroll-loops -Wno-unused-parameter -Wno-unknown-pragmas

and then `make`

g++ -std=c++0x -DMSHADOW_FORCE_STREAM -Wall -O3 -I./mshadow/ -I./dmlc-core/include -fPIC -Iinclude -funroll-loops -Wno-unused-parameter -Wno-unknown-pragmas -DMSHADOW_USE_CUDA=0

[2016-01-30 08:16] piiswrong commented on #1374
`ADD_CCFLAGS = -DMSHADOW_USE_SSE=0`
Note the `-`

[2016-01-30 09:32] ascust commented on #1372
It says in the code that "args_lrscale : dict of index to float" in set_lr_scale(self, args_lrscale) and also "index is an unique integer key used to index the parameters". What exactly is the index? If I want to set lr_scale in the first two layers, what are their index?

[2016-01-30 13:44] Azure-Vani commented on #992
I met this issue, too.

It should be better if there is a way to change the required batch_size temporarily since in some cases I only want to make prediction on singal data and it always doesn't meet the batch_size requirements.

[2016-01-30 14:14] gary30404 commented on #1374
I have tried but the error is still the same.
What's happened?

g++ -std=c++0x -DMSHADOW_FORCE_STREAM -Wall -O3 -I./mshadow/ -I./dmlc-core/include -fPIC -Iinclude -funroll-loops -Wno-unused-parameter -Wno-unknown-pragmas -DMSHADOW_USE_CUDA=0 -DMSHADOW_USE_CBLAS=1 -DMSHADOW_USE_MKL=0 -DMSHADOW_RABIT_PS=0 -DMSHADOW_DIST_PS=0 -DMXNET_USE_OPENCV=1 `pkg-config --cflags opencv` -fopenmp  -DMXNET_USE_NVR

[2016-01-30 18:15] RishabGargeya opened #1385 "Error Linking CUDA during Install"
Hi,

I'm having an error linking -lcuda as I'm installing mxnet.
When I call make -j4 after modifying my config.mk file, I get the following:

[code]
Here is my config.mk file as well:
[code]
Any thoughts? Cuda is installed in /share/sw/modules/Core/cuda/7.5/.
Thanks for the help.

[2016-01-30 18:58] axlesor commented on #946
Unfortunately using gpu still fails the same way:
tmp = mx.model.FeedForward.load(model_sty, load_epoch, ctx = mx.gpu())
  File "/mxnet/mx_env/lib/python3.4/site-packages/mxnet-0.5.0-py3.4.egg/mxnet/model.py", line 344, in load_checkpoint
    symbol = sym.load('%s-symbol.json' % prefix)
  File "/mxnet/mx_env/lib/python3.4/site-packages/mxnet-0.5.0-py3.4.egg/mxnet/symbol.py", line 769, in load

[2016-01-30 22:35] mli commented on #1374
i think we should use `ADD_CFLAGS = -DMSHADOW_USE_SSE=0` (only one C) while not `ADD_CCFLAGS`

[2016-01-30 22:43] thirdwing commented on #1374
I have compiled mxnet on Tk1.

Besides the `ADD_CFLAGS`, you also need to remove `-msse2` in https://github.com/dmlc/dmlc-core/blob/master/Makefile#L14

[2016-01-30 22:45] mli commented on #1374
@thirdwing nice! how is the performance of tk1 comparing to other common cards, such as k40 or gtx 750 ti?

[2016-01-30 22:59] thirdwing commented on #1374
It is a GPU for mobile devices (like Dji's quadrone), so not powerful.

[2016-01-30 23:03] piiswrong commented on #1385
You have USE_CUDA_PATH = NONE in your config.mk. Change it to USE_CUDA_PATH = /share/sw/modules/Core/cuda/7.5/

[2016-01-30 23:03] mli commented on #1374
yeah, i know that. so my question is that how is it comparing to some come
nvidia gpu? for example, i guess tx1 is roughly equal to 15% k40? i just
want to get a sense how many frames we may get if run prediction on tx1.

another question is, is there anyone has put tk1 on dji successfully?

On Sat, Jan 30, 2016 at 5:59 PM, Qiang Kou (KK) <notifications@github.com>
wrote:

[2016-01-30 23:06] thirdwing commented on #1374
I can run some benchmarks later.

Tk1 is part of the official SDK https://developer.dji.com/manifold/

[2016-01-30 23:09] piiswrong commented on #1380
You can change the launch script to set different batch_size for each process.

[2016-01-30 23:12] mli commented on #1374
many thanks for the link, i didn't know that before. have you heard any news that when dji will put tx1 onboard? tx1 is much more interesting since it's almost 4x faster than tk1 if using FP16.

[2016-01-30 23:24] RishabGargeya commented on #1385
Thanks for the quick response. I tried that and here is the error:

[code]
All I did was change USE_CUDA_PATH = NONE to USE_CUDA_PATH = /share/sw/modules/Core/cuda/7.5/

[2016-01-31 01:18] ppwwyyxx opened #1388 "Understand the use of executor.backward"
I'm assuming that `executor.backward` takes the gradient on the output variable, which the executor was bound to. However the following code:
[code]
throws error:
[code]
Could someone explain how to use `executor.backward`? I found no examples online.

[2016-01-31 03:55] jacobdevlin commented on #1324
@pluskid In the TensorFlow model (disjoint graph support) it is still up to the user to bucket their data and pad each segment to the closest bucket. So one minibatch would contain all segments of length 11-25, padded to be exactly 25. In most applications I can think of, this is fine.

Most architectures which get state-of-the-art results on various NLP tasks (and not just NLP -- speech recogniti

[2016-01-31 05:08] piiswrong commented on #1388
`executor.backward(out_grads=mx.nd.ones((3, 6)))` -> `executor.backward(out_grads=[mx.nd.ones((3, 6))])`

[2016-01-31 05:09] ppwwyyxx commented on #1388
I tried and it gave the same error.

[2016-01-31 05:23] piiswrong commented on #1388
[code]

[2016-01-31 05:27] ppwwyyxx commented on #1388
Thanks!

[2016-01-31 05:27] #1388 closed

[2016-01-31 05:33] jiafeixiaoye opened #1389 "problem with train_mnist.py"
When I try to run train_mnist.py I got some problems.
It prompts
 ** On entry to SGEMM  parameter number  4 had an illegal value
 ** On entry to SGEMM  parameter number  4 had an illegal value
continuously when it running.It takes a long time to train, and the training result is poor,the Validation-accuracy is about 0.1.

I need run it on CPU,and my OS is Win8. I had delete USE_CUDNN when I build

[2016-01-31 05:36] piiswrong commented on #1389
Which blas library are you using.
Could you post your config.mk

[2016-01-31 05:47] jiafeixiaoye commented on #1389
I download the thirdparty library from BaiduYun: http://pan.baidu.com/s/1kTrQmn9,it includes OpenBlas.

the config.mk:
#---------------------
# choice of compiler
#--------------------

export CC = gcc
export CXX = g++
export NVCC = nvcc

# whether compile with debug
DEBUG = 0

# the additional link flags you want to add
ADD_LDFLAGS =

# the additional compile flags you want to add
ADD_CFLAGS =

#

[2016-01-31 06:07] piiswrong commented on #1389
Are you building with visual studio or mingw?
I think on windows the standard is to build with cmake and visual studio.

[2016-01-31 06:09] jiafeixiaoye commented on #1389
Yes, I build with cmake and visual studio 2013.

[2016-01-31 07:51] piiswrong commented on #1385
do you have the directory /share/sw/modules/Core/cuda/7.5/include? Try /share/sw/modules/Core/cuda/7.5/ -> /share/sw/modules/Core/cuda/7.5

[2016-01-31 11:02] zhubuntu commented on #1298
@qiaohaijun Can you make a PR as @tqchen said.The computer in my home can't install the github desktop so I can't make a pr.And I'll go back to school until 20 days later.Thank you very much.

[2016-01-31 14:57] gary30404 commented on #1374
@thirdwing May I ask you what version of CUDA Toolkit do you have on tk1?
Thank you.

[2016-01-31 15:49] #714 closed

[2016-01-31 16:09] thirdwing commented on #1192
I can update the documents for supported types.

But I don't think we should handle the type conversion, it should be users' work.

[2016-01-31 16:10] thirdwing commented on #1374
@mli I will let you know if heard anything.

@gary30404 CUDA 6.5

[2016-01-31 16:53] gary30404 commented on #1374
Thank you all.
I have succeeded by doing these:
ADD_CFLAGS = -DMSHADOW_USE_SSE=0
remove msse3 and msse2

[2016-01-31 17:24] RishabGargeya commented on #1385
Hi,
I checked in /share/sw/modules/Core/cuda/7.5/ and apparently I have the wrong directory as it does not have an include folder.
CUDA on my system is actually installed to "/share/sw/free/cuda/7.5".
I added that folder to my config.mk to be the following;

[code]

I also modified my LD_LIBRARY_PATH, PATH, and LIBRARY_PATH:
[code]

This is the error I am still receiving:
[code]

[2016-01-31 17:46] terrytangyuan commented on #1192
That's fine. It would be even better to note the type of elements in the array.

[2016-01-31 17:46] #1192 closed

[2016-01-31 18:31] piiswrong commented on #1385
When linker cannot find a lib, find that lib and add its path to linker
path.
On Jan 31, 2016 9:24 AM, "Rishab Gargeya" <notifications@github.com> wrote:

[2016-01-31 22:40] RishabGargeya commented on #1385
Hi,
Thanks for the reply.
How would I go about doing this? Adding paths to the LDFLAGS environment variable, LD_LIBRARY_PATH and LIBRARY_PATH didn't seem to help before.

[2016-02-01 00:11] #1374 closed

[2016-02-01 02:16] austingg commented on #1372
according my understanding, the index is consistent with symbol's staticgraph dfs visit order. Reference https://github.com/dmlc/mxnet/blob/4616e8b0a3e8f9258d2403f533166718f82903bc/src/symbol/symbol.cc#L203-L215

you can check with symbol.list_arguments. and set lr_scale with the index in the returned list

[2016-02-01 04:08] jiafeixiaoye commented on #1389
I forgot configure the USE_BLAS choice yesterday and I have corrected all the relative choices to make sure the project build with openblas, but the problem still exist.

[2016-02-01 05:16] #1380 closed

[2016-02-01 06:40] xgastaldi opened #1391 "1px Zero-padding on one side of a picture"
Hi, I am trying to add an asymetrical zero padding on one side of a picture before a convolution. Any idea how to do that? I tried creating a 1px wide symbol and then concatenating it with mx.symbol.concatenate but couldn't make it work.

[2016-02-01 07:21] piiswrong commented on #1391
a) Do it with custom data iter as preprocessing.
b) do symetrical padding and crop your output with sym.Crop to throw away the extra outputs.

[2016-02-01 07:33] xgastaldi commented on #1391
Thanks, option a wouldn't work because I would like to do that on symbols inside the network.
Wrt to option b, I would like to do this before a convolution (e.g. add 1px and then perform a convolution) and I don't think that there is a standalone function in mxnet for padding. Is there a way to pad on a symbol without modifying it?

[2016-02-01 08:25] starimpact opened #1392 "Let MxNet Support CuDNN v2."
HI, guys, I am going to make MxNet support CuDNNv2.
Do you have any good suggestions?
@tqchen @piiswrong

[2016-02-01 08:39] hjk41 commented on #1392
Why should we support cuDNN v2? Is there any benefit from that?

On Mon, Feb 1, 2016 at 4:25 PM, Zhang Ming <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2016-02-01 08:46] starimpact commented on #1392
TK1 only support CuDNNv2.

[2016-02-01 08:56] hjk41 commented on #1392
I see. 😅

On Mon, Feb 1, 2016 at 4:46 PM, Zhang Ming <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2016-02-01 09:06] uestcbingo commented on #1222
I encountered the same issue, CPU version of mxnet is 3 times slower than caffe both using MKL. Did you solved the problem?  @wangzhangup

[2016-02-01 09:06] uestcbingo commented on #1222
I encountered the same issue, CPU version of mxnet is 3 times slower than caffe both using MKL. Did you solved the problem?  @wangzhangup

[2016-02-01 09:06] uestcbingo commented on #1222
I encountered the same issue, CPU version of mxnet is 3 times slower than caffe both using MKL. Did you solved the problem?  @wangzhangup

[2016-02-01 09:06] uestcbingo commented on #1222
I encountered the same issue, CPU version of mxnet is 3 times slower than caffe both using MKL. Did you solved the problem?  @wangzhangup

[2016-02-01 09:07] uestcbingo commented on #1222
I encountered the same issue, CPU version of mxnet is 3 times slower than caffe both using MKL. Did you solved the problem?  @wangzhangup

[2016-02-01 09:07] uestcbingo commented on #1222
I encountered the same issue, CPU version of mxnet is 3 times slower than caffe both using MKL. Did you solved the problem?  @wangzhangup

[2016-02-01 09:09] uestcbingo commented on #1222
I encountered the same issue, CPU version of mxnet is 3 times slower than caffe both using MKL. Did you solve the problem? @wangzhangup

[2016-02-01 09:26] rollingstone opened #1393 "Cannot call mxnet.io.ImageRecordIter from io.py"
Hi,

It seems that mx.io.ImageRecordIter method is not implemented in the io.py. I am not sure what went wrong. Is there any updated version of io.py which includes ImageRecordIter method?

Thanks a lot

[2016-02-01 10:37] Quares commented on #1228
This post reports on the same issue:
https://www.kaggle.com/c/second-annual-data-science-bowl/forums/t/18079/end-to-end-deep-learning-tutorial-0-0392/105458#post105458

I ran into the same situation as well. Not sure yet if the earlier releases solve the problem.

[2016-02-01 16:28] javelinjs commented on #1222
@wangzhangup @uestcbingo Curious about this issue, mind listing the caffe model configuration?

[2016-02-01 18:09] jsusskin opened #1394 "Computing aggregations along tensor dimensions"
I am fairly new to mxnet so I could be missing something here.
From what I can glean, the facilities for ndarray and symbolic tensor manipulations lack built-in support for aggregations along tensor dimensions. E.g. mean, standard deviation, sum, product...
In theano for example, I can do x.sum(axis=1) in a symbolic graph and all the forward/backward operations are handled properly.
What would be

[2016-02-01 18:15] jsusskin commented on #1394
I see now that this is probably related to issue #404, but it may deserve it's own issue since this is really about a family of common aggregation operations on tensors. I'm also wondering whether one way of accomplishing lots of these kinds of operations without spending the time writing the basic ops would be to use the torch modules. This could at least be a temporary way to increase functional

[2016-02-01 18:18] jsusskin commented on #1393
I noticed that too. It seems that the ImageRecordIter function generates a MXDataIter object with particular properties like random data augmentation, etc. Not sure why but I couldn't find the function definition anywhere -- probably just not understanding something about how the underlying code base works.

[2016-02-01 19:01] piiswrong commented on #1394
We already support these functions with torch modules. See doc/python/tutorial/torch_howto for detail.

[2016-02-01 19:06] piiswrong commented on #1393
It's generated at the end of io.py from C++ code.

[2016-02-01 19:14] jsusskin commented on #1394
Will definitely try the torch interface.
Regarding the ndarray interface, from what I can see, there is a sum function, but it collapses across all elements of the tensor, returning a scalar. That's definitely useful and can be used to build stats like global means, variances, etc., from a tensor without going back to numpy. Maybe I'm not seeing it, but I can't find any way in the ndarray function

[2016-02-01 19:19] jsusskin commented on #1394
Ok, I see how I can compute row or column sums using dot products of a matrix with a row or column vector of 1s. I think that would allow me to do these basic aggregations in ndarray without using the torch interface or writing a specific op.
One thing I'm still unclear about since I'm new to mxnet is how to mix symbolic and ndarray operations. If I want to include ndarray operations in the symbol

[2016-02-01 19:24] jsusskin commented on #1393
Ah. That explains it. Useful to know if anyone wants to generate variants similar to ImageRecordIter.

[2016-02-01 19:42] rollingstone commented on #1393
Thanks a lot. It's a nice trick. :)

[2016-02-01 21:16] xgastaldi commented on #1391
Many thanks for your help. I managed to do it with Torch's nn.Padding function :).
The Torch bindings are really helpful!

[2016-02-01 21:16] #1391 closed

[2016-02-01 22:58] Quares commented on #1358
In other words, it seems that as for the moment, the current GPU build for R is unavailable (if one does not move to the last 2015 version and edit the NAMESPACE manually). There were others reporting problems with incorrect GPU results on Windows build in other issues.

[2016-02-01 23:18] caprice-j opened #1395 "Arguments to mx.callback.save_checkpoint"
What should I give to symbol, arg_params, and aux_params arguments of mx.model.fit()?

When I executed

model.fit(
   epoch_end_callback = mx.callback.save_checkpoint(prefix='mytest', epoch=1, symbol=net, arg_params=model.arg_params, aux_params=model.aux_params )
)

it returns:

---------------------------------------------------------------------------
AttributeError                            Tr

[2016-02-01 23:33] seusofthd opened #1396 "MXNet Multi-machine Training on Yarn"
I tried to run training applications on yarn with dmlc_yarn.py script, I set the number of workers to be 2 and the number of servers to be 1. The applications are submitted successfully, but there are no output and the application will get stuck. In the resourcemanager logs I found the following:

org.apache.hadoop.yarn.server.resourcemanager.scheduler.fair.FSAppAttempt: Reservation Exceeds Allowe

[2016-02-02 01:50] hjk41 commented on #1222
Guys, is there any performance profiling tools in mxnet? I am also trying
to figure out the issue on CPU. Currently mxnet does not fully utilize my
CPUs on Windows.

On Tue, Feb 2, 2016 at 12:28 AM, Yizhi Liu <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2016-02-02 01:54] piiswrong commented on #1395
Don't specify those unless you know what you are doing.

[2016-02-02 01:56] caprice-j commented on #1395
But when I remove the last three arguments, it returns:

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-66-c7afe2fd05af> in <module>()
      5          eval_metric = mx.metric.RMSE(),
      6 #  epoch_end_callback = mx.callback.log_train_metric(5),                      # doesn't

[2016-02-02 02:06] piiswrong commented on #1222
@hjk41 Not that I'm aware of. I have been thinking about adding profiling to the engine for a while. For example add a string tag to each Push and count time for each tag. But @tqchen Thinks this has negative performance implications.

BTW, there is a pretty easy fix for not fully using CPU: change mshadow/mshadow/tensor_cpu-inl.h:143 to a OpenMP parallel for.

[2016-02-02 02:09] piiswrong commented on #1395
Are you using the most recent mxnet? I don't see a save_checkpoint function in callback.py. It has been replaced by do_checkpoint

[2016-02-02 02:09] hjk41 commented on #1222
ok. Back in Minerva v2, we had some kind of lightweight profiling which can
be turned on when needed. I think we can do the same for mxnet.

For the mshadow fix, why isn't this enabled by default?

On Tue, Feb 2, 2016 at 10:06 AM, Eric Junyuan Xie <notifications@github.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2016-02-02 02:11] hjk41 commented on #1222
@wangzhangup I am looking into this issue. Is it possible to give me the program that you are using? Both for mxnet and caffe?

[2016-02-02 02:14] piiswrong commented on #1222
Because... Its a Pr people have been too lazy to push?
On Feb 1, 2016 6:10 PM, "Chuntao Hong" <notifications@github.com> wrote:

[2016-02-02 02:31] #1389 closed

[2016-02-02 02:38] hjk41 commented on #1222
Just tried the mshadow trick. It does boosts the CPU utilization to 100%,
but lowers the overall speed. 😅 I guess enabling OpenMP in that loop
causes a lot of cache coherence overhead.

On Tue, Feb 2, 2016 at 10:15 AM, Eric Junyuan Xie <notifications@github.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2016-02-02 02:46] piiswrong commented on #1222
try reducing the number of omp thread or limit mxnet's number of cpu
workers. They are probably competing.
On Feb 1, 2016 6:38 PM, "Chuntao Hong" <notifications@github.com> wrote:

[2016-02-02 03:05] caprice-j commented on #1395
Sure. Thanks for the information.

Then, is there a way to save .params for every two or more epoch?
do_checkpoint() doesn't seem to have 'epoch' argument.

[2016-02-02 05:54] paipai880429 commented on #558
@luxiangju Same problem. And in image.lst, I turned the multi-label to  a binary vector: 1 0 0 1 1 to represent the labels.

[2016-02-02 06:00] kingvision opened #1398 "can not convert vgg face model from caffe to mxnet"
hi:
   i try use the tools code to convert vgg face model frome caffe.
i got an error. why?

thanks

[2016-02-02 06:39] piiswrong commented on #1398
It's impossible for people to help you if you don't provide enough details on what you are doing and what error you got.
If possible, you should provide a minimal code snippet that reproduces your error.

[2016-02-02 06:54] qiaohaijun opened #1399 "inception-v3 result train-acc and val-acc"
16 machines with 4 k40m gpus
the config is:
batch_size=256,
clip_gradient=5.0,
data_dir='/search/data/',
data_shape=299,
gpus='0,1,2,3',
kv_store='dist_sync',
log_dir='/tmp/',
log_file='inception-v3-16m-try-1.log',
lr=0.005,
lr_factor=0.94,
lr_factor_epoch=1.0,
mean_file='2w_mean.bin',
model_prefix='model/model-2w-384',
network='inception-v3',
num_classes=21841,
num_epochs=100,
num_examples=141920

[2016-02-02 06:56] qiaohaijun commented on #1399
@mli

[2016-02-02 07:20] piiswrong commented on #1399
Why is Val acc higher then train acc when there are no drop outs

[2016-02-02 07:32] qiaohaijun commented on #1399
I use the 1k val dataset。

[2016-02-02 07:33] antinucleon commented on #1399
No seems you have done something wrong. Could you paste your data iter conf?

[2016-02-02 07:41] qiaohaijun commented on #1399
batch_size=256,
clip_gradient=5.0,
data_dir='/search/data/',
data_shape=299,
gpus='0,1,2,3',
kv_store='dist_sync',
log_dir='/tmp/',
log_file='inception-v3-16m-try-1.log',
lr=0.005,
lr_factor=0.94,
lr_factor_epoch=1.0,
mean_file='2w_mean.bin',
model_prefix='model/model-2w-384',
network='inception-v3',
num_classes=21841,
num_epochs=100,
num_examples=14192019,
train_dataset='imagenet_2w_rec_resize_38

[2016-02-02 08:26] antinucleon commented on #1399
OK. I made a mistake. If you train on ImageNet-22k and val on 1k, it looks not bad for your current result. https://mxnet.readthedocs.org/en/latest/tutorial/imagenet_full.html

[2016-02-02 09:05] paipai880429 commented on #910
@jimxinbo I noticed that "LogisticRegressionOutput" may output a multiple binary vector?
Besides, if you made your own layer, what's the evaluation metric did you use for this multiple label training?

[2016-02-02 10:12] eule710 opened #1400 "Error in model safe / load"
Hi guys,

there seems to be an error in the model safe / load routine.

When training on cifar10 (train_cifar10.py), the following code fails to safe and load the model correctly:

[code]

The predictions on the validation set are not the same:
prediction1.csv l.1:
0.00000,0.00000,0.00000,0.00000,0.00035,0.00000,0.00000,0.99965,0.00000,0.00000

prediction2.csv, l.1:
0.00328,0.00002,0.28973,0.00304

[2016-02-02 11:06] javelinjs opened #1401 "[ScalaPackage] driver shutting down exception"
I did some training test for scala-package(WIP) on gpu, everything went well, but finally it core dumped with exception:
[code]

I wonder what it meant? Here are the logs. (It ran slow because something else was running on this card at the same time.)

[code]

My test code:
https://github.com/javelinjs/mxnet/blob/scala-package-l/scala-package/core/src/test/scala/ml/dmlc/mxnet/train/ConvSuite.scala

[2016-02-02 14:16] qiaohaijun commented on #1399
@antinucleon thx your answer

[2016-02-02 14:39] thirdwing commented on #1358
Hi, we have updated Windows libs, can you try again?

[2016-02-02 15:47] kingvision commented on #1398
hi:
thank you for your reply.
python convert_model.py VGG_FACE_deploy_src.prototxt VGG_FACE.caffemodel vggface
the i got the error:
Traceback (most recent call last):
  File "convert_model.py", line 100, in <module>
    main()
  File "convert_model.py", line 65, in main
    wmat = np.array(layer_blobs[0].data).reshape(layer_blobs[0].num, layer_blobs[0].channels, layer_blobs[0].height, layer_blobs[

[2016-02-02 15:55] loweew opened #1402 "predicting on random crops"
What is the preferred way to do this? I generate crops through sliding window or selective search, but predicting on each crop serially is obviously slow. So, I'd like to create a batch of these crops and then predict on that batch. What is the best way to do this? I couldn't find an example of using a list of images directly to predict. Should I create a rec object from the images and use that da

[2016-02-02 17:05] tqchen commented on #1401
Was due to cuda driver shutting down and some functions are called after the driver shutting down. Most of this exceptions are caught and ignored during destruction time. I guess there are some exceptions.

Normally you can get over it by get some result from the model and run predictions. This is not the problem of scala package, but would be great if you can find where the error is thrown.

[2016-02-02 17:07] #1339 closed

[2016-02-02 17:09] tqchen commented on #1401
For example, it is caught here https://github.com/dmlc/mxnet/blob/master/src/engine/threaded_engine.h#L290

If you can use gdb to find where the error was thrown, we can try add things to these places as well

[2016-02-02 17:26] piiswrong commented on #1402
Subclass DataIter and write your own data iterator

[2016-02-02 17:56] mli commented on #1399
should the lr be so small? we often use lr=0.05. also we found

1. python's image resize function could affect the accuracy
2. use cudnn v4 instead of v3, the latter has bug on the pooling layer

i think @antinucleon knows more about the issues.

[2016-02-02 18:48] jsusskin commented on #1269
I have a similar question for the case where I'm using MXDataIter objects. I want to load in two different iterators and then route them to different symbolic input nodes. It looks like the NDArrayIter can help here but requires the inputs to be NDArrays, and I don't see how to combine that with MXDataIter objects. Can the PrefetchingIter implementation help here, or maybe this requires writing a

[2016-02-02 18:56] Quares commented on #1358
I have tried with the latest release (20160202) and still no success (had to revert back to the one that is working, i.e., 20151228). The problem starts with as simple command as
`mx.nd.ones(c(2,3), mx.gpu())`
which returns a matrix full of zeros instead of ones. By the way, the same erroneous behavior occurs with the windows version of python package build. Again, release 20151228 does not have t

[2016-02-02 18:58] thirdwing commented on #1358
Thank you for the testing!

On Tue, Feb 2, 2016 at 1:56 PM, Kamil <notifications@github.com> wrote:

--
Qiang Kou
qkou@umail.iu.edu
School of Informatics and Computing, Indiana University

[2016-02-02 19:00] Quares commented on #1358
Happy to help!

[2016-02-02 22:08] thyu commented on #1020
2

As a newbie to mxnet I sometimes feel too embarrassed to ask dumb question in Github/issues, fearing that I would visually block some more important issues happening in Github/issues.

Also, 2 would be a nice place for people to showcase their pet projects using mxnet...  hopefully you can find good apps with great potential, who knows?

[2016-02-02 22:35] thirdwing commented on #1020
2

[2016-02-03 02:36] paipai880429 opened #1404 "Multi-Label Training Problem in MXNET"
Hi, all.
I referred to the mxnet/examples/ndsb2/Training.py, trying to solve a multi-label problem. However, I am running into the "no learning" problem.
![image](https://cloud.githubusercontent.com/assets/3724085/12771065/01a31286-ca61-11e5-86ec-bb9149c9fdfb.png)

My processing with MXNET is as follows:

1. I create the "train.lst" and "val.lst" as the  document shows. Speifically, I turned the l

[2016-02-03 03:08] terrytangyuan commented on #1020
2

[2016-02-03 03:18] piiswrong commented on #1404
You probably need custom metric for multi label learning.

[2016-02-03 03:26] paipai880429 commented on #1404
@piiswrong Would you please check the custom eval_metric for me (the last two pictures)?

[2016-02-03 03:42] piiswrong commented on #1404
Accuracy of 0 most likely means your metric is buggy. By chance it should be at least around 1/num_class.
Try debugging with pdb

[2016-02-03 04:19] vchuravy commented on #1020
Since there seem renewed interest, let me just quickly point out that discourse and not disqus would better fit our needs. https://github.com/dmlc/mxnet/issues/976#issuecomment-166829156

[2016-02-03 08:10] hjchen2 commented on #1372
Hi, I have implemented it by set lr_mult and wd_mult in operator prop's parameter, so we can get lr_mult and wd_mult from operator prop as same as InferShape.

`struct ConvolutionParam : public dmlc::Parameter<ConvolutionParam> {
  TShape kernel;
  TShape stride;
  TShape dilate;
  TShape pad;
  uint32_t num_filter;
  uint32_t num_group;
  uint64_t workspace;
  std::vector<float> lr_mult;
  std::v

[2016-02-03 08:12] hjchen2 commented on #1372
struct ConvolutionParam : public dmlc::Parameter<ConvolutionParam> {
  TShape kernel;
  TShape stride;
  TShape dilate;
  TShape pad;
  uint32_t num_filter;
  uint32_t num_group;
  uint64_t workspace;
  std::vector<float> lr_mult;
  std::vector<float> wd_mult;
  bool no_bias;
  DMLC_DECLARE_PARAMETER(ConvolutionParam) {
    int shape[] = {1, 1};
    DMLC_DECLARE_FIELD(kernel).describe("convolution

[2016-02-03 08:13] hjchen2 commented on #1372
struct ConvolutionParam : public dmlc::Parameter<ConvolutionParam> {
  TShape kernel;
  TShape stride;
  TShape dilate;
  TShape pad;
  uint32_t num_filter;
  uint32_t num_group;
  uint64_t workspace;
  std::vector<float> lr_mult;
  std::vector<float> wd_mult;
  bool no_bias;
  DMLC_DECLARE_PARAMETER(ConvolutionParam) {
    int shape[] = {1, 1};
    DMLC_DECLARE_FIELD(kernel).describe("convolution

[2016-02-03 08:23] piiswrong commented on #1372
@antinucleon I think we should make lr_mult and wd_mult rely on names, not indexes. It's more natual.

[2016-02-03 08:25] piiswrong commented on #1398
It's still hard to say what happened without VGG_FACE_deploy_src.prototxt

[2016-02-03 08:32] kingvision commented on #1398
hi：
This is the VGG_FACE_deploy_src.prototxt
name: "VGG_FACE_16_layers"
input: "data"
input_dim: 1
input_dim: 3
input_dim: 224
input_dim: 224
layers {
  bottom: "data"
  top: "conv1_1"
  name: "conv1_1"
  type: CONVOLUTION
  convolution_param {
    num_output: 64
    pad: 1
    kernel_size: 3
  }
}
layers {
  bottom: "conv1_1"
  top: "conv1_1"
  name: "relu1_1"
  type: RELU
}
layers {
  bottom: "c

[2016-02-03 08:58] piiswrong commented on #1392
Look into cudnn_covlution-inl.h. It shows how to use CUDNN_MAJOR to determine cudnn version and activate different code.

[2016-02-03 09:26] junranhe opened #1406 "why not use the multiprocessing.Lock in tools/im2rec.py"
in tools/im2rec.py
71     lock = threading.Lock()

Is it safe for using threading.Lock im multiprocessing?  I have little puzzle between threading.Lock and multiprocessing.Lock because of I think multiprocessing not share the memory...

[2016-02-03 11:05] magic282 opened #1407 "Compiler error when building on Windows"
Hi,

I am trying to build mxnet under Windows. According to the docs, I used cmake-gui and no error was reported. The VS is 2013. And about the c++11 support, when I run the patch, it said that the patch was already installed. The OS is 64 bit Windows 10. The CUDA version is 7.5; cudnn version is v3, and the gpu is gtx 960. The compiler selected in cmake-gui is VS2013 win64.

The cmake screenshot:

[2016-02-03 12:01] junranhe commented on #1406
103        from multiprocessing.pool import ThreadPool
if ThreadPool just the same as  the normal thread pool ,why not use the normal thread pool?

[2016-02-03 12:17] qiaohaijun commented on #1399
@mli I will try cudnnv4

[2016-02-03 14:09] javelinjs commented on #1401
Thank you @tqchen ! It was exactly the problem you explained. Here's the backtrace:

[code]

Seems that we ought to catch exceptions at
https://github.com/dmlc/mxnet/blob/master/src/engine/threaded_engine.cc#L292 and https://github.com/dmlc/mxnet/blob/master/src/engine/naive_engine.cc#L99 ?

[2016-02-03 17:11] tqchen commented on #1401
These executions are asynchronize, so catch need to be added to places where the function is executed, instead of places where function is added to the queue. For NaiveEngine it is here https://github.com/dmlc/mxnet/blob/master/src/engine/naive_engine.cc#L87

[2016-02-03 17:12] tqchen commented on #1401
The two places you point out pushes the function to the queue without executing them

[2016-02-03 17:12] tqchen commented on #1401
Please make a fix and you are more than welcomed to open  a PR on this

[2016-02-03 17:29] javelinjs commented on #1401
I see. I'll modify the code and test it once I've got time today.

[2016-02-03 18:46] piiswrong commented on #1377
@GravApple https://github.com/dmlc/mxnet/pull/1408 added this feature. You are welcome to test it.

[2016-02-03 18:54] piiswrong commented on #1112
@pevnak https://github.com/dmlc/mxnet/pull/1408 added this feature. You are welcome to test it.

[2016-02-03 18:55] piiswrong commented on #952
@starimpact https://github.com/dmlc/mxnet/pull/1408 added this feature. You are welcome to test it.

[2016-02-03 19:43] lukemetz opened #1409 "cudnn v4 2-3x slower than v3 for predictions on inception style arch"
Hello,
I am experiencing a weird performance regression when predicting from an inception style convnet with cudnn V4.
My tests were all off of current master and a clean build and re init of all sub modules with cuda 7.0. I switch versions by deleting the cudnn files from my cuda directory (libs and headers) and replacing them with the new ones.
When V3 is enabled I am able to process 50 images a

[2016-02-03 22:49] svohara opened #1410 "Distributed training -- where is the final model? Why are validation scores different?"
First of all, I would like to express that I appreciate the significant development effort required to produce mxnet, and I am very excited to use this tool and hopefully to contribute features as time goes on. However, there are areas that could use more polish. My reason for using mxnet is for distributed training (cluster/AWS). Since few of the most popular packages do a good job in this regard

[2016-02-03 23:10] LiamZhuuu opened #1411 "How to deal with huge image record file"
For I am training on a 11 GB image record file and always get killed because of out of memory.
So I am just wondering that does mxnet load the entire image into the memory?
And what can I do if so.
Thanks!

[2016-02-03 23:15] piiswrong commented on #1411
What does your trianing script look like and what error are you seeing?

[2016-02-03 23:17] piiswrong commented on #1409
Could you try tuning the workspace size for convolutional layers? If it's too much trouble setting it for each layer in python, just change the default value in C++ code.
My guess is setting it smaller will be better

[2016-02-03 23:18] piiswrong commented on #1410
@mli

[2016-02-03 23:40] ascust opened #1412 "I dont quite understand how Upsampling works."
I am trying to implement a fully convolutional neural network which requires an upsampling step before softmaxout. The small score maps need to be upsampled to the same size as the ground-truth label. I tried to use Upsampling layer but it seems the layer requires weights parameters. I simply just want to use bilinear methods to scale the score maps, for example I have 21 score maps with size 64_6

[2016-02-03 23:43] mli commented on #1410
hi stephen

many thanks for the feedbacks. correct me if i'm wrong, the main question you asked is why there are n different models even using synchronized training, e.g. `dist_sync`.

the answer is that all parameters expect for the batch normalization layer should be identical. the problem for the batch normalization is that it maintains a guess of the mean and variance of the gradient, which is

[2016-02-04 00:09] LiamZhuuu commented on #1411
pretty standard one.
data is loaded with `mx.io.ImageRecordIter`
the Inception_BN is fine-tuned using `Feedforward.fit`
And the log shows that
[code]
My desktop has 3 titanX cards and 32 GB memory (but only 16 GB free for training)

[2016-02-04 00:22] svohara commented on #1410
Thank you for your very speedy response. However, I suggest we try to make the situation better. I assume that my high level understanding of how the dist-sync process works is essentially correct, given that you made no corrections, so I'm continuing with this in mind.

1. Your response suggests that the user deploy an ensemble if they trained with a distributed net (perhaps only in the case if b

[2016-02-04 00:39] piiswrong commented on #1412
Bilinear upsampling is implemented via convolution, therefore the weights. If you don't want them to be modified by training you need to set lr_scale to 0 for them.

[2016-02-04 00:43] piiswrong commented on #1411
When does this happen? At the start of training or after a while?

[2016-02-04 00:46] piiswrong commented on #1411
imagerecorditer definitely own't load the entire record file into memory. This should be caused by something else

[2016-02-04 00:52] LiamZhuuu commented on #1411
At the beginning of the training.
But I find that the training takes more then 10 GB memory beside graphic memory.
So what's the usage of that part of memory
( My batch size is 384, when I switch to 256, it get killed after one epoch)

[2016-02-04 01:05] LiamZhuuu commented on #1411
Update,
I upgrade the memory and now the traning won't get killed.
And I just wondering when the training will take so much memory (17GB)

[2016-02-04 01:11] tqchen commented on #1410
On the batchnorm question, the statistics on batchnorm is only needed at prediction time, and it is not part of model parameters used during training, the related parameters are synchronized.

So the batchnorm only need to be aggregated once after the training is done

[2016-02-04 01:14] ascust commented on #1412
So it works like standard bilinear interpolation if I dont do weights update? Could you explain if I do update the weights, what will change? I ask this because I think bilinear interpolation is somehow a fixed method.

[2016-02-04 01:18] lukemetz opened #1413 "Torch nondeterministic segfault"
Found another segfault with the `ThreadedEnginePerDevice` Executor. It does not happen on the `NaiveEngine`. It also appears to only happen when working with torch criterion. It appears to only occur when adding two criterion (MSE cost plus softmax for an autoencoder classifier model) after around 400 iterations of successful running.

Could there be a race in the order in which these two criterio

[2016-02-04 01:19] mli commented on #1410
my answers to your bullets:

1. a postprocessing to average the models into a single one will work. or even simply pick one model should be good enough. for large datasets such as imagenet, the model variance is not so big

2. can you help clarify the document?

3. refer to tianqi's comments

4. that should work, i think we already have a such script @antinucleon

5. yeah. i tested that months ago

[2016-02-04 01:23] ascust opened #1414 "how to crop images based on a variable."
I see in fcnxs example, there is something like "upscore = mx.symbol.Crop(*[bigscore, crop], offset=offset, name="upscore")". Basically I guess its role is to guarantee the upsampled feature maps have the same size with the original images. But I am kinda confused with the use of Crop function. From the document, the first argument is an int called "num_args", what does it mean by "*[bigscore, cro

[2016-02-04 01:26] piiswrong commented on #1413
@mavenlin Maybe we should consider make separate lua_state per operator?

[2016-02-04 01:38] RishabGargeya commented on #1385
Hi,
I tried to change the LDFLAGS variable to the directory immediately containing libcuda.so
(-L/share/sw/free/cuda/7.5/lib64/stubs/).
I believe it is now recognizing the library, but I encounter another error:

[code]
Does anything I am doing look wrong?
What do you think omp_get_num_threads@@OMP_1.0 and DSO missing from command line mean?

[2016-02-04 01:48] GravApple commented on #1377
@piiswrong Thank you very much! I will try it.

[2016-02-04 01:49] #1377 closed

[2016-02-04 01:58] piiswrong commented on #1385
Try turn off OpenMP support in config.mk.

On Wed, Feb 3, 2016 at 5:39 PM, Rishab Gargeya <notifications@github.com>
wrote:

[2016-02-04 02:14] piiswrong commented on #1412
If you update the weights it is trianed like a deconvolution layer, which
may be better than static bilinear upsampling.
On Feb 3, 2016 5:14 PM, "AsCu" <notifications@github.com> wrote:

[2016-02-04 02:41] starimpact commented on #1392
thanks @piiswrong
do you have any further suggestion?

[2016-02-04 02:47] lukemetz commented on #1413
I will give it a try.

[2016-02-04 02:53] piiswrong commented on #1413
Actually there might be another cause. It failed in malloc and I think
malloc is non reentrant. So that might be the problem.
On Feb 3, 2016 6:47 PM, "Luke" <notifications@github.com> wrote:

[2016-02-04 03:05] ascust commented on #1412
So does it mean I need to create a convolution filter for it and use it to do bilinear interpolation? The problem is that the program complains that I didnot put the weights into net parameters.

[2016-02-04 03:07] piiswrong commented on #1412
You need a weight matrix. It can be initial ized with bilinear initializer
in mx. init
On Feb 3, 2016 7:05 PM, "AsCu" <notifications@github.com> wrote:

[2016-02-04 03:09] lukemetz commented on #1413
Also, why would a shared Lua_State matter if they are never used across threads? In both an operator specific Lua_State and thread specific Lua_State there should be no races.

[2016-02-04 03:10] starimpact commented on #952
does it affect the performance ?

[2016-02-04 03:10] piiswrong commented on #1413
You are probably right. So may be its non reentant malloc problem. Or
something else.
On Feb 3, 2016 7:09 PM, "Luke" <notifications@github.com> wrote:

[2016-02-04 03:13] formath opened #1415 "relationship between Node and DataEntry? difference of Node between atomic, viriable and backward in symbol?"

[2016-02-04 03:27] ascust commented on #1412
I did not find the corresponding documentation. I found Xavier, Normal, Uniform and so on. Would you tell me how to do it specifically. I suggest you could add this to the document.

[2016-02-04 04:06] jimxinbo commented on #910
In my problem, I assume I know the number of labels (say k). For evaluation metric, I check the largest k probability of the softmax layer and see if they match the ground truth labels.

[2016-02-04 04:33] ascust commented on #1412
`import mxnet as mx
import numpy as np

from PIL import Image
# upsample filter
def upsample_filt(size):
    factor = (size + 1) // 2
    if size % 2 == 1:
        center = factor - 1
    else:
        center = factor - 0.5
    og = np.ogrid[:size, :size]
    return (1 - abs(og[0] - center) / factor) * \
           (1 - abs(og[1] - center) / factor)

#network
net = mx.symbol.Variable('data')
net =

[2016-02-04 04:47] piiswrong commented on #1412
`net = mx.symbol.UpSampling(net, num_filter=3, scale=2, sample_type='bilinear', num_args = 2, name="up")`
You need to set num_filter to the number of channels. This is a nuisance due to a hacky solution. I'll try to find time to fix this.

[2016-02-04 04:51] piiswrong commented on #1415
If you want to add a feature, please say what it is and we can offer suggestions. If you are trying to understand the backend code, I suggest you read the notes in documentation.

[2016-02-04 04:52] piiswrong commented on #1411
@tqchen Any thoughts?

[2016-02-04 05:09] RishabGargeya commented on #1385
Hi,
Thanks for the reply. I actually tried turning on OpenMP support and mxnet successfully compiled.
I continued to successfully install python support through ```python setup.py develop --user```.
However, I am unable to import mxnet - It still gives me issues with recognizing the cuda library:
Here is the error when I execute import mxnet:
[code]
MXNET is still unable to find libcuda.so but I a

[2016-02-04 06:02] ascust opened #1416 "AttributeError: 'NDArray' object has no attribute 'reshape'"
I tried to use
[code]
I got an error
AttributeError: 'NDArray' object has no attribute 'reshape'.
What is happening here?

[2016-02-04 06:20] yuzcccc commented on #1399
totally 64 k40m...? orzzzz

[2016-02-04 06:47] piiswrong commented on #1416
Pull the most recent code.

[2016-02-04 06:59] paipai880429 commented on #910
@jimxinbo Would you please share your evaluation metric code?

[2016-02-04 07:08] paipai880429 commented on #1088
@mazeLinx What did you mean "by adding one additional rows into label file"?

[2016-02-04 07:08] paipai880429 commented on #1097
Same again~

[2016-02-04 07:10] jimxinbo commented on #910
Sure, I am on to some deadline recently. I will send the code next week.

[2016-02-04 08:10] zhoususheng opened #1417 "A issue happened when I make"
my opencv version is 3.1
![2016-02-04 16-08-38](https://cloud.githubusercontent.com/assets/9567903/12809414/c4fdf3a6-cb59-11e5-998e-5f21fd27aca2.png)

[2016-02-04 08:59] #1406 closed

[2016-02-04 09:15] WDee opened #1418 "Provision of attributes to optimizers"
i had a quick question on how to provide arguments to optimzers.

Does code like per below work?

[code]

[2016-02-04 09:41] #1399 closed

[2016-02-04 15:43] Florro commented on #1400
I experience the same problem, when I try to train a multi-stage model.

[2016-02-04 15:55] javelinjs commented on #1401
I stucked by something really strange. Here are what I've tried:
* At https://github.com/dmlc/mxnet/blob/master/src/engine/naive_engine.cc#L87
[code]
Still failed

* At https://github.com/dmlc/mxnet/blob/master/src/resource.cc#L155
[code]
Pass

[code]
Fail

[code]
Fail

[code]
Fail

* If I catch exception at https://github.com/dmlc/mshadow/blob/master/mshadow/tensor_container.h#L75, and leave 'del

[2016-02-04 16:52] svohara commented on #1410
Below is part of the output for distributed training of cifar10 data using a simple LeNet network, thus no batch norm. You can see that each of the 3 nodes reports different validation accuracy at each epoch. This output still contradicts my expectations, but it may be explained if the validation scores are computed prior to synchronization (which I feel is a mistake, but perhaps there are impleme

[2016-02-04 17:14] tqchen commented on #1401
The problem is delete invokes an destructor, which cannot throw exception out. That is why this happened.

So the solution intended was always call r->Release() and catch exception there, so delete r won't call Release() again(note that there is a nullptr check in Release) can you look into what happened here?

I guess it might due to some problems in delete r still invokes the free

[2016-02-04 17:16] tqchen commented on #1410
- The shared parameters of batch norm are synchronized during training.
- The moving mean variance statistics are NOT part of batchnorm parameters and will not affect training step, they are only used during test prediction

[2016-02-04 17:21] tqchen commented on #1411
There is a prefetcher buffer in mxnet. MXNet of course won't load the entire dataset into memory, but this could due to too large prefetcher buffers.  Try change the prefetch_buffer parameter here http://mxnet.readthedocs.org/en/latest/python/io.html

Since there are multiple places where prefetching, and multi-threaded decoding is  happening. Some of them are not yet configurable. e.g.

https://g

[2016-02-04 18:03] javelinjs commented on #1401
Yep, I find the problem.
https://github.com/dmlc/mshadow/blob/master/mshadow/tensor_container.h#L174
If this line fails, then the following codes will never be executed. Thus data_.dptr_ will stay NULL when 'delete r' is called.

How about change it to
[code]

[2016-02-04 18:22] javelinjs commented on #1401
Another option is to simply try mshadow::FreeSpace catch ... in ~TensorContainer()

[2016-02-04 18:30] tqchen commented on #1401
Oh, nice catch, in general we should try catch in release, let us simply
set the ptr to nullptr after calling release in mxnet
On Thu, Feb 4, 2016 at 10:22 AM Yizhi Liu <notifications@github.com> wrote:

[2016-02-04 18:37] mli commented on #1410
the reason you see different validation acc during training is because each node only runs validation on a part of the validation data. assume there are n nodes, we partition validation data into n parts, node i only report the results on part i.

[2016-02-04 18:41] mli commented on #1409
i did a comparison between v3 and v4 on inception 7 using 4 x titan x. my results show v4 is still a little bit faster than v3.

[2016-02-04 19:11] lukemetz commented on #1413
@piiswrong:
I have been trying to do a bit of investigating. My best guess as to what is going on is a race in when the lua garbage collector that is only getting triggered because an operator needs the output of two criterion.

I did a small test of putting a collectgarbage("collect") call into sharedserialize.lua save and load functions just before the return. This does create a reproducible seg

[2016-02-04 19:26] erogol opened #1419 "conert_model.py raises error for BatchNorm layer of Caffe"
Here is the error I got;

File "tools/caffe_converter/convert_model.py", line 38, in main
    prob = proto2symbol(args.caffe_prototxt)
  File "/media/erogol8bit/data_hdd/Libs/mxnet/tools/caffe_converter/convert_symbol.py", line 147, in proto2symbol
    sym, output_name = proto2script(proto_file)
  File "/media/erogol8bit/data_hdd/Libs/mxnet/tools/caffe_converter/convert_symbol.py", line 122, in pr

[2016-02-04 19:28] fengjunlv commented on #1411
I am having the same problem. Today I updated and recompiled the code to the latest version but now training uses almost 31GB (inception-bn model, batch_size=128) which slows down my ubuntu OS significantly and the speed is less than 20 samples/sec. It used to be 56 samples/sec a couple of days ago.

[2016-02-04 20:09] piiswrong commented on #1413
is the lua garbage collect specific to lua states or a global background
thread?
On Feb 4, 2016 11:11 AM, "Luke" <notifications@github.com> wrote:

[2016-02-04 20:09] lukemetz commented on #1409
I ran some numbers on my specific task taking into account workspace size. Here is the sweep:

cudnn v4:
workspace 128: 53 img/sec
workspace 256: 31 img/sec
workspace 512: 15 img/sec
workspace 1024: 16 img/sec

cudnn v3:
workspace 128: 53 img/sec
workspace 256: 50 img/sec
workspace 512: 51 img/sec
workspace 1024: 51 img/sec

I find it very strange how different the performance is from v3 to v4, bu

[2016-02-04 20:10] piiswrong commented on #1413
What about two torch module instead of torch criterion?
On Feb 4, 2016 12:09 PM, "eric xie" <eric.jy.xie@gmail.com> wrote:

[2016-02-04 20:11] #1409 closed

[2016-02-04 20:15] mli commented on #1409
can you have a try with the `PREFER_FASTEST` flag? i tested last night but it decreases the performance, i guess it's probably due to incorrect workspace size.

does 'auto' work?

[2016-02-04 20:17] piiswrong commented on #1409
Cudnn is being stupid and when allowed more workspace, picks an algorithm
thats both slow and memory consuming. We are going to change default
workspace to a smaller value to circumvent this.
On Feb 4, 2016 12:13 PM, "Luke" <notifications@github.com> wrote:

[2016-02-04 20:22] piiswrong commented on #1409
Prefer fasted is the worst since its equivalent to allowing infinite
workspace.  We were using it before. I changed to limit workspace a while
back.
On Feb 4, 2016 12:19 PM, "Mu Li" <notifications@github.com> wrote:

[2016-02-04 20:30] lukemetz commented on #1409
Well that's dumb of cudnn. It would be cool to do some sort of graph optimization like (http://benanne.github.io/2014/12/09/theano-metaopt.html) to auto pick. I will run the PREFER_FASTEST on my test when my gpu's are free again.

[2016-02-04 20:35] lukemetz commented on #1409
With PREFER_FASTEST enabled for everything in the convolution my speeds are:
16 examples a second. So exactly as @piiswrong suggested.

[2016-02-04 21:22] lukemetz commented on #1413
I think the lua_state are completely separate and thus would have a separate garbage collector. (http://stackoverflow.com/questions/17653530/is-it-possible-to-share-a-table-between-multiple-lua-state-in-a-single-threaded)

The crash does appear to happen for both criterion and modules but its hard to 100% confirm. My test case is as follows:

[code]

I was unable to get these to crash however with

[2016-02-04 21:38] piiswrong commented on #1413
Here is a temporary work around: Since crash happens in serialization/deserialzation, we can remove the need for them by making a lua_state per operator, instead of per thread.
The down side of this is every operator will have to load a copy of torch. But hopefully torch lib doesn't take up that much memory.

[2016-02-04 22:13] terrytangyuan opened #1420 "[mxnet-R] More high-level APIs?"
It would be nice to have some high level APIs that users can just  plug in and play with, e.g. RNN/LSTM since I don't think most R users would be able to implement it themselves. Imagine rewriting this Python implementation in R - https://github.com/dmlc/mxnet/tree/master/example/rnn

[2016-02-05 00:37] ascust opened #1421 "An fatal error occurred in asynchronous engine operation."
I tried to modify fcn-xs example. Actually I am trying to implement a simplified version, so I replaced the deconvolution layer with an upsampling layer. But I got this error. Pretty sure this is due to the upsampling layer because I remove this layer and do several forward, nothing happened. The specific info is:
[code]
To simply the problem, I only used forward, and my symbol is defined as:
[cod

[2016-02-05 01:05] ascust commented on #1421
The score map has shape "batchsize x 21 x heigh x width". This is what I want to upsample.

[2016-02-05 01:14] piiswrong commented on #1419
Yeah, the converter is a little out of date. Are you interested in proposing a PR on this? It should be easy.

[2016-02-05 01:15] piiswrong commented on #1418
2&3 will work. 1 doesn't

[2016-02-05 01:16] #1416 closed

[2016-02-05 04:53] #1414 closed

[2016-02-05 06:26] realbns2008 opened #1422 "alxnet, googlenet do not convergence when using default initializer"
When I use my own data set to play with alexnet and googlenet in the example/image-classifications, it seems that both models will not convergence when using the default initializer in train_model.py:
 (   initializer =  mx.init.Xavier(factor_type="in", magnitude=2.34) )

However when I use mx.init.Normal() as the initializer, then the alexnet do convergence.

Is it possible to let user specific i

[2016-02-05 07:31] piiswrong commented on #1421
bilinear upsampling internally calls deconvolutional layer. You need larger workspace for deconvolutional layer. Currently there is no interface for  that. You need to change the c++ code.

[2016-02-05 13:26] 501177639 opened #1423 "mistakes in mxnet"
https://github.com/dmlc/mxnet/blob/master/src/c_api/c_api.cc#L1308    line1308,  is *reinterpret_cast<NDArray*>(outputs[i]))); ?

https://github.com/dmlc/mxnet/blob/master/src/operator/cudnn_batch_norm.cu#L132  line132
is cudnnbatchnorm::kGamma ?

[2016-02-05 13:36] abangdd opened #1424 "training speed of BN-Inception"
the training speed of BN-Inception is 10,666 seconds per epoch for one TitanX
see https://github.com/dmlc/mxnet/tree/master/example/image-classification
while in Torch, the training speed is 7686 seconds per epoch (192 ms per 32 images)
see http://torch.ch/blog/2016/02/04/resnets.html
the difference is not neglectable, do you know the reasons?

[2016-02-05 17:31] wangdelp commented on #1219
@piiswrong It seems to me that using the NVRTC library would lead to better performance from the following page.
http://docs.nvidia.com/cuda/nvrtc/index.html#axzz3zJaU1Prj

Do you think it's good to make the installation tutorial compatible with setting USE_NVRTC=1? It should be easy since this library is included in the latest CUDA release, just need to set the environment variable. thx

[2016-02-05 17:51] #1401 closed

[2016-02-05 18:58] piiswrong commented on #1424
Did you run the tests to see the current number? The doc is probably out dated since it was likely produced with cudnn v3.
@tqchen @jermainewang

[2016-02-05 19:05] piiswrong commented on #1423
NDArrayHandle is defined as void* so the first one is correct.
The second one is indeed a mistake. Thanks for reporting the error.

[2016-02-05 19:49] piiswrong commented on #1411
@fengjunlv Thanks for reporting the issue. Could you do a bisect "https://git-scm.com/docs/git-bisect" and pin point the change that caused this?

[2016-02-05 20:56] tqchen commented on #1411
could due to my recent change to dmlc-core to increase the ingestion buffer size. I know reverted dmlc-core back to the same setting as in this commit https://github.com/dmlc/dmlc-core/commit/2d1db230e5fb0bf32bfed4e425b6fe20d05aa1c3

@piiswrong please send a PR to update dmlc-core and see if this issue is fixed

[2016-02-05 21:55] fengjunlv commented on #1411
@piiswrong Unfortunately, I am not sure which version it is that used to be working. It was pulled and compiled quite a few days ago. Hopefully what tqchen has found out will fix the issue.

[2016-02-05 22:40] piiswrong commented on #1411
@tqchen doesn't seem to fix it on my machine. Training still takes 16G ram

[2016-02-05 22:49] tqchen commented on #1411
@piiswrong I see, can you look a bit into what happened?

[2016-02-05 22:53] piiswrong commented on #1411
I tried, but couldn't find a working version to start bisecting. Memory consumption starts when ImageRecordIter is created, before training starts. So you shouldn't need gpu to debug this.

[2016-02-05 23:42] LiamZhuuu commented on #1411
@tqchen Hi,thx for the suggestion. But the way you propose cannot significantly reduce the memory usage.

[2016-02-06 03:15] qiaohaijun commented on #1422
this is a old issuse

[2016-02-06 03:18] qiaohaijun commented on #1422
https://github.com/dmlc/mxnet/issues/826

[2016-02-06 03:20] qiaohaijun commented on #1422
try inception

[2016-02-06 03:24] javelinjs commented on #1422
I suggest to modify the example codes to make new users start easily. The code modification should be straightforward, e.g. provide get_initializer() for each example model and pass it as an argument to train_model.fit

[2016-02-06 05:01] 501177639 commented on #1423
the first one is inputs[i]?  I think it's outputs[i]

[2016-02-06 05:02] 501177639 commented on #1423
*reinterpret_cast<NDArray*>(outputs[i])));

[2016-02-06 05:05] piiswrong commented on #1423
ok. I see what you mean.

[2016-02-06 06:04] qiaohaijun commented on #1422
@javelinjs  good idea

[2016-02-06 06:41] ascust opened #1427 "cuda out of memory"
I tried to use fcn to do image segmentation. I got a "cuda out of memory" error. What's weird is that, I can do forward and backward without any error. Only when I do update to update weights. Then I narrowed the problem down to this update function, which in my case is a sgd optimizer update function. Then I continued to track the problem, I found as long as I did not update the layer " fc6", whi

[2016-02-06 06:42] javelinjs commented on #1422
@realbns2008 Could you make a PR for this issue?

[2016-02-06 06:53] piiswrong commented on #1427
sgd need to store momentum, which basically double the memory needed by parameters. python sgd also need intermediate variables. using ccsgd might solve the problem as it doesn't need intermediate variable, but it still need to store momentum.

[2016-02-06 16:40] erogol commented on #1411
Same problem is here. I use prefetch_buffer = 1 but still my data fills all the way of 30GB memory then raises out of memory error.

[2016-02-06 20:15] mli commented on #1424
that's interesting, probably due to cudnn v3/v4 or the fft-based convolution. we did measurement a month ago, these platforms, torch/caffe/mxnet, are comparable on cnns. we need to find out what happens there.

[2016-02-07 06:26] qigtang commented on #976
Or weechat, that will be real time.

[2016-02-07 12:19] hughperkins commented on #976
威信行。反正它只有一个'e' :P 反正我终于暂时放弃了mx。但是可能很大的理由是因为找不到了容易回答我的问题的方法。

所以你们打算创造一个威信的团队？ 还是。。。 ？

[2016-02-07 12:22] hughperkins commented on #1020
2. 还是一个人建议了威信？

[2016-02-07 15:08] gpapadop79 commented on #1228
Same issue here with mxnet and python. I installed the latest windows build 20160202 and while training a network the accuracy wasn't increasing. The computation was taking placing on the gpu because I checked it with gpu-z....
Did the simple arithmetic tests on gpu  mentioned by @piiswrong and it gave me zeroes.

So I switched to the 20151228 build and now it works ok.

So definately the bug from

[2016-02-07 18:57] #1396 closed

[2016-02-07 18:58] #1370 closed

[2016-02-07 18:59] #1262 closed

[2016-02-07 18:59] tqchen commented on #546
thanks @pppoe It has been added to the example

[2016-02-07 18:59] #546 closed

[2016-02-07 18:59] #394 closed

[2016-02-07 19:03] tqchen commented on #1020
Setup a google group maillist here https://groups.google.com/forum/#!forum/mxnet

Mainly aim to use this as maillist purposes for discussions. The options such as issue still available

[2016-02-07 19:03] #1020 closed

[2016-02-07 19:04] #1393 closed

[2016-02-07 19:46] wwkong opened #1429 "Using multiple CSV Iterators in Python"
Using multiple **CSV** data iterators in a PrefetchingIter has the problem that any neural net configuration will produce two outputs instead of one when the two data sets of concatenated and convoluted.

For example, the data iterators may be defined as this:

[code]

And the system defined as this:

[code]

This throws the error:

[code]

Any ideas for a work-around?

[2016-02-07 22:52] mli commented on #1222
did a benchmark on mnist with lenet (batch size = 256) and openblas

|                      |lenet (img/s)   |    cpubenchmark.net|
| ---- | ---- | ---- |
|2 x e5-2630 v3  | 676              |     12877|
|2 x e5-2670        | 604             |      12514|
|e5-1620 v3         | 540            |       9658|
|i7-4790               | 546            |       10019|
|i5-3470               | 476

[2016-02-08 01:06] lukemetz commented on #1413
Just submitted a PR that does just this. I gave up trying to track down the bad references. I think its something to do with the output variable on the nn.Module but I am not sure.

[2016-02-08 01:41] ContinuedStory commented on #1411
The newest version seems does not require so much memory. But after updating to the newest version. I got a problem

My ImageRecordIter are defined as follows:

[code]

Am I missing something in the multi-label for a Single Image? Thanks.

[2016-02-08 03:19] piiswrong commented on #1429
Your combined data iter has 2 labels, so it doesn't match the output of your network. You can write a custom iterator to through away the second one.

[2016-02-08 03:38] ascust opened #1431 "A question about how the labels are defined in fcn-xs example."
In fcn-xs segmentation example. I am a little confused about how labels defined and integrated in the network. An original ground-truth label for segmentation is an index image with 0 as background and 255 as ignored label. The other labels are assigned with a number between 0 and 255. There are 21 classes in PASCAL, which means 21 unique numbers. So how does the softmaxoutput calculate the loss w

[2016-02-08 04:07] ascust commented on #1431
Sorry, it is not PASCAL. It is another dataset. I guess I have to transform the label into continuous index right? like 0-20 and 255. Then it would make sense.

[2016-02-08 05:04] sxjzwq commented on #910
Hi @jimxinbo
Would you please share your multi-label softmax layer and the evaluation metric? Thanks!

[2016-02-08 09:22] horserma opened #1432 "How can I clear the memory usage?"
Hi,
I have several networks, but I will train them sequentially. Now I am a little confused about how the memory gets cleared after one network does the forward and backward. For example, I have 2 networks, net1 and net2. First, I use bind to create an executor and do forward with is_train= True and do backward. Then I need to create another executor by binding net2. Since the first one will take

[2016-02-08 14:32] channerduan01 commented on #958
I faced similar problem, 'make clean_all' worked! Thanks a lot!

[2016-02-08 17:59] piiswrong commented on #1432
You can bind multiple executors that share memory if you are never using them in parallel. Look into Executor.reshape for example.

[2016-02-08 20:42] mcculloh commented on #1383
I noticed this a well. For me on os x. But the issue is not that len(X) is 0, its that you are taking logs of zeros. The probabilities assigned by the output layer have lots of zeros in them so np.log(0) gives an error.

[2016-02-08 21:23] mcculloh commented on #1383
Looks like the same issue as https://github.com/dmlc/mxnet/issues/1322

[2016-02-08 22:19] horserma commented on #1432
My case is not using the same network with different input shapes but dealing with different networks. I just want to know, if I bind another network, how I could clear the previous one, or it gets cleared automatically?

[2016-02-08 22:29] saonim opened #1434 "MXNET multi GPU"
I am launching MXNET on a multi-GPU cluster for Alexnet and GoogLeNet.

1) Is it supported? Is there anyway I can specify which GPU(s) to use?
2) What are the best practices in term of settings? Should I use default ones as mentioned in: https://mxnet.readthedocs.org/en/latest/env_var.html#settings-for-more-gpu-parallelism

[2016-02-08 23:01] horserma commented on #1432
I mean like if first I set executor = net1.bind(...) and then I set executor = net2.bind(...), since it is the same variable, does it mean the first executor object will get released and cleared and the second created will be assigned to it. So I dont clear it manually, is that so? Just want to make sure. Thanks

[2016-02-08 23:06] piiswrong commented on #1432
It depends on the behavior of python's garbage collector. memory will be freed up when python executor object destructs. You can refer to python's document for that.

[2016-02-08 23:11] piiswrong commented on #1434
Are you trying to train networks on a single machine with multiple gpu or a cluster of multiple machines?
Single machine multiple gpu is easily done with FeedForward(ctx=[mx.gpu(0), mx.gpu(1) ... ]).
Multi machine distributed training can be done with this script: https://github.com/dmlc/mxnet/blob/master/tools/launch.py

[2016-02-08 23:32] saonim commented on #1434
Trying on a machine with multiple-GPUs. Can you please explain more how and where I can use FeedForward? I am new to this and using this command to run:
$python example/image-classification/alexnet.py ---gpus all
The alexnet.py is from [https://github.com/soumith/convnet-benchmarks/blob/master/mxnet/alexnet.py](url)

[2016-02-08 23:40] piiswrong commented on #1434
use example/image-classification/train_imagenet.py --gpus=0,1,2,...
It's explained in the doc. the evn variables should be left to default unless you know what you are doing.

[2016-02-09 00:38] saonim commented on #1434
Hi, train_imagenet is failing :(

~/mxnet$ python example/image-classification/train_imagenet.py --data-dir ~/data/mnist_train_lmdb/ --gpus=0,1
OpenCV is unavailable.
2016-02-08 16:35:26,821 Node[0] start with arguments Namespace(batch_size=32, clip_gradient=5.0, data_dir='/home/saonim/data/mnist_train_lmdb/', data_shape=224, gpus='0,1', kv_store='local', load_epoch=None, log_dir='/tmp/', log_file

[2016-02-09 00:54] piiswrong commented on #1434
dataset generated by caffe apparently won't work with mxnet. please read the doc and examples.

[2016-02-09 02:25] wwkong commented on #1429
I made a custom PrefetchingIter subclass as suggested and it worked. Thanks!

[2016-02-09 02:25] #1429 closed

[2016-02-09 04:58] bornfree opened #1436 "Android port fails with UnsatisfiedLinkError"
Cross compiling mxnet for Android using instructions at  https://github.com/dmlc/mxnet/blob/master/amalgamation/README.md builds an ARM library sized around 1.8 MB. (OpenBLAS enabled and already crosscompiled)

But when used on the device, it fails with
`java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "_Znwj" referenced by "libmxnet_predict.so"`
I'm guessing this is happening b

[2016-02-09 05:55] revilokeb opened #1439 "[example/imagenet_classification] Continue training of pre-trained Inception-BN as prep step for finetuning"
As exercise for fine-tuning I would like to continue training the inception-bn pretrained network on a subset of the imagenet 2012 training data using a new net with identical architecture to inception-bn (possibly later modifying learning rates in a subsequent step). Based on the example/imagenet_classification I have done the following steps:
1. Load the pre-trained model: loaded_model = mx.mode

[2016-02-09 06:18] horserma commented on #1432
I tried this for example, I used vgg16 and defined its symbol as net1 and I have the same configuration called net2.
If I tried this:
[code]
this will cause out of memory error. If I only ran the first, everything is fine, which only took 2+g memory. But when I change it to the second one, it seems it doesnt release the memory so the memory just got overrun. So here is what I said earlier. how cou

[2016-02-09 09:12] piiswrong commented on #1439
Why do you need step 2 to 5? You can directly train the model created with step 1.

[2016-02-09 09:13] #1423 closed

[2016-02-09 09:14] #1418 closed

[2016-02-09 09:28] horserma commented on #1432
I think it is pretty necessary to bind different symbols dynamically. Because of the limited gpu memory, we can not run several networks in parallel, so binding them dynamically and assigning corresponding parameters can be necessary. So how could I do this without being out of memory? To be specific, how could I clear the memory up and set up a new network afterwards? @piiswrong

[2016-02-09 09:50] piiswrong commented on #1432
you can try delete executor.
On Feb 9, 2016 1:29 AM, "horserma" <notifications@github.com> wrote:

[2016-02-09 09:57] horserma commented on #1432
do u mean this "del executor"? I tried this, but it seems the memory can not be released instantly for gpu memory. It seems ok for mx.cpu(). is there a difference between releasing cpu memory and gpu memory due to the different behavior. And by the way, I always got segmentation fault by doing the simple_bind. I saw some previous issues talking about this. Have you resolved this yet?

[2016-02-09 10:07] revilokeb commented on #1439
Ok thanks a lot for your feedback!

What then can I do if I want to modify, say, the number of neurons in last layer e.g. for fine-tuning? I thought the way to go in mxnet is to 1. create a new network with some modified layers, e.g. different number of neurons in the last layer, 2. transfer the weights / bias from pre-trained network to new network -> this should give identical weights / bias for

[2016-02-09 15:20] gnujimmik opened #1440 "How to visualize intermediate results / symbols"
I was wondering it there is any way to visualized symbols from each layer. I'd like to make sure that the training goes on the right track. Thank you in advance!

[2016-02-09 16:53] amithr1 commented on #1368
I am using LSF. Looks like there is a way to get it in. After looking at the scripts, I may have to pass in a job index as an extra env variable. Is this correct?

 Also, I get "OpenCV" unavailable everytime (though the test passes). Is this something to worry about? I am passing the location of the libraries in LD_LIBRARY_PATH. Where is opencv used? So far I am using only cifar and there is no pr

[2016-02-09 19:00] piiswrong commented on #1440
You can use mx.monitor

[2016-02-09 19:20] piiswrong commented on #1439
You can use mx.init.Load

[2016-02-09 22:34] gnujimmik commented on #1440
you mean use like this?

def norm_stat(d):
    return mx.nd.norm(d)/np.sqrt(d.size)
mon = mx.mon.Monitor(100, norm_stat)
model.fit(X=train, eval_data=val, monitor=mon,
          batch_end_callback = mx.callback.Speedometer(100, 100))

as in the example?

[2016-02-09 23:21] tengpeng opened #1442 ""/usr/bin/ld: cannot find -lcblas""
I am compiling the packages on CentOS 7, but get error
[code]

What I tried:
1. Installed atlas packages
2. Link the libraries
[code]

[2016-02-09 23:22] tengpeng commented on #1442
[code]

[2016-02-09 23:22] tengpeng commented on #1442
[code]

[2016-02-09 23:24] horserma commented on #1432
I think I found a solution, just make the executor a local variable in a function. When the function returns, it gets released. Here I want to know more about the difference between bind and simple_bind. Since simple_bind only needs the shape of input, so unlike bind, which requires grad_arrays, does simple_bind need more time to allocate memory for grad_arrays? Is this just trivial time, or I hav

[2016-02-09 23:30] piiswrong commented on #1432
If you are frequently creating executors, I strongly recommend you use similar mechanisms like in  executor.reshape to create shared memory executors. You can also cache them to mitigate construction cost.

[2016-02-09 23:36] piiswrong commented on #1442
atlas should include a libcblas.so. Locate it and add its path to flags. If you can't find it, your atlas is probably not correctly installed.

[2016-02-09 23:36] piiswrong commented on #1440
yes

[2016-02-09 23:53] tengpeng commented on #1442
I tried reinstall alias packages, but the error persists.

1. Is it ` libcblas.so` or `libcUblas.so` ?
[code]

2. I tried search `libcblas.so` on repo, but didn't find it.
[code]

I understand the name of `libcblas.so` may be different in centOS. However, given that I have reinstalled `altas`, I am confused why I cannot get it passed.

[2016-02-10 00:30] piiswrong commented on #1442
Here is my output of locate libcblas:
[code]
Seems like an issue with atlas on different platforms. I suggest you look into atlas's documents or switch to other blas libraries, like Openblas.

[2016-02-10 02:29] thirdwing commented on #1442
On CentOS/Fedora/Red Hat, please change `-lcblas` to `-lsatlas` in https://github.com/dmlc/mshadow/blob/master/make/mshadow.mk#L56

Maybe this should be added into documents.

[2016-02-10 02:31] piiswrong commented on #1442
@thirdwing Maybe we can do auto detect. `uname -a` gives distro name.

[2016-02-10 04:42] tengpeng commented on #1442
Solved. Thanks! I am crying seeing the terminal running like crazy.

[2016-02-10 04:42] tengpeng commented on #1442
One more question: how do I find out the library name for X OS, if only library name for Y os is given?

[2016-02-10 07:43] abangdd commented on #1424
one reason I guess is the usage of cudnn batchnormalization routine in torch
as we know, the cuda libraries are substantially faster than nvcc compiled cuda codes

[2016-02-10 14:51] thirdwing commented on #1442
I don't think this is a general answer for this.

[2016-02-10 14:51] #1442 closed

[2016-02-10 15:58] nushoin opened #1443 "Shared weights with transpose"
I'm trying to implement an autoencoder, based on fully-connected layers, with shared weights in order to speed up the training. However I didn't find a way to transpose the weight matrix in the 'decoder' half. Is there a way to do that in mxnet? Thanks!

[2016-02-10 18:26] piiswrong commented on #1443
you can try transposing your weight with the swapaxis layer.

[2016-02-10 22:52] lukemetz opened #1444 "[Torch] Cannot perform shape inference for cuda only operations (such as cudnn)"
Doing something as follows crashes.

[code]

[code]

It is an issue with shape inference not knowing what device to run the operation on.

[2016-02-10 23:35] channerduan01 opened #1445 "frustrating, mnist csv load problem (python)"
I used simple mnist problem to test mxnet. (data from kaggle: https://www.kaggle.com/c/digit-recognizer)
The data source is csv, so I preprocessed data and used below code to load:

batch = 30000
shape = (784,)
train = mx.io.CSVIter(
    data_csv='data.csv',
    data_shape=shape,
    label_csv='data_label.csv',
    label_shape=(1,),
    batch_size=batch)

There were no error, but the error rate in

[2016-02-10 23:43] tqchen commented on #1445
Is the data shuffled? By default the csv read data in as it is and can read more size than the memory size, and did not shuffle the data by default. The index is not used during training.

As an alternative, MXNet do accept numpy array as input and I guess that is the easiest way if the data fit into memory.

[2016-02-10 23:44] #1402 closed

[2016-02-11 01:04] piiswrong commented on #1445
batch size looks too big. learning rate is probably to big/small.

[2016-02-11 01:09] piiswrong commented on #1444
shape inference is only run on cpu.
An easy solution is to add a flag in TorchModeleParam to specify if you want shape inference to run on gpu, but this own allow selecting which gpu to run on.

[2016-02-11 01:30] abhishek-dikshit commented on #1084
I am interested in inference implementation for this paper. Please let me know where can I find it.

[2016-02-11 05:23] fayeshine opened #1447 "cudnn v4 is now officially released"
Please support it , thanks!

[2016-02-11 05:27] LiamZhuuu opened #1448 "Error when loading image record with Chinese names"
I always came across encoding error when loading image record with Chinese names.
But I solved this by changing line 91 in `base.py`
from
[code]
to
[code]

[2016-02-11 07:03] piiswrong commented on #1447
should be supported when https://github.com/dmlc/mxnet/pull/1449 is merged.

[2016-02-11 07:06] piiswrong commented on #1448
Usually you don't want any non ascii character in your path specially if you are using windows. Dealing with this across platforms and python version is a nightmare so I don't think we are going to support it.

[2016-02-11 09:27] channerduan01 commented on #1445
Thanks a lot! I dramatically reduced the learning rate and got good result.

It is interesting.
      1, If I use the MNIST data that your demo indicated (http://webdocs.cs.ualberta.ca/~bx3/data/mnist.zip, Binary files), the learning rate can be the default 0.1
      2, If I use the MNIST data from kaggle (https://www.kaggle.com/c/digit-recognizer, Csv files), the learning rate should be 0.001(eve

[2016-02-11 16:18] lukemetz commented on #1444
I was thinking something similar. I will look into this when I get a few moments free.

[2016-02-11 19:58] amithr1 opened #1451 "problem launching on a lsf job submission system"
Hi All,

I was able to launch the servers and workers as lsf jobs..However, I am not sure if they are connecting back to the scheduler process. Asking this because I see node ids as 0 for the two workers I launched. I am suspecting that the scheduler will assign the ids for these workers and they ought to be 0, 1.

However, they run to completion.. This is where I am getting confused. Shouldn;t th

[2016-02-12 01:10] horserma opened #1452 "When to use wait_to_read()?"
Hi,
I found in fcn-xs example, it calls a function "wait_to_read" at the end of a batch training. What is the point of using this. I read the document about this, but was still confused about where and when to use this. Could anyone explain this to me? Really appreciate it

[2016-02-12 06:26] piiswrong commented on #1452
It's for syncing with engine, which is asynchronous. You don't need to explicitly call it for most of the use cases.

[2016-02-12 17:51] scsmith2 opened #1454 "Reshape vector in R for input to Convolution"
I have a 2D matrix of rows and features in R.

[code]
I would like to convert and input to mx.symbol.Convolution as though each row was an image.  I've looked through examples and cannot quite figure out how to go from an R matrix into an array (?) for input to the model.

The actual data has 280 columns and I would like to reduce each to something like a 14x20 image and then apply convolution.

H

[2016-02-12 18:48] fengjunlv commented on #1411
@piiswrong  and @tqchen  Now it only takes ~9G CPU RAM in my case. Problem solved. Awesome. Thanks.

[2016-02-12 23:29] wangdelp commented on #554
@starimpact hi, have you submitted a PR request to MXNet. Do you have some examples to run the faster RCNN stuff? Thank you.

[2016-02-13 01:07] horserma commented on #1452
Ok, but would you give me an example when to use this? Like the fcn-xs example, why is this called. If I dont call it, would there be any potential danger? Thank you @piiswrong

[2016-02-13 02:26] #1454 closed

[2016-02-13 06:49] yuzcccc opened #1455 "About the rand_crop in the example"
in the train_cifar or train_imagenet.py, rand_crop is set to True as default, however, the crop_ratio(size) does not to be manually set. What actually happen behind this setting?

[2016-02-13 10:44] superzrx opened #1456 "Problem reproducing resnet"
Hi guys,
    Recently I was trying to reproduce the result of resnet following configure from kaiming/fb but encountered some problem...

I tried two experiments with 50 layers resnet:
1) network configure following kaiming, 192 batchsize on 6 gpus, bn before add, wd on weight only, muti-scale in [250,480], global shuffle. Change lr manually. Note as s0
2) network configure following fb, 256 batch

[2016-02-13 17:25] tqchen commented on #1452
```wait_to_read``` means block until results of the array is available. Usually you don't have to call it.
Note that if you copy data out, e.g.
[code]

```wait_to_read``` is automatically called. There is only one  reason you need to call this function: you are doing a loop, and you do not want to go too fast. Because mxnet is an async engine, and if there is no blockings, wait_to_read can be call

[2016-02-13 17:26] tqchen commented on #1452
In normal cases, after each iteration, usually we will do
[code]
This means the blocking is already introduced and not explicit wait to read is needed

[2016-02-13 18:58] piiswrong commented on #1456
@antinucleon

[2016-02-13 23:49] thirdwing commented on #1420
I am thinking about proposing this as a GSOC project. At least we can have someone to work on this.

[2016-02-14 00:06] horserma commented on #1452
Ok, thanks

[2016-02-14 02:41] tqchen commented on #1420
Sounds good. KK can you lead this issue?

On Sat, Feb 13, 2016 at 3:49 PM Qiang Kou (KK) <notifications@github.com>
wrote:

[2016-02-14 03:10] Vesnica commented on #570
I found another reason may cause this problem: screen

I always launch notebook(jupyter) in a screen session, and I'm not aware that screen will unset LD_LIBRARY_PATH env var, so the library load will fail

To fix this, add content below to ~/.screenrc:
`setenv LD_LIBRARY_PATH /usr/local/cuda-7.5/lib64(or your lib path)`

then restart screen sessions to take effect

[2016-02-14 04:13] 501177639 opened #1457 "questions when using param dilate in convolution"
https://github.com/dmlc/mxnet/blob/master/src/operator/convolution-inl.h#L341   when dilate != 1, is ksize_y * param_.dilate[0] - 1 ? I think it's  param_.dilate[0] * ( ksize_y - 1) + 1 .
The same implement in caffe here  https://github.com/BVLC/caffe/blob/master/src/caffe/layers/conv_layer.cpp#L17
Deeplab also has a paper to discuss it  http://arxiv.org/pdf/1412.7062v3.pdf  Figure 1
In the paper,

[2016-02-14 05:07] realbns2008 commented on #1422
ok i will make a PR

[2016-02-14 05:11] peterzcc opened #1458 "Problem in distributed training on Sun Grid Engine (sge)"
I've encountered the following error when running the train_mnist.py using dmlc_sge.py. I created 2 worker node and 1 server node and submit all of them on a single machine. I tested dmlc_local.py but it worked fin. I don't know where the problem comes from, could anyone help? Thanks a lot!
[code]

[2016-02-14 06:25] qiaohaijun opened #1464 "train_model var sym_gen make a error"
https://github.com/dmlc/mxnet/blob/master/example/image-classification/train_model.py#L77

Traceback (most recent call last):
  File "train_imagenet.py", line 85, in <module>
    train_model.fit(args, net, get_iterator)
  File "/search/data/user/qhj/github/mxnet/example/image-classification/train_model.py", line 85, in fit
    epoch_end_callback = checkpoint)
  File "/root/anaconda/lib/python2.7/s

[2016-02-14 06:26] qiaohaijun commented on #1464
@pluskid

[2016-02-14 07:00] starimpact commented on #554
@wangdelp It is just a part of Faster-RCNN. It is RPN.
I think it is a little complicated to use, so I am not sure whether it is suitable to PR.

[2016-02-14 07:03] piiswrong commented on #1464
you need to pull the latest code.

[2016-02-14 07:22] shenxiul opened #1467 "Low GPU utilization on multi-GPU training"
I'm trying to use mxnet on a node with 16 CPUs (Intel(R) Xeon(R) CPU E5-2640 v3 @ 2.60GHz) and 8 GPUs (GeForce GTX TITAN X). When trying to train LeNet on MNIST, I got single GPU throughput at Speed: 18691.98 samples/sec, for two GPU, the speed down to 11807.86 samples/sec, and using more GPU gives me an even lower speed (8 GPU: 4852.14 samples/sec). I tried different batch sizes and different mod

[2016-02-14 07:24] shenxiul commented on #1404
It looks normal. Your accuracy layer is computing the accuracy that EVERY label is predicting correctly, which is effectively 2^9=512 class classification, and the training process should start with a low accuracy.

[2016-02-14 07:34] peterzcc commented on #1458
It seems like the problem is due to the KVStore was not correctly created for os.environ['DMLC_ROLE'] = 'server'. The same error would happen if I assign it to a irrelevant string. But setting it to "worker" doesn't cause any problem. Does anyone know if there is a method to get some error message from kvstore.create() function?

[2016-02-14 07:59] yuzcccc commented on #1467
Try other larger dataset such as cifar10 or imagenet

[2016-02-14 08:06] shenxiul commented on #1467
Hi @yuzcccc, yes I tried cifar10 with inception and ResNet with different batch_size (128, 256, 512) and problem remains the same. In every case  the Volatile GPU-Util adds up to 100% only.

[2016-02-14 08:09] shenxiul commented on #1385
Hi @RishabGargeya , I got the same issue and fixed it. Are you compiling on a machine that actually have a GPU? Or you're just compiling with CUDA library (which is usually the case in super computers)? It was not looking for libcuda.so but libcuda.so.1, which should locate in /usr/local/lib. (Try `ldd lib/libmxnet.so and you will see it`) You have to compile it and run it on a machine with a GPU

[2016-02-14 08:32] peterzcc commented on #1458
Solved this issue by setting the environment variable before calling the file

[2016-02-14 08:33] #1458 closed

[2016-02-14 10:36] Azure-Vani opened #1468 "Mxnet gets stuck when run example/image-classification/train_mnist.py"
The process gets stuck when I run train_mnist.py in Ubuntu 15.04. I only change config.mk to use openblas as backend before build mxnet itself.

The last few lines in output of `strace python train_mnist.py` is:

clone(child_stack=0x7f71d3ffeff0, flags=CLONE_VM|CLONE_FS|CLONE_FILES|CLONE_SIGHAND|CLONE_THREAD|CLONE_SYSVSEM|CLONE_SETTLS|CLONE_PARENT_SETTID|CLONE_CHILD_CLEARTID, parent_tidptr=0x7f71d

[2016-02-14 11:45] Azure-Vani commented on #1468
And here is the gdb backtrace output at the stuck point:

(gdb) bt
#0  pthread_cond_wait@@GLIBC_2.3.2 () at ../sysdeps/unix/sysv/linux/x86_64/pthread_cond_wait.S:185
#1  0x00007fffd5890d1c in std::condition_variable::wait(std::unique_lock<std::mutex>&) () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#2  0x00007fffd7048373 in std::condition_variable::wait<mxnet::engine::ThreadedEngine::WaitForVar(

[2016-02-14 16:51] thirdwing commented on #1420
I have post a drat at https://github.com/rstats-gsoc/gsoc2016/wiki/Deep-learning-with-mxnet

We can add more details later.

[2016-02-14 17:21] terrytangyuan commented on #1420
Looks good. Thanks!

[2016-02-14 17:45] pluskid commented on #1464
Yes, please git pull update to the latest code. A new keyword argument was added recently.

[2016-02-14 19:23] shenxiul commented on #1467
I resolved this issue, it was a cluster problem rather than mxnet's problem. Sorry.

[2016-02-14 19:23] #1467 closed

[2016-02-14 20:54] RishabGargeya commented on #1385
Hi @shenxiul, I am indeed running mxnet using shared resources on a supercomputer. I was actually able to run mxnet when directly accessing a gpu node but was unable to call ```import mxnet``` when on a cpu (getting the above error). I compiled mxnet as above and was hoping to conduct some tests on a cpu independently. How were you able to fix the issue? The /usr/local/lib directory seems to be em

[2016-02-14 22:04] shenxiul commented on #1385
@RishabGargeya , this is due to the implementation of mxnet. Once we compile it with CUDA option, whenever we are loading libmxnet.so, it has to find libcuda.so.1, in other words it must be run on a node with GPU on it. We can still use CPU mode to let it runs on CPU only, but must on a machine that has GPU installed. That's might be a potential flaw, can we open another issue or PR stating this p

[2016-02-14 22:10] piiswrong commented on #1457
Are you interested in verifying this and submit a PR?
looping in original author and reviewer @winstywang @wistone

[2016-02-14 23:00] hwu84 opened #1470 "Any idea about opencv problem?"
Hi, following the link
https://no2147483647.wordpress.com/2016/01/16/setup-amazon-aws-gpu-instance-with-mxnet/
I have successfully installed CUDA and all the command before "make -j8". When I used the make command, some error related to opencv happened. I have also tried to make without opencv by changing the config.mk file. However it did not fix it. Can anyone help me ? Thanks!!

Attached is the

[2016-02-14 23:25] #1448 closed

[2016-02-14 23:25] #1443 closed

[2016-02-14 23:26] #1427 closed

[2016-02-14 23:28] piiswrong commented on #1470
You probably didn't install opencv properly.

[2016-02-14 23:29] #1434 closed

[2016-02-15 00:12] hwu84 commented on #1470
@piiswrong Thank you so much for the quick reply. I rebuilt it again and the opencv problem seems disappeared.  But when I followed the R package installation:

Rscript -e "install.packages('devtools', repo = 'https://cran.rstudio.com')"
cd R-package
Rscript -e "library(devtools); library(methods); options(repos=c(CRAN='https://cran.rstudio.com')); install_deps(dependencies = TRUE)"
cd ..
make rpk

[2016-02-15 00:29] hwu84 commented on #1470
never mind. Problem solved by relogin. Thanks

[2016-02-15 00:29] #1470 closed

[2016-02-15 00:35] horserma opened #1471 "I load a checkpoint showing GPU is not enabled."
I trained a model with GPU. However, when I tried to load this model on another one without GPU support, it popped up the error that GPU is not enabled. It seems the model file encodes the context information. So to this end, what is a generally good solution? Should I copy everything from GPU to CPU and then save the model? or maybe I think there could be a parameter that can control this. After

[2016-02-15 02:17] yuzcccc opened #1472 "how to print the input/output shape of a symbol"
When I was modifing a complex net, such as inception-v3, sometimes the net structure is incorrect due to careless wrong computation, such as forgetting padding. The running error message is not so easily understood, so I want to simply print the shape of the input and the output.
For example:
print in3c.shape
in3d = Inception7B(in3c, 384, 64, 96, 96,"max", "mixed_3")
print in3d.shape

Is this poss

[2016-02-15 02:34] shenxiul opened #1473 "equivalent to scale layer in Caffe? And BN not supported in caffe_converter"
Now mxnet doesn't support batch normalization layer in caffe_converter, but BN is more or less a standard technique now. Any plan on that? Especially, caffe's implementation of BN is a bit non standard because it doesn't allow learning on beta and gamma. As a workaround MSRA uses a scale layer after BN layer to learn gamma and beta in ResNet, see https://github.com/KaimingHe/deep-residual-networks

[2016-02-15 03:16] starimpact commented on #1392
if do not consider the backward operation, it is easy to make mxnet use cudnn_v2.

[2016-02-15 04:50] winstywang commented on #1473
In mxnet, BN layer learns the gamma (i.e. the slope), so it is equivalent to BN + scale layer in caffe

[2016-02-15 04:57] shenxiul commented on #1473
Hmm I just realized this part... Thanks @winstywang ! I'm working on resolving it now. Can I take that in mxnet we don't have such scale layer? I know for this specific problem we don't need it, just curious.

[2016-02-15 05:03] piiswrong commented on #1473
its equivalent to a 1x1 conv layer without bias right?

[2016-02-15 05:11] shenxiul commented on #1473
@piiswrong , awesome idea! But it's 1x1 conv layer *with* bias, right, as in BN layer we have both beta(bias) and gamma(scale)? what's the "groups" you mentioned?

[2016-02-15 05:35] RishabGargeya commented on #1385
Hi @shenxiul, of course. We can close this issue and open a PR.

[2016-02-15 05:35] #1385 closed

[2016-02-15 05:39] ascust opened #1474 "invalid pointer error while using reshape"
I tried to use reshape of a executor. If the executor is defined in cpu, it was fine. But when I tried to use it in gpu mode, I got this error:
[code]
any idea how this happened? Thanks a lot

[2016-02-15 05:48] qiaohaijun commented on #1464
@pluskid  @piiswrong  Ok

[2016-02-15 05:49] #1464 closed

[2016-02-15 07:17] piiswrong commented on #1474
Could you provide a script that reproduce this error? It's hard to figure out what exactly you have done.

[2016-02-15 12:50] twtygqyy opened #1476 "Multi-Label Training With Variable Label-width"
I'm wondering if the current  Data Iterator could support flexible number of label for a single image, for example:
[code]
or it is possible to fix the label-width while put NULL in none-label place,such as:
[code]

[2016-02-15 12:53] superzrx commented on #1473
@shenxiul each conv kernel should only handle one input channel

[2016-02-15 13:08] Rafel-Mou opened #1477 "New Issue in FCN-XS example!"
Hi all,

I originally ran the fcn-xs example well, but I met the errors when I updated mxnet this morning. The issue is following:

INFO:root:Namespace(epoch=27, init_type='fcnxs', model='fcn8s', prefix='FCN16s_VGG16', retrain=False)
INFO:root:Start training with gpu(0)
Traceback (most recent call last):
  File "fcn_xs.py", line 73, in <module>
    main()
  File "fcn_xs.py", line 57, in main
    e

[2016-02-15 14:56] futurely opened #1478 "Would anyone like to share the model trained on all the 21841 ImageNet classes?"
The model [can't be downloaded from GitHub anymore](https://github.com/dmlc/mxnet-model-gallery/issues/8). Does anyone have a copy would like to share it with some free storage service? Thank you very much!

[2016-02-15 18:29] tqchen commented on #1473
@shenxiul  The scaling layer you mentioned can be easily added, if necessary. Because the backend used mshadow expression template, and what we need is basically a simplified version of BN.

[2016-02-15 18:30] tqchen commented on #1473
Alternatively, we can add a broadcast operator and simply make it as
[code]

[2016-02-15 18:40] shenxiul commented on #1473
@tqchen I'm not sure if it is necessary at this point, because to convert ResNet pre-trained model we only need scaling and bias added in BN. But it will be a good solution for converting caffe model in general, otherwise we might end up with some dirty workarounds all the time. I just want to make sure one thing, our BN layer only have scale term but not bias term?

[2016-02-15 18:40] tqchen commented on #1472
You will need to call ```infer_shape``` to get the shape of an output.

[2016-02-15 18:41] tqchen commented on #1473
MXNet's BN layer have both scale and bias term, with the scale term can be optionally disabled via ```fix_gamma``` parameter

[2016-02-15 18:48] tqchen opened #1479 "Minimum Specification of IO Iter"
We now have multiple versions of IO Iter, with some inheritance relation.
This issue is for us to get a clear specification of interface, possibly via an tutorial markdown on what is needed to create a user defined data iteration. Two things should be touched.
- [ ] Make a clean, minimum specification of the IO Iter, with
- [ ] Look for the chance of making io iter in a more light weight manner, e

[2016-02-15 18:48] shenxiul commented on #1473
@tqchen I see. So if we don't have scale layer, we basically have to parse prototxt to check if BN connects with a scale layer and then save the parameters in scale layer into BN layer? It sounds not quite decent and if BN doesn't connect with Scale layer we don't have the option to fix bias...

[2016-02-15 18:49] #1139 closed

[2016-02-15 18:53] tqchen commented on #1473
I get what you mean, you are more than welcomed to add a BroadcastMul Layer to mxnet, that resolves the issue.

[2016-02-15 18:57] tqchen commented on #1479
@piiswrong can you start an initial proposal of what we have? I think a python code will do

[2016-02-15 19:00] shenxiul commented on #1473
@tqchen Sure! I'll let you know the progress. When I'm fairly sure I can handle this (I am new to mxnet and now learning its structure), I'll create a PR.

[2016-02-15 19:39] erogol opened #1480 "Creating multi-label instances in RecordIO by Python interface?"
Is it possible to create multi-label instances by recordIO python interface? I tried these lines to do but it does not work when I give labels as a list. It works when I give a single label value like labels[0]

[code]

The error is :

[code]

[2016-02-15 20:39] mli commented on #1478
updated https://github.com/dmlc/mxnet-model-gallery

[2016-02-15 20:39] #1478 closed

[2016-02-15 23:38] piiswrong commented on #1480
the extra labels are only stored in the .lst file, not in .rec

[2016-02-15 23:43] horserma commented on #1474
[code]
you can try this. The error is kind of unpredictable. Sometimes, it happens. Most of the time, I would get a segmentation fault error. If I dont use reshape, nothing would ever happen. As long as I use this function, either I get a segmentation fault or a pointer error. Please check it out.

[2016-02-15 23:43] piiswrong commented on #1477
@pluskid Possibly due to the recent executor manager refactor?

[2016-02-15 23:44] ascust commented on #1474
[code]
you can try this. The error is kind of unpredictable. Sometimes, it happens. Most of the time, I would get a segmentation fault error. If I dont use reshape, nothing would ever happen. As long as I use this function, either I get a segmentation fault or a pointer error. Please check it out.

[2016-02-15 23:44] piiswrong commented on #1476
You need your own data iter with bucketing for this. Because the graph is different each time.

[2016-02-15 23:46] ascust commented on #1474
@piiswrong

[2016-02-16 00:02] piiswrong commented on #1474
This is caused by destruction of the first executor. Not reshape. The crash point is in cudnnDestroyTensorDescriptor in cudnn_activation-inl.h

I'm looking into it.

[2016-02-16 00:30] piiswrong commented on #1474
@ascust Should be fixed once https://github.com/dmlc/mxnet/pull/1481 is merged.

[2016-02-16 00:39] pluskid commented on #1477
I don't see a connection, it seems the fcn-xs example is not using the `FeedForward` model API. This might be due to incompatibility between the saved model in the checkpoint file and the model trying to use. Could you double check that `args.model` is the same as what you saved for checkpoints? If it doesn't resolve the issue, maybe before the line
[code]
in `symbol.py`, add a line that `print(na

[2016-02-16 01:53] winstywang commented on #1457
Checked with @wistone Indeed, this implementation is not correct. @501177639 Could you make a PR on this issue?

[2016-02-16 01:54] #1447 closed

[2016-02-16 01:56] winstywang commented on #1472
I will make a PR to print out the shape when binding. It is quite inconvenient for debug.

[2016-02-16 02:57] hjk41 commented on #1358
@Quares Just tried build 20160202 with Python, simple test seems to work.
[code]
I will try with other examples.

[2016-02-16 03:07] hjk41 commented on #1228
@piiswrong @Quares @JohanManders @gpapadop79
Sorry it take me so long to respond. I was fully occupied with an internal conference last few weeks. I just tried with 20160202 and simple test seems to work alright for me. I guess it must be something in the system configuration side. I am using Windows Server 2012 Datacenter, Python 2.7.10 x64. I will try to switch to some other platform and see if

[2016-02-16 03:11] hjk41 commented on #1336
@thirdwing @sanson87 @narayaba @chibberto @junshui
Sorry guys for taking so long to respond. It seems to be a common problem. I have started working on it. Currently I have failed to reproduce the problem on the machine where I compiled the code. I will move to another machine and see if it is a configuration problem. Could you guys also help by trying the following?
1. run "where libmxnet.dll" an

[2016-02-16 03:11] #1336 closed

[2016-02-16 03:13] hjk41 commented on #1358
Let's move to #1228 for discussion. Closing this issue.

[2016-02-16 03:13] #1358 closed

[2016-02-16 03:34] piiswrong commented on #1472
@winstywang I think executor.debug_str() does that

[2016-02-16 04:42] hjk41 commented on #1228
Just tried on another machine with Windows Server 2012R2, Python 2.7.10 x64, it also works fine. :-(
I think I need some help here. It would be great if someone is willing to share a machine that can reproduce the problem.

[2016-02-16 04:54] piiswrong commented on #1228
Looks like it's caused by low cuda compute capability GPUs.

[2016-02-16 04:57] shenxiul commented on #1404
@paipai880429 This is the eval function you might want consider (tested):
[code]
Or you can use something makes more sense to you.

[2016-02-16 05:02] hjk41 commented on #1228
Could be. I am running Titan. Does this also occur for low compute capability GPUs on Linux?

[2016-02-16 05:08] hjk41 commented on #863
We are building CPP wrapper of MxNet as a new project. You can track the progress here: https://github.com/hjk41/MxNet.cpp

Closing this issue for now.

[2016-02-16 05:09] #863 closed

[2016-02-16 05:09] #867 closed

[2016-02-16 05:11] hjk41 commented on #937
mshadow now has OpenMP support enabled by default. I am closing this issue for now. If you still have the problem, please let us know.

[2016-02-16 05:11] #937 closed

[2016-02-16 05:11] #1121 closed

[2016-02-16 05:11] #1168 closed

[2016-02-16 05:13] #1474 closed

[2016-02-16 05:13] hjk41 commented on #1266
@juliandewit We are now trying to diagnose the problem in #1228 . Let's move the discussion there. I am closing this issue for now.

[2016-02-16 05:13] #1266 closed

[2016-02-16 05:15] hjk41 commented on #1407
@magic282 could you try the latest code? And also if possible, reinstall VS2013 and CUDA.

[2016-02-16 06:27] shenxiul commented on #1473
@tqchen It seems that my conversion from resnet pre-trained caffemodel works (at least symbol is expected), although I didn't do the scale layer yet. But to fine-tune it, I may need to change the upmost layer (softmax) to my desired loss function, and initialize fc1000 with random (not from pre-trained model because dimension doesn't match), also I may want to change the learning rate for the upmo

[2016-02-16 07:14] tornadomeet commented on #1471
@horserma , you are wright, save funtion in ndarray contains the context information, which will bring pullze some time.
@tqchen @piiswrong how about change the design that save the model with ctx=mx.cpu() by default?

[2016-02-16 07:18] piiswrong commented on #1471
Saving NDArrays with ctx=cpu sounds good.
Some symbols however behaves differently on cpu vs gpu. I'm not sure if this will cause problems.

[2016-02-16 07:28] winstywang commented on #1455
The rand_crop means if the input size of the network is less than the actual image size, it will randomly crop. The crop_ratio is different, and it is used in affine transformation.

[2016-02-16 07:31] mavenlin commented on #1424
There is one commit in between Jan 22 and Feb 7 that slows down the speed... Trying to find that.

[2016-02-16 07:38] horserma commented on #1471
@tornadomeet @piiswrong I agree, I think it would be a good idea to separate context info and parameter values. Then we always load the parameters into cpu memory and initialise the model based on the specific context.

[2016-02-16 07:43] ajtulloch commented on #1424
FWIW, cudnn's algorithm selection as of v3/v4 can be suboptimal (even for common convnets like VGG-16), so using the 'Find' variant (which uses an autotuner to select the algorithm) is generally recommended for maximum performance vs the 'Get' variant (which MXNet uses, and which can result in suboptimal algorithm choices). See e.g. https://github.com/soumith/cudnn.torch/blob/28c2f6e76a0d3671ce127

[2016-02-16 07:54] piiswrong commented on #1424
@ajtulloch Thanks for pointing this out. One problem is MXNet pre-allocates all memory to do memory optimization. This function seems to allocate memory internally and need to be called before user memory allocation. @tqchen @antinucleon Any ideas?

[2016-02-16 08:06] 501177639 commented on #1457
I have already tried to modify it, but I'm sorry that the mxnet code seems quite difficult for me to understand, such as the function unpack_patch2col

[2016-02-16 08:06] qiaohaijun opened #1485 "prediction val-acc is very very low"
I use the code from

https://github.com/dmlc/mxnet/blob/master/example/cpp/image-classification/image-classification-predict.cc

I change the json and params files, I got a very low val-acc compared with the training phase.(the same val dataset)

any one give me a tip?

---

trainning phase ~99.4%
prediction phase  ~60%

---
python prediction code is ok

[2016-02-16 08:30] deluopo opened #1486 "cannot find reference 'FullyConnected' in 'symbol.py'"
Hi all,
The following code cannot work on my system, it seems that there is no'symbol.FullyConnected,symbol.Activation,symbol.SoftmaxOutput'
in mxnet/python/mxnet/symbol.py
and i can find 'symbol.Variable,symbol.Group'
why???
Best :)

'''
import mxnet as mx
net = mx.symbol.Variable('data')
fc1 = mx.symbol.FullyConnected(data=net, name='fc1', num_hidden=128)
net = mx.symbol.Activation(data=fc1, nam

[2016-02-16 08:45] ajtulloch commented on #1424
I'm not sure if it's the case here FWIW, but it might be worth just logging which algorithms are chosen by `Get` vs `Find` (even just running the Torch version with cudnn.benchmark = true/false) and making sure MXNet is choosing the right kernels. IIRC MXNet uses multiple host threads to launch kernels on multiple devices (right?), so it doesn't have to add the Torch nn.DataParallelTable multi-thr

[2016-02-16 08:54] JohanManders commented on #1228
I have a GTX 670 and when I boot into Ubuntu, mxnet works fine. In Windows I cannot get it to work.

I ran some tests on my Windows 7 64bit, using windows binary build 20160216. Using a build earlier, does the same for me.

- libmxnet.dll is in the right place

[code]

- matrixMulCuBLAS passes

[code]
- but mxnet gives me 0. 0. 0.

[code]

[2016-02-16 08:59] junranhe opened #1487 "too slow for packing image in tools/im2rec.py?"
hi,happy new year! I have a very large image dataset in my ssd filesystem( 6 core cpu), im2rec.py with thread pool (20 thread)run slowly(40 image /s), the cpu just only use one core,   can I modify it to true multiprocessing and feed back? my code can pack image more than 1000 image/s in ssd

[2016-02-16 09:05] piiswrong commented on #1487
Hi,
multi threading is difficult with Python due to GIL, so I didn't do it. You are welcome to submit a PR on this.

[2016-02-16 09:07] piiswrong commented on #1486
You code snippet works fine on my computer.
Symbols are registered in C++ code and added to python module during initialization.

[2016-02-16 09:41] junranhe commented on #1487
ok, I submit it now~

[2016-02-16 09:49] hjk41 commented on #1228
@jonathanponce So it is not related to compute capability, since both GTX670 and Titan have compute capability 3.0.
Could you try to run a C++ program? You can try to this one:
https://github.com/hjk41/MxNet.cpp.git

Checkout the *test* branch and copy libmxnet.lib/libmxnet.dll to lib/windows/, then build the solution in windows/vs/MxNetTestApp/MxNetTestApp.sln with *x64*. The program just creates

[2016-02-16 10:06] hjk41 commented on #1228
@piiswrong @tqchen @antinucleon
I just find that both Python and R invokes NDArray::SetValueOp() directly in zeros() and ones(). I think calling C++ member functions from dynamic libraries are pretty dangerous. I am not sure whether it is related to the problem we are facing here. But it will bite us someday. Can we add a C api for SetValueOp so we can avoid the problem?

[2016-02-16 10:11] JohanManders commented on #1228
@hjk41 Did you want me to do the test? If so, I cloned the test branch, copied the dll and lib file (also needed the lib file) and build the solution successfully. I don't know what should happen or how long it should take, but running the program seems to do nothing.

[2016-02-16 10:28] hjk41 commented on #1228
@JohanManders The program should output a series of digits from 0 to 5. If it prints nothing, then there must b something wrong. It means the problem also occurs for c++ programs.

[2016-02-16 10:29] shengwa opened #1489 "example/numpy-ops/numpy_softmax.py seems not working properly?"
I just tried this file, but it reports the following error:

`mxnet.base.MXNetError: [04:25:36] src/symbol/graph_executor.cc:887: Check failed: (info.ref_count) == (0) Because the last operator is not Loss function, head_gradient is required in calling backward.`

Since the `__init__` has set the `need_top_grad` as `False`, I don't understand why the last operator is still not a loss function.

[2016-02-16 10:35] JohanManders commented on #1228
@hjk41 Mmm... Strange... Building CUDA samples like marchingCubes, matrixMulCUBLAS and particles seem to be no problem and run perfectly.

[2016-02-16 12:10] Rafel-Mou commented on #1477
@pluskid I add `print(name)` before ValueError line and it shows 'bigscore_bias'. What dose that mean? Thanks.

[2016-02-16 15:08] UBod opened #1491 "R package 'mxnet': shared object ‘libmxnet.so’ not found"
Hi,

I have tried to install the 'mxnet' R package on a Linux server running CentOS with cuda and cuDNN. After the necessary changes to `make/config.mk`, the compilation of the project and building of `libmxnet.so` went fine. Building the R package tarball `mxnet_0.5.tar.gz` also went fine and this tarball correctly contains `libmxnet.so` in `inst/libs`. However, when I try to run `R CMD INSTALL m

[2016-02-16 15:33] thirdwing commented on #1491
Can you tell me what changes you have made and what you have done?

The information you provide here is not enough for us to find the problem.

[2016-02-16 15:37] pluskid commented on #1477
@Rafel-Mou I'm not sure. It says that you are trying to initialize an executor but the variable `bigscore_bias` is not provided. Are you running from scratch or loading some existing models?

[2016-02-16 15:43] UBod commented on #1491
Ok, I am trying to recover the exact sequence of what I have done. I basically followed the installation instructions for `mxnet` and the `mxnet` R package, plus some changes to `make/config.mk`:

1. I downloaded mxnet from github.
2. I made the following changes to `make/config.mk:` (a) `USE_CUDA = 1`, (b) `USE_CUDA_PATH = /usr/local/cuda,` (c) `USE_CUDNN = 1`, (d) `USE_OPENCV = 1`, (e) `USE_BLAS

[2016-02-16 17:19] deluopo commented on #1486
Hi piiswrong,thanks for your quick response.
i built and installed the MXNet package According to the official website(http://mxnet.readthedocs.org/en/latest/build.html).
And i mean to use Python API,my system is ubuntu 14.
When i copied code from 'Code Examples' to my Pycharm ,i found that Pycharm cannot
recognize part of function such as 'mxnet.symbol.FullyConnected' and so on.
But it can recogn

[2016-02-16 18:11] tqchen commented on #1424
@piiswrong  The temp space in mxnet can be dynamically resized

[2016-02-16 18:12] tqchen commented on #1473
see last block of https://github.com/dmlc/mxnet/blob/master/example/notebooks/predict-with-pretrained-model.ipynb

[2016-02-16 18:35] piiswrong commented on #1489
This file works fine for me. Could you try git pull && git submodule update && make clean && make?

[2016-02-16 18:49] shenxiul commented on #1473
@tqchen, oh yes I misunderstood code in that block last night... Thanks!

[2016-02-16 19:02] shengwa commented on #1489
@piiswrong Thank you so much...I tried this and it is working.

[2016-02-16 20:08] erogol opened #1494 "How can I handle varying length labels for each instance?"
I like to create a recordio for my dataset where I have different  number of labels per instance. How can I handle such dataset most efficiently in mxnet? I tried to use the normal line of making list and making io file but it requires to have same length labels per instance. Any idea?

[2016-02-16 20:52] gpapadop79 commented on #1228
I also ran matrixMulCUBLAS and it passes.

My environment is Windows 7 x64 python 2.7.11 (Anaconda 2.5.0) and GTX 960 (which has compute capability 5.2)

[2016-02-17 01:51] hjk41 commented on #1228
Thanks guys. I think I will have to reinstall one of my machines to use Windows 7 to reproduce the problem, which will need some time. Meanwhile, if someone can try to debug the problem, it would be great. With the C++ program, it shouldn't be too hard.

[2016-02-17 02:34] deluopo commented on #1486
i got this compile error:

g++ -std=c++0x -DMSHADOW_FORCE_STREAM -Wall -O3 -I./mshadow/ -I./dmlc-core/include -fPIC -Iinclude -msse3 -funroll-loops -Wno-unused-parameter -Wno-unknown-pragmas -DMSHADOW_USE_CUDA=0 -DMSHADOW_USE_CBLAS=1 -DMSHADOW_USE_MKL=0 -DMSHADOW_RABIT_PS=0 -DMSHADOW_DIST_PS=0 -DMXNET_USE_OPENCV=1 `pkg-config --cflags opencv` -fopenmp  -DMXNET_USE_NVRTC=0 -MM -MT build/src/resourc

[2016-02-17 02:40] deluopo commented on #1486
And i tried
git pull && git submodule update && make clean && make
i got this error

g++ -std=c++0x -DMSHADOW_FORCE_STREAM -Wall -O3 -I./mshadow/ -I./dmlc-core/include -fPIC -Iinclude -msse3 -funroll-loops -Wno-unused-parameter -Wno-unknown-pragmas -DMSHADOW_USE_CUDA=0 -DMSHADOW_USE_CBLAS=1 -DMSHADOW_USE_MKL=0 -DMSHADOW_RABIT_PS=0 -DMSHADOW_DIST_PS=0 -DMXNET_USE_OPENCV=1 `pkg-config --cflags openc

[2016-02-17 03:06] #1485 closed

[2016-02-17 03:25] javelinjs commented on #1486
Seems that you didn't install opencv lib properly.

[2016-02-17 03:54] piiswrong commented on #1494
You can use bucketing API. Check out the examples.

[2016-02-17 03:55] #1489 closed

[2016-02-17 04:24] tornadomeet commented on #1477
@Rafel-Mou , do you use the original code in fcn-xs example? because big_score lie only in deconvolution operator, and bias is not included by default, so we there is no name bigsocre_bias, i think you may use your own code, pleanse refere this line: https://github.com/dmlc/mxnet/blob/master/example/fcn-xs/symbol_fcnxs.py#L140

[2016-02-17 04:33] pluskid commented on #1494
The [doc for bucketing API is here](http://mxnet.readthedocs.org/en/latest/tutorial/bucketing.html). However, the bucketing API does not help you to build an efficient DataIter.

[2016-02-17 05:04] javadba commented on #842
@saudet How are the javacpp-presets for mxnet going?  I have joined the sparknet project  github.com/amplab/SparkNet  and we want to add mxnet bindings . Presently they have only caffe.

[2016-02-17 05:44] hwu84 commented on #675
I think I have similar issue using R. I have a AWS g2.8xlarge instance and just installed mxnet. When I run the Lenet from tutorial with new dataset, in this case c(112,112,3,100), it has the following error:
<img width="965" alt="screenshot 2016-02-16 23 36 56" src="https://cloud.githubusercontent.com/assets/13645961/13100808/80733384-d506-11e5-944b-b3bdc09d2171.png">

I already change the worksp

[2016-02-17 06:06] #1363 closed

[2016-02-17 06:53] CNevd opened #1496 "How to update input data in each iteration?"
I want to update the input data along with the weights and bias in each iteration. how can i calculate the grad of input features and update them in each iteration?  any one has some suggestions?

[2016-02-17 07:13] piiswrong commented on #1496
Checkout the adversarial example.

[2016-02-17 08:22] idroz opened #1498 "mx.symbol.load.json not exported in R-package NAMESPACE"
NAMESPACE file has to be modified manually to include:
_export(mx.symbol.load.json)_

[2016-02-17 08:38] deluopo commented on #1486
wd@wd-HP-ProDesk-480-G2-MT:~/mxnet$ sudo apt-get install -y build-essential git libatlas-base-dev libopencv-dev
正在读取软件包列表... 完成
正在分析软件包的依赖关系树
正在读取状态信息... 完成
build-essential 已经是最新的版本了。
libatlas-base-dev 已经是最新的版本了。
libopencv-dev 已经是最新的版本了。
git 已经是最新的版本了。
下列软件包是自动安装的并且现在不需要了：
  libjpeg62
Use 'apt-get autoremove' to remove it.
升级了 0 个软件包，新安装了 0 个软件包，要卸载 0 个软件包，有 544 个软件包未被升级。

[2016-02-17 08:47] UBod commented on #1491
I'm not sure if that helps, but I tried to research a bit further into this. I installed the R package with option `--no-test-load` to check out where files are placed and what they look like. It turned out that the two shared objects are placed as follows:
[code]

Note that, on another system (a x86_64 laptop with Ubuntu and without cuda; everything works nicely on this one), it looks as follows:

[2016-02-17 09:09] javelinjs commented on #842
Hi @javadba , the scala package for mxnet will soon be released. And we also have plan to integrate it with spark. If I didn't misunderstand, Caffe/Tensorflow in SparkNet follows the distributed weight calculation - average workflow, instead of a parameter server strategy, right?

[2016-02-17 09:13] javadba commented on #842
I am new to the SparkNet project but believe what you were saying to be correct.

[2016-02-17 09:15] javadba commented on #842
So what does that mean wrt javacpp-presets for mxnet?

[2016-02-17 09:23] javelinjs commented on #842
You're free to use javacpp-presets in SparkNet if it contains mxnet bindings. But I doubt whether the synchronized training strategy is a right way for deep networks. We'll discuss it later.
And you are so welcomed to help us test the scala package https://github.com/javelinjs/mxnet/tree/scala-package-l, if you would like to :)

[2016-02-17 09:34] javadba commented on #842
@javelinjs  My team is investigating approaches to distributed gpu computations especially for CNN. We will be using Spark for the resource scheduling. Beyond that we are open to considering different approaches .  The parameter server approach has been considered as well. Your input would be taken into account.

[2016-02-17 09:58] CNevd commented on #1496
I found the data used for each iteration is ( for data, label in train_iter ), if i update some features in the first iteration will it change data in next iteration?  I want to represent each feature with a n-dim vector, and update the vector in  each iteration, so the follow-up data can be represented by the newest vector

[2016-02-17 10:15] Rafel-Mou commented on #1477
@tornadomeet  Hi, Mr. OriginalAuthor. :D I use the original code in the example directly and do not make any changes. Formerly I can run the code well, but this error happens after I update mxnet the day before yesterday...

[2016-02-17 10:16] Rafel-Mou commented on #1477
@tornadomeet Hi, Mr. OriginalAuthor. :D I use the original code in the example directly and do not make any changes. Formerly I can run the code well, but this error happens after I updated mxnet the day before yesterday...

[2016-02-17 10:19] Rafel-Mou commented on #1477
@pluskid I'm running from scratch.

[2016-02-17 10:24] tornadomeet commented on #1477
@oh, i see it here: https://github.com/dmlc/mxnet/commit/27a338234cecdad0d1499f693974bc2749edc396
@piiswrong has changed the default no_bias from faluse to true, but in deconvolution, we usually not use bias like in caffe. so can you @Rafel-Mou give a pr for these, that is set no_bias = True?

[2016-02-17 11:29] saudet commented on #842
@javadba The C API is very simple, so I could provide presets for that right away if that's enough. The C++ API would take a bit more time, but not that much...

[2016-02-17 11:35] twtygqyy commented on #1476
@piiswrong Thanks for the reply, could your share me some more information about it? Any samples about how I can create it by myself?

[2016-02-17 13:27] Rafel-Mou commented on #1477
@tornadomeet  Could you please tell me which part of code that I should change? Thsnks!

[2016-02-17 13:43] Rafel-Mou commented on #1477
@tornadomeet  I get it done! I set `DMLC_DECLARE_FIELD(no_bias).set_default(true)` instead of `DMLC_DECLARE_FIELD(no_bias).set_default(false)` in `convolution-inl.h` and `deconvolution-inl.h` according to your suggestion. Thanks.

[2016-02-17 15:04] thirdwing commented on #1498
I have updated docs in #1500

This should be fixed after merging.

[2016-02-17 15:10] thirdwing commented on #1491
I have to say I don't why CentOS has a different directory structure from Ubuntu.

But this should be the reason that R can't find the lib.

[2016-02-17 15:11] erogol commented on #1494
I am sorry but I could not see how to use it for my case. To be more precise here is my example .lst file lines which includes different number on labels for different instances;

[code]

So for instance I like to use 156.0 195.0 184.0 134.0 as correct labels for the first instance not only one label but all of these. Still bucketing is a way?

I think to use PrefetchingIter which includes differe

[2016-02-17 15:48] UBod commented on #1491
Maybe it's because of the `r_arch` option that is used when R is built on that platform. I will talk to the guy who is in charge of that. Thanks so far for your kind help!

[2016-02-17 15:50] thirdwing commented on #1491
Really little experience on CentOS.

On Wed, Feb 17, 2016 at 10:48 AM, UBod <notifications@github.com> wrote:

--
Qiang Kou
qkou@umail.iu.edu
School of Informatics and Computing, Indiana University

[2016-02-17 16:01] #1477 closed

[2016-02-17 16:15] #1498 closed

[2016-02-17 16:26] Quares commented on #1228
So I assume the new (7th) release doesn't solve the issue yet? How is it with you @JohanManders? I haven't had time to work on my desktop to test it yet.

[2016-02-17 16:29] javadba commented on #842
OK. Re: Spark with mxnet. My takeaway is your preferred approach is to use a Parameter Server vs the synchronized training (the SparkNet approach).

There might be two solutions here:
    (a)  Write your own Spark interface
    (b)   Collaborate with SparkNet to enhance their platform to support a  Parameter Server

Have you also considered the (b) approach?  If so why was it not chosen?

Thanks!

[2016-02-17 16:35] javadba commented on #842
Re: the C API Presets: they  would be helpful yes! thanks.  I am new to this and would not be able to answer if C++ were required though I would venture a guess that no.

[2016-02-17 16:45] javelinjs commented on #842
@javadba Since SparkNet, according to its published paper, is a synchronized approach, it seems that ps cannot take advantage of any exist interface in SparkNet. But I'm still open to any possible approach. Also correct me if I'm wrong.

[2016-02-17 16:58] javadba commented on #842
Hi Yizhi,   thanks for the response. I am new to both projects and am
learning myself what are their characteristics. My team is looking for a
distributed gpu support for deep learning - and both mxnet and SparkNet
seem to have pieces of the answer that may be useful.  We will look more
into/understand better  the Parameter Server vs Synchronous approaches to
be more helpful in these disucssions.

[2016-02-17 16:59] JohanManders commented on #1228
@Quares I have tried the latest build, Windows binary build 20160216, and I still have the problem.

[2016-02-17 17:09] dave5556 opened #1501 "No "include" folder in 20160216_win64_gpu.7z"
Hello,

I'm trying to install MXNet with GPU support in R. As per the installation instructions I need to take the include folder from 20160216_win64_gpu.7z and paste it in mxnet/R-package/inst. I tried using the include folder from the previous version but was having trouble. Am I missing something?

Thank you!

[2016-02-17 17:45] tqchen commented on #842
I think we are open for the options in terms of integrations. MXNet already support YARN and I think spark integration is one the plan.

One key difference between the project you mentioned here is. While caffe style model follows a config and run strategy, which is fine for pre-defined CNN. MXNet focuses on maximum customization via hybrid declarative and imperative API.

Here are some examples I

[2016-02-17 18:17] javadba commented on #842
Thanks Tianqui for that insight.  MxNet sounds like a great project!   We
are  interested in the dynamic / runtime / flexible algorithmic declaration
approach that you mention.  So we will be interested in these developments
going forward.

2016-02-17 9:46 GMT-08:00 Tianqi Chen <notifications@github.com>:

[2016-02-17 20:02] thirdwing commented on #1420
@terrytangyuan BTW, are you willing to be a co-mentor?

[2016-02-17 20:35] terrytangyuan commented on #1420
Sure. :-)

[2016-02-17 22:40] thyu commented on #1228
I just found that I have the same problem, tried both mnist and cifar10 examples. I am using GTX980 and Windows 10.

I tried different builds and found that all snapshots after build20151228 do not work, also spotted that the file size has been reduced very much since build 20151228 --- are there changes in compilation config?

[2016-02-17 23:35] thyu commented on #1228
I tried link to the provided CUDA/CuDNN DLL files and also my own DLLs (same version) via different PATH, did not work either.

Perhaps it maybe a compiler / OS level issue.

[2016-02-18 01:01] tornadomeet commented on #1477
@Rafel-Mou only need change in deconvolution-inl.h, not convolution.
because someone may changes the code in the newest mxnet, you may use my branch: https://github.com/tornadomeet/mxnet/tree/seg

[2016-02-18 02:04] hjk41 commented on #1501
Sorry about that... I just re-uploaded the packages. It is ok now.

On Thu, Feb 18, 2016 at 1:09 AM, dave5556 <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2016-02-18 02:21] srand99 opened #1502 "How to use triplet loss in mxnet?"
Is it supported?

[2016-02-18 02:24] paipai880429 commented on #1404
@shenxiul , thanks for you reply!!! Your are rounding ```pred``` here, thus you are assuming that pred is a vector of float numbers instead of 0s and 1s

[2016-02-18 02:29] shenxiul commented on #1404
@paipai880429 Yes, it is probability rather than predicting label, oh I didn't realize that you don't round it... Sorry I should state it earlier.

[2016-02-18 02:30] vchuravy commented on #1502
These kind of questions best got to the (new and shiny) forum at forum.dmlc.ml

[2016-02-18 02:32] paipai880429 commented on #1404
@shenxiul Really thank you for your quick response! And, happy new year.

[2016-02-18 03:06] fangli1992 opened #1504 "How to build a siamese network with contrastive loss?"
Could you give a example code?

[2016-02-18 03:12] hjk41 commented on #1228
@thyu Could you try the C++ program in the test branch of https://github.com/hjk41/MxNet.cpp.git
I have recreated the problem with a Windows 10 machine in Python, but the C++ program runs just fine

[2016-02-18 03:15] dave5556 commented on #1501
Thank you

[2016-02-18 03:15] #1501 closed

[2016-02-18 05:09] shenxiul commented on #1404
@paipai880429 Happy new year, shall we close this issue?

[2016-02-18 05:17] qiaohaijun opened #1505 "accnn error"
Traceback (most recent call last):
  File "accnn.py", line 34, in <module>
    new_model = acc_conv.conv_vh_decomposition(new_model, arg)
  File "/search/data/user/qhj/github/mxnet/tools/accnn/acc_conv.py", line 59, in conv_vh_decomposition
    new_model = utils.replace_conv_layer(args.layer, model, sym_handle, arg_handle)
  File "/search/data/user/qhj/github/mxnet/tools/accnn/utils.py", line 74,

[2016-02-18 05:24] javelinjs commented on #842
Totally agreed with @tqchen . I hope scala package can make MXNet more portable to other JVM platforms.

[2016-02-18 05:39] vchuravy commented on #1502
Conversation continued in http://forum.dmlc.ml/t/how-to-use-triplet-loss-in-mxnet/33

[2016-02-18 07:00] #1404 closed

[2016-02-18 08:16] zhangchen-qinyinghua opened #1506 "Output different between GPU and CPU."
I am coding with c_api and I am trying to do feature extract with a pre-trained model (in the model gallery).

Everything seems good except that the output feature vectors changes when I change the global context(from GPU to CPU and vice versa).
And the differences are huge.

I've been debugging the code for a while and not be able to solve it.
Could someone tells me some possible causes?

Thanks

[2016-02-18 08:27] piiswrong commented on #1506
Which platform are you working on?
Could you try to locate the layer that is causing this?

[2016-02-18 08:36] zhangchen-qinyinghua commented on #1506
My platform:
Red Hat 4.4.7-4.
Linux version 2.6.32-431.el6.x86_64.

The only difference in the code is kCPU or kGPU.

I wondered it was because of the data copy between CPU and GPU,  so I add ndarray_wait_all() everywhere, but it seems not to be the answer.

[2016-02-18 08:38] piiswrong commented on #1506
Try running only the first layer, then the first two. See if you can locate the layer that cause mismatching results.

[2016-02-18 08:40] #1487 closed

[2016-02-18 08:46] zhangchen-qinyinghua commented on #1506
@piiswrong
Thanks for your suggestion.
I'll try that.

[2016-02-18 08:58] zhangchen-qinyinghua commented on #1506
Seems CPU are giving a wrong results?
The output of bn_conv1_output given by CPU are all -6.85604e+09.
While the GPU results are a lot more resonable.
(The output of conv_conv1_output of GPU and CPU are identical)

What will this mean?

The first few layers of the model:
[code]

[2016-02-18 09:58] zhangchen-qinyinghua commented on #1506
So I find the cause.
I didn't load the aux parameters from the Model.

close the issue.

[2016-02-18 09:58] #1506 closed

[2016-02-18 11:06] Rafel-Mou commented on #1477
@tornadomeet  Okay, thank you. :)

[2016-02-18 13:47] jimxinbo commented on #910
@paipai880429  @sxjzwq  sorry for the late response due to spring festival. I made a crapy version here https://github.com/jimxinbo/multilabel-layer-mxnet

Please let me know if you have any questions.

[2016-02-18 14:50] zachmayer commented on #206
I was wondering where I could find the GRU examples?

[2016-02-18 14:51] zachmayer commented on #773
@tqchen Are there plans to allow the R package to support sparse input too?

[2016-02-18 18:03] #1502 closed

[2016-02-18 19:34] thyu commented on #1228
Seems fine?

[code]

[2016-02-19 00:24] #1476 closed

[2016-02-19 00:59] #1505 closed

[2016-02-19 02:45] hjk41 commented on #1228
Yes. So it seems to be something in Python/R binding or how they use the
library.

On Fri, Feb 19, 2016 at 3:34 AM, thyu <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2016-02-19 04:13] thirdwing commented on #1491
Closing this now. Feel free to reopen.

[2016-02-19 04:13] #1491 closed

[2016-02-19 16:06] alpop commented on #1358
I had same issue with Windows x64. Rebuilt libmxnet.dll from scratch and it started working OK.

[2016-02-20 00:24] everglory99 opened #1508 "Mean absolute error regression output layer"
Hi,
I am interested in looking at the detail of how this MAERegressionOutput layer is implemented and specifically how the sub gradient is computed. However, I am not able to find the source code snippet for this part, would you please point me to that? (I am using MXNet python package) Thanks!

[2016-02-20 05:59] piiswrong commented on #1508
It's in the backend at src/operators/regression_output-inl.h.

@tqchen How about we put some comment in symbol.py to explain where/how things are registered.

[2016-02-20 13:48] paipai880429 commented on #910
@jimxinbo, thank you for your sharing~!

[2016-02-20 16:00] viswaraavi commented on #1193
I am new to mxnet. I am thinking to work on this problem. I have thought of three ways to deal with problem 1. one is omitting the rows with missing data 2. using mean for prediction 3. using EM algorithm before processing . I want to know how missing data is handled in other packages. Any guidance on how to proceed further?

[2016-02-20 20:28] thirdwing commented on #1417
`libippicv` is part of opencv. Please make sure you installed opencv properly.

[2016-02-20 20:32] thirdwing commented on #1193
Personally it is users' responsibility to decide how to handle missing data.

I think we can provide some functions, but we can't do that automatically.

[2016-02-20 20:37] viswaraavi commented on #1193
so what kind of functions might be helpful ?

[2016-02-21 03:27] ascust opened #1510 "Is Forward supposed to take less time than Backward?"
Hi,
I am implementing a fully convolutional network. Unlike the one in the examples, I simply modify the vgg16 by removing the fully connected layers and adding a deconvolutional layer to guarantee the output has the same size as input. I do the simple_bind and everything by myself. Then I found a problem. During the training, it takes approximately 0.87s for each sample (in my case, the batch siz

[2016-02-21 05:22] piiswrong commented on #1510
yes forward is less expensive than backward.

[2016-02-21 08:44] ascust commented on #1510
so even "is_train=False"? So what is the point of setting this flag? @piiswrong

[2016-02-21 11:32] zhoususheng commented on #1417
Thank you. I have resolved!

[2016-02-21 13:08] pommedeterresautee commented on #1193
Usually in these situations, you are not supposed to use something like [matrix completion ](https://en.wikipedia.org/wiki/Matrix_completion) algo? What else can be done?

It can't be fixed as easily that in XGboost as we can't easily tell the #nnet NA is a special value. How to compute a partial derivative on it?

[2016-02-21 13:24] #1417 closed

[2016-02-21 14:49] formath opened #1513 "If the work load of each node the same and the node number more than min-batch size in distributed training, what will be happened?"

[2016-02-21 19:45] piiswrong commented on #1510
Some layer's behavior is different depending on this flag.

[2016-02-21 19:46] piiswrong commented on #1513
An exception will be thrown. Don't do that.

[2016-02-21 23:52] tmquan opened #1514 "Example on Deconvolution Layer's Configuration"
Dear mxnet community,

The current documentation on Deconvolution layer is somehow difficult to catch up.
In particular, I want to reproduce u-net (for image segmentation purpose) available at http://lmb.informatik.uni-freiburg.de/people/ronneber/u-net/
![alt text](http://lmb.informatik.uni-freiburg.de/people/ronneber/u-net/u-net-architecture.png)

I stopped by the example https://github.com/dmlc/

[2016-02-22 07:08] horserma opened #1516 "Why is Adam much slower than sgd?"
I tried to use Adam to replace sgd. I did nothing but replaced the optimiser, then I found the speed dropped too much, which was confusing. Using sgd, I got 0.6 sample per sec (I use a large input for fcn). Then using Adam, I got 0.4 sample per sec. I dont know if this makes sense, since the complexity of Adam seems not that high that caused so much difference in speed. Any idea?

[2016-02-22 08:30] horserma commented on #1516
And also, Adam takes 2g memory more than ccsgd. In my case, ccsgd only takes 2.5g, but Adam takes 4.5, sometimes, near 5g. Is there any way that this can be optimised? Or is it supposed to be like this?

[2016-02-22 12:11] kleinash commented on #1135
Hi. I am getting the same error as right at the start:
collect2: error: ld returned 1 exit status
make: *** [bin/im2rec] Error 1

Ubuntu 14.04

I checkout, rebuilt as suggested, but this hasnt solved the issue.

[2016-02-22 15:36] thirdwing commented on #1193
@pommedeterresautee I agree with you. We can give a warning, even an error, when the data set has NA. It is users who need to decide how to handle missing values.

[2016-02-22 15:46] terrytangyuan commented on #1193
Yeah probably just some warnings since new users might not be sure how to deal with NAs in the evaluation metrics. @thirdwing

I was mistakenly thinking this can be handled like in xgboost. @pommedeterresautee thanks for correcting me.

[2016-02-22 20:01] piiswrong commented on #1516
ccsgd saves memory because it's implemented in C++ and doesn't allocate any temp memory. You can implement adam in cpp to get similar performance.

[2016-02-22 20:03] piiswrong commented on #1514
deconvolution with 2x upsampling can be done like this:
[code]

[2016-02-22 20:04] #1513 closed

[2016-02-22 23:41] #1510 closed

[2016-02-22 23:41] #1472 closed

[2016-02-23 00:55] horserma opened #1517 "Does Softmax loss output layer normalise the loss?"
In Caffe, the loss layer can normalise the loss by dividing the label number. I am wondering if the loss layer in Mxnet normalises the result. I tried @tornadomeet FCN, and I found when I used 1e-9, it would be so small to get weights updated. I am a little confused here.

[2016-02-23 00:57] mateuszr opened #1518 "Autoenconders for R package"
Hi!
Is there a plan to include a slightly more high-level API for the R package to setup autoencoders?
I've noticed the python example in example/autoencoder but unfortunately there is no equivalent for R package. H2O provides some sort of simple API for autoencoders construction, which could be some example to mimick:
model = h2o.deeplearning(
  x = features,
  training_frame = MDIG,
  hidden = c

[2016-02-23 01:50] thirdwing commented on #1518
Hi, @mateuszr

Actually I spent some time on autoencoder in R https://github.com/thirdwing/mxnet/blob/autoencoder/example/autoencoder/autoencoder.R

But I don't have enough time to finish it.

Besides, I am also thinking a question: does R user prefer the high-level API, such as in h2o, or examples build network step by step?

[2016-02-23 03:02] mateuszr commented on #1518
Hello!
That looks very good! Btw. I'm getting "Error: not compatible with requested type" when testing it with MINIST dataset. Do you have some sample invocation for the AE_setup()?

Regarding the API question: I can speak only for myself, but I suppose that some clean high-level API (but with enough parameters for some hyperoptimisation) probably solves most use cases and provides a very good sta

[2016-02-23 05:15] hjk41 commented on #1228
@thyu @jonathanponce @JohanManders @Quares @piiswrong
Could you help me check with the latest binary build here? [https://github.com/dmlc/mxnet/releases/tag/20160223](https://github.com/dmlc/mxnet/releases/tag/20160223)
I think it is the problem with CUDA library. Windows Server 2012 and Windows 10/8 uses different CUDA binaries so I assume there is some difference between the libraries we link. T

[2016-02-23 07:07] JohanManders commented on #1228
@hjk41 Your latest builds seems to work perfectly! Thanks man, this helps me a lot! The mnist example now outputs a train accuracy of 0.999 and validation accuracy of 0.991.

[2016-02-23 07:22] hjk41 commented on #1228
@JohanManders Great! I will use Windows 10 in the future for building the binary distribution.

[2016-02-23 07:54] rohit12 commented on #773
I would like to tackle this issue if it is open.

[2016-02-23 08:25] LiamZhuuu opened #1520 "How to call fit() two times for one Feedforward net"
Sometimes I want to train one net with two data iterators step by step. But the ``fit()`` won't stop untill it reaches the ``num_epoch``.

Any suggestion?
Thx!

[2016-02-23 09:02] Yunrui opened #1521 "use mxnet model in spark"
Hi folks,

Are there any examples/libs to be used to load mxnet model in spark and do classification?

Actually, I have two computing clusters, smaller one has mxnet installed with GPU support, and the other is production spark/yarn cluster without GPU. I am using the smaller one to train mxnet models. And trying to figure out how to reload the model into my spark cluster to do real online classif

[2016-02-23 09:14] gclouding opened #1522 "Problems encountered when converting the data"
I downloaded imagnet-1k dataset (ILSVRC2014_CLS_LOC dataset), and prepared to convert the data into *.rec format that MXNet required, by using the following command:
/mxnet/bin/im2rec   train_for_mxnet.txt     /data/ILSVRC2012_img_train/     train.rec   quality=90 resize=256 center_crop=1

However, an error occurred as shown below "Corrupt JPEG data: 1483 extraneous bytes before marker 0xd9" after

[2016-02-23 10:20] Quares commented on #1228
Great news! I will test it in the evening and will let you know.

[2016-02-23 11:58] channerduan01 opened #1523 "Problem for IO"
Dear friends, I have 2 problems for CSVIter:

1, Is it possible(and how) to add some preprocess for every batch before the data feed into model. I am going to introduce random factor into preprocess, so I want to it happens before the feeding every time otherwise I have to prepare lots of data.

2, I am confused about the 'shuffle' of CSVIter. I set 'shuffle=True' on my test data and got the same

[2016-02-23 16:34] tmquan commented on #1514
Thanks @piiswrong ,
I have another question regarding to the prediction.
My prediction is a segmented image (256x256) which has 2 classes (membrane at value 0 and non-membrane at value 255). In this case, how to write a softmax layer? (as the network can output the right image)

![alt text](http://brainiac2.mit.edu/isbi_challenge/sites/default/files/Challenge-ISBI-2012-Animation-Input-Labels.gif "

[2016-02-23 17:11] tqchen commented on #1523
CSVIter currently do not support shuffle, mainly because it does not assume things can be loaded into memory

[2016-02-23 17:11] tqchen commented on #1521
I think this is related to #842

[2016-02-23 17:12] #1486 closed

[2016-02-23 17:29] tqchen opened #1524 "Sparse Matrix Specification"
Since there are some amount of demand on this #919 #773  This issue is for specification of Sparse Matrix support for mxnet. So interested devs can go ahead and do the job.
## Data Format and Object
- For now, we will be supporting CSR Matrix format.
  -  indptr : ndarray of uint64
  -  indices ndarray of uint32
  -  values ndarray of float

I think the first stage of wrapping will be done on the

[2016-02-23 17:30] tqchen commented on #1524
@antinucleon will be leading discussion on this issue

[2016-02-23 17:30] tqchen commented on #773
@rohit12 Have opened a detailed thread to discuss this in #1524

[2016-02-23 17:30] #773 closed

[2016-02-23 17:34] Puriney commented on #1420
Here linked is a RNN model learning 8-digit binary addition, which is implemented in Rcpp. Though not high-level implementation, it might be helpful for some others who want to participate in this GSOC project, as Cpp/Rcpp is much involved.

See: https://gist.github.com/Puriney/072a37ea8a181f0b6168

I have great interest in GSOC. If possible, could your mentors list easy->medium->hard tests?

[2016-02-23 17:39] tqchen commented on #1520
Consider create a adapter that combines data from two data iter into one?

[2016-02-23 17:39] tqchen commented on #1471
This is not yet changed in spec. For temp solution, what we do is always explicitly copy to cpu before serialization

[2016-02-23 17:39] #1471 closed

[2016-02-23 17:40] tqchen commented on #1371
closing for now

[2016-02-23 17:40] #1371 closed

[2016-02-23 18:00] gpapadop79 commented on #1228
@hjk41 The latest build works!!! Thanks!    You rock!!!!

[2016-02-23 18:08] jmschrei commented on #1523
Is it possible to raise a Warning if shuffle is set to True, then?

On Tue, Feb 23, 2016 at 9:11 AM, Tianqi Chen <notifications@github.com>
wrote:

[2016-02-23 18:12] tqchen commented on #1523
This is rooted into whether we are able to report unknown parameters in IOIter.

It is a bit hard in current case, mainly because the real iterator is nested combination of several iterators, with each take part of the parameters. An error will be raised for other cases, such as operators when wrong parameter is presented.

[2016-02-23 18:14] thirdwing commented on #1420
Maybe you can try an easy/medium/hard issue.

[2016-02-23 18:29] gpapadop79 commented on #1228
@JohanManders @Quares @hjk41
Did anyone else notice a small decrease in performace on the latest release?

When I trained a model with the 20151228 release, needed about 15.5 sec/epoch. Now with the latest release training the exact same model takes 18.5 sec/epoch.

[2016-02-23 20:00] JohanManders commented on #1228
I am happy that it works, but I also see a big speed difference between Windows and Ubuntu. For Windows I downloaded the latest pre-built package 20160223. For Ubuntu I just downloaded the latest version and build it.

I did two tests on my dual-boot i7 system with a GTX 670:

train_mnist.py
[code]

Training on other data
[code]

[2016-02-23 20:26] piiswrong commented on #1524
TensorFlow has sparse tensors and indexedslices tensors, which are sparse in first dimension but dense in other dimensions.

I think I would be easier to support the later first and it satisfies most use cases.

[2016-02-23 20:28] piiswrong commented on #1524
Sgd with momentum can also benefit from sparse update by recording iteration count of the last update.

[2016-02-23 20:28] piiswrong commented on #1524
One other feature we are missing is stride and general slicing.

[2016-02-23 20:31] piiswrong commented on #1517
It does normalize the loss. So use a larger learning rate

[2016-02-23 20:33] piiswrong commented on #1522
Try the python script for conversion. Also some of your images might be corrupted.

[2016-02-23 21:16] gpapadop79 commented on #1228
Darn! I must switch to linux! :-P

My speed difference is on win7 between pre-built 20151228 and 20160223. I also tried CuDNN 4 but had no difference.

[2016-02-23 23:24] Quares commented on #1228
The new release (20160223) works on my Windows10 machine. Great work guys!

Side note: I also noticed (in my case substantial) performance decrease in terms of speed, but that's probably related to various other things happening.

[2016-02-23 23:33] thyu commented on #1228
The new release works on my machine as well, awesome!

I also observe that Linux is faster than Windows for quite a while, I have Linux box with GTX970 which runs around 700 images per sec something over train_cifar10, but in my company's Windows machine it is only slightly higher than 620 img per sec. It might not be just a single-factor issue and perhaps we can improve it afterwards...

[2016-02-24 02:07] hjk41 commented on #1228
Interesting. I will take a look into it. I expect there to be some
performance difference between Windows and Linux, but didn't expect it to
be so huge.

On Wed, Feb 24, 2016 at 7:33 AM, thyu <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2016-02-24 02:19] Yunrui commented on #1521
Yes, thanks, which check that issue.

[2016-02-24 02:19] #1521 closed

[2016-02-24 02:48] Yunrui commented on #842
Is there any plan to integrate scale-package to mxnet project? Can I ask when will it happen?

[2016-02-24 02:56] javelinjs commented on #842
@Yunrui Yes, I will make a PR within two weeks. We are doing more tests for models on multiple devices. Thank you for paying close attention to this project.

[2016-02-24 03:50] Yunrui commented on #842
@javelinjs thanks, looking forward to integrating this feature to my pipeline

[2016-02-24 05:46] hjk41 commented on #1228
Here is my results:
python train_mnist.py:
[code]
Also, CPU runs much faster in this case, at around 50000 samples/sec.

python train_cifa10.py:
[code]

So my guess is that Windows has higher overhead with regard to small GPU operations. In MNIST, the computation is so light that this overhead dominates, and thus CPU > GPU-Linux > GPU-Windows. In Cifa10, there are much less operations and hence th

[2016-02-24 07:29] tengpeng opened #1525 "Check failed: it != idx2label_.end() fail to find imagelabel for id 470889"
My problem `Check failed: it != idx2label_.end() fail to find imagelabel for id 470889`.

I check
[code]

My data iterator
[code]

[2016-02-24 07:32] tengpeng commented on #1525
I img2rec again. The error information persists.

[2016-02-24 08:59] gpapadop79 commented on #1228
@Quares
According to this: https://github.com/dmlc/mxnet/pull/1449
cudnn 4 is supported

[2016-02-24 10:19] Quares commented on #1228
@gpapadop79 cool! great to know! I was under the impression about cuddn3 because the documentation doesn't reflect on cuddn4 yet. I am interested to see how the performance changes between cudnn3 and cudnn4. I am running both GTX660Ti and GTX980Ti on two seperate machines so have a nice overview of the performance upgrade between the two cards.

[2016-02-24 11:38] cupermanrose commented on #903
Launch.py failed to get a valid ip when I test train_mnist on local machine(windows) by using some workers?()

[2016-02-24 13:38] kxf8608 commented on #1494
this is also my question. Hope someone could help. Thanks.

[2016-02-24 15:56] shwetamore1295 commented on #376
I am new to mxnet but I have functional idea of LSTM. Can I take this issue?

[2016-02-24 16:05] tengpeng commented on #1525
I did several experiments and found out that the not found images are all in validation set. It is weird. How can im2rec ask for validation image, given `tr.lst`?

`/mxnet/bin/im2rec ./tr.lst ./train_photos/ ./tr.rec resize=64 label_width=9`

[2016-02-24 16:09] sbodenstein opened #1526 "Symbol Documentation Error"
The documentation states that certain symbols (such as `mxnet.symbol.sin`) have as input a named kwarg 'src' (http://mxnet.readthedocs.org/en/latest/python/symbol.html)

Yet running this:

[code]

gives an error:

[code]

The docs are obviously automatically generated, so the generator should be fixed.

[2016-02-24 16:41] pluskid commented on #376
@shwetamore1295 Your contributions are most welcome! FYI we already have a bucketing API as [described here](http://mxnet.readthedocs.org/en/latest/tutorial/bucketing.html).

[2016-02-24 16:51] dangweili commented on #1392
Have you make it to support cudadnn v2？

[2016-02-24 17:40] tengpeng commented on #1525
I fix the problem by start over. I suspect that `cvs` writer is the cause.

[2016-02-25 01:52] dangweili opened #1528 "comiple error about the ndarray or something else"
There is a problem when compile the mxnet on centos6.5 without cudadnn and the cuda version is 6.5.
The error is about the ndarray or something else, I am not sure about it. Could anyone else help me fix this problem ? Thank you very much.

build/src/ndarray/ndarray.o: In function `std::_Function_handler<void ()(mxnet::RunContext, mxnet::engine::CallbackOnComplete), void mxnet::Engine::PushSync<mx

[2016-02-25 02:24] rohit12 commented on #376
@pluskid I know about LSTMs and how to construct them. However, I only have a basic understanding of these networks. I would be happy if you could expand more on what exactly needs to be done.

[2016-02-25 02:37] dangweili commented on #1528
I think I should add message below to give a better description about the error state.

g++ -DMSHADOW_FORCE_STREAM -Wall -O3 -I./mshadow/ -I./dmlc-core/include -fPIC -Iinclude -msse3 -funroll-loops -Wno-unused-parameter -Wno-unknown-pragmas -I/data1/NLPRMNT/lidangwei/local/cuda-6.5/include -DMSHADOW_USE_CBLAS=1 -DMSHADOW_USE_MKL=0 -DMSHADOW_RABIT_PS=0 -DMSHADOW_DIST_PS=0 -DMXNET_USE_OPENCV=1 `pkg-

[2016-02-25 02:39] dangweili commented on #1528
@piiswrong  could you  give me some suggestions?

[2016-02-25 03:11] Beanocean commented on #1526
There is an error in the second example of [Python tutorial of Symbol](http://mxnet.readthedocs.org/en/latest/python/tutorial.html#more-complicated-composition).
Example code:
[code]
Expected output:
`['data2', 'net2_weight', 'net2_bias', 'compose_fc1_weight', 'compose_fc1_bias']`
Actual output:
`['data2', 'net2_weight', 'net2_bias', 'fc1_weight', 'fc1_bias'] `

[2016-02-25 03:13] Beanocean opened #1529 "Symbol Document Error: the arguments' name of symbol"
There is an error in the second example of [Python tutorial of Symbol](http://mxnet.readthedocs.org/en/latest/python/tutorial.html#more-complicated-composition).
Example code:

[code]

Expected output:
`['data2', 'net2_weight', 'net2_bias', 'compose_fc1_weight', 'compose_fc1_bias']`
Actual output:
`['data2', 'net2_weight', 'net2_bias', 'fc1_weight', 'fc1_bias']`

[2016-02-25 03:52] shwetamore1295 commented on #376
@rohit12 I was hoping to take up this issue.

[2016-02-25 04:35] pluskid commented on #376
We have a bucketing API that is flexible for handling complicated over-time models. But we need more examples on this. So if you could help create more RNN examples with this, that could be helpful.

On the other hand, we will need to have back-propagate-through-time implementation that saves memory, that use a Python for loop to carry the computation and state-copying. This is still need to be do

[2016-02-25 05:15] antinucleon commented on #1524
I vote for the first choice. However, I am thinking about wrap ```indptr```, ```indices``` and ```values``` into CSR matrix directly, and make transparent convert to ```scipy.csr```

[2016-02-25 05:22] piiswrong commented on #1524
＃1 doesn't really work for large vocabulary unless we support row sparse (or indexslices) tensors.

[2016-02-25 06:13] javelinjs commented on #376
+1 Looking forward to more RNN examples based on bucketing API

[2016-02-25 06:51] RishabGargeya opened #1530 "MXNET requires computer with GPU installed"
Hi all,

This issue references issue #1385 wherein mxnet currently cannot be loaded on a computer that does not have a gpu installed if mxnet is compiled with the CUDA option.

Is there a possibility for a workaround or fix/update? It would be handy to be able to run the same installation of mxnet on a cpu only node when running tests on computing clusters where you have to reserve hardware.

[2016-02-25 06:52] piiswrong commented on #1528
it's hard to tell what happened.
Try removing the repo and do a fresh clone, then `git submodule update && make clean && make`

[2016-02-25 06:56] piiswrong commented on #1530
It's very hard. I think the best way to handle this now is to compile both version under 2 folders and set path depending on whether the current machine has GPU.

[2016-02-25 09:14] RishabGargeya opened #1531 "Logging multiple metrics"
Hi,

I was just wondering if anyone could point me to an example of how to log multiple metrics when fitting a network. The fit function seems to only take one function in the eval_metric parameter, so I was wondering how to record multiple metrics.

Thanks for your time.

[2016-02-25 09:19] dangweili commented on #1528
I reinstall the repo and change the atlas to mkl, then it works.
The mxnet cannot find the atlas library, although it is in the system path (/usr/lib64/atlas).
So how to add the other include and library path in the config.mk ?

[2016-02-25 10:53] dangweili commented on #1528
After the compile is ok, there still exist a problem in running.
I test the example of python example/image-classification/train_mnist.py
It returns a Segmentation fault.
So I try another example Inception_BN classification, It stills return a segmentation error.
I donot know why.

python example/image-classification/train_mnist.py

-> train_model.fit(args, net, get_iterator(data_shape))
(Pdb) c
2

[2016-02-25 11:24] dangweili commented on #1528
Here I list the example code given in example/notebook/...
The code will be segmentation fault at model = mx.model.Feed.....
The compile is ok. So why?

#!/usr/bin/env python
import mxnet as mx
import logging
import numpy as np
from skimage import io, transform
import pdb
pdb.set_trace()
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)
# Load the pre-trained model
prefix = "Inception/In

[2016-02-25 17:09] shwetamore1295 commented on #376
@pluskid I am familiar with backpropagation through time. I guess I could implement. Also what sort of RNN examples are you looking for? I am familiar with the common example of text generation. I could probably modify it to suit the bucketing API with a bit of help.
The thing is, I am looking at this through a GSoC perspective and I need to show a bug fix to the R org admins before I can apply fo

[2016-02-25 17:10] #1525 closed

[2016-02-25 17:18] pluskid commented on #376
@shangjingbo1226 Any non-trivial RNN example should be fine. Just keep in mind that we already have a ptb text generation RNN example [here](https://github.com/dmlc/mxnet/tree/master/example/rnn). And there is also one version of it adapted to bucketing API in the same folder.

Implementing BPTT involves some interface designing and thinking about how to let recurrent nodes interact with non-recur

[2016-02-25 18:51] #1356 closed

[2016-02-25 22:14] tengpeng opened #1532 "Any tutorials on adapting pertained net to multiple labels?"
I am trying to adapting pertained net to a multiple label problem.

The pertained net is the Inception-BN Network. Suppose the label width is 9, and it is set up in data iterator.

Any tutorials on adapting pertained net to multiple labels?

------------
I suspect I need modify something in the following code, but unfortunately I have not find related docs or example.

[code]

[2016-02-25 23:56] Zlinki opened #1533 "Number of epochs vs data size"
hello. I am new to mxnet R and I have a few questions. I understand that  in the function
mx.model.FeedForward.create(...) the parameter num.round denotes the number of epochs to train on. An epoch is  training the model on 1 observation. However when i train a model i can put num.round> number of Observations in the training set and get no errors. How is this possible?

More over, what does the p

[2016-02-26 01:58] hjk41 commented on #1524
We have around 300M features but each sample has only around 300 non-zeros.
If batch size is small, dense weight and dense gradient will be wasteful.

On Thu, Feb 25, 2016 at 1:22 PM, Eric Junyuan Xie <notifications@github.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2016-02-26 02:02] tornadomeet commented on #1517
@horserma it's due to the changed code in [softmax_output-inl.h](https://github.com/dmlc/mxnet/commit/ea259985d839f0a77c03703ab7271440bc9ddc2f) after the fcn-xs example, so you can use larger lr for the new version of mxnet.

[2016-02-26 02:14] shwetamore1295 commented on #376
@pluskid I will try to think of a non trivial example and port it to RNN. Can I port existing RNN example to Python? There are some interesting examples that I have read.
I will study more about BPTT and let you know.

[2016-02-26 03:19] starimpact commented on #1392
yes, but only for prediction.

[2016-02-26 03:36] pluskid commented on #376
@shwetamore1295 Yes, definitely. Existing do you mean some existing implementation in other library / language?

[2016-02-26 04:31] shwetamore1295 commented on #376
@pluskid Yes, there are some blog posts in other libraries related to RNN which I remember reading. I can port over the non trivial ones to mxnet.

[2016-02-26 04:48] pluskid commented on #376
@shwetamore1295 Yes, that is perfectly fine.

[2016-02-26 05:26] shwetamore1295 commented on #376
@pluskid [This](http://deeplearning.net/tutorial/rnnslu.html) is an example of RNN for Spoken Language Understanding. Should I port it?

[2016-02-26 06:44] lisiminy opened #1534 "Invalid NDArray file format while vgg19.py for neural-style"
`INFO:root:load the content image, size = (1000, 1500)
INFO:root:resize the content image to (400, 600)
[14:36:59] ./dmlc-core/include/dmlc/logging.h:241: [14:36:59] src/ndarray/ndarray.cc:593: Check failed: fi->Read(data) Invalid NDArray file format
Traceback (most recent call last):
  File "/home/sm/mxnet/example/neural-style/run.py", line 115, in <module>
    model_executor = importlib.import_m

[2016-02-26 06:51] lisiminy commented on #1534
i download the vgg19.params file again.
and problem solved......

[2016-02-26 06:51] #1534 closed

[2016-02-26 07:09] RishabGargeya commented on #1530
Thanks for the advice, I guess that really is my only option.

[2016-02-26 07:09] #1530 closed

[2016-02-26 10:38] erogol opened #1535 "weighting gradient feedback of each instance wrt class distribution in case of class imbalance"
Given a imbalanced data I would like to set the contribution of each instance to the loss value and the gradient wrt the portion of data with the same category. For instance, if this is 2 classes problem then

Class A with K instances
ClassB with K/2 instances

which means Class B contributes to gradient feedback with coefficient 1 and Class A with coefficient 1/2.

What would be the be4st way to

[2016-02-26 15:01] pluskid commented on #376
Sure!

[2016-02-26 17:33] erogol commented on #1504
Same is here :)

[2016-02-26 17:59] #1533 closed

[2016-02-26 17:59] Zlinki commented on #1533
Turns out i had to study more about nets.... Srry

[2016-02-27 03:13] alirezabagheri commented on #1201
@piiswrong one cannot directly use epoch_end callbacks because (1) you need to know the current metric on eval set and (2) need to maintain state variables for what was the best heldout so far and how many epochs have past since this best. You can get around this by storing state in 'aux_params' however.

@paipai880429 assuming you are still interested in a solution, here's one way to go about it:

[2016-02-27 03:33] piiswrong commented on #1201
@alirezabagheri There is an easier way of doing it. locals() is already added to batchparam. It captures all the local variables from _train_multi_device. You can add it to epoch_end_callback call and access everything from there.

[2016-02-27 04:52] piiswrong commented on #1535
You can do it by adding an extra input to the loss layer that holds the scales.
Would you like to propose a PR?

[2016-02-27 06:22] alirezabagheri commented on #1201
@piiswrong Thanks for the quick response. Okay, I see the code has already changed a lot since my pull.

Even with the latest code, not sure if your suggestion would exactly be easier. If the framework supported an **eval_**epoch_end_callback with argument for locals(); then that would be the best in the sense that everything could be done in the supplied callback function.

[2016-02-27 06:34] tengpeng commented on #1137
I confirm the solution worked. If not, try a larger number, like 35 seconds.

[2016-02-27 06:47] tengpeng commented on #1532
Sovled.

For who passed by
1. Read the neural network chapter in ESL if you haven't.
1. Search quora for related questions, and follow the answer.
2. Read tutorials in the image classification folder carefully. (The kaggle one is also helpful)
3. Skip the `prediction in pertained`.
4. Read docs on data IO, if you haven't.

[2016-02-27 06:47] #1532 closed

[2016-02-27 07:02] howardlinus commented on #1057
@Yunrui, I have a very similar problem, can you tell me what exactly you have done to make it wok? thanks

[2016-02-27 10:00] horserma opened #1536 "How can we fix the moving_var and moving_mean in the batch norm layer."
I am trying to use Residual Network and one thing is confusing. For the batch norm layer, I only saw there is a arg to fixe gamma during training. I am wondering if it is possible to have options to fixed moving_var and moving_mean, since Kaiming He expained in his page that the moving_var and mean  are calculated by a large scale dataset, and changing then can lead to different results. I mean, t

[2016-02-27 11:29] shallyan commented on #1359
hello, do you mean that NDArrayIter will receive the NDArray as input and be the same as ArrayDataIter in other aspects?
And we can convert NDArray to Array, thus using ArrayIter, so you say "Not very sure we really need this"?
Thank for your reply.
@thirdwing

[2016-02-27 15:51] firearasi opened #1537 "Trying to install R with gpu support on windows."
I am trying to build R package with prebuild binaries(GPU).
Mxnet with GPU is working python perfectly well but I am not familiar with Python.
When I use "R CMD INSTALL --no-multiarch R-Package", I get the following error:

executor.cc:1:0: sorry, unimplemented: 64-bit mode not compiled in
 /*!
 ^
make: *** [executor.o] 错误(error) 1
Warning: 'make -f "Makevars.win" -f "C:/PROGRA~1/R/R-32~1.3/etc/x6

[2016-02-27 15:56] thirdwing commented on #1537
Are you using the Rtools?

If you are using Rtools, which version?

[2016-02-27 15:57] thirdwing commented on #1359
This issue was opened when I port the autoencoder code

[2016-02-27 16:07] firearasi commented on #1537
@thirdwing
Rtools? No, maybe that's because I have not built an R package before:)
I will look into that.
May you explain to me a bit?

[2016-02-27 16:10] thirdwing commented on #1537
It is the toolchain used by R. You can find it from https://cran.r-project.org/bin/windows/Rtools/

Please use https://cran.r-project.org/bin/windows/Rtools/Rtools32.exe ,since there might be some issues in the latest one.

It includes MinGW-w64 and other tools needed to build R packages.

[2016-02-27 16:13] firearasi commented on #1537
@thirdwing
It seems cool: a gcc and a make:)

BTW I also tried building mxnet on Ubuntu, but I just could not success fully install nvidia driver there...

[2016-02-27 16:19] thirdwing commented on #1537
If possible we **strongly** suggest you using Linux.

[2016-02-27 16:22] firearasi commented on #1537
@thirdwing
I know I know.
But I am having horrible stories about nvidia driver or cuda's on Ubuntu

[2016-02-27 16:27] firearasi commented on #1537
@thirdwing
And rtools worked like a charm! Now I have my long desired working package! Thanks!
I think this should be mentioned in the documents:)

[2016-02-27 20:26] ieee8023 opened #1538 "Calculate intermediate outputs and gradients?"
I'm trying to output all outputs and gradients for this small computation graph. If I use a Group symbol I can get all the outputs (in c_exec.outputs) but then the backward pass wants the gradient for each of those nodes which defeats the point of having it calculate them. It seems to only calculate the gradient for arguments and not any of the intermediate outputs.

Can you tell me how to achieve

[2016-02-27 21:35] JordanMicahBennett opened #1539 "Inference & Backward Phase Query"
Where exactly does forward and backward propagation take place?

Particularly, where does matrix multiplication occur, in the context of forward/backward neural compute sequence?

[2016-02-27 23:34] piiswrong commented on #1538
add blockgrad layer on top of the internel nodes.

[2016-02-27 23:48] shengwa commented on #1531
You can modify the eval_metric in `model.py` and `callback.py` into python list so you can see multiple evaluation metrics.
Here is the link of the gist where I modified the two files, you can take a look.
[https://gist.github.com/shengwa/35f523c06ca978c2edbd](url)

[2016-02-27 23:49] #1537 closed

[2016-02-28 03:51] horserma commented on #1452
I still got a little confused about how this asyncing engine works. For example, if I just want to do forward , backward and update the arguments without getting the output and calculating the accuracy etc. Like this:
[code]
The above code is what I mean. In this case, would it cause any problem? Since I found this could make the training much faster if I remove the updating metric, I am wondering

[2016-02-28 03:59] tqchen commented on #1452
Yes, this is totally valid. However, this may not necessarily mean training is faster. Because no synchronization with engine is made, the timer metric only means these async calls are issued, but not necessarily finished. Having the metric update enforce the synchronization, so the timer metric is more reasonable

[2016-02-28 04:12] horserma commented on #1452
In my case, I do image segmentation using fully convolutional networks. For the memory reasons, I use batch size 1. I found if I calculate the accuracy after every batch, It would take 2s for each sample. However, if I remove the metric updating part and just forward, backward and update, it would increase the speed to 0.5s for each sample. It could make a big difference. so that is why I asked th

[2016-02-28 07:05] shallyan commented on #1359
I have seen the autoencoder example and fix a small error ([https://github.com/dmlc/mxnet/pull/1540](https://github.com/dmlc/mxnet/pull/1540)) btw.

I think the NDArrayIter in python works just the same as ArrayIter in R here, can't we just replace it with ArrayIter?
@thirdwing

[2016-02-28 08:12] RishabGargeya opened #1541 "Function to Print Out Network Architecture"
Is there a convenient, general function to use for printing out the network architecture and data shapes as it passes through each layer?
If not, how would I go about creating one?

Thanks for your help. I greatly appreciate the work you guys have done on this project.

[2016-02-28 15:27] saudet commented on #842
@javadba I've finally been able to take a few hours to work on a wrapper for the C API along with some sample code: https://github.com/bytedeco/javacpp-presets/tree/master/mxnet

[2016-02-28 16:41] javadba commented on #842
Thanks!  We will be looking at it probably in mid March- had a bit of
rearrangement of tasks.

2016-02-28 7:28 GMT-08:00 Samuel Audet <notifications@github.com>:

[2016-02-28 19:58] howardlinus opened #1542 "R package installation failed"
Hi,

I have  encountered the following error when building R-package. And after hacking around, I found out that only happens if I have the following line under Torch plugins uncommented in config.mk

MXNET_PLUGINS += plugin/torch/torch.mk

If i commented it out, it would build mxnet_0.5.tar.gz successfully.
Any suggestion?

many thanks
Howard

* installing to library ‘/home/ubuntu/R/x86_64-pc-lin

[2016-02-29 01:07] yuzcccc commented on #1218
+1, want to see the results trained from scratch!

[2016-02-29 01:17] slaweks17 opened #1543 "How to continue training in R?"
Hi,
I would like to create a model, run it a bit, check how things are going, perhaps modify some parameters, like learning rate, and continue learning. Or alternatively load from a checkpoint and continue learning.
Is it possible? I am especially interested in R and C++.
I found something related in issue 379, but it the answers were referring to the Python interface.

[2016-02-29 01:52] piiswrong commented on #1541
mxnet.viz.plot_network

[2016-02-29 08:01] Puriney commented on #1323
@thirdwing i'm working on it

[2016-02-29 08:28] Puriney commented on #1323
@thirdwing I'm working on this and more will follow

[2016-02-29 09:02] RishabGargeya commented on #1541
Is there a way to maybe tabulate the output so it can be printed out?

[2016-02-29 14:48] thirdwing commented on #1542
I am sorry I have no idea, but I am happy you found the solution.

[2016-02-29 20:38] Zlinki opened #1546 "predict returning the same value for all observations"
I am using mixnet to train a deep network with a database consisting of  0 and 1, and trying to predict a real value (regression ) the code is the following :

data <- mx.symbol.Variable("data")
fc1 <- mx.symbol.FullyConnected(data, num_hidden=32)
act1 <- mx.symbol.Activation(fc1, name="relu1", act_type="relu")
fc2 <- mx.symbol.FullyConnected(act1, name="fc2", num_hidden=10)
act2 <- mx.symbol.Acti

[2016-02-29 21:54] ieee8023 commented on #1538
So I added a BlockGrad but now c_exec.grad_arrays just contains all 0 values. Do you have an example of how to use it?

[code]

[code]

[2016-02-29 22:10] piiswrong commented on #1538
Add it on top of the internal nodes from get_internals()

[2016-02-29 22:18] ieee8023 commented on #1538
Can you make an example? How do I get the internal nodes from get_internals()?

[2016-02-29 22:41] howardlinus commented on #1542
@thirdwing,  but if commented that line out, does it mean i won't be able to use torch plugin from R?

[2016-03-01 02:52] jzxx opened #1547 "Can't use the "old data" to train alexnet."
I use the mxnet with "dmlc-core/src/io/input_split_base.cc" updated to train an alexnet model.
The data is packed with the old version mxnet's "im2rec.cc" which work well on the old version mxnet.
But when I try to use the new version mxnet to train the model, there are some errors occur.

What should I do to solve this problem?
 Thanks a lot.

[2016-03-01 04:47] javelinjs commented on #1541
How about symbol.tojson() ?

[2016-03-01 07:05] oneengineer opened #1549 "Add convolutional autoencoder?"

[2016-03-01 07:41] piiswrong commented on #1549
It's pretty easy. just connect convolution and deconvolution layers.
You are welcome to contribute a example.