[2019-10-21 21:23] leezu commented on #15589
For reference, users are confused that Large Tensor Support was enabled in MXNet 1.4 and then disabled again in 1.5. Reference: https://github.com/apache/incubator-mxnet/pull/13418
For 1.6, can we improve the error message to suggest people to compile with Large Tensor Support?

[2019-10-21 21:34] haojin2 opened #16572 "cudaErrorInvalidResourceHandle error when running some RNN models"
Both this [notebook](https://github.com/d2l-ai/d2l-en/blob/numpy2/chapter_natural-language-processing/sentiment-analysis-rnn.md) and this [notebook](https://github.com/d2l-ai/d2l-en/blob/master/chapter_natural-language-processing/sentiment-analysis-rnn.md) in dive into deep learning textbook errors with `cudaErrorInvalidResourceHandle` on [line 1505 of `src/operator/rnn-inl.h`](https://github.com/

[2019-10-21 21:35] haojin2 commented on #16572
I'm using CUDA 10.1 + CUDNN 7.6.4 on 4 V100 GPUs (p3.8xlarge instances).

[2019-10-21 21:35] haojin2 commented on #16572
@DickJC123 @ptrendx Could you guys help with this issue here?

[2019-10-21 21:42] access2rohit commented on #15589
@leezu I am working on it. Here is the WIP PR: https://github.com/apache/incubator-mxnet/pull/16570

[2019-10-21 23:07] larroy commented on #16529
Hi @coltzwz could you provide more information on how did you build, what's the error message?

Did you build using the instructions that are listed in this page? https://mxnet.apache.org/get_started/jetson_setup

Did you use the container build?

[2019-10-21 23:10] larroy commented on #16557
Hi @knjwhn

The blas calls are generated with some preprocessor macro magic as you can see from here:

https://github.com/apache/incubator-mxnet/blob/master/src/operator/linalg_impl.h#L149

I think you might be able to do what you want around these functions.

[2019-10-21 23:11] larroy commented on #16478
Could be a bad disk on a worker instance?  How can g++ not be found. This instance is long gone, if it happens again we can reproduce. Can it be reproduced locally with build.py ?

[2019-10-21 23:39] sxjscience opened #16576 "[Numpy][Bug] einsum bug"
Example:
[code]

The CPU results are not correct.

Also, if we use the gpu, it will trigger a segfault:

[code]

[2019-10-21 23:39] sxjscience commented on #16576
@hzfan

[2019-10-21 23:44] sxjscience commented on #16576
I compiled the latest version from source and I'm using g4 machine.

[2019-10-21 23:45] sxjscience commented on #16560
We should raise an error message in the C++ side when we are going to create a large NDArray.

[2019-10-21 23:52] #16511 closed

[2019-10-22 00:11] anirudh2290 commented on #16365
Thanks for reporting this @jiashu-zhu @cccorn @chinakook . Thanks a lot @wkcn for offering to help. It is possible that this issue got added with the Sparse Tensor support for custom op. Have you tried commenting out the declare_backward_dependency in CustomOpProp https://github.com/dingjiansw101/RoITransformer_DOTA/blob/master/fpn/operator_py/fpn_psroi_rotatedpooling.py#L128 to see if that fixes

[2019-10-22 01:05] ZhennanQin commented on #16563
Please try `export MXNET_USE_OPERATOR_TUNING=0`. Also, default data loader will occupy extra threads for data processing, please consider to use dummy data or activate cpu optimized data loader to avoid data loader using extra threads.

[2019-10-22 01:38] coltzwz commented on #16529
@larroy thank u for providing the pages, and i tried it. I didn't use container, and had no error infomation while building. But when using module about tensorrt, it will interupt. I'm trying build following the pages u provide. maybe need serveral hours. When I finish build, I'll follow the issuse. Thank you again for reply.

[2019-10-22 02:05] fumingxing2015 commented on #16562
This is my model and params [https://pan.baidu.com/s/1S7bL2rjYSx0AlDKAgfSADw&shfl=sharepset](url)
The OS I use  is Ubuntu 16.04.4 .
I use single cpu to test the inference time，cpu info: Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz.
the model input is 256*128 rgb image , built-in model consume 20ms，my model consume 80ms.
my test code :
`

    ctx = mx.cpu()
    net0 = gluon.nn.SymbolBlock.imports("tes

[2019-10-22 02:22] zixuanweeei opened #16578 "Fused RNN Operators have nonsupport of `add` grad_req with mkl-dnn"
Currently, we have not integrated the `add` grad_req routine in `FusedRNNCell` with mkl-dnn fusion. It will be highly appreciated if anyone could tell us the application scenario using `add` during the training process.

FYI, https://github.com/apache/incubator-mxnet/issues/568 and https://github.com/apache/incubator-mxnet/issues/725. When weights are updated every batch, `add` and `write` will pr

[2019-10-22 02:25] deHsien commented on #16563
@ZhennanQin Thank you so much!
With MXNET_USE_OPERATOR_TUNING=0 MXNET_ENGINE_TYPE=NaiveEngine OMP_NUM_THREADS=1 , it works!!

[2019-10-22 02:25] #16563 closed

[2019-10-22 03:26] knjwhn commented on #16557
Thanks! and there still a question, what if my gemmlib  only contains cblas_sgemm  , can it pass the compile? because i see there is another function like trmm.

[2019-10-22 05:48] pengzhao-intel commented on #16563
@apeforest @Vikas-kum I am still thinking to switch off `MXNET_USE_OPERATOR_TUNING` by default.
What's your opinion?

[2019-10-22 09:14] Phxmark commented on #15788
I face the same issus too.
And I found something in sym I use such as
 ` {
      "op": "null",
      "name": "data",
      "inputs": []
    },
    {
      "op": "null",
      "name": "bn_data_gamma",
      "inputs": []
    },
    {
      "op": "null",
      "name": "bn_data_beta",
      "inputs": []
    }
`
how can I solve this it

[2019-10-22 10:25] hzfan commented on #16576
Try build with `-DUSE_INT64_TENSOR_SIZE=ON` (for cmake) or `USE_INT64_TENSOR_SIZE=1` (for make).

[2019-10-22 14:05] sxjscience commented on #16576
I think the input size has not reached the int64 limit. I tested with a common shape in NLP. Also, I tried to use batch_dot, which could derive the correct result. (See Block1 in the example)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Haozheng Fan <notifications@github.com>
Sent: Tuesday, October 22, 2019 3:25:29 AM
To: apache/incubator-mxnet <incubator-mxne

[2019-10-22 18:14] larroy commented on #16557
could you clarify your question? You mean there's two functions with the same name when linking?

[2019-10-22 20:52] DickJC123 commented on #16572
I will take a look at this.  Thanks for pointing this out.

[2019-10-22 22:20] DickJC123 commented on #16572
Glancing over the code knowing now of this issue, I see a problem that may be related.  If the code has been compiled for CUDA/CUDNN use, and then an RNNOp is instantiated on a system with no GPU, the code will fail at the call to cudaEventCreateWithFlags() in the constructor.  Calling this lazily on first use (on a gpu) would solve this.  I suspect the approach will also fix the issues with the n

[2019-10-22 22:38] haojin2 commented on #16572
@DickJC123 Actually the 1.6.0 release could be blocked by this. Please do lemme know if you need any help on verification/reproduction/fixing so that we could streamline your fix. Thanks!

[2019-10-22 22:44] haojin2 commented on #16572
@DickJC123 BTW I mentioned earlier that I was running with 4 V100 GPUs.

[2019-10-22 23:40] eric-haibin-lin opened #16583 "Many cudaMemCopy in operators"
[code]
Lots of CudaMemCpy in operators. We should replace them with CudaMemCpyAsync followed by CudaStreamSync.
https://github.com/apache/incubator-mxnet/pull/16532#discussion_r337766696

[2019-10-22 23:43] DickJC123 commented on #16572
@ptrendx has postulated that the problem involves having the main python thread create the RNNOp (and its held cuda event) with either no context or a GPU-0 context, then having the event recorded on a stream of a different GPU.  I will be pushing a fix momentarily that delays creating the cuda event until first use, which should correct this scenario.

I have verified the PR reinstates proper beh

[2019-10-23 01:23] knjwhn commented on #16557
yeah, I made a new sgemm function(name not same as cblas_sgemm) in a lite version Openblas(I called gemmlib),and I want use it in mxnet,  Do you have some suggestion？Many thanks！

[2019-10-23 02:34] olojuwin commented on #16485
@ddavydenko
Because 1.2.1 is much faster than other versions.
I use mxnet's default cudnn，and I've tried to compile with cudnn，but the same thing happens.

[2019-10-23 03:07] CoinCheung opened #16587 "How could I set the location of openblas/lapack when I compile mxnet from source?"
Hi,

I installed openblas and lapack to /opt/openblas and /opt/lapack. When I compile mxnet from source I use this:
[code]
Then I got the error:
-- Intel(R) MKL: lib /root/build/incubator-mxnet/build/mklml/mklml_lnx_2019.0.5.20190502/lib/libmklml_intel.so
-- Found OpenMP_C: -fopenmp (found version "4.0")
-- Found OpenMP_CXX: -fopenmp (found version "4.0")
-- Found OpenMP: TRUE (found version "4.0"

[2019-10-23 04:38] haojin2 commented on #16572
@DickJC123 Fix merged, now closing this issue.

[2019-10-23 04:38] #16572 closed

[2019-10-23 04:50] NamLQ opened #16588 "Add L1 regularization to existing optimizer in R"
There is no optimizer in R that has L1.

[2019-10-23 06:22] hzfan commented on #16576
Thanks @sxjscience . The cause may be overflow of intermediate index. I created a fix in #16589.

[2019-10-23 08:12] fumingxing2015 commented on #16562
I try to set the small param values ( below e-37 ) to zero,the inference time get normal. Why the small values can  affect the running speed . Is there any way to avoid this situation?

[2019-10-23 08:52] deHsien opened #16590 "import_onnx.py node name not found"
[code]

[2019-10-23 10:52] MicKot opened #16591 "Module.predict() produces only one output meanwhile Module.forward() and then Module.get_outputs() creates multiple (as it should)"
## Description
So I have a model with 2 Softmax output layers (of course I needed custom iterator) and when I predict using Module.predict() I get only the first output, but when I run Module.get_outputs() after that I get two outputs.

### Error Message
No error

## To Reproduce
For simplicity you can reproduce using https://beta.mxnet.io/guide/packages/symbol/data.html#Custom-Iterator and modify

[2019-10-23 14:46] 610v4nn1 opened #16595 "Unable to access documentation about mxnet API"
## Description
I keep getting 404 error on several doc pages.
For example: https://mxnet.apache.org/api/python/docs/api/ndarray/_autogen/mxnet.ndarray.random.uniform.html

### Error Message
404 page not found

## To Reproduce
Just visit the link above

[2019-10-23 15:18] pedro-abundio-wang commented on #16527
Any suggestion?

[2019-10-23 16:09] vasusingla619 opened #16596 "How to initialize a CPU tensor in custom cu file?"
I am trying to initialize a CPU tensor for a new operator in .cu file.

Stream<cpu> *cpu_stream = ctx.get_stream<cpu>();

Tensor<cpu, 1> workspace = ctx.requested[proposal::kTempSpace].get_space<cpu>(Shape1(workspace_size * 5), cpu_stream);

but this fails. I believe this issue may be that I am using reference ctx provided in the operator, which may be GPU, and hence can't init a tensor on CPU.

I

[2019-10-23 16:44] ptrendx commented on #16527
Hmmm, that is strange - GT 750M has compute capability 3.0, which is in the list of known CUDA_ARCHs in the Makefile:
https://github.com/apache/incubator-mxnet/blob/master/Makefile#L434
Maybe the pip package does not include all of them?

@pedro-abundio-wang Could you try building MXNet from source?

[2019-10-23 20:44] haojin2 commented on #16596
@vasusingla619 If you're asking how to create a temporary CPU memory space in a .cu file, you can simply do this:
[code]
Lemme know if this solves your question.

[2019-10-23 20:48] haojin2 commented on #16587
Does the CMake run without explicitly specifying your openblas and lapack locations?

[2019-10-23 20:54] ptrendx commented on #16566
@Caenorst

[2019-10-23 21:44] #16495 closed

[2019-10-23 23:39] haojin2 opened #16600 "Clojure test failure: Could not transfer artifact com.fasterxml.jackson.core"
Encountered at http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16597/4/pipeline/ :
Could not transfer artifact com.fasterxml.jackson.core:jackson-core:jar:2.9.0 from/to central (https://repo1.maven.org/maven2/): GET request of: com/fasterxml/jackson/core/jackson-core/2.9.0/jackson-core-2.9.0.jar from central failed
Could not find artifact com.

[2019-10-23 23:42] ptrendx commented on #16431
Hi @anirudh2290, what is the status of this proposal? When do you think changes will be ready?

[2019-10-24 00:21] TEChopra1000 commented on #14994
Failed again...
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16598/1/pipeline/

[2019-10-24 01:44] CoinCheung commented on #16587
For lapack, I modified the path at this line, which does not make sense
https://github.com/apache/incubator-mxnet/blob/c3395ca60b20f4388dd76746696497148b82fc80/make/config.mk#L134

For openblas, I have to change the folder name from /opt/openblas to /opt/OpenBLAS to make it work.

Would you please show me how I could specify the locations explicitly ?

[2019-10-24 02:03] CoinCheung opened #16601 "Where is this op.h file ?"
## Description
I did not find the `op.h` file in the directory.  But I find this op.h is included here:
https://github.com/apache/incubator-mxnet/blob/c3395ca60b20f4388dd76746696497148b82fc80/cpp-package/include/mxnet-cpp/MxNetCpp.h#L37

### Error Message
The make command give the error of:
/root/build/incubator-mxnet/cpp-package/include/mxnet-cpp/optimizer.hpp:37:26: fatal error: mxnet-cpp/op.h:

[2019-10-24 02:39] zheng-da opened #16603 "Significant slowdown in some DGL models"
I recently compare the performance of DGL KGE models on MXNet 1.5 and the current master branch. I noticed significant slowdown. On MXNet 1.5, it takes 12 seconds to run 1000 batches, and now takes 20 seconds. It seems there is no slowdown on operators after some profiling.

To reproduce the problem, please install DGL 0.4, download the DGL KGE package by cloning [the DGL repo](https://github.com/

[2019-10-24 02:41] zheng-da commented on #16603
Here is the profiling result on MXNet 1.5
<img width="771" alt="mxnet 1 5" src="https://user-images.githubusercontent.com/70481/67448778-a81d0e00-f64a-11e9-8fe5-7ae37af3905f.png">

Here is the profiling result in MXNet 1.6
<img width="771" alt="mxnet 1 6" src="https://user-images.githubusercontent.com/70481/67448809-c2ef8280-f64a-11e9-9c78-c759028ec7ba.png">

[2019-10-24 04:36] anirudh2290 commented on #16603
which commit on 1.6 ?

[2019-10-24 04:44] anirudh2290 commented on #16431
@ptrendx I am trying to open a PR by Friday. On the status : the two prereqs issues https://github.com/dmlc/dmlc-core/pull/573 and https://github.com/apache/incubator-mxnet/issues/16434 have been better understood and fixed/worked around. I have made C API and backend changes and currently still testing it.

Because of time and resource constraints I won't be able to add the CPP frontend changes (

[2019-10-24 04:57] roywei opened #16604 "RNN op with dropout cannot use fixed seed on CPU"
As follow up on https://github.com/apache/incubator-mxnet/pull/16532

I found out rnn operator with dropout result cannot be fixed with fixed seed on CPU.
GPU (cudnn) is fine after PR https://github.com/apache/incubator-mxnet/pull/16532

[code]

Current workaround is DO NOT use dropout in rnn and manually append a dropout layer after rnn, the following works:
[code]

[2019-10-24 05:15] roywei commented on #16604
This implementation on lstm, gru and rnn should respect mxnet seed:

https://github.com/apache/incubator-mxnet/blob/master/src/operator/rnn_impl.h#L159

[2019-10-24 06:02] aaronmarkham commented on #16524
Timeout on GPU: CMake TVM_OP OFF
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16598/2/pipeline/54

[2019-10-24 12:53] gigasquid commented on #16600
This is a flaky package serving infrastructure problem getting a well known library from maven central https://mvnrepository.com/artifact/com.fasterxml.jackson.core/jackson-core

[2019-10-24 12:56] gigasquid commented on #16600
This type of error has also happened with other Scala java dependencies that are pulled. I'm not sure what can be changed to alleviate it other than maybe separating out any dependency fetching call and putting retries around it, but the solution should be considered holistically through all the MXNet fetches

[2019-10-24 13:20] gigasquid commented on #16347
Thanks for reporting this. I'll look into it 👀

[2019-10-24 16:47] TEChopra1000 commented on #15409
fixed - will go out with the next link-fixes pull request.

[2019-10-24 18:16] #10386 closed

[2019-10-24 18:24] ChaiBapchya commented on #16517
@roywei should I close this (coz this is related to https://github.com/apache/incubator-mxnet/issues/14970)
#14971 disabled `test_operator_gpu.test_bulking`
I can keep this issue open and open a PR that disables this particular test `test_operator_gpu.test_bulking_operator_gpu`

[2019-10-24 18:32] zachgk commented on #14583
I think Sheng fixed a different problem. I just checked and this problem still occurs

[2019-10-24 21:51] roywei commented on #16517
@ChaiBapchya
Let's disable it properly and we can close either issue, just leave one open.
Thanks!

[2019-10-24 22:57] ChaiBapchya commented on #16358
Fail - test_np_around in test_numpy_op.py file
Unrelated PR #16585
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16585/8/pipeline
[code]

[2019-10-24 23:06] larroy opened #16612 "Compilation fails in master"
## Description

[code]

## To Reproduce

Building with the following config:

rev: ef5633448...

./dev_menu.py build
[code]

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.
2.

## What have you tried to solve it?

1.
2.

## Environment

We recommend using our script for collecting the diagnositc information. Run the following command and paste the outputs below:

h

[2019-10-24 23:20] TEChopra1000 commented on #15438
This issue has been fixed.

[2019-10-24 23:22] TEChopra1000 commented on #14371
I have gone through and replaced the broken links - the changes will go out with my next PR. I will comment once everything is updated and we can close this ticket.

[2019-10-24 23:25] larroy commented on #16612
Looks like it could be the commit after 91bb39898e6b12fb45451852019939f694e54f71

@anirudh2290

[2019-10-24 23:26] ChaiBapchya commented on #16612
Was able to build it successfully for ef56334
with following build flags
[code]

Something off coz of NCCL?

[2019-10-24 23:29] anirudh2290 commented on #16612
Its probably because of the gcc version not supporting `__thread` construct. Looking into this.

[2019-10-24 23:33] TEChopra1000 commented on #15439
It looks like this link has been removed from this page. This ticket can be closed @aaronmarkham

[2019-10-24 23:45] leezu commented on #15438
Now https://mxnet.incubator.apache.org/api/python/docs/api/contrib/text/index.html is empty though?

[2019-10-24 23:58] TEChopra1000 commented on #15441
I removed these links because it is not possible to download those mxnet versions from the public download page: https://github.com/apache/incubator-mxnet/tags. @aaronmarkham I think this ticket can be closed.

[2019-10-25 00:19] TEChopra1000 commented on #15446
These links are not in the docs anymore. @aaronmarkham this ticket can be closed.

[2019-10-25 00:32] anirudh2290 commented on #16612
My earlier theory related to `__thread` was wrong. I am not able to reproduce it with :

[code]

Since CI passed without issues and my local build also passed with g++ 7.4 I am suspecting some issue with your setup. Can you omit ccache and run the build directly? Did you do the submodule update?

[2019-10-25 00:34] ChaiBapchya opened #16616 "[Flaky] test_numpy_op.test_np_einsum"
## Description
[code]

## Occurrences
Unrelated PR - #16599

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16599/5/pipeline

## What have you tried to solve it?
Nothing

[2019-10-25 00:36] ChaiBapchya commented on #16616
Introduced in #15911

[2019-10-25 01:06] larroy commented on #16612
Could be related to nvvc:

[code]

My environment is here:

https://github.com/larroy/ec2_launch_scripts

Tried gcc 6 and happened as well.

[2019-10-25 01:25] anirudh2290 commented on #16612
I have removed the "Bug" label for now. This requires more evidence to be classified as a "MXNet" bug. I have requested an AMI from @larroy offline to reproduce the issue on the specific version of nvcc. Currently, I have tried to build with CUDA 10.0 and CUDA 10.1 and haven't been able to reproduce on ubuntu 18.04 and g++ 7.4. Also, this issue wasn't reproduced on our supported environments check

[2019-10-25 02:56] wkcn commented on #16601
`op.h` will be generated automatically when building MXNet.

[2019-10-25 03:31] roywei commented on #16517
closing due to duplicate #14970

[2019-10-25 03:31] #16517 closed

[2019-10-25 03:47] sshearn opened #16620 "Incompatible input shape"
## Description

I'm using scala / java 1.5.1  mxnet-full_2.11-osx-x86_64-cpu.

I believe I'm correctly specifying my input shape as (1, 0, 1, 5961). But I'm getting:

Incompatible input shape: expected [1,-1,1,1], got [1,-1,1,64] .

I believe it has something to do with my number of factors which is 64. Here's my symbols json:

[code]

And here's the full output:

[code]

[2019-10-25 05:51] pengzhao-intel commented on #16604
@zixuanweeei please take a look for this

[2019-10-25 05:56] pengzhao-intel commented on #16620
@lanking520 could you help to take a look? If this is a problem in MKLDNN backend, feel free to ping us :)

[2019-10-25 06:07] CoinCheung commented on #16601
Thanks, I tried to compile from source but the `libmxnet.so` does not generated to `incubator-mxnet/lib`. It is just generated to the directory of build/.

My compile command is like this:
[code]
Then the `libmxnet.so` is generated to the current directory of build, and there is still no `op.h` in the `cpp-package/include` folder.

Did I followed the wrong compiling tutorial ?  I did as told in [t

[2019-10-25 07:05] wkcn commented on #13482
Hi, there.
Thank @vladoovtcharov for adding this API for GPU memory release.
The API is `mx.gpu(0).empty_cache()`.
Firstly, we should set the environment variable `MXNET_GPU_MEM_POOL_TYPE` to use GPU memory pool.

Here is an example:
[code]

In my test, the most GPU memory will be released after calling this API, although there is still around 600Mib memory cache.

[2019-10-25 07:30] pedro-abundio-wang commented on #16527
OK I can try this.
One more question? Where can i find official reference to rebuild mxnet source code and use numpy interface?

[2019-10-25 07:34] wkcn commented on #16601
I use Makefile to compile MXNet. Maybe cmakr approach does not generate op.h.

op.h can be generated manually:

cd cpp-package/scripts/
python OpWrapperGenerator.py ../../lib/libmxnet.so

The path of libmxnet.so need to be modified.

[2019-10-25 08:17] zixuanweeei commented on #16604
Sure. And thanks for @roywei 's great work.

[2019-10-25 09:59] CoinCheung commented on #16601
Yes, I generated `op.h` successfully. I noticed that you can generate `libmxnet.so` in `incubator-mxnet/lib`, but I can only generate it to `incubator-mxnet/build` which is my build directory. How did you generate it to `lib/` ?

[2019-10-25 12:27] wkcn commented on #16601
I use `Makefile` to build MXNet. If using `CMake` to build MXNet, `libmxnet.so` will be created in `incubator-mxnet/build` : )

[2019-10-25 12:31] wkcn commented on #16601
In `CMakeLists.txt`, `USE_CPP_PACKAGE=OFF` by default, so `op.h` will not be generated.
https://github.com/apache/incubator-mxnet/blob/4e03e6ac20dcf885b39792ebf4fd9e695e8f3eac/CMakeLists.txt#L40

[2019-10-25 13:50] ptrendx opened #16624 "Python docs build fails and hangs in CI"
## Description
Python docs step fails with error

[code]

and then hangs (job is killed after 3 hours time out). The commit to master branch that started failing did not touch documentation at all.

@aaronmarkham

## Occurrences
From current master: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/v1.6.x/3/pipeline/85
From several PRs:
http://jenki

[2019-10-25 14:39] strawberrypie commented on #15613
Any news on 1.5.1?

[2019-10-25 14:43] gigasquid commented on #16347
@regularfry I put together a PR to help improve the documentation to run the example. I would appreciate your input on it to see if it is helpful/clarifying. https://github.com/apache/incubator-mxnet/pull/16625

[2019-10-25 15:00] gigasquid commented on #15463
Sorry it took me so long to get back to this.

First, thanks so much for the detailed steps and github/branch to reproduce 💯

Now for the weird news - I did the exact steps outlined to reproduce and didn't get 0 😕

Here is my output (tested on my mac `MacBook Pro (Retina, 15-inch, Late 2013)` and also `MacBook Pro (15-inch 2018)`

[code]

Very weird! Wondering what Mac model you have? Can you shar

[2019-10-25 15:01] gigasquid commented on #15463
Also - wondering if it still happens if you upgrade to the latest 1.5.1 jar? https://search.maven.org/search?q=clojure-mxnet

[2019-10-25 15:03] gigasquid commented on #16600
@lanking520 Do you have any ideas to make the jar dependency fetching more robust for Scala/ Clojure from maven? Maybe we should make a different issue to track these more globally and close this one?

[2019-10-25 15:04] #15446 closed

[2019-10-25 15:54] #14069 closed

[2019-10-25 16:39] #15439 closed

[2019-10-25 16:40] #15441 closed

[2019-10-25 17:09] lanking520 commented on #16620
@sshearn Could you please share the inference code you do? Cannot tell from the current code snippet

[2019-10-25 17:18] sshearn commented on #16620
@lanking520 The code I shared above is the code that's throwing the error. I don't have anything other than this. The exception is being thrown from `new Predictor` .

[2019-10-25 17:31] eric-haibin-lin commented on #15613
released: https://github.com/apache/incubator-mxnet/releases/tag/1.5.1

[2019-10-25 17:31] #15613 closed

[2019-10-25 17:46] ChaiBapchya commented on #16624
@aaronmarkham
Another failure

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/PR-16570/8/pipeline

[2019-10-25 18:05] aaronmarkham commented on #16624
Most recent change to onnx.md:
https://github.com/apache/incubator-mxnet/commit/06ce371b54a51c58e2cf1bfb93f1f9b2c568c364#diff-e8d28d7ac094c6a300e2f0ec574ea2c5
It's a broken link fix and I don't see how this would be the issue.

However, I did see the parallel build issue come up when I was building locally. I added a patch to detect the number of processors.
https://github.com/apache/incubator-mxn

[2019-10-25 18:10] ThomasDelteil commented on #16624
I'm on holiday but I can check Monday. Try adding -vvv to the sphinx opts in the makefile you'll have more detailed logs

[2019-10-25 19:09] leezu opened #16628 "RNNOp regression on CPU when using a GPU-enabled build"
## Description
Using a master build (27f708222828f1f8f62c24a33764ce75c3a7588e), I observe the following error when invoking `RNNOp` on a CPU machine. The line causing the error was added by @DickJC123 in #16391.

@DickJC123 should all `CUDA_CALL`s and `CUDNN_CALL`s be put in an extra `if ctx_.dev_-ype == kGPU)` check? It seems they are currently run even if the `RNNOp` is executed on CPU.

### Err

[2019-10-25 19:27] danielgoncalvesti opened #16629 "Fail to install mxnet on Macos using docker (./tools.sh)"
## Description
I'm trying to run the script incubator-mxnet/docker/tools.sh but I'm getting a message of error when the script is executed.

### Error Message
cp /mxnet/3rdparty/mkldnn/build/install/lib/libmkldnn.so.0 /mxnet/lib
cp: cannot stat '/mxnet/3rdparty/mkldnn/build/install/lib/libmkldnn.so.0': No such file or directory
make: *** [/mxnet/3rdparty/mkldnn/build/install/lib/libmkldnn.so.0] Er

[2019-10-25 22:18] ChaiBapchya commented on #16603
If there is no slowdown on operators, but the models suffer significantly, what's your guess? What might be the cause? Any direction we can start deep diving?

[2019-10-25 22:23] larroy commented on #16557
Hi @knjwhn I think you want to link mxnet with your library and call the function in the dispatcher for the linalg operations if I understood your intention correctly.

[2019-10-25 22:55] #16624 closed

[2019-10-25 23:19] ChaiBapchya commented on #15880
Another one -
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16625/1/pipeline/300

[2019-10-25 23:25] ChaiBapchya commented on #16629
Hey @danielgoncalvesti Thanks for posting this issue
But we need more code for reproducing this issue.
For starters - Which commit+device+language?

[2019-10-25 23:26] TEChopra1000 opened #16633 "Python Symbol Package Docs Missing"
The Symbol docs are no longer in the python packages docs folder.

The folder was present here: https://github.com/apache/incubator-mxnet/tree/7126438911f0335cdcdf48e76b2aa0f758a131be/docs/python_docs/python/tutorials/packages

And then removed after this PR: https://github.com/apache/incubator-mxnet/tree/8004a027ad6a73f8f6eae102de8d249fbdfb9a2d/docs/python_docs/python/tutorials/packages

A few tu

[2019-10-26 02:19] DickJC123 commented on #16628
Yes, we've seen this problem and fixed it in upstream with now-merged PR https://github.com/apache/incubator-mxnet/pull/16584.  Please update your build.  Sorry for the inconvenience.

[2019-10-26 03:35] leezu commented on #16628
Thanks @DickJC123. Any concern about https://github.com/apache/incubator-mxnet/pull/16632 ?

[2019-10-26 03:35] #16628 closed

[2019-10-26 06:41] knjwhn commented on #16557
Yeah,that’s my intention, I want to test it in DNN training (especially in convolution),Do you have some suggestion that how can I change the makefile?

发自我的iPhone

------------------ Original ------------------
From: Pedro Larroy <notifications@github.com&gt;
Date: Sat,Oct 26,2019 6:24 AM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com&gt;
Cc: He Nan <958709438@qq.com&gt;, Mention

[2019-10-26 16:23] sshearn commented on #16620
I can provide you with the full example and model to help you reproduce it if you need.

[2019-10-26 20:50] nickguletskii commented on #16616
Also happened here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-16639/1/pipeline
and here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16639/1/pipeline

[2019-10-27 04:51] sxjscience opened #16642 "[Bug][Numpy] get_constant is not supported in numpy"
## Description
[code]

### Error Message
[code]

[2019-10-27 05:25] hzfan commented on #16616
Temporarily disable the flaky tests in #16643 .

[2019-10-27 06:40] reminisce commented on #16642
Fixed in https://github.com/apache/incubator-mxnet/pull/16637.

[2019-10-27 10:43] zhaoliang0302 opened #16645 "where to download a old version mxnet R package?"
I need mxnet_0.10.1.tar.gz

[2019-10-27 17:54] leezu commented on #16645
The code is available here on Github. https://github.com/apache/incubator-mxnet/releases/tag/v0.10.0

I'm not sure about the difference to 0.10.1. Maybe you can try with 0.10.0 first.
Possibly 0.10.1 is just the tip of the https://github.com/apache/incubator-mxnet/commits/v0.10.0-support branch

[2019-10-27 18:23] sxjscience opened #16646 "[Bug][Numpy] zeros_like, ones_like does not respect dtype flag"
[code]
Returns
[code]

[2019-10-27 18:57] szha commented on #13482
This API only releases the cache in the GPU memory pool. It doesn't release the NDArray cache held by CachedOp

[2019-10-27 20:46] fhieber opened #16647 "Set range in NDArray from Python list fails"
## Description
Setting a range in an NDArray using a Python list fails with an obscure error about broadcasting when the range to set values in is equal to the size of the respective dimension in the target array.
Bug occurs in latest master (not in MXNet 1.5.1).
When another NDArray is used as data source, no error is thrown.

### Error Message
[code]

## To Reproduce
[code]

## Using an NDArray

[2019-10-27 23:05] szha commented on #16647
This should be a release blocker.

cc @ptrendx @reminisce

[2019-10-27 23:31] #16642 closed

[2019-10-28 03:33] sxjscience opened #16650 "[Bug][Numpy] Cannot expand_dims of bool array"
[code]

Error:
[code]

[2019-10-28 04:52] zhaoliang0302 commented on #16645
Thanks, I found a branch of v0.10.0 and I don't know how to download it as an R package (https://github.com/apache/incubator-mxnet/tree/v0.10.0-support/R-package)

[2019-10-28 05:07] leezu commented on #16645
You need to follow the build from source instructions:
https://github.com/apache/incubator-mxnet/blob/8713d257cde97a660a459aa8a50a780944cf823c/docs/get_started/build_from_source.md#build-mxnet-from-source
and
https://github.com/apache/incubator-mxnet/blob/8713d257cde97a660a459aa8a50a780944cf823c/docs/get_started/build_from_source.md#build-the-r-package

I'll close the issue for now, but please reo

[2019-10-28 05:07] #16645 closed

[2019-10-28 05:41] zhaoliang0302 commented on #16645
I don't have linux system and don't know how to build, is there a mirror website to download  this version R package file (tzr.gz format)?
Much thanks

[2019-10-28 05:47] leezu commented on #16645
You can use `aws s3 ls --recursive s3://apache-mxnet/R/CRAN/` to list the available pre-built packages. Prebuilt packages for windows and OS X for R 3.4 seem available.

[2019-10-28 05:57] Heermosi opened #16651 "I'm sorry I've triggered an error in mxnet source code, how can I debug it? It seems like a check failure on custom operators, how can I find more details?"
So far I'm working in linux dockers, the mxnet was built from source code
When I was running RoITransformer project with fpn training, the following error emerged.

I've viewed the source code mentioned above, it looks like this:

`
  CustomOperator::Get()->Push(
    [=]() {
      CHECK(reinterpret_cast<CustomOpFBFunc>(params.info->callbacks[kCustomOpBackward])(
        ptrs.size(), const_cast<voi

[2019-10-28 06:04] zhaoliang0302 commented on #16645
Can you help me download the v0.10.0 packege file for windows for me? I only have windows system and the terminal code is not allowed.

[2019-10-28 06:27] leezu commented on #16645
R/CRAN/bin/windows/contrib/3.4/mxnet_0.10.1.zip

[2019-10-28 06:28] leezu commented on #16645
https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/bin/windows/contrib/3.4/mxnet_0.10.1.zip

[2019-10-28 07:16] sxjscience opened #16653 "[Bug][Numpy] The data type of power is not correct"
[code]
Returns
[code]

In the numpy the result should be:
[code]
Returns
[code]

[2019-10-28 08:18] sxjscience opened #16655 "[Numpy] Clear error message"
[code]
Error message:
[code]
The cause is because the kwargs is not supported. However, the error message is not user-friendly

[2019-10-28 08:54] IMJerryChen opened #16656 "When I use different size inference, self.reshape() Error in `/usr/bin/python': free(): invalid pointer: 0x00007f9a484890a0"
NFO: 56358:  2019-10-28 08:26:33: main_crack_segmentation.py:382 * segmentation crack...
/usr/local/lib/python2.7/dist-packages/mxnet-1.3.0-py2.7.egg/mxnet/module/base_module.py:66: UserWarning: Data provided by label_shapes don't match names specified by label_names ([] vs. ['softmax_label'])
  warnings.warn(msg)
*** Error in `/usr/bin/python': free(): invalid pointer: 0x00007f9a484890a0 ***
====

[2019-10-28 09:02] zixuanweeei commented on #16256
@ZhiminPeng We just tried to solve the problem in PR https://github.com/apache/incubator-mxnet/pull/16657. I hope it will solve the issue.

[2019-10-28 09:48] sxjscience opened #16658 "[Numpy] Boolean array bug"
[code]

[code]

[2019-10-28 10:00] sxjscience commented on #16658
The problem only occurs after I called hybridize.

[2019-10-28 10:26] sxjscience commented on #16658
After offline discussion with @haojin2, it could be solved by fixing this line https://github.com/apache/incubator-mxnet/blob/86ed5f5c0a72d1e34b29b0396432d04888274ce2/src/operator/tensor/elemwise_unary_op.h#L454 to add WITH_BOOL

[2019-10-28 11:28] xidulu commented on #16653
I believe  https://github.com/apache/incubator-mxnet/blob/master/src/operator/numpy/np_elemwise_broadcast_op.cc#L32  is the root cause of this problem.
Also, `power` is not the only operator suffering from this bug :
[code]
The `mixed precision` mechanism introduced in  https://github.com/apache/incubator-mxnet/pull/16631 may be a solution to this issue. @haojin2

[2019-10-28 11:47] xidulu commented on #16646
I take a brief look at the `infertype` function for `zeros_like`:
https://github.com/apache/incubator-mxnet/blob/master/src/operator/numpy/np_init_op.cc#L103
The parameter type seems to be ignored.
The following experiment verified my conjecture:
[code]

[2019-10-28 15:46] lanking520 commented on #16620
The information you provided for now should be sufficient, will get back to you if it is reproducible

[2019-10-28 15:48] lanking520 commented on #16600
@gigasquid I guess that will be more of a CI problem? Most of the cases is like the network reset @marcoabreu have you faced the network problem before? Is there any good solution to solve it?

[2019-10-28 17:43] ChaiBapchya commented on #16560
Yes it is being tracked here #16570

[2019-10-28 17:49] ChaiBapchya commented on #16352
@iblis17 has this been fixed? or was it a one-off I encountered? Coz in last 25 days (ever since issue was created) I didn't see this issue pop up

[2019-10-28 18:24] sshearn commented on #16620
@lanking520 Thanks. Also, if it helps, this model was built with the off the shelf AWS Sagemaker Factorization Machine container.

[2019-10-28 18:36] ddavydenko commented on #16578
@mxnet-label-bot, add [Feature]

[2019-10-28 18:36] ddavydenko commented on #16578
@mxnet-label-bot, add ["Feature request"]

[2019-10-28 18:41] ddavydenko commented on #16578
@mxnet-label-bot add [MKLDNN]

[2019-10-28 18:42] ddavydenko commented on #16578
@TaoLv , I suggest you got this issue verified once you have [Upgrade MKL-DNN dependency to v1.0 #16555] merged.

[2019-10-28 18:44] access2rohit commented on #16603
@zheng-da  can you share the output of
`
python -c "from mxnet.runtime import Features; print(Features())"
`

[2019-10-28 18:44] ddavydenko commented on #16603
@zachgk , please assign to accesstorohit@?

[2019-10-28 18:53] aaronmarkham commented on #15447
These are old links. Closing for now... we'll get a newer report with current issues later.

[2019-10-28 18:53] #15447 closed

[2019-10-28 18:57] kotbegemot opened #16661 "Not Work C++ Mxnet and opencv integration"
How to pass a lot of cv:: Mat to MXDataIter ?
``C++

    auto val_iter = MXDataIter("ImageRecordIter")
            .SetParam("data_shape", Shape(3, image_size, image_size))
            .SetParam("batch_size", batch_size)
            .SetParam("shuffle", 1)
            .SetParam("flat", 1)
            .SetParam("ctx", "cpu")
            .CreateDataIter();

    int count = 0;
    Accuracy acc;
    v

[2019-10-28 18:58] TEChopra1000 commented on #15444
@aaronmarkham all of the links on the Java SSD Inference tutorial (now found [here](https://mxnet.incubator.apache.org/api/java/docs/tutorials/ssd_inference)) have been fixed. This ticket can be closed.

[2019-10-28 19:09] TEChopra1000 commented on #15443
All of the links have been fixed in this [tutorial](https://mxnet.incubator.apache.org/api/cpp/docs/tutorials/cpp_inference). @aaronmarkham this ticket can be closed.

[2019-10-28 19:51] sxjscience opened #16662 "[Numpy] Deprecation warning of ctx"
[code]

[2019-10-28 20:05] anirudh2290 commented on #16651
This may be related to https://github.com/apache/incubator-mxnet/issues/16365 . As a workaround. Can you please remove declare_backward_dependency for the custom op that is getting called and check : https://github.com/dingjiansw101/RoITransformer_DOTA/blob/master/fpn/operator_py/

[2019-10-28 20:05] marcoabreu commented on #16600
Are there multiple maven repositories with different SLAs? I'm thinking that we might be hitting an endpoint which is not highly available. Or is there a possibility to define mirrors as fallback?

[2019-10-28 20:23] gigasquid commented on #16600
Maven central is now part of the apache infrastructure I think. I don't believe it has an SLA - there are times that it has trouble https://status.maven.org/
There do appear to be mirrors https://stackoverflow.com/questions/5233610/what-are-the-official-mirrors-of-the-maven-central-repository

[2019-10-28 20:23] ChaiBapchya commented on #16616
@mxnet-label-bot update [Bug, Numpy]

[2019-10-28 20:29] gigasquid commented on #16600
Mirrors can be set in leiningen (the clojure side) and also in the maven pom.xmls for Scala https://maven.apache.org/guides/mini/guide-mirror-settings.html.

It would be a good chunk of work to research and implement the mirroring. I vote that we see if it happens more often with Clojure/Java/Scala jars before taking action on it.

[2019-10-28 20:32] TEChopra1000 commented on #14371
The links on this page have been fixed. @aaronmarkham you can close this ticket.

[2019-10-28 20:45] TEChopra1000 commented on #15445
[Here](https://mxnet.incubator.apache.org/api/python/docs/tutorials/deploy/export/onnx.html) is the page on the current version of the site.

This is not actually a broken link. If you run the tutorial, this path + the files paths, the command works. @aaronmarkham you can close this ticket.

[2019-10-28 21:01] TEChopra1000 commented on #15442
I think that this page is no longer in the current repo. @aaronmarkham if you this is correct we can close this ticket.

[2019-10-28 21:08] larroy commented on #16557
You can see how libraries are added in the CMakefile, for make just link with your library. Let me know if you have issues. That should be straighforward.

[2019-10-28 21:09] larroy commented on #16557
in cmake you can use `add_library`

[2019-10-28 21:14] marcoabreu commented on #16600
As far as I understand this wouldn't be in the application pom.xml but rather in the .m2/settings.xml of the Jenkins slave - thus something that we can do on the infrastructure side by adding it to the docker container. It should be a matter of adding the settings.xml in the install scala.sh file.

[2019-10-28 21:31] #15443 closed

[2019-10-28 21:32] #15444 closed

[2019-10-28 21:34] #14371 closed

[2019-10-28 21:34] #15445 closed

[2019-10-28 21:34] #15442 closed

[2019-10-28 21:44] gigasquid commented on #16600
@marcoabreu If that's true, then it will get "work" for Clojure too, since it's built on the Scala image and it uses .m2/settings.xml

[2019-10-28 22:10] #16662 closed

[2019-10-28 22:20] reminisce commented on #16658
boolean ndarrays are only supported in a few ops right now. We need to enable them gradually in more ops. Thanks for reporting this.

[2019-10-28 22:22] sxjscience commented on #16658
@reminisce I agree. At least we should fix cast, otherwise we cannot use `>`, `<`.

[2019-10-28 22:33] reminisce commented on #16658
@sxjscience  `astype` should be working with boolean ndarrays. I think using `cast` is not as pythonic as using `astype`.

[2019-10-28 22:36] sxjscience commented on #16658
@reminisce In this case, `.astype` will not trigger the error if the block is not hybridized. However, once it's hybridized, it will report the error message.

[2019-10-28 22:43] reminisce commented on #16658
@sxjscience I will investigate to see why there is a such difference.

[2019-10-28 23:44] haojin2 commented on #16653
@xidulu yes, the mixed precision binary ops is the effort that aims to solve this kind of problem. Right now we have multiplication between `bool` and all other types, later we'll expand this support to more combinations. @sxjscience

[2019-10-29 01:54] danielgoncalvesti commented on #16629
I'm using the latest commit from the master branch.
My configuration is:
-MacOS Catalina 10.15
-Docker 2.1.0.4 (stable)
-Python 3.7.4

I short, I enter the docker folder, and then run this command:
`./tool.sh build python cpu`

[2019-10-29 03:31] iblis17 commented on #16352
I cannot reproduce it either. I guess it's one-off.

[2019-10-29 06:10] haojin2 commented on #16566
======================================================================

FAIL: test_operator_gpu.test_fast_lars

----------------------------------------------------------------------

Traceback (most recent call last):

  File "C:\Python27\lib\site-packages\nose\case.py", line 197, in runTest

    self.test(*self.arg)

  File "C:\jenkins_slave\workspace\ut-python-gpu\tests\python\gpu\../unittest\c

[2019-10-29 06:53] Heermosi commented on #16651
Hey, I'm on the way!
I'll post the result minutes after!

[2019-10-29 07:56] reminisce commented on #16658
In imperative mode, `astype` used `copy` operator which has fully supported boolean ndarrays, while in symbolic mode, `astype` calls `cast`, which has not been fully enabled to support boolean ndarrays.

[2019-10-29 08:03] reminisce commented on #16653
This is a known issue of many operators from which floats are expected with integral inputs. Instead of tweaking many `TYPE_SWITCH` macros to make it work, we plan to solve it using TVM to generate appropriate kernels for integral dtypes.

[2019-10-29 09:16] ZHAIXINGZHAIYUE commented on #16531
it is influenced by kvstore(local or device).

[2019-10-29 09:16] #16531 closed

[2019-10-29 09:30] liuzhi136 opened #16665 "MapPlanKernel ErrStr:an illegal memory access was encountered"
I got the same problem with https://github.com/apache/incubator-mxnet/issues/11914, when I trying to do the NMT task on my own model.

Traceback (most recent call last):
  File "train.py", line 413, in <module>
    train(dataloader, bertbase, data_dev, model, args.batch_size, ctx, store)
  File "train.py", line 258, in train
    L_dec_metric.update(labels=splitted_target_ids, preds=preds, masks=ma

[2019-10-29 10:40] deHsien opened #16666 "Disable python logging verbose from C++ implementation"
I don’t want to show the logging information, e.g.
[code]
How can I set through env variable?
The same issue #10492 seems not resolved. Is there any update?
Thank you!

[2019-10-29 12:33] knjwhn commented on #16557
Thanks a lot , I modified the makefile and compile it successsfully. and I run the example/image-classfication/train_mnist.py ,However  I don't know if my sgemm is called? What should I do?  and There is another question , I wrote an int8 gemm function(A:u8/s8 B:u8/s8 C:int32),can it use in convolution calculation after quantization? Hope for your help.

[2019-10-29 13:44] wkcn commented on #16557
https://github.com/apache/incubator-mxnet/blob/60d74bc948869588c2f143fd3d55231859dc979f/src/operator/linalg_impl.h#L149

[2019-10-29 17:47] anirudh2290 opened #16669 "FP16 dtype support for _contrib_MultiBox* ops"
## Description
Currently, these ops don't support FP16 dtype. Please see related PR : https://github.com/apache/incubator-mxnet/pull/16668/files and issue : https://discuss.mxnet.io/t/convert-model-to-float16/5053/5

@access2rohit

[2019-10-29 17:51] anirudh2290 commented on #16603
@access2rohit , @ChaiBapchya are you guys looking at this ?

[2019-10-29 17:57] DickJC123 opened #16670 "cuDNN RNN dtype_with_fallback_ calc needs update"
## Description
In src/operator/rnn-inl.h, the calculation of the mathPrec passed to cudnnSetRNNDescriptor_v6() needs review (the variable is `dtype_with_fallback_`).  The current logic is:
[code]
The use of `__CUDA_ARCH__` in determining host-side code behavior is not appropriate (the variable would be undefined in this case and interpreted as 0 in all cases).  Thus the intent of the code (to ensu

[2019-10-29 18:02] anirudh2290 commented on #16651
It may be an issue with how storage type is assigned after invoking declare_backward_dependency callback : https://github.com/apache/incubator-mxnet/blob/master/src/operator/custom/custom.cc#L474 . I haven't had the time recently to dig deeper into this.

[2019-10-29 20:26] ChaiBapchya commented on #16603
Waiting on @zheng-da for some details
@mxnet-label-bot add [Pending requester info]

[2019-10-29 20:28] anirudh2290 commented on #16603
@ChaiBapchya it would be worth checking if this PR : https://github.com/apache/incubator-mxnet/pull/16526 caused some slowdown.

[2019-10-29 21:00] sshearn commented on #16620
@lanking520 I tried using the C++ API as well and got:

`Check failed: MXSymbolInferShapeEx(GetHandle(), keys.size(), keys.data(), arg_ind_ptr.data(), arg_shape_data.data(), &in_shape_size, &in_shape_ndim, &in_shape_data, &out_shape_size, &out_shape_ndim, &out_shape_data, &aux_shape_size, &aux_shape_ndim, &aux_shape_data, &complete) == 0 (-1 vs. 0)`

So it seems like only python works, which doesn

[2019-10-29 21:01] stu1130 commented on #16670
Thanks for the suggestion @DickJC123
I created a quick fix #16671

[2019-10-30 00:20] ChaiBapchya commented on #16603
Tried reproducing
Got a segfault

Build flags
[code]

DGL & MXNet versions
[code]

Log
[code]
...
Trains for rest of the steps
[code]

[2019-10-30 00:22] ChaiBapchya commented on #16352
Alright. Will close it then.

[2019-10-30 00:22] #16352 closed

[2019-10-30 02:46] CoinCheung commented on #16601
Thanks for replying.

Did I configure the building process correctly if the `libmxnet.so` is generated in the `build/` folder ?

[2019-10-30 03:48] wkcn commented on #16601
@CoinCheung Yes. You can use `python OpWrapperGenerator.py <the path of libmxnet.so>` to generate the op.h.

[2019-10-30 07:50] leezu commented on #16049
It's not expected behaviour that the parameter initialization compares initializers by reference. Initializers should implement `__eq__`. The current workaround is a workaround, but does not provide good user experience. Thus re-opening the issue.

[2019-10-30 09:15] CoinCheung commented on #16601
Thanks, I am closing this.

[2019-10-30 09:15] #16601 closed

[2019-10-30 20:19] DickJC123 opened #16674 "Garbage ctx.dev_mask seen in Clojure CPU Integration CI run"
## Description
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16671/2/pipeline

[code]
### Error Message
[code]
# To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.

[2019-10-30 22:05] larroy opened #16675 "MaskRCNN unable to train with master, works with previous revisions"
## Description

I can't train mask rcnn with latest revisions of MXNet:

https://gluon-cv.mxnet.io/build/examples_instance/train_mask_rcnn_coco.html

This revision works:

 e9e267ef7 - (Sat, 14 Sep 2019 09:33:08 -0700) reminisce    - Fix remaining errors reported by D2L (#16157)

This doesn't:

86ed5f5c0 - (Mon, 28 Oct 2019 01:24:05 -0700) Huang, Gua.. - [NumPy][Operator] NumPy operator `may_share

[2019-10-30 22:20] larroy commented on #16612
Hi @anirudh2290 you can repro the environment in AWS Ec with the following:

https://github.com/larroy/ec2_launch_scripts

Just execute launch.py  all the environment is coded and coming from NVidia. Let me know if you have any issues.

Would be great if we could fix this issue.

[2019-10-30 22:22] Vikas-kum commented on #16675
@hgt312 Can you take a look. Looks like the commit 86ed5f5 is causing regression.

[2019-10-30 23:41] leezu commented on #16049
A workaround not requiring to specify context is as follows

[code]

[2019-10-31 01:30] TaoLv commented on #16616
It's still flaky in #16555: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16555/18/pipeline
[code]

[2019-10-31 02:49] sandyhouse opened #16677 "What mode does PRELU support?"
There are three modes for the PRELU activation, i.e., channel-wise mode (an alpha value per channel), element-wise (an alpha value per element) mode and share-channel mode (all elements share the same alpha value). I am not sure what mode does PRELU support. If it supports more than one mode, how to configure?

[2019-10-31 03:20] anirudh2290 commented on #16612
Hi @larroy, I currently don't have the time to debug custom scripts and custom environments. You provided the CUDA version gcc version ubuntu version. I tried with this configuration for cmake build and haven't been able to reproduce the issue. Also, the issue has not been reproduced in the CI builds. With the current evidence, I highly suspect the issue to be specific to something happening in yo

[2019-10-31 10:15] Heermosi commented on #16651
Ok, I'll quote all the declarations, it seems there is a lot of them...

[2019-10-31 12:47] wkcn commented on #16365
I met the same problem in Deformable ConvNets when I changed `ENABLE_OHEM: false` :(
https://github.com/msracver/Deformable-ConvNets/blob/master/experiments/fpn/cfgs/resnet_v1_101_coco_trainval_fpn_dcn_end2end_ohem.yaml#L82

I tried to address the problem, and I found some NDArray is not initalized.
https://github.com/apache/incubator-mxnet/blob/master/src/c_api/c_api.cc#L588

[2019-10-31 13:04] wkcn commented on #16365
A temporary solution: comment out all `need_top_grad=False` and `declare_backward_dependency`.

[2019-10-31 18:01] zeeshansayyed opened #16684 "How does weight tying work in MxNet?"
Hi, I have a question regarding weight tying in the encoder and decoder embedding matrix of the NMTModel. Consider [these lines](https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/model/translation.py#L84-L130) of the NMTModel class.

As has been described in Issue #7785 and [this section](https://d2l.ai/chapter_deep-learning-computation/parameters.html#tied-parameters) in d2l.ai, we usual

[2019-10-31 18:10] #16338 closed

[2019-10-31 19:03] access2rohit commented on #16603
@zheng-da can you share the flags for mxnet 1.6.x/master branch that you used ?
Also was it mxnet.15.1 or 1.5.0 from pypi ? Can you confirm ?
for flags you can fire the following command directly from bash
` python -c "from mxnet.runtime import Features; print(Features())"`

[2019-10-31 19:04] access2rohit commented on #16603
@anirudh2290 We need to know the exact build flags used for 1.6.x before we start our deep dive.
@ChaiBapchya lets wait for @zheng-da 's reply

[2019-10-31 19:40] zheng-da commented on #16603
I tested with nightly build. so the build flags are what nightly build usually has.

[2019-10-31 19:41] DickJC123 opened #16685 "Memory planner doesn't respect 'output independence'. More optimizations possible."
## Description
This issue has two parts.  Part 1 involves a discussion of what the copy operator mx.sym.identity() is good for, and how the memory planner currently violates what a user might expect of its behavior.  Part 2 is a discussion around more advanced optimizations that the memory planner could be doing.

### Part 1.  mx.sym.identity() behavior

MXNet users should expect that the output o

[2019-10-31 20:29] ChaiBapchya commented on #16629
My config
MacOS High Sierra 10.13.6
Docker 2.1.0.4
Python 3.7.5

`./tool.sh build python cpu`
Was able to reproduce this error. Working on fixing it

[2019-10-31 20:30] ChaiBapchya commented on #16629
@mxnet-label-bot remove [Pending Requester Info]

[2019-10-31 20:38] access2rohit commented on #16603
@zheng-da which version was it ? cu90, 92, 100 or 101. Was it w/ or w/o MKL ? It would be much easier if you could simply give us the thr output of this:
 python -c "from mxnet.runtime import Features; print(Features())"

[2019-10-31 21:34] ChaiBapchya commented on #16629
It's not just for Mac (as i tried it for unix too) and error was reproduced.
@mxnet-label-bot add [MKLDNN, Build, Docker]

[2019-10-31 21:36] ChaiBapchya commented on #16629
For reference, error
[code]

[2019-10-31 22:30] pengzhao-intel commented on #16629
@xinyu-intel could you help take a look for the MKLDNN library link?

[2019-11-01 00:39] szhengac opened #16686 "Grad Accumulation by using grad_req='add' has numerical issue"
## Description
This issue was first discovered when I trained the [transformer](https://github.com/dmlc/gluon-nlp/blob/master/scripts/machine_translation/index.rst) model in GluonNLP. When I double the number of gradient accumulation steps from 16 to 32 without increasing stepsize, the model can diverge at around 15 epochs. I tried several runs and the model diverged in all runs. This is strange a

[2019-11-01 01:08] pengzhao-intel commented on #16424
@ZhennanQin does MKLDNN 1.0 upgrade fix this problem?

[2019-11-01 01:09] #16286 closed

[2019-11-01 01:09] #15576 closed

[2019-11-01 01:14] pengzhao-intel commented on #15294
@hubutui does this issue resolve now?

[2019-11-01 01:16] pengzhao-intel commented on #13221
@wuxun-zhang please double check if the issue still exist, thanks.

[2019-11-01 01:17] pengzhao-intel commented on #13365
@TaoLv @rongzha1 do we add the backward of Softmax in 1.0 upgrade?

[2019-11-01 01:21] pengzhao-intel commented on #14979
Currently, the dependency of MKL is removed and I think we can try this again.
@lebeg @TaoLv

[2019-11-01 01:22] wuxun-zhang commented on #13221
@pengzhao-intel Sure. Will take a look at this.

[2019-11-01 01:25] pengzhao-intel commented on #15032
@rongzha1 please take a look for the documentation of FC

[2019-11-01 01:28] pengzhao-intel commented on #16578
@zixuanweeei does the issue resolve by MKLDNN upgrade PR?

[2019-11-01 01:36] zixuanweeei commented on #16578
This issue exists in the upgrade PR. It will give an error message when uses `add`.

[2019-11-01 01:39] pengzhao-intel commented on #16578
OK, is there a workaround for the user and what's the plan for the next step?

[2019-11-01 01:51] zixuanweeei commented on #16578
It will be appreciated that users could report their usage with `add`. But we couldn't force everyone to do this. So I will put it on the list. I plan to fix it in one week.

[2019-11-01 01:59] stu1130 opened #16687 "[Performance Regression] Scala/Java SSD inference"
## Description
After #16602 merge, java/scala SSD GPU inference latency increased by 20x (from 70ms to 1400ms)

### Steps to reproduce
(Paste the commands you ran that produced the error.)
[code]
@PatricZhao @ZhennanQin
Thanks in advance & Happy Halloween!

[2019-11-01 02:17] TaoLv commented on #16629
Just to clarify, the issue is not caused by the MKL-DNN 1.0 upgrading. It was reported against the master branch before #16555 was merged. It relates to the cmake installation behavior on different OS distributions. Anyway we will fix it on the latest master branch.

[2019-11-01 04:34] pengzhao-intel commented on #16687
Thanks to reporting the issue ~~~
@ZhennanQin  will look into the issue.

[2019-11-01 04:35] pengzhao-intel commented on #16686
@zixuanweeei any same issue on CPU side?

[2019-11-01 05:36] rongzha1 commented on #15032
OK. Will fix in PR [16692](https://github.com/apache/incubator-mxnet/pull/16692)

[2019-11-01 06:36] #16629 closed

[2019-11-01 07:23] ShoufaChen opened #16696 "ReLU6 and Swish function"
## Description
(A clear and concise description of what the feature is.)
- If the proposal is about a new model, provide description of what the model is.
- If the proposal is about an API, provide mock examples if possible.

Currently, the `ReLU6()` is implemented by the `clip()`, which is very inefficient.
Is there any way to implement this function that save gpu memory?

Same request as the `Sw

[2019-11-01 07:51] ZhennanQin commented on #16696
Also lack for h-sigmoid/h-swish which introduced by mobilenet v3.

[2019-11-01 08:03] LeftThink commented on #14679
@smartwell
hi,i alse meet the same problem,have you solved it?

[2019-11-01 08:04] LeftThink commented on #14679
@smartwell
hi,i also meet the same problem,have you solved it?

[2019-11-01 08:05] wuxun-zhang commented on #13221
@pengzhao-intel Just tested with mxnet master (commit: ef19b09c297f5dbc100b1283c401074231f883d1) on V100 and cannot reproduce such issue.

[2019-11-01 08:09] #14563 closed

[2019-11-01 09:00] zixuanweeei commented on #16686
CPU (both w/ and w/o MKL-DNN) does have this issue. I will take a look.

[2019-11-01 09:37] leezu commented on #16049
Fixed by https://github.com/apache/incubator-mxnet/pull/16680

[2019-11-01 09:37] #16049 closed

[2019-11-01 11:11] TaoLv commented on #15544
@roywei @samskalicky I think this has been fixed on master branch. I'm closing this issue. Feel free to reopen if any concern. Thanks.

[2019-11-01 11:11] #15544 closed

[2019-11-01 12:58] #16687 closed

[2019-11-01 15:08] haidark opened #16701 "Hybridize, conditional operator, and loop gradient/trainer bug"
## Description
This bug occurs when training hybrid models with conditional operators and loops. The bug manifests itself as loss that becomes NaN after a few iterations probably due to some error in gradient computation. This loss behavior is not because of (machine) learning related issues, as the EXACT same code will run correctly when `model.hybridize()` is not called.
I have created a simple

[2019-11-01 17:19] ptrendx commented on #16696
Recently merged pointwise fusion for GPU should handle both of those functions (so you can have implementation that uses multiple operators like in current Relu6 implementation and it will be converted to efficient GPU kernel in the backend).

[2019-11-01 17:59] ChaiBapchya commented on #13221
Alright, then we can close this (can reopen if it resurfaces)

[2019-11-01 18:43] larroy opened #16702 "Profile dump seems corrupted or invalid json"
## Description
I captured an MXNet profile on multi - node training using Horovod.

I found out that

Example profile.json in host 1:

[code]

Example in host 2

[code]

As I tried to load the files in chrome tracing, nothing happened, they are large, > 1GB as I loaded them from python to cut them I realized that the json is invalid.

With python I cut the relevant parts that couldn't be parsed:

[2019-11-01 18:57] larroy commented on #16612
Thanks for your help @anirudh2290 I think this is a bug with the NVCC that comes with Cuda 10.1.105 as seems to work with 10.1.243.

[2019-11-01 21:23] ptrendx opened #16704 "Nightly tests fail with "Cannot find TVM op config""
## Description
Nightly tests on master branch fail with `Cannot find the TVM op config` message (look e.g. here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/493/pipeline)

### Error Message
[code]

@apeforest @szha @reminisce

[2019-11-01 23:43] sxjscience opened #16705 "Dropout inconsistency bug"
In the following script, we should obtain the same dropout mask but currently the result is related to `nrepeat`.

[code]

If we set the nrepeat to be the same value, the result is consistent
[code]

[2019-11-01 23:48] sxjscience commented on #16705
Also, I've confirmed that CPU-side does not have this problem.

[2019-11-02 00:26] #16658 closed

[2019-11-02 00:29] leezu commented on #16684
I'll respond in https://github.com/dmlc/gluon-nlp/issues/996

[2019-11-02 00:29] #16684 closed

[2019-11-02 02:45] ShoufaChen commented on #16696
related issue  [Does HardSwish cost much more memory than ReLU6?](https://github.com/dmlc/gluon-cv/issues/1021)

When I use the gluocv mobilenetv2 script, found that the `ReLU6`  cost 2G more gpu memory than the `nn.Activation('relu')`.   may be the implementation of the ReLU6 of Gluoncv [here]( https://github.com/dmlc/gluon-cv/blob/master/gluoncv/nn/block.py#L45-L57 ) can be improved?

And use th

[2019-11-02 03:09] ptrendx commented on #16696
Please try with the newest version of MXNet (that fusion PR is very recent so you will need a nightly version of MXNet for it). It should help with the memory consumption.

[2019-11-02 03:26] ShoufaChen commented on #16696
Thank you very much!
I'll try it.

[2019-11-02 05:36] jiashu-zhu commented on #16365
Thanks for your kindly help! @wkcn
and using older version(like MXnet v1.1.0) is also a temporary solution

[2019-11-02 05:56] szha commented on #16704
@yzhliu

[2019-11-02 12:16] nickguletskii opened #16708 "Training an FPN model using grad_req="add" causes rapid divergence, while manually implemented gradient accumulation works fine"
## Description
While working with FPNs and gradient accumulation, I've discovered that using `grad_req=add` with certain models utilizing FPNs causes almost immediate divergence. This issue is similar to #16686, but the results are much more extreme: the toy model I have provided in this issue diverges in just a couple of steps. A proprietary model (which I cannot share) diverges immediately.

##

[2019-11-02 12:23] hubutui commented on #15294
@pengzhao-intel Yeah, after bump mkldnn to 1.0 version, I could succussfully build mxnet now. Any plan to install mkldnn so files to `mxnet`'s subfolder, say `/usr/lib/mxnet/mkldnn`? And the header files of mkldnn. Or could we compile mxnet with system's mkldnn? There is a package `mkl-dnn` available in [arch4edu](https://github.com/arch4edu/arch4edu) repo, but not in official repo yet for ArchLin

[2019-11-02 13:10] pengzhao-intel commented on #15294
It's great that the problem is fixed in the latest code. Currently, the MKLDNN in the submodule directory. It's not doable to use the system's mkldnn since the API is not portable in different versions like from v0.x to v1.x.

[2019-11-02 18:09] ChaiBapchya commented on #11747
#16692 unrelated PR
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16692/1/pipeline
[code]

[2019-11-02 18:29] #13108 closed

[2019-11-02 18:30] gigasquid commented on #16347
Going ahead and closing this issue. If you have any other problems - please let me know

[2019-11-02 18:30] #16347 closed

[2019-11-03 00:39] pengzhao-intel commented on #11747
@xinyu-intel please take a look for flaky test.

[2019-11-03 01:38] hubutui commented on #15294
OK, I see. To avoid potential file conflicts with `mkl-dnn`, I would need to manual install the mkldnn so files to `/usr/lib/mxnet/mkldnn` and patch the rpath for now.

[2019-11-03 01:45] hubutui commented on #9205
Any updates? I also try to compile mxnet with clang to avoid ABI issue. But even I specifiy `CC=clang CXX=clang++`, the compiling will use gcc somewhere, and I got unrecognize `-fopenmp=libopenmp` error:
[code]

[2019-11-03 01:49] hubutui commented on #11417
Hey, is there any update? I have to remove the `3rparty/openmp` to make it work. Also, the latest cmake set `OpenMP_FOUND` instead of `OPENMP_FOUND`, so I need to modify `mxnet/CMakeLists.txt` too.

[2019-11-03 14:24] TaoLv commented on #15294
@hubutui Do you think it's still a problem if we statically link `mkldnn.a` into mxnet? I know there was an effort in mxnet community for that.

[2019-11-03 15:36] cjolivier01 commented on #11417
the openmp_found would be a separate issue. what is the exact issue you’re seeing? does ldd show more than one omp library in your build (ie libomp5, libomp, libgomp)? I’ve heard reports that recent builds are including multiple omp libraries.

[2019-11-03 15:56] cjolivier01 commented on #11417
recent changes involving mkl have made changes to omp linkages: https://github.com/apache/incubator-mxnet/commit/aa1074dc1704d3732ab205c43d48083ef8c69680#diff-af3b638bc2a3e6c650974192a53c7291

[2019-11-03 16:19] xidulu opened #16713 "[Numpy"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message, including stack trace.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.
2.

## What have yo

[2019-11-03 17:36] cjolivier01 commented on #11417
I am unable to get mxnet to build with cmake with CUDA disabled, general cmake build seems to be broken.  Failing mkldnn build.

[2019-11-04 01:10] hubutui commented on #11417
@cjolivier01 Here is my output:
[code]
mxnet build uses `3rparty/openmp` by default. There would be file conflict with the system's package. So I manually delete this folder, and build it successfully with cmake.

[2019-11-04 01:20] TaoLv commented on #11417
@cjolivier01 Could you please be more specific about the `failing mkldnn build`? We removed iomp5 dependency in the commit but mkldnn should still work with either gomp or the LLVM omp under 3rdparty/openmp.

[2019-11-04 02:22] sxjscience commented on #16713
@xidulu Would you submit a PR to revise it?

[2019-11-04 02:23] sxjscience commented on #16708
Thanks for reporting this! It looks that some operators haven't implemented `grad_req=add` correctly.

[2019-11-04 02:35] xidulu commented on #16713
@sxjscience  sure, I'll look into this probelm after I submit my Bernoulli implementation.

[2019-11-04 04:43] ChaiBapchya opened #16718 "Cleaner API for utilizing all GPUs if available"
## Description
Can we have a cleaner way of utilizing GPUs?

## Current scenario
According to this [1]

[code]

Equivalent in PyTorch would be
[code]

## Proposal
To make this easier for first time user of MXNet or (PyTorch user migrating to MXNet)
Can we have 2 changes
1. Additional API
`mx.gpu().is_available()`
or something on similar lines

Benefit - Adding this API would save user 3 lines of c

[2019-11-04 04:56] cjolivier01 commented on #11417
[code]

[2019-11-04 04:57] cjolivier01 commented on #11417
I think removing this in CMakeLists.txt may fix it:
mxnet_option(USE_MKL_IF_AVAILABLE "Use MKL if found" OFF)

[2019-11-04 04:58] cjolivier01 commented on #11417
I don't get this error when building with Makefile, by the way

[2019-11-04 05:15] TaoLv commented on #11417
Could you please also share your cmake command line?

[2019-11-04 05:16] cjolivier01 commented on #11417
from mxnet/bld:
```cmake -DUSE_CUDA=OFF ..```

[2019-11-04 05:18] cjolivier01 commented on #11417
btw there's a problem with the mkldnn build.  It pulls in libgomp always:
[code]

[code]

[2019-11-04 05:21] cjolivier01 commented on #11417
From CMakeCache:

//CXX compiler libraries for OpenMP parallelization
OpenMP_CXX_LIB_NAMES:STRING=gomp;pthread

[2019-11-04 05:21] cjolivier01 commented on #11417
I can get it to build by taking out the USEMKL if found and then explicitly setting MKLDNN to ON

[2019-11-04 05:24] cjolivier01 commented on #11417
I am guessing if it’s not failing for you it’s because it can’t find MKL anyway. on my system, I suppose it can find it.

[2019-11-04 05:25] TaoLv commented on #11417
Thank you for the investigation, @cjolivier01. We will fix that.

[2019-11-04 05:26] TaoLv commented on #11417
Regrading omp in mkldnn, we removed iomp5 becaused of license issue. We're going to support omp selection through make/cmake command line.

[2019-11-04 06:32] #16256 closed

[2019-11-04 06:34] szha commented on #16591
The community is moving away from Module and towards Gluon. As a result we won't be prioritizing the fix for Module. Would it be possible for you to move to Gluon instead?

[2019-11-04 06:58] szha commented on #16685
yes this needs fixing. are you working on it @DickJC123?

[2019-11-04 07:01] hubutui commented on #11417
@cjolivier01 According to https://github.com/apache/incubator-mxnet/blob/master/docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_readme.md#enable-mkl-blas, you could use mklml or other blas libs, such as atlas, openblas.

[2019-11-04 07:52] TaoLv commented on #11417
Cannot reproduce the compile errors. Attached the cmake/make log. Could you please help to check? @cjolivier01
[cmake_20191104_143513.txt](https://github.com/apache/incubator-mxnet/files/3802997/cmake_20191104_143513.txt)

[2019-11-04 10:05] #16562 closed

[2019-11-04 12:10] hubutui commented on #16612
I got a similar issue with ArchLinux, cuda 10.1.243, gcc 8.3.0, opencv 4.1.2. Here is my build log.

[mxnet-buildlog.txt](https://github.com/apache/incubator-mxnet/files/3803891/mxnet-buildlog.txt)

[2019-11-04 16:12] anirudh2290 commented on #16612
@hubutui Looks like your issue is unrelated.  I don't see issue related to ThreadLocalStore in your log.

[2019-11-04 18:15] aaronmarkham commented on #16238
Failed here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16719/1/pipeline

[2019-11-04 19:41] ddavydenko commented on #16677
@mxnet-label-bot add [Question]

[2019-11-04 19:43] ddavydenko commented on #16666
@deHsien , this would be a feature request as currently this not supported.
@mxnet-label-bot add ["Feature Request"]

[2019-11-04 19:43] ddavydenko commented on #16666
@mxnet-label-bot add [Feature request]

[2019-11-04 19:48] nickguletskii commented on #16718
I think it would be better to introduce a separate function called `mxnet.all_gpus(): List[mxnet.Context]`, instead of adding a parameter to `mxnet.gpu`. This way, the return type of `mxnet.gpu` will remain `mxnet.Context`, instead of becoming `Union[mxnet.Context, List[mxnet.Context]]`.

[2019-11-04 19:50] stu1130 commented on #16670
@DickJC123 do you think we can close the issue?
My though is that there are two things in the issue, first one was addressed but the the second one which is enabling the Tensor Cores by default is not tackled yet so I kept it open. But feel free to close it and maybe create enabling Tensor Cores issue if you want.

[2019-11-04 19:56] DickJC123 commented on #16705
What behavior do we expect from a model that has two Dropouts, where no seeds have been set explicitly in advance?  Are the dropout patterns identical or different?

If the answer is 'different', then I would think that by setting the seeds in advance, the two-Dropout model would then have repeatable behavior, but the Dropouts would continue to be different.

Also, feel free @sxjscience to chime i

[2019-11-04 19:58] #16670 closed

[2019-11-04 20:06] csharma opened #16721 "GPU is not enabled for mxnet based word embeddings."
Hi,

bert_embedding = BertEmbedding(mx.gpu(0))

causes the following error.
Exception has occurred: MXNetError
[15:02:22] C:\Jenkins\workspace\mxnet\mxnet\src\ndarray\ndarray.cc:1295: GPU is not enabled

Please help
best regards,
Cartik

## Environment
pip install mxnet-cu90
Run in python code

bert_embedding = BertEmbedding(mx.gpu(0))

causes error

Exception has occurred: MXNetError
[15:02:22] C

[2019-11-04 20:31] sxjscience commented on #16705
@DickJC123 The answer should be different because these two dropouts should share the same internal random number generator and the random state will be updated accordingly.

For the inconsistency bug mentioned in this issue, it's not exactly related to the seeding problem.

For example, consider the following script:
[code]
The first `y = mx.nd.Dropout(x, cudnn_off=True)` is not surrounded by `au

[2019-11-04 20:34] sxjscience commented on #16705
@DickJC123 You may see that I've manually set `cudnn_off=True`. Also, I think https://github.com/apache/incubator-mxnet/pull/16532 will solve this problem.

[2019-11-04 20:43] sxjscience commented on #16721
@csharma Did the machine you are using have GPU support? Also, the python code you provided is not runnable.

[2019-11-04 20:51] csharma commented on #16721
Add this line,

from bert_embedding import BertEmbedding

Yes, the laptop I am using has GPU support with 2 cuda cores.

Best,
Cartik

[2019-11-04 20:52] sxjscience commented on #16721
@csharma There is no `bert_embedding` here in MXNet.

[2019-11-04 20:55] zheng-da commented on #16603
I just tried the experiment again and there is no problem. The command to run the experiment:
[code]

You can use the following commands to install MXNet. The problem is very easy to reproduce. You can install the MKLDNN version if you want. It makes no difference.
[code]

[code]

[2019-11-04 20:55] sxjscience commented on #16701
@junrushao1994 @szha @zheng-da

[2019-11-04 21:08] Jerryzcn commented on #16708
There is also some bugs in grad accumulation as well

[2019-11-04 21:13] csharma commented on #16721
Add the following line to make it run
from bert_embedding import BertEmbedding

Best,
Cartik

[2019-11-04 21:25] DickJC123 commented on #16612
Yes, I believe this is a problem present in the original cuda 10.1 release (10.1.105), fixed by 10.1 Update 1 (10.1.168).  Are you able to upgrade at least to this version, or are we looking for a work-around for 10.1.105?

[2019-11-04 22:56] sxjscience commented on #16721
@csharma Would you ask questions here https://discuss.mxnet.io/ ? The issue page is for bug reports.

[2019-11-04 22:56] #16721 closed

[2019-11-04 23:10] larroy commented on #16612
I was able to upgrade and the problem went away with the updated CUDA.

[2019-11-04 23:25] ChaiBapchya commented on #11535
@zhuotest you can confirm
But @rohun-tripathi does this help - https://www.nvidia.com/drivers/beta ?

[2019-11-05 00:25] DickJC123 commented on #16685
I have not begun to work on this, and my plate is fairly full, so someone else can jump in if they want. The issue can be fixed narrowly to match the failing case I posted, but I was hoping for someone to also understand/fix the 'endemic' issue @samskalicky mentions in #16131.

[2019-11-05 00:50] DickJC123 commented on #16612
And FYI, if you feel it worth trying to correct this for MXNet users on the original cuda 10.1, the fix to the problematic line in dmlc-core is:
[code]
Worth a PR?

[2019-11-05 00:54] larroy commented on #16612
I think it would be user friendly to avoid obscure compilation errors for users if we can avoid it.

[2019-11-05 01:47] ChaiBapchya commented on #6493
I'm guessing the more tutorials we have (on varied topics) the better it is for our users. Personally, I'd interested in knowing all of these.

[2019-11-05 01:48] anirudh2290 commented on #16612
I agree, it would be worth opening a PR to dmlc-core. Thanks @DickJC123 !

[2019-11-05 02:03] xidulu commented on #16705
Clearly, dropout in inference mode affects the random state:
[code]

[2019-11-05 02:16] knjwhn commented on #16557
Thanks,I've done that.  and instead of float32 type . I wrote an int8 openblas gemm function(A:u8/s8 B:u8/s8 C:int32),can it use in convolution calculation after quantization? Hope for your help.

[2019-11-05 02:36] sxjscience opened #16723 "[Bug] fused_op does not support boolean type"
@ptrendx I find that the FusedOp does not support the boolean type. The following script will trigger the error.

[code]

Stack Trace:
[code]

We can also manually disable the Fuse OP, which will generate the correct answer.

[code]

[2019-11-05 02:48] ptrendx commented on #16723
I see, this is a newly added type. We will fix this.

[2019-11-05 04:39] stereomatchingkiss opened #16724 "Example link of the image classification show 404"
I keep getting error 404 when I try to read the image classification examples--https://mxnet.apache.org/tutorials/python/predict_image.html

[2019-11-05 04:54] vasusingla619 commented on #16596
Thanks, this was solved!

[2019-11-05 04:54] #16596 closed

[2019-11-05 06:38] sxjscience commented on #16705
With the help of @xidulu , we have located the root cause of the issue:

The bug is triggered because we have multiple parallel GPU random resources: https://github.com/apache/incubator-mxnet/blob/c583e44816a5e383493f35e69daaa92a47e40e39/src/resource.cc#L93-L94

When we create a new Dropout Node, we will attach a random resource to the node: https://github.com/apache/incubator-mxnet/blob/c583e4481

[2019-11-05 07:00] artor1os opened #16725 "Failed test"
test name: test_gluon_gpu.test_rnn_unroll_variant_length

log:

[code]

build link:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16720/5/pipeline

[2019-11-05 07:01] haojin2 commented on #16725
@ptrendx @DickJC123 Could you guys provide some insights to this issue? Seems like related to the fused ops

[2019-11-05 08:40] 394781865 opened #16726 "fatal error: cub/cub.cuh: No such file or directory"
src/operator/numpy/random/./../../tensor/./././cast_storage-inl.cuh:28:23: fatal error: cub/cub.cuh: No such file or directory compilation terminated.

I encountered the above problem when compiling mxnet。what's the problem? how can i do ?

[2019-11-05 11:05] #16696 closed

[2019-11-05 12:02] pedro-abundio-wang commented on #16527
![image](https://user-images.githubusercontent.com/50159788/68206065-c7327d00-0006-11ea-81a0-d88451f4659b.png)

![image](https://user-images.githubusercontent.com/50159788/68206198-14aeea00-0007-11ea-9e19-878dd1a51918.png)

![image](https://user-images.githubusercontent.com/50159788/68206129-e4674b80-0006-11ea-91b7-0e26fed6b4f1.png)

![image](https://user-images.githubusercontent.com/50159788/6820

[2019-11-05 16:16] ptrendx commented on #16725
Thanks for the report, we will look into this issue.

[2019-11-05 19:19] access2rohit opened #16732 "MKLDNN-1.0 doesn't support slice operator for Large Tensor"
## Description
when MXNet is built for CPU MKL slice operator doesn't work.

### Error Message
`could not initialize a sub-memory`

## To Reproduce
Use MXNET cpu build with MKL and MKLDNN enabled from master

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. Run command `MXNET_TEST_COUNT=1 nosetests --logging-level=DEBUG --verbose -s tests/nightly/test_large_array.py

[2019-11-05 19:20] access2rohit commented on #16732
@pengzhao-intel @TaoLv

[2019-11-05 19:35] access2rohit commented on #16732
@mxnet-label-bot add [MKLDNN]

[2019-11-05 21:46] stereomatchingkiss commented on #16724
True link should be -- https://github.com/dmlc/mxnet-notebooks/blob/master/python/tutorials/predict_imagenet.ipynb

[2019-11-05 21:53] djaym7 commented on #14875
Does anyone have any update on this ? I am having the same issue ...

[2019-11-06 01:35] pengzhao-intel commented on #16732
@rongzha1 @wuxun-zhang  could you take a look ASAP?

[2019-11-06 01:38] sxjscience commented on #16708
I've confirmed that this issue do exist and I'm able to reproduce that.

[2019-11-06 01:41] pengzhao-intel commented on #16732
@access2rohit is this a necessary part for r1.6 or we can fix in master?

[2019-11-06 01:43] wuxun-zhang commented on #16732
@pengzhao-intel I am looking into this.

[2019-11-06 02:53] rongzha1 commented on #16732
Can't reproduce this case in our skylake machine . Will keep debug
(mxnet) [rongzha1@mlt-skx141 rong_git_mxnet]$ MXNET_TEST_COUNT=1 nosetests --logging-level=DEBUG --verbose -s tests/nightly/test_large_array.py:test_slice
test_large_array.test_slice ... mkldnn_verbose,info,Intel(R) MKL-DNN v1.0.0 (Git Hash 553c23fc020dfda19f8145e92e57b0e40ecdff56),Intel(R) Advanced Vector Extensions 512 (Intel(R)

[2019-11-06 03:02] rongzha1 commented on #16732
@access2rohit could you add some bt info? thanks

[2019-11-06 03:06] TaoLv commented on #16732
@rongzha1 Have you ever tried to build MXNet with `USE_INT64_TENSOR_SIZE=1`?

[2019-11-06 04:03] haojin2 commented on #16726
@394781865 how are you doing the build?
Did you checkout all the submodules?
Can you try `git submodule update --init --recursive` before you build?

[2019-11-06 04:05] haojin2 commented on #16718
@ChaiBapchya @nickguletskii There's one (function)[https://github.com/d2l-ai/d2l-en/blob/d9eb3df062a3abf6bb0af21a022a03edd79badb9/d2l/d2l.py#L300-L303] in d2l-en that could be a possible reference.

[2019-11-06 04:31] wuxun-zhang commented on #16732
@TaoLv Yes, we have enabled the int64 flag, building command is `make USE_OPENCV=1 USE_MKLDNN=1 USE_BLAS=mkl USE_INT64_TENSOR_SIZE=1 USE_INTEL_PATH=/opt/intel -j`.

I also cannot reproduce this issue. However, I found another bug about the offset assignment in slice and will file a PR soon.

[2019-11-06 05:43] wuxun-zhang commented on #16732
Also tested with AWS EC2 m5.8 instance, and found no error (master commit 3c404a512829d2894ffe3612dc3cb29a12a36597).

[code]

Env Configuration:
[code]

[2019-11-06 06:42] feevos opened #16736 "Bug when iterating over HybridSequential elements"
## Description
Dear all, there is a bug when iterating over a HybridSequential treated as a container. This bug depends on the length of the container. If the length is small, the error does not appear.  See minimal example below.

### Error Message
---------------------------------------------------------------------------
MXNetError                                Traceback (most recent call last

[2019-11-06 06:54] feevos commented on #16736
Some additional information: it seems the error relates to how many times the initial input is passed from the conv layers. It is not directly related to the iteration over the HybridSequential container.

This works irrespective to what is the length of the kernel_sizes:

[code]
Runs fine:
[code]

[2019-11-06 07:30] feevos commented on #16736
Workaround that solves the problem (at some computational cost, I guess...):

[code]

[2019-11-06 07:52] access2rohit commented on #16732
@pengzhao-intel I tried with branch v1.6.x @rongzha1 can you try with that branch too.
Also, I never got this message in my run
[code]

[2019-11-06 07:55] access2rohit commented on #16732
@pengzhao-intel
Yes, it is very important for Deep Graph Library(DGL) support that relies heavily on `slice` operator.

[2019-11-06 07:58] wuxun-zhang commented on #16732
You can try to use `export MKLDNN_VERBOSE=1` to get these logs.

Also I just filed a [PR ](https://github.com/apache/incubator-mxnet/pull/16737)releated to slice op, but not sure if it will resolve this issue. Could you help double check?

[2019-11-06 09:15] igor-byel commented on #15275
we used such solution also for frvt
setting those variable in code
[code]
it worked for frvt test on our local machine
but when we send it to frvt for check they respond that our lib is threading.
Did you succeed with mxnet configuration?
Thank you.

[2019-11-06 09:53] BogdanovKirill commented on #11458
Same issues on v1.5. Did someone find a solution to the problem?

[2019-11-06 10:04] haojin2 opened #16739 "Flaky test: test_higher_order_grad.test_arctan"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/PR-16728/2/pipeline

[code]

[2019-11-06 10:25] canteen-man opened #16740 "Whether the assert about the image is not continous can be added in the iter_image_recordio_2.cc"
## Description
I meet an error because the image in my test dataset is damaged.And when I use the im2rec.py to generate the rec of the test dataset，the program don't  throw  any wrong.
Because when the python opencv  read  damaged picture,it's don't throw wrong.
And damaged picture isn't a empty.
So use the "try" ,"except" and "image is None" can't find the picture is damaged picture.
When I train

[2019-11-06 14:30] MicKot commented on #16591
I guess it's my only option :)

[2019-11-06 16:02] slavah commented on #11458
Anyone found solution for this issue?

[2019-11-06 17:17] nikudyshko opened #16741 "Error detecting C++11 and C++14"
## Description
During configuring process, I've noticed Cmake reporting failures when trying to detect C++11 support. If `USE_CXX14_IF_AVAILABLE` is enabled - Cmake also fails to detect it's suport. My compiler is MSVC 19, which is, obviously, supports these standarts. Looking through the logs, I've found out that compiler has been provided with incompatible GNU-style flags `-std=c++11` and `-std=

[2019-11-06 18:34] sshearn commented on #16620
@lanking520 Any updates here? It's a huge blocker for me. Thanks.

[2019-11-06 20:00] sxjscience opened #16743 "[Numpy] Cannot mix numpy scalar and MXNet numpy ndarray"
Mixing the original numpy array and the mxnet numpy array will trigger some errors:

Minimal reproducible example:
[code]

Error:
[code]

[2019-11-06 20:03] sxjscience commented on #16743
This will be fine:
[code]

[2019-11-06 20:51] #16650 closed

[2019-11-06 23:09] sxjscience opened #16745 "[Numpy] Cannot print the numpy scalar with format string"
[code]
Error message:
[code]

In numpy:
[code]
Returns
[code]

[2019-11-07 01:33] leezu opened #16747 "Fused Op causes MXNetError"
## Description
After https://github.com/apache/incubator-mxnet/pull/15167 is merged, GluonNLP CI broke.

### Error Message
[code]

## To Reproduce
`git clone https://github.com/dmlc/gluon-nlp; cd gluon-nlp; pytest --color=yes -s scripts -k 'test_finetune_train[float16-WNLI-bert_12_768_12-2]'`

## Environment
https://pypi.org/project/mxnet-cu100/1.6.0b20191102/

[2019-11-07 01:34] leezu commented on #16747
@ptrendx

[2019-11-07 01:53] sxjscience commented on #16747
I suggest turn the fused_op off by default in the 1.6.0 release and announce it as experimental feature, or revert the PR. @szha @eric-haibin-lin @junrushao1994 @DickJC123 @wkcn @reminisce @haojin2  @TaoLv @marcoabreu  What do you think?

[2019-11-07 01:56] sxjscience commented on #16747
@zhreshold

[2019-11-07 03:03] iris0329 commented on #15492
@SpaceView   on ubuntu, I add
[code]

solved this pro ！ thanks

[2019-11-07 03:59] suzhengpeng commented on #1161
i got the same problem, how deal with it???

[2019-11-07 04:36] ZhennanQin commented on #16424
With https://github.com/apache/incubator-mxnet/pull/16734 merged, the computation error is fixed. Then you can have a try for intel int8 solution.

[2019-11-07 07:24] #12681 closed

[2019-11-07 08:13] wkcn commented on #16747
I agree to turn the fused_op off until fused_op is stable, and use the environmental variable to switch it.
The reason is that users couldn't use the 1.6.0 release if it is not compatible with their code.

[2019-11-07 08:33] knjwhn opened #16749 "Ask for advice about using my int8gemm"
Hello everyone.
I implemented a gemm multiply function for u8s8s32 and s8s8s32 data types , and the function interface are same as openblas , I want to use it in mxnet and I realized only after quantization can we use the int8 gemm ,but when I look into source code , I find the quantization code in convolution isn't include the  gemm but link to the normal convolution code which is for float data

[2019-11-07 08:36] TaoLv commented on #16747
+1

[2019-11-07 08:40] knjwhn commented on #16749
https://github.com/apache/incubator-mxnet/blob/c38b52784325380f79cafb9f0407ad327554fe6b/src/operator/quantization/quantized_fully_connected.cc#L270

[2019-11-07 08:53] TaoLv commented on #16749
Are you running experiments or targeting for upstreaming in the future? If just experiments, I think you can directly replace the `cblas_gemm_s8u8s32` function call with yours. Before that, you need make sure that they have the same functionality. See the document of `cblas_gemm_s8u8s32` at https://software.intel.com/en-us/mkl-developer-reference-c-cblas-gemm-1

If you're not building MXNet with `

[2019-11-07 09:08] knjwhn commented on #16749
thanks !  I build MXNet with  USE_BLAS=openblas , because of my target machine is arm64 so I can't using mkl or mkldnn, and by avoiding this I created int8 gemm with the same interface as openblas, and I want to use it in mxnet,  So is there have any idea to use my own int8gemm in convolution  ?

[2019-11-07 09:32] TaoLv commented on #16749
I see. Given you already have INT8 GEMM, so I would suggest you start from the normal FP32 FullyConnected operator and replace its implementation with yours. Inputs/outputs are still FP32, in the operator there should be quantization (FP32->INT8), INT8 GEMM, de-quantization (INT8/INT32 -> FP32). With this method, you can verify what's the accuracy and performance benefit you can get with your impl

[2019-11-07 11:02] knjwhn commented on #16749
Thanks a lot !I will try that.and is there have some study resource of how to use quantization/dequantization code?  What's more I still have a problem is that where is the current INT8 convolution using the gemm? maybe I can replace it.

[2019-11-07 13:13] linven0721 opened #16751 "Run Java example, GPU, Memory leak"
## Description
When I tried to run the Java predictor example（[https://github.com/apache/incubator-mxnet/blob/master/scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/predictor/PredictorExample.java]） in a circular way, I found that the memory was growing all the time, 30000 times in a circular way, the memory occupied 20GB and could not be released。
##Jar version
mxnet-f

[2019-11-07 14:53] TaoLv commented on #16749
MXNet INT8 Conv doesn't call GEMM directly. It leverages the Conv APIs from MKL-DNN/cuDNN.

[2019-11-07 16:48] JONGGON opened #16752 "Gluon hybridize is not perfect."
## Description
(A clear and concise description of what the bug is.)
I am implementing yolov3.

If hybridize is not active, no problem will occur.
When active, the following error is generated:

not one output from hybrid_block
If you output multiple results,
The backward operation doesn't seem to find the right address.

### Error Message
Traceback (most recent call last):
  File "/home/jg/Downlo

[2019-11-07 17:31] alopez1327 opened #16753 "fail to build using docker"
## Description
Tried building library using docker through the command: _python3 ci/build.py -p armv7_ but compilation failed because it seems docker is pulling some binaries from and old repository (jessie). Tried running the same code with --force-yes with the same result.

Also tried to compile directly on Raspberry pi, but it fails because of insufficient VM, even after I increased it to 4096M

[2019-11-07 18:20] Wallart opened #16754 "Is mirroring working with MXNet 1.5.1 Gluon ?"
Hello everyone,
I am currently implementing a Sparse/LogSparse transformer.
I would like some layers results to be re-computed at backward pass to save memory.

I tried the MXNET_BACKWARD_DO_MIRROR env variable.
My network is hybridizable so I also tried to call _set_attr(force_mirroring='True') on the generated symbols.

But, it doesn't seems to have any effect on memory consumption.

Is mirrorin

[2019-11-07 18:25] sxjscience commented on #16576
I've rerun the script and can confirm that @hzfan's commit has solved the problem. I'll later try to use einsum in the implementation of neural attention.

[2019-11-07 18:25] #16576 closed

[2019-11-07 18:29] sxjscience commented on #16752
@JONGGON There are a few know inconsistent behaviors the HybridBlock: https://github.com/apache/incubator-mxnet/issues/16279, https://github.com/apache/incubator-mxnet/issues/16140

There are some tips to avoid these issues: 1. You should avoid `a.reshape(shape=...)` and use `F.reshape(a, shape=...)`. 2. You need to avoid index slicing, e.g., `a[:, 1]`, in the HybridBlock.

[2019-11-07 18:34] sxjscience commented on #12268
This issue is solved by the new Numpy NDArray in MXNet:
[code]

[code]

[2019-11-07 18:34] #12268 closed

[2019-11-07 18:34] #3660 closed

[2019-11-07 18:37] sxjscience commented on #3822
The new numpy ndarray supports this feature.

[2019-11-07 18:37] #3822 closed

[2019-11-07 18:58] alopez1327 commented on #16753
Tried to fix the error by adding:
_apt update && apt-key update && apt install -y --no-install-recommends_

to deb.ubuntu.ccache.sh before autoconf is installed. That sort of worked but now it seems that asciidoc was not installed because:

/usr/bin/gcc -std=gnu99 -g -O2 -Wall -W -Werror -o ccache src/main.o src/args.o src/ccache.o src/cleanup.o src/compopt.o src/conf.o src/counters.o src/execute.

[2019-11-07 19:39] ptrendx commented on #16747
Isn't right now the period of finding those integration bugs and fixing them for 1.6 release? I will definitely look into this issue and fix it, not sure why you propose to turn the feature off by default?

[2019-11-07 19:49] sxjscience commented on #16747
@ptrendx I think we are already in a code-freeze status and the simplest fix is to turn it off by default. We could easily turn it on in 1.6.1 once we have confirmed that it has no impact in all the training scripts (there are plenty of them) and some may take time to run.

[2019-11-07 21:36] access2rohit commented on #16732
PR for the fix: https://github.com/apache/incubator-mxnet/pull/16737

[2019-11-07 21:40] CanyonWind commented on #16424
Hi @ZhennanQin, thanks a lot to your effort!
I tried to verify the quantized model's performance with the nightly built release (`mxnet-mkl-1.6.0b20191107`, the merge commit was completed on 1106 so I assumed this release already contains the updated codes) on the Mac to get a quick result.

[code]
I've tried the following:
With calib-mode: `none`
[code]
With calib-mode: `naive`
[code]
With calib-

[2019-11-07 21:57] ptrendx commented on #16747
Ok, I sent a clarification email to dev@ as you are not actually the first person to reach out to me with this misunderstanding of code freeze. Code freeze is a period where bugs are found and fixed in order to polish the release and provide the best experience for the end users.

I treat the bugs about fusion with highest priority and will do my best to fix them. If I fail to address all issues b

[2019-11-07 22:00] zachgk commented on #16560
Is this resolved now that #16570 is merged?

[2019-11-07 23:23] leezu commented on #16747
I agree with @ptrendx, we should try to fix the bugs and ship the features if time allows.

[2019-11-07 23:37] sxjscience commented on #16747
I received the clarification email about the meaning of code freeze and I agree with @ptrendx that we should try to fix it these days and consider to turn it off by default if we fail to do so. BTW, what's the expected date for 1.6 RC?

[2019-11-08 01:02] anirudh2290 opened #16757 "Exceptions thrown in InferType before doing reverse inference"
## Description
Some operators are missing logic for reverse inference: inferring the type of inputs from outputs. Instead, exception is thrown if input dtype is -1.

Also, InferType logic of operators should throw an exception only if both input and output are defined and incompatible with each other. For example. if inputs to an op are -1 and output is -1, the infertype logic should return false,

[2019-11-08 01:06] wuxun-zhang commented on #16732
Glad it works.

[2019-11-08 01:39] pengzhao-intel commented on #16749
@knjwhn  Does current int8 FC OP work for you?

Could you provide some backgrounds of your workload and target with int8 GEMM?

[2019-11-08 01:43] pengzhao-intel commented on #16749
More info in our blog:  https://medium.com/apache-mxnet/model-quantization-for-production-level-neural-network-inference-f54462ebba05

[2019-11-08 02:16] leezu commented on #16753
I believe `ci/build.py` is not suppported outside of the CI environment. So I'm closing the issue.
Do you have any issues with cross-compile?

[2019-11-08 02:35] leezu opened #16758 "[Estimator] Emits warnings when mixing user-defined and default event handlers"
## Description
Estimator emits a arguably useless warning, when users specify `event_handlers`.

### Error Message
(Paste the complete error message, including stack trace.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that produced the erro

[2019-11-08 02:51] TaoLv commented on #11417
@cjolivier01 It seems that even MXNet is not built with MKL-DNN, there are two omp runtimes linked in libmxnet.so.

I build MXNet with:
[code]
And the `ldd` prints:
[code]

[2019-11-08 03:01] zhly0 opened #16759 "LeakyReLU"
## Description
(in the doc:
http://mxnet.incubator.apache.org/api/python/docs/api/symbol/op/index.html#mxnet.symbol.op.LeakyReLU.it is said that leakyrelu is activate on input element-wise,lets say,we have a input with input shape (112,112,3),so when th act type is prelu,the weight shape of this layer should be 112x112x3,since it is act element-wise,but when print trained model,this layer has shap

[2019-11-08 04:25] #16758 closed

[2019-11-08 05:06] ZhennanQin commented on #16424
@CanyonWind Below PR is created as a demo for CPU quantization.
https://github.com/CanyonWind/Single-Path-One-Shot-NAS-MXNet/pull/12

[2019-11-08 06:33] ShoufaChen opened #16761 "AssertionError: HybridBlock inputs must be (nested) list of Symbol or NDArray, but got 0.0 of type <class 'float'>"
## Description
(A clear and concise description of what the bug is.)
After I update the Mxnet use `pip install mxnet-cu101mkl` yesterday, I can't pass a float value to `hybrid_forward()` .
### Error Message
(Paste the complete error message, including stack trace.)
AssertionError: HybridBlock inputs must be (nested) list of Symbol or NDArray, but got 0.0 of type <class 'float'>

## To Reproduce
(I

[2019-11-08 08:21] leezu commented on #16761
You need to pass a ndarray. Float value is unsupported and does not work correctly. Previous mxnet version was buggy and didn't check the input value correctly.

[2019-11-08 08:21] #16761 closed

[2019-11-08 08:22] leezu commented on #16761
@sxjscience FYI

[2019-11-08 15:02] alopez1327 commented on #16753
Its just that from some of the discussions in the forum it was suggested to use this CI capability to build a library for the raspberry Pi. Cross compilation will take me a bit longer to do and since currently the documentation is missing from the master branch I was not sure which was the sanctioned way of generating the library for the Pi.

I did try to use the precompiled version (mxnet-1.5.0-p

[2019-11-08 16:24] vexilligera opened #16762 "Windows build from source failure"
## Description
(A clear and concise description of what the bug is.)
I followed the official tutorial for building MXNet with CUDA 9.2 from source using Visual Studio 2017 on Windows Server 2016.
The compilation was successful, however I encountered this linking error:

LINK : fatal error LNK1248: image size (894C8000) exceeds maximum allowable size (80000000) [C:\incubator-mxnet\build\mxnet.vcxpr

[2019-11-08 16:30] vexilligera commented on #16762
#16033

[2019-11-08 16:33] vexilligera commented on #16762
#16033

[2019-11-08 16:37] vexilligera commented on #16033
Hi, did you solve this?

[2019-11-08 18:47] zachgk opened #16765 "FusedOp Failing Static Linked Build"
## Description
The build is currently failing for the statically linked build that is used for Scala Maven Publishing. This is blocking the currently nightly snapshot and must also be fixed before building the release jars as well.

[code]

See full log at http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-publish-artifacts/detail/master/287/pipeline/
Main Scala nightly pi

[2019-11-08 18:47] zachgk commented on #16765
@ptrendx Can you take a look?

[2019-11-08 18:57] sxjscience commented on #15067
Has the issue been solved?

[2019-11-08 19:07] ptrendx commented on #16765
Hmmm, it is strange - https://github.com/apache/incubator-mxnet/blob/master/src/common/rtc.cc already uses those same functions (e.g. here: https://github.com/apache/incubator-mxnet/blob/master/src/common/rtc.cc#L175) and it compiles no problem...

[2019-11-08 19:25] ifeherva commented on #15766
I can confirm the bug with version 1.5.1

[2019-11-08 20:46] KayneWest commented on #15908
Building on the most up-to-date version of Jetpack for TX2 (as of today's date), and the master version of mxnet (as of today's date) I'm getting the same exact error.

[2019-11-08 20:51] sxjscience commented on #15766
@reminisce I think shape with 0s are generally not supported in the original ndarray interface. We will need to use the new numpy array in MXNet:

[code]

[2019-11-09 02:03] #16732 closed

[2019-11-09 02:04] sxjscience opened #16767 "[Gluon] Move batchify in GluonNLP/GluonCV back to Gluon"
## Description

It would be very helpful to move the `batchify.py` in GluonNLP (https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/data/batchify/batchify.py) and GluonCV (https://github.com/dmlc/gluon-cv/blob/master/gluoncv/data/batchify.py) to mxnet/gluon so that the mxnet-users can directly use these functionalities.

Also, we could fix the implementation to support both the multi-proces

[2019-11-09 03:20] knjwhn commented on #16749
Thanks a lot! my target machine caused some problem,I haven't solve it yet. Sorry I can't test it now, and I will show the performance after it fixed.

[2019-11-09 14:20] TomasBahnik commented on #15383
I am experiencing somehow similar issue on Windows with `mxnet 1.6.0b20190926`  (example from d2l book)
[code]

[2019-11-09 15:10] CynthiaProtector opened #16768 "Instructions on how to utilize the PushRowSparse function"
MXNet has designed both the _PushRowSparse_ and _PullRowSparse_ functions, while no related instructions are provided to show how to utilize these two functions. From file _kvstore_dist.h_ we know the strategy for distributed communication is chosen according to the storage_type. Therefore, how to initialize the **kvstore** is the key and is any information available? Besides, the _variables_ for

[2019-11-10 03:39] haojin2 commented on #15383
@stu1130 @xidulu

[2019-11-10 05:13] leezu commented on #16753
@alopez1327 can you link the relevant discussion. Maybe @marcoabreu can clarify how to use the Docker container build setup

[2019-11-10 09:37] xidulu commented on #15383
Cannot reproduce the error on ubuntu.

[2019-11-10 11:31] pengzhao-intel commented on #16749
What's your target machine?

[2019-11-10 14:46] sl1pkn07 commented on #10742
hi, ani notice of this?

greetings

[2019-11-10 15:47] yajiedesign commented on #16762
the all cuda arch make a too big image size.not use all arch,choose it with you gpu.

[2019-11-10 18:33] marcoabreu commented on #16753
We used to show build.py as preferred build method on the devices-installation-dialog, but now it seems like it's gone.

Generally, the script should also work locally since it's dockerize. Especially considering that we're actively running it in CI, the error seems worth investigating. One thing I'm thinking of is that we're not running into it due to our caching, but once our cache breaks, we'll

[2019-11-10 18:34] marcoabreu commented on #10742
Sorry, seems like I lost track of this issue. I currently don't have time to work on this issue, would you mind submitting a PR @sl1pkn07 ?

[2019-11-10 18:34] haojin2 opened #16770 "Flaky test: test_ops.test_convolution2d"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16720/6/pipeline/
[code]

[2019-11-10 19:05] sl1pkn07 commented on #10742
oh, no, you not. I.

seems fixed in https://github.com/apache/incubator-mxnet/pull/14562

closing

greetings and sorry the noise

[2019-11-10 19:05] #10742 closed

[2019-11-10 22:54] stu1130 commented on #15383
cannot reproduce the error on mac with 1.6.0b20190926
I will try it on windwos

[2019-11-11 02:36] Tommliu opened #16771 "Unravel_index operator missing the Boundary Check for the Input index"
## Description
The current unravel_index method under tensor operator didn't check whether the input index is
valid given the input shape.
### To Reproduce
![image](https://user-images.githubusercontent.com/40382964/68556864-e39f4100-046e-11ea-95a0-8a761436351b.png)

[2019-11-11 03:30] vexilligera commented on #16762
Thank you, that should work.

[2019-11-11 03:30] #16762 closed

[2019-11-11 04:10] PayneJoe commented on #2959
this error still happens, have you got it done? @lanking520 @everwind @zhangshiyu01

[2019-11-11 04:41] knjwhn commented on #16749
Ok,My target machine is ft1500a , and the linux has some error during booting process.and the error message is   CPU[1] Starting init: /etc/init exists but couldn't execute it (error -13)  and I've try some tips from google but not solved yet. anyone have ideas?

[2019-11-11 05:54] hzfan commented on #16704
Thank @ptrendx. I created a fix in #16773

[2019-11-11 07:23] 394781865 opened #16775 "building problems"
Makefile:559: recipe for target 'build/src/operator/numpy/random/np_uniform_op_gpu.o' failed
make: *** [build/src/operator/numpy/random/np_uniform_op_gpu.o] Error 1

what is the problem?my numpy version is 1.16.

[2019-11-11 07:53] reminisce commented on #16775
What's the error message? Did you start the build from a clean state?

[2019-11-11 08:38] reminisce opened #16776 "[Flaky] mx.np.linalg.inv"
[code]
@vexilligera

[2019-11-11 09:28] jiashu-zhu commented on #16656
I met this problem too, have you solved it?

[2019-11-11 11:02] vexilligera commented on #15383
Hi. I cannot reproduce the error with MXNet 1.6 built from source on Windows Server 2016.
[code]

[2019-11-11 11:04] TomasBahnik commented on #15383
On Ubuntu ubuntu-16 4 with `mxnet==1.6.0b20190915` the above code works well
[code]

[2019-11-11 11:14] TomasBahnik commented on #15383
OK. So this only issue on Windows 10 to be more precise.

[2019-11-11 11:16] vexilligera commented on #15383
You can try build from source.

[2019-11-11 19:25] samskalicky commented on #16775
@zachgk assign @reminisce

[2019-11-11 19:27] lanking520 commented on #16771
Hi @Tommliu That seemed to be a numpy problem since you import numpy as np.

[2019-11-11 19:28] samskalicky commented on #16765
@zachgk assign @ptrendx

[2019-11-11 19:30] lanking520 commented on #16751
@linven0721 Could you please share your code to run it? Currently we use `ResourceScope` to collect the memory effectively.

[2019-11-11 19:31] samskalicky commented on #16759
@mxnet-label-bot remove [Bug]

[2019-11-11 19:33] samskalicky commented on #16757
@anirudh2290 Can we make this a feature request and change title to "Improve InferTYpe ..." instead of a bug?

[2019-11-11 19:34] samskalicky commented on #16754
@zachgk assign @szha

[2019-11-11 19:35] samskalicky commented on #16753
@zachgk assign @larroy

[2019-11-11 19:36] samskalicky commented on #16752
@zachgk assign @szha

[2019-11-11 19:36] samskalicky commented on #16751
@zachgk assign @lanking520

[2019-11-11 19:37] samskalicky commented on #16743
@zachgk assign @sxjscience

[2019-11-11 19:38] samskalicky commented on #16741
@zachgk assign @larroy

[2019-11-11 19:39] samskalicky commented on #16736
@zachgk assign @szha

[2019-11-11 19:39] samskalicky commented on #16726
@mxnet-label-bot remove [Bug]

[2019-11-11 19:39] samskalicky commented on #16726
@mxnet-label-bot add [Question]

[2019-11-11 19:41] samskalicky commented on #16724
@zachgk assign @TEChopra1000

[2019-11-11 19:42] samskalicky commented on #16708
@zachgk assign @szha

[2019-11-11 19:44] sxjscience commented on #16708
@samskalicky Actually, @zhreshold is investigating this issue.

[2019-11-11 19:47] samskalicky commented on #16705
@zachgk assign @larroy

[2019-11-11 19:48] samskalicky commented on #16704
@zachgk assign @szha

[2019-11-11 19:50] samskalicky commented on #16702
@mxnet-label-bot remove [Bug]

[2019-11-11 19:50] samskalicky commented on #16702
@mxnet-label-bot add [Feature]

[2019-11-11 19:51] samskalicky commented on #16701
@zachgk assign @szha

[2019-11-11 19:53] samskalicky commented on #16686
@zachgk assign @szha
@eric-haibin-lin any ideas? similar to your divergence issues?

[2019-11-11 19:54] samskalicky commented on #16685
@mxnet-label-bot remove [Bug]

[2019-11-11 19:54] samskalicky commented on #16685
@mxnet-label-bot add [Feature request]

[2019-11-11 19:57] samskalicky commented on #16675
@zachgk assign @szha
@Jerryzcn @zhreshold is this a GluonCV issue?

[2019-11-11 19:59] samskalicky commented on #16674
@DickJC123 can this be closed now that #16671 is merged?
@zachgk assign @DickJC123

[2019-11-11 20:00] samskalicky commented on #16665
@mxnet-label-bot remove [Bug]

[2019-11-11 20:01] samskalicky commented on #16665
@mxnet-label-bot add [Question]

[2019-11-11 20:06] zhreshold commented on #16675
@larroy So are you fixing the version of GluonCV, only comparing the mxnet versions?

[2019-11-11 20:34] anirudh2290 commented on #16757
It's a bug

[2019-11-11 20:54] zachgk commented on #16753
@larroy Please comment if you want to take this issue.

[2019-11-11 20:55] samskalicky commented on #16708
@zhreshold any update on this issue? Can you assign this issue to yourself if you're looking into it?

[2019-11-11 20:56] zachgk commented on #16741
@larroy Please comment if you want to take this issue.

[2019-11-11 20:56] zachgk commented on #16724
@TEChopra1000 Please comment if you want to take this issue.

[2019-11-11 20:57] zachgk commented on #16705
@larroy Please comment if you want to take this issue.

[2019-11-11 21:19] larroy commented on #16675
@zhreshold comparing MXNet versions. I think we should add training tests to Gluon CV CI, at least run a quick test to see that the model trains. Where is gluon cv CI hosted?

[2019-11-11 21:56] zhreshold commented on #16708
At first glance it's related to implementation in contrib operator, however, when I dig into it, it's more complicated than I though, I am still investigating.

[2019-11-11 22:22] zhreshold commented on #16675
@larroy  CI for GluonCV is hosted separately alongside with GluonNLP, GluonTS for example.
So far we don't have nightly test and per-PR based training tests are too expensive.

[2019-11-11 22:43] larroy commented on #16675
I suggested to @Jerryzcn that training can be done for a few minutes to collect throughput and see that it works. You don't need to train a full model.

[2019-11-12 00:40] CanyonWind commented on #16424
I've tried the updates from the pull request, it works like a charm. Seems like the degraded quantization performance comes from the model precision itself and the large kernel dw conv.

Though I still have some questions about why and how these factors influence the quantization performance, they are not related to this issue anymore. Hi @ZhennanQin, I might throw some educational questions on th

[2019-11-12 00:40] #16424 closed

[2019-11-12 00:46] pengzhao-intel commented on #16424
Sure. You can send the mail to me (patric.zhao@intel.com) and I will add Zhennan in the loop.

[2019-11-12 00:53] CanyonWind commented on #16424
That would be great, thanks!

[2019-11-12 00:54] ptrendx commented on #16747
I created a PR with a fix. @leezu, could you validate it?

[2019-11-12 01:02] vexilligera commented on #16776
WIP #16782

[2019-11-12 01:46] Tommliu commented on #16771
Should the unravel_index function in Mxnet follow the numpy convention?  I think a boundary check is necessary when using the unravel function.

[2019-11-12 01:47] eric-haibin-lin commented on #16686
@samskalicky this issue is found when we debug the BERT divergence issue.

[2019-11-12 02:09] linven0721 commented on #16751
@lanking520 The code is the java example[PredictorExample.java]. I just added a for loop.
`NDArray img=...;
Predictor predictor=...;
for(;;){
     float[] result = predictor.predict(new float[][] {img.toArray});
}`
There is no memory leak in this code on the CPU, and there will be problems only when it runs on the GPU.
Do you still need me to provide specific running code?

[2019-11-12 02:24] xysong1201 commented on #4002
Same problem come to me when I'm looking at some codes writen in Mxnet but can't find the loss function. ( In face, there is several SoftmaxOutput in the codes)

[2019-11-12 04:29] tashaxing opened #16784 "mxnet official website http://mxnet.incubator.apache.org/get_started display error"
[http://mxnet.incubator.apache.org/get_started](http://mxnet.incubator.apache.org/get_started)

the mxnet official get started page is blank, I have tried chrome and safari browser, but it still displays blank page and show nothing

[2019-11-12 05:40] liuzhi136 commented on #16665
@zachgk @samskalicky @lanking520 The training scripts I used is just the tutorial script. It works on the older version of MXNet such as 1.4.0, but failed on the latest one. Does any have an idea why this happen?
There is a solution for parallel training is using the parallelable api of gluonnlp.utils.parallel. But it turns out this api always consumes additional memory on other GPU card even thou

[2019-11-12 06:54] BogdanovKirill commented on #11458
It seems that this problem is connected with:
https://github.com/apache/incubator-mxnet/issues/10948
I could say that when your program start another child process (any type of process, even something like "ps aux") in linux it could lead to hangs in
MXPredSetInput/MXPredGetOutput in another thread. Locking could help to avoid this bug.

[2019-11-12 06:56] BogdanovKirill commented on #11458
It seems that this issue is a serious bug, not question.

[2019-11-12 07:17] roywei opened #16785 "keras-mxnet training failed with FusedOP"
The following Keras-MXNet example break after FusedOP is introduced in mxnet https://github.com/apache/incubator-mxnet/pull/15167

https://github.com/awslabs/keras-apache-mxnet/blob/master/examples/cifar10_resnet.py

error:

[code]

Still working on why it failed and trying to reproduce using pure MXNet.

[2019-11-12 07:24] roywei commented on #16785
This is still failing after https://github.com/apache/incubator-mxnet/pull/16781

more stack trace:

[code]

[2019-11-12 07:24] roywei commented on #16785
cc @ptrendx

[2019-11-12 09:58] leezu commented on #16784
Could it be related to the Chinese firewall? Have you tried with a VPN?

[2019-11-12 10:04] sxjscience opened #16789 "[Numpy] Transpose does not support kAddTo and kNullOp"
https://github.com/apache/incubator-mxnet/blob/02f4f0503de60cce41989f1bb779ee8c7b943e4b/src/operator/numpy/np_matrix_op-inl.h#L122

Also, it does not support kNullOp, which has been supported in https://github.com/apache/incubator-mxnet/commit/56999399a44467cbd1d0fbdf9cbba8b46ac53956#diff-d5c9c7d539907caef01a08a74e16592b

[2019-11-12 15:06] JONGGON commented on #16752
my yolo code is here.!!
https://github.com/JONGGON/GLUON-Detector/tree/master/YoloV3_Detector

[2019-11-12 15:43] xidulu opened #16793 "[Numpy] [WIP] [RFC] Sample_n op for DeepNumpy"
## Description
Current design of DeepNumpy's random module follows native numpy in terms of the interpretation of the parameter `size`.
More specifically, `size` indicates the final output size of the sampling operation. Parameter tensors, if narrower or smaller than `size`, will be automatically broadcast to the output's shape.
However, this mechanism makes I.I.D sampling little bit tricky, for e

[2019-11-12 17:52] ptrendx commented on #16704
@hzfan @szha How can we test this fix without merging and waiting for the nightly tests?

[2019-11-12 18:07] #16747 closed

[2019-11-12 18:30] sxjscience commented on #16789
@leezu

[2019-11-12 18:49] samskalicky commented on #16752
@JONGGON did any of the suggestions from @sxjscience help?

[2019-11-12 19:01] JONGGON commented on #16752
@samskalicky  Hi sam

I think it's not a problem that can be solved by the methods @sxjscience suggests.

At present, we do not use hybridize mode
Hybridize only before calling net.export and extract json and param files.

[2019-11-12 19:28] JONGGON commented on #16752
error message is below !

  File "C:/Users/JG/Desktop/GLUON-Detector/YoloV3_Detector/main.py", line 163, in <module>
    plot_class_thresh=plot_class_thresh)
  File "C:\Users\JG\Desktop\GLUON-Detector\YoloV3_Detector\train.py", line 364, in run
    autograd.backward(scaled_loss)
  File "C:\ProgramData\Anaconda3\lib\site-packages\mxnet\autograd.py", line 267, in backward
    ctypes.c_void_p(0)))

[2019-11-12 19:40] roywei commented on #16785
setting MXNET_USE_FUSION=0 works. maybe we can disable it by default in MXNet before proper fix.

[2019-11-12 19:42] eric-haibin-lin opened #16795 "[RFC] Unified API for Distributed Data Parallel Training"
## Background
Data parallel training is the most common distributed training technique when it comes to multiple GPUs or multiple hosts. Currently, several communication backends provide functionalities for communicating tensors across devices/hosts for data parallel training. For MXNet users, there are a few options:
1. native kvstore
2. [p3 kvstore](https://www.sysml.cc/doc/2019/75.pdf)
3. [horo

[2019-11-12 19:50] apeforest commented on #16795
In the Limitation, I suppose you meant 'use case 1,3,4', right?

[2019-11-12 20:00] eric-haibin-lin commented on #16795
I did mean use case 2,3,4.
Initialization is done in the constructor `kv.__init__()`, and for horovod it could be simply a `hvd.init()` call.

I have not discussed problem 1 for too much details. horovod uses mpirun to setup connection and launch processes, while byteps/p3 and native kvstore currently use the `dmlc/launcher` script. I do see that `dmlc/launcher` has mpi support, but I need to play

[2019-11-12 20:54] goldmermaid commented on #16665
Hey @liuzhi136, can you point out which script from Dive into Deep Learning do you use? So we can reproduce the error.

[2019-11-12 22:16] lanking520 commented on #16751
Ok, sounds like you didn't have this:
https://github.com/apache/incubator-mxnet/blob/master/scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/imageclassifier/ImageClassifierExample.scala#L52-L68

[2019-11-12 23:34] ptrendx commented on #16765
Trading my assignment with @DickJC123 who is looking into this issue.

[2019-11-13 03:01] leezu commented on #16747
@ptrendx thanks for the fix. Just confirmed it works.

[2019-11-13 03:14] leezu opened #16799 "Python nightly build pipeline broken"
## Description
The nightly builds for Python are broken since a while.
There is no ticket tracking the issue yet.
This affects mainly the cuda builds.

### Error Message
For example,
https://pypi.org/project/mxnet-cu100/#history
https://pypi.org/project/mxnet-cu101/#history
misses many recent builds.

[2019-11-13 03:16] leezu commented on #16752
@JONGGON can you post a minimal example to reproduce the error? Thank you!

[2019-11-13 03:17] leezu commented on #16789
Let's consider backporting the fix to `mx.nd.Transpose`.

FYI @zburning

[2019-11-13 04:07] TEChopra1000 commented on #16724
@zachgk  I will take the issue.

[2019-11-13 04:53] DickJC123 commented on #16765
I'm able to reproduce the link error in the docker container mentioned above with the command:
[code]
I'll continue investigating the root cause.  FYI, the following command does not have a similar issue:
[code]

[2019-11-13 05:10] yajiedesign commented on #16799
some errors broke the build.At present, the error has been fixed, and the latest build is in progress. If there is no accident, it will be uploaded in a few hours

[2019-11-13 05:20] JONGGON commented on #16752
@leezu
ok,  I will take the time to create sample examples as soon as possible.

[2019-11-13 05:36] haojin2 commented on #10500
Added now in `mxnet.np`, closing

[2019-11-13 05:36] #10500 closed

[2019-11-13 05:36] linven0721 commented on #16751
@lanking520 It seems to work. Thank you very much

[2019-11-13 05:37] #16751 closed

[2019-11-13 05:37] haojin2 commented on #13001
Added in `mxnet.np` module now, closing.

[2019-11-13 05:37] #13001 closed

[2019-11-13 05:40] haojin2 commented on #15626
Fixed in new `mxnet.np` module now:
[code]
@fab-san

[2019-11-13 05:44] leezu commented on #16752
@JONGGON have you tried to move the `backward` inside the loop, similar to http://d2l.ai/chapter_computational-performance/multiple-gpus-gluon.html#multi-gpu-model-training

https://github.com/JONGGON/GLUON-Detector/blob/9e298f3d8c1a7498d7e6fddbd95be3d28fb7ed90/YoloV3_Detector/train.py#L364

[2019-11-13 05:47] leezu commented on #16795
Would it make sense to add optional support for sparse ndarrays and gradient compression in `AbstractKVStore`? You mentioned not all frameworks support it. Do you expect the API to change in the future?

[2019-11-13 05:51] haojin2 commented on #16527
@pedro-abundio-wang Seems like you're still using the pip package.
Are you using windows or linux?

[2019-11-13 06:28] JONGGON commented on #16752
@leezu
I did as you taught but reproduce the same error than I mentioned above..

[2019-11-13 07:09] vzhangmeng726 commented on #15348
@xianyujie   Do you find the code in the source code? thank you!!!

[2019-11-13 09:50] leezu opened #16802 "Python API Links broken"
## Description
https://mxnet.apache.org/api/python/docs/api/gluon/index.html links to https://mxnet.apache.org/api/python/docs/api/gluon/mxnet.gluon.Trainer.html instead of the correct https://mxnet.apache.org/api/python/docs/api/gluon/trainer.html

Same for many other API pages.

Therefore google still prefers linking to the beta.mxnet.io page.

[2019-11-13 13:14] ymzx opened #16803 "src/storage/./pooled_storage_manager.h:157: cudaMalloc failed: out of memory"
## Description
it will get cudaMalloc failed: out of memory when i run pixellink model which likes FCN structure.
![image](https://user-images.githubusercontent.com/29808550/68765782-8e268800-0658-11ea-988b-9ea3c33f87eb.png)
at first epoch, i can see the GPU memory usage is increasing, then, script is dead.
![image](https://user-images.githubusercontent.com/29808550/68766400-bf538800-0659-11ea-9c1

[2019-11-13 13:31] TaoLv commented on #15348
@xianyujie @vzhangmeng726 Try to force engine type to `NaiveEngine` here: https://github.com/apache/incubator-mxnet/blob/master/src/engine/engine.cc#L33

[2019-11-13 13:34] TaoLv commented on #16749
Looks like the error is not related to MXNet project and you already know how to run the experiments. So I'm closing this issue. Feel free to re-open if you meet any other problem with the integration.

[2019-11-13 13:34] #16749 closed

[2019-11-13 15:50] matteosal opened #16805 "About OpenMP dependencies"
Cc'ing @dszeto2

On Linux, when mxnet is built using just make, the library shows a dependency from `libiomp5`. When built through cmake, additional dependencies for `libomp` and `libgomp` show up. Can someone please explain this difference? What are the various omp dependencies needed for?

[2019-11-13 15:57] matteosal commented on #16471
@TaoLv we are trying to get ILP64 builds to work. Your comment is very unexpected for us, because we have regularly used mxnet builds with ILP64 in the past without any problem. Also, the same commit referenced in the issue builds and runs just fine with ILP64 on mac. The issue we're having is with linux only.

[2019-11-13 16:01] TaoLv commented on #16805
libiomp5 has been removed from master if you’re not using MKL BLAS. The problem of two omp runtimes in cmake build is discussed at the end of #11417.

[2019-11-13 18:08] matteosal commented on #16805
Ah ok thanks for the explanation, and sorry for not having checked existing issues

[2019-11-13 18:08] #16805 closed

[2019-11-13 18:46] stu1130 commented on #15383
@TomasBahnik I was able to reproduce the issue with mxnet 1.6.0b20190926 on windows. The pip wheel doesn't have COMMIT_HASH but I guess the codebase is not up-to-date. i.e. it didn't include #16204. I also tried mxnet-mkl 1.6.0b20191004 but no luck the error still exists. I would recommend to build from source before our pipline roll out new wheel.

[2019-11-13 18:55] Kh4L opened #16806 "Segfault in SetDepedency"
## Description
GluonCV Mask-RCNN training script segfaults in SetDepency when using `mrcnn_mask_target` op in symbolic mode (with the hybridized model).

`master`s  `mrcnn_mask_target`  op do not work but it is fixed it here https://github.com/apache/incubator-mxnet/pull/16673/files

### Error Message
[code]

## To Reproduce

### Steps to reproduce

1. Compile MXNet on this branch https://github.c

[2019-11-13 21:23] zhreshold commented on #16806
Can you minimize the reproduction code? For example, would a simple snippet like this reproduce segfault?

[code]

[2019-11-13 23:04] haojin2 commented on #16583
Solved in #16790, closing.

[2019-11-13 23:04] #16583 closed

[2019-11-14 01:12] zhreshold commented on #16708
Interestingly disable `use_p6` in FPN can fix the issue, I am still investigating what's the root cause.

[2019-11-14 01:43] TaoLv commented on #16471
Hi @matteosal I'm not sure I understand your question. Since you're trying to use ILP64, I guess your tensor size is > INT32_MAX. Recently, INT64 tensor size is supported by https://github.com/apache/incubator-mxnet/pull/14570 via a new compilation flag `USE_INT64_TENSOR_SIZE`. Have you ever tried this flag?

Even though this flag is set, the linkage of MKL BLAS in mshadow is still LP64 and the ge

[2019-11-14 01:44] zhreshold commented on #16708
As long as `ElementWiseSum` more than 4 elements, it cause `grad_req == add` to behave differently, it's still unknown whether it's the fault of `ElementWiseSum` or something else.

Minimum reproducable code without GluonCV, run with `python3 test.py --model debug --set-repeat 5` cause divergence while `python3 test.py --model debug --set-repeat 4` is ok.

[code]
[code]

Note that I am using empty

[2019-11-14 01:47] MoonBunnyZZZ opened #16808 "About ImageRecordIter source code"
## Description
Where is the source code of ImageRecordIter python API?I want to learn the detail of it.
It seems like that ImageRecordIter is a native C++ data iterators, no python code.

[2019-11-14 02:03] haojin2 commented on #9845
Occured again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16786/4/pipeline/294/

======================================================================

FAIL: test_ndarray.test_reduce

----------------------------------------------------------------------

Traceback (most recent call last):

  File "/usr/local/lib/python2.7/dist-packages/

[2019-11-14 02:05] TaoLv commented on #11417
Hi @cjolivier01, may I have your update?

[2019-11-14 02:40] cjolivier01 commented on #11417
Busy at my day job haven’t had time to mess with it yet. I don’t think static linking is blocked by this since the behavior would probably be the same.

[2019-11-14 02:51] TaoLv commented on #11417
Yes, static linking is not blocked - in fact it was merged just now. I'm pinging just because #16805 is also asking for that. :)

[2019-11-14 05:56] TsingWei opened #16809 "When build mxnet from source via cmake, if I set `USE_SSE` to `0`, target `mshadow` is still built with SSE option on."
## Description
When build mxnet from source via cmake, if I set `USE_SSE` to `0`, target `mshadow` is still built with SSE  option on.

### Error Message
[code]

## To Reproduce
Prepare s device without SSE support(for me it's TX2 which is  aarch) and run cmake with `USE_SSE` option off.

## What have you tried to solve it?

1. add `add_definitions(-DMSHADOW_USE_SSE=0)` after line 135 https://gith

[2019-11-14 07:37] #12795 closed

[2019-11-14 08:21] nickguletskii commented on #16708
@zhreshold I don't think that `ElementWiseSum` is at fault, because replacing it with the following function doesn't change anything for both examples:

[code]

[2019-11-14 12:41] WardvanderVelden opened #16812 "Error when generating mxnet-cpp/op.h"
I am trying to build the most barebones version of the C++ MXNet library (not using CUDA, CUDNN, OpenCV, just the OpenBLAS library). I am using Python 3.8.0 64 bit and Visual Studio 2019. I have no trouble configuring the build to use the latest version of Visual Studio but I run into trouble when building. The building successfully builds a debug and release version of libmxnet.dll but then fails

[2019-11-14 21:52] sxjscience opened #16815 "[TVMOP] Better error message/installation doc for TVM_OP"
I tried to install the master version of MXNet in an Ubuntu 18.04 machine (Deep Learning Base AMI Ubuntu 18.04) but ran into the following error:

[code]

I later find that the major cause is that I missed some dependencies of TVM (https://docs.tvm.ai/install/from_source.html). And installing the following packages will fix the problem:
[code]

[2019-11-14 22:04] anirudh2290 opened #16816 "Infer Type issue when dtype passed is None"
## Description
[code]

This will fail, because of this line : https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/symbol/symbol.py#L1006

Makes it inconsistent to the documentation which says :

[code]

https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/symbol/symbol.py#L896

Also, there is no way to pass unknown types to infer_type_partial because of this bug.

This

[2019-11-14 22:57] cjolivier01 commented on #11417
I no longer see it linking gomp with statis mkl:
[code]
Will try without mkl...

[2019-11-14 23:44] cjolivier01 commented on #11417
I no longer see gomp linked without mkl:
[code]

[2019-11-15 01:37] samskalicky commented on #16704
@ptrendx #16773  is merged, can you cherry pick into 1.6?

[2019-11-15 01:54] TaoLv commented on #11417
@cjolivier01 Could you please share the build command line for each?
@matteosal For your information.

[2019-11-15 01:56] DickJC123 commented on #16765
Finally figured out what's going on here.  The build of bin/im2rec via ld (as driven by g++) is failing because LDFLAGS is missing '-lcuda -lnvrtc'.  The Makefile will add these flags to LDFLAGS (as well as compile with MXNET_ENABLE_CUDA_RTC=1) if it sees ENABLE_CUDA_RTC set in config.mk .  The maven builds are using the flag USE_NVRTC (to no effect), while the pip builds were converted to using E

[2019-11-15 03:13] leezu commented on #7410
@haojin2 can you confirm this will be fixed as part of the numpy compatibility effort?

[2019-11-15 03:19] zburning commented on #7410
I think it could be better to warn users if they do not feed a seed. I'm training a model but it cannot converge until I feed the seed manually. It took me much time to check my code...

[2019-11-15 03:33] relaxli00 opened #16820 "c++ examples on deconvolution and upsampling"
Current C++ examples are mainly CNN related for image classification. None of them includes the deconvolution and/or upsampling processes which are used frequently in semantic segmentation etc. There is almost no MXNet C++ examples can be found on segmentation application. Gluon adopts Conv1D/2D/3DTranspose for the deconvolution and has different interfaces with C++ API. Due to the version evolvin

[2019-11-15 03:42] awcchungster opened #16821 "Pip package not up to date with latest build"
## Description
The latest successful night build is not accessible on pip.

### Error Message

[code]

## To Reproduce

[2019-11-15 04:12] leezu commented on #16821
Duplicate https://github.com/apache/incubator-mxnet/issues/16799

[2019-11-15 04:14] awcchungster commented on #16821
@leezu This is different. the build is successful, but the pip package isn't available.

[2019-11-15 04:16] leezu commented on #16821
It depends on your definition of "nightly build pipeline". I considered uploading to pypi as part of the pipeline. In either way, we can reopen this ticket

[2019-11-15 04:19] haojin2 commented on #7410
@leezu Have we all reached a consensus on what is the direction to go? If there's not even a clear goal yet then I cannot confirm that this will be changed in the 1.6.0 release.

[2019-11-15 04:36] ptrendx commented on #16704
Nightly tests did not run yet, are you sure it fixes the failures?

[2019-11-15 05:22] leezu commented on #16739
This also affects test_higher_order_grad.test_arccosh. I suppose they are both related, thus adding to this issue.

[code]

[2019-11-15 05:31] leezu commented on #7410
Would the consensus be already reached based on meta-consenus on numpy compatibility https://github.com/apache/incubator-mxnet/issues/14253?
This may rule out the idea of following JAX/scikit-learn and requesting explict seed (@junrushao1994).

[2019-11-15 06:04] junrushao1994 commented on #7410
@leezu Having an explicit random seed absolutely helps researchers in terms of reproducibility, as JAX did it, and scikit-learn allows you to provide a RandomState object. I didn't quite think deep on this yet, however. I think @szhengac and @sxjscience are much more familiar with this

[2019-11-15 06:11] cjolivier01 commented on #11417
same as before.

[2019-11-15 06:23] JonTanS opened #16822 "Trouble building Mxnet 1.6.x"
## Description
Failure when trying to build mxnet 1.6.x from source code.

### Error Message
In file included from /home/ubuntu/MXnet_perf/MXnet1.6/incubator-mxnet/3rdparty/mshadow/mshadow/tensor.h:16:0,
                 from include/mxnet/./base.h:33,
                 from include/mxnet/operator_util.h:43,
                 from src/operator/numpy/linalg/np_gesvd.cc:25:
/home/ubuntu/MXnet_perf/MXn

[2019-11-15 08:44] TsingWei commented on #16529
@larroy I tried build with tensorrt support by setting `USE_TENSORRT` to 1.
At first it cannot find some libs of onnx like `libonnx.so`, `libonnx_poroto.so`, etc,  just as list here:
https://github.com/apache/incubator-mxnet/blob/4a27b5c32b1f75f3101f4aeccbf186775aeb0151/CMakeLists.txt#L225-L236
Therfore, I built onnx manually first and I even modified its own `CMakelist` to generate the shared lib

[2019-11-15 09:33] leezu opened #16828 "Missing imports in python/mxnet/contrib/__init__.py"
## Description
`python/mxnet/contrib/__init__.py` does not `import amp`.

Thus users can't access `mxnet.contrib.amp` without running an additional `import mxnet.contrib.amp`.

## To Reproduce
`import mxnet; print(mxnet.contrib.amp)`.

## What have you tried to solve it?

Add the missing imports to `__init__.py`. (Like https://github.com/apache/incubator-mxnet/pull/16826/files). Observe the first

[2019-11-15 09:34] leezu commented on #16828
@ptrendx is there any special reason for not adding the import to `python/mxnet/contrib/__init__.py` besides above errors?

[2019-11-15 11:35] leezu opened #16830 "CI error in unix gpu test_quantization_gpu.test_quantized_conv"
more details

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-16810/runs/6/nodes/300/steps/700/log/?start=0
[code]

[2019-11-15 11:57] sxjscience commented on #7410
I suggest fixing the seeding issue in 1.6.1. Currently, MXNet is not consistently even if we fix the seed: https://github.com/apache/incubator-mxnet/pull/16605
https://github.com/apache/incubator-mxnet/pull/16532
https://github.com/apache/incubator-mxnet/issues/16705

Also, we should try to accelerate the performance of our default random number generator.

________________________________
From: L

[2019-11-15 14:41] leezu opened #16831 "[CI] Python2: CPU - hangs after test_create_np_param"
[code]

and so on until the job is stopped after 4 hours.

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-16810/runs/7/nodes/294/steps/806/log/?start=0

[2019-11-15 18:56] access2rohit commented on #16822
@ptrendx this will fail the pypi wheel build for v1.6.0. This needs to be investigated. Do you know anyone who has knowledge of mshadow and can look into the issue ?

[2019-11-15 19:09] calm0815 commented on #13785
@zachgk [Here](https://github.com/msracver/FCIS) is  the reason behind using commit `998378a`

[2019-11-15 19:22] access2rohit commented on #16822
@mxnet-label-bot add [Build]

[2019-11-15 19:42] larroy commented on #16529
@KellenSunderland is an expert on this part.

[2019-11-15 19:49] larroy commented on #11417
It has been discussed again and again, the best solution is to remove additional openmp libraries which break things when mixed up. Use the platform OpenMP implementation, remove the 3dparty one. It causes all kinds of issues:

https://github.com/apache/incubator-mxnet/issues/15690

There's all kinds of bugs that are related to openmp, thankfully we are releasing without this 3rdparty library bein

[2019-11-15 20:30] larroy commented on #16741
those flags with dash are in the else branch of the MSVC conditional, how can they be added to your build flags? Can you add a print in the cmakefile to make sure you are in the MSVC branch?  I agree these flags should not be present, something is wrong if they are.

Note that they are added in the else case:

[code]

[2019-11-15 21:35] nikudyshko commented on #16741
I've added ```message()```'es after ```if(MSVC)``` and ```else(MSVC)```. According to output, cmake goes through ```if```-branch (and this is how it should go, I suppose). As I mentioned, I've tried to replace every dash-style flags in every cmake-file in the source files folders, but that doesn't changed anything.

[2019-11-15 22:05] stu1130 opened #16833 "[Numpy] expands_dims cannot suport scalar"
build from source with codebase as of today

build flag:
[code]

[code]

[2019-11-15 22:31] haojin2 commented on #16822
Deep Learning AMI 25.0 has CUDA 10.0 installed, and `make/pip/pip_linux_cu101mkl` is trying to use cuda 10.1's path: https://github.com/apache/incubator-mxnet/blob/master/make/pip/pip_linux_cu101mkl.mk#L69. That's why the error message reads: `fatal error: cuda.h: No such file or directory` Please try again with `make/pip/pip_linux_cu100mkl.mk`

[2019-11-15 22:36] reminisce commented on #16833
@PatricZhao

[2019-11-15 22:40] nikudyshko commented on #16741
I guess, I've found a place, where error occurs.
In file ```CMakeLists.txt``` there are following lines:
[code]
In the file ```FirstClassLangCuda.cmake``` there are calls:
[code]
And that's where error appears. If I change ```-std=c++11``` to ```/std:c++14``` dection is successfull. (It looks like, that VS2015, VS2017 and VS2019 doesn't support ```/std:c++11```, that's why I used ```/std:c++14```

[2019-11-15 23:27] jonatan1626 commented on #16822
After doing:
`cp make/pip/pip_linux_cu100mkl.mk config.mk`
`make -j`

I still encounter the same error, should I try this on another instance or is there some other issue?

[2019-11-16 03:18] haojin2 commented on #15229
Also here:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16827/5/pipeline
Seems like a flaky one with a borderline tolerance value.
I'll submit a PR to bump up the tolerance by a little but.

[2019-11-16 03:38] wuxun-zhang commented on #16833
@stu1130 @reminisce Thanks for reporting this issue. I can reproduce this from my side. I just figured out the root cause, when input's ndim is 0, it should not execute MKL-DNN pass. Anyway, I will submit a PR to fix this issue soon. Sorry for any inconvenience. @pengzhao-intel

Also tested below input, and no error.
[code]

[2019-11-16 03:54] haojin2 commented on #16822
Firstly, I don't think you're doing it according to the recommended way: https://mxnet.apache.org/get_started/ubuntu_setup#build-mxnet-from-source.
Secondly, I'm not sure if there's any documentation on how the release builds are done, but seems like your way of doing it is definitely not how the wheels for releases are built.
Lastly, this config may not be designed to be used in this way. My intu

[2019-11-16 04:13] wuxun-zhang commented on #16833
@stu1130 PR#16837 is filed. Please help check if it fix this issue. Thanks.

[2019-11-16 04:26] cjolivier01 commented on #11417
Your opinion is noted again.

[2019-11-16 04:35] cjolivier01 commented on #11417
I don’t see any indication that it’s related to that issue, which is the case for most of the accusations — “any problem? blame OMP library”. there’s literally been not a single thing traced to a bug in openmp or some other problem with the library. they all turn out to be other bugs or are completely unrelated. Default mxnet build with Makefile used libomp5 (via mkl libraries) for years without i

[2019-11-16 06:57] marcoabreu commented on #11417
In accordance with the ppmc decision, I have cleaned up this conversation.

[2019-11-16 09:05] haojin2 opened #16839 "Flaky test: test_higher_order_grad.test_arctanh"
[code]

[2019-11-16 11:17] TsingWei commented on #16529
@larroy Thank u! I see something here in ci folder:
https://github.com/apache/incubator-mxnet/blob/017f6fa7996048cc429b02dac9369af6778811ec/ci/docker/runtime_functions.sh#L703-L762
I will try to update submodule and follow the steps here.

[2019-11-16 12:21] #16833 closed

[2019-11-16 17:58] access2rohit commented on #16822
@haojin2  `DEPS_PATH` is used when we are statically linking most of our dependencies(https://github.com/apache/incubator-mxnet/tree/master/tools/dependencies) in the wheel using https://github.com/apache/incubator-mxnet/blob/master/tools/staticbuild/build.sh and then building wheel using: https://github.com/apache/incubator-mxnet/blob/master/tools/pip/setup.py.

IMO If someone want to building fr

[2019-11-16 19:33] haojin2 commented on #16822
@access2rohit A thing "should" work only where it's designed to be working. Given the facts that we still seeing successful nightly builds including the GPU versions, I would consider those configs work on a properly set up machine. And, even the `build mxnet from source` link have steps on setting up your machine with required libraries, why would you then assume those config files "should" work

[2019-11-16 21:00] digantamisra98 opened #16841 "Feature Request- Add Mish Activation Function"
Mish is a new novel activation function proposed in this [paper](https://arxiv.org/abs/1908.08681).
It has shown promising results so far and has been adopted in several packages including:

- [TensorFlow-Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/activations)
- [SpaCy (Tok2Vec Layer)](https://github.com/explosion/spaCy)
- [Thinc - SpaCy's official NLP based ML libr

[2019-11-16 23:09] haojin2 commented on #11809
Happening again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16829/9/pipeline/
[code]

[2019-11-16 23:57] haojin2 opened #16842 "Flaky Test: test_operator_gpu.test_np_linalg_svd"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16800/7/pipeline
[code]

[2019-11-17 01:20] ChaiBapchya commented on #11809
Alright will bump it up then.

[2019-11-17 06:31] access2rohit commented on #16822
@haojin2 "even the build mxnet from source link have steps on setting up your machine with required libraries, why would you then assume those config files "should" work out-of-the-box on DL AMI 25.0 without you having to do anything extra?"

Fair Point! and +1 for the documentation. I just checked the nightly I has been restored since last 2 days for pip wheel are indeed building correctly.

[2019-11-17 06:55] #11809 closed

[2019-11-17 13:56] JONGGON commented on #16752
@samskalicky @leezu  Hi guys!!!

Finally solved.
anchor = F.identity (anchor)
offset = F.identity (offset)
stride = F.identity (stride)
When creating a model, copy it as an identity once.

How did i find out?
It's a little bit new, and I found out in the process of outputting the training model to onnx and importing the output onnx file.
 
The hybridblock doesn't seem to be perfect.

[2019-11-18 01:29] jonatan1626 opened #16845 "MXNet 1.6.0 performance regression"
## Description
I wanted to report an issue with the performance of mxnet 1.6.x when comparing it to the previous version, mxnet 1.5.x

p2.16xlarge |   |   |   |   |   |   |   |  
-- | -- | -- | -- | -- | -- | -- | -- | --
MXnet Version | Model | Num GPU | avg_speed | min_speed | max_speed | avg_gpu_memory | min_gpu_memory | max_gpu_memory
mxnet1.5 | resnet101_v1 | num_gpu_1 | 279.82 | 271.97 | 285

[2019-11-18 01:35] jonatan1626 commented on #15589
Hi I was doing some testing for mxnet 1.6.x and 1.5.1 and I noticed some performance issues in training you can find more details here: [16845](https://github.com/apache/incubator-mxnet/issues/16845)

[2019-11-18 01:41] pengzhao-intel commented on #16845
Thanks for the validation. Do you have a chance to try CPU?

[2019-11-18 01:55] jonatan1626 commented on #16845
Hey @pengzhao-intel, I tested training on GPU and inference on CPU. For inference, the times came very close to each other so I did not see any noticeable regression there!

[2019-11-18 01:56] pengzhao-intel commented on #16845
Really thanks for your efforts. It's great to hear this :)
Feel free to ping me if anything our team can help :)

[2019-11-18 02:10] chinakook commented on #16845
Use this script to build your own MXNet ```https://github.com/apache/incubator-mxnet/blob/master/tools/staticbuild/build.sh```, this script will download all dependencies and build them.
If you have a very new Linux distro, e.g. Ubuntu 19.04/19.10 or Arch Linux, You can simply build by Makefile and ```make/config.mk``` becuase the system have the latest dependencies to support the performance of M

[2019-11-18 05:27] tashaxing commented on #16784
No, I have tried VPN, but it is still the same
The problem is that the web page header and footer could be normally displayed, just the center content of how to install or get started not displayed well --- totally blank

[2019-11-18 05:30] leezu commented on #16784
Maybe you are blocking Javascript?

[2019-11-18 07:06] leezu commented on #7410
Which of above options would you recommend?
Also, changing the default seeding behavior in 1.6.1 point release will break our backwards compatibility promise. We may need to make this change in a proper release.

[2019-11-18 07:17] KellenSunderland commented on #16845
Seems like a significant drop.  The p3 resnet152_v1 test should be fairly easy to reproduce.  Has anyone else had a chance to verify this regression?

[2019-11-18 07:48] haojin2 commented on #16770
Happening again at: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16786/10/pipeline/362
[code]

[2019-11-18 08:10] sxjscience commented on #7410
We can fix the dropout consistency issue in 1.6.1. In 1.7, we can support configuration files in MXNet and create some common config files, e.g, configuration that guarantees consistent random number generator.
________________________________
From: Leonard Lausen <notifications@github.com>
Sent: Sunday, November 17, 2019 11:07:25 PM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>

[2019-11-18 08:24] atiqsayyed commented on #16620
@sshearn  can you share the code snippet, i was dealing with a similar problem. I might be able to quickly look and try to help if there's anything i could do.
1. What's your input dimension
2. full example and model

[2019-11-18 10:39] B5paper commented on #9271
+1. win7 + python3.7 + miniconda + pip + mxnet-cu92==1.5.0

[2019-11-18 14:01] sshearn commented on #16620
Here's the code for the attached model (it's the same as above but the shape is slightly different):

`List<Context> context = new ArrayList<>();
List<DataDesc> inputDesc = new ArrayList<>();

inputDesc.add(new DataDesc("data",
        new Shape(new int[]{1, 0, 1, 6637}),
        DType.Float32(),
        Layout.NCHW()));

context.add(Context.cpu());

Predictor predictor = new Predictor("/tmp/model

[2019-11-18 17:32] ptrendx commented on #16845
I will look into this today and see if I can repro it.

[2019-11-18 18:19] lanking520 commented on #16809
@szha

[2019-11-18 18:48] jonatan1626 commented on #16845
@KellenSunderland So I noticed that the instances I was running on have CUDA 10.0 so I assumed that when running it would default to that version even though mxnet_cu101 was installed. I will rerun the tests with all the instances running on cu100 because I'm having issues building cu101mkl.

[2019-11-18 19:31] samskalicky commented on #16828
@lanking520 assign @samskalicky

[2019-11-18 19:32] samskalicky commented on #16816
@lanking520 assign @anirudh2290

[2019-11-18 19:33] samskalicky commented on #16806
@lanking520 assign @zhreshold

[2019-11-18 19:36] samskalicky commented on #16803
@lanking520 assign @access2rohit

[2019-11-18 19:36] samskalicky commented on #16802
@lanking520 assign @TEChopra1000

[2019-11-18 19:37] samskalicky commented on #16799
@lanking520 assign @vrakesh

[2019-11-18 19:38] samskalicky commented on #16789
@lanking520 assign @ChaiBapchya

[2019-11-18 19:41] samskalicky commented on #16741
@lanking520 assign @larroy

[2019-11-18 19:41] larroy commented on #16753
I'm quite short with time but I can try to chime in.

[2019-11-18 19:41] access2rohit commented on #16803
@ymzx can you share reproductions steps and scripts instead of screenshot

[2019-11-18 19:41] larroy commented on #16705
Hi

[2019-11-18 19:42] samskalicky commented on #16661
@mxnet-label-bot remove [Bug]

[2019-11-18 19:43] samskalicky commented on #16661
@mxnet-label-bot add [Question]

[2019-11-18 19:45] samskalicky commented on #16661
@zhreshold any idea?

Heres an example:
https://discuss.gluon.ai/t/topic/7951

[2019-11-18 19:46] samskalicky commented on #16656
@IMJerryChen can you please post steps to reproduce the seg fault?

[2019-11-18 19:46] samskalicky commented on #16653
@lanking520 assign @reminisce

[2019-11-18 19:47] samskalicky commented on #16647
@lanking520 assign @szha

[2019-11-18 19:48] samskalicky commented on #16633
@lanking520 assign @TEChopra1000
@mxnet-label-bot remove [Bug]

[2019-11-18 19:49] samskalicky commented on #16620
@lanking520 assign @lanking520

[2019-11-18 19:50] samskalicky commented on #16604
@lanking520 assign @zixuanweeei
Any update on this?

[2019-11-18 19:51] samskalicky commented on #16600
@lanking520 assign @larroy
Pedro please add this to the backlog for CI enhancements to download dependencies in advance and cache

[2019-11-18 19:54] samskalicky commented on #16591
@lanking520 assign @anirudh2290
Anirudh please triage and re-assign if appropriate

[2019-11-18 19:55] samskalicky commented on #16590
@lanking520 assign @oorqueda

[2019-11-18 19:56] samskalicky commented on #16560
@lanking520 assign @ChaiBapchya

[2019-11-18 19:57] samskalicky commented on #16548
@lanking520 assign @apeforest
@zixuanweeei any update on this issue?

[2019-11-18 20:00] samskalicky commented on #16499
@lanking520 assign @larroy
Pedro, please add to the backlog for CI enhancements to build the docker containers

[2019-11-18 21:40] ivansmith7795 commented on #15181
That makes 3, is there any manual work around for this?

[2019-11-18 21:53] haojin2 commented on #16475
#16436 merged with atol bumped up, not seeing any new reports thus closing the issue now.

[2019-11-18 21:53] #16475 closed

[2019-11-18 21:58] larroy commented on #16499
ok

[2019-11-18 22:51] roywei commented on #16604
suggest to use workaround provided in issue for now, proper fix depends on fix on dropout operator randomness on both CPU and GPU, which will take longer time.

[2019-11-18 23:25] vrakesh commented on #16799
I will look into this

[2019-11-19 00:17] haojin2 commented on #16101
#16829 merged, closing the PR.

[2019-11-19 00:17] #16101 closed

[2019-11-19 00:19] haojin2 commented on #15626
due to the in-activity, closing the issue due to fixed in `mxnet.np`

[2019-11-19 00:19] #15626 closed

[2019-11-19 00:52] zixuanweeei commented on #16548
I just moved the unit test for rnn_relu to its original look due to the urgency of transition to mkldnn-v1.0.  I have tested it on local. Some flakiness appeared with this unit test. It may pass sometimes. I am mot familiar with the GPU platform so that it needs others from their expertise.

[2019-11-19 00:57] haojin2 commented on #13563
Closing the issue since it's been fixed, also in the new `mxnet.np` module:
[code]

[2019-11-19 00:57] #13563 closed

[2019-11-19 01:05] ptrendx commented on #16845
Ok, so I looked into it and I can kind of see 1.6 being slower, but on the other hand this script is really not a great way of testing performance of the GPU training. Because the kernels are tiny, it is actually dominated by gaps in execution while CPU is trying to launch the kernels (and the line to run it you gave does not even use hybridization to offset it in any way, enabling hybridization i

[2019-11-19 01:06] ptrendx commented on #16845
@apeforest Could somebody do a bisection when this got introduced?

[2019-11-19 01:07] samskalicky commented on #16828
Work around is to do:

[code]

[2019-11-19 01:08] pengzhao-intel commented on #16830
@xinyu-intel could you help take a look ?

[2019-11-19 01:54] leezu opened #16848 "Flaky test_np_mixed_precision_binary_funcs"
Flaky test on Unix and Windows in 1.6.0 branch.

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16846/2/pipeline/

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16846/2/pipeline

[2019-11-19 05:05] haojin2 commented on #16842
Not a flaky test, closing now.

[2019-11-19 05:05] #16842 closed

[2019-11-19 05:19] apeforest commented on #16845
@jonatan1626 is currently running the experiments again on multiple machines. Earlier he was running them on the same instance and we suspect there might be some performance interfering between runs.

[2019-11-19 05:59] xidulu commented on #7410
*FYI*:
JAX's RNG design aims for **backend-independent reproducibility** and random samplers without side-effect (for the puorpose of parallelization).
https://github.com/google/jax/blob/master/design_notes/prng.md

Also, JAX requires explicit RNG key for all operators with randomness.
For example, parameter initilization
https://github.com/google/jax/blob/9198656055d7d0d3cbb3ebfd6c0979572cc50924/

[2019-11-19 07:14] stu1130 opened #16850 "[Numpy] expand_dims throws delay_alloc error"
MXNet version: pip install mxnet-mkl --pre as of today
[code]

[2019-11-19 07:41] reminisce commented on #16850
`ExpandDimEx` needs to skip zero-size cases. I will send in a PR for the fix.

[2019-11-19 07:50] TaoLv commented on #16850
MKL-DNN path has been fixed by https://github.com/apache/incubator-mxnet/pull/16837.

[2019-11-19 07:52] haojin2 commented on #16357
Issues with `np.transpose` and  `np.split` are fixed, removing those parts from the issue.

[2019-11-19 07:56] reminisce commented on #16850
@TaoLv #16837 only deals with zero-dim case, while here it's zero-size which is different.

[2019-11-19 08:04] TaoLv commented on #16850
Thank you for clarifying @reminisce . Let me know if anything I can help.

[2019-11-19 08:07] wuxun-zhang commented on #16848
Got the same error from another PR.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-16847/3/pipeline

[2019-11-19 08:59] leezu opened #16851 "broadcast_like requires inputs to have same dtype"
## Description
`broadcast_like` "Broadcasts lhs to have the same shape as rhs."
Thus only the shape information of lhs and rhs array should matter.
However, it also asserts that the dtypes are equal.

### Error Message
[code]

## To Reproduce
`mx.nd.broadcast_like(mx.nd.ones((1,)), mx.nd.arange(10, dtype=int))`

[2019-11-19 09:01] leezu commented on #16851
`mx.np.broadcast_arrays(mx.np.ones((1,)), mx.np.arange(10, dtype=int))` works correctly.

[2019-11-19 09:03] leezu commented on #16851
The reason that this bug is important: When writing a HybridBlock, the dtype of some input array depends on the user. But some other internally used array may have a fixed dtype that could be unequal of the input dtype.
Workaround is to add an extra cast prior to broadcast_like.

[2019-11-19 09:27] xinyu-intel commented on #11417
@cjolivier01 Hi, I also encounter this issue:(

[code]

[code]

[2019-11-19 10:50] hubutui opened #16852 "Could not build with CUDA_ARCH_LIST=Common"
## Description
I could not build with `CUDA_ARCH_LIST=Common` on ArchLinux.
### Error Message
[mxnet-git.log](https://github.com/apache/incubator-mxnet/files/3863306/mxnet-git.log)

## To Reproduce
[code]

## Environment info
Same as https://github.com/apache/incubator-mxnet/issues/15263#issue-457222298

## What have you tried to solve it?

1. It's OK to build with `CUDA_ARCH_LIST=Pascal`
2. I try

[2019-11-19 12:05] zixuanweeei commented on #16604
Is there any issue or proposal tracking the problem among the randomness of the dropout operator. It would be highly appreciated if you could provide some information for us. And what is the challenge in fixing the randomness? Thanks. @roywei

[2019-11-19 13:21] haozeze commented on #16775
@394781865  have you sovled this problem?    I got the same one

[2019-11-19 15:16] haozeze opened #16853 "wrong when Build MXNet with cmake"
## Description
i am using cmake to build the mxnet

### Error Message
(Paste the complete error message, including stack trace.)
 /usr/local/bin/cmake -S/home/zeze/mxnet -B/home/zeze/mxnet/build
-- CMAKE_CROSSCOMPILING FALSE
-- CMAKE_HOST_SYSTEM_PROCESSOR x86_64
-- CMAKE_SYSTEM_PROCESSOR x86_64
-- CMAKE_SYSTEM_NAME Linux
-- CMake version '3.15.4' using generator 'Ninja'
-- Determining F16C support

[2019-11-19 15:23] roywei commented on #16604
@zixuanweeei  the problems are discussed in this PR: https://github.com/apache/incubator-mxnet/pull/16532 and this issue: https://github.com/apache/incubator-mxnet/issues/16705

the problem is mainly on GPU when we call `CUDNN_CALL(cudnnSetDropoutDescriptor)`, every time we call ` mx.random.seed(x)`, we need to figure out a way to clear dropout states on GPU and call `cudnnSetDropoutDescriptor` ag

[2019-11-19 15:32] roywei commented on #16604
On second though, maybe I can fix rnn on CPU first, I will leave GPU logic the same

[2019-11-19 16:09] cjolivier01 commented on #11417
what version of gcc?

On Tue, Nov 19, 2019 at 1:29 AM Xinyu Chen <notifications@github.com> wrote:

[2019-11-19 16:10] cjolivier01 commented on #11417
oh ok 4.8.5

On Tue, Nov 19, 2019 at 8:09 AM Chris Olivier <cjolivier01@gmail.com> wrote:

[2019-11-19 18:05] ptrendx commented on #16704
Fix merged to both master and 1.6, closing.

[2019-11-19 18:05] #16704 closed

[2019-11-19 18:06] ptrendx commented on #16559
@reminisce Is there any update to the status of those issues?

[2019-11-19 18:23] sxjscience opened #16855 "[Numpy] The argument parser of some operators cannot parse numpy integers or mx.numpy integers correctly."
[code]
Error:
[code]
The reason is that we are testing against the python int here:
https://github.com/apache/incubator-mxnet/blob/4f14bf4fe51b586f86a1e7bd38b8282997e6ffbb/python/mxnet/ndarray/numpy/_op.py#L2733

One way to solve the problem is to see if the indices_or_sections belongs to integer_types:
https://github.com/apache/incubator-mxnet/blob/4f14bf4fe51b586f86a1e7bd38b8282997e6ffbb/python/

[2019-11-19 18:28] sxjscience commented on #16855
I'll partially solve the problem for the split/hsplit/vsplit operators by using `integer_types` in https://github.com/apache/incubator-mxnet/pull/16621. However, we need a way to support mxnet numpy scalars.

[2019-11-19 18:48] sxjscience commented on #16855
After discussion with @junrushao1994, we can try to convert the input to python int first. Also, in JAX and numpy, it supports float32 inputs and automatically detects the float case.

[code]

[code]

[2019-11-19 20:45] reminisce commented on #16559
@ptrendx All issues should have been fixed by @haojin2. Thanks.

[2019-11-19 20:53] cjolivier01 commented on #11417
What version of cmake?

[2019-11-19 22:36] ptrendx commented on #16559
Ok, if those issues are fixed could you close this then?

[2019-11-20 00:45] eric-haibin-lin opened #16858 "Cannot load trainer with AMP"
test.py:
[code]

fp16_utils.py
[code]
error message:
[code]

[2019-11-20 01:15] xinyu-intel commented on #11417
cmake2, i'll check cmake3 later:)

[2019-11-20 01:16] cjolivier01 commented on #11417
what’s actual version? i’ll build on my machine

[2019-11-20 01:20] xinyu-intel commented on #11417
(base) [chenxiny@mlt2-clx093 ~]$ cmake --version
cmake version 2.8.12.2

[2019-11-20 01:22] xinyu-intel commented on #11417
@cjolivier01 typo, i actually use yao's command line in this issue:
[code]
[code]

[2019-11-20 01:38] TEChopra1000 commented on #16724
@stereomatchingkiss would you please point me to the page you were on when you found the broken link?

[2019-11-20 02:10] #16850 closed

[2019-11-20 02:56] gray2bgr commented on #16210
I got the same error "KeyError: 'concat1'", how can you solve it

[2019-11-20 03:36] #16616 closed

[2019-11-20 04:37] #16853 closed

[2019-11-20 05:06] pengzhao-intel commented on #15294
the static link is used in master so I think the problem is fixed, closing.

[2019-11-20 05:06] #15294 closed

[2019-11-20 05:06] pengzhao-intel commented on #15294
https://github.com/apache/incubator-mxnet/pull/16731

[2019-11-20 05:09] pengzhao-intel commented on #15032
fixed and closing

[2019-11-20 05:09] #15032 closed

[2019-11-20 05:10] pengzhao-intel commented on #14979
closing since we remove the MKL dependency.

[2019-11-20 05:12] pengzhao-intel commented on #16113
closing since we don't see the issue for a long time.
Feel free to reopen.

[2019-11-20 05:12] #16113 closed

[2019-11-20 05:14] #13221 closed

[2019-11-20 05:41] zburning opened #16863 "PearsonCorrelation doesn't support micro"
## Description
Currently, mxnet.metric.PearsonCorrelation() does not support micro, which is necessary during evaluation.
It's quite straight forward, and I would like to add it then.

## References
- list reference and related literature
- list known implementations

[2019-11-20 05:50] zeakey commented on #7375
I face the same problem.
I think the situation @regzhuce mentioned can be abstrated as: mannually assign weights to the loss of different samples.

In the `mxnet.sym` API about the SoftmaxOutput <http://beta.mxnet.io/r/api/mx.symbol.SoftmaxOutput.html>, I cannot find a proper solution.

I have to implement this idea in the symbolic API.

[2019-11-20 05:55] zixuanweeei commented on #16604
Thanks for the elaboration. Besides, there are also some problems sharing the same seed among multi-GPU, right? I agree with you that we can fix rnn on CPU first :slightly_smiling_face:.

[2019-11-20 05:56] pengzhao-intel opened #16864 "[Discussion] 1.7.0 Roadmap"
Let's start a discussion here about the roadmap towards 1.7.0. We are looking for:

New features that are useful to your research and development.
Improvements and patches to existing features.
If you have any item that you'd like to propose to have in the roadmap, please do:

Create (or locate existing) issue/pull request for the item, note the issue/pull request number.
Comment in this issue: 1)

[2019-11-20 06:02] pengzhao-intel commented on #16864
For MKLDNN backend

-  Propose MKLDNN as the default CPU binary

 https://lists.apache.org/thread.html/1a22dbd79098adab6d02d16e8d607bae2acc908c0bb1b085d28a51ba@%3Cdev.mxnet.apache.org%3E

- AMP to support bfloat16 training

[2019-11-20 06:42] sxjscience commented on #16845
Is the performance worse if we turned on hybridization?

[2019-11-20 06:44] leezu commented on #16863
Thanks @zburning. I think this is a grave problem and the lack of current 'micro' support should be considered a bug.

[2019-11-20 07:18] pango99 opened #16867 "Question about using the handle returned by MXPredReshape"
Hi, I'm using mxnet C API and ArcFace model to do face feature encoding, I found the API MXPredReshape() can change the input shape of net,and return a new predictor handle with the new shape,so after call the api,how about the old predictor handle with old shape? Can I use the old handle continually?

I had do a test and found the old & new handle all can be used,but I'm not sure what I do is rig

[2019-11-20 07:24] #16785 closed

[2019-11-20 07:37] atiqsayyed commented on #16864
For Scala 2.12 release

- https://github.com/apache/incubator-mxnet/issues/16438
- with growing scala community, the current version for most of the system is 2.13 and existing mxnet release contains only 2.11,  It'll be very helpful to have releases with the latest 2.12 and 2.13 versions.

I needed this feature so i locally build 2.12 version, I want to help with this issue but I need some guidan

[2019-11-20 07:52] leezu commented on #16864
@atiqsayyed this may be feasible for MXNet 1.6 release if you are willing to work on it. You can comment in #16438 and ping some yzhliu, nswamy or pllarroy for guidance (listed as codeowner https://github.com/apache/incubator-mxnet/blob/61c8bafdcfee129e4f7a491438a2402e6762ddd9/CODEOWNERS#L16)

[2019-11-20 08:23] xidulu opened #16868 "[Numpy] Infrastructure for implementing constraint check"
## Description

Checking the validity of parameters is crucial many operators, especially in distribution related Ops. (see references for the implementations of torch and tensorflow)

I implement an operator called `npx.constraint_check`, which takes a boolean tensor and an error message as input and then checks if all the elements are true, if not, raises exception with given message. It will re

[2019-11-20 08:28] xidulu commented on #16868
@sxjscience Any suggestions?

[2019-11-20 08:43] leezu commented on #16868
@xidulu suggest we can add https://www.tensorflow.org/api_docs/python/tf/control_dependencies

[2019-11-20 09:19] apeforest commented on #16845
@jonatan1626 Could you please update your latest performance comparison result here?

[2019-11-20 10:28] liuzh91 opened #16869 "Cannot manipulate gradients during training in estimator"
**Description**
In current estimator framework, api fit_batch() forward the training batch through the network, compute the loss and gradients and update network parameters with gradients. The default
fit_batch() function is shown as below:

[code]
The problem is in some use cases like gradient accumulation, users may not update gradient at each batch. They apply gradients on network parameters pe

[2019-11-20 12:38] leezu commented on #16869
Thanks @liuzh91 for raising the issue. I agree the current `fit_batch` is not sufficient to suppose the use-case.

What do you mean with "handlers are not supposed to apply gradients on network parameters"?

If we allow handlers to apply gradient to network parameter, an alternative solution to your problem could be to remove the `trainer.step` from the current `def fit_batch` implementation and i

[2019-11-20 13:38] atiqsayyed commented on #16438
@yzhliu  @nswamy
I've  locally build 2.12 version, I want to help with this issue but I need some guidance about the current build package and how to go ahead with it.
Could you guys please guide me as to how can i start on this??

[2019-11-20 14:27] atiqsayyed commented on #16620
@sshearn Can you try following example, though in scala you should be able to make this work. LAYOUT and Shape needs to be changed i guess..

`object PredictExample extends App {

  val modelPathPrefix = "/Users/atsayyed/Downloads/model/model"
  val dType = DType.Float32
  val shape = Shape(1, 6637)

  val predictor = new Predictor(modelPathPrefix,
    IndexedSeq(DataDesc("data", shape, dType, "NT

[2019-11-20 14:48] cjolivier01 commented on #16864
XLA or MLIR graph support. Basically generate XLA-compiler-consumable network graph protobuf similar to pytorch’s approach. This actually isn’t a huge undertaking and will add a lot of value to mxnet imho, making it usable for other custom hardware as only an incremental approach from other XLA-compatible platforms such as pytorch and tensorflow.

[2019-11-20 15:40] sshearn commented on #16620
I tried that and got:

[code]

[2019-11-20 16:05] atiqsayyed commented on #16620
could you share your updated code with input file ?? also the complete logs??

[2019-11-20 16:07] sshearn commented on #16620
It's the same model. And the code is only Slightly different:

`
        List<Context> context = new ArrayList<>();
        List<DataDesc> inputDesc = new ArrayList<>();

        inputDesc.add(new DataDesc("data",
                new Shape(new int[]{1, 6637}),
                DType.Float32(),
                Layout.NT()));

        context.add(Context.cpu());

        Predictor predictor = new Pre

[2019-11-20 17:38] jonatan1626 commented on #16845
Here are the results. ptrendx was correct with the cifar10 dataset being too small for testing for the gpu. It doesn't look like there is a regression between the two versions!

Running Imagenet training on the GPUs with mxnet-cu100:

MXnet   Version | Model | Num GPU | Average Seconds per Epoch | Minimum Seconds per Epoch | Maximum Seconds per Epoch | Average Samples per Second | Minimum Samples

[2019-11-20 17:39] jonatan1626 commented on #16845
Running CIFAR10 training on the cpus with mxnet-cu100 (Note: I just set the number of gpus to 0 for the script):

MXnet   Version | Model | Num GPU | Average Seconds per Epoch | Minimum Seconds per Epoch | Maximum Seconds per Epoch
-- | -- | -- | -- | -- | --
mxnet1.5_cpu | resnet101_v1 | 0.00 | 2079.77 | 2061.01 | 2087.01
mxnet1.6_cpu | resnet101_v1 | 0.00 | 1337.37 | 1311.35 | 1366.60
mxnet1.6_c

[2019-11-20 17:44] ptrendx commented on #16845
Hi @jonatan1626, out of curiosity, what does the "_LT" stand for (e.g. in "mxnet1.6_gpu_LT")?

[2019-11-20 17:52] jonatan1626 commented on #16845
@ptrendx LT means Large Tensor

[2019-11-20 19:19] apeforest commented on #16845
@jonatan1626 Thanks for the update. Can you also share the results for the other a few models? If there is no performance regression for 1.6 release, I think we can close this issue.

[2019-11-20 20:54] sxjscience commented on #16845
Also, would you share the benchmark script?

[2019-11-20 22:01] DickJC123 commented on #16831
I have also seen a CI hang on a numpy test with the Python2 CI runner:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16838/6/pipeline

The last test to add to the above log was test_numpy_op.py:test_numpy_reshape.  The next test would have been test_numpy_resize.  Have any of the developers of the new numpy facility seen hangs on numpy test

[2019-11-20 22:18] dusigh commented on #13949
I too have run into the same issue. Hoping the fix can be released ASAP.

[2019-11-20 22:19] jonatan1626 commented on #16845
@sxjscience Apologies I forgot to mention I am now using this script for imagenet:
[train_imagenet.py](https://gluon-cv.mxnet.io/_downloads/6ecf3a8b8036c8af2c65a18f473f1acb/train_imagenet.py)
The examples can be found at this [Gluon Site](https://gluon-cv.mxnet.io/model_zoo/classification.html)

[2019-11-20 22:20] haojin2 commented on #16848
Seems like those are both failing on a combination of `rtol=1e-2` and `atol=1e-4`, the latest master has `atol=1e-3` and the same `rtol`. I think I'll submit a PR to `v1.6.x` to sync this.

[2019-11-20 22:25] zachgk commented on #16438
@atiqsayyed If you want to start on this, we mostly need to update the scala maven build. Right now, we have a profile "scala-2.11". We would want to create a similar profile for scala-2.12 to switch between the versions. We should move the scala.version and scala.binary.version properties into those profiles as well so it can be changed. Then, see if it can actually build both versions.

[2019-11-20 22:29] jonatan1626 commented on #16845
@apeforest These are the results for the other model runs. These runs were done using cu101-mkl running on p3x16 machines with Cuda 10.0. These runs were run sequentially, so I think the memory issue that you mentioned might be a reason why 1.6.x numbers are slightly slower. I will rerun these tests again to revalidate.

MXnet Version | Model | Num GPU | avg_speed | min_speed | max_speed | avg_sam

[2019-11-20 23:33] larroy commented on #16741
@nikudyshko so in windows we don't need to supply the flag? Can we test for C++ standard iwith CMake in windows? What do you suggest to fix?

[2019-11-21 00:29] reminisce commented on #16831
It's probably due to too many logging messages dumped in the unit test. This problem has been fixed in the master branch. Could you rebase your PRs to reduce test time?

[2019-11-21 00:55] pengzhao-intel commented on #16864
Really good suggestion!  Our team is working on the XLA/TVM supports for MXNet but it's still in the early stage and I am not sure we can catch up 1.7.

I will update our progress in the community :)

[2019-11-21 00:57] pengzhao-intel commented on #16845
Could you run CPU benchmark with mxnet-mkl?

[2019-11-21 00:59] haojin2 opened #16875 "Flaky: test_fusion.test_fusion"
Flaky test on 1.6.x branch: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16873/1/pipeline
[code]

[2019-11-21 01:17] liuzhi136 commented on #16665
@goldmermaid here is the website: https://www.d2l.ai/chapter_computational-performance/multiple-gpus-gluon.html. This error occurs in **train(num_gpus, batch_size, lr)** function.

[2019-11-21 01:25] samskalicky commented on #16665
@liuzhi136 its possible that this means that its using too much memory for your system. can you try with a smaller batch size? Im testing this out as well and finding that since 1.4.1 memory usage has gone up.

[2019-11-21 02:12] cjolivier01 commented on #16864
What sort of ETA were you thinking for XLA support? 1.7.1? :D

[2019-11-21 02:18] leezu commented on #16831
@reminisce should the fix be backported to 1.6 branch?

[2019-11-21 02:29] liuzh91 commented on #16869
Hi @leezu , if we can introduce a gradient update handler for estimator class, then the problem is solved. "handlers are not supposed to apply gradients on network parameters" for this part, I mean the common workflow in current estimator framework is to update/apply gradients in the `fit_batch` routine instead of using a standalone handler. Handlers are used to process other information, e.g., me

[2019-11-21 02:30] pengzhao-intel commented on #16864
Most likely, we will start from TVM first and then extend to XLA.

I am not sure about the timeline of 1.7. Maybe some experimental features go to 1.7 and most of the features at 1.8 (or later).

[2019-11-21 04:56] ptrendx commented on #16875
I noticed this and changed this test from testing a/b (which is super unstable if b is close to 0) to a/(b+1) in #16836.

[2019-11-21 06:43] apeforest commented on #16845
@jonatan1626 Thanks for the detailed report. This looks great. Please run mxnet-mkl for CPU performance test  as @pengzhao-intel suggested. I guess we don't need to report mxnet1.6_LT since it's not an official release.

It would be great if you can put your run script together with logs in a repo and share it here so we can reproduce or track later on.

Thanks.

Lin

[2019-11-21 06:54] pengzhao-intel commented on #16845
I remember we have a plan to make a dashboard to track the performance :)
Is this still on the plate?

[2019-11-21 07:38] #16559 closed

[2019-11-21 07:40] reminisce commented on #16831
@leezu Yes, there is a 1.6 tag attached to it. https://github.com/apache/incubator-mxnet/pull/16849

[2019-11-21 08:10] ChrisQiqiang opened #16877 "How the distributed Mxnet maintains the synchronization?"
I tried to run training_imagenet on 3 machines. One is for a scheduler job and a server job, and the other two are for 2 workers, respectively.
When I just start the scheduler, server and ONLY one worker,  I found that the worker could still train without waiting for the NO.2 worker.
What does this mean?

[2019-11-21 08:59] liuzh91 opened #16879 "loss for training and evaluation in estimator could be different"
## Description
In current estimator implementation, fit_batch and evaluate_batch use the same loss function.
Code snippet in the `fit_batch` is shown below:
[code]

The code snippet for evaluate_batch is shown below:
[code]

both training and evaluation are using the same loss function `self.loss` to compute the batch loss. In many use cases, it does not hold true. For example, when training LSTM,

[2019-11-21 09:10] haojin2 commented on #16830
Happening again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16862/7/pipeline/299
[code]

[2019-11-21 09:30] leezu commented on #16879
How about introducing a new `evaluation_loss` or `evaluate_loss` argument to the constructor. If it is None, we use the train loss during evaluation. For backwards compatibility, let's keep `self.loss` and just introduce a new `self.evaluation_loss`. What do you think?
Will you open a PR to fix this issue?

[2019-11-21 09:49] liuzh91 commented on #16879
It is viable to do that. I'll fix this issue.

[2019-11-21 10:16] haojin2 commented on #16770
Happening again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16801/13/pipeline/362
[code]

[2019-11-21 10:16] haojin2 commented on #16770
@ptrendx @DickJC123 This is happening quite often for TensorRT tests, can you guys probably take a look? I believe it could also be flaky in 1.6.0 branch.

[2019-11-21 13:30] zburning opened #16880 "Better to flatten the label array in metric.F1()"
## Description

Unlike the other metrics, the current metric.F1() doesn't flatten the label. Commonly the label would have the shape of (batch_size, 1), so it could be better to flatten it inside the F1() method. Otherwise it will give a wrong result without error, which could be hard to debug.

### Error Message
(Paste the complete error message, including stack trace.)

## To Reproduce
(If you d

[2019-11-21 15:48] jonatan1626 commented on #16845
@pengzhao-intel The runs just finished there was an error when running resnet50_v1, so I have restarted the job and will post the results when it is done! It does look like there is a regression between the mkl versions.

@apeforest Let me compile and organize the data first then I'll put it in a repo. I am also figuring out how to push the data to cloudwatch so we have a dashboard to track the pe

[2019-11-21 15:58] jonatan1626 commented on #16845
I have also uploaded the scripts to: [Here](https://github.com/jonatan1626/mxnet-performance-benchmark/tree/master). Do let me know if there is anything wrong with how I'm running this!

[2019-11-21 17:38] ptrendx commented on #16864
XLA is effectively dead at this point so I'm not sure why we would want to invest in that. MLIR is not really ready for prime time. Out of all of the compiler technologies (which I agree are important) TVM seems to be the best and most mature option (additional points for it being Apache project as well and multiple community members already working on integrating it into MXNet).

[2019-11-21 17:43] cjolivier01 commented on #11417
I always see this junk in there as well, but doesn't necesarily mean it'll llnk it:
[code]

[2019-11-21 17:45] cjolivier01 commented on #11417
btw:
[code]

[2019-11-21 17:57] cjolivier01 commented on #11417
Actually, i don't know what this issue is about. There's no actual report of a problem in the description.

[2019-11-21 18:06] cjolivier01 commented on #16864
You're certainly entitled to your opinion on XLA/MLIR and TVM, but the fact of the matter is that XLA is more widely supported than TVM (two leading vendors, TF and Pytorch, for instance).  If adoption of mxnet is what you're looking for, then adopting technologies that make it easier for hardware vendors to support the maximum number of platforms for the least amount of investment is the best rou

[2019-11-21 18:12] sxjscience commented on #16880
We will have label shape = (B, N_labels) in multi-label classification problems, e.g., the PPI dataset used in Graph Neural Networks (https://cs.stanford.edu/people/jure/pubs/graphsage-nips17.pdf), and also multi-class classification, e.g., image classification.

Flattening the labels is thus not an option and you may refer to the definition in scikit_learn: https://scikit-learn.org/stable/modules

[2019-11-21 18:22] DickJC123 commented on #16831
I was under the impression that when a PR goes through CI, the code tested is a merge of the PR with the then-current master.  My hang was seen just 24 hours ago.  @reminisce , what commit to master solved this problem in your view?

[2019-11-21 19:42] zeeshansayyed opened #16882 "Gradient clipping across multiple GPUs"
Hello,

Can someone please point me to an example where gradient clipping can be performed on multiple GPUs.

Thanks
Zeeshan

[2019-11-21 20:17] zeeshansayyed commented on #16882
The example which I found was using `gluonnlp.utils.clip_grad_global_norm` as follows:

[code]

[2019-11-21 22:05] larroy commented on #16753
I built the latest from master without any problems, did you update submodules?

[code]

[2019-11-22 01:40] pengzhao-intel commented on #16845
@rongzha1 please try to run the script and verify the CPU performance.

[2019-11-22 01:40] pengzhao-intel commented on #16845
cc @TaoLv

[2019-11-22 01:52] zburning commented on #16880
Thank you for explanation!
So the current implementation in metric.F1() is not good because it only support binary classification problem and label shape = (B, ). I can refer to the [#9586](https://github.com/apache/incubator-mxnet/issues/9586) implementation for my scripts then.

[2019-11-22 01:54] sxjscience commented on #16880
@zburning I think the guideline for the refactoring is to try to follow the convention of scikit_learn.

[2019-11-22 02:28] szha commented on #16864
@cjolivier01 @pengzhao-intel @ptrendx would you mind opening a feature request issue as suggested by the initial post? The roadmap issue is usually for tracking purpose, and having other discussions inside makes it harder to track the features to add.

[2019-11-22 03:26] cjolivier01 commented on #16864
“ Let's start a discussion here about the roadmap towards 1.7.0. We are looking for:

New features that are useful to your research and development.”

This is what’s in the description of this page. I don’t think this has been strayed from.

[2019-11-22 03:28] szha commented on #16864
I was referring the the instructions just below the lines you were quoting:

[2019-11-22 07:11] sxjscience opened #16887 "[Numpy] Bug of basic indexing"
Found this bug when writing random test cases for symbolic indexing.

[code]

Error:
[code]

[2019-11-22 08:11] GPoloVera opened #16889 "Segmentation Fault in module mxnet.np with missmatch dimensions"
## Description
When using the **module np from mxnet**, any operation that in the numpy package raises an exception "Value Error that the operands could not be broadcast together with shapes",  in the np module of mxnet **a segmentation fault: 11 occurs.**

### Error Message

[code]

## To Reproduce
Create an environment, install python 3.7 and pip, install mxnet using pip (pip install mxnet==1.6.

[2019-11-22 08:23] sxjscience commented on #16889
@GPoloVera I cannot reproduce it with the master version. Actually, I've checked the exception here in the test: https://github.com/apache/incubator-mxnet/pull/16180/files

[2019-11-22 08:36] reminisce commented on #16887
`NDArray._basic_indexing_contiguous_flat_begin_end` has a bug. I will send in a fix.

[2019-11-22 08:46] reminisce commented on #16889
Can you try `pip install mxnet --pre` to install the latest wheel? It should have been fixed after 9/15.

[2019-11-22 18:04] szha commented on #15749
RFC issue mirroring has been up and running. The mirroring on the email side requires replying all to the thread on dev@.

[2019-11-22 18:04] #15749 closed

[2019-11-22 18:25] ptrendx commented on #16875
@haojin2 Do you agree that this (changing `a/b` to `a/(b+1)`) fixes the flakiness and we can close this issue?

[2019-11-22 18:27] ptrendx commented on #16848
The PR was merged and backported to v1.6.x branch, can we close it @leezu @haojin2?

[2019-11-22 20:56] leleamol opened #16891 "Upgrading MKLDNN to 1.0 causes performance regression."
## Description
The change that upgraded MKLDNN to 1.0 caused performance (images/sec) to drop by 200 points.

### Error Message
The through-put performance (images/sec) during training dropped to 1300 images/sec.
Prior to this change the throughput was in the range of 1500-1530 images/sec.

## To Reproduce

The attached gzip file contains the training script that trains resnet18_v2 network on Cifa

[2019-11-22 20:58] sxjscience commented on #16102
@anirudh2290 In terms of the mac OS CI, do you have any idea about that? @zhanghang1989 has observed some other problems in MXNet in macOS. I guess the ultimate solution is to enable the macOS CI.

[2019-11-22 21:09] haojin2 commented on #16875
@ptrendx If you have verified that this change could make this test pass more than 500 trials then I'm for it.
Note: A test that only succeeds with 99% chance could only pass 500 trials consecutively with < 1% of chance.

[2019-11-22 21:10] anirudh2290 commented on #16102
@sxjscience I have never run MXNet on macOS ! Its a good thought to add Macos to CI, though I think its a project in itself since there may be other failures. Till now, I don't know anyone working on it.

[2019-11-22 21:16] sxjscience commented on #16102
@anirudh2290 Thanks... I'm considering to try it on my personal mac first to understand how many tests will fail...

[2019-11-22 21:16] reminisce commented on #16889
@GPoloVera D2L will depend on MXNet v1.6.0 eventually. I encourage you to always use the latest nightly wheel to run D2L to get the latest feature and bug fixes. If you spot something broken, feel free to file issues so that we can still fix them before v1.6.0 is released.

[2019-11-22 21:31] sxjscience commented on #16887
Another case:

[code]

[2019-11-22 21:49] haojin2 commented on #16238
Happening again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-16883/1/pipeline/

[2019-11-22 22:18] nikudyshko commented on #16741
For Windows we still have MinGW, clang, etc. And it's better to leave testing for them as it is. As for VS - hard to tell. Versions before VS2015 don't even have ```/std``` flags, so it's impossible to test them this way. Newer version have complete support of C++11 (except few things), so there is no reason to test them.
Unfortunately, I'm not a pro in CMake, can't suggest any good fixes, sorry.

[2019-11-22 22:24] leleamol commented on #16891
#16555

@TaoLv @pengzhao-intel @zixuanweeei @samskalicky

[2019-11-22 22:47] ptrendx commented on #16875
I ran that part of this test 10000 times after the change without problem. Closing.

[2019-11-22 22:47] #16875 closed

[2019-11-23 00:23] samskalicky commented on #16891
@mxnet-label-bot add [R1.6.0]

[2019-11-23 01:18] #16723 closed

[2019-11-23 02:24] rongzha1 commented on #16845
seems no regression issue on mkl dnn CPU platform.
test platform: skx-8180
mxnet version: v1.5.x and v1.6.x
v1.5.x build cmd: make -j USE_MKLDNN=1 USE_BLAS=mkl USE_GPERFTOOLS=0
v1.6.x build cmd: make -j USE_MKLDNN=1 USE_BLAS=mkl USE_GPERFTOOLS=0
USE_INTEL_PATH=/opt/intel
running scripts: jonatan1626 prepared above

MXnet Version | Model | Num GPU | avg_speed | min_speed | max_speed
-- | -- | -- |

[2019-11-23 03:09] TaoLv commented on #16891
@leleamol How did you install the mxnet package, from source code or the nightly build? If build from source code, could you please share the make line also? #16555 removed the libiomp5 library from mxnet default build to comply with Apache License requirements. That could be the reason of this issue but I still need reproduce to confirm. If possible, could you please try to build mxnet with `USE_

[2019-11-23 08:42] pengzhao-intel commented on #16891
Our test results, https://github.com/apache/incubator-mxnet/issues/16845#issuecomment-557757080

[2019-11-23 16:39] YCAyca commented on #10049
Hi! I met with the same error and I did all the things that I read on blogs. Finally I downloaded all the missing dll files (found them typing dumpbin /dependents libmxnet.dll). Then the error message changed and  now I'm getting this error :  OSError: [WinError 193] %1 is not a valid Win32 application
Is there someone who know how to solve this error? I'm usin VS 2017 on Windows 10 by the way

[2019-11-24 08:46] sxjscience commented on #16279
This will be solved once https://github.com/apache/incubator-mxnet/pull/16621 is merged. We have the following example:

[code]

Out:
[code]

[2019-11-24 22:56] sxjscience commented on #16880
@zburning Also, would you provided an example of this issue that was labeled as bug? This helps us understand the problem. Currently, I find that this one looks more like a `feature request` than a bug. Just correct me if I'm wrong.

[2019-11-25 02:35] zburning commented on #16880
@sxjscience Sorry I didn't make it clear. An example script is:

[code]
The current F1() uses the _BinaryClassificationMetrics() class to update the stats. So in _BinaryClassificationMetrics.update_binary_stats(), it has:
[code]
The problem is that numpy.argmax(pred, axis=1) returns an array of shape (batch, ), the following computing method requires the label be the same size, i.e, the label shou

[2019-11-25 02:37] zburning commented on #16880
@sxjscience Sorry I didn't make it clear. An example script is:

[code]
The current F1() uses the _BinaryClassificationMetrics() class to update the stats. So in _BinaryClassificationMetrics.update_binary_stats(), it has:
[code]
The problem is that numpy.argmax(pred, axis=1) returns an array of shape (batch, ), the following computing method requires the label be the same size, i.e, the label shou

[2019-11-25 05:55] knjwhn commented on #16749
Hello , I'm so sorry if I bother you . and I have a question here. I directly replace the `cblas_gemm_s8u8s32` function with my function, and I got the similar result when I am running example/quantization/ with the command from quantization/README.md
`python imagenet_inference.py --symbol-file=./model/mobilenet1.0-quantized-5batches-naive-symbol.json --param-file=./model/mobilenet1.0-quantized-00

[2019-11-25 07:18] ChaiBapchya commented on #16600
Similar one here for slingshot (clojure jar) for unrelated PR - https://github.com/apache/incubator-mxnet/pull/16894

[code]

[2019-11-25 09:43] leezu commented on #16869
@roywei: @liuzh91 just noticed you self-assigned this issue 4 days ago. In the meantime he prepared https://github.com/apache/incubator-mxnet/pull/16900 Do you think that change is in order? Or would you suggest any other change. Sorry for the inconvenience in case you also started working on it already..

[2019-11-25 17:41] samskalicky commented on #16765
@zachgk is this fixed now that #16838 is merged?

[2019-11-25 18:05] leleamol commented on #16891
@TaoLv I have build the mxnet package from source.

I followed the instructions that are mentioned in the [README.md](https://github.com/apache/incubator-mxnet/blob/master/tools/staticbuild/README.md)

I just put them in the script form for quicker execution like below.

For building the mkl variant, invoke the following script with "mkl" as command line parameter.

[code]

[2019-11-25 18:07] #16879 closed

[2019-11-25 18:07] sxjscience commented on #16879
Fixed in #16888, Thanks @liuzh91

[2019-11-25 18:56] ptrendx commented on #16845
What is the status of this issue? Based on the result gathered by @rongzha1 it seems we can close this issue?

[2019-11-25 19:03] #16765 closed

[2019-11-25 19:37] samskalicky commented on #16891
@zachgk assign [@apeforest ]

[2019-11-25 19:40] samskalicky commented on #16880
@zachgk assign [@mli ]

[2019-11-25 19:41] samskalicky commented on #16858
@zachgk assign [@access2rohit ]

[2019-11-25 19:43] samskalicky commented on #16852
@mxnet-label-bot update [Question, Build]

[2019-11-25 19:49] samskalicky commented on #16851
Since this issue has 2 parts:
- Should not assert, should throw an error/exception instead
- broadcast_like should be enhanced [Feature request] to support different types
Assigning to Mu for the first part, fixing error messages
@zachgk assign [@mli ]

[2019-11-25 19:52] samskalicky commented on #16656
@IMJerryChen ping

[2019-11-25 19:55] TEChopra1000 commented on #16633
I will take out reference to the Symbol tutorials in the docs.

[2019-11-25 19:55] oorqueda commented on #16590
Please assign it to me until I find an owner

[2019-11-25 19:56] samskalicky commented on #16485
@olojuwin as requested by @szha please try CUDA 9.2 with the latest version (1.5.1)

[2019-11-25 19:58] samskalicky commented on #16471
@matteosal Can you try with the USE_INT64_TENSOR_SIZE flag?

[2019-11-25 19:59] larroy commented on #16600
ok

[2019-11-25 19:59] samskalicky commented on #16456
@zachgk assign [@anirudhacharya ]

[2019-11-25 20:00] samskalicky commented on #16453
@zachgk assign [@aaronmarkham ]

[2019-11-25 20:01] TEChopra1000 commented on #16802
I will make the correction.

[2019-11-25 20:46] zachgk commented on #16858
@access2rohit Please comment if you want this issue

[2019-11-25 21:12] mikeobr commented on #16173
This feature would be very useful for us.

We deploy our models via MXNet Model Server: https://github.com/awslabs/multi-model-server as a custom service. Each worker has an instance of the model, so we experience memory instability if concurrent autotuning is happening at once. This forces us to either under utilize the available GPU  or risk errors at startup. Being able to cache autotune would

[2019-11-25 21:19] Jerryzcn commented on #16656
Could u provide the code u are using?

[2019-11-25 21:20] #16845 closed

[2019-11-25 21:27] Jerryzcn commented on #15283
hey could u provide the code to reproduce it?

[2019-11-25 22:55] wkcn commented on #15283
There was a bug in boolean_mask of MXNet 1.5.
Could you please try the latest MXNet, such as MXNrt 1.6?

[2019-11-25 23:28] haojin2 commented on #16413
Solved via #16849, closing now.

[2019-11-25 23:28] #16413 closed

[2019-11-26 00:40] samskalicky opened #16904 "Upgrade MXNet version to 1.6.0"
Need to uprev to 1.6 here:
https://github.com/apache/incubator-mxnet/blob/v1.6.x/include/mxnet/base.h#L76

[2019-11-26 00:40] samskalicky commented on #16904
@mxnet-label-bot add [R1.6.0]

[2019-11-26 01:43] hubutui commented on #16852
I also check https://github.com/apache/incubator-mxnet/pull/15981, but it seems it's not fixed yet. According to https://github.com/apache/incubator-mxnet/blob/master/CMakeLists.txt#L51, `ENABLE_TESTCOVERAGE=OFF` by default.

[2019-11-26 02:04] haojin2 commented on #16443
Fixed by #16800 by @vexilligera, closing

[2019-11-26 02:04] #16443 closed

[2019-11-26 07:32] szhengac opened #16910 "Scalar ndarray does not support exponentiation"
## Description
the following codes produce error:

[code]
or

[code]

it will be ok if I use vector ndarray:

[code]

### Error Message
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ubuntu/.local/lib/python3.5/site-packages/mxnet/ndarray/ndarray.py", line 376, in __rpow__
    return power(other, self)
  File "/home/ubuntu/.local/lib/python3.5/site-packages/

[2019-11-26 07:40] reminisce commented on #16910
Please note that scalar tensors are only formally supported in `mxnet.numpy` module. Many operators in `mx.nd` do not have expected behaviors on scalar tensors. You will also need to turn on NumPy-compatible shape inference mode explicitly, because `shape=()` was treated as unknown shape information in the default mode for backward compatibility.
[code]

[2019-11-26 08:50] dnzprmksz opened #16911 "[Question] MXNet on Scala Spark and Maven Repository"
Hello, MXNet newbie here 👋

I am trying to run a PoC with MXNet using Scala/Spark on AWS EMR, however I cannot find a way to import Spark integration under `scala-package` using the distribution on [Maven Repository](https://mvnrepository.com/artifact/org.apache.mxnet/mxnet-full_2.11-linux-x86_64-cpu/1.5.1).

I searched it a lot on Google, but could not find any valuable information. I started to

[2019-11-26 14:34] rongzha1 commented on #16891
cpu test on both v1.5.x and v1.6.x mkldnn + openblas, but no regression issue was found.
I have tried to use build.sh but failed for: CMake Error at simd/CMakeLists.txt:41 (enable_language):
  No CMAKE_ASM_NASM_COMPILER could be found.
So for v1.5 and v1.6 I build use cmd:
make -j USE_MKLDNN=1  USE_BLAS=openblas USE_GPERFTOOLS=0
and setting openblas include and lib directory.

v1.5.x:
  1 [21:43:2

[2019-11-26 17:32] haidark commented on #16701
bump for update

[2019-11-26 17:51] ChaiBapchya commented on #16830
Happening again
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-16894/9/pipeline
#16894