[2015-11-23 13:19] udibr opened #695 "mnist example disappeared"
why?
at the very least the doc has to be updated

[2015-11-23 13:20] gouchangjiang commented on #250
thanks for your help. I have changed my OS to ubuntu. So I don't know whether your suggestion is a good solution. Anyway, thanks.

[2015-11-23 13:20] fhowen commented on #694
@piiswrong

[2015-11-23 14:21] #663 closed

[2015-11-23 14:31] sxjscience commented on #695
It's here I think https://github.com/dmlc/mxnet/blob/master/example/image-classification/train_mnist.py

[2015-11-23 15:52] phunterlau commented on #670
I prefer 3 or 4 like this <http://scikit-learn.org/stable/auto_examples/>

[2015-11-23 17:16] tqchen commented on #695
@mli

[2015-11-23 20:23] korneil commented on #583
I implemented a volumetric convolution layer that uses only cudnn for the sake of brevity. Bc the input is now 5D instead 4, I will have to adopt activation layer as well for 5D. Do you recomment to create a new layer like "VolumetricActivation", or would you rather prefer to change the code of the current activation operator?

[2015-11-23 20:38] korneil commented on #583
Also I have a problem with `cudnnAddTensor()` in regard of bias, maybe you can help.

I am creating the tensor with this command:

        if (!param_.no_bias) {
            Tensor <gpu, 1> bias = in_data[conv::kBias].get<gpu, 1, real_t>(s);
            int biasDimA[] = {1, (int) bias.shape_[0], 1, 1, 1};
            int biasStrideA[] = {
                    (int) bias.shape_[0],

[2015-11-23 21:13] alexgkendall commented on #337
Hi - Our work [3][4] differs from [1] in class weighting as you pointed out. Another major difference is the much more efficient parametrisation in SegNet [4], which is an order of magnitude faster to run, and can be trained end to end in one step. I believe DeConvNet [1] uses stage wise training and multiple region proposals in inference time.

We found class weighting to be very important for sc

[2015-11-23 21:46] piiswrong commented on #694
1) in_grad is grad for input, or bottom_grad. out_grad is from top. It's uninitialized if need_top_grad=False, i.e. for loss layer. Otherwise it comes from layers above.
2) It's in mshadow/cuda/tensor-gpu.cuh

[2015-11-23 21:48] piiswrong commented on #583
@korneil I think activation should work for any input dimension, like the non-cudnn version already does.

[2015-11-23 23:00] piiswrong commented on #660
when things fail in the engine, you can try using NAIVE_ENGINE, and backtrace will give you the call hierarchy.

[2015-11-24 01:17] mli commented on #695
fixed on #698

[2015-11-24 01:17] #695 closed

[2015-11-24 02:47] starimpact opened #699 "train and save on gpu(1), load error on gpu(0)"
I trained a network on gpu(1) in server, and saved the parameters with cPickle, now I set the context be gpu(0) in my laptop and tried to read the trained parameters with cPickle, then I encounter the following error:
[code]
I guess it is caused by the difference of context.
How to solve it?

[2015-11-24 02:51] playerkk commented on #337
Thanks all for your reply.

I am working on predicting pixel-wise labels, not necessarily image segmentation. The distributions of labels are highly unbalanced. Experimental results based on MatConvNet indicate that weighted loss is quite helpful. MatConvNet, however, is very slow. So I am considering to switch using other packages.

[2015-11-24 03:47] #571 closed

[2015-11-24 03:47] mli commented on #699
probably due to 1) gpu(0) is not available on your laptop, or 2) you still bind the model into gpu(1) on your laptop

[2015-11-24 04:39] tqchen commented on #670
updated https://github.com/dmlc/mxnet/tree/master/example

[2015-11-24 04:39] #670 closed

[2015-11-24 08:33] LukeHe opened #701 "extract cnn features?"
how do  I extract cnn features of pictures using mxnet?

[2015-11-24 09:08] starimpact commented on #699
no, no.
I can do train on gpu(0) of my laptop.

[2015-11-24 09:11] starimpact commented on #699
no,no.
if I load the parameters trained on gpu(0) of server, it will have no any problem. My laptop only have one gpu.

[2015-11-24 10:13] LukeHe commented on #701
I find something useful https://github.com/dmlc/mxnet/blob/master/example/notebooks/predict-with-pretrained-model.ipynbin.

[2015-11-24 10:13] #701 closed

[2015-11-24 11:01] Orange15 opened #704 "make error"
there is an error when update to master. (mac osx clang)
thanks.

In file included from src/operator/embedding.cc:8:
src/operator/./embedding-inl.h:60:11: error: use of undeclared identifier 'take'
    out = take(data, wmat);
          ^
src/operator/./embedding-inl.h:42:12: note: in instantiation of member function 'mxnet::op::EmbeddingOp<mshadow::cpu>::Forward'
      requested here
  explicit Em

[2015-11-24 11:08] starimpact opened #705 "How to move mxnet into TK1?"
there are some features which TK1 doesn't support.
such as msse3.
is there any easy configure method?

[2015-11-24 11:20] alexgkendall commented on #337
Cool, SegNet can do that and it is built on Caffe which is pretty fast - you might find [this tutorial](http://mi.eng.cam.ac.uk/projects/segnet/tutorial.html) helpful.

[2015-11-24 11:26] starimpact commented on #705
remove msse3 and MSHADOW_USE_SSE.

[2015-11-24 11:30] futurely commented on #337
Once https://github.com/dmlc/mxnet/issues/640 is completed, most of the published image segmentation models that are based on FCN can be replicated without much difficulty in MXNet.

[2015-11-24 14:09] guotong1988 opened #706 "make error with opencv .. thank you .."
Package opencv-2.0.0-12.el6.x86_64 already installed and latest version
Nothing to do
[root@localhost mxnet]# make
g++ -std=c++0x -DMSHADOW_FORCE_STREAM -Wall -O3 -I./mshadow/ -I./dmlc-core/include -fPIC -Iinclude -msse3 -funroll-loops -Wno-unused-parameter -Wno-unknown-pragmas -DMSHADOW_USE_CUDA=0 -DMSHADOW_USE_CBLAS=1 -DMSHADOW_USE_MKL=0 -DMSHADOW_RABIT_PS=0 -DMSHADOW_DIST_PS=0 -DMXNET_USE_OPENC

[2015-11-24 15:07] zachmayer commented on #645
@mwegman4
1. Installed git
2. Terminal: `git clone --recursive https://github.com/dmlc/mxnet`
3. Installed homebrew [0.9.5 (git revision 3d1e; last commit 2015-11-18)]
4. Terminal: `brew update`
5. Terminal: `brew tap homebrew/science`
6. Terminal: `brew info opencv`
7. Terminal: `brew install opencv`
**8a. `cd mxnet`**
8b. Terminal: cp make/osx.mk config.mk

[2015-11-24 15:07] zachmayer commented on #645
nvm!

[2015-11-24 15:10] zachmayer commented on #645
I had to edit `config.mk` to get it to compile:
[code]

I also had to install `clang-omp` via brew:
[code]

The directions I followed are here: https://medium.com/@lelayf/installing-mxnet-for-r-on-yosemite-291470055980#.4tn8uqst6

[2015-11-24 15:25] yang1fan2 commented on #704
It seems that you have to update your mshadow code. The newest mshadow added function "take" and "take_grad"
In git, type commands below
"
git submodule init
git submodule update
"
Hope this will help

[2015-11-24 18:42] JosephCatrambone opened #707 "ReadTheDocs Documentation Not Versioned"
The documentation versions listing and build listings displays only numerous copies of "Versions:
latest."  (See also: https://readthedocs.org/projects/mxnet/builds/)

This isn't terribly cumbersome right now, as there appears only to be mxnet==0.5a1, 0.5a2, and 0.5a3 in Pip at the moment, but as the project grows it could become tricky to keep things in order.  Perhaps just a datetime stamp or re

[2015-11-24 18:48] antinucleon commented on #664
![download](https://cloud.githubusercontent.com/assets/1258974/11377043/3d0ea44a-92a1-11e5-9910-c5b3099f82e3.png)

I have done most parts, but seems there are minor issues need to be fixed.

[2015-11-24 19:10] tqchen commented on #705
As you can see this is due to CUDNN turned on, compile without CuDNN should work

[2015-11-24 20:09] aussetg opened #708 "R Package Installation fails"
OS : Debian Unstable
R : 3.2.2
CUDA : 7.5
cuDNN : r3
compiler : gcc-4.9 ( forced to match nvcc )

python example/image-classification/train_mnist.py  WORKS
R CMD INSTALL mxnet_0.5.tar.gz FAILS

Log : https://gist.github.com/aussetg/feccb9cb0ff19e55506a

Thanks, please ask for any other informations

[2015-11-24 20:43] thirdwing commented on #708
I think this is due to the `-fstack-protector-strong` flag you are using.

Can you remove it and try again?

[2015-11-24 20:46] thirdwing commented on #705
Actually I have compiled mxnet on TK1 without CuDNN weeks ago.

[2015-11-24 21:33] piiswrong commented on #706
where is your opencv installed? if not in the standard directory you'll need to add it to CFLAGS and LDFLAGS.

Also, I'm not sure about this is relevant by opencv 2.0 seems too old

[2015-11-24 22:03] aussetg commented on #708
I'll do it tomorrow. I also think it's the cause.

I'm using all the default options btw, I'll see if it's an Mxnet option, Rcpp option or R option and report back

Thanks

[2015-11-24 23:02] phunterlau commented on #664
superb, what is the speed? i can start drafting a blog of advertising it

[2015-11-24 23:19] phunterlau commented on #645
@zachmayer yes, if use clang-omp, these changes are needed, my test also confirms this. OpenMP is primarily for multi-GPU for fast data loading (from my understanding) while BLAS can take care of multi-thread CPU. Since most of Macs don't have multi-CUDA-GPU cards, clang-omp may not be necessary. Is it correct?

[2015-11-24 23:32] thirdwing commented on #708
It should be from R. Maybe you can check the file `/etc/R/Makeconf`

[2015-11-24 23:51] zachmayer commented on #664
Someone made a demo for tensorflow too: https://github.com/woodrush/neural-art-tf

[2015-11-24 23:56] phunterlau commented on #664
Saw the tensor flow demo too. They use the exact same caffe model as in the Lua version. Seems like the number of iteration is not large enough for understanding the style. It should be around 800-100 from the Lua version, which is the reason why take so long (2 min with Titan X). If mxnet can simply this iteration for searching for optimal parameters, mxnet can save much time. The lua version men

[2015-11-25 00:03] zachmayer commented on #664
I'm excited to see the results!  Also, there's already another one:
https://github.com/anishathalye/neural-style

tensor flow has some great marketing...

[2015-11-25 00:14] mli commented on #664
![out16](https://cloud.githubusercontent.com/assets/421857/11384641/75843e5a-92df-11e5-9960-102346a3e95b.jpg)

we can almost reproduce the results, thanks to @antinucleon

but the major problem is the speed. it needs thousands of iterations which takes minutes on a decent gpu cards..

[2015-11-25 00:17] zachmayer commented on #664
@mli Is there code somewhere to reproduce the results I could try out myself?

[2015-11-25 01:08] tornadomeet commented on #640
i just see this, i'll do it this week~

[2015-11-25 01:50] starimpact commented on #705
cudnn is fast, will it affect the performance by disable it?

[2015-11-25 02:01] thirdwing commented on #705
I met some issues when I tried to use cudnn with Theano on TK1, so I disabled it this time.

I can have some test in the weekends.

[2015-11-25 02:08] fangli1992 opened #709 "Mnist on gpu ---- something in blockage"
Hi, I just run mnist on gpu:`python example/image-classification/train_mnist.py --gpu=2 --network=lenet`
Every time when the log shows:
[code]
I would waiting for long time, e.g. 3 mins or more before it went further training, which I felt abnormal for mnist is small data. I used Ctrl + c to break the task at `Node[0] Start training with [gpu(2)]`  , and it traceback:
[code]
Are there something wr

[2015-11-25 02:40] mwegman4 commented on #645
As a side note, I was originally having trouble installing openCV so I went through these steps:

[2015-11-25 02:40] mwegman4 commented on #645
http://blogs.wcode.org/2014/10/howto-install-build-and-use-opencv-macosx-10-10/

[2015-11-25 02:43] mwegman4 commented on #645
Still getting an error. [Here](https://github.com/dmlc/mxnet/files/43437/Output.txt) is the full output when I follow instructions posted by @zachmayer and run make -j4

[2015-11-25 04:10] phunterlau commented on #645
@mwegman4 have you tried `brew install opencv` as in the instruction? If opencv is built by source, it may not find all correct PATH variables.

[2015-11-25 04:14] piiswrong commented on #709
Looks like it's stuck on c++ side.
Doesn't happen on my machine. Have you tried other examples? Is it the same for them?

[2015-11-25 04:14] jimxinbo opened #710 ""ValueError: too many values to unpack""
I am getting "ValueError: too many values to unpack" when running "for _, label in test_dataiter:" in cifar-recipe.ipynb. I am using Python 2.7. I am not familiar with the MXDataIter, it seems "for _, label in test_dataiter[:2]:" will not fix it. Is there any quick way around? Thank you very much.

[2015-11-25 04:27] piiswrong commented on #710
could you try example/image-classification/train_cifar10.py?
The examples under notebooks might be out dated.

[2015-11-25 04:54] jimxinbo commented on #710
Thanks piiswrong!

I can run example/cifar10/cifar10 without any problem. In the new version example/image-classification/train_cifar10.py is not that much different.

The problem is when I use the notebook example, where there is extra code for testing. During testing, "for _, label in test_dataiter:" seems to be unpacking from an iterator (defined as MXDataIter).

Anyway, the sad story is that I

[2015-11-25 04:58] thirdwing commented on #645
@mwegman4 In your log,

[code]

It indicates you have more than one version of opencv installed on your system. My advice is to remove them and reinstall opencv through `brew`

[2015-11-25 05:02] thirdwing commented on #692
I need this when building R package with binary file last Sunday.

It is a definitely clean Windows server on AWS. But this VS runtime should have been installed on most Windows machines, since many applications need it.

[2015-11-25 05:31] pineking commented on #709
Does your GPU work fine with other GPU test tools? How many GPUs in the machine?

[2015-11-25 05:55] #704 closed

[2015-11-25 06:02] hjk41 commented on #692
thanks for reporting this issue. I will fix it in the next release

On Wed, Nov 25, 2015 at 1:02 PM, Qiang Kou (KK) <notifications@github.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-25 06:12] qiaohaijun opened #712 "error: identifier "take" is undefined"
/search/data/user/qhj/github/mxnet/src/operator/./embedding-inl.h(60): error: identifier "take" is undefined
          detected during:
            instantiation of "void mxnet::op::EmbeddingOp<xpu>::Forward(const mxnet::OpContext &, const std::vector<mxnet::TBlob, std::allocator<mxnet::TBlob>> &, const std::vector<mxnet::OpReqType, std::allocator<mxnet::OpReqType>> &, const std::vector<mxnet::TBl

[2015-11-25 06:12] qiaohaijun commented on #712
centos 7.1
g++ 4.8

[2015-11-25 06:21] qiaohaijun commented on #712
# cd MXNET_ROOT
# grep take_grad -r .
# ./src/operator/embedding-inl.h:    grad_in = take_grad(data, grad_out, param_.input_dim);

just find the use grad_in ,but not find the code grad_in that the function defined

[2015-11-25 06:53] piiswrong commented on #712
You need to update your mshadow library.
Try git submodule update

[2015-11-25 06:54] antinucleon commented on #664
@zachmayer I will commit it soon :)

[2015-11-25 07:42] kelelexu opened #714 "Windows R"
When I try to use my own data for the test.
I have met the problem as follows.

'mx.ctx.internal.default.value' not found
OS: Windows 8
Language: R

I am new to this this field, any help is welcome.

[2015-11-25 08:40] jimxinbo commented on #710
Fixed by:

change:
for _, label in test_dataiter:
    label = label.asnumpy()
    pad = test_dataiter.getpad()
    real_size = label.shape[0] - pad

to

for _, label, _ in test_dataiter:
    label = label[0].asnumpy()
    pad = test_dataiter.getpad()
    real_size = label.shape[0] - pad

The same strategy applies to simple_bind.ipynb

[2015-11-25 08:40] #710 closed

[2015-11-25 09:02] qiaohaijun commented on #712
ok,problem fixed

[2015-11-25 09:03] qiaohaijun commented on #712
please close this issuse

[2015-11-25 09:22] #712 closed

[2015-11-25 09:50] starimpact commented on #705
compiling passed, but there is strange link error:
[code]

[2015-11-25 10:49] antinucleon commented on #680
@Normal network training should be fixed in https://github.com/dmlc/mxnet/pull/713

[2015-11-25 11:05] chenghuige opened #715 "Could we give one text classification example ?"
Say like binary classification  example , where each instance is sparse .

[2015-11-25 11:18] qiaohaijun commented on #288
I will try to split the raw data

[2015-11-25 11:33] abangdd opened #716 "the accuracy of InceptionBN model on ILSVRC 12"
https://raw.githubusercontent.com/dmlc/web-data/master/mxnet/image/inception-with-bn-imagnet1k.png
the local-test is only 65%, it's unreasonablly lower than cxxnet example
is there something wrong with the picture?

[2015-11-25 11:41] aussetg commented on #708
Yes I checked.

#Grep
`guillaume ) grep stack /etc/R/Makeconf
# configure  '--prefix=/usr' '--with-cairo' '--with-jpeglib' '--with-readline' '--with-tcltk' '--with-system-bzlib' '--with-system-pcre' '--with-system-zlib' '--mandir=/usr/share/man' '--infodir=/usr/share/info' '--datadir=/usr/share/R/share' '--includedir=/usr/share/R/include' '--with-blas' '--with-lapack' '--enable-R-profiling' '--ena

[2015-11-25 12:52] guotong1988 commented on #706
Thank you . I finally solve this problem by download the OpenCV tar and make && install it

[2015-11-25 13:20] guotong1988 commented on #706
/usr/bin/ld: cannot find -lcblas
collect2: 错误：ld 返回 1
make: *** [lib/libmxnet.so] 错误 1

[2015-11-25 13:31] gouchangjiang commented on #575
Also I have across the same question at ubuntu OS. I have solved it by changing LD_LIBRARY_PATH environment variable. I set LD_LIBRARY_PATH="where the libcudart.7.0.5 is". If you don't know how to change environment variable, the links following may help: https://help.ubuntu.com/community/EnvironmentVariables
http://serverfault.com/questions/201709/how-to-set-ld-library-path-in-ubuntu
may it help

[2015-11-25 14:21] guotong1988 commented on #706
/usr/bin/ld: /usr/lib/../lib64/libcblas.a(cblas_sgemm.o): relocation R_X86_64_32 against `.rodata.str1.1' can not be used when making a shared object; recompile with -fPIC
/usr/lib/../lib64/libcblas.a: could not read symbols: Bad value
collect2: 错误：ld 返回 1
make: *** [lib/libmxnet.so] 错误 1

[2015-11-25 14:57] pluskid commented on #715
I think mxnet currently is not able to handle general sparse matrix yet. You will probably have to convert each mini-batch data into dense matrix.

[2015-11-25 15:04] thirdwing commented on #714
@kelelexu Can you provide a reproducible case for this?

[2015-11-25 16:50] thirdwing commented on #708
Can you post the new log?

[2015-11-25 17:13] mwegman4 commented on #645
Thanks for identifying this. I was able to uninstall the brew installed version (wish I would have realized brew could install it first!), but I still have opencv installed through the process I followed here: http://blogs.wcode.org/2014/10/howto-install-build-and-use-opencv-macosx-10-10/ The files are located in my usr/local/lib folder and I'm not quite sure how to properly uninstall them. It app

[2015-11-25 17:57] aussetg commented on #708
I'll try to replicate it, it didn't give any errors at the time, just hanged until manually killed.

Apparently I can install the R package by using GCC 5.2 ( so the version R / RCpp was built against ) and everything works as long as you use mx.cpu(). If you try to use mx.gpu() the error is:

    Start training with 1 devices
    [18:48:34] ./dmlc-core/include/dmlc/././logging.h:208: [18:48:34] s

[2015-11-25 17:59] qiaohaijun opened #719 "[kvstore] kvstore.cc:41: compile with USE_DIST_KVSTORE=1 to use dist_async"
mxnet.base.MXNetError: [01:53:19] /search/data/github/dmlc/mxnet/src/kvstore/kvstore.cc:41: compile with USE_DIST_KVSTORE=1 to use dist_async
Traceback (most recent call last):
  File "train_cifar10.py", line 1, in <module>
    import find_mxnet
  File "/search/data/user/qhj/github/mxnet/example/image-classification/find_mxnet.py", line 2, in <module>
    import mxnet as mx
  File "/usr/lib/python

[2015-11-25 17:59] qiaohaijun commented on #719
I have change the config.mk

 USE_DIST_KVSTORE = 1

what the problem ?

[2015-11-25 18:07] qiaohaijun opened #720 "[ps-lite] should update commit timestamp"
I try use tools/lanch.py in local mode, failed may time, then I find ps-lite commit timestamp should update

[2015-11-25 18:42] thirdwing commented on #708
Sorry for this.

I am on travel now and I will look into this more closely after coming back to lab.

[2015-11-25 19:29] jermainewang commented on #720
@mli could you please look into this?

[2015-11-25 19:34] mli commented on #719
please `make clean_all` first

[2015-11-25 19:35] mli commented on #720
please run `git submodule update`

[2015-11-25 19:35] jermainewang commented on #699
Could you provide more details about the problem? Like the code snipplet? so we could give further help.

[2015-11-25 19:41] jermainewang commented on #709
Does this happen each time you run the code? I have this problem before but when you run the code the second time, it won't stuck.

[2015-11-25 20:35] antinucleon commented on #716
Two networks are trained in different way: cxxnet is using manually learning rate reduce. This example is  using factor reduction. As the reduction factor is 0.94 per epoch, in this figure, final learning rate is: 0.002266. While in cxxnet example, the final learning rate is much smaller than this value.

[2015-11-25 21:04] zachmayer commented on #664
@antinucleon Really looking forward to it!

[2015-11-26 00:55] abangdd commented on #716
I see, thank you

[2015-11-26 01:02] #716 closed

[2015-11-26 01:09] chenghuige commented on #715
@pluskid  I see thanks!

[2015-11-26 01:47] qiaohaijun commented on #720
I run "git submodule update" but don't work
I change the ps-lite branch to dev, and work

[2015-11-26 01:48] qiaohaijun commented on #719
I will try "make clean_all"

[2015-11-26 01:52] caron-lee opened #721 "libmxnet.so: undefined symbol: culibosOnce"
I built mxnet and installed python module. However, when I import mxnet in python, It shows:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "mxnet/__init__.py", line 7, in <module>
    from .base import MXNetError
  File "mxnet/base.py", line 43, in <module>
    _LIB = _load_lib()
  File "mxnet/base.py", line 35, in _load_lib
    lib = ctypes.cdll.LoadLibrary(lib_p

[2015-11-26 01:56] Kublai-Jing opened #722 "Embedding Layer is expanded every timestep in LSTM"
Hi mxnet,

Not sure if this is true, but the embedding layer, say with shape (10000,256, i.e. 10000 vocabulary, 256-dimensional embedding) seems to be expanded at every timestep for the LSTM, even if the weights are shared. I don't know how to verify this but as far as what I observed I believe this is true, which causes huge memory consumption. I thought if we share weights for every timestep, we

[2015-11-26 02:04] qiaohaijun opened #723 "[example] train_model.py AttributeError: 'Namespace' object has no attribute 'clip_gradient'"
# ../../tools/launch.py -n 2 python train_mnist.py
2015-11-26 10:03:21,152 Node[0] start with arguments Namespace(batch_size=128, data_dir='mnist/', gpus=None, kv_store='local', load_epoch=None, lr=0.1, lr_factor=1, lr_factor_epoch=1, model_prefix=None, network='mlp', num_epochs=10, num_examples=60000)
2015-11-26 10:03:21,153 Node[0] start with arguments Namespace(batch_size=128, data_dir='mnist/'

[2015-11-26 02:06] qiaohaijun commented on #723
env:
1. g++ 4.8
2. cuda 7.0

execution:
1. git pull
2. git submodule update

[2015-11-26 02:07] hjk41 commented on #692
The library needed is actually vcomp120.dll, which unfortunately cannot be
statically linked. I will figure out if we can include it in the package.
(if license allows us).

On Wed, Nov 25, 2015 at 2:02 PM, Chuntao HONG <chuntao.hong@gmail.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-26 02:31] mli commented on #723
should be fixed by #724 please have a `git pull`

[2015-11-26 02:35] mli commented on #722
@antinucleon probably this is one of the reason why our lstm isn't fast as expected?

[2015-11-26 02:38] antinucleon commented on #722
Will check it tomorrow. Today & tomorrow morning I am benchmarking ELU.

[2015-11-26 03:31] starimpact commented on #699
OK, I will give a code snippet.

[2015-11-26 03:54] qiaohaijun commented on #723
the problem has solved

[2015-11-26 03:56] Kublai-Jing opened #725 "LSTM, 'add' and 'write' produce the same results?"
Have been working on lstm recently. Found that 'add' and 'write' grad_reqs produce the same results

=======
    rnn_exec = rnn_sym.bind(ctx=ctx, args=arg_arrays,
                            args_grad=args_grad,
                            grad_req="write")
=======

which for the first two epochs, I have,
![screen shot 2015-11-25 at 7 55 23 pm](https://cloud.githubusercontent.com/assets/5415928/11

[2015-11-26 03:58] futurely commented on #337
Actually, convolutional autoencoder networks don't have to use the pooling and unpooling layers. Simply stacking several conv layers and then a few deconv layers together is alright. Just for a little more fun, they can be arbitrarily interleaved!

[2015-11-26 04:08] antinucleon commented on #725
Yes！If you are using ```write```, you can safely remove reset gradient code at the end of epoch

[2015-11-26 04:09] #723 closed

[2015-11-26 04:09] Kublai-Jing commented on #725
I mean, if I am using 'write' for the lstm, should it produce the same (and correct) result as using 'add' ? If that's the case, where is 'add' useful? Thanks !

[2015-11-26 04:14] Kublai-Jing commented on #725
hmm. I think I see what you mean, the 'add' only make difference when we call updater(idx, grad, weight).
Using write will overwrite the gradient inside that call, whereas using 'add' will add to that. So I guess the engine will itself add up gradients to the same parameter when we call backward, which means that using 'write' is also correct for lstm.

[2015-11-26 04:26] qiaohaijun commented on #719
I make a mistake
I complie mxnet on a machine,and use command rsync to the cluster, after I execute "cd python; python setup install", problem solved.

PS:
please close the issue, it's a mistake

[2015-11-26 04:33] mli commented on #719
i generally do not suggest to use python setup install since we update the codes frequently, especially for distributed training. a better way is just copy the .so and files, see the instruction above

https://github.com/dmlc/mxnet/tree/master/example/image-classification#predict

[2015-11-26 04:33] #719 closed

[2015-11-26 04:37] jermainewang commented on #721
Do you have cuda libraries in your LD_LIBRARY_PATH?

[2015-11-26 04:51] caron-lee commented on #721
YES， I have added, I found
nm libmxnet.so  | grep culibosOnce
                 U culibosOnce
nm /usr/local/cuda/lib64/libculibos.a | grep culibosOnce
00000000000006a0 T culibosOnce
But there isn't libculibos.so. (CUDA version 7.5)

[2015-11-26 04:58] jermainewang commented on #725
I think 'add' means the calculated gradient should be added to rather than written to the gradient variable. This is useful for RNN since RNN will calculate 't' ('t' is the number of unrolling length) gradients of the gate parameters, and all these gradients should be accumulated to update the gate parameters. In fact, I am quite surprised that the 'write' strategy gives the same result as 'add' s

[2015-11-26 05:15] hjk41 commented on #655
@Strateus Could you try the latest version, or download the binary distribution from https://github.com/dmlc/mxnet/releases/tag/weekly_binary_build? The bug was somehow resolved on my machine, though I am not sure by which commit.

[2015-11-26 05:15] caron-lee commented on #721
I found this in the nvidia document:
"Note that libculibos.a is not needed when the shared version of these libraries is
used."
So I'm totally confused.

[2015-11-26 05:16] hjk41 commented on #692
This should have been fixed. I included vcomp120.dll in the new packages.

[2015-11-26 05:32] pluskid commented on #725
Is it related to this? #568

[2015-11-26 05:46] piiswrong commented on #721
nm libmxnet.so | grep culibosOnce on my machine returns nothing. Do you have any custom CCFLAGS or LDFLAGS?
Maybe try make clean_all, pull mxnet and update submodule, then build everything again?

[2015-11-26 06:35] tqchen commented on #722
This could be the reason, because the weight is binded with a shared variable, and current graph optimizer is yet not smart enough to change the gradient summation to an addto to the original variable.
 Either we directly bind by ndarray, or make the graph executor smarter to handle the addto case more gracefully

[2015-11-26 06:54] qiaohaijun commented on #719
thx @mli  I will use the way you recommend

[2015-11-26 07:17] dongb5 commented on #675
I was also got by this GPU memory problem with vgg network.

[2015-11-26 08:55] piiswrong commented on #675
I think there is either a bug with memory allocation or calculation of required memory. I suspect the later.
A simple way to check would be to comment out the memory requirement checking code and see if it goes out of memory.

[2015-11-26 09:08] caron-lee commented on #721
It's my fault. Thanks @piiswrong

[2015-11-26 09:08] #721 closed

[2015-11-26 10:16] kimquy06 commented on #544
I've just installed and got the same error when trying regression.

[2015-11-26 10:38] kelelexu commented on #714
[code.txt](https://github.com/dmlc/mxnet/files/44850/code.txt)

Auto detect layout of input matrix, use rowmajor..
 Show Traceback

 Rerun with Debug
 Error in mx.ctx.default() :
  object 'mx.ctx.internal.default.value' not found

[2015-11-26 11:14] Strateus commented on #655
Now i have some error during compilation:
[code]
Any suggestions?

[2015-11-26 11:58] korneil opened #727 "Deep Belief Network"
Is there any implementation of DBN in mxnet?

[2015-11-26 12:04] starimpact commented on #699
for example:
[code]
run  ```write_onserver``` on the gpu1 of server(server has several gpus). and then copy the ```hi.bin``` to the local laptop. my laptop only have 1 gpu, then run ```read_onlaptop```. It will be failed.
But, If I run ```write_onserver``` on the gpu0 of server, and then copy ```hi.bin``` to the local laptop. then run ```read_onlaptop```. It will be success.

[2015-11-26 12:09] Strateus commented on #675
Where i can find this code to comment out?

[2015-11-26 15:23] zmactep opened #728 "Cannot build with CUDA support on El Capitan"
Cannot build library with CUDA and cuDNN support on El Capitan. I use latest CUDA Toolkit (7.5) and cuDNN (3.0).

Error is:
[code]

My config.mk:
[code]

[2015-11-26 15:36] thirdwing commented on #544
@kimquy06 Sorry I can't reproduce this error any more.

Can you tell me your OS and R version? If you are on Linux/Mac, the compiler version will be also useful.

[2015-11-26 15:39] thirdwing commented on #714
Can you try to not use mxnet training in a for loop? It should work.

Error in a for loop or in a function is a known issue on some version of R.

[2015-11-26 15:46] kelelexu commented on #714
OK, I will have a try and give a feedback later. Thanks so much.

2015-11-26 16:39 GMT+01:00 Qiang Kou (KK) <notifications@github.com>:

--
Kele Xu, PhD Student of Université Pierre et Marie CURIE
Institute Langevin(Vauquelin Campus)
10, Rue Vauquelin
75231 PARIS Cedex 05
FRANCE

[2015-11-26 16:02] erogol opened #729 "Error at Cifar-recipe example"
After I run the model.fit(...) cell I see that error

[code]

[2015-11-26 16:45] kelelexu commented on #714
Sorry to disturb again. I have delete the loop for training, but the issue
remains.

model <- mx.mlp(data.matrix(x[nonval.ind,]), y[nonval.ind],
hidden_node=c(400,100),
+                   out_node=2, out_activation="softmax",
+                   num.round=12, array.batch.size=50,
+                   learning.rate=0.01, momentum=0.5,
+                   dropout = 0.5, activation = "tanh",
+

[2015-11-26 17:17] thirdwing commented on #714
I am the person who should say sorry.

I think I can give you a temporary fix. Can you run `init.context.default()`  first and your code?

I will fix this soon.

[2015-11-26 17:19] tqchen commented on #699
This is because pickle is being royal to the device of the array. You can copy the parameters to cpu first before you save the parameters, which is lone additional line. This is also what was happening in the background when you pickle

[code]

[2015-11-26 17:25] kelelexu commented on #714
Error: could not find function "init.context.default"

[2015-11-26 19:40] piiswrong commented on #729
The examples under notebooks are outdated. You are welcome to submit a fix or use examples under image-classification.

If you want to fix this, I suggest changing the name of SoftmaxOutput to softmax

[2015-11-26 19:40] thirdwing commented on #714
Which version of R you are using? Can you send me the data?

[2015-11-26 19:40] piiswrong commented on #728
are you using make/os.mk?

[2015-11-26 19:41] piiswrong commented on #727
You mean RBM? not yet

[2015-11-26 19:42] #694 closed

[2015-11-26 19:43] #554 closed

[2015-11-26 19:45] #507 closed

[2015-11-26 19:46] #720 closed

[2015-11-26 19:48] piiswrong commented on #706
which blas are you using. Could you try atlas? sudo apt-get install libatlas-dev and change USE_BLAS to atlas

[2015-11-26 19:55] kelelexu commented on #714
_
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          2.1
year           2015
month          06
day            18
svn rev        68531
language       R
version.string R version 3.2.1 (2015-06-18)
nickname       World-Famous Astronaut

​
 test.csv
<https://drive.google.com/file/d/0B4PQ-d-kGAcrei1uV2xzNU

[2015-11-26 22:36] rodrigob commented on #554
I do not get why was this ticket closed. Was the feature implemented ?

[2015-11-26 23:23] antinucleon commented on #729
Please use this example to train CIFAR-Network; https://github.com/dmlc/mxnet/tree/master/example/image-classification

[2015-11-27 02:57] hjk41 commented on #655
This is a bug bring in recently. Fixing...

On Thu, Nov 26, 2015 at 7:14 PM, Igor S <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-27 03:10] hjk41 commented on #655
PR #731 (https://github.com/dmlc/mxnet/pull/731) should fix this. Please
wait till it is merged.

On Fri, Nov 27, 2015 at 10:56 AM, Chuntao HONG <chuntao.hong@gmail.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-27 03:34] hjk41 commented on #655
OK. it is merged. Please have another try. :-)

On Fri, Nov 27, 2015 at 11:10 AM, Chuntao HONG <chuntao.hong@gmail.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-27 03:37] kimquy06 commented on #544
Hi @thirdwing , I use R version 3.2.2, gcc (Ubuntu 4.8.4-2ubuntu1~14.04) 4.8.4

[2015-11-27 04:42] thirdwing commented on #544
Then it is quite weird, since I can run the code without error?

Did you checkout the latest code and compile it by yourself?

[2015-11-27 05:02] wangg12 opened #732 "train_iter error in simple_bind example?"
[code]
This is in simple_bind example. It seems this kind of iteration is wrong. How to fix it?

[2015-11-27 05:06] kimquy06 commented on #544
Yes, I did twice yesterday

[2015-11-27 05:26] antinucleon commented on #732
Sorry recently IO interface is changed and the example is not updated. It should be like
[code]

[2015-11-27 05:28] wangg12 commented on #732
@antinucleon Thanks.

[2015-11-27 05:28] #732 closed

[2015-11-27 05:33] phunterlau commented on #728
looks like your BLAS is apple but link flag is to openblas which is installed by brew. will it be a problem? maybe you can try `openblas`?

[2015-11-27 07:21] Strateus commented on #655
I have same issue now as at the beginning:
[code]
I just copied new dll from build/Release to previous mxnet python installation, or i need to reinstall python build as well?

[2015-11-27 07:23] hjk41 commented on #655
Yes. Please reinstall.

On Fri, Nov 27, 2015 at 3:21 PM, Igor S <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-27 07:30] Strateus commented on #655
Now its very strange, i tried to import it twice in a row and there are different errors:
[code]

[2015-11-27 07:31] Strateus commented on #655
btw im cloning master, maybe i need to clone some branch?

[2015-11-27 08:13] zhubuntu opened #735 "I can't enter the main function"
i can't enter the main function with this code in my program
[code]
but it worked with
[code]

[2015-11-27 08:53] hjk41 commented on #655
I am using master. Windows 10 with Python 3.4 x86_64.

Is it possible for you to try Python 3.4? I cannot install mxnet with
python 2.7 on my machine. It requires vcpython27, which only supports
windows 7/8/8.1.   @_@

On Fri, Nov 27, 2015 at 3:31 PM, Igor S <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-27 08:57] hjk41 commented on #655
a probably stupid question: are you using 32bit or 64bit python? You will
need 64bit python to use 64bit mxnet.

On Fri, Nov 27, 2015 at 4:53 PM, Chuntao HONG <chuntao.hong@gmail.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-27 09:15] jimxinbo opened #736 "NDArrayIter Shuffle Reproducibility"
I cannot repeat the results every time I ran the same script.

If I fix some seeds on the initialization of the weights and set shuffle==False in mx.io.NDArrayIter. I can repeat the same results. But if I set shuffle==True in mx.io.NDArrayIter. Even by adding a mx.random.seed() before calling mx.io.NDArrayIter, I cannot get consistent results every time.

Is this because I cannot seed the shuffle

[2015-11-27 12:16] Strateus commented on #655
i replied to that earlier - im using 32 bit python. So there is no way to install on 32 bit python under windows?

[2015-11-27 13:33] korneil commented on #727
Or stacked RBMs. Okay, thanks for answer!

[2015-11-27 13:37] wangg12 commented on #729
Fixed in PR #737

[2015-11-27 15:02] baoqingping commented on #647
@pluskid
I try to train a multi-label net.  I use the im2rec tool to create a 2-label dataset. As you said, I define the symbols as follows
[code]
then I run the code and an error occured:
[code]
I have no idea how to fix it .
and how cound I know whter softmax1 corresponds to label_1 and softmax2  corresponds to label_1

[2015-11-27 21:32] worldveil commented on #531
@winstywang @tqchen Hmmm as someone who isn't an extremely fluent C/C++ programmer, I don't know how to proceed. My use case is quite simple, I'd like to:

* Load a model file that was already trained in Python
* Load image file(s)
* Output a prediction(s)

in C++. If putting together an example like this is so difficult, then Tensorflow seems a much better choice. (Not in any way on a knock on th

[2015-11-28 00:15] antinucleon commented on #664
https://github.com/dmlc/mxnet/tree/master/example/neural-style

[2015-11-28 02:22] phunterlau commented on #664
so cool, how is the speed? let me write a blog for advertising it.

[2015-11-28 02:39] piiswrong commented on #736
You need to also seed numpy and random to guarantee reproducibility.
@tqchen should we also seed those in mx.random.seed by default?

[2015-11-28 02:42] piiswrong commented on #735
Could you be more specific? How are you using this code? What's the error?

[2015-11-28 03:14] mli commented on #664
not well done yet. @antinucleon is still on training a smaller model to make it fast

[2015-11-28 04:15] zhubuntu commented on #735
I use the  pre-built packages on Windows，[the cpu-only version](https://github.com/dmlc/mxnet/releases)，i run the setupenv.cmd and the open the MxnetTestAPP.sln with VS2013.
There is no erro message when i compile it ,but when i run it ,i found it can‘t enter the main function.
the function is
[code]
but it worked with
[code]

[2015-11-28 04:19] leocnj commented on #728
I met the same issue as reported by @zmactep. I changed "USE_BLAS = openblas" and then got the following new error

     ld: library not found for -lopenblas
     clang: error: linker command failed with exit code 1 (use -v to see invocation)

Just FYI: w/o using GPU, I can compile mxnet successfully on Mac OS X 10.11.

[2015-11-28 04:36] piiswrong commented on #728
@leocnj you need to install openblas first

[2015-11-28 04:42] leocnj commented on #728
@piiswrong I already installed openblas through brew. This is also why I can compile mxnet (only on the CPU running condition) successfully.

Now, I truly need the function to use GPU to work. Just found a [SO Q/A][http://stackoverflow.com/questions/11632919/cuda-programming-and-xcode] talking about a similar issue. It looks that clang and cuda may have a communication issue. Hope this link will l

[2015-11-28 12:27] denghw commented on #381
I tryed multi-loss by adding another softmax layer. I name the two loss layers "softmax1" and "softmax2" respectively, and then I used mx.symbol.Group to combine them together. However, an error will occur saying that "argument name softmax_label not found" . I traced the error and found that the dataiter.provide_data contains "softmax_label" and I guess it's the problem. How could I get it over?

[2015-11-28 13:30] qwzju0222 opened #743 "problem about exponential linear unit"
I found that you have realized ELU in mshadow_op.h, so I add it in activation-inl.h and try to test it.
But it seems divergent after runing some training epoches.
I use the network in 4.2 of elu paper and the following is part of my traning log.

2015-11-29 04:05:03,875 Node[0] Epoch[2] Train-accuracy=0.350284
2015-11-29 04:05:03,875 Node[0] Epoch[2] Time cost=79.385
2015-11-29 04:05:09,214 Node[0

[2015-11-28 15:00] vchuravy commented on #743
Firstly ELU is part of the Leaky activation functions, so you don't have to add it in activation-inl.h see #718

What `alpha` did you use? You can set it as slope in the Leaky activation function layer. Currently ELU is implemented following eq. 16 & 17 in the paper, but Caffe has a slightly different definition.

Could you replace:
[code]

with

[code]

in `src/operator/mshadow_op.h` and see if y

[2015-11-28 15:21] pluskid commented on #381
So the logic is if you have multiple loss, like "softmax1", and "softmax2", then you will need to provide labels for them in your data iterator, like "softmax1_label" and "softmax2_label". Otherwise, it does not know how to evaluate the losses.

[2015-11-28 15:38] zachmayer commented on #664
I tried the example, and got `Please compile with CUDA enabled`.  Is it silly to try to run this example without cuda?  I don't need a ton of speed and want to try it on a device without a gpu.

[2015-11-28 19:11] mli commented on #664
use --gpu -1 to disable gpu
On Sat, Nov 28, 2015 at 10:39 AM Zach Mayer <notifications@github.com>
wrote:

[2015-11-28 20:17] phunterlau commented on #664
Just an estimation that the Lua version took about 40-60 minutes on CPU and 2 min on GPU, so we may expect 20-30 min on CPU with mxnet

[2015-11-28 21:52] nowozin commented on #647
@pluskid What is the semantics of using multiple loss functions in a `Group` within the context of `FeedForward`?

I would guess that the sum of all elements in the `Group` is being minimized.  If this is the case, maybe the documentation of `FeedForward` and multiple losses should clearly state this.

[2015-11-28 23:15] nowozin opened #744 "cv::imencode link error when building im2rec on Ubuntu 15.10"
Using Ubuntu 15.10 on x86_64 with `libopencv-dev` installed (`Version: 2.4.9+dfsg-1ubuntu6`) the following linker error results when compiling mxnet with OpenCV support.  I copy `make/config.mk` to the main directory, enable OpenCV and compile with `make`, producing the output:

[code]

[2015-11-28 23:27] pluskid commented on #647
@nowozin Yes, one could think of it a a sum. Or alternatively, one could think that each loss function is back-propagating gradients (independently) and the gradients get merged for each parameter. The LSTM example (in Julia) use grouped multi-loss in `FeedForward` for example.

I'm not sure how and where should we document this. Because it seems very natural to me (maybe because I already know th

[2015-11-29 09:07] piiswrong commented on #744
Could you run `pkg-config --libs opencv` and post your output?

[2015-11-29 09:57] zhoubinxyz opened #745 "recipe for target 'bin/im2rec' failed"
build/ndarray/unary_function_gpu.o: In function `_GLOBAL__sub_I_tmpxft_00004ed5_00000000_4_unary_function.cudafe1.cpp':
/home/zhoub/mxnet/src/ndarray/./unary_function-inl.h:87: undefined reference to `mxnet::common::TBlobOpRegistry::__REGISTER_OR_FIND__(std::string const&)'
/home/zhoub/mxnet/src/ndarray/./unary_function-inl.h:91: undefined reference to `mxnet::common::TBlobOpRegistry::__REGISTER_O

[2015-11-29 11:15] zhoubinxyz commented on #745
I have tried to compile without CUDA, and it success.

[2015-11-29 11:30] jimxinbo commented on #736
Thx piiswrong, to also seed numpy solved it.

[2015-11-29 11:30] #736 closed

[2015-11-29 11:51] zhoubinxyz commented on #745
The problem is the version of g++ or gcc I am working with.
It is very similar with caffe's problem you may referred to https://groups.google.com/forum/#!msg/caffe-users/a6TDx89IByY/49ZD6rtyCwAJ

[2015-11-29 12:34] nowozin commented on #744
[code]

And also
[code]

[2015-11-29 17:02] kayhan-batmanghelich opened #747 "support for 3D convolution"
Dear Developers,

MXNET is a great tool. I really enjoyed the performance and the design of the interface. I was wondering if there is  any plan to add 3D convolution and 3D pooling? Having 3D support in addition to the distributed computation (which is already there in MXNET) would be tremendously helpful in medical imaging applications where images are volumetric (3D).

My understanding is that

[2015-11-29 17:13] kayhan-batmanghelich commented on #583
Hi @korneil, thanks for the post. I was wondering if you manage to get it running?

[2015-11-29 19:56] piiswrong commented on #744
I don't really know what happened, but maybe you can try adding the output of `pkg-config --libs opencv` to LDFLAGS in config.mk

[2015-11-29 22:42] antinucleon opened #748 "[Operator] Wrong weight shape with group in conv and deconv"
eg, group = 2, kernel=(3, 3), in = 4, out = 4
inferred shape: (4, 4, 3, 3)
dynamic shape required in Forward: (2, 2, 2 * 3 *3)

[2015-11-29 22:56] antinucleon commented on #747
Hi Kayhan,

Thanks for using MXNet. @lukemetz is working on this, and a WIP PR can be found at:
https://github.com/dmlc/mxnet/pull/687

After it is finished, we will support 3D conv

[2015-11-29 23:57] piiswrong commented on #747
Hi,
Thanks for the interest. @korneil is working on this but hasn't updated for a while.

[2015-11-30 01:40] hjk41 commented on #655
The pre-built binary distribution is 64bit. So you will need 64bit python
to use that package. I think it is also possible to built 32bit mxnet and
use it in 32bit python. Let me have a try.

On Fri, Nov 27, 2015 at 8:16 PM, Igor S <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-30 02:19] yib2 opened #749 "ld: library not found for -lgomp"
I thought this problem occurred because wrong setting on gcc or opencv, probably. Is there anyone having the same problem? I have reinstall all dependencies and Xcode itself. It doesn't work.

/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ranlib: file: lib/libmxnet.a(mxrtc.o) has no symbols
clang: warning: argument unused during compilation: '-pthread'
ld:

[2015-11-30 04:47] qiaohaijun commented on #749
mac?

[2015-11-30 05:54] zmactep commented on #728
I've attached paths for `openblas` from Homebrew, as I found here: http://www.binwang.me/2015-11-08-install-blas-library-for-mxnet.html. After that I could build the library w/o CUDA support. And now I'm trying to have a GPU version.

@piiswrong yes, I use modified `make/osx.mk`.

[2015-11-30 05:57] qiaohaijun opened #751 "[dist-train] how to get the top5 accuracy of imagenet"
those days I am trying the distributed train of imagenet, but I can't find the option that configure the accuracy of top1,top5.

can you give me a  a link to  the documents?

[2015-11-30 06:00] qiaohaijun opened #752 "[dist-train] configure the NIC"
the machine I used has three NIC, one of these is a infiniband device.

Is it feasible to add a option to chose the NIC?

[2015-11-30 06:03] qiaohaijun opened #753 "[dist-train] thread not close"
I follow the guide
https://github.com/dmlc/mxnet/tree/master/example/image-classification

I find that when the train job is over, the thread on machines is not closed .

[2015-11-30 06:05] qiaohaijun commented on #753
I train model on 7 and 15 GPU machines which equipped with four K40m gpu card

[2015-11-30 06:27] piiswrong commented on #735
@zhubuntu you probably want to take a look at this: https://github.com/dmlc/mxnet/pull/750

[2015-11-30 06:30] piiswrong commented on #751
You'll need a custom metric for that, check python/mxnet/metric.py

[2015-11-30 06:35] hjk41 commented on #735
I am working on some C++ examples. In in pull request you can find the
first example, which uses the NDArray interface directly to perform a
simple c = a + b. Stay tuned for more examples.

On Mon, Nov 30, 2015 at 2:27 PM, Eric Junyuan Xie <notifications@github.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-11-30 07:38] caprice-j commented on #531
I'm now making a C++ program which reads a pre-trained model and classify a jpg file. Here is the current program (still incomplete): https://github.com/caprice-j/mxnet/blob/master/example/image-classification-cplusplus/predict.cc

I succeeded as to calling MXPredCreate() with no compile error, but when I executed the C++ program it showed:

$ ./predict
[16:19:22] ./dmlc-core/include/dmlc/./loggin

[2015-11-30 08:00] yib2 commented on #749
yes

Sent from my iPhone

[2015-11-30 08:14] futurely commented on #376
The creator of Keras has proposed a new RNN API to support dual-backend of TensorFlow and Theano aiming to be "[the best solution for RNNs going forward](https://github.com/fchollet/keras/issues/1014#issuecomment-158136484)".

[2015-11-30 08:38] gouchangjiang commented on #714
hi, guys, I have across the same problem in Ubuntu. Did you find any solution? Thanks in advance.

[2015-11-30 09:07] qiaohaijun commented on #751
@piiswrong I will try it

[2015-11-30 09:13] kelelexu commented on #714
Hi, I have just re-install the packages using:
install.packages("drat", repos="https://cran.rstudio.com")
drat:::addRepo("dmlc")
install.packages("mxnet")
then it work.

[2015-11-30 11:31] gouchangjiang commented on #714
I have solved this by reinstall R package! Maybe the error is caused by installing from Rstudio but not the R CMD INSTALL command.

[2015-11-30 11:39] zhubuntu commented on #735
@piiswrong I tried your program,and it shows
[code]
but it can load the libmxnet.dll.
There must be something wrong with my project.Can you tell me how do you config your project?or send me your project file by email,my email is zhubuntu@163.com.
thank you very much.

[2015-11-30 11:41] gouchangjiang commented on #714
It works just onetime and then the error occurs again!

[2015-11-30 12:20] caprice-j commented on #531
I added the following lines, hoping to "register" FullyConnected and the other symbols.

  SymbolHandle myHandle;
  MXSymbolCreateFromJSON((const char* ) jsonStr.buf, &myHandle);

But the program returned:

[21:16:26] ./dmlc-core/include/dmlc/./logging.h:208: [21:16:26] src/operator/operator.cc:19: Cannot find Operator FullyConnected in registry
[21:16:26] ./dmlc-core/include/dmlc/./logging.h:208:

[2015-11-30 12:22] aravindsiv commented on #714
Facing the same error; just like @gouchangjiang commented, it works just once, and then it occurs again.

[2015-11-30 13:26] erogol opened #756 "Does MXnet support model parallelism ?"
I would like to share model parameters over different GPUs. Is it doable with MaxNet?

[2015-11-30 13:51] erogol opened #757 "Support FP16"

[2015-11-30 14:19] leocnj commented on #728
@zmactep I reached the same stage as you did - compiling w/o CUDA works. When trying enabling GPU, what kind of errors have you met?  The below is the error I met:

     ld: library not found for -lopenblas
     clang: error: linker command failed with exit code 1 (use -v to see invocation)

Thanks.

[2015-11-30 14:21] leocnj commented on #749
You may follow the solutions used in #728 to at least successfully compile a CPU version using openblas on Mac OS X 10.11.

[2015-11-30 15:06] thirdwing commented on #749
I think this is because your compiler doesn't have OpenMP support.

[2015-11-30 15:53] antinucleon commented on #756
Yes. I will use LSTM make such an example soon.

[2015-11-30 15:58] antinucleon commented on #757
We have DType template parameter which allow all code to be compiled with fp16, however we don't have enough hands to implement it. Could you consider to PR one? We can offer kinds of help.

[2015-11-30 16:38] qiaohaijun commented on #756
great news！

[2015-11-30 16:39] qiaohaijun commented on #753
centos 7.1
g++ 4.8
python 2.7

[2015-11-30 17:51] thirdwing commented on #714
Hi, just make sure all of you met the same `'mx.ctx.internal.default.value' not found` error, right?

I will look into this soon.

[2015-11-30 18:27] kelelexu commented on #714
Yes, one potential solution for me is to close R stuido and load the
library again, then it will work for a short time.

2015-11-30 18:51 GMT+01:00 Qiang Kou (KK) <notifications@github.com>:

--
Kele Xu, PhD Student of Université Pierre et Marie CURIE
Institute Langevin(Vauquelin Campus)
10, Rue Vauquelin
75231 PARIS Cedex 05
FRANCE

[2015-11-30 18:39] qiaohaijun opened #758 "[alexnet] what about the alexnet result"
I try inception-bn, the result is almost the same with the one that guide show, but when I try alexnet I failed. The validation-accuracy of alexnet model is very low.

[2015-11-30 18:40] qiaohaijun commented on #758
7 x 4 k40m
use the surperparameter of googlenet with bn

[2015-11-30 18:48] thirdwing commented on #714
OK. Can you try to add `ctx=mx.cpu()` in `mx.mlp`, just like

[code]

[2015-11-30 18:50] kelelexu commented on #714
I have tried it, but the problem remains there.

2015-11-30 19:48 GMT+01:00 Qiang Kou (KK) <notifications@github.com>:

--
Kele Xu, PhD Student of Université Pierre et Marie CURIE
Institute Langevin(Vauquelin Campus)
10, Rue Vauquelin
75231 PARIS Cedex 05
FRANCE

[2015-11-30 18:57] piiswrong commented on #757
on a side note f16 currently won't improve performance on NVIDIA cards.

[2015-11-30 18:58] #699 closed

[2015-11-30 18:58] #676 closed

[2015-11-30 19:07] phunterlau commented on #664
just had some quick benchmark plus comparison with Lua version, as well as some tricks for better results.

1. Memory: with the same image size of 512px, Lua version takes 2868MB memory while mxnet takes 1498MB. It makes mxnet unique advantages that, laptop users can try neural art because most laptop has <2GB GPU memory, also mxnet can train larger pictures on my poor man's GTX 960 4 GB, where 80

[2015-11-30 19:26] antinucleon commented on #664
@phunterlau Guess we can make a cool blog about your finding and post in reddit or other place. For cuDNN bug, I still don't have any idea yet.

[2015-11-30 19:30] antinucleon commented on #664
If switch to CuDNN, we can make at least 40% faster. So think speed won't be an issue.

[2015-11-30 19:36] phunterlau commented on #664
most people don't have CuDNN and they just want to have a try without pain from installing Lua, so for a blog post (if mxnet committee agrees for a blog, I can start drafting one), CuDNN is not needed. As to the ultimate solution, CuDNN is worth doing, considering a GTX 980 can reach 50s, so a Titan X with CuDNN can make it 20 s? It is an significant improvement.

If it is OK with a blog now, I ca

[2015-11-30 19:43] phunterlau commented on #749
if the machine has only one CUDA GPU, OpenMP is not really needed. BLAS can handle multi-CPU, either Apple's blas or openblas. I suggest `USE_OPENMP=0` in `config.mk`. It solved my installation problem on mac.

[2015-11-30 20:35] antinucleon commented on #640
Done. https://github.com/dmlc/mxnet/pull/746

[2015-11-30 20:35] #640 closed

[2015-11-30 20:59] caprice-j commented on #749
Try

brew install clang-omp
make CXX=clang-omp++

It worked for me.

[2015-11-30 21:56] yib2 commented on #749
Thanks for your share.
It works for me. Just realize that gcc always makes things messy and costs long time to compile.

[2015-11-30 23:48] phunterlau commented on #664
For people who want a CPU only benchmark, here it is: on clang-omp CPU only with 2 cores from an i7 macbook pro, for having the same result, it takes 39 mins total. Will a faster learning rate on `lr` will help? current it is 0.1. I am going to experiment more with GPU anyway.

[2015-12-01 00:08] qiaohaijun commented on #752
I read code, find a env var “DMLC_INTERFACE”，I execute “export DMLC_INTERFACE＝“ib””， solve the problem

[2015-12-01 00:08] qiaohaijun commented on #752
please close this issue

[2015-12-01 00:25] qiaohaijun commented on #752
maybe if this can pass by a command line parameter is better?

[2015-12-01 01:15] antinucleon commented on #758
Batch Norm enable us train with much larger learning rate. However, large learning rate is harmful for many other network without batch norm.

[2015-12-01 01:59] hjk41 commented on #735
I did some patching to ndarray.h. You will need that patch to get it
working.

I am merging PR #750, after it is finished, you should be able to use the
code directly. Remember to rebuild libmxnet.dll before trying the c++
example.

If you cannot wait (since pre-merge checking takes some time), you can also
manually clone the repository from: https://github.com/hjk41/mxnet

On Mon, Nov 30, 2015 at

[2015-12-01 03:22] zhubuntu commented on #735
@piiswrong I rebulit the libmxnet.dll as you say ,it can compile right but  can't enter the main funciton .The program stucks with the ntdll.dll. But my python works well.

[2015-12-01 03:25] hjk41 commented on #735
what do you mean by "stuck with ntdll.dll"? Does the program crash or it
just stuck on loading that dll? Sometimes Visual Studio will try to load
DLLs one by one, loading their debug symbols, which can be really slow. Are
you experiencing this issue?

On Tue, Dec 1, 2015 at 11:22 AM, zhubuntu <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-12-01 03:53] zhubuntu commented on #735
@hjk41 It can load all the DLLs right ,but it just can't go to the next step.This semms like pause at the ntdll.dll. I just begin learning C++ so I don't know what's going on.Here is the Screenshot.I dont't know if you can read chinese or not.
![Image of running](http://ww4.sinaimg.cn/mw690/a5c043e5jw1eyk0cjfue9j20h40hm0tz.jpg)

[2015-12-01 05:08] qiaohaijun commented on #757
@piiswrong do you mean the next genaration gpu support ?

[2015-12-01 05:27] starimpact commented on #705
@thirdwing Can you tell what did you do when you moved mxnet into TK1?

[2015-12-01 06:14] zmactep commented on #728
This lines solved my problem:
[code]

[2015-12-01 06:14] #728 closed

[2015-12-01 06:52] aravindsiv commented on #714
@thirdwing I tried that too, but it gives me the following error:

Error in mx.model.FeedForward.create(out, X = data, y = label, ctx = device,  :
  formal argument "ctx" matched by multiple actual arguments

[2015-12-01 07:43] qiaohaijun commented on #758
I change lr to 0.005 and wd to 0.0005 get better result

[2015-12-01 07:59] were opened #759 "Compilation failed when using intel mkl on OS X 10.11"
I attempted to install mxnet with BLAS = mkl.

It failed at linking phase.

Here is the error log.

[code]

[2015-12-01 08:27] qiaohaijun opened #760 "[initialization] how to initial every symbal?"
these days I begin use mxnet to train model.
who can give me some doc about initialize every symbol that like caffe does?

[2015-12-01 09:03] piiswrong commented on #759
are you using make/os.mk?

[2015-12-01 09:12] starimpact commented on #705
problem is solved.
the reason is that dmlc-core can't be cleaned when use ```make clean``` under the mxnet.

[2015-12-01 09:15] #705 closed

[2015-12-01 09:49] qiaohaijun commented on #758
@antinucleon
I use lr =0.05 and wd =0.005 this configure work fine on caffe alexnet model, but not well in mxnet. Can you give your configure?

[2015-12-01 11:52] starimpact opened #762 "There is too little cpp examples."
No document of describing how to build a Deep Network with CPP.:cry:

[2015-12-01 12:06] yib2 opened #763 "Customized mlogloss eval_metric in R"
I tried to customize mlogloss evaluation metric, but when i set a small array batch size, it failed to match the length of label and pred. Does anybody try to write a customized mlogloss function in R?

[2015-12-01 12:49] qiaohaijun opened #764 "[alexnet] alexnet +bn get good result"
2015-12-01 20:25:35,285 Node[0] Epoch[0] Train-accuracy=0.107807
2015-12-01 20:25:35,285 Node[0] Epoch[0] Time cost=1296.379
2015-12-01 20:25:53,233 Node[0] Epoch[0] Validation-accuracy=0.204680

[2015-12-01 12:50] qiaohaijun commented on #764
but if use the original alexnet model, I get the following result:

2015-12-01 20:46:17,753 Node[0] Update[2503]: Change learning rate to 0.04700
2015-12-01 20:46:18,138 Node[0] Epoch[0] Train-accuracy=0.000969
2015-12-01 20:46:18,138 Node[0] Epoch[0] Time cost=1006.859
2015-12-01 20:46:39,549 Node[0] Epoch[0] Validation-accuracy=0.001156

[2015-12-01 12:50] qiaohaijun commented on #764
one machine four gpu cards
k40m

[2015-12-01 13:24] qiaohaijun commented on #760
layers {
  name: "fc8"
  type: INNER_PRODUCT
  bottom: "fc7"
  top: "fc8"
  blobs_lr: 1
  blobs_lr: 2
  weight_decay: 1
  weight_decay: 0
  inner_product_param {
    num_output: 1000
    weight_filler {
      type: "gaussian"
      std: 0.01
    }
    bias_filler {
      type: "constant"
      value: 0
    }
  }
}

[2015-12-01 13:26] qiaohaijun commented on #760
layers {
  name: "conv5"
  type: CONVOLUTION
  bottom: "conv4"
  top: "conv5"
  blobs_lr: 1
  blobs_lr: 2
  weight_decay: 1
  weight_decay: 0
  convolution_param {
    num_output: 256
    pad: 1
    kernel_size: 3
    group: 2
    weight_filler {
      type: "gaussian"
      std: 0.01
    }
    bias_filler {
      type: "constant"
      value: 0.1
    }
  }
}

[2015-12-01 13:59] were commented on #759
I changed some options in os.mk.

I know I was `BLAS = apple` before.

I just want to make sure whether mkl works well.

[2015-12-01 15:16] thirdwing commented on #705
@starimpact Congrats! I started from `git clone` and I think that's why I didn't met this problem.

[2015-12-01 17:11] thirdwing commented on #714
@aravindsiv Can you also post a **minimal** reproducible case?

[2015-12-01 17:14] thirdwing commented on #714
@kelelexu When I run the code you provide, I got

[code]

Can you remove other things and only keep `mxnet`-related code?

[2015-12-01 20:06] piiswrong commented on #762
It's not very hard to figure out. Just trace the python code through c_api.cc to their c++ bindings.
You are welcome to submit a PR for this.

[2015-12-01 20:11] piiswrong commented on #764
As mentioned in your previous issue. You need to scale down learning rate if not using bn

[2015-12-01 20:11] #764 closed

[2015-12-01 20:27] antinucleon commented on #758
It may be caused by different gradient scale method. Usually without BN, I use LR=1e-2 at start.

[2015-12-01 20:28] antinucleon commented on #753
What's the meaning of thread is not closed? Do you mean process?

[2015-12-01 22:11] suhangpro opened #767 "rgb or bgr?"
I found two examples about making predictions using pre-trained models:
1) [mxnet/example/notebooks/predict-with-pretrained-model.ipynb](https://github.com/dmlc/mxnet/blob/master/example/notebooks/predict-with-pretrained-model.ipynb)
2) [mxnet/tests/python/predict/mxnet_predict_example.py](https://github.com/dmlc/mxnet/blob/master/tests/python/predict/mxnet_predict_example.py#L40)

In 2) there is

[2015-12-01 23:31] antinucleon commented on #767
Sorry for the out-of-dated doucments. MXNet receive RGB image, and in internal, it is BGR. We will update it soon, or would you consider to send a PR to delete BGR info in document? Thanks

[2015-12-02 01:46] starimpact commented on #762
I'm working on it.

[2015-12-02 01:48] kaishijeng opened #768 "compiling failed with GPU enabled"
Hi,

Compile with CPU only is OK. But encountered with the following error when CUDA/CUDDN is enabled:

g++ -std=c++0x -DMSHADOW_FORCE_STREAM -Wall -O3 -I./mshadow/ -I./dmlc-core/include -fPIC -Iinclude -msse3 -funroll-loops -Wno-unused-parameter -Wno-unknown-pragmas -I/usr/local/cuda/include -DMSHADOW_USE_CBLAS=1 -DMSHADOW_USE_MKL=0 -DMSHADOW_RABIT_PS=0 -DMSHADOW_DIST_PS=0 -DMXNET_USE_OPENCV=1 `p

[2015-12-02 01:49] happygds opened #769 "Is there any example about LSTM with attention mechanism?"
I follow the file: example/rnn/lstm.py and try to write a LSTM Cell symbol with attention. Should I put the computing of relevance score outsize this cell or in it ? If in, how to represent the i-th feature vector and their dynamic weighted sum ?

[2015-12-02 01:49] piiswrong commented on #768
Where is you cudnn library? Did you put it in cuda folder or add it in CCFLAGS and LDFLAGS?
Is it cudnn v3?

[2015-12-02 01:50] piiswrong commented on #762
Thanks. BTW, how is your Faster RCNN implementation going?

[2015-12-02 02:01] starimpact commented on #762
it has been done.

[2015-12-02 02:01] starimpact commented on #762
Actually, I just implemented the RPN part of it.

[2015-12-02 02:12] tornadomeet commented on #767
@antinucleon @winstywang , so if the internel of MXNet is BGR, then the line [caffe_converter](https://github.com/dmlc/mxnet/blob/master/tools/caffe_converter/convert_model.py#L68) should be deleted?

[2015-12-02 02:13] starimpact commented on #699
thanks very much @tqchen

[2015-12-02 02:18] suhangpro commented on #767
I opened issue #765 , which removes the aforementioned line from  mxnet/tests/python/predict/mxnet_predict_example.py.

[2015-12-02 02:19] starimpact commented on #762
I still have no idea what ```const char* param_bytes``` is which is in function ```MXPredCreate```.
I guess it is the parameters of network, such as ```weight``` and ```bias```, but how I organize them for ```param_bytes``` ?

[2015-12-02 02:25] tqchen commented on #767
The internal is RGB, it is only BGR in opencv decoding staging, and transformed to rgb right after that

[2015-12-02 02:34] tornadomeet commented on #767
en, i see, so in this issue, just only need to delete ```sample = sample[:, :, [2,1,0]]``` in mxnet_predict_example.py

[2015-12-02 02:36] tqchen commented on #767
the predict loads in with skimage, which could already been rgb i guess

[2015-12-02 02:38] tornadomeet commented on #767
yes, it is rgb order in skimage, refer to (skimage.io.html)[http://scikit-image.org/docs/dev/api/skimage.io.html]

[2015-12-02 02:42] starimpact commented on #762
@piiswrong @tqchen

[2015-12-02 03:00] kaishijeng commented on #768
cudnn library are installed:

/usr/local/cuda/include
/usr/local/cuda/lib64

cudnn version:
cudnn-6.5-linux-x64-v2

[2015-12-02 03:09] piiswrong commented on #768
You need to replace it with cudnn v3
On Dec 1, 2015 7:00 PM, "kaishijeng" <notifications@github.com> wrote:

[2015-12-02 03:53] qiaohaijun commented on #758
@antinucleon I try again

[2015-12-02 04:41] leocnj opened #771 "R package installation fails on mac osx 10.11"
Following the instruction provided by the mxnet document

    install.packages("drat", repos="https://cran.rstudio.com")
    drat:::addRepo("dmlc")
    install.packages("mxnet")

I run the above commands in RStudio and met the following errors - mostly from the last step

    curl: (22) The requested URL returned error: 404 Not Found
    Warning in install.packages :
    download had nonzero exit

[2015-12-02 04:51] jmschrei opened #772 "Siamese Network"
Hello!

I am trying to use MXNet to build a Siamese network, where two networks share the same weights, and are optimized using a contrastive loss function, rather than softmax or MSE. I was looking for some insight into how to do this. A simplified version of my code is below.

[code]

I have multiple questions:

(1) How do I pass in the multiple inputs to the model using model.fit? I haven't bee

[2015-12-02 05:08] leocnj commented on #771
I also tried the second approach (using Rscript)  described in the document. Unfortunately, the last step "R CMD INSTALL mxnet_0.5.tar.gz" gave me the following errors

[code]
Any thought on how to successfully install R-package? Thanks.

[2015-12-02 05:11] tqchen commented on #771
One comment on second approach, I noticed you build with CUDA, consider add path to libcudart.7.5.dylib to your library path. I guess it is ```LD_LIBRARY_PATH```(it is in linux) but I am not 100 percent sure

[2015-12-02 05:11] #749 closed

[2015-12-02 05:15] leocnj commented on #771
After updating R to the latest 3.2.2, the first approach WORKS!

![image](https://cloud.githubusercontent.com/assets/4459248/11522816/ce3753c0-9889-11e5-8829-515e43bc4177.png)

[2015-12-02 05:15] #771 closed

[2015-12-02 05:22] szilard opened #773 "Support Sparse Matrix Input"
If one has categorical variables, that needs to be 1-hot encoded and the resulting matrix can be 100x or even 1000x bigger if dense rather than sparse representation is used. It seems mxnet currently supports only dense, and therefore it's easy to hit RAM limitations even with fairly small datasets on the largest EC2 GPU box g2.8xlarge with 60GB RAM.

For example a 10M row sample of the well knows

[2015-12-02 05:23] szilard commented on #773
@tqchen: you are fast :)

[2015-12-02 05:23] tqchen commented on #773
This could be helpful for some data science tasks. We had a CPU version in cxxnet, which could possibly be adopted

[2015-12-02 05:25] lorraine2015 opened #774 "make error on Mac OS X 10.11:ld: symbol(s) not found for architecture x86_64"
I installed opencv with brew. and I got a warning:
Warning: homebrew/science/opencv dependency gcc was built with a different C++ standardlibrary (libstdc++ from clang). This may cause problems at runtime.
Make error is like:
"operator delete(void*, unsigned long)", referenced from:
      dmlc::Error::~Error() in ccCQi1gp.o
ld: symbol(s) not found for architecture x86_64
collect2: error: ld return

[2015-12-02 05:28] leocnj commented on #728
@zmactep I used your line "ALL_LDFLAGS..." but still got the compiling errors. However, I found that changing it to **"ADD_LDFLAGS"** makes the compilation on my MBP successful.

Here is my complete config.mk file, which is based on make/osx.mk and has been expanded based on helpful suggestions here. I am sharing it to facilitate more OSX users to enjoy mxnet.

[code]

[2015-12-02 05:34] piiswrong commented on #772
1&2) I would recommend writing your own model and solver for non-feedforward models. It basically goes like this:
sym = build_your_model()
vars = allocate_your_variables()
exe = sym.bind(...) #if you want to share weight between x1 and x2, just set args = {'x1': X, 'x2': X...} i.e. bind them to the same variable. don't forget to also bind the gradient to the same variable.
while True:
  copy_data_

[2015-12-02 05:35] tqchen commented on #771
Glad it works for you, I would also recommend try the second approach, as it gives you R version with CUDA, while default OSX build from drat seems is CPU only

[2015-12-02 05:36] JianboTang commented on #722
has this problem been fixed?

[2015-12-02 05:37] thirdwing commented on #771
Just to be clear. In the drat repo, we only have CPU version for only R 3.2.*.

[2015-12-02 05:38] piiswrong commented on #772
On a second thought, this is actually a feed forward model. So if you want to use the standard API, try NDArrayIter. It takes a bunch of numpy arrays and create a dataiterator

[2015-12-02 05:46] winstywang commented on #773
We are working on Pickle iterator now. In this case, you can load the data store in sparse numpy ndarray format, and expand it to dense for each batch. This is a workaround just for now before mx ndarray supports sparse operations

[2015-12-02 05:55] antinucleon commented on #773
@winstywang expand it to dense is too expensive. I suggested save csr index and content in NDArray, and make a cuSparse Op to calculate with NDArrays.

[2015-12-02 06:00] winstywang commented on #773
@antinucleon Yes, that is a more elegant solution. That is why I call it a workaround... At least, we could solve the memory issue first. We only need to store one batch of dense data.

[2015-12-02 06:04] jmschrei commented on #772
Right. I am aware of NDArrayIter, but I am not sure how it assigns the arrays to the variables. Can you give a brief example?

[2015-12-02 06:37] caprice-j opened #775 "how to output svg for graph.viz() function"
I'm now executing R from iPython Notebook, and graph.viz() doesn't output its given network.
My ipython notebook can handle plot() and ggplot() output correctly.
Is there a way to render the output as svg or other formats?

Here's the code:

library(mxnet)
data <- mx.symbol.Variable("data")
 fc1 <- mx.symbol.FullyConnected(data, num_hidden=1024)
 lro <- mx.symbol.LinearRegressionOutput(fc1)
graph.

[2015-12-02 06:49] hetong007 opened #777 "Example of Super Resolution"
Besides the [Neural Art](https://github.com/dmlc/mxnet/tree/master/example/neural-style) example, I propose to make another interesting demo to do Super Resolution. The purpose of this demo is to enlarge a 2D anime plot with noise reduction.

One available online demo is http://waifu2x.udp.jp/
Its source: https://github.com/nagadomi/waifu2x

[2015-12-02 06:59] winstywang commented on #777
It is still an active research area. I saw several papers on arxiv last week. I think we should investigate which paper to implement first.

[2015-12-02 07:04] thirdwing commented on #775
This should be a problem from  DiagrammeR.

@pommedeterresautee Can you help?

[2015-12-02 07:23] qiaohaijun commented on #758
2015-12-01 20:25:35,285 Node[0] Epoch[0] Train-accuracy=0.107807
2015-12-01 20:25:35,285 Node[0] Epoch[0] Time cost=1296.379
2015-12-01 20:25:53,233 Node[0] Epoch[0] Validation-accuracy=0.204680

[2015-12-02 07:23] qiaohaijun commented on #758
but if use the original alexnet model, I get the following result:

2015-12-01 20:46:17,753 Node[0] Update[2503]: Change learning rate to 0.04700
2015-12-01 20:46:18,138 Node[0] Epoch[0] Train-accuracy=0.000969
2015-12-01 20:46:18,138 Node[0] Epoch[0] Time cost=1006.859
2015-12-01 20:46:39,549 Node[0] Epoch[0] Validation-accuracy=0.001156

[2015-12-02 07:23] qiaohaijun commented on #758
one machine four gpu cards
k40m

[2015-12-02 07:33] piiswrong commented on #772
by name. You allocated mx.sym.Variable('xxx') for your networks input symbol. That name must match your initialization dict for FeedForward model.

[2015-12-02 07:35] jmschrei commented on #772
Are you saying that NDArrayIter allows X to be a dictionary?

[2015-12-02 07:37] piiswrong commented on #772
Yes. The document seems to be outdated

[2015-12-02 08:46] piiswrong commented on #777
This is cool. Is anyone familiar with lua?

[2015-12-02 08:47] piiswrong commented on #777
BTW we should try to get some pr with our neural style example

[2015-12-02 09:04] antinucleon commented on #777
The reason why we don't PR neural art is: 1. CuDNN bug. 2. I think if we add bind on multi-device, it will be more powerful as we can generate higher resolution images, which all other alternatives can't.

[2015-12-02 09:23] wuxuewu opened #780 "【dist-train】 train cifar10 with multi-machine but something blocked"
I follow this(https://github.com/dmlc/mxnet/tree/master/example/image-classification) to train cifar10 with multi-machine,but nothing happened but this log:

[2015-12-02 09:24] wuxuewu commented on #780
2015-12-02 16:20:32,148 INFO rsync /public/wuxuewu/mxnet/mxnet-master/example/image-classification/ -> 10.78.165.245:/tmp/mxnet
2015-12-02 16:20:32,346 INFO rsync /public/wuxuewu/mxnet/mxnet-master/example/image-classification/ -> 10.78.140.142:/tmp/mxnet

[2015-12-02 09:32] wuxuewu commented on #780
1、I change launch.py  from '--sync-dir' to '--slave-dir'，because launch.py and dmlc_ssh.py is not same in the arg
2、the output above ‘ssh **’ is added for debug
@tqchen @piiswrong

[2015-12-02 09:40] starimpact opened #781 "same address for listarguments and listoutputs??"
when I call the following two functions, I found that ```out_str_array1``` and ```out_str_array2``` have same address. It may not be a critical problem, but I think it should be better if you can make the couple be different.
[code]
[code]

[2015-12-02 10:12] tornadomeet opened #782 "the stat of some layer is the same when using monitor.py"
@piiswrong i used monitor for debug today, and find some strange things, and i just run the [monitor_weights.py](https://github.com/dmlc/mxnet/blob/master/example/python-howto/monitor_weights.py),the output is like this:
[code]
1. the same stas output value between relu and it's previous  layer, in the whole training.
2. the same stas output value between softmax_output and it's previous layer, bo

[2015-12-02 10:40] winstywang commented on #782
For 1, 2, it is normal because relu and softmax_output is inplace, that means it will share the same memory.
For 3, I am not sure, it seems to be caused by the label. Could you output the label in the monitor to see what happened?

[2015-12-02 11:20] antinucleon commented on #781
I don't get your point. Does it hurt to reuse temp space?!

[2015-12-02 11:41] qiaohaijun commented on #758
@antinucleon I change the initialization parameter by hard code, and then a get a result that similar with caffe result.

[2015-12-02 13:51] leocnj commented on #771
@tqchen and @thirdwing thanks very much. Will try the second approach to enable GPU for the R-package.

[2015-12-02 14:23] brightown opened #784 "Is there a l2 loss layer in mxnet ?"
Does mxnet support l2 loss now?Like EuclideanLossLayer in caffe?
If I want to add other loss function, e.g. hinge loss,how to implement it?

[2015-12-02 14:38] brightown commented on #777
I recommand ：
http://arxiv.org/abs/1511.04587
http://arxiv.org/abs/1504.06993

[2015-12-02 15:33] jermainewang commented on #784
Hi, there are several ways to do that:
* If you wanna quick prototyping, use NumpyOp to implement it. The example is [here](https://github.com/dmlc/mxnet/blob/master/example/numpy-ops/numpy_softmax.py).
* If you are a python guy and do not want to touch C++ side, you could use MXNet RTC. The example is [here](https://github.com/dmlc/mxnet/blob/master/example/numpy-ops/ndarray_softmax.py). (Well, y

[2015-12-02 15:46] zachmayer commented on #773
I'd love to see sparse support in the R package too (using [Matrix](https://cran.r-project.org/web/packages/Matrix/index.html))

I'd be happy to help write related R code, if needed.

[2015-12-02 16:19] qiaohaijun commented on #780
DMLC_NUM_SERVER=0

[2015-12-02 16:32] antinucleon commented on #784
There is regression output op, which use L2 as loss

[2015-12-02 16:44] wangg12 opened #786 "How to create a custom metric function by mx.metric.np in python?"
For example, if I need a metric of "error rate" or some other metrics like that in R api, how to make it?

[2015-12-02 16:47] Moore123 opened #787 "About python skimge package version."
unbuntu 14.04.03 LTS platform python2.7 , install skimge by apt tools, that's an elder skimage version.

then in the file  neural-style/run.py should be correct as:
 from skimage.filter import denoise_tv_chambolle，#for versoin: 0.9.3

for new version of skimage package could be:
from skimage.restoration import denoise_tv_chambolle

[2015-12-02 16:49] pommedeterresautee commented on #775
I don t know how iPython works but the export of SVG from DiagrammeR requires a special version using V8 (https://github.com/rich-iannone/DiagrammeR/pull/79)

However, after email from R core team member, the support of V8 has been removed because it is hard to install/maintain/test on Cran server (we received an email too for XGBoost project).

Some background: https://github.com/rich-iannone/Dia

[2015-12-02 17:03] jermainewang commented on #786
You could use `EvalMetric` add pass it to the `model.fit` function with `eval_metric` parameter. You could see https://github.com/dmlc/mxnet/blob/master/python/mxnet/metric.py for more details.

[2015-12-02 17:09] jermainewang commented on #786
The `mx.metric.np` function takes a numpy function as the first argument which is of the form `callable(label, pred)`. It returns an `EvalMetric` object that should be passed to `model.fit` function with `eval_metric` argument.

See [here](https://github.com/dmlc/mxnet/blob/master/python/mxnet/metric.py#L94) and [here](https://github.com/dmlc/mxnet/blob/master/python/mxnet/model.py#L685) for more

[2015-12-02 17:10] jermainewang commented on #781
In which case will this matter?

[2015-12-02 17:13] jermainewang commented on #763
@tqchen Could you help on this?

[2015-12-02 17:13] suhangpro opened #788 "Some gpu/cpu related questions"
##### symbol binding
`NDArray` can be created on the device of choice, and the binding function also takes a 'ctx' as parameter. What's the intended behavior if they are declared differently?

For instance, here a and b are created on gpu(0) but the context of the generated executor is cpu(), where will the work be done on? The output indicates gpu(0). The same happens in reverse: the output will

[2015-12-02 17:22] tqchen commented on #781
It will not pose a problem, the requirement is that the data is copied out as soon as function finishes, and these temp variables are thread local

[2015-12-02 17:24] tqchen commented on #784
c.f. http://mxnet.readthedocs.org/en/latest/python/symbol.html#mxnet.symbol.LinearRegressionOutput
This page contains all the symbolic operators, maybe we should put the reference to ops to a more clear place

[2015-12-02 17:30] tqchen commented on #763
@hetong007

[2015-12-02 17:30] tqchen commented on #763
@thirdwing

[2015-12-02 17:49] erogol commented on #757
but still f16 means less memory, am I right or still GPU would consider it f32?

[2015-12-02 17:52] thirdwing commented on #763
@yib2 Can you share the function you used?

[2015-12-02 17:55] tqchen commented on #757
One step toward this is to support typed NDArray, and then we can add a typecast operator, and gradually add fp16 and fixed point support, things should not be hard as mshadow is templatized, and we don't have to re-implement most of the code

[2015-12-02 18:31] ddtm opened #789 "Variable-size input"
I wonder what the preferred way of dealing with variable-size inputs? Say, I'd like to train on batches of different sizes with different spatial dimensions (height and width).

Thanks!

[2015-12-02 18:33] piiswrong commented on #782
1,2 are actually bugs. I just fixed them. Monitors are injected in between inplace ops so that we can get all intermediary results.

3 is because we we don't backprop to label. So ignoring it should be fine.

[2015-12-02 18:44] pommedeterresautee commented on #775
After better search:
https://github.com/rich-iannone/DiagrammeRsvg !!!

[2015-12-02 18:52] yib2 commented on #763
mx.metric.mlogloss <- mx.metric.custom("mlogloss", function(label, pred){

  label <- as.factor(label)
  label_mat <- matrix(0, nrow = length(label), ncol = length(levels(label)))
  sample_levels <- as.integer(label)
  for (i in 1:length(label)) label_mat[i, sample_levels[i]] <- 1
  label <- label_mat
  #I tried to multiply label sparse matrix with prediction matrix, but it returned an error, like

[2015-12-02 19:19] thirdwing commented on #763
@yib2  It will be appreciated if you can also provide the code caused errors.

[2015-12-02 19:39] yib2 commented on #763
@thirdwing

setwd('/Users/yib2/Documents/Graduate/Kaggle/Digit_Recognizer')
require(mxnet)

mx.metric.mlogloss <- mx.metric.custom("mlogloss", function(label, pred){
  label <- as.factor(label)
  label_mat <- matrix(0, nrow = length(label), ncol = length(levels(label)))
  sample_levels <- as.integer(label)
  for (i in 1:length(label)) label_mat[i, sample_levels[i]] <- 1
  label <- label_mat

  lab

[2015-12-02 20:05] thirdwing commented on #763
So do you mind sharing the data?

Without the data to reproduce the error, I can only guess the error is from
[code]

or
[code]

[2015-12-02 20:22] yib2 commented on #763
My data is big. You can change the array.batch.size in minst example, and you will see the length of label and pred is changing, so as for mlogloss itself.

you may add a line: print(length(label)) to see how it happened.

[2015-12-02 20:45] jermainewang commented on #788
Hi,

Thank you for your question. For CPU, you could not specify the device id. The device id is only used for GPU. MXNet uses multi-threaded engine to utilize the multi-core power. You could set `MXNET_CPU_WORKER_NTHREADS` environment variable to specify how many threads (roughly how many cores) you would like to use.

[2015-12-02 20:55] thirdwing commented on #763
I think I know what you mean here and I just want to double check with your data.

In

[code]

You have made an assumption that `label` has labels for all classes, which is wrong when `array.batch.size` is small.

[2015-12-02 21:07] yib2 commented on #763
Yes. You got it. For a specific problem, I think i can fix it by setting the number of columns, but it is not suitable for general environment. That would be great if you add a new eval_metric in mxnet.
Thanks.

[2015-12-02 21:11] thirdwing commented on #763
You can use the line below for now.

[code]

[2015-12-02 21:11] #763 closed

[2015-12-02 21:12] jermainewang commented on #789
I am not sure about the exact details. One way I could think about is using a fixed-size inputs and a mask matrix that mask out those invalid input during training. This is what we did for LSTM.

[2015-12-02 21:22] suhangpro commented on #788
@jermainewang Many thanks! Btw do I need to adjust MXNET_CPU_PRIORITY_NTHREADS accordingly for cpu-only mode? Couldn't understand what "prioritized CPU jobs" means. Also any thoughts on my first two questions?

[2015-12-02 21:46] ddtm commented on #789
Thanks for the answer! I see two problems with this approach. For my use case during test phase I don't know max dimensions of my inputs ahead of time. The second problem is that the net will be doing unnecessary computations (it is especially bad if the size difference between an average input and the max is substantial). I think in Caffe this is solved by allowing tensors to be resized on demand

[2015-12-02 22:19] tqchen commented on #788
Normally you do  not have to. On CPU, most time consuming part are matrix multiplications, which is parallelized already if you use libraries such as openblas.

[2015-12-02 23:21] jermainewang commented on #769
Hi, currently we don't have attention LSTM yet. I would say put the computation of score out of the LSTM cell but maybe you could find some more efficient way to implement them together. In terms of detailed implementation, could you represent the attention weight using a tensor?

[2015-12-02 23:26] tqchen commented on #769
This is something @antinucleon is looking at, we will need some internal softmaxTransform operator

[2015-12-02 23:34] suhangpro commented on #647
@baoqingping did you figure out the fix?

[2015-12-02 23:36] jermainewang commented on #789
You are right. That's why we are working on the minpy project that could do this dynamic things like [autograd](https://github.com/HIPS/autograd). We are working that so please stay tuned.

[2015-12-02 23:44] jmschrei opened #791 "Databases with numpy"
I have several large numpy arrays I'd like to use for training, but they don't all fit in main memory. I know I can use NDArrayIter if I have the arrays in main memory, but I'd like to store and read them from disk. How can I store/read them using mxnet? These are not images.

[2015-12-03 00:03] suhangpro commented on #784
Seems the usage of `LinearRegressionOutput` and `LogisticRegressionOutput` is not clearly documented. In my understanding, '...Output' are designed to be the output layers of the network, and behave differently at training and predicting. E.g. for `SoftmaxOutput`:
* At training: first softmax, and then a cross-entropy loss function attached automatically
* At predicting: softmax only, outputs valu

[2015-12-03 00:04] tqchen commented on #789
What was wanted here was a dynamically resizable structure with fixed graph, this could possibly be done in the symbolic API as well, like what you  mentioned.

The most flexible way will be imperative gradient @jermainewang  mentioned and that is most flexible direction the project can go

[2015-12-03 00:16] suhangpro commented on #788
@tqchen Thanks! Any comments on my first two questions?

[2015-12-03 00:32] tornadomeet commented on #782
thanks, i got it

[2015-12-03 01:12] wuxuewu commented on #780
I use the following script:
../../tools/launch.py -n 2 -s 1 -H hosts --slave-dir /tmp/mxnet python train_cifar10.py --data-dir /opt/cifar10/ --kv-store dist_sync
and no nothing happened too,somethig like blocked too.
2015-12-03 08:57:39,706 INFO rsync /public/wuxuewu/mxnet/mxnet-master/example/image-classification/ -> 10.78.165.245:/tmp/mxnet
2015-12-03 08:57:39,913 INFO rsync /public/wuxuewu/mxne

[2015-12-03 01:26] wuxuewu commented on #780
sometimes I interrupt the script by enter ctrl+c,  nothing happened ,and on the two machines there are no process too;
While sometimes on machine 10.78.165.245, it will output:
"
^C2015-12-03 09:12:02,262 INFO Stop luancher
root@Master:/public/wuxuewu/mxnet/mxnet-master/example/image-classification# 2015-12-03 09:12:33,660 Node[0] start with arguments Namespace(batch_size=128, data_dir='/opt/cifar

[2015-12-03 01:33] piiswrong commented on #791
I'm working on that feature now.
in the mean time, you can try ndarrayiter with this: http://docs.scipy.org/doc/numpy/reference/generated/numpy.memmap.html
I've never tried this, but it should work. just remember to turn off shuffling.

[2015-12-03 01:39] leefionglee commented on #554
@starimpact Hi, do you work it out?

[2015-12-03 01:48] maximsch2 opened #792 "Support a parameter for maximum memory usage"
I'm running into issues with creating layers that are too big and running out of memory, causing my entire PC to slow to a halt for several minutes before the process is killed. Would it make sense to support an optional parameter that will specify the maximum amount of memory all NDArrays are allowed to take? That way the program will fail earlier without involving OOM killer.

[2015-12-03 02:36] mli commented on #664
@phunterlau i found the trick is to use a figure as large as possible. for example, i updated the sample output by change to `--max-long-edge 900`, it looks much better

[2015-12-03 02:52] qiaohaijun opened #793 "[mxnet paper] googlenet weight decay parameter"
Yesterday I read the paper, and I find the weight decay is 0.05, is this correct?
@mli

[2015-12-03 03:02] wangg12 commented on #786
@jermainewang Still can't understand. I tried some but got wrong results. Could you please give an example how to write a callable metric like "err rate"?

[2015-12-03 03:07] brightown commented on #784
thank you for all your reply.
I saw c++ code in src\operator,regression_output-inl.h,regression_output.cc and their reference file,but I cannot understand why to calculate the euclidean loss,is it happened in mshadow?

[2015-12-03 03:07] brightown commented on #784
thank you for all your reply.
I saw c++ code in src\operator,regression_output-inl.h,regression_output.cc and their reference file,but I cannot understand why to calculate the euclidean loss,is it happened in mshadow?

[2015-12-03 03:08] brightown commented on #784
thank you for all your reply.
I saw c++ code in src\operator,regression_output-inl.h,regression_output.cc and their reference file,but I cannot understand why to calculate the euclidean loss,is it happened in mshadow?

[2015-12-03 03:18] mli commented on #793
currently i'm using eta *= 0.94 for each epoch. it's seems not optimal..

[2015-12-03 03:22] wangg12 commented on #786
@jermainewang Thx. I've figured it out.

[2015-12-03 03:27] phunterlau commented on #664
@mli then how much memory does it take? I only have poor man 4gb

[2015-12-03 03:27] mli commented on #664
3.7gb;)

On Wed, Dec 2, 2015 at 10:27 PM, Hongliang Liu <notifications@github.com>
wrote:

[2015-12-03 03:30] wangg12 opened #794 "InferShape Error in softmax's label argument"
I created NDArrayIter by numpy array and then feed it to `model.fit`. However, I got error as follow:
[code]
I did this by using the mnist example script.

[2015-12-03 03:31] #786 closed

[2015-12-03 03:36] winstywang commented on #793
you mean weight decay of learning rate?

[2015-12-03 03:36] winstywang commented on #791
Stay tuned. Will contribute a PR soon

[2015-12-03 03:39] mli commented on #793
ah, you mean the learningsys paper. i guess that numbers are not correct. we used 0.94 for learning rate decay, 0.00001 for weight decay

the codes are  https://github.com/dmlc/mxnet/blob/master/example/image-classification/train_model.py

[2015-12-03 04:16] piiswrong commented on #794
Corresponding keyword of symbol: softmax_label
Shape inconsistent, Provided =(100, 1), inferred shape=(100)

as you can see the model want's (100) and your label's shape is (100,1).
just do label=label.squeeze() and you should be good.

[2015-12-03 04:23] qiaohaijun commented on #793
@mli yes,the paper you post yesterday from weibo

[2015-12-03 04:24] qiaohaijun commented on #793
@winstywang the parameter's name is wd, I think it is weight decay.

[2015-12-03 04:37] winstywang commented on #793
@qiaohaijun It should be wrong, see the clarification of mu in previous post

[2015-12-03 05:20] qiaohaijun commented on #793
@mli @winstywang  I got it, thx all

[2015-12-03 05:21] wangg12 commented on #794
@piiswrong Thanks!

[2015-12-03 05:21] #794 closed

[2015-12-03 05:29] qiaohaijun opened #796 "[lr-policy] is lr-policy feature useful to mxnet?"
I am a caffe user, caffe solver configure file has a lr_policy option, it can be set to "step" as a example.
so I want to know, is this feature useful or not?

[2015-12-03 05:30] mli opened #797 "a short introduction to mxnet design and implementation (chinese)"
# MXNet设计和实现简介

神经网络本质上是一种语言，我们通过它来表达对应用问题的理解。例如我们用卷积层来表达空间相关性，RNN来表达时间连续性。根据问题的复杂性和信息如何从输入到输出一步步提取，我们将不同大小的层按一定原则连接起来。近年来随着数据的激增和计算能力的大幅提升，神经网络也变得越来越深和大。例如最近几次imagnet竞赛的冠军都使用有数十至百层的网络。对于这一类神经网络我们通常称之为深度学习。从应用的角度而言，对深度学习最重要的是如何方便的表述神经网络，以及如何快速训练得到模型。

对于一个优秀的深度学习系统，或者更广来说优秀的科学计算系统，最重要的编程接口的设计。他们都采用将一个*领域特定语言(domain specific language)*嵌入到一个主语言中。例如numpy将矩阵运算嵌入到python中。这类嵌入一般分为两种，其中一种嵌入的较浅，其中每个语句都按原来

[2015-12-03 05:32] wangg12 opened #798 "[Learning curve]Save training/test metric during training?"
I wonder how I can save those metrics during trainging and then I can plot the learning curve. Currently, the training process has its log but it's not so easy to get those values especially when the training epochs are very large.

PS: I want to do it in pyhton.

[2015-12-03 05:35] wangg12 commented on #796
Same quention here. I want some policies like cyclical learning rate(CLR).

[2015-12-03 05:37] wangg12 commented on #797
Maybe this can be put in the wiki page.

[2015-12-03 05:37] winstywang commented on #796
see misc.py

[2015-12-03 05:39] mli commented on #797
it already on https://github.com/dmlc/mxnet/blob/master/doc/overview_chn.md but i'd like to allow other guys to make comments. i also tried to put it on dmlc.ml, but the table style is quite ugly..

[2015-12-03 05:39] wangg12 commented on #796
@winstywang Only FactorScheduler in misc.py?

[2015-12-03 05:48] winstywang commented on #796
You could implement more as needed. The interface is already there :)

[2015-12-03 05:58] justdark commented on #797
typo：两快GPU

[2015-12-03 06:03] qiaohaijun commented on #797
in this issue you use googlenet with bn as a example.
Is the result of scalability from the paper is from the same experiment?

[2015-12-03 06:09] qiaohaijun commented on #796
@winstywang thx for the important tip

[2015-12-03 06:10] qiaohaijun commented on #797
"bug和性能调试器" I think should be "debug和性能调试器"

[2015-12-03 06:13] qiaohaijun commented on #797
“实现统一的辅助函数困和提供整体优化都很困难。”
=>
“实现统一的辅助函数和提供整体优化都很困难。”

[2015-12-03 06:19] starimpact commented on #781
not a critical problem anyway.
yes, copy the out as soon as function finishes is a solution.

[2015-12-03 06:19] #781 closed

[2015-12-03 06:21] starimpact commented on #554
I finished the rpn part of faster-rcnn with cpp. Yes, I work it out and it works fine.

[2015-12-03 06:23] zmactep commented on #728
@leocnj my fault, you are right. I did the same, but have a typo in solution.

[2015-12-03 06:26] qiaohaijun commented on #793
@mli googlenet with bn or not?

[2015-12-03 06:45] phunterlau commented on #664
sound like my poor GTX 960 problem: when I have max-long-edge greater than 700, it gives:

[code]

[2015-12-03 06:45] Allianzcortex commented on #797
Really Great!!

[2015-12-03 07:07] methou commented on #797
The CHN part in the URL is confusing:
https://github.com/dmlc/mxnet/blob/master/doc/overview_chn.md

CHN is a country code per ISO 3166-1[1]. I think you meant Chinese, as a language. In this case, "zh" should a proper language code as stated in ISO-639 [2].

[1] https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3
[2] https://en.wikipedia.org/wiki/Chinese_language

[2015-12-03 07:20] antinucleon commented on #798
You can use batch callback to get it out, eg
https://github.com/dmlc/mxnet/blob/master/python/mxnet/callback.py#L30
https://github.com/dmlc/mxnet/blob/master/python/mxnet/model.py#L199

[2015-12-03 07:21] vchuravy commented on #554
@starimpact Do you have the code online somewhere? Would be nice if we could incorporate it into mxnet

[2015-12-03 07:57] starimpact commented on #554
In my github, there is a prototype code, but the execution ability is not guaranteed.

[2015-12-03 08:13] qiaohaijun commented on #798
I occur the same problem

[2015-12-03 08:26] ddtm commented on #789
@jermainewang @tqchen Thanks for the clarifications. Do you have a rough timeframe for this dynamic allocation to be incorporated into the project?

I also wonder if it is difficult to implement the resizable structure for the current state of mxnet? Which steps should be taken in order to add this feature?

[2015-12-03 08:28] mli commented on #664
you can replace `workspace=1024` in model_vgg19.py into `workspace=2048`

On Thu, Dec 3, 2015 at 1:45 AM, Hongliang Liu <notifications@github.com>
wrote:

[2015-12-03 08:28] jmschrei opened #803 "RReLU activation?"
In the example here: https://github.com/dmlc/mxnet/blob/master/example/notebooks/cifar-100.ipynb RReLU is used as the activation, but when I try using it in my network I get the following error:

`mxnet.base.MXNetError: Invalid Input: 'rrelu', valid values are: {'relu', 'sigmoid', 'softrelu', 'tanh'}`

[2015-12-03 09:06] antinucleon commented on #803
Please use ```LeakyReLU``` instead of ```Activation```

[2015-12-03 09:25] zhangchen-qinyinghua opened #804 "Is mxnet flexible enough?"
I tried resently both mxnet and google's tensor flow.

Correct me if I was wrong, because I didn't try mxnet a lot.
-----

Mxnet seems to be faster.
But tensor flow seems to be more flexible, and more nature (even more than Theano, I felt).

For example, I am still not able to add a layer to dot two mx.symbol.Variable, maybe I have to extend a Python class or even write CPP codes.
But I think this

[2015-12-03 09:28] antinucleon commented on #804
I don't know what is your meaning. For example, gram matrix in neural art style, we can calculate gram of convolution feature in this way
[code]

What's your expectation?

[2015-12-03 10:10] zhangchen-qinyinghua commented on #804
Fine, I should express myself better.
Maybe I'll spend some time giving more examples.
Closed For Now.

[2015-12-03 10:10] #804 closed

[2015-12-03 10:25] wangg12 commented on #798
@antinucleon In that callback, there is just a log. How to get the train and val metric values? And another question is can we assign more than one callback to batch_end_callback or epoch_end_callback?

[2015-12-03 10:59] sofiawu opened #805 "how can i use the grayscale images as training data?"
I have a grayscale image dataset and want to use it as the training data. I use the im2rec to convert the images into the rec data for training, It seems that I can not use the data_shape = (1, 64，64) .
when I run the code, it report the error :shape mismatch (1, 64, 64) vs (3, 64, 64).
so what can i do if i want to use the data shape (1,64,64) instead of (3,64,64)??

[2015-12-03 13:06] Gzzgz commented on #797
“更的应用”

[2015-12-03 13:23] leocnj commented on #575
I am also trying installing the R package (w/ GPU support) on OS X EI Capitan. After doing

- disabling Integrity Protection as suggested by @changkun
- set LD_LIBRARY_PATH to include "where the libcudart.7.0.5 is"
- set DYLD_FALLBACK_LIBRARY_PATH to include "where the libcudart.7.0.5 is";  **note that this step may not be mandatory**

I can compile the R package and **a testing running on both CP

[2015-12-03 13:35] leocnj commented on #771
Tried the second approach - compiling the R pkg from source to be able to use GPU in mxnet-R

I have been trying installing the R package (w/ GPU support) on OS X EI Capitan. After doing

- disabling Integrity Protection as suggested by @changkun (see #575)
- set LD_LIBRARY_PATH to include "where the libcudart.7.0.5 is"
- set DYLD_FALLBACK_LIBRARY_PATH to include "where the libcudart.7.0.5 is"; **

[2015-12-03 14:03] thirdwing commented on #771
This is a known issue I met this summer. I think it has been fixed and I can talk about it with Kevin from Rstudio later.

You can try to run

[code]

in RStudio and show me the results?

[2015-12-03 14:05] starimpact opened #806 "strange speed problem with c_api."
hi, guys , I have finished the cpp version predictor with ```c_api```. but the speed is bad.
the strange thing is that the cpp version's speed is worst than python version's.
such as, do prediction on the same image, the speed is ```40ms in python```, but ```200ms in cpp```.(I am very surely that the cpp version's ```device_type==2(gpu)```).
the timer is ```time.time() in python``` and ```gettimeo

[2015-12-03 14:23] leocnj commented on #771
Inside Rstudio
[code]
In a contrast, in terminal
[code]

[2015-12-03 14:24] starimpact commented on #805
use shape (1, 1, 64, 64).

[2015-12-03 14:46] thirdwing commented on #771
Exactly the same problem I met during this summer. I will come back to you later.

[2015-12-03 15:35] antinucleon commented on #798
You can parse the log to get what you want, which is the way TensorBoard
does in TensorFlow.

On Thursday, December 3, 2015, Wang Gu <notifications@github.com> wrote:

[2015-12-03 15:52] wangdelp commented on #797
How about Neon by Nervana, is there any comparison?

[2015-12-03 17:01] dylansun opened #807 "[R]HOW TO: compile with CUDA enabled"
Hi, I following the tutorial [here][1], got

`./dmlc-core/include/dmlc/././logging.h:208: [22:58:57] src/storage/storage.cc:43: Please compile with CUDA enabled`

[1]: http://mxnet.readthedocs.org/en/latest/build.html

[2015-12-03 17:20] tqchen commented on #804
This is related to more operator support, to enable larger flexibility. MXNet was developed in an iterative matter, where operator is added when needed. You right that TF has the more operator coverage so far, but you and others can help to make mxnet better :)

The best way to improve this is open an issue for each operator needed, and we can work together to make it happen. This is not hard as i

[2015-12-03 17:27] tqchen commented on #575
@leocnj I am not export in RStuidio, but I guess this have something to do with the env library path of RStudio, @thirdwing do you have any suggestions?

[2015-12-03 17:52] erogol opened #808 "examples/predict-with-pretrained.. gives different output values for gpu and cpu run."
I got different values for gpu and cpu call of the model in mxnet/example/notebooks/predict-with-pretrained-model.ipynb

For this image : http://cdn.phys.org/newman/gfx/news/hires/2012/1-bmw.jpg

in gpu mode I got following top 5 values

 [  1.20295647e-06   3.80782865e-07   1.01220928e-06   6.29524550e-07  3.61772209e-06]

['n04285008 sports car, sport car', 'n03459775 grille, radiator grille', '

[2015-12-03 17:58] erogol opened #809 "How to print loss value for each given iterations?"
Can I print the loss values for each N iteration without checkpointing the model?

[2015-12-03 18:59] antinucleon commented on #809
Use this callback, it will be called after each batch:
https://github.com/dmlc/mxnet/blob/master/python/mxnet/callback.py#L30

[2015-12-03 19:12] piiswrong commented on #808
@tqchen could you have a look?

[2015-12-03 19:17] thirdwing commented on #807
Can you tell us which OS you are using and what you have done?

[2015-12-03 19:19] piiswrong commented on #805
This is because in src/io/iter_image_record.cc:248 we are always decoding image to 3 channels with cv::imdecode(buf, 1). For grey images this just duplicate the grey channel 3 times. It shouldn't hurt if you just set your data shape to (3,64,64).

However, if you do wan't to fix it, you need to replace `res = cv::imdecode(buf, 1);` with `res = cv::imdecode(buf, -1);` and fix the code following tha

[2015-12-03 21:03] jmschrei opened #810 "max pooling accepts kernels which are too big"
If I set the kernel to be bigger than the dimension size in python, it just reduces that dimension to 1. I presume this works correctly for max pooling (though perhaps doing more calculations than necessary?), but it might mess up average pooling. Regardless, it should probably raise a warning/error to let the user know the dimensions mismatch.

[2015-12-03 21:44] jmschrei commented on #803
It works, thanks. What's the reason for the separation between LeakyReLU and activations?

[2015-12-03 22:49] thirdwing commented on #575
@leocnj Three possible solutions you can try:

(1) put the `export LD_LIBRARY_PATH = ...` into `.bashrc`, then logout;

(2) Startup RStudio from terminal by using `/Applications/RStudio.app/Contents/MacOS/RStudio`;

(3) use `Sys.setenv` in RStudio before you load mxnet.

[2015-12-03 23:37] piiswrong commented on #810
here is code in infershape:
[code]
Looks like it crashes in this case unless pad is big enough. Are you padding?

[2015-12-03 23:46] jmschrei commented on #810
I'm using the default pad.

[2015-12-03 23:52] piiswrong commented on #810
That's strange. It should have crashed. Could you print something before src/operator/pooling-inl.h:183 and check if there are anything wrong?

[2015-12-03 23:53] piiswrong commented on #792
This feature should be easy to add as an environment variable. Just build a huge network, make it fail for oom. and look that part of code where it failed. add something there should fix it.

[2015-12-03 23:59] piiswrong commented on #784
@brightown check src/operator/mshadow_op.h

[2015-12-03 23:59] #782 closed

[2015-12-04 00:43] yuzcccc commented on #807
Have you run the following command?
cd python; sudo python setup.py install

[2015-12-04 01:05] Junvn commented on #797
it's so good!

[2015-12-04 01:46] dylansun commented on #807
@thirdwing, I use ubuntu. I have  run  the following commands:

`git clone --recursive https://github.com/dmlc/mxnet`

`cd mxnet; make -j4`

BTW, what does `-j4` do?

And, then install a pre-built CPU version,
`install.packages("drat", repos="https://cran.rstudio.com")`
`drat:::addRepo("dmlc")`
`install.packages("mxnet")`

Also, I make a rpkg locally, but how to make it compile with CUDA enabled

[2015-12-04 02:16] starimpact commented on #806
The more weird thing is that, the time cost of predict of CPP version becomes same to Python version's when I run the predict more than one times.

[2015-12-04 02:26] dylansun commented on #807
@thirdwing, i forget to check whether CUDA installed- -|||. As far as know, the second approach should give a GPU version.

@yuzcccc, thanks for advice.

[2015-12-04 02:32] #806 closed

[2015-12-04 03:16] wuxuewu commented on #780
Anybody have run training with multi-machine successfully?
@qiaohaijun Did you have run training with multi-machine successfully? what's you config or script?
I have install mpich and set env well,but run the following script and nothing happened....

hadoop@Master:/public/wuxuewu/mxnet/mxnet-master/example/image-classification$ ../../tools/launch.py -n 2 -s 1 -H hosts --launcher mpirun --log-file

[2015-12-04 03:17] mujiatong commented on #797
不错

[2015-12-04 03:21] #805 closed

[2015-12-04 03:42] starimpact opened #812 "which version of mxnet does support cuDNNv2 ?"

[2015-12-04 03:44] winstywang commented on #812
Unfortunately, we don't have that since mxnet is established after cuDNN v3 releases

[2015-12-04 03:53] starimpact commented on #812
got it. :smile:

[2015-12-04 03:57] lebronyxm commented on #797
更的应用。--------> 更多的应用。

[2015-12-04 03:57] leocnj commented on #575
@thirdwing , **(2) works for me**. Thanks.

Before seeing your comment, I already tried (3) this morning and got no luck.  For (1), I always had LD_LIBARY_PATH (containing /usr/local/cuda/lib) in my .bashrc file.

[2015-12-04 04:07] qiaohaijun commented on #812
why not use cuDNN v3

[2015-12-04 04:24] phunterlau commented on #774
try use CC=clang instead of gcc, because opencv is built on clang only.

[2015-12-04 04:53] phunterlau commented on #664
That works. I can maximize the edge to 850 by changing workspace to 2048. Does it have special meanings?

![pogo-vangogh-30-2-0 003-0 3-out-850](https://cloud.githubusercontent.com/assets/1690881/11582168/e4e1caca-99ff-11e5-8a30-7090b1b8e1b7.jpg)

[2015-12-04 04:55] mli commented on #664
it increases the temp buffer size, or the working space size

On Thu, Dec 3, 2015 at 11:53 PM, Hongliang Liu <notifications@github.com>
wrote:

[2015-12-04 05:25] starimpact commented on #812
tk1 does not support V3.

[2015-12-04 06:06] #812 closed

[2015-12-04 06:23] pineking opened #814 "does mxnet support latest CUDA 7.5?"
does mxnet support CUDA 7.5? or must use the 7.0 version?

[2015-12-04 06:26] winstywang commented on #814
7.5 works well for me

[2015-12-04 06:30] pineking commented on #814
@winstywang good, thanks for the information.

[2015-12-04 06:38] qiaohaijun commented on #814
I am using cuda 7.5 too

[2015-12-04 09:31] erogol commented on #809
Thanks ..

[2015-12-04 09:31] erogol opened #816 "Does Mxnet have Contrast Normalization Layer?"

[2015-12-04 09:37] winstywang commented on #816
It is named LRN, please check the alexnet example

[2015-12-04 10:40] sodabeta7 opened #817 "Segmentation fault when using 'simple_bind'"
Hi, I've got a 'Segmentation fault' when I try to use a pre-trained model to do ``simple_bind`` operation. The model is converted from [vgg16](http://www.robots.ox.ac.uk/~vgg/software/very_deep/caffe/VGG_ILSVRC_16_layers.caffemodel) Caffe model by the tool in mxnet.  And the code works if I comment out the last line.
This is the code:
[code]

This is what I got from gdb

![gdb](http://r.loli.io/NB

[2015-12-04 10:41] sodabeta7 commented on #817
ping @winstywang

[2015-12-04 11:37] erogol commented on #797
Someone to translate ?

[2015-12-04 11:39] winstywang commented on #797
@erogol This is a translation of the LearningSys paper. You can find the English version in README

[2015-12-04 12:33] erogol commented on #816
Thanks ..

[2015-12-04 16:38] zhouye opened #820 "Order of RGB channel"
The decoded image in mxnet is stored as RGB order, but in the file https://github.com/dmlc/mxnet/blob/master/src/io/iter_normalize.h, line 180-182

      data[0] -= param_.mean_b;
      data[1] -= param_.mean_g;
      data[2] -= param_.mean_r;

The mean_b variable stand for the mean value of the R channel. I think it's a little confusing for people who want to manually set these parameters.

[2015-12-04 16:46] qiaohaijun commented on #820
you mean it is a bug?

[2015-12-04 16:49] zhouye commented on #820
Maybe it's a bug. This part behaves the same as cxxnet.

[2015-12-04 16:54] tqchen commented on #820
Nice catch, can you please send a PR to fix this? Thanks!

[2015-12-04 16:55] zhouye commented on #820
I think it may need some extra work to preserve the compatibility of old models and config files. Do you have any ideas?

[2015-12-04 16:58] tqchen commented on #820
It is OK, as existing configuration when mean value is set, they are identical

[2015-12-04 17:00] zhouye commented on #820
See https://github.com/dmlc/mxnet/blob/master/example/image-classification/train_imagenet.py.
Is the mean value correct in this configuration?

[2015-12-04 17:04] tqchen opened #821 "[Javascript] Call for Contribution and Suggestions"
This thread is opened to bring attention to https://github.com/dmlc/mxnet.js . The javascript port of mxnet that runs completely on browser, thanks to emscripten and amalgamation. This is fun. This thread is opened for suggestions and contributions to the library, including

- [ ] Improve html demo
- [ ] Cleanup and generate documents for Javascript code
- [ ] More fun demos, as it enables any mxn

[2015-12-04 17:06] tqchen commented on #820
see what you mean cc @antinucleon can you comment on this?

[2015-12-04 17:07] tqchen commented on #806
Normally prediction is bounded by computation(which are already in c++), which means moving to c++ may not speed you up.

[2015-12-04 17:31] tqchen commented on #820
Let us simply fix this, as most model released so far use mean-image configs

[2015-12-04 17:32] antinucleon commented on #820
@zhouye Thanks for catching this! Let's fix it for now. The pretrained model is using mean value: 117, 117, 117 so doesn't hurt. But for other self-trained model, it may has slightly influence.

[2015-12-04 17:39] antinucleon commented on #820
https://github.com/dmlc/mxnet/pull/822

[2015-12-04 17:40] #820 closed

[2015-12-04 18:42] skevidu opened #825 "build failed on OSX library not found for -lgomp"
Build failed on Mac OSX version 10.10.5
Anyone can help?

ld: library not found for -lgomp
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make: *** [lib/libmxnet.so] Error 1
make: *** Waiting for unfinished jobs....
/Library/Developer/CommandLineTools/usr/bin/ranlib: file: lib/libmxnet.a(mxrtc.o) has no symbols
In file included from tools/im2rec.cc:21:
In file incl

[2015-12-04 19:55] suhangpro commented on #788
@jermainewang After `export MXNET_CPU_WORKER_NTHREADS=36`, mxnet still only uses 2 cores when running the mnist example.

[2015-12-04 20:33] piiswrong commented on #825
https://github.com/dmlc/mxnet/issues/749

[2015-12-04 20:36] piiswrong commented on #817
If you want to use FeedForward model you should use it's fit API instead of binding by yourself.

[2015-12-04 20:37] #816 closed

[2015-12-04 20:37] #814 closed

[2015-12-04 20:37] #809 closed

[2015-12-04 20:38] #772 closed

[2015-12-04 20:39] #752 closed

[2015-12-04 20:44] skevidu commented on #825
Thanks.
solved from the suggestion from #749:

brew install clang-omp
make CXX=clang-omp++

[2015-12-04 20:44] #825 closed

[2015-12-04 21:07] skevidu commented on #821
Nice idea. We just need a working plan.

[2015-12-04 23:14] caprice-j commented on #775
@pommedeterresautee  Fantastic!
I installed DiagrammeRsvg, and DiagrammeRsvg::export_svg( mxnet::graph.viz( lro$as.json() ) outputted svg correctly on iPython notebook. I appreciate your kind search.

[2015-12-04 23:14] #775 closed

[2015-12-04 23:31] #767 closed

[2015-12-04 23:31] #768 closed

[2015-12-04 23:34] tqchen commented on #798
@wangg12 if you take a look at these callbacks, you can find it is not hard to create another closure to pass and push data into a list, for example,
[code]
I think multiple callbacks can be passed in via a list

[2015-12-04 23:34] #798 closed

[2015-12-04 23:36] tqchen commented on #706
It was due to blas was not dynamically compiled, you might need to switch to openblas or other BLAS, please feel free to reopen if necessary

[2015-12-04 23:36] #706 closed

[2015-12-04 23:36] tqchen commented on #487
closing for inactitivy

[2015-12-04 23:36] #487 closed

[2015-12-04 23:37] tqchen commented on #629
closing as shiny app already pushed in, looking forward to the blogpost

[2015-12-04 23:37] #629 closed

[2015-12-04 23:37] tqchen commented on #636
closing for now, guess was fixed due to the changes

[2015-12-04 23:37] #636 closed

[2015-12-04 23:38] #729 closed

[2015-12-04 23:39] tqchen commented on #744
closing due to inactive state, please feel free to reopen

[2015-12-04 23:39] #744 closed

[2015-12-04 23:40] tqchen commented on #745
glad it works out for you, closing

[2015-12-04 23:40] #745 closed

[2015-12-04 23:41] #708 closed

[2015-12-04 23:42] tqchen commented on #657
partly done in https://github.com/dmlc/mxnet/blob/master/example/image-classification/train_imagenet.py

[2015-12-04 23:42] #657 closed

[2015-12-04 23:48] qiaohaijun opened #826 "[alexnet initialize] I find that alexnet initial use normal will help to get good result"
the default initializer is Xavier. After a few test, I find that the alexnet model didn't converge well, when change to mx.initializer.Normal and get a converge result.

The initializer is so important

[2015-12-04 23:51] gujunli commented on #821
Very Nice, I still need to catch up with the white paper to learn more. I
will post if I have any suggestions. Great job, guys!

thanks.
junli

On Fri, Dec 4, 2015 at 1:07 PM, skevidu <notifications@github.com> wrote:

--
************************************************
Junli Gu--谷俊丽
Coordinated Science Lab
University of Illinois at Urbana-Champaign
************************************************

[2015-12-05 02:43] wangg12 commented on #798
@tqchen Thanks for your help! This works for train data metric, but how to apply to val data?

[2015-12-05 03:16] wangg12 commented on #798
And it seems we can only get batch end metrics in this way. I'm afraid parsing the log is the only way to get the epoch end metrics by now.

[2015-12-05 03:50] mli commented on #826
i'm totally agree. could you please share your results, we can update the codes or put the results on README.md

[2015-12-05 05:00] piiswrong commented on #826
Initialization and learning rate affects each other. my guess is with Xavier you need a smaller learning rate.

[2015-12-05 05:50] qwzju0222 commented on #826
Using Xavier initializer and setting learning rate as 0.001 also will converge.
After 20 epoch training can get 45% top-1 accuracy.

[2015-12-05 06:58] qiaohaijun opened #827 "[dist-train] kill all mxnet job on different node"
I write a script to kill all mxnet job on different node, because I always kill the dist-train job after a few epoch to change the super parameter.

I post it out, maybe some one need it too .

[2015-12-05 06:58] qiaohaijun commented on #827
#!/usr/bin/env python

import os, sys

if len(sys.argv) != 2:
  print "usage: %s <hostfile>" % sys.argv[0]
  sys.exit(1)

host_file = sys.argv[1]
prog_name = "train_imagenet"

# Get host IPs
with open(host_file, "r") as f:
  hosts = f.read().splitlines()
ssh_cmd = (
    "ssh "
    "-o StrictHostKeyChecking=no "
    "-o UserKnownHostsFile=/dev/null "
    "-o LogLevel=quiet "
    )
kill_cmd = (

[2015-12-05 07:00] qiaohaijun commented on #827
https://gist.github.com/qiaohaijun/37337aa5542ce56d6b73

[2015-12-05 07:02] qiaohaijun commented on #827
USEAGE
===

$ python kill-mxnet.py host.txt

and host.txt is the host list of node that the dist-train job run on.

[2015-12-05 07:17] skevidu commented on #706
openblas works for me and I use opencv3.

[2015-12-05 07:23] piiswrong commented on #827
@mli Maybe we can do this automatically?

[2015-12-05 08:51] piiswrong opened #830 "Performance & Usability Improvements"
MXNet is becoming really powerful and versatile and we are getting a lot of new users. But there are a few performance issues we haven't have time to address, including:

1. Mysterious reasons cause us to be just a little slower than Torch+CudnnV3. While this maybe insignificant in practice, people do like to compare benchmark numbers and it may dissuade people looking to move.
2. Memory allocatio

[2015-12-05 09:15] were opened #831 "How to build an MLP by MXNet?"
I try to use MXNet to build an MLP for interpolation.

Here is my python code, to use this code, `python build.py 5 5 8 8 8 2`.

It tries to build a 5-layer MLP, which treats a 5-d vector as input and a 2-d vector as output.

There are 3 hidden layers for this MLP, each layer has 8 neurons.

[code]

If I use `eval_data`, it gives me the following error log:

[code]

[2015-12-05 09:18] piiswrong commented on #831
tester is an iterator. I has reached the end so calling next() will give StopIteration exception:
https://docs.python.org/2/library/exceptions.html#exceptions.StopIteration
Just remove that line and your code should work fine.

[2015-12-05 09:49] were commented on #831
Could you please give me more help about building an MLP?

[2015-12-05 09:50] antinucleon opened #833 "[Discussion] FP16 Support"
Ideally, we have everything to support FP16,
While trying to train Inception-7, I find out it is necessary to support FP16 now, as it is so memory consuming.

Let's set a milestone.

[2015-12-05 10:01] piiswrong commented on #831
You can have a look at the examples. Like example/numpy-howto/numpysoftmax.py and image-classification/train mnist

[2015-12-05 10:06] were commented on #831
Yeah, in fact, I did, but it helps little.
What I want to do is simpler than image classification(I think).
I just want to handle some vectors on real-number field.

Besides, my code starts to work now, I imitate the usage of `batch_end_callback` in `train_model.py`.
I used `mx.callback.Speedometer`, but it gives me nothing about speed and accuracy.

[2015-12-05 10:09] piiswrong commented on #831
You need to import logging and set it's level to debug.

This seems to be a gotcha. @tqchen maybe we should change it.

[2015-12-05 10:21] were commented on #831
Hmmmm, OK... I used `logging` which enables the `INFO`.
But the validation accuracy of my model is alway zero...

Any ideas?

[2015-12-05 11:08] were commented on #831
Or what I want to ask is how to set up a `DataIter`.
I used `NDArrayIter`. What should the inside data look like in the corresponding `NDArray`?

[2015-12-05 13:49] sofiawu opened #836 "Strange error in loading checkpoint"
I used the windows cpu mxnet library  and I run the predict code with the model
There is a error when I want to load the trained model. The error message is below:

 in __init__
    self.model = mx.model.FeedForward.load(model_prefix, load_epoch, ctx=mx.cpu(
), numpy_batch_size=1)
  File "D:\Anaconda\lib\site-packages\mxnet-0.5.0-py2.7.egg\mxnet\model.py", lin
e 787, in load
    symbol, arg_params

[2015-12-05 14:00] FBracun opened #837 "[R] Add Support GetKth Output of Symbol in R"
Based on lstm.py I'm trying to implement LSTM in R. I have stucked at how to extract the output chanels from <code>mx.symbol.SliceChannel()</code>.  My snipet of relevant code is
<code>
gates <- i2h + h2h
<p>slice_gates <- mx.symbol.SliceChannel(gates, num.outputs=4, name=paste0(name,"_t",seqidx ,"_l",layeridx, "_gates"))
<p>in_gate         <- mx.symbol.Activation(slice_gates[1], act.type="sigmoid

[2015-12-05 16:27] tqchen commented on #837
This is the problem of output encoding of symbol, which was based 0-index, we can make a patch to change this behavior. @thirdwing

[2015-12-05 16:29] tqchen commented on #837
oh, i see what was meant, I guess this might not readily be exported, @thirdwing can you look into it and add the support?

[2015-12-05 16:30] tqchen commented on #830
The best way to track issues seems to be open an independent thread for each one and fix it. Let us put this as centralized thread for now

[2015-12-05 16:42] HeNine commented on #660
I had a similar problem when using `mx.symbol.FullyConnected()`. Changing `mx.nd.array([1,2,3,4,5])` to `mx.nd.array([[1,2,3,4,5]])` (note the extra level of nesting), seems to have solved it.

[2015-12-05 17:46] FBracun commented on #837
I would be happy to add the support, but I'm not very familiar with C++. I don't know where to look for possible solution. Anyway, I will try.
If I understand correctly, <code> mx.symbol.SliceChannel() </code> returns mx.symbol. However, I do not know where this symbol is generated in C++ code and I don't know what is the relation between this symbol and for outputs. At the end, there is a need to

[2015-12-05 19:52] ddtm commented on #789
Still hoping for some guidelines

[2015-12-05 20:02] piiswrong commented on #836
what's the content of er2013-symbol.json? Does it start with an 'f' instead of '{'?

[2015-12-05 20:14] piiswrong commented on #833
The question is do we want it as a global constant or a per tensor variable. The former requires rebuilding to switch and the later requires major refactor of frontend code, since it's currently const there.

[2015-12-05 20:15] piiswrong commented on #803
LeakyReLU has parameters, activations dont.

[2015-12-05 20:15] #803 closed

[2015-12-05 20:17] piiswrong commented on #787
Thanks! Could you push a fix?
try:
 import one
except:
 import another
should work fine.

[2015-12-05 20:18] piiswrong commented on #831
NDArrayIter takes a bunch of numpy arrays and wrap them as a data iterator.

[2015-12-05 20:21] piiswrong commented on #831
you can create a monitor with mon = mx.monitor.Monitor(1) and add monitor=mon to model.fit to see what's going on in side the model.

[2015-12-05 20:42] tqchen commented on #833
we want a per tensor type aware thing, so fp16 can be part of the graph

[2015-12-05 20:51] mli commented on #827
my usual way is

[code]

though it kills all python jobs...

[2015-12-05 20:58] piiswrong commented on #833
Then we need to discuss how to handle this in python and cudnn. Currently mx_float is a const.
Also do we want to alway convert or let mshadow support different source/target type?

[2015-12-05 21:27] tqchen commented on #833
mshadow is typed, and mshadow accept DataType as flag, we can use mshadow's cast operator to cast between types. There is a type flag in TBlob already, need a patch to support dtype in NDArray

[2015-12-05 22:03] piiswrong commented on #833
Does cudnn support mixed type operations?

[2015-12-05 23:04] tqchen commented on #833
Unlikely, but we can do explicit cast op

On Sat, Dec 5, 2015 at 2:03 PM Eric Junyuan Xie <notifications@github.com>
wrote:

[2015-12-05 23:15] piiswrong commented on #833
Should data type be the property of symbol?

[2015-12-05 23:34] tqchen commented on #833
Hmm, I guess we can support some kinda of inference, and make datatype one loose property like device

[2015-12-05 23:35] tqchen commented on #833
The quickest way is to first make low level operator type aware, and support cast, so things can be added gradually, as opposed to need to support everything

[2015-12-05 23:55] qiaohaijun commented on #827
@mli  yes, your way kill all python jobs, How can to identify the mxnet job?

[2015-12-05 23:56] qiaohaijun commented on #827
@piiswrong the best way I think is automatically kill the mxnet job

[2015-12-05 23:59] piiswrong commented on #833
I think we can make mshadow primitives support different input/output type. Then later we can add type inference to minimize casting.

[2015-12-06 00:15] tqchen commented on #833
mshadow primitive ***already*** support mixed type, like
[code]
The last line generate one kernel that takes fp16 and float input and add to

[2015-12-06 00:16] piiswrong commented on #833
can we make the cast implicit
On Dec 5, 2015 4:15 PM, "Tianqi Chen" <notifications@github.com> wrote:

[2015-12-06 00:18] tqchen commented on #833
currently no due to type inference cost, but I guess it works for most of case we need

[2015-12-06 00:21] piiswrong commented on #833
What do you mean by type inference cost? Can it be resolved at compile time?

[2015-12-06 00:24] tqchen commented on #833
Yes, it can be, except we need to cost some engineering to write the type inference code, we can do it gradually, first by explicit cast, then add implicit inference

[2015-12-06 00:27] piiswrong commented on #833
Ok. Let's try to do this properly so we can easily support all types. I think TF also supports int. should be useful for softmax and nlp models.

[2015-12-06 00:28] mli commented on #827
it's often the resource manager's job to do the kill. the current problem is that when in default, we launch a remote process via ssh. see https://github.com/dmlc/ps-lite/blob/dev/tracker/dmlc_ssh.py#L71

however, when the launching process is killed, the remote process are miserably still live.. there is definitely something wrong here.

[2015-12-06 00:32] mli commented on #827
we definitely can find a way to solve it, by

1. either figure out why the remote process is still alive after the launching process is killed
2. or we store the remote process id after luanching. once we stop or exit the launcher, we go the remote machine to kill that job if necessary. we can add this function here https://github.com/dmlc/mxnet/blob/master/tools/launch.py#L46

[2015-12-06 01:26] tqchen commented on #827
My recommendation is look into some kind of resource manager, such as yarn or mesos. Things should be readily supported, especially, yarn support is already there

[2015-12-06 02:13] qiaohaijun commented on #827
@tqchen it is a good idea.

[2015-12-06 04:04] wxbforwork opened #840 "TypeError: object() takes no parameters"
hi there, I just install the latest mxnet in Ubuntu 14.04 according to the installation guide http://mxnet.readthedocs.org/en/latest/build.html.When I try to run train_mnist.py example, there comes an error like this:
![screenshot from 2015-12-06 11 32 16](https://cloud.githubusercontent.com/assets/14830489/11611525/a990f12a-9c0d-11e5-8331-3e31d446f752.png)
When I try "import mxnet"  in python, it

[2015-12-06 05:10] piiswrong commented on #840
I works fine for me. try update to the newest mxnet version and make clean & make

[2015-12-06 05:55] were commented on #831
What I want to know is the layout of the data in an `NDArray`.
For example, I want the MLP to process on vectors.
I build up a 2-d `NDArray`
[code]
Each `[1 2 3 4 5]` is an input vector.
Is the usage right?

[2015-12-06 05:58] piiswrong commented on #831
yes

[2015-12-06 06:06] were commented on #831
What should `eval_data` in `fit` looks like?
Be a tuple of two `NDArray`s?

In my comprehension, `eval_data` is used for evaluating the result of fitting, isn't it?

[2015-12-06 06:07] piiswrong commented on #831
both training and eval data are DataIters

[2015-12-06 06:16] were commented on #831
Besides, if I give my model a `DataIter` to predict, all of the results are the same.

[2015-12-06 06:16] were commented on #831
I used 'monitor' to watch the training procedure.
It does adapting the weight on the neurons, but the accuracy is always 0.

[2015-12-06 06:17] were commented on #831
How is the accuracy estimated?

[2015-12-06 13:40] starimpact commented on #806
i know it.

[2015-12-06 14:34] tqchen commented on #806
Was due to some resources are lazily allocated in first run

On Sun, Dec 6, 2015 at 5:40 AM Zhang Ming <notifications@github.com> wrote:

[2015-12-06 15:08] butterluo opened #841 "Does mxnet support Stale Synchronous Parallel (aka. SSP)"
Does mxnet support Stale Synchronous Parallel (aka. SSP) ? Just like Petuum do.
If it doesn't, is there any plan to support SSP?

[2015-12-06 15:52] were commented on #831
I want the error rate is MSE (mean square error), rather than accuracy of predicting.

[2015-12-06 16:56] terrytangyuan opened #842 "Scala/Java Library for mxnet"
Anyone interested? I'll jump in to help whenever I have time.

[2015-12-06 17:13] hack1nt0 opened #843 "Installation on Mac"
At the bottom there are detail configuration file of mine, just skip to them if you are in a hurry.

========

+ Brew install opencv clang-omp libiomp openblas

Default clang compiler don't support openmp yet, so change the CC and CXX to clang-omp and clang-omp++ respectively.

Also add proper path to ADD_LDFLAGS and ADD_CFLAGS for openblas detecting.

========

+ Install CUDA and CUDNN

[CUDA](ht

[2015-12-06 20:46] piiswrong commented on #843
Uh... Is this a question or a guide? If it's a guide please consider open a PR and merge it into the doc. Your contribution is appreciated.

[2015-12-06 20:49] piiswrong commented on #841
I think ps-lite handle async sgd in a different. @mli
You can read Mu Li's paper for the exact algorithm

[2015-12-06 20:51] piiswrong commented on #842
Hi @terrytangyuan
We don't have anyone working on that yet. You are well come to open a repo!

[2015-12-06 21:03] terrytangyuan commented on #842
Could @tqchen or anyone else create a repo for mxnet.scala for me?  It says I have insufficient permission. We'll go from there.

[2015-12-06 21:25] piiswrong commented on #842
They are probably off line at the moment. You can create your own repo and transfer it's ownership later.

[2015-12-06 21:29] piiswrong commented on #831
you can create your own metric with mx.metric.CustomMetric

[2015-12-06 21:37] terrytangyuan commented on #842
Sure, it's created here: https://github.com/terrytangyuan/mxnet.scala

I haven't thought of any architectural plan yet so any help and direction is welcomed.

[2015-12-06 21:45] tqchen commented on #842
@yanqingmen seems has already have some progress on JNI, maybe you can sync up on this.

Let us consider directly put things in main repo when it is ready, as xgboost did. The reason for mxnet.js and mxnet.jl was mainly the for the convention of packaging and requirement on hosting additional big files that do not suitable for the main code repo.

[2015-12-06 21:56] terrytangyuan commented on #842
Ok sounds good. Please share some updates on that.

[2015-12-06 21:57] tqchen commented on #842
@yanqingmen  if you have time maybe comment on this issue?

[2015-12-06 21:58] tqchen commented on #841
The only difference lies on implementation of kvstore while the interface remains the same, so the question becomes if ps-lite currently supported bounded staleness @mli  should be appropriate to answer this.

[2015-12-06 22:34] toothacher17 opened #844 "cpp interface compiling error"
Hi, all

I am using mxnet for neural networks, which would be integrated as a part into a new model. I have asked you for some suggestions before in #369. Thanks to your suggestions, I implemented the python version already, and got a primary but promising result.

I am now trying to rewrite it with cpp for efficiency and speed. However, I am not very familiar with cpp. The cpp examples are very l

[2015-12-06 23:26] mli commented on #841
The implementation is quite easy, but we find it is not so useful since in
practice the actual delay observed is quite small, probably because the gpu
performance is uniform. Having an additional max delay constraint may bring
confusion to users.
On Sun, Dec 6, 2015 at 4:58 PM Tianqi Chen <notifications@github.com> wrote:

[2015-12-07 00:10] piiswrong commented on #844
You need -L../lib -lmxnet

[2015-12-07 00:11] qiaohaijun commented on #841
I test SSP a lot, and I find caffe on petuum is not work well as expect.  so I suggest that use async.
if you have a good result, please let me know, I will try it again, using your configure.

[2015-12-07 00:12] qiaohaijun commented on #841
The way of update parameter in SSP model is different with ASGD model.

[2015-12-07 00:16] qiaohaijun opened #845 "[doc] Is there a plan to translate the core documents to chinese?"
MXNET has a lot user of China, is there a plan to translate the core documents to chinese?

[2015-12-07 01:34] toothacher17 commented on #844
Thank you a lot! Really really appreciated! That helped! Now I could run the basic like this:

![image](https://cloud.githubusercontent.com/assets/7029845/11617095/1f9cb6d4-9c58-11e5-82b1-0b812afdda7a.png)

However, when I am trying to do some operators on the NDArray, like +=, -=, it fails again:

the code is
![image](https://cloud.githubusercontent.com/assets/7029845/11617107/45dd3670-9c58-11e5-

[2015-12-07 02:00] zhangchen-qinyinghua commented on #804
@tqchen
Yeah, sure. I did realize that fully connected operator just gives the dot product of matrix. I just feel it to be a little bit 'Unnatural'.
And it should be cool to make a contribution.

[2015-12-07 02:13] piiswrong commented on #844
as you can see, you are missing cblas_sgemm, which means you need to link to a blas library like -lopenblas.
Any symbol missing error most likely means missing library. Find them and link to them.

[2015-12-07 02:24] butterluo commented on #841
Does mxnet use ps-lite as its kvstore for parameter ? @mli  @tqchen

[2015-12-07 02:34] toothacher17 commented on #844
Thank you very much, everything is working now. Thank you very much!

[2015-12-07 02:57] #836 closed

[2015-12-07 03:12] sofiawu opened #846 "Is there a c++ example for predicting an image?"
I find all the example are based on python, so is there any example based on c?

[2015-12-07 03:26] AllenSCU commented on #840
I got the same problem. At last I comment out the line "initializer = mx.init.Xavier(factor_type="in", magnitude=2.34)," in train_model.py file and then It works. In addtion, I can't find mx.init.Xavier() in mxnet, just finding some initial  methods like mx.init.normal(). Could anyone tell me where is it?

[2015-12-07 03:31] pjreddie opened #847 "Imagenet 22k example"
Is there an example of the training command for imagenet 22k? I found the model definition but not the actual command to train it, I'm wondering what batch size you used. Thanks!

[2015-12-07 03:42] qiaohaijun commented on #847
@pjreddie  do you mean the super parameter of train job

[2015-12-07 03:45] tqchen commented on #804
Yes, you are definitely right, we could also add things like mx.sym.matrix_multiplication as more low level primitive.

[2015-12-07 04:11] qiaohaijun opened #848 "[dist-train] script launch.py‘s -n -s parameter"
how to set the number of 'n' and 's'?
how to maximize the use of cpu to compute update of weight.
on my cluster, the cpu usage is less 30%

PS

$ lscpu
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                32
On-line CPU(s) list:   0-31
Thread(s) per core:    2
Core(s) per socket:    8
Socket(s):             2
NUMA node(s):

[2015-12-07 05:06] were commented on #831
OK... I will learn about it later.

[2015-12-07 05:14] pjreddie commented on #847
Yeah probably. On the website [here](http://dmlc.ml/mxnet/2015/10/27/training-deep-net-on-14-million-images.html) it says the learning rates and stuff but not batch size. I followed the link but couldn't find the 22k specific command used for training. It looks like the default batch size is 32 but i'm not sure if you used a larger one or not.

[2015-12-07 05:20] antinucleon commented on #847
The code is here:
https://github.com/dmlc/mxnet/tree/master/example/image-classification

The symbol definition is in symbol_inception-bn-full.py

You need to modify two places:

first change model symbol and add inception-bn-full in selection.

https://github.com/dmlc/mxnet/blob/master/example/image-classification/train_imagenet.py#L9

second is change data iterator to point to right data:

https

[2015-12-07 06:12] javelinjs commented on #842
Hi all,

I've done some beginning work here https://github.com/javelinjs/mxnet-scala

Any suggestion or help is highly appreciated.

[2015-12-07 06:12] jimxinbo opened #850 "Imagenet training accuracy keeps 0.001 even after shuffling the data list"
I am running alexnet on imagenet12 data. I followed the im2rec tutorial where I definitely shuffled the datalist. But the train and val accuracy keep at around 0.001. Any suggestions?

Btw, I am using most of the default settings in train_imagenet.py (e.g. initial learning rate is 0.01) and the data were loaded in successfully.

I tried adding "shuffle = True" in ImageRecordIter, but as is expecte

[2015-12-07 06:29] terrytangyuan commented on #842
@javelinjs Cool. Could you grant me write access so I can jump in to help? Also, are we able to move your lib under the main mxnet repo as @tqchen mentioned? Are you and @yanqingmen working on different libraries and whice one should we stick with?

[2015-12-07 06:49] qiaohaijun commented on #850
I occur the similiar problem.
I hope the following can help you

you change the
https://github.com/dmlc/mxnet/blob/master/example/image-classification/train_model.py#L56
=>
        initializer        = mx.init.Normal(sigma=0.01),

and try it again

[2015-12-07 06:58] qiaohaijun commented on #850
other way, you can add a new model named alexnet-bn, use the your current super parameter, it converge too.

[2015-12-07 07:24] javelinjs commented on #842
@terrytangyuan Thank you for your interest. Since it is still a fledging project and the code base may change rapidly, I suggest to follow the fork & pull-request process at this moment. I didn't know @yanqingmen was also working on the JNI package when I started. @yanqingmen Would you mind sync your progress here?

[2015-12-07 07:25] piiswrong commented on #840
@AllenSCU Please pull the latest changes.

[2015-12-07 07:48] jimxinbo commented on #850
I see your point. I checked that changing the initializer in train_model.py worked for me. Great, thanks!

[2015-12-07 07:48] #850 closed

[2015-12-07 08:01] qiaohaijun commented on #850
you are welcome, I find the initialization issue from the comparsion with caffe initialization.

[2015-12-07 08:03] jimxinbo commented on #850
I see. That's a good catch.

[2015-12-07 10:05] zhangchen-qinyinghua commented on #846
Not yet.

I noticed that there's a simple example about how to use NDArray  with cpp interface now.

And I myself am currently struggling on bind executor and symbol and operators...

[2015-12-07 10:23] AllenSCU commented on #840
Thank you so much. :D

[2015-12-07 11:20] amirkhango commented on #675
I got the problem when i run neural-stytle's  run.py file.
:./dmlc-core/include/dmlc/logging.h:208: [19:17:17] ./mshadow/mshadow/./tensor_gpu-inl.h:44: Check failed: e == cudaSuccess CUDA: out of memory
I don't know if they're the same

[2015-12-07 12:03] hack1nt0 commented on #843
OK, Thanks.

[2015-12-07 12:24] were commented on #831
I used `CustomMetric` it works well.
However, I am suffering from another problem now.

It works well on the vector whose dimension is greater than one.
If the output vector is 1-d vector, the MXNet will raise shape not match exception.

[2015-12-07 12:38] sodabeta7 commented on #817
Thank you for your reply. Since I just want to do predicting instead of training, the fit API is not a choice here. And the source code in predict function in mxnet also use simple_bind like what I do above. And I've found that if I replace ``devs=mx.gpu()`` with ``devs=mx.cpu()``, it works without segmentation fault.

[2015-12-07 12:44] sofiawu opened #851 "The parameters of MXPredSetInput in c_predict_api.cc"
I try to use the interfaces in the c_predict_api.cc, and I am not quit clear about the parameters in the mxpredsetinput
int MXPredSetInput(PredictorHandle handle,
                             const char* key,
                             const mx_float* data,
                             mx_uint size);
Does the parammeter data refer to the image data which i want to predict?
I notice it's float ty

[2015-12-07 12:56] were commented on #831
There's another thing I want to know.
The default configuration of a model is to maximize the value given by metric.
How can I set it to minimize, in some condition I can only estimate the error rather than accuracy?

[2015-12-07 13:33] sodabeta7 commented on #817
@piiswrong  To make it more clear, I think the code is the same as ``FeedForward._init_predictor`` since I just take the ``symbol`` out from the model and do ``simple_bind``.

[2015-12-07 14:39] cocorecoco commented on #381
I try to add  another loss to the googlenet, but when I use the api of ImageRecordIO ,I found
ImageRecordIO only can  input one label_name , maybe "softmax1_label" or "softmax2_label",
but how can I add the two at the same time,  with the same label but different label name?
@pluskid
Thanks

[2015-12-07 16:11] GravApple opened #855 "Step by step guide of implementing a C++/MShadow layer"
Considering about the efficiency, I am very interested in implementing new C++/MShadow operators, and I have read through the mxnet documents and mshadow tutorial. However, creating a new layer still seems difficult to me, thus I am wondering if anyone could provide a step by step guide of implementing a C++/MShadow layer?

Thanks in advance.

[2015-12-07 17:09] qiaohaijun commented on #855
cool

[2015-12-07 17:27] erogol commented on #855
I also want to see such guidance. I just switched from Caffe to MXNet but implementing a new layer is a pain in the neck here compared to the abstraction provided by Caffe.

[2015-12-07 17:41] pjreddie commented on #847
I'm just wondering what batch size was used for generating the graph on the website.

[2015-12-07 20:26] jmschrei opened #857 "Sampling from multiple databases"
In an unbalanced binary classification problem you often want to randomly select an equal number of positive and negative examples for each batch, despite the total number of positive and negative examples being vastly different. Is it possible to include iterator functionality to go over multiple datasets (arrays, memmaps, etc..), where each one corresponds to a different label, and have an equal

[2015-12-07 21:26] #844 closed

[2015-12-07 23:05] piiswrong opened #858 "KV store is used by default in train_imagenet example and it's hurting performance a lot when batch size is small"
KVStore is enabled by default even for single GPU training. And for small batch_size (128) it's reducing speed by half (compared to setting it to None)

An immediate fix would be to disable kvstore for single GPU training. However it's still strange that KVStore would affect performance for single GPU since it shouldn't be doing anything in this situation.

@mli

[2015-12-07 23:13] piiswrong commented on #857
You can do this by subclassing mx.io.DataIter

[2015-12-07 23:20] piiswrong commented on #855
Yes, we do need a tutorial for this. However we are currently short handed as half of the team is going to NIPS and it's X'mas after that. Any help on this is welcome.

Here is the set of documents that's missing:
How to create your own DataIter
How to create your own model
How to create your own C++ layer
How to solve your own model.

Again, we really appreciate any help on making MXNet easier to

[2015-12-08 02:47] winstywang commented on #855
Please refer to this guide: https://mxnet.readthedocs.org/en/latest/developer-guide/operator.html Hope this helps.

[2015-12-08 03:23] qiaohaijun opened #860 "[guide] anyone give me a guide to translate mxnet model to caffe model"
please give some tip let me know where to start

[2015-12-08 03:31] qiaohaijun commented on #845
@mli @tqchen

[2015-12-08 03:38] qiaohaijun commented on #855
is there is a plan translate the doc to chinese?

[2015-12-08 03:42] winstywang commented on #855
@qiaohaijun Currently, the answer is no. We still have a lot of tasks at higher priority at hand. Your contribution is welcomed.

[2015-12-08 03:50] javelinjs commented on #842
Added @terrytangyuan to collaborators :)

[2015-12-08 03:57] GravApple commented on #855
@winstywang I have read through that, yet to understand them in a more detailed way still needs to trace through more codes, especially those functions referring to mshadow. I am wondering if you could give me a list of 'must-read' codes that I can check for?
Thanks.

[2015-12-08 04:05] mli commented on #858
That's possible since kvstore has extra memory copy. But what kind of nn and hardware you are using?

[2015-12-08 04:06] GravApple commented on #855
@piiswrong Thank you for your response. I believe the listed documents are important for those who want to use mxnet for research purpose, which will make surely mxnet a more powerful and wide used tool.

[2015-12-08 04:10] mli commented on #848
Often set -n to be the number of gpu machines you have. But you can set -s to a larger number , eg 2n. But the weights updating is often quite simple, 30% seems normal to me

[2015-12-08 05:02] winstywang commented on #855
@GravApple I suggest you to read through the examples in mshadow folder.

[2015-12-08 05:57] imafox opened #861 "Can I fix some layer when training a big network"
Hi, I wonder if I can fix the parameter of some layer while training, like have a different learning rate for different layer and make some of them zero. Thank you

[2015-12-08 06:25] piiswrong commented on #858
alexnet+TitanX. I changed --kv-store from 'local' to 'local_allreduce_device' and speed bumped from 350samples/s to 700samples/s

[2015-12-08 06:27] piiswrong commented on #861
Don't bind the gradient for the weights that you don't want to update

[2015-12-08 06:41] imafox commented on #861
Thanks a lot.

[2015-12-08 06:42] #861 closed

[2015-12-08 07:06] qiaohaijun commented on #858
@piiswrong how many gpu cards do you use?

[2015-12-08 07:07] qiaohaijun commented on #848
@mli thanks, your reply help me a lot, I will not focus on it.

[2015-12-08 08:23] antinucleon commented on #847
@pjreddie should be 32 per card.

[2015-12-08 08:32] antinucleon commented on #860
You can get weight from python, then you'd better ask help from caffe developer how to pack into caffe proto.

[2015-12-08 11:30] breezedeus opened #862 "Does neural-style support cpu run?"
I got this error:
[code]

[2015-12-08 11:32] bcd33bcd commented on #494
@xmuhcd do you succeed in config mxnet on windows? I across a problem with use https://github.com/dmlc/mxnet/releases GPU version.
![image](https://cloud.githubusercontent.com/assets/8981954/11654655/6694a688-9de2-11e5-9f5b-4515a281bfe0.png)

[2015-12-08 11:34] bcd33bcd commented on #735
I aslo across the problem. I added the all lib/dll path in config file, but VS2013 still prompt error.
![image](https://cloud.githubusercontent.com/assets/8981954/11654701/afdbc9d4-9de2-11e5-86f6-e686942814b7.png)

[2015-12-08 11:37] bcd33bcd opened #863 "Mxnet on Windows 10 error"
I use the https://github.com/dmlc/mxnet/releases GPU version, all dll/lib path added in link file,but aslo report error.
![image](https://cloud.githubusercontent.com/assets/8981954/11654732/cd899e7a-9de2-11e5-8de8-f6fce1d2f31f.png)

[2015-12-08 11:46] yajiedesign commented on #863
@bcd33bcd  do you add mxnet.lib?

[2015-12-08 11:56] bcd33bcd commented on #863
I could not find mxnet.lib. Maybe you mean libmxnet.lib?

[2015-12-08 12:33] yajiedesign commented on #863
yes,libmxnet.lib

[2015-12-08 12:41] bcd33bcd commented on #863
I have contained the lib file already.But no effect.Could you send the file to my email address?THX. And don't forgent libmxnet.dll

[2015-12-08 12:42] yajiedesign commented on #863
@bcd33bcd and you must complie with 64bit

[2015-12-08 12:48] bcd33bcd commented on #863
Yes, I aslo complie with 64bit ,release.

[2015-12-08 13:19] qiaohaijun commented on #860
@antinucleon thx

[2015-12-08 13:23] #851 closed

[2015-12-08 14:03] #860 closed

[2015-12-08 15:35] lyttonhao opened #865 "'Segmentation fault' when using simple_bind operation"
Hi, I've got a 'Segmentation fault' when I use simple_bind operation. At first, it occurs when I test my own created layers. Then I find that it occurs in others codes. I simply use the following code from [simple_bind example](https://github.com/dmlc/mxnet/blob/master/example/notebooks/simple_bind.ipynb).
[code]
Then the program may get 'Segmentation fault' at some tests and may be fine at anothe

[2015-12-08 16:17] GravApple opened #866 "Question about the default name of data and label"
I encountered the following error message
[code]
When I traced through the codes, I found the following instructions in ```mxnet/io.py```
[code]
I am wondering if the name of the data symbol and output symbol must be ```'data'``` and ```'softmax'``` individually, and can't be customised?

[2015-12-08 18:38] piiswrong commented on #866
No. All that's required is your dataiter provide data&label whose name match those in your network. For example if your loss layer is named 'l1' than your dataiter must output 'l1_label'

[2015-12-08 18:39] piiswrong commented on #865
try update to newest version, make clean, make sure you have cuda enabled in config.mk, and make again

[2015-12-08 18:41] piiswrong commented on #862
yes, run python run.py and look at the options

[2015-12-08 21:39] piiswrong commented on #863
try make clean, pull newest changes, make again

[2015-12-08 21:46] xmuhcd commented on #494
@bcd33bcd I did it successfully. However, I am using VS 2013, it not works for 2015.

[2015-12-08 22:25] #847 closed

[2015-12-08 23:18] bcd33bcd commented on #494
@xmuhcd I have used VS2013 either. And I considerd may be my lib/dll files broken.Could you send me libmxnet.dll/libmxnet.lib from email?

[2015-12-08 23:20] bcd33bcd commented on #863
@piiswrong It doesn't work.Maybe my dll/lib files broken.Could you send me your libmxnet.dll/libmxnet.lib from email?

[2015-12-08 23:35] xmuhcd commented on #494
@bcd33bcd Sure, I can send the entire project to you tonight. I am now working at school.

[2015-12-08 23:43] bcd33bcd commented on #494
@xmuhcd thank you very much.Please sent it to bcd33bcd@126.com .

[2015-12-09 01:09] vchuravy commented on #866
Maybe we should change softmax to take a symbol instead of having a fixed label name. It would also be more consistent with the regression outputs. Additionally if no symbol is provided we could automatically insert a symbol with the name `softmax_label`

[2015-12-09 01:42] lyttonhao commented on #865
@piiswrong I've updated the codes and installed again. However the problem is still there. If I try the complete 'simple_bind' example, there is no error. So I guess maybe there are some bugs of allocating or freeing memory.

[2015-12-09 01:57] GravApple commented on #866
@piiswrong
Thank you very much for your response. I see your point, and I changed the ```default_name``` in ```mxnet/io.py```, then the model works fine.
Thus I am wondering if there is a way to use customised name without directly changing in ```mxnet/io.py```?

====
In addition, I have a question about the backwards process of logistic regression. I find the following code in ```src/operator/reg

[2015-12-09 02:06] freepjf opened #867 "build a windows project to use the mxnet lib,we can not execute it? what's the problem"
there is a simple example,i can build it with no error,but when i run the program, it shows the console but do nothing,and can not run to printf.what's the matter???

#include <stdio.h>
#include <windows.h>
#include "base.h"
#include "c_api.h"

int main()
{
	printf("strat");

	KVStoreHandle out;
	MXKVStoreCreate("local", &out);
	return 0;
}

[2015-12-09 02:11] hjk41 commented on #867
You are probably missing some DLLs. You will need to add the path to all
the dependent DLLs to you PATH. For example, if you use OpenBLAS, then
libopenblas.dll should be in your PATH, same as OpenCV and cuDNN.

On Wed, Dec 9, 2015 at 10:06 AM, freepjf <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-12-09 02:21] hjk41 opened #868 "[C++] We need C++ interface, and C++ examples"
Many people are calling for C++ examples. Currently we don't have C++ interface properly exposed, and we don't have many C++ examples.

I have written a simple example with the NDArray interface in examples/cpp. But I don't have time to write a full C++ example for MLP or other algorithms yet. The problem is, we don't expose the C++ interface properly. We do have a C interface, but we don't have C

[2015-12-09 02:28] achao2013 opened #869 "solver parameter set？"
I just want to ask how to control the test interval and snapshot in the training process?

[2015-12-09 02:33] piiswrong commented on #866
@GravApple sigmoid has the nice property that it's derivative is just y - l

[2015-12-09 02:35] piiswrong commented on #869
use callbacks in mx.callbacks

[2015-12-09 02:37] piiswrong commented on #868
What do you mean by C++ interface is not properly exposed? What changes do we need?

BTW, a Makefile for your C++ example should be a good start. Unfortunately I'm not good with makefiles.

[2015-12-09 02:40] piiswrong commented on #817
Can you run any example with GPU? a quick work around is to fit with end_epoch=0 so that FeedFoward model can bind for you without training

[2015-12-09 02:43] utengr opened #870 "[R] object 'mx.ctx.internal.default.value' not found"
Finally getting a chance to go through the vignette and I cannot get the model to predict.  I get the following error on the MNIST example:

Error in mx.ctx.default() :
  object 'mx.ctx.internal.default.value' not found

Here is the model summary:

           Length Class         Mode
symbol     1      Rcpp_MXSymbol S4
arg.params 6      -none-        list
aux.params 0      -none-        list

[2015-12-09 02:49] hjk41 commented on #868
1. C++ interface cannot be directly exposed in DLL/.so files, since the
compilation environment might be different when compiling libmxnet and when
compiling applications, leading to application crash due to ABI violations.
This of course can be solved by forcing the user to always compile mxnet
from source and use the same environment to compile application, but not
really desirable: building lib

[2015-12-09 02:52] thirdwing commented on #870
@utengr  Can you tell me which operating system and which version of R you are using?

`'mx.ctx.internal.default.value' not found` error in Windows has been reported in #714 .

I just don't have enough time to track down this. It is around the end of semester and exams are coming.

[2015-12-09 02:56] freepjf commented on #867
the project directory have all the dll:
cudart32_75.dll  cudart64_75.dll cudnn64_70.dll libgcc_s_seh-1.dll libgfortran-3.dll libmxnet.dll
libopenblas.dll libquadmath-0.dll libzmq-v120-mt-4_0_4.dll opencv_world300.dll

i can run the console with no error,  but it appear forever, do nothing. i build it with vs2013.

[2015-12-09 02:58] baoqingping commented on #647
@suhangpro no, I have no idea how to fix it

[2015-12-09 03:02] hjk41 commented on #867
Could you try if you can use the binary distribution here?:
https://github.com/dmlc/mxnet/releases/download/weekly_binary_build/20151209_win64_cpu_only.7z

Remember to run the *setupenv.cmd* file before opening
app/MxnetTestApp/MxnetTestApp.sln

On Wed, Dec 9, 2015 at 10:56 AM, freepjf <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-12-09 03:04] utengr commented on #870
Sorry, I know better than that.  Here it is, but take care of finals first :)

platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          2.2
year           2015
month          08
day            14
svn rev        69053
language       R
version.string R version 3.2.2 (2015-08-14)
nickname       Fire Safety

[2015-12-09 03:09] piiswrong commented on #817
[code]
This code works fine for me.

[2015-12-09 03:10] winstywang commented on #865
The backtrace of gdb:

#0  __GI___libc_free (mem=0x746867696577) at malloc.c:2929
#1  0x00007fffe9081a49 in cudnnDestroyTensorDescriptor ()
   from /usr/local/cuda/lib64/libcudnn.so.7.0
#2  0x00007ffff2d6d6be in mxnet::op::CuDNNActivationOp::~CuDNNActivationOp (
    this=0x1b9bca0, __in_chrg=<optimized out>)
    at src/operator/./cudnn_activation-inl.h:39
#3  0x00007ffff2d6dbb9 in mxnet::op::CuDNN

[2015-12-09 03:11] winstywang commented on #865
I think it should be closely related with https://github.com/dmlc/mxnet/issues/817

[2015-12-09 03:13] winstywang commented on #817
@piiswrong He only needs the symbol stored in the checkpoint. If he initializes the symbol from scratch, it works fine.

[2015-12-09 03:14] utengr commented on #870
Update:  Restarted R and it works fine for now, but according to others it may be only temporary.  I'll keep monitoring it.

[2015-12-09 03:24] teng88 commented on #868
really need, +1

[2015-12-09 03:32] hjk41 commented on #863
You can download the pre-built library and sample VS solution from the
release tab of mxnet:
https://github.com/dmlc/mxnet/releases/tag/weekly_binary_build

On Wed, Dec 9, 2015 at 7:20 AM, bcd33bcd <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-12-09 03:32] hjk41 commented on #735
Could you try the latest binary distribution?

On Tue, Dec 8, 2015 at 7:34 PM, bcd33bcd <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-12-09 03:39] zhaofan0622 opened #871 "Error with GPU"
(1) I can run the demo using GPU successfuly.
"python example/image-classification/train_mnist.py --network lenet --gpus 0"

(2) I can run my own model using CPU successfuly.

(3) When I run my model using GPU, I get an error:

[10:36:06] ./dmlc-core/include/dmlc/logging.h:208: [10:36:06] src/engine/./threaded_engine.h:295: [10:36:06] ./mshadow/mshadow/././cuda/tensor_gpu-inl.cuh:281: Check failed

[2015-12-09 03:59] qiaohaijun commented on #869
you can read the python code ‘train_model.py’ in example

[2015-12-09 04:00] qiaohaijun commented on #848
please close this issue

[2015-12-09 04:00] #848 closed

[2015-12-09 04:00] #845 closed

[2015-12-09 04:19] freepjf commented on #867
i use your project to build, first:run setupenv.cmd,then open the project app/MxnetTestApp/MxnetTestApp.sln, copy all dll to the project dir, build is ok but run is the same error ?  if there any different enviroment between us?

[2015-12-09 04:21] sofiawu commented on #868
need it very much

[2015-12-09 04:26] hjk41 commented on #867
did you try the cpu-only version or the gpu version? For GPU, you will also
need cuDNN library.
1. run setupenv.cmd
2. open VS, then open the solution (VS must be started after you run
setupenv.cmd, or it won't load the PATH environment variable correclty)
3. if using cuDNN, put cudnn64_xx.dll into 3rdparty/cudnn. Make sure the
cudnn DLL file is in 3rdparty/cudnn/bin
4. build and run the program

[2015-12-09 04:26] sofiawu commented on #867
I have the same problem.
when I comment the functions in c_predict_api.h, it works well.
But when I use the functions , it just shows the console and even can not print the messages I put in the first line in main function.

[2015-12-09 04:36] hjk41 commented on #867
That's strange. Both CPU version and GPU version works alright for me, with
and without c_predict_api.h.

On Wed, Dec 9, 2015 at 12:26 PM, sofiawu <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-12-09 04:38] cjnewstar111 opened #872 "the speed of 4GPUS is slower than 1 GPU"
Hi, I have a problem about the speed.
I use the mxnet to train the imagenet-1k with alexnet and the batch size is 256.  I have 4 gpus(Telsa K80) in one machine.
here is the log of the mxnet:
1 gpu: "Speed: 196.53 samples/sec";
2 gpus:"Speed: 211.29 samples/sec"
3 gpus:"Speed: 226.64 samples/sec"
4 gpus:"Speed: 184.15 samples/sec"
Maybe i configured some parameters inappropriately。I need help， than

[2015-12-09 04:40] happynear commented on #868
+1 This is the most important reason that holds back me moving from Caffe to MXNet.

[2015-12-09 04:45] cjnewstar111 commented on #858
I use alexnet + 4gpus（Tesla K80）,and i use the kvstore with argument 'local'
but my speed is much lower：
while i use one gpu，the log of speed is "196.53 samples/sec"
when i use two gpus, the log of speed is "211.29 samples/sec"
when i use three gpus, the speed is "226.64 samples/sec"
when i use for gpus , the speed is "184.15 samples/sec"

[2015-12-09 04:45] freepjf commented on #867
i take the same order, use your project, only build and run，but there is the same problem.

[2015-12-09 04:53] hjk41 commented on #867
Could you attach a screenshot of the error, both when running from console
and from VS? I cannot reproduce it here.

On Wed, Dec 9, 2015 at 12:45 PM, freepjf <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-12-09 05:14] bcd33bcd commented on #863
I did use the pre-built library but still occur the problem.

[2015-12-09 05:24] tqchen commented on #872
could due to slow PCI, maybe you can try ```kvstore=local_allreduce_device```

[2015-12-09 05:30] freepjf commented on #867
i have email you with the 126 email, take a photo, you kan see i add printf,but the console didn't show,  f10 run it can not go to main. it can run with nothing error  but can not run to main.

[2015-12-09 05:54] cjnewstar111 commented on #872
thanks for your reply。
the pci bus of my machine is pci-e, and it works well for the CXXNET.
while i ues the "local_allreduce_device",all of the speed is faster than before, but the speedup rate is still not expected. here is the log:
one gpu(Tesla K80):    "Speed: 409.13 samples/sec"
two gpu(Tesla K80):     "Speed: 485.46 samples/sec"
three gpu(Tesla K80):  "Speed: 540.19 samples/sec"
four gpu(Te

[2015-12-09 05:55] cjnewstar111 commented on #872
my arguments of the train_imagenet.py is like this:
--network=alexnet  --kv-store=local_allreduce_device  --data-dir=F:/DeepLearning/data/imagenet/  --model-prefix=F:/DeepLearning/data/imagenet/model/  --batch-size=256 --gpus=0,1,2,4

[2015-12-09 06:32] hjk41 commented on #867
I see. VS is trying to load the debug symbols for the system DLLs. You can
see it from the "Output" window. If you wait for long enough, it will
eventually finish and enter the main function. This usually takes around a
minute or so, depending on your environment.

You can get rid of this behavior by undefining the "_NT_SYMBOL_PATH"
environment variable. Go to "My Computer"->"Properties"->"Advance

[2015-12-09 06:45] piiswrong commented on #872
I think the recent changes cause bad choices for KVStore reduce methods. It's also happening to me. In addition batch_size is affecting speed in an unpredictable way. @mli Could you look into it?

[2015-12-09 06:53] achao2013 commented on #869
from mx.callbacks, i can only use batch_end_callback or epoch_end_callback, but i want a paramter like iter_end_callback in the mxxnet document.

[2015-12-09 07:01] sofiawu commented on #867
I have the same problem as @freejf.
I wait for a very long time maybe an hour and still can not enter the main function.
I check the system variables  and can not find the _NT_SYMBOL_PATH

[2015-12-09 07:07] freepjf commented on #867
my computer config is E3-1230 v2,the environment did not have NT_SYMBOL_PATH, the problem is running for several hours。 it can not work。 the dll is no longger load from then on when i email you.
i think there is something different environment between you and me.

[2015-12-09 07:12] hjk41 commented on #867
Can you pause (Ctrl+Alt+Break) the program and see what it is doing? Is it
running in libmxnet.dll or some other dll?

On Wed, Dec 9, 2015 at 3:07 PM, freepjf <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-12-09 07:33] freepjf commented on #867
it saids:
title: The call stack contains only external code
you need to turn off just my code and load symbols in order to view source for this location

module information
version: 6.1.7601.19018 (win7sp1_gdr.150928-1507)
Original Location  C:\Windows\System32\ntdll.dll

[2015-12-09 07:50] piiswrong commented on #871
your label shape is wrong. check if you have an extra dimension

[2015-12-09 07:50] piiswrong commented on #869
we renamed iter to batch (I think)

[2015-12-09 08:15] achao2013 commented on #869
so i think i need to develop a function by myself that i can specify the iterval to test or snapshot

[2015-12-09 08:26] piiswrong commented on #869
I think simple use checkpoint as batch_end_callback should work

[2015-12-09 08:31] piiswrong commented on #865
Ok now I get it. This is a harmless error. It's because mxnet exited before it's fully initialized. Do something after bind and you'll be fine, like start training/predicting or simply time.sleep(10)

[2015-12-09 08:33] piiswrong commented on #817
https://github.com/dmlc/mxnet/issues/865

[2015-12-09 08:33] #817 closed

[2015-12-09 09:03] zhangchen-qinyinghua commented on #868
hi, @hjk41
1.
I use the following cmake setup, with your code, and I think this is a general setup for other tasks(this works for linux only).
Just add them to the tail of the original Makefile.

##### for using cpp interface
COMPILE_com=$(CXX) -std=c++0x $(CFLAGS) -L./lib -lmxnet  $(LDFLAGS) -I ./src
example_cpp: example/cpp/use_ndarray.cpp
    $(COMPILE_com)  -o $@ $(filter %.cpp %.o %.c %.a %.c

[2015-12-09 10:23] lyttonhao opened #876 "Segmentation fault when grouping with numpy op"
Hi, I've got segmentation fault when grouping with Numpyop and other layer. I use the [NumpySoftmax](https://github.com/dmlc/mxnet/blob/master/example/numpy-ops/numpy_softmax.py#L8) codes. The following is my testing codes:
[code]

If I return 'softmax' in the 'build_network' function, it works fine. However, when grouping it with other layer, the error occurs.

The backtrace info from gdb:
[code]

[2015-12-09 10:29] lyttonhao commented on #876
And it cannot solved by using steps like 'start training/predicting or simply time.sleep(10)' from [865](https://github.com/dmlc/mxnet/issues/865).

[2015-12-09 10:44] zhaofan0622 commented on #871
@piiswrong
My 'image.lst'  TXT  file is created by MATLAB. I have checked this file  and found no problem. If ignoring the check,I can run my model with GPU, but the train accuracy drops gradually.

[2015-12-09 12:21] erogol opened #877 "How can I obtain gradient feedback over the input image?"
Given an image, I want to see the gradient feedback propagated to the input image. Is it viable with MxNet?

[2015-12-09 12:31] winstywang commented on #877
just check grad_map['data']

[2015-12-09 12:33] GravApple commented on #866
@piiswrong I see. I will try exploring mxnet more. Thank you for your patience.

[2015-12-09 12:33] #866 closed

[2015-12-09 12:43] erogol commented on #877
I try to find grad_map in cifar-10 example but no success. where should I call grap_map?

[2015-12-09 12:44] winstywang commented on #877
You need to check the exact name of the gradient map in your codes. You can also check the adversary example in example folder

[2015-12-09 12:51] zhaofan0622 commented on #871
@piiswrong ,
I have known the reason,but without solution. my network only has convolutional layers, and the input of final softmax layer is the output of  final convolutional layer.I'm sure that the output of  final convolutional layer is 1*1*K(K classes),but in softmax layer, it isn't  consistent with the 1D label .

[2015-12-09 13:17] erogol commented on #877
where is the related module for "from data import mnist_iterator"

[2015-12-09 13:50] dylansun commented on #807
@thirdwing , I'm I have CUDA installed this time. and change the config.mk with `USE_CUDA = 1`
and `USE_CUDA_PATH = /usr/local/cuda`.
But still not work, what should I do next?

[2015-12-09 14:18] The-Dub opened #878 "[R]Shiny App - Failed to recognize format of file"
Hi,
First thank you for putting together this library and writing a shiny app for that. When i saw that i got very excited, but unfortunately I can't manage to make it work.
The image loads properly, but the ML library throw me some errors that I don't know what it means / how to solve it, so I'm posting here hoping for some explanation.

Here is what i get when i try to throw an image at it (it's

[2015-12-09 14:18] hehaodele opened #879 "How can I create customized Numpylevel layer(operator) such as FullyConnect"
I want to build a sparse connected layer in MXNET by myself, but there is no example for how to build a layer having weight and need to calculate gradient? Can anyone help? Thanks very much^_^

[2015-12-09 15:31] brightown commented on #868
+1，sometimes miss cxxnet

[2015-12-09 16:01] tqchen commented on #841
@butterluo Yes, ps-lite is used as distributed backend, but the interface is quite flexible to change to others when needed. The new ps-lite is quite helpful, and allows you to define custom updates through native language such as python

[2015-12-09 16:04] tqchen commented on #647
The name of the unspecified arguments are automatically generated. In your case
[code]
Alternatively, specify the name by
[code]

please check if it works for you, it would be great if any of you are interested in contributing an example of multi-labels even a mock up on with MNIST

[2015-12-09 16:05] #869 closed

[2015-12-09 16:09] tqchen commented on #381
See https://github.com/dmlc/mxnet/blob/master/doc/python/io.md#extension-mutliple-labels-for-a-single-image

[2015-12-09 16:10] zhaofan0622 opened #880 "InferShape Error in softmax's label argument"
**This is the  structure of my network:**
    ......
    cccp6 = mx.symbol.Convolution(data=relu_cccp5, kernel=(1, 1), stride=(1, 1), num_filter=num_classes)
    # stage 4
    softmax = mx.symbol.SoftmaxOutput(data=cccp6, name='softmax',multi_output=True)

**However,when I begin to train my model, I meet such an error:**

mxnet.base.MXNetError: InferShape Error in softmax's label argument
Correspo

[2015-12-09 16:18] tqchen commented on #831
The metric is only used to show evalaution statistics, with nothing related to the objective function. The objective is defined by what Output node you used in the graph, such as SoftmaxOutput and RegressionOutput

[2015-12-09 16:21] thirdwing commented on #878
@The-Dub Sorry for this. Windows doesn't have imagemagick installed by default.

Can you follow the link below to install imagemagick and try again?

http://www.imagemagick.org/script/binary-releases.php

[2015-12-09 16:32] The-Dub commented on #878
I installed it and made sure the "vcomp120.dll" was properly installed on my machine, but I still encounter the same error.
Do i need to associate something with imagemagick?

[2015-12-09 16:50] jermainewang commented on #879
Hi, could you try [numpy-level op](https://github.com/dmlc/mxnet/tree/master/example/numpy-ops) to do that?

[2015-12-09 16:54] jermainewang commented on #880
What's the shape of your label tensor?

[2015-12-09 17:15] hehaodele commented on #879
@jermainewang Following is the code I used to build a sparse connected layer
[code]
In addition, the structure and model are defined as following
[code]
I print ```dy``` during training, yet the printed value sometimes become ```inf``` or ```nan```. Any ideas to solve this? Thanks!

[2015-12-09 18:14] GravApple opened #881 "Encounter error when implementing customised C++/MShadow layer"
I am trying to implement ```SmoothL1Loss``` layer by using C++/MShadow. This layer is similar to ```RegressionOutput```, thus I imitate the code of ```regression_output-inl.h```, ```regression_output.cc``` and ```regression_output.cu``` and write my own.

When implementing the ```ForwardOp``` and ```BackwardOp``` of ```SmoothL1Loss```, I added the following code in ```src/operator/mshadow_op.h```:

[2015-12-09 18:31] piiswrong commented on #881
How did you call smooth_l1_loss? BTW, I would replace 1.0f with 1.0f/sigma2

[2015-12-09 18:33] piiswrong commented on #880
Why do you want multi_output=True if you only have one output?

[2015-12-09 18:44] piiswrong commented on #876
This is a different bug. NumpyOps are currently not real symbols. I'll fix it when I find time

[2015-12-09 19:24] mli commented on #872
Alexnet eats a lot of pcie bandwidth. We often use a much larger batchsize. The inception network is much better

[2015-12-09 20:19] piiswrong commented on #879
You said "sometimes become inf or nan" so it's not always inf or nan? This most likely is because your learning rate is too big

[2015-12-09 20:30] piiswrong commented on #868
@hjk41 I think require the user to build from source when using C++ api should be fine. Maintaining a complete C  API seems too much work load

[2015-12-09 20:36] piiswrong commented on #872
@mli KVStore.create is unaware of the context being used (which is gpu) and always select 'local_allreduce_cpu' which cause gradients to be copied to CPU even for single GPU training. We should change the interface to include context

[2015-12-09 20:44] piiswrong commented on #871
reshape final convolutional layer output to (K,) with reshape symbol

[2015-12-09 20:45] #862 closed

[2015-12-09 20:49] piiswrong commented on #868
@teng88 @sofiawu @happynear Could you describe your use case? Why do you need C++ interface? Which part of the interface do you need most?

[2015-12-09 20:55] Kublai-Jing commented on #722
Probably not. Seems that solving this will have to dive into mshadow code, which is harder  ?

[2015-12-09 21:35] piiswrong commented on #722
@JianboTang @Kublai-Jing As tqchen pointed out, I think you can replace simple_bind with bind and directly provide the ndarrays as a temporary solution

[2015-12-09 21:53] zizhan opened #883 "make error on Mac OS X 10.10.5"
my Graphics is Intel Iris Pro.

I got a warning like:
clang-3.5: warning: argument unused during compilation: '-pthread'
ld: warning: directory not found for option '-L/Developer/NVIDIA/CUDA-7.5/lib64'
Undefined symbols for architecture x86_64:
 "__ZN5mxnet2op24CreateRegressionOutputOpIN7mshadow3gpuEEEPNS_8OperatorENS0_8reg_enum20RegressionOutputTypeE", referenced from:    __ZNK5mxnet2op20Regressi

[2015-12-09 23:10] Kublai-Jing commented on #722
Yeah that's what I am doing now : )

[2015-12-10 01:29] freepjf commented on #867
can you build a exe file to another pc(clean pc) to run?you can print "helloe word" for example.

[2015-12-10 01:44] winstywang commented on #876
Is there any better way to fix it? We could do the PR if needed

[2015-12-10 01:48] piiswrong commented on #876
Should be fixed after my latest pr is merged
On Dec 9, 2015 5:44 PM, "Naiyan Wang" <notifications@github.com> wrote:

[2015-12-10 01:54] happynear commented on #868
@piiswrong
The first thing is to support C++ testing. I am working on a project for surveillance analysis. I don't want my clients to see my codes, and they would not always have a python environment on their PC.

The second thing is personal. I am not very familiar with python. My programming skill only includes C++ and Matlab. Unfortunately, these two languages are not supported by MXNet. Thus,

[2015-12-10 02:05] piiswrong commented on #868
Our current api already supports pure c++ testing.  There is a prediction
api
Folder
On Dec 9, 2015 5:54 PM, "Feng Wang" <notifications@github.com> wrote:

[2015-12-10 02:05] achao2013 opened #885 "problem in training"
when i train a network，the accuracy keeps falling down from the begin of each epoch，why？

[2015-12-10 02:08] gujunli commented on #885
Is it accuracy or loss? Loss goes down.
Thanks.
junli

On Wed, Dec 9, 2015 at 6:05 PM, achao2013 <notifications@github.com> wrote:

--
************************************************
Junli Gu--谷俊丽
Coordinated Science Lab
University of Illinois at Urbana-Champaign
************************************************

[2015-12-10 02:11] hjk41 commented on #868
I want C++ because I would like to build a "standalone" package that runs
MXNET training. I don't want to install Python on every machine that I will
use, because maintaining the Python version will be a nightmare.

I tried using some of the "portable Python" packages such as Anaconda, but
they don't really work well, and they are huge.

On Thu, Dec 10, 2015 at 10:05 AM, Eric Junyuan Xie <notifica

[2015-12-10 02:16] achao2013 commented on #885
the full name is “Train-accuracy”，i don't know how to display the loss yet

[2015-12-10 02:43] happynear commented on #868
Yes, there is a c++ api file, but without examples. I still don't know how to run a trained model.

[2015-12-10 03:15] hehaodele commented on #879
I have tried very small learning rate and small parameter initial factor, but the problem still have. SO I wonder whether it is because, I do not build the layer in the correct way. For example, I do not understand the accurate definition of the```in_shape```, why it is a list, I find that the ```in_shape[0]``` is a tuple of ```(batch_size, dimension_of_data)```, but what is the meaning of ```in_s

[2015-12-10 03:36] li-haoran commented on #655
i also meet the same question:
import mxnet as mx
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "D:\Python27\lib\site-packages\mxnet-0.5.0-py2.7.egg\mxnet\__init__.py", line 7, in <module>
    from .base import MXNetError
  File "D:\Python27\lib\site-packages\mxnet-0.5.0-py2.7.egg\mxnet\base.py", line 43, in <module>
    _LIB = _load_lib()
  File "D:\Python27\lib\

[2015-12-10 03:46] hjk41 commented on #655
haoran, are you using 32bit Python or 64bit?

On Thu, Dec 10, 2015 at 11:36 AM, li-haoran <notifications@github.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-12-10 03:47] GravApple commented on #881
@piiswrong
In ```Forward```, I use the following code:
[code]
While in ```Backward```
[code]
I will try your suggestion after I get the current version work.

[2015-12-10 03:49] teng88 opened #886 "question about default blas chosen for windows"
according to the documentation, should the default blas chosen for windows be "blas", however, currently is "atlas"?

[2015-12-10 03:56] li-haoran commented on #655
i use 64.bit python 2.7.10.

[2015-12-10 03:58] winstywang commented on #877
It should be in the example folder named data.py

[2015-12-10 04:01] piiswrong commented on #879
Please refer to https://mxnet.readthedocs.org/en/latest/tutorial/new_op_howto.html

[2015-12-10 04:03] winstywang commented on #876
Great. Will wait for that.

[2015-12-10 04:03] #876 closed

[2015-12-10 04:04] winstywang commented on #647
@lyttonhao Could you contribute an example after finishing your ongoing work?

[2015-12-10 04:05] kayhan-batmanghelich opened #887 "Latest pull (today Dec 9) fails to build on mac"
Dear All,

I pulled the code again today and fail to build (I have successfully built it before). This is the error I get:

[code]

[2015-12-10 04:12] winstywang commented on #887
try update submodule by git submodule update

[2015-12-10 04:23] piiswrong commented on #887
@winstywang A lot of people seems to stumble on this. Is there a way to force always update submodule?

[2015-12-10 04:27] kayhan-batmanghelich commented on #887
Yep, that works. Thank you.

[2015-12-10 04:27] #887 closed

[2015-12-10 04:32] lyttonhao commented on #647
@winstywang Sure. I'm willing to make some contributions.

[2015-12-10 04:37] jimxinbo commented on #886
Not sure if this will help, but I have successfully build up mxnet on windows.

Regarding blas, I download the latest binary package of openblas from http://www.openblas.net/. Once you run Cmake, it will complain about not finding atlas, where you can just set BLAS to be Open; and then using the corresponding include dir and libs.

[2015-12-10 04:42] jimxinbo opened #888 "Checkpoint at intervals?"
Currently, does the model.py rapper support setting checkpoint at intervals? Say, I'd like to save the model parameters every 100 epochs? Any easy way to tell model.py to do so?

[2015-12-10 04:42] piiswrong commented on #881
`Assign(out, req[smooth_l1_loss_enum::kOut], F<ForwardOp>(data));` There is your problem. your smooth_l1_loss struct's Map takes 2 inputs, you only provided one: data

[2015-12-10 04:42] piiswrong commented on #888
mx.callback.docheckpoint does that

[2015-12-10 04:44] jimxinbo commented on #888
Great, thanks!

[2015-12-10 04:51] hehaodele commented on #879
Well, I think my layer is consistent to the reference. Here is another question: If I want to initialize my layer with 'weight' equals one and 'bias' equal zero, but the other layer(provided by mxnet) with mx.init.Uniform(0.001). Is there any easy way to implement this? or it is not supported by MXNET. Thanks very much~~

[2015-12-10 04:55] thirdwing commented on #878
@The-Dub Please give me more time.

`gm.exe` should be part of imagemagick.

[2015-12-10 05:45] handyzeng opened #889 "Error from ‘im2rec.py’ and 'make_list.py'"
Python version: 3.4
Visual Studio 2013 Win64 build

1.
In ‘im2rec.py’ and 'make_list.py', error happens in the function 'make_list'.
The 'chunk_size' is a float value, so it can not be the index of 'image_list'.
I think it is better change the line
 'chunk_size = N/num_chunks'
  to
 'chunk_size = int(N/num_chunks)'

2. Whe use im2rec.py,  I had the following error:
Traceback (most recent call last

[2015-12-10 07:05] qiaohaijun opened #890 "[error] Check failed: (param_.workspace) >= (required_size)"
An fatal error occurred in asynchronous engine operation. If you do not know what caused this error, you can try set environment variable MXNET_ENGINE_TYPEto NaiveEngine and run with debugger (i.e. gdb). This will force all operations to be synchronous and backtrace will give you the series of calls that lead to this error. Remember to set MXNET_ENGINE_TYPE back to empty after debugging.
terminate

[2015-12-10 07:06] qiaohaijun commented on #890
GPU k40m
12G memory
when this error ocur, just use  4786MiB memory

what's the problem

[2015-12-10 07:26] GravApple commented on #881
@piiswrong Thank you for your advice. Now the ```smooth_l1_loss``` with a parameter ```sigma``` works fine.
I am wondering if there are some mechanism for gradient checking? Currently I can only define my customised metric to see whether everything is going well.

[2015-12-10 07:35] piiswrong commented on #881
write a test case in tests/python/unittest/test_operator.py using check_numeric_gradient from tests/python/unittest/check_utils.py

[2015-12-10 08:01] piiswrong commented on #890
This is a known bug and it will be fixed after https://github.com/dmlc/mxnet/pull/873 is merged
@tqchen this is the cudnn algorithm bug I talked about

[2015-12-10 08:02] piiswrong commented on #886
@hjk41 Could you have a look?

[2015-12-10 08:02] piiswrong commented on #883
Iris Pro doesn't support cuda. So you need to turn it off

[2015-12-10 08:28] hjk41 commented on #886
It is caused by the cmake file in MShadow.

I think we should set OpenBLAS as default. More and more people are using
OpenBLAS nowadays.

On Thu, Dec 10, 2015 at 4:02 PM, Eric Junyuan Xie <notifications@github.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-12-10 08:42] teng88 commented on #886
really quick answer :+1:
I can help to change this if you are willing to.

[2015-12-10 09:13] hjk41 commented on #886
Already pushed to mshadow, you can pull the latest mshadow and clear cmake
cache, then it should try to find OpenBLAS by default.

On Thu, Dec 10, 2015 at 4:42 PM, Teng Cao <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-12-10 09:14] teng88 commented on #886
:+1:

[2015-12-10 09:22] cuihengbin commented on #879
@jermainewang @piiswrong
Additionally, if I want to set the "num_hidden", how should I code in my new created layer?
Maybe someone can show a complete example of fully-connected layer with numpylevel/ndarraylevel layer operator.
Needs your help ~ Thank you very much.

[2015-12-10 09:34] qiaohaijun commented on #890
@piiswrong @tqchen  #873  work

[2015-12-10 09:53] #890 closed

[2015-12-10 10:21] sofiawu commented on #846
I write the predict C++ code use the c_predict_api.h, and it seems work.

[2015-12-10 10:21] #846 closed

[2015-12-10 11:12] swpd opened #892 "How to take multiple rows from Embedding layer?"
From the documentation, currently the embedding layer only support taking **one-hot** input to retrieve one row from the embedding weight matrix.

I want to take multiple rows (say, **N** rows, **N** is not fixed) from the embedding and then sum all these rows up before feeding to the next layer. Is it possible to achieve this with the current implementation of **MXNet**, or should I customize a n

[2015-12-10 11:23] GravApple commented on #881
I see. Thank you again and I will try exploring more.

[2015-12-10 11:23] #881 closed

[2015-12-10 12:07] dselivanov commented on #744
Also have problems when compiling with opencv on 15.10:

im2rec.cc:(.text.startup+0x1c37): undefined reference to `cv::imencode(std::string const&, cv::_InputArray const&, std::vector<unsigned char, std::allocator<unsigned char> >&, std::vector<int, std::allocator<int> > const&)'
build/c_api/c_api.o: In function `MXRecordIOReaderReadRecord':
c_api.cc:(.text+0x23da): undefined reference to `dmlc::R

[2015-12-10 12:12] srand99 opened #893 "Error while image_width != image_height"
The training program can not work while the image width and height are different.
I can train the samples with 80x80 pixels, but 64x72 could no work.
In my training, image_width=64 and image_height=72.

I used data_shape = (3, 72, 64), then I got an error:
[[[19:45:42] ./dmlc-core/include/dmlc/logging.h:208: [19:45:42] src/io/./image_augmenter.h:198: Check failed: static_cast<index_t>(res.cols) >=

[2015-12-10 12:27] dselivanov opened #894 "R package compilation error"
I got following error while package compilation (`R CMD INSTALL mxnet_0.5.tar.gz`):

ndarray.cc: In static member function ‘static void mxnet::R::NDArray::Save(const List&, const string&)’:
ndarray.cc:220:15: error: ambiguous overload for ‘operator=’ (operand types are ‘std::vector<std::__cxx11::basic_string<char> >’ and ‘Rcpp::NamesProxyPolicy<Rcpp::Vector<19> >::const_NamesProxy’)
     lst_names

[2015-12-10 12:35] erogol opened #895 "Help for Adversial example to apply it to a single image with a pre-trained network with Batch Normalization?"
My real purpose is to load a pretrained network to the work-flow proposed in example/adversary and obtain a gradient image for a single image.

I load a pre-trained model by the following code and pass all its parameters to newly created model.

[code]

After this stage, even in everywhere I defined the context as mx.gpu(0), still model stays in cpu memory as the output of `print model.debug_str()

[2015-12-10 12:51] dselivanov commented on #894
I removed ` -std=c++11` flag from `CXXFLAGS` in my *Makevars*  file and this resolves problem. But why this is so important?

[2015-12-10 13:43] The-Dub commented on #878
thank you, i will try to reinstall it, maybe something went wrong

[2015-12-10 14:03] dselivanov commented on #347
On my ubuntu machine I added following strings to `.profile`:
[code]
Works for me.

[2015-12-10 15:44] thirdwing commented on #878
Your problem is actually from imager.

Maybe you can get help from https://github.com/dahtah/imager

He is the real expert on this.

On Thu, Dec 10, 2015 at 8:43 AM, The-Dub <notifications@github.com> wrote:

--
Qiang Kou
qkou@umail.iu.edu
School of Informatics and Computing, Indiana University

[2015-12-10 15:52] tqchen commented on #893
This is can be fixed, by changing it to
[code]
Thanks for the catch! Do you mind to open a PR for this?

cc @sneakerkg @winstywang

[2015-12-10 16:03] thirdwing commented on #894
@dselivanov I am sorry that I also don't have any idea about this.

Can you tell me which operating system and which version of R you are using?

[2015-12-10 16:22] The-Dub commented on #878
Oki doki, thank you for your help :)!

[2015-12-10 16:28] zhangchen-qinyinghua opened #897 "We do not have loss operators in CPP?"
I can't find the loss operators in CPP codes, this makes it hard to control the backward process (in c/cpp).
Also, the trainning process seems to be sealed inside the python object mxnet.model.

All the above mean it is not easy to control the training process. For example, is it easy to give different learning rates to different layers?
so...I don't feel that a good practice.

Correct me if I mis

[2015-12-10 16:33] zhangchen-qinyinghua commented on #868
I finally make it to bind the variables and operators and go Forward.
However, I feel it hard to make the net go Backward. Because I can't find the loss operators in CPP.
#897

[2015-12-10 16:33] dselivanov commented on #894
I installed mxnet and `R 3.2.2` on fresh new *ubuntu 15.10*, `gcc 5.2`. But mxnet shared library I used `gcc 4.9` as nvidia only supports 4.9 branch.

[2015-12-10 16:37] cuihenggang opened #898 "Does the "clip gradient" configuration apply to the weights of all layers?"
I have some questions about the "clip gradient" configuration.

I remember in Caffe, when the "clip gradient" configuration is set for the SGD solver, it will possibly down scale the gradients, such that the *summation* of the L2 norms of the gradients of all the layers is smaller than the specified number (e.g., 10).

I'm wondering is the behavior the same in MXNet? I have this question because I

[2015-12-10 16:44] zizhan commented on #883
@piiswrong thanks a lot. finally successfully complie and train... T T

[2015-12-10 16:44] #883 closed

[2015-12-10 17:00] zhangchen-qinyinghua commented on #846
Oh you mean, Preidcting.
However, the Training in cpp code still seems hard by now.

[2015-12-10 18:06] zhangchen-qinyinghua commented on #897
Seems the softmax-output operator is just the loss operator.
I will close this issue.

[2015-12-10 18:07] #897 closed

[2015-12-10 19:02] piiswrong commented on #898
It's possible. But it will slowdown performance. you need to write your own training loop for that

[2015-12-10 19:11] cuihenggang commented on #898
@piiswrong Thank you for pointing out this, and actually I'm more curious about what's the current default behavior of gradient clipping in MXNet. Will it clip the gradient of each weight independently?

[2015-12-10 19:25] piiswrong commented on #889
1 is a python 2&3 compatibility thing. In python 2 1/2==0 and in python 3 1/2 == 0.5...
2 is a python 3 bug. I'll look into it

[2015-12-10 21:31] kayhan-batmanghelich commented on #747
Hi @antinucleon and @piiswrong , I was wondering if there is any update about this? Thanks.

[2015-12-10 21:41] piiswrong commented on #747
@kayhan-batmanghelich @korneil hasn't been active for a while. You are welcome to pick up where he left off

[2015-12-10 21:54] matthill commented on #531
Linking two other requests for similar functionality:

  - https://github.com/dmlc/mxnet/issues/868
  - https://github.com/dmlc/mxnet/issues/762

[2015-12-10 22:41] handyzeng commented on #889
Thanks。
Python 2.7 runs well。

发自我的 iPhone

[2015-12-11 05:50] piiswrong commented on #895
You'll need to modify the BN layer for that. Compute dataset-wise statistics for mean and std, and use them at test time instead of compute from batch everytime

[2015-12-11 05:52] #888 closed

[2015-12-11 05:52] #889 closed

[2015-12-11 05:53] #886 closed

[2015-12-11 05:56] piiswrong commented on #898
yes

[2015-12-11 08:22] sofiawu opened #902 "how to initialize the weights"
I want to init the fc layer weights alone , how to do ?

[2015-12-11 08:36] were commented on #831
OK, I have got wrong with the function of metric.
I thought it is response to both evaluation and objective.

[2015-12-11 08:43] were commented on #831
Another problem is that I faced a problem when the output vector is 1d.
It raises error.

[2015-12-11 09:26] wsybupt opened #903 "OpenCV is unavailable Message and no output for distributed training"
I have 2 ssh-able machines , and this mxnet folder is in the same place on these machines.
When I running:
[code]
on one machine. There is just the message said that " OpenCV is unavailable". When I input the command "top" on the other machine, I can see there is 2 python process.

 I just read the README.MD  at https://github.com/dmlc/mxnet/tree/master/example/image-classification.
Is there somet

[2015-12-11 10:28] eecrazy opened #904 "problem when running the code example/rnn/lstm_ptb.py"
when I run the example/rnn/lstm_ptb.py I got the divide by zero error.

☁  rnn [master] ⚡ python lstm_ptb.py
OpenCV is unavailable.
Loading ./data/ptb.train.txt, size of data = 929590
Unique token: 10000
Loading ./data/ptb.valid.txt, size of data = 73761
Unique token: 10000
Vocab=10000
Training swith train.shape=(46445, 20)
Training swith val.shape=(3675, 20)
batch_size=20
seq_len=35
Epoch [28] Tr

[2015-12-11 11:12] erogol commented on #895
You mean setting an parameter accordingly or coding this function to that layer. But how does indeption net predict on a single image in predict-with-pretrained-model.ipynb ?

[2015-12-11 14:25] erogol opened #905 "Context of parameters of a network in GPU is shown CPU"
In the example predict-with-pretrained-model.ipynb if I do the following

[code]

All the output is cpu(0) even I guess the code is executed in GPU while prediction. I guess this is a bug.

[2015-12-11 14:58] tqchen commented on #905
All the parameters  of ```mx.model``` resides in are on cpu and will be copied to GPU before training and copied back after it finishes. This makes things easier to load  GPU trained models into CPU.

[2015-12-11 14:58] #905 closed

[2015-12-11 14:59] Kublai-Jing commented on #904
I believe you are using too large learning rate.

[2015-12-11 15:00] tqchen commented on #895
You want to turn ```is_train=False``` for test time prediction, and it should work for any batch size

[2015-12-11 15:03] tqchen commented on #885
please be a bit more specific, e.g. what is the configuration you use which could be helpful to give others more context. Usually accuracy goes down when you have bad initialization, or too large learning rate.

[2015-12-11 15:13] tqchen commented on #831
@were I am going to close this issue for now. Can you open another issue with a small snippet that reproduces your problem? We can take a look. The accuracy measure was only defined for more probability output of each class, so not 1d vector

[2015-12-11 15:13] #831 closed

[2015-12-11 15:13] #843 closed

[2015-12-11 15:18] tqchen commented on #902
You can pass pre-initialized weight into  Feedforward as in

https://github.com/dmlc/mxnet/blob/master/python/mxnet/model.py#L479

The Feedforward is a thin wrapper of  NDArray and initialization happens here https://github.com/dmlc/mxnet/blob/master/python/mxnet/model.py#L540 You can do arbitrary operations you like to initialize the ndarrays like in this function. Either by reusing initializer c

[2015-12-11 15:19] tqchen commented on #903
This happens to me on some machines as well and I do not know what was the cause, but since python process occured, it should run without a problem

[2015-12-11 15:20] tqchen commented on #903
So simply ignoring the message should be fine

[2015-12-11 15:21] tqchen commented on #893
fixed by https://github.com/dmlc/mxnet/pull/900

[2015-12-11 15:21] #893 closed

[2015-12-11 18:10] were commented on #831
OK, let me reproduce my problem.

Thank you for helping me a lot.