[2016-07-04 16:14] diggerdu commented on #612
what are you mean?
please explain it more in detail
i was screwed by this probleam

[2016-07-04 19:28] piiswrong commented on #2614
mx.io.resizeiter

[2016-07-04 19:31] piiswrong commented on #2608
You can do it in the submodule ps-lite.
However, we find it not necessary for gpu training. Sync SGD works best for less than a couple hundred gpu machines

[2016-07-04 22:54] thirdwing commented on #2392
@bdlacree @hoaphumanoid Sorry for this. Give me some time to think about it.

[2016-07-05 00:54] tqchen commented on #2612
interesting, the forward cost appears to be good, I think the backward kernel was not very well optimized. Maybe we need some idea on how to better optimize  the kernel.

[2016-07-05 01:10] blazerygy commented on #2608
@piiswrong Thank you for your answer,but I want to test this consistency model on MXNet which is a deep learning system. If I want to implement it, just modify the code of ps-lite enough? Can you give the consistency model code which you tested before? Thx.

[2016-07-05 01:33] tqchen commented on #2608
Yes, this will involve modification in ps-lite, as far as I know, only sync and no bounded async is supported so far

[2016-07-05 01:33] #2608 closed

[2016-07-05 02:10] long-jian commented on #1228
@yuantangliang Hey, Finally I successfully run mxnet package on R with Ubuntu without the low accurate problem and correctly ones matrix of counting on GPU. Thanks for helping. My environment is GTX1080, Ubuntu 14.04, CUDA 8.0, R 3.3.1. This is a really nice experience to try it on Ubuntu. I learned a lot. :D

[2016-07-05 03:30] zmonoid commented on #2614
Thank you so much!

[2016-07-05 03:34] zmonoid commented on #2598
Thank you, problem solved :-)

[2016-07-05 03:40] zmonoid commented on #2588
Thanks, the problem is input data size for inception-v3 should be 299.

It seems that larger network is more capable to generalize for input data, but also easier to overfit. GoogleNet at last converges. Network size Alexnet <VGG<Google < Inception

[2016-07-05 03:58] Godricly commented on #2609
The problem I have not is that asnumpy function. Somehow, it's trying to give a float type ndarray while I'm using double now. And  this [exception ](https://github.com/dmlc/mxnet/blob/master/src/ndarray/ndarray_function.cu#L32)is given. I tried to add some print and nothing was printed after this [WaitToRead](https://github.com/dmlc/mxnet/blob/master/src/ndarray/ndarray.cc#L690).
The most confusi

[2016-07-05 04:39] sxjscience commented on #2396
@magic282 The PR has been merged in MShadow.

[2016-07-05 04:39] #2396 closed

[2016-07-05 05:23] sxjscience commented on #2581
@kxf8608 Should be supported by https://github.com/dmlc/mxnet/pull/2615

[2016-07-05 05:30] lugui2009 opened #2616 "Could somebody tell me how to use softmaxoutput function exactly?"
Hi everyone.I have a question about the realization the softmaxoutput of loss layer which confuses me a lot. I wrote a simple CNN network below.just three convolution layers.
######

[code]
######

 I used the infer_shape() method to get the dimension of label ,here I suppose my size of data is (50,1,33,33)
######

arg,out,aux=mynet.infer_shape(data=(50,1,33,33))
I get the result:
 arg
[(50L, 1L,

[2016-07-05 05:55] yuantangliang commented on #2610
Thanks you

[2016-07-05 05:56] #2610 closed

[2016-07-05 06:25] piiswrong commented on #2616
label is integer indexes ranging over the classes

[2016-07-05 06:36] kxf8608 commented on #2581
so cool!! you really helped a lot! Thank you @sxjscience @jennyzhang0215

[2016-07-05 06:43] zmonoid commented on #2614
Internal reset should be disabled in order to continuing the training on the rest of data:
test_res = mx.io.ResizeIter(test, num_batches, reset_internal = False)

[2016-07-05 06:43] #2614 closed

[2016-07-05 06:44] zmonoid commented on #2607
In this case, the number of samples could be got from corresponding *.lst file

[2016-07-05 06:44] #2607 closed

[2016-07-05 06:46] kxf8608 commented on #2581
Could you also implement it on ndarray please? I actually wish to do mx.ndarray.batch_dot(left,right) in the forward function of my customized layer. Sorry to bother you again and thanks a lot! @sxjscience

[2016-07-05 07:28] piiswrong commented on #2612
Just copy torch's kernel?

[2016-07-05 08:12] tornadomeet opened #2617 "some difference implementation on BN between with cudnn v5 and without"
related #2600
I trained one model using cudnn v5(the model is like resnet, include BN operator), but when i using the model for predict without cudnn, the outpout is also the same(both cpu and gpu). and when using cudnn for predict, then the result is ok.  (have test the newest version of mxnet, but the same phenomenon)

so there maybe some difference Implementation on BN between using cudnn v5 an

[2016-07-05 08:13] tornadomeet commented on #2600
@piiswrong @thirdwing My problem is still exist, related #2617

[2016-07-05 08:29] piiswrong commented on #2617
I tested consistency between cpu and cudnn implementation:
[code]
It passed.

The difference between cudnn v4 and v5 is that with v4 BatchNorm use mxnet's own implementation and CuDNNBatchNorm uses cudnn's implementation. The two have different parameter specs so cannot be used interchangeably.
We cudnn v5 the cudnn implementation is merge in as the default implementation for BatchNorm and CuDNNBa

[2016-07-05 08:44] luoruisichuan opened #2618 "problem about "reshape the matrices into arrays""
I run some sentences on this link,
http://mxnet.readthedocs.io/en/latest/packages/r/mnistCompetition.html

that is ,
"
Then let us reshape the matrices into arrays:
train.array <- train.x
dim(train.array) <- c(28, 28, 1, ncol(train.x))
test.array <- test
dim(test.array) <- c(28, 28, 1, ncol(test))
"

but I get the following problem ,what is wrong?
"

Error in dim(test.array) <- c(28, 28, 1, ncol(t

[2016-07-05 08:47] zhangqianhui commented on #2602
@SlipknotTN

[2016-07-05 09:02] rhythm9229 commented on #1264
@iluvatar593 can you please share the steps you followed for building mxnet for android?

[2016-07-05 09:20] tornadomeet commented on #2617
@piiswrong i just test your code, it also passed.
because this issue happen when during predict phase, so when i changed the code in function check_consistency(), set ```exe.forward(is_train=False)```(maybe check_consistencydo not support this test), then the test is failed.

[2016-07-05 09:37] Godricly commented on #2609
kvstore issue.

[2016-07-05 09:37] #2609 closed

[2016-07-05 10:03] lugui2009 commented on #2616
@piiswrong thank you for your reply. After some reading ,I may understand.In the common classification  problem of network,we will setup the number of neurons as same as the number of classification indexes.After softmaxoutput ,we have a max() function and get only one index.So Can I get the conclusion that the softmaxoutput is only suitable for classification.

[2016-07-05 10:30] JohanCao opened #2619 "RoI pooling backward assertion failed"
Hi Guys,

I was running the rcnn code in example and I keep get the errors:
**Assertion `roi_batch_ind >= 0' failed** or **Assertion `roi_batch_ind < batch_size_' failed** during the RoI pooling backward calculation. Has anyone get these errors before? Many thanks!

p.s. the code works fine with config.TRAIN.BATCH_IMAGES = 2 in config.py, I get the errors after change config.TRAIN.BATCH_IMAGES to

[2016-07-05 11:11] sxjscience commented on #2619
@precedenceguo

[2016-07-05 11:14] tornadomeet commented on #2617
Hello, @piiswrong my problen is solved by add  ```if (param_.fix_gamma) slope = 1.0f``` in batch_norm-inl.h and ```if (param_.fix_gamma) gamma = 1.0f``` in src/operator/cudnn_batch_norm-inl.h during forward().
i don't know why, because the init of gamma is 1.0, so if fix_gamma=True, it should be always 1.0

[2016-07-05 12:23] horserma opened #2620 "How do I correctly use SliceChannel?"
Hi,
I am trying to split a symbol to several symbols and deal with them respectively, but i found that the return value of SliceChannel is a single symbol rather than an array. For example,

[code]

Any clue? thanks.

[2016-07-05 12:28] diggerdu opened #2621 "How can i derive weights from a model?"
this is my code:
[code]
but:
[code]

[2016-07-05 12:30] #2618 closed

[2016-07-05 12:55] MrPig opened #2622 "An fatal error with "broadcast_plus, broadcast_mul,...""
I write some code which use the function mx.sym.broadcast_(op). But everytime I run the code, it will cause a crash and I lose control of my compute for about one minute. With some debugging, finally I locate the error from the function mx.sym.broadcast_(op) . I simplify the code to a very simple version, it also crash. The error message is
[code]
The simplified code is
[code]
Am I have a wrong us

[2016-07-05 13:25] luoruisichuan opened #2623 "how to read PARAMS file and JSON file?"
I use the command  " epoch.end.callback = mx.callback.save.checkpoint(path)", and get the following files ,
studyfolder-0001      (file type: PARAMS file )
studyfolder-symbol.json     (file type:JSON file )

How to read these files?

thanks.

[2016-07-05 13:31] luoruisichuan commented on #2623
I use the mxnet R packages.

[2016-07-05 13:32] sxjscience commented on #2622
@MrPig Are you using the latest version? The code runs correctly on my computer.

[2016-07-05 13:34] sxjscience commented on #2515
Supported by https://github.com/dmlc/mxnet/pull/2615

[2016-07-05 13:34] #2515 closed

[2016-07-05 13:38] sxjscience commented on #2622
@MrPig Could you help check if such problem exists in the latest version (I've just updated)?

[2016-07-05 13:56] sxjscience commented on #2401
@piiswrong @sbodenstein I'm thinking whether it's necessary to write non-cudnn based RNN symbols in C++. Torch seems to only have included the CuDNN version of LSTM.

[2016-07-05 14:24] MrPig commented on #2622
@sxjscience Amazing,  the error does not exist in the latest version.  thank you for answering.
p.s: what more shock me is that I just feel depressed there is no operator like nn.MM() in torch this afternoon. when I download the latest version I find it has been supported in latest version. so lucky..

[2016-07-05 14:26] #2622 closed

[2016-07-05 14:27] diggerdu opened #2624 "提供的示例代码大多是用老api写的"
文档应该更新一下了

[2016-07-05 14:27] #2624 closed

[2016-07-05 14:50] sbodenstein commented on #2401
@sxjscience: it would be very convenient to have a C++ version, as this interface will probably be the simplest RNN interface for users (hence quite popular), and it will be very annoying to not be able to evaluate/deploy this on CPU (you would need to insert a complicated computational graph to replicate this).

Regarding Torch: the Torch cuDNN package only has cuDNN implementations, its up to ot

[2016-07-05 15:55] starimpact opened #2625 "why is the cpu cost is so high when using cudnn?"
for example, the layers are all convolutional layer which are all in cudnn. but, when running it, the cpu cost is still high reaching to 100% or bigger when mxnet complied with atlas or openblas.
why ?

[2016-07-05 17:18] thirdwing commented on #2392
Can you give me a script to reproduce the error?

[2016-07-05 17:25] #2598 closed

[2016-07-05 17:28] tqchen commented on #2401
I think we can first start with CuDNN version, then add a compatible GPU/CPU code as a second step

[2016-07-05 17:31] tqchen commented on #2612
It would be great if one of us can look into it and see if there is a chance for optimized kernel, the kernel from torch might be a good reference

[2016-07-05 17:48] sbodenstein commented on #2401
@tqchen: yes, it would also make writing a cuDNN compatible CPU/GPU version easier having this first.

I should have a first version of the cuDNN symbol by the end of this week.

[2016-07-05 17:57] thirdwing commented on #1773
Hi, @zachmayer really sorry for this late reply.

I think you are correct and mxnet is also correct.

During the training, the rmse is calculated in a batch and take average. In your case, the size of training and validation set is not divisible by the batch size, so the result might be slightly different.

Can you try the code below? I just change the batch size and now you should get consistent

[2016-07-05 17:58] thirdwing commented on #1598
Close this now. Feel free to reopen.

[2016-07-05 17:58] #1598 closed

[2016-07-05 17:59] antinucleon commented on #2589
Should be fixed now

[2016-07-05 17:59] #2589 closed

[2016-07-05 18:10] zachmayer commented on #1773
Thanks, I'll take a look!

[2016-07-05 18:10] thirdwing commented on #1812
Hi, @gpierard sorry for the late reply. I think you are correct on this point.

The RSME is calculated in each batch and taken the average during the training.

[2016-07-05 18:10] #1812 closed

[2016-07-05 18:14] piiswrong commented on #2621
what's the results from print param?

[2016-07-05 18:15] piiswrong commented on #2620
It's a symbol that can be indexed just like an array.

[2016-07-05 18:20] piiswrong commented on #2617
Somehow your gammas are not fixed at one during training with previous versions of the code.
Instead of modifying the code, you can load the model parameters, set *_gamma to 1 and write it back with mx.model.load_checkpoint and mx.model.save_checkpoint.

All models trained and tested with the newest code shouldn't have this problem

[2016-07-05 18:23] piiswrong commented on #2617
Gamma is actually decayed by optimizer if your weight decay is not 0 so that is still a problem...

[2016-07-05 18:30] thirdwing commented on #2535
I think the function you are looking for is `mxnet:::mx.model.train()`.

https://github.com/dmlc/mxnet/blob/master/R-package/R/model.R#L94

This is not exported.

[2016-07-05 18:32] piiswrong commented on #2617
@tornadomeet see if this fixes your problem https://github.com/dmlc/mxnet/pull/2628

[2016-07-05 18:48] piiswrong commented on #2623
there should be a mx.model.load_checkpoint

[2016-07-05 19:55] thirdwing commented on #2324
@kvazipushka Can you share your code to reproduce this error?

[2016-07-05 20:15] l4mun commented on #2535
Thank you for your kind advice. Tried but as soon i solve an error, another one appear. I guess this is not as simple as with Python yet :/

kvstore <- mxnet:::mx.model.create.kvstore("local", model$arg.params, length(ctx), verbose=verbose)
optimizer <- mx.opt.create("sgd", rescale.grad=(1/batchsize), learning.rate=0.1)
X=rbind(normed, normed)
if (is.array(X) || is.matrix(X)) {
  if (array.layout

[2016-07-05 20:28] thirdwing commented on #1692
@topepo Really sorry for the late reply.

You got different results because you are building two different networks. I think the code below will give you the same results.

[code]

[2016-07-05 20:28] #1692 closed

[2016-07-05 20:43] thirdwing commented on #2179
I think there are two problems.

First, in the line

[code]

`fc3` is not defined.

Second, please try different data.

[2016-07-05 20:43] #2179 closed

[2016-07-05 20:58] thirdwing commented on #2623
@luoruisichuan I think you can find an example of loading model from https://github.com/thirdwing/mxnet_shiny/blob/master/server.R#L13

[2016-07-06 01:06] horserma commented on #2620
@piiswrong Thanks for your reply.
I am trying to iterate the elements based on what you said. But I received an error when I tried to visualize the network. The code is as follows:
[code]
The error says "
[code]
Is there anything wrong here?

[2016-07-06 01:11] horserma commented on #2620
Also when I used list_outputs() to see the names of output blocks, I found the name system was strange. If the number of channel is less than 10, the name is normal like "sliced_output0, sliced_output1 etc.". When it is bigger than 10, it becomes like "sliced_output:, sliced_output;" or even "sliced_outputA". It seems based on ASCII. Is the error due to this issue?

[2016-07-06 01:15] tornadomeet commented on #2617
hello, @piiswrong  i just test #2628 , it not fixed my problem, because when is_train=False, the gamma is not equal 1.
it also can fix my problem it as your suggest : load the model and set gamma to 1 then save the model, thanks~

[2016-07-06 01:49] albertyou2 opened #2631 "mac os vgg 训练内存耗尽问题"
首先抱歉用中文，英文我担心描述不清楚。这是我第一次在github上提issue，如果有什么不合理的地方请包涵。毕竟觉得mxnet非常好用，所以希望它越来越好！

我使用的是mxnet 0.7.0，图像的格式是jpg，只有400张左右.
0.环境配置：我在mac os 10.11.4,没有使用cuda,使用了kv，使用了openmp，openblas(按照官方文档mac os下的build方法编译的)

1.我的数据格式是，shape=(3,200,200),batch_size=10
2.我直接使用的例子中的vgg模型，分类改成了3类
3.训练使用的就是train_model.py，命令为
python train_albertnet.py --data-dir=/Users/zuekiWork/Documents/mxnet_code --lr=0.0005 --lr-factor=0.

[2016-07-06 02:27] albertyou2 commented on #2631
我想我找到原因了，因为我把vgg 中的 pool3,pool4,pool5 的 stride(2,2)删除了导致的。非常抱歉

[2016-07-06 02:27] #2631 closed

[2016-07-06 02:41] ylqfp opened #2632 "Success on some GPU nodes, fail on other GPU nodesCheck failed: e == cudaSuccess CUDA: exclusive-thread device already in use by a different thread"
Hi all,
      When running standalone train_mnist.py example on GPU cluster, we always got a strange problem. Assuming nodes' names are GPU01 ~ GPU10, total 10 nodes. Sometimes, only GPU10 successed, sometimes GPU09. Others always fail.
      We located at the crashing code, finding that, they fail in step model.fit in "train_model.py":

[code]

The error information is:

It seems that the device

[2016-07-06 02:44] ylqfp commented on #2632
@baiyancheng20

[2016-07-06 02:47] ylqfp commented on #2632
@mawenjing

[2016-07-06 03:33] wshenx opened #2633 "possible bug in python function model.fit() when eval_data and X are the same"
When eval_data and X point to the same dataiter, training will not be performaned after the second epoch. I traced the code and found a possible solution by adding `eval_data.reset()` at the end of the evaluation code in `_train_multi_device()` function. Hope this is helpful to others encountering the same problem.

[2016-07-06 05:44] gmyofustc opened #2634 "attention-based encoder decoder cost huge gpu memory"
Hi all,
    Recently, I'm trying to use mxnet to build attention-based encoder-decoder network, but I found this network cost huge gpu memory. I checked the memory cost of each layer and found the problem.
    The network can be described as follows
<img width="164" alt="att" src="https://cloud.githubusercontent.com/assets/7859276/16608272/a34f1c9e-437c-11e6-8c52-99a445a02846.png">

But, I found t

[2016-07-06 05:59] piiswrong commented on #2634
Why do you think they can be stored inplace? I'm not sure what layer you are using but usually you need a layer's input/output to compute gradient.

https://github.com/dmlc/mxnet-memonger this might be able to help you though

[2016-07-06 06:00] piiswrong commented on #2633
Would you like to propose a PR with your fix?

[2016-07-06 06:02] piiswrong commented on #2632
@mli

[2016-07-06 06:14] sxjscience commented on #2634
@gmyofustc I think this will not happen if you use the same symbol of the state output `h_1.. h_T` of the encoder LSTM. You can first build a bidirectional LSTM and keep the state symbols `h_1.. h_T`. After that you can compute the attention weight using `s_t` and `h_1..h_T`.

[2016-07-06 06:44] sxjscience commented on #2612
I'll look into it this week.

[2016-07-06 07:30] diggerdu commented on #2621
`{'optimizer': 'sgd', 'initializer': <mxnet.initializer.Uniform object at 0x7f7d2bbb5310>, 'aux_params': {}, 'symbol': <mxnet.symbol.Symbol object at 0x7f7d2bbd92d0>, 'ctx': [cpu(0)], 'epoch_size': None, 'numpy_batch_size': 128, 'num_epoch': 200, 'begin_epoch': 0, 'allow_extra_params': False, 'arg_params': {'fc2_weight': <mxnet.ndarray.NDArray object at 0x7f7d2bbd9610>, 'fc1_weight': <mxnet.ndarra

[2016-07-06 07:31] rajafan commented on #2444
same here. I am using MacOSX, and it outputs an error as 'error: invalid argument '-std=c++98' not allowed with 'C/ObjC''

[2016-07-06 07:33] sxjscience commented on #2444
Probably related to https://github.com/dmlc/mxnet/issues/2510

[2016-07-06 07:42] rajafan commented on #2444
Anything that can be done to work around this error? Thanks.

[2016-07-06 07:51] sxjscience commented on #2444
@rajafan For OS X, I've been using CMake + XCode (Similar to https://github.com/dmlc/mxnet/blob/master/docs/how_to/build.md#building-on-osx). You may need to manually configure the XCode project. I haven't met this C++98 problem.

[2016-07-06 07:57] gmyofustc commented on #2634
OK, I find the issue, there exists a mask matrix during the training, which can't be inplaced during training. I'wll write a c operator to solve this problem, thanks you very much @sxjscience @piiswrong i .

[2016-07-06 07:57] #2634 closed

[2016-07-06 10:04] Orange15 commented on #2621
@diggerdu  you can try
    mymodel.get_params()['arg_params']['fc1_weight'].asnumpy()

[2016-07-06 10:11] Orange15 commented on #2589
@antinucleon yeah, it is ok now.

[2016-07-06 10:44] jonbakerfish opened #2635 "value ranges for 'max_random_illumination', 'max_aspect_ratio', etc"
[ImageRecordIter](http://mxnet.readthedocs.io/en/latest/packages/python/io.html#mxnet.io.ImageRecordIter) has a lot of parameters for augmentation. I'm not quite sure what is the reasonable value ranges for some parameters. E.g. `max_random_illumination` should range from [0,255] or [0,1]? How about `max_random_scale`, `max_aspect_ratio` and `max_shear_ratio`?

[2016-07-06 12:13] diggerdu commented on #2621
@Orange15
as before

[2016-07-06 12:29] sxjscience commented on #2621
@diggerdu The inner dictionary has the key `fc1_weight` and you should be able to access it via `param["arg_params"]["fc1_weight"]`.

[2016-07-06 12:39] diggerdu commented on #2621
@sxjscience 谢谢你，终于好了。
我也叫Xing Jian(行健)

[2016-07-06 12:41] #2621 closed

[2016-07-06 14:06] liuyadong commented on #2185
Refer to the solution, I installed the R package  successfully. Thank you. @valerioa @dickoa

[2016-07-06 14:07] zhangqianhui opened #2636 "When running amalgamtion in android studio suffering error?"
**jni/../mxnet_predict-all.cc:107736: Check failed: (dshape.Size()) == (size) Memory size do not match**

the model is mnist that is converted from caffe using the caffe_converter.

the shape is (1 , 1 28 ,28)

the json is

{
  "nodes": [
    {
      "op": "null",
      "param": {},
      "name": "data",
      "inputs": [],
      "backward_source_id": -1
    },
    {
      "op": "null",
      "par

[2016-07-06 14:16] luoruisichuan commented on #2623
but I use the command in R console

model <<- mx.model.load(file.choose(), iteration = 3)

and then select file 'studyfolder-symbol.json'  or  'studyfolder-0003' and all have the following problem

错误: [22:10:03] D:\chhong\mxnet\dmlc-core\src\io\local_filesys.cc:149: Check failed: allow_null  LocalFileSystem: fail to open "E:\studyfolder\studyfolder-symbol.json-symbol.json"

错误: [22:10:28] D:\chho

[2016-07-06 15:34] thirdwing commented on #2623
The first parameter is the prefix, not the file name. Your prefix should be `studyfolder`.

[2016-07-06 15:34] #2623 closed

[2016-07-06 17:27] tqchen commented on #2612
great

[2016-07-06 18:45] thirdwing commented on #2590
`jni.h` is part of Java SDK. Please double check your Java installation.

[2016-07-06 22:25] Pennisetum opened #2637 "R regression example error"
I encountered some problems regarding the regression sample in the tutorial. Specifically, after I tried to add several hidden layers, it seems like the predictive values are nearly the same.

In a fresh r session:
[code]

Yields
[code]

In addition, this fails:
[code]

This will generate an error:
[code]

My platform info is:
[code]
Can anybody help me with that? Thanks!

[2016-07-06 23:51] xlvector opened #2638 "Embedding without full connected layer"
When I use mxnet to do SVD in recommender system:

r(u,i) = dot(p(u), q(i))

following net will not converge

user = mx.symbol.Embedding(data = user, dim = 100)
item = mx.symbol.Embedding(data = item, dim = 100)
pred = user * item
pred = mx.symbol.sum(pred)

But after I add to FC layer, it will converge

user = mx.symbol.Embedding(data = user, dim = 100)
user = mx.symbol.FullyConnected(data = user

[2016-07-07 02:39] gmyofustc opened #2639 "max_axis() and min_axis() backward not implemented"
Hi all,
     I want to use `max_axis` and `min_axis` in[ broadcast_reduce_op-inl.h](https://github.com/dmlc/mxnet/blob/master/src/operator/broadcast_reduce_op-inl.h#L429).
    And I find these functions do not implement the backward function?
    Does anyone have plan to work on this issue?

[2016-07-07 06:18] precedenceguo commented on #2619
I cannot produce this error. Would you please elaborate your situation, specifically code modifications if any?

[2016-07-07 06:33] dushoufu commented on #2420
I'm sorry,possibly This's my personal case.

[2016-07-07 06:33] #2420 closed

[2016-07-07 06:33] dushoufu commented on #2475
thanks

[2016-07-07 06:33] #2475 closed

[2016-07-07 07:02] lugui2009 opened #2640 "what's wrong with my dataIter?why I always get the "Resetting Data Iterator" and get the same accuracy"
Hi,everyone .I write an DataIter of my own to test my network.However,when I take into the model.fit(),I get the message "Resetting Data Iterator",then get the same Train-accuracy every epoch.Belows are the messages:
'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''

[2016-07-07 07:41] JohanCao commented on #2619
@precedenceguo  thank you for your reply. I had that error when I debug on CPU local machine. When I run the code on GPU cluster, no errors. Maybe it just not working on CPUs.

However I got another problem. The code works fine for the first several hundreds of iterations. Then it stops due to GPU out of memory (~10GB). I minimized the input image size but not helping. Why the GPU memory usage is

[2016-07-07 07:43] anthony-han opened #2641 "Build MXNet as a static library"
Hi,

I'm new to MXNet. I use python to perform training, and I write C++ code to do testing. How can I build MXNet as a static library? (not .lib + .dll)

Thanks!

Tony

[2016-07-07 08:18] hxiangwei opened #2642 "compile with USE_DIST_KVSTORE=1 but not work"
I compiled mxnet on centos6.4 ,before make i set USE_DIST_KVSTORE=1 ,after execute "make scalapkg"  i submit the example jar with command
 "$SPARK_HOME/bin/spark-submit --master local --conf spark.dynamicAllocation.enabled=false --conf spark.speculation=false --class ml.dmlc.mxnet.spark.example.ClassificationExample --name mxnet --driver-memory 1g --executor-memory 1g --num-executors 2 --executor-

[2016-07-07 08:48] albertyou2 opened #2643 "im2rec.py在windows下报错"
因为WINDOWS下的预编译版本没有提供任何数据转换的工具，所以我是从源码中拷贝的im2rec.py，版本是mxnet-20160531

1.使用im2rec.py生成lst文件可以得到正确的XXX.lst文件

2.使用

python G:\mxnet-20160531-windows\mxnet-20160531\tools\im2rec.py G:\mxnet\code\jd\train G:\mxnet\code\jd

命令生成REC文件时，报错如下：

 File "G:\mxnet-20160531-windows\mxnet-20160531\tools\im2rec.py", line 218, in <module>
    main()
  File "G:\mxnet-20160531-windows\mxnet-20160531\tools\im2rec.py

[2016-07-07 09:16] tylorhxw commented on #2642
soved by set MXNET_USE_DIST_KVSTORE = 1

[2016-07-07 09:38] wshenx commented on #2633
@piiswrong I'd like to propose a PR but I'm not sure if there is anything needed to be fixed in mx.module. Could you point it out at your convenience because I'm still new to mxnet. Thank you!

[2016-07-07 09:44] precedenceguo opened #2644 "NDArray Random API doc is outdated"
pr #2511 changed random API but docs are still with the previous ones, c.f. http://mxnet.readthedocs.io/en/latest/packages/python/ndarray.html#mxnet.random.normal. Note that mxnet.random.normal(mean, stdvar, shape=None, ctx=None, out=None) has been changed to normal(loc, scale, shape=None, ctx=None, out=None).

[2016-07-07 10:53] magic282 opened #2645 "How to get shape information of a node?"
Hi,

I am debugging an attention s2s model and I would like to know the shape of a node. For example:
[code]
How can I get the shape of nodes such as weighted_sum and weighted_h ?

Thank you.

[2016-07-07 14:37] xianzhuoliu opened #2646 "MXPredForward with fixed abnormal output when called on another machine"
I have encountered an strange problem recent. That is:
When I moved the compiled libmxnet.so to other machines (with the same Ubuntu 14.04 amd64, but different GPU cards), the outputs of MXPredForward() are strange. For example, some outputs came into -1.07569e+37 when it should between [0,1]. Also, the output does not change over calls in the same process.

I have checked the input image by imwri

[2016-07-07 15:36] xianzhuoliu commented on #2646
After checking all the outputs of intermediate layer, I found the output of layers differentiate start with layer '_maximum0', while the output of 'conv1' layer remains the same.

Head of my symbol as follows:
{
  "nodes": [
    {
      "op": "null",
      "param": {},
      "name": "data",
      "inputs": [],
      "backward_source_id": -1
    },
    {
      "op": "null",
      "param": {},

[2016-07-07 16:28] thirdwing commented on #2637
In your code,

[code]

I think `num_hidden` should be one. Please try again.

[2016-07-07 19:19] piiswrong commented on #2646
moving binaries across machines is generally a bad idea

[2016-07-07 19:22] piiswrong commented on #2645
sym.infer_shape

[2016-07-07 19:24] piiswrong commented on #2643
try turn off multi processing and only use 1 thread/process

[2016-07-07 19:25] piiswrong commented on #2642
try git pull && git submodule update && make clean && make

[2016-07-07 19:26] piiswrong commented on #2640
Please post a minimal reproducing script

[2016-07-07 19:27] piiswrong commented on #2638
Try using monitor to look at the gradients?

[2016-07-08 00:00] xlvector commented on #2638
How to use monitor? Is there some env to open monitor?

[2016-07-08 00:34] xianzhuoliu commented on #2646
Though sdk can be delivered to customs, we could not expect everyone to compile or link on their own terminals, not to mention my environments (OS, cuda and other libraries) are all the same.

[2016-07-08 04:47] ascust opened #2649 "Why does "reshape" of executor become so slow?"
Hi,
I found this issue after I updated mxnet to the latest one. When I was trying to train a network using dynamical input size, which means I reshape the executor in every iteration, I found the cost of reshaping is ridiculously large. Before, it was very fast. I use the following code to reproduce the issue:
[code]
Using the latest version, I got 1.1s or even 2.1s for an iteration. But using an

[2016-07-08 04:52] tqchen commented on #2649
can you provide version of a previous hastag that can confirm the difference. Thanks!

[2016-07-08 05:03] ascust commented on #2649
@tqchen How am I supposed to check the hashtag? I only have the directory containing all the files. Is there a file that records the hashtag? The only i can tell so far is that it was one of the 0.5.0 versions.

[2016-07-08 05:15] piiswrong commented on #2649
git log should display the commit hash

[2016-07-08 05:25] ascust commented on #2649
[code]

[2016-07-08 08:21] zmonoid opened #2652 "Strange Accuracy"
The training accuracy is so strange here, for 10 classes it always give below 0.1 accuray (Even by random guess should give 0.1 accuray) what maybe the problem?

[code]

[2016-07-08 08:24] zmonoid commented on #2652
Also the training accuracy does not agree with validation accuracy. Validation gives as high as 0.3 accuracy, but training gives always less than 0.1 accuracy, why?

[2016-07-08 08:35] zmonoid commented on #2652
I  got the reason.
The data is not shuffled.

[2016-07-08 09:04] Godricly opened #2653 "Get device type in InferType"
Is it possible to get device type in InferType? Or can I use a macro to generate different compiling path?
In cudnn fp16 batchnorm, mean and variance are actually stored as float type. So I'm countering different device data type issue now.
if I use this [macro](https://github.com/dmlc/mxnet/blob/master/src/operator/batch_norm.cu#L15), is the CPU computation disabled? Or it is still able to run bu

[2016-07-08 09:37] kxf8608 opened #2654 "slicing along non-first axis of an ndarray and element updating"
Hi, I wish to compute the batch_dot between one particular position (as rnn node) of one feature map A( batch , channel , i-1, j) (where i and j range at [1, 63] ) and weights W( batch , channel , i, j) (where i and j range at [0, 63]). However, ndarray does not support indexing except first axis slicing.

I found out that there is a function "slice_axis" and successfully located elements that I w

[2016-07-08 12:30] zmonoid commented on #2614
@piiswrong
Just to add, it seems that using ResizeIter will reset the data iterator every time it does the evaluation instead of continuing training the rest data.

Following the below issue will solve the problem.
https://github.com/dmlc/mxnet/issues/1593

[2016-07-08 13:03] albertyou2 commented on #2643
@piiswrong 谢谢你的回复!
 但我设置的--num_thread=1，命令如下：

python G:\mxnet\mxnet-source-20160531\mxnet-20160531\tools\im2rec.py .\train  G:\mxnet\code\jd --resize 100 --num_thread=1

依然报上述错误

我在stackoverflow上看到这个帖子，不知道对你们是否有帮助。
http://stackoverflow.com/questions/8804830/python-multiprocessing-pickling-error

[2016-07-08 13:40] buaaswf opened #2656 "/usr/bin/ld: cannot find -lcuda"
/usr/bin/ld: cannot find -lcuda
collect2: error: ld returned 1 exit status
make: *** [lib/libmxnet.so] Error 1
make: *** Waiting for unfinished jobs....
/usr/bin/ld: cannot find -lcuda
collect2: error: ld returned 1 exit status
make: *** [bin/im2rec] Error 1

[2016-07-08 14:06] fangyizhang commented on #2395
@feiyulv Nope, hard to solve

[2016-07-08 14:13] zhangqianhui opened #2657 "how to edit and write mxnet model for json file or to converter from code?"
thanks.

[2016-07-08 17:17] RishabGargeya commented on #2597
Hello,

I tried using the python version, but I still end up getting stuck with an error when trying to create the record file:
[code]
I've made sure that I have the write libpng version installed and added in the following linker and compile flags in my config.mk file:

[code]

Is there anything else I am missing?

Thank you very much for your advice.

[2016-07-08 17:20] tqchen commented on #2649
seems that was pretty recent version. If you can ,do you mind do a binary search on the versions to see which version cause the problem? i.e. checkout the version between the working one and the latest, to see which one slows down things.

Thanks

[2016-07-08 17:22] tqchen commented on #2657
normally you do not edit json file direction. Instead, use the symbolic API to load and modify the graphs then save back to json file.

[2016-07-08 17:22] #2657 closed

[2016-07-08 17:22] tqchen commented on #2649
You can also find commit history here https://github.com/dmlc/mxnet/commits/master

[2016-07-08 17:57] #2652 closed

[2016-07-08 20:07] piiswrong commented on #2653
This macro won't work in opproperty if that's what you are asking.
I probably will be easier to make the mshadow version also use float for mean and variance.

[2016-07-09 03:54] xtuyaowu opened #2658 "MXnet Neural art example error"
hi,all vmware Ubuntu SMP Tue Jul 15 03:51:08 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux  python2.7
python run.py --content-image input/IMG_4343.jpg --style-image input/starry_night.jpg --gpu -1

INFO:root:load the content image, size = (489, 511)
INFO:root:resize the content image to (574, 600)
[19:59:54] src/operator/./reshape-inl.h:249: Using target_shape will be deprecated.
[19:59:54] src/operator

[2016-07-09 05:22] zhangqianhui commented on #2657
thanks , i find it .

train_model.save('mymodel',get_iterator(data_shape))

this code ?

[2016-07-09 05:50] ascust commented on #2649
@tqchen I just cloned the very latest one, and the problem still exists. So what am saying is that it is the current one (latest one) that slows down things. The version I posted in the last reply has no slow-down.

[2016-07-09 05:52] tqchen commented on #2649
Yes, what I am meant is that if would be nice if we can narrow it down to which commit causes the problem, to do so, what we can do is gradually move the version toward the latest one, and find the commit that causes the problem, so we can take detailed look on exact what change bring that in

[2016-07-09 05:52] tqchen commented on #2649
You can do git checkout hashtag to switch the branch to specific hashtag version

[2016-07-09 08:31] zhangqianhui opened #2660 "data_shape = (1, 28, 28) the first parameter ?"
the first argument means channels or batch_size ?
How to set input_channels parameter?

[2016-07-09 08:45] zhangqianhui commented on #2660
I already know it .

[2016-07-09 08:54] zhangqianhui opened #2661 "single input and single output network How to understand?"
Can you explain it to me or show same links of paper?

[2016-07-09 11:35] jonbakerfish commented on #1229
Use the [`score`](http://mxnet.readthedocs.io/en/latest/packages/python/module.html#mxnet.module.base_module.BaseModule.score) function provided by `model.FeedForward`

[2016-07-09 14:31] WhiteIsClosing opened #2662 "compile mxnet failed?"
I just reinstall ubuntu 16.04 on my work station.
The station has 3 GPUs(NVIDIA GTX 1080).

This is my config.mk file.

[code]

And the compile error information

[code]

A week ago I successfully compile MXnet using the same config.mk , same CUDA ,same CUDNN, same driver and same OS.

Today I reinstall them all and I failed build MXnet.

In the mean time, I can use Theano on my machine.

When I s

[2016-07-09 15:29] everal commented on #2514
@shuokay
 I compiled warp-ctc and mxnet successful.
I add warp-ctc in config.mk, also generate libwarpctc.so in mxnet/lib
but when I run lstm_ocr.py, the problem disapper
/*
    sm = mx.sym.WarpCTC(data=pred, label=label, label_length = num_label, input_length = seq_len)
AttributeError: 'module' object has no attribute 'WarpCTC'
*/
Did you have idea about this?

[2016-07-09 15:43] Godricly commented on #2653
If you try solving it in that way. U need to make mshadow operators able to take in different input type and to decide output tensor type. Also This is kind of breaking the definition of DType operator in MxNet.

[2016-07-09 21:30] lightingghost opened #2663 "batch normalization with buckets"
I want to implement lstm with batch normalization. When I run a sequence to sequence sample with bucketing, mxnet shows an error of

`
Traceback (most recent call last):
  File "/home/odin/Documents/sent2mat_mx/model.py", line 206, in <module>
    model(config)

  File "/home/odin/Documents/sent2mat_mx/model.py", line 201, in model
    lr_decay],

  File "/home/odin/local/mxnet/python/mxnet/model.

[2016-07-09 23:08] thirdwing commented on #1240
I met this error again. I don't understand why I met this error with `size = 4`.

CUDA 7.5, ubuntu 16.04, GTX 1080.

[code]

[2016-07-09 23:18] lightingghost commented on #2663
and that if I do not use bucketing, instead I use fixed length, mxnet will throw

`CUDA: an illegal memory access was encountered `

If I compile with DEBUG and backtrace, the error information was given as

`

#0  0x00007fffbf725d00 in ?? () from /usr/lib/x86_64-linux-gnu/libcuda.so.1
#1  0x00007fffbf71ae97 in ?? () from /usr/lib/x86_64-linux-gnu/libcuda.so.1
#2  0x00007fffbf30ce29 in ?? () from

[2016-07-10 03:52] geraint0923 commented on #2662
I don't know much about mxnet, but it seems that you are using gcc 5.0+ which is not really compatible with cuda since I failed to compile tensorflow with cuda+gcc5. Maybe you can try downgrade gcc.

[2016-07-10 03:58] thirdwing commented on #1240
I think this is due to bug in CUDA 7.5.

https://devtalk.nvidia.com/default/topic/941354/all-curand-samples-fail-with-gtx-1080-on-cuda-7-5/

[2016-07-10 05:07] sxjscience commented on #1240
@thirdwing Probably related to this bug. I'm using CUDA 7.5 + GTX 980Ti and the code runs well.

[2016-07-10 05:11] tengpeng commented on #1442
Please refer to Eric's answer which help me solve the problem.

`atlas should include a libcblas.so. Locate it and add its path to flags.
If you can't find it, your atlas is probably not correctly installed.`

On Fri, Jun 24, 2016 at 12:09 AM, yeoman <notifications@github.com> wrote:

[2016-07-10 05:16] thirdwing commented on #1240
@sxjscience I just install CUDA8 and it works!

[2016-07-10 05:20] sxjscience commented on #1240
@thirdwing Great! So we'd better use CUDA 8.0 for GTX1080.

[2016-07-10 09:11] #2645 closed

[2016-07-10 11:54] albertyou2 opened #2664 "window10下使用GPU训练CNN无法收敛"
1.我的系统是windows 10，显卡GFORCE GTS 450(老显卡)，安装CUDA7.5
2.安装的 MXNET是20160531_win10_x64_gpu_prebuild 这个版本
3.同样的数据我在MAC下训练是可以收敛的
4.同样的数据在win10下CPU训练也可以收敛的
5.同样的数据在WINDOWS10使用GPU完全不收敛。
   我用自己写的PREDICTION程序读入每次迭代保存的模型参数,预测同一张图，发现每次预测的概率完全一样没有变化。（感觉像是完全没有梯度下降一直是初始值）

我觉得可能是一个BUG。

PS : MXNET很棒！希望MXNET越来越好！

[2016-07-10 12:48] everal commented on #2587
@Yang507
I compiled warp-ctc and mxnet successful.
I add warp-ctc in config.mk,
but when I run lstm_ocr.py, the problem disapper
/*
sm = mx.sym.WarpCTC(data=pred, label=label, label_length = num_label, input_length = seq_len)
AttributeError: 'module' object has no attribute 'WarpCTC'
*/
Did you have idea about this?

[2016-07-10 13:10] sxjscience commented on #2664
Could you run the CIFAR10 classification example? (https://github.com/dmlc/mxnet/tree/master/example/image-classification) Probably related to https://github.com/dmlc/mxnet/issues/1228

[2016-07-10 13:56] albertyou2 commented on #2664
好的，不过可能要明天
另外我会仔细看看你发的那个ISSUE 。非常感谢你的回复！

[2016-07-10 14:37] Yang507 commented on #2587
You install warp-catch in which directory, I installed it in my home path,$warp-ctc=/home/user/warp-ctc, the path should match with your path of config.mk, then make mxnet again !

发自我的 iPad

[2016-07-10 14:52] everal commented on #2587
@Yang507
I am not install in $HOME path, but I modify the path in the config.mk.

[2016-07-10 14:59] Yang507 commented on #2587
$Home maybe /home/user/, you can try to modify the path in the config.mk. You can follow with me installed warp in your home path and don't change the path in the config.mk if the problem is not be solved.

发自我的 iPad

[2016-07-10 15:24] everal commented on #2587
@Yang507
Thanks for you advice, I solve the problem already.
my path is right, but i am not notice that I need copy the config.mk to mxnet_root.
Thank you very much.

[2016-07-10 17:24] tqchen commented on #2654
The slice axis indeed copies the content, currently, what we can do was to write the update by concating the data back into the full content and write

[2016-07-10 19:54] mzhang001 opened #2666 "Build fail with OpenCV"
# When I build mxnet with OpenCV, it fails.

gcc/4.9.2
cuda/7.5
OpenCV/2.4.13
OpenBLAS/0.2.15

echo $PKG_CONFIG_PATH
/usr/local/Cluster-Apps/opencv/2.4.13/lib/pkgconfig

echo $LD_LIBRARY_PATH
# /usr/local/Cluster-Apps/gcc/4.9.2/lib64:/usr/local/Cluster-Apps/gcc/4.9.2/lib:/usr/local/Cluster-Apps/OpenBLAS/0.2.15/lib:/usr/local/Cluster-Apps/cuda/7.5/lib64:/usr/local/Cluster-Apps/cuda/7.5/lib:/usr/loc

[2016-07-10 21:07] piiswrong commented on #2663
FeedForward model will be deprecated soon.
We recommend using the module interface now. Try mx.module.BucketingModule

[2016-07-10 21:09] piiswrong commented on #2666
Looks like your opencv is not correctly compiled & installed. Are you able to like it to other libraries?

[2016-07-10 21:10] #2660 closed

[2016-07-10 21:11] piiswrong commented on #2656
your cuda sdk is not in LD_LIBRARY_PATH

[2016-07-10 21:21] piiswrong commented on #2653
Infer type already support that. You can assign any type to input/output if they are -1

[2016-07-10 23:05] mzhang001 commented on #2666
like it?

[2016-07-10 23:05] mzhang001 commented on #2666
you mean whether I can link OpenCV to other libraries?

[2016-07-11 01:33] lightingghost commented on #2663
@piiswrong Thank you for helping me out. I have tried the `mx.module.BucketingModule`,  but the same problem happens:

`
Traceback (most recent call last):
  File "/home/odin/Documents/cs224d/sent2mat_mx/model.py", line 217, in <module>
    main()

  File "/home/odin/Documents/cs224d/sent2mat_mx/model.py", line 214, in main
    model(config, train_data_iter, eval_data_iter)

  File "/home/odin/Doc

[2016-07-11 01:48] piiswrong commented on #2663
your symbols for different buckets need to have the same number of arguments and auxiliary variables. You can verify it with sym.list_auxiliary_states()

[2016-07-11 01:53] lightingghost commented on #2663
Thanks for letting me know that. But what I want to do is to add batch normalization to lstm, then the auxiliary states of `mx.sym.BatchNorm` is increasing with sequence length. Is there any way to overcome that limitation?

[2016-07-11 01:54] piiswrong commented on #2663
You can set them to the same variable

[2016-07-11 02:32] lightingghost commented on #2663
Thanks, but how can I do that? It seem the `BatchNorm` doest not have an option for me to set `gamma` or `beta`.

[2016-07-11 02:33] piiswrong commented on #2663
gamma=varialbe('gamma')

[2016-07-11 02:33] lightingghost commented on #2663
Thanks. I will try that

[2016-07-11 03:55] liumilan opened #2669 "why it cost so much time between finish epoch and save checkpoint when run multimachine"
Run 4 machines multiple gpus,i found it cost much time  between finish epoch and save checkpoint when run multimachine in some nodes.
2016-07-10 15:35:10,090 Node[0] Epoch[95] Time cost=141.399
2016-07-10 15:54:44,112 Node[0] Saved checkpoint to "model/dnn-0096.params"
it cost 20 minutues,Is there issues about it?

[2016-07-11 04:21] lightingghost commented on #2663
I have tried using setting gamma and beta, but it seems that the auxiliary variable of moving_mean and moving_var cannot be set in this way, is there a way to set those?

Thanks

[2016-07-11 06:16] Godricly commented on #2653
Yes, you can decide whatever the type you like in infertype, but does mxnet support stuffs like +-*/ between different types?

[2016-07-11 06:33] ascust commented on #2649
Sorry I am not quite familiar with git commands. Do you mean using "git checkout 4fbc8ff" for example? after I switch to a specific commit, I compile and test it right? It seems, there is always an error after I switch it and compile it. Could you tell me how to do that more specifically?

[2016-07-11 07:10] KCHWang opened #2670 "DataIter for lstm"
I am not really sure about the role of DataIter class in training a network. So my question is do I have to build my own iterator like "BucketSentenceIter" in https://github.com/dmlc/mxnet/blob/master/example/rnn/bucket_io.py.

I am implementing a many-to-many lstm, which is quite similar to the example in https://github.com/dmlc/mxnet/blob/master/example/rnn/char-rnn.ipynb. The only difference is

[2016-07-11 08:43] piiswrong commented on #2669
@mli

[2016-07-11 11:45] liumilan commented on #2669
I just use 1 days trainning data ,about 2000W data,and test it again,I found every node will take 3 minutes in here.Any comments about it?
2016-07-11 19:33:24,635 Node[0] Epoch[0] Time cost=7.821
2016-07-11 19:36:01,943 Node[0] Saved checkpoint to "model/dnn-0001.params"

2016-07-11 19:33:32,190 Node[1] Epoch[0] Time cost=11.827
2016-07-11 19:36:01,885 Node[1] Saved checkpoint to "model/dnn-0001.p

[2016-07-11 17:30] tqchen commented on #2649
yes, you can do ```git checkout hashtag; git update submodule ``` ,, make clean and recompile.

[2016-07-11 17:38] rfcv commented on #1228
Has anyone made R to work with GPU on Windows?

[2016-07-11 20:07] #2599 closed

[2016-07-11 22:50] piiswrong commented on #2669
weights from gpus will be averaged on cpu here. Could be that your network is very big and/or cpu is very slow

[2016-07-11 23:11] lightingghost commented on #2663
And I also notice that the training results of `mx.module.BucketingModule` and `FeedForward` are not the same. Using the same parameters, `FeedForward` can give a decreasing loss, while `BucketingModule` cannot, it seems the loss doesn't decrease for `BucketingModule`

[2016-07-12 00:27] vchuravy commented on #2653
I think that you will need to explicitly cast them.

[2016-07-12 00:39] long-jian commented on #1228
@rfcv not yet, but it works pretty well on ubuntu.

[2016-07-12 01:16] Ldpe2G opened #2672 "compile mxnet failed with CUDA 8.0"
I just checkout the version 5532511e1c9411494d1891cd0ae1e37993543daf,
And got the following compile error:

/usr/local/cuda/bin/nvcc -c -o build/src/operator/activation_gpu.o -std=c++11 -Xcompiler -D_FORCE_INLINES -g -O3 -ccbin g++  -Xcompiler "-DMSHADOW_FORCE_STREAM -Wall -O3 -I/home/ldpe2g/Mxnet/mxnet_scala/mxnet2/mshadow/ -I/home/ldpe2g/Mxnet/mxnet_scala/mxnet2/dmlc-core/include -fPIC -Iinclude

[2016-07-12 01:31] juanlp commented on #1228
I can confirm that it works fine on Windows and R on the latest version
with CUDA 7.5

On 12 Jul 2016 08:39, "long-jian" <notifications@github.com> wrote:

[2016-07-12 02:10] long-jian commented on #1228
@juanlp can't make sure what make my problem, what is your GPU environment?

[2016-07-12 02:51] albertyou2 commented on #2664
@sxjscience 非常感谢，我确定是[#1228](https://github.com/dmlc/mxnet/issues/1228)这个问题。我把版本换成 20160223这个版本，mxnet可以正常工作

[2016-07-12 02:54] wshenx commented on #1626
@5urprise @jimxinbo @horserma  I have the same problem and I agree that there is something wrong with `heads`. I change `heads` by creating a list containing indices of nodes with `data` or `label` in `nodel['name']`. This might be a quick and dirty way to get things work. I hope the DLMC members can give some hint on this problem. @tqchen @piiswrong

[2016-07-12 03:58] thirdwing commented on #2662
The same issue with #2672

I agree with @geraint0923 . Downgrading should help.

[2016-07-12 04:07] Ldpe2G commented on #2672
I have tried to roll back the dmlc-core version
from 25e80e916b8bb42e2f027ce352970904389ba76b
to  67259fa8c600c04c9e1d067012ece7fdeb87158e
and the problem was solved.

[2016-07-12 04:43] ascust commented on #2649
@tqchen @piiswrong
I found the one that caused problem. "0ad34c9" is the one we are looking for. The previous commit "1bf1337" is normal. One thing worth noting that this issue only happends when CuDNN is used. Since "0ad34c9" is something about CuDNN, I suspect there is somehow a connection between these. Hope you could figure out what the problem is. Thanks.

[2016-07-12 05:11] tqchen commented on #2649
oh, could it be related to the tuner @piiswrong ?

[2016-07-12 05:30] piiswrong commented on #2672
@tqchen

[2016-07-12 05:31] tqchen commented on #2672
@piiswrong can you confirm this on your machine?

[2016-07-12 05:35] piiswrong commented on #2663
looks like you have to bind them to the same ndarray with sym.bind

[2016-07-12 05:44] piiswrong commented on #2672
works fine for me. Seems like a gcc 5.0 issue

[2016-07-12 06:56] liumilan commented on #2669
I found it did cost much when save params to model.
I don't think my network is big.There are only 3 full connected networks,about one hundred thousand params.And there are 24 cores in my machine,maybe cpu is not issue?
Could it be the network issue?How can I debug it? Sometimes it take 20 minutes to save model,so confused
@piiswrong

[2016-07-12 06:59] piiswrong commented on #2669
Try training on a single machine with epoch size set to a small number so it goes to saving quickly. Then add print to code and see which line is taking most time

[2016-07-12 07:20] liumilan commented on #2669
Ok,i test it right now.
By the way,i have one question.
Which model should I choose when run multiple-machine mode.Why it need to generate its model in every node?In lr,or xgboost,the model is generated only on master.Could you help to explain it?
@piiswrong

[2016-07-12 07:24] taoari commented on #2643
Please check with this commit: https://github.com/taoari/mxnet/commit/0ab60ee8089d5244c275ba28559dd5e5eb4e8d7b

The reason is that multiprocessing does not work on Windows. The above commit is a bit outdated. You can make the changes on the latest version with following pattern.

    if args.num_thread == 1:
        import Queue # move the except block here
        ...
    else:
        import mul

[2016-07-12 07:52] starimpact opened #2673 "Does mxnet support multiple threads well?"
when I create 100 threads, there will be one thread locked after several rounds. the whole program will be stopped.
how to solve it?

[2016-07-12 07:57] #2633 closed

[2016-07-12 08:20] starimpact opened #2675 "Compilation is failed in the newest version b7df20d6be!"
[code]

[2016-07-12 09:22] SJTUzhanglj opened #2676 "Example/cpp/image-classification-predict not work"
f:\mxnet\src\operator\./softmax_output-inl.h:292: Softmax symbol is renamed to SoftmaxOutput. This API will be deprecated in Dec, 2015

is it because of my outdated mxnet version? But predict with Python is OK

[2016-07-12 09:35] RishabGargeya opened #2677 "Compose Custom Loss with Softmax"
Hello!

I'm trying to create a custom loss function using symbolic variables. The loss function is the sum of the softmax error and other values computed from internal layers. I know I cannot achieve this with `SoftmaxOutput` so I am using `SoftmaxActivation` as my activation function after the final fc layer and `softmax_cross_entropy` as the function to compute softmax loss stacked with `MakeLos

[2016-07-12 09:50] sxjscience commented on #2676
Yes. Softmax is depreciated.

[2016-07-12 09:57] sxjscience commented on #2675
@starimpact  Seems to be caused by https://github.com/dmlc/mxnet/blob/master/src/operator/cudnn_convolution-inl.h#L137 . Here `out.dptr_` should be `out_ptr`.

[2016-07-12 11:59] hoaphumanoid commented on #2642
@tylorhxw I got the same problem when running the script run-mnist-example.sh. Could you please tell me how can I activate the MXNET_USE_DIST_KVSTORE  flag with this sh script? or in any other way?

[2016-07-12 12:17] javelinjs commented on #2642
Could you make sure you're using the latest version for both mxnet and its submodules?

[2016-07-12 12:19] javelinjs commented on #2673
Do you mean that you are trying to run dist training in one process?

[2016-07-12 13:06] hoaphumanoid commented on #2642
@javelinjs I have the commit 97fa49f5767421bbc717d61f40c6bdfd3c601872 which is from the 3rd of July

[2016-07-12 13:13] starimpact commented on #2675
if the code has problem, it should not be published.

[2016-07-12 13:16] sxjscience commented on #2675
@starimpact Could you help test if the fix above works?

[2016-07-12 13:18] starimpact commented on #2675
@sxjscience this problem I have fixed a few hours ago, but it comes another compilation failure problem. So I give up this newest version and used a version a few months ago.

[2016-07-12 13:30] sxjscience commented on #2675
@starimpact Yes, we need to be more careful in checking compatibility issues (We have not checked the new conv layer in old versions of CuDNN, which causes the previous problem). For compilation failure, a possible cause is that the submodules, e.g, MShadow, are not updated. You can put the failure information here if that still doesn't work.

[2016-07-12 13:44] Ldpe2G commented on #2672
@piiswrong  I am using gcc 4.8.

[2016-07-12 14:41] liumilan opened #2678 "how to choose the right model when running on multiple-nodes."
There is every model in every node when running distributed programe.
How to choose the model after finishing tranning.Average model from every node?
And why the model is different in different node even in dist-sync mode?Why it need to generate its model in every node.Xgboost just only has its model in master node.
Could anyone help to explain it?

[2016-07-12 18:18] piiswrong commented on #2677
You can use softmaxoutput for this. Multiple outputs are summed during backward

[2016-07-12 18:34] piiswrong commented on #2672
@tqchen I can confirm the error and it was introduced by 25e80e916b8bb42e2f027ce352970904389ba76b

[2016-07-12 19:19] piiswrong commented on #2672
should be fixed by https://github.com/dmlc/mxnet/pull/2679

[2016-07-12 19:19] piiswrong commented on #2675
should be fixed by https://github.com/dmlc/mxnet/pull/2679

[2016-07-12 20:22] tqchen commented on #2673
The general idea of execution engine is to eliminate the need of multi threaded programming.. So it is in general not adviced to issue commands from multiple threads. It would be great if you can be more specific on your usecase

[2016-07-13 00:47] RishabGargeya commented on #2677
Hello,

Thank you for the response! However, I am still a bit confused.

My aimed objective function is : softmax loss + custom value computed on internal fc layer

SoftmaxOutput does not output the raw loss value, so I cannot add this to another custom value and run MakeLoss on that? Or are you saying I don't need to explicitly add these symbols together

[2016-07-13 00:53] piiswrong commented on #2677
You don't need makeloss for simple addition between objectives. They are implicitly added during backprop.
You just need to compute metric correctly for logging

[2016-07-13 00:54] piiswrong commented on #2678
You can use any one. They shouldn't differ by a lot.

[2016-07-13 00:54] MikeHuYimin opened #2680 "How can I save the output of a hidden layer in a neural network?"
I was trying to use autoencoder in mxnet of R. I built my own network using the symbols. But when I use the model, it can only predict the final result, which is the same with the input and is not important. I know there is model$arg.params for the weights, but is it possible to use some functions to compute the intermediate output rather than do it myself? Thanks!

[2016-07-13 01:18] Ldpe2G commented on #2672
It's fixed. Thanks

[2016-07-13 01:18] #2672 closed

[2016-07-13 01:59] starimpact commented on #2673
It works fine when I use the version in May.

[2016-07-13 02:21] tqchen commented on #2673
The best way to proceed is to solve the problems :) The compilation error has already been fixed. It would be great if you can describe in more detail  what the problem is, or provide a script to reproduce the problem, so we can understand what is going on. Thanks

[2016-07-13 02:25] tqchen commented on #2649
Thanks for helping us looking into it @ascust !

It is highly likely due to recently introduced auto tuner, that automatically tunes the CuDNN kernels every time a graph get executed, Since in your case you get a new graph each time, the tuner runs again. I think the tuner can be optionally turned of. It is also likely to be fine if you cache your reshaped executor.

In the future, this makes a go

[2016-07-13 02:56] starimpact commented on #2673
Yes, you are right. :)

[2016-07-13 02:58] lucheng07082221 opened #2681 "Why mx.viz.plot_network(mlp) can't Show"
I want to ask why I use the code mx.viz.plot_network(mlp)。but it doesn't  Show the network figure
the code is:
data = mx.symbol.Variable('data')
# first conv
conv1 = mx.symbol.Convolution(data=data, kernel=(5,5), num_filter=20,name="conv1")
bn1 = mx.symbol.BatchNorm(data = conv1, name="bn1")
tanh1 = mx.symbol.Activation(data=bn1, act_type="tanh",name="tanh1")
pool1 = mx.symbol.Pooling(data=tanh1,

[2016-07-13 03:56] albertyou2 opened #2682 "关于mxnet内存使用的一些问题"
我的环境是 mac 10.11.4 ，mxnet 0.7.0 ，使用openmp 和kv，CPU训练。这段时间一直使用mxnet做cnn训练。
1. 问题一：使用内存和mxnet-memonger 探测的差距很大

我原来的train 数据集是 200 ＊200 ＊3的图像，1076张,batch_size ＝ 20，我使用如下代码提供数据：
train = mx.io.ImageRecordIter(
        #path_imgrec = os.path.join(args.data_dir, args.train_dataset),
        path_imgrec   = train_file,
        mean_img    = train_min,
        shuffle     = True,
        data_shape  = data_

[2016-07-13 05:05] starimpact opened #2683 "Compilation faild in the newest 449e88e8a6"
src/operator/./cudnn_convolution-inl.h:404:56: error: too many arguments to function ‘cudnnStatus_t cudnnSetConvolutionNdDescriptor(cudnnConvolutionDescriptor_t, int, const int_, const int_, const int*, cudnnConvolutionMode_t)’
                                                  dtype_), CUDNN_STATUS_SUCCESS);

[2016-07-13 05:07] rz1988 opened #2684 "Reset Data Iter Issue"
Hi,

I am running a mlp model on an input data set in csv format. The model got into this problem after it completes the first epoch. The output shows the model tries to reset Data Iterator when no training is happening! Please advise.

Thanks,
Ryan

Screenshot of the output.

2016-07-13 01:04:16,029 Epoch[0] Resetting Data Iterator
2016-07-13 01:04:16,029 Epoch[0] Time cost=11.359
2016-07-13 01:0

[2016-07-13 05:27] piiswrong commented on #2684
Is your training iter the same as testing iter?
If so, this bug should have been fixed with the latest master

[2016-07-13 05:28] chenghuige opened #2685 "compile issue using cmake (need std=c++11，not std=c++0x)"
Using cmake . then make
will fail, facing errors like below
mxnet/src/operator/./cudnn_convolution-inl.h(349): error: initialization with "{...}" is not allowed for object of type "std::vector<int, std::allocator<int>>"
          detected during:
            instantiation of "void mxnet::op::CuDNNConvolutionOp<DType>::Forward(const mxnet::OpContext &, const std::vector<mxnet::TBlob, std::allocator

[2016-07-13 05:30] piiswrong commented on #2685
Thanks for reporting this.
Would you like to submit a PR with your fix?

[2016-07-13 05:33] piiswrong commented on #2682
memonger is not activated by default. You need to call it explicitly.

2. This is due to preloading. I think there is a parameter you can tune to use less memory @tqchen

[2016-07-13 05:34] piiswrong commented on #2681
plot_network returns an graph object. You can call .view() on it to see the graph

[2016-07-13 05:35] piiswrong commented on #2680
If you want the model to output intermediate results. You can use mx.sym.Group to group it with the final output

[2016-07-13 05:36] piiswrong commented on #2683
This is likely due to your cudnn version being too old. Any reason you can't update to a newer one?

[2016-07-13 05:38] MikeHuYimin commented on #2680
Thanks for the quick response. I'll try!

[2016-07-13 05:42] albertyou2 commented on #2682
@piiswrong 谢谢回复！

   是的，我显式调用了mxnet-memonger ，使用如下代码：
    ......
    import memonger
    ......
    dshape = (args.batch_size, 3, 200, 200)
    net_mem_planned = memonger.search_plan(network, data=dshape)
    old_cost = memonger.get_cost(network, data=dshape)
    new_cost = memonger.get_cost(net_mem_planned, data=dshape)

    然后我训练使用的是 ：
    model = mx.model.FeedForward(
    ctx                = d

[2016-07-13 05:44] piiswrong commented on #2682
@tqchen

[2016-07-13 05:45] lucheng07082221 commented on #2681
Sorry,which function shoud I call? I think  graph=mx.viz.plot_network(lenet,title='plot')  graph.show(),Right?

[2016-07-13 05:45] starimpact commented on #2683
OK, I should use old version mxnet.

[2016-07-13 05:53] lucheng07082221 commented on #2681
I call the function
a=mx.viz.plot_network(lenet,title='plot')
a.view()
but get an error
Connected to pydev debugger (build 145.844)
Traceback (most recent call last):
  File "D:\Program Files (x86)\JetBrains\PyCharm 2016.1.2\helpers\pydev\pydevd.py", line 1531, in <module>
    globals = debugger.run(setup['file'], None, None, is_module)
  File "D:\Program Files (x86)\JetBrains\PyCharm 2016.1.2\hel

[2016-07-13 05:58] starimpact opened #2686 "I suggest mxnet should give a milestone version periodically."
we need a stable version.
so I suggest mxnet gives a milestone version periodically.

[2016-07-13 06:25] Godricly commented on #2682
check this issue #2087.
The memory returned by get_cost only considers part of actual cost.

[2016-07-13 06:29] piiswrong commented on #2686
there was a 7.0 release

[2016-07-13 06:56] starimpact commented on #2686
:+1:

[2016-07-13 07:00] liuzhi136 opened #2687 "How to understand the bucket_io.py's mission in lstm example ?"
@pluskid Hi, I'm the new guy that learning to use mxnet. For now, I have read the lstm example for few days. Unfortunately, I can not understand the entile processing procedure. I have read the files about bucket_io.py, lstm.py  and lstm_bucketing.py. I can not understand the real meaning for "bucket" and struggle about it. I really need your help. Could you explain about it? I will be extremely a

[2016-07-13 07:36] piiswrong commented on #2687
sequence data samples have different lengths, thus require different network for each sample.
Bucketing is the process of sending samples to networks with corresponding lengths.

[2016-07-13 08:09] #2664 closed

[2016-07-13 08:26] KCHWang opened #2688 "AssertionError when fitting the lstm model"
I am getting the following error when training my own lstm model.

I define "train_iter" as follows:
**train_iter = mx.io.NDArrayIter(X_train, y_train, batch_size=batch_size)**  where X_train and y_train are numpy.ndarray. The shapes of X_train and y_train are (203, 15, 18) and (203, 15), which means that I have 203 examples and the sequence length is 15.

Here comes the error information:
**Trace

[2016-07-13 08:30] KCHWang commented on #2688
BYW, I get rid of the embedding layer as defined in the lstm.py and put my X_train directly to hidden layer. Is this why it is not working?

[2016-07-13 08:31] lucheng07082221 commented on #2681
@piiswrong I put the dot.exe to the python directory.My python directory is D:\Anaconda. then I resolution this problem

[2016-07-13 08:49] #2681 closed

[2016-07-13 08:52] albertyou2 commented on #2682
@Godricly  thanks !

[2016-07-13 09:03] liuzhi136 commented on #2687
@piiswrong Thank you first. I get this idea about it. Can I directly apply the bucket_io.py to my Question-Anwser system? Or I need implement my own DataIter? Because I can just understand the code in it partially. And Do you have some detailed tutials about how to build our own bucket? Thanks a lot.

[2016-07-13 09:37] benwu232 opened #2689 "issue in write my own data iterator"
Hi,

Thank you for providing Mxnet!

I'm trying to write my own data iterator. I want to use some meta data to generate batch data for training.  The generated data is much bigger than the meta data.

Here is a very simple example:
[code]

In my test, I got this error:
  File "/home/wb/.pyenv/versions/anaconda2-2.4.1/lib/python2.7/site-packages/mxnet-0.7.0-py2.7.egg/mxnet/model.py", line 745, in f

[2016-07-13 10:23] rhythm9229 commented on #2435
@antinucleon has anybody tried to build mxnet with mshadow/eigen?
I would like to compare the performance of mxnet on android with multithreaded openblas and eigen.
Some pointers are highly appreciated.

[2016-07-13 12:16] gaush123 commented on #2583
@thirdwing Could you please just give little more information about swig. Thanks!

[2016-07-13 12:31] pzz2011 commented on #1188
where to set USE_HDFS=1,is the position in the dmlc-core/make/config.mk#line:22?

[2016-07-13 14:13] hotpxl opened #2690 "Versioning on MXNet"
I think I saw a previous issue on versioning so I'm just checking the status here. Can we have a version number on MXNet releases? This makes packages that depend on MXNet (like MinPy) much easier to specify the constraints. Also it would then be possible to release MXNet to PyPI or other package managers.

[2016-07-13 15:56] Godricly commented on #2689
Check if [this](https://github.com/dmlc/mxnet/blob/master/example/rnn/bucket_io.py#L179-L180) help.

[2016-07-13 15:58] #2653 closed

[2016-07-13 19:18] guileryu01 opened #2691 "Running model prediction on samples of unknown batch size"
It was my understanding that when calling simple_bind to bind a symbol to an executor one needs to provide input shape. For convolutional net input shape often takes the form of (batch_size, n_feature, width, height). It is fine for training purpose to fix batch size upfront, but if I want to build an application that takes a pretrained model the run prediction with it, the number of samples for e

[2016-07-13 19:29] piiswrong commented on #2691
try mx.module.bucketingmodel

[2016-07-13 21:26] guileryu01 commented on #2691
Thanks very much for the quick reply.
I didn't know about mx.module. By reading through the code, it looks like BucketingModule allows one to use multiple bucket key, each of which is associated with an executor. Does it mean that if I want to use it for prediction on a generic DataBatch, I would need to create one executor per batch size (and copy weight matrices to each of them)?

[2016-07-13 22:59] piiswrong commented on #2691
Weight matrices are shared. So are internel buffers

[2016-07-14 01:54] KCHWang commented on #2688
@Godricly Thanks for your reply! I am pretty sure that X_train and y_train are not empty. I did print their shape right before build this **train_iter = mx.io.NDArrayIter(X_train, y_train, batch_size=batch_size)**.

[2016-07-14 02:23] kikoqiu opened #2693 "mxnet NDArray slice op inconsistent with numpy"
np will output [], while ndarray will output [0,1,2,3,4]

[2016-07-14 02:23] guileryu01 commented on #2691
Thank you, I will give that a try.
On the other hand, I was wondering if the requirement to binding a symbol can be relaxed a bit so that it allows an executor to take inputs with shapes that are only different on their first dimension (batch size)? I feel that this is natural as most of the execution is shared after all.

[2016-07-14 02:41] xlvector commented on #2638
I find an example https://github.com/dmlc/mxnet/blob/master/example/autoencoder/solver.py, thanks

[2016-07-14 02:41] #2638 closed

[2016-07-14 02:46] rz1988 commented on #2684
Thanks for the prompt response. This solves the problem.

[2016-07-14 04:10] hollyholly5 opened #2694 "MxNet/example/rcnn/demo.py error"
demo.py error shows:
Traceback (most recent call last):
  File "E:\2016prog\rcnnpython\demo.py", line 33, in <module>
    demo_net(detector, os.path.join(os.getcwd(), 'data', 'demo', '000004'))
  File "E:\2016prog\rcnnpython\tools\demo_net.py", line 33, in demo_net
    scores, boxes = detector.im_detect(im_array, roi_array)
  File "E:\2016prog\rcnnpython\rcnn\detector.py", line 46, in im_detect

[2016-07-14 04:11] Godricly commented on #2688
What I'm asking is not the actual data, but the provided_data and provided_label attributes. They are used in LSTM to infer network shape. Go checking them in your your DataIter and the DataBatch.

[2016-07-14 04:35] sinmaystar opened #2695 "issues in example warp-ctc"
I have installed mxnet successfully and I have ran image-classification/train_minist.py successfully.
I want to run warp-ctc/lstm_ocr.py and I have installed baidu warp-ctc, then follow the document comment out WARPCTC_PATH MXNET_PLUGINS, when I rebuild mxnet by make clean && make -j4 it occurs an error

plugin/sframe/iter_sframe.cc:16:36: fatal error: unity/lib/image_util.hpp: No such file or dir

[2016-07-14 04:52] #2695 closed

[2016-07-14 05:01] piiswrong commented on #2694
@precedenceguo

[2016-07-14 05:02] piiswrong commented on #2693
[code]

[2016-07-14 05:03] piiswrong commented on #2691
It doesn't matter which dim is different. The memory buffer size will be different in the end. That's why you need to bind again.

[2016-07-14 05:43] sinmaystar commented on #2514
@wanghaisheng I have meet the same problem with you, when I run toy_ctc.py it occurs mxnet.base.MXNetError: [18:01:57] src/storage/storage.cc:44: Please compile with CUDA enabled
problem, Did you solve this problem? I want to use CPU to run this code.

[2016-07-14 06:09] wanghaisheng commented on #2514
@sinmaystar  still not fix that

[2016-07-14 06:14] sinmaystar commented on #2514
@wanghaisheng issue #2470 describe he use both cpu and gpu run successfully, so it must have some way to solve this problem

[2016-07-14 06:21] sinmaystar opened #2696 "issue in example warpctc/lstm_ocr.py"
I want to run example/warpctc/lstm_ocr.py but it occur a problem, I install mxnet without CUDA my computer use amd graphics card,so I want to use cpu to run this example

mxnet.base.MXNetError: [14:15:36] src/storage/storage.cc:43: Please compile with CUDA enabled

how can i use cpu run this example?

[2016-07-14 06:24] sinmaystar commented on #2470
@mattndu How can I run this example on CPU? when I run this example it occurs a problem

mxnet.base.MXNetError: [14:15:36] src/storage/storage.cc:43: Please compile with CUDA enabled

can u tell me how can i solve this problem? thanks very much

[2016-07-14 06:28] arestorres commented on #2696
Have you changed the device setting to  'contexts = mx.cpu()'?

[2016-07-14 06:54] xlvector commented on #2696
I have tested it under CPU, it should works.
If @arestorres 's answer does not work, please let me know.

[2016-07-14 06:56] sinmaystar commented on #2696
thanks for solving my problem，where can I catch Xero.ttf？
            在2016年07月14日 14:28，arestorres 写道:Have you changed the device setting to  'contexts = mx.cpu()'?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-14 06:56] xlvector opened #2697 "Why set momentum = 0 in lstm_bucketing example"
I find in lstm_bucketing example, https://github.com/dmlc/mxnet/blob/master/example/rnn/lstm_bucketing.py#L29, momentum is set to zero.

Seems momentum is always set to numbers close to 1 (e.g. 0.9).

Why use 0.0 here.

I find this problem because I want to use lstm to to sentiment classification, and find momentum = 0 can not converge, but 0.9 can converge.

@antinucleon

[2016-07-14 06:58] xlvector commented on #2696
You can download it from http://www.webpagepublicity.com/free-fonts/x/Xerox%20Sans%20Serif%20Narrow.ttf  and save it under ./data/ folder

[2016-07-14 07:12] sinmaystar commented on #2696
@xlvector I have download .ttf file put it into data directory and modify source code line 142 'contexts = [mx.context.gpu(1)]' to 'contexts = [mx.context.cpu()]' and then run this code it occurs a problem

illusion@illusion:~/mxnet/example/warpctc$ python toy_ctc.py
begin fit
2016-07-14 15:09:32,765 Start training with [cpu(0)]
[15:09:32] /home/illusion/mxnet/dmlc-core/include/dmlc/logging.h:235:

[2016-07-14 07:16] sinmaystar commented on #2696
@xlvector I have download .ttf file and put it into data directory, then I run python lstm_ocr.py it occurs a problem

illusion@illusion:~/mxnet/example/warpctc$ python lstm_ocr.py
begin fit
2016-07-14 15:14:29,809 Start training with [cpu(1)]
iter
Traceback (most recent call last):
File "lstm_ocr.py", line 174, in
batch_end_callback=mx.callback.Speedometer(BATCH_SIZE, 50),)
File "../../python/mxn

[2016-07-14 07:25] sinmaystar commented on #2696
@xlvector  It seems like captcha's problem, I try to use ImageCaptcha to generate a captcha also occurs this problem, do u have any method to solve this problem?

[2016-07-14 07:43] kxf8608 commented on #2654
@tqchen Hi, Tianqi, Thanks a lot for your answer!

Suppose I want to change [[1,2,3],[4,5,6]] to [[1,2,3],[10,5,6]], am I supposed to do like this:
a = mx.nd.array([[1,2,3],[4,5,6]])
a_line = mx.ndarray.slice_axis(a,axis=0,begin=1,end=2)   //get the second line of a
a_line = a_line.T     //transpose
a_line[0:1] = 10     // change the element value
a_line = a_line.T   //transpose back
a_other_line

[2016-07-14 07:57] Stardust- opened #2698 "AssertionError:assert(arg_shapes is not None)"
Hello!
     I get a error When I try to load my own data into mxnet. But I use another symbol will not get the error except the LSTM symbol.
     I am a beginner and can you give me some help?
     Thanks a lot!

Error:

[code]

This is my code

[code]

[2016-07-14 08:05] xlvector commented on #2697
seems momentum = 0 means do not use momentum.

[2016-07-14 08:05] #2697 closed

[2016-07-14 08:07] xlvector commented on #2696
Seems someone else also meet this problem.
You can write an test script to fix python-captcha problem.

[2016-07-14 08:12] liumilan opened #2699 "what is the meaning of ouput in image_segmentation.py"
fcnxs, fcnxs_args, fcnxs_auxs = mx.model.load_checkpoint(model_previx, epoch)
    fcnxs_args["data"] = mx.nd.array(get_data(img), ctx)
    data_shape = fcnxs_args["data"].shape
    label_shape = (1, data_shape[2]*data_shape[3])
    fcnxs_args["softmax_label"] = mx.nd.empty(label_shape, ctx)
    exector = fcnxs.bind(ctx, fcnxs_args ,args_grad=None, grad_req="null", aux_states=fcnxs_args)
    execto

[2016-07-14 08:24] kxf8608 commented on #2654
This is okay when only one matrix is computed. However, when I do it batch-wise, or batch-and-channel wise, the concatenate function does not fit as it requires the dimension of the arrays to be the same only except the first.

[2016-07-14 08:31] albertyou2 opened #2700 "should mxnet do 1-class image classification?"
I have only one class in my training data ,for example every image has a label  = 0 .
And I don't have any negative  samples .
我的训练样本只有1个类别，比如所有的image 都属于0分类，没有负样本。

I just  want to training a model which can give me a prediction of  image should be  label =0 or not.Or give me a prob that can show me How close to this category。
我想通过cnn训练一个模型，输入一张图，然后告诉我输入的这张图，是不是属于0分类；或者可以输出一个概率，告诉我这个图和0分类多接近（如果不是

[2016-07-14 08:36] piiswrong commented on #2700
This is a very difficult machine learning problem. MXNet is only a toolkit. You can implement all kinds of algorithms with it. But first you have know what algorithm you want to use.
https://en.wikipedia.org/wiki/One-class_classification

[2016-07-14 08:37] piiswrong commented on #2699
It's softmax activation. You can compute log likelihood using activation and label

[2016-07-14 08:38] piiswrong commented on #2698
try mx.module.bucketingmodule

[2016-07-14 08:58] albertyou2 commented on #2700
@piiswrong
 thanks !我原来以为比较简单，看样子要换一个思路了！感谢！！！

[2016-07-14 10:03] liumilan commented on #2699
i got it now ,thanks

[2016-07-14 10:03] #2699 closed

[2016-07-14 10:17] sinmaystar commented on #2696
@xlvector I have solved Pillow problem, but it occurs another problem...
in toy_ctc.py i have change code 129 line from
'contexts = [mx.context.gpu(0)]' to 'contexts = [mx.context.cpu()]'
and in lstm_ocr.py i have change code 142 line  from
 'contexts = [mx.context.gpu(0)]' to 'contexts = [mx.context.cpu()]'

both cannot run, it occurs a problem as below:

illusion@illusion:~/mxnet/example/warpctc

[2016-07-14 10:39] KCHWang opened #2702 "Any Help with the lstm_unroll Model in lstm.py?"
I am reading the code in example/rnn/lstm.py. Could someone please explain what the last few lines are doing? Are we some how reshape **label**, which is a symbol here? Many thanks!

[code]

[2016-07-14 10:45] xlvector commented on #2696
contexts = mx.context.cpu()

without array

[2016-07-14 10:54] KCHWang commented on #2688
@Godricly thanks! It seems that you are right! I just wrote my own iterator.

[2016-07-14 10:54] #2688 closed

[2016-07-14 12:16] sinmaystar commented on #2696
@xlvector still have this problem, do you have ever met this problem?

[2016-07-14 12:21] yuantangliang opened #2703 "how to write backward function?"
I want to learn how to write operator in Mxnet,but backward function stop me. I have readed and understood [How the backpropagation algorithm works](http://neuralnetworksanddeeplearning.com/chap2.html) and [Calculus on Computational Graphs: Backpropagation](http://colah.github.io/posts/2015-08-Backprop/),but I still have no idea when I write backward function in Mxnet.I just don't know what to rea

[2016-07-14 12:30] opraveen commented on #2059
I face a similar error with Ubuntu 16.04

Ubuntu 16.04 x86_64.
GCC 4.9.3.
CUDA 7.5, CUDNN 4

MXNET make error:

/tmp/ccyoBXdv.o: In function `main':
im2rec.cc:(.text.startup+0x2878): undefined reference to `cv::imencode(std::string const&, cv::_InputArray const&, std::vector<unsigned char, std::allocator<unsigned char> >&, std::vector<int, std::allocator<int> > const&)'
collect2: error: ld returne

[2016-07-14 14:31] xlvector opened #2704 "Implement NCE loss to speed up Softmax with large amount of labels"
For word based LSTM, the Softmax layer receive large amount of labels which make training very slow. Two methods can solve this problem: hierarchical softmax (HS) and NCE.

I think NCE is better than HS, so I want to implement NCE Loss similar to this repos: https://github.com/yandex/faster-rnnlm

The API may looks like

NCEOutput(data = input, label = target, noise = [negative samples])

Do you h

[2016-07-14 14:49] sxjscience commented on #2704
Tensorflow also has a nce_loss that we can refer to. https://www.tensorflow.org/versions/r0.9/api_docs/python/nn.html#nce_loss

[2016-07-14 15:01] sxjscience commented on #2702
@KCHWang The code is trying to squeeze the labels into a single vector.

[2016-07-14 15:06] xlvector commented on #2704
Thanks. Another problem I find is LSTM on words always cause OOM. However, NCE
should not affect memory.

How to I measure memory usage in SoftmaxOutput of LSTM with num_hidden, default_bucket_key and num_label. I think it should be num_hidden * num_label. But I find it seems LSTM use num_hidden * num_label * default_bucket_key

[2016-07-14 16:15] #2583 closed

[2016-07-14 16:19] gaush123 opened #2705 "Creating model along with predicting in Amalgamation"
Hi,

I would like to know if there are any ways of passing the array values (layer wise), and using the FeedForward Class to create the model in amalgamation, just like using the prediction method in the FeedForward

Thanks

[2016-07-14 17:22] leehonglak commented on #2635
Bumping this ;-)
Any color on this would be very useful. Thanks!

[2016-07-14 18:11] amithr1 opened #2706 "avoiding jitter in loading data set"
Hi All,

Are the data sets stored in the GPU after the first epoch or do they have to copied for every run?
I am running cifar10 and notice lot of fluctuations for every batch.

If the data sets are copied for every new batch, is there a way to keep them on the GPU for all the epochs?

[2016-07-14 18:34] piiswrong commented on #2706
You can write a data iter that hold data on the gpu and feed a slice each time

[2016-07-14 18:35] piiswrong commented on #2703
Look into the the operators in src/operator

[2016-07-14 18:35] SkidanovAlex commented on #2317
I hit this issue again. I just started debugging it, and here's some early info: I am using a very simple graph: (array of 33 inputs) => concat of 33 => concat with another input => convolution => fc => softmax

Now, when I get the abovementioned CHECK_NE failure, the offending node is `concat52_backward`, which is the backward node corresponding to the concatenation of 33 inputs. Obviously, the *

[2016-07-14 18:36] #2700 closed

[2016-07-14 18:54] sxjscience commented on #2317
@SkidanovAlex Thanks for your work! It'll be really helpful if you can find a repeatable example.

[2016-07-14 19:21] piiswrong commented on #2704
Is default_bucket_key = length? If you have output at each time step that would make sense

[2016-07-14 19:28] amithr1 commented on #2706
can you please point me to the relevant files/functions? I will give it a shot

[2016-07-14 19:59] SkidanovAlex commented on #2317
The bug I'm hitting right now is in `CreateGradSumNode`. It only reproes if `Concat` concatenates at least 8 nodes (in my original repro I had a concat of 4 nodes, so it is unclear if this is the same issue).

`CreateGradSumNode` introduces edges between its inputs. In my case all those nodes are the same, and thus the connections that are introduced are loops. That code is wrong in a more general

[2016-07-14 22:44] seva100 commented on #2059
@opraveen
I also have the same error.
Ubuntu 16.04 x86_64
GCC 4.9.3
CUDA 7.5
cv2.__version__ == 2.4.10

[2016-07-14 23:43] xlvector commented on #2704
yes. so if seq length is too long. it will cause oom？
i have vocab size 5000，hidden = 100，length=3000

[2016-07-15 01:48] KCHWang commented on #2702
@sxjscience Thanks! I understand that is what **label = mx.sym.Reshape(data=label, target_shape=(0,))** is doing. But what about **label = mx.sym.transpose(data=label)**? I am confused about the transpose function. Any hint please?

[2016-07-15 01:50] weishengchong opened #2709 "error of "Incorrect shape" in example/cpp/image-classification-predict.cc"
prediction using image-classification-predict.cc return error below for my input 224x224 color image, which complies with size setting in image-classification-predict.cc. Please kindly advise.

[src/c_api/c_predict_api.cc]MXPredCreatePartialOut(177):CHECK
[00:17:33] /N/software/mxnet/mxnet-master/dmlc-core/include/dmlc/logging.h:235: [00:17:33] src/operator/./concat-inl.h:152: Check failed: (dshap

[2016-07-15 03:06] sinmaystar commented on #2696
@xlvector Can u help me to solve this problem?

[2016-07-15 03:29] amithr1 opened #2710 "elastic SGD"
Hi All,

Is there support for elastic SGD ?

[2016-07-15 03:49] wushouchuan commented on #2702
Sequential Consistency,  保持预测结果与标签顺序一致,

[2016-07-15 04:53] Godricly commented on #2710
The EASGD?

[2016-07-15 04:54] sxjscience commented on #2710
@amithr1 Do you mean Elastic Averaging SGD (EASGD)? We can implement that using the current KVStore API and low-level executor APIs. @peterzcc and I have done this but it's not ready for a PR.

[2016-07-15 05:02] Godricly commented on #2710
@sxjscience I did it too, but the solution is not nice. Can you PR one later?
#1657 is my experience on implementation. Maybe it would be helpful for you,

[2016-07-15 05:19] sxjscience commented on #2710
@Godricly We have written a separate server optimizer for EASGD (https://github.com/sxjscience/mxnet/blob/master/python/mxnet/optimizer.py#L849-L867). The local workers will update the weights using the local optimizer and communicate with the server using `pull`, `push` primitives, which will be handled by the server optimizer.
According to our experiments, EASGD is more stable than DownpourSGD (

[2016-07-15 05:31] Godricly commented on #2710
wow...thats much better than what i did in messing up model.py with kvstore. So each local work is a node in EASGD?

[2016-07-15 05:39] sxjscience commented on #2710
@Godricly Yes. The workflow looks like this.
[code]

[2016-07-15 05:50] Godricly commented on #2710
Cool. Is this one based on module interface?

[2016-07-15 05:59] sxjscience commented on #2710
It's mainly based on the low-level executor. I've written a simple wrapper for that, which is similar to the module interface.

[2016-07-15 06:00] ascust opened #2714 "For some complicated networks, why cpu mode is way faster than gpu mode?"
I got a very confusing problem. For some complicated networks, which have many nodes and relationships, cpu mode seems way faster. I will show this in a working example.
[code]

So please ignore the details of the network because it does not make any sense. The point is to see why cpu is faster than gpu for 3.5 times in my case. gpu takes 2.5s for each iteration while cpu takes only 0.7s for an it

[2016-07-15 06:09] #2649 closed

[2016-07-15 07:01] liuzhi136 opened #2715 "MNISTIter call getdata method throw error"
I try to use MNISTIter to get each bacth data from it. I read the document in the corresponding page. It suppose to use DataIter's getdata() method. Why it throw a error when I use this way. Could any one explain why it happen please?
The error message is below:
Traceback (most recent call last):
  File "testMNIST.py", line 58, in <module>
    X_test_batch = testIter.getdata()
  File "C:\Python34\

[2016-07-15 07:55] lugui2009 opened #2716 "How to write out the file '.params' and '.json' if I customize my own training loop"
Hello,everyone.I wrote a script of a custom training loop according to the file" tutorial.ipynb" in the file of example/notebooks .But I don't know how to write out the file'.params' and '.jsom' for every epoch.I have written the "epoch-end_callback = mx.callback.do_checkpoint(prefix)" for every epoch.However it doesn't work.

Could  someone  give me some advise?Thank you so much

[2016-07-15 07:59] Stardust- commented on #2698
@piiswrong I try to use mx.module.bucketing_module.BucketingModule train my data(image data),but I got a error and I don't find way how to use data_shape and lable_shape.Even I don't know how to load my data(image).The doc example always train words sequence data.
error:

    Traceback (most recent call last):
    File "lstm_ctc_bucket.py", line 90, in <module>
      initializer=mx.init.Xavier(fac

[2016-07-15 08:15] Yang507 commented on #2702
@KCHWang I met a same problem with you when I run lstmocr.py with my own data(number=18), occur following error:

     Traceback(msot recent call last):
        File "lstm_ocr.py",line 165,in <module>
         batch_end_callback=mx.callback.Speedometer(BATCHSIZE,50))
       File "../../python/mxnet/model.py",line 745,in fit
         self._init_params(dict(data.provide_data+data.provide_label))

[2016-07-15 09:06] benwu232 commented on #2689
Thanks! @Godricly

I'm reading some examples in the example folder.
Still don't know what does 'provide_data' mean? I'll read them all.

[2016-07-15 09:12] yitang opened #2717 "implemente log_validation_metric callback function?"
Hello, I am new to mxnet and deep learning. I wonder if we shuold include `log_validation_metric` function in callback.py?

By default, mxnet logs validation score after each epoch, and if we have `log_validation_metric` function, users would able to save validation score after each mini-batch by giving the function to `eval_batch_end_callback` argument.

[2016-07-15 09:12] Stardust- commented on #2709
I met the error too.You can change you data_shape value to solve it.  What is your data_shape's value?

[2016-07-15 09:15] taoari opened #2718 "predict-with-pretrained-model.ipynb unable to run"
The notebook predict-with-pretrained-model.ipynb is no longer able to run correctly with the latest version. I am getting the following error:

[code]

The problem should be caused the change of the behavior of the pooling layer.

Originally, for an image of shape (32,32), with 3x3/2 pooling, it will generate an image of shape (16,16). But for current version, it generates an image of shape (15,15

[2016-07-15 09:28] Godricly commented on #2689
The provided_data is giving the shape info of your data. you can try with rnn example and print them out to have an idea of what they are.

[2016-07-15 10:16] weishengchong commented on #2709
Hi @Stardust, thanks for your support.
data_shape's equivalence, input_shape_data[4] = {1, 3, 224,224} as set below

[code]

[2016-07-15 10:47] sxjscience commented on #2317
@SkidanovAlex Here's the example code I get from your description. Concatenating 8 nodes will trigger the addto optimization. No such problem when `AddTo` is not triggered .
[code]

Output
[code]

[2016-07-15 11:01] zmonoid opened #2719 "Negative Linear Regression Loss?"
Hi,

I am trying to implement DQN in MXNet,

The symbol graph I designed is like this:

[code]

When I feed into the data, forward, and print the loss output, it shows many negative values, how come?
[code]

[2016-07-15 11:05] sxjscience commented on #2719
@zmonoid The linear layer `fc5` can contain negative weights.

[2016-07-15 11:11] zmonoid commented on #2719
@sxjscience  Thanks for your answering.

But shall the LinearRegressionLoss be calculated as mean squared error like (||y - y_target||^2)/N ?

[2016-07-15 11:23] sxjscience commented on #2719
@zmonoid The `LinearRegressionOutput` will output the same vector as the input while backpropagate the gradient of the squared loss.

[2016-07-15 11:30] zmonoid commented on #2719
@sxjscience Thanks, but how to export the MSE loss in this case?

[2016-07-15 11:34] sxjscience commented on #2719
You can compute it after getting the forward result.

[2016-07-15 11:42] zmonoid commented on #2719
@sxjscience The result seems to be very strange if I plot the MSE this way:

[code]
![image](https://cloud.githubusercontent.com/assets/16687307/16873194/35b91596-4ac4-11e6-8d96-6b06a3885e5c.png)

[2016-07-15 11:57] sxjscience commented on #2719
You can check the gradient.

[2016-07-15 13:04] Lisz1024 opened #2720 "Anything wrong with CSVIter?"
I have two csv file : feature.csv and label.csv , with only ten samples.
the feature.csv is :

the label.csv is :

I write a python script to load data using CSVIter.

[code]

the output is

2.0,2.0
3.0,3.0
4.0,4.0
5.0,5.0
6.0,6.0
7.0,7.0
8.0,8.0
9.0,9.0
10.0,10.0
1.0,1.0
2.0,2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
1.0

it can be seen from the output , there are 12 lines from feature.csv , it is righ

[2016-07-15 13:34] xlvector commented on #2704
I think the NCE Loss operator should not replace Softmax, it should replace last FullConnect because we can not calculate nhidden * nlabel matrix in last FC.

So, NCE is FC + Softmax Loss, merge two op into single op. What's your ideas?

[2016-07-15 13:58] zmonoid commented on #2719
@sxjscience
I am trying to compare the same approch to train DQN using tensorflow.

[code]
Which gives more reasonable loss:
![image](https://cloud.githubusercontent.com/assets/16687307/16876638/3b5d9ae0-4ad7-11e6-9056-ae001bec87ab.png)

[2016-07-15 14:01] zmonoid commented on #2719
@sxjscience However, if I take the range 8000:10000, it will give similar result as mxnet, but the loss is much smaller. Strange!

pylab.plot(loss[8000:])
![image](https://cloud.githubusercontent.com/assets/16687307/16876733/a5e629c2-4ad7-11e6-8d8c-2391085d5444.png)

[2016-07-15 14:07] sxjscience commented on #2719
@zmonoid DQN is quite sensitive to the initialization and learning rates. You try to tune these hyper-parameters.

[2016-07-15 19:19] piiswrong commented on #2717
validation metric is only computed at the end of epoch

[2016-07-16 01:20] were opened #2722 "How can I monitor the weight matrix and gradient?"
I add a monitor parameter fix, but I cannot comprehend the output log.
Why there is only one value for the weight matrix of certain layer?
And how can I monitor the gradient of every algorithm pass?

[2016-07-16 02:19] albertyou2 opened #2723 "could some one give me a step by step example of saving (or visualizing) conv layer output feature?"
I want save the features of the  final conV layer to  training my SVM classfier . But I don't see any example of how to save these features step by step with python .

Could some one give me a example ?thank you very much!

[2016-07-16 03:18] Yang507 commented on #2706
@piiswrong  hello,I have some captcha data and build lst and rec form, but I don't know how to write a iterator for my data while use example/warpctc/lstm_ocr.py, I also don't know if you run your data with mxnet and hope to be abel to get your answer, thank you!

[2016-07-16 03:44] luoruisichuan opened #2724 "how to get the value of 'mean_r'"
in the script of 'mxnet/example/image-classification/train_imagenet.py' , there is
# data

def get_iterator(args, kv):
    data_shape = (3, args.data_shape, args.data_shape)
    train = mx.io.ImageRecordIter(
        path_imgrec = os.path.join(args.data_dir, args.train_dataset),
        mean_r      = 123.68,
        mean_g      = 116.779,
        mean_b      = 103.939,
        data_shape  = data_s

[2016-07-16 03:48] piiswrong commented on #2722
by default a statistic is computed for each tensor. You can return the tensor itself as the stat and all its content will be printed. However thats usually too much printint

[2016-07-16 04:07] wushouchuan commented on #2723
You can use the 'simple_bind' function. In example/notebooks/simple_bind.ipynb and tutorial.ipynb

[2016-07-16 04:16] xlvector commented on #2696
I have review the code and find a bug which make warpctc can not work with CPU now.

I will fix it in next week.

[2016-07-16 04:39] travisbullock opened #2725 "Segfault running neural-style"
I'm running Ubuntu 16.04, CUDA Toolkit 7.5 and cudNN. The mnist demo works fine with gpus=0 but I get a segfault running the neural-style example. I used gdb to get this backtrace:

INFO:root:start training arguments Namespace(content_image='input/IMG_4343.jpg', content_weight=10, gpu=0, lr=0.001, max_long_edge=600, max_num_epochs=1000, model='vgg19', output='output/out.jpg', remove_noise=0.02, sa

[2016-07-16 04:40] taoari commented on #2723
try the following script, you can use the debug_symbol() function to get all the forward blobs information, and visualize them. I also want to get the backward gradient information, but did not figure it out yet.

[code]

[2016-07-16 05:01] taoari commented on #2709
I think this is caused by the pooling behavior with 3x3/2 structures. This affects the CaffeNet, GoogleNet, Inception-BN models, but you can try VGG16, or ResNet50. They work good.

I did not notice this issue, and opened another similar issue #2718 , I think the reasons are the same. Hope that people will quickly fix this soon.

Or you can revert to the version tagged `20160531`, it works good.

[2016-07-16 05:31] were commented on #2722
How can I get the tensor? Do I have to modify the source code of mxnet.py?

[2016-07-16 06:24] sxjscience commented on #2722
@were For an executor `exe`, you can use `arg_dict` and `grad_dict`. For example

[code]

[2016-07-16 06:45] luoruisichuan opened #2727 "about using the im2rec.py"
@tmatas
I am not sure about using the im2rec.py,
 for example, the file 'im2rec.py' in the folder 'D:/test' and the two class of trainning images(for two classification) in the folders 'D:/test/train1' and 'D:/test/train2', respectively, and the image file is jpeg format.
as for as the example, how to create the rec file for  mx.io.ImageRecordIter with  im2rec.py?
thanks for your help very much.

[2016-07-16 07:30] albertyou2 commented on #2723
@wushouchuan Thank you! But this example uses low level mxnet APIs and I don't think I can use it because I'am new to mxnet. I am training my model by using example/image-classification/train_imagenet.py. It's too difficult for me to modify that example script.Thank you again.

[2016-07-16 07:53] albertyou2 commented on #2723
@taoari thank you  !!
BUT I want to know if it is possible to use get_internals() and simple_bind() in example/image-classification/train_model.py file to save hidden layer output.

train_model.py  uses  mx.model.FeedForward &  model.fit for training automatically.I don't know how to modify it.

If it's possible,would you please give me a example?Thank you !

[2016-07-16 08:22] taoari commented on #2723
@albertyou2 MXNet is designed with the computational graph framework, so it will automatically optimize the internals and hide them from user. So I do not think it is suitable to retrieve the internals values from the high-level `model` API (e.g. modify the train_model.py file). You are trying to get something that is designed to hide from you! So your task is more appropriate to use the Symbol AP

[2016-07-16 08:34] taoari commented on #2723
@albertyou2 If you only want to extract one particular conv layer output, you can try the **last cell** in

https://github.com/dmlc/mxnet/blob/master/example/notebooks/predict-with-pretrained-model.ipynb

[2016-07-16 08:35] albertyou2 commented on #2723
@taoari ok! Thanks you for your suggestion! I'll try this!

[2016-07-16 10:06] Bihaqo opened #2729 "Pretrained model is unavailable"
The link to the pretrained model for the full imagenet is broken.
The link is here: https://github.com/dmlc/mxnet/blob/master/docs/tutorials/imagenet_full.md
And it leads here: https://github.com/dmlc/mxnet-model-gallery/tree/master/imagenet-21k-inception

[2016-07-16 10:40] xlvector commented on #2704
I use following code. Here, label's shape is (batch_size, num_sampled + num_true)
`
      Tensor<xpu, 2, DType> data = in_data[nceloss::kData].get_with_shape<xpu, 2, DType>(
          Shape2(ishape[0], ishape.ProdShape(1, ishape.ndim())), s);
      Tensor<xpu, 2, DType> label = in_data[nceloss::kLabel].get<xpu, 2, DType>(s);
      Tensor<xpu, 2, DType> wmat = in_data[nceloss::kWeight].get<xpu, 2,

[2016-07-16 11:22] were commented on #2722
How can I find a executor in `model.fit`?

[2016-07-16 11:44] weishengchong commented on #2709
@taoari, thanks. Will try and report soon.
On Jul 16, 2016 1:02 PM, "taoari" <notifications@github.com> wrote:

[2016-07-16 15:20] xianzhuoliu commented on #2133
When I compiled with commit 62f527d39967ac05f879ac949a6451ddb7fcda6f
Arise this error:
Availability.h: No such file or directory

As I known, Availability.h is only Apple specific. How can someone commit such a bullshit code.

[2016-07-16 17:50] MikeHuYimin opened #2731 "Memory exceed issue after the first round"
Currently I am working on a huge data set. The thing is that if I just put the whole training data in mx.Create.Feedforward, the memory will soon be filled up and fail to run. A easy example is like that.
`data <- mx.symbol.Variable("data")`
`fc1 <- mx.symbol.FullyConnected(data, num_hidden = 3000)`
`fc2 <- mx.symbol.FullyConnected(fc1, num_hidden = 10000)`
`out <- mx.symbol.LinearRegressionOutput

[2016-07-16 17:55] opraveen commented on #2059
As suggested in [#744](https://github.com/dmlc/mxnet/issues/744), I have been able to use clang and build mxnet without any issues.

The only changes I had to make are:

- cp make/config.mk .
- Use clang as choice of compiler:
 export CC = clang
 export CXX = clang++
 export NVCC = nvcc

Although it works with clang, I am curious to learn why GCC fails on newer ubuntu releases

[2016-07-16 18:10] rfcv opened #2732 "R: How to limit mxnet to one cpu core?"
How do I limit `mx.model.FeedForward.create` using `ctx = mx.cpu()` to only use one cpu core on a multicore machine in R?

[2016-07-16 21:34] thirdwing commented on #2732
The multicore usage can be from two points: (1) multithreading blas, like openblas; (2) openmp.

You can check your configuration and close them.

[2016-07-16 21:37] thirdwing commented on #2727
From https://github.com/phunterlau/kaggle_statefarm/tree/master/inception , you can find a complete example for (1) creating the image list; (2) creating rec files; (3) training using mxnet.

The training set is from https://www.kaggle.com/c/state-farm-distracted-driver-detection .I hope this helps.

[2016-07-16 21:43] thirdwing commented on #2676
@SJTUzhanglj In the `Inception_BN-symbol.json`, you can see the below content around line 4415.

[code]
If you change `Softmax` into `SoftmaxOutput `, the warning should disappear.

[2016-07-16 21:43] #2676 closed

[2016-07-16 23:07] luoruisichuan commented on #2727
for the two steps of creating REC file, it is OK, but now, 'make_list.py'  is deleted, and just 'im2rec.py' is used for creating REC file, as for as this one step of creating REC file is concerned, how to use  'im2rec.py' ?
thanks for your help.

[2016-07-16 23:08] thirdwing commented on #2727
https://github.com/phunterlau/kaggle_statefarm/blob/master/inception/gen_rec_bin.sh#L10

[2016-07-16 23:14] luoruisichuan commented on #2727
Deleted make_list.py, fixed a typo in im2rec.py by tmatas · Pull Request #2463 · dmlc/mxnet https://github.com/dmlc/mxnet/pull/2463

so I cannot download ' make_list.py' and use it now, what can I do?
thanks for your help.

[2016-07-17 01:23] taoari commented on #2718
@antinucleon The pull request #2585 actually breaks the behavior of the Pooling operations.

Originally for `Convolution`, the shape is calculated with floor((H+2*pad-kernel)/stride+1), for `Pooling`, it is calculated as ceil((H+2*pad-kernel)/stride+1). Now the PR #2585 unifies both of them to floor((H+2*pad-kernel)/stride+1).

I do advocate for this change. However, this behvior breaks the compat

[2016-07-17 02:40] xinghedyc commented on #2059
Hi, I also got this problem when using gcc4.8 and g++4.8
but when I use gcc 5 and g++5, the compilation succeed.
hope to help you.

[2016-07-17 02:56] shuokay commented on #2514
@everal If you have installed mxnet by `sudo python setup.py install` before, you should reinstall again.

[2016-07-17 03:12] Xiaoming-Zhao commented on #2059
@opraveen @seva100
Hi, sorry to hear that you got a similar error.

Actually, in the end, I did not solve this problem. However, this error did not prohibit me from doing work. I was trying to do some work about image at that time. This error told us that it could not create a file `bin/im2rec`, which was used to transform image to MXNet's own data format `record`. However, we do not need this. In

[2016-07-17 03:19] were commented on #2722
@piiswrong How to see the tensor when `fit`

[2016-07-17 04:49] starimpact commented on #2673
The another problem:
The gpu utility is always 40% whether using one thread to run one network, or multiple threads to run multiple networks in parallel.
Is it normal ❓

[2016-07-17 04:52] camel007 opened #2733 "ValueError: Only 2D matrix is allowed to be transposed"
`def get_iterator(batch_size, data_shape):

    train = mx.io.ImageRecordIter(
        path_imgrec = "./example/ocr/train.bin",
        data_shape  = data_shape,
        batch_size  = batch_size,
        shuffle = True,
        label_width = 4,
        preprocess_threads = 8,
        verbose = True,
        scale = 0.003921569)

    val = mx.io.ImageRecordIter(
        path_imgrec = "./example/ocr

[2016-07-17 05:14] taoari opened #2734 "Is it possible to make PReLU channel sharing for the gamma parameter?"
For mx.sym.LeakyReLU:

[code]

There isn't a parameter like `channel_shared`, so is it possible to make PReLU channel sharing for the gamma parameter?

[2016-07-17 05:43] magic282 opened #2735 "Is it possible to save optimizer state in python?"
Hi,

I tried to resume training, however it seems the optimizer (I'm using AdaDelta) state is not saved. Is this supported?

Thanks.

[2016-07-17 07:03] tqchen commented on #2673
This really depend on your usecase..would be nice if you have a description on what exactly your usecase is. GPU was not very great at resource sharing and running small workloads concurrently, because CuDNN and most CUDA libs are optimized to fully utilize the GPU

[2016-07-17 07:58] albertyou2 commented on #2643
@taoari Thank you very much .  I will try this!

[2016-07-17 08:11] piiswrong commented on #2735
This is a missing feature. I'm planning to do it when I have time.
Let me know if want to give it a try now.
basically you need to refactor mx.optimizer.get_updater

[2016-07-17 08:14] piiswrong commented on #2733
You are trying to transpose a matrix that has more than 2 dimensions. It's not supported.

[2016-07-17 08:28] sxjscience commented on #2612
Closed by https://github.com/dmlc/mxnet/pull/2728

[2016-07-17 09:12] blazerygy opened #2738 "How to modify executor_manager.grad_arrays in model.py?"
I want to modify executor_manager.grad_arrays in model.py to do some experiments as the following code.

[code]

but it failed, I found MXNet using only the space which allocated initially to store the gradient, If I modify executor_manager.grad_arrays as shown above, the ndarray will point to the new space, so it failed, and the model can't converge.
So, how  to modify executor_manager.grad_array

[2016-07-17 09:19] xinghedyc commented on #2395
Hi
I got an error when training fcn32s, cpu and gpu mode got the same error.
log:
INFO:root:Namespace(epoch=74, init_type='vgg16', model='fcn32s', prefix='VGG_FC_ILSVRC_16_layers', retrain=False)
INFO:root:Start training with gpu(0)
[17:19:00] /home/dyc/mxnet/dmlc-core/include/dmlc/logging.h:235: [17:19:00] src/operator/./crop-inl.h:117: Check failed: (static_cast<int>(param_.offset[0])) <= (data_

[2016-07-17 09:40] sxjscience commented on #2401
@sbodenstein Any update on this?

[2016-07-17 10:08] weishengchong commented on #2709
Hi @taoari, for same error at inception_bn at mxnet-20160531 + 20160713's sub-modules (dmlc-core, ps-lite, ms-shadow). Will check with VGG16, or ResNet50

[2016-07-17 10:32] starimpact opened #2739 "MXNDArraySyncCopyToCPU speed problem"
I find that it costs about 60ms to transfer data with size of 15MB from gpu to cpu.
Is it normal ❓

[2016-07-17 10:46] taoari commented on #2709
@weishengchong In my case, it works. See #2718 for my description.

It is this PR #2585 that changes the behavior. When I revert to one commit before that PR, it also works well.

I am not using the C++ file image-classification-predict.cc, you can use the notebook predict-with-pretrained-model.ipynb for a quick check.

[2016-07-17 10:54] starimpact opened #2740 "how to transfer data from one ndarray to another"
How to copy data of a ndarray to another ndarray directly ❓

[2016-07-17 11:11] xinghedyc commented on #2395
@tornadomeet I've checked the code, line 91 in solver.py :
pred = mx.nd.array(output_buff["softmax_output"].asnumpy().reshape(pred_shape[0], \
                    pred_shape[1], pred_shape[2]*pred_shape[3]))
may be the problem.

[2016-07-17 11:36] sxjscience commented on #2739
@starimpact No, it's not normal. It's less than 6ms on my computer .

[2016-07-17 11:36] sxjscience commented on #2740
@starimpact You can use `a[:] = b` to copy the data from `b` to `a`.

[2016-07-17 12:06] starimpact commented on #2739
ok

[2016-07-17 12:06] starimpact commented on #2740
but how to use it in C code.

[2016-07-17 12:17] camel007 commented on #2733
Thank you

[2016-07-17 12:17] #2733 closed

[2016-07-17 12:23] sxjscience commented on #2739
Also, I'm using this testing script.
[code]

Output:
```GB/s: 2.33017```

[2016-07-17 12:24] sxjscience commented on #2740
@starimpact You can do it via `b = F<mshadow::op::identity>(a)`

[2016-07-17 12:32] starimpact commented on #2739
thank you

[2016-07-17 13:00] were commented on #2722
OK, I think I have done. Close this issue.

[2016-07-17 13:12] #2722 closed

[2016-07-17 13:51] starimpact opened #2741 "Add the smooth_l1 loss function into mshadow_op"
[code]

[2016-07-17 14:46] sxjscience commented on #2612
Find that the current version is still slower than Torch for some other embedding settings. I may need to investigate the cause.

[2016-07-17 15:52] sxjscience commented on #2612
Find that it's caused by initializing a really large embedding matrix. I'm testing the DeepMark's LSTM and the embedding matrix in the benchmark is `(793471, 512)`. The computation time will be dominated by setting this large matrix. However, the embedding's speed will be similar to Torch if `AddTo` is triggered.

Data shapes:
data=(128, 20)
embedding_weight=(793471, 512)

Using WriteTo: **0.00875

[2016-07-17 16:58] piiswrong commented on #2738
executor_manager.grad_arrays[i][j][:] = executor_manager.grad_arrays[i][j] + grad_array1[i][j]
note the [:]

[2016-07-17 17:14] piiswrong commented on #2612
Is this a one time startup cost? Doesn't torch need to initalize the matrix?

[2016-07-17 18:58] antinucleon commented on #2741
I can't see any reason for moving this to mshadow

[2016-07-17 19:04] antinucleon commented on #2401
@sxjscience I will do it today

[2016-07-17 20:04] sbodenstein commented on #2401
@antinucleon: I'm working on this today again, and have a few days free in which to finish it.

To see what I have so far:

https://github.com/sbodenstein/mxnet/blob/feature/RNN_Symbol_cuDNN/src/operator/rnn-inl.h
https://github.com/sbodenstein/mxnet/blob/feature/RNN_Symbol_cuDNN/src/operator/cudnn_rnn-inl.h

Lets set a date: I should have a finished version by Wednesday. Also, any comments would

[2016-07-17 23:01] sxjscience commented on #2612
@piiswrong If we use request=write in the backward computation, we will need to first initialize the gradient to all zero and then perform AddTakeGrad.  Every backward pass will thus trigger a memset.
I haven't included the zeroing step in my Torch's testing script. May need to add it and compare again.

[2016-07-17 23:05] piiswrong commented on #2612
https://github.com/DeepMark/deepmark/blob/master/torch/text/lstm.lua
This is torch's script. Seems incomplete?
Can you find a standard usage example in torch?

[2016-07-17 23:14] sxjscience commented on #2612
Yes, it has just the forward pass. I can refer to https://github.com/Element-Research/rnn/blob/master/examples/recurrent-language-model.lua and char-rnn.

[2016-07-17 23:17] piiswrong commented on #2612
Torch API kinda force calling lm:zeroGradParameters() on each iteration.

[2016-07-17 23:31] sxjscience commented on #2612
We may need the gradient for norm-clipping. Also,  the vanilla SGD way will be helpful and we can add a flag to turn on this optimization.

[2016-07-17 23:39] sxjscience commented on #2401
Great!

[2016-07-18 01:55] starimpact commented on #2741
it is not a bad thing to enrich the loss function family.

[2016-07-18 01:56] antinucleon commented on #2741
We will refactor all operators soon,

[2016-07-18 02:15] tqchen commented on #2741
The idea is that we always add new ops to mshadow if it is general and can shorten the code(needed by multiple places), as it is not yet the case, we can do it when we find the need comes

[2016-07-18 02:15] #2741 closed

[2016-07-18 02:15] tqchen commented on #2741
Thanks for the suggestion

[2016-07-18 02:37] starimpact commented on #2741
it is used in region proposal network.

[2016-07-18 02:59] blazerygy commented on #2738
@piiswrong thanks a lot!

[2016-07-18 03:27] taoari opened #2749 "Any special reason for the default initializer mx.init.Xavier(factor_type="in", magnitude=2.34) to take the magnitude 2.34?"
The Xavier initializer is mx.init.Xavier(factor_type="in", magnitude=3), and
The MSRA initializer  is mx.init.Xavier(factor_type="in", rnd_type="gaussian", magnitude=2).

Why the default initializer adopts a strange magnitude of 2.34, any special reason for this?

[2016-07-18 03:30] tqchen commented on #2741
If it is used in some of the ops, one way would be proposing this op together with the operator definition with a PR

[2016-07-18 05:41] liumilan commented on #2669
hi,piiswrong
I continued to test today,in one machine,it cost reasonably when run in one node.
But it did cost much time when run mulitple node,whether sync node or async node.
I add code it ndarray.c save funtion

std::chrono::steady_clock::time_point t1_5 = std::chrono::steady_clock::now();
  int flag = 0;
  if (ctx.dev_mask() != cpu::kDevMask) {
    temp = this->Copy(Context::CPU());
    t1_5 =

[2016-07-18 05:58] piiswrong commented on #2669
Are you logging metric during training?
It's complicated to explain but in short mxnet is async so if you are not inserting sync point (like computing metric) the time cost you see is not real. Real computation is happening while blocking at waittoread

So add metric for training and see if the timing issue is fixed

[2016-07-18 06:09] albertyou2 commented on #2723
@taoari
Thanks to your suggestion, I can successfully extract  features of ' conv5_2'  layer ! Thank you again!

The code is here:
......
# prepare data
data_shape = (args.rgb, args.shape,args.shape)
images = mx.io.ImageRecordIter(
        path_imgrec = args.data_file,
        mean_img    = args.min_file,
        rand_crop   = False,
        rand_mirror = False,
        data_shape  = data_shape,

[2016-07-18 06:33] xlvector commented on #2704
I try to write an C++ NceLoss layer to do this, but find its too slow.
However, after refer to tensorflow's implement, I find we can use existing op to do NCE loss.

So, I will submit an python example for this.

[2016-07-18 06:37] liumilan commented on #2669
2016-07-18 13:47:43,952 Node[0] Epoch[14] Resetting Data Iterator
2016-07-18 13:47:44,079 Node[0] Epoch[14] Time cost=6.981
2016-07-18 13:47:44,083 Node[0] Epoch[14] copy param cost=0.004
2016-07-18 13:58:05,524 Node[0] nd[14] nd save param cost=621.440
2016-07-18 13:58:05,737 Node[0] Saved checkpoint to "model/dnn-0015.params"
training time is ok.But it cost so much time to save model

[2016-07-18 06:37] liumilan commented on #2669
2016-07-18 13:47:43,952 Node[0] Epoch[14] Resetting Data Iterator
2016-07-18 13:47:44,079 Node[0] Epoch[14] Time cost=6.981
2016-07-18 13:47:44,083 Node[0] Epoch[14] copy param cost=0.004
2016-07-18 13:58:05,524 Node[0] nd[14] nd save param cost=621.440
2016-07-18 13:58:05,737 Node[0] Saved checkpoint to "model/dnn-0015.params"
training time is ok.But it cost so much time to save model
@piiswrong

[2016-07-18 06:42] sxjscience commented on #2704
That's good. I'm planning to create another folder to include some OPs that can be constructed by basic c++ ops (Like LSTM). NCE can be one of them.

[2016-07-18 09:01] blazerygy commented on #2738
@piiswrong hi, I found "grad_array1 = copy.deepcopy(executor_manager.grad_arrays)" cost time much, is there any other ways to replace this?

[2016-07-18 09:35] fang289040324 opened #2751 "How much memory is required for rcnn？"
Hi, I was running in CPU, but the 70G of memory is not enough.
Modified code：
train.py
#ctx = mx.gpu(args.gpu_id)
ctx = mx.cpu()
We need to modify the other place?
Thank you very much.

[2016-07-18 09:50] KCHWang commented on #2116
@helloworldlxb Hi! Have you fixed your problem? I am having exactly the same issue here. Any wisdom please? Many thanks!

[2016-07-18 12:35] weishengchong commented on #2709
@taoari

I confirmed image-classification-predict.cc + inception_v3 works good using model below
https://github.com/dmlc/mxnet-model-gallery/blob/master/imagenet-1k-inception-v3.md

[2016-07-18 12:44] starimpact opened #2752 "How to output variant size out_data in operator?"
Hi, guys,
I need to handle the bounding box calculation in the gpu side after operator RPN in the mxnet framework.
but the number of bounding box is variant.
the only way I can do is to fix the maximum number of bounding box.but I don't like it.
so, how to do it?

[2016-07-18 14:18] srand99 commented on #2749
I don't think it is a good initializer, you should change it according to your model to avoid divergence.

[2016-07-18 14:47] srand99 opened #2753 "Problem while use padding in pooling layer"
I find some differences between mxnet and cudnn while use padding in pooling layer.

If I have an input map like this:
-1 -2 -3 .........
-3 -4 -5 ........
-2 -3 -6..........
..........................

and use a max pooling layer with kernel=(3,3), stride=(2,2), pad=(1,1)
in mxnet ,using CPU, the first value of output map is 0.
in caffe or cudnn, the first value of output map is -1, because the p

[2016-07-18 14:49] antinucleon commented on #2753
Hmm, I padded 0, seems it is this problem. Will fix it with a much smaller
value instead of 0
On Mon, Jul 18, 2016 at 07:48 srand99 <notifications@github.com> wrote:

--
Sent from mobile phone

[2016-07-18 14:56] srand99 commented on #2753
I think you should check average pooling too.

[2016-07-18 14:57] antinucleon commented on #2753
We need to add valid option similar to CuDNN
On Mon, Jul 18, 2016 at 07:56 srand99 <notifications@github.com> wrote:

--
Sent from mobile phone

[2016-07-18 15:04] pjpan opened #2754 "import mxnet<report errore>Reason: image not found"
OSError: dlopen(//anaconda/lib/python3.5/site-packages/mxnet-0.7.0-py3.5.egg/mxnet/libmxnet.so, 6): Library not loaded: /usr/local/lib/libHalf.12.dylib
  Referenced from: /usr/local/opt/openexr/lib/libIlmImf-2_2.22.dylib
  Reason: image not found

[2016-07-18 15:50] #2732 closed

[2016-07-18 20:39] piiswrong commented on #2752
You can use bucketing

[2016-07-18 20:54] piiswrong commented on #2669
Just add metric logging and it should be fixed

[2016-07-19 02:15] starimpact opened #2757 "MXNet re-use the internal memory buffers among all executors??"
In the "http://myungjun-youn-demo.readthedocs.io/en/latest/how_to/bucketing.html".
I noticed that "MXNet re-use the internal memory buffers among all executors", this means that mxnet can't be used with threads at all? Am I right?

[2016-07-19 02:20] tqchen commented on #2757
If you do not use shared memory binding explicitly, they won't share the memory.

[2016-07-19 02:20] #2757 closed

[2016-07-19 02:23] starimpact commented on #2757
:smile:

[2016-07-19 03:21] #2739 closed

[2016-07-19 03:32] atticcas opened #2758 "RuntimeError when running neural-style examples"
When I try to run the neural-style example in /example/neural-style folder, I met the following problem:

[code]

My python version is 2.7.6, and numpy version is 1.8. The operation system is Ubuntu 14.04.

[2016-07-19 03:43] taoari commented on #2709
@weishengchong Maybe, but Inception_BN does not work. I did not try Inception-V3 yet.

3x3/2 pooling behavior is changed, it does not mean that models using 3x3/2 will not work.

For example, ResNet50 will behave like 112->55->28, while in He's paper it should work like 112->56->28. But ResNet50 still runs, and the final results might slightly different. I am not sure to what degree it will hurts

[2016-07-19 03:46] taoari commented on #2749
@srand99 Thank you, but I think there should be some reasons to use 2.34, otherwise why not simply use the Xavier initializer that is mx.init.Xavier(factor_type="in", magnitude=3).

[2016-07-19 04:46] piiswrong commented on #2758
@antinucleon

[2016-07-19 05:01] magic282 opened #2759 "Modify params in callback"
Hi,

I am trying to write a callback that can roll back to the best model when the evaluation metric keeps going down. However I observed that it cannot successfully modify the params.

For example, the perplexity at epoch 32 is 3.7, and it decreases to 2.7 at epoch 42. After I load the params back to epoch 32, the perplexity is still 2.7. So I guess I failed to roll back. Is it the right way to c

[2016-07-19 05:53] FighterLYL opened #2760 "mxnet get stuck when training with 2-gtx1070"
Hi, I use mxnet to train a model with 2 gtx1070, but it get stuck. It is normal when training with single gpu. I find it get stuck in `EvalMetric.update` function, to be precise, this line: `pred = pred.asnumpy()`.
My computer environment: Ubuntu 14.04, cuda 8.0rc , cudnn 4.0.
Is this problem caused by cuda? Thanks!

[2016-07-19 06:18] starimpact opened #2761 "Is it the right way to reset a Tensor?"
[code]

[2016-07-19 06:40] sxjscience commented on #2760
@FighterLYL Could you get a small verifiable example?

[2016-07-19 06:56] boyflytobeman opened #2762 "Ignore all communication overheads of the GPU cluster，It is means more machines will need less time overhead when training a deep model，right? Is it also right that we need not too many machines to train a deep model，or more manchines cannot give us greater benefits,vgg model,Imagnet1000 for example?"

[2016-07-19 07:13] arestorres commented on #2696
@xlvector Can u please tell me what the bug u mentioned above is it?  I run lstm_ocr.py  using cpu, but the train_accuracy is always 0.00 after 10 epochs. Does this bug you mentioned above cause this?

[2016-07-19 07:28] xlvector commented on #2696
@arestorres The bug is between L149 and L161 in https://github.com/dmlc/mxnet/blob/master/plugin/warpctc/warpctc-inl.h#L149

Here, if the device is not GPU, it will LOG(FATAL) << "Unknown device type " << data.dev_mask_;

For convergence, the lstm_ocr will converge after 7000 iterations. You can see my log in
https://github.com/dmlc/mxnet/pull/2326
.

[2016-07-19 07:33] gmyofustc opened #2763 "how can i get the shape of a certain symbol"
Hi all,
        I want to get the shape of a certain symbol, take a look at the following code:

[code]

How can I get the shape of `symbol_b`?

I know for symbol, one can use `infer_shape` to get the shape of symbols.
But in this situation, `symbol_b.infer_shape` will return a list of shapes, which respect to all the symbol before the node of `symbol_b` in the compute symbol graph, say`[(shape of

[2016-07-19 07:38] #2678 closed

[2016-07-19 07:40] liumilan commented on #2669
What is the meaning about metric logging?
Could u explain more clearly?
add some log during trainning?

[2016-07-19 07:45] liumilan commented on #2669
What is the meaning about metric logging?
Could u explain more clearly?
add some log during trainning?
@piiswrong

[2016-07-19 07:58] albertyou2 commented on #2760
concern  to this issue

[2016-07-19 08:30] arestorres commented on #2696
@xlvector many thanks!

[2016-07-19 09:03] lugui2009 opened #2764 "how to write the file of .params ever 10 epoch when using model.fit()"
I use the default solver "model.fit()" ,and  in it I set up the save parameter "epoch_end_callback=mx.callback.do_checkpoint(prefix)" .By default ,it writes out the file of .params for every epoch. However ,I want  it to write out the file of .params every 10 epoch or evey 20 epoch.And how to modify the parameters?

Thank you so much.

[2016-07-19 09:17] dengdan opened #2765 "ImageNet图片生成RecordIO文件后的失真问题"
在生成imagenet的recordio文件后, 出于好奇, 我从recordio文件中读出了图片并显示出来, 结果发现与原图明显不同, 例如(原图后是对应的失真图片):
![](https://github.com/dengdan/blog_posts/blob/master/github_issue/original/n01484850_95.JPEG?raw=true)
![](https://github.com/dengdan/blog_posts/blob/master/github_issue/showed/2.png?raw=true)
![](https://github.com/dengdan/blog_posts/blob/master/github_issue/original/n01484850_17.JPEG?raw=true)
![](https://gith

[2016-07-19 09:27] titicaca commented on #2642
@javelinjs  we have the same issue and are currently using the latest version.

[2016-07-19 09:29] melissa1601 commented on #1040
I can't find split layer, is it SliceChannel?
Thank you

[2016-07-19 09:38] tornadomeet commented on #2765
https://github.com/dmlc/mxnet/issues/2161

[2016-07-19 11:26] starimpact opened #2767 "Can I use pthread_create in the operator?"

[2016-07-19 11:32] magic282 commented on #2764
The following code is from mxnet/callback.py
You can see that there is a ```period``` argument.
[code]

[2016-07-19 13:25] KCHWang opened #2768 "How to Implement Multidimensional Input in LSTM?"
I am implementing my own LSTM similar to the model in [https://github.com/dmlc/mxnet/blob/master/example/rnn/char-rnn.ipynb](url). The error I am having now somehow indicates that the dimension of input is not appropriate. Any idea how should I debug this? Thanks so much!

Here are what I have when I run **model.fit(X=train_iter, eval_data=test_iter, batch_end_callback=mx.callback.Speedometer(batc

[2016-07-19 13:29] KCHWang commented on #2768
Here is how I define my LSTM:
`def lstm_general_unroll(num_lstm_layer, seq_len,
                        num_hidden, num_label, dropout=0.):

    cls_weight = mx.sym.Variable("cls_weight")
    cls_bias = mx.sym.Variable("cls_bias")
    param_cells = []
    last_states = []
    for i in range(num_lstm_layer):
        param_cells.append(LSTMParam(i2h_weight=mx.sym.Variable("l%d_i2h_weight" % i),

[2016-07-19 13:39] KCHWang commented on #2768
My iterator is also similar to BucketSentenceIter in [https://github.com/dmlc/mxnet/blob/master/example/rnn/bucket_io.py](url).

Here are a few critical lines:
`

                init_state_names = [x[0] for x in self.init_states]
                data[:] = self.X_data[idx]
                label = self.label_buffer
                label[:] = self.y_data[idx]

                data_all = [mx.nd.array

[2016-07-19 13:43] KCHWang commented on #2768
`data shape:
(32L, 15L, 18L)
label.shape:
(32L, 15L)`

32 is batch size. 15 is sequence length. 18 is the dimension of input feature. In the char-cnn example, the input feature is only one number, and that is why there is one more dimension in data.

[2016-07-19 13:44] KCHWang commented on #2768
Could someone please show me what is wrong here? Many thanks!

[2016-07-19 14:01] wushouchuan commented on #2768
Maybe you should feed a initial state to LSTM.  If I were you, I will use the infer_shape function

[2016-07-19 15:42] javelinjs commented on #2642
Are you using the same jar on worker nodes?

[2016-07-19 16:54] cjfan opened #2770 "Why NDArrayIter does not support gpu?"
Ndarray can store data in gpu, but when use it to init a NDArrayIter,
why the NDArrayIter copy the data back to cpu?
so, with a model whose context is set to gpu, the batch data or label given by NDArrayIter need to copy from cpu to gpu again in the trainning cycle.

\python\mxnet\io.py
[code]

[2016-07-19 18:36] piiswrong commented on #2762
Scaling depends on network architecture and your hardware configuration, including PCIe BUS, router, etc.
You need to do experiment youself

[2016-07-19 18:39] piiswrong commented on #2759
No. The callback is given a copy

[2016-07-19 23:15] piiswrong opened #2771 "CRF as RNN with permutohedral lattice"
I have implemented high dimensional filtering for dense crf with permutohedral lattice approximation.
However, I don't have time to work on reproducing crf as rnn.

The code is here: https://github.com/piiswrong/permutohedral. the GPU implementation is 20x faster than cpu version (which is taken from the caffe implementation by the original author of crf as rnn paper).

If anyone want's to try rep

[2016-07-20 01:02] jack-liuquan commented on #2762
Is anyone who has experiment on more than 20 machines deep learning training and have a good performance speed up?

[2016-07-20 01:30] lugui2009 commented on #2764
@magic282  thank you .But when I wrote the the second argument,I got an error:

=========================================

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: do_checkpoint() takes exactly 1 argument (2 given)
========================================

[2016-07-20 01:32] lugui2009 commented on #2764
@magic282 thank you .But when I wrote the the second argument,I got an error:

[code]

[2016-07-20 01:51] FighterLYL commented on #2760
@sxjscience you can use [train_mnist.py](https://github.com/dmlc/mxnet/blob/master/example/image-classification/train_mnist.py) with option `--gpus 0,1`, the program will be stuck at [this line](https://github.com/dmlc/mxnet/blob/master/python/mxnet/metric.py#L137) the third time get here.

[2016-07-20 01:54] albertyou2 opened #2772 "im2rec的小问题"
MAC下如果使用
/Users/zuekiWork/Documents/mxnet/tools/im2rec ./data/train_logic.lst ./data/train_logic/ ./data/train_logic.rec resize 100
则 resize不生效

必须使用 resize=100 才能生效
/Users/zuekiWork/Documents/mxnet/tools/im2rec ./data/train_logic.lst ./data/train_logic/ ./data/train_logic.rec resize=100

建议增加一个说明！版本是 0.7.0

[2016-07-20 01:56] kikoqiu commented on #2693
\>>> a[0:0]
array([], dtype=float64)
\>>> b=mx.nd.array(a)
\>>> b[0:0].asnumpy()
array([ 0.,  0.,  0.,  0.,  0.], dtype=float32)

[2016-07-20 02:06] magic282 commented on #2764
@lugui2009 https://github.com/dmlc/mxnet/blob/master/python/mxnet/callback.py
Are you using the latest version?

[2016-07-20 02:10] magic282 commented on #2759
@piiswrong So is there any other way to roll back during training? Thanks.

[2016-07-20 02:23] lugui2009 commented on #2764
@magic282 Oh,I see.I will update my version of mxnet .Thank you so much

[2016-07-20 03:00] tqchen commented on #2767
There is no rule on what you cannot do inside an operator, as long as the function finishes means the operator completes

[2016-07-20 03:00] #2767 closed

[2016-07-20 03:22] dengdan commented on #2765
总结下, 有两种解决办法.
[code]
或
[code]

[2016-07-20 03:22] #2765 closed

[2016-07-20 05:00] ascust commented on #2714
any thoughts on this, is this related to the internal mechanism of Mxnet? @tqchen @piiswrong

[2016-07-20 05:52] MikeHuYimin opened #2773 "Using LinearRegressionOutput in a neural network"
Currently I am dealing with a regression task to predict mulltiple value. I built a network as below:
 data <- mx.symbol.Variable("data")
 fc1 <- mx.symbol.FullyConnected(data, num_hidden = 500)
 act1 <- mx.symbol.Activation(fc1,act.type='tanh')
 fc2 <- mx.symbol.FullyConnected(act1, num_hidden = 500)
 act2 <- mx.symbol.Activation(fc2,act.type='tanh')
 fc3 <- mx.symbol.FullyConnected(act2, num_hid

[2016-07-20 06:04] rajafan opened #2774 "Questions on the input format for charRNN model (in R)"
I am trying to develop the charRNN model using mx.lstm in R. The following questions arose, and more specifically, on the input data format. Any help or clarification would be highly appreciated. Sorry for this lengthy question, as I am trying to make my question as clear as possible.

Suppose a text file contains M unique characters and has a total length of N:
1. From what I saw from the mxnet/R

[2016-07-20 06:13] piiswrong commented on #2763
[code]
document explains the order

[2016-07-20 06:15] anxingle commented on #1245
@piiswrong    sorry,I want to know how to set USE_CUDA_PATH .I install cuda in /usr/loca/cuda-7.5

[2016-07-20 06:45] sinmaystar commented on #981
@JamesKnowton
I have met a same question, I want to use CNN and LSTM joint-training, CNN extract image features as LSTM's  input, do u success to do that?

[2016-07-20 07:08] sinmaystar commented on #2018
@xlvector
Have you succeeded in achieving CNN + LSTM + CTC code?
or just achieve example warpctc?
recently I am studying cnn + lstm + ctc joint-training, but I have met some problem, did you make it successfully?

[2016-07-20 07:17] xlvector commented on #2018
You can see examples under /examples/warpctc/

[2016-07-20 07:20] sinmaystar commented on #2018
This example does not use cnn to extract features as lstm's input，so when the captcha have rotate or some change it wont recognize success，do u plan to add cnn to this example？
            在2016年07月20日 15:17，Xiang Liang 写道:You can see examples under /examples/warpctc/

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-20 08:09] rajafan commented on #2774
@ziyeqinghan @piiswrong  , Would be great to see your comments. Thx.

[2016-07-20 08:14] titicaca commented on #2642
We tested on local machine by using two workers:
[code]

[2016-07-20 08:18] piiswrong commented on #2714
Your layers are too small and there are too many of them. Kernel launch overhead is dominating.

[2016-07-20 08:51] anxingle commented on #2696
@xlvector    can u notice us in this issue after u fix this problem? I also meet the same problem .

[2016-07-20 09:04] KCHWang commented on #2768
@pluskid @antinucleon  Sorry to bother! I noticed that you guys implemented char-rnn.ipynb in [https://github.com/dmlc/mxnet/blob/master/example/rnn/char-rnn.ipynb](url). Could either of you help me please? I would appreciate any comments.

[2016-07-20 09:28] luoruisichuan commented on #2772
我将/mxnet/tools/im2rec.py文件copy到d:/test文件夹下。同时，将2类图片文件（各10张，各10个JPEG文件）分别放到d:/test/train/folder1和d:/test/train/folder2下。我用原来老版的make_list.py文件运行生成了lst文件，路径是d:/test/train1.lst，但现在我用im2rec.py来生成rec文件总是报错，请教，是什么问题呢？
具体语句及错误提示如下:
 D:\test>python im2rec.py d:/test/train1.lst d:/test/train/ d:/test/train1.rec
  File "im2rec.py", line 36
    def make_list(prefix_out, root, recursive, exts, num_=s, train_ra

[2016-07-20 09:30] luoruisichuan commented on #2772
补充说明，我用make_list.py文件运行生成了lst文件的语句如下：
D:\test>python make_list.py d:/test/train d:/test/train1 --recursive=True
d:/test/train
d:/test/train\model1
d:/test/train\model2

然后可以在d:/test目录下可以看到文件d:/test/train1.lst

[2016-07-20 09:31] luoruisichuan commented on #2772
@albertyou2 ，请教这个错误提示是什么原因呢？

[2016-07-20 09:36] StuJia opened #2775 "Does MXNet support locally-connected layer with unshared weights?"
Need I write one by myself?

[2016-07-20 09:40] albertyou2 commented on #2772
@luoruisichuan 你用的是系统系统？我看你的符号有问题 windows系统 路径是 \不是/

[2016-07-20 09:43] luoruisichuan commented on #2772
但我用make_list.py文件运行生成了lst文件没有问题呢。我刚才把/都改为\试了下，还是不行，估计不是这个问题。

[2016-07-20 09:46] luoruisichuan commented on #2772
我用的im2rec是最新版的，是把make_list和im2rec合并到im2rec.py中一起了的，不知道是什么问题。

[2016-07-20 09:48] luoruisichuan commented on #2772
你有没有老版的将make_list和im2rec分开的im2rec.py文件？我想比较下是否新版本im2rec.py（github.com/dmlc/mxnet/blob/master/tools/im2rec.py）的问题.
谢谢

[2016-07-20 09:50] albertyou2 commented on #2772
@luoruisichuan 看下我最新的回复，我没找到他最新的版本的用法

[2016-07-20 09:52] luoruisichuan commented on #2772
方便QQ号码请教下么

[2016-07-20 09:58] albertyou2 opened #2776 "CNN prediction without dropout ?"
Some article says that we do NOT need dropout layer  in prediction.
Could mxnet do this job and if it could, would some one show  me how to do this job ?Thanks!
Here is my prediction code :
# prediction
from __future__ import division

import find_mxnet
import mxnet as mx
import logging
import argparse
import os, sys
import train_model
import numpy as np
import cv2

parser = argparse.ArgumentParse

[2016-07-20 09:59] albertyou2 commented on #2772
@luoruisichuan 13800497

[2016-07-20 10:13] anxingle opened #2777 "run warpctc/lstm_ocr.py in CPU"
I run lstm_ocr.py(cpu),
a@a:~/mxnet/example/warpctc$ python lstm_ocr.py
But it shows the below message:

begin fit
2016-07-20 18:09:30,431 Start training with [cpu(0)]
iter
[18:09:30] /home/a/Downloads/mxnet/dmlc-core/include/dmlc/logging.h:235: [18:09:30] plugin/warpctc/./warpctc-inl.h:159: Unknown device type 1
[18:09:30] /home/a/Downloads/mxnet/dmlc-core/include/dmlc/logging.h:235: [18:09:30] s

[2016-07-20 10:30] passerbythesun commented on #1222
@hjk41 so MxNet is still slower than caffe on CPU for now?

[2016-07-20 11:10] magic282 opened #2778 "GPU out of memory error"
Hi,

I found that if two mxnet programs run on the same GPU and one of them cause out of memory error, I will never run any mxnet programs anymore. I found that the solution is to reboot... I am using K40.
The error detail:
[code]

[2016-07-20 11:32] MrPig opened #2779 "关于卷积操作导致机器卡死"
我写了一段关于QA的程序，但是不知为何，当我设置batch_size大一些就会导致机器卡死，我很确信没有超显存，我用的是Titan Black，6G的显存，当我把batch_size设置为10的时候，大约占用200M的显存，而batch_size设置为100时，机器就变得特别卡，而且等待很长时间程序都没有正常运行，但是设置为10，程序能够正常运行，这是为什么？下面是程序的建立符号部分，
[code]
我自己稍微debug了一下，就是卷积操作那里的问题

[2016-07-20 11:50] starimpact opened #2781 "A Bug?Very strange gpu occupation problem when using thread !"
the following code will cause a strange problem:
environment: 4 TitanX.
mxnet version: v0.7.0
cudnn version: v3.
I copy data to the Second GPU. but the programme always occupy the first GPU memory, and the memory is always 119MB.
But, the problem is disappeared when I do not use the thread.
Is it a bug in MXNet? How to solve it?
[code]

[2016-07-20 11:59] starimpact commented on #2779
机器要么是ＣＰＵ被占满，要么是内存被占满，你是哪种情况？

[2016-07-20 12:02] MrPig commented on #2779
都没有占满，CPU有一个核满了，但是其他的都空闲，内存还有很多，一旦我设置batch_size为100，机器就特别卡，移动鼠标都不流畅

[2016-07-20 12:02] anxingle opened #2782 "compile mxnet with Cuda7.5"
I install cuda in /usr/local/cuda-7.5, and run ./deviceQuery pass;edit ~/.bashrc   like this:
export LD_LIBRARY_PATH = "$LD_LIBRARY_PATH:/home/a/warp-ctc/build:/usr/local/cuda-7.5/lib64"
export PATH=/usr/local/cuda-7.5/bin:/home/a/anaconda2/bin:$PATH
and edit config.mk:
USE_CUDA=1
USE_CUDA_PATH=/usr/local/cuda-7.5
USE_BLAS=openblas
### But Terminal show the message:

g++ -std=c++11 -DMSHADOW_FORCE

[2016-07-20 12:03] MrPig commented on #2779
另外，我刚刚尝试clone最新版本的mxnet，发现编译还出错了，下面是错误信息
[code]

[2016-07-20 12:06] anxingle commented on #2782
mxnet could install through  binary package like tensorflow: pip install --upgrade $TF_BINARY_URL or pip install mxnet.whl.  Install will be much more easy.

[2016-07-20 12:10] sxjscience commented on #2782
@anxingle The make should be fine. Maybe you are not running make under the MXNet directory?

[2016-07-20 12:13] sxjscience commented on #2779
@MrPig Which CuDNN version are you using?

[2016-07-20 12:15] MrPig commented on #2779
libcudnn.so
libcudnn.so.7.0
libcudnn.so.7.0.58
libcudnn_static.a

[2016-07-20 12:28] starimpact commented on #2779
最新的MXNET不支持CUDNNV3.你可以用老的v0.7.0

[2016-07-20 12:30] starimpact commented on #2779
CPU和内存都没占满的情况下还能造成卡死，这个比较奇怪。

[2016-07-20 12:33] anxingle commented on #2782
@sxjscience    Thank you. I run make in mxnet.  and I can run (compile ) mxnet in cpu model.

[2016-07-20 12:33] MrPig commented on #2779
@starimpact 最新的mxnet只支持cudnn v2么？ 我也很奇怪啊，卡的鼠标移动不流畅，说明是显存上的问题，所以我怀疑是不是mxnet里面的卷积操作有问题

[2016-07-20 12:39] starimpact commented on #2779
mxnet也不支持V2， libcudnn.7.0实际上是v3, 最新的MXNET只支持V4以上的CUDNN。

[2016-07-20 12:56] Bomme opened #2783 "missing script in example bi-lstm-sort"
The [example on bidirectional LSTM](https://github.com/dmlc/mxnet/tree/master/example/bi-lstm-sort) misses the gen_data.py script that is referenced in the ReadMe
Maybe it did not get committed due to gitignore rules?
@xlvector do you still have the script lying around?

[2016-07-20 13:30] MrPig commented on #2779
@starimpact 刚才重新换了cudnn v4， 发现编译通过了，并且我上面的问题也解决了，现在可以运行了，不会卡了，看来是cudnn的问题，非常感谢回答

[2016-07-20 13:30] #2779 closed

[2016-07-20 13:44] tmatas commented on #2266
@qiaohaijun I recently had an issue about using a model with two outputs.
Are there any plans to extend the python framework to MIMO systems?

[2016-07-20 13:46] sbodenstein commented on #2401
@sxjscience @antinucleon: I've finished this, and doing some testing against cudnn.torch now. Should have a pull request later today once I'm happy that everything is correct.

Can discuss some of the outstanding design questions in the PR.

[2016-07-20 13:48] sxjscience commented on #2401
@sbodenstein Thanks very much for your work!

[2016-07-20 14:02] sinmaystar opened #2784 "How can I add CNN layer to example warpctc/lstm_ocr.py"
I think only use lstm and ctc to solve ocr problem is not enough, when the captcha have some rotate or  twist, it wont recognize success, lstm does not have rotational invariance, if we add CNN layer before lstm, we can extract captcha features and use these features as lstm's input so that captcha's rotate wont effect accuracy, but I have study this code several days and tried many times, but sti

[2016-07-20 14:47] antinucleon commented on #2401
Awesome, will check it in morning
On Wed, Jul 20, 2016 at 06:48 Xingjian Shi <notifications@github.com> wrote:

--
Sent from mobile phone

[2016-07-20 16:29] dianyancao commented on #2783
I have the same problem,waiting for solution.

[2016-07-20 17:00] Godricly commented on #2302
@vchuravy I have a updated Dtype pooling [branch](https://github.com/Godricly/mxnet/tree/DTypePooling) based on your work. Can you double check this one and submit a pr? My fork of MxNet is kind of messy now.

[2016-07-20 18:09] dianyancao commented on #2783
I am learning create grid-lstm layer by mxnet,this example helps lot with lstm bucketing.
I use following python code in './data/gen_data.py' to generate random numbers in [100,999],is it a right way to prepare the data and auto create labels by BucketSentenceIter.__iter__?
[code]

[2016-07-20 19:08] piiswrong commented on #2781
If you create your own threads you have to handle cuda context yourself. Otherwise cuda will use the default context. The engine usually handles all threading. Instead of creating threads try pushing op to the engine

[2016-07-20 19:11] piiswrong commented on #2778
Running two GPU program on the same GPU is usually a bad idea.
TF explicitly bans. MXNet allows it so that it doesn't crash other program but you shouldn't run two mxnet on the same GPU nontheless

[2016-07-20 19:12] piiswrong commented on #2776
Dropout is turned off for prediction. The layer is there but it doesn't function

[2016-07-20 19:13] piiswrong commented on #2775
You mean convolution without weight sharing? No

[2016-07-20 21:44] antinucleon commented on #2401
Thank you @sbodenstein !
Let's discuss after you create PR.

[2016-07-20 22:20] sbodenstein commented on #2401
@antinucleon: the forward pass in inference mode is consistent with Torch. But I'm having problems with the backward pass. Particularly, problems are caused by the dropout descriptor, which requires a permanent state attached at initialization (see cudnnSetDropoutDescriptor), and according to the docs, "No other function should be writing to the memory pointed at by states argument while this func

[2016-07-20 22:37] MikeHuYimin commented on #2773
I guess is I figure out the problem: the network itself is not capable of predict so much output at a time.

[2016-07-20 22:37] #2773 closed

[2016-07-20 22:42] gaofeng21cn opened #2785 "How to get the internal layers in R?"
I read many threads which said I should follow this to get the internal layers in mxnet.
https://github.com/dmlc/mxnet/blob/master/example/notebooks/predict-with-pretrained-model.ipynb

But in the R implementation of mxnet, I am stucked at the step after
internals <- model$symbol$get.internals()

I could not find function which extracts symbol of the specific internal layer using similiar gramma.

[2016-07-20 22:43] piiswrong commented on #2401
@sbodenstein Put it in an additional invisible output. See batchnorm for example. Could you open a PR first to make discussion easier?

[2016-07-21 00:28] ascust commented on #2714
but why cpu mode is way faster? @piiswrong

[2016-07-21 00:44] piiswrong commented on #2714
Because cpu doesn't need to launch gpu kernels

[2016-07-21 01:26] #2775 closed

[2016-07-21 01:27] StuJia commented on #2775
@piiswrong Got it.

[2016-07-21 01:30] magic282 commented on #2778
I see. Thank you for the reply.

[2016-07-21 01:30] #2778 closed

[2016-07-21 01:42] albertyou2 commented on #2776
@piiswrong  Great!Thanks

[2016-07-21 01:42] #2776 closed

[2016-07-21 02:00] sinmaystar opened #2786 "mac osx run warpctc/lstm_ocr.py error"
I have install baidu warp-ctc and rebuild mxnet but it occurs an error
AttributeError: 'module' object has no attribute 'WarpCTC'
how can I solve this problem?

[2016-07-21 02:09] starimpact commented on #2781
Can you tell me how to solve it step by step?

[2016-07-21 02:15] sinmaystar commented on #2696
I have installed baidu warp-ctc and do as your readme introduction to rebuild mxnet but when I run lstm_ocr.py it occurs an error, module object has no attribute 'WarpCTC'how can I solve this problem, I run on Mac OS X 
            在2016年07月19日 15:28，Xiang Liang 写道:@arestorres The bug is between L149 and L161 in https://github.com/dmlc/mxnet/blob/master/plugin/warpctc/warpctc-inl.h#L149

Here, if

[2016-07-21 02:48] luoruisichuan opened #2787 "arguments in im2rec.py"
in the script of im2rec.py, there is sentence
 'cgroup.add_argument('--chunks', type=int, default=1, help='number of chunks.')  '
 what is the function of 'chunks' ?

@piiswrong

thanks for your help very much.

[2016-07-21 02:56] starimpact commented on #2781
using cudaSetDevice in eatch thread can sovle it.
oh, my god.
haha.....

[2016-07-21 03:27] albertyou2 commented on #2776
@piiswrong thanks !

[2016-07-21 03:34] ascust commented on #2714
Thanks, that kind of makes sense.

[2016-07-21 03:34] #2714 closed

[2016-07-21 03:45] George19890617 opened #2788 "Using target_shape will be deprecated"
I got the exception as the issue title when I run char-rnn.py

2016-07-21 11:33:19 (47.6 KB/s) - 已保存 “lab_data.zip” [22078106/22078106])

Archive:  lab_data.zip
  inflating: obama.txt
  inflating: obama-0075.params
  inflating: obama-symbol.json
Summary of dataset ==================
bucket of len 129 : 8290 samples
[11:33:20] /data2/rd/George_Xia/mxnet/src/operator/./reshape-inl.h:249: Using targe

[2016-07-21 04:00] #2781 closed

[2016-07-21 04:09] sxjscience commented on #2401
@sbodenstein @piiswrong @antinucleon I suggest wrapping RNN in the script language. We can write a stand-alone CuDNNRNN operator (only calls the rnn API in cuDNN) and build another python class to call this operator together with other operators like dropout. To decide whether to use CuDNNRNN, we can call an API function that determines the compiled cudnn version.

[2016-07-21 04:13] sxjscience commented on #2788
@George19890617 Use `shape` instead of `target_shape`

[2016-07-21 05:39] liuzhi136 commented on #2620
@horserma Have you solve your problem with SliceChannel? I also meet the same problem just like you.

[2016-07-21 05:39] sinmaystar commented on #2696
@xlvector I have installed baidu warp-ctc and do as your readme introduction to rebuild mxnet but when I run lstm_ocr.py it occurs an error, module object has no attribute 'WarpCTC' how can I solve this problem, I run on Mac OS X

[2016-07-21 05:45] horserma commented on #2620
@liuzhi136 which one do you mean, to be more precise?

[2016-07-21 05:48] liuzhi136 opened #2789 "SliceChannel problem"
I'm trying to use SliceChannel to split the data Variable and get SliceChannel's output.
That's what I did:

import mxnet as mx
import numpy as np

data_sym1 = mx.symbol.Variable('data1')
data_sym2 = mx.symbol.Variable('data2')
data_sym3 = data_sym1 + data_sym2

data3_slice = mx.symbol.SliceChannel(data = data_sym3, num_outputs=5)

data1 = mx.nd.array([1,2,3,4,5])
data2 = mx.nd.array([1,2,3,4,6])

[2016-07-21 05:56] sxjscience commented on #2789
@liuzhi136 You need to set the `axis`, which is 1 by default. Change the line to
[code]

[2016-07-21 06:05] liuzhi136 commented on #2789
@sxjscience Thanks for your reply. I just try it. It does make sense. When I print the result, I always get only one output. Now I realize there are five outputs in the exe.outputs. So exe.outputs[0] is one result. Thanks a lot!

[2016-07-21 06:06] #2789 closed

[2016-07-21 06:11] liuzhi136 commented on #2789
@sxjscience Do you know the meaning about squeeze_axis parameter? I realy do not understand the explaination of it  in the doc page.

[2016-07-21 06:16] sxjscience commented on #2789
@liuzhi136 Suppose you have a tensor with shape (3, 10, 5). If you slice it using `SliceChannel(data, num_outputs=10, squeeze_axis=True)`, you can get ten (3, 5) tensors. If `squeeze_axis=False`, you will get ten (3, 1, 5) tensors.

[2016-07-21 06:26] liuzhi136 commented on #2789
@sxjscience  I get it. Thank you so much! This parameter just form data into concise way, right?

[2016-07-21 06:52] sxjscience commented on #2789
@liuzhi136 Yes. It can be useful in slicing the time-series data used in RNN.

[2016-07-21 07:10] #2761 closed

[2016-07-21 08:26] anthony-han opened #2792 "Cannot run C++ example on Win7."
Hi everyone,

I cannot run the C++ example on Win7. There is no error during compilation. When running the program, it cannot enter the main function. However, the same program can run pretty well on Win10. Can anyone help?

Tony

[2016-07-21 08:41] sinmaystar commented on #2514
@everal I have met the same problem with you, did u solve this problem ? and how to solve this problem? thanks many!

[2016-07-21 08:45] sinmaystar commented on #2514
@shuokay when I run lstm_ocr.py it occurs the same problem with @everal , I have installed baidu warp-ctc and rebuild mxnet then I have uninstalled mxnet by pip uninstall, after that I have reinstall python package but it still the same problem, did u know how to solve this problem?

[2016-07-21 09:10] lyf6 commented on #1084
Hi, song, I'm a PHD student from WHU. could I get the code resource of this paper? My email is 247820289@qq.com

[2016-07-21 09:32] lofrank commented on #1280
And please also expose Accuracy info in epoch_end_callback, so we can save model only when accuracy gains.

[2016-07-21 10:49] liumilan commented on #2669
it still cost so much time when adding tranining metric
I used dis-sync mode ,not dist-async,so it has to cost much time because it need to waiting for?
@piiswrong

[2016-07-21 13:07] cjfan commented on #2770
with the following code:
[code]
it will raise an error:
[code]

[2016-07-21 15:07] luoruisichuan opened #2796 "problem of the version of im2rec.py"
when I use im2rec.py to create REC file, if I use the 20160202 version of im2rec.py, the command is
'D:\test>python im2rec.py d:/test/train2 d:/test/train/ '
it is OK, ' d:/test/train2' is the prefix of lst file,  and  'd:/test/train2.lst' and 'd:/test/train/' is the path of image files.

but if I use the 20160531 version of im2rec.py, the command is also
'D:\test>python im2rec.py d:/test/train2 d

[2016-07-21 16:48] anxingle commented on #2470
my  BATCH_SIZE is 320 and run the example on GTX980ti . Speed is about 410 samples/sec and after epoch0,train-accuracy = 0.37 .
@sinmaystar     Have U edit the contexts = [mx.context.cpu()]  ? Or maybe you should compile on CPU model.

[2016-07-21 18:33] piiswrong commented on #2787
It means split the data into n parts

[2016-07-21 19:06] kkunn opened #2799 "An error about train_mnist.py example on Mac"
[code]

看不懂…… what should I do.....

[2016-07-21 19:11] #2799 closed

[2016-07-21 21:25] dianyancao opened #2800 "How to add BatchNorm to lstm bucketing?"
I try add BatchNorm to the lstm.py in 'example/rnn' by modifying following code in lstm function
```gates = i2h + h2h```
to
[code]

Then I run the lstm_bucketing.py,got the following error:
[code]
How should I make BatchNorm work with bucketing?
Regard for your reply.

[2016-07-21 21:30] piiswrong commented on #2800
@tqchen Can you make aux support variable input?

[2016-07-21 22:29] antinucleon commented on #1084
I think it is straightforward if you want to reproduce it, code is not
necessary, and it is an independent plugin tool.
On Thu, Jul 21, 2016 at 02:11 lyf6 <notifications@github.com> wrote:

--
Sent from mobile phone

[2016-07-21 22:33] antinucleon commented on #2775
Seems it is a simple op. You can modify convolution implementation to do
that
On Wed, Jul 20, 2016 at 18:27 Jia Zheng <notifications@github.com> wrote:

--
Sent from mobile phone

[2016-07-22 01:43] StuJia commented on #2799
wget，下载mnist的dataset吧，wget是linux下的指令吧

[2016-07-22 01:44] tqchen commented on #2800
I think this need to come with our next round of refactor. For temp solution, we can bind multiple aux to the same ndarray

[2016-07-22 02:54] rightwaitforyou opened #2801 "python numpy [:,:,] to scala NDArray"
in python
    boxes = np.reshape(output[1078:],(7,7,2,4))
   boxes[:,:,:,0] += offset
   boxes[:,:,:,1] += np.transpose(offset,(1,0,2))
   boxes[:,:,:,0:2] = boxes[:,:,:,0:2] / 7.0
   boxes[:,:,:,2] = np.multiply(boxes[:,:,:,2],boxes[:,:,:,2])
  boxes[:,:,:,3] = np.multiply(boxes[:,:,:,3],boxes[:,:,:,3])

How to convert the scala NDArray code ?
     the  boxes[:,:,:,0]  the NDArray scala not provi

[2016-07-22 02:55] rightwaitforyou commented on #2801
@tqchen @Ldpe2G

[2016-07-22 03:36] tornadomeet commented on #2771
@pluskid  refer to #337

[2016-07-22 04:17] luoruisichuan commented on #2787
what is the intention of spliting the data into n parts? can you give a example of spliting the data?
thank you.

[2016-07-22 04:17] luoruisichuan commented on #2787
what is the intention of spliting the data into n parts? can you give a example of spliting the data?
thank you.

[2016-07-22 04:17] luoruisichuan commented on #2787
what is the intention of spliting the data into n parts? can you give a example of spliting the data?
thank you.

[2016-07-22 04:17] luoruisichuan commented on #2787
what is the intention of spliting the data into n parts? can you give a example of spliting the data?
thank you.

[2016-07-22 04:17] luoruisichuan commented on #2787
what is the intention of spliting the data into n parts? can you give a example of spliting the data?
thank you.

[2016-07-22 04:17] luoruisichuan commented on #2787
what is the intention of spliting the data into n parts? can you give a example of spliting the data?
thank you.

[2016-07-22 05:22] zmonoid commented on #2719
@sxjscience The reason is that, most of samples have **ZERO** reward, which will bring down the gradient to zeros once it fits the zero reward transitions.

May I know how did you resolve such problems? Could I have a look at your project of DQN with MXNET?

[2016-07-22 05:26] sxjscience commented on #2719
@zmonoid Let's communicate offline for this. Do you have an email?

[2016-07-22 05:28] rightwaitforyou commented on #2801
@piiswrong

[2016-07-22 05:55] zmonoid commented on #2719
@sxjscience Thanks for your prompt reply, I have emailed you just now~

[2016-07-22 05:58] liuzhi136 opened #2803 "change Reshape'parameter target_shape to shape raise an error"
When I try to change Reshape'parameter target_shape which not be supposed to shape, I get an error like below:
C:\Users\zliu\Desktop\rnn\lstm\test>python char_rnn.py
Summary of dataset ==================
bucket of len 129 : 8290 samples
C:\Users\zliu\Desktop\rnn\lstm\test\bucket_io.py:206: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the fu

[2016-07-22 06:10] liuzhi136 commented on #2803
@pluskid @thinxer I just replace the code (1) with (2)
(1)
 label = mx.symbol.transpose(data=label)
 label = mx.symbol.Reshape(data=label, target_shape=(0,))
(2)
    label_slice = mx.symbol.SliceChannel(data=label, num_outputs=seq_len)
    label = [label_slice[t] for t in range(seq_len)]
    label = mx.symbol.Concat(*label, dim=0)
    label = mx.symbol.Reshape(data=label, shape=(0,))
This error ju

[2016-07-22 06:18] sxjscience commented on #2803
@liuzhi136 You need to use shape=(-1,)

[2016-07-22 06:27] liuzhi136 commented on #2803
@sxjscience Code (1) used to make the similar form to the pred. Is that right? If it's right and I have read the doc page's explaination for default value 0. It seems like that:
"shape (, optional, default=()) – Target new shape. If the dim is same, set it to 0. If the dim is set to be -1, it will be inferred from the rest of dims. One and only one dim can be -1".
I think the result of code (1) wi

[2016-07-22 07:30] liuzhi136 commented on #2803
@sxjscience Unfortunately, I use shape=(-1,) and it's still not working. Do you have other solution for me? Thanks a lot for any reply.

[2016-07-22 08:40] sxjscience commented on #1810
@jonasrla @tmatas It seems that we can combine Relu activation and MakeLoss to get the hinge loss. max(0, 1 - ty) can be written as relu(1 - ty). And we can put a mx.sym.MakeLoss after the activation.

[2016-07-22 08:57] luoruisichuan opened #2804 "what's the relation between mutiple convolution operations in modul InceptionFactoryA"
@ antinucleon
mxnet/cifar-100.ipynb at master · dmlc/mxnet  https://github.com/dmlc/mxnet/blob/master/example/notebooks/cifar-100.ipynb

in the script, there is following,
'  def ConvFactory(data, num_filter, kernel, stride=(1,1), pad=(0, 0), name=None, suffix=''):
    conv = mx.symbol.Convolution(data=data, num_filter=num_filter, kernel=kernel, stride=stride, pad=pad, name='conv_%s%s' %(name, suf

[2016-07-22 09:00] liuzhi136 opened #2805 "I get extremely large training perplexity"
I clone the lastest version from the github and follow the char-rnn.ipynb'step. But I get a very large training perplexity as same as below and it seems that each batch mini-batch's Train-Perplexity is the same value. Why?!

Summary of dataset ==================
bucket of len 129 : 8290 samples
mxnet-20160531-lastet\example\rnn\bucket_io.py:184: VisibleDeprecationWarning: using a non-integer numbe

[2016-07-22 09:01] sxjscience commented on #2805
@liuzhi136 You can try to run the lstm_bucketing exmple

[2016-07-22 09:15] ProgramCaiCai commented on #1524
no progress at all?

[2016-07-22 09:21] liuzhi136 commented on #2805
@sxjscience It still very large.
2016-07-22 17:20:10,289 Epoch[0] Batch [50]     Speed: 266.81 samples/sec       Train-Perplexity=9999999999.999542
2016-07-22 17:20:14,221 Epoch[0] Batch [100]    Speed: 407.02 samples/sec       Train-Perplexity=9999999999.998825
2016-07-22 17:20:19,001 Epoch[0] Batch [150]    Speed: 334.79 samples/sec       Train-Perplexity=9999999999.999622
2016-07-22 17:20:23,41

[2016-07-22 09:25] sxjscience commented on #2805
@liuzhi136 I've just tried and the result is reasonable. Are you using the latest MXNet version?

[2016-07-22 09:27] sxjscience commented on #2803
@liuzhi136 I've changed https://github.com/dmlc/mxnet/blob/master/example/rnn/lstm.py#L103 to `shape=(-1,)` and it runs well.

[2016-07-22 09:29] liuzhi136 commented on #2805
@sxjscience Yes, at first I didn't use the lastest version. Then, I get this problem, I download the lastest version and perform the code. It still happen. Could I have your weChat ID or other communication number? I want to talk to you directly.

[2016-07-22 09:31] sxjscience commented on #2805
@liuzhi136 You can first try the image classification examples and see whether they work or not.

[2016-07-22 09:33] liuzhi136 commented on #2805
@sxjscience I have tried the MNIST example and other image CNN examples. They worked very well. This problem just occur when I run the lstm'code.

[2016-07-22 09:40] sxjscience commented on #1524
@ProgramCaiCai I've tried for supporting sparsity in MShadow. We may need two key functions. `csrmm` and `csr2csc` (Refer to http://docs.nvidia.com/cuda/cusparse/#cusparse-lt-t-gt-csrmm and http://docs.nvidia.com/cuda/cusparse/#cusparse-lt-t-gt-csr2csc). However, I meet some problems when I try to directly call the cuSparse APIs since the sparse matrix stored there is row-major while the dense mat

[2016-07-22 09:43] sxjscience commented on #2805
@liuzhi136 We can communicate via email first.

[2016-07-22 09:49] liuzhi136 commented on #2805
@sxjscience liuzhi7936@sina.cn this is my email. Thank you so much for help me a lot. You are so kind. I'm thinking a problem. I download the version is pre-built version in win7. How's your version? Do you build it by yourself and set envrionment manually?

[2016-07-22 09:55] liumilan opened #2806 "why the accuary is worse when trainning on 3 nodes"
The same data,the same parameter,the same dist-sync mode
and is it resonable that accuarate is worse 10% than training on 1 node.

[2016-07-22 09:57] sxjscience commented on #2805
@liuzhi136 I'm usinh win10 and I've built from source. You can try building from the latest Github source first.

[2016-07-22 10:29] #2788 closed

[2016-07-22 11:14] antinucleon commented on #2806
Because more nodes runs on larger batch. You need to turn learning rate and
momentum for distributed instead of using single machine conf.
On Fri, Jul 22, 2016 at 02:55 liumilan <notifications@github.com> wrote:

--
Sent from mobile phone

[2016-07-22 11:16] antinucleon commented on #2804
Yes. Please refer to Inception network paper.
On Fri, Jul 22, 2016 at 01:57 luoruisichuan <notifications@github.com>
wrote:

--
Sent from mobile phone

[2016-07-22 12:27] luoruisichuan commented on #2804
I read the script again. Perhaps the key is the following command
'concat = mx.symbol.Concat(*[c1x1, c3x3, cd3x3, cproj], name='ch_concat_%s_chconcat' % name)'
this command means that 'c1x1, c3x3, cd3x3, cproj' is excute in turn? just as the pipline.
the help information of 'mx.symbol.Concat' is too simple,  can you provide some information about  'mx.symbol.Concat' ?
I'll very appriciate it.
than

[2016-07-22 12:54] liumilan commented on #2806
I reduce batchsize to batchsize/3,and it is still worse.
So i have to change learning rate and momentum?
@antinucleon

[2016-07-22 14:23] fansgit opened #2807 "make distribute mxnet"
Can we add `make distribute` to collect nothing but all the headers, binaries and wrappers to ease further distribution?

[2016-07-22 15:46] thirdwing commented on #2792
@hjk41

[2016-07-22 17:53] dianyancao commented on #2800
I modify some code in function _bind_exec,load_data_batch in 'executor_manager.py' to get it work.
The next how to tie the BatchNorm parameters gamma,beta and auxiliary mean,var variables?
The following code does not work.
[](https://github.com/dianyancao/mxnet/blob/master/example/rnn/lstm_bucketing.py)

[2016-07-22 17:59] dianyancao commented on #2800
I modify some code in function load_data_batch,_bind_exec in file 'python/mxnet/executor_manager.py' to get it works.
The next is how to tie the BatchNorm parameters gamma,beta and auxiliary states mean,var?
The following code does not work.
https://github.com/dianyancao/mxnet/blob/master/example/rnn/lstm_bucketing.py

[2016-07-22 18:19] dianyancao commented on #2800
I modify some code in function load_data_batch,_bind_exec in file 'python/mxnet/executor_manager.py' to get it works.
 The next is how to tie the BatchNorm parameters gamma,beta and auxiliary states mean,var to make use same BatchNorm parameters at every time step?
 The following code does not work.
https://github.com/dianyancao/mxnet/blob/master/example/rnn/lstm_bucketing.py

[2016-07-22 18:20] dianyancao commented on #2800
I modify some code in function load_data_batch,_bind_exec in file 'python/mxnet/executor_manager.py' to get it works.
 The next is how to tie the BatchNorm parameters gamma,beta and auxiliary states mean,var to make use the same BatchNorm parameters at each time step?
 The following code does not work.
https://github.com/dianyancao/mxnet/blob/master/example/rnn/lstm_bucketing.py

[2016-07-22 18:28] dianyancao commented on #2800
I modify some code in function load_data_batch,_bind_exec in file 'python/mxnet/executor_manager.py' to get it works.
 The next is how to tie the BatchNorm parameters gamma,beta and auxiliary states mean,var to make use the same BatchNorm parameters at each time step?
The following code does not work,I print out the BatchNorm parameters and states,but it is not to be tied
https://github.com/dianya

[2016-07-22 23:50] Ldpe2G commented on #2801
@rightwaitforyou In my opinion, suppose boxes is the scala NDArray object, then I will use boxes.toArray
to get the data, for examle boxesArray, then I can do all the operation on this array, finally just do
boxes.set(boxesArray).

[2016-07-23 03:05] tornadomeet commented on #2796
you can use the newest version

[2016-07-23 03:36] #1193 closed

[2016-07-23 03:51] windywinter opened #2808 "Amalgamation Failed to Build"
Android NDK version 11c. Followed README. Error messages are:
[code]

[2016-07-23 03:53] windywinter commented on #2808
Ignore this error and continue to build gives
[code]

[2016-07-23 04:01] luoruisichuan opened #2809 "search for python API document"
sorry for the primitive question.
for some functions or methods of mxnet,   I cannot find its information on 'MXNet Python Package — mxnet 0.7.0 documentation  http://mxnet.readthedocs.io/en/latest/packages/python/index.html',
 for instance,
in command  'arg_shape, out_shape, aux_shape = net.infer_shape(data=(100, 100))'
the method  ' infer_shape(self, *args, **kwargs)'

where can I get the comple

[2016-07-23 04:48] windywinter commented on #2808
After manually removed all includes involved in the previous README (https://github.com/dmlc/mxnet/blob/7773549f5a96eb844d34a3c7814610d4ca26c994/amalgamation/README.md). Another type of error emerged. The immediate one is:
[code]

[2016-07-23 10:01] dianyancao opened #2810 "MXNet throw 'vector iterator not dereferencable' error in DEBUG version"
When I try to debug MXNet with lstm bucketing example(and I tested some others) by vs2013,
MXNet throw 'vector iterator not dereferencable' error in DEBUG version,
but it does not occur in RELEASE version.
The error is from function
'GraphExecutor::CachedSegOpr GraphExecutor::CreateCachedSegOpr' at 1086 line
I use the test code at this link:
https://github.com/dianyancao/mxnet/blob/master/example/

[2016-07-23 10:36] TimLindgren opened #2811 "where can i find rbm example by mxnet?"
hi guys,
where can i find rbm example by mxnet.
thanks

[2016-07-23 11:53] dianyancao commented on #2800
I have exposed BatchNorm auxiliary states(moving_mean,moving_var) to parameters and add 'layer normalization':https://arxiv.org/abs/1607.06450
Now I can use BatchNorm in lstm bucketing.Thanks

[2016-07-23 12:03] sxjscience commented on #2800
@dianyancao Sounds great! You are more than welcome to PR an example if you have time.

[2016-07-23 12:05] TimLindgren commented on #2811
is there the implementation of DBN or RBM?

[2016-07-23 12:17] sxjscience commented on #2811
@TimLindgren Currently there is no such example. You can contribute one. (The Theano implementation may be helpful http://deeplearning.net/tutorial/rbm.html#sampling-in-an-rbm)

[2016-07-23 13:02] #2644 closed

[2016-07-23 13:06] precedenceguo commented on #2694
Bind will issue this error when arguments are missing. Try listing `arg_params.keys()` and see if anything is missing. We uploaded a new demo for faster rcnn with a pretrained model. You are welcome to check that out.

[2016-07-23 13:10] #2809 closed

[2016-07-23 15:23] yajiedesign opened #2813 "windows pre build update everyday"
I am build some update in https://github.com/yajiedesign/mxnet/releases everyday
Running 2 months to work well, and now open to everyone.

[2016-07-23 15:33] sxjscience commented on #2800
@dianyancao If you have installed the package using `python setup.py install` instead of `python setup.py develop`, you may need to install it again.

[2016-07-23 18:45] piiswrong commented on #2813
Thanks a lot! This should be very helpful for windows users. @hjk41 Any idea how to merge this to main repo?

@yajiedesign Is the build based on your fork or dmlc:master everyday?

[2016-07-23 18:46] piiswrong commented on #2810
@tqchen

[2016-07-23 18:48] piiswrong commented on #2807
That could be useful. Would you like to do it?

[2016-07-23 19:09] dianyancao commented on #2800
@sxjscience,I am new to MXNet,I modify BatchNorm auxiliary states to parameters,it seems to be bad idea.Now I test layer normalization with use_global_stats==true in training phase use 'test_operator.py'.
I don't know how to bind multiple BatchNorm auxiliary states and parameters to same ndarrays.So I use the bad idea above.Waiting for dmlc members to solve BatchNorm in Lstm...

[2016-07-23 19:27] dianyancao commented on #2800
@sxjscience@piiswrong@tqchen ,I am new to MXNet,I modify BatchNorm auxiliary states to parameters,it seems to be bad idea.Now I test layer normalization with use_global_stats==true in training phase use 'test_operator.py'.
 I don't know how to bind multiple BatchNorm auxiliary states and parameters to same ndarrays.So I use the bad idea above.Waiting for dmlc members to solve BatchNorm in Lstm...

[2016-07-23 22:24] windywinter commented on #2808
I figured that probing '/usr/' in file path is not the correct way to excluding system headers, so I changed line 40 of the amalgamation.py to the prefix of my android toolchain. Now it generates a much smaller mxnet_predict-all.cc which does not contain STL sources. After manually removed all includes involved in the previous README, it gives a really wired error:
[code]
However, I'm sure it is b

[2016-07-23 23:01] windywinter commented on #2808
Issue resolved by further excluding OpenBLAS headers (in line 40 of amalgamation.py). Still need a elegant solution though.

[2016-07-24 02:15] yajiedesign commented on #2813
yes

[2016-07-24 02:21] albertyou2 commented on #2813
Very nice!

[2016-07-24 02:46] #2770 closed

[2016-07-24 03:29] albertyou2 opened #2815 "About Distribute training data path (without distribute file system)(chinese,english)"
@mli @piiswrong

我有两台电脑，一台是MACPRO一台是PC 使用WINDOWS10系统
两台机器都在同一个局域网并且SSH可连通
I have to computers the one is mac book pro the other is PC(windows10)
They are both in one local network.And they can communicate with each other by ssh.

我MAC上做了测试如下命令可以运行单机版的分布式训练
I can run distribute training on each computer separately by using this command:

python /Users/zuekiWork/Documents/mxnet/tools/launch.py -n 1

[2016-07-24 06:10] #2808 closed

[2016-07-24 07:15] winstywang commented on #2771
Will do that later, bot possibly not now.

[2016-07-24 07:56] taoari opened #2817 "monitor does not show outputs and gradients info"
For example, I am using pattern ".*" for the MNIST mlp example, I am getting the following results:

[code]

How can I monitor for the gradients and outputs (e.g. `fc1_backward_weight`, `fc1_output`)?

[2016-07-24 09:08] stevenhanjun opened #2818 "import mxnet error"
When I use mxnet to write code with python, it gives me this error.
![3a46b304-89c2-45ac-88f4-816aa1f8b0cf](https://cloud.githubusercontent.com/assets/4454187/17082913/e07eb82a-51c0-11e6-88cb-3ef38b8498e4.png)

and I have write 'export PYTHONPATH=~/mxnet/python' in .bash_profile. I don't know how to solve this problem?
![c89aad79-45df-4335-8019-4177acda3df4](https://cloud.githubusercontent.com/ass

[2016-07-24 10:13] luoruisichuan opened #2819 "about the using of mx.symbol.Concat"
in the script of 'mxnet/cifar10-recipe.ipynb at master · dmlc/mxnet  https://github.com/dmlc/mxnet/blob/master/example/notebooks/cifar10-recipe.ipynb',
there is the function as following,
# A Simple Downsampling Factory

def DownsampleFactory(data, ch_3x3):
    # conv 3x3
    conv = ConvFactory(data=data, kernel=(3, 3), stride=(2, 2), num_filter=ch_3x3, pad=(1, 1))
    # pool
    pool = mx.symbol.

[2016-07-24 11:07] anxingle opened #2820 "Error on Python Document"
In this page [Python tutorial](http://mxnet.readthedocs.io/en/latest/packages/python/tutorial.html), we can see:
'''
We can also construct a symbol in a more flexible way than the single forward composition exemplified above.

But in my ipython notebook ,it shows: ['data2', 'net2_weight', 'net2_bias', 'fc1_weight', 'fc1_bias'].   Hope you can revise it ( and other small tiny errors ).

[2016-07-24 12:56] luoruisichuan commented on #2620
I follow the script on
'https://github.com/dmlc/mxnet/blob/master/example/notebooks/cifar10-recipe.ipynb'
and input command 'mx.viz.plot_network(symbol=softmax,node_attrs={'shape':'oval','fixedsize':'false'}) '
and then get the error as following
'In [3]: mx.viz.plot_network(symbol=softmax,node_attrs={'shape':'oval','fixedsize
':'false'})
-----------------------------------------------------------

[2016-07-24 13:07] pjpan opened #2821 "mac os install Mxnet error:symbol(s) not found for architecture x86_64"
while command : make -j8，report error;
Undefined symbols for architecture x86_64:
  "cv::imencode(std::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, cv::_InputArray const&, std::vector<unsigned char, std::allocator<unsigned char> >&, std::vector<int, std::allocator<int> > const&)", referenced from:
      _main in ccvZTcls.o
ld: symbol(s) not found for architecture x86_6

[2016-07-24 13:13] Ldpe2G commented on #2783
I have asked xlvector before, here is the code:

import random

vocab = [str(x) for x in range(100, 1000)]

sw_train = open("sort.train.txt", "w")
sw_test = open("sort.test.txt", "w")
sw_valid = open("sort.valid.txt", "w")

for i in range(1000000):
    seq = " ".join([vocab[random.randint(0, len(vocab) - 1)] for j in range(5)])
    k = i % 50
    if k == 0:
        sw_test.write(seq + "\n")
    el

[2016-07-24 13:32] wangg12 commented on #2819
@luoruisichuan This function is not written by me, so I can only share some ideas of mine. Convolution with stride > 1 can do downsample and max pooling can also do downsample. If you just put the max pooling after the conv, the size of feature maps will decrease more faster.

If you take a look into the [paper](http://www.cs.unc.edu/~wliu/papers/GoogLeNet.pdf) where GoogLeNet was proposed and loo

[2016-07-24 13:56] luoruisichuan commented on #2819
sorry,  I didnot expressed my problem correctly.
My question is what is the difference between the two function--DownsampleFactory and DownsampleFactory1?  one uses  'mx.symbol.Concat' , and the other not.
thanks .

[2016-07-24 14:06] wangg12 commented on #2819
I think I've explained this above.

[2016-07-24 14:24] luoruisichuan commented on #2819
thanks for your help very much.

[2016-07-24 14:59] xlvector commented on #2783
Thanks!

[2016-07-24 21:43] piiswrong commented on #2817
update to newest master. This should have been fixed

[2016-07-24 21:45] piiswrong commented on #2818
your mxnet is not built correctly

[2016-07-24 23:35] dianyancao opened #2823 "UpSampling operator throw error:deconvolution-inl.h:75: Check failed: (pad_y) >= (target_shape[0]) too big target shape"
I am using UpSampling operator for image segmentation,but got this error when I add UpSampling operator:
/deconvolution-inl.h:75: Check failed: (pad_y) >= (target_shape[0]) too big target shape
The following is test code:

[code]

How to fix this error?(The mxnet DEBUG version I can't use for debug due to this error:
https://github.com/dmlc/mxnet/issues/2810)

[2016-07-25 00:35] tornadomeet commented on #2820
@anxingle yes, you are right, the same here. you can give a PR for this, file is https://github.com/dmlc/mxnet/blob/master/docs/packages/python/tutorial.md

[2016-07-25 00:38] tornadomeet commented on #2819
@luoruisichuan in your DownsampleFactory, the down sampling scale is 2, but in your DownsampleFactory1, the down sampling scale is 4

[2016-07-25 01:32] hjk41 commented on #2792
Are you using pre-compiled libmxnet.dll or did you compile it on your own?

On Fri, Jul 22, 2016 at 11:46 PM, Qiang Kou (KK) <notifications@github.com>
wrote:

[2016-07-25 01:44] tornadomeet commented on #2823
@dianyancao  this should be a bug in deconvlution-inl.h, should wait for fix it. another, if you set ```num_filter=3```, the the shape of Y is your example should be like (100, ```3```, 16, 16)

@tqchen @piiswrong
i found a strange in paramter set_defalut(), i.e. https://github.com/dmlc/mxnet/blob/master/src/operator/deconvolution-inl.h#L53
when using cout to debug, the target_shape is not (0,0) a

[2016-07-25 02:57] blazerygy opened #2825 "Why MXNet update parameters according to the key in dist_async？"
Traditional asynchronous, parameter server update the model parameter as a whole, but MXNet update parameter according to the key, in the case of multimachine, this way will lead to the case a worker pull down the model parameters but its keys are not the same version, why MXNet implement dist_async in this way? The model convergence can be better?

[2016-07-25 03:11] pluskid commented on #2803
There seem to be a recent change on the reshaping API if I recall correctly, is that so? @piiswrong

[2016-07-25 03:31] wshenx opened #2827 "GPU memory of NDArray cannot be cleared"
A simple script would be

    int shape[]={1000,1000}
    Context ctx=Context::Create(static_cast<Context::DeviceType>(dev_type), dev_id);
    NDArray* nd = new NDArray(TShape(shape, shape+2), ctx);
    delete nd

`delete` doesnot clear the GPU memory.  Any suggestions?

[2016-07-25 04:03] GeorgeXia1828 opened #2828 "char-rnn"
I am reading the code of https://github.com/dmlc/mxnet/blob/master/example/rnn/char-rnn.ipynb
I am wondering the sym_gen
`# generate symbol for a length
def sym_gen(seq_len):
    return lstm_unroll(num_lstm_layer, seq_len, len(vocab) + 1,
                       num_hidden=num_hidden, num_embed=num_embed,
                       num_label=len(vocab) + 1, dropout=0.2)`
why the input_size of one-hot i

[2016-07-25 04:21] yechaochen opened #2829 "How to generate te .lst"
I have bulided the mxnet successfully and run the ~/mxnet/example/image-classification/train_mnist.py.

When I follow the introduction on the Internet  to generate the file with my data. I can't find the make_list.py in the folde ~/mxnet/tools .

Can someone tell me how can I generate the lst file!

[2016-07-25 04:43] piiswrong commented on #2827
memory deallocation is async. If will be cleared afterwards

[2016-07-25 06:45] xlvector opened #2830 "multi GPU does not converge"
I wrote a triple-loss network. The code is in https://github.com/xlvector/learning-dl/blob/master/mxnet/triple-loss/triplet_loss.py#L106 .

I find if I train it by single GPU, it will converge quickly, following is log:

2016-07-25 14:43:17,834 Epoch[0] Batch [50] Speed: 1021.61 samples/sec  Train-auc=0.974400
2016-07-25 14:43:19,320 Epoch[0] Batch [100]    Speed: 1077.27 samples/sec  Train-auc=0.

[2016-07-25 06:52] albertyou2 commented on #2815
does any one knows how to do this job?

[2016-07-25 06:53] xlvector commented on #2830
I find in model.fit,

If I set kvstore = local_allreduce_device. It will not converge.
If I set kvstore = local_allreduce_cpu or local_update_cpu. It will converge.

So, why local_allreduce_device failed?

In doc, it says:

- `local_allreduce_device` 类似于 `local_allreduce_cpu` 除了梯度平均计算是在一个选定的设备上进行的. 这种模式可以利用设备到设备之间的点对点传输的特性, 可能加速平均计算的速度. 如果梯度很大的话, 它会比 `local_allreduce_cpu`  模式快, 但是利用更多的设备内存.

[2016-07-25 06:57] minazou opened #2831 "Implementation of Recurrent Attention Model(RAM)"
Hi, I am a torch user. I want to use mxnet to implement Recurrent Attention Model layer[1].
After surveying, I only got "[Survey of existing interfaces and implementations](http://mxnet.readthedocs.io/en/latest/system/rnn_interface.html)."
I can't figure out how to do that. Can anyone give me some tips or advices?
Thank you so much.

[1] V. Mnih and et. al., [Recurrent Models of Visual Attention](

[2016-07-25 06:57] wshenx commented on #2827
@piiswrong I look into the code and I find that after `PooledStorageManager::ReleaseAll()` `used_memory_` equals 0. However, `nvidia-smi` still reports memory occupied. I'm confused and not sure which is correct.

[2016-07-25 07:34] luoruisichuan commented on #2829
for the new verision of mxnet, make_list.py is deleted, you can get it from the old version, for instance 20160202.

[2016-07-25 07:36] #2754 closed

[2016-07-25 08:16] RomainVial opened #2832 "Using LSTM with a feature vector ?"
Hello,

I'm trying to implement an LSTM application but I have some troubles. I adapted the code of the warp-ctc example.

I have a (100, 16, 25088) feature vector reshaped into (100, 16*250880) where 16 is the length of the sequence and a (100,) label vector with 4 categories.

Here are my iterator and the LSTM_unroll

[code]

[code]

[code]

[code]

When I run the code, I have an "InferShape Err

[2016-07-25 08:46] wushouchuan commented on #2832
You can try " label = mx.sym.Variable('softmax_label', shape=(100, 16)) ". And I think before you reshape the label you should transpose it.

[2016-07-25 09:56] yechaochen commented on #2829
@luoruisichuan Can you tell me how to run im2rec.py successfully. I have saw the code about make_list.py is insert in it. Which parameter I should set when I try to run im2rec.py.
my files structure:
images---1---
       |         |
       |         |- 1.jpg
       |         |
       |         |- 2.jpg
       |         |
       |         |- ...
       |
       |- 2 --- ...
       |
       |- 3 ---

[2016-07-25 11:44] yechaochen opened #2834 "How to use mxnet to do the multi-lable(float) regression task"
I'm a new comer of mxnet
1.The lastest version of mxnet has merge the make_list.py with im2rec.py.But there no code about lable in the im2rec.py.Where the lable information show in the training program.And how can I do it.
2.My teacher gives me multi-lable regression task.And the type of lable is float.I don't know how to do the task with mxnet.

[2016-07-25 12:25] AlecWong opened #2835 ".linuxbrew/bin/ld: cannot find -lcblas"
I have already installed openblas using brew install openbals:

And in `config.mk`:

So, any one can figure out what's wrong?

[2016-07-25 12:30] AlecWong commented on #2834
You can refer to the code in `im2rec.py`, it supports multi-label regression. Indeed, it uses  `float(x)` to convert x from string to float-number(even x is a label).

[2016-07-25 12:32] AlecWong commented on #1895
#2835

[2016-07-25 12:42] #2835 closed

[2016-07-25 12:58] liumilan opened #2836 "it report OSError when run launch.py"
I have installed mxnet with cuda-7.5 successfully in new node.And i tried to run launch.py ,it report

OSError: libcuda.so.1: cannot enable executable stack as shared object requires: Invalid argument

is cuda issue?How to fix it?

[2016-07-25 13:18] godpgf commented on #2811
@sxjscience This job will cost us a great deal of time, I want to use it by handle.

[2016-07-25 13:28] godpgf commented on #2811
@sxjscience If this job won't be done, I will do it.....

[2016-07-25 13:37] sxjscience commented on #2811
@godpgf Seems that there is no one on it currently. You are more than welcome to contribute an example.

[2016-07-25 13:41] sinmaystar opened #2837 "mac osx use gpu occurs problem"
I have modify config.mk file,
USE_CUDA = 1
USE_CUDA_PATH = /usr/local/cuda
USE_CUDNN = 1
USE_NVRTC = 1
and then make the mxnet successfully, install python package successfully
but when I run train_mnist.py it occurs a problem

mxnet.base.MXNetError: [21:34:53] src/storage/storage.cc:43: Please compile with CUDA enabled

how can solve this problem?

[2016-07-25 13:50] AlecWong opened #2838 "Cannot find -lcuda? what's wrong?"
Below is my `config.mk`
[code]

<hr>

Below is the error information:
[code]

And I did install cuda(/opt/cuda):
[code]

I used python virtual environment.
I tried` export PATH="$PATH:/opt/cuda"` and `export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/opt/cuda/lib64"`
But neither worked.

[2016-07-25 14:17] luoruisichuan commented on #2819
@wangg12
I run the above script ( 'mxnet/cifar10-recipe.ipynb at master · dmlc/mxnet), and use the visualization command
'''mx.viz.plot_network(symbol=softmax,node_attrs={'shape':'oval','fixedsize':'false'}) '''
but the result just
''':mx.viz.plot_network(symbol=softmax,node_attrs={'shape':'oval','fixedsize':'fals
e'})
:--
Out[1]: <graphviz.dot.Digraph at 0x8895860>
'''
if I want get the graph , I

[2016-07-25 14:25] luoruisichuan commented on #2829
to get .lst file
python make_list.py images/  images/train --recursive=True
then you can get train.lst in file folder images/.
to get .rec file

[2016-07-25 14:28] luoruisichuan commented on #2829
to get .lst file
python make_list.py images/  images/train --recursive=True
then you can get train.lst in file folder images/
to get .rec file
python im2rec.py images/train images/train
then you can get train.rec in file folder images/

[2016-07-25 14:29] shifengren opened #2840 "AttributeError: 'module' object has no attribute 'SVMOutput'"
When I run examples provided, mxnet module can be imported and whose 'Symbol' attribute exists. However, it always encounter such problem when referring attribute 'SVMOutput'.  Anyone who can tell me the reason

[2016-07-25 14:37] yunzhou commented on #1228
I think it is related to cudnn version.
I tested cudnn4+cuda8 in ubuntu 16.04 with gtx1080. I got very bad accuracy.
But I get very good accuracy when change to cudnn5

[2016-07-25 14:39] luoruisichuan commented on #2829
to get .lst file
python make_list.py images/   images/train  --recursive=True
then you can get train.lst in file folder images/
to get .rec file
python im2rec.py images/train   images/train
then you can get train.rec in file folder images/

[2016-07-25 14:59] xlvector commented on #2302
@Godricly Hi, do you have some examples of using fp16? Is it used in training or inference?

[2016-07-25 17:22] Godricly commented on #2302
Not yet. Basically, u can insert some cast layer to transform input(data and label) into fp16, so the network flows in fp16. Currently, mxnet has compatible issue with fp16, so I cancelled my previous PR #2564.

 If you are interested in fp16, u can follow my [branch](https://github.com/Godricly/mxnet/tree/DTypeSupport) to enable fp16 param init and single machine training, the multi machine one d

[2016-07-25 23:05] MikeHuYimin opened #2841 "Has the high level API for autoencoder in R implemented?"
I saw somebody asked about the API for auto-encoder and wondered whether there were already some for it. And if I want to built the auto-encoder using the symbols layer by layer, how can I add the sparse penalty into the cost function?  BTW, can I use RBM to set the weights for auto-encoder in mxnet?

Thanks a lot!

[2016-07-25 23:43] piiswrong commented on #2838
your cuda is installed in /opt/cuda instead of /usr/local/cuda. So you need to modify CUDA_PATH in config.mk

[2016-07-25 23:45] piiswrong commented on #2840
please update to current master and recompile

[2016-07-25 23:55] piiswrong commented on #2837
you need to `cp make/osx.mk config.mk` then modify the config.mk in root folder

[2016-07-25 23:57] piiswrong commented on #2831
look into examples/rnn

[2016-07-26 00:09] sinmaystar commented on #2837
I have already do it，and compile successfullyyou need to cp make/osx.mk config.mk then modify the config.mk in root folder

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-26 00:16] piiswrong commented on #2837
make clean and recompile

[2016-07-26 00:20] piiswrong commented on #2830
@tqchen

[2016-07-26 00:42] AlecWong commented on #2838
@piiswrong Yeah, I have already done that. I didn't paste that part of config.mk in this issue.(Now I have updated the pasted code of config.mk..)

[2016-07-26 01:24] wshenx commented on #2827
update: GPU memory is only recycled when my `main` function is over and this is not surprising. However, the automatically called `GPUDeviceStorage::Free()` due to the deconstrction of `PooledStorageManager` at the end of the `main` function reports `cudaErrorCudartUnloading` and thus the allocated GPU memory is not released.
Just for a test, I manually delete the storage manager before the `main`

[2016-07-26 01:48] benwu232 commented on #2689
That makes sense. Thanks!

[2016-07-26 01:48] #2689 closed

[2016-07-26 02:33] KCHWang commented on #2616
@piiswrong Let's say that I have 3 classes. Does it mean that my labels should be 0, 1 and 2? Thanks!

[2016-07-26 02:45] yechaochen commented on #2834
@AlecWong I have generate the train.lst and the structrue of this file is:

[2016-07-26 04:38] wangg12 commented on #2819
@luoruisichuan Did you run the codes before the viz line? Because the number in your "Out[1]" is only 1.

[2016-07-26 04:49] alecwangcq opened #2842 "Segmentation fault when import mxnet"
[code]

And I think I am successfully installed python-mxnet (maybe I am wrong, so I pasted the details):

[code]

And:

[code]

What's wrong with that?

[2016-07-26 06:03] Godricly opened #2843 "BroadcastDivBackward_ not safe with 0"
Hi,
 I got some issue in [BroadcastDiv ](https://github.com/dmlc/mxnet/blob/master/src/operator/elementwise_binary_broadcast_op-inl.h#L357-#L359)when trying FP16. I noticed that the numerator in BroadcastDivBackward_  is computed using `mshadow_op::square` and not checking if zero is given.

[2016-07-26 06:07] sxjscience commented on #2843
@Godricly Division should be non-differentiable when the denominator is zero.

[2016-07-26 06:14] #2719 closed

[2016-07-26 06:28] WuZifeng commented on #2709
What about using the 3x3/2 pooling with pad=1? Pre-trained models may still degrade in accuracy though. There seems an offset of one pixel between this implementation and the previous.

[2016-07-26 06:42] Godricly commented on #2843
In my case, the value are small before square takes action. I think the square is returning sth with zero, which leads NaN in my case.

[2016-07-26 06:43] csucat opened #2845 "OSError: libcudart.so.7.0: cannot open shared object file"
I am using CentOS 7 with cuda 7.5 and cudnn v5.  Openblas is used as the blas library and opencv was installed using yum.  some of configure setting related to these is:
[code]
`make -j32` gives no error message.  But when I try to run the code in the example/image-classification directory, it give the error:
[code]

And yes, I have added the cuda runtime library to my .bash_profile, it is
[code]

[2016-07-26 06:58] bertjiazheng opened #2846 "How to create Dataset Using RecordIO when the model's output is image?"
In the image classification task, the model's output is a label. So image list file's format is
`integer_image_index \t label_index \t path_to_image`
But when the model's output is a image, such as image restoration, how can I create my dataset using RecordIO.

[2016-07-26 07:02] AlecWong commented on #2834
http://mxnet.readthedocs.io/en/latest/packages/python/io.html
Details can be referred to in this web.

[2016-07-26 07:10] #2836 closed

[2016-07-26 07:12] sxjscience commented on #2843
@Godricly I see. We can add another eps value to the denominator when calling `broadcast_div`. Like `c = mx.sym.broadcast_div(a, b + 1E-6)`

[2016-07-26 07:18] luoruisichuan commented on #2819
I have run the codes before the viz line and the viz line in ipython with %cpaste. I expect the result is the network arichitecture graph, but the rusult is a setence.

thanks.

[2016-07-26 07:21] luoruisichuan commented on #2819
I have run the codes before the viz line and the viz line in ipython with %cpaste. I expect the result is the network arichitecture graph, but the rusult is a setence.

thanks.

[2016-07-26 07:41] wshenx commented on #2845
you can try the following script from bash
     `ldconfig /usr/local/cuda/lib64 `

[2016-07-26 07:47] csucat commented on #2845
@wshenx , I  tried, but still got the same error message. Where I can find a complete config.mk file? Maybe that will help me find what is wrong.

[2016-07-26 08:07] Godricly commented on #2843
1e-6 is too small for FP16 case. I'll give it a try with bigger value though.  It looks good for me now if using float type.

[2016-07-26 08:51] yechaochen commented on #2834
@AlecWong Thank you for your answer. The code you show `item = [int(line[0])] + [line[-1]] + [float(i) for i in line[1:-1]]`.Does this code shows that the lable could be the float type.

[2016-07-26 08:59] sxjscience commented on #2843
Yes. We can tune the eps value. Let's keep the inner logic of this operator first and adopts this solution.

[2016-07-26 09:19] #2843 closed

[2016-07-26 09:22] AlecWong commented on #2834
@yechaochen  I think even your labels are integers, it will also be converted into float-type.  You'd better try it, and to see whether or not.

[2016-07-26 10:05] yechaochen commented on #2834
@AlecWong WOW....!How do you always online!
I meet a problem after I creat lst file with im2rec.py.
My images is like this:
`20090909_033109.jpg
 20090909_034115.jpg
 20090909_035131.jpg
 20090909_040120.jpg
 20090909_042113.jpg
 20090909_043144.jpg
 20090909_044122.jpg
 20090909_045112.jpg
 20090909_050124.jpg
 20090909_051120.jpg
 20090909_053128.jpg
 20090909_054137.jpg
`
You can observed that

[2016-07-26 10:12] AlecWong commented on #2834
@yechaochen  im2rec `make_list` will shuffle the data.
If you do not want to disorder your data, u'd better to create the lst file by yourself. Or simply modify the codes in im2rec.py.

[code]

[2016-07-26 10:26] yechaochen commented on #2834
@AlecWong I have set -shuffle False.

[2016-07-26 10:30] yechaochen commented on #2834
@AlecWong I insert the code `print image_list` under the second line of `make_list` function. And the output shows that the image_list is disordered

[2016-07-26 10:37] blazerygy commented on #2825
@piiswrong @mli

[2016-07-26 10:48] #2801 closed

[2016-07-26 11:05] wangg12 commented on #2819
@luoruisichuan If you run it in ipython, you may need to use this:
[code]
And you will see the result in the corresponding directory.
If you run it in jupyter notebook, the graph will show bellow your code block.

[2016-07-26 12:14] AlecWong opened #2847 "Running mxnet aborted."
[code]

My mxnet.__version__ = 0.5.0
So, what to do with this?

Below is my net's configuration:
[code]

And after I set stride[0] to be the same as stride[1]: new error:

[code]

[2016-07-26 12:17] sinmaystar commented on #2837
I have recompile many times，but still have this problem，I can use gpu on keras code
            在2016年07月26日 08:17，Eric Junyuan Xie 写道:make clean and recompile

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-26 12:22] xlvector commented on #2302
@Godricly Thanks very much.

[2016-07-26 12:28] gaush123 commented on #2583
@tqchen @thirdwing @pluskid @sneakerkg Hi, I am trying to create the model using FeedForward using mxnet_predict-all.cc, instead of using it as predictor, as I want to run this process on mobile device instead of a desktop/server.

What I need to know is how do I pass the values of `const void* param_bytes`, in the function mentioned below. On my local I can do this by passing a dictionary (python

[2016-07-26 12:49] ghost opened #2848 "Runtime varies with different versions of CUDA"
When I run my code which is built with mxnet and cuda-8.0, the speed is quite slow. However, when it runs with cuda-7.5, the speed is much faster.

Does it mean that mxnet for now is not capable with cuda-8.0?

[2016-07-26 13:00] Ldpe2G commented on #2845
if you are using cuda 7.5, shouldn't it be libcudart.so.7.5?

[2016-07-26 13:02] sxjscience commented on #2848
@Cdyzhao Could you provide the script for benchmarking?

[2016-07-26 13:08] #2837 closed

[2016-07-26 13:12] Cdyzhao commented on #2848
@sxjscience The examples like MNIST with mlp can have this problem. The GPU is GeForce GTX TITAN X.

[2016-07-26 13:15] sxjscience commented on #2848
@Cdyzhao What's the training speed for Cuda 7.5 and 8.0 on your computer?

[2016-07-26 13:35] #2786 closed

[2016-07-26 13:35] #2696 closed

[2016-07-26 14:52] luoruisichuan commented on #2819
in ipython, I use the following command,
'''
  55   g=mx.viz.plot_network(symbol=softmax,node_attrs={'shape':'oval','fixedsi
ze':'false'})
---> 56   g.view()
'''
and then get the error informtion,
'''
C:\Users\Administrator\Anaconda2\lib\site-packages\graphviz\files.pyc in view(se
lf)
    246             The (possibly relative) path of the rendered file.
    247         """
--> 248         rendere

[2016-07-26 15:44] wplct commented on #2201
? is  close

 `Traceback (most recent call last):
  File "D:/code/python/jira/mxnet_learn/infer_cnn_ocr.py", line 95, in <module>
    _, arg_params, __ = mx.model.load_checkpoint("cnn-ocr", 1)
  File "C:\Anaconda2\lib\site-packages\mxnet-0.7.0-py2.7.egg\mxnet\model.py", line 363, in load_checkpoint
    symbol = sym.load('%s-symbol.json' % prefix)
  File "C:\Anaconda2\lib\site-packages\mxnet-0.7.0-

[2016-07-26 15:51] wplct commented on #2201
20160531_win10_x64_gpu.7z

[2016-07-26 16:45] dianyancao commented on #2823
I now use sample_type='nearest' in UpSampling it works.I use multi_output=True in SoftmaxOutput so the shape of Y will discard channel dimension.I also print out the target_shape and adj with sample_type='bilinear',the output value sometimes changes every time when I run my big model.
Waiting for fix the bug.Thanks.@tornadomeet

[2016-07-26 18:00] piiswrong commented on #2847
please update to current master

[2016-07-27 01:24] wshenx commented on #2845
@csucat Well, I don't think it has anything to do with your compilation since `make` reports no error.  As @Ldpe2G suggests, it is strange that python requires the 7.0 version of the lib instead of 7.5. You can check that first.

[2016-07-27 01:28] wshenx commented on #2845
@csucat At a second thought, if you are using the latest Mxnet, the python version should not be version 0.5. Maybe 0.7 or higher, I'm not quite sure. I think you previously installed a older version of mxnet python wrapper and at that time cuda 7.0 was installed on your system. So I suggest you to reinstall your python wrapper again so your `site-packages` can be updated.

[2016-07-27 01:41] csucat commented on #2845
@wshenx yeah, I have installed mxnet when the server was using the cuda7.0 drivers, and then the cuda 7.5 driver was installed and the cuda 7.0 driver was removed.  I deleted the mxnet root directory and download the mxnet project again according to the install instructions(`git clone --recursive https://github.com/dmlc/mxnet`). By the way, originally, I use the system-provided python when I was c

[2016-07-27 01:46] wshenx commented on #2827
@piiswrong @tqchen Do you think we should have an interface to clear GPU memory since there are situations users want to release all the memory allocated (#1946,#1677, #1432, #1301). Though it might be contrary to the memory usage scheme of mxnet engine, a force clear of all the memory is sometimes worthwhile.

[2016-07-27 01:51] wshenx commented on #2845
yeah, a fresh new installation usually helps~

[2016-07-27 01:55] csucat commented on #2845
@wshenx, Problem Solved!!  I thought the system-provided python and anaconda have nothing to with each other.  Apparently I was wrong. The output of `conda list | grep mxnet` only shows that mxnet version 0.7 was installed. But when I use `pip uninstall mxnet`(this pip is from anaconda), surprisingly,  mxnet version 0.5 was uninstalled. Using the command again uninstalled the mxnet version 0.7.  F

[2016-07-27 02:26] csucat commented on #2845
For anyone who has met this problem: make sure that any previous install of mxnet wrapper is removed and then reinstall the new mxnet wrapper.

[2016-07-27 03:16] yechaochen opened #2851 "Does the /mxnet/bin/im2rec support the float type label?"
I can't see the code about /mxnet/bin/im2rec, I don't know whether the program support the float type label or not!
And I have two label in my task.Should I run the program like:
`./im2rec /path/to/lst /path/to/image/folder output_path/***.rec resize=256 label_width=2`?

[2016-07-27 05:22] bmorris3 commented on #2758
I'm also getting an issue like this from scikit-image in my [Read The Docs build](https://readthedocs.org/projects/shampoo/builds/4238986/).