[2018-02-21 23:04] szha commented on #9854
This is currently on the roadmap. @eric-haibin-lin can explain more.

[2018-02-21 23:08] chsin opened #9855 "Why no Codeowner for /cpp-package/?"
Why isn't there a code owner for  `/cpp-package/` in [CODEOWNERS](https://github.com/apache/incubator-mxnet/blob/master/CODEOWNERS)?
[code]
It seems like it would be @lx75249 because of [Integrate cpp package #5251] and it looks like @lx75249 gets asked to review in PRs to `/cpp-package/` e.g. #9220 and #7495. Having a code owner is important PRs since some PRs can't be merged without having someo

[2018-02-21 23:27] szha commented on #9855
We use github codeowner feature just as a way to subscribe to pull requests.

[2018-02-22 00:15] marcoabreu opened #9856 "Flaky test_random.test_gamma_generator"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/398/pipeline

[code]

[2018-02-22 00:17] marcoabreu opened #9857 "C++ test Core dump DROPOUT_PERF.TimingGPU"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/399/pipeline

[code]

[2018-02-22 00:31] cjolivier01 commented on #9857
then it's not "flaky", right?  I mean, it's never broken before, right?  I also noticed it breaking in another build today.
I wonder if it ever broke pre-mkldnn merge?

[2018-02-22 00:33] cjolivier01 commented on #9853
This hasn't broken in like a year to my knowledge.

[2018-02-22 00:33] marcoabreu commented on #9857
It's flaky because otherwise it would have been reported during PR stage.

Well the number of test failures drastically increased since the mkldnn merge. But that's why we merged it, right? To get some data early on.

[2018-02-22 00:37] cjolivier01 commented on #9853
is that an mkl build?

[2018-02-22 00:41] marcoabreu commented on #9853
No, on Windows we only run OpenBLAS.

[2018-02-22 00:45] sxjscience commented on #9854
Close because SymbolBlock supports multiple inputs.

[2018-02-22 00:45] #9854 closed

[2018-02-22 04:21] pengzhao-intel commented on #9828
@marcoabreu regarding MKL-DNN, it's nice to create a Clang-Job with MKL blas.

[2018-02-22 06:09] anirudh2290 commented on #9813
can you try infer_shape without arguments ?

[2018-02-22 06:26] zhenglaizhang opened #9859 "How to run model trained with mxnet 1.0 on android"
I recently trained one model with mxnet 1.0.0, and today I decided to try the model with android, read thru the issues, just find android building of latest version is broken, so I have to go back to https://github.com/apache/incubator-mxnet/commit/c8f7dce0eb49ab1a62ddc2c7e37b93e9b92c2ae4  which is one commit of last year based on #9646 and #8707 and I think this may not work for my case.

Current

[2018-02-22 06:31] anirudh2290 commented on #9857
just a side note, should we add try catch around for TESTs and fail so that consecutive tests continue to execute ?

[2018-02-22 07:31] zhenglaizhang commented on #9859
it looks like replace the `attrs` under `nodes` node  as `attr` could solve the issue

[2018-02-22 07:47] rimusolem commented on #9847
Thanks, the fix works. For the `waitall` call, why do we need explicit synchronization here? In my machine the code works without it.

[2018-02-22 14:12] marcoabreu commented on #9857
No, this would waste too many resources. Generally, multiple failures can be fixed by one change. If we wouldn't follow fail-fast, a lot of time would be wasted. Considering the fact that PRs should be small, the chance of multiple independent bugs causing multiple test failures is quite small compared to the number of total tests executed within every PR.

The right approach is to fix one test fa

[2018-02-22 14:20] marcoabreu commented on #9859
@larroy

[2018-02-22 15:11] pengzhao-intel commented on #9744
@cjolivier01 Thanks for the fix. I have tested in my local with your code.

The OMP_NUM_THREADS issue is fixed, but 10% performance degrade from KMP setting.
Could you help fix this issue too?

Please see my log:

[patric@mlt-skx075 mxnet-reg]$ export KMP_AFFINITY=granularity=fine,noduplicates,compact,1,0
[patric@mlt-skx075 mxnet-reg]$ export OMP_NUM_THREADS=56
[patric@mlt-skx075 mxnet-reg]$ pytho

[2018-02-22 15:56] cjolivier01 commented on #9744
I am only vaguely familiar with the KMP stuff.  Can you please elaborate?  Are you saying that it is slower now in some situations?

[2018-02-22 15:58] cjolivier01 commented on #9744
Are you sauing I should set the environment variable in the code:
KMP_AFFINITY=granularity=fine,noduplicates,compact,1,0
?

[2018-02-22 15:59] cjolivier01 commented on #9744
Can you also explain what these settings do? I know it's in a manual somewhere, but from your perspective, what does it do and why is that best?

[2018-02-22 19:22] zheng-da commented on #9820
After one day of testing, I think I know where the problem is now. Basically, the current implementation sometimes needs to convert data format (from the MKLDNN format to the default format) inside an NDArray. In the threaded execution engine, while an NDArray is being converted in a thread, the array can also be read by another thread. In this case, the other thread can read wrong data.

I change

[2018-02-22 19:26] marcoabreu commented on #9820
Great news, thanks for diving deep on this problem!

[2018-02-22 19:57] wellner commented on #9656
I'd second this request for support of sparse tensors/ndarrays in Scala.  Thanks!

[2018-02-22 20:07] Lorna-Liu commented on #9517
@liangyong928
I was wondering if you have solve the problem. I just encountered exactly the same problem.

[2018-02-22 22:10] zheng-da commented on #9856
Is this problem related to MKLDNN?

[2018-02-22 22:15] zheng-da commented on #9843
It seems this problem is related to https://github.com/apache/incubator-mxnet/issues/9856

[2018-02-22 22:37] zheng-da commented on #9853
It seems https://github.com/apache/incubator-mxnet/issues/9853 fails in the same test. It's strange how this fails.

[2018-02-22 22:47] sxjscience commented on #9843
As shown in the log, the chi-square value is above the 0.05 threshold (indicates the check has passed) once in the 5 runs, i.e, 20% success rate. Currently we force the success rate to be 25%, we could lower it to 10% to fix the test.

[2018-02-22 22:51] cjolivier01 commented on #9853
Wasn't elemwise_add changed to use mkl?
btw, was it verified that mkl is faster for all shapes and types?  I saw it allocates memory, which seems like it might be slow.

[2018-02-22 23:05] marcoabreu opened #9864 "Flaky hanging test_operator.test_laop_3"
Test times out due to hang.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-9848/1/pipeline

[code]

[2018-02-22 23:05] marcoabreu commented on #9864
@asmushetzel would you like to investigate?

[2018-02-22 23:25] marcoabreu commented on #9856
No, it's using OpenBLAS.

[2018-02-22 23:29] marcoabreu commented on #9843
That might fix the test, but could we risk masking a problem that way? I'm afraid I'm unfamiliar with the topic, so would you mind explaining how an actual failure would look like and how we could select the best threshold?

[2018-02-22 23:34] marcoabreu commented on #9853
I don't think we have the tools to measure performance on that scale yet. As far as I know, this is in the works. Since there's still some time until 1.2, we can definitely gather these numbers.

[2018-02-22 23:37] marcoabreu commented on #9853
Well even if it was changed to use MKL, this would not apply here since we're running on OpenBLAS, right?

[2018-02-22 23:38] zheng-da commented on #9853
@cjolivier01 in both cases (https://github.com/apache/incubator-mxnet/issues/9853 and https://github.com/apache/incubator-mxnet/issues/9844), the tests fail in test_bmod. It shouldn't have invoked elemwise_add

[2018-02-23 00:09] cjolivier01 commented on #9853
i don’t know what is invoked in the process of calling test_bmod(). could
be that elemwise_add() isn’t called, or is called before and corrupts
memory, or maybe has nothing to do with elemwise_add.

however, we seem to have a lot of tests that are suddenly failing... any
ideas?

On Thu, Feb 22, 2018 at 3:38 PM Da Zheng <notifications@github.com> wrote:

[2018-02-23 00:12] sampathchanda commented on #9100
Am getting the same issue, even when having mxnet installed from 'pip install mxnet-cu80==0.11.0'. Any ideas about what could be the fix for that case?

[2018-02-23 00:23] zheng-da commented on #9853
I don't have a clue right now. so far we see failures in random generators and binary operators. it's weird why it fails in these simple operators that are seemingly irrelevant to MKLDNN operators.

[2018-02-23 00:49] pengzhao-intel commented on #9744
Thanks, @cjolivier01,  I mean we set this environment in the code as OMP_NUM_THREADS.

Actually, this setting is useful when hyperthreading is ON and we only want to run each thread in a physical core as below picture shown (KMP_AFFINITY=granularity=fine,compact,1,0).

So, this environment will guide how to map thread into the physical core.
https://software.intel.com/en-us/node/522691

![guid-80f

[2018-02-23 01:25] sxjscience commented on #9843
@marcoabreu A wrongly implemented random number generator would typically have success_rate = 0, i.e, producing p < 0.05 for all the 5 runs. However, since this tests the randomness, it's really tricky to set the threshold and my previous design is to force the success rate to be at least 25%.

[2018-02-23 02:52] samhodge commented on #9813
OK I tried some things
I got it to save out a symbolic model

see
https://github.com/samhodge/incubator-mxnet/commit/b9ea4499e32a68faa2d182104eac977b49ab7a09

But is it the right symbolic model? I cannot say, I would have to confirm with input from the original designer who is @zhanghang1989

I can go onto see if the model loaded in C++ give the right output, but I feel I am stabbing around in the

[2018-02-23 03:07] asitstands opened #9865 "Confusing behavior of some evaluation metrics"
[code]
According to the API document, the `update` method of evaluation metrics takes lists of NDArrays. So the first example uses the API not correctly, but there is no errors or warnings. Many functions of mxnet allow "an NDArray or a list of NDArrays" as an argument and an NDArray is equivalent to a list with a single element. So this behavior of the MSE metric is confusing and errorprone. Plea

[2018-02-23 03:34] xiaoheizi123 commented on #7162
I also cannot convert resnet-50 using **python convert_caffe_modelzoo.py resnet-50**

`converting scale layer, beta shape = (2048,), gamma shape = (2048,)
        skipping layer res5c of type Eltwise
        skipping layer res5c_relu of type ReLU
        skipping layer pool5 of type Pooling
converting layer fc1000, wmat shape = (1000, 2048), bias shape = (1000,)
        skipping layer prob of type

[2018-02-23 03:43] anirudh2290 commented on #9813
do you have a validation dataset to test the model ?

[2018-02-23 03:46] cjolivier01 commented on #9744
how to set this programmatically? i’d imagine that by the time this code
executes, the omp library may have already checked the environment variable
(as it does with OMP_NUM_THREADS)? or can it be set at any time?

On Thu, Feb 22, 2018 at 4:49 PM PatricZhao <notifications@github.com> wrote:

[2018-02-23 03:48] feevos commented on #9822
Thanks @jmacglashan , based on your suggestions I tried the following solution:

I am trying to create a ```HybridBlock``` custom Convolutional layer.  I am creating a custom initializer and then I create inside HybridBlock a custom parameter  ```self.bijkl``` that is initialized with the custom initializer ```CustomInit```. The full example is here:

Essentials:
[code]

[code]

I can initialize m

[2018-02-23 04:13] pengzhao-intel commented on #9744
Normally, we set KMP_AFFILITY with OMP_NUM_THREADS together.
And when the OMP threads are invoked, it will be used.

[2018-02-23 04:41] cjolivier01 commented on #9744
i don’t set the environment variable. I doubt it would
work even if i did, from within the code. So there’s nothing I can do,
then, right? User would need to set?

I recall dumping the default behavior of KMP and i remember it showing that
the OMP threads were indeed staggered as in your picture.  I’ll check again.

On Thu, Feb 22, 2018 at 8:13 PM PatricZhao <notifications@github.com> wrote:

[2018-02-23 05:12] pengzhao-intel commented on #9744
There're C level API too, _int kmp_set_affinity_ in openmp.
Also in this page:
https://software.intel.com/en-us/node/522691

[2018-02-23 06:10] juliusshufan opened #9866 "The default weight initialization strategy makes the VGG network difficult to converge when utilizing examples under 'example/image-classification'"
## Description
On trying to train CiFAR-10 dataset with VGG16, I noticed the initial learning rate has to be set a very small value to make the training converging. According the implementation of fit.py under example/image-classification/common, the Xavier with Gaussian random type is set as the default weight initializing strategy.

On a NVIDIA P40 GPU, with **CUDA-9.1** and **openblas**, I exec

[2018-02-23 06:22] dabraude opened #9868 "MKL and CMake"
Looking at the CMake with MKL I noticed there is an option there called `USE_MKLML_MKL` which has the same docstring as `USE_MKLDNN` ; from what I can tell it is there for support with mshadow, would it not be safer to set `USE_MKLML_MKL` to be the same as `USE_MKLDNN` ?  Alternatively the docstring could indicate one is for mxnet and the other mshadow.

[2018-02-23 09:52] bitdata opened #9871 "cannot import name 'registry'"
## Description
error while import mxnet.contrib.text

## Environment info
mxnet-cu90                1.1.0b20180213            <pip>
---------Python Info----------
Version      : 3.6.2
Compiler     : MSC v.1900 64 bit (AMD64)
Build        : ('default', 'Jul 20 2017 12:30:02')
Arch         : ('64bit', 'WindowsPE')
------------Pip Info-----------
Version      : 9.0.1
Directory    : C:\ProgramData\Ana

[2018-02-23 12:41] kohillyang commented on #9259
This problem disappeared in latest version.

[2018-02-23 12:41] #9259 closed

[2018-02-23 15:04] dotelos opened #9872 "A bug in an example in the python API document"
This is an example found in the doc for [mxnet.autograd.Function](https://mxnet.incubator.apache.org/api/python/autograd.html#mxnet.autograd.Function).
[code]
The `backward` method should return `dy * y * (1-y)` instead of `y * (1-y)` according to the chain rule.

[2018-02-23 15:14] larroy commented on #9859
We haven't had time to invest on figuring out why the amalgamation build is smaller than the arm64 docker build. I think as you say there were some changes on the model json files, you could definitely try what you say.

[2018-02-23 19:11] analog-cbarber commented on #9822
It is surprising here isn't already support for constants (see #8428). It is possible to implement a constant CustomOp in python, but it requires you to serialize the data as string arguments passed to the CustomProp implementation.

[2018-02-23 19:17] analog-cbarber commented on #8428
As a workaround, you can implement a constant CustomOp. It requires that you serialize the data through the CustomOpProp implementation somehow. One example of this can be seen here:
https://github.com/tqchen/mxnet-gan/blob/master/mxgan/custom_ops.py

[2018-02-23 19:39] sxjscience commented on #9865
Thanks for reporting this, we will improve our documentation and support NDArray as the input.

[2018-02-23 19:48] szha commented on #9871
I can't reproduce this on mac using `mxnet==1.1.0b20180213` and don't have a windows machine to reproduce. I tested the same for master branch and didn't find a problem. @yajiedesign would you help check whether it's working?

[2018-02-23 19:50] sxjscience commented on #9865
I find this is actually a bug. The `pred` will be reshaped if it has ndim=1, see https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/metric.py#L911-L912. In this case, the `pred` and the `label` have both shape (4,) and after reshaping, `pred.shape` will be changed to  (4,1). `pred - label` will then generate an array with shape (4, 4) and give the incorrect output.

[2018-02-23 19:52] sxjscience commented on #9842
I think it's not supported. Need to double check with @piiswrong .

[2018-02-23 19:57] sxjscience commented on #9819
According the description, the question is not related to MXNet and should not be raised as a **Github Issue**.  Stackoverflow may be a better place.

[2018-02-23 19:57] #9819 closed

[2018-02-23 21:34] Caenorst opened #9874 "ResNet-50 is slower on Volta since #8302"
## Description
I ran the Minimum reproducible example with the setup below at two different version (before and after #8302):
Here are the results:
d03182f4fc084741ea185aac2eb02d0e7b4151f9 (before #8302):
    - real data: 5644 samples / s
    - synthetic data: 5971 samples / s
c3e3a832bfeceff070ba263aa8a4489ca27f452e (after #8302):
    - real data: 5461 samples / s
    - synthetic data: 5740 sampl

[2018-02-23 23:49] anirudh2290 commented on #9868
I think it is safe to set USE_MKLML_MKL to be same as USE_MKLDNN. @cjolivier01 can you please confirm ?

[2018-02-24 00:27] pengzhao-intel commented on #9866
@juliusshufan good catch!
The example should be out-of-box coverage for the user, especially for the learner.
Does other networks coverage w/ the default setting?

[2018-02-24 02:45] moveforever commented on #9819
@sxjscience ， i implement dataiter supporting multi input inheritated MXDataIter. The people of best kowning workflow of MXNet loading data Module to tune performance is mxnet developer.

[2018-02-24 03:08] bitdata commented on #9871
Finding that a lot of files are lost in site-packages\mxnet, I uninstall and reinstall mxnet. Then error message goes away.
Thanks a lot, and sorry to disturb everyone.

[2018-02-24 03:55] samhodge commented on #9813
I found this a little bit of help: https://github.com/apache/incubator-mxnet/issues/1337

[2018-02-24 04:12] szha commented on #9871
No problem, don't worry. Let us know what else we may help with. Closing the issue now.

[2018-02-24 04:12] #9871 closed

[2018-02-24 04:29] samhodge commented on #9813
OK I have now added arguments to infer_shape_partial because without it I wasnt getting any values for the output_shapes, which is what I need rather than arg_shapes, the whole point of a symbolic network is that you do not need to define the input, which seems to defeat the point, I have been able to visualise the network which I will attach here
[plot.gv.pdf](https://github.com/apache/incubator-

[2018-02-24 04:35] juliusshufan commented on #9866
@pengzhao-intel , For ResNet-50, inception-v3 and Alexnet, the convergence is OK with default weight initialization and proper LR.
ResNet-50/inception-v3 is okay for initial LR 0.1; AlexNet is okay for initial LR 0.01.

[2018-02-24 04:38] samhodge commented on #9813
Now I have a new error

[code]

I will hack visualisation for now.

[2018-02-24 04:47] samhodge commented on #9813
The hack
[code]

And the result:

[code]

[2018-02-24 05:04] samhodge commented on #9813
OK now I have discovered the limit of this network it can only be saved as a symbolic network if the resolution of the input is known at the time of serialisation of the model. I am note sure if a multi resolution model is able to be saved.

[2018-02-24 05:09] samhodge commented on #9813
OK a minor update to generalise the model to the width and height of the input

https://github.com/samhodge/incubator-mxnet/commit/1d72d60495cd47423c572506e8042abe578bbd6a

[2018-02-24 05:11] samhodge commented on #9813
If I want to run this model in C++ it might make more sense to implement the network parts in C++ also so I can deal with the fact the width and height change the convolution network.

[2018-02-24 06:13] sxjscience commented on #9819
@piiswrong What do you think? I feel this type of problems should not be raised as an issue.

[2018-02-24 06:28] anirudh2290 commented on #9813
@samhodge the model makes calls to operators implemented in the C++ backend and leverages the backend dependency engine.

[2018-02-24 06:58] zhenglaizhang commented on #9859
@larroy thanks for the reply, I have succeeded in running the trained model with amalgamation build after the model json file change, Though the result looks wrong. And due to some reasons, I currently give trying on the android device.

[2018-02-24 10:39] marcoabreu commented on #9868
@zheng-da

[2018-02-24 11:09] zheng-da commented on #9868
Ideally, we should use only USE_MKLDNN. But I needed to set up a PR to
change mshadow first. Without merging mkldnn, changing mshadow would break
mshadow. I think we can change mshadow now

On Sat, Feb 24, 2018 at 11:39 AM Marco de Abreu <notifications@github.com>
wrote:

[2018-02-24 17:30] smorrel1 commented on #1090
The link above is broken. Use [this one](https://mxnet.incubator.apache.org/api/python/symbol/symbol.html?highlight=infer_shape#mxnet.symbol.Symbol.infer_shape)

[2018-02-25 04:09] yian2271368 commented on #2454
@zhudelong hey, i faced the same problem, how did you fix it ?

[2018-02-25 06:17] samhodge commented on #9813
I have seen this: https://github.com/apache/incubator-mxnet/issues/6087 and I have also seen this: https://github.com/apache/incubator-mxnet/issues/4009 and I feel between the two of them there may be a reasonable way to save a neural style model that is independant of channels(3)*width(N)*height(M) currently the model is fixed in https://github.com/samhodge/incubator-mxnet/blob/1d72d60495cd47423c

[2018-02-25 06:23] samhodge commented on #9813
This clumsy attempt wont work because you cannot convert a symbol to an int.

[2018-02-25 09:22] eric-haibin-lin opened #9881 "Inconsistent weight decay logics in multiple optimizers"
## Issue
The default behaviors of many optimizers are not optimal/consistent for optimization. The desired implementation proposed below will help convergence.

## Gradient Clipping
In Tensorflow/Pytorch, weight decay is usually applied before gradient clipping. Not clipping weight decay would lead to much larger update caused by wd regularization compared to the derivative of the loss. For the fo

[2018-02-25 14:44] eric-haibin-lin commented on #9819
I think discuss.mxnet.io is a good place to discuss questions like this.

How did you implement the data iterator? Usually it’s not a problem if it’s not the bottleneck of your network

[2018-02-25 23:00] johnbroughton2017 opened #9884 "How to speed up prediction run time? Copying gpu->cpu takes a long time"
Hi all,

Doing prediction using mxnet has two major part: forward pass and copy results from gpu to cpu memory, as
[code]

I did a quick timing based on batch size (see below). It seems like the second operation above takes a lot of time when batch size increases.

  batch size    mod.forward() (ms)    mod.get_outputs...asnumpy() (ms)
---------------------------------------------------------------

[2018-02-25 23:37] johnbroughton2017 commented on #9884
Follow-up.

Found this more interesting. Using caffenet instead of resnet50, it looks like this:
  batch size    mod.forward() (ms)    mod.get_outputs...asnumpy() (ms)
------------  --------------------  ----------------------------------
          16                 156.6                                61.3
          32                 183.4                                28.9
          48

[2018-02-26 00:57] ascust opened #9885 "A question about Operator "crop" and "slice"."
In the document, it says "crop is deprecated. Use slice instead". But I think "slice" is not a complete alternative to "crop", because "crop" can use a "reference" symbol as an input, while "slice" can only use fixed parameters to crop. Sometimes, the input can have various size, we can not define everything in advance. In the future release, is "crop" going to be kept?

[2018-02-26 02:51] sunyonggang commented on #9622
I trained the example with all default params, but gpu only  2.
the example `VGG16_reduced 300x300` shows 0.778, but I get only 0.72 with epoch 100.
then, I change learning_rate to 0.001, mAp only 0.71 with epoch 200.-_-

[2018-02-26 04:19] dotelos commented on #9872
@sxjscience Please fix the example in the doc. https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/autograd.py#L375

[2018-02-26 04:57] sxjscience commented on #9872
Sorry for not submitting the fix.

[2018-02-26 05:31] moveforever commented on #9819
My data format of one line is including dense and sparse as followed
![1519619151 1](https://user-images.githubusercontent.com/5248288/36654678-4b27bf2a-1af9-11e8-9e97-52ab41df5289.png)
The first column is label, the second is dense(csv), and the the third is sparse(libsvm).

[2018-02-26 05:36] moveforever commented on #9819
The test of every step's consuming has been done as followed:
![image](https://user-images.githubusercontent.com/5248288/36654797-d2207dfa-1af9-11e8-98b2-af5977200753.png)
loading data is mainly most consuming time step, that is 90 percent of  one batch update time.

[2018-02-26 05:42] moveforever commented on #9819
I implement the Iter as followed
![15984851272413857](https://user-images.githubusercontent.com/5248288/36654869-2c65667c-1afa-11e8-81f4-8d6c0cf77188.jpg)
I mainly implement KBIter similar to LibSVMIter. I implement KBIter and KBParser, then mend SparsePrefetcherIter, SparseBatchLoader, and i add some base data structure as followed

![image](https://user-images.githubusercontent.com/5248288/36654

[2018-02-26 05:49] moveforever commented on #9819
The network is not complex, and it's only including 5 fully connected hidden layer.

[2018-02-26 09:00] billhyde commented on #3351
@dmazzoni I have meet the same problem, have you solve this "Fatal signal 4 (SIGILL), code 1" problem? I tried a lot of ways to solve this, but all failed.

[2018-02-26 10:01] reminisce commented on #9885
Can you give the precise definition of `crop`? It's too vague to get the difference between `crop` and `slice` in your statement. Maybe a few examples are helpful here.

[2018-02-26 12:00] reminisce commented on #9884
`mod.forward` and 'NDArray.copyto`  are async functions. It's not accurate to simply time the line of python code. You need to insert `waitall()` function between `forward` and `get_outputs` and measure the time difference between the beginning and the end of each code block. More precisely, you can use the MXNet built-in profiler to get the accurate execution time of each operation.

https://mxne

[2018-02-26 13:03] yancz1989 opened #9888 "get runtime error when compile and install"
I have downloaded the 1.1.0 version MXNet code from github, but after compile and install, when importing, I get following error:

RuntimeError: module compiled against API version 0xc but this version of numpy is 0xb.

After this error come out, CPU start to run at 100%.

it seems to be a numpy issue. But numpy is compiled with MKL and can be imported in python. Would any give a hand on how to so

[2018-02-26 15:46] marcoabreu commented on #9888
Hello, what version of numpy is installed on your machine?

You can determine it with the following python code:
[code]

[2018-02-26 15:52] yancz1989 commented on #9888
@marcoabreu I have tried both 1.13.3 and 1.14.1. they don't work either.

[2018-02-26 16:04] marcoabreu commented on #9888
Are you running on Mac by any chance?

[2018-02-26 16:06] yancz1989 commented on #9888
@marcoabreu no, on a linux machine. Ubuntu 16.04, gcc 5.4, and python3.5.2.

[2018-02-26 16:20] yancz1989 commented on #9888
same problem happened for v1.0.0

[2018-02-26 17:45] #8242 closed

[2018-02-26 17:46] sxjscience commented on #9690
@pharish93 Have you solved this problem?

[2018-02-26 19:35] Caenorst opened #9890 "MxNet allow to use same name"
## Description
MxNet allow me to reuse a name of a symbol without returning an error, it eventually leads to a cyclic graph in the visualization.

It should prevent the user to be able to reuse the same name unless the user want specifically to reuse the same variable (with an argument), instead of advising them to not reuse the same name (#2036)

## Environment info (Required)
on Intel Core i7-58

[2018-02-26 20:07] piiswrong commented on #9881
Could you clarify which ones multiply wd with lr and which ones don't?

[2018-02-26 20:29] sxjscience commented on #9881
Just curious, is `clip_gradient` used anywhere?

[2018-02-26 21:21] mayer79 commented on #8936
I have exactly the same problem.

[2018-02-26 22:43] #9872 closed

[2018-02-26 23:23] ascust commented on #9885
@reminisce
For example, for "crop", we can have something like this:
[code]
For "slice", I don't see the argument for this "reference" symbol.

[2018-02-26 23:45] anirudh2290 opened #9891 "UTF-8 Support for Text Parsers"
Please see: https://github.com/dmlc/dmlc-core/issues/372

[2018-02-26 23:57] lupesko commented on #9874
@piiswrong @zheng-da - please take a look, this degradation may be related to your commit.

[2018-02-27 00:01] pharish93 commented on #9690
hi @sxjscience  sorry for the delay
got held up with other work . I'll provide you updates soon

[2018-02-27 00:10] reminisce commented on #9885
What is the role of `ref` here? What's the expected behavior of `Crop` in your code?

[2018-02-27 00:12] ascust commented on #9885
@reminisce
In the official doc,

Crop the 2nd and 3rd dim of input data, with the corresponding size of h_w or with width and height of the second input symbol, i.e., with one input, we need h_w to specify the crop height and width, otherwise the second input symbol’s size will be used.

The role of "ref" is to show the target shape of the cropped_data.

[2018-02-27 00:17] rahul003 commented on #9874
Are the speeds that you mention averages? If so, averaged over how many batches?

[2018-02-27 00:20] reminisce commented on #9885
Are you referring to the definition here: https://turi.com/products/create/docs/generated/graphlab.mxnet.symbol.Crop.html?

I don't think we are aligning with the doc on that website.

It's looks to me that you can prepare the proper params of `begin`, `end`, and `step` for using `slice` to achieve the same purpose.

[2018-02-27 00:26] szha commented on #8638
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-02-27 00:49] zhanghang1989 commented on #9547
Agree. A feature similar to [PyTorch FFI](https://github.com/pytorch/extension-ffi) is desired.

[2018-02-27 01:17] pengzhao-intel commented on #9868
@jinhuang415 please take a look for this issue and file a PR to fix.

[2018-02-27 01:17] reminisce commented on #9885
I just checked the code, there is indeed a `Crop` (upper-case C) operator working as you described. What has been deprecated is `crop` (lower-case c).

[2018-02-27 01:20] pengzhao-intel commented on #9828
Update: This bug is fixed in MKL-DNN and the patch will be ready in the official branch soon.

[2018-02-27 01:26] ascust commented on #9885
@reminisce It seems both Crop and crop are deprecated in the documentation. So are you saying the documentation is a bit out-of-date? Maybe it can be fixed for avoiding confusion.

[2018-02-27 01:35] reminisce commented on #9885
I don't know why `Crop` is deprecated, but it looks like so. As I said in a previous comment, you can use `slice` to achieve the same purpose of `Crop` if you want. Let me know if you have trouble in doing that.

[2018-02-27 01:40] cjolivier01 commented on #9868
I don’t know what’s still left of USE_MKLML_MKL, so I’ll leave it to @zheng-da’s judgement

[2018-02-27 01:42] cjolivier01 commented on #9868
...or @pengzhao-intel or @jinhuang415 or someone who is more familiar with the changes

[2018-02-27 01:47] yancz1989 commented on #9888
I found if I use "import requests" first, it would run smoothly. This should be a dependency problem, I suggest the develop team look into this. it's just a piece of advice.

[2018-02-27 02:15] ascust commented on #9885
@reminisce For fixed-sized input, your way has no problem, but image we have various input size for both "data" and "ref", we cannot keep creating new symbols and modules, that would not be an efficient way.

[2018-02-27 02:44] billhyde commented on #8707
@someoneAlready I meet the same problem,have you solve this?

[2018-02-27 02:53] someoneAlready commented on #8707
@billhyde I use [docker](https://github.com/apache/incubator-mxnet/tree/master/docker_multiarch) to build the libmxnet.so

[2018-02-27 03:09] billhyde commented on #8707
@someoneAlready  Thank you for your reply, I will try it. Thanks

[2018-02-27 03:32] arokem opened #9894 "Undefined name `get_cifar10_iterator` in gluon image_classification example"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-02-27 06:15] pengzhao-intel commented on #9545
@cjolivier01 I come back to this discussion regarding MKL-DNN backend profiling :)

Now, adding the env "export MKLDNN_VERBOSE =1" and run any CNN benchmark with MXNET master code. You will see the MKL-DNN profiler output.

The C level API is available in here:
https://github.com/intel/mkl-dnn/blob/464c268e544bae26f9b85a2acb9122c766a4c396/include/mkldnn.h#L996

Let's brainstorm how to make a clear

[2018-02-27 08:35] Davidrjx opened #9897 "for custom callbacks in module fit, training script can not finish"
## Description

use (batch&eval end)callback kwargs for tensorflow-tensorboard writer, but after two epoch, training process did not terminate, namely in pending state ,and require CTRL+C to stop
## Environment info (Required)
[code]

Package used (Python/R/Scala/Julia):
I'm using Python

## Error Message:
(Paste the complete error message, including stack trace.)
![image](https://user-images.gith

[2018-02-27 09:07] jinhuang415 commented on #9868
Looks USE_MKLML_MKL is duplicate with USE_MKLDNN, as @zheng-da indicates, we may need 2 separate PRs for this, one to change mshadow to replace USE_MKLML_MKL with USE_MKLDNN, another one to remove USE_MKLML_MKL in mxnet and update mshadow link hash.

[2018-02-27 11:34] StephanIFX commented on #9271
+1

[2018-02-27 12:09] jinhuang415 commented on #9868
We will take care of this issue.

[2018-02-27 14:55] pharish93 commented on #9690
@sxjscience  I was running the program overnight with increased workspace size ( 4096 ). It hasn't crashed yet .
If it does, I would give you an update

[2018-02-27 17:26] lupesko commented on #9894
@sandeep-krishnamurthy please add these labels:
- Gluon
- Python

[2018-02-27 17:35] lupesko commented on #9894
@arokem I just tried and it is working as expected.
`get_cifar10_iterator`is defined in /example/gluon/data.py

Please try the following:
- To make sure you have the latest and greatest:
`$ pip install mxnet --pre --upgrade`
- To make sure you have the latest version of the code
`$ git pull`
- Then try to run the example:
`$ python image_classification.py --model vgg16`

We'll close this issue, pl

[2018-02-27 17:35] lupesko commented on #9894
@sandeep-krishnamurthy please close. thanks!

[2018-02-27 17:38] spidyDev commented on #9710
@sandeep-krishnamurthy  Please close this issue, as this is already answered.

[2018-02-27 17:50] lupesko commented on #9754
@batracos we try to handle questions via the [Discuss Forum](https://discuss.mxnet.io/), not via issues.
Alternatively, you can comment your question on the commit [#5499](https://github.com/apache/incubator-mxnet/pull/5499), although it was closed a while back.

@sandeep-krishnamurthy please label:
- C++
- Question
And please close the issue.

@batracos if done in error please re-open and comment

[2018-02-27 17:54] ankkhedia commented on #9676
@sandeep-krishnamurthy  Please add the label as Feature request

[2018-02-27 17:58] analog-cbarber commented on #9547
TensorFlow supports this. See https://www.tensorflow.org/api_docs/python/tf/load_op_library

[2018-02-27 17:59] spidyDev commented on #9689
@kice Please post your question on https://discuss.mxnet.io/ , you will be able to get more responses.
@sandeep-krishnamurthy  Please go ahead close this one.

[2018-02-27 18:19] anirudhacharya commented on #9891
@sandeep-krishnamurthy can you please add the following labels to this issue - cpp package, discussion, exploration.

[2018-02-27 18:24] anirudhacharya commented on #9751
@sandeep-krishnamurthy please add the labels - Website.

[2018-02-27 18:27] sandeep-krishnamurthy commented on #9888
This PR should fix the issue - https://github.com/apache/incubator-mxnet/pull/9841

[2018-02-27 18:28] Roshrini commented on #9838
@sandeep-krishnamurthy Can you please add labels:
Gluon,
Pending Requester Info

[2018-02-27 18:28] Roshrini commented on #9742
@sandeep-krishnamurthy Can you please add labels:
Feature Request,
Doc

[2018-02-27 18:31] spidyDev commented on #9488
@gaosanyuan  Please file your question on https://discuss.mxnet.io/ and it would be great if you could add more details about your issue.

@sandeep-krishnamurthy

[2018-02-27 18:33] lupesko commented on #9644
@sandeep-krishnamurthy please apply labels:
- Python
- Gluon

[2018-02-27 18:36] lupesko commented on #9644
@Mendel1 can you share a complete example code that produces the error you are seeing? this will help the community identify the issue.

[2018-02-27 18:36] anirudhacharya commented on #9702
@mbaijal has this been resolved?

@sandeep-krishnamurthy please apply the labels - Pending Requester Info, Doc

[2018-02-27 18:38] spidyDev commented on #9449
@quietsmile   Hope you got answer to your question. For further queries , you can use https://discuss.mxnet.io/.

@sandeep-krishnamurthy  Please close this issue.

[2018-02-27 18:41] ankkhedia commented on #9515
@chenqy4933 we handle questions via discuss.mxnet.io and not issues. Please file your question there.

@sandeep-krishnamurthy Please add the labels
-How To
- Question
-Converter

and close the issue.

@chenqy4933 if done in error please reopen and comment

[2018-02-27 18:41] Roshrini commented on #9737
Seems like this is an intended behavior for mxnetR.
C/C++ use row-major ordering for arrays while R follows a column-major ordering. To keep
things consistent, mxnet keep the underlying data in their original layout, but use language-native convention when it comes to shapes. For example, a mini-batch of 100 MNIST images is a tensor of C/C++/Python shape (100,1,28,28), while in R, the same piece o

[2018-02-27 18:44] anirudhacharya commented on #9599
@sandeep-krishnamurthy Please apply labels - Python, Build, Pending Requester Info

@beyond-boy Can you update the steps to reproduce and if you tried anything to solve it?

[2018-02-27 18:44] ankkhedia commented on #9691
@harryprince  we handle questions via discuss.mxnet.io and not issues. Please file your question there.

@sandeep-krishnamurthy Please add the labels

- How To
- Question
- R
and close the issue.

@harryprince  if done in error please reopen and comment

[2018-02-27 18:44] sandeep-krishnamurthy commented on #9696
@Mendel1 - Did you make clean, set right path in config.mk and rebuild mxnet?
Here is the issue with solution discussed -
https://github.com/apache/incubator-mxnet/issues/2587

Please reopen if issue persist.

[2018-02-27 18:44] #9696 closed

[2018-02-27 18:45] spidyDev commented on #9421
@lupesko I agree  with @szha  , for new feature requests github might be a good place to start the discussion.

 @sandeep-krishnamurthy  Please close this issue, as the requester's question was answered.

[2018-02-27 18:48] Roshrini commented on #9729
@HuangZhanPeng You can also ask questions via the [Discuss Forum](https://discuss.mxnet.io/), not via issues. :)

@sandeep-krishnamurthy The question was answered.
Can you add labels -
- Gluon,
- HowTo,
- Question
and close the issue.

[2018-02-27 18:49] lupesko commented on #9563
@feevos GitHub issues are meant for reporting bugs, regressions, crashes, documentation issues, etc.
Your issue is really a question and so it should be submitted in the discuss forum ([discuss.mxnet.io](https://discuss.mxnet.io/)) - please file the question there.

@sandeep-krishnamurthy please apply labels below and close the issue.
- Question
- Python
- Gluon

[2018-02-27 18:50] Roshrini commented on #9719
@sandeep-krishnamurthy Can you add labels
- Feature Request
- Call for contribution

[2018-02-27 18:51] roywei commented on #9483
Please ask questions via the [Discuss Forum](https://discuss.mxnet.io/), not via issues.
@sandeep-krishnamurthy  please kindly add label Question  and close this issue.

@opringle please let us know if you still have question
Thanks!

[2018-02-27 18:52] anirudhacharya commented on #9377
@sandeep-krishnamurthy please add the labels -
R
Linux
Pending Requester Info
Triaged

[2018-02-27 18:53] szha commented on #9729
@piiswrong maybe TransformFirst can be a transformer, instead of having a special transformer method?

[2018-02-27 18:54] cjolivier01 commented on #9874
@zheng-da

[2018-02-27 18:54] cjolivier01 commented on #9629
@rahul003

[2018-02-27 18:55] roywei commented on #9452
Thank you for your recommendation
@sandeep-krishnamurthy  please kindly add label Exploration, Discussion, and close this issue
Thanks

[2018-02-27 18:56] anirudhacharya commented on #9513
@gaosanyuan please ask this question in the discussion forum here - https://discuss.mxnet.io/

@sandeep-krishnamurthy please add the label - Question and close this issue.

[2018-02-27 18:56] lupesko commented on #9550
@sandeep-krishnamurthy please label:
- Julia
- Build

@LTGZZ you might want to fine an issue on the [Julia GitHub repo](https://github.com/dmlc/MXNet.jl/) or provide more information about the build command you are using.

[2018-02-27 18:58] sandeep-krishnamurthy commented on #9557
@rahul003 @piiswrong - You want to take a look at this?

[2018-02-27 19:03] ankkhedia commented on #9555
@zhreshold The issue is duplicate of #9572. So, closing this additional issue as its already getting tracked.

@sandeep-krishnamurthy  Please tag this as
- Duplicate
- Bug

and close the issue
@zhreshold  Please feel free to comment and reopen if the issue gets closed in error.

[2018-02-27 19:08] ankkhedia commented on #9521
@ly-atdawn we handle questions via discuss.mxnet.io and not issues. Please file your question there.

@sandeep-krishnamurthy Please add the labels

- Question
- Metric
and close the issue.
@ly-atdawn  if done in error please reopen and comment

[2018-02-27 19:14] roywei commented on #9743
@sandeep-krishnamurthy please add labels Breaking, thanks!

[2018-02-27 19:21] roywei commented on #9450
Hi @prateekagarwal3 , could you provide more details for us to reproduce the error
Please follow this [template](https://github.com/apache/incubator-mxnet/blob/master/.github/ISSUE_TEMPLATE.md)
@sandeep-krishnamurthy  please add label Pending Requester Info
Thanks!

[2018-02-27 19:26] ankkhedia commented on #9725
@yifeim  we handle questions via discuss.mxnet.io and not issues. Please file your question there.

@sandeep-krishnamurthy Please add the labels

- Question
- Metric

and close the issue.
@yifeim if done in error please reopen and comment

[2018-02-27 19:29] ankkhedia commented on #9733
@sandeep-krishnamurthy  Could you please tag it as
- Bug
- Question
- C++

[2018-02-27 19:35] sandeep-krishnamurthy commented on #9538
Hello @solin319
KVStore does not allow:
1. Remove a key after init
2. Modify shape of a key-value pair after init

You can only:
1. Change the value of existing key i.e., push and pull.
2. Add new key even after init.

Please feel free to reopen if you need more help.

[2018-02-27 19:35] #9538 closed

[2018-02-27 19:39] Roshrini commented on #9713
@zhaodongsun Can you confirm if the issue was solved with smaller batch sizes?

@sandeep-krishnamurthy Can you add labels
- Memory
- Pending Requester Info

[2018-02-27 19:44] anirudhacharya commented on #9308
@BenLag2906 please ask your follow up questions in the discussion forum here - https://discuss.mxnet.io/

@sandeep-krishnamurthy please add the labels - Question and kindly close the issue.

[2018-02-27 19:45] lupesko commented on #9543
Awesome initiative @sbodenstein
Bumping again to @piiswrong

@sandeep-krishnamurthy please label:
- RNN
- Feature

[2018-02-27 19:55] lupesko commented on #9476
Confirmed to work on Ubuntu 16.04.
Closing due to inactivity in over 1 month.

@zhangguotai - feel free to submit this as a question in the discussion forum [discuss.mxnet.io](https://discuss.mxnet.io).

[2018-02-27 19:55] ankkhedia commented on #9533
@mengyuest Did you raise an issue with dmlc/minpy? It seems like a bug with their documentation.
Also it seems from their readme that the repository has been deprecated and merged with Mxnet Gluon. So, did you try to use that?

@sandeep-krishnamurthy Could you please tag it as

- Pending Requester Info

[2018-02-27 19:55] lupesko commented on #9476
@sandeep-krishnamurthy please close and label:
- Question
- Build

[2018-02-27 19:57] roywei commented on #9613
@sandeep-krishnamurthy Please kindly add labels, Bug, Pending Requester Info. Thanks!

[2018-02-27 19:59] lupesko commented on #9475
@xuzhenqi can you please provide more context and details about the issue?
- Use the latest release of mxnet by `$ pip install mxnet-cu90 --upgrade`
  (latest version is 1.1.0)
- Provide code that reproduces the issue
- Run diagnostic and attach output to provide more context on your setup: `$ python ./tools/diagnose.py`

[2018-02-27 19:59] sandeep-krishnamurthy commented on #9360
Hi @kmarlen1988 - You might get a quick answer on usability at - https://discuss.mxnet.io/
Closing the issue here. Please reopen if you find a bug in MXNet R package.

[2018-02-27 19:59] #9360 closed

[2018-02-27 20:03] karan6181 commented on #9275
@qxin can you please share a complete example code where you trained a coco using MXNet SSD. Also, we try to handle questions via the [Discuss Forum](https://discuss.mxnet.io), not via issues.

- Missing Details
- 30+ days old

@sandeep-krishnamurthy Please apply labels:
- MXNet
- Example

And please close the issue due to inactivity.
@qxin if done in error please feel free to re-open and comment.

[2018-02-27 20:03] lupesko commented on #9475
@sandeep-krishnamurthy please apply the label `Exception Handling`
Thanks!

[2018-02-27 20:04] sandeep-krishnamurthy commented on #9451
Hello @squidszyd, There is no explicit call to release the memory immediately. The memory allocated will be marked to release when the reference to the object is removed or marked with 'del' or when you 'force rebind' the module with new symbol.

Other alternative solution would be:
1. Using "reshape" if you want to change the shape of params and grad arrays already bound in the module.

Please re

[2018-02-27 20:04] #9451 closed

[2018-02-27 20:04] spidyDev commented on #9285
@adstraw Please try with latest source  and reopen the issue if the issue persists.

@sandeep-krishnamurthy  Please close this issue for now

[2018-02-27 20:06] #9847 closed

[2018-02-27 20:08] sandeep-krishnamurthy commented on #9344
@Kenneth-X Please reopen if the solution suggested by Mu is not working for your use case.

[2018-02-27 20:08] #9344 closed

[2018-02-27 20:08] spidyDev commented on #9279
@sandeep-krishnamurthy  Please close this issue, as the query was answered.

[2018-02-27 20:09] roywei commented on #9610
@VintonyPadmadiredja  yes, the feature shape is expected to be different if you use another model.
Please kindly raise your questions via our [Discuss Forums](https://discuss.mxnet.io/). Closing this issue since it's expected. Please reopen if close by mistake and let us know!

@sandeep-krishnamurthy  Please add label Question, and close this issue
Thanks!

[2018-02-27 20:10] karan6181 commented on #9342
@sandeep-krishnamurthy Can you please add labels:
- ARM
- Pending Requester Info

Also, 30+ day old issue. Please close the issue due to inactivity and no response from the requester.

@zhangguotai Please follow this [template](https://github.com/apache/incubator-mxnet/blob/master/.github/ISSUE_TEMPLATE.md) when you are creating an issue in future since this will help the community to identify the

[2018-02-27 20:13] ankkhedia commented on #9454
@TX2012LH  we handle questions via discuss.mxnet.io and not issues. Please file your question there.

@sandeep-krishnamurthy Please add the labels

- Question
- C++
and close the issue.
@TX2012LH  if done in error please reopen and comment

[2018-02-27 20:14] sampathchanda commented on #9226
Am too facing the same issue. Is there any update on this ?

[2018-02-27 20:14] spidyDev commented on #9721
@sandeep-krishnamurthy  Please tag: Feature Request , Gluon

[2018-02-27 20:16] spidyDev commented on #9399
@sandeep-krishnamurthy  Tag: Build

[2018-02-27 20:16] spidyDev commented on #9310
@sandeep-krishnamurthy  Tag: Exploration

[2018-02-27 20:17] karan6181 commented on #9461
@zhangguotai Can you please provide more information on the issue.
Also, Please follow this [template](https://github.com/apache/incubator-mxnet/blob/master/.github/ISSUE_TEMPLATE.md) when you are creating an issue in future since this will help the community to identify the issue faster.

@sandeep-krishnamurthy  Can you please add labels and close the issue due to inactivity:
- C++
- Pending Requ

[2018-02-27 20:19] #9894 closed

[2018-02-27 20:19] spidyDev commented on #9624
@sandeep-krishnamurthy : Tag: Bug

[2018-02-27 20:20] #9710 closed

[2018-02-27 20:20] karan6181 commented on #9703
@sandeep-krishnamurthy Can you please add this label and also close the issue as it's resolved.
- MXNet
- NDArray

Thanks!

[2018-02-27 20:21] #9754 closed

[2018-02-27 20:22] spidyDev commented on #9571
@sandeep-krishnamurthy : Add Tag : Performance

[2018-02-27 20:23] #9689 closed

[2018-02-27 20:24] anirudhacharya commented on #9350
@sandeep-krishnamurthy please tag - Build, MKL. And close this issue, it has been resolved.

[2018-02-27 20:24] spidyDev commented on #9526
@sandeep-krishnamurthy  Please Tag: Bug

[2018-02-27 20:24] karan6181 commented on #9714
@sandeep-krishnamurthy Can you please add this label
- C++
- Operator

Also, please close the issue since the issue is fixed I guess.
@TaoLv please feel free to re-open and comment if you can still reproduce the issue.
Thanks!

[2018-02-27 20:26] sandeep-krishnamurthy commented on #9751
This issue is resolved with new "Versions" dropdown.

[2018-02-27 20:26] #9751 closed

[2018-02-27 20:28] spidyDev commented on #9405
@sandeep-krishnamurthy  : Please tag: Bug

[2018-02-27 20:30] ankkhedia commented on #9517
@liangyong928 Were you able to overcome the issue after installing cuDNN as mentioned in Nvidia docs
@sandeep-krishnamurthy  Could you please tag it as
-  Pending requester info
-  Build

[2018-02-27 20:30] #9488 closed

[2018-02-27 20:31] anirudhacharya commented on #9372
@sandeep-krishnamurthy Tag this - Build. And please close the issue.

@lxwgcool reopen the issue if the problem persists.

[2018-02-27 20:33] ankkhedia commented on #9359
@janelu9  we handle questions via discuss.mxnet.io and not issues. Please file your question there.

@sandeep-krishnamurthy Please add the labels

Question
Gluon
and close the issue.
@janelu9  if done in error please reopen and comment

[2018-02-27 20:37] anirudhacharya commented on #9358
@sandeep-krishnamurthy Please add the labels - R, Bug.

@jeremiedb is the fix for this bug merged? Can you please link the PR with the bug fix to this issue.

[2018-02-27 20:47] ankkhedia commented on #9325
@zsong How did you install mxnet. Could you please uninstall existing mxnet and follow instruction from the following documentation to install mxnet for your windows.
https://mxnet.incubator.apache.org/get_started/windows_setup.html

@sandeep-krishnamurthy
Please add the following tags:
- pending requester info
- Installation

[2018-02-27 20:52] anirudhacharya commented on #9695
@tonnywang Please share your environment and installation details. Also share steps and code to reproduce the error.

@sandeep-krishnamurthy Please add the labels - Python, Pending Requester Info.

[2018-02-27 20:54] Roshrini commented on #9680
@KeyKy please submit general questions on [Discuss forum](discuss.mxnet.io) for quicker response.

@sandeep-krishnamurthy can you add labels
- Question
- Doc
and close this issue?

[2018-02-27 20:56] roywei commented on #9715
@sandeep-krishnamurthy Please kindly add Label: Bug
Thanks!

[2018-02-27 20:58] anirudhacharya commented on #9686
@sandeep-krishnamurthy Please tag this - API Change, Call for Contribution, Roadmap.

[2018-02-27 21:03] roywei commented on #9509
please refer: https://github.com/Johnson-yue/sphereface_mxnet_gluon
Also please raise questions on [Discussion Forums](https://discuss.mxnet.io) instead of issue
Closing this issue.
Thanks
@sandeep-krishnamurthy please add Label Question, and close this issue.

[2018-02-27 21:06] mbaijal commented on #9702
@sandeep-krishnamurthy @anirudhacharya
Not yet. i will resolve this issue once I fix it.

[2018-02-27 21:11] roywei commented on #9507
@jimm1973 Closing this issue for now, please reopen if issue persists and a core file is available.
@sandeep-krishnamurthy Please add label:  Pending Requester Info, and close this issue
Thanks!

[2018-02-27 21:11] Roshrini commented on #9693
@sandeep-krishnamurthy Can you add the following labels and close the issue.
Python, NDArray, Question

@FCInter Please feel free to comment/reopen if the problem still persists.

[2018-02-27 21:12] karan6181 commented on #9724
@sandeep-krishnamurthy Can you please add labels:
- MXNet
- C++
- Pending Requester Info

@zhangguotai could you provide more details on the issue.
Also, please follow this [template](https://github.com/apache/incubator-mxnet/blob/master/.github/ISSUE_TEMPLATE.md) when you are creating an issue in future since this will help the community to identify the issue faster.
Thanks!

[2018-02-27 21:12] anirudhacharya commented on #9842
@sandeep-krishnamurthy Please add the labels - Gluon, Python.

We will wait for @sxjscience or @piiswrong to confirm if it is a bug in the current implementation or a new feature that needs to be added.

[2018-02-27 21:15] roywei commented on #9410
@sandeep-krishnamurthy please kindly add label: Bug, thanks!

[2018-02-27 21:20] vdantu commented on #9758
@sandeep-krishnamurthy : Tag it to label "question" and can be closed.

[2018-02-27 21:20] karan6181 commented on #9278
@taylover-pei As per your comments, it seems that you have faced some problem while running NasNet code. Can you please provide more information, such as code examples, library versions, traceback, etc.

Are you referring to this code?
https://github.com/qingzhouzhen/incubator-mxnet/blob/nasnet/python/mxnet/gluon/model_zoo/vision/nasnet.py

Please follow this [template](https://github.com/apache/i

[2018-02-27 21:25] #9278 closed

[2018-02-27 21:26] lupesko commented on #9357
@quietsmile going forward please file questions like this in [discuss.mxnet.io](https://discuss.mxnet.io). GitHub issues are for reporting bugs, feature requests, performance issues, etc.

@sandeep-krishnamurthy kindly asking to label as "Question" and close.

[2018-02-27 21:28] #9758 closed

[2018-02-27 21:28] spidyDev commented on #9413
@xuw080 Could you provide a complete model that we can use to test this.

[2018-02-27 21:28] spidyDev commented on #9413
@sandeep-krishnamurthy Please tag: Question

[2018-02-27 21:31] ankkhedia commented on #9307
@wkcn we handle questions via discuss.mxnet.io and not issues. Please file your question there.

@sandeep-krishnamurthy Please add the labels

- Question
- Optimiser
and close the issue.
@wkcn  if done in error please reopen and comment

[2018-02-27 21:32] vdantu commented on #9753
@sandeep-krishnamurthy : This issue was resolved. Tag it to label "Installation" "question"

[2018-02-27 21:34] lupesko commented on #9326
Thanks for the contribution @opringle !

@sandeep-krishnamurthy kindly label as "Example" and close the issue.

[2018-02-27 21:37] Roshrini commented on #9711
@dwSun Please use discuss.mxnet.io forum for usability questions like this to get quicker answer and get a larger audience involved.

@sandeep-krishnamurthy Can you add label
- Question and close the issue

[2018-02-27 21:40] Roshrini commented on #9419
@sandeep-krishnamurthy Can you add labels
- Feature Request, Gluon
and close the issue as the PR is already merged.

[2018-02-27 21:40] #9326 closed

[2018-02-27 21:41] #9711 closed

[2018-02-27 21:44] #9419 closed

[2018-02-27 21:44] karan6181 commented on #9467
@sandeep-krishnamurthy Can you please add labels:
- CI

Thanks!

[2018-02-27 21:45] #9753 closed

[2018-02-27 21:46] vdantu commented on #9531
@Rikorose: Have you seen this behavior recently?

@sandeep-krishnamurthy : Could you label it  "Python", "ndarray", "need triaging" for now.

[2018-02-27 21:46] #9307 closed

[2018-02-27 21:47] lupesko commented on #9511
@sandeep-krishnamurthy kindly add labels:
- Request
- Python

[2018-02-27 21:47] karan6181 commented on #9338
@sandeep-krishnamurthy Can you please add labels:
- Gluon
- Python

Thanks!

[2018-02-27 21:49] Roshrini commented on #9393
@zhangguotai Can you provide more details on the issue. Please use provided format while creating the issue. It helps to reproduce and debug the error.

@sandeep-krishnamurthy Please add labels
- Pending Requester Info
- Python
- Example

[2018-02-27 21:52] #9513 closed

[2018-02-27 21:54] roywei commented on #9600
@sandeep-krishnamurthy Please add label: Question, Exploration, thanks!

[2018-02-27 21:54] #9452 closed

[2018-02-27 21:55] #9555 closed

[2018-02-27 21:56] #9729 closed

[2018-02-27 21:59] lupesko commented on #9474
@weishy-xun - did the suggestion above to use `MXNET_GPU_MEM_POOL_RESERVE` help with the issue?
Since there was no response in over a month I think it is best to close the issue, feel free to re-open if you think it is done in error.

@sandeep-krishnamurthy kindly close the issue and label as "CUDA" (asking for a new label)

[2018-02-27 22:00] roywei commented on #9565
@sandeep-krishnamurthy please add label: R, thanks!

[2018-02-27 22:05] #9483 closed

[2018-02-27 22:07] Roshrini commented on #9611
@sandeep-krishnamurthy Can you add labels
- Distributed
- Python
- Example

[2018-02-27 22:13] #9521 closed

[2018-02-27 22:15] sampathchanda commented on #8419
Is there any update on this? Am also facing this issue.

[2018-02-27 22:16] karan6181 commented on #9745
@sandeep-krishnamurthy Can you please add labels:
- Python
- Call for contribution
- Example

@yifeim Can you please create a PR for this with relevant changes so that members can review it.

Thanks!

[2018-02-27 22:19] #9725 closed

[2018-02-27 22:21] #9563 closed

[2018-02-27 22:22] #9421 closed

[2018-02-27 22:22] roywei commented on #9527
@panovr Hi, please kindly provide steps to reproduce the error, when did the segment fault happen? if it's related to opencv, please refer to [this issue](https://github.com/apache/incubator-mxnet/issues/8569). Thanks

@sandeep-krishnamurthy Please add label: Python, Pending requester info

[2018-02-27 22:23] karan6181 commented on #9304
@sandeep-krishnamurthy Can you please add labels:
- NDArray
- Call for Contribution

Thanks!

[2018-02-27 22:24] #9691 closed

[2018-02-27 22:25] #9737 closed

[2018-02-27 22:26] #9308 closed

[2018-02-27 22:27] #9515 closed

[2018-02-27 22:27] vdantu commented on #9529
@jacky4323 : Are you still seeing this issue? Also, this looks like an error in forked-and-modified branch of mxnet. You should raise an issue with that repository. If you want larger audience for this issue, raise a discussion at "discuss.mxnet.io"

@sandeep-krishnamurthy: Please close the issue. Label  "question", "cuda"

[2018-02-27 22:28] #9449 closed

[2018-02-27 22:37] #9275 closed

[2018-02-27 22:38] roywei commented on #9897
@sandeep-krishnamurthy please kindly add label: Python, Data Visualization, thanks!

[2018-02-27 22:39] sandeep-krishnamurthy commented on #9475
@anirudh2290 - Your recent work on exception handling, covers this usecase?

[2018-02-27 22:39] #9285 closed

[2018-02-27 22:40] yifeim commented on #9745
Hi Karan,

Thanks for attending to this issue. Unfortunately, I ended up using NDArrayIter instead of creating my own. Since I did not find a good use case for a custom DataIter, and additionally, anyone who is really interested in DataIter should write one in C++, e.g., LibSVMIter. I guess I should be working at lower levels if I were to create a PR.

In short, fixing the doc does not solve a mor

[2018-02-27 22:41] sandeep-krishnamurthy commented on #9897
@reminisce - Any suggestions?

[2018-02-27 22:41] vdantu commented on #9520
@sandeep-krishnamurthy: Label "BLAS" "Need Triaging"

@yuantangliang: Are you still seeing this issue? Could you give more information on how to reproduce it. Especially "Minimum reproducible example" section. This helps in debugging it further. And have you started a discussion on discuss.mxnet.io . If yes, could you post that link here for any-one coming to this link?

[2018-02-27 22:41] #9529 closed

[2018-02-27 22:46] vdantu commented on #9516
@sandeep-krishnamurthy: Label "CUDA", "Question"
@leezu : If you are still seeing this issue, could you give further information to @cjolivier01?

[2018-02-27 22:50] sandeep-krishnamurthy commented on #9565
Same as this query - https://stackoverflow.com/questions/48455833/are-saved-mxnet-models-gpu-or-system-specific

[2018-02-27 22:50] #9474 closed

[2018-02-27 22:51] sampathchanda opened #9903 "Issue with homebrew/science while installing from source on Mac"
## Description
homebrew/science seems to be deprecated and stopping the installation of MXNET from source on Mac.
[code]

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia): Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

MXNet commit hash: 581cf9001a87542f59668f45293efea26632ac23

Build config:
[code]

## Error Message:
[c

[2018-02-27 22:52] sandeep-krishnamurthy commented on #9600
@gaosanyuan - Can you please ask usability and best practices question at https://discuss.mxnet.io
Resolving this issue. Please feel free to reopen if you find bugs/issues with MXNet.

[2018-02-27 22:52] #9600 closed

[2018-02-27 22:58] sampathchanda commented on #9903
Solved by changing all references of **homebrew/science** to **homebrew/core** in the installation script, since homebrew/science is migrated officially.

[2018-02-27 22:58] #9903 closed

[2018-02-27 22:58] vdantu commented on #9455
@sandeep-krishnamurthy : please label this "Question" and close this. This seems to have been resolved.

[2018-02-27 23:00] #9279 closed

[2018-02-27 23:00] #9610 closed

[2018-02-27 23:00] vdantu commented on #9465
@RogerBorras : Could you be a little more precise on what you want? Also, if this is a generic question you could start a discussion at https://discuss.mxnet.io/

@sandeep-krishnamurthy : please label this "question" and this can be closed.

[2018-02-27 23:01] #9342 closed

[2018-02-27 23:02] #9454 closed

[2018-02-27 23:04] #9461 closed

[2018-02-27 23:07] #9703 closed

[2018-02-27 23:08] #9350 closed

[2018-02-27 23:09] vdantu commented on #9317
@cookingbear : Does this answer your question? Since this is a general question, please move this discussion to discuss.mxnet.io to get a larger audience.

@sandeep-krishnamurthy : please label this issue as "Question" and close this.

[2018-02-27 23:14] #9372 closed

[2018-02-27 23:14] #9359 closed

[2018-02-27 23:15] piiswrong commented on #9842
This is a bug. We should look into it

[2018-02-27 23:15] #9317 closed

[2018-02-27 23:15] vdantu commented on #9274
@nehaljwani : Does this solve your issue?

@sandeep-krishnamurthy : Please label this as "Compilation Errors" and close this.

[2018-02-27 23:19] sandeep-krishnamurthy commented on #9325
This is the right install guide - https://mxnet.incubator.apache.org/install/index.html

[2018-02-27 23:21] piiswrong commented on #9842
Actually. This is not a MXNet bug. Although the error message is not clear.

What happened is Conv2D block relies on the mx.sym.Convolution operator to figure out weight shape from data. Adding a custom op to weight blocks that shape inference path.

You can solve this by specifying the in_channels argument for Conv2D.

We should improve the error message and report "Deferred initialization failed

[2018-02-27 23:22] #9509 closed

[2018-02-27 23:25] #9357 closed

[2018-02-27 23:25] vdantu commented on #9408
@marcoabreu : Are you still seeing this conflicts?

@sandeep-krishnamurthy : Please label it as "CI".

[2018-02-27 23:26] vdantu commented on #9274
@sandeep-krishnamurthy : Sorry for the above .. Please label this "Build" and close this

[2018-02-27 23:29] #9455 closed

[2018-02-27 23:30] #9465 closed

[2018-02-27 23:33] piiswrong commented on #9543
I don't think any one is working on this. This can be added as an option of sym.RNN. when use_mask=True, RNN can take an extra argument.

ping @DickJC123 again

[2018-02-27 23:34] #9274 closed

[2018-02-27 23:58] sampathchanda commented on #9226
Turned out that I was using not using some layers in the forward function, that were already defined under the blocks scope. Fixed now!

[2018-02-28 00:16] ehsanmok opened #9905 "Add MaxUppooling in Gluon"
There's no UpPooling layer in Gluon MXNet which is mostly needed after Conv1DTranspose and that makes impl of various conv-autoencoder rather difficult for larger networks and not wanting to deal with Symbols.

It'd be great if you could add it soon.

[2018-02-28 00:27] zhaodongsun commented on #9713
@Roshrini The issue was solved with smaller batch size

[2018-02-28 00:27] #9713 closed

[2018-02-28 00:29] anirudh2290 commented on #9475
Currently, MXNet only catches dmlc::Error and for other exceptions the process is terminated. Catching exception from dependent libraries will require more work, as it requires changing the c api guard code and the exception mapping and testing for different front-ends.

[2018-02-28 00:52] anirudhacharya opened #9907 "Error while building Mxnet from source on MacOS Sierra"
## Description
I am unable to build mxnet from source in a new conda environment on my Mac based on this documentation - https://mxnet.incubator.apache.org/install/index.html1
While building the script errors out in the middle with the error message -

Error: homebrew/science was deprecated. This tap is now empty as all its formulae were migrated.

The source repo for homebrew/science has been dep

[2018-02-28 01:28] marcoabreu commented on #9408
Thank you for reminding me. This was due to a permission issue on CI side.

[2018-02-28 01:28] #9408 closed

[2018-02-28 01:37] sampathchanda commented on #9907
@anirudhacharya Refer to #9903 for getting a fix to this issue. I will try to submit a PR for the same.

[2018-02-28 01:47] CoinCheung opened #9909 "mx.random.seed(seed) does not work for mx.io.ImageRecordIter() ?"
## Description
The random seed of mx.io.ImageRecordIter() cannot be  changed with mx.random.seed(seed).

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using python)

## Minimum reproducible example
(If you are using your own code, please provide a short script that reproduces the error. Otherwise, please provide link to the existing example.)
[code]

## Steps to

[2018-02-28 01:48] marcoabreu commented on #9909
@DickJC123

[2018-02-28 02:07] KeyKy commented on #9680
https://github.com/apache/incubator-mxnet/issues/discuss.mxnet.io -> returns not found....

[2018-02-28 02:10] sandeep-krishnamurthy commented on #9680
https://discuss.mxnet.io/

[2018-02-28 02:59] eric-haibin-lin commented on #9881
@sxjscience supposedly it's used in all optimizers
AdaDelta doesn't multiply wd and lr.

[2018-02-28 03:04] pharish93 commented on #9690
1. I couldn't repeat the issue after changing the work space size to 4096,
I have run it for about 1.5 days now ,
2.  https://github.com/pharish93/FaceDetection/tree/code_restructure
 is the code I was working on ... Face_3D_Models/face_3d/symbol/ gives the symbols file

[2018-02-28 03:04] #9690 closed

[2018-02-28 03:08] #9680 closed

[2018-02-28 03:20] DickJC123 commented on #9909
Aren't you always creating a dataiter with an internal rng seeded by seed=1?

[2018-02-28 04:01] huyangc opened #9911 "The different between rescale_grad on optimizer and normalization in loss layer."
When I normalization the gradient of the SoftmaxOutput using ``normalization=valid``, and setting the ``rescale_grad=1/batchsize``, it seems like that  the gradient will be rescale twice?  First is using the number of valid label and second using the batchsize?

[2018-02-28 04:18] CoinCheung commented on #9909
Yes, what if I would like to change the seed after fetching three batches? The only moment to set the seed is when I define it. Thus once I define it, every thing is fixed and I have no way to add more randoms in my sample batches?

It is said that I could reset the seed by adding a line mx.random.seed(4) at where I need it. However, it does not work from my observation in the code I provided in t

[2018-02-28 04:42] juliusshufan commented on #9866
@sxjscience May I have any comments for this issue, I understand normally it is the user to decide the weight initialization method. For this case, as the current implementation of the example explicitly uses a different initialization method for Alexnet to avoid convergence issue, it might be possible to follow similar way for VGG... What do you think?

Thanks.

[2018-02-28 04:56] sxjscience commented on #9866
I think it's a nice catch and should be merged.

[2018-02-28 05:01] jeremiedb commented on #9358
Bug to be fixed by this open PR  #9803

[2018-02-28 05:03] sxjscience commented on #9866
Closed by https://github.com/apache/incubator-mxnet/pull/9867

[2018-02-28 05:03] #9866 closed

[2018-02-28 05:27] dimon777 opened #9912 "No training happening when CSVIter() is used."
## Description
It appears to CSVIter or something else in MXNet is broken which makes it impossible to train model with CSVIter feeds, resulting:
[code]
I have a reproducible case with CSV MNIST dataset here:
https://github.com/dimon777/mxnet-cvsiter

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

## Error Message:
No error message but training is converging t

[2018-02-28 05:49] Rikorose commented on #9531
No, I close this for now. I'll

[2018-02-28 05:50] #9531 closed

[2018-02-28 06:11] anirudh2290 opened #9913 "TODO list for Exception Handling Support"
# Exception Handling Phase 2
- [ ] Improved Exception Types for the Backend
- [ ] Improved Exception Types for the Frontend Language Bindings - (Python, Scala, Perl..)
- [ ] Support for handling exception thrown from consumed libraries

Please see: https://cwiki.apache.org/confluence/display/MXNET/Improved+Exception+Handling+in+MXNet+-+Phase+2 for additional details on the tasks.

[2018-02-28 06:12] anirudh2290 commented on #9913
Can a committer please add the "Call for Contribution" tag.

[2018-02-28 06:39] XiaotaoChen commented on #9611
Can you tell me the details of setting epoch-size? @feiyuvl
  I set the epoch-size behind the train_imagenet.py. it tells:
------------------------------------------------
train_imagenet.py: error: unrecognized arguments: --epoch-size 320
---------------------------------
 [this docs]( http://newdocs.readthedocs.io/en/latest/distributed_training.html) says it's better to set epoch_size explicitly

[2018-02-28 06:55] chengdazhi opened #9914 "Gluon speed issus when input size varies across batches"
Hi. I have noticed that the gluon framework has speed issues when the input spatial size varies across batches. It causes an approximate **2x delay** on a single GPU, and makes **multiple GPUs to have little gain**. The framework discards previous GPU memory blocks when start processing a new batch, which leads to violent GPU memory fluctuations.

This problem is absent in previous non-gluon train

[2018-02-28 07:42] yzzymt commented on #8671
realese date for cu91 for win? Xiexie

[2018-02-28 07:51] TaoLv commented on #9828
@sbodenstein Please update your mkldnn to the latest version to see if the compilation issue is addressed. If so, we will submit a seperated PR to update mkldnn version in mxnet. Thanks.

[2018-02-28 07:53] zheng-da commented on #9844
It seems this bug is caused by the implementation of bmod. We can easily reproduce the error as below.

[code]

[2018-02-28 07:59] zheng-da commented on #9843
This test also fails constantly with a special seed.
[code]

[2018-02-28 08:30] shipeng-uestc opened #9915 "Our FCN-xs result on Pascal VOC Validation"
Hi, all.@lupesko
@sandeep-krishnamurthy
I want to know the result by use our fcn-xs to train on pasacl voc dataset.
The IoU on validation dataset?
Thanks.I am looking forward to your reply.

[2018-02-28 10:13] zheng-da commented on #9856
This failure is also caused by floating-point precision and can be reproduced by some specific random seed.

[code]

[2018-02-28 10:26] zheng-da opened #9916 "precision bug in batchnorm."
## Description
I noticed this error when MKLDNN is built into MXNet. I haven't tested the case without MKLDNN.

[code]

[2018-02-28 11:22] dabraude opened #9917 "404 Error on website"
When navigating:
Docs-> Architecture -> MXNet System Overview
Trys to go to:
https://mxnet.incubator.apache.org/versions/1.1.0/architecture/overview.html

and gets a 404 error

[2018-02-28 12:38] marcoabreu commented on #9914
Would you mind providing an MVE?

[2018-02-28 12:41] marcoabreu commented on #9917
Thank you for reporting this. There seems to be a problem with the links in general.

https://mxnet.incubator.apache.org/versions/0.12.1/architecture/index.html for example, links to the main version.

[2018-02-28 12:57] wkcn opened #9920 "Asynchronous Issue on CustomOP and mxnet.image.ImageDetIter"
## Description
When I use `CustomOP` and `mxnet.image.ImageDetIter` **simultaneously**, it may cause the error:
[code]
The reason is that the custom operator will create the GPU context and enter it.
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/operator.py#L790
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/operator.py#L814

At this time (context.default_c

[2018-02-28 12:59] eric-haibin-lin opened #9921 "[DISCUSSION] module.contrib.SparseModule API"
As of now, the only way to train a model with sparse operators is using the Module API (sparse support for Gluon API not ready yet). However, the existing Module API is not a good fit for training sparse models with KVStores present. This thread discusses how to provide a user-friendly module API for sparse symbols, which serves as a guideline before the feature is added into Gluon.

## Why the cu

[2018-02-28 15:30] Pagey commented on #9859
we encountered this (JSONReader: Unknown field attrs etc.) when loading models which were trained on a machine that had an older version of mxnet (ver ~0.90) compared with the version on the loading/predicting machine  (ver ~1.1)- please check if this is your case and then match the versions (looks like backwards compatibility, i.e. the other direction, works fine)

[2018-02-28 16:23] chsin commented on #9800
Closed with merge of #9809

[2018-02-28 16:23] #9800 closed

[2018-02-28 17:00] mengyuest commented on #9533
@ankkhedia Yeah I have already raised an issue to dmlc/minpy and they told me to use gluon. I tried gluon and it worked. Thanks. Followed is what they told me.
[code]

[2018-02-28 17:37] sxjscience commented on #9533
@mengyuest Sounds great! I'll close the issue.

[2018-02-28 17:37] #9533 closed

[2018-02-28 17:38] Lucasyc commented on #6023
I got the similar error and my system is ppc64le.

[2018-02-28 17:49] sxjscience commented on #9843
Should I revise the code to use a smaller threshold?

[2018-02-28 18:24] DickJC123 commented on #9909
To get a ImageRecordIter.next() value that is not deterministically based on the original seed, you would have to replace the ImageRecordIter with a new one created with a new random seed.  If the documentation says otherwise, that should be corrected.

[2018-02-28 18:36] piiswrong commented on #9920
Need to use thread local structures to store global states like context

[2018-02-28 18:45] dmazzoni commented on #3351
@billhyde Sorry but I switched to Tensorflow, so I haven't tried anything more to make it work

[2018-02-28 20:29] anirudh2290 commented on #9913
Thanks @marcoabreu !

[2018-02-28 20:38] anirudh2290 commented on #9813
@samhodge this pr once merged should help your use case: #9893

[2018-02-28 20:52] anirudh2290 commented on #9921
Why do we need both kvstore.row_sparse_pull and kvstore.pull in the example:

[code]

[2018-02-28 23:32] anirudh2290 commented on #8681
This issue seems abandoned. @eric-haibin-lin can you please help close this ?

[2018-02-28 23:34] anirudh2290 commented on #8679
@liumilan i don't completely understand the question. Can you please expand on what is the problem you are trying to solve, and what is not working as expected.

[2018-03-01 00:17] rahul003 commented on #9557
It doesn't look like a bug per se. The update is still done after pulling from the kvstore. I'm not sure if there is a reason why the update is done here rather than on the kvstore

Regarding the second point, that is just the init. And update_on_kvstore is only false when kvstore is local. Maybe there is one pull that can be saved, need to look into that.

[2018-03-01 00:26] eric-haibin-lin commented on #8681
Closing due to inactivity

[2018-03-01 00:26] #8681 closed

[2018-03-01 02:39] alireza202 opened #9935 "Matplotlib plot crashes Jupyter Notebook with segmentation fault: 11"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-01 02:54] zhengduoru opened #9937 "fatal error: cblas.h: No such file or directory"
My system is Ubuntu 16.04.
when I run code `make -j4  USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1`

I got the error

g++ -std=c++11 -c -DMSHADOW_FORCE_STREAM -Wall -Wsign-compare -O3 -I/home/duoduo/github/mxnet/mshadow/ -I/home/duoduo/github/mxnet/dmlc-core/include -fPIC -I/home/duoduo/github/mxnet/nnvm/include -Iinclude -funroll-loops -Wno-unused-variable -

[2018-03-01 03:19] KishoreKarunakaran opened #9938 "mxnet installation issue on Win 10 - module gluon.data.dataset has no attribute DownloadedDataset"
I have used **pip install mxnet** to install mxnet and now I'm getting an **AttributeError: module 'mxnet.gluon.data.dataset' has no attribute '_DownloadedDataset'**
[code]

[2018-03-01 03:24] szha commented on #9938
@yajiedesign

[2018-03-01 06:03] reminisce commented on #9937
You need to install openblas. Please follow the steps here for building from source.
http://mxnet.incubator.apache.org/install/index.html
Try this
`sudo apt-get install libopenblas-dev`.

[2018-03-01 08:28] eric-haibin-lin commented on #9921
Hi @anirudh2290

Thanks for the comments!!

1. My intention for the following code is that pull/row_sparse_pull should happen when we see a new batch of data. Currently pull works for dense NDArray and row_sparse_pull works for row_sparse NDArray. A network might have both dense and sparse layers and we need to rsp_pull/pull both.
[code]

2. update_on_kvstore=False doesn't use kvstore to store the

[2018-03-01 09:21] feiyuvl commented on #9611
@XiaotaoChen sorry, mxnet has removed the epoch-size arg, which only exists in old version

[2018-03-01 09:50] phizaz commented on #7653
Using `np.float16` causes it to die.

[code]

[2018-03-01 10:43] XiaotaoChen commented on #9611
And then, how to solve the problem that the total iteration of each worker is different in the current version? @feiyuvl

[2018-03-01 10:47] XiaotaoChen opened #9941 "how to set epoch_size for distributed training in the current version?"
[this docs](http://newdocs.readthedocs.io/en/latest/distributed_training.html) says it's better to set epoch_size explicitly in dist_sync. but haven't tell how to set.
@feiyuvl  said mxnet had remove the epoch_size arg in the current version, So how to guarantee the total iteration of each worker to the same number.

[2018-03-01 10:55] marcoabreu commented on #9820
Fixed as of #9862

[2018-03-01 10:55] #9820 closed

[2018-03-01 11:26] feiyuvl commented on #9911
Yes， it will rescale twice

[2018-03-01 13:04] lebeg commented on #8917
The build should be stable now.

[2018-03-01 13:05] lebeg commented on #9646
The android build is fixed.

[2018-03-01 13:08] lebeg commented on #9859
The Android build should be fixed now, so you could build and use the latest version.

[2018-03-01 13:12] edmBernard commented on #9646
cool

[2018-03-01 13:22] #9646 closed

[2018-03-01 13:37] qingyuanxingsi opened #9944 "MXNet MinGW-w64 build error"
## Description
Trying to build mxnet cpp package in Windows 7 using MinGW-w64, meeting following error.

## Environment info (Required)

Windows 7

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): mingw-w64

MXNet commit hash:
661bcef3204f18ff4cb1879f06b3767fe9d226b5

Build config:
**CMAKE Info**

[code]

## Error Message:
(Paste the complete error message,

[2018-03-01 14:54] huyangc commented on #9911
orz, if so, I think it is a little hard to just rescale some specific layers' gradient.

[2018-03-01 15:12] KishoreKarunakaran commented on #9938
I fixed it by first uninstalling current mxnet packages and updating my conda packages and installed it again. Now it works.

[2018-03-01 15:13] #9938 closed

[2018-03-01 15:14] KishoreKarunakaran commented on #8671
@szha when can we get cu91 for win ?

[2018-03-01 15:18] eric-haibin-lin opened #9945 "Improve dot(csr, row_sparse) on CPU"
The following benchmark results shows that dot(csr, row_sparse) is slow when non-zeros spread out (credit to Saswata)

### Setup
* instance type: m4.2xlarge
* network:
[code]

* SGD optimizer + local kv store.
* Times measured using mxnet profiler. Times are averages across 50 mini-batches

### Results

Batch_size = 1000, NNZ (per row)= 1000, non-zeros chosen uniformly at random for every row

Dim

[2018-03-01 15:58] ZiyueHuang commented on #9945
working on it

[2018-03-01 17:50] mli commented on #9611
@XiaotaoChen This doc http://newdocs.readthedocs.io is outdated, it was created by a contributor long time ago but not updated.

I'll ping the internal team to check how to resolve it

[2018-03-01 18:50] anirudh2290 commented on #9921
@eric-haibin-lin Thank you ! Can the api be such that it allows to provide static dictionary if needed, to avoid the performance overhead of the lambda function calls when not necessary.

[2018-03-01 19:09] sxjscience opened #9948 "[Doc] Overlapping between footer and the left column + Strange nav-link highlighting"
1. Footer looks strange:
See https://mxnet.incubator.apache.org/versions/1.1.0/architecture/index.html and https://mxnet.incubator.apache.org/versions/1.1.0/api/c++/index.html There is overlapping between the footer and the left column.
2. The chosen nav-link is not highlighted. The current behavior is quite strange.
Click "Docs - Architectures" and `Github` is highlighted.
Click "Docs - Tutorials

[2018-03-01 19:22] szha commented on #8671
@yajiedesign is working on it.

[2018-03-01 21:58] aaronmarkham commented on #9824
This has been fixed. @lebeg can you confirm and close if it works for you?

[2018-03-01 22:06] aaronmarkham opened #9949 "Mac build from source script validation fails"
## Description
The installation instructions for Mac, refer you to this script:
https://raw.githubusercontent.com/dmlc/mxnet/master/setup-utils/install-mxnet-osx-python.sh

If "fails" at the end during a test.

## Environment info (Required)

macOS 10.12.6 (Sierra)

MXNet commit hash:
I chose to use the v1.1.0 tag for the install, so this is:
07a83a0325a3d782513a04f47d711710972cb144

## Error Mess

[2018-03-01 22:19] sxjscience opened #9950 "[OP] LayerNorm in MXNet"
## Description

[Layer Normalization](https://arxiv.org/pdf/1607.06450.pdf) is becoming more and more common in deep learning models, especially RNNs. We need to support the layer normalization layer. Although we can implement it by combining the existing symbols, e.g, [Implementation in Sockeye](https://github.com/awslabs/sockeye/blob/master/sockeye/layers.py#L53-L112), the speed and memory cost

[2018-03-01 22:44] sxjscience commented on #9944
I think you can try to use Visual Studio instead. In fact, compiling by "Visual Studio" could be very simple after you get familiar with the tool. You can try to follow the [Windows Installation Guide](http://mxnet.incubator.apache.org/install/windows_setup.html). It uses VS2015 + CMake.

[2018-03-01 23:04] FrankLongueira opened #9952 "Latest Windows pre-built binary for R?(MXNet Version 1.1.0)"
Will the Windows pre-built binary for R be updated to the latest version soon? If not, where can I find the best instructions for building from source?

[2018-03-01 23:28] sxjscience commented on #9952
@hetong007

[2018-03-02 00:05] saswatac commented on #9921
Looks good. Why not add this in module itself instead of contrib?

[2018-03-02 01:55] John-Boik commented on #9838
I created a small application to replicate one of the problems. In the code below, the error occurs due to the print statement as noted.
[code]
The error is:

[code]

This is one of the errors that I saw with my real code. It occurs near line 127 in parameters.py. A fix is pasted below.

[code]

I am not seeing the additional errors with this short app that I saw with my real code, the errors due

[2018-03-02 02:02] SamaelChen opened #9956 "Runtime errors during multiple outputs training under Ubuntu"
## Description
Build a multiple output network but cannot train under Ubuntu. Refer https://discuss.mxnet.io/t/runtime-errors-during-multi-label-learning-using-ubuntu-but-not-mac/264

## Environment info (Required)
----------Python Info----------
Version      : 3.6.4
Compiler     : GCC 7.2.0
Build        : ('default', 'Jan 16 2018 18:10:19')
Arch         : ('64bit', '')
------------Pip Info-------

[2018-03-02 04:02] sxjscience commented on #9956
@SamaelChen I've answered the question here https://discuss.gluon.ai/t/topic/4941/2

[2018-03-02 04:07] eric-haibin-lin opened #9957 "R Package Fails to Build since #9882"
Master build broken since #9882 - although the PR didn't touch anything related to R.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/438/pipeline/462

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/439/pipeline

@marcoabreu are you aware of any related changes on CI?

[2018-03-02 05:55] sxjscience opened #9959 "Revise the profiler examples and documents"
## Description

The new profiler API uses new arguments and functions and breaks the examples in https://github.com/apache/incubator-mxnet/tree/master/example/profiler. Also the documents in https://mxnet.incubator.apache.org/faq/perf.html need to be updated

[2018-03-02 06:22] jeremiedb commented on #9957
DiagrammeR (package dependency used for graph visualisation) has just released 1.0 version in which a function is longer supported. I can open a PR to have this fixed.

[2018-03-02 06:56] pengzhao-intel commented on #9959
@sxjscience I will file a PR to update the latest CPU performance later.

[2018-03-02 06:58] pengzhao-intel commented on #9916
@zheng-da could you try w/o MKL-DNN backend?

[2018-03-02 07:26] qingyuanxingsi commented on #9944
Actually I have tried build mxnet cpp package in various platforms, including linux, mac os and Windows, however it is really painful to build mxnet in Windows. Linux and mac works quite fine.

Building mxnet cpp package using VS 2017 got following error:

[code]

1. How to fix the windows build error??
2. Can mxnet built using mingw??If so, would be tell me how to solve the mingw build problem???

[2018-03-02 07:33] fhieber commented on #9950
I think this would be a great addition (also see #6995).

[2018-03-02 07:33] SamaelChen commented on #9956
@sxjscience Thanks

[2018-03-02 07:33] #9956 closed

[2018-03-02 07:35] sxjscience commented on #9944
I haven’t tried VS2017 and MinGW. I’ve only successfully compiled the package using VS2015. You can try the same software configurations as described in the doc.

[2018-03-02 07:38] qingyuanxingsi commented on #9944
@sxjscience

OK, I can download VS 2015 and give it a try!  Can anyone in the team give some instructions on building mxnet using MinGW/MinGW-w64/cygwin2??

[2018-03-02 08:26] marcoabreu commented on #9957
@jeremiedb thanks a lot for the investigation. That would be great!

[2018-03-02 08:50] tdomhan commented on #9950
This would be great to have indeed :)

[2018-03-02 09:32] eric-haibin-lin commented on #9957
Thanks @jeremiedb  that will be very helpful unblocking PRs

[2018-03-02 09:41] lebeg commented on #9824
I like the 'Will be available soon.'

[2018-03-02 09:41] #9824 closed

[2018-03-02 09:55] lebeg commented on #9944
Hm, I'm not sure about the build messages you've posted, but I assume that cpp package build is broken on windows. Can you try building with -DUSE_CPP_PACKAGE=0 if you don't need it for now?

I will check the windows build.

[2018-03-02 10:01] yanhn commented on #3946
@gold-mango Have you found some solutions?
I am working on Jetson TX2 and I need to do head detection on 3 input video streams.
My experiments result shows that:
1) for single video stream with 1 executor, detection costs 25ms per frame;
2) for 2 thread with 2 executors, detection costs 45ms per frame, almost doubled.
So is there any optimization?

[2018-03-02 11:31] HaoLiuHust opened #9962 "how to group 2 or more outputs in gluon just like sym.Group()"
[code]
for example, I want to group 2 outputs, and then split them in loss, how could I do it?  just return a list can not work, it will encounter error in Loss, since forward need symbol or ndarray
@piiswrong

[2018-03-02 11:44] HaoLiuHust commented on #9962
I can do it in an ugly way...use F.concat, and then slice it

[2018-03-02 18:36] KishoreKarunakaran commented on #9952
is there latest prebuilt mxnet-cu90 binary for win10 (i.e. Mxnet 1.1.0.) So far I was only able to find linux packages [here](https://pypi.python.org/pypi/mxnet-cu90/1.0.0) ?

[2018-03-02 19:06] marcoabreu commented on #9957
Hello @jeremiedb, I have submitted a temporary fix at https://github.com/apache/incubator-mxnet/pull/9964. Could you upgrade DiagrammeR to 1.0.0 and resolve the breaking changes?

[2018-03-02 19:18] marcoabreu commented on #9952
@yzhliu

[2018-03-02 19:24] cgraywang commented on #9572
@Feywell @zhreshold Is the issue still there? I tested on linux gpu and cpu with both mx version 1.0.0 and master version. There is no issue. The behavior on cpu and gpu are also same. If the issue still there, have you tried upgraded the mxnet?

[2018-03-02 19:34] szha commented on #9957
This seems to be the cause https://github.com/rich-iannone/DiagrammeR/commit/41a70fbcf5ea40f881c26515e839d07ebd726df5#diff-7347fe5a0f184f79ef064e92e3beb297

[2018-03-02 19:43] piiswrong commented on #9962
returning a list should work. What's error?

[2018-03-02 19:45] zheng-da commented on #9874
I think I may know what is the potential cause of this problem. I'll fix it next week.

[2018-03-02 19:52] spidyDev opened #9966 "pad operator only supports 4D or 5D tensors. Is there a plan to add support for lower dimension tensors?"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-02 20:24] AndreGuerra123 opened #9967 "Error in output.shape[[output.names]]"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-02 22:26] reminisce commented on #9897
It looks like one logging thread got stuck.
The dmlc/tensorboard was adapted from TensorFlow. There is some gap between the adapted version and the original code in TensorFlow. We are working on a complete visualization solution bundled in MXNet. Stay tuned.

[2018-03-02 23:16] ehsanmok opened #9969 "Expose MaxUnpooling operator"
MaxUnpooling operator API is not available despite its implementation [here](https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/pool.h#L388). This was also discussed in [dmlc#640](https://github.com/apache/incubator-mxnet/issues/640) but Bilinear sampling was implemented in [dmlc#746](https://github.com/apache/incubator-mxnet/pull/746) which is *different*.

After that it'd easy

[2018-03-02 23:31] ehsanmok opened #9970 "Incomplete UpSamping doc"
Despite the doc provided [here](https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/upsampling-inl.h#L78) there's no details provided in its [Python API](https://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.UpSampling) about an extra parameter needed when `sample_type='bilinear'`.

[2018-03-02 23:33] jwfromm opened #9971 "onnx-mxnet pip package prevents gpu use"
Using pip to install mxnet-cu90 and onnx-mxnet causes pip to reinstall mxnet, removing GPU support. Changing the order the packages are installed does not address this issue.

[2018-03-03 00:01] sxjscience commented on #9969
@ehsanmok Thanks for reporting this! Adding Unpooling layer is on our schedule. Please stay tuned. I'll close this because it's a duplicate of the previous issue.

[2018-03-03 00:01] #9969 closed

[2018-03-03 00:05] anirudh2290 opened #9972 "Flaky test on Windows: test_random.test_random_seed_setting"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-03 00:09] sxjscience commented on #9970
Thanks for reporting this! @zhanghang1989 has written a new `BilinearResize` operator (See https://github.com/apache/incubator-mxnet/pull/9688). It will be merged in the future and we will revise the doc.

[2018-03-03 00:10] sxjscience commented on #9970
I'll close this first because the issue is the same as in https://github.com/apache/incubator-mxnet/issues/9138.

[2018-03-03 00:10] #9970 closed

[2018-03-03 00:12] marcoabreu commented on #9971
@KellenSunderland

[2018-03-03 00:12] sxjscience commented on #8866
@chowkamlee81 Have you solved the problem? This looks like a bug. Could you provide an example to reproduce the error? Thanks a lot!

[2018-03-03 00:15] sxjscience commented on #8866
@chowkamlee81 There is no need to provide an example. I've checked the code again.  This is a bug. We need to fix the logic here https://github.com/apache/incubator-mxnet/blob/master/src/operator/bilinear_sampler-inl.h#L95-L108. @piiswrong

[2018-03-03 00:18] aaronmarkham opened #9973 "update Scala tutorial - using IntelliJ IDE"
## Description
http://mxnet.incubator.apache.org/tutorials/scala/mxnet_scala_on_intellij.html

1. Dated info - update and verify actual setup
2. Broken link - "this procedure" link for mxnet package for scala setup. Current instructions are here: http://mxnet.incubator.apache.org/install/osx_setup.html
3. Scala plugin setup for IDE link - this is old. Switch to https://www.jetbrains.com/help/idea/

[2018-03-03 00:38] yajiedesign commented on #9572
sorry for later,The problem has come back, and I'll try to find out.

[2018-03-03 01:01] jwfromm opened #9974 "DataLoader with workers not compatible with ImageRecordDataset"
## Description
Using a DataLoader with a non-zero number of workers on a ImageRecordDataset crashes. Being able to have multiple workers is essential to high speed training, and is supported when using ImageRecordIters, so it should be possible with DataLoaders, which have a much nicer API.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
I'm using Python 3.6

## Build

[2018-03-03 01:36] HaoLiuHust commented on #9962
the error is "HybridBlock input must be (nested) list of Symbol or NDArray, " \
        "but got %s of type %s"
I want to pass fc1_norm and output to my custom loss, since my loss need these two, is it possible?

[2018-03-03 02:34] wkcn opened #9976 "The assignment problem about NDArray"
## Description
If `a` is a multi-dims array, it is not available to use `a[0] = a[1]` to assign a row.
However, it's available to use `a[0, :] = a[1]` or `a[0]=a[1].asnumpy()`

## Environment info (Required)
The latest pre-built MXNet has the same problem.
[code]

Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): g

[2018-03-03 02:54] CoinCheung opened #9978 "Error with random generator"
## Description
Once I use DataLoader, the nd.random seed will be fixed.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using python)

## Minimum reproducible example
[code]
## Steps to reproduce
1. paste the code to a python file random_error.py
2. run it with python random_error.py for several times
3. each time the batch[0][0][0] will be different which shows

[2018-03-03 04:02] aidan-plenert-macdonald opened #9979 "Computing the second derivative"
I would like to compute the second derivative like,

[code]

But I get,
[code]

Is there a way to compute the second derivative?

[2018-03-03 04:04] eric-haibin-lin opened #9980 "[Feature Request] broadcast_mul(csr, dense)"
Let's say we have a MxN CSR matrix, it's quite common to normalize the CSR matrix `A` by a length M vector or a length N vector `B`.

However, MXNet doesn't support broadcast_mul(csr, dense) = csr. In scipy, you have to do normalization with the following walk-around with a dot product:

[code]

What we can do in MXNet is to directly support broadcast_mul(csr, dense) = csr. Note that an efficient

[2018-03-03 05:06] asitstands commented on #9978
The random number genertors in `mxnet.nd.random` and `mxnet.sym.random` have a fixed seed regardless of the use of `DataLoader`. You need to seed with an externally generated random number using `mxnet.random.seed` at each run.

[2018-03-03 05:20] CoinCheung commented on #9978
@asitstands
It does not seem so, when I run a single line in the terminal
[code]
it will generate different numbers each time.

[2018-03-03 05:31] asitstands commented on #9978
[code]
[code]
The seed is fixed. You might run the line several times in a REPL session while your original post is about running script and seeing random numbers.

[2018-03-03 05:55] orchidmajumder commented on #9962
You are using imperative code in the hybrid block. Either you need to move it to make it static code (or code with fixed loop) or not hybridize the loss. In the later case, returning as a list and retrieving the proper value from it should work.

[2018-03-03 07:12] reminisce commented on #9976
This is a bug of `CopyFromTo` function. `a[0]` and `a[1]` share the same `var` and thus the copy is skipped.
https://github.com/apache/incubator-mxnet/blob/master/src/ndarray/ndarray.cc#L1131

[2018-03-03 07:40] wkcn commented on #9976
@reminisce Thank you! I will try to fix it.

[2018-03-03 10:55] CoinCheung commented on #9978
@asitstands
Then why it changes when I run it in my command line?
[code]

[2018-03-03 11:09] dma100180 commented on #4527
Hello, everything was fine with MXNET and an update has caused me to change the diagrammer.
I fixed it with:

require (devtools)
install_version ("DiagrammeR", version = "0.9.1", repos = "http://cran.us.r-project.org")

a greeting

[2018-03-03 12:52] CoinCheung commented on #9978
@asitstands
Ah, I see. Thanks a lot. I think this issue can be closed now.

[2018-03-03 12:52] #9978 closed

[2018-03-03 21:33] ShownX commented on #9405
Facing the same problem. However, in Gluon, it cannot define a name

[2018-03-04 03:23] Feywell commented on #9572
@cgraywang I find the issue still exist.
I upgraded the mxnet-cu80 windows version to

[2018-03-04 20:17] kenfehling commented on #9501
I have a question about its performance. The documentation says:

So LSTMCell is slower than LSTM, but I'm wondering if hybridized then it's faster?

[2018-03-04 20:19] szha commented on #9501
Our LSTM cell doesn't support full sequence hybridization yet. The hybridization happens only at cell level. Thus, it will still have performance penalty.

[2018-03-04 20:20] kenfehling commented on #9501
OK, thanks!

[2018-03-04 21:55] b0noI opened #9987 "Implement an ability to use NCCL with the distributed training"
Currently one can either use dist kvstore or nccl kvstore, however there is no way to specify NCCL mode for the distributed training.

[2018-03-04 23:38] cgraywang commented on #9572
@Feywell ok, I will be looking into it. Since I will need to setting up the windows, it may take sometime. But I will get back to you asap.

[2018-03-05 01:55] HaoLiuHust commented on #9962
@orchidmajumder Thanks, get your point

[2018-03-05 01:55] #9962 closed

[2018-03-05 02:52] samhodge opened #9989 "Cannot train example gluon style transfer"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-05 02:59] samhodge commented on #9989
@zhanghang1989 Do you have any input?

[2018-03-05 04:24] #9012 closed

[2018-03-05 08:38] guruvishnuvardan commented on #2294
@phunterlau - how to define batch size for a video? in mxnet

[2018-03-05 08:50] guruvishnuvardan commented on #2869
HI Can you please help me with error,
![mxnet data_shape](https://user-images.githubusercontent.com/31349523/36965592-078c35c6-2052-11e8-843c-86c67387b0dd.png)

Please find my code here: https://github.com/guruvishnuvardan/MXnet-SSD---Object-Detection/blob/master/demo.py

Is batch size cause of the defect?, if so, Can you please help define batch size for a 5 min mp4 video or a live web cam?

[2018-03-05 09:14] dytmh opened #9992 "mxnet scala example run error"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-05 10:43] jacky4323 opened #9993 "cmake cannot build mxnet"
Hi,
sorry,there are some problems with cmake

command I use
$git clone --recursive https://github.com/apache/incubator-mxnet.git
$cd incubator-mxnet/
$mkdir build/Release && cd build/Release
$cmake ../../
$make -j8

- cmake ../../ output log

-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for worki

[2018-03-05 12:18] qingyuanxingsi commented on #9944
@lebeg When can the windows build be fixed??Actually I do need the cpp package! Inform me if fixed, much thanks!

[2018-03-05 16:13] larroy commented on #9993
I was able to reproduce.

[2018-03-05 16:13] larroy commented on #9993
The exact error is:

[code]

[2018-03-05 16:56] larroy commented on #9993
@marcoabreu @cjolivier01  as we spoke with Marco in person, I don't think we should compile with MKL by default if we don't even know if there's MKL available.

As a workaround, you can call cmake as:

[code]

[2018-03-05 17:12] larroy commented on #9993
The logic in CMakeLists.txt is bad, having mkldnn as is part of 3rdparty doesn't mean that you have MKL which is not open source.

[2018-03-05 17:37] zheng-da commented on #9921
I don't understand how much benefit `update_on_kvstore=False` provides. Why does`update_on_kvstore=False` or `update_on_kvstore=True` reduce computation for some operators?

[2018-03-05 19:21] DickJC123 commented on #9543
I've been remiss at commenting because frankly new cuDNN features are generally advertised only upon general availability.  The cuDNN team is continually improving the feature set, and it's clear to us that sorting and packing of sequences is a customer pain point.  As such, we are working on feature improvements in this area for one of our future releases.  I'll point out that cudNN v7.1 is newly

[2018-03-05 22:15] anirudh2290 opened #9997 "Flaky test: test_sparse_embedding"
## Description
Please see:  http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-9869/13/pipeline

The test_sparse_embedding fails in assert_almost_equal. At first look, it feels like setting specific tolerance values should fix the issue. Even in the failed example, the values of a and b at the point of error are the same.

[code]
## Environment info (Require

[2018-03-05 22:16] anirudh2290 commented on #9997
@eric-haibin-lin

[2018-03-05 22:52] ShownX opened #9998 "[Feature Request] batchwise gather_nd/scatter_nd"
## Description
Assuming I have a data tensor X and indices tensor Y: X has a shape ```(batch, N, 3)``` and Y has a shape ```(batch, 1, M)```, I hope there is a new operation can do **batch-wise** gather_nd and scatter_nd using the index within the batch and gather the data to new tensor ```(batch, M, 3)```

[2018-03-05 23:36] aaronmarkham commented on #9948
@thinksanky

[2018-03-05 23:59] marcoabreu commented on #9993
How come that CMake properly detects that MKL is not present
[code]
but still tries to use it?

[2018-03-06 00:04] cjolivier01 commented on #9993
I am not sure what was changed for the enormous mkldnn PR, but "USE_MKL_IF_AVAILABLE" means use it if it is found (real MKL or MKLML), otherwise don't.

[2018-03-06 00:33] sxjscience commented on #9998
This should be the correct version of batch_take. We need to support his in the future.

[2018-03-06 01:42] cjolivier01 commented on #9993
closed on accident

[2018-03-06 02:28] vdantu commented on #9979
@aidan-plenert-macdonald : This looks like a question and not an issue in MxNet. Could you please post this on  discuss.mxnet.io . You would have a larger audience to answer your question.

@sandeep-krishnamurthy : Could you label this issue as question.

[2018-03-06 04:08] pengzhao-intel commented on #9916
Tested w/o MKL-DNN, the same issue is observed.
The computation result from FP16 is not matched w/ FP32.

[2018-03-06 04:41] reminisce commented on #9916
Also saw failure w/o MKL in one of CI jobs: Python3 GPU
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/429/pipeline/

[2018-03-06 07:09] GoodJoey commented on #951
@freepjf
i met the same issue. what's the bandwidth of your IB net? 56G or 100G？
Adding more parameter server may help, but i think bandwidth is the main bottleneck here

[2018-03-06 08:43] lightingghost opened #10002 "_backward_Convolution is non-differentiable"
As I saw mxnet has `autograd` package to support high order gradients, I tried to implement wgan-gp with mxnet. But I got an error of

[code]

It seems convolution operator still does not support higher order gradients?

[2018-03-06 08:46] ahkarami opened #10003 "C++ API Documentation and Tutorial"
Thanks the MXNet team for releasing the framework. However, I think its current documentation for C++ API is not complete (_e.g._, How to install MXNet C++ API, Use MXNet in C++, etc.). Has the team any plan to add documentation or offers any tutorial (_e.g.,_ like the fantastic tutorials for _Gluon_) in the near future?

[2018-03-06 10:31] larroy commented on #9993
Well, it's clear from the logic in the CMake file what the problem is. I can fix it, but honestly I would like to test the build system better or be more careful. I invested already a lot of time on maintaining the build system and I'm not happy to see this random breaks.

[2018-03-06 10:35] larroy commented on #9993
Another problem right now is what we discussed previously with @cjolivier01 :

When I build in CLion:

[code]
I use
USE_OLDCMAKECUDA as a workaround, but I would prefer this to work out of the box.
From CMAKE docs I don't see why generators are supposed to work with Unix Makefiles:

https://cmake.org/cmake/help/latest/variable/CMAKE_GENERATOR_TOOLSET.html

I never got a propper answer to this.

[2018-03-06 11:55] sbodenstein commented on #9543
So it seems as though we should wait a little bit before jumping in to add support. It seems as though Intel will have their RNN operator ready this month as well, so it might be a good time to revisit this then.

[2018-03-06 12:40] larroy opened #10004 "[ARM][Jetson] assertion failed in unit test"
## Description
Unit test faillure / assertion triggered in testing forward for mobilenetv2_0.25

## Environment info (Required)

[code]
----------Python Info----------
Version      : 3.5.2
Compiler     : GCC 5.4.0 20160609
Build        : ('default', 'Nov 23 2017 16:37:01')
Arch         : ('64bit', 'ELF')
------------Pip Info-----------
Version      : 9.0.1
Directory    : /home/nvidia/py3/lib/pytho

[2018-03-06 12:50] Mabinogiysk opened #10005 "Where should I put my dll after building from source?"
## Description
I have built mxnet from source and I got error when I import mxnet in python:
[code]
I have used dumpbin.exe to check libmxnet.dll:
[code]
I checked every directories in `$Path`. It seems that `opencv_world341.dll` and `libopenblas.dll` are missing. But I don't know where I should put them. I have tried directories such as `D:\Anaconda3\lib\site-packages\mxnet-1.2.0-py3.6.egg\mxnet`

[2018-03-06 14:59] lixiangchun opened #10006 "How to visualise filters of MXNet model?"
How to visualise filters of MXNet model like what has been done in keras - [https://blog.keras.io/how-convolutional-neural-networks-see-the-world.html](https://blog.keras.io/how-convolutional-neural-networks-see-the-world.html)?

[2018-03-06 17:39] sxjscience commented on #10002
Supporting higher order gradients is on the agenda. Refer to the discussion in https://github.com/apache/incubator-mxnet/issues/5699. Need to ping Eric @piiswrong

[2018-03-06 17:40] sxjscience commented on #10002
I find the issue is similar as https://github.com/apache/incubator-mxnet/issues/9979 . Let's move the discussion there.

[2018-03-06 18:21] larroy opened #10009 "[CMAKE][IoT] Remove pthread from android_arm64 build"
Logic to detect the target platform should be added to CMake by using try_run and #error as done in openmp

[2018-03-06 18:47] reminisce commented on #10006
Thanks for the reference. We have been working on enabling visualization of MXNet data in the TensorBoard. You can see the design proposal here: https://cwiki.apache.org/confluence/display/MXNET/Logging+MXNet+Data+for+Visualization+in+TensorBoard

After the PR is merged, this might be a good tutorial to write about how to use the visualization tool in MXNet.

[2018-03-06 18:59] larroy opened #10011 "[CMake][IoT][Jetson] Building with CMake produces libomp.so"
we should use -fopenmp and not 3rd party openmp depending on the target platform

[2018-03-06 19:13] #9976 closed

[2018-03-06 19:49] lightingghost commented on #10002
@sxjscience I think #9979 is a question rather than a feature request. In his case, he should use `autograd.grad` and set `create_graph=True` to solve the problem. However, in this case, it seems second order derivative is not implemented for some operators?

[2018-03-06 20:14] aidan-plenert-macdonald commented on #9979
@sxjscience If you tell me how, I can help add support for higher order gradients in more operators

[2018-03-06 20:19] sxjscience commented on #9979
@lightingghost Thanks a lot! Could you help give the solution to the question in this PR? I'll double confirm with Eric on the current plan of supporting higher order gradient and will inform you ASAP.

[2018-03-06 20:38] lightingghost commented on #9979
I will suggest using `autograd.grad` for computing second order derivatives. like [here](https://mxnet.apache.org/api/python/autograd/autograd.html) A possible rewriting is

[code]

[2018-03-06 20:46] aidan-plenert-macdonald commented on #9979
Gave me

[code]

Which is where I assume the work to get the other operators registered comes in.

[2018-03-06 20:49] lightingghost commented on #9979
@aidan-plenert-macdonald Yes the similar error I got. It seems second derivative is the feature they are working on.

[2018-03-06 20:55] piiswrong commented on #10002
2nd order gradient is only implemented for a few operators like * and exp.

[2018-03-06 21:04] sxjscience commented on #9979
@lightingghost @aidan-plenert-macdonald Let's then redirect it to the other PR.

[2018-03-06 21:04] #9979 closed

[2018-03-06 21:10] mbaijal commented on #8913
All Issues here have been fixed, discussed or tracked in the wiki linked above. I will create new github issues to track any action items post mxnet 1.1.0 release.
Resolving this issue.

[2018-03-06 21:10] #8913 closed

[2018-03-06 21:10] aidan-plenert-macdonald commented on #10002
I looked at the code and it seems like the problem is that the current implementation is kind of only doing symbolic math down one level. For example, [sin](https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/elemwise_unary_op_trig.cc#L32),

[code]

The fact that it names it `_backward_sin` instead of using `cos` is probably why this can't chain the differentiation down.

[2018-03-06 21:11] sxjscience commented on #10002
@lightingghost  Borrow the discussion in https://github.com/apache/incubator-mxnet/issues/9979 here
[code]
[code]

[2018-03-06 21:13] mbaijal opened #10012 "[Bug] There are two broken links on the top level README.md file which point to the old CI"
The top level README.md has two links to logos that point to builds.apache.org which is now deprecated. These must point to the new CI
This should be fixed similar to this PR - https://github.com/apache/incubator-mxnet/pull/9908

[2018-03-06 21:21] mbaijal commented on #8920
This was requested again in the 1.1.0 Release since the 3000 unlicensed files are mostly from submodules.
Link to email thread:
http://mail-archives.apache.org/mod_mbox/incubator-general/201802.mbox/%3C64F689C1-F847-469A-89FE-6F2746859E8F%40classsoftware.com%3E

[2018-03-06 22:20] sxjscience commented on #10002
@aidan-plenert-macdonald That's correct, we need to check the backward pass of these operators and register the gradient.

[2018-03-06 22:31] aidan-plenert-macdonald commented on #10002
@sxjscience Would it not be better to register the backward OPs as combinations of the forward ones so the gradients can be computed endlessly? Basically not limiting the functionality to 2nd order, but the option of going to nth order

[2018-03-06 22:36] sxjscience commented on #10002
@aidan-plenert-macdonald Yes, we should do that.

[2018-03-06 22:48] sxjscience commented on #10002
@aidan-plenert-macdonald I suggest we should first classify the OPs into three categories.
- [ ] OPs that we can directly register their backward_ops to be some specific forward OPs, e.g, all element-wise operators + reduce/broadcasting operators, dot/batch_dot, ....  Most OPs in the [tensor folder](https://github.com/apache/incubator-mxnet/tree/master/src/operator/tensor) should satisfy this crit

[2018-03-06 23:37] aidan-plenert-macdonald commented on #8667
Still a problem on most recent commit as of posting this

[2018-03-07 00:40] sxjscience commented on #10002
@lightingghost @aidan-plenert-macdonald Would you have time to work on this? You may refer to the implementation of transpose, which uses itself as the backward OP https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/matrix_op.cc#L315-L333. We can first work on supporting the easier cases like
- [ ] unary operators, https://github.com/apache/incubator-mxnet/blob/master/src/ope

[2018-03-07 00:56] lightingghost commented on #10002
@sxjscience I would love to but unfortunately I am not familiar with c++, nor with the mxnet basic architecture. I need to get acquaintance with them first, which may take time.

[2018-03-07 01:02] aidan-plenert-macdonald commented on #10002
@sxjscience Sure. I'll take the unary. I'll be working out of https://github.com/aidan-plenert-macdonald/incubator-mxnet/tree/n-derivative.

[2018-03-07 01:06] sxjscience commented on #10002
@lightingghost That's okay. You can ask any questions in Github or in (https://discuss.mxnet.io) and we will reply you ASAP.
@aidan-plenert-macdonald Thanks a lot! I'll keep an eye on that. Just cc me in the future PR. Also, you can ask questions in the forum if you have any.

[2018-03-07 01:11] Mabinogiysk commented on #10005
I have checked the dependency of `libopenblas.dll` and `opencv_world341.dll`.  Only `libgfortran-3.dll` is missing. I copy it from `caffe` and put it into `C:\Windows\System32`. But nothing changed.

[2018-03-07 01:32] kandoiNikhil commented on #6325
i am currently facing the same issue, but the halt period is like 9 minutes which seems way too long.
Also, this is happening on every occurrence rather than just being on the first time.

Is there something I can try to debug this time

[2018-03-07 01:35] kandoiNikhil commented on #6325
@yajiedesign, would you mind re-opening this issue.
Thanks.

[2018-03-07 02:31] huyangc opened #10015 "Can mxnet support distribute training using nccl v2.0?"
As I can see, there is a nccl kvstore in mxnet, but this ``nccl`` type of kvstore can not support distribute training. Am I wrong or there are some tricks here to use the nccl for distributed training?

[2018-03-07 02:37] kandoiNikhil opened #10016 "MxNet hangs up during bind."
## DataParallelExecutorGroup hangs

This is a copy of the resolved issue. See [this](https://github.com/apache/incubator-mxnet/issues/6325)
When setting gpu as the context, the above mentioned function takes a very long time to return.
It is currently taking 9 minutes for this function to return and it happens every time.

I am currently using the BucketingModule and the relevant code looks like t

[2018-03-07 02:53] GoodJoey opened #10017 "When doing the distributed training, the bandwidth becomes the bottleneck."
is there any experience/magic solutions  when using mxnet to do distribute training?
say, is there any method, force the worker communicates with the parameter server on the same node to save the bandwidth? or something like ring-allreduce(horovod)?

[2018-03-07 03:06] huyangc commented on #10015
After reading pull requests of [here](https://github.com/apache/incubator-mxnet/pull/8294), I get that the nccl only support training on one machine(ps. the source code of kvstore_nccl also have that result).

So, is anyone doing the job for supporting nccl v2.0 when distributed training?

[2018-03-07 03:08] Mabinogiysk commented on #10005
I used `MS Process Monitor` tool to monitor the python process while I was importing `mxnet`. I searched the whole information and extract the items whose "Path" is a `dll` and "RESULT" is “SUCCESS”.
It seems all dependencies of `libopenblas.dll`, `opencv_world341.dll` and `libmxnet.dll` are loading successfully.

[2018-03-07 03:09] huyangc commented on #10017
You could try the gradient compression first. It is more easier.

[2018-03-07 03:12] huyangc commented on #10015
Sorry to open another same issue with #9987

[2018-03-07 03:12] #10015 closed

[2018-03-07 03:27] huyangc commented on #9987
Will this feature go into the ``todo list`` of mxnet?

[2018-03-07 03:34] wangx404 opened #10019 "ModuleNotFoundError"
## Description
This is an error when running example/rcnn by bash sript/resnet_voc07.sh.  It raises import error.

And there is also a similar problem happens.

## Environment info (Required)
Ubuntu 17.10

Package used (Python/R/Scala/Julia):
(I'm using Python.)

## Error Message:
1. 'ModuleNotFoundError: No module named 'rcnn.cython.bbox''.
2. 'ImportError: cannot import name '_mask''

## What ha

[2018-03-07 04:48] Mabinogiysk opened #10020 "How can I build C++ package?"
I can not find anything about installing mxnet for C++.
The tutorials about [C++](https://mxnet.incubator.apache.org/tutorials/c++/basics.html) mentions ["building the C++ package"](https://mxnet.incubator.apache.org/get_started/build_from_source.html#build-the-c++-package), but the page can not open.
I wonder is there anyway to build mxnet C++ package?

[2018-03-07 04:58] starimpact commented on #8695
i encountered the deadlock also....
mxnet version is v0.8.0
[code]

@eric-haibin-lin when is the deadlock fixed, can you give the md5 code of the commit or link of it?

[2018-03-07 05:52] #9957 closed

[2018-03-07 06:04] eric-haibin-lin commented on #9921
@anirudh2290 Yes. It takes any function. So you could have sth like:
[code]

@saswatac Good point. I need to further evaluate how much code I need to change to enable this in the existing Module API. Another thing I didn't think of is that modules like `BucketingModule` depends on the `Module` class, which also has to be updated.

@zheng-da two benefits `update_on_kvstore=False` provides:
One is t

[2018-03-07 06:07] Mabinogiysk commented on #9814
Hi, could you tell me where to find the tutorials about building C++ package?

[2018-03-07 09:12] jeremiedb commented on #9967
`mx.model.FeedForward.create` is a function intended for training of the model, it is therefore expected to have a label passed as the `y` argument.

Your model should have a loss function for in order to train; for example, `mx.symbol.LinearRegressionOutput`. Please take a look at this MNIST tutorial for example:  http://mxnet.incubator.apache.org/tutorials/r/mnistCompetition.html.

You need to b

[2018-03-07 11:37] edmBernard commented on #10020
You can use this parameter when you run your make command :
`USE_CPP_PACKAGE=1`

[2018-03-07 12:18] marcoabreu commented on #10020
@aaronmarkham see comment about website

[2018-03-07 15:58] zheng-da commented on #9921
@eric-haibin-lin I agree the first benefit is important. I wonder if we can have forward() to pull required weights from kvstore automatically? to enable this, we'll need the operators that support sparse row weights to tell the executor which rows should be pulled. we probably need to add another attribute to NNVM for these operators.

For the second benefit, I would argue that if you accept main

[2018-03-07 18:23] marcoabreu opened #10026 "MXNET_MKLDNN_DEBUG=1 produces errors"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-9995/32/pipeline/483

Setting ``MXNET_MKLDNN_DEBUG=1`` as environment variable will produce the following error in tests. This happens across all configurations and seeds. I do not think that this is a test failure.

[code]

[2018-03-07 18:48] zhanghang1989 commented on #9989
Hi @samhodge , you shouldn't move L82 out of autograd.record scope, because the gradient of siamese network won't back-propagate. I am testing the code and will get back to you.

[2018-03-07 18:53] sxjscience commented on #10016
Hi @kandoiNikhil , what kind of GPU are you using? Sometimes it's due to the JIT compilation. You can cache the result of the JIT compilation following the guide in https://devblogs.nvidia.com/cuda-pro-tip-understand-fat-binaries-jit-caching/. For example, you may set `CUDA_CACHE_MAXSIZE` to a large value and set `CUDA_CACHE_PATH` to a position that contains enough storage.

[2018-03-07 19:17] zhanghang1989 commented on #9989
@piiswrong Need some help about API changes.
In the style transfer example, the `set_data()` function was okay for back-propagation, but the code recent broke. Is there any recent update break this, any solutions?
- Error message:
[code]
- Link to the code:
https://github.com/apache/incubator-mxnet/blob/master/example/gluon/style_transfer/net.py#L252

[2018-03-07 21:41] OferRosenberg commented on #8917
Thanks ! checked it out and it works perfectly.

[2018-03-07 21:41] #8917 closed

[2018-03-07 22:38] alihashmiii commented on #8936
Same problem here. why is not the GPU support easier for R mxnet. Python GPU support was so much easier

[2018-03-08 11:03] marcoabreu commented on #10026
https://issues.apache.org/jira/browse/MXNET-60

[2018-03-08 13:47] kenjewu opened #10035 "Who can help me solve this error？（batch_loss.backward() error）"
![1](https://user-images.githubusercontent.com/27672489/37154435-f93cd144-231a-11e8-8177-ee7a57f30f54.jpg)
![2](https://user-images.githubusercontent.com/27672489/37154437-f98051bc-231a-11e8-91d3-9c392b0c57eb.jpg)
![3](https://user-images.githubusercontent.com/27672489/37154438-f9c46014-231a-11e8-9104-81a5d7675031.jpg)
![4](https://user-images.githubusercontent.com/27672489/37154439-fa0959ee-231a-

[2018-03-08 18:14] ajayvohra2005 opened #10037 "Example SSD prepare dataset toos are incompatible with im2rec in MxNet 1.1"
## Description
example/ssd/tool prepare_pascal.sh and prepare_dataset.py are incompatible with im2rec arg options in Apache MxNet version 1.1

## Environment info (Required)
MxNet version 1.1
Deep Learning AMI with Source Code Ubuntu v5.0 (ami-173bd86a)

What to do:
1.  Run the script example/ssd/toosl/prepare_pascal.sh and you will see errors

Here are suggested fixes:

**diff tools/prepare_pasca

[2018-03-08 18:29] Ishitori opened #10038 "MxNet with R on Windows : DiagrammeR dependency isn't resolved properly"
Very recent few questions with a problem of installing R - MxNet on Windows with the same problem: DiagrammeR cannot be installed properly:
1. https://stackoverflow.com/questions/41132794/using-mxnet-pre-trained-image-classification-model-in-r/49122166#49122166
2. https://stackoverflow.com/questions/41132794/using-mxnet-pre-trained-image-classification-model-in-r/49122166#49122166
3. https://stack

[2018-03-08 18:56] haojin2 commented on #9715
@nazikus Hi, would you please provide some details (# of distinct labels etc.) of the dataset you were working on when you encountered this bug?

[2018-03-08 20:20] sxjscience opened #10041 "Reduce operators do not support axis=None"
The sum/mean OPs do not support `axis=None`. I think it's supported in earlier versions of MXNet. This behavior is inconsistent with Numpy.

[code]

[code]

[2018-03-08 20:52] sxjscience commented on #10038
@nswamy @jeremiedb

[2018-03-08 20:59] sxjscience commented on #10035
The for-loop here should be the problem
[code]
We can revise it to be a single phrase, i.e,
[code]
If you still cannot solve it, you can post the codes here (instead of images) and I will help you debug.

[2018-03-08 21:01] sxjscience commented on #10019
I think you may need to install the cython pacakge in the RCNN folder https://github.com/apache/incubator-mxnet/tree/master/example/rcnn/rcnn/cython

[2018-03-08 21:04] Jerryzcn opened #10042 "[MXNET-86] Gluon dataloader crash on speech recognition training"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-08 21:23] jeremiedb commented on #10038
DiagrammeR 1.0.0 brought on incompatibility with the graph.viz. This has been fixed in the master, but creates issues with the Windows pre-compiled packages that haven't been updated for a while.

Winodws CPU package of Mxnet 1.2.0 which includes the patch can be downloaded here:
`install.packages("https://github.com/jeremiedb/mxnet_winbin/raw/master/mxnet.zip", repos = NULL)`

Not sure if this ve

[2018-03-08 21:51] sxjscience commented on #10042
Thanks for reporting! Is there any code to reproduce the error message?

[2018-03-08 22:18] haojin2 commented on #9715
@nazikus Hello, I tried reproducing your issue with:
0) Generating a similar dataset with the same number of images (15226 noisy images with 3 channels and of size (224, 224)) and running the code snippet you provided in "Steps to reproduce" on the dataset.
2) Creating an MLP model and tried training with the generated dataset on the model.
3) Following the same steps in the fine-tune tutorial (ht

[2018-03-08 22:58] rahul003 commented on #9774
Both suggestions didn't help improve the speed unforunately. Using MXNET_CUDNN_AUTOTUNE_DEFAULT=2 helped in some cases. But we can't say this setting helps consistently. If it picks the fastest, why would it not help in all cases? I understand cases where it should be same speed as other algos. But sometimes, this is slower than setting it to 1. All else should remain same, right?

I'm writing a t

[2018-03-09 00:11] mongoose54 opened #10044 "How can I use im2rec.py to generate .bin files?"
I have modified `im2rec.py` to be more flexible with various image manipulations? However I see that `im2rec.py` is not generating .bin files like `bin/im2rec` does. So how can I modify `im2rec.py` to generate .bin files of images? Or is it just a wish-list feature to have?

[2018-03-09 00:18] yifeim opened #10045 "Despite so many declarations, Module is still confused by extra names in DataIter"
## Description

I provide data_names to module declaration, module binding, and DataIter. Still, my module will just use whichever data_name that pleases it. Please at least drop errors when there are extra names in DataIter.

## Environment info (Required)

----------Python Info----------
Version      : 3.6.4
Compiler     : GCC 7.2.0
Build        : ('default', 'Jan 16 2018 18:10:19')
Arch

[2018-03-09 02:13] yuewu001 commented on #9557
Thank you for your reply. Do you have any ideas on how to save_optimizer_states property in distributed training, especially when update_on_kvstore is True?

[2018-03-09 02:25] wangx404 commented on #10019
3Q. I think this may be the reason. I have forgotten mxnet using C code to spped up.

[2018-03-09 02:52] zhaodongsun opened #10046 "mx.nd.UpSampling issue"
An error occurs when I run this code.

`a=mx.nd.random.uniform(shape=(4,3,2,2)) `
`b=mx.nd.UpSampling(a,scale=2,sample_type='bilinear')`

MXNetError: [02:46:29] src/c_api/../imperative/imperative_utils.h:313: Check failed: num_inputs == infered_num_inputs (1 vs. 2) Operator UpSampling expects 2 inputs, but got 1 instead.

It seems to have another argument, maybe weight? I don't know the meaning of

[2018-03-09 03:18] chinakook opened #10047 "Can "NHWC" layout support come back?"
MXNetError: [11:16:26] src/operator/nn/./convolution-inl.h:163: Check failed: param_.layout.value() == mshadow::kNCW || param_.layout.value() == mshadow::kNCHW || param_.layout.value() == mshadow::kNCDHW Only support NCW, NCHW and NCDHW layout

[2018-03-09 06:07] eric-haibin-lin commented on #9921
@zheng-da Thanks for the comments! For the first point, however, the graph_executor/operators are not aware of the existence of KVStore at all, nor should it be. That will make the backend interface really messy and hard to maintain.

For the second part, I don't quite understand what the "array lookup table" does. How is it different from a hash table? Also, I don't think any existing sparse oper

[2018-03-09 06:17] EternalSaga opened #10049 "Building MxNet on Win10 with CPP package, CUDA9 and MKL 2018"
## Description
I'm trying to build mxnet on win10 with cpp package. After some hard efforts, I built the libmxnet.dll successfully. But I cannot generate the op.h file through the python script OpWrapperGenerator.py.
Python tells me that some unknown modules cannot be found when generating the op.h header file. Perhaps it is resulted by the MKL path, but I have no idea how to fix it.

## Environme

[2018-03-09 07:35] reminisce commented on #9916
After some investigation, I think it's due to the low precision that FP16 has.

When doing batch norm backward pass, gradients of `gamma` and `beta` are accumulated on a fixed channel with the forward output as input data. In this case, 1000 values are added together.

I measure the two kinds of data difference between batchnorm op of fp64 and fp16:
1. input data: ~0.575 total difference
2. output

[2018-03-09 07:50] reminisce commented on #9997
The `atol` cannot be zero here. When comparing two values, the following inequality is checked:
`|a-b| < atol + b * rtol`.
In this case, `a` and `b` are very close to zero, and `atol=0` makes the inequality unsatisfied.
Suggest set `atol=1e-4` or `1e-3`.

[2018-03-09 08:30] Davidrjx commented on #9897
@reminisce @sandeep-krishnamurthy @roywei thanks!
first of all, what i need to clarify was that i used MXNET with callable callback  to log events where tf's FileWirter and Summary were used in custom SummaryWriter class , and the custom class was invoked in `__call__` in callable callback
@reminisce your saying that one logging thread got stuck should be right, as above exception  was not there w

[2018-03-09 11:09] chinakook commented on #10047
CPU is not supported.

[2018-03-09 11:09] #10047 closed

[2018-03-09 11:24] #10046 closed

[2018-03-09 13:29] eric-haibin-lin opened #10051 "Nondeterministic order of data in a data batch from NDArrayIter"
With the following code:
[code]
With python3 each time I run the above code, the result is different. A user won't be able to tell whether batch.data[0] is ones or zeros.

This is caused by non-deterministic order of dict iterator in python3. Maybe we can fix it by update this line: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/io.py#L518

[2018-03-09 16:00] zheng-da commented on #9921
@eric-haibin-lin True. We don't need to have graph executor or operators aware of kvstore. What we need to do is to register a function to NNVM for operators. What the function does is to return row ids for given input. The process is kind of similar to shape inference but is called when the inputs are ready. The graph executor calls these functions (if they are available) and accumulates all row

[2018-03-09 17:02] sethah opened #10052 "MXIndexedRecordIO doesn't work with HDFS"
## Description
MXIndexedRecordIO doesn't work with HDFS. This is because the indexed file is assumed to be a local file, and it is opened and parsed in python using `open(self.idx_path, self.flag)` which won't work when and HDFS path is provided.

One consequence of this is that in gluon, you cannot use the `RecordFileDataset` since it requires `MXIndexedRecordIO`.

## Environment info (Required)

[2018-03-09 17:07] sethah commented on #10052
BTW, I have a rough version of a patch to fix this. Basically, instead of opening the file using Python, we just open the file and store the hashmap in C++, using `dmlc::Stream::Create` since it supports HDFS. The problem with this solution is that I'm not sure how to make the key support arbitrary types (is that really necessary?) - since the current implementation in Python allows you to use any

[2018-03-09 17:14] marcoabreu commented on #9295
Closed due to MKLDNN replacement

[2018-03-09 17:14] #9295 closed

[2018-03-09 18:06] miguelgfierro opened #10053 "Get all labels from mx.io.ImageRecordIter"
I would like to get all the labels from this object
[code]
I'm doing:
[code]
However, I don't get the final batch correctly.

Is there a function that loads all the labels directly to memory?

[2018-03-09 19:13] sandeep-krishnamurthy commented on #10017
@rahul003

[2018-03-09 19:15] sandeep-krishnamurthy commented on #10044
Can you please ask questions on usage at https://discuss.mxnet.io/

[2018-03-09 19:15] #10044 closed

[2018-03-09 19:16] rahul003 commented on #10017
What kind of a network are you training?

[2018-03-09 21:29] #9010 closed

[2018-03-09 22:33] #10011 closed

[2018-03-09 23:52] gautamkmr commented on #8999
Please add the Labels  "Exploration", "HowTo", "Feature Request"

[2018-03-09 23:53] b0noI commented on #8794
proposed labels: "Bug", "Python"

[2018-03-09 23:55] gautamkmr commented on #8997
Please add the labels:  "Gluon", "Bug", "Thread safety"

[2018-03-09 23:56] b0noI commented on #8773
proposed labels: "Build", "C++", "Ubuntu"

[2018-03-09 23:57] b0noI commented on #8772
proposed labels: "Build", "C++", "Windows"

[2018-03-09 23:58] mbaijal commented on #8923
Please add the label "CI" and "Test" to this issue.

[2018-03-09 23:58] b0noI commented on #8768
proposed labels: "Question", "Python"

[2018-03-09 23:59] gautamkmr commented on #8985
Please add the labels: "Example", "Installation"

[2018-03-09 23:59] leleamol commented on #8832
Proposed Labels: "Performance", "CUDA", "Question"

[2018-03-10 00:00] b0noI commented on #8751
proposed labels: "Question", "Distributed"

[2018-03-10 00:00] SuperLinguini commented on #8864
Proposed Labels: "Python", "C++", "CPP package", "Operator"

[2018-03-10 00:02] gautamkmr commented on #8976
Please add labels: "Build", "Installation"

[2018-03-10 00:02] b0noI commented on #8749
proposed labels: "Bug" , "Duplicate", "Python"

[2018-03-10 00:02] mbaijal commented on #8921
Can you please add the labels "Windows", "Bug".

[2018-03-10 00:02] b0noI commented on #8745
proposed labels: "Question"

[2018-03-10 00:03] harshitajain1994 commented on #8885
Proposed Label - "Question"

[2018-03-10 00:03] SuperLinguini commented on #8862
Proposed Labels: "Python", "Model Zoo", "Bug"

[2018-03-10 00:03] gautamkmr commented on #8971
Please add labels: "Scala", "Feature request", "Feature" , "Example"

[2018-03-10 00:04] b0noI commented on #8741
proposed labels: "Bug", "Ubuntu", "BLAS"

[2018-03-10 00:05] leleamol commented on #8959
Proposed Labels: "Question", "HowTo"

[2018-03-10 00:05] zhiz21 commented on #8828
proposed labels: "Question", "Gluon", "HowTo"

[2018-03-10 00:05] b0noI commented on #8729
proposed labels: "Question"

[2018-03-10 00:05] mbaijal commented on #8920
Can you please add the labels "Roadmap", "Module" to this issue

[2018-03-10 00:06] gautamkmr commented on #8969
Please add labels: "Example", "Need Triage"

[2018-03-10 00:06] SuperLinguini commented on #8853
Proposed Labels: "Python", "Bug", "Module",

[2018-03-10 00:07] gautamkmr commented on #8966
Please add labels: "Feature request", "Thread Safety", "Feature request"

[2018-03-10 00:08] leleamol commented on #8955
Proposed Labels:"Feature Request", "Module","Python"

[2018-03-10 00:08] mbaijal commented on #8914
Can you please add the labels - "Operator", "Bug", "Question"

[2018-03-10 00:08] harshitajain1994 commented on #8884
Proposed Labels : "Python", "Distributed", "Ubuntu"

[2018-03-10 00:08] gautamkmr commented on #8962
Please add labels: "Windows", "pip"

[2018-03-10 00:09] zhiz21 commented on #8823
proposed labels: "Question", "Performance", "Discussion"

[2018-03-10 00:09] leleamol commented on #8953
Proposed Labels: "Bug", "Example", "Need Triage"

[2018-03-10 00:10] SuperLinguini commented on #8850
Proposed Labels: "ARM", "Build", "Installation"

[2018-03-10 00:10] mbaijal commented on #8909
Can you please add the labels "Data-loading" and "Feature request" to this issue

[2018-03-10 00:11] harshitajain1994 commented on #8883
Proposed Labels : "Bug", "Sparse", "Breaking"

[2018-03-10 00:11] SuperLinguini commented on #8847
Proposed Label: "Installation", "Build", "C++",

[2018-03-10 00:12] leleamol commented on #8952
Proposed Labels:"Performance", "Pending Requester Info",

[2018-03-10 00:13] mbaijal commented on #8898
@KayneWest Has this issue been fixed for you?

[2018-03-10 00:13] mbaijal commented on #8898
Please add the labels "Gluon" and "Question"

[2018-03-10 00:13] harshitajain1994 commented on #8881
Proposed Labels : "Bug", "MKL", "Data Loading"

[2018-03-10 00:14] zhiz21 commented on #8816
proposed labels: "Feature request", "Bug", "Exception Handling", "Question"

[2018-03-10 00:14] SuperLinguini commented on #8836
Proposed Label: "Python", "Bug", "Gluon"

[2018-03-10 00:14] leleamol commented on #8951
Proposed Labels: "Windows","Build","Feature Request"

[2018-03-10 00:15] mbaijal commented on #8890
Can you please add the labels "Android", "Installation" to this issue

[2018-03-10 00:16] harshitajain1994 commented on #8874
Proposed Labels : "Linux", "C++", "MKL", "Breaking"

[2018-03-10 00:17] mbaijal commented on #8886
@kobenaxie, @reminisce Can you please confirm that issue has been fixed in PR 8893.

[2018-03-10 00:18] mbaijal commented on #8886
Please add the labels - "NDArray" and "Bug"

[2018-03-10 00:18] SuperLinguini commented on #8833
Proposed Label: "Python", "Question", "Example", "Gluon", "Modelling"

[2018-03-10 00:18] harshitajain1994 commented on #8871
Proposed Labels : "Call for Contribution", "Exception Handling", "Python"

[2018-03-10 00:19] zhiz21 commented on #8807
proposed labels: "Python", "Example", "Discussion", "Metric"

[2018-03-10 00:20] leleamol commented on #8940
Proposed Labels: "Feature Request","Discussion","Unclear Error/Doc","Sparse","Exception Handling"

[2018-03-10 00:20] harshitajain1994 commented on #8868
Proposed Labels : "Example", "Question", "NDArray"

[2018-03-10 00:24] leleamol commented on #8936
Proposed Labels: "Windows", "R","Build","Installation"

[2018-03-10 00:25] zhiz21 commented on #8801
proposed labels: "Bug", "Python", "Visualization"

[2018-03-10 00:26] #8898 closed

[2018-03-10 00:27] KayneWest commented on #8898
@mbaijal, It’s been fixed.

[2018-03-10 00:27] leleamol commented on #8933
Proposed Labels: "Question","Discussion"

[2018-03-10 00:27] mbaijal commented on #8898
Thanks

[2018-03-10 00:30] mbaijal commented on #8913
Can you please add the label "Completed" to this issue.
Also can a new label called "Licenses" or something similar be created to track such issues.

[2018-03-10 00:31] bhavinthaker commented on #8792
Proposed labels: "performance", "R"

[2018-03-10 00:35] bhavinthaker commented on #8789
Proposed labels: "Discussion"

Please ask this question on http://discuss.mxnet.io/

[2018-03-10 00:35] zhiz21 commented on #8799
proposed labels: "Python", "Bug", "Operator", "Question"

[2018-03-10 00:38] bhavinthaker commented on #8780
Proposed labels: "Flaky", "Test", "Python"

[2018-03-10 00:39] bhavinthaker commented on #8783
Proposed labels: "Discussion"

Please ask this question on http://discuss.mxnet.io/

[2018-03-10 00:41] bhavinthaker commented on #8786
Proposed labels: "CI", "Build", "C++",

[2018-03-10 01:36] #9216 closed

[2018-03-10 02:10] EternalSaga commented on #10049
@sandeep-krishnamurthy Could you please tell me what's the unclear error/doc mean? Do I need to add more information?

[2018-03-10 02:18] sssun0228 opened #10057 "Multiple workers on single CPU training"
Hi,

We are trying to spawn multiple workers on single CPU because of under-utilization of the CPU cores during the training. So we used local kvstore first as follows. And the hosts file contains 2 lines of the duplicated IP address.

_~/mxnet/tools/launch.py -n 2 --launcher ssh -H ./hosts numactl -l python train_imagenet.py --kv-store local_

After 1 epoch we compared the models from each worker

[2018-03-10 03:08] orchidmajumder opened #10059 "Gluon Trainer causes OOM on multi GPU instance for more than 5 GPUs"
## Description
I am trying to run a CNN based network for text classification (written fully in Gluon) on a single machine multi GPU instance (P2.8XL). Training code works fine as long as number of GPUs don't cross 5. If I use 6 or more GPUs, the training process hangs and my SSH connection to the host gets killed. I don't see any `CudaMalloc failed` error but checking the `nvidia-smi` on a separa

[2018-03-10 03:20] cjolivier01 commented on #9874
Is it know what part of the commit is the problem?
Are the performance characteristics of thread_local known for the supported platforms?

[2018-03-10 05:16] #9997 closed

[2018-03-10 05:34] EternalSaga commented on #10049
OK, finally I found the solution.
## Solution
First, use your dumpbin tool along with your msvc to check the dll dependence.
    dumpbin /dependents libmxnet.dll
    mkl_rt.dll
    libiomp5md.dll
    opencv_world341.dll
    cudnn64_7.dll
    cublas64_90.dll
    cufft64_90.dll
    cusolver64_90.dll
    curand64_90.dll
    nvrtc64_90.dll
    nvcuda.dll
    KERNEL32.dll
Put the three dlls, mkl_rt.dll

[2018-03-10 07:22] #7857 closed

[2018-03-10 08:09] solin319 opened #10060 "Does mxnet.image suppor s3?"
Can we use mxnet.image to read file from s3 ?

[2018-03-10 18:40] hdjsjyl commented on #6692
@Godricly  thanks for your advice. But when I use the code, It has error: Check failed: reinterpret_cast<CustomOpFBFunc>(params.info->callbacks[kCustomOpBackward])( ptrs.size(), ptrs.data(), tags.data(), reinterpret_cast<const int*>(req.data()), static_cast<int>(ctx.is_train), params.info->contexts[kCustomOpBackward]). Any advice will be appreciated. Thanks

[2018-03-10 20:54] hdjsjyl commented on #6751
@Zehaos  have you solved the problems, my out_grad is none. Any advice will be appreciated

[2018-03-10 22:14] #8853 closed

[2018-03-10 22:47] sxjscience commented on #8884
Does this problem still exist? There is a recent PR about this problem https://github.com/apache/incubator-mxnet/pull/9283/files that has been merged.

[2018-03-10 22:48] sxjscience commented on #9950
Solved in #10029

[2018-03-10 22:48] #9950 closed

[2018-03-10 23:14] lutzroeder opened #10063 "Documentation API or file"
Is there an API or machine readable file to get documentation for the various operators (description, attributes, inputs and outputs) similar to `ops.txt` in TensorFlow or `onnx.defs.get_all_schemas_with_history()` in ONNX?

[2018-03-10 23:18] sxjscience opened #10064 "Explaining `need_top_grad` and `declare_backward_dependency` in the documentation of CustomOp by"
The current documentations of CustomOp have not explained the meaning of `need_top_grad` and `declare_backward_dependency`. This confuses the newcomers that rely on Doc to learn MXNet. We need to improve the docs by explaining these two options better.

There are currently two pages explaining how to use the CustomOp:

| md file | link in website  |
| --------- | ---------------  |
| [customop.md]

[2018-03-10 23:26] MoritzMaxeiner commented on #8836
For what it's worth, I don't have this issue with MXNet 1.0.0 nor 1.1.0, but I don't know if that's because the root cause (which is unknown to me) has been fixed, or if it just doesn't get triggered anymore, so I'm hesitant to close.

[2018-03-10 23:39] sxjscience commented on #8836
@MoritzMaxeiner The issue somehow does not exist any more and I'm going to close it. However, the root cause is still unclear.

@reminisce Do you have any idea about it?

[2018-03-11 00:05] anirudh2290 commented on #10041
This doesn't seem to be specific to sum/mean ops as I was also able to reproduce it with prod. Which version of MXNet supported this ? I wasn't able to reproduce with 0.11.

[2018-03-11 00:10] sxjscience commented on #10041
Should be some very old version (way before 0.11). We need to consider to revise the code to support this now.

[2018-03-11 02:30] yajiedesign commented on #8951
I'm now bothering the size of a huge file. The file is too large to can not be uploaded to pypi.

[2018-03-11 05:57] Chiragrankja456 commented on #10038
@jeremiedb I was facing the same issue.
install.packages("https://github.com/jeremiedb/mxnet_winbin/raw/master/mxnet.zip", repos = NULL)
This patch works like a charm

[2018-03-11 08:43] sandeep-krishnamurthy commented on #8999
Can you please usage related query at - https://discuss.mxnet.io/
Please file a GitHub issue if you encounter any issue.

[2018-03-11 08:43] #8999 closed

[2018-03-11 08:53] sandeep-krishnamurthy commented on #8933
Can you please ask usage related questions at - https://discuss.mxnet.io/

[2018-03-11 08:53] #8933 closed

[2018-03-11 08:59] sandeep-krishnamurthy commented on #8885
Can you please ask usage related questions at - https://discuss.mxnet.io/
Please feel free to reopen if you encounter any issues.

[2018-03-11 08:59] #8885 closed

[2018-03-11 09:02] sandeep-krishnamurthy commented on #8868
Can you please ask usage related questions at - https://discuss.mxnet.io/
Please feel free to reopen if you encounter any issues.

[2018-03-11 09:02] #8868 closed

[2018-03-11 09:07] sandeep-krishnamurthy commented on #8828
Can you please ask usage related questions at - https://discuss.mxnet.io/
Please feel free to reopen if you encounter any issues.

[2018-03-11 09:07] #8828 closed

[2018-03-11 09:08] sandeep-krishnamurthy commented on #8823
Can you please ask usage related questions at - https://discuss.mxnet.io/
Please feel free to reopen if you encounter any issues.

[2018-03-11 09:08] #8823 closed

[2018-03-11 09:11] sandeep-krishnamurthy commented on #8789
Can you please ask usage related questions at - https://discuss.mxnet.io/
Please feel free to reopen if you encounter any issues.

[2018-03-11 09:11] #8789 closed

[2018-03-11 09:12] sandeep-krishnamurthy commented on #8783
Can you please ask usage related questions at - https://discuss.mxnet.io/
Please feel free to reopen if you encounter any issues.

[2018-03-11 09:12] #8783 closed

[2018-03-11 09:13] sandeep-krishnamurthy commented on #8768
Can you please ask usage related questions at - https://discuss.mxnet.io/
Please feel free to reopen if you encounter any issues.

[2018-03-11 09:13] #8768 closed

[2018-03-11 09:16] sandeep-krishnamurthy commented on #8745
Can you please ask usage related questions at - https://discuss.mxnet.io/
Please feel free to reopen if you encounter any issues.

[2018-03-11 09:16] #8745 closed

[2018-03-11 10:49] #8886 closed

[2018-03-11 11:35] hsddlz opened #10065 "Error in operator reshape"
when I bind the data .It told me like this:

simple_bind error. Arguments:
data: (32, 1L, 32L, 286L)
softmax_label: (32, 21L)
Error in operator reshape0: [19:25:11] src/operator/tensor/./matrix_op-inl.h:157: Check failed: oshape.Size() == dshape.Size() (17920 vs. 573440) Target shape size is different to source. Target: [35,512]
Source: [32,128,4,35]

my ndarray data shape is [DataDesc[data,(32, 1

[2018-03-11 11:40] EternalSaga commented on #9944
I encountered the similar error when I was building the cpp package examples in VS2015

[2018-03-11 11:45] #10065 closed

[2018-03-11 11:45] hsddlz commented on #10065
shape=(batch_size,1,rnn_length, rnn_dimen)    sorry

[2018-03-11 12:04] leopd commented on #8835
I'm still seeing this on latest the AWS DL AMI, v5.0.

[2018-03-11 16:28] mike07026 commented on #8360
Yes, I meet the same problem when using mtcnn(face detector). I hope C/C++ interface support this case better. @szha

[2018-03-11 19:22] cloudfool opened #10066 "WarpCTC loss output"
Hi,

I want to output the warpctc loss values for each batch.
Do I have to write a new metric for this by myself ?  or is there any work I can refer ?
Please give me some advice. Thanks

[2018-03-11 20:00] ericvlognow opened #10067 "keras imdb data set is not converged when maximum size of the word sequence is 500"
i am trying to use mxnet to analyze the keras imdb dataset.   using attached python script (imdb_mx2.py), it works well when maximum size of the word sequence  is 150, once i increased the length to 500, it does not converge anymore.
[imdb_mx2.py.txt](https://github.com/apache/incubator-mxnet/files/1800819/imdb_mx2.py.txt)

[2018-03-11 20:01] ericvlognow commented on #10067
following are outputs when maxLen = 150
dyld: warning, LC_RPATH ${ORIGIN} in /Library/Python/2.7/site-packages/mxnet/libmxnet.so being ignored in restricted program because it is a relative path
Preparing train set...
Preparing test set...
Trimming to 5000 max-features
Padding to length 150
Epoch 0, Training ('accuracy', 0.6598865089514067)
Epoch 1, Training ('accuracy', 0.8490249360613811)
Epoch

[2018-03-11 20:02] ericvlognow commented on #10067
following are outputs when maxLen = 500
dyld: warning, LC_RPATH ${ORIGIN} in /Library/Python/2.7/site-packages/mxnet/libmxnet.so being ignored in restricted program because it is a relative path
Preparing train set...
Preparing test set...
Trimming to 5000 max-features
Padding to length 500
Epoch 0, Training ('accuracy', 0.5082320971867008)
Epoch 1, Training ('accuracy', 0.523497442455243)
Epoch 2

[2018-03-11 20:04] ericvlognow commented on #10067
i tried it in keras with tensor_flow back end,  even with max_len = 500, it still generated decent result

[2018-03-11 20:36] ShootingSpace opened #10068 "rnn.encode_sentences deals with unknown token"
## Description
For rnn.encode_sentences(), could mxnet provides user self-defined behavior when vocab dictionary is given, instead of just raise false assertion?

For example, I would like to add the unknown token as "UNK" into the `res` list, provided that available `vocab` dictionary is given already.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using Python

[2018-03-11 21:53] Jerryzcn commented on #10042
Seems like related to multiprocessing. when num_worker=0 problem is resolved.

[2018-03-12 01:23] szha commented on #10042
This isn't actionable since we don't have your code. Please attach code.

[2018-03-12 01:49] Jerryzcn commented on #10042
will produce minimal reproducible code soon

[2018-03-12 04:24] samhodge commented on #9989
@zhanghang1989 Thanks for looking into this. I realised that moving L82 out of the autorecord messed up the resulting model, I was hoping to train a symbolic model, but I couldn't even train the original model. I guess we will wait to hear back from @piiswrong .

[2018-03-12 06:00] ericvlognow commented on #10067
i found the issue.  the pre-padding instead of post-padding solved the issue.

dyld: warning, LC_RPATH ${ORIGIN} in /Library/Python/2.7/site-packages/mxnet/libmxnet.so being ignored in restricted program because it is a relative path
Preparing train set...
Preparing test set...
Trimming to 5000 max-features
Padding to length 500
Epoch 0, Training ('accuracy', 0.7589114450127877)
Epoch 1, Training

[2018-03-12 06:00] #10067 closed

[2018-03-12 08:35] jinhuang415 commented on #10049
@EternalSaga Besides put all .dll at the same directory, would you also check if this issue could be resolved if we add the actual path of mkl_rt.dll, libiomp5md.dll, opencv_world341.dll to the windows PATH variable? (see https://msdn.microsoft.com/en-us/library/7d83bc18.aspx for windows search dll order)

[2018-03-12 11:24] sensharma commented on #9699
This is something I am facing as well. When installing numba and mxnet, mxnet pulls down numpy to 1.13 and breaks numba compiled against numpy 1.14. Using the --upgrade and --upgrade-strategy="only-if-needed" with pip install still pulls down numpy to 1.13 and breaks numba. The workaround I have found is to use the --no-deps flag with pip install when installing mxnet. mxnet then happily uses nump

[2018-03-12 13:17] Jeffery4000 opened #10070 "Distributed Training (Permission denied)"
Hi, I am trying to run distributed training the example provided on 2 different node with the following internal IP address:

[code]

I created a hosts file with the following ip, and ssh got no issue at all from one to other machine. When i launch the code:

[code]

And it prompt the following output at the same time:
[code]

For both machine I'm using the same admin password, no matter how hard

[2018-03-12 13:50] marcoabreu commented on #10070
Have you tried using private-key based authentication instead of password based?

[2018-03-12 14:18] hsddlz opened #10071 "warpctc issues"
FC = mx.sym.FullyConnected(data=x_3,flatten=False, num_hidden=n_class)
x = mx.sym.softmax(data=FC)

sm_label = mx.sym.Reshape(data=label, shape=(-1,))
sm_label = mx.sym.Cast(data = sm_label, dtype = ‘int32’)
sm = mx.sym.WarpCTC(data=x, label=sm_label, label_length =n_len ,
input_length =rnn_length )

my x layer's shape[(32L, 35L, 27L)] （bacthsize，input_lenth，n_class）
label的shape[(32L,21L)] (batchs

[2018-03-12 14:44] Jeffery4000 commented on #10070
@marcoabreu Thank you for your prompt reply.

I did try on this following guide but still doesn't work at all. As mention above, I'm able to ssh to each other without any issue.
https://help.ubuntu.com/community/SSH/OpenSSH/Keys

[2018-03-12 15:32] cjolivier01 commented on #8465
This appears to be answered, closing. Please reopen if your issue remains.

[2018-03-12 15:32] #8465 closed

[2018-03-12 15:33] #8456 closed

[2018-03-12 15:37] cjolivier01 commented on #8422
This appears to be resolved in this merge: https://github.com/apache/incubator-mxnet/pull/9662
Please reopen if necessary

[2018-03-12 15:37] #8422 closed

[2018-03-12 15:37] cjolivier01 commented on #8422
This appears to be resolved in this merge: #9662
Please reopen if necessary

[2018-03-12 16:07] KellenSunderland opened #10072 "Default CMake build failure."
## Description
Building in my environment is failing with a default cmake build.

## Environment info (Required)
[code]

Package used (Python/R/Scala/Julia):
CMake Build

## Build info (Required if built from source)
Compiler gcc or clang.

MXNet commit hash:
94f68fc8fd21611b7f5c148cb0e5d134efe58f87

Build config:
mkdir build && cd build && cmake .. && make -j $(nproc)

## Error Message:
CMake out

[2018-03-12 16:17] dmas-at-wiris opened #10073 "NaN in loss when using gluon ELU block"
I have a CNN that uses ELUs as activation function. When I use the gluon implementation (`F.where(x > 0, x, self._alpha * (F.exp(x) - 1.0))` from [here](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/nn/activations.py#L161)) I obtain NaN values in the loss after few epochs.

However, if I create a block with this `F.LeakyReLU(x, act_type='elu', alpha)` the loss doesn't di

[2018-03-12 16:18] KellenSunderland commented on #10072
It seems that MKL_FOUND is set to true by default regardless of what the FindMKL.cmake search returns due to this line: https://github.com/apache/incubator-mxnet/blob/master/CMakeLists.txt#L163

[2018-03-12 16:39] KellenSunderland commented on #10072
I'm actually getting another default cmake build failure related to tvm_bridge.  Will open a separate ticket.

[2018-03-12 16:57] KellenSunderland opened #10076 "Build error w/ TVM in NNVM."
## Description
MXNet fails during compilation for users without NVM installed on their local machine.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Cmake

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):
gcc

MXNet commit hash:
becec31cbba1458429461630a14c47f80d2dfa18

Build config:
mkdir build && cd build && cmake .. && make

[2018-03-12 17:03] KellenSunderland commented on #10059
Reproduced on another machine.

[2018-03-12 17:10] tqchen commented on #10076
gits submodule update --init --recursive

[2018-03-12 17:15] KellenSunderland commented on #10076
Thanks! @tqchen.  Totally missed those.

[2018-03-12 17:15] #10076 closed

[2018-03-12 17:16] tqchen commented on #10076
This is something a user might miss as well and maybe we should post it on some trouble shooting page.

[2018-03-12 18:04] rayjs opened #10077 "Fine tuning network"
Hi,

I have a pretrained network and I am fine tuning it. I want to fix some of the weights of the network and modify the rest. I can specify the argument names that are to remain fixed via `fixed_param_names` (see below) but the auxiliary parameters(such as in batch norm) cannot be provided as arguments in `fixed_param_names`. Is it possible to fix the auxilary parameters? Please help.
[code]

[2018-03-12 18:19] sxjscience commented on #10073
Thanks for reporting this! It would be great if you could get an MWE.

[2018-03-12 18:24] sxjscience commented on #10059
Seems to be related to https://discuss.gluon.ai/t/topic/5204

[2018-03-12 18:36] yzhliu commented on #9526
The MNISTIter is a JNI call into c++ backend (which reuses the implement in mxnet c++ core)
it is created here: https://github.com/apache/incubator-mxnet/blob/master/scala-package/core/src/main/scala/ml/dmlc/mxnet/IO.scala#L108
Maybe there's something wrong with this call: https://github.com/apache/incubator-mxnet/blob/master/scala-package/core/src/main/scala/ml/dmlc/mxnet/io/MXDataIter.scala#L79

[2018-03-12 18:55] anirudh2290 commented on #8673
@eric-haibin-lin please tag "autograd" and "needs triage" labels

[2018-03-12 18:56] anirudh2290 commented on #8667
@eric-haibin-lin please tag with the label "Installation"

[2018-03-12 19:28] anirudh2290 commented on #8663
@eric-haibin-lin Please tag - "Exception Handling" "Symbol" "Question"

[2018-03-12 19:29] anirudh2290 commented on #8658
@eric-haibin-lin Please tag as "Bug", "Call For Contribution"

[2018-03-12 19:31] anirudh2290 commented on #8653
@eric-haibin-lin Please tag with "Installation"

[2018-03-12 19:32] anirudh2290 commented on #8646
@eric-haibin-lin Please tag with "Bug" and "Need triage"

[2018-03-12 19:33] anirudh2290 commented on #8635
@eric-haibin-lin This has been inactive for a while. Can this be closed ?

[2018-03-12 19:33] sxjscience commented on #9363
Closed by the PR. Is the AdaDelta solved?

[2018-03-12 19:33] #9363 closed

[2018-03-12 19:43] anirudh2290 commented on #8640
@analog-cbarber are you able to reproduce this on the latest version ?

[2018-03-12 19:46] szhengac commented on #9881
Unless explicitly specified, for most of the optimizers as implemented in packages such as TF and torch, wd is merged into the gradient before the gradient clipping. When the proximal operator is used, the wd term is not merged.

[2018-03-12 20:57] nswamy commented on #10077
We manage user-questions on https://discuss.mxnet.io/, please post your question there.
I am closing this issue.

[2018-03-12 20:57] #10077 closed

[2018-03-12 21:03] nswamy commented on #10070
We manage and answer user questions/how to's on https://discuss.mxnet.io/, please post this question there. I will close this issue.

[2018-03-12 21:03] #10070 closed

[2018-03-12 21:23] nswamy commented on #10066
We manage and answer user questions/how to's on https://discuss.mxnet.io/, please post this question there. I will close this issue.

[2018-03-12 21:26] nswamy commented on #10063
We don't have all in one file, but are generated into md files here: https://github.com/nswamy/incubator-mxnet/tree/master/docs/api/python

[2018-03-12 21:27] nswamy commented on #10060
We manage and answer user questions/how to's on https://discuss.mxnet.io/, please post this question there. I will close this issue.

[2018-03-12 21:27] #10060 closed

[2018-03-12 21:39] Jerryzcn commented on #10042
Here is the code that get stuck. Change num_worker=0 will work, however, on Mac, this is not an issue
[code]

[2018-03-12 21:55] nswamy commented on #10057
We manage and answer user questions/how to's on https://discuss.mxnet.io/, please post this question there. I will close this issue.

[2018-03-12 21:55] #10057 closed

[2018-03-12 21:56] nswamy commented on #10053
We manage and answer user questions/how to's on https://discuss.mxnet.io/, please post this question there. I will close this issue.

[2018-03-12 21:56] #10053 closed

[2018-03-12 22:00] nswamy commented on #10063
@lutzroeder
We manage and answer user questions/how to's on https://discuss.mxnet.io/, please post this question there. I will close this issue.

[2018-03-12 22:00] #10063 closed

[2018-03-12 22:14] rahul003 commented on #9774
Sorry I was digressing from the topic of the issue. Regarding the iterator issue, we need to document the behavior that it will return fp32 data regardless. Keeping this open till we fix it or document it

[2018-03-12 22:35] cjolivier01 commented on #9410
If I run the script by itself, without the second training run, I get the same result every time:
[Epoch 0] accuracy=0.100000

[2018-03-12 22:36] cjolivier01 commented on #9410
Modified script per your second code comment (smaller test set):
[code]

[2018-03-12 22:37] cjolivier01 commented on #9410
I get the following (one GPU):
[Epoch 0] accuracy=0.100000
[Epoch 0] accuracy=0.100000

[2018-03-12 22:38] kenfehling commented on #2910
When I try ```os.environ["CUDA_VISIBLE_DEVICES"]``` I get:
[code]

[2018-03-12 22:38] cjolivier01 commented on #9410
Can you please supply build parameters that you use? ie CUDA, yes? CUDNN? MKL? etc.

[2018-03-12 22:53] fedorzh commented on #9410
Amazon p2.xlarge instance, cuda 9, cudnn7, no mkl

[2018-03-12 22:54] cjolivier01 commented on #9410
Also, is this doen with the latest build?

[2018-03-12 22:56] cjolivier01 commented on #9410
I didn't have CUDNN enabled. Trying that now...

[2018-03-12 23:13] cjolivier01 commented on #9410
Ok, I can reproduce with CUDNN enabled...

[2018-03-13 00:01] sxjscience commented on #10042
@Jerryzcn  found that v1.1.0 does not have this problem.

[2018-03-13 00:15] ShootingSpace commented on #10068
This is a simple but necessary solution. As people sometimes are only interested in k most frequent token, that is the provided dictionary, other tokens are considered as unknown tokens, and could be replaced with special mark (e.g. 'UNK') and added into the dictionary.

[2018-03-13 00:17] sxjscience commented on #10042
I'm now doing a binary search to locate the problem.

[2018-03-13 01:21] sxjscience opened #10082 "All workloads are pushed to the key queue in multi-processing DataLoader"
In the current implementation of the multi-processing part of the DataLoader, all batches in the `batch_sampler` are pushed to the key queue. See https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/dataloader.py#L218-L219 . This will be inefficient and will result in an endless loop if the batch_sampler generates an infinite number of samples, e.g,
[code]
I find that pyto

[2018-03-13 01:22] sxjscience commented on #10082
@piiswrong @yzhliu

[2018-03-13 01:37] sxjscience commented on #10042
@cjolivier01 @piiswrong After BinarySearch, I can confirm that the problem is due to this PR: https://github.com/apache/incubator-mxnet/commit/106f97f1881e6bb1a00c56a0ae55200e27297733

[code]

[2018-03-13 01:45] cjolivier01 commented on #10042
with what frequency does it occur?

[2018-03-13 02:03] sxjscience commented on #10042
100%

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Chris Olivier <notifications@github.com>
Sent: Monday, March 12, 2018 6:45:46 PM
To: apache/incubator-mxnet
Cc: Xingjian SHI; Comment
Subject: Re: [apache/incubator-mxnet] Gluon dataloader crash on speech recognition training (#10042)

with what frequency does it occur?

—
You are receiving this because you com

[2018-03-13 02:08] cjolivier01 commented on #10042
ok, will take a look tomorrow

On Mon, Mar 12, 2018 at 7:03 PM Xingjian Shi <notifications@github.com>
wrote:

[2018-03-13 03:38] feevos commented on #2910
@kenfehling  I get the same error when I run this command on my laptop (single GPU) but not on the HPC cluster. Somehow the key  ```'CUDA_VISIBLE_DEVICES'``` in the ```os.environ``` dictionary is missing from my laptop.

When I use (CSIRO - BRACEWELL HPC facility - 4 GPUs per Node) ```os.environ["CUDA_VISIBLE_DEVICES"]``` I get ```'0,1,2,3'```

[2018-03-13 05:42] sxjscience commented on #10035
@kenjewu May I know the status of this question?

[2018-03-13 05:48] moveforever opened #10084 "which optimizer to support sparse update except adam, ftrl, sgd?"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-13 05:50] sxjscience commented on #10084
@eric-haibin-lin @ZiyueHuang

[2018-03-13 05:55] pengzhao-intel commented on #8532
@fhieber could you try the new build of 1.1.0
https://github.com/apache/incubator-mxnet/releases/tag/1.1.0

[2018-03-13 06:00] eric-haibin-lin commented on #10084
Is it a question on what sparse optimizer was implemented, or what welcomes contribution?

[2018-03-13 06:10] moveforever commented on #10084
Just a question on what sparse optimizer was implemented, tks

[2018-03-13 06:29] eric-haibin-lin commented on #10084
Also sparse adagrad. Note that GPU optimizer performance can be further improved if applied with similar changes in PR #10062

[2018-03-13 06:32] chinakook opened #10085 "Ordering operators do not support kNullOp"
When testing
[code]
It saids ``` src/operator/tensor/./ordering_op-inl.h:320: Check failed: req[0] == kWriteTo (0 vs. 1) TopK does not support inplace ``` @sxjscience

[2018-03-13 06:35] pengzhao-intel commented on #8874
@jerrin92 does the issue resolved?

[2018-03-13 06:39] pengzhao-intel commented on #8881
Resolved by #9112 and the mklml has been replaced by MKL-DNN.
This should be closed. @sandeep-krishnamurthy

[2018-03-13 06:40] sxjscience commented on #10085
It's because the first argument is set as `_`, which gives `req[0]=kNullOp`. If you only needs the indices, a temporary workaround is to use `inds = mx.sym.topk(a, axis=-1, k=5, ret_typ='indices', is_ascend=False)`

[2018-03-13 06:43] pengzhao-intel commented on #8974
@mjmg The MKLML has been replaced by MKL-DNN. Could you try again?

[2018-03-13 06:46] sxjscience commented on #10085
The error also occurs in other ordering operators like Sort, ArgSort. https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/ordering_op-inl.h#L320-L321

[2018-03-13 06:48] sxjscience commented on #10085
@chinakook I'll fix it tomorrow.

[2018-03-13 06:54] chinakook commented on #10085
Yes, It's only support indices only. Thanks for your help!

[2018-03-13 06:57] sxjscience commented on #10085
@chinakook You can get both values using the following code:
[code]
The problem is that the following is not supported:
[code]

[2018-03-13 07:18] chinakook commented on #10085
@sxjscience thanks.

[2018-03-13 08:09] jinhuang415 commented on #9993
@jacky4323  your issue should be the same with https://github.com/apache/incubator-mxnet/issues/10072, would you try to patch the related PR in https://github.com/apache/incubator-mxnet/issues/10072 and see if the issue is gone?

[2018-03-13 09:16] AndreGuerra123 commented on #9967
The number of observations is the same. (Edited above) What do you mean as a label passed as the y argument? I have a vector of the type factor with the labels "I","II","III", etc... Could you please look into the dataset I shared?

[2018-03-13 13:49] pengzhao-intel commented on #8532
@fhieber we have tried the latest release the problem is gone.
Would you mind to try again?

[code]

[2018-03-13 15:12] marcoabreu opened #10086 "[MXNET-84] Segfault test_autograd.test_unary_func @ Python3: MKLDNN-CPU"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/474/pipeline/485/

[code]

Tracked at https://issues.apache.org/jira/browse/MXNET-84

[2018-03-13 17:25] yzhliu commented on #8971
@gigasquid I do not have a mac with GPU, would be good if you can check why doesn't it work - not an urgent issue.

[2018-03-13 17:29] cjolivier01 commented on #10042
Created JIRA work item: https://issues.apache.org/jira/browse/MXNET-86

[2018-03-13 17:30] anirudhacharya opened #10087 "Flaky test on Ubuntu: test_operator_gpu.test_batchnorm_with_type"
## Description
Flaky test on ubuntu_gpu for the test - test_operator_gpu.test_batchnorm_with_type.

It is a precision error.

## Environment info (Required)

Package used (Python/R/Scala/Julia):
Python

MXNet commit hash:
8bf1ff1ad3e3d3f07e62043560e933848b440f57

Link to the CI run log:
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-9963

[2018-03-13 17:33] anirudhacharya commented on #9412
One more issue to be tracked - https://github.com/apache/incubator-mxnet/issues/10087

[2018-03-13 17:54] cjolivier01 commented on #10087
Did this every used to fail before the MKL changes?

[2018-03-13 17:57] #8923 closed

[2018-03-13 18:01] jmacglashan commented on #9822
@feevos I haven't tried your code yet, but I think the issue is that your `hybrid_forward` does not have **kwargs nor an argument named the same as the parameter.

Mxnet hybrid blocks will push parameters as inputs to the hybrid forward method (I believe because this is how it resolves passing them in as variable symbols when it compiles a graph). So you should add that argument and get the "const

[2018-03-13 18:01] anirudhacharya commented on #10087
@cjolivier01 This failure was yesterday. I am not sure which MKL changes you are referring to. If you mean this - https://github.com/apache/incubator-mxnet/pull/9862 then yes, it was after the MKL changes.

[2018-03-13 18:04] cjolivier01 commented on #10087
For @marcoabreu do you know if this test used to fail intermittently before the MKL changes?

[2018-03-13 18:04] zheng-da commented on #10087
I have observed the problem before. https://github.com/apache/incubator-mxnet/issues/9916
It's some precision problem in batchnorm.

[2018-03-13 18:07] reminisce commented on #10087
We are going to make the unit test stable. See here for comments and action items.
https://github.com/apache/incubator-mxnet/issues/9916#issuecomment-371736378

[2018-03-13 18:09] cjolivier01 commented on #10087
Great! Thanks!

[2018-03-13 18:23] robbig2871 opened #10088 "R can not install, 404 Not Found"
Installing package into ‘/usr/local/lib/R/3.4/site-library’
(as ‘lib’ is unspecified)
trying URL 'https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/src/contrib/mxnet_0.10.1.tar.gz'
Warning in install.packages :
  cannot open URL 'https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/src/contrib/mxnet_0.10.1.tar.gz': HTTP status was '404 Not Found'
Error in download.file

[2018-03-13 18:47] #9865 closed

[2018-03-13 20:10] cjolivier01 commented on #10042
This script just freezes for me without doing anything.  In Connection._recv, it seems., What is it doing?

[2018-03-13 20:20] cjolivier01 commented on #10042
On which epoch/batch does it occur?

[2018-03-13 21:00] Jerryzcn commented on #10042
The error output only happens when you train on the actual data. However, when use the test script, it will freeze. If revert back to 1.1.0 the problem is resolved.

[2018-03-13 21:02] sxjscience commented on #10042
@cjolivier01 Before the commit it will not freeze and print the data.

[2018-03-13 21:02] Jerryzcn commented on #10042
there seems to be other issues as well, after training for 1 day or so i got segfault. This does not happen with small dataset. Segfault is tested with 1.2.0. I will try previous version

[2018-03-13 21:38] cjolivier01 commented on #10042
I think that would be a separate issue.

[2018-03-13 22:50] sxjscience commented on #10085
Sorry that I'm too busy with other stuffs. Can anyone help solve the bug? If not, I will solve it later.

[2018-03-13 23:00] rahul003 commented on #8529
@eric-haibin-lin please add the labels Doc, Question

[2018-03-13 23:01] rahul003 commented on #9916
Relevant comment https://github.com/apache/incubator-mxnet/issues/8509

[2018-03-13 23:09] rahul003 commented on #8509
That looks like something we can look into if similar issues persist. But for now, we believe this is because of float16 precision.

@eric-haibin-lin Could you add the label Exploration

[2018-03-14 00:19] eric-haibin-lin commented on #10084
https://mxnet.incubator.apache.org/versions/master/api/python/ndarray/sparse.html#updater

[2018-03-14 00:19] #10084 closed

[2018-03-14 00:27] marcoabreu opened #10092 "No "full" pooling convention support with MKL-DNN"
I'm kind of lacking context here, but I'd like to track this issue. More details are available at https://github.com/apache/incubator-mxnet/pull/10021

@ashokei would you mind summarizing the problem?

[2018-03-14 00:29] marcoabreu commented on #10088
Hello, MXNet 0.10.1 is a quite old version - the latest released version is 1.1. Would you mind explaining where you found the instructions to install that version and which commands you're running?

[2018-03-14 00:42] ashokei commented on #10092
@marcoabreu The issue is with a specific SSD-VGG16-reduced model, in which pooling convention of full (only with maxpool) causes failure.

The solution in #10021 is to fall-back to CPU maxpool/full-pooling convention.  This fallback approach is used anytime we have a config/option not supported by mkl-dnn integration yet. So this is not a "bug" per se. It would be feature that may be enabled / imp

[2018-03-14 01:01] marcoabreu commented on #10092
Thanks a lot for the explanation.

Does it fail because it has not been implemented by MKLDNN or because the implementation itself fails?

[2018-03-14 01:27] ThomasDelteil opened #10093 "Cannot print summary of models loaded from onnx-mxnet"
## Description
Trying to print a model loaded from onnx-mxnet does not work because the value of `node["attrs"]["no_bias"]` is `"False"` rather than `False`.

Not sure if an mxnet issue or onnx-mxnet issue

## Environment info (Required)
MXNet 1.1.0

Package used (Python/R/Scala/Julia):
I am using python

## Minimum reproducible example
Download the model here: https://s3.amazonaws.com/download.on

[2018-03-14 01:35] ThomasDelteil commented on #10093
work around:
`sym.save('symbol.json')`
replace the "True" and "False" with "1" and "0"
`sym = mx.sym.load('symbol.json')`

[2018-03-14 01:44] chinakook opened #10095 "BatchNorm on axis=-1 is very slower than axis=1"
As profiler shows, the "nn.BatchNorm(axis=-1)" will cause 10x lower speed on my application than "nn.BatchNorm(axis=1)".
However, We often need a "nn.BatchNorm(axis=-1)" after "nn.Dense(flatten=False)".

[2018-03-14 01:51] feevos commented on #9822
Thanks @jmacglashan  you are right. On mxnet [discuss forum](https://discuss.mxnet.io/t/custom-layer-infer-shape-after-first-forward-pass/585/7) I was given a solution that does exactly what you describe:
[code]

Only issue still left is that I cannot (yet) infer the shape (of some dimension) during first run.  Getting there ...

[2018-03-14 01:59] ashokei commented on #10092
not been implemented by mkldnn for this specific case, hence with fix in #10021 we fallback to CPU just like any other feature/configure that is not currently implemented/supported-by-mkldnn-integration.

[2018-03-14 02:13] safrooze commented on #8593
This is a question that preferably is asked on [discuss.mxnet.io](https://discuss.mxnet.io/). To answer your question, you cannot use asnumpy() in the middle of computational graph because autograd can only record operations performed on ndarray.

[2018-03-14 02:21] haoliyoupai09 commented on #9667
raise NotImplementedForSymbol(self.__iadd__, '+=', other, 1)
mxnet.base.NotImplementedForSymbol: Function __iadd__ (namely operator "+=") with arguments (<class 'mxnet.symbol.symbol.Symbol'>, <type 'int'>) is not implemented for Symbol and only available in NDArray.

When I compile a project using mxnet, I met the error like this. The mxnet is complied successfully and import mxnet in python is al

[2018-03-14 05:21] chinakook opened #10097 "When to merge mxnet-fold to master?"
I found [mxnet-fold](https://github.com/szha/mxnet-fold) is very useful in some situation, so I wonder that when to merge this feature to master.

[2018-03-14 05:41] pengzhao-intel commented on #8532
@fhieber  @rsdubtso is correct. It caused by multiple omp lib. The workaround is to set MP_DUPLICATE_LIB_OK=TRUE .

I am considering the final solution now. Will come back soon :)

Error log:

After setting the environment, the problem is gone.
New log:

[2018-03-14 05:45] pengzhao-intel commented on #10092
I think the current change is fine and the path can be back when MKL-DNN supports 'full' pooling convention.
@ashokei could you also share the implementation plan of MKL-DNN to the community?

[2018-03-14 07:14] sandipmgiri opened #10100 "error: 'kCPU' was not declared in this scope"
## Description
I'm trying to build Mxnet from 1.0.0 version , but for make command getting  `error: 'kCPU' was not declared in this scope` and build is failing (building successfully from master branch). However , 10-15 days ago the build was working fine for the same version i.e. 1.0.0.

## Environment info (Required)
Ubuntu 16.04

[2018-03-14 07:14] feevos opened #10101 "gluon feature request: proper registration/initialization of layers inside a list (container) for custom (Hybrid)Blocks"
Dear all, it would be very useful if one could add NN layers of a gluon custom model inside a list, similar to ```torch.nn.ModuleList```, something like:

[code]
I can think of many use cases, but one important one is indexing for neuroevolution problems, i.e. using a variable architecture of a specified set of layers.

Thank you very much for the great work you put into gluon/mxnet.

[2018-03-14 07:17] szha commented on #10101
how do you intend to use `layers_list` in your example? it is possible to use Sequential/HybridSequential just as containers without using its forward functionality.

[2018-03-14 07:18] TaoLv commented on #10100
Try to update all submodules:
`git submodule update --recursive`

[2018-03-14 07:38] gydlcc opened #10102 "how to install version of 0.9.3"

[2018-03-14 08:07] feevos commented on #10101
Hi @szha, thank you for your reply. I've done so in simpler architectures as you describe but now I want to try something more advanced.

The basic idea is that one can have a set of layers that live in a list, ```layers_list```. Then one can form a sparse connectivity matrix, ```Sij``` where each row corresponds to the connections of ```layer_i``` to ```layer_j```. The connectivity matrix will be

[2018-03-14 08:53] moveforever opened #10103 "when using loading model in cpp-package to predict, it come across an error?"
the input data is including sparse data. i come across followed error.
![image](https://user-images.githubusercontent.com/5248288/37391934-c6de6384-27a7-11e8-9a94-245c68825939.png)

My code is as followed:
![image](https://user-images.githubusercontent.com/5248288/37391989-f0bcfa44-27a7-11e8-9672-58deae4dca4b.png)
![image](https://user-images.githubusercontent.com/5248288/37392012-005e1cbc-27a8-11

[2018-03-14 09:05] moveforever commented on #10103
Does not cpp::Symbol::InferExecutorArrays support sparse input? @eric-haibin-lin

[2018-03-14 09:48] mouradmourafiq opened #10105 "Error when building MXNet with "USE_DIST_KVSTORE=1" inside docker"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-03-14 10:26] mouradmourafiq commented on #10105
I solved the issue

[2018-03-14 10:26] #10105 closed

[2018-03-14 10:40] moveforever commented on #10103
I use a operation of mx.symbol.contrib.SparseEmbedding.  I see a issue https://github.com/apache/incubator-mxnet/issues/8795. I wonder it leads to the error of Symbol Binding. @eric-haibin-lin
And i gdb the binary file, and there appears the following situation:
![image](https://user-images.githubusercontent.com/5248288/37397694-310779a8-27b7-11e8-939a-b2750598a27c.png)

Now does cpp-package suppo

[2018-03-14 10:43] moveforever commented on #10103
@ZiyueHuang

[2018-03-14 12:16] marcoabreu commented on #10097
@szha

[2018-03-14 12:43] yancz1989 opened #10106 "Get "CUDA: an illegal memory access was encountered ""
Hi, all, I'm currently implementing a new operator. It runs smoothly using cpu, but under GPU, it get
Check failed: e == cudaSuccess CUDA: an illegal memory access was encountered

After change MXNET_ENGINE_TYPE, the traceback shows

Traceback (most recent call last):
  File "test.py", line 199, in <module>
    testTarget(conv1, int(sys.argv[1]))
  File "test.py", line 167, in testTarget
    outpu

[2018-03-14 12:44] yancz1989 commented on #10106
the entire stack trace using naive engine is listed below:

Traceback (most recent call last):
  File "test.py", line 199, in <module>
    testTarget(conv1, int(sys.argv[1]))
  File "test.py", line 167, in testTarget
    output = mod.predict(val_iter)
  File "/usr/local/lib/python3.5/dist-packages/mxnet-1.1.0-py3.5.egg/mxnet/module/base_module.py", line 354, in predict
    outputs = [out[0:out.sha

[2018-03-14 15:22] jj200789 opened #10107 "Error occupied while using multi GPUs in some toy-ctc"
[code]

It is fine when I use single GPU to run the toy-ctc. However, it shows the error message above when I try to use 4 GPU.
I used work_load_list to binding different batch size to each GPU but it still shows the same error message.

[2018-03-14 17:07] szha commented on #10097
We are currently exploring ways for dynamic batching in the backend so that it doesn't require the addition of a new user api. For now, mxnet-fold can be used as a standalone library.

[2018-03-14 18:30] haimeh commented on #10088
These are the instructions from:
https://mxnet.incubator.apache.org/install/index.html
for Windows?, R, CPU installation

Running those commands inside an R terminal produces the above output.
The binaries are indeed out of date.

@robbig2871
If all you need is CPU version, you may try running:
install.packages("https://github.com/jeremiedb/mxnet_winbin/raw/master/mxnet.zip", repos = NULL)
#10038

[2018-03-14 18:39] szha commented on #10101
[code]

[2018-03-14 18:48] sxjscience commented on #10101
Refer to https://github.com/apache/incubator-mxnet/issues/9264 .

[2018-03-14 18:52] sxjscience commented on #10101
@feevos Currently the `HybridSequential` and `Sequential` have the same functionality as `ModuleList`. Thus we previously decide to not add an additional `ModuleList`. We can bring it to the table again.

[2018-03-14 19:30] szha commented on #10107
were you able to determine the cause? A fix is most welcome!

[2018-03-14 19:53] anirudhacharya commented on #9845
Got the same test failure. Unrelated to the changes in my PR.

Unit test was running on Python2 MKL-DNN CPU

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-9963/runs/56/nodes/535/log/?start=0

======================================================================
FAIL: test_operator.test_reduce
-------------------------------------------

[2018-03-14 19:59] anirudhacharya opened #10114 "Flaky test test_operator.test_layer_norm"
## Description
Flaky test on Python3 CentOS 7 CPU for the test - test_operator.test_layer_norm.

It is a precision error.

Package used (Python/R/Scala/Julia):
Python

Link to the CI run log:
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-9963/runs/55/nodes/539/log/?start=0

## Error Message:

## Minimum reproducible example
Test is flak

[2018-03-14 20:00] anirudhacharya commented on #9412
test_layer_norm has precision issues - https://github.com/apache/incubator-mxnet/issues/10114

[2018-03-14 20:01] szha commented on #10114
@sxjscience

[2018-03-14 21:50] eric-haibin-lin commented on #8635
Closing due to inactivity. Feel free to reopen if not resolved yet

[2018-03-14 21:50] #8635 closed

[2018-03-14 21:51] Jerryzcn commented on #10042
segfault seems to related to https://github.com/apache/incubator-mxnet/pull/10096

[2018-03-14 23:44] eric-haibin-lin commented on #9921
@zheng-da
I don't quite don't understand how you could save the memory this way. With kvstore, the `row_sparse` weight is stored on a random GPU. To run data parallel on multi-GPUs, you need to obtain a copy of weight in some way (either full copy, or a copy of subset of rows) so that the cuda kernel is executed with data and weight on the same context. Even if you have a O(n) array to may row ids

[2018-03-15 02:15] feevos commented on #10101
Hi @szha  and @sxjscience thank you very much for your reply. So if I understand correctly, (Hybrid)Sequential can also be used as a container of the various layers and indexed just like a list **so I can use the contained layers in any _order_ I want** (without the stacked sequential forward functionality). If I understand correctly, I can use something like:

[code]
if my understanding is correc

[2018-03-15 02:15] #10101 closed

[2018-03-15 02:31] szha commented on #10101
Good point on making the feature known. cc'd @zackchase, @astonzhang, @mli

[2018-03-15 03:31] devymex opened #10119 "Bug: A typo in src/operator/swapaxis-inl.h"
https://github.com/apache/incubator-mxnet/blob/f7fa49e3068ab30a7379bbce1b288bf285fe5cde/src/operator/swapaxis-inl.h#L113
should be:
`TBlob data_out = out_data[cvmatdataenum::kOut];`

[2018-03-15 03:45] eric-haibin-lin commented on #9363
No, the change was reverted in the PR. My PR only contains a sparse op with Wd == 0

[2018-03-15 04:17] sxjscience commented on #9363
OK, we need to reopen it then.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Haibin Lin <notifications@github.com>
Sent: Wednesday, March 14, 2018 8:45:48 PM
To: apache/incubator-mxnet
Cc: Xingjian SHI; State change
Subject: Re: [apache/incubator-mxnet] Incorrect weight_decay implementation in AdaGrad (#9363)

No, the change was reverted in the PR. My PR only c

[2018-03-15 05:05] sandipmgiri commented on #10100
Thanks @TaoLv , After `git submodule update --recursive` the build is working fine.

[2018-03-15 05:05] #10100 closed

[2018-03-15 06:06] szha commented on #10119
Why do you think so?

[2018-03-15 08:16] mwbyeon commented on #10102
https://github.com/apache/incubator-mxnet/releases/tag/v0.9.3

[2018-03-15 08:42] gydlcc commented on #10102
Thanks pretty much, i get it

[2018-03-15 13:51] meanmee commented on #9763
error:
../../include/mxnet-cpp/optimizer.hpp:37:26: fatal error: mxnet-cpp/op.h: No such file or directory

But I can't find any files named op.h in mxnet-cpp, is this a bug?

[2018-03-15 17:21] pakmarkthub opened #10123 "train_cifar10.py hangs on first epoch in debug mode (4 P100 GPUs)"
## Description
train_cifar10.py hangs before outputting validation-accuracy on the first epoch when using four P100 GPUs, compiled with debug=1 or MXNET_ENGINE_TYPE=NaiveEngine (recompile with debug=0 in the later case).

## Environment info (Required)
----------Python Info----------
('Version      :', '2.7.5')
('Compiler     :', 'GCC 4.8.5 20150623 (Red Hat 4.8.5-16)')
('Build        :', ('defaul

[2018-03-15 18:37] eric-haibin-lin commented on #9396
@nicklhy I bisected the changes between 0.10.0 and 1.0 and found the following on a p2.xlarge(K80) instance. The commits are patched with the fix in PR 9055
[code]
and below is the result
[code]
[code]
Looks like the commit ff21e1f caused the 4% slowdown during inference.

@DickJC123 were you aware of this?

[2018-03-15 19:02] haojin2 commented on #2302
Seems like crop, slice_channel, softmax_activation are all deprecated operators, I think maybe we can skip the support for FP16 for those operators?

[2018-03-15 19:41] DickJC123 commented on #9396
I was not.  Is it easy for you to run your perf test on newer architectures than Kepler?

[2018-03-15 20:13] pakmarkthub commented on #4858
Have you already found a workaround or a solution?

I encountered similar problem when running train_cifar10.py on four P100 GPUs. I found that compiled with DEBUG=1 also created similar problem, not only limit to using NaiveEngine. I have created my ticket here #10123.

[2018-03-15 20:33] hdjsjyl commented on #8910
@adrianloy Hi, I meet the same problem as you. And I have made my own DataIterator like you. But I do not know how to change the update_metric part. Any advice will be appreciated. Thank you very much.

[2018-03-15 20:43] rahul003 commented on #8257
Hi, did eric-haibin-lin's suggestion solve your problem?
If not, could you use https://discuss.mxnet.io/ to ask this again. We request you to use that forum for questions.

[2018-03-15 20:48] rahul003 commented on #8257
@eric-haibin-lin Please label this with doc, question, visualization

[2018-03-15 21:15] rahul003 commented on #8060
@cjolivier01 Could you help label this with Question and close it.

@chowkamlee81 If you are still facing this, please ask on our discussion forum https://discuss.mxnet.io/

[2018-03-15 21:17] rahul003 commented on #7928
@cjolivier01  Could you please label this with question, performance

[2018-03-15 23:42] eric-haibin-lin commented on #9396
Let me try v100

[2018-03-16 00:26] szha commented on #8651
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-03-16 00:43] kazizzad opened #10126 "Change a block"
Hi,
I am trying to implement the following work
https://openreview.net/pdf?id=B1QRgziT-
It has the tensor flow, chainer, and pytorch implementation, but I could not find gluon version of it.
It requires changing the structure of the layers. (sample code for pytorch  https://github.com/godisboy/SN-GAN/blob/master/src/snlayers/snconv2d.py)

Can you help me to design such block in gluon?
This page ht

[2018-03-16 00:55] eric-haibin-lin commented on #8658
Fixed with https://github.com/apache/incubator-mxnet/pull/9658

[2018-03-16 00:55] #8658 closed

[2018-03-16 06:48] xinyu-intel commented on #8974
@mjmg I'm also a MRO user. I don't think we can build MxNet with MKL bundled in Microsoft R Open since it doesn't offer any header files of MKL. You can use MKL-DNN instead.

[2018-03-16 06:56] feevos opened #10127 "feature request: tensor contraction"
Dear all,

is there a (simple) way to do tensor contraction with ```NDArray```? Say I have a tensor T^{ij}_{kl} (i.e. a 4D NDArray with dim(j) = dim(k) ), I want to perform contraction over the j,k indices. For example, if ```dim(j) == dim(k) = 5``` I need to perform the operation:
[code]
this is different than writing ```nd.sum(T,axis=[2,3])``` which sums also for indices ```j != k ```.

As anoth

[2018-03-16 08:01] ranman commented on #10093
fixed here: https://github.com/apache/incubator-mxnet/commit/f14b2ebcb5475b0cde205648d0b80e3378e3dbed

[2018-03-16 08:14] GoodJoey commented on #10017
such as ResNet-101.
when you got a lot of data to process, you need to do data parallel using distributed training to save time.

[2018-03-16 09:00] feevos commented on #10127
The operation can be performed with successive operations of transpose,  reshape and dot,  please disregard.
E.g.

[code]
can be used with transpose as well if indices are not in last, first position.

[2018-03-16 09:00] #10127 closed

[2018-03-16 09:12] mxmxlwlw commented on #8257
Yes, thank you

[2018-03-16 09:12] #8257 closed

[2018-03-16 12:26] szha commented on #8694
@apache/mxnet-committers: This issue has been inactive for the past 90 days. It has no label and needs triage.

For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) (and [Chinese version](https://discuss.gluon.ai/)) is a good place to get help.

[2018-03-16 14:38] pokachopotun opened #10128 "Shared library dependent on mxnet"
## Description
Segmentation fault happens when shared library dependent on mxnet_static is loaded with dlopen.

## Environment info (Required)
----------Python Info----------
Version      : 3.6.0
Compiler     : GCC 4.4.7 20120313 (Red Hat 4.4.7-1)
Build        : ('default', 'Dec 23 2016 12:22:00')
Arch         : ('64bit', 'ELF')
------------Pip Info-----------
Version      : 9.0.1
Directory    : /

[2018-03-16 16:17] vdantu commented on #8682
@deichbrise , are you still seeing this issue?

[2018-03-16 16:35] vdantu commented on #8712
@mbaijal : Can this be closed?

[2018-03-16 16:40] vdantu commented on #8651
@nopattern : Did you find answer to your question? It might be helpful to start this discussion on discuss.mxnet.io . You will find larger audience.

[2018-03-16 16:46] vdantu commented on #5326
@BrettLL : Is this issue solved ?

[2018-03-16 17:12] eric-haibin-lin commented on #9396
Hi @DickJC123

ff21e1f with PR 9055 fix:

[code]

56eae58 with PR 9055 fix:
[code]
Looks like it is also slower on V100... @DickJC123 what should be the next step?

[2018-03-16 17:23] marcoabreu opened #10131 "Disabled C++ test batchnorm_test.cc - TestIterAll"
https://github.com/apache/incubator-mxnet/blame/master/tests/cpp/operator/batchnorm_test.cc#L1072

Test has been disabled as part of MKLDNN

[2018-03-16 17:24] marcoabreu opened #10133 "Disabled C++ test batchnorm_test.cc - TestChannelAxis"
https://github.com/apache/incubator-mxnet/blame/master/tests/cpp/operator/batchnorm_test.cc#L1513

Test has been disabled as part of MKLDNN

[2018-03-16 17:26] marcoabreu opened #10134 "Disabled C++ test batchnorm_test.cc - InGrad"
https://github.com/apache/incubator-mxnet/blame/master/tests/cpp/operator/batchnorm_test.cc#L533

Test has been disabled as part of MKLDNN

[2018-03-16 17:29] marcoabreu commented on #8712
@vdantu Please verify that this issue is not happening on MKLDNN and report back

[2018-03-16 17:30] marcoabreu commented on #8712
See https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_operator.py#L1182

[2018-03-16 17:36] marcoabreu commented on #8709
@piiswrong @DickJC123 can this be closed?

[2018-03-16 17:49] zheng-da commented on #10131
To make it clear, it's disabled not because of MKLDNN. It's disabled because the unit test has to be changed for the new interface used by batchnorm. I don't think you should label it as MKL.

[2018-03-16 17:53] zheng-da commented on #10133
The same comments as https://github.com/apache/incubator-mxnet/issues/10131

[2018-03-16 17:53] zheng-da commented on #10134
The same comments as https://github.com/apache/incubator-mxnet/issues/10131

[2018-03-16 18:51] cjolivier01 commented on #10131
I believe TestIterAll was disabled because it was mysteriously failing.

[2018-03-16 19:18] #8593 closed

[2018-03-16 19:18] #8394 closed

[2018-03-16 19:29] hetong007 opened #10137 "Occassional performance drop when training MobileNetV2 on ImageNet"
## Description
When training the recently-added mobilenetv2, I observed occassional drops in the number of samples per second:

[code]

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
`python`

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

MXNet commit hash:
`ccf04698787ff56f9189c0ece6a1a85e2d3876ba`

Build config:
`make -j $