[2020-02-20 15:51] szha commented on #17329
Now that mshadow is donated to mxnet, its license should be updated: https://github.com/apache/incubator-mxnet/blob/master/3rdparty/mshadow/LICENSE#L1

[2020-02-20 15:59] mjwall commented on #17329
And the license in all the source files.  Thanks @szha

[2020-02-20 19:01] haojin2 commented on #17606
fix merged, the fix has been verified with 500+ runs. Closing the issue for now, feel free to re-open if it pops up again.

[2020-02-20 19:01] #17606 closed

[2020-02-20 19:29] aGiant commented on #16379
Still error after successfully installed on respberry pi 4b, ubuntu 19.10.1 Python3.6
[code]

[2020-02-20 19:35] mjwall commented on #17329
Also should update the following, unsure if these are being tracked elsewhere
[code]

[2020-02-20 19:39] ZheyuYe opened #17638 "[Numpy] unknown type_flag=7"
## Description
A series of issues related to `kBool` occured afther the pull #17438 and [#4571](https://github.com/apache/incubator-tvm/pull/4571/) in tvm. This is, after all, a serious problem that makes many of deep numpy's features unusable.

Here is a simple error case.

### Error Message
[code]

## To Reproduce
[code]
## Comments
@sxjscience  @yzhliu

[2020-02-20 20:56] larroy commented on #17635
Ok, that's surprising. what build did you do before running the tests?

[2020-02-20 21:04] #14875 closed

[2020-02-20 21:24] yzhliu commented on #17638
looking into it

[2020-02-20 21:34] sxjscience commented on #17638
I find it could be further simplified:

[code]

[2020-02-20 22:07] sxjscience commented on #17638
[code]

[code]

[2020-02-20 22:35] apeforest opened #17640 "[OPPERF] opperf error out if I use python timer instead of the builtin mxnet profiler"
## Description
Seems the python timer did not parse the argument to broadcast_axis properly. It is fine if I use the 'native' profiler.

### Error Message
[code]
## To Reproduce
[code]

[2020-02-20 22:36] apeforest commented on #17640
@ChaiBapchya @connorgoggins Would you like to take a look at this?

[2020-02-20 22:38] connorgoggins commented on #17640
@apeforest working to reproduce now.

[2020-02-20 22:51] icemelon9 opened #17641 "OpenMP Error"
## Description
Compiled MxNet has duplicate OpenMP library link to both libomp and libiomp.

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)
[code]

## To Reproduce
I have both Intel MKL and MKLDNN library installed on Ubuntu 18.04. Use the following config to compile M

[2020-02-20 23:10] connorgoggins commented on #17640
Reproduced on CPU, debugging now.

[2020-02-20 23:38] connorgoggins commented on #17640
Implemented fix here: [[OpPerf] Fixed Python profiler bug](https://github.com/apache/incubator-mxnet/pull/17642) @apeforest

[2020-02-21 01:35] vexilligera commented on #17635
I simply ran pre_setup.ps1 and setup.ps1. Then I cloned MXNet and run `py -3 ci/build_windows.py -f WIN_GPU` and went into the python folder to install with `python setup.py install`.

I was able to import mxnet properly and the test script worked fine.

[2020-02-21 01:54] leezu commented on #17495
@eric-haibin-lin I raised the question on the Python Bug Tracker.
Python maintainers recommend to refactor MXNet to make state management pluggable / customizable.

Adding callbacks to contextvars is infeasible:

Reference: https://bugs.python.org/issue39660#msg362370

[2020-02-21 02:15] leezu commented on #17628
@TaoLv what's your status on this issue?
I think this issue is currently blocking Makefile build removal so we should fix it soon.

[2020-02-21 02:43] TaoLv commented on #17628
@leezu I‘m working on a fix.

[2020-02-21 06:44] apeforest commented on #17425
@yzhliu Do you have time to look into this issue? Also FYI @leezu The default config.cmake also turns off USE_TVM_OP. It causes confusion when developers encountered CI failures. I suggest we should turn off this flag in CI as well.

[2020-02-21 09:10] sl1pkn07 commented on #17641
that is because `git clone --recursive` pull openmp, and the cmake script don't take care if use system openMP or not

https://github.com/apache/incubator-mxnet/blob/9dcf71d8fe33f77ed316a95fcffaf1f7f883ff70/CMakeLists.txt#L390-L430

[2020-02-21 09:18] TaoLv commented on #17641
Same issue: https://github.com/apache/incubator-mxnet/issues/17366

[2020-02-21 09:45] sl1pkn07 commented on #17641
this case also same effects with intel-dnnl.

some distros already provide a package intel-dnnl, but mxnet force download the sources again

[2020-02-21 09:56] hkvision opened #17651 "Distributed training with kvstore crashes if worker has different number of data batches"
## Description
I'm following here https://mxnet.apache.org/api/faq/distributed_training to run distributed training. The examples goes fine. But in case that the data are not divided equally among workers, once the first worker finishes training, the whole program hangs and crashes.
Is it the expected behavior for data parallelism training?
In my case, each worker reads several files and most like

[2020-02-21 14:58] dmitry-markeshov opened #17653 "A process crashes when trying to exit normally"
## Description
MxNet version 1.6.1 (manually builded from source)

I run many unit tests through `ctest`. `ctest` calls exec() for each test (I believe) and runs a new process where test is running. In most tests MxNet is used.
All tests pass, but sometimes I see messages like this:
[code]

Back Trace is below:

### Error Message
[code]

[code]

## Environment

[code]

[2020-02-21 15:38] ZheyuYe opened #17654 "[LayerNorm] Missing the mismatch cues of in_channels"
## Description
It seems that LayerNorm could work through even the setting of `in_channels` is wrong. As seen in the reproducible code snippet below, I am setting the parameters `in_channels` as 768 purposely in all cases which are unmatched receiving a input whose whose dimension of last axis is 1024. However, only the last of the three error cases would produce a **"reasonable"** error message.

[2020-02-21 16:59] sxjscience commented on #17654
@ZheyuYe The C++ side implementation of the shape inferring logic is here: https://github.com/apache/incubator-mxnet/blob/9dcf71d8fe33f77ed316a95fcffaf1f7f883ff70/src/operator/nn/layer_norm.cc#L39-L66

The python side is here: https://github.com/apache/incubator-mxnet/blob/9dcf71d8fe33f77ed316a95fcffaf1f7f883ff70/python/mxnet/gluon/nn/basic_layers.py#L609-L614

The problem should be to check the s

[2020-02-21 17:18] leezu commented on #17641
@cjolivier01 you previously vetoed changing the omp configuration in cmake build, due to a race condition that had not been fixed. As that has been fixed, are you OK with proceeding to prefer system OMP for the CMake build by default? Or what is your recommendation?

Static build should still statically build omp.

[2020-02-21 17:21] leezu commented on #17641
@sl1pkn07 given the rapid development of intel-dnnl, MXNet expects a fixed version of intel-dnnl. It's quite unlikely that the system provides that particular version, but patches to improve detection are welcome. Do you want to contribute a PR? But let's track this in a separate issue.

[2020-02-21 19:03] leezu commented on #17653
Did you build with cmake or make? Do you have MKL installed on your system?

What's the build configuration? In case it's build with cmake, whats the output of the configuration run?

[2020-02-21 19:50] dmitry-markeshov commented on #17653
cmake

It's static linked (aslo MxNet static linked too)
MKL version is 2019.3.199

The cmake configure command line and output:
[code]

Also I used own FindMKL.cmake (changed were made for mkl static linkage)
[FindMKL.zip](https://github.com/apache/incubator-mxnet/files/4237796/FindMKL.zip)

[2020-02-21 19:51] cjolivier01 commented on #17641
1) What is pulling in libiomp5.so ?
2) Since when is libomp being linked in statically?  I am not aware of this ever being the case.

[2020-02-21 19:59] cjolivier01 commented on #17641
btw, cmake files have min cmake at 3.13, but default 18.04 cmake install is cmake 3.10.  Does anyone know what the deal is with 3.13?  Ubuntu 18.04 is a pretty widely-used release...

[2020-02-21 20:15] cjolivier01 commented on #17641
Not actually.  Due to no legitimate reason to remove it.

[2020-02-21 20:43] leezu commented on #17641
MKL

Just `pip install cmake` as per the doc https://mxnet.apache.org/get_started/ubuntu_setup. It'd be harder to explain when users require 3.13 and when 3.X, or 3.Y, than to uniformly require a recent version. There are various bugs fixed in 3.13 that affect MXNet use-cases (eg cuda, https://cmake.org/cmake/help/latest/policy/CMP0077.html for llvm openmp subproject)

Speed up developer build. No

[2020-02-21 20:44] eric-haibin-lin commented on #17495
@leezu thanks for the followup.

[2020-02-21 20:45] leezu commented on #17653
Could you try deleting the `3rdparty/openmp` directory before configuring and building. There is an issue where both `libiomp` and `libomp` are linked when enabling MKL: https://github.com/apache/incubator-mxnet/issues/17641

[2020-02-21 20:48] apeforest commented on #17331
Thanks to @JonTanS for running the profiler, we have ping pointed the performance degradation in operator `broadcast_axis` (from 138ms to 177ms) and `MXNDArraySyncCopyToCPU` (from 592ms to 679ms).

Running operator-level profiler we could also identify the performance drop in `broadcast_axis` alone.

w/o USE_INT64_TENSOR_SIZE flag:
```[{'broadcast_axis': [{'inputs': {'data': (1, 1024, 1), 'axis':

[2020-02-21 20:57] cjolivier01 commented on #17641
openmp is like a 4-5-second build.

On my desktop machine it's < 3:
real    0m2.940s
user    0m42.446s
sys     0m5.442s

[2020-02-21 20:58] cjolivier01 commented on #17641
I installed mkl, but it does not appear to pick it up.  is there a way to force it?

[2020-02-21 21:11] cjolivier01 commented on #17641
Actually, i don;t see this behavior when it oes pull in mkl/pulling in the other omp:
[code]
I don;t show libmkl_rt.so pulling in libiomp5:
[code]

[2020-02-21 21:30] leezu commented on #17641
`libmkl_rt` static links `libiomp` as per https://github.com/intel/mkl-dnn/issues/230#issuecomment-451073275

[2020-02-21 21:32] leezu commented on #17641
I think `libmkl_rt` may `dlopen` `libiomp` as per https://github.com/intel/mkl-dnn/issues/230#issuecomment-451082066

[2020-02-21 21:41] cjolivier01 commented on #17641
Linking in any version of omp statically would probably be a bad idea, since startup order would be important.

[2020-02-21 21:42] cjolivier01 commented on #17641
Clearly it does not:
[chriso@chriso-ripper:~/src/mxnet/build (master)]ldd /opt/intel/mkl/lib/intel64/libmkl_rt.so
        linux-vdso.so.1 (0x00007ffd6c5cc000)
        libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007fc85058d000)
        libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007fc85019c000)
        /lib64/ld-linux-x86-64.so.2 (0x00007fc850e71000)

[2020-02-21 21:47] leezu commented on #17641
Yes, that's why `dlopen`.

[2020-02-21 21:51] sl1pkn07 commented on #17641
and with `readelf -a <lib> | grep NEEDED` ?

[2020-02-21 21:53] cjolivier01 commented on #17641
can you supply a  script to reproduc this error? I am not able to reproduce.

[2020-02-21 22:00] sl1pkn07 commented on #17641
i'm using system openmp and no mkl-dnnl. sorry @icemelon9?

[2020-02-21 22:12] leezu commented on #17641
@sl1pkn07 please open a separate issue for your problem. This issue is about MKL.

[2020-02-21 22:12] leezu commented on #17641
@icemelon9 please provide the a reproducer to trigger the error message.

[2020-02-22 08:41] dmitry-markeshov commented on #17653
Tryed. Unfortunately didn't help.

[code]

Will try to debug.

[2020-02-22 13:02] yenw opened #17659 "Did some C ++ APIs become abnormal in version 1.6?"
As shown in the following code,
`case 2`:  if a model does not exist then initialize an empty model,
`case 1`: otherwise load the existing model.

In version 1.4.1, `case 1` and `case 2` worked fine.
In version 1.6, `case 2` can be compiled, but the output of neural network is `Nan`.
In version 1.6, `case 1` can load the model saved in version 1.4, and the output is normal.

I want to know if the

[2020-02-22 14:06] yenw commented on #17659
After testing, it was found that the neural network output NaN due to BatchNorm.

[2020-02-23 01:52] #17659 closed

[2020-02-23 05:47] xidulu opened #17661 "[Numpy] Zero-dim sum raises error, (again)"
Run the following script with MXNET_ENGINE_TYPE=NaiveEngine

[code]

error gets raised
[code]

[2020-02-23 10:48] Justobe opened #17662 "[NaN Bug] MXNET backend outputs NAN when using the built-in DenseNet121 model of keras for image classification task."
## Description
I encountered a problem when I used keras and backend mxnet for image classification. I loaded the model of densenet121 provided by keras to predict a picture. But I got NaN results. When I use tensorflow as the backend, I can get normal numerical results. The code is shown below.

### Error Message
Output of MXNET：

![image-20200223182806807](https://user-images.githubusercontent.c

[2020-02-23 12:09] Ricahrd-Li opened #17663 "[Question About Profiler] Is there a way to know which number of layer of neural network the tensor belongs to in the result of MXNet profiller?"
## Description
(A clear and concise description of what the feature is.)
- If the proposal is about a new model, provide description of what the model is.
- If the proposal is about an API, provide mock examples if possible.

Hi there!
Because of need in work, I am wondering is there a way to know **which number of layer of the neural network** the tensor belongs to in the result of MXNet profille

[2020-02-23 13:19] Justobe commented on #17250
It seems that mxnet has fixed the bug of transpose, but mxnet still does not support models trained by other backends.
Could you share me more information about the bug in transpose? e.g. commit link or PR link .
Looking forward to receiving your reply！ Thanks in advance.

[2020-02-23 15:43] ptrendx commented on #17250
The PR that fixed the issue in transpose shape inference is #15713.

[2020-02-23 15:54] Justobe commented on #17250
@ptrendx  Thanks for your reply! Hope that mxnet would also support models trained by other backends in the future.

[2020-02-24 02:09] zinebbe opened #17664 "Question : Bounded delay"
Hello,
I would like to use the parameter server along with mxnet.
Could you please let me know if it is possible to change the bounded delay on the parameter server.
I am aware that the bounded delay is not implemented in the ps-lite so I am trying to use the initial version of paramater server.
Thank in advance for your answer.

[2020-02-24 02:41] oleg-trott opened #17665 "No speedup from using FP16 (4 times slower than PyTorch)"
## Description

For dot products, there is no speedup from using FP16 (MXNet is 4 times slower than PyTorch) on RTX 2080ti.

For ConvNets, there is similarly little or no gain when using FP16 in MXNet (Unlike with PyTorch)

## To Reproduce

MXNet:
[code]

(Outputs approximately 60)

PyTorch

[code]

(Outputs approximately 14)

## What have you tried to solve it?

I suspect that tensor cores are no

[2020-02-24 04:35] szhengac opened #17666 "flaky test: test_operator.test_gru_bidirectional on unix cpu"
[2020-02-23T23:25:41.378Z] FAIL: test_operator.test_gru_bidirectional

[2020-02-23T23:25:41.378Z] ----------------------------------------------------------------------

[2020-02-23T23:25:41.378Z] Traceback (most recent call last):

[2020-02-23T23:25:41.378Z]   File "/usr/local/lib/python3.5/dist-packages/nose/case.py", line 198, in runTest

[2020-02-23T23:25:41.378Z]     self.test(*self.arg)

[20

[2020-02-24 04:36] szhengac opened #17667 "flaky test: test_rnntanh_bidirectional on unix cpu"
FAIL: test_operator.test_rnntanh_bidirectional

[2020-02-23T23:25:41.378Z] ----------------------------------------------------------------------

[2020-02-23T23:25:41.378Z] Traceback (most recent call last):

[2020-02-23T23:25:41.378Z]   File "/usr/local/lib/python3.5/dist-packages/nose/case.py", line 198, in runTest

[2020-02-23T23:25:41.378Z]     self.test(*self.arg)

[2020-02-23T23:25:41.378Z]

[2020-02-24 05:14] haojin2 opened #17669 "flaky test_bf16_operator.test_bf16_bn"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17619/6/pipeline
[code]

[2020-02-24 05:41] icemelon9 commented on #17641
Sorry about the late response. Here's the script to reproduce the error message.
[code]

The following shows shared library used by libmxnet on my machine.
[code]
[code]

[2020-02-24 07:04] TaoLv commented on #17667
Did it happen in CI? Do you have a link of it?

[2020-02-24 07:05] TaoLv commented on #17669
@rongzha1 Could you please take a look at this issue?

[2020-02-24 07:14] szhengac commented on #17667
Yes, it is on CI. I have retriggered my PR, so the link is gone...

[2020-02-24 07:31] hkvision commented on #17651
Hi @apeforest Thanks for taking time to look into this issue. Feel free to tell me if you need more information. Thanks a lot for your help!

[2020-02-24 08:02] ChaiBapchya opened #17670 "Couldn't load cache Cmake, Ubuntu, Build from source"
## Description
Ubuntu16.04 Build from source using Cmake issue

### Error Message
[code]
## To Reproduce

### Steps to reproduce

1. sudo apt-get update
1. sudo apt-get install -y build-essential git ninja-build ccache libopenblas-dev libopencv-dev cmake
1.  rm -rf build
 1.  mkdir -p build && cd build
 1.  cmake ..
 1.  cmake --build .

## Environment

[code]

[2020-02-24 08:02] ChaiBapchya commented on #17670
@mxnet-label-bot add [build, cmake]

[2020-02-24 08:03] ChaiBapchya commented on #17670
Got it resolved by removing the CMakeLists.txt file
Likely caused by some corrupt cmake file

https://stackoverflow.com/questions/16319292/cmake-error-could-not-load-cache

[2020-02-24 08:03] #17670 closed

[2020-02-24 08:20] rongzha1 commented on #17669
@ElaineBao @ZhennanQin  Can you double check it pls? As we discussed, we can't avoid such cast error. What about skip this case ?

[2020-02-24 08:50] ElaineBao commented on #17669
Yes, this happens when the variance of bn meets some specific value which can not be computed as fp32 by bf16, as you can see, these error occurs  in the same channel (channel = 10 in above case), because they share the same variance. This case can be fixed either by enlarging the error tolerance or using fixed seed.

[2020-02-24 08:51] fhieber opened #17671 "mxnet=1.6.0 for OSX on pypi does not work"
## Description
It seems that mxnet 1.6.0 was published on pypi: https://pypi.org/project/mxnet/1.6.0/
However, when installing it through pip on a mac, I receive this error message:
[code]

[2020-02-24 09:55] pengzhao-intel commented on #17669
Could we increase the tolerance for this case to align BF16 precision?

[2020-02-24 14:27] rongzha1 commented on #17669
increase the tolerance for this case in #17673

[2020-02-24 16:49] eric-haibin-lin commented on #17612
This is because self.namescope is shared and overriden: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/block.py#L92

[2020-02-24 17:24] cjolivier01 commented on #17641
[code]

[2020-02-24 17:25] cjolivier01 commented on #17641
[code]
Stll can't reproduce.
Can you send entire cmake config log?

[2020-02-24 17:55] leezu commented on #17641
CI can also reproduce this issue. I switched CI to testing CMake builds instead of Makefile build in https://github.com/apache/incubator-mxnet/pull/17645 and the Python MKLDNN + MKL Pipeline fails with this issue: [Log](http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-17645/30/pipeline/297) and [Raw log](http://jenkins.mxnet-ci.amazon-ml.com/bl

[2020-02-24 18:00] icemelon9 commented on #17641
Here is the cmake log.
[code]

[2020-02-24 18:12] cjolivier01 commented on #17641
This is with latest 2020 version of mkl?

[2020-02-24 18:13] icemelon9 commented on #17641
Yes, I installed Intel MKL 2020.0-166

[2020-02-24 18:21] cjolivier01 commented on #17641
This behavior seems suspicious because the claim would also suggest that the problem would exist for all similar build cases (ie my machine now) as well as for clang, which would pull in libomp by default, and not libiomp5.

[2020-02-24 18:24] leezu commented on #17671
CC @szha

[2020-02-24 18:25] leezu commented on #17671
Seems the linux wheels are labeled wrongly and claim support for all platforms: https://pypi.org/project/mxnet/1.6.0/#files

@szha

[2020-02-24 18:42] cjolivier01 commented on #17641
does it occur with opencv turned off?

[2020-02-24 18:47] mikeobr commented on #17139
Group Norm is available in the latest 1.6 release, does this issue mean it shouldn't be used?

[2020-02-24 19:27] icemelon9 commented on #17641
I still got the error after tuning off opencv.
[code]

[2020-02-24 19:34] stu1130 commented on #17664
[@mxnet-label-bot add question]

[2020-02-24 19:35] stu1130 commented on #17587
[@mxnet-label-bot add question]

[2020-02-24 19:38] stu1130 commented on #17539
[@mxnet-label-bot add custom]

[2020-02-24 19:42] stu1130 commented on #17664
@eric-haibin-lin could you take a look at this question?

[2020-02-24 19:44] stu1130 commented on #17587
@ChaiBapchya could you take a look at this quesiton?

[2020-02-24 20:00] cjolivier01 commented on #17641
I can reproduce now.  However, even if I remove the openmp build in CMakeLists.txt and build with clang, I get that warning, since it pulls in libomp from clang (I am using clang8):

[chriso@chriso-ripper:~/src/mxnet/build (master)]ldd libmxnet.so
        linux-vdso.so.1 (0x00007ffd55ab4000)
        libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007f084c8cd000)
        libpthread.so.0 => /lib

[2020-02-24 20:04] leezu commented on #17641
When building with MKL, are we supposed to build with `libiomp` as well @cjolivier01 @pengzhao-intel?
If so, we need to change our build accordingly.
If not, this seems to be a bug in MKL.

[2020-02-24 20:15] cjolivier01 commented on #17641
Another thing to note is that ompenmp with llvm also installs libgomp.so as a symlink to libomp.so, so there's a good chance that libomp.so will be loaded no matter what, depending upon whether a system had clang/openmp installed at all and where that is in the link order.  So unless I am missing some clever logic, what mkl doing with its dynamic loading is a cause for concern.

Also of note, clan

[2020-02-24 22:52] szha opened #17676 "[RFC] MXNet 2.0 API Deprecation"
As the MXNet community is working on the next major version of MXNet as described in #16167, this RFC seeks to clarify the scope of API deprecation, to inform the community of the replacement API design, and to ensure informed consensus.

Thanks to the long history of MXNet and the accumulated efforts of the community, MXNet now supports a wide range of neural network model training and deployment

[2020-02-24 23:14] leezu commented on #17587
@hkvision this is a known issue. Workaround: https://github.com/apache/incubator-mxnet/issues/16933#issuecomment-561461776

@ChaiBapchya if you could help fix it, that would be great.

[2020-02-25 00:41] szha commented on #17671
wheels for osx for py36 through py38 have been uploaded. the linux wheel is a long-standing problem as py2.py3 tag is only supported for universal wheels with any

[2020-02-25 00:41] leezu commented on #17671
How about py35?

[2020-02-25 01:01] ChaiBapchya commented on #17587
Working on it.

[2020-02-25 01:54] #17628 closed

[2020-02-25 01:57] leezu commented on #17641
@TaoLv @pengzhao-intel can you advise about the mkl dynamic loading of iomp? What's your recommendation to fix this issue.

[2020-02-25 02:10] TaoLv commented on #17641
@leezu I need take time to go through this discussion. But do you think changing MKL to static link will solve your question? Please see link adviser here: https://software.intel.com/en-us/articles/intel-mkl-link-line-advisor

[2020-02-25 02:12] TaoLv commented on #17641
@leezu you may also want to take a look at the discussion around here: https://github.com/apache/incubator-mxnet/issues/16891#issuecomment-567051540

[2020-02-25 02:14] TaoLv commented on #17641
I think so. I remember @icemelon9 also met the problem that importing pytorch before mxnet in a single python script will slow down the execution of mxnet.

[2020-02-25 02:17] i55code opened #17678 "Cuda 10.2 Ubuntu 18 mxnet installation error"
Hi, I have followed this post (https://github.com/apache/incubator-mxnet/issues/17058) to install the nightly convenience builds using:
pip install --pre mxnet -f https://dist.mxnet.io/python/cu102mkl

However, when I test the following code:

The error message is :

[20:56:28] src/imperative/./imperative_utils.h:92: GPU support is disabled. Compile MXNet with USE_CUDA=1 to enable GPU support.
ter

[2020-02-25 02:18] pengzhao-intel commented on #16891
It's a good chance to make the system clean :)

[2020-02-25 03:54] leezu commented on #17678
The instruction is wrong. You need to ` pip install --pre mxnet_cu102 -f https://dist.mxnet.io/python/cu102mkl`

[2020-02-25 03:55] #17678 closed

[2020-02-25 03:58] #17638 closed

[2020-02-25 06:07] szha commented on #17671
I made py35 available too

[2020-02-25 06:15] yerzhik opened #17680 "Cannot run pip install (error)"
## Description
succesfuly run make (cmake, make)
then, after running pip install --user . (without -e option)
getting error message (below)
### Error Message
[code]
## To Reproduce
Just trying to install using pip install --user
happens with pip3 or pip2

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. git clone --recursive https://github.com/apache/incubator-mxnet

[2020-02-25 07:07] leezu commented on #17641
As it's rather difficult to disable clang linking with llvm openmp, we can disable linking intel openmp until a solution is found to only link against intel openmp. For that, it may be required to compile with intel compiler.

To stop linking with intel openmp, remove / disable

https://github.com/apache/incubator-mxnet/blob/31144c763bfd0fe199b7fe0f23a20555c9731e7a/cmake/Modules/FindMKL.cmake#L126

[2020-02-25 07:25] leezu commented on #17680
Try with the `-e` option. If that works, please update the title of this issue to be more specific. Thanks.

[2020-02-25 08:19] TaoLv commented on #17641
@leezu How about also set `-DMKL_USE_STATIC_LIBS=ON`? Then there is no need to worry about loading iomp dynamically.

On my machine, I always have another `gomp` as reported [here](https://github.com/apache/incubator-mxnet/issues/11417#issuecomment-555413002):

[code]

[2020-02-25 08:22] Justobe opened #17684 "The output of the ReLU layer in MXNET is different from that in tensorflow and cntk"
## Description
Hi, I encountered a problem when I used keras's MobileNetV1 for image classification task. The prediction result of backend MXNet is different from TensorFlow and CNTK. The input picture is sampled from the ImageNet DataSet.
![imagenet-0](https://user-images.githubusercontent.com/15032308/75228076-619f1200-57ea-11ea-9c8e-e0e28f06b893.png)

The outputs ( Top-1 prediction) of three ba

[2020-02-25 09:23] djaym7 commented on #14515
following, request +1

[2020-02-25 10:24] fhieber commented on #17671
Thanks, installing `mxnet` now works, but `mxnet-mkl` still shows the same problem.

[2020-02-25 10:26] hkvision commented on #17587
Hi @leezu Thanks for supporting. I saw the workaround for libmxnet.so in the comment. I will follow https://github.com/apache/incubator-mxnet/tree/master/tools/staticbuild and the way you mention in the comment.
Wondering will the remaining two points I mentioned in the issue description (dmlc, opencv) be resolved in this case?
Thanks so much.

[2020-02-25 10:44] cosmincatalin commented on #17671
Doesn't `mxnet` 1.6.0 make `mxnet-mkl` redundant?

[2020-02-25 10:45] vexilligera commented on #17635
It turns out that the CUDA architecture detection probably failed, if you go with the 5.2 in the script it does give you mxnet_70.dll on P3 instance, but the binary might be wrong. When I set '-DMXNET_CUDA_ARCH="7.0” ‘ things work properly.

Still pretty weird since yesterday when I was trying this with Clang it gives me the same segmentation fault. I'll probably dig deeper into this if this happe

[2020-02-25 10:48] fhieber commented on #17671
Good question, it would be good to know if that is the case.

[2020-02-25 11:36] hkvision commented on #16933
@leezu Wanna ask can I run build.sh on centos or ubuntu only?

[2020-02-25 12:03] kalcohol commented on #16167
Thanks for this awesome work, it has benefited me a great deal.

Here are some disadvantages(may be) listed blow:
1. it seems that c and c++ interface both could work, but can not finish single task only by one;
2. low bit training or inference is not available via c/c++(ver. 1.6.0 fix fp16 training);
3. static linking lib is (very) far away from easy to use, cmake configure file(like MxNetConfig.

[2020-02-25 13:47] Justobe opened #17686 "Inconsistency between Tensorflow, MXNet and Theano backends in LSTM layer"
## Description

Hi，I find the inconsistency between  MXNet,Tensorflow and Theano backends in LSTM layer when I use a simple lstm model for a regression task. I loaded the same model on different backends(tensorflow, mxnet and theano), and the prediction accuracy of mxnet is different from that of tensorflow and theano under the same input. We calculate the MSE between the output of the model and t

[2020-02-25 15:28] i55code commented on #17678
Thank you so much! It works!

[2020-02-25 15:29] RuRo commented on #14762
It's really bizarre, that `gluon` doesn't support this out of the box. Returning a "`tuple of NDArray/Symbol`" is such a common use case and it is even supported in some other `mxnet` APIs (i.e. datasets/dataloaders).

[2020-02-25 16:18] leezu commented on #17641
`-DMKL_USE_STATIC_LIBS=ON` will still link `libiomp5` dynamically as per our `FindMKL.cmake`. That could be fixed, but then `libiomp5` will be statically linked and llvm `libopenmp` dynamically linked. So both will still be present and the error reported by @icemelon9 would remain?

I'll verify the following patch for https://github.com/apache/incubator-mxnet/pull/17645

[code]

Empirically loadin

[2020-02-25 17:00] sl1pkn07 commented on #17641
in archlinux (my case)

libgomp and libomp is provided by different package

[code]

openmp is builded with this flag for prevent make a libomp symlink

[code]
(https://git.archlinux.org/svntogit/packages.git/tree/trunk/PKGBUILD?h=packages/openmp#n35)

i'm not sure if this helps

greetings

[2020-02-25 17:01] sl1pkn07 commented on #17641
in archlinux (my case)

libgomp and libomp is provided by different package

[code]

openmp is builded with this flag for prevent make a libomp symlink

[code]
(https://git.archlinux.org/svntogit/packages.git/tree/trunk/PKGBUILD?h=packages/openmp#n35)

i'm not sure if this helps

greetings

[2020-02-25 17:41] leezu commented on #16167
@kalcohol please create a new issue about "static linking lib is (very) far away from easy to use", describing your setup in more detail and potentially suggestions how to improve the user experience.

[2020-02-25 18:10] cjolivier01 commented on #17641
@TaoLv
what version of gcc?

[2020-02-25 18:18] leezu commented on #17641
@TaoLv `-DMKL_USE_STATIC_LIBS=ON` is currently broken on my system and in particular doesn't link `iomp` statically.

I'll create a PR to statically link iomp by default if MKL is found. As all OMP related symbols will then be resolved at compile time, it doesn't matter that gcc declares `libgomp.so` and clang `libomp.so` respectively as NEEDED. Further I'll disable building llvm openmp when stati

[2020-02-25 18:18] leezu commented on #17641
@cjolivier01 this will happen with any version of gcc

[2020-02-25 18:22] cjolivier01 commented on #17641
Linking to omp statically is dangerous because atfork handler registration (and thus execution) order is no defined, as well as general global init order, of course, although I am not sure if that is problematic since libiomp i all C.

[2020-02-25 18:23] cjolivier01 commented on #17641
it doesn;t happen on my machine, but I am not linking to opencv because it breaks my pytorch, build having it installed. maybe opencv pulls in libgomp?

[2020-02-25 18:24] cjolivier01 commented on #17641
mayb e statically linking is ok, I am not sure

[2020-02-25 18:26] cjolivier01 commented on #17641
How broken?  When I built with clang, it seems to run ok.

[2020-02-25 18:38] leezu commented on #17641
You can use this patch as fix

[code]

[2020-02-25 18:38] leezu commented on #17641
You're right. I misremembered that fact.

[2020-02-25 19:12] leezu commented on #17641
You're right. I misremembered that fact. libgomp is only a transitive dependency.

[2020-02-25 19:13] leezu commented on #17641
@cjolivier01 How can we stop clang from pulling in libomp? It doesn't have an effect when static linking, as the symbols are already resolved, but it would be better to not pull libomp in in the first place.

[2020-02-25 21:17] leezu commented on #16933
@hkvision `CMAKE_STATICBUILD=1 ./tools/staticbuild/build.sh cpu` is also supported on OS X.

[2020-02-25 21:21] leezu commented on #17671
`mxnet-mkl` for 1.6 refers to MKLDNN enabled build.
https://github.com/apache/incubator-mxnet/pull/16899 was recently merged to master branch and in the future `mxnet` build will come with MKLDNN enabled by default.

[2020-02-25 21:27] leezu commented on #17587
OpenCV will be linked statically.

@szha please advise about dmlc_tracker. You mentioned

[2020-02-25 21:40] #17654 closed

[2020-02-26 00:26] cjolivier01 commented on #17641
Stopping clang/others from linking to omp seems like the tail wagging the dog.  I think we should consider other options, such as making the static mkl build work, or somehow stopping mkl from being so "clever".

[2020-02-26 02:09] TaoLv commented on #17641
It's 4.8.5 on centos. Do you want me to try a higher version or exclude opencv from the build?

@leezu, with this flag on, I would expect only MKL libraries to be statically linked while omp runtime is dynamically linked to mxnet.so. That's how we handle the omp linkage of DNNL.

[2020-02-26 02:11] TaoLv commented on #17641
@leezu what's the error of statically linking MKL libraries?

[2020-02-26 02:34] athewsey opened #17688 "(Hybrid)Block export filenames return or override"
## Description
The [HybridBlock.export()](https://mxnet.apache.org/api/python/docs/api/gluon/nn/index.html#mxnet.gluon.nn.HybridBlock.export) function currently saves two files: `[path]-symbol.json` describing structure and `[path]-####.params` for parameters.

The parameters filename contains the epoch number, zero-padded to minimum length 4 (but, given the implementation, will be longer if the n

[2020-02-26 02:35] TaoLv commented on #17641
@leezu, previously we thought intel is not distributing iomp static library: https://github.com/apache/incubator-mxnet/issues/8532#issuecomment-341834234. But from the linked issue, even we fix the omp runtime conflict inside mxnet, we may still encounter conflicts in down stream projects.

[2020-02-26 02:37] cjolivier01 commented on #17641
for me it was some link error on some secondary thing like cpp unit test or something like that. libmxnet.so built successfully and the rest script was successful. probably not too hard to fix.

[2020-02-26 02:42] TaoLv commented on #17641
Thank you @cjolivier01 . That's exactly what I just observed.

[2020-02-26 03:26] zinebbe commented on #17664
@eric-haibin-lin any update please?
Thanks again for your help!

[2020-02-26 05:26] djaym7 opened #17691 "ND/symbol isnan()"
Feature request to check if nd/symbol's value is nan or not.

Reference : https://docs.scipy.org/doc/numpy/reference/generated/numpy.isnan.html

[2020-02-26 06:25] #17640 closed

[2020-02-26 06:41] leezu commented on #17641
@TaoLv @cjolivier01 its not hard to fix. If you look above, I posted the patch to fix it 12 hours ago

[2020-02-26 06:51] TaoLv commented on #17641
Thanks @leezu! It seems that we have got a consensus to address this issue?

[2020-02-26 07:15] sayakpaul commented on #12021
Hi,

Any help on this? I am also running into the same issue.

[2020-02-26 07:27] kalcohol opened #17692 "cmake findable static linking configuration file(s) generation procedure was needed"
## Description
- now making procedure could generate static linking lib libmxnet.a, but for end users, it's not easy to link all these large bunch of third party static libs together, sequence of these may need adjusted each time.
- under some conditions, static linking is required, safety reasons for example

## References
-  the wanted generation procedure just like OpenCV install procedure does

[2020-02-26 07:28] eric-haibin-lin commented on #17664
I don't think mxnet is integrated with the parameter server library. In ps-lite, you can probably leverage the timestamp in the message and add parameter versioning logic on the server side, but you need to implement it yourself

[2020-02-26 07:29] kalcohol commented on #16167
#17692 add this tiny requist.

[2020-02-26 08:02] hkvision commented on #17651
@apeforest @leezu

[2020-02-26 08:45] Justobe opened #17694 "The output of the Conv2D layer in MXNet is different from that in TensorFlow and CNTK"
## Description

Hi, I encountered a problem when I used LeNet-5 for image classification task. The prediction result of backend MXNet is different from TensorFlow and CNTK. The input picture is sampled from the Fashion-MNIST DataSet.

![fashion-mnist-0](https://user-images.githubusercontent.com/15032308/75327058-b740f080-58b6-11ea-87c1-084bd728c2ee.png)

The outputs ( Top-1 prediction) of three ba

[2020-02-26 12:59] hkvision commented on #16933
@leezu Thanks.
Another question is that when I run build.sh once and encounter failures, is there any flag to skip the successfully downloaded and built packages? If I don't delete the folder `staticdeps`, the program always asks me to keep/rename/... every single file on that folder... If I delete the folder, everything needs to be re-downloaded and it is time consuming.
Thanks so much!

[2020-02-26 13:25] TaoLv commented on #17341
Should be addressed already in the upgrading PR.

[2020-02-26 13:25] #17341 closed

[2020-02-26 15:03] northeastsquare opened #17695 "mxnet inference wrong"
## Description
I train mask classification, validation acc:98%, but inference with train and val image, many case is wrong, maybe 50% is wrong
the codes in:https://github.com/northeastsquare/mxnet_mask_classification
## Occurrences
in training:
![Screenshot from 2020-02-26 22-56-56](https://user-images.githubusercontent.com/3086078/75356965-98108600-58eb-11ea-94e5-95334ed85caf.png)
but inference:

[2020-02-26 15:15] pedrooct commented on #16379
hi, i'm getting the same error as you on my raspberry pi 3b, until Friday i will compile mxnet and try to create a wheel. I will give my best !

[2020-02-26 15:15] zinebbe commented on #17664
Thank you very much for your answer, is it possible to use the mxnet with the parameter server since the bounded delay is implemented there? If so, any tip on how to proceed?
Thanks again

[2020-02-26 15:42] cjolivier01 commented on #17641
there’s a lot of stuff in that PR，would prefer a more targeted PR.
Also, I think the best fix is link statically to
MKL as we discussed, which as far as I can tell is not addressed in this PR, although I didn’t read every line. i will review some more when i get to my day job, but it would be better to have a small, targeted PR.

[2020-02-26 16:20] cjolivier01 commented on #17641
i will post a pr in the next day or two that addresses also clang issue as  well as transitive omp dependencies which may also cause the error due to mkl behaving foolishly.

[2020-02-26 17:01] leezu commented on #17641
@cjolivier01 the PR coniststs of two commits. Only the second commit is related to omp and implements the conclusion from the discussion in this issue.

The first commit enables testing the cmake build. Currently the cmake build is largely untested and broken. You're free to open a separate PR to improve the fix in #17645, but it's unreasonable to veto that change.

[2020-02-26 17:10] apeforest commented on #17695
@Jerryzcn have you seen this issue before?

[2020-02-26 17:30] leezu commented on #16933
@hkvision it will skip compiling the dependency iff it was compiled successfully before.
A PR to improve the situation in case of failure to compile dependency is of course welcome

As a workaround, I suggest you set up ccache on your machine, in which case recompilation amounts to cache lookups.

There should be an option "Overwrite All", usually invoked with "A" key.

[2020-02-26 17:32] leezu commented on #17651
mxnet-mkl 1.6.0b20191025 is very old. Try recent version from https://repo.mxnet.io/dist/index.html

CC @eric-haibin-lin

[2020-02-26 17:33] leezu commented on #17692
@kalcohol would you like to add this feature? If you can work on it, we can resolve it quickly. Otherwise it may take some more time before this issue gets resolved

[2020-02-26 17:34] leezu commented on #12021
Seems that StopIteration is raised directly, ie the iterator is empty.

[2020-02-26 17:39] leezu commented on #17688
@athewsey would you like to contribute a PR?

[2020-02-26 22:04] m-parchami commented on #1161
Maybe you are working on wrong environments.
Use `which python` or `python --version` and figure out your python environment.
Also do the same for your pip. `which pip` and `pip --version`. you will figure out where does your `pip` command install the requested package. You might have to use `pip3` or `pip2` in order to get things done.
I'm not sure if you can use the `which` on windows or not. It

[2020-02-26 22:42] ceisenach opened #17698 "Unexpected Behavior in `mxnet.gluon.utils.split_and_load`: All data is loaded to ctx_list[0]"
## Description
In `mxnet.gluon.utils.split_and_load` if the data is not already an `mxnet.ndarray.NDarray`, the following happens:

1. `data` is converted to an `mxnet.ndarray.NDarray`, and copied to `ctx_list[0]`.
2. `data` is split and a chunk is moved to each context in `ctx_list`
In multi-gpu training, this can cause OOM errors on `ctx_list[0]` because **the entire dataset**  is moved there be

[2020-02-26 23:30] apeforest commented on #17651
Could you post your script to reproduce? Thanks

[2020-02-27 01:18] northeastsquare commented on #17695
OK, get it, my fault. Because I resize image 256x256.But when train,resize 128x128

[2020-02-27 01:18] #17695 closed

[2020-02-27 02:19] szha commented on #17676
cc @apache/mxnet-committers

[2020-02-27 02:43] szha opened #17701 "[RFC] New Branches for MXNet 1.x, 1.7.x, and 2.x"
Hi,

I created the following branches in the MXNet repo: 1.x, 1.7.x. I propose that these branches will function as the following:
- 1.7.x: release branch for 1.7.x versions. 1.7.0 roadmap is specified at https://github.com/apache/incubator-mxnet/issues/16864
- 1.x: development branch for MXNet's future 1.x versions (e.g. 1.8.x, 1.9.x, ...)
- master: development branch for 2.x. 2.0 roadmap is spec

[2020-02-27 02:54] konioyxgq commented on #5889
Hi, @BensonBlack .

Have you already solved this issue?
I'm facing same problem and also need help now.

[2020-02-27 02:58] sxjscience opened #17703 "Need to use safe accumulation for calculating the gradient of Embedding + Take"
## Description

Currently, the inner gradient accumulation method in `Embedding` and `take` is not based on safe accumulation, which means that we will lose precision in the fp16 case. Here's the example that amplified the issue:

[code]

Output:
[code]

Also, the same happens for take
[code]
Output:
[code]

[2020-02-27 03:02] TaoLv commented on #17676
What about those v1, v2 APIs?

[2020-02-27 03:25] sl1pkn07 opened #17704 "cpp-package: .gitignore in wrong path"
cpp-package/include/mxnet-cpp/.gitignore

can be integrated into the main .gitignore?

this file is installed into the system headers when run make install

[code]

[2020-02-27 04:41] kalcohol commented on #17692
i will try, it seems that i was caught in a trap of my own making.

[2020-02-27 05:08] szha commented on #17703
Is stable sum enabled?

[2020-02-27 05:30] eric-haibin-lin opened #17705 "mkldnn quantized FC is slow"
quantized BERT model with int8 is 2x slower than float32.

Download trained SST params from: https://dist-bert.s3.amazonaws.com/demo/finetune/sst.params

Clone is install gluon-nlp v0.9
[code]

I'm using c5.12xlarge. I tried to set OMP_NUM_THREAD=8, but int8 is still slower than float32.

[2020-02-27 05:31] pengzhao-intel commented on #17705
@wuxun-zhang @ciyongch

[2020-02-27 05:36] ciyongch commented on #17705
Thanks for reporting this, I will take a look.

[2020-02-27 06:45] leezu commented on #17704
Sure, please open a PR.

[2020-02-27 07:09] djaym7 opened #17706 "deleted"
Deleted

[2020-02-27 07:24] hkvision commented on #17651
@leezu I upgraded to the just recent release 1.6.0 and the problem still exists.
@apeforest I'm running the image classification example: https://github.com/apache/incubator-mxnet/blob/master/example/gluon/image_classification.py
You can reproduce using the following command:
[code]
And also modify https://github.com/apache/incubator-mxnet/blob/master/example/gluon/data.py#L138 to generate a rando

[2020-02-27 07:33] sxjscience commented on #17703
To clarify, it affects both nd and the new numpy (I'm testing with the numpy interface because I'd like to test the `take` operator).

This mimics the setting that appears in large-batch training of transformers, in which there will be way more tokens than the size of the vocabulary.

[2020-02-27 07:41] sxjscience commented on #17703
The simplest fix is to revise the kernel with safe accumulation, which means to cast float16 to float32 before accumulating. Also, I suggest that we should turn on  `MXNET_SAFE_ACCUMULATION` for float16 type in 1.7 (change the default behavior) so that float16 is accumulated via float32.

I think we should use the following approach for summing up a sequence of float16 numbers:
1) load them as `ha

[2020-02-27 07:45] eric-haibin-lin commented on #17651
@hkvision what data iterator/dataloader are you using? if you use data iterator, you can use io.ResizeIter to make sure the size is balanced. For dataloader, you can use the SplitSampler with even_size=True: https://gluon-nlp.mxnet.io/_modules/gluonnlp/data/sampler.html#SplitSampler

[2020-02-27 07:53] sxjscience commented on #17665
I can replicate the performance gap. Also, I added `mx.nd.waitall()` in the first script:

[code]

[2020-02-27 08:00] hkvision commented on #17651
@eric-haibin-lin Hi, I'm using NDArrayIter. I checked ResizeIter, so in order that all my data are trained, I need to set the size to the largest batch among all workers and for workers with less batches, after finish all the data, it will iterate from the very beginning until the target size is reached. Point out if I'm wrong. :)
Thanks so much and this can be a workaround for me.

[2020-02-27 09:20] sl1pkn07 commented on #17704
[code]

also this .gitignore ?

[2020-02-27 09:24] ciyongch commented on #17705
@eric-haibin-lin I just created a PR https://github.com/apache/incubator-mxnet/pull/17707 to address this issue, please take a review.

[2020-02-27 10:54] EmilPi commented on #17454
Any news on this?

[2020-02-27 12:49] sl1pkn07 opened #17708 "Silence all compiler warnings when build"
## Description
silence all warnings when  build the project

## References
when build the project, a tons of warnings like

[code]

and others like

[code]
the full log:
[full_log.txt](https://github.com/apache/incubator-mxnet/files/4261654/full_log.txt)

this is not considered a bug, because at the moment, the build process finished OK. but is good silence this warnings wich fill with spam the ou

[2020-02-27 17:43] leezu commented on #17708
@hzfan could you fix the warnings in ffi that you introduced.

CI already tests with `-WError` to prevent introducing more problems, but that test needs to be changed to run with a newer compiler toolchain.

[2020-02-27 17:51] leezu commented on #17704
It's valid to have .gitignore in subdirectories, so it's not necessary to change all. `cpp-package/include/mxnet-cpp/.gitignore` is copied together with the include files, so there is a good reason to fix `cpp-package/include/mxnet-cpp/.gitignore`. You could move it to `cpp-package/.gitignore` for example.

[2020-02-27 18:37] eric-haibin-lin commented on #17651
I think that's correct. Please let me know if you come across issues using that.

[2020-02-27 19:04] sl1pkn07 commented on #17704
done

[2020-02-27 20:13] gromovadarya90 opened #17710 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 21:08] leezu opened #17712 "Gluon Block hooks reference counting bug"
## Description
Garbage collection can trigger `_PyObject_AssertFailed` if Gluon Block hooks are used.

### Error Message
[code]

## To Reproduce
To deterministically reproduce, apply this patch

[code]

The issue will also occur non-deterministically when garbage collection is triggered in the background.

### Steps to reproduce
1. Use Python debug build. For example, with [pyenv](https://github.c

[2020-02-27 21:53] leezu commented on #17712
Seems to be an upstream bug, so I opened https://bugs.python.org/issue39778

[2020-02-27 21:53] #17712 closed

[2020-02-27 22:14] sxjscience commented on #17665
I tried with `nvprof` and find that MXNet and PyTorch uses different kernels:

For MXNet, it's `volta_fp16_sgemm_fp16_64x64_nn`.

[code]

For PyTorch, it's `volta_fp16_s884gemm_fp16_256x128_ldg8_f2f_nn`.
[code]

[2020-02-27 22:40] ChaiBapchya commented on #14994
For unrelated PR #17487
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-17487/runs/21/nodes/431/log/?start=0

[2020-02-27 23:13] leezu opened #17713 "test_operator_gpu.test_embedding_with_type 'an illegal memory access was encountered'"
## Description
Embedding operator in `test_operator_gpu.test_embedding_with_type` triggers illegal memory access error deterministically on G4 instance.

### Error Message
[code]

## To Reproduce
`nosetests --verbose tests/python/gpu/test_operator_gpu.py -m test_embedding_with_type`

### Steps to reproduce
1. On a EC2 g4 instance, compile MXNet with Cuda support, for example: `CC=clang-9 CXX=clang

[2020-02-27 23:40] leezu commented on #15925
Could the CI issue be related to https://github.com/apache/incubator-mxnet/issues/17713 ? That can be reproduced deterministically on G4 instance

[2020-02-28 00:48] #17704 closed

[2020-02-28 01:47] apeforest opened #17715 "MXNet nightly cpu build (w/o MKLDNN) does not work with Horovod"
## Description
Installing Horovod with MXNet nightly CPU (w/o MKLDNN) failed. GPU build and CPU mkldnn build are both okay.

## Error Message:

OSError: /usr/local/lib/python3.6/dist-packages/horovod/mxnet/mpi_lib.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN5mxnet10CopyFromToERKNS_7NDArrayEPS1_i

@TaoLv Is it also related to the change you made recently that fixed MKLDNN build?

@szha @l

[2020-02-28 02:21] TaoLv commented on #17715
Hmm if you're using the latest nightly build, I'm afraid MKL-DNN is already enabled in it. Could please share the output of mx.runtime.Features()?

[2020-02-28 03:10] connorgoggins opened #17716 "[Large Tensor] linalg ops fail w/input dim >= 2**32"
## Description
While testing the `linalg_*` ops on large tensor (dimension >= 2**32) data, I found that all of these ops fail with a segmentation fault on large tensor data. In a test run with the `linalg_det` op, I traced the error to line 485 of `src/operator/tensor/la_op-inl.h`. This line lies within the `Map` void function which takes in several parameters, namely an `int i`, an `int N`, and a

[2020-02-28 03:12] connorgoggins commented on #17716
@mxnet-label-bot add [MKL]

[2020-02-28 03:12] connorgoggins commented on #17716
@mxnet-label-bot remove [MKL]

[2020-02-28 03:18] connorgoggins commented on #17716
@mxnet-label-bot add [MKL]

[2020-02-28 04:30] leezu commented on #17713
May be a bug in Cuda 10.0. Can't reproduce on 10.1.
However, https://docs.nvidia.com/cuda/archive/10.1/cuda-toolkit-release-notes/index.html doesn't seem to list a related fix. So maybe it's nevertheless a bug in MXNet.

[2020-02-28 05:53] sxjscience commented on #17665
@ptrendx Do you have any idea?

[2020-02-28 07:01] ChaiBapchya commented on #15925
G4 instance with cuda10.0 that is?

[2020-02-28 07:06] ChaiBapchya commented on #17483
@zachgk @lanking520 gentle reminder

[2020-02-28 08:47] hzfan commented on #17708
I created a pr #17718 to fix the warnings introduced by FFI.

Any ways to detect these warnings as errors? I tried to build with `-DCMAKE_BUILD_TYPE=Debug`, which I think implies `-WError`, but they remain warnings.  I think it would be great to have such tools, which allow developers to check warnings before PR gets merged.

[2020-02-28 13:02] smpawlowski opened #17719 "1.6.0 Windows pip installation fails"
Pip install of mxnet 1.6.0 fails on windows due to libmxnet.dll missing. Windows whl doesn't seem to be available. Installation tries to use mxnet-1.6.0-py2.py3-none-any.whl, which seems to contain libmxnet.so, but not dll.
Same issue when using
pip install mxnet-cu101==1.6.0 -f https://dist.mxnet.io/python/all

Any chance you could publish windows build?

steps to reproduce:
pip install mxnet-cu1

[2020-02-28 13:50] relaxli00 commented on #17719
+1

[2020-02-28 15:15] ehosler commented on #17719
Issue here as well.

[2020-02-28 17:32] ptrendx commented on #17665
Hmmm, when I run this with NVIDIA container, I get the s884 kernel and time is 8.1. Looking at the `dot` implementation it seems that in our version it goes through `linalg_gemm`, whereas upstream MXNet is using some `dot` function (which I did not find yet, I assume it is in mshadow?) and I guess it does not set the proper math mode there.

Git blame shows that apparently @DickJC123 changed our v

[2020-02-28 17:39] leezu commented on #15925
Yes

[2020-02-28 17:46] ptrendx commented on #17665
I believe dot ultimately calls this: https://github.com/apache/incubator-mxnet/blob/master/3rdparty/mshadow/mshadow/dot_engine-inl.h#L516

@oleg-trott About this point "For ConvNets, there is similarly little or no gain when using FP16 in MXNet (Unlike with PyTorch)" - do you have an example? We tested pretty much all of the networks from GluonCV and we do not see that behavior.

[2020-02-28 18:25] leezu commented on #17708
As of https://github.com/apache/incubator-mxnet/pull/17645, `-DCMAKE_BUILD_TYPE="RelWithDebInfo"` will run with `-WError` (and be tested on CI).
`-DCMAKE_BUILD_TYPE="RelWithDebInfo"` is thus similar to `make DEV=1`.

CI may have used an older compiler without the respective warnings for the pipeline running with `-WError` and thus passed. I'll look into that after #17645 is merged.

[2020-02-28 18:37] leezu commented on #17719
CC @szha

[2020-02-28 18:47] szha commented on #17719
The wheel should have been a manylinux1 wheel. I will look into correcting the problem.
@yajiedesign to update on the windows wheels

[2020-02-28 18:52] ChaiBapchya commented on #15925
#17487
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-17487/24/pipeline

[2020-02-28 18:54] ChaiBapchya commented on #17616
Another one for unrelated PR #17487  - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-17487/24/pipeline

[2020-02-28 19:54] oleg-trott commented on #17665
@ptrendx

Without `multi_precision`, `mxnet.optimizer.SGD` says it would just use the same precision as the weights.

However, here, per iteration, I see

FP16 + multi_precision : 0.14
FP16 : 0.21
FP32 : 0.24-0.34

So, not using multi_precision is actually slower with FP16.

[code]

[2020-02-28 19:59] #17548 closed

[2020-02-28 20:51] sandeep-krishnamurthy opened #17720 "Rootcause for Gperftools incompatibility with MXNet"
## Description

In this PR - https://github.com/apache/incubator-mxnet/pull/14711 USE_GPERFTOOLS was turned off. In this issue https://github.com/apache/incubator-mxnet/issues/8968 it was claimed MXNet crashes with GPerfTools.

However, we do not know fully understand the reason for the crash, hence cannot recommend turning it on / off and its effect in a deterministic way for the users.

This tic

[2020-02-28 20:52] sandeep-krishnamurthy commented on #17720
@mseth10 @access2rohit @rondogency fyi

[2020-02-28 21:01] ptrendx commented on #17713
@MoisesHer Could you take a look?

[2020-02-28 21:10] MoisesHer commented on #17713
Yes, will take a look ASAP

[2020-02-28 21:22] ptrendx commented on #17665
Hmm, I tried your code on both V100 and T4 and could not reproduce your problem:
on V100 I got:
 - 0.084 for fp16
 - 0.085 for fp16 with multi_precision=True
 - 0.182 for fp32
on T4 I got:
 - 0.27 for fp16
 - 0.265 for fp16 with multi_precision-True
 - 0.55 for fp32

BTW - please use `m.hybridize(static_alloc=True, static_shape=True)`, that gives about 10% speed increase for me in this test (so e.

[2020-02-28 21:38] leezu commented on #17299
I verified this error is due to DLAMI shipping protoc version 3.8.0 but headers from version 3.0.0.

`google/protobuf/port_def.inc` is included in headers generated by protoc version >= 3.7.0, but of course if your system comes only with headers from 3.0.0 compilation will fail.

[2020-02-28 21:53] dorijanf commented on #17719
Same issue, dll file missing. If I may ask, when can we expect a fix?

[2020-02-28 21:53] leezu commented on #17299
I'm opening a PR to ps-lite so that `Protobuf_ROOT='~/anaconda3/' cmake [...]` can be used to workaround the DLAMI bugs.

I expect the DLAMI team can fix the bugs in their release in early April 2020

[2020-02-28 21:57] leezu commented on #17299
You can workaround the DLAMI bugs by running with

`cmake -DProtobuf_PROTOC_EXECUTABLE=/usr/bin/protoc [...]`

[2020-02-28 22:07] leezu commented on #17299
Reported an issue upstream requesting if cmake may have any strategy to handle broken systems such as DLAMI https://gitlab.kitware.com/cmake/cmake/issues/20403

[2020-02-28 22:18] leezu commented on #17299
With respect to the Makefile build @apeforest, the reason is that Makefile based build doesn't use system protobuf, but downloads and compiles `protobuf-cpp-3.5.1.tar.gz` as part of the build.

[2020-02-28 23:53] leezu commented on #17676
We may also drop ONNX in MXNet 2. I'm not aware of anyone working on ONNX in MXNet and TVM can be used as a replacement.

[2020-02-28 23:55] eric-haibin-lin opened #17722 "Large Embedding Model Support in MXNet"
# Problem Statement

For search, ads or recommenders systems, the embeddings are large and pose challenges on the deep learning system for efficient computation, memory, storage and networking. For some use cases, the embedding table may be up to hundreds of gigabytes, which does not fit into a single node CPU’s memory. The proposal below describe one way to enable such kind of models on the exist

[2020-02-29 01:11] konioyxgq commented on #13219
@WANG-MengJiao @leleamol  I have the same problem, have you solved it? Is there any trick I do?
Thank you so much

[2020-02-29 01:13] mseth10 commented on #17720
Successfully built MXNet master using cmake with USE_GPERFTOOLS=ON on an ubuntu instance with the following build flags setting:
✔ CUDA, ✔ CUDNN, ✔ NCCL, ✔ CUDA_RTC, ✖ TENSORRT, ✔ CPU_SSE, ✔ CPU_SSE2, ✔ CPU_SSE3, ✔ CPU_SSE4_1, ✔ CPU_SSE4_2, ✖ CPU_SSE4A, ✔ CPU_AVX, ✖ CPU_AVX2, ✔ OPENMP, ✖ SSE, ✔ F16C, ✖ JEMALLOC, ✔ BLAS_OPEN, ✖ BLAS_ATLAS, ✖ BLAS_MKL, ✖ BLAS_APPLE, ✔ LAPACK, ✔ MKLDNN, ✔ OPENCV, ✖ C

[2020-02-29 01:18] mseth10 commented on #17720
`train_mnist.py` runs successfully with the above build, so #9096 no longer an issue.
But I was able to reproduce the issue #9098

[2020-02-29 01:28] oleg-trott commented on #17665
@ptrendx

Profiler output for the `resnet50_v2` code (as posted above, FP16, but no multi-precision):

[code]

FP16 + multi-precision looks very different:

[code]

[2020-02-29 01:48] oleg-trott opened #17723 "Broken formatting in online documentation"
For example, much of https://mxnet.apache.org/api/python/docs/tutorials/getting-started/to-mxnet/pytorch.html looks like this: https://i.imgur.com/ie2koVs.png

[2020-02-29 01:49] leezu commented on #17299
https://github.com/dmlc/ps-lite/pull/170

[2020-02-29 01:51] leezu commented on #17720
@mseth10 which version of gperftools did you test?

[2020-02-29 02:29] leezu opened #17724 "MXNet website often down with "Error 503 Backend unavailable, connection timeout""
[code]

Happened for the second time (at least) this week. Who operates the webserver?

[2020-02-29 03:03] mseth10 commented on #17720
I tested version 2.4-0ubuntu5.16.04.1

[2020-02-29 03:51] wkcn commented on #17720
I use the latest code(319e6c180edef80d5535e5744a4ac6c84cc143e4) to build MXNet with gperftools 2.7.1 on ArchLinux, but it fails.
[code]
GDB:
[code]

It seems that there is some conflict between MXNet and OpenCV, since OpenCV doesn't apply gperftools.

[2020-02-29 05:06] wkcn commented on #17676
I think we should keep ONNX APIs, since it is able to export many basic models, although it is not perfect. Users will train their models in MXNet 2.0, and export ONNX model,  then use the ONNX model in their deployment frameworks. (http://onnx.ai/supported-tools).

It is useful to attract users to use MXNet 2.0 to train their models with ONNX.

[2020-02-29 06:25] konioyxgq opened #17726 "Getting network predictions result takes a long time"
I am using a c++ api on CPU to extract a 512-dim feature vector from images.
I use “**auto array = m_Fexecutor->outputs[0]**” to get the prediction of the model。
At this time with or without “**NDArray::WaitAll()**”, two cases occur：
1、When “**NDArray::WaitAll()**” is not used, the result is wrong and takes a short time。
2、When “**NDArray::WaitAll()**” is used, the result is right, but it takes a

[2020-02-29 06:34] yifeim opened #17727 "Storage fallback warning escalation"
## Description
In jupyter notebooks, storage fallback warnings are silently passed to the jupyter engine backend. We want to escalate the warnings to user front-end. We also want to filter the warnings as exceptions for debugging purposes.

## References
- The current logging mechanism silently passes the warning logs to jupyter backend: https://github.com/apache/incubator-mxnet/blob/master/src/co

[2020-02-29 06:34] yifeim commented on #17727
https://github.com/apache/incubator-mxnet/issues/16060

[2020-02-29 08:16] huifengguo opened #17728 "Poor performance when we use mx.symbol.Variable(..,..,stype="row-sparse") to define the variable"
## Description
Task: CTR prediction
Model: DCN
Dataset: Criteo
Everything is same except the definition of embedding variable:
[code]
`
embed = mx.symbol.Embedding(data=ids, weight=embed_weight,
                                               input_dim=200000, output_dim=hidden_units[0], sparse_grad=True)
`
## Occurrences
When stype="default", the result of AUC is 0.802,
while the test result of AU

[2020-02-29 11:13] braindotai commented on #17684
As given [here](https://mxnet.apache.org/api/python/docs/api/gluon/model_zoo/index.html) make sure that you are normalizing your image as below
[code]

[2020-02-29 11:41] pedrooct commented on #16379
To compile with no issues for the raspberry pi, at least for what i tested, add to the cmake command this parameters:

**- DCMAKE_C_COMPILER=gcc-4.9 -DCMAKE_CXX_COMPILER=g++-4.9.**

This will force the use of version 4.9. I tested using the demo.py file and a yolo.py example.

[2020-02-29 13:13] szha commented on #17701
cc @apache/mxnet-committers

[2020-02-29 13:44] TaoLv commented on #17701
Nice. It's an essential step towards MXNet 2.0. Curious to know that do we still encourage contributors to create PR against the master branch? And in what strategy we need pick a commit to branch 1.x? Or they need create two PRs against two branches simultaneously?

[2020-02-29 15:03] Bumblebee269 opened #17729 "ONNX import does not work"
## Description
Trying to open an onnx model, generates an error: load_model(...)
Looking into the code of mxnet/contrib/onnx/onnx2mx/import_model.py, it seems that instead of load_model(...), the method load(load) should be invoked.

### Error Message
Exception message generated on line 58 in import_model.py:
module 'onnx' has no attribute 'load_model'

## To Reproduce
(If you developed your own c

[2020-02-29 16:40] fierceX opened #17730 "1.6.0 installation error using pip on windows platform"
## Description
After installing using pip on the windows platform, the import reports an error. I found that the installation did not look like a package for the windwos platform.
[code]
![image](https://user-images.githubusercontent.com/13912058/75611387-06a44c80-5b55-11ea-9503-2a75c3713fd8.png)

![image](https://user-images.githubusercontent.com/13912058/75611346-b4fbc200-5b54-11ea-9dd1-e983a6df

[2020-02-29 16:52] dorijanf commented on #17730
If I'm not mistaken this is the same issue https://github.com/apache/incubator-mxnet/issues/17719
Apparently it's being fixed.

[2020-02-29 17:35] leezu opened #17731 "Large Tensor nightly test broken"
`[2020-02-28T20:55:33.342Z] mxnet.base.MXNetError: MXNetError: Shape inconsistent, Provided = [4300000000], inferred shape=[5032704]`

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/612/pipeline

The test ran on https://github.com/apache/incubator-mxnet/commit/b6002fd7e66651eae87026f076a1c42c1cb93db5, ie on the commit prior to the switch to c

[2020-02-29 19:17] szha commented on #17701
Contributors are encouraged to create PR against master branch. Since master branch is the development branch for 2.0, backward incompatible changes will be allowed, while 1.x branch only allows backward compatible changes.

[2020-02-29 21:37] oleg-trott commented on #17684
@braindotai

I don't think the normalization is the culprit, if the previous layer outputs match. Keras probably uses the same network weights with all backends.

@Justobe

I don't have the other frameworks installed, so I can't reproduce this, but my suggestion is:

check the inputs to `relu`. Since it's a very simple function

[code]

it should be easy to check that the output is what it's suppo

[2020-02-29 23:49] oleg-trott commented on #17472
I can confirm it here too (mxnet 1.5.1 on Linux)

[code]

[2020-03-01 09:42] HolyTerra opened #17733 ""Segmentation fault: 11" after "Running: OpWrapperGenerator.py""
## Description
I tried to build MXNet(tag 1.6.0) from source,but failed each time after Running: OpWrapperGenerator.py.

### Error Message
[ 93%] Built target mxnet
Running: OpWrapperGenerator.py

Segmentation fault: 11

make[2]: *** [cpp-package/CMakeFiles/cpp_package_op_h.dir/build.make:59: cpp-package/CMakeFiles/cpp_package_op_h] Error 255
make[1]: *** [CMakeFiles/Makefile2:2229: cpp-package/CM

[2020-03-01 18:46] eric-haibin-lin commented on #17728
what optimizer are you using? update rules for some optimizer with sparse grad maybe different: https://mxnet.apache.org/api/python/docs/api/optimizer/index.html#mxnet.optimizer.SGD

[2020-03-01 19:14] sl1pkn07 commented on #17708
[build_log_20200301_10a12d59f6.txt](https://github.com/apache/incubator-mxnet/files/4272285/build_log_20200301_10a12d59f6.txt)

fixed ones, introduce others

greetings

[2020-03-02 00:38] huifengguo commented on #17728
The optimizer we are using is Adam, which is defined as:
`optim = mx.optimizer.create(optimizer, learning_rate=lr,wd=1.0E-9, rescale_grad=1.0/batch_size,epsilon=5e-8)`

[2020-03-02 05:05] eric-haibin-lin commented on #17728
you can set lazy_update=False for Adam to force disable sparse update. This will give you the same result as dense weight/gradient

[2020-03-02 07:02] huifengguo commented on #17728
Do you mean set lazy_update=False for Adam is equivalent to forcing disable sparse update?  I always think above two setting are indenpent with each other.

[2020-03-02 08:15] athewsey commented on #17688
Happy to try @leezu, but what other language bindings besides Python would the PR need to update at the same time? As far as I can tell only Perl seems to have an equivalent implementation right?

[2020-03-02 08:23] aGiant commented on #16379
Compiling worked, many thanks!

After everything was compiled, just ran python3 setup.py install --user under mxnet/python, then the mxnet lib would be successfully installed.

[2020-03-02 16:05] wkcn commented on #17472
I can reproduce the bug.
I check the code of `unravel_index`, which only support 1D input.

[2020-03-02 17:39] leezu commented on #17688
@sergeykolychev can clarify about Perl.

In general, it should be fine to target Python first, as this change won't lead to an incompatibility between language bindings (at least "include filenames in the return value"). If you're familiar with Perl, you can include the corresponding changes.

[2020-03-02 17:43] leezu commented on #17641
@cjolivier01 thanks for volunteering to contribute the PR! Do you have any status update?

[2020-03-02 17:44] leezu commented on #17733
After switching to MKL, you may run into https://github.com/apache/incubator-mxnet/issues/17641

Can you try deleting `3rdparty/openmp` to see if the segfault is due to conflict between llvm openmp and intel openmp?

[2020-03-02 19:02] apeforest commented on #17731
Looks like the USE_INT64_TENSOR_SIZE flag was not turned on in the nightly test. @access2rohit Could you please take a look

[2020-03-02 19:20] szha commented on #17730
The windows version of mxnet has been released and it should not occur anymore. Going forward we will release automatically from CD (potentially with manylinux2010 tag for linux)

[2020-03-02 19:20] #17730 closed

[2020-03-02 19:21] szha commented on #17719
The windows version of mxnet has been released and it should not occur anymore. Going forward we will release automatically from CD (potentially with manylinux2010 tag for linux)

[2020-03-02 19:21] #17719 closed

[2020-03-02 19:26] szha commented on #17676
TensorRT support is currently using ONNX to convert from NNVM: https://github.com/apache/incubator-mxnet/blob/746cbc55fd666bb4529e88d247fed8e0907270f9/src/operator/subgraph/tensorrt/tensorrt.cc#L313-L318<https://github.com/apache/incubator-mxnet/blob/746cbc55fd666bb4529e88d247fed8e0907270f9/src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h>

Although I would like to see TensorRT support moved away

[2020-03-02 19:39] rondogency commented on #17539
Hi @a550461053 are you able to resolve the problem based on the discussion in https://github.com/apache/incubator-mxnet/pull/17486#issuecomment-586640766

[2020-03-02 21:43] szha commented on #17701
Pinging @apache/mxnet-committers again in case there's any more concern. Otherwise I will assume lazy consensus by the end of Wednesday of this week.

[2020-03-02 22:18] aaronmarkham commented on #17701
Docs are currently generated from master. What's the proposal for what should be the default version of the docs on the website?
Do we need to escalate the production of docs variations for different versions - like at a minimum, master(2.0) and 1.x?

[2020-03-02 22:19] szha commented on #17701
Let's switch the doc generation for the website to 1.x for now. 2.0 doc should be generated when version selection of the website is available.

[2020-03-02 22:21] leezu commented on #17701
Even for 1.x, the current instructions are not compatible with stable 1.6 release. We should build the website based on 1.6 release branch until a version selection is available.

[2020-03-02 22:27] #17299 closed

[2020-03-02 23:38] leezu opened #17743 "bf16_t and half_t trigger Wclass-memaccess"
Warning triggered by GCC 8.

`../include/mshadow/./tensor_cpu-inl.h:133:11: warning: ‘void* memcpy(void*, const void*, size_t)’ writing to an object of type ‘class mshadow::bfloat::bf16_t’ with no trivial copy-assignment; use copy-assignment or copy-initialization instead [-Wclass-memaccess]`
`     memcpy(_dst.dptr_, _src.dptr_, sizeof(DType) * _dst.shape_.Size());`

[2020-03-02 23:59] ptrendx commented on #17335
Assigning @drivanov totake a look at this issue.

[2020-03-03 00:05] leezu commented on #17743
Actually this warning should be triggered for all DTypes. Not sure why gcc doesn't do it. It's a fundamental problem with mshadow, so let's just ignore the warning.

[2020-03-03 00:05] #17743 closed

[2020-03-03 00:20] konioyxgq commented on #17726
Can someone help me? thank you very much！

[2020-03-03 01:17] xidulu opened #17744 "[Numpy] Indexing high-dimensional data raises exception"
[code]

would  raise

[code]

[2020-03-03 01:29] eric-haibin-lin commented on #17728
Yes, if you look at the Adam optimization algorithm, zero grad does not lead to zero update. But SGD and Adagrad does.

[2020-03-03 01:58] a550461053 commented on #17539
I implement a mxnet backend operator and use 'dlopen' to load 'so' file in 'xxx-inl.h' first forward function. It's ok.
But I have another problem: I inherit the mxnet operator to implement my XXX op, it's ok. But I want to use 'NDArray' as the input of forward function instead of 'TBlob'  for using the dependencies. When I try the `NNVM_REGISTER_OP(_contrib_xxx).set_attr<FComputeEx>("FComputeEx<c

[2020-03-03 02:25] wkcn commented on #17472
I have fixed the bug, and I will submit the PR.

[2020-03-03 06:02] a550461053 commented on #17539
This new problem has been found: `NNVM_REGISTER_OP` should assign `DispatchMode::kFComputeEx` when using `FComputeEx` .

[2020-03-03 06:02] #17539 closed

[2020-03-03 06:03] #17669 closed

[2020-03-03 06:31] sxjscience commented on #17665
@DickJC123 @ptrendx Are there any update for this issue? Would it also affect batched_dot which widely used in attention layers?

[2020-03-03 09:46] Bumblebee269 commented on #16167
We use the c++ interface for inference on a sorting machine. But also we would like to provide the users of our machines an easy and integrated user interface for training new sorting recipes. Now we use python or Mathematica scripts which is far of user friendly for non-programmers. So we want to use the c++ (shielded with a C# wrapper) to provide a custom training environment for non-programmers

[2020-03-03 09:51] smpawlowski commented on #17719
Thanks for looking into it. pip install mxnet==1.6.0 works great. But I have trouble installing any version with cuda support like mxnet-cu101 / mxnet-cu101mkl. In [pypi mxnet-cu101mkl](https://pypi.org/project/mxnet-cu101mkl/#files) I can only find manylinux wheel.

Is it possible to also release 1.6.0 with cuda / Windows?

[2020-03-03 12:01] wkcn opened #17750 "[CI] How to restart a single stage on MXNet CI?"
Hi, there.

Sometimes, due to strage reason, the CI test fails, but it may be not relevant to the PR.

There are many PRs failing only a check because of strage reason. As we know, it will cost a lot of money and take a long time to restart all stages : (

It will be economic and convenient if it is available to restart a single stage on MXNet CI.

[2020-03-03 13:21] HolyTerra commented on #17733
You're right.Build finished after `3rdparty/openmp` removed,.Thank you for your support!

[2020-03-03 13:21] #17733 closed

[2020-03-03 14:35] relaxli00 commented on #17719
Yes, please release the 1.6.0 cuda support versions also, e.g. mxnet-1.6.0cu101mkl. Thanks.

@szha

[2020-03-03 15:58] DickJC123 commented on #17665
Will take a look at it today.

[2020-03-03 17:45] szha commented on #17719
Hi @smpawlowski @relaxli00. @yajiedesign is still working on the windows wheels for GPU. It takes particularly long for the windows compilation and hence the delay.

In the meantime, we will look into how to improve the development experience and smoothness for releases in the next few weeks.

[2020-03-03 18:18] leezu commented on #17641
@cjolivier01 please prioritize the PR, as this affects other users. For example https://github.com/apache/incubator-mxnet/issues/17733

Let me know if I may resubmit the MKL static linkage commit earlier included in #17645.

[2020-03-03 18:19] leezu commented on #17750
@ChaiBapchya is working to provide this feature for the github bot

[2020-03-03 18:21] relaxli00 commented on #17719
Thanks @szha . I found the DLL released in the wheels can be used for C++ programming also after opwrapper. Not sure if it will work all the time. Compiling the whole system from source code on Windows is painful for individual users.

[2020-03-03 18:25] leezu commented on #17719
@relaxli00 there are no ABI guarantees for C++. Please do not rely on it.

[2020-03-03 18:34] cjolivier01 commented on #17641
yesh just submit the static linkage

On Tue, Mar 3, 2020 at 10:18 AM Leonard Lausen <notifications@github.com>
wrote:

[2020-03-03 18:59] aGiant commented on #6333
Almost 3 years, the error remains the same:

MXNetError: [19:56:15] src/imperative/./imperative_utils.h:71: Check failed: inputs[i]->ctx().dev_mask() == ctx.dev_mask() (1 vs. 2) : Operator broadcast_sub require all inputs live on the same context. But the first argument is on gpu(0) while the 2-th argument is on cpu(0)

Even with gpu():

 12     with mx.gpu():
     13         half = nd.ones(y_true

[2020-03-03 19:01] aGiant commented on #6333
Still error with as_in_context():
<ipython-input-29-279fc4e37624> in performance_measure(y_pred, y_true)
     12     with mx.gpu(0):
     13         half = nd.ones(y_true.shape)*0.5
---> 14         right = nd.lesser(nd.abs(y_pred - y_true), half.as_in_context(model_ctx))
     15         wrong = nd.greater(nd.abs(y_pred - y_true), half.as_in_context(model_ctx))
     16         take_opt = nd.greater

[2020-03-03 19:32] leezu commented on #17708
See https://github.com/apache/incubator-mxnet/pull/17752

[2020-03-03 19:35] relaxli00 commented on #17719
@leezu, thanks for the information. Will keep eyes open on it.

I adopted MXNet mainly because of its C++ support at the beginning. In many cases, Python is not a good solution for production deployment.

But, everything is changing quickly. From time to time, I met inconsistent results between Python and C++ implementations. I'm struggling to balance the usage of both.

[2020-03-03 19:38] aGiant commented on #6333
This is not a feature request but a bug.

[2020-03-03 19:41] szha commented on #17719
@relaxli00 thanks for sharing your experiences. For continued support of c++ in mxnet 2.0, it would be great to continue the discussion on c++ support in https://github.com/apache/incubator-mxnet/issues/16167.

[2020-03-03 23:31] szha commented on #16535
@leezu built a Github Actions based solution for mac verification. It seems more promising and offers comparable usability. Shall we focus on Github Actions instead?

[2020-03-04 00:53] roywei commented on #16535
Yes, I think Github Actions can replace Travis.

[2020-03-04 01:11] leezu commented on #16535
Let's consider which tests to run in Github Actions. I see the following commented out tests in the travis.yml

1) CoreML: `python2 -m nose --verbose tools/coreml/test --exclude-test=test_mxnet_image` @apeforest is this now tested elsewhere? Should an equivalent test for Python 3 be re-enabled?
 2) Python unittests. `python -m nose --verbose tests/python/unittest/` though #12706 disabled a number

[2020-03-04 02:35] TaoLv commented on #17557
Seems it's also failing in CI:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-17313/18/pipeline

[2020-03-04 04:24] konioyxgq commented on #13219
@WANG-MengJiao Please！！！！

[2020-03-04 05:07] leezu opened #17755 "Jave and scala nightly tests broken"
[code]

https://github.com/apache/incubator-mxnet/pull/17741

[2020-03-04 06:38] eric-haibin-lin commented on #16858
@ptrendx

[2020-03-04 07:27] leezu commented on #17043
Seeing the issue again in http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-17751/4/pipeline

It's the same pipeline @szha reported as failing above.

That pipeline runs the following build

https://github.com/apache/incubator-mxnet/blob/5cffa744859658d8192041eafcdcfcf176d27482/ci/docker/runtime_functions.sh#L762-L779

The build log associated w

[2020-03-04 07:39] leezu commented on #16535
I enabled the unittests in the osx github actions build in my fork. Runs mostly fine:
https://github.com/leezu/mxnet/commit/e32e82a6551da0bd5a8ec2847ae10556039c8bda/checks/484044519/logs

It does expose the problem that in the staticbuild `libcustomop_lib.so not found` and `library libsubgraph_lib.so`, failing the respective tests.

[2020-03-04 08:20] apeforest commented on #17715
Tested with the latest nightly build and the issue was gone.

[2020-03-04 08:20] #17715 closed

[2020-03-04 09:36] samskalicky commented on #16535
It looks like the library was being built:
[code]

And then the test is looking for:
[code]
This is coming from this code:
https://github.com/apache/incubator-mxnet/blob/5cffa744859658d8192041eafcdcfcf176d27482/tests/python/unittest/test_extensions.py#L37-L51

So maybe all we need to do is something like this
https://github.com/samskalicky/incubator-mxnet/commit/981900ac9eff72bd16d2ab4270503728082

[2020-03-04 16:07] cepera-ang opened #17761 "cmake stuck in infinite loop at configuration if nvcc is not found"
## Description

I'm trying to build Mxnet from source using this guide https://mxnet.apache.org/get_started/ubuntu_setup and at running `cmake ..` command the build is stuck at infinite loop.

### Error Message
[code]
Last lines look relevant.
And than the process repeats itself indefinitely:
[code]
## To Reproduce
Follow https://mxnet.apache.org/get_started/ubuntu_setup

### Steps to reproduce
(P

[2020-03-04 16:55] #17641 closed

[2020-03-04 18:17] leezu commented on #17761
Please try again with latest master. cf https://github.com/apache/incubator-mxnet/commit/64d8e0f598b34ed2c3c3017491d851a5cf4d4acd

[2020-03-04 18:21] apeforest commented on #17731
@access2rohit Any update? Could you please post your findings here?

[2020-03-04 18:48] cepera-ang commented on #17761
Nope, it's still looping on my system

Fresh cloned latest master, config: linux_gpu

[code]

[2020-03-04 18:52] leezu commented on #17761
what version of cmake are you using?

[2020-03-04 18:57] cepera-ang commented on #17761
[code]

On Wed, 4 Mar 2020 at 21:52, Leonard Lausen <notifications@github.com>
wrote:

[2020-03-04 19:12] larroy commented on #17043
somebody needs a stack trace. This kind of things always remind me of the Pontiac allergic to vanilla ice cream.

[2020-03-04 20:23] leezu commented on #17761
You didn't install cuda correctly. In particular you didn't do https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#mandatory-post
nvcc is not on your PATH.

We recently added a convenience functionality in https://github.com/apache/incubator-mxnet/pull/17293 that attempts to do the right thing even if cuda is not installed correctly. Seems that leads to an infinite loop unfortuna

[2020-03-04 21:04] cepera-ang commented on #17761
I have nvcc in my $PATH as follows:
[code]
Also, if I set CUDACXX as you suggested it seems like Cmake ignores it and still guesses different path and, unfortunately, still loops:

[code]

[2020-03-04 21:11] leezu commented on #17761
Thanks for the update @cepera-ang. Could you try changing

`  if (NOT CMAKE_CUDA_COMPILER_LOADED AND UNIX AND EXISTS "/usr/local/cuda/bin/nvcc")`

to

`  if (NOT CMAKE_CUDA_COMPILER AND UNIX AND EXISTS "/usr/local/cuda/bin/nvcc")`

Seems in #17293 we used the wrong variable, as per https://gitlab.kitware.com/cmake/cmake/issues/19013

[2020-03-04 21:51] eric-haibin-lin opened #17763 "rename block.hybridize()?"
I don't think the hybridization mechanism is well explained in MXNet. Shall we rename the API to block.compile() or block.trace()? @leezu

[2020-03-04 22:14] zachgk commented on #17755
The current issue is that the nightly maven pipeline is still publishing 1.6.0-SNAPSHOT, not the expected 1.7.0-SNAPSHOT. I added some PRs to update the version numbers for Scala (it got missed by the earlier PR) in #17764 and #17765.

As part of this, we should also move the nightly maven pipeline to target the v1.x branch instead of the master branch as well (http://jenkins.mxnet-ci.amazon-ml.co

[2020-03-04 22:48] leezu commented on #17763
We can rename to `trace` and reserve `compile` for later compilation based feature

[2020-03-04 22:56] cepera-ang commented on #17761
Now it fails in different place:

[code]

[2020-03-04 22:59] szha commented on #17701
Website versioning is tracked in https://github.com/apache/incubator-mxnet/issues/17497

[2020-03-04 23:20] aaronmarkham commented on #17701
@leezu @szha - We need a clear direction on what to do for the current site's docs generation. It isn't really website versioning. It's generating documentation from different branches. The core website jekyll should stay the same and be generated from master. However, the default docs for each API can be generated from a specific version/branch.

[2020-03-04 23:21] aaronmarkham commented on #17497
Should probably rename this issue. We don't want to version the website. We want versioned documentation.

[2020-03-04 23:25] leezu commented on #17761
Where does `/usr/local/bin/nvcc` come from? It's a strange location to have nvcc at. Did you install the cuda libraries also to `/usr/local`? Usually they are at `/usr/local/cuda`.

The exact search behavior is specified in https://gitlab.kitware.com/cmake/cmake/-/blob/master/Modules/FindCUDAToolkit.cmake

After making the change in https://github.com/apache/incubator-mxnet/issues/17761#issuecomme

[2020-03-04 23:33] leezu commented on #17701
It's not only about the API documentation. Installation instructions or tutorials will change over time. Building the website independently for different versions may be the simplest approach. I'm also fine with any other approach that enables users to look up documentation and instructions for their respective version.

[2020-03-04 23:52] ptrendx commented on #17676
I am generally in favor of those deprecations. The scariest part is the removal of `mx.module` API, so definitely `Gluon is on par with module in terms of functionality and performance` is very important for this to be successful.

[2020-03-04 23:59] sxjscience opened #17766 "[Numpy] Symbolic basic indexing bug"
Reproducible example:

[code]

Error:
[code]

[2020-03-05 00:21] reminisce commented on #17766
Imperative version works fine. Probably something wrong with the `_Symbol.__getitem__`.

[2020-03-05 00:22] sxjscience commented on #17766
Yes, I'm about to fix it.

[2020-03-05 00:39] huifengguo commented on #17728
So we have to live with the loss of accuracy if we use Adam optimization algorithm and row-sparse variable?

[2020-03-05 00:48] eric-haibin-lin opened #17768 "ZERO optimizer"
Implement zero optimizer in MXNet:
ZeRO: Memory Optimization Towards TrainingA Trillion Parameter Models

[2020-03-05 01:49] TaoLv commented on #17676
We have `v1` and `v2` APIs like:
https://mxnet.incubator.apache.org/api/python/docs/search.html?q=v1
https://mxnet.incubator.apache.org/api/python/docs/search.html?q=v2

Do we need cover them in the RFC? How to deprecate or unify these APIs?

[2020-03-05 04:11] szha commented on #17676
@TaoLv the search result shows API in the following categories:
- operator (these will be deprecated and the newest version should be covered in https://github.com/apache/incubator-mxnet/issues/17096)
- gluon blocks (e.g. Con**v1**D). they are not legacy ops and will be kept
- io (these will be deprecated and replacement is covered in 2.0 roadmap item 4.8 data API enhancement)
- model zoo (e.g. Re

[2020-03-05 05:15] #16535 closed

[2020-03-05 05:24] leezu opened #17774 "test_recordimage_dataset_with_data_loader_multiworker Segmentation fault on OSX"
## Description
`test_recordimage_dataset_with_data_loader_multiworker` fails due to timeout on OSX CI. Maybe it's due to the CI machine having too little resources. Or there is a bug.

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce

https://github.com/

[2020-03-05 05:36] eric-haibin-lin commented on #17728
Yes, there's no free food

[2020-03-05 05:52] szha commented on #17755
@zachgk I'm working on this. it depends on #17775 (so that we don't have to introduce additional jenkins global variable...)

[2020-03-05 09:54] Justobe commented on #17250
Hi there @ptrendx @roywei  I find that this model works fine on versions before mxnet1.4.1(includes version 1.4.1). In mxnet 1.5.1, it crashes and throws an exception about the transpose operator. In mxnet 1.6, it crashes and throws exception messages like `ValueError: not enough values to unpack (expected 3, got 0)`.
Is it possible that mxnet 1.6 fixed the transpose bug but introduced other bugs?

[2020-03-05 14:03] gigasquid commented on #17676
If I understand this correctly, since the Scala, Java, and Clojure bindings use symbol and ndarray exclusively, this will also mean that they will be effectively deprecated as well.

This is fine if what the community decides upon, but it should be called out explicitly.

cc @lanking520 @nswamy @kedarbellare

[2020-03-05 14:26] gigasquid commented on #17676
Further thinking this through - since the Scala language binding currently provides the base for both Java and Clojure, I would be nice to know what the future plans for the Scala language binding is. Whether or not that path is supported will determine the other JVM langs.

[2020-03-05 14:54] cepera-ang commented on #17761
It is indeed strange location for nvcc and it happens to be some misconfiguration on my machine. `/usr/local/bin/nvcc` is a symbolic link to `ccache` and removing it solves the problem (tried with changes in #17773).

Thanks for you time @leezu! It is rare to get this kind of fast and thorough response with open source project and I highly appreciate it.

[2020-03-05 17:10] #17761 closed

[2020-03-05 17:40] leezu commented on #17774
Possibly related,
[code]

is flaky on OSX

[2020-03-05 18:32] lanking520 commented on #17676
@gigasquid @zachgk Since the Scala API are built a while ago, I can see some of the deprecated sections: Module, DataparallelGroup, Symbol ... Most of the training component would be invalid. There can be three approaches:
- upgrade/rewrite Scala API and bring up MXNet 2.0 features.
- drop Scala API
- adopt DJL (DeepJavaLibrary) to be the Java/Scala/Clojure backend.

I am not sure which way works

[2020-03-05 20:15] zachgk commented on #17755
@szha The scala CD is not part of the CD system that you are working on located at https://github.com/apache/incubator-mxnet/tree/master/cd, but a completely different one located at https://github.com/apache/incubator-mxnet/tree/master/ci/publish. It also has a separate Jenkins pipeline (http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-publish-artifacts/). There shouldn't be any dependency on

[2020-03-06 00:03] zhreshold commented on #17774
Reproducible by statically build on osx, not reproducible when build against dynamic openmp

[2020-03-06 00:21] gigasquid commented on #17676
Is there anyway to get the stats on downloads of the maven central scala/clojure jars to see how much current use there is? If the numbers are high or low and what trend is can help shape the decision

[2020-03-06 00:59] zachgk commented on #17676
@gigasquid Yeah, you can view the download statistics from https://repository.apache.org/#central-stat.

[2020-03-06 01:22] szha commented on #17701
Let's continue the discussion on website in #17497

[2020-03-06 01:22] #17701 closed

[2020-03-06 09:43] TaoLv commented on #17595
@access2rohit @connorgoggins This was confirmed to be a bug of the DNNL library. But we still need to wait for the next release of the library to get the bug fixed.

[2020-03-06 15:26] gigasquid commented on #17676
Thanks @zachgk  - I took a couple of screenshots so I could share here

Here is the Scala package
![scala-mxnet](https://user-images.githubusercontent.com/340299/76096507-3b206a00-5f94-11ea-839a-168fb923a59d.png)

and here is the Clojure package
![clojure-mxnet-downloads](https://user-images.githubusercontent.com/340299/76096528-41164b00-5f94-11ea-8313-5bfbc97ff689.png)

There are far more Scala d

[2020-03-06 16:01] #17706 closed

[2020-03-06 16:01] arcadiaphy commented on #17676
+1 for keeping ONNX support. Although it has a lot of small problems, but I've converted a lot of pytorch models to mxnet for deploying with the following pipeline:
https://docs.aws.amazon.com/dlami/latest/devguide/tutorial-onnx-pytorch-mxnet.html

[2020-03-06 16:12] terrytangyuan commented on #17676
+1 for "upgrade/rewrite Scala API and bring up MXNet 2.0 features" as it took us a lot of efforts to bring MXNet to Scala originally and there are already adopters of Scala API in industries.

[2020-03-06 16:12] szha commented on #17676
I vote for "upgrade/rewrite Scala API and bring up MXNet 2.0 features" as
it took us a lot of efforts to bring MXNet to Scala originally and there
are already adopters of Scala API in industries.

On Fri, Mar 6, 2020 at 11:02 AM Wang Jiajun <notifications@github.com>
wrote:

--
Yuan Tang
https://terrytangyuan.github.io/about/ <http://twitter.com/TerryTangYuan>
<https://terrytangyuan.github.io/abou

[2020-03-06 17:44] aaronmarkham commented on #17676
What's the big spike in January?

[2020-03-06 17:52] gigasquid commented on #17676
Good question. I don't know. There wasn't a new release then. 🤷‍♀

[2020-03-06 18:39] leezu commented on #17774
You mention the issue can't be reproduced when dynamically linking openmp.

Did you verify the normal, non-static, cmake build with 3rdparty/openmp can't reproduce this issue?

[2020-03-06 18:46] leezu opened #17782 "cpu_shared_storage_manager.h:218: Check failed: count >= 0 (-2 vs. 0)"
## Description
On OSX, `test_gluon_data.test_multi_worker_dataloader_release_pool` frequently fails with ` ... libc++abi.dylib: terminating with uncaught exception of type dmlc::Error: [06:16:36] ../src/storage/./cpu_shared_storage_manager.h:218: Check failed: count >= 0 (-2 vs. 0) : `

https://github.com/apache/incubator-mxnet/blob/db2295b0f39852c3af2878932f48a672982f42d4/src/storage/cpu_shared_s

[2020-03-06 18:58] szha commented on #17676
@lanking520 @zachgk @terrytangyuan @aaronmarkham could one of you start a discussion in a new issue on the JVM ecosystem support in 2.0? This topic seems to require extended discussion.

[2020-03-06 19:25] lanking520 opened #17783 "[RFC] MXNet 2.0 JVM Language development"
Since MXNet 2.0 development starts. I would like to initiate a discussion for the future development of JVM languages.

## Proposal

1. Start cleaning on the existing APIs to adapt to 2.0
2. Start from ground up to rewrite the whole Scala/Java APIs
3. Start using DJL (djl.ai) as a frontend for MXnet JVM development
4. Using DJL MXNet JNA to write MXNet custom frontend
5. (Feel free to add more...)

[2020-03-06 19:26] lanking520 commented on #17783
I would propose Option 3. and 4. Will add more comments here to explain why

[2020-03-06 19:27] lanking520 commented on #17676
I created one here https://github.com/apache/incubator-mxnet/issues/17783

[2020-03-06 20:09] terrytangyuan commented on #17783
I propose option 1 and 2 since it took us a lot of efforts to bring MXNet to Scala originally and there are already adopters of Scala API in industries (some may not have been disclosed yet). But I am open to other options. Not familiar with DJL though but I assume @frankfliu  and @lanking520 are the masters behind DJL.

[2020-03-06 22:17] #17766 closed

[2020-03-07 00:59] eric-haibin-lin commented on #17782
@zhreshold have you seen this before?

[2020-03-07 01:08] eric-haibin-lin commented on #17109
https://github.com/apache/incubator-mxnet/issues/17278

[2020-03-07 06:44] arcadiaphy opened #17785 "Inconsistency between HybridBlock and Block"
Following #16279, another example of inconsistency between HybridBlock and Block:

[code]

MXNetError is triggered for non-hybridized case:

[code]

I think it's because for symbol, `elemwise_add` is used for `__add__`, while for ndarray broadcasting is considered in `__add__` considering input shape.

Can we add broadcasting in symbol too and avoid the need to differentiate between `elemwise_add`

[2020-03-07 18:27] yifeim opened #17786 "pick with multi-dimensional indices"
## Description
- Support `pick(data, [[0,1,2],[1,2,3]]) = [[data[0,0], data[0,1], data[0,2], [data[1,1], data[1,2], data[1,3]]`.
- As a side note, add a "fill-value" mode to out-of-bound indices. This seems to be a logical replacement to the original "raise"-mode proposal, which is "not supported yet".
- The new functions should also support `axis` parameter in backward compatible ways.

## Refere

[2020-03-07 18:29] yifeim commented on #17786
@haojin2

[2020-03-08 07:22] xidulu opened #17787 "[Numpy] np.clip does not support scalar"
As title

[code]

[2020-03-08 10:22] byronyi commented on #10052
Same question there. Seems MXNet has abandoned HDFS support in one way or another.

[2020-03-08 23:05] zhreshold commented on #17782
I don't think I've seen such error log before until Leo send me the log.

[2020-03-09 04:29] shahriyar888 opened #17790 "mxnet illegal instruction"
Hey guys I am working on a project which uses mxnet. I don't know enough about mxnet.
The problem is I cant even import mxnet because I have this error :Illegal instruction (core dumped)
I have tryed different operation systems such as ubuntu , manjaro and now I am using archlinux.
I have tryed different version of cuda and mxnet such as cuda 10.2, 10.1, 9.0 and mxnet-cu102 ,mxnet-cu101,mxnet-cu90

[2020-03-09 05:47] hubutui opened #17791 "fail to find MKL"
## Description
could not find MKL from #17751
### Error Message
[code]

## To Reproduce
[code]

## What have you tried to solve it?

1. I try commit 5cffa744859658d8192041eafcdcfcf176d27482 with no errors.

## Environment
I'm using ArchLinux with gcc 9, [intel-mkl](https://www.archlinux.org/packages/community/x86_64/intel-mkl/). intel-mkl is installed to `/opt/intel`.

[2020-03-09 06:13] pengzhao-intel commented on #17791
@wuxun-zhang could you take a look?

[2020-03-09 06:20] venkat-kittu commented on #17231
I am also facing the same Issue, but I am getting the segmentation fault error while quantizing the network with calib-mode="entropy", but for calib-mode="naive" it worked fine.

My mxnet version is 1.6.0, which I downloaded using pip as follows

pip3 install mxnet-cu101mkl

Below is the command I have executed and error I got

**python imagenet_gen_qsym_mkldnn.py --model=vgg19 --num-calib-batches

[2020-03-09 06:38] wuxun-zhang commented on #17791
Sure. I will look into this issue.

[2020-03-09 07:28] xidulu opened #17792 "Softmax raises exception for zero-size tensor on GPU"
As title

[code]

[2020-03-09 07:39] huifengguo commented on #17728
OK，we just notice another setting in optimizer, namely whether we set the kvstore when initializing the optimizer.
[code]
Then, to verity why the loss of accuracy comes from, we conduct the following experimets. There are 3 parameters we can set, so there are 8 different settings.

![image](https://user-images.githubusercontent.com/20381178/76191822-328d9500-621b-11ea-965c-39dc932335bd.png)

As th

[2020-03-09 09:27] TaoLv commented on #17791
cc @leezu

[2020-03-09 09:30] TaoLv commented on #17790
Are you using mxnet pip package or building mxnet from source code? May be similar issue: https://github.com/apache/incubator-mxnet/issues/17613.

[2020-03-09 10:15] wuxun-zhang commented on #17791
Actually I cannot reproduce this issue with cmake 3.16/gcc 7.
[code]

[2020-03-09 10:28] hubutui commented on #17791
cmake 3.16.5, gcc 9.2.1, intel-mkl 2020.0.166 are available in ArchLinux, could you try in a docker container?

[2020-03-09 12:31] TaoLv commented on #17791
@hubutui  Could you please share the directory structure of MKL and what are installed in the mkl/lib/intel64 folder?

[2020-03-09 13:56] sl1pkn07 commented on #17791
you can found it here https://www.archlinux.org/packages/community/x86_64/intel-mkl/files/

[2020-03-09 15:17] TaoLv commented on #17791
@sl1pkn07 Thanks! Seems static libraries are not released in the package. I don't see the files below which I think are needed for the changes in PR #17751.

[code]

[2020-03-09 16:25] leezu commented on #17791
@TaoLv the motivation of #17751 is to prevent the situation where MKLDNN `dlopens` intel omp after another omp has already been opened by the dynamic linker.  Static MKL is not needed for that, so let's disable MKL_USE_STATIC_LIBS by default again.

[2020-03-09 16:32] leezu commented on #17790
Switching the CD setup to make use `-mno-avx` flag during compilation should fix this issue (if it's about the pip packages).

It's done by default for the cmake staticbuild (https://github.com/apache/incubator-mxnet/pull/17448), but the change hasn't been backported to the Makefile build used for the 1.6 release pip packages.

@shahriyar888 we will fix this for the nightly builds via https://gith

[2020-03-09 16:36] leezu commented on #10052
cc @zhreshold

[2020-03-09 18:42] gigasquid commented on #17783
@lanking520 thanks for the clarification above. A further question - How do envision a current Scala MXNet user migrate their code? Is it going to be mostly reusable or is it going to be a current rewrite for them?

[2020-03-09 20:34] zhreshold commented on #10052
HDFS seems to be optionally enabled: https://github.com/apache/incubator-mxnet/blob/master/make/config.mk#L175

Have you tested the build with `USE_HDFS = 1` ?

[2020-03-09 21:02] zachgk commented on #17783
It is going to be closer to a complete rewrite. On the other hand, making a new Scala API would be imperative instead of symbolic and I think there are going to be a lot of operator changes to better match numpy in 2.0. I don't think the migration costs for a Scala 2.0 would be that much less anyway

For users who don't want a full rewrite, they can continue using an old release or whatever new re

[2020-03-09 21:06] lanking520 commented on #17783
I would be cautious to say a complete rewrite, especially talking about inference use cases. They can still use similar

[2020-03-09 21:07] gigasquid commented on #17783
For the Clojure package. It is a lot easier to interop with Java than with Scala - so if the the base is Java that  every thing is using - it will be better for Clojure.

[2020-03-09 22:56] byronyi commented on #10052
I did, that’s why RecordIO works with HDFS. But this issue is concerned about IndexRecordIO.

[2020-03-09 23:22] fedario commented on #17447
I also get this error on Ubuntu 19.10.

[2020-03-09 23:30] leezu commented on #17782
Need to revert https://github.com/apache/incubator-mxnet/pull/17797/ when fixing this issue

[2020-03-09 23:43] fedario commented on #17447
It is a weird error, because it should be fixed by https://github.com/apache/incubator-mxnet/pull/16610
But for some reason an older version of `build.jl` is downloaded when installing via julias package mananger.

[2020-03-10 01:00] TaoLv commented on #17791
@hubutui @sl1pkn07 Who is releasing the package for ArchLinux?

[2020-03-10 01:03] sl1pkn07 commented on #17791
official archlinux members

[2020-03-10 01:16] connorgoggins opened #17798 "[Website 2.0] General Version Dropdown"
## Description
Currently, the MXNet Python API Docs on the website only show functions corresponding to the latest master API. The current version of the website also does not label the API version being used. This leads to frustration from the developer community, as the API functions and tutorials may work differently for older MXNet releases. This means that the current version of the Python do

[2020-03-10 01:32] TaoLv commented on #17791
Hope the package on ArchLinux can include those missing files so we can still use static linking.

[2020-03-10 01:35] sl1pkn07 commented on #17791
normally, archlinux always avoid ship static libs if exist a shared counterpart

this case is not a exception

[2020-03-10 01:42] TaoLv commented on #17791
Then one may need to turn MKL_USE_STATIC_LIBS off explicitly in the cmake command line.

[2020-03-10 04:05] huifengguo commented on #17728
OK, we just notice another parameter of kvstore in mx.init_optimizer().
No matter we set Lazy update as True or False, when we set mod.init_optimizer as following and variable as row_sparse, the auc is only 0.794 while the auc is 0.804+ in other cases.
[code]

[2020-03-10 05:54] leezu commented on #17798
Thank you for the proposal @connorgoggins! Could you clarify why a Python API + Tutorials only solution is our best choice? My concern is that there may be other parts of the website that can diverge or already have diverged between MXNet 1.x and 2.x.

[2020-03-10 11:04] svenstaro commented on #17791
I'll consider adding the static libs as some projects using mkl seem to
expect it but I'm 70% 'no' on this as the dynamic libs fulfill the same
purpose while being more space efficient.

Make a bug report on our tracker with a good case and I'll consider it. For
now I'm not convinced.

On Tue, Mar 10, 2020, 08:42 Tao Lv <notifications@github.com> wrote:

[2020-03-10 11:44] pengzhao-intel commented on #17716
@ElaineBao could you help take a look?

[2020-03-10 11:54] #17705 closed

[2020-03-10 11:54] pengzhao-intel commented on #17705
Feel free to reopen if the issue is not resolved.

[2020-03-10 13:25] TaoLv commented on #17716
@connorgoggins From the description, it seems that the issue is not directly related to MKL, but rather `indext_t` is not correctly used for these Map functions.

[2020-03-10 14:56] aGiant opened #17800 "_MinusScalar type <class 'mxnet.ndarray.ndarray.NDArray'> not supported` ?"
[code]

those were defined in hybrid_forward of changing official VAE code example.

[2020-03-10 14:59] smpawlowski commented on #17719
Now
pip install mxnet-cu101==1.6.0 -f https://dist.mxnet.io/python/all
works. Thanks a lot for sorting it out!

[2020-03-10 15:04] aGiant commented on #17800
Maybe I was too old to count the number ;)
[code]

[2020-03-10 15:33] dmitry-markeshov commented on #17653
After these changes process exits without crash:
[code]

Could someone explain why is there `StopNoWait` ?

[2020-03-10 15:42] aGiant commented on #17800
More errors
[code]

[2020-03-10 16:16] aGiant commented on #17800
Tried min-max normalization with given min-max values based on https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/blocks/custom_layer_beginners.html:

[code]

[2020-03-10 16:30] aGiant commented on #17800
Just tried example from https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/blocks/custom_layer_beginners.html to build **### min-max normalization using saved min-max values**, but more and more errors:
[code]

[2020-03-10 16:55] leezu commented on #17653
cc: @eric-haibin-lin

[2020-03-10 17:09] leezu commented on #17800
`self.min_v` is a constant parameter. In the current `hybrid_forward` API, you need to `def hybrid_forward(self, F, x, min_v, max_v):` and you'll get the ndarray associated with the parameter as an argument.

The API will be simplified with https://github.com/apache/incubator-mxnet/pull/17530

You can read https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/blocks/hybridize.html

[2020-03-10 17:09] #17800 closed

[2020-03-10 17:12] sandeep-krishnamurthy opened #17801 "Add a bot to manually trigger CI builds for PR"
This helps in giving more control to PR authors and reviewers when to run the builds. Avoids un-necessary CI runs for work in progress commits / when PR is still not ready for review / merge.

[2020-03-10 17:12] aGiant commented on #17800
Then min-max values must be prepared outsides the NN, our plan is to save the min-max as constant within at the initial stage of NN, and all trained model with be saved and transferred to other platform without any preparation of min-max values in production environment such as from Spark.

The problem based on your link was not solved.

[2020-03-10 17:13] sandeep-krishnamurthy commented on #17801
@ChaiBapchya

[2020-03-10 17:16] aGiant commented on #17800
Your solution is based on the assumption that all the min-max values were already prepared or at least accessible. Our problem from production environment is that the final user or platform does not have the access to gather the min-max values.

One possible solution for our problem in production is to save the min-max values default within the NN as constant vectors.

[2020-03-10 17:16] sandeep-krishnamurthy opened #17802 "Staggered Jenkins CI pipeline"
We need to stagger the CI build pipeline to run sanity tests, unix-cpu tests sequentially. Only when these tests pass, trigger all other target builds in parallel. This will avoid un-necessary runs on PR where even sanity and basic cpu tests are failing.

[2020-03-10 17:17] sandeep-krishnamurthy commented on #17802
@ChaiBapchya @josephevans

[2020-03-10 17:19] leezu commented on #17800
`hybrid_forward(self, F, x, min_v, max_v):` still mean users call the `net(x)`, with `min_v, max_v` being automatically passed and taking the value of the constants.

My point is that you're not using the hybridize API correctly, thus the link to the documentation.

[2020-03-10 17:20] sandeep-krishnamurthy opened #17803 "Retry tests marked flaky in CI builds"
MXNet test suite has a `@flaky` decorator. In Jenkins CI run, if tests fail, we should have a way to identify if the failed tests are marked flaky, if yes, rerun the tests again on the same build. This will help avoid rebuilding and rerunning whole build pipeline for 1 flaky test.

[2020-03-10 17:21] sandeep-krishnamurthy commented on #17803
@ChaiBapchya @josephevans

[2020-03-10 17:22] aGiant commented on #17800
Or in short, our final user just have the x, they do not have any min_v and max_v basedon

Could you pleas point out the errors？ I have already visited that links many times from last month.
Many thanks!

[2020-03-10 17:24] sandeep-krishnamurthy opened #17804 "Change instance type in CI to use G4 instance"
This still require experimentation on time v/s cost v/s completeness. One of the proposal is to use AWS G4 instances instead of current P2/P3 instances for GPU tests.

[2020-03-10 17:25] sandeep-krishnamurthy commented on #17804
@ChaiBapchya @josephevans

[2020-03-10 17:27] aGiant commented on #17800
Because from official link in hybird_forward:
[code]
this works very well, but
[code]
did not work.

[2020-03-10 17:48] leezu commented on #17800
The parameters (constant or not), are handled special in the current hybrid_forward API.

You can see the implementation:

https://github.com/apache/incubator-mxnet/blob/afb8742e6e1e987833b39c487dc892b5537196a1/python/mxnet/gluon/block.py#L1204-L1206

So you should use `hybrid_forward(self, F, x, min_v, max_v):` and not access `self.min_v` inside the hybrid_forward.

[2020-03-10 17:54] aGiant commented on #17800
The by calling for prediction, our client must use net(x, min_v, max_v), right? But they do not have any access to prepare the min_v and max_v in production.

[2020-03-10 18:30] connorgoggins commented on #17798
@leezu thanks for your feedback! I believe you might be referring to the other language API docs for MXNet. Currently, each of the other language API docs (Java, Scala, etc.) have their own format, and based on the conversations that we have had with the developer community we believe that it would be best to leave the format of these other docs unchanged. Due to the unique format of the other lan

[2020-03-10 18:48] aaronmarkham commented on #17798
I think a stopgap solution for the other languages is to generate them using the old branches - if they'll run, and post those as static artifacts of micro-sites that are browsable from a list. If they give any trouble - which they will as we try to go back to older and older versions, we leave those out for now.
To get the older stuff to run, we'll probably have to patch those old branches.
The c

[2020-03-10 18:48] leezu commented on #17798
Thanks for clarifying @connorgoggins

Besides the other language APIs, there are also installation instructions and other overview pages. For example https://mxnet.apache.org/features, https://mxnet.apache.org/get_started/ubuntu_setup, https://mxnet.apache.org/get_started/osx_setup

Following the approach outlined in this proposal, that's correct. However, the work could be greatly reduced by just

[2020-03-10 19:13] leezu commented on #17800
No. net(x)

[2020-03-10 19:24] fedario commented on #17447
The package version in Julia's package registry is still at 1.5.0, that is probably the issue.

Can anyone bump the Julia package in the registry to 1.6.0?

[2020-03-10 19:34] aGiant commented on #17800
By calling net(x):
[code]

[2020-03-10 19:45] aGiant commented on #17800
[code]

[2020-03-10 20:13] eric-haibin-lin commented on #17728
did you pull all the params when you do evaluation?

[2020-03-10 20:44] bricksdont commented on #7375
Same problem here. I am looking for a drop-in replacement for `mx.sym.SoftmaxOutput` that somehow allows weighting examples in a batch individually. Something like

[code]

@thirdwing Why did you tag this issue with `R`?

@piyushghai the example given by VGalata is not exactly what the issue is about, namely instance weights instead of class weights.

[2020-03-10 21:03] connorgoggins commented on #17798
@leezu after discussing with @sojiadeshina, we decided that it's ok to have the setup instructions (build from source) only apply to master. Unique installation instructions (not building from source) for individual versions of MXNet are already supported and showcased on the website (for example, [installation instructions for v0.11.0](https://mxnet.apache.org/get_started?version=v0.11.0&platform

[2020-03-10 21:17] leezu commented on #17798
Thanks @connorgoggins for clarifying.

I disagree. The build from source instructions that are currently listed on the website do not work with the latest MXNet stable release. Users downloading one of our stable releases at https://mxnet.apache.org/get_started/download have no way to find instructions on how to compile and install it. (The source releases do not contain install instructions).

Co

[2020-03-10 21:30] leezu commented on #17798
@aaronmarkham

Getting websites for anything older than the latest stable release may not be necessary. I think it's reasonable to focus on 1.6, future 1.x releases, future 2.x release and the development version. Having a general versioning support for a limited number of versions seems preferable to having a Python-only versioning for all versions.

[2020-03-10 22:01] sl1pkn07 opened #17806 "[Q][BUG] Little thing with DMLC-Core stuff and other submodules"
Hi

i found wreid things with DMLC-Core stuff (and others) in the project when build it.

https://github.com/apache/incubator-mxnet/blob/afb8742e6e1e987833b39c487dc892b5537196a1/CMakeLists.txt#L507-L509

the L507 and L509 is not need because seems dmlc-core is a hard dependency , also lead to fail build because the dmlc sources is not found if not download it (if the user avoid run `git submodules

[2020-03-11 00:21] zachgk commented on #17755
The old PR was merged and I updated the pipeline to also build the `v1.x` branch and started the [first build](http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-publish-artifacts/job/v1.x/). Once this build passes, this issue should be resolved.

[2020-03-11 00:35] huifengguo commented on #17728
We conduct evaluation with the following code:
`score = mod.score(eval_iter, ['auc','log_loss'],reset=False)`
Should we pull all the params when we run the code in single card and , BTW, how to pull all the params?

[2020-03-11 00:53] connorgoggins commented on #17798
@leezu building the entire website independently for every version would require a major amount of supplemental content. From the examples and descriptions on the features page, to the build from source instructions, to all the other language API docs, there is a great deal of additional content that needs to be added to each supported version of the new website. Much of this content does not curr

[2020-03-11 01:37] aaronmarkham commented on #17798
My suggestion is to just grab the old artifacts from the previous site builds here:
http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-website-build/
This unzips to yield a versions folder that has artifacts for the following versions:
![2020-03-10_18-26-44](https://user-images.githubusercontent.com/5974205/76373095-b4092400-62fc-11ea-82d9-1557e4796456.png)
It's pretty much just C and Python and

[2020-03-11 01:39] leezu commented on #17798
Thanks @connorgoggins for clarifying.

My point is, the website on the 1.6 branch should currently not be broken (or easy to fix) and we can avoid it from breaking in the future. The website on the master branch is not broken either.
The Jenkins job publishing the website currently can be run for the 1.6 branch, 1.7 branch and master branch and we can enable it for more branches when new releases

[2020-03-11 02:32] connorgoggins commented on #17798
@leezu ok, I think I understand. A static implementation for the older versions should be feasible within the scope of this project. I will move forward with implementing the general website version dropdown over the next four weeks, and will follow up if I run into any issues.

Thanks for your feedback!

[2020-03-11 02:52] ElaineBao commented on #17716
@connorgoggins The segment fault happens in [line 485 of src/operator/tensor/la_op-inl.h](https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/la_op-inl.h#L485), when the index `j * (N + 1)` is larger than the maximum value of int32 range (`2**31-1`).

Since `N = 2**16` in this case, when `int j` is incremented to a value larger than `2**15-1`, the segment fault happens.

[2020-03-11 05:18] venkat-kittu commented on #17231
I have tried mxnet docker image and  now I am getting a new error while running same command as below
INFO:logger:Collected statistics from 200 batches with batch_size=32
INFO:logger:Collected layer outputs from FP32 model using 6400 examples
INFO:logger:Calculating optimal thresholds for quantization
INFO:logger:Calculating optimal thresholds for quantization using KL divergence with num_quantize

[2020-03-11 05:55] leezu opened #17810 "GraphExecutor + Numpy + Dynamic shape crash"
## Description
There seem to be some issues with GraphExecutor + Numpy + Dynamic shape. Consider the example below, which leads to a crash if `mx.npx.set_np()` is present and works fine if `mx.npx.set_np()` is removed.

### Error Message
`mxnet.base.MXNetError: MXNetError: Error in operator reshape1: Shape inconsistent, Provided = [0], inferred shape=[9]`

## To Reproduce
[code]

This happens on m

[2020-03-11 06:07] wuxun-zhang commented on #17231
@venkat-kittu Can you try again with the latest nightly build via `pip install --pre mxnet -f https://dist.mxnet.io/python/cpu` ?

[2020-03-11 06:18] zhreshold commented on #17774
@leezu
Let me update the mac test metric with `clang`

[code]

| Static build             | openmp |   unittest mentioned |
|-------------------|----------| ---------|
| Yes                   |  3rdparty/openmp                | segfault |
| No          |    3rdparty/openmp | segfault |
| Yes                   |  **delete** 3rdparty/openmp                | ok |
| No          |   **delete** 3rdparty

[2020-03-11 09:39] Alex-Ob opened #17813 "Non-compiling code"
## Description

I can't compile the library **region_tlr_mxnet** for **Autoware.ai**'s `trafficlight_recognizer` package  due to this error:

### Error Message

[code]

Really, the file **../cpp-package/include/mxnet-cpp/optimizer.hpp** in the string **37** contains a directive
`#include "mxnet-cpp/op.h"`
, but that file is absent.

## To Reproduce
I found this error when compiling Autoware's modu

[2020-03-11 10:19] aGiant opened #17814 "mxnet.gluon.data.vision.transforms.Normalize(mean=0.0, std=1.0) tuple issue within hybird_forward()"
From official mxnet web: https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/training/normalization/index.html and https://mxnet.apache.org/api/python/docs/api/gluon/data/vision/transforms/index.html#mxnet.gluon.data.vision.transforms.Normalize, the Normalize() worked very well, but not in hybird_forward()
Codes
[code]
Test results:
[code]

The problem lies:
[code]
all float values w

[2020-03-11 10:43] aGiant commented on #17814
Also tried to reproduce the demo code from link: https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/blocks/custom_layer_beginners.html, but got error.
[code]

Error raised:
[code]

[2020-03-11 11:14] Alex-Ob commented on #17813
The problem was solved by commenting out two include directives( operator.hpp:36 and MxNetCpp.h:37). Now it builds correctly.

[2020-03-11 11:14] #17813 closed

[2020-03-11 11:31] venkat-kittu commented on #17231
@wuxun-zhang Nope it's not working, it's only working when I keep --num-calib-batches=33. Except for numbers less than 33, it's not working for any higher number.

[2020-03-11 13:20] chichivica commented on #14369
Same issue here.
@sleepwalker2017 Hey! How did you solve that?

[2020-03-11 16:46] eric-haibin-lin commented on #17810
does it only happen with graph executor?

[2020-03-11 17:36] leezu commented on #17810
`HybridBlock` / `CachedOp` is covered by unittests and seems to work

[2020-03-11 17:49] zachgk commented on #17755
The build passed and the nightly tests are now [passing](http://jenkins.mxnet-ci.amazon-ml.com/job/NightlyTests/job/master/621/).

[2020-03-11 17:49] #17755 closed

[2020-03-11 20:13] keerthanvasist opened #17818 "RNN operator produces inconsistent gradients for h2h_bias for stacked RNNs"
The RNN operator produces different inconsistent values for gradient for h2h_bias in the topmost stack in different mxnet variants.

This only happens when num_layers > 1. I compared the values after one forward pass and one backward pass. I compared between osx-cpu-mkl and linux-gpu-mkl (both built from source. Snapshot versions are not up-to-date, and the versions available are really flaky in t

[2020-03-11 22:32] keerthanvasist commented on #17818
@mxnet-label-bot add [Backend]

[2020-03-11 22:42] szha commented on #17818
cc @PatricZhao

[2020-03-11 22:46] reminisce commented on #17810
This is because unknown shape `NDArray`s are assigned with default `storage_shape=(0,)`

https://github.com/apache/incubator-mxnet/blob/713d962359cfe5b014ca24c0f9b3676d86b28569/include/mxnet/ndarray.h#L115-L120

and dynamic shape workflow used this information as a condition for checking whether the ndarray has been allocated or not before NumPy shape semantics was added,

https://github.com/apach

[2020-03-11 23:50] zhreshold commented on #17814
For the first example, I noticed that you are defining both `hybrid_forward` and `forward` at the same time which is not supposed to work in this way.

For the second example, you can use `get_constant` instead of `get`
[code]

[2020-03-11 23:51] rbavery opened #17819 "Why is nvcc not installed along with cuda in mxnet docker builds?"
I'm trying to reproduce this repository: https://github.com/msracver/FCIS, which depends on an older version of mxnet, 1.4.1. I've using https://hub.docker.com/layers/mxnet/python/1.4.1_gpu_cu80_py2/images/sha256-d069471816ee1184bfffb644b173c17cf0d9a80f54448a669ee8defa6beeea38?context=explore

But when I try to compile FCIS's custom operators I get an error that nvcc is not found in my PATH, becau

[2020-03-12 00:57] pengzhao-intel commented on #17818
@zixuanweeei @ciyongch please help take a look of this issue, thanks.

[2020-03-12 00:57] pengzhao-intel commented on #17818
@zixuanweeei @ciyongch please help take a look at this issue, thanks.

[2020-03-12 01:16] wuxun-zhang commented on #17231
I can exactly reproduce this issue (when `num-calib-batches` is higher than 33) with the latest master. I will look into this.

[2020-03-12 02:24] zixuanweeei commented on #17818
Thanks for reporting this issue. I can reproduce the result by your script. I will take a look. @keerthanvasist

[2020-03-12 02:54] pengzhao-intel commented on #17818
@keerthanvasist thanks to reporting the issue.
Could you give us some background on your application, DJL, and how it works?

[2020-03-12 03:35] keerthanvasist commented on #17818
DJL is an open-source, framework-agnostic deep learning java library. You can check it out at https://djl.ai. We are using the MxNet engine through a JNA layer.

[2020-03-12 03:57] zixuanweeei commented on #17818
Hi, @keerthanvasist . Thanks for the information about the DJL.

We provided a patch for this issue https://github.com/zixuanweeei/mxnet/tree/rnn/gradients. It would be highly appreciated if you could give it a try. BTW, we need some extra fix for the unit test before it is ready to be merged into MASTER branch.

[2020-03-12 04:59] frankfliu commented on #17818
@zixuanweeei Thank for your quick response. We will try it out and let you know the results.
By the way, we need this fix in 1.x branch as well.

[2020-03-12 06:09] xiexuliunian opened #17821 "support onnx version"
## Description
Today I convert my mxnet model to onnx,but I find the prelu slope is just a int
![image](https://user-images.githubusercontent.com/24749356/76492051-3400cc80-646a-11ea-9142-1fef5958993d.png)
when I use onnxruntime to run the model it occurs a errors
![image](https://user-images.githubusercontent.com/24749356/76492308-d9b43b80-646a-11ea-90ba-8f7eb9ab0a76.png)

when I managed to conve

[2020-03-12 08:45] aGiant commented on #17814
The first one forward() worked very well to get the variable of x.shape. That's the only way to get the input x.shape from other people.

After applying self.params.get_constant("scales", value=scales), got new error

[code]

[2020-03-12 10:25] aGiant commented on #17814
Also tried HybridLambda layer to simplify the normalization, but got some very strange error

[code]

[2020-03-12 10:28] hkvision opened #17822 "[Question] Distributed training performance for one worker and one server on the same node"
Hi,

I’m referring to this page https://mxnet.apache.org/api/faq/distributed_training.html for distributed training (using mxnet-mkl and running on multiple cpu nodes).
Want to ask is there any performance benchmarks to run distributed training with one worker and one server on a node? Or is there any best practices to run distributed training to well utilize the resources while get good performan

[2020-03-12 14:56] bricksdont commented on #7375
Here is a gist with an actual implementation of batch-weighted cross-entropy loss that I believe can replace the default `SoftmaxOutput`, albeit at some increase in memory consumption if label smoothing is used:

https://gist.github.com/bricksdont/812b4d6a21ab045da771560ec9af8c11

[2020-03-12 18:14] #17787 closed

[2020-03-12 20:11] mk-61 commented on #16173
How about adding a method to Symbol, to calculate certain aspects of a model? In C API it would look something like:

`int MXCalculateDigest(SymbolHandle handle, /* type TBD * / selector)?`

It would calculate a hash of

- MXNet version
- model structure
- attributes, filtered by the selector argument
- anything else?

Then any library / optimizer would call it, add some other, optimization-specif

[2020-03-12 20:16] eric-haibin-lin commented on #17822
You probably want to check out https://medium.com/apache-mxnet/intel-mlsl-makes-distributed-training-with-mxnet-faster-7186ad245e81

[2020-03-12 22:55] sxjscience opened #17823 "[Operator] Add `index_add` or `index_update` to numpy extension"
We need the functionality to calculate `b = index_add(a, indices, value)`, which mimics the outcome of `a[indices] += value`.

This is similar to the `tensor_scatter_nd_add` in TF: https://www.tensorflow.org/api_docs/python/tf/tensor_scatter_nd_add

Also in JAX: https://jax.readthedocs.io/en/latest/_autosummary/jax.ops.index_update.html#jax.ops.index_update

[2020-03-13 02:02] keerthanvasist commented on #17818
@zixuanweeei Thank you for your fix. I verified that it does fix the issue in CPU. We verified it with the 1.7.x branch as well.

[2020-03-13 02:40] zixuanweeei commented on #17818
Thanks for trying out this. PR is on the way.

[2020-03-13 02:44] hkvision commented on #17822
Hi Eric @eric-haibin-lin

Thanks for your reply. This post is about using mlsl with horovod for distributed training. It will be a good approach to try later. But currently I'm just using the traditional ps-lite approach with dist kvstore. Want to ask is there any related performance stats or practice for this?

[2020-03-13 02:57] wuxun-zhang commented on #17231
@venkat-kittu I have just provided a patch here https://github.com/wuxun-zhang/incubator-mxnet/commit/37931b624dfdb75fc0a0090a813833632e47cc31, could you please try it out and verify if it can resolve your issue? Thanks.

[2020-03-13 07:30] cannguyen275 commented on #17821
Got the same issue!

[2020-03-13 09:59] Rainweic opened #17826 "[quetions] Check failed: e == cudaSuccess: CUDA: initialization error"
ubuntu16.04
python3.5

Project requirements are multiple processes

[code]

error :
[code]

[2020-03-13 10:22] hkvision commented on #17822
Seems the performance issue is related to my wrong setting of OMP environment variables. Thanks so much. Close this issue now.

[2020-03-13 10:22] #17822 closed

[2020-03-13 17:43] rondogency commented on #17826
@Rainweic as far as I know, you cannot have a global model shared by multiple processes, each worker process needs to have its own copy of the model on gpu. It's because cuda doesn't support other processes sharing one chunk of memory in the main process where the model is loaded

[2020-03-13 21:01] leezu commented on #17819
Did you verify the problem exists for the latest (1.6 or master) docker images?

[2020-03-13 21:06] leezu commented on #16499
It should be possible to fix this by extending https://github.com/apache/incubator-mxnet/pull/16547 ?

[2020-03-14 02:24] umutisik commented on #4901
The following works for me:
[code]

Shape -1 is not supported in ndarray though.
But I only needed the non-fixed size in symbol.

[2020-03-14 03:10] leezu opened #17829 "test_sparse_aggregator fails with memory corruption"
## Description
double free or corruption.

Happened on two unrelated PRs:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/PR-17530/32/pipeline/
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/PR-17828/6/pipeline/

### Error Message
[code]

[2020-03-14 04:17] rondogency commented on #17826
forgot to mention, each process has to import mxnet individually.

[2020-03-14 15:46] hubutui commented on #17045
Any updates? I run into similiar issues recently.

[2020-03-14 18:29] sl1pkn07 opened #17833 "Unittest failed: ThreadSafety.CachedOpFullModel"
## Description
Fail pass unitest ThreadSafety.CachedOpFullModel

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

<details>

[code]

</details>

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing exampl

[2020-03-14 19:48] leezu opened #17834 "ImageNet Inference: GPU"
## Description
ImageNet Inference: GPU nightly test is broken as the binary is not built by cmake build.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/626/pipeline

[2020-03-15 00:38] leezu opened #17836 "Shuffle1D not reproducible accross operating systems"
## Description
Shuffle1D uses `__gnu_parallel` extension on Linux and thus results of the operator differ by operating system.

References
https://github.com/apache/incubator-mxnet/pull/10048
https://discuss.mxnet.io/t/shuffle-different-on-osx-vs-ubuntu/2433/5

[2020-03-15 16:04] yezqNLP opened #17837 "gpu error for cuda 10.0 and cudnn 7.5?"
## Description
I install mxnet-cu100 with pip, and simply test with code
[code]
and it reports the following error.

### Error Message
[code]

## Environment

version of cuda,cudnn,driver,mxnet
[code]

[code]

[2020-03-15 16:44] braindotai opened #17838 "Lack of gluon estimator tutorials"
It's extremely amazing to have a estimator api for mxnet, and I'm truely enjoying it.
But I can find only one simple tutorial available [here](https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/training/fit_api_tutorial.html)! That's it!
So it would be quite helpful if we have more tutorials and examples about it.
Would love to explore and take full advantage of all the capabilities

[2020-03-15 17:40] szha commented on #17837
From the stack it looks like it might have failed at creating handle for cublas. For now, you may want to try to `pip install --upgrade mxnet-cu100mkl -f https://dist.mxnet.io/python` to upgrade to 1.6.0

@ptrendx any suggestion on how to diagnose further?

[2020-03-15 17:50] szha commented on #17838
Hi @braindotai. Glad you liked the addition of estimator feature. Indeed it's a new feature that's still being expanded.

cc @roywei @leezu @sandeep-krishnamurthy for awareness of the request.

[2020-03-15 17:55] eric-haibin-lin commented on #17728
https://github.com/apache/incubator-mxnet/blob/master/example/sparse/factorization_machine/train.py#L140

[2020-03-15 17:57] ptrendx commented on #17837
@yezqNLP What is the cuBLAS library version you have? This error could happen if you have mismatched version of the library (like 10.0 toolkit and 10.1 or 10.2 libcublas.so).

[2020-03-15 18:51] sxjscience opened #17839 "[Numpy] Cannot mix int32 and int64"
Code:
[code]
Error:
[code]

[2020-03-15 20:18] apeforest opened #17840 "CI unix-gpu build failure in TVM op"
## Description
A few recent PRs failed at the same place related to TVM op.

https://github.com/apache/incubator-mxnet/pull/17835
https://github.com/apache/incubator-mxnet/pull/17795
https://github.com/apache/incubator-mxnet/pull/17531

@yzhliu

[2020-03-16 02:51] yezqNLP commented on #17837
Finally I found the error, :). Previously I run a mxnet program and after the program finishes, the gpu memory is still occupied by the process. However when I use nvidia-smi, there is no process shown. I found this process with
```fuser -v /dev/nvidia*```
and kill it.
Thanks !

[2020-03-16 03:40] szha commented on #17837
@yezqNLP thanks for the update. Did you kill the previous mxnet program without clean up? (e.g. `kill -9`).

[2020-03-16 04:23] yezqNLP commented on #17837
Yes, I use `kill -9 process_id`.
And this problem was due to code that uses multi-processing to load data.

[2020-03-16 12:04] weidai0903 commented on #15319
Any update on this issue? I am using CUDA10 with TensorRT. Does MXNet support TensorRT on CUDA10.0 or 10.1 so far?  I can only find way to use TensorRT with MXNet on CUDA9... Any advice is appreciated.

[2020-03-16 12:21] RuRo opened #17844 "Hybridized SoftReLU on the GPU is not numerically stable"
## Description
This is a really weird issue, which causes the `SoftReLU` activation function to overflow on even fairly small input values. This issue only happens, when the activation function is executed as part of a hybridized graph on the GPU.

## To Reproduce
[code]

which prints

[code]

I am suspecting, that the hybridized GPU implementation doesn't utilize the [`log-sum-exp` trick](https:/

[2020-03-16 12:30] hubutui opened #17845 "openmp in CMakeLists.txt needs to be updated"
Currently, cmake check if `${CMAKE_CURRENT_SOURCE_DIR}/3rdparty/openmp/CMakeLists.txt` exists, check [here](https://github.com/apache/incubator-mxnet/blob/master/CMakeLists.txt#L430), then build openmp from source, which is always true, and cmake will never use openmp provided in system, check [here](https://github.com/apache/incubator-mxnet/blob/master/CMakeLists.txt#L444) .  So these codes need

[2020-03-16 13:34] RuRo commented on #17844
Aha! I think, I found it! While the `mshadow` implementation was fixed in PR #6834, the [`fused_op` implementation](https://github.com/apache/incubator-mxnet/blob/ea2dabaae5e1453572c9105f77322977bd14c108/src/operator/fusion/fused_op-inl.h#L553), that was introduced in PR #15167 uses the plain `ln(1 + exp(x))` formula.

[2020-03-16 15:11] omermun opened #17847 "working with mxnet=1.3.1, upgrading numpy version from 1.14.5 to 1.17.1 causes memory issues"
I am working on Ubuntu 18.04.2 LTS machine, with  mxnet==1.3.1 and numpy==1.14.5 installed.

Upgrading numpy version from 1.14.5 to 1.17.1 causes severe memory issues.

#data is from type mxnet.ndarray.NDArray
data = data.asnumpy()
data2 = data.copy()

the code takes significantly more memory with  numpy==1.17.1 than it does with  numpy==1.14.5,
which causes my program to crash from memory overflo

[2020-03-16 15:42] szha commented on #15319
@weidai0903 we plan to add better support in binary releases such as TRT as part of the existing continuous delivery pipelines. For now, would you be able to build it from source? A tutorial can be found at https://mxnet.apache.org/api/python/docs/tutorials/performance/backend/tensorrt/tensorrt

[2020-03-16 15:43] szha commented on #15319
@KellenSunderland what was the added binary size for TRT if we were to include TRT support in the release?

@ptrendx does nvidia allow redistributing TRT? what's the license?

[2020-03-16 17:34] thomas-beznik opened #17848 "Import ONNX model from Pytorch to MXNet"
## Description
Hello,

I am trying to convert an ONNX model coming from a PyTorch model to an MXNet model. The PyTorch model is an FPN that comes from this repository https://github.com/qubvel/segmentation_models.pytorch.
I am running into the following error when using the method mxnet.contrib.onnx.onnx2mx.import_model

### Error Message

Traceback (most recent call last):
  File "C:/Users/thoma/

[2020-03-16 17:52] Akimaru666 commented on #3205
I was experiencing the same issue, turn out I was calling my file captcha.py xD third time I do this error.

[2020-03-16 18:07] leezu commented on #17845
`OPENMP_FOUND` is provided by cmake for backwards compatibility and also works.

@cjolivier01 has a veto on enabling users to use system openmp. You need to manually delete `3rdparty/openmp` or modify `CMakeLists.txt` to use system openmp.

[2020-03-16 18:32] #17837 closed

[2020-03-16 18:33] JanuszL opened #17850 "np.longlong is not supported by nd.empty while it is by nd.zeros"
## Description
nd.empty doesn't support type np.longlong while nd.zeros does. So it is a quite inconsistency.

### Error Message
[code]

## To Reproduce
It works:
[code]
while it doesn't
[code]

### Steps to reproduce
As above

## What have you tried to solve it?

Nothing

## Environment
mxnet-cu100==1.5.1.post0

We recommend using our script for collecting the diagnositc information. Run the foll

[2020-03-16 18:33] leezu commented on #17847
So this only happens with numpy arrays that originate from mxnet?

[2020-03-16 18:52] omermun commented on #17847
Yes.

On Mon, Mar 16, 2020, 20:34 Leonard Lausen <notifications@github.com> wrote:

[2020-03-16 18:56] cjolivier01 commented on #17845
Just remove openmp entirely.  I don’t care anymore.

[2020-03-16 23:18] szha commented on #17783
+1 for option 1 and 2

[2020-03-17 03:19] hubutui commented on #17845
Yeah, I know I could remove `3rdparty/openmp`, and that's what I do for now.

[2020-03-17 03:26] weidai0903 commented on #15319
@szha In the tutorial you provided, the link to "recommended instructions for building MXNet for NVIDIA GPUs" does not work anymore. Would you please provide another address?

[2020-03-17 04:55] venkat-kittu commented on #17231
sorry, for the late reply......Now I have kept it aside for some time, but when I start I will let you know.
Thanks for the help.

[2020-03-17 05:29] szha commented on #15319
@weidai0903 indeed, the anchor point is outdated and lost. You can find the instruction in one of the usage examples:
![image](https://user-images.githubusercontent.com/2626883/76824794-6ea19680-67d5-11ea-9dc2-f84f24af1455.png)

[2020-03-17 06:40] sunny1072 commented on #5947
i am facing the same issue.please share the resolution.

[2020-03-17 09:29] zixuanweeei commented on #17782
We also have this problem built from MXNet on Linux platform using the following command:
[code]

[2020-03-17 12:44] SayHiRay opened #17855 "TensorRT does not work on other GPUs except GPU0"
## Description
I followed [this official tutorial ](https://mxnet.apache.org/api/python/docs/tutorials/performance/backend/tensorrt/tensorrt) to perform inference with TensorRT. It works fine when I bind the model on GPU0. However, it reports `engine.cpp (212) - Cudnn Error in configure: 7 (CUDNN_STATUS_MAPPING_ERROR)` error when I run the model on GPU1. Although an output is still given after the

[2020-03-17 17:00] mathephysicist opened #17856 "RecordFileDetection doesn't return grayscale images"
Minimum amount of work:

RecordFileDetection returns images with three channels.

I propose it has a flag similar to LSTFileDetection which allows us to return grayscale images.

It looks like the baseclass already allows for this flag.

[2020-03-17 17:04] #17856 closed

[2020-03-17 17:04] mathephysicist commented on #17856
Closed: Issue is with gluoncv not gluon

[2020-03-17 17:42] leezu commented on #11905
This was fixed in Sep 2018 by https://github.com/dmlc/mshadow/commit/927e07da2e8e47eb0f40d971360a90a7c9d8ab7e

[2020-03-17 17:42] #11905 closed

[2020-03-17 18:20] rbavery commented on #17819
I need to use older docker versions to reproduce the FCIS repo, but I fixed the issue by going back to version .12 where nvcc is included in the builds.

[2020-03-17 18:20] #17819 closed

[2020-03-17 19:50] leezu opened #17858 "dynamic load libnvrtc.so"
## Description
Compiling MXNet with `nvrtc` support dynamically links `libcuda.so`. However, `libcuda.so` is part of the cuda driver and not typically available on cpu machines. This means, on cpu machines `libmxnet.so` will have missing dependencies and can't be loaded.

Unfortunately, parts of MXNet compilation require to `dlopen(libmxnet.so)`. In particular `OpWrapperGenerator.py` for the cpp p

[2020-03-17 19:54] leezu commented on #17819
I understand it's needed for FCIS. If you believe nvcc should be distributed in mxnet containers, it would be good to verify if this is still a problem so that it can be fixed for new versions of mxnet.

[2020-03-17 19:56] leezu commented on #17782
@zixuanweeei can you share further instructions how to reproduce on linux? I was unable to reproduce the failure with the cmake build on linux.

[2020-03-17 20:16] ptrendx commented on #17858
I agree it makes sense to `dlopen` it.

[2020-03-18 00:58] zixuanweeei commented on #17782
Tested at 1efb747ad5cf695f181c64bfb16daccd6ca4c456 using the following command:
[code]

Its outputs:
[code]

[2020-03-18 01:27] zixuanweeei commented on #17362
Took a test for 1efb747ad5cf695f181c64bfb16daccd6ca4c456, and built it from source using the following command:
[code]

Several tests like `test_arcsin`, `test_arctan`, `test_arcsinh`, `test_arccosh`, `test_arctanh`, etc report *Segmentation Fault: 11*.

Example:
[code]

@haojin2 @kshitij12345

[2020-03-18 03:39] hysunflower opened #17862 "mxnet =1.6.0, gluoncv=0.6.0 ,,,AttributeError: 'module' object has no attribute 'context'"
## Description
I pulled mxnet/python:nightly_gpu_cu101_py2 images from dockerhub, and installed gluoncv=0.6.0 mxnet =1.6.0
<img width="242" alt="图片" src="https://user-images.githubusercontent.com/52739577/76922737-90516980-690c-11ea-95eb-ad507c723c8b.png">
<img width="313" alt="图片" src="https://user-images.githubusercontent.com/52739577/76922751-98110e00-690c-11ea-8668-dfd1472c7b2d.png">
<img widt

[2020-03-18 03:59] MonicaGu opened #17863 "Inconsistent results in gluon.nn.BatchNorm with autograd.record()"
## Description
I found that the calculation result of gluon.nn.BatchNorm is different with autograd.record(). In my case, with `with autograd.record():`, the result is an all-zero array.

## To Reproduce

[code]
The output is:
[code]

### Steps to reproduce

Just run the code above and compare the results.

## Environment

[code]

[2020-03-18 04:35] zleyk22 opened #17864 "An incorrect result generated by exec.backward"
## Description
I run the python program below and I get a wrong result (`nan`)

## To Reproduce
This is a python program I run:
[code]
I get this output:
[code]
But I expected to get this result instead of `[[0. nan]]`:
[code]
I cannot explain why I get `nan`. It would be helpful if somebody can help me with this.

## Environment

I use MXNet 1.6.0
and run python 3.7.7 (with ipython 7.13.0)

[2020-03-18 04:42] #17844 closed

[2020-03-18 04:44] #17688 closed

[2020-03-18 07:37] tranorrepository commented on #17665
fp16 training too slow, any update for this issue?

[2020-03-18 07:51] huifengguo commented on #17728
I see, many thanks!

[2020-03-18 07:57] #17728 closed

[2020-03-18 09:09] shimiaoli commented on #17633
I encounter similar issue while building mxnet in windows release mode.

[2020-03-18 09:40] shimiaoli opened #17867 "Error C1002 encountered while building under windows"
## Description
While I am trying to build mxnet CPU version in windows using VS 2015 Release x64, I encounter the following error:

### Error Message
6>d:\face_4.0\mxnet\incubator-mxnet-master\src\operator\mxnet_op.h(941): fatal error C1002: compiler is out of heap space in pass 2
6>d:\face_4.0\mxnet\incubator-mxnet-master\3rdparty\mshadow\mshadow\half.h(292): fatal error C1002: compiler is out of

[2020-03-18 14:26] lostella opened #17868 "Cholesky factorization crashes on MXNet 1.6.0 on Linux for non positive definite matrices"
## Description
When a non-positive definite matrix is provided, Cholesky factorization crashes on MXNet 1.6.0 on Linux, instead of raising an exception like it does on macOS.

It's working fine on
* macOS/mxnet==1.6.0
* Linux/mxnet==1.5.1

### Error Message
[code]

## To Reproduce
[code]

## Environment

[code]

[2020-03-18 15:06] kshitij12345 commented on #17362
Will have a look over the weekend.

Thanks for informing.

[2020-03-18 15:53] Neutron3529 opened #17870 "batch transform with dataloader"
## Description
I found a [performance regression](https://github.com/apache/incubator-mxnet/issues/15655) last year, which is due to the current strategy of executing what meet `transform_first`'s setting.

The current choice is perform what meets `transform_first`'s setting on the data **before** collecting data into a batch, if batch_size=500, we have to execute what meets `transform_first`'s se

[2020-03-18 16:57] ptrendx commented on #17829
Also here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/PR-17767/6/pipeline

[2020-03-18 17:12] leezu commented on #17840
@apeforest do you mean this error:

[code]

[2020-03-18 17:36] kshitij12345 commented on #17362
Hi,

I built on the mentioned commit with
[code]

I couldn't get the `-DUSE_BLAS=blas` to work as I was getting `Could not find #include <mkl_blas.h>`.

However I couldn't reproduce the issue.
[code]

@zixuanweeei Can you try to get the backtrace?

[2020-03-18 17:42] apeforest commented on #17840
Yes, but it seems to be fixed.

[2020-03-18 17:50] larroy commented on #17868
@mseth10

[2020-03-18 17:54] leezu commented on #17840
Why would it be fixed? I got this error 2020-03-18T08:37:14.025Z UTC

[2020-03-18 17:57] leezu commented on #17633
@yajiedesign is this error due to the Workaround for DLL size limitation on Windows (#16980) ?

[2020-03-18 17:58] leezu commented on #17864
cc @eric-haibin-lin

[2020-03-18 18:16] samskalicky commented on #17236
Current implementation (as of 3/18/2020) only supports combining ops into subgraphs generically. does not allow for fine grained control to say which ops should go into which subgraphs. Need to modify `supportedOps` API to change the `ids` vector from bool (supported or not) to integer (to say which subgraph this node should go in to). This will allow for coloring and fine grained control of ops i

[2020-03-19 00:47] #15492 closed

[2020-03-19 01:57] zixuanweeei commented on #17362
Hi @kshitij12345 , thanks for your quick response. Finally, I found that I need to `make clean` and manually clean the compiling assets, and then got it passed. BTW, the error in the backtrace is mainly about `std::basic_string`.

[2020-03-19 02:39] #17834 closed

[2020-03-19 11:23] perdasilva commented on #14961
@haojin2 you can probably close this

[2020-03-19 14:10] kshitij12345 commented on #17362
@zixuanweeei Good to know that the issue is solved.

@TaoLv @haojin2 I guess we can close the issue as it is taken care of.

[2020-03-19 14:39] TaoLv commented on #17362
Thanks @kshitij12345 .  Sure I'm closing this issue.

[2020-03-19 14:39] #17362 closed

[2020-03-19 18:58] #14961 closed

[2020-03-19 19:03] guanxinq opened #17874 "Build Error"
## Description
There is a build error when I do the following:
[code]
Error message:
[code]
Environment:
AWS G4 instance with Ubuntu 18.04.

[2020-03-19 19:05] eric-haibin-lin commented on #17664
you can keep parameter version by implementing a custom updater/optimizer https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer/optimizer.py#L1361 which is registered on kvstore server

[2020-03-19 20:18] leezu opened #17875 "USE_TVM_OP=1 build broken with DMLC_LOG_FATAL_THROW=0"
## Description
Setting `-DDMLC_LOG_FATAL_THROW=0` is useful for debugging with `gdb` or `lldb`. Unfortunately we can't compile MXNet with `USE_TVM_OP=1` in that case.

### Error Message
[code]

## To Reproduce
### Steps to reproduce

1. Apply patch below
2. Compile with `cmake -GNinja -DUSE_CUDA=0 -DUSE_TVM_OP=ON ..; ninja`

[code]

[2020-03-19 20:21] leezu commented on #17874
Please post complete logs of build and configuration.

[2020-03-19 21:03] apeforest commented on #17874
@guanxinq the build steps you used are outdated. Please follow the one at:
https://mxnet.apache.org/get_started/ubuntu_setup

@leezu I think we may want to remove this page to avoid confusion:
https://mxnet.apache.org/get_started/build_from_source

[2020-03-19 21:38] szha commented on #17868
The logic looks right and unchanged, so the issue is on why terminate is called in `CHECK()`.

Let's first verify whether it's working in the 1.7 nightly builds. `pip install --upgrade --pre “mxnet>=1.6,<2" -f https://dist.mxnet.io/python`

[2020-03-19 21:45] lostella commented on #17868
@szha works fine on 1.7.0b20200315

[2020-03-19 22:14] leezu commented on #17868
It may be fixed by https://github.com/apache/incubator-mxnet/pull/17509

[2020-03-19 22:16] lostella commented on #17868
Any chance this could be backported to the v1.6.x branch for the next bugfix release?

[2020-03-19 22:20] leezu commented on #17868
You're welcome to create a PR for backporting

[2020-03-19 22:43] lostella commented on #17868
#17876 (hope everything is fine, there was a conflict during cherry picking)

[2020-03-19 22:43] #17868 closed

[2020-03-19 23:40] guanxinq commented on #17874
@apeforest I followed the instructions from https://mxnet.apache.org/get_started/ubuntu_setup. The CPU build succeed, while GPU build failed with the same error.
Also I agree that we should remove the outdated docs if possible.

[2020-03-20 00:20] apeforest commented on #17874
@guanxinq can you post your env using the diagnose.py. I don't find any error when building on DLAMI 26.0

[2020-03-20 00:30] leezu commented on #17875
This failure is from `tvmop/compile.py`. Backtrace:

[code]

[2020-03-20 00:48] leezu commented on #17874
@guanxinq the doc should work.

Again, if you don't provide us with your build and configuration log you can't expect any assistance with this issue.

[2020-03-20 08:51] swfearp opened #17881 "Solved Bug: contrib/amp/loss_scalar.py not initializing variables"
Not sure if this has been raised before, but I couldn't find it. When training with multiple gpus using amp I get the following error message:

[code]

Can be fixed by just initializing the following variables in contrib/amp/loss_scalar.py:

[code]

[2020-03-20 17:36] ptrendx commented on #17881
Hi @swfearp, could you give a little more info on how your training loop looks like?

In particular, could you make sure that:
 - you call `amp.init_trainer` on the Gluon trainer you are using
 - you call `amp.scale_loss` inside your `with mx.autograd.record()` block
?

Generally, if everything is called as it should, you should not see that error message.

[2020-03-21 02:53] hysunflower commented on #17862
I have worked out this problem.
this problem is reasoned by the space of docker, I tried to give the docker 100G space, then solved.

em,anyway, I think this error message should be opitimized

[2020-03-21 02:53] #17862 closed

[2020-03-21 04:16] SayHiRay commented on #17855
Would really appreciate it if you could take a look at this. Thanks a ton for your time! @KellenSunderland @marcoabreu @Caenorst

[2020-03-21 18:00] leezu commented on #11635
0-size tensor is supported in `mx.np`. Abort is fixed in the meantime (at least on latest master).

[2020-03-21 18:00] #11635 closed

[2020-03-21 18:14] tastelessWine opened #17883 "I am facing the issue when i am import mxnet 1.6.0"
<pre>Traceback (most recent call last):
  File &quot;&lt;stdin&gt;&quot;, line 1, in &lt;module&gt;
  File &quot;/home/tastelesswine/anaconda3/envs/hitlist/lib/python3.8/site-packages/mxnet/__init__.py&quot;, line 23, in &lt;module&gt;
    from .context import Context, current_context, cpu, gpu, cpu_pinned
  File &quot;/home/tastelesswine/anaconda3/envs/hitlist/lib/python3.8/site-packages/mxnet/co

[2020-03-22 06:39] ShankarNara commented on #572
OS used : MacOS
I am sorry ,

But where is this config.mk or osx.mk file?

[2020-03-23 01:21] leezu opened #17886 "Boolean tvm operators broken on gpu"
## Description
For example, `less_scalar_gpufloat32_2bool_2` is missing causing mxnet to crash.
Works fine for cpu.

### Error Message

[code]

## To Reproduce
### Steps to reproduce

Compile MXNet with `USE_TVMOP=1`.

Run
[code]

[2020-03-23 01:29] alinagithub opened #17887 "Import mxnet for mxnet-cu92 fails"
## Description
CUDA 92 installed, and mxnet-cu92 using pip, however import mxnet fails
In installing mxnet or mxnet-mkl, import works.
I am using Python 3.8

### Error Message
Python 3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 23:03:10) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line

[2020-03-23 01:35] yajiedesign commented on #17874
same error with msvc. but it's just a simple grammatical mistake.change `xxx->ConcurrentQueue::Block::template xxx()` to `xxx->template xxx()`

[2020-03-23 01:39] alinagithub commented on #17887
Note that I also checked the libmxnet.dll using Depends, but nothing special is reported.

[2020-03-23 01:44] yajiedesign commented on #17887
I'm not sure about the version you installed.
If the latest version is installed.
Use depend to check that mxnet__x.dll.xx is your gpu compute capability.

[2020-03-23 01:49] yajiedesign commented on #17867
please use msvc hostx64. add -T host=x64 to cmake cmd or set it in gui.

[2020-03-23 01:59] yajiedesign opened #17888 "cuda error with SequenceLast."
## Description
 CUDA: an illegal memory access was encountered error with SequenceLast.

### Error Message
 CUDA: an illegal memory access was encountered

## To Reproduce
simple lstm net work.
`class LSTMNetwork(gluon.HybridBlock):
    def __init__(self, ctx=mx.gpu(0), **kwargs):
        super(LSTMNetwork, self).__init__(**kwargs)
        self.ctx = ctx
        with self.name_scope():

[2020-03-23 02:09] alinagithub commented on #17887
I have a GTX 1070. Actually it used to work. I did re-install and I am stuck...
However, when I do Depends, there are in fact warning.
Strange, if I load explicitly the CUDA DLLs, I can import mxnet:

from ctypes import*

mydll = cdll.LoadLibrary("C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v9.2\\bin\\cudnn64_7.dll")
mydll = cdll.LoadLibrary("C:\\Program Files\\NVIDIA GPU Computing Tool

[2020-03-23 02:11] yajiedesign commented on #17633
It shouldn't be. The size limit won't go wrong at this step.The problem is really strange. Check the subprojects are updated and recompile after clear.

[2020-03-23 02:13] yajiedesign commented on #17633
In addition, you can try to generate vs project to build.

[2020-03-23 02:18] yajiedesign commented on #17887
Virtual Env Should not cause problems.You can print environment variables in a Virtual Env.

[2020-03-23 02:29] alinagithub commented on #17887
OK, I think I understand one think from Depends on the libmxnet.dll.
The Libmxnet.dll is looking for CUFFT64_92.DLL, CUBLA... etc in the local site-packages/mxnet/ directory, instead of the CUDA /bin directory.
I still don't get it as the CUDA /bin path is set in %path%
If I copy the DLLs (CYBLAS64_92, CUFFT_64_92, CUSOLVER64_92, CURAND64_92, NVRTC64_92) import of mxnet succeed and little nd array

[2020-03-23 05:54] caishanli opened #17890 "ndarray.cc:640 Check failed: !is_view"
## Description
I install anaconda and create two venvs: mxnet-cu102 and mxnet-cu102mkl.
with mxnet-cu102mkl, code in reproduce fail, but ok in mxnet-cu102

### Error Message
[code]

## To Reproduce
The test code is a mini version from gluoncv's train_yolo_v3.py, as below:
[code]

### Steps to reproduce
#### conda venv: mxnet-cu102
1.set classes to 67 ok
2.set classes to 65, 66, 68, 69 ok

#### con

[2020-03-23 06:29] sxjscience commented on #17045
I ran into similar issue with the latest master.

[2020-03-23 13:52] alinagithub commented on #17887
Turning around an issue with PATH in Windows.
Something really bugs me.
The path to the CUDA DLLs is there, but the DLL does not load.
If I copy exact the path, present in Python environment path, the dll loads...

(.env38) C:\.env38\Scripts>python
Python 3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 23:03:10) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for mor

[2020-03-23 14:33] TaoLv commented on #17890
@caishanli Could you please try the latest master branch to see if the error is still there? Thanks.

[2020-03-23 14:58] nicklhy commented on #17863
I guess this is the expected result. In training mode, BN calculates the mean and variance of batch data first. And since you set momentum as 0, the data_mean is exactly the input data. Thus, you will get an output of all zeros here.

You can refer the [doc](https://mxnet.incubator.apache.org/api/python/docs/api/ndarray/ndarray.html#mxnet.ndarray.BatchNorm) of BN for details.

[2020-03-23 15:09] caishanli commented on #17890
do you mean clone master and build with mkl and test?

[2020-03-23 15:18] TaoLv commented on #17890
Yes. You can also install the nightly build from here: https://repo.mxnet.io/dist/index.html. I think the cpu variant should have MKL-DNN enabled.

[2020-03-23 15:51] caishanli commented on #17890
I find the lastest linux build in https://dist.mxnet.io/python/mkl is mxnet_mkl-1.6.0b20200215-py2.py3-none-manylinux1_x86_64.whl
is it ok?

[2020-03-23 16:18] float123 opened #17892 "How to get the output of the specified layer？"
Hi，
I need to get the output of a certain layer, I did the following：
[code]
RuntimeError: face_rpn_cls_prob_reshape_stride32 is not presented

or
[code]
RuntimeError: simple_bind error. Arguments:
data: (1, 3, 600, 600)
[23:49:46] src/executor/../common/exec_utils.h:392: InferShape pass cannot decide shapes for the following arguments (-1 means unknown dimensions). Please consider providing them

[2020-03-23 18:25] #17875 closed

[2020-03-23 19:52] sxjscience opened #17893 "[Bug][Numpy] Wrong gradient of np.where"
## Description
Example 1: Using np.where(array, array, scalar)

[code]
Output: [0. 1. 0.]

Example 2: Using np.where(array, array, array)
[code]
Output: [1. 0. 1.]

The second one is correct.

[2020-03-23 20:19] connorgoggins commented on #17798
Update on progress so far:

- Fixed broken components of static artifacts for old versions (internal/external links, menus, etc.)
- Added missing supplemental content (missing tutorials, docs, etc.) to static artifacts for old versions
- Implemented working general version dropdown menu capable of switching between old artifacts
- Finished general version dropdown for master website (styling and f

[2020-03-24 00:57] aaronmarkham opened #17895 "update CentOS installation docs"
## Description
The [install instructions for CentOS](https://github.com/apache/incubator-mxnet/blob/master/docs/static_site/src/pages/get_started/centos_setup.md) are a couple years old.

Check out the [CI scripts as a guide](https://github.com/apache/incubator-mxnet/blob/master/ci/docker/Dockerfile.build.centos7_cpu) to see what should be updated.

[2020-03-24 02:14] TaoLv commented on #17890
We don't release mxnet-mkl nightly build anymore. MKL-DNN has been enabled in the linux cpu build. You can try the latest one by:
[code]

[2020-03-24 02:16] szha commented on #17798
Thanks for the update! I've been meaning to ask: what's the part in the website that requires a webserver that a static hosting solution cannot replace?

@aaronmarkham @ThomasDelteil feel free to chime in

[2020-03-24 02:34] szha commented on #17890
I'm guessing this is also the culprit for mxnet-cu102mkl. @caishanli could you confirm the versions for your mxnet-cu102 and mxnet-cu102mkl setup?

[2020-03-24 02:38] connorgoggins commented on #17798
@szha thanks for your comment! The primary components that require a dynamic hosting solution are the API reference docs for each language in the latest versions (master, v1.6, and v1.x - future releases). For example, since we use Sphinx to generate the Python docs for the latest versions of the MXNet API, we need a build pipeline for the latest versions of the Python MXNet API that leverages Sph

[2020-03-24 02:40] MonicaGu commented on #17863
OK I see. Thank you.

[2020-03-24 02:40] #17863 closed

[2020-03-24 02:49] aaronmarkham commented on #17798
The Apache hosting is static. But, I think what you're looking for is the switch away from S3...
As far as s3 goes, it's not meant to be a web server and various things don't work, like assumed index pages in roots of folders which make for a lot of broken links and other problems that web devs would expect to work. Jekyll, for one, wouldn't work out of the box with s3... The friendly/vanity urls

[2020-03-24 02:58] connorgoggins commented on #17798
Preview of the new website with my changes is available here: http://ec2-3-19-223-185.us-east-2.compute.amazonaws.com/

[2020-03-24 06:16] sxjscience commented on #17893
@hgt312 I think that there might be some issue in the backward + scalar case of where: https://github.com/apache/incubator-mxnet/blob/9a355ebc1dfc5c087d41bb24c946e7f773e01af9/src/operator/numpy/np_where_op.cc#L236-L254

[2020-03-24 06:58] zixuanweeei opened #17898 "LSTM and GRU layers without DNNL enabled give wrong gradients"
## Description
Currently, we have two implementations of RNN layers on the CPU backend, which are

+ Native fusion implementation,
+ The fusion enabled by DNNL library (https://intel.github.io/mkl-dnn/dev_guide_rnn.html).

Both of them can be invoked from `mx.sym.RNN`, `mx.rnn.FusedRNNCell`, `mx.gluon.rnn.LSTM/GRU/RNN`. The fusion of DNNL provides more efficient Forward and Backward, while the nat

[2020-03-24 08:43] hgt312 commented on #17893
Fixed in https://github.com/apache/incubator-mxnet/pull/17899

[2020-03-24 09:45] MonicaGu commented on #17684
I ran your code and reproduced the difference in ReLU layer. However, when I use the mxnet output of `conv1_bn` as the input of ReLU, TensorFlow and mxnet backends have the same output. This is my code:
[code]
The output of running the code is:
[code]

So I suppose there might be a problem in BatchNorm and the slight difference in `conv1_bn` might lead to a big difference in `conv1_relu`.

[2020-03-24 10:03] MonicaGu commented on #17684
I could reproduce the difference with your code. However, when I use the output of "conv1_bn" layer as the input of ReLU, the output results of both mxnet and TensorFlow backend are the same. Here is my code:
[code]
The output of the code is:
[code]
This result is quite different from the result of your code. Therefore, I suppose there might be a problem in Keras.

[2020-03-24 10:39] Justobe commented on #17684
@MonicaGu Thanks for your reply. It seems that the relu of mxnet is bug-free and the inconsistency of two backends may be caused by other factors in Keras. I temporarily closed the issue until I had some new findings.

[2020-03-24 10:39] #17684 closed

[2020-03-24 11:43] caishanli commented on #17890
I tested with it and the result is ok

[2020-03-24 11:45] caishanli commented on #17890
mxnet-cu102        1.6.0
mxnet-cu102mkl  1.6.0

[2020-03-24 13:52] TaoLv commented on #17890
Nice! Thank you for confirming that.  Hope a nightly build is okay for your work.

[2020-03-24 14:45] austinmw commented on #11872
@djaym7 This is probably related to https://github.com/aws/sagemaker-python-sdk/issues/937 on a SM hosted notebook. Still trying to figure out how to modify the way sagemaker sdk writes the docker compose file in order to increase shared memory,

[2020-03-24 14:58] aaronmarkham commented on #17798
Awesome progress.
* 1.6 is missing though...
* It's unfortunate that you get stuck in the older versions if you go back...Any way to inject a banner or some way of getting back to the main site?
* Can we get some no-index flag like a robots.txt in the old API sites, so old stuff isn't getting in google's search results? If you get stuck in an old version when coming from Google, with no way to get

[2020-03-24 16:40] #17890 closed

[2020-03-24 17:15] connorgoggins commented on #17798
@aaronmarkham thanks so much for your feedback!

- I should have mentioned, I'm putting together a build pipeline for 1.6 so we can support future changes. Consequently, 1.6 is currently not available in the preview, but will be available in the final version.
- There is a way to get back to the main site (and switch between old versions) - the dropdown that I added (see the vX.Y.Z menu in the nav

[2020-03-24 17:15] connorgoggins commented on #17798
@aaronmarkham thanks so much for your feedback!

- I should have mentioned, I'm putting together a build pipeline for 1.6 so we can support future changes. Consequently, 1.6 is currently not available in the preview, but will be available in the final version.
- There is a way to get back to the main site (and switch between old versions) - the dropdown that I added (see the vX.Y.Z menu in the nav

[2020-03-24 19:04] aaronmarkham commented on #17798
Ah I see what you did. I think it should be consistent... my preference would be to change "API Version" to be like what it looked like before. That way when you time travel, you have a familiar nav item and can get home.

[2020-03-24 21:23] sxjscience opened #17901 "[Numpy Extension] Move stop_gradient to npx"
## Description
`stop_gradient` is very essential for building the network. Currently, there is no `stop_gradient` functionality in the numpy interface.

The workaround I used is:

[code]
I think it should be safe to directly register  `stop_gradient` in npx.

[2020-03-25 00:22] ChaiBapchya commented on #17801
@mxnet-bot is deployed!!

[2020-03-25 00:23] ChaiBapchya commented on #17801
Ofcourse!

[2020-03-25 00:52] marcoabreu commented on #17801
@mxnet-blt run ci all

[2020-03-25 00:53] marcoabreu commented on #17801
@mxnet-bot run ci [all]

[2020-03-25 00:54] ChaiBapchya commented on #17801
Lol doesn't work with issues! Will filter for those :p

[2020-03-25 02:04] leezu opened #17903 "CD pipeline broken"
## Description
The CD pipeline may need to be updated based on the FFI work.
Currently the CD fails with "AttributeError: module 'mxnet.ndarray.numpy._api_internal' has no attribute 'svd'" and other similar errors.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/detail/mxnet-cd-release-job/888/pipeline/#step-316-log-1271

cc @hzfan

[2020-03-25 02:43] shimiaoli commented on #17867
@yajiedesign
Thank you.  I found that VS Express 2015 does not have native x64 compiler. After I changed to VS Community 2015 and used the setting -T host=x64, libmxnet.dll can be built.

[2020-03-25 02:45] shimiaoli commented on #17867
@yajiedesign
Thank you. Yes. After changed to x64 native compiler, libmxnet.dll can be built.

[2020-03-25 06:43] VoVAllen commented on #16099
Any update on this?

[2020-03-25 06:56] klonikar commented on #14589
The model-symbol.json file I had did not have spatial attribute. Still it failed. I noticed that the mxnet-onnx convertor was adding that attribute as below:
Simply comment the line 359 in the file **/Library/Python/3.7/site-packages/mxnet/contrib/onnx/mx2onnx/_op_translations.py** and re-run your python code.

[2020-03-25 15:03] chinakook opened #17907 "Depthwise in windows is 10 times slower than linux on gpu"
## Description
Depthwise in windows is 10x slower than linux on gpu. On windows, mobilenet 1.0 is even much slower than resnet50.

### Error Message

## To Reproduce
mxnet 1.6.0 official
predict a mobienet1.0 model on gpu. windows take 5s while linux only takes 0.5s

[code]
linux profile:

CopyCPU2GPU 🔍 | 21.517 ms | 21.517 ms | 0.158 ms | 136
-- | -- | -- | -- | --
DeleteVariable 🔍 | 28.710 ms |

[2020-03-25 16:22] chinakook commented on #17907
There is another version in windows, pytorch takes 2.0s while mxnet takes 10.2s. I think this is a bug for a long time.
MXNET version:
[code]
[code]

PYTORCH version:
[code]

[code]

[2020-03-25 17:00] leezu commented on #17903
@hzfan

[2020-03-25 17:19] ChaiBapchya commented on #17504
@mxnet-bot run ci [all]

[2020-03-25 17:26] ChaiBapchya commented on #17504
@mxnet-bot run ci [all]

[2020-03-25 17:32] ChaiBapchya commented on #17504
@mxnet-bot run ci all

[2020-03-25 17:32] ChaiBapchya commented on #17801
Let's try this now
@mxnet-bot run ci [all]

[2020-03-25 19:27] TristonC commented on #17855
It seems the TRT setting the device properly. If you accept a dirty workaround try replace ctx = mx.gpu(1) with these:
`from ctypes import cdll, c_char_p
libcudart = cdll.LoadLibrary('libcudart.so')
libcudart.cudaGetErrorString.restype = c_char_p
def cudaSetDevice(device_idx):
    ret = libcudart.cudaSetDevice(device_idx)
    if ret != 0:
        error_string = libcudart.cudaGetErrorString(ret)

[2020-03-25 21:15] TristonC commented on #17855
@Caenorst  Looks like the TRTCreateState function in [src/operator/subgraph/tensorrt/tensorrt.cc](https://github.com/apache/incubator-mxnet/blob/56e79853ad5cf98baf84454eb595c7658bef6ee6/src/operator/subgraph/tensorrt/tensorrt.cc#L263) file not passing the ctx to the TRT.
Add
[code]
will fix this issue, but not sure it is a good fix.

[2020-03-25 23:50] connorgoggins opened #17910 "Jenkins build failures on v1.6"
## Description
Currently, Jenkins builds are failing for v1.6 - both the branch `v1.6.x` and the tagged release `1.6.0.rc0`. The errors can be traced to dependency-related issues with the build processes for Julia, Python, and R docs.

### Error Message
For shell script output and errors for each docs build, see [here](http://jenkins.mxnet-ci-dev.amazon-ml.com/blue/organizations/jenkins/docs%2Fcon

[2020-03-25 23:51] connorgoggins commented on #17798
Another quick update: I have incorporated the feedback from @aaronmarkham into the latest version of the preview [here](http://ec2-3-19-223-185.us-east-2.compute.amazonaws.com/) (same URL). I decided to show the current version in the header for all versions (instead of "API Version" for master vs. the current version for the static artifacts). I believe this change makes the user interface more c

[2020-03-26 02:10] #17892 closed

[2020-03-26 07:05] chinakook commented on #17907
It's relevant to the cudnn opitimization on windows with Pascal cards.

[2020-03-26 07:05] #17907 closed

[2020-03-26 11:13] Mukulareddy opened #17913 "ModuleNotFoundError: No module named 'mxnet.contrib.amp'"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2020-03-26 12:50] SayHiRay commented on #17855
@TristonC Thanks for the workaround. It works great!

[2020-03-26 14:33] vafl opened #17914 "Operator fusion breaks '+' operator on GPU with CachedOp"
## Description
In some cases `broadcast_add` and `+` give different results. This issue seems to be new  in 1.6.

## To Reproduce

The following network gives the wrong outputs when hybridizing and running on a GPU.

[code]

It returns:
[code]

The correct result is:
[code]

Any of the following changes will give the correct result:
- switch to cpu
- don't hybridize
- switch to `broadcast_add` ins

[2020-03-26 16:52] ptsinganos commented on #2157
Did you solve this issue? I have the same problem as well.

[2020-03-26 17:18] leezu commented on #17914
I can reproduce this with mxnet-cu101==1.6 on a G4 instancen. This appears to be a bug with operator fusion. If you export `MXNET_USE_FUSION=0` the program works as expect.

CC @ptrendx

[2020-03-26 17:30] leezu commented on #17798
Thank you @connorgoggins! Would it make sense to default to the last stable version (ie. v1.6)?
Are you going to backport the Jenkins fixes to v1.6 and deploy the dynamic pipeline later? Or will you only provide the static version of v1.6?

[2020-03-26 17:52] connorgoggins commented on #17798
@leezu thanks for your questions! Right now I'm inclined to only provide the static version of v1.6 rather than trying to develop fixes for all of the myriad issues w/Jenkins for 1.6, but the [Github issue](https://github.com/apache/incubator-mxnet/issues/17910) I've added should give future engineers a good starting point for identifying these issues and building out a solution.

[2020-03-26 18:32] ptrendx commented on #17914
I will look into this - I'm not sure if this is + though that is problematic. It looks more like a problem with handling of slice_axis. I will investigate.

[2020-03-26 19:19] ChaiBapchya opened #17915 "MKLDNN 3D dilate support"
MXNet supports 3D dilate on convolution. However, it doesn't leverage MKLDNN library.

As a result, one of our big customers faced the issue where GPU (3d conv dilate) ran in under 0.01 millisecond (as it leverages cuDNN library probably) while CPU takes ~200ms

Turns out MKLDNN since earlier versions v0.10 has been supporting conv dilate for 3d but with certain limitations. Maybe its time to port

[2020-03-26 19:21] sandeep-krishnamurthy commented on #17915
@PatricZhao - Can you please help us here? Thanks.

[2020-03-26 21:23] ptrendx commented on #17913
What is the version of MXNet you are using?

[2020-03-26 23:33] TaoLv commented on #17915
@ChaiBapchya  Please try if https://github.com/apache/incubator-mxnet/pull/17884 works for you. Thanks.

[2020-03-27 00:34] aaronmarkham opened #17918 "Website / docs build breaking due to Jekyll/Ruby version update"
## Description
Local docs builds are breaking. Production is working fine and will stay that way until the docker cache gets invalidated and it tries to build the site again. When it does it'll hit this issue and website/docs publishing will be blocked.

### Error Message
[code]
## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing e

[2020-03-27 01:56] pengzhao-intel commented on #17915
Thanks, @sandeep-krishnamurthy @ChaiBapchya we are working on this :)

[2020-03-27 02:54] aaronmarkham opened #17920 "R docs generation error"
## Description
When CI tries to create the R docs, it fails, blocking website creation and CI's website test.
This particular error happens with v1.6.x.

### Error Message
[code]

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
http://jenkins.mxnet-ci.amazon-ml.com/blue/or

[2020-03-27 03:58] aaronmarkham commented on #17918
I think we need to specify the Ruby version 2.6.3 in the Gemfile, and regenerate the Gemfile.lock.
https://devcenter.heroku.com/articles/ruby-versions
I don't know what is requiring 2.6.3. But setting it as that should keep us from getting 2.6.5 instead and getting past this error.

[2020-03-27 07:03] WIll-Xu35 opened #17922 "SGD with L1 regularization, or other sparse training method"
Hi,

I'd like to do sparse training use SGD optimizer but it seems SGD in MXNet only supports L2 regularization, not L1 regularization.

Is there a method to do so or it is not implemented in MXNet?

Many thanks.

[2020-03-27 07:43] JustinhoCHN opened #17923 "can not install mxnet on jetson nano, jetpack 4.3, mxnet 1.4"
## Description
Try to install mxnet on jetson nano, according to mxnet [jetson_setup guide](http://mxnet.incubator.apache.org/get_started/jetson_setup), during installation, no error raised, but when I import mxnet in python3, "Segmentation fault (core dumped)"

### Error Message
[code]

## To Reproduce
My installation procedure:

1. install dependencies:

[code]
a little different form official g

[2020-03-27 10:25] hkvision opened #17924 "Got stuck when running estimator api example"
I'm using cpu to run the code here __without any code change__: https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/training/fit_api_tutorial.html
But it got stuck after printing out the following:
[code]
What could be the problem?

Also I want to ask is Estimator API officially recommended? Coz except this one, I cannot find any other one elsewhere...
And estimator.fit only accepts

[2020-03-27 14:31] hdmjdp opened #17925 "any.h:286: Check failed: type_ != nullptr The any container is empty requested=N5mxnet10Imperative6AGInfoE"
loss.backward()
  File "/home/hdm/miniconda3/lib/python3.6/site-packages/mxnet/ndarray/ndarray.py", line 2200, in backward
    ctypes.c_void_p(0)))
  File "/home/hdm/miniconda3/lib/python3.6/site-packages/mxnet/base.py", line 252, in check_call
    raise MXNetError(py_str(_LIB.MXGetLastError()))
mxnet.base.MXNetError: [21:51:51] /home/travis/build/dmlc/mxnet-distro/mxnet-build/3rdparty/dmlc-core/i

[2020-03-27 17:07] aaronmarkham commented on #17920
Maybe the backports broke it? https://github.com/apache/incubator-mxnet/blob/v1.6.x/python/mxnet/metric.py

[2020-03-27 17:09] connorgoggins commented on #17910
Update: fixes for Julia and Python have been identified, still running into the R docs build issue: https://github.com/apache/incubator-mxnet/issues/17920

[2020-03-27 18:38] leezu commented on #17920
I think I experienced this error locally before. I fixed it by importing the function first, using `library(methods)`. https://github.com/apache/incubator-mxnet/commit/9f2e73f39b405ec24cab254076f964452382c224#diff-a926015f30adb97767a7e80d67fbacbd

Not sure why this error appears and persists on 1.6 branch. Did you confirm it doesn't happen master?

[2020-03-27 18:39] leezu commented on #17920
Regarding the backports you linked: Why would changes to the python code affect the R package?

[2020-03-27 19:41] leezu commented on #17925
Please provide a minimal example to reproduce the error

[2020-03-27 20:00] aaronmarkham commented on #17918
The fix was accomplished this way:

Step 1: Setup rvm
1. Install packages
[code]
2. Logout. Login.
3. Test running `rvm`.
4. Change directories to `incubator-mxnet/docs/static_site/src` **important**

Step 2: Setup Ruby
1. Install Ruby 2.6.5
[code]
2. Use Ruby 2.6.5
[code]

Step 3: Setup `bundler2`
[code]

Step 4: update the Gemfile
1. Edit Gemfile and add `ruby "2.6.5"` under `source "https://rub

[2020-03-27 20:20] ptrendx commented on #17914
Ok, I see where the problem comes from - there is a bug in handling negative values for parameters in the code generator - in your example if you change axis to 1 and end to 9 you will get the right answer. I will fix that and submit PR shortly.

[2020-03-27 20:45] anirudh2290 commented on #16816
un-assigning myself since  i am not working on this currently. if someone is interested, please go ahead.

[2020-03-27 20:46] anirudh2290 commented on #16757
un-assigning myself since  i am not working on this currently. if someone is interested, please go ahead.

[2020-03-28 00:22] djaym7 opened #17930 "Network pruning, any supporting APIs in gluon/symbol ?"
^^

[2020-03-28 01:59] Bidski opened #17931 "OpWrapperGenerator.py fails to detect argument type for slice operator"
## Description
When building cpp-package OpWarapperGenerator.py is unable to correctly determine the types for the arguments of slice and slice_axis resulting in the following errors

[code]

This issue has been discussed on the forums [here](https://discuss.mxnet.io/t/strange-compile-errors/5648).

### Error Message
The full output of make can be see [here](https://drive.google.com/file/d/1mzVNY0

[2020-03-28 05:18] lilongyue opened #17932 "about distributed training in 2.0 roadmap"
i checked some docs and projects about distributed training ,
'Horovod' is project from uber team , 'Gloo' is project from facebook team.
The basic idea is to use trick from HPC computing field which is more efficient then traditional param-server:
http://andrew.gibiansky.com/blog/machine-learning/baidu-allreduce/?from=timeline
There is a tool called openmpi on which the 'Horvod' project is based

[2020-03-28 05:20] lilongyue commented on #16167
@szha
i checked some docs and projects about distributed training ,
'Horovod' is project from uber team , 'Gloo' is project from facebook team.
The basic idea is to use trick from HPC computing field which is more efficient then traditional param-server:
http://andrew.gibiansky.com/blog/machine-learning/baidu-allreduce/?from=timeline
There is a tool called openmpi on which the 'Horvod' project is

[2020-03-28 09:04] BeginnerW commented on #16969
@oljike may I ask how do you resolve this problem?

[2020-03-28 09:16] ChaiBapchya commented on #17633
@larroy so what can be done to fix this?

[2020-03-28 17:42] eric-haibin-lin commented on #16167
@lilongyue the integration of bytePS to mxnet is in this PR https://github.com/apache/incubator-mxnet/pull/17555

[2020-03-29 00:14] ChaiBapchya commented on #17858
@mxnet-label-bot add [bug]
This work-around [adding to LD_LIBRARY_PATH] is great. But without the workaround, the mxnet breaks. So I guess, it needs to be fixed and is a bug rather than a feature-request.

[2020-03-29 04:45] szha commented on #16376
This feature has been merged in #17530. Thanks for the great work @leezu

[2020-03-29 04:45] #16376 closed

[2020-03-29 04:58] szha commented on #15212
Related #17923

[2020-03-29 14:37] #17932 closed

[2020-03-29 14:41] lilongyue commented on #16167
that's great !

[2020-03-30 02:26] ChaiBapchya opened #17935 "Windows CI CUDA Intermitted error C2993"
## Description
Intermittent failure seen on windows-gpu compilation phase (WIN_GPU/WIN_GPU_MKLDNN)

Discovered in this PR : https://github.com/apache/incubator-mxnet/pull/17808

Related to https://github.com/pytorch/pytorch/issues/25393

### Error Message

It intermittently gives the error :

[code]

Errors:
[code]

Entire stack trace:
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/

[2020-03-30 02:32] ChaiBapchya commented on #17935
@mxnet-label-bot add [ci, windows]

[2020-03-30 04:05] JustinhoCHN commented on #17923
2020.03.30 update:
I followed the docker cross-compille method, but failed, error log:
[code]

platform: x86 pc, i7-9700, rtx 2080ti

[2020-03-30 08:53] ChaiBapchya commented on #17935
[code]

This one means the libmxnet.dll is not in the DLL Search path [acc to Stackoverflow]
Fix would be to add it into the environment
https://stackoverflow.com/questions/43987081/openslide-python-import-error

What's surprising is : libmxnet.dll & mxnet_70.dll are being packed into `windows_package.7z` and unpacked during test phase correctly.
While WIN_CPU tests don't give this error, WIN_GPU

[2020-03-30 09:55] lilongyue commented on #12576
@xiaolin-cheng  , i also want to have a distributed-kvstore c++ example, do you have one now ?
otherwise i have to check the python api call process.

[2020-03-30 12:28] xidulu opened #17936 "[Numpy] npx.gammaln does not handle type correctly"
[code]

[2020-03-30 17:48] aaronmarkham commented on #17920
Doesn't happen on master, and it didn't happen before when we were operating on that codebase, so I can assume it is introduced with the back-porting.

As far as Python impacting R... we have some bootstrapping going on... Scala does it... and I think R does too... so it'll use Python to generate some of its functions. You can notice this when you look at the docstrings and see how Python examples

[2020-03-30 18:05] leezu commented on #17920
The patch changes the build system for R, so it's not good to backport to 1.6.x. But you can try backporting the single line mentioned above, adding `library(methods)` to the `callback.R` file.

[2020-03-30 18:49] connorgoggins commented on #17910
@mxnet-label-bot add [Doc]

[2020-03-30 18:49] connorgoggins commented on #17910
@mxnet-label-bot add [Website]

[2020-03-30 18:52] connorgoggins commented on #17910
Update: the issue with Julia & R has been root caused and identified as a Python version problem with the Jenkins pipeline (using 2.7 instead of 3). Since this will take a significant amount of time and we want to make the v1.6 website available to our users as soon as possible, we will move forward with generating the v1.6 artifact without Julia & R docs as a stopgap solution and make a note of t

[2020-03-30 19:27] leezu commented on #17910
Could you provide more details on the Python version problem? The pipeline used to work well and there has been no change to the Python version support in the 1.6 release.

[2020-03-30 19:32] aaronmarkham commented on #17910
Sort of a time travel issue. 1.6 used to be fine when it was master and when the Python dependencies had not yet sunsetting Python 2. But they have now, so we must use Python 3. And bring that back from the future and apply it to v1.6.x if we want to build those docs.

[2020-03-30 19:34] ChaiBapchya opened #17938 "[WinError 126] The specified module could not be found"
## Description
Windows CI GPU Test phase
[WinError 126] The specified module could not be found
This is because libmxnet.dll (dynamic link library) is not found

### Error Message
[code]
## To Reproduce
Can't reproduce locally reliably. Fails on Test phase on windows-CI
Potentially some issue with AMI

## What have you tried to solve it?

Upon trying locally, both mxnet_70.dll and libmxnet.dll wer

[2020-03-30 19:36] szha commented on #17910
This sounds more like a problem of dependencies not being frozen. We should be able to deduce what versions were working from a past successful run.

[2020-03-31 00:10] djaym7 opened #17939 "Ways of Freezing part of parameter and not the whole layer."
Using grad_req == null freezes whole layer, i want to freeze certain weights in the current parameter, how to do this ?
Eg: Freezing 1 of 5 kernels in conv parameter during training..

Thanks

@zhreshold help ?

#question and not #featureRequest

[2020-03-31 00:41] deepakkumar1984 opened #17940 "[Discussion] MxNet C# Binding"
.Net has been through lots of enhancements in last year for data science type of tasks (like Notebooks support, Dataframes), and it is started to be adopted as another language for the C# lovers for doing deep learning tasks. SciSharp community has been working towards binding tensorflow library and I am part of that group decidated my time in building .NET binding for MxNet library with Gluon sup

[2020-03-31 01:46] leezu commented on #17939
You can't freeze part of a parameter. However, you can overwrite the gradient arrays, once computed, accordingly and set those parts to 0 that you like "freezed".

[2020-03-31 06:12] becauseofAI opened #17942 "error when slice_axis exporting to onnx"
## Description
An error occurred when exporting the ```slice_axis()``` operation of mxnet to onnx.

### Related code
[code]
The corresponding json code block is as follows:
[code]

### Error Message
[code]

### Environment
mxnet==1.5.0/1.5.1/1.6.0
onnx>=1.4.0 # the above error occurred
onnx==1.1.1/1.3.0 # exported successfully

So if I want to use onnx==1.6.0 to export successfully, what can I do

[2020-03-31 07:12] JustinhoCHN commented on #17923
Guys, I solve that problem, from nvidia jetson forums advice:

1. Download the mxnet-1.6 whl for jetson: [link](https://drive.google.com/file/d/1acFgoFaw9arP1I6VZFR3Jjsm6TNkpR0v/view?usp=drive_open)

2.
[code]

3. switch to sudo account! that’s import for me:
[code]
[code]

If I use python3 under jetbot account, will thorw segmentation fault error, seems I forgot change to sudo.

[2020-03-31 07:12] #17923 closed

[2020-03-31 07:44] sa-mustafa opened #17943 "CMake build misses some parameters"
## Description
When CMake is used to build the MXNet 1.6.0 on Windows, some errors are generated pertaining to missing options.

### Error Message
CMake Error at {build_path}/cmake-3.15/Modules/FindGTest.cmake:209 (add_library):
[code]

## To Reproduce
Just build the MXNet v1.6.0 project on Windows 8.1 (version is irrelevant). The CMake generates errors related to GTest options.

## What have you

[2020-03-31 08:09] John1231983 opened #17944 "How to split symbol?"
I have a symbol that is created by concat between `data`  and `seg` at `dim=1`
[code]
Hence, the symbol has size of `64x4x224x224`. I want to split the symbol back to data and seg. How can I do it? This is what I did
[code]
However, the shape of data and seg result in `64x2x224x224` instead of `64x3x224x224` and `64x1x224x224`, respectively.

[2020-03-31 09:26] lilongyue commented on #17944
you can use 'split_v2' function to solve this ! below is a ndarray version to your case.
symbolic operator should be the same

##########################
import mxnet.ndarray as nd

input=nd.random.uniform(shape=[64,4,224,224])

output=input.split_v2((3,4),1)

print(input.shape)
print('------')
print(output[0].shape)
print(output[1].shape)

[2020-03-31 09:32] lilongyue commented on #17943
hi i can successfully build mxnet cpp on linux operating system ,never tried windows op.
it seems that you have not installed the google test libs on your system.
After  installing it , the cmake should find it automatically for you!

[2020-03-31 09:37] John1231983 commented on #17944
Thanks. Please check it because it has some error

[2020-03-31 12:37] sa-mustafa commented on #17943
Hi,
I manually introduce the library to cmake-gui, specifying the path. However, the errors suggest that the library type is not identified by cmake. Either the script should ask for the library type specifically, or it should be able to find it automatically.

[2020-03-31 16:32] josephevans opened #17945 "Reduce sanity buildtime"
## Description
The sanity build pipeline in CI used to take 1-2 minutes. It's now taking around 10 minutes.

[2020-03-31 19:03] leezu commented on #17943
Did you check out the https://github.com/apache/incubator-mxnet/blob/master/CMakeLists.txt#L479 3rdparty/googletest submodule?

[2020-03-31 19:34] andrei5055 commented on #17335
I created a special MXNet tool for the collection of memory consumption statistics. Using this tool, I got the following memory allocation snapshot for this stress test.
![image](https://user-images.githubusercontent.com/7293680/78065885-d5cc5880-7348-11ea-9b82-32ee8aa2f90c.png)

As we could see here, the memory actually used during the stress test for each batch size looks OK (see red and very ti

[2020-03-31 20:27] zhreshold commented on #17939
Unless you separate the e.g. conv layer to multiple one and concat you can't freeze partial weights.

[2020-03-31 21:27] sa-mustafa commented on #17943
Yes. The https://github.com/apache/incubator-mxnet/blob/56e79853ad5cf98baf84454eb595c7658bef6ee6/CMakeLists.txt#L487 looks for GTest module. However, FindGTest.cmake module needs to know how to link your project with GTest: statically, dynamically. That's why I suggest to add options on Windows to specify the GTest library type.

[2020-03-31 22:50] ptrendx commented on #17800
@aGiant You are still using `self.min_v` and `self.max_v` in your `hybrid_forward`. Are you sure you have them set as parameters? Here is a simple working example of using parameters:
[code]
[code]

[2020-03-31 23:47] djaym7 commented on #17939
Okay, thanks

[2020-04-01 00:02] leezu commented on #17943
Do you want to open a PR based on your suggestion?

[2020-04-01 00:17] connorgoggins commented on #17798
Update: a [pull request](https://github.com/apache/incubator-mxnet/pull/17948) with my changes to the master branch is now ready for review, and the [website preview](http://ec2-3-19-223-185.us-east-2.compute.amazonaws.com/) content has been refreshed. Once my PR is merged and the Jenkins prod pipeline for building/publishing the production website is triggered, my changes will be visible in the p

[2020-04-01 04:45] John1231983 commented on #17944
@lilongyue it does not work for symbol.

[2020-04-01 06:36] fhieber opened #17951 "argsort does not support FP16"
Similar to #14125, argsort does not yet support float16 data.

[2020-04-01 10:54] konioyxgq opened #17953 "Models saved at different training stages with different forward speeds"
C++ interface under Version 1.3.1 . During training, the first-time saved model, the forward time is 0.2s. But the model saved when the training is complete, the forward time is 0.8s.
What causes this problem? How to fix it? anyone can give some advises? Thanks!

envs: cpu/c++/mxnet1.3.1

[2020-04-01 13:29] sa-mustafa commented on #17943
Yes, I'm sure adding the suggested lines improve the build experience on Windows. I've seen the problem since version 1.3.0 according to my personal notes. On Windows, installing DLL's separately is uncommon, so you have to specify the library type at build time.

[2020-04-01 16:50] djaym7 commented on #17939
![image](https://user-images.githubusercontent.com/12378820/78163995-f4d8f200-73fd-11ea-9e74-f7049539c591.png)
Instead of freezing, i can use a custom layer and slice them back in the weights in forward and backward passes, wouldn't it serve the same purpose ?

[2020-04-01 17:28] leezu commented on #17943
Ok, please CC me in your PR. Thank you

[2020-04-01 20:02] leezu opened #17954 "Automatic verification of tutorials"
## Description
There is no mechanism ensuring tutorials work.
For example https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/training/fit_api_tutorial.html will throw `TypeError: __init__() got an unexpected keyword argument 'metrics'
` on MXNet master.

Tutorials should be treated as tests and run by CI.

[2020-04-01 21:38] leezu commented on #7410
Marking as bug as the behaviour is not numpy compatible.

[2020-04-02 04:06] Chenyangzh commented on #15892
Hello everyone

I am in a situation of mxnet==1.5.0 and onnx==1.6.0 and want to convert the retinaface mobile-net model to ONNX model.

I aslo met the issues mentioned above, including SoftmaxActivation op and UpSampling op. Thanks for above suggestions, I solved these two problems but met a new one which is in Crop op.

The Crop node has no 'out_shape' key word. I found a similar issue in #14881,

[2020-04-02 06:19] Elijas commented on #11557
Any updates?
Trying to remove
[code]
from output

[2020-04-02 06:30] apeforest commented on #11557
You could set MXNET_SUBGRAPH_VERBOSE to 0 and these message will be muted. However, I think we should change the code to make default to 0 (currently is 1). It'll be a good first issue for new mxnet developers.

[2020-04-02 08:33] swfearp commented on #17881
Hey, here are the amp lines:

[code]

...
optimizer = mx.optimizer.SGD(learning_rate=self.lr, momentum=self.momentum, wd=self.wd)
trainer = gluon.Trainer(params=self.model.collect_params(), optimizer=optimizer)
amp.init_trainer(trainer)
[code]
with autograd.record():
     outputs = [self.model(X) for X in data]
     losses = [loss_function(output, label) for output, label in zip(outputs, smooth_la

[2020-04-02 10:21] Chenyangzh commented on #15892
Finally, I solve the issue depending on https://github.com/cholihao/Retinaface-caffe/issues/4

[2020-04-02 13:09] schliffen commented on #14263
The same problem for me:
`verflows omitted from the output
libmxnet.so: PC-relative offset overflow in PLT entry for `_ZN5mxnet2op8mxnet_op6KernelINS0_9pick_gradILi3ELb0EEEN7mshadow3gpuEE6LaunchIJPdS9_PfiiNS5_5ShapeILi3EEESC_EEEvPNS5_6StreamIS6_EEiDpT_'
collect2: error: ld returned 1 exit status
ninja: build stopped: subcommand failed.
`

[2020-04-02 16:32] schliffen commented on #15971
Hi everyone, I'm trying to build BMXNet on ubuntu 18.08 with cuda 10.0 and get the same error. How can I fix it?
Thank you

[2020-04-02 17:00] leezu commented on #14263
You should be able to avoid this issue by just building for a single cuda architecture. Look into specifying `-DMXNET_CUDA_ARCH=7.0` 7for the cmake build etc

[2020-04-02 17:14] schliffen commented on #17045
I run into the same issue with the latest master.

[2020-04-02 18:04] JonTanS opened #17960 "Bert Training fails on MXNet 2.0"
## Description
Running bert training on MXNet 2.0 (Master Branch) fails. When I pip install MXNet 1.6 the training script runs fine.

### Error Message
[code]

## To Reproduce
Grabbing the scripts from [Gluon Model Zoo BERT](https://gluon-nlp.mxnet.io/model_zoo/bert/index.html)

### Steps to reproduce
Downloaded the scripts and ran:
[code]

## Environment
DL AMI 27

[2020-04-02 18:06] JonTanS commented on #17960
@eric-haibin-lin @rondogency @szhengac

[2020-04-02 19:19] leezu opened #17961 "test_gluon_data.test_dataloader_context broken on g4"
## Description
test_gluon_data.test_dataloader_context broken on g4

### Error Message
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-17808/runs/59/nodes/108/steps/154/log/?start=0

## To Reproduce

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. On g4 instance with Windows:

[2020-04-02 21:47] szhengac commented on #17960
This is due to the API change in MxNet 2.0 optimizer. And, `bert_adam` follows the old API. So we need to wait until MxNet 2.0 is released and Gluon NLP is updated to MxNet 2.0.

[2020-04-02 23:44] szha commented on #17960
@szhengac @eric-haibin-lin let's use version guard in GluonNLP to warn about usage with MXNet 2.0.

[2020-04-03 00:23] szha commented on #15971
@schliffen We're tracking this in #17045

[2020-04-03 04:23] Qualiazero opened #17963 "Cuda 10.2 mxnet installation error mxnet-cu102mkl"
Hi, I have followed this post #17678 , I want to install the mxnet-cu102mkl package by `pip install mxnet-cu102mkl==1.6.0` on the windows,
but it didn't work with `ERROR: Could not find a version that satisfies the requirement
mxnet-cu102mkl==1.6.0 (from versions: none)
ERROR: No matching distribution found for mxnet-cu102mkl==1.6.0`
I changed other package resourse but it always can't work, does