[2017-05-20 03:42] ysh329 commented on #5835
@szha Thanks, I'm trying......

[2017-05-20 03:52] ysh329 opened #6361 "Finetune Error: Segment Fault (core dumped)"
I fine-tune pretrained resnet-200 on myself data. I referred tutorial codes from docs about finetune.

[code]

[2017-05-20 04:15] ysh329 opened #6362 "How to set MXNET_ENGINE_TYPE to NaiveEngine to debug"
Thanks. I didn't find any message about `MXNET_ENGINE_TYPE` on docs.
[code]

[2017-05-20 04:19] thirdwing commented on #6362
The doc on `MXNET_ENGINE_TYPE ` is http://mxnet.io/how_to/env_var.html#engine-type

You can set that in command line like

[code]

[2017-05-20 05:27] piiswrong commented on #6361
@tqchen

[2017-05-20 07:32] zhangfanqie commented on #3449
@yxchng Hi,me again.Did you solve the problem? I also dont know how to make .rec where the labels are images as well.

[2017-05-20 07:36] zhangfanqie commented on #337
@tornadomeet Hi,I'm confused about how to make my own training data.Does the im2rec.py support making .rec files when labels are images as well? How to do with its arguments?
Thanks a lot!!!

[2017-05-20 08:13] GrindstoneLZX opened #6365 "mx.sym.Dropout() Segmentation fault"
I tried to add dropout operation to train a MLP network, however I encontered segmentation fault.
So I wrote a simple example, and the segmentation fault occurred.
Please take a look, thank you!

For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:
ubuntu

[2017-05-20 09:37] great-thoughts opened #6367 "upgrdae to pre-release version of mxnet"
i want to upgrade to the pre-release package of mxnet. Can i do this through pip`? i tried `pip` with `--pre` but no luck? is there another way to upgrade a library to the pre-release version. i am using mac

[2017-05-20 09:51] iFighting commented on #6142
the same problem as you

[2017-05-20 11:32] ysh329 commented on #6362
@thirdwing Thanks!

[2017-05-20 11:41] janelu9 commented on #6340
@kevinthesun  it seems that "initializer" is a parameter of model.FeedForward
well I also add a dropout layer into the model, the validation-accuracy is promoted by 1 percent.
but it is still 1 percent away from the random forest, maybe I can try random networks

[2017-05-20 12:43] ysh329 commented on #6142
@iFighting Do u play Kaggle?

[2017-05-20 12:46] ysh329 commented on #6361
@piiswrong  Besides, I tested my other codes. I found that `Segment Fault (core dumped)` appears when using `cv2`, such as `cv2.imread` or `cv2.resize`. When I replaced `cv2.imread` with `skimage.io.imread` or `skimage`'s `resize`, it's okay.

[2017-05-20 13:45] #6067 closed

[2017-05-20 14:10] iFighting commented on #6142
@ysh329 yep,i play

[2017-05-20 14:14] ysh329 commented on #6142
@iFighting I emailed u.

[2017-05-20 15:17] zrxzrx commented on #3449
@zhangfanqie nope sorry

[2017-05-20 15:18] great-thoughts commented on #5932
The latest i could install after updating pip was mxnet-0.9.3a1. I need the 3D deconvolution from 0.9.5. Is there a way to install 0.9.5 through pip?

[2017-05-20 16:02] yxchng commented on #3449
@zhangfanqie nope sorry

[2017-05-20 16:39] piiswrong commented on #6365
the code runs fine on my machine. Please check your environment, build, gpu setup etc

[2017-05-20 17:09] 7wik opened #6368 "Unable to improve accuracy with the existing cnn for text classification code for image classification"
1.I tried to use the existing cnn for text classification code for image classification. I made appropriate changes  in the code.
2.The code is running without any errors.
`1.I` have avoided using the functions which were used for converting word2 vectors and all other word-vector conversion functions.
2.changed the forward propagation in cnn by using standard cnn model->output of each layer is fe

[2017-05-20 20:49] zazzydistsgd opened #6371 "remove "update_metric" in module faces weird performance"
Hi,

I faced an issue involves "update_metric" in module(https://github.com/dmlc/mxnet/blob/master/python/mxnet/module/base_module.py#L875).
Based on the document, this function is to
"Evaluate and accumulate evaluation metric on outputs of the last forward computation" e.g. train accuracy.

However, for some reasons I'm not sure, time costs of this function is quite high in each training iteratio

[2017-05-21 01:02] SCP-173-cool commented on #6367
The newest version is `0.9.5`. Maybe you could try `pip uninstall mxnet; pip install mxnet -U --pre`.

[2017-05-21 01:12] SCP-173-cool commented on #6265
Maybe your params files were broken when downloading.

[2017-05-21 01:22] githubfragments commented on #6296
I  installed mxnet-cu75，0.9.5 version through pip, running on maxwell titan x with ordinary conv nets.  Cudnnv4 is used. Is that caused such a big difference?

[2017-05-21 05:29] lygstate commented on #2302
what's the situation of fp16 support in mxnet

[2017-05-21 05:29] smissan commented on #6095
no it is not solved, we have ended up modifying storage.cc and making native storage manager a default. The threaded pooled one is garbage, never frees the memory making it impossible to use in any application where we need to be able to use DNN and cuda at the same time.

[2017-05-21 11:33] ysh329 commented on #2302
@lygstate inference or trainning acceleration on mobile or embed system device etc.

[2017-05-21 14:16] Daliben opened #6375 ""im2rec" doesn't support the "tif" format"
Hi,
I would like to create a .rec file for "tif" format images by using im2rec.py.
First, i have run im2rec for creating .list file, but the file obtained was empty.
I think that "im2rec" doesn't support the "tif" format.
Please, can you help me to create .rec file from"tif" images?
Thanks in advance.
## Environment info
Operating System:Windows 8.1

Compiler:

Package used (Python/R/Scala/Julia):

[2017-05-21 14:28] shuokay opened #6376 "How did the GraphExecutor::RunOps make sure the computation is not deadlocked?"
When digging the source code of mxnet, I am curious about mxnet's methods to solve the compute deadlock problem, or maybe this is no deallock at all.
If there is no risk of deadlock, please kindly give a brief explanation

Thanks.

[2017-05-21 15:34] #6000 closed

[2017-05-21 17:14] lygstate commented on #2302
I means the progress of fp16 support， if it's not finished what I can do for it？

[2017-05-21 22:34] csaltos commented on #1579
In my case the Xcode gcc was used on my computer, so I've just added:

export CC = gcc-7
export CXX = gcc-7

For using the homebrew gcc just installed, which includes support for OpenPM and now it works.

NOTE: Maybe at the mxnet installation instructions for mac we can include it some guidance about this minor tweak.

[2017-05-21 22:56] csaltos commented on #1579
In my case the Xcode gcc was used instead of the gcc installed by homebrew (which includes support for OpenMP), so I've just added this to the config.mk:

CC=gcc-7
CXX=gcc-7
SHLIB_OPENMP_CFLAGS=-fopenmp
SHLIB_OPENMP_CXXFLAGS=-fopenmp
SHLIB_OPENMP_FCFLAGS=-fopenmp
SHLIB_OPENMP_FFLAGS=-fopenmp

And so far it seems to work.

Another minor fix for building support for Scala, I have to edit the file:

[2017-05-22 00:25] rbnx opened #6379 "Error installing perl bindings"
OS: Ubuntu 16.04
Compiler: gcc 5.4.0
Package used: Perl
MXNet version: (0.9.3)

I am trying to install the perl bindings (AI::MXNet).
I downloaded this repo, compiled everything then moved to the perl-package folder but I am unable to install AI::MXNetCAPI or AI::NNVMCAPI
I keep getting this error:

[code]

[2017-05-22 00:26] rbnx commented on #6379
@sergeykolychev Any suggestions?
Thanks.

[2017-05-22 00:44] ysh329 commented on #2302
@lygstate you can train a fp16 model from scratch by using `cast` function in `symbol file`.

[2017-05-22 00:48] ysh329 commented on #4354
@starimpact I met the same error as yours. You can replace your `cv2.resize` and `cv2.imread` with `skimage.io.imread` and other equal `skimage` functions.

[2017-05-22 00:50] ysh329 commented on #4145
Mark

[2017-05-22 01:17] ysh329 commented on #3484
mark

[2017-05-22 01:21] ysh329 commented on #6361
[code]

[2017-05-22 01:33] starimpact commented on #6299
@piiswrong please give me some advice, I want to solve the problem.

[2017-05-22 01:36] ysh329 commented on #3484
You can try `sudo python train_12net.py`, which may print some useful messages.

[2017-05-22 01:48] piiswrong commented on #6299
I think it has something to do with your io pipeline. The problem seems to be coupled with your entire setup. You need to post a reproducible example for others to debug it

[2017-05-22 01:50] piiswrong commented on #6375
look at the usage message. There is a option for setting file extensions to include

[2017-05-22 01:55] sergeykolychev commented on #6379
Hi Ruben,
You'll find the instructions for ubuntu at the bottom of this page
https://github.com/dmlc/mxnet/blob/master/docs/get_started/ubuntu_setup.md
From the looks of it you did not install the 'swig' that is used to generate the .cc files.

[2017-05-22 02:00] starimpact commented on #6299
but I want to solve it by myself. It is hard to give the reproducible example for this problem.
what should I do if I want to do it?

[2017-05-22 02:01] piiswrong commented on #6299
try profiler with either nvidia profiler or mxnet profiler

[2017-05-22 02:11] starimpact commented on #6299
thanks.

[2017-05-22 03:06] wangg12 commented on #744
@Aelphy I also fixed the same problem using clang instead of gcc...

[2017-05-22 03:12] rbnx commented on #6379
@sergeykolychev you are right I hadn't installed SWIG, thanks for all your hard work!

[2017-05-22 03:12] #6379 closed

[2017-05-22 03:23] GrindstoneLZX commented on #6365
@piiswrong I upgraded CUDA to latest version, problem solved.
Thank you!

[2017-05-22 03:23] #6365 closed

[2017-05-22 04:01] #4354 closed

[2017-05-22 07:34] Daliben commented on #6375
Hi,
I don't understand what do you mean by usage message. can you explain me please.

[2017-05-22 08:59] asmushetzel opened #6381 "Enhancement: Segmentation of namespace mx.sym"
With ongoing development, having a flat list of operators in mx.sym becomes cumbersome. There will be more and more closely related groups of operators for support of certain special types of computations and I think we should reflect that in terms of different namespaces for operators for
- easier navigation and usage
- keeping development of operators more consistent (by forcing them to belong t

[2017-05-22 09:07] asmushetzel opened #6382 "Activation followed by Reshape wastes memory"
Remark: I'm planning to work on this within next 4 weeks or so  unless someone else already will provide a fix. Open the issue here to track that. Below the description copied from an email thread:

I came across this analyzing some memory issue in a NMT-project. The networks there are very short but wide and the application is very memory intensive. What happened is that a tiny fragment namely an

[2017-05-22 11:09] vsooda commented on #6323
@lx75249  thank you. I create new build folder, it still does't work both in my mac and  ubuntu...

[2017-05-22 11:17] lx75249 commented on #6323
what is the content of `/path/to/build/cpp-package/CMakeFiles/mlp.dir/link.txt`?

[2017-05-22 11:18] wangg12 opened #6383 "How do I supress the log in convolution?"
[code]

[2017-05-22 12:09] vsooda commented on #6323
**ubuntu 16.04: core dumped**

/usr/bin/c++   -Wall -Wno-unknown-pragmas -fPIC -Wno-sign-compare -O0 -g -msse2 -std=c++11 -Wl,--no-undefined -fopenmp -std=c++0x -g    CMakeFiles/mlp.dir/mlp.cpp.o  -o mlp  -L/usr/local/cuda-8.0/lib64 -rdynamic ../../libmxnet_static.a ../../dmlc-core/libdmlc.a /usr/local/lib/libopencv_highgui.so.3.1.0 /usr/local/lib/libopencv_imgcodecs.so.3.1.0 /usr/local/lib/libope

[2017-05-22 12:56] githubfragments commented on #3283
Oh. How to manually zero the gradient after each update, is there a simple example?

[2017-05-22 13:01] yl2 commented on #4987
I am trying to install mxnet for R on a linux machine. I tried the suggestions above with type = binary, mac.binary, mac.binary.mavericks but none of them worked. Any suggestions on how to install mxnet for R on linux? Thanks!

Installing package into ‘/q5/hhq5/rlib’
(as ‘lib’ is unspecified)
trying URL 'http://dmlc.ml/drat/src/contrib/mxnet_0.9.5.tar.gz'
Warning in download.file(url, destfile, me

[2017-05-22 15:04] patricianing opened #6384 "build with mkl, cannot find -lmkl_intel_lp64, -lmkl_intel_thread, -lmkl_core"
I am trying to build MXNet from source, and using MKL.

1. Enable USE_MKL2017=1 in make/config.mk
2. wget https://github.com/dmlc/web-data/raw/master/mxnet/mklml-release/mklml_lnx_<MKL VERSION>.tgz
3.tar zxvf mklml_lnx_<MKL VERSION>.tgz
4. cp -rf mklml_lnx_<MKL VERSION>/* <MKLML_ROOT>/
5. Set LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$MKLML_ROOT/lib
6. make -j USE_BLAS=mkl

Then I am getting:
/bin/ld: cann

[2017-05-22 15:17] piiswrong commented on #6384
Do exactly as the readme saids https://github.com/dmlc/mxnet/blob/master/MKL_README.md
don't change use_blas

[2017-05-22 15:45] yancz1989 opened #6385 "Build with MKL, found errors of"
About FCN_XS example.
## Environment info
Operating System:
Ubuntu 16.04

Compiler:
g++ 5.4

Package used (Python/R/Scala/Julia):
Python

MXNet version: mxnet-mkl-cu80_0.9.5
Segmentation fault. Error message from gdb:

Thread 90 "python" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7ffe9ebf4a00 (LWP 5866)]
0x00007fff7a953c29 in mkl_vsl_sub_kernel_l9_sBRngMCG31M1 ()
   from /

[2017-05-22 15:47] yancz1989 opened #6386 "Compile install MXNet using MKL"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

MXNet commit hash (`git rev-parse HEAD`):
d35fc765f9526bd836ba4a431729d130a862db3f

If you are using python package, please provide

Python version and distribution:
python3.5

#Error message
src/operator/./mkl/mkl_pooling-inl.h: In member f

[2017-05-22 15:47] #6385 closed

[2017-05-22 15:48] piiswrong commented on #6386
@glingyan @zhenlinluo

[2017-05-22 15:49] yancz1989 opened #6387 "FCN_XS example can't run."
About FCN_XS example.

Environment info

Operating System:
Ubuntu 16.04

Compiler:
g++ 5.4

Package used (Python/R/Scala/Julia):
Python

MXNet version: mxnet-mkl-cu80_0.9.5
Segmentation fault. Error message from gdb:

Thread 90 "python" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7ffe9ebf4a00 (LWP 5866)]
0x00007fff7a953c29 in mkl_vsl_sub_kernel_l9_sBRngMCG31M1 ()
from /usr/

[2017-05-22 16:22] patricianing commented on #6384
@piiswrong So I should add " USE_BLAS=mkl"in config.mk, but not specify when make? Thanks!

[2017-05-22 16:41] lygstate commented on #2302
I want do traning in fp32， but predict in fp16。 are that possible？

[2017-05-22 21:47] EvanzzzZ opened #6392 "Relu implemented with mshadow"
Trying to understand how to add new operators in mxnet,

but got confused about `relu` defined in file `elementwise_unary_op.h` [here](https://github.com/dmlc/mxnet/blob/master/src/operator/tensor/elemwise_unary_op.h#L140).

Since `mshadow_op.h` already provide implementation of `relu`, see [here](https://github.com/dmlc/mxnet/blob/master/src/operator/mshadow_op.h#L73).

Why the elementwise operat

[2017-05-22 21:47] szha commented on #6296
the 0.9.5 version doesn't use your installed cudnnv4, but rather the statically linked cudnnv6 :)

[2017-05-22 21:51] ZihengJiang commented on #6392
It is because we take another way to implement kernel -- Kernel::Launch,
which is easier to understand than mshadow. You can see the detail in
src/operator/mxnet_op.h.
On Mon, May 22, 2560 at 14:47 EvanChong <notifications@github.com> wrote:

--
Ziheng Jiang
Fudan University | Computer Science

[2017-05-22 22:38] szha commented on #5932
Yes, I meant that the pip wheels for 0.9.5 has been released. Could you try `pip install -U mxnet`?

[2017-05-22 22:39] szha commented on #5835
@ysh329 Let me know how it goes.

[2017-05-22 23:02] thirdwing commented on #4987
As a Linux user, I think you need to compile mxnet from source.

[2017-05-22 23:46] rococopeach commented on #6313
Built is succeeded after I edited CmakeList.txt and added blas path.
Thank you.

[2017-05-22 23:46] #6313 closed

[2017-05-23 00:06] EvanzzzZ commented on #6392
There are methods `UnaryLaunch()` and `UnaryCompute()` in `elementwise_unary_op.h`, which 'UnaryLaunch()' use Kernel::Launch that you mentioned above while `UnaryCompute ` implement ops with mshadow, see [here](https://github.com/dmlc/mxnet/blob/master/src/operator/tensor/elemwise_unary_op.h#L56).

The code use UnaryCompute to implement a negation, which I think can also be implemented by using th

[2017-05-23 00:34] R1ncy commented on #6324
hi, @reminisce
Is there any progress on this issue? Thanks for your help!

[2017-05-23 01:04] wangg12 commented on #6383
This is very annoying to the std output for it outputs this log in every non cudnn conv operation of each forward time.

[2017-05-23 01:05] wangg12 commented on #6383
@piiswrong Could you help?

[2017-05-23 01:18] eric-haibin-lin opened #6395 "CSVIter segfault?"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: Amzn Ubuntu DL AMI

Package used (Python/R/Scala/Julia):

MXNet commit hash (`git rev-parse HEAD`): cde53611167c54ad7ce726a6b775faffcbdb0258

If you are using python package, please provide

Python versi

[2017-05-23 01:46] SCP-173-cool commented on #6375
@Daliben remember to read `im2rec.py`, and find：
[code]

[2017-05-23 01:48] nicklhy opened #6396 "Inference speed may decrease slightly when batch-size increase"
Recently, I did some speed benchmark experiments of CNN inference task over a few popular deep learning frameworks (including mxnet). Though mxnet performs excellently in most modern CNN structures (i.e. resnet, inception), I also found mxnet's inference speed curves often drop slightly when batch size is 16, 32 or 64 as below. Is this pretty common?

![resnet50](https://github.com/nicklhy/DLInfBe

[2017-05-23 01:53] SCP-173-cool commented on #6387
No errors happen when I use the `openblas` mxnet, which is compiled by myself.

[2017-05-23 02:00] yancz1989 commented on #6387
@SCP-173-cool Thanks, but how about with MKL? I need a new operator with SVD, which mkl is a must.

[2017-05-23 02:00] ysh329 commented on #2302
@piiswrong @Godricly

[2017-05-23 02:09] SCP-173-cool commented on #6387
@yancz1989 Maybe you should compile the MKL MXNet with your PC, because the error you claimed is about `libmklml_intel.so`.

[2017-05-23 02:16] yancz1989 commented on #6387
@SCP-173-cool I compiled but failed... Errors are in #6386 ...

[2017-05-23 05:05] Godricly commented on #2302
@lygstate
There is a fp16 example of image classification. You can refer to that one.
You  can predict with trained fp32 model using fp16 with proper clipping, But I think the performance will drop.
However I don't think you can deploy fp16 on  mobile devices with mxnet. The current one relies on cudnn backend.

[2017-05-23 05:17] lygstate commented on #2302
@Godricly , Yeap, I wan't using fp16 with cudnn for performance reason:) Thanks a lot

[2017-05-23 05:31] reminisce commented on #6324
@R1ncy I am working on something else these days. I should be able to get started on this issue in a day or two.

[2017-05-23 05:49] piiswrong commented on #6396
@ptrendx @ap-hynninen The drop looks weird. Do you observe this? Is it due to cudnn algo selection?

[2017-05-23 06:57] BensonBlack commented on #5889
@chicn,I have not solved this issue.What about you?

[2017-05-23 08:30] realwill commented on #4713
@precedenceguo not only customop cpu training will freeze, but gpu training, when I use gpu training fcis and deformable convolution network, asnumpy() halted after random iterations.

[2017-05-23 08:39] Atomu2014 commented on #6087
my friend has implemented a simple version of constant initializer @panzheyi

[2017-05-23 08:47] ysh329 commented on #5835
@szha it's okay to install `mxnet-cu80`. Thanks a lot !

[2017-05-23 09:50] nicklhy commented on #6396
By the way, MXNET_CUDNN_AUTOTUNE_DEFAULT is 1 in my experiments. The program need to run performance tests to find the best conv algo each time you run it.

[2017-05-23 10:02] futurely opened #6398 "Support video IO, decoding and transformation"
Video classification [1][2][3], object detectction [4] and object segmentation [5] have been very active research areas in recent years. Caffe2 added a module for efficient [video IO, decoding and transformation](https://github.com/caffe2/caffe2/tree/master/caffe2/video) this month. Please support the same set of functionalities to facilitate more video related researches with MXNet.

[1] https://

[2017-05-23 10:07] realwill commented on #2760
@FighterLYL is the problem solved？

[2017-05-23 10:59] panzheyi commented on #6087
I implemented a possible solution.
A constant can be regarded as a variable which doesn't get gradient.
So you can firstly create a variable, and then block its gradient.
Here's my code:
import mxnet as mx
import numpy as np

@mx.init.register
class MyConstant(mx.init.Initializer):
    """Initializes the weights to a scalar value.

    Parameters
    ----------
    value : float
        Fill value

[2017-05-23 11:01] panzheyi commented on #6087
I implemented a possible solution.
A constant can be regarded as a variable which doesn't get gradient.
So you can firstly create a variable, and then block its gradient.
Here's my code:

'''python

import mxnet as mx
import numpy as np

@mx.init.register
class MyConstant(mx.init.Initializer):
    """Initializes the weights to a scalar value.

    Parameters
    ----------
    value : float

[2017-05-23 13:14] Hjy20255 commented on #1815
@sinaj i have same error,did you solve it

[2017-05-23 13:33] Daliben commented on #6375
Hi,
That's OK!...Thanks for your reply  :+1:

[2017-05-23 13:50] xioryu commented on #6383
You may turn off the cudnn autotune message manually by:
export MXNET_CUDNN_AUTOTUNE_DEFAULT=0

[2017-05-23 14:00] glingyan commented on #6386
Young jin will support for me
Customer is use an old mkl version, please download latest

From: Eric Junyuan Xie [mailto:notifications@github.com]
Sent: Monday, May 22, 2017 11:48 PM
To: dmlc/mxnet <mxnet@noreply.github.com>
Cc: Guo, Lingyan <lingyan.guo@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [dmlc/mxnet] Compile install MXNet using MKL (#6386)

@glingyan<https://github.com/

[2017-05-23 14:17] xioryu commented on #6396
Similarly, I did some performance test for cudnn autotuning with the modes "off-0, limited-1, fastest-2", by evaluating time cost for 1000 convolutions.
Surprisingly, the fastest mode takes more time, while turning cudnn off achieves the best speed.

[2017-05-23 14:17] Daliben opened #6399 "[im2rec] attributeErroe:'module' object has no attribute 'MXIndexedRecordIO'"
Hi all,
I have used  im2rec.py to convert "caltech101 images" into record io format:
1) I have created "caltech.lst" succesfully using
os.system('python %s/tools/im2rec.py --list=1 --recursive=1 --shuffle=1  data/caltech data/101_ObjectCategories'%MXNET_HOME)
2) Then, when I run this :
os.system("python %s/tools/im2rec.py --train-ratio=0.8 --test-ratio=0.2 --num-thread=4 --pass-through=1 data/calt

[2017-05-23 14:26] ptrendx commented on #6396
@xioryu Could you share the repro for that?

@nicklhy, @piiswrong We did not do any inference tests, but that is definitely weird behavior - cudnn should not slow down with the increasing batch size. Maybe IO? Do you have a script we can use to repro that?

[2017-05-23 14:33] nicklhy commented on #6396
@ptrendx , you can find my test script [here](https://github.com/nicklhy/DLInfBench/blob/master/inference_mxnet.py). Notice that all samples are generated randomly before the inference loop. I believe IO is not really a problem at all.

[2017-05-23 14:46] starimpact commented on #6005
Can I delte the
[code]
of
[code]
because, I want to reinitialize the weight value on training procedure...

@piiswrong

[2017-05-23 15:24] PeterMinin opened #6401 "C++11-related build errors with MSVC"
I'm getting some C++11-related errors trying to build the library. Please see the details below.

## Environment info
Operating System: Windows 7 x64
Compiler: MS Visual C++ Build Tools 2015 / MSVS 14.0 / cl.exe 19.00.24218.2 for x86 + CUDA SDK 8.0
Package used (Python/R/Scala/Julia): none yet
MXNet version: 0.9.3, 0.9.5, 0.10.0-rc0
More details in CMake output, link below.

## Error Message + Ste

[2017-05-23 16:02] sbodenstein opened #6402 "Automatic Batching for Dynamic Graphs"
@piiswrong: This seems very relevant to MXNet's efforts to support dynamic graphs  #5705:

- https://arxiv.org/pdf/1705.07860.pdf
- https://github.com/clab/dynet/blob/master/examples/python/tutorials/Autobatching.ipynb

@jekbradbury: any idea whether PyTorch is thinking about adding support for something like this?

[2017-05-23 16:06] wangg12 commented on #6383
@xioryu This does not work.

[2017-05-23 16:08] wangg12 commented on #6383
I think it's better to have this logging message in building the graph and not show it in forward time. It is too annoying...

[2017-05-23 16:09] wangg12 commented on #6383
Perhaps I will simply comment this line the next time I recompile mxnet......

[2017-05-23 16:34] piiswrong commented on #6396
Had a quick look at the script. I don't see a burn-in section. Usually you should let the script run for a few iterations for warming up before you start timing it

[2017-05-23 16:42] piiswrong commented on #6402
Yeah we have been thinking about doing the same thing. Haven't got to it yet. Never thought you can write a paper about it...

[2017-05-23 17:53] anijain2305 commented on #5460
I am getting the same issue. Were you able to get the right hyper-parameters?

[2017-05-23 18:01] mli commented on #5460
because vgg and alexnet do not have batchnorm layers, the default weight initializer and learning rate do not fit these two.

[2017-05-23 18:25] anijain2305 commented on #5460
I see. Can you please give the value of  learning rate and weight initializer?
**Default settings**
lr=0.01, lr_factor=0.1, lr_step_epochs='30,60'

Relevant snippet from common/fit.py
    if args.network == 'alexnet':
        # AlexNet will not converge using Xavier
        initializer = mx.init.Normal()

How should these be changed to get better accuracy?

[2017-05-23 18:33] chuckbasstan123 opened #6405 "mod.fit fatal error"
## Environment info
Operating System: Ubuntu 16.04.2 LTS
Installed from source: MXNet 0.9.5 master(05/14/2017) build from source with mx.contrib.sym.ctc_loss built-in
MXNet commit hash (`git rev-parse HEAD`): 38f7c5584016e92ba1e0ee1b00ea6632740f67ce
Python version and distribution: python 2.7

Hi, I tried to use mx.contrib.sym.ctc_loss as the solution for my experiment with my own data (converted

[2017-05-23 19:03] mli commented on #6360
do you have the `lst` file? if yes then you can count the images. otherwise you need to pass the `rec` once.

[2017-05-23 19:32] piiswrong commented on #6405
Could you post your network?
The error is from argmax/argmin etc operators. WHere did you use those?

[2017-05-23 19:41] piiswrong commented on #6401
@yajiedesign

[2017-05-23 19:50] szha commented on #5835
Great to hear that. Feel free to close this issue when you're ready.

[2017-05-23 21:00] jekbradbury commented on #6402
DyNet's autobatching approach is predicated on their lazy execution semantics (build a graph imperatively but don't execute it until later -- the autobatching can happen in between) and this limits the applicability of autobatching to truly dynamic situations (where the graph structure depends on runtime values of tensors e.g. because of discrete samples from a stochastic policy network).

PyTorch

[2017-05-23 23:01] WillSuen opened #6412 "question about mxnet implementation of CycleGAN"
I am trying to implement CycleGAN (https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix) with mxnet. I need to realize two generator networks for style translation between A and B, and the cycle loss will be
[code]
I tried to use `MakeLoss` function, but I am lost with how to make the cycle symbol. Is there an easy way to implement this kind of cycle network in mxnet?

Really appreciate any sug

[2017-05-23 23:01] Luo-Liang opened #6413 "Potential race in Engine code?"
https://github.com/dmlc/mxnet/blob/master/src/engine/threaded_engine.cc#L314

In this piece of code, there may be a potential race condition where the content of `PushSync()` call finishes earlier than the `finished_cv_.wait()` so that the notification of `PushSync()` is lost?
I think we need to guard

 finished_cv_.wait(lock, [this, &done]() {
        return done.load() || kill_.load();
      });

[2017-05-23 23:28] piiswrong commented on #6413
@tqchen

[2017-05-23 23:31] piiswrong commented on #6413
If done is already true will wait still block?

[2017-05-23 23:39] Luo-Liang commented on #6413
good call!

It turns out the done.load() || kill.load() is checked first already. So there is no need to change.

http://en.cppreference.com/w/cpp/thread/condition_variable/wait

[2017-05-23 23:40] #6413 closed

[2017-05-23 23:54] sinaj commented on #1815
@Hjy20255 No, could not solve it.

[2017-05-23 23:54] #1815 closed

[2017-05-24 00:17] ZihengJiang commented on #6392
There exist two Relu implementation, one is `mx.sym.Activation(act_type=relu)`, which is implemented by UnaryCompute and mshadow_op::relu. another one is `mx.sym.relu`(https://github.com/dmlc/mxnet/blob/master/src/operator/tensor/elemwise_unary_op.cc#L21), which is implemented by UnaryLaunch(Kernel::Launch) and the relu struct you mentioned before(https://github.com/dmlc/mxnet/blob/master/src/oper

[2017-05-24 00:59] thirdwing commented on #6137
@coforfe I have just updated the R package.

Please try again.

[2017-05-24 01:11] liangfu commented on #1815
I was having exactly the same problem, changing `use_global_stats` from `True` to `False` in `symbol_fcnxs.py` file solved the problem for me. Hope this helps!

[2017-05-24 01:22] yajiedesign commented on #6401
you cuda version is 8.0.61?

[2017-05-24 01:26] nicklhy commented on #6396
@piiswrong , Yes, I didn't do the warm-up running in this script. But I will remove the smallest and largest values over 10 epochs, and then use the remaining's mean value as the final result.

Moreover, from the program's log, missing of warm-up running doesn't affect the speed measurement of an entire epoch (n_samples is set to 1000) very much. Though the speed values of each epoch can vary a lo

[2017-05-24 02:53] ZihengJiang commented on #6401
@ptrendx @ap-hynninen
BTW, do you know how to detect the minor version numbe `.61` in `8.0.61`?

[2017-05-24 02:55] piiswrong commented on #6396
Try do 100 iterations of warm up first

nicklhy <notifications@github.com>于2017年5月23日 周二下午6:27写道：

[2017-05-24 04:26] Hjy20255 commented on #1815
sorry,i can not find  use_global_stats in symbol_fcnxs.py

[2017-05-24 04:26] Hjy20255 commented on #1815
@

[2017-05-24 04:35] Hjy20255 commented on #1815
[
![_025](https://cloud.githubusercontent.com/assets/17898101/26387057/50ccfdf2-407d-11e7-8216-7f15884343b3.png)
]

[2017-05-24 04:45] Hjy20255 commented on #1815
sorry,i can not find use_global_stats in symbol_fcnxs.py
and so  i add  use_global_stats=False in symbol_fcnxs.py
but  val acc  all the same  value!
my experiment ：
i train my own dataset using  fcn—xs
for label  images： The real color diagram becomes the index diagram
 for example（0，0，0）--->0  ,USE the index diagram  it can run successfly. BUT USE real color diagram  meet errors.

[2017-05-24 05:12] Godricly commented on #6412
I made 4 symbols and trained them one by one.

[2017-05-24 05:45] githubfragments commented on #6296
Thanks, the problem is solved. The cudnnv4 is used previously when compiling. After I change the cudnn version to 6.0 and recompile,  the speed is normal.

[2017-05-24 05:45] #6296 closed

[2017-05-24 05:48] nicklhy commented on #6396
100 iterations? If batch size is set to 128, 100 iterations means processing 12800 images before the real benchmark loop. I never expect mxnet could require such large data size for warming up ...

BTW, the example benchmark code ([example/image-classification/benchmark_score.py](https://github.com/dmlc/mxnet/blob/master/example/image-classification/benchmark_score.py#L39)) only runs 5 iterations

[2017-05-24 05:57] piiswrong commented on #6396
You need to burn your GPU to working temp (usually around 80C) to get stable numbers.

[2017-05-24 06:01] liangfu commented on #1815
Try debug the output of each layer by adding following code before executing forward pass (in this case, the code exists in `solver.py` file)
[code]
And there should be no numerical overflow (displayed as `inf` for example) in any layer.

[2017-05-24 06:28] AnTruong commented on #5110
@zhenxingjian: Hello zhenxingjian, did you solved this issue, I have the same problem :(

[2017-05-24 06:33] nicklhy commented on #6396
Just did the test as your advice(100 iterations' warm-up), the results of alexnet are:
[code]
The temp of GPU is very stable during the test and the speed drop still exists.

[2017-05-24 06:44] jstzsjw commented on #3725
@dianyancao Could you show me more details on how to build image-classification-predict.cc?
I have tried many times to build it with vs2013+win7+opencv3.1, but failed. And I'm really upset about it.
Looking forward to your reply, thx.^-^

[2017-05-24 07:17] PeterMinin commented on #6401
@yajiedesign Yes, 8.0.61.

[2017-05-24 07:22] zhyj3038 commented on #3725
@jstzsjw  mxnet do not support VS2013 yet, VS2015 works.

[2017-05-24 07:55] xinq2016 opened #6418 "Performance of deep speech is bad"
## Environment info
Operating System: ubuntu 14.04
GPU: GTX 1080

Package used (Python/R/Scala/Julia): python

MXNet version: 0.9.5

Or if installed from source: git clone https://github.com/dmlc/mxnet.git ~/mxnet --recursive

## Error Message:
I just follow the default configure script in the example of speech recognition with the corpus of librispeech (clean-360 subset).
1. After two epochs, the

[2017-05-24 08:05] PeterMinin commented on #6401
This issue was fixed when I replaced OpenBLAS with MKL.
This could be due to my incorrect build of OpenBLAS, because I tried to build it with MSVC too, even though OpenBLAS currently only supports x86 with it.

[2017-05-24 08:05] #6401 closed

[2017-05-24 08:20] starimpact commented on #6005
I add Reset function into kvstore and related files, do you need it? I can pull a request.

[2017-05-24 08:24] coforfe commented on #6137
Thanks!

The installation process runs without any problem and  I have just tried with the example in `mx.mlp()` and it also runs without any issue.

Thanks again!
Carlos.

[2017-05-24 08:24] #6137 closed

[2017-05-24 08:53] xioryu commented on #6396
Here I pasted my evaluation code below. You may try them on your own
machine.

=======================================================================
import mxnet as mx
import time

data = mx.sym.random_uniform(low=-1, high=1, shape=(32, 32, 56, 56))
weight = mx.sym.random_normal(loc=0, scale=0.1, shape=(128, 32, 3, 3))
bias = mx.sym.zeros((128,))
conv = mx.sym.Convolution(data=data, weight=weigh

[2017-05-24 08:58] Ldpe2G commented on #6412
@WillSuen you can refer to my implementation:
https://github.com/Ldpe2G/DeepLearningForFun/tree/master/Mxnet-Scala/CycleGAN

[2017-05-24 09:07] nicklhy commented on #6396
@xioryu , I think you should not count the first eval time. Test the time like this is better:

[code]

CUDNN autotune needs to run performance tests to find the best convolution algorithm. It is pretty common that the first eval time is longer than the case when cudnn_tune is set to "off".

[2017-05-24 09:14] Ldpe2G commented on #6412
My implementation is the same with @Godricly , made 4 symbols(Generator A, Generator B, Dscriminator A, Descriminator B). and train them one by one, you can also refer to the torch implementation:
 https://github.com/junyanz/CycleGAN, My implementation was based on it.

[2017-05-24 09:15] jstzsjw commented on #3725
@zhyj3038 I rebuild with VS2015, and it works. Thank you!!

[2017-05-24 10:01] xioryu commented on #6396
@nicklhy, yeah, the reported results did not include the first-time count.
They were averaged time after several evals.

2017-05-24 17:08 GMT+08:00 nicklhy <notifications@github.com>:

[2017-05-24 10:54] #6362 closed

[2017-05-24 11:05] chicn opened #6419 "[c++] Model File(.json) Loading error"
Hi. I'm keep trying to implement [MTCNN](https://github.com/kpzhang93/MTCNN_face_detection_alignment) with C++ and MxNet.

However now, I receive an error when I try to load a model file with `Symbol.Load`.

If any of you ever have tried to load model files to use as classifier, I'd love to know how did you make it.

I leave what I've tried below. Thanks in advance.

## Environment info
Operating

[2017-05-24 11:05] chicn commented on #6419
Any advices or suggestions are welcomed 😄

[2017-05-24 11:06] chicn commented on #6419
Hi, @piiswrong and @lx75249 . If you know how to solve this. Please help me out!!

Thanks!

[2017-05-24 11:09] chicn commented on #5409
I also have a kind of same question though more simple one like if I can load model files trained with python + mxnet. #6419

[2017-05-24 11:32] starimpact commented on #6005
@piiswrong

[2017-05-24 11:36] starimpact opened #6421 "[New Function] Add Reset into kvstore, enable set_params() to reset weights in kvstore"
I think this is a good enhancement to set_params() when using kvstore.
for details, please see #6005.

@piiswrong @tqchen

[2017-05-24 11:51] carrierlxk opened #6422 "Can I run the provided matlab interface in mxnet for training the network?"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.
I have run the matlab demo.m in ./code/mxnet/matlab folder,  so could I train a network based on matlab interface, for example do mnist classification?
## Environment info
Operating System:

Compiler:

Package used (Python/R/Scala/Julia):

MX

[2017-05-24 12:28] xhpohanka opened #6423 "Does mxnet provide operator to 'rearange' data?"
Hi,
I'm new to mxnet and I'm looking for operator/layer doing folloving manipulation with data:
* I have two tensors with shapes eg. `[1, 1, 8, 8]` and `[1, 1, 4, 4]`
* I want to concat these two along second axis (channels) so the first one has to be rearanged to get same width and height as second one
* I can take each four neigbouring *pixels* (with stride 2) and put them to four channels so I'

[2017-05-24 13:02] WillSuen commented on #6412
Thanks a lot! I'll have a try.

[2017-05-24 13:26] lx75249 commented on #6419
`Symbol::Load` is static, you should use it like `symbol[i] = Symbol::Load(path)`.
I tried to load twice, and it worked.

[2017-05-24 13:52] biycyr commented on #557
@tqchen I have tried to create shared layers. I tried your answer on mxnet/example/image-classification/symbols/mlp.py
`
def get_symbol(num_classes=10, **kwargs):
    data = mx.symbol.Variable('data')
    data = mx.sym.Flatten(data=data)
    fc1_weight = mx.symbol.Variable('fc1_weight',init=mx.init.Xavier())
    b1_weight = mx.symbol.Variable('b1_wweight',init=mx.init.Xavier())
    fc2_weight = mx

[2017-05-24 14:03] biycyr opened #6424 "Create shared layer as in #557"
@tqchen I have tried to create shared layers. I tried your answer of #557
in mxnet/example/image-classification/symbols/mlp.py:
 `
data = mx.symbol.Variable('data')
`
`
data = mx.sym.Flatten(data=data)
`
`
fc1_weight = mx.symbol.Variable('fc1_weight',init=mx.init.Xavier())
`
`
b1_weight = mx.symbol.Variable('b1_wweight',init=mx.init.Xavier())
`
`
fc2_weight = mx.symbol.Variable('fc2_wweight',init=

[2017-05-24 14:32] jmacglashan opened #6425 "concat argument dim->axis"
The concat operator takes the argument `dim` to specify along which axis to concat. How do you all feel about changing the argument name to `axis`? Almost every operator in mxnet uses the key-word name `axis` to specify this information and it's a little hard to remember that it's `dim` for concat.

[2017-05-24 14:39] patricianing opened #6426 "0.9.5 nnpack"
Does the 0.9.5 release has NNPACK installed by default? I tried to build MXNET without/with NNPCAK, but get similar performance as NNPACK installed (the faster one) reported http://mxnet.io/how_to/nnpack.html

[2017-05-24 14:57] jk314 commented on #6050
I ran into a similar problem. Check if you are running out of space on the disk. The checkpoint models are pretty large and if you are frequently check-pointing, you can easily run out of space. A single resnet-50 model can be as large as 96mb.

[2017-05-24 15:29] thirdwing commented on #3311
@Anppy @amitkb3

You can find a complete example using CNN in MXNet R from the link below:

https://github.com/Azure/Cortana-Intelligence-Gallery-Content/tree/master/Tutorials/Deep-Learning-for-Text-Classification-in-Azure/R

It includes the code for data processing and training.

[2017-05-24 15:29] #3311 closed

[2017-05-24 15:35] starimpact commented on #6005
I'm maintaining a version based on mxnet_v0.8.0:
https://github.com/starimpact/mxnet_v0.8.0

[2017-05-24 15:44] anijain2305 commented on #758
@qiaohaijun Can you please share the hard coded parameters which helped you get high accuracy?

[2017-05-24 15:47] anijain2305 commented on #4220
@nerddd Can you please share the batch size and lr parameters? I am also seeing low accuracy

[2017-05-24 16:38] chuckbasstan123 commented on #6405
@piiswrong
Thank you for the quick response.The only reduce function I think I used is `mx.sym.sum_axis` to do squeeze along the dimension with size 1. Otherwise the `mx.contrib.sym.ctc_loss`  maybe the reason, that I am not sure about.
But I don't understand why intermediate level training interface (`forward, backward, update`) could work but not the `mod.fit`.

Here is my architecture for the n

[2017-05-24 16:58] dmas-at-wiris commented on #6121
I found the same problem.  @sbodenstein or @xinq2016, can you provide more details on how to fix this?

[2017-05-24 17:31] piiswrong commented on #6426
we updated our default convolution and pooling ops recently. They are probably on par with nnpack now.

nnpack may still be faster on embedded devices

[2017-05-24 18:29] #6412 closed

[2017-05-24 19:46] piiswrong commented on #6424
b3_weight = mx.symbol.Variable('b3_weight',init=mx.init.Xavier())

This is bias, not weight, you can't init bias with Xavier. It needs to be zero or one

[2017-05-24 21:03] thirdwing commented on #4462
@lxn2 You are correct. `data` and `label` shouldn't be hard-coded.

[2017-05-24 22:03] neiledgard commented on #6010
same with resnet

[2017-05-25 00:35] luoyetx commented on #6371
How do you test the performance? Would you paste your code?

I think there's some trick to evaluate the time of forward and backward. Since `forward` and `backward` call only push the ops to engine and return immediately, and in `update_metric` function, it needs to get the output result from engine (mainly call `asnumpy()`), which means `update_metric` will wait `forward` and `backward` finishes.

[2017-05-25 00:38] starimpact commented on #6005
I just did a pull request.

[2017-05-25 01:02] chuckbasstan123 commented on #6405
@piiswrong
Hi, Eric.
I think I found the reason.
It is in the mx.module.base_module.fit line 486-487

[fit](https://github.com/dmlc/mxnet/blob/master/python/mxnet/module/base_module.py#L486-L487)

After I changed
[code]
to
[code]
Everything just works fine. I used `make_loss` to generate the loss.
I think it is due to
`make_loss` operation somehow needs some additional attention (it became a list?

[2017-05-25 01:14] ysh329 commented on #6050
@jk314  running out of space on the disk. Thanks!!! :+1:

[2017-05-25 01:14] #6050 closed

[2017-05-25 02:06] glingyan commented on #6386
latest in https://software.intel.com/en-us/performance-libraries
you could check mkl_version.h #define __INTEL_MKL_BUILD_DATE 20170127

[2017-05-25 02:12] zazzydistsgd commented on #6371
@luoyetx many thanks for your response. Based on the information you offered, I probably used a wrong way to measure time costs for `forward` and `backward`. I just measured the time cost for `forward_backward` here,
https://github.com/dmlc/mxnet/blob/master/python/mxnet/module/base_module.py#L190
https://github.com/dmlc/mxnet/blob/master/python/mxnet/module/base_module.py#L191
The time costs I go

[2017-05-25 02:30] yancz1989 commented on #6386
I have checked my MKL installation. with MKL_BUILD_DATE. But I haven’t found any libmklml_intel.so or other related library. Any advices?

[2017-05-25 02:31] yancz1989 commented on #6386
Or can you give me the location of dnnAlgorithmPoolingAvgIncludePadding definition?

[2017-05-25 02:33] glingyan commented on #6386
Current mxnet is enable for mklml small package, please check mkl_readme.md for details

From: yancz1989 [mailto:notifications@github.com]
Sent: Thursday, May 25, 2017 10:31 AM
To: dmlc/mxnet <mxnet@noreply.github.com>
Cc: Guo, Lingyan <lingyan.guo@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [dmlc/mxnet] Compile install MXNet using MKL (#6386)

Or can you give me the location of

[2017-05-25 02:40] yancz1989 commented on #6386
I know it, and follow your advice download mklml from https://github.com/dmlc/web-data/blob/master/mxnet/mklml-release/mklml_lnx_2017.0.2.20170209.tgz <https://github.com/dmlc/web-data/blob/master/mxnet/mklml-release/mklml_lnx_2017.0.2.20170209.tgz>. The error still exists. I wonder if there is any update version of this software?

[2017-05-25 03:56] eldercrow opened #6437 "Can I use autograd for custom op written with python?"
I've just found that mxnet supports autograd functionality with ndarrays, but I cannot find any example related to it. Specifically, I want to use autograd for backward function of my custom op layer. Is there any how-to's for that?

[2017-05-25 04:19] superclocks commented on #6254
actually, i want to know the network topology in sym.RNN. and i have a another question, how can i add Hierarchical Softmax activation function in mxnet, follow this instruction http://mxnet.io/how_to/new_op.html?highlight=customopprop ?

[2017-05-25 04:37] piiswrong commented on #6437
Its intended for mxnet's imperative interface (like pytorch), which will be released soonish.
see https://github.com/dmlc/mxnet/pull/5705

[2017-05-25 06:36] biycyr commented on #6424
It works! thanks for quick reply!

[2017-05-25 06:36] #6424 closed

[2017-05-25 07:10] R1ncy commented on #6324
solved
thank you all @piiswrong @reminisce :) TVT

[2017-05-25 07:10] #6324 closed

[2017-05-25 07:18] vsooda commented on #6323
Temporary solution: change the cmakelists.txt from:

[code]

to

[code]

It works in mac and ubuntu.

[2017-05-25 07:55] AnTruong opened #6439 "fit() got an unexpected keyword argument 'monitor'"
Hello, please take a look and help me with this problem

## Environment info
Operating System: windows 10

Compiler: I use built package for VC12

Package used Python

MXNet version: tried with 0.9.3, 0.9.5, 0.10.0

Or if installed from source: https://github.com/yajiedesign/mxnet/releases

Python version and distribution: python version 2.7

## Error Message:
python train_mnist.py --network mlp

[2017-05-25 09:31] SherlockLiao commented on #5835
@szha hello, I pip install mxnet-cu80, I met this problem, do u know how can I solve this? Thank u!

[2017-05-25 11:58] tianqiangxing commented on #3725
@dianyancao "Sorry for late reply,mxnet now have fix this,see example\image-classification\predict-cpp"
has this bug fixed? Using the lastest version, this bug still occured, and I had tried many times without any result. Could show me how to solve this problem,  thanks for your help.

[2017-05-25 12:02] tqx0808 commented on #3725
@dianyancao "Sorry for late reply,mxnet now have fix this,see example\image-classification\predict-cpp"
has this bug fixed? Using the lastest version, this bug still occured, and I had tried many times without any result. Could show me how to solve this problem, thanks for your help.

[2017-05-25 12:17] eldercrow commented on #6437
Thank, I thought it'd be great if I could simply call autograd in backward function when I implement a python op.

[2017-05-25 14:14] Daliben commented on #6399
any suggestions for solving this error please..

[2017-05-25 14:26] Daliben commented on #6399
@piiswrong  any suggestions for solving this error please

[2017-05-25 14:48] patricianing opened #6441 "convert_model.py fails to convert model based on resent_50"
protoc --version = libprotoc 3.3.0

Traceback (most recent call last):
  File "/scratch/nihao/repo/mxnet-0.9.5/tools/caffe_converter/convert_model.py", line 177, in <module>
    main()
  File "/scratch/nihao/repo/mxnet-0.9.5/tools/caffe_converter/convert_model.py", line 173, in main
    convert_model(args.prototxt, args.caffemodel, args.save_model_name)
  File "/scratch/nihao/repo/mxnet-0.9.5/tool

[2017-05-25 16:49] jmacglashan opened #6442 "Check if symbol requires top-gradient or not"
Is there a python symbol API to check whether a symbol requires a top gradient or not? If not, can we get one?

[2017-05-25 16:52] thirdwing commented on #3736
@CarlosUziel I am adding an R example for captcha recognition. https://github.com/dmlc/mxnet/pull/6443

Each image like below has 4 labels, and we trained a CNN over them.

![test](https://cloud.githubusercontent.com/assets/1547093/26460795/b6ed6b1e-412f-11e7-8cc5-61d3f56bb21e.png)

I hope this example helps.

[2017-05-25 16:54] thirdwing commented on #1122
@yib2

@CarlosUziel I am adding an R example for captcha recognition. https://github.com/dmlc/mxnet/pull/6443

Each image like below has 4 labels, and we trained a CNN over them.

![test](https://cloud.githubusercontent.com/assets/1547093/26460795/b6ed6b1e-412f-11e7-8cc5-61d3f56bb21e.png)

The `lst` file is like below:

[code]

I hope this example helps.

[2017-05-25 16:55] szha commented on #5835
@SherlockLiao hi, just to be sure could you run `pip install -U mxnet-cu80` to make sure it's the latest, and then test?

[2017-05-25 18:36] EvanzzzZ commented on #6392
Thanks, @ZihengJiang

One more question, why there're two implementation here?
Is the `mx.sym.relu` the new interface, and the `activation` one is going to be deprecated ?

[2017-05-25 19:48] realwecan commented on #6383
Hi @wangg12 just wanted to let you know I ran into the same issue and do you have any clue about what is actually the cause for this problem?

For me I was able to get rid of the error messages by re-installing a proper version of cudnn. You may want to make sure you have the correct/appropriate cudnn version.

[2017-05-25 20:16] mli opened #6446 "R.I.P. to Antti-Pekka Hynninen"
With great sadness, I inform you that Antti-Pekka @ap-hynninen died with his wife in a car accident on last Sunday.

Antti-Pekka joined us earlier this year. He made a great contribution to MXNet, especially on FP16 supports. He is one of the most talented engineers I have met. It's a great loss to us, his friends and his family. Please join us to memorize him on https://www.plumfund.com/memorial-

[2017-05-25 20:18] phunterlau commented on #6446
R.I.P.

[2017-05-25 20:18] ZihengJiang commented on #6446
R.I.P.

[2017-05-25 20:22] antinucleon commented on #6446
R.I.P

[2017-05-25 20:32] soumith commented on #6446
This is so sad to hear :(

it's incredibly sad to see someone who shared the same spirit, soul and thinking leave the world.

To AP's family - my deepest condolences!

[2017-05-25 20:36] pluskid commented on #6446
RIP

[2017-05-25 20:46] eric-haibin-lin commented on #6446
R.I.P.

[2017-05-25 20:51] terrychenism commented on #6446
R.I.P.

[2017-05-25 21:08] #2682 closed

[2017-05-25 21:47] EvanzzzZ commented on #6392
The `Kernel::launch` is not that clear about what each parameter is.
e.g. in the `elemwise_binary_op.h`
`{
    Kernel<op, xpu>::Launch(s, outputs[0].Size(),
      outputs[0].dptr<DType>(), inputs[0].dptr<DType>(), inputs[1].dptr<DType>());
  });`

It's not clear what inputs[0] and inputs[1] are here for developers.
It might be input_data, output_data, output_grad.
Using the enum type to declare wh

[2017-05-25 21:58] MartinTorres opened #6448 "mx.sym.SVMOutput breaks LR toy example"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: Ubuntu 16.04.2 LTS

Installed with pip according to [http://mxnet.io/get_started/install.html](http://mxnet.io/get_started/install.html)

## Error Message:
Please paste the full error message, including

[2017-05-25 22:00] thirdwing commented on #4574
This has been fixed. Feel free to reopen if necessary.

[2017-05-25 22:00] #4574 closed

[2017-05-25 22:00] thirdwing commented on #4545
This has been fixed. Feel free to reopen if necessary.

[2017-05-25 22:00] #4545 closed

[2017-05-25 22:02] thirdwing commented on #4710
This has been fixed. Feel free to reopen if necessary.

[2017-05-25 22:02] #4710 closed

[2017-05-25 22:03] bhavinthaker commented on #6446
Very sad to hear that. Our heartfelt condolences. R.I.P.

[2017-05-25 22:09] kevinthesun commented on #6446
R.I.P

[2017-05-25 22:45] sandeep-krishnamurthy commented on #6446
R.I.P

[2017-05-25 23:09] encodingwaddles opened #6450 "distributed training on multiple machines speed is slowing down instead of an expected increase"
Hi all,

I am trying to run distributed training on multiple machines (data parallelism) with mxnet using the VOC dataset. I have been successful in doing this on AWS machines (g2.2x large) whether it has been 1, 2 or 5 machines (given all the hyperparameters are kept the same e.g. batch size on each gpu) .

| Instance Type / GPU Card | Num of GPU| Speed (samples/sec) |
| ------------- | ---------

[2017-05-26 00:40] nswamy commented on #6446
R.I.P

[2017-05-26 00:40] #4838 closed

[2017-05-26 00:47] tornadomeet commented on #6446
R.I.P

[2017-05-26 01:01] taliesinb commented on #6191
@matteosal any news about this?

[2017-05-26 01:02] taliesinb commented on #6083
@piiswrong For the record, we have an internal solution to this, but of course we want our fork of MXNet to be as close to upstream as possible, so it would be good to figure something out. Can we describe our solution, or do you have a strong opinion about how to do this?

[2017-05-26 01:05] piiswrong commented on #6083
Yeah you are welcome to send a pr

Tali Beynon <notifications@github.com>于2017年5月25日 周四下午6:03写道：

[2017-05-26 01:57] sxjscience commented on #6446
R.I.P

[2017-05-26 02:12] SherlockLiao commented on #5835
@szha Thank u so much, it works! so happy!

[2017-05-26 02:15] zihaolucky commented on #6446
R.I.P.

[2017-05-26 02:17] glingyan commented on #6386
Please provide the whole crash stack
Yonng jin may help you on that

From: yancz1989 [mailto:notifications@github.com]
Sent: Thursday, May 25, 2017 10:41 AM
To: dmlc/mxnet <mxnet@noreply.github.com>
Cc: Guo, Lingyan <lingyan.guo@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [dmlc/mxnet] Compile install MXNet using MKL (#6386)

I know it, and follow your advice download mklml from h

[2017-05-26 03:12] gengyifeng commented on #6446
R.I.P

[2017-05-26 03:23] javelinjs commented on #6446
R.I.P

[2017-05-26 03:31] ysh329 commented on #5224
same problem. @piiswrong

[2017-05-26 03:34] ysh329 opened #6455 "finetune in Docker, Error: src/io/local_filesys.cc:154: Check failed: allow_null LocalFileSystem: fail to open ''"
[code]

[2017-05-26 05:15] JACKHAHA363 opened #6458 "linking error"
I am building MxNet from source. And it shows me this error

/usr/bin/ld: cannot find -ljvm
/usr/bin/ld: cannot find -lopencv_imgcodecs
/usr/bin/ld: skipping incompatible /usr/lib/libcuda.so when searching for -lcuda
collect2: error: ld returned 1 exit status
make: *** [lib/libmxnet.so] Error 1
make: *** Waiting for unfinished jobs....
/usr/bin/ld: cannot find -ljvm
/usr/bin/ld: cannot find -lopen

[2017-05-26 05:24] Ldpe2G commented on #6446
R.I.P

[2017-05-26 05:36] dsqx71 commented on #6446
R.I.P

[2017-05-26 05:44] piiswrong commented on #6450
which model are you training?

[2017-05-26 06:56] ysh329 commented on #6455
`cp` this `resnet-200-symbol.json` file as  anther name is okay.

[2017-05-26 06:56] #6455 closed

[2017-05-26 07:40] juilin commented on #6371
Can you show me the tricks to get the real time cost for forward_backward and update_metric?
=> Use profiler to see time cost of forward_backward http://mxnet.io/how_to/perf.html#profiler; update_metric should not take too much time. However, it needs to wait for the result ready

do you have effective way(s) to remove the update_metric for train-accuracy and only implement it on validation data?

[2017-05-26 07:54] yancz1989 commented on #6386
I upload my config.mk file
[Uploading config.mk.txt…](config.mk file)
during compilation, the output and the error showed are uploaded
[out.log.txt](https://github.com/dmlc/mxnet/files/1031179/out.log.txt)

[Uploading out.log.txt…](out.log.txt)

MKL info
#define __INTEL_MKL_BUILD_DATE 20170127

#define __INTEL_MKL__ 2017
#define __INTEL_MKL_MINOR__ 0
#define __INTEL_MKL_UPDATE__ 2

#define INTEL_M

[2017-05-26 07:55] yancz1989 commented on #6386
[config.mk.txt](https://github.com/dmlc/mxnet/files/1031180/config.mk.txt)

[2017-05-26 07:55] yancz1989 commented on #6386
@glingyan

[2017-05-26 13:06] wenxuanxie opened #6460 "a bug in 'tools/im2rec.py' while argument 'pass-through' is turned on"
I have found a bug in 'tools/im2rec.py' while argument 'pass-through' is turned on.

See Line 105 of 'tools/im2rec.py':

`with open(fullpath) as fin:`

'fullpath' represents the path of an image, which is a binary file. Reading it with the default mode might result in a truncated string.

The workaround is to open the image file with binary mode:

`with open(fullpath, 'rb') as fin:`

And then rein

[2017-05-26 13:46] al-rigazzi commented on #6446
R.I.P.

[2017-05-26 13:49] zackchase commented on #6446
I regret that I never got to know him. RIP

On May 25, 2017 1:16 PM, "Mu Li" <notifications@github.com> wrote:

With great sadness, I inform you that Antti-Pekka @ap-hynninen
<https://github.com/ap-hynninen> died with his wife in a car accident on
last Sunday.

Antti-Pekka joined us earlier this year. He made a great contribution to
MXNet, especially on FP16 supports. He is one of the most talente

[2017-05-26 14:46] huangguanMayday opened #6461 "[mxnet] . no get_mnist() in test_utils"
import mxnet as mx
mnist = mx.test_utils.get_mnist()

AttributeError: 'module' object has no attribute 'get_mnist'

[2017-05-26 15:53] encodingwaddles commented on #6450
@piiswrong I am training with ssd model -  [commit](https://github.com/zhreshold/mxnet-ssd/commit/67ba1c9a8cb0508b018e958fd540f1e99423d0e3)

[2017-05-26 16:38] ptrendx commented on #6396
@nicklhy As I mentioned before, we did not do any inference tests ourselves, so I don't have a good intuition whether those results look fine, but FWIW, I tested your script on P100 and got this for ResNet50:

| Batch size  | speed |
| --------------- | -------- |
| 1  | 147  |
| 2  | 248  |
| 4 | 388 |
| 8 | 506 |
| 16 | 589 |
| 32 | 661 |
| 64 | 696 |
| 128 | 709 |

So I don't really see the pro

[2017-05-26 17:04] eric-haibin-lin commented on #6399
@Daliben did you try the im2rec binary? Does it work for your case?
You can follow the tutorial here: http://mxnet.io/how_to/recordio.html?highlight=im2rec

[2017-05-26 17:50] pracheer commented on #6461
Hi @huangguanMayday
This has been fixed by this [this](https://github.com/dmlc/mxnet/pull/6389) and [this](https://github.com/dmlc/mxnet/pull/6436). Let us know if this still doesn't work.

[2017-05-26 17:56] ZihengJiang commented on #6392
In some case, we would like a separate `relu` operator, although we do not have the plan to deprecate `Activation` operator.

[2017-05-26 18:53] patricianing opened #6464 "where to find the synset of the published model"
@jychoi84
Could  you please point where to find the synsets of the published model LocationNet on
http://mxnet.io/model_zoo/

Thanks!

[2017-05-26 20:20] gurumurthys commented on #6157
Does this work?

https://github.com/dmlc/mxnet/blob/84f1f2e4346ea90b0d9f77405631b688b76ad98f/example/numpy-ops/weighted_logistic_regression.py

[2017-05-26 20:57] jmerkow opened #6466 "Incorrect loss values with SVMOutput/Hinge loss"
I am testing hinge loss (SVMOutput) and it appears to be producing negative loss values which should not be possible given it has the form `max(0, --)`. Is MXNet using an alternative calculation for this loss function that allows negative values?  Perhaps this max occurs after `eval_metric` updates?

Here is some code, references [gist](https://gist.github.com/jmerkow/1669eed6c7d74bee13db402df495f

[2017-05-26 22:12] yuconglin commented on #945
@piiswrong did you mean issue #940, I cannot find it.

[2017-05-26 22:13] Luo-Liang opened #6467 "Unsynchronized access to comm_buf_?"
https://github.com/dmlc/mxnet/blob/02671ebee036c62eefd09ce0dea0c46213f0bf67/src/kvstore/kvstore_dist.h#L99
https://github.com/dmlc/mxnet/blob/02671ebee036c62eefd09ce0dea0c46213f0bf67/src/kvstore/kvstore_dist.h#L206

Looks like in these two places the access to comm_buf_ is unsynchronized? This can happen if push or pull is called twice with different keys if they are not present?

Is this a proble

[2017-05-26 22:16] yuconglin commented on #945
@wangg12 did you figure out? Thanks a lot in advance.

[2017-05-26 22:20] Luo-Liang commented on #6467
or maybe calling push and pull is run by a single thread

[2017-05-26 22:24] tqchen commented on #6467
comm_buf is NDArray, which means all the operations on top of them are scheduled, as opposed to executed immediately, if pull or pull called twice with different keys, they will be serialized properly

[2017-05-26 22:59] Luo-Liang commented on #6467
but comm_buf is unordered_map, before accessing the ndarray, accessing unordered_map (potentially adding a key) without synchronization is a race. The engine only kicks in after the comm_buf_ is accessed.

This is only safe is the pull() and push() methods themselves are called serially. Is that true?

comm_buf_ = {}
T1:                            T2:
push(0)                 push(1)
//race

comm_b

[2017-05-26 23:07] jychoi84 commented on #6464
@patricianing By 'synsets', do you mean the mapping from geo-coordinate (latitude, longitude) to geographical cell?
For instance, the mapping such as (lat:37.12, lon:122.23) --> (cell#12)?

[2017-05-26 23:25] ykim362 commented on #6386
Hi @yancz1989
Could you do this?

1. Download mklml into any of your directory. (wget https://github.com/dmlc/web-data/raw/master/mxnet/mklml-release/mklml_lnx_2017.0.2.20170209.tgz)
2. Extract the file, then you will have a directory named ./mklml_lnx_2017.0.2.20170209
3. export USE_MKLML=1;export MKLROOT={the directory you extracted the mklml)
4. Copy 'libmklml_gnu.so' and 'libmklml_intel.so' in

[2017-05-27 01:52] nicklhy commented on #6396
@ptrendx , Thanks for your help. My testing environment is:
* GPU: Titan X (Pascal)
* CPU: Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz
* OS: Ubuntu 16.04 LTS
* Nvidia Driver: 375.26
* CUDA: 8.0.61
* CUDNN: 5.1.5
* MXNet GitHub hash: [5a7aa20](https://github.com/dmlc/mxnet/commit/5efd91a71f36fea483e882b0358c8d46b5a7aa20)

And my ResNet50's results are:

| Batch size | Speed |
| ------------- |:------

[2017-05-27 02:06] piiswrong commented on #6460
would you like to submit a fix?

[2017-05-27 02:08] piiswrong commented on #6450
multi gpu/machine ssd training doesn't scale very well

[2017-05-27 02:09] tobechao commented on #6297
I have encountered the same problem, may I ask you this solution?

[2017-05-27 02:43] wenxuanxie commented on #6460
@piiswrong Pull request submitted. Thanks!

[2017-05-27 02:45] yancz1989 commented on #6386
Hi @ykim362
I finished the compilation. One more variable should be set in config.mk is the USE_BLAS = mkl.

But, when I run fcn_xs example, I get the following error from gdb.

Thread 76 "python" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fff1a3fb300 (LWP 30958)]
0x00007fff7a953c29 in mkl_vsl_sub_kernel_l9_sBRngMCG31M1 ()
   from /usr/local/lib/python2.7/dist-packages/mx

[2017-05-27 02:54] ykim362 commented on #6386
How could you run it?
When I downloaded experiment data, its directory steucture was different from one the script expected. So, I got an error that there is no train.lst file.

[2017-05-27 03:23] starimpact commented on #6005
the problem wanted to solve:
assume there is a very big weight parameter weight_Z, like 100Wx128 dims. we can only update a part of it each time, such as 4Wx128.
I have implemented in the local calculation. but It seems to change a lot code if I want to do it in a distribution calculation.It is feasible, but just a little not easy to do it.

[2017-05-27 03:32] Godricly commented on #6446
R.I.P.

[2017-05-27 04:08] 3togo commented on #2059
Good discussion but the suggestions are not very obvious to readers. Anyhow, in my case, I managed to solve the problem by issuing the following commands.

make CFLAGS="/usr/include/opencv2" CC="gcc-4.9" CXX="g++-4.9" -j 4 USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_USE_CUDNN=1

Right now I am using ubuntu zesty and by default it installed opencv2. As mentioned by Xiaoming, the cflags path was m

[2017-05-27 04:29] liumusicforever opened #6474 "Fine-tune the mxnet ssd get mismatchfrom.shape() error"
Hi,
1. I created my own .rec  with one class dataset (people)  ,
(which reference to train.rec (created from prepare_dataset.py))
2. I use this .rec to fine-tune with pre-trained model (vgg16_ssd_300_voc0712_trainval) , and I pass the following command :
python train.py --gpus 0,1,2 --batch-size 100 --train-path ~/path/to/my/own/train.rec --val-path ~/path/to/my/own/val.rec --num-example 10000 --e

[2017-05-27 04:37] piiswrong commented on #6418
@Soonhwan-Kwon

[2017-05-27 05:13] Soonhwan-Kwon commented on #6418
train only on clean-360 can be bad. I'm training on the whole(teain+teain_360+train_5000) dataset and got results cer 0.362836,0.207333,0.173531,0.156486 on epoch 0,1,2,3 for the test-clean and for the train (sample every 100 batch)0.5152, 0.2408,0.1883,0.1622.And it is slow for now because it doesn't use rnn fused cell or variable length approach, but we are working on for the improvement.

[2017-05-27 05:26] Soonhwan-Kwon commented on #6418
![image](https://cloud.githubusercontent.com/assets/7395166/26518285/7d5f17fc-42e8-11e7-9c39-62b095d3152d.png)

[2017-05-27 05:29] Soonhwan-Kwon commented on #6418
And there is deepspeech.cfg for real use and default.cfg is for just for the example.

[2017-05-27 06:14] #4721 closed

[2017-05-27 07:09] nicklhy commented on #6396
@ptrendx , Just did a test in a K80 machine. The speed results are all stable like your results. I think my problem is caused by the new titan x gpu or its power supply.

Thank you for your help.

[2017-05-27 07:17] great-thoughts opened #6475 "Error in .infer_shape for deconvolution when the input is 5D batch-num_filter-z-y-x"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:Mac

Compiler:

Package used (Python/R/Scala/Julia): python

MXNet version:0.10

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are using python package, please provide

P

[2017-05-27 07:28] great-thoughts commented on #6475
3D conv is supported for cudnn. If I set context to gpu will the cudnn version of the function be used?

[2017-05-27 09:27] KeyKy commented on #6121
@sbodenstein I delete all ctc_include, ctc_loss.cc, ctc_loss.cu and ctc_loss-inl.h below  ~/mxnet/src/operator/contrib but i still get the error message:
[code]

[2017-05-27 09:32] JACKHAHA363 opened #6476 "How to use simple_bind for multiple GPUS"
The following code gives this error.
devs = [mx.gpu(0), mx.gpu(1)]
exe = net.simple_bind(ctx=devs, data=data_shape)

it gives error:
F0527 05:31:35.191905 23992 base.h:273] Check failed: r == str.length()-1 (6 vs. 7)

[2017-05-27 10:36] chicn commented on #6419
Hi @lx75249. Thank you for answering and giving me the advice for how to use `Symbol::Load`.
I appreciate it and keep using MxNet!!

[2017-05-27 10:36] chicn commented on #6419
This issue was actually solved and the point of this was just a my mistake of giving the path of model files. Sorry for make it confusing.

[2017-05-27 10:37] #6419 closed

[2017-05-27 10:42] sbodenstein commented on #6121
@KeyKy: did you do `make clean`, and then `make`? Also: I should have fix for this by the end of the weekend.

[2017-05-27 15:39] matteosal commented on #6191
No news, but I didn't forget about it.

[2017-05-27 17:00] great-thoughts commented on #6475
Now I am running the code on Deep Learning AMI Ubuntu Version. How can I enable cudann?

[2017-05-27 22:17] alues commented on #6189
@qclu Can u still work it correct at mxnet 5.28 latest version?  it just didn't work

[2017-05-28 03:29] chao1224 commented on #6300
Have you tried `pred = out.get_outputs()`? This can give you the prediction for last forward() operation, and you can customize your loss function per data point.

[2017-05-28 04:10] ysh329 opened #6479 "What's the differences among ImageNet, ImageNet-11k and ImageNet-11k-365-ch?"
I didn't find any intro about `ImageNet, ImageNet-11k and ImageNet-11k-365-ch` in imagenet website.

I saw there're 3 folders in [Index of /models](http://data.dmlc.ml/models/). Have anyone can introduce the differences among these folders? Thanks a lot!

[2017-05-28 04:24] khalida commented on #2937
I have run into this issue installing mxnet on Ubuntu whilst trying to follow the instructions [here](http://mxnet.io/get_started/ubuntu_setup.html#quick-installation).

As far as I can tell (and I'm far from an expert) this is to do with an incorrect installation of openCV. To get it working again I needed to:

1. Install openCV following the instructions [here](http://docs.opencv.org/2.4/doc/tut

[2017-05-28 05:35] chao1224 opened #6480 "Gradient Accumulation Question"
I'm working on how MXNet accumulates gradient within one batch. By gradient accumulation, I mean for one batch update, the gradients for all data samples in this batch are accumulated by sum or mean. This should be done during `backward()`.

As I follow the code, the `GraphExecutor::Backward` will run operations through an engine. And to be more specific, in function `GraphExecutor::RunOps`, I fou

[2017-05-28 05:37] piiswrong commented on #6480
Done by this function: https://github.com/dmlc/mxnet/blob/master/src/executor/graph_executor.cc#L90

[2017-05-28 06:21] dianyancao commented on #3725
@tqx0808 try vs2015 with proper cuda version 8.0.44

[2017-05-28 06:44] yuconglin opened #6481 "how to use part of a label vector (split a label vector in network building)"
Hi Everyone:
    I came across a situation:
    Supposing that I have a single label vector as [ L1, L2, L3, N1, N2, N3].
    My network has two branches, one branch uses [L1, L2, L3] as labels and the other uses[N1, N2, N3].
    I knew I may access label as:  " label = mx.sym.Variable('label_name')"
    but how should I access different parts of the label vector or split the label vector, when I

[2017-05-28 06:47] yuconglin commented on #6481
should I use mx.symbol.split()?

[2017-05-28 10:01] Soonhwan-Kwon commented on #6446
R.I.P.

[2017-05-28 18:30] patricianing commented on #6464
@jychoi84 I mean the labels of the model. The model predicts a location of an image, I would like t find all labels of the locations. Thanks!

[2017-05-28 19:06] chao1224 commented on #6480
@piiswrong Exactly what I'm looking for, thanks.

[2017-05-28 21:08] yuconglin commented on #6481
just use slice_axis and reshape

[2017-05-28 21:08] #6481 closed

[2017-05-28 21:12] KevinWangTHU commented on #6080
Having the same issue here with opencv 3.1. Go back to opencv 2.4 then everything is fine. But I am not sure if this is the problem. I will try to figure it out.

[2017-05-28 21:14] kimtang commented on #1740
I am able to resolve it by putting these dlls into the system PATH

libgcc_s_seh-1.dll
libgfortran-3.dll
libquadmath-0.dll

OpenBlas depends on it but it is not obvious.

Need to check the dependencies using dumpbin.exe

Kim

[2017-05-28 22:29] jychoi84 commented on #6464
@patricianing
Oh right. We should've linked this tutorial that includes how to use the labels of the model (grids.txt).
https://github.com/multimedia-berkeley/tutorials/blob/master/predict_geolocation.ipynb

[2017-05-29 01:28] itijyou commented on #5756
@piiswrong What if I want to assign something into the sliced array? For example,
a[:, 0] = 2

[2017-05-29 01:39] yzou2 commented on #6441
The same problem here.

[2017-05-29 01:41] yzou2 commented on #6441
protoc --version = libprotoc 2.6.1

[2017-05-29 01:44] kindruth commented on #6446
R.I.P.

[2017-05-29 05:40] chao1224 commented on #6480
@piiswrong HI Junyuan, just have a follow up problem. I think the aggregation function is defined [here](https://github.com/dmlc/mxnet/blob/1974be4a345b4b048826652a63fe74960730736c/src/operator/tensor/elemwise_sum.cc#L21), do you know if there are some ways I can output the gradient of each data point in one batch online? Thank you in advance.

[2017-05-29 06:13] thatindiandude commented on #6446
Rest in peace

On May 28, 2017 6:44 PM, "Sam Oh" <notifications@github.com> wrote:

[2017-05-29 11:16] luoyetx commented on #6464
@patricianing  http://data.dmlc.ml/models/imagenet/synset.txt

[2017-05-29 12:03] ysh329 opened #6483 "Finetune error according tutorial: ValueError: Cannot find output that matches name "flatten0_output""
I want to finetune pretrained `inception-BN, squeezeNet, NIN, caffenet, vgg16, vgg19` models from model zoo, which happened this `ValueError`.

It's okay for finetuning `resnet, resneXt` models.

@kevinthesun @zackchase @sunilmallya @aileli :laughing:
THanks a lot!

[2017-05-29 14:15] ysh329 opened #6484 "Why APIs are different between mxnet.module.BaseModule.fit and mxnet.model.FeedForward.fit?"
Why APIs are different between `mxnet.module.BaseModule.fit` and `mxnet.model.FeedForward.fit`?

I'm confused about these similar `fit`. Besides, I found many a different input parameters, such as
`mxnet.model.FeedForward.fit` supports `work_load_list` but `mxnet.module.BaseModule.fit` doesn't.

I'm recently finetuning a pretrained model according to official guide. However, guide uses `mxnet.modu

[2017-05-29 14:55] jmacglashan commented on #6476
I don't think you can bind on multiple devices? Maybe I'm wrong, but binding an executor from a symbol is the lowest-level execution machinery which asks to allocate memory on a specific device, in which case it wouldn't make sense to bind on multiple devices (that would mean you create multiple executors).

If you want to spread training out over multiple devices, you should use a higher-level AP

[2017-05-29 15:46] chao1224 commented on #6480
I am able to output the exact gradients at each backward operator like in [softmax output](https://github.com/dmlc/mxnet/blob/master/src/operator/softmax_output-inl.h#L108) and [cnn v1](https://github.com/dmlc/mxnet/blob/master/src/operator/convolution_v1-inl.h#L180).

But I was hoping there are higher level functions I can output the gradients, like while we are doing element-wise-sum in Aggregat

[2017-05-29 17:32] jmerkow commented on #6466
I have been digging into this a bit. Here is what's going on as far as I can tell, please correct me if I am wrong.
`'loss'` eval metric calculates the [sum of the forward pass](https://github.com/dmlc/mxnet/blob/master/python/mxnet/metric.py#L922), however, the SVMOutput symbol doesn't actually calculate loss, instead, [it passes its input on](https://github.com/dmlc/mxnet/blob/master/src/operato

[2017-05-29 17:50] eric-haibin-lin commented on #6309
@lx75249 one more edge case to check:
[code]
 `kLimited_workspace` should be `kLimitedWorkspace`

[2017-05-29 20:26] jychoi84 commented on #6464
@luoyetx LocationNet model is not trained with ImageNet :)
I added the link to the label file in my response above.

[2017-05-29 20:34] alues opened #6485 "some doubt of simple_bind"
**

    Model_Net_Load, arg_params, aux_params = mx.model.load_checkpoint(prefix="Model_Saved", epoch=1)
    Model_Net = Config.Get_OCR_Net()
    data_shape = [("data", (Model_Batch_Size, 3, 50, 130))]
    input_shapes = dict(data_shape)
    executor_Load = Model_Net_Load.simple_bind(ctx=mx.gpu(), **input_shapes)
    executor = Model_Net.simple_bind(ctx=mx.gpu(), **input_shapes)
**

what's the dif

[2017-05-30 01:57] MarkWh1te commented on #6446
R.I.P.

[2017-05-30 02:19] wangg12 commented on #6383
@realwecan I've tried cudnn 5.1 and 6.0, not work.

[2017-05-30 06:59] #6476 closed

[2017-05-30 10:25] alues commented on #6485
@piiswrong  plz

[2017-05-30 13:41] ysh329 opened #6487 "Have any data augmentation guide or examples?"
Confused by docs
Thanks a lot!

[2017-05-30 15:58] ashwin-cognitiv opened #6490 "BatchNorm and Dropout error"
## Environment info
Operating System: macOS

Package used (Python/R/Scala/Julia): Python

MXNet version: 0.9.5

Python version and distribution: Python 3.6

## Error Message:
When I pass in the symbol into the Batch norm and Dropout functions without explicitly saying data =, I get this error. If I explicitly say data =, I get a data argument not recognized error.
Error:
`Traceback (most recent ca

[2017-05-30 16:27] sandeep-krishnamurthy commented on #362
@thirdwing - Is this implemented? Can we close this issue?

[2017-05-30 16:51] sandeep-krishnamurthy commented on #1115
https://github.com/dmlc/mxnet/blob/master/example/image-classification/train_mnist.py works fine. All issues are fixed. This issue can be closed - @piiswrong

[2017-05-30 16:54] patricianing commented on #6464
@jychoi84 Thanks a lot! So it is a different model from PlaNet? Do you know how to map the result vector (the probability of falling into each S2 cell) to the text info like city/country name of the corresponding location?

[2017-05-30 17:09] #1122 closed

[2017-05-30 17:09] #3736 closed

[2017-05-30 17:11] sandeep-krishnamurthy commented on #413
@weijianwen / @pluskid - Do you still see this issue?
Can we resolve this issue?

[2017-05-30 17:42] sandeep-krishnamurthy commented on #583
Conv3D is fully supported now - https://github.com/dmlc/mxnet/issues/747

@piiswrong  - Can we close this issue?

[2017-05-30 18:05] sandeep-krishnamurthy commented on #1910
I think this issue does not persist anymore. Please reopen this issue if you are still seeing OOM issue.

@piiswrong

[2017-05-30 19:41] topepo commented on #362
I don't think so (at least as of Apr 14).

What I was requesting was to be able to save the fitted model object (in its native class) so that it can be re-used in future sessions. A workflow like:
[code]

Having an export function doesn't really solve that problem. Maybe an intermediate step of
[code]
prior to saving would be a solution.

[2017-05-30 20:11] sandeep-krishnamurthy commented on #1069
@piiswrong - I think this is fixed - https://github.com/dmlc/mxnet/blob/master/src/operator/softmax_output-inl.h#L257
If yes, can you please close this issue?
If not, can you add some more details on the fix?

[2017-05-30 20:22] sandeep-krishnamurthy commented on #1097
I couldn't reproduce this issue. Maybe transient? @antinucleon @piiswrong - Is this issue fixed?

[2017-05-30 22:09] thirdwing commented on #362
@topepo I have added two helper functions. The network symbol and parameters will be saved using `saveRDS`.

I restart the R session after saving, so the external pointer won't work. Can you give some advice on this?

[code]

[2017-05-30 22:17] patricianing opened #6492 "amalgamation fails to build"
In mxnet-0.10.0, under amalgamation, when type make, I see the following error:

mxnet_predict-all.cc:35701:19: error: cannot convert ‘const dim_t* {aka const long int*}’ to ‘__gnu_cxx::__alloc_traits<std::allocator<const unsigned int*> >::value_type {aka const unsigned int*}’ in assignment
       data->at(i) = shapes[i].data();
                   ^

mxnet_predict-all.cc:51537:15: error: cannot co

[2017-05-30 22:23] indhub opened #6493 "Tutorials that need improvement"
Here is the list of tutorials that were removed from the website for not meeting the quality bar. These tutorials should be improved, reviewed and committed.

- [How do I work with MXNet within a Matlab environment?](https://github.com/dmlc/mxnet/tree/master/matlab)
- [Can I run MXNet in a browser using JavaScript?](https://github.com/dmlc/mxnet.js/)
- [Object Detection using Faster R-CNN](https:/

[2017-05-30 22:30] thirdwing commented on #6493
@indhub Can you give me more information on the **quality bar**?

Thank you!

[2017-05-30 22:35] ashwin-cognitiv commented on #6490
@piiswrong Any idea what I'm doing wrong? I don't understand where the error is coming from, because the for loop runs for the amount of hidden layers that I have.

[2017-05-30 23:46] piiswrong commented on #6493
I suggest we start with Faster-RCNN and SSD. They are quite important

[2017-05-30 23:49] piiswrong commented on #6492
@ZihengJiang

[2017-05-31 00:24] data-compute-geek opened #6495 "prediction size not matching"
## Environment info
Operating System: Deep Learning AMI for Amazon Linux
Package used (Python):
MXNet version: 0.9.5

I running the rnn example, mxnet/example/rnn/lstm_bucketing.py. After the model training, I use the following command to make predictions on the validation data.

<NDArray 95040x10000 @cpu(0)>

The size of the prediction, 95040, does not seem to match the data_val which is 98940

9

[2017-05-31 00:40] yuruofeifei commented on #6466
Hi @jmerkow,

As long as the backward derivation is correct, we don't need loss in forward pass.

But the current way that mxnet use to calculate loss are lack of some info (like margin defined in SVM layer), which is inconvenient, I think it would be better to calculate loss in forward pass as well.

I have created a pr for hinge loss #6496, negative loss does not make sense, you can use by setti

[2017-05-31 00:58] piiswrong commented on #6495
It got rounded to evenly divide batch_size.
predicts[:98940] would give you the real predictions

[2017-05-31 00:59] piiswrong commented on #6487
what kind of data?
which piece of doc is confusing?

[2017-05-31 01:04] weijianwen commented on #413
@sandeep-krishnamurthy I haven't tried building MXNet with ICC for a long time since GCC gets fairly good performance already. If this it persists on latest ICC and MXNet and becomes an bottleneck for your work, you can reopen this issue and add more description.

[2017-05-31 01:06] thirdwing commented on #3625
@rflai I just changed two lines of your code:
[code]
And the results:
[code]

I think this is your expected results.

I am closing this now. Feel free to reopen.

[2017-05-31 01:06] #3625 closed

[2017-05-31 01:49] ysh329 commented on #6487
@piiswrong Excuse me, I'm new to make data augmentation. :sob:

## Error log
Error log is below:

[code]

## Code Piece
[code]
Besides, I'm not clearly about this params.
*  Is using this `mx.io.ImageRecordIter` API to make augmentation? I found other APIs: `mx.io.ImageRecordIter_v1` and `#mxnet.image.ImageIter.augmentation_transform`, what're the differences, What's the recommended data augmentat

[2017-05-31 02:34] superclocks opened #6497 "how to use huffman tree softmax in mxnet"
hi @phunterlau i want to use huffman softmax in mxnet to speed up lstm training, just like huffman softmax used in word2vec(ref:http://www.trevorsimonton.com/blog/2016/12/15/huffman-tree-in-word2vec.html#effword, http://www.cnblogs.com/peghoty/p/3857839.html). But i don not know how to  build network graphs,  because i think huffman softmax network graph should have ability to  train sparse data.

[2017-05-31 03:05] xinq2016 commented on #6418
@Soonhwan-Kwon , @piiswrong
Many thanks. I will try it again.

[2017-05-31 05:23] #6490 closed

[2017-05-31 05:43] starimpact commented on #6421
I have a new more general idea to solve the part of big weight update problem, that's using compress algorithm to compress the transfer data in the ```slicer_``` of worker's ```Send```.

[2017-05-31 06:42] ayushgoel1610 opened #6500 "Build fails for Mxnet 0.10.0"
Been trying to build Mxnet using Jenkins CI.

Here is the stack trace of the bug

[code]

[2017-05-31 07:22] tobechao commented on #6121
@KeyKy sbodenstein is right，It works now，thank you

[2017-05-31 07:32] xinq2016 opened #6504 "Build fails for Mxnet 0.10.0 in warp-ctc plugin"
## Environment info
Operating System: Ubuntu14.04

Compiler:

Package used (Python/R/Scala/Julia): Python

MXNet version: 0.10.0

Or if installed from source: git clone https://github.com/dmlc/mxnet.git ~/mxnet --recursive

## Error Message:

In file included from plugin/warpctc/warpctc.cc:8:0:
plugin/warpctc/./warpctc-inl.h: In member function ‘virtual void mxnet::op::WarpCTCOp<xpu>::Backward(con

[2017-05-31 09:39] BenLag2906 commented on #4720
Hi,
I have the same problem.

"
C:\SSD\mxnet-ssd.cpp\build\vc14\Release>ssd person.jpg --gpu=-1 -m ./deploy_ssd_300
[09:26:57] C:\MXNET\mxnet\mxnet\dmlc-core\include\dmlc/logging.h:304: [09:26:57] C:\MXNET\mxnet\mxnet\nnvm\src\core\op.cc:55: Check failed: op != nullptr Operator Scale is not registered
"
where can I found the correct model ? drop box is not available anymore.

Thanks for your advis

[2017-05-31 09:52] maxenceliu opened #6505 "L2Normalization errors when use channel Mode"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:
OSX 10.12
Compiler:
gcc
Package used (Python/R/Scala/Julia):
Python
MXNet version:
0.9.5
Or if installed from source:
yes
MXNet commit hash (`git rev-parse HEAD`):
f8840029ea10fae37f5cdf6c8cc8802d0faa02c

[2017-05-31 10:04] maxenceliu commented on #6505
you can simply compare the result from following two expression:
a=np.arange(48).reshape(1,3,4,4)
ret1 = mx.nd.L2Normalization(mx.nd.array(a),mode="channel").asnumpy()
ret2 = a[:,0,:,:]/np.sqrt(np.sum(a[:,0,:,:]**2))

[2017-05-31 11:57] cainiao2hao opened #6506 "Is mxnet support distribute training on two machine, one has just one gpu and another has two gpus ?"
In the example, I can pass --gpus 0 for both machines. Can I pass --gpus  0 to one machine, and --gpus 0,1 to another?

[2017-05-31 12:02] cainiao2hao commented on #6506
https://github.com/dmlc/mxnet/issues/606

[2017-05-31 12:02] #6506 closed

[2017-05-31 12:20] vosey opened #6507 "Help, how to convert params files"
I trained a model with mxnet v0.7, now I want to upgrade mxnet to v0.10. How can I use the old *.params and sysbol.json files in the new version?  Is there a way to convert them ? Or I must train it again using the new version of mxnet?

[2017-05-31 13:35] wanderingpj opened #6508 "A question about key-value."
How does each key-value pair correspond to the weights in the network? One pair corresponds to the weights of a layer or something else?

[2017-05-31 14:59] #6508 closed

[2017-05-31 15:41] jmerkow commented on #6466
Thank you @yuruofeifei.

So I'm understanding correctly, the forward out of the terminal layer is not used at all? I.e. If I set the output to be random numbers (one for each item in the batch), as long as the backward is correct it does not matter?
The convention with MXNet is to calculate the loss value simultaneously with gradient in backward?

[2017-05-31 16:07] fighting-liu commented on #6361
The same problem occurs to me!

[2017-05-31 16:40] thirdwing commented on #3373
@rflai I think the issue is the same with https://github.com/dmlc/mxnet/issues/3625

Please try to set the labels from 0, not 1.

Feel free to reopen if necessary.

[2017-05-31 16:40] #3373 closed

[2017-05-31 16:42] #3152 closed

[2017-05-31 17:10] piiswrong commented on #6504
ctc has been integrated into main package. See

Meanwhile @ZihengJiang @sbodenstein lets fix the plugin

[2017-05-31 17:12] piiswrong commented on #6500
@ZihengJiang

[2017-05-31 17:13] piiswrong commented on #6500
You are using latest master, which is 0.10.1 and going through refactors.
Please checkout stable release from 0.10.0 tag

[2017-05-31 18:20] EvanzzzZ opened #6512 "Benchmarking module in MXNet"
Thinking if it make sense to have a benchmarking module in mxnet.

Even though there are many examples in the repo that can be used for benchmarking, it will be more convenient to have a module in mxnet that packaging all the common applications together. Most of the popular applications have dominant datasets for benchmarking. All the user need to do is giving his designed model or symbol and set

[2017-05-31 19:23] cells2numbers opened #6514 "Install of the pre-built binary R package fails"
Install of the pre-built binary R package using RStudio fails with 404 error file not found

[code]

## Environment info
Operating System:
System Version: macOS 10.12.5 (16F73)
Kernel Version: Darwin 16.6.0

Package used (Python/R/Scala/Julia):
R / RStudio

MXNet version:
0.10.1

R `sessionInfo()`:

[code]

[2017-05-31 19:36] yuruofeifei commented on #6466
Hi @jmerkow
SVM is a linear classifier with form WX + b and +1, -1 classification.
From the tutorial, there is a fully connect layer before svm layer, in current mxnet implementation, the output just forward the previous fully connect layer output(in the code F Identity). Maybe in other implementation or framework, the svm layer may store W, b and do the affine transform itself.

From what I obser

[2017-05-31 20:18] ashwin-cognitiv opened #6516 "saving weights"
I'm trying to save the weights in each epoch + batch, so that I can view them. I'm guessing that the best way to do this is to make a batch callback function.
How do you make a custom callback function? For instance, I want to make a batch callback function and save the weights for each batch as a different file format than .params, but write it to one file.

[2017-05-31 20:29] data-compute-geek commented on #6495
The dimension of predicts is 95040 which is smaller than 98940. Statement predicts[:98940] would give an index out of range error.

[2017-05-31 21:26] patricianing opened #6518 "amalgamation, backtrace and backtrace_symbols not declared in scope"
Have anyone seen the following issues? Is there an easy way to fix them? Thanks!

mxnet_predict-all.cc:646:50: error: ‘backtrace’ was not declared in this scope
     int nframes = backtrace(stack, MAX_STACK_SIZE);
                                                  ^
mxnet_predict-all.cc:648:51: error: ‘backtrace_symbols’ was not declared in this scope
     char **msgs = backtrace_symbols(stack, nfr

[2017-05-31 21:34] thirdwing commented on #6514
Sorry that pkg for R 3.3 hasn't been uploaded.

I will upload soon.

[2017-05-31 22:24] piiswrong commented on #6083
@taliesinb @sbodenstein Any updates?

[2017-05-31 23:03] ZihengJiang commented on #6504
Should be fixed by https://github.com/dmlc/mxnet/pull/6511

[2017-06-01 00:36] hondaathma opened #6522 "Setting lr_multiplier for convolution layer"
Hi,
I have trouble setting lr_multiplier and decay_mult for convolution operation.

example:

`fc1_voc12_c3=mx.symbol.Convolution(name='fc1_voc12_c3',data=conv_feat,kernel,(3,3),no_bias=True,num_filter=num_classes,dilate=24)`

How can I set a different lr_mult for this layer alone in my Deeplab implementation?

[2017-06-01 02:40] superclocks commented on #6497
hi @xlvector i have read your nce-loss in mxnet(https://github.com/xlvector/learning-dl/tree/master/mxnet/nce-loss), do you konw how to add huffman softmax into mxnet, pls give me some suggestion.

[2017-06-01 02:45] starimpact commented on #6421
compression is not a good idea, but I just got a better idea to do partial weight update. It will change a lot code of kvstore related codes. 😄

[2017-06-01 03:13] fighting-liu commented on #6361
**import cv2** before **import mxnet** will solve this issue

[2017-06-01 03:38] jmerkow commented on #6466
I agree, it should be simple to update the forward pass of SVMOutput symbol. I'll look into it next week.

[2017-06-01 04:29] piiswrong commented on #6522
weight=mx.sym.var('fc1_voc12_c3_weight', lr_mult=0.1)
fc1_voc12_c3=mx.symbol.Convolution(name='fc1_voc12_c3',data=conv_feat, weight=weight, kernel,(3,3),no_bias=True,num_filter=num_classes,dilate=24)

[2017-06-01 05:42] Lyken17 opened #6524 "[Pull Requests] Hide gamma, beta, var, mean in graph visualization"
Hi all

After ResNet, Batch Normalization becomes quite popular and is widely used recently. However, for visualization, I found parameters `bn_gamma`, `bn_beta`, `bn_var`, `bn_mean` occupy a lot of space while providing little information.  [plot_complex.pdf](https://github.com/dmlc/mxnet/files/1043750/plot_complex.pdf) And it also made visualization of some large networks totally unreadable [plo

[2017-06-01 06:21] ayushgoel1610 commented on #6500
I had to modify the checkout command to get the dependencies which match the release

ie replaced `git clone https://github.com/dmlc/mxnet.git mxnet --recursive && git -C mxnet checkout v${MXNET_VERSION}` with ` git clone https://github.com/dmlc/mxnet.git mxnet --recursive --branch v${MXNET_VERSION} --depth 1`

[2017-06-01 06:22] ayushgoel1610 commented on #6500
Builds fine now :)

[2017-06-01 06:22] #6500 closed

[2017-06-01 06:30] grant0321 opened #6525 "MXNET 0.10.0 "endsWith" not found"
I'm using MXNET 0.10.0 on Linux Mint (with GPU) and get the following error when running a CNN model using R:

Error in mx.model.init.params(symbol, input.shape, output.shape, initializer,  :
  could not find function "endsWith"

I've tried downloading and recompiling the MXNET code over the past couple of days with the same results.

[2017-06-01 07:12] ysh329 commented on #6361
@fighting-liu Very thanks my brother. I change a way using Docker to fix it.

[2017-06-01 08:23] feiyulv opened #6526 "Support 'kAddTo' for SwapAxis Op"
I'm currently working on implmenting  facebook fairseq on mxnet, and find SwapAxis doesn't support kAddTo which is needed when accumlating encoder gradient for each attention layer.  Is that easy to add kAddTo for  SwapAxis?  And  is there any other op that doesn't support kAddTo?  By the way, it is very easy to fall in this trap and diffcult to debug.
@eric-haibin-lin @piiswrong

[2017-06-01 08:40] Pagey commented on #583
are BatchNorm and LRN supported on 3D now? There used to be dimension errors when using them on 3D- as mentioned in [https://github.com/dmlc/mxnet/issues/747](url)

[2017-06-01 08:54] Daliben commented on #6399
Hi,
No, it doesn't work for me :(

[2017-06-01 11:13] DarkerDreamer opened #6527 "Why Overrided Function backward of CustomOp Not be Called"
I subclassed **mxnet.operator.CustomOp** and **mxnet.operator.CustomOpProp** following the way described in http://mxnet.io/how_to/new_op.html. All overloaded function worked well except the **backward** function had never been called in the execution of **Module.fit**. And there was no warning or error logged. Why and how to fix it? Have I missed something else to be set or configured?

Compared

[2017-06-01 12:14] xinq2016 commented on #6504
@piiswrong @ZihengJiang
so you mean that i dont need to add the warpctc path and plugin any more?

[2017-06-01 13:58] dzhwinter opened #6528 "[question] language binding interface"
theres are some questions about the mxnet, if it is not right way to ask by a issue, please let me know.
I have three question about the language binding interface in mxnet.
-  is there any go interface in current state?  after i googled, i only find the gomxnet repo, which seems has been deprecated for a long time.
- what is the relationship between NNVM interface and framework language binding i

[2017-06-01 16:03] thirdwing commented on #6514
I have uploaded the new pkg.

Can you try the following lines?

[code]

[2017-06-01 17:24] thirdwing commented on #5578
@EddieIT Can you also show your code? I will look into it.

[2017-06-01 17:27] piiswrong commented on #6526
Should be easy to do. Are you talking about forward or backward?

[2017-06-01 17:28] piiswrong commented on #6524
Thanks for PR.

[2017-06-01 17:28] #6524 closed

[2017-06-01 17:29] cells2numbers commented on #6514
thanks, after installing mxnet I can load it using ```library(mxnet)```. There are still some files missing, PACKAGES.gz and PACKAGES are not found:

[code]

[2017-06-01 17:40] thirdwing commented on #6525
I guess you are using R 3.2. `endsWith` was introduced in R 3.3.

I will fix this.

[2017-06-01 17:41] thirdwing commented on #6514
This is expected. We never upload the package to CRAN, so it can never be found on CRAN mirrors.

[2017-06-01 17:41] #6514 closed

[2017-06-01 17:47] thirdwing commented on #5147
@nmatare In current implementation, your `data` and `label` should have the same dimensions just like what we have in the tutorial: http://dmlc.ml/rstats/2016/08/19/recurrent-models-and-examples-with-mxnet-r.html

[code]

CC @ziyeqinghan

[2017-06-01 17:47] #5147 closed

[2017-06-01 18:35] #6518 closed

[2017-06-01 18:58] alues opened #6530 "nvvm's NNSymbolListInputNames"
nvvm's NNSymbolListInputNames should be implement as a new method in symbol
to list input names @piiswrong

[2017-06-01 20:54] winitzki opened #6531 "Missing parent artifacts for mxnet-scala with Scala 2.11"
Creating a Scala project with Scala 2.11 depending on mxnet 0.9.3a fails because of missing artifacts.

build.sbt has:

[code]

Error:

[code]

Looking at the Maven page http://search.maven.org/#search%7Cga%7C1%7Cmxnet shows that the artifacts mxnet-parent_2.10 and mxnet-full-parent_2.10 are published, but no "parent" artifacts with Scala 2.11 are published.

Trying to build the mxnet-scala packag

[2017-06-01 21:06] piiswrong commented on #6527
This depends on your network definition. If no gradient is needed along a path backward will not be called for that path

[2017-06-01 22:40] darrylbobo opened #6535 "VGG structure is wrong?"
I think the provided VGG structure as in (mxnet/example/image-classification/symbols/VGG.py) is not the original VGG16?

It is not corresponding the provided pre-trained VGG16 model as in http://data.dmlc.ml/mxnet/models/imagenet/vgg/.

For example, in the first conv group, there are two conv layers, but in VGG.py, there is only one.

So, in this case, if we load the pre-trained VGG16, we are just

[2017-06-02 01:00] feiyulv commented on #6526
Backward

[2017-06-02 02:23] javelinjs commented on #6531
I'll upload the missing artifacts for 2.11 today. Scala 2.12 will be supported soon - tests required.

[2017-06-02 04:34] cainiao2hao commented on #6450
I've met the same problem when training ssd. Training speed on two machines is much slower than on one machine. Is this caused by the Custom operator or something else?

[2017-06-02 05:03] paulsendavidjay opened #6536 "R Documentation hyperlinks at http://mxnet.io/api/r/index.html all lead to something other than R"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:

Compiler:

Package used (Python/R/Scala/Julia):

MXNet version:

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are using python package, please provide

Python version

[2017-06-02 05:23] #6525 closed

[2017-06-02 06:14] Godricly commented on #5813
@mli can we have a headline for Prefix? It's a little difficult to find it.
[Prefix](http://mxnet.io/tutorials/basic/symbol.html)

[2017-06-02 08:53] nerddd commented on #4220
@anijain2305 Sorry,I deleted the file. You can have a try yourself.

[2017-06-02 12:00] RogerBorras opened #6537 "[R]Logistic Regression in mxnetR, doesn't learn the parameters"
I'm doing a logistc regression for a biomedical data to predict an adverse event. I want to adjust a simple logistic regression model with mxnetR, but the model doesn't learn anything in my data. I supos that my architecture is wrong. I put here an simulated example and I fitted a simple glm model with the base R library and it works. Do you know whats the problem?

[code]

[2017-06-02 13:50] realwecan commented on #3283
@githubfragments I'm also interested in this feature. Could you share with us if you have been able to do this? Thanks!

[2017-06-02 15:48] thirdwing commented on #6536
@paulsendavidjay Really sorry for this. We are rewriting all the documents and will fix this soon.

[2017-06-02 16:44] thirdwing opened #6539 "[R] require R >= 3.3.0"
I want to get opinions from R users on this.

Do you think it is reasonable to require R >= 3.3.0?

There are two reasons I want to set the requirement:

(1) currently we host the pre-built R package on github: https://github.com/dmlc/drat/tree/gh-pages/bin/macosx/el-capitan/contrib

Less packaging work if we just support the latest two versions of R

(2) some utility functions we wrote by ourselv

[2017-06-02 16:45] thirdwing commented on #6539
@hetong007 @jeremiedb @miguelgfierro @jiajiechen @RogerBorras  @paulsendavidjay

[2017-06-02 16:48] thirdwing opened #6540 "[R] add R into the Jenkins test"
- [ ] add R into Jenkins
- [ ] R test for NDArray
- [ ] R test for iter
- [ ] R test for symbol
- [ ] R test for model

[2017-06-02 16:51] eldercrow commented on #6527
I wonder if you set need_top_grad=True in your custom op prop.

[2017-06-02 17:14] thirdwing opened #6543 "[R] place to host the prebuilt R package for OSX and Windows"
For several reasons, we can't put the mxnet package on CRAN.

So we need to find a good way to host the prebuilt package for OSX/Windows users. We currently use github.

However, just the binary package for Windows with GPU is more than 180 MB (all the dlls are included), it is a little too large to host on github.

[2017-06-02 17:50] paulsendavidjay commented on #6539
I think it's reasonable to do so at this point.

[2017-06-02 18:00] hetong007 commented on #6539
I think it makes sense to switch to 3.3.0

[2017-06-02 19:19] thirdwing commented on #6159
@ChrisBotella @Mrugankakarte

Please follow my instruction from https://gist.github.com/thirdwing/89aa9bfc588ade138496e6932072152c

The installation has been test on a Windows Server machine with GPU. It will be merged into the documents later.

![mxnet_r_gpu_win](https://cloud.githubusercontent.com/assets/1547093/26741283/a38b842a-478d-11e7-9656-3e30b1cf8ecf.jpg)

[2017-06-02 19:19] #6159 closed

[2017-06-02 19:21] thirdwing commented on #5577
Please follow my instruction from https://gist.github.com/thirdwing/89aa9bfc588ade138496e6932072152c

The installation has been test on a Windows Server machine with GPU. It will be merged into the documents later.

![mxnet_r_gpu_win](https://cloud.githubusercontent.com/assets/1547093/26741283/a38b842a-478d-11e7-9656-3e30b1cf8ecf.jpg)

[2017-06-02 19:21] #5577 closed

[2017-06-02 19:22] thirdwing commented on #3902
@sandeep-krishnamurthy Please follow my latest instruction from https://gist.github.com/thirdwing/89aa9bfc588ade138496e6932072152c

We have changed the R installation last year.

[2017-06-02 19:23] thirdwing commented on #4925
Please follow my instruction from https://gist.github.com/thirdwing/89aa9bfc588ade138496e6932072152c

The installation has been test on a Windows Server machine with GPU. It will be merged into the documents later.

[2017-06-02 19:23] #4925 closed

[2017-06-02 19:23] thirdwing commented on #4896
Please follow my instruction from https://gist.github.com/thirdwing/89aa9bfc588ade138496e6932072152c

The installation has been test on a Windows Server machine with GPU. It will be merged into the documents later.

[2017-06-02 19:23] #4896 closed

[2017-06-02 19:47] sandeep-krishnamurthy commented on #3902
@thirdwing - Can we get this instructions to our install page - http://mxnet.io/get_started/install.html ? I think you have added for CPU, similarly can you add for GPU?

[2017-06-02 19:48] gurumurthys commented on #5448
Refer to https://github.com/dmlc/mxnet/issues/2783

[2017-06-02 19:48] gurumurthys commented on #5201
Refer to https://github.com/dmlc/mxnet/issues/2783

[2017-06-02 19:49] gurumurthys commented on #3965
Refer to https://github.com/dmlc/mxnet/issues/2783

[2017-06-02 20:49] thirdwing commented on #3902
@sandeep-krishnamurthy I will do that.

[2017-06-02 21:14] mmmikael opened #6545 "SSD support for arbitrary shapes at prediction (without resize)"
The single short detector is trained on fixed resolution images 300x300 or 512x512 but since the network doesn't include flattening or fully connected layers, it should be possible to do inference on arbitrary sizes without rescaling the input.

I was able to do that with the Tensorflow implementation but not with the MXNet one here. It doesn't crash and it looks like it detects the correct object

[2017-06-02 21:17] dping1 opened #6546 "Need help with MLP tuning"
I am trying to train a simple MLP model for sentiment analysis using the IMDB dataset in MXNet.  I tried to duplicate the same MLP design and used the same hyper-parameters as the keras example in the link below.  However, my MXNet version does not seem to learn.  The training accuracy was always stuck around 50%, whereas the keras sample (using Tensorflow backend) produced an accuracy of 89%.

ht

[2017-06-02 21:19] #6522 closed

[2017-06-02 21:24] mmmikael commented on #6545
FYI, this is the result obtained with Tensorflow's implementation:
![000000](https://cloud.githubusercontent.com/assets/85865/26745377/85fe3990-47ea-11e7-9f33-4f856bf393e8.jpg)

[2017-06-02 21:48] thirdwing commented on #6040
See https://github.com/dmlc/dmlc.github.io/pull/40

[2017-06-02 21:52] moskewcz opened #6548 "[feature req / question ] slurm scheduler support for launch.py? (distrubted processing / multi-machines support)"
from reading the docs, it seems like it would be natural to add/have support for the SLURM cluster job scheduler in launch.py (and i guess then also in dmlc_core/dmlc_tracker) -- but before i start working on it:

- does that make sense?
- is it already done and/or somehow not needed?
- is there interest in a PR to add such support if i write it?
- should i post a similar issue in dmlc_core either

[2017-06-02 22:33] piiswrong commented on #6548
More platform support is always better. I haven't heard of anyone working on this. You are welcome to PR.

[2017-06-02 22:34] piiswrong commented on #6545
I would check the scaling of predictions. Looks like a display error

[2017-06-02 22:46] thirdwing commented on #6159
You can also try to install my pre-built pkg:
[code]

[2017-06-02 23:42] szha commented on #6305
@sandeep-krishnamurthy turns out the installation instructions have a couple of issues.
* [-lopencv_imgcodecs](https://github.com/dmlc/mxnet/blame/master/docs/get_started/ubuntu_setup.md#L102) in the instruction should not be necessary because of [pkg-config invocation in Makefile](https://github.com/dmlc/mxnet/blob/master/Makefile#L78-L85).
* [These references to openblas](https://github.com/dmlc

[2017-06-03 00:15] thirdwing commented on #6543
One possible solution is to use S3, then user can install mxnet by `install.packages("mxnet", repos="https://s3.amazonaws.com/mxnet-r/")`

[2017-06-03 00:34] sandeep-krishnamurthy commented on #6305
* This page is obsolete - http://mxnet.io/get_started/ubuntu_setup.html and CI tests are not running on this page. We need to remove this page and add a redirection (so search engine links are not broken). I will do that.

* Here is the page we recently worked and improved the installation guide with installation instructions that is being tested on CI - http://mxnet.io/get_started/install.html.

[2017-06-03 01:34] winitzki opened #6554 "No Scala support for _contrib_CTCLoss"
Trying to use MXNet with Scala and getting an error while loading a trained model that uses CTCLoss:

Failed loading Op _contrib_ctc_loss0 of type _contrib_CTCLoss: [14:00:15] src/core/op.cc:55: Check failed: op != nullptr Operator _contrib_CTCLoss is not registered

I noticed that CTCLoss was introduced in 0.10 while the Scala packages are published only at version 0.9.3a. Perhaps that's the prob

[2017-06-03 01:35] winitzki commented on #6531
I'd be interested in fixing this myself in the Scala package, if I only knew more about the nature of the problem. Please let me know if I can be of help. For instance, would it be possible to have a build.sbt file so that the Scala package can be loaded into IntelliJ  for building and development?

[2017-06-03 01:37] ysh329 commented on #5448
@gurumurthys Thanks my brother.

[2017-06-03 01:37] #5448 closed

[2017-06-03 02:14] Ldpe2G commented on #6554
@winitzki Scalapkg actually supports CTCLoss. All the operators starts with _contrib_ are under the
contrib package, so you can use the CTCLoss by
[code]

And the Scalapkg uses macro to auto generate the symbol. So no needs to add symbols by hand. You can refer to #3217 for more details.

[2017-06-03 03:24] eric-haibin-lin commented on #6005
Which layer only has 4Wx128 gradients?

[2017-06-03 05:21] #6040 closed

[2017-06-03 06:26] jeremiedb commented on #6539
I'm also comfortable with R >= 3.3

[2017-06-03 07:13] miguelgfierro commented on #6539
I also think it makes sense

[2017-06-03 08:09] mmmikael commented on #6545
There is probably a scaling issue somewhere but the predictions coming out `self.mod.predict` are already cropped somehow:
[code]

[2017-06-03 08:23] mmmikael commented on #6545
Ok, I found where the clipping was done: `mx.contrib.symbol.MultiBoxDetection` has an optional parameters `clip`. After setting it to `False` and scaling the detecting rectangles correctly, I get the right results:

![screen shot 2017-06-03 at 10 18 51 am](https://cloud.githubusercontent.com/assets/85865/26751996/4c6c6722-4846-11e7-8b88-9917d19dde66.png)

Do you think it would be worth adding an o

[2017-06-03 09:15] dreadlord1984 commented on #6297
me too, same problem.

[2017-06-03 09:36] starimpact commented on #6005
the last layer, such as softmax or proxy.

[2017-06-03 10:03] temojin commented on #5779
i'm having the same issue loading vgg16 model and doing a prediction. Where do you suggest I provide the dummy 'softmax_label'? In the model json file? I'm totally new so not familiar with that format.

[2017-06-03 11:33] Cloudyrie opened #6556 "How to make step-by-step predictions using RNN with bucketing"
By ‘step-by-step predictions’ I mean using values sampled from current time step's output as input in the next time step. For example, to generate a sentence using the lstm model in example/rnn/lstm_bucketing.py, I need to start from a particular word, feed it to the network and get outputs, then sample a word from the outputs and fix it as the input in the next time step.

Now in every time step

[2017-06-03 13:54] bensander commented on #6257
Hi, this is Ben from AMD.   The port is in the early stages of development as you note.  Glad to see this issue since we wanted to make sure the community was aware of our plans and get some early feedback before we get too deep into the port.  Let me provide a little background on the tools and what we'd like to do, and ask a couple questions:

[HIP](https://github.com/ROCm-Developer-Tools/HIP) i

[2017-06-03 15:26] Imshepherd opened #6558 "Algorithm between pooling layer and Convolutional Layer with LeNet/mxnet in R"
Here is the code for LeNet in R

input
data <- mx.symbol.Variable('data')

first conv
conv1 <- mx.symbol.Convolution(data=data, kernel=c(5,5), num_filter=20)
tanh1 <- mx.symbol.Activation(data=conv1, act_type="tanh")
pool1 <- mx.symbol.Pooling(data=tanh1, pool_type="max",kernel=c(2,2), stride=c(2,2))

second conv
conv2 <- mx.symbol.Convolution(data=pool1, kernel=c(5,5), num_filter=50)
tanh2 <- mx.

[2017-06-03 16:52] DarkerDreamer commented on #6527
@eldercrow need_top_grad has been set to False.

I checked the backward **Node**s generated, it seems that the problem arises because of an out-of-date understand about how loss layers work. In the code I tried to run, the **SoftmaxOutput** accepts gradient from its top layer, but the **LinearRegressionOutput** dose not. I guess the reason maybe that the argument **out_grad** has been removed from

[2017-06-03 18:25] Imshepherd commented on #6558
I figure out the answer by myself.
Just basic knowledge.
Should all sum up and plus bias.

[2017-06-03 18:30] Mrugankakarte commented on #6159
@thirdwing  Thanks a lot!!! Got no errors while installing using your pre-built package.
Have you found out any solution regarding #5979 ?

[2017-06-03 19:36] #362 closed

[2017-06-04 01:13] zazzydistsgd opened #6560 "How to check number of gradients collected by master node from python interface"
Hi,

In distributed synchronous training (when setting `kv_store=dist_sync`) I want to keep checking how many works' gradients are currently aggregated by the `kvstore`, which is quite similar to the `ConditionalAccumulator.num_accumulated` in TensorFlow (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/data_flow_ops.py#L1081).
In particular, for example, if there are n w

[2017-06-04 08:04] javelinjs commented on #6531
Please try again. It should have worked now.

[2017-06-04 11:17] Daliben opened #6562 "MXIndexedRecordIO"
#Hi,
The class called "MXIndexedRecordIO" is not recognized in the  recordio module !!
When i run the code below:

record = mx.recordio.MXIndexedRecordIO('tmp.idx', 'tmp.rec', 'w')
for i in range(5):
    record.write_idx(i, 'record_%d'%i)
record.close()

i had this error: AttributeError: 'module' object has no attribute 'MXIndexedRecordIO'

OS:Windows
Python 2.7
Mxnet 0.9.5

[2017-06-04 18:33] Luo-Liang opened #6565 "[Question] Chunking keys within a server"
Hi! I have a question regarding accuracy of chunking a large key into a smaller key within a single server. I know MXNET_KVSTORE_BIGBOUND_ARRAY is used to chunk a key to different servers for processing.

Our implementation now chunks a physical key into a series of virtual keys, and these virtual keys are sent individually to one central server for optimization. The server only sees the virtual k

[2017-06-04 19:09] offerm opened #6566 "Q: Checkpointing and how much to train?"
Thanks for your help and the great work you are doing here.

Im training my first LSTM model from R environment using the shakespeare file.
Very easy to see that with time the model improves and generates better sequences.   Still I'm not sure:
1. How much time should I give it for training?
2. If I stop it after N hours/days/weeks is there a way to check the model and continue the training from t

[2017-06-05 01:18] zhreshold commented on #6545
@mmmikael What is the predictions without clipping? I suppose they are beyond 1s?
If you can fix it, you are very welcome to do so, thanks.

[2017-06-05 01:22] githubfragments commented on #3283
Sorry, I didn't keep working this out.@realwecan

[2017-06-05 02:39] zazzydistsgd opened #6569 "How to use kvstore with sequential module?"
Hi,

I'm using `SequentialModule` to split layers of network (e.g. LeNet) to different modules and wiring them together. But when I tried to use `kvstore` for the wired model, I got some errors during initializing the kvstore. It seems, when the second module (second layer) are going to be initialized, the index of parameters will still start from '0', which lead to conflict with parameter indexes

[2017-06-05 02:49] nnguyen24 opened #6570 "Saving predicted outputs in MXNetR"
Hello, I have a question regarding the usage of MXNetR. After each training epoch, I want to save the predicted values using training inputs and testing inputs into a file so that I can plot them later on. I tried to customize my callback function but found no way to get access to the predicted outputs generated during the training process. I am quite new to MXNetR so it would be great if you can

[2017-06-05 04:12] EvanzzzZ opened #6572 "GPU stream error when running with gpu context"
Trying to add a new operator in C++.
The code compiled and run as expected with cpu context,
but when I ran it with gpu context, it throw the following error,
`Default GPU stream was used when MSHADOW_FORCE_STREAM was on`.

My guess is I used `NewTensor` in the forward/backward operation in a way not as expected.
Any clue here ?

[2017-06-05 04:17] DarkerDreamer commented on #6527
@piiswrong @eldercrow
Is there any tutorials or specifications explaining how to declare forward & backward dependency with Python API?

[2017-06-05 06:00] RogerChern opened #6573 "mx.sym.UpSampling causes SIGFPE silently"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:
[code]

Compiler:
[code]

Package used (Python/R/Scala/Julia):
Python

MXNet version:
0.9.5

Or if installed from source:
Yes

MXNet commit hash (`git rev-parse HEAD`):
6e81d76e6830b70a4a2278ebc08e9d3e3a

[2017-06-05 06:10] mmmikael commented on #6545
Yes, they are beyond 1s. To get back to image coordinates, the scaling is not anymore image width and height but the training size (300 or 512). It seems like something should be changed in `MultiBoxDetection`. Any idea?

[2017-06-05 06:31] hdriqi opened #6574 "CNN + SVM"
So I am trying to create a CNN + SVM model for CIFAR-10 dataset

[code]

There's no error while running the code, but the train-accuracy and validation-accuracy do not increase although it is already run on 50 epoch ( from 1st epoch till 50 still around 0.1 ).

Is there anything that I miss for using the SVMOutput? because when I use SoftmaxOutput the accuracy is increasing for every epoch.

[2017-06-05 06:49] Sat9443321 commented on #347
I did the same in windows platform. but it returns the same error enable the cuda. Please suggest how to proceed the gpu computing with windows platform.

[2017-06-05 07:35] ChrisBotella commented on #6159
@thirdwing ,

Thank you very much, I followed you instructions at [](https://gist.github.com/thirdwing/89aa9bfc588ade138496e6932072152c) I know it works fine.

I couldn't find `mxnet.dll`, that I was supposed to move in `./R-package/inst/libs/x64`, but it doesn't perturb the install.

[2017-06-05 09:23] Pagey commented on #583
nope still getting this on when trying 3d on layer LRN (mxnet 0.10.1) @sandeep-krishnamurthy

[12:21:07] d:\program files (x86)\jenkins\workspace\mxnet\mxnet\dmlc-core\include\dmlc\./logging.h:304: [12:21:07] D:\Program Files (x86)\Jenkins\workspace\mxnet\mxnet\nnvm\include\nnvm/tuple.h:439: Check failed: dim == static_cast<int>(ndim()) (4 vs. 5) dimension do not match target dimension 4 vs 5
[12:

[2017-06-05 09:46] nicklhy opened #6575 "251MB memory in gpu 0 even when context is not mx.gpu(0)"
I just found that passing kvstore = mx.kvstore.create('local') into mx.mod.Module.fit would produce 251MB memory in gpu 0 even when context is not mx.gpu(0). Is it a bug?
[code]
Changing kvstore to None solves the problem but I am not sure if it is a proper solution.

-------
BTW, the code below also produce 251M memory in gpu 0
[code]

[2017-06-05 11:32] nnguyen24 commented on #6570
Hello, I have a question regarding the usage of MXNetR. After each training epoch, I want to save the predicted values using training inputs and testing inputs into a file so that I can plot them later on. I tried to customize my callback function but found no way to get access to the predicted outputs generated during the training process. I am quite new to MXNetR so it would be great if you can

[2017-06-05 11:54] feiyulv opened #6576 "weight norm implemention"
Does anyone implement weight normalizaiton using mxnet. I use  python symbol to implement it like follows:
[code]
But I'm not sure whether it can work. Any suggestion will be appreciated

[2017-06-05 13:08] offerm opened #6577 "Build of R-Package faild"
I'm trying to build the R-Package of mxnet using RStudio.

Build failed with the following error:

==> R CMD INSTALL --no-multiarch --with-keep.source R-package

* installing to library ‘/Users/admin/github/mxnet/R-package/packrat/lib/x86_64-apple-darwin13.4.0/3.3.2’
* installing *source* package ‘mxnet’ ...
clang++ -I/Library/Frameworks/R.framework/Resources/include -DNDEBUG -I../inst/include -I/

[2017-06-05 13:45] yhpeng-git commented on #3422
I also have this bug in Ubuntu 14.04.5 now. It seems that it has not been fixed yet.

[2017-06-05 14:18] Pagey commented on #583
but BatchNorm on 3d is working 👍

[2017-06-05 14:27] #6577 closed

[2017-06-05 14:46] thirdwing commented on #6159
That is my mistake. mxnet.dll will be generated during the installation.

On Jun 5, 2017 3:35 AM, "ChrisBotella" <notifications@github.com> wrote:

[2017-06-05 14:55] offerm commented on #6577
Found this:

https://github.com/dmlc/mxnet/blob/v0.10.0/docs/get_started/build_from_source.md

[2017-06-05 16:42] mli commented on #6257
I suggest adding a compilation flag `USE_HIP`. Then in makefile, add the following

[code]

So now we can switch between hip and cuda in source codes by

[code]

[2017-06-05 16:45] antinucleon commented on #6257
Also you can modify the CMake building system
On Mon, Jun 5, 2017 at 09:42 Mu Li <notifications@github.com> wrote:

--
Sent from mobile phone

[2017-06-05 16:45] flyashi opened #6578 "SSD example fails to run after "backward headgrads and detach" commit"
## Environment info
Operating System:
Ubuntu 16.04.1

Compiler:
gcc

Package used (Python/R/Scala/Julia):
Python

MXNet version:
see git-bisect details below

Python version and distribution:
Python 2.7.6, from apt

## Error Message:
Please paste the full error message, including stack trace.

    [16:32:06] /home/ubuntu/src/mxnet/dmlc-core/include/dmlc/logging.h:304: [16:32:06] src/core/symbolic.

[2017-06-05 17:12] piiswrong commented on #6578
Thanks for reporting. SHould be fixed by this: https://github.com/dmlc/mxnet/commit/b2e7c3aad0eee3af8aab22fc0ec24fbf530a5bd2

[2017-06-05 17:21] flyashi commented on #6578
Confirmed fixed - thank you!

[2017-06-05 17:54] jychoi84 commented on #6464
@patricianing
LocationNet is inspired by PlaNet but it's trained on different dataset, architecture, hyperparams.
The comparison of these two can be found [here](https://github.com/multimedia-berkeley/tutorials).

Examples in this [tutorial](https://github.com/multimedia-berkeley/tutorials/blob/master/predict_geolocation.ipynb) will give you coordinate geo-tag (latitude, longitude). If you want to

[2017-06-05 17:55] #6578 closed

[2017-06-05 18:35] Luo-Liang commented on #6565
After some experiments...
1, yes
2. yes
3. yes

:|

[2017-06-05 19:49] szha commented on #6305
@sandeep-krishnamurthy how's the progress.

[2017-06-05 21:51] sandeep-krishnamurthy commented on #6305
PR - https://github.com/dmlc/mxnet/pull/6585

[2017-06-05 22:07] winitzki commented on #6531
Works now! Thank you. Can I help in any way to move towards Scala 2.12 and 0.10 release for scala package? You can close the issue if you think there is nothing more to do.

[2017-06-05 22:11] winitzki commented on #6554
@Ldpe2G  my problem is that I'm actually loading a model from JSON & param files, and the model was trained in Python / mxnet. I am having this error message while loading a model that uses CTCLoss. The Python API seems to use CTCLoss without any trouble. But when I do `Model.loadCheckpoint(prefix, epoch)` it gives me the error shown above... I have the same code working (loading a trained model f

[2017-06-05 22:26] winitzki commented on #6554
Let me try to include the `mxnet-macros` package, maybe that will help.

Where do I get `ml.dmlc.mxnet.contrib`? I don't see any JAR artifact that has that `contrib` package!

[2017-06-05 22:33] winitzki commented on #6554
So, maybe the problem is that the current 0.9.3a JAR artifact `mxnet-core` does not contain the `contrib` package. The files in `scala-package/core/src/main/scala/ml/dmlc/mxnet/contrib/` were added on Apr. 11, whereas the JAR artifact `mxnet-core` was published on Mar. 26. So, that's why I don't see them, and perhaps that's why my Scala code can't use CTCLoss.

Would it be possible to update the S

[2017-06-05 22:33] winitzki commented on #6531
Would it be possible to update the Scala artifacts to 0.10 so that they contain the contrib package and and possibly fix another problem I'm having? https://github.com/dmlc/mxnet/issues/6554

[2017-06-05 22:39] #6326 closed

[2017-06-05 23:36] Roshrini commented on #1974
this file https://github.com/dmlc/mxnet/blob/master/tools/im2rec.cc

[2017-06-06 01:11] Ldpe2G commented on #6554
@winitzki Would you mind to provide the trained model and json file so I can do some test with the lastest scala-pkg to see what cause this?

[2017-06-06 01:50] javelinjs commented on #6531
I'll do a check to make sure the scala package is consistent with the python api. The 0.10 jar will be released soon. Close this issue for now.

[2017-06-06 01:50] #6531 closed

[2017-06-06 02:28] qclu commented on #6189
@alues
I just try it on master version.

[2017-06-06 02:35] qclu opened #6587 "lstm warp-ctc ocr example failed when run with multiple gpus in data parallel mode"
I try ocr recognition example, now it can work well in single gpu mode.
But when I tried it with multiple gpus, it failed when check accuracy.
`contexts = [mx.context.gpu(2), mx.context.gpu(3)]                        `
Above, I select gpu 2 and 3, error will occure.
`/usr/lib/python2.7/site-packages/mxnet-0.9.5-py2.7.egg/mxnet/model.py:526: DeprecationWarning: Calling initializer with init(str, ND

[2017-06-06 10:05] JianTse commented on #4783
@PhanTask
I  succeed to get the libmxnet_predict.so.
But when I run an Android app with it, the app break and the Error is:
 java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "__cxa_thread_atexit" referenced by "libmxnet_predict.so"...
Can you send me your 'libmxnet_predict.so' file? My e-mail address is 280144557@qq.com.
Thanks!

[2017-06-06 10:37] marugari commented on #6546
Des `SoftmaxOutput` work well?
Maybe you can change your Network:
FullConnected(2 hidden unit)->SoftmaxOutput

https://github.com/dmlc/mxnet/issues/3355

[2017-06-06 10:51] lilhope commented on #6383
@wangg12 same issue with you. I use the dilated convolution,seems not supported.

[2017-06-06 11:12] #6504 closed

[2017-06-06 11:13] #6121 closed

[2017-06-06 11:14] #6187 closed

[2017-06-06 13:03] dping1 commented on #6546
@marugari,  thanks for your feedback.  Just tried SoftmaxOutput and it worked.   Any idea why LogisticRegressionOutput would not work in this case?

[2017-06-06 13:43] dtmoodie opened #6592 "CUDA illegal memory access when training SSD"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:
Ubuntu 16.04

Compiler:
GCC 5.4

Package used (Python/R/Scala/Julia):
Python

Or if installed from source:
69351950889fcf39b21a9188c36cb82d91456fed

Python version and distribution:
2.7.12 (default, Nov

[2017-06-06 17:17] piiswrong commented on #6592
@zhreshold

[2017-06-06 18:49] angelsrates opened #6594 "Visualization Error due to usage of split method"
## Environment info
Operating System: MacOs

Compiler:

Package used (Python/R/Scala/Julia): Python (Jupyter Notebook)

MXNet version: 0.9.5
[vsLSTM_visBug.ipynb.zip](https://github.com/dmlc/mxnet/files/1056080/vsLSTM_visBug.ipynb.zip)

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are using python package, please provide

Python version and distribution: Python 2

[2017-06-06 20:29] arikpoz commented on #6441
I believe that this is solved now (#6489)

[2017-06-06 20:30] arikpoz commented on #6319
Please check again with the latest merge of (#6489)

[2017-06-06 21:22] nnguyen24 opened #6596 "Dimension mismatch error when running mxnetR"
I am trying to build a Feed Forward neural network with MXNetR. My input is a data frame with 6380 rows and 180 columns. My training and testing outputs are one-dimensional vectors with 319 elements each.

I run the model with the batch size set to 1 and the number of neurons at the output layer set to 319. So for each batch, I expected to get a vector with 319 elements. I aim to minimize my loss

[2017-06-06 23:13] marugari commented on #6537
I think this is the same as https://github.com/dmlc/mxnet/issues/6546.

[2017-06-07 00:05] ptuls opened #6600 "Missing `broadcast_add` layer in MXNet Scala binding"
I am trying to run a converted Caffe model, a ResNet 50 model that I trained on my own set of images. I have converted the model using the Caffe converter from the most recent master branch of MXNet. However, when trying to run with the Scala bindings, I have the following problem. Seems to me that `broadcast_add` is not found in my Scala library (see below).

Note that I could run a VGG-16 model,

[2017-06-07 00:10] szha commented on #6367
we have not released any pre-release pip packages. the new version has been upgraded to 0.10.0.

[2017-06-07 00:11] szha commented on #6281
@lx75249 is this still on-going?

[2017-06-07 00:13] szha commented on #6023
@ysh329 has this issue been resolved? Also, we have released 0.10.0 so this is the version you will get from pip now.

[2017-06-07 00:14] szha commented on #5835
@divfor is this still an issue for you?

[2017-06-07 00:40] ptuls commented on #6600
Apologies, the bindings I was using is extremely outdated. Switched to `"ml.dmlc.mxnet" % "mxnet-full_2.11-osx-x86_64-cpu" % "0.9.3a"` and everything is working fine.

[2017-06-07 00:40] #6600 closed

[2017-06-07 01:22] ysh329 commented on #6023
@szha Ok, I'll try. Besides, I tried to use `nvidia-docker`. Due to poor network speed, I always failed to `make` on my this IBM OpenPower machine. :sob:

[2017-06-07 01:26] winitzki commented on #6554
Unfortunately we are not allowed to provide this data to third parties... **However**, I tried further to figure out what the problem is, and I think the only missing thing for us is a 0.10 release of the mxnet `jni` library.

I was able to compile `mxnet` successfully on an OS X, but only after I changed a couple of things in the build settings while following `docs/get_started/osx_setup.md`.

On

[2017-06-07 01:34] Ldpe2G commented on #6554
@javelinjs

[2017-06-07 05:59] xinq2016 opened #6603 "CTC build failed for speech_recognition example"
## Environment info
Operating System: Ubuntu 14.04

Compiler:

Package used (Python/R/Scala/Julia): python

MXNet version: 0.10.0

Or if installed from source: git clone https://github.com/dmlc/mxnet.git ~/mxnet --recursive

## Error Message:
There are 3 Errors with different build schedules:
git clone with MxNet, modify the config.mk with
USE_BLAS = openblas
USE_CUDA = 1
USE_CUDA_PATH = /usr/loca

[2017-06-07 07:14] RogerBorras commented on #6539
Yes, I agree that this is very reasonable. Thanks @thirdwing and coauthors for this amazing R library.

[2017-06-07 07:26] javelinjs commented on #6554
As I mentioned in #6531 I need to do a check to make sure the scala package is consistent with the python api. I'll publish 0.10 soon, probably on this weekend. Sorry for the inconvenience.

[2017-06-07 08:03] SpecialM2580 opened #6605 "Large time cost over GPU computation"
I'm trying mxnet code from API,
`   n = 10
    a = mx.nd.ones((1000, 1000))
    b = mx.nd.ones((6000, 6000), mx.gpu())
    tic = time.time()
    c = do(a, n)
    wait(c)
    print('Time to finish the CPU workload: %f sec' % (time.time() - tic))
    d = do(b, n)
    wait(d)
    print('Time to finish both CPU/GPU workloads: %f sec' % (time.time() - tic))`
and the result is:

Time to finish the CPU w

[2017-06-07 09:30] #6281 closed

[2017-06-07 13:53] dping1 commented on #6546
@marugari Thanks again!  I am closing this issue.

[2017-06-07 13:53] #6546 closed

[2017-06-07 14:30] hdriqi commented on #6466
Hello I use the hinge loss as metric, but my accuracy still sucks

My architecture is CNN + SVM as output layer. The dataset is cifar-10. The max accuracy i got is 0.1
When I use softmax as output layer, I can achieve 80+ accuracy.

Any suggestion?

[2017-06-07 16:08] zhreshold commented on #6592
@dtmoodie Can you send me the training record files if they are not so big?

[2017-06-07 16:22] piiswrong commented on #6605
what's definition of do and wait?

[2017-06-07 16:23] piiswrong commented on #6603
@sbodenstein Any updates on fixing this?

[2017-06-07 17:02] Pagey commented on #3151
the above examples (mine) don't seem to show a difference between module and feedfoward speed in version 0.10.1 👍

[2017-06-07 17:10] sbodenstein commented on #6603
@piiswrong: I tried one or two things to fix it (which didn't work), and then ran out of time for a release.

I will try and make some time this Saturday to return to this.

[2017-06-07 17:26] zhreshold commented on #6545
If you want clip to work for original images, pass in clip range instead of true/false, and preserve the trained scaling (300, 512). The modification in MultiBoxDetection layer should be easy. @mmmikael

[2017-06-07 17:42] alues commented on #6603
same issue with warp-ctc's lstm_ocr.py and toy_ctc.py @sbodenstein

[2017-06-07 17:44] piiswrong commented on #6603
@sbodenstein Another approach is to change warpctc implementation to be the same with the new ctc_loss, while keeping the original interface

[2017-06-07 18:03] taliesinb commented on #6083
Will get to this this week I think...

[2017-06-07 19:04] nnguyen24 opened #6606 "Create a new operator with mxnetR"
Hello, I am creating a network using mxnetR and want to create a customized operator. I look at the mx.symbol.Custom function in the package and the description says that I should use a front end language like Python to define my operation.

I found a sample code here: https://github.com/dmlc/mxnet/issues/4205 where the programmer use the mx.operator.register decorator @mx.operator.register. I won

[2017-06-07 22:36] GuanhuaWang opened #6608 "how to use profiler"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: Ubuntu 14.04

Compiler:g++, nvcc

Package used (Python/R/Scala/Julia):python

MXNet version: latest

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are using python packa

[2017-06-07 22:51] piiswrong commented on #6608
run
[code]
See if you are really using the mxnet you just compiled

[2017-06-07 23:38] GuanhuaWang commented on #6608
Yep, I think this is the correct path I compiled.

/mxnet/python/mxnet/__init__.pyc

[2017-06-07 23:50] ZihengJiang commented on #6608
Have you executed `make clean` if you did `make` before?

[2017-06-08 01:07] tornadomeet commented on #6608
make sure no space left at the end line ```USE_PROFILER = 1```

[2017-06-08 01:48] Jerry-2017 opened #6611 "Reuse Variable but with different attributes"
Sometimes we need to share weights in network. And Its' advised in mxnet to reuse variable by applyinng  one weight and referencing multiple times. That's OK when variable attributes like lr_mult wd_mult is fixed.
But what if we want to change the learning rate in different network structure but still share the same weight.

My solution is to manually call symbol.set_attr with different learning_r

[2017-06-08 01:58] GuanhuaWang commented on #6608
Yep, that is the problem @ZihengJiang , thanks ziheng !

[2017-06-08 01:58] #6608 closed

[2017-06-08 06:25] piiswrong commented on #6611
You can use different symbols for different modules

[2017-06-08 07:31] hzh8311 commented on #4713
I try to train faster rcnn with resnet-101 as backbone network and OHEM(online hard example mining) on 4 gpus, and encountered with #4224 although I have 12GB K80 GPUs. I wonder does it to be just a memory shortage problem or some other issue I do not don't know?

[2017-06-08 08:01] sunbinbin1991 commented on #6483
I finetune a model have same question with you

[2017-06-08 08:05] sriharikarnam commented on #6257
Hi,

This is Srihari from AMD:
Above approach is one of the case we considered earlier, but this approach duplicates the code for every runtime API and other CUDA changes.
Need your inputs on how to confine HIP porting changes as a seperate backend alongside CUDA.
For example : Adding a new directory at  mxnet/src/hip and confine HIP porting changes to this directory.

[2017-06-08 09:13] ysh329 commented on #6483
@sunbinbin1991 Have you added `flatten0_output` layer?

[2017-06-08 09:20] patriciaaa82 opened #6614 "train, test and validation sets with im2rec"
Hi,
I want to split my data into train, validation and test sets.
I'm using im2rec.py to generate the .rec files with the following commands:

python im2rec.py --list=1 --recursive=1 --shuffle=1 --test-ratio=0.3 --train-ratio=0.7 images/images images/
python im2rec.py --num-thread=4 --pass-through=1 images/images images

Which gives me a train.rec and test.rec. But how can I get also a validation

[2017-06-08 12:43] ysh329 commented on #6483
@tornadomeet :sos:

[2017-06-08 13:28] offerm commented on #6596
This was working for me one I added the missing "c"  for the shape:

lro <- mx.symbol.MakeLoss(mx.symbol.Correlation(mx.symbol.reshape(output,shape = c(1,319)),label))

[2017-06-08 14:35] sbodenstein commented on #6603
@piiswrong: that would be easy to do. I guess the advantage of having a warpctc plugin that does not rely on our new CTC layer, is that upstream Warp CTC changes are immediately useable.

What do you think?

[2017-06-08 14:45] sbodenstein opened #6615 "MKL Breaking Existing Functionality"
Building against MKL-DNN breaks certain existing functionality. For example: the Activation symbol with "relu" crashes during a forward pass whenever the rank of the input is not 4.

Are there any other areas where linking against MKL-DNN breaks existing functionality? And is this expected behaviour, or is this a bug?

@piiswrong, @glingyan, @taliesinb

[2017-06-08 14:49] glingyan commented on #6615
Hi  Sebastian:
   Young Jin will support.
   What MKL-DNN, which library and what kind of case?

From: Sebastian Bodenstein [mailto:notifications@github.com]
Sent: Thursday, June 8, 2017 10:47 PM
To: dmlc/mxnet <mxnet@noreply.github.com>
Cc: Guo, Lingyan <lingyan.guo@intel.com>; Mention <mention@noreply.github.com>
Subject: [dmlc/mxnet] MKL Breaking Existing Functionality (#6615)

Building against

[2017-06-08 17:18] offerm commented on #6596
You also to add X and y and where you get the error.
Make sure you have a reproducible code.

[2017-06-08 17:24] ykim362 commented on #6615
Hi @sbodenstein ,

Are you trying to use this?
https://github.com/01org/mkl-dnn
If so, it is under active development and will be available some time later.

If not, could you please let me know the problem more details?

Thanks.

[2017-06-08 18:09] haimeh commented on #5578
@EddieIT @thirdwing
#I think this script recreates the problem?

require(mxnet)
#===============Example Data=================
dataGen <- function(a,b,c,d,e){data <- as.logical(c(round(runif(9000)-a,0),
                                                    round(runif(9000)-b,0),
                                                    round(runif(9000)-c,0),

[2017-06-08 18:22] offerm commented on #6596
Hard to say without the and X example.

It might also be due to batch.size=1.

[2017-06-08 18:40] nnguyen24 commented on #6596
@offerm: I updated the code to make sure that it includes a test data set. Will try to experiment with different batch sizes.

[2017-06-08 19:25] ryangarner commented on #6546
The solution is to create a custom metric with a defined threshold. In this example, I set the threshold to 0.5.
[code]

[2017-06-08 20:15] csherstan commented on #3141
A constant op would be great.

[2017-06-08 20:16] csherstan commented on #6087
+1

[2017-06-08 22:43] ryangarner commented on #6537
Try this
[code]

[2017-06-08 23:12] ryangarner commented on #3006
Why not just take RStudio's approach and use the [reticulate](https://github.com/rstudio/reticulate) package?

https://tensorflow.rstudio.com/
https://rstudio.github.io/keras/

I'm currently using reticulate to utilize the experimental Python RNN API in R.

I personally prefer working with dplyr for data munging and ggplot2 for data visualization instead of pandas and seaborn.

I also use [mlr](ht

[2017-06-08 23:29] GuanhuaWang opened #6620 "Training_cifar10.py breaks when using USR_PROFILER"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: Ubuntu 14.04

Compiler: g++, nvcc

Package used (Python/R/Scala/Julia):

MXNet version: latest

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are using python package, p

[2017-06-08 23:37] piiswrong commented on #6620
make clean and make again

[2017-06-08 23:42] GuanhuaWang commented on #6620
@piiswrong Yep, I have tried that to make the profiler work (i.e. 1. `set USR_PROFILER = 1`, 2. `make clean`, 3 `make`). It does not work. Any other suggestions?

[2017-06-09 00:53] fullfanta commented on #3539
@umichyiwan @happygds
You need to give param_idx2name to optimizer.
[code]

Then, _get_lr() takes index by name accurately as @umichyiwan mentioned.

[2017-06-09 01:06] sunbinbin1991 commented on #6483
I find my problem, because I used caffenet to finetune my model, actually, this model have no layer"flatten0",so instead, change it with "drop7", that works, in a demo ,it said:

`layer_name: the layer name before the last fully-connected layer`

It depends, after change it ,it works ,good luck

[2017-06-09 01:08] ysh329 commented on #6483
@sunbinbin1991 okay, my brother, Thanks.

[2017-06-09 01:08] shyamalschandra opened #6624 "How do you load a params file for mxnet?"
## Environment info
Operating System: MacOS Sierra

Compiler: n/a

Package used (Python/R/Scala/Julia): python

MXNet version: latest stable version

How do you load a params file in MXnet?

[2017-06-09 01:11] ysh329 commented on #6624
It's an easy question, which docs clarifies clearly.
[code]

ref:Fine-tune with Pretrained Models — mxnet documentation
http://mxnet.io/how_to/finetune.html

[2017-06-09 01:14] ysh329 commented on #6614
You can put the validation set in another directory. My means is using `im2rec.py` and setting --train-ratio=1.0 as validation set.

[2017-06-09 01:16] ysh329 commented on #6574
Can you give the full log?

[2017-06-09 01:28] #6558 closed

[2017-06-09 02:43] shyamalschandra commented on #6624
@ysh329  I just tried that and it doesn't work with .param files.  Instead, it is looking for a json file.  Any ideas?

[2017-06-09 02:43] Jerry-2017 commented on #6611
Thanks , I will have a try.

[2017-06-09 03:21] papercatnku commented on #6624
@shyamalschandra
try mx.nd.load() you'll get a dictionary, which key is param name, value is corresponding param array.

[2017-06-09 03:51] dtmoodie commented on #6592
I'll make a smaller record and upload it somewhere.

[2017-06-09 04:59] chicn opened #6628 "[C++][Tutorial Error] Model file for image-classification-predict.cc seems like broken"
Hi folks. 😄

Now, I'm trying to run [image-classification-predict.cc](https://github.com/dmlc/mxnet/blob/master/example/image-classification/predict-cpp/image-classification-predict.cc) as a sample code of image classification with using pre-trained model.

I'm facing an error at the point of creating a predictor like,

[code]

The error I got is like,
[code]

If any of you know how to solve and r

[2017-06-09 05:00] chicn commented on #6628
I'll be appreciate it if any of you could provide me any hints or thoughts for my issue!!

[2017-06-09 05:44] chicn commented on #6628
It seems like that the model file was broken for some reasons.

I changed a `.param` file to a different file and I could make it to pass through creating a predictor.

[2017-06-09 06:53] SpecialM2580 commented on #6605
It's okay now, I used wrong CUDA arch when compiled opencv, after changing the CUDA arch in opencv, It has been reduced to 1.8 second.

[2017-06-09 06:53] #6605 closed

[2017-06-09 08:59] ysh329 commented on #6624
@shyamalschandra Can u give the code you wrote?

[2017-06-09 12:03] nnguyen24 opened #6629 "Not enough information to get shape"
Hello,

I am implementing a neural network in MXNetR. I attempted to customize my loss function to compute the correlation between my output vector and the targeting vector. Below is my code:

Below is my code:
[code]
And I got this error:
[code]
I tried to wrap the whole correlation formula in MXNet:
[code]
I can compile with this version, but my model runs very slowly and the code is apparently

[2017-06-09 12:50] patwa67 opened #6630 "Infer shape error"
My model below works fine when I set num_hidden=1, but not when I set num_hidden=2.
I get the error:
infer_shape error. Arguments:
data: (150, 9723L, 3L)
lin_reg_label: (150,)

Any suggestions how to get around the error?

[code]

[2017-06-09 13:20] offerm commented on #6596
I simplified the code so it will be easier to understand the situation (consider to change your example above):
# Generate testing data
train.x = matrix(data = rexp(120*6380, rate = 10), nrow = 120, ncol = 6380)
train.y = matrix(data = rexp(120*319, rate = 10), nrow = 120, ncol = 319)

# Define the input data
data <- mx.symbol.Variable("data")
# Define the first fully connected layer
fc1 <- mx.sym

[2017-06-09 13:26] nnguyen24 commented on #6596
@offerm: Thank you. I will spend time looking at the problem myself as well.

[2017-06-09 13:29] jmacglashan opened #6631 "infer_shape fails and bind fails, but infer_shape_partial succeeds"
MXNet version: 0.10

`infer_shape` and binding fails in certain conditions when the shape should be inferable, and in fact, `infer_shape_partial` is able to successfully infer the shape. In the below example, the problem seems to stem from applying an expand_dims operator after a symbol has been broadcast on an axis with size 0.

Setup:
[code]
Although the shape should be clear, `c.simple_bind(mx.

[2017-06-09 13:34] offerm commented on #6596
Also check test_operator.py line 1721 (unittest_correlation). Looks like it does expect 4U tensor.

[2017-06-09 15:50] starimpact commented on #6421
oh ...I have been finished the code in the ps-lite and kvstore. But there is some bugs. How can I debug easily a distributed system....
@mli @piiswrong

[2017-06-09 17:15] piiswrong commented on #6631
This is because concat doesn't do backward shape inference yet. You can verify it by grouping y3 and c, then do infer_shape_partial. You'll see y3 is still empty.

it can be fixed by adding backward shape infer to concat. Would you like to propose a fix?

[2017-06-09 17:16] piiswrong commented on #6630
@reminisce

[2017-06-09 17:42] reminisce commented on #6631
`infer_partial_shape` not raising exceptions doesn't mean the shape inference is completed without problems. In the backend, `infer_partial_shape` and `infer_shape` do the same thing, except that `infer_partial_shape` would return shape inference results even though some shapes cannot be inferred, while `infer_shape` would print error messages (what shapes cannot be inferred) and return None. simp

[2017-06-09 17:52] patwa67 commented on #6630
And there will still be only one loss function?

[2017-06-09 19:07] #5262 closed

[2017-06-09 19:35] offerm commented on #6596
So  I managed to use the correlation with this code:

require(mxnet)
A = mx.symbol.Variable('A')
B = mx.symbol.Variable('B')
C = mx.symbol.Correlation(A,B,kernel_size = 1,max_displacement = 1,stride1 = 1,stride2 = 1
                          ,pad_size = 4,is_multiply = FALSE)
#C = mx.symbol.sort(A+B)
a = mx.nd.reshape(mx.nd.zeros(c(4), mx.cpu()),shape=c(1,1,1,4))
b = mx.nd.reshape(mx.nd.array(as.a

[2017-06-10 01:13] jmacglashan commented on #6631
I'm not sure how it is the case that concact doesn't do backward shape inference. Everything works fine when you don't do expand_dims. The last code block that I posted *works* and that involves the shape having to be inferred from the concat. How is that working if concat doesn't do backward shape inference? If by some chance that fixes it though, then that's great. I would propose a fix, but I'm

[2017-06-10 03:44] reminisce commented on #6631
@jmacglashan If `infer_shape` failed, it should print the error message containing words
`Cannot decide shape for the following arguments...`. What are the input args that the error message suggest you consider providing shapes for?

What is `x2` in your script?

[2017-06-10 03:50] winstywang opened #6643 "Unstable training speed with new Image iter"
I encounter quite unstable training speed with the latest Image iter. I have already load all the data into RAM, so there should not be any problem with the bandwidth between disk and memory. It seems that it cannot fully utilize the CPU resources. If I choose 16 CPU workers, the occupancy may vary between 600% to 1500%. This may slow down the training by almost a half, but it may recover after se

[2017-06-10 03:58] winstywang opened #6644 "incompatibility between backward mirror and batch normalization"
Currently the MXNET_BACKWARD_DO_MIRROR=1 cannot work with batch norm layer followed by ReLU activation. Error message:  src/operator/./cudnn_batch_norm-inl.h:62: Check failed: req[cudnnbatchnorm::kOut] == kWriteTo (0 vs. 1)

It is closely related to this issue: https://github.com/dmlc/mxnet/issues/4187 It should be fixed after NNVM is merged in, however it still does not work so far...

@piiswrong

[2017-06-10 03:59] #3709 closed

[2017-06-10 05:54] sergeykolychev commented on #6615
@sbodenstein when I try to use padding for convolution if mxnet is linked against mkl it crashes. just one more example of some buggy mkl related area.

[2017-06-10 06:14] ykim362 commented on #6615
@sbodenstein Could you provide some more details? Are you referring to the dimension of the tensor? If so, in what dimension does that crash?

[2017-06-10 07:46] rococopeach opened #6645 "How to concat mxnet::cpp::NDArray?"
What is the best way to concat mxnet::cpp::NDArray?
I have a std::vector<mxnet::cpp::NDArray> and context is gpu.
How can I merge them and get new NDArray?

[2017-06-10 11:34] jmacglashan commented on #6631
This is the complete output on the infer_shape:
[code]

So it thinks there are zeros, but then doesn't report any. And indeed, the infer_shape_partial does not report any zeros. I listed it's output shape previously, but for completeness, here the full output of that call:
[code]
As you can see, everything is complete, with no zeros.

`x2` shouldn't have been there, sorry. I originally had one mor

[2017-06-10 11:44] patwa67 commented on #6630
I changed to:
[code]

and then ran with num_hidden = 2, but this just produces two copies of the num_hidden = 1 case.

[2017-06-10 12:50] tornadomeet commented on #6483
@ysh329 have you solved it ?

[2017-06-10 13:19] starimpact commented on #6421
haha, I fixed the bugs. Now my distribution training system (based on mxnet0.8.0) can support partial weight update now!
@mli @piiswrong

[2017-06-10 13:27] starimpact opened #6646 "[New Function]Let kvstore and kvstore_dist support partial weight update."
I have finished the code which is based on mxnet_0.8.0. My new distribution training system can do partial weight update now!
see #6421
see the repository: https://github.com/starimpact/mxnet_v0.8.0/tree/bProxy_Weight

[2017-06-10 14:35] yuconglin opened #6647 "does mxnet have arctan2 implementation as a symbol?"

[2017-06-10 17:25] thirdwing opened #6648 "[R] R api doc"
Currently, the api docs are missing from our website.

[2017-06-10 17:32] thirdwing commented on #3818
#3625 has been fixed. I am closing this now. Feel free to reopen.

[2017-06-10 17:32] #3818 closed

[2017-06-10 20:33] szha commented on #6631
I had a similar issue in #5568 with different ops but same problem (failed infer_shape but all results present in infer_shape_partial)

[2017-06-10 23:00] hotpxl opened #6649 "Execution time differ with iterations"
## Environment info
Operating System:
Tested with both Arch Linux and Ubuntu 14.04

Compiler:
Tested with both gcc 4.8.4 and 7.1.1

Package used (Python/R/Scala/Julia):
None

MXNet commit hash (`git rev-parse HEAD`):
d75ef8eb65a56ecec6613458017a0c83f7a9ed34
(just a few commits behind current master)

If you are using python package, please provide

Python version and distribution:
tested with both

[2017-06-10 23:08] #6649 closed

[2017-06-10 23:08] hotpxl commented on #6649
我傻逼！
size of `h` changed....

[2017-06-10 23:50] jeremiedb opened #6650 "[R] mx.nd.concat is expecting a MXNDArray instead of a list of MXNDArray"
I think there might be a issue with the expected format of the `data` argument in `mx.nd.concat`. An error is returned if a list of MXNDArray is passed as argument mentionning:

[code]

The equivalent code using `mx.symbol.concat` works fine.

[2017-06-11 00:13] yangshao opened #6651 "how to use multiple gpus when using mxnet based keras?"
As mxnet seems to support keras now, is there any interface to use multiple gpus? thanks.

For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:

Compiler:

Package used (Python/R/Scala/Julia):

MXNet version:

Or if installed from source:

MXNet commit has

[2017-06-11 00:50] davidduo opened #6652 "Is there a method for automatic adjustment of learning rate?"
with callback function, we can make learning rate drop by some rate after fixed epochs or batches in training. Is there a method for automatic adjustment of learning rate, for example according some evaluation metric in training? For example, if the accuracy of validation set does not increase for 3 epoch, then learning rate drop by 1/10?

[2017-06-11 01:22] reminisce commented on #6631
@jmacglashan There are two problems:
1. `c = mx.sym.concat(x, y3, dim=1)` should be `c = mx.sym.concat(x, y3, dim=0)`
1. When you `y2 = mx.sym.broadcast_axis(y, axis=0, size=0)`, this leaves an internal node with undetermined output shapes (0 in the first dim). As MXNet does not support empty tensors, this is still treated as `infer_shape` failure even though arg shapes and output shapes can be de

[2017-06-11 01:45] piiswrong commented on #6631
@jmacglashan Looks like its expand_dims that's not doing backward shape infer. You can try fix the infer_shape function

[2017-06-11 03:01] undertherain commented on #4696
I'm having the same error.
Installed latest mxnet with pip.

CentOS Linux release 7.3.1611 (Core)
Python 3.6.1
Cuda compilation tools, release 8.0, V8.0.61

[2017-06-11 03:38] DarkerDreamer opened #6653 "How dose mxnet.symbol.Custom add arguments?"
How dose mxnet.symbol.Custom add arguments that can be manipulated and saved/loaded to param file in the same way as  weight/bias for mxnet.symbol.Convolution and gamma for mxnet.symbol.LeakyReLu?

[2017-06-11 04:43] jmacglashan commented on #6631
@reminisce No, those are not mistakes :p The concat dim was deliberately dim=1 and *not* dim=0. This simplified example actually followed from a use case myself and colleagues had where concat was on a second dimension (has to do with mixture models).

The broadcast_axis was also deliberately sized to zero so that it can be inferred to match the batch dimension. (In actual practice x would be some

[2017-06-11 04:57] reminisce commented on #6631
@jmacglashan I see. I went through the InferShape pass in gdb and noticed the output of broadcast_axis's shape has 0 in the first dim at the end of the pass, which should have been back-inferred by the output of expand_dims. I can help by submitting a PR to fix this.

[2017-06-11 05:30] jaredlander commented on #362
This will help a lot. Has this been merged upstream and are binaries ready?

Also, people have really started to use RDS files or RData.  Extending this functionality to RDS would be huge if you can.

[2017-06-11 05:50] thirdwing commented on #362
@jaredlander This has been merged in #6494 .

After `mx.serialize`, it is basically the R object, you can save into RDS as you like.

[2017-06-11 05:53] dsqx71 commented on #6647
MXNet only has arctan symbol, you can use CustomOp to implement arctan2.

[2017-06-11 07:40] akturtle opened #6656 "Is it possible that use python to write a custom convolutional layer?"
I want to write a custom convolutional layer. I've checked the example of softmax. But softmax doesn't contain any parameters. Anyone know how to do it?

[2017-06-11 08:03] yancz1989 opened #6657 "Get error "TBlob.get_with_shape: new and old shape do not match total elements". Can anyone help me with this?"
I'm implementing a simple segmentation using mxnet. I tried this code.
[code]

I get error

I have checked the infer_shape which is the same with input dimension. I wonder what the problem is. Thanks for any advice.

[2017-06-11 08:20] Ldpe2G commented on #6656
@akturtle you can refer to https://github.com/pangyupo/mxnet_center_loss/blob/master/center_loss.py

[2017-06-11 10:42] alues commented on #6603
any update for this problem? @sbodenstein

[2017-06-11 10:45] codentropy opened #6658 "Could NOT find MKL (missing: MKL_INCLUDE_DIR MKL_RT_LIBRARY)"
hello, i want to install mxnet with python interface in win10 by vs2017.
as i run cmake -G  "Visual Studio 15 2017" in gitbash console, the MKL NOT FOUND error comes out:
$ cmake -G "Visual Studio 15 2017"
-- Could NOT find MKL (missing: MKL_INCLUDE_DIR MKL_RT_LIBRARY)
--  MKL not found
CMake Error at CMakeLists.txt:129 (include):
  include could not find load file:

    mshadowUtils
...
i think i

[2017-06-11 12:44] jmacglashan commented on #6631
Great, thanks very much!

[2017-06-11 13:21] saicoco commented on #6652
params for lr can be set in optimizer, refet [this](http://mxnet.io/api/python/optimization.html#the-mxnet-lr-scheduler-package), `mx.optimizer.optimizer(lr_scheduler=lrs)` can achieve you task

[2017-06-11 15:33] divfor commented on #5835
@szha it is solved, thanks!

[2017-06-11 15:40] merl-dev commented on #5849
Explored all the solutions and links, but none seems to help.  Constantly getting this warning message making mxnet unusable from jupyter notebook. And this is localised only to mxnet under jupyter, and no other package.  Is there an mxnet solution?

[2017-06-11 16:38] piiswrong commented on #6653
in list arguments()

[2017-06-11 17:17] javelinjs commented on #6554
0.10.0-SNAPSHOT has been published. Have a try please.

[2017-06-11 18:01] jeremiedb commented on #6650
Actually it's `mx.symbol.Concat` that works properly, `mx.symbol.concat` is also causing issue:

[code]

Sorry for the confusion!

[2017-06-12 00:30] tornadomeet commented on #6657
what's the output shape of `decoder`?
what's the shape of your `train.provide_data` and `train.provide_label`?

[2017-06-12 01:16] yancz1989 commented on #6657
@tornadomeet under current setting, output shape of decoder, train.provide_data and train.provide_label are all (batchsize, 1, 450, 794).

[2017-06-12 01:37] GuilongZh opened #6662 "Ubuntu building R mxnet, when i run 'make rpkg', procuced Error."
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Release:	16.04

Compiler:
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609

Package used (Python/R/Scala/Julia):
R

MXNet version:
installed from

[2017-06-12 03:10] janelu9 opened #6663 "can mxnet support incremental training？"
go on trainning a pre-trained modle

[2017-06-12 03:34] chao1224 commented on #4887
@zouweijia
I got the same problem. But sometimes before training, and sometimes after training.

[2017-06-12 03:36] formath commented on #6663
http://mxnet.io/how_to/finetune.html

[2017-06-12 06:11] yja1 opened #6664 "cudnn_rnn-inl.h:233：对‘cudnnRNNBackwardData’未定义的引用"
when i make ,cause error:
cudnn_rnn-inl.h:233：对‘cudnnRNNBackwardData’未定义的引用
./cudnn_rnn-inl.h:260：对‘cudnnRNNBackwardWeights’未定义的引用
collect2: error: ld returned 1 exit status
Makefile:205: recipe for target 'bin/im2rec' failed

gcc (Ubuntu 4.8.4-1ubuntu15) 4.8.4
libcudnn.so.5.1.10
cuda8.0

i have add in config.mk
ADD_LDFLAGS = -L/home/user/cudnn8.0/lib64
ADD_CFLAGS = -I/home/user/cudnn8.0/include

[2017-06-12 07:11] TalFurman commented on #6300
Tnx,
It solved it.
Tal

[2017-06-12 07:26] sriharikarnam commented on #6257
We are thinking of more modular approach, like introducing another flag MXNET_USE_GPU, this would have an inline function defined that will be common for both CUDA and HIP implementations, we would separate the inline function implementations into two different files specific to CUDA and HIP, based on the flag that is defined, the preprocessor would expand the inline function into the correspondin

[2017-06-12 09:15] DoubleKing0625 commented on #6245
Hi, i have met the same problem. And how to install CUDA7.5 and CUDA8.0 in same computer or just uninstall CUDA8.0 then install CUDA7.5???

[2017-06-12 09:45] undertherain commented on #4696
Just tried to recompile from source - same error.
used latest code from github

[2017-06-12 09:57] Ldpe2G commented on #6245
You should use the lastest cuda 8, I update cuda 8 from 8.0.27 to cuda 8.0.61 and problem solved.
You can install both cuda 7.5 and cuda 8 on the same computer. I install driver and cuda using the run file.

[2017-06-12 09:59] DoubleKing0625 commented on #6245
Thanks a lot  !!

[2017-06-12 10:02] Shiro-LK opened #6666 "Mxnet : test and validation accuracy during training ?"
hello,

I am trying to have the training, the test and validation accuracy at the end of each epoch. To do that, I indicate in the fit function the validation accuracy with the eval_data parameters. But I have a problem with the test accuracy. I wanted to add this option in the eval_end_callbacks thank to the function mx.callback.Speedometer. I do not have an error but I do not see and do not know

[2017-06-12 11:17] slye0612 commented on #5849
@merl-dev so do I, have you  solved the problem now?

[2017-06-12 14:03] merl-dev commented on #5849
Since this is only a problem in python jupyter (which is unfortunate), I decided that until resolved I'll work with mxnet through Julia/Flux where it runs well as a backend and enables lower level direct access to mxnet functionality.

[2017-06-12 14:03] nikrao opened #6667 "Segmentation Fault when training in batches v0.10"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:
Ubuntu

Package used (Python/R/Scala/Julia): Python

MXNet version: 0.10.0

Python version and distribution: 2.7

## Error Message:
loading data
X
Y
[New Thread 0x7ffff0b9d700 (LWP 4558)]
[New Thread 0x7

[2017-06-12 14:24] tornadomeet commented on #6657
ok. i suggest make sure which line cause this error, maybe it's not in your post code. or you can use minimum the symbol code to debug that.

[2017-06-12 15:31] jk314 commented on #5756
I have a simmilar question to itijyou. Is there an assignment analog to the ndarray.take function ?
For example, lets take a simple case of sorting, where we take an array 'a', and attempt to set the 4 lowest valued indices to 0. The last step 'a[c] = 0' does not throw an error, however it also does not perform the assignment to 'a'.

python

array([ 1.,  4.,  6.,  2.,  4.,  5.,  6.,  2.], dtype=f

[2017-06-12 16:31] ashwin-cognitiv opened #6668 "How to save the metrics in each epoch?"
I've been successfully saving metrics at the end of each batch in a batch callback function passed into fit, but I want to do the same for epochs with an epoch end callback function.
Unfortunately, the epoch callback function expects these 4 arguments:` epoch, self.symbol, arg_params, aux_params`, unlike the batch callback function which only requires: `param`.

The batch callback metrics are easy

[2017-06-12 16:36] sbodenstein commented on #6615
@ykim362:

[code]
produces:
[code]

[2017-06-12 16:44] sbodenstein commented on #6615
@sergeykolychev: could you give an explicit example that fails for you?

[2017-06-12 16:58] #6631 closed

[2017-06-12 16:59] ashwin-cognitiv commented on #6666
I've been having the same issue. Besides repeatedly swapping the eval_data with the test_iter data to compare it with the training data, I'm still not sure how to print all 3 at the end of the epoch.

[2017-06-12 17:05] tqchen commented on #6257
That makes sense.

[2017-06-12 17:32] thirdwing commented on #6662
I am sorry that I don't know why you met the error.

Can you run `R CMD INSTALL R-package` manually and show me what happened?

[2017-06-12 19:35] ykim362 commented on #6615
Thanks, @sbodenstein !

I will investigate the case.

[2017-06-12 20:08] ashwin-cognitiv commented on #6668
Never mind.... Since no one will probably answer this...., in case anyone has this issue in the future:
just pass in an extra parameter into the epoch end callback function for your metric or metrics list and call get_name_value() on that.

[2017-06-12 20:08] #6668 closed

[2017-06-12 21:03] ykim362 commented on #6615
@sbodenstein ,
Currently, MKL relu is only enabled for 2D, 3D and 4D tensors.
Even though 1D tensor can be supported by MKL, it hasn't been enabled, yet. Above example is 1D tensor case.

I will fix two and make a pull request.
(1) Correctly support 1D tensor.
(2) In the case of non-supported dimensions (higher than 4D), make use of the default 3rd party library.

I will also look into the way how

[2017-06-12 21:20] patricianing opened #6672 "loading ndarray file in cpp fails"
Trying to load nd file into mxnet through cpp API, can't access the components
e.g.
const mx_float* M = NDArray::LoadToMap("XXXX/mean.nd")["mean_image"].GetData();
float a = M[0];

or
size_t i1 = NDArray::LoadToMap("XXXX/mean.nd")["mean_img"].GetShape()[0];
size_t i2 = NDArray::LoadToMap("XXXX/mean.nd")["mean_img"].GetShape()[1];

Both will return segmentation fault error.

Loading the same .nd fi

[2017-06-12 23:11] GuilongZh commented on #6662
~/Downloads/rmxnet/mxnet$ R CMD INSTALL R-package
Warning: invalid package ‘R-package’
Error: ERROR: no packages specified

That 'R-package' is the folder? like the following？

zhang@ubu:~/Downloads/rmxnet/mxnet$ ls
amalgamation     dlpack       make           plugin           snapcraft.yaml
appveyor.yml     dmlc-core    Makefile       prepare_mkl.sh   snap.python
bin              docker       mat

[2017-06-12 23:12] thirdwing commented on #6662
Yes, the "R-package" is a folder.

On Mon, Jun 12, 2017 at 4:11 PM, GuilongZh <notifications@github.com> wrote:

[2017-06-12 23:27] winitzki commented on #6554
The issue with CTC Loss is now resolved (model can be loaded) when using the snapshot artifact under OS X,

[code]

Thank you for a quick response!

[2017-06-13 00:23] dragonhyq opened #6677 "Cannot find Scala source code or documentation that matches the current compiled code/library"
Dear all,

I was trying to use mxnet scala API while reading its source, and I could not find its source or documentation.

For example.

I was reading an example in [mnist classification](https://github.com/dmlc/mxnet/blob/master/scala-package/examples/src/main/scala/ml/dmlc/mxnetexamples/imclassification/TrainMnist.scala), and I was trying to find the definition of `Symbol.FullyConnected()`, so

[2017-06-13 00:41] yancz1989 commented on #6657
@tornadomeet Fact is that if I remove the the last convolution layer, named "deconv1_1", making the output shape smaller than the input, the algorithm could run perfectly. Otherwise, it output an error. I use only one batch data for testing this.

[2017-06-13 00:56] Ldpe2G commented on #6677
@dragonhyq  Scalapkg now use macro to automatically generate the symbol(operator, layer), so no needs to add symbols by hand. That's why you can not find the definition of FullyConnected in source code.

[2017-06-13 01:21] dragonhyq commented on #6677
@Ldpe2G Thanks for your reply. So, what would be the best way to know what operations are available for a Symbol object since there is no documentation/source-code for that? I can go through the list that pops up in IntelliJ after writing `Symbol` to see what's there and just choose the one I want, but is there a better way?

[2017-06-13 01:42] Ldpe2G commented on #6677
@dragonhyq
There are two ways:
you can refer to the python doc: http://mxnet.io/api/python/symbol.html#api-reference,
or refer to the C++ source code: https://github.com/dmlc/mxnet/tree/master/src/operator

[2017-06-13 02:14] undertherain commented on #4696
okey, looks like with pip it always comes without GPU support

for compilation from sources, `python3 setup.py install` was not overwriting existing  pip-installed package somehow.

After I manually deleted mxnet from dist-packages, and re-installed from sources it is working.

Would be nice to have GPU-enabled version from pip though..

[2017-06-13 02:38] hereislife opened #6678 "Compile for Android(arm64) failed, amalgamation"
## Environment info
Operating System: ubuntu 16.04

Compiler: aarch64-linux-android-g++

Package used (Python/R/Scala/Julia): Python

MXNet version: 0.10.0

MXNet commit hash (`git rev-parse HEAD`): ba2d9f61aa7b744c4ec3243097fb7170ad06012c

Python version: Python3.5

## Error Message:

/home/android-toolchain/bin/aarch64-linux-android-g++ -std=c++11 -Wno-unknown-pragmas -Wall -DMSHADOW_USE_CBLAS=0

[2017-06-13 03:11] chunyang-wen commented on #6672
Can you provide stacks of core file?

[2017-06-13 04:40] dragonhyq commented on #6677
@Ldpe2G Thanks, I will do that!

[2017-06-13 07:33] flice commented on #6189
@qclu  I also update code follow(mxnet version 0.10.0):
OcrIter.provide_data to [('data', (batch_size, 80, 30))] + init_states
and it can run,but rtrain_Accuracy keeps 0.000000. do you get the same result?

[2017-06-13 10:26] coolbrain opened #6682 "pre-trained resnext model doesn't work"
I  downloaded the pre-trained resnext-50 model from http://data.mxnet.io/models/imagenet/resnext/50-layers/  and I processed the imagenet1k_val data by
python ${CUR_DIR}/../../../tools/im2rec.py --resize 256 --quality 90 --num-thread 16 imagenet1k-val val/
But when I execute this script in the terminal:
python score.py  --gpus 0,1,2,3 --model=imagenet1k-resnext-50 --data-val=../../../../data/image

[2017-06-13 11:43] 123xiao45678 opened #6683 "introduction to statistical learning with R"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:

Compiler:

Package used (Python/R/Scala/Julia):

MXNet version:

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are using python package, please provide

Python version

[2017-06-13 12:48] lx75249 commented on #6645
Concat() in op.h

[2017-06-13 14:25] #6516 closed

[2017-06-13 14:45] javelinjs commented on #6554
You're welcome. Close this issue for now.

[2017-06-13 14:45] #6554 closed

[2017-06-13 14:47] patricianing commented on #6672
@chunyang-wen
The generated core file is not readable. Please try the following snippet with some nd file:

#include <stdio.h>
#include <mxnet/c_predict_api.h>
#include <iostream>
#include <fstream>
#include <string>
#include <vector>
#include <opencv2/opencv.hpp>
#include <mxnet-cpp/MxNetCpp.h>
#include <map>

 using namespace mxnet::cpp;

int main(int argc, char* argv[]) {
const mx_float* mean_i

[2017-06-13 14:52] GuilongZh commented on #6662
Yes, you are right. I found there are two versions of R on my computer. And i installed mxnet in one of versions.  Thanks for your help!

[2017-06-13 14:52] #6662 closed

[2017-06-13 16:03] chuckbasstan123 commented on #6405
Resolved by upgrading mxnet to 1.0

[2017-06-13 16:03] #6405 closed

[2017-06-13 16:06] chinakook commented on #6244
@YonghaoHe @piiswrong  you should add module.get_outputs()[0].wait_to_read() to block the forward() pipe to measure duration.

[2017-06-13 16:08] chunyang-wen commented on #6672
If you compile your program on Linux, you can use gdb to view the core file. I test following program, it works fine and the program gives correct results(6, 4). (mxnet build from master branch)

I save NDArray in python and load it back using C++. Maybe you can check whether the two versions of libmxnet.so (write in python and read in cpp) are compatible if they are not the same.

[code]

[code]

[2017-06-13 16:19] chunyang-wen commented on #6667
Interested things found on [SO](https://stackoverflow.com/questions/41117740/tensorflow-crashes-with-cublas-status-alloc-failed)

Maybe there are memory issues or any improving actions need to be taken.

[2017-06-13 16:31] nikrao commented on #6667
Are there plans to have a patch or something for mxnet?

[2017-06-13 16:33] chunyang-wen commented on #6630
[Symbol-FullyConnected](http://mxnet.io/api/python/symbol.html#mxnet.symbol.FullyConnected)

num_hidden (int, required) – Number of hidden nodes of the output. So when set num_hidden = 2, you are expecting two outputs instead of one for each data instance.

[2017-06-13 16:40] chinakook opened #6685 "!!!GPU performance of Cmake built mxnet is worse than Make built one"
I have tested the three cases many times as below:
1. When running train_mnist.py(GPU) on the Cmake built mxnet on Ubuntu, the average epoch time cost is
0.7s. But the Make built mxnet on Ubuntu takes only 0.42s.

2. When running train_mnist.py(GPU) on the Cmake built mxnet on Windows, the average epoch time cost is 0.822s, even longer than running the script on MKL. The CPU(MKL) mode is about 0.6

[2017-06-13 16:49] chuckbasstan123 opened #6686 "Segmentation Fault mx.sym.Convolution ops in CPU but working in GPU"
I met a wired issue about `mx.sym.Convolution` operation with the error message of `segmentation fault` in ubuntu machine and `Segmentation fault: 11` in MAC machine under `mx.cpu()` context.
However, the same code is working under `mx.gpu(0)`.

## Environment info
Operating System: Ubuntu16.06 and MAC OS
Package used (Python/R/Scala/Julia): Python
MXNet version:'0.10.0' (with default `pip install

[2017-06-13 17:16] #6683 closed

[2017-06-13 17:49] dtmoodie commented on #6592
Try these out:
https://drive.google.com/open?id=0B2d_9zd_Bt2ZbkdDbk1vbTR4Yms

[2017-06-13 17:57] jaredlander commented on #362
OK, will look into this.  Not sure that function is in version 0.10.1.

[2017-06-13 18:26] yzou2 opened #6687 "Converted mxnet model from caffe can't perform as good as in cafffe"
I have converted an image segmentation caffemodel to mxnet by convert_model.py. Although I could use the converted model to predict a 1024x2048 image, the performance is not as good as caffe, that can be easily seen in the following.

Original image:
![frankfurt_000000_016286_leftimg8bit](https://user-images.githubusercontent.com/20036855/27097947-df712d5a-5043-11e7-9000-ebcd1e047a51.png)
Ground t

[2017-06-13 18:36] nikrao commented on #6667
and to add: is there a corresponding fix for mxnet? something like tf.config() in the SO link you pointed me to?

[2017-06-13 19:20] patricianing commented on #6672
@chunyang-wen Thanks! Your example works.
The one I am having trouble with loading is the model I converted from caffe model zoo. The model has a mean.binaryproto which can be converted through mxnet/tool/caffe_converter/convert_mean.py and I have problem loading the converted file. Do you think it is the version?

[2017-06-13 19:34] yzou2 commented on #6687
Is it possible that the performance gap comes from the difference of basic layers?

The neural net visualized in MXnet is given as follows.
[Deeplab.pdf](https://github.com/dmlc/mxnet/files/1072624/Deeplab.pdf)

In caffe, the net visualization is given as follows.
[resnet-101_dl.pdf](https://github.com/dmlc/mxnet/files/1072639/resnet-101_dl.pdf)

[2017-06-13 21:03] zhreshold commented on #6592
I have no problem training with your data.
There seems to be a problem with your code,
[code]
will estimate the maximum label width in record file, however, we have train.rec and val.rec, so the estimated widths might differ, causing the data shape inconsistent between training/validation, which will trigger the crash.
@dtmoodie

[2017-06-13 21:10] dtmoodie commented on #6592
Could you clarify the meaning of label_pad_width, I was under the impression that it pads the images such that all images are of label_pad_width size.  Thus the input data and labels are of a consistent size within a batch.
I thought setting this to -1 was automatically determining the value at runtime.
I did this because the mapillary dataset has different size images, and it may be that the smal

[2017-06-13 21:20] zhreshold commented on #6592
1. since each image has different number of objects, the label widths are different, this is fine within the record and list file.
2. During training, the data shape as well as label shape must be consistent across the training, thus the label_pad_width is used to pad every label to maximum width, use -1 here is still good because it will estimate the max width, for example, 200
3. However, the au

[2017-06-13 21:33] patricianing commented on #6672
@chunyang-wen  I tried the following, first one with newly created my_dict as you did in previous post, second one with caffe_convert_mean converted file:

(1)
std::map<std::string, NDArray> params = NDArray::LoadToMap("my_dict");
NDArray x = params["x"];
size_t t1 = x.GetShape()[0];
cout << t1 << endl;

(2)
std::map<std::string, NDArray> params2 = NDArray::LoadToMap("XXXX/mean.nd");
NDArray x2 =

[2017-06-13 21:38] dtmoodie commented on #6592
Ah this makes more sense now. So width is not a pixel value but rather the number of objects?

[2017-06-13 22:14] thirdwing commented on #4939
@vk99

I have made some changes in our R APIs, which allow users to set the input/output names in the network. A MF demo might be like below, where you need to define your own iterator. Please let me know your opinion, we can adjust according to users' comments.

[code]

[code]

[2017-06-13 22:16] thirdwing commented on #4386
@p2004r The proper way is to define your own iterator like below. You can find a small demo in #6673

[code]

[2017-06-13 22:22] thirdwing commented on #6570
I think this can be done in a callback function.

In `function(iteration, nbatch, env, verbose)`, the `env` is an environment, where you can store your results.

[2017-06-13 22:26] thirdwing commented on #1269
I think this can be solved by #6673 , where you can define your own iterator and put into the training process.

[2017-06-13 23:25] zhreshold commented on #6592
yes

[2017-06-13 23:30] Ldpe2G commented on #6667
@nikrao are you using the lastest cuda 8? if not try upgrad cuda. It may solve the problem i guess.

[2017-06-13 23:30] thirdwing commented on #6629
I am afraid there is already error in your code to reshape the data:

[code]

Can you provide the code to reproduce `Not enough information to get shapes`?

[2017-06-14 00:34] angelsrates commented on #4916
Hi there,
Did you figure this out? I am getting the same issue. Thanks!

[2017-06-14 00:38] chinakook commented on #6685
I have also tested the detection on another computer with TITAN X(Maxwell). The CPU mode gets 61s but the GPU mode gets 89s. It's so strange!

[2017-06-14 00:41] tornadomeet commented on #6657
but `deconv1_1` do not change the shape when ```kernel=(3,3)``` and ```pad=(1,1)```

[2017-06-14 01:06] jeremiedb commented on #6650
I just recompiled and still cannot make the mx.nd.concat or mx.nd.Concat work. Did I miss something obvious? Thanks!

[2017-06-14 01:18] yancz1989 commented on #6657
@tornadomeet Yes, and that's exactly what I want, to make the input and output shape the same.

[2017-06-14 01:20] chinakook commented on #6685
I use the Makefile instead of the CMake and the problem is solved.

[2017-06-14 01:45] chunyang-wen commented on #6672
can you please provide the full stack trace to help further locate the problems ?

[2017-06-14 01:55] tornadomeet commented on #6657
so your segmentation clss number is ```32```?
try change `deconv1_1` to
[code]

[2017-06-14 02:01] patricianing commented on #6672
[code]

GetData() has the similar problem.

[2017-06-14 02:07] tornadomeet commented on #6657
your label should be ```(batchsize, cls_num, 450, 794)```, and the num_filer of `deconv1_1` should be `cls_num`.

[2017-06-14 02:17] yancz1989 commented on #6657
I use synthetic data just for a test. Class number is 31, and I leave one as ignore label.

[2017-06-14 02:19] chunyang-wen commented on #6672
[code]

It seems that `LoadToMap` loads the dict back, but there is no data in the value of ['mean_image']. I think you can try to check other contents. And make sure the converter does what you want.

[2017-06-14 02:58] onealwj opened #6689 "grouped convolutions seemingly not very efficiently"
I implemented mobilenet but forward time looks slow in GPU. I use grouped conv to implement depthwise conv, set group equal to number of feature maps. The computation reduced by depthwise conv dosn't make inference time decrease. The mobilenet impemented by TF seem to be much faster[https://github.com/Zehaos/MobileNet](url),

[2017-06-14 03:00] aktiger commented on #6689
I encounter the same problem, will MxNet  add a more efficient group convolutions implementation ?

[2017-06-14 03:15] tqx0808 commented on #4696
thanks, @undertherain  is right, delete /usr/local/lib/python2.7/mxnet_*** , then install again.

[2017-06-14 03:57] xinq2016 commented on #6603
is there any update for this issue? @piiswrong, @sbodenstein
and there is a question may be not related to mxnet.
I've built the deep speech2 architecture in keras, tensorflow, and mxnet, but any of them achieves a good performance.
The architecture is believed to be right. So how can I optimize the neural network to get the performance in  papers?

Many thanks

[2017-06-14 04:14] patricianing commented on #6672
@chunyang-wen The same converted file can be loaded through python API mx.ndarray.load()

[2017-06-14 04:19] patricianing commented on #6672
@chunyang-wen
[code]

[2017-06-14 05:37] chunyang-wen commented on #6672
can you provide the file "mean.nd" to me?

Currently I have no idea what happens. You can send the file to my gmail if it is ok for you.

[2017-06-14 06:47] KeyKy commented on #5891
[here](https://github.com/KeyKy/mobilenet-mxnet) has a mobilenet.

[2017-06-14 07:58] patwa67 commented on #6630
I thought num_hidden = 2 meant two nodes of one layer, and that these nodes could be connected to a one unit output without adding one more layer. This is obviously not the case. It can be solved by adding an extra layer with num_hidden = 1.

[2017-06-14 08:33] changss commented on #6189
@flice  Do you have solved this problem? I also have this issue!

[2017-06-14 08:59] 546492928 opened #6691 "Installation problems: mxnet for R-3.1.3 on windows8.1 x64"
I run following codes to install mxnet for R-3.1.3 on windows8.1 x64,
install.packages("drat", repos="https://cran.rstudio.com")
drat:::addRepo("dmlc")
install.packages("mxnet")

The error messages are:

Installing package into ‘C:/Users/turbo1/Documents/R/win-library/3.1’
(as ‘lib’ is unspecified)
trying URL 'https://cran.rstudio.com/bin/windows/contrib/3.1/drat_0.1.0.zip'
Content type 'applicati

[2017-06-14 09:05] p2004r commented on #4386
Thank you.

[2017-06-14 09:23] RogerBorras commented on #6691
Update to R v.3.3 or 3.4!

[2017-06-14 10:25] #6628 closed

[2017-06-14 10:46] chinakook commented on #6687
I think that the BatchNorm layer with epslion is the main reason for that. If the epslion is lower than 1e-5(cudnn can not process the value lower than 1e-5), the caffe-to-mxnet convertion will lose accuracy.

[2017-06-14 10:58] vikingMei opened #6692 "how to debug network layer by layer"
first of all, thank very much for afford such powerful tool

I'm try to combine [NCE loss](https://github.com/dmlc/mxnet/tree/master/example/nce-loss) and [bucketing LSTM](https://github.com/dmlc/mxnet/blob/master/example/rnn/cudnn_lstm_bucketing.py) in Python for few days. For now, the network is build successful and run without complain, the loss decreasing as batch feeding(very slow), and the P

[2017-06-14 11:17] chicn opened #6693 "[C++] MxPredCreate Error / operands shape mismatch"
Hi folks. 😄

Now, I'm trying to run [image-classification-predict.cc](https://github.com/dmlc/mxnet/blob/master/example/image-classification/predict-cpp/image-classification-predict.cc) like code to do an image classification with using [pre-trained model](https://github.com/pangyupo/mxnet_mtcnn_face_detection/tree/master/model).

However I receive an error of `shape mismatch` while copying a NDAr

[2017-06-14 11:17] chicn commented on #6693
I attached the link to download the model files I use. Thanks!!

[2017-06-14 11:51] 546492928 commented on #6691
@RogerBorras  I have tried it, but it still doesn't work, the error messages are as follows

Installing package into ‘C:/Users/shenliu/Documents/R/win-library/3.2’
(as ‘lib’ is unspecified)
trying URL 'https://cran.rstudio.com/bin/windows/contrib/3.2/drat_0.1.2.zip'
Content type 'application/zip' length 73018 bytes (71 KB)
downloaded 71 KB

package ‘drat’ successfully unpacked and MD5 sums checked

[2017-06-14 11:56] winstywang commented on #6692
A trick used by me is to create a "debug" custom op. It simply duplicate the input to output. With it, you can simply access to all the internal outputs of a network.

[2017-06-14 13:15] saicoco commented on #6692
You can try `mx.monitor.Monitor`(https://github.com/dmlc/mxnet/blob/master/python/mxnet/monitor.py#L16), which can monitor outputs, weights, and gradients for debugging.

[2017-06-14 13:29] patricianing commented on #6672
@chunyang-wen
Download model cnn_age_gender_models_and_data.0.0.2.zip
from http://www.openu.ac.il/home/hassner/projects/cnn_agegender/

Then use /mxnet/tools/caffe_converter/convert_mean.py to convert the mean.binaryproto to mean.nd. Then try to load it through CPP.

[2017-06-14 14:20] dtmoodie commented on #6592
@zhreshold are you building out of your repo or out of master?  Currently it looks like MultiBoxMetric is broken in master due to changes to EvalMetric.

[2017-06-14 14:29] AIROBOTAI commented on #4188
Has the problem been solved?

[2017-06-14 14:54] xyddj opened #6694 "Is there InfogainLoss output symbol in mxnet?"
I'm trying a regression work using mxnet, since the label is discrete, maybe "InfogainLoss" is better than LinearRegressionOutput. So is there a solution? Or I can only "make loss"?

[2017-06-14 15:00] chunyang-wen commented on #6672
It works fine for me.

[code]

[code]
converting method:

[code]

[2017-06-14 15:06] chunyang-wen commented on #6694
[Loss Layers](https://github.com/chunyang-wen/mxnet/tree/master/example/recommenders)

Maybe you can refer to the code to define your own loss layers.

[2017-06-14 15:47] vikingMei commented on #6692
@winstywang, thanks, could you tell more detail about your method?

[2017-06-14 16:03] vikingMei commented on #6692
I think I have found where's the problem.

as the monitor start before forward() call ( [see here](https://github.com/dmlc/mxnet/blob/master/python/mxnet/module/base_module.py#L484) ), and collection result after `backward()`, `update()`, `update_metric()` ([see here](https://github.com/dmlc/mxnet/blob/master/python/mxnet/module/base_module.py#L497)), while the tensor compute in `forward` may over

[2017-06-14 16:07] patricianing commented on #6672
@chunyang-wen Thanks! It seems I was using converted file from a different version of MXNET.

[2017-06-14 16:42] amlatimer commented on #6514
Thank you thirdwing!

[2017-06-14 16:51] thirdwing commented on #6691
I am afraid you are using R 3.2

[2017-06-14 17:04] ashwin-cognitiv opened #6695 "How do you save BOTH the validation and training metrics in each batch or epoch??"
## Environment info
Operating System: macOS

Package used (Python/R/Scala/Julia): Python

MXNet version: 0.10

Python version and distribution: Python 3.6.1

## What have you tried to solve it?
I wrote my own batch end callback function, which I passed into the fit method.
I have an option to save the file for the specified period of batches or epochs.
My method is like this: (In this example I'm

[2017-06-14 17:23] piiswrong commented on #6603
@sbodenstein I think making it work is enough for now. Let's use the new ctc layer.

[2017-06-14 18:15] dtmoodie commented on #6592
I've pulled dmlc/master and changed my training code to just be the following:

python train.py \
    --train-path=/data/mxnet/ssd/training_filelist.rec \
    --train-list=/data/mxnet/ssd/training_filelist.lst \
    --val-path=/data/mxnet/ssd/validation_filelist.rec \
    --val-list=/data/mxnet/ssd/validation_filelist.lst \
    --network=vgg16_ssd_512 \
    --pretrained=/mnt/network_data/mapillary

[2017-06-14 18:57] zhreshold commented on #6592
label-width 10000 is way too big for your dataset, thus taken too much memory and computation overhead

[2017-06-14 19:15] thirdwing commented on #6650
I can confirm this error and will fix it soon.

[2017-06-14 19:39] sagaragrawal13 commented on #5281
Hi, similar to gwern, I am also facing issues with optimizer rmsprop.

Could you please help. thanks in advance.

[2017-06-14 19:53] dtmoodie commented on #6592
The same thing happens with label-width=3000; system hang at conv performance tests.  However if I set it to 2000 I get:
mxnet.base.MXNetError: [19:51:29] /code/mxnet/src/io/iter_image_det_recordio.cc:308: ImageDetRecordIOParser: label_pad_width: 2000 smaller than estimated width: 2288

What setting did you use that worked correctly on this dataset?

[2017-06-14 19:55] thirdwing commented on #6650
@jeremiedb I think this is what we expect, right?

[code]

[2017-06-14 20:11] nikrao commented on #6667
I was using the AWS Deep Learning AMI Ubuntu.

[2017-06-14 20:42] Hexiang-Hu opened #6697 "Typo"
https://github.com/dmlc/mxnet/blob/430ea7bfbbda67d993996d81c7fd44d3a20ef846/tools/caffe_converter/convert_caffe_modelzoo.py#L61

Should be "resnet-101" instead of "resnt-101".

[2017-06-14 20:43] thirdwing commented on #347
@Sat9443321 Can you give more info on  error "enable the cuda"?

[2017-06-14 20:51] yzou2 commented on #6687
@chinakook I have varied the epslion from 1e-2 - 2e-5. The performance drop can't not be fixed.

[2017-06-14 22:08] thirdwing commented on #1518
I just found a good blog on autoencoder in R using MXNet from http://qiita.com/mwmsnn/items/6ca48a3b8292211c1acd

I will invite the author to write a vignette.

[2017-06-14 23:01] #1359 closed

[2017-06-14 23:54] yzou2 commented on #6687
I have attached the converted .json file as follows.

{
  "nodes": [
    {
      "op": "null",
      "name": "data",
      "inputs": []
    },
    {
      "op": "null",
      "name": "conv1_weight",
      "attr": {
        "kernel": "(7, 7)",
        "no_bias": "True",
        "num_filter": "64",
        "pad": "(3, 3)",
        "stride": "(2, 2)"
      },
      "inputs": []
    },
    {
      "op

[2017-06-15 00:41] 546492928 commented on #6691
@thirdwing
Does it only support the latest version of R ? If so, does it mean that once there is a new version of R, I need to update my R for using it?

[2017-06-15 00:58] thirdwing commented on #6691
Not always the latest one. But we are planning to use some new functions in R 3.3, so I am afraid you need R >= 3.3.0 to use mxnet.

[2017-06-15 01:20] chunyang-wen commented on #6697
you can send a pull request for it. And you are contributing to the project!

[2017-06-15 02:23] akturtle commented on #6656
@Ldpe2G Thanks,  but this example uses its own updating rule.  I want to know how to assign the gradient of parameters.  Then we can use the optimizer of mxnet to update it.

[2017-06-15 02:56] Ldpe2G commented on #6656
@akturtle for example if yor list_augment gives [data, weight, label],
then you can access the gradient of weight with in_grad[1], then you can use the optimizer to update it

[2017-06-15 03:21] jeremiedb commented on #6650
Yes! This looks like the expected behavior.

Also, I just realized that it might be the same type of check that needs to be performed in order to fix #5296. When running on multiple devices, I guess the kvstore$push returns a list rather than MXNDArray.

[2017-06-15 05:02] #2197 closed

[2017-06-15 05:06] #2462 closed

[2017-06-15 05:26] shivonkar opened #6701 "Restrict number of core (cpu)"
The command "ctx=mx.cpu()" is taking all available CPU. How to restrict to use a certain number only - say 6 out of 8 core

[2017-06-15 05:26] shivonkar opened #6702 "Extract Input parameters from “mxnet” model"
I have saved the model using

mx.model.save(model = fit_dl, prefix = "model", iteration = 10)
and loaded later

fit <- mx.model.load(prefix = "model", iteration = 10)
Now, using object fit, I want to extract the input features (column names of train data). How to do that

[2017-06-15 05:30] chinakook commented on #6687
@yzou2 If you have epslion less than or equal to 1e-5, you need to turn the cudnn off for this layer. You also need to comment out the 'eps_correction'(Ln149,Ln152) in the 'convert_model.py' file because the correction may cause accuracy loss when epslion < 1e-5 in a very deep network. After do that, my resnet101-fcn like model get all the same result as Caffe.

[2017-06-15 05:39] jeremiedb commented on #5281
Could you precise which version you installed and how? I just reinstalled the most recent version (on Ubuntu 16.04) and both `mx.nd.sqrt`  and rmsprop optimizer worked fine.

@sagaragrawal13 is the issue with rmsprop appearing when running on multiple GPUs? There's currently an issue for all optimizers but SGD when training on multiple devices (#5296), but single CPU or GPU should be ok.

[2017-06-15 05:41] Godricly commented on #6692
Sth I used before. FYI.
[code]

[2017-06-15 05:47] #2041 closed

[2017-06-15 05:49] #2139 closed

[2017-06-15 05:52] #2117 closed

[2017-06-15 05:53] #2293 closed

[2017-06-15 05:55] #2223 closed

[2017-06-15 05:57] pluskid commented on #2423
@antinucleon ?

[2017-06-15 05:57] #2423 closed

[2017-06-15 06:00] pluskid commented on #2339
Closing for now. Please feel free to reopen if the needed.

[2017-06-15 06:00] #2339 closed

[2017-06-15 06:03] pluskid commented on #2484
Closing for now. Please feel free to re-open if needed.

[2017-06-15 06:03] #2484 closed

[2017-06-15 07:39] HQ01 commented on #6271
Hi,
Would you mind sharing with me how you solve this problem? @yuconglin I came across the same issue. It worked perfectly a few days ago but just broke.

[2017-06-15 08:07] zhengxiawu commented on #5124
add this code:
`arg_params = {('arg:%s' % k) : v.as_in_context(cpu()) for k, v in arg_params.items()}`

[2017-06-15 08:08] zhengxiawu commented on #5124
add this code:
`arg_params = {('arg:%s' % k) : v.as_in_context(ctx) for k, v in arg_params.items()}`
to automatically change your context

[2017-06-15 08:11] zhengxiawu commented on #5124
for any one use fcn-xs code
add
`fcnxs_args = {('arg:%s' % k) : v.as_in_context(ctx) for k, v in fcnxs_args.items()}`
in line 45 for image_segmentation.py
in line 28 for fcn_xs.py

[2017-06-15 09:45] KeyKy commented on #6689
I encounter the same problem, will MxNet add a more efficient group convolutions implementation ? I found tf can run mobilenet 0.059s/image in cpu !!!

[2017-06-15 10:04] JohanCao commented on #5776
@piiswrong I find this to be a problem as well, it is good to  output initialisation details

[2017-06-15 11:54] vikingMei commented on #6692
I think I have found the problem, as the monitor.tic() is call before `forward` call, but collect result after `backward`, `update` and `update_metric` call, which may change the tensor compute while forward.  I have change to collect result after each call, the tensor flow as defined  now.

but backward gradients still confuse me, I'm trying to understand them....

[2017-06-15 12:27] cuteding opened #6703 "Bind error of lro_labels and data for image regression"
I use mxnet to do image regression (4 labels) by fine-tuning resnet50.

- 1.  I changed SoftmaxOutput with LinearRegressionOutput in symbol
- 2.  I  changed image label into a number
- 3.  I use metric=mx.metric.MSE() instead of training acc.

So the symbol is like in the last layer.
   {
      "op": "FullyConnected",
      "name": "fc",
      "attr": {"num_hidden": "4"},
      "inputs": [[430, 0,

[2017-06-15 13:34] cuteding commented on #6703
I had two wrong parts:

- 1. The regression need num_classes labels for every image instead of one label.

- 2. lro_label: (36,) should be lro_label: (36, 4,)

[2017-06-15 13:34] #6703 closed

[2017-06-15 14:06] ufukcbicici opened #6705 "Selecting argmax indices of a matrix column - Is it possible?"
Hello,

I want to achieve the following in the symbolic graph: Assume that I have a Nxk sized matrix in the symbolic network, which is produced as the result of a FullyConnected layer. What I want to achieve is, for each k columns, indices of the rows, which has the maximum activations in the current column. For example, let's say we have
 `x = [[ 2.,  1.],
     [ 3.,  4.],
     [ 5.,  6.]]` . Ass

[2017-06-15 14:33] MDR-EX1000 opened #6706 "Question about random crop in ImageRecordIter"
I always get the same result at two random crops of the same Image when using ImageRecorder.
I've found a similar issue(closed) but I can't figure out how to get the correct result.

Some of my codes:
[code]

[2017-06-15 14:43] yuconglin commented on #6271
@HQ01 if restart does not fix. you probably can try to re-install cuda driver

[2017-06-15 15:39] sagaragrawal13 commented on #5281
@jeremiedb  I am using mxnet version 0.9.4 on R studio Server edition with R version 3.2.5 (2016-04-14).

Please let me know if this helps.

[2017-06-15 15:57] leezu commented on #5509
This should be fixed by #6707

[2017-06-15 16:28] piiswrong commented on #6705
max(x, axis=0) and argmax(x, axis=0)?

[2017-06-15 16:44] thirdwing commented on #5281
@sagaragrawal13 Can you try to install the latest one? Please let me know you still met the error.

[2017-06-15 16:49] ufukcbicici commented on #6705
No, since argmax(x, axis=1) will return the maximum column indices along each row. This is not what I want. I want that given a column i, the indices of the rows, which have their maximum values at column i. These are quite different things.

[2017-06-15 17:06] sagaragrawal13 commented on #5281
@thirdwing  Sure. I will try and let you know.

Thanks for quick replies. :+1:

[2017-06-15 19:08] #6697 closed

[2017-06-15 19:08] Hexiang-Hu commented on #6697
just submitted one...

[2017-06-15 19:22] zhreshold opened #6710 "[Op] In-layer gradient norm problem running on multiple devices"
Just realized that the normalization mode 'batch' and 'valid' are problematic in SoftmaxOutput and MakeLoss layers if we dispatch data to multiple devices.

[code]

Suppose we have batch size 64, using 'batch' norm,  the gradients we get will be (g1/32 + g2/32) on 2 gpus, and (g1 + g2) / 64 on single gpu, where g1 and g2 are first half/second half of the gradients, respectively.

Things become mor