[2018-04-07 08:23] oscarbg opened #10456 "WinML or DirectML support planned?"
Windows only, but this should support AMD and Intel GPUs using D3D12 backend or even DirectML which with custom metacommands seems even able to use tensor cores on Volta GPUs..
Hope to hear news at least by Build conference in May

[2018-04-07 12:25] MoritzMaxeiner commented on #8836
@reminisce Sure, I just didn't close for the reasons mentioned [here](https://github.com/apache/incubator-mxnet/issues/8836#issuecomment-372075664) and [here](https://github.com/apache/incubator-mxnet/issues/8836#issuecomment-372076287).

[2018-04-07 14:08] kpot commented on #8337
@roywei To be honest, over the last months I've already lost the context and don't remember what I was using the slicing for. You're correct by saying it may not be an ideal way. But as a developer I know how a seemingly insignificant issue can help to discover really big bugs in a software project. So I decided "If I discovered the bug anyway, I might as well go on and report it. Perhaps it would

[2018-04-07 14:57] lzhou-arch commented on #4887
@feiyulv Have you figured it out? I have exactly the same issue.

After I launch the job on a two-machine cluster, it hangs at
[14:45:23] src/van.cc:183: Barrier count for 7 : 3

@szha Can you reopen this post since the issue is still pending? It would be great to have some pointers to debug the problem.

[2018-04-07 15:32] singleye commented on #797
Cool!

[2018-04-07 23:40] msurguy commented on #10230
@lebeg yeah. I tried installing it via the command you provided ( I assume it should be automatically added to the path) but still get the same error from within Python after trying to import mxnet lib.

[2018-04-08 06:52] jonasrauber commented on #6874
This error is still reproducible!

[2018-04-08 08:12] lightingghost commented on #9676
How is this going on? I would like to see the cross operator as well =.=

[2018-04-08 12:28] chengdazhi commented on #9914
@marcoabreu Thanks for your prompt reply. Problem is fixed by padding all images to a fixed size. Providing a MVE would be highly demanding for me. Hope this bug could be fixed in future.

[2018-04-08 12:32] chengdazhi commented on #10240
For future reference, this bug is caused by **CustomOp** for unknown reason. Problem is temporarily solved by **converting all CustomOps to gluon block implementations or cxx operators**. The error is hard to trigger in simple examples, so it is most likely related to some other factors.

[2018-04-08 12:37] chengdazhi opened #10459 "Does gluon support dynamic graph like if clause?"
Hi,

I have found that if clause in Block.forward() is executed in main thread and causes delay if outputs of former operators are related.

For example:

[code]

when executing DemoBlock.forward and starting to execute if clause, main thread waits for Dense block(self.fc) to finish computation. So does gluon support if clauses like this?

[2018-04-08 19:25] iacopomasi commented on #9676
Same here I was also looking for cross product operator. Thanks.

[2018-04-08 20:05] ShownX commented on #9676
Hi, Iacopo @iacopomasi ,

It is glad to see you are using MXNet now. Cross operation can be implemented by using the current operators. But it is still good to see there is a "syntactic sugar" in MXNet.

[2018-04-09 03:27] szha commented on #9686
#9881

[2018-04-09 09:27] wangshuailong commented on #10294
@chinakook Thank you, and sorry for my late reply.  Yes It's a way to deal with multiple data sources.
But still I'm wondering if I can do this by changing batch_data in Module.

[2018-04-09 11:59] nju-luke opened #10463 "How to use all the cpu cores ?"
I have test the training speed on different cpus, but only one core is used in both situation.
The two cups are like this:
|（mac) 2.7 GHz Interl Core i5 | (server) Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz |
The cost time of one iteration on the mac is 2.9s, that is 3.6s for the server.
The MXNet is installed by pip.
I have tried to set `OMP_NUM_THREADS=2` `OPENBLAS_NUM_THREADS=1` `MXNET_CPU_WORKE

[2018-04-09 12:31] pengzhao-intel commented on #10463
do you pip installed the MKL version MXNET?

[2018-04-09 12:32] python3-pip opened #10464 "How do"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-04-09 12:37] #10464 closed

[2018-04-09 12:38] ghost opened #10465 "Hpw"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-04-09 12:38] #10465 closed, assigned to nobody

[2018-04-09 12:40] python3-pip opened #10466 "How"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-04-09 12:41] python3-pip opened #10467 "How do I install mxnet on Andorid?"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-04-09 12:41] #10466 closed

[2018-04-09 15:16] nju-luke commented on #10463
I didn't use the MKL version previously.
Thank you for your reply. It works now.

[2018-04-09 16:08] cjolivier01 commented on #9648
With what frequency can you reproduce?  I haven't been able to reproduce.

[2018-04-09 16:57] Roshrini commented on #10378
@HeliWang I tried the example code you provided.
Seems like in Python you are passing  `for_training=False`
[code]
But in Scala, you are not passing `forTraining` parameter
mod.bind(dataShapes = dataDesc)
So, by default its keeping `forTraining = true`

If you set that parameter to false, you will get the same result as python

[2018-04-09 17:16] #10378 closed

[2018-04-09 17:17] HeliWang commented on #10378
Thanks @Roshrini

[2018-04-09 17:40] cjolivier01 commented on #6644
https://issues.apache.org/jira/browse/MXNET-207

[2018-04-09 17:49] anirudhacharya commented on #10414
This is the document @lanking520 shared - https://drive.google.com/file/d/1LUFiKFFiI9ypx-PlaOIw5wO4MoAzu9Jh/view?usp=sharing.

@aaronmarkham please let us know how it can be included in the mxnet R API documentation.

[2018-04-09 17:52] anirudhacharya commented on #9804
@sandeep-krishnamurthy please close this issue. It has been fixed.

[2018-04-09 17:56] cjolivier01 commented on #8866
Please provide an example to reproduce the issue

[2018-04-09 18:43] #9804 closed

[2018-04-09 19:00] zhanghang1989 commented on #10249
I guess this is what you are looking for https://github.com/apache/incubator-mxnet/pull/9688
[code]

[2018-04-09 19:01] zhanghang1989 commented on #9138
@szha This issue can be closed in favor of https://github.com/apache/incubator-mxnet/pull/9688

[code]

[2018-04-09 19:02] zhanghang1989 commented on #4134
@szha This issue can be closed in favor of https://github.com/apache/incubator-mxnet/pull/9688

[code]

[2018-04-09 19:02] zhanghang1989 commented on #8560
@szha This issue can be closed in favor of https://github.com/apache/incubator-mxnet/pull/9688

[code]

[2018-04-09 21:09] #8560 closed

[2018-04-09 21:09] #4134 closed

[2018-04-09 21:09] #9138 closed

[2018-04-09 21:15] zhanghang1989 commented on #10249
[code]

[2018-04-09 21:17] #10249 closed

[2018-04-09 22:03] lanking520 commented on #8344
@dslate Hi, we have added the old R documentation in this PR.
https://github.com/apache/incubator-mxnet/pull/10473
Hope this helps.

[2018-04-09 22:06] lanking520 commented on #10414
Update in this PR: https://github.com/apache/incubator-mxnet/pull/10473
@anirudhacharya

[2018-04-09 22:15] Jerryzcn commented on #10453
I have similar issue when training speech model. even after
`export MXNET_GPU_MEM_POOL_RESERVE=7`
will try larger RESERVE

[2018-04-09 22:41] cjolivier01 commented on #6644
no longer an issue

[2018-04-09 22:41] #6644 closed

[2018-04-09 22:52] cjolivier01 commented on #8866
I don't understand the problem description and am unfamiliar with this code. seems like @sxjscience knows what the fix should be, so reassigning.

[2018-04-09 23:00] dslate commented on #8344
@lanking520   Thanks, I was able to download the new R mxnet manual at https://s3.amazonaws.com/mxnet-prod/docs/R/mxnet-r-reference-manual.pdf.  However, the page I originally referenced, http://mxnet.incubator.apache.org/api/r/index.html, still contains a link titled 'MXNet R Reference Manual' that points to the wrong document (mxnet-test.pdf).

[2018-04-09 23:03] lanking520 commented on #8344
You are right. Once the PR merged, the link will be fixed.

[2018-04-10 00:35] ashokei commented on #8532
@zheng-da  is your openmp linking issue related to this in any way; Does your solution/workaround fix this ?

[2018-04-10 01:52] anirudh2290 opened #10476 "Flaky test for test_operator.test_reduce"
Try to use MXNET_TEST_SEED=1117986172
[code]

[2018-04-10 03:15] ZhichengHuang commented on #5812
@bhokaal2k can you share your implementation of Guided BackPropagation, I have met the same problem, and can't find a proper solution.

[2018-04-10 05:49] #9973 closed

[2018-04-10 05:56] marcoabreu commented on #10476
Duplicate of https://github.com/apache/incubator-mxnet/issues/9845

[2018-04-10 05:56] #10476 closed

[2018-04-10 05:56] marcoabreu commented on #9845
======================================================================
FAIL: test_operator.test_reduce
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg)
  File "/home/ubuntu/experimentals/spidyDev_mxnet/tests/python/unittest/common.py", line

[2018-04-10 06:13] PaulaQin opened #10480 "Could you help build windows pypi package with cuda9.0"
Hello, Could you help build windows pypi package with below dependencies:
1. cuda9.0 and cudnn7.05
2. windows 10, x64
3. mxnet1.2

Thank you very much!

[2018-04-10 06:33] szha commented on #10480
@yajiedesign

[2018-04-10 09:27] jackyblackme commented on #371
Yeah, Put mean_img="path/to/mean.nd". If the file does not exist, ImageRecordIterator will first create this file and calculate mean value, store result in the file. And then start training. Detail can be seen in file "iter_image_recordio_2.cc", the new version of recordio data iterator under "mxnetRoot/src/io/iter_image_recordio_2.cc". Maybe from line 216, the Normalize init and the CreateMeanImg

[2018-04-10 10:39] conradwt commented on #10185
@bhavinthaker Can you tell me the goal of running this script?

[2018-04-10 16:10] eric-haibin-lin commented on #10455
For the 8 gpus case, is the result deterministic across multiple runs?

[2018-04-10 17:12] yzhliu commented on #8627
close since it has been resolved in new versions.

[2018-04-10 17:12] #8627 closed

[2018-04-10 17:12] #9062 closed

[2018-04-10 17:47] indhub commented on #8461
Please update to a version of MXNet that has the operator. Latest (1.1) should work.

[2018-04-10 17:47] #8461 closed

[2018-04-10 17:47] Roshrini commented on #8453
@sandeep-krishnamurthy Can you add labels:
Bug, Python, Converter

[2018-04-10 17:49] Roshrini commented on #7862
@sandeep-krishnamurthy I think we can close this issue now.
Redesigning the website was done.

[2018-04-10 17:55] szha commented on #7445
cudnn integration for ctc requires action from cudnn team in improving the API.

[2018-04-10 17:56] #7862 closed

[2018-04-10 17:59] indhub commented on #8427
This issue was opened because Module API and Amalgamation API seemed to give different performance. Separating Module and Amalgamation benchmark into separate scripts fixes the issue.

If there is a genuine use case for mixing the two in one script, please open a separate issue for that.

[2018-04-10 17:59] #8427 closed

[2018-04-10 18:01] ThomasDelteil commented on #5115
I tested the ssd example with latest master, I confirm it was working. Can you try again after upgrading mxnet?

[2018-04-10 18:02] reminisce commented on #9067
Similar to https://github.com/apache/incubator-mxnet/issues/8799

[2018-04-10 18:05] ThomasDelteil commented on #8270
Sorry could you clarify the issue and give a bit of context?

[2018-04-10 18:07] ThomasDelteil commented on #8510
have you tried to fix the seed for initialization?

[2018-04-10 18:07] indhub commented on #8040
@devymex Could you please add a small example that reproduces the crash?

[2018-04-10 18:08] lanking520 commented on #8504
@conansherry Hi, are you facing the same issues in the most recent update?

[2018-04-10 18:11] indhub commented on #7733
Please check http://mxnet.incubator.apache.org/tutorials/basic/symbol.html.

[2018-04-10 18:11] #7733 closed

[2018-04-10 18:13] indhub commented on #7417
@yzhliu Any update on this?

[2018-04-10 18:16] Roshrini commented on #10463
@nju-luke If the issue is resolved, can you close it? Thanks!

[2018-04-10 18:16] lanking520 commented on #7008
@al-rigazzi Hi, are your still facing the issue?

[2018-04-10 18:17] Roshrini commented on #10459
@chengdazhi
For Q & A and discussion, please start a discussion thread at https://discuss.mxnet.io you will get a quicker response. Thanks!
@sandeep-krishnamurthy Can you add label -
Question, Gluon

[2018-04-10 18:35] cclauss commented on #8270
These are variable that are not defined in the current context which can raise NameError at runtime.  Often they are typos or missing imports or code refactoring errors or things like __basestring__ or __xrange()__ being defined in Python 2 but being removed in Python 3.

[2018-04-10 18:35] indhub commented on #8720
@liuzhi136 This is not an 'issue'. For general "how-to" questions, our [user forum](https://discuss.mxnet.io/) is a good place to get help.

[2018-04-10 18:35] #8720 closed

[2018-04-10 18:41] indhub commented on #8640
From the comments above looks like https://github.com/apache/incubator-mxnet/pull/8637 fixed the issue. The fix is in stable releases now. I'm closing this issue as resolved.

[2018-04-10 18:41] #8640 closed

[2018-04-10 18:47] ThomasDelteil commented on #8270
Oh I understand now, that's some static code analysis right? Thanks for running that, seems like some files need fixing.

[2018-04-10 18:51] lanking520 commented on #8391
@sandeep-krishnamurthy please add Python, Bug, NDArray, Memory to this topic

[2018-04-10 18:52] lanking520 commented on #8570
@sandeep-krishnamurthy please add Memory, Performance to this topic

[2018-04-10 18:53] lanking520 commented on #8504
@sandeep-krishnamurthy please add CUDA, C++ to this topic

[2018-04-10 18:53] lanking520 commented on #8393
@sandeep-krishnamurthy please add 'HowTo' to this topic

[2018-04-10 18:55] lanking520 commented on #8335
@nswamy please add 'Performance', 'Windows' to this topic

[2018-04-10 18:56] lanking520 commented on #8021
@nswamy please add 'Bug', 'C++' to this topic

[2018-04-10 18:57] lanking520 commented on #7008
@nswamy  Please add 'Question' to this topic

[2018-04-10 18:57] lanking520 commented on #5475
@nswamy Please add 'Bug', 'Python' to this topic

[2018-04-10 18:58] lanking520 commented on #9188
@nswamy please add 'Question' to this topic

[2018-04-10 18:58] lanking520 commented on #9100
@nswamy please add 'Python', 'Installation' to this topic

[2018-04-10 19:41] indhub commented on #8571
@starimpact Could you please add more information on why this is a problem and add small code to reproduce the problem? How did you freeze the parameter? Are you using the symbol or the imperative API?

[2018-04-10 19:44] marcoabreu commented on #7933
Sorry for the delay, @loweew. A model would be great!

[2018-04-10 19:46] #4211 closed

[2018-04-10 19:46] marcoabreu commented on #4211
Please use the forum for this question.

[2018-04-10 19:51] indhub commented on #8466
Looks like you are trying to initialize softmax label which shouldn't be initialized by the iniliatizer. This is not an issue but a problem with the training script. Could you please post this question in the [user forum](https://discuss.mxnet.io/)? Thanks!

[2018-04-10 19:51] #8466 closed

[2018-04-10 19:55] indhub commented on #8375
This is not an issue. Please use the [user forum](https://discuss.mxnet.io/) for how-to questions. Thanks!

[2018-04-10 19:55] #8375 closed

[2018-04-10 20:01] indhub commented on #8156
According to the above discussion, proposal target can be prefetched and therefore doesn't need a faster GPU implementation. I'm closing this issue since the requester has not responded to the above comments. Please reopen if required.

[2018-04-10 20:10] indhub commented on #7582
Any update on this?

[2018-04-10 20:19] indhub commented on #9197
This is not an issue. For how-to questions, please use the [user forum](https://discuss.mxnet.io/).

[2018-04-10 20:19] #9197 closed

[2018-04-10 20:28] #10459 closed

[2018-04-10 20:41] sandeep-krishnamurthy commented on #10419
Please follow instructions here - http://mxnet.incubator.apache.org/install/index.html
Choose "Linux/Python/BuildFromSource"

[2018-04-10 20:41] #10419 closed

[2018-04-10 20:46] indhub commented on #9047
Please use the [user forum](https://discuss.mxnet.io/) for how-to questions. When posting in the forum, please include details like where are you reading data from, what iterator you are using, what speed you are seeing, etc. Thanks!

[2018-04-10 21:46] lanking520 commented on #7771
@nswamy please add Bug, C++ to this topic

[2018-04-10 22:05] piiswrong opened #10487 "Add same padding for pooling and conv"
https://discuss.gluon.ai/t/topic/5747

[2018-04-10 22:35] sandeep-krishnamurthy commented on #8219
* mx.sym.broadcast_add is used in Keras-MXNet project - https://github.com/awslabs/keras-apache-mxnet/blob/keras2_mxnet_backend/keras/backend/mxnet_backend.py#L3323

* This is a very crucial operator used in every network for adding bias.

* We are seeing significantly slower performance with MXNet backend on CPUs.

* Tried with setting OMP_NUM_THREADS. It did not change the performance. This mean

[2018-04-10 22:54] David-Levinthal opened #10489 "profiling Sockeye does not produce valid json file: missing final characters"
building mxnet from source for profiling and adding code to the training.py code to profile 50 batches of the training loop produces an invalid json file that cannot be displayed
While importing:
SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at new TraceEventImporter (chrome://tracing/tracing.js:4901:19)
    at Import.createImporter_ (chrome://tracing/tracing.js:121

[2018-04-10 23:17] ThomasDelteil opened #10492 "Logging level for C++ lib"
How can I set the logging level of the C++ code lower?
I would like to not see:
[code]

[code]

[code]

[2018-04-10 23:42] yifeim opened #10494 "stop_gradient fails under adam and wd"
## Description
mx.sym.stop_gradient fails to protect the parameters when using adam optimizer with wd>0. It works otherwise (with sgd or wd=0).

## Environment info (Required)

----------Python Info----------
Version      : 3.6.4
Compiler     : GCC 7.2.0
Build        : ('default', 'Jan 16 2018 18:10:19')
Arch         : ('64bit', '')
------------Pip Info-----------
Version      : 9.0.1
Directory

[2018-04-11 00:05] rahul003 commented on #9611
Hello, request you to look at the above PR as an example on how we can avoid this hang

[2018-04-11 00:26] #9532 closed

[2018-04-11 01:17] xinyu-intel commented on #10005
@marcoabreu @cjolivier01 I follow the [doc](https://github.com/apache/incubator-mxnet/blob/master/docs/install/windows_setup.md) and come across the same problem.

[2018-04-11 01:45] ThomasDelteil commented on #10387
Happened to me too:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10495/1/pipeline/597

[2018-04-11 02:52] zheng-da commented on #4471
We are trying to add control flow operators.
https://cwiki.apache.org/confluence/display/MXNET/Add+flow+control+operators+in+MXNet

[2018-04-11 02:59] cjolivier01 commented on #10005
run depends:  http://www.dependencywalker.com
it should show you exactly which dependency is missing.

[2018-04-11 03:53] ThomasDelteil opened #10498 "Create base images for CI"
@marcoabreu
It would be nice if the CI base images were stored on dockerhub. So that reproducing locally would be a simple pull and then the code being executed. I assume these intermediate layers are currently kept cached on the build machines, but having them as images would make adding and removing machines to the build farm much more efficient since they wouldn't have to rebuild each image fro

[2018-04-11 03:55] oscarbg commented on #10456
just a note I'm asking about Win32 classic API part of WinML (not the UWP Net & C#)  WinML is a Win32 API as shown in Windows insider SDKs and this month 1803 SDK it has C++ header WinML.h and WinML.lib.. altough still no samples using Win32 API presumably at Build some Win32 API samples released..
See how Win32 API:
![winml](https://user-images.githubusercontent.com/669305/38595578-f43b381a-3d4c-

[2018-04-11 03:56] arrowrowe commented on #10455
@eric-haibin-lin yes, same for all 8 gpus cases, same for all <8 gpu cases.

[code]

[2018-04-11 04:33] eric-haibin-lin opened #10500 "[FEATURE REQUEST] trace operator"
MXNet doesn't have an operator that calculates the trace of a matrix:
https://docs.scipy.org/doc/numpy/reference/generated/numpy.trace.html

Trace norm can be used for regularization specially with sparsity

[2018-04-11 04:56] pengzhao-intel commented on #9744
@cjolivier01 how about the progress of KMP setting?
We prefer this can be merged into release 1.2 so that the user can get the best performance by default.

[2018-04-11 06:04] YeWenting commented on #5013
Hi @moveforever, I encountered this problem too. Could you please tell me your solution? This might be helpful to my situation:)

[2018-04-11 06:45] indhub commented on #8594
This is not an issue. For how-to questions, you are much more likely to get quick answers in the [user forum](https://discuss.mxnet.io/). Thanks!

[2018-04-11 06:45] #8594 closed

[2018-04-11 06:58] indhub commented on #8477
@zhreshold Does this issue still exist?

[2018-04-11 06:59] indhub commented on #8420
Closing since the bug has already been fixed.

[2018-04-11 06:59] #8420 closed

[2018-04-11 07:02] indhub commented on #8312
@piiswrong The PR you referenced above was not merged. Did this fix go into some other PR?

[2018-04-11 07:05] zhreshold commented on #8477
This is fixed, closing this.

[2018-04-11 07:05] #8477 closed

[2018-04-11 07:28] yljylj commented on #9477
I face the same problem. Have you solved it yet?

[2018-04-11 07:41] indhub commented on #8023
Closing since requester hasn't responded.

[2018-04-11 07:41] #8023 closed

[2018-04-11 07:43] moveforever opened #10501 "Does RSP storage type NDArray support shared memory?"
@eric-haibin-lin

[2018-04-11 07:54] indhub commented on #6857
Still gives 404

[2018-04-11 07:58] indhub commented on #9257
This is not an issue. Please use the [user forum](https://discuss.mxnet.io/) for quicker response for how-to questions.

[2018-04-11 08:01] indhub commented on #9160
Answered above.

[2018-04-11 08:01] #9160 closed

[2018-04-11 08:14] moveforever commented on #5013
@YeWenting , Wrong data may lead to nan, so check your data, and make sure your data is right

[2018-04-11 08:44] yljylj commented on #9477
I have solved it. When you launch to the remote node with ssh, you must use the python which installed mxnet, not the default python!  I use the launed.py to run a distributed training, and run a shell. The code of shell is:
python ~/mxnet/tools/launch.py -n 2 --launcher ssh -H ./hosts-2 \
"**/xxxx/home/abc/python/bin/python** -u ~/mxne/example/image-classification/train_imagenet.py"

[2018-04-11 10:01] crqcrq001 opened #10502 "MXPredReshape"
When I Use MXPredCreate create a GPU handle, then use MXPredReshape to reshape the input shape,
it failure.
This may cause by default context is cpu .
in MXPredReshape ()
.....
// bind line 324
  {
    std::map<std::string, Context> ctx_map;
    std::vector<NDArray> grad_store;
    grad_store.reserve(ret->arg_arrays.size());
    std::vector<OpReqType> grad_req(ret->arg_arrays.size(), kNullOp);

[2018-04-11 11:05] marcoabreu commented on #10498
I'm currently working on auto scaling for our CI and this and putting the images on dockerhub (or a similar service) will be part of that process :)

[2018-04-11 12:18] crqcrq001 commented on #10502
and missing ret->sym=sym

[2018-04-11 12:31] #10230 closed

[2018-04-11 12:41] fhieber opened #10503 "CustomOp error with latest master"
We are observing crashes with Sockeye transformer models using the latest build from mxnet master (1.2.0b20180411). The error we are seeing is this:
[code]
The corresponding Sockeye issue is here: https://github.com/awslabs/sockeye/issues/354

I believe this might be related to this commit/PR #10374 as the crash is not observed with `mxnet==1.2.0b20180410`.

Note that the custom op in Sockeye does

[2018-04-11 12:47] xinyu-intel commented on #10503
Same problem occurs based on `mxnet_cu90-1.2.0b20180411`  and the latest master branch.

[2018-04-11 12:48] fhieber commented on #10503
My (uneducated) guess would be that the new code for storage type inference needs to guard against `in_stype` being an empty list to avoid the index error when trying to access `in_stype[0]`.

[2018-04-11 12:56] #9087 closed

[2018-04-11 13:29] lebeg commented on #10230
The problem seems to be with cmake cross builds in general, not with armv6 only. Since it's 1 core hardware anyway I've disabled OpenMP for v6, but will investigate the issue with later architectures. Thanks for reporting this!

[2018-04-11 13:40] xinyu-intel commented on #10005
Fortunately, I find the missing deps, thanks! @cjolivier01

- libgcc_s_seh-1.dll
- libgfortran-3.dll
- libquadmath-0.dll

[2018-04-11 14:05] jinhuang415 opened #10504 "Can MXNet operator profiling work well using gluon model?"
I tried 2 models written in Gluon and try to do operator level profiling, but the generated profile.json doesn't contain any operator information (while it contains MXNET_C_API profiling info), by adding debug in OP level code it is confirmed conv/pooling/Eltwise OP is indeed invoked.

I have set below env variables before start running gluon model but no use (it works well in previous MXNet versi

[2018-04-11 14:54] cjolivier01 commented on #10005
did you compile with gcc on Windows? or some other fall requires that? those seem strange for window

[2018-04-11 15:08] xinyu-intel commented on #10005
@cjolivier01 Also a bit confused for me. I just followed the instruction [windows_setup](https://mxnet.incubator.apache.org/install/windows_setup.html) on a brand newly installed windows 10 and got this problem. I also reference this issue [#1740](https://github.com/apache/incubator-mxnet/issues/1740) and resolve it.

[2018-04-11 15:19] cjolivier01 commented on #10005
Oh, where did you get that openblas?

[2018-04-11 15:25] cjolivier01 commented on #10005
oh ok. yeah, probably that should be in the instructions somewhere.  does that openblas from the link *come with* those dll's?

[2018-04-11 15:28] jinhuang415 commented on #10504
Below is a simple gluon model I used (mainly copied from https://mxnet.incubator.apache.org/tutorials/gluon/gluon.html, only added wait_to_wait() call at the end in order to make sure OPs are executed):

[code]

I also attached the generated profile json zip file FYI:
[profile_gluon.zip](https://github.com/apache/incubator-mxnet/files/1899450/profile_gluon.zip)

[2018-04-11 15:28] xinyu-intel commented on #10005
No，I find these files somewhere else.

[2018-04-11 15:38] cjolivier01 commented on #10005
ok yeah that's screwed up. Thanks for root-causing this!

[2018-04-11 15:39] cjolivier01 commented on #10005
Ok, I see that's the mingw64_dll.zip downloa on that web site along with the openblas zips.

[2018-04-11 15:45] xinyu-intel commented on #10005
Ok，I missed it. I think it is necessary to remind users to download and setup this file.

[2018-04-11 16:27] anirudh2290 commented on #10503
@fhieber Thanks a lot for bringing this up. You are right, the use case for empty input lists was not considered. Working on a fix now.

[2018-04-11 16:28] David-Levinthal opened #10505 "profiler shoudl collect call durations not just timestamps"
Environment info (Required)

What to do:
1. Download the diagnosis script from https://raw.githubusercontent.com/apache/incubator-mxnet/master/tools/diagnose.py
2. Run the script using `python diagnose.py` and paste its output here.
cat diagnose.log
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                28
On-line CPU(s) list

[2018-04-11 16:40] David-Levinthal commented on #10505
or are B and E records signifying beginning and end?
    {
        "name": "SetupExec",
        "cat": "operator",
        "ph": "B",
        "ts": 1523399668368495,
        "pid": 0,
        "tid": 3005078972234936124
    }
,
    {
        "name": "SetupExec",
        "cat": "operator",
        "ph": "E",
        "ts": 1523399668368500,
        "pid": 0,
        "tid": 3005078972234936124
    }

[2018-04-11 16:41] #10414 closed

[2018-04-11 16:45] eric-haibin-lin commented on #10501
Please post this kind of question on http://discuss.mxnet.io/

Depends on what you mean by shared memory:
- rowsparse Weight sharing is supported if you use bucketing module
- NDArray.__get_item__ with int key returns a view of the original NDArray, which shares the memory of the original NDArray. For row_sparse it's not supported.

[2018-04-11 16:45] #10501 closed

[2018-04-11 16:49] al-rigazzi commented on #7008
@lanking520 no, now that MKLDNN is used as submodule, everything is simpler.

[2018-04-11 16:57] eric-haibin-lin opened #10506 "A todo list for the sparse feature (GPU)"
#8168

Operator (forward pass only unless specified):
- [ ] elemwise_mul(csr, dense) = csr: both forward and backward
- [ ] sum(csr)
- [ ] mean(csr)
- [ ] concat(csr, csr)
- [ ] stack(csr, csr)
- [ ] unary operators for csr (arcsin, arcsinh, arctan, arctanh, ceil, expm1, floor, log1p, power, rint, sign, sin, sinh, sqrt, tan, tanh, trunc) - most of them can just reuse the template code implemented

[2018-04-11 16:57] eric-haibin-lin commented on #10506
cc @ZiyueHuang

[2018-04-11 17:07] cjolivier01 commented on #10005
yeah, seems like it would be better to compile that with msvc
Closing this issue, please feel free to submit a doc update for that

[2018-04-11 17:07] #10005 closed

[2018-04-11 17:41] altosaar opened #10508 "MXNet much slower than TensorFlow"
I might be doing this comparison wrong - please let me know! Most likely I have written a bug that causes the slowdown.

I implemented a variational autoencoder in MXNet using the Gluon library, and hybridized it. Here is the code: https://gist.github.com/altosaar/6c153e9ebd89a4b8ef6a638ed1520de4

I also implemented it in TensorFlow: https://github.com/altosaar/variational-autoencoder

However, it

[2018-04-11 18:01] #7008 closed

[2018-04-11 18:26] eric-haibin-lin opened #10509 "[Improvement] Distinguish Sparse/Dense operator for temp resource request"
`FResourceRequest` is added for many MKL/Sparse ops. While many normal dense operator don't need it, the resource is requested and causes reduced parallelism due to the limit of max number of temp requests per GPU [MXNET_EXEC_NUM_TEMP](https://github.com/apache/incubator-mxnet/blob/master/docs/faq/env_var.md#memory-options)

[2018-04-11 19:16] #8410 closed

[2018-04-11 20:51] yzhliu commented on #6872
Since we now have NDArrayIter support HDF5, looks like the original issue has been resolved. Feel free to reopen if you still have problem loading HDF5 format data.

[2018-04-11 20:51] #6872 closed

[2018-04-11 21:00] yzhliu commented on #5559
Looks like the usability issue has been resolved by @szha 's PR https://github.com/apache/incubator-mxnet/pull/7727 . If you still have performance issue of CTC loss in MXNet, feel free to open another issue. @buaacszj

[2018-04-11 21:00] #5559 closed

[2018-04-11 21:06] yzhliu commented on #9935
Are you still having the problem? I cannot reproduce.

[2018-04-11 21:16] indhub commented on #8467
Fixed by https://github.com/apache/incubator-mxnet/pull/8450

[2018-04-11 21:16] #8467 closed

[2018-04-11 21:26] indhub commented on #7981
Please use 0 for placeholder dimension like suggested above.

[2018-04-11 21:26] #7981 closed

[2018-04-11 22:15] indhub commented on #7912
Answered above.

[2018-04-11 22:15] #7912 closed

[2018-04-11 23:02] anirudh2290 commented on #10503
@fhieber the fix is currently merged. Can you please check if this issue is good to close ?

[2018-04-12 01:37] rahul003 commented on #10504
Could you use mx.profiler.set_config and set the option profile_all=True, and try again? Note that this is a different way of profiling with more flexibility than MXNET_PROFILER_AUTOSTART, so when you use this don't set that environment variable.

[code]

[2018-04-12 02:00] jinhuang415 commented on #10504
@rahul003 Thanks, the way you mentioned works. For the environment variable way,  do we also need to support that when we want to do whole program profiling and don't want to change the code (also keep backward compatible) ?

[2018-04-12 02:15] idealboy opened #10513 "pure virtual function call"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-04-12 03:00] jinhuang415 commented on #10504
Btw, is there any way to selectively do the profiling? Like only perform operator profiling, I asked this because in many cases the generated profile data are very huge (>100MB) if profile all data, it would save a lot of time if we can do profile selectively.

I tried to use mx.profiler.set_config(profile_symbolic=True, filename='profile_output.json') to filter operators but seems still all types

[2018-04-12 03:06] jinhuang415 commented on #10504
For selective profiling, I figured out myself that we need to use "mx.profiler.set_config(profile_all=False, profile_imperative=True, profile_symbolic=False, profile_memory=False, profile_api=False, filename='profile_output.json')" to set related profile types to False since the default type is True.

[2018-04-12 03:15] ysfalo commented on #9823
It happened on single GPU by chance in my machine with mxnet 1.2.0.

[2018-04-12 04:09] jinhuang415 commented on #10504
@pengzhao-intel

[2018-04-12 04:10] pengzhao-intel commented on #10508
@altosaar you can try CPU with MKL-DNN backend by lastest master branch.
I think it will be much faster.

https://github.com/apache/incubator-mxnet/blob/master/docs/faq/perf.md

[2018-04-12 04:11] idealboy commented on #10513
(gdb) backtrace
#0  0x00007f29b8b844da in malloc_consolidate () from /lib64/libc.so.6
#1  0x00007f29b8b85087 in _int_free () from /lib64/libc.so.6
#2  0x00007f29bb1d8e2c in __gnu_cxx::new_allocator<std::_Sp_counted_ptr_inplace<mxnet::NDArray::Chunk, std::allocator<mxnet::NDArray::Chunk>, (__gnu_cxx::_Lock_policy)2> >::deallocate (this=0x7f2955a3fbaf,
    __p=0x2c03220) at /usr/include/c++/4.8.2/ex

[2018-04-12 04:33] ThomasDelteil commented on #10508
You have an error in your tensorflow code @altosaar
You are setting  `t0 = time.time()` right before computing: `(time.time() - t0)`
Hence the number through the roof for tensorflow (0.5M iter/sec on CPU should have startled you 😄 )

After fixing that, using your benchmark and rewriting the metrics, MXNet is twice faster 🎉 :

MXNet:
[code]

Tensorflow:
[code]

[2018-04-12 04:52] #9199 closed

[2018-04-12 05:02] msurguy commented on #10230
I can confirm that everything works on the Pi Zero now! Thanks @lebeg !!!

[2018-04-12 05:25] sugi1229 opened #10516 "How to run model trained with python on Scala"
I trained model with python. I got xxxxx.params and xxxxx.json files.
However, there files coludn’t load scala.

In this case same(https://github.com/apache/incubator-mxnet/issues/9859).
At this issue, It is written that it can be solved by replacing attrs.

I want to know how to convert json file.

scala
[code]

log
[code]

json file
[code]

I used
- Docker(mxnet/scala)
latest(Apr.12, 2018)
- sca

[2018-04-12 05:40] szha commented on #6857
that specific tutorial is no longer offered.

[2018-04-12 05:40] #6857 closed

[2018-04-12 05:47] jinhuang415 commented on #10504
@cjolivier01  We noticed there is profiling enhancement recently, may I know how to get below statistics text output from the profile data? (I see that you pasted this output in another thread but we don't know how to get that)  Thanks.

![35419241-b678695e-01eb-11e8-8907-abd3f6ff57f7](https://user-images.githubusercontent.com/34262351/38658448-d79aa306-3e57-11e8-9ff6-c2594fde7cec.png)

[2018-04-12 05:52] rahul003 commented on #10504
Have you tried this ?
https://github.com/apache/incubator-mxnet/blob/ceb810ccc17a712c375d55418a0ba45ae91714b5/python/mxnet/profiler.py#L127

[2018-04-12 06:00] nju-luke opened #10517 "Can I reunion the prediction after forward propagation for training a model with triplet loss?"
The code is as follows.
The reunion part is helpful for increasing the training speed.
[code]

[2018-04-12 06:32] rahul003 commented on #10504
I'd suggest creating an issue so we can track and fix this. If you identify the issue please feel free to submit a PR. Could you check if the counts are the same or different to those in the json file generated in the above steps?

[2018-04-12 07:04] jinhuang415 opened #10518 "Does MXNet have official WaveNet model"
I noticed there is MXNet wavenet implementation (https://github.com/shuokay/mxnet-wavenet) but looks it is quite old, not sure if this is the official one? If not, do we plan to add wavenet model in the future? Thanks.

[2018-04-12 07:04] jinhuang415 commented on #10518
@pengzhao-intel

[2018-04-12 08:00] gkyh0805 opened #10519 "Can too many connection for the symbol make unintended computation?"
when too many connection for the single symbol occur, can the some grads for relu_new_1 be skipped due to the MXNET_EXEC_INPLACE_GRAD_SUM_CAP?

I saw "graph_executor.cc" and there is a comment
[
        // Note: For a symbol like the following:
        // data = mx.sym.Variable('data')
        // sym = data + data + data + data + data + data + data
        // the node entries v passed in here are

[2018-04-12 08:24] #10467 closed

[2018-04-12 08:50] jinhuang415 opened #10520 "MXNet operator profile aggregate counter issue"
It looks the operator counter of the aggregated output is the 2x of real value.

I used below gluon model (mainly copied from https://mxnet.incubator.apache.org/tutorials/gluon/gluon.html, contains 2 convolutions for each forward pass) and did profiling, the aggregated convolution counter is 4 instead of 2, the counter doubled for other OPs as well.

[code]

The profile output is below:

[code]

[2018-04-12 08:51] jinhuang415 commented on #10520
@pengzhao-intel

[2018-04-12 09:05] jinhuang415 commented on #10504
@rahul003  Raise https://github.com/apache/incubator-mxnet/issues/10520

[2018-04-12 09:19] KellenSunderland commented on #10503
In commit dbe5c14ca6daa3e607ef8293735d33106f47a697 I'm seeing the same crash in sockeye.
[code]

I've verified updating to ceb810ccc17a712c375d55418a0ba45ae91714b5 fixes the issue.  I think we can consider this one fixed, thanks for the quick work.  @fhieber you ok with closing?

[2018-04-12 09:27] altosaar commented on #10508
Dang, I knew it was a silly bug on my end–thanks for catching that @ThomasDelteil :) I just pushed the [https://github.com/altosaar/variational-autoencoder/commit/ab76990a616afdc9aec25e0995e90db962a2ffc7](https://github.com/altosaar/variational-autoencoder/commit/ab76990a616afdc9aec25e0995e90db962a2ffc7). You're right, should have caught that by realizing that millions of iterations/s is very unre

[2018-04-12 09:27] #10508 closed

[2018-04-12 09:29] guoswang opened #10521 "How can I get the output of the net's last layer- symbol.LinearRegressionOutput?"
Hi,
I tried to get the net loss by add the loss into mx.sym.Group() like this:
[code]
When training the net, I print the ''texec.outputs '' . Then I found that the loss is same as density. I don't know why ? Can anybody help me?    I'm very appreciated it.

Also I tried to make my own loss by using the mx.sym.Makeloss
[code]
When I training the net again, I  got that the prediction is zero? I'm ve

[2018-04-12 12:38] belomeriem commented on #9533
Hi,
How did you fix the problem? I am running third-party code and they have `import minpy.numpy as np
from minpy import core
from minpy.nn.solver import Solver` which produces the same error you had. I have tried to use Gluon but this does not seem to help. Any suggestions? Thanks

[2018-04-12 13:34] ShootingSpace opened #10527 "Save best performance in save_params()"
Is it possible to save the best test accuracy say {acc: 0.98} into file.params for reference to next time reloading the model.

[2018-04-12 15:14] BenLag2906 commented on #10516
Hi,

all attrs must be replace by attr except the last one.

Regards

[2018-04-12 15:17] BenLag2906 opened #10529 "Pb between c++ and python"
Hi,

I have a problem my train is done in python, and when i try to use my json file and params in c++.

It crashed at MXPredSetInput althought it's ok with other Json file like SSD.

My Json file :

  "nodes": [
    {
      "op": "null",
      "name": "data",
      "inputs": []
    },
    {
      "op": "_copy",
      "name": "id",
      "inputs": [[0, 0, 0]]
    },
    {
      "op": "null",

[2018-04-12 16:43] aishwaryakamble commented on #6023
![image](https://user-images.githubusercontent.com/24364701/38691528-b9c2c20e-3e9e-11e8-8a47-c55bdd72a67c.png)

what can i do about this?

[2018-04-12 16:53] indhub commented on #10527
Please use the [user forum](https://discuss.mxnet.io/) for how-to questions. You'll get quicker responses there. When you ask in forum, please specify if you are using the Module API or Gluon API.

[2018-04-12 17:35] Roshrini commented on #10517
Please use the user forum for how-to questions. You'll get quicker responses there. https://discuss.mxnet.io/
@nswamy Can you please add labels and close the issue?-
Question, python

[2018-04-12 17:37] Roshrini commented on #10520
@nswamy Can you please add labels-
Python, Gluon, Profiler

[2018-04-12 17:39] Roshrini commented on #10521
Please use the user forum for how-to questions. You'll get quicker responses there. https://discuss.mxnet.io/
@nswamy Can you please add labels -
Question, HowTo, python

[2018-04-12 17:39] Roshrini commented on #10516
@nswamy Can you please add labels-
Question, Scala

[2018-04-12 17:48] chsin commented on #9755
@piiswrong I want this feature enough to actually implement it, but would like guidance on how to do so. How would this impact the Python code?

[2018-04-12 17:51] Roshrini commented on #10518
As far as I know, MXNet doesn't have an official wavenet implementation yet.
You can also start a discussion thread on this forum. https://discuss.mxnet.io/
@ankkhedia

@nswamy Can you please add labels-
Question, ModelZoo, Example

[2018-04-12 17:59] Roshrini commented on #10480
@PaulaQin Were you able to build the package?

[2018-04-12 18:24] haojin2 commented on #10376
I met the same failure in: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10371/6/pipeline. I guess maybe the atol is too strict?

[2018-04-12 18:32] reminisce commented on #10376
That's the problem of using too small `atol` for comparing two values close to zero. @haojin2 Can you change `atol` to `1e-3` along with your PR?

[2018-04-12 18:34] haojin2 commented on #10376
@reminisce Sure np!

[2018-04-12 19:47] sbodenstein opened #10531 "Float16 Support for dot"
Is there any work underway to add Float16 support for the dot operator? I know there is a ticket for the general job of adding Float16 support (https://issues.apache.org/jira/browse/MXNET-90), but wanted to know what the timeframe was for support to dot, which is a very core operator that also benefits greatly from the V100 TensorCores.

[2018-04-12 20:39] KaiserSozo opened #10532 "NDArray failed to allocate CPU memory"
Traceback (most recent call last):
  File "SOM.py", line 109, in <module>
    test_som_with_color_data()
  File "SOM.py", line 97, in test_som_with_color_data
    img2 = nd.reshape(weights.data(),shape=(som_dim,som_dim,-1)).asnumpy()
  File "C:\Users\Vitaly\Anaconda2\lib\site-packages\mxnet\ndarray\ndarray.py", line 1868, in asnumpy
    ctypes.c_size_t(data.size)))
  File "C:\Users\Vitaly\Anaconda

[2018-04-12 21:58] rahul003 commented on #10531
@haojin2 Looks like we missed this. I went through dot-inl.h. Looks like that's disabled for no reason the GPU through the check. Could you take a look? There's BlasEngine<gpu, half_t> defined. This might be an easy fix.

The concern might be that there's no CPU support for BLASEngine with half_t, but that's fine.

[2018-04-12 22:49] #10431 closed

[2018-04-12 22:50] anirudh2290 commented on #10431
You have to add fix <PR_NO> in the PR for it to automatically close.

[2018-04-12 23:45] rahul003 commented on #10531
Removing my earlier comment.

Actually float16 dot does seem supported for GPU. What error did you encounter?

[2018-04-13 00:12] eric-haibin-lin commented on #10531
@rahul003 @haojin2 are you guys working on that?

[2018-04-13 01:12] sugi1229 commented on #10516
@BenLag2906
Thanks, I changed it, it worked!!

[2018-04-13 01:57] rahul003 commented on #10531
Dot for fp16 on GPU was supported internally but a (probably older) CHECK was blocking it. Created a PR to fix this.

https://github.com/apache/incubator-mxnet/pull/10538

[2018-04-13 02:12] mengyuest commented on #9533
I used this and it worked well (though the function is very simple).

[code]

[2018-04-13 07:41] gramce opened #10539 "how to save 'gluon net' after calling hybirdize?"
The program cored after calling the origin method of net.save_params.

[2018-04-13 08:28] guoswang commented on #10521
Thanks，I will try it.@Roshrini

[2018-04-13 09:37] sbodenstein commented on #10531
@rahul003: great, thanks for fixing it!

[2018-04-13 10:46] fevemania opened #10541 "Keep illegal hardware instruction. How can I build mxnet from source without avx support?"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-04-13 13:36] marcoabreu commented on #10541
Hi @fevemania,

could you please provide us with your build configuration?

[2018-04-13 14:27] sbodenstein opened #10542 "Intel MKL-DNN RNN Support"
MKL-DNN [recently got support for RNNs](https://github.com/intel/mkl-dnn/commit/f35779d62a0b3a2e0f6be79a647b1e3acf02129b). Are there any plans for adding this as a backend to `mx.sym.RNN`, and what sort of timeframe? Thanks!

@zheng-da

[2018-04-13 14:54] fevemania commented on #10541
Hi @marcoabreu,

Here is my detail,

### Diagonose
<img width="715" alt="diagnose" src="https://user-images.githubusercontent.com/16337667/38741276-2bcb40f6-3f6c-11e8-8e24-3e611e2d2047.png">

## Build info
The OS: ubuntu 16.04 with kernel 4.4.0
The compiler: gcc 5.4.0
The commit hash of MxNet: fb50257aeb3281d7fc90abc38162edbbbe4a5cb2

I didn't change any line in config.mk. And the command I use to

[2018-04-13 15:00] TaoLv commented on #10542
@sbodenstein Thanks for asking that. It's already on our plan list for Q2. Since it's still an experimental interface, we will keep tracking the development progress from mkldnn team.
FYI, we are working intensively on PR #10104 and #10311 to provide fused RNN operator for mxnet before mkldnn RNN interfaces become mature. Hopefully, after mkldnn RNN is integrated into mxnet, code of #10104 and #10

[2018-04-13 15:39] MccreeZhao opened #10543 "Failed to compile from source when set USE_CPP_PACKAGE = 1, fatal error C1083: unabel to open file: “mxnet-cpp/op.h”: No such file or directory"
## Description

I 'm trying to compile mxnet from source code. However, when I set USE_CPP_PACKAGE=1, VS gives me 12 same errors showing below:
**\mxnet\cpp-package\example\..\include\mxnet-cpp/optimizer.hpp(37): fatal error C1083: unabel to open file: “mxnet-cpp/op.h”: No such file or directory.**

In the build tutorial, op.h should be generate dynamicaly while compiling. If there has other optio

[2018-04-13 16:07] #10521 closed

[2018-04-13 18:01] Roshrini commented on #10543
@nswamy Can you please add labels-
CPP package, Installation

[2018-04-13 18:09] Roshrini commented on #10541
@nswamy Can you please add label-
Installation

[2018-04-13 18:09] zhanghang1989 opened #10544 "name_scope/prefix doesn't work"
## Description

name_scope/prefix doesn't work
@piiswrong

## Minimum reproducible example

[code]

## Error Message:
(Paste the complete error message, including stack trace.)

[code]

## other output
[code]
Terminal ourputs:
[code]

[2018-04-13 18:12] Roshrini commented on #10542
@eric-haibin-lin Can you please add labels-
FeatureRequest, RNN

[2018-04-13 19:03] zhanghang1989 commented on #10544
Resolved with help from Aston and Sheng.

[2018-04-13 19:03] #10544 closed

[2018-04-13 22:44] smpawlowski opened #10549 "scala-package 1.1.0 build instruction Windows VS2015"
## Description
I'd like to build mxnet for Scala on Windows from source. I can build libmxnet.dll successfully, but there are no instructions how to build scala-package on Windows. [](https://mxnet.incubator.apache.org/install/windows_setup.html#install-the-mxnet-package-for-scala)
refers to make only.

Could you provide instructions relevant for windows or mxnet-scala.dll?

## Environment info (R

[2018-04-14 01:02] rahul003 commented on #10356
The build flags used for pip package are listed here
https://github.com/apache/incubator-mxnet/issues/8671

[2018-04-14 01:51] fevemania commented on #10541
@Roshrini
Pardon me? Could you explain what is label-Installation, please? I didn't get the idea about that word.

[2018-04-14 04:47] fevemania commented on #10541
And after that, my other virtualenv which install mxnet-cu80==1.1.0 that originally stable also have `illegal hardware instruction`

[2018-04-14 05:07] guoswang commented on #10521
why you closed the question, I haven't got a best answer to solve the quenstion
@nswamy

[2018-04-14 05:45] indhub commented on #10539
Please use the [user forum](https://discuss.mxnet.io/) for how-to questions for quicker response. Please include details like the stack trace, minimal reproducible example when you post in the forum to get the best responses. Thanks!

[2018-04-14 05:45] #10539 closed

[2018-04-14 06:04] srochel commented on #4253
Indu - why is this issue still open if PR 10437 fixed the issue?

[2018-04-14 06:54] anirudh2290 commented on #8344
@lanking520 can we close this now ?

[2018-04-14 06:54] anirudh2290 commented on #9508
@relaxli00 can we close this ?

[2018-04-14 06:55] anirudh2290 commented on #9632
@piiswrong can this be closed ?

[2018-04-14 06:55] anirudh2290 commented on #9648
@zhanghang1989 related pr merged. can this be closed ?

[2018-04-14 06:56] anirudh2290 commented on #9772
@ashishlal related pr merged. can this be closed ?

[2018-04-14 06:56] anirudh2290 commented on #10012
@indhub can this be closed ?

[2018-04-14 06:56] lanking520 commented on #8344
Yes we can, the PR merged. The broken link should be fixed with next release

[2018-04-14 08:01] relaxli00 commented on #9508
Please go ahead to close it. I’m away currently and will turn back after a month or so. Will let you know if any problem is found at that time. Thanks.

[2018-04-14 08:02] #9508 closed

[2018-04-14 09:37] fevemania commented on #10541
I have tried to compile once again with cuda 8.0.
As again, I pass safely with compilation stage.

And this time I get the following message with command `pip install -e . 2&>1 | tee -a file.txt`
(I know it should be `pip install -e . 2>&1 | tee -a file.txt`, just typing wrong.

And the output works normally this time, but have trouble to install.

<img width="1182" alt="2018-04-14 5 32 21" src="h

[2018-04-14 13:59] canpeng78 commented on #8132
I'm using mxnet 1.2.0, cuda 9.0 and cudnn 7.0, and still encounter this problem. So what's the final solution? (resetting MXNET_CUDNN_AUTOTUNE_DEFAULT doesn't work).
Thanks!

[2018-04-14 14:37] juliensimon opened #10552 "Build error with NNPACK (fix included)"
Hello,

Several files in src/operator/nn/ expect nnpack include files to live in the same folder, but they're located in src/operator/nnpack instead. A similar problem happens with files in src/operator/nnpack.

Here's the list of files, with a correct include directive.

**src/operator/nn/convolution.cc**
#if MXNET_USE_NNPACK == 1
#include "../nnpack/nnpack_convolution-inl.h"
#endif  // MXNET_USE

[2018-04-14 14:39] juliensimon commented on #8968
Hello,

FWIW, I ran into this issue again a couple of days when building master.

[2018-04-14 15:41] KellenSunderland commented on #8968
Maybe we could build and test with gperf, clang, and a few sanitizers?

[2018-04-14 15:57] sbodenstein opened #10553 "Build error for OSX with CUDA support"
Building MXNet on OSX with CUDA support using the Makefile appears broken. Using bisection search, the build breakages started with commit `0fd29698a11c0c77180aefdcf8264e063158a2c0`. Building gives an error:
[code]
Config file CUDA flags:
[code]
I'm using NVCC:
[code]
and Clang:
[code]

[2018-04-14 19:52] rahul003 commented on #8968
Related issues
https://github.com/apache/incubator-mxnet/issues/9096
https://github.com/apache/incubator-mxnet/issues/9098

[2018-04-14 22:34] bharatsingh430 commented on #8156
For end to end training, its not possible to prefetch. The position of the anchor-boxes changes based on the bounding box offsets in RPN and the assignment is done after the anchors are refined. The refined anchors (which are called proposals) are then compared with ground truth boxes, and label assignment is done (which is what proposal target layer does). I don't see how it can be done in pre-fe

[2018-04-15 03:27] chinakook commented on #10489
It occured when executed in jupyter but not in script because the python is not closed(then the profile attached to the python process is also not closed) in jupyter notebook.

[2018-04-15 04:46] chinakook commented on #8156
I think someone can get this like [this faster rcnn implementation](https://github.com/linmx0130/ya_mxdet/tree/master/faster_rcnn). It implement almost all calculations through the mxnet's ndarray api(It's as fast as naive c++ implementation and also compatible with mx.symbol with some modifications).

[2018-04-15 06:32] chinakook opened #10558 "NNVM build failed in the newst mxnet version"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-04-15 14:13] jianixrabbit commented on #10558
Same errors occurred on archlinux with building tools chain as follows:
[code]

[2018-04-15 14:27] bharatsingh430 commented on #8156
I don't think the above repo has the functionality requested. May be you can tell which file does that. The caffe equivalent of the operator requested is https://github.com/zhaoweicai/cascade-rcnn/blob/master/src/caffe/layers/proposal_target_layer.cu. Something close which I found is https://github.com/apache/incubator-mxnet/blob/master/src/operator/contrib/multi_proposal-inl.h but doesn't perform

[2018-04-15 15:10] KellenSunderland commented on #8016
I've tested that this works as expected with recent builds.  As mentioned previously it was likely an environment issue.  @kaisark Please let us know if this is still causing you problems.

[2018-04-15 17:27] David-Levinthal commented on #10489
It is useful to profile single minibatches..and for long running training
jobs (like translators & speech to text) you then need to kill the python
with ^C
having a close file and open file API would be enormously useful as one
could then create individual profiles for multiple minibatches

On Sat, Apr 14, 2018 at 8:28 PM, chinakook <notifications@github.com> wrote:

[2018-04-16 03:49] indhub commented on #10012
Yes. This is fixed.

[2018-04-16 03:49] #10012 closed

[2018-04-16 03:50] indhub commented on #9772
https://github.com/apache/incubator-mxnet/pull/10434 fixes this

[2018-04-16 03:50] #9772 closed

[2018-04-16 06:06] lionel92 opened #10560 "It gets blocked when executing python binding during installation from source"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-04-16 08:05] chinakook commented on #10560
Set 'USE_OPERATOR_TUNING = 0', It sometimes block executing in Ubuntu and always block executing in Windows.

[2018-04-16 08:06] YeWenting commented on #5013
@moveforever , I have checked my data but seemed to be ok. If you could tell me your scenario, it might help me to solve my problem:)

[2018-04-16 08:29] lionel92 commented on #10560
@chinakook  You really helps a lot!

[2018-04-16 08:30] #10560 closed

[2018-04-16 11:00] marcoabreu commented on #10553
https://github.com/apache/incubator-mxnet/commit/0fd29698a11c0c77180aefdcf8264e063158a2c0
@KellenSunderland

[2018-04-16 11:04] KellenSunderland commented on #10553
Taking a look ...

[2018-04-16 12:58] #10527 closed

[2018-04-16 14:04] Feywell opened #10562 "IOError: [Errno 32] Broken pipe in Windows version"
## Description
I use mx.gluon.data.DataLoader will meet this trouble:

    execfile(filename, namespace)

Code is here:
[code]
throw a trouble at

## Environment info (Required)
----------Python Info----------
('Version      :', '2.7.13')
('Compiler     :', 'MSC v.1500 64 bit (AMD64)')
('Build        :', ('default', 'May 11 2017 13:17:26'))
('Arch         :', ('64bit', 'WindowsPE'))
------------Pi

[2018-04-16 14:31] FoConrad opened #10563 "Suboptimal performance implementing PPO with Adam Optimizer"
## Description
We noticed our gluon/MXNet [Proximal Policy Optimization](https://arxiv.org/abs/1707.06347) (PPO) implementation is under-performing compared to the OpenAI Baselines version in TensorFlow. Upon inspection it appears that this may be, in part, to the Adam optimizer in MXNet.

This is seen by initializing both networks with the same parameters, and taking very much care that all the c

[2018-04-16 15:04] sbodenstein commented on #10553
Attached are my building log and config file. Running `echo $NVCC` after building returns empty. Its not defined.

[build_log.txt](https://github.com/apache/incubator-mxnet/files/1915883/build_log.txt)
[config.txt](https://github.com/apache/incubator-mxnet/files/1915892/config.txt)

[2018-04-16 17:49] nswamy commented on #10521
@guoswang Please ask your questions on discuss.mxnet.io.

[2018-04-16 18:37] ZiyueHuang commented on #10377
@szhengac I think it is due to the immutability of `symbol` so that one cannot use `sym += something`.

[2018-04-16 19:57] KellenSunderland commented on #10553
Thanks for the report @sbodenstein.  I see what the issue is and will open a PR, it should be reasonably easy to fix.

To give some background: I made this change because previously no matter what you specified as your nvcc path, the makefile would use /usr/local/cuda/bin/nvcc for nvcc.  In your case this was actually a good thing because your config specifies just 'nvcc' which is likely not on yo

[2018-04-16 20:54] ThomasDelteil opened #10567 "[Feature Request] Cache the CUDNN convolution optimization result"
On every script run, I get the CUDNN convolution optimization algorithm running. This can take a few seconds, I wonder if we could cache the result locally based on a hash of MXNet + CUDA + CUDNN version (or whatever could cause a change in algorithm selection) ?

[code]

[2018-04-16 21:41] #10341 closed

[2018-04-16 21:41] #10072 closed

[2018-04-16 22:18] temoc commented on #8319
@Roshrini I was wondering what the plans are for exporting an MxNet model to ONNX?

[2018-04-16 23:01] thomelane opened #10571 "Gluon not mentioned in Symbol API tutorial"
Gluon mention in Symbol API tutorial.

http://mxnet.incubator.apache.org/tutorials/basic/symbol.html

Given Symbol API is being used by Gluon API when Blocks are hybridized, this should be acknowledged by the tutorial. I think it would help users understand the relationship between APIs.

Sometimes Module API is mentioned, but this should also be updated to include Gluon.
e.g. "In this section, we

[2018-04-16 23:17] sxjscience commented on #10453
I find that the `dw_desc_` is created but never destroyed. See https://github.com/apache/incubator-mxnet/blob/master/src/operator/cudnn_rnn-inl.h#L516 and  https://github.com/apache/incubator-mxnet/blob/master/src/operator/cudnn_rnn-inl.h#L98

[2018-04-17 01:57] sugi1229 opened #10574 "Could't work well sbt compile using jar file"
I want load model at scala to use jar file.
I confirmed that the scala code is moving with Docker.
However, an error will occur when reading with a jar file using sbt.

build.sbt
[code]

code
[code]

error
[code]

I examined it, but I could not find a similar problem.
Is this a problem with sbt compile rather than MXNet?

[2018-04-17 03:04] sxjscience commented on #10453
It's related to https://github.com/pytorch/pytorch/issues/953. `cudnnSetDropoutDescriptor` uses a large amount of GPU memory. One choice to solve this problem is to create a DropoutDescriptor when we create a stream and always use cudnnGetDropoutDescriptor

[2018-04-17 04:28] pengzhao-intel commented on #10520
@cjolivier01 This functionality is really useful and we apply it in our daily works.
Could you help fix the issue?

[2018-04-17 07:24] hongtao12310 opened #10579 "NNPACK can't be compiled at 1.1.0 1.2.0 and master branch"
I am trying to enable NNPACK to accelerate the cnn network. and I set USE_NNPACK=1 in config.mk and run make (before that I have compiled the nnpack repository and also set the CFLAGS and LDFLAGS)

but there are some troubles when compile the nnpack_full_connected-ini.h. sounds like the FullyConnectedOp class was not implemented. below is the error log

the FullyConnectedOp class was exists in the

[2018-04-17 08:15] zheng-da commented on #10579
do you want to try MKLDNN instead? it's in 1.2 and the master branch. It's way faster than NNPack and accelerates many more operators. it's also open-source. I wonder if we still need to use NNPACK.

[2018-04-17 09:27] dwSun opened #10580 "inference results unstable in mxnet_mkl-1.2.0b20180416"
## sysinfo
Python 3.6.5
debian sid

## desc
I am using mx.mod.Module to build my inference program.
When run a same inference several time without restart my program the results are unstable, only the first one is correct, others are differ from each other.
Then I change back to mxnet-mkl 1.1.0, the results become same again.

[2018-04-17 09:48] TaoLv commented on #10580
Is it possible for you to give a repeatable model for this issue? Thanks.

[2018-04-17 10:31] dwSun commented on #10580
try this.
[issue_10580.gz](https://github.com/apache/incubator-mxnet/files/1919272/issue_10580.gz)

[2018-04-17 11:01] christoff-1992 commented on #10349
Also getting the same issue when following the tutorial at [link](https://aws.amazon.com/blogs/machine-learning/bring-machine-learning-to-ios-apps-using-apache-mxnet-and-apple-core-ml/)

[2018-04-17 11:10] marcoabreu opened #10583 "Slave hanging as part of KVStore test"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10566/3/pipeline

Logged into the slave and was able to reproduce hang. I tried to recompile from scratch and use other branches, but the run always outputs an error like the following:

[code]

I have verified that no processes are allocating the GPU before the launch using ```nvidia-smi```. The process nev

[2018-04-17 11:27] pengzhao-intel commented on #10580
did you try new mkldnn backbend?

[2018-04-17 14:39] chinakook commented on #10558
My another PC with Ubuntu 16.04(gcc5/cuda8) can build successfully. I think there are some error in nnvm/tvm with gcc 6.4 or cuda 9.1 after April 11.

[2018-04-17 15:17] chinakook commented on #10558
As I've tested, it's the problem with https://github.com/dmlc/mshadow/pull/330 in mshadow. @rahul003 @piiswrong

[2018-04-17 16:31] zheng-da commented on #10580
could you provide us a minimum script to reproduce the error? Thanks

[2018-04-17 16:50] TaoLv commented on #10580
@dwSun Thanks for the scripts. Here is my update:
This issue can be reproduced on master branch with mkldnn enabled. I have tried several old commits, it seems this issue was introduced in since #9918 , which is just for updating mkldnn version. So I doubt there are some bugs in mkldnn. Need more investigation.
@xinyu-intel @pengzhao-intel

[2018-04-17 16:56] zheng-da commented on #10580
Does it mean the bug is in the MKLDNN library?

[2018-04-17 17:05] TaoLv commented on #10580
I guess yes, but not sure. I opened MXNET_MKLDNN_DEBUG but no complaints. Still need minimum case to reproduce it.

[2018-04-17 17:16] sxjscience opened #10584 "Possible loss of precision when packing labels in RecordIO"
## Description

The labels are converted to float32. In some cases, there are a huge number of labels and will exceed the precision of float32.

https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/recordio.py#L338

[2018-04-17 17:53] #10517 closed

[2018-04-17 19:14] rahul003 commented on #10558
@chinakook So ubuntu with gcc6.4 fails? I see. Could you help confirm two things?

make build with the flag USE_F16C=0

[2018-04-17 22:46] marcoabreu commented on #8712
Fixed as of https://github.com/apache/incubator-mxnet/commit/61a93a500e6e70e0760e7d81545de9557fb3932d

[2018-04-17 22:46] #8712 closed

[2018-04-17 22:47] ThomasDelteil opened #10586 "Cannot build ubuntu_gpu CI docker image (java8 sdk missing)"
@marcoabreu

`sudo ci/build.py --platform ubuntu_gpu`

[code]

Checking the comments of this [page](https://tecadmin.net/install-oracle-java-8-ubuntu-via-ppa/), it looks like recently there has been this bug.

Common recurrent issue webup8 are getting behind the official releases: [SO issue](https://stackoverflow.com/questions/46815254/oracle-java8-installer-webupd8-ppa-404-not-found)

[2018-04-17 23:14] anirudhacharya opened #10588 "Error while trying to run LeakyRelu layer with 1-d input"
## Description
Not able to run a gluon.nn.LeakyReLU layer when the input to the network is 1-dimensional. Check the reproducible example at the bottom of the issue. I get the following error -
[code]

## Environment info (Required)
[code]

Package used (Python/R/Scala/Julia):
I'm using Python

Compiler (gcc/clang/mingw/visual studio):
clang

MXNet commit hash:
ceb810ccc17a712c375d55418a0ba45ae9171

[2018-04-17 23:27] eric-haibin-lin opened #10589 "req doesn't work for pretrained models in Gluon"
Reported in https://discuss.gluon.ai/t/topic/2066/5
[code]
req='add' doesn't work in this case.

[2018-04-18 00:40] ThomasDelteil commented on #10586
Could we just use the openjdk ?

[2018-04-18 01:26] arisliang commented on #8132
While auto tuning, it gives an error message and still running. Is this normal? mx 1.2.0, cuda 9.0, ubuntu 16.04

[2018-04-18 01:27] arisliang commented on #8132
While auto tuning, it gives an error message and still running. Is this normal? mx 1.2.0, cuda 9.0, ubuntu 16.04

[2018-04-18 01:29] hongtao12310 commented on #10579
yes i am also trying MKLDNN

but the master branch can't be linked due to lack NNPACK related library although i set the USE_NNPACK to 0

ld: warning: option -noall_load is obsolete and being ignored
Undefined symbols for architecture x86_64:
  "_nnp_deinitialize", referenced from:
      mxnet::op::NNPACKInitialize::~NNPACKInitialize() in nnpack_util.o
  "_nnp_initialize", referenced from:
      m

[2018-04-18 02:58] TaoLv commented on #10580
On latest master, this issue for @dwSun 's script can be resolved by removing below line from mkldnn_convolution.cc
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/mkldnn/mkldnn_convolution.cc#L286
[code]
However this change only works for inference. We still need more comprehensive solution for it.
I feel that we can't push async operation to execution engine from an operato

[2018-04-18 03:19] Alexander-flyer opened #10596 "Error :"cannot find -lcudnn" when compile mxnet"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-04-18 03:44] asitstands commented on #10558
Same here with gcc 6.4 / cuda 9.1 on Arch linux. The make build with USE_F16C=0 removes the error.

[2018-04-18 03:48] chinakook commented on #10558
Hi, @rahul003 @asitstands has confirm the first one.
mxnet on cmake is not very friendly with gcc6.

[2018-04-18 04:46] zheng-da commented on #10580
The reason we push async here is to change the layout of weight arrays during inference so that we don't need to change the layout every time.
Originally, the code changed the data layout inside the array directly, and it caused a race condition.

How is @dwSun code different from here https://github.com/apache/incubator-mxnet/blob/master/tests/python/gpu/test_gluon_model_zoo_gpu.py#L41
The code w

[2018-04-18 04:51] lixiangchun opened #10598 "How to assign weight for each class in the fine-tuning example?"
Sometimes, we need to assign weight for each class when performing fine-tuning if the class is imbalanced. How to do this with mxnet?

[2018-04-18 05:07] hongtao12310 commented on #10579
sounds like i made the mistake, please ignore it

[2018-04-18 06:02] ZiyueHuang commented on #10509
Some dense operators also need temp space, additional information (whether this operator needs temp space in `FCompute`) is required, but I think we need discuss about the form of this kind of information (register another attribute in nnvm graph or in other ways). I can work on this issue if the form of additional information is decided.

[2018-04-18 06:27] eric-haibin-lin commented on #8920
done in 1.2

[2018-04-18 06:27] #8920 closed

[2018-04-18 06:41] Alexander-flyer commented on #10596
hmm
I have solved the problem by "conda install cudnn"

[2018-04-18 08:28] chinakook opened #10599 "[MKLDNN Bug] MKLDNN eats lots of memory and then crash down."
MKLDNN eats lots of memory and crash down with **big** input image. You can try [a project of mine](https://github.com/chinakook/hr101_mxnet) to issue that. The ordinary MKL can run it successfully in 8GB memory, but MKLDNN eat all 64GB of my PC.
**Big** input data are very common used in little object detection in a big scene and regular scene segmentation.

[2018-04-18 08:36] pengzhao-intel commented on #10599
@juliusshufan please help take a look at this issue.

[2018-04-18 10:02] PKurnikov opened #10600 "Gluon Interpolation Layer"
I tried to implement the layer on gluon like this:
[code]

But I've got error msg:

Is it possible to implement gluon interpolation layer?
I tried a different approach (mx.nd.GridGenerator + mx.nd.BilinearSampler), also unsuccessfully.

[2018-04-18 10:40] PKurnikov commented on #10600
Unfortunately, I can't to use this approach

, because I use BatchNorm, HybridSequential classes which contains HybridBlock realisation.

All children layers of HybridBlock must also be HybridBlock.

[2018-04-18 10:49] chinakook commented on #10600
[code]
or
[code]

[2018-04-18 12:05] ariwaranosai opened #10601 "load parameters error with the same code exported by HybridBlock"
## Description

HybridBlock export don't remove self.prefix in name, but load_params will insert_prefix. This is confusing for

[code]
since prefix will be insert twice during load params.

It would be nice, give a parameter to control whether remove  self.prefix or not.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
I'm using Python

## Error Message:
Traceback (mos

[2018-04-18 12:42] PKurnikov commented on #10600
@chinakook ,
Thanks, this way is work!
But the function BilinearResize2D does not work with 'width' more then 1000.
Are there any alternative approaches to create interpolation layer without this restrictions?

[2018-04-18 12:47] crazyleg opened #10602 "mxnet.model.server custom Service model.get_outputs() returns only one result"
## Description
When using mxnet.model.server custom Service model.get_outputs() returns only one result, while data supplied to self.mx_model.forward(DataBatch(data), is_train=False) has a list of many.

## Environment info (Required)

I assume not required here
I'am using Python.

## Minimum reproducible example
    def _inference(self, data):

        data = [item.as_in_context(self.ctx) for ite

[2018-04-18 12:51] chinakook commented on #10600
I don't know. I think this op is weird.

[2018-04-18 13:10] pengzhao-intel commented on #10599
The case consumes about 40G peak memory w/ MKL-DNN in 8.4 seconds while 12G w/ default CPU path in 14.5 seconds.

We're looking into this issue.

[2018-04-18 13:16] chinakook commented on #10599
Thanks! As I've tested before, when inferencing a scene segmentation network such as Deeplab or U-Net,  MKL-DNN also consume far more momery.

[2018-04-18 15:34] marcoabreu commented on #10586
I'm indifferent to that.

[2018-04-18 18:32] rahul003 commented on #9629
@tornadomeet / @315386775 Were you both using such low batch sizes? I imagine in such cases, the CUDA overhead might dominate network GPU costs and does not provide a fair picture. I've tried using larger batch sizes for the same model and did notice decrease in memory used.

[2018-04-18 18:41] rahul003 commented on #10531
Can we close this now?

[2018-04-18 19:34] eric-haibin-lin commented on #10509
After some discussion with @piiswrong and @zheng-da I think the following additional interface will be sufficient to distinguish most of the ops:
[code]
We need to replace FResourceRequest with FResourceRequestEx for the ops we want to change.

[2018-04-18 23:36] Roshrini commented on #10480
@nswamy Could you please add label-
installation, windows

[2018-04-18 23:49] Roshrini commented on #10432
@lanking520 Can you upload models files for imageclassification and SSD examples in S3 and change the links?

[2018-04-18 23:55] Roshrini commented on #10532
@nswamy Could you please add labels-
Python, NDarray

[2018-04-18 23:56] Roshrini commented on #10549
@nswamy Could you please add labels-
Scala, Windows, Installation

[2018-04-19 00:07] Roshrini commented on #10492
@cjolivier01 Any idea how to set the logging level?
Also could you please add labels-
C++, Question

[2018-04-19 00:08] Roshrini commented on #10494
@eric-haibin-lin could you please add labels-
Python, Optimizer

[2018-04-19 01:05] rahul003 commented on #10558
For the CMake build I checked both that the CPU supports f16c and compiler supports f16c and then set the flag on. For Make I couldn't figure out how to identify if the compiler supports the flag, so I only checked that the CPU supports it. I'll try to see if I can figure out compiler support automatically and then set USE_F16C=0

[2018-04-19 02:36] ZiyueHuang commented on #10509
Sounds good. I will have a try. Thanks.

[2018-04-19 04:07] zheng-da opened #10609 "Gluon code fails in the normal mode but succeeds in the hybrid mode."
## Description
[code]
the code above fails with the following error:
[code]

If I call hybridize the block and pass the data again to the block. It works.

[code]

Is this a bug?

[2018-04-19 05:04] li-haoran opened #10610 "memory increase when use adam and rmsprop."
recently, i implement an hourglass like model for pose estimation. during training, the memory increases. and i use the memory_profile to diagnose separately for data loader and module.  the data loader can not increase the memory using.   and i profile the training process, i find if i use the adam and rmsprop optimizer, the memory will increase . if i use sgd, the memory do not increase.

i also

[2018-04-19 06:08] KaiserSozo commented on #10532
As I understand now memory consumes here: weights.set_data(weights.data() + output). Where weights is the Parameter with grad_req {'null'}. I've choosen such way of parameter updating because:
1. I already have needed delta for gradient descent from output = net(data)
2. (The most valuable) Trainer.step takes 1.5x more time approx than modyfiing parameter directly.

So here are 3 questions:
1. How

[2018-04-19 06:12] Seager1989 commented on #5979
I have the same problem on my project as using the symbol method to train an ANN. After normalizing the train.y. The result seems good. This might be caused by the different data scales between the input and output. This might cause the large weights difference and cannot be convergence. You can back to see if the same value is almost equal to the mean value of the train.y.

[2018-04-19 06:30] kailiu9 commented on #1611
@yzhliu when I use NaiveEngine, this error still arise。

[2018-04-19 09:26] xiadeye commented on #1754
what does '${CXX} ${CFLAGS} -fPIC -o $@ -c jni/predictor.cc --sysroot=${SYS_ROOT} -I ${INCLUDE}' mean?Is it added in makefile?But I get error:
'Makefile:7: *** missing separator'

[2018-04-19 10:20] smartadpole opened #10611 "Reshape network"
## Description
In c/c++ code,
How to reshape a network created by ```MXPredCreate```.
The ```MXPredReshape``` is not exported.

e-mail:smartadpole@163.com

[2018-04-19 11:57] chinakook commented on #10611
https://github.com/apache/incubator-mxnet/pull/10612

[2018-04-19 14:37] KaiserSozo commented on #10532
Ok, for the first question and topic question I have the answer:
Need to use weightsData.wait_to_read() after weights.set_data(weights.data() + output)

But performance issue is still valid

[2018-04-19 14:45] spidyDev commented on #10611
@nswamy  Please tag this as : Question , Feature

[2018-04-19 14:50] spidyDev commented on #10610
@li-haoran  Please do post your question on https://discuss.mxnet.io/

@nswamy : Please tag as: Question, Memory

[2018-04-19 15:02] spidyDev commented on #10609
@nswamy : Please tag as : question, gluon

[2018-04-19 15:11] spidyDev commented on #10602
@crazyleg  Please post your question on https://github.com/awslabs/mxnet-model-server/issues
to get better response for this issue.

@reminisce  Please tag : Question

[2018-04-19 15:15] spidyDev commented on #10601
@reminisce : Please label this: gluon, bug

[2018-04-19 15:17] spidyDev commented on #10600
@reminisce : Please label as : Gluon, question, operator

[2018-04-19 15:26] spidyDev commented on #10598
@lixiangchun : Please do post your question on : discuss.mxnet.io

@reminisce : Please label as : Question, HowTo

[2018-04-19 15:27] spidyDev commented on #10588
@nswamy  Please label as : Gluon, Operator, Question

[2018-04-19 15:28] KaiserSozo commented on #10532
Addition: I've measured time again with .wait_to_read() and calculaton time was 330 seconds but copying time became 2400 seconds!

[2018-04-19 15:28] David-Levinthal commented on #10505
you mean modify the title to start with Profiler (upper case P)

[2018-04-19 15:30] spidyDev commented on #10586
@ThomasDelteil  @marcoabreu  Could we tag this issue appropriately? Thanks.

[2018-04-19 15:32] TaoLv commented on #10580
update:
@dwSun could you help to try this branch to see if this issue still there?
https://github.com/TaoLv/incubator-mxnet/tree/fix-SetMKLMem

Thanks.

[2018-04-19 16:36] KaiserSozo commented on #10532
So as I concluded I can call wait_to_read() not each time I'm updating weights.set_data(weights.data() + output), but for example with 1:10 or 1:20 frequency. That should speed up the process drastically. As I see from the debugger actual data already is in 'weights' right after calling set_data, even if I'm not calling wait_to_read() (this explains such a big growth of memory usage). So new itera

[2018-04-19 16:41] anirudhacharya commented on #10588
@spidyDev I think it is more of a bug than a question.

[2018-04-19 17:02] spirosparaskevas commented on #8869
First of all thanks for confirming this situation. I have just verified this awkwardness. Can u suggest a workaround?

[2018-04-19 17:46] KaiserSozo commented on #10532
So I think I was wrong and 'weights' do not have actual data if not wait_to_read() called. Because after testing my code with wait_to_read() called on each 20-th iteration error raised on 20% but thecopying time persisted the same. Any suggestions?

[2018-04-19 18:18] spidyDev commented on #10579
@hongtao12310 : Do you have answers for your problem. IF yes, please go ahead and close this issue. Thanks

@zheng-da : Can you please tag this as : Build.

[2018-04-19 18:52] spidyDev commented on #10574
@reminisce : Please label this as : Scala, Question

[2018-04-19 18:54] spidyDev commented on #10571
@eric-haibin-lin  Please label : Doc

[2018-04-19 18:55] spidyDev commented on #10567
@eric-haibin-lin : Please label : CUDA, Feature

[2018-04-19 19:10] spidyDev commented on #10553
@KellenSunderland  Please label this issue : Build

[2018-04-19 19:12] spidyDev commented on #10552
@eric-haibin-lin : Please label this as: Build

[2018-04-19 19:51] lanking520 commented on #10432
Here you go: https://github.com/apache/incubator-mxnet/pull/10617

[2018-04-19 20:19] Roshrini commented on #10397
Please use the user forum for how-to questions. You'll get quicker responses there. https://discuss.mxnet.io/
@reminisce Can you please add labels-
Question, python

[2018-04-19 20:26] Roshrini commented on #10379
@mrRo8o7 Please close the issue if your query is resolved.
Also, Please use the user forum for how-to questions. You'll get quicker responses there. https://discuss.mxnet.io/

[2018-04-19 20:27] ThomasDelteil commented on #9553
Seems to be flaky again:
[code]

[2018-04-19 21:50] spidyDev commented on #10502
@eric-haibin-lin  Please label it as: Question

[2018-04-19 21:51] spidyDev commented on #10519
@eric-haibin-lin : Please label: Question, Operator

[2018-04-19 22:33] #10158 closed

[2018-04-20 00:13] li-haoran commented on #10610
ok, i posted.

[2018-04-20 01:40] #10601 closed

[2018-04-20 02:55] smartadpole commented on #10611
@chinakook 谢谢您的回答。我还有几个问题:
“Add MXPredReshape API MXNET_DLL prefix” 的操作是mxnet的开发者做吗，还是我做？我做的话可能要重编源码，是这样吗？
既然现在要导出MXPredReshape ，为什么一开始没有这样做呢？是编码失误，还是设计需求。
每一次测试时，我用创建和销毁网络替代了reshap，这个问题暂时解决了。但是遇到了另一个问题，我从“MXPredGetOutput”得到了网络的输出，但是不知道数据是怎么组织的，没办法解析。网络是想R-CNN一样的物体检测网络。
————————————————————————————————————————————————
@chinakook Thank you for your help. I also have two question:
-   Should the mxn

[2018-04-20 03:54] chinakook commented on #10611
You only need to compile the newest mxnet by yourself. Then the MXPredReshape can be used on windows.

[2018-04-20 03:56] 2016xjtuzyt commented on #8443
the problem has been solved by update cuda driver!

[2018-04-20 03:56] #8443 closed

[2018-04-20 05:51] hongtao12310 commented on #10579
mkldnn can be built. but nnpack was still can't be built , i reviewed the code, sounds like there are some includes issue and class not defined issue( such as FullyConnectedOp) for the nnpack part

[2018-04-20 06:09] zheng-da commented on #10599
The memory used by MKLDNN is also allocated by the MXNet memory allocator. MKLDNN NDArrays are reused in the computation graph as normal NDArrays. The difference between MKLDNN operators and the normal operators is the temp space. MKLDNN operators use it for layout conversion. The temp space isn't required by most of the normal operators. The temp space may consume huge amount of memory and the MX

[2018-04-20 06:34] qxin commented on #9275
@sandeep-krishnamurthy Thanks ~ (and sorry, for the inactivity)

[2018-04-20 06:47] lionel92 commented on #10599
@zheng-da @pengzhao-intel
I reproduced this case, and per the memory allocation profiling (via the content of smaps file), there are large size memory allocated on heap (over 15GB).

Is it possible to analyze from the model arch perspective??
Thanks.

[2018-04-20 06:49] IrvingShu commented on #9920
@wkcn thanks for sharing your ways.  I added ctx = context.cpu(), however,  the new problem happens:
/usr/local/lib/python2.7/dist-packages/mxnet/module/base_module.py:466: UserWarning: Optimizer created manually outside Module but rescale_grad is not normalized to 1.0/batch_size/num_workers (0.25 vs. 0.0078125). Is this intended?
  optimizer_params=optimizer_params)
call reset()
terminate called

[2018-04-20 07:01] zheng-da commented on #7652
just saw the comment. I'll update the tutorial

[2018-04-20 07:04] zheng-da commented on #9812
This bug has been fixed by https://github.com/apache/incubator-mxnet/pull/9862
I think we can close the issue now.

[2018-04-20 07:05] zheng-da commented on #9835
i just saw this message. @ashokei is working on this.

[2018-04-20 07:10] dwSun commented on #10580
@TaoLv can you provide a pre-compiled pip package?
Thanks

[2018-04-20 07:27] TaoLv commented on #10580
Please ignore that. @zheng-da has submitted the final fix in #10624 . You can try the nightly build after that PR is merged. Thanks.

[2018-04-20 08:09] FCInter opened #10625 "ImageRecordIter loading small data reports out of memory"
## Description
(Brief description of the problem in no more than 2 sentences.)
mx.io.ImageRecordIter reports CUDA out of memory when loading a 50MB .rec file.

## Environment info (Required)

----------Python Info----------
('Version      :', '2.7.14')
('Compiler     :', 'GCC 7.2.0')
('Build        :', ('default', 'Oct 16 2017 17:29:19'))
('Arch         :', ('64bit', ''))
------------Pip Info-----

[2018-04-20 09:01] #10379 closed

[2018-04-20 09:31] wkcn commented on #9920
@IrvingShu
It seems that the data types of source ndarray and target ndarray are different.
Could you upload the Minimum reproducible example?

[2018-04-20 09:43] #10288 closed

[2018-04-20 09:51] KaiserSozo commented on #10532
Also the topic starting problem still persists:
File "SOM.py", line 429, in <module>
  File "SOM.py", line 328, in evaluate_accuracyMLP
    acc.update([label], [output])
  File "C:\Users\C0d3r\Anaconda2\lib\site-packages\mxnet\metric.py", line 418, in update
    pred_label = pred_label.asnumpy().astype('int32')
  File "C:\Users\C0d3r\Anaconda2\lib\site-packages\mxnet\ndarray\ndarray.py", line 1826

[2018-04-20 09:56] DYG111 opened #10626 "Could you help build windows pypi package mxnet-cu90 for version 1.0.0 and version 1.1.0?"
Hello, Could you help build windows pypi package with below dependencies:

1. cuda9.0 and cudnn7.0.5
2. windows 10, x64
3. mxnet 1.0.0 and 1.1.0

Thank you very much!

[2018-04-20 11:30] KaiserSozo commented on #10532
So, when I replaced algorithm for evaluation accuracy for my own, memory consumption became stable.

WAS:
def evaluate_accuracyMLP(dataIt, outputIt, net, netSom, inputsCount, activeNeuronsCount):
    #acc = mx.metric.Accuracy()
    #i = 0
    #for data, label in itertools.izip(dataIt, outputIt):
    #    data = data.as_in_context(ctx)
    #    label = label.as_in_context(ctx)
    #    outputT, win

[2018-04-20 11:39] KaiserSozo commented on #10532
The same situation with memory consumption persists when I'm adding (using +=) NDArray from 1 element in a loop and after loop call .asscalar()
It fixes by calling .asscalar() in for loop for each iteration.

[2018-04-20 11:42] khurramHazen commented on #3432
' If you are also using Anaconda, link Anaconda's local version of libgdal to the one you used for building MXNet.'
@WellyZhang I am using Anaocnda and have installed libgdal using 'sudo apt-get install libgdal' as well as using 'conda install gdal' and I have also compiled opencv manually. Can you please explain how to do I link opencv with conda installed libgdal ?

[2018-04-20 12:43] chengdazhi opened #10627 "8 gpu no speed up, delay caused by main thread"
Hi all,

I am running resnet backbone on 4 gpus, and when we try to use all 8, it provides no speed-up. We have pinned down the problem to the main thread, specifically, the **training loop**. I understand that all computations and real forward are done on GPUs asynchronously, but still the main thread need to call the python commands like self.conv1(data) to start building computation graphs and

[2018-04-20 12:44] chengdazhi commented on #10627
@piiswrong Hi Junyuan, any suggestions?

[2018-04-20 13:26] spidyDev commented on #10355
@z362194037  Is it possible to upgrade to a newer version, as 0.9.5 is quite old version.

[2018-04-20 13:29] spidyDev commented on #10356
@ArmageddonKnight  Please close this issue, if your is answered. Thanks

[2018-04-20 13:42] KaiserSozo commented on #10532
I removed .asscalar() call from for loop, because it takes too much time for execution (again question about performance!) and again I have out of memory problem, I assume because of loss function calculations. Is it usual behavior (consumig so much memory) and I need more RAM (I refuse to believe it also as in so much time for asscalar(), mem copying and so on)?

[2018-04-20 16:15] WellyZhang commented on #3432
@khurramHazen If you build OpenCV and MXNet using system lib but run with Anaconda IPython, you might have this problem. Try to be consistent in building and running, link libs necessary for MXNet in your Anaconda lib folder to system libs, or build the packages using libs in your Anaconda folder. But I definitely recommend the first.

[2018-04-20 17:07] szha commented on #10626
@yajiedesign

[2018-04-20 17:40] ThomasDelteil commented on #9974
@jwfromm opened a PR with the fix https://github.com/apache/incubator-mxnet/pull/10628

[2018-04-20 19:17] ArmageddonKnight commented on #10356
@rahul003 Thanks a lot for your help and @spidyDev  sorry for forgetting to close this issue.

[2018-04-20 19:17] #10356 closed

[2018-04-20 19:40] KellenSunderland commented on #10553
@spidyDev I don't think I have permission to label.  Maybe @marcoabreu  can help us out.

[2018-04-20 20:06] ThomasDelteil commented on #10280
Happened to me too
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10628/3/pipeline/676

[2018-04-20 20:46] ThomasDelteil commented on #9845
Happened to me too:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10628/4/pipeline/656

[2018-04-20 20:53] piiswrong commented on #10627
We are working on optimizing gluon performence. One of the things we are trying is using multiple threads for forward. see https://github.com/apache/incubator-mxnet/pull/10536

for now you can train two models on 4 gpus each...

[2018-04-20 21:01] piiswrong commented on #10627
btw what gpus are you using?

[2018-04-20 21:25] SerailHydra opened #10631 "Better auto-tuning strategy for multi-machine training performance?"
## Description
The performance of multi-machine training is greatly affected by this MXNET_CPU_WORKER_NTHREADS variable. It seems that MXNet will auto-tune this variable, and it can lead to very different performances even if the user does not do anything else. Maybe the auto-tuning strategy can be improved so that it won't deliver bad performance just because of something that users have no contr

[2018-04-21 00:05] nswamy commented on #10432
#10617

[2018-04-21 00:05] #10432 closed

[2018-04-21 03:04] yajiedesign commented on #10626
1.1.0 is done,1.0.0 come soon on

[2018-04-21 06:36] chengdazhi commented on #10627
Thanks Junyuan, I am using all Titan X.

Multi thread forwarding would be really nice~

[2018-04-21 06:39] #10627 closed

[2018-04-21 06:42] #10531 closed

[2018-04-21 09:26] zhaoxy2018 opened #10634 "How to get internal output with C++ API?"
I want to get some intermediate results in the network with the C++ API. I found an old issue but the link suggested in the solution (https://github.com/dmlc/mxnet/tree/master/example/cpp/image-classification) is no longer valid now. So what is the proper way to inspect network intermediate results with the new C++ API?

[2018-04-21 12:36] yajiedesign commented on #10626
all done

[2018-04-21 17:41] barkntuncer opened #10636 "How to install mxnet for CUDA8.0 properly? mxnet-cu80 error"
## Description
Trying to install mxnet for CUDA-8.0 with mxnet-cu80 while following [here](https://mxnet.incubator.apache.org/install/index.html). When I try the python code below on the page, it gives error.

## Environment info (Required)
Ubuntu 16.4 Python 3.5.2 CUDA-8.0 nvidia 950m
[code]

Package used (Python/R/Scala/Julia):
(I'm using PYTHON)

For Scala user, please provide:
1. Java version:

[2018-04-21 18:25] barkntuncer commented on #10636
When I reinstall NVIDIA driver, it fixed

[2018-04-21 18:25] #10636 closed

[2018-04-22 04:53] ThomasDelteil commented on #1356
I am trying to load a np array into a Dense layer as weight like this:

[code]
I get:
[code]

[2018-04-22 05:51] ThomasDelteil opened #10638 "[Feature Request] Gluon model zoo allow fine-tuning"
Currently it is a little bit of a faff to fine-tune a model from the model-zoo.
The straight dope takes the option of downloading both the pre-trained and non-trained model and assigning the trained features to the non-trained model.
http://gluon.mxnet.io/chapter08_computer-vision/fine-tuning.html
As done in the naming tutorial, you can also re assign the `.output` layer of the model from the mode

[2018-04-22 06:02] szha commented on #10638
The semantics of such call might be ambiguous. Given that we already consistently name the network parts as "features" and "output", I think an easier approach is to just document this structure and make it a convention.

[2018-04-22 06:08] ThomasDelteil commented on #10638
I agree that documenting the structure of the network would be very helpful to start with. And also documenting the fact that the `classes` argument is only valid with `pre_trained=False`, in the docs and by throwing an appropriate exception.

However I don't really see the ambiguity in the semantics? Could you elaborate in which case there would be ambiguity?

[2018-04-22 06:14] ThomasDelteil commented on #10638
Also @szha , I think another common use case is to use a network as a featurizer. Currently the only way I found without going to the symbolic representation is to replace the output layer with a dense layer without bias and with the identity matrix as weight. It would be nice if we could have an option to set `Featurizer=True` and it would set the output layer to a pass-through `HybridLambda` for

[2018-04-22 06:28] luoyetx commented on #10544
parameters of `SymbolBlock` is not saved.

[code]

gets

[code]

and

[code]

something wrong with `block._reg_params` and `block._collect_params_with_prefix()`

@piiswrong

[2018-04-22 06:35] szha commented on #10638
In the proposed design, without the knowledge of actual implementation, the call may either be interpreted as "get me a pre-trained model and replace the output layer with a size of 10", or "get me a pre-trained model that was trained on 10 classes".

For using the network as feature extractor, simply use the net.features block.

[2018-04-22 06:43] ThomasDelteil commented on #10638
:+1: that's much simpler indeed, thanks. Maybe having a `PreTrained` class that documents the `.features` and `.output`, and various usage could be a good idea.

I see the ambiguity now, one way to circumvent this ambiguity could be that setting specifically the number of classes means getting an untrained last layer. But the issue would be that it is not backward compatible with people having alr

[2018-04-22 09:30] leedstark opened #10640 "Mxnet cu90 on Windows"
## Description
I've installed Mxnet using pip install mxnet-cu90, when I import the package it doesn't get recognized.

## Environment info
Windows 64 bit
Anaconda virtual env
Python 3.6
GPU Nvidia capability 5.0
CUDA 9.0 installed

## What have you tried to solve it?

1. I've tried mxnet CPU and it worked.

[2018-04-22 09:35] chinakook commented on #10634
[code]

[2018-04-22 09:38] simonmaurer opened #10641 "How to implement custom loss functions without label assignments (unsupervised) ?"
@pengwangucla @saicoco that example #5580 helped me pretty well starting to understand the data flow. thanks a lot
now I wanna implement three custom loss functions which not only have an additional parameter (specifically a hyperparameter and not learned) but also are independant of the label (as the training is unsupervised and from that new layer perspective only depends on a binary transformat

[2018-04-22 12:50] marcoabreu commented on #10586
https://github.com/apache/incubator-mxnet/pull/10642

[2018-04-22 21:45] sl1pkn07 opened #10644 "Build: error: argument of type "const void *" is incompatible with parameter of type "const XXXXX*""
Tried install mxnet througth AUR on my Archlinux

https://aur.archlinux.org/packages/mxnet

## Description
fail build with tons of error message like the log pasted in the bottom

## Environment info (Required)

[code]

Note about the processors, is a Dual Xeon E5-2650-V4 ES

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

GCC 6.4.1
cblas 3.8.0-1
lapack 3.

[2018-04-22 23:59] sl1pkn07 commented on #10644
tested with Cmake 3.11.0

[code]

same error

[2018-04-23 02:27] KeyKy commented on #7450
I also get the error.

[code]

[2018-04-23 02:28] DYG111 commented on #10626
Sorry,  I can't find mxnet-cu90 1.0.0 for windows, please give me a link, thank you very much! @yajiedesign

[2018-04-23 03:49] chinakook commented on #10644
#10558

[2018-04-23 04:52] juliusshufan opened #10647 "The gluon example fails to run on CPU at "symbolic" mode"
## Description
When using argument --mode symbolic and not set --gpus, it assumed the script will run on CPU, while actually the device is not correctly set to mx.cpu() but still set as GPU

## Environment info (Required)
OS: CentOS 7.2

[code]

Package used (Python/R/Scala/Julia): Python

## Build info (Required if built from source)
make -j ($nproc) USE_MKLDNN=1 USE_BLAS=mkl USE_OPENCV=1

Compil

[2018-04-23 05:58] casscw opened #10648 "Why examlpe wide_deep runs faster on win10(cpu) than linux(gpu-Tesla M40 24GB)"
## Description
code link is here https://github.com/apache/incubator-mxnet/tree/master/example/sparse/wide_deep
Why examlpe wide_deep runs faster on win10(cpu) than linux(gpu-Tesla M40 24GB)

## Environment info (Required)
### win10
----------Python Info----------
Version      : 3.5.2
Compiler     : MSC v.1900 64 bit (AMD64)
Build        : ('default', 'Jul  5 2016 11:41:13')
Arch         : ('64bit

[2018-04-23 07:35] Laurawly opened #10650 "How to set parameter ```use_global_stats``` in Gluon pretrained blocks"
If we call ```resnet18 = vision.resnet18_v1(pretrained=True)```, the pretained model is using local stats instead of global stats. How set parameter ```use_global_stats``` for a pretained model?

[2018-04-23 08:15] Laurawly commented on #10650
Closed thanks to @szha's response in https://discuss.gluon.ai/t/topic/5610/2. Manually changing this is not that desirable. It would be great if such feature is added.

[2018-04-23 08:15] #10650 closed

[2018-04-23 08:56] sl1pkn07 commented on #10558
how i can disable the f16c on cmake?

[2018-04-23 13:27] chinakook commented on #10648
Sparse op is faster on CPU than on GPU.

[2018-04-23 16:10] r4ghu commented on #10640
Did you install CuDNN? I guess you also need to install a right version of compatible cuDNN to make it work.

[2018-04-23 18:30] sl1pkn07 opened #10655 "cmake warning: You have called ADD_LIBRARY for library mxnet without any source files. This typically indicates a problem with your CMakeLists.txt file"
## Description
``
You have called ADD_LIBRARY for library mxnet without any source files. This typically indicates a problem with your CMakeLists.txt file
``

## Environment info (Required)
What to do:
[code]
NOTE: the processor is a pair of Xeon E5-2650-V4 ES

Compiler (gcc/clang/mingw/visual studio):

cmake 3.10.3

MXNet commit hash:
`057885d7442de67d6c2ebfb49b5356ba25850204`

Build config:
[cod

[2018-04-23 18:30] sl1pkn07 commented on #10644
close as dupe

greetings

[2018-04-23 18:30] #10644 closed

[2018-04-23 19:50] anirudhacharya commented on #6648
@thirdwing this PR - https://github.com/apache/incubator-mxnet/pull/10473 adds the api doc.

[2018-04-23 20:02] leedstark commented on #10640
Yes CuDNN 7 is installed and other Deep learning frameworks (Mxnet, TensorFlow) work very well with the GPU.

[2018-04-23 20:05] leedstark commented on #10640
It actually works well now. I had two version of CUDA installed. I just disabled the old one.

[2018-04-23 20:05] #10640 closed

[2018-04-23 20:30] spidyDev commented on #9814
I wasnt able to replicate the issue with the minimum reproducible example stated above.

But with ./alexnet I am hitting this error:
Process 92985 launched: './alexnet' (x86_64)
libc++abi.dylib: terminating with uncaught exception of type dmlc::Error: [13:28:39] ../include/mxnet-cpp/ndarray.hpp:54: Check failed: MXNDArrayCreate(shape.data(), shape.size(), context.GetDeviceType(), context.GetDevice

[2018-04-24 00:24] yajiedesign commented on #10626
@DYG111 https://pypi.org/project/mxnet-cu90/1.0.0.post4/#files

[2018-04-24 00:26] #10610 closed

[2018-04-24 00:41] zheng-da opened #10663 "mismatch of padding in conv between MXNet and ONNX"
MXNet conv currently assumes a tuple of 2 elements (height, width), while ONNX uses a tuple of 4 elements (left, right, top, bottom). Currently, when MXNet loads a ONNX model, it still uses a padding tuple of 4 elements.

The current implementation of MXNet conv doesn't check the number of elements in the tuple and just uses the first two elements in the tuple. For symmetric padding, this issue is

[2018-04-24 01:08] edavilandes commented on #10349
I do not see to find the checkbox to mark this issue as a bug.

[2018-04-24 01:10] nickbent opened #10665 "Variable amount of blocks with multiple outputs"
I am tryin to create a net that has a variable amount of blocks, but that also gives multiple outputs in the forward pass. Normally with a variable amount of blocks you would run a loop and add the layers in the loop, then for the forward pass you would input the x into the model. Since I want multiple outputs, just inputting x into the model for the forward pass does not work. Below is the code t

[2018-04-24 01:44] DYG111 commented on #10626
@yajiedesign Thank you very much!

[2018-04-24 02:25] rainfalj opened #10667 "The tile layer as caffe"
How can I implement a tile layer with axis and tiles param when using symbol API?

[2018-04-24 04:10] ThomasDelteil opened #10668 "[feature request] Jenkins build restartable from comments in the PR"
I used to use a plugin like this to restart builds using a keyword trigger like `rebuild`. Could be handy.

@marcoabreu

plugin: https://plugins.jenkins.io/github-pr-comment-build

[2018-04-24 04:11] BenBBear commented on #9347
it's better to define the json format with protocol buffer, sadly mxnet didn't do that.

[2018-04-24 04:12] ThomasDelteil commented on #10638
I have been thinking about that a bit more and giving a number of class for a pre-trained model does not make sense really. It could 10 class for MNIST, FashionMNIST or CIFAR10. We should have the pre-trained model rather being conditioned on a given dataset: e.g `ImageNet1000`, `CIFAR10`, `mnist`, `Caltech_256`, etc.

[2018-04-24 04:13] chinakook commented on #10667
mx.symbol.tile

[2018-04-24 04:28] szha commented on #10638
Indeed. The moving parts in the model architectures are:
1. dataset can have different tasks/number of classes
2. input data shape can vary by dataset

Given the architecture, users may further want to get models w/ or w/o pre-trained weights.

This can be one of the APIs that can benefit from some redesign if we indeed start to support pre-trained models on more datasets.

[2018-04-24 04:31] nswamy commented on #10663
@aanirud

[2018-04-24 04:31] nswamy commented on #10663
@anirudhacharya

[2018-04-24 05:31] eric-haibin-lin commented on #10240
I'll take a look

[2018-04-24 06:01] rainfalj commented on #10667
@chinakook but it has no axis param

[2018-04-24 06:06] ThomasDelteil opened #10669 "Bug: failed to load some images with mx.image.imread()"
I have a strange bug when trying to load an image (a few in 1M dataset) :
Download this image as `test_image.jpg` (https://user-images.githubusercontent.com/3716307/39168997-d342a01e-474a-11e8-9236-20f980448723.jpg):
![test_image](https://user-images.githubusercontent.com/3716307/39168997-d342a01e-474a-11e8-9236-20f980448723.jpg)
`mx.image.imread('test_image.jpg')`

[code]

[2018-04-24 06:11] ThomasDelteil commented on #10669
hmm
`cat test_image.jpg`
[code]

![](https://i.imgflip.com/28z5d6.jpg)

[2018-04-24 06:13] #10669 closed

[2018-04-24 08:57] anirudh2290 commented on #9920
@IrvingShu I am currently working on fixing this. Please see: https://github.com/anirudh2290/mxnet/blob/fix_global_ctx_ex/python/mxnet/context.py to get more context on what @piiswrong means.

[2018-04-24 09:15] xylcbd commented on #7551
same here.

[2018-04-24 11:41] stupidZZ opened #10672 "Bug at L304: Gluon/block.py, v1.2.0"
`    def _collect_params_with_prefix(self, prefix=''):
        if prefix:
            prefix += '.'
        ret = {prefix + key : val for key, val in self._reg_params.items()}
        for name, child in self._children.items():
            ret.update(child._collect_params_with_prefix(prefix + name))
        return ret
`

If the name of one operator, such as nn.Conv(), does not be specified, the nam

[2018-04-24 11:50] zfs1212 commented on #3739
Why is there no make folder in my mxnet directory?

[2018-04-24 13:37] jaheba opened #10673 "Segmentation Fault when using large mx.nd.array"
## Description
A segmentation fault can occur on some platforms when using large `mx.nd.array`s. The same code runs fine  using `numpy.array`.

This is the code causing the segfault:

[code]

And this is what happens when running the program:

[code]

## Environment

I have tested the following platforms positively for the segfault:
* docker python:[2/3] images
* amazonlinux image
* ubuntu vm on e

[2018-04-24 14:08] reminisce commented on #10673
If I remember correctly, advanced indexing does not support negative indices, but should have printed clearer error messages anyway.

[2018-04-24 14:27] jaheba commented on #10673
Removing the negative index does indeed prevent the segfault.

Do you know why it is not failing on mac os, though?

The workaround I have now running is to slice numpy arrays with the negative indicies first and then convert them into `mx.nd.array`s.

[2018-04-24 14:33] reminisce commented on #10673
segfault happens when memory access violates some os rules. This can be platform and program dependent.

Your workaround is fine and should be much more efficient than using advanced indices. It's recommended to use basic indexing if you can and advanced indexing if you have to.

[2018-04-24 14:38] PKurnikov opened #10674 "How to resize mx.NDArray 2d tensor with interp = 'Nearest'"
I need function like mx.nd.SpatialTransformer or BilinearResize2D, but interp parametr is {'bilinear'}, required.

[2018-04-24 14:53] jaheba commented on #10673
Thanks for your help. :)

I am not sure I can follow your efficiency argument however.  Is `xs[(a,b)]` less efficient in mxnet than `xs[a][b]`? In the latter case indicies can also be negative.

[2018-04-24 18:06] cells2numbers opened #10675 "R installation on MacOS fails (file not found)"
The installation of mxnet fails on MacOS using RStudio because the file mxnet_0.10.1.tar.gz is not found. Probably the file is outdated. Could it be replaced / updated?

Infos about  the environment info:
[code]

Code and error message for reproduction:
[code]

[2018-04-25 00:12] #10226 closed

[2018-04-25 00:12] #10238 closed

[2018-04-25 00:12] #10273 closed

[2018-04-25 01:26] anirudhacharya commented on #10663
fix - https://github.com/apache/incubator-mxnet/pull/10676

[2018-04-25 02:28] casscw commented on #10648
thanks

[2018-04-25 02:28] #10648 closed

[2018-04-25 02:44] reminisce commented on #10673
The advanced indexing I meant is indexing an NDArray with indices containing lists, np.ndarray, NDArray etc., instead of integers or slices. In your example, `a[[0, -1]]` is advanced indexing, and it internally calls `gather_nd` operator which only supports non-negative indices. `a[(0, -1)]` is equivalent to `a[0, -1]` and is basic indexing, which internally calls `slice` operator and it supports

[2018-04-25 02:48] DuinoDu commented on #9547
https://github.com/DuinoDu/load_op.mxnet

[2018-04-25 03:53] Edmospheric-pressure commented on #9989
May I ask if this has been solved yet? I have encountered the same error when I want to train the network.

[2018-04-25 08:28] python3-pip opened #10684 "How do I install mxnet on Termux?"
I want run mxnet on mobile phone, but when I run:
`pip install mxnet`
It says:
[code]
I tried it to build from source, but it says:
`RuntimeError: Cannot find the MXNet libaray.`

What should I do?

[2018-04-25 15:42] indhub commented on #4253
Fixed by https://github.com/apache/incubator-mxnet/pull/10437

[2018-04-25 15:42] #4253 closed

[2018-04-25 19:18] larroy commented on #8729
@wykvictor thanks for the feedback, we will likely improve this in the short future. I also think we need some kind of platform detection in CMake. I started doing that but haven't been able to finish it so far.

[2018-04-25 19:25] crawforc3 opened #10686 "Building from source fails"
I've been following the instructions from [this page](https://mxnet.incubator.apache.org/install/index.html)  to build MXnet from source for Linux + R + CPU and am running into this error at the end of Step 4.

I've looked at several similar issues but haven't found a solution.

[code]
[code]

[2018-04-25 20:44] KaiserSozo commented on #10532
Anybody here?

[2018-04-25 21:12] zhanghang1989 commented on #9989
I will look into it and get back to you.

[2018-04-25 21:39] zheng-da opened #10689 "MXNet conv should check the number of elements in strides, padding, etc."
MXNet conv doesn't check the number of elements in strides, padding, etc.

Below is the code from @anirudh2290 that generates the bug.

[code]
This outputs 2616.0, while we expect 3000 because the output shape is (10L, 10L, 30L, 1L).

[2018-04-25 23:38] KellenSunderland opened #10692 "Executor's set_monitor_callback leaks memory in high-level languages."
## Description
Executor's set_monitor_callback leaks memory in high-level languages.

## Environment info (Required)
OSX, pip installed MXNet.

## Minimum reproducible example
[code]

## Comments
*  Looks like the leak is due to this implementation: https://github.com/apache/incubator-mxnet/blob/master/src/executor/graph_executor.cc#L1461 which copies output ndarrays and then passes back raw point

[2018-04-26 00:51] spidyDev commented on #10588
@cjolivier01  Please tag this as : Operator, Bug

[2018-04-26 02:03] lupesko opened #10694 "Importing an ONNX model (from model zoo) to MXNet errors out"
## Description
Importing an ONNX model to MXNet errors out.
Model: [FER+ Emotion Recognition](https://github.com/onnx/models/tree/master/emotion_ferplus)
This may be an issue with the ONNX model itself, but it is on the ONNX model zoo so I assume it is tested regularly.

To reproduce:
- Download the ONNX model listed above into the working directory, add signature.json and synset.txt
- Use new MXN

[2018-04-26 02:07] lupesko commented on #10694
@anirudhacharya @spidyDev @Roshrini

[2018-04-26 02:23] luoyetx opened #10695 "SymbolBlock has no `_reg_params` which cause save/load params fails"
## Description
block with symbol block as child doesn't save/load symbol block's parameters.

## Environment info (Required)

mxnet==1.2.0b20180425

## Steps to reproduce

[code]

## What have you tried to solve it?

add `_reg_params` to symbol block solves this problem.

[code]

[2018-04-26 02:32] wkcn commented on #10689
It seems that the shape of arr1 is (10,10,30,1), and the shape of arr2 is (10,10,30,30).
The cpu output is 3000 in MXNet 1.2.0 (0ca6dd29).
However, In MXNet 1.1.0 (pip install), the program crashed and return 'Command terminated
'.

[2018-04-26 02:34] wkcn commented on #10684
You could compile the source code of MXNet.
I tried it in Termux but it took a long time.

[2018-04-26 03:07] anirudhacharya commented on #10694
These are the tests running on onnx CI with the latest master - https://github.com/onnx/onnx/blob/master/onnx/backend/test/case/model/__init__.py#L39.

ONNX v1.1 which we are using for our tests has one less than the list. This error is occurring while translating the convolution operator, and it would seem the translator is unable to find the channel information in the ONNX graph. But have to tak

[2018-04-26 04:49] lilhope commented on #10674
Using the mx.nd.Upsampling

[2018-04-26 06:00] spidyDev commented on #10694
FER+ Emotion Recognition is using legacy attribute for convolution , **auto_pad**, which we do not support.

[2018-04-26 06:30] Paul0M commented on #7958
Hi, I've got the same error.
using PIL, this can be avoid as:
[code]
But using mxnet.image.imread(img_path), python cannot catch the error to avoid this specific image(core dumped pops)

I wonder how to skip this image using mxnet.image.imread
core dumped pops even using PIL to skip a specific image
[code]
[code]

[2018-04-26 10:45] chinakook commented on #10695
net.collect_params().load

[2018-04-26 11:31] shaitao opened #10698 "Could Rust api be supported？"
I think Rust is a promising language which is as fast as c++ and has much safety . Tf has a rust-bind, I wish mxnet support rust api, it's c binding has no cost.

[2018-04-26 12:30] hbsun2113 opened #10699 "Is the "gradient compression" only suitable for range_pull?"
Is the "gradient compression" only suitable for range_push,not suitable for hash_push?

[2018-04-26 12:31] hbsun2113 commented on #10699
@rahul003

[2018-04-26 19:39] marcoabreu commented on #10668
Looks good, I'll definitely look into this

[2018-04-26 19:54] redpine42 opened #10705 "Problems building and running mxnet on machines with no AVX2 support"
I'm having problems building and running mxnet from this repo on machines that don't support AVX2.

I can build and run on machines support AVX2.
I'm following these instructions for a docker build and I've configured for distributed processing ( USE_DIST_KVSTORE=1).  https://mxnet.incubator.apache.org/install/index.html

Below is the dockerfile instructions.

[code]
I can build and run on  Intel(

[2018-04-26 20:14] redpine42 commented on #10705
Build error one E5-2690

[code]

[2018-04-26 20:50] olympian94 commented on #10505
My understanding is that B and E signify begin and end event mark respectively so you can get the duration in microseconds by subtracting the timestamps

[2018-04-26 21:43] David-Levinthal commented on #10505
The problem is matching up records or are the B & E records always
sequential?
It would be easier to process if only one record were written out with the
duration
which is what Tensorflow's timeline does.

On Thu, Apr 26, 2018 at 1:51 PM, Abhishek Tiwari <notifications@github.com>
wrote:

[2018-04-26 21:53] olympian94 commented on #10505
Yes they are always sequential with the order: "E" event following "B" event. This can be seen in the code in file profiler.cc.

The code prints out device information ie. an entry for each cpu thread, gpu thread and one for pinned memory. Then, it prints, for each Operator Executor Stat in each Profiler Stat, first a B event then a E event.

I think the authors saved and printed timestamps instea

[2018-04-26 22:14] marcoabreu opened #10708 "CMake 3.11 breaks on UNIX"
With the last release of CMake 3.11, our CMakeLists is invalid and breaks on all UNIX-based systems:

[code]

This is caused by the following code:
[code]

Reason here is that ```add_library``` now requires at least one source file. Previously, this was indicated by a warning which has now been upgraded to an error.

[2018-04-26 22:17] eric-haibin-lin opened #10709 "[SPARSE] undeterministic result of sparse dot(csr, dense, transpose_a=True)"
The following test failed because of the limited precision of fp32 and the usage of atomicAdd in sparse dot implementation:
[code]

[2018-04-26 22:31] David-Levinthal commented on #10505
the bigger problem then seems to be creating multiple files (ex one per
minibatch) and getting the process records (ph="M") and opening and closing
brackets etc
but I should probably submit a separate report for that..and let this one
get closed

On Thu, Apr 26, 2018 at 2:54 PM, Abhishek Tiwari <notifications@github.com>
wrote:

[2018-04-26 22:42] rahul003 commented on #10699
Could you clarify what you are referring to by hash_push or range_push?

[2018-04-26 22:49] marcoabreu commented on #10708
Note: This issue was not caught by our current CI since Cmake 3.11 has just been released and our docker cache has not been purged yet. Additionally, this version has no binary distribution on Ubuntu16.04 yet, but our cross-compile environment for ARMv6 is already using this version and thus failing the build.

[2018-04-27 00:04] rahul003 commented on #10558
Build with gcc-6.4 on Ubuntu16.04 works for me with cuda9.0. I'm not sure what changes with ubuntu17.04. Cuda9.1 should not affect this

[2018-04-27 00:17] bputrycz opened #10715 "Wrong params file is not reported as error in C API"
Hi,

I would like to report a possible problem in C API.

I played with C API with a toy model (just adding two numbers) like:
[code]

Then using code for prediction like:
[code]

I was able to obtain, as expected, sum to be 8:
[code]

BUT: when I put into params file something wrong, like weight names with not matching names,
then the prediction doesn’t report any error, and results with unspecif

[2018-04-27 01:29] olympian94 commented on #10505
Multiple files? I don't get it. The profiler puts all event traces in one json file. And yes this mechanism is inefficient in that the output file grows into GBs in size for realistic models however the authors warn about that in the documentation.

[2018-04-27 02:39] GoodJoey opened #10716 "question: how to speed up the process of feeding data."
hi, i tried to do the training on the 8 gpus server, but it turns out that it's not faster than when using 4 gpus.
The most likely reason is the GPUs are faster than the processes that load and prepare the data, because i observed the gpu's utility goes down to 0% time by time.
is there any ways to speed up the data feeding process? like use multiple cpus to do the data loading?
Thanks.

[2018-04-27 04:44] rahul003 commented on #10558
What CPU do you have? Could you run the diagnose script mentioned in the issue and paste the output to the issue?

[2018-04-27 04:44] rahul003 commented on #10716
Are you using the gluon or symbolic interface?

[2018-04-27 04:52] chinakook commented on #10558
i7-6700k. I've tested on Ubuntu 17.10 and 18.04, both failed without USE_F16C=0.

[2018-04-27 04:55] chinakook commented on #10558
I'll try later

[2018-04-27 05:27] hbsun2113 commented on #10699
@rahul003
![image](https://user-images.githubusercontent.com/27994442/39345992-6d182c42-4a1e-11e8-91bc-2cc3bfb74f40.png)
I think it is the range_push.Can mxnet push or pull by hash kv?

[2018-04-27 05:36] jakirkham commented on #3441
We at [conda-forge]( https://conda-forge.org/ ) would be happy to help you with the review of an `mxnet` recipe for `conda` if someone would be interested in submitting one. Issue ( https://github.com/conda-forge/staged-recipes/issues/4447 ) would be a great place to discuss this if someone would like to step forward.

[2018-04-27 05:44] jakirkham commented on #9205
Clang 3.7+ has OpenMP support. Though it is a separate library and not all installs ship it (e.g. Apple's copy for instance). However it is trivial to build yourself. Also you can get copies of the complete Clang toolchain from your package manager of choice or Anaconda if you use that.

[2018-04-27 05:48] lupesko commented on #10694
Thanks @spidyDev.
Closing.

[2018-04-27 05:51] chinakook commented on #10558
@rahul003 However, the version of gcc6 in Ubuntu 16.04 is 6.0.1

[2018-04-27 06:03] zheng-da commented on #10580
@dwSun the bug should have been fixed. the code has been merged to the master branch. Could you please try and see if the fix has solved your problem? Thanks.

[2018-04-27 06:27] sl1pkn07 commented on #10558
Xeon (dual) e5-2650-V4(ES) here. Failed without USE_F16C=0 or -DCOMPILER_SUPPORT_MF16C

[2018-04-27 06:28] zheng-da commented on #9845
Here as well.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10706/2/pipeline/677/

This bug can be reproduced with specific random seeds.

[2018-04-27 07:11] rahul003 commented on #10558
I did install gcc6.4 and g++6.4.

The issue is similar to https://github.com/apache/incubator-mxnet/issues/8576
and https://github.com/tensorflow/tensorflow/issues/10220 . The combination of Ubuntu version, and gcc version seem to be problematic.

[2018-04-27 07:30] chinakook commented on #10558
I'wll try later w/o CUDA/CUDNN and w/ USE_F16C=1

[2018-04-27 07:35] rahul003 commented on #10558
Please do and let me know, also when trying that turn off the multi threaded compile. Just do a simple make so we get to see the exact file which fails to compile.

[2018-04-27 07:46] marcoabreu commented on #10705
Hi @redpine42, the error-log is cut off

[2018-04-27 08:09] rocketbear commented on #10716
Using gluon's Dataset + DataLoader way to load the data, and use num_workers=num_of_cpu_cores for the DataLoader. This is much faster than using the old mx.io.DataIter, as I have tested.

[2018-04-27 08:14] asitstands commented on #10558
Here is the minimal example to reproduce the same errors.
[code]
Compiling this with `nvcc -O3` causes the errors. If I remove `-O3`, the compilation is successful. My linux disro is Arch. CUDA is 9.1. I tested this with gcc 6.4.1. CUDA 9 does not support gcc 7, but anyway gcc 7 also shows the exactly same behavior. Compiling with g++ does not cause any errors. So the problem may be from nvcc. I'm

[2018-04-27 10:46] redpine42 commented on #10705
@marcoabreu   Log is fixed now.

[2018-04-27 11:05] PKurnikov commented on #10674
@lilhope, Sounds tempting, but the function does not allow downscalling, because C-function parametr "scale" has unsigned type.
`upsampling_nearest(const Exp<SrcExp, DType, etype> &src, index_t scale) `
It seems that it is necessary to rewrite С-structures to get required result.

[2018-04-27 13:37] jaheba commented on #10673
Thank you for explaining the details to me!

2018-04-25 4:44 GMT+02:00 reminisce <notifications@github.com>:

[2018-04-27 14:25] sl1pkn07 commented on #10558
seems this works: simply remove all `-O3` from the CMakeList.txt (if use cmake)

`(cd incubator-mxnet; for i in $(grep -l -R \\-O3 | grep CMa); do sed -e 's|"-O3 |"|g' -e 's| -O3||g' -i ${i}; done)`

after update submodules

the "conflictive" files is:

[code]

[2018-04-27 15:01] David-Levinthal commented on #10505
I post process the files and create summaries that are analyzed
statistically.
using 1 file per mini batch is an extremely useful technique.
all mini batches are not created equal..text processing groups sentences by
length for RNNs
so I create a lot of files by instrumenting the minibatch loop.
invoking the sequence of code below inside the minibatch loop and adding
the batch number to the filena

[2018-04-27 15:12] sl1pkn07 commented on #10708
related: https://github.com/apache/incubator-mxnet/issues/10655

[2018-04-27 15:33] olympian94 commented on #10505
Oh okay, that makes sense!

[2018-04-27 16:59] thomasmooon opened #10721 "MxNet R, CNN, VRAM consumption explodes dramatically in dependence of number of filters"
## Description
I have a toy dataset of 360 samples with 4096 data points each, leading to a tensor of shape `(4096,1,360)`. Hence, each observation has a size of ~ 4 kB. The CNN is very simple: `Conv -> flatten -> fully connected -> fully connected -> softmax`:
![image](https://user-images.githubusercontent.com/29228225/39371516-36cdebbc-4a42-11e8-900e-e2554d48a34a.png)

The VRAM consumption explo

[2018-04-27 17:56] iamthebot opened #10723 "Adding custom C++ ops without modifying mxnet source"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-04-27 18:00] rahul003 commented on #10558
As per https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html,
"CUDA development environment relies on tight integration with the host development environment, including the host compiler and C runtime libraries, and is therefore only supported on distribution versions that have been qualified for this CUDA Toolkit release". For ubuntu 17.04 the gcc version 6.3 seems supported.

[2018-04-27 18:02] olympian94 commented on #10505
Maybe you can add to the API and add these functionalities to help other researchers! :P

[2018-04-27 18:24] David-Levinthal commented on #10505
Sadly if I fixed all the bugs I find in public domain code I would not have
time to do my job (hw perf analysis for datacenter hw design).
I am working on over a dozen DNN codes on 5 frameworks
:-(
unlikely I will get to it

On Fri, Apr 27, 2018 at 11:02 AM, Abhishek Tiwari <notifications@github.com>
wrote:

[2018-04-27 18:30] ThomasDelteil opened #10724 "Flaky test MKLDNN test_bucket_module"
Flaky test MKLDNN test_bucket_module

See: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10720/1/pipeline

[code]

[2018-04-27 18:49] sl1pkn07 commented on #10558
what is the problem if use -02 instead of -03?

[2018-04-27 21:39] anirudhacharya commented on #10694
@spidyDev can you create an issue [onnx-models repo](https://github.com/onnx/models/issues ) saying that the repo contains models with deprecated operators?

Because the repository README says that "any implementation of ONNX needs to support these models out of the box".

[2018-04-28 01:11] threeleafzerg opened #10734 "Extend MXNet Distributed Training by MPI AllReduce"
## Description
Currently, almost all main-stream frameworks has mpi-all-reduce based training mechanism.

<img width="394" alt="frameworks" src="https://user-images.githubusercontent.com/20310371/39389771-6f72103e-4abe-11e8-96e6-6c43a80421a9.png">

When compared to Parameter Server solution, mpi-all-reduce has following strengths:
1) MPI Allreduce don't need extra server node and it can achieve th

[2018-04-28 01:57] #10734 closed

[2018-04-28 04:07] reminisce opened #10735 "Flaky test_correlation"
[code]

[2018-04-28 06:04] dwSun commented on #10580
it is the code to reproduce this bug.

[2018-04-28 06:32] dwSun commented on #10580
@zheng-da try this command:
[code]

[2018-04-28 07:39] marcoabreu commented on #10705
@szha do you have an idea?

[2018-04-28 07:40] marcoabreu commented on #10708
Thank you, @sl1pkn07! Please report back if the problem still persist.

[2018-04-28 07:40] #10708 closed

[2018-04-28 07:40] marcoabreu commented on #10655
Fixed in https://github.com/apache/incubator-mxnet/pull/10711

[2018-04-28 07:40] #10655 closed

[2018-04-28 07:41] marcoabreu commented on #10705
@anirudh2290 potential blocker?

[2018-04-28 08:06] python3-pip commented on #10684
@wkcn Thanks, but what should I run command?

[2018-04-28 08:07] #10684 closed

[2018-04-28 08:34] python3-pip commented on #6103
05b is best, I think The part on the left should be an independent logo

[2018-04-28 13:47] sl1pkn07 commented on #10708
in my case (cmakle 3.10.3) the warning message is gone

thanks!

[2018-04-28 13:59] sl1pkn07 commented on #10705
i'm not sure if is a same problem. but i get segfault if try to build the python module as traditional method:

`python setup.py build`

[2018-04-28 14:23] sl1pkn07 opened #10737 "Cmake is running again when execute make install"
## Description
when run `make install`, cmake is running again and lost the configuration used when run cmake "configure", and try again to build the project

## Environment info (Required)

[code]

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

cmake 3.10.3
make 4.2.1

MXNet commit hash:
`f0d2776bb9bb3c4f164f1704f0ca3e2b28952c0f`

Build config:

  mkdir

[2018-04-28 17:36] sl1pkn07 commented on #10737
little snip

[code]

i'm not completly sure what options has been changed. need more test

note. the project is build througth PKGBUILD makepkg script (arch default package builder). i heve lots of this packages with cmake build engine, and never i see this before

[2018-04-28 17:46] sl1pkn07 opened #10738 "python build (with cython) seems broken in linux (python3)"
## Description
`python setup.py --with-cython` seems broken on linux

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
python 3.6
cython (builded with python3) 0.28.2

Compiler (gcc/clang/mingw/visual studio):

MXNet commit hash:
`f0d2776bb9bb3c4f164f1704f0ca3e2b28952c0f`

Build config:
  cmake ../incubator-mxnet \
    -DCMAKE_BUILD_TYPE=None \
    -DCMAKE_INSTALL_PREFI

[2018-04-28 17:58] domschl commented on #8569
`USE_JEMALLOC=1 `didn't work for me with opencv, I had to disable both `USE_GPERFTOOLS=0` and `USE_JEMALLOC=0`, otherwise python setup fails.

Maybe this should be **reopened**?
This affects many people building from source with defaults. (see e.g. [Arch AUR](https://aur.archlinux.org/packages/mxnet/))

Possible solutions can be:
- change build so that `USE_GPERFOOLS=0` and `USE_JEMALLOC=0` are fo

[2018-04-28 18:14] rwarnung opened #10739 "[MXNet-R] package crashes using mx.metric.logloss"
I have already discussed this issue with hetong07 in the [forum](https://discuss.mxnet.io/t/logloss-in-the-recent-mxnet-rpackage/965/5). He told me to post it here. He guesses that `mx.nd.clip` does not work and that causes a negative input for `mx.nd.log`.

## Description
the mxnet R packages crahses when I use `eval.metric = mx.metric.logloss` in `mx.mlp`. The same problem works for `eval.metric

[2018-04-28 18:41] sl1pkn07 commented on #10737
ok. seems cmake doing something werid with cuda library path

[code]

`/usr/lib/libcuda.so` is from nvidia drivers package and `/opt/cuda/lib64/stub/libcuda.so` is from Cuda SDK

any form for keep this option untoch without hardcoding this into cmakefile.txt?

[2018-04-28 19:50] sl1pkn07 commented on #10737
ok, seems i misslead what is the difference between `/opt/cuda/lib64/stub/libcuda.so` and `/usr/lib/libcuda.so`

seems the real and genuine libcuda is installed by nvidia drivers, then all projects with cuda needs be linked with `/usr/lib/libcuda.so`

`/opt/cuda/lib64/stub/libcuda.so` is only for if you need link any aplication if you use in machine without the driver installed (i'm wrong?)

then

[2018-04-28 20:15] sl1pkn07 commented on #10737
removing the CUDA_CUDA_LIBRARY do nothing

now CMakeCache_before.txt (before `make install`) and CMakeCache_after.txt (after `make install`) now is identical, but `make install` reruns the cmake "configure" again

the bug still persist

any hit for debug this?

greetings

[2018-04-28 20:32] zheng-da commented on #10724
I see the same thing. I'm not sure why
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10731/17/pipeline/663

[2018-04-28 20:50] zheng-da commented on #10724
@pengzhao-intel @TaoLv @ashokei Could you take a look at this? It seems it might be a bug from MKLDNN

[2018-04-28 23:15] ThomasDelteil commented on #10586
Switched to the openjdk

[2018-04-28 23:15] #10586 closed

[2018-04-29 01:00] wkcn commented on #10316
I tried to add consistentcy test for Proposal Operator but it failed.
https://github.com/apache/incubator-mxnet/pull/9939

I think the reason is that there are two anchors whose overlap is close to the threshold. The precision between CPU and GPU causes the problem.

[2018-04-29 01:56] zheng-da commented on #10580
I tried your script on my own machine with PR https://github.com/apache/incubator-mxnet/pull/10731.
it works fine. Could you please try again after the PR is merged?

[2018-04-29 04:37] anirudh2290 commented on #10705
@marcoabreu checking now.

[2018-04-29 05:04] anirudh2290 commented on #10705
hi @redpine42 do you know if i can reproduce this issue on an ec2 instance ?

[2018-04-29 11:37] redpine42 commented on #10705
I tried USE_SSE=0 and same problem.  I did find -msse3 in a grep of files from the source. Not sure if that causes the problem.

[2018-04-29 13:59] IrvingShu commented on #9920
@anirudh2290 thank you, did you finished fixing it, I tried it , it  also failed.

[2018-04-29 18:36] sl1pkn07 opened #10742 "typo in cpp-package/CMakeLists.txt"
https://github.com/apache/incubator-mxnet/blob/6bef58a920506e6cc2848ffd4ec3b4d5bce6120a/cpp-package/CMakeLists.txt#L19

should be ` if(BUILD_CPP_EXAMPLES)` ? or ` if(WITH_EXAMPLE)`

greetings

[2018-04-29 19:56] eric-haibin-lin commented on #7582
I’m comparing memory usage in symbolic mode. Will also take a look at gluon memory soon

[2018-04-29 21:02] anirudh2290 commented on #10705
@redpine42 can you run lscpu and provide the output. I think the issue is related to https://github.com/apache/incubator-mxnet/issues/10541. In general, mxnet currently assumes that if you are not running certain versions of clang or msvc compiler, you have f16c hardware support and tries to compile f16c specific constructs. #10541 also seems to be related. Is there a reason to not have a flag for

[2018-04-29 21:08] redpine42 commented on #10705
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                32
On-line CPU(s) list:   0-31
Thread(s) per core:    2
Core(s) per socket:    8
Socket(s):             2
NUMA node(s):          2
Vendor ID:             GenuineIntel
CPU family:            6
Model:                 45
Model name:            Intel(R) Xeon(R) CPU E5-2690 0

[2018-04-29 21:13] sampathchanda commented on #6865
I still don't understand why is the first case recognizable to np.array() interface but the second case not recognizable to mx.nd.array() interface (should be true on similar lines, isn't it?)

It makes little sense for me to see that the list of numpy arrays are accepted and converted to an mxnet ndarray, but a list of mxnet ndarrays are not accepted.

[2018-04-29 21:36] sl1pkn07 opened #10743 "CUDA 9.1.xx failed if not set OLDCMAKECUDA on cmake 3.10.3 with unix makefile generator"
https://github.com/apache/incubator-mxnet/blob/6bef58a920506e6cc2848ffd4ec3b4d5bce6120a/CMakeLists.txt#L197-L202

`CUDA_TOOLSET` is set with CUDA 9.1.xx with cmake 3.10.3. (you can see this if put `message(STATUS "cuda toolset: ${CUDA_TOOLSET}")` between  the L197 and L198

then with that snipplet doing:

[code]
then i change the line
[code]
to
[code]

then:

[code]

then i change the Generator to

[2018-04-29 21:45] sl1pkn07 commented on #10743
testing  add `OR (${CMAKE_GENERATOR} STREQUAL "Ninja")` between L48 and L49 get the same output

[code]

seems https://github.com/apache/incubator-mxnet/blob/6bef58a920506e6cc2848ffd4ec3b4d5bce6120a/CMakeLists.txt#L201 is not valid for Unix and Ninja generators. i'm not sure if is ok for windows

greetings

[2018-04-29 21:55] sl1pkn07 commented on #10743
cc @cjolivier01

any hit?

[2018-04-29 23:55] anirudh2290 commented on #9920
@IrvingShu The workaround I provided should work with the minimum reproducible steps in the issue.  There was an issue with the current_context() function which has also been fixed. The workaround is only when you use the `Context` class and not for anything else.

[2018-04-30 00:43] yifeim opened #10744 "Mod.score inconsistency between LogisticRegressionOutput and SoftmaxOutput"
## Description

LogisticRegressionOutput (with 1 fc) and SoftmaxOutput (with 2 fcs) are mostly interchangeable in training codes. However, mod.score output fails on LogisticRegressionOutput. Original problem discovered while following the example from https://xiandong79.github.io/MXNet-Logistic-Regression-Example

## Environment info (Required)

----------Python Info----------
Version      : 3.6.4

[2018-04-30 08:05] chaoer opened #10745 "Build from sources with Cuda 9.0 cudnn 7.1 on Window 10."
Hi, everyone,
Has anyone tried to compile mxnet from sources with Cuda 9.0 cudnn 7.1 on Window 10?

I used VS2015, Cuda 9.0, cudnn7.1.

When I use CMake to generate sln file for VS. I noticed that it print that:
`CUDA detected: 9.0
Found cuDNN (include: C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v9.0/include, library: C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v9.0/lib/x64/cudnn.li

[2018-04-30 08:44] asitstands commented on #10558
@rahul003 How about to enable x86 intrinsic conversions for half_t only if `__CUDACC__` is not defined? As long as nvcc does not compile code path converting `half_t.half_`, there may be no harm.

[2018-04-30 08:52] larroy commented on #10745
Can you grep around to see what is trying to use "compute_90" obviously that's not supported. Is it in the visual studio build files?

[2018-04-30 10:16] redpine42 commented on #10705
@anirudh2290 Thanks that fixed the build.

[2018-04-30 10:16] #10705 closed

[2018-04-30 10:53] chaoer commented on #10745
@larroy
Thanks for your reply.

As I wrote in the question, the CMake logged information that "Added CUDA NVCC flags for: sm_90". This message was raised from "./3rdarty/mshadow/cmake/Cuda.cmake"(Line around 285-289).
`# setting nvcc arch flags`
`mshadow_select_nvcc_arch_flags(NVCC_FLAGS_EXTRA)`
`list(APPEND CUDA_NVCC_FLAGS ${NVCC_FLAGS_EXTRA})`
`message(STATUS "Added CUDA NVCC flags for: ${NVCC_F

[2018-04-30 11:47] fullfanta commented on #10579
@hongtao12310
I also have same problem. I think this is due to #9677 which removed FullyConnectedOp.
In my opinion, src/operator/nnpack/nnpack_fully_connected-inl.h should be updated according to src/operator/nn/fully_connected-inl.h

[2018-04-30 12:07] XMaster96 opened #10747 "libmxnet.dll crash on Windows GPU mode, pip install"
## Description
Python crash if I try to run MXNet on GPU (libmxnet.dll). I have pip installt MXNet, and not Built my self. The libmxnet.dll is clearly in "Lib\site-packages\mxnet". I have yousd Tensorflow befor, with the same CUDA istallation.

## Environment info (Required)

CUDA : 8.0, 9.0, 9.1
Python: 3.4, 3.6
GPU: GTX 1080TI

## Error Message:
I got a Windows Program has crashed popup, and not

[2018-04-30 12:12] fullfanta commented on #10579
@hongtao12310
I found someone is working on it.  #9860

[2018-04-30 17:47] ashokei commented on #10724
i tested `nosetests --nocapture --verbose tests/python/train/test_bucketing.py:test_bucket_module` on both avx512 and avx2 , it worked without issues. I did notice if i compile on one and test on other it fails (along with other tests, as mkldnn expects to be built with same arch).

[2018-04-30 18:29] nswamy commented on #10600
Questions are best answered on discuss.mxnet.io. Please take post your question there. I am closing this issue for now.

[2018-04-30 18:29] #10600 closed

[2018-04-30 18:30] nswamy commented on #10598
Questions are best answered on https://discuss.mxnet.io/. Please take post your question there. I am closing this issue for now.

[2018-04-30 18:30] #10598 closed

[2018-04-30 19:03] nswamy commented on #10355
Please upgrade you MXNet installation and let us know if you still face the issue

[2018-04-30 19:03] #10355 closed

[2018-04-30 19:15] yzhliu commented on #10574
well, have you installed opencv?
and you run it in docker? the OS is osx?

[2018-04-30 19:20] dtmoodie opened #10749 "MXSymbolListAttrShallow and MXSymbolGetAttr cannot access defaulted attributes"
I'm working with some custom operator that I've implemented in mxnet.  I'd like to change how I handle the outputs from this custom operator based on how it is setup.  To do this I can call MXSymbolGetAttr to query the configuration of the operator.  Unfortunately both MXSymbolGetAttr and MXSymbolListAttrShallow appear to only be able to query the values that are set in my symbol.json.  Thus curre

[2018-04-30 19:33] rahul003 commented on #10705
@redpine42 Could you try running this command and tell me what it shows?

`cat /proc/cpuinfo | grep flags | grep f16c` Your case should be autodetected and f16c should be turned off (if you are compiling on the CPU whose output you listed above). I wonder if Centos 7 doesn't have this file which I was checking.

[2018-04-30 19:36] redpine42 commented on #10705
It returns nothing.

[2018-04-30 20:03] spidyDev opened #10750 "flaky test test_gluon_model_zoo_gpu.test_inference"
build.py: 2018-04-30 19:20:49,927 Running ['/work/runtime_functions.sh', 'unittest_ubuntu_python2_gpu'] in container mxnet/build.ubuntu_gpu

build.py: 2018-04-30 19:20:49,927 Executing: nvidia-docker run --rm -t --shm-size=500m -v /home/jenkins_slave/workspace/ut-python2-gpu:/work/mxnet -v /home/jenkins_slave/workspace/ut-python2-gpu/build:/work/build -u 1001:1001 mxnet/build.ubuntu_gpu /work/runt

[2018-04-30 20:04] sl1pkn07 commented on #10705
my machive have this flag and fail if use with USE_F16C=1 / DCOMPILER_SUPPORT_MF16C=ON

my solution is remove the `-O3` options from all makefile/cmakelists (include subprojects in 3rdparty) and all Build OK without (aparently) problems

related: https://github.com/apache/incubator-mxnet/issues/10558

anyone can test it?

greetings

[2018-04-30 21:00] rahul003 commented on #10705
@redpine42 This PR should fix your issue. Can you confirm that it does?
https://github.com/dmlc/mshadow/pull/335

[2018-04-30 21:08] rahul003 commented on #10705
@sl1pkn07 It's a good workaround, but -O2 means fewer optimizations done by the compiler. So we need to see what to do.

[2018-04-30 21:26] sl1pkn07 commented on #10558
[code]

E5-2650-V4 ES (engineering sample)

[2018-04-30 21:56] anirudh2290 commented on #10558
@sl1pkn07 seems like your issue is different to the one on : #10705. For #10705, the issue is that the hardware doesnt support f16c and for your case it seems to be a compiler issue. What version of gcc are you using by default ?

[2018-04-30 22:01] nswamy commented on #10492
Please post your question on https://discuss.mxnet.io/

[2018-04-30 22:01] sl1pkn07 commented on #10558
by default 7.3.1, but set 6.4.3 for CUDA applications (-DCUDA_HOST_COMPILER) because cuda 9.1.x not support gcc v7 or more

[2018-04-30 22:02] #10397 closed

[2018-04-30 22:04] rahul003 commented on #10558
@sl1pkn07 Would it be possible to try gcc6.3? Cuda9.1 says it is compatible with that version

[2018-04-30 22:25] zheng-da commented on #10724
compiling MKLDNN on a machine with avx512 can't run on avx2. It's a known issue. I have changed Makefile and cmake to make compiled MKLDNN architecture generic.

So far the error has been reported twice. Maybe we need to run the test many times to see if there is a memory error in MKLDNN. or wait to see if more people will report the error.

[2018-04-30 22:30] aaronmarkham commented on #10409
Plan B initiated: https://github.com/rtfd/readthedocs.org/issues/4042

[2018-04-30 22:33] ThomasDelteil commented on #10492
It is actually not possible, please add Feature Request flag

[2018-04-30 22:44] gigasquid opened #10753 "Scala Module MNIST MLP example not working"
## Description
Running the Scala example for Module MNIST is not working due to the new requirement in DataDesc from this PR https://github.com/apache/incubator-mxnet/commit/b95ae7c9c8c3cf40a12cfc729d5dadaa322ee0dd#diff-196b8fe8b507164f1c13b556f178b7b2R233

## Environment info (Required)
Mac OSX
Java(TM) SE Runtime Environment (build 1.8.0_152-b16)

MXNet commit hash: 4044eb46f7e2a29c7236656887baf

[2018-04-30 22:50] rahul003 commented on #10558
@asitstands Thanks for the suggestion. This change here does that.
Would you or @sl1pkn07 be able to verify that this works with USE_F16C=1?

https://github.com/rahul003/mshadow/pull/1/

[2018-04-30 22:55] anirudhacharya commented on #10663
@zheng-da can you verify and close this issue?

[2018-04-30 22:58] anirudhacharya commented on #10194
Is the following proposed solution okay? - to add a ‘padding_convention’ flag so that the operator will ignore the padded values when the flag is set. This is one way to fix the discrepancy without breaking any existing pre-trained models.

@szha @piiswrong @zheng-da

[2018-04-30 23:04] anirudhacharya opened #10754 "Support for LpPooling in Pooling operator"
[Pooling operator](http://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.Pooling) currently supports ‘avg’, ‘max’ and ‘sum’ pooling. There is no support for lp pooling.

LpPooling is computed by calculating the Lp norm on all values of a subset of the input tensor according to the kernel size and then down-sampling the data into the output tensor.  Pytorch and Caffe2 have

[2018-04-30 23:09] anirudhacharya opened #10755 "'Take' operator should support non-zero axis values"
The current implementation of [Take operator](https://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.take) is incomplete. As mentioned in the documentation, It supports slicing along only axis=0 and in ‘clip’ mode.

The operator is intended to support other negative and non-negative values for axis. THe current implementation of the operator needs to be modified to meet mult

[2018-04-30 23:13] anirudhacharya opened #10756 "L1 Normalization operator not present in MXNet"
MXNet has [L2 Normalization](http://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.L2Normalization)
 but does not support L1 normalization.

The MXNet operator set needs to be extended to support L1 Normalization.

@zheng-da @szha @piiswrong

[2018-05-01 00:38] anirudh2290 commented on #10558
@rahul003 I was able to test this on g++-6.4 before and after the change. It seems to build fine after the change. I tried the following command: `make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDNN=1 USE_CUDA_PATH=/usr/local/cuda`

[2018-05-01 01:39] marcoabreu commented on #10750
Hi @spidyDev, please also put a link to the job in the description

[2018-05-01 02:00] dwSun commented on #10580
waiting for PR #10731 to be merged

[2018-05-01 09:54] sivakon commented on #8971
I started trying to build clojure version of MXNET. I took half day to make `lein test` to work on my GPU cluster. All my tests pass (good news) but I think they are loading the CPU version. I am on ubuntu with cuda-8.0.

My GPU version is successfully built at `scala-package/native/linux-x86_64-gpu/target/libmxnet-scala-linux-x86_64-gpu.so`

Everytime, I run `lein test`, I get this message. Is th

[2018-05-01 12:57] gigasquid commented on #8971
@sivakon Thanks for your interest!
The clojure package just uses the Scala package mechanism for loading the native library https://github.com/apache/incubator-mxnet/blob/master/scala-package/core/src/main/scala/org/apache/mxnet/Base.scala. In this case, it extracts the native library from your the bundled jar and loads it.

One way you can test for sure to make sure the gpu is being used is to sp

[2018-05-01 14:40] juliusshufan opened #10765 "Gluon-based image-classification failed to run with dummy data on CPU machine when set as "symbolic" mode"
## Description
The example/gluon/image_classification.py failed to run on CPU machine when set as "symbolic" mode,
i.e., when the command is like below:
python image_classification.py --model=alexnet **_--mode=symbolic_** --dataset=dummy
Once model is NOT set as "symbolic", it can be executed smoothly.
Please kindly note: Build w.o. MKLDNN has no issue. (Build command: make -j($nproc) USE_OPENCV=1

[2018-05-01 14:42] juliusshufan commented on #10647
Issue fixed by PR#10646

[2018-05-01 14:42] #10647 closed

[2018-05-01 15:33] anjishnu commented on #9704
Can we at least get the documentation fixed?

[2018-05-01 16:40] ThomasDelteil opened #10766 "Bug Cannot save/load params with Gluon model"
See the issue reported here:
https://discuss.mxnet.io/t/problem-when-loading-saved-params/982/11

[code]

Code [here](https://github.com/ZhengzheYang/Reading-Comprehension/blob/19c591c767f7022730e8ec3aee6502f91f613266/model.py#L232)

Reproduce bug:
[code]
​
I was able to reproduce. Initializing the parameters from the newly created network prior to loading the parameters solved the issue. Couldn't

[2018-05-01 17:32] Godricly commented on #9704
@anjishnu is this one still there? I have not no idea where the doc is , otherwise I can submit a pr. @zhreshold. Hi Zhi, do you have time to check this, Please? Thank you.

[2018-05-01 17:56] nswamy commented on #10253
This is now fixed, please open an issue if you still have a problem

[2018-05-01 17:56] #10253 closed

[2018-05-01 18:27] spidyDev commented on #10641
@simonmaurer  Please close the issue, if your question has been answered.

[2018-05-01 18:40] spidyDev commented on #10634
@zhaoxy2018  Please close this issue if your question is answered.

[2018-05-01 18:43] spidyDev commented on #10638
@ThomasDelteil  Could you please tag: Gluon, FeatureRequest.

[2018-05-01 18:45] spidyDev commented on #10638
@ThomasDelteil  sorry about that.
@sandeep-krishnamurthy  Please tag this as: Gluon, FeatureRequest.

[2018-05-01 18:57] nswamy commented on #10665
Please ask your question on https://discuss.mxnet.io/, its is the best place to get answers/feedback from maintainers and other users.

[2018-05-01 18:57] #10665 closed

[2018-05-01 19:01] nswamy commented on #10667
You can implement your own operator in MXNet either in C++ or in Python, please refer to the documentation here: https://mxnet.incubator.apache.org/faq/add_op_in_backend.html
https://mxnet.incubator.apache.org/tutorials/gluon/customop.html. I will close this issue please use https://discuss.mxnet.io for questions and seek help to implement the operator similar to Caffe

[2018-05-01 19:01] #10667 closed

[2018-05-01 19:02] sl1pkn07 commented on #10558
i'm not sure if i make something worng, but with the last changes pushed to this repo (97da5e3b35b0725d10deffef0032f203df51d271) and keep the `-O3` in all submodules makefiles/cmake, and patch `incubator-mxnet/3rdparty/mshadow` with https://github.com/rahul003/mshadow/pull/1, i have the same issue

[2018-05-01 19:04] nswamy commented on #10674
Please use https://discuss.mxnet.io for questions, its the best place to get answers/feedback from maintainers and other users. I will be closing this issue.

[2018-05-01 19:06] nswamy commented on #10674
Actually this looks a feature-request, I'll reopen this so we can prioritize this. You might want to still ask question on discuss to see if there are workarounds.

[2018-05-01 19:08] zhreshold commented on #9704
I see, the doctoring for Conv1D(https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/nn/conv_layers.py#L198)
@Godricly Would you like to send a PR, thanks!

[2018-05-01 19:30] nswamy commented on #10695
This works fine, I tested with both nightly release `pip install mxnet --pre` and 1.1.0. Please reinstall mxnet from the nightly build and see if that helps.

[2018-05-01 19:34] nswamy commented on #10699
Please ask question https://discuss.mxnet.io, its the best place to get answers/feedback from maintainers and other users.

[2018-05-01 19:34] szha commented on #10695
#10748

[2018-05-01 19:36] sl1pkn07 commented on #10558
seems arch pushed new revision of cuda, now with GCC 5.5.0 as cuda host compiler

unfortunately, have the same issue :(

greetings

[2018-05-01 19:53] nswamy commented on #10742
seems like its doing the right NOT and DO_NOT ==> build with examples. sure, naming could been better
https://github.com/apache/incubator-mxnet/pull/9832

[2018-05-01 19:55] nswamy commented on #10743
@marcoabreu any ideas?

[2018-05-01 19:57] nswamy commented on #10744
@yifeim Please ask the question https://discuss.mxnet.io, its the best place to get answers from maintainers and other users with similar experience.

[2018-05-01 19:57] #10744 closed

[2018-05-01 20:00] nswamy commented on #10749
@reminisce, any work arounds?

[2018-05-01 20:07] sl1pkn07 commented on #10742
this option is not expose in cmake options (gmake-gui)) and is alwaya build by default

[2018-05-01 20:39] anirudh2290 commented on #10558
hi @sl1pkn07 . can you please provide reproduce steps.
I did the following without issues:

[code]
My ccbin is g++-6 6.4.0.

[2018-05-01 20:42] anirudh2290 commented on #8219
Taking a look now. I tried to run the script provided by @cjolivier01 , on the latest master: 97da5e3b35b0725d10deffef0032f203df51d271. I was able to see a 4x slower speed for broadcast_ops over a range of 1000 runs, not 100x.

[2018-05-01 21:10] sandeep-krishnamurthy commented on #8219
Thanks @anirudh2290 for looking into this. This will be very beneficial.

[2018-05-01 21:50] sl1pkn07 commented on #10558
same like you, except i use cmake

install by pacman: (-- means pulled by packan as dependencies):
cuda (9.1.85.3)
 -- gcc5 (5.5.0)
 -- nvidia-utils (390.48) # superseed by my own package (396.18.05)
cudnn (7.1.2)
opencv (3.4.1)
cmake (3.10.3)
make (4.2.1)
 -- glibc (2.27)
nccl [AUR] (2.1.15.1)
libopenblas [AUR]  (0.2.20)
gtest (1.8.0)

[code]

[2018-05-01 21:55] bhavinthaker commented on #10185
@conradwt The script downloads, compiles and installs MXNet from source on macOS. The scripts attempts to handles various scenarios that could be different for each setup. The instructions cover the common case but may not cover all the possible scenarios and hence I suggested running the script to check if it works fine in your environment.

I presume that you are trying to build from source on m

[2018-05-01 21:56] rahul003 commented on #10558
Hey could you remove this line and retry
https://github.com/dmlc/mshadow/blob/5da1d9084e56bf1d7af246f632f4d59a995c76cd/cmake/mshadow.cmake#L73

[2018-05-01 21:57] roywei commented on #10765
Able to reproduce on Ubuntu with gcc 5.4.0 and MacOS 10.12.6 with Apple LLVM version 9.0.0 (clang-900.0.38). Tested with pip installed packages. However, different from @juliusshufan observation (built from source I guess), only mxnet-mkl pip package will cause this issue.
Installed packages using:
`pip install mxnet --pre`
`pip install mxnet-mkl --pre`

@sandeep-krishnamurthy  could you help to l

[2018-05-01 22:02] szha commented on #10724
is it possible to develop an option similar to DYNAMIC_ARCH mode in openblas?

[2018-05-01 22:05] sl1pkn07 commented on #10558
that line is the line L70,  seems need update the commit reference when use git submodule --init --update --recursive

[2018-05-01 22:07] roywei commented on #10631
@sandeep-krishnamurthy  could you help to add label Distributed, Performance? Thanks!

[2018-05-01 22:25] rahul003 commented on #10558
Can you do make VERBOSE=1 and share log of the first few files being compiled?

[2018-05-01 22:33] rahul003 commented on #10558
@sl1pkn07 I don't understand what you mean about the submodules.

Please try the following

1. Fresh clone. Don't change any of the submodules
git clone --recursive incubator-mxnet

2. # remove line 73 from 3rdparty/mshadow/cmake/mshadow.cmake (the line which says add_definitions(-DMSHADOW_USE_F16C=1))

3. then build

If that fails. Then please run make VERBOSE=1 and paste the first 50-100 lines o

[2018-05-01 22:36] ashokei commented on #10724
It is possible if we build mkldnn with `-mtune=generic -march=haswell` , i will make this change with a PR.

[2018-05-01 22:41] rahul003 commented on #10558
I can reproduce your error when that line exists with cmake and gcc6.4. Removing that line fixes that for me. I've created a PR to do that. There might be something simple going wrong. Can you clean and try from scratch

[2018-05-01 22:55] sl1pkn07 commented on #10558
git clone --recursive incubator-mxnet

done
[code]

the line 73 say    ` add_definitions(-DMSHADOW_USE_F16C=0)`

![screenshot_20180502_004840](https://user-images.githubusercontent.com/462213/39497201-93375f60-4da2-11e8-8822-47e88396cf1c.png)

this is because this:

`Submodule path '3rdparty/mshadow': checked out '317fad64cc234c458e3f01ff47fffe3b8b3e5f63'`

https://github.com/dmlc/mshadow/blob/317

[2018-05-01 23:02] simonmaurer commented on #10641
@ThomasDelteil, @spidyDev  discussion of questions continued as stated with your link - closing the issue

[2018-05-01 23:02] #10641 closed

[2018-05-01 23:09] zheng-da commented on #10724
I'm using `-mtune=generic` right now. Do we need `-march=haswell`?

[2018-05-01 23:09] #10558 closed

[2018-05-01 23:11] sl1pkn07 commented on #10558
clone repo
apply         'https://patch-diff.githubusercontent.com/raw/apache/incubator-mxnet/pull/10771.diff'
init submodules with: `git submodules update --init --recursive`
apply:
        'https://patch-diff.githubusercontent.com/raw/dmlc/mshadow/pull/335.diff'
        'https://patch-diff.githubusercontent.com/raw/dmlc/mshadow/pull/336.diff'

the output
https://pastebin.com/fEZJLr7u

[2018-05-01 23:45] rahul003 commented on #10558
There seems to be something wrong with the patch because when the error shows up -DMSHADOW_USE_F16C=1 is seen which should not be there. This flag can not be introduced if all the following changes are done correctly.

1. git clone --recursive https://github.com/apache/incubator-mxnet
2.
Either `cd 3rdparty/mshadow && git pull origin master && cd ../../`
or apply the PR https://github.com/apache/i

[2018-05-01 23:57] sl1pkn07 commented on #10558
same error, but different output

https://pastebin.com/Hx5qjQnN

the `-DMSHADOW_USE_F16C=1` dissapear

[2018-05-02 01:06] pribadihcr opened #10775 "RGB to gray ops"
Hi,

is there ops in mxnet like this tf.image.rgb_to_grayscale.
Thanks

[2018-05-02 01:17] zheng-da opened #10776 "make clean USE_MKLDNN=1 triggers MKLDNN build"
When MKLDNN is turned on, either in config.mk or with `USE_MKLDNN=1`, `make clean` triggers MKLDNN build. It's very inconvenient for users when they want to turn on MKLDNN in config.mk.

[2018-05-02 02:40] whl33886 opened #10778 "Make android error"
when I use ndk16 make mxnet ,it need <x86intrin.h>.but ndk sysroot don't have this. How can I do?THS

[2018-05-02 04:11] ariwaranosai commented on #10766
from my view,  set_data should be call after initialize.
[function set_data](https://github.com/apache/incubator-mxnet/blob/65df1ee711a07fccc74a0131d7b3fb67b4f48e74/python/mxnet/gluon/parameter.py#L369) will check whether _deferred_init is None or not.

`assert self._deferred_init is not None`

but default value for self._deferred_init is (). It is on purpose or not?  @piiswrong

[2018-05-02 07:39] altosaar opened #10781 "Gluon HybridBlock: how to use functions outside of class and still hybridize?"
I followed this example to include a function outside of the HybridBlock class in the hybrid_forward method: https://github.com/apache/incubator-mxnet/blob/master/example/gluon/embedding_learning/model.py#L51

It seems like the pattern is `def function(F, *args, **kwargs):`.

Here is the model I am testing: https://gist.github.com/altosaar/8c75e61eb85735b20179b66a29297bd1

It runs fine without hyb

[2018-05-02 08:36] juliusshufan commented on #10765
@roywei Thanks for your comments and double check, I retry the non-MKLDNN build from source, and GPU build, looks like the symbolic working well. I think this aligned with your observation.
Sorry for the confusion. I modify the issue description accordingly.

[2018-05-02 08:42] PastequeZ commented on #10675
Hello,
I have the same issue when I tried to install version 0.10.1 but have error with:
 URL 'https://s3-us-west-2.amazonaws.com/apache-mxnet/R/CRAN/bin/macosx/mavericks/contrib/3.3/PACKAGES.gz': status was '404

I have
R version 3.3.3 (2017-03-06)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: macOS  10.13.1

[2018-05-02 08:49] xiadeye commented on #1747
@saustar Did you solve the problem?How?

[2018-05-02 09:36] julian90 opened #10782 "Multiple calls to mx.sym.Variable with same name: Dangerous / unexpected behavior?"
## Description
Multiple calls to `mx.sym.Variable` with same name e.g. calling `mx.sym.Variable('a')` twice seems to result in unexpected and therefore possibly dangerous behavior in the `forward` and `backward` call.

## Environment info (Required)
----------Python Info----------
Version      : 3.5.2
Compiler     : GCC 5.4.0 20160609
Build        : ('default', 'Nov 23 2017 16:37:01')
Arch

[2018-05-02 11:11] gigasquid commented on #8971
@sivakon The goal is to have the same level of support for MXNet as in the other language packages. The Clojure package will most likely piggy back on the Scala work when it lands there.

[2018-05-02 14:03] sl1pkn07 commented on #10743
i've make a correction in the first post, please re-read

greetings

[2018-05-02 14:53] marcoabreu commented on #10743
I think @zheng-da made some changes there recently. Best chance here would be Chris :/

[2018-05-02 15:57] zheng-da opened #10784 "Flaky memory error"
I recently saw this memory error more frequently recently.

My impression is that it happens in GPU build, but it may happen in CPU build.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10783/1/pipeline

Maybe more people can collect the error to figure out the problem?

[2018-05-02 16:32] dtmoodie commented on #10749
This may also be problematic if the default value changes.
For example if I train a net with default value 2, and then later the default is changed.  Then when the net is deserialized the new default value will be loaded instead of the value 2 that it was trained with.

[2018-05-02 20:35] anirudhacharya commented on #10359
@lutzroeder if this is resolved, please close the issue.

[2018-05-02 20:38] #10359 closed

[2018-05-02 20:42] anirudhacharya commented on #10330
@apache/mxnet-committers Please label this - "Licenses"

[2018-05-02 20:50] anirudhacharya commented on #10274
@marcoabreu Please tag this - "NDArray", "Test"

[2018-05-02 20:53] roywei commented on #10775
Hi @pribadihcr , please refer to the[ Image API](https://mxnet.incubator.apache.org/api/python/image/image.html), you can try `imdecode` with arg `to_rgb=0`.
could you also close this if it answers your question? Thanks!

[2018-05-02 20:56] anirudhacharya commented on #10295
@nswamy @sandeep-krishnamurthy please label this - "Build"

[2018-05-02 21:05] anirudhacharya commented on #10267
@nswamy @sandeep-krishnamurthy Please label this - "R", "Bug".

[2018-05-02 21:07] anirudhacharya commented on #10272
@ajayvohra2005 Please provide Environment Information.

@nswamy @sandeep-krishnamurthy Please label this - "Build", "Flaky", "Pending Requester Info"

[2018-05-02 21:10] anirudhacharya commented on #10319
@nswamy @sandeep-krishnamurthy Please label this - "Feature Request".

[2018-05-02 21:13] anirudh2290 commented on #8219
Tracking here: https://issues.apache.org/jira/browse/MXNET-323

[2018-05-02 21:36] anirudhacharya commented on #10334
@nswamy @sandeep-krishnamurthy Please label this - "Python", "Example"

[2018-05-02 21:42] anirudhacharya commented on #10357
@zheng-da Could you please label this issue appropriately.

[2018-05-02 21:48] anirudhacharya commented on #10264
@nswamy @sandeep-krishnamurthy Please label this - "Python", "RNN", "Bug".

[2018-05-02 21:52] anirudhacharya commented on #10271
@ajayvohra2005 Please verify if the above commit fixed you problem.

@nswamy @sandeep-krishnamurthy Please label this - "Pending Requester Info", "Bug".

[2018-05-02 21:53] anirudhacharya commented on #10290
@nswamy @sandeep-krishnamurthy Please label this - "Question" and close this issue.

[2018-05-02 22:03] anirudhacharya commented on #10294
@wangshuailong please direct your questions to discuss.mxnet.io

@nswamy @sandeep-krishnamurthy please label this - "Question"

[2018-05-02 22:05] anirudhacharya commented on #10301
@nswamy @sandeep-krishnamurthy @eric-haibin-lin Please label this - "Question" and close the issue, as it seems to be resolved.

[2018-05-02 22:09] anirudhacharya commented on #10316
@nswamy @sandeep-krishnamurthy Please label this - "Operator", "Test"

[2018-05-02 22:32] yifeim opened #10786 "Feature request: square op for row_sparse and sum op with keepdims"
## Description
Square on row_sparse throws a storage fallback warning message. Sparse sum with keepdims also throws a similar warning message. While I need both functions to write factorization machines, it appears that there is an example that circumvents both obstacles with an internal function:

https://github.com/apache/incubator-mxnet/blob/14206978f461364c53aaf1c787e2f268e2a94b00/example/spar

[2018-05-02 23:31] ankkhedia commented on #10167
@sandeep-krishnamurthy  Could you please label this issue as discussion

[2018-05-02 23:39] ankkhedia commented on #10174
@sandeep-krishnamurthy could you please label the issue Pending requester info

[2018-05-02 23:40] ankkhedia commented on #10187
@sandeep-krishnamurthy Could you please close this issue and tag the issue as question and build

[2018-05-02 23:44] ankkhedia commented on #10217
@rahul003 Did the above suggestion worked for you?
@sandeep-krishnamurthy  Could you please tag the issue as Pending Requester Info and build

[2018-05-02 23:47] ankkhedia commented on #10171
@sandeep-krishnamurthy  Could you please label this issue as converter and bug

[2018-05-03 00:09] leezu commented on #10506
- [ ] Standalone pruning operator as in https://github.com/apache/incubator-mxnet/blob/274fae82d66b1cfed48f78e69538631c57c5b6b6/src/operator/tensor/cast_storage-inl.cuh#L116-L153

[2018-05-03 00:56] pribadihcr commented on #10775
@roywei,

I mean the input from a tensor like tf.image.rgb_to_grayscale. the imdecode hte input need in int8 buffer. or do you have any example implementation?

[2018-05-03 01:18] huyangc opened #10788 "Start a process for training. The training get stuck"
I start a process for training procedure, including loading data, prepare a module, and module.fit. However, when I just ran the training procedure, it can be successfully started, but when I start a process of the training procedure, it get stuck with the gpu memory allocated but GPU-Util is also 0%.

some pseudocode here
[code]

[2018-05-03 01:36] roywei commented on #10775
@pribadihcr , no we currently rely on open cv's implementation, you could follow tf.image.rgb_to_grayscale's [implementation](https://github.com/tensorflow/tensorflow/blob/r1.8/tensorflow/python/ops/image_ops_impl.py#L1278) to do something similar on NDArrays. Refer to [expand_dim](https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.NDArray.expand_dims), and maybe conv

[2018-05-03 02:08] chaoer commented on #10745
@larroy @nswamy
Finally I find an alternative way to skip this problem.

Step1:  using CMake-gui do the normal configure process;
Step2:  find the CUDA option, an select the "CUDA_ARCH_NAME" to "Manual"; then click configuration;
Step3: change the new appear( usually in red in the GUI) to what you want. (for example: sm_70); then click configuration and generate;
Step4: compile the generated sln f

[2018-05-03 02:08] #10745 closed

[2018-05-03 02:11] pribadihcr commented on #10775
@roywei,

e.g the shape of tensor_image_rgb  is [1,3, 100, 100]
rgb_weights = mx.nd.array([0.2989, 0.5870, 0.1140]).as_in_context(ctx) # the shape is [3, 1]
tensor_image_rgb = mx.nd.transpose(tensor_image_rgb, (0, 2, 3, 1))  # make shape become [1, 100, 100, 3]
tensor_image_gray = mx.nd.dot(tensor_image_rgb, rgb_weights) # the shape become  [1, 100, 100, 1]
tensor_image_gray = mx.nd.transpose(tens

[2018-05-03 02:40] wangshuailong commented on #10294
@anirudhacharya Didn't try discuss.mxnet.io before, looks awesome! I will try! Thank you!

[2018-05-03 02:40] #10294 closed

[2018-05-03 02:46] anirudhacharya opened #10789 "Reshape of input array when the shape is available only at runtime is not possible"
Currently the [reshape operator](http://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.reshape) in MXNet needs the shape attribute beforehand, which will be used as a parameter of the reshape operator.

And the [Reshape_like operator](http://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.reshape_like) takes two inputs and reshapes the first input based

[2018-05-03 02:54] anirudhacharya commented on #10789
Proposed Solution:

A potential solution to this is to modify the existing ``reshape_like`` operator to accept another boolean parameter like ``infer_shape``. And based on this parameter we can either infer the shape of second input( as it is done now) or take the second input as the shape array itself.

Caffe2 does something similar in their [resizeLike](https://caffe2.ai/docs/operators-catalogue

[2018-05-03 04:31] apshreyans opened #10791 "Unable to install mxnet in R 3.5.0"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-05-03 05:08] jeremiedb commented on #9602
Hi, the official repo hasn't been updated. In the meantime, you can install this version (CPU only for now):
[code]

[2018-05-03 05:25] xu2011 opened #10793 "dataloader load custom dataset error"
Python 3.6 on MacOS

I try to load custom dataset with rec file using dataloader as following:
`data = gluon.data.RecordFileDataset("face/test.rec")`
`data_loader = gluon.data.DataLoader(data, batch_size=10, shuffle=True)`
`for data, label in data_loader:`
`     do(data)`

---------------------------------------------------------------------------
KeyError                                  Tracebac

[2018-05-03 05:45] Godricly commented on #9704
Some updates here. Unlike the pooling layers which has an [assertion](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/nn/conv_layers.py#L719) to check the layout format, the conv layers didn't check it. So if I I used a 'NWC' layout,  the output error message is even more strange.  A possible solution is to add assertion into each conv1d, conv2d stuffs, and fix the corresp

[2018-05-03 05:50] apshreyans commented on #9602
Thanks much. It worked for me.

On Thu, May 3, 2018, 10:39 AM jeremiedb <notifications@github.com> wrote:

[2018-05-03 05:50] hongtao12310 commented on #10579
agree @fullfanta

Let's wait for the fix

[2018-05-03 06:41] #10301 closed

[2018-05-03 06:43] #10290 closed

[2018-05-03 07:09] cipri-tom commented on #3432
@WellyZhang That is good advice ! How would I know which Anaconda libs need to be linked to the system ones ? Is there any shortcut to do so ? Thank you!

[2018-05-03 08:32] wangshuailong commented on #7070
I had the same problem minutes ago, it turned out that I set the wrong environment path which was still the old mxnet version ....
Now it's working after I corrected it ... Just for others as reference.

[2018-05-03 09:54] paoloviviani commented on #8126
I'm also experiencing the same problem here, but with LinearRegressionOutput (even with a single neuron and no activation).
I see that gradients are extremely small and weight are not moving so much.
Any idea?

[2018-05-03 10:09] Rangocold commented on #6313
i meet  the same problem but my error tip is
7>"Running: OpWrapperGenerator.py E:/MxNet/incubator-mxnet/build/Debug/libmxnet.dll"
7>Traceback (most recent call last):
7>  File "OpWrapperGenerator.py", line 426, in <module>
7>    raise(e)
7>WindowsError: [Error 126]
how can i solve this ?
thank for much

[2018-05-03 10:57] lx75249 commented on #6313
@Rangocold Do you have openblas dll registered?

[2018-05-03 13:38] Ghostish commented on #10544
I am facing the same problem.  Could you please tell me how to solve it ?

[2018-05-03 15:09] luoyetx commented on #10544
@Ghostish #10695

[2018-05-03 16:08] WellyZhang commented on #3432
@cipri-tom Generally, most Anaconda libs should work (some are actually just links to sys libs) and you don't need to worry too much about it. Just link libs in Anaconda to sys libs when Python complains about an error.

[2018-05-03 19:27] zhanghang1989 opened #10799 "Feature Request for SoftmaxCrossEntropyLoss with Ignore labels"
Although we can implement this using existing operators, but current implementation is not efficient and very memory consuming. See the code:

[code]
When the channels/number of classes is very large, the `valid_label_map` will be huge. Please let me know if there is better solution or someone could implement it using backend like PyTorch does (https://pytorch.org/docs/stable/nn.html?highlight=cro

[2018-05-03 21:52] piiswrong commented on #10793
DataLoader doesn't know how to convert raw bytes to batches. you need to provide a custom batchify_fn.

[2018-05-03 22:06] eric-haibin-lin commented on #9686
kvstore should not be public API

[2018-05-03 22:36] anirudh2290 opened #10801 "CMake ignores USE_MKLDNN flag for 1.2.0.RC[0-2] releases"
CMake ignores the `USE_MKLDNN` flag for 1.2.RC2 release. This has been fixed in the master as part of #10731. To workaround the issue on 1.2.RC2 release, please apply the following changes in CMakeLists.txt:

[code]

[2018-05-03 22:43] ShownX commented on #10781
Define another class inherit the ```hybridizeBlock``` and put the function in the ```hybridize_forward```

[2018-05-04 00:04] roywei commented on #10801
@anirudh2290  could you add relevant labels (build/MKL) to keep track?  Thanks

[2018-05-04 00:07] roywei commented on #10799
@nswamy  could you help to add label feature request, performance? Thanks

[2018-05-04 00:11] roywei commented on #10793
@xu2011 Please refer to [default batchify fn](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/dataloader.py#L86) and close this issue if resolved. Thanks!

[2018-05-04 00:12] roywei commented on #10791
@nswamy  Could you help to add label R and installation? Thanks!

[2018-05-04 00:13] roywei commented on #10789
Can we make this a feature request and add the label? Thanks!

[2018-05-04 00:25] roywei commented on #10784
@reminisce  could you help to add label Build? Thanks

[2018-05-04 00:26] roywei commented on #10778
@sandeep-krishnamurthy  could you help to add label installation/build? Thanks!

[2018-05-04 00:26] roywei commented on #10776
@sandeep-krishnamurthy  could you help to add label Build? Thanks

[2018-05-04 00:30] xu2011 commented on #10793
problem resolved, thank you

[2018-05-04 00:30] #10793 closed

[2018-05-04 00:31] chinakook commented on #10799
F.SoftmaxOutput is a solution but without weighting

[2018-05-04 00:46] roywei commented on #10788
@huyangc Using the mnist example in a process is working fine, could you provide more detailed information? Like environment, mxnet version, and minimum reproducible code for the problem. The pseudocode has limited information. Thanks!

[2018-05-04 02:34] mangos47 commented on #10791
I too am having difficulty installing mxnet r package after updating to R 3.5.0.
The error is that it cannot download the package - the address is incorrect or sth. please see log below:
------------------------------------------------------------------------------------

R version 3.5.0 (2018-04-23) -- "Joy in Playing"
Copyright (C) 2018 The R Foundation for Statistical Computing
Platform: x86_64

[2018-05-04 03:10] rahul003 commented on #10558
Hi I realized this has nothing to do with USE_F16C. The same failure exists on code from Nov 2017 with gcc5.5. Similar failure exists for tensorflow as well. This has to do with the compatibility of nvcc with host OS and compiler.

Nvidia doesn't have a guideline for archlinux. Could you please try changing compiler versions? On my ubuntu 16.04 machine, gcc 5.4 and gcc6.4 work but gcc5.5 doesn't w

[2018-05-04 04:03] diyang opened #10805 "SKIP RNN is incorrect in LSTnet"
Thanks for your example and source code, it helps me a lot to develop my own LSTnet.
However, I have noticed that there are some flaws in the implementation of Skip RNN of yours.

The following is your way of implementing Skip RNN
`####################
    # Skip-RNN Component
    ####################
    stacked_rnn_cells = mx.rnn.SequentialRNNCell()
    for i, recurrent_cell in enumerate(skiprce

[2018-05-04 04:14] altosaar commented on #10781
Sweet, thanks!

[2018-05-04 04:14] #10781 closed

[2018-05-04 04:31] sl1pkn07 commented on #10558
I can try build another gcc version. But need time to prepare the environment

[2018-05-04 04:37] diyang commented on #10805
`stacked_rnn_cells = mx.rnn.SequentialRNNCell()
 for i, recurrent_cell in enumerate(skipcells):
 stacked_rnn_cells.add(recurrent_cell)
 stacked_rnn_cells.add(mx.rnn.DropoutCell(dropout))
 outputs, states = stacked_rnn_cells.unroll(length=q, inputs=cnn_reg_features, merge_outouts=False)

p = int(seasonal_period / time_interval)
 output_indices = list(range(0, q, p))
 outputs.reverse()
 skip_outputs

[2018-05-04 04:53] lionel92 opened #10807 "Ndarray.asnumpy() error with gluon dense under both GPU and CPU environment"
## Description
I try to use gluon API to test mkldnn while an error occurs when doing asnumpy() operation after the network's backward propogation. So I performed the test under gpu and native cpu environment, and the error still exists. What' more, the small size of input data will not trigger the error.
You can run the following mininum example to reproduce the error.

[code]

Error message:
 pr

[2018-05-04 06:55] QiXuanWang commented on #7551
is it still a limitation yet? Can someone post a workaround?

[2018-05-04 06:59] QiXuanWang commented on #10805
Interesting, I'm working on LSTNet too. I rewrote the whole with gluon and yes, the RNNCell could not be used.
Actually I tried to remove skip-rnn layer though both doesn't work very well for my problem.

[2018-05-04 08:29] grainw commented on #2754
Hey did you figure out how to solve this?@pjpan

[2018-05-04 09:28] dwSun commented on #10807
modified your script as this:
[code]

with mxnet-mkl 1.1.0 from pypi, I got this:
[code]

with mxnet-mkl 1.2.0b20180503 from pypi, I got this:
[code]

So, I am totally confused...

[2018-05-04 09:55] dwSun opened #10809 "Check failed: format != mkl_mem_->GetFormat() (5 vs. 5)"
## Description
Crashed when training a model.

With code from [this tutorial](http://mxnet.incubator.apache.org/tutorials/gluon/datasets.html), I try to train my own model with MobileNetV2. But it crashed with mxnet-mkl-1.2.0b20180503 from pypi.
On mxnet-mkl-1.1.0 from pypi, this code works.

Batch size 32 and 16 can reproduce this error, others like 8 or 32 seems can't. Smaller network can't repr

[2018-05-04 10:34] diyang commented on #10805
I have used MxNet R to implement SKIP RNN
You may find it in this function.
[code]

[2018-05-04 12:08] diyang commented on #10805
@QiXuanWang By the way, according to the paper, if your data is not periodic, or period is dynamic, then you shall choose the variation of LSTnet - LSTnet-Attn. Meaning use Temporal Attention Layer to replace SKIP RNN

[2018-05-04 13:27] TaoLv commented on #10809
@dwSun Thanks for reporting this. I will take a look and be back to you soon.

[2018-05-04 13:51] marcoabreu commented on #10791
@sergeykolychev

[2018-05-04 17:06] sergeykolychev commented on #10791
@marcoabreu Sorry, I am a perl maintainer not R

[2018-05-04 19:13] hetong007 commented on #10123
Can you try the train_cifar10.py script at: http://gluon-cv.mxnet.io/model_zoo/index.html#image-classification

[2018-05-04 20:27] rahul003 commented on #10778
Does using USE_F16C=0 help?

[2018-05-04 21:02] piiswrong commented on #10766
You cannot set_data before you initialize the model.

@ariwaranosai yes that's the issue. I'm making a fix

[2018-05-04 21:45] sl1pkn07 commented on #10558
yes, seems GCC 5.4.0 and GCC 6.3.1(snapshot used in archlinux) build OK without get rid `-O3` in all makefiles/cmakelists scripts

in both cases, i use GCC 7.3.1 (failed in GCC 8.1.0) for the main compiler and GCC 5.4.0/6.3.1 as `CUDA_HOST_COMPILER` (ccbin)

for avoid this, is possible add a check in makeflie/cmake if use "bad" version of gcc for CUDA ccbin?

greetings

[2018-05-04 22:30] laszukdawid commented on #9118
@nswamy @anirudh2290 what's the commit sha? I'd like to follow this ticket.

[2018-05-04 22:40] rahul003 commented on #10558
Good to know @sl1pkn07. Thanks for verifying that this works. That's a good idea, the only concern is that we might need to come up with an exhaustive of list of which compilers work and which don't on different platforms and I'm not sure how that would work.

[2018-05-05 00:40] hetong007 opened #10818 "Feature Request: Improve ndarray.pad to be an numpy.pad equivalent"
## Current Limitations

Comparing to `numpy.pad`, the current (https://github.com/apache/incubator-mxnet/commit/3bba4c8f6362df8b3355404002eab6a6c88123d6) `mxnet.ndarray.pad` has the following limitations:

1. It only works with real data type (being fixed in https://github.com/apache/incubator-mxnet/pull/10815)
2. It only works with 4-D or 5-D ndarray: https://github.com/apache/incubator-mxnet/blo

[2018-05-05 01:41] rahul003 commented on #8671
@szha Can we turn on the USE_LIBJPEG_TURBO flag. I find that it helps improve the speed of IO pipeline significantly?

Results for Resnet50 v1 Imagenet, 480px resized data, batch size 1920, float16, symbolic:
Current: 3600samples/sec
With libjpeg-turbo: 4600samples/sec

As an example, Here's how I used LIBJPEG_TURBO on ubuntu.
[code]
Flags
`USE_LIBJPEG_TURBO=1 USE_LIBJPEG_TURBO_PATH=/usr`

[2018-05-05 01:45] szha commented on #8671
@rahul003 thanks for the suggestion. I will certainly take a look. For these dependencies, my approach have been to statically link them.

[2018-05-05 02:53] wkcn commented on #10723
I have tried it. It's available.
The key point is to get the data pointer of NDArray using _LIB.MXNDArrayGetData

Example: https://github.com/wkcn/MobulaOP-mx

[2018-05-05 05:40] yajiedesign opened #10821 "ci error MKLDNN_UTIL_FUNC.MemFormat"
## Description
ci test FAILED MKLDNN_UTIL_FUNC.MemFormat

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10629/37/pipeline/710

## Environment info (Required)
Environment is in ci.

[2018-05-05 05:43] #10821 closed

[2018-05-05 07:23] zhyj3038 opened #10822 "how can load *.json and *.params with gluon api?"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-05-05 12:28] diyang commented on #8029
@tqchen Now, my question would be, if I have got a list of symbol matrix, e.g.
[code]
now, if I need calculate the sum of this list a,
if I use for loop
[code]
it will yield this error. However if I don't use for loop, how may I get this type of sum, especially when length of a could be vary all the time.

[2018-05-05 15:34] marcoabreu commented on #10735
Tracked at https://github.com/apache/incubator-mxnet/issues/10280

[2018-05-05 15:34] #10735 closed

[2018-05-05 15:41] dwSun opened #10824 "Segmentation Fault when using as_in_context"
## Description
When using as_in_context with gluon.data.DataLoader, the script always failed with some error. Sometimes segmentation fault, sometimes double free or corruption.

## Environment info (Required)
With mxnet-mkl-1.1.0 from pypi this error can be reproduced, I have tested it on 2 different machines.

Mxnet-mkl-1.2.0b20180503 can't reproduce this error.
Not sure about mxnet without mkl,

[2018-05-05 17:26] marcoabreu commented on #10824
@piiswrong does this apply to the non-thread-safe limitation we have?

@KellenSunderland

[2018-05-05 19:29] ZioPwnstar opened #10826 "Own dataset via im2rec.py & NDArrayIter"
I'm trying to train mxnet using different architectures ( resnet/alexnet/vgg ) on my own dataset, which I have turn into .rec using im2rec.py
I have found https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/train_mnist.py which is pretty similar, because I'm using grayscale pictures, 17x17x1, and based of this provided example I struggle combining NDArrayIter and .re

[2018-05-05 20:06] lightingghost commented on #8513
@szha Sorry I missed your response. I have already submitted a pull request to `mshadow`, adding os check to allow `mkl` be used on macOS

[2018-05-06 05:12] kaisark opened #10828 "mxnet build error.: g++: error: /home/ubuntu/mxnet/3rdparty/dmlc-core/libdmlc.a: No such file or directory"
## Description
mxnet build from source error.
Performed pip install as workaround for now (pip install mxnet-cu80 --pre)

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please provide:
1. Java version: (`java -version`)
2. Maven version: (`mvn -version`)
3. Scala runtime if applicable: (`scala -version`)

For R user, please provide R `

[2018-05-06 06:41] piiswrong commented on #10824
I don't think so

[2018-05-06 06:44] piiswrong commented on #10822
use load_checkpoint, then use gluon.SymbolicBlock

[2018-05-06 09:17] sl1pkn07 commented on #10743
tested with cmake 3.11.1, same output

seems this only works with macos / windows, but not in linux

https://gitlab.kitware.com/cmake/cmake/commit/528e8af19f68c01c3a42af9e74801a39c16237dd

[2018-05-06 14:51] larroy commented on #9853
I tried to increase the tolerance, but I found out one failure where the difference is much bigger than expected 0.28679015 . I think we should look deeper into this

[-116.15162] <-input
<NDArray 1 @gpu(0)>
[-115.8648288] <- gradient
[0.28679015] <- diff
[0.8396868] <- a
[0.0020733]  <- b
FAIL

[2018-05-06 14:53] larroy commented on #9853
reproducible 100% with export MXNET_TEST_SEED=1688524483

nosetests-3.4 -s -v test_operator_gpu.py:test_binary_op

diff --git a/tests/python/unittest/test_operator.py b/tests/python/unittest/test_operator.py
index 5d38222..04e880c 100644
--- a/tests/python/unittest/test_operator.py
+++ b/tests/python/unittest/test_operator.py
@@ -1429,6 +1429,16 @@ def check_binary_op_backward(symbol, baseline, ge

[2018-05-06 18:41] zzd1992 opened #10831 "How to fix seeds and reproduce results?"
My environments:
ubuntu14.04, python2.7, cuda8.0, cudnn, mxnet-cu80.

I can't reproduce results even set all random seeds. Here is the code:
[code]

Reproduction is really important in my case.
How can I reproduce results within my environments?

[2018-05-06 20:18] samhodge commented on #9989
Thanks

[2018-05-07 00:14] #10826 closed

[2018-05-07 01:48] pribadihcr opened #10832 "custom kernel"
HI,
How to make custom kernel for mxnet convolution like the following tf version:
def gauss_kernel(kernlen=21, nsig=3, channels=1):
        interval = (2*nsig+1.)/(kernlen)
        x = np.linspace(-nsig-interval/2., nsig+interval/2., kernlen+1)
        kern1d = np.diff(st.norm.cdf(x))
        kernel_raw = np.sqrt(np.outer(kern1d, kern1d))
        kernel = kernel_raw/kernel_raw.sum()
        out_f

[2018-05-07 04:12] OliverColeman commented on #9288
Me too! I need a way to resize the output of a HybridBlock to the same size as the input for it. This is for an image segmentation task. I'm using the new-fangled BilinearResize2D layer, but this only accepts a *width* and *height* parameter. If only it could alternatively accept a Symbol as an argument and resize based on this...

[2018-05-07 06:13] squidszyd opened #10834 "Share Numpy Arrays between processes like NDArrays?"
(This thread is actually irrelevant to MXNet, but nowhere could I find better than here)
I'm working on a multi-processing system in which I want to transfer Numpy arrays between processes. However, this introduces lags of pickling and unpickling arrays. I've just found [this code](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/dataloader.py) in Gluon in which the pi

[2018-05-07 10:11] casscw opened #10835 "Lazy sparse param initialization for distributed training"
## Description
In the model wide&deep，**a categorical feature 'sex' has three values '0,1,2'.** Then feed it into SparseEmbedding layer, just like the code below.
[code]

## Environment info (Required)
Linux, mxnet-1.0.1,GPU,python-2.7

## Detail
By checking the model's params， **the 'single_2_embed_weight' has values in each row which is not sparse**
[code]

**why the categorical input only has t

[2018-05-07 11:45] akb0787 commented on #1084
Dear song, if you already sent your codes to above peoples , do send me please, it would be a great help.

akb@mail.ustc.edu.cn

[2018-05-07 13:47] moveforever commented on #10835
@eric-haibin-lin

[2018-05-07 14:27] XiaotaoChen opened #10836 "mxnet-mkldnn(v1.2.0) to use whole CPU cores on machines without hyperthreading"
### here is my cpu info

[code]

Clearly, each core only have one thread, without hyperthreading.

Then i run the benchmark_score.py. the results are as follows

[code]

### here is the utilization of each core

[code]

It shows that only 14 cores used by 14 threads. And the 14 threads are created by mkldnn(i guess). the other threads which almost haven't use cpu are create by engine and other com

[2018-05-07 15:35] TaoLv commented on #10836
Great analysis. I think setting `OMP_NUM_THREADS` to the number of physical core is a good choice and you'd better bind all threads to physical cores by setting `KMP_AFFINITY`.

I'm afraid below code is not portable and cannot run other OS.
[code]
FYI, here are some previous discussions about it: https://github.com/apache/incubator-mxnet/issues/9545#issuecomment-361874591 Contribution is welcome :

[2018-05-07 16:45] gigasquid commented on #10338
I did some investigating in this due to running into a problem on the clojure side. I'd add it here in case it helps:

 - Saving as a dict seems to work fine `mx.nd.save("a2" ,{'a': a})`

Also, related - the dtypes of the python ndarray are not all supported:

The python ndarray dytpes are
[code]

While the Scala ndtypes are

[code]
For example, if a user tries to save a python ndarray as int64, t

[2018-05-07 18:14] Hodapp87 commented on #10338
I did a quick fix below that seems to resolve it, but I have tested only with @gigasquid's Clojure bindings, and I still need to move this to upstream master and check the resultant values more carefully. An actual error message as she suggests would also be very helpful.

[code]

[2018-05-07 19:07] marcoabreu opened #10837 "ARMv8 OpenBLAS build broken"
http://jenkins.mxnet-ci-dev.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/ci-master/392/pipeline/67/

Note: This is the test environment.

In order to reproduce locally, just run ```docker build -f docker/Dockerfile.build.jetson --build-arg USER_ID=1001 -t mxnet/build.jetson docker```.

[code]

[2018-05-07 19:10] marcoabreu commented on #10837
@KellenSunderland @larroy @lebeg

[2018-05-07 19:13] marcoabreu commented on #10837
For reference, a working build with exactly the same Dockerfile: http://jenkins.mxnet-ci-dev.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/ci-master/runs/306/nodes/67/steps/447/log/?start=0

[code]

Most noticeable here is the 'unknown-linux' part: ```aarch64-unknown-linux-gnueabi``` <-> ```aarch64-linux-gnu-gcc```

[2018-05-07 19:40] marcoabreu commented on #10837
Seems to be related to https://github.com/dockcross/dockcross/commit/f5c87215fc52e7f72c88842c8486d0be6ba8161b#diff-6e12c3f1624f19bdd1a4370b48ce9292L28

[2018-05-07 20:08] marcoabreu commented on #10837
Problem seems to be the missing ```gfortran``` compiler which we're setting manually in our Dockerfile. This has to be updated to match whatever is present inside the new Dockerfile.

[2018-05-07 20:11] marcoabreu commented on #10837
Unfortunately, the project does not maintain any tags for their Dockerfiles, so there's no way around fixing the problem instead of pinning the version.

[2018-05-07 20:31] haojin2 opened #10838 "Flaky test_random.test_sample_multinomial"
Link to the failed build: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10533/34/pipeline
[code]

[2018-05-07 20:32] ThomasDelteil commented on #10837
Hey @marcoabreu, how do we currently track the failed builds on the test environment? Do we have nightly runs that build with --no-cache and catch these issues?

[2018-05-07 20:36] marcoabreu opened #10839 "Execute all runs in CI without cache as part of nightly"
Instead of using the cached Dockerfiles, make a run that downloads and installs everything from scratch. This ensure that all third party dependencies are actually still valid.

See https://github.com/apache/incubator-mxnet/issues/10837 for an example

[2018-05-07 20:37] marcoabreu commented on #10837
We don't track failures on the test environment since it's just for testing of new features for CI. The fact that this gave some useful information was just an unintended side-effect.

We don't have any nightly runs that work without cache. That would definitely be a good feature. I have added a feature request at https://github.com/apache/incubator-mxnet/issues/10839

[2018-05-07 20:40] altosaar opened #10840 "Feature request - einsum"
Useful for writing models: https://rockt.github.io/2018/04/30/einsum

[2018-05-07 20:40] ThomasDelteil commented on #10839
:+1:

[2018-05-07 22:15] eric-haibin-lin commented on #10280
@haojin2 is looking into this

[2018-05-08 00:08] anirudh2290 commented on #10837
I was able to reproduce the issue. The problem seems to be caused because of the missing fortran compiler whose installation step seems to be removed as part of dockcross PR. Do we need to build openblas with LAPACK support. The workaround to this issue can be to skip LAPACK support installation for now by removing the FC line from the Dockerfile ?

[2018-05-08 01:51] cjolivier01 commented on #10836
one day maybe someone will write some portable code to determine actual number of physical cores.  on Linux i’ve seen code that does it which did all sorts of parsing stuff out of /proc directory — it was a lot of code. maybe Intel has an mkl routine that they could share?

[2018-05-08 02:10] hubenjm commented on #1813
Hi,

I am trying to compute the 2D FFT of gray-scale images (shape = (nx, ny)) inside of an iterator that applies data augmentation transformations on the fly. I've seen in the documentation that the 1D FFT works on the GPU and I've verified it myself. But it's not clear how to get the 2D FFT out of this in a nice way, without either converting the mx.ndarray back to numpy or having to write a cus

[2018-05-08 05:59] zheng-da opened #10846 "flaky tests in tutorial CI"
I see the tutorial CI time out multiple times. It takes about one hour to run.

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10843/1/pipeline/

[2018-05-08 06:15] szha commented on #10846
@ThomasDelteil

[2018-05-08 06:33] ThomasDelteil commented on #10846
@zheng-da do you see multiple time out in this log or have you experienced that multiple time?
The fact that `test_tutorials.test_python_predict_image` and `test_tutorials.test_onnx_inference_on_onnx_model` time out is really strange. It is running simple inference code on CPU. The only obvious common denominator in these tests is the fact that they are downloading a sizable model. A possible reas

[2018-05-08 06:44] zheng-da commented on #10846
I should say two times myself. Once in my own PR and once in someone else PR.

[2018-05-08 06:53] TaoLv commented on #10846
I also encountered a connection error for `test_onnx_fine_tuning_gluon` after rebasing my PR to master branch.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10104/39/pipeline#step-1512-log-901

[2018-05-08 06:56] ThomasDelteil commented on #10846
@TaoLv could be related, someone was working on implementing a retry logic on `mx.test_utils.download` to avoid failed HTTP connections issues but can't remember who.

[2018-05-08 06:59] moveforever commented on #10835
@ZiyueHuang

[2018-05-08 09:50] larroy commented on #10789
what did you use to draw the nice graphs?

[2018-05-08 13:35] jacksonloper commented on #10101
This solution is kind of weird.  Sequential feels like it ought to be composed of things that can feed into one another.  But if you are just using it as a list, the shapes might not even be right for that.

I admit it isn't a high priority, but just for sugar it might be nice to implement a separate blocklist class.

[2018-05-08 13:59] al-rigazzi commented on #10599
On a 24-core Haswell, every Resnet v1 network crashes at the first step.