[2018-07-20 19:38] szha commented on #11839
@ddavydenko

[2018-07-20 20:46] haojin2 commented on #11829
@sravanbabuiitm The docs have been updated, do you have further questions regarding the usage of GlobalAvgPool*D() Gluon APIs? If you don't have further questions would you mind closing this issue? Thanks!

[2018-07-20 21:38] apeforest opened #11841 "All the tests in tools/coreml package are failing"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-07-20 21:39] OneRaynyDay opened #11842 "Strange results from fp16 benchmarks on Alexnet on CIFAR10"
## Description
The benchmark code is [here](https://github.com/OneRaynyDay/mxnet-fp16-benchmark).
For some reason, performing inference on fp16 models does not actually create any speed ups for me:

Forward pass on the entire CIFAR10 dataset with DataLoader on fp16:
57.90255570411682 seconds

Forward pass on the entire CIFAR10 dataset with DataLoader on fp32:
48.82793569564819 seconds

Why is fp16

[2018-07-20 21:40] apeforest commented on #11841
@sandeep-krishnamurthy Please help to label this issue _Test_

[2018-07-20 21:48] apeforest opened #11843 "No CI for tools/coreml package"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-07-20 21:49] apeforest commented on #11843
@sandeep-krishnamurthy Please help to label this issue _CI_

[2018-07-20 21:55] nswamy commented on #11812
Please ask your questions on https://discuss.mxnet.io/, We use GitHub Issues for bugs and Feature Requests.

[2018-07-20 21:55] #11812 closed

[2018-07-20 22:03] haojin2 commented on #11176
@ThomasDelteil Is this still occurring on CI now? If it's not appearing again would you mind closing this?
@aluo-x @codewithsk Usually this is due to lack of GPU memories, reducing the consumption of GPU memories such as reducing batch sizes and using a smaller model would help. If you experience more issues on this, please create a separate issue with a title like "GPU memory overflow on xxx mode

[2018-07-20 22:05] haojin2 commented on #10868
@eric-haibin-lin Should be good for closing as the fix was just merged?

[2018-07-20 22:09] vishaalkapoor commented on #11763
Hi @burness,

I noticed you converted the jpg files in the VOC dataset to png files as the line below is modified from .jpg to .png

        self._image_path = os.path.join('{}', 'JPEGImages', '{}.png')

I'm unable to repro the exact situation without knowing the dimensions of the png file (what convert command did you use to convert the jpg to png).

Note: Previously, I was seeing the run hang be

[2018-07-20 22:10] #10868 closed

[2018-07-20 22:14] haojin2 commented on #9050
@iblis17 Can you still reproduce the error with the latest code? I've tried out the python reproduction and verified this should be fixed already. If you can confirm that this bug is no longer appearing on your side would you mind closing the issue? Thanks!

[2018-07-20 22:14] vandanavk commented on #8405
@akturtle could you share the dataset and/or scripts that you used?

[2018-07-20 22:32] nswamy commented on #11812
This might be the one, but I am not sure..please do ask on discuss.mxnet.io
http://data.mxnet.io/models/imagenet-11k/synset.txt

[2018-07-20 22:35] lanking520 commented on #11775
Adding DataDesc in this PR: https://github.com/apache/incubator-mxnet/pull/11844

[2018-07-20 22:49] sandeep-krishnamurthy commented on #11285
Resolving as it is not reproducible. Please reopen if issue still persist.

[2018-07-20 22:49] #11285 closed

[2018-07-20 22:50] sandeep-krishnamurthy commented on #9167
Resolving as it is not reproducible. Please reopen if issue still persists.

[2018-07-20 22:50] #9167 closed

[2018-07-20 22:50] sandeep-krishnamurthy commented on #8997
Resolving as it is not reproducible. Please reopen if issue still persists.

[2018-07-20 22:50] #8997 closed

[2018-07-20 22:50] #11829 closed

[2018-07-20 22:50] sravanbabuiitm commented on #11829
resolving since its clarified now

[2018-07-20 23:01] roywei commented on #9715
@eric-haibin-lin  could you help to add pending-requester-info label.

[2018-07-20 23:03] nswamy commented on #11843
@apeforest are there tests that can be tested on CI?

[2018-07-20 23:08] nswamy commented on #11842
@rahul003

[2018-07-20 23:12] rahul003 commented on #11842
Hi Ray,
Cifar doesn't lend itself well for fp16 computation.

Nvidia Tensor Cores essentially perform the computation D = A * B + C, where A and B are half precision matrices, while C and D could be either half precision or full precision. The tensor cores are most efficient when dimensions of these matrices are multiples of 8. This means that Tensor Cores can not be used in all cases for fast flo

[2018-07-20 23:14] rahul003 commented on #11842
Please review the performance section of the tutorial you [linked](https://mxnet.incubator.apache.org/faq/float16.html) for more tips on getting good performance when using Fp16.

[2018-07-20 23:17] nswamy commented on #11843
#11841

[2018-07-20 23:34] sandeep-krishnamurthy commented on #11098
Resolving as issue is fixed. Please reopen if you encounter the issue.

[2018-07-20 23:34] #11098 closed

[2018-07-20 23:34] #8869 closed

[2018-07-20 23:34] #8648 closed

[2018-07-20 23:35] #8240 closed

[2018-07-20 23:35] #7428 closed

[2018-07-20 23:44] ShownX commented on #10638
Is it possible to give the pre-trained model link directly on the website as before?
Now I have to write the script and call the function ```get_model_file``` and copy to somewhere.

[2018-07-21 00:44] access2rohit opened #11846 "Bug: quantization Layers seg fault instead of displaying proper error message"
## Description
quantized FC, pooling and convolution layers on native cpu w/o mkl throws segfault, instead of displaying error that it us not supported

## Environment info (Required)
DLAMI (ubuntu16.04) p2.8xlarge

Package used (Python/R/Scala/Julia):
python 3.6

For R user, please provide R `sessionInfo()`:

## Build info (Required if built from source)
mxnet master branch
make -j USE_OPENCV=1 U

[2018-07-21 01:37] nswamy commented on #11815
please ask questions related to MXNet on https://discuss.mxnet.io/ and there is a chinese forum where chinese speaking contributors can help you https://discuss.gluon.ai/.
I will close this question for now

[2018-07-21 01:37] #11815 closed

[2018-07-21 01:42] nswamy commented on #11811
@anirudhacharya please bring up this question on the dev list for a wider audience to know about this.

[2018-07-21 01:49] nswamy commented on #11794
@reminisce feel free to remove the Label Bug and apply the appropriate label after your analysis

[2018-07-21 01:53] nswamy commented on #11842
@OneRaynyDay Please close the issue if this @rahul003 answered your question.

[2018-07-21 01:55] nswamy commented on #11840
@safrooze ? do you know about this, could you please review

[2018-07-21 02:34] CodePlay2016 commented on #11846
I met a similar situation

[2018-07-21 03:06] ddavydenko commented on #11839
I just finished re-runing this test on P2.x8large with 1,000,000 iterations and have not seen single failure (`MXNET_TEST_COUNT=1000000 nosetests --logging-level=DEBUG tests/python/gpu/test_operator_gpu.py:test_spatial_transformer_with_type`).

I wonder whether this could be something related to the CI environment that causes flakyness as I am yet to see this failing, despite running 1M times.

[2018-07-21 05:43] szha commented on #11839
Possibly. Here's a doc that @marcoabreu put together: https://cwiki.apache.org/confluence/display/MXNET/Reproducing+test+results

[2018-07-21 06:36] burness commented on #11763
Hi, @vishaalkapoor  Thanks for your help, I have not convert the jpeg data to png, I just use my own train data to be the voc format to reuse your api, I have test the data read and it maybe not the issue. As you see in pic 1, I have print the image shape and content, I have check the code, and I think it maybe the queue and multithread to cause the hang

[2018-07-21 06:37] burness commented on #11763
@vishaalkapoor  And the train data is acquired by LabelImg

[2018-07-21 06:42] imkow commented on #621
waiting for this...

[2018-07-21 06:49] #9916 closed

[2018-07-21 08:41] maomran commented on #5041
Same problem.
Env:
Linux Ubuntu
Cuda V9.0.176
mxnet 1.2.1 build from source
`nvcc error   : 'cicc' died due to signal 11 (Invalid memory reference)`

[2018-07-21 09:32] marcoabreu commented on #11839
[code]

[2018-07-21 09:41] marcoabreu commented on #11838
Python2 CPU MKLDNN

[code]

[2018-07-21 10:00] marcoabreu commented on #11819
The idea behind not cancelling CI runs when a new commit is being pushed is to give the possibility to triage which commit of the PR broke CI and which one brought it back into a stable state. That way, you're able to see the history of every commit.

But I think we should indeed cancel CI for amended commits since those results are entirely discarded. Thanks for bringing this up!

[2018-07-21 10:32] larroy commented on #11839
@ddavydenko did you try to run the test in docker? using the ci/build.py tool and associated container?  this should provide a very similar environment minus hardware differences. But you can always start the same instance type. The base OS is quite vanilla, just docker and nvidia docker installed.

[2018-07-21 11:15] marcoabreu commented on #11837
![image](https://user-images.githubusercontent.com/18629099/43035030-1c37d22a-8ce8-11e8-9c99-31345eea0bbc.png)

[2018-07-21 12:29] Neutron3529 commented on #11526
@vandanavk
thanks

[2018-07-21 12:29] #11526 closed

[2018-07-21 13:38] akturtle opened #11848 "Gradient changed after group loss with hidden layer as output"
## Description
Gradient changed after group loss with the hidden layer as output

Package used (Python/R/Scala/Julia):

I'm using python
## Minimum reproducible example
[code]

## output
First gradient:
[[ 0.00378404  0.00378404  0.00378404  0.00378404]
 [-0.92399555 -0.92399555 -0.92399555 -0.92399555]
 [ 0.07600445  0.07600445  0.07600445  0.07600445]
 [ 0.07600445  0.07600445  0.07600445  0.076

[2018-07-21 15:14] anirudh2290 commented on #11839
@ddavydenko its failing for NOCUDNN stage. You will have to build with USE_CUDA=ON and USE_CUDNN=OFF.

[2018-07-21 16:50] wgchang opened #11849 "gluon.SymbolBlock cannot imports resnet trained with dtype="float16""
## Description
Cannot load fine-tuned resnet101 (incubator-mxnet/example/image-classification/symbols/resnet.py) with dtype="float16"  with "gluon.SymbolBlock.imports" method.

## Error Message:

AssertionError: Failed loading Parameter 'stage3_unit2_conv2_weight' from saved params: dtype incompatible expected <type 'numpy.float32'> vs saved <type 'numpy.float16'>
## Minimum reproducible example

[2018-07-21 17:04] haojin2 commented on #10588
Fix in #11850

[2018-07-22 05:32] nswamy commented on #11819
IMO, there is no need to continue an existing commit when a new commit arrives and not just amended commits, more over this is for PRs. Following the good practice of creating reasonable sized PRs, author should still be able to find what part of their code broke the CI tests.
Given that many PRs have on ~10-15 commits, it makes sense to cancel and start new. Please prioritize this.

[2018-07-22 07:00] zheng-da commented on #11448
@haojin2 I thought you have fixed its backward storage type inference.

[2018-07-22 07:18] haojin2 commented on #11448
@zheng-da checkout https://github.com/apache/incubator-mxnet/pull/11498/files#diff-f2984a387afd7a02b74fe43b9ef50ee1R214

[2018-07-22 11:05] #8458 closed

[2018-07-22 14:00] #9050 closed

[2018-07-22 20:13] haojin2 commented on #10588
Fix merged, please check that out and close the issue when you think it's okay. @anirudhacharya

[2018-07-22 20:58] haojin2 commented on #11403
@leezu I can verify the fix through a simple example:
[code]
@rahul003 Do you think leo's fix would solve the issue?

[2018-07-22 21:02] rahul003 commented on #11403
Yeah, I think we can close this.

[2018-07-22 21:02] #11403 closed

[2018-07-22 21:03] haojin2 commented on #11403
@leezu Thanks for the fix!

[2018-07-22 21:40] #10588 closed

[2018-07-22 23:30] anirudhacharya commented on #10588
@haojin2 thanks for the fix.

[2018-07-23 01:09] haojin2 commented on #11837
Fix in #11852

[2018-07-23 01:14] haojin2 commented on #11809
Seems like this is a problem with the tolerance, would you please disable the test first? @anirudh2290

[2018-07-23 07:22] marvis opened #11853 "gluon forward produce random results"
Hi,

I would like to get all the forward outputs with the following scripts. However I find the results is different every time. The inputs and model params are the same, but get different outputs. It is very strange. Can you help me to figure out this problem?

Best,

[code]

[2018-07-23 09:55] Hui-Li commented on #3445
Any updates about this? I am transferring some algorithms from keras to mxnet and need to specify regularization for each layer.

[2018-07-23 10:03] leviswind commented on #6874
This error is still reproducible on 1.3.0.

[2018-07-23 11:38] jacky4323 opened #11854 ""mxnet::op::ConvolutionParam::ConvolutionParam" matches the argument list"
I have some customize layers,and these 7 months, I didn't update mxnet pakage,for some reson I update and build from source using cmake , and there are some errors below, maybe some change of mxnet::op::ConvolutionParam::ConvolutionParam , how to modified it ?

part of code
![image](https://user-images.githubusercontent.com/31586393/43074413-b795628c-8eaf-11e8-8cce-51b2dd804a7b.png)

build from so

[2018-07-23 12:58] qiuzhongwei-USTB commented on #9937
good issue!

[2018-07-23 13:13] absalama opened #11855 "Distributed learning with Async update does not work."
Hi All,

I am running currently distributed learning using the **launch.py** tool. My plan is to run the distributed learning by using Sync and Async distributed modes. For the Sync PS, the training works fine and I got the number. However, when I switch the kvstore type to "dist_async", the following error shows up:

`terminate called after throwing an instance of 'dmlc::Error'
  what():  [11:58:

[2018-07-23 17:43] anirudhacharya commented on #11822
@mdtdev you said "... this was discovered in a workshop and problems showed ...".

I would like to hear more of your use-case for using this R-package. Could you please leave a note at anirudhkrec [at] gmail.com and i will follow up.

[2018-07-23 17:43] apeforest commented on #9067
I could reproduce this error using the following example from #8799. I will work on this issue.

[code]

[2018-07-23 17:44] ddavydenko commented on #11839
Thanks, @anirudh2290, I built with USE_CUDNN=0 and indeed I got this test consistently failing with such MXNet build. I checked on the CI pipeline and this test seems to be failing under "Python3: MKLDNN-GPU-NOCUDNN". I don't know right now what CUDNN has that makes this test work and makes it fail when there is no CUDNN support in MXNet. In the meantime I have a question: does it make sense to re

[2018-07-23 17:47] wang-qun-sen opened #11857 "mxnet how to concat the input data and output features to the train_iter"
i need to create a network using mxnet, which i need the train_iter to includ the input original data and output feature of middle layer . the input original data is MNIST, the middle layer is RELU.
what i mean is that i let the output feature also to be part of the "input" trian data.

[2018-07-23 17:57] anirudhacharya commented on #11811
@nswamy Sure I can bring this up on the dev list but I would prefer to keep this issue open. Can you please reopen it?

[2018-07-23 18:15] hetong007 commented on #11853
One shorter piece of code without gluoncv to reproduce the issue:

[code]

On some certain machines the output is stable (not reproducing the issue), while on some others the output are changing. Not sure what's the cause yet.

[2018-07-23 18:46] #11620 closed

[2018-07-23 18:48] sandeep-krishnamurthy commented on #8794
Closing in favor of https://github.com/apache/incubator-mxnet/issues/6333,  please feel free to reopen in case of issue.

[2018-07-23 18:48] #8794 closed

[2018-07-23 18:53] apeforest commented on #8799
I am working on this issue together with #9067

[2018-07-23 19:11] vishaalkapoor commented on #11763
Hi @burness,
Are you able to repro the issue with a minimal example and post a list of instructions that I could follow including pointers to files to download? Perhaps an example involving one or two images? It will be difficult for me to repro otherwise. Many thanks!
Vishaal

[2018-07-23 20:08] rahul003 commented on #11855
Are you using Gluon? You would have to pass update_on_kvstore=True to trainer if you want to do async updates in Gluon.

[2018-07-23 20:09] eziolotta opened #11859 "error in bind model after load checkpoint in example named_entity_recognition"
I tried the implementation of named entity recognition in MXNet example:
 https://github.com/apache/incubator-mxnet/tree/master/example/named_entity_recognition

After the train process, i reopen the model saved in the checkpoint file (to be able to do a prediction on new data)

[code]

    But when execute model bind i have this error:

	****************************************************
	 File

[2018-07-23 20:40] haojin2 commented on #8202
@starimpact Seems like this issue has been fixed, here's an example that I ran on the current master:
[code]
If you have further questions or concerns regarding this operator please feel free to raise that, thanks!

[2018-07-23 22:53] sandeep-krishnamurthy commented on #7982
Please see here for an example of using MXNet on Lambda - https://aws.amazon.com/blogs/compute/seamlessly-scale-predictions-with-aws-lambda-and-mxnet/

Resolving. Please reopen if you still encounter any issue

[2018-07-23 22:53] #7982 closed

[2018-07-23 22:54] sandeep-krishnamurthy commented on #8040
Resolving due to pending inactivity. Please reopen if the issue still persists.

[2018-07-23 22:54] #8040 closed

[2018-07-23 22:57] sandeep-krishnamurthy commented on #8157
Resolving due to lack of inactivity. Please use discuss forum for how-to questions. Please reopen the issue, if you still encounter the issue.

[2018-07-23 22:57] #8157 closed

[2018-07-24 00:02] access2rohit commented on #11846
JIRA link: https://issues.apache.org/jira/browse/MXNET-693

[2018-07-24 00:08] szha opened #11865 "attach_grad of intermediate variables causes the gradient graph to be lost"
[code]

[2018-07-24 00:41] haojin2 commented on #11854
@jacky4323 Just want to confirm, did you not have problem in 1.0.0 and now having the problem when you switch to the latest master?

[2018-07-24 00:56] zheng-da opened #11867 "we need to update the doc of scatter_nd and gather_nd"
[scatter_nd](http://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.scatter_nd) and [gather_nd](http://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.gather_nd) in MXNet are similar to the ones in TensorFlow. But the current documentation is difficult to understand. We need to update the document.

[2018-07-24 01:43] #11568 closed

[2018-07-24 02:03] starimpact commented on #8202
after more than half year, eventually.....

[2018-07-24 02:54] ZhennanQin commented on #11804
@safrooze Thanks for reporting this. We confirmed this is a bug in mkldnn, and will fix this in future. considering input > 88 is a corner case in most of models, most users shouldn't face this problem when using soft_relu with mkldnn. If you're having trouble with this on a certain model, please let us know.

[2018-07-24 03:48] StatML opened #11868 "nnpack_fully_connected-inl.h:45:55: error: expected template-name before ‘<’ token > class NNPACKFullyConnectedOp : public FullyConnectedOp<xpu, DType> { > ^"
## Description

C++ Syntax Error occurs when building from source

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):  Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc 5.4

MXNet commit hash:
74d669293f68cf7e9325dcedc569164f3d7cfa90

Build config:
ifndef CC
export CC = gcc
endif
ifndef CXX
export CXX = g++
endif
ifndef N

[2018-07-24 04:30] haojin2 commented on #8202
@starimpact My apologies about that on behalf of the team! Hope that you're still using MXNet as your DL framework. Your issue should be fixed by some earlier PRs, but we somehow failed to link the improvement to your issue.

[2018-07-24 07:48] absalama commented on #11855
@rahul003

yes I am using Gluon. The trainer is ImageClassification, would it work if export  update_on_kvstore=True?

[2018-07-24 10:16] knwng opened #11870 "error when add RandomCropAug into aug_list during initialization of ImageIter"
Hi, I think there's a bug when you want to apply random cropping in ImageIter in python as follows:

since the shape of each batch is set in advance(image/image.py, line 1186-1187):

in image/image.py, line 1201, the processed image is directly assigned back to batch_data:

Since the shapes of batch_data and the cropped image are different if you apply random cropping, the cropped image cannot be

[2018-07-24 12:06] knwng commented on #11870
the ForceResizeAug augmenter also cannot be used directly in ImageIter, since it'll also change the size of image

[2018-07-24 14:57] slitsey commented on #11016
@apeforest  Looks great; thanks for the work on this!

[2018-07-24 16:12] szha commented on #11843
@pracheer

[2018-07-24 17:05] sbodenstein opened #11871 "Proposal: Generalize broadcast_like"
Now that `broadcast_like` has been merged (#11820), I would like to discuss the extension discussed [here](https://github.com/apache/incubator-mxnet/pull/11820#issuecomment-406445064) by @taliesinb. Quoting it:

I would like to open this design up for discussion.

@ifeherva

[2018-07-24 17:21] apeforest commented on #11841
Created a [JIRA](https://issues.apache.org/jira/browse/MXNET-707) ticket to track this issue. I will work on it.

[2018-07-24 17:21] apeforest commented on #11843
Created a [JIRA](https://issues.apache.org/jira/browse/MXNET-708) ticket to track this issue.

[2018-07-24 17:30] miteshyh opened #11872 ""socket.error: [Errno 111] Connection refused" while training with multiple workers"
Hi,
I am getting following error after few data iteration @ 551/22210:
File "train.py", line 201, in
trainer.training(epoch)
File "train.py", line 142, in training
for i, (data, target) in enumerate(tbar):
File "/usr/local/lib/python2.7/dist-packages/tqdm/_tqdm.py", line 930, in iter
for obj in iterable:
File "/usr/local/lib/python2.7/dist-packages/mxnet/gluon/data/dataloader.py", line 222, in nex

[2018-07-24 17:45] sriharikarnam commented on #6257
@zhreshold
![mxnet_upstream](https://user-images.githubusercontent.com/25496668/43156216-2621d5ea-8f97-11e8-8ac2-7467b7f35b0e.png)

please find below changes to retain legacy build system with USE_CUDA.

**1) Build system changes:**
USE_CUDA will be used to enable/disable CUDA and HIP
USE_NATIVE And USE_HIP will be use to switch between Native MXNet and HIP port.

**2) Deep Learning accelerated li

[2018-07-24 19:03] srochel commented on #11638
How critical is this issue and what is the use case (beside the test attached)?

[2018-07-24 19:04] srochel commented on #11603
What is the right way to fix the warnings?

[2018-07-24 19:12] nswamy commented on #11603
The warnings that are mentioned are fixed with the PR referenced.
There are still some warnings(tech debt) due to the fact that the dependencies use different versions Scala library. We haven't found a way to use Scala 2.11.x in maven. One approach could be update the Scala version to 2.12(needs careful thought to see if it breaks compatibility). I think that can be taken as a separate issue.

[2018-07-24 19:45] vandanavk commented on #8355
PR created https://github.com/dmlc/dmlc-core/pull/437

[2018-07-24 19:53] vandanavk commented on #9743
@qingzhouzhen Can this issue be closed now since https://github.com/apache/incubator-mxnet/pull/11426 has been merged?

[2018-07-24 19:59] zhreshold commented on #11872
This is related to recent change that we switched from shared memory to file descriptor on linux for inter-processing communication.  Still investigating solutions for that.
Of course we can add an option to enable either way as fallback solution.

[2018-07-24 20:21] ifeherva commented on #11871
Sounds reasonable to me.

[2018-07-24 20:57] lanking520 commented on #11060
@nswamy @liuzx32 I have updated the link, I think this issue can be closed now.

[2018-07-24 21:01] lanking520 commented on #11618
@nswamy Problem addressed, shall we close this?

[2018-07-24 21:22] #11060 closed

[2018-07-24 21:36] eric-haibin-lin commented on #11638
- In general the kvstore/optimizer API are broken because the shape of the NDArray on the server side is changed. This mean any optimizer that relies on the shape of the inputs (like FTRL, or any custom optimizer whose update depends on the shape).
- On the other hand, this bug aborts the program when the shape is flatten to 1-D for large inputs, when the total number of elements is several billio

[2018-07-24 21:37] sandeep-krishnamurthy commented on #11870
@vandanavk

[2018-07-24 21:45] sandeep-krishnamurthy commented on #11868
@StatML - Thanks for submitting the issue. On which OS are you trying to build? Did you follow instructions for building MXNet from source here - http://mxnet.incubator.apache.org/install/index.html?platform=Linux&language=Python&processor=GPU

I tried on mac and ubuntu and it works.

Also, just to make sure you cloned recursively right?
`git clone --recursive https://github.com/apache/incubator-m

[2018-07-24 22:00] andrewfayres commented on #10438
I've been looking into this bug. It seems to occur whenever the upgradeJSON stage encounters the same customer operator 3 times. In your case it happens because you're reloading the same model but it can also occur if the operator is in the same model 3 times.

Best I can tell there isn't actually anything to be done in opPropDel. Obviously deregistering the operator isn't correct and there doesn'

[2018-07-24 23:05] vandanavk commented on #8355
@xcgoner
The change has been merged. Please verify if this issue can be closed. Thanks.
@marcoabreu

[2018-07-24 23:08] #8355 closed

[2018-07-24 23:20] KellenSunderland commented on #11853
The differing results on differing machines makes me think it might be an auto-tuning issue.  To rule it out could you turn off auto-tuning and see if you still get nondeterministic behaviour?

[code]

[2018-07-24 23:35] apeforest commented on #11841
As displayed in the error message "Exception: Model prediction is only supported on macOS version 10.13 or later.", the tests convert MXNet models into CoreML models and use CoreML to predict. This prediction is not supported on Mac OS 10.12.

I have disabled the prediction and tests will pass.

[2018-07-24 23:37] #10334 closed

[2018-07-24 23:57] #11176 closed

[2018-07-25 00:00] haojin2 commented on #11714
Working on this.

[2018-07-25 00:01] haojin2 commented on #11156
Taking a look at it now

[2018-07-25 00:04] nswamy commented on #11193
#11862 fixes the issue

[2018-07-25 00:05] nswamy commented on #11193
#11862

[2018-07-25 00:05] #11193 closed

[2018-07-25 00:05] szha commented on #11853
@KellenSunderland this is CPU-only.

[2018-07-25 00:08] KellenSunderland commented on #11853
@szha Ahh, good point.  Thanks.

[2018-07-25 00:15] nswamy opened #11878 "[MXNet-Scala] Update DataBatch, DataIter/MXNDIterator, NDArrayIterator to take DataDesc of data and labels."
Current Iterators do not take the layout and Shape information of both data and labels, this is essential to support Networks which take input with different layouts such as 'NTC' or 'TNC'.

[2018-07-25 00:16] #11775 closed

[2018-07-25 00:17] nswamy commented on #11878
#11775

[2018-07-25 00:18] #11618 closed

[2018-07-25 00:20] nswamy opened #11879 "[MXNet-Scala] Scala Build produces warnings."
Scala has many warnings due to different dependencies requiring different versions of Scala such as the below. One option is to consider using Scala 2.12(needs analysis if it breaks compatibility.

[code]

[2018-07-25 00:21] nswamy commented on #11603
closing in favor of https://github.com/apache/incubator-mxnet/issues/11879

[2018-07-25 00:21] #11603 closed

[2018-07-25 00:31] nswamy commented on #1591
@yzhliu can we close this, since we have a Windows Support issue already #10549

If you had some thoughts and JNI code needs to refactored/fixed can you please create a new issue.

[2018-07-25 00:32] nswamy commented on #11797
@lanking520 we need to add retry around the downloadUrl method.

[2018-07-25 01:00] hetong007 commented on #11853
Some more information:

It can be easily reproduced on a p3.16xlarge instance with Deep Learning Base AMI (Ubuntu) Version 8.0 - ami-c83d62b0. The followings are based on this configuration:

- pip version with CU90: `mxnet-cu90=1.3.0b20180706` and later versions are buggy, while `mxnet-cu90=1.3.0b20180703` and ealier are deterministic (10,000 repeat). @KellenSunderland the environmental variable

[2018-07-25 01:54] haroldyang977 commented on #11663
Sorry for bothering.
After I re-install the MXNet by pip as usual, and update to MXNet 1.2.1. Somehow the problem seems solved.

[2018-07-25 01:54] #11663 closed

[2018-07-25 03:46] adaaaaaa commented on #11610
@yajiedesign  tons of DLL?
![default](https://user-images.githubusercontent.com/23206387/43178484-508deada-9000-11e8-82fc-c47269ba18cd.png)

[2018-07-25 03:59] marvis commented on #11853
Ubuntu 16.04.3 LTS
Python 2.7.12 :: Anaconda custom (64-bit)
pip install mxnet

'1.2.1'

Thanks,

[2018-07-25 04:11] iamweiweishi opened #11880 "How to compile the old version, like 0.7.0, from source file?"
I downloaded the source file incubator-mxnet-0.7.0.zip from https://github.com/apache/incubator-mxnet/tags?after=v0.10.0.
But the source file is not complete. Some key files are missing. And some errors come up:
/root/incubator-mxnet/dmlc-core/make/dmlc.mk: No such file or directory

The 'git clone -recursive ' command downloads the latest version mxnet.
So, any suggestions?

[2018-07-25 05:55] anirudh2290 commented on #10973
@lupesko I am waiting for Nvidia folks to comment on the related PR: #11630

[2018-07-25 06:34] sampathchanda commented on #4217
@zhreshold Is there an update on this one yet ?

[2018-07-25 07:10] #8004 closed

[2018-07-25 07:11] #11581 closed

[2018-07-25 07:11] #11284 closed

[2018-07-25 07:13] #9941 closed

[2018-07-25 07:30] universewill opened #11881 "what is the accuray of imagenet-11k--place365-challenge mean?"
I read the doc here:
https://github.com/apache/incubator-mxnet/tree/master/example/image-classification#imagenet-11k--place365-challenge

Is the model accuray is caculated with the imaget11k and place365 365 classes? Or only calculated with imaget11k classes?

[2018-07-25 07:39] chinakook commented on #11853
Does the ```net(image)``` has some parameters like for_training?
It may caused by Dropout or Batchnorm layers which are varying in training forward.

[2018-07-25 07:44] chinakook commented on #11835
Does MinGW has CUDA support?

[2018-07-25 09:24] starimpact commented on #8202
emmmm.....
swapaxis operator is written by me in 2015.
hahahah....

[2018-07-25 10:18] marcoabreu commented on #11120
Did you remove the thread.sleep you introduced to work around this error?

The environment is the regular CI pipeline.

I'll leave it up to you, Thomas.

[2018-07-25 10:24] marcoabreu commented on #11290
Hello @access2rohit , the instructions to recreate the setup are available at https://cwiki.apache.org/confluence/display/MXNET/Reproducing+test+results

[2018-07-25 12:03] rayjs opened #11882 "mxnet.ndarray.ndarray.NDArray to numpy"
Hi,
I had a training script that was working fine until mxnet v0.9. I upgraded recently to v1.2.

The old script isnt working anymore:

Script:
[code]
Output:
[code]

For line 4 i get the following error:

[code]

[2018-07-25 15:13] sandeep-krishnamurthy commented on #11882
@rayjs - Can you please provide a minimum reproducible code that you used prepare preds/labels.
Are you running on a cpu/gpu?

I created a NDArray and tried to convert to Numpy and trained a model, predict and convert prediction to numpy and it worked.

[2018-07-25 15:15] sandeep-krishnamurthy commented on #11881
Hi @universewill For questions, you can use MXNet discuss forum - https://discuss.mxnet.io/ where there are more people who can answer your query. We want to use Github issues mainly for bugs and feature request.

Closing the issue here. Please reopen if you are finding any issues.

[2018-07-25 15:15] #11881 closed

[2018-07-25 15:19] sandeep-krishnamurthy commented on #11880
Hello @iamweiweishi  - I am curious to understand why such an old version of MXNet is required and are there any issues you are facing with latest version?

After clone the latest, you can get the commit hash of v0.7 that you are interested in and do git reset hard to go back to that commit. If you don't find submodules, please do the same for all submodules. Note that currently all submodules are

[2018-07-25 15:31] adrianloy commented on #8959
I think it has to do with the parameters of mx.sym.Correlation(), have a look here https://github.com/apache/incubator-mxnet/issues/9034#issuecomment-404578327

[2018-07-25 16:21] kjchalup opened #11883 "ImageIter last batch / batch padding behavior"
## Description
mxnet.image.ImageIter lacks a way to choose behavior on last batch (when batch size doesn't divide the size of the dataset). In contrast, [mxnet.io.NDArrayIter](https://mxnet.incubator.apache.org/api/python/io/io.html#mxnet.io.NDArrayIter) has a `last_batch_handle` keyword arg which allows the user to choose what to do.

This can lead to unexpected behavior:

[code]

output:
[code]

[2018-07-25 16:50] kjchalup opened #11884 "im2rec documentation is lacking / buggy"
[im2rec.py](https://github.com/apache/incubator-mxnet/blob/master/tools/im2rec.py) doesn't have docstrings. The online doc that describes the RecordIO format ([here](https://mxnet.incubator.apache.org/architecture/note_data_loading.html)) doesn't describe how to use the script. [Another page](https://mxnet.incubator.apache.org/faq/recordio.html) does, but it could really use a full-fledged real-wo

[2018-07-25 16:58] ThomasDelteil commented on #11120
The sleep is still there and I think it is necessary. It doesn't bring much extra delay. 30s on a 30min test run, that 1.6% extra delay, which is acceptable.

I would close it, thanks.

[2018-07-25 17:30] ThomasDelteil commented on #11120
there is a hardcoded 1000ms linger on the socket in the base code of Jupyter, which I believe is the root cause of the problem.

We can fork jupyter or monkey patch it but I think the better trade-off with performance and maintainability is the sleep.

[2018-07-25 17:36] marcoabreu commented on #11120
Okay, that makes sense. Please note that even with the increased delay we sometimes experienced this error.

For reproducing, please run multiple instances of the tests in parallel to see if the error occurs.

We can easily increase the delay to more than a second if that fixes the problem.

[2018-07-25 17:56] rondogency commented on #11871
@sbodenstein I was working on broadcast_like briefly a few weeks ago (#11443 ). This specs looks very reasonable. I am just wondering if you would be comfortable that I work on top of @ifeherva new broadcast_like, and generalize it as discussed above?

[2018-07-25 18:13] sergeykolychev commented on #11835
@chinakook
No, it does not at this time (nvidia only supports gcc on Linux).
However we do support compiling mxnet on MacOS (which usually does not have CUDA enabled devices) via gcc.
The reason I asked is that current Perl distributions all have Perl on Windows compiled via https://mingw-w64.org/doku.php
If MXNet is able to compile via MinGW 64 on Windows then I should be able to have Perl API to

[2018-07-25 18:20] sbodenstein commented on #11871
@rondogency: @ifeherva had also expressed interest to implement it, but whoever has more time this week should probably do it (we need it for next Monday, so I would add it neither of you has time this week).

[2018-07-25 19:19] ThomasDelteil commented on #11120
To clarofy: I had first put a 0.5s delay as a wild guess when we still had the error, I only then found out about the 1000ms socket linger, increased delay to 1.1s but the test was disabled already at that point. access2rohit tested that version and didn't reproduce the bug.

[2018-07-25 20:12] haojin2 commented on #11680
@sergeykolychev Seems like `test_dynamic` is failing again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11886/1/pipeline/865.

[2018-07-25 20:16] rondogency commented on #11871
I see. I won't be available for it until Saturday. If you need it by Monday, I may not be able to make it on time. Sorry for the inconvenience.

[2018-07-25 20:42] vandanavk commented on #8270
Are there any specific advantages that flake8 has over pylint?
pylint has equivalent messages such as 'undefined-variable' (equivalent to F281). So just wondering if it would be easier to add more options to pylintrc and include in the existing build process.

[2018-07-25 20:43] haojin2 commented on #8202
@starimpact lol, would you mind closing the issue as the bug seems to be solved already? Thanks!

[2018-07-25 20:46] haojin2 commented on #11867
Working on this.

[2018-07-25 20:50] eric-haibin-lin commented on #11811
answered in https://lists.apache.org/thread.html/1e80983b9e78b88dc5e5d83edadc0f86b9e368702b954ce05d212e3c@%3Cdev.mxnet.apache.org%3E

[2018-07-25 20:51] cclauss commented on #8270
flake8 will find _undefined names_ that pylint will not because flake8 makes an abstract syntax tree for each Python file and plyint does not.  This also explains why flake8 gives different results in Python 2 and Python 3 (the have different ASTs while pylint does not.

Take running code like __isinstance(unicode('Hello'), basestring)__ through pylint on Python 2 and Python 3 and see if there are

[2018-07-25 20:51] sergeykolychev commented on #11680
I'll take a look.

On Wed, Jul 25, 2018, 13:12 Hao Jin <notifications@github.com> wrote:

[2018-07-25 20:59] cclauss commented on #8270
I take it back...  You are right.

PyLint is now able to find undefined names.

$ __python3 -m pylint *.py__
[code]

[2018-07-25 21:05] ThomasDelteil commented on #11120
See https://github.com/apache/incubator-mxnet/pull/11170/files

[2018-07-25 21:06] #8202 closed

[2018-07-25 21:08] haojin2 commented on #11314
@leezu Fix is merged, please close the issue when you feel comfortable to do so. Thanks!

[2018-07-25 21:09] marcoabreu commented on #11120
Great, thanks a lot for the link Thomas!

Can we bring the tutorial tests into nightly and then close this issue?

[2018-07-25 21:22] haojin2 commented on #11714
Fix in #11888

[2018-07-25 21:39] elofgren opened #11890 "Error During Make - undefined reference"
Trying to install the mxnet library on Scientific Linux 7. I've changed the flag in mshadow/make/mshadow.mk to use -lsatlas.

This has allowed the installation to progress considerably further, but it still ends with a 1 exit status. The error I'm getting now is below:

Any idea what's generating this, or how to fix it?

Below are the results of diagnose.py, for reference:

----------Python Info--

[2018-07-25 21:51] toddsundsted commented on #11398
the linked PR was merged, so I am going to close this issue.

[2018-07-25 21:51] #11398 closed

[2018-07-25 22:18] vandanavk commented on #9271
is there a fix for this issue? would be great to verify it against https://github.com/apache/incubator-mxnet/issues/8921 too.

[2018-07-25 22:21] #11811 closed

[2018-07-25 22:47] zhreshold opened #11891 "CPU worker using more threads than expected/wanted"
## Description
During gluon multi worker training we want to keep each pre-fetch worker taking single thread to avoid thread contention problem. But I figured out it is impossible for me to control that through environment variable.

## Environment info (Required)
Pip install mxnet-cu90==1.3.0b20180717

Package used (Python/R/Scala/Julia):
python

## Minimum reproducible example
[code]

## Steps t

[2018-07-25 22:53] access2rohit commented on #11290
@marcoabreu I already tested it using the steps given in the document you mentioned 70k times
Command:
MXNET_TEST_COUNT=70000 nosetests --logging-level=DEBUG --verbose -s /home/ubuntu/mxnet/tests/python/gpu/test_operator_gpu.py:test_scatter_gather_nd

using p2.8xLarge instance and I still cannot reproduce the issue.

[2018-07-25 23:01] marcoabreu commented on #11290
To me it looks like you are running on your local environment instead of docker as described in the guide. I don't think it will make much of a difference, but it could be possible that a dependency we use is causing the problems. We experienced that a few times in the past. Would you mind trying that out just to be sure?

[2018-07-25 23:03] ThomasDelteil commented on #11120
Sure, it's in the works by @vishaalkapoor

[2018-07-26 01:06] chinakook commented on #11835
Aha

[2018-07-26 01:53] haojin2 commented on #10709
Fix merged, should be good for closing?

[2018-07-26 01:55] #10709 closed

[2018-07-26 03:19] solin319 opened #11894 "MXIndexedRecordIO can't use with s3 path"
1. In open function, we can't open a s3 file by 'self.fidx = open(self.idx_path, self.flag)'.
2. In write_idx function, we can't use tell, because s3 WriteStream can't cast to SeekStream.

[2018-07-26 03:42] zdaxie commented on #11777
Is there any solutions for this issue so far?  The former version of mxnet works fine in synchronization and accuracy, only the last epoch part still got stuck.

[2018-07-26 03:54] whl33886 opened #11895 "gradcam.py have a bug"
## Error Message:
conv_out should be multiplied by the average of the conv_out_grad in the reference paper. but conv_out be multiplied by the average of the imggrad in your gradcam.py.

## What have you tried to solve it?

def get_cam(conv_out_grad, conv_out):
    """Compute CAM. Refer section 3 of https://arxiv.org/abs/1610.02391 for details"""
    weights = np.mean(conv_out_grad, axis=(1, 2))

[2018-07-26 04:01] reminisce commented on #11794
@CodePlay2016 Sorry for the late reply. Can you just attach the .json file here? Baidu drive is very slow and I have difficulty in downloading 266MB file from there.

[2018-07-26 04:19] leezu commented on #11314
Thanks @haojin2 . I was forcing the use of the AddTakeGrad for the past month and confirm that it solves the issue. Now that everyone agreed to make this the default behavior the issue can be closed.

[2018-07-26 04:33] #8405 closed

[2018-07-26 04:36] haojin2 commented on #11714
@szha the fix has been merged and I think this one's good to close.

[2018-07-26 04:37] haojin2 commented on #11717
Working on this

[2018-07-26 05:12] marvis commented on #11853
Not sure

see the network below,
[code]

[2018-07-26 05:18] sharmalakshay93 commented on #11635
@alireza202 not fully sure what you mean by "concatenate an empty tensor with another tensor". Using the `a` and `b`above as an example case, could you paste that output that you're looking to get?

[2018-07-26 06:02] #11714 closed

[2018-07-26 07:46] zheng-da opened #11896 "subgraph TODO"
Subgraph was proposed as a general mechanism for integrating many different backends.
https://cwiki.apache.org/confluence/display/MXNET/Unified+integration+with+external+acceleration+libraries

As the project progresses, we get more people joined for the project. To have better collaboration, we like to maintain a TODO list here for better collaboration. As we get more tasks for this project, we'l

[2018-07-26 08:22] CodePlay2016 commented on #11794
@reminisce So i attach the symbol file before and after quantization here. Because the upload size limit, i just couldn't upload the .params file.
[model_symbol_quantized.zip](https://github.com/apache/incubator-mxnet/files/2230519/model_symbol_quantized.zip)
[model_symbol-symbol.zip](https://github.com/apache/incubator-mxnet/files/2230515/model_symbol-symbol.zip)

[2018-07-26 10:03] lmmcc opened #11897 "why fixed_param_names in module have no use"
i want to fixed all the layer's parameter  befor 'fc7'layer,and i change the code like this:

`name_list=[name for name in sym.list_arguments() if 'fc7' not in name]
    print(name_list)
    #label_name = 'softmax_label'
    #label_shape = (args.batch_size,)
    model = mx.mod.Module(
        context       = ctx,
        symbol        = sym,
        #fixed_param_names=name_list
    )`
but when i r

[2018-07-26 12:39] pengzhao-intel commented on #11896
Thanks, @zheng-da , the subgraph will be a unified interface between different implementations and make the whole architecture very clear.

We're very happy to co-work together to accelerate the progress :) And MKL-DNN would be the first backend with this wonderful bridge 🥇

[2018-07-26 13:55] wkcn commented on #11897
I think you can try to fix the layers' parameters before 'fc7' layer.
fc7 = sym.get_internals()['fc7_output']
name_list = fc7.list_arguments()

[2018-07-26 15:05] wywywy01 opened #11898 "When does the OperatorPropertyReg was Registered ?"
Sorry to trouble you.  I found when the code  import symbol was run ,  there was a "
 check_call(_LIB.MXListAllOpNames(ctypes.byref(size),ctypes.byref(plist)))" in "\mxnet\base.py L553" ,i want to know when the OperatorPropertyReg was Registered.

[2018-07-26 15:23] sandeep-krishnamurthy commented on #11853
I have concerns about BatchNorm layer with "fix_gamma=False" parameter. From another issue that I am looking at - https://github.com/apache/incubator-mxnet/issues/11774 says BatchNorm layer cannot ignore "beta", may be something related to gamma parameter as well. But, I will experiment and come back with my findings.

[2018-07-26 15:42] sandeep-krishnamurthy commented on #11883
Thanks for reporting. Added to the backlog items we are working on - https://issues.apache.org/jira/browse/MXNET-737

[2018-07-26 15:48] sandeep-krishnamurthy commented on #11890
Hello @elofgren - Have you installed OpenCV?

[2018-07-26 15:57] elofgren commented on #11890
Yes, via `sudo yum install opencv-devel`

[2018-07-26 16:05] sandeep-krishnamurthy commented on #11895
@indhub - Can you please take a look at this?

[2018-07-26 16:15] sandeep-krishnamurthy commented on #11897
@lmmcc Thanks for using MXNet. For how to and usability questions, you can use MXNet discuss forum - https://discuss.mxnet.io/ where there are more people who can answer your query. We want to use Github issues mainly for bugs and feature request.

Closing the issue here. Please reopen if you are finding any issues.

[2018-07-26 16:15] #11897 closed

[2018-07-26 16:24] aaronmarkham commented on #11839
This same test caused my PR to fail CI yesterday: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11892/1/pipeline

[2018-07-26 16:29] eric-haibin-lin opened #11899 "non-deterministic backward of scatter_nd"
For [scatter_nd](https://mxnet.incubator.apache.org/versions/master/api/python/ndarray/ndarray.html?highlight=logis#mxnet.ndarray.scatter_nd), it uses atomic add on GPU, thus
[code]
This should be fixed.

[2018-07-26 16:46] haojin2 commented on #11717
fix in #11900

[2018-07-26 16:50] mbrookhart commented on #11896
@zheng-da I think all we need for nGraph are
[code]
We'll review internally and try to assign an Engineer to those items.

[2018-07-26 16:59] rayjs commented on #11882
Not sure what was the issue: switched to 0.12.0 and the old code is working. Closing

[2018-07-26 16:59] #11882 closed

[2018-07-26 17:22] haojin2 commented on #10988
@larroy Please take a look at my comments on how the test could fail without a sync.

[2018-07-26 18:05] haojin2 commented on #11899
I can probably take a look at this as I've tackled the same problem with `take` operator.

[2018-07-26 18:08] apeforest commented on #11016
@slitsey It would be great if you could share with me how you used this feature in reinforcement training. I am curious to learn and think it will be very helpful to other users who are not aware of this feature. A few lines of code or a pointer to your repo will be great. Thanks a lot in advance!

[2018-07-26 18:11] Roshrini commented on #8638
@vatsal2020 Its been a long but by any chance do you know if this error occur in recent versions too?

[2018-07-26 18:42] zhreshold commented on #11891
It's not gluon related so I switched the labels.

[2018-07-26 18:46] vatsal2020 commented on #8638
I haven't tried running it on any later versions after mxnet 1.12.0 since I was afraid of running into further errors

[2018-07-26 19:11] hetong007 commented on #11853
It is likely to be related to OpenBLAS.
- Testing with package built from source cannot reproduce the issue, which is openblas `0.2.20`.
- The latest pip package updated openblas to `0.3.1` and it reproduces the issue.
- Package built mxnet from source with OpenBLAS `0.3.1` and `0.3.0` also reproduces the issue.
- All above versions don't reproduce the issue on GPU context.

OpenBLAS 0.3.1 seems t

[2018-07-26 19:41] sad- commented on #8930
@sandeep-krishnamurthy could you close this issue if it's been addressed? thanks

[2018-07-26 19:44] sad- commented on #8636
@eric-haibin-lin looks like this issue has been addressed with the pr. could you close the issue

[2018-07-26 19:46] sad- commented on #8490
@eric-haibin-lin this is no longer the case. could we close out this issue? thanks

[2018-07-26 19:47] #8930 closed

[2018-07-26 20:00] zhreshold commented on #11872
Temporary solutions:

1. Increase shared memory if it's too small, you can use `df -h /dev/shm` to check the shared memory size and usage: edit `/etc/sysctl.conf`, add a line or edit `add a line kernel.shmmax = 4,294,967,296` for example to use maximum 4G shared mem.
2. Reduce `num_workers`, if you set `num_workers = 0`, no multiprocess worker will be used, but it's slower.

[2018-07-26 20:13] szha commented on #11853
Indeed, mxnet 1.2.1 pip was released with openblas 0.3.1. Based on this info I will issue a post release update and revert openblas to the previous known stable version 0.2.20.

[2018-07-26 21:02] nswamy opened #11901 "Improve C++ Examples"
## Description
I see that the C++ Examples need some rework. Running Current CPP_Package Lenet Example shows the accuracy is not improving. The network architecture needs to be revisited to improve the accuracy. Logging/Documentation/etc., needs to be improved as well for all the CPP Package Examples.

There are also several other issues with Lenet example(other examples might also be the same) :

[2018-07-26 21:33] Roshrini commented on #8638
@vatsal2020 Can you provide me sample code to reproduce this issue? I didn't encounter it before.

[2018-07-26 21:41] sad- commented on #10328
@indhub could you kindly close out this issue as it has been addressed?

[2018-07-26 21:48] sad- commented on #9693
@sandeep-krishnamurthy could you kindly close out this issue? thanks

[2018-07-26 22:08] chsin commented on #11458
I have the same issue where its hanging at https://github.com/apache/incubator-mxnet/blob/v1.2.0/src/engine/threaded_engine.cc#L395. I'm using v1.2.0, any fixes or updates?

[2018-07-26 22:13] zheng-da commented on #11896
@azai91

[2018-07-26 22:13] #9693 closed

[2018-07-26 22:33] vandanavk opened #11904 "47 undefined variable errors with Pylint"
## Description
Running Pylint on incubator-mxnet with undefined-variable enabled, results in 52 errors. This could lead to NameError on execution.

## Steps to reproduce

[code]

Package used (Python/R/Scala/Julia):
I'm using Python2

## Build info (Required if built from source)

MXNet commit hash:
f5b95b090815e879b57dca233604dcb3f1df967a

## Error Message:

Code/module   affected | Undefined var

[2018-07-26 22:34] chsin commented on #11458
More specifically, I'm running a server like the @nihilityworld and so far I've traced that the hanging is because:

- it never returns from `nd.SyncCopyToCPU(data, size);` in `MXPredGetOutput` https://github.com/apache/incubator-mxnet/blob/v1.2.0/src/c_api/c_predict_api.cc#L398.
- because it never returned from `this->WaitToRead();` in `NDArray::SyncCopyToCPU`
https://github.com/apache/incubator-

[2018-07-26 22:57] anirudhacharya commented on #11839
jenkins log file - http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-11856/runs/5/nodes/859/log/?start=0

[code]

[2018-07-27 00:12] hetong007 commented on #11853
Summary:

We found it is possible to reproduce on p3.16xlarge with `Intel(R) Xeon(R) CPU E5-2686 v4`, and OpenBLAS 0.3.0 and 0.3.1. While with OpenBLAS 0.2.20, we cannot reproduce the issue anymore.

Under GPU context (regardless of OpenBLAS version), we cannot reproduce the issue.

Just tested a pip build where openblas is replaced with 0.2.20, we cannot see the randomness in the forward. Therefo

[2018-07-27 00:17] xcgoner commented on #11763
Hi @burness ,
Could you try to decrease "--num-workers" and try the experiments again?

[2018-07-27 00:25] safrooze opened #11905 "Poor concat CPU performance on CUDA builds"
## Description
If I use a CUDA build (mxnet-cu90), concat operation is 2.2x slower than using a non-CUDA build (mxnet). I believe the problem is that omp is disabled in mshadow when CUDA is enabled (https://github.com/dmlc/mshadow/blob/463c0dffe3eae8c39caf7989c85b7244823df27e/mshadow/tensor_cpu-inl.h#L149)

## Environment info (Required)

[code]
I'm using Python package.

## Minimum reproducible e

[2018-07-27 00:45] lmmcc commented on #11897
ok,thanks very much

[2018-07-27 00:53] zheng-da opened #11906 "support 1D and 3D arrays in MKLDNN."
MKLDNN currently only supports 2D and 4D arrays. As @safrooze reported that computation on 1D and 3D arrays is much slower than on 2D and 4D arrays. We can easily accelerate performance by adding a dummy dimension so that the computation can take advantage of MKLDNN. Right now users have to do it manually. We should improve the MKLDNN integration and accelerate 1D and 3D arrays automatically.
@pen

[2018-07-27 01:08] TaoLv commented on #11906
I think mkldnn already has support for 3D arrays now. You can find the formats definition (ncdhw or nCdhw16c) here: https://github.com/intel/mkl-dnn/blob/master/include/mkldnn_types.h#L134

[2018-07-27 01:55] burness commented on #11763
@vishaalkapoor, I am sorry that recently I have no time to do it! I will do as quicky as possible.
@xcgoner Thanks, I will do that  with no multi workers  but It will be not efficient

[2018-07-27 02:09] safrooze opened #11909 "MKLDNN not used for 3d tensors"
## Description
When using a MKL build, if the tensor is not 2d or 4d, the default CPU implementation is used, which in some cases compared to MKLDNN is extremely inefficient (for example 20x in case of `concat` operator). Examples are convolution and concat operators.

## Environment info (Required)

[code]

I'm using Python package.

## Minimum reproducible example

[code]

Output:
[code]

## Wha

[2018-07-27 02:34] StatML commented on #11868
Hi @sandeep-krishnamurthy Thank you for your response. I am using Ubuntu 16.04 and I did follow the building instructions you pasted. :(

[2018-07-27 02:42] wkcn commented on #11897
It seems that the parameters' name in *.param files may not match that of the models.

When you fine-tune the model or check the difference between *.param files, the parameters are re-initiallized. I remember that the random seed is fixed in MXNet, so the parameters are the same.

You can try to add the parameter `allow_missing = False` in `model.fit`

[2018-07-27 02:57] TaoLv commented on #11909
Similar issue here: https://github.com/apache/incubator-mxnet/issues/11906
Besides unit tests, could you help to elaborate which models are using these 3D operators and what do the inputs look like?

[2018-07-27 03:03] rahul003 commented on #11855
@sandeep-krishnamurthy Improved this here https://github.com/apache/incubator-mxnet/pull/11910

@absalama You need to pass update_on_kvstore=True when creating the Trainer. Refer the test above.

[2018-07-27 03:11] Hsintao opened #11911 "Illegal instruction (core dumped)"
After i` pip installed the mxnet-cu80==1.2.1 or 1.3.0`,` import mxnet` will report `Illegal instruction (core dumped)`,the 1.1.0 is OK,but i want to use the gluoncv.
SystemOS: ubuntu16.04
GPU: NVIDIA GeForce GTX Titan X
CUDA:8.0
CuDNN:7

However, i install it in another server with GTX1080TI.
Is it because TITANX is the Maxwell architecture ？

[2018-07-27 03:16] lmmcc commented on #11897
@wkcn  if I use the `allow_missing = False in model.fit` how can i change the 'fc7' layers' class number....which i want to do is using a small number of training data to finetune the pre-trained model which is good enough to extract feature.

[2018-07-27 03:30] Hsintao commented on #11911
just `Illegal instruction (core dumped)`. i google this and cant find any solution. @haojin2

[2018-07-27 03:34] szha commented on #11911
@Hsintao what's the CPU that you're using? For pre-built package we need at least avx2 support.

[2018-07-27 03:35] nicklhy opened #11912 "failed to catch imdecode exception"
Hi, I just found that I can not catch some IO exceptions when the program failed to load an image when using mxnet's image decoding API. The problem can be produced like below:
[code]
[code]

However, I would like the program to skip the corrupted images and just continue processing others. Is it a bug?

[2018-07-27 03:38] Hsintao commented on #11911
Intel(R) Xeon(R) CPU E5620  @ 2.40GHz @szha

[2018-07-27 03:44] szha commented on #11911
Just double checking, if you do `pip install mxnet-cu80==1.3.0b20180703`, does it throw the error?

[2018-07-27 03:49] Hsintao commented on #11911
I just try this version，same error。。。。 我试试从源码编译 @szha

[2018-07-27 03:56] vandanavk commented on #5475
@littlelid @melody-rain have you had a chance to try this out on a recent version?
its been a long time, but do you have the dataset/script that you used when you saw the issue?

[2018-07-27 04:36] Hsintao commented on #11911
i build mxnet from source and it works. Thanks.
please closes this issue. @szha

[2018-07-27 04:42] safrooze opened #11913 "Unexpectedly poor copy implementation"
## Description
Calling `copy()` on an ndarray is ~6x less efficient than simply adding `0.0` to it!!

## Environment info (Required)

[code]

I'm using Python.

## Minimum reproducible example
[code]
Output is:
[code]

## Steps to reproduce
Run the above script

[2018-07-27 04:51] Hsintao commented on #11911
i build mxnet from source and it still doesn't  work.  Thanks.
please closes this issue. @szha

[2018-07-27 04:54] szha commented on #11911
Glad it works, @Hsintao. Also, looks like this specific CPU is limited to [SSE4.2](https://ark.intel.com/products/47925/Intel-Xeon-Processor-E5620-12M-Cache-2_40-GHz-5_86-GTs-Intel-QPI).

[2018-07-27 04:58] Hsintao commented on #11911
sorry, it doesn't work。。。 i will continue to use the 1.1.0.

[2018-07-27 04:59] Hsintao commented on #11911
Sorry, it doesn't work。 i will continue to use the 1.1.0 @szha
Thank u  anyway.

[2018-07-27 05:14] szha commented on #11911
Sorry I misread your message. In this case I think it would be better for us to figure out why it doesn't work, as building from source should cover almost all platforms.

Would you mind pasting your complete build log here when building from scratch?

[2018-07-27 05:48] xcgoner commented on #11763
@burness Understood. My concern is that sometimes using multiple worker threads in the dataloader may exhaust the cpu resources and make the training stuck. You can try to set this option to be 1 or even 0 (0 will trigger a single-thread dataloader in a different mode) and check whether it is still stuck or not. So that we can identify what is exactly the problem there.
By the way, I noticed that

[2018-07-27 05:54] ssttevee opened #11914 "NDArray.asscalar(): CUDA an illegal memory access was encountered"
## Description
I've found a flaky crash relating to rnns and cuda, however, I'm not sure exactly what is causing it. I noticed it when I was working with a larger encoder-decoder network, but I've reduced it a single script with less than 100 lines of code with a data generator.

## Environment info (Required)

I'm using python3.6 on 2 different environments, windows 10 and ubuntu:
[code]
[code]

[2018-07-27 13:03] Hsintao commented on #11911
it works. thank u again. @szha

[2018-07-27 15:47] absalama commented on #11855
Hi all,

Thank you all guys for you help. However, I am still seeing the issue even after passing "update_on_kvstore=True".
I am using example/gluon/ImageClassification with slurm tracker from dmlc. Please could you reference to the error trace on the top since the error is still generated from the same corner.

Thanks

[2018-07-27 15:57] kohillyang opened #11915 "The behavior of np.zeros_like(x) if x is a NDArray is unexpected."
[code]
The output is:
[code]
which may be a little confusing.

[2018-07-27 15:58] rahul003 commented on #11855
Are you sure you changed set this variable on each of your machines, and can you post a snippet

[2018-07-27 16:03] rahul003 commented on #11880
With the old version, I think you will need to do 'git submodule update --recursive --init' to get all the submodules as they are then

[2018-07-27 16:35] sandeep-krishnamurthy commented on #11912
Hi @nicklhy - This is not a bug, underlying OpenCV is crashing. However, core dumped in any case is not the user experience expected from any library. Adding feature request label so we can visit this usecase and handle it more gracefully.

Thanks for reporting.

[2018-07-27 16:36] sandeep-krishnamurthy commented on #11913
Great findings! Thanks @safrooze

[2018-07-27 16:46] sandeep-krishnamurthy commented on #11915
Hello @kohillyang
You are mixing Numpy.NDArray and MXNet.NDArray hence, seeing a different behavior.
### Numpy only
[code]

### MXNet NDArray only

[code]

You passed np.zeros_like(MXNet NDarray) which treat it as an array object. (x in your example is mxnet ndarray that cannot be directly understood by Numpy.

If you want to use MXNet NDArray inside numpy, here is the modified code for your examp

[2018-07-27 16:46] #11915 closed

[2018-07-27 16:50] sandeep-krishnamurthy commented on #11914
Since it is directly correlating with data length, looks like GPU ran out of memory?

[2018-07-27 16:51] #11911 closed

[2018-07-27 16:53] sandeep-krishnamurthy commented on #7725
Resolving in favor of #8551 . Please reopen if issue still persists.

[2018-07-27 16:53] #7725 closed

[2018-07-27 17:32] ssttevee commented on #11914
Sorry, I meant to put that it doesn't crash with higher a data length like `--data_length=1000000 --batch_size=2`. The crashes don't seem to have a direct of correlation the actual data length.

It wouldn't make much sense for it to be a memory limit anyways, since none of the parameters gets anywhere close to 1 GB of memory where as both my GPUs have well over 1 GB of memory.

[2018-07-27 18:15] safrooze commented on #11906
3D tensors are common in audio signals, e.g. WaveNet. I specifically ran into this issue with WaveNet inference on CPU.

[2018-07-27 18:17] kalyc commented on #11685
Able to reproduce flaky test error -
[code]

[2018-07-27 18:59] zhreshold commented on #11872
I have figured out that the pre-fetch strategy for data loader is too aggressive which might cause the related issue with shared mem.
The fix is included in https://github.com/apache/incubator-mxnet/pull/11908

[2018-07-27 20:06] szha commented on #11592
I just had the exact same error in another PR. http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11482/17/pipeline/859#step-1530-log-1018

@zhanghang1989 what did you do to resolve the problem?

[2018-07-27 20:51] azai91 commented on #11896
for task 2, what is the optimal layout for the weights?

[2018-07-27 21:21] absalama commented on #11855
In trainer.py I changed the default value of **update_on_kvstore** from None to True in the __init__ method. The imageclassification.py initialises the trainer object so I assume that if the **update_on_kvstore** is True in the __init__ method then it should be set?

We are using slurm cluster, and all nodes are sharing the same folder where mxnet source resides. So the any change should be seen b

[2018-07-27 22:08] haojin2 commented on #11867
@zheng-da Fix is in #11918

[2018-07-27 22:31] abhinavs95 opened #11919 "Accuracy changes with number of GPUs"
## Description
I trained same SqueezeNet model with same hyper-parameters and dataset on p3.8xlarge and p3.16xlarge with same AMI but got ~3% lower accuracies on p3.16xlarge. I used same batch size per GPU but effective batch size is 2x in p3.16xlarge due to 2x number of GPUs.

## Environment info (Required)

p3.8xlarge
[code]

p3.16xlarge

[code]
Package used: Python

## Minimum reproducible exam

[2018-07-27 22:46] kalyc commented on #11741
Unable to reproduce issue with 10000 runs, opened PR - https://github.com/apache/incubator-mxnet/pull/11920

[2018-07-27 22:49] anirudhacharya commented on #7196
fixed in this - https://github.com/apache/incubator-mxnet/pull/11374

@nswamy please close.

[2018-07-27 22:59] anirudhacharya commented on #8792
@VGalata I tried with the latest v1.3( source build) and was not able to reproduce this issue with the example you provided. Can you please verify and reopen the issue if problem persists.

@nswamy please close this issue.

[2018-07-27 23:04] #7196 closed

[2018-07-27 23:07] nswamy commented on #8792
@VGalata Closing this issue.
@anirudhacharya I think @anirudhacharya meant he tried from the master(v1.3 is coming out soon). Please create a new Issue if you find issues.

[2018-07-27 23:07] #8792 closed

[2018-07-27 23:09] kalyc commented on #11741
For reference, initially seed was set to 0

[2018-07-27 23:13] nswamy commented on #11822
closing this issue as it seems to be resolved.

[2018-07-27 23:13] #11822 closed

[2018-07-27 23:16] nswamy commented on #10928
closing issue as the referenced PR seems to be resolving it, feel free to open a new issue if you still find problems.

[2018-07-27 23:16] #10928 closed

[2018-07-27 23:21] #10147 closed

[2018-07-27 23:21] #8545 closed

[2018-07-27 23:36] szha commented on #11919
Since the actual batch size differs by 2x it's not surprising that accuracy can be different.

[2018-07-27 23:53] rahul003 commented on #11855
What optimizer are you using?

[2018-07-28 00:17] rahul003 commented on #11913
Just going by the script, could you put a waitall before your first time() call to ensure we don't factor in time to create the array.

[2018-07-28 00:48] rahul003 commented on #11919
You would need to change your learning rate based on the total batch size, generally proportional to the batch size (as the number of steps the training takes halves in the latter case). Try using lr 0.02 for the latter case.

[2018-07-28 01:02] szha commented on #9388
@jmnie it's included in the latest versions of mxnet.
[code]

[2018-07-28 06:17] y12uc231 opened #11922 "Get device info while training with multi-GPUs"
Is there anything similar to  torch.cuda.current_device() in mxnet??

[2018-07-28 08:46] TaoLv commented on #11906
@safrooze thanks for the information. mkldnn has already support 3D convolution. The input of it may be 5D tensor if we take batch size and channel size into account. I think 1D convolution is still under development for mkldnn. As @zheng-da mentioned, currently we can add a fake dim to turn it into 2D convolution to benefit from mkldnn.
@zheng-da Right, we need spend some effort to integrate mkld

[2018-07-28 11:56] yasserzamani commented on #570
@CharlesMei , I had same issue (even when those files was already in my PATH) but running jupyter notebook inside `Anaconda Prompt` fixed that! (without copying those files!)

[2018-07-28 12:06] gulinlin opened #11924 "Compile"
Hey,When I compiled, something went wrong.

Makefile:168: "USE_LAPACK disabled because libraries were not found"
Makefile:276: WARNING: Significant performance increases can be achieved by installing and enabling gperftools or jemalloc development packages
cd /mnt/data/gulinlin/Rpackages/incubator-mxnet/3rdparty/dmlc-core; make libdmlc.a USE_SSE=1 config=/mnt/data/gulinlin/Rpackages/incubator-mxne

[2018-07-28 18:02] y12uc231 commented on #6865
Ok, so you @reminisce  are saying that I should change the internal elements to nd/np arrays first and then do mx.nd.array. But if we do this, we will loose the grad values which we had . Please explain

[2018-07-28 18:27] y12uc231 opened #11925 "mxnet.ndarray.stack : PLEASE UPDATE DOC"
![image](https://user-images.githubusercontent.com/5621640/43359560-f5e031be-9258-11e8-911d-59ad42e87640.png)

This is not how stack is working. Gives the following error when I execute the example pf stack(x,y):-
AssertionError: Positional arguments must have NDArray type, but got [1, 2]

I am using 1.2.

[2018-07-28 23:13] #8490 closed

[2018-07-29 09:05] nicklhy commented on #11912
@sandeep-krishnamurthy , I just did a few more tests about the opencv APIs. `cv2.imdecode` behaves just like `mx.image.imdecode`. But what quite interest is, `cv2.imread` doesn't crash or raise exception at all, it just return `None` ( which is exactly what I want). Can I implement something similar via mxnet's APIs?

[2018-07-29 19:39] mdespriee opened #11926 "segfault in native code while trying to use CustomOp"
I'm trying to use CustomOp to create a Constant, as it has been suggested in #8428.
As soon as I define that my CustomOp has no inputs, it fails with a segfault, and I can't find a workaround.

## Environment
- Linux setup using  https://raw.githubusercontent.com/apache/incubator-mxnet/1.2.1/ci/docker/install/ubuntu_core.sh (actually in a Docker)
- MXNet 1.2.1, scala 2.11.11

## Code
[code]

## Er

[2018-07-29 21:18] y12uc231 opened #11927 "Substitute of torch.Tensor.data_ptr()"
Is there any work around to get the address of the first element of the NDarray?

I tried id() but it doesnt give the same address,

[2018-07-29 22:41] haojin2 commented on #11925
Can you post the exact instructions you used here?
This is what I got:
[code]
Maybe what you did was:
[code]

[2018-07-29 22:46] y12uc231 commented on #11925
Yup, I did the second thing, which is exactly mentioned in the doc.

[2018-07-30 00:49] vivienzou1 opened #11929 "unfound reference: mx.io.ImageRecordIter"
## Description
after update to the latest version 1.3 mxnet in python 3.6, the IDE catch error as
`' Cannot find reference "ImageRecordIter" in "io.py" `
when I try to
[code]

## Environment info
python 3.6
mxnet 1. 3. 0b20
IDE: latest pycharm community

[2018-07-30 02:30] lanking520 commented on #11924
HI @gulinlin, thanks for your question. what platform are you using currently to build the package? Have you tried to make -j $(nprocs) before you make the R package?

@anirudhacharya Can you also take a look from here?

@mxnet-email-bot please label : R, build to this issue

[2018-07-30 03:14] #11853 closed

[2018-07-30 04:07] adaaaaaa commented on #11610
anyone can help?

[2018-07-30 04:21] haojin2 commented on #11509
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11482/22/pipeline/858
[code]

[2018-07-30 04:30] knwng commented on #11883
The data_batch and label_batch is initialized with a mx.nd.empty() object. Under my configuration, when the data generator is exhausted during filling a data batch, the data_batch will not be padded or filled with new data but remain garbage data even nan, which will raise an index out of bound error when calculate CrossEntropy metric.
I'm currently change nd.empty into nd.zeros to initialize data

[2018-07-30 04:58] knwng commented on #11870
I think it's my misunderstanding of augmenter api. the data_shape indicates the final input data shape which should be satisfied by using various augmenters. close issue.

[2018-07-30 04:58] #11870 closed

[2018-07-30 05:50] zhreshold commented on #11610
@adaaaaaa  missing mkldnn.dll and mklml.dll ,  are they included in the package?

You can find mklml.dll here: https://github.com/intel/mkl-dnn/releases/download/v0.14/mklml_win_2018.0.3.20180406.zip
Not sure about mkldnn prebuilt dll, I think it's easier to build though.

[2018-07-30 05:51] yajiedesign commented on #11610
@adaaaaaa I do some fix.please wait tomorrow.

[2018-07-30 08:02] tuoyuxiang commented on #11763
I meet same question, any update? thanks.

[2018-07-30 08:20] marcoabreu commented on #11509
@leezu

[2018-07-30 09:17] miteshyh commented on #11872
Thanks @zhreshold , I will follow this PR.

Yes, even with few (0/1) workers resource usage was quite high requiring more than usual shared memory space.

[2018-07-30 10:02] mdespriee commented on #9656
interested as well, as this is key to our adoption of MXNet (we're heavy user of sparse computations)

[2018-07-30 10:30] mdespriee commented on #8168
Nice to have a visibility on your roadmap on this topic. I'm very interested some items (eg dot(csr.T, csr) = row_sparse) , as well as scala support of sparse arrays -> this might appear as paragraph in this todo-list.

[2018-07-30 11:50] mdespriee commented on #11925
@y12uc231 all arrays in the doc are (obviously) assumed to be NDArrays... It's even mentioned in your screenshot. So, stop yelling in all-caps in the first place, and try again with NDArrays

[2018-07-30 13:09] kohillyang commented on #11610
where can I find mkldnn.dll?

[2018-07-30 14:34] vishaalkapoor commented on #11763
@tuoyuxiang would you mind giving exact repo steps. I was having difficulty
reproducing burness's experiment. What code are your running, or better
yet, what is a minimal snippet if the code, and what is a pointer to the
data set with steps on any transformations on that set.

Thank you!

On Mon, Jul 30, 2018, 1:02 AM tuoyuxiang <notifications@github.com> wrote:

[2018-07-30 14:58] marcoabreu commented on #11456
[code]

[2018-07-30 15:15] marcoabreu commented on #11747
Hi,

please run the following commands:
``ci/build.py -p ubuntu_cpu -i``
``PYTHONPATH=/work/mxnet/python python3 tools/flakiness_checker.py -s 2127644814 test_quantization_mkldnn.test_requantize_int32_to_int8``

The output will be:
[code]

@pengzhao-intel @xinyu-intel

[2018-07-30 16:42] kalyc commented on #11741
PR has been merged. @szha could you please close the issue?

[2018-07-30 16:49] #11741 closed

[2018-07-30 17:09] eric-haibin-lin commented on #6257
@sriharikarnam could you add a subpage to apache mxnet [wiki](https://cwiki.apache.org/confluence/display/MXNET/Design+Proposals) and send out an email to [dev@ ](https://mxnet.incubator.apache.org/versions/master/community/mxnet_channels.html) list for the community to review the high level design? Making a PR to reveal the code changes will be also helpful.

[2018-07-30 17:25] haojin2 commented on #11929
Was that the exact script you used? Seems like you're missing a comma after
[code]

[2018-07-30 17:32] szha commented on #11509
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11482/24/pipeline/861

[2018-07-30 17:38] haojin2 commented on #11929
BTW the doc for ImageRecordIter is at https://mxnet.incubator.apache.org/api/python/io/io.html?highlight=imagerecorditer#mxnet.io.ImageRecordIter. Docs for all Python APIs can be found at https://mxnet.incubator.apache.org/api/python/index.html.

[2018-07-30 17:40] slitsey commented on #11016
@apeforest I can’t share any code with you because I haven’t written it yet. However, I can explain the idea. One approach to reinforcement learning is to have a function that generates a probability distribution over all possible actions for each state, and then to take each action with the associated probability. If this probability distribution is generated by a softmax at the end of a deep lea

[2018-07-30 17:43] ThomasDelteil commented on #11752
@azai91 can you point to the documentation that says that the `simple_forward` function accepts `act_data` as an argument?

Current docs as I see it is:

[code]

I think you are confused by the `act_data` argument in the `Activation` example. This is a key/value argument that is used to bind the symbol with the data. Because in the example the Activation symbol is named `act`, the default input sy

[2018-07-30 17:49] ThomasDelteil commented on #8096
@szha can we close this PR? Requester has been inactive for more than 8 months and issue contains already good suggestions.

[2018-07-30 17:51] apeforest commented on #9067
@zhaoningning Could you provide a small script of your issue. I would like to verify my fix since your description of the issue is not exactly the same as #8799. Thanks!

[2018-07-30 18:01] sad- commented on #11412
hi @aaronmarkham, what's the status of this?  any updates?

[2018-07-30 18:07] ThomasDelteil commented on #8729
@OferRosenberg please consider closing if your question has been answered. Summary of the conversation:
- There is no amalgation build for Android
- Full MXNet cross-compilation is possible, check out the build scripts/docker images in in ci/build.py
- CMake needs to be improved, this is a WIP, addressed in #11148

[2018-07-30 18:08] ThomasDelteil commented on #9136
@hetong007 do you have an answer to that question or can provide a hint to @jeremiedb ?
Thanks!

[2018-07-30 18:11] sad- commented on #10875
@szha can we close out this issue now since it's been tracked by the roadmap issue? thanks

[2018-07-30 18:16] ThomasDelteil commented on #9915
The accuracy of the FCN models offered on Gluon-CV are reported here:
https://gluon-cv.mxnet.io/model_zoo/index.html#semantic-segmentation

Name | Method | pixAcc | mIoU | Command | log
-- | -- | -- | -- | -- | --
fcn_resnet50_voc | FCN [6] | N/A | 69.4 | shell script | log
fcn_resnet101_voc | FCN [6] | N/A | 70.9 | shell script | log

@indhub  can we please close this question? Thanks!

[2018-07-30 18:19] hetong007 commented on #9136
So far there's no augotrad in R-package. @anirudhacharya Do you have any roadmap/plan to share here?

[2018-07-30 18:19] #10875 closed

[2018-07-30 18:25] sad- commented on #7652
@zheng-da can we close out this issue now? thanks

[2018-07-30 18:28] sad- commented on #8474
@ijkguo could we close out this issue?

[2018-07-30 18:32] ThomasDelteil commented on #10699
@hbsun2113 The code you highlighted gives you the number of servers for the key value store, it isn't related to pushing a range of values of keys to the kvstore. If that was your original question.

@nswamy can you please close this issue?
@hbsun2113 please consider closing as well, if you feel your question has not been answered, please write a post on discuss.mxnet.io as suggested by @nswamy

[2018-07-30 18:34] safrooze commented on #11150
@Feywell Thanks for posting your question on discuss forum. Please close this issue I'll help you on the forum to resolve your question.

[2018-07-30 18:39] safrooze commented on #10858
@sandeep-krishnamurthy I don't think this is a Doc issue. This is a bug in building docs, so I'd recommend removing Doc and Scala label and adding Bug and Build labels.

[2018-07-30 18:46] ThomasDelteil commented on #10998
@HyperGroups can you please show or point me to how you export it from Mathematica?
The reason why you have this error is because only models saved using the module API or the `.export` function of `HybridBlock` in Gluon can be loaded using the `load_checkpoint` function.

As of 1.2.1, you can load your model in Gluon using the `HybridBlock.imports` function:
[code]

[2018-07-30 18:49] ijkguo commented on #8474
I think the feature request for a tutorial (to train variable input shape CNN) mentioned by @marcoabreu is no longer necessary.
Training a variable input shape CNN is no different from a fixed shape one - use `module.fit` or Gluon as if input shape is fixed.

[2018-07-30 18:51] vivienzou1 commented on #11929
fix it by simply restarting pycharm.... thanks guys

[2018-07-30 18:51] #11929 closed

[2018-07-30 18:51] ThomasDelteil commented on #10998
@sandeep-krishnamurthy can you please close the issue?
@HyperGroups let's continue the discussion there: https://discuss.mxnet.io/t/simple-bind-error-when-loading-model/1110/3

[2018-07-30 18:53] sad- commented on #9051
compiling amalgamation to work in android studio is addressed here: https://github.com/apache/incubator-mxnet/issues/2133 @nswamy can we close out this issue?

[2018-07-30 18:55] #9051 closed

[2018-07-30 18:58] ThomasDelteil commented on #11137
label_width should be 2 if you have 2 classes. Try setting it to -1 otherwise.

Why did you pick 4784 ? That would mean that you have 4784 different classes.

[2018-07-30 19:01] ThomasDelteil commented on #11417
@sandeep-krishnamurthy ping
@lebeg any updated on whether openmp should or shouldn't be bundled with MXNet?

[2018-07-30 19:04] safrooze commented on #10204
@sxjscience Are you going to send a PR for this fix? If not, I can take care of it.

[2018-07-30 19:12] leezu commented on #11509
I'm looking into the issue now.

[2018-07-30 19:18] #10699 closed

[2018-07-30 19:20] sxjscience commented on #10204
I’ve submitted this PR https://github.com/apache/incubator-mxnet/issues/11031

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sina Afrooze <notifications@github.com>
Sent: Tuesday, July 31, 2018 3:04:39 AM
To: apache/incubator-mxnet
Cc: Xingjian SHI; Mention
Subject: Re: [apache/incubator-mxnet] [Operator] Make sure the result of topk is sorted (#10204)

@sxjscie

[2018-07-30 19:26] #9915 closed

[2018-07-30 19:26] #11752 closed

[2018-07-30 19:34] sxjscience commented on #10204
I mean https://github.com/apache/incubator-mxnet/issues/11134

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Xingjian SHI
Sent: Tuesday, July 31, 2018 3:20:02 AM
To: apache/incubator-mxnet; apache/incubator-mxnet
Cc: Mention
Subject: Re: [apache/incubator-mxnet] [Operator] Make sure the result of topk is sorted (#10204)

I’ve submitted this PR https://github.com

[2018-07-30 19:36] #8096 closed

[2018-07-30 19:40] leezu commented on #11509
I can't reproduce this on p3 and p2 instances so far. I keep running this test in a loop for now. Do the tests run on a different instance type?

[2018-07-30 19:42] y12uc231 commented on #11922
its mx.current_context().device_id

Thanks!

[2018-07-30 19:42] #11922 closed

[2018-07-30 19:51] szha commented on #11509
Hao and I weren't able to reproduce the error on the (supposedly) same instance type that CI slaves use, using the same docker building logic.

[2018-07-30 19:51] marcoabreu commented on #11509
G3

Are you running with our docker setup?

[2018-07-30 19:53] haojin2 commented on #11509
yes, Sheng and I was using g3.8xlarge + instructions from https://cwiki.apache.org/confluence/display/MXNET/Reproducing+test+results

[2018-07-30 20:01] leezu commented on #11509
@marcoabreu is it feasible to restart the CI Pipeline with the same global seed (not only test seed)? Jenkins should make it feasible to restart the pipeline when accessing http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11482/24/pipeline/861/ while being logged in, but I'm not sure about the setup for global seed.

[2018-07-30 20:05] reminisce commented on #11794
The quantized network has duplicate dequantize operators.

It is be a bug of the quantization flow. @xinyu-intel found similar things before and has already pinpointed the place of error.

![image](https://user-images.githubusercontent.com/4978794/43420583-0856665a-93f9-11e8-9b39-1f6bc178d8dd.png)

[2018-07-30 20:09] marcoabreu commented on #11509
I don't think this is feasible, considering the setup is entirely reproducible with docker. Also the costs are not worth the effort.

I might be stating the obvious, but did you use the latest master or the commit at that time to reproduce the error?

[2018-07-30 20:12] Ishitori commented on #6693
@calipos, can you give more information about the error? Did you also try image-classification-predict.cc? Can you provide a minimal example to reproduce the error?

[2018-07-30 20:28] Ishitori commented on #10219
@qingyuanxingsi, did you try the solution above? Did it help?

Here is the tutorial on how to export PyTorch model to ONNX: https://github.com/onnx/tutorials/blob/master/tutorials/PytorchOnnxExport.ipynb

Here is the tutorial on how to import ONNX model to MXNet (python, but C++ should be similar): https://github.com/onnx/tutorials/blob/master/tutorials/OnnxMxnetImport.ipynb

[2018-07-30 20:33] Ishitori commented on #9935
I checked using mxnet==1.2.1 and also using latest version (`pip install mxnet --pre`). Works good to me.

[2018-07-30 20:34] Ishitori commented on #9186
@Feywell, did it help? Is problem resolved now?

[2018-07-30 20:34] #11241 closed

[2018-07-30 20:39] ThomasDelteil commented on #1722
@aaronmarkham where would be the best place to add some documentation on how to build with HDFS support? Currently it seems only documented in the cinnebts of some Makefile.

[2018-07-30 20:43] y12uc231 opened #11932 "Not Found Links in the doc of MXNet : Training with multiple GPUs"
Doc Link : https://mxnet.incubator.apache.org/versions/master/faq/model_parallel_lstm.html

There are some hyperlinks that dont work here :-
https://github.com/apache/incubator-mxnet/blob/master/example/model-parallel/lstm/lstm.py
https://github.com/apache/incubator-mxnet/blob/master/example/model-parallel/lstm/lstm.py#L171
https://github.com/apache/incubator-mxnet/blob/master/example/model-parall

[2018-07-30 20:47] ThomasDelteil commented on #9157
You can read this blog post on how to run MXNet on Spark using AWS EMR cluster [link](https://aws.amazon.com/fr/blogs/machine-learning/distributed-inference-using-apache-mxnet-and-apache-spark-on-amazon-emr/)

@sandeep-krishnamurthy can you please close the issue?

@schlichtanders if you would like to follow up, please create a thread on https://discuss.mxnet.io, thanks!

[2018-07-30 20:59] ThomasDelteil commented on #7717
@chowkamlee81 are you still working on that? If not please consider closing.
Can you provide your a full reproducible code sample and I'll try to investigate why your loss is not changing. One possibility is that you haven't set your learning rate properly, or your gradients are not flowing back from your loss.

You can have a look at the GluonCV FCN implementation as a reference:
https://gluon-cv

[2018-07-30 21:00] aaronmarkham commented on #1722
A new FAQ page would work… and then i'd mention it in the build from source sections on pages in the /install directory too, linking back to that FAQ.

[2018-07-30 21:02] samskalicky commented on #9816
@DickJC123 re-running the test with your scenario appears to be working for me (today). Are you still experiencing a problem or can we close this issue?

[2018-07-30 21:04] lanking520 opened #11933 "[Automated Publish] Help needed to run restricted CI"
As discussed in [this Thread](https://lists.apache.org/thread.html/464712f0136fb51916ca9f1b702b99847e108dbdbd0b6a2b73fc91f1@%3Cdev.mxnet.apache.org%3E). I am facing the issues to automate publish the Scala issues. This issue address the third point of my problem: How to run/test the restricted CI.

Thanks to @marcoabreu for the solution provided [here](https://cwiki.apache.org/confluence/display/M

[2018-07-30 21:13] ThomasDelteil commented on #8156
You can find a hybridizable Gluon implementation of Faster RCNN here:

https://gluon-cv.mxnet.io/build/examples_detection/train_faster_rcnn_voc.html#sphx-glr-build-examples-detection-train-faster-rcnn-voc-py

From a quick look, it seems that the layer you are looking for is defined here:
https://github.com/dmlc/gluon-cv/blob/master/gluoncv/model_zoo/faster_rcnn/rcnn_target.py

@indhub can you plea

[2018-07-30 21:16] ThomasDelteil commented on #8583
@eric-haibin-lin it looks like the example has been updated to use ndarray rather than numpy. Can you please close?

[2018-07-30 21:27] lanking520 commented on #1591
I have updated with a CWiki page here: https://cwiki.apache.org/confluence/display/MXNET/Scala+Project+Status
Let's keep all TODOs into one place and also pick up from there. @yzhliu @nswamy let's close this for now.

[2018-07-30 21:27] lanking520 commented on #2268
I have updated with a CWiki page here: https://cwiki.apache.org/confluence/display/MXNET/Scala+Project+Status
Let's keep all TODOs into one place and also pick up from there. @yzhliu @nswamy let's close this for now.

[2018-07-30 21:27] lanking520 commented on #4800
I have updated with a CWiki page here: https://cwiki.apache.org/confluence/display/MXNET/Scala+Project+Status
Let's keep all TODOs into one place and also pick up from there. @yzhliu @nswamy let's close this for now.

[2018-07-30 21:28] Ishitori commented on #8751
@SumNeuron, do you still experience the issue? If not, please, close the ticket.

[2018-07-30 21:31] elofgren commented on #11890
Just attempted to reinstall OpenCV following this guide: https://gist.github.com/dnordgren/665af430064cdbaa9a31

The error that followed:

tools/im2rec.cc:88:20: error: ‘CV_LOAD_IMAGE_COLOR’ was not declared in this scope
   int color_mode = CV_LOAD_IMAGE_COLOR;
                    ^
tools/im2rec.cc:90:22: error: ‘CV_INTER_LINEAR’ was not declared in this scope
   int inter_method = CV_INTER_LINEA

[2018-07-30 21:36] jessebrizzi commented on #10867
I spent some time digging into this to see if I could find a fix.

Them memory leak seems to be exclusive to when an `Executor` has to reshape to a size larger than the previously binded size. When you size down there is no noticeable memory leak.  I have updated my git repo that as the bug reproduction to show this.

This could be related to the new empty `NDArrays` being created here https://git

[2018-07-30 21:39] ThomasDelteil commented on #7814
@indhub  this does not seem necessary anymore. Please close:

[code]

[2018-07-30 21:47] ThomasDelteil commented on #9018
@Austin-Bolesta the CPP examples were in bad shape and have all been fixed and are now continuously tested.

[code]

@marcoabreu can you please close?

[2018-07-30 21:49] ThomasDelteil commented on #8636
@sandeep-krishnamurthy @indhub can you please close the issue? Thanks!

[2018-07-30 21:54] ThomasDelteil commented on #9217
Installation steps provided from this discussion have been made available on the mxnet website there:
http://mxnet.incubator.apache.org/install/index.html?platform=MacOS&language=Python&processor=GPU

@szha could you please close this issue?

[2018-07-30 22:00] ThomasDelteil commented on #9959
@sxjscience The examples have been updated in https://github.com/apache/incubator-mxnet/pull/10190
The performance has been updated in https://github.com/apache/incubator-mxnet/pull/10761

@sxjscience could you please close the issue?

Thanks

[2018-07-30 22:11] ThomasDelteil commented on #10897
@reminisce have the docs been updated to let users know about the slowness and maybe explain the source of it?

Thanks!

[2018-07-30 22:13] ThomasDelteil commented on #11438
@aaronmarkham is there further action required on this issue?

[2018-07-30 22:15] Ishitori commented on #10248
1. While I agree that the documentation of this method should be better, the 3rd example actually shows an interesting feature of this method:

There is no difference in the result between the input `y= [[1.], [0.], [1.]]` and `y= [[1.], [0.], [2.]]`, because of a clipping applied to `y`. Since dimensions of `x` are `(3, 2)`, meaning that the last possible index of `axis=1` is `1`, the clipping ap

[2018-07-30 22:17] ThomasDelteil commented on #9588
@szha looks like #9777 address this ? If so please consider closing.

[2018-07-30 22:29] aaronmarkham commented on #11438
Actually there is. Something keeps mucking with the code and escaping it improperly.

[2018-07-30 22:29] ThomasDelteil commented on #5115
@indhub can you please close this issue? Thanks!

[2018-07-30 22:32] anirudhacharya commented on #9136
@hetong007 there is no roadmap as of now, but yes please do remove the 'Question' label.

[2018-07-30 22:35] #8636 closed

[2018-07-30 22:35] #9018 closed

[2018-07-30 22:40] sandeep-krishnamurthy commented on #11890
Yes it looks like your OpenCV installation and for MXNet to find it is having issue. Can you try commands here - https://github.com/apache/incubator-mxnet/blob/master/setup-utils/install-mxnet-amz-linux.sh#L48

[2018-07-30 22:41] #9157 closed

[2018-07-30 22:50] safrooze commented on #11906
@TaoLv By 3D tensor, I meant something with (batch_size, channels, width), which is a 1D convolution.

[2018-07-30 22:51] Ishitori commented on #7958
@Paul0M can you provide a minimal reproducible example with how to run it?

[2018-07-30 22:52] sad- commented on #4709
@xinghedyc could you close this issue if your original question has been answered? thanks

[2018-07-30 22:54] safrooze commented on #10204
@sxjscience I don't see where in PR #11134 you update the doc for topk to mention that the result is sorted. Did I miss it in the diff or are you planning to add it later?

[2018-07-30 22:55] #9217 closed

[2018-07-30 23:01] sad- commented on #6545
@sandeep-krishnamurthy can we close out this issue actually? looks to have been addressed.

[2018-07-30 23:03] zhreshold commented on #6545
Checkout our new gluon-cv examples: https://gluon-cv.mxnet.io/build/examples_detection/demo_ssd.html#sphx-glr-build-examples-detection-demo-ssd-py

which fully support arbitrary shape images.
I am closing this now.

[2018-07-30 23:03] #6545 closed

[2018-07-30 23:06] sad- commented on #10049
@sandeep-krishnamurthy could we close this issue. user seems to have resolved it.

[2018-07-30 23:06] safrooze commented on #11913
@rahul003 Thanks for the comment. The results are identical, with or without the nd.waitall() because creating creating an empty array is very fast compared to the rest of the network. Nonetheless, I did update the description to include an `nd.waitall()` after array creation.

[2018-07-30 23:09] Roshrini commented on #11933
@sandeep-krishnamurthy Could you please label: CI, Scala

[2018-07-30 23:15] Ishitori commented on #11144
@anchen1011 Did it work for you? If yes, please, close the issue.

[2018-07-30 23:15] Roshrini commented on #11932
@sandeep-krishnamurthy Could you please add label: Doc, Python

[2018-07-30 23:15] elofgren commented on #11890
Same general error, with and without setting the path in the line below that highlighted section of the script. I didn't see any errors in the OpenCV installation itself.

[2018-07-30 23:25] sad- commented on #8959
@CorneliusHagmeister could you close this issue, if your issue is resolved?

[2018-07-30 23:32] aaronmarkham commented on #11438
@andrewfayres and @lanking520 - They said they might be able to help figure out what is going on with it.

[2018-07-30 23:35] #5115 closed

[2018-07-30 23:35] #9935 closed

[2018-07-30 23:36] yzhliu commented on #9935
@Ishitori Thanks for checking.

[2018-07-30 23:37] sad- commented on #9911
@huyangc could you close the issue if you question is answered? or ask a specific follow up question if you have one. thanks

[2018-07-30 23:39] sad- commented on #9064
@marcoabreu can you close out this issue since the question has been answered with example by @thomelane

[2018-07-30 23:41] yzhliu commented on #8221
Since we don't receive response from the requester for a long time, I close it for now. @danache Feel free to reopen if you're still facing the problem.

[2018-07-30 23:41] #8221 closed

[2018-07-30 23:42] lanking520 commented on #11438
Basically it's a transition failure, such as the example below:
https://github.com/apache/incubator-mxnet/blob/master/docs/tutorials/scala/mxnet_scala_on_intellij.md

and

http://mxnet.incubator.apache.org/tutorials/scala/mxnet_scala_on_intellij.html

If you compare the dependencies in the markdown is showing correctly, however, in website is wrongly translated.
[code]
[code]
`</` seemed to have s

[2018-07-30 23:46] sad- commented on #7973
@junxigauss  is this still an issue on mxnet v1.2?

[2018-07-30 23:48] sad- commented on #8985
@sandeep-krishnamurthy can we close out this issue. example no longer exists on current master

[2018-07-30 23:50] piiswrong commented on #11899
Why do we need to this to be deterministic? Is there a use case?
Note that we don't promise determinism for most of the operators.

[2018-07-30 23:56] #8959 closed

[2018-07-31 00:00] sad- commented on #10237
truly there is no setupenv.cmd present in the folder. see https://discuss.mxnet.io/t/installing-mxnet-on-windows/374 if you're still having issues installing or trying installing from source. the installation docs need to be updated to correct the stale info

[2018-07-31 00:02] azai91 commented on #11804
@ZhennanQin do we have an ETA when this would be fixed? should we fallback if input too large?

[2018-07-31 01:04] szha commented on #9588
Indeed

[2018-07-31 01:04] #9588 closed

[2018-07-31 01:26] TccccD opened #11938 "l2_normalization for fp16 got 0.0 when data is very large"
If the data is set as follow:
in_data0 = mx.nd.random.uniform(-5, 5, (512,100000), ctx=mx.gpu(0))

mx.symbol.L2Normalization will got 0.0, whether forward or backward.
But in mx.symbol.norm, it is OK.
Test code as follow:

import mxnet as mx
from mxnet.test_utils import default_context, assert_almost_equal, check_numeric_gradient
import time
in_data0 = mx.nd.random.uniform(-5, 5, (512,100000), ctx

[2018-07-31 01:31] eric-haibin-lin commented on #11925
@y12uc231 Hi, thanks for the feedback. Indeed it's not very clear. And even worse, it's a common problem for all operator examples. The problem is that the example is written once, and shown in python/scala/R documentation, so we tried to make it more language agnostic but unfortunately becomes very misleading...

[2018-07-31 01:36] TccccD commented on #11938
@haojin2 @piiswrong @leezu @anirudh2290 @szha , please check this issue, and if possible, please help to modify L2Normalization thanks！

[2018-07-31 01:49] wkcn commented on #11927
Using `MXNDArrayGetData` to get the first element of the NDArray.

Notice: You should call `wait_to_read` before reading a NDArray and call `wait_to_write` before writing a NDArray.

There is no  `wait_to_write` in NDArray, so

`mx.nd.NDArray.wait_to_write = lambda self : _LIB.MXNDArrayWaitToWrite(self.handle)`

Example:

https://github.com/wkcn/MobulaOP/blob/master/mobula_op/glue/mx.py#L28

[2018-07-31 04:57] eric-haibin-lin commented on #8096
https://github.com/apache/incubator-mxnet/pull/11795 might fix it if you have embedding in your network

[2018-07-31 07:10] wang-qun-sen opened #11941 "how to get the gradient which loss function with respect to ReLU layer output feature?"
when i read the paper <<LDMNet: Low Dimensional Manifold Regularized Neural Networks>>,
https://arxiv.org/abs/1711.06246?context=cs
 i got a different regularization iterm which come from the output feature of middle layer Relu. i know it is not like the weight decay , and i have to modify the backward of the gradient, but how to do this ?
![image](https://user-images.githubusercontent.com/2515823

[2018-07-31 09:01] johnsonkee commented on #9084
@eric-haibin-lin
可以的，谢谢。

[2018-07-31 09:44] BenLag2906 opened #11944 "Issue in exporting gluon model"
Hi

I train a CNN with python under mxnet gluon, when i try to use my model exported with command :
"net.export('model', epoch=1) ", mys C++ code crash when i call MXPredsetInput.
My c++ code  works with a SSD model trained on another github.

I am under Windows.

Diag :
----------Python Info----------
('Version      :', '2.7.0')
('Compiler     :', 'MSC v.1500 64 bit (AMD64)')
('Build        :', (

[2018-07-31 10:53] burness commented on #11763
@tuoyuxiang maybe you could po the reproduce code, Now I have no time to reproduce it. Thanks! Or I will do it maybe  two or three week later.

[2018-07-31 13:44] qingyuanxingsi opened #11946 "Detailed TVM System Module Deploy Guide"
Will you give a more detailed guide on how to deploy the compiled library as a System Module, introduced in [this guide](https://docs.tvm.ai/deploy/cpp_deploy.html#dynamic-library-vs-system-module), I found it really painful to figure how to make it really work!

[2018-07-31 15:45] gartentrio commented on #11458
After we ran model.predict() once in the main thread, the hangers disappeared. Maybe this helps.

[2018-07-31 15:59] frankfliu commented on #11720
The issue can be reproduced:
MXNET_TEST_SEED=333426306 nosetests --logging-level=DEBUG --verbose -s tests/python/unittest/test_operator.py:test_laop_3

AssertionError:
Items are not equal:
Error 2056487.529996 exceeds tolerance rtol=0.010000, atol=0.010000.  Location of maximum error:(0, 10), a=20571.134836, b=0.000304
 NUMERICAL_data1: array([[-20571.10127895, -20571.16447819, -20571.15281231, ..

[2018-07-31 16:22] feevos opened #11949 "Confusion in documentation/implementation of F1, MCC metrics"
Dear all,

I was looking at the ```mxnet.metric``` source [code](https://mxnet.incubator.apache.org/_modules/mxnet/metric.html#_BinaryClassificationMetrics) and [documentation](https://mxnet.incubator.apache.org/api/python/metric/metric.html) and I had a bit of confusion on the  F1 and MCC metrics. In particular, if one needs to provide a 1D or a 2D NDArray predictions.  I think, that since for th

[2018-07-31 16:27] piyushghai commented on #11715
Able to reproduce the issue with seed 111913613.

`Traceback (most recent call last):
  File "/home/ubuntu/anaconda3/lib/python3.6/site-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg)
  File "/home/ubuntu/incubator-mxnet/tests/python/unittest/common.py", line 172, in test_new
    orig_test(*args, **kwargs)
  File "/home/ubuntu/incubator-mxnet/tests/python/unittest/test_operat

[2018-07-31 16:54] haojin2 commented on #11946
I think this is an issue related to TVM instead of MXNet, would you please raise the same issue at this repo: https://github.com/dmlc/tvm?

[2018-07-31 17:19] #8583 closed

[2018-07-31 17:25] #7814 closed

[2018-07-31 17:26] #10166 closed

[2018-07-31 17:35] samskalicky commented on #9253
@eric-haibin-lin This issue can be closed now that the PR has been merged

[2018-07-31 17:35] samskalicky commented on #10335
@eric-haibin-lin This issue can be closed now that the PR has been merged for #9253 also

[2018-07-31 17:47] Roshrini commented on #11919
@abhinavs95 Did you try the above suggestions?
@sandeep-krishnamurthy Can you please add label: Performance, Gluon

[2018-07-31 17:54] #1591 closed

[2018-07-31 17:54] #2268 closed

[2018-07-31 17:54] Roshrini commented on #11926
@nswamy Could you please add labels: Bug, Scala, Operator

[2018-07-31 17:55] #4800 closed

[2018-07-31 18:04] nswamy commented on #11926
@andrewfayres ?

[2018-07-31 18:08] Roshrini commented on #11927
@y12uc231 Thanks for trying it out.
For how-to and usability questions, you can use MXNet discuss forum - https://discuss.mxnet.io/ to involve wider community.
We want to use Github issues mainly for bugs and feature request. Feel free to reopen if closed in error.

@sandeep-krishnamurthy Can you please label- Question and close this issue?

[2018-07-31 18:11] andrewfayres commented on #11926
I'll take a look since I happen to be working on custom operator stuff already.

[2018-07-31 18:13] lanking520 commented on #11691
Able to reproduce with `MXNET_TEST_SEED=1444380817`

[2018-07-31 18:14] lanking520 commented on #11692
Able to reproduce `MXNET_SEED: 1327713000`

[2018-07-31 18:19] andrewfayres commented on #10436
Memory leak was a result of the FeedForward predict method not properly disposing of two NDArrays. This was fixed in the PR above. Issue can be closed. @nswamy

[2018-07-31 18:32] vishaalkapoor commented on #10035
@kenjewu Would you mind pasting the code you are using as sxjscience has requested?

[2018-07-31 18:35] piyushghai commented on #9816
@samskalicky Able to reproduce the issue with seeds 111913613, 211508467

`Traceback (most recent call last):
  File "/home/ubuntu/anaconda3/lib/python3.6/site-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg)
  File "/home/ubuntu/incubator-mxnet/tests/python/unittest/common.py", line 172, in test_new
    orig_test(*args, **kwargs)
  File "/home/ubuntu/incubator-mxnet/tests/pyt

[2018-07-31 18:40] Roshrini commented on #11941
@wang-qun-sen Thanks for trying it out with mxnet.
For how-to and usability questions, you can use MXNet discuss forum - https://discuss.mxnet.io/ to involve wider community.
We want to use Github issues mainly for bugs and feature request. Feel free to reopen if closed in error.

@sandeep-krishnamurthy Can you please label- Question and close this issue?

[2018-07-31 18:48] piyushghai commented on #11715
This issue is also tracked in #9816 .

This test fails only for the case where ratio = 0
On checking, `exe.outputs[0].asnumpy().min()` gives the value 0,
while `min_value` is 1.

This seems to be an issue where the dropout operator (with ratio 0) is still dropping some values.

[2018-07-31 18:48] Roshrini commented on #11944
@sandeep-krishnamurthy Can you take a look and could you please add labels- Gluon, Bug

[2018-07-31 18:55] junrushao1994 commented on #11599
Hey any updates?

[2018-07-31 18:58] #11941 closed

[2018-07-31 18:59] #11927 closed

[2018-07-31 19:02] Roshrini commented on #11946
@qingyuanxingsi As mentioned above could you create this issue on tvm repo instead?
@sandeep-krishnamurthy Can you please add label - Doc and close this issue?

[2018-07-31 19:02] kalyc commented on #11685
For this test when seed is not set to 0, [reldiff](https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_executor.py#L23) is `NaN` as `diff` & `norm` = `0.0` & hence we get an assertion error.
When seed is set to 0, we dont get this error as the above mentioned values are non zero.

[2018-07-31 19:07] sampathchanda commented on #4060
@zihaolucky Do you have a git repo or some working example of the same? I am new to both java and scala but trying to deploy an MXNet model using Java. It would be great if you can point me to a working example of the same.

[2018-07-31 19:57] apeforest commented on #11704
I could reproduce the issue using random seed 1306649843.  The issue is accuracy mismatch

[2018-07-31 20:27] sergeykolychev commented on #11680
@haojin2
That was network error in downloading from https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/gluon/dataset/fashion-mnist/train-images-idx3-ubyte.gz
Btw @szha I noticed that all tests re-download all data files every time, back in travis days these were cached, is there any plans to implement caching in the current system ?

[2018-07-31 20:27] vandanavk commented on #11224
https://github.com/dmlc/dmlc-core/pull/433 fixes the issue. Will mxnet's dmlc-core be updated any time soon?

[2018-07-31 20:43] sad- commented on #11099
hi @reminisce was there a pr to make the changes to the error messages? if so can we close out this issue?

[2018-07-31 20:43] lanking520 commented on #11691
After introducing `atol` and `rtol`, issues are gone, will wrap it up and send a PR

[2018-07-31 20:47] sad- commented on #7852
@yzhliu could you help close out this issue as it's been resolved? thanks

[2018-07-31 20:49] #7852 closed

[2018-07-31 21:15] ThomasDelteil commented on #8833
@dbsxdbsx

I modified slightly your code, adding the `expand_dims` and changing the `concat` dim so that your output is indeed
`(batch, label_num, num_class)`

[code]
For example, for `batch=8`, `num_label=4`, `num_classes=10` we indeed get the shape we expect:
[code]
[code]

For the loss, as indicated by @piiswrong it works indeed. For example let's consider the following code:

[code]
[code]

[c

[2018-07-31 21:16] ThomasDelteil commented on #8833
@yzhliu can you please close?
@dbsxdbsx if you want to follow up, please create a post on https://discuss.mxnet.io, thanks!

[2018-07-31 21:25] #8833 closed

[2018-07-31 21:26] ThomasDelteil commented on #8396
@qiliux there is gluon implementation of the FCN available on [GluonCV](https://gluon-cv.mxnet.io/)
- See the tutorial [here](https://gluon-cv.mxnet.io/build/examples_segmentation/train_fcn.html#sphx-glr-build-examples-segmentation-train-fcn-py)
- See the code [here](https://github.com/dmlc/gluon-cv/blob/master/gluoncv/model_zoo/fcn.py)

@yzhliu can you please close?
@qiliux if you would like to f

[2018-07-31 21:26] yzhliu commented on #8833
@dbsxdbsx If you still face problem with Thomas's solution, feel free to reopen or create a post on discuss as Thomas suggested. Close for now. Thanks

[2018-07-31 21:27] #8396 closed

[2018-07-31 21:42] ctcyang commented on #10828
I ran into this issue too. When specifying `USE_S3=1`, an additional dependency of `libcurl-dev` is required by `dmlc-core`. Doing `sudo apt-get install -y libcurl-dev` will install required libraries and the needed header `/usr/local/include/curl/curl.h`.

[2018-07-31 22:12] Ishitori commented on #11165
@solin319, have you tried other approaches, like creating your own custom iterator, which can do the reading in the background? I mean, if you use HDD, then using 48 threads to read random images from disk can significantly reduce the speed. Did you try to reduce the number of threads to, for example, 2, to see the difference in loading speed?

Also, how much processing do you do when you read a r

[2018-07-31 22:34] srochel commented on #11442
@szha is the issue resolved? Do we have tests for proper install?

[2018-07-31 23:16] nswamy commented on #10867
@jessebrizzi thanks for your efforts in trying to solve this memory issue. @andrewfayres started looking into this part of the code(JNI) recently, he might be able to help you.

@lanking520 as FYI.

[2018-07-31 23:50] andrewfayres commented on #10867
@jessebrizzi I actually started looking into this a few days ago. I got a bit sidetracked with something else but I think I should have a solution for you in a day or two.

[2018-08-01 00:01] wkcn commented on #11913
I think `nd.waitall()` should be added after the copy sentence in the loop.

In my test, MXNet 1.3.0 (pip install mxnet), Python 2.7.15
        Threads: 2 cores x 2
	copy: elapsed: 2.46
	copy via add: elapsed: 7.07

[2018-08-01 00:04] roywei commented on #11686
Reproducible using seed: `MXNET_TEST_SEED=1509417289`
Will investigate and try to increase tolerance.
[code]

[2018-08-01 00:06] hetong007 opened #11960 "float16 input with small feature map size breaks nn.Conv2D if padding > 0"
## Description
When training with input image size at 128x128, `Conv2D` with `padding` > 0 will crash.

It is 100% reproducible on my machine, with cuda 9.0, and cudnn 7.1.4. On cudnn 7.0.5 it is not reproduced.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

## Minimum reproducible example
[code]

The above script outputs something like this:

[code]

[2018-08-01 00:12] szha commented on #11442
yes, the scripts are included. since the module is pure python, I manually validated their existence in site-packages after installing.

[2018-08-01 00:17] andrewfayres commented on #11926
Alright, did some investigating. First a workaround, changing the returns in your inferShape and inferType to this seems to get around the problem:
    (Array(data.shape), Array(data.shape), null)
    (Array(data.dtype), Array(data.dtype), null)

Likely the middle could also be null but I didn't test that explicitly. Now for a more in-depth explanation of what's happening. The segfault is happenin

[2018-08-01 00:35] leezu commented on #11938
@TccccD the reason is that `mx.symbol.norm` uses a numerically stable algorithm to compute the 2-norm (https://github.com/apache/incubator-mxnet/pull/11573), whereas the L2Normalization is prone to under or overflow.

Below a shorter example of the problem
[code]

[2018-08-01 00:41] safrooze commented on #8471
I think this issue has already been addressed above. @yzhliu please close this issue.

[2018-08-01 00:47] #11442 closed

[2018-08-01 00:49] safrooze commented on #11842
@rahul003 Have you confirmed if this is a performance issue? If so, can you please remove Question label and add Performance label?

[2018-08-01 02:10] #8471 closed

[2018-08-01 02:17] safrooze commented on #11280
@sandeep-krishnamurthy I don't think this qualifies as a question. The user is simply asking the MXNet team to release the amalgamation binary for android as part of the normal release cycle. I recommend to remove Question label and add Feature Request.

[2018-08-01 02:17] qingyuanxingsi commented on #10219
@Ishitori I will give it a try recently!

[2018-08-01 02:50] safrooze commented on #11079
@BeethovenVirus The answer is no, currently this is not possible. @reminisce please remove Question label  given that the actual question is answered.

[2018-08-01 02:51] TccccD commented on #11938
I define a new square  like this:

In l2_normalization_op-inl.h, I should find a suitable scale, I think the maximum value in in_data is OK.
But I don't know how find the  maximum value in a Tensor data, like Tensor<xpu, 2, DType> data;
could you help me? thanks!
@haojin2 @piiswrong @leezu @anirudh2290 @szha

[2018-08-01 04:04] leezu commented on #11938
@TccccD your contribution to fix the L2Norm Op would be very welcome. Instead of trying to find a suitable scale a-priori (by e.g. looking for the max element) we can also use the scaled sum of squares algorithm added here https://github.com/apache/incubator-mxnet/pull/11573/files#diff-c8275a550b65b889051bd88c27d1e1b7R880 I'm not sure if we can easily use the Reducer interface in legacy-ops though

[2018-08-01 04:21] piyushghai opened #11961 "Model inference outputs not matching across MXNet versions using save_params and load_params"
## Description
Model inference outputs not matching when model is saved on MXNet v1.0.0 and the same model is loaded on MXNet v1.3.0 (built from latest master branch).
The error was observed in the CI run for Model Backwards Compatibility Check and is available here  : http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-backwards-compatibility-checker/detail/restricted-back

[2018-08-01 04:58] safrooze commented on #10269
@rmaria I believe your question is now answered. Please close this issue.

[2018-08-01 05:05] eric-haibin-lin commented on #9136
@jeremiedb I'm not familiar with R but you can look at mxnet/autograd.py to see how it's implemented in python. The C_APIs are shared. Do you have any specific question regarding this? I feel that if we can implement and enable basic tests like the ones in `python/unittest/test_autograd.py` in R, that will be a significant step forward for R.

[2018-08-01 05:07] #10335 closed

[2018-08-01 05:07] #9253 closed

[2018-08-01 06:06] jiajinyu opened #11962 "Distributed and local train have different results when training a wide-deep network."
## Description
We see small but noticeable difference of outputs when we trained a wide-deep network. The difference only happened when we have both deep and wide parts of the network. We only used one worker and have the local command as  `OMP_NUM_THREADS=4 MXNET_CPU_WORKER_NTHREADS=24 python train.py some_other_params` and  distributed command as `OMP_NUM_THREADS=4 MXNET_CPU_WORKER_NTHREADS=24

[2018-08-01 06:45] ZhennanQin commented on #11804
@azai91 , this defect will be addressed within the next sprint, with expected target date ww33.5.

[2018-08-01 07:21] wkcn opened #11964 "[Feature request] There is no converter API from mx.nd.NDArray to DLPack tensor"
Hi, all.

[DLPack](https://github.com/dmlc/dlpack) is important for sharing tensors and operators among Deep Learning Frameworks.

PyTorch provides the API `torch.utils.dlpack.to_dlpack` and `torch.utils.dlpack.from_dlpack`.

MXNet also uses DLPack, however it seems that there is no converter API from mx.nd.NDArray to DLPack tensor ([DLManagedTensor](https://github.com/dmlc/dlpack/blob/master/incl

[2018-08-01 07:46] lupesko commented on #11961
@Roshrini please take a look. This may be another blocker we want to fix for 1.3 release.

[2018-08-01 07:58] TccccD commented on #11938
I tried it , but feels difficult.  This may change a lot of the code。
@leezu

[2018-08-01 08:15] feevos opened #11965 "bug in async training using DCASGD (at least)"
## Description

Dear all, following the [tutorial](https://github.com/indhub/mxnet/blob/e5b89cf9d7c35ac749ed14b54c0faa6dfffa15ef/example/distributed_training/README.md) on distributed training (which runs perfectly in dist_sync mode) I tried to modify it and run in asynchronous mode using DCASGD. The code crashes giving a lot of error messages. The code does not crash when I use other optimizers (

[2018-08-01 09:06] marcoabreu commented on #11961
Reproducible using
[code]

[2018-08-01 10:16] KellenSunderland commented on #11280
I would also see this as more of a feature request.  Apache releases
actually don't generally contain binaries.  These are sometimes provided to
users for convenience.

On the topic of amalgamation I'm not sure what the support status is for
it.  We've recommended a few times that we should deprecate the feature.

On Aug 1, 2018 4:17 AM, "Sina Afrooze" <notifications@github.com> wrote:

@sandeep-k

[2018-08-01 11:37] yuanjunyi commented on #9271
I have the same issue on win7 with mxnet 1.2.0 and python 3.6.6.

[2018-08-01 13:08] adaaaaaa commented on #11610
@yajiedesign gluon's tutorial "cnn-scratch" using mxnet-mkl version 20180731 perform badly...
executed in 3m 40s
while in linux using mxnet-cu92mkl use cpu it executed in 23.8s nearly 10 times less...

[2018-08-01 13:22] sbodenstein opened #11966 "ArgSort binds to a float64 array but forward fails"
`ArgSort` should work on any type, or at least fail during binding if an invalid type is given. But:
[code]
But then:
[code]
This works if `t="float32"`.

[2018-08-01 13:31] sbodenstein opened #11967 "pad layer only works for float32"
Padding is a core structural op that should work for all array types, but fails for any type that is not `float32`:
[code]

[2018-08-01 14:34] marcoabreu commented on #11967
Hello Sebastian,

thanks a lot for noting. Do you think you're able to provide a patch for this?

[2018-08-01 15:02] kohillyang commented on #11610
@adaaaaaa Do you have mkldnn.dll? Or can you tell me where should I find it? Thanks.

[2018-08-01 15:32] leezu commented on #11938
Ok. In general, it is planned to refactor the L2Norm Op completely to improve the interface exposed, but I believe no-one is working on it yet. If/while that is done, making use of the stable Reducer interface would be very easy.

[2018-08-01 15:36] adaaaaaa commented on #11610
no i don't have...the newest version is fine now , don't need to fix the ***.dll now...

[2018-08-01 16:01] apeforest commented on #11704
Assigned JIRA ticket: https://issues.apache.org/jira/browse/MXNET-770

[2018-08-01 16:01] apeforest commented on #11706
Assigned JIRA ticket: https://issues.apache.org/jira/browse/MXNET-770

[2018-08-01 16:09] #11706 closed

[2018-08-01 16:15] haojin2 commented on #11680
@sergeykolychev I'm not sure about that part, maybe @marcoabreu has an answer?

[2018-08-01 16:25] apeforest commented on #11706
Not reproducible on both CPU and GPU. I have re-enabled random seed for this test: https://github.com/apache/incubator-mxnet/pull/11958

[2018-08-01 16:38] lanking520 commented on #11691
After adding `Xavier` initializer, problem solved:
[code]

[2018-08-01 16:39] lanking520 commented on #11692
After adding `Xavier` initializer, problem solved:
[code]

[2018-08-01 16:54] haojin2 commented on #11456
Confirm reproduction using the above seeds. Seems like a tolerance problem to me from the existing incidents, on average a single run takes 7.1 seconds, verifying the new tolerance in the background now.

[2018-08-01 17:30] piyushghai commented on #11721
Ran this test for 100k times and could not reproduce the flakiness.
Raised a PR : https://github.com/apache/incubator-mxnet/pull/11972 to remove the fixed seed.

[2018-08-01 17:31] Roshrini commented on #11967
@sandeep-krishnamurthy Can you please add label: Operator, FeatureRequest

[2018-08-01 17:32] piyushghai commented on #11721
Ran on CPU :
[code]

and  GPU :

[code]

[2018-08-01 17:33] Roshrini commented on #11964
@sandeep-krishnamurthy Can you please add label: FeatureRequest

[2018-08-01 17:57] Roshrini commented on #11938
@anirudh2290 Can you please add label to this issue: Operator, FeatureRequest

[2018-08-01 17:59] Roshrini commented on #11966
Thanks for finding and reporting this issue.
@anirudh2290 Can you please add labels: Operator, Bug

[2018-08-01 18:01] Roshrini commented on #11965
Thanks for reporting this issue.
@nswamy Can you please add labels: Bug, Distributed, Optimizer

[2018-08-01 18:05] haojin2 commented on #11717
Fix is merged now, should be good to close.

[2018-08-01 18:13] anirudh2290 commented on #10973
has been fixed as part of #11630

[2018-08-01 18:30] Roshrini commented on #11949
@feevos Thanks for reporting this issue.
@sandeep-krishnamurthy Can you please add labels: Doc, Metric

[2018-08-01 18:37] #11150 closed

[2018-08-01 18:38] Roshrini commented on #11961
@piyushghai Thanks for reporting this issue.
Looking into it.
@sandeep-krishnamurthy Can you please add label: Bug

[2018-08-01 18:54] nswamy commented on #11727
Removed the seed and ran test for 100K no issue here, will submit a PR removing the seed with another test I am looking into

[2018-08-01 18:58] larroy opened #11973 "control flow operator tests failing on Linux and Windows"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-08-01 19:41] piyushghai commented on #11715
On running this on CPU, the flaky error is reproducible, as mentioned in the above comments.
On running this on GPU for 100k times, the test does not fail.

[code]

On running on GPU with the failure seeds for CPU : 111913613, 211508467, 1329041279, the test still does not fail.

[code]

[2018-08-01 19:41] piyushghai commented on #9816
On running this on CPU, the flaky error is reproducible, as mentioned in the above comments.
On running this on GPU for 100k times, the test does not fail.

[code]

On running on GPU with the failure seeds for CPU : 111913613, 211508467, 1329041279, the test still does not fail.

[code]

[2018-08-01 20:12] Ishitori commented on #10016
@kandoiNikhil, did you find the reason?

if you don't have this problem anymore, can you please close the ticket?

[2018-08-01 20:34] #11717 closed

[2018-08-01 20:35] junrushao1994 commented on #11973
CC @zheng-da seems that `foreach`, `while_loop` and `cond` all fail.

[2018-08-01 20:35] bhavinthaker opened #11977 "Feature request: Enable or Disable MKL-DNN in MXNet via environment variable at module load time"
Feature request: Enable or Disable MKL-DNN in MXNet via environment variable at module load time

It would be helpful to have the capability to enable or disable MKL-DNN in MXNet via an environment variable at module load time so that customers can test if an operator's functional behavior or performance is due to the implementation in MKL-DNN or not. When the environment variable is off, the oper

[2018-08-01 20:52] roywei commented on #11686
#11978  should fix it

[2018-08-01 20:53] roywei commented on #11685
after change with #11978 , this test still fails with:
[code]

error message:
[code]

[2018-08-01 20:55] junrushao1994 commented on #11973
Hi @larroy,

Thank you so much for the valuable feedback! It seems that it fails many many testcases in control flow operators. Could you help to provide more information:
1. Does it work when compiled with the default Makefile with default flags?
2. Does it happen every time (deterministic failure or from time to time (flaky test)

Thank you so much!

[2018-08-01 21:00] srochel commented on #11977
Please clarify default behavior - I would expect that MKL-DNN should be enabled by default.

[2018-08-01 21:18] anirudhacharya commented on #11509
Update on this issue -

I ran this test case ~5k times for different scenarios on a Linux GPU machine (EC2 p2.8x large instance). Currently the reasons for test failure are -
1. ``check_numeric_gradient`` has precision issues when run with np.float16 and np.float32. I have updated set of atol and rtol values that can fix this. But the new atol and rtol values still have to be verified with repeate

[2018-08-01 21:26] mdespriee commented on #11926
@andrewfayres This workaround is working, thank you.

[2018-08-01 21:49] #11721 closed

[2018-08-01 21:55] marcoabreu commented on #11680
We thought about it but didn't have time to work on it. We will need a cache server for our edge devices most likely anyways, so we will probably then just use the same cache server for both locations.

[2018-08-01 22:07] marcoabreu commented on #11977
I think the idea is to basically have multiple versions of an operator available and then have the possibility to select the desired version during runtime.

The default behavior could be that we have an auto tuning stage which determins the performance of each version. It would then choose the most optimal graph without requiring to recompile everything.

[2018-08-01 22:15] hdjsjyl opened #11980 "new rcnn code, gpu memory is increasing and gpu utility is very low, what is the reason?"
Thanks for your better work.
Compared with old rcnn version, new version code occupies more memory and it keeps increasing. For me,  it is very strange. Do you know what is the reason?

[2018-08-01 22:33] cclauss commented on #8270
flake8 testing of https://github.com/apache/incubator-mxnet on Python 3.7.0

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-08-01 22:52] vandanavk commented on #8270
@cclauss I'm working on fixing these errors. Will add you to the PRs as I submit them.

[2018-08-01 22:54] andrewfayres commented on #11926
Happy to help. I've added a task to fix the JNI code to our backlog (https://issues.apache.org/jira/browse/MXNET-773).

@nswamy You can close this issue. Customer is unblocked and we're tracking the bug in jira.

[2018-08-01 22:55] mseth10 commented on #11737
Fix in #11981

[2018-08-01 22:57] Roshrini commented on #11961
I was able to reproduce this issue. Need to debug more to see why its happening.

@szha Have you observed this before or have any idea about why it may be happening?

[2018-08-01 23:06] vandanavk commented on #8270
Pylint reports undefined variables when there is a wildcard import. The list from Pylint is at https://github.com/apache/incubator-mxnet/issues/11904

[2018-08-02 00:02] rahul003 commented on #11842
For CIFAR I had observed similar performance.

Here's a related thread with my observations and logs of nvprof.
https://github.com/apache/incubator-mxnet/issues/9774#issuecomment-366835890
I was told here that the dimensions of convolutions for CIFAR are not suitable for tensor cores. https://github.com/apache/incubator-mxnet/issues/9774#issuecomment-367057821

I'm not sure if we can improve fp16

[2018-08-02 00:14] vrakesh commented on #11694
Ran it on a EC2 GPU instance for 25K runs, with random seeds, all of them pass. I guess we can enable random seeds, the test does not seem flaky

[2018-08-02 00:15] vrakesh commented on #11700
Ran it on a EC2 GPU instance for 25K runs, with random seeds, all of them pass. I guess we can enable random seeds, the test does not seem flaky.

[2018-08-02 00:26] haojin2 commented on #11599
Fix in #11983

[2018-08-02 00:30] roywei commented on #11705
Removed fixed seed. Passed 50,000 runs. Re-enabled test with PR #11979 .
Please reopen if this test has regression and become flaky.

[2018-08-02 00:37] junrushao1994 commented on #11599
Thank you @haojin2! You rock!

[2018-08-02 00:40] junrushao1994 commented on #11599
Will close the issue once #11983 is merged

[2018-08-02 00:43] eric-haibin-lin commented on #8866
i can help take a look

[2018-08-02 01:38] wenxueliu opened #11987 "mxnet cannot support CPU only?"
code in the src/storage/storage.cc, the 137 line show

[code]

when I build from source, and everthing is ok, but when I run it, it get follow error:

[code]

[2018-08-02 01:39] lanking520 opened #11988 "Scala OSX unittest failure"
Currently Scala unittest is failed on master branch due to the missing links on the native packages. Open this issue to track the update on the fixes.

@nswamy @yzhliu @andrewfayres
[code]

[2018-08-02 02:04] feevos commented on #9288
Hi to all,

@safrooze  gave the solution in this [topic](https://discuss.mxnet.io/t/coordconv-layer/1394/4) in the discussion forum. The trick is to overwrite the forward function, and getting the layer shape in there. Example

[code]

Thank you to the community, am closing this.

[2018-08-02 02:11] feevos commented on #9288
PS And this is an (hybrid-able) implementation of the pyramid scene parsing module, users need to write their own Conv2DNormed HybridBlock layer (basically, convolution + NormLayer (Batch/Instance etc). Here I assume that input is the format (Batch,NChannels, H, W), with H == W. Trivial to modify for H != W

[code]

[2018-08-02 02:15] zheng-da commented on #11973
It seems I can't reproduce the bug. Can you double check if all submodules are updated?

[2018-08-02 02:54] feevos commented on #9288
Nope, it doesn't work if we feed another HybridBlock as input. See forum discussion.

[2018-08-02 03:29] pengzhao-intel commented on #11977
@bhavinthaker This is a good idea for the performance optimization.

As @srochel suggestions, the MKL-DNN is enabled by default, and you can switch it off to see the performance change. But switch all MKL-DNN on/off may don't have too much difference with the built binary w/ and w/o MKL-DNN .

One possible solution is to provide more fine level control (or auto-tuning), such as environment variabl

[2018-08-02 03:48] daedaesplayground1911 opened #11992 "Android Hacks"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-08-02 03:48] daedaesplayground1911 opened #11993 "Android Hacks"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-08-02 03:51] daedaesplayground1911 commented on #11993
Send me basic instrustructions on different ways to hack an Android device depending upon what it is that I'm trying to do.

[2018-08-02 03:54] nswamy commented on #11926
@mdespriee thanks for raising this issue and glad to hear the workaround worked, i am curious to know about your use-case ?

[2018-08-02 04:31] cclauss commented on #11904
Thanks.  I am learning more about pylint from your approach here.

Have you tried doing __python3 -m pylint ...__ ?

basestring, long, raw_input, unicode, xrange, etc. are defined names in Python 2 but not in Python 3.

[2018-08-02 04:58] anirudhacharya commented on #11924
@gulinlin can you please provide more information like what environment you are running it on? and provide a steps to reproduce the error.

@mxnet-label-bot please label : [Pending Requester Info]

[2018-08-02 05:06] yajiedesign commented on #11610
@adaaaaaa i don't know,do you can test mxnet-cu92mkl in windows?

[2018-08-02 06:02] TaoLv commented on #11977
Good idea! Seems we can use environment variables to make one or all mkldnn operators fall back to mxnet original implementation. This can be done simply by changing the SupportXXX function of mkldnn operator?
I think this can help to do functionality or performance debug. But performance auto tuning is another topic which need more high level solution.

[2018-08-02 06:02] haojin2 commented on #11987
This is the code for the GPU code: https://github.com/apache/incubator-mxnet/blob/master/src/storage/storage.cc#L117. Can you share a minimal reproduction script for your error?

[2018-08-02 06:08] haojin2 commented on #11699
Fix delivered in #11995

[2018-08-02 06:09] haojin2 commented on #11698
Fix delivered in #11995.

[2018-08-02 06:54] EternalSaga commented on #10049
Yes, this issue could be closed.

[2018-08-02 07:03] ZhennanQin commented on #11977
Yeah, this can be done by changing SupportMKLDNN function, and also can be done in FInferStorageType.

[2018-08-02 08:51] marcoabreu opened #11998 "Flaky test MKLDNN_BASE.MKLDNNSum"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1319/pipeline
Cpp: MKLDNN+GPU
[code]

[2018-08-02 08:51] marcoabreu commented on #11998
@Pengzhao-intel

[2018-08-02 09:00] marcoabreu opened #11999 "Corrupt docker tar in CI"
During docker pull, the CI fails to download the docker layers:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1321/pipeline
[code]

This could be an error on our side, but I rather think that our slaves had a problematic internet connection. If you have a look at the pasted CI run, you will see that there have been other download corruptions:
[code]

[2018-08-02 09:10] arogozhnikov commented on #11964
`cupy` (version > 5) also supports dlpack.

[2018-08-02 09:51] pengzhao-intel commented on #11998
@jinhuang415 please help take a look for this issue.

[2018-08-02 11:53] larroy commented on #11973
This fails on windows:  branch "windows" on my fork.

To reproduce do:

python ci\build_windows.py
ci/windows/test_py3_cpu.ps1

[code]

[2018-08-02 12:10] wkcn commented on #11913
@safrooze
I modified the code then test it.
Here is the code I modified.

[code]

And I test the code you provided,
the elapsed time of copy is almost invariable.
But the elapsed copy via add is around 4.

The reason that I changed the code is that the computation of NDArray is lazy.
The script `b = a + 0.0` only records this operation but there is no actual computation until `nd.waitall` is calle

[2018-08-02 12:33] larroy commented on #11973
And in linux:

(mxnet_py3) piotr@oruga:0:~/devel/mxnet/mxnet/tests/python/unittest (flaky)+$ nosetests test_contrib_control_flow.py

[code]

[2018-08-02 12:45] larroy commented on #11973
Could it be outdated TVM / nnvm subrepo? I can't always reproduce

[2018-08-02 12:48] larroy commented on #11973
Tested on a clean repo, got the failure again.

tvm @ commit 290226e1c9adbb3e598f9ed9184018df1c12be33
Author: Jian Weng <werefluke@gmail.com>
Date:   Fri Jun 22 13:47:45 2018 -0700

    [FRONTEND] A Python hybrid frontend (#1251)

[code]

[2018-08-02 12:48] larroy commented on #11973
Built with:

[code]

[code]

[2018-08-02 13:48] mdespriee commented on #11926
@nswamy Sure.
We have a quite big predictive pipeline, working on CRM data (we're in the marketing intelligence business). It's mainly based on an unsupervised phase (clustering, collaborative...) followed by a logistic reg. This pipeline has been built for years, using quite low level operations (linear algebra, in python).
We'd like to evolve our technologies and approach.
Not surprisingly the s

[2018-08-02 13:57] dbsxdbsx commented on #8833
@ThomasDelteil ,thanks for your so concrete description. I would check it by following your suggestion.

[2018-08-02 14:15] sbodenstein commented on #11967
@marcoabreu: yes, I will by next week.

[2018-08-02 14:17] marcoabreu commented on #11967
Great! Looking forward to it, thank you.

[2018-08-02 15:17] kaleidoscopical opened #12001 "SyncBatchNorm problems"
It runs into a fail of asnumpy() when I simply replace BatchNorm() to contrib.SyncBatchNorm(). Could anyone explain how to use the new function?

[2018-08-02 15:28] #10049 closed

[2018-08-02 15:53] alexmosc opened #12002 "How do I properly dimensionalize my array and tune `rnn.graph.unroll` to make the LSTM work for this multidimensional sequence"
It is essentially a call for help rather than code-related issue.

Assume a matrix with 5 rows and 20 columns. Each column is a sample of a multivariate timeseries. Each row is one dimension of the multivariate timeseries.

I have also a vector of 20 output values.

I am trying to build an LSTM model with sequence length = 20 which would iterate over samples 1 to 20 and regress output values assoc

[2018-08-02 15:58] #9743 closed

[2018-08-02 16:14] zheng-da commented on #11973
I saw the same errors when the tvm submodule was out-of-date. After I updated tvm, it works fine. I'll try on a new instance and follow your exact instructions.

[2018-08-02 16:56] haojin2 commented on #12001
@zhanghang1989

[2018-08-02 16:56] lanking520 commented on #11988
Problem fixed now. Please reopen if you are facing something like this again.

[2018-08-02 17:05] haojin2 commented on #11966
Related issue: #11156, the root cause for this issue is that topk implementation only supports float32.

[2018-08-02 17:09] #11705 closed

[2018-08-02 17:11] #11686 closed

[2018-08-02 17:30] mseth10 commented on #11735
Fix in #12003

[2018-08-02 18:01] anirudhacharya commented on #10194
@spidyDev please close this issue as it has been addressed. documentation for the change - https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html?highlight=poolin#mxnet.ndarray.Pooling

[2018-08-02 18:10] Roshrini commented on #11961
Seems like the tolerance level is not set in the mentioned test.. The difference seen in the values is after 7th decimal point which is acceptable.

Output I got:
old_inference_results:
[[-0.22245485 -0.60762584]
 [-0.18619929 -0.4941083 ]
 [-0.2614998  -0.4940931 ]
 [-0.23192915 -0.4607012 ]
 [-0.22917394 -0.4702541 ]
 [-0.03644256 -0.5791895 ]
 [-0.06653443 -0.5936823 ]
 [-0.27859935 -0.55876964

[2018-08-02 18:29] piyushghai commented on #11961
@Roshrini Created the PR : https://github.com/apache/incubator-mxnet/pull/12006

[2018-08-02 18:37] ankkhedia commented on #9952
@KishoreKarunakaran The latest prebuilt mxnet-cu90 binary for win10 haas been updated. You can take a look at install instructions. Also the instructions for building it from source has been updates. Feel free to try it out and let  me know if you face any issue.

@sandeep-krishnamurthy  Could you please close this issue as it has been resolved.

[2018-08-02 18:39] ankkhedia commented on #8936
Hi @alihashmiii @mayer79 @nicolasjamet
The latest prebuilt mxnet-cu90, cu80, cu91 and cu91 binary for win10 haas been updated. You can take a look at install instructions. Also the instructions for building it from source has been updates. Feel free to try it out and let me know if you face any issue

@sandeep-krishnamurthy Could you please close this issue as it has been resolved.

@alihashmiii @

[2018-08-02 18:40] vandanavk commented on #11904
@cclauss I tried Python3 too. The only difference I saw was that the undefined errors related to exceptions didn't occur.

[2018-08-02 18:41] ankkhedia commented on #8927
Hi @whatever1983
The latest prebuilt mxnet-cu90, cu80, cu91 and cu91 binary for win10 haas been updated. You can take a look at install instructions. Also the instructions for building it from source has been updates. Feel free to try it out and let me know if you face any issue

@sandeep-krishnamurthy Could you please close this issue as it has been resolved.

@whatever1983
 Please feel free to r

[2018-08-02 18:44] kalyc commented on #11685
On further examination, @roywei's changes are failing on this check -
`
check_bind_with_uniform(lambda x, y: np.maximum(x, y),
           lambda g, x, y: (g * (x>y), g * (y>x)),
            dim,
            sf=mx.symbol.maximum)
`
on lines - https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_executor.py#L99-L102

[2018-08-02 18:48] ijkguo commented on #11980
Are you comparing memory footprint with the same MXNet build?

[2018-08-02 18:50] hdjsjyl commented on #11980
@ijkguo  yes, I use the same setting other than rcnn framework.

[2018-08-02 19:00] andrewfayres commented on #11725
Test is failing for the cbrt operator using seeds 2079653345 and 622837949. In both cases the error looks to occur when the random number generator creates very small numbers like 3.97272133e-05 and 5.99873512e-05.

[2018-08-02 19:08] zhanghang1989 commented on #12001
The `SyncBN` is implemented in a blocking way. Please use `DataParallelModel` in https://github.com/dmlc/gluon-cv/blob/master/gluoncv/utils/parallel.py#L11 for debugging, printing or `asnumpy`.

[2018-08-02 20:45] Roshrini commented on #11973
@sandeep-krishnamurthy Can you please add label: CI, Test

[2018-08-02 20:46] Roshrini commented on #11977
@sandeep-krishnamurthy Can you please add label: FeatureRequest

[2018-08-02 20:50] Roshrini commented on #11992
Seems like a duplicate issue: https://github.com/apache/incubator-mxnet/issues/11993
@nswamy Can you please close this one?

[2018-08-02 20:52] zheng-da commented on #11973
i created a new instance and followed your instructions again. I could reproduce the problem. However, after I tried compiling with Makefile, (which leads me to install atlas), I couldn't reproduce the problem any more. I'm wondering if the problem is related to the BLAS library. could you check what BLAS library do you use?

[2018-08-02 20:53] Roshrini commented on #11993
@daedaesplayground1911 Can you please provide more details about what you are trying to do?

For how-to and usability questions, you can use MXNet discuss forum - https://discuss.mxnet.io/ to involve wider community. We want to use Github issues mainly for bugs and feature request.

@nswamy Can you please add label: Question

[2018-08-02 20:56] Roshrini commented on #12002
@alexmosc Thanks for trying it out.
For how-to and usability questions, please use MXNet discuss forum - https://discuss.mxnet.io/ to involve wider community.
We want to use Github issues mainly for bugs and feature request. Feel free to reopen if closed in error.

@sandeep-krishnamurthy Can you add labels: Question, RNN, R and close this issue?

[2018-08-02 20:59] #12002 closed

[2018-08-02 21:04] Ishitori commented on #9621
Fix has been merged.

[2018-08-02 21:04] #9621 closed

[2018-08-02 21:06] Roshrini commented on #11980
@sandeep-krishnamurthy Can you please add labels: Memory, Question

[2018-08-02 21:11] Roshrini commented on #12001
@nswamy  Can you please add label: Question

[2018-08-02 21:16] larroy commented on #11973
@zheng-da I had the same situation. But then I reproduced on a fresh repo after making sure subs are updated. I'm not sure what's going on.

[2018-08-02 21:29] hdjsjyl commented on #11980
Thanks for your complete explanation. I am using Faster-RCNN to do face
detection. I need to add some tricks and change the network structure. So
if the basic Faster-RCNN occupies much memory, it is not good for me. So I
think the old one is more suitable for me.  But the new Faster-RCNN code is
easier to read and modify. Thanks for your excellent work.

On Thu, Aug 2, 2018 at 2:25 PM, Jian Guo <n

[2018-08-02 21:30] haojin2 commented on #10227
Happened again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11986/2/pipeline
[code]

[2018-08-02 21:40] hdjsjyl commented on #11980
@ijkguo  And I found another problem of old rcnn code. Sometimes, when I resume and continue to train the network, the program will be still, no gpu utility, no output, and occupied gpu memory is unchanged. And I only can stop and restart it. I check the code multiple times and modify some code. The problem still exists. It is strange for me. So I am always looking forward to new rcnn version code

[2018-08-02 21:52] Roshrini commented on #11987
@sandeep-krishnamurthy Can you please add label: Pending Requester Info

[2018-08-02 21:57] adaaaaaa commented on #11610
no...cuda is too big...i'm not going to try it in windows...
in Windows,i'm sure mxnet-mkl using cpu to executed "cnn-scratch" in 3m 40s
and in Linux using gpu to executed "cnn-scratch" in 5.9s,
in Linux using cpu to executed "cnn-scratch" in 23.8s.

[2018-08-02 22:04] adaaaaaa commented on #11610
really a big space to improve...
while other interesting things is i test single float point in aida64...
it shows that 1070ti is 10 times faster than i7-8700K
while in Linux "cnn-scratch benchmark" it's only 4 times faster...
something wrong in gpu version in mxnet?

[2018-08-02 22:12] ijkguo commented on #11980
This may not be a problem of rcnn alone. My observation is that program hang are usually related to nvidia driver.

[2018-08-02 22:14] hdjsjyl commented on #11980
That is a good point for me. Thank you very much.

On Thu, Aug 2, 2018 at 5:12 PM Jian Guo <notifications@github.com> wrote:

--
Best wishes!
Lei Shi

[2018-08-02 22:16] zheng-da commented on #11973
it seems there are some conflicts with blas.

[2018-08-02 22:29] zhreshold opened #12009 "F.pick operator don't support negative indices and silently clip out of range indices"
## Description
F.pick operator don't support negative indices

## Minimum reproducible example
[code]
Clearly that out of range indices are clipped without any warning.

## What have you tried to solve it?

Like other operators, nd/sym.pick should support negative indices rather than clip the indices, out of range indices should raise error.

[2018-08-02 22:30] aaronmarkham commented on #11932
@liyujiel - in #11435 you deleted the file: /example/model-parallel/lstm/lstm.py
Can you point to the new resource and/or update the FAQ?

[2018-08-02 22:42] zhreshold commented on #11944
@BenLag2906 Can you post the C++ crash back trace? So I assume you are having problem running c++ inference, not gluon export right?

[2018-08-02 22:47] zhreshold commented on #11763
See https://github.com/apache/incubator-mxnet/issues/11872

You shared memory is full then the program is stuck waiting more data to train.

[2018-08-02 22:49] zhreshold commented on #11763
@burness I am closing this issue as it's related to a more general issue rather than SSD training specifically. If you cannot fix the problem following #11872, feel free to ping me.

[2018-08-02 22:49] #11763 closed

[2018-08-02 23:16] kaleidoscopical commented on #12001
@zhanghang1989 It seems unsuitable for non-gluon users. Any suggestions?

[2018-08-02 23:20] aaronmarkham opened #12013 "scala docs broken links"
There are some broken links in the scala docs. What's happening is that that links are too long, and the scala linter won't let the files pass lint. So various people, myself included, have attempted a variety of hacks on the URLs to get pass the linter and still be functional.

Does anyone know the trick for handling these longer URLs - get them to pass lint and not be broken after scaladocs conv

[2018-08-02 23:39] nswamy commented on #11926
@mdespriee Thanks for explaining your use-case, looks very interesting and yes MXNet is perfect for such a use-case.
With regards to your needs:
We have some some basic version of RNN(LSTM) support in [MXNet-Scala RNN examples](https://github.com/apache/incubator-mxnet/tree/master/scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn)

We are aware of a few issues with this and workin

[2018-08-02 23:59] nswamy commented on #11993
@daedaesplayground1911 I am closing this issue since it does not have any details on what the issue is.

[2018-08-02 23:59] #11993 closed

[2018-08-02 23:59] nswamy commented on #11992
@daedaesplayground1911 I am closing this issue since it does not have any details on what the issue is.

[2018-08-02 23:59] #11992 closed

[2018-08-03 00:01] Roshrini commented on #12013
@nswamy Can you please add label: Doc, Scala

[2018-08-03 00:02] nswamy commented on #11962
@jiajinyu Could you please provide a minimum reproducible code?

[2018-08-03 00:03] lanking520 commented on #12013
Hi @aaronmarkham do you know why there are `%0A%20%20%20%20` in the middle, I tried to remove then and it directed to the correct folder?

[2018-08-03 00:31] liyujiel commented on #11932
@aaronmarkham @y12uc231  I removed old LSTM examples because it not work during logic problem. We should create a new example for parallel LSTM.

[2018-08-03 00:58] y12uc231 commented on #11927
Thanks @Roshrini for the suggestion, didnt know about the discussion forum. Apologies for the trouble .

[2018-08-03 01:01] aaronmarkham commented on #12013
Well, URL shorteners are cool but then there's the matter of control of link and if that resource goes offline. You won't know where it was going.

Those spaces were probably an attempt to make a new line with \ but still have the link work. I tried something different and the link worked in the scaladoc output, but then somehow still shows up broken with the BLC.

[2018-08-03 01:02] aaronmarkham commented on #11932
So does that mean that whole FAQ should be taken offline? Or just reworded to not include an example?

[2018-08-03 01:13] jiajinyu commented on #11962
@nswamy thanks for working on it. The whole program is mixed with our custom logic like new data parser etc. so it is very hard to provide a minimum  reproducible code.

All I am asking is some suggestions from the community on how to further debug the issue. For an example, what states/variables of which class I should check to find out the root cause of the problem.

[2018-08-03 01:14] liyujiel commented on #11932
I vote for reworded. People can still check and use it.

[2018-08-03 01:26] zachgk commented on #11702
Ran `tests/python/unittest/test_loss.py:test_squared_hinge_loss` and `tests/python/gpu/test_operator_gpu.py:test_squared_hinge_loss` 10k times each and could not reproduce flakiness
Raised a PR [#12017](https://github.com/apache/incubator-mxnet/pull/12017) to remove the fixed seed

CPU Run:
[code]

GPU Run:
[code]

[2018-08-03 01:30] szha opened #12018 "onnx converter error"
reported at https://discuss.gluon.ai/t/topic/7396/3, the loading of [shufflenet from onnx model zoo](https://github.com/onnx/models/tree/master/shufflenet) into mxnet fails.

[2018-08-03 01:31] szha commented on #12018
The reported error message:
[code]

[2018-08-03 01:48] zachgk commented on #11695
I ran the test numerous times.  It only failed at one instance with the original tolerance, however I did not record the seed that caused the failure.  After ~40k additional iterations, I have been unable to reproduce another failure with the original tolerance.  However, the increased tolerance would have accepted that failure, so I updated it.

I then ran `tests/python/unittest/test_loss.py:test

[2018-08-03 01:57] zhanghang1989 commented on #12001
I am not familiar with Symbol API. Can someone help this?

[2018-08-03 07:13] sandipmgiri opened #12021 "UnboundLocalError: local variable 'label' referenced before assignment"
## Description
Following 2 tests are failing with error `UnboundLocalError: local variable 'label' referenced before assignment`

1. tests/python/unittest/test_image.py::TestImage::test_det_augmenters <- /mxnet/tests/python/unittest/test_image.py FAILED
2. tests/python/unittest/test_image.py::TestImage::test_image_detiter <- /mxnet/tests/python/unittest/test_image.py FAILED

## Environment info (R

[2018-08-03 07:28] pengzhao-intel commented on #11610
@adaaaaaa @kohillyang where is cnn-scratch?

[2018-08-03 07:43] BenLag2906 commented on #11944
Hi,
Not sure because as I said other model like ssd run with this c++ code.
I give you my trace. Maybe a model gluon exported is not compatible with my mxnet if i refered to the stack trace.

[2018-08-03 07:44] BenLag2906 commented on #11944
[esi.av1.engine_1.0.0_mvsrexyh-996274368.zip](https://github.com/apache/incubator-mxnet/files/2256484/esi.av1.engine_1.0.0_mvsrexyh-996274368.zip)
![mxnet](https://user-images.githubusercontent.com/26578899/43630861-cbd9f424-9701-11e8-8e62-767825d22af7.jpg)

[2018-08-03 09:35] adaaaaaa commented on #11610
other "benchmark" is the latest tutorial's lenet tutorial...
in Windows,using mxnet-mkl,cpu,executed in 26,27s every epoch
in Linux,using mxnet-cu92mkl,cpu,executed in 3.5 to 3.9s every epoch;
gpu,executed in 1.2 to 1.4s every epoch...
@yajiedesign @pengzhao-intel

[2018-08-03 10:43] marcoabreu commented on #11120
Happened again: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTests_onBinaries/detail/NightlyTests_onBinaries/102/pipeline

[2018-08-03 11:00] marcoabreu commented on #9856
Reopening due to http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1325/pipeline
Python3: GPU:
[code]

[2018-08-03 13:49] sabrinamehlal commented on #1516
Could you help me, and give me some examples of Adam's implementation in C++? I'm looking for that in MLPACK, but it's really don't clear.

[2018-08-03 14:50] pengzhao-intel commented on #11747
sorry, I missed this one previously.
@xinyu-intel will keep looking the issue.

[2018-08-03 15:10] ThomasDelteil commented on #11120
Looks like the sleep(1.1) got removed as far as I can see.

On Fri, Aug 3, 2018, 03:44 Marco de Abreu <notifications@github.com> wrote:

[2018-08-03 16:37] apeforest commented on #11704
Fixed unit test and added training test. PR: https://github.com/apache/incubator-mxnet/pull/12023

[2018-08-03 16:42] piyushghai commented on #11961
Looks like the build has passed now after the PR Merge.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-backwards-compatibility-checker/detail/restricted-backwards-compatibility-checker/5/pipeline

[2018-08-03 19:48] David-Levinthal opened #12024 "Python, Bug: Speech_recognition crashes in threaded_engine.h:379: Error: compute_ctc_loss, stat = execution failed"
Any insights in how to fix this would be greatly appreciated
## Description
Speech_recognition training on LibriSpeech crashes in threaded_engine.h:379: Error: compute_ctc_loss, stat = execution failed.
## Environment info (Required)
ubuntu 16.04, cuda 9.2 Cudnn7.1.4, nccl 2.1.2 4 Nvidia V100s, CUDA_VISIBLE_DEVICES=0
deepspeech.cfg set to only use 1 GPU

[code]

Package used (Python/R/Scala/Julia)

[2018-08-03 20:03] zhreshold commented on #11944
The logs are not readable.
Basically if you are using the same mxnet for gluon and c++ inference, it should be fine.
If you can post the json file exported by gluon, I can have a look.

[2018-08-03 22:50] szha commented on #11644
I haven't seen this issue for a while now. @marcoabreu I'm OK with closing this.

[2018-08-03 22:51] szha commented on #9686
#11953

[2018-08-03 23:25] anirudhacharya commented on #11509
With regards to the hanging ``check_numeric_gradient`` -

It is not reproducible when I run it in a single-threaded environment with ``MXNET_TEST_COUNT=500 MXNET_ENGINE_TYPE=NaiveEngine nosetests --nocapture --verbose tests/python/unittest/test_operator.py:test_norm``.

It only hangs in a multi-threaded environment, due to resource contention. I have been using ``strace -p <PID>`` to inspect the s

[2018-08-04 00:01] szha opened #12028 "flaky test test_quantization.test_quantize_float32_to_int8"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12026/2/pipeline/881

[2018-08-04 01:25] marcoabreu commented on #12028
Would you mind disabling the test?

[2018-08-04 02:42] idealboy opened #12029 "The performance between different version"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-08-04 02:43] idealboy commented on #12029
when I do inferrence in 1.2.1(cuda9.1+cudnn7.1+nccl2.2) with model trained in 0.9.3(cuda8.0+cudnn5.1), it has a low performance(~1500ms on cpu, ~300ms on gpu),

but, when I do inference in 1.2.1(cuda9.1+cudnn7.1+nccl2.2) with model trained by itself, it's (<300ms on cpu, <100ms on gpu)

I use resnet-34, inferrence on v100 gpu

Thank you very much!

[2018-08-04 02:53] idealboy commented on #12029
It seems it has same performance on P40 and v100 in inference, Idont know why?  when train in 1.2.1, it has about 3400samples / sec with v100(x8) , about 650samples/sec with v100(x1), I don,t know whether it is normal? thank you very much!

[2018-08-04 03:04] idealboy commented on #12029
sorry, please help to close this issue

[2018-08-04 03:25] apeforest commented on #11704
@szha PR is merged. Please verify and close this issue. Thanks!

[2018-08-04 03:46] #9192 closed

[2018-08-04 03:46] tqchen commented on #9192
close as issue is already resolved

[2018-08-04 04:58] eric-haibin-lin commented on #11796
I'm adding cublas strided gemm calls in mshadow https://github.com/dmlc/mshadow/pull/353

[2018-08-04 04:59] nswamy commented on #11726
ran the test 100K on CPU, no issue on CPU. Running on GPU fails after 5-10 iterations. Identifying which dType causes the test to fail in DEBUG mode.

[2018-08-04 05:06] huyangc opened #12030 "What happen when I group two same model together and train it?"
For example:
[code]
My code is something like above. Both resnet 50 is initialized by the same initializer. However, the outputs of these two softmax are different in the begining, Something likes 27.x vs 21.x

It is very strange I think.

[2018-08-04 05:15] eric-haibin-lin commented on #10455
@majia-yu do you mind providing a minimum reproducible example?

[2018-08-04 05:43] #9911 closed

[2018-08-04 13:53] BenLag2906 commented on #11944
Hi,
The json was in my zip file, in first post.
I try two version of mxnet without succes..

[2018-08-04 14:47] gulinlin opened #12032 "mxnet"
Error: package or namespace load failed for 'mxnet':
 .onLoad failed in loadNamespace() for 'mxnet', details:
  call: dyn.load(file, DLLpath = DLLpath, ...)
  error: unable to load shared object '/mnt/data/gulinlin/software/NR/lib64/R/library/mxnet/libs/libmxnet.so':
  libopencv_imgcodecs.so.3.2: cannot open shared object file: No such file or directory
can you help me?

[2018-08-04 15:33] starimpact opened #12033 "Some design proposals from me"
hi, guys,
i have performed some design proposals in the confluence space.
see the following links:
KVStore for Distributed Model Parallel FC(nsoftmax)
https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=89066589

KVStore for Partial FC(nsoftmax) for Large Scale Data Training
https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=89066594

End2End Fixpoint Finetuning Plug-In

[2018-08-04 17:00] #11699 closed, assigned to nobody

[2018-08-04 17:18] eric-haibin-lin commented on #1516
in https://github.com/apache/incubator-mxnet/blob/master/src/operator/optimizer_op-inl.h#L841

[2018-08-04 19:17] #10873 closed, assigned to nobody

[2018-08-05 00:45] JohnCalhoun commented on #5659
I am also having this issue,
use case is trying to train a GAN, which requires two networks, over multiple GPUS/Machines

[2018-08-05 01:44] burness commented on #11763
Thanks for your help, I will try to fix this issue    later

发自我的 iPhone

[2018-08-05 07:38] Kolkir commented on #7973
I have the same issue on Arch Linux in master branch

[2018-08-05 08:40] xinyu-intel commented on #11747
@KellenSunderland @marcoabreu @reminisce Hi, I think we should set the absolute error to one [ULP](https://en.wikipedia.org/wiki/Unit_in_the_last_place). When we check whether the int8 data are equal, we should set the absolute error to 1.
In this case, we convert int32 data to float32 data and then convert to int8 data. In the last step `(np.sign(data) * np.minimum(np.abs(data) * scale + 0.5, qua

[2018-08-05 08:44] xinyu-intel commented on #12028
The root cause is here https://github.com/apache/incubator-mxnet/issues/11747#issuecomment-410505095.

[2018-08-05 10:34] schlichtanders commented on #533
please...
?

[2018-08-05 18:45] #11644 closed

[2018-08-05 18:53] marcoabreu commented on #11747
Great, thanks a lot @xinyu-intel !

[2018-08-05 21:16] shirishr opened #12036 "VAE_example.ipynb runs into an error"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-08-06 01:53] DuCheng2018 opened #12041 "Bug in v1.2.0 ?"
## Description
Mxnet v1.2.0 gpu training failed on my computer.

## Environment info (Required)
Here is my environment:
Windows 7
Gtx 1080 (x4)
Python 3.6.4 (anaconda3)
CUDA 8.0
mxnet-cu80

## Error Message:
I run the following code under mxnet v1.2.0.

#python.exe crash "cudaErrorCudartUnloading : device kernel image is invalid".

## What have I tried to solve it?
I have solved it just by using m

[2018-08-06 02:36] pribadihcr opened #12043 "Morphological filtering"
Hi,
Is there morphological filtering like  tf.nn.dilation2d and erotion2d in mxnet ?

[2018-08-06 03:56] jzp1025 commented on #9430
Hi！ I meet the same problem , could you please give some help on debugging it ? thanks ! @GoodJoey

[2018-08-06 05:26] LeifZhu commented on #3350
but this cannot account for the error, "serious network" resnet works.

[2018-08-06 05:42] HaoLiuHust commented on #6644
the issue still exists

[2018-08-06 06:00] ahkarami opened #12044 "MXNet GluonSpeech [Feature Request]"
The MXNet team has released some fantastic packages (_e.g.,_ GlounCV and GluonNLP). Does the MXNet team has any plan for _speech_? I mean something like _GlounSpeech_ which focus on deep learning-based speech recognition algorithms.

[2018-08-06 07:01] lupesko commented on #11224
@Roshrini since you are working on the release of MXNet 1.3 - are you planning to pull in the updated dmlc-core into the new release?

[2018-08-06 08:07] xiaojingxie commented on #3946
any process here? About the "Push APIs are not thread-safe"

[2018-08-06 09:00] khaotik opened #12045 "create a custom operator with scalar parameters in python"
## Description
I tried to create a custom Op in python (e.g. `k` in `topk`) with a scalar parameter. Mostly followed #5580 but still got error.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):

Installed via `pip install mxnet-cu92mkl`, python version `3.6.6 (anaconda)`

## Error Message:

[code]

## Minimum reproducible example

Mostly copied code by @saicoco in #5580

[2018-08-06 10:13] larroy commented on #11616
This in addition to @szha env variable should fix this issue, can be closed.

[2018-08-06 10:34] marcoabreu opened #12046 "Backwards compatibility checker: Parameter 'model.1._unfused.0.l_cell.i2h_bias' is missing in file 'lstm_gluon_save_parameters_api-params'"
http://jenkins.mxnet-ci.amazon-ml.com/job/restricted-backwards-compatibility-checker/8/console

[code]

[2018-08-06 10:48] marcoabreu commented on #12046
@piyushghai

[2018-08-06 12:05] sbodenstein opened #12048 "reshape_like does not support different input types"
There seems no reason for requiring `*_like` functions to have the same input type for both inputs, as only the dimensions of the reference `rhs` are used. For example, this fails:
[code]
This means the user needs to cast the `rhs` to the same type as `lhs` just to inherit its shape, which is highly inefficient.

[2018-08-06 13:04] ShoufaChen commented on #745
I have also meet this problem with cuda use  gcc 4.8 .

I solved it by using  gcc 5.5

[2018-08-06 13:14] marcoabreu opened #12049 "Flaky OnnxBackendRealModelTest.test_bvlc_alexnet_cpu - connection timeout"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1330/pipeline
[code]

[2018-08-06 15:13] TriLoo opened #12050 "How to get the `.csv` file from `.mat` for training properly?"
I have the `NYUv2 Dataset` in `.mat` format(~3GB), which include the training data naming `images`(shape=(1449, 3, 640, 480), `depths`(shape=(1449, 640, 480), `labels` *etc.* ( 1449 samples for each item). Now I want to convert it into `.csv` format then using `CSVIter` to avoid reading whole training data.

What I have did is, iteretly read in one *image* and one *depth*  sample and then use `rav

[2018-08-06 15:32] sandeep-krishnamurthy commented on #7973
@junxigauss - It would be very helpful for all users if you can do a PR for the code change?  Or, Can you please provide more details on the fix you made?

[2018-08-06 16:11] #11961 closed

[2018-08-06 16:12] piyushghai commented on #11961
Closing, since the issue is no longer seen after merging #12006

[2018-08-06 16:39] tqchen commented on #11964
This is a good proposal, there is one thing that we need to be cautious about: MXNet uses asynchronous execution and things can run out of order if it is not tracked by mxnet engine.

Here is an example that things can go wrong.
[code]
This is because when we directly call ```x.asdlpack()``` and directly convert the data structure, the execution may not yet finished.

### A Fix
We need to also add

[2018-08-06 16:40] eric-haibin-lin commented on #12044
@Jerryzcn

[2018-08-06 16:56] haojin2 commented on #12046
@szha

[2018-08-06 17:00] Roshrini commented on #12032
@gulinlin Thanks for using MXNet. Can you give more details on the platform you are using?

@anirudhacharya Seems like R installation issue, Can you take a look?
@sandeep-krishnamurthy Can you please add labels: Installation, R

[2018-08-06 17:01] tqchen commented on #11964
In terms of API naming, I would recommend avoid using asdplack, the main reason is that most asxxx API in numpy implies copy of data. For example, astype, asarray, ascontiguousarray all would imply possible data copy.

While we are creating a memory view here, I think to_dlpack is a better name

[2018-08-06 17:14] Roshrini commented on #12033
@starimpact Thanks for sharing these design proposals. Do you mind starting a discussion on apache mxnet @dev list instead?

[2018-08-06 17:14] apeforest opened #12054 "Figure missing on MXNET System Architecture page"
## Description
The input/output semantics figure is missing on MXNet System Architecture page. The following is currently shown:

[input/output semantics figure]

Page link: https://mxnet.incubator.apache.org/architecture/overview.html

[2018-08-06 17:14] apeforest commented on #12054
@nswamy Please label this issue _Documentation_. Thanks!

[2018-08-06 17:17] eric-haibin-lin commented on #11899
If MXNet dosen't promise nondeterminism, then any model using this operator doesn't produce consistent result even if random seed is set. We should try our best to avoid this

[2018-08-06 17:18] eric-haibin-lin commented on #11899
@sxjscience has such use case and that's why the warning documentation is added.

[2018-08-06 17:18] Roshrini commented on #12036
@sandeep-krishnamurthy Can you please add labels: Python, Example

[2018-08-06 17:48] anirudhacharya commented on #12018
The ONNX specification recently changed the definition of the BatchNorm operator, see here [opset_version7](https://github.com/onnx/onnx/blob/master/docs/Operators.md#BatchNormalization) and [op_setversion6](https://github.com/onnx/onnx/blob/master/docs/Changelog.md#BatchNormalization-6).

So currently there are many models that use opset_version6 and some that use opset_version7. This error is ca

[2018-08-06 18:00] zhreshold commented on #7973
@junxigauss Can you elaborate what have you done to solve it?

[2018-08-06 18:20] #9648 closed

[2018-08-06 18:26] Roshrini commented on #12021
@anirudh2290 Can you please add label: Python, test

[2018-08-06 18:29] Roshrini commented on #12041
@DuCheng2018 Do you get any particular error? Can you paste stacktrace?
@sandeep-krishnamurthy Could you add label: PendingRequestorInfo

[2018-08-06 18:36] Roshrini commented on #12030
Thanks for trying it out. For how-to and usability questions, please use MXNet discuss forum - https://discuss.mxnet.io/ to involve wider community. We want to use Github issues mainly for bugs and feature request. Feel free to reopen if closed in error.

@sandeep-krishnamurthy Can you add labels: Question, Python and close this issue?

[2018-08-06 18:49] zhreshold commented on #11944
@BenLag2906

Here are the operators I found in your JSON file:

[code]

The latest one is slice_like operator added 4 months ago. So using mxnet 1.3 can ensure all these operators are supported.

[2018-08-06 18:51] Roshrini commented on #12024
@anirudh2290 Can you please add labels: Python, Bug

[2018-08-06 18:52] Roshrini commented on #12045
@anirudh2290 Can you please add label: Operator, Python

[2018-08-06 19:14] David-Levinthal commented on #12024
done

On Mon, Aug 6, 2018 at 11:52 AM, Roshani Nagmote <notifications@github.com>
wrote:

[2018-08-06 20:26] shirishr commented on #12036
@Roshrini , @sandeep-krishnamurthy

Advice recieved from discuss.mxnet.io was:

Not all the example in master have been updated. Follow sym vae 1 and gluon vae 3 tutorials instead. ThomasDelteil was copied on this.

[2018-08-06 23:32] anirudhacharya commented on #7490
@thomasmooon In your Example_1, please replace
[code]
with
[code]
After providing the ``mode`` attribute, I get the following results -
[code]

If this has addressed your problem, please close this issue.

[2018-08-06 23:49] anirudhacharya commented on #7026
@sandeep-krishnamurthy please close this issue as the OP has been inactive for more than a year, and there is no reproducible example for this.

[2018-08-07 00:03] wkcn commented on #11964
@tqchen Thank you!

[2018-08-07 00:07] #7026 closed

[2018-08-07 00:08] TriLoo commented on #12050
@Roshrini  Got it. thanks

[2018-08-07 00:36] lupesko commented on #11998
@jinhuang415 - bounce
@azai91  FYI

[2018-08-07 01:26] Roshrini opened #12057 "Error In Loading Pretrained ShuffleNet ONNX Model"
Hi there. Recently I am trying doing one simple experiment on training with ShuffleNet.
The pre-trained shuffleNet ONNX model is here: https://github.com/onnx/models/tree/master/shufflenet 2

From the tutorial of the loading of ONNX model (https://mxnet.incubator.apache.org/tutorials/onnx/super_resolution.html?highlight=onnx), the simple model loading code is here:

import mxnet.contrib.onnx as on

[2018-08-07 01:38] starimpact commented on #12033
@Roshrini can you give me the link? i have put them in the `mxnet confluence space` and `dev mail list` and `discuss.mxnet.io`.

[2018-08-07 02:29] lanking520 commented on #12049
Hi @marcoabreu , which PR trigger this, I cannot find the corresponding code and this problem looks like an internet connection failure

[2018-08-07 02:35] lupesko commented on #11878
@nswamy this does not seem like a bug, rather like a feature request. Can you please update the labels to remove "Bug"? Thanks!

[2018-08-07 02:36] lupesko commented on #11841
@apeforest any update?

[2018-08-07 02:45] lupesko commented on #12033
@starimpact [https://discuss.mxnet.io/](https://discuss.mxnet.io/) is the right location to post the question.
You can close this issue, the forum is the best place to get such question answered. Thanks!

@nswamy please label as "Question"

[2018-08-07 03:38] #12030 closed

[2018-08-07 03:39] apeforest commented on #11841
@lupesko I have created a simple test that can run on Mac OS 10.12. The PR is https://github.com/apache/incubator-mxnet/pull/11952

Since our CI does not include Mac OS platform, I am working with @marcoabreu to add this to the manual test suite.

[2018-08-07 03:40] #12043 closed

[2018-08-07 03:42] #12050 closed

[2018-08-07 04:58] jinhuang415 commented on #11998
We have reproduced this issue in local luster, looks only happens very occasionally, will update once there is further findings.

[2018-08-07 05:13] nswamy commented on #12041
What platform are you running on(I am assuming Windows since I python.exe)?
What version of MXNet are installing ?  Do you have the corresponding version of CUDA installed in place? ie., `pip install mxnet-cu92` requires CUDA 9.2

[2018-08-07 05:15] #12033 closed

[2018-08-07 06:31] haojin2 commented on #11496
The fix for this issue is in #12059

[2018-08-07 08:04] sosofun commented on #9430
me too , need help, thanks!

[2018-08-07 08:27] DuCheng2018 commented on #12041
The error message is "cudaErrorCudartUnloading : device kernel image is invalid"

[2018-08-07 08:43] StOnEGiggity opened #12061 "Mxnet 1.3 Bug : Prelu activation compution fault in expand_shape function"
## Description
when input shape of prelu layer meets the condition where the height or the width of input is the same as channel, like shape (1, 64, 64, 128), it will cause broadcast multiply in the third dimension. There may be wrong in https://github.com/apache/incubator-mxnet/blob/9dd5edd8e6ec28a97c6ba9bda51b2b9c7a88971b/src/operator/leaky_relu-inl.h#L287-L289
## Environment info (Required)
---

[2018-08-07 08:49] DuCheng2018 commented on #12041
When I train mnist dataset by :
python train_mnist --network lenet --gpus 0

#ERROR MESSAGE:
Traceback (most recent call last):
  File "C:\Anaconda3\lib\site-packages\mxnet\symbol\symbol.py", line 1513, in simple_bind
    ctypes.byref(exe_handle)))
  File "C:\Anaconda3\lib\site-packages\mxnet\base.py", line 149, in check_call
    raise MXNetError(py_str(_LIB.MXGetLastError()))
mxnet.base.MXNetErro

[2018-08-07 09:47] jzp1025 opened #12062 "DMLC_PS_ROOT_URI using hostname failed"
## Description
DMLC_PS_ROOT_URI is ip or hostname , but when use the hostname instead of ip , it reports "bind failed" in the src/van.cc

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
python

## Build info (Required if built from source)

gcc

MXNet commit hash:
3df9bf802021d5aa67c609c6736acee94aaf3a48

Build config:
the same as doc https://mxnet.apache.org/install/i

[2018-08-07 11:38] prathik-naidu opened #12063 "MxNet Pre-trained Prediction Doc Not Working"
## Description
The predict image doc page: [https://mxnet.incubator.apache.org/tutorials/python/predict_image.html](url) doesn't work right off the shelf (returns incorrect predictions).

## Problem
The tutorial doesn't normalize the images – causing incorrect predictions to be made. For newcomers to MxNet/deep learning, I think this is a simple, but useful addition to add in.

## Solution
Add in

[2018-08-07 11:57] KellenSunderland commented on #10856
I'd suggest tweaking this description slightly.  Instead of "test_multi_worker_forked_data_loader fails with DEBUG=" I'd suggest "Failed OpenMP assertion when loading MXNet compiled with DEBUG=1".

It's happening for me (and Pedro) in non-dataloading scenarios.  Seems to happen as soon as the thread pool is created.

[2018-08-07 13:55] marcoabreu commented on #12063
@mxnet-label-bot Example Bug

[2018-08-07 16:36] lanking520 commented on #12061
Hi @StOnEGiggity thanks for your issues and pointing out the operator, we will start looking into this. @haojin2 @eric-haibin-lin

@mxnet-label-bot could you please add [Bug, operator] here?

[2018-08-07 17:27] Roshrini commented on #12049
@lanking520 This test is coming from ONNX test backend. So, model download code is in ONNX repo.
https://github.com/onnx/onnx/blob/master/onnx/backend/test/runner/__init__.py#L178
Maybe will need to make change to this code to fix it

[2018-08-07 17:44] piiswrong commented on #6223
aux variables are never updated by optimizer. The operators decide what to store in them.

[2018-08-07 17:49] Roshrini commented on #12049
In Ci, we are using ONNX 1.2.1 as currently we are supporting that version. Seems like retry mechanism was added in master branch, not available in 1.2.1
https://github.com/onnx/onnx/blob/rel-1.2.1/onnx/backend/test/runner/__init__.py#L177

[2018-08-07 17:51] Ruoyu-Qian opened #12066 "Unable to library the package "mxnet" in R 3.5.1 on Mac"
## Description
I installed the package "mxnet" successfully using the following code:

cran <- getOption("repos")
cran["dmlc"] <- "https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/"
options(repos = cran)
install.packages("mxnet")

However, I cannot library or require it.

## Environment info (Required)

R version 3.5.1 (2018-07-02)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Runn

[2018-08-07 19:05] ankkhedia commented on #12032
Hi @gulinlin Could you provide more details of the setup/platform you are using like OS, R version, GPU/CPU and we can help you with the issue.

[2018-08-07 20:14] Roshrini commented on #11224
Yes I will be updating dmlc-core in the new release.

[2018-08-07 20:47] apeforest commented on #12062
@mxnet-label-bot could you please add [Backend] here?

[2018-08-07 20:48] haojin2 commented on #10353
Seems like we already have such check in the CI pipeline? @marcoabreu

[2018-08-07 21:07] timprepscius opened #12071 "how does one execute a network with multiple outputs"
Using the mxnet-cpp cpp interface to mxnet.

I would like a Conv network with multiple outputs.

[code]

I believe I have successfully set this network up.

But I do not understand how to create the executor which will then generate the outputs.
Obviously:

will not work, because there is no single output.

Suggestions?  Thanks!!!

[2018-08-07 21:13] nswamy commented on #12066
@mxnet-label-bot please add [Doc]

[2018-08-07 21:46] #11685 closed

[2018-08-07 21:46] #11730 closed

[2018-08-07 21:46] #11731 closed

[2018-08-07 21:49] andrewfayres commented on #10867
@jessebrizzi I've been looking at the JNI code you wrote and figured out that the sigsegv is happening [here](https://github.com/apache/incubator-mxnet/blob/9b7351a63a4dff089fb221de798f38e1d6f0800d/src/c_api/c_api_executor.cc#L537). However, I've been unable to figure out exactly what's causing the error thus far. Presumably at least one of the variables on that line is invalid but I'm not seeing

[2018-08-07 22:05] timprepscius commented on #12071
it seems Symbol::Group(std::vector<Symbol>) is the key

[2018-08-07 22:07] marcoabreu commented on #12062
@mxnet-label-bot [bug]

[2018-08-07 22:09] timprepscius opened #12073 "get name from symbol cpp"
This is most trivial, and of course a billion ways to work around, however:

Given a symbol:
`auto a = Symbol::Variable("my_super_name") // could be any symbol
`

How do I retrieve the name of the symbol:
`std::cout << a.GetName() << std::endl;
`

Somehow I cannot find the methods to allow this, nor any examples.

[2018-08-07 22:19] Roshrini commented on #10264
@Sherry-Zhang, are you still facing this issue?

[2018-08-07 22:35] ankkhedia commented on #8521
Hi @Phillip1982 and @dwy904. Thanks for trying out MXNet-R.
The answer to your query lies in the way csviterator in MXNet is designed and how R converts one data structure to other. If you could see the description and examples for CSVIterator in https://github.com/apache/incubator-mxnet/blob/master/src/io/iter_csv.cc, you will see that data_shape parameter converts each line in csv file to that s

[2018-08-07 22:41] anirudhacharya commented on #12066
@Ruoyu-Qian Following is the run of an install I did just now -
[code]

The difference seems to be in your BLAS installation, mine has
[code]
whereas yours has
[code]

Can you please recheck your ``openblas`` installation and try again?

[2018-08-07 22:54] #8521 closed

[2018-08-07 23:47] ankkhedia commented on #7472
Hi @kurt-o-sys ,
The answer to your query is yes. However, you will need to set your own training pipelines using custom iterators which can read a batch of streaming data at some intervals and update the model. You can also customize your training loop to checkpoint and pick up from a particular point to retrain.
Here is an example for writing customized training loops.
You need to write your own

[2018-08-07 23:55] vandanavk commented on #9171
@kalpitdixit Could you provide a script with which this issue occurs?

[2018-08-08 00:08] samskalicky commented on #9816
Bug can be worked around by adding a threshold_eq (<=) operator in mshadow_op.h and calling that one instead in dropout-inl.h

Tested working with seed 111913613

This change requires changes to mshadow repo...

[2018-08-08 00:55] haojin2 commented on #12073
There's indeed no such function in Symbol class in cpp-package, a fix in #12076.

[2018-08-08 01:27] #7472 closed

[2018-08-08 02:29] szha commented on #10353
@anirudh2290 already added a stage for it

[2018-08-08 02:29] #10353 closed

[2018-08-08 03:02] adaaaaaa commented on #11610
any process now?

[2018-08-08 04:10] pengzhao-intel commented on #11610
WIP to verify the performance.

FYI, the performance on Linux is fully validated; however, the Window is w/ lower priority.
And in our local, we don't have much windows system to reproduce the issue.

I suggest you try Linux first. If you see the same perf issue on Linux, it will be very helpful.

[2018-08-08 07:05] loveltyoic commented on #10995
I have met the same problem.
In Case 3, when use cpu and execute `mx.nd.contrib.ctc_loss`, it cost about 1sencod。
but when use gpu，it will take very long time and gpu util is 100%。

[2018-08-08 07:27] jinhuang415 commented on #11998
@marcoabreu @zheng-da @azai91 @pengzhao-intel
We have found the root cause of this issue and here is the analysis:
The test failed at MKLDNNSum in place test case, and failed due to delay_alloc check failure in SetMKLMem(),
[code]
it indicates the related NDArray's shandle is nullptr but delay_alloc is set to false,  usually delay_alloc will only be set to false after shandle is allocated, so most

[2018-08-08 08:05] Ferbach opened #12079 "Unable to use pretrained model in windows server 2016 with GPU context"
Hello,

I would like to use my vgg16_atrous model that I have trained using gluon-cv.

I'm on Windows Server 2016 with CUDA 8.0 and the GPU is a Tesla P40 (driver 385.08).

I tried to execute this code :
[code]

Each time my python crashes but when I use cpu context it works fine.

So to debug the gpu part I used this script:

[code]

The answer was:

gpu(0)

[2018-08-08 08:57] larroy commented on #11468
I can check, thanks for your response.

[2018-08-08 09:31] pengzhao-intel commented on #11998
In short, the CPP test case mixed the usage of MXNET OP and C/C++ function where the MXNET OP is executed with async mode and C function will run directly.
So, this will bypass the dependency engine and then cause the data race.

In concluding, this is **NOT** the bug in MKLDNN or dependency engine.
Just a not common implementation of the test case.

[2018-08-08 10:35] whu-lyh commented on #9695
@tonnywang  hi ,i meet the same trouble. i want to know whether you had solve this  problem. i use three machines with GPU memory size is 4G, and mxnet(1.2.0) complied from sources using command scripts like : make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda-9.0 USE_CUDNN=1 USE_DIST_KVSTORE=1.
Looking forward to receive your reply thanks!

[2018-08-08 10:36] whu-lyh commented on #9695
@anirudhacharya  @sandeep-krishnamurthy Looking forward to getting your help too~

[2018-08-08 10:36] rohitrango opened #12082 "Accuracy in STN drops rapidly during training"
## Description
While training a Spatial Transformer Network on a modified MNIST dataset (40*40 images with rotated, scaled and translated images), the accuracy increases and then drops suddenly. I have tried different architectures, and the custom initialisation as well, but the problem persists. A baseline architecture without STNs gets ~96% val. accuracy on the dataset.

## Environment info
Here

[2018-08-08 13:00] ciyongch commented on #10205
Hi @sxjscience , @pengzhao-intel

I made some enhancement (https://github.com/apache/incubator-mxnet/pull/12085) based on the latest code, also I did some test with single topk Op and sockeye translate model, the results shows good with this enhancement.

1) Single Topk Op performance boost

   With input ndarray `np.random.rand(10, 3, 1000, 1000)`,  `ret_type='value'`, and `k=3`, the optimized ve

[2018-08-08 13:26] mjpost commented on #10205
Yes, this looks awesome. It's great to see the `topk()` speedup borne out in end-to-end performance as well.

[2018-08-08 13:40] fhieber commented on #10205
really nice! It'd be great if this makes it into the 1.3 release.

[2018-08-08 13:49] whu-lyh opened #12086 "distribute training on local machines not AWS cloud"
Hello everyone. recently i meet a problem when i tried to distribute training on different machines each with a 12G 1080ti GPU,  i complied these GPUs with different version of CUDA (some are cuda9.0 , others are cuda8.0).then i meet this error:

Traceback (most recent call last):
  File "train_face.py", line 25, in <module>
    from common import find_mxnet, fit
  File "/tmp/mxnet/common/find_mxn

[2018-08-08 14:06] asitstands opened #12087 "Python list as a gluon Dataset"
[code]
This causes an error in the recent master.
[code]
The code has worked in some days ago. I guess #11370 brokes it. According to the API doc, any types with `__getitem__` and `__len__` can be used as a Dataset. #11370 is temporal but I think it would be a good idea to avoid breaking existing code. @zhreshold

[2018-08-08 14:08] pengzhao-intel commented on #10205
In fact, I have to apologize for the delay for the fix and report back.
It will be really nice to include it into 1.3 (I know it's the last minute for the code freeze).

Thanks, @tdomhan @mjpost @fhieber @sxjscience

[2018-08-08 14:54] Ferbach commented on #12079
Sorry for the inconvenience, I resolved using : pip install --pre mxnet-cu80 for upgrading mxnet

[2018-08-08 14:54] #12079 closed

[2018-08-08 15:32] vandanavk commented on #11904
Fixes for 39 errors have been merged.

The ones remaining are:

Code/module   affected | Undefined variable
-- | --
./example/deep-embedded-clustering/model.py:25:8: | ModuleNotFoundError
./example/neural-style/end_to_end/model_vgg19.py:94:17: | out
./example/neural-style/end_to_end/model_vgg19.py:105:16: | out
./example/profiler/profiler_executor.py:89:15: | search_plan
./example/profiler/profile

[2018-08-08 15:51] cclauss commented on #8270
[flake8](http://flake8.pycqa.org) moved from finding 22 undefined names down to 19.

flake8 testing of https://github.com/apache/incubator-mxnet on Python 3.7.0

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-08-08 15:53] cclauss commented on #11904
flake8 moved from finding 22 undefined names down to 19.  #8270#issuecomment-411455720

[2018-08-08 16:17] apeforest opened #12089 "unittest fail on MacOS platform"
## Description
The unittest test_gluon_data.py failed on MacOS 10.12

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from source)
gcc

MXNet commit hash:
cb94be94213edc787d69d65eca4d90ba2fcaad6f

Build config:
make -j8

## Error Message:
/Users/lnyuan/.virtualenvs/mxnet/lib/python3.6/site-packages/nose/util.py:453: DeprecationW

[2018-08-08 16:35] lanking520 commented on #12073
@mxnet-label-bot could you please add [feature, c++]

[2018-08-08 16:42] marcoabreu commented on #11998
Sorry, I'm currently swamped with high priority tasks and I don't have time to review your task or assist with inqueries.

[2018-08-08 17:06] Ishitori commented on #9856
I cannot reproduce the problem using same MXNET_TEST_SEED=1547976354 and MXNET_MODULE_SEED=1981327592.

To fix it, I can think of only the same thing as was done before - decrease success rate. I have decreased it to 0.05 for this particular test, leaving the default 0.15 for other tests.

After running the test sequentially for 100 times, the problem doesn't reproduce itself.

PR is here: https:/

[2018-08-08 17:54] Ishitori commented on #11839
I was able to reproduce the failing compiling MXNet from source with:

[code]

And then running it from project root folder:

[code]

[2018-08-08 19:47] Roshrini commented on #10264
@Sherry-Zhang Seems like you were able to successfully add rnn testcase for this https://github.com/apache/incubator-mxnet/pull/10104
Please confirm if this issue still persists.

[2018-08-08 20:43] lanking520 commented on #12071
Hi @timprepscius looks like the issue you have sent is more likely as a question! Please send this to: https://discuss.mxnet.io/. There will be members pick up this and answer that.

@mxnet-label-bot could you please add [question, c++] to this issue?

[2018-08-08 20:54] lanking520 commented on #12082
Hi @rohitrango , thanks for your issue. @ThomasDelteil as ML guru to help you out. Also please try to send this issue to https://discuss.mxnet.io/ as more discussion on Accuracy and performance will be there.

@mxnet-label-bot could you please add [question, performance, python] here?

[2018-08-08 21:03] Roshrini commented on #9715
@nazikus Thanks for reporting this issue. Can you please provide access to the dataset to reproduce this bug?

[2018-08-08 21:06] rohitrango commented on #12082
Thank you @lanking520, I will post it there as well.

[2018-08-08 21:11] haojin2 commented on #12046
@szha This should be closed as your fix is merged.

[2018-08-08 21:12] ankkhedia commented on #6783
Hi @trtcrd
It seems like the issue has been fixed in master now. The latest R binaries for GPU gave the following result
 print(pred_gpu[,1])
[1] 0.4898844 0.4898844 0.4898844
 print(pred_cpu[,1])
[1] 0.4898147 0.4898147 0.4898147

on running your code.

Closing the issue since it is not reproducible . Feel free to reopen in case closed in error.

@sandeep-krishnamurthy @nswamy Could you please cl

[2018-08-08 22:06] ankkhedia commented on #7262
@janejane11 Thanks for trying out MXNetR.
Sorry for getting back to you after little while but wanted to know if you are still facing the issue. Also, could you please share the details(error log /dataset) to help you better on solving the issue.

[2018-08-09 00:11] #11735 closed

[2018-08-09 00:25] #11737 closed

[2018-08-09 00:29] zheng-da opened #12100 "a cheatsheet to document the issues in Gluon hybridize"
It seems users often ask why hybridize doesn't work. I think it's necessary to have a cheatsheet to document all possible pitfalls that could be encountered during hybridize.

Here are a few examples:
* Symbol doesn't have the shape method.
* [] in NDArray and Symbol has completely different semantics. [] in NDArray is to get a slice from the array. [] in Symbol is to get an output from a grouped

[2018-08-09 01:04] rahul003 commented on #12086
Are you building mxnet from source?

[2018-08-09 01:25] whu-lyh commented on #12086
both are build from sources command scripts:
make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda（-9.0/-8.0） USE_CUDNN=1 USE_DIST_KVSTORE=1

[2018-08-09 02:32] rahul003 commented on #12086
Then you copied libmxnet.so into the current directory, and ran this launch command with sync-dst-dir. I'm guessing that your problem is that you end up trying to use the libmxnet.so which was built on the machine which launched the job because sync-dst-dir synchronizes the current directory to all machines. You could try installing mxnet on each of the machines, using setup.py, then not having li

[2018-08-09 02:41] vatsal2020 commented on #8638
Unfortunately, I don't have access to any code snippets pertaining to this after my intern ended.

[2018-08-09 03:29] MengWangTHU commented on #1506
Hi，I am tring to use C++ to extract feature from middle layer,which is so easy in Python(such as API：get_internals), but I don't know how to implement it in C++. Could you please share your idea or code ?Thanks a lot!

[2018-08-09 03:50] cclauss commented on #8270
With the merge of #11982, flake8 (on Python 3) is now down to 10 undefined names:
[flake8](http://flake8.pycqa.org) testing of https://github.com/apache/incubator-mxnet on Python 3.7.0

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-08-09 03:58] cclauss commented on #11904
[__ModuleNotFoundError__](https://docs.python.org/3/library/exceptions.html#ModuleNotFoundError) was added in Python 3.6 so this will be raised if pylint (or flake8) is running on Python <3.6.  Change __ModuleNotFoundError__ to __ImportError__ to be compatible with all currently supported versions of Python.

[2018-08-09 04:55] vandanavk commented on #11480
it seems that this error was predicted, based on review comments on the PR https://github.com/apache/incubator-mxnet/pull/5827.
Checking what can be done differently to fix this issue.

[2018-08-09 05:29] richardcumminsx opened #12103 "Images"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-08-09 05:51] lupesko commented on #12049
@Roshrini is the retry logic in ONNX 1.2.2? should we update the MXNet master to use ONNX 1.2.2?

[2018-08-09 05:53] lupesko commented on #12046
@marcoabreu FYI fix is merged, you can close the issue unless you still see the failure on MBCC CI.

[2018-08-09 05:56] lupesko commented on #12032
@mxnet-label-bot please add [Pending Requester Info]

[2018-08-09 07:43] uniquezhengjie opened #12105 "Floating point exception (core dumped)"
i used command "pip install mxnet-mkl" ,when i import mxnet get Floating point exception (core dumped)

Floating point exception (core dumped)

i test mxnet-mkl (1.2.1.post1)  mxnet-mkl (1.2.0) get err Floating point exception (core dumped)

mxnet-mkl 1.0.0 import normally

what problem,i run with docker but get same err

[2018-08-09 07:56] pengzhao-intel commented on #12105
We didn't see this issue previously. I think it caused by the environmental issues.

Could you 'pip uninstall' all the current mxnet and re-install?

If it's possible, please send out the all log for our debugging.

[2018-08-09 08:36] uniquezhengjie commented on #12105
i try to 'pip uninstall' all the current mxnet and re-install" ,get same result,in fact,i run my docker image in two compute,one of them is run ok,but another one get those err.

i don't know how to get other debug info to you, it just come out single message "Floating point exception (core dumped)"

[2018-08-09 08:51] whu-lyh commented on #12086
thanks  for your reply. i did copy 'libmxnet.so' to  the current directory,using command:
cp -r ../../python/mxnet .
cp -r ../../lib/libmxnet.so mxnet
i will try to re install mxnet using setup.py. and i 'll update my result timely~~

[2018-08-09 08:51] whu-lyh commented on #12086
thanks again!

[2018-08-09 10:14] uniquezhengjie commented on #12105
i run version with 1.0.0, when i get output layer "net_out = self.model.get_outputs()", final come out same error,what should i do

      data = nd.array(im_tensor)
      print(data.shape)
      #db = mx.io.DataBatch(data=(data,), provide_data=[('data', data.shape)])
      db = mx.io.DataBatch(data=(data,))
      self.model.forward(db, is_train=False)
      net_out = self.model.get_outputs()

[2018-08-09 13:57] lebeg opened #12107 "Faulty CUDA detection with cmake"
### Problem
The current cmake CUDA support has multiple major problems.

**Multiple not compatible definitions**

CUDA can be part of cmake language detection and is not for older cmake versions.

CUDA architectures can be detected by build-in cmake file. This would be preferred, but is not used by the current MXNet cmake scripts.

CUDA is detected by 3 different files in the current cmake scripts

[2018-08-09 13:59] lebeg commented on #10743
The cmake build with CUDA is [faulty](https://github.com/apache/incubator-mxnet/issues/12107) at the moment.

[2018-08-09 16:30] lanking520 commented on #12086
@mxnet-label-bot could you please add [build, installation] to this issue?

[2018-08-09 16:31] lanking520 commented on #12087
@mxnet-label-bot could you please add [gluon, bug] to this label?

[2018-08-09 16:32] lanking520 commented on #12089
Hi @apeforest Does this fail in CI?

@mxnet-label-bot could you please add [gluon, test] to this issue?

[2018-08-09 16:34] lanking520 commented on #12100
@mxnet-label-bot could you please add [doc] to this issue?

[2018-08-09 16:35] lanking520 commented on #12103
Hi @richardcumminsx could you please the detailed information about your issue? thanks!

[2018-08-09 16:42] lanking520 commented on #12105
Hi @uniquezhengjie could you please provide more context on the system you are running on? Which platform, python version, etc. @szha , could you please take a look in here?

@mxnet-label-bot please add [installation, python] here.

[2018-08-09 16:50] marcoabreu commented on #12046
Great, it works. Thanks a lot everybody for the great work and such a quick fix

[2018-08-09 16:51] #12046 closed

[2018-08-09 16:55] haojin2 commented on #11738
@szha Related PR is merged, should be good to close.

[2018-08-09 16:55] haojin2 commented on #11712
@szha Related fix is merged, should be good to close.

[2018-08-09 16:55] haojin2 commented on #11716
@szha Related fix is merged, should be good to close.

[2018-08-09 16:57] haojin2 commented on #11703
@szha Related fix is merged, should be good to close.

[2018-08-09 16:57] haojin2 commented on #11740
@szha Related fix is merged, should be good to close.

[2018-08-09 17:00] haojin2 commented on #11456
@KellenSunderland @marcoabreu Related fix is merged, should be good to close.

[2018-08-09 17:07] #11712 closed

[2018-08-09 17:53] Roshrini commented on #8921
There are currently 3 same issues open for this bug. https://github.com/apache/incubator-mxnet/issues/9271 https://github.com/apache/incubator-mxnet/issues/11163
Let's keep only 1 issue open.
@sandeep-krishnamurthy Can you please close this duplicate issue?

[2018-08-09 17:54] ankkhedia commented on #7262
@nswamy @sandeep-krishnamurthy Could you please label the issue as Pending Requester Info

[2018-08-09 17:54] ankkhedia commented on #7525
@nswamy @sandeep-krishnamurthy Could you please label the issue as Pending Requester Info

[2018-08-09 18:15] #9952 closed

[2018-08-09 18:16] #8936 closed

[2018-08-09 18:16] #8927 closed

[2018-08-09 18:31] zheng-da opened #12109 "implement mx.sym.array"
Currently, we have `mx.nd.array`, but we don't have `mx.sym.array`. It's awkward when we use Gluon to hybridize. Potentially, we can use mx.sym.ones(arr.shape) * arr as workaround. the code isn't as intuitive as using mx.sym.array(arr) directly.