[2018-08-09 19:01] zhanghang1989 commented on #10799
Pytorch implementation

[2018-08-09 19:32] Roshrini commented on #12049
@lupesko To upgrade to ONNX 1.2.2, we might need to make changes to operators. Didn't check how many operator definitions/other things are changed but can try to see if it's easy to upgrade.

[2018-08-09 20:00] lanking520 commented on #12109
@mxnet-label-bot please add [gluon, feature] in here.

[2018-08-09 20:54] Ruoyu-Qian commented on #12066
@anirudhacharya I installed my `openblas` using `brew install openblas` and I think the default directory is `/System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib`. How can I move it to another directory or reinstall it?

[2018-08-09 21:37] safrooze commented on #12001
@kaleidoscopical I haven't personally used SyncBatchNorm, but the operator is available in both `nd` and `sym` format. What are you using?

[2018-08-09 21:40] Roshrini commented on #8638
Thanks Vatsal for replying. I tried to reproduce the issue with setting parameters creating a module and trying to run the training. I wasn't able to reproduce it.

I will be closing this issue for now. Please feel free to open if closed in error.
@sandeep-krishnamurthy Can you please close this issue?

[2018-08-09 22:31] haojin2 opened #12112 "flaky test: test_contrib_control_flow.test_while_loop_for_foreach"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1374/pipeline
[code]

[2018-08-09 23:01] shravankumar147 opened #12114 "Do we have pyspark support in mxnet."
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-08-09 23:29] anirudhacharya commented on #7490
@nswamy please close this issue.

[2018-08-09 23:30] #7490 closed

[2018-08-09 23:31] haojin2 commented on #12112
@mxnet-label-bot [Flaky, Test].

[2018-08-09 23:33] haojin2 commented on #12112
@junrushao1994 @zheng-da This seems like a numerical tolerance issue, can you guys take a look?

[2018-08-09 23:39] anirudhacharya commented on #12066
@Ruoyu-Qian if you notice, the difference is not just the path of the installation but the package itself. Your system has ``libBLAS.dylib``, whereas you need ``libRblas.0.dylib``

My guess is the R installation on your MacOS was not right because the latest R package when installed on Mac automatically configures ``openblas`` for better performance with array operations.

You could try linking yo

[2018-08-09 23:42] haojin2 commented on #12073
@timprepscius Fix is merged, can you try that out and let me know if you found and problems? Thanks!

[2018-08-09 23:47] lanking520 commented on #12112
@mxnet-label-bot please add [Flaky, test] to this issue

[2018-08-10 00:02] lanking520 commented on #12114
Hi @shravankumar147 , currently we do not have `pyspark` available, however, we do have Spark on Scala, you can see some code and example [here](https://github.com/apache/incubator-mxnet/tree/master/scala-package/spark).

@mxnet-label-bot could you please add [feature, python] in here?

[2018-08-10 01:10] safrooze opened #12116 "Excessive memory allocation without static_alloc"
## Description
The change in #11951 that fixes nested call on CachedOp causes excessive memory allocation when hybridize() is called with default `static_alloc=False`. In my specific case, the memory allocation grows from 1.5GB to over 10GB.

## Environment info (Required)
[code]

I'm using Python package

## Build info (Required if built from source)

This is reproducible through package from PyP

[2018-08-10 01:11] safrooze commented on #12116
@zheng-da @szha

[2018-08-10 01:30] uniquezhengjie commented on #12105
@lanking520 this is my system info, i test Python 3.6.4 and Python 2.7.12 on ubuntu 16.04 and 14.04.
root@5360f6cad7ec:/# cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c
      8  Intel(R) Xeon(R) CPU E5-26xx v4
root@5360f6cad7ec:/# getconf LONG_BIT
64
root@5360f6cad7ec:/# uname -a
Linux 5360f6cad7ec 4.4.0-91-generic #114-Ubuntu SMP Tue Aug 8 11:56:56 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[2018-08-10 02:35] liangxi627 commented on #10936
@liuzx32 How do you solve the problem? I met the same error, and my opencv version is 3.1.

[2018-08-10 02:37] liangxi627 commented on #1486
@deluopo How do you solve the problem? I met the same error.

[2018-08-10 02:47] TS0713 opened #12119 "mxnet package in r (3.5.1) - It doesn't have lstm and gluon"
After I have installed mxnet package in RStudio (R-3.5.1) - I didn't find lstm and few other functions disappeared from mxnet package. Please provide other link where I can download mxnet containing complete functions as mentioned in mxnet documentations.

Have installed using below lines as mentioned on mxnet page
cran <- getOption("repos")
cran["dmlc"] <- "https://apache-mxnet.s3-accelerate.dual

[2018-08-10 04:30] szha commented on #12105
1.0.0 was directly on mklml and not on mkldnn, so the bug likely have already been addressed with mkldnn integration. @uniquezhengjie is there blocker that prevents you from upgrading to the latest version?

[2018-08-10 05:56] uniquezhengjie commented on #12105
@szha  if i run run mxnet-mkl  version with 1.0.0, i can import ,but when i get output layer "net_out = self.model.get_outputs()", final come out "Floating point exception".
i can upgrade to latest version (mxnet-mkl 1.2.1.post1) from 1.0.0 with "pip install --upgrade mxnet-mkl",  but when i import mxnet get that error .
i don't know how to do next step ...

[2018-08-10 06:12] zheng-da commented on #12112
@junrushao1994 could you please adjust the unit test?

[2018-08-10 06:15] junrushao1994 commented on #12112
@zheng-da Will do. BTW, why `a=-1.308214, b=-1.308716` causes an error of `2.176908`?

[2018-08-10 06:26] szha commented on #12105
Ah I see. Sorry that I misunderstood your question. Does the same happen when you install mxnet without '-mkl' suffix? Also, could you follow the instructions in the issue template and provide the diagnostic information, so that our friends at intel can look at supported instruction sets? Thanks.

[2018-08-10 06:31] haojin2 commented on #12112
@junrushao1994 https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/test_utils.py#L442

[2018-08-10 06:39] liangxi627 opened #12120 "compile error in "image_aug_default.cc""
I build mxnet from source on ubuntu 14.04+cuda8.0+cudnn5, and meet the following error when compiling. It seems like an opencv error, but I have installed opencv3.1 , how to solve it?

src/io/image_aug_default.cc:483:32: error: ‘CV_RGB2GRAY’ was not declared in this scope
           cvtColor(res, temp_, CV_RGB2GRAY);
                                ^
src/io/image_aug_default.cc:489:32: error: ‘CV_

[2018-08-10 07:07] haojin2 opened #12121 "Broken link in test_gluon_model_zoo.test_models"
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/master/runs/1371/nodes/890/steps/1310/log/?start=0
[code]
[code]

[2018-08-10 07:07] haojin2 commented on #12121
@hetong007

[2018-08-10 07:08] haojin2 commented on #12121
@mxnet-label-bot [gluon, test]

[2018-08-10 07:44] uniquezhengjie commented on #12105
@pengzhao-intel   is different, if fact i test 4 kind cpu
machine1(Intel(R) Xeon(R) CPU E5-2680 v4 @ 2.40GHz)
machine2 Intel(R) Core(TM) i5-7400 CPU @ 3.00GHz
machine3 Intel(R) Xeon(R) CPU E5-26xx v4
machine4 Intel(R) Xeon(R) CPU E5-26xx v3
machine1 and machine2 is normally ,machine3 and machine4 get error .
i also test run docker image on machine3 and machine4, if run mxnet/python:1.2.1_cpu_mkl g

[2018-08-10 07:58] pengzhao-intel commented on #12105
https://github.com/apache/incubator-mxnet/blob/master/MKLDNN_README.md

This is the installation guide :)

[2018-08-10 09:33] petronny opened #12123 "cython nnvm include path error"
https://github.com/apache/incubator-mxnet/blob/af15853a5989e8e40a7300669c8d0c42f0be79ad/python/setup.py#L92

This line should be
[code]

#11130

[2018-08-10 09:57] #9856 closed

[2018-08-10 10:01] idealboy commented on #8569
I hava met tha same problem, that I build mxnet-1.2.1 with cuda-9.1,cudnn7.1 with USE_GPERFOOLS =1 . When I put the libmxnet.so in another machine to run inference, it asks me the lack of libtcmalloc.so.4, then I install the gperftools by yum, the problem occur when I import mxnet in python

[2018-08-10 10:12] uniquezhengjie commented on #12105
i get error when run "make -j $(nproc) USE_OPENCV=1 USE_MKLDNN=1 USE_BLAS=mkl USE_INTEL_PATH=/opt/intel"

cmake /incubator-mxnet/3rdparty/mkldnn -DCMAKE_INSTALL_PREFIX=/incubator-mxnet/3rdparty/mkldnn/install -B/incubator-mxnet/3rdparty/mkldnn/build -DARCH_OPT_FLAGS="-mtune=generic" -DWITH_TEST=OFF -DWITH_EXAMPLE=OFF
CMake Error at CMakeLists.txt:22 (cmake_policy):
  Policy "CMP0054" is not known

[2018-08-10 10:25] marcoabreu commented on #12123
@tqchen

[2018-08-10 10:46] TriLoo commented on #1332
@axlesor  It seems that you should subclass `MXDataIter`  instead of `CSVIter` as the MXNet Docs said:

    as `CSVIter`, `ImageRecordIter`, `MNISTIter`, etc. When initializing
    `CSVIter` for example, you will get an `MXDataIter` instance to use in your
    Python code.

But I still do not know how to add the augmentations into my the derived class. Do you have any advise ?

[2018-08-10 11:46] marcoabreu commented on #12028
https://github.com/apache/incubator-mxnet/pull/12040

[2018-08-10 11:46] #12028 closed

[2018-08-10 11:46] marcoabreu commented on #11747
https://github.com/apache/incubator-mxnet/pull/12040

[2018-08-10 11:46] #11747 closed

[2018-08-10 13:30] KellenSunderland commented on #12116
I ran the follow code:
[code]

With commit ed203047573db7681feb5631901a609e6e074971 and observed a GPU memory usage of 2.5GB.  Re-running the same test with commit  98a41af52a2c7cb9e30a6cf81796d431212f217d I observe a memory usage of 2.5GB

[2018-08-10 13:38] whu-lyh commented on #7924
@hhyasdf  hi,i have meet the same problems like these, i wander whether you have solved this problem, can you share your solution? thanks

[2018-08-10 14:05] mdespriee commented on #11926
@nswamy @andrewfayres should I open another ticket for this second problem ? a JIRA ?

[2018-08-10 14:36] whu-lyh commented on #12086
@rahul003  sry i'v try to using setup.py to install mxnet.but it failed again.and the new training stucked in here:

export PS_VERBOSE=2,DMLC_INTERFACE=eth0,DMLC_PS_ROOT_PORT=22;../../tools/launch.py -n 2 --launcher ssh -H /home/yqs/.ssh/hosts --sync-dst-dir /tmp/mxnet python2 train_face.py --network resnet-50 --gpus 0 --kv-store dist_async
2018-08-10 22:24:01,102 INFO rsync /home/yqs/incubator-mx

[2018-08-10 15:05] tequilaguru commented on #8569
It should work with LD_PRELOAD, either with tcmalloc or jemalloc

[2018-08-10 15:43] tqchen commented on #12123
Thanks for the catch, can you send a PR to fix this?

[2018-08-10 16:45] safrooze commented on #12116
@KellenSunderland  I had to be more specific. The memory increase happens during inference and increases by each forward call and eventually stabilizes. Haven't had a chance to create a minimum reproducible example yet.

[2018-08-10 17:05] safrooze commented on #12116
@piiswrong Can you take a look?

[2018-08-10 17:35] Roshrini commented on #9715
@nazikus Wasn't able to reproduce this issue on a similar dataset by running your code snippet.
I will be closing this issue for now. Please feel free to reopen if closed in error and if the issue still persists.

@sandeep-krishnamurthy Can you please close this issue?

[2018-08-10 17:44] Roshrini commented on #10264
This issue seemed to have resolved. Test cases are in place as mentioned above. I will be closing it issue for now. Please feel free to reopen if closed in error and if the issue still persists.

@sandeep-krishnamurthy Can you please close this issue?

[2018-08-10 17:49] #9715 closed

[2018-08-10 17:49] #10264 closed

[2018-08-10 18:18] sandeep-krishnamurthy opened #12126 "[Feature Request] Utility API for querying GPU memory"
Platform independent API (without using nvidia-smi) for querying GPU memory.
C implementation is provided by @sbodenstein  in this PR - https://github.com/apache/incubator-mxnet/pull/12083#pullrequestreview-145347358

[2018-08-10 18:33] prathik-naidu opened #12127 "LSTM split0 Operator Error"
## Description
Getting an error in the split0 operator when training an image captioning network in mxnet.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia): I'm using Python

## Error Message:
[code]

## Minimum reproducible example
I'm using the code from the following repository: [https://github.com/saicoco/mxnet_image_caption](https://github.com/saicoco/mxnet_image_c

[2018-08-10 18:38] piiswrong opened #12128 "NaiveEngine is not threadsafe and crashes when called from multiple threads."
MXNet with NaiveEngine crashes when called from multiple threads. ThreadedEngine works fine.

[2018-08-10 18:51] hetong007 commented on #12121
Cannot reproduce with the latest(1.3.0b20180810) pip package. It may due to unstable connection to the S3 bucket for pretrained models.

[2018-08-10 20:03] #12087 closed

[2018-08-10 20:14] #11616 closed

[2018-08-10 20:18] haojin2 commented on #12121
@hetong007 maybe we can add retry logic in this test?

[2018-08-10 20:59] xcgoner commented on #12062
I think this is actually an issue of zmq, used in ps-lite. Zmq can only take ip address to find network interface. Using hostname will fail.
Please take a look at the discussion here:
https://stackoverflow.com/questions/6024003/why-doesnt-zeromq-work-on-localhost

[2018-08-11 03:29] anirudhacharya commented on #6925
@mxnet-label-bot please add [Feature Request] to this issue.

[2018-08-11 04:57] hetong007 commented on #12121
@haojin2 Do we have an idea of how often does such kind of error show up?

[2018-08-11 04:59] haojin2 commented on #12121
Not really sure, but seems like there're a few build failures caused by failed links from time to time.

[2018-08-11 06:15] jasonyu1996 opened #12132 "[Feature Request] Implementation of L-BFGS optimizer"
Hi!
Would the developers consider adding an implementation of limited memory BFGS to the library? PyTorch offers one here: https://pytorch.org/docs/stable/optim.html?#torch.optim.LBFGS

[2018-08-11 07:52] kaleidoscopical commented on #12001
@safrooze I have tried both of them. While the `nd` version seems to perform similarly as the original `BatchNorm`, the `sym` version fails when calling `asnumpy()`.

[2018-08-11 08:14] petronny commented on #12123
Sorry, I'm afraid not because I have a pool network connection to apache JIRA...

[2018-08-11 10:43] luchangli03 opened #12134 "why MKL and MKL-DNN can't be used simultaneously in ChooseBlas.cmake"
if(MKL_FOUND)
      if(USE_MKLDNN)
      set(BLAS "open")
    else()
      set(BLAS "MKL")
    endif()
  endif()

[2018-08-11 11:15] luchangli03 commented on #12134
in the 3rdparty/mshadow/cmake/mshadow.cmake
the codes are also
  if(MKL_FOUND)
    if(USE_MKLML_MKL)
      set(BLAS "open")
    else()
      set(BLAS "MKL")
    endif()
  endif()
I can't understand

[2018-08-11 11:25] squidszyd opened #12135 "Writing own C++ Data Iter"
https://github.com/apache/incubator-mxnet/blob/c44f16b0909d94c9beaf9c5fc0773855bbc91807/src/io/inst_vector.h#L147

I'm currently implementing a data iterator for generating data for multi-task model, which needs various data and labels as input. However, as I going on, I've found that the data holder `InstVector` is designed to hold only one data and one label.

Should the `Push` method of `InstVe

[2018-08-11 11:30] #12135 closed

[2018-08-11 12:49] marcoabreu commented on #12134
@lebeg

[2018-08-11 12:49] #12123 closed

[2018-08-11 13:34] pengzhao-intel commented on #12134
yes, it's a little trick and this is a piece of legacy code which we want to refine for a while.

You can refer this issue and @jinhuang415 can help for the details.
https://github.com/apache/incubator-mxnet/issues/10175

[2018-08-11 13:41] kppl commented on #1161
`from skimage import transform `

[2018-08-11 16:32] hhyasdf commented on #7924
It maybe is because of that there is a extra firewall in CentOS except iptables, and you should have got it closed.

[2018-08-12 00:27] adaaaaaa commented on #12132
follow with interest...

[2018-08-12 15:11] squidszyd opened #12138 "How to debug C++ Iterator?"
I've written a C++ iterator (name it `MyIterator`) for performance purpose. The implementation (.cc) file is put in `src/io`. After `make`, I found myself only able to call it through python interface using `iter = mx.io.MyIterator` and hard to access the C++ code and debug.

For instance, `MyIterator` provides multiple labels (suppose the number is 4) as label data in one sample, which is differe

[2018-08-12 16:06] larroy opened #12139 "Broken test test_io.test_CSVIter"
## Description

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/master/runs/1398/nodes/926/steps/1123/log/?start=0

[2018-08-12 17:16] KingfaLuis commented on #3205
C:\Users\my\Desktop\Python\Django\onlineEducation\Mxonline3>python manage.py runserver 8002
Unhandled exception in thread started by <function check_errors.<locals>.wrapper at 0x0000000003E17400>
Traceback (most recent call last):
  File "g:\ProgramData\Anaconda3\lib\site-packages\django\utils\autoreload.py", line 225, in wrapper
    fn(*args, **kwargs)
  File "g:\ProgramData\Anaconda3\lib\site-pa

[2018-08-12 23:42] mdespriee opened #12140 "Impossible to provide arguments to random_normal in scala ?"
## Description
I'm trying to use random_normal in the Symbol API. In scala.
The docs mentions that loc and scale could be Symbols and have a shape (that's what I'm looking for). Although, when I try to use the symbol:
[code]
MXNet complains that arguments are incorrect.
[code]
Sounds like a bug to me. Or do I miss something ?

## Environment
- Linux setup using  https://raw.githubusercontent.com/a

[2018-08-13 00:37] nswamy commented on #12103
Closing this issue. please open a new issue detailing the problem and steps to reproduce.

[2018-08-13 00:37] #12103 closed

[2018-08-13 03:55] #12138 closed

[2018-08-13 04:44] squidszyd opened #12141 "C_API for C++ iterator only supports one data and one label for one sample"
I'm currently implementing a C++ iterator for performance purpose.
My iterator (name it `MyIterator`) provides one data and multiple labels of different shapes.
These data and labels are stored in [the `data` attribute of `DataBatch` object](https://github.com/apache/incubator-mxnet/blob/master/include/mxnet/io.h#L81). The arrangement of data and labels may look like the following:
[code]
However,

[2018-08-13 05:28] lanking520 commented on #12107
Hi @lebeg thanks for your question. Let me try to grab someone who is working on CMake to help you out.

@mxnet-label-bot could you please label this as [CUDA, Installation, Cmake].

[2018-08-13 05:30] lanking520 commented on #12116
@mxnet-label-bot please label this as [operator, memory]

[2018-08-13 05:33] jinhuang415 commented on #12134
@luchangli03 Currently cmake BLAS is hard coded based on MKL_FOUND and USE_MKLDNN, we think this is unreasonable and need to change, solutions like to provide an option to select the BLAS type (just like what Makefile does, and users can still use MKL blas even use MKLDNN), this suggestion is also listed in #10175 related slides as well.

[2018-08-13 05:33] lanking520 commented on #12119
Hi @TS0713 , the R package for now is still under heavy implementation. Grab a guy who is working on this:
@anirudhacharya could you please help to see if there is any alternative solution to this?

@mxnet-label-bot please add [feature, R] label here.

[2018-08-13 05:38] lanking520 commented on #12120
Hi @liangxi627 looks like this is an OpenCV Version issue. Currently MXNet CI is working on `Ubuntu 16.04` version, please try this alternative if you cannot make it with the current solution.
@szha have you seen similar issues as this one before?

@mxnet-label-bot please add [build] in here

[2018-08-13 05:51] Faldict opened #12142 "Failed to import MXNet built with TensorRT"
I pulled the latest source code from the master branch and built MXNet successfully with `USE_TENSORRT = 1`. But I failed to import mxnet:

[code]

Here is the error log:

[code]

I use protobuf 3.5.1.
@mkolod Could you please take a look at this?

[2018-08-13 06:02] lanking520 commented on #12140
Hi @mdespriee
Nice try with Scala package! In your case, you can implement in the following ways:
[code]
Just put all of your args in the map. You can always check [Python API example](http://mxnet.apache.org/api/python/symbol/symbol.html#mxnet.symbol.random_normal).

BTW, in the future, you can call `Symbol.api.random_normal`. This is a brand new api set introduced in v1.3 (not coming yet..) here

[2018-08-13 06:06] lanking520 commented on #12132
@jasonyu1996 thanks for your question and  keep watching this thread.
@eric-haibin-lin do we have something similar in MXNet?

@mxnet-label-bot please label this as [feature, memory]

[2018-08-13 06:07] lanking520 commented on #12139
@mxnet-label-bot please label this as [build, CI]

[2018-08-13 06:16] lanking520 commented on #12141
@squidszyd thanks for your discovery. The C++ API is incomplete comparing to other languages support. Please feel free to discover a good way to find a workaround and maintain the C++ package with this feature.

Let's put a feature request here:
@mxnet-label-bot please add [feature, c++] here.

[2018-08-13 06:26] lanking520 commented on #12134
@mxnet-label-bot could you please label this as [build, cmake, mkldnn]

[2018-08-13 06:32] lanking520 commented on #12127
@prathik-naidu Thanks for your issue. Please also put this issue to the discuss.mxnet.io, there are more people working on different examples.

@mxnet-label-bot could you please label this as [operator, question]

[2018-08-13 06:33] anirudhacharya commented on #12132
I dont think MXNet has this optimizer, and optimizer requests are tracked here - https://github.com/apache/incubator-mxnet/issues/9182

[2018-08-13 07:35] marcoabreu commented on #12142
@KellenSunderland

[2018-08-13 07:42] fengshi2017 opened #12145 "syncbatchnorm for 3d cnn"
Hello, during training I3d with videos, I simply replace gluon.nn.BatchNorm with gluon.nn.SyncBatchNorm but an error as following is reported. Could anyone explain how to solve this problem?

error info: mxnet/3rdparty/tvm/nnvm/include/nnvm/tuple.h:438: Check failed: dim == static_cast<int>(ndim()) (4 vs. 5) dimension do not match target dimension 4 vs 5

[2018-08-13 07:47] TS0713 commented on #12119
Hi,
Thanks for your support. Indeed I have tried installing for R version below
3.5.0 , still I am not able to find gluon and lstm . Please suggest me the
process to install mxnet for installing on R stuido along with R version
which contains gluon and lstm. The link which you have provided for lstm
doesn't have version details of R and mxnet .  Awaiting for your reply.

Regards
Pavan Satya

On Mo

[2018-08-13 08:06] mdespriee commented on #12140
Actually, I tried that as well, and can't make it work either.
[code]

[code]
and:
[code]

[2018-08-13 08:15] KellenSunderland commented on #8270
@vandanavk Taking a look.

[2018-08-13 08:29] marcoabreu commented on #12139
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1397/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1398/pipeline/
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1399/pipeline/
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incuba

[2018-08-13 08:31] prathik-naidu commented on #12127
@lanking520 Sure, I also just put this up on discuss.mxnet.io

[2018-08-13 08:45] KellenSunderland commented on #12142
Hey @Faldict.  The problem is that you don't have protobuf on your LD_LIBRARY_PATH.  I'd recommend setting your path like the following:
[code]
Where MXNET_PATH is the root director of you MXNet folder, and PROTOBUF_PATH is the root directory of your protobuf files.

In general when you run into these runtime issues one step that usually helps me is to run
``ldd /home/faldict/incubator-mxnet/pytho

[2018-08-13 08:55] ciyongch commented on #10205
Hi @tdomhan @mjpost @fhieber, the optimized `topk` has being merged into MXNet's master branch now :)
I submitted a new PR https://github.com/awslabs/sockeye/pull/506 to change topk from numpy version to MXNet version during inference for CPU device. Please take your time to have a look.

[2018-08-13 10:38] Faldict commented on #12142
@KellenSunderland Thanks for your useful reply! I run `ldd libmxnet.so` and get the following information:

[code]

In fact, I have built `protobuf`, `onnx` and `onnx-tensorrt` from source separately and add them to the LD_LIBRARY_PATH. Currently I doubt this problem is because of the compatibility of different `protobuf` versions. Run `ldconfig -p | grep -i protobuf`:

[code]

`libprotobuf.so.9`

[2018-08-13 11:35] KellenSunderland commented on #8270
@vandanavk Thanks for the catch!  Should be addressed in https://github.com/apache/incubator-mxnet/pull/12147

[2018-08-13 11:51] whu-lyh commented on #12086
Anybody here?,The question i asked and described before in five days ago has confused me so many days.  and i still believe it's incompatible to distribute training on different version of CUDA. and i close this issue but hope anybody can tell me if i'm wrong~~

[2018-08-13 11:51] #12086 closed

[2018-08-13 11:51] whu-lyh commented on #12086
@rahul003 @rahul003 @rahul003

[2018-08-13 12:08] prathik-naidu commented on #12127
[https://github.com/apache/incubator-mxnet/issues/11430](https://github.com/apache/incubator-mxnet/issues/11430)

This github issues actually fixes this bug but is only updated on a newer version of MxNet. I was using the deep learning AMI on an ec2 instance and the version is 1.1.0, which is not updated with this fix (for others who see get this issue with a similar setup).

[2018-08-13 16:42] lanking520 commented on #12127
@szha here. Does this issue look like the one you fixed?

[2018-08-13 16:55] ankkhedia commented on #12119
Hi @TS0713 As @anirudhacharya mentioned, R does not have Gluon support. However, you can try using LSTM example on the latest MXNetR package. Please follow install instructions as mentioned over here https://mxnet.apache.org/install/index.html?platform=Linux&language=R&processor=CPU&prev=master# based on your OS and let us know if you face any issues.

[2018-08-13 17:18] szha commented on #12127
@lanking520 unfortunately no. My recent work on the RNN operator doesn't involve the split in error.

[2018-08-13 18:20] Roshrini commented on #12057
Duplicate issue: https://github.com/apache/incubator-mxnet/issues/12018

[2018-08-13 18:20] #12057 closed

[2018-08-13 18:30] srochel opened #12150 "wrong reference to dev list on mxnet.io"
Reference to dev list at http://mxnet.incubator.apache.org/community/contribute.html#mxnet-dev-communications
for dev list correct reference is:
For Contributors to MXNet, join the DEV mailing list:
MXNet Apache DEV mailing list (dev@mxnet.apache.org): To subscribe, send an email to dev-subscribe@mxnet.apache.org

@aaronmarkham please fix.

[2018-08-13 18:30] #11899 closed

[2018-08-13 18:31] eric-haibin-lin commented on #12145
@zhanghang1989

[2018-08-13 18:35] zhanghang1989 commented on #12145
you could reshape the data to (b,c,h,w) and then reshape back.

[2018-08-13 20:54] lupesko commented on #12150
@mxnet-label-bot please add [Doc, Bug].

[2018-08-13 21:07] larroy commented on #12107
3.10.0 seems like a super new version of cmake....   but is definitely worth considering if it simplifies the build so much.

[2018-08-13 21:16] zhreshold commented on #11872
With #11908 been merged, I am closing this for now. Feel free to ping me if it still exists.

[2018-08-13 21:16] #11872 closed

[2018-08-13 22:00] mdespriee commented on #12140
@lanking520 Oh wait, I think I understand.
Actually, I'm interested in this: https://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.random.normal
Which can, if understand well the piece of doc about the shape, be fed with non scalar Symbols.

To put it differently, I don't have a single value for loc and scale, I have a full batch of them, and I want to draw random numbers f

[2018-08-13 22:33] anirudhacharya commented on #11924
@sandeep-krishnamurthy please close this due to lack of activity.

[2018-08-13 22:35] anirudhacharya commented on #2841
@sandeep-krishnamurthy please close this, it is being tracked here - https://github.com/apache/incubator-mxnet/issues/1518

[2018-08-13 23:04] zheng-da opened #12154 "the cond operator doesn't support a function that doesn't require inputs."
The python functions of the cond operator has to access some variables outside the function.
[code]

 The following code will run into an error as follows.

[code]

[2018-08-13 23:06] zheng-da commented on #12154
The reason that the cond operator fails is that CachedOp, which the cond operator uses to execute a subgraph, requires to have inputs for every subgraph.

[2018-08-13 23:06] zheng-da commented on #12154
@junrushao1994

[2018-08-13 23:41] #2841 closed

[2018-08-14 00:27] vdantu commented on #12154
@mxnet-label-bot [Python, Question]

[2018-08-14 00:50] vdantu commented on #12145
@mxnet-label-bot [Gluon,  Question]

[2018-08-14 01:44] #11924 closed

[2018-08-14 02:04] #11496 closed

[2018-08-14 04:45] nuaawzl commented on #12120
Hi, you can try do something like this:

...
#if MXNET_USE_OPENCV
#include <opencv2/opencv.hpp>
+     #include <opencv2/imgproc/types_c.h>         // add
#include <vector>  // NOLINT(*)
#include <utility> // NOLINT(*)
#include <string> // NOLINT(*)
....

...
#if MXNET_USE_OPENCV
#include <opencv2/opencv.hpp>
+    #include <opencv2/imgproc/types_c.h>       // add
#endif  // MXNET_USE_OPENCV
...

[2018-08-14 04:48] nuaawzl commented on #12120
Hi, you can try do something like this:

1     image_augmenter.h
#if MXNET_USE_OPENCV
#include <opencv2/opencv.hpp>
+ #include <opencv2/imgproc/types_c.h>
#include // NOLINT()
#include // NOLINT()
#include // NOLINT(*)

2     image_io.cc
#if MXNET_USE_OPENCV
#include <opencv2/opencv.hpp>
+ #include <opencv2/imgproc/types_c.h>
#endif // MXNET_USE_OPENCV

[2018-08-14 04:53] nuaawzl commented on #12120
Hi, you can try do something like this:

1     image_augmenter.h
[code]

2     image_io.cc
[code]

[2018-08-14 05:59] jasonyu1996 commented on #9182
- [ ] Limited-memory BFGS (L-BFGS)

[2018-08-14 06:02] jasonyu1996 commented on #12132
Thanks! I have added it to the optimizer request list. Actually I am quite willing to see if I could implement one for MXNet myself.

[2018-08-14 06:42] Achhhe commented on #11897
hey,did you deal with the problem? I want to fix the params before fc1  that are used to extract features, and only train the new fc layers. I used two methods , fixed_param_names and  sgd.set_lr_mult, but both didnt work @wkcn @lmmcc

[2018-08-14 06:45] MandarGogate commented on #9208
Is there any way around this issue?

[2018-08-14 07:17] asitstands commented on #11417
Any update on this issue? `libomp.so` in `3rdparty` causes a segfault in the `build.ubuntu_gpu` docker environment for the CI testing. The cmake build passes all unit tests for gpu but a segfault occurs at the end. Here is the stack trace.
[code]
If I remove the dependency on `libomp.so` and just use `-fopenmp`, the segfault does not occur.

[2018-08-14 07:30] wkcn commented on #11897
@Achhhe Hi. [Issue #9511](https://github.com/apache/incubator-mxnet/issues/9511) may be helpful.
You need to set the variable `idx2name`.

[2018-08-14 08:16] karlind opened #12158 "What's the difference between Context('cpu') and Context('cpu_shared')?"
When I try to write a custom `batchify_fn`, I find `default_mp_batchify_fn` uses a `Context('cpu_shared', 0)`. I searched document and find almost no description about that.
Comment says it saves memory. But i want to know what's the difference between `Context('cpu')` and `Context('cpu_shared')`. Also how to use it.
Thanks for help.

[2018-08-14 08:36] nicklhy commented on #11849
Got the same problem here. Any updates here?

[2018-08-14 09:12] GoodJoey commented on #9430
did you use mx_operator?

[2018-08-14 10:59] xiaojingxie opened #12159 "C++ api executor->Forward(false) is much slower than MXPredForward?"
## Description

hi,

I am using the c++ api for prediction based on mobilenet v2. And I found that the codes belows runs 100+ms while I implement the same function using the c api, 10ms only. Both are running on GPU.

c++ version:
executor = net.SimpleBind(global_ctx, args_map, map<string, NDArray>(),
                              map<string, OpReqType>(), aux_map);
executor->Forward(false); // ar

[2018-08-14 11:08] lebeg commented on #11417
I created a PR https://github.com/apache/incubator-mxnet/pull/12160 to remove the submodule from the build.

[2018-08-14 12:26] moveforever commented on #12158
cpu_shared is context where NDArray is allocated in shared memory.

[2018-08-14 13:12] larroy commented on #11999
I think we should close this unless we can reproduce or we see it more often.

[2018-08-14 14:59] KellenSunderland commented on #12142
@Faldict It looks like everything is linked and resolved correctly to me.  That is a little strange.  I'd like to statically link the protobuf aspects in the future which should solve this.  The only advice I could give at this point would be to try to closely copy the installation process the CI is taking.  I'll hope to have docker images and/or pip packages next week if you're ok with either of

[2018-08-14 15:13] cloudhan commented on #9208
The easiest way to walkarround this issue is save the parameter, then load it as a dict and manually convert all parameter to cpu based and then dump it to the file again...

[2018-08-14 15:58] MoritzMaxeiner commented on #8671
@szha What malloc are you using for pip? tcmalloc, jemalloc, or default?

[2018-08-14 16:00] srochel commented on #12116
Kellen - can you please provide more details - I don't understand your message:
With commit ed20304 I observed a GPU memory **usage of 2.5GB**. Re-running the same test with commit 98a41af I observe a memory **usage of 2.5GB**
What is the difference and how can one reproduce?

[2018-08-14 16:05] junrushao1994 commented on #12154
@zheng-da Thank you so much for providing this example and very detailed explanation!

To be clear, please allow me to summarize the problem as follows: currently, the implementation of three control flow operators, `foreach`, `cond` and `while_loop`, requires every subgraph to have at least one input.

To my understanding, this is actually a restriction of `CachedOp`: our implementation simply cr

[2018-08-14 16:11] vdantu commented on #12158
@mxnet-label-bot [Question]

[2018-08-14 16:43] junrushao1994 opened #12163 "Control flow operators may fail when names of symbols given duplicate"
**TL;DL.** The current implementation of control flow operators heavily relies the assumption that the name of symbols given should be different. This assumption is made in all three control flow operators: `foreach` ([here](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/symbol/contrib.py#L268), [here](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/symbol/co

[2018-08-14 17:09] szha commented on #8671
@MoritzMaxeiner default malloc so far. I intended to use jemalloc by building it from source but our makefile logic for jemalloc prevents a static link. https://github.com/apache/incubator-mxnet/blob/master/Makefile#L254-L278 (e.g. it forces to look in specific paths for libjemalloc.so).

[2018-08-14 17:48] MoritzMaxeiner commented on #8671
@szha Thank you very for the info, I suspected as much.

OT: I was just making sure, since I use MXNet from a shared object (dynamically loaded at runtime by another executable that I can't change to tcmalloc or jemalloc, which links dynamically against OpenCV), and using tcmalloc in MXNet leads to [these](https://github.com/apache/incubator-mxnet/issues/8569) issues with the `LD_PRELOAD` [workaro

[2018-08-14 18:28] zheng-da commented on #12163
Actually, this problem is fixable. A Symbol can have a unique name. The only problem is that Symbol.name() currently only uses the node name as a symbol name. To make a Symbol name unique, we should use NodeEntry names. I'll submit a PR to fix this.

Your other concern is valid. Cutting an edge should generate a var node with a unique name.

[2018-08-14 18:32] zheng-da commented on #12154
Yes, the problem is that CachedOp can't handle a subgraph that doesn't require inputs. There are two possible fixes: one is to find nodes such as zeros() and ones() and keep them outside the subgraph; the other is to modify CachedOp to handle the case. The problem of handling subgraph without inputs in CachedOp is that we need to find out what context we should use.

[2018-08-14 18:56] lanking520 commented on #12140
@mdespriee Yes you can do that.
[code]
What you can do is putting all three vars in the middle bracket following the order.

[2018-08-14 18:58] KellenSunderland commented on #12116
I basically meant to say that I was unable to reproduce the problem.
Sounds like there were some steps required that I didn't attempt (run
forward in a loop).

On Tue, Aug 14, 2018, 6:01 PM Steffen Rochel <notifications@github.com>
wrote:

[2018-08-14 19:44] kalpitdixit commented on #9171
Re-ran my code on the latest version of MXNet. This issues does not happen any longer.

[2018-08-14 19:44] #9171 closed

[2018-08-14 19:49] apeforest commented on #11084
I have created a JIRA https://issues.apache.org/jira/browse/MXNET-806 is created to track this bug and am working on it this week.

[2018-08-14 20:16] vandanavk commented on #11224
@TaoLv dmlc-core has been pulled in. The fix is in incubator-mxnet now.

@sandeep-krishnamurthy Could you close this issue?

[2018-08-14 20:55] apeforest opened #12168 "Error in Operator implementation guide"
## Description
Error in the operator implementation guide:
https://mxnet.incubator.apache.org/faq/add_op_in_backend.html

It's correct in the markdown file: https://github.com/apache/incubator-mxnet/blob/master/docs/faq/add_op_in_backend.md

## Error Message:
"Note that forward and backward functions are registered with attribute key FCompute, rather than FCompute."

[2018-08-14 20:55] apeforest commented on #12168
@mxnet-label-bot [Documentation]

[2018-08-14 22:36] piiswrong commented on #12116
Can you demonstrate a case where it actually fails with OOM?
We have a memory pool that caches freed memory. So the memory usage you see in nvidia-smi may not be the same with actual usage.

[2018-08-14 23:09] vandanavk commented on #11480
@hxhxhx88 Upon further investigation, it was found that this observation is expected behavior.

"INFO:root:Epoch[1] Train-accuracy=" is not the epoch accuracy - the log is misleading (Ref: https://github.com/apache/incubator-mxnet/pull/10437). The plan is to remove this print statement altogether.

The log for batch is based on a user-specified value which prints a log at regular intervals (`--dis

[2018-08-14 23:18] ankkhedia commented on #12002
Hi @alexmosc Thanks for using MXNetR. I can help you with the question if I understand the exact use case and has some sort of sample dataset.
I want to understand what exactly you are trying to learn. When unroll config is set to seq-to-one , then there is one output for each sequence. So, if you have standard n_samples*seq_len training examples your label should be a vector of size n_samples.[Ex

[2018-08-14 23:25] ankkhedia commented on #3833
Hi @SINsing Thanks for trying out MXNetR. Could you please provide more context of the question.
How does your new input data looks like and what do you exactly want to do so that we may help you over the issue.

@nswamy @sandeep-krishnamurthy Could you please tag this issue as Pending Requester Info

[2018-08-14 23:29] lanking520 commented on #12140
Actually if you are interested, you can be the contributor to get it out for Scala package. It needs some wrappers similar to python side and expose the following apis:
[code]
These can be code-generated from Macro side. Please let me know if you are interested

[2018-08-14 23:35] eric-haibin-lin opened #12171 "LBSGD doc not rendering correctly"
<img width="811" alt="screen shot 2018-08-14 at 4 34 51 pm" src="https://user-images.githubusercontent.com/5545640/44124041-07d4bf4a-9fe0-11e8-8463-f963e3e4af83.png">

[2018-08-14 23:38] andrewfayres commented on #10867
@jessebrizzi I've got what I believe to be a working fix in my [repo](https://github.com/andrewfayres/incubator-mxnet/tree/reshape_bug). I need to do some more thorough testing and add some automated testing to this before submitting a PR but my preliminary testing is looking good. Feel free to take a look and let me know if you find any issues.

I'll work on moving all of this over to the native

[2018-08-14 23:45] vandanavk commented on #8191
@wcollins-ebsco were you able to find a way to do this?

[2018-08-14 23:46] szha commented on #12116
You can do `export MXNET_GPU_MEM_POOL_RESERVE=100` to disable the memory pool.

[2018-08-14 23:57] safrooze commented on #12116
The network does indeed run out of memory with larger loop count.
[code]
I also tried setting `MXNET_GPU_MEM_POOL_RESERVE=100` and that has an interesting behavior: The peak memory usage doesn't change, but at the point where typically memory would stabilize, it resets back to ~4GB and climbs back up and again resets back and continues this pattern.

I should mention that inference is composed of

[2018-08-15 01:53] #11224 closed

[2018-08-15 04:37] nswamy commented on #11925
Thanks @liyujiel, he added a Python example for stack now.  Closing the issue

[2018-08-15 04:37] #11925 closed

[2018-08-15 05:11] Faldict commented on #12142
@KellenSunderland I uninstalled protobuf 3.5.1 and rebuild the whole toolchain. At present, MXNet could be imported successfully. It seems that you should constrain the protobuf version strictly.

Further more, I tried to run a tensorrt baseline. I used the test code `incubator-mxnet/tests/python/tensorrt/test_tensorrt_lenet5.py` but got an unexpected error:

[code]

As I set some breakpoints, I f

[2018-08-15 06:33] PlumedSerpent opened #12179 "Spelling mistake in "mxnet/symbol/image.py" in which "gen_image" is written to be "gen_iamge""
mxnet version:1.2.1
python:3.7
OS:Linux
cuda:8.0

[2018-08-15 08:56] #11696 closed

[2018-08-15 13:44] wcollins-ebsco commented on #8191
Thank you for your follow up.
I switched to using scikit-learn and tensorflow due to this and many other problems I ran into while trying to use mxnet.

[2018-08-15 13:44] #8191 closed

[2018-08-15 16:26] vdantu commented on #12159
@xiaojingxie : This is a good question. Could you also post this on discuss.mxnet.io ? The question will receive a larger audience.

@mxnet-label-bot [C++, C, Question]

[2018-08-15 16:31] vandanavk commented on #8270
Thanks @KellenSunderland

@cclauss I don't see the errors
[code]
I've tried flake8 and pylint, Python2 and Python3.

Although I do see
[code]
After these are fixed, I'll add "undefined-variable" to pylintrc in the CI build. This will check future commits to python/mxnet.

[2018-08-15 16:36] sandeep-krishnamurthy commented on #11867
Resolved by @haojin2

[2018-08-15 16:39] #11736 closed

[2018-08-15 16:41] sandeep-krishnamurthy commented on #11867
Reopening as we have few more pending updates - @haojin2

[2018-08-15 16:44] cclauss commented on #8270
* reload(): https://docs.python.org/3/whatsnew/3.0.html#builtins
    * Was moved to https://docs.python.org/3/library/importlib.html#importlib.reload
* cmp(): https://docs.python.org/3/whatsnew/3.0.html#ordering-comparisons
    * http://python-future.org/compatible_idioms.html#cmp has a formula for building your own __cmp()__

[2018-08-15 16:50] cclauss commented on #8270
__mxnet__ --> __mxnet.ndarray__

[2018-08-15 17:01] cclauss commented on #8270
See PEP8 for reasons why star imports are for the birds...

On the `python/mxnet/ndarray/__init__.py` issue, you could try adding a line `from .ndarray import __all__ as ndarray___all__` and then below replace `ndarray.__all__` with `ndarray___all__` .

[2018-08-15 18:15] apeforest commented on #12168
@nswamy Please label [Doc] for this issue. Thanks

[2018-08-15 19:36] larroy commented on #12112
This test is still causing problems:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1421/pipeline

[2018-08-15 21:20] apeforest commented on #7590
Ran the example in https://github.com/pangyupo/mxnet_center_loss/ and not able to reproduce the error any more. @sandeep-krishnamurthy Please help to close this issue.

[2018-08-15 21:30] muralibalki opened #12185 "from_logits definition seems different from what is expected?"
In loss functions like SoftmaxCrossEntropy, the definition of from_logits is:
from_logits (bool, default False) – Whether input is a log probability (usually from log_softmax) instead of unnormalized numbers.

It seems mxnet calls the output of a log_softmax a logit, whereas others call (any) unscaled log probabilities logits.

e.g. In tensorflow/keras api:
e.g. https://www.tensorflow.org/api_docs

[2018-08-15 21:39] thomelane commented on #10906
Submitted a PR to mention this in the documentation https://github.com/apache/incubator-mxnet/pull/12186
@sandeep-krishnamurthy issue can now be closed.

[2018-08-15 22:00] thomelane commented on #10571
Submitted pull request for updates https://github.com/apache/incubator-mxnet/pull/12190
@indhub good to close this issue now, thanks!

[2018-08-15 22:02] ankkhedia commented on #10267
Hi @NiklasDL Thanks for trying out MXNetR.  I understand your confusion regarding begin.round and num.round. As @some-guy1 suggested, the right way to think is
begin.round =n.rounds+x, num.round=n.rounds+extra.iter+x
where x>0 and n.rounds is the number of epochs for which model was trained previously.

@nswamy @sandeep-krishnamurthy Please close the issue as it has been resolved.

@NiklasDL Feel

[2018-08-15 22:08] cclauss commented on #8270
[flake8](http://flake8.pycqa.org) testing of https://github.com/apache/incubator-mxnet on Python 3.7.0

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-08-15 22:08] ankkhedia commented on #12032
@nswamy @sandeep-krishnamurthy Could you please close this issue due to inactivity as the issue is not reproducible.

@gulinlin  Please feel free to reopen the issue  case it if closed in error.

[2018-08-15 22:10] junrushao1994 commented on #12112
See #12192

[2018-08-15 22:17] #12032 closed

[2018-08-15 22:28] anirudhacharya commented on #12066
@sandeep-krishnamurthy please close this issue, it has been resolved.

@Ruoyu-Qian feel free to comment/raise an issue if you face further problems.

[2018-08-15 22:30] thomelane commented on #9587
@szha @indhub the docs were updated as part of https://github.com/apache/incubator-mxnet/pull/9777 so this can be closed, thanks!

[2018-08-15 22:35] thomelane commented on #8415
@aaronmarkham it looks like you've fixed these! at least the examples you've listed. going to request for close, but reopen if still an issue.

@sandeep-krishnamurthy can we close this issue please, thanks!

[2018-08-15 22:39] thomelane commented on #7652
@sandeep-krishnamurthy @yzhliu this issue was resolved as part of https://github.com/apache/incubator-mxnet/pull/7828. Good to close, thanks!

[2018-08-15 23:04] thomelane commented on #7539
@altosaar this was most likely a design choice to avoid discrimination against dyslexics.
As a British Dyslexic myself I fully support the recommendation from the The British Dyslexia Association to use this typeface for ease of reading: see https://bdatech.org/what-technology/typefaces-for-dyslexia.

As a matter of fact, my code editor's font is set to comic sans. :)

[2018-08-15 23:32] safrooze commented on #11913
@wkcn You are correct that the evaluation is lazy, but calling nd.waitall() does indeed wait for everything to finish, so calling nd.waitall() after each evaluation isn't necessary. Also when I run your exact test, I get these results:
[code]

Regardless of the difference in numbers, what your test does, I believe, is that it prevents the engine to utilize multiple cores to parallelize the computa

[2018-08-15 23:40] thomelane commented on #8969
@juliensimon just tested this out and I don't hit either of these issues.

With regards to Issue 1, there is logic to extract the number of layers from the network string for VGG (as with ResNet).

[code]

And for Issue 2, I tried `get_gpus()` on a CPU machine and due to the `except OSError` exception handling the function just returns an empty list which is expected behaviour of this function. In

[2018-08-15 23:40] thomelane commented on #8969
@indhub @yzhliu would appreciate if you could close this issue, many thanks!

[2018-08-15 23:43] #7539 closed

[2018-08-15 23:51] thomelane commented on #8165
@caiqi I realise this is from a long time ago, but were you able to provide a few more details so we can check whether this is still an issue for users. Much appreciated!

[2018-08-16 00:05] thomelane commented on #7873
@stoneyang I couldn't replicate this issue unfortunately. Can you still reproduce this issue?
It doesn't look like there have been many changes to this file since you tried to run, but there may have been improvements to RecordIO loading which have fixed this.

Or could it be something like corrupted data that was downloaded? If so, deleting the files and downloading again might fix it.

[2018-08-16 00:07] junrushao1994 commented on #11599
Closed since #11983 is merged. Thank you @haojin2!

[2018-08-16 00:07] #11599 closed

[2018-08-16 00:12] haojin2 commented on #12179
It's a pure typo, see the ndarray counterpart: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/ndarray/image.py#L22

[2018-08-16 00:25] haojin2 commented on #11697
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:25] haojin2 commented on #11698
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:26] haojin2 commented on #11694
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:27] haojin2 commented on #11700
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:27] haojin2 commented on #11695
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:27] haojin2 commented on #11702
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:27] haojin2 commented on #11703
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:28] haojin2 commented on #11740
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:29] haojin2 commented on #11704
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:29] haojin2 commented on #11738
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:30] haojin2 commented on #11733
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:30] haojin2 commented on #11734
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:31] haojin2 commented on #11729
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:31] haojin2 commented on #11728
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:31] haojin2 commented on #8049
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:32] haojin2 commented on #11410
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 00:38] haojin2 commented on #11456
@sandeep-krishnamurthy Related PR is merged, should be good to close.

[2018-08-16 01:04] #11728 closed

[2018-08-16 01:08] #9587 closed

[2018-08-16 01:25] #7652 closed

[2018-08-16 01:39] leezu opened #12197 "topk regression"
## Description
https://github.com/apache/incubator-mxnet/pull/12085/ introduced a bug into the topk operator. Below code example will output `[ 274232.  179574.  274233.  274231.]` with mxnet-cu90==1.3.0b20180810 but `[ 274232.  179574.  274232.  274232.]` with mxnet-cu90==1.3.0b20180814.

Note that both CPU and GPU versions of the operator are affected.

@szha @ciyongch @eric-haibin-lin

## Steps

[2018-08-16 02:08] #8969 closed

[2018-08-16 02:09] #10571 closed

[2018-08-16 02:57] DuCheng2018 commented on #12041
No one answer my question?

[2018-08-16 03:06] wkcn commented on #11913
@safrooze
You are right.
Sorry that I didn't know how many times the operator executes.

I did a simple experiment [Code](https://gist.github.com/wkcn/63e11870c0d0e48e6fda95716b7171e4).
It seems that the computation graph will not erased when reassign `b`.

[2018-08-16 03:53] eric-haibin-lin commented on #12197
@ciyongch thanks for looking into this. Your help is much appreciated

[2018-08-16 03:58] vandanavk commented on #11904
All the errors in this list have been fixed. Closing this bug.

[2018-08-16 03:58] #11904 closed

[2018-08-16 04:25] #11704 closed

[2018-08-16 04:25] #11740 closed

[2018-08-16 04:25] #11703 closed

[2018-08-16 04:25] #11702 closed

[2018-08-16 04:25] #11695 closed

[2018-08-16 04:26] #11700 closed

[2018-08-16 04:26] #11694 closed

[2018-08-16 04:26] #11698 closed

[2018-08-16 04:26] #11697 closed

[2018-08-16 04:26] #11691 closed

[2018-08-16 04:27] #11692 closed

[2018-08-16 04:27] #11718 closed

[2018-08-16 04:28] #11716 closed

[2018-08-16 04:30] #8415 closed

[2018-08-16 04:31] #10267 closed

[2018-08-16 04:31] #7590 closed

[2018-08-16 04:32] #12066 closed

[2018-08-16 04:47] cclauss commented on #11904
Pylint finds no undefined names when running on Python 2 and when running on Python 3?

[2018-08-16 04:52] anirudh2290 commented on #11998
Fixed by #12080

[2018-08-16 04:52] #11998 closed

[2018-08-16 05:25] zhreshold commented on #11872
@ifeherva  `docker run --shm-size xxx`, if not specified, docker has no shared memory

[2018-08-16 06:31] vdantu commented on #12197
@mxnet-label-bot: [Python, Operator, Bug]

[2018-08-16 06:58] KellenSunderland commented on #8383
Sorry was traveling. Will try to take a look at this one today.

[2018-08-16 07:06] KellenSunderland commented on #12142
@Faldict: I suspect it's still something to do with the build, but it could be some missing validation.  Do the other tests run properly?

I'd like to do two things to help troubleshoot the problem.  First use a pre-built package to rule out build issues.  Second lets gather some more information by getting a full stack dump.

Would you be able to run the diagnose script so I can see what OS distr

[2018-08-16 07:41] marcoabreu opened #12201 "CI blocked due to doc generation"
It seems like our CI pipeline is blocked during the Deploy stage:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12189/2/pipeline

[code]

[2018-08-16 08:07] lebeg commented on #12201
Taking a look

[2018-08-16 08:31] aaronmarkham commented on #12201
Fixed with https://github.com/apache/incubator-mxnet/pull/12195 (merged)
https://github.com/apache/incubator-mxnet/pull/12199 (open)

[2018-08-16 09:53] Faldict commented on #12142
@KellenSunderland I'm glad to do something that would benefit your work. Firstly, I ran the diagnosis and paste it below:

[code]

What's more, as I mentioned [here](https://github.com/onnx/onnx-tensorrt/issues/35), my PC has a GTX 1060 GPU.

Then I used gdb to run the test, crashed with following message:

[code]

Next, I entered the dump command and selected the most import segment, Thread 1 in

[2018-08-16 12:46] ifeherva commented on #11872
@zhreshold Good point. How much shared memory is recommended for mxnet?

[2018-08-16 15:00] zhreshold commented on #11872
That should align with the (input batch_size, data shape, worker number), usually several GB is recommended for multi-gpu training.

[2018-08-16 15:13] lebeg opened #12203 "flaky test: test_operator_gpu.test_depthwise_convolution"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12181/4/pipeline

[code]

[2018-08-16 15:29] vandanavk commented on #11904
The more recent lint scans that I've been doing are with Python3 - didn't find any new errors.

[2018-08-16 15:35] cclauss commented on #11904
See #12200 !!

[2018-08-16 16:12] cclauss commented on #11904
PyLint is not [currently configured](https://github.com/apache/incubator-mxnet/blob/master/Makefile#L537) to find issues with Python files ./amalgamation, ./tests, etc..

[2018-08-16 16:16] vandanavk opened #12205 "Lint errors in examples"
## Description
pylint scan on the files in the example folders, gives a number of errors - documented here https://gist.github.com/vandanavk/35e1b5b0a5b6c5654ed78bd831dac442

## Environment info (Required)

Package used (Python/R/Scala/Julia):
Python 3

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

MXNet commit hash:
ab92fd80b10805fd103217df0569513289db4

[2018-08-16 16:51] ankkhedia commented on #7525
@sandeep-krishnamurthy @nswamy Could you please close this issue due to inactivity

@yuzhouchen92 Please feel free to reopen if closed in error

[2018-08-16 16:51] ankkhedia commented on #7262
@sandeep-krishnamurthy @nswamy Could you please close this issue due to inactivity

@janejane11  Please feel free to reopen if closed in error

[2018-08-16 16:52] ankkhedia commented on #3833
@sandeep-krishnamurthy @nswamy Could you please close this issue due to inactivity

@SINsing  Please feel free to reopen if closed in error

[2018-08-16 17:52] altosaar commented on #7539
Wow, I had no idea about that - fascinating. Thanks for sharing @thomelane :) I'll keep that in mind for inclusive design moving forward.

[2018-08-16 18:08] vandanavk commented on #8270
@hqucms Could you have a look at these f3070fb#r30092025?

[2018-08-16 18:17] szha commented on #12197
Indeed. Let's address that in 2.0 due to API changes.

[2018-08-16 18:18] szha commented on #9686
#12197 in using integer types for index instead of float.

[2018-08-16 18:18] szha commented on #12197
@ciyongch for now please add a follow-up PR to add test for #12202. Thanks a lot for the quick fix.

[2018-08-16 18:37] Roshrini commented on #12179
@nswamy PR with fix was merged. Can you please close this issue? Thanks

[2018-08-16 18:40] vandanavk commented on #11480
PR https://github.com/apache/incubator-mxnet/pull/12182

[2018-08-16 18:59] #12179 closed

[2018-08-16 20:29] haojin2 opened #12210 "Flaky test test_operator_gpu.test_convolution_grouping"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12204/1/pipeline
[code]

[2018-08-16 20:36] haojin2 commented on #12197
@szha Fix has been merged, should be good to close

[2018-08-16 20:41] szha commented on #12197
@haojin2 not really. See comments above. In addition tests need to be added.

[2018-08-16 21:10] hqucms commented on #8270
@vandanavk Thank you for spotting this! I made a fix in https://github.com/apache/incubator-mxnet/pull/12211.

[2018-08-16 21:44] ifeherva commented on #11872
@zhreshold Adding shared memory to docker solved the problem. Thanks!

[2018-08-16 21:52] Roshrini commented on #10948
@HorsonLiu Can you provide more details on your setup?

Seems like similar issue(used to crash before) https://github.com/apache/incubator-mxnet/issues/9213 was solved by this PR before some time https://github.com/apache/incubator-mxnet/pull/8995

I was able to reproduce the issue on Linux, built MXNet from source. Tested on Python2 and Python3 both.

Observations:
1) If I comment "mx.nd.ones((2,

[2018-08-16 22:50] haojin2 commented on #12139
Fix is merged, and the related test has been re-enabled now. @sandeep-krishnamurthy @nswamy Can you help with closing the issue?

[2018-08-16 22:51] Roshrini commented on #10948
It looks like the issue here is that Python 2.7 always uses os.fork() in to implement multiprocessing.Process.start(). In Python3, there is a way to use other possible start methods which are 'fork', 'spawn' and 'forkserver'. You can set context as follows:
`multiprocessing.set_start_method('spawn')` to avoid the issues over fork-safety.

Ran following code snippet multiple times in Python3 succes

[2018-08-16 23:03] #12139 closed

[2018-08-16 23:05] harryprince commented on #12119
seeking gluon in R +1

[2018-08-16 23:45] ankkhedia commented on #7446
Hi @ArturIndio MXNet R package R API has undergone significant change in the last year and the API mx.rnn no more exist. However, there are various new functionalities added and you can check out nice examples of time series, language modeling and few other use cases here.
https://jeremiedb.github.io/mxnet_R_bucketing/LanguageModel_GPU.html

Please try out the latest API for your use case and let

[2018-08-16 23:47] ankkhedia commented on #3328
Hi @albert3858  MXNet R package RNN and LSTM  API has undergone significant change in the last year and the API mx.lstm no more exist. However, there are various new functionalities added and you can check out nice examples of time series, language modeling and few other use cases here.
https://jeremiedb.github.io/mxnet_R_bucketing/LanguageModel_GPU.html

Please try out the latest API for your use

[2018-08-16 23:50] ankkhedia commented on #2774
Hi @rajafan MXNet R package RNN and LSTM API has undergone significant change in the last year and the API mx.lstm no more exist. However, there are various new functionalities added and you can check out nice examples of time series, language modeling and few other use cases here.
https://jeremiedb.github.io/mxnet_R_bucketing/LanguageModel_GPU.html

Please try out the latest API for your use case

[2018-08-17 00:33] ciyongch commented on #12197
@szha sure, I will add two kinds of test cases to topk op, one is similar to the case used by @leezu , the other one is what I mentioned above (Since it will fail unless API change, so this one will be skipped by default for now). Any comments?

[2018-08-17 02:32] Achhhe commented on #11897
@wkcn thx for help, I have delt with the problem by fixed_param_names. The reason why the method didn't work is momentum=0.9 in BN, after I set the momentum=1 in BN, the params are fixed

[2018-08-17 03:29] knwng commented on #2142
@dsqx71 @tqchen Hello, I'm new to mxnet and I find out the shuffle options both in mx.io.ImageRecordIter and im2rec.py are chunk-wise(please correct me if I'm wrong), which makes shuffling inadequate.
Currently I'm shuffling the data list manually before create Record but it's kind of annoying. Is there any way to shuffle within the whole dataset using mxnet API? Thank you in advance!

[2018-08-17 03:35] ghgggg opened #12215 "using C++ api and GPU in windows 10 to extract feature occurs error when bind weights and parameters"
i'm just using mxnet C++ api to extract feature  ,show the codes below

cv::Mat img = _img.getMat();
		img.convertTo(img, CV_32F);
		img = (img - 127.5) / 128;
		static NDArray input(Shape(1, img.channels(), img.rows, img.cols), ctx);	//

		NDArray temp(Shape(1, img.channels(), img.rows, img.cols), Context(kCPU, 0),false);
		NDArray::WaitAll();
		auto ptr = temp.GetData();
		std::vector<cv::Mat> c

[2018-08-17 05:39] vdantu commented on #12185
@muralibalki : Thanks for pointing this out.

@mxnet-label-bot: [Doc]

[2018-08-17 06:41] vandanavk commented on #12024
I am in the process of replicating the issue - haven't yet got to the failure that you are seeing.

In the meantime, just had a couple of questions to try and understand the issue/replication steps better:
Why use tf.summary.FileWriter instead of SummaryWriter?
Also, have you tried mxboard's FileWriter/SummaryWriter in this example?
Any inputs on this would be helpful.

[2018-08-17 07:13] caiqi commented on #8165
@thomelane This is not a problem if using the SSD code directly. The original confusing thing is the format of imglist is not the same with the list which is used to create the rec file if I would like to provide imglist additionally. I think it's not a problem anymore. Thanks.

[2018-08-17 07:53] PistonY opened #12216 "syncBN can't work"
Note:

For Q & A and discussion, please start a discussion thread at https://discuss.mxnet.io

## Description
I use [syncBn](https://mxnet.incubator.apache.org/api/python/gluon/contrib.html?highlight=sync#mxnet.gluon.contrib.nn.SyncBatchNorm) but the script stucked.It can't run.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please pr

[2018-08-17 08:50] ciyongch commented on #12197
Hi @szha , I submit a PR https://github.com/apache/incubator-mxnet/pull/12217 to cover this case, and this is only for the first option mentioned above. For the second one, we can add it after the API was changed.
BTW, any plan to support `int` type of ndarray as a input to topk?

[2018-08-17 09:44] doubleconnect1 opened #12218 ""make" command producing error."
I am trying to fork a cryptocurrency and successfully compiled the source code  in my local machine and committed those changes to following github repository:   https://github.com/doubleconnect1/realnowcoin.git

Now I am trying to make a seed node using AWS.  I logged into an instance and cloned the repository and ran the following commands

sudo apt install build-essential libqt4-dev qt5-qmake c

[2018-08-17 14:14] lebeg opened #12219 "flaky test: test_operator_gpu.test_convolution_grouping"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12204/1/pipeline/

[code]

[2018-08-17 14:28] timprepscius opened #12221 "mxnet keras padding strides, maybe not correct?"
[code]

results in:
[code]

(The output sized changes when stride is not 1, even though padding was "same")

I think it should result in:
[code]

But I could be wrong of course.

[2018-08-17 15:52] vandanavk commented on #12024
@David-Levinthal have you had a chance to try out the solutions listed in https://github.com/apache/incubator-mxnet/issues/6121, https://github.com/apache/incubator-mxnet/issues/7002 or https://github.com/apache/incubator-mxnet/issues/6603?

[2018-08-17 15:53] David-Levinthal commented on #12024
SummaryWriter is deprecated. Use an R1.9 TF installation for the source
I used TF as I have source builds

if mxboard is required perhaps a minor change to the readme for
installation would be a solution.
d

On Thu, Aug 16, 2018 at 11:42 PM, Vandana Kannan <notifications@github.com>
wrote:

[2018-08-17 16:44] vandanavk commented on #8270
@cclauss looks like all the PRs for fixing these errors are merged. Do you think this issue can be closed now?

[2018-08-17 17:16] sandeep-krishnamurthy commented on #12221
@timprepscius - Opened an issue with keras-mxnet repo - https://github.com/awslabs/keras-apache-mxnet/issues/156

Resolving it here and following it up in keras-mxnet repo.

[2018-08-17 17:16] #12221 closed

[2018-08-17 17:26] haojin2 commented on #12216
@zhanghang1989

[2018-08-17 17:28] haojin2 commented on #12218
Seems like your question is not related to MXNet at all, would you please close your issue? Thanks!

[2018-08-17 17:31] zhanghang1989 commented on #12216
1). Please set `num_devices` to the number of gpus, if not all of them are used.
2). Please make sure each gpu has at least one training sample.
3). I only use gluon API, someone also get Symbol working, but I haven't tried. You can refer to GluonCV for examples https://github.com/dmlc/gluon-cv/blob/master/scripts/segmentation/train.py#L112

[2018-08-17 18:27] lanking520 commented on #10753
This problem resolved by introducing `__undefined__` field in the DataDesc. Please check the PR.

[2018-08-17 18:32] sandeep-krishnamurthy opened #12226 "Memory optimization in GLUON"
Related user issue - https://github.com/apache/incubator-mxnet/issues/10382
* Supporting Memonger with GLUON will help in memory optimization. Memonger is currently supported only with Symbolic mode.
* There is a new environment variable - `MXNET_GPU_MEM_POOL_TYPE` introduced for Memory pool strategy which significantly reduces memory usage in - https://github.com/apache/incubator-mxnet/pull/11041

[2018-08-17 18:36] sandeep-krishnamurthy commented on #10382
@xinedison - Memonger in Gluon, not yet as far as I know.

There is a new environment variable - MXNET_GPU_MEM_POOL_TYPE introduced for Memory pool strategy which significantly reduces memory usage in - #11041 You might want to check it out.

Created a feature tracking issue for evaluating using Memonger in Gluon - https://github.com/apache/incubator-mxnet/issues/12226

Resolving it here. Please r

[2018-08-17 18:36] #10382 closed

[2018-08-17 18:47] sandeep-krishnamurthy commented on #7551
Resolving it since it is now supported - https://github.com/apache/incubator-mxnet/pull/11482

[2018-08-17 18:47] #7551 closed

[2018-08-17 18:56] thomelane commented on #8347
@jiarenyf Good question. As I understand, this function is written to return two things: the ctc loss (which is being optimised and used for back-propagation) and the softmax over the classes across time which can then be used for other purposes (but we don't want to optimize for this).

Since this `lstm_unroll` function returns a symbol, and ideally we'd want to call backwards on this resultant s

[2018-08-17 19:01] thomelane commented on #8165
Ah, okay, so the image lists (for getting data into RecordIO format, and specifically for this SSD example) serve a similar purpose but are different formats. Many thanks for clarifying that.

@indhub good to close when you get a chance, thanks!

[2018-08-17 19:01] Roshrini commented on #5475
@littlelid Its difficult to reproduce this issue with little information provided. I tried to reproduce this issue on Caltech dataset. Was not able to do it. Referred:
https://mxnet.incubator.apache.org/tutorials/basic/data.html#using-imagerecorditer

Didn't see any difference between images generated by ImageRecordIter and ImageIter
Used resnet 50 model for inference. Didn't see any major accurac

[2018-08-17 19:02] sandeep-krishnamurthy commented on #7972
OONX version is available that can be imported in MXNet - https://github.com/onnx/models/tree/master/shufflenet

[2018-08-17 19:03] sandeep-krishnamurthy commented on #7972
Resolving it here - @qingzhouzhen - Please reopen if closed in error.

[2018-08-17 19:03] #7972 closed

[2018-08-17 19:17] sandeep-krishnamurthy commented on #8337
@piiswrong - Any updates or directions to take for fixing this issue?

[2018-08-17 19:17] thomelane commented on #5748
@KeLipeng it looks like you now understand the primary issue of variable gpu memory usage, so going to request for this issue to be closed. Just to confirm, you were seeing this effect because the input images were of different sizes, leading to different sized feature maps and thus different amounts of memory used.

With regards to the secondary question related to inspecting feature maps. You ha

[2018-08-17 19:44] thomelane commented on #8497
@janejane11 I realise this was an issue for you quite a while ago, but it looks to me like you should indeed be passing arguments to `mx.io.extract`. Checking the docs found [here](https://s3.amazonaws.com/mxnet-prod/docs/R/mxnet-r-reference-manual.pdf) you need to pass the data_iter and the field you're interested in extracting: `mx.io.extract(iter, field)`. But I think `ImageRecordIter` extracts

[2018-08-17 19:45] thomelane commented on #8497
@yzhliu good to close, but @janejane11 please reopen if this is still an issue, thanks!

[2018-08-17 19:55] thomelane commented on #8074
@yzhliu good to close given the suggestions, and option of `autograd.record` scoping given by @ThomasDelteil, thanks! @starimpact please reopen if still an issue.

[2018-08-17 20:00] thomelane commented on #11880
@iamweiweishi @rahul003 yes, this works for me too for building MXNet at a specific commit in the past:

[code]

@sandeep-krishnamurthy should be good to close, thanks!

[2018-08-17 20:04] haojin2 commented on #12219
This is duplicate of #12210.

[2018-08-17 20:04] sandeep-krishnamurthy commented on #9319
@tornadomeet - Are your concerns addressed? Can this issue be closed?

[2018-08-17 20:06] sandeep-krishnamurthy commented on #12145
@fengshi2017 - Is your issue resolved?

[2018-08-17 20:13] #11880 closed

[2018-08-17 20:16] sandeep-krishnamurthy commented on #11855
Closing the issue here in favor of https://github.com/apache/incubator-mxnet/issues/11965
Thanks @absalama for reporting the issue.
Please reopen if closed in error

[2018-08-17 20:16] #11855 closed

[2018-08-17 20:26] #5475 closed

[2018-08-17 20:46] thomelane commented on #11842
@mklissa what's been your experience of using FP16 with CIFAR-10? did you see any speed up?

[2018-08-17 20:52] thomelane commented on #11421
@zhreshold Agreed. Seems that OpenCV works will with multithreading but not with multiprocessing. See a few issues on their Github related to this (e.g. https://github.com/opencv/opencv/issues/5150).

Almost certain that @ThomasDelteil's suggestion will work though, it's used by `ImageFolderDataset` for example. It still uses OpenCV but calls it using an internal process.

[2018-08-17 20:53] thomelane commented on #11421
@yzhliu should be good to close this issue given the suggestions, thanks!

[2018-08-17 20:56] thomelane commented on #11350
@yzhliu can we please close this issue due to lack of reply from author, thanks.
@wanderingpj is you're still interested in this, please follow up and we can reopen.

[2018-08-17 20:59] AustinDoolittle opened #12228 "Device Kernel Image is Invalid (v1.2.1)"
## Description
Unable to allocate any GPU memory when using mxnet 1.2.1 with Cuda Versions 9.0-.2

## Environment info (Required)
OS: Windows 10 Enterprise
CPU: Intel Core i7-6800K
GPU: Nvidia GTX 1060 and Nvidia GTX 1070
Mxnet Version: 1.2.1, installed via pip install mxnet-cu90/mxnet-cu91/mxnet-cu92
Cuda Version: 9.0-.2

[code]

Package used (Python/R/Scala/Julia): Python

## Error Message:
Trac

[2018-08-17 21:01] mklissa commented on #11842
In my case there was definitely a speed-up with FP16 on CIFAR10. It is important to add the flag "multi_precision=True" to the optimizer as FP16 might create issues with the gradients.

[2018-08-17 21:01] thomelane commented on #11240
@xioryu are you able to provide some sample code that reproduces this issue? many thanks!

It's not possible to diagnose from just knowing the error occurred on line `pred_label = mx.ndarray.argmax_channel(pred).asnumpy().astype('int32')`. I'd expect any fatal error in the network to appear when this line is run, just because `.asnumpy()` blocks and waits for all the async operations to complete (

[2018-08-17 21:08] thomelane commented on #11144
@szha @piiswrong any comments to the above? otherwise can we close this issue due to not hearing back from author, thanks!

@anchen1011 can be reopened if `.export` doesn't work for you, cheers.

[2018-08-17 21:10] thomelane commented on #11079
@reminisce @indhub can we remove the `Question` tag please, thanks!

[2018-08-17 21:17] thomelane commented on #11006
@sandeep-krishnamurthy looks like we can close this issue due to some other bugs elsewhere in script, as found by @Ishitori. `MakeLoss` issues look to have been a red herring.

@CircleXing001 if you're still having issues with this feel free to reopen.

[2018-08-17 21:42] rahul003 commented on #11842
@mklissa Did you notice a speedup with a single GPU as well? Maybe it has improved now.
With multi GPU I did see performance improvement because of reduced communication.

[2018-08-17 21:44] #7262 closed

[2018-08-17 21:44] #7525 closed

[2018-08-17 21:46] azai91 commented on #10026
above PR addresses issue. @marcoabreu can you close?

[2018-08-17 21:51] #10026 closed

[2018-08-17 22:11] KellenSunderland opened #12234 "TensorRT builds flaky"
TensorRT builds are currently flaky due to https://github.com/onnx/onnx/pull/934/files

Example failure here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1427/pipeline/

[2018-08-17 22:15] ankkhedia commented on #5052
@matt32106 @khalida
With the latest MXNetR version (Windows GPU - cuda 80), I got the following results

Run1:
Classification CPU time:: 1.88 sec elapsed
Classification GPU time:: 2.03 sec elapsed
Regression CPU time:: 19.58 sec elapsed
Regression GPU time:: 19.45 sec elapsed

Run2:
Classification GPU time:: 1.97 sec elapsed
Classification CPU time:: 1.75 sec elapsed
Regression GPU time:: 19.73 se

[2018-08-17 22:29] andrewfayres commented on #11719
Issue has been fixed and can be closed

[2018-08-18 00:25] #11711 closed

[2018-08-18 01:48] vandanavk commented on #12024
Update: I don't see the issue with mxboard.

Changes required (https://github.com/vandanavk/incubator-mxnet/commit/d1bc989afc6366404147a6d30dbcfd5b912a8350)

It's been executing for more than 1 hour now.
[code]

[2018-08-18 02:46] HorsonLiu commented on #10948
@Roshrini Thank you for your suggestion.  I am using python-2.7.5 mxnet-1.3.0 on centos-7. I have tried you code, it results into AttributeError: 'module' object has no attribute 'set_start_method'. And I've noticed that you are using multiprocessing, not multithread (multiprocessing.dummy).

[2018-08-18 03:55] #8165 closed

[2018-08-18 04:35] qw42 opened #12239 "Scale to many CPU cores"
What is the best way to achieve best throughput (only forward runs) on a multi-cpu/many-core server?

## Description
I am using CPP package. My problem is "embarrassingly parallel" - each forward pass can be run independently.  It looks to me that mxnet doesn't scale well with number of CPUs.
My goal is to maximize overall throughput, not to minimize each forward passes' computation time.
I can ac

[2018-08-18 07:31] haojin2 commented on #12132
@jasonyu1996 You're more than welcome to add this thing yourself if you want to, most of the optimizers should be here: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer.py. You can use any of them (for example, SGD) as reference to implement this. And all unit tests for optimizers are here: https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test

[2018-08-18 09:14] tornadomeet commented on #9319
yes, this is not solved.

[2018-08-18 10:15] pengzhao-intel commented on #12239
One practical approach is to launch many instances (mxnet itself) and each one uses several cores, say 4,8,16, for your inference.  So you can get maximize the overall throughput a lot.

BTW, MKLDNN backend will be much faster now. You need to specify the thread number and bind thread to physical cores explicitly.

https://github.com/apache/incubator-mxnet/blob/master/MKLDNN_README.md

[2018-08-18 11:33] al-rigazzi opened #12240 "ImageIter crashing with 64k samples per batch"
Hello,

I am experimenting new schemes to train CNNs in parallel. I am using the script `train_imagenet.py` with ResNet50, and the full ImageNet1k data set.

Basically, I am running CPU-only instances, putting 1024 samples on each instance. Up to 32 instances, thus 32k samples per batch in total, everything runs smoothly.

As soon as I switch to 64 nodes, thus 64k samples per batch, I see the code

[2018-08-18 12:27] doubleconnect1 commented on #12218
is only MXNet related issue allowed to be posted?

[2018-08-18 12:30] #12218 closed

[2018-08-18 13:38] pengzhao-intel commented on #12240
It's amazing to scale up to 32 instances with large batchsize on CPU :)
Do you use PS for this training and how much scale efficiency you can achieve?

We have a PR for the CNN training w/ RN50 too in PR#10696, you can take a look and try for our implementation.
@threeleafzerg I remember we have encountered the similar error at the beginning of the project.
Any inputs?

[2018-08-18 15:33] guanlinting opened #12241 "Failed compile mxnet master with cuda9.2 and ubuntu 18.04"
## Description
Failed compile mxnet master with cuda9.2 and ubuntu 18.04.

Error messages are as follow:
build/src/operator/nn/deconvolution_gpu.o：在函数‘mxnet::op::CuDNNDeconvolutionOp<float>::SelectAlgo(mxnet::RunContext const&, std::vector<nnvm::TShape, std::allocator<nnvm::TShape> > const&, std::vector<nnvm::TShape, std::allocator<nnvm::TShape> > const&, cudnnDataType_t, cudnnDataType_t)’中：
tmpxf

[2018-08-18 16:30] #8347 closed

[2018-08-18 16:37] cclauss opened #12242 "RowSparseNDArray.retain() is an infinite loop"
Spotted by @vandanavk and PyLint at https://github.com/apache/incubator-mxnet/pull/12200#issuecomment-413691405

[RowSparseNDArray.retain()](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/ndarray/sparse.py#L784-L790) would seem to recurse forever.

At the root of the repo...

$ __python3 -m pylint python --disable=all --enable=undefined-variable__  # with PyLint 2.1.1
[code]

[2018-08-18 17:13] al-rigazzi commented on #12240
One thing: it seems that the problem is originated in the validation part. Since I have only 50'000 validation samples, obviously they cannot be distributed over 64 nodes, if I use 1k batches. How does MXNet cope with such a problem?

[2018-08-18 17:46] srochel opened #12243 "broken links on mxnet.io"
## Description
http://jenkins.mxnet-ci.amazon-ml.com/job/Broken_Link_Checker_Pipeline/225/console reports valid (and invalid broken links).

## Environment info (Required)
see http://jenkins.mxnet-ci.amazon-ml.com/job/Broken_Link_Checker_Pipeline/225/console

## Error Message:
[BrokenLinkChecker: CPU] URL -  https://mxnet.incubator.apache.org/faq/model_parallel_lstm.html
[BrokenLinkChecker: CPU] B

[2018-08-18 22:35] David-Levinthal commented on #12024
as has been stated:
the issue is with using tensorflow/tensorboard..
.if mxboard is required.then the instructions need to say that

On Fri, Aug 17, 2018 at 6:48 PM, Vandana Kannan <notifications@github.com>
wrote:

[2018-08-18 23:58] #9319 closed

[2018-08-19 00:29] al-rigazzi commented on #12240
OK, so, the fix was simply to replace the batch size for the validation with a smaller number. I'd suggest to investigate why it can run for some epochs without crashing, or why it actually crashes at the epoch 17.

[2018-08-19 08:32] liuzhi136 opened #12244 "New Version Compile Issues!"
build/src/operator/rnn.o: In function `mxnet::op::RNNProp::CreateOperatorEx(mxnet::Context, std::vector<nnvm::TShape, std::allocator<nnvm::TShape> >*, std::vector<int, std::allocator<int> >*) const':
rnn.cc:(.text+0x4ee71): undefined reference to `mxnet::Operator* mxnet::op::CreateOp<mshadow::gpu>(mxnet::op::RNNParam, int)'

I try to update mxnet on my computer to the current newest version. But I

[2018-08-19 12:17] KellenSunderland commented on #11713
@marcoabreu Can we re-open the issue?  This test seems to have regressed http://jenkins.mxnet-ci-dev.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1114/pipeline/

[2018-08-20 01:33] pengzhao-intel commented on #12240
Good to know the fix.

FYI, @eric-haibin-lin @ctcyang @rahul003

[2018-08-20 03:41] zxy110 opened #12247 "【C++】throw exception when use MXDataIter("CSVIter") to train"
Hello, I want to user CSVIter in my cpp program, but I got an exception at
 `MXDataIterBeforeFirst(blob_ptr_->handle_);`
in io.hpp
I don't know whether it's caused by the shapes I set.
I've use the mnist datasets, Here is my code.

	#include <chrono>
	#include "utils.h"
	#include "mxnet-cpp/MxNetCpp.h"
	using namespace mxnet::cpp;

	Symbol mlp(const std::vector<int> &layers) {
		auto x = Symbol::V

[2018-08-20 09:29] lebeg opened #12248 "flaky test: test_operator_gpu.test_bilinear_sampler"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1456/pipeline

[code]

[2018-08-20 09:37] lebeg commented on #12210
Would you mind closing this one since [in code](https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_operator.py#L1589) we track #12219?

[2018-08-20 13:27] al-rigazzi commented on #12240
Yep, I'd suggest to put an optional parameter like `--val-batchsize`, but I leave it up to you. I can close the issue, anyhow.

[2018-08-20 13:27] #12240 closed

[2018-08-20 14:34] xioryu commented on #11240
@thomelane The new simplified repo is OK.

[2018-08-20 15:05] alexmosc commented on #12002
Dear **ankkhedia**,

Thank you for replying to me.

My use case is the following (I will try to create a dummy dataset here in the body of message):

Let's say, batch size is 8
sequence length is 4
dimensions of timeseries equal 3.

Each sequence has one scalar label as output.

[code]

Now, with that having been said, a batch of data is:

[code]

Starting from that point, I have a hard time codin

[2018-08-20 16:39] vdantu commented on #12247
mxnet-label-bot : [C++, Question]

[2018-08-20 16:43] vdantu commented on #12244
@liuzhi136 : Just curious, would https://github.com/apache/incubator-mxnet/issues/7072 be solving the issue?
@mxnet-label-bot : [C++, Question]

[2018-08-20 16:46] #12210 closed

[2018-08-20 16:47] vdantu commented on #12243
@mxnet-label-bot : [CI, Unclear Error/Doc]

[2018-08-20 16:49] haojin2 commented on #12241
Can you also provide more details on your environment?
Detailed instructions provided in the template of issues, copying here for your convenience:
[code]

[2018-08-20 17:06] vdantu commented on #12242
@mxnet-label-bot : [Python, Question] ..

It looks like this refers to retain() in gen_parse.py ...

[2018-08-20 17:15] vdantu commented on #12228
@AustinDoolittle : Thanks for raising this issue. We will look into it. Just to make things clearer, did you uninstall and reinstall the CUDA drivers and then the SDK?

@mxnet-label-bot : [Python, Build, CUDA, Windows, Question]

[2018-08-20 17:27] vdantu commented on #12215
@ghgggg : Could you submit this issue as a issue template? It isn't clear what the exact error is from the issue. For reference https://github.com/apache/incubator-mxnet/blob/master/.github/ISSUE_TEMPLATE.md

@mxnet-label-bot: [C++, Windows, Question]

[2018-08-20 17:28] vdantu commented on #12239
@mxnet-label-bot : [C++, Windows, Question]

[2018-08-20 17:40] vdantu commented on #12163
@mxnet-label-bot : [Python, Operator, Question]

[2018-08-20 17:41] vdantu commented on #12241
@guanlinting : Could you please provide further information?

@mxnet-label-bot : [Ubuntu, Build, CUDA, Question]

[2018-08-20 17:42] vandanavk commented on #12242
@eric-haibin-lin

[2018-08-20 17:45] vdantu commented on #12216
@mxnet-label-bot : [Python, Operator, Question]

[2018-08-20 18:16] ijkguo commented on #11240
The cause of this issue is operator SoftmaxActivation, used in the old complex rcnn example. Two fixes were made and either fixed this issue:
- https://github.com/apache/incubator-mxnet/pull/10918 fixed SoftmaxActivation cudnn bug.
- https://github.com/apache/incubator-mxnet/pull/11373 removed any usage of SoftmaxActivation.

[2018-08-20 18:16] fighting-liu opened #12255 "Pretty high cpu load when import mxnet"
When i import mxnet in 8 processes simultaneously, all cpu resources will be used and the program stagnates for almost 5 minutes.

It works fine for mxnet1.1 but failed for mxnet1.2 and mxnet1.3
Following is the sample code

[code]

Any solution to this for mxnet1.2 and mxnet1.3? Thanks.

[2018-08-20 18:28] vdantu commented on #12255
@fighting-liu : Just to understand your problem a little further, could you give details of your environment? This is given in the issue template. Also, what was the issue? Was the "after import" being printed after 5 minutes? How long did it take for 1.1 and also, how long does it take for one process import'ing mxnet with .12?  System/environment information would be useful to help you further.

[2018-08-20 20:31] zhanghang1989 opened #12257 "SyncBatchNorm NOT Supporting Mix Precision Training for Float16"
Current SyncBatchNorm does not consider the mix precision training for float16. Standard BatchNorm allows using float32 params with float16 data.

http://mxnet.incubator.apache.org/versions/master/api/python/gluon/contrib.html?highlight=syncbatchnorm#mxnet.gluon.contrib.nn.SyncBatchNorm

[2018-08-20 20:32] haojin2 commented on #12257
Thanks for reporting the issue, taking a look at this now. @mxnet-label-bot [Feature Request, Operator].

[2018-08-20 20:41] zheng-da opened #12258 "flaky ARMv7 build"
[code]

[2018-08-20 20:56] haojin2 commented on #12258
@KellenSunderland @marcoabreu @larroy @lebeg Please take a look when you have time.
@mxnet-label-bot [Build, Bug]

[2018-08-20 21:06] sandeep-krishnamurthy commented on #12121
Under the hood, model_zoo->utils.download(), by default, retries for 5 times. I think this should be sufficient? May be we can't do anything more in the test case?
@haojin2 / @marcoabreu / @hetong007 - Any suggested action items here?

To get a glimpse of the impact, I tried to see the last 25 failed only PR builds and none of them is failed due to this issue.

[2018-08-20 21:10] qw42 commented on #12239
Hi pengzhao.
In that table from MXNET-11 does "28 core, 1 instance" means running 1 process with 28 threads?
Thank you.

[2018-08-20 21:12] thomelane commented on #11240
@xioryu @ijkguo great, and thanks for confirming!

@sandeep-krishnamurthy good to close this ticket now, cheers.

[2018-08-20 21:12] lanking520 commented on #12258
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12256/1/pipeline

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12256/2/pipeline

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12256/3/pipeline

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubato

[2018-08-20 21:16] thomelane commented on #10204
See that it's now been added to https://github.com/apache/incubator-mxnet/pull/12250.
@sxjscience so looks like we're good to close this issue now then?

[2018-08-20 21:22] zheng-da commented on #12258
I also realize that. I tried multiple times and failed every time.

[2018-08-20 21:44] #11240 closed

[2018-08-20 21:45] zheng-da commented on #12258
Tried an empty PR and failed again.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12259/1/pipeline/116

@marcoabreu could you fix it?

[2018-08-20 21:47] ankkhedia commented on #12002
Hi @alexmosc Thanks for getting back with the details. I am trying to look up existing tutorials/documentation for multidimensional data use case.

@jeremiedb Could you please point to any existing tutorial/documentation dealing with multidimensional time series for MXNetR or could provide some inputs on how the above use cases can be dealt?

[2018-08-20 21:49] vandanavk commented on #7002
Anyone still seeing this issue? I have tried all possible solutions suggested in various GitHub issues. But I still see this error with speech recognition example. It seems to work fine with the ctc example.

[2018-08-20 22:01] vandanavk commented on #6603
Anyone still seeing the issue (AttributeError: 'module' object has no attribute 'WarpCTC')? I have tried all possible solutions suggested in various GitHub issues. But I still see this error with speech recognition example. It seems to work fine with the ctc example.

[2018-08-20 22:05] vandanavk commented on #11042
Were you able to get this example working with Python3?

[2018-08-20 22:20] haojin2 commented on #12112
Fix was merged and verified to pass >10000 times, closing this issue.

[2018-08-20 22:20] #12112 closed

[2018-08-20 22:46] safrooze commented on #11411
That's great, thanks @haojin2!

[2018-08-20 22:47] safrooze commented on #11804
@ZhennanQin Is this fixed in MKLDNN now?

[2018-08-20 22:51] sandeep-krishnamurthy commented on #9410
I see that weights initialized are different for each run. To reproduce running below initialization and viewing the weights yields different weights.

Taking a look.

[code]

[2018-08-20 22:58] zhanghang1989 commented on #12001
If using `asnumpy()` or `print()` please use `DataParallelModel` https://github.com/dmlc/gluon-cv/blob/master/gluoncv/utils/parallel.py#L11

Training example of using SyncBatchNorm can be found at https://github.com/dmlc/gluon-cv/blob/master/scripts/segmentation/train.py

[2018-08-20 23:02] zhanghang1989 commented on #12001
If using standard `BatchNorm` works, change it to `SyncBatchNorm` and set `num_device` correctly, it will work as well.

[2018-08-20 23:32] anirudhacharya commented on #12258
one more instance - http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-12230/runs/5/nodes/116/log/?start=0

[2018-08-20 23:50] KellenSunderland commented on #12258
All passed, can someone merge https://github.com/apache/incubator-mxnet/pull/12260

[2018-08-20 23:56] haojin2 commented on #12258
@KellenSunderland it was merged just now.

[2018-08-21 00:09] qw42 commented on #12239
Hi pengzhao.
Can you elaborate how to do it? Create multiple executors and call them from multiple threads? Which version of mxnet? Thanks you.

[2018-08-21 00:37] TobyRoseman opened #12266 "Python 3.7 Support"
Python 3.7 was officially released almost two months ago. Having MXNet support Python 3.7 would be very helpful.

[2018-08-21 01:27] pengzhao-intel commented on #12239
@qw42 , you can use master branch or release version >= 1.2.0.

A simple experiment by following commands.

[code]

[2018-08-21 02:04] sxjscience commented on #10204
@thomelane Yes, it can be closed once #12250 is merged

[2018-08-21 03:01] liuzhi136 commented on #12244
@vdantu The issue you offered was help, which apart of mxnet's file can be compiled. But it still encountered the same problem for the rest part of mxnet.  It looks like these:
a - build/src/operator/convolution_v1_gpu.o
a - build/src/operator/correlation_gpu.o
a - build/src/operator/crop_gpu.o
a - build/src/operator/grid_generator_gpu.o
a - build/src/operator/identity_attach_KL_sparse_reg_gpu.o
a

[2018-08-21 03:33] ghgggg opened #12267 "some errors when extracting feature with mxnet c++ api in windows10 in gpu mode"
## Description
in gpu mode , the code below
NDArray input(Shape(1, img.channels(), img.rows, img.cols), Context(kGPU, 0), false);  occurs error .
and if I modify it as below
NDArray input(Shape(1, img.channels(), img.rows, img.cols), Context(kGPU, 0), true);  it will be ok, but
the codes below occurs error.
executor = net.SimpleBind(ctx, args_map, map<string, NDArray>(), map<string, OpReqType>(),

[2018-08-21 03:35] ghgggg commented on #12215
@vdantu  i has recommit the issue as a new one ,could you help me to solve it ?thansk a lot. i will close this one. the new issue is #12267 .thank you

[2018-08-21 03:35] #12215 closed

[2018-08-21 05:09] sandeep-krishnamurthy commented on #11349
This issue is fixed with [MXNet-599] by Rahul.

[2018-08-21 05:09] #11349 closed

[2018-08-21 06:19] sxjscience opened #12268 "Inconsistent type conversion from numpy.ndarray to mx.ndarray"
When we create a mxnet ndarray using a numpy ndarray, the dtype will not be automatically inherited. However, if we create a mxnet ndarray based on an existing mxnet ndarray, the dtype will be inherited.

Example:
[code]
Result:
```<class 'numpy.float32'> <class 'numpy.int32'>```

[2018-08-21 06:49] sxjscience commented on #12197
I think https://github.com/apache/incubator-mxnet/pull/12250 has solved this problem. Now we can use `mx.nd.topk(..., dtype=np.int32)` to set the dtype of the output indices.

[code]

Result:

[code]

[2018-08-21 06:50] zheng-da opened #12269 "get memory error when running a model exported from gluon model zoo"
I tried to export resnet from the Gluon model zoo and run it in the Symbol executor, but got a serious memory error. The memory error is also non-deterministic. Here is the minimal code. I need to run it multiple times to reproduce the error.

[code]

[2018-08-21 06:55] fighting-liu commented on #12255
@vdantu   Thanks for your attention.

**1. Environment info**
[code]

**2. Sample code**
[code]

**3. Test results**
3.1  pip install mxnet-cu90==1.1
![image](https://user-images.githubusercontent.com/10908786/44385340-ad1b9480-a551-11e8-99e0-dc3e4c24a53f.png)

3.2 pip install mxnet-cu90==1.2
![image](https://user-images.githubusercontent.com/10908786/44385365-c3295500-a551-11e8-9926-1ee19abfecfb.

[2018-08-21 07:03] haojin2 commented on #12197
@sxjscience I agree that the problem seems to be fixed now, please feel free to close the issue or we can wait for @leezu to close it.

[2018-08-21 07:16] PistonY commented on #12216
First of two I can ensure them.But I use
[code]
May that cause the problem.

[2018-08-21 12:29] AustinDoolittle commented on #12228
@vdantu That is correct, I would uninstall the current version of cuda, install either the came version or a different version (I tried 9.0, 9.1, and 9.2), then install the matching mxnet version via pip. One thing that may be important to mention is that this started happening after I had encountered a BSOD. I don't think I was running any mxnet processes when this occurred, but I could be mistak

[2018-08-21 12:32] sriharikarnam commented on #4223
@achao2013:

Can you pls help me in printing  the value of some tensors in the Forward operation of convolution-inl.h .

Here is the code snippet  in convolution-inl.h

    Tensor<xpu, 3, DType> weight_3d = in_data[conv::kWeight].get_with_shape<xpu, 3, DType>(
      Shape3(group_, M, K), s);
    Tensor<xpu, 3, DType> col_buffer_3d = col_buffer.get_with_shape<xpu, 3, DType>(
      Shape3(group_, K,

[2018-08-21 13:13] KellenSunderland commented on #8383
Verified this was fixed prior to 1.2.  Just did a test on-device.  Closing ...

[2018-08-21 13:13] #8383 closed

[2018-08-21 13:53] pengzhao-intel commented on #12240
@al-rigazzi Could you kindly ping me (or drop a mail to me, patric.zhao@intel.com) when you blog is published?

[2018-08-21 15:33] leezu commented on #12197
Thanks to everyone for fixing this

[2018-08-21 15:33] #12197 closed

[2018-08-21 15:36] #12201 closed

[2018-08-21 15:43] #11411 closed

[2018-08-21 15:43] sandeep-krishnamurthy commented on #11411
Resolving as  #11836 is merged.

[2018-08-21 16:33] pallavbakshi commented on #1324
Broken link alternative - https://mxnet.incubator.apache.org/faq/bucketing.html

[2018-08-21 16:47] ankkhedia commented on #12269
@mxnet-label-bot : [Gluon, Bug]

[2018-08-21 16:49] ankkhedia commented on #12268
@mxnet-label-bot : [Feature Request, Python]

[2018-08-21 16:52] ankkhedia commented on #12267
Hi @ghgggg Could you please share minimum reproducible example. I can see you have shared few lines but it would be great if you could share the code block so that we can use it directly for reproducing error if possible.

@mxnet-label-bot : [C++,  Windows]

[2018-08-21 16:54] ankkhedia commented on #12266
@mxnet-label-bot : [Python, Feature Request]

[2018-08-21 17:58] zhanghang1989 commented on #12216
`net.hybridize()` should work. `static_alloc=True` may give troubles due to the tmp workspace? @eric-haibin-lin

[2018-08-21 18:33] sandeep-krishnamurthy commented on #9410
Please ignore my previous comment. Thanks to Sina, for letting me know that seeding should happen just before the weight initialization to have deterministic behavior.
I verified that the initial state of all parameters across both the runs are same.
Sample code:

## Run 1
[code]
[code]

## Run 2
[code]

[code]

[2018-08-21 18:53] vandanavk commented on #12242
PR https://github.com/apache/incubator-mxnet/pull/12277

[2018-08-21 19:00] mqtlam opened #12280 "Reading/ignoring corrupt images with Gluon data loader (imdecode error cannot be captured)"
## Description

### Short Version

`mxnet.image.imdecode` crashes and hangs when loading certain corrupt images using Gluon data loader. One possible workaround is to wrap a try/except block around `imdecode`, but Python try/except cannot capture `MXNetError`.

### Long Version

I am working with a very large dataset that it is impractical to clean all images beforehand. Currently, when using Gluo

[2018-08-21 19:06] zhreshold commented on #12280
@anirudhacharya Can you have a look at the error catching problem?

[2018-08-21 19:06] sandeep-krishnamurthy commented on #11341
Hello @wenyangchu @DickJC123
Can you please let me know next steps here? How you think we can take it forward?

[2018-08-21 19:10] sandeep-krishnamurthy commented on #9410
Verified that the non-determinism is brought in by cuDNN backward algorithms for Conv and Pooling operators. Results are consistent on CPU and GPU without cuDNN.
This is expected behavior as per current MXNet implementation.
See here for an open issue where there is discussion on providing an option for determinism - https://github.com/apache/incubator-mxnet/issues/11341

Please note that, enablin

[2018-08-21 19:10] #9410 closed

[2018-08-21 19:12] sandeep-krishnamurthy commented on #12145
Resolving the issue based on the suggested solution. Please reopen if issue still persists.

[2018-08-21 19:12] #12145 closed

[2018-08-21 20:12] ankkhedia commented on #12280
@mxnet-label-bot : [Gluon, Bug]

[2018-08-21 21:40] DickJC123 commented on #9543
The newly released cuDNN v7.2 (https://developer.nvidia.com/cudnn) now supports more RNN cell use cases with options for cell clipping and padding masks.  Thanks for your patience on this, and feel free to comment on whether the new API meets your needs.

[2018-08-21 22:11] hetong007 commented on #11960
With cuDNN 7.2.1, it is not reproducible anymore. Close it for now.

[2018-08-21 22:11] #11960 closed

[2018-08-21 22:54] sandeep-krishnamurthy commented on #7582
@eric-haibin-lin - Any comment on this issue and next steps? Any action items left here?

[2018-08-21 22:59] anirudhacharya commented on #11088
@sandeep-krishnamurthy fix merged, please close this issue.

@kimiylilammi try the tutorial from the latest master branch.

[2018-08-21 23:01] ThomasDelteil commented on #7811
@yzhliu  the docs have been updated, can you close please? thanks

[2018-08-21 23:03] ankkhedia commented on #12002
Hi @alexmosc
Please find a small example training on random multidimensional data. I trained a small RNN for 5 epochs. This is just an example with random values and I didn't check for accuracy but just wanted a demonstration of how training could be done.

library("readr")
library("dplyr")
library("plotly")
library("mxnet")
seq_len = 100
samples = 192

seeds <- runif(samples, min = -pi, max = pi)

[2018-08-21 23:07] ThomasDelteil commented on #10248
@yzhliu can we please close the issue as Sergey confirmed the behavior is correct with the clip  mode behaviour? @loadwiki please reopen if that's not clear

[2018-08-21 23:09] ThomasDelteil commented on #8751
@yzhliu can you please close the ticket? it seemed the original requester was comparing results from two different training with different batchsizes which resulted in the reported slowness.

[2018-08-21 23:10] ThomasDelteil commented on #9186
@yzhliu can you please close the issue?
@Feywell if you have issues setting up distritibuted training, please create a post on https://discuss.mxnet.io Thanks!

[2018-08-21 23:11] anirudhacharya commented on #11682
@lichen11 I am not able to reproduce this issue. I ran this tutorial multiple time with gpu and cpu context. There were a couple of other issues with the example that gets fixed in this PR - https://github.com/apache/incubator-mxnet/pull/12283

But the memory issue is not reproducible. Please let me know if you are still facing this issue.

[2018-08-21 23:42] #11006 closed

[2018-08-21 23:43] #11144 closed

[2018-08-21 23:43] #11350 closed

[2018-08-21 23:44] #8074 closed

[2018-08-21 23:44] #8497 closed

[2018-08-21 23:44] #5748 closed

[2018-08-21 23:47] #11421 closed

[2018-08-21 23:55] yifeim commented on #12197
@leezu Quick question: shall we make `dtype=np.int64` a default? I cannot see any reason we should hold on to the float32 default -- the previous defaults may have been an implicit bug in the first place.

[2018-08-22 00:04] mklissa commented on #11842
Hi Rahul,
I have seen speed-ups on single GPU as well (around 40%), as well as multi GPU.

[2018-08-22 00:11] rahul003 commented on #11842
Great!

[2018-08-22 00:14] samskalicky opened #12286 "Generated NDArray wrappers have wrong function argument declaration"
## Description
Generated Python wrapper for operators in the NDArray APIs do not have the correct function signature (argument list).

## Error Message:
[code]

The expected error message should be of the form:

[code]

## Minimum reproducible example
[code]

## Steps to reproduce
Execute above code

## What have you tried to solve it?
There is a deep underlying problem with the way we generate wr

[2018-08-22 00:28] vishaalkapoor commented on #6493
Hey @indhub, do you have info regarding @edmBernard's question? Thank you!

[2018-08-22 00:48] #11571 closed

[2018-08-22 01:35] pengzhao-intel commented on #10809
The fix is merged. I think this bug can be closed. @dwSun

[2018-08-22 01:47] vishaalkapoor commented on #8439
@efan3000 Would you kindly paste a code sample that reproduces the issue, so that we can best answer your question?

[2018-08-22 01:53] PistonY commented on #12216
I've tried comment
[code]
but it still cat't work.
This is my [code](https://gist.github.com/PistonY/d216e01a64c120a184c87709f3b285b7)
U can have a look.

[2018-08-22 02:50] ghgggg commented on #12267
@ankkhedia  the example is here;

#include <iostream>
#include <fstream>
#include <map>
#include <string>
#include <vector>
#include "mxnet-cpp/MxNetCpp.h"
#include <opencv2\opencv.hpp>
using namespace std;
using namespace mxnet::cpp;
/*The global context, change them if necessary*/

enum Mode
{
	GPU,
	CPU
};
// Context global_ctx(kCPU,0);
namespace MxSpace{
class FeatureExtractor {

public:

	Fea

[2018-08-22 03:08] #10809 closed

[2018-08-22 03:12] nicklhy commented on #11649
Got the same problem. Any updates on it?

[2018-08-22 03:32] piyushghai commented on #11715
@sandeep-krishnamurthy Related fix for this flaky test is merged, this issue should be good to close.

[2018-08-22 03:34] piyushghai commented on #9816
@sandeep-krishnamurthy Related fix for this issue is merged, this issue should be good to close.

[2018-08-22 03:59] #11715 closed

[2018-08-22 03:59] #9816 closed

[2018-08-22 04:59] llv22 commented on #10187
@AlexTS1980 Perhaps you can check with how I solved with the similiar issue for pytorch.
Basically it's linkable issue for /home/ICTDOMAIN/453615/anaconda2/lib/libopencv_imgcodecs.so.3.3.1.
1. detect /home/ICTDOMAIN/453615/anaconda2/lib/libopencv_imgcodecs.so.3.3.1 link symbol:
[code]
2. detect where system having libstdc++.so.6/libstdc++.so
[code]
3. you can find actually you have 2 libstdc++.so.

[2018-08-22 06:18] ZhennanQin commented on #11804
@safrooze  Patch is ready for internal test. Will push to github repo in next promotion.

[2018-08-22 09:54] withmch commented on #10049
@EternalSaga hello! I have met the same problem，after  building the mxnet from mxnet-source-code with VS2015，the mxnet-cpp file didn't generated the op.h.  when I found out the linked DLL files of libmxnet.dll and put this DLLs into the same file with python.exe,the problem still didnt solved,there wasn't op.h. Please could you tell how to solve the problem?

[2018-08-22 11:33] larroy commented on #11516
Why are we writing a dependency file when compiling with CMake?

[2018-08-22 11:50] mseeger commented on #8966
@KellenSunderland

[2018-08-22 14:17] pengzhao-intel commented on #12239
@qw42 did you have a chance to try and could this approach help for your case？

[2018-08-22 16:30] cjolivier01 commented on #10856
I don't see a root cause listed here.

[2018-08-22 16:31] cjolivier01 commented on #10856
So, why is __kmp_team_pool == __null assertion hitting?  Intel OpenMP is compatible with process forking, so thios is probably a symptom of something else wrong leading up to this.

[2018-08-22 16:45] Roshrini commented on #12116
@safrooze Can we close this issue now as the PR was merged?

[2018-08-22 16:51] golo314 commented on #11649
Regrettably no? What gcc version are you using?

[2018-08-22 16:59] ThomasDelteil commented on #11849
@rahul003 same problem here, can't load back saved float16 models

[2018-08-22 17:01] #11022 closed

[2018-08-22 17:29] ankkhedia commented on #12286
@mxnet-label-bot : [Python, NDArray]

[2018-08-22 17:38] #12116 closed

[2018-08-22 17:56] ankkhedia commented on #3328
@sandeep-krishnamurthy @nswamy Could you please close this issue due to inactivity

@albert385 Please feel free to reopen if closed in error

[2018-08-22 18:00] ankkhedia commented on #12002
@sandeep-krishnamurthy @nswamy Could you please close this issue as the issue has been resolved

@alexmosc Feel free to reopen if closed in error

[2018-08-22 18:09] apeforest commented on #11468
@larroy Any updates? Thanks!

[2018-08-22 18:50] apeforest commented on #12089
@marcoabreu Any update on this unit test? This unit test failure on MacOS has caused inconvenience to verify the unittest locally before pushing my change to remote. Any other people who develop on MacOS facing the same issue?

[2018-08-22 18:53] riddhidutta123 opened #12294 "MXNET installation and library failing in R"
I'm trying to install MXNET in R and use the library.

**Step1**: # Install the package
install.packages("drat", repos="https://cran.rstudio.com")
drat:::addRepo("dmlc")
install.packages("mxnet")

**Comment in console:**
trying URL 'https://cran.rstudio.com/bin/macosx/el-capitan/contrib/3.5/drat_0.1.4.tgz'
Content type 'application/x-gzip' length 64654 bytes (63 KB)
===============================

[2018-08-22 18:53] haojin2 commented on #12294
@anirudhacharya

[2018-08-22 18:53] haojin2 commented on #12294
@mxnet-label-bot [R, Build, Question]

[2018-08-22 19:33] anirudhacharya commented on #12294
@riddhidutta123 The issue is probably with the `openblas` version on your system. MXNet is trying to look for `/usr/local/opt/openblas/lib/libopenblasp-r0.3.1.dylib` on your system and is not able to find it. Please run the following commands in order, and then try `library(mxnet)` on your R console.

[code]

Please let me know if this fixes your problem -

[2018-08-22 20:12] vandanavk commented on #12024
PR https://github.com/apache/incubator-mxnet/pull/12291 submitted

[2018-08-22 20:14] anirudhacharya commented on #12168
@apeforest there is an ongoing PR to update the operator implementation guide - https://github.com/apache/incubator-mxnet/pull/12230 If you could comment there about what issue you found in the tutorial, it can be fixed in that PR itself.

[2018-08-22 20:54] vishaalkapoor commented on #8601
@mstokes42 If your confusion matrix is representative of your test/train set, it looks like you're using very few (~ 100) training examples with what appears to be LeNet-5. This is about 2 orders of magnitude too little data; in [Lecun98](http://vision.stanford.edu/cs598_spring07/papers/Lecun98.pdf) LeNet-5 was trained using MNIST (60k 32x32 training images).

The reason you're getting 100% accura

[2018-08-22 21:00] anirudhacharya commented on #12171
It is not just documentation, the LBSGD optimizer has bugs as mentioned at the bottom of this PR - https://github.com/apache/incubator-mxnet/pull/8918 and they are still not all addressed.

@mxnet-label-bot [Optimizer, Bug]

[2018-08-22 21:35] #10219 closed

[2018-08-22 21:35] #10035 closed

[2018-08-22 21:36] #9186 closed

[2018-08-22 21:36] #8751 closed

[2018-08-22 21:37] #10248 closed

[2018-08-22 21:37] #7811 closed

[2018-08-22 21:41] #11932 closed

[2018-08-22 21:46] ThomasDelteil commented on #9034
@mxnet-label-bot : [Bug, Operator]

[2018-08-22 21:46] riddhidutta123 commented on #12294
@anirudhacharya It worked perfectly!!.

Thank you so much for your support. Really appreciate your help.

Best regards

[2018-08-22 21:48] anirudhacharya commented on #12294
@riddhidutta123 glad it worked out. please close the issue.

[2018-08-22 21:50] riddhidutta123 commented on #12294
Thanks. Closing this issue.

[2018-08-22 21:50] #12294 closed

[2018-08-22 21:51] zhanghang1989 commented on #12216
How about not `hybridize()`

[2018-08-22 22:12] haojin2 commented on #12257
The changes in #12261 are being verified with actual workloads at this time.

[2018-08-22 22:35] samskalicky commented on #12286
Upon further investigation it seems that the actual issue is that there is automatically generated default values for each argument:

https://github.com/apache/incubator-mxnet/blob/76bdc8772c7f4edd3087bd1285025122fc837c06/python/mxnet/ndarray/register.py#L67-L88

This results in the following function signature for the smooth_l1 operator:
[code]
The problem is that these default values end up gett

[2018-08-22 23:48] samskalicky commented on #12286
Instead, it looks like all we pass up is the name, type, and description

https://github.com/dmlc/tvm/blob/675216fbeb94c835e8267ae97aeed58f129c1c39/nnvm/src/c_api/c_api_symbolic.cc#L70-L78

If we could pass the default values (and a boolean to say whether there is one or not) then we could set the default value in the python argument list correctly. This would allow arguments with required values

[2018-08-23 01:11] #784 closed

[2018-08-23 02:51] xinedison opened #12302 "Does gluon InstanceNorm operator support float 16"
## Description
I want to train a network on with InstanceNorm layer using mixed-precision of float 16, but when we feed data of float-16, we found Instance norm layer in gluon does not support it and throw an error. Can any one help me?

## Environment info (Required)

----------Python Info----------
('Version      :', '2.7.5')
('Compiler     :', 'GCC 4.8.5 20150623 (Red Hat 4.8.5-28)')
('Build

[2018-08-23 03:54] PistonY commented on #12216
I've tried, but not work.

[2018-08-23 04:56] zheng-da opened #12303 "support slice on MKLDNN arrays better"
Currently, slice on an MKLDNN array requires to convert the array to the default layout before taking a slice. However, the MKLDNN library actually provides a view for MKLDNN memory. As such, by taking advantage of the MKLDNN view, we don't really need to convert data layout for slice.
For details, please see the discussion here: https://github.com/intel/mkl-dnn/issues/306, https://github.com/inte

[2018-08-23 05:35] pengzhao-intel commented on #12303
Yes, I think it's doable and worth to do.

In other words, we need an MKL-DNN based slice OP.

Do you need our engineer to help with this kind of functionality?

[2018-08-23 05:44] #11031 closed

[2018-08-23 05:44] #10085 closed

[2018-08-23 05:44] #10204 closed

[2018-08-23 06:14] vdantu commented on #12255
Thanks for sharing this info. This is a good observation. I think it would be good to have a larger audience for this, could you also start a thread on discuss.mxnet.io?

[2018-08-23 06:16] stu1130 opened #12304 "[Feature Request] last_batch_handle support for data iterators"
Currently only NDArrayIter and ImageIter support `last_batch_handle`. But there are other widely used data iterators such as CSVIter, MNISTIter needed to support that

[2018-08-23 06:25] apeforest commented on #12168
@nswamy This error is not related to Operator. It is purely a html error. Please remove the [Operator] label and changed it to [Doc]. Thanks!

[2018-08-23 07:04] zheng-da commented on #12163
@junrushao1994 the corresponding PR has been merged. Can you confirm that your concern has been addressed?

[2018-08-23 07:22] yuxiangw opened #12307 "’ndarray.batch_dot‘ does not handle general dot product, e.g., those with tensors"
A short example below:

[code]
And in fact, doing matrix vector product will fail too
[code]

Doing the following would work:
[code]
There really shouldn't be any reason why this only handles matrix matrix multiplication in batch but not that of tensors and vectors.

------------------------------
Error message:
[code]

[2018-08-23 09:15] junrushao1994 commented on #12163
@zheng-da Thanks for the reminder! Since #12187 is merged, I believe this issue has been addressed.

[2018-08-23 09:15] #12163 closed

[2018-08-23 10:18] #10205 closed

[2018-08-23 11:58] Chancebair opened #12309 "Nightly Tests Binary Failure chapter05_recurrent-neural-networks/rnns-gluon StraightDope: Python2 Single-GPU StraightDope: Python3 Single-GPU"
## Description
Nightly tests have failed on test "chapter05_recurrent-neural-networks/rnns-gluon" for two consecutive runs with timeout errors.  We can reasonably say that the CI infrastructure is performing as expected.

08-22: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTests_onBinaries/detail/NightlyTests_onBinaries/125/pipeline
08-23: http://jenkins.mxnet-ci.amazon-

[2018-08-23 14:35] MinZhaoLin commented on #9920
@wkcn 你好，请问你是怎么解决 Check failed: to->type_flag_ == from.type_flag_ (0 vs. 3) Source and target must have the same data type when copying across devices的，我一开始也是报了这个issue的错误，然后按照代码改了之后又会出现上面这个错误，我报错的信息是
Traceback (most recent call last):
  File "train_softmax_fast.py", line 892, in <module>
    main()
  File "train_softmax_fast.py", line 889, in main
    train_net(args)
  File "train_softmax_fast.py"

[2018-08-23 14:59] vandanavk commented on #12242
PR merged. Can this be closed?

[2018-08-23 15:02] Chancebair opened #12310 "Flaky test: test_ndarray.test_order"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1499/pipeline/

[code]

[2018-08-23 15:15] #12242 closed

[2018-08-23 15:32] vandanavk commented on #8270
https://github.com/apache/incubator-mxnet/pull/12295 is this the last open PR related to this issue @cclauss ?

[2018-08-23 15:45] #11710 closed

[2018-08-23 15:48] marcoabreu commented on #12309
@zhreshold

[2018-08-23 15:52] cclauss commented on #8270
Yes.

[2018-08-23 16:32] #11709 closed

[2018-08-23 16:42] ankkhedia commented on #12302
@mxnet-label-bot : [Gluon, Question]

[2018-08-23 16:43] ankkhedia commented on #12303
@mxnet-label-bot : [MKLDNN, Feature Request]

[2018-08-23 16:44] ankkhedia commented on #12304
@mxnet-label-bot : [Feature Request]

[2018-08-23 16:54] ankkhedia commented on #12307
@mxnet-label-bot : [ NDArray, Bug]

[2018-08-23 17:01] ThomasDelteil commented on #12158
@karlind cpu_shared in indeed memory allocated in shared memory rather than the ram allocated to the process running the script.  It should really only be used for data loading purposes to share data between processes.

Please reopen the issue if that doesn't answers your question. @yzhliu  please close the issue

[2018-08-23 18:07] hetong007 commented on #12121
I agree that 5 retires is sufficient, if no other improvement on the connection can be done.

[2018-08-23 18:10] haojin2 commented on #12121
Closing this issue, I agree that the current settings for # of retries should be sufficient, we only need to keep an active eye on the links to the files and keep them up-to-date and accessible on CIs.

[2018-08-23 18:10] #12121 closed

[2018-08-23 18:43] #8270 closed

[2018-08-23 18:55] AustinDoolittle commented on #12228
Ok, I was able to resolve this issue. The steps to correct were:

1. Uninstall everything remotely related to nvidia (drivers, cuda, cudnn, documentation, etc.)
2. Uninstall MxNet
3. Reboot
4. Install nvidia drivers
5. Reboot
6. Install Cuda and Cudnn
7. Reboot
8. Install MxNet

I think I definitely went a little overkill with the rebooting, but everything appears to be working now. Thanks for the

[2018-08-23 19:13] haojin2 opened #12312 "flaky test: test_ndarray.test_ndarray_elementwise"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12306/3/pipeline
[code]
From the error log it seems like there's actually no big difference between reference and actual result, should be a tolerance problem (atol is 1e-20 from the log), submitting a hot fix.

[2018-08-23 19:24] haojin2 opened #12314 "flaky test: test_operator.test_dropout"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12311/1/pipeline
[code]

[2018-08-23 22:01] idibidiart commented on #2268
At this time, is there a possibility of MXNet on Spark similar to TensorFlowOnSpark from Yahoo?

[2018-08-23 22:25] aaronmarkham opened #12318 "Sphinx is unable to access some MXNet ONNX module functions"
This causes Sphinx to fail processing the API docs when shorthand references are used. I used a workaround in #12317 to just reference the functions the long way.

This means the reference is:
`mxnet.contrib.onnx.onnx2mx.import_model.import_model`
When it could be:
`mxnet.contrib.onnx.import_model`

![2018-08-23_15-08-55](https://user-images.githubusercontent.com/5974205/44555096-657b4100-a6e8-11e

[2018-08-23 22:27] hetong007 opened #12319 "Feature Request: support several statistical operators in NDArray"
## Description

Median, variance and standard deviation are basic, useful and descriptive statistics of an array of numbers.

I propose to add these basic operators for NDArray.

@haojin2 do you have any comments on this?

[2018-08-23 22:34] taliesinb opened #12320 "Clojure's approx= test function has a weakness"
## Description
The clojure framework's `approx=` test utility function (defined in `contrib/clojure-package/test/org/apache/clojure_mxnet/util_test.clj`) is unable to detect differences between arrays if they are of different sizes and the difference occurs in the excess.

For example, this returns true, but should return false:

[code]

This means that tests that use `approx=` in the clojure test

[2018-08-23 22:35] aaronmarkham opened #12321 "Sphinx docs build errors"
At the top of the build log below are the doc build errors mentioned in #12317.

But there are a lot more across the Python files in the project. If linting it turned on, it seems to be missing issues that Sphinx picks up.
[code]

[2018-08-23 22:37] taliesinb commented on #12320
I have fixed this in https://github.com/apache/incubator-mxnet/pull/12064.

[2018-08-23 22:41] ankkhedia commented on #12321
@mxnet-label-bot [Doc]

[2018-08-23 22:42] ankkhedia commented on #12318
@mxnet-label-bot [Doc, Website]

[2018-08-23 22:43] ankkhedia commented on #12320
@mxnet-label-bot [Clojure]

[2018-08-23 22:49] aaronmarkham commented on #12318
Hi @marcoabreu - this is more of a Python issue on the engineering side than something that can be fixed from within the website or docs systems. I might even label it a bug.

[2018-08-23 23:00] ankkhedia commented on #12321
@sandeep-krishnamurthy Could you please label above as [Python, Build, Bug] and remove [Doc]

[2018-08-23 23:00] ankkhedia commented on #12318
@sandeep-krishnamurthy Could you please label above as [Python, Build, Bug] and remove [Doc, Website]

[2018-08-23 23:02] sandeep-krishnamurthy commented on #10824
Verified with latest MXNet builds, on (CPU) C5.18X machine with mxnet mkldnn build and (GPU) mxnet cu90, issue is not reproducible.

Resolving the issue. Please reopen if issue still persists.

[2018-08-23 23:02] #10824 closed

[2018-08-23 23:02] wkcn commented on #9920
@MinZhaoLin 你遇到的问题好像和这个issue不一样
metric里传入的pred_label是GPU数据，label是CPU数据
你可以尝试pred_label.as_in_context(label.context)

[2018-08-23 23:03] samskalicky commented on #11156
Rerunning this now results in the following message:

[code]

This is due to change #12250 that improves the messaging that float16 is not supported.

We should change the tags on this issue to [Operator, Feature Request] and remove [Bug] now that its been handled as not currently supported.

[2018-08-23 23:10] samskalicky commented on #7835
@sandeep-krishnamurthy please close this thread. Thanks!

[2018-08-23 23:36] #7835 closed

[2018-08-24 03:45] pengzhao-intel commented on #12239
Thanks for the feedback. It needs the FW level supports or you can write your own code for your targets.

[2018-08-24 03:46] nicklhy commented on #11649
@golo314 gcc 5.4, ubuntu16.04.

[2018-08-24 04:47] MinZhaoLin commented on #9920
@wkcn
我是一开始定义了自己的softmax层后，出现了这个issue的报错src/io/image_io.cc:186: Check failed: inputs[0].ctx().dev_mask() == Context::kCPU (2 vs. 1) Only supports cpu input，
然后根据这个issue改了之后，就是修改Imge.py之后，在AccMetric里面就出现了src/ndarray/ndarray_function.cu:43: Check failed: to->type_flag == from.type_flag_ (0 vs. 3) Source and target must have the same data type when copying across devices.这个问题
这个问题具体是在pred_label = pre

[2018-08-24 04:57] MinZhaoLin commented on #9920
@wkcn 我用的时mxnet-cu80，这是我定义的softmax层，主要是当label为全0时，回传0梯度，主要是想mxnet的module多任务，但每个任务单独训练，就是因为数据只有单独一个任务的标签
[code]

[2018-08-24 06:32] MinZhaoLin commented on #9920
@wkcn 问题解决啦，我根据Change class variables to thread local variables #10833 就是上面anirudh2290 的PR把需要改的文件都改了就可以了

[2018-08-24 07:59] jasonyu1996 commented on #12266
I agree. Is there any current effort towards this?

[2018-08-24 08:13] jasonyu1996 opened #12327 "[Feature Request] support of diag for N-d arrays"
Hi!

I just found that the `diag` operator does not support N-d arrays where `N > 2`. According to my own experience, it could be made more useful if the `N > 2` cases are properly designed. For example, I find it troublesome to take the diagonals of several matrices of the same shape at the same time. I know this task could be accomplished with a combination of `arange`, `tile` and `pick`, but it

[2018-08-24 08:54] wkcn commented on #9920
@MinZhaoLin 诶？你用的MXNet版本是不是没有合并PR #10833呢?
你定义的Softmax层应该也可以用下面语句代替
[code]

[2018-08-24 10:14] Chancebair opened #12329 "Flaky test: test_operator.test_dropout"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12311/1/pipeline

[code]

[2018-08-24 11:45] #12158 closed

[2018-08-24 15:29] ShownX opened #12334 "Load pretrained model with new load_parameters() API"
## Description
Cannot load only convolutional layers with pre-trained model using ```load_parameters()``` API

## Environment info (Required)
Ubuntu 16.04
mxnet-cu90 1.3.0b20180821

## Error Message:
missing_parameters

## Minimum reproducible example
[code]

## What have you tried to solve it?
The reason of this issue is load_parameters called from ```features block```, in which name of parameter

[2018-08-24 15:48] mdespriee commented on #12140
@lanking520 yes, I could be interested. I'll have a look after my vacations, though  ;-)

[2018-08-24 16:37] ankkhedia commented on #12327
@mxnet-label-bot [Feature Request, NDArray]

[2018-08-24 16:38] ankkhedia commented on #12334
@mxnet-label-bot [Gluon, Model Zoo, Bug]

[2018-08-24 17:08] apeforest opened #12337 "InferShape return false not caught in Symbolic mode"
## Description
When the inputs to an operator is invalid, the InferShape in the operator returns false. This return value is not caught and treated properly in Symbolic mode, whereas the imperative mode would raise error.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

## Minimum reproducible example
[code]

[2018-08-24 17:09] fighting-liu commented on #12255
@vdantu Can you solve this problem??  I've start a thread on discuss.mxnet.io, but nobody answers.

[2018-08-24 17:30] anirudhacharya commented on #11682
@sandeep-krishnamurthy please close this issue.

[2018-08-24 17:32] #11682 closed

[2018-08-24 18:25] szha commented on #11253
cudnn now provides LSTMP implementation in 7.2. https://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#features-of-rnn-functions

Since this will require operator API changes, let's discuss in #9543.

[2018-08-24 18:25] #11253 closed

[2018-08-24 18:39] szha commented on #9543
Awesome new set of features! They can be found in https://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#features-of-rnn-functions. Since the changes will likely require API changes in RNN op, I took the liberty to repurpose @sbodenstein 's issue for the API discussion.

Desirable new features would be:
- Allow packed sequence data or padding handling for variable length sequenc

[2018-08-24 18:44] szha commented on #9543
Pinging @pengzhao-intel, @Sherry-Zhang @lihaofd @TaoLv

[2018-08-24 18:59] haojin2 commented on #12319
Are we looking to match the same behaviors of the Numpy counterparts?

[2018-08-24 19:16] hetong007 commented on #12319
@haojin2 I'd say as long as numpy counterparts are mathematically correct.

[2018-08-24 21:06] ankkhedia commented on #12337
@mxnet-label-bot [Python, Bug]

[2018-08-24 21:26] nswamy commented on #10438
Hi Milan, this issue is resolved, we are about release 1.3 and will make it available through Maven. I closing this issue as resolved, please open a new issue if you still find issues.

[2018-08-24 21:26] #10438 closed

[2018-08-24 21:57] ieee8023 opened #12341 "Documentation does not match what is in the PyPi package"
On this page https://mxnet.apache.org/api/python/contrib/onnx.html it says mxnet has functions relating to onnx but 3 of them are not there. Is the PyPi package out of date?

[code]

[2018-08-24 21:59] ankkhedia commented on #12268
I tried reproducing the issue. Seems like whenever we want to try to create a ndarray from bumpy array, the dtype defaults to float32 regardless of dtype of  the input numpy array.

[2018-08-24 22:37] #12312 closed

[2018-08-24 22:51] sandeep-krishnamurthy opened #12345 "Disabled nightly tests for straightdope example notebooks"
This is a tracking issue for re-enabling all the straight dope nightly notebook tests.
1. chapter05_recurrent-neural-networks/rnns-gluon. Ref - https://github.com/apache/incubator-mxnet/pull/12326/
2. chapter08_computer-vision/visual-question-answer Ref - https://github.com/apache/incubator-mxnet/pull/12343

@vishaalkapoor

[2018-08-24 22:54] ankkhedia commented on #12341
@mxnet-label-bot [Documentation, Question]

[2018-08-24 22:58] vishaalkapoor commented on #12345
Thanks @sandeep-krishnamurthy please add me as an assignee.

[2018-08-25 09:59] marcoabreu commented on #12345
Sorry, we can't assign to non committers

[2018-08-25 10:00] ElegantGod opened #12351 "Using c++ SimpleBind to inference network, the time is irregular with different batch_size"
Using c++ SimpleBind to inference network, the time is irregular with different batch_size. if the batch_size is fixed, it's normal. I guess the reason is WarmUP. But in caffe， this will not happen.  what shall I do?

[2018-08-25 12:20] wkcn opened #12353 "No Activation Information for mxnet.gluon.nn._Conv"
## Description
It's confused that there is no any activation information for mxnet.gluon.nn._Conv
[code]

## Environment info (Required)
Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from source)
MXNet commit hash:
ad34e05b
ver 1.3.0

## What have you tried to solve it?

1. Add the activation information in `mxnet.gluon.nn._Conv.__repr__`

[2018-08-25 17:46] zhenyu commented on #12228
I encounter this issue ,and try with @AustinDoolittle method, not works.
either of the following two works:
1)pip install mxnet-cu92==1.2.0
2)pip install mxnet-cu92mkl
So I think it should be bug

[2018-08-25 18:00] leezu commented on #11271
I opened a PR to document this in the v1.3 release notes: https://github.com/apache/incubator-mxnet/pull/12357

[2018-08-25 18:00] #11271 closed

[2018-08-25 18:10] leezu commented on #12197
@yifeim this may break backwards compatibility of the topk operator. If you feel it is worth to break the compatibility for this change I suggest to discuss with @sxjscience about it.

Nevertheless it seems that #12250 got merged without the documentation on the website being updated about the recommendation to use `dtype=np.int64`.

[2018-08-25 18:28] ankkhedia commented on #12351
@ElegantGod Thanks for trying it out.
For how-to and usability questions, please use MXNet discuss forum - https://discuss.mxnet.io/ to involve wider community.
We want to use Github issues mainly for bugs and feature request. Feel free to reopen if closed in error.
@mxnet-label-bot [Question, C++]
@sandeep-krishnamurthy Can you please close this issue?

[2018-08-25 18:28] ankkhedia commented on #12353
@mxnet-label-bot [Feature Request, Gluon]

[2018-08-25 18:30] AustinDoolittle commented on #12228
Before I was able to fully resolve the bug with 1.2.1, I did find success like @zhenyu by reverting to mxnet-cu92=1.2.0

[2018-08-25 18:32] gigasquid commented on #10753
Thanks @lanking520  - Can this be closed now?

[2018-08-25 18:33] gigasquid commented on #12320
Thanks @taliesinb 😸  - Closing this issue

[2018-08-25 18:33] #12320 closed

[2018-08-25 19:31] szha commented on #12197
@yifeim this is tracked in #9686.

[2018-08-25 19:40] #12353 closed

[2018-08-25 20:56] ankkhedia commented on #12329
Hi @Chancebair Thanks for filing the issue. We will look into the test.

[2018-08-25 20:57] ankkhedia commented on #12310
Hi @Chancebair, Thanks for filing the issue. We will look into the test.

[2018-08-25 20:57] ankkhedia commented on #12248
Hi @lebeg Thanks for filing the issue. We will look into the test.

[2018-08-25 23:58] eric-haibin-lin commented on #11253
@pengzhao-intel NVDIA will work on integrate this with the newly released CUDNN. Is there any plan to support this in mkl-dnn/CPU implementation?

[2018-08-26 04:16] reminisce opened #12359 "Flaky test_l2_normalization on GPU"
[code]

[2018-08-26 05:35] eric-haibin-lin commented on #7582
Symbolic mem usage was improved in https://github.com/apache/incubator-mxnet/pull/11142.
I didn't look at gluon but @piiswrong made a few improvement already.

[2018-08-26 16:34] eric-haibin-lin opened #12363 "distributed training notebook tests"
How to leverage the existing tutorial test suite for tutorials for distributed training is not straightforward. Distributed training usually involves launcher scripts and multiple processes, as mentioned in https://github.com/apache/incubator-mxnet/pull/10955

@indhub @ThomasDelteil @sandeep-krishnamurthy

[2018-08-26 18:20] DatCorno opened #12364 "Importing PyTorch when using ONNX causes a segmentation fault"
## Description
Having `import torch` inside a script calling `mxnet.contrib.onnx.import_model` causes a segmentation fault.
## Environment info (Required)
[code]

I'm using :
[code]
## Error Message:
[code]

## Minimum reproducible example
Using the `ONNX` model from the tutorial : `https://s3.amazonaws.com/onnx-mxnet/examples/super_resolution.onnx`

[code]

## Steps to reproduce
(Paste the comman

[2018-08-26 22:38] ankkhedia commented on #12307
@yuxiangw Thanks for filing the issue. We will look into it.

[2018-08-26 22:41] ankkhedia commented on #12302
@xinedison  Thanks for trying it out.
For how-to and usability questions, please use MXNet discuss forum - https://discuss.mxnet.io/ to involve wider community.
We want to use Github issues mainly for bugs and feature request. Feel free to reopen if closed in error.

@sandeep-krishnamurthy Can you please close this issue?

[2018-08-26 22:47] ankkhedia commented on #12341
@ieee8023   Thanks for trying it out.
For how-to and usability questions, please use MXNet discuss forum - https://discuss.mxnet.io/ to involve wider community.
We want to use Github issues mainly for bugs and feature request. Feel free to reopen if closed in error.
@Roshrini Could you please help with it?
@sandeep-krishnamurthy Can you please close this issue?

[2018-08-26 22:47] ankkhedia commented on #12359
@reminisce Thanks for filing the issue. We will look into it.

[2018-08-26 22:49] ankkhedia commented on #12203
@lebeg Thanks for filing the issue. We will look into this issue.

[2018-08-27 02:28] liangxi627 commented on #11890
@elofgren Hello, I met the same error, have you solved the problem?

[2018-08-27 02:30] liangxi627 commented on #12120
@nuaawzl It works, thanks! But there is another error

tools/im2rec.cc:88:20: error: ‘CV_LOAD_IMAGE_COLOR’ was not declared in this scope
   int color_mode = CV_LOAD_IMAGE_COLOR;
                    ^
tools/im2rec.cc:90:22: error: ‘CV_INTER_LINEAR’ was not declared in this scope
   int inter_method = CV_INTER_LINEAR;
                      ^
tools/im2rec.cc:195:31: error: ‘CV_IMWRITE_PNG_COMPRESSIO

[2018-08-27 02:35] elofgren commented on #11890
Nope. General consensus is it's an OpenCV problem, but I've made no headway since.

[2018-08-27 03:28] juliebernauer commented on #9765
One can compile with gcc-7 using:
ADD_CFLAGS = -fpermissive
config.mk

[2018-08-27 03:30] chinakook commented on #9765
Yes,  -fpermissive is a solution.

[2018-08-27 03:56] xinedison commented on #12302
@ankkhedia Hi ankkhedia, Thank you for reply. But our question is not for how to. We run float-16 training with instance norm layer, but it break down with error log like this.
![image](https://user-images.githubusercontent.com/4470974/44639674-c4de9700-a9ef-11e8-9469-d44655f98176.png)

I tried to add inferType method to InstanceNorm operator, but it still not work.
We found BN operator implement

[2018-08-27 04:08] eric-haibin-lin commented on #12266
@TobyRoseman is the turicreate project depending on MXNet?

[2018-08-27 04:14] ankkhedia commented on #12302
@xinedison Seems like a gluon bug.
@sandeep-krishnamurthy  Could you help with this issue?

[2018-08-27 04:25] bowenroom opened #12366 "MXNetError: Cannot differentiate node because it is not in a computational graph."
#  have an mxnet error ,can anyone help me to fix it ?thanks a lot!!

from __future__ import print_function
import matplotlib as mpl
from matplotlib import pyplot as plt
import mxnet as mx
from mxnet import gluon, autograd, nd
from mxnet.gluon import nn
import numpy as np

# In[2]:

# Hyper Parameters
BATCH_SIZE = 64
LR_G = 0.0001  # learning rate for generator
LR_D = 0.0001  # learning rate for d

[2018-08-27 04:52] lanking520 commented on #10753
@gigasquid Yes, this problem resolved!

[2018-08-27 05:00] liangxi627 commented on #12120
@nuaawzl  It works, thanks!

[2018-08-27 05:06] liangxi627 commented on #11890
I just found the solution. I replaced the "CV_LOAD_IMAGE_COLOR" with  "cv::IMREAD_COLOR", and other symbols should should remove the  CV_ prefix, such as "CV_INTER_LINEAR" to "cv::INTER_LINEAR"

[2018-08-27 05:28] eric-haibin-lin commented on #12363
pip package is already built with USE_DIST_KVSTORE=1. cc @szha in case I'm wrong

[2018-08-27 05:41] szha commented on #12363
dist kvstore is already supported in pip.

[2018-08-27 06:42] meanmee commented on #12363
I download the mxnet source code, but didn't compile since i used the mxnet installed by pip. when i use the launch.py provided in the mxnet source code, some errors shows up:

xiaomin.wu@iva0605:/autofs/data56/public/xiaomin.wu/code/dist_mxnet_test$ python /autofs/data56/public/xiaomin.wu/software/incubator-mxnet-1.2.0/tools/launch.py -n 2 -s 2 -H hosts --sync-dst-dir /home/xiaomin.wu/cifar10_dis

[2018-08-27 06:44] meanmee commented on #12363
the machines are already sshable without password between each other

[2018-08-27 06:46] szha commented on #12363
could you upgrade your pip installation to 1.2.1post1?

[2018-08-27 06:56] RogerChern opened #12369 "batchnorm from scratch with autograd gives very different gradient from mx.nd.BatchNorm"
## Description
batchnorm from scratch with autograd gives very different gradient from mx.nd.BatchNorm. Forward results are OK.

## Environment info (Required)
macOS 10.13 with mxnet 1.2.1 cpu version from pip.

Package used (Python/R/Scala/Julia):
Python

## Error Message:
(Paste the complete error message, including stack trace.)

## Minimum reproducible example
[code]

results:
[code]

## Steps

[2018-08-27 06:57] RogerChern commented on #12369
@ZiyueHuang

[2018-08-27 06:57] meanmee commented on #12363
I don't think so because I tried:
python /home/xiaomin.wu/anaconda2/lib/python2.7/site-packages/mxnet/tools/launch.py -n 2 -s 2 -H hosts --sync-dst-dir /home/xiaomin.wu/cifar10_dist --launcher ssh "python /autofs/data56/public/xiaomin.wu/code/dist_mxnet_test/cifar10_dist.py"

the same errors show up

[2018-08-27 06:57] meanmee commented on #12363
the vesion of the mxnet i installed buy pip is 1.2.0

[2018-08-27 07:55] meanmee commented on #12363
I update the version to 1.2.1 by pip, but new error shows up:(

xiaomin.wu@iva0605:/autofs/data56/public/xiaomin.wu/code/dist_mxnet_test$ python /home/xiaomin.wu/anaconda2/lib/python2.7/site-packages/mxnet/tools/launch.py -n 2 -s 2 -H hosts --sync-dst-dir /home/xiaomin.wu/cifar10_dist --launcher ssh "python /autofs/data56/public/xiaomin.wu/code/dist_mxnet_test/cifar10_dist.py"
2018-08-27 15:54:12,

[2018-08-27 08:43] meanmee commented on #12363
Permission denied, please try again.
xiaomin.wu@10.14.6.5's password:
Permission denied, please try again.
xiaomin.wu@10.14.6.5's password:
Permission denied (publickey,password).
rsync: connection unexpectedly closed (0 bytes received so far) [sender]
rsync error: unexplained error (code 255) at io.c(226) [sender=3.1.1]
Traceback (most recent call last):
  File "/home/xiaomin.wu/anaconda2/lib/pyt

[2018-08-27 09:11] KellenSunderland commented on #12089
You use gcc on your mac?

[2018-08-27 12:06] J4k3117 opened #12372 "AssertionError / mod.forward(Batch(data = [mx.nd.array(img)]))"
## Description
I'm following this guide https://aws.amazon.com/de/blogs/machine-learning/building-an-autonomous-vehicle-part-4-using-behavioral-cloning-with-apache-mxnet-for-your-self-driving-car/ to train a model with the provided trainingsdata and the valid.rec. When I add the code from "Evaluation and simulator" part of this guide. Following Error occurs.

## Error Message

[code]

Can somebody

[2018-08-27 14:05] DatCorno commented on #12364
I did get this error on both `1.2.0` and `1.3.0`. As per the package list above, the `ONNX` version is `1.2.2`. And `import_onnx.py` is just the code I've put up in the Minimum Reproducible Example section.

[2018-08-27 14:11] DatCorno commented on #12364
After more toying around and testing with some code without mxneet, the issue seems to stem for `ONNX` itself. Therefore, this issue can be closed, I'll open one in their github project.

[2018-08-27 16:26] apeforest commented on #12089
@lanking520 We currently don't run MacOS platform in CI, which I think should be installed ASAP.

[2018-08-27 16:27] apeforest commented on #12089
@lebeg
[code]

[2018-08-27 16:43] ankkhedia commented on #12372
@J4k3117  Thanks for trying it out.
For how-to and usability questions, please use MXNet discuss forum - https://discuss.mxnet.io/ to involve wider community.
We want to use Github issues mainly for bugs and feature request. Feel free to reopen if closed in error.

@sandeep-krishnamurthy Can you please close this issue?
@mxnet-label-bot [Python, Question]

[2018-08-27 16:45] ankkhedia commented on #12369
@mxnet-label-bot [Bug, NDArray]

[2018-08-27 16:50] ankkhedia commented on #12366
Hi @bowenroom Thanks for trying out MXNet. Could you please share the details of the error you faced.
For how-to and usability questions, please use MXNet discuss forum - https://discuss.mxnet.io/ to involve wider community.
We want to use Github issues mainly for bugs and feature request. Feel free to reopen if closed in error.
@mxnet-label-bot [Python, Question]

@sandeep-krishnamurthy Could you

[2018-08-27 16:52] ankkhedia commented on #12372
@ThomasDelteil Could you please help with the question?

[2018-08-27 16:52] ankkhedia commented on #12366
@ThomasDelteil Could you please help with the question?

[2018-08-27 17:11] KellenSunderland commented on #12142
Hey @Faldict  I've updated the version of onnx-trt in our repo.  I don't think it'll address your issue yet, but you can give the new version a shot.

[2018-08-27 17:14] TobyRoseman commented on #12266
@eric-haibin-lin - yes, turicreate depends on MXNet: [link to our setup.py](https://github.com/apple/turicreate/blob/master/src/unity/python/setup.py#L181). Before turicreate can support 3.7, we will  need MXNet to support 3.7. We'll also need to update the version of MXNet we depend on.

[2018-08-27 17:54] gigasquid commented on #10753
Thanks!

[2018-08-27 17:54] #10753 closed

[2018-08-27 18:48] aaronmarkham opened #12373 "macOS installation (build from source) fails"
Running the installation for "build from source" for mac fails.

https://mxnet.incubator.apache.org/install/index.html?platform=MacOS&language=Python&processor=CPU#validate-mxnet-installation

It has you run a shell script.

Two issues:

1. It detects a previous version, but fails to remove it.
[code]

2. Then later the test fails:
[code]

Importing mxnet yields a warning:

[code]

[2018-08-27 19:10] AustinDoolittle commented on #12228
This issue cropped up again for some reason. I took @zhenyu's advice and installed mxnet-cu92mkl. So far it appears to be working.

[2018-08-27 20:10] anirudhacharya commented on #12373
@mxnet-label-bot [Installation, Doc, OSX]

[2018-08-27 20:20] apeforest commented on #12337
@mxnet-label-bot [Operator]

[2018-08-27 21:07] sad- commented on #10237
@yzhliu can we close out this issue? @dl002 feel free to reopen if you have follow up questions

[2018-08-27 21:08] #10237 closed

[2018-08-27 22:33] zheng-da commented on #12269
After some more tests, it seems this is an MKLDNN bug. It's most likely the bug is in the MKLDNN library instead of in the mxnet integration. I run the code above. It gets segfault in m4 (Xeon E5-2686) but it works fine in c5 (Xeon Platinum 8124M).
@pengzhao-intel @azai91

[2018-08-27 22:50] aaronmarkham commented on #12341
My just merged PR fixes the docs: https://github.com/apache/incubator-mxnet/pull/12317
@ieee8023 - You may want to keep an eye on #12318 as well.
The website should refresh in a bit.

[2018-08-27 23:40] apeforest commented on #11163
@mxnet-label-bot Please add label [Call for Contribution]. This has been the rootcause of several issues

[2018-08-27 23:52] samskalicky commented on #8238
@VikingMew Is this still a problematic issue? If so, can you please provide more info about which versions were consistent and which version it is no longer consistent with?

Also, that customop example is incomplete. Can you provide a complete working/failing script?

[2018-08-28 00:04] pengzhao-intel commented on #12269
@zheng-da any debug information or hints, like the error message, stack?

[2018-08-28 01:06] zheng-da commented on #12269
something like this:
[code]

[2018-08-28 03:59] alexsun009 commented on #7450
same issue happened to me, found out that cause is rec file damaged for whatever reason, if I samply run the scrip.

solve:
manually download train & val rec form link & put both files in data/ folder.

rec download link:
download_file('http://data.mxnet.io/data/cifar10/cifar10_val.rec', fnames[1])
download_file('http://data.mxnet.io/data/cifar10/cifar10_train.rec', fnames[0])

[2018-08-28 04:59] zheng-da commented on #12303
@safrooze Could you provide a use case for @pengzhao-intel for testing?

[2018-08-28 05:52] J4k3117 commented on #12372
@ankkhedia Thank you, I will post it on the forum.

[2018-08-28 07:33] zhangyichent commented on #9271
+1  same

[2018-08-28 08:27] lebeg opened #12377 "Flaky test: test_mkldnn.test_activation"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1529/pipeline

[code]

[2018-08-28 09:29] Ashleywutq commented on #12269
The problem can be solved by changing e1.forward() to e1.forward(is_train=True)
The difference here is that if you don't specify is_train=True, the executor does not expect to have a backward after and thus won't initialize e1.outputs which leads to seg fault in future calculations.

[2018-08-28 09:44] pengzhao-intel commented on #12377
@luobao-intel please take a look for the reason.

[2018-08-28 14:44] vandanavk commented on #12024
@David-Levinthal The changes in the PR have been approved. Please verify if the changes work at your end too.

[2018-08-28 15:52] David-Levinthal commented on #12024
may take a few days...my lab was moved to a new building...
:-)
what fun!
:-(

On Tue, Aug 28, 2018 at 7:46 AM Vandana Kannan <notifications@github.com>
wrote:

[2018-08-28 16:54] #12372 closed

[2018-08-28 16:56] sandeep-krishnamurthy commented on #12341
Thanks @aaronmarkham
@ieee8023 - Closing it here as the PR with fix is merged. Please reopen if closed in error.

[2018-08-28 16:56] #12341 closed

[2018-08-28 16:57] #12366 closed

[2018-08-28 16:58] aaronmarkham opened #12383 "Clojure test failure in CI"
PR is unrelated to Clojure. Here's the job console:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12102/18/pipeline

[2018-08-28 17:00] sandeep-krishnamurthy commented on #12363
@vishaalkapoor - Can we utilize your straightdope notebook testing setup here?

[2018-08-28 17:08] Line290 commented on #2033
Hi amithr1,

Do you know how I can get the pointer as your mentioned in Python code, just like the numpy array ctypes.data.
[numpy.ndarray.ctypes](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.ctypes.html)

[2018-08-28 18:27] sad- commented on #9745
@yizhi can we close this out? doc example has been fixed/made more explicit on how to write a custom DataIter here: https://mxnet.incubator.apache.org/tutorials/basic/data.html#custom-iterator

[2018-08-28 18:53] #9745 closed

[2018-08-28 18:58] Roshrini commented on #12364
@DatCorno Thanks for verfying this.
@sandeep-krishnamurthy Can you please close this issue?

[2018-08-28 19:05] vandanavk opened #12384 "Refactor speech recognition example"
## Description
- Cleanup/simplify speech recognition example
- Refactor singleton usage
- Fix Python3 failures https://github.com/apache/incubator-mxnet/issues/11042

Package used (Python/R/Scala/Julia):
Python 2 and 3

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

MXNet commit hash:
6a7bfe905bafe94a33eccd0cb8bc42f0d667f606

## Related issues
https://git

[2018-08-28 19:14] zheng-da commented on #12269
Thanks. It seems mxnet should report an error instead of failing with a segfault.

[2018-08-28 19:14] #12269 closed

[2018-08-28 20:15] ankkhedia commented on #12310
It seems like there is a problem while using different dtype ndarrays on GPU with top operator.
It can be reproduced by running small code snippet with latest mxnet build

[code]
The above code snippet led to this failure:
[code]

The support was added recently as a part of this PR:
https://github.com/apache/incubator-mxnet/pull/12250/files

@sxjscience

[2018-08-28 21:05] Roshrini commented on #10948
@HorsonLiu MXNet is not very thread-safe and so this is not supported yet. Adding it as a FeatureRequest.
@sandeep-krishnamurthy Can you please tag this as  [FeatureRequest, Backend]

[2018-08-28 22:16] vishaalkapoor commented on #2811
@yzhliu Would you be able to close? Thank you!

[2018-08-28 22:43] metrofun commented on #2811
Second post on RBM in MXNet was low on my priority, but here is the code I wrote for the second post

https://gist.github.com/metrofun/5c76dc280b8ce19e56d673e19dc262c4

[2018-08-28 23:40] sxjscience commented on #12310
Thanks for reporting this. I find we can use other dtypes
[code]

I'm looking for the bug in the code.

[2018-08-28 23:54] ankkhedia commented on #12310
@sxjscience The issue seems to be only with ret_type = "mask" for topk operator

[2018-08-28 23:59] haojin2 commented on #8866
A fix delivered in #12386, but corresponding unit test currently blocked by the flakiness of test_bilinear_sampler

[2018-08-29 00:11] samskalicky commented on #12327
Hi @jasonyu1996. Thanks for reporting this. Ive been looking to implement a trace operator in mxnet per this request #10500. In preparing for implementing trace (which is really just summing the diagonal of the matix) I also noticed the limited implementation of the diag operator.

Given that many MXNet users have data in the form of WxHxC (width, height, channel), and then add a 4th dimension for

[2018-08-29 01:12] pengzhao-intel commented on #12269
@zheng-da do you have a plan to improve it?

[2018-08-29 01:15] jasonyu1996 commented on #12327
Hi! Thank you for your response! I just paid a visit to the numpy interfaces for computing the diagonal, and noticed that besides `numpy.diag` (which is exactly where our the design of our `diag` operator comes from) numpy provides a second diagonal extracting function `numpy.diagonal` (https://www.numpy.org/devdocs/reference/generated/numpy.diagonal.html), which in my opinion is a good reference

[2018-08-29 02:05] zheng-da commented on #12269
I don't. I can create an issue, so hopefully someone can address it

[2018-08-29 03:07] #12267 closed

[2018-08-29 03:30] #12120 closed

[2018-08-29 04:02] pengzhao-intel commented on #11448
@zheng-da related PR are merged. Could you verify if all issues are fixed and close the issue?

[2018-08-29 04:13] #11448 closed

[2018-08-29 04:21] yuxiangw opened #12389 "[Bug] Not able to detect out of bound index on an ndarray. potential memory overflow."
## Minimum reproducible example

[code]

## Output:
[code]

Note that there is no complaint what-so-ever.  Not even a warning.

On the other hand, if you do the following instead:
[code]
Then you get the desired error message:
[code]

[2018-08-29 04:53] meanmee commented on #12363
@eric-haibin-lin 我可以从a无密码ssh到b，也可以从b无密码ssh到a，但不能a无密码ssh到a，b也不能无密码ssh到b。而问题应该正是如此

[2018-08-29 05:18] #10175 closed

[2018-08-29 05:58] jasonyu1996 opened #12390 "[Feature Request] dtype for modules"
It seems that only a very small number of modules among all the modules available in the library supports specifying a `dtype` in their constructors (including `Dense` and `Embedding`). If not specified, the default parameters would be `float32`, which could be a troublesome limitation in some cases.

On the forum: https://discuss.mxnet.io/t/default-datatype/1762

[2018-08-29 06:14] anirudhacharya commented on #12383
@mxnet-label-bot [Flaky, Test, Clojure]

[2018-08-29 06:17] anirudhacharya commented on #12384
@mxnet-label-bot [Example, Good First Issue]

[2018-08-29 06:45] mseeger commented on #8966
I am getting the same error, when running some pretty benign code on a normal CPU instance (m4.xlarge, Ubuntu Deep Learning AMI). The code is binding several executors in sequence. The error occurs only with NaiveEngine. It does not occur on my Mac.

[2018-08-29 06:54] anirudhacharya commented on #12390
@mxnet-label-bot [Module, Feature Request]

[2018-08-29 06:59] anirudhacharya commented on #12389
@mxnet-label-bot [NDArray, Memory, Bug]

[2018-08-29 07:03] meanmee commented on #12363
first of all, check out:https://github.com/apache/incubator-mxnet/tree/master/example/distributed_training
install anaconda on all your machines
run "pip install mxnet-cu80==1.2.1" on your all machines (or pip install mxnet-cu90 depends on your machine's env)
make all your machines sshable without input password between each other
machine A to machine B
cd  ~/.ssh
ssh-keygen  -t  rsa
two files are

[2018-08-29 07:30] VanDavv opened #12392 "How to use BlockGrad with weight decay"
I saw in [this](https://github.com/apache/incubator-mxnet/issues/1340#issuecomment-174166248)  and [this](https://github.com/apache/incubator-mxnet/issues/3073#issuecomment-241033513) issue comments, @winstywang suggests that using BlockGrad with weight decay is highly inadviseable. As I also asked in [this](https://github.com/apache/incubator-mxnet/issues/3073#issuecomment-416852189) comment, how

[2018-08-29 07:58] luobao-intel commented on #12377
This test is to validate the activation calculation in mkldnn by checking the gradient compared to the theano.gradient.numeric_grad. However, the activation gradient calculation of code based on theano is not correct with the input closed to zero.  Thus, flaky errors occurred when there are some extremely small positive numbers in the random input vector.
The experiment is as follows.

## experime

[2018-08-29 08:45] dzabraev opened #12393 "Deadlock in save_checkpoint when using threading"
## Description
For preparing batches I create several (100) python threads (I name this threads preparing-threads). Each of this thread prepares batch and appends it to queue. Then main process takes prepared batch and does learning. Each preparing-thread make call of mx.nd.array and it causes deadlock when main-thread makes `mx.model.save_checkpoint`. If I call mx.nd.array in main thread it works

[2018-08-29 08:52] pengzhao-intel commented on #12377
The reference checker applied the finite difference method but the eps is too large for float datatype in here.
In @luobao-intel case, the input data is e-5, so the eps can't calculate correctly.
I suggest changing eps to 1e-6. @luobao-intel will fill the PR soon.

https://github.com/apache/incubator-mxnet/blob/e2a3eef349cb6643c08a7840d8cbd43b38fedfd5/python/mxnet/test_utils.py#L716

[2018-08-29 09:11] #12364 closed

[2018-08-29 09:40] taliesinb opened #12394 "C API documentation often doesn't mention returned pointer lifetimes"
Take a function from the C API like `MXNDArrayGetShape`, which sets a pointer to shape data of an `NDArray`.

It is not documented at https://mxnet.incubator.apache.org/doxygen/c__api_8h.html#a2035651f4392d249d1b904d5eb0c3406 how long this data lasts, where and how it as allocated, and whether the caller is responsible for freeing it.

By chasing things down to `MXAPIThreadLocalEntry` I see that t

[2018-08-29 11:49] tiger-JK commented on #5271
The variable name should be end up with '_weight'

[2018-08-29 12:36] sbodenstein opened #12395 "C API Thread-Safety"
Applications using the C API sometimes require knowledge of the thread-safety of the functions in the C API. For example, it can be useful for a client to run `MXNDArrayWaitAll` in a separate thread so that the master client thread is free whilst waiting for MXNet to complete its computations.

Could the thread-safety be made official (if the implementation is thread-safe), which means documenting

[2018-08-29 15:33] Roshrini commented on #11816
@lyd911 Thank you for trying out this tutorial. I ran it in my environment: MacOS, jupyter notebook with python 3 kernel, MXNet v1.3 and ONNX v1.2.1
It takes lot of time but runs fine.. I didnt get any segmentation fault. Can you please check which ONNX version you are using? MXNet import, export functionality currently supports ONNX v1.2.1

[2018-08-29 16:02] dzabraev commented on #12393
I realized that I shouldn't use mx.nd.array in different threads, because it uses Push API.

I found [here](https://mxnet.incubator.apache.org/architecture/overview.html)

I think you should mention in python API documentation what exactly python API functions should be called only from main thread.

It will be useful to make function for creating ndarray in non-block fashion. Because mx.nd.array

[2018-08-29 16:55] sandeep-krishnamurthy commented on #9557
@yuewu001
1. Trainer is now fixed and uses the same logic as in Module. [Here in Trainer](- https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/trainer.py#L188) is where you create the KVStore using [model._create_kvstore](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/model.py#L77). However, please note that, it is not recommended to use KVStore when grad

[2018-08-29 16:55] #9557 closed

[2018-08-29 17:44] mseth10 commented on #12219
Fix in #12385

[2018-08-29 18:35] Roshrini commented on #12018
This issue for BatchNorm operator is fixed in latest code. User is using old code. Ran both opset 6 and 7 of shufflenet model. It works fine. Cannot reproduce the issue. Added comment on forum: https://discuss.mxnet.io/t/error-in-loading-pretrained-shufflenet-onnx-model/1520/3?u=roshrini

[2018-08-29 21:23] aaronmarkham opened #12401 "cpp_package instructions need clarification and examples need repair"
I tried following the [instructions for building c++ examples](https://github.com/apache/incubator-mxnet/tree/master/cpp-package#building-c-examples-in-examples-folder).

The resulting binaries don't work out of the box, and after troubleshooting some terminate abruptly, core dump or do nothing.

[code]

I worked on the example C++ for image prediction (#12397) that has its own Makefile that point

[2018-08-29 22:16] sandeep-krishnamurthy commented on #11849
Using below snippet:
[code]

Below are my findings:
1. Casting worked fine.
2. Saved parameters are in the correct format (fp64 in my sample code)
3. sym.load worked fine. If I infer symbol's type (sym.infer_type(data='float64') I get correct inferred type (float64) for all params.

Below is the issue:
1. When you create mx.gluon.SymbolBlock(sm, input). It creates initializes parameters in the Blo

[2018-08-29 23:13] #9187 closed

[2018-08-29 23:14] yzhliu commented on #9187
Close since @thirdwing answered. @zhangxiao-ustc feel free to reopen if you still have the problem.

[2018-08-29 23:17] yzhliu commented on #2811
Close for now as @vishaalkapoor  and @metrofun provided several links. Feel free to reopen or create a new one if there's task we can track.

[2018-08-29 23:17] #2811 closed

[2018-08-29 23:18] vishaalkapoor commented on #11100
@larroy @lebeg does the PR address the this issue completely or do pre-built images still need to be added to the release page?

[2018-08-30 02:03] eli2014 opened #12403 "roi_align.cc bug?"
There maybe a bug in file roi_align.cc.
 #Line 177 and Line 178
 T roi_width = std::max(roi_end_w - roi_start_w, (T)1.);
 T roi_height = std::max(roi_end_h - roi_start_h, (T)1.);

I think it should be:
 T roi_width = std::max(roi_end_w - roi_start_w + 1, (T)1.);
 T roi_height = std::max(roi_end_h - roi_start_h + 1, (T)1.);

[2018-08-30 02:14] eli2014 commented on #12403
We can use the following example(ROIPooling exmple from MxNet)  to test:

import mxnet as mx
x = mx.nd.array([[[[  0.,   1.,   2.,   3.,   4.,   5.],
       [  6.,   7.,   8.,   9.,  10.,  11.],
       [ 12.,  13.,  14.,  15.,  16.,  17.],
       [ 18.,  19.,  20.,  21.,  22.,  23.],
       [ 24.,  25.,  26.,  27.,  28.,  29.],
       [ 30.,  31.,  32.,  33.,  34.,  35.],
       [ 36.,  37.,  38.,

[2018-08-30 03:46] anirudhacharya commented on #12403
@mxnet-label-bot [Operator, Bug]

[2018-08-30 03:49] anirudhacharya commented on #12392
@mxnet-label-bot [Question, How To, Modeling]

[2018-08-30 03:54] anirudhacharya commented on #12393
@mxnet-label-bot [Doc, Python, Thread Safety]

[2018-08-30 03:56] anirudhacharya commented on #12394
@mxnet-label-bot [Doc, Unclear Error/Doc, C API]

[2018-08-30 03:58] anirudhacharya commented on #12395
@mxnet-label-bot [C API, Thread Safety]

[2018-08-30 04:03] anirudhacharya commented on #12401
@mxnet-label-bot [C++, Build, Example, Breaking]

[2018-08-30 04:07] sandeep-krishnamurthy commented on #11890
Great. It is openCV version that caused the issue.  Thanks for sharing the links.
Resolving the issue. Please reopen if closed in error.

[2018-08-30 04:07] #11890 closed

[2018-08-30 04:58] rosenrodt commented on #8966
It seems like the internal memory pool tries to call `cudaFree()` on the same resource assigned to two or more MXNet instances when running Naive Engine. The memory pool is supposed to be thread-local singleton so each MXNet instance spawned by each thread does not contend with each other the same resource, but when running in Naive Engine it apparently is not the case. I get all sorts of errors l

[2018-08-30 05:05] szha opened #12404 "init.Constant does not work in symbol"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-08-30 06:14] sufeidechabei commented on #2718
I also meet the same error

[2018-08-30 06:42] eli2014 commented on #12403
Besides,
#line 63-65
const T yy = roi_start_h + ph * bin_size_h +
            static_cast<T>(iy + .5f) * bin_size_h /
                static_cast<T>(roi_bin_grid_h);
should be = roi_start_h + ph * bin_size_h +
            static_cast<T>(iy ) * bin_size_h /
                static_cast<T>(roi_bin_grid_h);

#line 67-69

const T xx = roi_start_w + pw * bin_size_w +
              static_cast<T>(ix + .5

[2018-08-30 08:33] dorest opened #12405 "mxnet1.3.0 with cuda8 build from source fail"
## Description
I followed the installing guide to build mxnet from source, but it fails and dont know what is the error meaning
make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
I'm using python

## Build info (Required if built from source)

Compiler (gcc):

MXNet commi

[2018-08-30 08:34] dorest commented on #12405
Python 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)
[GCC 7.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

'3.4.1'

[2018-08-30 08:39] cclauss opened #12406 "[PYTHON] Undefined name: 'logging' in ./ci/util.py"
## Description

Undefined name: 'logging' in ./ci/util.py  Import statement is missing.  https://github.com/apache/incubator-mxnet/commit/6a7bfe905bafe94a33eccd0cb8bc42f0d667f606#r30308353  Linters can catch this automatically.  @larroy @marcoabreu

## Environment info (Required)
* https://github.com/apache/incubator-mxnet

Package used (Python/R/Scala/Julia):
(I'm using ...) Python

For Scala use

[2018-08-30 09:22] azshue opened #12407 "'NDArray' object has no attribute 'broadcast_like'"
I was trying 'broadcast_like' using the given example in the API docs, like this:
[code]
, and, in Jupyter Notebook, got an error like:
[code]
I am using the latest version(mxnet-1.2.1.post1), and don't know why got an error like this.

Thanks,

[2018-08-30 11:20] #12407 closed, assigned to nobody

[2018-08-30 11:49] lebeg commented on #11100
Yes, this still needs to be done. The windows build is far from being perfect.

[2018-08-30 12:20] mariussoutier opened #12409 "Scala: DataDesc IllegalArgumentException with simple example"
## Description

Fitting using Scala and Module API throws an IAE.
Apparently the label shape of (50) doesn't correspond to expected the NCHW format.

## Environment info (Required)

macOS 10.13.6
IntelliJ 2018.2.2
Scala 2.11.12
Java 1.8.0_121
MXNet 1.2.1

## Error Message:

[code]

## Minimum reproducible example

[code]

Tried debugging this, but pretty difficult to find out what's going on with

[2018-08-30 18:46] aaronmarkham opened #12415 "test_gluon.test_import failure in CI"
Windows env trying to access a model and some other process already has it.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12102/21/pipeline

[code]

@mxnet-label-bot [Flaky, Test]

[2018-08-30 18:57] aaronmarkham commented on #9948
I've looked at the footer issue and had some help from a couple of people and we can't figure it out. Seems like it would take removing the customizations on the sphinx nav bars which is a can of worms.

[2018-08-30 19:03] szha commented on #12018
@anirudhacharya Let's wait for @jmnie's confirmation

[2018-08-30 19:04] jesterhazy opened #12416 "opencv path error in mxnet scala tutorial"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-08-30 19:04] jesterhazy commented on #12416
@aaronmarkham  @lanking520

[2018-08-30 19:27] jmnie commented on #12018
@anirudhacharya @szha Sorry for late reply. I just load the model using the latest mxnet. It works. Thank you very much.

[2018-08-30 20:20] mseth10 commented on #12203
Fix in #12402

[2018-08-30 20:32] aaronmarkham commented on #12415
@mxnet-label-bot [Flaky, Test]

[2018-08-30 20:34] aaronmarkham opened #12417 "test_operator.test_l2_normalization failure in CI"
The PR is unrelated to anything that would have failed this test...

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12413/1/pipeline

[code]

[2018-08-30 20:35] aaronmarkham commented on #12417
@mxnet-label-bot [Flaky, Test]

[2018-08-30 20:49] #12018 closed

[2018-08-30 22:04] vishaalkapoor commented on #12384
@vandanavk is the checked in PR the only change for this issue? If so, would you be able to close this issue off? Thanks!

[2018-08-30 22:12] vandanavk commented on #12384
The checked in PR fixes a few bugs but does not address the issues mentioned here. Since fixing the example would be a larger effort, based on comments from reviewers, I opened this issue for tracking.

[2018-08-30 22:12] vishaalkapoor commented on #11029
@eric-haibin-lin can we close this off? Thanks!

[2018-08-30 22:16] vishaalkapoor commented on #9814
@marcoabreu spidyDev's PR has been merged. If this PR addresses all segfaults, can we close this off? Thanks!

[2018-08-30 22:39] vishaalkapoor commented on #12150
@eric-haibin-lin The PR has been merged: https://github.com/apache/incubator-mxnet/pull/12271 we can close this off.

[2018-08-30 22:43] anirudhacharya commented on #12405
@mxnet-label-bot [CUDA, Build]

[2018-08-30 22:47] anirudhacharya commented on #12409
@mxnet-label-bot [Scala]

[2018-08-30 22:51] anirudhacharya commented on #12416
@mxnet-label-bot [Scala, Example]

[2018-08-30 22:58] lanking520 commented on #12409
Hi @mariussoutier this problem actually addressed in 1.3 in this PR: https://github.com/apache/incubator-mxnet/pull/11844. Try with this one!

[2018-08-30 22:59] lanking520 commented on #12416
@jesterhazy in 1.2.0 we used opencv@2, 1.2.1 we used opencv (version 3)

[2018-08-30 23:44] anirudhacharya commented on #12406
@mxnet-label-bot [Python]

[2018-08-31 06:37] anjiang2016 commented on #7215
mxnet import the Digraph to display the networks photo pic, so u can use the function digraph.view() to display, and u can use function render() to save the image, the example code
`digraph = mx.viz.plot_network(net, save_format = 'jpg')
digraph.view()
digraph.render()`

[2018-08-31 08:53] larroy commented on #11468
Sorry I don't have time to look into this ATM. Were you able to reproduce from the commit that's on the ticket?  Thanks a lot

[2018-08-31 09:36] larroy opened #12421 "Docker ARMv7 build not working due to dockcross problem"
ARMv7 builds using docker is broken due to:

https://github.com/dockcross/dockcross/issues/257

Working on a fix.

[2018-08-31 10:12] kardoszc commented on #12255
`import ctypes
import time

start = time.time()
ctypes.CDLL('libmxnet_1.1.so', ctypes.RTLD_LOCAL)
print 'load libmxnet1.1.so', time.time() - start

start = time.time()
ctypes.CDLL('libmxnet_1.3.so', ctypes.RTLD_LOCAL)
print 'load libmxnet1.3.so', time.time() - start`

`load libmxnet1.1.so 0.0203261375427
load libmxnet1.3.so 1.06584215164`

[2018-08-31 13:52] mariussoutier commented on #12409
@lanking520 Is there a published version of that I can use or do I have to build it myself?

[2018-08-31 16:26] mdespriee opened #12425 "Problem with Symbol.reshape and special value -2 [scala]"
## Description
I want to add an axis to an input, so I try to use Symbol.reshape with arg shape=(1, -2), but it fails with a cryptic message. Is there any workaround ?

## Environment info (Required)
- Linux setup using  https://raw.githubusercontent.com/apache/incubator-mxnet/1.2.1/ci/docker/install/ubuntu_core.sh (actually in a Docker)
- MXNet 1.2.1, scala 2.11.11

## Error Message:
[code]

## M

[2018-08-31 16:49] ankkhedia commented on #2774
@sandeep-krishnamurthy @nswamy Could you please close this issue due to inactivity

@rajafan Please feel free to reopen if closed in error

[2018-08-31 16:50] ankkhedia commented on #7446
@sandeep-krishnamurthy @nswamy Could you please close this issue due to inactivity

@ArturIndio  Please feel free to reopen if closed in error

[2018-08-31 16:51] ankkhedia commented on #1518
@sandeep-krishnamurthy Could you please tag this issue as feature request

[2018-08-31 16:55] ankkhedia commented on #2056
@sandeep-krishnamurthy Could you please tag this issue as feature request.

[2018-08-31 18:00] lupesko commented on #12421
Thanks for reporting @larroy !
@mxnet-label-bot [ARM, Build]

[2018-08-31 18:02] lupesko commented on #12421
@larroy I see in Jenkins ARMv7 build is passing?
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1545/pipeline

[2018-08-31 19:46] lebeg commented on #12421
The problem I think is in the run and test step on qemu, not in the compile. But for now we don't have a CI testing stage for that platform.

[2018-08-31 20:04] #7446 closed

[2018-08-31 20:04] #2774 closed

[2018-08-31 21:33] haojin2 commented on #11468
@larroy Hi Pedro, I said that I was not able to reproduce using your instructions.

[2018-08-31 21:48] #12150 closed

[2018-08-31 22:12] haojin2 commented on #12248
Fix in #12427

[2018-08-31 23:18] vandanavk commented on #11480
A separate metric is being maintained for epoch metric vs batch-wise metric. @hxhxhx88 Please have a look at PR #12182. It would be great if you could verify it at your end as well.

[2018-08-31 23:44] some-guy1 opened #12428 "[R] mx.io.CSVIter not loading labels in version 1.3.0"
The code given below used to work fine in older versions of mxnet (older than 1.2.0).  In version 1.3.0, it seems data.csv is loaded, but label.csv is skipped.

**### sessionInfo()**
R version 3.5.0 (2018-04-23)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United

[2018-09-01 01:49] pengzhao-intel commented on #12303
@safrooze we're starting the implementation of slide OP.
It will be more focus if you can provide the case for us.
But if it's also fine if it is not convenience from your side and we will make the OP as general as possible.

[2018-09-01 02:34] haojin2 commented on #12417
Seems like a tolerance level problem as the numbers are pretty close, will submit a PR to bump up the tolerance level a bit soon.

[2018-09-01 02:50] haojin2 commented on #12417
Fix in #12429

[2018-09-01 08:00] haojin2 commented on #12203
@mseth10 Happening again after increasing tolerance level: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-12429/1/pipeline

[2018-09-01 10:36] larroy commented on #12421
it builds but it fails at runtime.

[2018-09-01 14:39] CheungDuMing commented on #557
very complex! no function as the same as reuse_variable in tensorflow?

[2018-09-01 16:12] some-guy1 opened #12431 "[R] use of mx.io.arrayiter completely crashes R environment"
Running the code below causes the entire R environment to terminate.  This code used to work on older versions of mxnet (older than 1.2.0).  It seems to be related to mx.io.arrayiter

## Environment info (Required)
R version 3.5.0 (2018-04-23)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United Stat

[2018-09-01 20:12] srochel opened #12432 "Installation guide does not provide instructions how to build a specific release"
## Description
https://mxnet.incubator.apache.org/install/index.html?platform=Linux&language=Python&processor=CPU does not provide instructions how to build a specific release / git tag

Suggestion:
Add git checkout <tag> like below as comment.
git ls-remote --tags https://github.com/apache/incubator-mxnet can be used to get all release tags.

[code]

Then expand the test to use:
[code]

[2018-09-02 02:31] GeneZC opened #12433 "How to use multiple output nodes in cpp"
Using gluon, I've created a net similar to ResNet used in AlphaGo Zero (there are two output nodes processed by policy head and value head). And I just return two results in one line like below:
`return policy, value`
Then I exported the model and there are '.json' for the architecture and '.params' for parameters.
After that, I use API in CPP to do inference, however, I can't get two different re

[2018-09-02 07:07] DuCheng2018 opened #12434 "Problem in mx.sym.Deconvolution()"
This is the function in DOC:
mxnet.symbol.Deconvolution(data=None, weight=None, bias=None, kernel=_Null, stride=_Null, dilate=_Null, pad=_Null, adj=_Null, target_shape=_Null, num_filter=_Null, num_group=_Null, workspace=_Null, no_bias=_Null, cudnn_tune=_Null, cudnn_off=_Null, layout=_Null, name=None, attr=None, out=None, **kwargs)

This function has bias augment, but when I add bias in my code, I

[2018-09-02 11:08] lzh19961031 opened #12435 "AttributeError: 'NoneType' object has no attribute 'clone'"
Searching for graphviz
Reading http://pypi.python.org/simple/graphviz/
Couldn't find index page for 'graphviz' (maybe misspelled?)
Scanning index of all packages (this may take a while)
Reading http://pypi.python.org/simple/
No local packages or download links found for graphviz
Best match: None
Traceback (most recent call last):
  File "setup.py", line 83, in <module>
    **kwargs)
  File "/usr/l

[2018-09-02 12:45] hitdongfeng commented on #12041
I have had the same problem as you and tried many times without success. I think it might be a bug

[2018-09-02 12:46] hitdongfeng commented on #12228
I have had the same problem as you and tried many times without success. I think it might be a bug

[2018-09-02 14:05] kardoszc commented on #12255
@vdantu

[2018-09-02 18:56] smokytheangel0 opened #12437 "mxnet install page for linux mentions two different versions of Cuda"
this may very well not be the right place for this, but I didnt see a webpage specific repo for mxnet

https://mxnet.apache.org/install/index.html?platform=Linux&language=Python&processor=GPU

it says to get CUDA 9.0 at first, and then step 2 says install mxnet using CUDA 9.2.
it also says to be very sure which one it is, and I am about as far from sure as possible,
should I just gather all the la

[2018-09-02 19:57] lanking520 commented on #12425
@mdespriee firstly the problem mentioned in the log means the shape of the data changed and there maybe data missing. As explained in [here](http://mxnet.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.NDArray.reshape), users should not try to reshape the data with loss of data. However, I can use python to do the same thing without any issues:
[code]
Not sure what is the issue here, will

[2018-09-02 20:41] srochel commented on #12226
+1, memory optimization is important.

[2018-09-02 20:43] srochel commented on #12128
@piiswrong - do you have a simple reproducer?

[2018-09-02 20:46] srochel commented on #11901
@aaronmarkham - additional input to improve the C++ examples.

[2018-09-02 20:51] srochel commented on #12243
Validated links from doc, all issues are addressed.

[2018-09-02 20:51] #12243 closed

[2018-09-02 20:57] srochel commented on #12373
@mxnet-label-bot: ["Good First Issue"]

[2018-09-02 20:59] srochel commented on #12321
@mxnet-label-bot: ["Good First Issue"]

[2018-09-02 21:01] srochel commented on #12205
@mxnet-label-bot: ["Good First Issue"]

[2018-09-02 21:03] srochel commented on #12021
@mxnet-label-bot: ["Good First Issue"]

[2018-09-02 21:06] srochel commented on #11725
@mxnet-label-bot: ["Good First Issue"]

[2018-09-02 21:07] anirudhacharya commented on #12431
@mxnet-label-bot [R, Bug, Data-loading]

[2018-09-02 21:11] srochel commented on #10976
@mxnet-label-bot: ["Good First Issue"]

[2018-09-02 21:11] anirudhacharya commented on #12432
@mxnet-label-bot [Doc, Installation]

[2018-09-02 21:14] anirudhacharya commented on #12437
@smokytheangel0 thanks for bringing this to our notice.

@mxnet-label-bot [Doc, Installation]

[2018-09-02 21:15] anirudhacharya commented on #12433
@mxnet-label-bot [Question, C++]

[2018-09-02 21:17] anirudhacharya commented on #12434
@mxnet-label-bot [Symbol, Question]

[2018-09-02 21:52] anirudhacharya commented on #12435
@lzh19961031 can you please elaborate on the issue you are facing? What you are trying to do, errors you are facing, the environment in which you are running the program and a minimum reproducible example.

@mxnet-label-bot [Pending Requester Info]

[2018-09-02 23:47] hankcs commented on #2910
`CUDA_VISIBLE_DEVICES ` doesn't work on my laptop and server.

[2018-09-03 03:23] loadwiki opened #12438 "core dump in macosx using big model"
(Brief description of the problem in no more than 2 sentences.)
My cpp program sometimes core dump  in libmxnet.so when the model is as large as 200M bytes;
no core dump with small model.
## Environment info (Required)
imac osx 10.13.6
CPU
compliler:
clang -v
Apple LLVM version 9.1.0 (clang-902.0.39.2)
Target: x86_64-apple-darwin17.7.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Cont

[2018-09-03 03:33] loadwiki commented on #12438
Maybe the model size is not relevant. The model vision is more likely the trigger.
coredump model:
/Users/load/code/python/model/model-r100-gg/model-symbol.json ... 287521 bytes
/Users/load/code/python/model/model-r100-gg/model-0000.params ... 260958682 bytes
[11:34:04] src/nnvm/legacy_json_util.cc:209: Loading symbol saved by previous version v1.0.0. Attempting to upgrade...
[11:34:04] src/nnvm/l

[2018-09-03 04:15] jasonyu1996 commented on #10840
I am interested in implementing this. Has anyone already started working on this?

[2018-09-03 04:35] sandeep-krishnamurthy commented on #10840
@jasonyu1996 - Thanks for looking into this issue, as far as I know, nobody is working on this feature. Contributions are welcome. Let us know, if you need any help.

[2018-09-03 06:46] hitdongfeng commented on #12228
Uninstalling version 1.2.1 and installing version 1.2.0 will fix the problem.

[2018-09-03 07:44] lebeg commented on #11564
Zombie container issue has been resolved with https://github.com/apache/incubator-mxnet/pull/12381. Retries had been added with https://github.com/apache/incubator-mxnet/pull/11877. Issue should be resolved.

[2018-09-03 07:44] #11564 closed

[2018-09-03 07:45] smartinsightsfromdata opened #12439 "R MXNET install fails (`cannot open url`)"
Current instructions to install R MXNET gives error (`cannot open URL [...] HTTP status was '404 Not Found`).
Wrong website address?

#### Environment info (Required)
OSX; R@3.5.1

#### The problem
[code]

[2018-09-03 07:51] marcoabreu commented on #12439
@szha that's a quite old version that's published. Are we not publishing them anymore?

@aaronmarkham

[2018-09-03 09:36] #12219 closed

[2018-09-03 10:11] #12417 closed

[2018-09-03 10:17] lebeg opened #12442 "Master build fails due to Subgraph API commit"
## Description

Build failed: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1550/pipeline

Probably to: https://github.com/apache/incubator-mxnet/pull/12157 **Subgraph API for integrating accelerators with MXNet**

Revert PR: https://github.com/apache/incubator-mxnet/pull/12443

It is hard to say what test exactly failed the build, so I propose to r

[2018-09-03 12:02] githubfragments commented on #1082
That is inappropriate because it is hard to obtain the dims of the input array from the symbol API. That is so pity for mxnet!

[2018-09-03 12:04] githubfragments commented on #1082
Do you find a way? @yuzcccc

[2018-09-03 12:39] dzabraev commented on #12393
I found that I didn't have the deadlock. I don't have engine synchronization. When I did save_checkpoint operation, my program waited finish of all async operations.

But question about thread safety with `mx.nd.array()` still don't answered.

[2018-09-03 13:44] jasonyu1996 commented on #10840
@sandeep-krishnamurthy It seems that it is somewhat complicated to implement einsum in the backend. But I would like to have a try first. Thanks!

[2018-09-03 15:02] psn9 opened #12444 "Errr in IdentityAttachKLSparseReg"
I am getting the following error when using the IdentityAttachKLSparseReg Symbol. Here's my code :

import mxnet as mx
data = mx.symbol.Variable(“data”)
data_nd = mx.nd.array([1,1,1,1])
out = mx.symbol.IdentityAttachKLSparseReg(data)
exe = out.bind(mx.cpu(), {‘data’ : data_nd })

Traceback (most recent call last):
File “”, line 1, in
File “/usr/local/lib/python2.7/dist-packages/mxnet/symbol.py”, l

[2018-09-03 16:34] pavanteja295 commented on #6097
ROI Pooling may be one option ?

[2018-09-03 21:29] szha commented on #12439
@hetong007

[2018-09-04 02:33] hetong007 commented on #12439
It works on my OS X with R 3.5.1:

[code]

Can you try

[code]

Also, can you please paste the result from `sessionInfo()`?

[2018-09-04 02:34] GeneZC commented on #12433
The problem come out as I've used the parameters saved with `save_parameters()` instead of `export()` and I just used the model exported by `export()`

[2018-09-04 02:34] #12433 closed

[2018-09-04 03:38] jasonyu1996 opened #12449 "[Possibly A Feature Request] Better strides support?"
Hi!

I just took a cursory look at the code and it seems that strides as in https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.strides.html is not very well supported in MXNet, at least in the high level. mshadow seems to have used the idea of strides when transposing and slicing tensors, but still provides no more flexible way of accessing it. The higher level does not care about

[2018-09-04 04:17] jasonyu1996 commented on #10840
@sandeep-krishnamurthy I am not sure whether this should be implemented in the backend. It needs to be based on several other operators, as it would be complicated and inefficient to directly forward and backward as a whole (especially backward). Could you point to me where I should work if I need to use other operators? Or, alternatively, is there a way of storing temporary data in forward for us

[2018-09-04 05:00] threeleafzerg opened #12450 "Loss normalizer needs to be all-reduced for softmax layer in distributed training if normalization type is set to valid_cnt"
Description:
We are currently enabling the multi-node for mxnet sockeye and found that currently if the normalization type is valid the loss normalizer for softmax is not correct in distributed training. (softmax_output-inl.h)
The correct implementations should be:
If gradients are all-reduced in sum mode, valid_cnt should be allreduced .  grads = grads / valid_cnt.
If gradients are all-reduced in

[2018-09-04 05:35] vrakesh commented on #12449
Thank you for the feature request @jasonyu1996
@mxnet-label-bot [Feature request]

[2018-09-04 05:37] vrakesh commented on #12450
Thank you for the suggestion, @threeleafzerg
@mxnet-label-bot [Distributed]

[2018-09-04 06:10] lupesko commented on #12439
Adding @anirudhacharya and @ankkhedia who were doing a lot of work on R lately.

[2018-09-04 07:50] matanhs opened #12452 "Multibox detection negative anchor width"
Hi,
Please correct me if I am wrong, It seems the marked line has a small bug that makes the anchor height negative (as translated from the anchor corners before the exponent assuming the anchors are in order the of [xmax,ymin,xmin,ymax])
https://github.com/apache/incubator-mxnet/blob/d00cb42458802e4471c9517720924f2d595e02c0/src/operator/contrib/multibox_detection.cc#L56

Thanks!

[2018-09-04 08:35] lebeg opened #12453 "GPU tests are unstable"
## Description

Multiple CI jobs were failing with CUDA memory problems:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10921/23/pipeline/

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1550/pipeline/

**Message**
[code]

**Log with context**
[code]

[2018-09-04 08:38] lebeg commented on #12442
The root cause is different https://github.com/apache/incubator-mxnet/issues/12453

[2018-09-04 08:38] #12442 closed

[2018-09-04 08:48] lebeg commented on #12359
@reminisce This issue was tracked as https://github.com/apache/incubator-mxnet/issues/12417 as well and was fixed with https://github.com/apache/incubator-mxnet/pull/12429. If it's not an issue anymore it can be closed. Thanks!

[2018-09-04 08:59] puppet101 commented on #11061
In my experiment, the function nd.topk is much faster than nd.argmax, but I just want to know why the nd.argmax is so slow?

[2018-09-04 09:48] zhaoningning commented on #9156
@sandeep-krishnamurthy   sorry ,I have moved to other solutions for float64 training,  and also can not reproduce this issue because  the code is missing after such a long time....

[2018-09-04 12:17] abieler commented on #6097
Yes, ROI-Pooling was exactly what I was looking for back then. Thanks for posting it here, I did find it but forgot to actually mention it here!

[2018-09-04 13:32] gsunilkumar1 opened #12454 "how to print the input/output shape and data"
When I was working with a adversary_generation example ,sometimes i want to  see how the output of each layer and also the print the input_data and col_buffer and weight_3d(weight vector) data in convolution-inl.h   since i am running into nan loss for training accuracy, so I want to check by  printing the shape and data for convolution,activation and pooling
Is it possible to see each layer outpu

[2018-09-04 15:27] vrakesh commented on #12452
Thank you for the question @matanhs , we will get back to you on this.

@mxnet-label-bot [Question, Possible Bug]

[2018-09-04 15:29] vrakesh commented on #12453
@lebeg Thanks for reporting this
@mxnet-label-bot [Build, Breaking, Test]

[2018-09-04 15:30] vrakesh commented on #12454
Thank you for the question @gsunilkumar1 , We will get back to you on this

@mxnet-label-bot [Question]

[2018-09-04 15:42] sandeep-krishnamurthy commented on #9156
This PR - https://github.com/apache/incubator-mxnet/pull/12412 should fix using other than FP32 params in Gluon. Resolving. Please reopen if closed in error.

[2018-09-04 15:42] #9156 closed

[2018-09-04 16:58] aaronmarkham commented on #9948
Yes, that would work, but it might make for some weirdness on mobile. It's a workaround for sure.

[2018-09-04 18:01] lanking520 commented on #12425
In fact, the returned output from Python looks not right. From the examples, the output should be [1, 2, 2] instead of [1, 2]

[2018-09-04 18:04] nswamy commented on #12425
AFAIK this is wrong usage of reshape. `-2`  is specifying to copy the remainder dimensions(after first) to the reshaped NDArray. here you are asking to reshape from (2,2) to (1, 2), hence you see the error.

[2018-09-04 18:10] samskalicky commented on #12327
@jasonyu1996 I have been prototyping a general diagonal operator based on the numpy implementation. The issue I see is that numpy uses views, so the diagonal operator simply returns a 'diagonal view' to the original data layout in memory. Where as we want an actual copy of the data in the diagonal operator in mxnet. Seemingly we should be able to just traverse the view to copy the resulting diagon

[2018-09-04 18:11] nswamy commented on #12409
@mariussoutier we are working on a 1.3.0 pre-release, we should be able to have a RC maven package in staging soon.

[2018-09-04 18:18] zhenyu commented on #12228
Just another reminder, I have installed MKL previously, I believe it is related to the mlk instead of normal version of mxnet cu92

[2018-09-04 18:47] hetong007 commented on #12439
@szha and I have just updated the package info under `https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/src/contrib` to have the correct package information for mxnet 1.3.0.

@smartinsightsfromdata Can you please retry? It may have fixed your issue.

[2018-09-04 19:07] sandeep-krishnamurthy commented on #10840
Operators are stateless, but, I remember there is a optimization switch, that enables saving data from forward pass to be used in backward pass to make the computation faster.
@azai91 - Can you please help here?

[2018-09-04 19:10] aaronmarkham commented on #12373
If we go with https://github.com/apache/incubator-mxnet/pull/12388 then this issue will be moot. We wouldn't be using that script. However, if we get the script updated and working, it can be an alternative install option for users.

[2018-09-04 19:50] mdespriee commented on #12425
Ok, I get it, I misunderstood the -2 option.

[2018-09-04 20:20] vrakesh commented on #12435
@lzh19961031 Requesting , information regarding, your use-case, and what led to this particular error, and a reproducible example, This will help us get to the root of the issue. Thank you

[2018-09-04 21:09] nswamy commented on #12425
closing the issue as not a problem.

[2018-09-04 21:09] #12425 closed

[2018-09-04 22:04] safrooze commented on #12303
The use case is implementing effectively a circular buffer using `concat`+`slice`. Here is the code:

[code]

And here are the interesting profiling results.
1. Profile with mxnet package and `slice_axis` operator (in `hybrid_forward()`, uncomment `slice` and comment `slice_axis`) (**no MKL**)
[code]
2. Profile with mxnet package and `slice` operator (**no MKL**) (**Consistently performs ~2% bette

[2018-09-05 00:00] aaronmarkham commented on #12168
I think I found the culprit.
The md-->html build when you do `make html` or `make docs` gives you things like `&lt;gpu&gt;` which renders fine in the browser.

There's a post-process step for building the versioned website that uses beautiful soup to inject the modified nav bar. It also has a step that swaps out the html tags for < and > with actual < and >.
https://github.com/apache/incubator-mxn

[2018-09-05 00:18] haojin2 commented on #12454
Hi, if you would like any intermediate info within operators you can print them out using `LOG(INFO)` like what's being done here: https://github.com/apache/incubator-mxnet/blob/5a9c3af4b101b85047b306575575ea9022a8474e/src/common/exec_utils.h#L300.

[2018-09-05 01:44] jasonyu1996 commented on #12327
@samskalicky Yes. Actually I have already implemented one version in this way (https://github.com/apache/incubator-mxnet/pull/12430), simply traversing and copying the data. However, I actually think it more efficient to just generate a new view, as is the case in numpy. The problem here is that MXNet seems to lack a good support for this, as I have reported here
https://github.com/apache/incubato

[2018-09-05 02:49] jasonyu1996 commented on #12327
@samskalicky Thanks! I have just thought of two models (both for relation extraction/classification) that would be made more convenient to implement with the help of the diag/trace operator:

* Learning with Noise: Enhance Distantly Supervised Relation Extraction with Dynamic Transition Matrix (https://arxiv.org/abs/1705.03995). They use a matrix to model the transition from the true label to the

[2018-09-05 02:55] jasonyu1996 commented on #10840
Would it be good then to implement it as a `HybridBlock`?

[2018-09-05 02:57] euraka7 opened #12459 "Need weight norm"
Sometime the weight normalization is very useful.See the [detail](https://arxiv.org/abs/1602.07868).
But I don't know how to make an implementation of it.Maybe it should be written in c++.
Anyone can make an implementation?

[2018-09-05 03:51] TccccD opened #12460 "Dynamic size will appear out of memory"
I use dynamic size as

`[[(3, x ,x), 256*8] for x in range(160, 225, 8)]`

and I got "out of memory" when change the size every three epoch:

[code]
my dataiter is like:

[code]
Where get_data() is the list of multiple data_iter.

Is this a problem with mxnet, or mxnet has optimized this situation and provides some methods?
@piiswrong @mli @szha

[2018-09-05 04:46] pengzhao-intel commented on #12303
Thanks @safrooze :)
@fall4knight will follow up your test cases.

[2018-09-05 05:06] johnbroughton2017 opened #12461 "Does mxnet work with GTX 1050?"
Hi,

I am having problem with running mxnet on my GTX 1050 + Ubuntu 16.04. The following error showed up when running a prediction with a pre-trained model.

Have anyone used mxnet on GTX 1050? Any feedback is highly appreciated.

Thanks.
- J

[2018-09-05 07:16] gsunilkumar1 commented on #12454
Thanks for the inputs,
Can i also print the input_data and col_buffer of the following.
https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/convolution-inl.h#L223
Will the LOG(INFO) can be used to print it ? How can i print those information

[2018-09-05 10:08] mdespriee commented on #12140
@lanking520 So, I just discovered Symbol.sample_normal which is exactly what it is about !
http://mxnet.incubator.apache.org/versions/1.2.1/api/python/symbol/symbol.html#mxnet.symbol.sample_normal
So the Random module is useless, isn't it ?

[2018-09-05 12:15] fall4knight commented on #12303
@safrooze Thanks for your usecase. I have implemented the first edition of an MKL-DNN supported version for slice OP.
In cases on format nChw16c, which is the most widely used format, MKL-DNN is proved to have the capability to boost the slice OP by a lot.
Additionally, we found that the larger the input size is, the bigger the improvement is in the case of nChw16c.
Please check the profile log do

[2018-09-05 13:36] sbodenstein opened #12463 "cuDNN 7.2 Tensor Core support"
cuDNN 7.2 has simplified the usage of Tensor Cores for convolutions and RNNs, and explicit casts to `float16` can be avoided: https://devblogs.nvidia.com/tensor-ops-made-easier-in-cudnn/

Are there plans to expose this in MXNet already? If not, lets discuss a design in this issue.

@szha

[2018-09-05 14:31] lou-k opened #12464 "nnvm submodule broken in release 1.2.1"
## Description
It appears the nnvm (or it's tvm) submodule commit is no longer valid.

## Steps to reproduce
[code]

Results in:
[code]

## What have you tried to solve it?
I noticed that https://github.com/apache/incubator-mxnet/commit/8e4aeee6f0021d0c5a90fac0bda4631eac03e1cc looks related to this issue in `master`.

Can we get a similar fix in the 1.2.1 release? I'd like to build the stable vers

[2018-09-05 16:16] vrakesh commented on #12459
@euraka7 Thank you for the feature request. Tagging it under that
@mxnet-label-bot [Feature Request]

[2018-09-05 16:18] vrakesh commented on #12460
@TccccD Thank you for report
@mxnet-label-bot [Memory, Bug]

[2018-09-05 16:20] kmezhoud commented on #10791
HI,
In my case is not yet resolved

[code]
[code]

[code]

[2018-09-05 16:21] vrakesh commented on #12461
@johnbroughton2017 Surprised it is having an issue on ubuntu and a pascal card, I have tried on a 1060 and ubuntu, it works fine. Could you verify if CUDA is installed correctly, to verify further, could you try a nvidia docker based implementation?

Also requesting add more detailed reproducible example.

@mxnet-label-bot [CUDA, Question]

[2018-09-05 16:49] apeforest commented on #10995
@nswamy The bug in case 3 was fixed by PR https://github.com/apache/incubator-mxnet/pull/11834.

I am working on the integer type support via JIRA (https://issues.apache.org/jira/browse/MXNET-807). Please change the label from Bug to Feature

[2018-09-05 16:52] hetong007 commented on #10791
@kmezhoud This two lines are supposed to run in your command line console:

[code]