[2018-06-11 05:46] lanking520 commented on #8024
Hi @lixiangchun , are you still facing the same issue now? We have recent released our 1.2 version, please check with that one to see if you can reproduce the same issue. We apologies for our late reply and aims to respond to issues within 24 hours.

[2018-06-11 06:20] lanking520 commented on #7913
Hi @mxmxlwlw , we apologize for the late reply. As the issue is more related to a Question, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.

[2018-06-11 06:41] lanking520 commented on #6474
Hi @liumusicforever , are you still facing this issue?

[2018-06-11 06:42] lanking520 commented on #6312
Hi @EvanzzzZ and @formath , are you still facing the same issue?

[2018-06-11 08:32] larroy commented on #10973
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11220/1/pipeline/

Sign flip in this case

[2018-06-11 09:36] BenLag2906 commented on #10529
Hi,
For adding a precision, I use the same deploy script as SSD. Is there another way deploy it ?

regards.

[2018-06-11 10:33] xuchen-plus commented on #10835
Will there be any development plan on this issue? Lazy initialization for large row sparse ndarray is crucial for use cases like sparse embedding on billions of features (with a minibatch only seeing a few thousand). @eric-haibin-lin

[2018-06-11 14:03] glingyan commented on #11195
please use pytorch v0.4.0, latest pytorch have big change on onnx,  and shape is also a operator, the graph increase 100% node size,

[2018-06-11 15:15] liumusicforever commented on #6474
@lanking520 I solved it by checking dimension on pretrained model , symbol and datas.

[2018-06-11 15:23] cscheeder commented on #11098
@anirudhacharya ... following your instructions I get an opencv2 related error:
`im2rec.cc:20:10: fatal error: 'opencv2/opencv.hpp' file not found
#include <opencv2/opencv.hpp>
`
Thanks

[2018-06-11 15:24] TaoLv commented on #10809
@dwSun I tried mxnet-mkl 1.2.0 and seems it indeed has some issues there (but error msg on my side is not as same as yours). PR #11212 is trying to push some mkldnn related fixes into 1.2.0 branch and I find fashion.py works well with code of #11212. Hope it can be merged soon and you try it out then.

[2018-06-11 15:28] #8024 closed

[2018-06-11 16:10] marcoabreu commented on #11200
I don't think so. Have you verified the hash of the dataset? As you stated, there's probably a problem with your input files being corrupt.

[2018-06-11 17:22] lanking520 commented on #6474
Thank you @liumusicforever . Are we safe to close this issue?

[2018-06-11 17:35] ThomasDelteil commented on #11219
duplicate here of this one
https://github.com/apache/incubator-mxnet/issues/11202

[2018-06-11 17:36] ThomasDelteil commented on #11202
again http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10637/6/pipeline

[2018-06-11 17:37] ThomasDelteil commented on #11219
This one is happening way too often, had it 3 times in 6 builds

[2018-06-11 18:45] aaronmarkham opened #11228 "Flaky CI: apt-get update failure"
A simple apt-get update failed.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11157/6/pipeline/

[code]

[2018-06-11 18:56] marcoabreu commented on #11228
Not much we can do about that. We usually cache the Docker layers, but if people make modifications, there's no way around re-installing the packages

[2018-06-11 18:56] #11228 closed

[2018-06-11 19:07] rahul003 commented on #11165
Performance wise, using a rec file would be much more efficient. Are you trying to avoid using them?

[2018-06-11 20:28] swairshah opened #11230 "Random Rotation Image Augmentation"
Is there an image augmentation in mxnet which does random rotation (not 90 or 180 degrees, but random degrees or degree range given as a parameter)?

[2018-06-11 20:52] #11230 closed

[2018-06-11 21:23] lanking520 commented on #11149
Hi @HuichuanLiu thanks for your input and testing. I am not an expert working on these models, but I will definitely find one for you:
@szha can you take over from here as it lives in MXNet Model zoo?

[2018-06-11 22:50] larroy commented on #9844
duplicate of: https://github.com/apache/incubator-mxnet/issues/9853

[2018-06-11 22:52] #9844 closed

[2018-06-11 23:04] kalyc commented on #8434
Hello! Following up on this thread - @jinfagang has this issue been resolved?

[2018-06-11 23:07] kalyc commented on #8014
Hello @fye881, Thank You for submitting the issue. Were you able to resolve it? I am requesting the MXNet community to add label "Pending Requester Info"

[2018-06-11 23:17] zheng-da commented on #11028
@vrakesh could you check again if https://github.com/apache/incubator-mxnet/pull/11212 fixes the bug? I tried and it seems to work fine.

[2018-06-11 23:23] kalyc commented on #11222
@rocketbear Thanks for opening this issue. I'm labeling it so MXNet community members can help resolve it. @sandeep-krishnamurthy could you add label "bug" to this?

[2018-06-11 23:27] kalyc commented on #11221
Hi @liuzx32 there is an open discussion forum about mxnet on discuss.mxnet.io - you could post your query there to learn more.

[2018-06-11 23:39] lupesko commented on #8453
@sandeep-krishnamurthy can you also remove the "Need Triage" since this has been triaged?

[2018-06-11 23:41] lupesko commented on #8014
@sandeep-krishnamurthy can you please add "Android" and "Build" labels, and remove the "Need Triage" label?

[2018-06-12 00:02] sandeep-krishnamurthy commented on #11222
Just summarizing the issue for simplifying:
if name is not in params and ignore_extra=True

This line is executed, which it should not-> params[name]._load_init(loaded[name], ctx)

[2018-06-12 00:27] anirudhacharya opened #11238 "UX for ONNX Documentation is broken"
ONNX documentation for [mxnet v1.2](http://mxnet.incubator.apache.org/versions/1.2.0/api/python/contrib/onnx.html#api-reference) has API Reference section populated. But the [docs page from master](http://mxnet.incubator.apache.org/versions/master/api/python/contrib/onnx.html#api-reference) has empty API reference.

Creating this issue to track this.

@aaronmarkham @spidyDev @Roshrini

[2018-06-12 00:41] jeremiedb commented on #10928
As an additional pointer, the issue seems tied to R's NDArray being set to read only after an initial mutation. https://github.com/apache/incubator-mxnet/blob/master/R-package/src/ndarray.h#L86 @tqchen ?

Basic comparative example between R and Python:

R:
[code]

Python:

[code]

[2018-06-12 01:29] solin319 commented on #11165
Yes,  and I think some users may used to use raw jpeg data like me.
But I can't find a performance method to read.

[2018-06-12 01:40] liuzx32 commented on #11221
@kalyc Thank you very much

[2018-06-12 03:24] xioryu opened #11240 "rcnn example throws CUDNN_STATUS_BAD_PARAM when running under cudnn 6.0"
After I update the mxnet version from 1.1.0 to 1.2.0 and build the repository with CUDA 8.0.61 and cudnn 6.0, the rcnn training throws the following error when evaluating the rpn accuracy.

check failed: e == cuDNN: CUDNN_STATUS_SUCCESS(3 vs. 0) cuDNN: CUDNN_STATUS_BAD_PARAM

The error occurred when executing the following code in example/rcnn/rcnn/core/metric.py:
`pred_label = mx.ndarray.argmax_c

[2018-06-12 04:19] HuichuanLiu commented on #11149
Thanks @lanking520
And here're some updates:
1. My experiments shows resnet-152 restored from gluon model_zoo and from the module symbol files require different preprocess. I didn't find any clear description about this in mxnet docs and it will be nice if you can add it, it's quite confusing for the green hands like me.

2. I got a higher accuracy from gluon model, comparing to [these statistics]

[2018-06-12 04:32] idealboy commented on #8431
I met the same problem too, I use openblas 0.2.20, too

[2018-06-12 04:38] liumusicforever commented on #6474
yes !

[2018-06-12 05:49] #6474 closed

[2018-06-12 05:54] absalama commented on #11200
I did not verify the hash of the dataset. Before I created the rec files I deleted the data sets from the corrupted images. I used tools/im2rec to create the rec files

The question is, how to verify the datasets or the record files before start training?

**I would like to mention here that the training was working for almost 2 hours (with very low accuracy and speed)** Please have a look into th

[2018-06-12 06:22] ThomasDelteil commented on #11202
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11225/2/pipeline

[2018-06-12 06:32] eric-haibin-lin opened #11241 "Conv1D throws CUDNN_STATUS_EXECUTION_FAILED"
Setup:
[code]

Run the following script `debug.py`:
[code]
Gives the following error:
[code]
Note that there's no error if `W_REQ` is changed to 'write'.

Can also be reproduced if I build mxnet from source at commit 5b99b25e5f6ab3a20c7bcf4821a6af0a1a95f823 where Conv1D CUDNN was initially introduced.

[2018-06-12 06:36] ThomasDelteil commented on #11219
@lihaofd can you take a look please? thanks!

[2018-06-12 06:48] ThomasDelteil commented on #11219
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11236/1/pipeline

[2018-06-12 06:51] eric-haibin-lin commented on #11241
Can be also reproduced by the following code:
[code]

with `pip install mxnet-cu90 --pre`

[2018-06-12 07:38] yjcn opened #11242 "Same model with c_predict_api gets an incorrect result but it is right in python."
I use my own dataset( 3 classes) to train a vgg16_reduced model. And it works well in [mxnet-ssd python](https://github.com/apache/incubator-mxnet/tree/master/example/ssd). And I want to use the c++ interface. First, I use deploy.py to deploy the model.  I test the depolyed model, it works well too in python. Then I test it in[ mxnet-ssd.cpp](https://github.com/zhreshold/mxnet-ssd.cpp)
 and [singl

[2018-06-12 08:12] dwSun opened #11243 "weird gpu memory usage"
## Description
The script below will eat all gpu memory gradually in the first epoch. Sometimes it will cause OOM error and crash.
Sometimes it just keep running, but at the 2rd epoch, the gpu memory and cuda core usage will drop to a very low level suddenly.

## Environment info (Required)
ubuntu 18.04 cuda91
nvidia driver 390.48
nvidia 1080ti gpu card

mxnet-cu91 1.2.0 from pypi (with or without

[2018-06-12 08:59] pwn1 commented on #11098
I also followed your instructions @anirudhacharya and got the same opencv error.  I installed opencv using homebrew, then I get the following:

`im2rec.cc:21:10: fatal error: 'image_recordio.h' file not found
#include "image_recordio.h"`

[2018-06-12 12:05] I3orn2FLY commented on #10778
I have the same problem! How to solve it?

[2018-06-12 14:42] lebeg commented on #10778
In case you are using make based build you should try as suggested by @rahul003:
[code]
or
[code]

[2018-06-12 16:40] kalyc commented on #11221
@liuzx32 could you please close this GitHub issue?

[2018-06-12 17:07] kalyc commented on #11243
Hello @dwSun, thanks for submitting your issue. There is an open discussion forum about mxnet on discuss.mxnet.io - you could post your query there to learn more.

[2018-06-12 17:39] fye881 commented on #8014
Yes I think I get it compiled afterwards.

    On Monday, June 11, 2018, 4:08:19 PM PDT, Kalyanee Chendke <notifications@github.com> wrote:

Hello @fye881, Thank You for submitting the issue. Were you able to resolve it? I am requesting the MXNet community to add label "Pending Requester Info"

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or

[2018-06-12 17:41] kalyc commented on #8014
@fye881 could you please resolve this issue in that case?

[2018-06-12 17:52] onlyphantom commented on #11098
Thanks for the reply @anirudh2290 ; No luck as the two other users above stated; For now I switched back to R 3.4 (re-install MXNet under R3.4 doesn't seem to be a problem) to be able to continue using MXNet, but when a fix is submitted I'll be happy to try again!

[2018-06-12 17:58] #8014 closed

[2018-06-12 18:03] kalyc commented on #11242
Hello @yjcn - Thanks for submitting the issue. Could you paste a log of your results here?

[2018-06-12 18:06] kalyc commented on #11238
@sandeep-krishnamurthy Could you add label "Doc", "ONNX" to this issue?

[2018-06-12 18:14] kalyc commented on #11224
@TaoLv thanks for submitting this issue.
@sandeep-krishnamurthy could you add label "Bug" & "Python" to this issue?

[2018-06-12 18:17] kalyc commented on #11240
Thanks for submitting this issue @xioryu You could post this on discuss.mxnet.io for further details on usage of mxnet.

[2018-06-12 18:45] eric-haibin-lin commented on #11241
Tesla V100.

[code]

Run `python debug.py`

[2018-06-12 20:01] marcoabreu commented on #11200
Usually, if websites provide a download, they also add the hash to it to validate that no corruption happened during the download. It would be good if you could double check that the verified files are actually matching the expected hash.

The reason it took 2 hours is quite simple: We're choosing semi-random images from the dataset and it only hit a corrupt image after these 2 hours.

[2018-06-12 21:27] marcoabreu opened #11249 "Flaky Scala test: IllegalArgumentException: requirement failed: Failed to start ps scheduler"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11246/1/pipeline/
``Exception in thread "Thread-113" java.lang.IllegalArgumentException: requirement failed: Failed to start ps scheduler process with exit code 134``

[code]

[2018-06-12 21:53] sandeep-krishnamurthy commented on #7860
Resolving. Please reopen if issue still persists.

[2018-06-12 21:53] #7860 closed

[2018-06-12 21:55] sandeep-krishnamurthy commented on #7997
Please reopen if you cannot find the required answer.

[2018-06-12 21:55] #7997 closed

[2018-06-12 21:57] sandeep-krishnamurthy commented on #8060
Please reopen if you cannot find answer for your questions at https://discuss.mxnet.io/

[2018-06-12 21:57] #8060 closed

[2018-06-12 21:58] sandeep-krishnamurthy commented on #8143
@vikingMei - Please reopen if your issue is still not resolved.

[2018-06-12 21:58] #8143 closed

[2018-06-12 22:00] sandeep-krishnamurthy commented on #8387
Resolving. Please reopen if closed in error.

[2018-06-12 22:00] #8387 closed

[2018-06-12 22:08] dmidge8 commented on #4002
Yes, I concur. I got trapped in the same pitfall. I would have thought that the loss function would have been outside of network definition. And even knowing that it is in the network definition, I would have put it outside of a layer definition.

[2018-06-12 22:47] ThomasDelteil commented on #11219
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11225/4/pipeline

[2018-06-12 22:54] szha commented on #11202
duplicate #11219

[2018-06-12 22:54] #11202 closed

[2018-06-12 22:55] szha commented on #10406
This test has been stable since #11181 thanks to @ThomasDelteil

[2018-06-12 22:55] #10406 closed

[2018-06-12 22:57] szha commented on #10973
Got a couple of this too http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11041/82/pipeline/724

[2018-06-12 22:58] szha commented on #10974
This has been fixed by #11065 thanks to @haojin2

[2018-06-12 22:58] #10974 closed

[2018-06-12 23:38] #11221 closed

[2018-06-13 01:16] yunzhe-tao opened #11253 "CUDNN implementation of LSTMP layer"
Hi, I want to implement the LSTM projection layer on MXNet Gluon. I was trying to implement the LSTMP layer similar to gluon.rnn.lstm based on gluon.contrib.rnn.LSTMPCell but I found that the ndarray.rnn function in LSTM._forward_kernel is implemented based on C++ and the codes are not available. Moreover, the function only works for RNN, LSTM and GRU. Without that function, I found LSTMP layer ru

[2018-06-13 02:44] Erdos001 opened #11255 "P100 + MXNet is slow"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-06-13 02:57] uran209 commented on #5432
I have the same problem of "Predicting with mx.io.ImageRecordIter object returns different size vector".
Could you give me some helps if you had solved this? Thanks in advance.

[2018-06-13 05:36] adaaaaaa commented on #11131
@chinakook don't know how it compile...my operating system is Manjaro X64 is based on Arch...can i figure it out from command line?
and CUDA is download from software source...both cu91 an cu92

[2018-06-13 05:44] adaaaaaa commented on #11131
CUDA is too big to download and install... i'm not going to install and remove CUDA now...

@szha

[2018-06-13 05:47] jacob081 commented on #11100
I also cant not find setupenv.cmd.

[2018-06-13 05:58] liuzx32 commented on #11221
@marcoabreu Does mxnet support the training model distributed store in every worker or server？

[2018-06-13 06:15] liuzx32 commented on #11093
@yzhliu @lanking520 Mxnet on spark should be for yarn cluster mode not only yarn local mode. If every machine have the same configure of mxnet, why we need yarn or spark?

[2018-06-13 06:23] liuzx32 commented on #11093
@lanking520 Perhaps the problem is here:
`jars.map(jar => SparkFiles.get(new File(jar).getName)).mkString(":")`
With the sentence how to run on yarn?

[2018-06-13 06:34] lupesko commented on #11023
@sandeep-krishnamurthy can you please label Scala and Windows? Thanks!

[2018-06-13 06:35] lupesko commented on #10395
@nswamy @Roshrini why are we labeling Build as Installation? Doesn't seem like the same thing.

[2018-06-13 08:28] lebeg opened #11257 "Docker cache is not being used"
As can be seen for all [latest builds](http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11252/1/pipeline/70):  docker cache is not being reused and images are always getting rebuild. This is due to the ccache change https://github.com/apache/incubator-mxnet/pull/11151

The problem is that due to [multiheaded docker build](https://github.com/apache/incubato

[2018-06-13 08:29] lebeg commented on #11257
I don't have permissions to add labels, but I believe that this should be tagged with the `CI` label.

[2018-06-13 09:04] I3orn2FLY commented on #10778
Just to be clear, I use following configurations:
NDK version => 15.2.4
TARGET => arm64/ARMV8

[code]
Then I move to the incubator-mxnet/amalgamation and type:
`make ANDROID=1`

When I try commands suggested by @lebeg:
`USE_F16C=0 make -j$(nproc)`
I have the same error which is:

[code]

[2018-06-13 10:08] larroy commented on #9853
I have likely found the root cause of this problem, just so we don't duplicate resources on this one.

[2018-06-13 11:31] absalama commented on #11200
First, does im2rec tool delete corrupted images or mcyk format images when it transfers the raw images to record file?

Even if it does not, I checked the whole data directory against the JPEG format and I deleted the corrupted image from the raw dataset.

Second, If I repeat the test more than one time it crashes at the same point.

I have only one record file (100 GB) for training and another (5

[2018-06-13 12:05] yjcn commented on #11242
@kalyc   Thanks for your reply.
This is python ssd  's result.
![image](https://user-images.githubusercontent.com/8858803/41349684-37f27924-6f43-11e8-8a5b-ea7f1a0789eb.png)
This is cpp ssd 's result and log.
![image](https://user-images.githubusercontent.com/8858803/41349727-65f5af3a-6f43-11e8-92eb-cc1e25e3ba68.png)
![qq 20180613195716](https://user-images.githubusercontent.com/8858803/41349933-ff

[2018-06-13 14:49] BenLag2906 commented on #10529
To add more explanation, i try to translate kohillyang code in c++, but many difficulties persist.

[2018-06-13 14:53] marcoabreu commented on #11200
@szha @eric-haibin-lin could you help me out here please?

[2018-06-13 15:03] sriharikarnam commented on #6257
We are in-progress of disscusiion with sub module owners.
We will be ready with HIP port of MXNet, which supports both CUDA and HIP path
Need your inputs to upstream the HIP Port.
We are targeting run time API's, we have made changes accordingly, please review and propose changes if any or shall we goahead for the merge with same approach
please go throgh follwing link to understand design changes

[2018-06-13 16:58] larroy commented on #9853
1060292419

[2018-06-13 17:10] eric-haibin-lin commented on #11255
did you use multiple worker for data loader?

[2018-06-13 17:56] lanking520 commented on #11149
@HuichuanLiu Many thanks for your hard work. I have checked with MXNet Gluon team. Currently we do not maintain the model zoo you are using for a long time (more than 1 year). Please try to use [Gluon models](https://mxnet.incubator.apache.org/api/python/gluon/model_zoo.html) that are supported. Unfortunately, I didn't see ResNext there. Will keep track on this.

[2018-06-13 18:16] vrakesh commented on #11028
@zheng-da Hey, thanks, yes it does work. with the master,

[2018-06-13 18:20] ThomasDelteil commented on #11091
A more in-depth analysis written by @piiswrong about the cause of the issue and possible solutions:

*Background*
Gluon provides `save_params` API, which saves the model parameters (but not model definition) as a binary file ‘xxx.params’. It can be loaded back with API `load_params`. The saved file is intended to be opaque but you can load it with `mx.nd.load` and see the internal content (we don’

[2018-06-13 18:40] zhreshold commented on #11200
@absalama What's the arguments you used with im2rec.py? If you don't specify `--pass-through`, it will transcode all images, and thus all corrupted images should have been spotted.

[2018-06-13 18:51] ThomasDelteil commented on #11243
@dwSun MXNet is built using asynchronous operations. When you load data, run a forward pass or backward pass, the operations are enqueued on the MXNet backend and executed when the parent dependencies are available.

With your current script, there is no blocking operations, so the training runs through your epoch and keep adding "copy to GPU" operations. These operations don't have parent depende

[2018-06-13 18:51] kalyc commented on #5677
Hello @jmacglashan - Thanks for submitting this issue. Can this be closed?

[2018-06-13 18:52] kalyc commented on #4159
Hey @anjishnu thanks for submitting the issue. Were you able to resolve it?

[2018-06-13 18:56] marcoabreu commented on #5677
Why should it be closed @kalyc ?

[2018-06-13 19:18] anirudh2290 commented on #11249
Happens here too: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11127/11/pipeline . Please prioritize fixing this as it is a blocker for 1.2.1 release.

[2018-06-13 19:26] anirudh2290 opened #11263 "Memory corruption issue with Scala test"
[code]
Please see: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11210/5/pipeline

[2018-06-13 19:43] lanking520 commented on #11249
I broke my Mac's Test, currently working on this...

[2018-06-13 19:55] nswamy commented on #11249
I see this on the master branch, is it braking on the 1.2.0 branch as well?

[2018-06-13 19:57] anirudh2290 commented on #11249
@nswamy havent seen this yet on 1.2 but need to merge PRs on master before we cherry-pick for 1.2

[2018-06-13 19:59] nswamy commented on #11249
This is due to the Spark tests that were newly merged https://github.com/apache/incubator-mxnet/pull/10462. I would like to disable so that we don't block the pipeline, we will activate these tests later. @CodingCat hope its ok with you

[2018-06-13 20:04] CodingCat commented on #11249
please go ahead and merge

but according to "terminate called without an active exception", it looks like the docker instance is assigned with too little memory so it is killed in the middle (does anyone how much memory we allocate to docker)

[2018-06-13 20:08] CodingCat commented on #11249
@nswamy when you disable the test, would you please only disable https://github.com/apache/incubator-mxnet/pull/10462/files#diff-b9835287795c57e48fb9da87d39d06a8R64 (AlexNet) for now (I believe AlexNet is much more memory-intensive ) and leave MLP to guard the correctness in Spark side,

if MLP also behaves flaky, let's go ahead and kill it (I think it will not)

[2018-06-13 20:47] marcoabreu commented on #11249
I don't think we assign any limits to Docker. But why does a unittest require so many resources?

[2018-06-13 20:56] larroy commented on #11249
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11055/26/pipeline/751

[2018-06-13 20:57] larroy commented on #11249
@nswamy wouldn't these kind of heavy tests would be more suitable for nightly?

[2018-06-13 20:59] nswamy commented on #11249
may be i haven't looked how long it takes to run these tests. We need to have some tests for training as well in the regular pipeline, may be we can run it on GPUs and keep MNIST only on CPU tests.

[2018-06-13 21:01] aaronmarkham opened #11265 "Flaky test: Python 3: CPU Win"
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11261/3/pipeline/

[2018-06-13 21:14] lanking520 commented on #11249
Currently all test I can see from CI build failure comes from CPU test. There is no difference in configuration running on CPU and GPU for the test on Spark currently. I think it might come from the diff between CPU/GPU build. Please correct me if this assumption is wrong.

[2018-06-13 21:14] aaronmarkham commented on #11238
So this is happening elsewhere too. It seems like a lot of the docs moved one folder deeper, and how they are referenced changed as well. Certain things, like jquery, look for an index.html page in each subfolder. Rather than have a contrib/index.html, we seem to have contrib/contrib.html.

Also, all of the script references like the following that are used to generate the API Reference section ar

[2018-06-13 21:15] lanking520 commented on #11249
@yzhliu

[2018-06-13 21:20] aaronmarkham commented on #11238
Upon further investigation I think this commit triggered what we're seeing today.
https://github.com/apache/incubator-mxnet/pull/9534/files
@szha @astonzhang - Can you guy clarify what's going on with the name changes and what you think should be done to fix these errors? Why don't we use index.html anymore for each folder? Why no /api/index.html?

[2018-06-13 22:11] dyelax commented on #9635
@piiswrong Those parameters (`std_r`, `std_g`, `std_b`) don't seem to do anything for me on 0.11. is this a bug, or were they implemented in a later version?

[code]
This code outputs the following ndarray, which is correctly normalized by the mean, but not the std:
[code]

[2018-06-13 22:13] lanking520 commented on #11263
@yzhliu @nswamy @CodingCat

[2018-06-13 22:35] kalyc commented on #11265
@aaronmarkham thanks for submitting the issue. @sandeep-krishnamurthy could you please add label "CI" "Python" to this?

[2018-06-13 22:36] kalyc commented on #11265
This appears to be a permissions issue `remote file operation failed: C:/jenkins_slave/workspace/ut-python-cpu at hudson.remoting.Channel@232e68f3:JNLP4-connect connection from ip-172-31-2-173.us-west-2.compute.internal/172.31.2.173:49714: java.nio.file.AccessDeniedException: C:\jenkins_slave\workspace\ut-python-cpu`

[2018-06-13 23:59] lupesko commented on #10867
Hey @jessebrizzi - thanks for reporting the issue!
I noticed that your example code is using the old namespace... can you reproduce on MXNet latest (1.2.0) and with the new package that is available on Maven?

Adding @nswamy who contributes to the Scala package

[2018-06-14 01:08] #10453 closed

[2018-06-14 01:10] szha commented on #10973
Seems like this is the exact option that causes problems `nn.Conv2DTranspose(16, (3, 4), padding=4, in_channels=4)`

[2018-06-14 01:33] marcoabreu commented on #11265
Seems like our slave died..

[2018-06-14 02:12] dwSun commented on #11243
@ThomasDelteil, thanks for explain that.

[2018-06-14 02:12] #11243 closed

[2018-06-14 03:52] FzuLJ commented on #4764
Hi I met the same problem. Do you know how to solve this problem? @back2yes

[2018-06-14 04:19] aaronmarkham commented on #11219
Still a problem...
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11261/4/pipeline

[2018-06-14 04:35] aaronmarkham commented on #10838
Failed here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11157/8/pipeline

[2018-06-14 04:58] leezu opened #11271 "nd.topk regression with nan values"
mxnet master contains a regression in the nd.topk operator compared to mxnet v1.2. Likely https://github.com/apache/incubator-mxnet/pull/10997 is at fault (but I have not performed an bisection to proof that).

Consider the following:

Behavior in mxnet master:
[code]

Behavior in mxnet v1.2:
[code]

Notice how the result is correct with mxnet version 1.2 but wrong on the master version. As a side

[2018-06-14 05:18] ThomasDelteil commented on #11219
@lihaofd could you disable this test while you investigate why it is failing on windows?

[2018-06-14 06:52] ThomasDelteil opened #11275 "Crash when trying to add two ndarrays on different GPUs"
## Description

When adding NDArray on different contexts, I get either:
- silent copy to lhs context: GPU 0 -> GPU 1
- warning of different context: GPU 0 -> CPU
- error: GPU 0 -> GPU 2
- error + crash: GPU 0 -> GPU 3

## Environment info (Required)

[code]

## Build info (Required if built from source)

`pip install mxnet-cu91mkl --pre`

## Error Message:

[code]

## Steps to reproduce
(Paste th

[2018-06-14 07:22] ThomasDelteil commented on #11275
Shouldn't it return the same error than when trying to add from CPU ? Note that sometimes I get `Illegal Memory Access` error instead of invalid handle

[2018-06-14 08:03] absalama commented on #11200
@zhreshold

For listing files:
--list --recursive  --train-ratio 0.95

For resizing images:
--resize 480 --quality 100 --num-thread 16

I did not use --pass-through, I will use it and see then

[2018-06-14 08:04] anushthakalia commented on #9624
@solin319 how did you check the value of gamma? I suspect I am facing the same issue and hence, want to verify. But unfortunately, I couldn't find gamma in either arg_params or aux_params.

[2018-06-14 08:33] zjjott opened #11277 "No matching distribution found for mxnet when install mxnet everywhere"
## Description
(Brief description of the problem in no more than 2 sentences.)
I use `pip install mxnet -v` but everywhere it can't be install
every whl package have the same message: it is not compatible with this Python
## Environment info (Required)
My computer:
----------Python Info----------
Version      : 3.6.5
Compiler     : GCC 4.2.1 Compatible Apple LLVM 9.1.0 (clang-902.0.39.1)
Build

[2018-06-14 09:00] ipa-srd-rd commented on #1161
Any updates on this? Anyone got a solution? I got the very same error. I installed scikit-image, latest version, but I still get an ImportError. Help would be greatly appreciated!

[2018-06-14 09:03] wyz2016 commented on #2577
I re-git mxnet.git and used --recursive , but it doesn't works. Then, I find an answer:
link: https://stackoverflow.com/posts/48272520/edit, and it works for me.
[code]

[2018-06-14 09:07] lebeg commented on #11257
@ThomasDelteil it is indeed related to ccache, but is a different error

[2018-06-14 09:15] xmfbit opened #11278 "global name 'multiply' is not defined when using LBSGD"
When I use LBSGD, the error occurs that reminds me
[code]
I add this in the `optimizer.py` manually and have solved the problem. So is this a bug existing in MXNet?
[code]
And I want to know whether the LBSGD optimizer is done or not in MXNet. Because I see this in https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer.py#L734:
[code]

[2018-06-14 10:10] C2H5OHlife opened #11279 "2d fft operation with mxnet"
Hi, I'm using 2-d fft in my current work. Since mxnet only provides 1-d fft API now, I use numpy to define a operator according to this [https://mxnet.incubator.apache.org/tutorials/gluon/customop.html](url) . It works but the speed is too slow. Is mxnet planning to add 2-d fft API soon? Or is there a better way to implement 2-d fft with mxnet？

[2018-06-14 10:18] I3orn2FLY opened #11280 "Pre-built amalgamation for android 64bit"
Is there anyway to get already pre-build libmxnet_predict.so of mxnet v1.0.0 or higher of for Android armv8/aarch64? I had too much troubles building amalgamation by myself.

[2018-06-14 10:33] absalama commented on #11200
@zhreshold

It is a bit confusing :) How this parameter should be used In order to avoid these corrupted images? In other words, to get clean record files

[2018-06-14 10:58] zjjott commented on #11277
I got an error when build from source:
ERROR: macOS version 10.13 NOT supported.
why not support this version?

[2018-06-14 11:31] larroy commented on #10945
I couldn't reproduce these failures locally with ubuntu 16.04 and a Titan V. (I didn't use nvidia docker)

[2018-06-14 13:21] KellenSunderland commented on #10567
Just want to +1.  I've talked to quite a few MXNet users who could really use this functionality.

[2018-06-14 13:27] smorrel1 commented on #5663
Answered here: [Difference between CXX_PROPOSAL and custom proposal? #61](https://github.com/ijkguo/mx-rcnn/issues/61)
A: None except C++ or Python.

[2018-06-14 14:53] matteosal opened #11281 "LRN operator doesn't comply with ONNX specification"
ONNX accepts any channel window size for LRN and specifies that the window should extend more in the positive channel direction in case of even size: https://github.com/onnx/onnx/blob/master/docs/Operators.md#LRN

MXNet just throws an error when the size is even:
[code]
@sbodenstein

[2018-06-14 15:12] ZaidQureshi opened #11282 "Surprisngly low Traning performance on V100"
## Description
I am getting surprisingly low performance when running the examples/image-classification/train_imagenet.py example on my Tesla V100 gpu. I am getting roughly 540 img/sec with a batch size of 64 with synthetic data when training either Alexnet or Resnet50. I was expecting Alexnet training performance to be much more than this.

## Environment info (Required)

[code]

Package used (Py

[2018-06-14 15:21] smorrel1 opened #11283 "Group Norm"
Group norm is more accurate than Batch norm for small batches, useful for many vision tasks. See [Group Normalization](https://arxiv.org/abs/1803.08494)
[Pytorch](https://github.com/facebookresearch/Detectron/tree/master/projects/GN) and [Tensorflow](https://github.com/shaohua0116/Group-Normalization-Tensorflow) (code below) have implementations. Could anyone port this please? It would be really h

[2018-06-14 15:28] ZaidQureshi opened #11284 "Issues with Gluon example/gluon/image_classification.py example"
## Description
When trying to train a network (Alexnet and Resnet50) using --dtype float16 I get an error at some point in the training that data type of float32 was expected but got  float16. Also, there doesn't seem to be a way to train using synthetic data with this example, (ie. the script doesn't accept --benchmark 1) although the Read for the example/image_classification claims its possible.

[2018-06-14 16:02] msharmavikram opened #11285 "Crash while running gluon image-classification.py example with float16"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-06-14 16:19] msharmavikram opened #11286 "Similar performance between AlexNet and ResNet-50 for training during benchmarking with train_imagenet.py"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-06-14 16:21] msharmavikram commented on #11285
Same issue https://github.com/apache/incubator-mxnet/issues/11284

[2018-06-14 16:22] msharmavikram commented on #11286
https://github.com/apache/incubator-mxnet/issues/11282

[2018-06-14 17:40] ThomasDelteil commented on #11282
Please ask your question on https://discuss.mxnet.io , thanks!

[2018-06-14 17:47] zhreshold commented on #11200
@absalama No, my intent wasn't about using pass-through. I mean if you don't go with pass-through, every single image is decoded and re-encoded into the rec files, therefore the image codecs should be fine though.

[2018-06-14 17:51] ThomasDelteil commented on #11280
Please use the forum https://discuss.mxnet.io to ask question and limit github issues to bug report, thanks!

We test the builds in the CI, including amalgation, running in docker containers. One thing I can suggest is to simply run the amalgation build in the same docker image locally.

Have a look here: https://github.com/apache/incubator-mxnet/tree/master/ci

[code]

[2018-06-14 18:10] lanking520 commented on #11263
https://github.com/apache/incubator-mxnet/pull/11264, @nswamy please close this issue. Reopen if we still see the same one happen again on CI

[2018-06-14 18:11] lanking520 commented on #11249
As the PR merged yesterday, let's keep focus if there are more CI died because of Scala. Please close this issue after some days if there is no further crashes.

[2018-06-14 18:58] mbaijal opened #11288 "[Nightly Tests] Installation Guide: Enable docker install test"
All nightly tests now run in the official CI inside the docker containers. However, in order to run the docker install steps in CI we require running docker inside docker. This requires slight consideration and hence is currently disabled.
I am creating this github issue to track this task in the future.

Link to more information on docker within a docker: http://jpetazzo.github.io/2015/09/03/do-n

[2018-06-14 19:04] mbaijal opened #11289 "[Nightly Tests] Enable KVStore Single Node Test"
This test is currently disabled since the test requires an instance with 4 GPUs which is not available in the MXNet CI at the moment.
Adding a new instance type is on the roadmap.

[2018-06-14 19:28] marcoabreu opened #11290 "Flaky test test_operator_gpu.test_scatter_gather_nd"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11199/28/pipeline/712

[code]

[2018-06-14 19:44] eric-haibin-lin commented on #11281
@haojin2 @anirudhacharya

[2018-06-14 20:47] #4845 closed

[2018-06-14 20:48] #7823 closed

[2018-06-14 20:48] #7897 closed

[2018-06-14 20:48] #7913 closed

[2018-06-14 20:48] #7918 closed

[2018-06-14 20:48] #8282 closed

[2018-06-14 20:48] #8425 closed

[2018-06-14 20:51] nswamy commented on #11263
This was related to the Spark tests that were added, closing this now since the tests are disabled and we'll create a new issue if there is a different when the tests gets fixed

[2018-06-14 20:51] #11263 closed

[2018-06-14 21:03] kalyc commented on #11289
Thanks for submitting this issue @mbaijal
@sandeep-krishnamurthy could you add label "CI", "Feature" to this?

[2018-06-14 21:07] kalyc commented on #11284
Hi @ZaidQureshi thanks for submitting this issue.
@sandeep-krishnamurthy could you add label "Gluon", "Build" to this?

[2018-06-14 21:10] kalyc commented on #11206
Hi @leezu thanks for submitting this issue.
@sandeep-krishnamurthy could you add label "Sparse" & "Python" to this?

[2018-06-14 21:17] kalyc commented on #11193
@nswamy thanks for submitting the issue. The PR - https://github.com/apache/incubator-mxnet/pull/11147/files mentions that the OpenCV version will be updated in the next release

[2018-06-14 21:18] kalyc commented on #11192
Thanks for submitting this tracking issue @sandeep-krishnamurthy

[2018-06-14 21:20] nswamy commented on #11193
Yes that is because we have already published the package and cannot undo without bumping up the version which will happen only after the next release.

[2018-06-14 21:22] kalyc commented on #11283
Thanks for submitting this issue @smorrel1
@sandeep-krishnamurthy could you add label "Feature Request" to this issue?

[2018-06-14 21:28] kalyc commented on #11279
Hi @C2H5OHlife thanks for submitting this issue. There's an open forum to discuss about mxnet - you could use discuss.mxnet.io to learn more.
@sandeep-krishnamurthy could you add label "Question" to this?

[2018-06-14 21:30] apeforest commented on #11222
I am looking at this issue now. I will create a JIRA ticket for it.

[2018-06-14 21:35] kalyc commented on #11218
Thanks for submitting the issue @eric-haibin-lin

[2018-06-14 21:39] kalyc commented on #11173
Thanks for submitting this issue @ThomasDelteil
This is the related PR - https://github.com/apache/incubator-mxnet/commit/ce2bca6e6847f54fc37a9c295e96f14f681ae2b9

[2018-06-14 21:42] kalyc commented on #11172
Thanks for submitting this issue @ThomasDelteil

[2018-06-14 21:44] kalyc commented on #11171
Thanks for submitting this issue @ThomasDelteil

[2018-06-14 21:44] aaronmarkham commented on #11219
Doesn't seem disabled to me:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11287/1/pipeline

[2018-06-14 21:46] kalyc commented on #11278
Thanks for submitting this issue @xmfbit
@sandeep-krishnamurthy could you add label "Question" to this issue?

[2018-06-14 21:49] kalyc commented on #11271
@leezu thanks for submitting this issue.
@sandeep-krishnamurthy could you add label "Bug" to this?

[2018-06-14 21:50] kalyc commented on #11253
Thanks for submitting this issue @yunzhe-tao
The MXNet community will pick this up as per the current backlog. In the meanwhile you could use the open discussion forum discuss.mxnet.io to learn more

[2018-06-14 21:51] ThomasDelteil commented on #11219
might have been just merged and you got unlucky, got merged 1h ago as well

[2018-06-14 21:52] kalyc commented on #11290
Thanks for submitting this issue @marcoabreu

[2018-06-14 21:53] ThomasDelteil commented on #11172
I implemented the retry logic in `test_utils.download` and `gluon.utils.download`, hopefully this will not happen again 👍

[2018-06-14 21:53] #11172 closed

[2018-06-14 21:54] aaronmarkham commented on #11219
Ya, you're right. I saw the 16 hours ago and "merged" nearby so I thought that's when it happened. I definitely missed the window.

[2018-06-14 21:55] kalyc commented on #11172
Thanks for your contributions @ThomasDelteil - could you add a link to the PR here?

[2018-06-14 21:57] apeforest commented on #11222
It seems this issue has been fixed by PR: https://github.com/apache/incubator-mxnet/pull/11235

[2018-06-14 21:58] kalyc commented on #11222
@rocketbear could you verify the above and close this issue if it has been solved?

[2018-06-14 22:03] kalyc commented on #11257
@sandeep-krishnamurthy could you add label "CI", "Docker" to this?

[2018-06-14 22:31] ThomasDelteil commented on #11172
https://github.com/apache/incubator-mxnet/pull/11181

[2018-06-14 22:42] apeforest commented on #11016
Hi @slitsey I will start working on this Feature Request. There are multiple operators related to softmax. I will first implement the operators mx.sym.softmax and mx.sym.SoftmaxOutput as suggested in your example. Please advise otherwise. Thanks!

[2018-06-14 22:50] kalyc commented on #11060
@liuzx32 thanks for submitting this issue. It appears that you were able to obtain the training data. Could you please close the issue?

The S3 bucket you have mentioned does not exist. You can obtain MNIST training data here as well- http://yann.lecun.com/exdb/mnist/

[2018-06-14 22:58] kalyc commented on #11277
@zjjott thanks for reporting this issue. @sandeep-krishnamurthy could you add label "Feature Request" , "Installation" to this?
I found a similar issue on https://discuss.mxnet.io - https://discuss.mxnet.io/t/installing-on-os-x-high-sierra-10-13/223
Would recommend trying the work-around in the meanwhile.

[2018-06-14 23:03] apeforest commented on #11224
@TaoLv I am looking into this issue. Could you please update the "Steps to reproduce". The error I got when running "make lint" is below:

[code]
Sorry if my question sounds too silly, I am still new to this community. Thanks!

[2018-06-14 23:03] kalyc commented on #11029
@liuzx32 thanks for submitting this issue
It looks like @rahul003 opened a PR for this and it has been merged.
Is your issue resolved? If so, could you close this?

[2018-06-14 23:05] kalyc commented on #10553
@sbodenstein could you let us know if your issue has been fixed?

[2018-06-14 23:08] kalyc commented on #11255
Thanks for submitting this issue - @Erdos001
This community is mainly for reporting bugs/requesting new features. To further discuss about the performance - I would recommend taking a look at the open discussion forum - https://discuss.mxnet.io
@sandeep-krishnamurthy could you add label "Performance" to this?

[2018-06-15 00:03] TaoLv commented on #11224
@apeforest Thank you for asking that. That's the exact error I got. I have no idea why your traceback didn't give a full path of `scripts/lint.py` file.

[2018-06-15 00:07] anirudhacharya commented on #11281
@matteosal LRN indeed does accept only odd values for the window size, the LRN operator introduced in [this paper](https://papers.nips.cc/paper/4824-imagenet-classification-with-deep-convolutional-neural-networks.pdf) also prescribes the same. If the window size is even, then the local region over which normalization is performed will not be symmetric over the given element and will lead to errone

[2018-06-15 00:31] marcoabreu opened #11297 "Test top-k with big shape"
https://github.com/apache/incubator-mxnet/pull/11245/files#diff-69757562d07268150de8b369ff5b6b61L714

We had to remove a test because it was failing on arm. Re-enable it

[2018-06-15 02:46] coldsheephot opened #11299 "row_sparse_pull,push row_sparse gradient is too slow"
# result:
when I use row_sparse api to develop deep gradient_compression algorithm ,i find the api is too slowly than dense gradient, can you help me to save more time ?

<pre>
kv: local,ctx=mx.cpu()
row_sparse push and pull time: 12.5247938633
default push and pull time: 0.194673061371
</pre>
<pre>
kv: device,ctx=mx.gpu(0)
row_sparse push and pull time: 3.08180809021
default push and pull time: 0

[2018-06-15 02:52] szha commented on #11238
@aaronmarkham I took a brief look at the PR but I’m not sure how it’s related... which part are you referring to?

[2018-06-15 03:37] coldsheephot commented on #11299
and there has another problem:
when I `delete kv.push(i,a)` is test_row_sparse_pull() function,it needs more time than use push,it is very strange！！

row_sparse push and pull time: 8.14685201645
<pre>
def test_row_sparse_pull():
    out = a
    for i in range(100):
        # kv.push(i, a)
        kv.row_sparse_pull(i, out=out, priority=i, row_ids=all_row_ids)
        # out.wait_to_read()
        #

[2018-06-15 03:43] C2H5OHlife commented on #11279
The measure I take for now , as I mentioned below, includes converting mxnet NDArray to numpy array and its inverse. So I guess there're 2 factors that slow my codes down:
1. the converting process
2. fft operation with numpy on CPU
so is there any alternative way I can try?

[2018-06-15 05:03] chenbiaolong commented on #8474
@lanking520  the main  framework we use to train models is Tensorflow now.In last year we use tensorflow train invariable images and inference using MXNet. Thank you for your tutorial~ we'll learn from it when we need.

[2018-06-15 05:56] eric-haibin-lin commented on #11299
row_sparse_pull will be fast only when the number of row ids is very small

[2018-06-15 06:52] coldsheephot commented on #11299
@eric-haibin-lin
when I push the sparse gradient, after merge,update ,I can get the weight;but I can not get the which row has values and which row  doesn't has values. how can I know the row_ids

[2018-06-15 07:03] zjjott commented on #11277
@kalyc I try to modify install-mxnet-osx-python.sh script,but it install python2 package in system,I want to install mxnet in my virtualenv and with python3.6

I follow this discuss link ,and try `pip install mxnet-mkl -U --pre` but it also doesn't work,the same error.

[2018-06-15 07:15] HuichuanLiu commented on #11149
@lanking520 OK, I've turned to resnets and they work perfectly.
Thanks for your help. Feel free to close this issue or keep it if your team has further plans in future.

[2018-06-15 08:20] #11222 closed

[2018-06-15 09:48] asmushetzel commented on #11271
Do we have ever documented in MXNet how NAN is supposed to work in comparisons? I'm not feeling confident to make code work against an arbitrary chosen behavior of some implementation rather than a clearly defined and consistent behavior.

[2018-06-15 10:37] matteosal commented on #11281
Why do you say that an even-sized window would lead to erroneous results? There is no fundamental reason why the window should be odd-sized. Setting an even-sized windows just gives a different, perfectly well defined operation.

MXNet doesn't comply with ONNX because it exposes a subset of the ONNX specification here. But of course limiting the ONNX prescription as you mention would be an alterna

[2018-06-15 12:38] Aman1994 opened #11303 "MXNET Scala package build failed"
I tried these following steps while building:

sudo apt-get update
sudo apt-get install -y build-essential git
sudo apt-get install -y libopencv-dev
git clone --recursive https://github.com/dmlc/mxnet
cd mxnet
make -j 4 USE_OPENCV=1 USE_BLAS=openblas
make scalapkg

While doing the make scalapgk I was facing an error like -

[INFO] -------------------------------------------------------------------

[2018-06-15 12:56] tvandergeer commented on #9507
I'm running into the same issue using MXNet v1.2.0 on a Raspberry Pi 3+. I've made a core dump and did a backtrace:

[code]

See [this post](https://discuss.mxnet.io/t/segfault-when-attempting-to-upgrade-symbol-saved-by-previous-version-v0-8-0/1226) on the MXNet forum for more info. Let me know when you need more information.

[2018-06-15 15:16] larroy commented on #9507
Can you try with the naive engine? https://mxnet.incubator.apache.org/faq/env_var.html#engine-type @lebeg

[2018-06-15 16:32] jmacglashan commented on #5677
@kalyc The behavior I originally described remains the same at least as of version 1.1. So I don't think this issue as been resolved. It could be debated that the mxnet team wants the behavior to be this way and can overrule me, but I still find the behavior misleading and don't think it should be this way.

[2018-06-15 16:50] leezu commented on #11271
I am not aware of any documentation. Maybe @szha has more insights.

Already in v1.2 the behavior of `topk` vs `argmax` was inconsistent under the presence of `nan`. However, both returned meaningful results under the respective assumption to to treat `nan` as top value or to ignore `nan` values. Currently `topk` treats the whole order of the array as being undefined if it contains any `nan` value

[2018-06-15 17:11] apeforest commented on #11224
@TaoLv Thanks for your reply. I could reproduce the error you reported now. I will start working on the fix.

[2018-06-15 17:17] Roshrini opened #11305 "MXNet_ONNX export feature request"
## Description
Right now MXNet_ONNX export feature supports converting symbol and params file to ONNX protobuf.
Extend this functionality to export mxnet module directly into ONNX protobuf file.

MXNet_export is currently in PR
#11213

@sandeep-krishnamurthy @spidyDev @anirudhacharya

[2018-06-15 17:45] #10972 closed

[2018-06-15 18:30] ThomasDelteil commented on #11171
@piiswrong you introduced this test in this commit

[WIP] Do Not Merge. Static memory allocation for cached_op (#10817) https://github.com/apache/incubator-mxnet/commit/2dbd143e4892bb9ad4aa1835c79f0046603e3531

and it seems to be flaky. I have seen it failing a few times in recent builds. Can you take a look? e.g
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/deta

[2018-06-15 18:38] kalyc commented on #11242
Hey @yjcn,
Thanks for pasting the results from CPP API. Could you also predict those from Python API as well?
It appears that you are using CPP, while the issue name mentions C API. Could you edit the issue title accordingly.
@sandeep-krishnamurthy could you add label "Bug", "C++", "Python" to this issue?

[2018-06-15 18:46] kalyc commented on #11303
Thanks for opening this issue @Aman1994
@nswamy could you add label "Scala" "Build" "Bug" here?
@lanking520

[2018-06-15 18:49] kalyc commented on #11285
Thanks for submitting this issue @msharmavikram
@sandeep-krishnamurthy could you add label "Bug", "Gluon", "Example" here?

[2018-06-15 18:51] lanking520 commented on #11303
@Aman1994 Hi, can you tell me which System image you are running? You need to install opencv and openblas if you haven't got them install on your linux machine

[2018-06-15 18:52] kalyc commented on #11280
@I3orn2FLY thanks for submitting this issue
@sandeep-krishnamurthy could you add label "Question", "Android" to this?

[2018-06-15 18:54] eric-haibin-lin commented on #11206
The problem is that currently is output grad is not the immediate output of `_backward_CachedOp`, the storage types of `_backward_CachedOp` outputs are inferred as dense storage. This is because _backward_CachedOp didn't register `FInferStorage`, producing dense outputs by default.

In this example, the outputs of _backward_CachedOp are passed to `add_n` to produce row_sparse grad.

To solve this

[2018-06-15 18:55] kalyc commented on #10223
@dl002 thanks for submitting this issue. It appears to have been fixed with the above PR. Could you please close this issue if that is the case?

[2018-06-15 18:57] kalyc commented on #11240
@nswamy could you add label "Question", "CUDA" to this?

[2018-06-15 19:16] nswamy opened #11307 "Memory Management"
Current implementation requires explicit disposal of all MXNet objects and does not feel like JVM project and more like C/C++.

Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to pr

[2018-06-15 20:01] kalyc commented on #11281
@matteosal thanks for submitting this issue
@sandeep-krishnamurthy could you add label "Operator", "ONNX" to this?

[2018-06-15 20:32] kalyc commented on #11275
Thanks for submitting this issue @ThomasDelteil
Could you add labels "Memory", "Bug" to this?

[2018-06-15 20:34] ThomasDelteil commented on #11275
@kalyc I am not a committer and do not have labelling rights @nswamy could you add the labels please?

[2018-06-15 20:50] lanking520 commented on #8474
Thanks you for your feedback, we will keep the community a better place as best as we can do. Please let us you if you or your team would like to use MXNet anytime in the future. @nswamy can you add this with label `Question`, `Example` and possibly close this?

[2018-06-15 21:10] marcoabreu commented on #8474
This issue is not solved, so it won't be closed. We can take this as a feature request for a tutorial.

[2018-06-15 21:12] kalyc commented on #11265
@marcoabreu is there a way to get the slave back up? Or is this solved?

[2018-06-15 21:18] kalyc commented on #11100
@lebeg thanks for opening this issue. You could refer to discussions on https://discuss.mxnet.io to learn more about windows installation.

[2018-06-15 21:53] kalyc commented on #11297
Thanks for opening this issue @marcoabreu
@sandeep-krishnamurthy could you add labels "Build", "Test" to this?

[2018-06-15 21:54] kalyc commented on #11307
@lanking520

[2018-06-15 21:56] lanking520 commented on #11307
@andrewfayres

[2018-06-15 22:18] leezu opened #11314 "Embedding Backward (AddTakeGradLargeBatchCaller) non-deterministic nan values"
## Description

The `AddTakeGradLargeBatchCaller` operator called during backward of Embedding is broken and results in `nan` at random positions in the gradient array.

## Environment info (Required)
- Cuda 9.0 or Cuda 9.2 with respective mxnet-cu92, mxnet-cu90 prebuilt binaries (both v1.2 and nightly affected)
- EC2 p3.2xlarge or p2.xlarge instance

While it is occurs rarely with Cuda 9.0 or p2.

[2018-06-15 22:19] nswamy opened #11315 "Support Double precision type in Scala"
Currently MXNet-Scala APIs support only float32, this would cause accuracy issues when customers port models between developed on Python to Scala. This needs to be fixed

[2018-06-15 23:02] nswamy commented on #11249
This is resolved lets open new if there is an issue

[2018-06-15 23:03] asmushetzel commented on #11271
@piiswrong
I searched a bit through the documentation and the only place where I could find something about NaN handling was in the nansum/nanprod operators (which are specifically designed for handling NaN). All the rest is undefined. Which is kind of o.k. as having NaN in any array is likely a severe problem (see all the issues in MxNet where people got suddenly an NaN during training and see th

[2018-06-15 23:06] marcoabreu commented on #11265
I don't think there is much we can do - especially considering our Windows slaves are effectively a black box. Closing for now

[2018-06-15 23:06] #11265 closed

[2018-06-15 23:12] nswamy commented on #11249
I meant this is not blocking the pipeline, i'll keep it reopen and edit the Issue title/remove the Flaky label

[2018-06-15 23:55] safrooze commented on #9881
Also there is this paper that discusses how weight_decay must be applied independently from optimizer: https://arxiv.org/abs/1711.05101

This was recently implemented in TF: https://github.com/tensorflow/tensorflow/pull/17438

[2018-06-16 00:03] tqchen commented on #11307
The fact is you can't. Unfortunately, we have to blame JVM in this case, which does not have ARC(accurate ref counting). The gc works well for the memories you can manage, but do not work well for memories it cannot.

We won't be able to fix this unless the JVM get fixed, and this is true for all GPU applications

[2018-06-16 00:42] nswamy commented on #11307
We could explore using WeakReferences like how ND4J does or use ObjectPoo. Scala Implicits  helps to remove the ugliness of boiler plate code. I'll write some POC code and post here, we can discuss the pros and cons

[2018-06-16 00:50] tqchen commented on #11307
I think @yzhliu knows more details, the original design of scala was done in an implicit way by doing disposable at finalizer.

The problem is that the gc of JVM is not eager, and these weak references are treated as single memory cell(without knowing the resource themselves are huge). As a result, JVM never triggers the gc function.

This is essentially the same problem of using files in jvm lang

[2018-06-16 04:02] yjcn commented on #11242
@kalyc
this is python ssd 's log.
![default](https://user-images.githubusercontent.com/8858803/41495600-e01dbe0e-715c-11e8-88b7-197f5098757f.png)
Although the code is cpp, the api is c_predict_api.

[2018-06-16 04:48] tqchen commented on #11307
Just putting some comment about our existing effort here so that we don't waste effort one things already tried. If there is really a solution out of this, I would love to learn about it.

[2018-06-16 04:58] chenbiaolong commented on #8474
@lanking520  @marcoabreu We found MXNet is convenient in c++ deployment,especially when we want to improve our throughputs. The C++ API is much friendly than tensorflow(collect the tensorflow c++ header and build the libtensorflow_cc.so is not an easy job ...). So we are glad to see more best practices provided by the community.

[2018-06-16 08:06] BenBBear commented on #8392
[code]

hope it helps, inefficient but works.

[2018-06-16 15:57] aluo-x opened #11321 "Failure to build for Windows (CUDA or MKL-DNN)"
Currently attempting to build on Windows 1803 with visual studio 2017 (15.6.7).

Also present on the device is CUDA 9.2.88 and 9.2.88.1, along with cuDNN 7.1.4, OpenCV 3.4.1, MKL 2018.3.210.

Other variables:
[code]

Steps to reproduce:
[code]

Output:
[code]

Attempting to build with CUDA disabled:
[code]

Output:
[code]
Edit:

Calling `nvcc --version` returns:

[code]

[2018-06-16 19:38] absalama commented on #11200
@sandeep-krishnamurthy

I figured out where the problem comes from. Streaming huge record file (100 GB) can be problematic. I use --chunks with the conversion tool and now the training is working with appropriate speed (360 image/sec)

[2018-06-16 23:53] szha commented on #11307
weak ref doesn't really help pushing GC to work, unfortunately.

[2018-06-17 00:33] eric-haibin-lin commented on #11299
For minibatch training usually you derive rowids from the sparse data in the minibatch. For checkpointing, you need to pull all rowids. RowSparseNDArray doesn't have a prune method yet.. Maybe worth adding

[2018-06-17 00:42] eric-haibin-lin commented on #10835
I'm not aware if anyone has spare time to work on this. If you'd like to contribute, I'm happy to discuss design and implementation

[2018-06-17 03:16] pengzhao-intel commented on #10835
mark to come back soon

[2018-06-17 03:42] yajiedesign commented on #11321
do you install cuda visual studio integration?

[2018-06-17 03:48] yajiedesign commented on #11100
https://github.com/yajiedesign/mxnet/releases base package

[2018-06-17 04:47] ThomasDelteil commented on #9669
@KellenSunderland this should be solved with https://github.com/apache/incubator-mxnet/pull/11181 please consider closing

[2018-06-17 04:50] ThomasDelteil commented on #10947
@eric-haibin-lin this should be solved by https://github.com/apache/incubator-mxnet/pull/11181 please consider closing (tutorial tests are moving to nightly as well)

[2018-06-17 05:04] #10947 closed

[2018-06-17 12:54] aluo-x commented on #11321
I did not install CUDA visual studio integration, since I did not install the entire visual studio 2017 package but only the build tools. I recall trying a build with build tools and CUDA with the visual studio integration, and the build still failed.

[2018-06-17 22:31] zheng-da commented on #11171
I ran the test 1000 times. It doesn't appear frequently. Here is one trace I captured.
[code]

[2018-06-17 23:07] zheng-da commented on #11171
[code]

[2018-06-17 23:37] zheng-da commented on #11171
@TaoLv @pengzhao-intel @ashokei Could you help check why it always fails in the same place?

[2018-06-17 23:47] szha commented on #10945
Thanks.

[2018-06-18 01:48] yajiedesign commented on #11321
@aluo-x
1. install cuda visual studio integration.
2. install visual studio v14.11.
3.use `call "c:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Auxiliary\Build\vcvars64.bat" -vcvars_ver=14.11`  chose v14.11
4.add `-T cuda=9.2,host=x64` to cmake arg

[2018-06-18 01:49] ThomasDelteil commented on #11171
@zheng-da which `hybridize` kwargs trigger the failure?

[2018-06-18 04:38] I3orn2FLY opened #11323 "Build Amalgamation for Android arm64/v8"
I have problem building amalgamation for android Android arm64/v8.
What I did:
1. make standalone toolchain:
`./make-standalone-toolchain.sh --arch=arm64 --platform=android-24 --install-dir=my-toolchain --toolchain=aarch64-linux-android-4.9`

OUTPUT.
[code]

2. Build OpenBLAS:
'make TARGET=ARMV8 BINARY=64 HOSTCC=gcc CC=aarch64-linux-android-gcc NOFORTRAN=1'

OUTPUT.
[code]

3. Build Amalgamation.

[2018-06-18 05:17] Aman1994 commented on #11303
@lanking520 I am running on Ubuntu 18.04 and I have installed both the opencv and openblas. But still the problem persists.

[2018-06-18 10:39] aluo-x commented on #11321
@yajiedesign Thanks for the help. I managed to get build working with VS 2017 Update 6, CUDA 9.2 and cuDNN 7.1.4, OpenCV 3.4.1, and MKL 2018 Update 3.

I noticed a few mistakes in the build instructions [provided here](https://mxnet.incubator.apache.org/install/windows_setup.html).

Here are more detailed instructions provided here in case it might help others.

[code]

[2018-06-18 10:39] #11321 closed

[2018-06-18 11:30] nswamy commented on #11303
@Aman1994 for building from source, could you please edit the Makefile and change `mvn package`.. to `mvn -X package`.....
`make scalapkg >/tmp/x.txt 2>&1`. Upload the file here, we can take a look

[2018-06-18 11:32] nswamy commented on #11303
what is the issue you are facing when you use the pre-built jar from maven?, could you also please let us know by running with mvn -X

[2018-06-18 11:39] Aman1994 commented on #11303
@nswamy here is the file
[x.txt](https://github.com/apache/incubator-mxnet/files/2111076/x.txt)

[2018-06-18 12:02] vuvko opened #11324 "Cpp-package requires nnvm"
Seems after commit https://github.com/apache/incubator-mxnet/commit/2a63114983e947ce308b7bfa35da6e0b398b86d8 cpp-package was not updated to use tvm instead of nnvm.
File mxnet-cpp/base.h still [tries](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/include/mxnet-cpp/base.h#L32) to include nnvm/c_api.h

[2018-06-18 12:35] nswamy commented on #11303
@Aman1994 did you build the MXNet binaries before you attempted make scalpkg?
http://mxnet.incubator.apache.org/install/index.html?platform=Linux&language=Python&processor=CPU

[2018-06-18 12:42] Aman1994 commented on #11303
@nswamy As pointed earlier I followed these particular steps as pointed out in documentation
sudo apt-get update
sudo apt-get install -y build-essential git
sudo apt-get install -y libopencv-dev
git clone --recursive https://github.com/dmlc/mxnet
cd mxnet
make -j 4 USE_OPENCV=1 USE_BLAS=openblas
make scalapkg

[2018-06-18 15:41] lebeg commented on #11323
I don't think amalgamation is in general is very well supported. It is on the deprecation path and will be removed soon.

The current way to build for android arm64 is:
[code]

Which will produce a python wheel in the `build/` directory.

I you still want to use amalgamation and want to fix related problems then I see multiple problems in the messages you've provided:

1. It seems that some proble

[2018-06-18 16:01] kalyc commented on #11324
Thanks for opening this issue @vuvko
@sandeep-krishnamurthy could you add label "C++", "Bug" to this?

[2018-06-18 16:03] kalyc commented on #11323
Thanks for opening this issue @I3orn2FLY
@sandeep-krishnamurthy could you add label "Android", "build", "ARM" to this?

[2018-06-18 16:08] kalyc commented on #11314
Thanks for opening this issue @leezu
@sandeep-krishnamurthy could you add label "Operator", "bug", "cuda" to this?

[2018-06-18 17:08] gigasquid commented on #11303
From the file uploaded, looks like it's failing here:

[code]
@Aman1994 Maybe you can double check the openblas installation?
` sudo apt-get install -y libopenblas-dev liblapack-dev`

[2018-06-18 17:10] lanking520 commented on #11303
Hi @gigasquid I follow the same steps and also stuck in here. I think we need to configure ld path in here to make sure it loads openblas properly

[2018-06-18 17:33] lanking520 commented on #11303
In addition, I would like to request for update the installation guide:
[code]
We need to install maven and open-jdk to get scala package build. @aaronmarkham can you keep track on this thread and let's summarize the installation process once the problem solved

[2018-06-18 17:36] vuvko commented on #11324
There is cpp-package label, it seems appropriate to add it too.

[2018-06-18 18:13] larroy commented on #10945
@szha still we have seen it happening in CI, so I don't think we should close until we are sure it's not happening in CI anymore.

[2018-06-18 18:16] haojin2 commented on #10945
@larroy could you provide some links to the failed tests? I'll take a look.

[2018-06-18 18:32] szha commented on #10945
Hi @larroy, I wasn't aware of additional errors so please excuse me. Also, do share the links of additional failures so that @haojin2 can take a look.

[2018-06-18 18:49] eric-haibin-lin commented on #11241
Update: CUDNN team is notified for the issue that cudnnFind() is returning algos that will fail.

[2018-06-18 19:09] sandeep-krishnamurthy commented on #11200
Great. Closing the issue. Please reopen if issue still persists.

[2018-06-18 19:09] #11200 closed

[2018-06-18 19:23] sandeep-krishnamurthy commented on #11281
@spidyDev  @Roshrini - Any suggestions?

[2018-06-18 19:34] tvandergeer commented on #9507
I've tried on v1.3.0 (current HEAD)  and v1.2.0 branch (which is actually v1.2.1) and had the same results. It breaks in the same CreateVariableNode function.

[2018-06-18 19:59] aaronmarkham commented on #11238
Certain things, like jquery, look for an index.html page in each subfolder. Rather than have a contrib/index.html, we seem to have contrib/contrib.html. Same thing for ndarray, etc. We used to have an index page, and now we do not. It looks like Sphinx is expecting index pages in each folder too.
Any insight? This commit, deletes the index page: https://github.com/apache/incubator-mxnet/pull/9534/

[2018-06-18 20:18] szha commented on #11238
what are the unintended consequences? the move is to have text api in contrib package instead of having it as a top level package. the text API doc was never released in text/text.md location.

[2018-06-18 20:48] spidyDev commented on #11281
Couple of things to consider:
1. Does any of the other frameworks (TF, Pytorch, Caffe2, CNTK) supports even window size, if yes, then probably we should add  a "feature request" on MXNet
2. Are there multiple/enough use cases that uses  "even window size" to support this helps while training.

As for now, we should continue not supporting this if we do not have a valid use case for this operation.

[2018-06-18 21:40] lanking520 commented on #11303
@Aman1994 Please try with the follows:
[code]
To test if cblas is installed. It seemed openblas didn't bring cblas together even if it is a required dependency. atlas will install cblas for you.

[2018-06-18 21:42] aaronmarkham commented on #11238
404s, console errors, JavaScript errors.

I could list them out, but the 404s all follow the same pattern. Index was moved to be the name of the API.
Foldername/index.html --> Foldername/Foldername.html
It isn't just the text API.

Possibly related: what is page.js used for? This also seems to expect index.html files and it is broken because of the name changes. If it isn't noticed or used for any

[2018-06-18 22:30] szha commented on #11238
I have no idea about this. The convention you mentioned has been around for quite some time so this isn't really new...

[2018-06-18 22:57] vrakesh commented on #11282
@ZaidQureshi thank you for reporting the issue. We will look into this.

@sandeep-krishnamurthy Should we label the issue similar to #11286 ?

[2018-06-18 22:59] hetong007 commented on #10791
@jeremiedb I'd love to have your pre-built package to be on DMLC's CRAN image. Also, I have some questions regarding your compilation. Could you please ping me at my email (hetong007 [at] gmail)? Thanks!

[2018-06-18 23:08] anirudhacharya commented on #10791
@onlyphantom For R 3.50 on Mac, you can use [this tar](https://github.com/anirudhacharya/MLProjects/blob/master/mxnet_1.3.0.tar.gz)

[2018-06-18 23:12] hetong007 commented on #10791
@anirudhacharya A better way is to update maintain it at https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/

[2018-06-18 23:13] apeforest commented on #11224
@TaoLv The fix is actually in dmlc_core repo. I have opened a PR there: https://github.com/dmlc/dmlc-core/pull/411. Maybe we should link this issue with the PR?

[2018-06-18 23:16] vrakesh commented on #11240
@nswamy  requesting a label for "Question", or CUDA to this issue

[2018-06-18 23:37] eric-haibin-lin commented on #8671
@szha what version of opencv is used for pip?

[2018-06-19 00:05] szha commented on #8671
@eric-haibin-lin 3.3.0

[2018-06-19 00:22] eric-haibin-lin commented on #11253
@pengzhao-intel

[2018-06-19 00:32] jonomon opened #11329 "Cannot call data() on parameters initialized on multiple GPUs"
When attempting to access data (using the .data() function) in layers that were initialized on multiple GPUs, the following error message is shown:

[code]

## Minimum reproducible example

Example of code that has layers initialized on multiple GPUs. This code crashes.

[code]

Example of code that has layers initialized on a single GPU. This doesn't crash.
[code]

## Environment info

* mxnet ve

[2018-06-19 00:36] coldsheephot commented on #11299
In distributed training, may I get the real indices which have values? can you add the method @eric-haibin-lin @kalyc @sandeep-krishnamurthy

[2018-06-19 01:01] jeremiedb commented on #10791
@onlyphantom I don't have access to Mac, but for Linux, following the instruciton should work fine (at least on Ubuntu). If you have an issue on Linux, let me know, I might be able to hlep.

[2018-06-19 01:05] vrakesh commented on #11329
hi @jonomon , thank you for reporting the issue
could you try the following , in the multi-gpu environment
[code]
Requesting to check, if  this solves your problem for now.

@sandeep-krishnamurthy  Requesting to tag this under Gluon,Python

[2018-06-19 02:14] tqchen commented on #11324
it is not a bug, as the include path is still set to tvm/nnvm/include and the code is valid

[2018-06-19 02:50] feevos opened #11331 "gluon bug: AttributeError: '_thread._local' object has no attribute 'value'"
## Description
Dear all,

I am trying to run mxnet in a distributed HPC environment for embarrassingly parallel (distributed) runs.
The goal is to use this for bayesian hyperparameter optimization, therefore all communication between nodes is nothing mxnet/gpu specific (lists of hyperparams, like learning rate, batch size etc). For my distributed needs I chose [ray](http://ray.readthedocs.io/en/la

[2018-06-19 03:37] feevos commented on #11331
Dear all, @ThomasDelteil  solved the problem [here](https://discuss.mxnet.io/t/gluon-with-ray-and-dask-distributed-problem/1235/2)  I am closing this issue.

[2018-06-19 03:44] ThomasDelteil commented on #11329
you can also use `.data(gpu(0))` to get the data on gpu0 or `.list_data()`

[2018-06-19 04:04] feevos commented on #11331
The problem persists if I use a more complex layer. When I test with a trivial network:

[code]

I get a very similar error:

[code]

[2018-06-19 04:32] pengzhao-intel commented on #11253
Thanks, @eric-haibin-lin , we will provide the CPU implementation in C++ level :)

[2018-06-19 06:27] robertnishihara commented on #11331
@feevos it might be worth seeing if you can reproduce the issue without Ray. One thing to try would be pickling `f` (e.g., using **cloudpickle**), then unpickling it (in a different Python interpreter), and then executing the unpickled version.

[2018-06-19 06:40] marcoabreu commented on #11171
Does it only happen with MKLDNN or is it unrelated?

[2018-06-19 06:52] pengzhao-intel commented on #11171
If it's only related with MKLDNN, we will take over the issue. @marcoabreu @zheng-da

[2018-06-19 08:51] tvandergeer commented on #9507
It looks like a duplicate to #9094

[2018-06-19 09:14] kice opened #11334 "Cannot initializing parameters of SymbolBlock."
ref: https://discuss.mxnet.io/t/initializing-parameters-of-symbolblock/1213

It looks like SymbolBlock will initializing all the parameters using the initializer given in the block.initialize() function, including bias, which cannot be initialized by Xavier.

Alought that [post](https://discuss.mxnet.io/t/initializing-parameters-of-symbolblock/1213) suggests a solution, and in addition, I think we

[2018-06-19 09:31] TaoLv commented on #11224
@apeforest Thanks for your effort. Please feel free to do that.

[2018-06-19 11:20] Aman1994 commented on #11303
@lanking520 trying the above helped me resolve that particular issue. But now I am facing a different issue.
[INFO] --- exec-maven-plugin:1.6.0:java (apidoc-generation) @ mxnet-macros_2.11 ---
Java HotSpot(TM) Server VM warning: You have loaded library /home/aman/Documents/incubator-mxnet/scala-package/init-native/linux-x86_64/target/libmxnet-init-scala-linux-x86_64.so which might have disabled st

[2018-06-19 12:05] lebeg commented on #11257
The issue should have been fixed by https://github.com/apache/incubator-mxnet/pull/11302

[2018-06-19 12:05] #11257 closed

[2018-06-19 12:06] matteosal commented on #11281
Pytorch has it, although with the opposite behavior to what ONNX prescribes, i.e. the window extends in the negative channel direction:
[code]

[2018-06-19 12:57] m-ky commented on #11163
This should be the same as #8754. It's only win7. win10 works fine.
Could someone please take a look at this?

[2018-06-19 14:53] rf987 commented on #9271
+1 .  any updates on this?  This one bug is making our team consider migrating to TensorFlow

[2018-06-19 14:54] mariussoutier commented on #11193
Will this fix the `Library not loaded: /usr/local/opt/opencv@2/lib/libopencv_calib3d.2.4.dylib` error?

[2018-06-19 15:36] aluo-x commented on #11176
Also encountered this error on Windows, CUDA 9.2, cudnn 7.1.4.

Ran the following command `python train_imagenet.py --benchmark 1 --gpus 0 --network inception-v3 --batch-size 64 --image-shape 3,299,299 --num-epochs 1 --kv-store device`

Reducing the batch size to 16 resolved the issue.

[2018-06-19 15:47] lanking520 commented on #11303
Thanks for your reply, I am really grateful for your ongoing discovery. This issue might related to an Architecture problem, it seemed the package were built in the X86 environment however system try to find 64bit library. I will be keep on finding any possible solutions for your case.

However, I do encourage you to try to build on AWS Deep Learning AMI which is existed in EC2 preconfiguration. Y

[2018-06-19 17:16] Ishitori opened #11337 "Slow perfromance of argmax compared to max on GPU"
## Description
Slyforce@ [has reported](https://discuss.mxnet.io/t/mx-nd-argmax-slow-on-gpu-with-high-reduction-dimensions/1231) a slow performance of argmax compared to max. I've tried it on EC2 machine and confirm the finding - on high dimensions difference between max and argmax looks suspiciously high. Haibin suspects the code is not parallelized well.

## Environment info (Required)

[code]

[2018-06-19 17:41] lanking520 commented on #11303
@Aman1994 as far as I can tell, explained in this [thread](https://groups.google.com/forum/#!topic/comp.lang.java.programmer/s4sxjtM8um4). The problem should be the JVM you are using currently does not match the native library. Use this line of code to check the version:
[code]
And try to install 64-bit version of Java and build again.

[2018-06-19 18:10] aaronmarkham commented on #11303
You may want to try this pathway for your software installs:
https://github.com/apache/incubator-mxnet/blob/master/ci/docker/install/ubuntu_scala.sh
Then follow up with `make` then `make scalapkg` then `make scalainstall`.
I have some better instructions in a pending PR here: https://github.com/apache/incubator-mxnet/pull/11152

[2018-06-19 18:11] itsergiu commented on #621
Do you already provide an installation kit for AMD GPU RX550?
Does it work wih Windows 10?
Does it work with Jupyter, Anaconda and Keras on top of Tensorflow?

[2018-06-19 18:40] eric-haibin-lin commented on #11285
@rahul003

[2018-06-19 18:42] eric-haibin-lin commented on #11299
@coldsheephot are you working on multi-device or multi-machine case? I have plan to extend it for multi-device mode

[2018-06-19 20:56] jessebrizzi commented on #10867
@lupesko I updated the example code to use the mxnet 1.2.0 package released on Maven and reran the test and the memory leak is still present.

I have also put together a docker container that you can use with nvidia-docker to run my example code with sbt/scala/java/cudnn/cuda all installed here https://hub.docker.com/r/jessebrizzi/dl-dev/ to control for environment differences.

[2018-06-19 22:31] vrakesh commented on #11334
Thank you for reporting the issue , @kice , @sandeep-krishnamurthy , requesting to tag this under Gluon

[2018-06-19 23:32] wenboown commented on #3441
I figured out a way to install mxnet in conda. I recorded the steps here:

[2018-06-19 23:34] wenboown commented on #3441
I figured out how to build `mxnet` from source for `conda` for macOS 10.12 and 10.13. Here's the step-by-step guide:
[https://boknowsit.wordpress.com/2018/05/30/setting-up-mxnet-on-macos-with-conda/](url)

[2018-06-19 23:36] aaronmarkham commented on #10212
@ThomasDelteil I think you can close this now as the C++ install is added.

[2018-06-19 23:50] wenyangchu opened #11339 "compiling error when USE_CUDA=1 and USE_CUDNN=0 with make command"
## Description
compiling error when USE_CUDA=1  and USE_CUDNN=0 with make command

## Environment info (Required)
[code]
## Build info (Required if built from source)
Compiler g++/gcc (Ubuntu 5.4.0-6ubuntu1~16.04.5) 5.4.0 20160609

## Error Message:
src/operator/nn/convolution.cu(93): error: identifier "param_" is undefined
src/operator/nn/convolution.cu(171): error: identifier "param_" is undefin

[2018-06-20 00:04] wenyangchu opened #11341 "Deterministic cudnn algorithms"
Hi all,

I see other frameworks such as pytorch have some actions to have a flag to force cudnn to only use deterministic algorithm, specially for convolution and maxpooling:

like in pytorch:
[example](https://github.com/pytorch/pytorch/pull/2893/files)

Some references to cudnn:
[maxpooling](https://docs.nvidia.com/deeplearning/sdk/cudnn-archived/cudnn_713/cudnn-developer-guide/index.html#cudnnP

[2018-06-20 00:07] wenyangchu commented on #11339
By the way, I think jenkins does not test this configuration I suppose

[2018-06-20 00:14] wenyangchu opened #11342 "cudnn_tune and cudnnoff parameters are not passed via gluon"
Hi all,
In the symbol interface, at least cudnn_tune and cudnn_off parameters are included in gluon interface:

mxnet.symbol.Convolution(data=None, weight=None, bias=None, kernel=_Null, stride=_Null, dilate=_Null, pad=_Null, num_filter=_Null, num_group=_Null, workspace=_Null, no_bias=_Null, cudnn_tune=_Null, cudnn_off=_Null, layout=_Null, name=None, attr=None, out=None, **kwargs)¶

Can we have the

[2018-06-20 00:39] larroy commented on #10945
Hi @szha @haojin2 I think this is a misunderstanding. Apologies. I don't have any evidence that the failure is still ocurring. I was actually not aware a fix has been committed, this would explain why I was not able to reproduce. If you have not seen this happening again then we can close.

[2018-06-20 00:39] #10945 closed

[2018-06-20 00:59] coldsheephot commented on #11299
@eric-haibin-lin  yes. I want to use the feature for multi-device and multi-machine case. Thanks.

[2018-06-20 01:32] coldsheephot commented on #11299
How long does it take to solve those problems？？？I am very anxious

[2018-06-20 03:16] junrushao1994 opened #11343 "Minor typo in ./src/operator/nn/lrn.cc"
## Description

Line 188 in [lrn.cc](https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/lrn.cc#L188), should be

`.set_attr<nnvm::FListOutputNames>("FListOutputNames",`

## Build info

MXNet commit hash: ccee17672b23fa864f5c2e67d6bcea5ccff2979e (current master)

[2018-06-20 03:20] #11242 closed

[2018-06-20 04:49] Aman1994 commented on #11303
@lanking520 I tried java --version. I guess my java version is of 64 bit.
openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-0ubuntu0.18.04.1-b11)
OpenJDK 64-Bit Server VM (build 25.171-b11, mixed mode)

[2018-06-20 07:02] mirekphd commented on #10076
Nope, this did not help:
git submodule update --init --recursive
still getting this error:
include/mxnet/operator.h:33:23: fatal error: nnvm/node.h: No such file or directory

Can anyone produce a working Dockerfile?
@tqchen : "gits" certainly doesn't look OK;)

[2018-06-20 07:12] yajiedesign commented on #8671
@szha the windows mkl is compiled,is update?

[2018-06-20 12:01] vipandrew commented on #10745
Cuda.cmake is used to detect GPU compute capability by calling nvcc command like "**${CUDA_NVCC_EXECUTABLE} --run  ${__cufile}**" , then regular expression is caled in cmake to extract cuda compute capability string: string(REGEX MATCH "(**[1-9].[0-9]**)" __nvcc_out "${__nvcc_out}")

In my computer with cuda9.0, what the command output is：c:\program files\nvidia gpu computing toolkit\cuda\v**9.0**

[2018-06-20 12:36] Ram124 commented on #9823
I had the same problem. I have just installed mxnet gpu support version 1.1.0
Before i had mxnet-cu80 1.2.0.

and It worked.

[2018-06-20 12:43] chaoer commented on #10745
@vipandrew  Thanks for your kindly reply. This will help a lot.

[2018-06-20 13:05] wkcn commented on #9823
@Ram124 The latest MXNet has fixed the bug.
https://github.com/apache/incubator-mxnet/pull/10918

[2018-06-20 13:12] Ram124 commented on #9823
@wkcn . Oh cool. i will check that..

I have my custom dataset in pascal format.
what changes needs to be done to get started with training.
I have 2 classes( pedestrian + bicycle). i need to classify them on single image..
I have changed pascal.py by changing class names and numbers.

Is there anything else that i need to change?

Anybody done training on own dataset. Please help me out.

[2018-06-20 13:48] wkcn commented on #9823
@Ram124
You also need to change num_classes in [config.py](https://github.com/apache/incubator-mxnet/blob/master/example/rcnn/rcnn/config.py).

[2018-06-20 13:55] Ram124 commented on #9823
@wkcn
I should make it 3 right? with background.
config.NUM_CLASSES = 21

And where should i specify my datset??
i have my dataset in
./data/my_own_data/
Annotations
Imagesets
Images

In which files should i give this path??
so that it can read my custom data

[2018-06-20 14:21] wkcn commented on #9823
The num_classes includes background, so 3 is right.
For the dataset path, you could check config.py, pascal_voc.py and pascal_voc_eval.py

[2018-06-20 14:24] Ram124 commented on #9823
@wkcn
Thank you.
when i run demo.py. I am getting something like this.
What is this??

(mxnet_p27) ubuntu@ip-172-31-10-202:~/mx-rcnn-1$ python demo.py --prefix model/vgg16 --epoch 0 --image myimage.jpg --gpu 0 --vis
Traceback (most recent call last):
  File "demo.py", line 143, in <module>
    main()
  File "demo.py", line 138, in main
    predictor = get_net(symbol, args.prefix, args.epoch, ctx)

[2018-06-20 14:30] Ram124 commented on #6915
@muchuanyun  @maxrichter-scdm

when i run demo.py. I am getting something like this.
What is this??

(mxnet_p27) ubuntu@ip-172-31-10-202:~/mx-rcnn-1$ python demo.py --prefix model/vgg16 --epoch 0 --image myimage.jpg --gpu 0 --vis
Traceback (most recent call last):
File "demo.py", line 143, in
main()
File "demo.py", line 138, in main
predictor = get_net(symbol, args.prefix, args.epoch, ctx)
File "d

[2018-06-20 15:57] wkcn commented on #9823
It seems that you read a pretrained model rather than detection model.
There is no rpn_conv parameter.

[2018-06-20 16:32] apeforest commented on #11016
I have created a JIRA for this issue (https://issues.apache.org/jira/browse/MXNET-560) and I have started the implementation. Estimated development time: 3 days

[2018-06-20 17:14] tqchen commented on #10076
@mirekphd try to see if you have folder 3rdparty/tvm/nnvm. do a make clean(remove all cmake related caches) and redo the build

[2018-06-20 17:41] vrakesh commented on #11341
Thank you for suggesting this @wenyangchu , we will look into this, @sandeep-krishnamurthy , requesting to label this under CUDA.

[2018-06-20 17:43] vrakesh commented on #11342
Thank you for pointing this out, we will look into this, @sandeep-krishnamurthy , requesting to label this issue under Gluon, CUDA

[2018-06-20 17:44] vrakesh commented on #11343
Thank you for , pointing out the error, @sandeep-krishnamurthy  requesting to label this under Bug

[2018-06-20 23:28] junrushao1994 opened #11346 "Logic operator returns NDArrays of float, not int / boolean"
## Description
Logical operators for NDArrays returns a float NDArray, which is counterintuitive and inconsistent of the description of the documentation. For example, [doc here](https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.not_equal).

## Steps to reproduce
It can be produced by running the code in the doc. It seems that the dtype of result NDArray is the same

[2018-06-21 00:31] #11206 closed

[2018-06-21 03:29] #11343 closed

[2018-06-21 04:07] sandeep-krishnamurthy opened #11349 "Infer shape partial returns () after slice / slice_axis operations"
Code snippet

[code]
Same behavior for `slice_axis` and `slice` operators.
To summarize: Even if one dimension is 0 (i.e., unknown), infer shape partial returns empty tuple.

However, note that if you use other operators like broadcast_add() broadcast_sub() etc. will return expected output on infer_shape_partial().

Per @reminisce  - This is a buggy behavior in few operators. https://github.com/ap

[2018-06-21 04:17] reminisce commented on #11349
I wouldn't call it a bug as MXNet only supports computation with complete shape information. This is a special use case for MXNet Keras. I would label it as **Operator Enhancement**.

[2018-06-21 04:41] lanking520 commented on #11303
Hi @Aman1994 sorry for the late reply. I cannot reproduce the same issue you have, but let's add @yzhliu involved to see how we can solve this problem.

[2018-06-21 07:20] wanderingpj opened #11350 "Question about push and pull of each layer."
In the backward process, as long as layer n generates the gradient, it can be immediately pushed. Once the update of the layer n is complete, it can be pulled, regardless of whether the push and pull of layer n-1, n-2...have completed.
I wonder if the statement above is correct.

[2018-06-21 07:35] wkcn commented on #9823
It seems the dataset is wrong.
The boxes xmin, ymin, xmax, ymax should be started with 1.

[2018-06-21 08:02] chinakook commented on #9823
matlab is starting with 1

[2018-06-21 08:17] Ram124 commented on #9823
Yaa  I corrected it.

Now i m getting this error after 1 epoch. How to solve this? Is it related to mxnet version?

Traceback (most recent call last):
  File "train_end2end.py", line 178, in <module>
    main()
  File "train_end2end.py", line 175, in main
    lr=args.lr, lr_step=args.lr_step)
  File "train_end2end.py", line 137, in train_net
    arg_params=arg_params, aux_params=aux_params, begin_

[2018-06-21 08:41] CanoeFZH commented on #11011
get same errror here:
[code]

[2018-06-21 11:46] anbrjohn opened #11352 "CRF weights never updated in Bi-LSTM-CRF"
When using `incubator-mxnet/example/gluon/lstm_crf.py`, CRF transition matrix weights are never updated during training, defeating the purpose of the CRF layer. Printing `model.transitions.data()` each epoch confirmed this.

Compare these lines of MXNet [version](https://github.com/apache/incubator-mxnet/blob/master/example/gluon/lstm_crf.py) and the PyTorch [reference](https://pytorch.org/tutoria

[2018-06-21 12:53] WalterMa commented on #9974
The PR above is closed, but if we cannot use record file in dataloader with multiprocessing, it is confusing.
Is anyone still working on this issue?

[2018-06-21 15:46] reminisce opened #11353 "Flaky test test_gluon_trainer.test_trainer_reset_kv"
Have seen this in a few PRs before. Now it's always failing in my PR.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11251/9/pipeline/749
[code]

[2018-06-21 16:51] szha commented on #11352
@anbrjohn thanks for reporting. Would you send a patch to fix the example?

[2018-06-21 16:55] zheng-da commented on #11353
The same problem shows up in my very old branch (about one month old). So if there is a bug in the code, the bug exists a long time ago. If it's not a bug, it might be something in the Windows testing system (it only fails in Windows as far as I know).
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10893/5/pipeline

[2018-06-21 18:16] DickJC123 commented on #11341
I prototyped this functionality last summer but did not PR it.  I found at the time that the regression suite would not run if only deterministic algorithms were permitted.  I'm not sure if the situation has improved in terms of universal coverage.  Some questions to think about:

1. Assuming an environment variable, should it be MXNET_PREFER_DETERMINISM with a warning issued if no deterministic i

[2018-06-21 18:41] marcoabreu commented on #9000
New command: ```ci/build.py --into-container --nvidiadocker --platform ubuntu_gpu --shm-size 500m```

Retrieved from http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1037/pipeline/738

Please note that

[2018-06-21 18:47] anirudhacharya commented on #9415
@sergeykolychev can you elaborate more on this failure? can you share any error log you might have? Does this issue persist even after merging this PR - https://github.com/apache/incubator-mxnet/pull/9414

[2018-06-21 19:01] anirudh2290 commented on #10838
Can be reproduced with:
[code]

[2018-06-21 20:23] spidyDev commented on #9000
@eric-haibin-lin  Can you close this issue. I see you had removed the "skip test" in PR: https://github.com/apache/incubator-mxnet/pull/10664

[2018-06-21 21:12] #10801 closed

[2018-06-21 21:18] al-rigazzi commented on #11339
I get the same error when building with CMake and setting both USE_CUDA and USE_CUDNN to 1.

[2018-06-21 23:49] vrakesh commented on #8288
The random test is failing only when doing float16 tests,
Tried this on varying shapes and different batch runs, without float16 , the test consistently passes even after 25000 runs. Investigating more

[2018-06-22 00:39] vdantu commented on #8299
I couldn't reproduce this issue, any suggestions on what I should try? Also, how could I look for last time this test failed?

Tested it on CPU..

Python environment:
---------------------
**Python 2.7.12** (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Test runs:
----------
(env) :/incubator-mxnet# **MXNET_TE

[2018-06-22 01:09] sergeykolychev commented on #9415
@anirudhacharya thanks for the report, I'll check it out in next few days

[2018-06-22 01:12] szha commented on #8486
This list of mxnet resources is awesome. @aaronmarkham could you recommend a place on the website to highlight this community contribution?

[2018-06-22 02:07] marcoabreu opened #11359 "Flaky test test_io:test_ImageRecordIter_seed_augmentation"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11340/8/pipeline
[code]
Probably due to missing tolerances

[2018-06-22 02:34] chinakook commented on #8486
It's also added by @ThomasDelteil in https://github.com/apache/incubator-mxnet/blob/c54f9f7f74c70a9ae036e765b702a2de390d16c2/example/README.md

[2018-06-22 02:34] #8486 closed

[2018-06-22 04:40] marcoabreu commented on #11359
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1042/pipeline

[2018-06-22 04:45] marcoabreu commented on #11353
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1042/pipeline/752

[2018-06-22 05:04] marcoabreu commented on #11359
14 out of 225 runs failed -> 6% failure rate

[2018-06-22 05:08] haojin2 commented on #7826
@szha this is already fixed in #10533.

[2018-06-22 05:11] haojin2 commented on #7826
The fundamental cause was in dmlc-core, and fixed in https://github.com/dmlc/dmlc-core/pull/381

[2018-06-22 14:24] wenyangchu commented on #11359
Hi @marcoabreu, can it be that the multithreading of this iterator does not guarantee the order of the patches?

[2018-06-22 14:56] kgbook commented on #1161
@ipa-srd-rd

My situation:

OS: Mac OSX

Issue:
- OSX default python 2.7.10, /usr/bin/python.
- python 3.6.15.
- scikit-image installed in python 3.6.15 environment.

I manage the two version with pyenv and pyenv-virtualenv, but I did a mistake:
Suppose the program `test.py`,  I assign the interpreter with `!#/usr/bin/python`,  then  use `pyenv` switch to `py3` environment, execute the command `./

[2018-06-22 15:11] wenyangchu commented on #11341
Hi @DickJC123 ,
Thanks for your reply,
I did an implementation this week due to my urgent need. I just put it into a pullrequest meant for discussion for now:

@https://github.com/apache/incubator-mxnet/pull/11361
Please check the last 2 commits.

For your questions:
1. If MXNET_PREFER_DETERMINISM is set and it can not find a deterministic algorithm, I suppose it has to have a fatal error because

[2018-06-22 16:47] eric-haibin-lin opened #11363 "CI error: cannot stat 'nosetests_mkl.xml': No such file or directory"
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11360/1/pipeline/737

[2018-06-22 16:49] eric-haibin-lin commented on #11363
Also in http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11360/4/pipeline/729
PYTHON2 CPU

[2018-06-22 17:36] azai91 commented on #10599
Can we close this issue?

[2018-06-22 17:49] eric-haibin-lin commented on #11353
I'm able to reproduce it on windows. Still investigating

[2018-06-22 18:54] piiswrong commented on #11171
@pengzhao-intel  Looks like it only fails when using MKLDNN. Could you help take a look?

[2018-06-22 20:10] Roshrini commented on #8780
@marcoabreu @KellenSunderland I ran this test for 10000 times but couldn't reproduce the issue.
Did this test fail recently as well?

[2018-06-22 20:35] ankkhedia commented on #9116
Couldn't reproduce the issue for 10000 runs on the setup mentioned in the issue.

[2018-06-22 21:19] piyushghai commented on #9669
@marcoabreu Shall we consider this problem as solved with #1181 ?

[2018-06-22 21:57] eric-haibin-lin commented on #10920
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11360/8/pipeline/731

[2018-06-22 22:00] douglas125 commented on #7872
Hi

I find the same difficulty.

For the GRU cell, for example, the documentation says that:

data: input tensor with shape (sequence_length, batch_size, input_size)
out: output tensor with shape (sequence_length, batch_size, num_hidden)
out_states: output recurrent state tensor with shape (num_layers, batch_size, num_hidden)

Is there any way to get access to ALL (sequence_length) hidden states?

[2018-06-22 22:08] rahul003 commented on #11286
Hi @msharmavikram
Your log for Alexnet shows that you're still training `network='resnet'` . Please check your command, and ensure you pass `--network alexnet`

[2018-06-22 22:09] rahul003 commented on #11282
Hi @ZaidQureshi,
Your log for Alexnet shows that you're still training network='resnet' . Please check your command, and ensure you pass --network alexnet . I see that alexnet is about 8x faster on Volta with fp32

[2018-06-22 22:33] apeforest commented on #7826
I have run this test on Windows built from the latest MXNet source and could not reproduce the error.

[2018-06-22 22:33] haojin2 opened #11367 "Segfault when running test_operator_gpu.test_sparse_dot many times"
Environment: p2.8xlarge with DL AMI(Ubuntu)
Instruction to reproduce: Build and install MXNet from source with instructions in this link: https://mxnet.incubator.apache.org/install/index.html?platform=Linux&language=Python&processor=GPU, then do "MXNET_TEST_COUNT=10000 nosetests -s --verbose tests/python/gpu/test_operator_gpu.py" and wait.

[2018-06-22 22:45] apeforest commented on #9972
I tried running this on Windows instance built from the latest MXNet and I could not reproduce the error with the given seed.

[2018-06-22 22:50] szha commented on #7826
thanks @haojin2 for the fix, @apeforest for confirming the fix.

[2018-06-22 22:50] #7826 closed

[2018-06-22 22:59] mbaijal opened #11368 "Enable NCCL Flag in MXNet CI"
## Description
There are currently no tests running in CI with the NCCL flag enabled.
At a minimum we should, add a docker with NCCL libs, add a build with the NCCL flag and run this test `tests/python/gpu test_nccl.py`

[2018-06-22 23:03] haojin2 commented on #11346
MXNet does not have bool type support right now.

[2018-06-22 23:06] mbaijal opened #11369 "[Nightly Tests] Installation Guide Test needs to be fixed"
The script to test the installation guide `run_test_installation_docs.sh` has some issues that need to be fixed particularly the first one -
1. It is parsing the index.md incorrectly for the CPU test for build from source. It is running the GPU make steps with the CUDA flag on
2. the script expects a sudo in the `docs/install/index.md` pip install mxnet steps. The test script should be modified so

[2018-06-22 23:46] junrushao1994 commented on #11346
@haojin2 I mean it could be more reasonable if the returned type is `numpy.int`

[2018-06-23 00:34] lupesko commented on #9972
@apeforest how many times did you run it?

[2018-06-23 01:01] apeforest commented on #9972
I ran twice. Once with the default seed, once with the problematic seed as specified in the description.

[2018-06-23 01:20] pengzhao-intel commented on #10599
@al-rigazzi I used MKL2018 (USE_BLAS=mkl), you can download in https://software.intel.com/en-us/mkl

@azai91 I think we can close it now. @al-rigazzi feel free to re-open if you still encounter the issue.

[2018-06-23 01:33] anirudh2290 commented on #8288
Reproducible script :

[code]

You will find that the two grad_arrays are different.

[2018-06-23 01:35] pengzhao-intel commented on #11171
@piiswrong @zheng-da I can reproduce the issue. Will do further investigation.

[2018-06-23 01:36] zheng-da commented on #10724
[code]

[2018-06-23 02:20] zheng-da commented on #10724
another trace:
[code]

[2018-06-23 02:42] pengzhao-intel commented on #10724
@zheng-da, does @ashokei's approach resolve this issue?

[2018-06-23 02:51] zheng-da commented on #10724
@pengzhao-intel what approach?

[2018-06-23 02:57] pengzhao-intel commented on #10724
#10773 specify a lower architecture in the build cmd.
Or it's not the root cause?

[2018-06-23 03:10] zheng-da commented on #10724
i don't know if this is an mkldnn bug? every time it fails in memory allocation.

[2018-06-23 03:17] rahul003 commented on #11285
How are you passing data? Have you cast it to float16 if it is not already?

[2018-06-23 03:20] rahul003 commented on #11284
Please refer my comment here https://github.com/apache/incubator-mxnet/issues/11285

[2018-06-23 04:34] vdantu commented on #8299
@indhub @marcoabreu  : Do you have any further suggestions to reproduce this issue?

[2018-06-23 04:46] haojin2 commented on #11346
We may not want to make `numpy.int8` as the default here, if you really need the dtype to be `numpy.int8` you can add a `cast` in your model or script.

[2018-06-23 04:51] junrushao1994 commented on #11346
If it is by design, I guess it will be great to mention in the documentation. Closing this issue for now.

[2018-06-23 04:51] #11346 closed

[2018-06-23 04:59] haojin2 commented on #11346
@junrushao1994 I think that's a fair point, we can definitely add that soon.

[2018-06-23 13:34] sifengyang opened #11376 "Some problems encountered when using deconvolution"
the version of mxnet is 0.9, I use the Deconvolution operator base on resnet-50 for instance segmentation, but after dealing with several batch， the program breaks down, the error message is

[2018-06-23 15:16] anirudh2290 commented on #10973
all failures seem specific to windows. unable to reproduce this on a linux env.

[2018-06-23 22:14] szha commented on #10973
Tests that are already disabled should be re-enabled: https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_gluon.py#L428-L434
https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_gluon.py#L443
https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_gluon.py#L450-L465

[2018-06-23 22:40] jeremiedb commented on #10721
@thomasmooon maybe you can test whether #11374 effectively solves this RAM comsumtionissue?

[2018-06-23 23:07] szha opened #11378 "reshape special flag maybe confusing to users"
the semantics of special values in reshape operator are not obvious in the code. should we use string enum such as "combine", "split", "pop" or something similar instead?

[2018-06-23 23:07] szha commented on #11378
@hhexiy

[2018-06-23 23:13] szha commented on #11378
python tuple allows mixed types so we could probably switch the values in front-end

[2018-06-24 06:54] #11219 closed

[2018-06-24 18:20] vrakesh commented on #11376
Thank you for reporting the issue, have you tried newer versions of mxnet? Perhaps that could help. We will look into this, @sandeep-krishnamurthy ,requesting tag this under bug, Also request you to provide a reproducible example, with your system configuration.

[2018-06-24 18:22] vrakesh commented on #11350
@wanderingpj thank you for your question, @sandeep-krishnamurthy requesting this to labeled under questions.

[2018-06-24 18:28] vrakesh commented on #11339
@wenyangchu thank you for reporting the issue, @sandeep-krishnamurthy Requesting this to labeled under Installation

[2018-06-24 21:01] vdantu commented on #9864
@marcoabreu :

I wasn't able to reproduce this issue. Am I doing anything wrong? Is it possible to know when this test last failed?

# Environment
Tried running on: Python 3.6.4

Build command: cmake -DUSE_CUDA=OFF -DUSE_CUDNN=OFF -DUSE_MKLDNN=ON .. && make -j 4

EC2 instance: C5.4xlarge

# Test Output
## Single test run
/home/ubuntu/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: Futur

[2018-06-24 21:04] marcoabreu commented on #9864
I think it was related to some dependency version that had a bug which misinterpreted the underlying CPU name and then ran a kernel that didn't work.
@kellensunderland do you remember details?

[2018-06-25 02:59] apeforest commented on #9972
Confirmed the issue not reproducible even running over 10 times with the specified seed.

[2018-06-25 05:50] anirudhacharya commented on #6312
this issue is not reproducible. please close this issue.

@EvanzzzZ please reopen if the issue persists.

[2018-06-25 06:07] anirudhacharya commented on #8157
@chowkamlee81 can you please elaborate on what you want to accomplish. I doubt UpSampling is the operator you need.

@eric-haibin-lin please add the label - "Question", "Pending Requester Info".

[2018-06-25 06:16] anirudhacharya commented on #8203
please label this - "Question", "Memory" and close it for lack of activity.

[2018-06-25 06:18] lupesko commented on #11315
Thanks for reporting @nswamy - but is this a bug or a feature request?

[2018-06-25 06:20] anirudhacharya commented on #8221
@danache can you please provide a reproducible example.

@eric-haibin-lin please label this - "Question", "Pending Requester Info"

[2018-06-25 06:31] vrakesh commented on #11337
Thank you for reporting the issue, @Ishitori , this performance difference  will be investigated

[2018-06-25 06:36] vrakesh commented on #11305
@Roshrini thanks for raising the feature request, this should come in handy.

[2018-06-25 06:40] #8564 closed

[2018-06-25 06:47] samhodge commented on #9989
It seems that it is no longer a symbolic model, I was hoping that I would be able to apply a texture to an image of any size, is there no way to save a symbolic network?

[2018-06-25 07:06] fhieber opened #11384 "BucketingModule crash with parameters conditioned on bucket key"
I am running into an issue with the BucketingModule when using a `sym_gen` function that uses a parameter variable only for certain bucket keys. Consider the following example code:
[code]
The above code crashes with the following output:
[code]
The crash happens in the `mod.forward()` call when trying to allocate/switch to a new bucket (1).

If the above sym_gen code is changed to use the `weight

[2018-06-25 08:05] larroy commented on #9507
@tvandergeer how did you build? Our docker builds?

[2018-06-25 12:11] yyl199655 opened #11385 "About loss"
If I want to add other loss function or penalty term, how to implement it?,Do I need to writer the BackPropagation

[2018-06-25 13:08] nihilityworld opened #11386 "How to add out_grad in Regression_output-inl.h?"
I want to train a net using LinearRegressionOutput Layer and a SoftmaxLayer. And I want to ignore some labe in LinearRegressionOutput. So how to add out_grad in Regression_output-inl.h?

[2018-06-25 14:04] tvandergeer commented on #9507
@larroy I followed [this howto](http://mxnet.incubator.apache.org/install/index.html) (select "Devices" and "Raspberry Pi"). I tried with both export USE_OPENCV = 0 and export USE_OPENCV = 1

[2018-06-25 15:18] eric-haibin-lin opened #11388 "flaky test: test_operator_gpu.test_conv"
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1043/pipeline

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11360/17/pipeline

[2018-06-25 15:57] vrakesh commented on #11385
Hi @yyl199655 thanks for the question, @sandeep-krishnamurthy requesting this be labeled under Question

[2018-06-25 15:59] vrakesh commented on #11384
@fhieber Thank you for reporting the issue, will look into this, @sandeep-krishnamurthy requesting the issue be labeled under bugs

[2018-06-25 16:00] vrakesh commented on #11386
@nihilityworld thank you for your question, requesting this be labeled under questions @sandeep-krishnamurthy

[2018-06-25 16:06] sandeep-krishnamurthy commented on #11386
Hello @nihilityworld - For usage related question, please you https://discuss.mxnet.io/ forum for a response from wider mxnet community and also helps in the search for future similar questions.

Closing the issue here, please reopen if you face any issues.

[2018-06-25 16:06] #11386 closed

[2018-06-25 16:07] szha commented on #11385
@yyl199655 if you use gluon, you can just write whatever penalty term you want using ndarray interface inside training loop. Only forward computation is needed, as long as the function is differentiable

[2018-06-25 16:14] #8203 closed

[2018-06-25 16:15] #6312 closed

[2018-06-25 16:30] larroy commented on #9507
We also encountered this issue. Thanks for the backtrace!    If you use naive engine I think it won't crash: https://mxnet.incubator.apache.org/faq/env_var.html

Could you confirm?

[2018-06-25 17:37] zhanghang1989 commented on #9989
The gluon interface enables applying to image with any size. This model is not hybridizable due to lack of some operations.

[2018-06-25 17:59] marcoabreu commented on #11363
Hello,
this is caused by the tests failing. Sometimes, we run multiple test suits in sequence. if the first suite fails to run, the following suits are not generated and thus no report is being created. Everything is working as intended. But I agree that this is misleading - I will see whether I can make the message about storing the test result appear as "Skipped" instead of "error".

[2018-06-25 17:59] #11363 closed

[2018-06-25 18:28] haojin2 commented on #11367
I already submitted a fix @vrakesh

[2018-06-25 19:36] marcoabreu commented on #11359
I would have to check, but that could be a good start for further investigation.

[2018-06-25 19:39] absalama opened #11393 "Validation Accuracy is higher than training accuracy."
I am training Imagenet (1k) on alexnet. I used the im2rec tool to split 5% of the training data to be used by the validation phase. The results are two set of records files (I use chunks) one set for training and on set for validation.

The log shows the following:

[code]

The validation here is higher than training accuracy and this increases with further epochs (Until the time I write this issu

[2018-06-25 19:56] wenyangchu commented on #11341
Hi @DickJC123 , I have little knowledge on the regression test in mxnet. Could you please let me know how you ran the test?

[2018-06-25 20:07] lanking520 opened #11394 "Flaky test on Python2 Windows"
## Description
CI Flaky on Python and Windows
@haojin2 @marcoabreu

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11377/6/pipeline

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11377/5/pipeline

[2018-06-25 20:23] frankfliu commented on #11393
Hi @absalama thanks for the question, @sandeep-krishnamurthy requesting this be labeled under Question

[2018-06-25 20:28] frankfliu commented on #11394
Thanks for the question.
@sandeep-krishnamurthy requesting this be labeled under Flaky and Test.

[2018-06-25 20:48] marcoabreu commented on #11394
Duplicate of https://github.com/apache/incubator-mxnet/issues/11353

[2018-06-25 20:48] #11394 closed

[2018-06-25 20:49] nswamy commented on #11315
This is both a bug and feature request, since the accuracy will drop using Float32 on a model vs Float64

[2018-06-25 20:52] lanking520 commented on #11394
@marcoabreu this one is not dupes: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11377/5/pipeline

[2018-06-25 20:59] marcoabreu commented on #11394
Oh sorry, that run is a duplicate of https://github.com/apache/incubator-mxnet/issues/11064

I have reopened the issue for you. Please document your findings there.

P.S. In future, please paste the log into the ticket to prevent people from having to access our website.

[2018-06-25 21:02] marcoabreu opened #11395 "Check failed: e == cudaSuccess CUDA: unspecified launch failure"
Sometimes, our slaves get corrupted and suddenly all test start to fail. This is unrelated to the tests directly.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11377/5/pipeline/

[code]

[2018-06-25 21:02] marcoabreu commented on #11394
Ah, sorry. I have documented it at https://github.com/apache/incubator-mxnet/issues/11395.

I already engaged with Nvidia about that one but forgot to create GitHub issue.

[2018-06-25 21:02] marcoabreu commented on #11395
@DickJC123

[2018-06-25 21:16] DickJC123 commented on #11341
I often use tests/jenkins/run_test_ubuntu.sh to compile MXNet and run the regression tests.  You may need to set DEV=0 in that script to get past compile warnings treated as errors.

[2018-06-25 21:28] DickJC123 commented on #11395
In a private communication, you indicated this was seen on all platforms.  Here you tag it as 'Windows'.  Please clarify.

[2018-06-25 21:28] zhreshold commented on #9974
https://github.com/apache/incubator-mxnet/pull/11370

[2018-06-25 21:32] vrakesh commented on #11367
@haojin2 ah sounds good :)

[2018-06-25 22:16] ankkhedia commented on #10274
Tested on master for d6813efa2206afb5be98c2da16dd6e2efaf44cda using gcc-6 (Ubuntu 6.4.0-17ubuntu1~16.04) 6.4.0 20180424, could not reproduce

[2018-06-25 22:35] #11353 closed

[2018-06-25 23:35] #9853 closed

[2018-06-25 23:47] spidyDev commented on #9857
@marcoabreu  I ran this test ~1000 times, couldnt replicate the failure. Can we close this issue ?

[2018-06-26 00:26] toddsundsted opened #11398 "Floating Point Exception after Array Creation"
## Description
Expressions like `nd.random_uniform(shape=[5, 5, 0])` cause the runtime to crash (with `Floating point exception: 8`). The underlying problem seems to be a division by zero in [`LaunchRNG(...)` at line 50](https://github.com/apache/incubator-mxnet/blob/master/src/operator/random/sampler.h#L50). It's a problem in versions 1.1.0 to 1.1.3 (master).

## Environment info (Required)
[code

[2018-06-26 02:30] larroy commented on #11359
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11382/6/pipeline

[2018-06-26 03:07] samhodge commented on #9989
Thanks for the swift response @zhanghang1989

I was hoping to serialise the model and run in C++ as a hybrid model.

Do you have any suggestions as how to run the model in C++, besides pybind11?

[2018-06-26 03:51] nicklhy opened #11400 "how to train models with multiple gpus in C++"
The `mx.mod.Module` provides a convenient high level api for model training in python. But due to some reasons, I need to train my models in pure C++ environment. I am wondering if it is also possible to support multiple gpu device with the interfaces in `cpp-package/include/mxnet-cpp`. Currently, I can only find the `Executor` in `cpp-package/include/mxnet-cpp/executor.h` which can get a single c

[2018-06-26 04:35] zhanghang1989 commented on #9989
The main problem stops hybridizing is the Gram Matrix calculation, which reads the shape. https://github.com/zhanghang1989/MXNet-Gluon-Style-Transfer/blob/master/net.py#L159-L164

[2018-06-26 06:04] papercatnku commented on #10778
a solution is comment the line "#include <x86intrin.h>" after make for the first time,
then make ANDROID=1 would work.

[2018-06-26 06:21] LZP4GitHub commented on #6245
Just change the /Mxnet/3rdparty/mshadow/mshadow/base.h, I also can work it out.

[2018-06-26 08:58] Ram124 commented on #6396
Hi,
Anybody worked on faster rcnn in mxnet with batch size more than 1?
what is the performance ?? Is it possible to train the network with batch size more than 1 in mxnet-rcnn?

[2018-06-26 11:06] marcoabreu commented on #11395
Sorry Dick, I just double checked my database and it seems to only happen on Windows. It seems like I mixed something up, please excuse me for that.

Config: Windows Server 2016, G3.8xlarge, CUDA8, unknown driver version

[2018-06-26 11:13] Ram124 commented on #4831
@PCML-WangZhe assert (boxes[:, 2] >= boxes[:, 0]).all()
add these lines before the above line

for b in range(len(boxes)):
                if boxes[b][2] < boxes[b][0]:
                    boxes[b][0]=0

[2018-06-26 11:22] Ram124 commented on #9823
@wkcn @chinakook @ysfalo @ijkguo I have a question regarding batch size. Can we use batch size of more than 1 in mxnet-rcnn training??
Because i have a large dataset of 15000 images.
if i do training on them , the speed : 2.35 sample/sec.
it takes almost  4 hours per epoch.
is there anyother way i could increase the speed??

Any help is really appreciated.

[2018-06-26 12:53] marcoabreu commented on #9669
Oh yeah, thanks a lot!

[2018-06-26 12:53] #9669 closed

[2018-06-26 12:59] marcoabreu commented on #8299
I can't find a record of this test failing in the last weeks, sorry (the data is currently not publicly accessible). I think we can close this for now, considering we got no additional data, it's from the old CI system, from October 2017 and your run succeeded 30000 times.
@indhub wdyt?

[2018-06-26 13:48] tdomhan commented on #8532
any updates on this?

[2018-06-26 15:21] #11091 closed

[2018-06-26 15:45] indhub commented on #8299
Given it hasn't failed on the current CI in the last weeks, I agree we can close this.

[2018-06-26 15:45] #8299 closed

[2018-06-26 15:50] ArmageddonKnight opened #11402 "Understanding Memory Allocation in MXNet"
Hi there,

I have a question regarding the memory allocation in MXNet. I am trying to obtain the memory **breakdown** of the RNN language modeling example located in `example/rnn/word_lm`. However, after a naive implementation of putting a trace after the `cudaMalloc` call located in `src/storage/pooled_storage_manager.h` and `src/storage/gpu_device_storage.h`, like the following:

[code]

I notic

[2018-06-26 15:50] frankfliu commented on #11400
@nicklhy
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
Thanks!

[2018-06-26 17:11] ijkguo commented on #9823
So the original issue has been fixed in https://github.com/apache/incubator-mxnet/pull/10918.

As to unexpected kwarg 'allow_extra' and multi-batch size training, they are solved in https://github.com/apache/incubator-mxnet/pull/11373.

[2018-06-26 17:28] ijkguo commented on #8694
To prevent this type of issue from arising again, #11373 removed all cython modules in rcnn example completely.

[2018-06-26 17:51] #10872 closed

[2018-06-26 18:10] szha commented on #11359
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11338/4/pipeline

[2018-06-26 18:22] sandeep-krishnamurthy commented on #11329
I still think .data() should return the NDArray even with multi-gpu context. Because, how does user know which GPU to access the data from.
Marking it as a feature request to follow up on this.

[2018-06-26 18:23] rahul003 opened #11403 "L2 norm for fp16 goes to nan, needs to be fixed"
When .norm() method is called on a float16 array it tries to compute the norm in fp16, which causes the squared sum to go out of range and causes nan as output. Large normalizations should be kept in float32, similar to how it's done for softmax and batchnorm. Ideally this should be done by accumulating the squared sum into a float32 buffer.
This problem might affect the L2 norm operator as well.

[2018-06-26 18:33] adlong01 commented on #9368
Could you elaborate on how you solved this? I'm guessing this is so non-mined elements of the background can remain as -1 while other elements contribute to the loss.

[2018-06-26 18:34] imgemp commented on #7410
I strongly disagree. Fixing the random seed to zero is not the default behavior in any package I've come across. It also goes against the purpose of a "random" library. By default, any outputs that are expected to exhibit randomness, should not be deterministic. When debugging or ensuring reproducibility, it is useful to be able to set the random seed, but otherwise it should be set as you say: ba

[2018-06-26 18:40] zheng-da commented on #10141
I tried running the test for 10,000 times, and still can't reproduce the bug.

[2018-06-26 18:46] #11352 closed

[2018-06-26 18:59] anirudhacharya commented on #11279
@C2H5OHlife custom operator implementations in python will be slower. The alternative to better performance is to extend the current fft/ifft operator to 2-d arrays here - https://github.com/apache/incubator-mxnet/blob/master/src/operator/contrib/fft.cc

@sandeep-krishnamurthy please label this "Operator" and "Feature Request". and remove "Question"

[2018-06-26 19:00] spidyDev commented on #9649
@KellenSunderland  @cjolivier01

I am looking at this flaky test, had some queries and comments:
- The test compares  normal memcpy/memset against with using openmp, and expects normal memcpy to be always faster . Although its will be true for small data size ( coz of overhead of creating threads with Openmp), but Openmp can be faster for larger data size , as with multiple threads utilizes greate

[2018-06-26 19:07] rahul003 commented on #11402
Look at `src/storage/pooled_storage_manager.h`. That's where all the allocation happens. It uses a memory pool. It tries to reuse memory when possible and only requests from CUDA if not enough memory is available in the pool.

[2018-06-26 19:08] szha commented on #11402
It's likely that the memory used in previous iteration was released back into the gpu memory pool and was held there for next use. This is optimization to reduce number of real allocation.

[2018-06-26 19:13] anirudhacharya commented on #11403
Yes, I have encountered this bug. Currently ``norm`` operator does not have tests for gradient or symbolic_backward and for different precision formats like fp16 and fp32. There is just one check in ``test_ndarray.py``

[2018-06-26 19:17] ArmageddonKnight commented on #11402
@rahul003 @szha Thank you so much for your comments, but in my opinion this still does not explain the mismatch between the accumulated memory (shown above, reported as `200` MB) and the one given by `nvidia-smi` (`700` MB). Even if there are some optimizations such as memory reuse etc., should the total accumulated memory (i.e. `accumulated_alloc_mem` in the above code snippet) be at least the ac

[2018-06-26 19:18] anirudhacharya commented on #11395
Another Jenkins log for flaky failure of test_operator_gpu.test_op_roi_align - http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-10889/runs/17/nodes/751/log/?start=0

[2018-06-26 19:23] anirudhacharya commented on #11367
SegFault failure log - http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-10889/runs/16/nodes/738/log/?start=0

[code]

[2018-06-26 19:30] anirudhacharya commented on #9302
@sandeep-krishnamurthy please close this issue. it is resolved.

[2018-06-26 19:38] anirudhacharya commented on #10923
- [ ] check_numeric_gradient for FFT operator

[2018-06-26 19:48] #9302 closed

[2018-06-26 19:59] rahul003 commented on #11402
The 200M that you mention is from pooled_storage_manager?

[2018-06-26 19:59] rahul003 commented on #11402
The rest can be CUDNN overhead if you're using CUDNN. This overhead can even go as high as 1GB for large models, in my experience.

[2018-06-26 20:03] ArmageddonKnight commented on #11402
@rahul003 The `200` MB comes from `pooled_storage_manager` and the `700` MB comes from `nvidia-smi`. I inserted the code above to accumulate the memory in `pooled_storage_manager.h` and the final value for `accumulated_alloc_mem` is around `200` MB. That's why I ask.

Yes. You are right, I guess cuDNN overhead is a plausible explanation.

[2018-06-26 20:03] #11402 closed

[2018-06-26 20:15] haojin2 commented on #10988
Was able to reproduce the issue with a different seed, the problem is that the tolerance is very low (1e-12), I've bumped it up to 1e-5 to see if it could pass 1000 runs.

[2018-06-26 20:20] frankfliu commented on #11398
Thank you for submitting the issue! We are labeling it so MXNet community members can help resolve it.

[2018-06-26 20:38] anirudhacharya commented on #11171
Failure Logs - http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-10889/runs/18/nodes/735/log/?start=0

[code]

[2018-06-26 20:44] nswamy commented on #9845
Ran a few thousand times on Ubuntu-CPU, the test doesn't seem to fail. Also the attached PR seems to have fixed the issue, verified with @marcoabreu that he has not seen this failure recently. Closing this issue as fixed.

[2018-06-26 21:00] nswamy commented on #11193
@mariussoutier. Yes it should fix that issue, however you could also install opencv2 on OSX as `brew install opencv@2`
We are fixing this in 1.2.1, the package is currently in staging
https://repository.apache.org/#nexus-search;quick~org.apache.mxnet. Feel free to test and provide feedback. see the instructions to use packages in the Staging repo [here](https://cwiki.apache.org/confluence/display/

[2018-06-26 21:34] access2rohit commented on #11290
Hi Marco,
    I ran the test 70k times but its not giving me an error. Can you share the steps to reproduce it ?

[2018-06-26 21:59] srochel commented on #9271
@rf987  - we are investigating. We think we found the root cause and are discussing potential resolution.

[2018-06-26 23:49] access2rohit commented on #11120
HI Marco,
    For reproducing this issue I have to build docs within MXNet since it requires gan.ipynb file. Can you share the setup to reproduce it

[2018-06-26 23:54] marcoabreu opened #11407 "Corrupt image fails Caffe converter test"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11358/9/pipeline

[code]

[2018-06-27 00:36] anirudhacharya opened #11409 "Flaky test on Caffe GPU - caffe_converter/test_converter.py"
Failure logs - http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-10889/runs/19/nodes/1567/log/?start=0

[code]

[2018-06-27 00:56] C2H5OHlife commented on #11279
@anirudhacharya Thanks for your advise!! I'll give it a try. 😃(I've never done this kind of thing before though)

[2018-06-27 01:11] pengzhao-intel commented on #8532
@tdomhan after several investigations, I realized it's not easy to resolve this issue under the current setting. We have to change some building logic.
Do you still encounter this error? Does the workaround `KMP_DUPLICATE_LIB_OK=TRUE` make sense?
I will raise the internal discussion with MKL team and back soon.

[2018-06-27 01:14] larroy commented on #10745
@vipandrew @chaoer  good point, can we create a PR for that?

[2018-06-27 01:19] larroy opened #11410 "Flaky test: test_operator_gpu.test_rnnrelu_bidirectional"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11382/7/pipeline/

[code]

[2018-06-27 01:31] safrooze opened #11411 "nd.softmax() doesn't support grad_req='add'"
## Description
`nd.softmax()` does not support adding gradients specified by setting `grad_req` to `'add'`. This is obvious in [this line of code](https://github.com/apache/incubator-mxnet/blob/a0a52b38a9046a3ede20c900ff64154642e8e2da/src/operator/nn/softmax-inl.h#L267).
However, `nd.SoftmaxActivation` which is deprecated does support `grad_req` equal to `'add'`. This issue came up in [this discus

[2018-06-27 01:37] zchrissirhcz opened #11412 "cannot find documentation for some python api"
## Description
I read [MXNet's module API tutorial](https://mxnet.incubator.apache.org/tutorials/basic/module.html) and confused to some Python API's usage. On [the official python api url](https://mxnet.incubator.apache.org/api/python/) I can find many documentations but some are not find.

## Environment info (Required)

the environment is not required. I search the python API on your official w

[2018-06-27 02:29] nihilityworld opened #11413 "MXPredReshape"
I have used the MXPredCreate to create a hanlder out use input shape [1,3,12,12]. And I use the MXPredReshape to change the input shape  to [1,3,430,360] and it return 0. But the input shape of the new hander out2 did not changed. Is it a bug?

[2018-06-27 02:39] anxingle commented on #4659
SO ,  no solution to solve the problem？

[2018-06-27 02:51] anxingle commented on #4659
[code]
It is magical！
I found it is OK when I set worker_count less than 8,  while it doesn't work when worker_count more than 8!

[2018-06-27 07:05] tdomhan commented on #8532
"**may cause crashes or silently produce incorrect**" in the message stated by Felix above made me not so eager to try this out, rather than using the non-MKL version of MXNet.

[2018-06-27 07:21] pengzhao-intel commented on #8532
Understand, even we don't encounter the crashes and incorrect results by the workaround.
I am working on this item now and hope we can resolve this issue clearly :)

[2018-06-27 08:39] tdomhan commented on #8532
thanks a lot for looking into this! :)

[2018-06-27 08:43] eLvErDe commented on #10230
@lebeg

Hello,

Changes nothing for me here (how is that related to this issue anyway?)

Adam

[2018-06-27 08:49] eLvErDe opened #11417 "libomp.so dependency (need REAL fix)"
Hello,

I've read nearly most related ticket which usually ends up disabling openmp. Sounds like the worst idea ever.

Is it possible to have an official statement regarding this ? mxnet 1.0.0 was building just fine with -DUSE_OPENMP=1 without adding this unresolved library dependency.

Do you know what has been changed ? Is that really solved ? By which commit, which release ?

Thanks in advance,

[2018-06-27 08:54] eLvErDe commented on #11417
Here's a list of related tickets/commits ending with "disabling openmp":

https://github.com/apache/incubator-mxnet/commit/85215b6176ef3612d198f590268a6595b86565fb
https://github.com/apache/incubator-mxnet/issues/10011
https://github.com/apache/incubator-mxnet/issues/10230

[2018-06-27 09:20] KellenSunderland commented on #9649
@spidyDev I found this test to vary a lot depending on machine type as well.  On my AMD machine it was consistently failing (openmp was always faster) and my intel machine it was consistently passing.  I think this would be confusing for users so my recommendation would actually be that we remove this test.

[2018-06-27 09:37] KellenSunderland commented on #9857
@spidyDev @marcoabreu I think there were some crossed wires on this one.  This test is actually enabled.  Was it at one time disabled?

[2018-06-27 10:54] glingyan opened #11418 "recovery from mxent checkpoint for wide & deep , accuracy decrease"
use example/sparse/wide_deep/train.py to train
e.g. in first epoch the accuracy in 0.83 like below

2018-06-27 18:48:53,896 epoch 0, accuracy = 0.8382098765432099
2018-06-27 18:48:53,900 Saved checkpoint to "./checkpoint/checkpoint-0000.params"
2018-06-27 18:48:53,902 Saved optimizer state to "./checkpoint/checkpoint-0000.states"
2018-06-27 18:48:53,902 Training completed.

load the sample and use

[2018-06-27 10:57] glingyan commented on #11418
this is the code to do inference, by default the params name is checkpoint_wd.params
[inference.py.txt](https://github.com/apache/incubator-mxnet/files/2140877/inference.py.txt)

[2018-06-27 10:58] glingyan commented on #11195
actually for wavenet it is not a good reason to use onnx

[2018-06-27 10:58] #11195 closed

[2018-06-27 11:47] marcoabreu commented on #11417
Hello Adam,
just to clarify: Are you talking about ARM? If yes, please specify which version exactly and how you are trying to compile. There have been some changes recently and we'd like to make sure we are on the same page.
Best regards,
Marco

[2018-06-27 11:50] marcoabreu commented on #11407
It seems like http://writm.com/wp-content/uploads/2016/08/Cat-hd-wallpapers.jpg is gone now and thus the test is failing. This is breaking CI.

[2018-06-27 11:59] marcoabreu commented on #11409
Duplicate of https://github.com/apache/incubator-mxnet/issues/11407

[2018-06-27 11:59] #11409 closed

[2018-06-27 12:58] KellenSunderland commented on #11171
Failure Log: http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-11325/runs/16/nodes/768/log/?start=0

[code]

[2018-06-27 13:06] cjolivier01 commented on #11407
can’t you just use any car picture as a replacement?

[2018-06-27 13:10] glingyan commented on #11418
[inference2.py.txt](https://github.com/apache/incubator-mxnet/files/2141325/inference2.py.txt)
I write a very interesting code base on train.py
load checkpoint after save checkpoint
1. accuracy is the same for training epoch & load
2. accuracy is not the same after commend
mod.save_checkpoint(prefix, epoch, save_optimizer_states=True)
[21:06:29] src/operator/././../common/utils.h:417: Optimizer wi

[2018-06-27 13:22] eLvErDe commented on #11417
Absolutely not, regular X64. Multiple variants being built with/without MKL-DNN and/or CUDA.

From what I saw, the difference between 1.0.0 and 1.1.1 is in root tree `CMakeLists.txt`:

In 1.0.0:
[code]
In 1.1.0:
[code]

The main difference is that this openmp folder DID NOT exist in 1.0.0 sources tree, so it falls back building using system openmp:
[code]

Regards, Adam.

[2018-06-27 13:37] MandarGogate opened #11420 "Shared Embedding layer with different input lengths and same vocabulary size"
I'm building a classification model with name and description as features. I trained the model with a separate embedding layer but since these features share most of the words, I am wondering if there is any way to have a shared embedding layer with different input size. This will reduce significantly reduce the number of parameters in the network.

If I initialize two embedding layers with same w

[2018-06-27 15:31] sergeykolychev commented on #11420
I use https://mxnet.incubator.apache.org/faq/bucketing.html for similar case.

In essence under the Bucketing module you can create multiple modules for with different input size and the same network graph, these modules share parameters of the module with longest input size that is created first.

[2018-06-27 15:50] frankfliu commented on #11410
@larroy Thank you for reporting the Flaky test, this is added to the to do test improvements

[2018-06-27 15:54] frankfliu commented on #11411
@safrooze Thank you for submitting the issue! We are labeling it so MXNet community members can help resolve it.

[2018-06-27 15:56] frankfliu commented on #11407
@marcoabreu Thank you for reporting the Flaky test, this is added to the to do test improvements

[2018-06-27 15:59] frankfliu commented on #11412
Hi @zchrissirhcz thanks for the question, @sandeep-krishnamurthy requesting this be labeled under Question

[2018-06-27 16:00] frankfliu commented on #11413
Hi @nicklhy thanks for the question, @sandeep-krishnamurthy requesting this be labeled under Question

[2018-06-27 16:02] frankfliu commented on #11417
@eLvErDe thanks for the question, @sandeep-krishnamurthy requesting this be labeled under Question

[2018-06-27 16:05] frankfliu commented on #11418
Hi @glingyan thanks for submitting the issue, @sandeep-krishnamurthy requesting this be labeled.

[2018-06-27 16:05] ashkanaev opened #11421 "Can't iterate custom dataset by dataloader with 'num_workers > 1' param on Linux"
Hi!

Let me introduce some problem which I've got runing this code:

First of all I have custom DataSet based on Dataset (mxnet.gluon.data)

[code]
I define dataset and loader like this:

[code]
And trying to complete this code:

[code]

It's working on windows with num_workers > 1, but does't work on Linux on the same parametr.

Another words, I can't use Custom dataset and iterate my data in mul

[2018-06-27 16:06] frankfliu commented on #11420
Hi @MandarGogate thanks for the question, @sandeep-krishnamurthy requesting this be labeled under Question

[2018-06-27 16:09] frankfliu commented on #11421
Hi @ashkanaev thanks for the question, @sandeep-krishnamurthy requesting this be labeled under Question

[2018-06-27 16:38] frankfliu commented on #8230
I enabled to test, and was able to reproduce the failure with seed: 2127559962:

test_operator_gpu.test_rms ... [INFO] Setting test np/mx/python random seeds, use MXNET_TEST_SEED=2127559962 to reproduce.
FAIL

======================================================================
FAIL: test_operator_gpu.test_rms
----------------------------------------------------------------------
Traceback (most

[2018-06-27 16:59] eric-haibin-lin commented on #11103
we can add retry logic to download

[2018-06-27 17:07] two-names opened #11423 "contrib.BilinearResize2D has restriction on tensor's resolution (1000 x 1000)"
Hello.

The function contrib.BilinearResize2D has restriction on tensor's resolution (1000 x 1000)

There are segmentation tasks where high-resolution branches are needed within hybrid_forward.

This restriction defined in

bilinear_resize-inl.h

[code]
Could you please fix the restriction?

[2018-06-27 17:13] ifeherva opened #11424 "Add support for numpy.nonzero() to ndarray"
The [numpy.nonzero()](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.nonzero.html) operator is currently missing though it is very useful.

By providing a native implementation of nonzero in mxnet NDarray

- nd.where() can be extended to mimic np.where(condition)
- np.choice() can be implemented fully on gpu
- and many more

[2018-06-27 17:44] ThomasDelteil commented on #11407
it's there: https://github.com/dmlc/web-data/blob/master/mxnet/doc/tutorials/python/predict_image/cat.jpg?raw=true

[2018-06-27 18:02] roywei commented on #8044
running test:
[code]
gives the following error
[code]

[2018-06-27 18:05] aaronmarkham commented on #10549
Please add the label for Call for Contribution.

[2018-06-27 18:23] roywei commented on #8044
unittest works after removing 'sparse' in stype. @haojin2  please create another issue for this. Thanks!

[2018-06-27 18:38] frankfliu commented on #11423
Hi @two-names thanks for submitting the issue, @sandeep-krishnamurthy requesting this be labeled under enhancement.

[2018-06-27 18:40] frankfliu commented on #11424
Hi @ifeherva thanks for submitting the issue, @sandeep-krishnamurthy requesting this be labeled under Feature request

[2018-06-27 19:01] KellenSunderland commented on #9857
@spidyDev agree.  @marcoabreu think we could close this one?

[2018-06-27 19:16] larroy commented on #11417
Also related: https://github.com/apache/incubator-mxnet/issues/8532

[2018-06-27 19:20] azai91 commented on #9843
@marcoabreu the success rate has been lowered. do we know if this test is still causing us problems?

[2018-06-27 19:32] haojin2 commented on #8044
there'll will be an issue for tracking all ops affected by MKLDNN.

[2018-06-27 20:10] samhodge commented on #9989
Got it. I guess I can just serialise the model for a large resolution and just downsample for some anti aliasing. It’s a pity a hybrid model would have been ideal.

[2018-06-27 20:19] liyujiel opened #11427 "LSTM model parallel example infinite loop"
For Q & A and discussion, please start a discussion thread at https://discuss.mxnet.io

## Description
lstm_ptb.py example under model-parallel has infinite loop

Since perp number becomes large and makes overflow (?)

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):

Python 3.6

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

M

[2018-06-27 20:57] lanking520 commented on #11303
Hi @Aman1994 Sorry for the late response. I opened a clean 16.04 Ubuntu Machine and install all the dependencies all over again and did not see the same issues you have. Please try the followings:

## Step 1 Install Ubuntu Core MXNet dependencies
Copy and run [these commands](https://github.com/apache/incubator-mxnet/blob/master/ci/docker/install/ubuntu_core.sh)
## Step2 Install Scala Specific pac

[2018-06-27 21:04] kalyc commented on #8211
Ran this test 10k times and was not able reproduce the error. Will be opening PR for re-enabling this test.

[2018-06-27 21:24] liyujiel opened #11430 "lstm_bucketing example has evenly divide problem with self create dataset"
## Description
problem happened with a self-created dataset for lstm_bucketing example on CPU

But dataset with rnn-time-major works good

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):

Python

MXNet commit hash:
7c1acb489a2d7546ffac55f5c2764f1e92e77306

Build config:
(Paste the content of config.mk, or the build command.)

## Error Message:
/anaconda3/lib/python3.6/

[2018-06-27 22:35] azai91 commented on #8892
@marcoabreu I am having trouble reproducing error (ran both `test_ctc_loss` and `test_ctc_loss_train` 500x in a loop).

[code]

can we clear the skip flag and see if this problem arises again?

[2018-06-27 22:41] marcoabreu commented on #11120
@ThomasDelteil would you mind assisting here?

[2018-06-27 22:44] marcoabreu commented on #9857
Sure, thanks for following up. I think this was due to the MKLDNN change.

[2018-06-27 22:45] marcoabreu commented on #9843
Haven't seen any problems recently. Thanks for following up!

[2018-06-27 22:45] #9843 closed

[2018-06-27 22:49] marcoabreu commented on #8892
Hi Alex, did you try to use https://cwiki.apache.org/confluence/display/MXNET/Reproducing+test+results#Reproducingtestresults-Repeatingtestexecution ?

Also, which seed is being chosen in your loop?

[2018-06-27 22:52] aaronmarkham opened #11438 "docs using xml in code blocks will improperly render"
As this has bitten me several times now, so I'm writing this up as an issue. It is likely a bug in `recommonmark`.

If you use entities that can be interpreted as tags, like

[code]

There may be other workarounds, but for now I'm using ```html
This has been coming up in documentation for scala.

[2018-06-27 22:52] kalyc commented on #8211
PR - https://github.com/apache/incubator-mxnet/pull/11437

[2018-06-27 22:55] marcoabreu commented on #10141
@zheng-da http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1062/pipeline/

[2018-06-27 22:56] azai91 commented on #9843
kk ran this test 500x as well and didn't see a problem
[code]

[2018-06-27 22:58] azai91 commented on #8892
the output for each run looks like
[code]
so it seems there is a different seed being used at each run.

[2018-06-27 23:01] marcoabreu commented on #10973
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1058/pipeline/

[2018-06-27 23:02] azai91 commented on #8892
as a side issue, following the instructions on the link causes the seed to be the same for each run:
[code]
running with a for loop in bash changes the seed.

[2018-06-27 23:05] marcoabreu opened #11439 "Flaky test test_operator_gpu.test_scatter_gather_nd"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1055/pipeline/

[code]

[2018-06-27 23:06] marcoabreu commented on #11439
Duplicate of https://github.com/apache/incubator-mxnet/issues/11290

[2018-06-27 23:06] #11439 closed

[2018-06-27 23:09] marcoabreu commented on #10387
Not scala, but still: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1053/pipeline/

[2018-06-27 23:12] marcoabreu commented on #11395
This seems to be caused by test_conv:
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/master/runs/1050/nodes/752/steps/1370/log/?start=0
[code]

[2018-06-27 23:32] marcoabreu commented on #8892
Oh, it should be a different seed ._.

Would you mind submitting a patch that changes the seed for each iteration?

[2018-06-27 23:35] marcoabreu commented on #9381
Hey @sergeykolychev , this is still occuring: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11358/19/pipeline/744

[2018-06-27 23:39] RedbackThomson commented on #10937
I am calling MXPredReshape with an updated input_shape_data (only changing the batch size), but when I do, the MXPredSetInput tells me my data size is larger than the expected shape. I am using the new handle, and even freeing the old handle. Can someone check to see if this is a bug in c_predict_api.cc or if I'm somehow messing it up.

[2018-06-27 23:40] anirudh2290 commented on #10988
assigned to haibin @haojin2 is working on this.

[2018-06-27 23:41] anirudh2290 commented on #11103
assigned to haibin. @haojin2  is working on this.

[2018-06-27 23:41] anirudh2290 commented on #10920
assigned to haibin. @haojin2 has a PR open for this.

[2018-06-27 23:42] anirudh2290 commented on #11290
assigned to @reminisce . @access2rohit is working on this.

[2018-06-27 23:43] sergeykolychev commented on #9381
@marcoabreu I'll add static seed to these tests in the PR that I have open right now. Thanks.

[2018-06-27 23:44] anirudh2290 commented on #11120
assigned to @reminisce @access2rohit is working on this.

[2018-06-27 23:45] marcoabreu commented on #9381
Would it be possible to track the issue down? Our experience showed that setting a fixed seed often masks an actual bug in our implementation. I'd appreciate it very much if you wouldn't mind :)

[2018-06-27 23:47] anirudh2290 commented on #8934
assigned to myself @azai91 is working on this.

[2018-06-27 23:47] anirudh2290 commented on #8892
assigned to myself, @azai91 is working on this.

[2018-06-27 23:48] marcoabreu opened #11441 "Failing KVStore test dist-kvstore tests GPU"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-11433/1/pipeline/1569
This test throws a lot of errors:

[code]

[2018-06-27 23:48] anirudh2290 commented on #10086
assigned to myself, @azai91 is working on this.

[2018-06-27 23:56] azai91 commented on #8892
oh nvm on the seed issue. env must have been set. ran with MXNET_TEST_COUNT=10000 and was not able to reproduce issue.

[code]

[2018-06-28 00:00] azai91 commented on #10086
build with MKLDNN and ran 10000 times. was not able to reproduce.
[code]
will try building with cuda as well.

[2018-06-28 00:05] pengzhao-intel commented on #10141
Looks the precision issue and the diff looks acceptable.

[2018-06-28 00:19] pengzhao-intel commented on #11410
Looks this is a precision issue and the diff from GPU/CPU are very tiny. @lihaofd please take a look what's the max diff in the results array?

[2018-06-28 00:32] toddsundsted commented on #11398
@frankfliu I have a proposed fix here: https://github.com/apache/incubator-mxnet/pull/11397

this small change ensures that `random_uniform(..)` and similar behave consistently with other methods for `NDArray` creation, like `zeros(...)`. I would love a review and feedback on the proposal.

[2018-06-28 01:00] glingyan commented on #11418
@ZiyueHuang

[2018-06-28 01:03] glingyan commented on #11418
@eric-haibin-lin

[2018-06-28 01:36] sergeykolychev commented on #9381
@marcoabreu I've take a look, but these particular tests do need a pre-set seed.
These tests are essentially a set of network trainings and expect a specific loss value for any random initialization is probably asking too much. I am fairly sure there's no bug in perl implementation that causes this.

[2018-06-28 02:02] anirudhacharya commented on #11064
This failure persists - http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-11229/runs/9/nodes/752/log/?start=0

[2018-06-28 02:03] indhub opened #11442 "No module named 'dmlc_tracker'"
## Description
`pip install mxnet-cu91` (or `mxnet-cu90`) does not install dmlc-tracker.

Running distributed training after pip install gives this error
[code]

The error goes away if dmlc-core is built separately and PYTHONPATH is set correctly.

After `pip install mxnet`, shouldn't users be able to run distributed training without any more installations?

Thanks to [Foivos](https://discuss.mxne

[2018-06-28 03:40] glingyan commented on #11418
I know the answer
for w&d ,the csr data need to be prepare with hash
which make every time the data is difference

[2018-06-28 03:40] #11418 closed

[2018-06-28 05:55] zheng-da opened #11448 "fail to fall back when sparse arrays are passed to MKLDNN-enabled operators."
Currently, the MKLDNN-enabled operators, such as convolution and pooling, can't handle sparse arrays correctly. The reason is that the storage inference of these operators doesn't return the right dispatch mode.
The MKLDNN-enabled operators include:
- [ ] Activation @azai91
- [x] BatchNorm @zheng-da
- [ ] Convolution @ZhennanQin
- [ ] Deconvolution @ZhennanQin
- [x] FullyConnected @haojin2
- [ ] L

[2018-06-28 07:29] mbaijal opened #11453 "[Nightly Test] Apache RAT license check is failing"
**License Issue 1:**
**Issue:** The following 17 files were added about a year ago. These files have an Nvidia copyright/license but still fail the license check.
**Why is the license check failing now:**  These did not show up as a failed license check earlier since the ‘contrib’ folder was earlier excluded from rat checks (this was modified after the 1.2 release)
**17 Files:**
[code]

**License

[2018-06-28 07:47] marcoabreu commented on #9381
ok, thanks for looking into it!

[2018-06-28 07:48] marcoabreu commented on #11064
Hi @anirudhacharya, please note that the problem is not this test but many tests are failing if you scroll up. This is documented in https://github.com/apache/incubator-mxnet/issues/11395

[2018-06-28 08:18] marcoabreu opened #11455 "test_gluon_data:test_multi_worker fails with MKL"
A new test has been added by @piiswrong in https://github.com/apache/incubator-mxnet/pull/8677/files#diff-ea07e742b95ae758f6877f7f9f5f2e74R102. It has been committed disabled and should be reenabled entirely.

[2018-06-28 08:39] pengzhao-intel commented on #11448
@zheng-da Could you help provide a test case?
Does cuDNN backend handle these cases?

[2018-06-28 08:45] pengzhao-intel commented on #11455
Interesting cases @threeleafzerg please help take a look.

[2018-06-28 08:59] KellenSunderland opened #11456 "test_quantization.test_get_optimal_thresholds sometimes fails during testing."
## Example Run
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-11422/runs/20/nodes/656/log/?start=0

## Failing Output

[code]

[2018-06-28 09:28] ThomasDelteil commented on #11120
To reproduce the setup I suggest looking at the jenkins function for
tutorial tests.

I had put a fix in my last PR before removing them from CI, the issue might
be gone already. Can someone start a few hundred runs of the tutorial tests
and see if it still happen? Note that they take ~25min so that could take a
few days.

Actually commenting out most tests except three very fast ones might be a
b

[2018-06-28 09:32] marcoabreu commented on #11120
Just to be on the safe side: please try what Thomas suggested only locally
and don't submit these jobs to CI. This test suite causes resource
exhaustion on our CI and running so many in parallel would basically knock
off our instances.

Thomas Delteil <notifications@github.com> schrieb am Do., 28. Juni 2018,
11:29:

[2018-06-28 10:01] nihilityworld opened #11458 "Multithreading error."
I have used the c_predict_api to build a predict api in the web. but when I conduct the pressure test using 50 requests in 1s, 49 return right result and 1 blocked(10 or 20 requests will also block 1 request). I find that it is blocked in MXPredSetInput and MXPredGetOutputI check the c_predict_api.cc and its include file. I find a unique_lock before a memcpy function and it will be unlock after th

[2018-06-28 10:10] ashkanaev commented on #11421
I have achieved some result after I turn off multithreading OpenMP on OpenCV like this:
[code]
Unfortunately after 43-th batch I've got:

[2018-06-28 10:42] Aman1994 commented on #11303
@lanking520 Earlier I was trying the build on 18.04 and its continuously failing. Today i tried on 16.04 and its building successfully. So, I guess there is some architecture problem that is currently not compatible with 18.04.

[2018-06-28 12:57] tvandergeer commented on #9507
I've did the following:
[code]
It still segfaults with the same error

[2018-06-28 13:24] jiajinyu opened #11462 "throughput of sparse linear classification is small with small batch size"
## Description
For small batch, sparse linear classification uses all CPU, but throughput is small.

## Environment info (Required)
Machine used: AWS AMI, c5.9xlarge,
steps to repro:
1. pip2 install mxnet-mkl
2. git clone mxnet
3. in directory `incubator-mxnet/example/sparse/linear_classification`, run `python2 train.py --batch-size 1`

We see throughput is around 600 samples/sec. I tried to set u

[2018-06-28 15:08] matteosal commented on #11281
For what is worth, this face recognition system (Lua Torch) uses it: https://github.com/cmusatyalab/openface

Project page: http://cmusatyalab.github.io/openface/

[2018-06-28 15:23] xvjiarui commented on #2910
@nstiurca I am getting the same error. Trying another way around.

[2018-06-28 15:51] frankfliu commented on #11427
Hi @ifeherva thanks for submitting the issue, @sandeep-krishnamurthy requesting this be labeled.

[2018-06-28 15:52] frankfliu commented on #11430
Hi @liyujiel thanks for submitting the issue, @sandeep-krishnamurthy requesting this be labeled.

[2018-06-28 15:55] frankfliu commented on #11438
Hi @aaronmarkham thanks for submitting the issue, @sandeep-krishnamurthy requesting this be labeled Doc

[2018-06-28 15:56] frankfliu commented on #11441
Thank you for submitting the issue! We are labeling it so MXNet community members can help resolve it.

[2018-06-28 16:02] frankfliu commented on #11442
Thanks @indhub for submitting the issue!

[2018-06-28 16:04] frankfliu commented on #11448
Thank you for submitting the issue!  @sandeep-krishnamurthy requesting this be labeled.

[2018-06-28 16:07] frankfliu commented on #11453
Thank you for submitting the issue!, @sandeep-krishnamurthy requesting this be labeled under Test and License.

[2018-06-28 16:10] frankfliu commented on #11456
Thank you for submitting the issue! We are labeling it so MXNet community members can help resolve it.

[2018-06-28 16:18] zheng-da commented on #11448
@eric-haibin-lin  @haojin2  could you please provide a test case?

[2018-06-28 16:18] frankfliu commented on #11458
Thank you for submitting the issue!  @sandeep-krishnamurthy requesting this be labeled.

[2018-06-28 16:23] frankfliu commented on #11462
Hi @jiajinyu, thanks for question. @sandeep-krishnamurthy requesting this be labeled under Question.

[2018-06-28 16:31] eric-haibin-lin commented on #11448
There’s an existing test batch norm training test disabled due to flakyness

[2018-06-28 17:16] larroy commented on #9507
I will try to have a look at this next week when I have access to a raspberry Pi. Feel free to ping this issue again if you don't see activity.

[2018-06-28 17:22] lebeg commented on #9507
Try to set the environment variable `export MXNET_ENGINE_TYPE=NaiveEngine` during runtime, not during build.

[2018-06-28 18:10] azai91 commented on #8892
was able to reproduce with seed: 407470442

[2018-06-28 18:17] eric-haibin-lin commented on #11448
concat is tested and fixed.

[2018-06-28 18:23] altosaar commented on #9257
This would be a nice feature to have.

[2018-06-28 18:30] azai91 commented on #8892
lowered the learning rate from 1 to 0.1 for this test which removes problem. with too high of a learning rate we suffer from the exploding gradients problem and our network produces noise.

[2018-06-28 18:48] DickJC123 commented on #11359
I have a lead on the problem.  There is an out-of-bound read performed by the SequenceLastKernel.  I'll stop here and let the person responsible for this kernel correct the problem.  Kernels that read beyond their valid input tensor regions can be problematic, even if the random data read is never used in a subsequent kernel write.  The problem surfaces when the reads are outside of valid mapped a

[2018-06-28 19:11] haojin2 commented on #11448
I'll take FullyConnected if no one's working on it right now.

[2018-06-28 19:44] larroy opened #11468 "Inconsistent / wrong output from sum"
Followup of problems found during https://github.com/apache/incubator-mxnet/issues/9853

## Description
Output inconsistent across runs and wrong when summing two arrays, also observed for other operators like bmod. But only after running sum.

Couldn't reproduce with the pip installable package for 1.3.0
Can't reproduce without debug flags

[code]

## Environment info (Required)
[code]

[code]

P

[2018-06-28 19:50] marcoabreu commented on #8892
Thank you, great job!

[2018-06-28 19:51] anirudhacharya commented on #9415
I have not been able to reproduce this issue even after running the test for ~10k times.

@sergeykolychev is this something you are actively looking into? are you okay with closing this issue? from the past many CI runs, I don't think this is failing anymore.

[2018-06-28 19:51] DickJC123 commented on #11395
I have a lead on the problem. There is an out-of-bound read performed by the SequenceLastKernel. I'll stop here and let the person responsible for this kernel correct the problem. Kernels that read beyond their valid input tensor regions can be problematic, even if the random data read is never used in a subsequent kernel write. The problem surfaces when the reads are outside of valid mapped addre

[2018-06-28 19:53] DickJC123 commented on #11359
I posted a reply to a different issue here, then removed it.  Sorry for the confusion.

[2018-06-28 20:13] azai91 commented on #8934
I think this is related #10086.

[2018-06-28 20:15] anirudh2290 commented on #8934
closing this since the same test is being tracked in #10086

[2018-06-28 20:15] #8934 closed

[2018-06-28 20:31] rahul003 opened #11469 "Performance regression in augmentation"
## Description
There'a big performance regression (slowing down from ~5000 samples/sec to ~3000 samples/sec for Resnet50 on Imagenet. This is linked to this PR https://github.com/apache/incubator-mxnet/pull/11027

What the PR tries to do itself is not problematic, I can get 5k samples/sec with an older commit d37f3a3e63cef5a79c3e673cec30e70f8bf83b3e  on that PR from May24. But in the form it got m

[2018-06-28 20:40] rahul003 commented on #11469
Diff of the changes from that May 24 current and the augmentations file from master is as follows:

[code]

[2018-06-28 20:44] anirudh2290 commented on #10973
I was struggling  to build MXNet on windows with DEBUG flag on without success. I realized that windows was testing a different code path compared to linux. Windows was testing the MXNet convolution and deconvolution ops while linux was testing the conv and deconv ops of cudnn. This is probably because windows probably has an older cudnn version. This code path should also be tested on linux so I

[2018-06-28 20:46] marcoabreu commented on #10973
Yes, on Windows we only test CUDA8

[2018-06-28 21:02] rahul003 commented on #11469
Checking if it's due to performing other augmentations before cropping

[2018-06-28 21:19] lanking520 commented on #11303
@Aman1994 Thanks for trying the solution and MXNet Scala installation page will be updated very soon based on this feedback.

[2018-06-28 21:42] #8211 closed

[2018-06-28 22:09] nswamy commented on #11303
@marcoabreu do we have MXNet backend building on 18.04?

[2018-06-28 22:24] marcoabreu commented on #11303
No, only Ubuntu 16.04

Naveen Swamy <notifications@github.com> schrieb am Fr., 29. Juni 2018,
00:09:

[2018-06-28 22:41] rahul003 commented on #11469
That was it. Was accidentally performing an unnecessary affine transform before cropping.
Tong is sending out a PR to fix it.
Will close that issue after that PR goes in.

[2018-06-28 22:46] zheng-da commented on #11448
i created a PR for batchnorm.

[2018-06-28 22:50] zhreshold opened #11475 "Amending ONNX importer/exporter #11213"
This thread tracks additional concerns of PR #11213

#### Naming of modules in python/mxnet/contrib/onnx:

- onnx2mx/mx2onnx, from the perspective of inside mxnet python package, it is more reasonable to use name from_onnx/to_onnx.
- Please be considerate about modules and their purposes before spreading to many files. For example, https://github.com/apache/incubator-mxnet/blob/master/python/mxnet

[2018-06-28 22:53] zhreshold commented on #11475
@anirudhacharya

[2018-06-28 23:32] anirudhacharya commented on #11475
@spidyDev @Roshrini

[2018-06-29 01:03] leezu commented on #11403
How about using a numerically stable L2 norm algorithm by scaling the elements? Ie. [BLAS nrm2](http://www.netlib.org/blas/snrm2.f)

[2018-06-29 02:00] pengzhao-intel commented on #11448
what else need to cover? @zouluobao can help

[2018-06-29 02:48] freshcoderman opened #11479 "gamma require 2d"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-06-29 02:48] #11479 closed

[2018-06-29 03:31] zhulihuacmss commented on #7146
@Corea i have met the same problem 'can not find openblas.so', how did you solve it? thanks

[2018-06-29 03:38] sergeykolychev commented on #9415
@anirudhacharya go ahead and close the issue. thanks!

[2018-06-29 03:39] #9415 closed

[2018-06-29 03:47] szha commented on #11442
dmlc_tracker will be included in nightly builds starting from tonight.

[2018-06-29 04:36] Hui-Li commented on #9267
In case you are using Mac OS, it is probably that you use GCC as the compiler. Change  to clang in **config.mk**:

[code]

[2018-06-29 05:02] leezu commented on #11314
There is some evidence that `nan` values can still occur with above workaround applied, though the root cause is still not determined.

[2018-06-29 05:03] hxhxhx88 opened #11480 "Image classfication example has wrong accuracy metric."
In file [example/image-classification/common/fit.py](https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/common/fit.py) at [line 295](https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/common/fit.py#L295), the `mx.callback.Speedometer` is initialized with `auto_reset` unset, which will be its [default value](https://github.com/apache/i

[2018-06-29 06:22] edmBernard commented on #7146
@zhulihuacmss
Hi, You have to change the path in amalgamation Makefile: [here](https://github.com/apache/incubator-mxnet/blob/master/amalgamation/Makefile#L23)

[2018-06-29 07:30] jeremiedb commented on #10721
@thomasmooon I just ran your example with `num_filter = 32` and no workspace parameter and model ran properly on a single 1060, staying aroung stable around 2.7 Go Ram on the GPU.

@nswamy Can you close this issue?

[2018-06-29 07:42] marcoabreu commented on #11475
Sorry, but I feel very strongly about the pytest folder naming and I would like it to stay as it is. The reason is that you're otherwise not able to distinguish nosetests tests from pytest tests. That's why we have one big parent folder which contains all pytest tests. By our convention, all Python tests are nosetests by default. The special folder name clearly shows that this convention does not

[2018-06-29 08:38] KellenSunderland commented on #11395
I don't think anyone disabled the test.  Opening a PR to do so here: https://github.com/apache/incubator-mxnet/pull/11485

[2018-06-29 08:42] KellenSunderland commented on #11171
Appreciate the investigation @pengzhao-intel @piiswrong.

As a heads up, it looks like test_gluon.test_hybrid_static_memory is also failing.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1084/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/master/runs/1084/nodes/751/log/?start=0

[2018-06-29 08:51] KellenSunderland opened #11487 "test_sample_multinomial test is flaky"
test_sample_multinomial is failing non-deterministically.

Reference test runs:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1082/pipeline
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/master/runs/1082/nodes/735/log/?start=0

Failure output:
[code]

[2018-06-29 11:00] nswamy commented on #10721
thanks @jeremiedb

[2018-06-29 11:00] #10721 closed

[2018-06-29 11:38] #8892 closed

[2018-06-29 11:40] #7645 closed

[2018-06-29 15:44] frankfliu commented on #11468
Thank you for submitting the issue! We are labeling it so MXNet community members can help resolve it.

[2018-06-29 15:45] frankfliu commented on #11480
Hi @hxhxhx88 , thanks for submitting issue. @sandeep-krishnamurthy requesting this be labeled.

[2018-06-29 15:46] frankfliu commented on #11487
Thank you for submitting the issue! We are labeling it so MXNet community members can help resolve it.

[2018-06-29 15:47] frankfliu commented on #11475
Thank you for submitting the issue! We are labeling it so MXNet community members can help resolve it.

[2018-06-29 15:47] altosaar opened #11495 "Bug for matrices of multiple dimension, with one dimension much larger"
There is a bug when creating large matrices. Although the size of each dimension is moderate, the matrix cannot be created.

Minimal example on mxnet 1.3.0:

[code]

[2018-06-29 16:39] anirudhacharya opened #11496 "Selu Operator not present in MXNet"
Operator definition
y = gamma * (alpha * e^x - alpha) for x <= 0,
y = gamma * x for x > 0

@nswamy please label this - "Operator", "Feature Request"

[2018-06-29 16:44] hhexiy opened #11497 "Feature request: where operator should support scalar operand"
It would be nice to be able to do F.where(mask, 1, 0) or F.where(mask, 1, data).

[2018-06-29 16:45] zhreshold commented on #11475
@marcoabreu If you think a parent folder for all pytest is necessary and reserved for future, I can take that. But isn’t pytest itself indicating python tests? IMO pytest is better than python-pytest as a parent folder name in this case.

I always insist that a good naming and reasonable structure is critical to a project’ capability of maintenance and allow external contributors to better underst

[2018-06-29 17:28] szha commented on #11496
we have it in gluon. https://mxnet.incubator.apache.org/versions/master/api/python/gluon/nn.html?highlight=selu#mxnet.gluon.nn.SELU

[2018-06-29 17:51] sandeep-krishnamurthy commented on #10750
Could not reproduce with 1000 runs. Issue is fixed by Da in this PR - https://github.com/apache/incubator-mxnet/pull/9862 resolving MKLDNN memory layout race condition. Verified that recent 50 failures in CI doesn't have this issue.

Please reopen if issue still persists.

[2018-06-29 17:51] #10750 closed

[2018-06-29 17:51] sandeep-krishnamurthy commented on #9812
Could not reproduce with 1000 runs. Issue is fixed by Da in this PR - https://github.com/apache/incubator-mxnet/pull/9862 resolving MKLDNN memory layout race condition. Verified that recent 50 failures in CI doesn't have this issue.

Please reopen if issue still persists.

[2018-06-29 17:51] #9812 closed

[2018-06-29 17:54] #11453 closed

[2018-06-29 17:55] szha commented on #11495
This is likely due to the type being used for TShape.

[2018-06-29 19:51] anooprh opened #11500 "Unable to build docker image locally"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-06-29 20:54] haojin2 opened #11501 "Tracking issue for tests with fixed random seed"
@eric-haibin-lin and @azai91 discovered that some unit tests have been using fixed seed to mask flakiness, opening this issue to keep track of those tests. Ideally every test should not be flaky with whatever seed.
Tests with fixed seed:
 - test_ndarray/test_operator_gpu.test_ndarray_elementwise
 - test_ndarray/test_operator_gpu.test_ndarray_pickle
 - test_operator/test_operator_gpu.test_elementwi

[2018-06-29 21:18] anooprh commented on #11500
My bad. This issue got fixed after I allocated more memory to docker (4GB) and more swap(2GB). Closing the issue.

[2018-06-29 21:18] #11500 closed

[2018-06-29 21:55] haojin2 commented on #10920
@eric-haibin-lin should be fixed at this time.

[2018-06-29 22:00] frankfliu commented on #11497
Thank you for submitting the request! We are labeling it so MXNet community members can help resolve it.

[2018-06-29 22:02] vdantu commented on #9864
@marcoabreu @KellenSunderland : Please suggest how we could go about narrowing this down and resolve this.

[2018-06-29 22:02] frankfliu commented on #11495
Hi @altosaar, thanks for submitting issue. @sandeep-krishnamurthy requesting this be labeled.

[2018-06-29 22:03] frankfliu commented on #11501
Thank you for submitting the issue! @sandeep-krishnamurthy requesting this be labeled under feature request.

[2018-06-29 22:04] frankfliu commented on #11496
Hi @anirudhacharya, thanks for submitting issue. @sandeep-krishnamurthy requesting this be labeled.

[2018-06-29 22:23] #11077 closed

[2018-06-29 22:38] roywei commented on #8044
issue causing the ctx error is tracked at #11448
working on flakiness:
tried changing numeric_eps=1e-3
using following will reproduce the error
[code]

error
[code]

[2018-06-29 23:02] #11238 closed

[2018-06-30 00:19] vrakesh commented on #8288
The above script from @anirudh2290 , was expanded with a test for gpu as well
[code]
The output of the test is

[code]

As seen above for float 16, the output that is close to 0.999 rounds to 1.0. Our default margin for SVMOutput layer is 1.0

In L1_SVM function of the operator we compare margin > src (where src is the outputs)

For float32 this resolves to 1.0 > 0.99532
For float16 this resolves

[2018-06-30 00:25] Neutron3529 opened #11504 "Callback's bug with very fast speed."
[code]
ZeroDivisionError: float division by zero
it seems that time.time may not always return different result, which cause a division by zero exception.
[code]
maybe use
[code]
will be better, or mxnet should use a high performance timer rather than time.time
for example, using `time.perf_counter_ns` may be better
[code]

[2018-06-30 00:52] roywei commented on #8044
it may due to cuDNN implementation in BatchNorm.
changed
[code]
running test

[code]
give error:
[code]

This test is disabled for both cpu and gpu, we should enable cpu case at least.

#11396  didn't have this issue because, [check consistency](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/test_utils.py#L1207) is not using training during forward execution.  while check_numer

[2018-06-30 01:37] marcoabreu commented on #11475
We currently have the following structure:
[code]
The current structure is basically ``tests/{LANGUAGE}`` and I think it's quite user-friendly to keep it that way (we have some exceptions already).  ``tests/python`` is nosetests and basically every python test is nose by default if not specified otherwise. Having a folder called python-pytest on the same level as the regular python tests covered b

[2018-06-30 01:55] marcoabreu opened #11506 "Flaky test_gluon.test_conv causes other tests to fail on Windows"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1106/pipeline
[code]

[2018-06-30 03:47] yukang2017 opened #11508 "【Question】Are there any examples for gradients clipping in gluon?"
This is what I guess. Is it right?

        trainer.allreduce_grads()
        with autograd.record():
            logits = model(input)
            loss = criterion(logits, target)
        loss.backward()

        grads = [i.grad(ctx) for i in model.params.values()]
        gluon.utils.clip_global_norm(grads, args.grad_clip)
        trainer.update(args.batch_size)

[2018-06-30 12:28] gigasquid commented on #11496
Thanks - It will be great to have selu available to the other language bindings too 👍

[2018-06-30 14:02] marcoabreu opened #11509 "Hanging flaky test test_operator.test_norm @ Python 3: GPU Win"
test_operator.test_norm causes hangs at Python 3: GPU Win.

http://jenkins.mxnet-ci.amazon-ml.com/view/Master%20Jobs/job/incubator-mxnet/job/master/1109/

[code]

[2018-06-30 14:04] marcoabreu commented on #11509
On other occasions, it causes assertion errors:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1108/pipeline
[code]

[2018-06-30 14:06] marcoabreu commented on #11506
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1107/pipeline/ contains more details

[2018-06-30 14:09] marcoabreu commented on #11506
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1106/pipeline

[2018-06-30 15:05] samjia533332 commented on #1968
I had the same issue earlier. My bug was not in the model code, but in the data. Turned out that when i shifted the channels from 3X32X32 to 32X32X3 the images were completely distorted. After fixing that, my model went OK. You might look into your data as well.

[2018-06-30 15:12] ifeherva commented on #9253
I am interested implementing this, is there a jira issue already?

[2018-06-30 15:39] rahul003 commented on #11403
That sounds good too

[2018-06-30 19:01] szha commented on #11508
That's correct, though you may want to switch model.params to model.collect_params() to include the parameters of all children blocks too.

[2018-07-01 06:29] yukang2017 commented on #11508
thanks

[2018-07-01 12:50] wkcn commented on #11423
Is it better to add the minimum or maximum value for `set_range` in dmlc-core?
e.g. `DMLC_DECLARE_FIELD(height).set_range(1, RANGE_MAX)`

[2018-07-01 13:13] two-names commented on #11423
@wkcn

You mean declare new variables?
I suppose it is necessary to expand the range and make pull request.

[2018-07-01 15:06] wkcn commented on #11423
@two-names
Yes. I found several operators use set_range(1, 1000).
It's necessary to declare a new constant to indicate the minimum and maximum value.

In MXNet repo,
const DType RANGE_MAX = FLT_MAX;
set_range(1, RANGE_MAX)

[2018-07-01 18:08] nswamy commented on #8090
MXNet 0.11 is very old, could you please try upgrading to the latest 1.2.1 which is coming in the next day or two.
We also have the Scala packages available in maven for you to directly consume https://mvnrepository.com/search?q=org.apache.mxnet. We will be releasing 1.2.1 of the package as well.

If you are unable to upgrade to the latest, please create a new issue with the reasons and we could w

[2018-07-01 18:08] #8090 closed

[2018-07-01 18:57] eric-haibin-lin commented on #11509
@anirudhacharya

[2018-07-01 21:42] marcoabreu opened #11516 "CCache does not work for NVCC or make-based builds"
At the moment, we don't apply ccache to NVCC compilation or to make-based builds in general. This is due to third parties not supporting our make-wrappers.

[2018-07-01 22:06] marcoabreu opened #11517 "Flaky test test_operator_gpu.test_pooling_versions"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/master/1121/pipeline
[code]

[2018-07-01 23:29] #8971 closed

[2018-07-01 23:58] marcoabreu commented on #11516
Problems with NVCC - CCache log:

[code]

Statement from CCache maintainers: https://stackoverflow.com/a/31587717

[2018-07-02 00:12] eric-haibin-lin commented on #11173
I'm able to reproduce the err with the following example in test_operator_gpu.py:
[code]

[code]
It looks like the the gradient for deformable_conv_offset doesn't pass consistency check.

I can reproduce it with the following cmd consistently:
[code]
@YuwenXiong have you seen this before? Any idea why this happens?

[2018-07-02 00:19] anirudhacharya commented on #11509
I will look into it

[2018-07-02 03:49] sandeep-krishnamurthy commented on #9116
Can you please confirm you tried with same build that was failing before? For example, I had a test that was failing only with cu90-mkl build but not only with cu90.

[2018-07-02 05:20] lupesko commented on #9649
@KellenSunderland the PR removing the test was merged. Kindly close the issue. Thanks!

[2018-07-02 08:12] cccorn commented on #8188
I found my training loss has the same problem:
When the training step into a new epoch, the loss goes down abruptly, then goes up gradually in this epoch.
Dose anyone know why it happens?

[2018-07-02 08:31] marcoabreu commented on #8288
Closed as of https://github.com/apache/incubator-mxnet/pull/11505

[2018-07-02 08:31] #8288 closed

[2018-07-02 09:33] thomasmooon commented on #10721
@jeremiedb I was on vacancy leave and just read your posts. Thanks for your suggestion. But in the meanwhile, a few weeks after I opened the issue, I switched to another DL framework for several reasons.

[2018-07-02 10:00] simonmaurer opened #11522 "MXNet 1.2.0 - net.save_params() output parameter file contains garbage"
## Description
When using Gluon APIs gluon.nn.SymbolBlock to load a pretrained VGG16 and finetune the model (while replacing the last VGG16 layer with an additional FullyConnected layer) the model file (.json) can be correctly saved, but not the parameters (weights, biases) with net.save_params().
The resulting file is of size 32Byte (no matter what size the additional layer) containing the only b

[2018-07-02 10:31] marcoabreu commented on #11522
@piiswrong @ThomasDelteil

[2018-07-02 11:56] wanderingpj commented on #10105
Hello, I met the same problem. How did you solve this problem?

[2018-07-02 14:13] #9649 closed

[2018-07-02 15:27] Neutron3529 opened #11525 "Bug inmxnet.contrib.text.utils.count_tokens_from_str"
duplicate, please ignore and delete this issue

[2018-07-02 15:41] Neutron3529 opened #11526 "Bug in mxnet.contrib.text.utils.count_tokens_from_str"
mxnet.contrib.text.utils.count_tokens_from_str(source_str, token_delim=' ', seq_delim='\n', to_lower=False, counter_to_update=None)[source]

the description is
Counts tokens in the specified string.

For token_delim=’’ and seq_delim=’’, a specified string of two sequences of tokens may look like:
[code]
But if one use "*" as a token_delim,executing`text.utils.count_tokens_from_str("*".join(s),"*")

[2018-07-02 15:42] #11525 closed

[2018-07-02 15:45] #11504 closed

[2018-07-02 16:28] frankfliu commented on #11526
Thank you for submitting the issue! @sandeep-krishnamurthy requesting this be labeled.

[2018-07-02 16:54] ankkhedia commented on #9116
@sandeep-krishnamurthy I used the same build instructions as was mentioned in the issue and couldn't reproduce it.

[2018-07-02 17:55] roywei commented on #8044
running test on CPU also failed
[code]

error message
[code]

[2018-07-02 18:00] hetong007 commented on #10791
@onlyphantom I've updated the official S3 bucket. Please retry the installation on OS X, and feel free to comment if you can't install it by

[code]

[2018-07-02 19:33] #9028 closed

[2018-07-02 21:11] frankfliu commented on #11393
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
@sandeep-krishnamurthy to close this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
Thanks!

[2018-07-02 21:12] frankfliu commented on #11400
@sandeep-krishnamurthy to close this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
Thanks!

[2018-07-02 21:13] frankfliu commented on #11412
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
@sandeep-krishnamurthy to close this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
Thanks!

[2018-07-02 21:13] frankfliu commented on #11413
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
@sandeep-krishnamurthy to close this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
Thanks!

[2018-07-02 21:14] frankfliu commented on #11420
For questions, please submit on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
@sandeep-krishnamurthy to close this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
Thanks!

[2018-07-02 21:19] roywei commented on #9890
#10429 should fix this.
@sandeep-krishnamurthy  could you help to close this issue?
Thanks

[2018-07-02 21:33] szha commented on #10380
Fixed in #11529

[2018-07-02 21:33] #10380 closed

[2018-07-02 21:34] szha commented on #10280
Seems already fixed in #10135

[2018-07-02 21:36] szha commented on #10272
I wasn't able to reproduce the build problem. Also, the SSD should no longer be relevant as the related features have been merged.

[2018-07-02 21:36] #10272 closed

[2018-07-02 21:38] marcoabreu commented on #10280
@szha this issue was created after the pr has been merged

[2018-07-02 21:41] haojin2 commented on #10280
@marcoabreu I think #10533 was fixing this flaky test

[2018-07-02 21:42] szha commented on #10280
@marcoabreu my bad for including the wrong PR. Has there been more recent occurrences for this flaky test?

[2018-07-02 21:47] haojin2 commented on #10280
@marcoabreu This actually reminds me of the issue that the issue that sometimes CI is not using the latest master branch automatically, did you have a chance to take a look at that problem?

[2018-07-02 21:49] marcoabreu commented on #10280
CI only does not use the latest master if you trigger a rerun in the web interface instead of making a new commit. otherwise, it should be working fine.

[2018-07-02 21:52] haojin2 commented on #10280
And I guess this issue could be closed now? I'm not seeing any new reports of this issue after the fix was merged.

[2018-07-02 21:53] szha commented on #10280
@haojin2 could you report an issue on the CI problem you faced instead?

@marcoabreu is this issue still relevant? Do you have more errors on this test that we should look into?

[2018-07-02 21:56] haojin2 commented on #10280
@marcoabreu Well, then I guess we shall inform everyone with the right to re-run builds about this issue then?

[2018-07-02 22:01] marcoabreu commented on #10280
Everybody should be aware. There are not many people who have that permission.

I will check for data tomorrow

[2018-07-02 22:10] haojin2 commented on #10280
@marcoabreu I just asked 2 commiters from my team and none of them were aware of this issue, so I guess there's still the necessity of informing the related ones about this?
And, please close the issue once you can confirm there's no more recent occurrences.

[2018-07-02 22:36] #9890 closed

[2018-07-02 23:25] #10776 closed, assigned to nobody

[2018-07-02 23:29] zheng-da commented on #10689
we now check the strides and paddings: https://github.com/apache/incubator-mxnet/pull/10666

[2018-07-02 23:29] #10689 closed

[2018-07-03 00:16] zhuotest opened #11535 "installed mxnet-cu92 on ubuntu but can't run example code correctly"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-07-03 00:29] #10186 closed

[2018-07-03 00:36] zhreshold commented on #10186
Fixed in #11530

[2018-07-03 02:47] pengzhao-intel commented on #11448
@luobao-intel will handle other OPs :)

[2018-07-03 05:07] zheng-da commented on #11448
@pengzhao-intel @luobao-intel we need to fix them and merge the PRs to the v1.3 release, which is probably before the end of next week.

[2018-07-03 06:50] gr8Adakron opened #11536 "AttributeError: module 'mxnet.contrib.onnx' has no attribute 'get_model_metadata'"
I am getting this error while running the tutorial of:
[https://mxnet.incubator.apache.org/tutorials/onnx/inference_on_onnx_model.html](https://mxnet.incubator.apache.org/tutorials/onnx/inference_on_onnx_model.html)

in line:
`model_metadata = onnx_mxnet.get_model_metadata(onnx_path)`

[code]

Any help?

[2018-07-03 09:18] marcoabreu commented on #9116
There are no record of recent failures. Closing

[2018-07-03 09:18] #9116 closed

[2018-07-03 09:52] marcoabreu commented on #10280
I think I explained it on dev@ a few weeks ago. But yeah, in general, we don't want anybody to use the retrigger-function in the web interface and consider it as a hidden undocumented feature. I'll send out an email when I got time

Closing since there have not been any recent failures.

[2018-07-03 09:52] #10280 closed

[2018-07-03 10:05] HuichuanLiu commented on #11149
OK, my colleague solves this problem.
Just apply the Inception Preprocess, i.e. img/255-rgb_mean with --rgb-mean=[123.68,116.779,103.939]
Then the imagenet1k-resnext-101-64x4d model delivers acc~=0.79, as good as your docs describe.

I would strongly recommend you to modify or delete the description in the [mxnet imageclassifcation example page](https://github.com/apache/incubator-mxnet/tree/maste

[2018-07-03 10:05] #11149 closed

[2018-07-03 11:11] omarkaraksi opened #11538 "mxnet.base.MXNetError src/storage/storage.cc:127: Unimplemented device 0 when using with sockeye"
## Description :
I faced this problem while trying to use mxnet with sockeye for machine translation after third  translation attempt mxnet raises the following bug .

## The full error stack :

mxnet.base.MXNetError: [12:52:28] src/storage/storage.cc:127: Unimplemented device 0
Stack trace returned 10 entries:
[bt] (0) /usr/local/lib/python3.5/dist-packages/mxnet/libmxnet.so(+0x1c05f2) [0x7f13e13

[2018-07-03 12:59] wgting96 commented on #10562
same issue.

It seems that MXNet doesn't support `num_workers` parameter in Windows currently, see the document [here](https://mxnet.incubator.apache.org/api/python/gluon/data.html?highlight=dataloader#mxnet.gluon.data.DataLoader).

I set `num_workers=0` and everything works well.

[2018-07-03 13:23] xizi opened #11539 "gpu memory used"
![image](https://user-images.githubusercontent.com/3853150/42222141-d519be74-7f06-11e8-9a68-d4535013702e.png)
When i train a classification network in multi-GPU style, the gpu0 memory is larger than others. Is a test network occupy the gpu0 memory. In that circumstances, how can i remove the test network ?

[2018-07-03 13:52] jeremiedb commented on #10721
@thomasmooon Sure I understand as the support for R-package hasn't been great. May I ask you if there were other specific features you were seeing as lacking? Thanks!

[2018-07-03 16:14] azai91 commented on #11539
could you provide a bit more details about your code? are you using a network from the model zoo or a custom one?

[2018-07-03 16:53] thvasilo commented on #4867
I'll leave this blog post here for future reference (not the author): https://blog.kovalevskyi.com/mxnet-distributed-training-explained-in-depth-part-1-b90c84bda725

[2018-07-03 17:06] ashkanaev opened #11541 "Silient CHECK's fails. How to enable logginig for c++ API."
Hi, there

I’m trying to find error in my c++ application. There is some error while forward. I found a lot of logging in mxnet, but in console appears only few messages by LOG().

My question is How to enable all levels of logging in mxnet with c++ API. How to redict logger to file or console? Is googleglog required?

Help, please. I’m tried to find failed CHECK’s **manually**. It’s slows down R&

[2018-07-03 18:44] MandarGogate commented on #11420
Thank you @sergeykolychev. It worked!

[2018-07-03 18:44] #11420 closed

[2018-07-03 18:59] roywei commented on #8044
Comparing result from GPU with cuDNN, GPU without cuDNN (setting cudnn_off=True in mx.sym.BatchNorm), and CPU (unittest/test_operator.py)

The results of different implementations of batchnorm are consistent and should be correct.

Config:
[code]
Seed:
[code]

With  cuDNN:
[code]

Without cuDNN:
[code]

CPU:
[code]

[2018-07-03 19:31] ankkhedia opened #11542 "Import to gluon not working for ONNX model"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-07-03 19:32] ankkhedia commented on #11542
@sandeep-krishnamurthy Could you please tag this as ONNX?

[2018-07-03 19:33] golo314 opened #11543 "Seg. Fault installing cpp-package"
## Description
I am attempting to enable cpp-package. I get to 95% built and them upon running OpWrapperGenerator.py, I get a seg. fault.

## Environment info (Required)
Fedora 28 on a virtual machine

----------Python Info----------
('Version      :', '2.7.15')
('Compiler     :', 'GCC 8.1.1 20180502 (Red Hat 8.1.1-1)')
('Build        :', ('default', 'May 16 2018 17:50:09'))
('Arch         :', ('6

[2018-07-03 19:40] anirudhacharya commented on #11542
I was able to import the above model into the symbolic interface
[code]
The error occurs when trying to create a SymbolBlock object from the symbol graph -
[code]
will debug it deeper.

[2018-07-03 20:18] roywei commented on #8044
#11544 should fix this

[2018-07-03 20:45] andrewfayres commented on #11535
Thank you for submitting the issue! @sandeep-krishnamurthy requesting this be labeled as installation.

[2018-07-03 20:49] edmondja commented on #621
+1 waiting for it

[2018-07-03 20:52] andrewfayres commented on #11536
Thank you for submitting the issue! Some more details such as a stack trace would probably be helpful. @sandeep-krishnamurthy requesting this be labeled as example, onnx, gluon.

[2018-07-03 20:55] andrewfayres commented on #11538
Thank you for submitting the issue! @sandeep-krishnamurthy requesting this be labeled as python, bug.

[2018-07-03 20:55] anirudhacharya commented on #11536
@gr8Adakron ``get_model_metadata`` API was introduced after the v1.2 release. Could you do a source build and try again.

[2018-07-03 21:03] andrewfayres commented on #11541
Looks like you're also asking this on the discussion forum. There it will get a wider audience and allow other to learn as well. I'm closing this issue now in favor of the discussion forum issue
Thanks!

@sandeep-krishnamurthy, please label this as question and close in favor of the discussion forum.

[2018-07-03 21:49] zhreshold commented on #11475
Resolved offline.

Things left:

- Merging files
- Leave some changes intact for consistency.

[2018-07-03 21:49] #11475 closed

[2018-07-03 21:58] ctcyang commented on #11541
By default, MXNet uses googlelog (see [2]). In googlelog, the default level of logging is to log all levels: INFO, WARNING, ERROR, and FATAL (see [1] for more information). For me, even LOG(INFO)'s get printed by default.

[1] http://rpg.ifi.uzh.ch/docs/glog.html
[2] https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/logging.h

[2018-07-03 22:03] eric-haibin-lin commented on #11497
+1

[2018-07-03 22:51] ankkhedia commented on #8344
@sandeep-krishnamurthy Could you please close this issue as it has been resolved

[2018-07-04 00:11] rahul003 opened #11549 "Pip package can be much faster (OpenCV version?)"
## Description
When I build MXNet from source using same build flags as pip package uses, I get much faster speeds. Not sure which versions of dependencies could be different in our case. I used all standard dependencies versions that come with AWS Deep Learning AMI (Cuda 9, CUDNN 7005). This could be because of the OpenCV version used to build. Happy to provide any information needed on this fron

[2018-07-04 00:23] leezu opened #11550 "NDarray should support __setitem__ with empty key, value"
## Description
Consider

[code]
The first half works fine, but mxnet fails on the second half:

[code]

## Environment info (Required)
At least mxnet 1.2 and master

[2018-07-04 00:35] leezu opened #11551 "NDArray __getitem__ reads invalid memory with advanced indexing and negative indices"
## Description
Consider

[code]
The second statement results in non-deterministic and wrong results:

[code]

## Environment info (Required)
At least on mxnet 1.2 and master

[2018-07-04 00:42] szha commented on #11549
Does the speed difference come from IO or model?

[2018-07-04 00:42] leezu opened #11552 "broadcast_reduce_op does check for negative axes"
## Description
Consider
[code]

Results in

[code]

The expected behavior is to either check and report that negative axes are invalid or to wrap around.

[2018-07-04 01:16] rahul003 commented on #11549
The IO because for a scenario with less IO load (batch size of 1024 as against the 2048 batch size above), speed of pip package is as expected.

[2018-07-04 02:04] szha commented on #11549
I see, so you are seeing little to no difference in performance if you use dummy data? I will check what the apt package has for opencv. Note that it may end up not being feasible for pip package, given that we cannot optimize for specific hardware, for portability.

[2018-07-04 03:29] #11541 closed

[2018-07-04 03:31] sandeep-krishnamurthy commented on #11536
pypi --pre package should get you nightly master builds. @anirudhacharya  - `pip install mxnet --pre` will get `get_model_metadata` API?

[2018-07-04 03:34] anirudhacharya commented on #11536
yes it should.

[2018-07-04 03:36] sandeep-krishnamurthy commented on #11538
@omarkaraksi - Can you please provide code snippet you are using?
At high level looks like context is not being set correctly or you are trying to use GPU on a CPU MXNet build.

[2018-07-04 03:42] #11413 closed

[2018-07-04 03:43] sandeep-krishnamurthy commented on #11412
@aaronmarkham - Can you please help?

[2018-07-04 03:44] #11400 closed

[2018-07-04 03:44] #11393 closed

[2018-07-04 03:53] sxjscience commented on #9253
@ifeherva NoJIRA issue for this one yet.

[2018-07-04 06:32] thomasmooon commented on #10721
@jeremiedb Well, in general my experience is that a better documentation is desirable. Especially with minimum reproducible runnable examples for R for each layer / method. Hence, if I would restart with MXNet I'd first learn python and then use the MXNet Python. This doesn't answer your "specific feature" question, there were / are a lot of small things in my use cases demanding hacking a lot aro

[2018-07-04 06:45] threeleafzerg commented on #11455
I tried many times but it can not be reproduced in local machine .
Do you know the reproduced step?
@marcoabreu

[2018-07-04 06:48] dingding2 commented on #6592
Hello, I encountered a likely problem. Is it propably the problem of the data we made by ourseves? I find that u talked about the label_pad_width, which is the number of objects in the picture. What do you think of the number of the estimated width 2288? What contributed to the 2288?

[2018-07-04 08:13] marcoabreu commented on #11455
I'd love to help! Could you please describe how you try to reproduce the issue?

[2018-07-04 08:53] pengzhao-intel commented on #8532
The numpy from conda includes the mkl package which conflicts with MXNET.
The good news is the latest mkl package resolved this issue from mkl-2018.0.3.

Thus, updating the numpy in conda to 1.14 will resolve this issue.

@tdomhan @fhieber please try again in your environment.
Feel free to let me know if you encountered any other issues.

[2018-07-04 09:19] smartadpole opened #11553 "源码编译报错"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-07-04 12:01] mitmul opened #11555 "Wrong conversion of `Split` operator of ONNX"
The `split` attribute of `Split` operator in ONNX is defined as `list of ints`:
https://github.com/onnx/onnx/blob/v1.1.0/docs/Operators.md#Split

However, this attribute is converted into `num_outputs` of `SliceChannel` in MXNet. `num_outputs` should be an integer value, so that this causes error when the ONNX file which has `Split` operator is imported by MXNet using `mxnet.contrib.onnx.import_mo

[2018-07-04 13:04] Ram124 opened #11556 "Training on image size of 31*512 throws an error : ValueError: attempt to get argmax of an empty sequence"
Hello all,
I have go this error when training on my own data with image size of 31*512..

What is the solution for this?? Is it possible to train the network with image size of 31*512??
Please someone give the solution for this error..
Any help is really appreciated.

INFO:root:{'ANCHOR_RATIOS': [0.5, 1, 2],
 'ANCHOR_SCALES': [8, 16, 32],
 'FIXED_PARAMS': ['conv1', 'conv2'],
 'FIXED_PARAMS_SHARED'