[2017-04-25 12:58] sxjscience commented on #5099
@alanhuang1990 It's the check that decides whether to turn on weight clipping.
[code]

[2017-04-25 13:04] sxjscience commented on #5099
@alanhuang1990 Also, correcting the way we handle weight-decay is necessary for research on optimization algorithms. We need to make sure that all the optimizers are solving the same objective function.

[2017-04-25 13:26] Mrugankakarte commented on #5948
@thirdwing @jeremiedb  Thanks!!

[2017-04-25 16:20] eric-haibin-lin commented on #5949
Do you mind contributing with a PR to make this documentation more
elaborative? It will be helpful for others, too

On 2017年4月23日 周日 at 16:22 Zhang Ming <notifications@github.com> wrote:

[2017-04-25 16:29] eric-haibin-lin commented on #5960
Thanks for pointing that out. We are still working on improving the documentation and tutorials. Do you mind contributing with a PR to fix it, when you have spare time?

On 2017年4月24日, at 20:48, Youssef <notifications@github.com> ...
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-04-25 16:32] ChristianEschen opened #5972 "Create loss function"
Hello!

I am about to implement a new loos function. My data is quite imbalanced, and thus I would like to pay more attention to the class with few samples.

It is regarding binary classification in image object detection.
The cost function I would like to implement is
loss = w_pos * y * log sigma + w_neg * (1-y) * log (1-sigma)

data=mx.sym.Variable('data')
label=mx.sym.Variable('label')

out=mx.

[2017-04-25 16:56] EvanzzzZ commented on #5963
After I changed all the NDArray into 'float64', python throw exception and terminate.
Here is the error report,
`terminating with uncaught exception of type dmlc::Error: [09:50:15] src/engine/./threaded_engine.h:336: [09:50:15] src/operator/tensor/./matrix_op-inl.h:360: Check failed: outputs[0].type_flag_ == mshadow::kFloat32 (1 vs. 0) dot only support 32 bit float so far`

What I missed here?

[2017-04-25 18:03] abyoussef commented on #5960
Yes sure, I can help fix this issue and more.

[2017-04-25 18:22] jkbradley commented on #5134
Does this thread cover `mxnet-mkl`?  If so, I'm hitting issues with installing it via `pip`.  Running `pip install mxnet-mkl` returns error:
[code]

Note that https://pypi.python.org/pypi/mxnet-mkl does not actually exist, though https://pypi.python.org/pypi/mxnet-mkl/0.9.3 does.

Thanks!

[2017-04-25 20:02] Bumblebee1964 opened #5976 "how to build im2rec from im2rec.cc on a Windows machine?"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: Windows 10, x64

Compiler: VS2015

Package used (Python/R/Scala/Julia): c-api

MXNet version:

Or if installed from source: 0.9.4

MXNet commit hash (`git rev-parse HEAD`):

If you are using python packa

[2017-04-25 20:48] kice commented on #5976
You need to build mxnet your self and create a new vc project and reference the mxnet solution.

[2017-04-25 23:05] coforfe commented on #5895
Hello,

I have just updated to R 3.4.0 in my Mac (macSierra) machine and when trying to install `mxnet` I get this error (attached is my `version`):

[code]
And the `version` of my system is this:

[code]

Thanks,
Carlos.

[2017-04-25 23:06] arank opened #5978 "Low Precision Support for Inference and Training"
Opening issue to track low precision (int8, fp16) training and inference progress as well as support for CUDA8 int8,fp16 acceleration support.

[2017-04-25 23:10] arank commented on #5978
@piiswrong Can we move this to the "feature request" project in the "in progress" column given @ZihengJiang is working on this and there have been may user requests to track progress on this feature?

Thanks!

[2017-04-25 23:38] Mrugankakarte opened #5979 "Same prediction values for linear regression while using mxnet in R"
I am new to mxnet and I'm trying to solve a linear regression. My training data contains 1460 observations and 303 variables.

I am using R v3.4.0. Since mxnet is not updated for R v3.4.0 , I have installed mxnet using `install.packages("https://github.com/jeremiedb/mxnet_winbin/raw/master/mxnet.zip", repos = NULL)` as mentioned by jeremiedb in #5948.

I created following frame for the neural netw

[2017-04-25 23:38] kice commented on #5952
[code]
I use the new method to load a picture as a label, and it should be fine.

BTW, I found that I used first Convolution's weight twice. After fixing the line, everything works fine.

[code]

[2017-04-25 23:39] #5952 closed

[2017-04-26 01:11] szha commented on #5134
@jkbradley thanks for bringing this up. This issue does not cover the mxnet-mkl since it hasn't been released yet.

I attempted an experimental release for MKL version based on 0.9.3. During the process, I caught some issues (which were later fixed in #5085 etc), so I took down all the uploaded artifacts. MKL version will be available for the next release.

[2017-04-26 02:31] CynthiaProtector commented on #3611
Edit the `_config.mk_` to set `USE_DIST_KVSTORE=1` is useless to make **mxnet** support distributed mode once you have compiled the file. You should
 `make clean_all`
and then
 `make -j$(proc) USE_DIST_KVSTOE=1 USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_BLAS=openblas USE_CUDNN=1`
Just consult the official website
[http://mxnet.io/get_started/build_from_source.html](url)
If you are accessible  to

[2017-04-26 02:36] Ceolium commented on #5755
It's ubuntu/images/hvm-ssd/ubuntu-trusty-14.04-amd64-server-20160627 (ami-2d39803a)
[type g2.8xlarge]

[2017-04-26 02:38] Ceolium commented on #5755
It seems like the code is using gpu resource because when I put 'nvidia-smi' to server, it says I am using it.
But when I ran it on other properly working ubuntu server (14.04 LTS  also) shows messages like below:
           used  (Mb) gc trigger  (Mb) max used  (Mb)
Ncells  1459016  78.0    2637877 140.9  1459016  78.0
Vcells 14991815 114.4   22282032 170.0 14991815 114.4
[1] TRUE
[1] TRUE
[1] TR

[2017-04-26 06:48] Bruce92 commented on #4360
I also come into this problem. If directly use int(label[i]), it would report "TypeError: only length-1 arrays can be converted to Python scalars". I just followed the instructions of the Tutorial and I think the code of Demo should be free of bugs.

[2017-04-26 06:53] kernel8liang commented on #5966
got, from op's ListArguments().

[2017-04-26 06:53] #5966 closed

[2017-04-26 08:39] mcxkarakoc commented on #5759
I think this issue should be reopened and marked as bug since` ImageRecordIter `works incorrectly. @kevinthesun

[2017-04-26 08:40] zhipeng-jia opened #5981 "Normalization is not done in SoftmaxOutput if N-D label probability array is given"
From https://github.com/dmlc/mxnet/blob/master/src/operator/softmax_output-inl.h#L124, I found normalization property is ignored if shapes of output and label are equal.

Also from https://github.com/dmlc/mxnet/blob/master/src/operator/softmax_output-inl.h#L171, I found the gradient is divided by s3[2] even if normalization is null. But in the documentation, it says null means "do nothing". I beli

[2017-04-26 09:03] Godricly opened #5982 "An elegent solution for WGAN-gp gradient penalty"
Is there any elegant way to compute gradient of WGAN-gp gradient loss term in MXNet?  It seems that I have 2 handcraft it.

the one in tf looks very convenient.
[code]

[2017-04-26 09:07] mcxkarakoc opened #5983 "Memory leak in Module. Bug?"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: Ubuntu 16.04

Compiler: gcc

Package used (Python/R/Scala/Julia): Python

MxNet commit hash: f89f96540ec477de6f2e0fee5001df0b78810316

If you are using python package, please provide

Python version and

[2017-04-26 09:50] sxjscience commented on #5982
(Point to the discussion here) https://github.com/dmlc/mxnet/issues/5699

[2017-04-26 09:53] Godricly commented on #5982
closed for duplication.

[2017-04-26 11:45] Soonhwan-Kwon commented on #5979
try mx.random.seed(hash(datetime.now())) on the top of your code. Initialization of parameters are same if there is no random seed.

[2017-04-26 11:51] Soonhwan-Kwon commented on #5969
It is just warning and there is no valid predict function for multi device for model. Try look at function do_training in the example https://github.com/dmlc/mxnet/blob/master/example/speech_recognition/train.py, it has module implementation.

[2017-04-26 12:28] ysh329 commented on #5835
Same problem on a server which has been installed MXNet by some user.

[2017-04-26 13:28] leezu commented on #5099
@alanhuang1990 Can you clarify what you mean by

The code you refer to is implementing weight clipping, which is useful for certain scenarios such as training a network according to the [WGAN paper](https://arxiv.org/abs/1701.07875). It is independent of gradient clipping.

[2017-04-26 13:31] SaharIr commented on #5760
Is there any update about my problem? I would appreciate if someone can help me to find the reason why Tensorflow has better performances than MxNet ? Is there any thing wrong with my codes or the problem is comming from MxNet?

[2017-04-26 15:58] zhreshold commented on #5760
For mxnet, line 85
[code]
This is useless, you must specify it in the create function
[code]
Otherwise it's using default Uniform initializer

[2017-04-26 16:34] great-thoughts commented on #747
Any updates?

[2017-04-26 17:06] jkbradley commented on #5134
Oh OK thanks @szha for the quick response!  Some of the docs indicate that it has been released, so you may get more queries about it: http://mxnet.io/get_started/index.html

[2017-04-26 17:42] mli commented on #5891
@austingg can you please provide more information how slow it is?

[2017-04-26 20:22] zhreshold commented on #5891
@mli
The num_group trick is not optimized for gpu, especially cudnn
.
I posted it on gist for the simulated version of vgg: https://gist.github.com/zhreshold/bb9ddae7e3ba371e469b9084c5cccd8c
and the results using train_imagenet.py with --benchmark
[code]

Compared to original vgg in example
[code]
Theoretically we should get 9x faster, but it's 3x slower using num_group trick on gpu.

Now switch t

[2017-04-26 21:13] Mrugankakarte commented on #5979
Gives error could not find function mx.random.seed

Does this require any library other mxnet? Also, is this not same as using `>mx.set.seed(seed)` ?

[2017-04-26 21:22] jmacglashan commented on #5972
The problem isn't with the creation of your loss function. The issue is with how you're initializing your network weights. Specifically, it seems it's trying to initialize the values for your label variable, and it's complaining because it doesn't know an initialization strategy for a variable named label. Indeed, you shouldn't be initializing it, because it's a data input, not a weight :p

So the

[2017-04-26 21:24] jmacglashan commented on #5972
P.S. I highly recommend that your final symbol group the prediction value with the loss, otherwise you'll only be able to get the output of the loss and not what it predicts :p That is,

[code]

(The block grad is used because there is no top gradient for the prediction and you don't want the gradients to be wrt it)

[2017-04-26 21:50] piiswrong commented on #747
should be fully supported now

[2017-04-26 22:21] domdivakaruni opened #5993 "test"
#For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:

Compiler:

Package used (Python/R/Scala/Julia):

MXNet version:

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are using python package, please provide

Python version

[2017-04-26 22:21] #5993 closed

[2017-04-26 22:49] lincolnBush opened #5994 "Any feature to access loss value in mxnet like keras package for tensorflow"
In keras optimizers.py:

def get_updates(self, params, constraints, loss):

while in mxnet we only have weight and grad in update function:
Is it convenient to change mxnet to have such feature

[2017-04-26 23:30] kevinthesun commented on #5994
Do you mean you would like to access loss inside optimizer update method?

[2017-04-26 23:36] nikrao opened #5997 "incomplete write when trying to save/load module"
I am training a model iteratively, by saving the model after each minibatch and loading it to continue training. When I reach around 1575 iterations, I get an error saying there's an incomplete write. Any idea what might be wrong? The  size of the data that i'm loading does not seem to affect this much

EDIT: it seems this is a memory issue, and my machine is out of memory. This is because im savi

[2017-04-26 23:38] saurabh3949 opened #5998 "Prefetching data using "parallel" threads"
Does mxnet provide a method to prefetch data into a queue using multiple threads that **actually run in parallel?**

I have textual data and not images. I am using python and multithreading in python is not parallel so I need to use a C++ based method for reading data in a parallel fashion.

In short, does mxnet have a similar method like that of tensorflow's coordinator and queue runner?
https://

[2017-04-26 23:49] Soonhwan-Kwon commented on #5979
Yes it is . I confused you are using python version. If you put seed any other integer value it may leads you different prediction.

[2017-04-27 00:19] Yangqing opened #5999 "Thread local storage implementation is buggy"
Hey there, so I was randomly browsing the codebase because of jetlag in France, and stumbled upon the thread local storage code here:

https://github.com/dmlc/mxnet/blob/master/src/common/thread_local.h#L34-L74

I think what happens is that the code does not properly releases the underlying objects when a thread starts, and only releases them when the program exits.

Note that `static MX_TREAD_LOC

[2017-04-27 00:38] jiajiechen commented on #5981
Hi Zhipeng,

You are right the normalization mode is only applied when the softmax output has different shape than the label.

This API's doc is still under modifying. Here is a preview. Let me know if you have more comments.

<img width="1070" alt="screen shot 2017-04-26 at 5 32 07 pm" src="https://cloud.githubusercontent.com/assets/9403337/25462918/1eb1a340-2aa7-11e7-9f78-393f8cc9e68a.png">

As

[2017-04-27 00:55] tqchen commented on #5999
thanks @Yangqing for the headup, it is fixed in https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/thread_local.h

The thread_local header in mxnet repo seems to be some legacy code that should be removed @piiswrong

[2017-04-27 00:59] Yangqing commented on #5999
Um https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/thread_local.h#L26 the pragma should be an error() instead of message(), because the underlying storage is still not freeing per-thread when `DMLC_CXX11_THREAD_LOCAL` is not set, right?

[2017-04-27 01:01] tqchen commented on #5999
Well, we fallback to the kinda of thread local version that de-allocates when program exits, which is not the ideal thing to do, but allow the user user with old systems to still use a degraded version

For Mac users, actually thread_local is properly support in xcode8 https://github.com/dmlc/mxnet/blob/master/.travis.yml#L9

[2017-04-27 01:01] antinucleon commented on #5999
Apple allows use this in my mind, if you upgrade to xcode 8.0
On Wed, Apr 26, 2017 at 17:55 Tianqi Chen <notifications@github.com> wrote:

--
Sent from mobile phone

[2017-04-27 01:02] Yangqing commented on #5999
Ah OK, good to know. Yeah I know the recent mac supports thread_local.

[2017-04-27 01:02] #5999 closed

[2017-04-27 01:36] nicklhy commented on #5699
Is it possible to implement Minpy's autograd feature in MXNet?

[2017-04-27 01:54] ZihengJiang commented on #5699
@nicklhy We are working on it, it is still experimental and not released yet https://github.com/dmlc/mxnet/blob/master/python/mxnet/contrib/autograd.py#L172

[2017-04-27 01:55] austingg commented on #5891
@mli  The mobilenet is trainning on the way.  Currently, an epoch(ImageNet) costs about 6500 s on two GTX 1080 card.
[code]

[2017-04-27 02:29] domdivakaruni opened #6000 "API Doc Improvements - Tracking"
## Let's fix our docs!
The effort to spruce up MXNet's Python API docs is picking up steam but could use **your** help to add that extra oomph! Many of the APIs now have proper explanations and good examples, but we still have much more to go!

![alt text](https://s3.amazonaws.com/mxnetdoc/fist.jpg "Make our docs great again!")

## Here’s how you can join in and help:

1. ### **Pick a few function

[2017-04-27 02:46] #5982 closed

[2017-04-27 03:39] moveforever commented on #5747
@zihaolucky , i have came across same problem that the same program run in different machine, and there appear different result, one is normal, the other is a vibrating result.
#4546

[2017-04-27 04:12] eric-haibin-lin commented on #5953
GPU is not required. You can do dist training with CPU. The framework supports both

On 2017年4月23日, at 22:09, juilin <notifications@github.com> wrote:

Hi,

I am planning distributed training by using MXNet. Do I need to allocate a GPU machine for parameter server? Is MXNet parameter server CPU-based or GPU-based?

Thanks,
Juilin

—
You are receiving this because you are subscribed to this thread.

[2017-04-27 05:55] piiswrong commented on #5998
text is small and easy to load. Are you sure IO is the bottleneck and you really need multithreading?
Most text data fit in memory so you can preload everything

[2017-04-27 06:17] piiswrong commented on #6000
NumpyOP pythonop and ndarrayop are deprecated. We only support customop now

[2017-04-27 06:23] naidu0830 commented on #6000
I will document "LinearRegressionOutput" API

[2017-04-27 06:37] jordan-green commented on #1816
@jmerkow I came to the same solution but limited the search to usr/local which may (or may not) be faster on large file systems:
`find /usr/local -name "libippicv.a"`

I can confirm @jmerkow's solution worked on Ubuntu 16.04

[2017-04-27 07:38] #5425 closed

[2017-04-27 07:38] #5939 closed

[2017-04-27 08:14] ysh329 commented on #2936
same problem

[2017-04-27 08:15] sbodenstein commented on #3556
@erikbeall: apologies for not getting back to you earlier, lost track!

Have you made any more progress implementing reflection padding? I need support for this as well now, so I can add it if you haven't done too much work on this yet.

[2017-04-27 08:47] ysh329 commented on #5835
After set `USE_CUDNN=0` :crying_cat_face: , it's ok :rofl:

[2017-04-27 09:57] lincolnBush commented on #5994
@kevinthesun  Yeah, do you get any ideas

[2017-04-27 11:25] asmushetzel commented on #6000
I will document all samplers and randoms as I anyway enhanced or authored them, namely

 random_gamma
random_exponential
random_poisson
random_negative_binomial
random_generalized_negative_binomial

sample_uniform
sample_normal
sample_gamma
sample_exponential
sample_poisson
sample_negative_binomial
sample_generalized_negative_binomial

I may need more than 2 business days but should be definitely

[2017-04-27 12:24] starimpact opened #6005 "An advice for set_params() when using kvstore"
finally, I found why my training loss can not decreased with kvstore.
that is because kvstore can not get the new weight value after its init.
kvstore only updates the weight in itself.
set_param() can not affect the weight of kvstore actually!
but, In my training, I need to exchange the weight value periodically.
So, I suggest kvstore can accept the new weight value by using set_params() in the t

[2017-04-27 12:34] BensonBlack opened #6006 "How can I get several layers's features at the same time using mxnet-cpp?"
mxnet/cpp-package/example/feature_extract/feature_extract.cpp

    net = Symbol::Load("./model/Inception_BN-symbol.json")
              .GetInternals()["global_pool_output"];

This code can only get one layer's features.
How can I get several layers's features at the same time ?
How can I get the final output and get several layers's features at the same time ?

[2017-04-27 13:45] starimpact opened #6007 "the default optimizer_params['rescale_grad'] = 1.0/batch_size is not right when kvstore=None"
each device will update the weight with ```grad_scale=1.0/batch_size```, and batch_size is the sum batch size of all devices. it is ok for kvstore updating, but too small for non-kvstore updating. when doing non-kvstore updating, each device is keeping own weight, and be synchronized after calling set_params(). and get_params() will average the weights of all devices. so finally, the weight updati

[2017-04-27 14:34] SaharIr commented on #5760
I've applied that on my code, but it haven't solved the problem. Is there anything else that I could apply to merge these performances?

[2017-04-27 14:39] moontails commented on #6000
I will document Functions from 125 to 147 in the rnn package.

If I get more time, I will also work on 161-168

[2017-04-27 16:02] zhreshold commented on #5760
I look at you mxnet code again, change
[code]
to
[code]
You are directly reshaping so the images are corrupted along x axis

[2017-04-27 16:53] domdivakaruni commented on #6000
@moontails that is tremendous thank you!  Do you plan on making PR's or creating Issues with your functions in markdown? When you are done with your first function send it in so we can help with a review before you get rolling with the rest. great stuff!

[2017-04-27 16:58] moontails commented on #6000
@domdivakaruni I was thinking of creating PR's.

Thats a good idea! I will submit a PR when am done with the changes for the first function and gather all feedback before diving in on the rest :)

[2017-04-27 17:37] neiledgard opened #6010 "saving and loading params yields worse results"
## Environment info
Ubuntu 16.04.2 LTS \n \l
Linux as 4.10.0-041000-generic #201702191831 SMP Sun Feb 19 23:33:19 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4)
Python 2.7.12

MXNet commit hash:
fdadaca2785068abcc2f31101769e7e065d86776

GPUs:
4 x GTX 1080 Ti

## Symptom:
Image classification example is running and saving after every epoch.
Eventu

[2017-04-27 17:50] zhipeng-jia commented on #5981
@jiajiechen Thanks for your quick reply.

[2017-04-27 18:04] piiswrong commented on #6010
can you describe the log? What is show degraded perf?

[2017-04-27 18:13] kevinthesun commented on #5994
[code]
This is update method of module. You can override it to do extra work when updating.

[2017-04-27 19:02] neiledgard commented on #6010
Before exiting the previous training (that ended at epoch 28), the training accuracy increases up to around 0.97. After exiting and reloading epoch 28, you can see training accuracy going down

By keeping it run, it will converge back to around 0.97:

[2017-04-27 19:18] piiswrong commented on #6010
Most like because you didn't decrease learning rate

[2017-04-27 19:20] SaharIr commented on #5760
Thank you very much for your taking time. I change the code based on your comment and it is working! I got the same accuracy as Tensorflow.

[2017-04-27 19:25] neiledgard commented on #6010
As of my best understanding, it shouldn't matter, from epoch 0 to 30 lr doesn't change either way. Also it doesn't matter where I cancel the training and reload the last epoch's parameters, it is always much lower perf compared to if I just don't cancel it.

[2017-04-27 19:46] zhenwendai commented on #6000
I can document some of ndarray operators:

102 gamma ndarray
103 gammaln ndarray
104 identity ndarray
105 load ndarray
106 moveaxis ndarray

[2017-04-27 21:34] coforfe opened #6015 "mxnet binary installation error - Mac (10.12.4) - R (3.4.0)."
Hello,

I have just updated to R 3.4.0 in my Mac (macSierra) machine and when trying to install `mxnet` following what appears [here](http://mxnet.io/get_started/osx_setup.html#install-the-mxnet-package-for-r)  get an error. It seems like the page is not reachable:

[code]
The issue is that in another [page](http://mxnet.io/get_started/index.html) it says that the binary package for `R`is still un

[2017-04-27 22:02] domdivakaruni commented on #6000
Hi @moontails do you want to call ownership of all 22 rnn functions at once or do you want to stake your claim in batches as you make progress?

[2017-04-27 23:02] lincolnBush commented on #5994
Thank you very much. But this still seems hard to solve. Because there seems to be no interface to access loss value only grad is provided. It maybe needed to change some c++ code.

[2017-04-27 23:24] piiswrong commented on #6010
@mli Get someone to take a look?

[2017-04-27 23:50] thatindiandude opened #6018 "Training MNIST example with VGG broken"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:
Ubuntu 14.04

Compiler:
gcc 4.8.4

Package used (Python/R/Scala/Julia):
Python

MXNet version:

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):
06f1c4dee7636f7db3ae22d192ec0ee1a09

[2017-04-28 02:00] jxwjasonborne commented on #4313
@piiswrong  Hi. When I run your code using the command "python a3c.py --test --batch-size=32 --gpus=0", there exists error at "dataiter = robo_data.RobosimsDataIter()". I want to ask where to get the code of robo_data. Thanks!

[2017-04-28 02:15] yuruofeifei commented on #6000
I will work on zeros_like, ones_like, softmax_cross_entropy, c_array, c_str

[2017-04-28 02:38] #6007 closed

[2017-04-28 02:39] wdx04 commented on #5940
Just replace dnnAlgorithmPoolingAvgIncludePadding with dnnAlgorithmPoolingAvg and do not use average pooling with padding in your model design.
I was able to compile libmxnet with Visual Studio 2015 and MKL2017 Update 2 on Windows and run train_mnist.py on both CPU and GPU without problem. But training my own FCN-like model for semantic segmentation on GPU strangely crashed inside a MKL dll(even i

[2017-04-28 03:46] FCInter opened #6020 "Cannot reproduce a model using the model parameters."
## Environment info
Operating System:
CentOS 6.6

Compiler:
gcc-4.8

Package used (Python/R/Scala/Julia):
Python

MXNet version:

Or if installed from source:
from source

MXNet commit hash (`git rev-parse HEAD`):

If you are using python package, please provide

Python version and distribution:
Python 2.7.12 |Anaconda custom (64-bit)

## Error Message:
Cannot reproduce a model using the model par

[2017-04-28 04:23] jhwei commented on #6000
I can work on resize_short, scale_down.

[2017-04-28 06:03] domdivakaruni commented on #6000
@yuruofeifei @jhwei @zhenwendai good stuff!

[2017-04-28 07:22] Cv9527 commented on #5942
@starimpact could you share code of cpp multithreads preprocessing code ?

[2017-04-28 07:26] Mrugankakarte commented on #5979
I'm trying to predict house prices. Same prediction as in I get same predicted values for every predictor.

`head(preds)`
`119142.6 119142.6 119142.6 119142.6 119142.6 119142.6 119142.6 119142.6 119142.6 119142.6`
here preds contains all the predectied values of each test variable.

[2017-04-28 07:37] mcxkarakoc commented on #5983
FYI
I think these are similar issues:

#2981
#1176
#3055
#2827
#1946
#1677
#1432
#1526
#2827
#1301

As I see, no basic solution yet.

[2017-04-28 08:00] mcxkarakoc commented on #5983
@wshenx Since you seem into the this problem, I'd like to ask to you.  Did #2927 really solve the problem? I couldn't find any solution to my problem above. I've tried almost everything. Now, I'm at the point where I will use a subprocess for each module so that CUDA memory will be release after the termination of each subprocess However, this will make my application really complex. If I cannot f

[2017-04-28 08:11] mcxkarakoc commented on #5983
I've noticed just now that there is Module.reshape. I will try it. I hope it solves my problem.

[2017-04-28 08:34] 123chengbo commented on #6018
your image resolution is too small （mnist ：28*28、and you use the original size），so it is too small for vgg（）。
try other dataset and make sure the size is large enough

[2017-04-28 10:01] ysh329 opened #6023 "pip install error: No matching distribution found for mxnet-cu80"
I install mxnet-cu80 on CentOS7 (**Power Linux**) , which has been installed cuda.

[code]

[2017-04-28 11:04] great-thoughts opened #6024 "How to convert the C++ syntax to python"
I find it helpful to read the source code to find it useful functions for my application. The problem is I am not sure how to write the corresponding file function in python. Is there a general template that I can use to convert from c++ to python. For example I am trying to convert a model from caffe and I see there is a function convert_model.

[2017-04-28 17:18] Soonhwan-Kwon commented on #5979
maybe after feedforward.create you need model.fit(X=train.y) to train your model.

[2017-04-28 17:19] antinucleon opened #6027 "[Doc] Check Dead links"
There are still many dead links in doc, eg,
In http://mxnet.io/tutorials/python/module.html, there is a dead link

https://github.com/dmlc/mxnet/tree/master/doc/tutorials/python/data.ipynb

I suggest add a dead link checker in CI.

[2017-04-28 17:32] moontails commented on #6000
@domdivakaruni either works fine for me. I had hoped to send out a PR yesterday to get some feedback before working on the rest, but ran into some issues setting up the repo (with the whole installing mxnet and make lint)

[2017-04-28 18:12] domdivakaruni commented on #6000
@moontails did you get it worked out? Let me know what you ran into.
@nswamy fyi

[2017-04-28 18:28] nswamy commented on #6000
@moontails whats the issue that you are running into?
@domdivakaruni can we have folks picks few APIs at once and add more to their bucker as they make progress?

[2017-04-28 20:08] juicedatom commented on #2662
@acgtyrant So, did you end up compiling mxnet with GCC6 and cuda 8? what did you have to change?

[2017-04-28 20:22] Lyken17 commented on #6000
I can document 6~11.

Question : Should we use `reST` or `Markdown` for improvement through github issues? This page says `Markdown`, but [pull request pages](https://s3.amazonaws.com/mxnetdoc/API+Doc+Contributions%281%29.pdf) requires `reST`.

[2017-04-28 20:37] Mrugankakarte commented on #6015
Mxnet is not yet updated for R v3.4.0

[2017-04-28 20:57] Mrugankakarte commented on #5979
`mx.model.feedforward.create()` trains the model.
Issue #4287 has an example comparing nnet, nerualnet and mxnet packages. I have written similar code but for some reason I am not getting the desired output.

[2017-04-28 21:18] thatindiandude commented on #5891
I'm experiencing an error when replacing the first 5x5 conv layer like so:

[code]

in lenet when using `python train_mnist.py --network lenet`:

[code]

Is there something I'm not doing properly?

[2017-04-28 21:26] nswamy commented on #6000
@Lyken17 please prefer to use `reST` and submit a PR. If you want to just submit doc outside of the  the code(python doc string or describe method of C++ code)  use either `reST` or  `Markdown` and submit an issue.

[2017-04-28 22:02] arank commented on #647
@furlat any guidance here?

[2017-04-28 22:13] nswamy commented on #6000
@zhenwendai, The docs for these APIs are already updated. Could you please pick a different set?
102 gamma ndarray
103 gammaln ndarray
104 identity ndarray

[2017-04-29 01:08] szha opened #6031 "Error in one_hot in MXNet with cuDNNv6"
@DickJC123 I was working on building the binary distribution with statically linked cuDNNv6 and discovered that mxnet python api doesn't pass some tests. I'm guessing that some changes have been missed from #5606

## Environment info
Operating System: ubuntu14.04
Compiler:gcc/g++4.8.4
Package used (Python/R/Scala/Julia):python

Installed from source: https://github.com/dmlc/mxnet/tree/703e8eeb1171

[2017-04-29 01:08] szha commented on #6031
@piiswrong

[2017-04-29 06:23] szha commented on #6023
What's the output of this command?
[code]

[2017-04-29 06:50] boofhead opened #6032 "can't build with CUDA on macOS 10.12.4"
I'm having trouble building mxnet shared library from source with Cuda and Cudnn. I can compile and run the CUDA samples so nvcc seems to be working ok. building with attached config.mk and `make
 -j`

## Environment info
Operating System:
macOS 10.12.4

Compiler:
Apple LLVM version 8.0.0 (clang-800.0.42.1)
Target: x86_64-apple-darwin16.5.0
Thread model: posix
InstalledDir: /Applications/Xcode_8.2

[2017-04-29 07:30] leezu opened #6034 "[Discussion] Revise Module API (get_outputs, get_input_grads, ...)"
Currently Module.get_outputs(), Module.get_input_grads(), etc. return a list and the user is responsible to use the correct index to get the correct output, input gradient, etc.

This is error prone and requires a tight coupling between different parts of the code (i.e. a user can't change the order of inputs without changing all the parts of the code where he is calling the get_input_grads() meth

[2017-04-29 09:34] saicoco opened #6035 "[DOC]Doc's little error"
I just find a little error in [how to finetune](http://mxnet.io/how_to/finetune.html), the code shows as following:

[code]
In method `fit`, the  `arg_params` and `symbol` are not used in method, the `new_sym` and `new_args`　should be `arg_params` and `symbol`

[2017-04-29 14:46] ysh329 commented on #6023
pip 9.0.1 from /usr/lib/python2.7/site-packages (python2.7)

[2017-04-29 14:55] ysh329 opened #6038 "How to install and use tensorboard in MXNet?"
I found there's a tutorial about [Understanding the vanishing gradient problem through visualization — mxnet 0.9.3 documentation](http://mxnet.io/tutorials/python/understanding_vanish_gradient.html), which used tensorboard to visualize result change.

However, how can I enable this magic tensorboard? Install TensorFlow first? and then? Thanks a lot!
![TB](https://raw.githubusercontent.com/zihaoluc

[2017-04-29 14:59] sifmelcara opened #6039 "ThreadedOpr::Delete(threaded_opr) being called multiple times"
## Environment info
Operating System: Linux
Compiler: gcc 5.4.0
Package used (Python/R/Scala/Julia): C++
MXNet version: 703e8eeb117109ea345639610780e30775056412 (current master)

## Error Message:
`segmentation fault` or `free: invalid pointer`

## Steps to reproduce

1. set cuda, cudnn, openblas, opencv flags, and USE_CPP_PACKAGE = 1 in config.mk
2. make -j4
3. run `LD_LIBRARY_PATH=$LD_LIBRARY_PA

[2017-04-29 15:08] sifmelcara commented on #5728
Since @eric-haibin-lin reported that @GaiYu0's  issue probably been fixed by 96eb4f5a1a96e586be3558ab094b7d0139478365 , I guess my issue is somewhat different from this issue.
After several days of code tracing, I still cannot solve my issue so I opened another issue #6039 .

[2017-04-29 19:13] jeremiedb opened #6040 "DCGAN demo for R-package"
I prepared a compact demo of conditional generative network on MNIST. Feel free to add to the How To for R or let me know if some adaptations would be needed.
https://github.com/jeremiedb/gan_example

[2017-04-29 19:16] juilin commented on #5953
@eric-haibin-lin,

Thanks for the answer. Do I need to do anything to enable GPU support in parameter?

Regards,
Rui-Lin

[2017-04-29 21:07] rpng-guest commented on #5630
OpenCV3 has issues linking with -lopencv_imgcodecs. mxnet uses pkgconfig to find the opencv libraries, and opencv generates an opencv.pc, or opencv-3.2.0-dev.pc file somewhere for this. Copy the opencv.pc file into /usr/lib/pkgconfig/ and mxnet should be able to find the opencv binaries.

[2017-04-30 03:40] dushoufu opened #6041 "How to identify whether the content of the rec files for training are correctly generated?"
I train the vgg on the MS-Celeb-1M, finding that it doest's converge at all.
I'm convinced that it has something to do wtih the dataset itself, because this can perform well on others datasets, and I also use part of  MS-Celeb-1M to change the number of the classes and samples of the dataset, but the result is the same.

I wonder who have the similare experience. I in particular suspect the input

[2017-04-30 03:54] piiswrong commented on #6038
see dmlc/tensorboard repo

[2017-04-30 03:57] piiswrong commented on #6034
we can add get_output_dict

[2017-04-30 05:49] akturtle opened #6043 "Are there any examples or instruction of using data augmentation in ImageRecordIter_v1?"
New ImageRecordIter_v1 provides rich data augmentation options.  But i don't know how to use them.
Are there any examples or instruction of using data augmentation in ImageRecordIter_v1?

[2017-04-30 07:39] ysh329 commented on #6038
@piiswrong Thanks a lot!

[2017-04-30 07:39] #6038 closed

[2017-04-30 08:00] zihaolucky commented on #6038
@ysh329 You can `pip install tensorboard` under a same env of your MXNet.

[2017-04-30 08:24] ysh329 commented on #6038
@zihaolucky Yes, I'm installing :laughing:

[2017-04-30 08:28] zihaolucky commented on #6038
And we have a callback for you. https://github.com/dmlc/mxnet/blob/master/python/mxnet/contrib/tensorboard.py

[2017-04-30 10:00] xinghedyc opened #6044 "How can I crop a feature map through given coordinates like croping an image？"
Hi, everyone. I'm trying to crop a feature map from given coordinates, like ROIAlign operation in resent paper Mask RCNN. Is there any way to do such thing?

[2017-04-30 17:03] hwang595 opened #6046 "skip_exec_node seems won't work for forward_backward nodes in computational graph"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:
ubuntu 14.04
Compiler:
gcc 4.8.4
Package used (Python/R/Scala/Julia):
Python and C++
MXNet version:

Or if installed from source:
build from source with GPU enabled
MXNet commit hash (`git rev-parse HEAD

[2017-04-30 19:25] hwang595 opened #6047 "skip_exec_node doesn't work for forward_backward nodes in computational graph"
Hello,
I’m doing a synchronous distributed machine learning project, where I am trying to terminate some of the slower instances(workers) per distributed iteration. This means that out of the n workers, I want to only wait for k workers (say 90%) to complete their gradient computations. At the same time, I would like to terminate the n-k workers that haven’t reported their gradients back to the ma

[2017-04-30 19:27] #6046 closed

[2017-05-01 00:14] yuramalna commented on #2788
@CodePothunter can you tell me how did you solve this problem?
I'm facing same problem while trying to train my model in R

[2017-05-01 01:36] szha commented on #6023
There should be versions that are available then. Could it be that there are more than one copy of pip that's on your system, and that the one invoked by sudo is different from the 9.0.1 one? Just to make sure, could you try to invoke the installation command using absolute path of the pip that returned version 9.0.1?

[2017-05-01 01:58] #6031 closed

[2017-05-01 03:23] piiswrong commented on #6047
computation is async. This is just pushing it to the engine.
you need a different stragegy

[2017-05-01 03:29] piiswrong commented on #6044
ROIPooling?

[2017-05-01 05:12] ascust commented on #5776
@piiswrong Any progress on this? I tried to modify it but it seems a little bit complicated because there are two parts, a legacy part and a newer part. Things got a little bit messed up.

[2017-05-01 07:31] baiyancheng20 commented on #5153
I have also met with this problem. Anyone has fixed it?

[2017-05-01 09:04] dushoufu commented on #6041
The clean list of  MS-Celeb-1M has around 500,000,000 images and 10,000 classes. with this type of scale of data, I find it difficult to adapt a suitable learning rate into to converge.

[2017-05-01 09:25] ysh329 opened #6050 "Save checkpoint error: local_filesys.cc:39: Check failed: std::fwrite(ptr, 1, size, fp_) == size FileStream.Write incomplete"
[code]

[2017-05-01 15:00] patricianing opened #6052 "converting caffe model"
I converted a caffe model to mxnet model on one machine and load the model to a mxnet docker container, when trying to load the model from the docker container, I see the following message,

"loading symbol saved by MXNet version 905 with lower version of MXNet v904. May cause undefined behavior. Please update MXNet if you encounter any issue"

I think the docker image is with mxnet version 0.9.3.

[2017-05-01 15:00] salemmohammed opened #6053 "MXNet threads and processes ?"
Hi all,

my question is not an issue but a request for help. I am interesting to reading MXNet core in depth. However, I kind of missing many points and it's currently difficult for me. My goal is to know everything related to create/kill threads and processes. Can anybody here point me out for documentation and part of source code should I read ?

Sincerely
Salem

[2017-05-01 15:01] salemmohammed commented on #6053
@mli

[2017-05-01 16:28] KayneWest opened #6054 ""input type to dropout is not specified" Error"
When building a model in 0.9.4 and using symbol.Variable to create a learnable weight, one will get an Error if that same learnable weight is used in mx.symbol.Dropout.

    def model():

        ...
        ...
        learnable_weight = mx.sym.Variable('learnable_weight', init=mx.init.Xavier(factor_type="in", magnitude=2.34))
        dp_lw = mx.sym.Dropout(data=learnable_weight,p=0.2)
        ..

[2017-05-01 16:59] zhuchen03 opened #6055 "How to implement gradient operators?"
I want to implement the improved WGAN with mxnet. However, the gradient penalty is a great headache. It is a complex loss function, which contains the data gradient. For simple loss functions, we can calculate the gradient of loss with respect to the output easily, but how to calculate the data gradient with respect to the output?

It seems that tensorflow has a gradient operator, just as the comm

[2017-05-01 17:13] bahshetsian commented on #1740
Ok guys the problem is that libmxnet.dll  dependent cudnn64_**5**.dll, i.e. you need to download not the last 6 version of the cudnn.

[2017-05-01 18:04] Prometheus77 opened #6056 "mxnet r: how to initialize new training session with results from previous session"
Dumb noob question, but after reading through tutorials and documentation and trying for several hours, I can't figure out how to initialize weights to the results of a previous training session. I'd like to be able to check every 50 rounds or so how the model is fitting my test set, and update learning rate, momentum, etc. accordingly. I've tried setting mx.model.FeedForward.create(..., arg.param

[2017-05-01 18:13] sookinoby opened #6057 "MNIST example has low accuracy (0.1)"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: Windows 10, GTX 960.

Compiler: I downloaded the 20160531_win10_x64_gpu..7z. I didnt compile mxnet

Package used (Python/R/Scala/Julia): Python

MXNet version: 20160531_win10_x64_gpu.7z

Or if installed

[2017-05-01 19:42] Prometheus77 commented on #6056
I'm closing my own issue. I got it to work in the following way:
model <- mx.model.FeedForward.create(...)
layer_weights <- model$arg.params
model <- mx.model.FeedForward.create(..., arg.params=layer_weights)

[2017-05-01 19:42] #6056 closed

[2017-05-01 20:10] mli commented on #6054
@piiswrong how about we set the default dtype for variable as float32?

[2017-05-01 20:49] yuruofeifei commented on #6053
Hi @salemmohammed

I'm also starting to read mxnet now, so my understanding will have lots of mistakes but we can learn together.

I think http://mxnet.io/architecture/note_engine.html is a very good documentation.

From what I'm understanding is after executor optimized the graph, we will push ops to engine in topo order.
There are 3 engines:
1.naive
2.threaded pool
3.threaded per device

threade

[2017-05-01 21:38] jmanela commented on #4522
@anguoyang did you ever get this working?

[2017-05-02 02:30] Luo-Liang opened #6063 "[Question] Where does the code for Server and Scheduler diverge from that of Worker?"
This is not a bug. I have a question.

I've been using https://github.com/tornadomeet/ResNet/blob/master/train_resnet.py this script to launch mxnet, but when it seems every role calls into the `FeedForward.Fit` method in Model.py which calls `_train_multi_device` and presumably starts training. But server role and scheduler should not be doing actual training besides launching their ps-lite insta

[2017-05-02 02:34] Luo-Liang opened #6064 "[Question] What would be the suggested way to initialize keys on server?"
This is not a bug. I have a question.

I'm porting ZMQVan to InfiniBand, which requires explicit buffer to be setup before data can be transmitted. This means I need to know beforehand the number of keys and the size of each key.

Currently the key on server is initialized by worker 0 calling into `KVStore::Init`, after `PostOffice.Start` is called where connections are set up. I'm wondering what

[2017-05-02 03:54] piiswrong commented on #6064
maybe you can setup a default small buffer for bootstraping

[2017-05-02 03:55] piiswrong commented on #6063
on import mxnet, if it's a server instance import kvstore_server will block

[2017-05-02 07:31] younglou commented on #2519
hi, @SupDataKing you said you have solved it ,so how to submitted a HDFS based job on ssh?
I've tried
**python ${HOME}/mxnet/tools/launch.py -n 2 --launcher ssh -H hosts \
python -u train_resnet.py --data-dir hdfs://204.204.30.181:9001/Imagedata/dataset/ --data-type imagenet --depth 18 --batch-size 320 --gpus=0  --num-epoch=70 --kv-store dist_sync**
which  returns
loadFileSystems error:
(unable to

[2017-05-02 07:46] piiswrong commented on #6054
It should default to float32. Not sure why its not working here

[2017-05-02 08:06] hexiaoyi95 opened #6066 "How to decrease the memory consumption in forward, is there something like MXNET_BACKWARD_DO_MIRROR or memmonger"

[2017-05-02 08:22] lx75249 commented on #6039
I tried GCC 4.8.5, 5.3.1 and 6.2.1. Cannot reproduce...

[2017-05-02 08:54] lilhope opened #6067 "AttributeError: module 'mxnet' has no attribute 'rnn"
I install mxnet with this command`pip install mxnet-cu80`,when I use the rnn API,I get an error`AttributeError: module 'mxnet' has no attribute 'rnn'`, but I notice that in the source code `mx.rnn` is still here.

[2017-05-02 09:02] lilhope commented on #6067
I use python3 and anaconda

[2017-05-02 09:16] lilhope commented on #6067
I copy the source code `/mxnet/python/mxnet/rnn` to `/anaconda3/lib/python3/site-packages/mxnet` and do`import mxnet.rnn` then it works.

[2017-05-02 09:17] Pagey commented on #747
Thanks dearly for the 3d support- seems to be working well, however, does mx.symbol.LRN support 3d? When I add such a layer, e.g. in alexnet fashion:
lrn1 = mx.symbol.LRN(data=relu1, alpha=0.0001, beta=0.75, knorm=2, nsize=5)

I keep crashing with this:

[12:13:24] d:\program files (x86)\jenkins\workspace\mxnet\mxnet\dmlc-core\include\dmlc\./logging.h:300: [12:13:24] D:\Program Files (x86)\Jenkins

[2017-05-02 12:37] apeng5399 opened #6068 "How to save the parameters in executor and continue training in module"
I find the api about save parameters is  Module.save_checkpoint,
However in the example RL ddpg algrithm, the parameters are all in executor.
I try this(construct a module for save parameter, and copy the parameter in executor to the module executor),but it doesn't work, is this a correct way to do it? any advice @tqchen @piiswrong
[code]

[2017-05-02 14:18] sbodenstein opened #6069 "Set OpenMP Threads at Runtime"
We would like to be able to set the number of OpenMP threads used by MXNet at runtime via `omp_set_num_threads`. One approach is to expose an api function `MXNET_DLL int  MXSetNumOMPThreads(int thread_num)` in `c_api.h`, which calls into `omp_set_num_threads`. Something like this is also done by libraries like WarpCTC.

@piiswrong: what do you think of this?

Also: @taliesinb, @matteosal

[2017-05-02 14:33] piiswrong commented on #6069
I would automatically set it to num physical cpu.

[2017-05-02 14:57] sbodenstein commented on #6069
Are you suggesting that we have an API function like `MXSetNumOMPThreads`, but also default `omp_set_num_threads` to the number of physical cores when MXNet starts?

One thing we have noticed: for things like unrolled RNN's, the CPU usage increases hugely when going from 1 OMP thread to 4, but the speed doesn't increase much (sometimes it decreases). So we would like control at runtime of the thre

[2017-05-02 15:22] piiswrong commented on #6069
This sounds like a bug we should fix...

but yeah a MXSetNumOMPThreads API is fine.

[2017-05-02 15:26] sbodenstein commented on #6069
Ok, great. Will make a PR.

[2017-05-02 16:06] sifmelcara commented on #6039
@lx75249 could you try to stress the machine using something like `stress -i 10000` when training the network?
I have tested this issue on two machines, one of the them do not have the problem of segmentation fault under normal conditions, but mxnet immediately crashes when system is under heavy load.
Thank you for testing this out.

[2017-05-02 20:33] coforfe commented on #6015
OK.
Thanks for your reply.

[2017-05-02 22:15] szha commented on #6067
The 0.9.3 release didn't have rnn api. You can try ```pip install -U mxnet-cu80``` now as the 0.9.5 version is now available.

[2017-05-02 23:03] srviest commented on #6000
I will work on 58 color_normalize. BTW, where are the definitions of 78 fft & 79 ifft?

[2017-05-02 23:21] padentomasello commented on #5959
Hi there,

My profiles are still grouping operators after recompiling mxnet with `MXNET_EXEC_BULK_EXEC_TRAIN = 0` and `MXNET_EXEC_BULK_EXEC_INFERENCE = 0`.

## Environment Info
Operating System:
Distributor ID: Ubuntu
Description: Ubuntu 16.04.2 LTS

Compiler:
gcc (Ubuntu 5.4.1-2ubuntu1~16.04) 5.4.1 20160904
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source fo

[2017-05-02 23:24] bikestra commented on #5959
Hi @padentomasello , these are environment variables, not config variables for compilation. You don't have to recompile.

[2017-05-02 23:24] #5959 closed

[2017-05-03 00:10] padentomasello opened #6072 "Profiler outputs are titled with symbol type instead of name"
I am trying to use the profiler on a net with many layer, but it is hard to distinguish between them because they are all titled 'FullyConnected'. Is there a way for the profiler to use the symbol name? (fc1 vs FullyConnected?). The screen shot at http://mxnet.io/how_to/perf.html looks like it is using the symbol name.

## Environment info
Operating System:
Distributor ID: Ubuntu
Description: Ubun

[2017-05-03 00:25] thatindiandude commented on #5891
I would like to point to some findings I had with using MKL and @zhreshold's implementation of Depthwise Separable Convolutions training on CIFAR-10 on a c4.8xlarge (Intel Xeon E5-2666 v3 CPU)

** Vanilla Resnet **
[code]

**Resnet w/ Depthwise Separable Convolutions **
[code]

Without MKL turned out, the results were more exaggerated (~2.5x speed-up). However, without using MKL, throughput is 10x

[2017-05-03 00:40] lilhope commented on #6067
@szha ,It doesn't work,this is the message:
[code]

[2017-05-03 01:39] jimmyaneja opened #6073 "Unable to run MXnet with yarn as a launcher"
$ python ../../tools/launch.py -n 2 --launcher yarn python  train_mnist.py --network lenet --kv-store dist_sync
17/05/03 01:24:49 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
17/05/03 01:24:50 WARN shortcircuit.DomainSocketFactory: The short-circuit local reads feature cannot be used because libhadoop cannot be lo

[2017-05-03 02:19] BensonBlack commented on #5889
@thirdwing @piiswrong

[2017-05-03 02:29] ysh329 commented on #3058
mark.
There're a lot of invalid links.

[2017-05-03 02:40] ysh329 opened #6075 "How to define other losses as metrics when training, such as cross-entropy loss,etc"
have some examples? Thanks :octocat:

[2017-05-03 05:10] eric-haibin-lin commented on #5055
fixed by #5832?

[2017-05-03 06:36] II-Matto commented on #5941
@kice Hi, many thanks for your guidelines. They help a lot. These indeed should be written into the MXNet documents.

As for the `move-if-change.sh`, it does not seem to be executable even with the './' removed. Currently I manually did the file copy. But can it be resolved in a better way?

BTW, the Python installation does not seem to be necessary if one only wants to use the C/C++ interface.

[2017-05-03 06:50] sunspring320 opened #6076 "(index) < (nreturn) Symbol only accept nonnegative index"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:

Compiler:

Package used (Python/R/Scala/Julia):

MXNet version:

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are using python package, please provide

Python version

[2017-05-03 07:00] apeng5399 commented on #6068
use cpickle 。。

[2017-05-03 07:01] #6068 closed

[2017-05-03 07:08] younglou commented on #2519
I have solved this problem by adding CLASSPATH
accoring to  [](http://stackoverflow.com/questions/21064140/hadoop-c-hdfs-test-running-exception)

[2017-05-03 07:13] younglou commented on #2519
I figure it out by adding hdfs jars to environment variable CLASSPATH.
according to http://stackoverflow.com/questions/21064140/hadoop-c-hdfs-test-running-exception

[2017-05-03 07:54] tengfly opened #6077 "Check failed: type_ != nullptr The any container is empty requested=struct nnvm::VariableParam"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:
Windows Server 2012

Compiler:
Visual Studio 2013

Package used (Python/R/Scala/Julia):
Python

MXNet version:
0.9.5

Or if installed from source:
Build from source

MXNet commit hash (`git rev-parse HEA

[2017-05-03 08:14] CodePothunter commented on #2788
@yuramalna Hi, actually I solved by updating the code :((

[2017-05-03 08:16] NiklasTreutner commented on #5941
Yeah, thanks from me too. However, i still couldn't get it to work (yet).
i'll try again, but in the meantime: is there a way to make this step easier/optional?
maybe check in a version of the op.h that people can update using the wrapperGenerator (if necessary)? or do you think it would be a good idea to try and generate the op.h using c(++)? i haven't really looked into it much, but since the wr

[2017-05-03 08:34] SmartAir opened #6078 "Problems when implementing Stale Synchronous Parallel(SSP) in MXNet"
Hello, I am now implementing Stale Synchronous Parallel(SSP) in MXNet. However, I have met a problem for a long time.

I mainly code in _**kvstore_dist_server.h**_ to implement SSP. To briefly describe my code, when the difference of the number of training iterations finished between  the fastest worker and the slowest worker reaches the maximum number I set, the fastest worker will be blocked to

[2017-05-03 08:48] lx75249 commented on #5941
@wguo68 @NiklasTreutner @II-Matto A new patch (#6033) that makes cpp-package support MSVC will be soon merged, which makes it easier to create and build project in MSVC with cpp-package.

[2017-05-03 08:48] SmartAir commented on #6078
Here is my code in _**kvstore_dist_server.h**_:
 main part of  SSP  is marked with `/*SSP push begin*/` and `/*SSP push end*/`

[code]

[2017-05-03 09:49] naidu0830 opened #6079 "[API docs submission] LinearRegressionOutput"
Description:
It is used to add output layer based on linear activation to the neural network.  It computes and optimizes for squared loss.

Parameters:
[code]
Returns:
[code]

**Note:**
[code]

By default, gradients of this loss function are scaled by factor 1/n, where n is the number of training examples. The parameter grad_scale can be used to change this scale to grad_scale/n.

Defined in src/o

[2017-05-03 10:36] 123chengbo opened #6080 "faster rcnn train error！"
when i run：bash script/vgg_voc07.sh 0
i found there is something wrong in: pascal_voc.py: size = cv2.imread()，the info is: Segmentation fault, core, without any other information.

i add some print info above this、and under this , then make sure that the problem is here.

but i've tried cv2.imread() in python, it work well。

can anybody help me with it？

thank you

[2017-05-03 11:14] xinq2016 opened #6082 "Issue about the arch_file in speech recognition example"
Hi all,

I am trying to run the example of DeepSpeech2 using the example of speech_recognition with librispeech, but there is an error occurred in  load_model

File "main.py", line 212, in <module>
    model_loaded, model_num_epoch = load_model(args, contexts, data_train)
  File "main.py", line 144, in load_model
    model_loaded = symbol_template.arch(args)
  File "/home/nd/mxnet/example/speech_r

[2017-05-03 12:53] sbodenstein opened #6083 "Runtime Error Handling"
In general, when there are data-dependent conditions that can cause a layer to fail, we want to avoid making this failure something that aborts the process.

With a usual error handling (`DMLC_THROW_EXCEPTION`) during asynchronous engine execution, the process is terminated. A language like Mathematica wants to share the process with MXNet, and it cannot have this shared process terminate. We woul

[2017-05-03 14:15] matteosal commented on #3556
@erikbeall
I am currently implementing reflection padding. I should be making a PR soon (no more than a few days).

[2017-05-03 14:56] salemmohammed opened #6085 "How python API translated to lower level ?"
Hi all,

I am here struggling with reading MXNet source code. I am a end user for a few months and I decided to go deep in the code. I read some parts of it but I still struggle. So, I wanna trace the code from end user to the low level. However, I have not seen any clear explanation how to read it. Also, How API python transfer the code to the lower layer ?

Sincerely

[2017-05-03 14:57] sifmelcara commented on #6039
@lx75249 Thank you and no need to test it again since I found the bug and opens the pr #6084 .

[2017-05-03 15:22] sbodenstein opened #6086 "[Feature Request]: Persistent RNN's"
The new persistent RNN functionality in cuDNN v6 should be supported (https://developer.nvidia.com/cudnn).

@piiswrong:  can you add that to "Projects" -> 'feature requests"?

[2017-05-03 16:12] #6039 closed

[2017-05-03 16:20] chuckbasstan123 commented on #5285
I met the same issue, not able to run cifar10 case :( No idea how to debug it. Does anyone else meet this problem?

[2017-05-03 17:31] jmacglashan commented on #5927
Create logical masks, and multiply them by the chosen output for that logical condition, and then add them all together.

For example, suppose you want
[code]

Then in mxnet
[code]

This works because mxnet's logical operators return numeric 1/0 values (rather than boolean values). Consequently, each term in the above expression will be zero *except* the condition matching the value of x. So if x

[2017-05-03 17:35] jmacglashan opened #6087 "mx.sym.constant"
For symbol constructions, there is var, zeros, and ones. Can we also get a constant one that receives a list/numpy/mx.ndarray and makes a constant symbol out of it? Working it in via variables is a bit cumbersome, particularly because the Constant initialization doesn't work for anything not ending with the string 'weight'.

[2017-05-03 19:08] jiayue666 commented on #6000
I can document 2-5.

[2017-05-03 19:20] szha commented on #6000
I will take 130-145.

@piiswrong do we need to document 146 BaseRNNCell._get_activation and 147 FusedRNNCell._slice_weights? These are not intended for use other than by the APIs.

[2017-05-03 20:19] patwa67 commented on #5927
OK, my intention is to estimate the mean of each constant. The data has many variables p in x
[code]

Any suggestions how to deal with that? My first goal is simply to model as a linear regression.

[2017-05-03 21:25] thatindiandude opened #6093 "fjetiekdulifc"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:

Compiler:

Package used (Python/R/Scala/Julia):

MXNet version:

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are using python package, please provide

Python version

[2017-05-03 21:40] #6093 closed

[2017-05-03 22:25] szha commented on #6067
@lilhope sorry my bad. I'm working on resolving this and will keep you posted.

[2017-05-03 22:29] jmacglashan commented on #5927
If I'm understanding you, I would just restructure your data to be binary inputs which is far more standard for this kind of setup than special cases when you might really want to go through the trouble of defining piece-wise functions.

In the case when you have 1 variable x in {0, 1, 2} then transform your input to be a 1 hot vector. For example,
`x = 0` becomes `[1, 0, 0]`,
`x = 1` becomes `[0,

[2017-05-03 23:16] domdivakaruni commented on #6000
@moontails are you still working on these APIs? What can you share with @szha? can you please let us know as soon as you can? Thanks!

[2017-05-04 00:43] piiswrong commented on #6087
yeah that's something I wanted to do but didn't have time for.
Basically you serialize an ndarray into string and pass it as argument to an op. The op then decode it and copy it to output everytime.

[2017-05-04 00:45] piiswrong commented on #6086
Isn't it controled by a flag in cudnn RNN api? Should be pretty easy to do.

[2017-05-04 01:24] moontails commented on #6000
@domdivakaruni @szha I am sorry guys, I still havent been able to get it to work on my Macbook.

I will let @szha start checking things off from 130-145 and get back on track if I am able to unblock myself.

[2017-05-04 01:54] smissan opened #6095 "Multiple calls to train cause cudaMalloc to fail"
If calling train several times, I ran out of GPU memory:

pooled_storage_manager.h:80: cudaMalloc failed: out of memory

looks like GPU buffers are never cleared and memory runs out.
It needs to be solved to be able to use MXNet in the larger application, where multiple train attempts are made in sequence, without restarting the app.

[2017-05-04 02:12] kernel8liang opened #6096 "tensor Segmentation fault with GPU context"
I am not sure I use the tensor in the right way.

in op's forward and backward.

[code]
can run correctly in CPU context, but error in GPU context.

[2017-05-04 03:43] piiswrong commented on #6096
gpu memory is not accessible from host

[2017-05-04 03:44] #6082 closed

[2017-05-04 04:26] szha commented on #6067
@lilhope now try again

[2017-05-04 04:48] szha commented on #5134
@jkbradley OK, MKL variant is available now for version 0.9.5. Try ```pip install mxnet-mkl```

[2017-05-04 05:37] kernel8liang commented on #6096
got. done.

[2017-05-04 05:37] #6096 closed

[2017-05-04 07:19] jdhao opened #6097 "How to get fixed size output feature map from a variable size input feature map (kind of like spatial pyramid pooling)"
## Background
I am doing a project on learning discriminative features for images of various size.  In my case, I do not want to resize the images into fixed width and height in order for them to be feed into the predefined network.

##  Problem
For convolutional layers, it is ok that the input images have different size. But if we go from conv layer to fully-connected layer, we must make sure the

[2017-05-04 07:27] jdhao commented on #5909
@ysh329 , if my answer solves your problem. You should close this issue. Also I suggest that you may search google before opening an issue.

[2017-05-04 08:51] asmushetzel commented on #6000
@moontails Don't know which problem you ran into but also had to resolve some hiccups on my mac. Resolved it by:
- Complete fresh clone of the whole mxnet
- Not running all build/installs for this repo. Just the documentation creation as described in the doc referenced in section 4. at the beginning of this thread.
- In file tests/ci_build/install/ubuntu_install_python.sh bypassed the certificate

[2017-05-04 08:55] liumilan opened #6099 "why sym.SoftmaxOutput can't support other name"
if i define mx.symbol.SoftmaxOutput(data=ip5, name="softmax1111") ,it will report Symbol.InferShapeKeyword argument name softmax_label not found

Can't it support arbitrarily name in SoftmaxOutput?

[2017-05-04 09:12] ysh329 commented on #5909
@jdhao Okay, I forgot :laughing:

[2017-05-04 09:12] #5909 closed

[2017-05-04 09:21] ysh329 commented on #6023
I only installed one pip. Besides, I switched to root and `pip -V`, which showed message below, too:
[code]

[2017-05-04 09:22] ysh329 commented on #6038
@zihaolucky Thanks a great lot! :sweat_smile:

[2017-05-04 09:31] ysh329 commented on #6057
Did you edit the origin codes?

[2017-05-04 09:32] jdhao commented on #6099
what is your complete code, you should post a minimum working example

[2017-05-04 09:39] Soonhwan-Kwon opened #6100 "mx.sym.ctc_loss and mx.sym.WarpCTC issues for latest build"
## Environment info
Operating System: Amazon Linux, ( I tested on Ubuntu also)

Package used (Python/R/Scala/Julia): Python

MXNet version: 0.9.5

Or if installed from source: from source

MXNet commit hash (`git rev-parse HEAD`): c33649eb78dcee258a855e7f618c3d4988b6b140

@sbodenstein Would you review this issue? Thank you for reading in advance.

There are two issues related to the merge of #5834

[2017-05-04 09:47] liumilan commented on #6099
def gen_caffe_net():
    input=mx.symbol.Variable('data')
    ip1=mx.symbol.FullyConnected(data=input, name="ip1", num_hidden=3)
    relu1=mx.symbol.Activation(data=ip1, act_type="relu", name="relu1")
    ip5=mx.symbol.FullyConnected(data=relu1, name="ip5", num_hidden=2)
    net=mx.symbol.SoftmaxOutput(data=ip5, name="softmax1111")
    print net.debug_str()
    return net
here is my code
@jdhao

[2017-05-04 10:03] jdhao commented on #6099
I think your code is corret. refer to [here](http://mxnet.io/tutorials/python/module.html) for an example.

[2017-05-04 10:10] liumilan commented on #6099
my question is why SoftmaxOutput name can't be arbitrarily ...If I specified softmax,it will be ok

[2017-05-04 10:13] jdhao commented on #6099
maybe it is a convention. if it is not critical, just follow the convention.

[2017-05-04 10:27] piiswrong commented on #6100
you need to use make_loss on top of ctc_loss

[2017-05-04 10:40] liumilan commented on #6099
if it can't support arbitrarily  name ,how can it support group features?
like that
 data = mx.symbol.Variable('data')
    fc1 = mx.symbol.FullyConnected(data = data, name='fc1', num_hidden=128)
    act1 = mx.symbol.Activation(data = fc1, name='relu1', act_type="relu")
    fc2 = mx.symbol.FullyConnected(data = act1, name = 'fc2', num_hidden = 64)
    act2 = mx.symbol.Activation(data = fc2, name='r

[2017-05-04 10:59] max246 commented on #5290
To solve this issue you have to install libatlas-base-dev

sudo apt-get install libatlas-base-dev

[2017-05-04 11:18] jdhao commented on #6099
@liumilan , In my system, you can give any name to the SoftmaxOutput.  The following code runs without error:
[code]

[2017-05-04 11:36] sbodenstein commented on #6100
This is as designed: you can have more layers after the ctc loss layer, which allows things like example weighting (this is not possible without this). Thus it requires an output grad during binding (like almost all other layers), or a `make_loss`, like @piiswrong suggested.

[2017-05-04 15:16] Pagey commented on #747
BatchNorm doesn't seem to support 3d either?? similar dimension (4<>5) errors

[2017-05-04 16:03] eric-haibin-lin commented on #6000
I'm going to take the four APIs for kvstore 178 - 181

[2017-05-04 16:24] Mochimazui opened #6102 ""Cannot find custom operator type *" when running distributed training with multiple machines"
[code mxnet-issue-6102](https://github.com/Mochimazui/mxnet-issue-6102)

MXNet version: v0.9.5  (downloaded using `git clone -b v0.9.5 URL`)

Built with:

    Ubuntu 16.04
    CUDA 8.0
    CUDNN 5.1
    gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4)
    Python 2.7.12
    make -j USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1 USE_DIST_KVSTORE=1 ADD_LDFLAGS = -L/o

[2017-05-04 19:12] domdivakaruni opened #6103 "New logo choices"
Here are some delicious logo design contributions thanks to ​@musho. what do you think?

# 03
![mxnet_visual03](https://cloud.githubusercontent.com/assets/20830345/25720749/d1f658da-30c2-11e7-8211-22576d2fc649.png)

# 04
![mxnet_visual04](https://cloud.githubusercontent.com/assets/20830345/25720773/e4a2c306-30c2-11e7-831f-ebb7a6eba8da.png)

# 05a
![mxnet_visual05-a](https://cloud.githubusercontent

[2017-05-04 19:35] pluskid commented on #6103
Vote for 05b.

[2017-05-04 19:43] rlenferink commented on #6103
Voting for 05b

[2017-05-04 19:43] mli commented on #6103
05b is the best. but what does the logo mean?

[2017-05-04 19:45] eric-haibin-lin commented on #6103
I like the blue one (05b). More consistent with the current theme color of mxnet

[2017-05-04 19:49] madjam commented on #6103
"contributions hot off the oven. what do you think?"

Good start. Are more coming?

On Thu, May 4, 2017 at 12:12 PM, Dom Divakaruni <notifications@github.com>
wrote:

[2017-05-04 19:54] CodingCat commented on #6103
05b...can we adjust how the dots are connected to make it looks more like a subset of graph?

[2017-05-04 19:54] ap-hynninen commented on #5983
@piiswrong We might be seeing the effect of this bug in bucketed training where the memory usage creeps up as we introduce more buckets.

[2017-05-04 19:55] VoVAllen commented on #6103
05b, what the logo means?

[2017-05-04 20:48] phunterlau commented on #6103
05b looks great (if 03 can change to blue, it looks good too)

[2017-05-04 21:02] uogood commented on #6103
+1 for 05b! Connected dots look more related to what mxnet provides.

[2017-05-04 21:18] lryta commented on #6103
Vote for 05b!

[2017-05-04 21:19] antinucleon commented on #6103
05b +1
On Thu, May 4, 2017 at 14:18 Larry Yihe Tang <notifications@github.com>
wrote:

--
Sent from mobile phone

[2017-05-04 21:20] ZihengJiang commented on #6103
vote for 05b
On Thu, May 4, 2560 at 14:19 Bing Xu <notifications@github.com> wrote:

--
Ziheng Jiang
Fudan University | Computer Science

[2017-05-04 21:21] eric-haibin-lin commented on #5953
You can check http://mxnet.io/how_to/multi_devices.html for a overview of distributed training

[2017-05-04 21:32] arank commented on #6103
05b is baller. Putting my chips on that one

[2017-05-04 21:51] sookinoby commented on #6057
@ysh329 Yes. A little bit. Instead of downloading the data set automatically, I downloaded the dataset and placed in a folder.
Except that I didn't modify anything.

[2017-05-04 22:26] nswamy commented on #6000
@Lyken17 any luck updating the doc for the APIs that you picked ?

[2017-05-04 23:18] sandeep-krishnamurthy commented on #6103
05b is very cool. We need to connect dots to make it look like graph. Thoughts?

[2017-05-05 00:16] smarthi commented on #6103
I would take 03 out of contention here - the apache feather and Apache text kind'a seems redundant. 05b is cool.

[2017-05-05 01:20] ysh329 commented on #6057
@sookinoby Well, it's really strange! @ry

[2017-05-05 01:21] ysh329 commented on #6103
Voting for 05b

[2017-05-05 01:46] R1ncy opened #6115 "how to share auxiliary states of batchnorm in rnn with variable length input"
hi, I want to add batchnorm layer after i2h in gru. Here is the code:
[code]

In this way, the gamma and beta of bn are shared at each time step.
But the aux states can't be shared like this and I get this error:
[code]
seems the aux_params are unrolled with the max input length, but duplicate names are not allowed.

I also try the following code in speech_recognition example, but it seems cannot

[2017-05-05 01:48] sunspring320 opened #6117 "how to write the predict python code in BucketingModule with variable-length sequence?"
in my project, i try my project with cnn+lstm+ctc net
i start my module with mod
 mx.mod.BucketingModule(sym_gen, default_bucket_key=data_train.default_bucket_key, context=contexts)
 and the model is train succeed, but in prediction stage, i try
mx.model.load_checkpoint(modelPrefix, 50) :Cannot find Operator WarpCTC in registry
mxnet_predict   Predictor  : "'Predictor' object has no attribute 'han

[2017-05-05 02:10] javelinjs commented on #6103
vote for 05b

[2017-05-05 02:46] sunspring320 commented on #5008
@Godricly would you provide of the predict python code in BucketingModule with variable-length sequence? i have some difficulty , thanks!

[2017-05-05 02:52] lilhope commented on #6103
05b is cool

[2017-05-05 03:46] xinq2016 commented on #6100
I have the same issue about the speech_recognition example, using the following scripts to build the mxnet
:
# Clone mxnet repository. In terminal, run the commands WITHOUT "sudo"
    git clone https://github.com/dmlc/mxnet.git ~/mxnet --recursive

    # If building with GPU, add configurations to config.mk file:
    cd ~/mxnet
    cp make/config.mk .
    echo "USE_CUDA=1" >>config.mk
    echo "US

[2017-05-05 03:47] terrychenism commented on #6103
05b +1

[2017-05-05 04:05] CNevd commented on #6103
05b 05b

2017-05-05 10:52 GMT+08:00 lilhope <notifications@github.com>:

[2017-05-05 06:15] marugari commented on #6099
I think `DataIter` doesn't support arbitrarily name.
https://github.com/marugari/Notebooks/blob/master/mxnet_multi-input_multi-output.ipynb

[2017-05-05 07:27] Mochimazui commented on #6102
[code mxnet-issue-6102](https://github.com/Mochimazui/mxnet-issue-6102)

[2017-05-05 07:54] xinq2016 opened #6121 "mx.sym.WarpCTC cuda memcpy or memset failed issue"
## Environment info
Operating System: Ubuntu 14.04
GPU: GTX 1080

Compiler:

Package used (Python/R/Scala/Julia): Python

MXNet version: 0.9.5 in python

Or if installed from source:  git clone https://github.com/dmlc/mxnet.git ~/mxnet --recursive

## Error Message:
[16:36:11] src/operator/././cudnn_algoreg-inl.h:65: Running performance tests to find the best convolution algorithm, this can take a

[2017-05-05 08:17] piiswrong commented on #6121
@sbodenstein Could you look into this?
We can
1. revert the ctc_loss pr
2. disable ctc_loss when using WarpCTC
3. fix the incompatibility.

[2017-05-05 08:27] younglou commented on #6073
I came into the same situation,and the Logs for node container shows:
 **INFO dmlc.ApplicationMaster: [DMLC] Task 0 killed because of exceeding allocated physical memory**
I have set the following env ,but did not work
export DMLC_HDFS_OPTS=--Xmx2048m
export DMLC_WORKER_MEMORY_MB=4096
export DMLC_SERVER_MEMORY_MB=4096
Any suggestions?

[2017-05-05 08:43] piiswrong commented on #6103
I like 05b too. but the in-symmetric design triggers my OCD...
Can we make it symmetric by making the line also come out on the bottom right?
Or something like this:
![f95d144a-30c2-11e7-85ec-4a04347cecda](https://cloud.githubusercontent.com/assets/568948/25738820/01102558-3134-11e7-803c-e8992ffc48f1.png)

[2017-05-05 08:58] ysh329 commented on #6103
@piiswrong Perhaps need a shape that is combined with a tai chi pattern :laughing:

[2017-05-05 10:02] Godricly commented on #5008
I already did right?

[2017-05-05 10:05] Godricly commented on #6117
When you do prediction, you can replace it with softmax and do some post processing. The predicting is almost the same as the training.

[2017-05-05 10:08] sbodenstein commented on #6121
Looking at this now. I think option 2 or 3 should be aimed at.

[2017-05-05 10:08] Godricly commented on #6103
voting 03 for blue version 😆

[2017-05-05 12:31] matteosal commented on #3556
https://github.com/dmlc/mxnet/pull/6123

[2017-05-05 12:34] sbodenstein commented on #6121
@piiswrong: I'm having difficulties trying to reproduce this due to #6032 (and I'm using a Mac).

[2017-05-05 12:44] matteosal opened #6124 "Negative padding specification in Padding Layer (negative values in TShapes)"
Negative padding specification in Padding Layer are officially not supported but are not catched and result in undefined behavior (at least when using the python interface).
Negative values are overflown to large positive values in the padding spec TShape before hitting the operator.
Magically enough, some other overflow happens during evaluation and the output is actually a cropped tensor, even i

[2017-05-05 13:24] piiswrong commented on #6121
Ok then could you disable ctc_loss when using warp ctc plugin first? We don't want to break existing features.
Also could you rename ctc_loss to _contrib_ctc_loss? so that it goes into mx.sym.contrib.

[2017-05-05 13:31] sbodenstein commented on #6121
Sure, I will do those things.

For disabling: how would you recommend I do this?

[2017-05-05 13:35] piiswrong commented on #6121
I'm actually not sure.
One way I can think of is making this another plugin. Otherwise the .cc files will always be compiled unless you guard everyone with macros.

I think the problem here is you have two implementations of the same function (one from original baiductc.so, one from absorbed code). One solution I can think of is to wrap all absorbed ctc code in a different namespace.

[2017-05-05 13:37] sbodenstein commented on #6121
I do think it shouldn't be too hard to fix (eg with namespaces). But its annoying that I can't build MXNet on GPU at the moment due to the OSX bug.

[2017-05-05 13:51] piiswrong commented on #6032
@ZihengJiang looks like its related to quantize op

[2017-05-05 13:53] piiswrong commented on #6121
you can workaround it temporarily by deleting quantize/dequantize ops under contrib

[2017-05-05 15:02] adrianloy opened #6126 "Outdated Tutorials"
Running Tutorials like [http://mxnet.io/tutorials/python/mnist.html] produce Deprecated Errors like the following:
[code]

Apparently they are outdated.

[2017-05-05 16:04] #5953 closed

[2017-05-05 16:59] salemmohammed opened #6127 "ps-lite clarification in distributed systems and ps-lite version in MXNet"
Hi all,
In regards to parameter server, I have two questions.
MXNet uses parameter server but I am guessing that ps-lite is that exactly the same parameter server version/generation that is using in dmlc/MXNet. Can anybody shed some light on this ?

In ps-lite, the distributed systems have two costs in addition to single machine. One is the data communication cost, namely sending data over the net

[2017-05-05 19:08] smissan commented on #6095
it looks like the problem can be solved by setting

ptr = new storage::NaiveStorageManager<storage::GPUDeviceStorage>();

instead of GPUPooledStorageManager in storage.cc

Can this be made as an option to be configured at runtime? It really is a bad practice to allocate all availabe GRAM and never release it. Another option is to add a public method that would allow all allocated memory to be rele

[2017-05-05 19:10] nswamy commented on #6103
Thanks @musho. I like the color scheme in 05a.
Wouldn't the background image look cool on our main page like the one below that @musho had sent earlier.
![mxnet_visual02](https://cloud.githubusercontent.com/assets/1208642/25760357/48d44da4-318b-11e7-8edd-2f21125d0285.png)

[2017-05-05 19:45] ZihengJiang commented on #6032
should be fixed by https://github.com/dmlc/mxnet/pull/6131. Also, I suggest adding this build combination into CI

[2017-05-05 20:34] mli commented on #6047
one simple solution is that letting all workers compute the gradients, but on the server side only merge a part of workers, namely dropping the gradients arrived at the end, by changing

https://github.com/dmlc/mxnet/blob/master/src/kvstore/kvstore_dist_server.h#L179

also, you can let a worker sleep a random time to simulate the stragglers before each data push

[2017-05-05 20:43] smilesun opened #6132 "building R mxnet from source, R session get blocked after run 'make rpkg'"
I compiled the mxnet.so and then I want to build the R package as well. After I run "make rpkg" in the root folder, the session just stopped at ** testing if installed package can be loaded  (**it hangs here**).
Any idea on this ?

## Environment info
Operating System:
SUSE enterprise 11
Compiler:
gcc, g++
Package used (Python/R/Scala/Julia):
R
MXNet version:

 installed from source:

MXNet commit

[2017-05-05 20:56] agnusmaximus commented on #6047
Thanks for the response! Does this method save computational resources during the gradient computation? It seems like even with this change, every machine will still be doing the same amount of gradient computation; in other words, gradient computation is not skipped via the skip_exec_node flag. Is this true or am I missing something?

[2017-05-05 21:16] mli commented on #6047
You can create two modules, A for layer 1-3, B for layer 4-10. then a node can randomly to skip to call A.backward to reduce the cost. But you cannot skip B.backward because it is required for A.backward.

http://mxnet.io/tutorials/python/module.html

But it's hard to skip a random layer until @piiswrong 's imperative training is done.

[2017-05-05 22:47] agnusmaximus commented on #6047
Awesome thanks! We'll try this out.

[2017-05-06 03:36] thirdwing commented on #6015
I have uploaded the mxnet for R 3.4 on OSX. Please check.

[2017-05-06 03:36] #6015 closed

[2017-05-06 03:37] thirdwing commented on #5948
I have upload the mxnet for R 3.4 on Windows 64. Please check it.

[2017-05-06 03:37] #5948 closed

[2017-05-06 06:25] coforfe commented on #6015
Thanks,

I have just tried and I could not install it.
This is what I got:

[code]

Since, it seems that I could install it from sources, I tried just to `install.package()` with this result:

[code]
It seems that `mxnet_0.9.5.tar.gz` is unavailable.

Thanks,
Carlos.

[2017-05-06 12:02] coforfe opened #6137 "OSX - R - mxnet 0.9.5 installation error."
Thanks,

I have just tried and I could not install it.
This is what I got:

[code]

Since, it seems that I could install it from sources, I tried just to `install.package()` with this result:

[code]
It seems that `mxnet_0.9.5.tar.gz` is unavailable.

Moving around `thirdwing`'s commits I could found the `mxnet_0.9.5.tgz` [here](https://github.com/dmlc/drat/blob/gh-pages/bin/macosx/mavericks/contr

[2017-05-06 12:20] piiswrong commented on #6103
background image is a good idea.

[2017-05-06 12:25] smilesun commented on #6132
I found another thing is that while the R session hangs there I could do 'library(mxnet)' but if i type 'q()', then it hangs again.

[2017-05-06 13:14] smilesun commented on #6132
[code]

[2017-05-06 13:27] smilesun commented on #6132
dyn.load("mxnet.so") succeed but afterwards I can not exit R session

[2017-05-06 14:01] boofhead commented on #6032
thanks

[2017-05-06 14:01] #6032 closed

[2017-05-06 17:38] thirdwing commented on #6015
Sorry that I don't know you are using el-capitan. I will update it.

[2017-05-06 18:17] jay960702 commented on #5327
@IvyGongoogle How do you solve the problem in the end? Just add "sudo"?

[2017-05-06 18:19] jay960702 commented on #5327
@IvyGongoogle I had the same error as yours

[2017-05-06 18:28] Mrugankakarte commented on #5948
Thanks!! It's working.

[2017-05-06 18:42] thirdwing commented on #5979
@Mrugankakarte Can you share the data?

[2017-05-06 19:42] Mrugankakarte commented on #5979
Yeah sure. I'm solving [House prices: Advanced regression techniques](https://www.kaggle.com/c/house-prices-advanced-regression-techniques) problem from kaggle.
I have transformed the data. All the transformed and original data files with scripts are present [here](https://github.com/Mrugankakarte/Regression/tree/master/Data).

[2017-05-06 19:50] Mrugankakarte commented on #5979
When I use the following code while creating the network ; it gives the prediction correctly
`>data <- mx.symbol.Variable("data")`
`>fc1 <- mx.symbol.FullyConnected(data, name="fc1", num_hidden=1)`
`>linear_reg_output <- mx.symbol.LinearRegressionOutput(fc1)`

Above code means that it is simple regression where input and output nodes are connected to each other directly, right?
When I use the mult

[2017-05-06 20:07] coforfe commented on #6015
Thanks,
I am using "macOS Sierra" the latest version (10.12.4).

[2017-05-06 20:09] coforfe commented on #6015
Sorry, I opened a new issue #6137 with more details about this installation problem.

[2017-05-06 20:53] bhavinthaker commented on #6103
Here is a proposal of a Lotus Logo for Apache MXNet:

<img width="325" alt="apachemxnet_lotuslogo1" src="https://cloud.githubusercontent.com/assets/6851302/25775741/3f27d286-3261-11e7-8c72-b319559a94c6.png">

Design Tenets used for the Lotus Logo for Apache MXNet:

1) The Logo is colorful. Here, the related colors are "mixed" to signify blend of:
    i) Symbolic and Imperative programming paradigm

[2017-05-06 22:13] lryta commented on #6103
@nswamy  The background is awesome!

[2017-05-07 06:14] praveen7728 commented on #5502
I am facing the same problem. Can you let me know how to remove the linking flag?

[2017-05-07 06:35] eric-haibin-lin commented on #5502
If you don't need open cv, set USE_OPENCV=0 in your configure.mk

[2017-05-07 12:02] Soonhwan-Kwon commented on #6100
@sbodenstein Thank you for the guidance from piiswrong and sbodenstein, I passed the error from former issue, but I need some example for making custom metric to use ctc_loss, like below code
[code]
I was in the middle of updating the example codes that includes some functions for practical usage like bi-graphemes, but stuck in the custom metric now.

[2017-05-07 12:05] piiswrong commented on #6100
I  think with ctc_loss you only need to sum up the output to get loss.

[2017-05-07 12:06] piiswrong commented on #6100
@sbodenstein The mac build issue should have been fixed. Could you look into a fix for warpctc?

[2017-05-07 12:22] Soonhwan-Kwon commented on #6100
@sbodenstein For clearance, I want to get ctc output but also need softmax output to calculate cer. Is there a way to get softmax output also?

[2017-05-07 13:24] piiswrong commented on #6100
you can group them. see mx.sym.Group

[2017-05-07 15:14] ysh329 opened #6142 "Does anyone have pretrained inception-resnet-v2 model?"
I didn't find it on mxnet model zoo :sob:

Thanks a lot! :laughing:

[2017-05-07 18:18] smarthi commented on #6103
@bhavinthaker i like ur logo the best. Another option is to replace the text 'Apache' and replace that with 'Apache Feather' resting on Mxnet. thoughts?

[2017-05-07 19:00] salemmohammed commented on #6127
@pluskid

[2017-05-07 19:27] pluskid commented on #6127
Yes, ps-lite is used as a submodule, as the parameter server for mxnet. @mli should know better for this part.

I'm not sure what exactly your question is. It seems you are answering your own question? There will be cost from synchronization when the load balance is not perfect across machines.

[2017-05-07 19:32] sbodenstein opened #6146 "WarpCTC Plugin fails to compile on OSX with CUDA support"
## Environment info
Operating System: OSX

Compiler: Clang (Apple LLVM version 8.0.0 (clang-800.0.42.1))

## Error Message:
[code]

## Steps to reproduce
Change `config.mk`:

[code]
and set `USE_CUDNN = 1`, `USE_CUDA_PATH = /usr/local/cuda`, `USE_CUDA = 1`.

[2017-05-07 19:36] sbodenstein commented on #6146
@piiswrong: MXNet with GPU builds correctly on OSX now (after #6131). However, the WarpCTC plugin breaks the build.

I'm using the latest master of WarpCTC (https://github.com/baidu-research/warp-ctc).

[2017-05-07 19:37] sbodenstein commented on #6083
A ping on this.

[2017-05-07 19:39] sbodenstein commented on #6100
@piiswrong: I will have time tomorrow to work on this (was away for the weekend). Its still hard to test fixes for me due to #6146.

[2017-05-08 00:41] piiswrong commented on #6146
Could you compile on ubuntu and do a fix?

[2017-05-08 00:44] piiswrong commented on #6146
Also please move ctc_loss to contrib asap

[2017-05-08 02:31] Lyken17 opened #6147 "[API docs submission] GridGenerator"
Description:
Generates 2d sampling grid for bilinear sampling.

Parameters:
[code]
Returns:
[code]

Example:
[code]

[2017-05-08 02:38] Lyken17 commented on #6000
Hi @nswamy

I just updated GridGenerator and submit it to issue https://github.com/dmlc/mxnet/issues/6147.

I meet troubles when documenting `ndarray.UpSampling`. Even myself cannot find the proper way to use it, according to issues https://github.com/dmlc/mxnet/issues/2823 https://github.com/dmlc/mxnet/issues/4134 https://github.com/dmlc/mxnet/issues/1412, it seems to be an incomplete implementat

[2017-05-08 03:34] janelu9 opened #6149 "random forest >neural networks>xgboost>gbdt?"
for the binary classification problem on some structural data，I find RF's performance is amazing！

[2017-05-08 04:20] Luo-Liang opened #6150 "KVStoreDist::Init called many times"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.
When running 1 worker and 1 server with distributed learning, I noticed that while the worker initializes one KVStoreDist (src/kvstore/kvstore_dist.h), its Init() call appears to be called many times.
I'm wondering if this intended and why is

[2017-05-08 04:30] Luo-Liang commented on #6150
Ugh looks like

  for idx, param_on_devs in enumerate(param_arrays):
        kvstore.init(idx, arg_params[param_names[idx]])
        if update_on_kvstore:
            kvstore.pull(idx, param_on_devs, priority=-idx)

This is called per key?

[2017-05-08 04:59] SherlockLiao commented on #5849
I have the same question, but I don't know how to fix that.

[2017-05-08 05:32] eric-haibin-lin commented on #6150
Yes it's doing initialization per key

[2017-05-08 06:27] sunspring320 commented on #6117
@Godricly   i write my prediction follow your code as the same as Bucketing module prediction #5008
def load_param(self, param_path):
        node_data = mx.nd.load(param_path)
        # pickle is not working although the doc says so
        # param_file = open('./model/card-0001.params','rb')
        # print pickle.load(param_file)

        # parse node data into 2 lists
        arg_param={}

[2017-05-08 06:59] EricFisher opened #6152 "Question about Makefile and cmake"
I have a question about build system. Why not just maintain one build system such as cmake? I notice that the Makefile is hand written for now. Does it mean that I have to build project under the source file directory if using Makefile?

[2017-05-08 07:13] cogons opened #6153 "Question about simple matrix operations using cpp api"
Inspired by the example in python:

[code]
I'm trying to write a simple matrix plus in cpp like this:

[code]

when i run this piece of code, the output is a random number(nearly zero, like 2.19945e-38, 1.16171e-38...).

My question is .. how to write a symbol to perform simple matrix plus properly using mxnet c++ api?

It seems to be a stupid question. : (

Thanks in advance.

[2017-05-08 07:21] Godricly commented on #6117
What is the error you have now and can you post your symbol here?

For those parameters, it depends on how you compute them. What is you input image size?
When you do predict you actually don't know the label shape. The default bucket key is used in training to allocate the memory. And bucket_key describes the shape your data.

For example. if you want to predict a image of shape 300x30 with 100x1

[2017-05-08 07:34] benwu232 commented on #1535
is there any example for this?

[2017-05-08 07:40] sbodenstein commented on #6146
I've moved this op to contrib (#6154).

Yes, I'll use a ubuntu machine to do the fix.

[2017-05-08 07:41] lx75249 commented on #6153
You should move `NDArray::WaitAll()` before x is evaluated, because after you call `exec->Forward()`, the value of its output will be cacluated asynchronously.

[2017-05-08 07:44] anthony-han opened #6155 "More efficient implementation of strided convolution"
I need to use strided convolution to do some classification tasks. But I find that strided convolution is not as efficient as expected. For example, convolution with stride=2 costs more time than convolution with stride=1. I don't know why. Is there an efficient way to implement strided convolution?

[2017-05-08 08:06] cogons commented on #6153
@lx75249 Thanks. I did what you advised, but i still get random number close to zero. :(

i'm wondering if the process is incomplete or wrong..

[2017-05-08 08:07] liangfu commented on #1815
@sinaj any update? as I was having exactly the same problem, even after checking the label.

[2017-05-08 08:14] benwu232 opened #6157 "weighted cross entropy for imbalanced data"
Hi,

I'm new on MxNet and I'm dealing some imbalanced multi-class data.
As far as I know, Keras allows users to set class weights or per-sample weight in its fit function. In tensorflow, there is similar functions tf.nn.weighted_cross_entropy_with_logits or tf.losses.softmax_cross_entropy. I did some search. Similar question has been issued. Somebody said it is possible in MxNet but I just can't f

[2017-05-08 08:18] yuruofeifei commented on #6087
I'm interested in this. @piiswrong
Can we just create a const op?

[2017-05-08 08:21] magic282 commented on #5816
Hi, I did the git bisect under an linux server and got the result.
[code]
The `bad` means for either compile error or performance issue.
It seems to be the same with the result I got under Windows.
The first bad commit may not bring the performance issue, but it (or the submodule) causes an compile error. And after this compile error disappeared, the performance became different.

[2017-05-08 08:37] SmartAir opened #6158 "Check failed: (vals->size()) == (total_val) in KVWorker<Val>::Pull_"
Hello, I store some push requests from a worker node  in a list and do not let the server node handle these push requests until a certain requirement is satisfied (i.e. not handle the present pull request immediately, block it until a time the user sets).
For example, if a worker node is too fast and has run 10 more iterations than the slowest worker node in the cluster, I try to block the handle

[2017-05-08 08:37] lx75249 commented on #6153
@cogons I forgot that you should also remove reshape... or waitall after reshape

[2017-05-08 08:49] cogons commented on #6153
@lx75249 still the same symptom..

BTW, is it a good way to monitor ndarray output like this?
 `exec->outputs[0].GetData()[0];`

[2017-05-08 08:50] lx75249 commented on #6153
@cogons cannot reproduce. Could you paste complete code?

[2017-05-08 08:51] cogons commented on #6153
@lx75249

[code]

[2017-05-08 08:56] lx75249 commented on #6153
I said you should use waitall before GetData(), like this
[code]

About monitor, it has been implemented but is under review. You can use this for now, but after monitor is merged, you are recommended to use the monitor provided in cpp-package. Outputing ndarray to `std::ostream` will also be supported by then.

[2017-05-08 08:58] SmartAir commented on #6158
In addtion, I am implementing Stale Synchronous Parallel(SSP) in MXNet now, if you are also interested in this or have done some similar work, welcome to contact and discuss with me, always here!

[2017-05-08 09:00] cogons commented on #6153
@lx75249  It works. Much thanks!!

[2017-05-08 09:05] #6153 closed

[2017-05-08 09:24] formath commented on #5219
I have also encountered message lost many times when training on yarn. Have you solved this problem?

[2017-05-08 09:59] ChrisBotella opened #6159 "Problem R-package install on Windows 10 : NAMESPACE file is missing"
Hello,

As I am not expert in R package installing, I have been struggling a lot with the installation of mxnet R-package for Windows.

Short version, I think I have done the first steps, by following the indications given in the official tutorial and in answers to other issues, especially #1085. But the final command `R CMD INSTALL --no-multiarch R-package` outputs an error saying a `NAMESPACE` f

[2017-05-08 09:59] sunspring320 commented on #6117
@Godricly thans, my symbol as follow:
#-*- coding: UTF-8 -*-
# pylint:skip-file
import sys
sys.path.insert(0, "../../python")
import mxnet as mx
import numpy as np
from collections import namedtuple
import time
import math
LSTMState = namedtuple("LSTMState", ["c", "h"])
LSTMParam = namedtuple("LSTMParam", ["i2h_weight", "i2h_bias",
                                     "h2h_weight", "h2h_bias"])
LS

[2017-05-08 13:34] piiswrong commented on #6155
how much more time?
Due to non contiguous reads some performance degradation is expected

[2017-05-08 13:37] piiswrong commented on #6147
@domdivakaruni

[2017-05-08 13:39] piiswrong commented on #6124
yeah we need better ways of handling this

[2017-05-08 15:22] ysh329 commented on #6043
same issue

[2017-05-08 15:42] domdivakaruni commented on #6079
@madjam @nswamy

[2017-05-08 16:37] Godricly commented on #6117
1. What is your error when trying to load the model with my code?  Can you show me that log?
2. Are you able to load the parameters from model files?
3. Another thing I notice is that you are using old LSTM interface. Maybe you can try the new one which is more convinient.
4. As I mentioned more than once, the warpCTC is replaced with Softmax when you do testing. The good thing is that it has no p

[2017-05-08 16:43] Godricly commented on #6117
The bucket key of my code was contains two parts. 1st is the warpCTC label length, 2nd is the lstm sequence length. In testing, since you don't know the label length. You bucket_key only represents the lstm sequence length. I suggest you to write another symbol for testing but shares same symbol names for those layers with parameters.

[2017-05-08 17:33] Mrugankakarte commented on #6159
Hi,
I had the same issue. I found this new guide, check it out. I haven't tried it yet but I guess it should work.

[Link](https://gist.github.com/flammit/24a5e8b29c63f7fd5c9900176ad04062)

[2017-05-08 17:41] dwbhappy opened #6161 "Invalid R reference manual"
I found that the URL http://mxnet.io/api/r/mxnet-r-reference-manual.pdf is invalid. This link is described on the MXNET website here: http://mxnet.io/api/r/index.html

For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:

Compiler:

Package used (Python/R/

[2017-05-08 18:35] pracheer commented on #6103
@bhavinthaker logo is good. And @nswamy 's background image is nice. Bad that both of them don't seem to go together.

@smarthi How about the apache feather hanging out from the stem of the lotus?

[2017-05-08 19:02] aaron235 commented on #5849
Hey!

Check this out, it (mostly) solves the issue:

https://github.com/jupyter/notebook/issues/2239

[2017-05-08 20:28] #5482 closed

[2017-05-08 22:29] nikrao opened #6166 "MXNet initialization with Constant, One or Zero returning errors"
I am using mxnet initializer.Mixed to provide a mixed initialization, and get an error whenever I try to use Constant, One or Zero.

Examples below:

'
Same error with mx.init.One or Zero

But if I try

no error. Have the other initializers not been implemented in the MXNet version present in the AMI How do I make sure I have all the latest features?

## Environment info
Operating System:
Ubuntu

[2017-05-08 22:55] nswamy commented on #6000
@Lyken17, Thanks for posting the issue, I will convert this to actual documentation in code.
You can skip UpSampling for now, we might need to add a note that it is incomplete. @mli, @piiswrong what do you suggest?

For other APIs that you work on, can you please edit the docs in the code directly? If building and rendering takes time or you get into an issue, you can skip that step and just follo

[2017-05-08 23:10] #5997 closed

[2017-05-09 00:11] #5924 closed

[2017-05-09 00:45] JeanKossaifi opened #6168 "Duplicate classes in the Python API"
MXNet currently has duplicates such as `mxnet.io.ImageRecordIter ` and `mxnet.io.ImageRecordIter_v1` which is detrimental to both the users and developers.

An easy way around these problems would be to have better separation between dev and stable branches, along with two versions (at least) of the doc (/stable and /dev with an auto redirect to the stable version by default).

[2017-05-09 01:36] anthony-han commented on #6155
@piiswrong About 30% more.
I read an article. It mentions that using conv2d to perform strided convolution in Theano is not efficient either. It sugguests using FilterActs instead, which is much more efficient. I wonder if we have some efficient way to implement strided convolution.
http://benanne.github.io/2014/04/03/faster-convolutions-in-theano.html

[2017-05-09 02:12] piiswrong commented on #6168
let's mark them as deprecated and remove in some later release

[2017-05-09 02:54] phoenixbai commented on #3946
I have the same problem. Is it possible to provide multi-threaded prediction service using mxnet? As in caffe case, we have to copy the whole net as many times as the thread number. Is mxnet any better?

my trained model size is normally around 1GB, so memory consumption is a big issue.

[2017-05-09 03:24] pluskid commented on #6166
The error message says the `init` module does not have `Constant`. Maybe you happen to be using a very old version of MXNet?

[2017-05-09 03:27] xinq2016 commented on #6121
@piiswrong
Is it OK to use the version of v0.9.3 Official Release to run the example correctly?
how can I using the source code to setup mxnet? I found there are folds missing when I use the source code to install the mxnet. While installing with git clone, the latest version is gotten.

Many thanks
xin.q.

[2017-05-09 03:33] Moore123 opened #6169 "ubuntu source compile error"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: ubuntu-14.04.1

Compiler:
 g++ 4.8.4-2ubuntu1~14.04.3
cuda 8.0.44

Package used (Python):

MXNet version:

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):  104162b68853801481338c7

[2017-05-09 03:47] Soonhwan-Kwon commented on #6169
Is this your first installation or you cloned properly with --recursive? If it is not, it could be the problem of the outdated or insufficient depedencies for mshadow.
1. Delete the whole mxnet and reinstall all with git clone https://github.com/dmlc/mxnet --recursive
2. or move to the mxnet/mshadow then git pull -u origin master to get update the dependency.

[2017-05-09 04:02] nikrao commented on #6166
I'm using what comes as the default in the DeepLearning AMI. Is there a way
I can upgrade that?

On Mon, May 8, 2017 at 8:25 PM, Chiyuan Zhang <notifications@github.com>
wrote:

[2017-05-09 04:11] pluskid commented on #6166
What is your `mx.__version__`?

[2017-05-09 04:14] nikrao commented on #6166
0.9.3

On Mon, May 8, 2017 at 9:12 PM, Chiyuan Zhang <notifications@github.com>
wrote:

[2017-05-09 04:35] Moore123 commented on #6169
fresh clone with recursive is OK now.   Previously is older version within directory git pull only .

This issuse could be closed.

[2017-05-09 04:35] #6169 closed

[2017-05-09 04:58] EmadHelmi opened #6170 "Predict the class of a text with mxnet text classfier"
I use the mxnet text classifier for train a model and now I have the `.params` files.But now I want to predict the class of a given text and I don't find anything in the codes. what should I do?Thanks

[2017-05-09 05:51] sbodenstein commented on #6121
@xinq2016, @piiswrong: I can finally reproduce this problem. I have confirmed that this example works when you delete all the new ctc_loss files (the folder `ctc_include`, `ctc_loss.cc`, `ctc_loss.cu` and `ctc_loss-inl.h`), but breaks when you include them.

[2017-05-09 05:59] xinq2016 commented on #6121
@sbodenstein
OK, thanks a lot. I will have a try right now.

Many thanks

[2017-05-09 06:17] IvyGongoogle commented on #5327
@jay960702 sudo apt-get install libtiff4-dev

[2017-05-09 08:44] jay960702 commented on #5327
@IvyGongoogle Thank you very much

[2017-05-09 09:12] yajiedesign opened #6174 "Discussion and troubleshooting on PyPI (pip) installation with Windows (the newest 0.9.5 release)"
The PyPI mxnet installation is now available with windows:

- [mxnet-cu80-win](https://pypi.python.org/pypi/mxnet-cu80-win/0.9.5) on Windows, supports CUDA-8.0 and cuDNN-6.0
- the cpu only is to be later

Install:

1. install  [NVIDIA Display Driver](http://www.nvidia.com/Download/index.aspx) Newest
2. install  [CUDA](https://developer.nvidia.com/cuda-downloads)
3. install  [Anaconda3 ](https://ww

[2017-05-09 09:27] lijianhackthon opened #6175 "Cross Entropy doesn't change when running LSTM speech timit demo"
I am new to MXnet and have just installed the newest MXnet in my Ubuntu 14.04.5 LTS server by using `bash install-mxnet-ubuntu-python.sh` command. I have tried some matrix computation demo by using both CPU and GPU after installation. It proved that the installation was successful.

As a Kaldi user, my goal is to try using mxnet to train acoustic models. So I decided to try the [Speech LSTM Demo](

[2017-05-09 09:30] #5927 closed

[2017-05-09 10:17] EmadHelmi commented on #6170
I'm using this code for loading saved checkpoints but always I get the same class for each input with different classes.
[code]

[2017-05-09 12:57] tengfly opened #6177 "Symbol::Compose, not get correct node inputs when run the line "n->inputs[i] = it->second->outputs[0]""
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:
Windows
Compiler:
Visual Studio 2013
Package used (Python/R/Scala/Julia):
Python
MXNet version:

Or if installed from source:
0.9.3 official release
MXNet commit hash (`git rev-parse HEAD`):
b11d3a255
If

[2017-05-09 12:59] tengfly commented on #6077
This issue is related to #6177 where I located the issue.

[2017-05-09 13:35] Shiro-LK opened #6178 "Error accnn.py"
Hello,

I try to use accnn.py so as to accelerate the inception model, but I get an error. The model comes from https://github.com/dmlc/mxnet-model-gallery/blob/master/imagenet-1k-inception-v3.md

how can I solve this problem ?

[2017-05-09 13:43] smissan opened #6179 "SoftmaxOutput - how to get probabilities?"
It looks like softmax output by default returns 1 for the class with highest probability, and 0 for the rest. Is there a way to get "true" probability to understand the confidence of classification? We followed the LeNet example in CPP wrapper.

[2017-05-09 14:07] Jacksonlark opened #6180 "Build the shared library fail for cudafe died"
## Environment info
Operating System: centos 7.0

Compiler: g++4.8.2 nvcc

Build the shared library

MXNet commit hash (`git rev-parse HEAD`): dc1078df8ffd443f16176b68414cbe1a59e1ec45

## Error Message:
/usr/local/cuda/bin/nvcc -c -o build/src/operator/pooling_v1_gpu.o -std=c++11 -Xcompiler -D_FORCE_INLINES -g -O3 -ccbin g++  -gencode arch=compute_30,code=sm_30 -gencode arch=compute_35,code=sm_35

[2017-05-09 14:27] nikrao commented on #6166
Isn't this the latest release? Would you still suggest I update?

On Mon, May 8, 2017 at 9:13 PM, Nikhil Rao <nikhilrao86@gmail.com> wrote:

[2017-05-09 14:50] thirdwing commented on #6159
I am sorry that I don't have a Windows machine with GPU.

A two-round installation is required for R installation. We need to generate NAMESPACE in the first round.

Please see https://github.com/dmlc/mxnet/blob/master/Makefile#L324-L331

[2017-05-09 14:53] thirdwing commented on #6132
I am sorry that I have no idea why your R hanged.

My suggestion is (1) removing the usage of NNPACK and MKL and (2) reinstalling.

[2017-05-09 16:45] pluskid commented on #6166
Yes, it seem to be the latest stable release. However, `mx.init.Constant` was added after that. You can try to upgrade to the pre-release v0.9.5 or if the only thing you need is `mx.init.Constant`, you could probably just copy that piece of code from the latest github code. https://github.com/dmlc/mxnet/blob/master/python/mxnet/initializer.py#L346

[2017-05-09 17:16] nikrao commented on #6166
I replaced the file with the one you linked to, but get the same error
still.

btw when i try to re-compile, i get another error after this (after git
pull and git submodule):

sudo make clean
Makefile:35: mshadow/make/mshadow.mk: No such file or directory
Makefile:36: /home/ubuntu/src/mxnet/dmlc-core/make/dmlc.mk: No such file or
directory
Makefile:131: /home/ubuntu/src/mxnet/ps-lite/make/ps.mk:

[2017-05-09 17:35] pluskid commented on #6166
Can you run
[code]
and `make` again?

[2017-05-09 17:46] ForoughA opened #6181 "Problem with implementing tree-LSTM's in mxnet"
I am implementing tree-LSTM's for predicting the negativity/positivity of sentences in mxnet and I am using the [BucketingModule](https://github.com/dmlc/mxnet/blob/master/docs/how_to/bucketing.md) to do this. The tree LSTM is structured similar to the structure of the parse-tree of each sentence. Therefore, each training sample will need a different structure. So I am using one bucket per input s

[2017-05-09 17:56] ChrisBotella commented on #6159
@thirdwing , Thank you for your answer, supposing my previous actions where ok, I tried the commands you indicated. So what I did :
* cd to the folder` .../mxnet/` and type the following commands
* `echo "import(Rcpp)" > R-package/NAMESPACE` -> Ok, I get the NAMESPACE file in `.../mxnet/R-package/`
* `echo "import(methods)" >> R-package/NAMESPACE` -> still ok
* `R CMD INSTALL R-package`
##First Er

[2017-05-09 18:06] nikrao commented on #6166
did it, still the same error. Would you like me to send you the logs from
make?

[2017-05-09 18:08] pluskid commented on #6166
Can you check `mx.__version__` to make sure you are running the latest version that you compiled? (should be 0.9.5)

[2017-05-09 18:22] nikrao commented on #6166
nope. still 0.9.3

On Tue, May 9, 2017 at 11:09 AM, Chiyuan Zhang <notifications@github.com>
wrote:

[2017-05-09 20:59] nikrao commented on #6166
so is this some issue with make?

On Tue, May 9, 2017 at 11:21 AM, Nikhil Rao <nikhilrao86@gmail.com> wrote:

[2017-05-09 22:28] sookinoby commented on #6057
@ysh329 . The example works with CPU only build. I ran the same exact code. I believe there is some mistake with GPU implementation.

[2017-05-09 23:39] GoGoStudio commented on #6103
I do not like 05b, the pattern is too generic, not related to "mix net", it's hard to reproduce. 04 and 03 are better because:
04 has a sense of mix
03 pays homage to apache.

[2017-05-10 01:03] pluskid commented on #6166
I think it is the way that you are compiling somehow does not overwrite the system wide existing code. You might be importing from some other sources, and that is also why when you directly replace the initializer.py, it does not work. I have not used the AMI environment, maybe you will need to figure out where the default mxnet is located in this environment.

[2017-05-10 01:45] ysh329 commented on #6057
@sookinoby Thanks a lot!

[2017-05-10 01:55] ysh329 commented on #6057
@sookinoby I tried it's okay:

I just edited one line:
[code]

[code]

[2017-05-10 03:11] sunspring320 commented on #6117
@Godricly i load the parameter successful, but in the step of
self.predictor.bind(self.data_shapes, self.label_shapes,for_training=False)
in BucketingModule  data_shapes is a vary length  sequence, what data_shapes for the input of bind?

[2017-05-10 04:45] daiab opened #6185 "Run on multi machine no mudule named mxnet"
I run model on single machine is well, but use launcher.py run the model on two machine, this will be error:
    import mxnet as mx
ImportError: No module named mxnet

[2017-05-10 05:33] eric-haibin-lin commented on #6185
Is MXNet on your python path on the machines?

On 2017年5月9日 周二 at 21:45 daiab <notifications@github

--
Best Regards,
Haibin Lin

Department of Computer Science
School of Computer Science
Carnegie Mellon University

[2017-05-10 05:37] daiab commented on #6185
I have set the PYTHONPATH env variable, and I tried to run the [example](http://mxnet.io/how_to/multi_devices.html#how-to-launch-a-job) on two machines and it works well. but in the same linux shell, run my own model will give me the error: No module named mxnet. I am confused about this

[2017-05-10 06:10] lijianhackthon commented on #6175
In addition, I have tried this demo using my own audios rather than Timit data. The Cross-entropy of the train and dev set finally turned out to be same as Timit, i.e. **23.025851**

[2017-05-10 06:29] ysh329 commented on #6057
@sookinoby You can ignure this `ctx = mx.cpu()` or `ctx = mx.gpu(0)`. Just directly edit the parameters of `parser.set_defaults`.

[2017-05-10 07:04] picctree opened #6186 "cudnn_deconvolution-inl.h"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:
ubuntu 12.04
Compiler:
g++-4.8 nvcc
Package used (Python/R/Scala/Julia):

MXNet version:

Or if installed from source:
from source
MXNet commit hash (`git rev-parse HEAD`):

If you are using python packa

[2017-05-10 07:17] bityangke commented on #6174
Do I need to install VS 2015？

[2017-05-10 07:22] bityangke commented on #6174
@yajiedesign  Thank you！ Gob Job! I will have a try.

[2017-05-10 07:42] xinq2016 opened #6187 "How can I run MXNET on GPUs of different machines?"
How can I run MXNET on GPUs of different machines?
how to config it?

Many thanks
Xin.q.

[2017-05-10 08:16] kharazi commented on #6170
[code]

[2017-05-10 09:25] sunspring320 commented on #6117
@Godricly thans, i think i finished the problem! thanks very much !

[2017-05-10 09:25] #6117 closed

[2017-05-10 09:41] happywu opened #6188 "Any plan to enable multiprocessing feature of NDArray?"
Hi,

Is there any plan to implement a method that could share NDArray (or model) using multiprocessing? Many tasks in deep reinforcement learning needs shared model to run in parallel, and due to training and evaluation often happen on-line (like train a batch size of 20, then inference), using parameter sever method (multi machine) is rather slow (small batch size, frequent parameter communicatio

[2017-05-10 10:03] changss opened #6189 "mxnet warpctc ——after“python python lstm_ocr.py ” something wrong"
[17:59:14] /home/chang/mxnet/dmlc-core/include/dmlc/logging.h:304: [17:59:14] src/operator/./slice_channel-inl.h:198: Check failed: ishape[real_axis] == static_cast<size_t>(param_.num_outputs) (2400 vs. 80) If squeeze axis is True, the size of the sliced axis must be the same as num_outputs. Input shape=(32,2400), axis=1, num_outputs=80.

Stack trace returned 10 entries:
[bt] (0) /home/chang/mxnet

[2017-05-10 10:39] piiswrong commented on #6188
mxnet engine is already async, so there is no need of multiprocessing.

[2017-05-10 13:53] liumilan opened #6190 "how can i print any weight arrays using monitor"
there is one example code using monitor
return mx.nd.norm(d)/np.sqrt(d.size)
but it print the L2 of weight.
if i'd like to the weight array
how can i change the code?
i tried  return d.asnumpy()
it report  assert isinstance(v_list, list)

[2017-05-10 14:09] matteosal opened #6191 "New padding value in max Pooling"
The padding behaviour of max Pooling layer has changed at some point, padding with a value of -3.4e+38 (probably the most negative float) instead of zero.

While the reason for this is understandable (i.e. never pick the padding value as output), it leads to very undesirable side effects for the cases in which the kernel size is less or equal the padding size. Namely, the huge negative padding val

[2017-05-10 14:21] ForoughA commented on #6181
My issue was resolved by tweaking the _update_params(..) function in [model.py](https://github.com/dmlc/mxnet/blob/master/python/mxnet/model.py) with the function below.

NOTE: this does not support multiple devices, the way the original MxNet code does. It rather changes the dictionary keys (index passed to updater) to the parameter names, so that if the graph is dynamic, the newly created states

[2017-05-10 14:21] #6181 closed

[2017-05-10 14:30] nikrao commented on #6166
OK. Let me retry the whole thing but with installing MXNet on a GPU from
scratch

thanks

On Tue, May 9, 2017 at 6:03 PM, Chiyuan Zhang <notifications@github.com>
wrote:

[2017-05-10 14:30] #6166 closed

[2017-05-10 15:15] mcxkarakoc commented on #1220
@mcxkarakoc

[2017-05-10 15:44] mcxkarakoc commented on #5494
.

[2017-05-10 15:50] mcxkarakoc commented on #2558
.

[2017-05-10 15:54] mcxkarakoc commented on #2087
.

[2017-05-10 15:58] mcxkarakoc commented on #4294
.

[2017-05-10 16:13] mcxkarakoc commented on #4659
.

[2017-05-10 16:17] mcxkarakoc commented on #5781
.

[2017-05-10 16:21] mcxkarakoc commented on #5208
.

[2017-05-10 16:26] mcxkarakoc commented on #4582
.

[2017-05-10 16:30] nikrao commented on #5900
I checked this out, and this seems to be doing some funky version of softmax cross entropy, and not the traditional binary cross entropy. I am interested in the multilabel problem , so this will notwork. I have to define a new loss and add it in as referenced in other issues.

I will try it an open a separate issue if that does not work

[2017-05-10 16:30] #5900 closed

[2017-05-10 16:30] mcxkarakoc commented on #3165
.

[2017-05-10 17:27] songshuang00 opened #6194 "ToolkitError: Error applying callback. Error code -1"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: OSX 10.11

Compiler: Unknown

Package used (Python/R/Scala/Julia): Python

MXNet version: 0.7.0

If you are using python package, please provide

Python version and distribution: 2.7.13

## Error Message

[2017-05-10 20:40] yangshao opened #6195 "mx.io.NDArrayIter cannot work with large memmap npy file."
Hi, I want to use memmap npy file to deal with large scale input(more than 10 gbs), the mx.io.NDArrayIter works for small memmap file, but fails for large file. Error information is provided as following, Is there any way to solve this? Thanks.

## Environment info
Operating System: Centos

Compiler:

Package used (Python/R/Scala/Julia): python

MXNet version: 0.9.5

Or if installed from source:

[2017-05-10 21:53] yangshao commented on #791
@yl2612 I come across the same error as you for the TypeError, Did you solve it  or not?

[2017-05-10 22:42] yl2612 commented on #791
@yangshao i wrote my own iterator instead

[2017-05-10 22:47] yangshao commented on #791
hi，can you share it？ thanks a lot！

On May 10, 2017 6:42 PM, "yl2612" <notifications@github.com> wrote:

[2017-05-10 22:54] dleen commented on #6195
This can be seen with a very simple example:

[code]

which gives the same error:

[code]

Getting the size and shape are ok:
[code]

[2017-05-10 23:08] dleen commented on #6195
Also this:

[code]

[2017-05-10 23:10] dleen commented on #6195
It was pointed out that ```index_t``` on [this line](https://github.com/dmlc/nnvm/blob/master/include/nnvm/tuple.h#L391) could be the problem since this is just an alias for ```uint32_t``` (see [here](https://github.com/dmlc/nnvm/blob/master/include/nnvm/tuple.h#L19))

[2017-05-10 23:13] yangshao commented on #6195
@dleen Thanks for this reason, is there any solution for this?

[2017-05-10 23:15] dleen commented on #6195
I am going to see if changing the local variables of the [Size](https://github.com/dmlc/nnvm/blob/master/include/nnvm/tuple.h#L389) method to all be ```size_t``` helps.

[2017-05-11 02:46] happywu commented on #6188
I know that mxnet engine is already async. However, what is needed there is in fact explicit async, which is just like distributed training. Instead of using multiple nodes and parameter server, shared model parameters used in a single node is preferred due to large communication overhead.

The way you mentioned could work, just like your version of a3c, however, is it not exactly the same as the

[2017-05-11 03:46] ashwhall opened #6200 "Distributed MXNet fails to bind symbols"
## Environment info
**Operating System:**
Ubuntu 16.04.1 LTS

**Compiler:**
??

**Package used:**
Python

**MXNet version:**
mxnet (0.9.5)

**MXNet commit hash:**
`232d8372c668b07ed7c7e58718fc529567139b00`

**If you are using python package, please provide Python version and distribution:**
Python 2.7.6

## Error Message:
When trying to train ResNet on CIFAR10, my validation accuracy was very stra

[2017-05-11 04:18] piiswrong commented on #6191
sounds good.

[2017-05-11 05:53] eric-haibin-lin commented on #6187
http://mxnet.io/how_to/multi_devices.html

[2017-05-11 05:54] jk314 opened #6202 "Using ignore_labels in SoftmaxOutput with multi_output = true"
I have a confusion regarding using SoftmaxOutput for multi-label classification with ignore_labels.
It seems that if the labels are provided as a 1-hot array, the ignore_labels are not honoured, and gradients are still compute for those (x,y) locations.

For example:
Lets say we have a image segmentation problem with two labels : S == Sky == 0 and G == Ground == 1 and C == Car == 2 and ignore_labe

[2017-05-11 06:25] picctree commented on #5912
do you solve it?

[2017-05-11 07:36] starimpact commented on #5734
I write a self solver code to replace the module of mxnet , and the training loss descends ok now.

[2017-05-11 07:56] lialie opened #6204 "[Fast-RCNN] Proposal operator failed: too many resources requested for launch"
## Environment info
Operating System: Ubuntu 16.04

Compiler: Gcc 5.4, cuDnn 5.1, cuda 8.0.44,  Nvidia 375.39 (980Ti)

Package used (Python/R/Scala/Julia): Python

MXNet version: 0.9.5

MXNet commit hash (`git rev-parse HEAD`):

5d65519aad15a9d1bd71f86cdd6d9849e8ea2263

Python version and distribution:  Python 2.7.12

## Error Message:

Called with argument: Namespace(begin_epoch=7, dataset='Pasca

[2017-05-11 08:00] xuancong84 opened #6205 "Cannot even perform matrix multiplication using CPU??"
On Machine 1, Ubuntu 16.04.2 (LTS 64-bit), I have installed a fresh copy of mxnet using the standard command line:
pip install mxnet-cu80

Just trying the simplest maths function (matrix multiplication) fails as follows:
[code]

So I cannot even get started on my Desktop, that is quite disappointing!!!

However, I have done exactly the same thing on Machine 2 (with identical OS version, miniconda2

[2017-05-11 09:26] piiswrong commented on #6205
@szha Looks like a binary compatibility problem?

[2017-05-11 09:28] piiswrong commented on #6204
@ap-hynninen would launch bound fix this?

[2017-05-11 09:32] #4864 closed

[2017-05-11 10:24] Pagey commented on #3151
No Comments on this? I am getting a similar performance degradation (i.e. around 66%) on latest version (0.9.5) on a GTX 1080ti GPU on windows for  mx.mod.Module relative to  mx.model.FeedForward
The degradation can be visualized on GPU-Z where GPU Load graph is choppy and oscillates between 100% and 0% per batch for mx.mod.Module, and seems continuous around 100% for mx.model.FeedForward (see att

[2017-05-11 10:29] #4471 closed

[2017-05-11 10:32] piiswrong commented on #3151
@eric-haibin-lin
Could you provide the whole script including data iterator and network def?

[2017-05-11 10:39] piiswrong commented on #6188
that's not what I meant

You can have N workers that are only running the simulator and a single master that runs training.

[2017-05-11 10:50] xuancong84 commented on #4471
Just curious, so has this feature been implemented? Thanks!

[2017-05-11 10:59] piiswrong commented on #6188
@mli
Is there room for improving dist_async? Use memory mapping when running multiple processes on a single node?

[2017-05-11 11:21] qclu commented on #6189
same issue.

[2017-05-11 11:32] qclu commented on #3816
no replies?

[2017-05-11 11:39] nswamy opened #6206 "Install the scripts in the tools package."
MXNet has provides many utility scripts in the tools folder. These scripts are commonly used(e.g: tools/im2rec.py).
These should packaged and installed when MXNet installed using either PIP or built from source and available in the default PYTHONPATH.

[2017-05-11 12:53] AmedeoSapio opened #6207 "404 error for the installation guide"
Hello,
the link to the [installation guide](http://mxnet.io/get_started/setup.html) seems to be broken.
This page is linked both in github and the website.

[2017-05-11 13:01] zhiweizhong opened #6208 "problem in example/image-classification/predict-cpp/image-classification-predict.cc"
I'm using the MXNET in C++ API refer to the example in example/image-classification/predict-cpp/image-classification-predict.cc. I have one question in the `GetImageFile` function.

The code as follow:
[code]
My question is:
Is the order wrong when get the channels from the image matrix? As I know, the order of the channels is BGR in OpenCV.
[code]

[2017-05-11 13:22] happywu commented on #6188
How can I collect the data from different simulators using multiprocessing? Use Queue?

[2017-05-11 14:29] eickhoff commented on #6205
I have the same issue.

Intel(R) Xeon(R) CPU E5-4650 0 @ 2.70GHz (no AVX2 support):
Code does not run.

Intel(R) Core(TM) i7-4600U CPU @ 2.10GHz (with AVX2 support):
Code runs flawlessly.

[2017-05-11 15:14] xuancong84 commented on #6205
Since the binary does not work, I have to compile from source, but I get the following error.

[code]

It seems that some necessary files are missing preventing make to proceed.

[2017-05-11 15:21] Pagey commented on #3151
it would take me some time to produce a minimal viable code, but generally the network is a variation of alexnet, and the data iterators are on arrays of images, i.e.

train = mx.io.NDArrayIter(
        train_img, train_lbl, batcher, shuffle=True)
val = mx.io.NDArrayIter(
        val_img, val_lbl, batcher)

[2017-05-11 15:48] yangshao opened #6210 "How to use MakeLoss and self defined metric together"
I want to use a loss layer only calculating the cross entropy loss without logistic/softmax activation. so I use makeloss as following:

net = mx.sym.Variable('data')
y = mx.sym.Variable('softmax_label')
net = mx.sym.L2Normalization(net,name='l2', mode='instance')

gate_activations = mx.sym.FullyConnected(net, name='fc1_gate', num_hidden=num_class*(num_mixtures + 1))
expert_activations = mx.sym.Fu

[2017-05-11 16:25] patwa67 commented on #5911
The Ftrl optimizer doesn't work:
[code]

AttributeError: type object 'NDArray' has no attribute 'abs'

[2017-05-11 17:10] WesleyZhang1991 opened #6211 "different foward results on two machines"
Hi,all. We managed to train a segmentation network and use it to get predicted results in forward step. The results are the same for several machines.However, on one old machine with cpu i5 + new gpu nvidia1060,the results are different.The data before the foward step is exactly the same and the returned data after network foward is different. No batch norm or dropout is used in the network. Any s

[2017-05-11 17:15] WesleyZhang1991 commented on #6211
The problem machine produces the same results on its cpu mode and gpu mode. But these results are different from other machines. As we will use the segmentstion for very accurate use, minor differences are not allowed.

[2017-05-11 17:22] yangshao commented on #6195
@dleen i'm not sure I know how to change it, if i change it, do i need to recompile and reinstall everything?is there anyway to get around this?

[2017-05-11 17:29] dleen commented on #6195
So I wasn't able to change the variable locally. It has a global impact on the code. I don't think there is any way around this problem right now. I think there is some discussion about changing the indexing type to ```int64``` but that will take a long time.

[2017-05-11 17:48] dleen commented on #6195
@yangshao  Is it possible for you to load your file in batches?

[2017-05-11 17:54] VoVAllen commented on #6211
Have you checked mxnet's version?

[2017-05-11 18:01] yangshao commented on #6195
@dleen i don't think so, it's a large npy file.

[2017-05-11 18:09] yangshao commented on #6195
@dleen I think i get your idea, maybe i can load the memmap first, and write an wrapper dataiter on it.... But i'm not familar with dataiter,  how does the dataiter deal with the last batch where num_samples is less than batch_size as dataiter need to provide provide_data and provide_label.

[2017-05-11 18:13] dleen commented on #6195
@yangshao You pad with zeros to fill up to the batch_size.

[2017-05-11 18:43] yangshao commented on #6195
@dleen thanks, i will try it. Besides, is there any way to make data_iter paralleble?

[2017-05-11 19:07] ap-hynninen commented on #6204
So is it running out of registers? Yes, you should try setting __launch_bounds(kMaxThreadsPerBlock)

[2017-05-11 20:16] dwbhappy opened #6213 "Using imperative programming returns incompatible attr in node error"
I am attempting to reproduce the network I have with imperative programming in R. While using the symbolic programming the network is a simple mxnet with one hidden layer and 20 nodes:

`NHIDDEN <- 20`
`array.batch.size <- 200`
`act <- mx.symbol.Variable("data")`
`fc1 <- mx.symbol.FullyConnected(act, num.hidden = NHIDDEN, name='fc1')`
`act <- mx.symbol.Activation(data = fc1, act_type = "tanh", nam

[2017-05-11 21:11] saurabh3949 opened #6214 "Is optimization a blocking operation on parameter server?"
Assuming that I have 1 parameter server node in dist_async mode and multiple worker nodes, I am trying to do most of the computation on the server using a custom updater function.
Essentially I am trying to implement Word2Vec using async SGD using the parameter server. My updater method receives some indices from the workers and then it performs several matrix operations on the server itself to up

[2017-05-11 22:49] mengjiaow opened #6216 "tools/im2rec.cc does not handle error cases"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: Ubuntu

Compiler:

Package used (Python/R/Scala/Julia):

MXNet version:

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are using python package, please provide

Python v

[2017-05-12 00:05] szha commented on #6205
@xuancong, thanks for reporting this. I'm looking into this. Do you mind trying out '''mxnet-cu80mkl''' too?

[2017-05-12 02:00] yangshao opened #6218 "mxnet.base.MXNetError on gpus"
I'm trying to run mxnet on an multi-label problem using self defined MakeLoss, the code runs fine on cpu, but fails on gpus, I cannot find any related information online.

## Environment info
Operating System: Centos

Compiler: gcc 5.3.0

Package used (Python/R/Scala/Julia): python 3.6

MXNet version: 0.9.5

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are using

[2017-05-12 02:35] WesleyZhang1991 commented on #6211
mxnet version is the same. Also numpy, cv2 and other packages are the same. By the way, we use on Windows platform.

[2017-05-12 03:01] piiswrong commented on #6211
how did you install it?

[2017-05-12 03:02] piiswrong commented on #6211
How much is the difference? What hardware does the other machine have?

[2017-05-12 03:08] changss commented on #6189
I think it  is  also about warp-ctc, I do change the version of warp-ctc,but it still not work.

[2017-05-12 04:34] yangshao commented on #6204
@ap-hynninen I have exactly the same problem, how should i change kMaxThreadsPerBlock? Thanks

[2017-05-12 04:35] xuancong84 commented on #6205
I have managed to built MXNET from source with MKL2017 and CUDA, now it works on my desktop! That is good!
Thanks to @szha , the mxnet-cu80mkl pip wheel also works without crashing!

So I hope this could give some tips to the developer. Not so many computers support AVX2 instruction set, so when you build the optimized binary, try not to optimize too much.

Hi @piiswrong , while compiling MXNET, I

[2017-05-12 04:35] #6205 closed

[2017-05-12 05:30] #2735 closed

[2017-05-12 05:30] #3390 closed

[2017-05-12 06:23] WesleyZhang1991 commented on #6211
Problem solved.  We test with different models! Though the same name(we renmae the param file), the MD5 is different.
We build windows mxnet on the new machine and put all the necessary dll files to a folder and then set the folder to the system environment path.
The difference is minor but is visible by human which is not satisfying.

[2017-05-12 06:23] #6211 closed

[2017-05-12 07:07] xwzheng1020 commented on #5511
I met the similar problem on windows platform, no gpu used.
After running example\image-classification\predict-cpp\image-classification-predict.cc, the program cannot exit by itself.

[2017-05-12 07:55] ysh329 opened #6220 "[Docs]404 Not Found: http://mxnet.io/get_started/setup.htm"
[docs](http://mxnet.io/get_started/setup.htm) 404 Not Found

[2017-05-12 07:56] #6220 closed

[2017-05-12 07:56] ysh329 commented on #6220
maybe a old link

[2017-05-12 09:14] lialie commented on #6204
Thanks all, I will check this and feedback ASAP.

[2017-05-12 10:49] Pagey commented on #3151
import mxnet as mx
import numpy as np
import matplotlib.pyplot as plt
from symbols import alexnet as nettt
import sys
import time

print ('started ' + time.strftime('%x %X'))
startedd = time.time()

target_dim = 256

batcher = 64

num_images=512

use_module_on_your_own_risk=True

# create images
# rand (0) rand with circles(1)

xcoords = np.ones((target_dim,1))*np.arange(target_dim)
ycoords = np.t

[2017-05-12 10:50] Pagey commented on #3151
ok about toy code demonstrates the problem, about *2 time difference on my GPU (and intermittent  GPU load on GPUZ)
Thanks

[2017-05-12 13:00] dwbhappy commented on #6213
I was able to find a tutorial with an example showing how to leverage the imperative programming language to solve this issue in Python. I should be able to translate it to R. The tutorial by Julien Simon is here:
https://medium.com/@julsimon/an-introduction-to-the-mxnet-api-part-3-1803112ba3a8

The code sample is also here:
https://gist.github.com/juliensimon/7cfef0423b0183e891774a289e156b49

[2017-05-12 13:00] #6213 closed

[2017-05-12 15:17] yuconglin opened #6222 "are messages in model.fit(....) logged into some file?"
when I ran the model.fit function, it printed on screen:
INFO:root:Epoch[0] Batch [8]	Speed: 4.61 samples/sec	Train-accuracy=0.083333
INFO:root:Epoch[0] Batch [16]	Speed: 4.60 samples/sec	Train-accuracy=0.109375
INFO:root:Epoch[0] Batch [24]	Speed: 4.58 samples/sec	Train-accuracy=0.203125
INFO:root:Epoch[0] Batch [32]	Speed: 4.57 samples/sec	Train-accuracy=0.171875
.....................

instead o

[2017-05-12 15:55] ap-hynninen commented on #6204
@yangshao You shouldn't have to change kMaxThreadsPerBlock as long as it's <= the number of max threads on your GPU. This is 1024 on modern (post Kepler) GPUs. Also check that the code is compiled for the GPU architecture that you're running on. This ensures that nvcc is not allocating more registers than the hardware has.

If this problem remains, let me know and I'll reproduce it.

[2017-05-12 15:56] yuconglin opened #6223 "fine-tuning and freezing layers"
I was trying to freeze conv layers of vgg16 and only train the last few fc layers.
I followed http://mxnet.io/how_to/finetune.html and https://github.com/dmlc/mxnet/issues/4616.

according to http://mxnet.io/api/python/module.html, when we provide arg_params in mx.modul.fit function,
"the value here will be used to initialize the module parameters, unless they are already initialized by the user v

[2017-05-12 16:04] SmartAir commented on #2571
@cjfan
Hi, I am also trying to modify `kvstore_dist_server.h` to implement another mode of synchronizing data in distributed training. I am also confused with the question:

And do you have an answer to your work:

I am doing similar work, but met some problems during my current modification of  `kvstore_dist_server.h` #6158  #6078 , maybe we can have a more detailed discuss?
Thank you in advance~

[2017-05-12 17:29] yuconglin opened #6224 "Is this a memory issue?"
HI Mxnet Supporters:
    I came across the following error when I was trying to train some images. I followed http://mxnet.io/how_to/finetune.html to fine tune a VGG16 model.
    Can anyone help to explain why I got this error and how to fix it?
    Thanks a lot in advance.

the data size:
<NDArray 17136x3x224x224 @cpu(0)> (train data)
<NDArray 17136 @cpu(0)> (train label)
<NDArray 5712x3x224x224

[2017-05-12 18:21] piiswrong commented on #6223
in module's constructor there is fixed_param_names. weights with names in the list will be frozen

[2017-05-12 18:25] yuconglin commented on #6224
I observed my machine's memory and found that it is quite possible that it is a memory issue.

[2017-05-12 18:51] szha commented on #6205
@xuancong84 @eickhoff I've fixed this problem for ```mxnet, mxnet-cu75, mxnet-cu80```. Could you ```pip install -U``` and try the new version and see if the issue is fixed for you?

[2017-05-12 21:28] salemmohammed opened #6228 "Parameter Server"
Hi all,

How to read parameter server code ? Do you guys have documentary files ? what is the last generation of the parameter server ? I read the paper for generation 3rd and I found it interesting.

[2017-05-12 21:29] salemmohammed commented on #6228
@mu li

[2017-05-13 02:37] changss commented on #6189
mxnet.base.MXNetError: Error in operator slicechannel0: [10:36:50] src/operator/./slice_channel-inl.h:198: Check failed: ishape[real_axis] == static_cast<size_t>(param_.num_outputs) (2400 vs. 80) If squeeze axis is True, the size of the sliced axis must be the same as num_outputs. Input shape=(32,2400), axis=1, num_outputs=80.

[2017-05-13 08:20] moveforever commented on #5911
@patwa67 , I have fixed it in my project, and you can refer to https://github.com/moveforever/mxnet/commit/b822e95b4fa176a462221347dc40ab0c42a2058f

[2017-05-13 08:24] starimpact commented on #5734
I found the root problem:
just look at the top code: ```proxy_yM``` is just a input mark. ```proxy_Z``` is a weight need to be updated. if I set the grad_req of ```proxy_yM``` be ```null```, the gradient of ```proxy_Z``` will be very large. if I set the grad_req of ```proxy_yM``` be ```write````, the gradient of ```proxy_Z``` will be normal.
Is it a bug of mxnet?
@piiswrong

[2017-05-13 09:06] zhangfanqie commented on #5343
Hi,could you please tell me how you label your own images,I used the labelme but got some error.
Thank you!

[2017-05-13 09:11] zhangfanqie commented on #3449
@yxchng  Could you please tell me how to make label images? I tried labelme but got some error.I'm new with mxnet. Thanks a lot!

[2017-05-13 11:19] starimpact commented on #5734
the following code can repeat the problem, just run it:
[code]

[2017-05-13 11:23] starimpact commented on #5734
@piiswrong @zihaolucky @mli @tqchen

[2017-05-13 12:05] starimpact opened #6233 "gradient problem in 0.9.5, see #5734"
I have given the reproduction code in #5734, please have a look. @piiswrong

[2017-05-13 13:02] starimpact opened #6234 "suggest add a condition statement to allow label to be None"
before https://github.com/dmlc/mxnet/blob/master/python/mxnet/module/executor_group.py#L522,
should add:
[code]
because, sometime we do not need labels for training.

[2017-05-13 13:15] piiswrong commented on #5734
@reminisce could you take a look?
Could be a binding problem

[2017-05-13 18:24] reminisce commented on #5734
@piiswrong I will take a look.

[2017-05-13 18:32] dianyancao commented on #3725
Sorry for late reply,mxnet now have fix this,see example\image-classification\predict-cpp
About how to load a windows dll dynamiclly:
http://www.cnblogs.com/lhbssc/archive/2012/02/08/2342853.html

[2017-05-13 19:33] Liete commented on #5979
Hello,

I have the same problem. Each time I use a more sophisticated network, all the predictions (even during training) are the same. The neural net regresses towards the mean of all values and stays there.

This seems similar to issues found by others:
[http://stackoverflow.com/questions/15572091/neuralnet-prediction-returns-the-same-values-for-all-predictions](url)
[https://github.com/dmlc/mxn

[2017-05-14 00:39] starimpact commented on #5734
@reminisce how about the progress, what can I help?

[2017-05-14 02:11] lzx1413 commented on #5343
@zhangfanqie you can have a try with this one https://github.com/lzx1413/labelImgPlus

[2017-05-14 03:47] starimpact commented on #5734
in mxnet0.9.5. even the gradient seems to be normal, the training still can not converge. so I think the gradient is still not right in any condition of two.
but the same training can converge in mxnet0.8.0.

[2017-05-14 07:45] xinghedyc opened #6242 "How to use SpacialTransformer or Gridgenerator and bilinearsampler? Are there any examples?"

[2017-05-14 08:10] starimpact commented on #5734
use the following initialization of data will give the stable output:
[code]
and, I compared the 0.9.5 with 0.8.0:
let ```grad_req['proxy_yM'] = 'write'```, two version will give same result gradient info.

[2017-05-14 08:24] yulinchenhades opened #6243 "use MXSymbolListAtomicSymbolCreators and out_size is zero"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:centos7

Compiler:g++ (GCC) 4.8.5 20150623

Package used (Python/R/Scala/Julia):c++ package

MXNet version:

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

## Steps to reproduce

[2017-05-14 11:25] Pagey commented on #747
@piiswrong are BatchNorm or LRN supposed to support 3d? as I wrote I'm getting dimension errors on these-
Thanks!

[2017-05-14 12:10] neiledgard commented on #6010
Is it possible that its the batch normalizing layer? It is suspicious, especially because I use 4 GPUs.

[2017-05-14 12:15] ysh329 commented on #2593
Thanks my brother!

[2017-05-14 12:19] ysh329 commented on #2593
I occurs this issue when inference. Does this mean MXNet only can use one gpu when inference because of this code below?
[code]

[2017-05-14 13:15] YonghaoHe opened #6244 "MXNet has some strange problems about speed on both GPU and CPU"
First, I give the configurations about my MXNet:
version:0.8 / 0.9.3
CUDA: 1
cuDNN: 1
USE_OPENCV: 1
USE_OPENMP: 1
blas: openblas
GPU: GTX 980M
CPU: I7-6700HQ

Problem 1:
I run a deep and plain CNN model with different input size on GPU, and I found that larger input size is much faster than smaller input size: 500x500x3---130ms, 1000x1000x3---50ms. But when the size comes to 256x256x3, the speed i

[2017-05-14 14:04] eickhoff commented on #6205
Works out-of-the-box now for me.
Thanks a lot!

[2017-05-14 14:08] Ldpe2G opened #6245 "Compile lastest MXNet failed with cude 8.0"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: Ubuntu 14.04

Compiler: gcc 4.8

Package used (Python/R/Scala/Julia):

MXNet version: 0.9.5

Or if installed from source: yes

MXNet commit hash (`git rev-parse HEAD`): 38f7c5584016e92ba1e0ee1b00ea663274

[2017-05-14 17:34] SmartAir opened #6248 "How to get the total number of keys in kvstore?"
Hi, I want to get the total number of keys in kvstore. In addition to directly counting the different keys in `mxnet/src/kvstore/kvstore_dist_srever.h`, is there any existing function that I can use？

 And could someone please tell me how the keys are organized and distributed on multiple server nodes or which file I should read?

Thank you!

[2017-05-14 18:01] reminisce commented on #5734
@starimpact Thanks for the info. I am working on something else of high priority. I will start on this issue once it's done.

[2017-05-14 19:02] Liete commented on #5979
Alright I figured out why it does not work: I had MXNET_BACKWARD_DO_MIRROR set to 1. I disabled it and now the networks converge on decent values and actually produce different predictions. Hope this was the root of the problem.

[2017-05-14 19:29] Mrugankakarte commented on #5979
Hi,
Can you please tell me how exactly you disabled the MXNET_BACKWARD_DO_MIRROR?

Some kind of example with a code will be really helpful.
Thanks

[2017-05-15 01:23] xuancong84 commented on #6205
Now it works! Many thanks!-:)

[2017-05-15 01:58] liangfu opened #6250 "Query Compile Flags"
Is there anyway to check compile flags of `mxnet` with python interface?
The way i'm trying to use is to locate libmxnet.so, and check linkage with `ldd`:
[code]
so that I can know whether `cudnn` is enabled, along with which version of cudnn i'm using.

Things become more complicated when there are multiple instance installed in the system, such as locations at `~/.local/lib/python2.7/dist-packag

[2017-05-15 02:17] starimpact commented on #5734
@reminisce please let me help you. You can tell me how to do, I really want to solve it urgently.

[2017-05-15 02:48] #6245 closed

[2017-05-15 03:27] whaozl commented on #5136
I solve this problem, Thank you very much, I reinstall this python2.7 and pythonnet. mxnet I compile the resource code.

[2017-05-15 03:27] #5136 closed

[2017-05-15 03:57] YonghaoHe commented on #6244
I have some other interesting findings.  On GPU, input size 330x**334**x3 takes 7.7ms, where as size 330x**335**x3 takes 34ms.  Dose anyone encounter such strange phenomena?

[2017-05-15 06:00] starimpact opened #6252 "[New OP] slice a row from a matrix with input variable, not a fixed integer."
formally, it is like the following:
[code]
how about to implement a operator be like ```slice_row_var``` ?
it will be very useful!

[2017-05-15 06:40] #6170 closed

[2017-05-15 07:38] Liete commented on #5979
Hey,

Just set the environmental variable MXNET_BACKWARD_DO_MIRROR to 0, either in python or outside:
`import os`
`os.environ['MXNET_BACKWARD_DO_MIRROR'] = '1'`

[2017-05-15 07:42] wyzero commented on #6080
Is there anything new about this problem?

[2017-05-15 08:03] superclocks opened #6254 "how to use RNN parameters in rnn example"
@piiswrong, I found that FusedRNNCell used in cudnn_lstm_bucketing.py finally call mxnet.symbol.RNN. These is a parameters mode ({'gru', 'lstm', 'rnn_relu', 'rnn_tanh'} in RNN, i want to know how mode control the rnn net struction, but i can't debug into mxnet.symbol.RNN. Could you show me some infos about mxnet.symbol.RNN, i think the infos in http://mxnet.io/api/python/symbol.html?highlight=rnn#

[2017-05-15 08:51] lialie commented on #6204
using __launch_bounds__ did solved  the resource exhausted, but without lucky. Another resource request error occurred. As following:
mxnet.base.MXNetError: [10:00:45]....../mshadow/mshadow/././././cuda/tensor_gpu-inl.cuh:112: Check failed: err == cudaSuccess (7 vs. 0) Name: MapPlanKernel ErrStr:too many resources requested for launch

And try to add --maxrregcount flag to nvcc cmdline, set value

[2017-05-15 08:59] 123chengbo commented on #6080
no，still can't solve this.

[2017-05-15 09:10] Mrugankakarte commented on #5979
I tried setting the environment variable MXNET_BACKWARD_DO_MIRROR = 0 but had no luck. I am still getting the same value for predictions. I read the documentation for mxnet; The variable is by default set to 0. [Link](http://mxnet.io/how_to/env_var.html)

I think there is some problem with the way I am creating the network or maybe with the input data that I am feeding to the network.
Can 'relu' a

[2017-05-15 09:32] Liete commented on #5979
I had similar experiences with relu and softrelu as well. It did help to not have any activation function between the final layer (with a single node) and the previous fully connected layer.

I was able to train an inception v3 based neural net using a linear regression output and it did quite well for around 100 epochs but then it also started to produce the same prediction for all samples.

[2017-05-15 12:19] patwa67 commented on #5911
How do I get that change into my MXNet installation?

[2017-05-15 12:58] moveforever commented on #5911
copy file python/mxnet/optimizer.py

[2017-05-15 13:01] moveforever commented on #5911
copy file python/mxnet/optimizer.py into `lib/python2.7/site-packages/mxnet-0.9.5-py2.7.egg/mxnet`

[2017-05-15 13:13] patwa67 commented on #5911
There is no change in:
https://github.com/dmlc/mxnet/blob/master/python/mxnet/optimizer.py
Do you mean another file?

[2017-05-15 13:39] patwa67 commented on #5911
I don't have:
site-packages/mxnet-0.9.5-py2.7.egg/mxnet/
Can I just create these or do I need to install something?

[2017-05-15 14:01] #5159 closed

[2017-05-15 15:46] jmacglashan commented on #1557
@piiswrong You said not building with GPU enabled opencv is a _temporary_ solution; is there an improvement being planned in the future? GPU-enabled open-cv is useful for my setting and myself and my colleagues also use docker containers which means the "first time" can be rather frequent, making this very slow startup somewhat painful.

[2017-05-15 16:18] VincentSC opened #6257 "Merge AMD-HIP port"
AMD has just released their port for MXnet to AMD GPUs, to be found [here](https://github.com/ROCmSoftwarePlatform/mxnet).
Please merge that code, so MXnet works on both NVidia and AMD hardware.

[2017-05-15 16:42] kishoreabhishek commented on #5682
Try  changing the number of epochs to 50

[2017-05-15 16:55] ap-hynninen commented on #6204
Compiling for the 980 Ti architecture should solve your problem. Change config.mk line
-gencode arch=compute_50,code=sm_50
to
-gencode arch=compute_52,code=sm_52

with this setting you shouldn't have to set __launch_bounds().

List of all compute capabilities can be found on this Wikipedia page: https://en.wikipedia.org/wiki/CUDA

[2017-05-15 18:01] piiswrong commented on #3151
Could be a problem with NDArrayIter. Does this also happen with ImageRecordIter?

[2017-05-15 18:38] piiswrong commented on #6257
I took a quick look but it looks pretty preliminary. Have you verified that its actually working?

[2017-05-15 18:52] patwa67 commented on #5911
OK, I just replaced in dist-packages/mxnet/
However, it was necessary change to:
[code]

[2017-05-15 19:02] Pagey commented on #3151
I only worked with NDArrayIter so far as my images could fit in RAM-
could someone reproduce the result with my code?

[2017-05-15 21:18] BLCKPSTV commented on #1161
Hi, I have the same problem.
`Python 2.7.10 (default, Feb  6 2017, 23:53:20)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "generate.py", line 8, in <module>
    import skimage.transform
ImportError: No module named skimage.tra

[2017-05-15 21:48] VincentSC commented on #6257
Nope, I was hinted on new additions to Github and reacted on that. So you could be totally correct on this.
We're going to benchmark Torch7, Caffe and the MXnet in the coming weeks, and then we would've found out. Torch7 and Caffe are full ports for sure, so I assumed MXnet would too - it would explain the lack of build-instructions.

The good part is that you can choose to integrate it gradually,

[2017-05-15 22:15] ShownX opened #6260 "no get_mnist() in test_utils"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: Ubuntu 14.04

Compiler: GCC 4.9

Package used (Python/R/Scala/Julia): Python

MXNet version: 0.9.5

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are using python packag

[2017-05-15 22:57] Pagey commented on #3151
OK just checked that a similar time factor (this time around *1.8 time in Module compared with Feedforward) appears also when using ImageRecordIter
in a toy example, this time using LeNet and cifar10 rec files as prepared in the image-classification demo
this is the code:
`import mxnet as mx
import numpy as np
import matplotlib.pyplot as plt
from symbols import lenet as nettt
import sys
import tim

[2017-05-15 23:34] reminisce commented on #5734
@starimpact Thanks for offering help. I have reproduced the problem using your python script. I roughly took a look at the backend binding flow for setting up using grad_req, it doesn't look like there are obvious bugs. Could you try to simplify the script by reducing the number of operators as much as possible so long as the issue is reproducible? It will greatly help me debug in the backend usin

[2017-05-15 23:44] jiajiechen commented on #6179
Can you provide a code snippet and std output? If you are talking about the API `SoftmaxOutput`, the forward pass should give you the probabilities.

[2017-05-16 00:02] starimpact commented on #5734
@reminisce ok, I will try to give you a simplified one.
And, I suggest you have a look the v0.8.0 which is ok for this code to do a comparison.

[2017-05-16 00:45] wdx04 commented on #5940
Update: MKL 2017 Update 3 is out, dnnAlgorithmPoolingAvgIncludePadding is added in this release.
Also I found the cause of the crash when training my model resides in dropout-inl.h, where the MKL+OpenMP optimized path does not work in GPU context. Modifying the code to use the default path  fixes the crash.

[2017-05-16 01:20] starimpact commented on #5734
maybe it is the backend problem.
@reminisce

[2017-05-16 02:41] qinhui99 commented on #5682
Thanks for your reply. But it is no use to increase the epoch number. The results do not change much.

[2017-05-16 02:51] reminisce commented on #5734
@starimpact Even when featdim=2, if you run test4() twice in the main function,
[code]

the grad Z_weight are different from run to run. Looks like a result from some random initialization...

[2017-05-16 02:57] starimpact commented on #5734
@reminisce this is because the initialization of weight_Z is random. you can fix it a constant value.

[2017-05-16 03:13] reminisce commented on #5734
@starimpact With your latest script, when featdim=2 or featdim=1, grad Z_weight are still different when grad_req['proxy_yM']='null' and 'write'.

[2017-05-16 03:19] starimpact commented on #5734
yeah, I found it also. this bug is interesting.

[2017-05-16 03:34] johnsonice commented on #4065
@dytan 's method works for me as well. i just created a new conda virtual environment, build mxnet, install libgcc. then everything works.

[2017-05-16 03:52] starimpact commented on #5734
there is no one calculation in my model could lead value overflow.

[2017-05-16 03:56] patricianing opened #6265 "sym, arg_params, aux_params = mx.model.load_checkpoint('vgg16',0) failed in mxnet 0.9.5"
keep getting the following error when trying to load a model in python:
src/ndarray/ndarray.cc:700: Check failed: header == kMXAPINDArrayListMagic Invalid NDArray file format

[2017-05-16 04:00] ykim362 opened #6266 "RNN data iterator for the general inputs"
The current design of bucketing iterator could only handle the case of input vector size 1. Of course, this is a general use case for the seq-2-seq or language modeling. But, it could not be used for more general input shape.

In summary, it would be good if we could have a new iterator that can handle input vector of size n.

[2017-05-16 04:06] kevinthesun commented on #5734
I changed some parameters in the original codes to make it simpler. I set proxy_num and featdim to be 4. Grad Z_weight had one row of values to stay unchanged. Other three rows had much larger values when setting grad_req['proxy_yM']='null'.

It might be an issue related to specific operator in this symbol. I'll dive deep tomorrow.

[2017-05-16 04:13] patricianing commented on #1811
@YunLexi When you did the code change, how did you update the include files and make files? In order to define the new struct, you need to include ndarray.h and all dependent header files, right? Among them, tensor.h try to include <mkl.h>. However I built mxnet with openblas, not sure why it is trying to look for mkl.h ...

[2017-05-16 06:15] qclu commented on #6189
I update following line in func lstm_unroll from
`wordvec = mx.sym.SliceChannel(data=data, num_outputs=seq_len, squeeze_axis=1)`
to
`wordvec = mx.sym.SliceChannel(data=data, num_outputs=2400, squeeze_axis=1)`
then train flow can run, but it seems doesnot converge, and Train-Accuracy keeps 0.000000.

[2017-05-16 07:29] eldercrow commented on #6080
Are you using anaconda python? I got the same error when I use anaconda's cv2. It worked ok when I installed python cv2 from ubuntu repo. Still don't know why such thing's happening though.

[2017-05-16 08:12] chicn opened #6268 "[C++] Linking library error to build my own MxNet Project"
Hi. I'm trying to impliment [MTCNN](https://github.com/kpzhang93/MTCNN_face_detection_alignment) with C++ and MxNet.

However I receive an error like "`ld: symbol(s) not found for architecture x86_64`".

I've already built `libmxnet.a` and `libmxnet.so` files as written [here](http://mxnet.io/get_started/build_from_source.html#build-the-cpp-package). Then I made a `lib` directory at a root of my w

[2017-05-16 08:23] chicn commented on #6268
Any advices or suggestions are welcomed 😄

[2017-05-16 09:44] onzone opened #6269 "Different feature values in caffemodel and mxnet model"
## Environment info
Operating System: Windows

Compiler: Microsoft Visual Studio VC14

Package used (Python/R/Scala/Julia): Python,C++

MXNet version: 0.9.5

Python version and distribution: 2.7

First of all I am a newbie in the mxnet. There have been two issues when I tried to incorporate mxnet in my project. I used to work in caffe before.
1. So for testing, I downloaded pretrained caffemodel a

[2017-05-16 10:49] chetkhatri commented on #6161
@dwbhappy  We are working that !
CC/ @madjam

[2017-05-16 10:50] chetkhatri commented on #6207
@AmedeoSapio We are working on this.

CC\ @madjam

[2017-05-16 13:28] kickbox commented on #6161
For the time being, I found a reference to the old pdf here[https://media.readthedocs.org/pdf/mxnet-test/latest/mxnet-test.pdf]

[2017-05-16 15:37] patriciaaa82 commented on #6222
You can redirect your logging output to a file:

logging.getLogger().setLevel(logging.DEBUG)  # logging to stdout
logging.basicConfig(filename=filename,level=logging.DEBUG) #logging to a file

[2017-05-16 15:37] patriciaaa82 commented on #6260
I have the same issue

[2017-05-16 15:44] yuconglin commented on #6265
def get_model(prefix, epoch):
    download(prefix+'-symbol.json')
    download(prefix+'-%04d.params' % (epoch,))

 get_model('http://data.mxnet.io/models/imagenet/vgg/vgg16',0)
 sym, arg_params, aux_params = mx.model.load_checkpoint('vgg16', 0)

the above works fine for me

[2017-05-16 15:46] yuconglin commented on #6224
It seems that that was an installation issue

[2017-05-16 16:01] yuconglin opened #6271 "unknown gpu error"
Can anyone help with a gpu issue? Thanks in advance
## code
import mxnet as mx
a = mx.nd.ones((2,3), mx.gpu())
## error
[11:38:52] /home/ylin67/softwares/mxnet/dmlc-core/include/dmlc/logging.h:303: [11:38:52] /home/ylin67/softwares/mxnet/mshadow/mshadow/./tensor_gpu-inl.h:35: Check failed: e == cudaSuccess CUDA: unknown error

Stack trace returned 6 entries:
[bt] (0) /usr/local/lib/python2.7/dist-

[2017-05-16 16:23] piiswrong commented on #6268
@lx75249 looks like cpp package doesn't support mac os?

[2017-05-16 16:50] MarvinTeichmann opened #6272 "NNVM memory optimization example does not work"
# Steps to reproduce

Run the memcost example provided [here](https://github.com/dmlc/mxnet/tree/master/example/memcost).

* `make with_inplace`, `make with_sharing` and `make with_both` all three use the same amount of Memory `Total 1784 MB allocated`.

*  `make no_optimization` runs indefinitely

## Environment info
MXNet versions tested:

* 0.9.5-1
* build from source / master

Operating System

[2017-05-16 16:53] MarvinTeichmann commented on #6272
@tqchen

[2017-05-16 17:17] lx75249 commented on #6268
@piiswrong It supports.. I use mac to develop...

@chicn
You forgot to use find_library to link libmxnet.

You should add something like
[code]

Anyway, it's recommended to develop under the mxnet project, because it can keep the library update. You can create a project under cpp-package (like the example folder).

[2017-05-16 20:18] chetkhatri commented on #6161
@kickbox Cool ! PR has been raised, will be updated soon.
CC\ @dwbhappy @madjam @mli

[2017-05-16 20:40] lx75249 opened #6281 "mxnet gets stuck on cudaMemGetInfo"
## Environment info
Operating System: CentOS with cuda V8.0.61

Compiler: g++ 5.3.1

MXNet commit hash (`git rev-parse HEAD`):  3d545d77d99caaca50c464a2549d12e66d9d163b

## Steps to reproduce
1. cd cpp-package/example
2. ./get_mnist.sh
3. make mlp_gpu && ./mlp_gpu

Part of gdb backtrace:
#0  0x00007fff5d718990 in ?? () from /usr/lib64/nvidia/libnvidia-ptxjitcompiler.so.375.26
#1  0x00007fff5d718ac

[2017-05-16 21:06] alexshepard commented on #6260
fwiw, there are other methods to download the same dataset, such as from `sklearn`, which worked fine for me.
you'll need to do some wrangling to fit them into the data iterator for this tutorial, including paying close attention to how you reshape the input data, but you already did the data iterator tutorial, right? ;)

[code]

[2017-05-16 23:03] rococopeach opened #6284 "cpp-package multiple GPU support?"
Does cpp-package support multiple GPUs parallel training?
I am trying to implement A3C using cpp-package.

I saw another thread "How to run on multiple GPUs - python". https://github.com/dmlc/mxnet/issues/3082
It seems I need to use module instead of bind. I could not find module in cpp-package.

Do I need to use KVStore directly? How?
How mxnet::cpp::SetOptimizer works?

[2017-05-17 01:01] yajiedesign opened #6290 "[CSharp] Operator RNN is not registered"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:win 10

Compiler:vs2015

Package used (Python/R/Scala/Julia): [CSharp]( https://github.com/yajiedesign/mxnet.csharp) (work like c++)

MXNet commit hash (`git rev-parse HEAD`):38f7c5584016e92ba1e0ee1b00ea6

[2017-05-17 01:31] starimpact commented on #5734
@kevinthesun how about the progress, what can I help?

[2017-05-17 02:22] kevinthesun commented on #5734
@starimpact I'm still trying to track the root cause. A straightforward way would be print out the gradients of all operators. We can add print statements in this function: https://github.com/dmlc/mxnet/blob/master/src/executor/attach_op_execs_pass.cc#L138

Another method is to make a much simpler example with fewer operators, but this may actually require more work.

I'll try these the first meth

[2017-05-17 02:28] piiswrong commented on #5734
you can use monitor for printing

Yao Wang <notifications@github.com>于2017年5月16日 周二下午7:22写道：

[2017-05-17 02:34] kevinthesun commented on #5734
@piiswrong Thanks. Will try that.

[2017-05-17 02:39] akturtle commented on #5759
@mcxkarakoc Hi, I reopened this issue. But i don't how to report bug

[2017-05-17 04:31] reminisce commented on #5734
I found that the difference between ```grad_req['proxy_yM']='write'``` and ```grad_req['proxy_yM']='null'``` starts from node "broadcast_mul0_backward_0". Not sure if it's a problem of the operator or binding implementation. But If I change broadcast_mul to broadcast_add, the gradient of the weight does not change according to grad_req of 'proxy_yM'. I will investigate further.

[code]

[2017-05-17 04:35] githubfragments commented on #3283
I also want to use 'iter_size' to accumulate gradients over multiple batches. Caffe has a special parameter 'iter_size' to accumulate. Pytorch also can realize the function by  not zeroing the grad to keep accumulating the gradient in. How to  realize in mxnet? @tqchen

[2017-05-17 04:40] reminisce commented on #5734
Found the bug. It's a typo that req[0] should be req[1] for rgrad.
https://github.com/dmlc/mxnet/blob/master/src/operator/tensor/elemwise_binary_broadcast_op.h#L245

[2017-05-17 05:09] lilhope opened #6294 "How to test a c++ operator extension?"
Hi,I'm not quite familiar with mxnet c++ API,and after implement a c++ operator extension,and successfully compiled,how to test the operator? For example,how to write a `.cpp` file and use gdb to test the function?

[2017-05-17 05:11] ballardt commented on #3611
We're having the same problem. We've tried to reinstall the python package on all machines using `setup.py` and by setting `PYTHONPATH`, and we've also tried to import sys and insert the (absolute) path before `import mxnet as mx` in `train_mnist.py`.

Using 3 hosts on a network, where all were compiled using `USE_DIST_KVSTORE=1`. This is what we're running on the chief:

    python tools/launch.p

[2017-05-17 05:41] piiswrong commented on #6294
see https://github.com/dmlc/mxnet/blob/master/tests/python/unittest/test_operator.py for operator tests

[2017-05-17 06:04] lx75249 commented on #6284
module is under development, you can use KVStore directly for now. See https://github.com/lx75249/mxnet/blob/vdsr-bug/cpp-package/example/lap.cpp#L271

[2017-05-17 06:21] NaiveScript commented on #3441
Fllowing official installation guid,.At last,you shouldn't use
`sudo python setup.py install`
 Because the sudo option will install mxnet in built in python version.cause anaconda will have a environmental path,you just need to use
`python setup.py install`
However before that, you should make all the files in ~/mxnet/python with common accecess right,the most easy way is use
`sudo chmod  -R 777 ~

[2017-05-17 06:56] githubfragments opened #6296 "training speed is much slower when I install through building form source instead of using pip to install."
Hello, I install MXNet through building from source and pip.
The training speed:
1. building from source: 5 samples / sec,
2. install through pip:     9 samples /sec

I use the same net, just switching between the two mxnet python package, but the speed is quite difference. Why running speed through building from source is so slow?

ps:
cuda: 7.5
cudnn: v4
Precompiled package through pip is in 201

[2017-05-17 07:12] dongxiao92 commented on #5942
I met the same problem.At then end training process will stop.Do you find any solutions yet?

[2017-05-17 07:17] kernel8liang opened #6297 "warpctc run sample error"
[code]

[2017-05-17 07:22] starimpact commented on #5734
@reminisce wonderful! so the bug is fixed?

[2017-05-17 08:02] rococopeach commented on #6284
I did not know lac.cpp include how to use kvstore.
I think I under stand how it works.
Thank you very much.

[2017-05-17 08:02] #6284 closed

[2017-05-17 08:15] z-xiuxiu commented on #5942
After converting data to rec format, the problem is solved @dongxiao92

[2017-05-17 08:42] starimpact commented on #5734
haha.....
same train code, 0.8.0 is 4 times faster than 0.9.5......

[2017-05-17 08:44] starimpact opened #6299 "same train code, 0.8.0 is 4 times faster than 0.9.5"
my training code:
use mxnetv0.8.0:
Speed: 377.82 samples/sec

but when use mxnetv0.9.5:
Speed: 90.0 samples/sec

environment:
[code]
or
[code]
actually, the following env variable doesn't matter.
[code]

and in mxnet 0.9.5, my training cost is same whenever setting ```kvstore='local'``` or ```kvstore='device'```

@piiswrong
@reminisce

[2017-05-17 08:45] TalFurman opened #6300 "'Per example' net output"
Hi,

MXnet newbie.
I'm running a 'Lenet' like arch. with 'softmax_cross_entropy' loss, in a 'step-by-step' style (i.e not mod.fit...
instead using 'bind','init','forward' etc).
I'm trying to get a 'per-example' loss value for the examples in my batch.
How can this be done with mxnet?

Thanks in advance,

Tal

"""""""""""""" code

data = mx.symbol.Variable('data')
lbl = mx.sym.Variable('softmax_lab

[2017-05-17 09:11] hantingxie commented on #4965
Hello, @wsstriving @piiswrong. As I've seen quite a few issues for this topic, I'm planning to implement an EarlyStopping class in mxnet.callback (just like what Speedometer does) for stopping the training process for Python when the performance metric is not improving for a bit rounds (with a patience parameter for the control). That will be using the epoch_end_callback.

It will need to modify b

[2017-05-17 10:41] qclu commented on #6189
I have solved this issue.
With both master branch of mxnet and warp-ctc, I just update lstm_ocr.py data iter.
1. remove reshape operation
2. update OcrIter.provide_data to [('data', (batch_size, 80, 30))] + init_states

[2017-05-17 12:04] jasiozaucha opened #6301 "problem with data iterator for multiple inputs and labels"
I am trying to use a dataset (input as well as labels) of shape  1000 x 45
Using this in a straightforward way doesn't work, in order to have a multidimensional label you need a dictionary of many labels.
So I create the dictionaries with keys 'data1' to 'data45' and a single value each
as well as  'label1' to 'label45' and a single value each

[code]
When I try to 'bind':

` mod.bind(data_shapes=

[2017-05-17 12:35] #5911 closed

[2017-05-17 14:26] patricianing commented on #6265
@yuconglin Did you run it on 0.9.5? It works for me on previous versions.

[2017-05-17 15:10] yuconglin commented on #6265
yes, I ran it on 0.9.5

On Wed, May 17, 2017 at 10:26 AM, patricianing <notifications@github.com>
wrote:

[2017-05-17 15:37] jkh1 opened #6305 "Installation instructions need update"
Following instructions from http://mxnet.io/get_started/ubuntu_setup.html
MXNet can't be built on Ubuntu 16.04 with the default OpenCV (version 2.4.9) because MXNet 0.9.5 requires at least OpenCV 3.x due to the reference to -lopencv_imgcodecs.
In addition, OpenCV3.1 is not compatible with CUDA8 so OpenCV3.2 is required.

Installing OpenCV3.2-dev following instructions from
https://github.com/BVLC/

[2017-05-17 16:22] eric-haibin-lin commented on #6271
Could you also post the commit version for MXNet so that we can reproduce?

[2017-05-17 16:40] piiswrong commented on #6299
please post network definition

[2017-05-17 16:44] starimpact commented on #6299
[code]

[2017-05-17 16:46] piiswrong commented on #6299
what's your IO pipeline?

[2017-05-17 16:47] piiswrong commented on #6299
It would be helpful if you can locate the commit that caused the regression with git bisect

[2017-05-17 16:48] starimpact commented on #6299
what's the ```git bisect```?

[2017-05-17 16:49] starimpact commented on #6299
my io pipeline is very normal, read data into network, and get the output.

[2017-05-17 16:51] piiswrong commented on #6299
Does the slow down happen if you feed dummy data with iterator like this:
[code]

[2017-05-17 16:51] piiswrong commented on #6299
https://git-scm.com/docs/git-bisect git bisect

[2017-05-17 16:54] starimpact commented on #6299
[code]

[2017-05-17 17:03] starimpact commented on #6299
strange, when I use dummy data, the speed is increased.
why?

[2017-05-17 17:05] piiswrong commented on #6299
something is wrong with your data pipeline. I don't know how mxnet version affects it.
If you can locate the commit that caused this with git bisect it would be helpful

[2017-05-17 17:05] yuconglin commented on #6271
commit bc6e4b4cbc4e3e4f361acb5d7cebb60ffa36ec50

On Wed, May 17, 2017 at 12:22 PM, Haibin Lin <notifications@github.com>
wrote:

[2017-05-17 17:10] starimpact commented on #6299
ok, I will have a try.
but ,can you tell me how the data pipeline can affect the training. I think the data reading and augmentation with threads  can't be have any relationship with forward-backward.

[2017-05-17 17:14] starimpact commented on #6299
git bisect will compare the 0.9.5 with 0.8.0, there are so many difference between the two versions.how is it possible for me to find which commit caused the problem.

[2017-05-17 17:17] tqchen commented on #3283
It is possible with low level api, bind gradient with add_to req, and no zeroing the gradient over iterations

[2017-05-17 17:18] piiswrong commented on #6244
See if
`export MXNET_CUDNN_AUTOTUNE_DEFAULT=0` fixes it

[2017-05-17 17:52] piiswrong commented on #4965
Its better to write the training loop yourself. Its actually pretty simple

[2017-05-17 17:53] piiswrong commented on #6299
its binary search.
There are about 500 commits between 0.9.5 and 0.8.0 so it will take about 9 trials to locate the commit. Not that hard

[2017-05-17 18:00] piiswrong commented on #6305
@szha @mli  I thought the test server was running opencv 2.4?

[2017-05-17 18:13] #6223 closed

[2017-05-17 18:14] #6222 closed

[2017-05-17 18:18] yuconglin opened #6307 "color channel order of .rec files"
If I use bin/im2rec or im2rec.py to generate .rec files from images according to http://mxnet-tqchen.readthedocs.io/en/latest/packages/python/io.html or https://github.com/dmlc/mxnet/tree/master/example/image-classification,
is the channel order of the rec file always RGB? or it is dependent on the "color" parameter for im2rec as user input?

[2017-05-17 18:37] szha commented on #6305
The image codecs functions were in highgui module in OpenCV2.4 and were moved to imgcodecs in 3.0. It should be compatible as long as you change the -lopencv_imgcodecs to -lopencv_highgui, and it should work with opencv2.

What do you mean by "OpenCV3.1 is not compatible with CUDA8"? Are you using OpenCV for something else? MXNet does not require having a CUDA enabled version of OpenCV.

[2017-05-17 18:46] hantingxie commented on #4965
Hello @piiswrong, thank you for the reply and your nice job for this framework. Sure, I agree that implementing a function for early stopping is not quite difficult.

However, my feeling is that early-stopping is a common feature in lots of other deep learning frameworks, and we even have that in R.  So this will be nice if we can have something similar that can make python users' life easier, too

[2017-05-17 18:59] piiswrong commented on #6305
can we detect opencv version and link against the correct lib?

[2017-05-17 19:01] eric-haibin-lin opened #6309 "Better enum generator in cpp-package"
Currently the enum generated for cpp-package in cpp-package/include/mxnet-cpp/op.h directly copies the enum name declared in NNVM registry.

e.g. the enum generated for PadMode is
[code]
Ideally we should generate enums following cpp style convention, such as
[code]
so that enum will not conflict with existing cpp keywords (e.g. static, default, etc).

To do so OpWrapperGenerator.py needs to be up

[2017-05-17 19:48] jkh1 commented on #6305
"OpenCV3.1 is not compatible with CUDA8": I take this from here: https://github.com/opencv/opencv/issues/6632

[2017-05-17 19:56] szha commented on #6305
That issue is on opencv_cudaimgproc, which is not a dependency for mxnet

[2017-05-17 20:50] EvanzzzZ opened #6312 "Running image-classification example failed with opencv issue"
Trying to run the example on the `example/image-classification` folder by
`python train_cifar10.py --network alexnet --batch-size 128`.

The program failed with error message `src/io/iter_image_recordio_2.cc:200: ImageRec need opencv to process`, which said the `MXNET_USE_OPENCV` is not turned on.

What I missed here?

[2017-05-17 21:13] rococopeach opened #6313 "cpp-package: Cannot open include file: 'mxnet-cpp/op.h'"
I synced latest code and tried to build mxnet . Build fails with the following error message.

cpp-package\include\mxnet-cpp/optimizer.hpp(19): fatal error C1083: Cannot open include file: 'mxnet-cpp/op.h': No such file or directory

It seems 00b2b47f70283e0706256b8585b97b63efd25c57 change set removed mxnet-cpp/op.h.
but other code is still including "mxnet-cpp/op.h"

MxNetCpp.h
optimizer.hpp
.cpp

[2017-05-17 21:37] eric-haibin-lin commented on #6272
I think this example is out of date, currently MXNet always enable inplace_update, and the macro for shared_memory is updated as `NNVM_EXEC_MATCH_RANGE`

https://github.com/dmlc/mxnet/blob/986b736b816018b96e9d1e2c358bb7665b80944d/src/executor/graph_executor.cc#L403

https://github.com/dmlc/nnvm/blob/b279286304ac954098d94a2695bca599e832effb/src/pass/plan_memory.cc#L277

@mli  we should either remov

[2017-05-17 21:43] eric-haibin-lin commented on #6313
Did you try to set `USE_CPP_PACKAGE=1` and `make -j` from `~/mxnet`?

[2017-05-17 22:20] apaleyes commented on #6000
Hi @nswamy

I've just posted a pr for 118 and 119: https://github.com/dmlc/mxnet/pull/6314

One thing though is that I wasn't able to get rendering going on my Mac. "make lint" was fine, but building docs was always failing. I'll post a separate issue perhaps to get some advice on that.

[2017-05-17 22:52] lx75249 commented on #6313
How did you create the project in vs?

[2017-05-18 00:06] starimpact commented on #6299
ok, I will have a try.

[2017-05-18 00:28] rococopeach commented on #6313
I use cmake
![image](https://cloud.githubusercontent.com/assets/16360153/26181593/3bcdc4a6-3b26-11e7-81ca-fe81ec1156af.png)

[2017-05-18 00:41] lx75249 commented on #6313
What's the output when building in visual studio. Could you search`Running OpWrapperGenerator.py` in the output window?

[2017-05-18 01:31] andrewbleonard opened #6319 "Issue converting caffe model with multiple outputs to mxnet"
I am trying to use the caffe to mxnet converter tool at [convert_model.py](https://github.com/dmlc/mxnet/blob/master/tools/caffe_converter/convert_model.py) on a caffe model with more than one final output and running into issues.  It looks like the converter tool is setup to handle a single final output layer in [convert_symbol.py](https://github.com/dmlc/mxnet/blob/master/tools/caffe_converter/c

[2017-05-18 01:32] rococopeach commented on #6313
I see . Does OpWrapperGeneratoer.py generate op.h?
I miss this error.
9>  "Running: OpWrapperGenerator.py"
9>  Traceback (most recent call last):
9>    File "OpWrapperGenerator.py", line 402, in <module>
9>      raise(e)
9>  WindowsError: [Error 126] The specified module could not be found

Which python package do I need to install?
I could not find setupenv.cmd which is mentioned at http://mxnet.

[2017-05-18 01:44] ysh329 commented on #2593
I knew.
[code]

[2017-05-18 01:47] YonghaoHe commented on #6244
@piiswrong Thank you. I have tried export MXNET_CUDNN_AUTOTUNE_DEFAULT=0/1/2, but there are no effects. What's more, I also set engine type to different values, but things do not change. That's so strange. I don't know if the net structure matters. I found some other net structures have no such problem.

[2017-05-18 02:03] starimpact commented on #6299
before commits of ```3e0210b1aefdc621778491bf82ccf7ad30ec3d77``` cant not be tested, because compilation error, such as
```build/src/symbol/graph_memory_allocator.o: In function `mxnet::GraphStorageAllocator::Get(long, mxnet::TShape)':
graph_memory_allocator.cc:(.text+0x6da): undefined reference to `mxnet::GraphStorageAllocator::kBadStorageID'
[code]
git bisect start
# bad: [46782c3fd77d0b9f521270

[2017-05-18 02:08] lx75249 commented on #6313
Could you edit this line https://github.com/dmlc/mxnet/blob/master/cpp-package/CMakeLists.txt#L14
to
`COMMAND echo "Running: OpWrapperGenerator.py $<TARGET_FILE:mxnet>"`

then regenerate the solution and paste the output here?

[2017-05-18 02:08] starimpact commented on #6299
@piiswrong
@reminisce

[2017-05-18 03:55] eric-haibin-lin commented on #6299
For kBadStorageID, you can just add an extra line before that line:
Const int kBadStorageID = 1;

On 2017年5月17日, at 19:03, Zhang Ming <notifications@github.com> wrote:

kBadStorageID

[2017-05-18 03:58] piiswrong commented on #6299
You need to git submodule update after checking out a commit

Zhang Ming <notifications@github.com>于2017年5月17日 周三下午7:04写道：

[2017-05-18 04:03] piiswrong commented on #6299
Are you sure 04f49aace27a4f16d19cbea6afead7f4b070318c is a bad commit? It's directly after 0.8 release and didn't change anything related to speed

[2017-05-18 04:05] piiswrong commented on #6299
I suspect its this one: https://github.com/dmlc/mxnet/commit/9203e3857d05ae982907c75c894668047c51d4a8
see if reverting it helps

[2017-05-18 04:40] lx75249 commented on #6313
i know what's happening. some dependencies (probably blas or opencv) are missing. you need to register the dlls systemwide.

[2017-05-18 05:40] sifmelcara commented on #6281
Cannot reproduce, I have `cuda 8.0.61` and nvidia driver `378.13`.
Maybe the issue is only relevant to nvidia driver version?
Sorry I cannot test `375.26` since it do not support my GPU.

[2017-05-18 05:42] lx75249 commented on #6281
yes, my driver version is 375.26...

[2017-05-18 05:59] #6006 closed

[2017-05-18 06:07] eric-haibin-lin commented on #6312
check your config.mk (if you built MXNet from source) and set MXNET_USE_OPENCV=1

On 2017年5月17日, at 13:51, EvanChong <notifications@github.com> wrote:

MXNET_USE_OPENCV

[2017-05-18 06:15] eric-haibin-lin commented on #6299
I remember lstm (without bulk) is much slower in the first nnvm release compared to 0.8 (also without bulk)

On 2017年5月17日, at 21:05, Eric Junyuan Xie <notifications@github.com> wrote:

I suspect its this one: 9203e38
see if reverting it helps

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-18 06:29] starimpact commented on #6299
@piiswrong ok, I will do another try with ```git submodules update```.

[2017-05-18 08:20] BlueWinters commented on #5110
new version mxnet had modified this method
see details for [https://github.com/dmlc/mxnet/blob/master/python/mxnet/module/base_module.py](url)
`def fit(self, train_data, eval_data=None, eval_metric='acc',
            epoch_end_callback=None, batch_end_callback=None, kvstore='local',
            optimizer='sgd', optimizer_params=(('learning_rate', 0.01),),
            eval_end_callback=None,

[2017-05-18 08:31] vsooda opened #6323 "cpp package example broken"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: 16.04

Compiler: g++ 4.9

Package used (Python/R/Scala/Julia): cpp-package

MXNet version: latest master

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`): f8840029ea10fae37f5cdf6c8

[2017-05-18 08:46] R1ncy opened #6324 "cuda/tensor_gpu-inl.cuh:58: too large launch parameter: MapReduceKeepDim1"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System: ubuntu16.04

Compiler:gcc5.4.0

Package used (Python/R/Scala/Julia):python3

MXNet version:0.9.5

Or if installed from source:yes

## Error Message:
[code]

## Minimum reproducible example
the code is he

[2017-05-18 09:02] caoyue10 commented on #5967
@pluskid @mli

[2017-05-18 10:00] starimpact commented on #6299
when I bisect to ```b261bc9a6c7ad3535758aebb9d467784d1b984f4```, can not compile:
[code]

[2017-05-18 11:52] zhaolili opened #6325 "DataParallelExecutorGroup hangs"
the **_bind_** function costs a long time, taking around 80 seconds to complete binding operation. Below shows part of my code.

[code]

And after debugged into the bind function, i found the code hangs in function '_**DataParallelExecutorGroup**_' which is the bottleneck.   Anyone ever met this issue? Thanks a lot.

Here is my system info:
ubuntu 16.04
cuda 8.0.44

[2017-05-18 11:55] githubfragments commented on #3283
@tqchen You mean just change grad_req to 'add', and update every iter_size iterations. The gradients will auto zeroing every update(). like this:
mod.bind(data_shapes=.., label_shapes=.., grad_req='add')
mod.init_params(..)
mod.init_optimizer(..)
for epoch in range(total_epochs):
    cnt = 0
    for batch in train_iter:
        cnt += 1
        mod.forward_backward(batch)  # compute predictions

[2017-05-18 13:05] lx75249 commented on #6323
it looks like it's linked both dynamically and statically in cmake. I'm not familiar with cmake, cc cmakelist author @cjolivier01

[2017-05-18 14:33] lx75249 commented on #6281
@sifmelcara just tried 375.51. it takes 6 min to alloc memory...

[2017-05-18 14:42] sifmelcara commented on #6281
Do you mean the `mlp_gpu` example? That is pretty strange. (It only takes 2~3 seconds on my machine)
Maybe run some gpu/cuda stress test program to help identify the problem?

[2017-05-18 15:04] xplorld commented on #3474
thank you!

[2017-05-18 16:21] piiswrong commented on #6324
@reminisce Could you take a look?
Replacing all ReduceToAssign with Reduce should solve this.

[2017-05-18 16:40] lx75249 commented on #6309
Agree. It's better to solve it before we need to consider backward compatibility.

[2017-05-18 16:40] piiswrong commented on #6307
rec file stores JPEG images. The color channel order depends on how you decode it. By default ImageRecordIter gives RGB

[2017-05-18 16:40] piiswrong commented on #6299
what does git status show?

[2017-05-18 16:41] yuconglin commented on #6307
Same for png?

On May 18, 2017 12:40 PM, "Eric Junyuan Xie" <notifications@github.com>
wrote:

[2017-05-18 16:50] starimpact commented on #6299
nothing:
[code]

[2017-05-18 16:54] reminisce commented on #6324
@piiswrong Ok, I will replace it after my current work is done.

[2017-05-18 17:00] piiswrong commented on #6325
It could happen the first time you are using gpus.

[2017-05-18 17:11] lx75249 commented on #6281
I know what happened.. This issue is caused by cuda jit. I checked default configuration of Makefile, the gen_code option for nvcc doesn't contain CUDA compute 61 arch so every kernel is converted to compute 61 in runtime because my gpu arch is 61. As mentioned in https://groups.google.com/d/msg/arrayfire-users/D3RORyrvn4s/N7AoKueSCAAJ, the conversion takes in the order of minutes, which matches m

[2017-05-18 17:43] hondaathma opened #6326 "Deeplab and atrous convolution"
Hi,
I am unable to find atrous convolution layers in mxnet(for deeplab).Can I incorporate any caffe  operations and python layers in mxnet?

[2017-05-18 17:45] EvanzzzZ commented on #6312
If you mean the USE_OPENCV, it's already set to 1.
Double check and rebuild the package and same error happened.

[2017-05-18 18:50] Piyush3dB commented on #6326
For atrous convolution you can use

[code]
where the `dilate` parameter specifies how wide the convolution kernel reaches.

[2017-05-18 20:15] indhub opened #6329 "S3 integration doesn't work"
## Environment info
Operating System:
Ubuntu

Compiler:
GNU g++

Package used (Python/R/Scala/Julia):
Python

MXNet version:

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):
479538e8d33935ac3898752ca3172dd2e9884d23

If you are using python package, please provide

Python version and distribution:
Python 3.6.0 :: Continuum Analytics, Inc.

If you are using R package, please

[2017-05-18 20:20] szha commented on #6329
Can you check with the latest commit? Your error log says it's 0.9.4 while the latest is on 0.9.5.

[2017-05-18 20:32] indhub commented on #6329
Good catch. I missed updating the python packages after building. Here is the error log after the update. I get an AWS error saying "The AWS Access Key Id you provided does not exist in our records" but I'm able to access the files using AWS CLI. Only MXNet is not able to access the files.

[code]

[2017-05-18 20:48] zhreshold commented on #6252
sym.take?

[2017-05-18 21:25] indhub commented on #6329
Closing this issue. Temp tokens don't work but tokens created from IAM works fine.

[2017-05-18 21:25] #6329 closed

[2017-05-18 23:38] starimpact commented on #6252
seems like it! I will have a try.

[2017-05-18 23:39] starimpact commented on #6299
@piiswrong ?
What should I do next?

[2017-05-18 23:50] leopd opened #6333 "Automatic context to select CPU or GPU(s)"
This is a feature request.

It would be very convenient to have MXNet automatically detect if a GPU is available and use it.  Or if there is more than one available, use all GPUs.  This would avoid a lot of wasted boiler-plate code where people have to specify the context manually, which is usually hard-coded or sometimes passed in from the command line.

Certainly there are times when you don't w

[2017-05-19 03:04] viper7882 commented on #621
Hi all,

I'm looking at PyOpenCL and it could be a solution for MXNet. The challenge that I've observed so far is PyOpenCL requires installation of Intel Open CL SDK on user's machine (if they are running Intel Graphics Card).

An example shared by [Easy OpenCL with Python](http://www.drdobbs.com/open-source/easy-opencl-with-python/240162614?pgno=2) is that Gaston Hillar has demonstrated to use on

[2017-05-19 03:43] vsooda commented on #6323
@lx75249 can you please tell me how do you compile cpp-package?  I had modified some code in MXNet.cpp. now want to migrate the code to cpp-package.  Will create a pull request after compile successfully.

Thank you

[2017-05-19 03:57] chicn commented on #6268
Thank you so much, @piiswrong and @lx75249 !!!

I added the those lines you've mentioned and seems like it made it to reach further step.

However, I receive this message for now.
Do you know how to solve it?

[code]
and my current `CMakeLists.txt` is like this.

[code]

[2017-05-19 03:59] starimpact commented on #5734
@reminisce
though the bug is fixed, the convergence problem is still exist. 0.8.0 is still the best choice for me~~
sadly.....
So many changes from 0.8.0 to 0.9.5, we need someway to promise the convergence.

[2017-05-19 04:01] chicn commented on #6268
I don't feel like to develop under the mxnet project, because the original mxnet header files return me like `mxnet-cpp/MxNetCpp.h` file not found.

I guess there are good ways to include those header files as original but so far I can't include those header files without editing them from

[code]

to

[code]

[2017-05-19 04:02] piiswrong commented on #6299
try if reverting this commit helps: https://github.com/dmlc/mxnet/commit/9203e3857d05ae982907c75c894668047c51d4a8

[2017-05-19 04:55] starimpact commented on #6299
ok, I will try it.

[2017-05-19 04:58] chicn commented on #6268
The problem was finally solved!

I fixed the `CMakeLists.txt` like this.
[code]

[2017-05-19 04:59] chicn commented on #6268
Thank you so much for your corporation, @piiswrong and @lx75249 !!!

[2017-05-19 04:59] #6268 closed

[2017-05-19 05:40] starimpact commented on #6299
```9203e38``` is still slow...

[2017-05-19 05:42] kevinthesun commented on #5734
So the bug fixed is not actually the root cause of convergence problem? Could you provide a example, which directly reproduces the convergence problem?

[2017-05-19 05:50] lx75249 commented on #6323
use make instead of cmake, see https://github.com/dmlc/mxnet/blob/master/docs/get_started/build_from_source.md#build and https://github.com/dmlc/mxnet/blob/master/docs/get_started/build_from_source.md#build-the-c-package

[2017-05-19 06:17] starimpact commented on #5734
@kevinthesun , when the bug existed, the loss value was like a zag zag curve... after the fix of the bug ,the loss value became more smooth, but still hard to converge compared to 0.8.0 which convergence is very fast.

[2017-05-19 06:17] chicn commented on #5889
Hi, @BensonBlack .

Have you already solved this issue?
I'm facing same problem now.

[2017-05-19 06:38] vsooda commented on #6323
got it. I use clion to debug mxnet source code, but clion only support cmake build system :(

Any way, thank you very much.

[2017-05-19 06:41] lx75249 commented on #6323
if you want to use cmake, you can edit this line, https://github.com/dmlc/mxnet/blob/master/cpp-package/example/CMakeLists.txt#L6, change `mxnet` to `mxnet_static`, note that it's only a workaround.

[2017-05-19 06:44] vsooda commented on #6323
I had tried to modify the cpp-package/example/CMakeLists.txt

[code]
**to:**

[code]

it cause the same error. so may be not the CMake problem you mentioned above. @lx75249

[2017-05-19 07:04] starimpact commented on #6299
```e027f1c``` can not be compiled.

[2017-05-19 07:14] zhangfanqie commented on #5198
Hi, have  you solved your problem? I met the same error.How do you solve?
Thank you!

[2017-05-19 07:43] zhangfanqie commented on #6095
Hi, is this problem solved? I met the same question.

[2017-05-19 07:59] janelu9 opened #6338 "how to input LinearRegressionOutput layer's label ?"

[2017-05-19 08:14] janelu9 commented on #6338
Isn's the label imported by the io.NDArrayIter?

[2017-05-19 08:18] #6338 closed

[2017-05-19 08:32] qclu opened #6339 "lstm_ocr.py support data parallel in mult-gpus in single host"
I　have tried lstm_ocr.py with muit-gpus in data parallel mode, but it does not work.
I just set sym.context to a list of mult-gpus.
I know i also need to update Iter and accuracy and some others. Anyone have this experience can offer some suggestions?

[2017-05-19 11:59] janelu9 opened #6340 "is there a regularization term in the neural network's default loss function?"

[2017-05-19 14:18] maxrichter-scdm opened #6342 "Error running bash script/get_coco.sh"
For bugs or installation issues, please provide the following information.
The more information you provide, the more likely people will be able to help you.

## Environment info
Operating System:
Ubuntu 16.04

Compiler:
GCC 5.4.0 20160609

Package used (Python/R/Scala/Julia):
Python

MXNet version:
0.9.5.post1

Or if installed from source:

MXNet commit hash (`git rev-parse HEAD`):

If you are us

[2017-05-19 16:28] niluanwudidadi opened #6343 "How to kill python daemon thread?"
## Error Message:
Recently I use ssd for real-time detection,when I call im_detect image by image, then python generate too many threads and continue increase, which cause slow speed, how can I solve this problem?

[2017-05-19 16:39] zazzydistsgd opened #6344 "Split layers of network to multiple modules using SequentialModule"
Hi,

I'm trying to split layers of network (e.g. LeNet) to different modules, and train the network using SequentialModule, like the example did
https://github.com/dmlc/mxnet/blob/master/example/module/sequential_module.py

However, the example tries to do model and data parallelization at the same time. Basically, I just want to do the regular networking training like:
data->layer0->layer1->...->

[2017-05-19 17:04] lx75249 commented on #6323
it works in my machine. did you clean the build cache after using mxnet_static?

[2017-05-19 17:14] EvanzzzZ commented on #6344
My guess is you don't need to explicitly change the input of the second module to the output of the last module. `Seq_module.add()` simply chain that for you.

[2017-05-19 17:52] kevinthesun commented on #6340
I don't think there is regularization term in loss function., but you can define weight decay through optimizer interface:

`
model.fit(train_data=data_train,
          num_epoch=num_epoch,
          optimizer='sgd',
          optimizer_params={'learning_rate':learning_rate, 'momentum':0, 'wd':0.0001},
          initializer=mx.init.Xavier(factor_type="in", magnitude=2.34))
`

[2017-05-19 17:57] tqchen commented on #3283
I am not sure if mod.update will zeros the gradient, so maybe gradient zero need to be done manually

[2017-05-19 18:42] yuconglin commented on #6271
I figured that it was a cuda driver issue instead of mxnet issue.

[2017-05-19 18:42] #6271 closed

[2017-05-19 18:43] #6224 closed

[2017-05-19 19:43] sookinoby commented on #6057
@ysh329  Sorry for my very late reply. I was out of town and traveling.

I tried Mxnet with Linux on GPU, it works perfectly fine. Accuracy is (0.98).
When I use the same exact on windows GPU, the model has a low accuracy (0.02) after 10 epoch.

If use CPU as the context in windows, it works fine.

[2017-05-19 20:40] szha commented on #6254
The mode is just passed to sym.RNN. https://github.com/dmlc/mxnet/blob/master/python/mxnet/rnn/rnn_cell.py#L630-L635
I don't get the question? What are you asking? What is the missing info that could solve your problem?

[2017-05-19 20:46] szha commented on #5932
0.9.5 has been released a while back, which should have solved this problem.

[2017-05-19 20:49] szha commented on #6296
Are you using the 0.9.5 version through pip? Which package are you using (`mxnet-cu75` / `mxnet-cu75mkl`)? What example are you running? On what hardware?
Starting from 0.9.5 I statically linked cudnnv6 to the wheel which might contribute to the performance difference.

[2017-05-19 20:51] janelu9 commented on #6340
but how to handle overfit ？

[2017-05-19 20:53] szha commented on #6281
pip packages rely on NVRTC and build for all archs are turned off.

[2017-05-19 20:54] szha commented on #6206
This is partly resolved thanks to @jiajiechen and the tools scripts will be shipped along with the package starting from the next version. More work needs to be done to move these scripts into bin/ to make it easier to use.

[2017-05-19 20:56] szha commented on #6067
0.9.5 pip packages have been released for a while and should have resolved this problem.

[2017-05-19 20:56] szha commented on #6023
0.9.5 pip packages have been released for a while and should have resolved this problem.

[2017-05-19 21:00] szha commented on #5835
In 0.9.3, installing cudnn was part of the instruction since there's no run-time detection for loading the .so. Starting from 0.9.5, cudnnv6 is statically linked and shipped as part of mxnet, so you don't need to install cudnn any more. 0.9.5 pip packages have been released for a while and should have resolved this problem.

[2017-05-19 21:02] szha commented on #5502
If you use OpenCV2.4, change `-lopencv_imgcodecs` to `-lopencv_highgui` instead (and you will probably need to suffer through installing all the dependencies required by opencv UIs...)

[2017-05-19 21:38] andrew-ya opened #6351 "InferShapeKeyword argument name gt_label_37 not found"
I'm trying to reproduce a simple example of network to solve regression.
I followed the api and other issues, but I'm not sure what I'm doing wrong.

## Environment info
Operating System: Ubuntu 16.04

Package used : Scala

MXNet commit hash:
     `978f53b1058deaeb8d1bd69580cb61231451c63b`

`

    val X = Symbol.Variable("x")
    val Y = Symbol.Variable("gt_label")
    val fc1 = Symbol.FullyConnec

[2017-05-20 00:20] zazzydistsgd commented on #6344
Thanks for the response! I think your guess is probably right, I use the following code to split LeNet into different modules:
[code]
Based on my tests of time costs for each iteration and each epoch, after splitting the network, the time costs are slightly higher than just train using the original code (https://github.com/dmlc/mxnet/blob/master/example/image-classification/train_mnist.py). (e.g.

[2017-05-20 03:32] yuconglin opened #6360 "is there a way to get the number of images in a rec file"
Suppose that we have a ".rec" file, is there any function I can use to get the number of images in it?

[2017-05-20 03:41] ysh329 commented on #6057
@sookinoby That's great! I only use MXNet with Linux. @piiswrong use the same exact on windows GPU, the model has a low accuracy (0.02)