[2019-05-31 16:12] frankfliu commented on #15110
@mxnet-label-bot add [R, installation]

[2019-05-31 16:13] frankfliu commented on #15112
@mxnet-label-bot add [feature request]

[2019-05-31 17:44] aaronmarkham opened #15115 "Error on downloading Julia Windows binary"
## Description

My PR failed CI due to a Windows Julia test.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-14987/7/pipeline/

[2019-05-31 17:46] aaronmarkham commented on #14852
Same: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-14987/8/pipeline/

[2019-05-31 18:40] karan6181 commented on #10233
@Lucasyc We are closing this issue for now due to inactivity from 90+ days. Please feel free to re-open it if you are still facing the issue. Thanks!

@nswamy Could you please close this issue? Thanks!

[2019-05-31 18:52] #10233 closed

[2019-05-31 19:21] karan6181 commented on #10738
The PR [#10951](https://github.com/apache/incubator-mxnet/pull/10951) fixed this issue. We are closing it for now. Please feel free to re-open it if you are still facing the issue. Thanks!

[2019-05-31 19:21] #10738 closed

[2019-05-31 20:28] haojin2 commented on #14902
Seems like there's no more occurrence of this issue, closing it for now.

[2019-05-31 20:28] #14902 closed

[2019-05-31 21:27] aaronmarkham commented on #14852
And again on another PR: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15117/1/pipeline

[2019-05-31 22:55] karan6181 commented on #12337
There are two scenarios here in which `where` operator should pass.

1. When the `condition` is of 1D array, the below code(`control_flow_op.h`) checks for size equality which is correct given number of dimension is just 1.

[code]

   #### Correct scenario where the test pass:

[code]

   #### Correct scenario where the test Fails:

[code]

The 1D array condition is working perfectly as expected

[2019-06-01 03:47] zhly0 opened #15119 "SoftmaxActivation replacement"
Hi,
        In the mxnet doc,it is said SoftmaxActivation will be deprecated in the future,please use softmax,but it does not give the demo use of softmax,like, I use softmaxactivation like this:
 SoftmaxActivation(data=A,mode="channel"),then what should I set the softmax parameters?
Thanks!

[2019-06-01 13:08] chinakook commented on #15074
Set some shape first, and it can be changed accord to the given data later.

[2019-06-01 15:59] pengzhao-intel commented on #14357
@ThomasDelteil thanks for the example. Will follow up the case @wuxun-zhang @juliusshufan

[2019-06-01 20:23] Chouffe opened #15123 "[Clojure][Scala] Converting an ndarray to a BufferedImage is really slow"
When calling the `to-image` function from the clojure package which interops with the Scala `Image/toImage`, it is really slow to create the `BufferedImage`. Waiting for 4-5 seconds on a 1024x576px image ("Pug_cookie.jpg").

[2019-06-01 23:40] #15078 closed

[2019-06-02 02:18] chinakook commented on #15119
softmax(A, axis=1)

[2019-06-02 08:51] zhly0 commented on #15119
@chinakook ，thanks，I looked into Softmax，and did not found axis parameter.I did not see softmax,which has it.

[2019-06-02 08:51] #15119 closed

[2019-06-02 15:31] starimpact opened #15125 "a big bug nan for sum of some fp16 ndarray"
[code]
do sum on some float16 ndarray will result in nan!

[2019-06-03 00:26] frankfliu commented on #15123
@mxnet-label-bot add [scala, performance, clojure]

[2019-06-03 00:28] frankfliu commented on #15125
@mxnet-label-bot add [fp16, operator, bug]

[2019-06-03 02:27] zhly0 opened #15131 "doc consistence"
Hi，
    In the doc，http://mxnet.incubator.apache.org/versions/master/tutorials/onnx/export_mxnet_to_onnx.html，has a page give the supported op：https://cwiki.apache.org/confluence/display/MXNET/ONNX+Operator+Coverage，but in the code，the list is different：
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py

[2019-06-03 06:13] xianyujie commented on #15108
@pengzhao-intel the mkl build brings great performance to both models, but the issue still exits.
By testing the run time of different network layers, I found that the problem occurred in most of the conv2_weight layers. The symbol.json of both models are same, and it's just that the value of arg_params is different, why does it make a huge difference in the running time of the model?

[2019-06-03 06:17] pengzhao-intel commented on #15108
Could you share the log or reproducible case for us?

[2019-06-03 06:26] xianyujie commented on #15108
Here, I tested the run time of different network layers on one image, I found that the problem occurred in most of the conv2_weight layers.
Tested on CPU, no mkl build, the first col shows my model, the second col shows the original model, the third col shows the network layer name.
[all_output_time_contrast.txt](https://github.com/apache/incubator-mxnet/files/3246126/all_output_time_contrast.txt)

[2019-06-03 06:40] pengzhao-intel commented on #15108
I don't find too much useful information from the log.
Could you give the step of reproducing the issue? Maybe by MXNet examples.

[2019-06-03 07:06] moneypi opened #15133 "Compile failed when disable OPENMP"
## Description
(Brief description of the problem in no more than 2 sentences.)
Build from source code, when I set
[code]
I can compile success, and run test success, But if I set OPENMP = 0 , I will compile failed

## Environment info (Required)
Ubuntu 19.04 in VMware
g++ (Ubuntu 8.3.0-6ubuntu1) 8.3.0
No GPU

I'm using Python 3.7.3

MXNet commit hash: 5fc4fc53df74f276aafa51208142e657e9cfe42d

Buil

[2019-06-03 07:13] pengzhao-intel commented on #15133
@Neozhangjianyu @yinghu5 could you help to take a look?

[2019-06-03 07:15] moneypi commented on #15133
I'm sorry @mxnet-label-bot , I don't know how to set label......

[2019-06-03 07:35] William-jia opened #15134 "mxnet doc error"
https://mxnet.incubator.apache.org/api/python/ndarray/contrib.html?highlight=multiproposal#mxnet.ndarray.contrib.MultiProposal

cls_prob (NDArray) – Score of how likely proposal is object.
bbox_pred (NDArray) – BBox Predicted deltas from anchors for proposals
im_info (NDArray) – Image size and scale.
**rpn_pre_nms_top_n (int, optional, default='6000') – Number of top scoring boxes to keep after ap

[2019-06-03 08:05] arthw commented on #15133
@moneypi
1. Could you post the full build cmd here?
2. Please run following cmd and post the result:
[code]
3. I guess your build is wrong.
Could you find any error in the build output?
Is it possible to post the full log here?

[2019-06-03 08:48] moneypi commented on #15133
env | grep PYTHON is empyt

$ env | grep LD_LIBRARY_PATH
LD_LIBRARY_PATH=/home/luke/Download/incubator-mxnet/lib

git clone --recursive https://github.com/apache/incubator-mxnet
cd incubator-mxnet
cp make/config.mk config.mk
vim config.mk #set OPENMP=0
make -j4 > OPENMP=0.log 2>&1

[OPENMP=0.zip](https://github.com/apache/incubator-mxnet/files/3246642/OPENMP.0.zip)

[2019-06-03 10:59] ddt2014 opened #15136 "why compute ops like conv serially, but not parallelly"
For example, in src/operator/nn/convolution-inl.h 307, mxnet compute the conv operator serially for each batch, which leading to the forward time(batch size > 1) much longer than batch size == 1.

I wanna know the reason of this

[2019-06-03 15:55] #14847 closed

[2019-06-03 16:26] frankfliu commented on #15134
@mxnet-label-bot add [Doc, bug]

[2019-06-03 16:27] frankfliu commented on #15131
@mxnet-label-bot add [ONNX, doc]

[2019-06-03 16:28] frankfliu commented on #15136
@mxnet-label-bot add [operator, question]

[2019-06-03 17:26] eric-haibin-lin opened #15138 "Tutorial for developing advanced operators"
In the current tutorial for developing operators in mxnet, https://mxnet.incubator.apache.org/versions/master/faq/add_op_in_backend.html

But it didn't talk about FStatefulCompute and FStatefulComputeEx, which are useful for many CUDNN ops. We should add a section for these two interfaces, and when the states are kept persistent in cached_op. @zheng-da

[2019-06-03 18:29] roywei opened #15140 "[Feature Request][CI] Run nightly tutorial jobs for tutorial PRs"
Currently tutorials tests are only ran in nightly tests http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/activity
All PRs to add/modify tutorials are not validated and often cause nightly tutorial to fail.
As a result nightly tests have been failing for a every long time.

Most often reason for it to fail is:
1. Forget to add tutorials dependencies (third pa

[2019-06-03 18:55] #14936 closed

[2019-06-03 19:43] abhinavs95 commented on #15140
@mxnet-label-bot add [Feature request, CI]

[2019-06-03 20:42] abhinavs95 commented on #14373
Possibly related to #13967

[2019-06-03 21:07] abhinavs95 commented on #13967
Hi @stephenrawls, Wrapping `foo` in `F.identity()` solved the problem for me. Here is the full example:
[code]
This works both with and without `net.hybridize()`. Does this solve your issue?

[2019-06-03 22:36] abhinavs95 commented on #14373
It seems like this is expected behavior, @eric-haibin-lin could you have a look and confirm?

@whamza15 Since the error pops up due to deferred initialization, you can avoid it by specifying the input shape when creating the layers. Here is the full example:
[code]

[2019-06-04 02:37] NeoZhangJianyu commented on #15133
@moneypi I'm checking it.

[2019-06-04 02:41] Vigilans commented on #14116
Problem found. Here is my procedures to trace the bug:

* Debug [`OpWrapperGenerator.py#L364`](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/scripts/OpWrapperGenerator.py#L364), and view `(name, description, argNames, argTypes, argDescs)` of `multi_sgd_update`.
* From `argNames` and `argTypes`, we could see that `lrs` and `wds`'s type is `", required"`.
* From `name`, `descript

[2019-06-04 03:08] Vigilans opened #15143 "dmlc::type_name_helper<T> specialization of mxnet::tuple<T> should not be disabled for MSVC"
## Description
[In this PR](https://github.com/apache/incubator-mxnet/pull/14270), @junrushao1994 brought `mxnet::Tuple<T>` to mxnet.

For the specialization of `dmlc::type_name_helper<T>`, it was disabled **completely** for MSVC:
[code]

It then brought up an issue that has not been solved in 4 months: #14116, and costed me [some effort](https://github.com/apache/incubator-mxnet/issues/14116#issu

[2019-06-04 03:18] NeoZhangJianyu commented on #15133
@moneypi I can't repeat your issue.
In your log, there is cause to stop:
[code]
Do you know the reason?
or have you stop the compile manually?
I see the compile time is a little long in this part.

[2019-06-04 03:47] #14244 closed

[2019-06-04 03:48] SunDoge commented on #14244
Thx.

[2019-06-04 05:00] nchafni commented on #14808
hey guys any updates on this issue? I just hit the same problem, @jeehyun100 were you able to solve it?

[2019-06-04 06:02] moneypi commented on #15133
I didn't stop the compile manually.
I meet the same problem every time.
I don't know why.
I will try it in another computer later.

[2019-06-04 06:04] roywei commented on #14981
actually no, this is back to failing after https://github.com/apache/incubator-mxnet/pull/15059

[2019-06-04 06:24] roywei commented on #15140
contributors may not be familiar with how to reproducing CI test results, although it's documented here https://cwiki.apache.org/confluence/display/MXNET/Reproducing+test+results

[2019-06-04 06:26] roywei commented on #15028
Now no more warnings, but nightly still fails with CUDA malloc OOM.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/333/pipeline/148

This is not observed in AWS P3 instances.

[2019-06-04 07:04] NeoZhangJianyu commented on #15133
@moneypi
I guess the compiler is crashed in your case:
[code]
It's rare case. I think it's the compiler issue.
Maybe to setup another development environment is better solution.

[2019-06-04 07:57] xianyujie commented on #15108
@pengzhao-intel  Can you find out what the problem is?
**(The stage_unit1_relu1 is the front layer of the stage_unit1_conv1 layer)**

**===================The shape of the input image is (1,3,112,112)====================
warm up 20 times
same image as input,test the time from input layer to stage_unit1_relu1 layer**
(0.030597, 0.029112)
(0.029765, 0.027273)
(0.029243, 0.026952)
**same image as inp

[2019-06-04 10:15] moneypi commented on #15133
Thanks very much.
I copy the code to another XUbuntu19.04, and it's ok.

I didn't find the reason.Maybe I made mistake.
Thanks.

[2019-06-04 10:15] #15133 closed

[2019-06-04 10:47] moneypi commented on #15133
I change the memory(VMware) from 8G to 16G, and it's ok.
I will try tommory to make sure it's the reason.

[2019-06-04 10:59] QueensGambit opened #15145 "Installation problem on XUbuntu"
## Description
One XUbuntu user had who tried to install our crazyhouse chess engine CrazyAra-0.4.0 run into trouble when installing MXNET via
[code]

* https://github.com/QueensGambit/CrazyAra/issues/28
* https://github.com/QueensGambit/CrazyAra/wiki/Installation-Guide
* https://github.com/QueensGambit/CrazyAra/releases

He has an old Lenovo ThinkPad T510 laptop with a CPU Intel® Core™ i7 process

[2019-06-04 11:12] QueensGambit opened #15146 "Installation problem on Windows 7"
## Description
One Windows 7 user who tried to install our crazyhouse chess engine CrazyAra-0.4.0 ran into trouble when installing MXNET via
[code]
* https://github.com/QueensGambit/CrazyAra/wiki/Installation-Guide
* https://github.com/QueensGambit/CrazyAra/releases

## Environment info

I don't have his output of `diagnose.py`, but he's using and Intel Quad i5 CPU with python 3.6.

## Error Messa

[2019-06-04 11:50] junrushao1994 commented on #15143
(CC: @reminisce)

Thanks for bringing this up! Please be aware that I am not the original author of the file, and I am not super familiar with MSVC.

@reminisce Is there any reason that we disable this?

[2019-06-04 13:41] pengzhao-intel commented on #15108
It makes sense because your input image size is about 10X in both H and W direction from 12 to 112.
So the runtime is increased. Btw, the no mkl build will be very slow and it's not performant.

I suggest you change to MKLDNN build for the start point.

[2019-06-04 16:36] roywei commented on #14981
Currently, both CPU and GPU tests have been disabled due to the same memory issue. Had a discussion with @access2rohit and @apeforest,  we can try a few things:
1. change to P3 instances  here https://github.com/apache/incubator-mxnet/blob/master/tests/nightly/JenkinsfileForBinaries#L82
2. further increase shared memory to 50G
3. stop running large tensor test parallelly with other tests.

We are

[2019-06-04 17:04] rvardimon opened #15148 "Very Large CPU RAM Memory Consumption (>1GB)"
## Description
Mxnet consumes nearly 2GB CPU RAM even when loading a relatively small model (e.g. Resnet-18) on directed on GPU (`ctx=mxnet.gpu()`). From what I understand, there is no real need to load so much CPU memory, when the model is running on GPU.

This issue is extremely prohibitive when trying to run multiple processes with mxnet on the same machine, and IMO gives it a significant disad

[2019-06-04 17:05] rvardimon commented on #14883
https://github.com/apache/incubator-mxnet/issues/15148

[2019-06-04 19:10] ddavydenko commented on #15148
@mxnet-label-bot Add [Performance, Memory]

[2019-06-04 19:41] abhinavs95 commented on #15102
Hi @starimpact Could you provide some more info like a brief description of the problem with a minimum reproducible example?

[2019-06-04 19:47] abhinavs95 commented on #15146
@mxnet-label-bot add [Installation, Windows]

[2019-06-04 19:50] abhinavs95 commented on #15145
@mxnet-label-bot add [Installation]

[2019-06-04 20:19] abhinavs95 commented on #14712
Possibly related to #13135

[2019-06-04 21:06] apivovarov opened #15151 "SSD INT8 ARMv8 Operator _sg_mkldnn_conv is not registered"
I tried to use pre-trained GluonCV quantized SSD model `ssd_512_mobilenet1.0_voc_int8` from model Zoo on ARMv8 (aarch64 Ubuntu 16.04).
Error:
[code]
I built `libmxnet.so` on aarch64 Ubuntu 16.04.6 without MKL support
incubator-mxnet version 134a3e8c (Jun 4):
[code]

GluonCV installed using pip3 (`gluoncv-0.4.0.post0-py2.py3-none-any.whl`)
[code]

Related GluonCV issue: https://github.com/dmlc/gluo

[2019-06-04 21:30] roywei opened #15152 "[CI][nightly] nightly test tutorial failure: test_tutorials.test_python_kvstore"
FAIL: test_tutorials.test_python_kvstore

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/335/pipeline/147

[2019-06-04 23:46] leleamol commented on #12849
@inglada Please let us know if you were able to build cpp-package using CMakefiles so that we can close this issue.

[2019-06-04 23:47] leleamol commented on #12849
@mxnet-label-bot add [Pending Requester Info]

[2019-06-04 23:54] leleamol commented on #14152
@songziqin please let us know if you got the answer on forum. It would also help us more in resolving the issue, if there is a reprodicible example

[2019-06-05 00:32] stephenrawls commented on #13967
In one sense, yes it offers a solution.

However it is a brittle api. Users have to know that you aren't allowed to return an unmodified input variable in a hybrid block and must wrap it in F.Identity(). It would probably be a better user experience not to have to do that.

But for my purposes, yes I can use that and it's fine. Thanks for pointing F.Identity out.

[2019-06-05 01:01] ZhennanQin commented on #15151
Gluon pre-trained int8 model requires mkldnn library and AVX512 instruction sets. MXNet and Gluon doesn't provide int8 solution on ARM backend at moment.

[2019-06-05 01:57] moneypi commented on #15133
I repeat the problem when memory is 8G.
And compile success after change to 16G.
So, that's the reason.

[2019-06-05 03:56] insikk commented on #2870
I wish there is xor operator. +1 for this feature request

[2019-06-05 04:58] roywei commented on #15152
This tutorial test was passing when running  on 1 GPU machine.
https://github.com/apache/incubator-mxnet/blob/master/docs/tutorials/python/kvstore.md
[code]
However, when I changed to P3 instances with 4 gpus in https://github.com/apache/incubator-mxnet/pull/15141. it fails.
[code]

error comes from this part of the code during broad_cast add
[code]

[2019-06-05 05:02] roywei commented on #15152
However, I was not able to reproduce this on a EC2 P3.8xLarge instance.
All tutorial test passes
[code]
[code]

[2019-06-05 05:05] roywei commented on #15152
Current conclusion is this only happens on CI machines with `NODE_LINUX_GPU_P3`

[2019-06-05 05:32] xianyujie commented on #15108
@pengzhao-intel I think you misunderstood the result. Take a look at the following results, different inputs have a great influence on the operation time of convolution layer, What could be the reason for this result?

**same image as input, get the output(pre_output1,pre_output2) from stage1_unit1_relu1 layer
of the two models.Then test the time of Conv layer, pre_output1 as the input of my model

[2019-06-05 07:00] inglada commented on #12849
@leleamol I did not go further on this. Since "make install" does not install the C++ package (only the C one) I need to add this in the CMakeLists.txt of the client projects:

include_directories(${MXNET_SOURCE_DIR}/include)
include_directories(${MXNET_SOURCE_DIR}/cpp-package/include)
include_directories(${MXNET_SOURCE_DIR}/3rdparty/tvm/nnvm/include)
include_directories(${MXNET_SOURCE_DIR}/3rdpar

[2019-06-05 07:45] pengzhao-intel commented on #15108
Got it. It's interesting that the runtime is very different.

Does the result of your models is correct?

[2019-06-05 08:24] Chancebair commented on #15152
Looking through this.  Probably not the cause but worth mentioning we use P3.2xLarge for our P3 instances in CI

[2019-06-05 08:47] moneypi opened #15157 "How to print data of NDArray in c++？"
Maybe I have the similar question with
https://github.com/apache/incubator-mxnet/issues/3125,

I learn the source code https://github.com/apache/incubator-mxnet/blob/master/include/mxnet/ndarray.h , I want to learn the mxnet source code and add some debug code, but I don't know how to print a NDArray like an array in C++.I know print a NDArray in Python is easy.

Can anyone help me?

[2019-06-05 09:38] xianyujie commented on #15108
@pengzhao-intel Yeah, I've tested it many times. Here is my test file link:
https://drive.google.com/open?id=1pzWZFY2cXsqYphit1HpMdGjntfSgIb9w

[2019-06-05 09:42] xianyujie commented on #15108
I've saved the pre_output1, the pre_output2, the conv1_weight, and the conv2_weight into the param file, and reload them to test.

[2019-06-05 15:21] leezu commented on #14073
This can probably be closed as https://github.com/apache/incubator-mxnet/pull/15002 is merged

[2019-06-05 16:08] roywei commented on #15152
able to reproduce now on 3.2xlarge

[2019-06-05 18:07] roywei commented on #15152
root cause is num of GPUs changed from 2 to 1. `NODE_LINUX_GPU` is G3.8x wiht 2 GPUs and `NODE_LINUX_GPU_P3` is P3.2x with 1 GPU

so
[code]
b  length changed  from 2 to 1
`b = [mx.nd.ones(shape, ctx) for ctx in contexts]`

It seems in kvstore, when pushing a list, only len list lenght >1 , aggregation happens, and everythign will be on the same context. But when lenght = 1, it won't happen, causin

[2019-06-05 18:13] leleamol commented on #15157
@moneypi
 You can use the overloaded operator "<<" of mxnet::cpp::NDArray object as follows:

`
NDArray image_data = NDArray(input_shape, global_ctx, false);
  image_data.SyncCopyFromCPU(array.data(), input_shape.Size());
std::cout << image_data;
`

You can refer to implementation of "<<" in ndarray.hpp here
https://github.com/apache/incubator-mxnet/blob/c474f5f88ab39c39a64976adc59ef4cfe7a6be79/cp

[2019-06-05 19:33] abhinavs95 commented on #13967
@stephenrawls Could you close the issue since your problem has been resolved?

[2019-06-05 19:35] abhinavs95 commented on #14373
@mxnet-label-bot add [pending-requester-info]

[2019-06-05 20:21] abhinavs95 commented on #13135
Reproducible in Ubuntu 16.04, mxnet 1.4.1, cuda 9.2, cudnn 7.3.1

[2019-06-05 20:21] lanking520 commented on #14795
@hallazie Close it for now since the question has been answered. Please feel free to reopen if the suggest solution did not fix your problem.

[2019-06-05 20:21] #14795 closed

[2019-06-05 20:23] lanking520 commented on #13861
@SOWENKIN Close this for now due to the inactivity. Please feel free to reopen if the problems persist and you would like to follow up.

[2019-06-05 20:23] #13861 closed

[2019-06-05 20:24] lanking520 commented on #14152
@songziqin Close this issue due to inactivity. Please feel free to reopen if you are still facing the same problems.

[2019-06-05 20:24] #14152 closed

[2019-06-05 21:09] Vikas89 commented on #14975
@dmidge8  Would you be able to provide the script to repro this ?

[2019-06-05 21:16] leleamol commented on #14721
@mxnet-label-bot add [Pending Requester Info]

[2019-06-05 21:19] sandeep-krishnamurthy commented on #14712
Closing it in favor of #13135 Please reopen if you see the issue is different.

[2019-06-05 21:19] #14712 closed

[2019-06-05 21:44] apeforest commented on #14976
@larroy thank you for the quick response.
I could verify the instruction works for the latest MXNet master release. Closing this issue therefore.

[2019-06-05 21:44] #14976 closed

[2019-06-05 22:13] anirudh2290 commented on #15084
I tried again with

[code]

and now I am not able to reproduce the bug :). Would be really helpful to me if you can try the same @roywei .

In the meanwhile I am looking more into this, seeing if something in the archive utility could have caused this.

[2019-06-05 22:16] sreev opened #15159 "Add meaningful error message"
check compatible R version and throw meaningful message and halt installation.

https://discuss.mxnet.io/t/installation-broken-for-r-alternate-method/4098

related to the issue:
[https://github.com/apache/incubator-mxnet/issues/15110](https://github.com/apache/incubator-mxnet/issues/15110)

[2019-06-05 22:18] larroy commented on #14994
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15109/5/pipeline

[2019-06-05 22:18] piyushghai commented on #13968
Hi @stephenrawls, Were you able to get a reproducible example for this error ?

[2019-06-05 22:39] abhinavs95 commented on #13135
Using the following condensed example for debugging:
[code]

I try to print output after running the example and the error is raised but if I print again the result is of the correct shape but all zeros:
[code]

[2019-06-05 23:02] #12460 closed

[2019-06-05 23:02] anirudh2290 commented on #15084
This seems to be related to the archive utility ar bug: https://sourceware.org/bugzilla/show_bug.cgi?id=14625 . It has been fixed in a later version of archive utility in this patch : https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;h=e6cc316af931911da20249e19f9342e5cf8aeeff.  I am trying to reproduce the issue and have also downloaded the binutils source for the version where the issue is

[2019-06-05 23:10] piyushghai commented on #12307
I think this is a feature request and not a bug.

@mxnet-label-bot Update [NDArray, Feature request]

[2019-06-05 23:45] #14507 closed

[2019-06-06 00:14] anirudhacharya opened #15160 "Missing videos in autograd docs page"
The beta docs page for autograd - http://beta.mxnet.io/guide/packages/autograd/autograd.html has a couple of embedded videos. But the videos are blank.

cc: @aaronmarkham

[2019-06-06 02:46] anirudh2290 commented on #15084
Alright I was able to reproduce the issue with my commit and I was able to fix it on the commit when using ar version 2.27: GNU ar (GNU Binutils) 2.27. The CI needs to be upgraded to this AR version.
@marcoabreu @jlcontreras @lebeg @perdasilva Please help with the upgrade. This is blocking an important perf regression fix currently and can reoccur: https://github.com/apache/incubator-mxnet/pull/15

[2019-06-06 02:59] anirudh2290 commented on #15032
@pengzhao-intel @TaoLv Sorry for the late reply. Thanks for bringing up the documentation. Currnetly it core dumps and better to change it to have a better error message. I would still consider it a bug , although it may be trivial to fix.

[2019-06-06 03:13] szha opened #15162 "mxnet website should link the branding guidelines from apache incubator"
related guidelines:
- http://apache.org/foundation/press/Project-PR-BrandGuidelines.pdf
- Linked to from http://apache.org/press/
- https://apache.org/foundation/marks/
- https://www.confluent.io/apache-guidelines

[2019-06-06 04:50] #14073 closed

[2019-06-06 05:30] roywei commented on #15084
Maybe we can add a script to upgrade the archive utility during the build stage of `GPU: MKLDNN`. This will ensure all auto-scaled machines to be upgraded.

[2019-06-06 06:23] anirudh2290 commented on #15084
@roywei yes good point. This will be required in all stages sooner or later, but right now gpu stages should be enough I think.

[2019-06-06 07:10] roywei commented on #14981
failed with 200G shared memory on P3.2x and failed, we need another approach for testing large tensor.

[2019-06-06 07:38] gbtami commented on #15145
If you want additional info, just let me know please!

[2019-06-06 07:48] git-ness commented on #14943
Circling back... @lanking520 I thought the idea of the mxnet model server is to serve model files such as the `.json` and `.params` files. Fwiw @tomoncle's example is taking the model & params files, then performs inference and classifies the images themselves in a spring-boot server environment, not just serving the `.json` or `.param` files.

Perhaps maybe https://github.com/apache/incubator-mxn

[2019-06-06 09:52] QueensGambit commented on #15146
He managed to get a MXNET version to work after re-installing python and using the plain CPU version without Intel-MKL:
[code]

[2019-06-06 12:24] adc17 commented on #14118
This sounds like 'figure out how to use the lib and document it as code', so a good ticket for someone new to machine learning? I'll have a go if that's correct.

[2019-06-06 12:47] Chancebair commented on #15084
Our CI instances use Ubuntu 16.04 so the latest version of ar available is 2.26

[code]

[2019-06-06 13:45] chitraa commented on #6614
@patriciaaa82 It is supported. You can use the command
`python im2rec.py --list=1 --recursive=1 --shuffle=1 --test-ratio=0.1 --train-ratio=0.8 images/images images/` for 80% train, 10% test and the remaining 100-80-10 = 10% validation.
Here is a snippet from im2rec.py which does the same:
`            if args.test_ratio:
                write_list(args.prefix + str_chunk + '_test.lst', chunk[:sep_

[2019-06-06 13:49] #15152 closed

[2019-06-06 14:20] smissan commented on #14116
great,  Vigilans , thanks for finally finding the root cause. Is this issue is now fixed in trunk, or is it in code review?

[2019-06-06 15:23] smissan opened #15165 "Cannot open include file: 'cub/cub.cuh': No such file or directory"
Looks like that file cannot be found when building the latest trunk

[2019-06-06 19:09] roywei commented on #15028
fixed in https://github.com/apache/incubator-mxnet/pull/15141

[2019-06-06 19:09] #15028 closed

[2019-06-06 21:18] reminisce commented on #15096
Fixed by https://github.com/apache/incubator-mxnet/pull/15097

[2019-06-06 21:18] #15096 closed

[2019-06-06 21:19] reminisce commented on #14954
Fixed by
https://github.com/apache/incubator-mxnet/pull/15073
https://github.com/apache/incubator-mxnet/pull/14998

[2019-06-06 21:19] #14954 closed

[2019-06-06 21:47] charlieyou opened #15166 "asnumpy() fails on float16 gradient"
## Description
asnumpy() fails on float16 gradient both on cpu and gpu contexts. Interestingly, when printing out the variable itself (data16 in the MRE), it works on cpu, but only every other time on gpu.

## Environment info (Required)
[code]
Package used (Python/R/Scala/Julia):
Python

## Error Message:
[code]

## Minimum reproducible example
(If you are using your own code, please provide a sh

[2019-06-06 22:24] eric-haibin-lin commented on #15138
Also the current documentation doesn't talk about temp space requests

[2019-06-06 22:40] ptrendx commented on #15166
Documentation (https://mxnet.incubator.apache.org/api/python/symbol/linalg.html#mxnet.symbol.linalg.gelqf) says that this operator supports fp32 and fp64 only, so it is strange it does not fail to run with fp16 input.

[2019-06-06 22:49] apeforest commented on #13070
This issue has been fixed. In 1.5.0 release, user need to build MXNet from source with the compilation flag USE_INT64_TENSOR_SIZE=1. We are working to make this flag on by default and available in pip package in next minor release. Closing this issue for now.

[2019-06-06 22:49] #13070 closed

[2019-06-06 22:51] apeforest commented on #13036
This issue has been fixed. In 1.5.0 release, user need to build MXNet from source with the compilation flag USE_INT64_TENSOR_SIZE=1. We are working to make this flag on by default and available in pip package in next minor release. Closing this issue for now.

[2019-06-06 22:51] #13036 closed

[2019-06-06 23:31] gigasquid commented on #14118
That's correct :) Give a shout if you have any questions, issues. The #clojure-mxnet slack room is also good. See about joining here http://mxnet.incubator.apache.org/versions/master/community/contribute.html

[2019-06-06 23:33] stephenrawls commented on #13967
@abhinavs95 I am not sure the issue is resolved. Yes I can run my code if I make necessary changes, but as mentioned this seems like a brittle user experience that could be improved, or at the very least, better documented.

But sure I am closing the issue.

[2019-06-06 23:33] #13967 closed

[2019-06-06 23:34] stephenrawls commented on #13968
No I wasn't, and our code base has moved on, so I'm closing the issue. Thanks.

[2019-06-06 23:34] #13968 closed

[2019-06-07 01:10] ivanquirino commented on #13206
+1
This would be really useful to have in compose API, and also have utility function to rotate the bounding boxes.

[2019-06-07 01:17] aaronmarkham commented on #15134
@William-jia regarding the last line - I'm seeing this in the code, which is different from what you posted... thinking I should leave this alone. You?
[code]
https://github.com/apache/incubator-mxnet/blob/master/src/operator/contrib/proposal-inl.h#L70

[2019-06-07 01:26] wkcn opened #15172 "mx.nd.contrib.boolean_mask doesn't support GradientAddition"
## Description
Hi, there.
I found `mx.nd.contrib.boolean_mask` gives a wrong gradient when gradient addition on it.
`mx.nd.contrib.boolean_mask` doesn't support Gradient Addition.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc

MXNet commit hash:
b0be6c50ae686a59c340c

[2019-06-07 07:25] chrisboo opened #15176 "MXNet TensorRT: Please ensure build was compiled with MXNET_USE_TENSORRT enabled."
## Description

I tried following this tutorial [Optimizing Deep Learning Computation Graphs with TensorRT](https://mxnet.incubator.apache.org/versions/master/tutorials/tensorrt/inference_with_trt.html) but I see that there are no improvements. When I try to get the optimized symbol, I get an error saying my MXNet is not compiled with MXNET_USE_TENSORRT.

## Environment info (Required)

[code]

I'

[2019-06-07 07:42] chrisboo commented on #15165
I suspect that you did not clone the third party modules? Try

[code]

and build again.

[2019-06-07 09:06] leezu opened #15178 "60-Minute Gluon Crash Course External link broken"
http://gluon-crash-course.mxnet.io/ (redirecting to https://beta.mxnet.io/guide/crash-course/index.html) is unavailable.

Access rights seem to be misconfigured:

`<Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>49557F1F99E46EA4</RequestId><HostId>jznxIFGTB3F/f4XPIeRQIz+2UO0JhmABzAK1yaQY4s58Bx35ZmkxRvAxL4wQCo5uGMwFTnGmHGo=</HostId></Error>`

CC: @astonzhang @szha

[2019-06-07 11:44] ahmed-shariff commented on #14916
@nicklhy  is this fix being pushed to the repo?

[2019-06-07 16:27] roywei commented on #15025
Hi @chandana1332, sorry I just saw this. As you can see in the above dev list discussion and [release tracker](https://cwiki.apache.org/confluence/display/MXNET/1.5.0+Release+Plan+and+Status). We are aming to tag 1.5.0 by today(06/07/2019). Do you need this change in 1.5.0?  Once you create a PR and merge it, it will be available through nightly pip packages (`pip install mxnet --pre`), and we can

[2019-06-07 17:15] leleamol commented on #15157
@moneypi  please let us know if this answers your question so that we can close this issue.

@mxnet-label-bot add [Pending Requester Info]

[2019-06-07 17:47] abhinavs95 commented on #13943
@2void Could you close the issue since your problem has been resolved?

[2019-06-07 17:53] abhinavs95 commented on #13135
Some more digging, tried doing `output.as_in_context(mx.cpu())` before printing. The first time the error pops up and on the second time its able to print, but the values look incorrect.
[code]
Also as pointed out by @Aktcob padding=0 works without any issue.

[2019-06-07 17:55] leleamol commented on #14732
There is a potential for index out of range. Thanks @abner2015  for pointing this out.
I have created a PR to address this issue.
#15179

[2019-06-07 18:18] #13600 closed

[2019-06-07 18:18] #15004 closed

[2019-06-07 18:30] leleamol commented on #15165
@mxnet-label-bot add [Installation, Pending Requester Info]

[2019-06-07 18:38] leleamol commented on #15178
@mxnet-label-bot add [Doc, Gluon, Website]

[2019-06-07 18:44] leleamol commented on #15143
@mxnet-label-bot add [Windows]

[2019-06-07 18:45] pinaraws opened #15181 "[Feature Request] Support ONNX export of MultiBox operators"
Currently, the MXNet->ONNX model exporter does not support the MultiBox operators
MultiBoxDetection
MultiBoxPrior
MultiBoxTarget

Since there's no builtin ONNX operator ([list](https://github.com/onnx/onnx/blob/master/docs/Operators.md)) for this we would need to add the corresponding operators in ONNX first.

[2019-06-07 18:46] pinaraws commented on #15181
@mxnet-label-bot add[Feature request, ONNX]

[2019-06-07 19:27] anirudhacharya commented on #15181
tracked on the ONNX repo here - https://github.com/onnx/onnx/issues/2086

[2019-06-07 19:50] abhinavs95 commented on #15102
@mxnet-label-bot add [Pending Requester Info]

[2019-06-07 20:05] larroy commented on #15084
Would upgrading the containers to 18.04 alleviate this and help move forward our CI?

[2019-06-07 20:24] abhinavs95 commented on #13135
Looks like the issue has already been fixed. I ran the example on the latest nightly package using `pip install mxnet-cu92 --pre` and also on the latest source build and am able to get correct output:
[code]
@kohr-h Can you check again?

[2019-06-07 20:24] chandana1332 commented on #15025
Hey Wei,

I should have the patch ready by tomorrow. Not sure what the turn around time for releasing a pull request is but from my side, I'm okay if it gets patched to 1.5.1.

Thank you for checking in.

[2019-06-07 21:21] anirudh2290 opened #15182 "Reduce MXNet Code bloat"
## Description
This thread is started because we have already started to run into issues because of MXNet code bloat. For example : https://github.com/apache/incubator-mxnet/issues/15084. There have been some work on this like : https://github.com/apache/incubator-mxnet/pull/14900. Since MXNet uses templates, we can also revisit this to see how we can reduce the code bloat caused by this.

Would b

[2019-06-07 21:24] leleamol commented on #15166
@charlieyou I tried it on CPU machine and it fails with the following callstack.
As per the doc the operator supports fp32 and fp64 only. We can tag the issue as "Feature Request"

`ubuntu@ip-172-31-18-214:~$ python test_fp16.py
Traceback (most recent call last):
  File "test_fp16.py", line 17, in <module>
    data16.grad.asnumpy() # this fails on both
  File "/usr/local/lib/python2.7/dist-package

[2019-06-07 21:24] leleamol commented on #15166
@mxnet-label-bot add [Feature Request, FP16, Operator]

[2019-06-07 21:25] leleamol commented on #15160
@mxnet-label-bot add [Doc, Website]

[2019-06-07 21:48] jermainewang opened #15183 "[Bug] Temporary autograd.Function object causes key deletion error"
## Description
When using `autograd.Function` to create custom operator, if the object is created in a local scope, and the input is not on the gradient chain, key error will be raised.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia): Python

## Error Message:

[code]

## Minimum reproducible example

[code]

## Steps to reproduce

Run the code.

## What have you tried

[2019-06-07 21:50] leleamol commented on #12849
@inglada Thanks for the update.
Building the cpp-package does not produce any binary artifact. It generates "op.h" file which contains declarations of operator functions.
The updates you had mentioned in your response are needed to build programs that use API from cpp-package.

[2019-06-07 21:51] leleamol commented on #14116
@mxnet-label-bot add [Windows]

[2019-06-07 22:11] leleamol commented on #14732
#15179 is merged.

The issue can be closed.

[2019-06-07 22:24] roywei commented on #15183
I have added this in 1.5.0 [release tracker](https://cwiki.apache.org/confluence/display/MXNET/1.5.0+Release+Plan+and+Status). Please let me know when you created PR. We want to get it fixed ASAP. Thanks.

[2019-06-07 23:10] zheng-da commented on #15183
https://github.com/apache/incubator-mxnet/pull/15184

[2019-06-07 23:28] aaronmarkham commented on #13429
So where should `NDabs` be? I only see it mentioned twice in the code as some way to call `abs`. Is there a good reason for that? Why not just import it as `abs` so Sphinx doesn't try to include it... or set it up so Sphinx can document it?

[2019-06-07 23:47] charlieyou commented on #15166
@leleamol This is my bad... I was attempting to post an issue that got at the root issue, but I now realize I posted something with a different cause, which is as you have pointed out, not a bug.

Here is a MRE and stack trace for the actual issue I am facing. I can post it as a separate issue and close this one if desired.

## MRE
[code]

## Stack trace
[code]

[2019-06-08 00:14] leleamol commented on #8126
I looked at the example given here https://github.com/apache/incubator-mxnet/issues/8126#issuecomment-333847990
It seems the example is training the xor gate with only 4 data points. This might be insufficient data to train the neural network.
The example given by @f-matt  has similar architecture but runs the training with 8000 data samples.

[2019-06-08 00:19] theSparta commented on #8126
There are only 4 unique data points to train a XOR gate. Are you saying that the possible reason could have been that the network was not trained for enough epochs? Other than that, changing the batch size doesn't have any other effect in this case.

[2019-06-08 00:23] leleamol commented on #15166
Thanks for the update @charlieyou , I would recommend opening a separate issue and closing this one.

[2019-06-08 05:58] nrupatunga commented on #8235
Are they both same @Godricly

[2019-06-08 22:29] #15183 closed

[2019-06-09 00:22] #14895 closed

[2019-06-09 02:20] #14580 closed

[2019-06-09 03:04] sheep94lion commented on #14235
I met the same problem. I installed atlas-devel but the problem still exists. Do I have to specify the path to atlas library with some make variables?

[2019-06-09 03:34] pengzhao-intel commented on #15108
Thanks for the data and I can reproduce your issue now.
Seems the convolution time is quick longer when you switched to the new dataset.

Debugging now and will back to you soon.

[code]

[2019-06-09 05:12] #14786 closed

[2019-06-09 07:03] nicklhy commented on #14916
@ahmed-shariff No, the above fix has not been pushed to the official repo yet.

[2019-06-09 09:59] wkcn commented on #15172
The issue has been fixed. Close it.

[2019-06-09 09:59] #15172 closed

[2019-06-09 10:50] Marcovaldong opened #15190 "MXNetError: Projection is only supported for LSTM with CuDNN version later than 7.1.1"
I built the mxnet from source code with cuda-8.0 and cudnn7.1.3. I try to use lstm layer with a projection layer as follows, then I got this error.

[code]

Then, I got this error:

[code]

The cuda and cudnn is installed in my own path, because I have no root permission. I added their  path in my environment library.

@szha

[2019-06-09 21:02] szha commented on #15190
@Marcovaldong this looks like a problem with the error message as the macros are set to check cudnn 7.2 instead. cc @stephenrawls

[2019-06-10 01:53] Marcovaldong commented on #15190
@szha  So should I use cudnn after than 7.2 ?

[2019-06-10 02:14] pengzhao-intel commented on #15108
After the analysis, I think the problem is the input data is underflow so the computation is very slow.
I think the problem will disappear and when you switch to a real data

[2019-06-10 02:35] rongruosong opened #15191 "How to load model parameters in jar packages using java predictor"
Linux-1.5.0

For Q & A and discussion, please start a discussion thread at https://discuss.mxnet.io

## Description
I want to put my parameters in jar, but  I don't know how to set the modelPathPrefix of java predictor.

[2019-06-10 02:41] xianyujie commented on #15108
many thx, but the input data is obtained from the real data through many layers, and the results of all the real pictures are the same as above, so maybe the minimal calculation result is directly equal to 0?

[2019-06-10 02:58] pengzhao-intel commented on #15108
Make sense. I will contact the MKL-DNN team and see if any improvement can be done.

In a short time, please try to set the very small value to 0 :(

[2019-06-10 03:36] szha commented on #15190
Yes, using cudnn 7.2+ should solve the problem.

[2019-06-10 04:12] shaoanlu opened #15192 "Confusing Total params in mxnet.visualization.print_summary"
## Description
I observed inconsistent number of params in `mxnet.visualization.print_summary` with actual weights when FullyConnected having `flatten=True` set.

## Environment info (Required)
I ran the experiment on Google Colab.

[code]
## Minimum reproducible example
[code]
When I called `mx.visualization.print_summary(op, shape={'data':(1,3,2,2)})`, it shows the following summary:
[code]
wher

[2019-06-10 04:33] xianyujie commented on #15108
After I set the minimum value to 0, the test results of the two models are the same.

**same image as input, get the output(pre_output1,pre_output2) from stage1_unit1_relu1 layer
of the two models.Then test the time of Conv layer, pre_output1 as the input of my model,
pre_output2 as the input of original model.**
(0.004521, 0.004521)
**The pre_output1 as the input of the two models, test the time

[2019-06-10 04:36] Marcovaldong commented on #15190
@szha  Thanks for your reply, I upgrade drivers, cuda and cudnn, then I can use lstmp successfully.

[2019-06-10 04:58] szha commented on #15190
Actually since the error message is inaccurate let's keep this issue open until the inaccuracy is addressed

[2019-06-10 05:09] mouryarishik opened #15193 "How to calculate gradients for the intermediate outputs using symbol?"
Is it possible to compute gradients of intermediate values of a computation?
For example:-
[code]
Here bind.grad_dict doesn’t provide gradients of c even though I’ve written 'c':'write' in grad_req .
For now [gradient api of symbol](https://mxnet.apache.org/api/python/symbol/symbol.html?highlight=gradi#mxnet.symbol.Symbol.gradient) is not implemented yet.
So how can I get the gradients of “d with

[2019-06-10 08:59] AgatheBauer opened #15194 "How do I get the smoothest installation experience in R (GPU version)?"
Assume, I'm a total idiot (indeed, I feel like one, at least like a bloody beginner...)

This whole neural net installation for GPU is a total nightmare. I came here after failing to get tensorflow to run. Seems like it's the same disaster with MXNet. People, it's awesome that these tools are free to use for a hobbyist like me, but not everybody is a professional developer! I will keep learning of

[2019-06-10 09:21] moneypi commented on #15157
I'm sorry, I think that's not easy for me.
I change funcition MXNDArrayGetGrad in c_api.cc
[code]
My python code is simple,
[code]
But I get '0' every time.
Can I get the right value with little change?

[2019-06-10 09:50] ou525 commented on #14694
need help too

[2019-06-10 17:09] anirudhacharya commented on #13429
@aaronmarkham `NDabs` should be under NDArray API.

I am not sure of this.

[2019-06-10 17:18] #15166 closed

[2019-06-10 17:23] charlieyou opened #15196 "LSTM w CTCLoss error with float16"
## Description
An LSTM with CTCLoss fails when cast to float 16.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

## Error Message:
(Paste the complete error message, including stack trace.)
[code]
## Minimum reproducible example
(If you are using your own code, please provide a short script that reproduces the error. Otherwise, please provide link to the exist

[2019-06-10 18:26] piyushghai commented on #14967
@aashudwivedi Were you able to try it out ?

[2019-06-10 19:06] apeforest opened #15198 "[Feature] Need a debugging utility to dump out intermediate values of Tensor object"
Currently, when debugging a MXNet operator, there is no existing utility function to dump out intermediate Tensor and NDArray object.

Developers have to write their own debugging code which is inefficient and error prone.

We need an easy to use C++ debugging utility to help developers debug MXNet operators in backend.

[2019-06-10 19:10] anirudh2290 commented on #15198
Does set_monitor_callback in executor work for your use case ?

[2019-06-10 19:36] apeforest commented on #9476
Got the same error in MXNet 1.5 release
`OSError: /tmp/incubator-mxnet/python/mxnet/../../lib/libmxnet.so: undefined symbol: dorgqr_` when I tried to pip install horovod after building MXNet from source.

Environment:
[code]

[2019-06-10 21:06] roywei opened #15199 "[CI][Flaky test][nightly] flaky test in estimator nightly test"
This [test_sentiment_rnn.py](https://github.com/apache/incubator-mxnet/blob/master/tests/nightly/estimator/test_sentiment_rnn.py) seems to be flaky.
see pipeline.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/342/pipeline

It's been modified from https://github.com/d2l-ai/d2l-en/blob/master/chapter_natural-language-processing/sentiment-analy

[2019-06-10 21:24] piyushghai commented on #10393
@mxnet-label-bot Update [Bug, Data-loading, pr-awaiting-response]

@foamliu Can you share a minimal .rec file to reproduce the error here as requested by @anirudhacharya ?

[2019-06-10 22:57] ThomasDelteil opened #15200 "Broken Sidebar on website API for master"
See https://mxnet.incubator.apache.org/versions/master/api/python/index.html

![Screen Shot 2019-06-10 at 3 56 20 PM](https://user-images.githubusercontent.com/3716307/59232215-60648100-8b98-11e9-877c-7ccb03277b30.png)

vs

![Screen Shot 2019-06-10 at 3 56 55 PM](https://user-images.githubusercontent.com/3716307/59232225-6f4b3380-8b98-11e9-8341-84cda489ad99.png)

[2019-06-10 22:58] ThomasDelteil commented on #15200
@aaronmarkham

[2019-06-10 22:59] ThomasDelteil opened #15201 "Add tensorrt and quantization in the docs of the website"
We are referrencing tensorrt and quantization in a few tutorials / blog posts etc though they do not appear under the contrib section of the docs. It would be great to add them.

@aaronmarkham

[2019-06-10 23:24] aaronmarkham opened #15202 "name and shape links on IO API are broken"
## Description
Search for get_list and click the name or shape links.
http://mxnet.incubator.apache.org/versions/master/api/python/io/io.html

Probably due to how these are configured:

[code]

[2019-06-10 23:34] aaronmarkham opened #15203 "new performance benchmark numbers needed"
## Description
https://mxnet.incubator.apache.org/versions/master/faq/perf.html
This refers to a release candidate that is no longer available. (broken link)

From the page:
The following table shows performance of [MXNet-1.2.0.rc1](https://github.com/apache/incubator-mxnet/releases/download/1.2.0.rc1/apache-mxnet-src-1.2.0.rc1-incubating.tar.gz),

I could change that to point to 1.2.0, but then i

[2019-06-11 00:04] aaronmarkham opened #15204 "java hello world demo is missing"
## Description
The instructions for Java have a step where you use a hello world app. This app was deleted, but we still need something for users to try out. I suggest adding it back.

https://mxnet.incubator.apache.org/versions/master/tutorials/java/mxnet_java_on_intellij.html
See step 6. Those links are all broken.

[2019-06-11 00:04] aaronmarkham commented on #15204
@zachgk

[2019-06-11 00:05] zachgk commented on #15204
I will add it back

[2019-06-11 00:15] anirudhacharya commented on #12369
might be related - https://github.com/apache/incubator-mxnet/issues/14710

[2019-06-11 00:30] aaronmarkham opened #15206 "markdown to html link converter fails on links within tables"
## Description
The converter for markdown links to html links used in the website doesn't work for links in tables.
This has been causing broken links.
Take for example this table in the build from source guide:
https://mxnet.incubator.apache.org/versions/master/install/build_from_source.html#installing-mxnet-language-bindings

At the moment these links are broken. They should have been converted

[2019-06-11 01:14] zheshipinyinMc opened #15207 "Mack-RCNN C++ Deployment Not Working in GPU Mode And CPU Mode"
Thanks for the great work! I am pretty interested in C++ deployment so just tried for object detection, and then used maskrcnn for detection to see if it works.
1、Train Mask R-CNN with COCO dataset.
2、Test saved model in python is ok.
3、Deploy mask R-CNN with gluoncv c++ deployment, the model is not working in GPU mode and CPU mode.

MXNet: 1.4
System: Ubuntu 16.04
Gluon CV: 0.4.0

errors:
In GPU

[2019-06-11 02:12] olegmikul opened #15208 "Errors when compiling from source on Linux: string_fortified.h: stringop-truncation"
## Description
Errors due to string operations

## Environment info (Required)
----------Python Info----------
Version      : 3.7.3
Compiler     : GCC 9.1.1 20190603 gcc-9-branch@271851
Build        : ('default', 'Jun  3 2019 15:02:07')
Arch         : ('64bit', 'ELF')
------------Pip Info-----------
Version      : 19.1.1
Directory    : /usr/lib/python3.7/site-packages/pip
----------MXNet Info-----

[2019-06-11 02:22] TaoLv commented on #15208
@olegmikul Thank you for reporting the issue. Have you ever tried to build MXNet with a lower version of GCC. AFAIK, neither MXNet nor MKL-DNN is verified with GCC 9.x.

[2019-06-11 02:25] TaoLv commented on #15203
Thank you @aaronmarkham. We're collecting new performance numbers on CPU side and will update to the page once 1.5.0 is released. @pengzhao-intel @yinghu5

[2019-06-11 02:34] olegmikul commented on #15208
Will try MXNET with gcc-7. Right now I have compiled and installed MKL-DNN with GCC 9.1 - no problems.

[2019-06-11 02:41] Umengying commented on #13454
meet the same problem too.

[2019-06-11 06:51] roywei opened #15211 "MXNet with MKLDNN failed to install horovod"
From https://lists.apache.org/thread.html/6b498b466123b11df023f746fb233117bc58a68818383b0952a9c9e2@%3Cdev.mxnet.apache.org%3E

I was able to verify and reproduce the error.

using MXNet built from source is not able to install Horovod

Steps to reproduce:
Using AWS Base DLAMI on P3.2xLarge.
checkout tag 1.5.0.rc0

[code]
[code]
Able to build successfully and run a simple mnist example.
[code]
erro

[2019-06-11 06:52] roywei commented on #15211
@mxnet-label-bot add[MKLDNN, Distributed, Installation]

[2019-06-11 07:45] olegmikul commented on #15208
Tried with gcc-7. Got different error:
make: *** [Makefile:509: build/src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.o] Error 1
make: *** Waiting for unfinished jobs....
In file included from /usr/include/c++/7/ios:40:0,
                 from /usr/include/c++/7/ostream:38,
                 from /usr/include/c++/7/iterator:64,
                 from src/operator/quantization/mkldn

[2019-06-11 07:52] TaoLv commented on #15208
Ummm, It's strange. Can you do `make clean` and `git submodule update --recursive --init` and then build mxnet again? Please also share the full build log if the error is still there.

[2019-06-11 08:03] olegmikul commented on #15208
Yes, I did make clean and git submodule update --recursive --init Still the error. Log:
Makefile:219: "USE_LAPACK disabled because libraries were not found"
g++7 -std=c++11 -c -DMSHADOW_FORCE_STREAM -Wall -Wsign-compare -O3 -DNDEBUG=1 -I/home/ol/incubator-mxnet/3rdparty/mshadow/ -I/home/ol/incubator-mxnet/3rdparty/dmlc-core/include -fPIC -I/home/ol/incubator-mxnet/3rdparty/tvm/nnvm/include -I/home

[2019-06-11 08:18] olegmikul commented on #15208
Sorry if the log below is too long, but it may help - I copied all building process:
ol@clr-ol ~/incubator-mxnet $ make -j $(nproc) USE_OPENCV=1 USE_MKLDNN=1 USE_BLAS=mkl USE_INTEL_PATH=/opt/intel
Makefile:219: "USE_LAPACK disabled because libraries were not found"
mkdir -p /home/ol/incubator-mxnet/3rdparty/mkldnn/build/install
cd /home/ol/incubator-mxnet/3rdparty/mkldnn && rm -rf external && cd s

[2019-06-11 08:19] moneypi commented on #15157
Thanks， I can print the grad now.Code as below:
[code]

[2019-06-11 08:20] #15157 closed

[2019-06-11 08:20] apeforest opened #15212 "Confusing build from source instructions"
Currently, the instructions for building from source is very confusing. It mixes with building with make and cmake. We need have a clear guide for first time developers.

http://mxnet.incubator.apache.org/versions/master/install/build_from_source.html

In one step it is 'make -j' and in the next step it becomes 'cmake'.

We should just have one single build system instruction in the man page.

[2019-06-11 09:21] zheshipinyinMc commented on #15207
@pluskid @piiswrong

[2019-06-11 09:51] TaoLv commented on #15208
Thanks for sharing the log @olegmikul. I cannot reproduce the issue. The build passed successfully with GCC 7.3.1 on my machine. What's the your MKL version? Can you build MXNet with `USE_BLAS=openblas` and leave `USE_INTEL_PATH` empty?

[2019-06-11 15:09] cesans opened #15214 "ImageRecordIter interpolation method (inter_method) fails for NN (0)"
## Description
Creating a ImageRecordIter with `inter_method=0` fails with:

[code]

The check `param_.inter_method >= 1` is just wrong, should be `>= 0`.

## Environment info (Required)

Package used (Python/R/Scala/Julia): Python

## Error Message:
[code]

## Minimum reproducible example
[code]

[2019-06-11 17:53] zhreshold commented on #15207
@zheshipinyinMc For CPU you can try disable MKLDNN in your build see if it works.

For GPU, it's possible that your model may work properly in python imperative mode since network can be inferenced section by section, but in C++ it will allocate all the memory once before execution and you only have 6G gpu memory.
Try reduce the input image size and see if you are able to inference a small input.

[2019-06-11 18:26] jschmitz28 opened #15215 "MXNet Row Sparse SGD Update fails when Row Sparse weights are sparsely populated"
## Description
Running the SGD optimizer in MXNet with row sparse weights only seems to work when the weights are not actually sparsely populated: https://github.com/apache/incubator-mxnet/blob/master/src/operator/optimizer_op-inl.h#L541 Would it be feasible to extend this implementation to support cases in which the row sparse weights occupy less storage than if they were dense?

## Environment i

[2019-06-11 18:27] anirudh2290 commented on #14978
Reopening, still encountered this here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15118/13/pipeline

[2019-06-11 18:35] jschmitz28 commented on #15215
Note that I think this might be related to https://github.com/apache/incubator-mxnet/issues/10835, but seems like it should be simpler since I'm fine with fully specifying the sparsity up front rather than requiring lazy allocation.

[2019-06-11 18:55] satyakrishnagorti commented on #14256
@andrewfayres I am unable to reproduce this in docker and don't have more time to look into this at the moment. I will reopen this issue if I find anything in the future. Thanks for your time!

[2019-06-11 18:55] #14256 closed

[2019-06-11 19:10] anirudhacharya commented on #14956
@ksellesk this is the doc for opencv's imread - https://docs.opencv.org/3.0-beta/modules/imgcodecs/doc/reading_and_writing_images.html?highlight=imread#cv2.imread

can you please provide a code example or usage of reading jpg with orientation. The method signatures of mxnet's imread and opencv's imread seem pretty similar.

[2019-06-11 19:11] anirudhacharya commented on #13216
this issue is being tracked here - https://github.com/apache/incubator-mxnet/issues/14956 Can we close this issue?

[2019-06-11 19:50] piyushghai commented on #12369
I don't reckon this is related to the tagged issue Anirudh.
In this case, the MRE provided is running imperative NDArray operations in both the cases.

[2019-06-11 20:36] ptrendx commented on #15198
Monitor callback is good (although not really documented properly - I had to look at the internals of monitor implementation in Module API to know what the Python function should do to access the NDArray), but it only works for Symbol API, not for Gluon, which makes it really hard to debug backward pass/both passes of hybridized models.

[2019-06-11 20:40] piyushghai commented on #12369
I posted this question on the MXNet Discuss Forum as well to get a wider audience. https://discuss.mxnet.io/t/grads-from-batchnorm-implemented-from-scratch-different-from-mx-nd-batchnorm/4167

[2019-06-11 21:21] piyushghai commented on #14228
@yifeim There seems to be a workaround with wrapping inner network's y in ``` F.identity()``` .
Are you still facing the error ?
If not, can this issue be closed ?

@mxnet-label-bot Add [pending-requester-info]

[2019-06-11 21:27] ThomasDelteil commented on #11756
@xinyu-intel @PatricZhao is there work to support `int8` type in MKLDNN ? Currently it only supports `uint8`

[code]

[2019-06-11 21:36] zachgk commented on #15191
@rongruosong What you could do is copy all of the parameters from the jar to a temporary directory. Then, give the path to the temporary directory. We have to do something similar with the mxnet binary files in https://github.com/apache/incubator-mxnet/blob/master/scala-package/core/src/main/scala/org/apache/mxnet/util/NativeLibraryLoader.scala#L147.

[2019-06-11 21:43] piyushghai commented on #15212
I don't think this is a Bug.
It's an issue with Installation instructions on the Website.

[2019-06-11 21:43] piyushghai commented on #15212
@mxnet-label-bot Update[Doc, Unclear Error/Doc, Installation, Build]

[2019-06-11 22:17] zachgk commented on #14732
I am closing this issue as it should be resolved as part of #15179. @abner2015, please reopen if the problem persists.

[2019-06-11 22:17] #14732 closed

[2019-06-11 22:53] zachgk commented on #15192
If you are looking for information about FullyConnected, you can check the docs at https://mxnet.incubator.apache.org/api/python/symbol/symbol.html#mxnet.symbol.FullyConnected or the source at https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/fully_connected-inl.h.

[2019-06-11 23:09] pengzhao-intel commented on #15207
@zheshipinyinMc this issue in MKLDNN backend should be fixed by https://github.com/apache/incubator-mxnet/pull/15038 .
Could you try the nightly build (pip install --pre mxnet-mkl)?

[2019-06-12 00:25] chinakook commented on #13216
Yes, we can close it.

[2019-06-12 00:26] #13216 closed

[2019-06-12 00:36] zachgk commented on #15214
@zhreshold Can you take a look?

[2019-06-12 00:51] zachgk commented on #15193
Maybe try using BlockGrad like in https://github.com/apache/incubator-mxnet/issues/1538?

[2019-06-12 01:06] zhreshold commented on #15214
Your point is right, would you like to submit a fix for it?

[2019-06-12 01:21] anirudh2290 commented on #10988
Reopening since this again failed here : http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-15118/13/pipeline

[2019-06-12 02:00] zheshipinyinMc commented on #15207
@zhreshold test on server with GPU, the image(1000w*591h) needs about 10G memory,the image(500w*295h) needs about 6G memory.And everything is ok with CPU mode. But i resize the image(150*150),it is still not working on my computer.

[2019-06-12 02:49] pengzhao-intel commented on #11756
@ThomasDelteil the fused version of convolution can work with INT8 [in here](https://github.com/apache/incubator-mxnet/blob/d32a3da7a7d8291cf383d5cf7b34533733317cd6/src/operator/subgraph/mkldnn/mkldnn_conv.cc#L671)

Please try to run models with https://github.com/apache/incubator-mxnet/blob/master/example/quantization/imagenet_gen_qsym_mkldnn.py

[2019-06-12 03:22] nicklhy opened #15218 "memory leak of ImageRecordIter ?"
Hi, all
I have a very big dataset (over 20 million pics) which has been split and transformed into multiple recordio files. Thus, I wrote a custom data_iter that would repeatedly open theses recordio files during training. However, I found the memory usage keeps going up and the process would crash eventually.
It seems the memory leak is cause by `mx.io.ImageRecordIter`. A simple script to reprodu

[2019-06-12 03:52] mouryarishik commented on #15193
I’ve seen this issue but can’t figure out what do I need to do. It confuses me further because GradBlock is supposed to block any gradient computation of that layer, so how am I supposed to get intermediate gradients from that??
Can you please make an example using the code I've provided in the issue?
Thanks for your time.

[2019-06-12 04:39] #15204 closed

[2019-06-12 05:33] xinyu-intel commented on #11756
@ThomasDelteil add this line `sym = sym.get_backend_symbol('MKLDNN_QUANTIZE')` to enable subgraph fusion before using `quantize_net` api.

[2019-06-12 05:57] zheshipinyinMc commented on #15207
@zhreshold I just make may incubator-mxnet again with command 'make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CPP_PACKAGE=1 USE_CUDA=1 USE_MKLDNN=0 USE_GPERFTOOLS=1 USE_CUDNN=1 USE_CUDA_PATH=/usr/local/cuda', then the demo can work normally in CPU mode,but is cost 107343 ms (600w*655h)(105212ms--->137w*150h ).

[2019-06-12 06:40] #15025 closed

[2019-06-12 07:18] mn265 opened #15220 "Image classification example accuracy issue."
Hi,
I am currently using the examples given by default.[https://github.com/apache/incubator-mxnet/tree/master/example/image-classification]

 I tried the train_imagenet.py file to train on minc-2500 ataset(http://opensurfaces.cs.cornell.edu/publications/minc/) and also on imagenet dataset with 15 classes.I use network googlenet and alexnet.the network does not converge at all even after 30 epoch,

[2019-06-12 07:40] JustinhoCHN commented on #7943
gluon plot_network will be released in gluoncv 0.5.0. see [gluoncv.utils.viz.plot_network](https://gluon-cv.mxnet.io/api/utils.html#gluoncv.utils.viz.plot_network)

[2019-06-12 08:06] cesans commented on #15214
I guess that fixes the problem!

[2019-06-12 16:24] aaronmarkham commented on #15212
The cmake process isn't internally consistent with the make & makefile & config.mk settings. Some of the naming is slightly off. So interchangeable docs isn't really an option. Also, some of the build processes - like docs and language bindings still require make.
I think that we should provide both flows for now. If people want to use cmake, great. But we should still have the make flow too.

[2019-06-12 16:57] aaronmarkham commented on #11100
@Chancebair is this still on your plate?

[2019-06-12 17:18] aaronmarkham commented on #15200
**Bad news**
I tested a variety of build configurations.

1. In settings, I turned the artifacts feature on and off.
2. I built all versions plus using 1.5.x to see if a recent cut had a similar problem. It does not. [1.5.x looks fine](http://34.201.8.176/versions/1.5.0/api/python/index.html).
3. I built a variation of master with a [different name and the nav is broken](http://34.201.8.176/versio

[2019-06-12 17:32] #13429 closed

[2019-06-12 17:32] #15134 closed

[2019-06-12 17:34] chandana1332 opened #15222 "MxNet cannot detect GPUs"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-06-12 17:43] #15214 closed

[2019-06-12 17:45] #14993 closed

[2019-06-12 18:15] piyushghai commented on #15222
@chandana1332 What's the MXNet package that you are using ? Are you using one of the cu* packages ?

For non-cuda packages, the get_gpu_count() returns 0 (regardless of GPUs being present on the machine or not)
For packages built with cuda, it gives you the appropriate number.

Can you try the same function call with ```mxnet-cu*``` package ?
```pip install mxnet-cu92 --pre -U```

[2019-06-12 18:37] roywei opened #15223 "[CI][Flaky][nightly] flaky tutorial test: test_tutorials.test_basic_reshape_transpose"
See failure on one of the nihgtly tests:

FAIL: test_tutorials.test_basic_reshape_transpose

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/v1.5.x/31/pipeline/147

this test passed for other runs.

[2019-06-12 19:03] aaronmarkham commented on #15200
I tried rolling back to some older commits and found the site to work.
Then after trying many older commits I decided to look at the s3 previews coming out of CI for anything in `/doc` [history](https://github.com/apache/incubator-mxnet/commits/master/docs). This is very strange - the previews have broken navs then working navs in no obvious order.

1. broken: http://mxnet-ci-doc.s3-accelerate.dua

[2019-06-12 19:30] piyushghai commented on #14373
@whamza15 Did these suggestions help you ?

[2019-06-12 19:35] piyushghai commented on #10856
This is not related to Data-loading, but is an issue with OpenMP. Removing the data-loading label.

@mxnet-label-bot Update [Backend, Bug]

[2019-06-12 19:52] eric-haibin-lin opened #15225 "nd.random is not really random"
numpy random module uses a different seed each time program starts:
[code]
[code]

however, mxnet has a fixed random seed:
[code]
[code]
@astonzhang also find this behavior confusing for d2l readers. We should fix it for our numpy compatible feature.
@haojin2 @reminisce

[2019-06-12 20:01] chandana1332 commented on #15222
@piyushghai Re-installed mxnet with cuda and that resolved the issue. Thank you!

[2019-06-12 20:01] #15222 closed

[2019-06-12 21:30] anirudh2290 commented on #13335
This is related to #14159 . I am working on fixing this.

[2019-06-12 22:00] zachgk commented on #15225
This problem also came up in #7410

[2019-06-12 22:17] thomelane commented on #12369
Gradients in this example are tiny (smaller than float epsilon) so I think the variance in the ratio is to be expected here.

[2019-06-12 23:50] NRauschmayr commented on #12369
Also, in your example you set `eps = 1e-5`, but mx.nd.BatchNorm uses a default value of 1e-3: https://github.com/apache/incubator-mxnet/blob/992c3c0dd90c0723de6934e826a49bad6569eeac/src/operator/nn/batch_norm-inl.h#L70

[2019-06-13 00:02] piyushghai commented on #12369
Going by the above comments, I don't think it's a bug in the implementation of BatchNorm or the autograd's differentiation module. So there's nothing to be fixed here.

@mxnet-label-bot Update [Question, NDArray, Autograd]

@RogerChern Can this issue be closed ?
Please feel free to re-open the issue if this is closed in error.

Thanks!

[2019-06-13 00:44] larroy commented on #15200
Have you tried to rebuild one of those commits locally?

[2019-06-13 00:51] aaronmarkham commented on #15200
I built every commit backwards until I narrowed it down to this one:
https://github.com/apache/incubator-mxnet/pull/14987

Should I revert this commit? I can't see how it would be causing the issues, the commit just prior comes out ok.

[2019-06-13 01:10] larroy commented on #9476
lapack?

[2019-06-13 01:11] larroy commented on #9476
can you run ldd?

[2019-06-13 01:11] haohuanw opened #15229 "test_tensorrt_resnet18.test_tensorrt_resnet18_feature_vect numerical error on T4 gpu"
## Description
test_tensorrt_resnet18.test_tensorrt_resnet18_feature_vect succeeded on V100 gpu but got numerical issue on T4 gpu.

## Environment info (Required)
Sorry I have to hide the CPU information since I am using a machine under NDA policy.
[code]

Package used (Python/R/Scala/Julia):
I'm using python api.

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual stu

[2019-06-13 01:18] larroy commented on #11516
This is slowing down considerably looking for regressions on GPU as compilation takes a long time.

[2019-06-13 02:20] larroy commented on #15225
suggest closing as duplicate.

[2019-06-13 02:28] larroy commented on #15160
Where is the source for this?

[2019-06-13 03:19] chinakook opened #15231 "mxnet.nd.random.multinomial is very slow on CPU and stucked on GPU"
MXNet version is mxnet-cu100mkl 1.5.0b20190605(also tested on mxnet-cu100 1.4.1)
[code]

The result is
[code]

[2019-06-13 03:45] kangkangRabbit opened #15232 "USE NNPACK compile error! FullyConnectedOp does not exists."
Class FullyConnectedOp was deleted since version 1.1.0. Below is compile error message:

    src/operator/nn/../nnpack/nnpack_fully_connected-inl.h:45:39: error: unknown template name 'FullyConnectedOp'

[2019-06-13 03:57] chinakook commented on #15225
Yes, I found this problem too. If we run a script (contain nd.random) 1000 times, we will get 1000 same results. However, If put nd.random to a loop with 1000 iters, we will get 1000 really random numbers.

[2019-06-13 04:03] eric-haibin-lin commented on #15225
Closing this to discuss on https://github.com/apache/incubator-mxnet/issues/7410 instead

[2019-06-13 04:03] #15225 closed

[2019-06-13 04:03] eric-haibin-lin commented on #7410
I suggest we fix it in the numpy compatibility project. @reminisce @haojin2

[2019-06-13 04:06] chinakook commented on #7410
As I'vs tested, pytorch behaved like numpy.random.

[2019-06-13 04:21] wkcn commented on #7410
I consider the following solution:
We should follow the random seed settings of different frontends.
For c++ front-end, the initial random seed is 0.
For Python front-end, the initial random seed is random. In addition, we provide a funcyion to get current random seed.

[2019-06-13 05:29] pengxin99 opened #15233 "[doc] FusedRNNCell support cpu"
## Description
FusedRNNCell now support cpu with mkldnn, but the doc still not update.
https://github.com/apache/incubator-mxnet/blob/a862270beb2d796c1ba311183f7f4a766a18ad6c/python/mxnet/rnn/rnn_cell.py#L536-L539

@pengzhao-intel @juliusshufan

[2019-06-13 05:31] RogerChern commented on #12369
Cool, I now get the correct result with the following snippet.

[code]

[2019-06-13 05:31] #12369 closed

[2019-06-13 06:21] kangkangRabbit commented on #15232
src/operator/./nnpack/nnpack_convolution-inl.h:37:10: fatal error: '../convolution-inl.h' file not found
    #include "../convolution-inl.h"
             ^~~~~~~~~~~~~~~~~~~~~~

[2019-06-13 06:25] xizi commented on #14159
@IvyGongoogle when i change c_predict_api.cc as you mentioned, i find the inference result is different with python's. what is the resason.

[2019-06-13 06:47] roywei commented on #15223
It's a request time out images hosted on dmlc/webdata. Acutally not a flaky test. closing.

[2019-06-13 06:47] #15223 closed

[2019-06-13 06:58] IvyGongoogle commented on #14159
@xizi I can get the same result. Please try it more.

[2019-06-13 07:05] xizi commented on #14159
@IvyGongoogle , this is the python inference result
[ 1.7029e-01  9.7559e-01 -4.3884e-02  8.8672e-01 -2.3398e+00 -2.2109e+00
 -9.5850e-01  4.2109e+00 -1.3535e+00 -1.3477e+00 -6.9199e-03 -4.2148e+00
 -2.0488e+00 -2.4146e-01 -1.0615e+00 -6.4844e-01 -1.1787e+00  1.8887e+00
 -4.1094e+00  1.7754e+00  2.9844e+00 -2.9346e-01 -8.5254e-01 -1.0674e+00
  1.8730e+00  1.3301e+00  1.8535e+00 -1.5693e+00 -8.5938

[2019-06-13 07:58] xizi commented on #14159
@IvyGongoogle  i have solved it by add a cast layer after the final ouput layer.

[2019-06-13 10:48] zheshipinyinMc commented on #15207
@zhreshold
auto ids = exec->outputs[0].Copy(Context(kCPU, 0));
 auto scores = exec->outputs[1].Copy(Context(kCPU, 0));
auto bboxes = exec->outputs[2].Copy(Context(kCPU, 0));
if (exec->outputs.size() > 3) {
       auto masks = exec->outputs[3].Copy(Context(kCPU, 0));
}

the scores is 1*1*1000 , we can get score by scores.At(0,0, i)
the bboxes is 1*1000*4, we can get box by bboxes.At(0,i, 0),bboxes.

[2019-06-13 10:51] zheshipinyinMc commented on #15207
@pengzhao-intel

[2019-06-13 11:01] pengzhao-intel commented on #15207
Please build with **USE_MKLDNN=1**

[2019-06-13 12:17] zheshipinyinMc commented on #15207
@pengzhao-intel  I will try this. Another question：
auto ids = exec->outputs[0].Copy(Context(kCPU, 0));
auto scores = exec->outputs[1].Copy(Context(kCPU, 0));
auto bboxes = exec->outputs[2].Copy(Context(kCPU, 0));
if (exec->outputs.size() > 3) {
auto masks = exec->outputs[3].Copy(Context(kCPU, 0));
}

the scores is 1x1x1000 , we can get score by scores.At(0,0, i)
the bboxes is 1x1000x4, we can get

[2019-06-13 12:19] pengzhao-intel commented on #15207
@xinyu-intel to help you for this question :)

[2019-06-13 13:49] frischzenger opened #15238 "about train imagenet 1k"
i have convert the imagenet images to the *.rec files by im2rec in the official tutorial, and the train with resnet 50 by default arguments. and after 80 epochs the train accuracy is 99.999% near to 1, but the validation accuracy is 0.11%, what's the reason cause this result? thanks

[2019-06-13 15:55] pengzhao-intel commented on #15231
@zixuanweeei could you take a look for the CPU performance?

[2019-06-13 16:03] pengzhao-intel commented on #15201
We can contribute to MKLDNN quantization part :)

[2019-06-13 16:04] aaronmarkham commented on #15200
I noticed that the content is in the page, but not visible. I don't know why this bug would only affect master, but I imagine the solution is in the javascript that moves the sidebars around.
https://github.com/apache/incubator-mxnet/blob/master/docs/_static/js/sidebar.js

This area of code is the source of several bugs - from the footer overlapping content when the page toc is too short to not op

[2019-06-13 16:05] pengzhao-intel commented on #15151
closing since the question is answered.
Feel free to reopen if anything is not clear :)

[2019-06-13 16:05] #15151 closed

[2019-06-13 16:24] larroy commented on #15200
Could it be the changes from HTML to md in the links?

[2019-06-13 16:29] larroy commented on #15200
Can you try to use the browser Dev tools and debug keepExpand to see why the links are not generated? Could be that they don't come from sphynx from a quick look I didn't see anything obvious with the markdown vs HTML.

[2019-06-13 18:07] zhreshold commented on #15207
@zheshipinyinMc

[code]

[2019-06-13 18:14] zachgk commented on #14385
@dbsxdbsx I am closing this issue because it seems like you were able to successfully build OpenCV 4.0 for windows. Please reopen if I'm closing this in error.

[2019-06-13 18:14] #14385 closed

[2019-06-13 18:52] btolooshams commented on #6734
This is not fixed yet. print(c.asnumpy()) goes out of memory.

[2019-06-13 20:11] piyushghai opened #15239 "Performing operations on 1-D CSR NDArray results in exception"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-06-13 20:11] piyushghai commented on #15239
@mxnet-label-bot Add [Bug, Sparse, Python]

[2019-06-13 20:24] Zha0q1 opened #15241 "[RFC] Custom Operator Profiling Enhancement"
Please find the design doc at:
https://cwiki.apache.org/confluence/display/MXNET/Custom+Operator+Profiling+Enhancement

I have created a PR for this proposal: https://github.com/apache/incubator-mxnet/pull/15210

[2019-06-13 20:31] Zha0q1 opened #15243 "Profiler: Operator Aggregate Stats Duplication"
When call profiler.dumps(), operators' call count is 2x the actual value.

This is because in ProfileOperator class in profiler.h, we are profiling a single operator call both as operator and as task (i.e. generating two events in the dump file for each operator call). However, in AggregateStats, we are simply mapping operator names to its stats. We should be a duplication check somewhere.

![Scre

[2019-06-13 20:31] Zha0q1 commented on #15243
I have created a PR to fix this: https://github.com/apache/incubator-mxnet/pull/15240

[2019-06-13 20:39] piyushghai commented on #14922
@diyang Was the issue resolved for you after Aaron's changes ?

[2019-06-13 21:31] aaronmarkham commented on #14922
@piyushghai I think we should leave this open since it should be a task in the near future to make packages for R v3.6.
Downgrading is just a workaround and not a real fix.

[2019-06-13 21:43] aaronmarkham commented on #15200
Yes. It seems like there are quite a few bugs in there - variables that should be tracking what's an API page that are undefined. Seems to be less a doc problem and more a front-end engineering problem to me.

[2019-06-13 22:32] anirudh2290 commented on #15241
Thanks @Zha0q1 . This is nice work! ccing @wkcn @arcadiaphy to help take a look. @YutingZhang for FYI

[2019-06-13 22:37] Zha0q1 commented on #15241
Thanks!

[2019-06-14 00:49] zheshipinyinMc commented on #15207
@zhreshold  thanks,but i found that mask values of python deployment and c++ deployment are different.And detected bboxes also have a little deviation。
python:[467.61517  95.62402    820.6834    469.75653]
c++:     [460.774      111.568      819.672      453.766]

[2019-06-14 01:05] zhreshold commented on #15207
might due to different input values

[2019-06-14 01:13] zheshipinyinMc commented on #15207
maybe.And how to get middle layer output from gluoncv model.In mxnet model we can get middle layer output like this,just change all_layers[]:
       net = edict()
        net.ctx = ctx
        net.sym, net.arg_params, net.aux_params = mx.model.load_checkpoint(prefix, epoch)
        all_layers = net.sym.get_internals()
        #print(all_layers)
        net.sym = all_layers['fc1_output'] #conv_6dw7

[2019-06-14 01:19] zachgk commented on #15238
It sounds like your model is suffering from overfitting (https://www.d2l.ai/chapter_multilayer-perceptrons/underfit-overfit.html)

[2019-06-14 01:43] zheshipinyinMc commented on #15207
@pengzhao-intel same error with USE_MKLDNN=1 USE_GPERFTOOLS=0

[2019-06-14 01:46] xinyu-intel commented on #15207
@zheshipinyinMc which version of mxnet are you using and can you please give the reproduce method?

[2019-06-14 01:55] frischzenger commented on #15238
@zachgk
the model is not a self-implementation,I just use the official released model.
and i changed to another official released model inception-v3 also get the same wrong result. i think maybe some thing wrong with the training procedure.

[2019-06-14 02:02] zheshipinyinMc commented on #15207
@xinyu-intel
mxnet 1.4.1
gluoncv 0.4.0
Finally i get mask value by "masks.GetData()[index]".But i am still curisous about the command "NDArray::At(size_t c, size_t h, size_t w)" vs "NDArray(index1,index2,index3,index4)".And I found that we can construct NDArray like this:
 // construct NDArray from data buffer
  NDArray(data_buffer, Shape(1, rgb_image.rows, rgb_image.cols, 3), ctx);
So you can add

[2019-06-14 02:04] xinyu-intel commented on #15207
please try `pip install mxnet-mkl --pre`

[2019-06-14 02:06] zheshipinyinMc commented on #15207
@xinyu-intel thanks.How about the "NDArray::At(size_t c, size_t h, size_t w)" vs "NDArray(index1,index2,index3,index4)".

[2019-06-14 02:46] kohillyang commented on #15176
Probably this is because you have not set the environment value, try setting "MXNET_USE_TENSORRT" to 1 using os.environ.

[2019-06-14 02:58] 2void commented on #13943
@abhinavs95 Sorry, this is my first time open an issue 😅

[2019-06-14 02:58] #13943 closed

[2019-06-14 06:59] chrisboo commented on #15176
I have set it. It is in the script.

[code]

I think the problem is that MXNet, installed via mxnet-tensorrt-cu90, is not actually built with the `USE_TENSORRT` option.

[2019-06-14 07:10] kohillyang commented on #15176
Actually there's  no problem when I use mxnet-tensorrt-cu90, make sure you have not installed mxnet-cu90, you can double check the environment, for example,  `pip --list | grep mxnet`

[2019-06-14 10:43] arcadiaphy commented on #9686
The param file of gluon model and the param file exported from gluon HybridBlock have different naming style. It will be more convenient to have only one of them and just output json symbol file from `mx.gluon.HybridBlock.export`.

When you have lost gluon model file and only have exported param file, it's very hard to convert it back.

[2019-06-14 17:53] piyushghai commented on #15238
@frischzenger Can you share your training script ? It will help to debug it better.

[2019-06-14 17:56] junrushao1994 commented on #7410
What about going the JAX/scikit-learn way? that we explicitly require RandomSeed to be fed?

[2019-06-14 19:27] sandeep-krishnamurthy commented on #14357
Thanks @pengzhao-intel, I was planning to look into this issue. Please let me know if you have already in progress work.

[2019-06-14 20:47] larroy commented on #14421
So the correct behaviour is the new behaviour, are you requesting a flag to have the option to use the old incorrect behaviour?

[2019-06-14 22:01] larroy commented on #14421
I think this is the correct behaviour for global average pooling. I don't see why you would want to use global average pooling with the buggy behaviour. After looking into this,  I would suggest to close this issue.

[2019-06-14 23:01] vandanavk commented on #14838
@ptrendx were you able to get any pointers on this regression?

[2019-06-14 23:30] piyushghai commented on #14373
@whamza15 Can you please close the issue if it has been resolved for you ?

Please feel free to re-open if closed in error.

[2019-06-15 00:23] aaronmarkham opened #15251 "cpp package fails to build"
## Description
I'm running a vanilla build from source of MXNet on Ubuntu 16.04. The build works fine.
When I try to build the docs, the CPP package is built as well with:
[code]

With MKLDNN turned off, but here's the error when it tries to build the cpp-package:

[code]

[2019-06-15 00:51] aaronmarkham commented on #15206
I researched this problem and found that there's an upgrade to recommonmark compared to what we're using.
On a test server:
I upgraded recommonmark to v0.5.0 and ccommonmark>=0.7.3 which ends up being 0.9.0.
I successfully build, but saw many new warnings (which will fail in CI). Aside from this, the upgrade still didn't fix the links in markdown tables. It looks like [table support has been reque

[2019-06-15 00:55] aaronmarkham commented on #15206
Also, we've been having issues with recommonmark for a long time:
https://issues.apache.org/jira/browse/MXNET-958
Maybe an alternative package is the right way to go.

[2019-06-15 02:28] LZP4GitHub commented on #13785
I also encounter the same question. Is there any solution now？

[2019-06-15 07:33] juliusshufan commented on #14357
@sandeep-krishnamurthy Thanks for asking, a previous quick going through this issue, seems the difference caused by different computation method on CPU/GPU backend, it's iters by iters v.s. accumulation. I also tried the ResNet50 training on CIFAR, the training and validation accuracy are all okay on CPU.

[2019-06-15 12:49] tapanh commented on #14003
I have the exact same use case as @markproy above. Would be great to have this feature!

[2019-06-15 21:12] Luo-Liang opened #15252 "FP16 training with 2bit gradient compression with train_imagenet.py"
I'm running 45844b22682aca7a32f35bd357935780df48660d,
and I'm trying to run 2bit compression and fp16 with train_imagenet.py

`python train_imagenet.py --network resnet-v1 --num-layers 50 --benchmark 1 --gpus 0 --batch-size 256 --dtype float16 --disp-batches 1 --gc-type 2bit`

I got this error:
[code]

I may be doing something wrong. Please advice.

[2019-06-16 07:37] tomoncle opened #15254 "mxnet(mxnet-full_2.11-linux-x86_64-gpu-1.5.0-SNAPSHOT) cannot support cuda10.1?"
# mxnet(mxnet-full_2.11-linux-x86_64-gpu-1.5.0-SNAPSHOT) cannot support cuda10.1?

## ENV
* Java version:
[code]

* Maven version:
[code]

* cuda version:
[code]

* nvidia version:
[code]

* os:
[code]

## Check and Test
[code]

* for errors: `why find libcudart.so.9.2` ?:
[code]

* for my compute:
[code]

[2019-06-16 14:31] roywei opened #15255 "[Feature request"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-06-16 14:34] roywei commented on #15211
I have created feature request to better address this https://github.com/apache/incubator-mxnet/issues/15255

Can we merge this PR if it all looks good?

[2019-06-16 14:56] zixuanweeei commented on #15231
While `np.random.multinomial` gives the frequency of each outcome drawn from n experiments (sampling without replacement), `mx.nd.random.multinomial` gives the outcomes sampled from the multinomial distribution (sampling with replacement). At first thought, they produce the result in different ways. `mx.nd.random.multinomial` uses a very simple method as described in [this link](https://en.wikiped

[2019-06-16 23:52] #15211 closed

[2019-06-17 00:31] chinakook commented on #15231
You can get nearly the same result as mx.nd.random.multinomial, but very swift.
[code]

[2019-06-17 00:39] chinakook commented on #15231
pyt*ch version
[code]

[2019-06-17 02:34] zixuanweeei commented on #15231
@chinakook Thanks for your examples. It's informative. Pytorch uses a binary search for the slot in which the prob falls in an interval of the cumulative discrete distribution function, while it uses linear search in MXNet. Pytorch uses the alias method as well. But I am not sure whether it works for drawing sample just once. We will optimize it using binary search at this moment.

[2019-06-17 05:13] pengzhao-intel commented on #15251
@yinghu5 could you try the cpp build in local?

[2019-06-17 05:14] pengzhao-intel commented on #15251
cc @TaoLv @NeoZhangJianyu

[2019-06-17 07:12] bingyunxl opened #15257 "cann't compile with nnpack, because "../nn/fully_connected-inl.h" not include class FullyConnectedOp"
in head file src/operator/nnpack/nnpack_fully_connected-inl.h

class NNPACKFullyConnectedOp  extends super class FullyConnectedOp

but, in head file path:src/operator/nn/fully_connected-inl.h, it's not include   class FullyConnectedOp.

when enable NNPACK in config.mk file, this configuration causes compilation to fail

nnpack can improve performance for aarch64 cpu
please fix it！

[2019-06-17 08:12] ksellesk commented on #14956
see  this one

https://docs.opencv.org/3.4.6/d4/da8/group__imgcodecs.html

https://github.com/apache/incubator-mxnet/blob/master/src/io/image_io.cc#L159

why IGNORE ORIENTATION?

[2019-06-17 11:09] mouryarishik commented on #9686
- There should be the only gluon Sequential api which could be hybridizable instead of having 2 separate Sequential and HybridSequential apis.

- A fit method like api for gluon models would be a dream come true.
For example:-
[code]

- Computing higher order gradient is the only critically lacking feature of MXNet.
- The official website for MXNet lags like hell. A better looking and good officia

[2019-06-17 13:48] zixuanweeei commented on #15231
We used binary search to optimize `mx.nd.random.multinomial` and it got interesting result. On Xeon Platinum 8180 platform, it costs ~0.0535s for the example @chinakook provided, while it costs ~59s before our optimization. By the way, the numpy one costs ~0.0279s.

Thanks for @chinakook 's examples. The optimization requires further verification. And the PR is on the way:tada:.

[2019-06-17 18:14] larroy commented on #14421
I think this is the first paper that proposed global pooling. https://arxiv.org/abs/1312.4400

[2019-06-17 18:22] jmerkow commented on #14421
@larroy. It’s not about correct behavior. Networks trained with the buggy behavior will not work, I was looking for a work around so we could update. We have a great number of networks trained with the buggy behavior in production. So this is effectively blocking us from upgrading. If you want to close the PR that’s fine, unless there is a reason to it might be good to leave around so people can u

[2019-06-17 19:44] apeforest opened #15259 "MXNet horovod examples result in a seg fault"
## Description
Running mnist example under example/distributed_training-horovod caused segmentation fault. Cross linked an issue filed in horovod repo: https://github.com/horovod/horovod/issues/1148

## Environment info (Required)
Framework: MxNet

Framework version:
----------MXNet Info-----------
Version : 1.5.0
Directory : /home/ubuntu/anaconda3/envs/mxnet_p36/lib/python3.6/site-packages/mxnet

[2019-06-17 21:24] chandana1332 opened #15260 "Gluon Trainer fails with Horovod DistributedTrainer"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-06-17 21:28] chandana1332 commented on #15259
Issue is resolved based on https://github.com/horovod/horovod/issues/1148

[2019-06-17 21:31] #15259 closed

[2019-06-17 21:34] yuxihu commented on #15260
This is not the correct way of using DistributedTrainer. [DistributedTrainer](https://github.com/horovod/horovod/blob/master/horovod/mxnet/__init__.py#L83) is a subclass of Gluon Trainer which takes MXNet optimizer as an argument. You cannot pass a Gluon Trainer to DistributedTrainer.

[2019-06-17 21:50] #15084 closed

[2019-06-17 22:34] larroy commented on #14421
I understand your problem, I'm sorry that this bug caused you problems when updating to more recent versions, I haven't had notice of other users being affected by this. Would you be willing to make a contribution to support having the old behavior? This could be a path forward for your case. Unfortunately like every resource, our energy is limited and we have to pick our battles, this seems like

[2019-06-17 22:36] larroy commented on #15198
FYI I'm working on this.

[2019-06-17 22:46] anirudhacharya commented on #14956
[code]
in the above code snippet except for `cv2.IMREAD_GRAYSCALE` and `cv2.IMREAD_COLOR` all the flags mentioned below errors out in mxnet while they are supported in opencv.

[code]

[2019-06-17 23:07] cyrusbehr opened #15261 "C++ Can't load model with Symbol::Load when using static library"
## Description
When I use the shared library for mxnet, I am able to load models as expected using `Symbol::Load(filepath)`
However, when I switch to the static library, I get the following error on the `Symbol::Load` function call:
[code]

Due to the requirements of my project, I need to link mxnet as a static library.

## Information
I am using Ubuntu 18.04.2

## File Structure
myproject
| __ CM

[2019-06-17 23:43] leleamol commented on #15257
@mxnet-label-bot add [Build]

[2019-06-17 23:47] leleamol commented on #15254
@mxnet-label-bot add [Installation, Scala, Cuda]

[2019-06-18 00:02] leleamol commented on #15251
@mxnet-label-bot add [Build]

[2019-06-18 00:08] leleamol commented on #15238
@frischzenger can you please share the commandline that you are using to train the model?

I you are using "train_imagenet.py" script in the github repository and setting "--benchmark 1", then the script will use the synthetic data (randomly generated training data) instead of imagenet dataset.

@mxnet-label-bot add [Pending Requester Info]

[2019-06-18 00:14] leleamol commented on #15261
Thanks for filing this issue @cyrusbehr
Currently, the CI system does build static target for mxnet (libmxnet.a) however, it does not have tests to validate the static build.
We have a similar issue (providing support for static library for MXNet) tagged as "Feature Request"
#13870

@mxnet-label-bot add [Feature Request]

[2019-06-18 00:22] leleamol commented on #15260
@mxnet-label-bot add [Gluon]

[2019-06-18 01:12] tomoncle commented on #15254
**Thank you all. I lowered the CUDA version(9.2), and now it's OK.
But my code can't use GPU. Do you have any suggestions?**

[code]

[2019-06-18 01:57] hubutui opened #15263 "question about BUILD_CYTHON_MODULES when building with cmake"
## Description
`make install` doesn't install python binding properly when building with cmake.
## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
I'm using python 3,7

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc 8.3

MXNet commit hash:
(Paste the output of `git rev-parse HEAD` here.) 1.5.0.rc0

Build config:
[code]
## What

[2019-06-18 03:56] szha commented on #9686
Thanks for the encouraging words! It makes all the efforts worthwhile. The items listed are indeed good suggestions (and some of them are already available (: )

HybridSequential is a HybridBlock which only allows HybridBlock children and hence the current design.

There's an estimator class with the fit function in contrib now: https://github.com/apache/incubator-mxnet/pull/15009/files#diff-7f58d

[2019-06-18 04:22] mouryarishik commented on #9686
Thanks for pointing out that fit api is already available.

It's the javascript that always says something like "Processing math: 10%". I'd like to see the beta version as the official website of MXNet, it's more faster and has better looking UI.

Anytime 🍻

[2019-06-18 04:29] ksellesk commented on #14956
(4032, 3024, 3)

(3024, 4032, 3)

you can test this pic:
https://user-images.githubusercontent.com/9996886/57754105-47df8300-7720-11e9-94f0-7d9f1ec8766d.JPG

[2019-06-18 06:38] sheep94lion commented on #9859
I am trying to run a pretrained model on android. Aftering building the arm64 libmxnet.so with ci/build.py, I do not know what to do next. Can you give me some help?

[2019-06-18 08:21] mouryarishik commented on #9686
I'd like to give some suggestions to improve Estimator experience.

- The existing "evaluate" method should be renamed to "_evaluate" and a new "evaluate" should be defined for users to quickly evaluate the model on some test data.
   For example:-
[code]
Currently does the evaluation internally and update the provided metrics but "prints nothing".
Should print something like:-
[code]
- If the use

[2019-06-18 08:45] sheep94lion opened #15265 "Run pretrained model on android"
## Description
I want to run mxnet on android for inference with a pretrained model. I have build the libmxnet.so with `./build.py -p android_armv8`. What should I do next?

## Environment info (Required)

----------Python Info----------
Version      : 3.7.3
Compiler     : GCC 7.3.0
Build        : ('default', 'Mar 27 2019 22:11:17')
Arch         : ('64bit', '')
------------Pip Info-----------
Vers

[2019-06-18 11:04] hubutui opened #15266 "could not use blas when building with cmake"
according to https://github.com/apache/incubator-mxnet/blob/master/make/config.mk#L117, `USE_BLAS` could be `blas`. However, https://github.com/apache/incubator-mxnet/blob/master/cmake/ChooseBlas.cmake seems don't deal with `blas`.

[2019-06-18 11:55] hubutui commented on #15266
Kindly remind, cmake provides FindBLAS module for finding variety blas package, see  https://cmake.org/cmake/help/v3.15/module/FindBLAS.html

[2019-06-18 13:00] iaroslav-ai commented on #14721
@mseth10 , I run the code on CPU, on MacBook Pro. This however seems to be specific to Mac somehow; I checked on a Jupyter notebook on SageMaker, and could not reproduce the issue. Which OS did you run the code on?

[2019-06-18 16:48] #15260 closed

[2019-06-18 16:49] yuxihu commented on #15260
@chandana1332 Please reopen the issue if you have any additional questions.

[2019-06-18 16:51] chandana1332 commented on #15260
@yuxihu thank you! That worked.

[2019-06-18 17:04] frankfliu commented on #10883
@mxnet-label-bot add [Pending Requester Info]

[2019-06-18 17:37] piyushghai commented on #15254
@tomoncle This is merely an environment variable that is used for test/debugging purposes.

In order to make the package use GPU, you need to set the context to use GPU.
[code]

[2019-06-18 17:59] arcadiaphy opened #15267 "Java examples broken with mxnet mkldnn build"
## Description
I've built the scala-package with mxnet mkldnn and run the java demo ImageClassification, but the demo is broken on mobillenet.

## Environment info (Required)

1. Java version: 1.8.0
2. Maven version: 3.6.0

## Build info (Required if built from source)
mac build with clang

latest commit:
cab1dfad37f044d691e7c4ea81d73463cfcf0c8d

## Error Message:
[code]

## Minimum reproducible e

[2019-06-18 18:31] Ishitori opened #15268 "Backward doesn't work on LSTM with sequence_length"
## Description
LSTM with out-of-the-box variable length was introduced in [this PR](https://github.com/apache/incubator-mxnet/pull/14208/). I tried to use it, and while the forward pass works well, the backward pass fails.

I provide minimum reproducible example. To my best knowledge, the backward pass is not covered with a unit test.

## Environment info (Required)
The latest version with `--pre`

[2019-06-18 18:34] Ishitori commented on #15268
@stephenrawls, any help with that?

[2019-06-18 19:24] larroy commented on #9859
Broken means amalgamation is broken? Could you paste some more information on what's broken and what's the error?

When you say is too big, is too big for your particular needs or you find an error using the library built with the docker cross compilation utility?

We are building for android but we don't have tests, or a sample that integrates the library with an android app. So unfortunately you

[2019-06-18 20:09] jmerkow commented on #14421
@larroy https://github.com/apache/incubator-mxnet/pull/15026

[2019-06-18 20:23] pallabdatta commented on #14653
Hi I am interested to have LayerNorm support in ONNX for Pytorch to ONNX workflow.
Thanks so much in advance.

[2019-06-18 20:39] leleamol commented on #15268
@mxnet-label-bot add [Bug, Gluon]

[2019-06-18 20:52] leleamol commented on #15267
@mxnet-label-bot add [Java, Scala, MKLDNN]

[2019-06-18 22:12] leleamol commented on #15268
I could reproduce this issue. Here is a full callstack.

ubuntu@ip-172-31-31-181:~$ python lstm_test.py

[1.0000387 2.0000887 3.000114  4.000115  5.000068  6.0000405 7.       ]
<NDArray 7 @gpu(0)>
Traceback (most recent call last):
  File "lstm_test.py", line 42, in <module>
    mx.nd.waitall()
  File "/home/ubuntu/incubator-mxnet/python/mxnet/ndarray/ndarray.py", line 166, in waitall
    check_ca

[2019-06-18 22:14] leleamol commented on #15266
@mxnet-label-bot add [Build, Blas]

[2019-06-18 22:45] adamcrussell opened #15271 "build error on OS X"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-06-18 22:47] adamcrussell commented on #15271
Note that the fix I found is included in what I wrote above. I wasn't sure enough of the cause to submit this as a PR and figured a note about this small issue was good enough.
Thanks!

[2019-06-18 22:49] stephenrawls commented on #15268
Looking at this now.

[2019-06-18 23:07] anirudh2290 opened #15273 "cuda memcheck failures with different cuda versions"
This was encountered during work on the PR: https://github.com/apache/incubator-mxnet/pull/15118.  This is also related to https://github.com/apache/incubator-mxnet/issues/10988.

There are a lot of cuda-memcheck failures when MXNet is built with CUDA-10.0 which I don't see happening on CUDA-9.2.

On CUDA-9.2:

[code]

On CUDA-10.0

[code]

cuda memcheck output: more than 1000 errors
[code]

When

[2019-06-19 00:19] mseth10 commented on #14721
@iaroslav-ai I ran on Ubuntu.

[2019-06-19 00:28] NeoZhangJianyu commented on #15251
@aaronmarkham
1. Have you run 'make clean' before change the make parameters?
2. There is an error in your log:
[code]
  But I can't reproduce this issue by latest code.
  Could you share you command history and log?

[2019-06-19 01:06] larroy commented on #14619
Wouldn't it be better to have a preprocessor flag to achieve the same result? Cross compilation is solved.

[2019-06-19 01:06] larroy commented on #14619
@mouryarishik could you give details about your usecase? Thanks.

[2019-06-19 01:25] larroy commented on #15266
https://github.com/apache/incubator-mxnet/pull/14871

[2019-06-19 01:26] larroy commented on #15266
@edisongustavo

[2019-06-19 01:28] larroy commented on #15265
There are some java bindings in the amalgamation folder that you could use with this artifact, I would suggest trying that and report your findings. If you can contribute some improvements in that direction either by code or improving the docs it would be greatly appreciated 🙏

[2019-06-19 01:38] hubutui commented on #15266
emm, using the FindBLAS module would be a great idea. And blas (blas, cblas, openblas, or atlas) is provided in Linux distribution, which doesn't need to be compiled from source again.

[2019-06-19 02:18] arcadiaphy commented on #15267
I've separated the bug from java interface, it comes from the slice operation in java predict:

[code]

I reproduced the bug with python code:
[code]

I tested the above script on multiple mxnet versions: it works fine in 1.4, but triggers the error on 1.5.
[code]

[2019-06-19 02:18] xianyujie opened #15274 "How to run mxnet in single thread?"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-06-19 02:20] #15274 closed

[2019-06-19 02:29] pengzhao-intel commented on #15267
@TaoLv could you help to take a look for slice?

[2019-06-19 02:58] xianyujie opened #15275 "How to run mxnet(C++) in single-thread mode?"
Hey, I want to run mxnet in single-thread mode, but I find my programs have many threads when using mxnet.

###Using mxnet
[code]
###Without mxnet
[code]
So, when I compile mxnet, if there are some options to prevent multi-threads?

[2019-06-19 03:04] xianyujie commented on #15275
@pengzhao-intel  do you have some tips? many thanks.

[2019-06-19 03:13] mouryarishik commented on #14619
@larroy A lot of GAN models require 2nd order gradients for stabilised training.

[2019-06-19 04:10] TaoLv commented on #15267
Sure. I will work on this later.

[2019-06-19 04:27] xianyujie commented on #15275
I want to take part in the FRVT competition. Here are some requirements:
[code]

[2019-06-19 04:36] pengzhao-intel commented on #15275
Could you try below setting?

[code]

[2019-06-19 05:07] ptrendx commented on #15273
Do you also see those errors when testing operator that does not have issues?

[2019-06-19 05:13] anirudh2290 commented on #15273
i tested with broadcast, countsketch, embedding. all ops failed with this error:
[code]

In 10.1 broadcast and embedding has no issue, countsketch had a read out of bounds issue which is specific to operator.

But the cuda memcheck issue invalid device function happened for the three ops i tested for cuda 10.

[2019-06-19 05:15] tomoncle commented on #15254
@piyushghai  Thank you very much for your explanation, this has solved my problem.

[2019-06-19 05:33] tomoncle commented on #15254
## I'm testing a small example of using mxnet to detect entities and then tag specific locations. The specific processing logic is as follows:

* 1.  Use OpenCV to read the video of each frame and save it as a picture stream

* 2.  Then the pictures are processed by mxnet to be pictures with position and object labeled.

* 3.  Then it is echoed to the screen through opencv.

**Question** :  Proces

[2019-06-19 05:49] stephenrawls commented on #15268
I think I have a solution, at least I have tested locally and it appears to work.

Just need to update unit tests and then I will file a PR.

[2019-06-19 06:00] roywei commented on #15268
Thanks @Ishitori  for the catch!
Hi @stephenrawls, could you tag @szha and me in your PR? We would like to include your fix in MXNet 1.5.0 release. This feature is already included in [1.5.0.rc1](https://github.com/apache/incubator-mxnet/releases/tag/1.5.0.rc1)

[2019-06-19 06:01] xianyujie commented on #15275
@pengzhao-intel  I tried, and it's still multi-threads.
By recompiling mxnet with OPENMP=0, the number of threads reduced from 33 to 11. It does not completely prohibit multi-threads.

[2019-06-19 06:05] roywei commented on #9686
Hi @mouryarishik Thank you so much for such detailed suggestions, really appreciate it! I think you have valid points and I will work on the improvements. I will be working on this in my free time, and also try to add some new features. Tracked in https://issues.apache.org/jira/browse/MXNET-1333. Any contribution is welcome.

[2019-06-19 06:11] pengzhao-intel commented on #15275
Could you help provide the reproducible case?

BTW, please try naive engine :)
export MXNET_ENGINE_TYPE=NaiveEngine

[2019-06-19 06:18] eric-haibin-lin commented on #15215
For this particular operator, I think it's possible just to enhance the operator with a kernel that handles true sparse weight and sparse gradient.

Can we assume the non-zero indices appeared in the grad can always be found in the indices of the weight? If so that makes it easier to implement. There's a guide for data structure related to sparse ndarray in https://cwiki.apache.org/confluence/disp

[2019-06-19 07:35] xianyujie commented on #15275
@pengzhao-intel  Here are my test results.
- From 1 and 2, By recompiling mxnet with ```OPENMP=0```, the number of threads reduced from 33 to 11.
- From 3 and 4, Adding ```export KMP_AFFINITY=granularity=fine,noduplicates,compact,1,0
export OMP_NUM_THREADS=1```, and there was no significant change in the results.
- From 5 and 6, Adding ```export MXNET_ENGINE_TYPE=NaiveEngine```, the result changed

[2019-06-19 08:53] cchung100m commented on #10923
Hi @anirudhacharya ,

It's been a while since the checked missing unit tests last year, and I checked Nadam has [test](https://github.com/apache/incubator-mxnet/blob/50495d7b948c813222597fb9ffaf45cfcea29d2e/tests/python/unittest/test_optimizer.py#L1061), I would appreciate if you can point me where can I find the latest list of missing unit tests.

Many thanks,

[2019-06-19 10:09] vafl commented on #14619
Would it be possible to fix this gluon serialization/deserialization bug #12795 in the 1.5 release?

It has been opened for a long time (still not working in 1.4.1) and makes it hard to serialize gluon graphs for some applications e.g. in gluon-ts.

[2019-06-19 10:39] starimpact commented on #14383
I think the following code for MXNET_BACKWARD_DO_MIRROR has problem.
it will do not use mirror even the MXNET_BACKWARD_DO_MIRROR is on unless the __force_mirroring__ is set.
[code]

[2019-06-19 12:39] adc17 commented on #14118
Hi @gigasquid, sorry for delay on this.

The fastText data format looks almost identical to glove, so with a few modifications (e.g. removing line 1 of the data), I think something as simple as [this](https://github.com/adc17/incubator-mxnet/commit/42be01dabf568e158bba20a4871e03795b1fc82e) will work.

However, I'm having trouble running the glove (and word2vec) examples off master (osx, mojave). C

[2019-06-19 13:47] TaoLv commented on #15267
@arcadiaphy @pengzhao-intel This issue is root caused. The flatten layer before slice is not properly handled. It can be reproduced as below. We already have a fix in local and will submit a PR soon. Do you think we should have the fix 1.5.0 release?
[code]

[2019-06-19 16:59] apeforest commented on #14619
@mouryarishik We've already have a few operators to support higher order gradient:

[code]
However, due to the current design of NNVM, the graph data structure to model the computation graph, the support of higher order gradient in operators has to be implemented one by one (good news is that moving to NNVM 2.0 in the near future higher order gradient in operators will be supported automatically b

[2019-06-19 17:01] AgatheBauer commented on #15194
Fixed with `devtools::install_github("rstudio/reticulate")`

[2019-06-19 17:01] #15194 closed

[2019-06-19 17:37] leleamol commented on #15273
@mxnet-label-bot add [Cuda]

[2019-06-19 17:44] leleamol commented on #15271
@adamcrussell
I was able to build mxnet on OSX by adding following at the end of config.mk
CC=/usr/local/opt/llvm/bin/clang
CXX=/usr/local/opt/llvm/bin/clang++
USE_OPENCV=1
USE_OPENMP=1
USE_MKLDNN=1
USE_BLAS=apple
USE_PROFILER=1
USE_CPP_PACKAGE=1

Also , the build instructions on this page were helpful.  https://mxnet.incubator.apache.org/versions/master/install/osx_setup.html
Can you please try t

[2019-06-19 17:55] leleamol commented on #15263
@mxnet-label-bot add [Build, Cython]

[2019-06-19 17:58] leleamol commented on #15178
I verified that the links are accessible now.
@lanking520 I would recommend closing this issue.

[2019-06-19 18:06] leleamol commented on #15275
@mxnet-label-bot add [Question, Pending Requester Info]

[2019-06-19 18:22] leleamol commented on #14643
@jinfei3459  please let us know whether the solution provided by @lichun-wang  helped.
@mxnet-label-bot add [Pending Requester Info]

[2019-06-19 18:27] leleamol commented on #14260
@lanking520 based on above comment, we can close this issue.

[2019-06-19 18:34] larroy commented on #15266
@hubutui could you help review the above PR with these suggestions? Thanks.

[2019-06-19 19:34] antinucleon commented on #14383
I can't express more about how important this feature is. Please fix it, and get same memory cost to version 0.7. https://github.com/dmlc/mxnet-memonger https://arxiv.org/abs/1604.06174

[2019-06-19 20:08] #15178 closed

[2019-06-19 20:09] anirudhacharya commented on #10923
@cchung100m I am afraid this is the only list of missing unit tests. I have updated the list based on my knowledge.

[2019-06-19 20:14] lanking520 opened #15281 "Gluon Inference failed"
Currently, the nightly build has the problem for inference. I tested on Ubuntu 16.04 with the following command:
[code]
and the code:
[code]
To download the model:
[code]

You will see the following problems:
[code]

@frankfliu identified that the crash happened in between June 12 - June 13. All previous version works fine.

[2019-06-19 20:29] samskalicky commented on #15281
Looks like it works fine without static_shape=True

Possibly related to: https://github.com/apache/incubator-mxnet/pull/15187
@pengzhao-intel @xinyu-intel

Also works fine with mxnet (non-MKL version)

[2019-06-19 20:59] leleamol commented on #15252
@Luo-Liang Thanks for raising this issue. I was able to reproduce it. However, the script worked for float32 datatype.

I am adding relevant tags so that experts can comment on those.

@rahul003  I noticed that the function Quantize2BitImpl() was added by you. Would you be able to comment?

@mxnet-label-bot add [FP16]

[2019-06-19 21:11] rahul003 commented on #15252
Gradient compression doesn't currently support fp16 training

[2019-06-19 21:35] piyushghai commented on #15254
@tomoncle I had a look at your code processing code. It seems like the OpenCV operations are running on CPU only.
I'm not sure of how to run OpenCV on GPUs though.
Maybe @lanking520 can provide some suggestions here ?

[2019-06-19 22:18] #14260 closed

[2019-06-19 23:36] kalpitdixit opened #15283 "mxnet.ndarray.contrib.boolean_mask running on gpu arrays randomly throws an CUDA illegal memory accessed error"
## Description
mxnet.ndarray.contrib.boolean_mask running on gpu arrays randomly throws an error after a few iterations.

"Check failed: e == cudaSuccess: CUDA: an illegal memory access was encountered
(Brief description of the problem in no more than 2 sentences.)"

## Environment info (Required)
----------Python Info----------
Version      : 3.5.2
Compiler     : GCC 5.4.0 20160609
Build        :

[2019-06-20 00:47] anirudh2290 opened #15284 "Count Sketch Backward, CUDA Memcheck failures"
## Description
There are cuda memcheck failures for count sketch backward that need to be addressed. There is an invalid read of size 4 bytes that need to be fixed for count sketch backward.
I fixed by adding an index bound on nthreads but that causes a new issue.
The backward pass of this OP needs to be fixed.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm usin

[2019-06-20 01:14] pengzhao-intel commented on #15281
@ZhennanQin will look into the issue. Thank to let us know :)

[2019-06-20 01:48] larroy commented on #14619
I guess depends on the GAN, as you could have any layer, so if you want to use GAN with convs you need higher order for conv...

[2019-06-20 01:57] #14643 closed

[2019-06-20 01:57] jinfei3459 commented on #14643
its work

[2019-06-20 01:59] frischzenger commented on #15238
@leleamol
python train_imagenet.py --data-train ./train/imagenet_train.rec --data-val ./val/imagenet_val.rec --network resnet --num-layers 50 --batch-size 256 --gpus '0,1,2,3'

[2019-06-20 02:02] frischzenger commented on #15238
i have found the error was caused by wrong image label. so I correct the right labels and now train is  78,but the val is 69% still lower than the offical val 76%. what is the reason cause this?

[2019-06-20 02:29] ElaineBao commented on #15275
Hi @xianyujie, I tried the solution mentioned in your email, and confirm that with:
[code]
mxnet is running with minimum number of threads.

[2019-06-20 02:54] xianyujie commented on #15275
@ElaineBao yes, it works, but sometimes the number of threads increased, I'm retesting if it was an error caused by my test.

[2019-06-20 03:45] szha commented on #14619
@vafl duplicate name issue should have been fixed already.

[2019-06-20 05:33] pengzhao-intel commented on #15233
@pengxin99 would you mind file a PR to improve the doc?

[2019-06-20 05:46] frischzenger opened #15287 "pretrained model"
the pretrained model link is no longer exist,
data.dmlc.ml/mxnet/models
is there a valid link?

[2019-06-20 06:10] ou525 commented on #14576
Does it solve this problem?@vdantu

[2019-06-20 06:56] xianyujie commented on #15275
[code]
solve it! Other environment variables are as follows:
http://mxnet.incubator.apache.org/versions/master/faq/env_var.html?highlight=naive
thanks @pengzhao-intel

[2019-06-20 07:00] pengzhao-intel commented on #15275
Cool!

Thanks, @ElaineBao as well,  and I am going to close this issue :)
Feel free to let us know if you encounter any issue in the future.

[2019-06-20 07:00] pengzhao-intel commented on #15275
Resolved and closing now.

[2019-06-20 07:00] #15275 closed

[2019-06-20 07:43] adis300 commented on #14808
I hit the same problem.

Looked into the issue. amalgamation creates nnvm.d using   `${mxnet_root}/3rdparty/tvm/nnvm/src/pass/plan_memory.cc` the graph_executor wants to use `${mxnet_root}/src/nnvm/plan_memory.cc`

[2019-06-20 08:09] Edwardmark opened #15290 "mxnet tensorrt bind does not support dynamic batch?"
Now mxnet simple bind support dynamic batch size when inference, but I try the tensorrt bind, it does not support dynamic batch. Any suggestions?

[2019-06-20 09:36] aashudwivedi commented on #14967
My apologies for not being able to look at it earlier.
I can confirm that installation completes without any error on this version (3.5.3). Doesn't work for 3.5.2 or 3.6.

Although on trying it out after installation I run into the following error.  It's possible that it might have to do something with my own setup. Also this is a fresh installation of R.

[code]

[2019-06-20 13:38] hubutui opened #15294 "mkldnn is not properly installed"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-06-20 13:49] hubutui commented on #15266
@larroy Thanks bro. I read the pr days ago. I would like to help, but I have little experience with cmake. There several thoughts comes to my mind:
1. for mkl, mklml, and mkldnn, use the current solution, since cmake could not deal with it using FindBLAS.
2. for other blas (atlas, openblas, etc), use the FindBLAS module from cmake.

[2019-06-20 13:59] hubutui commented on #15266
actually, I'm a little confused about the math library selection. It seems that we could choose one of:
* atlas
* openblas
* mkl
where for mkl, we could choose the full mkl, mkl subset (aks mklml), or mkl-dnn.
However, https://github.com/apache/incubator-mxnet/blob/master/docs/tutorials/mkldnn/MKLDNN_README.md#1 says that we could use openblas instead of mkl with mkl-dnn.
Am I right that `USE_BLAS

[2019-06-20 14:10] gigasquid commented on #14118
@adc17 Sorry for the trouble. It looks like the code was refactored and the README instructions weren't updated. It requires a `:devs` key to tell it whether the run on cpu or gpu and how many devices - see the `main` code in the classifier for the correct usage.

From the repl you can use `(train-convnet {:devs [(context/cpu 0)] :embedding-size 50 :batch-size 100 :test-size 100 :num-epoch 10 :max

[2019-06-20 14:18] hubutui commented on #15294
Also, I have add `-llapacke` to linker flags. Otherwise, I got something like:
[code]
It seems that `lapacke` is not properly linked when using mkl-dnn.

[2019-06-20 14:20] TaoLv commented on #15266
@hubutui I think you mean the **BLAS** library selection. MKL-DNN is a performance library for deep learning computations rather than a BLAS library, although it provides some GEMM implementations. So MKL-DNN doesn't participate the BLAS library selection.

Yes, you're right.

[2019-06-20 14:24] vafl commented on #14619
@szha In 1.4.1 the issue is still there (see the reproducible example in  #12795 ). When you reuse any layer in a gluon graph, the graph cannot be serialized and loaded anymore. You have to explicitly create a new layer and share the parameters.

I think what was pushed is a workaround of this issue for RNNs.

[2019-06-20 14:33] hubutui commented on #15266
@TaoLv Then https://mxnet.incubator.apache.org/versions/master/install/build_from_source.html#math-library-selection lists mkl full, mklml and mkl-dnn in the same level, which really make users confused.
So we could choose:
* Apple Accelerate
* ATLAS
* MKL (MKL, MKLML)
* OpenBLAS
as the BLAS library selection. And we could enable MKL-DNN submodule to further speed up CPU computing?

[2019-06-20 14:34] TaoLv commented on #15294
@NeoZhangJianyu please help to take a look the cmake build. Thanks!

[2019-06-20 18:48] leleamol commented on #15294
@mxnet-label-bot add [Build, MKLDNN]

[2019-06-20 20:03] #15239 closed

[2019-06-20 20:06] leleamol commented on #15268
I verified that the issue is fixed in the latest code.

@lanking520  I would recommend closing this issue.

[2019-06-20 20:10] leleamol commented on #15252
Thanks @rahul003
@Luo-Liang  I would recommend closing this issue.  If you need gradient compression for fp16, I would recommend filing a separate issue as a feature request.

@mxnet-label-bot add [Pending Requester Info]

[2019-06-20 20:39] larroy opened #15295 "Move gluon model zoo tests to nightly"
Moving model zoo tests to nightly would cut ~10m from each CI round.

[code]

[2019-06-20 20:39] larroy commented on #15295
@mxnet-label-bot add [Test, Gluon]

[2019-06-20 21:29] leleamol commented on #15251
@aaronmarkham I could build the latest code with following make command. I could build cpp-package examples and run them as well
make USE_MKLDNN=0 USE_CPP_PACKAGE=1 USE_OPENCV=1 USE_CUDA=0 USE_CUDNN=0 USE_LAPACK=0  2>&1
Can you try again?

@mxnet-label-bot add [Pending Requester Info]

[2019-06-20 22:00] adc17 commented on #14118
No problem, sorry for not spotting this myself.

I should be able to submit a PR this weekend, and I'll update the docs at the same time.

[2019-06-20 22:02] KellenSunderland commented on #14751
We noticed that we are getting this error when binding a regress output that isn't explicitly labelled.  We added regress_label during bind and it fixed the error for us.

[2019-06-20 22:51] leleamol commented on #15261
I investigate further. I noticed that using only libmxnet.a for linking may not be enough.
There are other archive files such as libnnvm.a or libdmlc.a on which the code in libmxnet.a depends on.

These archive files (nnvm.a and dmlc.a) are used when libmxnet.so is built.
I am reaching a conclusion that the "libmxnet.a" artifact that is available today is not a complete static library that client

[2019-06-20 23:55] larroy commented on #10988
But all of them are failing, might not be specific to this one, seems memory corruption or hardware issue.

[2019-06-20 23:57] anirudhacharya commented on #14956
here is a weird discrepancy I am facing when using opencv with python and with c++ -
[code]
returns an image of shape `(112, 112)`
but when I use `imread` in c++ with
[code]
returns a matrix of shape (224,224,1).

The original image shape is (224,224,3)

[2019-06-21 00:28] samskalicky opened #15296 "Graph Executor does not track mutable input dependencies"
## Description
In the Symbol/Module flow, the graph executor does not track mutable input dependencies when setting up the use_vars and mutate_vars arrays here:
https://github.com/apache/incubator-mxnet/blob/master/src/executor/graph_executor.cc#L1222-L1234

Notice that inputs are only added to use_vars on line 1224, and mutate_vars only contains outputs.

Compare this to the CachedOp flow in Gluo

[2019-06-21 00:55] szha commented on #14619
@vafl yes what I meant is that 1.5.0 will include the fix. If you use the nightly package of mxnet you will see that the included code example is passing correctly.

[2019-06-21 01:24] anirudh2290 opened #15297 "Sockeye failure with MXNet"
## Description
Install sockeye and run python setup.py test.
Change line in requirements.txt and requirements.gpu-cu100.txt and change mxnet version to nightly after commit at or after 09202f7f261954383aa387144524d38f83f18d06.

Run the following from inside sockeye directory.
[code]

[2019-06-21 01:41] #15268 closed

[2019-06-21 02:23] pengzhao-intel commented on #15297
@anirudh2290 thanks for the issue.
Could you help to take a quick try for the fix of #15298 ?

[2019-06-21 03:17] wkcn commented on #15287
Thank you for pointing it out!

It seems that the link `dmlc.ml` is out of date.
We can replace `data.dmlc.ml` with `data.mxnet.io` temporarily.
e.g.

Before:
[code]

After:
[code]

`http://data.mxnet.io/models` is an empty website, but the model files can be downloaded.

[2019-06-21 04:00] Bjohnson131 opened #15304 "Mxnet fails to properly parallelize with a ryzen CPU."
## Description
With a Rysen 7 2700 CPU, the libmxnet DLL fails to properly parallelize. At any one time, it's using only one core of CPU and no more, while in an exclusive CPU configuration

## Environment info (Required)
----------Python Info----------
('Version      :', '2.7.15')
('Compiler     :', 'MSC v.1500 32 bit (Intel)')
('Build        :', ('v2.7.15:ca079a3ea3', 'Apr 30 2018 16:22:17'))
('

[2019-06-21 04:35] lanking520 commented on #15254
For image preprocessing, you can use your personal processing toolkit. MXNet provide built-in OpenCV image conversion op. For high-performance computing, I recommend to use Java Image toolkit which is considerably supporting multi-threading that can help you get more throughput.

[2019-06-21 04:55] tomoncle commented on #15254
Thank you all so much for your warm support, including many constructive advice.

[2019-06-21 05:06] roywei commented on #15297
Hi @anirudh2290 @ptrendx

I m still not able to reproduce the crash. My steps are below, could you help point out what's wrong?

Machine: AWS Deeplearning Base AMI, P3.8xLarge, Ubuntu 16.05
MXNet:
[code]
Sockeye:
[code]

changed requirements
[code]

run:
[code]
result:
[code]

[2019-06-21 05:08] anirudh2290 commented on #15297
did you modify the mxnet version in requirements file ?

[2019-06-21 05:18] anirudh2290 commented on #15297
@pengzhao-intel @roywei I am currently building with @ZhennanQin and will try it out.

[2019-06-21 05:32] anirudh2290 commented on #15297
With the PR : #15298 also it segfaults and core dumps.

[2019-06-21 07:02] pengzhao-intel commented on #15297
Thanks, we are trying to reproduce the crash (we can't reproduce till now).

[2019-06-21 07:26] smartwell opened #15307 "from Pytorch model to ONNX model to MXNet model"
i try transform pytorch model to mxnet,  here i just test an example,  conv,bn,LRule
[code]

yes, you can run it successfully. However,  when you visual this net, you will see like this:

[code]
OP : Pad cames where?  even though i debug i can't find this OP. why i discuss this details, because, TVM doesn't have this OP

[2019-06-21 08:47] frischzenger commented on #15287
i have checked the link you supported, but the pretrained model still cant be downloaded

[2019-06-21 09:08] smartwell commented on #15307
ok, l solve this problem

[2019-06-21 09:14] smartwell commented on #15307
i think this file has problem mxnet/contrib/onnx/onnx2mx/_op_translations.py  [373 - 377]

[code]
at the same time，i change [342 -346]

[code]

[2019-06-21 10:26] sulxxy opened #15310 "program terminates when `backward()` does not complete yet"
## Description
The program terminates before the `backward` pass completed. There is no any error message shown.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
I'm using Python 3.6.8

## Error Message:
The program terminates at an unexpected point but there is no any error message.

## Minimum reproducible example
[code]

## Steps to reproduce
(Paste the commands you

[2019-06-21 10:39] sulxxy commented on #15310
I find this problem has been fixed in the latest pre-release version (i.e., 1.5.0b20190620).

[2019-06-21 10:39] #15310 closed

[2019-06-21 12:06] gxkevin opened #15315 "how to set the size of SyncCopyFromCPU(const mx_float *data, size_t size)"
I have a question is that, when I use the fucn. of SyncCopyFromCPU(const mx_float *data, size_t size), I don't konw how to set the size is the have the most performance. What effects the 'size'?

Does anyone konws how to set the parameter 'size' for SyncCopyFromCPU which will gain the best performance.

[2019-06-21 12:08] gxkevin commented on #10379
I don't know how to set the parameter 'size' in SyncCopyFromCPU?

[2019-06-21 12:23] wkcn commented on #15287
@frischzenger Could you please provide the link you used?

[2019-06-21 17:43] pinaraws commented on #15281
@mxnet-label-bot add[MKL]

[2019-06-21 18:29] leleamol commented on #15307
@smartwell  Thanks for filing the issue as well pointing out the potential fix.

I would recommend creating a PR so that experts can review it and add the fix.

@mxnet-label-bot add [ONNX, Pending Requester Info]

[2019-06-21 18:41] leleamol commented on #15315
@gxkevin
The SyncCopyFromCPU() function is used to copy the data in source NDArray in contiguous CPU memory to a target NDArray.
The size parameter will be a product of all the dimensions of the shape of target NDArray.

Here are links that point to usage of this function in some of the examples. I hope this answers your question.
https://github.com/apache/incubator-mxnet/blob/4a9e9f67a5e7e5ddf2e3

[2019-06-21 20:04] leleamol commented on #15238
@frischzenger data scientists and experts would be able to guide you more precisely. I would recommend asking the question on fourm here https://discuss.mxnet.io/   and seek guidance.

Couple of techniques that can help include adjusting resolution to 480px, performing training in multiple (2) steps with varying learning rates, etc.
I would recommend closing this issue after opening the discussion

[2019-06-21 20:05] leleamol commented on #15238
@mxnet-label-bot add [Training, Question]

[2019-06-21 20:14] leleamol commented on #15232
@kangkangRabbit can you please try with the latest code in master branch?

@mxnet-label-bot add [Pending Requester Info]

[2019-06-21 20:18] #10520 closed

[2019-06-21 20:18] #15243 closed

[2019-06-21 20:41] yurivict opened #15318 "PyPI page doesn't have a tarball"
Only wheel files are listed here: https://pypi.org/project/mxnet/#files

Source tarballs are provided there for almost all projects.

[2019-06-21 21:02] leleamol commented on #15075
@vizakshat   The mx.mod.Module is part of Module API. The Module API provides a wrapper on Symbol API.  Here is more information about Module https://mxnet.incubator.apache.org/versions/master/tutorials/basic/module.html

The Gluon is a separate paradigm that allows user to construct neural networks with higher flexibility. The hybridize method optimizes the execution of training workflow. This do

[2019-06-21 21:59] ThomasDelteil opened #15319 "Release newer versions of mxnet-tensorrt on PyPi"
Latest version of TensorRT MXNet integration was 1.3.0

[code]

Can this be updated to 1.4.1 and maybe nightly?

Thanks!

[2019-06-21 22:02] anirudhacharya commented on #15160
@larroy I think this is the source for the beta website - https://github.com/mli/new-docs

[2019-06-21 22:04] ThomasDelteil commented on #15319
@KellenSunderland you are listed as the owner of the package, could you work with @szha @zhreshold to transfer ownership of the package under the MXNet / MXNet CI ones so we can resume publishing MXNet-TensorRT builds?

[2019-06-21 22:40] MLRichter opened #15320 "Weird C++ Error / Bug when calling asnumpy() or exporting the weight of darknet53 while training"
I derived a training script for YoloNet from the training script provided by GluonCV.
After each batch of validation data is queued I request  the label information using ` label.asnumpy(), same for the model prediction.

The system throws an MXNetError at the first (and only the first) iteration of the validation loop. The error can't be reproduced when in debug Mode.

21-Jun-2019 19:08:48 | [ERR

[2019-06-21 23:27] anirudh2290 commented on #15297
@pengzhao-intel were you able to reproduce. Did you make sure you modified requirements file ?

[2019-06-22 07:33] yunfanLu opened #15322 "Can Mxnet support Atlas 200 DK AI in forward process？"
[Atlas 200 DK](https://e.huawei.com/en/products/cloud-computing-dc/servers/g-series/atlas-200) is a powerful machine. How could I using mxnet in Atlas.

Atlas support Ubuntu and Mine Studio. How could I compile mxnet in it?

[2019-06-22 07:35] yunfanLu commented on #15322
It supports Caffe. But I want to use Mxnet in future. so what should I do.

[2019-06-22 07:41] frischzenger commented on #15287
http://data.mxnet.io/models/imagenet/resnet/50-layers/resnet-50-0000.params
http://data.mxnet.io/models/imagenet/resnet/50-layers/resnet-50-symbol.json

[2019-06-22 07:47] sheep94lion commented on #15265
With the libmxnet.so built by command `ci/build.py -p android_armv8`, I succeeded to run a resnet-18 image classification network on and pixel 3.
I followed the C example from [this](https://github.com/apache/incubator-mxnet/tree/master/example/image-classification/predict-cpp) I run it as native code in an android application.
I am happy to provide some help to the people with the same question.

[2019-06-22 09:16] hubutui opened #15324 "im2rec is not installed"
## Description
`im2rec` binary is not installed in the final step `ninja install` when using cmake+ninja.
## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): clang

MXNet commit hash:
4d96671

Build config:
[code]
## Error Message:
`im2rec` is compiled and presents in `build` b

[2019-06-22 10:42] wkcn commented on #15287
@frischzenger Thank you! I can download the files from the two links. I think the website may be blocked.

[2019-06-22 14:51] wmlba opened #15326 "TypeError: -0.034149169921875 has type float, but expected one of: int, long"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-06-22 17:27] cyrusbehr opened #15327 "Could not find OpenBlas - docker cross compile armv7"
I am using docker to cross compile mxnet with the C++ package enabled for raspberry pi 3 b. I am using the following docker file:

[code]

As it can be seen, in the step labeled `# mxnet requirements`, I am installing `libopenblas`. If I enter the docker container and perform a find operation, I can see that `libopenblas` is indeed installed:
[code]
However, when I build my dockerfile, I get the f

[2019-06-23 00:05] LittleFatHero opened #15328 "can't install mxnet-cu101mkl"
## Description
I install mxnet-cu101mkl using the command *pip install* but a error occured, the error said that no matching distribution found for mxnet-cu101mkl.

## Environment info (Required)
windows 10 professional 1809
minconda

## Package used (Python/R/Scala/Julia):
I'm using python 3.6.8

## Error Message:
 ERROR: Could not find a version that satisfies the requirement mxnet-cu101mkl (fro

[2019-06-23 01:58] roywei commented on #15297
I was able to reproduce the failure at `test_constraints_int.py` and `test_seq_copy_int.py`
https://github.com/awslabs/sockeye/tree/master/test/integration
@fhieber could you help take a look and convert this to a MXNet unit test?

[2019-06-23 02:14] hkingtswcbyy commented on #9686
A light weight, highly optimized  mxnet-lite package just like tensorflow-lite is really desired for converting academic researches to products. As well as quantization tools and model file format that supports save the model parameters as int8.  Because for mobile device applications, package size and model file size are even more important than computation speed. For the best of my knowledge, tf

[2019-06-23 03:57] zhly0 opened #15329 "NCHW2NHWC"
Hi,if I want to use mxnet's NCHW weights to init another mxnet model with NHWC data format,is the weight need to be transposed?Thanks if anyone can help.

[2019-06-23 05:18] #15329 closed

[2019-06-23 05:37] mli opened #15330 "[numpy] ndarray.reshape accepts a shape as *args"
Based on numpy-0622's build

The following codes work in numpy while not mxnet.np

[code]

[2019-06-23 05:38] mli commented on #15330
@mxnet-label-bot add [numpy]

[2019-06-23 05:48] mli commented on #15330
This feature is documented in https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.reshape.html

[2019-06-23 07:14] reminisce commented on #15330
Fixed by this PR: https://github.com/apache/incubator-mxnet/pull/15332/files#diff-2867f3bd5e893c32c128044e32d821d6R576

[2019-06-23 13:17] sheep94lion opened #15333 "Compile error for custom operators in C"
## Description
I define a custom operator under src/operator/contrib/
I met compiling errors saying:
In file included from /home/yizhao/Code/mxnet-dev/3rdparty/dmlc-core/include
[code]
I explored the related source files mentioned in the error message but it is hard to locate the problem in my code.
I follow the tutorial from https://mxnet.incubator.apache.org/versions/master/faq/add_op_in_backend

[2019-06-23 15:11] marcoabreu commented on #15328
Hi,

we currently don't publish pip packages for Windows that frequently. Could you try building MXNet yourself?

[2019-06-23 15:12] marcoabreu commented on #15328
@szha on https://pypi.org/project/mxnet-cu101/1.4.1/ we state that this package supports Windows. Wasn't there somebody from China who publishes them?

[2019-06-23 15:19] kalpitdixit opened #15334 "boolean_mask operator fails when all masks are 0"
Check failed: valid_num > 0: boolean_mask behavior not defined when all masks are 0
This is limiting me from using this operator and making me implement several if-else conditions in my code.

Equivalent TensorFlow operator works by returning an empty array which solve the problem.
https://www.tensorflow.org/api_docs/python/tf/boolean_mask

**Issue and Reproducible Code**
[code]

[2019-06-23 20:13] KaizerF opened #15336 "Linear Regression And Non-Linear Regression example for Scala"
Please add examples for linear and non-linear regression in **incubator-mxnet/scala-package/examples/src/main/scala/org/apache/mxnetexamples/**

[2019-06-23 22:17] szha commented on #15328
@yajiedesign is maintaining it.

[2019-06-23 23:15] QueensGambit opened #15337 "Current MXNet-Dev master breaks loading of certain models"
## Description
The current MXNET master dev branch, pypi version 1.5.0b20190623 breaks the loading of certain MXNET-models (both in mxnet-mkl & mxnet-cu100), which previously were loaded successfully with mxnet==1.4.1.
The model uses grouped depthwise (a.ka. depthwise seperable) convolutions which could be the cause for this issue because other models (e.g.  CrazyAraFish_0.5.0_RiseV1.zip) still wo

[2019-06-23 23:17] QueensGambit commented on #15337
@mxnet-label-bot add [Bug]

[2019-06-23 23:18] QueensGambit commented on #15337
@mxnet-label-bot add [Backend]

[2019-06-23 23:24] QueensGambit commented on #15337
This issue might also be related to https://github.com/apache/incubator-mxnet/issues/15281.

[2019-06-23 23:53] #15146 closed

[2019-06-24 00:11] adc17 commented on #14118
@gigasquid this will take longer than expected, as I'm running into OOMs.
[code]
The same thing happens for gloVe when I use the 200d+ word vectors (only without the stack trace).

Seeing as fastText only give us 300d word vectors, I'm a long way off successfully running them.

This kind of memory optimization is something I've never done before; so I'm now out of my depth in terms of making thing

[2019-06-24 02:34] pengzhao-intel commented on #15297
@anirudh2290 yes, we can reproduce the issue and WIP to fix it :)

[2019-06-24 03:20] smartwell opened #15338 "About inference time problem"
i want to konw my code is correct ?
[code]
my computer GTX1080ti, i7-7700k, my fps is fps:  268.5
but in Pytorch, fps is 1000+

[2019-06-24 03:31] smartwell commented on #15338
OK, sorry,  this is my mistake , somebody can close this issuse?

[2019-06-24 07:27] ZhennanQin commented on #15297
Confirmed that this can be reproduced. Need more time to investigate.

[2019-06-24 07:50] srividyaketharaju commented on #2577
It means you have not cloned mxnet properly.
use git clone --recursive https://github.com/apache/incubator-mxnet.git

[2019-06-24 08:20] #14117 closed

[2019-06-24 09:50] #15338 closed

[2019-06-24 12:37] zhoulukuan opened #15339 "How to read images into gluoncv from zip file?"
I had to read images from the entire zip file because the number of images under a folder exceeds the limit of the Linux system.  I used such code
[code]
It seems that I get the BGR image which is similar with what I get when using `mx.image.imread(img_path, 1)` in gluoncv. But I am curious about whether such a reading method will encounter some problems when dealing with multiple processes. Is th

[2019-06-24 13:17] zhoulukuan commented on #15339
In python3, when using multi gpu, will cause this error:
`zipfile.BadZipFile: Bad CRC-32 for file`
I must create a new zipfile.ZipFile for anthor image to avoid this problem. Any better solution?

[2019-06-24 15:17] NeoZhangJianyu commented on #15294
@hubutui The MKLML will be compiled when MKLDNN is enable, even if the `-DUSE_MKLML_MKL=OFF`.

1. Could you run following cmd in the build folder?
[code]
2. Could you share the build log?

[2019-06-24 15:36] adc17 commented on #14118
One workaround is to not use all 1M embeddings; I can just take the first 100K from the file. If that sounds ok, let me know and I'll submit a PR.

[2019-06-24 16:27] aaronmarkham commented on #15160
So the trick here is to move the images or videos (these videos are tiny, so they'll count as images) over to the static folder. I did something similar here: https://github.com/apache/incubator-mxnet/pull/15205/files#diff-dd9fe9390d558c60e8a5794696784ec6
I'm back from vacation so I can fix this later today unless one of you were already working on this.

[2019-06-24 18:31] aaronmarkham commented on #14967
Updated the headline to be specific...

[2019-06-24 18:37] larroy commented on #10856
Getting crashes in master when using debug version with OpenMP and MKL for development:

[code]

[2019-06-24 18:40] larroy commented on #10856
[code]

Build options, defaults as in https://github.com/apache/incubator-mxnet/blob/master/cmake/cmake_options.yml

The crash happened as I was running the script above.

[2019-06-24 18:40] leleamol commented on #15339
@zhoulukuan
Here is the link to ImageIterator and related APIs in MXNet. https://mxnet.incubator.apache.org/versions/master/api/python/image/image.html#module-mxnet.image

I have tagged this question so that experts can look into this . I would also recommend posting this question on  https://discuss.mxnet.io/

@mxnet-label-bot add [Question]

[2019-06-24 18:41] leleamol commented on #15336
@mxnet-label-bot add [example, Scala]

[2019-06-24 18:43] leleamol commented on #15334
@mxnet-label-bot add [NDArray,Bug]

[2019-06-24 18:52] larroy commented on #10856
I tried with the PR from Anton, and I also get a crash, in that version we are only linking with MKL's openmp:

[code]

[2019-06-24 18:52] larroy commented on #10856
@mxnet-label-bot add [MKL]

[2019-06-24 18:53] leleamol commented on #15333
@mxnet-label-bot add [Question, Build, Operator]

[2019-06-24 18:54] leleamol commented on #15328
@mxnet-label-bot add [Pip, WIndows, MKL]

[2019-06-24 18:55] leleamol commented on #15284
@mxnet-label-bot add [Cuda, Bug]

[2019-06-24 18:56] leleamol commented on #15283
@mxnet-label-bot add [Cuda, Bug, NDArray]

[2019-06-24 18:59] leleamol commented on #15290
@Edwardmark  are you requesting tensorrt support for simple bind operation in cpp-package (C++ API)?

@mxnet-label-bot add [Feature Request, C++]

[2019-06-24 19:04] leleamol commented on #15304
@tuskiomi Can you mention which MXNet version you have installed on your system?
Also a minimum reproducing example will help diagnose the issue.

@mxnet-label-bot add [Windows, Pending Requester Info, Performance]

[2019-06-24 19:05] leleamol commented on #15297
@mxnet-label-bot add [Build, Bug]

[2019-06-24 19:07] adc17 commented on #14118
Scratch that, I've just discovered the 'wiki.simple' pretrained embeddings that are short enough to handle running locally 🎊: https://github.com/apache/incubator-mxnet/pull/15340

[2019-06-24 19:10] leleamol commented on #15318
@szha   will you be able to comment on this request?  Are we planning to add a source tarball for the released versions?
@mxnet-label-bot add [pip, Feature Request]

[2019-06-24 19:15] leleamol commented on #15327
@mxnet-label-bot add [Question, Arm, Build, Docker]

[2019-06-24 19:20] leleamol commented on #15320
@mxnet-label-bot add [Gluon, Need Triage]

[2019-06-24 19:21] leleamol commented on #15326
@mxnet-label-bot add [Bug, ONNX]

[2019-06-24 19:22] leleamol commented on #15324
@mxnet-label-bot add [Installation, Build]

[2019-06-24 19:24] leleamol commented on #15319
@mxnet-label-bot add [pip]

[2019-06-24 19:26] leleamol commented on #15322
@mxnet-label-bot add [Feature Request, Build]

[2019-06-24 20:16] larroy commented on #10856
Adding stack trace. Tried to reproduce in another machine and the crash didn't happen, but get assertion now and then.

[bt.txt](https://github.com/apache/incubator-mxnet/files/3322437/bt.txt)

[2019-06-24 20:18] larroy commented on #10856
Added a dockerfile for reproduction:

https://github.com/larroy/mxnet_omp

[2019-06-24 20:40] zhanghang1989 commented on #9686
Upsampling bilinear mode is wrongly implemented. Suggest to change it to use an existing operator BlinearResize, which is compatible with PyTorch.

http://mxnet.incubator.apache.org/versions/master/api/python/ndarray/ndarray.html?highlight=upsamp#mxnet.ndarray.UpSampling

[2019-06-24 20:56] Roshrini commented on #15105
Hi @tengdai722, to export object detection models, ONNX should have similar operators to which we can map MXNet contrib operators.
There is a list of few ops mentioned here: https://github.com/apache/incubator-mxnet/issues/15181

[2019-06-24 21:04] anirudhacharya opened #15341 "Support LSTM operator in the ONNX module"
LSTMs are used in most sequence models. There are inference engines that use the ONNX format to serve pre-trained models. This operator needs to be added to the ONNX import and export module.

[2019-06-24 21:04] anirudhacharya commented on #15341
@mxnet-label-bot add [ONNX, Feature Request]

[2019-06-24 21:12] eric-haibin-lin commented on #9686
deprecate or promote APIs under mxnet.contrib, such as control_flow ops

[2019-06-24 22:28] leleamol commented on #15255
@roywei , I noticed in the mkldnn.mk, we are already copying the header file to $(MXNET_INCDIR) folder.

@mxnet-label-bot add [CI, Build, Feature Request]

[2019-06-24 22:31] leleamol commented on #15265
@sheep94lion  Thank you very much for your response. It would be great help to the community if you could put together a README file with steps and create a PR for this repository.

@mxnet-label-bot add [Android, Call for Contribution]

[2019-06-24 22:52] eric-haibin-lin commented on #9686
Shall we have a new logo for MXNet 2.0

[2019-06-25 00:45] LittleFatHero commented on #15328
Thank for answering my question, I would rather to wait for it to be puplished instead of building mxnet by myself.

[2019-06-25 01:18] zixuanweeei commented on #15231
@chinakook Thanks for the issue. You can close it if there are no problems. BTW, considering that

from [this](https://en.wikipedia.org/wiki/Hypergeometric_distribution#Multivariate_hypergeometric_distribution), I think `np.random.multinomial` also draws samples with replacement. Sorry for the mistake in my [reply](https://github.com/apache/incubator-mxnet/issues/15231#issuecomment-502459544).

An

[2019-06-25 01:32] chinakook commented on #15231
No problem.

[2019-06-25 01:32] #15231 closed

[2019-06-25 01:58] zhoulukuan commented on #15339
OK. I will post this question.

[2019-06-25 02:30] hubutui commented on #15294
I use the [PKGBUILD](https://github.com/archlinuxcn/repo/blob/master/archlinuxcn/mxnet/PKGBUILD) to build mxnet in a archroot environment days ago, so the build dir is deleted automatically.  But here is the complete build log for these for package (mxnet, mxnet-mkl, mxnet-cuda, mxnet-cuda-mkl). Note that in the build log, I use gcc 8 instead of clang. To reproduce:
1. a archlinux environment with

[2019-06-25 02:49] Edwardmark commented on #15290
@leleamol I try to use mxnet tensorrt python package to convert mxnet graph to tensorRT,  following the link below:
https://cwiki.apache.org/confluence/display/MXNET/How+to+use+MXNet-TensorRT+integration

But I found that if I bind the model with batch_size 1, I cannot forward the model with batch_size 8; but using the original simple bind of mxnet or the original tensorRT, the model can accept dy

[2019-06-25 03:01] hubutui commented on #11417
How is the issue going now? It seems that the openmp submodule is still there. Maybe, another simple way to resolve is that: in https://github.com/apache/incubator-mxnet/blob/master/CMakeLists.txt#L432, we could first try to find openmp package by `find_package` provided by the system, if not found, then we build it from the source. openmp is usually installed in a Unix-like system, but maybe not

[2019-06-25 03:03] hubutui commented on #15266
emm, finally, I build mxnet with openblas & mkldnn, it works great for me.

[2019-06-25 03:31] yajiedesign commented on #15328
i will fix it

[2019-06-25 03:48] sheep94lion commented on #14263
I met the same problem.
[code]

my config.mk
[code]

The output of make:
[code]

[2019-06-25 03:49] LittleFatHero commented on #15328
Thank you very much! When you finish fixing it, please let us know about that. Thank you~~~~

[2019-06-25 04:02] szha commented on #15318
Our setup.py isn't written in the way that it automatically compiles mxnet yet. In order to do that, we probably need good support of cmake.

[2019-06-25 06:06] xianyujie opened #15348 "Is it possible to add environment variables directly to compilation options when compiling Mxnet？"
Hi, @pengzhao-intel , I have some questions to ask you.
```export OMP_NUM_THREADS=1```
```export MXNET_ENGINE_TYPE=NaiveEngine```
1. I want to add the above two lines of code in the process of compiling mxnet, are there any compilation options that can be set？
2. What compilation options are included in compiling mxnet？

many thanks...

[2019-06-25 06:15] ZhennanQin commented on #15297
https://github.com/apache/incubator-mxnet/pull/15298 can fix sockeye failure on my machine. @anirudh2290 @roywei Please have a try.

[2019-06-25 06:18] TaoLv commented on #15348
@xianyujie They are environmental variables which should be used at model runtime, not compilation stage.
For MXNet pypi packages, the corresponding compilation flags can be found in https://github.com/apache/incubator-mxnet/issues/8671

[2019-06-25 11:25] roywei opened #15355 "[CI] nightly failure test on amp tutorial"
One of these PRs between the following commits broke nightly tutorial test on test_amp

First Failure on commit: f44f6cf
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/355/pipeline/

Last success on commit: 4a9e9f6
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/354/pipeline

Possible PRs

[2019-06-25 15:18] manon643 opened #15359 "Dataset with string"
I want to train a CV network with MXNet and I created a custom Dataset class (inherited from SegmentationDataset in GluonCV - works well) but I'd now like this class to return the name of the image file (a string).

Problem is MXNet refuses to batch strings.

So I tried to create a NDArray from my string but NDArray won't take strings as dtype. What should I do?

[2019-06-25 15:56] vdantu commented on #15355
@mxnet-label-bot add [Test, CI]

[2019-06-25 16:51] ptrendx commented on #15297
Hi @ZhennanQin, could you give a small explanation of the issue and the fix? I see 2 changes in that PR - one related to converting older models and 1 that looks like no-op (moving from arrays to arrays_with_in_out). Which one fixes the segfault?

[2019-06-25 18:00] KellenSunderland commented on #15319
Good callout @ThomasDelteil, I've added permissions to those packages.  The 1.4 release didn't have many changes for TRT, so IMO there's not a large feature gap between 1.3 and 1.4 as far as TRT users are concerned.

For the 1.5 release we should do an update, theres a number of improvements that will be included.  We'll want to carefully target a Cuda version though.  In my testing the most stabl

[2019-06-25 18:11] szha commented on #15319
Did you mean cu101?

[2019-06-25 18:21] KellenSunderland commented on #15319
Right, sorry cu101.

[2019-06-25 18:55] vdantu commented on #15359
@mxnet-label-bot add [question, gluon]

[2019-06-25 19:02] vdantu commented on #15348
@xianyujie : We would love to understand your use case a little better.  Why would you want to set the OMP_NUM_THREADS to 1? Are you using multiple instances of MXNet on the same host running in parallel? Is this an inference use case? You could always set these vars in the start-up script right?

@mxnet-label-bot add [Question]

[2019-06-25 19:06] zachgk commented on #15336
That is a good suggestion @KaizerF. For the moment, you could try taking a look at the python examples. The python and Scala APIs are very similar and it should correspond fairly closely to what you would need to do in Scala.

[2019-06-25 19:59] larroy commented on #11417
I think we should give the option to choose the openmp implementation in the CMake file.

[2019-06-25 20:52] ptrendx opened #15362 "Reliance on topological ordering for graph inputs"
Currently MXNet relies on topological ordering of the graph when communicating between frontend languages and backend. This makes it hard to apply fusions in the graph, as they could change the topological order of graph inputs and so break passing of the inputs from frontend.

This could be solved by either moving to passing dictionaries (name, value) from frontend to the engine (which requires c

[2019-06-25 20:54] ptrendx commented on #9686
I would like to remove the reliance on topological ordering of inputs in communication between frontend and backend: #15362. The cleanest solution to this is to change the C API to pass dictionaries instead of lists to the backend (and get dictionaries back).

[2019-06-25 21:10] anirudh2290 commented on #15362
I think this makes sense to me, since the original topological ordering didn't assume mutations like subgraphing and fusion. Related issue: https://github.com/apache/incubator-mxnet/issues/14727 . I think this may require changes to user facing APIs in symbol, module and gluon since at many places ordering of arg_arrays, grad_arrays and aux_arrays depend on the list_arguments and list_inputs which

[2019-06-25 22:25] ZhennanQin commented on #15297
@ptrendx They worked together to fix the segfault. `moving from arrays to arrays_with_in_out` is a MKLDNN backend specific fix, to address https://github.com/apache/incubator-mxnet/issues/15281. Sockeye will also have problem without this fix. But sockeye have more problems, which is about the legacy op state. I've explained the reason here: https://github.com/apache/incubator-mxnet/pull/15298

[2019-06-25 23:14] cyrusbehr opened #15363 "How to make MXNET run faster?"
Is there any way to make mxnet (with cpp package) run faster (ex strip symbols?).

[2019-06-26 02:05] xianyujie commented on #15348
@vdantu I want to take part in the FRVT competition. They ask that mxnet runs in single-thread mode.
[code]
By setting the following steps, the mxnet could run in single-thread mode.
[code]
Using NaiveEngine will cause a slight change in the calculation results of Ubuntu, but using NaiveEngine will result in errors in the calculation results of centos.
So I want to know how to make mxnet run corre

[2019-06-26 02:12] vdantu commented on #15363
@mxnet-label-bot add [question]

[2019-06-26 05:34] larroy opened #15367 "[RFC] Add public functions to get list of registered operators and arguments"
A seen in this PR:

https://github.com/apache/incubator-mxnet/pull/15364

It's proposed to add get_all_registered_operators and get_operator_arguments to the Python bindings.

Your feedback is welcome.

[2019-06-26 06:02] eric-haibin-lin commented on #15138
We should also mention FIgnoreInputs, FMutableInputs @haojin2

[2019-06-26 06:47] pengzhao-intel commented on #15363
Check if there's useful information for you:)
https://mxnet.incubator.apache.org/versions/master/faq/perf.html

[2019-06-26 13:06] hubutui commented on #15294
hmm, it seems that mkl-dnn link to mklml libs provided in the [mkl-dnn release page](https://github.com/intel/mkl-dnn/tree/v0.19) when buiding. [DownloadMKLML.cmake](https://github.com/apache/incubator-mxnet/blob/master/cmake/DownloadMKLML.cmake) downloads the mklml libs to build mkl-dnn. This behavior is affected by `MKLDNN_USE_MKL`. So, in the finnal installation step of mxnet, mklml should be i

[2019-06-26 13:49] TaoLv commented on #15294
This sounds like an issue. Can you elaborate more? We didn't get issue report about that before.

We definitely will update MKL-DNN to v1.0 in the future. But it's not as easy as change the commit id. v1.0 is not compatible with v0.x versions. So many things need be changed.

That will hurt performance.

[2019-06-26 14:20] hubutui commented on #15294
you could check the build log. Or reproduce as described above. If I do not manually install mklml as https://github.com/archlinuxcn/repo/blob/master/archlinuxcn/mxnet/PKGBUILD do, `libmklml_intel.so` and `libiomp5.so` would be missing in the final installation. Also, `libiomp5.so` provided by mklml will confilict with openmp package, which also installs `libiomp5.so` in the same place. A [pr](htt

[2019-06-26 14:55] SibtainRazaJamali opened #15372 "language Model"
does Mxnet deepspeech model supports language model(kenlm) based decoding?

[2019-06-26 16:48] songweijia opened #15373 "CPP inference example behaves differently from the Python one"
## The CPP inference example (inception_inference) seems not working
I followed the [CPP tutorial](https://mxnet.incubator.apache.org/versions/master/tutorials/c++/mxnet_cpp_inference_tutorial.html). But found the CPP inference does not work as I expected. The python code works totally fine:
[code]
But when I use the code at incubator-mxnet/cpp-package/example/inference/inception_inference.cpp, lo

[2019-06-26 17:20] lebeg opened #15374 "NightlyTestsForBinaries tutorials test broken"
The nightly test for tutorials is broken, in particular test_tutorials.test_amp

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/355/pipeline

[code]

[2019-06-26 17:29] lebeg commented on #15374
The test was broken by this PR [#15170: [MXNET-1413] Adding Large Tensor support for sort operators](https://github.com/apache/incubator-mxnet/pull/15170).
The reason is that the default type of NDArray for `ArgSort` operator [changed](https://github.com/apache/incubator-mxnet/pull/15170/files#diff-067178695b7fe40b05ad18fa1a25c69dR91
) from `kFloat32` to `kInt64` or `kInt32`.
[code]
This has cause

[2019-06-26 17:30] lebeg commented on #15374
@mxnet-label-bot add labels Test

[2019-06-26 17:48] lebeg commented on #15374
@access2rohit could you take a look and say whether we should revert your PR or recommend GluonCV to adopt to new behaviour?

[2019-06-26 17:50] lebeg commented on #15374
In my opinion it's not very good that `argsort` changes the type of the tensor it's applied to.

[2019-06-26 17:50] cyrusbehr commented on #15363
Thank you!

[2019-06-26 17:50] #15363 closed

[2019-06-26 19:33] larroy opened #15375 "Memory leak in Naive engine when profiling"
I believe there's a memory leak in Naive engine here:

https://github.com/apache/incubator-mxnet/blob/master/src/engine/naive_engine.cc#L164

I think it would be a great opportunity to refactor how NewOperator is released. As it's also difficult to reason about the release of the operator memory in the threaded engine (looks correct to me, but it takes quite a bit to dig it up and understand).

I

[2019-06-26 20:10] vdantu commented on #15374
@mxnet-label-bot add [Test]

[2019-06-26 20:12] vdantu commented on #15367
@mxnet-label-bot add [Feature Request]

[2019-06-26 20:12] vdantu commented on #15372
@mxnet-label-bot add [question]

[2019-06-26 20:29] vdantu commented on #15373
@mxnet-label-bot add [question, example]

@leleamol : Would you be able to help here?

[2019-06-26 21:06] vdantu commented on #15375
@mxnet-label-bot add [bug]

[2019-06-26 22:09] apeforest commented on #15374
https://github.com/apache/incubator-mxnet/pull/15360 will hopefully fix this.

[2019-06-26 22:23] larroy commented on #15367
https://github.com/apache/incubator-mxnet/pull/15364

[2019-06-26 22:53] larroy commented on #15295
https://github.com/apache/incubator-mxnet/issues/14636

[2019-06-26 23:21] access2rohit commented on #15374
@lebeg I will merge my PR once unix tests pass. Currently they are failing on unix CI/CD build, which is independent of my code change.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-15360/3/pipeline

[2019-06-26 23:41] sandeep-krishnamurthy commented on #13135
Resolving as the issue is fixed in latest master. Please reopen if you still find any issues.

[2019-06-26 23:41] #13135 closed

[2019-06-26 23:47] sandeep-krishnamurthy commented on #15080
@KellenSunderland - Can you please help here?

[2019-06-26 23:48] sandeep-krishnamurthy commented on #15070
Resolving.

[2019-06-26 23:48] #15070 closed

[2019-06-27 00:55] aaronmarkham opened #15376 "beta website doesn't render html tags for images"
## Description

When trying to fix https://github.com/mli/new-docs/pull/123
I found that html code that should render fine in a markdown file, doesn't get converted when building the site. However, video html codes worked fine.
There's no warning or error. It just skips those lines of code.

Seems like a bug with the new site's build.

Refer to this commit to see the difference of what was there b

[2019-06-27 00:57] #15160 closed

[2019-06-27 01:26] sheep94lion commented on #15333
The problem is with the type of parameters. It seems you can not use float*.
After reading some source code of other operators. I find I can use 'mxnet::Tuple<float> bbox_mean, bbox_std;'

[2019-06-27 01:29] #15333 closed

[2019-06-27 01:47] sandeep-krishnamurthy commented on #14421
Closing this issue as discussed in the PR #15026

[2019-06-27 01:47] #14421 closed

[2019-06-27 02:12] sheep94lion commented on #12159
The running time of C API MXPredForward is much shorter than the running time of MXPredGetOutput:
[code]
The result is:
[code]
Why? Is it something related to lazy evaluation?
The code runs on Pixel3 with Snapdragon 835.

[2019-06-27 03:21] larroy commented on #11516
Still doesn't work with nvcc. I think we should leave open.

[2019-06-27 04:46] pengzhao-intel commented on #15373
Just update the cpp inference example for image processing.
Could you try again?

[2019-06-27 04:47] pengzhao-intel commented on #15373
https://github.com/apache/incubator-mxnet/tree/master/cpp-package/example/inference

[2019-06-27 08:33] hzfan opened #15383 "[numpy] np.random.multinomial is different from _np"
## Description
np.random.multinomial produces result significantly different from _np.random.multinomial

## Environment info
python 3.7.3

## Minimum reproducible example

[code]

The result is
`[3311 3297 3293 3416 3332 3371]
  [ 1337  1287  1352  1338  1364 13342]`

Thank @stu1130 @reminisce for kind help.

[2019-06-27 11:37] lebeg commented on #15374
I've restarted both unix verification jobs.

[2019-06-27 14:22] Crunchy9 opened #15391 "[R] Fails to build with MKL-DNN on Windows (VS 15 14.16), Intel MKL FATAL ERROR"
## Description

I use mxnet with R API , OpenCV works and then error comes:
Intel MKL FATAL ERROR: Cannot load mkl_intel_thread.dll.

## Environment info (Required)
## Build info (Required if built from source)
Compiler (gcc/clang/mingw/visual studio):

Visual Studio 2017 14.16.27023
MKL 2019.4.245
OpenCV 4.1.0
Cmake 3.14.0
R 3.6.0
Rtools 3.5
OpenCV_DIR=C:\build_mxnet\with_mkldnn\opencv\build
MKL_

[2019-06-27 15:02] pengzhao-intel commented on #15391
@yinghu5 @NeoZhangJianyu could you help to take a look for the issue?

@Crunchy9 could you try to read our README and see if the problem can be resolved?
https://mxnet.incubator.apache.org/versions/master/tutorials/mkldnn/MKLDNN_README.html

[2019-06-27 15:06] Kangzf1996 opened #15392 "Fails to make -j4"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-06-27 15:51] cyrusbehr opened #15393 "Unable to build mxnet with OpenCV4 on Raspberry Pi 3B"
I am trying to build mxnet with OpenCV 4. Additionally, I am trying to use the OpenCV 4 static library files.

On my Raspberry Pi, I have the appropriate OpenCV files in `/usr/local/lib` :

[code]
as well as the required include files in `/usr/local/include/opencv4`.

To built mxnet, I am using the following version of gcc: `gcc (Raspbian 4.8.5-4) 4.8.5`
I first run the following commands:
[code]

[2019-06-27 16:08] Crunchy9 commented on #15391
I did. It looks outdated.

[2019-06-27 16:12] stu1130 commented on #15383
Thanks @hzfan I will look into it

[2019-06-27 16:42] vdantu commented on #15391
@mxnet-label-bot add [question]

[2019-06-27 16:42] vdantu commented on #15391
@mxnet-label-bot add [R]

[2019-06-27 16:50] vdantu commented on #15392
@mxnet-label-bot add [build]

[2019-06-27 17:19] vdantu commented on #15392
@Kangzf1996 could you provide more information about this failure. I am able to build from source on my end. Could you add more error trace? Are you building MXNet from master branch?

[2019-06-27 17:19] vdantu commented on #15392
@mxnet-label-bot add ["Pending Requester Info"]

[2019-06-27 17:32] Kangzf1996 commented on #15392
Hi, Thank you for your reply.  I build MXNet follow https://github.com/msracver/Flow-Guided-Feature-Aggregation
And I could not git submodule update, so I update that manually. And when I do the make -j4, this error happened.
Thank you!

[2019-06-27 17:44] vdantu commented on #15393
@mxnet-label-bot add [question, build]

[2019-06-27 18:09] lanking520 commented on #15123
Yeah it is kind of slow due to the naïve implementation of  https://github.com/apache/incubator-mxnet/blob/master/scala-package/core/src/main/scala/org/apache/mxnet/Image.scala#L174-L192. In a sense of converting them pixel by pixel. You can try to use some third-party library to accelerate them

[2019-06-27 19:08] stu1130 commented on #15383
Have narrowed down the root cause is the instability of SampleUniform I used for loc value
[code]

[2019-06-27 19:28] roywei commented on #15355
closing in favor of https://github.com/apache/incubator-mxnet/issues/15374

[2019-06-27 19:28] #15355 closed

[2019-06-27 22:16] KellenSunderland commented on #15080
I don't think mxnet-cu100 has tensorrt enabled by default.  I'd recommend building from source on master and retrying.

[2019-06-27 22:33] anirudh2290 commented on #15375
I agree with you about fixing  the memory leak in the NaiveEngine and thanks for raising that. But i disagree about the need to refactor the release of operator memory in the threaded engine. This was a conscious design decision to use Object pool for operator objects which would be manually removed from and added back to the pool. This removal and addition was supposed to be managed by graph exec

[2019-06-28 00:59] NeoZhangJianyu commented on #15391
@Crunchy9 Several suggestions:
1. remove all of clones of mkl_intel_thread.dll in your PC. You have mentioned that you try to copy them in the folder of EXE in stackoverflow.com.
If you have installed it by Anaconda, try to remove it too.
Only keep a copy of it in your PC.

2. Add folder of mkl_intel_thread.dll in $PATH.

3. Reboot PC and enable the $PATH.

4. If not work, please check the 32/64 i

[2019-06-28 01:30] sxjscience commented on #9182
- [ ] AdaFactor [Adafactor: Adaptive Learning Rates with Sublinear Memory Cost
, ICML2018](http://proceedings.mlr.press/v80/shazeer18a/shazeer18a.pdf)

[2019-06-28 02:13] #15176 closed

[2019-06-28 02:32] cjolivier01 commented on #15375
I agree with Anirudh.

I didn’t write the object pool code, but the reason it was done that way was to
avoid a new/delete operation in-line to the profiling, thus causing profiling to introduce possibly extra locks (and associated heap code), depending on the allocation library used, causing the “Observer Effect”, which is not desired in profiling, of all things. Ideally, the naive engine would us

[2019-06-28 03:15] szha commented on #9686
#9182

[2019-06-28 03:34] stu1130 commented on #15383
#15397

[2019-06-28 03:38] reminisce commented on #15330
Fixed in https://github.com/apache/incubator-mxnet/pull/15332.

[2019-06-28 03:38] #15330 closed

[2019-06-28 05:27] sandeep-krishnamurthy commented on #15080
Thanks Kellen.

@srijiths - Please try with installing mxnet with tensorrt support
[code]

Closing the issue. Please reopen if issue still persists.

[2019-06-28 05:27] #15080 closed

[2019-06-28 05:34] srijiths commented on #15080
Thank you @sandeep-krishnamurthy and @KellenSunderland . I have tried with mxnet-tensorrt-cu92 before , but it failed because i have cuda 10. So i have installed mxnet-cu100 . I assume that tensorrt binding is not available for mxnet-cu100. If there is any thing , i will update the ticket.

[2019-06-28 07:37] Chouffe commented on #15123
Would there be a way to batch (per row or column) the actual RGB conversion?

[2019-06-28 08:21] hubutui commented on #15263
In addition, it seems that `make` or `python setup.py --with-cython build` does not copy the `libmxnet.so` to proper place, `mxnetosrc/python/build/lib.linux-x86_64-3.7/mxnet`. Then the python test will fail, complaining that `libmxnet.so` is not found. And `python setup.py install --with-cython --root=tmpdir` will install `libmxnet.so` to `tmpdir/usr/mxnet/libmxnet.so`. This is not a typical plac

[2019-06-28 10:41] Crunchy9 commented on #15391
After `pip uninstall mxnet-mkl`, `conda clean --all`
`cp "C:\build_mxnet\with_mkldnn\incubator-mxnet\build\Release\libmxnet.dll" D:\R-package\inst\libs\x64
cp "C:\build_mxnet\with_mkldnn\incubator-mxnet\build\mklml\mklml_win_2019.0.5.20190502\lib\mklml.dll" D:\R-package\inst\libs\x64
cp "C:\build_mxnet\with_mkldnn\incubator-mxnet\build\3rdparty\mkldnn\src\Release\mkldnn.dll" D:\R-package\inst\libs

[2019-06-28 15:39] #15241 closed

[2019-06-28 16:38] stu1130 commented on #15383
@mxnet-label-bot add [bug]

[2019-06-28 17:18] vdantu commented on #15392
@Kangzf1996 , Wow. This seems to be using MXNet 0.10.0 which as released in May 2017. Isn't this project compatible with latest MXNet?

[2019-06-28 17:21] Kangzf1996 commented on #15392
I'm not sure. I will try that. Thank you!

[2019-06-28 17:44] Kangzf1996 commented on #15392
Hi, there are also some errors when I using MXNet1.4.0.
when I run the make -j4, the error is following:
compilation terminated.
make: *** [Makefile:461: build/src/operator/nn/mkldnn/mkldnn_copy.o] Error 1

[2019-06-28 18:28] vdantu commented on #10883
@lovehuanhuan This is an old issue but just checking in to see if this is still an issue. I could use the same build command to build MXNet from source without any issues.

[2019-06-28 18:43] zachgk commented on #10883
I am closing this issue because we are unable to reproduce it and can not proceed without additional information. @lovehuanhuan, please reopen if the problem persists.

[2019-06-28 18:43] #10883 closed

[2019-06-28 19:00] larroy commented on #15375
@anirudh2290 I proposed refactoring around a unique_ptr I don't think is going to change the way memory is released, maybe you got a different impression of what I was suggesting to do.

[2019-06-28 19:09] larroy commented on #15375
@cjolivier01 I didn't understand a word of what you are writing. I'm not proposing to change the object pool, just make NewOp return a smart pointer.

[2019-06-28 19:31] anirudh2290 commented on #15375
@larroy even less encouraging is having you make a PR and then blocking it. I was trying to save you some time. Ownership of the pointer rests with the module that pushes it. So imperative or graph executor should handle it. If you are really keen on doing this do it in the graph executor. There is no need to touch the engine code here.

This is the design, Engine relies on object pool for allocat

[2019-06-28 19:34] vdantu commented on #13782
@MyraBaba : Were you able get an answer to the failure? Wondering how we could be of any help.

[2019-06-28 19:43] MyraBaba commented on #13782
@vdantu

Small models can fit the memory. with Python mobileNEt is ok. Other bigger model cant fit memeory so error.

[2019-06-28 19:57] vdantu commented on #14283
@HaichaoZhu : Thanks for sharing this config file. I was able to build latest MXNet with this config file.

[code]

I am wondering how we can reproduce this further .

[2019-06-28 20:14] larroy commented on #15375
I will make a small fix to the leak in Naive engine, and a separate PR with a refactor, so we can have a more focused and productive conversation then. Thanks for your feedback.

[2019-06-28 20:46] larroy opened #15402 "Recent 1.5 pip wheel not using all the cores"
Using the pip package yield subpar core utilization, and is linked with libgomp.

See a more detailed description on the mailing list:

https://lists.apache.org/thread.html/dfc334cc6481a0d3632f63d8bbcebb6c6b5fa699d3dad005e5e85f00@%3Cdev.mxnet.apache.org%3E

[2019-06-28 20:50] larroy commented on #15402
@mxnet-label-bot add [Question]

[2019-06-28 20:52] larroy commented on #15375
@anirudh2290 it makes sense to you because you know the code, I would encourage you to read about the benfits of RAII. This is orthogonal to having an object pool for allocation, which I was not proposing to change.

[2019-06-28 21:08] anirudh2290 commented on #15375
So who are you targeting, someone unfamiliar with the code. Everyone needs to spend some time with the code to understand it, but after they spend that time it makes sense.

I know the benefits of RAII, but it doesn't apply to this use case of threaded engine. I am saying there is no need to change threaded engine code here which you are proposing to do. RAII won't benefit here, because engine its

[2019-06-28 21:22] #14584 closed

[2019-06-28 21:22] #14978 closed

[2019-06-28 21:23] larroy commented on #15375
Maybe you know the code better and I'm wrong, my proposal was to wrap the operator in a unique_ptr with a custom deleter with a virtual apply operator, so delete doesn't need to be called here:

https://github.com/apache/incubator-mxnet/blob/master/src/engine/threaded_engine.cc#L472

But it will still use the object pool, this wouldn't be changed.

Did I understand correctly that you think this is

[2019-06-28 21:46] anirudh2290 commented on #15375
First when you talk about leak, you talk about naive, which does things differently from threaded.

Coming to threaded, What will be the scope and lifetime of the unique_ptr, that you will be creating, how will dependency engine know when it has to be deleted ? It has individual view of operators not the full graph view.

I have spent a lot of time here, having this discussion, on something that h

[2019-06-28 23:03] larroy commented on #15375
Hi @anirudh2290
I don't think this is very constructive to conclude your reply with that, if you are asking questions. I was trying to understand your point and explain my proposal. If you don't have time to followup, no need to start a discussion in the first place. I just made a suggestion on this ticket to prevent similar kinds of leaks in other places using this code. I respect that you have y

[2019-06-28 23:13] anirudh2290 commented on #15375
Okay, I will say it again: the leak is in naive engine and not the threaded engine. Also, let me say again for the threaded engine, there is no problem here. I would request you to spend time fixing some real issues that mxnet has.

I am going to close this issue, please feel free to open a new one for the naive engine memory leak.

[2019-06-28 23:13] #15375 closed

[2019-06-28 23:15] larroy commented on #15393
Hi @cyrusbehr some suggestions:

Can you show the output for pkg-config --libs opencv  ?  are you compiling in the PI?

Please build with ninja -v to see linking flags.

Try to locate cv::error symbol in one of the opencv libraries and see if you are linking with it.

[2019-06-28 23:18] cyrusbehr commented on #15393
Hi @larroy, yes I am compiling on the PI.
Here is teh result of pkg-config --libs opencv
[code]

[2019-06-28 23:20] cyrusbehr commented on #15393
Can you please elaborate more on how to do this?

[2019-06-28 23:24] larroy commented on #15375
Did you read the title of the issue? Why are you closing this? it says the leak is in the NaiveEngine when profiling.

[2019-06-28 23:38] cyrusbehr commented on #15393
with the verbose flag enabled:
[code]

[2019-06-28 23:40] sxjscience opened #15404 "[OP] Fix SequenceMask to support different datatypes for data / sequence_length"
Currently, the SequenceMask operator does not support different dtypes for data and sequence_length. Usually, we could set data.dtype = np.float32 and sequence_length.dtype = np.int32. However, it's not allowed due to this line: https://github.com/apache/incubator-mxnet/blob/master/src/operator/sequence_mask-inl.h#L220

We should fix it.

[2019-06-28 23:48] anirudh2290 commented on #15375
This thread has been derailed a lot from the original issue and the whole discussion has been about threaded engine where there is no issue. I will keep this closed, feel free to open a new issue and keep the discussion focused to naive engine.

[2019-06-29 00:40] larroy commented on #15375
Attaching valgrind run which shows the leaked memory.

![naive_engine_leak](https://user-images.githubusercontent.com/928489/60377426-c12eee80-99cb-11e9-81fc-a15ffb71a799.png)

[2019-06-29 00:44] larroy commented on #15375
[valgrind.txt](https://github.com/apache/incubator-mxnet/files/3341240/valgrind.txt)

[2019-06-29 00:48] aaronmarkham opened #15406 "[Test failure]: test_custom_operator_profiling_naive_engine"
## Description
Docs update PR failed on a test.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15117/4/pipeline

[code]

[2019-06-29 00:52] larroy commented on #15393
When I have this issue, usually I try to locate the library which has this symbol. You can use something like "nm" to list the library symbols with c++filt together or elfdump or similar. Once you have located which library has this symbol, you make sure you are linking with that. I assume that you are using the opencv headers of your new version and not older ones...

You can copy paste the linki

[2019-06-29 00:53] larroy commented on #15393
You can also have a look at our docker files for cross compiling. I would suggest that you can contribute to them if you want, it also compiles much faster than on the PI...    check the ci/build.py  you can do ci/build.py -p arm[xxx]  to cross compile for the PI.

[2019-06-29 01:06] vdantu commented on #14459
@ShownX : Did you try the suggestion given by @chinakook ? Are you still facing this issue?

Some other suggestions going through online forums are
1. Kill all python processes on the system.
[code]
2. Do a list of all processes on that GPU
[code]
and kill all processes running on that GPU. [Refer this](https://github.com/neighthan/gpu-utils/blob/c6329f21fa3780ee89985b7974194cb808643f5c/gpu_utils/

[2019-06-29 01:07] aaronmarkham opened #15407 "scala hello world broken link"
URL -  https://mxnet.incubator.apache.org/tutorials/java/mxnet_java_on_intellij.html
Broken Links
─ https://github.com/apache/incubator-mxnet/blob/java-api/scala-package/mxnet-demo/java-demo/src/main/java/mxnet/HelloWorld.java (HTTP_404)
─ https://github.com/apache/incubator-mxnet/tree/java-api/scala-package/mxnet-demo/java-demo (HTTP_404)
─ https://github.com/apache/incubator-mxnet/blob/java-api/

[2019-06-29 01:08] aaronmarkham opened #15408 "tensorrt tutorial missing images"
URL -  https://mxnet.incubator.apache.org/tutorials/tensorrt/inference_with_trt.html
Broken Links
─ https://mxnet.incubator.apache.org/versions/master/tutorials/tensorrt/_static/tutorials/tensorrt/wavenet_unoptimized.png (HTTP_404)
─ https://mxnet.incubator.apache.org/versions/master/tutorials/tensorrt/_static/tutorials/tensorrt/wavenet_optimized.png (HTTP_404)

[2019-06-29 01:11] aaronmarkham opened #15409 "float16 tutorial broken link"
URL -  https://mxnet.incubator.apache.org/versions/master/faq/float16.html
Broken Links
─ https://github.com/apache/incubator-mxnet/tree/master/example/image-classificatiIfon/train_imagenet.py (HTTP_404)

TODO:
Update https://github.com/apache/incubator-mxnet/blob/master/docs/static_site/src/pages/api/faq/float16.md

Find `https://github.com/apache/incubator-mxnet/tree/master/example/image-classif

[2019-06-29 01:16] aaronmarkham opened #15410 "data.dmlc.ml redirect (security breach?)"
Checking the broken links and found this really weird redirect for anything going to data.dmlc.ml
Goes to iyfnzgb.com... whois on this is hidden but other results indicate mal/adware.

URL -  https://mxnet.incubator.apache.org/model_zoo/index.html
Broken Links
─ http://data.dmlc.ml/mxnet/models/imagenet/caffenet/caffenet-symbol.json (HTTP_400)
─ http://data.dmlc.ml/models/imagenet/nin/nin-symbol.j

[2019-06-29 01:16] aaronmarkham commented on #15410
@mli - you might want to check this out...

[2019-06-29 01:39] szha commented on #15410
@mli told me that he doesn't own the domain name. Also, the domain name probably have expired. All links to data.dmlc.ml should be replaced.

[2019-06-29 02:31] JFChi opened #15411 "Need register_backward_hook() function in mxnet"
The current version of mxnet just provide register_forward_hook() function. However, register_backward_hook function is also useful (e.g. logging the information of gradient w.r.t the block or overwriting the backward function of the block).

Can we add this feature in the next version of mxnet?

[2019-06-29 21:53] eric-haibin-lin opened #15414 "Flaky test_profiler.test_custom_operator_profiling_naive_engine"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15400/3/pipeline

[2019-06-29 21:54] eric-haibin-lin commented on #15414
duplicate: #15406

[2019-06-29 21:54] #15414 closed

[2019-06-29 21:56] eric-haibin-lin commented on #15411
+1 this is useful for quantization aware training

[2019-06-30 00:00] stephenrawls commented on #15404
Hi @sxjscience . I agree this is an annoying issue now, causing you to cast your sequence length tensor to be the same type of your data tensor. I fixed this back in January in this PR: https://github.com/apache/incubator-mxnet/pull/13880

It didn't get merged in time to make it into MXNet 1.4, but it will be in MXNet 1.5 when that release happens. So hang tight :)

Best,
Stephen

[2019-06-30 05:45] lgoncalves opened #15415 "documentation link is broken, goes to spam site"
Link to documentation at bottom of README is broken and leads to a spam website

https://dmlc.github.io/MXNet.jl/latest

[2019-06-30 13:08] bearsroom commented on #15218
Hello there, I also encountered this memory leak problem with large number of .rec files. Somehow I managed to bypass this problem by setting the prefetching parameter `prefetch_buffer=1`. It seems that the memory leak problem may be caused by the `recycle_queue_` in `ImageRecordIter2`

[2019-06-30 15:59] vdantu commented on #14563
@fhieber : I see this issue persisted with 1.4.0 and 1.4.1. But, 1.5.0 (pre release) seems to have similar performance to 1.3.1

## 1.5.0 (pre-release)
[code]

## 1.3.1
[code]

## 1.4.1
[code]

We can probably close this issue after the release of 1.5.0.

[2019-06-30 18:26] vdantu commented on #15415
@lgoncalves : I could'nt find this link on the main README or the docs README. Could you let us know which README has this link? Also, what was this site pointing to previously?

@mxnet-label-bot add ["Unclear Error/Doc"]

[2019-06-30 18:26] vdantu commented on #15415
@mxnet-label-bot add [Unclear Error/Doc]

[2019-06-30 19:58] #14118 closed

[2019-06-30 20:17] lgoncalves commented on #15415
The link that is broken is at the bottom of this page :
https://github.com/apache/incubator-mxnet/tree/master/julia

In particular it is the "documentation" link in the last line of the page:

For more details, please refer to the documentation
<https://dmlc.github.io/MXNet.jl/latest> and examples
<https://github.com/apache/incubator-mxnet/blob/master/julia/examples>.

"documentation"  points to h

[2019-07-01 07:13] Ankit01Mishra commented on #13949
I too have the same problem. Is there any solution? Thanks

[2019-07-01 07:27] assertdebug commented on #14488
use the c api to solve this problem!   https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/predict-cpp/image-classification-predict.cc

[2019-07-01 07:34] knjwhn opened #15419 "Can't install mxnet with mkldnn,Error: undefined symbol: mkldnn_primitive_desc_query_memory_d"
## Description
(Brief description of the problem in no more than 2 sentences.)
       I've done the instruction from https://github.com/xinyu-intel/incubator-mxnet/blob/master/docs/tutorials/mkldnn/MKLDNN_README.md ,
because I don't have the full MKL library installation ,so I run the command as follw
  **make -j $(nproc) USE_OPENCV=1 USE_MKLDNN=1 USE_BLAS=openblas USE_INTEL_PATH=/opt/intel**
   a

[2019-07-01 07:44] TaoLv commented on #15419
Looks like that MXNet links to a old version of MKL-DNN in your system.

[2019-07-01 07:55] knjwhn commented on #15419
The MKL-DNN is from the 3rdparty of MXNet,  By the way, can you tell me how to try a new version of MKL-DNN,can I just replace the folder in the 3rdparty or I should change the makefile. Thanks a lot.

[2019-07-01 08:04] TaoLv commented on #15419
There is no need to update MKL-DNN manually.
After calling `make -j $(nproc) USE_OPENCV=1 USE_MKLDNN=1 USE_BLAS=openblas USE_INTEL_PATH=/opt/intel`, you should get a lib folder under the mxnet root directory. You can find mkldnn and mklml libraries in the lib folder.
Please try to `export PYTHONPATH=<mxnet root directory>/python`, and then run the validation script. cc @yinghu5

[2019-07-01 08:20] knjwhn commented on #15419
I'm so sorry that I can't find the validation script.cc from your given information,  could you tell me where it is? Thanks so much!

[2019-07-01 08:25] TaoLv commented on #15419
I mean:
[code]

[2019-07-01 08:34] knjwhn commented on #15419
Ohh,Ok,sorry I'm so stupid, I've done this, but get the same error , But still thanks a lot

[2019-07-01 09:43] TaoLv commented on #15419
MXNet should link to the mkldnn.so under the incubator-mxnet/lib folder. But from the ldd info, it links to the one under /usr/local/lib/. It's strange to me.

[2019-07-01 12:15] patricieni commented on #12266
Hi, is there an update on this and whether you will add support for 3.7?

[2019-07-01 12:37] bkwwangjie commented on #4059
Hello, I have also encountered this problem.I want to ask you how to solve it? Can you send me the code?

[2019-07-01 13:09] knjwhn commented on #15419
Thanks !!! it works !! and here is another question: When I run the  validation script. cc  and set the MKLDNN_VERBOSE=1, I can see the debugging logs.But when I try to run the code in examples, such as train_mnist.py, there is no debugging logs anymore, Do you know about this?  Sorry to bother you, I am still a beginner, Thanks again !!!

[2019-07-01 13:17] #15391 closed

[2019-07-01 13:35] Crunchy9 opened #15420 "[R] MKL-DNN support: "Unknown exception" in mx.nd.internal.as.array"
## Description
After successful build with MKL-DNN R package, when I start traning  exception occurse.

I'm using R version 3.6.0 (2019-04-26)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 8.1 x64 (build 9600)

## Build info (Required if built from source)

Compiler: Visual Studio 15 (14.16)
MKL 2019.4.245
mklml_win_2019.0.5.20190502.zip

MXNet commit hash: 51acd4d328c6da475c058

[2019-07-01 13:47] TaoLv commented on #15419
Great to hear it works now! In order to see MKL-DNN verbose log, you need:
1. export MKLDNN_VERBOSE=1
2. make sure MKL-DNN operator/primitive is invoked.

I can see MKL-DNN verbose log on my side:
[code]

[2019-07-01 14:02] #15404 closed

[2019-07-01 14:10] onomatet opened #15421 "[Feature request] Add a support of 16 bit integer data via recordIO iterator"
Complete information on the motivation for this feature request and further details are given in this post:
https://discuss.mxnet.io/t/limited-bit-depth-of-the-recordio-iterator/4245

Shortly: in medical imaging 12-16 bit gray scale images are commonly used. It is possible to pack them into .rec file as 16 bit PNGs. ImageRecordIter converts them into 8 bit format internally causing information los

[2019-07-01 16:11] aaronmarkham opened #15423 "clojure test in CI failures"
## Description
I've seen this test in CI fail a number of times maybe due to a temporary network issue. Maybe this step can be setup with a retry or two, so we don't fail and have to restart the whole set of tests.
Here's an example.
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15117/5/pipeline/

[2019-07-01 16:43] lanking520 commented on #15423
@aaronmarkham This is more like a network issue. The maven central seemed not working fine

[2019-07-01 16:46] lanking520 commented on #15372
@Soonhwan-Kwon

[2019-07-01 17:45] TobyRoseman commented on #12266
MXNet now appears to support Python 3.7. Closing.

[2019-07-01 17:45] #12266 closed

[2019-07-01 18:06] aaronmarkham commented on #15406
Happened again:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-15117/6/pipeline

[2019-07-01 18:38] vdantu commented on #15420
@mxnet-label-bot add [Windows, R, Training]

[2019-07-01 18:38] vdantu commented on #15420
@anirudhacharya : Would you be able to help with this?

[2019-07-01 19:15] anirudh2290 commented on #15406
@Zha0q1

[2019-07-01 22:46] meixitu opened #15425 "fixed"

[2019-07-01 23:36] apeforest commented on #9686
Removing deprecate operators from code base (or at lease hide them from users).

Some operators, such as `SoftmaxActivation` has been made deprecate for a few minor releases. Ideally, we should have a process to remove deprecate operators in the next major release given users have had sufficient time to update them to the newer version in the minor releases.

[2019-07-01 23:41] anirudh2290 commented on #15411
does register_forward_hook work for hybridized models ?

[2019-07-02 00:37] lanking520 commented on #15415
Find it!
[code]
@aaronmarkham let's get rid of that

[2019-07-02 02:26] pengzhao-intel commented on #15420
@Crunchy9 could you provide a reproducible case?

[2019-07-02 02:36] pengzhao-intel commented on #15322
Do you know how it supports Caffe?

[2019-07-02 02:57] Soonhwan-Kwon commented on #15372
No it does not but we did implemented kenlm based decoding with similar project.

[2019-07-02 03:11] Crunchy9 commented on #15420
This will be hard, but... `traceback()`

       cppstack = list(file = "", line = -1L, stack = "C++ stack not available on this system")))
8: .External(list(name = "InternalFunction_invoke", address = <pointer: 0x0000000006998270>,
       dll = list(name = "Rcpp", path = ".../R/win-library/3.6/Rcpp/libs/x64/Rcpp.dll",
           dynamicLookup = TRUE, handle = <pointer: 0x000000006abc0000>,

[2019-07-02 05:11] TaoLv commented on #15420
@Crunchy9 We notice that the document for Windows R setup says:

http://mxnet.incubator.apache.org/versions/master/install/windows_setup.html#install-the-mxnet-package-for-r

Have you ever tried a 3.5.x version of R?

[2019-07-02 05:51] Crunchy9 commented on #15420
Yes, and it's strange. Installed side by side R 3.6.0 build from source and downloaded AWS for 3.5.3.

  [07:47:26] c:\incubator-mxnet\src\io\iter_image_recordio_2.cc:254: ImageRec need opencv to process

[2019-07-02 05:59] TaoLv commented on #15420
Seems it's another error now. I just checked the code. Do you have `USE_OPENCV=1` in you make command line when build the package with MKL-DNN?

[2019-07-02 06:06] Crunchy9 commented on #15420
Of course. But why it fails with  official release now?
`c:\build_mxnet\with_mkldnn\incubator-mxnet\build>cmake -G "Visual Studio 15 Win6
4" .. -DUSE_CUDA=0 -DUSE_CUDNN=0 -DUSE_NVRTC=0 -DUSE_OPENCV=1 -DUSE_OPENMP=1 -DU
SE_PROFILER=1 -DUSE_BLAS=mkl -DUSE_LAPACK=1 -DUSE_DIST_KVSTORE=0 -DCUDA_ARCH_NAM
E=All -DUSE_MKLDNN=1 -DCMAKE_BUILD_TYPE=Release -DMKL_ROOT="C:\Program Files (x8
6)\IntelSWTools\com

[2019-07-02 06:12] TaoLv commented on #15420
I'm sorry. What do you mean by "I've checked with InstanceBatchNorm and mx.symbol.BatchNorm, nothing changes."?  Do you still have the issue described in the title of this issue?

[2019-07-02 06:26] Crunchy9 commented on #15420
Yes, error is the same despite of batch norm type.
For R 3.6.0 `install.packages("https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/CPU/3.6/mxnet.zip", repos = NULL)` I used this version with no OpenCV errors.

[2019-07-02 06:27] eric-haibin-lin opened #15428 "Dataloader does not support sparse data"
Current gluon dataloader does not support sparse data (CSRNDArray), mainly due to https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/dataloader.py#L41-L58 only supporting dense ndarray.

[2019-07-02 06:36] roywei opened #15429 "Operator Performance regression on CPU"
Follow up on dev list discussion:

https://lists.apache.org/thread.html/154ef1e4010671e7375c7a7cbedb413d5a4a3677321488440fb32a3a@%3Cdev.mxnet.apache.org%3E

We have found some operators to have performance regression using the operator benchmark module here:
https://github.com/apache/incubator-mxnet/tree/master/benchmark/opperf

@sandeep-krishnamurthy has helped to run the benchmark and this is th

[2019-07-02 06:49] roywei commented on #15429
cc @PatricZhao @szha @ddavydenko

[2019-07-02 07:24] roywei opened #15430 "Performance regression on training resnet152 with CIFAR10 on CPU"
Follow up on dev list discussion:

https://lists.apache.org/thread.html/154ef1e4010671e7375c7a7cbedb413d5a4a3677321488440fb32a3a@%3Cdev.mxnet.apache.org%3E

We have found resnet152 to have a regression when training CIFAR10 dataset on CPU (C5x18Large)

To summarize the findings:

Scripts/Model: https://github.com/awslabs/deeplearning-benchmark/blob/master/dawnbench/cifar10.py
Total 20 epochs. Firs

[2019-07-02 07:30] TaoLv commented on #15420
Hi @jeremiedb, seems you contributed the package. Is it supposed to work in this case?

[2019-07-02 07:44] roywei commented on #15429
script command:
`python incubator-mxnet/benchmark/opperf/opperf.py --output-format md --output-file mxnet-{version}-infer.md`

raw script output:
https://drive.google.com/drive/folders/1OE-bedTFd-HN0Og6vW8XGWkswrRrdyW0?usp=sharing

[2019-07-02 07:51] pengzhao-intel commented on #15430
Thanks to summarizing the issue. @ciyongch is WIP for this task.

[2019-07-02 07:53] pengzhao-intel commented on #15429
Maybe this is the same thing with #15430.  @ciyongch is WIP

[2019-07-02 08:32] meixitu commented on #15425
actually, I searched some mxnet depthwise conv training performance information, Mxnet did some optimize for depth-wise, it is faster than cudnn.
But now it is really so slow

Is there anyone can help me?

Thank you very much.

[2019-07-02 08:41] ciyongch commented on #15429
Yes,  #15430 is also caused by op perf regression. I will try to reproduce the case and focus the inference firstly.

[2019-07-02 08:47] Crunchy9 commented on #15420
Reproducible case (sort of):
`data <- mx.symbol.Variable("data")`
`conv <- mx.symbol.Convolution(data = data, kernel = c(7, 7) , stride = c(2, 2), pad = c(0, 0), num.filter = 24, name = paste0("test", "_conv1"))`
`act  <- mx.symbol.LeakyReLU(data = conv, act.type = "elu", name = paste0("test", "_act1"))
`
`softmax <- FC(data = act, name = "out")`

Error:

Error in mx.nd.internal.dispatch.Ops(.Gene

[2019-07-02 08:49] JustinhoCHN commented on #11424
Any update here? I want to use np.where, np.nonzero or np.unique in mxnet ndarray version.

[2019-07-02 09:32] TaoLv commented on #15420
I'm totally lost. Seems the log is different from what you shared in the issue title and description. Can you articulate what's the problem now and please share a complete reproducer rather than a code snippet.