[2019-01-15 00:33] piyushghai commented on #12993
@anirudhacharya Can you have a look at this perhaps ?

[2019-01-15 00:34] piyushghai commented on #12923
@coconutyao Good to see that your issue was resolved. I'm closing this issue. Please feel free to re-open if closed in error.

@lanking520 Can you please close this issue ?

Thanks!

[2019-01-15 00:36] piyushghai commented on #12900
@aaronmarkham Have we seen this issue again ? If not we can close this issue.
@marcoabreu Please feel free to re-open if closed in error.

@lanking520 Can you close this issue ?

Thanks

[2019-01-15 00:37] piyushghai commented on #12858
@smarsuuuuuuu Is this issue still persisting ? If not, I'd recommend closing this issue. Please feel free to re-open if closed in error.

@lanking520 Can you close this issue ?

Thanks.

[2019-01-15 00:40] saudet commented on #10549
@lanking520 The presets use their own build system for Java classes to unify how they are packaged and loaded w.r.t. other native libraries such as OpenCV, so I'm not sure if any of it could be reused here. Could you take a look and let me know?

Anyway, there isn't a lot that needs to be changed for the build system in MXNet to work as well. It's basically just making sure everything can be built

[2019-01-15 00:41] vandanavk commented on #13395
Yes @piyushghai. This can't be fixed until Dynamic shape is implemented in MXNet. Ref: https://github.com/apache/incubator-mxnet/issues/10789#issuecomment-453224627

[2019-01-15 00:45] lanking520 commented on #12923
@coconutyao Close the issue for now. Please feel free to reopen it if you are still facing the problem

[2019-01-15 00:45] #12923 closed

[2019-01-15 00:45] lanking520 commented on #12900
Close the issue for now. Please feel free to reopen it if you are still facing the problem

[2019-01-15 00:45] #12900 closed

[2019-01-15 00:46] lanking520 commented on #12858
@smarsuuuuuuu Close the issue for now. Please feel free to reopen it if you are still facing the same problem

[2019-01-15 00:46] #12858 closed

[2019-01-15 01:01] piyushghai commented on #10164
@tianweiz07 Can you confirm if you're not facing the issues you mentioned before ?

[2019-01-15 01:03] piyushghai commented on #9733
@lanking520 Can you please close this issue, as suggested by @apeforest that the issue is now fixed and merged.

@daleydeng Please feel free to re-open if you still face the issue.

Thanks!

[2019-01-15 01:04] lanking520 commented on #9733
@daleydeng Close this issue for now. Please feel free to reopen it if the issue persist.

[2019-01-15 01:04] #9733 closed

[2019-01-15 01:06] piyushghai commented on #8438
@roywei Were you able to verify if the fix worked or not ?

[2019-01-15 01:21] KellenSunderland commented on #13265
I think this should have been fixed by https://github.com/apache/incubator-mxnet/pull/13376 (we may want to consider backporting it given the number of reports).

[2019-01-15 01:22] harshp8l commented on #13163
test test test test test
@mxnet-label-bot add [good first issue]

[2019-01-15 06:17] akond commented on #13765
I switched to windows/GNU R to do the job, because mxnet installation on windows is instantaneous, contrary to my expectations.

[2019-01-15 07:09] likangGit opened #13881 "Cmake : could not find mkl (missing MKLDNN_LIBRARY)"
## Description
When compliting mxnet with cmake (BLAS=MKL), cmake tells me that "could not find mkl (missing MKLDNN_LIBRARY)". This is because MKLDNN_LIBRARY=MKLDNN_LIBRARY-NOTFOUND. I know i should specify the library manually, But the mkldnn library has not been complied yet. so what should i do?
## Environment info (Required)
ubuntu16.04
mxnet 1.3.0
## What have you tried to solve it?
To solve

[2019-01-15 08:19] wshuail commented on #13074
#https://github.com/apache/incubator-mxnet/pull/13727
#https://github.com/dmlc/gluon-cv/issues/529

This was fixed already. Thx.

[2019-01-15 08:19] #13074 closed

[2019-01-15 09:36] Rehtt opened #13883 "Raspberrypi 3 Failed to build docker image"
Step 1/15 : FROM mxnetci/dockcross-linux-armv7:09182018
pull access denied for mxnetci/dockcross-linux-armv7, repository does not exist or may require 'docker login'
build.py: 2019-01-15 09:33:50,625 Failed to build docker image

[2019-01-15 09:36] dabraude commented on #13875
Ok we will try running that script and get back to you.

We are running CUDA 10

[2019-01-15 12:53] pengzhao-intel commented on #13881
@lebeg related your cmake PR

[2019-01-15 13:37] kirk86 opened #13885 "imagenet example failure to run properly"
## Description
I am following this example https://mxnet.incubator.apache.org/tutorials/vision/large_scale_classification.html to run imagenet training on multi-gpu single node, but it throws errors. The only step that I have omitted from the example is the optional one.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from sour

[2019-01-15 14:55] mariussoutier commented on #12553
@piyushghai I gave up trying to train in Scala, am only using it for inference now.

[2019-01-15 15:09] dabraude commented on #13875
It still crashes with the --pre

We have found that it only happens with the MKL version

[2019-01-15 15:18] larroy commented on #9507
Can you post a contained example for reproduction? I have used qemu as described in:

https://github.com/apache/incubator-mxnet/blob/master/ci/README.md

And for me seems to work, saving difficulties with cv2

[code]

[2019-01-15 15:42] KellenSunderland commented on #13833
Can we disable this until it's fixed?  It's failing the majority of the builds https://github.com/apache/incubator-mxnet/commits/master

[2019-01-15 15:47] larroy commented on #13833
I have tried, but the status is not being reported:

https://github.com/apache/incubator-mxnet/pull/13841

[2019-01-15 17:18] aaronmarkham commented on #13833
Hanging of status result on successful builds was something I reported quite a while ago... you just need to restart that job and maybe it'll go through. https://github.com/apache/incubator-mxnet/issues/13714
I don't think anyone has looked at the underlying problem yet as there were no responses to the issue.

[2019-01-15 17:19] aaronmarkham commented on #13833
And this is a duplicate of https://github.com/apache/incubator-mxnet/issues/13831

[2019-01-15 17:39] marcoabreu commented on #13883
Hi, could you try pulling from master? We recently had to delete 'mxnetci/dockcross-linux-armv7:09182018'

[2019-01-15 17:43] piyushghai commented on #13883
@mxnet-label-bot add [Edge devices, Docker]

[2019-01-15 17:46] piyushghai commented on #13885
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it. @mxnet-label-bot add [Example, Python]

[2019-01-15 17:48] piyushghai commented on #13881
@mxnet-label-bot update [MKL, MKLDNN]

[2019-01-15 18:40] piyushghai commented on #13875
@mxnet-label-bot update [Build, MKL]

@azai91 @mseth10  Can we have a look at this crash ?

[2019-01-15 18:56] larroy commented on #9507
https://github.com/apache/incubator-mxnet/pull/13886

[2019-01-15 21:39] aaronmarkham opened #13892 "switching versions while on a specific API page loses the anchor"
## Description
Say you're looking a specific API for a released version, then want to look at in master.
You're on:
http://mxnet.incubator.apache.org/versions/1.2.1/api/python/ndarray/ndarray.html#mxnet.ndarray.NDArray.tostype
Then you go to the versions dropdown and select master. It should keep you on the same topic, but with the new version.
This used to work. It doesn't anymore.

[2019-01-15 21:43] aaronmarkham commented on #13831
I tried to reproduce with several simultaneous docker containers and running it locally. It doesn't get the OS Error.

[2019-01-15 21:57] lebeg commented on #11549
Actually, we think we found the reason for the slowdown in CMake builds. It's due to the fact that even with MKL set to be used, the library is still linked to openblas and the math functions are being linked and used from there instead.

[2019-01-15 22:09] #13847 closed

[2019-01-15 22:41] apeforest commented on #11203
Finally got some bandwidth. Looking into this issue again.

[2019-01-15 23:33] fhieber commented on #13862
Could someone test this also with the 1.4 release candidate? If this is present there as well, I'd appreciate a last-minute fix very much! :)

[2019-01-16 06:14] #12598 closed

[2019-01-16 06:14] #13459 closed

[2019-01-16 06:47] FCInter opened #13902 "Loss becomes NaN when setting use_global_stat=True for batchnorm"
## Description
I trained a model and used it to perform prediction. While building the predictor, if I set the argument for_training=False, the prediction result is bad, as bad as predicted using a randomly initialized model.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

[2019-01-16 10:42] TobiasSkovgaardJepsen commented on #10220
I appear to have encountered this error as well. In my case the error initially failed silently because I am adding two losses, but it turns out only one of them is used during backpropagation. Using just the other loss I get:
[code]

[2019-01-16 15:02] TaoLv commented on #13776
Closed via #13778 . Feel free to reopen if the issue is still there. @fengsky401

[2019-01-16 15:02] #13776 closed

[2019-01-16 15:15] TaoLv commented on #12303
Closed via #13730 .

[2019-01-16 15:15] #12303 closed

[2019-01-16 17:48] piyushghai commented on #13902
@FCInter Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.
@mxnet-label-bot add [Python, Question]

[2019-01-16 18:30] thomelane opened #13908 "Support for Named Arrays"
Seen a few mentions recently of `NamedTensors` which I think is a really good idea, and improves usability of deep learning frameworks. I would be great to think about how this functionality could be added to MXNet's NDArray: either by creating a NamedNDArray, or even better would be to include in NDArray directly.

Using [Harvard's NamedTensor for PyTorch](https://github.com/harvardnlp/namedtenso

[2019-01-16 18:31] thomelane commented on #13908
@mxnet-label-bot add [Feature Request, NDArray]

[2019-01-16 18:35] roywei commented on #8438
@piyushghai  no, it should remain open. `self.params.get_constant` is recommend for now.

[2019-01-16 19:55] Ishitori opened #13909 "gluon.utils.split_and_load(even_split=False) fails if num of contexts > num of data"
## Description
Sometimes, it is hard to predict how much data left in the dataloader by the time last batch comes. When doing multigpu training with `last_batch=keep`, it could happen that the number of items left in the last batch is smaller than numbers of gpus. In that case `gluon.utils.split_and_load` throws an exception `ValueError: Too many slices for data with shape ...`.

It would be great

[2019-01-16 19:57] eric-haibin-lin commented on #13908
+1

[2019-01-16 21:36] ChaiBapchya commented on #13221
Flaky test found - http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-13901/2/pipeline in unrelated PR

[2019-01-16 21:39] ptrendx commented on #9816
Unfortunately the issue with dropout operator is not fully solved - when using seed 579061237 on the GPU, rng produces 0 for one of the outputs in ratio=1.0 case, which, because of the usage of <=, ends up being `inf` instead of `nan`. Issue encountered in CI for my unrelated PR (and I tested it without the PR, it is reproducible): http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/m

[2019-01-16 21:40] lanking520 opened #13910 "Java installation instruction is wrong"
Currently Java API is only available for master and 1.4.x above. However, we can find the instruction for all previous versions: http://mxnet.incubator.apache.org/install/index.html?platform=Linux&language=Java&processor=CPU

Apart from that, the information below should be changed from

[code]
to
[code]
on master
@aaronmarkham

[2019-01-16 23:05] lupesko commented on #10171
@mxnet-label-bot please add label [CoreML]

[2019-01-16 23:05] lupesko commented on #10171
@mxnet-label-bot please remove label [Converter]

[2019-01-16 23:09] aaronmarkham commented on #13910
It is a known issue that the install page shows things it shouldn't. That selector is broken, broken, broken. Reported here:
https://github.com/apache/incubator-mxnet/issues/13430

So, I won't be able to fix Java showing for previous versions. But we can get the xml updated.

[2019-01-17 01:31] piyushghai opened #13913 "pickle.save crashes when saving an NDArray on MXNet with error Check failed: !IsMKLDNNData() on MKL v1.3.1 taken from PyPi"
Using pickle.save on an NDArray crashes with the exception :
[code]

Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

[2019-01-17 01:31] piyushghai commented on #13913
@mxnet-label-bot add[NDArray, Bug, MKL, MKLDNN]

[2019-01-17 01:39] JohnLee168 commented on #13265
I have the same issue, I just use MXPredCreate and MXPredFree everytime, but still got cpu and gpu memory leak. it is slow but still leaks memory.

[2019-01-17 01:43] JohnLee168 commented on #13265
you mean we should manually release the former handle after reshape, and manually release reshape handle after use?

[2019-01-17 02:12] aaronmarkham commented on #13875
I'd like to note that the website CI pipeline has been intermittently failing with subprocess errors ever since the MKLDNN merge. This is when it started:
http://jenkins.mxnet-ci.amazon-ml.com/job/mxnet-validation/job/website/job/master/141/
It's really important that we have the website check in CI, but right now it is turned off because of the failures.

[2019-01-17 02:12] theSparta commented on #8126
@leleamol I don't have access to my machine anymore and I stopped using MXNet a long time ago.

[2019-01-17 03:33] pengzhao-intel commented on #13875
@dabraude @aaronmarkham thanks for reporting the issues.

We will take a look for the potential issue @ZhennanQin @TaoLv

[2019-01-17 03:39] pengzhao-intel commented on #13913
Thanks @piyushghai to report the issue.

@TaoLv could you help take a look for this issue?

[2019-01-17 04:16] wkcn opened #13915 "flaky test: test_operator.test_activation"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-13609/7/pipeline

[code]

[2019-01-17 04:43] TaoLv commented on #13875
@aaronmarkham I guess for "the MKLDNN merge" you mean #13681, right? But I tried the script @dabraude shared in this issue, it also crashes with mxnet-mkl==1.3.1.

@dabraude said this issue only happens with MKL build. But website build is not using MKL or MKL-DNN. So I'm afraid they are not the same issue.

BTW, @dabraude have you ever tried it with python2?

[2019-01-17 05:12] TaoLv commented on #13913
@piyushghai This issue has already been fixed on the master branch. Can you try nightly build?
[code]

[2019-01-17 05:13] cchung100m commented on #12205
@vandanavk,

Thank you for the suggestion.

I add some commits based on reviewers' suggestions and re-trigger the CI build. #13815 #13848

Consider there are parts of the changes remain on the 18 branches(each one has 15 files), should I open the other 18 PRs?

I would appreciate if you can give me further suggestions.

many thanks,

[2019-01-17 05:33] nttstar commented on #8189
Memory leak happens at module 'backward' step. I believe there were some bugs in it.  nd.waitall() can fix it but leads to poor performance. @eric-haibin-lin

[2019-01-17 06:15] TaoLv commented on #13875
@dabraude Please try `export KMP_INIT_AT_FORK=false` before running your script. Let me know if it works for you. Thank you.

[2019-01-17 07:49] Heliang-Zheng commented on #10193
@Northrend I met the same problem, have you solved it?

[2019-01-17 08:08] IvyGongoogle commented on #11868
meet the same error on  V100 gpu

[2019-01-17 08:47] larroy commented on #11654
We had a look. Will require changes to the GitHub plugging in Jenkins. @jlcontreras

[2019-01-17 08:49] larroy commented on #12421
This can be closed.

[2019-01-17 08:49] #12421 closed

[2019-01-17 13:17] larroy commented on #13833
Closed as dupe

[2019-01-17 13:17] #13833 closed

[2019-01-17 13:18] larroy commented on #13831
https://github.com/apache/incubator-mxnet/issues/13833

[2019-01-17 14:35] meissnereric opened #13919 "Potential bug in ParameterDict get from shared dict"
## Description

The Gluon Block's collect_param method does not surface the parameters of "shared" ParameterDicts and we need this functionality for some other work.

I think this is a bug in the implementation of the ParameterDict class's [__getitem__ functionality](https://mxnet.incubator.apache.org/_modules/mxnet/gluon/parameter.html), but I definitely could be missing something. The ```get```

[2019-01-17 14:45] kirk86 commented on #5146
This should not be close, it is related to the same error message that I get  #13885

[2019-01-17 14:52] kirk86 commented on #7873
Issue is reproducible with mxnet 1.2.1,  #13885. And this is the default latest mxnet-cu92 cuda enabled binary in conda, either upgrade and push binaries with 1.3.1 in conda or please resolve the issue with 1.2.1 since not many ppl would like to install from pip because when u update all pkgs in a conda environment those installed through pip don't get updated with conda commands.

[2019-01-17 15:24] dabraude commented on #13875
I can confirm it happens with python2 and that
export KMP_INIT_AT_FORK=false seems to stop it, but with intermittent errors I can't be 100% it did

[2019-01-17 17:03] KellenSunderland commented on #13831
As a repo strategy one option would be setting up a cloud watch alarm to shoot an email off when mem usage is above 80%, then re-enabling this PR in dev and doing some load testing.

[2019-01-17 17:45] jlcontreras commented on #11654
I believe this is due to the github plugin sometimes not being able to resolve the repo's url, as we get this in the logs:

`[Set GitHub commit status (universal)] SUCCESS on repos [] (sha:90a0bd0) with context:ci/jenkins/mxnet-validation/windows-gpu`

instead of the usual

[code]

I'm currently testing this modification to the plugin to add a retry mechanism, will post updates

https://github.com

[2019-01-17 18:03] piyushghai commented on #13919
Hi @meissnereric Thanks for posting this. This seems like a question to me and this can get more attention on the MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow others to learn as well.
Thanks!

@mxnet-label-bot add [Question, Gluon]

[2019-01-17 18:07] piyushghai commented on #13913
@TaoLv Thanks. I checked out the --pre package and it seems to work fine over there.
If you have an idea, can you point me to the commit/PR which seems to have fixed this issue ?

[2019-01-17 18:49] leleamol opened #13920 "The C++ API documentation available on website does not contain information about operators in op.h"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-01-17 18:54] piyushghai commented on #13920
@leleamol Thanks for reporting this issue. I'm labelling it so that other community members can help resolve it.

@mxnet-label-bot [Website, Doc]

[2019-01-17 19:15] piyushghai commented on #13920
@mxnet-label-bot Add [Website, Doc]

[2019-01-17 19:36] piyushghai commented on #13552
@aaronmarkham @lanking520 Now you can restart a single job on the CI without going through all the tests again. This issue was resolved sometime back.

@lanking520 Suggest to close the issue. Please feel free to re-open if closed in error.
Thanks!

[2019-01-17 19:38] piyushghai commented on #13747
@l1uw3n Seems like the related PR got merged. Was your issue resolved ? If yes, please close this issue.
Please feel free to re-open if closed in error.
Thanks!

[2019-01-17 19:42] piyushghai commented on #13772
@ronyuzhang Can you paste a snippet of code that can help us debug this issue further ?

[2019-01-17 19:48] piyushghai commented on #13649
@lanking520 Can you close this issue as the issue has been resolved :)

@giordyb Please feel free to re-open if closed in error.

[2019-01-17 20:38] piyushghai commented on #12966
@lanking520  Can you close this issue ? The issue is already fixed and verified.

[2019-01-17 20:39] piyushghai commented on #12876
@squidszyd Did the suggestion here help you with your issue ?

[2019-01-17 21:01] piyushghai commented on #11277
@zjjott Can you try to run the commands once more ? I was not able to reproduce the error with pip installation locally on my MacBook Pro.

[2019-01-17 21:06] lanking520 commented on #12966
@nikudyshko Close this issue for now. Please feel free to reopen if issue persist.

[2019-01-17 21:06] #12966 closed

[2019-01-17 21:08] piyushghai commented on #10330
@zachgk I think you handled the issues listed here for the Licenses.
Can you check and see if this issue can be closed ?

[2019-01-17 21:13] piyushghai commented on #9974
@jwfromm @WenmuZhou The fix proposed in PR #12554 has been merged.
Can you verify if the issue is resolved and can be closed ?

[2019-01-17 21:51] zachgk commented on #10330
b was fixed by updating googletest and I still need to port that fix back to master. I will close this issue when it is fixed

[2019-01-17 22:01] piyushghai commented on #13853
@adwivedi , Your issue for running the examples should be resolved by this PR : https://github.com/apache/incubator-mxnet/pull/13849 and https://github.com/apache/incubator-mxnet/pull/13891

There were recent changes to the Maven POM files due to which the examples were temporarily not running. They should be back to normal now. Let me know if you still face issues with running your examples.

And

[2019-01-17 22:53] Kurokokoro opened #13923 "Cannot install MXNet R (cannot open URL)"
Hi, recently i tried installing MXNet with RStudio on Windows 7. After the command:
`install.packages("mxnet")`
I got error:
`Warning in install.packages :
  package ‘mxnet’ is not available (for R version 3.5.1)`

After:
`cran <- getOption("repos")
cran["dmlc"] <- "https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/"
options(repos = cran)
install.packages("mxnet")`
I got:
`trying U

[2019-01-17 23:20] lanking520 opened #13924 "CPP GPU test running too long"
URL:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-13914/3/pipeline/278

Currently CPP GPU takes around 72 minutes to finish all its trainning tasks and it is not ideal for a PR CI test to handle that. Essentially the CI to verify the PR is to ensure the functionalities didn't have any problems. The performance test ideally should be placed

[2019-01-17 23:51] piyushghai commented on #13923
@Kurokokoro Thanks for raising the issue. Let me ask the in-house R Gurus to try to resolve this for you.
@anirudhacharya @jeremiedb @ankkhedia Can you guys have a look at this ?

@mxnet-label-bot Add [R]

[2019-01-17 23:58] lanking520 commented on #13649
@giordyb Close it for now. Please feel free to reopen if the issue persist

[2019-01-17 23:58] #13649 closed

[2019-01-17 23:59] lanking520 commented on #13552
@aaronmarkham Close it for now. Please feel free to reopen if the issue persist

[2019-01-17 23:59] #13552 closed

[2019-01-17 23:59] lanking520 commented on #13673
Close it for now. Please feel free to reopen if the issue persist

[2019-01-17 23:59] #13673 closed

[2019-01-18 00:04] ankkhedia commented on #13923
@Kurokokoro Do you have  OpenBlas already installed in your system?

I am not sure if it is a Windows 7 issue but the installation works fine for Windows10. Alternatively you can try building from source using the instructions mentioned in http://mxnet.incubator.apache.org/install/windows_setup.html#install-mxnet-package-for-r

[2019-01-18 00:07] piyushghai commented on #13910
@lanking520 @aaronmarkham The corresponding PR has been merged.
Can this issue be closed now ?

[2019-01-18 00:07] Ishitori opened #13925 "[Feature Request] Add Simple Recurrent Unit (SRU)"
## Description
Simple Recurrent Unit (SRU) is a new recurrent netowkr architecture that provides better parallelization compare to regular LSTM/GRU cells and in some cases better performance compare to CNN used for sequential data. The original code written in PyTorch + CUDA is open and available at https://github.com/taolei87/sru

It would be great to port this layer into MXNet as it seems to be

[2019-01-18 00:08] piyushghai commented on #13925
@mxnet-label-bot Add [Feature Request]

[2019-01-18 00:10] #13910 closed

[2019-01-18 03:07] #13786 closed

[2019-01-18 03:16] saudet commented on #12547
The JavaCPP Presets for MXNet now bundle the Scala API and binaries for Mac and CUDA are also available on Maven Central too: https://github.com/bytedeco/javacpp-presets/tree/master/mxnet

Please let me know if you encounter any issues with those!

[2019-01-18 05:57] jeremiedb commented on #13923
I'm not maintaining the officiel repo on AWS.

But as a quick hack, I keep up to date CPU/GPU installs here which should be compatible with R >= 3.5.0:
`install.packages("https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/CPU/mxnet.zip", repos = NULL)`

I'd guess the issue encountered was related to the installation for R <= 3.4 rather than Windows 7. Let me know otherwise.

[2019-01-18 12:16] TaoLv commented on #13913
@piyushghai Fixed by this check in #12530:
https://github.com/apache/incubator-mxnet/blob/master/src/ndarray/ndarray.cc#L1598

[2019-01-18 14:58] wkcn opened #13928 "MXNet 1.5.0 is slower than 1.3.0 when intputs are variant"
## Description
Hi! I have an experiment about Object Counting, which needs variant inputs.
I write the code with Gluon, and hybridize the model with `static_alloc=True`
I found there is obvious difference between MXNet 1.5.0 and MXNet 1.3.0, and I checked it on two servers.

~~I think the method of memory allocation for Gluon may be changed after MXNet 1.3.0.~~

Thanks!

Update:
When there are dil

[2019-01-18 16:00] gigasquid commented on #13838
There is now a opencv@3 available :)

[code]

[2019-01-18 17:07] gordon1992 opened #13929 "commons-codec/io part of `make scalapkg` output JAR"
This is related #13528 (which is referring to the inclusion of the Scala standard library).

The JAR output by `make scalapkg` (say mxnet-full_2.11-INTERNAL.jar) contains commons-codec (1.10) and commons-io (2.1).

This is causing classpath issues when depending on MXNet and commons-io directly.

In my specific case I depend on commons-io 2.5 but the commons-io 2.1 bundled by MXNet is shadowing my

[2019-01-18 17:33] piyushghai commented on #13913
Thanks!

[2019-01-18 17:34] piyushghai commented on #13913
Closing this issue as the fix is already in master branch.

[2019-01-18 17:34] #13913 closed

[2019-01-18 17:42] piyushghai commented on #13929
Hi @gordon1992 Thanks for posting this issue. @frankfliu Can you have a look here regarding the bundling of commons-codec and commons-io in the jar?

@mxnet-label-bot add [Scala]

[2019-01-18 17:48] frankfliu commented on #13929
@gordon1992
Thank you for looking into this issue. Your fix isn't a complete fix:
1. There are other dependencies will have the same issue.
2. The deployed pom.xml didn't declare those dependencies. Developer must manually add those dependencies in their project.

We will take a look and see what we can do to fix it.

[2019-01-18 17:52] piyushghai commented on #13928
@wkcn Thanks for raising this issue. The performance degradation is indeed concerning.
I'm labelling it so that the other community members can have a look at it.

@mxnet-label-bot Add [Gluon, Performance]

@szha Any thoughts here ?

[2019-01-18 17:53] larroy commented on #10856
I spent some time looking at this, I can say I understand what's the problem, this happens when the omp engine is initialized after destructors are called on thread creation. Usually involves the pthread_at_fork fiasco in initialize.cc

Iinitalization is triggered from __nptl_deallocate_tsd (); https://code.woboq.org/userspace/glibc/nptl/pthread_create.c.html#497

__kmp_team_pool is a volatile whi

[2019-01-18 17:55] larroy commented on #10856
What's worse is that when executing this test, you can easily create a segmentation fault, by hitting ^C so we are UB land:

[code]

[code]

[2019-01-18 17:56] nswamy commented on #7873
@kirk86 which conda environment are referring to? AFAIK we don't maintain conda packages, you could try to do `pip install -upgrade mxnet-cu92` inside the conda environment

[2019-01-18 18:47] perdasilva commented on #11359
@marcoabreu this issue can now be closed =)

[2019-01-18 19:03] aaronmarkham commented on #13920
I'm seeing a lot of errors in v1.3.x.

[code]
Were there functional changes to op.h, or would it be possible to push the recent docs fixes back to the older branches?

[2019-01-18 19:10] zhreshold commented on #13928
@wkcn
Performance:
MXNet 1.5.0: 20 images / sec
MXNet 1.3.0: 70+ images / sec

What are these numbers specifically? Training speed for Faster-RCNN? If so, what is the network?

[2019-01-18 19:39] adaaaaaa commented on #13928
what is the different between 1.3.0 and 1.5.0 on memory allocation?

[2019-01-18 20:16] Kurokokoro commented on #13923
I tried but installation had an error, I have precompiled binaries but no idea on how to implement it with RStudio.
In Windows 10 Mxnet worked in RStudio without installing OpenBlas as I remember

install.packages("https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/CPU/mxnet.zip", repos = NULL)

Still gives error:
`trying URL 'https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/CP

[2019-01-18 21:35] jeremiedb commented on #13923
@Kurokokoro Could you give another shot, I think I had failed to change the status to public.

[2019-01-18 23:14] wkcn commented on #13928
@piyushghai Thanks.
@zhreshold In my experiment, it's a fully convolutional network model(vgg16 without FC layers), whose inputs are variant.
I guess that the performance of faster r-cnn is also dropped in MXNrt 1.5.0.
I will check the performance of faster r-cnn, or write a minimum reproduce example.

[2019-01-18 23:36] Kurokokoro commented on #13923
It downloads:
`trying URL 'https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/CPU/mxnet.zip'
Content type 'application/zip' length 30382408 bytes (29.0 MB)
downloaded 29.0 MB`

But unfortunately gives the same error when trying to load library:
`Error: package ‘mxnet’ is not installed for 'arch = i386'`

[2019-01-19 00:10] wkcn commented on #13928
@adaaaaaa I don't know. I found the speeds are the same between two versions when input shapes are fixed.
In my code, I call 'hybridize()' first, then call 'hybridize(static_alloc=True)'.

[2019-01-19 00:17] jeremiedb commented on #13923
Oh I missed the 32 bits part. 32 bits isn't supported. Can't you use R 64 bits on Windows 7?

[2019-01-19 01:05] Kurokokoro commented on #13923
I missed that as well, I switched to 64 bit version and it works now.
Thank you very much :)

[2019-01-19 02:14] szha commented on #13928
what are the typical input sizes?

[2019-01-19 02:15] kirk86 commented on #4696
I still have this issue installing via pip `pip install mxnet-cu92` on a machine with multiple gpus throws error:
[code]

[2019-01-19 02:22] wkcn commented on #13928
@szha
In my experiment, the input size is (9,3,300 to 512,300 to 512), 9 is the batch size and 3 is the number of channels.
I will write a minimum reproduce example later.

[2019-01-19 02:31] szha commented on #4696
usually this happens when CUDA or GPU driver is not properly installed. are you able to run nvidia-smi successfully?

[2019-01-19 03:07] kirk86 commented on #4696
@szha thanks for the response but that's not the case. Everything works perfectly fine on this system, I literally mean everything, tensorflow, pytorch, you name it, except mxnet. The only possible combination that could work was `mxnet-cu90` and that still exits with errors in end after running any example script. Please try to make binaries available through conda like everyone else does. `pip`

[2019-01-19 05:15] eric-haibin-lin commented on #9857
It happened again. http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-13811/7/pipeline

[2019-01-19 13:13] wkcn commented on #13928
@zhreshold @szha
Hello! I have written a minimum reproducible example which doesn't need dataset.
[Code](https://gist.githubusercontent.com/wkcn/69f0f6d2ca467816dc481a00c225104f/raw/2899896f42a920ff0fde5ff93b9a16d16aec507f/test_fcn_for_mxnet.py)

I test it on a machine which owns Tesla M40 (21GB) x 4.
Here is the result:
MXNet 1.5.0: 10 images / sec
MXNet 1.3.0: 40+ images / sec

MXNet is installe

[2019-01-19 23:11] tahavarol opened #13936 "Unable to library the package "MXNet" in R 3.5.2 on Mac running OS X Mojave"
Hello, I have tried every way to install and load the MXNet package. However, I have the following issues:

library(mxnet)
Error: package or namespace load failed for ‘mxnet’:
 .onLoad failed in loadNamespace() for 'mxnet', details:
  call: dyn.load(file, DLLpath = DLLpath, ...)
  error: paylaşılan nesne '/Library/Frameworks/R.framework/Versions/3.5/Resources/library/mxnet/libs/libmxnet.so' yüklen

[2019-01-20 05:00] szha commented on #4696
Given that you have multiple versions of CUDA (and assuming NV drivers too), it might be caused by a mix-up of libraries from different versions being loaded.

Since you have CUDA 9.0, let's make that work first.
[code]

[2019-01-20 11:56] shadogray commented on #12993
to my knowledge this bug is fixed by https://github.com/azai91/incubator-mxnet/commit/b9b39059b39de6320e262a09d014d50dace84db3

[2019-01-20 11:56] #12993 closed

[2019-01-20 13:54] iblis17 opened #13941 "CI: Install Julia compiler on Windows slaves"
We are working on adding Julia into Windows CI chain (#13937).
In that PR, it downloads Julia compiler and install from scratch for each build.
It would be great if we preinstall Julia compiler on the slaves.

[2019-01-20 14:39] OElesin opened #13942 "Error using executing MXNet DataLoader"
When running the DataLoader I encounter a certain error which works from my MacBook and AWS Sagemaker. However, fails when I run the same with AWS Batch (which runs jobs in docker containers). See code below:
[code]

Error message:
[code]
Anyone with any ideas?

[2019-01-20 16:54] kirk86 commented on #4696
There are no NV drivers installed.

Yes that's the only version of `mxnet-cu90` which actually works. But it doesn't really explain why I can't use for instance `mxnet-cu92` because for instance with tensorflow or pytorch I can install which ever version of cuda I want on my conda environment and both pick up that particular cuda version installed on the conda environment and work pretty well.

Th

[2019-01-20 17:03] gigasquid commented on #13442
working on this one

[2019-01-20 18:45] piyushghai commented on #13936
@tahavarol Thank you for submitting the issue.
I'm tagging the experts in MXNet-R to help you out here.
@anirudhacharya @hetong007 @jeremiedb @ankkhedia Can you guys have a look at this ?

@mxnet-label-bot Add [R]

[2019-01-20 18:47] piyushghai commented on #13942
@OElesin Can you give more information about the system running the docker containers and information about the Docker Images being used?

@mxnet-label-bot Add [Python, Data-loading].

You can use the following script to give more information about the system :

[code]

[2019-01-20 19:34] OElesin commented on #13942
I actually had it resolved by upgrading mxnet-mkl from `1.2.1` to `1.3.1`.

Thanks

[2019-01-20 19:34] #13942 closed

[2019-01-20 20:14] marcoabreu commented on #10549
Awesome, thank you @saudet ! We'd be happy to assist you to get this ported into mainline. Please feel free to open a thread on dev@ as well :)

[2019-01-20 20:33] szha commented on #4696
I assume you meant that Nvidia drivers already exists on the platform, and that it's not installed through conda.

If you'd like to use cu92 version, currently the mxnet package relies on the users to install and make it available in `LD_LIBRARY_PATH`. It can be done through any runtime-environment management tool you like.

I will look into releasing mxnet and integrating with cuda toolkit on con

[2019-01-20 20:39] hetong007 commented on #4696
@kirk86 Would you please share what version of GluonCV and what command you were using? Also feel free to open a separate issue in GluonCV repository instead: https://github.com/dmlc/gluon-cv/issues/new

[2019-01-20 21:32] kirk86 commented on #4696
@hetong007 I haven't installed GluonCV, only `mxnet-cu90`:
[code]
This is the command I execute to train resnet on imagenet:
[code]
I didn't open this issue on GluonCV because I'm not sure if it's 100% related with GluonCV.

Also please notice the `--data-train` and `--data-valid` have to point to the `.rec` files otherwise it doesn't work which is contrary to example give [here](https://mxnet.inc

[2019-01-20 21:55] hetong007 commented on #4696
@kirk86 Sorry I misunderstood the reference of your `train_imagenet.py`, as this is irrelevant to GluonCV. Seems that you have MXNet 1.3.1 while the example script works for 1.4.0 and later versions. Could you update your mxnet and retry? Specifically the argument `base_lr` was added to `MultiFactorScheduler` after `1.3.0`.

On the `--data-train` part, @rahul003 would you share your knowledge on t

[2019-01-21 05:53] saudet commented on #10549
@marcoabreu It's more than just about MXNet on Mac or Windows though. It also about CUDA/cuDNN, OpenCV, MKL/MKL-DNN, Caffe, Deeplearning4j, TensorFlow, and (eventually) PyTorch, and how they interact. For details, read http://bytedeco.org/news/2019/01/11/importance-of-a-distribution/. How are the builds of MXNet for Java/Scala currently deployed to support CUDA, OpenCV, and MKL on Linux, Mac, and

[2019-01-21 09:12] 2void opened #13943 "mxnet read jpeg images give different values compared with other libs"
## Description
Hi, guys! I am a student and recently when my colleagues and I use `imread` in mxnet, version 1.3.1, we found a very strange phenomena. For some jpeg images, the RGB values mxnet read may possibly differ from the values read by other libraries, e.g. skimage, scipy, matplotlib. However, on mxnet, version 1.2.1, everything is fine.

## Environment info (Required)
Ubuntu 18.04, Python

[2019-01-21 09:59] weihua04 opened #13944 "how to Compute the eigenvalues and eigenvectors of ndarray/hidden layer?"
i want to compute the eigenvalues and eigenvectors of a hidden layer using mxnet, although i just know numpy can do this, i'm not sure mxnet have any methods to compute the eigenvalues and eigenvectors of a hidden layer,

thank u very much

[2019-01-21 10:45] mfiore opened #13945 "dataloader crashes with threads and slow downs with processes"
## Description
(sorry, long issue, should it be split in two for multiprocess and threads? I posted them together since I thought they might be related since part of the code is shared)

Hello, I'm trying to train an ssd network using gluoncv. My dataset is a record file loaded with RecordFileDetection and i'm using gluon.data.DataLoader with SSDDefaultTrainTransform (took most of the code from th

[2019-01-21 12:37] Arxemond777 opened #13948 "Cannot find mxnet-cpp/op.h (duplicate)"
This issue is reopen https://github.com/apache/incubator-mxnet/issues/9187 In this issue recommends use this tutorial https://mxnet.incubator.apache.org/versions/master/tutorials/c++/basics.html
Copy libmxnet.so to my /path/to/mxnet. I did it.
Also in this guide there is a such link "The generation should be done when building the C++ package."(https://mxnet.incubator.apache.org/versions/master/ge

[2019-01-21 12:41] wangliye00 opened #13949 "Error: shape inconsistent while converting PyTorch model to mxnet model with onnx"
## Description
I tried to convert a pretrained pytorch resnet18 to onnx format, then to mxnet model. But shape inconsistent error occurred when I load the onnx file with mxnet.contrib.onnx module.

## Environment info (Required)
- PyTorch 1.0, mxnet 1.3.0 (for windows)

[code]

[2019-01-21 13:04] erigmac opened #13950 "[ARM][Jetson] Make failed on Jetson TX2 (Jetpack 3.3, CUDA 9.0)"
## Description
Failed to compile on Jetson TX2 with Jetpack 3.3

INFO: nvcc was not found on your path
INFO: Using /usr/local/cuda-9.0/bin/nvcc as nvcc path

Killed
Makefile:471: recipe for target 'build/src/operator/tensor/ordering_op_gpu.o' failed
make: *** [build/src/operator/tensor/ordering_op_gpu.o] Error 137

## Environment info (Required)

----------Python Info----------
('Version      :',

[2019-01-21 14:03] Arxemond777 commented on #13948
I performed ```cmake -DUSE_CUDA=1 -DUSE_CUDA_PATH=/usr/local/cuda-9.2 -DCUDA_VERSION=9.2 -DUSE_CUDNN=1 -DUSE_MKLDNN=1 -DUSE_CPP_PACKAGE=1 -GNinja .``` with the CUDA_VERSION=9.2 key, but I still have error with running ```ninja -v```

[2019-01-21 14:07] apeforest commented on #11203
Cannot find any issue at MXNet operator level. Possibly due to the mshadow library function`unpack_patch2col` and `pack_col2patch` do not work correctly with dilation. Replacing them using the native MXNet function `col2im` and `im2col`

[2019-01-21 14:14] lebeg commented on #11359
@marcoabreu would you close this issue as it has been resolved?

[2019-01-21 21:01] yifeim opened #13951 "Gluon RNN memory leaks with extra variables"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-01-22 00:44] ThomasDelteil commented on #13948
@Arxemond777 the `USE_CPP_PACKAGE=1` is necessary only when building MXNet itself, this will generate your missing `op.h`

as for the missing architecture, I am not sure the architecture 61 is listed in the Makefile. I don't know why you are getting this error.

@lebeg what do you think of this? Is it CMAKE related?

[2019-01-22 04:45] MaAo commented on #9667
I met the same problem.Can anybody fix it ?

[2019-01-22 05:02] ChaiBapchya commented on #9667
Thanks for raising this issue.
Could you explain what use case do you need it for? What were you trying to achieve and using what command can I reproduce the error? I'll try to help you in that case.

[2019-01-22 06:47] FCInter opened #13953 "Perhaps a bug in mx.symbol.UpSampling"
## Description
I use `mx.symbol.UpSampling`. It reports error if I set `sample_type` to `nearest`. It works well if I set `sample_type` to `bilinear`.
In particular, when `sample_type='nearest'`, i.e., the code is as follows:
```out = mx.symbol.UpSampling(data=data,scale=16,sample_type='nearest')```
It reports an error saying that `Symbol.ComposeKeyword argument name data not found`
If I change th

[2019-01-22 07:06] piyushghai commented on #13943
@2void Thanks for raising this issue.
I'm labelling it so that other community members cab help out here.
@mxnet-label-bot Add [Python, Data-loading]

[2019-01-22 07:07] piyushghai commented on #13944
@weihua04 Thanks for posting this. This seems like a question to me and this can get more attention on the MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow others to learn as well.
Thanks!

@mxnet-label-bot Add[Question]

[2019-01-22 07:09] piyushghai commented on #13945
@mfiore Thanks for raising this. I'm labelling it so that other community members can help resolve this.

@mxnet-label-bot Add [Bug, Data-loading, Python]

[2019-01-22 07:10] piyushghai commented on #13948
@mxnet-label-bot Add [C++, Build]

[2019-01-22 07:12] piyushghai commented on #13950
@erigmac Thanks for raising this issue.
I'm labelling it so that other community members can help resolve it.

@mxnet-label-bot Add [ARM, Build]

[2019-01-22 07:13] piyushghai commented on #13951
@mxnet-label-bot Add [Gluon, Performance]

[2019-01-22 07:14] piyushghai commented on #13949
@wangliye00 Thanks for raising this issue.
I'm tagging MXNet ONNX experts to look at this. @Roshrini @vandanavk Can you have a look at this ?

@mxnet-label-bot Add [ONNX, Bug]

[2019-01-22 07:15] iblis17 opened #13954 "Julia v1.1 support"
Julia v1.1 just release .... about 3hr ago.
https://github.com/JuliaLang/julia/releases/tag/v1.1.0

[2019-01-22 07:58] apeforest commented on #13951
@mxnet-label-bot add [backend, cuda]

[2019-01-22 07:59] apeforest commented on #13951
@yifeim I am looking into this issue.

[2019-01-22 10:16] Bathilde commented on #10171
It seems with XCode 10 I don't have the issue anymore, I really don't know what happened since the name are generated by XCode.
Thank you for your time, I am closing the ticket

[2019-01-22 10:16] #10171 closed

[2019-01-22 13:37] lebeg commented on #13948
@Arxemond777 with the steps you provided it seems that you are building first with make and then with cmake. You could try to stick to either of the options:

1. Try to add a line before the make command:

[code]

This should generate you the `mxnet/op.h` file.

2. Or you the cmake command from the beginning and skip the make part.

[2019-01-22 16:06] mika-fischer opened #13956 "C API should *never* call abort()"
## Description
C-API functions should catch and report *all* errors instead of calling `abort()` for some errors.

## Environment info (Required)

This is independent of the environment and the problem is present in all releases and the master branch.

## Minimum reproducible example

Basically all uses of the `CHECK...` macros in functions called (even indirectly) from any of the C-API functions

[2019-01-22 17:06] aaronmarkham commented on #13831
Fixed with https://github.com/apache/incubator-mxnet/pull/13927
Note that this just turns of MKL-DNN for docs. It doesn't fix the subprocess issue.

[2019-01-22 17:06] #13831 closed

[2019-01-22 17:20] aaronmarkham commented on #13892
Fixed with https://github.com/apache/incubator-mxnet/pull/13921

[2019-01-22 17:20] #13892 closed

[2019-01-22 17:56] KellenSunderland opened #13958 "Windows builds running out of heap space"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-13917/9/pipeline

c:\program files (x86)\microsoft visual studio 14.0\vc\include\xlocnum(1144) : fatal error C1002: compiler is out of heap space in pass 2

jom: C:\jenkins_slave\workspace\build-cpu\build\CMakeFiles\mxnet.dir\build.make [CMakeFiles\mxnet.dir\src\operator\tensor\elemwise_unary_

[2019-01-22 17:59] lanking520 commented on #10549
@smpawlowski You may be interested in our publish pipeline: https://github.com/apache/incubator-mxnet/tree/master/ci/publish. We do a static-link on most of the dependencies and that will also include MKLDNN very soon. We require users to set up their own CUDA path.

[2019-01-22 18:30] aaronmarkham opened #13959 "website redirect loop on error pages"
## Description
The 404 error page is triggered when going to a missing page, but there's a redirect loop.

https://mxnet.incubator.apache.org/error/404.html

[2019-01-22 18:33] frankfliu commented on #13954
@mxnet-label-bot add [feature request]

[2019-01-22 18:37] frankfliu commented on #13956
@mxnet-label-bot add [Bug, c api]

[2019-01-22 18:38] frankfliu commented on #13958
@mxnet-label-bot add [Windows, CI, build, CMake]

[2019-01-22 22:49] sad- commented on #13025
@aaronmarkham can we close out this issue now. pr looks to be merged

[2019-01-22 23:16] zhreshold commented on #13928
@wkcn I've tested it using V100 x4
there's no visual difference between 1.3.1 release, 1.4.0b20181207 and 1.5.0b20190122 nightly, both around 140(+-20) images/sec

Actually I tested 1.3.1b20181001, it is slower (120+-20 images/sec on average) than any of the previous three builds. In summary, my experimental results are reversed version of @wkcn 's results.

[2019-01-22 23:19] saudet commented on #10549
@lanking520 For MKL-DNN, you'll be bundling MKLML which is ~30 MB, probably doubling the size of the artifacts, but what if the user wants to use the full version of MKL in their application? What about the features that require OpenCV, etc? Someone has to manage these dependencies. If MXNet does everything by themselves, it would prevent using these and other native libraries that conflict with t

[2019-01-22 23:19] sad- commented on #13127
@ThomasDelteil looks like you merged in the pr to address this. can this issue be closed?

[2019-01-22 23:22] lanking520 commented on #10549
@smpawlowski https://github.com/apache/incubator-mxnet/tree/master/tools/dependencies we have a set of libraries static-linked including OpenCV. We are keeping the up-to-date and aviod influencing the users' environment

[2019-01-22 23:27] #13127 closed, assigned to nobody

[2019-01-22 23:35] wkcn commented on #13928
@zhreshold Thank you！

It’s flaky.
I test it on the server with Ubuntu 14.04, Tesla M40(24G) x 4, CUDA 9.0.
When I remove all dilated convolutions （the dilation of convolution is greater than 1），there will be no obvious difference between MXNet 1.3 and 1.5

[2019-01-22 23:37] lanking520 commented on #10549
Recently we enable the Scala-Java users load `libmxnet.so` directly, this library contains all we need for the dependencies. We no longer require users to dynamic link them. However, we only do this for the nightly-snapshot and official versions from `1.4.x` and above. https://repository.apache.org/#nexus-search;gav~org.apache.mxnet

Apart from that, will you be interested in joining our Slack cha

[2019-01-23 00:04] TaoLv commented on #13875
@dabraude Can you confirm if the issue is still there with the environmental variable?

[2019-01-23 00:05] sad- commented on #13633
@ThomasDelteil please help close this issue

[2019-01-23 00:10] sad- commented on #13585
@safrooze also implemented Polyak Averaging a la wavenet and may be able to help.

[2019-01-23 00:53] zheng-da commented on #13363
thanks for notifying the problem. i'll take a look

[2019-01-23 01:21] aaronmarkham commented on #13025
Fixed with #13171

[2019-01-23 01:21] #13025 closed

[2019-01-23 02:10] saudet commented on #10549
@lanking520 I don't see in your documentation where it explains how users can call from Java/Scala the functions of OpenCV that are in `libmxnet.so`. In any case, I'm trying to explain that this isn't just about builds for Mac or Windows. This is also about, at least, CUDA, MKL, and OpenCV: They are not just dependencies that can be buried in MXNet. I would like to expand the discussion, but is th

[2019-01-23 03:30] matthewberryman opened #13965 "mxnet_coreml_converter unsupported type error"
## Description
[code]

## Environment info (Required)
[code]

Package used (Python/R/Scala/Julia):
Python.

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):
clang

MXNet commit hash:
Have installed via `pip install mxnet-to-coreml` which returns the following version numbers:
[code]

## Error Message:
Per description

## Minimum reproducible example & steps

[2019-01-23 03:36] leiyu1980 commented on #6644
这个问题依然存在。请问可以安排修复吗？

[2019-01-23 04:10] ZhennanQin commented on #13875
@aaronmarkham The log of build mkldnn file is expected on USE_MKLDNN=0. Because `USE_MKLDNN` is only used as c macro in those files, instead of Makefile source control. In other words to say, USE_MKLDNN won't change the source files collected to build, but change the mkldnn file contains seen by compiler.

[2019-01-23 05:39] marcoabreu commented on #13958
Interesting, haven't seen that one before. Considering we got ~300GB of Swap enabled on Windows instances, it surprises me that we are allegedly running out of memory.

Do you have an idea what this could be caused by or if Swap is not applicable to that usecase?

Also, I found something:

Source: https://social.msdn.microsoft.com/Forums/sqlserver/en-US/d2c4bb60-e558-4dc6-a0ba-47611d45bc86/c1002-c

[2019-01-23 06:04] stephenrawls opened #13967 "Hybrid Variable Pass Through [Bug]"
## Description
The following code shows correct gradient for the foo parameter prior to hybridization. But if you uncomment the call to `net.hybridize()` then the code does not find the correct gradient (it crashes, error message below).

[code]

The error message I get after uncommenting the call to hybridize is:
[code]

This is a contrived example, but we have a use case where we have a legitima

[2019-01-23 06:15] stephenrawls commented on #13967
P.S.

I forgot to mention that our current work around is to make the model perform some identify operation on the parameter. For example, if I change the hybrid forward function above to the following, then the code works correctly even in hybrid mode:

[code]

[2019-01-23 06:29] stephenrawls opened #13968 "Hybridization SequenceLast Bug"
## Description
I am experiencing a crash related to hybridization and the SequenceLast operator. It is currently consistently crashing for me, but others in team haven't been able to reproduce.

## Environment info (Required)

[code]

I'm using Python

Unfortunately I don't have a minimal reproducible example yet. Every time I try, the bug does not occur in my condensed example.

The problem I hav

[2019-01-23 07:04] stephenrawls opened #13969 "Hybridization Feature Request (better dynamic shape inference)"
Hi,

I'm starting to look into making certain NLP-style models and post-processing steps HybridBlocks, and I ran into a few pain points I wanted to bring up.

I basically have the K-best Viterbi algorithm implemented as a HybridBlock, however it has a very fundamental limitation: when I create it, various parameters like the value of "k", the batch size, and the output feature space are locked-in

[2019-01-23 09:20] dabraude commented on #13875
@TaoLv It didn't crash when running overnight so I assume it is working.

[2019-01-23 11:02] toufikoss opened #13970 "AttributeError: 'list' object has no attribute 'reshape'"
i have a error in this line of my code python:
AttributeError: 'list' object has no attribute 'reshape'

the code is
def feedforward(x, W1, W2, b1, b2):
 z1=np.dot(W1, x.reshape(4,1))+b1
 a1=relu(z1)
 z2=np.dot(W2, a1)+b2
 a2=sigmoid(z2)
 return z1, z2, a1, a2

[2019-01-23 13:02] leontalbot opened #13971 "clojure: cross-platform unique library dependency"
I am building a clojure library. I'd like to use MxNet in it.

I found these different dependencies I could use:
[org.apache.mxnet.contrib.clojure/clojure-mxnet-osx-cpu "1.3.1"]
[org.apache.mxnet.contrib.clojure/clojure-mxnet-linux-cpu "1.3.1"]
[org.apache.mxnet.contrib.clojure/clojure-mxnet-linux-gpu "1.3.1"]

Say I want to build a Clojure library that needs to use Clojure MXNet
I cannot tell if

[2019-01-23 17:36] frankfliu commented on #13970
@mxnet-label-bot add [question]

[2019-01-23 17:36] frankfliu commented on #13970
@mxnet-label-bot add [Python]

[2019-01-23 17:37] stephenrawls commented on #13956
I can add a second issue if desired, but I'd like to point out that the C++ API has the same problem.

https://github.com/apache/incubator-mxnet/blob/master/cpp-package/include/mxnet-cpp/executor.hpp#L77-L83

I am using the raw C API (i.e. not the C predict API) partly to avoid having abort called on me.

[2019-01-23 17:39] frankfliu commented on #13965
@mxnet-label-bot add [Python]

[2019-01-23 17:42] frankfliu commented on #13967
@mxnet-label-bot add [gluon]

[2019-01-23 17:42] MendelXu commented on #13199
has this issue been fixed?

[2019-01-23 17:44] frankfliu commented on #13968
@mxnet-label-bot [Gluon, operator]

[2019-01-23 17:49] frankfliu commented on #13969
@mxnet-label-bot add [gluon]

[2019-01-23 18:09] lanking520 commented on #13971
@gigasquid There are three issues inside:
- GPU and CPU are not compiled as the same types, GPU operators are compiled to `.cu` for CUDA acceleration. We cannot have a universal types in here
- OSX likes the target to `dylib` instead of `so` file. We cannot merge these too. Same with Windows likes `dll`.
- If we just put all files together, it will be large (Around 500 (GPU) + 60 (CPU) + 60 (OSX)

[2019-01-23 19:09] zhreshold commented on #13928
@wkcn

THanks for the update, can be resolve this issue?

[2019-01-23 19:09] hetong007 commented on #13859
@lichen11 instead of removing your `.libPaths()` , how about you install `roxygen2` in your Rstudio server too?

[2019-01-23 22:17] wkcn commented on #13928
@zhreshold solved. Thank you！

[2019-01-23 22:23] safrooze commented on #13713
@aaronmarkham Have you looked at this issue to see where it would fit on the website?

[2019-01-23 22:40] apeforest commented on #11203
Confirmed that the bug is in `unpack_patch2col` and `pack_col2patch` when dilation is specified. Replacing them with `col2im` and `im2col` resolved the bug. PR coming out soon.

[2019-01-23 22:44] ThomasDelteil commented on #13580
See https://github.com/dmlc/web-data/pull/152 and https://github.com/apache/incubator-mxnet/pull/13973

[2019-01-23 22:54] sad- commented on #12518
@aaronmarkham has the fix for this gone out yet?

[2019-01-23 23:02] thomelane commented on #13301
Was going to suggest updating the submodules, but just spotted you've already done that. You did something like this?

[code]
@yzhliu couldn't find any reference to `tvm/runtime/packed_func.h` in the past for tvm. any idea where it came from?

[2019-01-23 23:09] sad- commented on #11867
echoing @piyushghai are there still pending updates for this? @sandeep-krishnamurthy @haojin2 can this be closed now?

[2019-01-23 23:11] safrooze commented on #11557
@dmidge8 one option for managing logs when they're all enabled would be to use a log viewer like [glogg](https://glogg.bonnefon.org/).

[2019-01-23 23:14] ThomasDelteil commented on #11867
closing for now, please reopen with details of what needs to be updated if necessary, thanks

[2019-01-23 23:14] #11867 closed

[2019-01-23 23:18] #10409 closed

[2019-01-23 23:19] ThomasDelteil commented on #10064
@sxjscience any update on that? Thanks!

[2019-01-23 23:20] thomelane commented on #12828
@aaronmarkham reckon we could just add links to the headers in the markdown `docs/api/python/index.md`? Since the headers are getting added to the top level of the navigation tree.

So `## Autograd API` -> `## [Autograd API](autograd/autograd.md)`

Also, for Autograd and Contrib, there's nothing underneath so wonder if we wanted to avoid generating the tree at all, and just use headers?

[2019-01-23 23:21] Fiend1213 opened #13976 "Problem of exporting FP16 SyncBN model."
## Description
This is a problem when exporting fp16 model containing SyncBN.

[code]

## Error Message:
[code]

[2019-01-23 23:32] #12393 closed

[2019-01-23 23:33] NRauschmayr commented on #10518
Here is a work-in progress example https://github.com/seujung/WaveNet-gluon

[2019-01-23 23:37] vishaalkapoor commented on #11100
What are the outstanding issues for this issue? Can we have a checklist so that it is easier to keep track of progress?

Adding a few names for visibility:  @lebeg @aaronmarkham @piyushghai

[2019-01-23 23:40] sad- commented on #12576
@xiaolin-cheng were you able to implement what you needed with the generated c++ documentation? if you were, you can contribute your code as an example for distributed training with c++

[2019-01-23 23:40] thomelane commented on #10395
One option for deploying MXNet models is via TVM. See https://docs.tvm.ai/deploy/android.html

[2019-01-23 23:40] #10003 closed

[2019-01-23 23:41] Ishitori commented on #10395
And the second one is here: https://github.com/Leliana/WhatsThis

[2019-01-23 23:41] ThomasDelteil commented on #10937
@leleamol could you pick this up ? Thanks!

[2019-01-23 23:44] ThomasDelteil commented on #10395
There is also this, https://mxnet.incubator.apache.org/versions/master/faq/smart_device.html
You can also try the arm build with the java bindings
@larroy can maybe shed more light

[2019-01-23 23:44] #10395 closed

[2019-01-23 23:51] ThomasDelteil commented on #7973
@leleamol is it still an issue?

[2019-01-23 23:51] vishaalkapoor commented on #8715
@piiswrong does https://github.com/apache/incubator-mxnet/pull/5922/files cause '=_Null' in the docs? Does _repr_ need to be '_Null' rather than 'None'?

[2019-01-24 00:13] aaronmarkham commented on #12518
No, I don't think it has. I can't see any updates for it. These are also missing on beta.mxnet.io.

[2019-01-24 00:13] samskalicky commented on #13976
Hi @Fiend1213,

Can you provide the rest of the info from the issue template to help us debug?
## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):

## Build info (Required if built from source)
Compiler (gcc/clang/mingw/visual studio):
MXNet commit hash:
(Paste the output of `git rev-parse HEAD` here.)
Build config:
(Paste the content of config.mk, or the build command.)

[2019-01-24 00:15] aaronmarkham commented on #13713
Assuming we had the content, I think it link from the Ecosystem page... create a new section there.

[2019-01-24 01:11] ThomasDelteil commented on #9742
available here: http://d2l.ai

[2019-01-24 01:11] #9742 closed

[2019-01-24 01:11] #13410 closed

[2019-01-24 01:12] #7359 closed

[2019-01-24 01:39] samskalicky commented on #13976
Thanks @Fiend1213, i tried commenting out this line:

[code]

and then change this line:

[code]

and the script completed. Obviously this means its not doing it in float16, but at least its succeeding. Im building from source using your build flags now, will try rerunning and debugging in to try see what the issue is.

[2019-01-24 06:40] lichun-wang commented on #12795
i use mxnet 1.3.0 also meet this problem, In my code ,it was caused by code  ' sym.get_internals()', after I deleted it , then it can run .

[2019-01-24 08:34] Arxemond777 commented on #13948
Thanks. 1st item works for me.
At first I just add
`echo "USE_CPP_PACKAGE = 1" >> ./config.mk`
and tried `make all` in `~/Downloads/incubator-mxnet/cpp-package/example/inference` and I had a such error

but after it I run `ninja -v` in `~/Downloads/incubator-mxnet/` and did again `make -j 15` in `~/Downloads/incubator-mxnet/cpp-package/example` and example from `~/Downloads/incubator-mxnet/cpp-pac

[2019-01-24 08:35] mika-fischer commented on #13956
I'll note that even the raw C API (i.e. not the C predict API) has this problem in quite a few places, though they seem to be less easy to trigger.

E.g. https://github.com/apache/incubator-mxnet/blob/0a45e1a222637c7dee29511cbfc43e594571933b/src/c_api/c_api_executor.cc#L358

[2019-01-24 08:35] #13948 closed

[2019-01-24 17:16] frankfliu commented on #13976
@mxnet-label-bot add [gluon]

[2019-01-24 17:56] stephenrawls commented on #13956
Good point...lots of places to clean up if we want to remove the possibility that abort() gets called on us.

Turns out it's also in the underlying library code implementing e.g. operators:
https://github.com/apache/incubator-mxnet/blob/0d480fbe1534d1c1228bf2c7470018ae06cbac37/src/operator/tensor/init_op.h#L121-L123

I am in the process of putting MxNet into a production environment, and it would

[2019-01-24 18:45] #12779 closed

[2019-01-24 19:58] thomelane commented on #13301
Yizhi confirmed. So worth check to see if [this file](https://github.com/dmlc/tvm/blob/master/include/tvm/runtime/packed_func.h) exists after submodule update.

[2019-01-24 20:16] yx3zhang opened #13982 "Unnecessary requirement"
https://github.com/apache/incubator-mxnet/blob/4c88f3049695b9c751a6d1a228853f18b2733358/scala-package/core/src/main/scala/org/apache/mxnet/IO.scala#L376

Hi, I believe this line is unnecessary and it is currently messing some of my code from 1.1 up when upgrading to 1.3

[2019-01-24 20:17] yx3zhang commented on #13982
A warning should suffice for this.

[2019-01-24 21:33] ChaiBapchya commented on #13982
Thanks for pointing out. Curious to know why is this unnecessary? What error are you getting in 1.1? The reason why it must be in `require` is If it is needed for some computation (I'm guessing).

[2019-01-24 21:34] ChaiBapchya commented on #13982
@mxnet-label-bot add [Scala]

[2019-01-24 21:42] yx3zhang commented on #13982
I essentially have similar setup as sockeye but in Scala. I train model in Sockeye then migrate to Scala's RNN classes I wrote, but I borrowed some code from Sockeye.

Specifically this line where layout = "NT" but batchsize * beamsize will be a 1 by N.

https://github.com/awslabs/sockeye/blob/a5fe6d6d672f590b4de517b61eff6f51ca97de76/sockeye/inference.py#L275

[2019-01-24 21:42] ChaiBapchya commented on #13970
As it is a list, it can't be reshaped.
Convert it into a numpy array and then use it's reshape function.
i.e. `np.array().reshape()`
So above feedforward function will look like -
[code]

[2019-01-24 22:05] lanking520 commented on #13982
@yx3zhang Thanks for reporting this issue. This requirement method introduced in 1.2 and improved in 1.3. We plan to make the layout as a requried field for DataDesc. Due to the backward compatibility, we add a `undefined` placeholder here. Please feel free to pass the `UNDEFINED` if you don't want this be in the model. Please let me know if you are facing more issues like that and bring some code

[2019-01-24 22:13] yx3zhang commented on #13982
The same check is not in the Python io.py I believe even in 1.3, why having it in Scala?

[2019-01-25 00:43] aaronmarkham commented on #12828
@thomelane That's a great idea - did you try it or are you speculating?
Generation of the tree is automatic, but then tampered with by a variety of client side hacks... so I'm reluctant. Each time I try untangling the mess 🍝  in the js, horrible 👹 things happen.

[2019-01-25 00:51] aaronmarkham commented on #12518
@IvyBazan - can you please take a look at this one?

[2019-01-25 05:18] hey-yahei opened #13986 "[Quantization]'Symbol' object has no attribute 'get_backend_symbol'"
## Description
I've  tried to run the [example of quantization](https://github.com/apache/incubator-mxnet/tree/master/example/quantization), but it shows that --

So why **Symbol** class in ***mxnet-cu92mkl*** has no attribute **get_backend_symbol**?
And how can I use `imagenet_gen_qsym_mkldnn.py` to quantize my model?
Thanks.

## Environment info (Required)
----------Python Info----------
Version

[2019-01-25 05:29] yuyijie1995 opened #13987 "找不到setupenv.cmd文件"
![image](https://user-images.githubusercontent.com/30818917/51727046-22f9ce00-20a5-11e9-8fa9-74fa3cf7d804.png)
下载页面只能下载源码，并没有预编译包，请问是怎么回事

[2019-01-25 05:29] mlourencoeb opened #13988 "Using NaiveEngine with Unix fork() hangs during prediction."
Hello everyone,

I need to have single thread process running and performing prediction. After using defaut engine type and setting CPU thread environment variables to 1, I always end up with 2 threads. The only way I could achieve achieve single thread execution is using NaiveEngine.

In this particular context I must use fork() for paralelization but with NaiveEngine it simply just hangs during

[2019-01-25 05:37] yuyijie1995 opened #13989 "How can I download the precompiled package ?"
I want to use C++ edition MXNET ,but I do not find the precompiled package

[2019-01-25 08:53] mahmoodn opened #13991 "Telling about libopenblas to mxnet config files"
Trying to compile mxnet from source, I use the following command

`sudo make -j 4 USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1`

I also have installed OpenBLAS from source and it is there in my home

[code]
However, I don't know where should I tell mxnet to use my libopenblas. I didn't find a clear answer for that in the documents. Any guide?

[2019-01-25 10:03] TaoLv commented on #13991
Try to add the path of binaries to LD_LIBRARY_PATH and path of headers to CPATH.

[2019-01-25 11:49] aashudwivedi commented on #13853
@piyushghai The error still persists. You can reproduce it by un-commenting the  test = `run spark with MLP` with it's related methods in the file `org/apache/mxnet/spark/MXNetGeneralSuite.scala`

Also, the latest version in master doesn't respect the `-Djava.library.path` or `LD_LIBRARY_PATH_VARIABLES` and only picks up the native files from the jar (which doesn't seem to have these files). So to

[2019-01-25 12:13] mahmoodn commented on #13991
Excuse me. What is that CPATH? I can not see that in make/config.mk

[2019-01-25 12:34] TaoLv commented on #13991
@mahmoodn
[code]

[2019-01-25 12:41] aashudwivedi commented on #13853
The complete stack trace of the error is :
`Testing started at 6:07 PM ...
/Library/Java/JavaVirtualMachines/jdk1.8.0_181.jdk/Contents/Home/bin/java -Djava.library.path=/Users/ashutdwi/ora/opensource/incubator-mxnet/scala-package/native/osx-x86_64-cpu/target "-javaagent:/Applications/IntelliJ IDEA CE.app/Contents/lib/idea_rt.jar=55436:/Applications/IntelliJ IDEA CE.app/Contents/bin" -Dfile.encodin

[2019-01-25 13:03] mahmoodn commented on #13991
OK. That has been passed. However, there is another error about omp

[code]

[2019-01-25 14:10] TaoLv commented on #13991
Cannot reproduce that on my machine with either GCC 4.85 or GCC 7.2.1. From the error message, it looks like your openblas is using a different version of omp or is built with different version of compiler.

[2019-01-25 14:10] TaoLv commented on #13991
BTW, seems opencv is also missing.

[2019-01-25 15:02] mahmoodn commented on #13991
I am using Ubuntu 18.04 with gcc-7.3.0 and cuda-10
Also, I downloaded OPneBLAS-0.2.20 and built from source.
So, OpenBLAS is built with gcc-7.3.0

[2019-01-25 15:22] adrianloy commented on #9712
I got the same error and stumbled on this issue. I think another and maybe cleaner way that solved the error for me was to do
`autograd.backward(list_of_loss_arrays)`
In your case it should be possible to do
`autograd.backward([t_xentropy_losses, s_xentropy_losses])`

Just commenting to help others who come across this. If anyone knows why
[code]
doesnt work, let me know. Its weird because i got t

[2019-01-25 16:20] gigasquid commented on #13580
Thanks @ThomasDelteil !

[2019-01-25 16:20] #13580 closed

[2019-01-25 17:31] frankfliu commented on #13986
@mxnet-label-bot [Python, Question]

[2019-01-25 17:32] frankfliu commented on #13987
@mxnet-label-bot [build, question]

[2019-01-25 17:35] frankfliu commented on #13987
@yuyijie1995
If you want to install mxnet binary for python, you should use following command:
[code]

See: http://mxnet.incubator.apache.org/versions/master/install/index.html?platform=Linux&language=Python&processor=CPU

[2019-01-25 17:36] frankfliu commented on #13988
@mxnet-label-bot add [Question]

[2019-01-25 17:37] frankfliu commented on #13989
@mxnet-label-bot add [question, C++]

[2019-01-25 17:39] frankfliu commented on #13989
@yuyijie1995
For C++ API, you have to build from source.
See: https://github.com/apache/incubator-mxnet/tree/master/cpp-package

[2019-01-25 17:40] frankfliu commented on #13991
@mxnet-label-bot add [build, question]

[2019-01-25 18:06] eric-haibin-lin commented on #13986
Can you try the nightly version by pip install mxnet-cu92mkl --pre -U?

[2019-01-25 23:44] ChaiBapchya commented on #13965
@matthewberryman
Upon digging in the file https://github.com/apache/incubator-mxnet/blob/master/tools/coreml/converter/_mxnet_converter.py

I found that : Most likely reason why it's giving `unsupported type error` is because in your __image-classification-symbol.json__
[code]
is mentioned

Your error is thrown because of this line
https://github.com/apache/incubator-mxnet/blob/5dc138d95f6ac302e3f

[2019-01-26 00:04] #12807 closed

[2019-01-26 00:34] ChaiBapchya commented on #13944
@weihua04
Our discussion forum is a good place for these questions. But regardless, here's the answer
On our documentation - https://mxnet.incubator.apache.org/api/python/ndarray/linalg.html
`mxnet.ndarray.linalg.syevd` seems to be the function for your usecase.

Documentation on the website also gives the following 2 examples
[code]

Hope this helps.

[2019-01-26 00:42] zboldyga commented on #13227
Just filed it: https://github.com/apache/incubator-mxnet/pull/13994 😄

[2019-01-26 01:04] yuyijie1995 opened #13996 "Make error"
When I want to build cpp package ,this error below just happened.
g++ -std=c++11 -DMSHADOW_FORCE_STREAM -Wall -Wsign-compare -O3 -DNDEBUG=1 -I/home/users/yijie.yu/yuyijie/mxnet/3rdparty/mshadow/ -I/home/users/yijie.yu/yuyijie/mxnet/3rdparty/dmlc-core/include -fPIC -I/home/users/yijie.yu/yuyijie/mxnet/3rdparty/tvm/nnvm/include -I/home/users/yijie.yu/yuyijie/mxnet/3rdparty/dlpack/include -I/home/use

[2019-01-26 01:35] yuyijie1995 commented on #13996
When I  #include "mxnet-cpp/MxNetCpp.h" ,and this error happened ,fatal error:mxnet/c_api.h:No such file or directory...

[2019-01-26 01:40] yuyijie1995 commented on #9763
@meanmee  I met the same problam like you .Have you solved it?

[2019-01-26 01:45] yuyijie1995 commented on #9763
@nicklhy  Hi , I have the same problem like you, but I do not understand “Thus, I have to add a lot more dirs to avoid the similar errors:” . I mean where to add these infomation ,I still confused about it .

[2019-01-26 06:45] jiangzhengkai opened #13997 "Mxnet runtime profile for each layers in details"
Hi, Anyone can tell me to use profiler for runtime of each layer for symbol network?

[2019-01-26 07:57] eric-haibin-lin commented on #13709
sorry I’ve been busy with a submission deadline. Did you test with fixed input to see if it’s not bottlenecked by data loading ?

[2019-01-26 14:54] TaoLv commented on #13997
Have you ever read this tutorial? https://mxnet.incubator.apache.org/versions/master/tutorials/python/profiler.html

[2019-01-27 02:46] jiangzhengkai commented on #13997
@TaoLv Yes, But from the json file, Only layers time shows, not exactly each layer

[2019-01-27 05:36] matthewberryman commented on #13965
_copy is an mxnet operator (see e.g. https://github.com/apache/incubator-mxnet/blob/25e915bd401f7ac4c639c935f775deccebec96d3/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py#L720 ) and above json snippet in https://github.com/apache/incubator-mxnet/issues/13965#issue-402055380 is what I am getting from mxnet.

Either there a way of telling mxnet to avoid using the _copy operator, in which cas

[2019-01-27 05:50] szha commented on #13968
@stephenrawls thanks for reporting the bug. If it's hard to reproduce the error, you may consider setting this environment variable: `MXNET_ENGINE_TYPE=NaiveEngine`. This causes all computation to be synchronous and the stacktrack should reveal where the error is raised.

[2019-01-27 06:11] szha commented on #12649
It's now possible to use different type on index thanks to @stephenrawls's contribution.

[2019-01-27 06:11] #12649 closed

[2019-01-27 06:13] szha commented on #13956
@mika-fischer @stephenrawls thanks for the suggestions. Since this requires potentially large change, I'd suggest that we get more attention on this by writing to [dev@mxnet.apache.org](https://lists.apache.org/list.html?dev@mxnet.apache.org).

[2019-01-27 06:18] stephenrawls opened #13998 "expand_dims() makes copy instead of simply reshaping"
Hi,

Not sure if this is expected behavior or a bug, but I noticed somewhat surprisingly that all `expand_dims()` calls in some code we were writing were making full copies of the underlying array we were expanding. In our case, the only reason to expand was to be able to broadcast arithmetic operations correctly, and it is unacceptable to make a copy. Our current work around is to use reshape dir

[2019-01-27 06:37] szha commented on #13956
By default, those checks should be throwing instead of calling `abort()`.
https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/logging.h#L25-L26

It will abort only when `defined(_LIBCPP_SGX_NO_IOSTREAMS)`
https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/logging.h#L351
or when `DMLC_LOG_FATAL_THROW` is explicitly set to 0.
https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/

[2019-01-27 09:53] zhizec opened #13999 "Build Mxnet C++ failed with "nvcc fatal : Unsupported gpu architecture 'compute_92'""
Hi

I want build mxnet c++ from source with GPU 1060 6g and cuda9.2 on Win10， but report:

Building NVCC (Device) object CMakeFiles/cuda_compile_1.dir/src/common/Release/cuda_compile_1_generated_random_generator.cu.obj
  nvcc fatal   : Unsupported gpu architecture 'compute_92'
  CMake Error at cuda_compile_1_generated_random_generator.cu.obj.Release.cmake:222 (message):
    Error generating
    D:

[2019-01-27 20:13] mahmoodn commented on #13991
OK. There was a problem with the `apt` that prevented me to install libopencv and libopenblas from repositories. Installation from source wasn't successful for these libraries.

I will close this issue and open another problem!

[2019-01-27 20:13] #13991 closed

[2019-01-27 20:17] mahmoodn opened #14002 "error: ‘__cpuid’ was not declared in this scope"
It the latest version compatible with CUDA 10? I get the following error during the build:

[code]

Some information about system specs are presented below

[code]
Any guess?

[2019-01-27 21:06] fhieber commented on #13862
Hoping to get some activity on this.
I bisected the nightly builds to figure out, when this bug was introduced.
- `mxnet==1.3.1b20181005` is fine
- `mxnet==1.3.1b20181010` contains the bug
Assuming that builds are roughly reflecting merge dates of PRs, the bug must be introduced some time between October 5th and October 10th.

There is no code change in the ravel.* files or the unravel_index op it

[2019-01-27 21:13] Kurokokoro commented on #13923
Yes please, thanks for help again

[2019-01-27 22:18] ChaiBapchya commented on #13965
Yes, copy is an MXNet operator. My previous comment doesn't deny that.
But coreml convertor takes in layers as defined in

[incubator-mxnet/tools/coreml/converter/_layers.py](https://github.com/apache/incubator-mxnet/blob/5dc138d95f6ac302e3f0e1c9dc9dcb774d83f69e/tools/coreml/converter/_layers.py)

Only 12 layers are currently mentioned here which can be converted from MXNet to CoreML, at the momen

[2019-01-27 22:22] ChaiBapchya opened #14003 "[Feature Request] Add copy operator to MXNet to CoreML convertor"
As revealed in the issue #13965 currently only 12 operators are supported to convert from MXNet to CoreML.
[code]
Based on the user request, we could add `copy` and similar commonly needed ops as well in this file

[incubator-mxnet/tools/coreml/converter/_layers.py](https://github.com/apache/incubator-mxnet/blob/5dc138d95f6ac302e3f0e1c9dc9dcb774d83f69e/tools/coreml/converter/_layers.py)

@mxnet-la

[2019-01-28 00:05] wittyalias opened #14004 "unable to load mxnet library in R"
Possibly related to the issues in [#13952](https://github.com/apache/incubator-mxnet/pull/13952).

I've followed the [instructions ](https://mxnet.incubator.apache.org/versions/master/install/index.html?platform=MacOS&language=R&processor=CPU) to install CPU version of MXNet for R on MacOS (10.14.2).
I successfully install openblas (0.3.5) and opencv (4.0.1) via brew using
[code]
Also, added the s

[2019-01-28 02:35] dbsxdbsx opened #14005 "Hope to add a new (RNN)lstm interface for C++"
At present, I see that it still too difficult to build network in C++ with MXNET.   The example I got here：https://github.com/apache/incubator-mxnet/blob/master/cpp-package/example/charRNN.cpp

looks  too complex.

Therefore, I hope there could  be a simple interface to build RNN in C++.

[2019-01-28 02:59] stephenrawls commented on #13956
Good catch, sorry for the confusion. Can't speak for @mika-fischer, but as for me, I dug through the various layers until I saw `abort()` in the code and didn't pay close enough attention to the #if/#elif preprocessor declarations.

My other complaint about the c++ api is that it doesn't always check the return status of its C API calls. But that issue is much easier to detect and fix, I will put

[2019-01-28 03:30] nicklhy commented on #9763
@yuyijie1995 you can check the make/cmake files in the examples, something like [this](https://github.com/apache/incubator-mxnet/blob/da5242b732de39ad47d8ecee582f261ba5935fa9/cpp-package/example/Makefile#L31).

[2019-01-28 03:31] yuyijie1995 commented on #9763
Thanks a lot

| |
俞依杰
|
|
邮箱：13588280094@163.com
|

签名由 网易邮箱大师 定制

On 01/28/2019 11:30, nicklhy wrote:

@yuyijie1995 you can check the make/cmake files in the examples, something like this.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-01-28 03:50] frankfliu commented on #13996
@mxnet-label-bot add [question, build, C++]

[2019-01-28 03:52] frankfliu commented on #13997
@mxnet-label-bot add [question, profiler]

[2019-01-28 03:53] frankfliu commented on #13998
@mxnet-label-bot add [question, operator]

[2019-01-28 03:54] frankfliu commented on #13999
@mxnet-label-bot add [build, Windows, cuda]

[2019-01-28 03:55] frankfliu commented on #14002
@mxnet-label-bot add [cuda, build]

[2019-01-28 03:57] frankfliu commented on #14003
@mxnet-label-bot add [feature request]

[2019-01-28 03:59] frankfliu commented on #14004
@mxnet-label-bot add [build, R]

[2019-01-28 03:59] frankfliu commented on #14005
@mxnet-label-bot add [feature request, c++]

[2019-01-28 06:42] iblis17 commented on #13954
yeah, the PR #12845 has been merged. It will be published with 1.5.x release.

[2019-01-28 07:42] eric-haibin-lin commented on #13954
We should let the Julia community know this awesome work!

[2019-01-28 07:48] Isa-rentacs commented on #12734
Hi @leleamol, thank you for working on this, I've added several comments to your PR.

[2019-01-28 07:55] IrinaMax commented on #10791
I have the same error as JiaxiangBU.
Followed installation on brew and then got error:

[code]

 Then in R-studio :

[code]
`> library("mxnet", lib.loc="/Library/Frameworks/R.framework/Versions/3.5/Resources/library")
Error: package or namespace load failed for ‘mxnet’:
 .onLoad failed in loadNamespace() for 'mxnet', details:
  call: dyn.load(file, DLLpath = DLLpath, ...)
  error: unable to load s

[2019-01-28 08:26] IrinaMax opened #14008 "Can not install mxnet at R-studio"
I have the same error as JiaxiangBU.
Followed installation on brew and then got error:
[code]
Then in R-studio :

[code]
What's wrong? It used to work on the previous  version of Rstudio.

[2019-01-28 09:09] mika-fischer commented on #13956
Yes, same here. I think I've seen the pip installed mxnet abort on me before and the stack trace in the error message confused us. But in fact an exception is thrown as you say. So this can be closed. Sorry for the noise.

[2019-01-28 09:20] zhizec commented on #13999
I try uninstall cuda9.2 and replace with cuda8.0, now can compile, but slow and finally report:

fatal error C1002: compiler is out of heap space in pass 2.

Do you know how to fix it? Seems other guys also saw this issue...  Thank you.

[2019-01-28 10:03] weihua04 commented on #13944
@ChaiBapchya ,thank u very much for reply. I'll post question  on the MXNet discussion forum later.
      i have seen mxnet.ndarray.linalg.syevd ,but it only support the symmetric matrix, if the matrix is asymmetric how to solve?
      i resolved this problem by using ".asnumpy()", and then using " .eig(T)" support by numpy ,but i found it run really slow.
     do u have any good idea to solve it?

[2019-01-28 10:23] coderzbx commented on #7088
@meanmee how to resolve this problem?Thank you~

[2019-01-28 10:36] diggerdu opened #14009 "`reset_ctx` on gpu is desperately slow"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-01-28 16:20] njw0709 opened #14010 "Mxnet 1.3 build for Raspberry Pi with MacOS + Docker fails"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-01-28 16:22] njw0709 commented on #14010
Here is my docker version:
Docker version 18.09.0, build 4d60db4

[2019-01-28 18:13] safrooze commented on #13997
The profiling results are not separated by layer, but rather by operation. In the [View in browser](https://mxnet.incubator.apache.org/versions/master/tutorials/python/profiler.html#view-in-browser) section of the tutorial mentioned above, you can see every operator execution on a timeline, which allows you to gain a complete understanding of how operators are executed by the engine. Please close

[2019-01-28 18:17] #13959 closed

[2019-01-28 18:17] #13920 closed

[2019-01-28 18:58] satyakrishnagorti opened #14011 "PolyScheduler, CosineScheduler and MultiFactorScheduler in Scala feature request."
Noticed these were missing in Scala. I might contribute if I find some time one of these days.

[2019-01-28 20:04] ddavydenko commented on #10867
@andrewfayres , could you please take a look and test again whether this memory leak issue is fixed with Phantom references implementation?

[2019-01-28 20:04] samskalicky commented on #13976
Hi @Fiend1213

The current implementation of Synchronized Batch Normalization (SyncBN) does not support FP16 training. Since you're use-case is just for inference, SyncBN has exactly the same behavior as BN during inference. Therefore, just replace SyncBN with regular nn.BatchNorm to resolve your problem.

[2019-01-28 20:09] lanking520 commented on #12547
@mariussoutier Currently, we made Scala available to use libmxnet.so directly. As long as you configured CUDA path correctly and build the .so file, you will be able to build scala package by doing `mvn package`

[2019-01-28 20:12] lanking520 commented on #12553
@mariussoutier Currently we do support `18.04` now since we successfully get it static linked. Please feel free to try it again. Close this issue for now.

[2019-01-28 20:12] #12553 closed

[2019-01-28 20:16] sam-h-bean commented on #13403
No, go ahead and close this out.

[2019-01-28 20:17] lanking520 commented on #13403
Thanks

[2019-01-28 20:17] #13403 closed

[2019-01-28 20:19] jessebrizzi commented on #10867
@zachgk  Sorry for the late response, I had to find some time to run through my tests.

I modified my repo (https://github.com/jessebrizzi/MXNet-Bug) with the example code for the memory leak bug to use the snapshots published in the Nightly Repo https://repository.apache.org/#nexus-search;gav~org.apache.mxnet
and include a Dockerfile that sets up an image to test my code with the nightly builds (

[2019-01-28 20:20] lanking520 commented on #13982
It is used for the Predictor API and it contains more concrete data possible. Please let me know if you would like to make it better.

[2019-01-28 20:24] lanking520 commented on #12565
@apeforest @anirudh2290 Do you have any plan for this?

[2019-01-28 20:30] piyushghai commented on #14011
@satyakrishnagorti Welcome to the MXNet community.
We would welcome contributions from you. In case you need any help and assistance, please feel free to reach out to the community on https://the-asf.slack.com (#mxnet-scala channels)

[2019-01-28 22:35] jessebrizzi commented on #10867
Updated https://github.com/jessebrizzi/MXNet-Bug to support testing with the released MXNet 1.3.1, 1.4.0-SNAPSHOT, and 1.5.0-SNAPSHOT

The bug exisist in 1.3.1 (this was already known), running https://github.com/jessebrizzi/MXNet-Bug/blob/master/scala/TestBug.scala for 10000 forward passes of random input resizes leads to over of 6gb of system memory used and climbing when using the GPU.
Htop att

[2019-01-28 22:43] andrewfayres commented on #10867
Thanks @jessebrizzi, I'll use your tests on my end to reproduce and try to resolve this.

[2019-01-28 23:02] lupesko commented on #7592
@idealboy this issue has been open with no activity for over a year now.
Is it still relevant?
If it is - please add more context and details, including training code in MXNet and Caffe, so the community can try and help. Otherwise - I suggest you close the issue. Thanks!

[2019-01-28 23:08] lupesko commented on #6846
@langwei bouncing again for an update as asked in Nov 2018.
If this is no longer an issue, please close. Thanks!

[2019-01-28 23:11] lupesko commented on #8071
@Jiayuan-Gu this issue has been open for a long time, and now MXNet 1.3.1 is the latest release (1.4.0 coming soon).
Is this still an issue? if it is - please add more details with regards to the latest release.
Otherwise - please close. Thanks!

[2019-01-28 23:13] lupesko commented on #8097
@solin319 - chiming in a bit late, but... since #8116 was merged, can we close the issue?
@eric-haibin-lin

[2019-01-29 06:24] MaJieCornell opened #14017 "Loading parameters from pretrained gluon model"
Hi,

Currently I am using Gluon to do some transfer learning project. What I am trying to do is loading some parameters from a pretrained network to my new model and fine tune on that. However, I just want to load part of the parameters and left some of them to get random initialized.

In MXNet what I can do is loading the pretrained parameters first and then manually delete some of the parameters

[2019-01-29 11:57] pengzhao-intel commented on #14017
@zhanghang1989 @xinyu-intel to help :)

[2019-01-29 15:19] PistonY commented on #13709
Ok,I’ll test it later.

[2019-01-29 15:20] stephenrawls opened #14019 "SequenceLast undefined behavior"
SequenceLast currently causes undefined behavior if `use_sequence_length` is true and any of the values in the `sequence_length` array are 0.

Proof: Run this program with cuda-memcheck
[code]

Line in code where sequence_length index is used w/o checking if it is valid:
https://github.com/apache/incubator-mxnet/blob/master/src/operator/sequence_last-inl.h#L73-L75

On the one hand, the documentati

[2019-01-29 15:50] vdantu commented on #14017
@mxnet-label-bot add [gluon, question]

[2019-01-29 16:34] aashudwivedi commented on #13853
@piyushghai The path of the jars are still incorrect / incomplete. I've fixed this in this pull request, here : https://github.com/apache/incubator-mxnet/pull/14020

However there's still one problem, with the latest changes. The mxnet shared library fails to build when `USE_DIST_KVSTORE = 1` because of a the following error :

[code]

[2019-01-29 16:38] vdantu commented on #14019
@stephenrawls : I am not an expert here but index not being checked seems more like an error that isn't handled. I would assume you could make a fix for this and raise a PR. You could also post the question on the dev list to understand this operators' initial design.

@mxnet-label-bot add [question, operator]

[2019-01-29 18:00] piyushghai commented on #13853
@aashudwivedi Thanks for making the fix to the calsspath problem for the Spark issue.

Can you point me to the specific build instructions you followed to build the mxnet shared library ?
Also what's the instance type on which you're building it ?

[2019-01-29 18:43] piyushghai commented on #13853
Here's what I did to build the libmxnet.so from source :
[code]
Here's the instance info on which I built mxnet:
[code]

[2019-01-29 18:58] lichen11 opened #14021 "Load mxnet model trained in R to Python errors imply inconsistency in R and Python or bug in mx.io.ImageRecordIter"
I trained a model in R and want to load it in Python. I found that the prediction results when loading the model in R and Python vary by a lot. I would assume that a model trained in R should predict (almost) the same when loaded in Python. My first question is are the models trained in Mxnet-R transferable to Python?

Second question is a bit longer. I created the rec in R using
    im2rec(image_

[2019-01-29 19:22] aashudwivedi commented on #13853
@piyushghai

I am building it on macOS High Sierra 10.13.6.
Here's what I do to build the libmxnet.so, followed  the instructions from http://mxnet.incubator.apache.org/versions/master/install/osx_setup.html#build-the-shared-library

[code]
Here's the instance info :
[code]
Here's are the details of xcode:
[code]
I've also attached the config.log from `3rdparty/ps-lite/protobuf-2.5.0` dir here [co

[2019-01-29 20:02] vdantu commented on #14021
@anirudhacharya : Would you be able to answer about models trained in MXNet R being transferrable to MXNet Python?

@lichen11 : MXNet python binding is known to take channels first format. Just curious, are you saying channels last format was working for you before? Also, do you want to use channels first format or channels last format?

@mxnet-label-bot add [R, modeling, question]

[2019-01-29 21:21] lichen11 commented on #14021
I figured out what went wrong. The problem was that function mx.io.ImageRecordIter taking scale = 1/255 will produce all 0s on the images. I fixed the problem by setting scale = 1/255. and am able to achieve approx the same classification results.
I think this issue I raised also confirmed that 1. mxnet models trained in R can be loaded in Python 2. although mx.io.ImageRecorditer is channel first

[2019-01-29 21:46] lichen11 commented on #13859
Yes I installed roxygen2 on Rserver. I am still receiving the error

Loading required package: mxnet
[1] "Loading local: inst/libs/libmxnet.so"
Error: package or namespace load failed for ‘mxnet’:
 .onLoad failed in loadNamespace() for 'mxnet', details:
  call: dyn.load("R-package/inst/libs/libmxnet.so", local = FALSE)
  error: unable to load shared object '/home/user/R-package/inst/libs/libmxnet.

[2019-01-29 21:57] hetong007 commented on #13859
@lichen11 It sounds like you are having two different R installations. They may partially share the `.libPaths()`, which may cause confusion.

Can you stick with one of them, remove mxnet installation (remove the folder) and re-install? If a direct installation doesn't work, remember to try the trick from @xinyu-intel .

[2019-01-29 22:21] nuslq opened #14022 "Segmentation fault during inference with quantization"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-01-29 23:13] mseth10 commented on #12203
Fix in #14016

[2019-01-29 23:31] lichen11 commented on #13859
I checked the R versions. I am using R 3.5.1 (2018-07-02) Feather Spray on both R and R server.

[2019-01-29 23:37] hetong007 commented on #13859
I'm saying that your R and R server are different R installation, but they could have shared `.libPaths()`. Therefore some packages dependencies are installed from different installations, and this has the potential to cause issues.

Please remove mxnet completely, and try to re-install mxnet in one of your installation.

[2019-01-30 01:03] anirudhacharya commented on #13589
@jeremiedb indeed it should have. Also I notice the current recipe for building R-package in the Makefile has a few wrong commands like [this](https://github.com/apache/incubator-mxnet/blob/master/Makefile#L611)

@marcoabreu do we still have R build and tests running on the CI?

[2019-01-30 01:52] ZhennanQin commented on #14022
@nuslq log indicates that there's no implementation for quantized convolution. MXNet quantization flow only works for either CUDA or MKLDNN build. As you are using MXNet without CUDA, so I assume you want to run with CPU. You can try MXNet with MKLDNN and use imagenet_gen_qsym_mkldnn.py instead.

[2019-01-30 02:08] matthewberryman commented on #13965
Hi @ChaiBapchya - many thanks for opening the feature request. Closing this issue in favour of that one.

[2019-01-30 02:08] #13965 closed

[2019-01-30 02:54] pengzhao-intel commented on #14022
Thanks @ZhennanQin :)

@nuslq you can refer https://github.com/apache/incubator-mxnet/tree/master/example/quantization#1
Feel free to ping us for any question

[2019-01-30 02:55] PistonY commented on #13709
I tried to fixed input,FP32 work well but FP16 out of memory.
This is my script.
[code]
mxnet version is 1.5.0 (--pre)
When training with FP32,it cost 9921Mb memory and 75s.
But I tested with FP16 memory usage from 7000Mb continue to grow until out of memory.
I don't know why, it's looks like memory doesn't free.

[2019-01-30 05:47] marcoabreu commented on #13589
Yeah

[2019-01-30 05:54] eric-haibin-lin commented on #11796
Added in https://github.com/apache/incubator-mxnet/pull/13716

[2019-01-30 05:54] #11796 closed

[2019-01-30 07:59] PistonY commented on #13709
And I tried to only run forward
[code]
FP32 costs 7.83
FP16 cost 18.9

[2019-01-30 10:51] Chancebair opened #14026 "[Nightly Test Failure] Tutorial test_tutorials.test_gluon_end_to_end Test Failure"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/206/pipeline

This appears to have been failing since Jan 24th as a result of https://github.com/apache/incubator-mxnet/pull/13411

[code]

[2019-01-30 10:59] Chancebair commented on #14026
@mxnet-label-bot add [Test, Gluon]

[2019-01-30 13:55] TaoLv commented on #10092
Closed via https://github.com/apache/incubator-mxnet/pull/11047

[2019-01-30 13:55] #10092 closed

[2019-01-30 17:40] Vikas89 opened #14029 "Out of memory error in 3d Conv for matrix splits > 10, CUDNN strange behaviour"
## Description
Memory bloat(OOM) in 3D Conv when matrix split size  is greater than 10 .  If I run this code on ec2 p2.xl with 12 GB of GPU memory, program runs well for
a = net(x[:, :, :, :10, :10])
print(a.shape)

a = net(x[:, :, :, :9, :9])
print(a.shape)

but starts getting cuda OOM error for :

a = net(x[:, :, :, :11, :11])
print(a.shape)

``
import os
os.environ['MXNET_ENGINE_TYPE'] = 'Naive

[2019-01-30 17:43] Vikas89 commented on #14029
Thanks, I was able to repro the issue.

With slice of 11, looks like it is going through different cuda code.
With 11 this is where branching occurs:

[code]

See details below for gpu stack trace for :10,:10 vs :11,:11

Details of gpu allocation with a = net(x[:, :, :, :10, :10])

[code]

With a = net(x[:, :, :, :11, :11])

[code]

[2019-01-30 17:47] Vikas89 commented on #14029
This looks like cuDNN implementation bug,
Looks like different code inside cudnn is being called for cases > 10

This is for case 11, void fft3d_r2c_16x16x16 is called , for case 10 or less : void cudnn::detail::implicit_convolveNd_sgemm is called.
We verified that disabling cuDNN during convolution fixes the problem.

@ptrendx @DickJC123 Would you guys be able to help here in case you have any id

[2019-01-30 18:13] mseth10 commented on #14026
@roywei can you please take a look at this failure. It is probably caused by your PR.

[2019-01-30 19:30] anirudhacharya commented on #13945
ThreadPool support was introduced in this PR https://github.com/apache/incubator-mxnet/pull/13606

cc @zhreshold

[2019-01-30 19:42] vdantu commented on #14029
@mxnet-label-bot add [Bug, Cuda, memory]

[2019-01-30 20:05] zhreshold commented on #13945
@mfiore

Is your dataset small, do you know how many batches in each epoch? If it's small, the prefetching step will push all workloads and you will need to wait until the first worker finish its job.

Regarding your question,

1. The async ret value is a `multiprocessing.pool.AsyncResult` object, it's only synchronized when ret.get() is called (line 443)
2. As mentioned in 1., you cannot check th

[2019-01-30 21:23] ptrendx commented on #13713
The way NVIDIA containers work is as follows:
 - https://ngc.nvidia.com container repository gives access to all containers provided by NVIDIA, including MXNet
 - when working on the particular Cloud Provider, user would go the one of the links that @srochel posted to get the appropriate VM for that cloud (those pages also contain link to documentation how to run those VMs). VM for AWS is availabl

[2019-01-30 21:31] satyakrishnagorti commented on #6874
This is still an issue. I don't know why this issue has been overlooked for years when softmax_cross_entropy is such a common loss.

Steps to reproduce on mxnet 1.3.1.
[code]

[2019-01-30 22:11] vdantu commented on #14029
@mxnet-label-bot delete [Cuda]

[2019-01-30 22:33] ThomasDelteil commented on #14026
@roywei it times out, too many epochs or too long dataset download

[2019-01-30 22:49] roywei commented on #14026
@mseth10 @ThomasDelteil I m looking into it.

[2019-01-30 23:53] apeforest commented on #10973
We should re-enable the test if this is fixed. Working on it: def test_deconvolution():

[2019-01-30 23:55] wkcn opened #14030 "The bug in MXTVMBridge"
## Description
Hi, there.

I would like to use `MXTVMBridge` to accelerate my project, but there is a flaky problem.
The example works when MXNet is built from source by myself, but it doesn't work when MXNet is installed by PIP.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual stud

[2019-01-31 02:42] ianferreira opened #14034 "err == cudaSuccess (4 vs. 0) Name: MapPlanKernel ErrStr:unspecified launch failure when training"
## Description
err == cudaSuccess (4 vs. 0) Name: MapPlanKernel ErrStr:unspecified launch failure when training Alexnet

## Environment info (Required)
----------Python Info----------
Version      : 3.6.7
Compiler     : MSC v.1900 64 bit (AMD64)
Build        : ('v3.6.7:6ec5cf24b7', 'Oct 20 2018 13:35:33')
Arch         : ('64bit', 'WindowsPE')
------------Pip Info-----------
Version      : 18.1
Dir

[2019-01-31 07:00] szha commented on #14030
In pip we use symbol whitelist https://github.com/apache/incubator-mxnet/blob/master/make/config/libmxnet.ver. Is any required function missing from this list? @tqchen

[2019-01-31 09:11] mfiore commented on #13945
@zhreshold  thanks for your answer!
The dataset is about 178k examples so with a batch size of 32 it's more than 5k batches.
Putting the mutex in the line you pointed solves the crash problem. Now the behaviors with threads or multiprocess is the same, with slow downs every few batches.

[2019-01-31 17:53] tqchen commented on #14030
Because the bridge uses c++ std::function, it requires a common ABI between the two in order to make things work, so build from source is indeed the best way

[2019-01-31 17:57] piyushghai opened #14037 "Add DType support for NDArrayIter for the label DataDescriptor"
Currently, the label's data descriptor in NDArrayIter.scala does not allow one to specify the dType for the labels passed. It is hardcoded at MX_REAL_TYPE. This needs to be updated to support the dType for the passed label NDArray.

[2019-01-31 17:58] piyushghai commented on #14037
@mxnet-label-bot Scala, Feature request

[2019-01-31 18:12] Vikas89 commented on #14029
" Since you've set MXNET_CUDNN_AUTOTUNE_DEFAULT=0, doesn't that say you're willing to accept what cudnnGet() returns for the algo, regardless of workspace needs?"

Yes. But to me, it's still strange that amount of memory required when going from 10 to 11 increases by such huge factor and I wanted to check with cudnn team if this is expected and known behavior of cudnn or there is some bug causing

[2019-01-31 19:05] DickJC123 commented on #14029
As pointed out earlier, going from 10 to 11 is the threshhold for when cudnn thinks the fft implementation is fastest.  That algo apparently has a huge workspace requirement, probably related to being 3D.  There is no cudnn bug here.  You have a couple of remedies:

1. Set MXNET_CUDNN_AUTOTUNE_DEFAULT=1.  That will result in all convolutions in your model being chosen by cudnnFind(), subject to th

[2019-01-31 19:06] piyushghai commented on #14037
@mxnet-label-bot Add [Scala, Feature request]

[2019-01-31 19:07] vdantu commented on #14030
@mxnet-label-bot add [question]

[2019-01-31 20:33] jeremiedb commented on #13589
I'll only be able to take a look in 2 days, and hopefully get it fixed.

[2019-01-31 20:54] ChaiBapchya commented on #14034
Prima facie google search reveals that this error is caused when TDR (timeout detection recovery) is triggered (By default set to 2sec, if exceeded)
Verify if it has been disabled or increased. Let me know if it helps.

[2019-01-31 21:06] vdantu commented on #14034
@mxnet-label-bot add [question, cuda]

[2019-01-31 21:30] vdantu commented on #8126
@theSparta : I know you have already solved this and are not facing this issue, but could you point to the python training code that you had used to train the same model?

Also, can we close this issue now? We can reopen it if you face this issue.

[2019-01-31 21:44] vdantu commented on #8864
@zzcpf : Would you be able to provide the above information? Or, if you found a solution to this module not found issue.

The issue seems very old, we can probably close this issue and reopen it if similar issue is found.

[2019-01-31 22:01] lanking520 commented on #13853
cannot reproduce the same issue with High Sierra. Here is the list of dependencies I installed:

`xcode command-line tool 10`
[code]

[2019-01-31 22:19] vdantu commented on #11944
@BenLag2906 : Just checking in to see if simply upgrading the MXNet version helped solve the issue.

Also, if you are still seeing this issue, could you share a minimum reproducible code, which we can compile on our end and reproduce this issue?

[2019-01-31 22:51] wkcn commented on #14030
@szha @tqchen @vdantu
Thank you!
I know that the reason is about ABI compatibility now.
It will be better if there is a solution without rebuilding the sources : )

[2019-01-31 23:50] wkcn commented on #14030
@tqchen
Is it possible to provide an API like this?
[code]
The outside program calls `RemoteCallPacked` to avoid the problem of ABI compatibility.

[2019-02-01 00:03] IvyBazan commented on #12828
@thomelane @aaronmarkham I tried the replacement described above and found that it didn't have any impact unless the tree generation for Autograd was also removed. However, this presented a new issue as removing the tree generation meant that the autograd.md page no longer had a TOC for navigating to the rest of the content. I tried a few other things like using automodule and tinkering with the a

[2019-02-01 00:05] IvyBazan commented on #12828
@thomelane @aaronmarkham I tried the replacement described above and found that it didn't have any impact unless the tree generation for Autograd was also removed. However, this presented a new issue as removing the tree generation meant that the autograd.md page no longer had a TOC for navigating to the rest of the content.

[2019-02-01 00:09] IvyBazan commented on #12518
It seems that the autosummary sections have specific callouts because of Sphinx limitations with autosummary. I tried a few things like using automodule and tinkering with the autosummary options to automatically include all members of mxnet.symbol.random, but didn't have any luck getting closer to desired functionality.

[2019-02-01 00:10] lanking520 commented on #11926
@mdespriee Here to help, are you still facing the problems?

[2019-02-01 00:21] vdantu commented on #12869
@MyraBaba : Were you able to output the float vector? Just checking in to see how you were doing with using the CPP example for your use-case.

If you were able to successfully use the CPP example, could we close this issue?

[2019-02-01 00:31] vdantu commented on #13223
We haven't heard back about the issue. I think we can close it for now.

@gjtjx  : We will close this issue for now. Please feel free to reopen it if you are still facing this issue. Also, if you are still facing the issue, please do attach the config flags that you are using to run the build.

@lanking520

[2019-02-01 00:34] lanking520 commented on #13223
Close it for now. Please feel free to reopen if you are facing more issues.

[2019-02-01 00:34] #13223 closed

[2019-02-01 00:34] #13765 closed

[2019-02-01 01:38] #14037 closed

[2019-02-01 01:41] vdantu commented on #10715
@bputrycz :.Seems like there [is a check]( https://github.com/apache/incubator-mxnet/blame/master/src/c_api/c_predict_api.cc#L152) to see if data and names sizes are the same. Do you have a script that is easily compilable, we can look into this in depth?

@mxnet-label-bot add [pending requester info]

[2019-02-01 01:44] vdantu commented on #10715
@mxnet-label-bot update [C API, Question, Pending Requester Info]

[2019-02-01 01:51] vdantu commented on #13520
@rahul003 : Could you help with this?

[2019-02-01 01:56] coolwebgo commented on #13265
I also got the memory leak ,  call like this :
      MXPredCreate()
	MXPredSetInput(x);
	MXPredForward(x); //memory leak
	MXPredFree(x);

, when I mask the call :  MXPredForward(),  the mem leak will not turn up(memory use do not grow).

[2019-02-01 02:00] vdantu commented on #13782
@MyraBaba : So using mobileNet works but resnet doesn't? So this is a memory issue on the pi devices?

[2019-02-01 02:04] vdantu commented on #13765
@akond : So you moved from Scala to R? Just curious, what are we tracking now with this issue? Also, could you please try @lanking520 's suggestion to see if it fixes your issue.

[2019-02-01 03:01] theSparta commented on #8126
@vdantu  I switched to Tensorflow instead to solve my problem instead of using MXNet.

[2019-02-01 03:08] szha commented on #8126
@theSparta sorry to hear that. We still owe this issue a proper closure so I'm reopening it.
@vdantu did you try to verify the code above and see if it's working? If not, why would you want to close an unsolved issue?

[2019-02-01 04:34] vdantu commented on #13988
@anirudh2290 , would you be able to help?

[2019-02-01 04:48] vdantu commented on #14002
@mxnet-label-bot update [Build, mkldnn]

[2019-02-01 05:44] vdantu commented on #14002
@azai91 @mseth10 : could you guys help?

@mahmoodn : could you share you config.mk file? I tried to build on a CUDA 10 container and it seems to be building beyond where you got an error.

[code]

lsb_release -a
[code]

container name
[code]

cuda
[code]

Feel free to correct me if I doing anything wrong.

[2019-02-01 06:06] szha commented on #13998
@stephenrawls you're right that `expand_dims` and `squeeze` for NDArray should behave consistently with `reshape`. Currently, `reshape` is done throught [a special C API](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/ndarray/ndarray.py#L1065-L1069) which returns a modified view of the data, while the `expand_dims` and `squeeze` are making a copy. For symbol (and thus the hybri

[2019-02-01 10:05] djl11 commented on #6147
Not sure if this is useful, but if you want to see a good example of how it is used, you can look at the docs [here](https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.BilinearSampler):

[2019-02-01 10:22] mahmoodn commented on #14002
@vdantu
I see some commits during the 5 days after my post. Please let me build with the lastest version and I will come back.

[2019-02-01 11:30] wkcn opened #14044 "[feature request] The API for Engine::PushAsync to execute outside asynchronous functions"
Hi, there.

I would like to implement an outside asynchronous function, without the need of rebuilding the source of MXNet.
For example, I write the following functions with C++, whose code is independent of MXNet.
[code]
I want to push them into the computational stream of MXNet, and I tried to use `MXTVMBridge`.
Unfortunately, there is the problem about ABI compatibility. [[issue]](https://githu

[2019-02-01 13:33] akond commented on #13765
Yeah,
[code]
went ok, but make failed with error:

[2019-02-01 14:00] Chancebair opened #14045 "Flaky Test: Clojure CPU org.apache.clojure-mxnet.operator-test"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/281/pipeline

[code]

[2019-02-01 14:00] Chancebair commented on #14045
@mxnet-label-bot add Flaky, Test, Clojure

[2019-02-01 14:01] Chancebair commented on #14045
@gigasquid @taliesinb Perhaps you could shed some light?

[2019-02-01 15:41] gigasquid commented on #14045
Weird - I'll take a look

[2019-02-01 16:11] vdantu commented on #14045
@mxnet-label-bot add [Flaky, Test, Clojure]

[2019-02-01 16:17] vdantu commented on #14044
@mxnet-label-bot add [Question, Feature]

@apeforest @anirudh2290 : Would you be able to answer the question?

[2019-02-01 18:53] MaJieCornell commented on #14017
Thanks for the reply. While it will definitely work but seems like load-delete-write-load is over complicated and don't sound like a good way of doing it. It seems like the way MXNet doing this, i.e. firstly load the parameters in and then set the parameters to the model, is better. Because it will give user flexibility to do whatever change they want to the loaded parameters and then set it. Is t

[2019-02-01 18:57] sravanbabuiitm opened #14046 "Bucketing module after Hybridize ?"
How does bucketing via diff padding work seamlessly post hybridize ? In symbolic mxnet, we create separate copies of the model for each bucket size & with gluon, i think we avoid that coz of imperative style. I have noticed models working seamlessly with hybridize as well, without us needing to do anything different as in gluon. How does this work ? what are the internal changes/modifications that

[2019-02-01 19:04] szha commented on #14017
An easier way is to load all parameters and force randomly reinitialize the layers you want to train. For example:
[code]

[2019-02-01 19:41] renganxu opened #14047 "mxnet.base.MXNetError: Cannot find argument 'cudnn_algo_verbose'"
## Description
The was error "**mxnet.base.MXNetError: Cannot find argument 'cudnn_algo_verbose**'" when I ran the resnet50 model from Image Classification in MLPerf benchmark.

## Environment info (Required)
[code]
Package used (Python/R/Scala/Julia): Python

## Build info (Required if built from source)
Compiler (gcc/clang/mingw/visual studio): gcc 7.2.0
MXNet commit hash: f95e7949dcd96ca2a5a140

[2019-02-01 20:40] yifeim opened #14048 "`take` does not support `grad_stype='row_sparse'`"
## Description
The `take` operator currently does not support `grad_stype='row_sparse'`, which can impact performance. This post describes the issue and a possible work-around via `Embedding`. However, full support is still desirable, because `take` is a more general operator than `Embedding`.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia): Python

## Error Message:
[

[2019-02-01 20:42] vdantu commented on #14046
@sravanbabuiitm : Thats a good question. I would recommend you to post this question on discuss.mxnet.io as well.

@roywei : Would you be able to answer this?

@mxnet-label-bot add [question, gluon]

[2019-02-01 20:46] yifeim commented on #13951
@apeforest Why is this not a bug?

[2019-02-01 21:06] apeforest commented on #13951
@yifeim Sorry, got too busy and haven't got chance to dive deep into this. Yes, I think it's a bug. @mxnet-label-bot add [Bug]

[2019-02-01 22:11] gigasquid commented on #14045
https://github.com/apache/incubator-mxnet/pull/14049

[2019-02-01 22:19] vdantu commented on #14047
@mxnet-label-bot add [question]

[2019-02-01 22:21] vdantu commented on #14048
@mxnet-label-bot add [operator, question]

[2019-02-02 00:19] mseth10 opened #14052 "flaky test: test_operator.test_depthwise_convolution"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-14016/4/pipeline/

ERROR: test_operator.test_depthwise_convolution
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg)
  File "/work/mx

[2019-02-02 09:25] arcadiaphy opened #14057 "validation stucks when training gluoncv ssd model"
## Description
When training gluoncv ssd model, validation sometimes takes way more longer time than the training epoch. After debugging, the problem comes from the `box_nms` operator which contributes most of the time.

## Environment info (Required)

[code]

## Minimum reproducible example
The following snippets show `box_nms` will take very long time when processing a lot of prior boxes
[code]

[2019-02-02 10:50] bputrycz commented on #10715
I wasn't blocked by this issue, just noticed it and reported.
I haven't invested more time into it.
I haven't tested it with the newest MXNet, and I don't want to do it now.
It is your call now to decide if it is worth to check again.

I think, I put above easily replicable code: python for generation of the sample model and C code with prediction from it. It misses only main() and includes.
Then

[2019-02-02 15:50] mahmoodn commented on #14002
It seems that I was able to compile the latest git version. I will close the issue. The last thing in the build output is

[code]

[2019-02-02 15:56] #14002 closed

[2019-02-02 16:37] mahmoodn opened #14059 "ModuleNotFoundError: No module named 'mxnet'"
Hi,
Although I have built mxnet with `make -j8 USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1`, I am not able to run an example

$ python main.py --configfile default.cfg
Traceback (most recent call last):
  File "main.py", line 23, in <module>
    from config_util import parse_args, parse_contexts, generate_file_path
  File "/home/mahmood/mx/mxnet/example/spee

[2019-02-02 17:40] renganxu commented on #14047
@ptrendx I know NGC container works, but I just want to run without container. Now I figured out NGC MXNet changed the Convolution operator by adding more parameters: cudnn_algo_verbose, cudnn_algo_fwd, cudnn_algo_bwd_data, cudnn_algo_bwd_filter, and cudnn_tensor_core_only.

Do you know whether the MXNet repo has any plan to integrate these changes made by Nvidia? Thanks.

[2019-02-03 02:12] ZhennanQin commented on #14052
@mseth10, Thanks for reporting this. Confirmed it's caused by mkldnn bug. The fix is already in mkldnn master, but not available in its latest release. We will upgrade mkldnn when its next release comes out.

[2019-02-03 14:37] jasperDD opened #14061 "error when try resize on pixel video to perform image-recognition analysis in R"
I want to create the predicative model in line with the image processing, I have a lot of video files(.mov) on Google Drive (concerned with auto driving) I get data from Google Drive as links to the files. My disk and data are available for all Internet users.

#test
https://drive.google.com/drive/folders/1JidqB3TfHn0Cky8VBXHjbmHu7s0rGLrO?usp=sharing

#train
https://drive.google.com/drive/folders/

[2019-02-03 19:01] stephenrawls opened #14062 "Bug in Hybridize w/ Concat"
Hi,

I think I found a bug in the Concat operator after calling hybridize() on my network. It is possible it is a mis-understanding on my part about how hybridization is supposed to work, however, so please let me know if that is the case.

I have the following code (which works when `model.hybridize()` is commented out, and crashes when it is not):

[code]

The expected behavior, which occurs whe

[2019-02-03 20:17] KellenSunderland commented on #13265
I tried to reproduce the memory leak with an ASAN build and don't see anything that jumps out as a leak.  There's a number of data structures allocated and then not released, but these structures don't seem to increase over time/iterations.

My could sample runs a simplification of the image-classification demo.  A snippet of the code tested for leaks is here: https://github.com/apache/incubator-m

[2019-02-04 11:21] jgasthaus opened #14064 "Inconsistent behavior in split() when num_outputs=1"
## Description
The behaviour of ```NDArray.split()``` is inconsistent and surprising when ```num_outputs=1```: When ```num_outputs > 1```, ```split()``` returns a list containing the individual split elements, but when ```num_outputs=1```, the single resulting array is returned directly, without being wrapped in a list.

[code]

If this is the intended behavior, it appears to be undocumented.

See

[2019-02-04 13:42] djl11 commented on #11424
You can achieve this affect by creating a CSRNDArray, as explained [here](https://github.com/apache/incubator-mxnet/blob/master/docs/tutorials/sparse/csr.md).

If you have a 2D array which contains zeros, you can convert this to a csr array like so:
`some_array = some_array.tostype('csr')`

you can then extract the indices of the non-zero entries like so:
`some_array.indices`

This is not to say t

[2019-02-04 19:35] piyushghai commented on #13971
Theoretically, a single global artefact would in fact take a lot more disk space as well, which might or might not be an issue given the standards of modern day computing.

But, @leontalbot just @lanking520  mentioned, the issue is not about the space for the artefact, rather the platform specific dependencies that we need to bundle into the jars. There are technical limitations to doing so.

In S

[2019-02-04 20:50] gigasquid commented on #13971
Thanks @piyushghai and @lanking520  - I think we could do something similar with Leiningen https://stackoverflow.com/questions/4688336/what-is-an-elegant-way-to-set-up-a-leiningen-project-that-requires-different-dep

[2019-02-04 21:36] vandanavk commented on #12205
@cchung100m maintaining and addressing review comments for 18 PRs in parallel may be difficult. I suggest you keep 3-4 PRs open at a time.

looks like there is a CI failure on your PRs. the error doesn't give much information. maybe re-trigger it again to check.

[2019-02-04 22:35] piyushghai commented on #13971
I created a JIRA ticket to track this request in our backlog :
https://issues.apache.org/jira/browse/MXNET-1319

[2019-02-04 22:37] ptrendx commented on #14047
We (the DL Framework team at NVIDIA) are working to upstream all performance changes with multiple PRs already issued (and several more to go), see e.g. #13346 #13749 #13471 .
Those particular additional arguments are not really part of this upstreaming effort though (they are more of a performance debug tools for us rather than performance enablers).

[2019-02-04 22:38] lanking520 commented on #13971
@piyushghai Thanks for filing this as an item in backlog. Close this issue for now. @leontalbot Please feel free to reopen it if you believe your problems is unsolved.

[2019-02-04 22:38] #13971 closed

[2019-02-05 00:16] andrewfayres commented on #14057
@mxnet-label-bot add [operator, performance]

Thanks for the issue and PR!

[2019-02-05 00:21] andrewfayres commented on #14061
Thanks for the issue. Adding labels to get better visibility.

@mxnet-label-bot add [R]

[2019-02-05 00:31] andrewfayres commented on #14059
@mxnet-label-bot add [installation]

It's generally recommended to use pip to install MXNet unless you've got a need to build from source. You can find instructions [here](https://mxnet.incubator.apache.org/versions/master/install/index.html?platform=Linux&language=Python&processor=GPU).

If you're still struggling you might try posting at discuss.mxnet.io for help. That tends to be a better place

[2019-02-05 00:35] andrewfayres commented on #14062
@mxnet-label-bot add [bug, gluon]

[2019-02-05 01:17] mseth10 commented on #13747
@l1uw3n Can you please confirm if PR #13764 fixes this issue?
If not, can you please provide reproducible steps to this issue so we can help resolve it.
Thanks!

[2019-02-05 01:31] mseth10 commented on #12389
@mxnet-label-bot remove[Memory]

[2019-02-05 01:33] mseth10 commented on #12460
@TccccD did you try the above suggestion? Did it help resolve the issue?

[2019-02-05 02:01] gigasquid commented on #13442
merged!

[2019-02-05 02:01] #13442 closed

[2019-02-05 02:07] leleamol commented on #13798
@mxnet-label-bot add ["Pending Requester Info"]

[2019-02-05 02:35] szha commented on #14064
To me, such diverging return type is an anti-pattern that complicates all downstream code, and it should be addressed as part of MXNet 2.0 #9686.

[2019-02-05 02:54] renganxu commented on #14047
@ptrendx Thanks for these information. If those additional arguments are only for debug purpose, then I can remove them in the benchmark code to match the APIs in the existing MXNet repo.

[2019-02-05 04:53] #13976 closed

[2019-02-05 05:39] #13713 closed

[2019-02-05 08:05] jeremiedb commented on #14061
Your issue appears more related to converting a video into an array than to mxnet per se.
I'd recommend to take a look at the `imager` package vignette describing handling of video format here: https://dahtah.github.io/imager/imager.html#loading-and-saving-videos. This should get you with 4 dimensionnal arrays: [Width, Height, Time, Colors]

It may be worth considering working with images extracte

[2019-02-05 08:32] jeremiedb commented on #13589
@anirudhacharya Pull request #14068 should fix the those commands.

[2019-02-05 09:47] Chancebair opened #14069 "[Test Failure] Clojure: CPU Integration cnn-text-classification.classifier-test/classifier-with-embeddings-test"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/287/pipeline

This test appears to be flaky since the PR had nothing to do with Clojure code: https://github.com/apache/incubator-mxnet/pull/14032

[code]

[2019-02-05 09:48] Chancebair commented on #14069
@mxnet-label-bot add [Flaky, Test, Clojure]

[2019-02-05 09:50] Chancebair commented on #14069
@gigasquid mind taking a look?

[2019-02-05 11:01] chichilicious commented on #8132
The problem still persists after `export MXNET_CUDNN_AUTOTUNE_DEFAULT = 0`, running on mxnet 1.3.1, cuda 9.0, ubuntu 18.
Help would be really appreciated.

[2019-02-05 13:13] jgasthaus commented on #14064
Actually, I just noticed that the behavior differs between ```mx.symbol``` and ```mx.ndarray```, so maybe this should be considered a bug after all.

[code]

[2019-02-05 14:02] gigasquid commented on #14069
sure

[2019-02-05 14:11] jasperDD commented on #14061
jeremiedb, may i ask you, what place in this link about how convert video to dataframe? like
 label pixel.1 pixel.2 pixel.3 pixel.4 pixel.5 pixel.6 pixel.7
1    304     304     304     304     304     304     304     304
2     32      32      32      32      32      32      32      32
3    350     351     351     351     351     351     351     351
4    265     265     265     265     265     265

[2019-02-05 16:48] ChaiBapchya commented on #14064
Delving a bit deeper, here's what I found
### Similar behavior between NDArray and Symbol for num_outputs=2
#### NDArray num_ouputs=2
[code]
#### Symbol num_ouputs=2
[code]

### Abnormal behavior between NDArray and Symbol for num_outputs=2

#### NDArray num_ouputs=1
[code]
#### Symbol num_ouputs=1
[code]

[2019-02-05 19:04] #12203 closed

[2019-02-05 19:18] ThomasDelteil commented on #11061
Same issue, nd.argmax() is really slow, close to unusable in real world scenarios

[2019-02-05 19:34] szha commented on #11061
It's a bit embarrassing...IIRC, our argmax is done through a sequential reduce with no parallelism...
@solin319 how much faster is topk?

[2019-02-05 19:38] #11064 closed

[2019-02-05 23:57] ThomasDelteil commented on #11061
@szha for my use-case topk is approx 100x faster.
the GPU version is also 10 times slower than the CPU one.

[code]
[code]
[code]

[2019-02-06 02:10] zachgk commented on #13468
@aaronmarkham I'm not able to find the instructions involving the interpreter, otherwise I would try to clarify them. Since it seems to just be a problem with your installed scala version, do you think this issue is resolved?

As for the problem with the scala demo https://github.com/apache/incubator-mxnet/issues/13468#issuecomment-443889321, we improved upon that by using the nightly snapshot rep

[2019-02-06 07:19] eric-haibin-lin opened #14072 "Fp16 support for softmax"
Currently, given fp16 inputs, nd.softmax/sym.softmax perform reduction in fp16, which losses precision. The reduction should be done in fp32 instead.

https://github.com/apache/incubator-mxnet/blob/32c9ca74839ae4d275bcf9a027ea0a711373be81/src/operator/nn/softmax-inl.h#L164-L202
pytorch reference:
https://github.com/zdevito/ATen/blob/a6cc4156fe4abc9e31f62f2bba1a2f68c58b77b7/aten/src/ATen/native/cud

[2019-02-06 07:20] eric-haibin-lin opened #14073 "Fp16 support for layernorm"
Currently, given fp16 inputs, nd.LayerNorm/sym.LayerNorm perform reduction in fp16, which losses precision. The reduction should be done in fp32 instead. @sxjscience

[2019-02-06 12:25] fhieber commented on #11061
We'd be interested in having this change as well. Sockeye is also has code with `argmin` but intentionally does not use it: https://github.com/awslabs/sockeye/blob/master/sockeye/inference.py#L2213

[2019-02-06 13:44] MyraBaba commented on #12869
when I add the LG << array saw the output.

now I need to test both python and the c++ inference outputs is same.

best

[2019-02-06 14:54] jasperDD opened #14074 "How get mean.bin (from captcha recognition)?"
I have question about this great post
https://github.com/apache/incubator-mxnet/blob/master/example/captcha/mxnet_captcha.R
i downloaded data, but there is no in archive mean.bin
So i just want read rec file, lile show here
https://github.com/apache/incubator-mxnet/blob/master/R-package/tests/testthat/test_io.R
Where can i find mean.bin

[2019-02-06 17:02] shadogray opened #14075 "Generation of R reference manual fails"
## Description
R reference manual generation fails due to bugs in method documentation

## Environment info (Required)

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          3
minor          5.2
year           2018
month          12
day            20
svn rev        75870
language       R
version.str

[2019-02-06 18:13] piyushghai commented on #13853
@aashudwivedi Any luck with these above steps ?

[2019-02-06 18:53] eric-haibin-lin opened #14077 "FP16 support for contrib.adamw"
Support mix precision mode for contrib.adamW operator

[2019-02-06 19:01] ThomasDelteil commented on #11061
@szha I don't think I have the time these coming weeks unfortunately working against some tight deadlines

[2019-02-06 21:44] larroy commented on #13468
@frankfliu doesn't many projects release in maven with different scala versions? https://stackoverflow.com/questions/13872226/how-to-support-multiple-scala-versions-in-a-library/13880582#13880582

[2019-02-06 21:45] ifeherva commented on #11061
Is argmax affected as well?

[2019-02-06 22:51] lichen11 commented on #13859
I have a question on uninstalling mxnet. I am on a centos system. I tried remove.packages('mxnet') but mxnet is still there. I am also did sudo make clean in the incubator-mxnet folder, but I can still load mxnet. Online there is no specific documentation on how to uninstall mxnet R package.

[2019-02-06 22:53] hetong007 commented on #13859
Check your `.libPaths()` and remove mxnet folders in each of the paths.

[2019-02-06 23:23] zachgk commented on #13468
@larroy What I see the most is that they will release different artifacts for each supported Scala version and append _scalaVersion to the artifact name (see https://mvnrepository.com/artifact/org.scalacheck/scalacheck or https://search.maven.org/search?q=g:org.scalatest for an example).

We do need to take a look at our Scala versions. We currently publish 2.11.8 when we really should be producin

[2019-02-06 23:47] whamza15 commented on #12650
I wonder if you can call make this part of a full running system, mainly call backward() and optimize. It has been crashing for me.

[2019-02-06 23:48] satyakrishnagorti opened #14080 "Adam Optimizer Memory Leak in Scala"
## Description
Memory leak issue while using Adam optimizer with MXNet Scala Bindings. Running the code below will keep consuming more and more memory till you run out.

## Steps to Reproduce
[code]

## Issue

The issue is (I think) some temporary NDArrays are not getting disposed in Adam optimizer when using `disposeDepsExcept`.

The places exactly where the memory leak occurs is in 3 locations w

[2019-02-07 00:08] piyushghai commented on #14080
@satyakrishnagorti Here's a documentation on how to manage memory in MXNet Scala :

https://github.com/apache/incubator-mxnet/blob/master/scala-package/memory-management.md

The first method in this document details using : ```ResourceScope``` and can help in your use case.
Do try it out and let us know the results.

[2019-02-07 00:30] piyushghai opened #14081 "Scala Docs warnings in scala-package"
I recently tried running ```ScalaDocChecker``` [http://www.scalastyle.org/rules-1.0.0.html#org_scalastyle_scalariform_ScalaDocChecker].

It resulted in over 810 violations for Scala Doc style, where each violation is either a missing or improper Scala Doc.

Here's a list of all the classes, along with the number of violations in them :

- [ ] Model.scala 9
- [ ] BaseModule.scala 48
- [ ] Executor.

[2019-02-07 00:31] piyushghai commented on #14081
@mxnet-label-bot Add [Scala, Doc, Good First Issue]

[2019-02-07 00:43] szha commented on #12650
@Ishitori I think this issue is already resolved in LSTM layer, as the internal begin_state call is now [getting data type from inputs](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/rnn/rnn_layer.py#L223)

@whamza15 crashing seems to be a separate issue. Would you mind creating a new issue for this?

[2019-02-07 00:45] andrewfayres commented on #14075
@mxnet-label-bot add [bug, doc]

[2019-02-07 00:51] andrewfayres commented on #14080
Looks like the Adam Optimizer needs to be updated to use ResourceScope. Should probably take a look at the other optimizers at the same time. Thanks for reporting this @satyakrishnagorti.

@mxnet-label-bot add [Scala, bug]

[2019-02-07 00:55] andrewfayres commented on #14074
@mxnet-label-bot add [Question, R]

@jasperDD If you haven't already, you should try asking this question at discuss.mxnet.io. Your question will get more visibility in the community.

[2019-02-07 00:58] lupesko commented on #13747
@l1uw3n looks like folks are trying to help, but without a follow up from your end, and/or a reproduction scenario, it would be hard to help out.
Please let us know whether this still happens, or is it fixed with @ptrendx code change.
Feel free to close if not reproducing. Thanks!

[2019-02-07 05:25] szha commented on #14062
@stephenrawls after taking a close look at the code, I think the problem mainly comes from the call on [slice](https://mxnet.incubator.apache.org/versions/master/api/python/ndarray/ndarray.html#mxnet.ndarray.slice). Its doc says:

Since in the code snippet, it has `begin=(0,0,0), end=(0,1,0)` without step, this means the output shape would be `(0,1,0)`. This is not supported and slice should throw

[2019-02-07 05:27] #12650 closed

[2019-02-07 06:02] stephenrawls commented on #14062
I see, thanks.

Basically what I *wanted* to do is this:

`begin=(0,0,0), end=(size_of_dim1,1,size_of_dim2)` but since this is symbolic mode I can't use use the size directly, and -1 will make my size too short by 1. I happened to notice behavior of ndarray was to take the full axis when both begin & end were 0, and I guess I tricked myself into thinking that was intentional behavior by ndarray, a

[2019-02-07 06:02] #14062 closed

[2019-02-07 09:24] pai-plznw4me commented on #1516
Internally, adams need two more variables for each weight. Therefore, more operations are required than Gradient descent and the learning time by sample is increased.

[2019-02-07 11:20] xyzdcgan opened #14084 "Ctype error, Recompile Mxnet from Source instead of pip install mxnet"
I am trying to solve moon not register error, at present i copied moon file from mxnet-face to incubator-mxnet/src/operator but when i am running pip install e-e from incubator-mxnet/python/mxnet it give me error of ctype,

When i import ctype outside incubator it dosent give error, but when i run from incubator it give me error of ctype.

Or else i only need to run mxnet from source,

[2019-02-07 13:16] stsukrov opened #14085 "Default cmake build uses openblas instead of MKL"
## Description
Default CUDA-free build links to openblas AND mkl. openblas is used instead of mkl, which leads to pure performance.

## Environment info (Required)
----------Python Info----------
Version      : 3.5.2
Compiler     : GCC 5.4.0 20160609
Build        : ('default', 'Nov 12 2018 13:43:14')
Arch         : ('64bit', 'ELF')
------------Pip Info-----------
Version      : 8.1.1
Directory

[2019-02-07 13:24] stsukrov opened #14086 "Intel Compiler fails to build mxnet"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-02-07 13:42] stsukrov opened #14087 "Poor performance of the libmxnet if OMP_PLACES environment variable is present"
## Description
Default build depends on both GOMP and Intel OMP runtime.

## Environment info (Required)
----------Python Info----------
Version      : 3.5.2
Compiler     : GCC 5.4.0 20160609
Build        : ('default', 'Nov 12 2018 13:43:14')
Arch         : ('64bit', 'ELF')
------------Pip Info-----------
Version      : 8.1.1
Directory    : /usr/lib/python3/dist-packages/pip
----------MXNet Info--

[2019-02-07 13:57] stsukrov commented on #13846
----------Python Info----------
Version      : 3.7.1
Compiler     : Clang 4.0.1 (tags/RELEASE_401/final)
Build        : ('default', 'Dec 14 2018 13:28:58')
Arch         : ('64bit', '')
------------Pip Info-----------
Version      : 18.1
Directory    : /anaconda3/lib/python3.7/site-packages/pip
----------MXNet Info-----------
No MXNet installed.
----------System Info----------
Platform     : Darwin

[2019-02-07 14:02] stsukrov commented on #14087
@mxnet-label-bot add [bug]

[2019-02-07 14:03] stsukrov commented on #14087
@mxnet-label-bot add [bug, performance, openmp]

[2019-02-07 14:05] stsukrov commented on #14086
@mxnet-label-bot add [build, compiler error]

[2019-02-07 14:06] stsukrov commented on #14085
@mxnet-label-bot add [bug, build, cmake]

[2019-02-07 14:09] stsukrov commented on #14085
@mxnet-label-bot add [bug, performance]

[2019-02-07 14:25] fhieber opened #14088 "Confusing documentation for `mx.sym.MakeLoss`"
The [documentation of `mx.sym.MakeLoss`](http://mxnet.incubator.apache.org/api/python/symbol/symbol.html?highlight=makeloss#mxnet.symbol.MakeLoss) is highly confusing. To my understanding the only thing `MakeLoss` does is that it wraps an existing symbol and defines that it does not require a head gradient when used in optimization. Further, it seems that the output of the `forward()` call to a Ma

[2019-02-07 14:38] stsukrov commented on #14087
@mxnet-label-bot add [Environment Variables]

[2019-02-07 14:45] maxjcohen opened #14089 "Load dataset directly to vRAM"
I am running a configuration with a lot of vRAM (8 GPUs available) but very little RAM. I want to load a dataset of images saved in folders and in `rec` format. I am currently using `mx.io.ImageRecordIter` to load said rec file, but I can't specify the context and everything ends up loaded in `cpu_pinned(0)`.

Is there a way to load images directly to my GPUs ?
Thanks in advance.

[2019-02-07 14:47] pengzhao-intel commented on #14087
@stsukrov could you try the below environment?

[2019-02-07 15:43] stsukrov commented on #14087
@pengzhao-intel
Thanks for a response, Patric!

Tried.
Same story if OMP_PLACES is present **AND** 2 OMP runtimes are loaded.

It's issue about having an regression, IF something is present, not about existing good configuration.

My assumption: it's caused by multiple OMPs, since it's gone as soon as I symlink gomp to iomp5.

To my knowledge, (source: https://www.youtube.com/watch?v=Y7eVVfyo0U4,

[2019-02-07 19:04] aashudwivedi commented on #13853
@piyushghai unfortunately I still have the same problem and I am not sure what other information I should provide you to be able to reproduce this.

[2019-02-07 19:06] lichen11 commented on #13859
Thanks. I removed the folders and installed new mxnet.
I am following the example https://mxnet.incubator.apache.org/versions/master/tutorials/r/mnistCompetition.html but I trained with two GPUs using

model <- mx.model.FeedForward.create(lenet, X=train.array, y=train.y,
                                     ctx=list(mx.gpu(0), mx.gpu(1)), num.round=100, array.batch.size=100,

[2019-02-07 19:10] hetong007 commented on #13859
@anirudhacharya do you have references to best practice for multi-GPU training in R?

[2019-02-07 19:26] lichen11 commented on #5296
Hi, I am still encountering the problem of training mnist with multiple GPU.

model <- mx.model.FeedForward.create(lenet, X=train.array, y=train.y,
                                     ctx=list(mx.gpu(0),mx.gpu(1)), num.round=100, array.batch.size=100,
                                     learning.rate=0.05, momentum=0.9, wd=0.00001,
                                     eval.metric=mx.metric.accur

[2019-02-07 21:49] jeremiedb commented on #5296
I'm afraid that by fixing the memory issue with the optimizer using executors, it has broken the optimizer update on kvstore. I think there should be a way to way to fix this in the R-package/src/kvstore.h/cc.
In the meantime, could you try using "local_allreduce_cpu" or "local_allreduce_device" instead of "device" for the kvstore parameter?

[2019-02-08 00:03] andrewfayres commented on #14084
@mxnet-label-bot add [installation]

Looks like you're getting help in the other thread. Based on the information there I would expect reinstalling with pip install -e . to work after moving the files. It looks like you tried that though. I would try following the build from source instructions and copying the files after cloning the repo.

[2019-02-08 00:12] andrewfayres commented on #14088
@mxnet-label-bot add [documentation, question]

[2019-02-08 00:13] andrewfayres commented on #14088
@mxnet-label-bot add [doc]

[2019-02-08 00:18] andrewfayres commented on #14089
@ginko3 Can you provide more details about which language bindings you're using and maybe some sample code demonstrating how you're currently loading it?

@mxnet-label-bot add [question]

[2019-02-08 00:49] jeremiedb commented on #5296
I think the concern would be about potential communication bottleneck: as I understand the message, there might not be a direct PCI communication between your GPUs. Do you observe a significant speedup from 1 to 2 GPUs?

[2019-02-08 01:06] NRauschmayr opened #14091 "BatchNorm error when use_global_stats=True"
## Description
BatchNorm crashes with the following error when use_global_stats=True

## Environment info (Required)
[code]

## Error Message:
[code]
## Minimum reproducible example
[code]

[2019-02-08 02:25] anirudh2290 opened #14092 "Improve message when quantized_dtype uint8 is used with gpu context"
## Description
I think quantized_dtype uint8 is not supported with GPU. A better error message will be useful

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
Python

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): gcc

MXNet commit hash:
a85b3f00aa62e3b7f75110b5cdac418f87309c3d

Build config:
[code]

## Error Message:
[code]

#

[2019-02-08 04:11] stephenrawls opened #14093 "MKLDNN Unsupported Dimension Bug"
I am running the following code:

[code]

It crashes with the following error message upon printing out an array for debug purposes:
[code]

Inside the code there is a place where I take the output of convolution, of shape `N1WC` and reshape it to get rid of the extra dimension -> `NWC`. If I remove that reshape from the code and keep the underlying array 4 dimensions, then the crash goes away.

H

[2019-02-08 04:15] stephenrawls commented on #14093
@mxnet-label-bot add [Bug]

Not sure how this works. Seeing if I can add a label.

[2019-02-08 04:29] ZhennanQin commented on #14093
Thanks for reporting this. the error message `Unsupported MKLDNN dimensions: 3` is from
[code]
If num_dims is 3, `mkldnn_ncw` should be returned. This is already fixed in master about a month ago. Can you have a try on the latest nightly build? @xinyu-intel Does this fix merge into 1.3.1?

[2019-02-08 04:30] xinyu-intel commented on #14093
@stephenrawls Can you try the latest MXNet? #13530 has enabled Conv1d and 3D data layout.

[2019-02-08 04:52] xinyu-intel commented on #14093
@ZhennanQin No, only in master branch.

[2019-02-08 05:02] xyzdcgan commented on #14084
@andrewfayres Thank you if you can help me regarding that it would be great and solution to that issue of ctypes importing

[2019-02-08 05:17] stephenrawls commented on #14093
Is it in 1.4 branch? I actually changed this code specifically to use 2d convolution because 1d convolution in mxnet 1.3 is super slow on CPUs, so great to hear that a fix is coming.

I'm in a setup where I do need to use a current release of mxnet, but will try building from master and confirming if that fixes the problem. Thanks for the quick response!

[2019-02-08 05:19] xinyu-intel commented on #14093
@stephenrawls Not in 1.4 branch yet. You can try to build from master and your feedback is welcome:)

[2019-02-08 05:35] pengzhao-intel commented on #14093
Thanks the quick answer from @ZhennanQin @xinyu-intel

@stephenrawls thanks to trying the MKLDNN backend and report the potential issues.
Looking forward to your results with the new conv1d interface (ps, please try to run in the Skylake machine since there're known performance issue on old architecture like broadwell).

Feel free to ping us if anything we can help:)

[2019-02-08 05:38] pengzhao-intel commented on #14092
@rajeshii do you mind to enhance the error message?

[2019-02-08 06:28] pengzhao-intel commented on #14087
@stsukrov thanks for the analysis.
I have done several experiments in the local and I can reproduce your results in step 2.
Agree with you OMP_PLACE should be similar with the two OMP env setting but the result is totally different and I will look into the details in the next week (this week we are on the vacation).

In step  3, two env works well in myside and could you double check?
In step 4, y

[2019-02-08 06:30] rajeshii commented on #14092
Added:)

[2019-02-08 08:02] pengzhao-intel commented on #14086
@TaoLv has successfully built the  MXNet with ICC.  We can provide the detail information later (maybe early of next week).

[2019-02-08 08:04] pengzhao-intel commented on #14085
@lebeg is working on the fixing for cmake and BLAS related issues.

[2019-02-08 08:54] stsukrov commented on #14087
@pengzhao-intel
Thanks, Patric. Appreciate your help during the vacation.

NNVM_EXEC_MATCH_RANGE and MXNET_SUBGRAPH_BACKEND are additional optimizations.
Great to know.
Let's put them aside for a while to investigate just the issue.

My results:
1. Nothing was set:
[code]

2. OMP_NUM_PLACES was set to 36 (my cores)
[code]
3. OMP_NUM_PLACES **AND** OMP_PLACES=cores are set
[code]
4. set OMP_NUM_THR

[2019-02-08 08:58] stsukrov commented on #14087
Now, I'm doing a symlink
[code]
And OMP_PLACES is not a trouble maker anymore.
[code]

[2019-02-08 09:04] stsukrov commented on #14086
@pengzhao-intel
I was able to fix the issue by extracting the for-loop boundaries.

Will appreciate if you can provide the instructions.

[2019-02-08 09:06] stsukrov commented on #14085
Thanks, Patric!

I'm in contact with @lebeg and we will track the issue.

[2019-02-08 09:17] ginko3 commented on #14089
Sure,

I create the `rec` file using `im2rec.py` with the command

[code]

My Code looks like:
[code]

When I print a batch, it shows as written in context `mx.cpu_pinned(0)`. I would like to have it in `mx.gpu(x)`, or even split data with `gluon.utils.split_and_load()` directly.

[2019-02-08 13:26] mahmoodn opened #14096 "module 'mxnet.symbol' has no attribute 'WarpCTC'"
I want to run speech recognition example and I have followed the steps in the readme file. Here are the commands I ran to prepare the example
[code]
So, I can verify the preparations
[code]

However, I the run isn't successful and I get the following error

[code]
What is missing then?

[2019-02-08 15:08] lanking520 commented on #13853
From the previous message:
[code]

Have checked your C compiler `clang --version`? It seemed the problems appeared to be some compiler issues. Try `make clean` and `make -j` again

[2019-02-08 15:43] vishaalkapoor commented on #14026
@roywei This appears to still be broken from the logs.

http://jenkins.mxnet-ci.amazon-ml.com/job/NightlyTestsForBinaries/job/master/220/console

Did you double-check the changes by running the NightlyTestsForBinaries locally? If it is failing in Jenkins but not locally, you should use docker containers to simulate the exact environment.

Please try to fix urgently as the Nightly tests have been b

[2019-02-08 17:54] anirudhacharya commented on #13859
@hetong007 I do not have any best practice for multi-gpu training, but this might help your issue - https://github.com/apache/incubator-mxnet/issues/5296#issuecomment-461608335

[2019-02-08 18:04] piyushghai commented on #13982
@yx3zhang Did the above replies help with your query ? If yes, please feel free to close this issue.
You can re-open if closed in error.

[2019-02-08 19:02] chris-english commented on #13859
Double R-Package/Rpackage still makes cp have trouble finding:
chris@jacie:~/.virtualenvs/mx_cv4/mxnet$ ls lib
libiomp5.so  libmkldnn.so.0  libmklml_intel.so  libmxnet.a  libmxnet.so

chris@jacie:~/.virtualenvs/mx_cv4/mxnet$ workon mx_cv4
(mx_cv4) chris@jacie:~/.virtualenvs/mx_cv4/mxnet$ python
Python 3.5.2 (default, Nov 23 2017, 16:37:01)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "c

[2019-02-08 19:32] roywei commented on #14026
@vishaalkapoor i m trying to fix it, it's passing on local tests in 120s, way below the timeout limit. But i m not able to run docker containers setup according to [cwiki step 2](https://cwiki.apache.org/confluence/display/MXNET/Reproducing+test+results)

I m using Deep Learning Base AMI ubuntu on g3.8xlarge instance
following is the error:
[code]

[2019-02-08 21:28] szha commented on #9686
log_softmax return type https://github.com/apache/incubator-mxnet/pull/14098#pullrequestreview-201770450

[2019-02-08 22:45] eric-haibin-lin opened #14100 "More user-friendly profiler result"
This is an example output of `mx.profiler.dumps()`:

[code]
As an user I am interested in sorting the operators based on a particular field (e.g. Avg Time) to find out the most expensive one. It would be great to have such an enhancement.
cc @Vikas89

[2019-02-08 22:46] vishaalkapoor commented on #14026
There's a connection issue in the logs. Perhaps has to do with running a docker image and being sandboxed in some manner.

As per http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTestsForBinaries/detail/master/221/pipeline

[code]

[code]

Re: Docker
One possible issue, make sure you're using the right platform and runtime. First line of http://jenkins.mxnet-ci.amazon-ml.com

[2019-02-08 23:05] yx3zhang commented on #13982
I worked around by passing in layout.undefined. I still feel it would be better if consistent but for now it'll work.

[2019-02-08 23:14] szha opened #14101 "Flaky test_random.test_multinomial_generator"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-14098/3/pipeline#step-173-log-3373

[2019-02-08 23:15] szha commented on #13915
One more: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-14098/3/pipeline/118#step-187-log-2806

[2019-02-09 05:52] roywei commented on #14026
@marcoabreu @Chancebair  could you reopen this issue?

**On the test failure**
I think the root cause is shared memory on docker is too small, leading to Gluon DataLoader hanging when using multi worker.
according to issue: https://github.com/apache/incubator-mxnet/issues/11872

That's why this test is passing on local and only fails on docker.

**On docker reproduction failure**
I m still not abl

[2019-02-09 12:05] jasperDD opened #14104 "Error in mx.nd.internal.empty.array(shape, ctx) : [14:58:38] C:\Jenkins\workspace\mxnet\mxnet\src\storage\storage.cc:137: Compile with USE_CUDA=1 to enable GPU usage in R"
I run this script for captcha recognition in R (windows machine)
mx.set.seed(42)

model <- mx.model.FeedForward.create(
  X                  = train,
  eval.data          = val,
  ctx                = mx.gpu(),
  symbol             = captcha_net,
  eval.metric        = mx.metric.acc2,
  num.round          = 10,
  learning.rate      = 0.0001,
  momentum           = 0.9,
  wd                 = 0.000

[2019-02-09 14:16] mseth10 opened #14105 "nd.slice errors out when end=-1 and step=-1"
### Description
For `mxnet.ndarray.slice(data, begin, end)`, if `end=-1` and `step=-1`, it does not return a reversed tensor. Instead, it gives an invalid data error.

### Minimum reproducible environment
[code]
Expected output: `[1.0434405 0.7740038 2.2122064]`
Outputs:
[code]
[code]

[2019-02-09 14:16] mseth10 commented on #14105
@mxnet-label-bot add [Python, NDArray, Operator, Bug]

[2019-02-09 16:39] xiaolin-cheng opened #14106 "Question on ResNet C++ example with Cifar10 dataset"
Hello all,

I modified the ResNet C++ example to be a ResNet18 model (4 levels and 2 blocks) working with Cifar10 dataset, but unfortunately it didn't work (validation accuracy always ~0.1). Only ResNet6 (1 level, 2 blocks) and ResNet10 (2 levels, 2 blocks) worked. My code is the following. Could you help me point out where I did wrong? Thank you very much!

`Symbol getConv(const std::string & nam

[2019-02-09 18:21] kedarbellare commented on #14069
could there be an issue with downloading and unzipping of the file?

[2019-02-10 04:39] YutingZhang commented on #6087
@piiswrong Is there a plan to implement this simple feature?

[2019-02-10 05:27] guoguicheng opened #14108 "No CUDA toolset found."
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-02-10 05:52] ifeherva commented on #11424
Thank you @djl11 this has really helped me in implementing unique, where and do on. However, only in nd. Is there a way to do this in symbolic?

[2019-02-10 10:30] #14108 closed

[2019-02-10 13:09] jasperDD commented on #14104
I understood what the problem. I don't have Nvidia card, so i must use MXnet only CPU and not GPU
like this
model <- mx.model.FeedForward.create(
  X                  = train,
  eval.data          = val,
  ctx                = **mx.cpu()**,
  symbol             = captcha_net,
  eval.metric        = mx.metric.acc2,
  num.round          = 10,
  learning.rate      = 0.0001,
  momentum           = 0.9

[2019-02-10 13:35] TaoLv commented on #14086
@stsukrov May I know which version of ICC you are working with? I'm using ICC19.

[2019-02-10 14:48] BigBigWolf-AI opened #14109 "mxnet doesn't have instructions for verifying installation (was: mxnet安装完成后没有验证是否安装成功的过程)"
操作系统：Windows 10专业版
mxnet版本：1.3.1
问题描述：
mxnet官网给出的安装教程中，只是给出了一条安装命令，并没有给出如何验证安装成功的教程，建议加上。特别是mkl版本和cuda版本的mxnet，没有给出验证是否安装成功的教程，不知道是否安装成功，让新人很难受。

[2019-02-10 14:48] gigasquid commented on #14069
@kedarbellare that's a likely scenario - downloading files could be a flaky component.

[2019-02-10 14:49] BigBigWolf-AI commented on #14109
ps：pytorch有这个验证过程，mxnet为什么没有，难受

[2019-02-10 15:49] jasperDD opened #14110 "how to get picture for capture recognition task"
in this topic
https://github.com/apache/incubator-mxnet/tree/master/example/captcha
You can download the **images** and .rec files from https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/data/captcha_example.zip
there are no pictures in archive, how can i get this picture
please share it. if you have

[2019-02-10 17:54] stsukrov commented on #14086
icc version 19.0.1.144 

[2019-02-10 19:21] ChaiBapchya commented on #14110
Its availalbe in the zip format. You can unzip it using the usual techniques

For Linux Ubuntu Terminal
[code]
For Mac, you could use the same `unzip` command
Hope this helps.
In case it is resolved, you can go ahead and close it.

[2019-02-10 19:21] ChaiBapchya commented on #14110
@mxnet-label-bot add [Question]

[2019-02-10 19:23] jasperDD commented on #14110
I use windows) but   **it was typo , not now , and there are _no_ pictures in archive**
i.e in this link there are NO pictures, only rec and lst files

[2019-02-10 19:54] gigasquid opened #14111 "Move Scala Bucketing Code to the Main Package"
The BucketIO.scala https://github.com/apache/incubator-mxnet/blob/master/scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/BucketIo.scala in the current example Scala would be very useful in the main package to work with BucketingModule (see example https://github.com/apache/incubator-mxnet/blob/master/scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/LstmBucketin

[2019-02-10 20:55] lupesko commented on #13747
I think this bug can be closed due to #13764 and the lack of repro scenario and response from the submitter of the issue (@l1uw3n). If closed in error this can be re-opened.
@anirudh2290 can you please review and unless I am missing anything close?

[2019-02-11 01:15] TaoLv commented on #14086
I had a simple integration [here](https://github.com/apache/incubator-mxnet/compare/master...TaoLv:enable-icc?expand=1). But it's not rebased to master branch yet. Please let me know if it works for you.

[2019-02-11 03:23] 975150313 opened #14112 "CMakeLists.txt"
line 33   AND (NOT MSVC) ? MKLDNN不支持VC编译器吗

[2019-02-11 04:15] pengzhao-intel commented on #14112
Thanks @975150313 for the question.

@ZhennanQin @xinyu-intel could you help answer the question?

[2019-02-11 04:29] ZhennanQin commented on #14112
@975150313 AFAIK, MKLDNN supports windows build with VC. USE_MKLDNN is turned on by default in MXNet recently, and this default enabling is on Linux build only. After some more testing, we may enable MKLDNN by default on other platform like windows. for now you can manually enable MKLDNN with cmake option `-DUSE_MKLDNN`.

[2019-02-11 04:38] TaoLv commented on #14112
@975150313  Please refer to [the readme of MKL-DNN backend](https://github.com/apache/incubator-mxnet/blob/master/MKLDNN_README.md#3) for the build on Windows.

[2019-02-11 04:42] TaoLv commented on #14109
@BigBigWolf-AI Please refer to [Validate your MXNet installation](https://mxnet.incubator.apache.org/versions/master/install/validate_mxnet.html) and [the readme of MKL-DNN backend](https://github.com/apache/incubator-mxnet/blob/master/MKLDNN_README.md#verify-mxnet-with-python).

[2019-02-11 04:49] TaoLv commented on #13516
#13697 is merged. Closing this issue now.

[2019-02-11 04:49] #13516 closed

[2019-02-11 04:53] 975150313 commented on #14112
![qq 20190211125002](https://user-images.githubusercontent.com/24599391/52546601-d4199b80-2dfb-11e9-9317-ed791e5a700a.jpg)
When I compiled mxnet using CMake, there was no MKL-DNN option, and I thought maybe there was a problem with the configuration of CMake. @ @

[2019-02-11 04:58] 975150313 commented on #14112
Last version of Make can find MKLDNN, but now this version of Make can not compile MKLDNN to mxnet.

[2019-02-11 05:08] 975150313 commented on #14112
![qq 20190211130553](https://user-images.githubusercontent.com/24599391/52546914-12b05580-2dfe-11e9-84aa-66fa88218e58.jpg)

Mkl has been installed on my computer and CMake has recognized it, but there is no MKL-DNN option in CMake, and there is no third-party library of MKL DNN in the compiled bulid folder.

[2019-02-11 05:22] 975150313 commented on #14112
@mxnet-label-bot
Thank you for your reply. I will pay attention to the relevant labels.

[2019-02-11 05:53] eric-haibin-lin commented on #11424
@ifeherva unfortunately the .data/.indices APIs are only available in the imperative mode. @junrushao1994 is looking into dynamic shape operators and might have some idea of what is coming

[2019-02-11 07:33] Demohai commented on #12619
@RuRo  has your problem solved?

[2019-02-11 09:00] TPchanger opened #14114 "distributed training port bind error"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-02-11 10:09] mahmoodn opened #14115 "multivariate time series example"
For the multivariate time series example, I changed the default electricity.txt to exchange_rate.txt, however I get the following error

[code]

[2019-02-11 10:17] Bumblebee1964 commented on #10543
If you have still the problem, what is the message in the output of the compiler for making project cpp_package_op.h ??
Typical problems can be that you do not have the Python interpreter executable in the PATH or any of the dependencies (dll's) of mxnet in the PATH. Like OPENCV, MKL or OPENBLAS, or CUDA / CUDNN

[2019-02-11 10:51] Bumblebee1964 opened #14116 "Failure in generated op.h in version 1.3.1"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-02-11 10:53] Bumblebee1964 commented on #14116
Suggested labels: build, cpp

[2019-02-11 11:11] stsukrov commented on #14086
@TaoLv

Really confused :)

Unable to find any documentation on **--new_cilkfor**
I assume it's some kind of magic internal Intel flag, that's used to preevaluate for-upperbound.

**l2_normalization.cc is compilable now.**
Confirming, that it partially fixes the first issue - I'm able to build libmxnet.so.

**It doesn't fix the second internal error**:
[code]

[2019-02-11 13:11] TaoLv commented on #14086
@stsukrov I think it's something new in recent version of ICC (since 2019) and not well documented. I will communicate with compiler team and let you know if there is any public available document for it.

Also thank you for pointing out the internal error. I didn't have a try on compiling cpp test with ICC. Will try to reproduce the error and get back to you later.

[2019-02-11 15:16] larroy opened #14117 "Would like to be able to execute build function several times, building ccache wrapers prevents this"
## Description

See comments below. Ccache is in fact working on cpu openblas builds, hence the change of title.

@marcoabreu

## Environment info (Required)

[code]

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):

MXNet commit hash:
0a2419ffbc7b94448110bf20e52d83557ccf441f

## Minimum reproducible example
[code]

[2019-02-11 15:23] jlcontreras commented on #13800
Found why we are checking out the wrong version of tvm. The InstallationGuide step in CI executes the commands from [docs/install/index.md](https://github.com/apache/incubator-mxnet/blob/v1.3.x/docs/install/index.md) . One of the steps there is the following:

[code]

So we are actually testing master, even from this v1.3.x job.

[2019-02-11 15:25] marcoabreu commented on #14117
Please provide more details around the current behaviour, the expected behaviour, how to observe/measure it and in how far the linked PR changed that.

[2019-02-11 15:29] larroy commented on #14117
@mxnet-label-bot [ci]

[2019-02-11 15:30] marcoabreu commented on #14117
![image](https://user-images.githubusercontent.com/18629099/52573377-4ef1af00-2e1a-11e9-8bb9-1215cd393595.png)

My data does not show any regressions as result of merging #13456 on 14th of December.

[2019-02-11 15:32] larroy commented on #14117
It also prevents executing the build function two times. Why do we need to use these wrappers? Why not just using CC and CXX environment variables?

jenkins_slave@013086bf91e1:/work/mxnet$ /work/runtime_functions.sh build_ubuntu_cpu
+ NOSE_COVERAGE_ARGUMENTS='--with-coverage --cover-inclusive --cover-xml --cover-branches --cover-package=mxnet'
+ NOSE_TIMER_ARGUMENTS='--with-timer --timer-ok 1 --ti

[2019-02-11 15:37] marcoabreu commented on #14117
It is the recommended way to use ccache - as explained previously: https://ccache.samba.org/manual/latest.html#_run_modes

[2019-02-11 15:37] marcoabreu commented on #14117
Please feel free to submit a PR to make a conditional mkdir.

[2019-02-11 15:39] marcoabreu commented on #14117
It is required because underlying build-systems don't respect the wrapper methods.

[2019-02-11 15:39] larroy commented on #14117
Ok maybe it's calling ccache but it's not obvious because of the wrappers, it's more obvious when the command includes ccache.

Reproduction with:

[code]

I expect to be able to execute /work/runtime_functions.sh build_ubuntu_cpu several times.

But seems ccache is in fact working.

[2019-02-11 15:41] larroy commented on #14117
@marcoabreu there's two modes to run it according to the documentation:

"There are two ways to use ccache. You can either prefix your compilation commands with ccache or you can let ccache masquerade as the compiler by creating a symbolic link (named as the compiler) to ccache. "

[2019-02-11 16:11] gigasquid opened #14118 "[Clojure] - Provide support for Fasttext embedding in CNN Text Classification example"
Right now the CNN text classification example provides support for glove and word2vec embeddings.
It would be great to also provide support for BERT to give users an example of how to integrate that into their code as well.

CNN Text Classification Example: https://github.com/apache/incubator-mxnet/tree/master/contrib/clojure-package/examples/cnn-text-classification

Reference implementation of BE

[2019-02-11 17:57] vishaalkapoor commented on #14026
Hi @roywei,

Cool - do you a log message that points to #14119?

If this is at the root cause stage or even at the stage pending a fix for #14119, I think it would be best to comment out the test, try to repro with docker using the same hardware instance type as the test runner, fix and then re-enable. The Berlin office hours are tomorrow morning if they're still Tuesday mornings. It might be help

[2019-02-11 18:23] roywei commented on #14026
Hi @vishaalkapoor, I have created another PR to disable it and set the fix as WIP, will try to reproduce and test the fix before merge.
Thanks

[2019-02-11 19:02] lanking520 commented on #8864
@zzcpf Close it for now, Please feel free to reopen if problem persist.

[2019-02-11 19:02] #8864 closed

[2019-02-11 19:04] lanking520 commented on #12869
@MyraBaba Close this issue for now, Please feel free to reopen if problem persist.

[2019-02-11 19:04] #12869 closed

[2019-02-11 19:04] vishaalkapoor commented on #14026
great, thank you @roywei :)

[2019-02-11 19:10] marcoabreu commented on #14117
We already had this discussion in https://github.com/apache/incubator-mxnet/pull/13456

[2019-02-11 19:10] lanking520 commented on #11944
@BenLag2906 Close it for now due to no response, Please feel free to reopen if problem persist.

[2019-02-11 19:10] #11944 closed

[2019-02-11 21:57] vandanavk commented on #13061
PR https://github.com/apache/incubator-mxnet/pull/14121

[2019-02-11 22:04] szha commented on #14109
Translation for @BigBigWolf-AI's request:
Operating system: Windows 10 professional
mxnet version: 1.3.1
Problem statement:
The official mxnet website provides instructions for installation with a single installation command, without providing ways of verifying whether installation is succssful. I suggest adding it.
Especially for mkl and cuda versions of mxnet, without verification steps, it's ha

[2019-02-11 23:59] lanking520 commented on #14109
MXNet Engine在build结束后并没有任何验证的过程，但是Python和Scala/Java在build结束后可以运行一个test。test本身会花一段时间，所以并没有自动激活。如果你直接使用的是Python的wheel的话，这个是验证过可用的。

MXNet Engine didn't have a verification step after build. However, if you use Python or Scala build, there is an additional test step you can run with. Due to the time cost, we did not enable them by default. If you are using Python wheel, these tests should be covered

[2019-02-12 01:36] lanking520 commented on #14096
@mahmoodn Could you please provide more information of the code you have tried to run? You can find the fix in here: https://github.com/apache/incubator-mxnet/issues/9078

[2019-02-12 02:48] pengzhao-intel commented on #14086
@stsukrov one more, do you mind providing some backgrounds and the goal of the compiler switching so that we can have a big picture and thinking about the final solution, such as how to deliver the patch in ICC?

[2019-02-12 05:59] eric-haibin-lin opened #14124 "SequenceMask is slow on GPU for BERT"
I observed that `SequenceMask` and `_backward_SequenceMask` takes noticeable amount of time when I train BERT model on V100 GPUs. Specifically, I observed that most of ops take ~ 0.1ms per invocation on average, but `SequenceMask` takes 4ms. It looks like SequenceMask kernel is not parallelized by element, but rather by the batch size:
https://github.com/apache/incubator-mxnet/blob/master/src/oper

[2019-02-12 06:46] eric-haibin-lin commented on #11061
I am interested in this, too. This is taking a noticeable portion of time when training BERT. In my case, each invocation takes ~8ms, while other operators take ~0.1ms.

[2019-02-12 07:02] eric-haibin-lin commented on #11061
Also both CPU and GPU argmax becomes slow when the number of category is large (e.g. vocab size = 30K).

[2019-02-12 07:11] eric-haibin-lin opened #14125 "FP16 support for topK"
TopK doesn't support fp16 inputs.

[2019-02-12 07:24] eric-haibin-lin opened #14126 "Safe accumulation type for nd.norm"
For FP16, reduction operators tend to loss precision if the accumulation data type remains fp16. Instead, the accumulation dtype should be in fp32. i.e.
[code]
We should do it for the norm op.

Reference impl for softmax: https://github.com/apache/incubator-mxnet/pull/14098

[2019-02-12 08:27] scindew commented on #6915
I have the exact error. Did you solve it?

[2019-02-12 08:59] songziqin opened #14129 "NDArray C++ construct problem"
I use MXnet in C++. I want to construct  a new NDArray  object through a vector object. I use the  NDArray (const std::vector< mx_float > &data) function.

vector<mx_float> v;
for(int index=0;index<10;index++)
     v.push_back(0.01);
NDArray nd_array(v);
and I do a test, what surprise me is  nd_array.Size() != v.size()
I am very confused.

[2019-02-12 09:35] lebeg commented on #14085
Yes, it is a significant problem. I did fix it in https://github.com/apache/incubator-mxnet/pull/11148, but fix was never merged. I think initially the thought behind it was that presumably MKLML wouldn't have all necessary math functions included and therefore openblas was linked to cover this cases. In reality MKLML functionality is fully sufficient, so openblas should not be linked at all when

[2019-02-12 09:36] lebeg commented on #6685
The reason for this is described in: https://github.com/apache/incubator-mxnet/issues/14085  Default cmake build uses openblas instead of MKL

[2019-02-12 10:01] TaoLv commented on #13800
@jlcontreras issue resolved?

[2019-02-12 10:18] stsukrov commented on #14086
@pengzhao-intel

We have just evaluated, if it's possible to compile mxnet with ICC.
I assume it's still an issue, since we face 2 internal errors.

[2019-02-12 11:11] pengzhao-intel commented on #14086
@stsukrov thanks for the information. I think it's not a big problem. Intel team can fix it :)

[2019-02-12 11:34] chinakook commented on #6685
Does openblas or MKL have impacts on GPU performance?

[2019-02-12 12:06] stsukrov commented on #14086
Sure.
Looking forward

[2019-02-12 13:22] Con-Mi commented on #13949
I phase the same error on version 1.3.1 for Linux.
Any updates?

[2019-02-12 14:36] larroy opened #14131 "Website build is failing in CI in Clojure steps."
## Description

See CI validation of master:

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/PR-14122/3/pipeline

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/master/304/pipeline

@gigasquid

[2019-02-12 14:39] gigasquid commented on #14131
I just quickly looked into it, but it seems like the release of leiningen 2.9.0 broke the "codox" generation tool. I think the immediate fix is to disable the clojure doc generation to get ci passing again and unblock builds. The proper fix will be to ping the version of leinengen to a known version so it doesn't get the latest by default and unknowingly break something

[2019-02-12 18:29] lanking520 commented on #14091
Hi @NRauschmayr Are you testing this operator using GPU? Looks like the operator is looking for GPU context to start with

[2019-02-12 18:32] lanking520 commented on #14104
@jasperDD Thanks for identifying the problem. Can you confirm that the model is using GPU as a default?
@anirudhacharya @hetong007

[2019-02-12 18:35] lanking520 commented on #14106
@leleamol Could you please help with this guy?

[2019-02-12 18:50] roywei commented on #14114
@TPchanger you can try using ip addresses instead of host names in your host file. refer to https://github.com/dmlc/ps-lite/issues/139

[2019-02-12 18:50] lanking520 commented on #14115
[code]
The problems is model not found. Please either rename your model file name to this one or make change in the code to load your new model name.

[2019-02-12 18:51] yuxihu commented on #14114
[code]
This might not be related to the error. But 'dist' seems an invalid option. Refer to supported options [here](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/kvstore.py#L663).

[2019-02-12 19:08] lanking520 commented on #14129
@songziqin Could you please print the result, curious about the outcome

[2019-02-12 19:09] lanking520 commented on #14131
Thanks for the quick fix!

[2019-02-12 20:21] vandanavk commented on #13949
[code]
I get this error. (MXNet built from source).
This error is the same as https://github.com/apache/incubator-mxnet/issues/13395 and similar to https://github.com/apache/incubator-mxnet/issues/13774. All these issues depends on dynamic shape support.

[2019-02-12 20:23] vandanavk commented on #13949
Related: https://github.com/apache/incubator-mxnet/issues/12732, https://github.com/apache/incubator-mxnet/issues/10789

[2019-02-12 20:45] vandanavk commented on #13949
@wangliye00  @Con-Mi  However, I do see the error that you facing with MXNet v1.3.1. For fixing this, could you try pulling in the commit https://github.com/apache/incubator-mxnet/pull/13413 and checking if you are able to proceed further?

[2019-02-12 21:00] aaronmarkham opened #14135 "raspberry pi broken installation path"
## Description
While testing #13886 I found that the Pi setup instructions are missing a dependencies install step and the end result is a core dump anyway.

I cross-compiled as instructed (on Ubuntu) then ran the created wheel on the Pi. I found that libgfortran3 and then openblas were both missing when I tried to import mxnet, so I installed the whole batch of dependencies from an [ubuntu setup

[2019-02-12 21:21] #13061 closed

[2019-02-12 21:48] leleamol commented on #12734
The example is merged and available in the master. This issue can be closed.

[2019-02-12 22:00] leleamol commented on #13437
@aravindhv10
I looked at the valgrind log and it seems valgrind terminated itself by throwing SIGILL signal.
This is happening just after libmxnet.so is getting loaded.

Similary the cv related allocations that you have mentioned are done when opencv shared library is getting loaded during execution.
I am not seeing evidence in valgrind.log that exec->Backward() is leaking the memory.  The program

[2019-02-12 22:01] leleamol commented on #13437
@mxnet-label-bot [Pending Requester Info]

[2019-02-12 22:37] aaronmarkham commented on #14135
Thanks label bot. That was an apt suggestion.

[2019-02-12 22:42] leleamol commented on #14106
@xiaolin-cheng  ,
can you please share the code that you used for training?

[2019-02-12 22:42] vandanavk commented on #11542
@ankkhedia this issue does not occur on the latest MXNet (built from source).

Executed this:
[code]

Can this issue be closed? Please feel free to reopen if you see this issue again.

[2019-02-12 22:44] apeforest opened #14137 "[Feature Request] turning off cudnn autotune"
Current document says:

However, if in the convolution layer of the model, cudnn_tune is set, this environment variable will not take any effect causing unexpected result from user.

We need to let this variable have global control, or remove the cudnn_tune param per convolution layer altogether (I personally don't understand why we had it there in the first place)

[2019-02-12 22:45] xiaolin-cheng commented on #14106
Hi @leleamol,

I used the training code provided in the example [resnet.cpp](https://github.com/dmlc/MXNet.cpp/blob/master/example/resnet.cpp).

Thank you!

[2019-02-13 00:05] leleamol commented on #14129
@songziqin ,

The implementation of constructors NDAarray(const vector<mx_float>&data) and NDArray(const mx_float* data) in c++ API (cpp-package/include/mxnet-cpp/ndarray.h) is incorrect.  These constructors call MXNDArrayCreateNone() API that creates an empty NDArrayHandle which is uninitialized. In order to create and store data in an NDArray object successfully, we need to have the context (cpu

[2019-02-13 00:40] anirudh2290 commented on #10542
@pengzhao-intel Can you point me to the further discussion for MKLDNN RNN API Integration.

[2019-02-13 02:28] songziqin commented on #14129
@leleamol
thanks a lot.it is really helpful.

[2019-02-13 02:35] songziqin commented on #14129
@leleamol  I find the NDArray object function SyncCopyFromCPU,it cost much time, I wonder if there is a quicker function can do the same thing.

[2019-02-13 03:46] stephenrawls commented on #14124
+1

We have also noticed this.

As a work around in some of our code, we have re-written to manually mask thinks out via broadcast_mul with manually constructed masks.

Would be nice for SequenceMask itself to be faster though.

[2019-02-13 03:51] stephenrawls commented on #14125
+1

This is annoying for us because we need to use topk in our CRF Viterbi decoding during inference (for k-best Viterbi).

Because topk doesn't support float16 this means we have to convert from float16 to float32 before doing k-best Viterbi decoding. Since this is the most time consuming part of inference, we would prefer to be able to benefit from float16 operations here.

[2019-02-13 04:02] pengzhao-intel commented on #10542
@anirudh2290 yes, we have the plan but a little complicated mixed the next major release of MXNet 2.0 and MKLDNN 1.0.

We can talk for more details by email, please ping me patric.zhao@intel.com

[2019-02-13 06:09] anirudh2290 commented on #13747
Fixed by #13764

[2019-02-13 06:09] #13747 closed

[2019-02-13 08:17] perdasilva opened #14143 "test_autograd.py freezing on shipped version of mxnet"
## Description
I decided to run the python tests against the statically linked version of mxnet, which is the one you get when you pip install mxnet. I found that the test `tests/python/train/test_autograd.py` is freezing.

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):

pip3 install mxnet==1.5.0b20190212

## Error Message:

No error message. Just freezes.

## Minimum

[2019-02-13 08:19] nopattern commented on #13953
me too ,version 1.3.1

[2019-02-13 08:51] perdasilva commented on #13800
@TaoLv not yet. The issue seems to come from the following command:

[code]

It seems we are testing whether the v1.3.x documentation has the instructions to compile the master branch. I guess there must have been some changes in the dependencies on master, which have updated the documentation. We need to figure out a way to test the documentation instructions against the code in branch in which t

[2019-02-13 14:05] Bumblebee1964 commented on #14116
dug a bit deeper in the problem. It seems that the new inline functions have an argument type that is not listed as known argument types in OpWrapper.py. I guess the argument type is nnvm::Tuple<float> but not sure.

[2019-02-13 17:42] perdasilva commented on #10973
I'm seeing this again on an unrelated PR:

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-14144/6/pipeline

[2019-02-13 17:54] #14026 closed

[2019-02-13 17:56] perdasilva commented on #8671
Hey,

I noticed USE_LIBJPEG_TURBO=1  ([e.g.](https://github.com/apache/incubator-mxnet/blob/master/make/pip/pip_linux_cpu.mk#L83)) but that's not described on the table.

Cheers,

Per

[2019-02-13 18:11] lanking520 commented on #12843
@zheng-da Close this issue since it's been identify a Scipy bug rather than MXNet. Please feel free to reopen if you feel like some alternative action should be taken here.

[2019-02-13 18:11] #12843 closed

[2019-02-13 18:13] lanking520 commented on #13982
@yx3zhang Thanks for your reply. Close this issue for now. Please feel free to reopen this if you find a better solution to that or you are blocked by this one more time.

[2019-02-13 18:13] #13982 closed

[2019-02-13 18:14] lanking520 commented on #12734
@Isa-rentacs As explained the PR merged, let's close this issue for now. Please feel free to reopen this thread if you observed more problems with that.

[2019-02-13 18:14] #12734 closed

[2019-02-13 18:34] lanking520 commented on #8108
@chenjunweii Close this issue for now since the PR has been merged. Please feel free to reopen this issue if problem persist. Thank you.

[2019-02-13 18:34] #8108 closed

[2019-02-13 20:00] leleamol commented on #14129
@songziqin,
The SyncCopyFromCPU() function available in C++ API is a wrapper on underlying MXNDArraySyncCopyFromCPU() implementation.  If the context remains the same, the copying operation should be faster.

You can try NDArray::Copy(context& ctx) or NDArray::CopyTo(NDArray *other) functions to create a copy of existing NDArray.  With the first function, you can change the context of resultant ND

[2019-02-13 20:00] leleamol commented on #14129
@mxnet-label-bot [Pending Requester Info]

[2019-02-13 20:12] leleamol commented on #13989
@yuyijie1995,
Can you please let us know if you were able to build cpp-package from source?

@mxnet-label-bot add [Pending Requester Info]

[2019-02-13 20:12] leleamol commented on #13989
@mxnet-label-bot add [Pending Requester Info]

[2019-02-13 20:57] #14131 closed

[2019-02-13 23:47] gigasquid commented on #14069
We had another report of this - so I'm going to disable it until we can figure out a good way to prevent the problem.

Possible solutions:
- check in a small fake "glove" test file that that only has a couple lines.
- put glove somewhere out on S3 for more stability and fetch that from CI instead.

[2019-02-14 00:50] #14129 closed

[2019-02-14 00:58] songziqin opened #14152 "data layer grad problem"
the C++ code as follows:
 args_["data"] = NDArray(Shape(params.batch_size, params.dim), ctx);
 network_.InferArgsMap(ctx, &args_, args_);
 exec_.reset(network_.SimpleBind(ctx, args_));

I find the exec_.get()->grad_dict() get the data layer grad is all 0.
and I want to know through the code above, can I  get the actual
the data layer grad. thanks.

[2019-02-14 04:16] hey-yahei commented on #13986
I try to install the nightly version. But when I import mxnet in python, some faults occur --
[code]

[2019-02-14 06:17] eric-haibin-lin opened #14157 "Inconsistent handling for nan"
[code]

[2019-02-14 10:45] Chancebair opened #14158 "[Flaky Test] Master Python2: MKLDNN-GPU test_operator_gpu.test_multinomial_generator"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/master/326/pipeline

Disabled test: https://github.com/apache/incubator-mxnet/pull/14161

[code]

[2019-02-14 11:03] Chancebair commented on #14158
@mxnet-label-bot add [Test, Flaky]

[2019-02-14 11:06] IvyGongoogle opened #14159 "[Feature Request] Support fp16 for C Predict API"
hello, there is some materials about how to train a mxnet model with fp16,
but I can not find how to infer a batch data using fp16 by c++ api, can you give some advises?

looking forward to your reply.

[2019-02-14 13:39] jasperDD opened #14164 "How can i create .rec file for R"
suppose, as example just take captcha picture from this classic task
https://github.com/apache/incubator-mxnet/tree/master/example/captcha
so, i create train.lst
https://github.com/apache/incubator-mxnet/blob/master/example/captcha/captcha_example.png
my train.lst file contain
0	6	6	4	3	train /C:/Users/Adm/Downloads/pic/captcha_example.png
How to get .rec file for it in R language?

[2019-02-14 13:56] trtcrd commented on #6783
Thank you all !

[2019-02-14 13:56] #6783 closed

[2019-02-14 14:55] perdasilva opened #14165 "v1.3.x - strange perl unit test failure"
## Description

An unrelated change detected a failure on a perl unit test. The regularly triggered v1.3.x build does not show this error.

Full log can be found here: http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/incubator-mxnet/branches/PR-14163/runs/3/nodes/932/steps/1230/log/?start=0

The relevant part:

[code]

[2019-02-14 14:56] perdasilva commented on #14165
@sergeykolychev could you maybe weigh in?

[2019-02-14 14:57] perdasilva commented on #14165
@mxnet-label-bot add [Test]

[2019-02-14 15:39] sergeykolychev commented on #14165
@perdasilva I'll take a look, thanks!

[2019-02-14 15:52] sergeykolychev commented on #14165
@perdasilva This is pretty strange for me too, seems like the script only run 25 tests for some reason but did not fail in any other way. Never seen that one, likely related to some change in env. Let's see if the failure persists.

[2019-02-14 17:55] lanking520 commented on #13924
Close this issue since problem fixed. Thanks @leleamol for his contribution!

[2019-02-14 17:55] #13924 closed

[2019-02-14 18:39] leleamol commented on #13996
@yuyijie1995 ,

I am not seeing "/home/users/yijie.yu/yuyijie/mxnet/include" directory in the above command line.

Can you please ensure the path ""/home/users/yijie.yu/yuyijie/mxnet/include"" is specified with "-I" option when you are building the example?

I hope this helps.
@mxnet-label-bot add [Pending Requester Info]

[2019-02-14 19:19] Ishitori commented on #14074
It seems the file is lost, but you can recreate it. Basically, mean.bin is a mean image: every pixel of this image is a mean value of pixels on that position of all training images. That mean image is used to normalize every image during training and prediction.

You can recreate this file by:
- Take all training images tensors and sum them up
- Divide resulting tensor to number of training images

[2019-02-14 19:28] Ishitori commented on #14164
`.Rec` file is a binary file and should be independent from the platform - once you have it, you should be able to use either R or Python.

You can create both `.lst` file and `.rec` file using `im2rec` tool. Please, look at this explanation how to do it: https://github.com/leocvml/mxnet-im2rec_tutorial

[2019-02-14 20:09] lanking520 commented on #14152
Hi @songziqin Thanks for filing this issue. You can join our Slack channel and ask there with a faster response: http://mxnet.incubator.apache.org/versions/master/community/contribute.html#slack

@leleamol

[2019-02-14 20:14] lanking520 commented on #14159
Hi, are you planning to train on C++? Currently, we do have Python supporting float16 if you initialize the dtype to that.

[2019-02-14 21:38] NRauschmayr commented on #14091
Yes I tested this operator using GPU. I meanwhile figured out that the problem was caused by my local MXNet installation. I installed a debug version some time ago. When using the MXNet version that comes with pip install, the example runs fine. Any idea what could have triggered this problem?

[2019-02-14 21:54] lanking520 commented on #14091
I assume the `debug` version you mentioned is build from source. There can be some dependencies and linking problems happened during this process. And essentially the build from source solution we provided on master is different than the one we used to publish

[2019-02-14 22:06] aaronmarkham commented on #14135
I have a working install path here for a Pi 3B.
https://gist.github.com/aaronmarkham/b3d0c715abca92ccc4b79ed0f19d1916
I wasn't able to get the Pi 2 to work with MXNet.
These instructions should be vetted by others and then the installation page updated accordingly.

[2019-02-14 23:12] lebeg commented on #6685
You are right, probably not. Didn't read the description carefully.

[2019-02-14 23:21] simonmaurer commented on #14159
interested as well.
@lanking520 so what you're saying is that C++ inference using float16 is not yet possible? is that also true for the C predict API?

[2019-02-14 23:41] leleamol commented on #9857
The issue is not related to C++ API. Removing the C++ label.

@mxnet-label-bot remove [C++]

[2019-02-14 23:41] #13548 closed

[2019-02-14 23:51] vandanavk commented on #7853
Error on MXNet v1.5 (built from source). Tested on OSX
[code]

[2019-02-15 01:16] eric-haibin-lin commented on #13986
@ZhennanQin @taolv

[2019-02-15 01:25] ZhennanQin commented on #13986
I think it's an environment issue that you're mixed using old version of mxnet with recent `imagenet_gen_qsym_mkldnn.py` script. Because we add get_backend_symbol in symbol API and used it in `imagenet_gen_qsym_mkldnn.py`  within same PR.  Please double check your MXNet installation.

[2019-02-15 01:34] lanking520 commented on #14159
Grab someone may know about C++: @leleamol here

[2019-02-15 01:46] BigBigWolf-AI commented on #14109
Thank you very much! It's really helpful for me!

[2019-02-15 01:49] BigBigWolf-AI commented on #14109
Thank you for helping me translate my question into English. You are a really nice guy!

[2019-02-15 03:53] arcadiaphy commented on #13265
@KellenSunderland I found the memory leaks in ASAN reports of image classification example mainly come from [https://github.com/apache/incubator-mxnet/blob/master/src/common/object_pool.h#L135](https://github.com/apache/incubator-mxnet/blob/master/src/common/object_pool.h#L135)

Why commented out the free operation?

[2019-02-15 04:19] nchafni commented on #10076
hitting this error as well, git submodule update --init --recursive doesn't work for me, has this been solved?

[2019-02-15 04:20] IvyGongoogle commented on #14159
@lanking520  I use python to train a mxnet  model (such as resnet-50 ) with `--dtype=float16`，but I want to using C++ api to infer this trained fp16 model. So there are some documents about how to do it?

[2019-02-15 04:20] ChaiBapchya opened #14174 "unix cpu Static build CPU 14.04 Scala"
In an unrelated PR https://github.com/apache/incubator-mxnet/pull/14168 (fixes spelling), Unix CPU in CI failed for the test - Static build CPU 14.04 Scala

@lanking520 can you weigh in? Any thoughts?

[2019-02-15 04:24] ChaiBapchya commented on #14174
@mxnet-label-bot add [Scala, Build]

[2019-02-15 04:30] stephenrawls commented on #13265
@arcadiaphy I'm relatively new to the code base so take this with a grain of salt, but my guess is the following:

1) Memory allocation on GPU is expensive so MxNet doesn't really free it during the life of the program, they re-use it using their custom allocator pool
2) They could free the memory at program exit when the allocator pool gets destructed but:
  a) Who cares, if the program is exitin

[2019-02-15 06:24] eric-haibin-lin commented on #14159
@leleamol

[2019-02-15 06:33] arcadiaphy commented on #13265
@stephenrawls The object pool is used to quickly allocate variables when threaded engine schedules computing operations concurrently, so it's not related to GPU memory.

I think the object pools will only be destructed at program exit, so I cannot imagine what memory problems will be caused during destructing. I have re-added the free operation several weeks ago, and no problems are found in my us

[2019-02-15 07:03] stephenrawls commented on #13265
I see, thanks for background. I didn't look closely so just assumed it was about GPU memory.

Re: "I cannot imagine what memory problems will be caused during destruction".

I'm not an expert, but I think that in general destruction order is undefined for global variables and it can cause memory related problems if the memory an object needs during destruction has been freed before its destructor

[2019-02-15 07:32] arcadiaphy commented on #13265
Thanks for mentioning related issues, they are all singleton destructing problems. Crash happens when accessing too early destructed singletons. The main problem of object pools is fixed in #312, maybe there are still some underlying issues.

I think the correct way is to just let problem happens, then we can fix them to approach leak-free codes.

[2019-02-15 07:56] IvyGongoogle commented on #14159
I use [example/image-classification/predict-cpp/image-classification-predict.cc](https://github.com/apache/incubator-mxnet/blob/master/example/image-classification/predict-cpp/image-classification-predict.cc) to infer this trained fp16 model, but it can not work and shows error:

[code]

[2019-02-15 08:23] sleepwalker2017 opened #14175 "problem with protoc - 3.5"
I downloaded the latest mxnet source code,and I noticed that it would download protoc-2.5 during compiling instead of using the lib on my PC.

But I must use protoc-3.5 in my application, so it just conflicts .

How can I solve this ?

Thank you !

[2019-02-15 08:40] TobiasSkovgaardJepsen opened #14177 "Insufficient documentation for .hybridize()"
Hi

I have been trying to optimize my models with hybridize and accidentally misspelled an argument to the method. I got the quite interesting message below (using a minimal example):
[code]

Although I find this message quite useful, I also found it quite surprising since [the documentation](https://mxnet.incubator.apache.org/versions/master/api/python/gluon/gluon.html?highlight=hybrid#mxnet.gluo

[2019-02-15 10:18] RuRo commented on #13001
It would be great to compute the CDF from the histogram.

[2019-02-15 10:42] sbodenstein commented on #14124
@eric-haibin-lin: that is a great catch, this should definitely be fast enough to throttle BERT.

I won't have time in the next 2 weeks to work on this. So would be happy for someone else to rewrite if this is urgent!

[2019-02-15 12:28] jasperDD commented on #14164
in R there is im2rec function,
but  my train.lst contains
0	6	6	4	3	train/C:/Users/adm/Downloads/pic/captcha_example.png

library(“mxnet”)
im2rec(image_lst=“C:/Users/adm/Desktop/train.lst”, root=‘C:/Users/adm/Downloads/captcha_example’,
output_rec=‘C:/Users/adm/Desktop/my.rec’, label_width = 4L, pack_label = 0L,
new_size = -1L, nsplit = 1L, partid = 0L, center_crop = 0L,
quality = 95L, color_mode

[2019-02-15 12:52] kwanking commented on #14159
have you solved it?

[2019-02-15 13:29] yuyijie1995 commented on #13996
I already solved it thanks a lot!

| |
俞依杰
|
|
邮箱：13588280094@163.com
|

签名由 网易邮箱大师 定制

On 02/15/2019 02:40, Amol Lele wrote:

@yuyijie1995 ,

I am not seeing "/home/users/yijie.yu/yuyijie/mxnet/include" directory in the above command line.

Can you please ensure the path ""/home/users/yijie.yu/yuyijie/mxnet/include"" is specified with "-I" option when you are building the example?

I hope this he

[2019-02-15 14:43] larroy commented on #13584
Is this the same problem?  http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/sanity/branches/PR-14122/runs/3/nodes/39/steps/79/log/?start=0

[2019-02-15 16:35] NRauschmayr commented on #14091
Ok thanks for the information. I will close the issue.

[2019-02-15 16:35] #14091 closed

[2019-02-15 18:09] ddavydenko commented on #12126
I would also suggest to extend the C implementation to support wider GPU info. More precisely I suggest to add number of GPUs available into output of this method. And then, wrap it all up and expose via Python API.

[2019-02-15 18:41] apeforest commented on #14158
Based on the master branch CI log, the test started to become flaky after https://github.com/apache/incubator-mxnet/pull/14136 is merged.

[2019-02-15 18:51] yuxihu commented on #14158
The test I added (test_dataloader_context) in #14136 was not part of GPU CI. I do not see how it causes the flakiness for the test mentioned here.

[2019-02-15 19:47] leleamol commented on #13996
@yuyijie1995
Thanks for the update.  If the issue is solved, I would recommend closing this issue.

[2019-02-15 20:01] leleamol commented on #14159
@IvyGongoogle
Currently cpp-package APIs doesn't support fp16 datatype.  We can mark this question as feature request.

[2019-02-15 20:03] leleamol commented on #14152
@songziqin

Can you please provide a mimim reproducible example?  It isn't clear what are the expectations.

@mxnet-label-bot add [Pending Requester Info]

[2019-02-15 23:01] foamliu commented on #10393
same issue. Gerkam, have you solved this?

[2019-02-15 23:06] Ishitori commented on #14164
Unfortunately, im2rec doesn’t work from R. There is an open issue about that, but so far it hasn’t been done: https://github.com/apache/incubator-mxnet/issues/7273

Please, use python or C++ to generate both .lst and .rec files. Take a look at this tutorial for more information: https://github.com/leocvml/mxnet-im2rec_tutorial

[2019-02-15 23:13] Ishitori commented on #14110
`Rec` file is a file that contains pictures. It is a special RecordIO format which allows to store many small binary files in one bigger file. It is done to increase speed of reading data from the disk. Use [ImageRecordDataset](https://mxnet.incubator.apache.org/versions/master/api/python/gluon/data.html#mxnet.gluon.data.vision.datasets.ImageRecordDataset) to open and use it.

If you want to know

[2019-02-15 23:14] Ishitori commented on #14104
Yes, @lanking520, it is using GPU by default. See it here: https://github.com/apache/incubator-mxnet/blob/master/example/captcha/mxnet_captcha.R