[2021-01-26 16:52] EnricoMi commented on #19575
Awesome, thanks for picking it up!

[2021-01-26 18:17] r3stl355 commented on #19790
I think I'm a bit lost here. Different places show running tests either using `nose` or `pytest`. I now vaguely recall seeing something that says you'll be standardising on `pytest`, is that right?

[2021-01-26 21:32] DNXie opened #19793 "floating point exception in mxnet.ndarray.op.sample_multinomial"
## Description
floating point exception in `mxnet.ndarray.op.sample_multinomial` when `data` has 0 in its shape.

### Error Message
[code]

## To Reproduce
check the reproduce code: https://colab.research.google.com/drive/14ocIth3ZkDUj7LYxcNn79NcWaoXu74Pk?usp=sharing

[code]

## Environment
OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.7.0

[2021-01-27 11:23] PawelGlomski-Intel commented on #19768
I am working on this.

[2021-01-27 11:28] tmyapple commented on #19768
BTW,
Fixing it might break current mask_rcnn models in GluonCV (or any other model which use this op , centernet?)

[2021-01-27 17:14] DNXie opened #19798 "floating point exception in mxnet.ndarray.depth_to_space when block_size is negative large number"
## Description
floating point exception in `mxnet.ndarray.depth_to_space` when `block_size` is negative large number

### Error Message
[code]

## To Reproduce

[code]

## Environment
OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.7.0

[2021-01-28 03:05] yangshuo0323 opened #19800 "Have problom in BERT pre-training: how to training on multiple GPUs"
## Description
- I want to train BERT model on GPU, but have some problems. My configuration:
  * Software environment: Python: 3.7.7,  Cuda: 10.2
  * Install MXNet: `pip install mxnet-cu102`  , verion is 1.7.0
  * Download Model script:  `https://github.com/dmlc/gluon-nlp`.
- Run script `gluon-nlp/scripts/bert/run_pretraining.py`:
  * Reference the instruction: `https://nlp.gluon.ai/model_zoo/ber

[2021-01-28 17:25] waynelapierre commented on #18774
any update?

[2021-01-29 04:00] adamjstewart commented on #12861
This might help others with the same problem: https://github.com/apache/incubator-mxnet/issues/15787#issuecomment-584759416

[2021-01-29 12:34] flexwend opened #19803 "Failed to load mobilenetv2-7 of ONNX model zoo with MXNet"
## Description
While trying to load the mobilenetv2-7 (onnx 1.2.1, opset 7, [Mobilenet in ONNX model zoo](https://github.com/onnx/models/tree/master/vision/classification/mobilenet)) with mxnet the following error occures. I am using:
- onnx 1.7.0
- mxnet 1.7.0
- python 3.8.5

Other examples work fine like:
- googlenet-3.onnx
- googlenet-9.onnx
- resnet18-v2-7.onnx
- tinyyolov2-8.onnx
- vgg16-7.on

[2021-01-29 16:05] PawelGlomski-Intel commented on #19768
If by breaking, you mean that they won't predict well anymore, then I don't think so. I fixed the bug, run your code (without bias reinitialization) and it looks like it works even better now (as imo it should), though I am not really sure how the output should look like as I have no experience with this model (but np.sum(masks) reacts to bias reinitialization now). I will be gone for a week now,

[2021-01-29 16:52] KMint1819 commented on #15532
Is this issue solved? I've met the same problem while building mxnet 1.6 with CUDA 10.2 on Windows VS2019. Thanks!

[2021-01-29 18:58] WilliamOnVoyage commented on #15997
Wanna check if there is any update or guidance over how to solve these issues? Does it mean mxnet and pytorch not to be imported at the same time?

[2021-01-29 23:42] szha commented on #15997
Seems to be a solved issue for master branch / 2.0:
[code]

[2021-01-30 02:32] DickJC123 opened #19805 "MXNET_USE_SAFE_ACCUMULATION env var operation"
## Description
Maybe I'm missing something, but is the handling of the MXNET_USE_SAFE_ACCUMULATION variable in LayerNorm backwards (i.e. setting the variable true turns off safe accumulation)?

https://github.com/apache/incubator-mxnet/blob/3122423f3118f5ad2e278eeae97fc5a19c1feef1/src/operator/nn/layer_norm-inl.h#L124-L137

https://github.com/apache/incubator-mxnet/blob/3122423f3118f5ad2e278eeae97

[2021-01-30 02:34] yangshuo0323 commented on #19717
I see you have trained your model based on MXNet version 1.7.0.  I want to train BERT on mutiple GPU, and I have another doubt want to consult you. Do you meet this trouble:
[code]
- My environment is:
[code]

[2021-01-30 02:35] yangshuo0323 commented on #19717
@Justobe

[2021-01-30 02:41] Justobe commented on #19717
@yangshuo0323 Sorry, I did not meet similar trouble like that. The exception of my script was thrown when I used mxnet as the backend of Keras.

[2021-01-30 02:51] sxjscience commented on #19805
@DickJC123 Thanks for pointing this out. It's a bug in the general case of LayerNorm. I just checked the accelerated case and it seems to be correct there https://github.com/apache/incubator-mxnet/blob/3122423f3118f5ad2e278eeae97fc5a19c1feef1/src/operator/nn/layer_norm.cu#L348-L352 . But this is incorrect for the general case.

[2021-01-31 12:59] AlexandrParkhomenko commented on #19177
[code]

[2021-01-31 19:50] JaimeGoB commented on #18774
@leezu can you please give an example(code) on how to load mxNet with R 4.0.2, with the link you just gave use?

[2021-01-31 22:58] szha commented on #19805
Thanks to @sxjscience for fixing the issue.

[2021-01-31 22:58] #19805 closed

[2021-01-31 23:00] szha commented on #19800
This issue is being handled in https://github.com/dmlc/gluon-nlp/issues/1508

[2021-01-31 23:00] #19800 closed

[2021-01-31 23:08] szha commented on #19790
@r3stl355 thanks for pointing out the issue. We switched to pytest for better support, extension, and maintenance, so the nose-related instructions are outdated. The most up-to-date development guide can be found in https://mxnet.apache.org/versions/master/community/code_guide#testing

I fixed these three wiki pages with references to nosetests:
https://cwiki.apache.org/confluence/display/MXNET/Fi

[2021-01-31 23:08] #19790 closed

[2021-01-31 23:14] szha commented on #19798
I can reproduce on master too.
[code]

@access2rohit would you mind taking a look?

[2021-02-01 00:28] szha commented on #19177
@AlexandrParkhomenko npx.softmax is intended for ndarray only. If you are still using symbol, you can use `mx.sym.softmax`

[2021-02-01 00:29] #19177 closed

[2021-02-01 05:00] alicera opened #19808 "onnx model"
OS: ubuntu18.04
NGC : nvcr.io/nvidia/mxnet:20.12-py3
ONNX: 1.7.0   1.8.0

I run the project to deal with onnx
https://chai-bapat.medium.com/5min-gluon-model-to-onnx-e8ed0eea754e

Error:
[04:56:43] ../src/storage/storage.cc:199: Using Pooled (Naive) StorageManager for CPU
resnest50 downloaded
resnest50 hybridized
resnest50 exported
Traceback (most recent call last):
  File "pre.py", line 27, in <mo

[2021-02-01 05:07] Zha0q1 commented on #19808
Hi @alicera which model are you trying to export?

[2021-02-01 06:25] alicera commented on #19808
'resnest14': resnest14,
    'resnest26': resnest26,
    'resnest50': resnest50,

[2021-02-01 06:35] Zha0q1 commented on #19808
@alicera I just checked the models and they did use `_contrib_AdaptiveAvgPooling2D`. The support for this operated has been recently added to the v1.x branch by this pr https://github.com/apache/incubator-mxnet/commit/e8e4fcde0f0d7fa11771c2deabb8cc27c0b99451. Would you try to build the v1.x branch from source? You can follow the instructions here https://mxnet.apache.org/versions/1.7.0/get_started

[2021-02-01 06:37] Zha0q1 commented on #19808
Another way would be to try to replace the files under python/mxnet/contrib/onnx/mx2onnx/ with the lattest versions in the v1.x branch

[2021-02-01 07:03] alicera commented on #19808
I do the thing
git clone https://github.com/apache/incubator-mxnet
git checkout v1.x
git checkout e8e4fcd
cp -r ./incubator-mxnet/python/mxnet/contrib/onnx/mx2onnx/  /opt/mxnet/python/mxnet/contrib/onnx/mx2onnx/

then I run the project to deal with onnx.
https://chai-bapat.medium.com/5min-gluon-model-to-onnx-e8ed0eea754e
It is the same error.
Does I miss some steps?

Here is
git branch
* (HEAD det

[2021-02-01 07:16] Zha0q1 commented on #19808
your last command was slightly off : )
[code]
also you can use v1.x branch directly, no need to checkout that specific pr

[2021-02-01 07:22] alicera commented on #19808
Thanks,you are right.
But I meet the new op error

resn[07:22:10] ../src/storage/storage.cc:199: Using Pooled (Naive) StorageManager for CPU
resnest50 downloaded
resnest50 hybridized
resnest50 exported
Traceback (most recent call last):
  File "pre.py", line 27, in <module>
    onnx_mxnet.export_model(sym, params, [input_shape], np.float32, onnx_file)
  File "/opt/mxnet/python/mxnet/contrib/onnx/m

[2021-02-01 07:25] Zha0q1 commented on #19803
Hi @flexwend, yeah the onnx support has been a little behind but we are actively working on improving it. We are trying to prioritize mx2onnx at the moment. We do have many models trained in mxnet that you can export to onnx fine (https://cv.gluon.ai/model_zoo/index.html). May I ask your use case after import? Are you trying to train or inference? Thanks!

[2021-02-01 07:27] Zha0q1 commented on #19808
@alicera
you can try v1.x without checkout out any earlier commit. We have just merged in the support for SwapAxis a few days ago : ) https://github.com/apache/incubator-mxnet/blob/v1.x/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py#L3432

[2021-02-01 07:46] alicera commented on #19808
git clone --recursive https://github.com/apache/incubator-mxnet mxnet
cd mxnet
git checkout v1.x
cp -r ./incubator-mxnet/python/mxnet/contrib/onnx/mx2onnx/ /opt/mxnet/python/mxnet/contrib/onnx/

then I run the project to deal with onnx.
https://chai-bapat.medium.com/5min-gluon-model-to-onnx-e8ed0eea754e

[07:45:24] ../src/storage/storage.cc:199: Using Pooled (Naive) StorageManager for CPU
resnest5

[2021-02-01 07:49] Zha0q1 commented on #19808
We will look into this error on Mon

[2021-02-01 08:02] Zha0q1 commented on #19808
Actually I just tried exporting on the latest v1.x branch and was able to do it with all 3 models.
This is the script I used:
[code]
@alicera would you give it a try? Also can you share your script? thanks

[2021-02-01 08:10] alicera commented on #19808
By the way, I based on NGC "nvcr.io/nvidia/mxnet:20.12-py3" to do
git clone --recursive https://github.com/apache/incubator-mxnet mxnet
cd mxnet
git checkout v1.x
cp -r ./python/mxnet/contrib/onnx/mx2onnx/ /opt/mxnet/python/mxnet/contrib/onnx/

then I run the script.
here is the script
`
from gluoncv import model_zoo
import numpy as np
import mxnet as mx

# download model
model_name = 'resnest101'

[2021-02-01 08:47] r3stl355 commented on #19790
@szha  thank you for clarifying this. Part of that https://mxnet.apache.org/versions/master/community/code_guide#testing is actually my own contribution :).

If I may ask, (or I can move this to a different issue), what's the procedure for making changes to those wiki page (https://cwiki.apache.org/confluence/display/MXNET/MXNet+Developer+Setup+on+Mac would benefit from a small change regarding th

[2021-02-01 10:49] sfraczek commented on #19235
@szha Can we close this issue?

[2021-02-01 12:35] leezu commented on #19790
@r3stl355 you are welcome to edit the pages. Have you tried if you can edit it?

[2021-02-01 12:36] leezu commented on #18774
@JaimeGoB sorry, I'm not an R user so I'm not too familiar with this setup. But you can google for a tutorial about how to use Python packages from R. After you installed the MXNet Python package `pip install mxnet`, any such tutorial would apply.
If you can comment here with the steps you took, that may help future users

[2021-02-01 14:55] #19235 closed

[2021-02-01 17:43] samskalicky opened #19811 "[2.0.alpha] Extensions subgraph example is failing"
## Description
Extensions subgraph example is failing for the v2.0 alpha tag with the following error message on Linux (CPU build):
[code]
The problem seems to be coming from here:
https://github.com/apache/incubator-mxnet/blob/49edbfc82cb0ce3b823051e1acc26388bc79686c/python/mxnet/gluon/block.py#L1398-L1401
Where we set `_backend_opts` to `None` and later the `**` operator fails since its not a di

[2021-02-01 19:04] Zha0q1 commented on #19808
@alicera I tried your script and it also worked fine. Were you able to export the model then?

[2021-02-01 21:58] szha commented on #19575
Patched wheels are now available:
https://pypi.org/project/mxnet-cu101/#files
https://pypi.org/project/mxnet-cu102/#files

[2021-02-02 02:52] hadevin commented on #18989
I found this issue on ovio.org and would love to contribute! I've never contributed before.

[2021-02-02 03:15] szha commented on #18989
@hadevin thanks for offering to help. The contribution guide for our project can be found at: https://mxnet.apache.org/versions/master/community#contribution-guides

For this issue, I think we need to add a note on the documentation that the expected number of arrays for `seed_arrays` is the `num_args` minus two (csr matrix and probability).

The operators with documentation problems are in https:

[2021-02-02 03:30] yangshuo0323 opened #19816 "install horovod error"
## Description
I want to use mxnet=1.7.0 with gluonnlp=0.10.0 for multi-GPU trainning and I meet this error when I insall horovod.
Anyone can help this? Thanks in advance.
[code]

[2021-02-02 03:41] alicera commented on #19808
Today, I try again it. It worked fine. Thanks for your help !!
I based on NGC "nvcr.io/nvidia/mxnet:20.12-py3" to do
git clone --recursive https://github.com/apache/incubator-mxnet mxnet
cd mxnet
git checkout v1.x
cp -r ./python/mxnet/contrib/onnx/mx2onnx/ /opt/mxnet/python/mxnet/contrib/onnx/
pip install onnx==1.7.0

---------------------------------------------------------------------------
But

[2021-02-02 05:34] ceisenach opened #19817 "F.Take Backwards - Incorrect Gradient"
## Description
Backwards implementation of F.take computes incorrect gradient when used after  sequence of transpose -> convolution -> transpose. any trainable parameters that receive gradients through the `F.take` operator are incorrect. Equivalent implementations using slice operators produce correct results.

### Other Details
I have been unable to find any other scenario when it happens (for e

[2021-02-02 06:16] Zha0q1 commented on #19808
Does it work fine with onnxruntime?
We are adding test coverage for the resnest models and the output values by onnxruntime seem to be different from mxnet naive outputs. We are actively working on debugging/improving this.
Also may I ask what is your use case/application about?

[2021-02-02 07:06] alicera commented on #19808
https://cv.gluon.ai/model_zoo/classification.html?from=groupmessage
The project is very good.

[2021-02-02 11:07] EnricoMi commented on #19575
@szha thanks for the cu101 and cu102 releases, is a release with MKLDNN headers planned for [mxnet](https://pypi.org/project/mxnet/#history) as well? Version [mxnet-1.7.0.post1](https://buildkite.com/horovod/horovod/builds/4830#2c48d5bf-2ea7-4d03-988c-683777dab40c/6-4313) does not include headers.

[2021-02-02 11:17] EnricoMi commented on #19575
With `mxnet-cu101==1.7.0.post0`, I get the following error:

[code]

With `mxnet-cu101==1.7.0b20200813`, everything worked fine. Are there any changes between those two versions that I have to incorporate?

[2021-02-02 14:58] leezu commented on #19575
It's a bug in the post0. I'm reopening the issue

[2021-02-02 14:58] leezu commented on #19816
You need to MXNet with mkldnn header files. Unfortunately the header files are missing in the public pypi pip packages and you need to compile from source for now. The issue is tracked at https://github.com/apache/incubator-mxnet/issues/19575

[2021-02-02 14:58] #19816 closed

[2021-02-02 17:53] cyrusbehr opened #19821 "mkldnn_quantized_conv op only supports uint8 as input type"
Building mxnet release 1.7.0 `64f737cdd59fe88d2c5b479f25d011c5156b6a8a` from source on Ubuntu 18.04 using the following CMake arguments:

[code]

I am trying to run inference with a quantized model. Here is my code:

[code]

I can compile the program fine. When I try to run it, I get the following error message:

[code]

How can I resolve this issue?

[2021-02-02 23:43] leezu opened #19825 "numpy 1.20 compatibility"
`linspace` will need update due to numpy api change.

[2021-02-02 23:46] waytrue17 commented on #19825
I'll look into it and try to fix it by 2/8.

[2021-02-03 11:57] #19811 closed

[2021-02-03 14:44] #19077 closed

[2021-02-03 19:14] TristonC commented on #19786
Working on this issue with cuDNN and cuTensor teams.

[2021-02-03 20:16] Zha0q1 commented on #19747
fixed by https://github.com/apache/incubator-mxnet/pull/19794

[2021-02-03 20:16] #19747 closed

[2021-02-04 05:18] TristonC commented on #19786
cuTensor use this [software license agreement](https://docs.nvidia.com/cuda/cutensor/license.html)

[2021-02-04 09:40] wylqq312715289 commented on #15261
How To Solve This Problem????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????  mxnet-V1.7.0

[2021-02-04 14:31] benz725 commented on #19731
when I followed the instructions below, I do the last ninja step , it informed me that: 3rdparty/onnx-tensorrt/NvOnnxParser.h:26:10: fatal error: NvInfer.h: No such file or directory

however, I had added the $TENSORRT_ROOT/include and $TENSORRT_ROOT/lib into my $LD_LIBRARY_PATH, how does this happen?
And when I do ninja, many times it informed me :ninja: build stopped: subcommand failed.
I search

[2021-02-04 15:08] leezu commented on #19731
If you use the latest `v1.x` branch, the instruction have been simplified thanks to @Kh4L

https://github.com/apache/incubator-mxnet/blob/4bd6d484bda46382a86e22fedd875e38af7dea47/ci/docker/runtime_functions.sh#L706-L730

[2021-02-04 16:20] matteosal opened #19841 "GPU computation failing with CUDA Driver: an illegal memory access was encountered (Linux)"
## Description
Some specific symbol evaluation fail with a CUDA error. I have reproduced this problem on:
* mxnet 1.6 + CUDA 10.1
* mxnet 1.6 + CUDA 11.2
* mxnet 1.7 + CUDA 11.2

(didn't try mxnet 1.7 + CUDA 10.1). My GPU is a GTX 1650 Mobile.

### Error Message
[code]

## To Reproduce
Download this json file then run the script:
[sym.zip](https://github.com/apache/incubator-mxnet/files/5926995/sy

[2021-02-04 16:25] leezu commented on #19841
Can you try with the latest `v1.x` version? For example, https://repo.mxnet.io/dist/python/cu110/mxnet_cu110-2.0.0b20210202-py3-none-manylinux2014_x86_64.whl

[2021-02-04 17:32] TristonC commented on #19841
Could you try v1.x with CUDA 11.1?

[2021-02-04 18:37] TristonC commented on #19730
NVIDIA is OK to have cuTensor being included in the MXNet 2.0 release.  And MXNet 2.0 meet all requirements on the [license agreement](https://docs.nvidia.com/cuda/cutensor/license.html).

[2021-02-04 19:55] feevos commented on #19609
The workaround presented above does not allow me to load saved weights - it gives the same error.

[2021-02-05 05:01] sxjscience commented on #19730
Ping @szha and @leezu  on this item. It will be wonderful if we can have einsum enabled by default so we can have very nice performance boost.

[2021-02-05 05:49] austinmw commented on #19574
@chinakook Hi, do you happen to know how I can patch `FasterRCNNTrainBatchify` to resolve this?

[2021-02-05 08:04] chinakook commented on #19574
[code]
Adding the code into ```class FasterRCNNTrainBatchify``` can solve it.

[2021-02-05 15:26] austinmw commented on #19574
@chinakook Thanks for your response! I tried this patch, but the leak still occurs. Happen to know if it's possible whether another class like `ForwardBackwardTask` or `FasterRCNNDefaultTrainTransform` needs modification too?

[2021-02-05 15:32] feevos commented on #19609
Dear all, this is the final solution that is working for me, using legacy operator mx.nd.GroupNorm

[code]

[2021-02-05 15:33] szha commented on #19574
cc @mk-61

[2021-02-05 19:13] leezu commented on #19730
@TristonC do you mean NVidia would like to send a letter to ASF to allow ASF to relicense cuTensor under AL2 if shipped together with MXNet? I'm not clear what you mean with "NVIDIA is OK to have cuTensor being included in the MXNet 2.0 release".

If not, we should ask ASF Legal team if it's fine to compile with cuTensor but not include cuTensor shared library in the pip wheel. In this case, the p

[2021-02-05 19:36] matteosal commented on #19841
* The version at the link provided by @leezu works (however `mxnet.__version__` is 2.0.0 on that package and not 1.x)
* I have tried to build the latest `v1.x` branch from source and I still find the same error
* I have tried to build v2.0 (master) but the build failed to link with
[code]

Anyway, let me repeat that I don't think this is a problem with the source code, but with the build procedure

[2021-02-05 19:52] leezu commented on #19841
For your build settings: Do you need ILP64? Otherwise I suggest you disable DUSE_INT64_TENSOR_SIZE and ILP64.
Further, you don't need +PTX for the cuda arch. Just provide the correct Arch number for your gpu

[2021-02-05 20:43] DNXie opened #19852 "`mxnet.gluon.nn.instancenorm` output NaN"
## Description
`mxnet.gluon.nn.instancenorm` output NaN

## To Reproduce
[code]

Output:
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2021-02-05 22:23] szha commented on #19575
Sorry, the two dnnl_* files were missed in post0. I posted 1.7.0.post1 to cu101/cu102 wheels which should include the necessary mkldnn headers (thanks @leezu for verifying). Let me look into including the headers for the CPU versions.

[2021-02-06 01:35] TristonC commented on #19852
@DNXie It runs into numerical overflow for your case as entries in your ndarry are 'big' in terms of float32 representation. You may need to perform mathematical treatment for the input before doing the InstanceNorm, such as dividing every element by its max entry.

[2021-02-06 02:33] TristonC commented on #19841
Seems the `nvrtcGetCUBIN' , `nvrtcGetCUBINSize' were introduced in CUDA 11.1+. Did you install CUDA10.2 or CUDA11.2 in your system?

[2021-02-06 11:39] EnricoMi commented on #19575
I can confirm 1.7.0.post1 for cu101 works for Horovod. Is a release of 1.7.0.post1 for cu110 also planned for the near future?

[2021-02-06 13:11] r3stl355 commented on #18938
This was fixed on master, PR waiting to be reviewed: https://github.com/apache/incubator-mxnet/pull/19833

[2021-02-06 23:01] r3stl355 commented on #18938
An additional caveat for this one, what's the expected return of SequenceLast if only the first dimension of the input is zero sized? In the current fix, it would end up returning a non-zero sized array if only the first dimension is zero sized, should it throw an exception instead? E.g. if input shape is [0, 2, 3], the fix will return a shape [2, 3] with some random values

[2021-02-07 21:02] szha commented on #19575
@EnricoMi our 1.8.0 release is in the pipeline so I think it's more likely to have cu110 release for that.

[2021-02-07 21:22] szha commented on #19575
I uploaded the post2 versions of the CPU wheels to include mkldnn headers.

[2021-02-07 21:22] #19575 closed

[2021-02-07 21:51] #18938 closed

[2021-02-07 21:51] #18939 closed

[2021-02-07 21:53] szha commented on #18938
@r3stl355 thanks for the fix! Since any array with a 0-dim is an empty array, I think the expected return array would still be of shape [0, 2, 3] without any data in it.

[2021-02-07 22:58] r3stl355 commented on #18938
Hey @szha, thank you for merging this. As for the expected shape of the returned array, SequenceLast by design returns an array with one dimension less than the input array, e.g. if input has shape [2, 3, 4], SequenceLast will return an array of shape [3, 4]. However, this becomes tricky if the first dimension of the input array is zero because following the same logic, SequenceLast will end up re

[2021-02-08 03:05] nicklhy commented on #18834
Any updates ? Got the same problem for mxnet 1.7.

[2021-02-08 08:19] prakhar728 commented on #19003
I will work on the v1.x issue and will update the documentation.

[2021-02-08 11:52] flexwend commented on #19803
Thanks for the reply @Zha0q1. The use case is to load and fine-tune an onnx model followed by inference, similar to this [tutorial](https://mxnet.apache.org/versions/1.7.0/api/python/docs/tutorials/packages/onnx/fine_tuning_gluon.html)

[2021-02-08 11:59] matteosal commented on #19841
@leezu switching off `USE_INT64_TENSOR_SIZE` fixes the problem!
@TristonC I had both installed to make my tests and it's possible that I have set some path wrong when building/running v 2.0. Anyway, this doesn't matter anymore.

Anyway, this looks like a bug with `USE_INT64_TENSOR_SIZE` right? Should I open a separate issue for this?

Thank you

[2021-02-08 17:01] DNXie opened #19859 "mxnet.gluon.nn.LeakyReLU outputs NaN when alpha is a large value"
## Description
`mxnet.gluon.nn.LeakyReLU` outputs NaN when `alpha` is a large value. Expect a grace exception message if the input is out of range instead of NaN as output.

### Error Message
[code]

## To Reproduce
[code]

## Environment
OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2021-02-08 17:02] DNXie opened #19860 "mxnet.gluon.nn.swish outputs NaN if beta is a large value"
## Description
`mxnet.gluon.nn.swish` outputs NaN if `beta` is a large value. Expect a grace exception message if the input is out of range instead of NaN as output.

### Error Message
[code]

## To Reproduce
[code]
## Environment
OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2021-02-08 19:25] szha commented on #19821
cc @anko-intel

[2021-02-08 19:26] Zha0q1 commented on #19808
@alicera For your information support for resnest is mature now - we have tested the exported onnx model and it produced the same output (onnxruntime) as the mxnet model

[2021-02-08 19:26] Zha0q1 commented on #19808
Closing this issue for now. Please feel free to reopen if you have any other questions

[2021-02-08 19:26] #19808 closed

[2021-02-08 19:30] szha commented on #19817
I can confirm that this bug has been fixed on master branch. Here are the outputs from the master branch (after adopting the new Gluon interface)

<details><summary>script</summary>

[code]
</details>

[code]

[2021-02-08 19:42] jbensabat opened #19861 "mxnet cpp-package example mlp_cpu.cpp does not compile MSVC 2019 and windows 10"
Hello
I managed to build mxnet libs and also the op.h file using the python script
trying to compile the file mlp_cpu.cpp I get errors of undefined functions

C:\software\mxnet\cpp-package\include\mxnet-cpp\executor.h(62,5): error C3861: 'MXExecutorForward': identifier not found
1>C:\software\mxnet\cpp-package\include\mxnet-cpp\executor.h(65,5): error C3861: 'MXExecutorOutputs': identifier not fou

[2021-02-08 19:43] #19718 closed

[2021-02-08 19:43] #19716 closed

[2021-02-08 19:52] szha commented on #19657
@Sundrops there's no need to use make_loss in Gluon as all values can be used as head gradients now.

[2021-02-08 19:52] #19657 closed

[2021-02-08 19:57] #19635 closed

[2021-02-08 19:58] #19631 closed

[2021-02-08 20:02] #19621 closed

[2021-02-08 20:04] #19537 closed

[2021-02-08 20:06] szha commented on #19527
I think this is a feature request for supporting slice operator for ONNX export. cc @josephevans

[2021-02-08 20:07] #19499 closed

[2021-02-08 20:08] szha commented on #19485
@mifan0208 I think you'd have better help from GluonCV community.

[2021-02-08 20:08] #19485 closed

[2021-02-08 20:09] #19484 closed

[2021-02-08 20:09] #19462 closed

[2021-02-08 20:11] szha commented on #19453
I verified that this is working on master.

[2021-02-08 20:11] #19453 closed

[2021-02-08 20:14] szha commented on #19354
@samskalicky thanks for the fix!

[2021-02-08 20:14] #19354 closed

[2021-02-08 20:17] szha commented on #19353
I would vote for option 2.

[2021-02-08 20:22] szha commented on #19361
Based on the discussion, I think the combined approach for dealing with denormal floats sounds reasonable. @grygielski thanks for the proposal

[2021-02-08 20:23] szha commented on #19218
@grygielski good finding. Looking forward to the implementation of the RFC.

[2021-02-08 21:21] szha commented on #19861
@jbensabat I think you might have mixed the use of v1.x and master branch. Could you make sure that you are building the library from the v1.x branch?

[2021-02-09 05:34] access2rohit opened #19871 "[RFC] Fixing CPU Memory Leaks in MXNet"
## Problem statement
MXNet when run with valgrind shows different memory leaks on unittests and when running inference.
I have collected a list of such leaks as shown below. Some of these maybe by design or some might be actual. The table below shows comprhensive list of such leaks categorized by type (Engine, memory, CachedOp or Op)
https://docs.google.com/spreadsheets/d/184kbSuhCVUTohxkDYxp_eMxc

[2021-02-09 07:03] jbensabat commented on #19861
Hi
thanks for your answer
I downloaded it using git
"git clone --recursive https://github.com/apache/incubator-mxnet mxnet"
I am not sure it was version 1.7.0
I was suggested to use this mode of downloading instead of downloading the archive (it did not build with CMAKE)
if this is the case how can I download version 1.7.0 in such a way that I can build ?
best
jac

[2021-02-09 07:49] anko-intel commented on #19821
@sfraczek is looking at the issue

[2021-02-09 09:43] chinakook commented on #19574
@austinmw I used a modified mxnet 2.0 version with all memory bugs fixed by @leezu. There are no leask with that patch.

[2021-02-09 09:49] chinakook commented on #19574
@austinmw However, this fix are reverted in 1.x.
https://github.com/dmlc/gluon-cv/pull/1528
After my fixes , The gluoncv will be normally to train with MXNet 1.x. So, It's time to re-merge the memory fix again.

[2021-02-09 13:59] sfraczek commented on #19821
This is older version of mkldnn quantized convolution operator.  At that time int8 input wasn't supported. It would be best if you could change the model to use the newer subgraph based one on which should work. Can you do that?
Here is some documentation about subgraph quantization: https://mxnet.apache.org/versions/1.7.0/api/python/docs/tutorials/performance/backend/mkldnn/mkldnn_quantization.ht

[2021-02-09 15:28] angus-lherrou commented on #18657
Are there any updates on the progress of this?

[2021-02-09 15:51] szha commented on #19871
Thanks for the proposal! I think the effort for fixing memory leaks will be very helpful. Would you also consider adding the memory leak checks in the CI so that we could trace any new leak?

[2021-02-09 16:43] cyrusbehr commented on #19821
I will give it a shot and report the results.

[2021-02-09 16:49] szha commented on #19861
@jbensabat before building, you can check out the branch v1.7.x. Which instruction did you follow for building mxnet?

[2021-02-09 17:02] jbensabat commented on #19861
Hi
I tried to download the zip file for version 1.7.x but was unable to build using cmake.
then I was suggested to download using git
"git clone --recursive https://github.com/apache/incubator-mxnet mxnet"
but then I do not know which version is installed.
the library builds but not the cpp-package
I managed to create the op.h file but the functions mentioned above are missing
best
jac

[2021-02-09 17:11] szha commented on #19861
Those functions are removed from the master branch which is for development of the 2.0 version. If there's any issue in using v1.7.x version for building, I think you can check out v1.x version and build from there.

[2021-02-09 17:22] jbensabat commented on #19861
I got that
the question is how do  clone using git command above a specific version ?
best
jac

[2021-02-09 17:34] szha commented on #19861
`git clone --recursive https://github.com/apache/incubator-mxnet -b v1.x mxnet`

[2021-02-09 17:36] jbensabat commented on #19861
thanks a lot
jac

[2021-02-09 17:53] #19861 closed

[2021-02-09 20:47] access2rohit commented on #19871
yes. that is also part of the plan. Let me update that

[2021-02-10 02:10] josephevans opened #19877 "[v1.x] test_gluon_data unit tests failing"
## Description
On the v1.x pipeline, we are seeing the following test failures consistently:

in tests/python/unittest/test_gluon_data.py:

test_multi_worker_dataloader_release_pool
test_multi_worker_forked_data_loader

## Occurrences
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-19872/7/pipeline/293/#step-776-log-1725
https://jenkins.mxnet

[2021-02-10 03:17] josephevans commented on #19877
Since we're trying to unblock the v1.x CI pipeline, I am disabling these 2 tests for now in https://github.com/apache/incubator-mxnet/pull/19872.

[2021-02-10 06:12] benz725 commented on #19731
Thanks very much.
I followed your instructions, but I failed when the make to nearly the 100%.
The bug reported this:
[100%] Linking CXX executable mxnet_unit_tests
/usr/bin/ld: warning: libcublas.so.10, needed by /usr/local/src/TensorRT-7.2.1.6/lib/libmyelin.so.1, may conflict with libcublas.so.9.1
/usr/bin/ld: CMakeFiles/mxnet_unit_tests.dir/cpp/operator/krprod_test.cc.o: undefined reference to

[2021-02-10 07:21] josephevans commented on #19527
Hi @h030162, this is actually fixed in the v1.x branch.

[2021-02-10 10:32] EnricoMi commented on #19575
@szha that post2 version for CPU works for Horovod, thanks!

[2021-02-10 13:58] leezu commented on #19731
You can specify `cmake -DONNX_NAMESPACE=onnx -DUSE_TENSORRT=1 -GNinja -DOpenBLAS_Home=/opt/OpenBLAS ..`

[2021-02-10 20:34] r3stl355 commented on #18886
This was fixed by https://github.com/apache/incubator-mxnet/pull/19095 few months ago and merged into v1.x branch but was not picked for 1.8 release. Should be closed.

[2021-02-10 20:41] r3stl355 commented on #18493
I see this was created a while ago. Was it implemented? If not, I'd like to give it a try.

[2021-02-10 20:52] #18886 closed

[2021-02-10 21:16] access2rohit commented on #19877
this PR made changes to gluon data loader #19748 . But the issue is not reproducible on local machine though. CI is unblocked for now. This requires further investigation for root cause

[2021-02-10 22:08] access2rohit commented on #19877
Raised PR #19879 to revert #19748 and re-enable gluon data loader tests to see if test failure is caused by the PR or not. Unable to repro failure on local instance using master w/o skipping tests.

[2021-02-10 22:25] ChaiBapchya commented on #18493
Hey @r3stl355 I don't believe any update was made. Feel free to implement it! Thanks!

[2021-02-11 02:25] Zha0q1 commented on #19527
Hi @h030162 We have recently enabled support for this model. Are you still working on this? Thanks

[2021-02-11 05:11] TristonC commented on #19520
CUDA 11.1 and sm_86 are supported in MXNet 1.8+.  @DestinyMy  Has your problem be solved?

[2021-02-11 05:14] TristonC commented on #19730
@leezu I don't think there will be another email being sent to ASF to relincese cuTensor.   In case of
[code]
We will need to work on cuTensor installation script to work with MXNet. We are glad to help on that.

[2021-02-11 08:38] ShiffnaMerza commented on #1276
can i know whether using use warp-ctc in mxnet support windows

[2021-02-11 08:59] r3stl355 commented on #18493
Yes, thank you for confirming, I checked and can see it's not there. At the moment I'm trying to figure out the following:
1. For 4D, this is the expected shape (batch, channel, y, x), what would it be for 5D: (batch, channel, z, y, x) or (batch, channel, y, x, z) or something else
2. Implementing this for GPU will likely require some way of testing it so I guess I'd have to setup something on EC2

[2021-02-11 15:25] josephevans commented on #19877
Getting another test failure, looks related to gluon data loader stuff. We really need to dig down and root cause this issue.

[code]

[2021-02-11 17:10] IRDonch opened #19885 "Oddly restrictive (and outdated) requirements in Windows wheel"
[code]

As you can see, the requirements of the Windows wheel are very different from the Linux wheel. They have older versions (in the case of requests there's not even any overlap between supported versions), and they restrict _minor_ versions, leaving only a very narrow range of supported versions.

This isn't a bug per se, but it seems very suspicious. Is this really intentional?

[2021-02-11 18:21] josephevans commented on #19877
I don't think it's related, but I create https://github.com/apache/incubator-mxnet/pull/19886 to test if upgrading python (from 3.6 to 3.7) caused these unit test failures.

[2021-02-11 21:02] iphyer commented on #14876
The same request, any updates of this feature? Thanks!

[2021-02-11 23:47] samskalicky commented on #19660
Fixed via https://github.com/apache/incubator-mxnet/pull/19799

[2021-02-11 23:47] #19660 closed

[2021-02-12 11:11] LewsTherin511 commented on #14875
I'm encountering the same issue.
I fine-tuned an SSD model on a custom dataset (everything working properly), and I'm trying to export it to ONNX in order to run it on Android.
This is what I'm doing I adapted PR #14942 to my case:

`from os import path as osp
import numpy as np
import mxnet as mx
import gluoncv as gcv
from mxnet.contrib import onnx as onnx_mxnet
from mxnet import gluon
from gluon

[2021-02-12 15:08] aarmey opened #19891 "Numpy array interface does not promote bool/int types when multiplied by scalar float"
## Description

Multiplying a bool/int-typed array with a scalar float promotes the output type to a float in Numpy. I believe this also happens using the older MXNet interface. However, MXNet.numpy arrays retain their old type.

### Error Message

There is no error message, just inconsistent behavior compared to Numpy.

## To Reproduce

[code]

Outputs:

[code]

## Environment

<details>
<summary

[2021-02-13 03:20] benz725 commented on #19731
Yes, I have tried what you said. But it still reported:
[ 97%] Linking CXX executable mxnet_unit_tests
/usr/bin/ld: warning: libcublas.so.10, needed by /usr/local/src/TensorRT-7.2.1.6/lib/libmyelin.so.1, may conflict with libcublas.so.9.1
/usr/bin/ld: CMakeFiles/mxnet_unit_tests.dir/cpp/operator/krprod_test.cc.o: undefined reference to symbol 'dposv_'
//usr/lib/x86_64-linux-gnu/liblapack.so.3: err

[2021-02-13 18:05] ceisenach commented on #19817
Thanks for looking into this -- do you know which commit fixed the bug? Also, do you know which upcoming release would contain the bugfix?

[2021-02-13 18:44] szha commented on #19817
It's unclear to me. The following commits are only on master and not on v1.x:
e3d7866e6854a5c11ab2b2c8bfb63de66f79e132
c1098aa33d6795f84a19601d0319d5bb8e19f317
344587f295666e4375042d054cd5a134fdeaf517
50312af58b2ec3e951da0809dd0c800a62dcf1f9
18a784a3276dab8208be54c0a81b3e85b5495a46

[2021-02-13 18:53] szha commented on #19817
Actually I think this bug appears to be non-deterministic. If I run the script a couple more times I get weird results such as the following, which happens on both v1.x and on master:
[code]

[2021-02-13 23:37] ys2843 commented on #18728
<img width="845" alt="Screen Shot 2021-02-13 at 3 35 04 PM" src="https://user-images.githubusercontent.com/23468760/107864462-2a69ac80-6e11-11eb-8a46-7a9ad2af173a.png">

Search is working for v.16 website, and metadata is returned for similar search result.

[2021-02-13 23:37] #18728 closed

[2021-02-15 10:45] liangyong928 opened #19897 "能否详细写一下最新的mxnet GPU如何在win10下编译?Can you write the latest MXNET GPU in detail how to compile under Win10?"
## Description
(A clear and concise description of what the feature is.)
- 能否详细写一下最新的mxnet GPU如何在win10下编译?
Can you write the latest mxnet GPU in detail how to compile under Win10?
- 在官网上, 写的是win10下运行"pip install mxnet-cu102"即可. 但不行:
On the official website, it is written to run "pip install mxnet-cu102" under win10. But it doesn't work:
ERROR: Could not find a version that satisfies the requiremen

[2021-02-15 10:48] liangyong928 commented on #19897
能否详细写一下最新的mxnet GPU源码如何在win10下编译?
Can you write the latest mxnet GPU code in detail how to compile under Win10?

[2021-02-15 11:25] liangyong928 commented on #19897
在win10系统，如何编译使用GPU的mxnet? 系统中安装了CUDA 10.1, 下载了最新的mxnet源码，安装了python、git、7zip、cmake、ninja、opencv. 把新的googletest源码拷贝到incubator-mxnet\3rdparty目录. 用cmake-gui生成vs2019工程失败.

In Win10 system, how to compile using GPU mxnet? The system installed CUDA 10.1, downloaded the latest mxnet source code, installed Python, git, 7zip, CMake, Ninja, OpenCV. Copy the new googletest source code into the incubator-mxnet

[2021-02-15 11:26] liangyong928 commented on #19897
CMake Error at 3rdparty/googletest/googletest/CMakeLists.txt:129 (set_target_properties): set_target_properties called with incorrect number of arguments.

CMake Error at 3rdparty/googletest/googletest/CMakeLists.txt:131 (set_target_properties): set_target_properties called with incorrect number of arguments.

[2021-02-15 14:57] leezu commented on #19731
It's not a bug in MXNet but your environment is broken. You can't use Cublas 9.1 and 10.0 at the same time

[2021-02-15 14:59] leezu commented on #19885
cc @yajiedesign

[2021-02-15 15:00] leezu commented on #19730
Thank you for clarifying! Sounds good

[2021-02-15 16:10] szha commented on #1276
@ShiffnaMerza yes. the source code is included in the mxnet source tree for the past few versions, and it should work for windows.

[2021-02-15 16:37] yajiedesign commented on #19897
使用cmake-gui.选项中BLAS设为OPEN.下载一个openblas.设置openblas_include_dir和openblas_lib.

[2021-02-15 16:42] josephevans opened #19899 "Forward port onnx work and tests from v1.x to master branch"
## Description
We need to forward port all onnx work from v1.x branch to master branch.

ONNX tests in master have also been disabled by #19898. When we port the onnx work, we also need to make sure the onnx tests are enabled and only run in the onnx stage (on unix-cpu pipeline.)

[2021-02-15 17:57] r3stl355 commented on #18493
I managed to get a basic 3D sampling implemented (still only covering one straightforward case) but for that to work I had to make a modification to `mshadow` https://github.com/apache/incubator-mxnet/blob/da247654371664fb906ad286053c63e6fc2f5b5a/3rdparty/mshadow/mshadow/extension/spatial_upsampling_nearest.h#L52 as at the moment it scales only the last 2 dimensions whereas for 3D sampling it need

[2021-02-15 21:28] ChaiBapchya commented on #18493
As per https://github.com/dmlc/mshadow
[code]

Feel free to make changes to that header file, test it out on your end. You don't have to create a separate PR for it. Update it within the same one.

[2021-02-16 00:28] ceisenach commented on #19817
Yeah I observe similar behavior on v1.x -- sometimes the grad calculation is correct, but most of the time they are different

[2021-02-16 00:56] liangyong928 commented on #19897
可能我下载源码的命令有问题。我是用git clone https://github.com/apache/incubator-mxnet mxnet。官网上是说运行git clone --recursive https://github.com/apache/incubator-mxnet mxnet。

[2021-02-16 02:09] yajiedesign commented on #19897
@liangyong928  少recursive 的话就是子项目没有clone.那么肯定是编译不了的.你可以用submodule命令拉取子项目.

[2021-02-16 08:22] r3stl355 commented on #18493
Nice catch, thank you. That statement about being donated only appears under DMLC repo.

[2021-02-16 11:17] liangyong928 commented on #19897
@yajiedesign 我用git clone --recursive https://github.com/apache/incubator-mxnet mxnet重新获取源码，或者用git submodule update --init --recursive重新获取第三方，都是有几个第三方（mkldnn、nvidia_cub、tvm）没有成功。clone成功的目录下面也只有.git文件。
git submodule update --init --recursive
Cloning into 'D:/study/mxnet/3rdparty/mkldnn'...
error: 1282 bytes of body are still expected
fetch-pack: unexpected disconnect while reading sideband packet
fa

[2021-02-16 11:23] liangyong928 commented on #19897
@yajiedesign 不同的mxnet版本是与不同的第三方的版本相对应的吗？还是我去第三方代码库下载最新的就可以？

[2021-02-16 12:39] yajiedesign commented on #19897
@liangyong928 最好是用克隆的版本.其他的不知道行不行.你这个就是网不好.找个github代理试试看吧.

[2021-02-16 19:42] aulombard opened #19904 "3D Deconvolution CPU support"
## Description

Until today mxnet does not support 3D Deconvolution (Transposed convolution) layers on CPU (even with mkldnn support) as it is only implemented for GPU with Cudnn support. Is there any plan in the future to support it knowing that mkldnn is supposed to support it and knowing that most of other frameworks support this feature. This layer is used a lot in UNet like networks, which is

[2021-02-17 00:29] liangyong928 commented on #19897
@yajiedesign 我用gitee搬移和代理(https://www.bilibili.com/read/cv8442044)都试了一下，但clone第三方时，代理就不起作用了，又自动回到github。我感到奇怪的是，即使提示我已经clone的第三方，我在目录下也看不到clone的文件。我在2020年12月份曾经试过linux cpu版本的编译，我看了一下当时下载的代码，第三方目录下的文件都能看到。
官网上除了说可以clone github，还提供了另一种网站（https://mxnet.apache.org/get_started/download）下载。我下载了最新的1.7.0版本，里面有第三方文件。我试着用cmake-gui，configure能成功，但提示了几个问题和红字，我摘录如下：
USE_LAPACK is ON（红字）
Looking for pthread.h -

[2021-02-17 00:32] liangyong928 commented on #19897
另外，我在https://github.com/apache/incubator-mxnet/issues/19581找到了win10安装mxnet-cu102的方法，是能够使用的。

[2021-02-17 01:22] liangyong928 commented on #19897
@yajiedesign 我刚刚网上搜索了一下，看到了有些win10下mxnet编译。我可能是cuda这部分的配置有问题。
![image](https://user-images.githubusercontent.com/32471537/108142894-a4e04800-7101-11eb-9ce6-b4808901d11d.png)

[2021-02-17 02:33] yajiedesign commented on #19897
早期版本的cmakelist文件在新版的cmake和nvcc中是有一些问题的.不要使用早期版本.然后windows下只能cmake编译.
你的问题主要是子项目无法正常拉取.
你可以用代理拉取主项目后.打开".gitmodules"文件,修改里面子项目的url为代理url.应该就能通过代理拉取子项目.

[2021-02-17 05:56] liangyong928 commented on #19897
@yajiedesign 通过修改".gitmodules"文件里面子项目的url为代理url，参考https://blog.csdn.net/weixin_45115705/article/details/104303730 ，运行git submodule sync，git submodule init，git submodule update，终于把所有项目都拉取了，3rdparty目录下也都看到了子项目文件。但用cmake配置生成vs2019工程还是失败了，失败原因类似于前面的v1.7.0版本。我看官网OpenBLAS 是编译生成的，而我是直接拷贝的二进制生成包，没有经过编译的过程，获取会少一些配置文件。现在正在重新编译OpenBLAS。

[2021-02-17 06:06] liangyong928 commented on #19897
@yajiedesign 在 https://www.jianshu.com/p/de981af76e31 文章中，cmake-gui还设置了-T：

3. 运行CMake-GUI ， 选择源文件目录为mxnet，构建目录为build2019， 构建目标为vs2019/x64, -T选项为cuda=/path/to/cuda

这个需要设置吗？

[2021-02-17 06:30] yajiedesign commented on #19897
不用.确保你nvcc加入了PATH环境变量就行

[2021-02-17 14:43] liangyong928 commented on #19897
我clone最新的OpenBLAS（不能用OpenBLAS 0.3.13 version源码编译，可能因为CPU的原因，会出错），按照 https://github.com/xianyi/OpenBLAS/wiki/How-to-use-OpenBLAS-in-Microsoft-Visual-Studio  1. Native (MSVC) ABI的步骤编译了OpenBLAS。
在安装了依赖后，运行cmake .. -G "Ninja" -DCMAKE_CXX_COMPILER=clang-cl -DCMAKE_C_COMPILER=clang-cl -DCMAKE_Fortran_COMPILER=flang -DBUILD_WITHOUT_LAPACK=no -DNOFORTRAN=0 -DDYNAMIC_ARCH=ON -DCMAKE_BUILD_TYPE=Release配置工程，

[2021-02-17 15:57] Bumblebee269 commented on #19897
Unfortunately I can't read chinese characters. But we are struggling again to get MXNET build with CUDA support, just because we want the CPP language binding.

Is it possible to integrate this binding in the nightly build? It is after 3 years of using mxnet so **frustrating** that we over and over are not able to build with GPU/CPP binding. It constantly changes in small details to be set right.

[2021-02-17 17:49] barry-jin opened #19907 "Failed to Run Examples in Master Branch"
## Description
Running some examples in master branch will produce error messages. Examples include [automatic mixed precision](https://github.com/apache/incubator-mxnet/tree/master/example/automatic-mixed-precision) and [dcgan](https://github.com/apache/incubator-mxnet/tree/master/example/gluon/dc_gan).

### Error Message
AMP error message:
[code]

DC_GAN error message
[code]
## To Reproduce
(If

[2021-02-17 19:01] iphyer commented on #14876
just a quick follow-up, any updates? @anirudhacharya @lanking520 @mxnet-label-bot @coderark Thx

[2021-02-17 19:02] leezu commented on #19891
Hi Aaron, the Numpy interface in v1.x is experimental and contains some issues. I confirmed the bug isn't present in MXNet 2. Please consider update to v2. If that doesn't work for you and if you have time to backport the bug fix to v1.x branch that would of course be appreciated.

[2021-02-17 19:30] aarmey commented on #19891
Great, thanks @leezu.

[2021-02-17 20:55] liangyong928 commented on #19897
@yajiedesign 编译成功了，谢谢。
![image](https://user-images.githubusercontent.com/32471537/108266851-8cc20480-71a5-11eb-943c-acccfe8ad5f0.png)

[2021-02-17 21:00] liangyong928 commented on #19897
@Bumblebee269 You can use Google Translate or youdao Translate，etc.
https://translate.google.cn/
http://fanyi.youdao.com/

[2021-02-17 21:16] Zha0q1 commented on #14875
Hi @LewsTherin511, thanks for reaching out! This should be easy to fix; you can expect this to be fixed by tomorrow :)

Meanwhile what version of mxnet are you using and on what os? Our team have been improving onnx lately (on v1.x branch) and here is a simple tool to help update onnx support to your local mxnet https://github.com/apache/incubator-mxnet/pull/19876
We would be very happy to help yo

[2021-02-17 21:19] Zha0q1 commented on #14875
Actually as @waytrue17 pointed out in https://github.com/apache/incubator-mxnet/blob/8a83a21fc387b8b90a9ec2c7bdb624e2f9792307/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py#L1772 this might have already been fixed. Would you try #19876 to update to the latest onnx support?

[2021-02-17 22:46] access2rohit opened #19911 "Stablise [v1.x] CI"
## Description
This is required to bring PRs in `master` related to license and legal changes to `v1.x`

## Steps
- [x] Identify all  CI/CD Build related, PyPI related changes in [master] that are not present in [v1.x] but relevant to it. (Feb-17)
- [x] Verify with committers that these are indeed the PRs needed to be merged into [v1.x] (WIP)
- [x] Merge PRs approved by contributors (Marks task co

[2021-02-17 23:00] anirudhacharya commented on #14876
I am not actively working on this feature. The community would be welcoming
if you could make a contribution/PR to add it. I can volunteer to review
the code.

Regards
Anirudh

On Thu, Feb 18, 2021 at 12:31 AM Myron <notifications@github.com> wrote:

[2021-02-18 00:03] #19427 closed

[2021-02-18 13:39] leezu opened #19915 "test_subgraph_exe1 fails on windows"
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-19908/2/pipeline

[2021-02-18 13:44] leezu commented on #19915
The first time I see a related error on master branch windows-cpu is https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/master/2455/pipeline

[code]

[2021-02-18 15:56] relaxli00 commented on #19897
@Bumblebee269 @yajiedesign Yes, there is not an available clear official solution for general users for the Windows 10 GPU-CPP compilation after version 1.6.0. I read some discussions about the compilation file size limitation and tricks here and there.

To echo @Bumblebee269, can we have the nightly builds or detailed manuals for Windows 10 GPU-CPP for version 1.7.0 and its posts?

[2021-02-18 21:26] Zha0q1 opened #19917 "CD Release Pipeline libmxnet.so Symbol Error"
After https://github.com/apache/incubator-mxnet/pull/19870 master cd cu112 was able to build. However we have this symbol error in the test stage now
[code]

https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/detail/mxnet-cd-release-job/2523/pipeline/401

[2021-02-18 21:35] Zha0q1 opened #19918 "[v1.x] V1.x CD blocked by test_gluon_data.test_list_dataset error"
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job-1.x/detail/mxnet-cd-release-job-1.x/1530/pipeline/222
[code]
@leezu @mseth10 @josephevans  Have you seen this before?

[2021-02-18 22:31] mseth10 commented on #19918
@Zha0q1 Not seen this error before. Looks like it's fixed in default flavor (`MKLDNN=1`) of MXNet as it fails for "native" but passes in the "cpu" pipeline.

[2021-02-18 22:50] Zha0q1 commented on #19918
I think it's a flaky test. It also fails on cu 101.

In this run three days ealier native also passed.
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job-1.x/detail/mxnet-cd-release-job-1.x/1487/pipeline

[2021-02-19 00:32] mseth10 opened #19920 "[RFC] Keeping v1.x branch in sync with master branch w.r.t. license and legal changes"
## Problem statement
In the past few months, several PRs related to license and legal changes have been merged to master branch. Not all of these changes were back-ported to v1.x branch. There is an effort required to keep v1.x branch updated with these changes and in sync with the master branch.

## Proposed solutions
Towards this effort, I scanned through some license related files (LICENSE, NOT

[2021-02-19 05:08] sandeep-krishnamurthy commented on #19920
Thank you Manu for helping with these that will enable apache compliant releases of 1.X.

[2021-02-19 05:28] ptrendx commented on #19918
We saw this error before. The problem happens when you make a new data loader while the previous data loader is not yet fully destroyed (including the data it produced in shared memory). Workers in the new data loader inherit those shared memory ndarrays (without increasing the usage counter which exists in the shared memory region itself) and once python's garbage collector decides to destroy the

[2021-02-19 05:33] ptrendx commented on #19877
See my comment in the other issue about this: https://github.com/apache/incubator-mxnet/issues/19918#issuecomment-781832648

[2021-02-19 06:19] Zha0q1 commented on #19918
That's great thanks!

[2021-02-19 15:26] DNXie commented on #19793
`mxnet.ndarray.random.multinomial` has similar floating point exception.

[code]
See [gist](https://colab.research.google.com/drive/1NqPECgUCmowBG1NlcdsJGVMEV8MTcRhp?usp=sharing)

[2021-02-19 15:41] DNXie opened #19921 "mxnet.gluon.nn.Conv1D crashes(floating point exception) when groups=0"
## Description
`mxnet.gluon.nn.Conv1D` crashes(floating point exception) when `groups=0`

## Output
[code]

## To Reproduce
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2021-02-19 18:17] ptrendx commented on #19917
Yeah, this comes from the fact that the CUDA 11.2 image has 11.2 version of nvml.h, while the actual libnvml library is a part of the driver (and the driver on that machine is probably older and does not have that version of the function). If you look at the nvml.h version history here: https://github.com/NVIDIA/nvidia-settings/blob/master/src/nvml.h - the `_v2` version of that function was added

[2021-02-19 18:23] ptrendx commented on #19917
The other approach (I believe the recommended one) is to use dlopen to load the nvml library at runtime, so that those additional symbols from nvml.h and the libnvidia-ml stub library in the build image do not contaminate the resulting binary (since that function is not even used by mxnet).

[2021-02-19 19:50] Zha0q1 commented on #19917
@ptrendx Thanks for the info!I believe we use 450.51.05 while cu111 102 require 450.80.02 according to https://docs.nvidia.com/deploy/cuda-compatibility/index.html. I think the best way might be to update the nvidia driver on the gpu machines. This error only happens in cd probably because we do `DUSE_NVML=OFF` in ci..

[2021-02-19 20:04] Zha0q1 opened #19929 "[v1.x] CU102 CD Failure due to Cuda/Cudnn/CuBlas mismatch"
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job-1.x/detail/mxnet-cd-release-job-1.x/1530/pipeline/435

[code]

This has been happening for a while now. https://github.com/apache/incubator-mxnet/pull/19506 attempted to fix it but the error stayed/came back. I think this is most likely a cuda/cudnn/cublas version mismatch issue. I have cre

[2021-02-19 22:26] Zha0q1 commented on #19929
Removing
[code]
in the test env did not work..
@mseth10 would you provide some context on why you updated cudnn from 7 to 8?
I think cu102 mxnet is still built with cudnn7
https://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/restricted-mxnet-cd/pipelines/mxnet-cd-release-job-1.x/runs/1522/nodes/74/steps/203/log/?start=0

[2021-02-19 23:14] Zha0q1 commented on #19929
I built mxnet in the test env and it passed the tests

[2021-02-20 00:37] waytrue17 opened #19938 "[Numpy] np.percentile fails unittest"
## Description
`test_np_percentile` fails assertion check after upgrading to numpy 1.20.0. The assertion error between `mx.np.percentile` and `numpy.percentile` indicates there might be computational changes in `numpy.percentile`.

## Occurrences
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-19844/2/pipeline/
and
https://jenkins.mxnet-ci

[2021-02-20 15:17] DNXie opened #19941 "mxnet.ndarray.take crashes(segfault and floating point exception)"
## Description
`mxnet.ndarray.take` crashes(segfault and floating point exception) when `a` is empty

### Error Message
Floating point exception and segmentation fault

## To Reproduce

This input throws floating point exception, the [gist](https://colab.research.google.com/drive/1sucj581DPV11dIfUkJZ-qFdO5QfWoOYY?usp=sharing)
[code]

Without passing `wrap`, it throws segfault
[code]

## Environmen

[2021-02-21 00:45] wkcn commented on #19941
Thank you for the report!

I reproduce the bug on MXNet 2.0.

[2021-02-21 00:54] wkcn commented on #19941
Thank you for the report!

I reproduce it on MXNet 2.0.

It is an invalid input, and NumPy will raise an exception.
[code]

However, the invalid input makes the program crash on MXNet.

[2021-02-21 03:45] mseth10 commented on #19915
The error occurs for the network
[code]
with `simple_bind` during `infer_shape` and is flaky.

@samskalicky Do you think we can change the shape of `data2` from (1,0,2,2) to (1,3,2,2)? Or is it intended to be inferred during shape inference?

[2021-02-22 10:57] anko-intel commented on #19904
@mxnet-label-bot add [MKLDNN]

[2021-02-22 11:08] bartekkuncer commented on #19911
@access2rohit I believe https://github.com/apache/incubator-mxnet/pull/19706 is already covered here https://github.com/apache/incubator-mxnet/pull/19670/files.

[2021-02-22 18:37] access2rohit commented on #19911
Thanks for pointing that out. I will update the list

[2021-02-22 18:39] DNXie commented on #19941
BTW, `mxnet.ndarray.op.take` also crashes with the same input

[code]

[2021-02-22 18:57] access2rohit commented on #19911
@bartekkuncer Can you suggest any oneDNN PRs that I might have missed in this list and they need to be merged back into [v1.x] branch ?

[2021-02-22 19:10] samskalicky commented on #19915
no idea, if its flaky then its working (sometimes) and we should figure out why it fails. Just changing the inputs is not a good way to "fix" this, but might be a good place to debug if that makes the problem go away consistently. But that shouldnt be the final resolution

[2021-02-22 20:03] Zha0q1 commented on #19929
fixed

[2021-02-22 20:03] #19929 closed

[2021-02-22 20:04] Zha0q1 commented on #19918
should be fixed now thanks @ptrendx !!

[2021-02-22 20:04] #19918 closed

[2021-02-23 04:48] feevos opened #19943 "mxnet.apache.org is down for the master version"
## Description
(A clear and concise description of what the bug is.)
Dear all, the mxnet.apach.org website works for version 1.7.0 but when one tries through version selector to go to the master branch, the output is a txt description only.

### Error Message
This is what I see
![image](https://user-images.githubusercontent.com/14290519/108803307-5507f200-75d5-11eb-8b0e-c0eb7c933d67.png)

Regards,

[2021-02-23 07:48] bartekkuncer commented on #19911
@access2rohit To the best of my knowledge all changes regarding oneDNN should be already on both branches.

[2021-02-23 09:17] liangyong928 commented on #19897
@yajiedesign 能否把OpenBLAS加入3rdparty中?

[2021-02-23 09:47] Bumblebee269 commented on #19897
Hi liangyong,

I am not sure if a translated correctly, we use MKL, not OPENBlas.

Today we managed to compile mxnet 1.8RC with CUDA 10.1 and MKL😊

Best regards, Fred

From: liangyong928 [mailto:notifications@github.com]
Sent: 23 February 2021 10:17
To: apache/incubator-mxnet
Cc: Fred Hugen | SeQso; Mention
Subject: Re: [apache/incubator-mxnet] 能否详细写一下最新的mxnet GPU如何在win10下编译?Can you write the late

[2021-02-23 13:29] liangyong928 commented on #19897
@Bumblebee269 Is MKL commercial?

[2021-02-23 13:36] liangyong928 commented on #19897
@yajiedesign @Bumblebee269 我理解的有误。数学库是可选的。I got it wrong. The math library is optional.

[2021-02-24 02:59] Zha0q1 opened #19948 "[v1.x] CD cu102 110 test stage [Check failed: device_count_ > 0 (-1 vs. 0) : GPU usage requires at least 1 GPU]"
This issue started to happen after we switched to the new ami for restricted-mxnetlinux-gpu, which has the newer nvidia driver 460.32.03.

https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job-1.x/detail/mxnet-cd-release-job-1.x/1553/pipeline

This happened to cu102 and cu110, but not cu 100 or 101. I was able to reproduce by basically buildin

[2021-02-24 02:59] Zha0q1 commented on #19948
CC @josephevans @leezu @ptrendx

[2021-02-24 04:17] josephevans commented on #19943
Thanks @feevos for reporting, we are working on getting the master version of the website back online.

[2021-02-24 04:44] josephevans commented on #19877
Thanks @ptrendx for the fix! Closing this issue.

[2021-02-24 04:44] #19877 closed

[2021-02-24 05:17] feevos commented on #19943
Thank you for all your support and this amazing software!

All the best,
F.

[2021-02-24 06:50] MrChengmo opened #19949 "DistributeTraining throw "dmlc::Error" when using nn.Embedding(sparse_grad=True)"
## Description
(A clear and concise description of what the bug is.)
Hi~ I try to use a sparse embedding and three layers of DNN to train the recommendation algorithm of criteo dataset.

here is my network：
[code]

 it works well on single machine，but when I try distributed train with  kv("dist_async") , it throw error

### Error Message
(Paste the complete error message. Please also include stack

[2021-02-24 07:02] brightening-eyes opened #19950 "adding support for adaBelief optimizer"
## Description
this optimizer is like adam, but has some differences like adapting the step size in update direction

## References
[here](https://arxiv.org/abs/2010.07468) is the reference to paper
[GitHub repository](https://github.com/juntang-zhuang/Adabelief-Optimizer)

[2021-02-24 09:06] Bumblebee269 commented on #19897
Hi liangyong,

I have attached the a text file with the steps we took to compile successfully MXNET 1.8RC with MKL, CUDA and cpp package. Just in the hope that it might be of support for everybody struggling with it.
[steps_for_compiling_mxnet_v180RC3.txt](https://github.com/apache/incubator-mxnet/files/6034714/steps_for_compiling_mxnet_v180RC3.txt)

[2021-02-24 13:24] liangyong928 commented on #19897
@Bumblebee269 ok. Thanks a lot.

[2021-02-24 16:55] LewsTherin511 commented on #14875
Hi, thank you very much for your answer!

I'm currenlty using mxnet-mkl (1.6.0), gluoncv (0.8.0) and onnx (1.8.1).
Actually, I also tried updating the installation, but I see that the only effect was to update to gluoncv (0.9.4.post1).

Anyway, I asked on the forum already, but I have an incredibly lame question. I generally always installed mxnet/gluoncv with pip. In order to try your suggestion,

[2021-02-24 17:35] leezu commented on #19949
Do you observe the Storage fallback also on single machine? Or does it only occur in the distributed setting?

[2021-02-25 03:59] MrChengmo commented on #19949
- Set `kv_store="local"` & `nn.Embedding(sparse_gard)`,  works well on single machine (distributed_traing=False), use command `python -u train.py `.
- Set `kv_store="dist_async"` & `nn.Embedding(sparse_gard)`,  set `distributed_traing=True`, use command `bash local_cluster` to simulate distributed training， throw error

[2021-02-25 06:35] Zha0q1 commented on #19948
I think this is a nvidia driver issue? I tried

1. switching the instance type from g3 (m60 gpu) to g4(t4 gpu)
2. creating the same image on my p3 (v100 gpu) instance
3. uninstalling 460 drivers and reinstalling 450/460 drivers

and none of these attempts worked.

I also tried pytorch cuda102 within the same docker container and it also could not find gpu

[2021-02-25 06:37] Zha0q1 commented on #19948
on 1.x cd we use <cuda versoin>-devel-ubuntu16.04 as our base images. And I would enter the containers with `--gpus all`

[2021-02-25 15:24] lgg commented on #18657
@angus-lherrou details in https://github.com/apache/incubator-mxnet/pull/19764

[2021-02-25 19:39] TristonC commented on #19941
In the c++ backend code, it only reports an error when the mode set as 'raise'.
[indexing_op.h#L542](https://github.com/apache/incubator-mxnet/blob/5070f1abb9c8198bd7706ff3a16a0d8b8836b822/src/operator/tensor/indexing_op.h#L542)
@szhaShould it follow the NumPy way of reports error when the index out of range?

[2021-02-25 20:06] leezu commented on #19915
This essentially blocks the master CI. I marked more subgraph tests for disabling on windows in https://github.com/apache/incubator-mxnet/pull/19908

[2021-02-25 20:47] TristonC commented on #19941
I guess that clip should also work (by design) too for this corner case as it should raise the error.

[2021-02-25 20:59] TristonC commented on #19897
Did you use static link or dynamic link for OpenBlas? The libopenblas.dll is under bin directory instead of lib directory for windows.

[2021-02-25 21:56] TristonC commented on #19950
@brightening-eyes  It seems a small change from Adam optimizer, while the test part is most of the work. Would you like to make a contribution?

[2021-02-25 23:20] samskalicky commented on #19915
So these tests pass on linux but are flaky on windows? is that the current state of things?

[2021-02-25 23:57] leezu commented on #19915
Yes. Maybe there was a change to the Windows CI infrastructure that triggered this. I'm not sure.

[2021-02-26 03:00] liangyong928 commented on #19897
@TristonC   I used static link(libopenblas.dll.a).
![image](https://user-images.githubusercontent.com/32471537/109248220-5c6f0b80-7820-11eb-910f-74c1a6fca064.png)。

[2021-02-26 06:53] brightening-eyes commented on #19950
@TristonC i would, but I don't know how optimizers are implimented in MXNet. (I don't know about create_state etc).
if anyone tells me how I can go about it, I would be more than glad to do it.

[2021-02-26 07:46] Bumblebee269 commented on #19897
We used MKL instead of OpenBLAS

[2021-02-26 22:18] Zha0q1 commented on #14875
No no need to build from source. I know that sucks :)

You can just download my python script and run it anywhere and it should work. What the script does is basically 1) detect you current mxnet installation directory 2) pull the latest changes from mxnet repo 3) copy over and overwrite the onnx module to you current mxnet version. You shouldn't need to do anything besides running the script.

I

[2021-02-26 22:18] Zha0q1 commented on #14875
@LewsTherin511

[2021-02-27 19:40] TristonC commented on #19950
Can it just be done in the python file first?

[2021-02-28 06:42] brightening-eyes commented on #19950
yes it can
as far as I know, you should subclass the optimizer, but I don't know how I can go with the states and optimizer parameters.

[2021-03-02 00:24] #19917 closed, assigned to nobody

[2021-03-02 19:46] bill10 commented on #2919
Found this old issue, and hopefully it is resolved? I encountered a similar problem: when I trained a model on a P2.8x on AWS it was all fine but when I moved to P2.16x to take advantage of data parallelism it got GPU memory error. I was using kvstore = 'device' and update_on_kvstore = False. It seems that the kvstore device is trying to copy gradients from all other GPU's at once and use up all m

[2021-03-02 21:53] ptrendx commented on #2919
@bill10 Probably the most efficient way of doing data parallel training currently is using Horovod. You should be also able to use kvstore = 'nccl', but I believe that would be slower.

A side note - why using P2 instances? The P3 (not to mention P4) would be significantly faster (though more expensive), and in fact even G4 (using Tesla T4 GPU) should be at least comparable if not faster (especial

[2021-03-03 01:07] bill10 commented on #2919
Thanks for the suggestions, @ptrendx! I tried kvstore = 'nccl' but got a different error that I didn't write down. Does it support sparse gradient? Horovod is awesome and I should've started with it, but at this stage I hope not to switch gear unless definitely needed to.

As for the instances, I am just playing around. So thanks for the information. I will try out the G4s perhaps.

[2021-03-03 07:36] LaoLiulaoliu commented on #15492
May I ask whether can I not use CUDA, if I only build a cpu mxnet version?

[2021-03-03 14:50] lgg commented on #18657
@szha @i55code guess we can close this issue with 1.8.0 release? https://github.com/apache/incubator-mxnet/releases/tag/1.8.0

[2021-03-03 15:07] RuRo commented on #18657
`mxnet-cu11*` doesn't seem to be available in `pip`/[pypi.org](https://pypi.org/)?

[2021-03-03 15:30] szha commented on #18657
Working on it.

[2021-03-03 17:17] leezu commented on #15492
Of course. If you compile with cmake, just set `USE_CUDA=0`

[2021-03-04 04:26] khaotik commented on #6526
Hi, I'm looking for simple issues for my first PR. Upon reviewing C++ code, it seems this issue is already resolved, or am I missing anything?

I also made a small test case:

[code]

[2021-03-04 13:36] jyotibalodhi commented on #18962
Hello @szha, I would like to work on this issue, kindly let me know how should I proceed with this.

[2021-03-04 13:42] szha commented on #18962
Hi @jyotibalodhi, I recommend checking out our [contribution guide](https://mxnet.apache.org/versions/master/community) for guides and expectation for the contributions. Feel free to ping me if you have questions.

[2021-03-04 14:55] jyotibalodhi commented on #18962
Hi, @szha I went through the contribution guidelines. And I was wondering if only I have to add details about this instruction net.hybridize(active=False) for disabling hybridization or anything else needs to be done.
I am new to the community and open source contributions as well, so it would be great if you could let me know how can I contact you regarding any further questions related to the pr

[2021-03-04 14:59] szha commented on #18962
Yes, I think that's the intended scope of this issue.

The "stay connected" section includes the communication channels the developers use such as Apache's mailing list  and Slack #mxnet channel.

[2021-03-04 18:42] Zha0q1 commented on #19948
fixed

[2021-03-04 18:42] #19948 closed

[2021-03-05 03:41] khaotik commented on #19950
@TristonC Hello, first time contributor to MXNet here. I'm working on a PR for this. Here's my [branch](https://github.com/khaotik/incubator-mxnet/tree/adabelief-i19950). It's mostly a copycat of `src/operator/contrib/adamw*`. I'm still working on test cases.

Question: Shall I send PR as is, or perhaps perform some code refactoring? I find rather high amount of code duplication upon working on th

[2021-03-05 13:08] lgg commented on #18800
@samskalicky @stu1130 @szha hello, please, can you tell any approximate plans for release 1.8.0 to pip?

[2021-03-05 19:38] TristonC commented on #19950
@khaotik Thanks for contributing to the MXNet community.

For your question, either-way works for your first PR. We will have someone take a look at the change to see if the factory is needed to be done now.

@sandeep-krishnamurthy Do you have someone to help with the code review?

[2021-03-05 22:02] samskalicky commented on #18800
Hi @lgg currently no date for pip. we're still working on making the pip packaging compliant with ASF. we'll send out an update on dev@ when we have more info.

[2021-03-06 01:30] SyedMuhammadAli commented on #14479
I have the same issue. Anyone found a fix for this yet?

[2021-03-07 21:13] lgg opened #19991 "Infinity loop with cmake from 1.8.0 release and v1.8.x branch"
## Description
(A clear and concise description of what the bug is.)
I tried to build mxnet from source from tag `1.8.0` and from branch `v1.8.x` for cuda 11 support.

My steps to reproduce:
* `git clone --recursive https://github.com/apache/incubator-mxnet mxnet1.8`
* `cd mxnet/`
* I tried both: `git checkout v1.8.x` and `git checkout 1.8.0`
* `cp config/linux_gpu.cmake config.cmake` also add con

[2021-03-07 21:17] leezu commented on #19991
Can you please try reproducing the behavior on the latest `v0.x` and `master` branches?

[2021-03-07 21:19] lgg commented on #19991
@leezu i successfully compiled from `master` branch, but it have `mxnet==2.0.0`

I will try to run it with `v0.x` branch

[2021-03-07 21:22] lgg commented on #19991
@leezu hmm, i can't found `v0.x` ;(

[code]

[2021-03-07 22:44] lgg commented on #19991
I also tried: `v1.x` branch - the same issue with infinity loop.

From `master` branch it goes fine:

[code]

[2021-03-07 22:46] lgg commented on #19991
Note: on every try with building from different git branches/tags - i cleared `build` folder with `rm -rf build`

[2021-03-07 23:46] lgg commented on #19991
I guess I found solution:

Manually set this in `config.cmake`
[code]

helped and provide this output:

[code]

but if i change this path to:
[code]

it still goes to infinity loop

[2021-03-08 01:40] lgg opened #19992 "Can't compile v1.x from source with CUDA 11.2 support"
I can successfully compile from `master` branch, but it provides `mxnet==2.0.0`

## Why

I want `1.8.x` or `1.x` mxnet version with CUDA 11.2 support

## v1.x branch and steps

I checked that the last [stable build](https://jenkins.mxnet-ci.amazon-ml.com/job/mxnet-validation/job/unix-gpu/job/v1.x/250/)
was on commit `9a2a50229d49586dfde8caa708b17c72a90b9727`

* my `config.cmake`: https://gist.gith

[2021-03-08 01:48] lgg commented on #19992
I also tried:
* `git checkout --recurse-submodules 1.8.0`
* `git checkout --recurse-submodules v1.8.x`

*every time i cleared `build` folder with `rm -rf`*

But its also failed on on the same step as above:
* `[ 39%] Building CXX object CMakeFiles/mxnet_static.dir/src/nnvm/tvm_bridge.cc.o`

Also, `1.8.0` and `v1.8.x` didn't support https://github.com/apache/incubator-mxnet/blob/v1.x/config/distrib

[2021-03-08 14:29] nagyt2 opened #19994 "MXNDArraySyncCopyToCPU() hangs"
## Description
 After running our python program several hours it comes to a point when it just hangs. I was able to attach to the process with both strace and gdb. Strace showed that the process waits on a futex:

[code]

Then the bactrace in gdb clearly shows that the issue comes from  _MXNDArraySyncCopyToCPU_ (Please see lines 4-7):
[code]

### Error Message
There is no error message, the appli

[2021-03-09 01:15] #15597 closed

[2021-03-09 16:48] M-Tonin commented on #18657
How to install without pip ?

[2021-03-09 22:32] szha commented on #18657
@M-Tonin you can follow the guide for [building from source](https://mxnet.apache.org/get_started/build_from_source)

[2021-03-10 00:08] Zha0q1 opened #20000 "[RFC] Dynamic Shape Support for MX-ONNX export"
Currently, our MXNET-ONNX export module does not support dynamic input shapes. We have to specify the static input shapes and the mxnet shape inference api will deduce the static output shapes. I propose to add dynamic input shapes support with a minimalist option `dynamic_input_shapes=True/False` to our `contrib.onnx.export_model` api. This option will override the mxnet shape inference and allow

[2021-03-10 20:58] DNXie opened #20005 "mxnet.ndarray.log_softmax crashes(floating point exception)"
## Description
`mxnet.ndarray.log_softmax` crashes(floating point exception) when `out` contains `inf`

## Output
[code]

## To Reproduce

[code]

The bug is also reproducible in nightly version, check the [gist](https://colab.research.google.com/drive/1SsyH3dpCAQN8-aYtHpW1rioAGnHA7Ju_?usp=sharing).

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2021-03-11 15:42] albert-github opened #20010 "Strange documentation for MXAutogradBackwardEx"
## Description
This is a documentation bug report regarding the use of `\param`

In the file https://github.com/apache/incubator-mxnet/blob/master/include/mxnet/c_api.h around line 1337:
[code]

resulting in:
![param](https://user-images.githubusercontent.com/5223533/110813303-acba8480-8288-11eb-8e9e-c5c24edacf4c.png)

Another issue is a bit an empty Note in the same file (multiple times, might al

[2021-03-11 17:58] leezu commented on #19610
Just using the [upstream BLA_STATIC](https://cmake.org/cmake/help/latest/module/FindBLAS.html) should be fine.

[2021-03-11 20:05] access2rohit opened #20011 "Flaky tests on Python3:GPU and cpp package GPU Makefile test suites"
## Description
unix-gpu has some flaky tests on `Python3:GPU` and `cpp package GPU Makefile` they fail quite frequenty even without any code that touches them.

## Occurrences
`Python3:GPU` failing test:
[code]

`cpp package GPU Makefile` failing test:

[code]
## Next Steps
Since ther eblocking the PRs and making CI unstable. Immediate action is to disable them and investigate

[2021-03-11 20:45] TristonC commented on #19992
The errors are in tvm source code. Which version of gcc or llvm did you use to build the MXNet?

[2021-03-11 20:48] lgg commented on #19992
@TristonC no llvm was used.

[code]

[2021-03-11 21:25] TristonC commented on #19992
@lgg Could you try to set the cxx with 14 or 17 standard? The 11 standard is current set in the CMakelists.txt.
[code]

[2021-03-15 06:05] Brightchu commented on #14589
the latest mxnet  1.7.0 haven't sovled the issue yet.

[2021-03-15 06:14] Zha0q1 commented on #14589
Hi @Brightchu, we have been working on ONNX support on the v1.x branch lately. We added support for onnx 1.7 and 100s of new models. Would you share your specific export use case so that we can prioritize it?
BTW to get your current mxnet's (1.5. 1.6 1.7 etc) onnx support up to date, you can check out this tool: https://github.com/apache/incubator-mxnet/pull/19876

[2021-03-15 06:33] Brightchu commented on #14589
hi, thanks for your reply.
i am converting a SSR net from mxnet to onnx. the mxnet version is 1.7.0, onnx version is 1.8.1;
t failed, when using onnx_mxnet.export_model() to converting the model.
i checkout the onnx_mxnet.export_model() func,  in the last step, onnx.checker assert  an error,
indicating the BatchNormalization layers containing the attribute "spatial" which it is not compatible with

[2021-03-15 06:48] Zha0q1 commented on #14589
@Brightchu  Thanks for the message. I checked onnx's op doc and batchnorm used to have an attribute called spatial. This attribute is no longer there in the new op set/newer onnx. We have noted this down and we will bring our batchnorm conversion up to date to the current onnx specification.

Our work-in-progress onnx 1.7 support has covered many more cv and nlp models. We are going to publish doc

[2021-03-15 14:44] matteosal opened #20028 "Mac-ARM build failure"
Building on Mac-ARM fails with some basic errors, the first one being:
[code]
After a bit of googling I've found this document with information about the issue: https://clang.llvm.org/compatibility.html#vector_builtins

In particular, this line looks relevant:
[code]

So are Mac-ARM builds supported at all? What would be needed to add support if not?

[2021-03-15 14:48] szha commented on #20028
@mseth10 has been looking into ARM build (for linux and osx alike, I think). Do you have some inputs to share here, Manu?

[2021-03-15 14:54] leezu commented on #20028
@matteosal we have improved the ARM builds on CI last year and in general it works very well on master. Are you using the master version?

[2021-03-15 16:51] matteosal commented on #20028
@leezu unfortunately we are still tied to 1.x versions, and I'd like to avoid switching to 2.0 master for the time being (but we'll make the switch at some point).
So we might decide to port 1.x to ARM. Given that you have ported 2.0 already, could you provide an estimate on how big of a project it is, and what needs to be done roughly? That would be very helpful.

[2021-03-15 16:58] leezu commented on #20028
@matteosal I'd suggest you first try if the issue is reproducible on the master branch.

Assuming the issue is fixed on master, it should be feasible in less than a day.

[2021-03-15 17:28] navoj commented on #18008
I still get this error when I compile in Ubuntu 20.04.02

[2021-03-16 00:32] imyaman commented on #18008
@navoj Try "apt install swig"

[2021-03-16 10:03] edmBernard opened #20033 "Bilateral Slice"
## Description

I try to reimplement HDRNet from this paper : https://groups.csail.mit.edu/graphics/hdrnet/
They use an operator named **bilateral slice**.
In pytorch it's [grid_sample](https://pytorch.org/docs/stable/nn.functional.html?highlight=grid_sample#torch.nn.functional.grid_sample) but the 5D versions.
In mxnet, I was not able to find a equivalent. As there is different name accross deep

[2021-03-16 12:41] pultarmi opened #20037 "pack and unpack of header inconsistency (outputting wrong result)"
## Description
mxnet.recordio.pack followed by mxnet.recordio.unpack is returning wrong result.

Input:
HEADER(flag=2, label=17672687.0, id=0, id2=0)

Expected output:
HEADER(flag=2, label=17672687.0, id=0, id2=0)

Actual output:
HEADER(flag=0, label=17672688.0, id=0, id2=0)

## To Reproduce
import mxnet as mx
from mxnet import recordio

header = mx.recordio.IRHeader(flag=2, label=17672687.0, id=0

[2021-03-16 16:53] lgg commented on #19992
@TristonC thank you! Now i have this strange error:

* `git checkout --recurse-submodules 9a2a50229d4`
    * I also tried:
    * `git checkout --recurse-submodules 1.8.0`
    * `git checkout --recurse-submodules v1.8.x`
    * it provides the same error with missing nnvm
* `mkdir build && cd build`
* `cmake ..`
* `cmake --build . --parallel 10 > build.log 2>&1`

https://gist.github.com/lgg/4f0028e4

[2021-03-16 17:44] TristonC commented on #19992
@lgg  Did you git clone with --recursive? It seems some code file is missing your local repo.

[2021-03-16 18:36] lgg commented on #19992
@TristonC yes. I will try now again from scratch.

In my folder from previous try:

[code]

[2021-03-16 20:31] lgg commented on #19992
@TristonC thank you! Your answer helped!

[2021-03-16 20:31] #19992 closed

[2021-03-17 05:46] LaoLiulaoliu commented on #15492
Thank you

[2021-03-17 13:44] wanzhixiao commented on #17731
Hi，how to USE_INT64_TENSOR_SIZE flag?

[2021-03-17 13:44] wanzhixiao commented on #17731
How to turn on USE_INT64_TENSOR_SIZE flag?

[2021-03-17 19:44] DNXie opened #20039 "mxnet.ndarray.op.slice_like crashes(aborts)"
## Description
`mxnet.ndarray.op.slice_like` crashes(aborts)  when `shape_like` contains 0 in shape.

### Error Message
[code]

## To Reproduce
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2021-03-17 19:46] DNXie opened #20040 "mxnet.ndarray.op.choose_element_0index crashes(aborts)"
## Description
`mxnet.ndarray.op.choose_element_0index` crashes(aborts) when `index` in an empty tensor.

### Error Message
[code]

## To Reproduce
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

</details>

[2021-03-17 22:18] mseth10 commented on #20028
Hi @matteosal , can you share information on what platforms you are using to build and test MXNet? Are you using native or cross compilation? I have built MXNet `v1.x` on ubuntu x86 using cross compilation and tested on ubuntu aarch64 and it works fine.

[2021-03-18 03:32] DNXie opened #20041 "mxnet.ndarray.cast crashes(aborts)"
## Description
`mxnet.ndarray.cast` and `mxnet.ndarray.op.cast` crashes(aborts) when `data` is empty tensor.

### Error Message
[code]

## To Reproduce
[code]
or
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2021-03-18 21:44] DNXie opened #20044 "mxnet.contrib.ndarray.boolean_mask crashes(aborts)"
## Description
`mxnet.contrib.ndarray.boolean_mask` crashes(aborts) when `out` is an empty tensor

### Error Message
[code]

## To Reproduce
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2021-03-18 21:52] DNXie opened #20045 "mxnet.ndarray.op.hard_sigmoid aborts"
## Description
`mxnet.ndarray.op.hard_sigmoid` crashes(aborts) when `data` is an empty tensor

### Error Message
[code]

## To Reproduce
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2021-03-18 22:28] DNXie opened #20046 "mxnet.ndarray.image.resize crashes(aborts)"
## Description
`mxnet.ndarray.image.resize` crashes(aborts) when `interp` is invalid.

### Error Message
[code]

## To Reproduce
The reproducing code can be found in this [gist](https://colab.research.google.com/drive/1tfW-oWeOuUD7NvS5IK2pmqPYK7uopNru?usp=sharing)
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.6.0

[2021-03-18 22:42] DNXie opened #20047 "mxnet.ndarray.one_hot aborts"
## Description
`mxnet.ndarray.one_hot` aborts

### Error Message
[code]

## To Reproduce
The reproducing code can be found in the [gist](https://colab.research.google.com/drive/1DAvvOoHIg9vZqW4FTmNPXaONym9kZw5h?usp=sharing).
[code]

## Environment
OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.7.0

[2021-03-19 03:21] DNXie opened #20049 "mxnet.ndarray.op.sample_negative_binomial aborts"
## Description
mxnet.ndarray.op.sample_negative_binomial  crashes(aborts)

### Error Message
[code]

## To Reproduce
The reproducing code can be found in this [gist](https://colab.research.google.com/drive/1oxewROcHxXvuRw45eFQ8c4MSXutGnZ_I?usp=sharing)
[code]

## Environment
OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.7.0

[2021-03-19 03:40] DNXie opened #20050 "mxnet.ndarray.op.take crashes(aborts)"
## Description
mxnet.ndarray.op.take crashes(aborts) when `a` is an empty tensor.

### Error Message
[code]

## To Reproduce
The reproducing code can be found in the [gist](https://colab.research.google.com/drive/1g3FPmaby58p6x-tGYXFL5xW3e_Umr71d?usp=sharing)
[code]

## Environment
OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.7.0

[2021-03-19 04:20] DNXie opened #20051 "mxnet.ndarray.sample_uniform crashes (aborts)"
## Description
mxnet.ndarray.sample_uniform crashes (aborts) when either `high` or `low` is empty tensor

### Error Message
[code]

## To Reproduce
The reproducing code can be found in the [gist](https://colab.research.google.com/drive/1RcyKoPID2Cc0GPOkY5fFB6VyXOe3tWF8#scrollTo=VEUHFc8Ypx72)
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.7.0

[2021-03-19 04:53] DNXie opened #20052 "mxnet.ndarray.op.sample_generalized_negative_binomial crashes(aborts)"
## Description
`mxnet.ndarray.op.sample_generalized_negative_binomial` crashes(aborts) when `alpha` is an empty tensor

### Error Message
[code]

## To Reproduce
The reproducing code can be found in the [gist](https://colab.research.google.com/drive/1VdRPsLFRpLFkfvTy2L5qZC9a0ldnfCKy?usp=sharing).
[code]

## Environment
OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.7.0

[2021-03-19 09:38] qcq commented on #17671
so, you mean, currently we not support the python3.9 version?

[2021-03-19 09:42] EnricoMi opened #20054 "MKLDNN header missing in mxnet head"
## Description
Horovod does not compile with `mxnet-2.0.0b20210317` due to missing mkldnn header files. It did with earlier head snapshots.

### Error Message
Compiling Horovod with it, I get the usual

      MXNet was found with mkl-dnn support but mkldnn header files are missing.
      Please, install MXNet with mkldnn header files.

## To Reproduce

Horovod integration tests compile against mxn

[2021-03-19 12:12] Gregorino opened #20057 "Loading parameters and architecture from file (gluon I3D model)"
## Description
I have trained and exported gluon's (I3D model) to:
 - model-0000.params
 - model-symbol.json

Loading the model by calling:

    mx.gluon.nn.SymbolBlock.imports("model-symbol.json", ['data'], "model-0000.params", ctx=context)

fails. And the output is incomplete model:

    SymbolBlock(
    <Symbol dense0_fwd> : 1 -> 1

### Error Message
This warning appears when trying to load the

[2021-03-19 14:15] leezu commented on #20054
mkldnn was renamed to onednn by Intel and MXNet nomenclature was updated in https://github.com/apache/incubator-mxnet/commit/aa92db02201799841bf52db5a0b8507719f04e61 including renaming include/mkldnn folder name to include/onednn

[2021-03-19 16:11] EnricoMi commented on #20054
So you are saying Horovod should update the way it detects mkldnn headers, as well as including it?

[2021-03-19 17:37] leezu commented on #20054
Updating the include dirs in horovod's cmake detection code should be sufficient.

[2021-03-20 03:54] DNXie opened #20062 "mxnet.ndarray.op.MakeLoss aborts with segmentation fault"
## Description
`mxnet.ndarray.op.MakeLoss` and `mxnet.ndarray.MakeLoss` aborts with segmentation fault with empty input

### Error Message
[code]

## To Reproduce
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.5.0

[2021-03-20 04:44] Zha0q1 opened #20063 "[RFC] Proposal to Graduate MXNet’s ONNX Support"
### What is ONNX and Why

[ONNX](https://onnx.ai/), or Open Neural Network Exchange, is an open source deep learning model format that acts as a framework neutral graph representation between DL frameworks or between training and inference. With the ability to export models to the ONNX format, MXNet users can enjoy faster inference and a wider range of deployment device choices, including edge and

[2021-03-20 04:45] DNXie opened #20064 "mxnet.ndarray.unravel_index aborts with segmentation fault"
## Description
`mxnet.ndarray.unravel_index`  and `mxnet.ndarray.op.unravel_index` aborts with segmentation fault

### Error Message
#### Input2
[code]
Error Message:
[code]

#### Input2
[code]

Error Message:
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.5.0

[2021-03-20 10:09] EnricoMi commented on #20054
Fixing this then in Horovod. Thanks for the quick support.

[2021-03-20 10:09] #20054 closed

[2021-03-20 13:26] szha commented on #20063
Nice work! I think we can still keep an alias of the module in the original namespace just so that whoever is using it won't be broken.

Also, name-wise, mx.onnx seems more succinct to me, though it's not a strong preference.

[2021-03-20 14:00] wms2537 opened #20066 "Custom Image Decoder Implementation"
## Description
Is it possible to implement a custom operator in C++ for mxnet which takes in a buffer as input instead of ndarray?  I think it would be good to be able to implement custom image decoders that straight away decode data into ndarray.

I tried following the instructions [here](https://mxnet.apache.org/versions/master/api/faq/add_op_in_backend#an-operator-example) but it seems to requi

[2021-03-21 06:56] BebDong opened #20067 "F.contrib.SoftmaxOHEMOutput"
## Description
(A clear and concise description of what the feature is.)
- Cross-entropy loss with online hard example mining that hard to implement for multiple-gpu training by high-level Python API
- Also, to be consistent with GluonCV at https://github.com/dmlc/gluon-cv/blob/master/gluoncv/loss.py#L456
- The following code does not apply to multi-gpu training.

[code]

## References
- A. Shriva

[2021-03-21 15:55] tomicfish commented on #17633
I had the same problem.
configuration：
apache-mxnet-src-1.7.0-incubating, win10(64bit) +vs2017+cuda10.1+cudnn v8.1, openblas v0.2.14, opencv-4.5.1, Anaconda3(python 3.7).
I generated vs2017 project to build. In Release mode, it worked fine. In Debug mode, I encountered the same problem.
I have tested it with libmxnet.lib and the test results are normal.

1>------ Start build Project: mxnet_75, Con

[2021-03-21 20:33] szha commented on #20067
cc @zhreshold who maintains gluoncv

[2021-03-21 20:39] szha commented on #19911
From what I can tell, all changes tracked in this issue have been ported. Thanks for the effort @access2rohit

[2021-03-21 20:39] #19911 closed

[2021-03-22 00:31] Zha0q1 commented on #20063
Thanks, I think both are good suggestions!

[2021-03-22 08:11] harupy opened #20068 "`OSError: libopenblas.so.0: cannot open shared object file: No such file or directory` in mxnet 1.8.0"
## Description

mxnet 1.8.0 emits the following error when running `import mxnet`:

[code]

### Error Message

(generated from the dockerfile attached in the to-reproduce section)

[code]

(key lines are colored green)

## To Reproduce

### Steps to reproduce

1. Prepare the following dockerfile:

[code]

2. Then, run `docker build .`

## What have you tried to solve it?

1.
2.

## Environment

**

[2021-03-22 09:44] bartekkuncer opened #20069 "OneDNN feature still being called MKLDNN"
## Description
As the MKLDNN library changed its name to oneDNN the MxNET build flags have been changed accordingly but the feature on the feature list is still being called MKLDNN.

## How found
https://github.com/horovod/horovod/commit/68a0fa6ac163f3c314f3685999df16a091c0aa8e#r48514605

[2021-03-22 13:02] szha commented on #20068
I think this is due to a change in CD that openblas is no longer statically linked in libmxnet. For now you can install openblas separately.

cc @mseth10 @leezu

[2021-03-22 14:17] leezu commented on #20068
@harupy it's unclear what you are doing. You need to provide more details.

[2021-03-22 14:51] fhieber commented on #20068
We observe the same issue when trying to use pip-installed MXNet 1.8 (ubuntu, CPU): https://github.com/awslabs/sockeye/runs/2161521442?check_suite_focus=true

[2021-03-22 15:05] leezu commented on #20068
@mseth10 @access2rohit please take a look why the CD didn't package the libopenblas.so

tools/pip/setup.py includes instructions for copying libopenblas.so in v1.8.x, v1.x, and master. But apparently that didn't work in v1.8.x, potentially due to some missing library file names in the jenkins files?

v1.8.x https://github.com/apache/incubator-mxnet/blob/a0535ddfb0246f53f7b851baf861fc06d3ff48c3/too

[2021-03-22 15:07] bgawrych commented on #20057
Hi @Gregorino, this is only warning that input data type can't be inferred during loading model, but it's assumed to be fp32. Your model probably have loaded correctly. To visualize graph you can follow this tutorial: https://mxnet.apache.org/versions/1.7.0/api/faq/visualize_graph
[code]

[2021-03-22 15:07] leezu commented on #20068
The problem is that https://github.com/apache/incubator-mxnet/pull/19514 is missing on v1.8.x

[2021-03-22 15:08] #20057 closed

[2021-03-22 15:38] matteosal commented on #20028
@leezu I've managed to get the build working on Mac-ARM (with a small fix: https://github.com/apache/incubator-mxnet/pull/20072). I will now look into the changes needed by 1.x

@mseth10 I'm doing native compilation on Mac-ARM, not Linux. No testing platform because the issue is a build failure.

[2021-03-23 01:58] DNXie opened #20076 "mxnet.ndarray.op.SequenceMask aborts with segfault"
## Description
`mxnet.ndarray.SequenceMask` and `mxnet.ndarray.op.SequenceMask` aborts with segfault

### Error Message
[code]

## To Reproduce
The reproducing code can be found in this [gist](https://colab.research.google.com/drive/15FYBrMcTkyNz80z90tDlX6IHR2qMPlOP?usp=sharing).
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.8.0

[2021-03-23 02:45] DNXie opened #20079 "mxnet.ndarray.histogram crashes(segfault and abort)"
## Description
`mxnet.ndarray.histogram` crashes(segfault and abort) when `range` contains large value

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Input1
[code]
Error Message:
[code]
### Input2:
[code]

Error Message:
[code]

## Environment
OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
num

[2021-03-23 07:15] bgawrych commented on #20066
NDArray is object describing array, but under the hood it contains normal memory. You can access this memory by calling i.e:
[code]
(bsaed on example)
All offsets of different dimensions you can deduce by calling proper ndarray functions.

You can also utilize numpy array to create mxnet's ndarray
[code]

However if you wish to load file directly and operate on bytes you can check this operator:
h

[2021-03-23 10:20] liuzhi136 opened #20081 "libmxnet.so: undefined symbol: sgeqrf_"
Platform Infos:
Ubuntu20.04+V100+cuda11
I had successfully installed the cuda environment. Then, I use the pip to install mxnet-cu110(1.8.0).
The error "OSError: /home/lz/anaconda3/envs/ML_gpu/lib/python3.6/site-packages/mxnet/libmxnet.so: undefined symbol: sgeqrf_" is occured when I import mxnet.

I saw some ways to fix this issues, such as 'make clean_all'. However, such way is used to fix this

[2021-03-23 12:41] leezu commented on #20081
Did you ever try compile mxnet from source before? If so, you probably didn't uninstall it completely

[2021-03-23 13:45] RinatVeliakhmedov-TomTom opened #20082 "Proper Android build instuctions"
## Description
Hi. As MXNet claims to support Android on its README page, I want to use its C++ API in an Android app to perform training and inference. Unfortunately, I could not build it for Android: it depends on OpenBLAS which has community support for Android, and, as you can expect, its build instructions are either broken or outdated.

I'd like to request proper end-to-end build instruction

[2021-03-23 14:01] leezu commented on #20082
Hi @RinatVeliakhmedov-TomTom, at this time you can refer to https://github.com/apache/incubator-mxnet/blob/master/ci/docker/Dockerfile.build.android for an example of the cross-compilation environment, including the OpenBLAS build. The build itself is triggered via

https://github.com/apache/incubator-mxnet/blob/5722f8b38af58c5a296e46ca695bfaf7cff85040/ci/docker/runtime_functions.sh#L244-L255

If

[2021-03-23 15:16] RinatVeliakhmedov-TomTom commented on #20082
Hi @leezu, I already tried to follow those steps from the docker script, but I get an error:
`blas_server.c:655:16: error: variable has incomplete type 'struct rlimit'`

Also, there are only instructions for arm, but not for x86_64 or x86.

[2021-03-23 16:24] #20068 closed

[2021-03-23 17:54] leezu commented on #20082
In that case you may not be following the instructions precisely. For example, you may use a separate version of the NDK or OpenBLAS? I'm saying that because the instructions I linked are run for every commit and must pass for a commit to be merged.

If you'd like to contribute proper end-to-end build instructions including x86_64 and x86, that would be very welcome. It would be completely analogo

[2021-03-23 23:00] access2rohit opened #20088 "CD pipeline install unnecessary libraries"
## Description
Current CD pipeline installs unnecessary libs during test stage which causes incorrect testing of wheels. Any statically linked and packaged dependency should not be installed while testing the wheels.

Currently this script(https://github.com/apache/incubator-mxnet/blob/v1.8.x/ci/docker/install/ubuntu_core.sh) executes inside container used for testing the wheels which already inst

[2021-03-23 23:16] DNXie commented on #20049
Btw,  `mxnet.ndarray.op.sample_gamma` and `mxnet.ndarray.op.sample_normal` have similar crash

[code]
Error Message:
[code]

[code]

Error Message:
[code]

[2021-03-23 23:19] leezu commented on #20088
Supposedly the test should have been executed on https://github.com/apache/incubator-mxnet/blob/v1.8.x/ci/docker/Dockerfile.publish.test.centos7_cpu  on v1.8/ https://github.com/apache/incubator-mxnet/blob/master/ci/docker/Dockerfile.publish.test.centos7 on master which does not have openblas installed. Do you know what went wrong?

[2021-03-23 23:47] RinatVeliakhmedov-TomTom commented on #20082
I'm using similar instructions, the only difference is that I'm building from macOS. I tried with ndk 17/19c/20b/21 and got the same result.

UPDATE:

I guess the reason was me building with macOS as a host OS. When built manually from ubuntu 20.04 docker image, it worked fine.

Feel free to close the issue if you think nothing should be done with this.

[2021-03-24 00:06] leezu commented on #20082
Great. But in principle things should also work on macOS. Could this be a bug in the ndk?

I think proper build instructions would still be helpful. For example, adding an Android selector at https://mxnet.apache.org/versions/master/get_started?version=v1.8.0&platform=devices&iot=raspberry-pi& Would you like to contribute a guide based on your experience going through the build?

[2021-03-24 00:11] RinatVeliakhmedov-TomTom commented on #20082
I am not sure why it didn't work on macOS. I think I did it exactly the same way, but, of course, I can be wrong, and building from a clean docker vs building from a developer machine is probably bound to have some hidden pitfalls.

If I manage to make it build properly and link it to my app and use the library from the app, I can update the build instructions, if you'd be ok with that, but I have

[2021-03-24 00:19] leezu commented on #20082
It's also fine to add another file like https://github.com/apache/incubator-mxnet/blob/master/docs/static_site/src/pages/get_started/jetson_setup.md or add a section in https://github.com/apache/incubator-mxnet/blob/master/docs/static_site/src/pages/get_started/build_from_source.md

The exact location of the content, such as integration with the dropdown, should be easy to change later. Writing th

[2021-03-24 02:46] RinatVeliakhmedov-TomTom commented on #20082
When running without USE_CPP_PACKAGE, it build just fine, but when I try to build the c++ package, I get an error:

[code]

[2021-03-24 04:39] liuzhi136 commented on #20081
@leezu No, cuz I never clone the mxnet source code by git completely. It's to slow and always occurs the time out error.

[2021-03-24 12:20] #20069 closed

[2021-03-24 13:49] wms2537 commented on #20066
Is the type int_16 usable? I tried
[code]
 but got the following error
[code]

[2021-03-24 14:24] leezu commented on #20082
The problem here is that OpWrapperGenerator.py needs to `dlopen` the `libmxnet.so`. However, as you cross-compiled the latter, this fails. To solve the problem (if you are on linux), you could use QEMU with [binfmt](https://github.com/qemu/qemu/blob/master/scripts/qemu-binfmt-conf.sh). As an example how QEMU can be applied, on our CI we use the following arm docker container that runs on x86_64 vi

[2021-03-24 14:48] bgawrych commented on #20066
Looks like there is no support for int16 in NDArray interface. @szha is this known issue?
[code]

[2021-03-24 15:20] szha commented on #20066
Yes. I think we should support it.

[2021-03-24 16:00] leezu commented on #20082
Also note that the cpp-package folder was removed in the `master` branch as it relied on deprecated APIs. Another option is to directly interface with the APIs in https://github.com/apache/incubator-mxnet/tree/master/include/mxnet There is also a call for contribution to add back a refactored cpp-package in the master branch.

[2021-03-25 21:21] barry-jin opened #20092 "test_norm, test_batchnorm and test_layer_norm dramatically slow down"
It looks like test_norm, test_layer_norm became the slowest tests after openmp submodule being removed in #19953 .
unix-cpu Python3: CPU pytest slowest 50 for commit #19970
[code]
unix-cpu Python3: CPU pytest slowest 50 for commit #19984
[code]

_Originally posted by @barry-jin in https://github.com/apache/incubator-mxnet/issues/20091#issuecomment-807490069_

[2021-03-25 21:41] leezu commented on #20092
Please provide more info how you established a connection to #19953. It looks like it's a non-deterministic issue happening in the **centos**-cpu Python3: CPU

[2021-03-25 21:54] leezu commented on #20092
May be fixed by https://github.com/apache/incubator-mxnet/pull/20093
Let's check the CI timing

[2021-03-25 23:00] leezu opened #20095 "package libgomp.so in pypi wheels"
libgomp, just like libgfortran is [covered by GCC Runtime Library Exception](https://www.gnu.org/licenses/gcc-exception-3.1-faq.html) and we may include it inside our pypi wheel to ensure consistent performance even on systems that have outdated libgomp. The wheel currently assumes that the libgomp from host operating system can be used, but that is prohibited by manylinux2014 policy (and has the

[2021-03-25 23:03] leezu commented on #20095
To implement this, search the whole codebase for "libgfortran" and just add the analogous code for "libgomp" at each location

[2021-03-25 23:37] barry-jin opened #20096 "[FFI] Tracking Numpy_extension operators packedfunc based API coverage."
## Description
Adopting packedfunc on some frequently used numpy extension operators, like fully_connected, activation, to reduce invocation overhead. Most of the operators that do not require parameter inputs are covered by [_np_imperative_invoke](https://github.com/apache/incubator-mxnet/pull/20006/files#diff-1b31fd3532882cfdf684380586cdbf8cd2966441354ced2e3b8941adf7e66b93R115) in #20006. The re

[2021-03-26 13:16] cberri commented on #18657
Dear All,

I am trying to get mxnet for CUDA 11.0 installed. I am using:

`pip install mxnet-cu110`

Unfortunately I get the following:

[code]

pip 21.0.1 with python 3.7.6

Do you have any suggestion how to solve the issue?

Thank you

Carlo

[2021-03-26 13:38] lgg commented on #18657
@cberri what platform you have? It's strange.

Try to find available for you version of mxnet here in constructor: https://mxnet.apache.org/versions/1.8.0/get_started?

https://pypi.org/project/mxnet-cu110/ is available in pip

[2021-03-26 13:45] cberri commented on #18657
@Igg thanks for your quick reply.
I am trying in Windows 10 in a conda environment.

Not sure what is going on!

[2021-03-26 13:53] praneethkv commented on #20068
My container suddenly started failing to build and upon looking, this was the error. I started using previous version which is 1.7.0.post2 and works perfectly

[2021-03-26 13:58] szha commented on #20068
@praneethkv we are working on patching the wheels to fix the problem

[2021-03-26 16:30] lgg commented on #18657
@cberri did you try the constructor (https://mxnet.apache.org/versions/1.8.0/get_started)?

![image](https://user-images.githubusercontent.com/12018713/112662992-5d1faf80-8e69-11eb-910a-ce27447058dd.png)

Unfortunately I can't help you with windows, because I have linux. But I guess that there is no `mxnet-cu110` for windows yet. (just check the url and image above)

[2021-03-26 16:39] szha commented on #18657
@yajiedesign is helping with the wheels for windows for 1.8. Those would likely only appear in dist.mxnet.io because of the size limit.

[2021-03-26 16:41] cberri commented on #18657
@Igg, Excellent point, I get the same error message when I do :

[code]

I also tried:

[code]

And this is the output:

[code]

Maybe It helps to find the issue.

[2021-03-26 17:58] justanotheruser opened #20099 "Unable to build v1.8.x with cpp_package in VS2019"
## Description
mxnet_60 project fails to build

### Error Message
Lots of them but only of two kinds:
``` Code	Description	Project	File	Line	```
[code]
[code]
Rest of the errors are the same except for name of the function or file

### Steps to reproduce
1. mkdir build
2. git clone --branch v1.8.x https://github.com/apache/incubator-mxnet.git src
3. cmake -G "Visual Studio 16 2019" -A x64^
 -T cud

[2021-03-26 18:01] leezu commented on #20099
Please try using the settings in https://github.com/apache/incubator-mxnet/blob/master/ci/build_windows.py

[2021-03-26 18:08] justanotheruser commented on #20099
@leezu Will (should) it work if I add USE_CPP_PACKAGE=1 in that script?
Thanks.

[2021-03-26 18:29] leezu commented on #20099
Let's try that. Would you like to open a PR targeting the `v1.x` branch that enables `USE_CPP_PACKAGE=1` in above file?

[2021-03-27 17:31] arnoldmashava commented on #13923
jeremiedb

@jeremiedb - thanks for maintaining the MxNet Repository for R Statistics. This, for me, has been the only function for the MxNet malady on R Stats. Thanks mate!

[2021-03-28 23:11] justanotheruser commented on #20099
I tried to build with settings in https://github.com/apache/incubator-mxnet/blob/master/ci/build_windows.py
This is exact command that I used: `python build_windows.py --flavour WIN_GPU_MKLDNN`
<details>
<summary>Build log (start)</summary>
(venv) D:\incubator-mxnet\ci>python build_windows.py --flavour WIN_GPU_MKLDNN
2021-03-29 02:03:58,868 MXNet Windows build helper
2021-03-29 02:03:58,868 Build

[2021-03-29 06:10] bgawrych commented on #20066
@wms2537 Would you like to contribute and add such support? I think adding new dtype into mshadow library shouldn't be problematic

[2021-03-29 06:28] wms2537 commented on #20066
Should I also add in the `cudnnDataType_t`? As int32 is not available there.
'''
typedef enum {
    CUDNN_DATA_FLOAT    = 0,
    CUDNN_DATA_DOUBLE   = 1,
    CUDNN_DATA_HALF     = 2,
    CUDNN_DATA_INT8     = 3,
    CUDNN_DATA_INT32    = 4,
    CUDNN_DATA_INT8x4   = 5,
    CUDNN_DATA_UINT8    = 6,
    CUDNN_DATA_UINT8x4  = 7,
    CUDNN_DATA_INT8x32  = 8,
    CUDNN_DATA_BFLOAT16 = 9,
    CUDNN_DATA

[2021-03-29 07:22] bgawrych commented on #20066
I'm not sure, @MoisesHer @szha maybe you can confirm

[2021-03-29 13:10] lgg commented on #18657
How I can get access to it?

`{"message":"Missing Authentication Token"}`

[2021-03-29 13:14] lgg commented on #18657
@cberri hello, try installing wheel from here: https://dist.mxnet.io/python/cu102/

e.g.: `pip install mxnet-cu102 -f https://dist.mxnet.io/python`

source: https://discuss.mxnet.apache.org/t/mxnet-version-for-cuda-10-2-in-windows-10/5919/3

also check this: https://github.com/apache/incubator-mxnet/issues/17963 and this https://github.com/apache/incubator-mxnet/issues/19581

[2021-03-29 13:24] leezu commented on #20099
Please check the failing files in the v1.x / master branch. There might be fixes that need to be backported for v1.8.x to work

[2021-03-29 21:05] szha commented on #20066
cudnnDataType_t doesn't come from mxnet and it doesn't support int16.

I haven't looked into the exact request, so the following comment is about adding new dtype in general. Adding a new dtype involves several steps, including:
- Adding the dtype definition: https://github.com/apache/incubator-mxnet/blob/5722f8b38af58c5a296e46ca695bfaf7cff85040/3rdparty/mshadow/mshadow/base.h#L352-L366
- Adding s

[2021-03-29 23:20] access2rohit commented on #20088
@leezu this is about the test phase and not the mxnet binary build phase. So it wouldn't matter which image you run the tests on. Ubuntu 18 image also doesn't have openblas installed inside.

[2021-03-29 23:32] leezu commented on #20088
You can refer to https://www.python.org/dev/peps/pep-0599/ about why the image matters.

[2021-03-30 06:27] wms2537 commented on #20066
I tried adding but got the following error when compiling, it seems that `atomicAdd` dows not support int16. How to fix this?
[code]

[2021-03-30 07:25] amswly opened #20103 "After the power cut, the gpu training speed on Symbol project dropped from 800+samples/s to 10 samples/s"
## Description
After the power cut, the gpu training speed on Symbol project dropped from 800+samples/s to 10 samples/s

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=100` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the

[2021-03-30 07:32] bgawrych commented on #20066
https://github.com/apache/incubator-mxnet/blob/5722f8b38af58c5a296e46ca695bfaf7cff85040/src/operator/numpy/np_bincount_op.cu#L103-L111

https://github.com/apache/incubator-mxnet/blob/5722f8b38af58c5a296e46ca695bfaf7cff85040/src/operator/numpy/np_bincount_op.cu#L146-L152

Template mechanism here create Kernel with int16 data type, because it can be returned by MSHADOW_TYPE_SWITCH - as cudnn doesn't

[2021-03-30 07:40] amswly commented on #20103
well，the speed grows to 800+samples/s slowly during training

[2021-03-30 07:40] #20103 closed

[2021-03-30 13:39] justanotheruser commented on #20099
Unfortunately I'm still facing same errors. Perhaps something is wrong with CUDA installation on my machine, or with CUDA integration with Visual Studio. Are you actually cross-compiling MXNet in Docker container? I want to try to build this way now, but I don't quite understand what exactly should I do.

[2021-03-30 13:56] leezu commented on #20099
You could try updating to latest cuda and latest msvc. We don't cross-compile for windows

[2021-03-30 20:16] access2rohit commented on #20088
@leezu  I agree about the dependencies listed. Question: Do we still need to support Amazon Linux 1 ? Is it time to re-evaluate support for old OS versions like AL1?

[2021-03-30 20:30] leezu commented on #20088
@access2rohit this is about support of pep-0599.

[2021-03-30 21:43] Zha0q1 commented on #18834
@waytrue17 and I also had this issue with mxnet 1.7

[2021-03-30 21:46] waytrue17 commented on #18834
I can confirm that the issue only occurs at `yolo3_darknet53_coco` but not `yolo3_darknet53_voc`

[2021-03-31 14:10] justanotheruser commented on #20099
@leezu  Turns out the solution was not to update to the latest msvs but to downgrade to the previous version: https://devtalk.blender.org/t/cuda-compile-error-windows-10/17886/5
When I switched from 16.9 to 16.8.6, these errors disappeared. But I still got some:

Quick search led to this issue https://github.com/NVIDIA/thrust/issues/1090 but I didn' found any Thrust headers in util_type.cuh. I'm a

[2021-03-31 16:50] matteosal opened #20109 "2.0 migration guide?"
Is there a resource or set of resources for migrating a project to v2.0? I am specifically interesed to the C API. I have checked https://github.com/apache/incubator-mxnet/issues/17676 but it's not very specific apart from the `*Ex` functions removal/renaming.

For example everything related to executors, on which our code relies heavily, is gone in v2.0. This PR https://github.com/apache/incubato

[2021-03-31 18:13] access2rohit commented on #20068
I think the issue is fixed now @praneethkv can you try again ?

[2021-03-31 19:12] szha commented on #20109
Thanks for bringing this up. Yes I think we definitely need a migration guide.

[2021-03-31 22:26] access2rohit opened #20111 "[RFC][v1.x] Simplification and stablization of CI"
## Problem statement
Currently unix- cpu/gpu CI run a host of builds and tests on each submitted PR. After going through the list of variaous flavours of builds I found that we are still having more than required test types and build flavours. I have following suggestions to simply both these CI tests. This will in turn also stabilize the CI further.

# SUGGESTIONS for unix-CPU
(sample reference:

[2021-03-31 22:48] access2rohit commented on #19798
@DNXie it should have failed gracefully and given an error for -ve block size and invalid parameter. This needs to be fixed.

[2021-04-01 09:44] justanotheruser commented on #20099
@leezu Yes, building with CUDA 11 did help. Maybe CUDA version in build_windows.py should reflect that? Anyway, I'm too lazy for another PR

[2021-04-01 09:44] #20099 closed

[2021-04-01 11:11] sebbASF opened #20112 "Download page improvements"
The download page [1] currently uses the same text for all the links, i.e. 'Download'.
This is not particularly helpful; one has to check the column header to know what the link is for.

One approach is to use the file types, i.e. TAR.GZ, ASC and SHA512.

Another is to use the download file name for the source, i.e. apache-mxnet-src-1.8.0-incubating.tar.gz [3], [4]

The page also does not give any

[2021-04-01 23:00] #20082 closed

[2021-04-02 08:37] vba34520 opened #20118 "Fail to install MXNet with cu110"
## Problem statement
System: Win10
Version: Python 3.6.5
CUDA: 11.0

[code]
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Thu_Jun_11_22:26:48_Pacific_Daylight_Time_2020
Cuda compilation tools, release 11.0, V11.0.194
Build cuda_11.0_bu.relgpu_drvr445TC445_37.28540450_0

[code]
ERROR: Could not find a version that satisfies the requirement mxnet-cu110
ERR

[2021-04-02 14:38] szha commented on #20118
@yajiedesign is working on producing these wheels.

[2021-04-02 16:54] matteosal commented on #20109
Ok I went looking for how the python wrapper ([symbol.py](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/symbol.py) and [executor.py](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/executor.py)) got adapted to work with the cached op API and I'm starting to get a feeling of the current scenario. Some questions:

* One major difference is that while the the o

[2021-04-02 19:53] Zha0q1 opened #20119 "Nightly CD Docker Missing libs"
All v1.x/master cpu/native/cu dockers are missing libgomp1 libquadmath0
nightly_v1.x_gpu_cu102_py3 is also missing libcudnn8 & libcudnn8-dev

[code]

## Proposed solution:
adding
[code]
to the docker file somewhere should resolve the issue.

[2021-04-03 00:19] #20119 closed

[2021-04-03 03:15] wms2537 opened #20123 "argpartition resets data context in gluon metric TopKAccuracy."
## Description
The argpartition operator in mxnet.numpy is a fallback operator, it resets the context of the array passed to it to cpu. This results in a context mismatch between data and label when using TopKAccuracy in gluon metric.
https://github.com/apache/incubator-mxnet/blob/5bc67e24b52ad4bbad0dda90e8ecc4a5a9544e2f/python/mxnet/gluon/metric.py#L506-L508

## To Reproduce
[code]
### Fix Sugges

[2021-04-04 10:51] fhieber commented on #18800
@samskalicky is there a timeline for mac wheels being available on pip? I noticed the post0 release of 1.8 for Linux on 3/30, but Mac wheels are still missing.

[2021-04-05 15:48] samskalicky commented on #18800
@fhieber currently we only release Linux wheels as part of our release process. The Windows and Mac wheels are currently built by other community members (@yajiedesign for Windows, @szha for Mac) outside of the normal release process. At some point in the future we hope to integrate the building of these into the release process but where not there yet.

[2021-04-05 15:53] fhieber commented on #18800
I see, thanks. It would be helpful to make this clear on the website where selection of MacOs/Python/{CPU,GPU} still shows the pip option.
What is the recommendation for downstream projects like Sockeye what to build against by default in their CI systems, only Linux?

[2021-04-05 16:23] szha commented on #18800
I think we have been supporting mac and windows so far and it's just that @yajiedesign and I are part of the release process. I'm currently working on producing the mac wheels for 1.8.

By the way, I believe @access2rohit is currently making the CD for mac available in the main repo in #19957.

[2021-04-05 17:29] szha commented on #18800
Mac 1.8 wheels should be available now.

[2021-04-06 01:11] DNXie opened #20128 "mxnet.ndarray.BatchNorm crashes (aborts) with segmentation fault"
## Description
`mxnet.ndarray.BatchNorm` crashes (aborts) with segmentation fault when one of the following parameters is empty tensor:
- `gamma`
- `bata`
- `moving_mean`
- `moving_var`

### Error Message
[code]

## To Reproduce
Also check the [gist](https://colab.research.google.com/drive/1yhXPhxEH36a7wh93I9Yshz5YPn01xUu9?usp=sharing)
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20

[2021-04-06 03:52] vba34520 commented on #20118
Thank you so much!

https://dist.mxnet.io/python/cu110/

[2021-04-06 14:19] szha commented on #20109
Hi @matteosal. Thanks for looking into this.

Yes

Not yet, though this is indeed a useful functionality.

When `static_alloc` is on and multiple calls with different shapes happen, cached op will enlarge the buffer size when necessary.

These are flags for bulk execution. When bulk execution happens with `forward_bulk_size=x`, x number of operators will be executed in one call to the engine (sche

[2021-04-07 09:18] steven12356789 opened #20134 "Mxnet TRT INT8 problems"
HI,
I use ResNeSt model to train my own dataset.
from this following link : https://github.com/zhanghang1989/ResNeSt#transfer-learning-models.
Now I can transform model to ONNX without any error.
But when I want to use tensorRT to speed up inference and use C++ to export onnx to int8.

My terminal shows like these:
WARN TRT: No implementation of layer (Unnamed Layer* 69) [Shuffle] + Transpose_52 o

[2021-04-07 13:06] fresh382227905 commented on #20118
Try to upgrade your pip, it may work.

[2021-04-07 13:09] fresh382227905 commented on #20118
or  download  .whl  package from  https://dist.mxnet.io/python.
I tried both methods, and it did work.

[2021-04-07 17:04] relaxli00 commented on #20118
@fresh382227905 It's about installation on Windows 10 platform. Did you perform your trials on Win 10?

[2021-04-08 01:04] fresh382227905 commented on #20118
no, maybe you can have a try

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年4月8日(星期四) 凌晨1:05
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [apache/incubator-mxnet] Fail to install MXNet with cu110 (#20118)

@fresh382227905 It's about installation on Windows 10 platform. Did you perform your trials on Win 10?

—
You are receiving this be

[2021-04-08 12:06] jpsalada opened #20143 "[MxNet 1.6 CPP+cu101+MKL] Getting StackOverflow on when running on Windows IIS"
## Description
Getting stack overflow in the file cudnn_cnn_infer64_8.dll when running inference on Windows 10 with MXNET 6.0+MKL+CUDA 10.1 cpp package, using GPU and IIS. The error will NOT occur if I run the same code and input from a console application.  MXNET was compiled locally (CMakeCache.txt [here](https://justpaste.it/8y59u)). I am trying to run RetinaFace Res50 model.

### Error Message

[2021-04-08 16:05] Raunak-Singh-Inventor opened #20144 "RuntimeError: Cannot find the MXNet library."
## Description

I am trying to build MxNet from source on my 32-bit Raspberry Pi 4. It is giving me the error mentioned below.

I think the bug is caused because it can't find `libmxnet.so` in `mxnet/python/mxnet/`. Here is the output of `ls mxnet/python/mxnet/` from my home directory where I cloned the repo.

![screenshot1](https://user-images.githubusercontent.com/46200816/114054012-5e000a80-988

[2021-04-08 17:34] Raunak-Singh-Inventor commented on #20144
Update:

After a little more exploration, I found out that I forgot the compiling step, and that is why I can't find `libmxnet.so`. Now I have a new bug to report.

[code]

Here are the steps to reproduce:

1. `git clone --recursive https://github.com/apache/incubator-mxnet mxnet`
2. `cd mxnet`
3. `sudo apt-get update`
4. `sudo apt-get install -y build-essential git ninja-build ccache libopenblas-

[2021-04-08 17:43] szha commented on #20144
@Raunak-Singh-Inventor the error says nvcc not found, which means cmake is trying to look for CUDA support on your raspberry pi. I think the fix would be to simply turn the `USE_CUDA` off. In fact, you should be able to rely on the [linux CPU build config](https://github.com/apache/incubator-mxnet/blob/master/config/linux.cmake) for building on rpi. You can copy it to the root of mxnet and name it

[2021-04-08 17:56] Raunak-Singh-Inventor commented on #20144
Thanks for the reply @szha.

After adding `config.cmake` to the root of mxnet, I am getting a new error in the compilation:

[code]

[2021-04-08 18:08] Raunak-Singh-Inventor commented on #20144
I am also including the CMakeOutput.log:
[CMakeOutput.log](https://github.com/apache/incubator-mxnet/files/6280610/CMakeOutput.log)

[2021-04-08 20:40] leezu commented on #20144
You can update the config file to disable onednn

[2021-04-08 22:35] Zha0q1 opened #20145 "MXNet 2.0 cu112 docker undefined symbol issue"
The nightly docker public.ecr.aws/w6z5f7h2/mxnet/python:nightly_gpu_cu112_py3 has a undefined symbol issue
[code]
This is most likely due to that in new nvml (cu112) there is a new v2 api.
checking `nvidia/cuda:11.2.0-cudnn8-devel-centos7` confirmed this:
[code]
We can probably get around this issue by defining `NVML_NO_UNVERSIONED_FUNC_DEFS`

[2021-04-09 00:43] Raunak-Singh-Inventor commented on #20144
@leezu Disabling `onednn` fixed it. I and getting a new error now when running `cmake --build .`

[code]

[2021-04-09 00:45] Raunak-Singh-Inventor commented on #20144
Also, here are some stats:

command: `free -h`
[code]
command: `df -h`
[code]

[2021-04-09 01:00] leezu commented on #20144
You may not have enough memory to use parallel build. Try `cmake --build . -j 1`

Btw, it will be much faster for you to cross-compile libmxnet from your dev desktop, which likely has faster cpu and more ram then the RPi.

Cross-compile build env:

https://github.com/apache/incubator-mxnet/blob/8397422aeb4b09fa464b824bfe769f5fd8cb7969/ci/docker/Dockerfile.build.arm#L130-L150

Cross-compile build c

[2021-04-09 02:42] Xiaoxiong-Liu commented on #19097
Has this feature been implemented now?

[2021-04-09 13:13] GundamBen opened #20147 "NotImplementedError!: Separable Conv1D is not supported in current MXNet"
## Description

Getting error that mxnet does not support SaparableConv1d with mxnet 1.5.0 and CUDA 10.1. This error will not occur when running the same code in tensorflow 1.14.0.

### Error Message

Traceback (most recent call last):
  File "crashModel.py", line 24, in <module>
    model = Lstm()
  File "crashModel.py", line 17, in Lstm
    model.add(SeparableConv1D(filters = 64, kernel_size = (

[2021-04-09 14:04] szha commented on #20147
cc @sandeep-krishnamurthy

[2021-04-09 15:43] #9744 closed

[2021-04-09 16:15] leezu commented on #19097
No. But contributions are welcome. You can add code at https://github.com/apache/incubator-mxnet/tree/master/tools/dependencies to create static build of the hdfs library and modify the config files in https://github.com/apache/incubator-mxnet/tree/master/config/distribution to enable hdfs for the wheel build.

[2021-04-09 17:02] Raunak-Singh-Inventor commented on #20144
I am cross-compiling `libmxnet` from my 64-bit windows desktop. I am setting up the build environment, and am using the `debian:buster` base image [https://hub.docker.com/_/debian](https://hub.docker.com/_/debian). When I build the environment Dockerfile, I get this error:

[code]

Here is my Dockerfile with the base image of `debian:buster`. I had to change the Dockerfile a bit to get it to run (

[2021-04-09 17:41] leezu commented on #20144
@Raunak-Singh-Inventor the complete dockerfile is linked above. It's tested on CI every day.

[2021-04-09 18:04] #20144 closed

[2021-04-09 18:27] matteosal opened #20149 "MXAutogradBackward complains about autograd recording despite being set? (C API)"
This program creates a simple operator and runs forward + backward with the C API, checking for failures:
[code]
The output is:
[code]

Why is `MXAutogradBackward` complaining about autograd recording if `MXAutogradIsRecording` gives `true`? Am I doing something wrong here?

Thanks

[2021-04-10 18:59] szha commented on #20149
The error comes from that autograd didn't find the AGInfo entry on the output array (in your case it's `out_arr`), see [here](https://github.com/apache/incubator-mxnet/blob/master/src/imperative/imperative.cc#L401-L402). I'm guessing it might have to do with the missing flags for `data_indices` and `param_indices`, see [here](https://github.com/apache/incubator-mxnet/blame/master/python/mxnet/gluo

[2021-04-11 11:32] chenkelmann commented on #9547
It looks like this has been implemented in 1.7: https://github.com/apache/incubator-mxnet/releases/tag/1.7.0 It says there

"Adds support for extending MXNet with custom operators, partitioning strategies, and graph passes. All implemented in a library easily compiled separately from the MXNet codebase, and dynamically loaded at runtime into any prebuilt installation of MXNet."

So it looks like t

[2021-04-11 12:15] chenkelmann commented on #9547
To answer my own question: there is an example here: https://github.com/apache/incubator-mxnet/tree/master/example/extensions/lib_custom_op

[2021-04-12 00:59] Olivia-fsm commented on #4431
Hi, have you solve this issue? I have the same problem...

[2021-04-12 11:16] deepakkumar1984 commented on #16167
I made some good progress with the C# version for v2 changes. I have implemented all the numpy operators and in phase of updating Gluon interface to use numpy ndarray and test it out. Can we include/promote this project from the main website to attact contribitors.

https://github.com/deepakkumar1984/MxNet.Sharp

[2021-04-12 13:51] akarbown commented on #18255
I have compiled MxNet library (libmxnet.so), that uses MKL via Single Dynamic Library (so libmxnet.so links with libmkl_rt.so) and uses OpenMP separately (so libmxnet.so also links with libgomp.so.1). Since, MxNet depends on GNU OpenMP, I'm forcing MKL to use GNU threading layer (MKL_THREADING_LAYER=GNU), so I can have a single (GNU) OpenMP runtime in the process.
However, libmkl_rt fails to find

[2021-04-12 13:55] akarbown commented on #19610
I'd like to reignite the discussion connected with the following areas and give some update:
	• Removing MKL_USE_SINGLE_DYNAMIC_LIBRARY (mentioned in the 'Build Flags' RFC part)
	• Dynamically linking the OpenMP runtime library which is provided by the compiler/system (mentioned in the 'Build with OpenMP' & 'Interoperability OpenMP' part)
	• Having two runtime OpenMPs in the same process what resu

[2021-04-12 14:12] szha commented on #16167
@deepakkumar1984 awesome work, thanks for contributing to the ecosystem! I think we can definitely highlight it in the [ecosystem page](https://mxnet.apache.org/versions/master/ecosystem) as a community project. Feel free to send a pull request to add it there. If you are interested, once it gets close to completion, we could also publish a blog to attract more attention.

How do you envision the

[2021-04-12 15:22] szha commented on #19097
@leezu I don't see USE_HDFS flag in the CMakeLists.txt. Where will such flag be passed in cmake?

[2021-04-12 16:13] matteosal commented on #20149
No luck, by using these flags I still see the same error:
[code]
Besides, I'm trying to mimic the pipeline of `executor.py` and there are no mentions to either `data_indices` or `param_indices` there.
By inspecting the source, something related to `AGInfo` entries is created by `MXAutogradMarkVariables`, but only for argument and gradient arrays. Such step is performed via the ndarraymethod `attac

[2021-04-12 16:41] leezu commented on #19097
https://github.com/dmlc/dmlc-core/blob/4cabfeafb4f8f8e574de89cea0780c993c20c2d8/CMakeLists.txt#L16

[2021-04-12 21:46] leezu opened #20156 "Update 3rdparty/dmlc-core"
Update 3rdparty/dmlc-core to include various improvements, including better HDFS support.
cf #20154

cc @Xiaoxiong-Liu due to dmlc/dmlc-core@bfad207 and dmlc/dmlc-core@16c6f68 you may want to apply this update locally in your v1.8 checkout of mxnet if you rely on these two improvements

This may require changes to dmlc-core first, as just updating dmlc-core breaks the MXNet Windows CI. See CI stat

[2021-04-12 22:39] deepakkumar1984 commented on #16167
Thanks @szha, I will start working on the PR to highlight in the ecosystem page. I did started on writing some tutorials eg. https://mxnet.tech-quantum.com/docs-2/getting-started/create-a-neural-network/, but prefer in future to maintain these blogs similar to other bindings like https://mxnet.apache.org/versions/2.0/api/csharp. MxNet Sharp is more than just binding of the api's, I have implemente

[2021-04-12 23:14] #20145 closed

[2021-04-13 06:31] vba34520 commented on #20118
[code]
Doesn't work. But thank you so much.

[2021-04-13 07:34] tangzhongliang opened #20159 "mx.symbol.contrib.foreach cause memory leaky"
## Description
(A clear and concise description of what the bug is.)
when the foreach function is used to generate the index of minibatch,  GPU memory will increase until that CUDNN_STATUS_EXECUTION_FAILED exception is throwd
### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=100` before running your scri

[2021-04-13 14:30] Justobe commented on #20147
@szha @sandeep-krishnamurthy  gentle ping~

[2021-04-13 16:12] matteosal commented on #20149
Ok I've found the problem: the last argument to `MXCreateCachedOp`, `thread_safe`. By setting that to `false` instead of `true` the backward is computed correctly. This argument is always `false` in the executor python interface.
It sounds very surprising that executor computation can never be thread-safe. Actually, I wonder why one would *ever* want to discard thread-safety. Maybe this is not abo

[2021-04-13 16:18] szha commented on #20149
cc @anirudh2290 who authored the thread-safe variant of cached op. I think at the time when the thread safe cached op was added it only had inference use cases in mind. The default cached op was not built to be thread safe because of the states it keeps inside.

[2021-04-13 16:45] leezu commented on #20149
The problem here is that the original code wasn't thread-safe, and the thread-safe implementation mentioned by @szha isn't feature complete. Once it's feature complete, indeed, the unsafe version can be removed.

[2021-04-13 16:48] szha commented on #20149
I think it might take more than that. The current approach for making cached op thread-safe involves locks (see [here](https://github.com/apache/incubator-mxnet/blob/master/src/imperative/cached_op_threadsafe.cc#L162)). This has performance implication. Thus, in order to replace the non-thread-safe version, we may need a better approach for achieving thread-safety, such as making cachedop stateles

[2021-04-13 18:08] matteosal commented on #20149
I'd like to understand what *kind* of thread-safety is being controlled by the argument. In other words, can someone describe an example which would be unsafe to run if `thread_safe=false` is passed?

[2021-04-14 15:15] szha commented on #20149
@matteosal in your example above, when you invoke the same cached op from multiple threads it will cause issues.
[code]

[2021-04-14 15:27] matteosal commented on #20149
Ok that's clear, thank you

[2021-04-14 15:27] #20149 closed

[2021-04-14 16:49] matteosal commented on #20109
Another question: in v1.x it was possible to query executors for their allocated memory:
[code]
[code]

Is there a way to get the equivalent of the line "Total 346 MB allocated" with cached ops?

[2021-04-14 16:58] szha commented on #20147
I think we do support depthwise convolution. One just needs to set the number of groups to be the same as channels with the convolution op: https://mxnet.apache.org/versions/1.8.0/api/python/docs/api/ndarray/ndarray.html?highlight=convolution#mxnet.ndarray.Convolution

However I'm not familiar with where such support can be added.

[2021-04-14 18:12] szha commented on #20109
Not yet. It would be great to add back that feature

[2021-04-14 22:06] Neutron3529 opened #20164 "RecordIO is too slow to decode, why not using libjpeg-turbo instead?"
## Description
I found that the exist image decode method(opencv) is much slower than libjpeg-turbo
it takes 2:31 (timing by tqdm) to read all the data in validation set(val.rec,~6GiB, 50000 jpeg,batch_size=100,~3.3 it/s with num_workers=1,results may not accurate since I am eating lots of CPU with existing training processes).

with the default ImageRecordDataset, the speed decreased to ~3 it/s

[2021-04-15 01:25] iDTer commented on #19897
老哥，能不能写一篇编译的博客记录一下，我还在踩坑，想学习一下

[2021-04-15 01:38] GundamBen commented on #20147
@szha
In this case, the code works in tensorflow and I run the same code in cntk in which it do not crash. to make the code work in mxnet, how should I modify the model? e.g. modifying some parameters?

[2021-04-15 01:39] szha commented on #20147
I think the keras-mxnet integration needs update to include depth wise convolution support

[2021-04-15 02:39] liangyong928 commented on #19897
上面有一个。Bumblebee269写的。https://github.com/apache/incubatosr-mxnet/files/6034714/steps_for_compiling_mxnet_v180RC3.txt
我也写了一个 https://blog.csdn.net/eidolon_foot/article/details/113841354

[2021-04-15 07:45] iDTer commented on #19897
THX!

[2021-04-15 11:29] maheshultimatum commented on #11277
I installed mxnet thru pip install mxnet , but I keep downloading the 1.8 version, and when I try installing the pre-requisites for open vino I keep getting
ERROR: Could not find a version that satisfies the requirement mxnet<=1.5.1,>=1.0.0
ERROR: No matching distribution found for mxnet<=1.5.1,>=1.0.0

Can you help me?

----------Python Info----------
Version      : 3.6.10
Compiler     : GCC 4.2.

[2021-04-15 12:18] Neutron3529 commented on #20164
update: OpenCV seems to using libjpeg-turbo, but, using such code could gain ~20% speedup.
I don't know why, maybe OpenCV wrapper is more complicate than libjpeg-turbo?

[2021-04-15 12:30] GundamBen commented on #20147
Till keras-mxnet 2.2.4.3, which is the latest version, the crash isn't fixed.

[2021-04-15 16:01] szha opened #20172 "relu is missing in npx doc"
## Description
https://mxnet.apache.org/versions/master/api/python/docs/api/npx/index.html

[2021-04-15 16:17] matteosal commented on #20109
More on the cached op flags:

Since this is an option to set, I guess there is a downside to running a large number of operators in one call. What is it? Increased memory usage? Is there a similar tradeoff for `inline_limit`?

[2021-04-16 01:53] DNXie opened #20180 "mxnet.ndarray.contrib.box_encode crashes(segfault) when `refs` is of length 0"
## Description
`mxnet.ndarray.contrib.box_encode` crashes(segfault) when `refs` is of length 0

### Error Message

[code]

## To Reproduce
The reproducing code can also be find in the [gist](https://colab.research.google.com/drive/1igrG40TSPVYvXn8Im8gOAzSar9ak-13P?usp=sharing)
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.7.0

[2021-04-16 01:59] DNXie opened #20181 "`mxnet.ndarray.pick` crashes(segfault) when `index` is a empty tensor"
## Description
`mxnet.ndarray.pick` crashes(segfault) when `index` is a empty tensor

### Error Message
[code]

## To Reproduce

Check out the [gist](https://colab.research.google.com/drive/1W0B3mgIkMcV44-GAOyEEPaIIkudXzRFL?usp=sharing)
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.7.0

[2021-04-16 02:29] DNXie opened #20182 "`mxnet.contrib.ndarray.quadratic` crashes(segfault) when `data` is an empty tensor"
## Description
`mxnet.contrib.ndarray.quadratic` crashes(segfault) when `data` is an empty tensor

### Error Message
[code]

## To Reproduce
[Gist](https://colab.research.google.com/drive/1pbOHwqd_7-KbWK5D2dp110tdS_nMg3ED?usp=sharing)
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.7.0

[2021-04-16 02:42] DNXie opened #20183 "`mxnet.ndarray.signsgd_update` crashes(segfault) when `grad` is an empty tensor"
## Description
`mxnet.ndarray.signsgd_update`  and `mxnet.ndarray.op.signsgd_update` crashes(segfault) when `grad` is an empty tensor

### Error Message
[code]

## To Reproduce
Check out the [gist](https://colab.research.google.com/drive/1LSN2Jha5NuM46C_N0iNnqaa7aUyNRUph?usp=sharing)
[code]

## Environment

OS: ubuntu 18.04
Python: 3.7.6
pip: 20.0.2
numpy: 1.18.5
mxnet: 1.7.0

[2021-04-16 07:56] odidev opened #20184 "Add support to release aarch64 wheels"
Problem
---------
On aarch64, pip install incubator-mxnet builds the wheels from source code and then install it. It requires user to have development environment installed on his system. also, it take some time to build the wheels than downloading and extracting the wheels from pypi.

Resolution
-----------
On aarch64, pip install incubator-mxnet should download the wheels from pypi

@mseth10, Pl

[2021-04-16 15:34] mseth10 commented on #20184
Hi @odidev , thanks for creating this GitHub issue. I am currently working on the build scripts for MXNet on aarch64, will upstream them to v1.x branch in the next few weeks. We'll also need to update the CD and wheel generation scripts to work with aarch64 platforms. Once CD pipelines are running for aarch64, we can use the generated wheels and publish them to PyPI. Your help with any of these st

[2021-04-16 22:33] access2rohit opened #20185 "[RFC] Evaluation of performance on Eigen as BLAS engine in MXNet on ARM(Aarch86)"
## Problem statement

_Motivation_: Eigen has improved Convolution Op performance in Tensorflow: https://www.linaro.org/blog/optimizing-tensorflow-convolution-performance-on-aarch64/

_GOAL_: Evaluate if MXNet performance with eigen BLAS on Graviton instances compared to OpenBLAS and ArmPL. Make recommendation regarding

_Tasks:_

1. Install Eigen(either from source or apt install to ensure native

[2021-04-17 07:38] marcoabreu commented on #20185
I think it would be good if we can use cross compilation as we do right now as opposed to having to compile on the target machine directly.

[2021-04-17 13:00] iDTer commented on #19897
@liangyong928 请问 python OpWrapperGenerator.py libmxnet.dll 你会报错吗？因为我也看到你生成的libmxnet.dll也只有100多KB。
https://discuss.gluon.ai/t/topic/17636
在后面的 python setup.py install 和 python OpWrapperGenerator.py libmxnet.dll 过程中我都遇到了错误：
r = ListOP(byref(nOps), byref(opHandlers))
OSError: exception: access violation writing 0x0000000000000000

[2021-04-17 15:20] iDTer commented on #19897
@liangyong928 我尝试着用dependency walker，然后把所有的依赖放在python\mxnet目录下，然并卵....
![image](https://user-images.githubusercontent.com/30014931/115117892-4fc29480-9fd3-11eb-9430-8c7695fe973d.png)

[2021-04-18 00:46] szha commented on #20185
Eigen is a header-only library so either installation should work.

[2021-04-19 00:54] szha commented on #20134
@MoisesHer do you know who can best help with this?

[2021-04-19 00:59] szha commented on #20081
@liuzhi136 `sgeqrf_` is a lapack symbol. For linux, we've been statically linking it from openblas (@leezu keep me honest here). So I'd lean towards a "left-over installation hypothesis" as Leo mentioned too. Did you try using it without conda environment?

[2021-04-19 01:34] liangyong928 commented on #19897
OpWrapperGenerator.py是你自己写的程序吗？
我看到编译生成的路径下有一个mxnet_75.dll是几百兆，会不会是用这个。看了你发的讨论链接，里面有个回答也提到了这个文件--“由于python加载dll的限制，在mxnet170上，你依然要手动拷贝mxnet_.dll和libmxnet.dll。”这里的mxnet_.dll应该就是说mxnet_75.dll或者mxnet_61.dll等。

[2021-04-19 01:37] liangyong928 commented on #19897
以前安装mxnet-cu102时我手动拷贝了CUDA的bin目录里的.dll后缀的文件到lib\site-packages\mxnet\。
https://blog.csdn.net/eidolon_foot/article/details/112579393
https://www.cnblogs.com/huangliujing/p/13361592.html

[2021-04-19 01:49] liangyong928 commented on #19897
@iDTer 我觉得我编译的可能还是有些问题。比如，我的gpu型号MX450我觉得达不到7.5算力，但用了MXNET_CUDA_ARCH=7.5。我编译成功后，也并没有真正使用过，可能只是引入包并看了一下版本号。

[2021-04-20 01:36] access2rohit commented on #20185
@marcoabreu @szha Thank you for inputs!
We are able to build natively as the ARM team suggested that its more performant this way instead of cross-compilation.

Eigen does install headers only but it also has `libeigen_blas.so` and `libeigen_lapack.so`. Unfortunately it doesn't provide all thr LAPACK APIs so Its not usedul for LAPACK: https://gitlab.com/libeigen/eigen/-/issues/2221#note_554042309

[2021-04-20 03:49] iDTer commented on #19897
解决了，确实是需要把所依赖的所有非系统的dll都拷贝到当前目录：...\incubator-mxnet\cpp-package\scripts目录下，我直接将所有涉及到的dll拷过来了，大概需要的依赖有：
mkl_rt.1.dll（如果是openblas，libopenblas.dll）

cublas64_10.dll
cublasLt64_10.dll
cudart32_101.dll
cudart64_101.dll
cudnn64_8.dll
cudnn_adv_infer64_8.dll
cudnn_adv_train64_8.dll
cudnn_cnn_infer64_8.dll
cudnn_cnn_train64_8.dll
cudnn_ops_infer64_8.dll
cudnn_ops_train64_8.dll
cufft64_10.dll
cufftw64_10.d

[2021-04-20 03:57] liangyong928 commented on #19897
@iDTer 你是不是没有做https://mxnet.apache.org/get_started/build_from_source里的Installing MXNet Language Bindings？

[2021-04-20 07:11] iDTer commented on #19897
对，确实没做这个，这个和cmake gui里面的设置有区别吗？

[2021-04-20 07:34] liangyong928 commented on #19897
做了编程语言绑定可能就不用自己再去拷贝依赖了。

[2021-04-21 15:31] szha opened #20196 "Decouple oneDNN data structures in MXNet C++ API"
## Description
Currently, onednn/mkldnn header is required in ndarray.h header, and thus requires the onednn/mkldnn headers when linking with libmxnet if mkldnn is turned on (see [here](https://github.com/apache/incubator-mxnet/blob/master/include/mxnet/ndarray.h#L41). To mitigate this, we should look for ways to decouple onednn/mkldnn headers from ndarray.

[2021-04-21 16:12] leezu commented on #20196
ndarray.h is a C++ header that's currently only exposed because the C API is not convenient enough for https://github.com/horovod/horovod/ Nevertheless, removing onednn/mkldnn headers from ndarray.h could still be useful for consumers of the C++ header.

[2021-04-21 17:33] barry-jin opened #20197 "MXNet 1.8.0.post0 sparse feature segmentation fault"
## Description
GluonNLP v0.x branch CI is blocked after switching from MXNet 1.7.0.post1 to MXNet 1.8.0.post0 (tracked in https://github.com/dmlc/gluon-nlp/issues/1559). It looks like the sparse feature in MXNet 1.8.0 will cause segmentation fault.

### Error Message
[code]

## To Reproduce
[code]

### Steps to reproduce
(Paste the commands you ran that produced the error.)

Run script above
or
[c

[2021-04-21 18:50] #17220 closed

[2021-04-22 02:30] nikky4D commented on #20118
Were you able to get this running?

[2021-04-22 13:48] relaxli00 commented on #20118
I don't think there is a Win10 wheel released yet for 1.8. There should be no way any pip method can work.

[2021-04-23 01:37] szha commented on #6526
@khaotik indeed. Thanks for updating the issue.

[2021-04-23 01:37] #6526 closed

[2021-04-23 01:53] nam-nguyen17 commented on #749
I try your following cmd but I got

==> Searching for similarly named formulae...
Error: No similarly named formulae found.
Error: No available formula or cask with the name "clang-omp".
==> Searching for a previously deleted formula (in the last month)...
Error: No previously deleted formula found.
==> Searching taps on GitHub...
Error: No formulae found in taps.

[2021-04-23 02:12] szha commented on #749
@nam-nguyen17 omp ships as part of the llvm in homebrew now. See https://stackoverflow.com/a/48746939

[2021-04-23 11:41] samurai815 commented on #621
+1 waiting for it

[2021-04-23 16:22] sjiagc opened #20206 "Windows GPU Build Conducted by build_windows.py Failed"
## Description
Windows GPU Build conducted by build_windows.py failed. The root cause is that _CONSTEXPR_IF is defined to nothing when compiling the C++ header random with __CUDACC__.

### Error Message
[code]

## To Reproduce
In \path\to\mxnet\ci directory, run python build_windows.py -f WIN_GPU.

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. cd \path\to\mxnet\c

[2021-04-23 16:31] joeyism commented on #18865
Is there any updates to this problem? It's kind of a big deal because models are producing slightly different results

[2021-04-23 23:16] cyrusbehr opened #20211 "Unable to cross compile for AArch64 CUDA"
I've been struggling to cross compile mxnet on my x86 Ubuntu 18.04 device for AArch64 Ubuntu 18.04 target (nvidia jetson xavier nx).

The instructions on [this page](https://mxnet.apache.org/versions/1.7/get_started/jetson_setup) are severely lacking, there are zero instructions for how to actually cross compile.

This is what I've tried:
[code]

So things to note, I have the `aarch64-linux` cuda

[2021-04-23 23:22] leezu commented on #20211
Cross-compile for jetson is tested on CI via the following setup. You can use a similar setup locally:

https://github.com/apache/incubator-mxnet/blob/e8ad36aeaa5de61ca073acbe598d853f63262721/ci/docker/Dockerfile.build.jetson#L23-L91

and

https://github.com/apache/incubator-mxnet/blob/e8ad36aeaa5de61ca073acbe598d853f63262721/ci/docker/runtime_functions.sh#L140-L155

[2021-04-23 23:27] cyrusbehr commented on #20211
Thank you I will give this a try.

[2021-04-24 03:45] cyrusbehr commented on #20211
Building in that provided image worked, thank you so much!

[2021-04-24 03:45] #20211 closed

[2021-04-24 12:59] Neutron3529 commented on #20164
Finally I found that, mxnet's C++ iter is faster than the code I wrote, close this issue.
I cannot figure out why my code is faster in multi-thread version, but the speedtest is unfair since turbojpeg is a multi-thread version and mxnet's loader is a single-thread version.

cannot figure out what happened, but both the original code and my code got segfault, so I change my code to mxiter.

[2021-04-24 12:59] #20164 closed

[2021-04-25 06:07] SusBioRes-UBC opened #20213 "Stuck with "Mxnet running performance tests to find the best convolution algorithm""
Hello,
   I'm trying to train AlexNet using ImageNet from scratch. But I’m stuck with the following message for hours and never able to proceed to the next step:
_src/operator/nn/./cudnn/./cudnn_algoreg-inl.h:97: Running performance tests to find the best convolution algorithm, this can take a while… (setting env variable MXNET_CUDNN_AUTOTUNE_DEFAULT to 0 to disable)_

   My system is:
   10-Core

[2021-04-25 15:35] sjiagc opened #20214 "UnicodeDecodeError When Loading mxnet Python Module on Windows"
## Description
On Windows, the package built with VS 2019 fails to load because of UnicodeDecodeError in methods' doc.

### Error Message
[code]

## To Reproduce
In \path\to\mxnet\ci directory, run python build_windows.py -f WIN_GPU; installed built package to python env; and import mxnet in python command.

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. cd \path\

[2021-04-26 08:43] deepakkumar1984 opened #20217 "Latest Windows build for mxnet-2.0.0b"
Do we have any nightly release build for windows version? I am checking this link https://dist.mxnet.io/python/cpu and getting daily builds for linux and osx version.

[2021-04-26 11:58] leezu commented on #20214
Thanks for the fix https://github.com/apache/incubator-mxnet/issues/20215

[2021-04-26 11:58] #20214 closed

[2021-04-26 14:30] leezu opened #20218 "MXNet 1.8.0.post0 OSError: libnccl.so.2 while importing mxnet"
https://stackoverflow.com/questions/66786887/getting-oserror-libnccl-so-2-while-importing-mxnet

This also happens with cuda 11.0

[2021-04-26 14:50] leezu commented on #20218
Log on a new DL Base AMI
[code]

[2021-04-26 14:51] leezu opened #20219 "MXNet 1.8.0.post0 segmentation fault on DLAMI"
Log on a new DL Base AMI
[code]

[2021-04-26 15:17] leezu commented on #20219
Be sure to have both `/usr/local/cuda/lib64` and `/usr/local/cuda/lib` on the LD_LIBRARY_PATH. Something changed in DLAMI and `/usr/local/cuda/lib` got removed when deploying my setup to recent DLAMI.

[2021-04-26 15:17] #20219 closed

[2021-04-26 15:32] leezu commented on #20219
The issue was present in DLAMI 36 and was fixed in DLAMI 37

[2021-04-26 16:50] andreas-solti opened #20220 "Dynamic Batching during Inference / Runtime"
First, thanks for creating this great and high performant framework! I've looked in the open and closed issues and couldn't find this one.
## Description
It would be really cool to be able to enable automatic batching of inference requests in the engine. The feature would dynamically wrap and unwrap similar-sized inputs in the engine based on configured max wait time and preferred batch size.
- In

[2021-04-26 18:45] ptrendx commented on #20213
We would need more information to help you - what version of MXNet, CUDA and cuDNN are you using for example, details about your training script would also be very useful, as well as output of `nvidia-smi` while the training seems stuck. How do you know that the network is not proceeding to "the next step" - did you put any prints or other ways of seeing progress there?

[2021-04-27 01:39] cyrusbehr opened #20222 "Unable to cross compile for aarch64 cuda with USE_CPP_PACKAGE=ON"
This issue is building off of a previous issue [here](https://github.com/apache/incubator-mxnet/issues/20211).

My goal is to cross compile on an x86 host for an aarch64 target, and build mxnet with cuda + cpp support.

As per the suggestion in that previous issue, I am compiling the library in the mxnet `Dockerfile.build.jetson` image which can be found [here](https://github.com/apache/incubator-

[2021-04-27 10:44] FLSAlg opened #20223 "gluon.data.vision.transforms.RandomRotation does not work when NumPy-array semantics is turned on"
## Description
if npx.set_np() sets numpy-array semantics  on then RandomRotation will not work

### Error Message
 File "C:\Users\.....\venv\lib\site-packages\mxnet\gluon\block.py", line 682, in __call__
    out = self.forward(*args)
  File "C:\Users\.......\venv\lib\site-packages\mxnet\gluon\data\vision\transforms.py", line 269, in forward
    raise TypeError("This transformation only supports f

[2021-04-27 10:46] RuRo opened #20224 "Missing `mkl` wheels for cuda `11.0` and `11.2`."
## Description

There are currently no prebuilt `MKL` wheels for `Cuda 11.0` (`mxnet-cu110mkl`) and `Cuda 11.2` (`mxnet-cu112mkl`) on [pypi.org](https://pypi.org/).

Is there a reason for this? Did `mxnet` drop `MKL` support?

If the answer is "Yes", please explain why and document this somewhere.

If the answer is "No", please add these wheels.

[2021-04-27 11:15] feevos commented on #10567
This would be super useful, especially in distributed computing: the time required for optimization, scales badly with number of GPUs/computation nodes.

Thank you for your efforts.

[2021-04-27 16:43] RuRo commented on #20224
I see. I recommend documenting that on the older `mxnet-*mkl` packages.

Also you might want to add placeholder packages for `mxnet-cu110mkl` and `mxnet-cu112mkl`. These packages should only provide a source distribution with a single `setup.py` file, that just instantly fails with an error message, that explains that `mkl` is available in the regular packages.

[2021-04-27 16:45] szha commented on #20224
Good suggestions. I will implement them. Thanks.

[2021-04-27 17:20] brightening-eyes opened #20225 "ability of saving parameters to memory"
## Description
the save_parameters() method of gluon.nn.HybridBlock only saves model parameters to file. it should be possible to save the model to a file-like object. this lets us combine many models, save them to a dict object, pickle that dict object and load from that (think of saving encoder and decoder into just one file than compress it).
of course the possibilities are endless, and this wa

[2021-04-27 17:58] mseth10 commented on #19915
Are we still seeing this error? @leezu

[2021-04-27 22:44] barry-jin commented on #20222
Hi @cyrusbehr , the cross-compilation issue for CPP-PACKAGE exists since https://github.com/apache/incubator-mxnet/issues/13303, because OpWrapperGenerator.py will try to dlopen libmxnet.so(aarch64 target) on an x86 host. The work around may be compiling twice: Firstly to compile a x86 target and use OpWrapperGenerator.py to generate cpp-package required op.h. Then command out https://github.com/a

[2021-04-27 22:46] cyrusbehr commented on #20222
Ok sounds good, let me give that a shot.

[2021-04-27 23:58] leezu commented on #19915
The test is currently disabled on Windows:

https://github.com/apache/incubator-mxnet/blob/5722f8b38af58c5a296e46ca695bfaf7cff85040/tests/python/unittest/test_subgraph_op.py#L126-L127

If you think it has been fixed, let's re-enable it :)

[2021-04-28 00:03] leezu commented on #20224
Note that these pypi wheels don't statically link MKL Blas due to licensing restrictions of MKL, but rather used "mkldnn", now https://github.com/oneapi-src/oneDNN. If you would like to build MXNet with MKL Blas, you have to build from source.

[2021-04-28 00:09] leezu commented on #20225
You can collect the parameters and convert them to numpy.

Also note that as of MXNet v2, the saves to the numpy npz file format (see https://numpy.org/doc/stable/reference/generated/numpy.savez.html).

[2021-04-28 04:41] SusBioRes-UBC commented on #20213
Thank you for the prompt response @ptrendx. Sorry I forgot to check the log file and it seems the training was going normally. I guess this seemingly "stuck situation" is probably b/c I did not print anything to the terminal. Sorry for the false alarm. I will close the issue.
Regards,

[2021-04-28 04:41] #20213 closed

[2021-04-28 18:29] cyrusbehr commented on #20222
This did the trick, thanks.

[2021-04-28 18:29] #20222 closed

[2021-04-28 21:59] TristonC commented on #20218
On the release [page](https://mxnet.apache.org/versions/1.8.0/get_started?platform=linux&language=python&processor=gpu&environ=pip&)  it says:
[code]

[2021-04-28 22:35] TristonC commented on #20134
@Kh4L to follow up this.

[2021-04-28 22:46] leezu commented on #20218
Good catch. So it's done on purpose. I ran into the issue due to a problem with LD_LIBRARY_PATH config on a newer DLAMI version

[2021-04-28 22:46] #20218 closed

[2021-04-29 10:00] sfraczek commented on #19821
Hi, have you tried it? How was it?

[2021-04-29 13:47] brightening-eyes commented on #20225
@leezu is it possible to pickle the collected parameters without any data loss?

[2021-04-29 19:29] leezu commented on #20225
There may be issues during unpickle on other systems, for example when the systems differ in endianness. I suggest to convert each param to numpy first and then pickle. You can use pickle out-of-band data support for efficiency: https://www.python.org/dev/peps/pep-0574/

[2021-04-30 14:28] #19586 closed

[2021-04-30 14:47] #18936 closed

[2021-04-30 14:48] szha commented on #18937
fixed in the above PR

[2021-04-30 14:48] #18937 closed

[2021-05-01 13:39] nehcuh opened #20232 "np.apply_along_axis cannot work"
## Description
`np.apply_along_axis` func cannot work.

### Error Message
[code]
## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)
[code]

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. open terminal
2. get into ipython console
3. run code written above

## What ha

[2021-05-02 09:24] Pagey commented on #18800
@yajiedesign hey any idea when 1.8 wheels for Windows?

[2021-05-03 00:52] wkcn commented on #20232
Thank you for reporting this bug!

The numpy function `apply_along_axis` is not implemented in MXNet, so MXNet fallbacks it to official numpy operator.

It works when `data` in `args`.
[code]

The reason of the bug is that the function `_as_onp_array` in [`multiarray.py#L380`](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/numpy/multiarray.py#L380) could not discriminate the ND

[2021-05-03 08:42] sjiagc commented on #20206
Close due to PR apach#20207 was merged.

[2021-05-03 08:42] #20206 closed

[2021-05-03 11:55] #20232 closed

[2021-05-03 16:05] brightening-eyes commented on #20225
@leezu I want to pickle with x86_64, and unpickle using that architecture. so, that should not be an issue. but, my main concern was the ability of saving more than 1 network + additional data like the parameters of the optimizer into 1 file.

[2021-05-03 16:09] brightening-eyes opened #20235 "adding blis in addition to openblas, atlas and mkl"
## Description
this is another blas library which is faster than openblas, and unlike it, it supports avx512 as well. although not as fast as mkl in x86 and x86_64 processors, but it outperforms other blas libraries at least on other processors.

## References
[here](https://github.com/flame/blis) is its GitHub repository.

[2021-05-03 19:05] ptrendx commented on #17858
I thought about this and the real problem seems to actually be `libcuda.so`, right? `libnvrtc.so` does not depend on `libcuda.so` directly, it is just that to actually use the kernels compiled with `libnvrtc.so` one needs to use the driver API. So it should be fine to link normally to `libnvrtc.so`, and just dlopen `libcuda.so`, right @leezu?

[2021-05-03 19:07] szha commented on #20235
Thanks for sharing the blis library. Other than the paper for blis, is there any performance report on its comparison with other libraries on more CPUs? From the paper of blis, it appears that this library has some advantage on runtime memory consumption on larger inputs over openblas, and speed advantage on smaller gemv ops. The rest of the performance comparison isn't as clear-cut.

Overall I th

[2021-05-03 21:17] TristonC opened #20238 "[RFC] v1.9.0 release"
MXNet community,

There are many improvements and fixes after the v1.8.0 release. One example is the ONNX model exporter improvement. As discussed with several MXNet developers, a release of v1.9.0 has been of interest to different teams. Please help to add features or fixes for your interests.

Feature code freezes on Friday, May 14th,2020.

Planned items

- ONNX export improvements
- ARM support

[2021-05-03 21:21] Zha0q1 commented on #20238
Thanks @TristonC for starting this thread! mx2onnx is a highly requested feature and it's great that we are releasing it soon! Will be reporting our progress in this thread as we conclude the development of the feature.

[2021-05-03 23:59] szha opened #20239 "core dump in onnx export test"
## Description
Floating point exception(core dumped) in tests/python-pytest/onnx/test_operators.py::test_onnx_export_scalar_op

## Occurrences
https://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-20237/1/pipeline

[2021-05-04 03:05] szha commented on #19198
After reviewing the cmake file, it seems ok to have the file under both licenses. The BSL license is under [category A](https://www.apache.org/legal/resolved.html#category-a) and is compatible with Apache License.

[2021-05-04 03:05] #19198 closed

[2021-05-04 03:09] szha commented on #18479
Status of the issue has been tracked in LEGAL-515/516 and INCUBATOR-253

[2021-05-04 03:09] #18479 closed

[2021-05-04 03:11] szha commented on #18463
This issue has been resolved as the logic for downloading third-party release has been removed. If windows support is desired, members who work on Julia can propose the solution and we can make sure of the ASF-compliant approach in the new proposal then.

[2021-05-04 03:11] #18463 closed

[2021-05-04 03:14] szha opened #20241 "Pip Source Distribution"
## Description
It would be great to have source distribution to PyPI package apache-mxnet that can build automatically on user machines. We can use the error message to notify user of the minimum toolchain required for the build.

[2021-05-04 03:15] szha commented on #18397
The items in this issue are outdated and already tracked in INCUBATOR-253. For the remaining source distribution item, I created #20241 for tracking.

[2021-05-04 03:15] #18397 closed

[2021-05-04 06:55] brightening-eyes commented on #20235
@szha check [this](https://groups.google.com/g/openblas-users/c/W1tviVFDx1w), [this](http://developer.amd.com/wordpress/media/2013/12/Accelerating-Machine-Learning-using-BLIS.pdf), and [this](https://arxiv.org/pdf/1902.08115.pdf)
these people were experimented with it and shared their opinions

[2021-05-04 13:00] leezu commented on #17858
@ptrendx yes

[2021-05-05 04:32] TristonC commented on #18923
@Zha0q1 Have MXNet 1.x made any progress for this issue?

[2021-05-05 04:36] TristonC commented on #18862
@szha  Has this issue solved in 1.x?

[2021-05-05 04:37] TristonC commented on #17395
@szha  Has this issue been solved?

[2021-05-05 04:38] TristonC commented on #16200
@szha  Has this issue been solved in 1.x?

[2021-05-05 04:39] Zha0q1 commented on #18923
no.. the recent onnx development has been focused on exporting rather than importing

[2021-05-05 04:39] TristonC commented on #16090
@Zha0q1 @szha  Has this issue been solved in 1.x?

[2021-05-05 04:43] TristonC commented on #18923
Thanks, @Zha0q1. Import might be more important if a user  want to test the performance on different frameworks.   @szha @sandeep-krishnamurthy Do we have any project to imporve the ONNX model importing?

[2021-05-05 04:43] Zha0q1 commented on #18862
the .json and .params file are exported from MXNet. We can convert mxnet models to the onnx format and recently GluonCV has also converted many pretrained cv models and hosted them here https://github.com/dmlc/gluon-cv/tree/master/scripts/onnx

[2021-05-05 04:44] TristonC commented on #16176
@Zha0q1 @szha Have this issue been solved in 1.x?

[2021-05-05 04:46] Zha0q1 commented on #18862
[This](https://mxnet.apache.org/versions/1.8.0/api/python/docs/tutorials/deploy/export/onnx.html) is the doc for converting mxnet models to the onnx format in mxnet 1.8.

mxnet 1.9 release will also include a big update package to the mxnet2onnx conversion module, which will have more and better operator support, dynamic input shapes, multiple input dtypes and more

[2021-05-05 04:50] Zha0q1 commented on #16200
yes, this has been partially resolved. we support the output_size==1 case (equivalent to global pooling). Other cases are not supported due to onnx not having a adaptive avg pooling op.

you can find the new operator support matrix here https://github.com/apache/incubator-mxnet/tree/v1.x/python/mxnet/onnx#operator-support-matrix. The new onnx support will be released in mxnet 1.9 soon

[2021-05-05 04:51] Zha0q1 commented on #16090
swapaxis is supported now!

for the full op support matrix you can refer to here https://github.com/apache/incubator-mxnet/tree/v1.x/python/mxnet/onnx#operator-support-matrix. The new onnx export module will be release in mxnet 1.9 soon!

[2021-05-05 04:53] Zha0q1 commented on #16176
decovolution should be supported now!

You can refer to this latest op support matrix https://github.com/apache/incubator-mxnet/tree/v1.x/python/mxnet/onnx#operator-support-matrix. The new mx2onnx export module will be released soon with mxnet 1.9!

Also https://github.com/apache/incubator-mxnet/tree/v1.x/python/mxnet/onnx#gluoncv-pretrained-model-support-matrix here's the pretrained model support

[2021-05-05 16:09] TristonC commented on #16210
@szha  @Zha0q1 Has this issue been solved?

[2021-05-05 16:12] TristonC commented on #20238
ONNX export support matrix by @Zha0q1

[2021-05-05 16:21] TristonC commented on #16439
@Zha0q1  Has this issue been solved?

[2021-05-05 16:25] TristonC commented on #16590
@szha @Zha0q1 Has this issue been solved?

[2021-05-05 17:17] TristonC commented on #17135
@Zha0q1 Could you help to go revisit the doc with 1.x branch? @sandeep-krishnamurthy  Bring this to your attention too.

[2021-05-05 17:18] #16090 closed

[2021-05-05 17:45] #18862 closed

[2021-05-05 17:46] #16200 closed

[2021-05-05 17:46] #16176 closed

[2021-05-05 17:48] Zha0q1 commented on #16439
This use case should be supported in the upcoming mxnet 1.9 release

[2021-05-05 17:48] #16439 closed

[2021-05-05 17:52] Zha0q1 commented on #17135
This should be onnx version mismatch version. The mx2onnx module will have a major update in the mxnet v1.x release and we will support onnx versions 1.7 and 1.8. We will make sure to list the version requirement in the new doc

[2021-05-05 17:52] #17135 closed

[2021-05-06 01:53] TristonC commented on #16528
@Zha0q1  This one seems fixed. Could you help to verify and close this issue. @szha @sandeep-krishnamurthy

[2021-05-06 02:02] Zha0q1 commented on #16528
should be fixed now, the new onnx exported will be available with the upcoming mxnet 1.9 release!

[2021-05-06 02:03] Zha0q1 commented on #16528
closing the issue for now

[2021-05-06 02:03] #16528 closed

[2021-05-06 18:25] mseth10 opened #20251 "[RFC] MXNet AArch64 wheels"
## Problem statement
Currently, Apache MXNet does not publish wheels for AArch64 based platforms. I would like to propose addition of AArch64 support to our CI/CD as well as stable release Jenkins pipelines.
MXNet already supports AArch64 based platforms. In CI, we cross-compile MXNet for AArch64 target architectures for Ubuntu and Android OS. For wheel generation and testing, we can use AWS Gravi

[2021-05-06 21:00] faisalshahbaz commented on #11015
Add these lines in your code.

[code]

[2021-05-06 21:01] faisalshahbaz commented on #8163
Add these lines in your code.

[code]

[2021-05-06 21:02] waytrue17 commented on #20239
Should be fixed by #20240

[2021-05-06 22:01] mseth10 commented on #20251
WIP PR : https://github.com/apache/incubator-mxnet/pull/20252

[2021-05-07 18:39] leezu commented on #19139
For the release, it would be useful to review the disabled tests https://github.com/apache/incubator-mxnet/search?q=mark.skip

[2021-05-07 20:34] TristonC commented on #18124
@Zha0q1 Has this issue been solved?

[2021-05-07 20:37] Zha0q1 commented on #18124
Looks like the model is provided in a zip. We can download it and give it a try and update back. cc @waytrue17

[2021-05-07 22:09] barry-jin commented on #19082
Multi_threaded_inference test has been added back in #20131 along with the whole cpp-pakage and will be tested in ci/unix-gpu

[2021-05-08 00:30] astonzhang commented on #20068
For anyone who encounters the same error when installing mxnet-cu101==1.8.0 or 1.8.0post0 and run `import mxnet`:

1. Starting from version 1.8.0, CUDNN and NCCL should be installed as well. https://mxnet.apache.org/versions/master/get_started?platform=linux&language=python&processor=gpu&environ=pip&

2. So you may install CUDNN and NCCL (NCCL 2):

[code]

[2021-05-08 10:36] MccreeZhao opened #20254 "Under hybridize mode, can not reproduce result after set random seed"
## Description
(A clear and concise description of what the bug is.)

[code]
Hi!  I try to fix random seeds to reproduce the result with the code above. However, it does not work if I set ```net.hybridize()```.  Without hybridize, it works fine. Are there any settings that I can do to solve this problem? Thanks for your help.

### Error Message
(Paste the complete error message. Please also includ

[2021-05-10 08:13] adamsvystun commented on #18760
I can reproduce this in a Google Colab notebook without any processes. The notebook just crashes without any error. Is that expected behaviour?

[2021-05-10 08:15] #18760 closed

[2021-05-10 15:37] R2D2oid commented on #4431
I have a similar issue where mxnet is unable to use GPU. (note: I was able to successfully switch to CPU by simply setting `context = mexnet.cpu()` and run things without any issues!)

As for the GPU issue, in my case I have cuda installed and I'm able to successfully use it with torch **outside of the virtualenv that I have setup for mxnet**.

Outside of my virtualenv, `torch.cuda.is_available()`

[2021-05-11 01:37] lunar-walker opened #20256 "Compiling from Source with GPU Support Fails on Windows 10"
## Description
When compiling version 1.8 with GPU & MKLDNN support from Windows 10 / x64 (Visual studio Community 2019), it fails with lots of errors of pattern calling a __host__ function from a __global__ function is not allowed...

Initial investigation suggests some sort of confusion by CUDA Compiler for mixing standard C/C++ libraries functions with CUDA Libraries functions i.e. error is app

[2021-05-11 14:45] lunar-walker commented on #20256
Version 1.8.0

[2021-05-11 15:06] lunar-walker commented on #20256
I have made some changes in the code by following these 2 links :-

https://trac.ffmpeg.org/ticket/9150
https://devtalk.blender.org/t/cuda-compile-error-windows-10/17886/4

and now using Visual Studio 2017 to build (currently in progress, will let you know results)

[2021-05-11 16:19] josephevans commented on #20238
Thanks @TristonC for driving this. With code freeze on May 14th, when is the anticipated release date?

[2021-05-11 17:40] barry-jin opened #20257 "[RFC] Gluon Based C++ Frontend"
## Problem statement
Currently, migration of cpp-package to MXNet2.0 is [in progress](https://github.com/apache/incubator-mxnet/pull/20131). The changes in MXNet2.0 cpp-package include some tasks like renaming some CAPIs with Ex suffix, adopting CachedOp interface in executor forward computing and autograd interface in executor backward propogation. Which means, the v1.x cpp-package users can migr

[2021-05-12 05:55] romintomasetti commented on #11163
This is still happening as of `MxNet 1.7.0`

[2021-05-12 12:06] ajoshi-cimpress opened #20260 "UnboundLocalError: local variable 'convert_func' referenced before assignment"
## Description
ONNX export gives local variable 'convert_func' referenced before assignment for mxnet-cu112==1.9.0b20210510.

### Error Message
Traceback (most recent call last):
  File "mx_export_onnx.py", line 68, in <module>
    onnx_mxnet.export_model("./edges/models/edges-color-reduced-symbol.json", "./edges/models/edges-color-reduced-0000.params", [(1, 4, 536, 536)], 'float32', "edges-color-

[2021-05-12 15:10] lunar-walker commented on #20256
I was able to compile using VS 2017 without any code modification and able to get DLLs. Then, there was issue of building python bindings which were failing with access violation errors OSError: exception: access violation writing 0x0000000000000000

Placing all dependencies in libmxnet.dll folder resolved the issue. and I was able to install python egg. However, when I import mxnet, there is subs

[2021-05-12 17:09] samskalicky commented on #20260
Looks like the issue is in here:
https://github.com/apache/incubator-mxnet/blob/v1.x/python/mxnet/onnx/mx2onnx/_export_onnx.py#L100-L103
where `convert_func` might never get set in the loop.

[2021-05-12 18:19] Zha0q1 commented on #20260
Thanks for creating the issue, I created a pr to fix this.
@ajoshi-cimpress this most likely means that you are using an older onnx version than what we support (>= 1.7.0)
Would you try to update onnx and what is your use case?

[2021-05-12 18:28] lunar-walker commented on #20256
Build seems working fine with InsightFace pretrained models and performance is akin to running on Ubuntu...
Is there any test suit available to thoroughly check a GPU build? And Should I close this issue now?

Just for info for all others, here is the recap
I managed to get Windows 10 x64 GPU Build of Version 1.8 by using VS 2017, CUDA 11.2 (Architecture 7.5), CUDNN, MKL, LAPACK & OpenCV by follow

[2021-05-12 22:21] barry-jin commented on #16167
Cpp-package will be added back in #20131. As this language binding will still rely on symbolic programming, some of the module like APIs removed in #18531 will also be added back. So, we may need to support these module APIs for some languange bindings, especially for cpp-package. @szha @leezu

[2021-05-12 22:53] ajoshi-cimpress commented on #20260
I already tried it before, for your information this is what I get when I tried to upgrade onnx
Requirement already satisfied: onnx in /home/ajoshi/.local/lib/python3.7/site-packages (1.9.0)

The use case is, I have a model which I want to export to ONNX and run it using onnxruntime.

[2021-05-12 23:40] Zha0q1 opened #20265 "[v1.x] [MKLDNN] 2 Conv Tests Failed with MKLDNN + ACL"
I was trying to build MXNet 1.x with MKLDNN with ACL (Arm Compute Library) integration on an Arm instance. I used this [cmake config file](https://github.com/apache/incubator-mxnet/blob/v1.x/config/distribution/linux_aarch64_cpu.cmake) to integrate MKLDNN with ACL. The build was very performant and would surely benefit MXNet users hugely. I got a 3-4X boost with (16/64, 3, 512, 512) on Resnet comp

[2021-05-13 02:31] HeshanMountteen commented on #2579
Do u have any solution and know why?

[2021-05-13 11:50] ajoshi-cimpress commented on #20260
FYI, I tried your fix and it's better now. Get following error : AttributeError: No conversion function registered for op type _not_equal yet.

[2021-05-13 15:22] Monteiro4 commented on #16590
when exporting from torch to onnx, if we add "keep_initializers_as_inputs=True" parameter to export() function, it solves the issue.

[2021-05-14 03:35] handoku commented on #19550
Save problem happened to resnet-50, any progress here?

[2021-05-14 11:12] ajoshi-cimpress commented on #20260
For "AttributeError: No conversion function registered for op type _not_equal yet." I was able to use the recent commit related to broadcast_operator_not_equal and was able to export the model. I am not sure future releases will fix this issue as well so closing the case.

[2021-05-14 11:12] #20260 closed

[2021-05-14 14:36] leezu commented on #20095
Sorry @Duconnor, I later realized that "To implement this, search the whole codebase for "libgfortran" and just add the analogous code for "libgomp" at each location" won't work on the CD, as with RedHat devtoolset, the libgfortran.so is just a text file containing linker commands to point to a different file.

[2021-05-14 14:46] Duconnor commented on #20095
That's okay :) since I'm also starting to learn about wheels and packaging in python through working on this issue. So do we still need to put libgomp.so into the wheels but will have to do it in another way or just simply ignore this right now?

[2021-05-14 15:27] leezu commented on #20095
If we want to be compliant with manylinux2014 policy, yes, we need to put it in the wheel.
But the easiest option for now is probably to ask users to install system libgomp. That works because libgomp maintainers were careful to avoid `soversion` bumps of the libgomp and the newer libgomps are still compatible with the older ones.

If we want to package libgomp.so into the wheel, we have to be car

[2021-05-14 15:29] leezu commented on #19550
@barry-jin does it affect the master version too?

[2021-05-14 18:58] barry-jin commented on #19550
Yes, I just tested cpp-package for master branch and the detailed stack trace is like this:

[code]

[2021-05-15 02:01] barry-jin commented on #19550
Same issue here in master/cpp-package. The stack trace is as follows:
[code]

[2021-05-15 02:28] Duconnor commented on #20095
@leezu Got it. Thanks for your thorough explanation.

[2021-05-17 18:11] akarbown commented on #19610
The bug will be fixed in the next oneAPI release - 2021.3. Just after the release I'll open the PR addressing this problem.

[2021-05-18 21:19] Zha0q1 commented on #20265
Here is the source code of the first test case `test_operator.test_convolution_grouping `
https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_operator.py#L1674-L1703

[code]
The test will only fail when `dim=2` and `num_group=2`, i.e. when `kernel=(3, 3)` and `shape=(1, 4, 9, 9)`.

So the test case will check if the Conv op will produce the same output and gradients (f

[2021-05-18 21:49] Zha0q1 commented on #20265
Here is the source code of the second test case https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_operator.py#L1750-L1829

[code]
This test will only fail when `dim=2`. However, if at the same time we set `reqs = ["write", "add"]` rather than `reqs = ["null", "write", "add"]`, the test will also run fine.

failure:
[code]
command to run test:
[code]

[2021-05-18 21:53] Zha0q1 commented on #20265
@szha @anko-intel @josephevans I have collected more info about the two test failures. I've also prepared a clean ec2 instance with this specific mxnet build so that others can quickly get access. Please let me know about anything to try or if I can add your secret to the instance. Help is much appreciated!

[2021-05-19 04:31] cuongngm opened #20279 "Install mxnet using pip"
## Description
I try to install mxnet using pip:
[code]
in some server using cuda 11.1 11.2 11.3 and google colab (cuda 11.2) but all the error when importing mxnet.

### Error Message
[code]

[2021-05-19 08:28] lordofgod opened #20280 "Wrong output_padding in ConvTranspose, while converting mxnet model to onnx model"
## Description
Mxnet 模型的Deconvolution操作在未指定“adj”参数时，可能会导致转换成Onnx的ConvTranspose操作时生成错误的output_padding。 这会导致在使用TensorRT调用Onnx模型时提示“不支持3D deconvolution的非对称padding”。

Mxnet.contrib.onnx.export_mode will convert wrong output_padding value from Deconvolution (Mxnet) to ConvTranspose (Onnx), if the param "adj" is not specified. This bug will cause an asymmetrical padding error while using the converted o

[2021-05-19 13:37] leezu commented on #20279
Please install the cudnn, cusolver and nvrtc libraries that are part of the NVIDIA CUDA libraries.

[2021-05-19 19:40] barry-jin opened #20282 "[operator] np.einsum bus error"
## Description
np.einsum bus error

### Error Message
libc++abi.dylib: terminating with uncaught exception of type dmlc::Error: [12:34:18] ../src/initialize.cc:380: IOError: Bus error: 10
Abort trap: 6

## To Reproduce
[code]

[2021-05-19 20:48] leezu commented on #20282
Works for me with the mxnet-2.0.0a0-py3-none-manylinux2014_x86_64.whl

[2021-05-20 11:38] codealphago opened #20286 "Unicode Decode Error when import mxnet on win10"
## Description
(A clear and concise description of what the bug is.)
On win10, I have compile MXNET 2.0 with Visul Studio 2019 successfully.When I validate MXNet Installation "import mxnet as mx",it was failed to load because of UnicodeDecodeError.I fix it to replace invalid characters in src.
### Error Message
(Paste the complete error message. Please also include stack trace by setting environme

[2021-05-20 20:05] mseth10 opened #20289 "Failing unit tests on aarch64"
## Description
When enabling CD pipeline for AArch64 https://github.com/apache/incubator-mxnet/pull/20288, observed that 4 unit tests fail/error out. Skipping these tests for now in the CD pipeline and tracking them in this issue. The CD pipeline currently uses python3.6 (observed some more failures with python3.7)

### Error Message
Following are the error logs from test CD pipeline:
[code]
[code

[2021-05-21 02:46] tianjiashuo opened #20290 "Error in the accuracy of the model after save read"
## Description
I am training a lstm-trec classification model. This is my training code.
[code]

### Error Message
[code]
## To Reproduce
https://colab.research.google.com/drive/1J7Kd7cuBe1fnnx6p9TVOZ1_T93vI0kZx?usp=sharing#scrollTo=p_1SQCyjK-29

[2021-05-21 14:24] matteosal opened #20293 "Wrong gradients with C API?"
The following program performs a forward + backward pass on the sum of two length-1 vectors (via the `elemwise_add` operator)
[code]
It behaves as expected, producing
[code]
Switching off the gradient request for the second input, i.e. defining the grad_req arrays as
[code]
also behaves as expected, producing 0 for `GRAD 2` (gradient arrays are initialized with 0):
[code]
But switching off the fir

[2021-05-21 17:50] leezu commented on #20290
`FileNotFoundError: [Errno 2] No such file or directory: 'trec_train_x_char.npy'`

[2021-05-22 00:33] Zha0q1 opened #20296 "Lazy initialization in c predict api?"
I was trying to run a c++ bert example with multi-threading and naive engine with `MXPredCreateMultiThread` (currently this api can only run with naive engine).

However lazy initialization for executor binding is set to `true` in `MXPredCreateMultiThread` https://github.com/apache/incubator-mxnet/blob/v1.x/src/c_api/c_predict_api.cc#L430. This means that executor binding will not happen when we c

[2021-05-22 00:36] Zha0q1 commented on #20296
the full stack trace
[code]

[2021-05-22 01:12] Zha0q1 commented on #20296
ok i found the original design discussion [here ](https://github.com/apache/incubator-mxnet/pull/12456/files#r218632768)

by zheng-da
So i guess a better approach is to lock https://github.com/apache/incubator-mxnet/blob/v1.x/src/c_api/c_predict_api.cc#L75

[2021-05-24 07:08] jeou opened #20299 "autograd.backward yeilds different grad between loss and copied function of hybrid_forward in loss"
## Description
[code]
with two same models, i copy the hybrid_forward function from gluoncv.loss(softmaxcrossentropy loss in gluoncv).
note that i already take away the dropout layer of models for comparison.
this function yeilds the loss_11 value which is equal to loss_12(softmaxcrossentropy loss from gluoncv).
but after autograd.backward, grad1(from the copied function) isn't equal to grad2(from

[2021-05-24 07:16] blackboxo opened #20300 "MXNetError: Check failed: delay_alloc:"
## Error Message
![Snipaste_2021-05-24_15-06-53](https://user-images.githubusercontent.com/18532207/119310633-99715f80-bca2-11eb-8505-d619c3cf1773.png)

## What have you tried to solve it?

1. Try different version(Mxnet 1.8.0)

## Environment

DGL Version (e.g., 1.0): 0.6.1
Backend Library & Version: MXNet 1.7.0.post2
OS (e.g., Linux): Linux
Python version: 3.6
CUDA/cuDNN version (if applicable):

[2021-05-24 08:04] cuongngm commented on #20279
in gg colab, i installed mxnet-cu110 and this problem fixed. Same for my server, I solved it by installing mxnet-cu100.

[2021-05-24 08:04] #20279 closed

[2021-05-24 12:27] matteosal opened #20301 "`batch_dot` operator crash"
`batch_dot` seems completely broken.
[code]
Running this script produces:
[code]

Maybe the problem is in my build. I'm building master from source with these settings (linking to MKL 2019.4):
[code]

[2021-05-24 20:58] barry-jin opened #20306 "[2.0] [CPP] CPP package out of source build."
## Description
Currently, the build process of cpp-package in master branch will modify the source folder(cpp-package/include/mxnet-cpp).  So, we may need to update [cpp-package/CMakeList.txt](https://github.com/apache/incubator-mxnet/blob/master/cpp-package/CMakeLists.txt) as in-source-build is no longer supported in master branch.

## References
- https://github.com/apache/incubator-mxnet/pull/2

[2021-05-24 21:07] barry-jin opened #20307 "[2.0][CPP] C++ inference core dumped with tensorRT enabled"
## Description
Tracking c++ inference issue in master/cpp-package
https://github.com/apache/incubator-mxnet/issues/19550#issuecomment-841583103

### Error Message
[code]

## To Reproduce
$ ./imagenet_inference --symbol_file "./model/Inception-BN-symbol.json" --params_file "./model/Inception-BN-0126.params" --batch_size 16 --num_inference_batches 500 --benchmark --enableTRT

[2021-05-25 02:42] QiAnXinCodeSafe opened #20308 "There is a vulnerability in kramdown 2.1.0 ,upgrade recommended"
https://github.com/apache/incubator-mxnet/blob/57d0ace3a9b89032896822dd27af870a9b446d83/docs/static_site/src/Gemfile.lock#L40

CVE-2020-14001  CVE-2021-28834

Recommended upgrade version：2.3.1

[2021-05-25 08:58] HeshanMountteen commented on #16431
@anirudh2290 hi, I use mutithreading C++ API and find that the change between NDArrayHandle* to NDArray cost too much time(about 50ms). My prvious pred time about the model just cost 20-30ms. Is it normal?

[2021-05-25 09:01] HeshanMountteen commented on #16431
though there exsists async, it really cost too much that against my will to use multithread

[2021-05-25 09:09] #20299 closed

[2021-05-25 16:32] ptrendx commented on #20307
@Kh4L FYI

[2021-05-25 21:46] access2rohit commented on #20185
Performance of Eigen is not good

[2021-05-25 21:46] #20185 closed

[2021-05-26 10:06] mnakhaeecourse commented on #15892
Hi I encountered the same problem in converting the retifacev2 can you explain thoroughly how you solved it

[2021-05-26 10:37] mseth10 commented on #16431
cc @josephevans @Zha0q1

[2021-05-26 10:48] Jack6680 commented on #19808
Good afternoon!
I also managed to convert resnest50 to onnx with this script
[code]
But I can't convert back from onnx to mxnet. Example
[code]
---------------------------------------------------------------------------
`
NotImplementedError: Operator ScatterND not implemented.`

[2021-05-26 13:54] Jack6680 opened #20313 "Resnest50 to onnx. Different inference results"
## Description
I converted resnest50 model according to [19808](https://github.com/apache/incubator-mxnet/issues/19808). Now I try to compare results given by onnx model with onnxruntime. The difference between them is quite large. The output of numpy.testing.assert_allclose is
[code]
### Error Message
-
## To Reproduce

### Steps to reproduce

model conversion

[code]
Model testing

[code]

## En

[2021-05-26 14:30] jeou opened #20314 "multiply weight with softmaxcrossentropy loss seems to do nothing in gradients"
## Description
[code]
with two same models and losses(softmaxcrossentropy loss in gluoncv).
note that i already take away the dropout layer of models for comparison.
why the forward leads to different loss value yet the gradients are same?
the debug shotcut picture is below.

## Occurrences
![image](https://user-images.githubusercontent.com/30623934/119678153-e3f50680-be71-11eb-9882-27f393810f41.p

[2021-05-27 01:04] barry-jin opened #20315 "GPU memory will not be released after using asnumpy()"
Looks like GPU memory will not be released after using `asnumpy()` method for a large mxnet numpy ndarray with gpu context.

Code to reproduce:
[code]

Before comment out `mx.test_utils.assert_almost_equal()` these two lines:
[code]

After comment out these two lines:
[code]

After change xshape to a relatively smaller one (8, 64, 128, 128), the memory usage looks normal.

_Originally posted by @b

[2021-05-27 01:28] leezu commented on #20315
Have you tried clearing the cache (cf https://github.com/apache/incubator-mxnet/pull/14252)?

[2021-05-27 09:52] HeshanMountteen commented on #16431
I think is there any method can be replaced with data output, like vector<mx_float>.

[2021-05-27 09:56] HeshanMountteen commented on #16431
I don't think it will cost so much from memory to gpu

[2021-05-27 15:25] egiacomazzi opened #20317 "onnx import not working"
## Description
When I try to load [this linked model](https://1drv.ms/u/s!Aj77w7-uJZ_ld_Mle2nPiQXdJ2I?e=itWhbH) using the following lines of code:
[code]
I get the following...

### Error Message
Traceback (most recent call last):
  File "mxnet_load_onnx.py", line 7, in <module>
    sym, arg, aux = onnx_mxnet.import_model(onnx_model_file)
  File "/home/elena/.local/lib/python3.8/site-packages/mxne

[2021-05-27 15:39] lgg commented on #20315
@barry-jin what version and platform are you using?

[2021-05-27 16:07] barry-jin commented on #20315
Hi @lgg The environment information is here

[code]
MXNet is 2.0.0 version and built from source with commit hash 978f97e8cd1d486a05aaa0682b209150e1178dfd
The issue is also in MXNet 2.0.0a

[2021-05-31 08:13] anko-intel commented on #20301
@bartekkuncer please take a look

[2021-06-01 03:26] jiinhui commented on #14763
I   am  trying     to   do    distribute   training   by  mxnet.  But  I meet  the   problem  of   the  ssh   connecting   between  two   mechine.  Is   the  format  of   host_ip1        host_192.168.112.101  ?

[2021-06-01 22:52] Paspartout commented on #20317
Might be a duplicate of https://github.com/apache/incubator-mxnet/issues/16590

[2021-06-02 09:13] #20313 closed

[2021-06-02 14:04] anko-intel commented on #19821
@cyrusbehr, @szha can we close the issue?

[2021-06-02 19:31] szha commented on #19821
Closing for now. @cyrusbehr feel free to ping me if you need the issue reopened.

[2021-06-02 19:31] #19821 closed

[2021-06-03 01:38] HeshanMountteen commented on #16431
ok, I have found float* format output width method MxPred... works.

[2021-06-04 06:04] Light-- opened #20329 "TypeError: Compose expect `Symbol` as arguments"
## Description
(A clear and concise description of what the bug is.)

### Error Message
[code]

## To Reproduce
[code]

## Environment
mxnet 1.6.0

[2021-06-04 07:42] Light-- opened #20330 "InferShape pass cannot decide shapes for the following arguments"
## Description
(A clear and concise description of what the bug is.)

### Error Message
[code]

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.
2.

## What have you tried to solve it?

1.
2.

## Environment

***We r

[2021-06-04 21:34] DickJC123 opened #20334 "Observing CI downloads hanging. Seen by others?"
## Description
I run the MXNet unittest suite under a time limit of 3 hours.  I've noticed a number of timeouts recently, always on a test that needs to download a model from our central mxnet.io site.  An example of a failed URL request by requests.get() is http://data.mxnet.io/mxnet/data/cifar10.zip (as requested by ./test/python/train/test_dtype.py).

It would help to know if others are experie

[2021-06-06 17:26] LyonsDo opened #20336 "No matching distribution found for mxnet-cu112"
pip install mxnet-cu112

Ditto mxnet-cu112-1.8.0
mxnet-cu112-1.8.0.post0

[2021-06-07 16:47] matteosal commented on #20293
Any help on this?

[2021-06-08 06:16] Kh4L opened #20337 "[CI] Flaky test in CI windows-gpu"
## Description
windows-gpu CI has some flaky tests.

[code]

## Occurrences
https://jenkins.mxnet-ci.amazon-ml.com/job/mxnet-validation/job/windows-gpu/job/master/2524/execution/node/155/log/

[2021-06-08 13:15] #20314 closed

[2021-06-08 16:57] #16841 closed

[2021-06-09 08:50] #20067 closed

[2021-06-10 01:02] DickJC123 commented on #19915
I recently set up master with an internal build/CI system, and see the reported failure on linux, but so far only on the CI machines when running the full test suite.  The test_subgraph_exe* tests pass when run individually on a non-CI machine.  The failure I'm seeing matches the reported one:
[code]
This error text comes from the macro SHAPE_ASSIGN_CHECK, which calls shape_assign():
https://githu

[2021-06-10 07:43] roachsinai commented on #20118
Same issue, what I have tried:

[code]

[2021-06-10 08:07] roachsinai commented on #20118
It doesn't work because all whl list in that page is for linux!

So when will release a cu110 package for Windows?

[2021-06-11 03:30] ooooona opened #20343 "Bug or Feature: directly assign 'true' to `delay_alloc` of `Chunk` rather than using input param `delay_alloc_`?"
## Description
I'm confuse about the coding here:
[code]
here is [source code](https://github.com/apache/incubator-mxnet/blob/7740ccae6f8efeba87fb0e0f6a4801ba60a9e4c1/include/mxnet/ndarray.h#L904)

# question
why not assign `delay_alloc_` to `delay_alloc`?

[2021-06-11 04:13] XInitialize opened #20344 "AttributeError: libmxnet.so: undefined symbol: MXListDatasets"
## Description
I used [cross-compilation](https://mxnet.apache.org/get_started/jetson_setup) to compile the Jetson version of MXNet (v1.8.0). When I executed the script to test mxnet installation, I meet an error in ‘import mxnet as mx’

### Error Message
[code]

## To Reproduce
 - cross-compilation (change some files for bad network connection)

File: ci/docker/Dockerfile.build.jetson
line49 add(

[2021-06-11 05:17] XInitialize commented on #20344
wheel file link: [google cloud](https://drive.google.com/file/d/1LRQr_7uoazaBtcu3ItCB-BIbT8y0pMSJ/view?usp=sharing)

[2021-06-11 15:24] nttstar opened #20346 "How to run mxnet on NVidia Ampere GPUs?"
## Description
(A clear and concise description of what the bug is.)
The pip installed and built from source package are both failed while training [arcface](https://github.com/deepinsight/insightface/tree/master/recognition/ArcFace), with 1.8.0 branch(tag).

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_D

[2021-06-11 17:58] szha commented on #20343
Nice catch. Looks like a bug to me. @ooooona thanks for reporting. Would you like to open a pull request and fix the bug?

[2021-06-11 17:59] szha commented on #20343
Seems to be introduced by #14223

[2021-06-11 19:04] leezu commented on #20346
select_compute_arch.cmake is taken from https://gitlab.kitware.com/cmake/cmake/blob/master/Modules/FindCUDA/select_compute_arch.cmake but hasn't been updated in a year. Would you like to open a PR to update to the latest select_compute_arch.cmake based on the upstream file?

[2021-06-13 12:13] Neutron3529 opened #20347 "Failed to compile with GCC 11"
## Description
It might be a bug with oneDNN, but which affect mxnet in a surprising way:
since `std::thread::id` does no have a `!=` operator in GCC 11, oneDNN failed to compile, when try to solving such problem by switch the gcc version to 10, [another error occurs](https://aur.archlinux.org/packages/mxnet/):
[code]
I have submitted [a PR](https://github.com/oneapi-src/oneDNN/pull/1090) about th

[2021-06-14 01:45] hubutui commented on #20347
this opencv error might related to the gcc version you used to compile opencv and mxnet.
ArchLinux uses the latest gcc by default, so the pkg opencv is compiled with gcc 11, but you compile mxnet with gcc 10. Maybe compiling opencv and mxnet with the same gcc version might fix it. Or you could disable `USE_OPENCV`.

[2021-06-14 08:44] PawelGlomski-Intel commented on #13598
@pengzhao-intel In [#13749](https://github.com/apache/incubator-mxnet/pull/13749#discussion_r255372521) you mentioned, that you were working on this issue. Maybe you remember where the work ended, was there any conclusion on this matter?

[2021-06-14 08:48] anko-intel commented on #20347
@mxnet-label-bot MKLDNN

[2021-06-14 09:34] mozga-intel commented on #20196
Thanks, @szha, @leezu for this issue.

Currently, there are a lot of places, where it is needed. I got a few ideas to discuss. Since we can't define a variable/objects in a header file as an explicitly defined object `const mkldnn::memory::desc &md` and if this type is used by multiple functions: (i.e `Reorder2DefaultAsync` ), then the object might be passed by using a void pointer `const void *md

[2021-06-14 14:03] mozga-intel commented on #20347
@mxnet-label-bot add [MKLDNN]

[2021-06-14 17:26] ptrendx commented on #20346
Hi @nttstar, could you give more detailed repro instructions for the hang you are seeing? Generally speaking MXNet 1.8 pip wheel should work on Ampere GPUs so this sounds like a bug somewhere that we should investigate.

@DickJC123 FYI

[2021-06-15 02:14] ooooona commented on #20343
sure, i will try it later today :)

[2021-06-15 06:53] #20344 closed

[2021-06-15 06:55] XInitialize commented on #20344
I have rebuild for times, finally, I got it.

[2021-06-15 08:08] anko-intel commented on #20347
@mxnet-label-bot add [MKLDNN]

[2021-06-15 10:50] Neutron3529 commented on #20347
This problem was fixed by upgrade oneDNN to v2.2.3 (PR #20345)
Thus, no more things to do.

[2021-06-15 10:50] #20347 closed

[2021-06-15 15:55] mozga-intel opened #20353 "[RFC] Avoiding #if directive in solving massive problem of a file including."
## Overview

This RFC targets discussing the strategies for building MXNet with Intel DNNL. Currently, `#if` has become a critical directive in solving massive including-problem. Every single file that implements OneDNN's operator has to be placed between #if-scope. This ensures that its functionality will be either disabled, when MxNet has not built with a OneDNN, or disabled otherwise.
This func

[2021-06-15 16:23] barry-jin opened #20354 "[Gluon2.0] Skipped tests in #20262"
## Description
Two tests will break after switching to use Gluon2.0 in #20262 .

- tests/python/mkl/subgraphs/test_conv_subgraph.py::test_pos_concat_scale_align
  - Reason: Scale doesn't align in numpy for numpy operators

### Error Message
[code]

## To Reproduce
[code]

- tests/python/mkl/subgraphs/test_fc_subgraph.py::test_fc_eltwise
  - Reason: Operator square, square_root, abs, exp cannot be

[2021-06-16 11:17] nttstar commented on #20346
@ptrendx Thanks it's my problem

[2021-06-16 11:17] #20346 closed

[2021-06-16 23:20] TristonC commented on #20337
@leezu Could you find someone to help?

[2021-06-17 07:32] bgawrych commented on #20354
@mxnet-label-bot add [MKLDNN]

[2021-06-17 15:24] KexinFeng commented on #11865
Here are more test cases:
[code]

The task is to evaluate z = x*u =  x* (x*y).

Test 1:
y.grad=[0, 0, 0, 0] is obtained since `u.attach_grad()` implicitly runs `u = u.detach()`.  y.grad=[0, 0, 0, 0] is desired, since if we did want to detach gradient from u node, then dz/dy would be zero.

Test 2:
Both x.grad and y.grad results are problematic. y.grad should be ` u.grad * x = [1, 4, 9, 16]` instea