[2018-12-03 19:35] vrakesh commented on #13515
@mxnet-label-bot add [MLDNN,Performance]

[2018-12-03 20:24] azai91 opened #13516 "MKLDNN int8 support"
MKLDNN 0.17 release states that it supports int8 quantization (https://github.com/intel/mkl-dnn/releases). However, we run into the following issue when we comment out this line
[code]

To reach this, I had to comment out this line of code:
(https://github.com/apache/incubator-mxnet/blob/5111b187e3d8917d45a2482ceaf44b42588eff51/src/operator/subgraph/mkldnn/mkldnn_conv.cc#L346).

For Q & A and disc

[2018-12-03 21:33] aaronmarkham commented on #13468
Same errors...
Also this one:
[code]

[2018-12-03 21:37] larroy commented on #13468
I see, I think they are equivalent. That error means that it can't find the scala standard library. It could be something wrong with your scala instalation is not related to mxnet from what I see.

[2018-12-03 21:50] #13449 closed

[2018-12-03 22:09] aaronmarkham commented on #13468
This probably needs to be reported as another issue, but I tried the scala setup steps to see if something was messed up with my install, and met with further errors.
First, the [sample setup commands](https://github.com/apache/incubator-mxnet/tree/master/scala-package/mxnet-demo/scala-demo#setup) don't appear to work. I had to remove the parenthesis. I ran:
[code]
Then it fails with:
[code]

I tr

[2018-12-03 22:21] zhaoyao73 opened #13518 "incorrect doxygen generated C++ class which has template"
https://mxnet.incubator.apache.org/architecture/overview.html

the "std::function(RunContext)> SyncFn" should be "std::function<void(RunContext)> SyncFn" and AsyncFn is similar.

Looks like the "eval_rst" or doxygenclass is doing something wrong.

a copy from the overview.html:
"
class Engine
Dependency engine that schedules operations.

Public Types

typedef engine::CallbackOnComplete CallbackOnC

[2018-12-03 22:34] larroy commented on #13468
Why are we packing the standard library in the scala Jar?

[code]

[2018-12-03 22:35] larroy commented on #13468
[code]

[2018-12-03 22:53] pengzhao-intel commented on #13516
@azai91 Thanks for raising the issues.
We already have the implementations in local and will PR soon (just wait a moment for r1.4 cut before).
@ZhennanQin

[2018-12-03 22:54] zachgk commented on #12657
@lanking520 This was fixed in #13210 and can be closed

[2018-12-03 22:56] lanking520 commented on #12657
@zachgk Thanks!

[2018-12-03 22:56] #12657 closed

[2018-12-03 22:57] zachgk commented on #12416
@lanking520 We can close this issue because the fix was applied in #12654

[2018-12-03 22:59] lanking520 commented on #13518
@zhaoyao73 Thanks for reporting this to us. @aaronmarkham could you please take a look?

[2018-12-03 23:41] andrewfayres commented on #13468
I did some testing and it looks to me like this might be a problem that comes up depending upon your scala version. When I use version 2.11.8 the commands run correctly. When using 2.12.6 I get the errors that @aaronmarkham reported.

I'm not sure of the reason. Naively, I'd expect that the 2.12.6 scala binary would be backwards compatible with 2.11.x.

[2018-12-03 23:56] bobpoekert opened #13520 "Check failed: b < len (21 vs. 21) slicing with begin[0]=21 exceends limit of 21"
It looks like I’m hitting this condition: https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/matrix_op-inl.h#L670

Should that ever happen or does that indicate a bug in mxnet? It’s happening consistently but I haven’t narrowed it down to a small test case.

It is a little suspicious that line 664 uses CHECK_GE but line 670 uses CHECK_LT and not CHECK_LE

Here’s the full err

[2018-12-04 00:34] lupesko commented on #13515
This is no longer about performance, it is an issue with model perplexity.
@mxnet-label-bot remove [Performance]

[2018-12-04 00:37] anirudhacharya commented on #13274
Duplicate issue https://github.com/apache/incubator-mxnet/issues/13439

Can we close this in favor of the above issue?  @nswamy

[2018-12-04 00:39] kalyc commented on #13274
Closing issue in favor of https://github.com/apache/incubator-mxnet/issues/13439

[2018-12-04 00:39] #13274 closed

[2018-12-04 00:39] harshp8l commented on #13515
@mxnet-label-bot remove [Performance]

[2018-12-04 00:44] lupesko commented on #13515
Adding @pengzhao-intel - can you guys look into it on Intel side and discuss with the MKLDNN team?

[2018-12-04 01:07] aaronmarkham commented on #13518
Adding some notes as it took me a bit to even see the problem...
The area that is having an issue is the API Reference section that is autogenerated with the following Sphinx directive:
[code]

Issue 1:
Look at the entry after this one: https://mxnet.incubator.apache.org/architecture/overview.html#_CPPv2N5mxnet6Engine18CallbackOnCompleteE
Interesting how the two functions that a reported as wrong

[2018-12-04 01:53] TaoLv commented on #13515
@azai91 @lupesko Since the word "perplexity" is more about model, is it possible for you to provide a reproducer and narrow down the problem to MKL-DNN operator? It seems some operator doesn't generate correct result. But we didn't observed that in MXNet CI.

[2018-12-04 02:36] pengzhao-intel commented on #13515
WIP, thanks @lupesko
@azai91 is this still the case of word_language_model ?

[2018-12-04 03:21] YutingZhang opened #13521 "Gluon DataLoader cannot release the processes in the pool"
https://github.com/apache/incubator-mxnet/blob/f2dcd7c7b8676b55d912997fc3f9c62c55915307/python/mxnet/gluon/data/dataloader.py#L532-L533

Logically, when a `DataLoader` is recycled, the `_worker_pool` should be recycled, and the `terminate()` of the `_worker_pool` function should be called immediately. However, it did not ...

Each time I kill a `DataLoader`, it leaves the worker processes dangling

[2018-12-04 04:53] pengzhao-intel commented on #13515
@azai91 @lupesko
I am trying with 1.4.x and latest master and the PPL is below than 203 from my local training.

commit d772a4b64e600eb55e019cdaec4e5a09de7643e6
Author: Anirudh Subramanian <anirudh2290@apache.org>
Date:   Mon Dec 3 15:39:53 2018 -0800

commit a29185a068568dba33452214e6cb017500a4b561
Author: Aaron Markham <markhama@amazon.com>
Date:   Wed Nov 28 17:46:10 2018 -0800

[2018-12-04 05:17] roywei commented on #13243
fixed in #13284

[2018-12-04 05:17] #13243 closed

[2018-12-04 06:48] muhyun commented on #13380
With a fresh installation of jetpack, the standalone inference code runs fine outside of greengrass while the inference throws error from bind() when it is executed in greengrass environment. The standalone runs without error on other tx2.

[2018-12-04 07:31] juliusshufan opened #13524 "MXNET can't build from source on MKLDNN enabled"
## Description
On building MXNET from soure with the command:
make -j USE_MKLDNN=1 USE_OPENCV=1 USE_BLAS=mkl

The compiling always failed with error as below:

In file included from src/operator/nn/mkldnn/mkldnn_base.cc(23):
src/operator/nn/mkldnn/./mkldnn_base-inl.h(57): catastrophic error: cannot open source file "mkldnn.hpp"
  #include "mkldnn.hpp"
                       ^
In file included from

[2018-12-04 07:45] azai91 commented on #13524
looking into

[2018-12-04 07:46] jon-soc opened #13525 "pip can't install mxnet"
pip install mxnet
Downloading/unpacking mxnet
  Could not find any downloads that satisfy the requirement mxnet
Cleaning up...
No distributions at all found for mxnet

pip --version
pip 1.5.4 from /usr/lib/python2.7/dist-packages (python 2.7)

[2018-12-04 07:59] azai91 commented on #13524
I believe the issue is with mkl. system builds fine with openblas.
[code]

our CI does not test mkl blas.

[2018-12-04 08:03] azai91 commented on #13524
looking into fixing.

[2018-12-04 08:39] #13525 closed

[2018-12-04 10:00] #13329 closed

[2018-12-04 11:22] Davdi opened #13526 "distributed training van.cc Check failed"
## Description
i used this shell to test  distributed training  but it shows this error
 ../../tools/launch.py -n 2 -H hosts --launcher ssh python image_classification.py --dataset cifar10 --model vgg11 epochs 1 --kvstore dist_sync

  File "/usr/local/lib/python3.6/dist-packages/mxnet/kvstore_server.py", line 82, in _init_kvstore_server_module
    server.run()
  File "/usr/local/lib/python3.6/dist

[2018-12-04 11:32] larroy commented on #13468
Works for me with 2.11.7 compiled from master. Still we are packing the standard library, this doesn't seem right:

[code]

[code]

[2018-12-04 11:33] larroy commented on #13468
@nswamy @lanking520

[2018-12-04 11:50] larroy opened #13528 "Scala jar contains the scala standard library"
## Description

Created scala package with make && make scalapkg

Following command shows that it contains the scala standard library in addition to mxnet classes.
[code]

## Environment info (Required)

f2dcd7c7b8676b55d912997fc3f9c62c55915307

[2018-12-04 11:50] larroy commented on #13528
@nswamy @lanking520

[2018-12-04 14:00] larroy commented on #13484
Guys, disabling the test is not the right thing to do, I added MXNET_HOME variable (see docs/faq/env_var.md) to deal with these problems. The right thing to do, is fix the windows CI run to set a different MXNET_HOME for each CI worker so there's no concurrent access from different processes.

[2018-12-04 14:41] sernaton commented on #8438
I have not been able to make the workaround suggested by @piiswrong work. In any case, it is a workaround. This is quite a bug! Constant initialization does not work with HybridBlocks....

[2018-12-04 17:12] larroy commented on #13342
Theres a crash because lapack is no available.

369+>  MXNET_LAPACK_UNAVAILABLE(dposv)

Crash when accessing the stream producing the fatal error.

[code]

[2018-12-04 17:35] anirudhacharya commented on #13439
@mxnet-label-bot add [CI]

[2018-12-04 17:42] tsuberim commented on #13001
I'd really like to have this function for computing returns of rewards in the context of reinforcement learning.

[2018-12-04 17:48] #13333 closed

[2018-12-04 18:34] lanking520 commented on #13528
@larroy Hi Pedro, indeed. It contains all Scala needs. You can run your code by simply starting with
[code]

[2018-12-04 18:49] gigasquid commented on #13453
Thanks for fixing this @hellonico :)

[2018-12-04 18:50] larroy commented on #13528
This doesn't sound like a good idea. Libraries shouldn't include the scala standard library. You should use scala -cp to run , and not java -cp.

[2018-12-04 19:38] lanking520 commented on #13520
hi @bobpoekert could you please bring a minimal example that can reproduce this issue? Which MXNet version you are using? Are you using Python?

[2018-12-04 19:39] Vikas89 commented on #13515
@ pengzhao-intel
We see the regression happening on LSTM on PTB data with symbolic training
The graph shows that training & validation perplexity increased starting from 11/28 , which is matching with the date of fix of LSTM regression issue.
We do see improvement in speed. There is huge drop in training time which I am skeptical about.
<img width="1375" alt="screen shot 2018-12-04 at 11 36 40 am"

[2018-12-04 19:48] Vikas89 commented on #13524
@azai91  Can we revert this first and then work on the fix ?

[2018-12-04 19:56] zhreshold commented on #13521
@YutingZhang Seems like it's caused by jupyter since it may cache the sessions?
I've tried it in terminal and the processes are gabage collected just fine.

[2018-12-04 19:57] azai91 commented on #13524
@juliusshufan can you build this with cmake?
[code]

[2018-12-04 21:09] zhreshold commented on #13521
@YutingZhang Okay, I found the problem is present on linux but not mac.
As discussed offline, it's better to secure the terminate manually, I will file a PR regarding this.

[2018-12-04 21:38] zhaoyao73 opened #13538 "website document bug"
https://mxnet.incubator.apache.org/architecture/overview.html#using-simpleop-on-envarguments

"
To enable kwargs, use set_enable_kwargs(bool enable_kwargs) in registration. Then, in forward functions and gradients, additional arguments are contained in env.kwarg, **_which is defined as std::vector std::string> >_**. Use the DMLC parameter structure to simplify parsing keyword arguments. For more d

[2018-12-04 22:18] Vikas89 commented on #13526
@Davdi What is your host file looking like?

[2018-12-04 22:55] samskalicky commented on #13438
@larroy Env may not be shared across processes, but the same libc is being called into from different processes. And the problem is when one process/thread is in setenv and the other one is in getenv at the same time. So its more about the single libc being shared than the actual Env vars.

[2018-12-04 22:57] azai91 commented on #13524
Reverting. https://github.com/apache/incubator-mxnet/pull/13540

[2018-12-04 23:31] #12401 closed

[2018-12-04 23:41] lupesko commented on #13515
@Vikas89 there are different ways to implement and train an LSTM-based language model on PTB dataset. Can you please share the training script?

[2018-12-05 00:00] cjolivier01 commented on #12255
if you fork and then try to use OMP in thenforked process and are using libgomp, the process will hang because libgomp does not support forking.

[2018-12-05 00:32] lanking520 commented on #13538
Hi @zhaoyao73, thanks for pointing out the C API rendering issues! Do you know how we can fix them? It would be great if you are willing to contribute to them.
http://mxnet.incubator.apache.org/community/contribute.html

@leleamol could you please take a look.

[2018-12-05 00:33] lanking520 commented on #13528
In fact, all Scala code are generated to `.class` file when we build the jar and I think it is JVM code. In that case, `java -cp` is consider as a super class of `scala -cp`. What do you think?

[2018-12-05 00:43] YutingZhang commented on #13521
@zhreshold Great. Thanks!
FYI, I test it on Mac. It also cause problems. Maybe caused by the anaconda version of python?

[2018-12-05 01:01] Vikas89 commented on #12255
There is huge number of threads getting created in operator-tune-inl.h that causes huge cpu load, threads take long time to determine whether they should use openmp for operator or not.
This problem gets worse with machines with more cores.
And multiplies with more processes.
As an experiment if I change the omp parallelism to thread count 1, and launch 32 processes it just take 6 seconds to load.

[2018-12-05 01:04] pengzhao-intel commented on #13515
@Vikas89 please share how to reproduce the issue?
I can't reproduce in local. Do you change the example recently? What kind of machine is using?
Data： deeplearning-benchmark/word_language_model/get_ptb_data.sh
CMD:   python word_language_model/lstm_bucketing.py --num-hidden 650 --num-embed 650 --epochs 30
Repo: https://github.com/mseth10/deeplearning-benchmark
CI:
commit 15da80293ce953ef796503bfb2

[2018-12-05 01:07] Vikas89 commented on #12255
This is the code in https://github.com/apache/incubator-mxnet/blob/master/src/operator/operator_tune-inl.h#L359
[code]
If there are 36 cores, total threads will be 2+3+4+...18 = 170 threads
if there are 32 mxnet python processes = 170*32 = 5440 threads launched to determine tuning. Then there is resource conetention + omp_badness .
We would need to reduce the num of threads to determine tuning, ma

[2018-12-05 01:52] Vikas89 commented on #13526
@Davdi <https://github.com/Davdi> your make instruction should use
USE_DIST_KVSTORE=1
I guess you probably did it, else you would have got different error.
Other thing is, Try using IP address of hosts in Hostfile rather than
hostnames.

On Tuesday, December 4, 2018, Lanking <notifications@github.com> wrote:

--
Sent from iPhone

[2018-12-05 01:54] Davdi commented on #13526
hosts file is this

192.168.113.223:10004

[2018-12-05 01:58] Davdi commented on #13526
the env is 1 ps and 1 worker and should i follow the instruction on all the 2 container ?

[2018-12-05 02:34] zhaoyao73 commented on #13538
HI Ianking520,

the overview.md file from github repo is correct but the html version is not right(website's page is not correct), so I am not sure how you guys generated the html file for that website. that is the bug from. If it is md file bug I would have already send the PR already. :)

[2018-12-05 03:49] ChaiBapchya commented on #13504
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fedge/detail/PR-13541/2/pipeline

Yet again.

[2018-12-05 03:58] sernaton commented on #8438
correction: the workaround did work after some tweaking, An example:
[code]
Plus making sure NOT to call force_reinit when initializing, otherwise it will overwrite your set_data.
This is quite an ugly workaround - it comes also with a warning when running :)

[2018-12-05 06:32] anirudhacharya commented on #8079
If this is still up for a vote and if we are going to put an animal face on the logo like a mascot, then I think it should be a dragon.

![image](https://user-images.githubusercontent.com/2778341/49494370-4e360e80-f814-11e8-828e-9b7f90764c41.png)

[2018-12-05 06:54] Vikas89 commented on #13526
Are you running in containers?
You said "the env is 1 ps and 1 worker and should i follow the instruction on all the 2 container ?"
but host file only has one entry, shouldn't it be 2 entries!

Can you try these steps -
1) Make sure that there is no python process running on any of the host.
2)  Make sure that for all the entries in host file, you can ssh to those host from master node(the node wh

[2018-12-05 06:58] Vikas89 commented on #13515
@mseth10  please share the test training script and steps to run and instance type(I think its c5.18x but please confirm) with Patric

[2018-12-05 09:02] Davdi commented on #13526
I run the command on the container .but not aws ,
4)echo $env  it shows nothing
5) cat hosts
192.168.113.223:10004 this is ip of the worker container
6)   ssh -i application_1543732416493_0027 -p 10004 root@192.168.113.223 and it is successfully
application_1543732416493_0027  is the primary key

`root@ecbf58635533:/userhome/incubator-mxnet/example/gluon# ps -efl | grep python
0 S root        236

[2018-12-05 09:19] Joke09 commented on #7899
For inference, I have the same problem. The client send jpg to server, then the server use cv2 to do resize. When put the image data into the mx.nd.array, it's very slow. And the Utilization of GPU is low too. How to solve it? Thank you!

[2018-12-05 09:41] jlcontreras commented on #11064
Seems to still happen:

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/master/45/pipeline

[2018-12-05 09:56] Joke09 opened #13545 "For inference, I have the same problem. The client send jpg to server, then the server use cv2 to do resize. When put the image data into the mx.nd.array, it's very slow. And the Utilization of GPU is low too. How to solve it? Thank you!"
_Originally posted by @Joke09 in https://github.com/apache/incubator-mxnet/issues/7899#issuecomment-444415247_

[2018-12-05 13:01] juliusshufan commented on #13524
@azai91 Thanks for prompt fix, the compilation is okay now. I close the issue accordingly.

[2018-12-05 13:01] #13524 closed

[2018-12-05 16:19] relaxli00 commented on #13482
+1, yes, this is a function needed badly

[2018-12-05 16:47] kohr-h opened #13548 "[Feature Request / Proposal] Pixel shuffle layer"
Upsampling based on pixel shuffling has been proposed in the paper [Real-Time Single Image and Video Super-Resolution Using an Efficient Sub-Pixel Convolutional Neural Network (2016)](https://arxiv.org/abs/1609.05158). The complete method combines a convolution layer, the pixel shuffle operation and a specific initialization to get rid of block artifacts. For the initialization details, see [Check

[2018-12-05 16:57] lebeg commented on #11707
@perdasilva https://github.com/apache/incubator-mxnet/pull/12477 wasn't merged, so it should stay open.

[2018-12-05 17:34] piyushghai commented on #13545
Hi @Joke09 ,

When you put your image data into the NDArray, can you also try to copy it to GPU using ```as_in_context``` method before passing it to your model ?

http://mxnet.incubator.apache.org/test/api/python/ndarray.html#mxnet.ndarray.NDArray.as_in_context

[2018-12-05 17:34] lanking520 commented on #13545
Hi @Joke09 thanks for your question. I think you might miss this: https://mxnet.incubator.apache.org/api/python/image/image.html please take a look

[2018-12-05 17:41] lanking520 commented on #13548
Hi @kohr-h please feel free to raise a PR to contribute to this operator/example in Python.
@szha @zhreshold WDYT?

[2018-12-05 18:19] larroy commented on #12255
@cjolivier01 Would running with MXNET_USE_OPERATOR_TUNING=0 mitigate this issue?

[2018-12-05 18:31] samskalicky commented on #13438
Heres the relevant code from the version of libc (2.17) that was being used in the failure:
getenv.c: https://pastebin.com/gj4XZgdE
setenv.c: https://pastebin.com/NuTfDdDp

It looks like the issue is the __environ variable being iterated over in lines 15, 32, 55. This variable is defined in setenv.c:

[code]

So there is this nasty global pointer to the environment. While setenv has a lock around

[2018-12-05 18:38] lanking520 commented on #13538
Interesting, @aaronmarkham again if you know something about `.md` and Html compatibility issue

[2018-12-05 18:45] larroy commented on #13438
We should not use locking in the handlers in pthread_atfork, is a bad idea, in terms of lock contention and performance. We should find a solution using good architecture to pass the number of threads in the engine. threads get a data pointer where you can put configuration or pass any other data at creation time.

[2018-12-05 18:54] larroy commented on #13504
True, sorry about this we need to add a retry or bail out if this happens.

[2018-12-05 18:56] zhreshold commented on #11064
Maybe we should take another look, however, the log won't show the detailed error anymore?

[2018-12-05 18:57] zhreshold commented on #13548
If it can be achieved simply using combination of `reshape`s, we can put it in mxnet.gluon.nn.contrib module

[2018-12-05 18:58] Vikas89 commented on #13515
@pengzhao-intel Manu has started the training script to verify.

I think there was a bug introduced in our bench-marking set up, which was concluding results after 5 epochs. We fixed our benchmark setup and graphs seems to back to normal. We will observe for few more runs and close this.
Thanks guys for jumping. This is all looking really good.

[2018-12-05 19:01] zhreshold commented on #8438
@sernaton You can have a constant param by get_constant: https://mxnet.incubator.apache.org/api/python/gluon/gluon.html?highlight=get_constant#mxnet.gluon.ParameterDict.get_constant

[code]
This is way more elegant than what you are doing right now.

[2018-12-05 20:03] larroy commented on #13528
While I think is ok to provide a fat jar for people trying MXNet in the console as you point out, we should provide a standard version with just MXNet and the binary dynamic libraries inside, without standard scala library or other dependencies that can be pulled from maven.

Some of the comments I got from other engineers when I explained this issue were: "Definitely not. Maven artifacts should n

[2018-12-05 20:40] larroy commented on #13528
That's why maven / SBT etc. have the concept of transitive dependencies:

https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Transitive_Dependencies

slf4j and scala language should not be in the package. Only libmxnet.so/jnilib Dependencies from the MXNet backend and libmxnet.so/jnilib Dependencies from the MXNet backend.

What you describe is considered a bad

[2018-12-05 20:42] #13504 closed

[2018-12-05 21:01] kohr-h commented on #13548
True, it's just reshaping in the end, although not entirely trivial to make work as hybrid block. Regarding placement, `gluon.nn.contrib` looks okay to me, given that the core collection of layers seems to be rather slim.

[2018-12-05 21:39] #13521 closed

[2018-12-05 21:45] aaronmarkham opened #13552 "can't restart CI website test"
## Description
This pipeline test failed because it couldn't reach github.
Not only is this a transient issue that we should probably have at least one or two retries for, I can't seem to restart this job.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/PR-13544/2/pipeline
It looks like I have to run the whole thing through CI again. Does that mea

[2018-12-05 22:03] Vikas89 commented on #13526
As I see there are 3 different issues here:
[code]
1) Host file -
if you say -n 2, there will be 2 worker and 2 server. If you have only one line with host and port, all of the processes will try to launch on same port.
So work around is same as what I suggested earlier. Please use only host and let mxnet chose port.
If you want chose port yourself, find 4 different ports which are not used and us

[2018-12-06 01:43] Joke09 commented on #13545
Thank you! It works, But not much.
Before:
    data = [mx.nd.array(im_arrays), mx.nd.array(im_infos)]
The shape of im_arrays is [8,3,896,1024]. It take 104ms.
After:
    data = [mx.nd.array(im_arrays, ctx=mx.gpu(1)), mx.nd.array(im_infos)]
It take 68ms. I think it's not fast enough.

[2018-12-06 02:18] Joke09 commented on #13545
I think it works, when the image is in the disk. But image data is numpy array in this problem.
Sorry, I don't know how to use the image api for numpy array.

[2018-12-06 02:34] tranvanhoa533 commented on #12001
@kaleidoscopical  Which version of mxnet did you use ? I use mxnet version 1.3.1 but It still runs into a fail of asnumpy().

[2018-12-06 02:39] Davdi commented on #13526
ok thanks ,i modify the hosts file  and the content is this

ps-0
worker-0
worker-1

this is ip of ps and worker ,
and under the folder /root/.ssh/config
`Host ps-0
  HostName 192.168.113.227
  Port 10015
  User root
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  IdentityFile /root/.ssh/application_1544059068811_0001
Host worker-0
  HostName 192.168.113.227
  Port 10016
  User root

[2018-12-06 02:58] pengzhao-intel commented on #13515
Good to know the problem is fixed :)

Feel free to ping me if anything needs our help.

[2018-12-06 04:08] anirudh2290 commented on #13438
The problem as provided in the article linked in this issue and related article here: https://rachelbythebay.com/w/2017/01/30/env/ is that if the main thread spawns another thread, which calls setenv and while we call setenv the process is forked, the mutex is currently in locked state in the child process and it will never be unlocked since there is no thread to release the lock which causes it t

[2018-12-06 08:05] sernaton commented on #8438
Thanks zhreshold, indeed I ended up using a constant for my use case. Much more elegant indeed, and it works too :).

Nevertheless still stands that it is currently not possible to initialize a "hybridized" parameter with a ndarray. I think this issue should stay open.

[2018-12-06 08:07] Davdi opened #13560 "distributed trainig , build from soure code ?"
is it necessary  to build from source code for distributed traing on muti-machine ?
 in default the make/config.mk USE_DIST_KVSTORE = 1
if i install mxnet through pip install mxnet-cu92 ,is this value of USE_DIST_KVSTORE  1?

[2018-12-06 08:52] TaoLv commented on #13451
I‘m working on this issue. Actually, `50*1000*1000` doesn't exceed the range of int32. This case works well with `use_bias=False` on my side.

[2018-12-06 08:54] TaoLv commented on #13560
Hi @Davdi , please refer the compilation flag table in https://github.com/apache/incubator-mxnet/issues/8671 for detailed configurations.

[2018-12-06 09:02] #13560 closed

[2018-12-06 09:52] YutingZhang commented on #13521
@zhreshold Confirmed this as a python bug: https://bugs.python.org/issue34172

[2018-12-06 10:16] #13526 closed

[2018-12-06 13:12] MyraBaba opened #13561 "What will be theRecommended & tested Edge Device"
We would love to use Mxnet in our edge devices.

What will be the recommended & tested devices for the inference ?  model size around 150MB  and 1 sec around is ok for inference time.

Raspbery pi ? Hikey 970 ? Odroid Xu4 . or intels mini pcs?

is there any experience ?

thx

[2018-12-06 13:46] GoGoGoWarriors commented on #13482
+1

[2018-12-06 17:06] gigasquid commented on #13441
Thanks @hellonico !

[2018-12-06 17:06] #13441 closed

[2018-12-06 17:54] samskalicky commented on #12255
Hi @larroy , setting that env var does seem to avoid the issue. Heres the testing with and without it:

$ python parallel_test.py
@@@@@@@@@@@@@@@@@@@@@@@@@@@@
9.53674316406e-07
[]
@@@@@@@@@@@@@@@@@@@@@@@@@@@@
3.71833109856
[3.710209846496582]
@@@@@@@@@@@@@@@@@@@@@@@@@@@@
2.17086696625
[2.157684087753296, 2.163522958755493]
@@@@@@@@@@@@@@@@@@@@@@@@@@@@
46.48721385
[46.32008194923401, 46.41156101226

[2018-12-06 18:09] Vikas89 commented on #13515
@azai91 please close this issue. benchmark is back to normal.

[2018-12-06 18:11] Vikas89 commented on #13526
@Davdi hope your issue was solved.

[2018-12-06 18:18] anirudh2290 commented on #13470
unable to reproduce, will take a look again, mxnet may not be freeing up gpu memory after oom errors which could cause subsequent ooms.

[2018-12-06 18:59] zhreshold commented on #13521
@YutingZhang Good to know, thanks

[2018-12-06 19:08] asmeurer opened #13563 "moveaxis doesn't support negative indices"
The moveaxis method doesn't support negative indices. Something like

[code]

should fix it. It also doesn't support lists of indices like NumPy.

[2018-12-06 19:09] lanking520 commented on #13552
I am also facing this issue last time.

[2018-12-06 19:20] lanking520 commented on #13561
Hi @MyraBaba thanks for your question!
@larroy @lebeg Any thoughts for Edge Device?

[2018-12-06 20:13] MyraBaba commented on #13561
We would love to tranfer our platform to the Mxnet if we found a reasonable edge devices both pysical size and the cost (around 400 - 500 usd).

And inference time should be max 1-2 sec.

What jetson kit did you tested ?  TX1 or TX2 . and what would be the benchmarks (specially face deetction & recognition)

[2018-12-06 22:17] lanking520 commented on #13563
Hi @asmeurer thanks for your issue,
asked someone to take a look here: @apeforest @samskalicky

[2018-12-06 22:19] anirudh2290 commented on #13438
@larroy Can you elaborate more on the singleton solution . For example even if its a singleton its still possible that we may fork during setenv call inside a thread and run across the same issue. Removing env variables and changing it to config would be a breaking change. I dont think we can do it before 2.0.
Maybe we should understand more on the customer application and customer issue and come

[2018-12-06 23:16] hdjsjyl commented on #13482
+1

[2018-12-07 01:07] #13370 closed

[2018-12-07 03:49] ChaiBapchya opened #13569 "Asymmetric Padding support in MXNet"
### Problem

Refer PR #12594 that supports MaxPool 1D with "same" padding

Feature request was about "Asymmetric padding"
Currently, MXNet supports Symmetric padding
e.g.

### Why isn't Asymmetric padding supported by CUDnn, MXNet?

Due to misalignment of input-output if padding happens only on one side (left or right alone).
It is called as "Causal Convolution" (only one side pad)

### Current wo

[2018-12-07 03:51] ChaiBapchya commented on #13569
@mxnet-label-bot add [Operator, Feature request]

[2018-12-07 04:47] shuokay commented on #13545
convert numpy.array to raw binary and then `image.decode`

[2018-12-07 05:09] GYZHikari commented on #3032
Hey guys @leoxiaobin@piiswrong, I met the same problem using mxnet1.3.1, CUDNNv5.1.
I set fix_gamma=True for training, use multi-gpu and kvstore='local'. While training, the gamma changes all the time. However, when I test use the same code, the results look good.

[2018-12-07 05:10] GYZHikari commented on #3032
Hey guys @leoxiaobin @piiswrong, I met the same problem using mxnet1.3.1, CUDNNv5.1.
I set fix_gamma=True for training, use multi-gpu and kvstore='local'. While training, the gamma changes all the time. However, when I test use the same code, the results look good.

[2018-12-07 06:40] Lebron8997 opened #13570 "[Feature Request] Support ONNX export of Deconvolution operator"
Currently, MXNet->ONNX model export does not support the MXNet operator:

- **Deconvolution**

The following code (adapted from https://github.com/NVIDIA/mxnet_to_onnx/blob/master/mx2onnx_converter/mx2onnx_converter_functions.py) may be inserted in  [mxnet-ROOT]/python/mxnet/contrib/onnx/mx2onnx/_op_translations.py

@mx_op.register("Deconvolution")
def convert_deconvolution(node, **kwargs):
    ""

[2018-12-07 06:41] Joke09 commented on #13545
Thank you very much!
Can you give me some code example?
I use like this:
[code]
But it's fail.

  File "test.py", line 12, in <module>
    image = mx.img.imdecode(im)
  File "/data/usr/incubator-mxnet/python/mxnet/image/image.py", line 142, in imdecode
    return _internal._cvimdecode(buf, *args, **kwargs)
  File "<string>", line 36, in _cvimdecode
  File "/data/usr/incubator-mxnet/python/mxnet/_c

[2018-12-07 07:49] #13446 closed

[2018-12-07 08:19] Davdi commented on #13526
thanks ! the reason of this error is that ip's port of the hosts is not default 22 .  so when excute the command ,it shows this error ,
so when the ip's port of host file is not 22 ,example 1000,so what should i set the parameter of the lanch.py .thanks!

[2018-12-07 08:42] Joke09 commented on #13545
I have this code:
[code]
im_arrays is a numpy array and read from cv2. im_arrays.shape is [8,3,896,1024]
Can someone help me speed up this code with image api. I'm not familiar with Mxnet.

[2018-12-07 09:45] larroy commented on #13410
Can this be closed?

[2018-12-07 09:46] larroy commented on #13410
Should be fixed by https://github.com/apache/incubator-mxnet/commit/f6f840110d74111f98c20eab5b08d64a46ebf0cd

[2018-12-07 09:47] larroy commented on #13410
@nswamy @anirudh2290 I suggest closing for now.

[2018-12-07 10:08] lebeg commented on #13561
Yes, I suggest [Jetson TX2 Developer Kit](https://developer.nvidia.com/embedded/buy/jetson-tx2) or RaspberryPi. These are supported and tested on. Potentially, you could use an Android as well, but that's tested no so well.

[2018-12-07 10:15] larroy commented on #13561
You can use any ARMv7 or ARMv8 board with Linux depending on your needs. I tested in other arm boards such as bananapipro and Tx2 is ARMv8. If you want to be fast as @lebeg recommended try jetson with GPU. If you use intel mini PC with GPU it's no difference from any other intel based CPU. Intel mini PC with a low end nvidia  1050 or smaller if your model fits would be the safest / easyest in ther

[2018-12-07 10:19] MyraBaba commented on #13561
Jetson TX2 and the intel mini (really mini :) seems to better fits our edge devices. As far as I googled all mini pc's (intel) not smaller as we expected.  Still looking to find a small intel based (4core min) HW.

Best & Thx

[2018-12-07 10:27] Deephome opened #13572 "How to use ndarray.contrib.DeformableConvolution ?"
I define a module performing deformable convolution as follows, but I do not know how to save the parameters (self.weight, self.bias) of this module using "net.save_parameters()"

class DeformConv2D(nn.Block):
	def __init__(self,in_channel,num_filter,kernel=(5,5),pad=(2,2),stride=(1,1)):
		super(DeformConv2D, self).__init__()
		self.in_channel = in_channel
		self.num_filter = num_filter
		self.ker

[2018-12-07 11:30] larroy commented on #13561
@anirudh2290 let's close

[2018-12-07 11:53] larroy commented on #12453
Can we close this for now?

[2018-12-07 12:44] pengzhao-intel commented on #13516
@azai91 we need more validation with the real workload since the int8 network is not too much in the hand.

[2018-12-07 14:56] lebeg commented on #12203
During testing we found another failure seed:
[code]

[2018-12-07 15:36] larroy opened #13577 "test_executor.test_dot flaky"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-13339/2/pipeline

[code]

[2018-12-07 16:07] larroy opened #13578 "[CMake] Make install / ninja install failing [dmlc-core]"
## Description
install target fails:

[code]

## Reproduction

Build with CMake, do make install

[code]

# Environment
Ubuntu 16.04

@lebeg

[2018-12-07 16:13] larroy commented on #13578
We should test install target in CI.

[2018-12-07 17:05] lebeg commented on #12203
But it seems that even with fixed seeds the test fails not deterministically.

[2018-12-07 17:50] paoloviviani commented on #8335
This is really weird, as in my case windows is 4 times faster than windows for Training on CPU a Fully connected network.
The training time is exactly the same regardless using or not MKL-DNN and jemalloc. BLAS is openblas.
This is true for versions 1.2.0 and 1.3.1

[2018-12-07 17:52] gigasquid opened #13580 "[Clojure] - Add Clojure to the main README"
Clojure is not mentioned in the main project README as a supported language.

This issue would be to add it in the text:
`Support for Python, R, Scala, C++ and Julia`

Bonus if it can be added to the language binding image too. We do have permission to use the Clojure logo in this scenario.

<img width="957" alt="missing_clojure" src="https://user-images.githubusercontent.com/340299/49664092-d7209

[2018-12-07 17:55] larroy commented on #13580
@kpmurali do we have the original source for that file?

[2018-12-07 18:09] Jerryzcn opened #13581 "Inplace Reshape?"
https://github.com/apache/incubator-mxnet/blob/49e6a7e40691936e533f7cf16848b10c025e4e75/src/operator/tensor/matrix_op.cc#L176

https://github.com/apache/incubator-mxnet/blob/ebe6ea8be97506dba7d00b5a25da58433e38caae/src/operator/tensor/elemwise_unary_op.h#L281

Currently reshape seems to copy the source tensor, which slows down various application. e.g. Gluon-CV.

There is a inplace_reshape here:
h

[2018-12-07 18:47] lanking520 commented on #13545
Hi @Joke09 instead of trying to use cv2 to read, you should use this:
https://mxnet.incubator.apache.org/api/python/image/image.html#mxnet.image.imread
Which convert an image into NDArray directly

[2018-12-07 18:48] lupesko commented on #9381
@sergeykolychev thanks for the explanation. Would be great if you can follow up with the static seed to ensure the test is not flaky. Thanks!

[2018-12-07 18:49] lanking520 commented on #13570
@Lebron8997 Thanks for your issue reporting. @Roshrini here to help you out.

[2018-12-07 18:49] lupesko commented on #10141
@pengzhao-intel  what's the next step?

[2018-12-07 18:50] Roshrini commented on #11305
@piyushghai This is for the enhancement of the exisiting feature which got merged.

[2018-12-07 18:51] lupesko commented on #10724
@pengzhao-intel can someone from Intel take a look into this issue? Thanks!

[2018-12-07 18:55] Roshrini commented on #13570
@Lebron8997 This feature is already in PR #12399

[2018-12-07 18:56] Roshrini commented on #13570
@lanking520 Duplicate issue: https://github.com/apache/incubator-mxnet/issues/12807
Feel free to close one.

[2018-12-07 18:59] #13570 closed

[2018-12-07 19:00] #13561 closed

[2018-12-07 19:20] lupesko commented on #13316
@zhaoyao73 is the issue fixed now that the PR was merged?
If so - please close the issue, otherwise please elaborate.
Thanks!

[2018-12-07 20:04] lanking520 commented on #13572
Hi @Deephome I think this is a question and please ask it here: https://discuss.mxnet.io/ there will be somebody to help you out.
@ThomasDelteil @thomelane

[2018-12-07 20:07] lanking520 commented on #13580
@aaronmarkham If you would like to have a new image to replace the portable section

[2018-12-07 20:08] lanking520 commented on #13581
@apeforest

[2018-12-07 20:55] piyushghai commented on #11305
Thanks @Roshrini

[2018-12-07 22:01] #10194 closed

[2018-12-07 22:34] marcoabreu commented on #13578
Well you are building inside the container and trying to install outside of it. The dependency clojure and your environment could mismatch there.

[2018-12-07 22:35] marcoabreu commented on #13569
I think we had this request due to onnx and it got implemented somewhere

@nswamy (don't have roshanis handle memorized)

[2018-12-08 00:53] zachgk opened #13584 "Flaky Test test_random.test_poisson_generator failed CI"
test_random.test_poisson_generator failed the CI at http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-cpu/detail/PR-13364/7/pipeline on unrelated PR https://github.com/apache/incubator-mxnet/pull/13364.

See output below:

[code]

[2018-12-08 00:53] zachgk commented on #13584
@mxnet-label-bot add [Test, Flaky, Python]

[2018-12-08 01:06] #13037 closed

[2018-12-08 01:19] Joke09 commented on #13545
Hi @lanking520 , the client use cv2 to read and send the image data to the server. I can't control it.
I don't really want to write the image data to disk.

Another question:
the shape of `data` in `mx.io.DataBatch` must be [8,3,896,1024]. The `im_infos.shape` is (8, 3). They are both used for proposal in image detection. But image.imread and image.imdecode just get only one NDArray and the shape

[2018-12-08 01:48] larroy commented on #13578
This is all local no containers where harmed

[2018-12-08 01:50] marcoabreu commented on #13578
Isn't "dev menu build" run inside the container?

[2018-12-08 01:58] Deephome commented on #13572
@lanking520 Thank you for your advice! I will have a try.

[2018-12-08 02:39] pengzhao-intel commented on #10141
@szha @lupesko will look it next week. sorry I forgot this issue.

[2018-12-08 03:13] lanking520 commented on #13545
The first dim is the batch size which seemed you should set 8 images as a batch to feed them in. You can use `nd.expand_dim` to expand one more dimension on the image and use `concat` to concatenate images together.

[2018-12-08 03:14] #13572 closed

[2018-12-08 03:37] pengzhao-intel commented on #10724
@ThomasDelteil  is the issue still in there? We can't reproduce the original issue.

[2018-12-08 03:45] kohillyang commented on #13482
+1

[2018-12-08 04:21] #13481 closed

[2018-12-08 06:57] chinakook commented on #8335
@paoloviviani the MNist dataset is too small to benchmark. The bottleneck will be io.

[2018-12-08 08:04] anirudhacharya opened #13585 "Exponential Moving Average/Polyak Averaging in MXNet"
How can I implement Polyak averaging of as part of my network, in the wavenet model - https://arxiv.org/abs/1711.10433

I am not sure it can be implemented as an optimizer, it is more like a post-processing step on the weights after the optimizer update.

Tensorflow has it here - https://www.tensorflow.org/api_docs/python/tf/train/ExponentialMovingAverage

[2018-12-08 08:06] anirudhacharya commented on #13585
@mxnet-label-bot add [Feature Request, Question, Optimizer]

[2018-12-08 10:07] hatinder opened #13586 "ubuntu 18.04 R-package"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-12-08 11:19] jiangzhengkai opened #13587 "ImportError: cannot import name CachedOp"
Hi, I meet this error after i successfully compile mxnet. The detail output information is as following:

![image](https://user-images.githubusercontent.com/19780166/49685433-2a2d4280-fb1e-11e8-9e12-3d3dd5cb02f8.png)

Anyone help me?

Thanks

[2018-12-08 14:07] larroy commented on #13578
no, that one is local. I run it also manually with ninja and make. the issue is legit.

[2018-12-08 14:17] zheng-da commented on #13451
@TaoLv a matrix of 50*1000*1000 rows and 100 columns has 5B elements. It exceeds the range of int32.

[2018-12-08 14:41] TaoLv commented on #13451
Yes, but I think that should be covered by MKL-DNN. If not, it's absolutely a bug. I'm working with MKL-DNN team to root cause this issue. Will update to you if any progress. Thanks.

[2018-12-08 14:52] marcoabreu commented on #13587
Could you double check you are running on the latest version of mxnet? It seems like you are trying to use an installed 0.10.0 in combination with some of the latest code.

[2018-12-08 15:31] marcoabreu commented on #13587
CachedOp has only been introduced recently, so it seems like you did not check it out properly.

Any specific reason you are using 0.10? It's quite old and it's difficult for us to provide support for that. The latest version is 1.3.1 FYI

[2018-12-08 23:41] jeremiedb opened #13589 "Can't build R-package from master since #13062"
Commit #13062 by adding the symbolic links to dmlc and nnvm seems the cause of the error in building the R-package.
Thwe code in cause in the Makefile for rpkg are:

[code]

If removing the above lines, the build of the R-package still fails. Seems like the symbollic like isn't resolved properly by the process (not too sure about this later part).

Shouldn't a build test have captured this issue?

[2018-12-08 23:55] jeremiedb commented on #13586
`Makefile:176: "USE_LAPACK disabled because libraries were not found"`
Had you installed a blas and lapack libraries? : `sudo apt-get install -y libopenblas-dev liblapack-dev`

Are you using R version >= 3.4.4? You can look at https://mxnet.apache.org/install/index.html?platform=Linux&language=R&processor=CPU for further details.

Please note that there seems that have a recent bug that should be

[2018-12-09 01:43] #13316 closed

[2018-12-09 06:41] lanking520 commented on #13589
Hi @jeremiedb , not sure how R build so I tagged someone who knows better than me. I think we do have R build procedure and it is here:
https://github.com/apache/incubator-mxnet/blob/master/ci/docker/runtime_functions.sh#L789-L802
However, I do not see R building procedure in the CI which I think this is a problem.
@anirudhacharya

[2018-12-09 06:46] lanking520 commented on #13587
In this case, as @marcoabreu suggested, please use the latest package from pip or build from source from an official release branch.

[2018-12-09 13:20] jiangzhengkai commented on #13587
@marcoabreu @lanking520 Thanks, the error disappears on the latest mxnet.

[2018-12-09 13:25] sbodenstein opened #13592 "Transpose with MXNET_BACKWARD_DO_MIRROR throws exception"
Consider the following (using MXNet release version 1.3.1 on OSX):
[code]
returns an array. However:
[code]
throws an exception:
[code]
It may be related to issue #8048.

[2018-12-09 15:53] marcoabreu commented on #13587
Great to hear! Could you elaborate what lead you to using 0.10? That way, we can avoid further users running into the same problem

[2018-12-09 15:55] #13587 closed

[2018-12-09 23:51] YutingZhang opened #13593 "Low CPU usage of MXNet in subprocesses"
MXNet has low CPU usage when running CPU operations in multiple process scenarios. Specifically, for MXNet computation in a subprocess, MxNet can use only 1 or 2 CPUs to do its job. This issue shows different behavior for different variants of MxNet (see below) and on different machines ...

This issue is critical because it slows down the multiprocess object-detection data-loading in gluoncv very

[2018-12-10 00:04] anirudhacharya commented on #12932
FYI - https://github.com/amzn/MXFusion

[2018-12-10 02:03] seujung opened #13594 "Autograd error when using custom parameters"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-12-10 02:08] pengzhao-intel commented on #13593
@TaoLv to help look at this issue

[2018-12-10 02:14] eric-haibin-lin commented on #12932
@asmushetzel these are awesome stuff. Really look forward to see the contribution back in the future. Do you have some distribution like https://www.tensorflow.org/api_docs/python/tf/initializers/truncated_normal ?

[2018-12-10 02:44] pengzhao-intel commented on #10141
Can't reproduce this case w/ or w/o the fixed seed.
@marcoabreu Could you open this test and let us see if the issue happen again?

[patric@mlt-gpu203 incubator-mxnet]$ nosetests --verbose tests/python/gpu/test_operator_gpu.py:test_convolution_options
/home/patric/.local/lib/python2.7/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to

[2018-12-10 02:59] pengzhao-intel commented on #10724
@ThomasDelteil can't reproduce the issue with the latest master.
Did you see the error recently?

[2018-12-10 04:51] lanking520 commented on #13593
@YutingZhang Thanks for your issue reporting! @anirudh2290 @apeforest @azai91 @samskalicky please take a look in here.

[2018-12-10 04:57] lanking520 commented on #13594
@seujung, thanks for your issue. @hetong007 @zhreshold @stu1130 could you please take a look here?

[2018-12-10 05:07] eric-haibin-lin opened #13598 "More fine-grained operator implementation dispatch & memory planning flow"
## Existing Execution Flow
[code]
### The drawback of the existing flow
- the selection of MKL/CPU/GPU/CUDNN implementation happens after graph attribute inference and memory planning, **memory planning is thus not aware of the implementation that will be used for execution in the future, which may result in sub-optimal result**. For example, the memory inplace option may vary depending on the acc

[2018-12-10 05:08] lanking520 commented on #13592
@sbodenstein thanks for reporting this issue. I can reproduce it on `v1.3.1`. Could you please explain more on the reason you set this [flag](https://mxnet.incubator.apache.org/faq/env_var.html#memonger)?  @anirudh2290 @apeforest

[2018-12-10 05:15] pengzhao-intel commented on #13598
Great, the new proposal will resolve several issues we encountered during the developments for MKL-DNN backend.
We will have some internal discussions firstl and give you back for more details 👍
@TaoLv @ZhennanQin

[2018-12-10 07:36] TaoLv commented on #13593
Hi @YutingZhang, please try:
1. set OMP_NUM_THREADS manually. For this test case, I tried `OMP_NUM_THREADS=#core/#worker`;
2. remove the two SetEnv form https://github.com/apache/incubator-mxnet/blob/master/src/initialize.cc#L61-L62.

Please let me know if it works for you. Thanks.

[2018-12-10 08:14] zhreshold commented on #13594
@seujung  read/write parameters using `.data()` and `set_data()` in computation graph, i.e. in `forward` or `hybrid_forward`  is not allowed becaue it will cause autograd not successfully recording the gradients.

You can use parameters directly in forward, gluon will automatically prepare them for you.

Correct forward function is:
[code]

[2018-12-10 08:55] asmushetzel commented on #12932
We are talking with MXFusion people. They don't have the PDFs mentioned in here coded and are not planning to do so.
Concerning truncated_normal above, I think this request is primarily about a sampler (though we should provide PDF/PMF for all samplers that we support in MXNet anyway). Building such a sampler should be small work when put into the framework of the already existing ones (normal, un

[2018-12-10 09:09] paoloviviani commented on #8335
@chinakook In my case is not MNIST, the iterator is made of an std::vector of NDArrays, which is already loaded in memory. But I see your point, I might look elsewhere for a bottleneck.

[2018-12-10 10:33] pengzhao-intel commented on #13581
@zhennanqin has looked into this OP and tried inplace optimization previously :)
Maybe he can give some inputs

[2018-12-10 10:39] lebeg commented on #12453
Seems it failing still from time to time, right?

[2018-12-10 11:53] hatinder commented on #13586
Hi ,
Thanks for getting back to me. here is my R.Version() output.

$platform
[1] "x86_64-pc-linux-gnu"

$arch
[1] "x86_64"

$os
[1] "linux-gnu"

$system
[1] "x86_64, linux-gnu"

$status
[1] ""

$major
[1] "3"

$minor
[1] "5.1"

$year
[1] "2018"

$month
[1] "07"

$day
[1] "02"

$`svn rev`
[1] "74947"

$language
[1] "R"

$version.string
[1] "R version 3.5.1 (2018-07-02)"

$nickname
[1] "Feather Spr

[2018-12-10 12:09] wkcn commented on #11064
Maybe there is some difference between C++ implementation and Python implementation. I will test and fix it.

[2018-12-10 15:32] harshp8l commented on #13163
@mxnet-label-bot add [ci]

[2018-12-10 15:33] harshp8l commented on #13163
blahblahblah
@mxnet-label-bot add [ci]

[2018-12-10 15:33] harshp8l commented on #13163
blahblahblah
@mxnet-label-bot add[ci]

[2018-12-10 16:14] zhaoyao73 commented on #13598
agreed. It is a good idea but looks like a hack.

[2018-12-10 18:12] apeforest commented on #13563
@mxnet-label-bot Add [Operator]

[2018-12-10 19:05] zachgk opened #13600 "Flaky test test_softmin failed CI"
test_operator.test_softmin failed the CI at http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-13364/8/pipeline on stage "Python 3: MKLDNN-GPU Win" on unrelated PR #13364.

See output below:
[code]

[2018-12-10 19:05] zachgk commented on #13600
@mxnet-label-bot add [Test, Flaky, Python]

[2018-12-10 19:17] samskalicky commented on #13593
Related issue: https://github.com/apache/incubator-mxnet/issues/12255

[2018-12-10 19:32] zhreshold commented on #13593
The limitation of 1 thread per worker is deliberately set to avoid thread contention.

Per offline discussion, I think a good solution is to use a ENV variable to control the limit of threads per worker can use (which defaults to 1 now).

[2018-12-10 19:34] kalyc commented on #9396
@lanking520 @aaronmarkham requesting to close this issue due to lack of activity

[2018-12-10 19:35] kalyc commented on #9874
@lanking520 requesting to close this issue due to lack of activity

[2018-12-10 19:50] lanking520 commented on #9874
@Caenorst Please feel free to reopen this issue if you are still facing this failure. Close it for now.

[2018-12-10 19:50] #9874 closed

[2018-12-10 19:52] lanking520 commented on #9396
@DickJC123 @nicklhy looks like this has been stale for a while. Please test it over again and feel free to reopen this issue if you are still facing the failure. Close for now.

[2018-12-10 19:59] anirudh2290 commented on #13593
@zhreshold this would also require rebuild with modified `initialize.cc`, otherwise the env variable would get overwritten.

[2018-12-10 20:01] zhreshold commented on #13593
@anirudh2290 Yes, I mean a PR is required to address this issue.

[2018-12-10 20:09] sbodenstein commented on #13592
@lanking520: we wanted to offer Mathematica users a memory-efficient training option for very large models. And ran into this during testing.

[2018-12-10 20:17] eric-haibin-lin commented on #11283
@chi-hung I think the sumSquare op resides in @zhanghang1989 's fork. @zhanghang1989 could you confirm?

[2018-12-10 23:50] kalyc commented on #8573
@lanking520 requesting to close due to lack of activity

[2018-12-10 23:50] kalyc commented on #8091
@lanking520 requesting to close due to lack of activity

[2018-12-10 23:51] kalyc commented on #9814
@lanking520 requesting to close due to lack of activity

[2018-12-11 00:11] harshp8l opened #13605 "cuda"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-12-11 00:19] #13605 closed

[2018-12-11 03:02] wkcn commented on #11064
When MXNET_TEST_SEED=35650200, the error shows that:
[code]

It's strange.

[2018-12-11 03:18] haibo-qiu opened #13608 "symbol._internal._plus ?"
I have read the lstmcell code in mxnet. However, I have a question.

The following code is the part of lstmcell:

next_c = symbol._internal._plus(forget_gate * states[1], in_gate * in_transform,
name=’%sstate’%name)
next_h = symbol._internal._mul(out_gate, symbol.Activation(next_c, act_type=“tanh”),
name=’%sout’%name)

I want to know the detail of “symbol._internal._plus” and the difference betwee

[2018-12-11 03:33] bryanlinnan opened #13610 "arm compile error with ndk android-toolchain"
## Description
compile error occured when i tried to use android-toolchain to compile mxnet/amalgamation

## Environment info (Required)
ubuntu16.04  mxnet1.4 android-ndk-r14b/13b/16b

What to do:
1. generate android-toolchain
cd  ~/android-ndk-r14b/build/tools
./make-standalone-toolchain.sh --platform=android-21 --use-llvm --arch=arm --install-dir=~/Tool/android-toolchain

2. compile OpenBLAS
git

[2018-12-11 04:01] ZhennanQin commented on #13581
Hi Jerryzcn, thanks for raising this. `Reshape` has `FInplaceOption` and `FInplaceIdentity` attrs, which means its input and output are force inlined.
https://github.com/apache/incubator-mxnet/blob/49e6a7e40691936e533f7cf16848b10c025e4e75/src/operator/tensor/matrix_op.cc#L177

For the copy you mentioned, current implementation will do copy even when input and output are in-placed. Probably you can

[2018-12-11 04:32] lanking520 commented on #9814
@Ishitori Please feel free to reopen it if you are still facing the problem. Close it for now.

[2018-12-11 04:32] #9814 closed

[2018-12-11 04:57] hellonico commented on #13384
IMHO, if the Clojure examples are based on the scala examples, it would be nice to have them in the examples folder.

Then, just like the other examples, we can just add the  few extra bits necessary to make then run as tests in the integration suite.

[2018-12-11 04:58] roywei commented on #8438
https://github.com/apache/incubator-mxnet/pull/12678#issuecomment-424966436 may have fixed it, will verify

[2018-12-11 05:06] lanking520 commented on #8573
@eLvErDe Please feel free to reopen this if you are still facing the issue. Close it for now.

[2018-12-11 05:06] #8573 closed

[2018-12-11 05:07] lanking520 commented on #8091
Close it for now. Please feel free to reopen it if you are still facing the issue.

[2018-12-11 05:07] #8091 closed

[2018-12-11 06:31] jiangzhengkai commented on #13587
@marcoabreu I'm running DFF code from MSRA, they suggest to use this version mxnet.

[2018-12-11 06:34] marcoabreu commented on #13587
Interesting, do you have a link on hand by any chance?

[2018-12-11 08:56] haibo-qiu opened #13613 "add weighted softmax loss"
Hello, My dataset is imbalanced, which means the number of positive class is much less than that of negative class. I want to make the positive loss has weight. I know that I can repeat sample the positive loss, but I want to add weight. How can make it?
Thanks so much.

[2018-12-11 09:51] vdantu commented on #13613
@mxnet-label-bot add [question]

[2018-12-11 09:52] vdantu commented on #13608
@mxnet-label-bot  add [question]

[2018-12-11 09:54] vdantu commented on #13610
@mxnet-label-bot add [build, question]

[2018-12-11 12:32] Mut1nyJD commented on #13548
Nice I was just looking for this

[2018-12-11 12:37] morsinai77 commented on #6313
Had the same problem, "Cannot open include file: 'mxnet-cpp/op.h".
I fixed it by edit output_file_name = "cpp-package/include/mxnet-cpp/op.h",  in OpWrapperGenerator.py file.

[2018-12-11 17:35] access2rohit commented on #10455
@majia-yu  Hi, could you share how did you solve the issue ?

[2018-12-11 18:02] fighting-liu commented on #12142
@Faldict @KellenSunderland
I encounter similar problems with yours, i just pull mxnet/tensorrt from official docker hub. But it crashes with i run

`import mxnet as mx`
`a = mx.nd.ones((2, 3), mx.gpu())`

Following is the error message

`mxnet mxnet_op.h:622: Check failed: (err) == (cudaSuccess) Name: mxnet_generic_kernel ErrStr:no kernel image is available for execution on the device`

[2018-12-11 18:06] harshp8l commented on #13163
@mxnet-label-bot  add[ci]

[2018-12-11 18:07] piyushghai commented on #13163
@mxnet-label-bot     remove[CI]

[2018-12-11 19:32] Mut1nyJD commented on #13548
Hmm but somehow I'll get strange result I replaced all my Conv2DTranspose layers with a Conv2D(channels= 2 * 2 * num_channel(*)) and then PixelShuffle2D((2,2))
I took the code from your PR but I'll get pretty horrible results.

(*) num_channels = equal the number of channels that used to be in Conv2DTranspose

[2018-12-11 19:52] eric-haibin-lin opened #13616 "SymbolBlock doesn't print anything"
When I print a symbolblock loaded from a json file, printing it doesn't help me at all:

[code]
It does not show anything useful to help me understand what is in the block, even for symbols exported from `nn.Dense(1)`

[2018-12-11 20:04] mseth10 commented on #12203
This flaky test issue has previously been identified (https://github.com/apache/incubator-mxnet/issues/8712) and fixed (https://github.com/apache/incubator-mxnet/pull/10365) for Python2: MKLDNN-CPU. During this fix (PR discussion), it was identified that this problem still exists for Python2: MKLDNN-GPU.

PR https://github.com/apache/incubator-mxnet/pull/10578 supposedly fixed the issue, but as it

[2018-12-11 20:08] eric-haibin-lin commented on #13598
@marcoabreu thanks for the comments. True that the existing infer_storage interface and the proposed infer_storage_ex interface both need to write backend specific logics. What kind of abstraction would you like to see? Let's say each backend provides one implementation which only concerns that backend itself. Now how does MXNet provide a general guide to select/prioritize these implementations if

[2018-12-11 20:39] marcoabreu commented on #13598
Thanks for your very good questions!

For the operator selection I would think about a design which has something similar to a "tuning" or warm-up stage which evaluates the different possibilities. Initially, since that revamp would be quite big and experimental, I would hardcode an order (e.g. CUDA->AMD->MKLDNN->CPU) which is then evaluated and certain backends dropped if they don't support that

[2018-12-11 21:22] mseth10 commented on #12203
Reproduction steps (from https://cwiki.apache.org/confluence/display/MXNET/Reproducing+test+results):

Spin up a p3.8x large instance, with Ubuntu base DLAMI, with at least 150GB EBS storage

Cloning and building MXNet:
- git clone --recursive https://github.com/apache/incubator-mxnet.git
- cd incubator-mxnet
- pip3 install -r ci/requirements.txt
- ci/build.py --platform ubuntu_build_cuda /work/ru

[2018-12-11 22:19] marcoabreu commented on #13598
Just had a small chat with Haibin. So just to clarify, my idea would be rather long-term to avoid having all the preprocessor directivesin the FInferStorageTypeEx and similar places.

Within the above design, FInferStorageTypeEx would be part of the abstract operator interface which each backend would implement. The memory layout manager would then invoke that function in the same fashion as descr

[2018-12-11 23:03] Vikas89 commented on #13438
@anirudh2290 good one!
I think this is problem in general. For this particular case we can try to use fork handlers:
pthread_at_fork(prepare, parent, child)

in prepare method, we should try to set bogus env variable, which will unlock the lock and then child will get that lock in unlocked state.
Something like dmlc::setEnv("Bogus", "Bogus") here: https://github.com/apache/incubator-mxnet/blob/mas

[2018-12-12 01:41] ifeherva commented on #3118
I implemented this as custom operator currently, however I think this would be of interest to others. Would it make sense to implement it in Cpp as a standard or contrib operator? If yes I can PR it.

[2018-12-12 03:29] jiangzhengkai opened #13623 "This convolution is not supported by cudnn"
Hi, i'm using 1.5.0 version mxnet. The log **"This** convolution is not supported by cudnn" is really
uncomfortable. How to supress the **warning.**
I also try this, howerev, it does not help.
![image](https://user-images.githubusercontent.com/19780166/49845119-6a334480-fe00-11e8-9689-b39804f51581.png)

CUDA version is 8.0.

Hers is cuddn version
![image](https://user-images.githubusercontent.com/

[2018-12-12 03:32] jiangzhengkai commented on #13623
Hi, i'm using 1.5.0 version mxnet. The log "This convolution is not supported by cudnn" is really
uncomfortable. How to supress the warning.
I also try this, however, it does not help.
![image](https://user-images.githubusercontent.com/19780166/49845378-71a71d80-fe01-11e8-8869-af9c97cd55a2.png)

CUDA version is 8.0.

Hers is cuddn version
![image](https://user-images.githubusercontent.com/19780166

[2018-12-12 06:31] chinakook commented on #8335
Thx, I will try later.

[2018-12-12 07:31] MyYaYa commented on #13001
Yeah, if ndarray supports cumsum operation, some custom metrics(i.e. mAP) will benefit from that.

[2018-12-12 08:07] HermanLiu1 commented on #13482
+1

[2018-12-12 08:38] anirudh2290 commented on #13438
Thanks for the suggestion @Vikas89 . I think with your suggested change, it may be less likely to be encountered, but it is possible that mutex is in locked state in child process, if the thread calls setenv after the prepare step and before fork.

[2018-12-12 08:38] jiangzhengkai commented on #13623
After using cuda-9.2, the warning dispears. thanks

[2018-12-12 10:48] pengzhao-intel commented on #13598
Regarding memory planning, there are different requirements from GPU and CPU.
Looks like the GPU wants to support both NCHW and NHWC, but CPU with MKL-DNN prefer the padded memory (GPU still needs this in some cases).

@eric-haibin-lin do you mind elaborate the possible change of "memory planning"?  How the new change cover the diversity of memory requirement from the different backend?

We're ope

[2018-12-12 10:48] vuvko commented on #13613
You can look at several implementations. For example: https://stackoverflow.com/a/48874517 https://github.com/apache/incubator-mxnet/blob/v1.0.0/example/sparse/weighted_softmax_ce.py

[2018-12-12 13:34] Jerryzcn commented on #13581
@ZhennanQin I think the inplace version does not work actually properly, I have tried
```F.reshape(x, (shape), out=x)``` and it did not work..

[2018-12-12 14:03] potetisensei commented on #13578
I just encountered the same problem.

Seems the below symbolic link points to a relative path, and the installation works well when we change it into the absolute path?(I'm not confident)

[code]

By the way, I don't want the header files and library files to be under my home directory because I'm likely to accidentally erase them....

[2018-12-12 16:33] harshp8l commented on #13163
@mxnet-label-bot       remove[CI]

[2018-12-12 16:45] vdantu commented on #13616
@mxnet-label-bot add [Gluon, question]

[2018-12-12 16:49] vdantu commented on #13623
@mxnet-label-bot add [cuda, operator, question]

@jiangzhengkai : Could you provide a minimum reproducible code and the version of MXNet you are using? Going by some previous questions asked, it seems like an issue with mismatching cuda/cudnn versions. Could that be the case in your scenario as well?

[2018-12-12 17:44] vdantu commented on #13613
@vuvko : Thanks for the reply.

@haibo-qiu : Would the above examples help you?

[2018-12-12 18:58] Vikas89 commented on #13438
If there is only 2 places that too after fork where we setEnv(initialize.cc), why are we setting env ? Can we just keep these values in memory or in some file tied to this mxnet processID ?

[2018-12-12 22:49] access2rohit commented on #10455
@majia-yu were you able to solve this issue ? If so could you share your solution ?

[2018-12-13 00:56] vdantu commented on #13223
@gjtjx : Could you please provide the build command you used? Also, could you provide the output you see. And if you have already fixed it, could you provide what was missing either in the documentation or the steps you followed?

[2018-12-13 01:53] vdantu commented on #13613
@mxnet-label-bot add [pending-requester-info]

[2018-12-13 02:20] LvJC commented on #9993
But I have already installed mkl in anaconda and I cmake in anaconda. Why this error again?

[2018-12-13 06:51] liuzhenhui opened #13633 "My data on cpu() but my net weight on gpu. how to deal with this problem?"
I use mxnet to train an small net and train the model by gloun,but i got an error :
exp:
mxnet.base.MXNetError: [01:26:33] src/imperative/cached_op.cc:351: Check failed: inputs[i]->ctx() == default_ctx (gpu(0) vs. cpu(0)) CachedOp requires all inputs to live on the same context. But data is on cpu(0) while conv0_weight is on gpu(0)

The data is in  the cpu  but the weight what i trained  is on the

[2018-12-13 07:08] MyYaYa commented on #13001
`step = lambda data, state : (data + state[0], state[0] + data)
data = mx.nd.ones((10, 10))
state = mx.nd.zeros(10)
outs, state = mx.nd.contrib.foreach(step, data, state)`

I find a elegant method to implement cumsum. Hope this will be useful.

[2018-12-13 07:09] marekjg opened #13634 "Slow CPU inference in Gluon GRU module"
## Description
Gluon.GRU is slow on the CPU comparing to ndarray.RNN GRU for the same input.

## Environment info
Deep Learning AMI 19, Tesla V100
[code]

## Minimum reproducible example
[code]

## Steps to reproduce
Run the above script with python

## Output
Gluon.GRU is significantly slower than ndarray.RNN
device,method,time:
cpu(0) ndarray 0.07194805145263672
cpu(0) gluon 4.735473394393921
gp

[2018-12-13 07:09] MyYaYa commented on #13001
I find a elegant method to implement cumsum. Hope this will be useful.

`
step = lambda data, state : (data + state[0], state[0] + data)
data = mx.nd.ones((10, 10))
state = mx.nd.zeros(10)
outs, state = mx.nd.contrib.foreach(step, data, state)
`

[2018-12-13 07:14] MyYaYa commented on #13001
I find a elegant method to implement cumsum. Hope this will be useful.
[code]

[2018-12-13 07:44] pengzhao-intel commented on #13634
@ciyongch could you help take a look for GRU inference?
Did the fused GRU used?

[2018-12-13 07:50] TaoLv commented on #13634
I think Gluon GRU is calling unfused RNN cells which contain stacked fully connected and activation operators. But ndarray.RNN is calling a fused implementation. So for me the performance is as expectation.
@marekjg Have you ever compared the result of two implementation?

[2018-12-13 08:01] ZhennanQin commented on #13598
@eric-haibin-lin  Thanks for proposing this. We like this change as it can benefit MKLDNN subgraph and memory planing as well. Here's only one small comment:
`attrs.exec_func = CovolutionComputeImplCUDNN;`
Can we have different labels for different backends to make backend information more generic. Then we can read this label and make different upon it.

[2018-12-13 08:05] pengzhao-intel commented on #13634
Next step, @marekjg if you can build with USE_BLAS=mkl, the performance will boost a lot.

[2018-12-13 08:11] pengzhao-intel commented on #13634
@szha is it possible to apply fused RNN into Gluon?

[2018-12-13 08:17] marekjg commented on #13634
Thanks for fast response. @TaoLv yes, they're the same but I've removed the comparison and loading step of the parameters for the sake of brevity. @pengzhao-intel I've installed mxnet-cu92mkl and there was already boost in preformance in compare to mxnet-cu92 which I've installed by mistake earlier. Not sure if it helps but I've checked this script in 1.3, 1.4 (when it was @ master) and 1.5 now.

[2018-12-13 08:30] ciyongch commented on #13634
@marekjg please build MXNet from source with the the option USE_BLAS=mkl, since currently mxnet-mkl package is built with USE_BLAS=openblas by default. Please correct me if this is behavior is changed @TaoLv

[2018-12-13 08:52] TaoLv commented on #13634
@ciyongch Thank you for correcting me. Yes, `rnn.GRU` is also calling fused RNN implementation and can be hybridized now.

Yes, pip packages are built with openblas.

[2018-12-13 10:23] tsuberim commented on #13001
@MyYaYa Cool, is that also differentiable?

[2018-12-13 11:34] hustzxd commented on #9842
Thanks a lot, I solved the problem by specifying the in_channels argument for Conv2D, but waiting for a more efficient solution.

[2018-12-13 13:39] juliusshufan opened #13636 "Build from source is broken on USE_MKLDNN=1"
## Description
Build from source currently does not work on mxnet repo on github.
Seems the build is okay with commit afb670353c0355c85dfae5573c8461370b03af2e
@azai91 @anirudh2290

## Environment info (Required)
GCC 4.8.5 CentOS 7.5.1804
[code]
Package used (Python/R/Scala/Julia): Python 3.6
(I'm using ...)

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio): G

[2018-12-13 15:49] harshp8l commented on #13163
@mxnet-label-bot replace[question, ci]

[2018-12-13 15:52] harshp8l commented on #13163
@mxnet-label-bot replace [Test, CI]

[2018-12-13 15:57] harshp8l commented on #13163
@mxnet-label-bot replace [Test, CI]

[2018-12-13 15:57] harshp8l commented on #13163
@mxnet-label-bot replace[CI, Test]

[2018-12-13 18:03] anirudh2290 commented on #13636
Thanks for reporting @juliusshufan . This test fails only on centos 7.5 and not ubuntu ? MKL build has been added to CI as part of: https://github.com/apache/incubator-mxnet/pull/13607/ .
Do we need to add a centos stage too ? @xinyu-intel @pengzhao-intel

[2018-12-13 18:45] safrooze commented on #13633
You can call [`copyto(mx.gpu(0))`](https://mxnet.apache.org/api/python/ndarray/ndarray.html?highlight=copyto#mxnet.ndarray.NDArray.copyto) to copy your data to GPU. Also in the future for questions like this, best place to ask them would be https://discuss.mxnet.io/

[2018-12-13 19:34] samskalicky commented on #13438
I was able to run the user's test script and reproduce in GDB. Looks like its failing when calling getenv("MXNET_EXEC_BULK_EXEC_INFERENCE"). This only seems to happen here:

https://github.com/apache/incubator-mxnet/blob/5a83b6b563211f430688e41eab4752c6de4ecf22/src/executor/graph_executor.cc#L1194

This matches the original stack trace where we found it failing in GraphExecutor::InitOpSegs

[2018-12-13 19:44] szha commented on #13634
gluon.rnn.GRU supports unrolling of samples with different lengths in the same batch, which is not yet supported in the fused kernel interface. cudnn supports that so for GPU implementation we'd need the integration. CPU version is yet to be implemented.

[2018-12-13 22:32] Serge1985 opened #13639 "CMake configuration for USE_CPP_PACKAGE creates incorrect VS 2017 projects"
### Description
VS2017 projects generated by cmake with USE_CPP_PACKAGE option fail to build. I had to do a number of modifications to the projects in order to get them to build - ideally it should be incorporated in cmake files.

### Environment info (Required)

C:\Users\schernet>python C:\Users\schernet\source\MXNet\diagnose.py
----------Python Info----------
Version      : 3.6.6
Compiler     :

[2018-12-13 23:31] vdantu commented on #13633
@mxnet-label-bot add [gluon, question]

[2018-12-13 23:36] vdantu commented on #13634
@mxnet-label-bot add [Gluon, performance, question]

[2018-12-13 23:39] vdantu commented on #13636
@mxnet-label-bot add [build, breaking]

[2018-12-13 23:46] azai91 commented on #13636
@Vikas89 @mseth10

[2018-12-13 23:49] safrooze opened #13640 "Add documentation to MultiBoxTarget"
## Description
`MultiBoxTarget` contrib operator is poorly documented and is practically impossible to read the API doc and know how to use it. Someone who's an expert in using this API must improve the docstring.

[2018-12-13 23:49] safrooze commented on #13640
@zhreshold

[2018-12-13 23:56] vdantu commented on #13639
@mxnet-label-bot add [build, question]

[2018-12-13 23:58] vdantu commented on #13640
@mxnet-label-bot add [Unclear error/docs]

[2018-12-14 00:12] xinyu-intel commented on #13636
@anirudh2290 I think this is due to the ci system install mklml in /usr/lib before building mxnet with mkldnn. I'll open a PR to disable it.

[2018-12-14 01:09] KellenSunderland commented on #12142
FYI build is quite close to what's in CI under the ci/docker/runtime_function.sh file.  Hope it helps.

[2018-12-14 02:53] Davdi opened #13644 "aws distributed training struck !"
i use the command
python  /home/ec2-user/incubator-mxnet/tools/launch.py -n 1 -s 1  -H hosts --sync-dst-dir /home/ec2-user/incubator-mxnet/ "source activate mxnet_p36 && python image_classification.py --model vgg11 --gpus 0 --kvstore dist_sync"

and it stuck ,the info is this

018-12-14 02:33:36,036 INFO rsync /home/ec2-user/incubator-mxnet/example/gluon/ -> 172.31.38.3:/home/ec2-user/incubator-mx

[2018-12-14 03:08] MyYaYa commented on #13001
@tsuberim yeah, as I know, the symbol api in MXNet support auto-differentiation, so you can try the mx.sym.contrib.foreach(), maybe that will work for you.
here is the [link](https://mxnet.incubator.apache.org/api/python/symbol/contrib.html?highlight=foreach#mxnet.symbol.contrib.foreach)

[2018-12-14 05:43] jeremiedb commented on #13586
There has been some changes in the makefile since mxnet 1.3.0, maybe that's the root cause.
Could you try to build from the current master (v 1.5.0?) and provide the actual sequence of commands used? I'm puzzled as I just did build the R library on Ubuntu this week from master and it went well except for this small fix #13590 for which a PR is pending.

[2018-12-14 05:43] juliusshufan commented on #13636
thanks all, this issue now fixed, issue closed accordingly.

[2018-12-14 05:43] #13636 closed

[2018-12-14 06:34] vdantu commented on #13644
@mxnet-label-bot add [question]

[2018-12-14 10:10] lebeg commented on #11100
Sure, the more documentation the better!

[2018-12-14 15:31] giordyb opened #13649 "error in the train_minst.py image classification example"
## Description
when running the gpu training validation example listed in https://mxnet.apache.org/install/validate_mxnet.html

`python example/image-classification/train_mnist.py --network lenet --gpus 0`

the script throws an error about mx.lr_scheduler.MultiFactorScheduler() not having the argument 'base_lr'

this is the complete error

`INFO:root:start with arguments Namespace(add_stn=False, b

[2018-12-14 16:16] kaleidoscopical opened #13650 "speed drop when set `multi_precision=True`"
A large speed drop is observed when set `multi_precision=True` in `mx.mod.Module`, while not in `gluon.Trainer`. Has anyone run into a similar situation? Any suggestion?

[2018-12-14 16:44] vdantu commented on #13650
@kaleidoscopical : Could you share the results you found? Also, it would be great if you share some minimum reproducible script so that anyone in the community could verify quickly and get back. This also seems like a very good topic for discuss.mxnet.io . You might catch the interest of wider audience there.

@mxnet-label-bot  add [question]

[2018-12-14 16:46] harshp8l opened #13651 "[test] How do I install the R package ?"

[2018-12-14 16:47] #13651 closed

[2018-12-14 17:07] kaleidoscopical commented on #13650
The script I have tried is simplified and posted below. I think the only required modification is to change `path_imgrec` and `path_imgidx` before running. Performance is dropped from ~800img/sec to ~650img/sec when training with 4 1080Ti

[code]

[2018-12-14 17:14] harshp8l opened #13652 "One question about batch norm code test"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-12-14 17:39] kalyc commented on #13649
Thanks for reporting @giordyb
I had filed a similar issue earlier - https://github.com/apache/incubator-mxnet/issues/13211
Please follow steps mentioned in the above issue and let us know if this still persists.

[2018-12-14 17:44] harshp8l commented on #13652
@mxnet-label-bot add [question]

[2018-12-14 18:07] kaleidoscopical commented on #13650
UPDATE:
I find the current bottleneck is the update on kvstore using `_update_params_on_kvstore`. It doubles the time when setting `multi_precisison=True`.

When using `_update_params` (which requires to pass `kvstore=None` in `mod.fit`), the speed drop is gone.

[2018-12-14 18:11] Jerryzcn commented on #13581
@ZhennanQin It complains that shape mismatch.
Actually I found something in my previous code that have caused a bug that lead me to think that reshape occupied extra memory. However that is not the case. I will close the issue for now.

[2018-12-14 18:11] #13581 closed

[2018-12-14 18:57] kaleidoscopical commented on #13650
I found the difference is the default choice of `kvstore`.

`gluon.Trainer` chooses `device`, while `mx.mod.Module` sets it to `local`.

Problem is solved by passing `kvstore='device'` when calling `mod.fit()`.

btw, I am still confused why there is a difference when setting `multi_precision=True`.

[2018-12-14 19:06] soldni commented on #13001
Thanks @MyYaYa for the solution! I've repackaged it in a generic cumsum method [here](https://gist.github.com/soldni/b5867b7b4d85084ff4d21fa329b4204c) while waiting for official support.

[2018-12-14 19:12] vdantu commented on #13649
@mxnet-label-bot add [Question, pending-requester-info]

[2018-12-14 19:43] YutingZhang commented on #13593
Thanks everyone for discussing and solving the issue!

[2018-12-14 19:54] soldni commented on #13001
Thank you @MyYaYa for the solution! I've wrapped it up into a generic `consum` function [here](https://gist.github.com/soldni/b5867b7b4d85084ff4d21fa329b4204c) while we wait for official support in future versions.

[2018-12-15 00:43] mseth10 commented on #13636
@xinyu-intel @juliusshufan Do we have a PR adding CentOS MKL to the CI? Can you please share the status and let us know if you need any help on that. It's a blocker for us to get the static linking feature pushed.

[2018-12-15 03:42] vdantu commented on #13520
@bobpoekert : Could you please provide us more information about the setup and minimum reproducible script?

[2018-12-15 03:47] vdantu commented on #7973
@junxigauss : Would you be able to share the solution? As mentioned above, this could be very useful for others as well.

[2018-12-15 08:13] kaleidoscopical commented on #6644
the issue still exists

[2018-12-15 08:40] kaleidoscopical commented on #12001
@tranvanhoa533 which error message it shows?

Hi @zhanghang1989 !
I think it still has a problem when training with multiple precision, leading to

`mxnet.base.MXNetError: [17:38:53] include/mxnet/././tensor_blob.h:236: Check failed: mshadow::DataType<DType>::kFlag == type_flag_ TBlob.get_with_shape: data type do not match specified type.Expected: 2 v.s. given 0`

[2018-12-15 12:37] hatinder commented on #13586
Phew! Finally I manage to get the package built on my virtualbox, still need to get this to my laptop( build crashes on the laptop or probably memory is not enough).  I did it from the current master cant find tag 1.5.0 , dont know if its internal for you. Anyway here are the steps I took to get this working.

**
cd incubator-mxnet
mkdir build
mkdir build/Release
cmake -DUSE_CUDA=0 -DUSE_OPENCV=1

[2018-12-15 13:08] TaoLv commented on #13636
@mseth10 Why need have CentOS MKL in CI? I think @juliusshufan just shared his environment information as the issue template required. It doesn't necessarily mean that the issue only happens on CentOS and MKL BLAS.

[2018-12-15 21:31] apeforest commented on #13569
@Roshrini Do you know if this feature already exists for onnx?

[2018-12-15 21:57] apeforest commented on #12705
@mxnet-label-bot Add [Call for contributions, Good for first time]

[2018-12-15 22:00] apeforest commented on #13455
@mxnet-label-bot Add [Call for Contribution, Good First Time]

[2018-12-15 22:02] apeforest commented on #13098
@mxnet-label-bot [Call for Contribution, Good First Issue]

[2018-12-15 22:02] apeforest commented on #13078
@mxnet-label-bot [Call for Contribution, Good First Issue]

[2018-12-15 22:42] eric-haibin-lin opened #13656 "Data loader for Video data"
CV on video is a emergent research area for deep learning. It will be great to have MXNet integrated with NVIDIA Video Loader https://github.com/NVIDIA/nvvl

[2018-12-16 08:16] #13586 closed

[2018-12-16 13:14] giordyb commented on #13649
Hi,

I was able to get it to work by checking out the v1.3.x release

[2018-12-16 17:43] jermainewang opened #13658 "Converting MX array to DLPack crashes when MX array goes out-of-scope"
## Description
Converting MX NDArray to DLPack, then to other framework's DLPack-compatible NDArray causes memory corruption when the origin MX NDArray goes out-of-scope.

## Environment info (Required)

[code]
Package used (Python/R/Scala/Julia): Python

## Error Message:
[code]

## Minimum reproducible example
[code]
Torch version v1.0.0

## Steps to reproduce
(Paste the commands you ran that pr

[2018-12-16 18:43] Mut1nyJD commented on #13548
@kohr-h

Btw you might want to have look at the example/gluon/Superpixel it looks to me there someone wrote already a PixelShuffle OP in there. I have not tried it yet to see if it works correctly though.

[2018-12-16 21:41] ianferreira commented on #13114
+1
pooled_storage_manager.h:119: cudaMalloc failed: unknown error

mxnet-cu90==1.3.0
nvcc --version

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2017 NVIDIA Corporation
Built on Fri_Sep__1_21:08:32_Central_Daylight_Time_2017
Cuda compilation tools, release 9.0, V9.0.176

[2018-12-16 23:37] larroy commented on #13578
Who creates this link in the first place?

[2018-12-17 02:37] #13440 closed

[2018-12-17 03:29] ascust opened #13660 "A question about the mechanism of autograd"
I am wondering how autograd works when I call backward twice.
For example, I have a network and a loss and I do:
[code]
Since I did backward twice, does the second one overrides the first one in terms of the gradients? And actually we just update the network based on the second backward? If this is true, how do I accumulate the gradients and call "step()" to update the network altogether?

[2018-12-17 06:44] zheng-da commented on #13658
@tqchen @wkcn could you please take a look at this problem? Thanks

[2018-12-17 08:01] YXLCN commented on #7146
I got this error too, could u tell me how to fix it?

[2018-12-17 08:11] wkcn commented on #13658
@tqchen said, DLPack allow strides field to be `nullptr`, for mxnet do do not need to store strides, as we only support compact tensor for now.

However, PyTorch doesn't accept the DLPack whose strides is `nullptr`.

[2018-12-17 08:24] ChaiBapchya opened #13661 "Inconsistencies in Gluon Model Zoo API"
Currently, if I were to use Gluon Model Zoo and use any model for eg DenseNet, I face 2 issues regarding APIs
a. Lack of clarity about differences in the APIs (Titlecase vs lowercase)
E.g.
`mxnet.gluon.model_zoo.vision.AlexNet(classes=1000, **kwargs)`
and
`mxnet.gluon.model_zoo.vision.alexnet(pretrained=False, ctx=cpu(0), root='/home/jenkins_slave/.mxnet/models', **kwargs)`

b. Even if that were c

[2018-12-17 10:56] isyecaroline opened #13664 "Dj"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-12-17 15:07] larroy commented on #9015
I have fixed this in https://github.com/apache/incubator-mxnet/pull/13409

[2018-12-17 15:46] jermainewang commented on #13658
@wkcn This explains the torch case thank you. In DGL, we actually handled this:
https://github.com/dmlc/dgl/blob/632d598c77af616278bc0f2144a14958678dcbae/src/runtime/ndarray.cc#L83-L89
In DGL, we also only support contiguous tensor, so `stride_` is never used elsewhere. The NDArray class is borrowed from TVM project. I wonder whether this bug happens in TVM too.

[2018-12-17 15:49] wkcn commented on #13658
@zheng-da `mx.nd.from_dlpack` can accept the DLPack whose `strides` is `nullptr`.
Could you please try the [MXNet PR](https://github.com/apache/incubator-mxnet/pull/13663) which fills the strides of DLPack?

[2018-12-17 15:51] wkcn commented on #13658
@jermainewang Let me test it for TVM.

[2018-12-17 17:10] mseth10 commented on #12203
@juliusshufan ping

[2018-12-17 18:13] mseth10 commented on #13636
@TaoLv The build issue on CentOS MKL occurred when we tried to statically link MKL-DNN https://github.com/apache/incubator-mxnet/pull/13503, which passed all the MKL CI tests on Ubuntu. We reverted this static linking PR https://github.com/apache/incubator-mxnet/pull/13540 temporarily, but would like to merge it back. Having MKL on CI for other OS would help us identify such build issues before me

[2018-12-17 18:21] Roshrini commented on #13569
@apeforest No this feature does not exist yet. We use the work around mentioned by Chaintanya (Using pad op with pooling)

[2018-12-17 18:42] zhanghang1989 commented on #12001
SyncBN does not support fp16 training yet.

[2018-12-17 18:57] aaronmarkham commented on #13664
No info provided. Closing for now. Feel free to update the description and reopen.

[2018-12-17 18:57] #13664 closed

[2018-12-17 20:30] DickJC123 commented on #13598
Again, one goal of this is to not tie all operator implementations together.  It's hard for one committer to have the knowledge and energy to modify and create tests for all implementations.  Now, trying for the simplest solution, suppose we just segment the cpu implementations from the gpu ones?  Right now, this is already done with FCompute.  The corresponding new code might be:
[code]

Alternat

[2018-12-17 21:33] samskalicky commented on #13438
So far, we've been able to verify that compiling mxnet without openmp does not trigger the segfault. This validates that the problem is between one thread in mxnet running openmp and another thread in mxnet calling getenv.

Thus the current workaround (to avoid the segfault) is to recompile mxnet without openmp. This will cause performance degredation for any operators that used to run using openm

[2018-12-17 21:40] samskalicky commented on #13438
@Vikas89 and @anirudh2290 have discussed a couple of options for implementing a permanent solution:

1. Moving all get/setenv calls to the beginning of mxnet initialization, before any openmp or any other dependent library is initialized. This would clearly prevent the problem by moving the getenv to before openmp runs. But then this may cause a breaking change with how developers are using mxnet

[2018-12-18 00:44] xinyu-intel commented on #13636
@mseth10 It's okay to add MKL env to CentOS if you really want but, as I said before, last time #13503 passed all the MKL CI tests on Ubuntu was caused by a pre-installed `libmklml_intel.so` in `usr/lib`. So, please kindly wait #13643 to fix the CI ENV and then you can go ahead to enable static linking.

[2018-12-18 02:59] ivyvideo commented on #4224
@espectre I have this problem too, have you solved it?

[2018-12-18 03:07] zzw1123 commented on #4224
@espectre I have this problem too, so have you solved it?

[2018-12-18 03:35] jermainewang commented on #13658
@wkcn , try following steps:

1. Use a ubuntu 16.04 image.
2. Create file `t.py` with following codes:
[code]
3. Run it with `for i in {0..100}; do echo $i && python3 t.py || break ; done`

I used a ubuntu docker image and could reproduce the error.

[2018-12-18 05:19] andrewfayres commented on #13660
@ascust This also seems like a very good topic for discuss.mxnet.io . You might catch the interest of wider audience there.

@mxnet-label-bot add [question, Autograd]

[2018-12-18 06:37] HaoLiuHust commented on #4872
@jmschrei Could you share about how you solve this?

[2018-12-18 06:40] HaoLiuHust opened #13670 "How to train a model with huge classes"
for example, I am training a face recognition model with millions ids, beside use tripletloss, I would like to use softmax-based losses such as arcloss, amsoftmax and so on. However, with such huge classes, gpu meomery will be insufficient, is there a way that I can train a model like this? Maybe split the softmax layer on multi gpus would be work, I wonder whether mxnet support this. Or can I put

[2018-12-18 07:17] eric-haibin-lin commented on #13372
@zerolxf is it ok to close the issue?

[2018-12-18 07:18] Soonhwan-Kwon opened #13671 "Error when set export MXNET_SUBGRAPH_BACKEND=MKLDNN"
## Description
I tried to use the newly added Graph Optimization in MKDNN backend: Graph optimization and Quantization (experimental), but it makes error which is fine without  set export MXNET_SUBGRAPH_BACKEND=MKLDNN.

## Environment info (Required)
----------Python Info----------
('Version      :', '2.7.15')
('Compiler     :', 'GCC 7.2.0')
('Build        :', ('default', 'May  1 2018 23:32:55'))

[2018-12-18 07:34] reminisce commented on #13671
You need to set `grad_req=null` in `simple_bind` so that only forward graph is constructed.

[2018-12-18 07:36] Soonhwan-Kwon commented on #13671
thank you for the fast feed back, I'll try thank you

[2018-12-18 07:38] pengzhao-intel commented on #13671
This feature is only for the inference.

https://github.com/apache/incubator-mxnet/blob/master/MKLDNN_README.md#6

Maybe we need to improve the error message to avoid the confusion :)

[2018-12-18 07:52] pengzhao-intel commented on #13671
@ZhennanQin @xinyu-intel please help take a look and see if we can improve the error message. Thanks.

[2018-12-18 07:58] Soonhwan-Kwon commented on #13671
@reminisce  Thank you for the right answer, I loaded using is_train=True in somewhere in code, then predict with is_train=False. So it made the problem.
And I agree with @pengzhao-intel, it needs improvement in the error message.
Thank you for the quick and kind feed back @reminisce,@pengzhao-intel!

[2018-12-18 08:01] #13671 closed

[2018-12-18 08:38] anirudh2290 commented on #13598
This is a good proposal for separator of operator implementations for different accelerators.
One thing that can be done to lessen the overhead of cross acc implementation in FInferStorageEx is registration of supports functions for different accelerators.

Something like the following:
[code]

The default implementation for FInferStorageEx will then be:

[code]
This way the devs working on differ

[2018-12-18 08:54] anirudh2290 commented on #13438
I think to arrive at the right solution need to understand more on the openmp behavior and why it calls the library initialize within an operator execution when an omp for loop is called. Need to also confirm if this happens only during forking but also outside forking and what specific openmp versions the customer has and if this can be reproduced on other openmp versions.

[2018-12-18 08:58] pengzhao-intel commented on #13671
@Soonhwan-Kwon Currently, the flow is CNN friendly and other components are still on the development, such as #12922 for quantization FC.
In general, the INT8 performance depends on several key points
*  how much layers can be executed by INT8?
*  how much layers can be fused to reduce the overhead of quantization and dequantization?
*  hardware
    The VNNI instruction will provide 4X speedup for

[2018-12-18 09:05] marcoabreu commented on #12266
Hi, at the moment, our CI runs on python 3.6.

@szha is creating the releases. Could you elaborate whether we do any testing with these binaries related to python 3.7?

[2018-12-18 09:06] pengzhao-intel commented on #13671
@Soonhwan-Kwon  Delete the previous comments, I think I have a wrong understanding.

The current flow is CNN friendly and most of fusion pattern in CNN are covered, like conv + bn, conv + relu, etc. But for other type of the fusion for non-CNN, like FC + activiation, is still on the developments.

If you can share the basic block of your network, we'd like to take a look :)

[2018-12-18 09:08] wkcn commented on #13658
@jermainewang
I use Arch Linux, Python 3.7.1, MXNet 1.5.0 installed by pip,and TVM 0.5.dev.
There is no any error. It's strange.

I will test it on the ubuntu server.

[2018-12-18 10:17] Soonhwan-Kwon commented on #13671
@pengzhao-intel thank you for the deep dive explanation and our team at samsungsds is interested in quantization also, and soon we'll try out int8 performance on our model, so your previous answer was quite useful. I'll report back as soon as we complete the test, again thank you for your kind comments.

[2018-12-18 12:17] zheng-da opened #13673 "Flaky test in Clojure"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-13588/12/pipeline#step-525-log-542

[code]

[2018-12-18 14:53] aakashpatel25 opened #13674 "Multibox Target function returns 0 for Box Mask and Box Target for all Anchors proposed"
**Obective**: Training SSD Network to be able to detect text, fillable text fields and check boxes in a scanned document.

## Description
While training the network, forward pass works fine. Forward pass includes MultiboxPrior function. However during training time, for the purpose of calculating loss, MutliboxTarget function is used to obtain underlying class labels and bounding boxes to compute

[2018-12-18 18:02] kalpitdixit opened #13675 "OP request: GPU version of mxnet.ndarray.contrib.boolean_mask"
I need to use the "**boolean_mask**" operator in my Gluon model. Currently, it is only implemented for CPU which is making training for my model very slow (multiple weeks). Can we please have this op in GPU as well?

https://mxnet.incubator.apache.org/api/python/ndarray/contrib.html#mxnet.ndarray.contrib.boolean_mask

@szha

[2018-12-18 18:31] andrewfayres commented on #13673
It looks like what actually failed was the Scala build which Clojure uses as a dependency. The jenkins output doesn't look to have anything which can help figure out what happened. Maybe there's something in the core dump.

@mxnet-label-bot add [Flaky, Scala]

[2018-12-18 18:57] andrewfayres commented on #13670
This also seems like a very good topic for discuss.mxnet.io . You might catch the interest of wider audience there. I think what you're looking fore is the ```group2ctx``` parameter. It let's you put different parts of your model in different contexts for model parallelism. I'm aware of [one example](https://github.com/apache/incubator-mxnet/tree/master/example/model-parallel/matrix_factorization)

[2018-12-18 19:03] szha commented on #12266
We run part of the unit tests before publishing to pypi. Same applies to 3.7. Note that this represents a partial test, and full coverage requires work on the Jenkins CI side.

[2018-12-18 21:16] Ishitori commented on #10562
Yes, MXNet doesn't support num_workers on Windows, because `fork()` is not supported.
I would say that we need to update docs at least, if no one is willing to fix that issue.

[2018-12-18 21:17] aaronmarkham commented on #10828
I was able to get around this error:

First, delete the 3rdparty folder. Then check it out again to get a fresh copy. Then submodule update.
[code]
You might want to lead with a `make clean` for good measure.

[2018-12-18 21:20] lou-k commented on #13036
I believe the following is also a repo of this issue:
[code]

[2018-12-18 22:35] andrewfayres commented on #13675
@mxnet-label-bot add [gluon, feature request]

[2018-12-19 00:55] wkcn commented on #13658
Reproduce the error on Ubuntu16.04
I print the datas of DLTensor in `include/tvm/runtime/ndarray.h `

[code]

[code]

It seems that `TShape` has been released in MXNet.

[2018-12-19 01:40] HaoLiuHust commented on #13670
Thanks, it helps a lot. Put the huge layer on cpu would be ok, but the train speed may not be as fast as gpu, is there a way to split the single huge layer on gpus?

[2018-12-19 03:44] ptrendx commented on #13656
NVIDIA DALI (https://github.com/NVIDIA/DALI) integrated NVVL functionality (currently in master branch, will be part of 0.6 release that should happen very soon) and has a plug-in for MXNet.

[2018-12-19 04:02] ptrendx commented on #13650
It's hard to give a definitive answer without looking at the profile, but the most probable explanation is as follows:
 - `local` kvstore uses CPU to perform the reduction and update of the parameters. CPU can not natively handle FP16 data (there are instructions in Ivy Bridge+ that help with casting to/from fp16, but I'm not sure they would be used there) and so that step is very slow
 - therefor

[2018-12-19 05:38] astonzhang opened #13684 "CUDA error when increasing number of training epochs"
## Description
CUDA error when increasing number of training epochs

## Environment info (Required)

mxnet-cu90==1.4.0b20181207
mxnet-cu92==1.4.0b20181207
mxnet-cu90==1.5.0b20181215
mxnet-cu92==1.5.0b20181215

Package used (Python/R/Scala/Julia):
Python

## Error Message:
src/engine/threaded_engine_perdevice.cc:99: Ignore CUDA Error [05:09:49] /home/ubuntu/mxnet-distro/mxnet-build/3rdparty/mshadow

[2018-12-19 06:31] huanglianghua opened #13685 "How to remove parameters in HybridSequential model?"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-12-19 06:42] huanglianghua commented on #13685
del selt._children[key]

[2018-12-19 06:42] #13685 closed

[2018-12-19 07:19] YutingZhang commented on #13593
@zhreshold I tried the latest version of mxnet, and do `export MXNET_MP_WORKER_NTHREADS=20`. However, the example code I posted still results in the same CPU usage. Any ideas?

[2018-12-19 14:24] kice opened #13688 "How to feed MXNet with data already on GPU memory?"
I want to feed the image data already on GPU (in fact, it is a ID3D11Texture2D object) to MXNet; and if possiable, after processing, I can display it with DirectX.

I think I can just use `cudaMemcpy` or something like that to make a bridge. Do anyone have any idea for this kind of feature?

[2018-12-19 14:31] antoniosap commented on #11911
1.3.1 core dumped

[code]

[2018-12-19 16:19] aakashpatel25 commented on #13674
Just wanted to ask people are we suppose to normalize the labels from 0.0 to 1.0 to be able to use MultiboxTarget function?

[2018-12-19 17:20] jermainewang commented on #13658
That's strange. I thought the mutable is for the data pointer while the shape array should not be changed.

[2018-12-19 18:44] zhreshold commented on #13593
@YutingZhang  MXNET_MP_WORKER_NTHREADS can only control how many mxnet operators run in parallel, in the case of some transformations, it might not be able to parallelize as much op as possible. Due to a openmp bug, it's disabled for the worker so unfortunately it is the case.

You might want to enable opencv multithreading for each worker which might be the most time consuming part in worker proc

[2018-12-19 20:33] szha commented on #11911
@antoniosap what are the supported instruction sets of the CPU you're using?

[2018-12-19 22:41] astonzhang commented on #13684
@mxnet-label-bot  add [Cuda, Windows]

[2018-12-19 22:42] gigasquid commented on #13385
This is now in place!  Thanks @hellonico

[2018-12-19 22:43] #13385 closed

[2018-12-19 23:13] #13372 closed

[2018-12-20 01:01] eric-haibin-lin opened #13692 "[Feature Request] Ragged Tensor"
https://medium.com/tensorflow/introducing-ragged-tensors-ac301c31fd38
https://www.tensorflow.org/guide/ragged_tensors
Ragged tensor packs variable length tensors, which addresses lots of padding problems in NLP.

[2018-12-20 01:56] ptrendx commented on #13656
Just to update - DALI 0.6 with VideoLoader was just released.

[2018-12-20 03:18] smartadpole commented on #13437
How  to export the "Environment info"?

[2018-12-20 03:36] shengfeng commented on #13374
I also encounter this problem when using TextCNN, here is my model:

`class TextCNN(HybridBlock):
    def __init__(self, args, vocab, kernel_sizes, num_channels, **kwargs):
        super(TextCNN, self).__init__(**kwargs)
        self.embedding = nn.Embedding(len(vocab), args.embed_size)
        self.constant_embedding = nn.Embedding(len(vocab), args.embed_size)
        self.dropout = nn.Dropout(0.

[2018-12-20 03:57] ZhennanQin commented on #13516
Corresponding PR is filed at: https://github.com/apache/incubator-mxnet/pull/13697

[2018-12-20 06:07] andrewfayres commented on #13670
I think that you can do this using the ```group2ctx``` parameter. I thought that there was a lstm example showing how to do this but I don't see it anywhere.

I know that there are a few approaches at approximating softmax for speedup. Might be worth exploring if any of these will reduce the memory footprint as well.

[2018-12-20 06:46] andrewfayres commented on #13688
Adding some labels for visibility. I recommend asking this on discuss.mxnet.io. Questions tend to get a wider audience there.

@mxnet-label-bot add [question, cuda, windows]

[2018-12-20 06:53] andrewfayres commented on #13674
Adding some labels to help with visibility.

@mxnet-label-bot add [gluon]

[2018-12-20 08:01] antoniosap commented on #11911
[code]

[2018-12-20 08:10] aravindhv10 commented on #13437
I was advised to run a python which gave the environment info, sorry donot remember the link. You get the link while you start the bug report.

[2018-12-20 09:23] gaomingnudt commented on #13313
I got the same problem on Win10
mxnet is latest version
and the same code work fine on mac

[2018-12-20 09:37] loadwiki commented on #13265
I found the same issue. Every time I do reshape first and Free the reshaped handle. However, mem usage increased very quickly. My mxnet version is 1.2.1rc1, built with mkldnn. The issue both appeared in mac os and ubuntu. @chinakook If drop reshape, must call MXPredCreate  every time before do infer. Would there be a performance issue? Or it seems that i could prepare a few fixed size models for d

[2018-12-20 12:51] chinakook commented on #13265
Create a fixed model for the biggest size of input image, and pad every image to this biggest one.

[2018-12-20 13:58] aaronmarkham commented on #10562
Closing this since the fix is in.

[2018-12-20 13:58] #10562 closed

[2018-12-20 14:58] NRauschmayr commented on #13660
The model parameters get only updated once you call optimizer.step(). The easiest would be to just feed all the data once e.g.

[code]

[2018-12-20 16:01] gigasquid opened #13701 "Improve Visualization in the Clojure package"
Currently there is visualization namespace that uses graph-viz .

https://github.com/apache/incubator-mxnet/blob/master/contrib/clojure-package/examples/visualization/src/visualization/core.cljThis still has some bugs that prevent it from working properly.

There are better solutions out there for graphing that the we can leverage. In particular the vega library has some really nice options:

http

[2018-12-20 18:34] HyperZealot commented on #11654
Hello @KellenSunderland this issue comes again for my [PR](https://github.com/apache/incubator-mxnet/pull/13687). Can you take a look?

[2018-12-20 18:39] haojin2 commented on #11654
Re-opening the issue for tracking purpose, @marcoabreu @lebeg @larroy Can you guys please take a look at this issue?

[2018-12-20 20:41] metasoarous commented on #13701
Author of Oz here. Would love to have it be of use to MXNet. Please let me know if there's anything I can do to help make this happen!

[2018-12-21 02:01] PistonY opened #13709 "Why FP16 training speed is too slow on Tesla T4 in Gluon?"
Hi, I tried to train with FP16 on  Tesla T4, but it's speed is slower than GTX 1070 with FP32.
Could you please give me some suggests to solve that?
T4 is on Mxnet-cu100mkl and GTX1070 is on mxnet-cu90mkl
Here are my script and logs:
code: https://gist.github.com/PistonY/8dfcefdc46b747afd4d18b37f9a18665
logs:
T4 log:
[code]
GTX 1070 log:
[code]

[2018-12-21 03:06] chanajianyu commented on #11911
pip install mxnet-cu90==1.3.1b20181004 -i https://pypi.tuna.tsinghua.edu.cn/simple
and it works,

[2018-12-21 03:07] chanajianyu commented on #11911
pip install mxnet-cu90==1.3.1b20181004
and it works

[2018-12-21 03:22] wsqshiqing opened #13710 "Error in `python': malloc(): memory corruption: 0x00007f540c0a6190"

[2018-12-21 09:50] lebeg commented on #12203
@juliusshufan We use dockerized builds and tests and therefore the host system shouldn't matter.

You should be able to reproduce the failure by following steps mentioned by @mseth10 above:

**Checkout and build**

[code]

**Enable the test**

Comment out [this line](https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_operator.py#L1634) in file [tests/python/unittest/t

[2018-12-21 13:26] Eniac-Xie opened #13712 "Equivalent of np.ascontiguousarray in mxnet?"
Hi,

What is the equivalent of numpy's ascontiguousarray in mxnet?
I use mxnet.ndarray.transpose in my code, will it make the memory discontiguous?

Thank you!

[2018-12-21 14:11] TaoLv commented on #13712
MXNet NDArray doesn't have stride information and elements of NDArray are compacted. From this point of view, MXNet NDArray is always contiguous.

[2018-12-21 15:43] srochel opened #13713 "MXNet usage on non-AWS cloud providers"
Currently there is no information how to use MXNet on non-AWS cloud providers.
Please add the information how to use Nvidia containers with MXNet.

As requested, we distribute our Nvidia MXNet container, updated each month, that runs on our customized virtual images for multiple CSPs in addition to AWS:

GCP - VM: https://console.cloud.google.com/marketplace/details/nvidia-ngc-public/nvidia_gpu_cl

[2018-12-21 15:44] srochel commented on #13713
@mxnet-label-bot add ['documentation', 'website']

[2018-12-21 15:45] srochel commented on #13713
@mxnet-label-bot add ['doc']

[2018-12-21 17:04] kvcuong commented on #6313
Hi,
I got the same problem when generating op.h:

I ran` D:\Paul\libs_sources\mxnet14\cpp-package\scripts>python OpWrapperGenerator.py d:/Paul/libs_sources/mxnet14/build/Release/libmxnet.dll`

and got an error:

[code]

Do you know how to generate correctly op.h, help please!

[2018-12-21 17:16] aaronmarkham opened #13714 "CI website pipeline stuck in pending"
## Description
I have seen this a couple of times now so I'm going to leave the PR it this hanging state so it can be investigated.
https://github.com/apache/incubator-mxnet/pull/13705
You can see the CI pipeline here - it seems completed and successful, but Jenkins thinks it is still pending.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/PR-137

[2018-12-21 18:50] harshp8l commented on #13713
@mxnet-label-bot add [doc]

[2018-12-21 21:54] dmidge8 commented on #6313
You need to put every dependency dll of mxnet.dll in your windows path (and restart visual studio to be sure that the change is applied).

[2018-12-21 22:39] lgov commented on #13217
Late reply, I missed the notification. But what exactly do you mean?
An application using mxnet will abort whenever there is an Assert triggered in the 3rd party libraries it uses, or atleast in OpenCV. That can for instance happen when you pass it an incorrect image file (take a text file and load it as .jpg for instance).

[2018-12-22 02:31] #13658 closed

[2018-12-22 04:42] andrewfayres commented on #13710
@mxnet-label-bot add [gluon, python, bug]

[2018-12-22 04:44] andrewfayres commented on #13712
@mxnet-label-bot add [question, ndarray]

[2018-12-22 08:01] FCInter commented on #3032
I got the same error recently. I tried to set the gammas to 1.0, it did not help.
However, if I set the for_training = True when building the predictor, it works. The results look good.
Hope this could help you guys.

[2018-12-22 09:12] SamanthaFeidFischer opened #13718 "Help"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-12-22 10:11] youhangtian opened #13719 "new label shapes problem"
curr_data_shapes = tuple(i.shape for i in self._data_shapes)
        if isinstance(data_batch, list):
            assert data_batch is not None, "Encountered empty data batch"
            new_data_shapes = []
            for i in range(len(data_batch[0].data)):
                shape = data_batch[0].data[i].shape
                for db in data_batch:
                    assert shape == db.data[i].s

[2018-12-22 10:48] kice opened #13720 "Huge performance decrease by quantization"
I use the code from PR https://github.com/apache/incubator-mxnet/pull/13715, and I got a huge performance decrease by doing quantization on my model. I tested on Windows 10 with CUDA 10 and cudnn7 on Titan X (Pascal), using pre-release build from pip mxnet-cu100.

Alought by this issue https://github.com/apache/incubator-mxnet/issues/10897, it claimed that INT8 quantization can save GPU memory dur

[2018-12-22 11:32] marcoabreu commented on #13720
@Dickjc123

[2018-12-22 13:03] pengzhao-intel commented on #13720
FYI,  https://github.com/apache/incubator-mxnet/blob/master/example/quantization/README.md

[2018-12-22 14:28] #13712 closed, assigned to nobody

[2018-12-23 00:05] kice commented on #13720
@pengzhao-intel

Form your link

But in my case, it double the GPU memory usage. I don't think it can be considered as "smaller".

[2018-12-23 02:52] TaoLv commented on #13718
Close this issue since no information is provided. @SamanthaFeidFischer Feel free to re-open with detailed description. Thank you.

[2018-12-23 02:52] #13718 closed

[2018-12-24 01:09] chenyujing1234 commented on #13265
Finally, it was found that because the original Pred object was not released when Reshape Function was called, it would not be leaked if it was released.

[2018-12-24 01:33] kice commented on #13720
I couldn't find any information about why GPU memory usage **increased**.

[2018-12-24 02:13] pengzhao-intel commented on #13720
@ThomasDelteil do you have some data to show the memory changes of INT8 flow?

@reminisce to comment your question.

[2018-12-24 02:52] brightening-eyes opened #13722 "pip package for windows 32 bit?"
hi,
mxnet up to versions 1.2.0 are available on pip as a 32 bit version, but afterwards isn't available for windows 32 bit.
for people like me who don't train on the cloud, and some of them have users that their processors is x86 only, providing 32 bit packages on pip solves their problem.
lets asume that i have some data to train with (time doesn't matter for me at least), i do it on my 64 bit, a

[2018-12-24 06:11] YutingZhang commented on #10394
Any updates?

[2018-12-24 07:20] bryanlinnan opened #13724 "libmxnet_predict.so runtime error"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-12-24 09:55] kohr-h commented on #13548
@Mut1nyJD I've updated the code in the PR and cross-checked it against the PyTorch implementation.

[2018-12-24 09:57] kohr-h commented on #13548
Thanks for the pointer. Indeed, that's the same operation. It would make sense to drop in the new layer there.

[2018-12-24 18:16] arcadiaphy commented on #13710
I have met the same problem and tried to find the exact place the bug happened.

ENV:
[code]

Minimal script to reproduce the bug:
[code]

The backtrace of gdb on debug version mxnet
[code]

The bug is related malloc, if you change the malloc implementation, it disappears:
[code]

[2018-12-24 20:57] Ishitori commented on #13688
I don't think it is possible, unless you are able to code your data into DLPack format: https://github.com/dmlc/dlpack In that case, if you could also provide a memory pointer to MXNet code, you could use [from_dlpack](https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html#mxnet.ndarray.from_dlpack) method to get the NDArray.

[2018-12-24 21:16] Ishitori commented on #13660
While, optimization do happen only when you call optimizer, there is one thing you may want to keep in mind, when you are doing automatic differentiation twice. It is related to how exactly gradients are stored in `.grad` array.

By default, when you call `attach_grad()` (or when `Trainer` object does it for you) your gradients are working in `write` mode, meaning that they will be overwritten by

[2018-12-25 01:31] vrakesh commented on #13720
@mxnet-label-bot add [Operator, Performance]

[2018-12-25 01:35] vrakesh commented on #13724
@mxnet-label-bot add [C++, Android]

@bryanlinnan Thank you for reporting the issue.

[2018-12-25 01:37] vrakesh commented on #13722
@mxnet-label-bot  add [Feature request]

[2018-12-25 01:38] vrakesh commented on #13722
@brightening-eyes Thank you for reporting the concern. I agree in some cases having a 32-bit version does add value.

[2018-12-25 01:39] vrakesh commented on #13720
@mxnet-label-bot add [Quantization]

[2018-12-25 01:43] vrakesh commented on #13719
@mxnet-label-bot  add [NDArray]
@youhangtian Thank you for  reporting the issue.

[2018-12-25 01:54] #13660 closed

[2018-12-25 06:45] pengzhao-intel commented on #11161
https://github.com/apache/incubator-mxnet/pull/13530#issuecomment-449811865

The performance is listed in this PR @eric-haibin-lin

[2018-12-25 09:16] bryanlinnan commented on #13724
@vrakesh hi vrakesh,good news is i found the reason, bad news is the reason seems to have no good solution, i finally located the problem is caused by the bad support for ARM, when using thread_local variant, it will fail to access it.

[2018-12-25 09:50] RuRo commented on #12619
Hi, I am getting a very similar error:
[code]
I am using the latest `cu90mkl` docker (mxnet version 1.3.1). Unfortunately, I can't provide you with the exact code, because of legal reasons.

I have a custom class, that inherits from `mxnet.gluon.data.Dataset`. During the call to `__getitiem__` a bunch of transforms are called. To speed this up, I've tried wrapping the transforms in a `mxnet.gluon.

[2018-12-25 21:02] vrakesh commented on #13724
@bryanlinnan Sounds excellent could you elaborate further on the root cause and steps used to build. So that I can try reproduce it on my end.

[2018-12-26 06:36] shesung commented on #13584
same problem.

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-13088/3/pipeline

[2018-12-26 06:42] pengzhao-intel commented on #13584
@marcoabreu @larroy could you help take a look for CI issue?

[2018-12-26 14:31] pengzhao-intel commented on #12303
#13730 @zheng-da @safrooze

[2018-12-26 19:45] vrakesh commented on #13649
@giordyb Glad you were able to resolve the issue, requesting to close this issue, if it has been resolved .

[2018-12-26 19:48] vrakesh commented on #13613
@haibo-qiu Pinging to know if the examples were able to answer your question.  If they did , requesting you to close the issue

[2018-12-26 19:51] vrakesh commented on #13520
@bobpoekert Has the issue been resolved for you? If not requesting you to provide us with setup and minimum reproducible script

[2018-12-26 19:55] vrakesh commented on #12280
@mqtlam Hi since the issue, has been resolved in a PR, I am requesting committers to close this issue, Feel free to reopen it if the error persists on your side

@sandeep-krishnamurthy Requesting to close this issue since it has been resolved in a PR

[2018-12-26 19:56] #12280 closed

[2018-12-26 20:06] vrakesh commented on #12024
@David-Levinthal  since the issue, has been resolved in a PR, I am requesting committers to close this issue, Feel free to reopen it if the error persists on your side

@sandeep-krishnamurthy Requesting to close this issue since it has been resolved in a PR

[2018-12-26 20:20] #12024 closed

[2018-12-26 21:03] vrakesh commented on #12843
@zheng-da According to PR #12972  this is a scipy issue rather than a MXNet issue, do you think we should close this issue?

[2018-12-26 21:52] vrakesh commented on #13710
@wsqshiqing A PR regarding has been created, requesting you pull it in and verify it resolves the issue for you? So we can close this issue once the PR is merged

[2018-12-26 21:54] vrakesh commented on #8646
@szha Has this issue been resolved? Requesting an update on the same

[2018-12-26 22:06] NiklasDL opened #13731 "Contrib Symbol API of MXNet in R?"
Like the title states, is there any way to use the mxnet.symbol.contrib layers within the R interface?

[2018-12-26 22:13] vrakesh commented on #13380
@muhyun Since this issue is green grass specific, we will close this. Thanks for the update

[2018-12-26 22:15] #13380 closed

[2018-12-26 22:53] szha commented on #8646
@vrakesh thanks for pinging. I haven't worked on this so not sure what the status is. I'd recommend trying to reproduce the issue with the above code and see if the issue persists.

[2018-12-27 01:43] vrakesh commented on #13731
@mxnet-label-bot add [Question]

@NiklasDL Thank you for the question. A member of the community should respond with an answer soon

[2018-12-27 03:07] bryanlinnan commented on #13724
@vrakesh hi vrakesh, i finnaly made it run on my device(Sumsang exynos 5410 arm), steps:
1.first, i use android ndk r14b to make standalone toolchain
cd ~/tool/android-ndk-r14b/build/tools
python make_standalone_toolchain.py --arch arm --api 22 --install-dir /usr/local/android-toolchain --stl=libc++
2.then i build openblas, everything is ok
3. and then i build my libmxnet_predict.so,  many issues

[2018-12-27 03:52] #13613 closed

[2018-12-27 06:20] aaronmarkham commented on #13714
Not sure if this is related... the CI process hangs even after an apparently successful run on the edge pipeline.
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fedge/detail/PR-13725/1/pipeline

[2018-12-27 07:27] MyYaYa opened #13733 "gluon model_zoo get_model cause CUDA oom when using multiple gpus"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-12-27 07:57] MyYaYa commented on #13733
I am work in a public cloud environment with docker. It's because one guy who share the same instance with me, use pytorch which causes memory leak, and nvidia-smi cannot find that leak in my docker.

now I will close this issue.

[2018-12-27 07:57] #13733 closed

[2018-12-27 08:03] MyYaYa opened #13734 "gluon.utils.split_and_load cause cuda initialization error"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-12-27 09:39] wkcn commented on #13684
Reproduce the bug on Ubuntu 16.04, TITAN X * 2, mxnet-cu90==1.5.0b20181218

[2018-12-27 18:55] Ishitori commented on #13585
I have an implementation of Polyak averaging. Take a look here to find out if it is the same version they used in WaveNet: https://github.com/dmlc/gluon-nlp/blob/bidaf/scripts/question_answering/utils.py#L277

[2018-12-27 19:30] eric-haibin-lin opened #13736 "gluon.utils.clip_global_norm/nd.dot with fp16 throws fatal message"
On GPU with 1-D input:
[code]
Note that gluon.utils.clip_global_norm internally calls `nd.dot` and fails, too

[2018-12-27 19:32] eric-haibin-lin commented on #13709
@PistonY could you try mxnet profiler https://github.com/apache/incubator-mxnet/blob/master/docs/faq/perf.md#profiler to see what operation is costly with fp16? https://mxnet.incubator.apache.org/tutorials/python/profiler.html

[2018-12-27 19:38] Ishitori commented on #13731
At this moment your best bet would be to use [reticulate](https://blog.rstudio.com/2018/03/26/reticulate-r-interface-to-python/) package to use python version of MXNet.

I haven't tried mxnet.symbol.contrib, but my test autograd example seems to work fine:

[code]

[code]
The syntax doesn't look as nice as original R client, but it works.

So, just `pip install mxnet`, then in R `install.packages(

[2018-12-27 20:06] NiklasDL commented on #13731
Will try that, thank you @Ishitori

[2018-12-27 20:06] #13731 closed

[2018-12-27 20:30] Ishitori commented on #13616
I confirm this behavior, and here is the minimal reproducible example:

[code]

Result that is printed on the screen looks like:

[code]

Funny that both pure Gluon and pure Symbol models are still printing something. For Gluon model I would receive expected output:

[code]

For same model using Symbolic API I receive only the name of the last layer (not very useful, but still it is something):

[

[2018-12-27 21:45] vrakesh commented on #13734
mxnet-label-bot add [Gluon, Cuda]

[2018-12-27 22:21] gigasquid commented on #13384
Thanks @kedarbellare for making this happen 💯

[2018-12-27 22:21] #13384 closed

[2018-12-27 23:44] vrakesh commented on #13734
@MyYaYa Thank you for reporting the issue.

[2018-12-28 00:05] leleamol commented on #8021
@devymex I have recommended a workaround [here](https://github.com/apache/incubator-mxnet/issues/12966#issuecomment-435542458)
The "std::map<std::string, OpReqType>"  can be passed to SimpleBind() function that would model to upgrade gradients for the variable that have custom names.

Please let us know if this helps.

[2018-12-28 00:06] leleamol commented on #8021
@mxnet-label-bot add ["Pending Requestor Info"]

[2018-12-28 00:20] leleamol commented on #10003
Hello @ahkarami please refer to README Files in [cpp-package] (https://github.com/apache/incubator-mxnet/blob/master/cpp-package/README.md) and [cpp-package/example] (https://github.com/apache/incubator-mxnet/blob/master/cpp-package/example/README.md) folders.

Also, the C++ documentation on [mxnet website](https://mxnet.incubator.apache.org/api/c++/index.html)  is up-to-date.  The documentation f

[2018-12-28 00:21] leleamol commented on #10003
@mxnet-label-bot add [Pending Requester Info]

[2018-12-28 00:42] leleamol commented on #13724
@mxnet-label-bot update [C API]

[2018-12-28 00:42] leleamol commented on #13724
@mxnet-label-bot add [Android]

[2018-12-28 00:46] leleamol commented on #12869
@mxnet-label-bot add [Pending Requester Info]

[2018-12-28 02:49] wsqshiqing commented on #13710
@vrakesh It can solve my issue.

[2018-12-28 03:58] edwardfang commented on #10167
In my opinion, I don't think your hybrid block is actually running in the `symbol` mode. Instead, if not, it will fall back to `Ndarray` mode, which is the same is the block. However, there are complicated code in the hybrid block to check whether it should run in `symbol` mode or `Ndarray` mode, so it will be slower.

[2018-12-28 04:08] s0nghuiming opened #13739 "Building mxnet over OpenBLAS fails"
## Description
I am building mxnet over OpenBLAS but it fails due to missing file 'cblas.h'.
Does anyone meet the same error?

## Environment info

Package used (Python/R/Scala/Julia):
I'm using Python.

## Build info (Required if built from source)

Compiler (gcc/clang/mingw/visual studio):
g++

MXNet commit hash:
(Paste the output of `git rev-parse HEAD` here.)
3bfcd93dff33d27a6087e39dd938771845

[2018-12-28 06:50] szha opened #13740 "environment variable page no longer accessible"
https://mxnet.incubator.apache.org/versions/master/faq/env_var.html redirects to https://mxnet.incubator.apache.org/faq/

[2018-12-28 06:51] szha commented on #13740
And the link to the environment variable page is found in https://mxnet.incubator.apache.org/faq/

[2018-12-28 06:53] ahkarami commented on #10003
Dear @leleamol,
Thank you very much for your nice attempts. I think the MXNet C++ API has improved, but adding more comprehensive examples and tutorials would be helpful.

[2018-12-28 08:57] cchung100m commented on #12205
Hi @vandanavk ,

Sorry for the late reply.

I have been working on this issue very hard in the past month, and I solved most reported errors. Now that there are just a few negligible warnings left, I would appreciate your comments and suggestions :)

Best wishes for a Happy New Year!
Neo

environment info:

gives the result - documented here

the updated source code

[2018-12-28 16:12] vandanavk commented on #12205
@cchung100m thanks for looking into this!
Could you open a PR for review on https://github.com/apache/incubator-mxnet? Everyone in the community will be able to review it and eventually, we can merge it into master.

Since the PR changes 290 files, would it be possible for you to split it and submit for review?

[2018-12-29 01:14] azai91 opened #13743 "Flaky test in windows GPU CI"
In the windows-GPU stage of the CI, different `test_random` tests fail.

`test_random.test_exponential_generator` fails on commit `6a293fc` but passes after updating README
https://github.com/apache/incubator-mxnet/pull/13595
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-13595/9/pipeline

`test_random.test_uniform_generator`
http://jenkin

[2018-12-29 07:12] makefile commented on #8884
The issue still exist in lastest version 1.3.1 or 1.5.0 in master @sxjscience @vandanavk . Is there any workaround other than writing C++ layers? @piiswrong

[2018-12-29 07:19] s0nghuiming opened #13746 "Duplicated test in test_gluon.py, test_reshape_conv_slice_conv"
## Description
There are two duplicate name tests in test_gluon.py. Test name is test_reshape_conv_slice_conv.
They have different shape input.
I don't know what this duplicate can make effect on. But I noticed the test output of test_gluon.py is missing some format of this test. Here is the output:

[code]

## Environment info (Required)

## Build info (Required if built from source)

Compiler (g

[2018-12-29 07:32] #13746 closed

[2018-12-29 08:34] cchung100m commented on #12205
Hi @vandanavk,

Thank you for the prompt reply and suggestions.

I'd love to open a PR or PRs for review on https://github.com/apache/incubator-mxnet, however, I don't know how to split the uploading changes into several PRs and I would appreciate if you can give me a hand.

Many thanks,

[2018-12-29 08:39] l1uw3n opened #13747 "I found a bug in the source code, I don't know how to define it, but I commented out that the code will run better."
I found a bug in the source code, I don't know how to define it, but I commented out that the code will run better.

When I used C++ to call Python's model, a bug about cuda appeared in the c++ forward reasoning process. This bug is similar to:

[11:25:55] src/nnvm/legacy_json_util.cc:217: Symbol successfully upgraded!
Best Result: pomegranate (id=957, accuracy=0.45423976)
terminate called after t

[2018-12-29 19:17] #13263 closed

[2018-12-29 20:14] YutingZhang commented on #3946
Here is a very reasonable proposal.
https://cwiki.apache.org/confluence/display/MXNET/Parallel+Inference+in+MXNet
Is possible to just make `asnumpy` thread-safe or a state to indicate if an NDArray is ready to read.

[2018-12-29 23:38] eric-haibin-lin commented on #13616
Maybe we can print the json representation

[2018-12-30 20:34] jimmychou0704 opened #13748 "custom loss cause "kernel died" in Jupyter notebook"
## Description
I am implementing mxnet SoftmaxOutput from scratch as a warm up for a more complicated custom loss function. However when I fit the model my jupyter notebook dies immediately.

## Minimum reproducible example
Here is how I defined my custom loss function,
[code]
Then a model is constructed as following,
[code]
So far so good. But when I run` mod.fit(nd_iter, num_epoch=10, optimizer=

[2018-12-31 06:39] wkcn commented on #13748
Could you please print the shape of inputs and outputs when backward?
It seems that there is shape unmatched.

self.assign(in_grad[0], req[0], (out_data[0] - in_data[1].reshape((-1,1)) ))

[2018-12-31 12:19] wenyangchu opened #13750 "mx.nd.Crop does not support FP16 and decpreciated but no direct alternative with central crop"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2018-12-31 16:53] khaotik commented on #2033
@Line290 I've figured out a [hacky way](https://stackoverflow.com/questions/53987847/avoid-copying-during-array-conversion-between-numpy-and-mxnet/53989546#53989546) to obtain pointer. Allowing sharing CPU `NDArray` with numpy without copying.

[2018-12-31 19:00] vrakesh commented on #13747
@mxnet-label-bot  add [Bug, CUDA]
@l1uw3n Thank you for reporting the issue.

[2018-12-31 19:02] vrakesh commented on #13748
@mxnet-label-bot  add [Operator]

[2018-12-31 20:06] vrakesh commented on #13750
@mxnet-label-bot add [Feature request]
@wenyangchu Thank you for the feature request, we will look into this.

[2018-12-31 23:13] KellenSunderland commented on #13438
Good analysis.  Has anyone checked to see this problem is reproducible with all versions of OMP?  I'm wondering if another workaround that may not have a perf impact would be to use a different implementation than what is used by default.

[2018-12-31 23:17] KellenSunderland commented on #13438
Regarding option 1.  I actually think this is a good design, but several tests are currently relying on the fact that we can change behaviour via env var changes during runtime.  However, we could probably fix this be reinit'ing the library whenever we set an env var in a test.

[2019-01-01 09:43] miteshyh opened #13751 "There could be genuine duplicate output names?"
https://github.com/apache/incubator-mxnet/blob/bff0fdce13057ecd6d8b79c0c3d4dbefd5b85bd8/python/mxnet/symbol/symbol.py#L517

In some conditions e.g. resnet skip connections, there could be some input feeding to two different symbols. In such condition there will be duplicate output names in output_list. How do we plan to handle the same.

Currently it raises exception in this situation.

[2019-01-01 10:48] #11342 closed

[2019-01-01 22:14] eric-haibin-lin opened #13752 "Adam, AdaMax and FTML cannot be used with Trainer(update_on_kv=False)"
These optimizers adjust the learning rate by the number of optimization steps, which is problematic if `update_on_kv=False` is set and multiple GPUs share the same optimizer object (leading to incorrect count of optimization steps). For example: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer/optimizer.py#L1093

cc @szha @sandeep-krishnamurthy

[2019-01-01 22:40] eric-haibin-lin opened #13753 "Multi-precision support for Adam optimizer"
As title. Currently Adam optimizer doesn't support mixed-precision training.

[2019-01-02 02:11] ElegantGod opened #13756 "Why RegressionOutput-like loss can't support 'ignore_label' ?"
Why RegressionOutput(LogisticRegressionOutput, MAERegressionOutput) loss can't support 'ignore_label' like SoftmaxOutput?

[2019-01-02 07:37] PistonY commented on #13709
@eric-haibin-lin  Hi~I test it with mxnet profiler [here](https://gist.github.com/PistonY/b9dfc38051f3fe6322f154ec4664d0eb) are my script and result.It looks good.
But when I actually use it,it's still slow.
Here is [script](https://gist.github.com/PistonY/1b869bcd92189b1c84d43d69989a401d).
I print time between
[code]
when fp16:
[code]
fp32:
[code]

[2019-01-02 07:50] PistonY commented on #13709
And if you need you can just run the script.
It only need gluon-cv --pre.

[2019-01-02 14:44] yuconglin commented on #6224
Yes

On Wed, Jan 2, 2019, 12:29 AM pilhoon <notifications@github.com wrote:

[2019-01-02 17:54] piyushghai commented on #13743
Another test which failed on Windows GPU :
```test_operator_gpu.test_multinomial_generator```

The failure is here on Jenkins : http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-gpu/detail/PR-13678/24/pipeline

[2019-01-02 18:51] YutingZhang commented on #13593
@pengzhao-intel @TaoLv @anirudh2290 @zhreshold Thank you for everyone's help, and happy new year! This problem seems more complicated (it might be multiple problems in the beginning). @zhreshold's fix solved the problem in most cases.
However, I found, if we call `asnumpy` in each worker, it interferes among the processes. And it does not seem to be a problem for GPU-version MxNet running on a GPU

[2019-01-02 20:13] matthewberryman opened #13759 "Cross-platform docker build fails on Mac, won't work on Windows (?)"
For Q & A and discussion, please start a discussion thread at https://discuss.mxnet.io

## Description
Cross-platform docker build fails on macOS and quite possibly on Windows

## Environment info (Required)

----------Python Info----------
Version      : 3.7.2
Compiler     : Clang 10.0.0 (clang-1000.11.45.5)
Build        : ('default', 'Dec 27 2018 07:35:06')
Arch         : ('64bit', '')
---------

[2019-01-02 20:39] anirudhacharya commented on #13585
I will check. Thanks!

[2019-01-02 21:05] ylfdq1118 opened #13760 "nd.slice does not return empty tensor when begin=end"
## Description
For `mxnet.ndarray.slice(data, begin, end)`, if `begin=end`, it does not return an empty tensor. Instead, it returns a tensor with the same shape as `data`.

## Environment info (Required)
----------Python Info----------
Version      : 3.5.2
Compiler     : GCC 5.4.0 20160609
Build        : ('default', 'Nov 23 2017 16:37:01')
Arch         : ('64bit', 'ELF')
------------Pip Info------

[2019-01-02 22:09] leleamol commented on #13759
@mxnet-label-bot add [Build]

[2019-01-02 22:15] leleamol commented on #13760
Thank you for submitting the issue! I will try and suggest some labels so that the appropriate MXNet community members can help resolve it.

[2019-01-02 22:17] leleamol commented on #13760
@mxnet-label-bot add [Python, NDArray, Operator]

[2019-01-02 22:21] leleamol commented on #13751
Hello @miteshyh
Thank you for submitting the issue! I will try and suggest some labels so that the appropriate MXNet community members can help resolve it.

Meanwhile, can you please provide a minimum reproducible example? That would help debug the issue.

[2019-01-02 22:22] leleamol commented on #13751
@mxnet-label-bot add ["Pending Requester Info", "Bug", "Symbol"]

[2019-01-02 22:30] leleamol commented on #13756
Hello @ElegantGod ,
For questions, please submit them on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
 I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
 Thanks!

[2019-01-02 22:33] leleamol commented on #13756
@mxnet-label-bot add [Question]

[2019-01-02 23:13] leleamol commented on #13520
@mxnet-label-bot can this question be closed?

[2019-01-03 06:02] miteshyh commented on #13751
thanks @leleamol

It gets reproduced with default  PSPNET with ResNet50 backbone, I use it from GluonCV model zoo.

Below is the minimum code to repro.

`import numpy as np
from PIL import Image
import mxnet as mx
from mxnet import gluon, autograd, image
import gluoncv
from mxnet.gluon.data.vision import transforms

ctx = mx.cpu()
model = gluoncv.model_zoo.PSPNet(2, norm_layer=mx.gluon.contrib.nn.

[2019-01-03 07:55] maylad31 commented on #5728
hi can anyone please tell me how to delay MXExecutorFree() call

[2019-01-03 13:46] larroy commented on #13438
I would go for option 1.

[2019-01-03 14:56] seberg commented on #11099
Btw. NumPy has a futurewarning to disallow lists being interpreted as tuple (forcing tuples for N-D indices). So you guys are already implementing the future I guess (did not check it carefully)

[2019-01-03 15:36] akond opened #13765 "Centos 7: libcrypto.so.1.0.0: cannot open shared object file"
libcrypto.so.1.0.0:
## Description
when i'm trying to run `lein run -m cnn-text-classification.classifier` i get this error: `libcrypto.so.1.0.0: cannot open shared object file` which is a very old version of openssl.

## Environment info (Required)

[code]
I'm using Clojure
[code]

## Error Message:
INFO  MXNetJVM: Try loading mxnet-scala from native path.
INFO  MXNetJVM: Try loading mxnet-scala-

[2019-01-03 15:44] samskalicky commented on #13438
Thanks @larroy @KellenSunderland @anirudh2290, just found out that the problem was due to using Intel OpenMP rather than the LLVM OpenMP submodule. Upon switching back to using LLVM OpenMP the problem did not occur. I think the problem is effectively avoided since we're not advocating for using Intel OpenMP.

@TaoLv @pengzhao-intel any interest in seeing MXNet switch to Intel OpenMP and investigat

[2019-01-03 19:06] leleamol commented on #13765
@mxnet-label-bot add [Build, Installation]

[2019-01-03 19:10] MyraBaba commented on #12869
@leleamol Hi,

I am back to project and able to compile with Cmake ypur inception_inference.cpp with above mentioned models.

Can you direct me to where is the output of float vector of 512 variable ? can I get this 512 float vector features with this .cpp ? If so I couldnt find it with debugging.  Could you possibly let me
know?

Best

[2019-01-03 19:15] ptrendx commented on #13747
I guess what happened was cudaGetDevice was called after the driver started unloading and so it did not populate the restore_device_ properly. I have a PR #13764 that changes the DeviceGuard already, I can fix this problem there.

[2019-01-03 20:05] ahkarami commented on #10003
Thanks @leleamol,
I agree with you there. I think it is better to close this issue in this state.

[2019-01-03 23:05] leleamol commented on #13765
Hi @akond ,
I tried running the cnn-text-classification.classifier on Ubuntu and did not get the error that you have mentioned.  I ran the `ldd` on libmxnet-scala.so (for 1.3.1) but it did not report its dependency on libcrypto.so

I noticed that you are running these tests on CentOS. I could reproduce this on CentOS.
Will try to dig deeper and update the issue with my observations.

@piyushghai @

[2019-01-04 03:04] MyYaYa commented on #13734
Do you know the reasons causing the problem?

[2019-01-04 03:13] MyYaYa commented on #13001
Now, I find this solution is so slow, especially when the size of array is big. So this solution has become a main cost of time in my program. Is there any efficient solution of 'cumsum' using mxnet's ndarray?

[2019-01-04 03:39] chinakook commented on #13001
I think a better solution is to write a c++ version of this op.

[2019-01-04 08:04] TaoLv commented on #13438
@samskalicky Can you explain more about how to use Intel OMP in MXNet and how to switch back to LLVM OMP? I think LLVM OMP is using the same runtime as Intel OMP.

[2019-01-04 10:07] myairforce1 opened #13770 "mxnet.ndarray.random_randint API not found"
## Description
I installed mxnet version 1.3.1 by
pip install mxnet-cu90

however,  the mxnet.ndarray.random.randint API is not found.

As per the API doc,
mxnet.ndarray.random.randint does exist.

https://mxnet.incubator.apache.org/api/python/ndarray/random.html#mxnet.ndarray.random.randint

## Environment info (Required)
mxnet-cu90

[code]

Package used (Python/R/Scala/Julia):
(I'm using  Python

[2019-01-04 13:22] ronyuzhang opened #13772 ""mxnet.image.imdecode" can not decode uint16 type image"
## Description
i encode depth map(uint16) to rec file, and use "mxnet.image.imdecode" api to gen ndarray, but i find that ndarray's type is uint8.

[2019-01-04 16:19] aaronmarkham commented on #12619
Reopening this issue since it looks like we have a public example now in the [lipnet code](https://github.com/apache/incubator-mxnet/pull/13647) that can be used to figure out what's going on...

[2019-01-04 17:39] samskalicky commented on #13438
@TaoLv according to this page: https://software.intel.com/en-us/forums/intel-c-compiler/topic/793552 they should be the same but may differ slightly as they have different release schedules. So this is a possibility that the functionality differs between a particular versions of LLVM/Intel OMP.

As for how to use it, I didnt do the building myself but I imagine that those who did simply modified t

[2019-01-04 18:12] leleamol commented on #13772
Hello @ronyuzhang
Can you please provide a minimum reproducible example?  This will help the members to debug the issue further. I looked at the documentation for mxnet.image.imdecode, it does not mention such limitation.

Thanks

[2019-01-04 18:13] leleamol commented on #13772
@mxnet-label-bot add [NDArray]

[2019-01-04 19:09] safrooze commented on #10805
@roywei Absolutely. I'll send a PR.

[2019-01-04 19:30] leleamol commented on #13770
Hello @myairforce1,

The 'mxnet.ndarray.random.randint' method is not implemented in 1.3.1 version.  The implementation and documentation for this method is available in 'master' version of the repository. It is not yet released.

The documentation link that is included in the report points to the "master" version.

I tried out the function with a nightly build (mxnet_cu90-1.5.0b20190103-py2.py3-n

[2019-01-04 19:30] leleamol commented on #13770
@mxnet-label-bot add [NDArray, Bug]

[2019-01-04 20:31] leleamol commented on #13770
I have tried the latest mxnet and mxnet-cu90 pip packages on fresh cpu and gpu machines.
The code is working as expected.  Please disregard my comment about failure with the latest nightly package.
[code]

As I mentioned above the randint() functionality is not available in the released version (1.3.1)  of MxNet.

I will remove the label "Bug" since it is working with the latest builds. I would pr

[2019-01-04 20:31] leleamol commented on #13770
@mxnet-label-bot update [NDArray, Pending Requester Info]

[2019-01-04 20:46] zhreshold commented on #12009
closed by #12090

[2019-01-04 20:46] #12009 closed

[2019-01-04 21:31] leleamol commented on #13765
Hi @akond,

As mentioned in the [ReadMe] <https://github.com/apache/incubator-mxnet/tree/master/scala-package#stable> file, the Scala packages are currently not supported for CentOS. The support for CentOS will be available in future releases.

Meanwhile, these packages can be built from source for CentOS platform and used with clojure.
The instructions to build from source are [here] <https://git

[2019-01-04 21:31] leleamol commented on #13765
@mxnet-label-bot add [Pending Requester Info]

[2019-01-04 21:33] leleamol commented on #13649
@mxnet-label-bot can we close this issue?

[2019-01-04 21:34] leleamol commented on #12966
@mxnet-label-bot  Can we close this issue since the fix has been merged with PR #13284

[2019-01-04 21:35] leleamol commented on #8021
@mxnet-label-bot Can we close this issue since the fix has been merged with PR #13284

[2019-01-04 21:57] leleamol commented on #12869
Hi @MyraBaba

In the [inception_inference.cpp] <https://github.com/apache/incubator-mxnet/blob/master/cpp-package/example/inference/inception_inference.cpp> example, you can add following line

[code]
after the line [309]<https://github.com/apache/incubator-mxnet/blob/master/cpp-package/example/inference/inception_inference.cpp#L309>.
It will print out all the values of the output vector.

In the

[2019-01-04 22:02] #8021 closed

[2019-01-04 22:04] leleamol commented on #10529
@mxnet-label-bot update [Question, C API]

[2019-01-04 22:14] leleamol commented on #12244
The issue doesn't seem to be related to C++ API. WIll remove the C++ label.

@liuzhi136 can you please upload the errors that you are getting when building from source. Also please share the config flags that you have used to build the mxnet.

[2019-01-04 22:15] leleamol commented on #12244
@mxnet-label-bot update [Pending Requester Info, Question, Build, Ubuntu]

[2019-01-04 22:16] leleamol commented on #10003
@mxnet-label-bot Can we close this issue as per the last comment?

[2019-01-04 22:17] leleamol commented on #8108
@mxnet-label-bot Since the fix is added to the code, can we close this issue?

[2019-01-04 22:41] leleamol commented on #8126
@theSparta ,

There were recent fixes to cpp-package. Can you please try again to see if the program works as you have expected?

[2019-01-04 22:41] leleamol commented on #8126
@mxnet-label-bot add [Pending Requester Info]

[2019-01-04 22:43] leleamol commented on #8864
@zzcpf
Can you please let us know the details on how Windows package was built?
It seems that the OpWrapperGenerator.py could not locate the mxnet shared library. Was the build for mxnet shared library successful?

[2019-01-04 22:43] leleamol commented on #8864
@mxnet-label-bot add [Pending Requester Info]

[2019-01-04 22:46] leleamol commented on #13341
@mxnet-label-bot update [KVStore, Bug]

[2019-01-04 22:48] leleamol commented on #13342
@mxnet-label-bot update [ARM, Bug, Test]

[2019-01-04 22:50] leleamol commented on #13219
@ThomasDelteil can you please respond to @WANG-MengJiao

[2019-01-04 22:56] leleamol commented on #13389
The question is not related to C++ frontend API  hence removing the C++ label.

[2019-01-04 22:57] leleamol commented on #13389
@mxnet-label-bot update [Question, Test, Feature Request]

[2019-01-04 23:02] leleamol commented on #12734
@Isa-rentacs I have submitted the PR #13680 that demonstrates the usage of C++ API in running the inference on RNN models.

The C API are the internal APIs and are not meant for external consumption.

[2019-01-04 23:03] leleamol commented on #12734
@mxnet-label-bot add [Pending Requester Info]

[2019-01-04 23:06] leleamol commented on #13337
The issue doesn't seem to be related to C++ Frontend API, hence removing the C++ label.

[2019-01-04 23:06] leleamol commented on #13337
@mxnet-label-bot update [Question, CUDA]

[2019-01-04 23:35] leleamol commented on #13265
@chenyujing1234 can you please let us know if the issue is fixed? If it is we can close this issue.
Thanks,

[2019-01-04 23:35] leleamol commented on #13265
@mxnet-label-bot add [Pending Requester Info]

[2019-01-04 23:52] leleamol commented on #7973
This issue is not related to C++ Front End API. Removing the C++ Label.

[2019-01-04 23:52] leleamol commented on #7973
@mxnet-label-bot remove [C++]

[2019-01-04 23:53] leleamol commented on #7973
@mxnet-label-bot add [C API]

[2019-01-05 00:17] srochel opened #13773 "Compiler error with g++ (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-01-05 01:21] lxy5513 opened #13774 "KeyError: 'identity1'"
the onnx_model_file is the onnx model exported by pytorch (yolo)
But when I import it by mxnet, the error occured  as follow:
hope someone can fix the problem, thank you
[code]

[2019-01-05 08:14] kohillyang commented on #13773
One of the possible reasons of "g++: internal compiler error: Killed (program cc1plus)" may the memory is not enough. I think you can try "make j1" instead.

[2019-01-05 11:46] fengsky401 opened #13776 "There is something wrong in Installation from source on OS X (Mac) page"
In the page, https://mxnet.incubator.apache.org/install/osx_setup.html,
this part:
"To build with MKLDNN

echo "CC=$(brew --prefix llvm)/bin/clang++" >> ./config.mk
echo "CXX=$(brew --prefix llvm)/bin/clang++" >> ./config.mk
echo "USE_OPENCV=1" >> ./config.mk
echo "USE_OPENMP=1" >> ./config.mk
echo "USE_MKLDNN=1" >> ./config.mk
echo "USE_BLAS=apple" >> ./config.mk
echo "USE_PROFILER=1" >> ./config

[2019-01-05 13:09] pengzhao-intel commented on #13776
Thanks @fengsky401 to report the issue. We will fix it @xinyu-intel

BTW, there's a page for MKLDNN installation.
https://github.com/apache/incubator-mxnet/blob/master/MKLDNN_README.md

[2019-01-05 13:10] pengzhao-intel commented on #13776
@mxnet-label-bot add [MKLDNN, Installation]

[2019-01-05 15:36] akond commented on #13765
i tried building from the source. here is what I've got during `make scalapkg`:
[code]

[2019-01-05 15:57] akond commented on #13765
it seems i need to build libmxnet first, but i can't find any instructions on how to build them under centos.

[2019-01-05 19:38] lanking520 opened #13779 "config.mk MKLDNN=0 not working in Makefile"
I tried to use `config.mk` to set MKLDNN=0 and it seemed not to work
### step to reproduce:
[code]
Change on `Makefile`
[code]
Result
[code]
Will raise a PR to fix this

[2019-01-05 19:38] lanking520 commented on #13779
@zachgk @szha @azai91 @mseth10

[2019-01-06 11:34] MyraBaba opened #13781 "is HiKey 970 AI chip supported ?"
Is therea any experience with the Hikey 970 AI chip which almost 2TPS speed?

[2019-01-06 17:00] MyraBaba opened #13782 "Segmentation Fault on the Raspberry pi 3"
I compiled mxnet from source with arm flags . succesfully finished and installed with

pip install -e .

when I tr to load model and make test I got below error:
[code]

is there any idea ?

model is Resnet

[2019-01-06 20:05] szha commented on #13779
Fixed in #13775

[2019-01-06 20:05] #13779 closed

[2019-01-07 07:54] lupesko commented on #11977
This feature has been implemented, see [here](https://mxnet.incubator.apache.org/faq/env_var.html).
@bhavinthaker - kindly close the issue, or comment if not addressing your suggestion.

[2019-01-07 07:55] FCInter opened #13783 "Predict result is bad when setting for_training=False"
## Description
I trained a model and used it to perform prediction. While building the predictor, if I set the argument for_training=False, the prediction result is bad, as bad as predicted using a randomly initialized model.

## Environment info (Required)

[code]
class Predictor(object):
    def __init__(self, symbol, data_names, label_names,
                 context=mx.cpu(), max_data_shapes=No

[2019-01-07 10:30] jlcontreras commented on #13506
Also seen here:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/master/157/pipeline

[2019-01-07 12:31] MyraBaba commented on #9507
is there any improvement this segfault ?

[2019-01-07 12:59] squirrelim opened #13785 "compile error:token ""__CUDACC_VER__ is no longer supported."
### **Description**
compile error
what to do:
`git clone --recursive https://github.com/dmlc/mxnet.git`
`cd mxnet`
`git checkout 998378a`
`git submodule update --init --recursive`
`make -j $(nproc) USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1`

### **Error Message**
cd /root/Deformable-ConvNets/mxnet/dmlc-core; make libdmlc.a USE_SSE=1 config=/root/Deformable

[2019-01-07 15:34] iblis17 opened #13786 "Julia `argmax` for NDArray"
Ref: https://github.com/dmlc/MXNet.jl/issues/425

Due to C/Cpp's 0-based array index, `argmax` is broken for NDArray at this moment.

[2019-01-07 15:38] iblis17 opened #13787 "ImageNet IPython notebook need to be updated"
Ref: https://github.com/dmlc/MXNet.jl/issues/408

[2019-01-07 15:41] iblis17 opened #13788 "FTRL optimizer for Julia"
Ref: https://github.com/dmlc/MXNet.jl/issues/237

[2019-01-07 15:53] iblis17 opened #13789 "Support `:dist_async` for Julia"
Ref: https://github.com/dmlc/MXNet.jl/issues/158

[2019-01-07 18:38] MyraBaba opened #13790 "Raspberry Pi 3 docker missing information ?"
Hi,

According to the documentation :

I can't find the ci/build.py . command ?

is it a docker image I tried : docker run ci/build.py -p armv7 no such image ?

1 - What is the exact steps for compiling mxnet in docker which is host machine is mac os x. ?

2 - I compiled on the Raspberry pi 3 but when I try to load models it gives Segmentation fault ?

What is the working branch for Raspberry pi 3

[2019-01-07 18:42] zachgk commented on #13773
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [Build, Ubuntu]

[2019-01-07 19:36] zachgk commented on #13781
For questions, please submit them on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
 I'm closing this issue now in favor of the discussion forum issue you will file, please feel free to re-open if closed in error.
 Thanks!

[2019-01-07 19:45] zachgk commented on #13785
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [Build, CUDA]

[2019-01-07 19:47] zachgk commented on #13783
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [Python]

[2019-01-07 19:48] zachgk commented on #13774
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [Python, ONNX]

[2019-01-07 19:54] szha commented on #11911
@antoniosap it's again due to the lack of support for avx2 instruction set, which is a minimum requirement of the pre-built binary. Building from source will fix the problem.

[2019-01-07 19:57] szha commented on #11911
@RustyRaptor whether it causes illegal instruction error upon import shouldn't depend on the cuda version per se. There was a problem in the build logic that causes illegal instruction on CPUs without f16c instruction, though the problem should have been fixed.

If this is not the case, could you share what version of mxnet you are using, and the supported CPU instruction set on your platform?

[2019-01-07 20:17] zachgk commented on #13790
You should be able to run the build script using `python3 ci/build.py -p armv7` from your incubator-mxnet directory. The master branch should work fine.

@mxnet-label-bot add [Build, Edge Devices]

[2019-01-07 20:48] evorta opened #13792 "Dataloader not working when num_workers > 0"
When I train a ssd neural network using gluoncv 1.3.0 or 1.4.0 and mxnet. I use mxnet's dataloader:

[code]

To turn my dataset into batches ready for processing in a gluoncv training loop. I can train when NUM_WORKERS = 0, it works fine, not using 100% of the GPU but at least some, as I saturate a single core and only 10% of my GPU.

If I increase the num_workers > 0 the system uses 100% of CPU a

[2019-01-07 21:58] RustyRaptor commented on #11911
I am using 1.3.1

here are my flags
`flags           : fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts acpi mmx fxsr sse sse2 ss ht tm pbe syscall nx pdpe1gb rdtscp lm constant_tsc arch_perfmon pebs bts rep_good nopl xtopology nonstop_tsc cpuid aperfmperf pni pclmulqdq dtes64 monitor ds_cpl vmx smx est tm2 ssse3 cx16 xtpr pdcm pcid dca sse4_1 sse4_2 popcnt aes l

[2019-01-07 21:59] RustyRaptor commented on #11911
I'll go ahead and try building from source then.

[2019-01-07 22:37] piyushghai commented on #9843
Found a failure of this test on the CI pipeline on Windows-CPU.

Details of failure captured here : http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/PR-13678/30/pipeline

[2019-01-07 23:53] MyraBaba commented on #13790
Thanks..

Is there ANY pre-build  raspberry pi 3 wheel for installing *

[2019-01-08 00:20] lupesko commented on #13792
@mxnet-label-bot please add [Bug]

[2019-01-08 01:00] #13710 closed

[2019-01-08 02:12] vandanavk commented on #13774
@lxy5513 this seems similar to the issue https://github.com/apache/incubator-mxnet/issues/13395

[2019-01-08 02:13] zachgk commented on #13792
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@lupesko It seems like the label bot won't listen to you if you are too polite

@mxnet-label-bot add [Python, Gluon, Data-loading, Bug]

[2019-01-08 02:45] zachgk commented on #13783
Can you try using self._mod.set_params (https://mxnet.incubator.apache.org/api/python/module/module.html#mxnet.module.BaseModule.set_params) instead of self._mod.init_params?

[2019-01-08 04:18] pilhoon commented on #3724
How about to use `as_in_context(mx.cpu())` like this:
`executor.output_dict['cls_prob_reshape_output'].as_in._context(mx.cpu()).asnumpy()`

[2019-01-08 05:21] jacksonxliu opened #13798 "C++ generate wrong prediction results on GPU"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-01-08 06:13] FCInter commented on #13783
@zachgk I have tried. It does not work.

[2019-01-08 07:48] ZhennanQin commented on #13593
@YutingZhang Please try `export KMP_AFFINITY=granularity=fine,noduplicates`, it works on my environment.

[2019-01-08 09:16] fallingdust commented on #13482
+1

[2019-01-08 09:18] MyraBaba commented on #13790
@zachgk Hi I tried ci/build.py -p armv7 from incubator-mxnet I have below error after a while 👍

OS is Mac os x and python 3 docker : Version 18.06.1-ce-mac73 (26764)

`Removing intermediate container 3a8023a7d627
 ---> f2bd1edb8bea
Step 14/19 : ARG USER_ID=0
 ---> Running in 50cae7e4d1ef
Removing intermediate container 50cae7e4d1ef
 ---> abd755483ded
Step 15/19 : ARG GROUP_ID=0
 ---> Running in 7

[2019-01-08 09:19] jlcontreras opened #13800 "[Nightly test] v1.3.x failing with missing cmake"
The step _InstallationGuide:GPU_ is failing in the nightly tests due to missing cmake. The problems started on Jan 3rd.

Example case:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/NightlyTests/detail/v1.3.x/146/pipeline

[code]

[2019-01-08 09:20] jlcontreras commented on #13800
@TaoLv  Do you think this could be related to the latest MKL updates?

[2019-01-08 09:30] TaoLv commented on #13800
Do you mean the v1.3.x branch? I notice the last commit on it is more than 1 month ago.

[2019-01-08 09:37] TaoLv commented on #13800
With v1.3.x branch, I don't think command line like `make -j 32 USE_OPENCV=1 USE_BLAS=openblas USE_CUDA=1 USE_CUDA_PATH=/usr/local/cuda USE_CUDNN=1` will trigger MKL-DNN build.

[2019-01-08 09:46] jlcontreras commented on #13800
Thanks for the reply :)
I did mean the v1.3.x branch, editing the title. Maybe https://github.com/apache/incubator-mxnet/pull/13681 somehow had something to do? Dates coincide, but that PR shouldn't impact v1.3.x

[2019-01-08 09:54] TaoLv commented on #13800
Yes, from that PR, we have MKL-DNN default on master branch. It definitely should not impact branch v1.3.x. So I guess the source code you built was not that one you checked out from v1.3.x.

[2019-01-08 14:53] suyz526 opened #13801 "can not install mxnet after building the cpp package"
## Description
I have built mxnet cpp package from the source successfully. However, I can't install it.

## Environment info
Ubuntu 16.04

## what I have done
`git clone --recursive https://github.com/apache/incubator-mxnet mxnet`
`cmake -DUSE_CUDA=0 -DUSE_MKLDNN=1 -GNinja .`
`ninja -v`
`sudo ninja install`

## Error Message:
-- Install configuration: ""
-- Installing: /usr/local/lib/libmxnet.so

[2019-01-08 18:50] zachgk commented on #13798
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [Bug, C++]

[2019-01-08 19:00] zachgk commented on #13800
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [CI]

[2019-01-08 19:04] zachgk commented on #13801
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [Docs, Installation]

[2019-01-08 19:53] tcye commented on #11549
I recently also found this problem, mxnet build with cmake is much slower with some light network, have you locaed this issue? I found some cflags diff such as -floop-unroll, but unfoutunately, when I add these flags to cmake, no help...

[2019-01-08 21:37] RustyRaptor commented on #11911
Ok After compiling the program and going into the python directory and running sudo pip install -e .
It works. Thanks.

[2019-01-08 22:15] thomelane commented on #13227
@zboldyga did you get a chance to check this out? let me know if not, and i'll take a look. thanks!

[2019-01-08 22:23] thomelane commented on #12100
https://github.com/apache/incubator-mxnet/pull/13597 (which has been merged) has clarified these points. @ThomasDelteil please close, thanks!

[2019-01-08 22:38] eric-haibin-lin commented on #12363
'dist' is equivalent to 'dist_sync'. Using the documented options is recommended.

[2019-01-08 22:56] #12100 closed

[2019-01-08 23:02] aaronmarkham opened #13804 "mxnet.io Python API docs are broken"
## Description
API docs aren't linking up again. Looks like all of the mxnet.io docs aren't linking up.
https://mxnet.incubator.apache.org/api/python/io/io.html?highlight=imagerecorditer%20python

[2019-01-08 23:09] anirudhacharya opened #13805 "Not able to load float16 parameters with Block.load_parameters"
## Description
Not able to load float16 parameters with Block.load_parameters. I get the error
[code]

## Environment info (Required)

[code]

## Error Message:
[code]

## Minimum reproducible example
[code]

## Steps to reproduce
1. Run the above code

## What have you tried to solve it?
1. save the parameters as float32. Load the f32 params into the gluon block, and then cast it to f16.

[2019-01-08 23:45] aaronmarkham commented on #13804
It also breaks the beta site downstream: http://beta.mxnet.io/api/gluon-related/_autogen/mxnet.io.ImageRecordIter.html

[2019-01-08 23:54] safrooze commented on #13805
I would imagine you'd simply need to first cast the network to fp16 before trying to load parameters. Have you tried that?

[2019-01-09 00:08] anirudhacharya commented on #13805
This worked
[code]

Thanks @safrooze

[2019-01-09 00:08] #13805 closed

[2019-01-09 01:50] jermainewang commented on #10506
@eric-haibin-lin Do we have gradient support of sparse matrix for the dot operator right now?

[2019-01-09 03:45] pengzhao-intel commented on #13593
@zhreshold do you know some backgrounds why fixed the thread number to 1 in the worker processor as below line shown?
ZhennanQin@48fe761

[2019-01-09 03:46] hustzxd commented on #7849
Is the problem solved, can you share it with me?

Have the problem been solved, can you share the solution with me?

[2019-01-09 04:06] SOWENKIN opened #13810 "Assertion `pred_hnd' failed in MXPredCreate step"
Note: Providing complete information in the most concise form is the best way to get help. This issue template serves as the checklist for essential information to most of the technical issues and bug reports. For non-technical issues and feature requests, feel free to present the information in what you believe is the best form.

For Q & A and discussion, please start a discussion thread at https

[2019-01-09 04:07] pengzhao-intel commented on #13593
Got some info from @YutingZhang #13449 #12380 thanks a lot.

[2019-01-09 04:12] pengzhao-intel commented on #13593
@anirudh2290

[2019-01-09 05:22] eric-haibin-lin commented on #10506
@jermainewang No. For operator: `dot(csr, dense) = dense`, in the backward pass gradient calculation for left-hand side is not yet supported. Do you know if anyone is interested in contributing?

[2019-01-09 06:49] jermainewang commented on #10506
It's actually quite important for implementing Graph Attention Network. Pytorch 1.0 has enabled this support. There is also a workaround here (https://github.com/Diego999/pyGAT). It would be great if this could be prioritized.

[2019-01-09 07:42] SOWENKIN commented on #13810
I had found out that the segment fault happens in code:
`g = mxnet::exec::InferShape(std::move(g), std::move(in_shapes), "__shape__");`
in MXPredCreatePartialOut in c_predict_api.cc, but why?

[2019-01-09 07:54] SOWENKIN commented on #13810
@zhreshold Could I ask you for some advice?

[2019-01-09 15:47] suyz526 commented on #9399
I had the same problem. It was solved by adding /usr/local/lib into the LD_LIBRARY_PATH

[2019-01-09 16:42] #13740 closed

[2019-01-09 17:01] larroy opened #13817 "[CI] timeouts due to docker image rebuild"
PRs are failing validation due to docker rebuilding images and timeout being hit.

[2019-01-09 19:23] zachgk commented on #13810
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.

@mxnet-label-bot add [C++, Bug]

[2019-01-09 19:25] zachgk commented on #13817
@mxnet-label-bot add [CI]

[2019-01-09 19:51] zhreshold commented on #13810
I am going to close this and leave the discussion in https://github.com/dmlc/gluon-cv/issues/564, since the problem is not related to mxnet runtime, just a network usage issue.

[2019-01-09 19:51] #13810 closed

[2019-01-09 22:22] lanking520 commented on #9381
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-13819/4/pipeline/235/
Add one datapoint

[2019-01-09 22:49] #13300 closed

[2019-01-10 00:54] aaronmarkham commented on #13804
I ran a bunch of tests and found that the API output is fine in a stand-alone run:
http://34.201.8.176/versions/io/io.html
Or in the same location http://34.201.8.176/versions/io/api/python/io/io.html
And when run in previous versions:
http://34.201.8.176/versions/1.3.1/api/python/io/io.html
But if you change the version to 1.4.0 or master, mxnet.io doesn't link up:
http://34.201.8.176/versions/1.

[2019-01-10 01:22] thomelane opened #13825 "Dropout is Slow"
## Description

Adding dropout to network seems to reduce speed of forward pass substantially.

I've seen this a few times now, and the latest was occasion was on the discussion forum:
https://discuss.mxnet.io/t/training-speed-in-mxnet-is-nearly-2-5x-times-slower-than-pytorch. User's training was x2.5 slower than PyTorch originally, but reported a **6 times speedup by removing dropout**, ultimatel

[2019-01-10 05:32] hendrycks commented on #12984
This nonlinearity is also used in BERT, the state-of-the-art NLP model for various tasks: https://arxiv.org/abs/1810.04805
(Disclosure: I'm on the GELU paper.)

[2019-01-10 09:13] jiangzhengkai opened #13829 "Mxnet Training deterministic"
Hi, I'm using mxnet for research experiments. However, the experiments results is not deterministic.

I'm using np, random, mxnet.nd, so i fix the seed for all of them. besides, i add os.environ['MXNET_ENFORCE_DETERMINISM'] = '1' and disable cudnn option in convolution option.

here is the log for different two times
![image](https://user-images.githubusercontent.com/19780166/50958079-d5089600-14f

[2019-01-10 15:09] TaoLv commented on #13800
@jlcontreras Is the problem still there? Could you double check the code base used for `InstallationGuide: GPU`. I notice the submodule update message in the log:
[code]
https://github.com/dmlc/tvm/commit/0f053c82a747b4dcdf49570ec87c17e0067b7439 is used on the master branch while on v1.3.x it's https://github.com/dmlc/tvm/commit/90db723d287509705dcc93fde7ab0df380b9a4e5 .

[2019-01-10 16:36] jlcontreras commented on #13800
Yes, the problem still persists. I'll update this issue with any progress made. Thanks for the info about the submodule update!

[2019-01-10 18:53] lanking520 commented on #13765
Hi @akond sorry to hear that. You can follow the following steps:
## Install Dependencies
[code]
## Make the backend and scalapackage
[code]

[2019-01-10 18:56] bigdata-memory commented on #13773
Compiled it on the machine w/ 8G mem. and w/o the option -j, thanks.

[2019-01-10 18:58] lanking520 commented on #13528
@larroy This problem are fixed now. We include them into the pom file instead of binding together. Please feel free to close this issue

[2019-01-10 19:00] lanking520 commented on #13468
Could you please try again, are you still facing the same issue?

[2019-01-10 19:02] aaronmarkham opened #13831 "OSError: [Errno 14] Bad address on website CI tests"
## Description
I've seen this pop up quite a few times now. It is transient in that I can restart CI for this job and more often than not, it will pass on the second attempt. However, it has popped up more than once on PRs that are going through several rounds of updates.

## Example
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/PR-13647/33/pipe

[2019-01-10 19:03] lanking520 commented on #13096
@kohr-h Close this issue for now as you can use MKLDNN for Scala/Java now. It is a part of the CI. Simply run `make scalapkg` or `cd scala-package; mvn package` would work.

Please feel free to reopen it if you are facing some other issues

[2019-01-10 19:03] #13096 closed

[2019-01-10 19:04] lanking520 commented on #12836
This problem self-fixed. I add parallel execution in the Batch files, it is much faster now

[2019-01-10 19:04] #12836 closed

[2019-01-10 19:07] aaronmarkham commented on #13831
Another example:
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/PR-13820/5/pipeline

[2019-01-10 19:09] #12925 closed

[2019-01-10 19:17] Vikas89 commented on #11203
This is not happening with mxnet-mkl release. This is also fixed in latest source where we have MKL default.
But OSx and non avx512 supported architecture is still having  the issue.

[2019-01-10 19:18] zachgk commented on #13829
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.
@mxnet-label-bot add [Backend, Bug]

[2019-01-10 19:19] larroy opened #13833 "Website build is flaky"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-website-build/detail/restricted-website-build/957/pipeline

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwebsite/detail/PR-13818/6/pipeline

It's failing intermittently on PRs with oserror bad address from python.

[2019-01-10 19:23] larroy commented on #13833
@mxnet-label-bot update [Bug, Flaky, Docs]

[2019-01-10 19:24] larroy commented on #13833
@mxnet-label-bot update [Bug, Flaky, Doc]

[2019-01-10 19:33] Roshrini commented on #10789
This can be solved after adding support for Dynamic shape in MXNet which is tracked here: https://github.com/apache/incubator-mxnet/issues/12732

Related issues for using ONNX models in MXNet: https://github.com/apache/incubator-mxnet/issues/13774, https://github.com/apache/incubator-mxnet/issues/13395,

[2019-01-10 19:45] #10789 closed

[2019-01-10 19:57] #12682 closed

[2019-01-10 20:45] Roshrini commented on #13327
@hanzhaogang As Vandana mentioned before, we dont support exporting custom operators with ONNX so you wont be able to export the mentioned model.
But the error seems to be coming from "load_checkpoint" method which is unrelated to ONNX. Maybe there is something wrong with the model itself. Were you able to reproduce this issue with some other model as you mentioned before?

[2019-01-10 22:12] zboldyga commented on #13227
@thomelane whoops, I lost track of this one after the holidays. It's mostly complete but I need to revise and submit a pull request this weekend.

[2019-01-10 22:14] SamuelLarkin opened #13836 "Install MXNet on Ubuntu 18 and Julia-1.0.3?"
Hi,
  disclaimer ;) I'm a complete newbie in Julia.
I want to install MXNet for Julia-1.0.3 under Ubuntu18 but I get
[code]
which leads me to believe that MXNet-1.3.1 is not available for Julia-1.0.3.

Am I doing something wrong here?

[2019-01-10 23:12] #10338 closed

[2019-01-10 23:12] #11315 closed

[2019-01-10 23:57] gigasquid opened #13838 "[OSX] Brew install opencv breaks master"
Brew has updated opencv so that when you do `brew install opencv` you get opencv4 which is not compatible with current master.

All of the current install docs for OSX say to use `brew install opencv` as a prereq - so this will impact new users trying out MXNet.

It is particularly problematic because there is no way to brew install the 3.4 version - details are here https://github.com/Homebrew/ho

[2019-01-11 00:01] marcoabreu commented on #13836
Hey Samuel,

welcome to MXNet! We currently only support Julia 0.6, but are working on 0.7 and 1.0 support here: #12845

CC @iblis17

[2019-01-11 00:08] larroy opened #13839 "Flaky ONNX test TestNode.test_imports"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-13834/2/pipeline

[code]

[2019-01-11 01:07] #13756 closed

[2019-01-11 01:32] SamuelLarkin commented on #13836
Thanks for the info.  I guess I'm too eager.  Since I'm new to julia, I thought that starting with the latest and greatest version of julia would be best but that doesn't take into account that other projects have to catch up.  I'm fine with giving julia-0.6 a try.

Best of luck with your release of MXNet for Julia.

FYI I'm a huge fan of Sockeye which is build on top of MXNet.

[2019-01-11 05:35] pengxin99 commented on #13833
Maybe this is the old version bug. [Sphinx-issue5914](https://github.com/sphinx-doc/sphinx/issues/5914)

[2019-01-11 05:44] jiangzhengkai opened #13844 "Sort operation does not support return index"
Hi, i use sort along channel axis and also want the index? like
![image](https://user-images.githubusercontent.com/19780166/51015374-ead39500-15a6-11e9-9750-8b79242cc670.png)

Any idea?

[2019-01-11 06:52] huangzhiyuan commented on #13844
Maybe you can try [argsort()](https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html?highlight=sort#mxnet.ndarray.argsort):
[code]
Hope it's useful for you :)

[2019-01-11 06:53] jiangzhengkai commented on #13844
@huangzhiyuan nice! Thanks

[2019-01-11 06:53] #13844 closed

[2019-01-11 09:16] stsukrov opened #13846 "Unit tests are broken on OSX with cmake build"
## Description
mxnet_unit_tests are failing on OS X.
Successful on Ubuntu.

## Environment info (Required)
OSX
gcc version 8.2.0

MXNet commit hash:
(Paste the output of `git rev-parse HEAD` here.)
39a3bc184d37dbc64157ac4eff51078f7aacc7bd

## Error Message:

For example FULLY_CONNECTED is broken

[code]
## Minimum reproducible example
Provided commit.

## Steps to reproduce
(Paste the commands you

[2019-01-11 10:50] #13817 closed

[2019-01-11 11:47] Mut1nyJD opened #13847 "Spectralnormalization GAN seems to be seriously broken"
## Description

The SN_GAN example in the gluon/examples directory does not seem to work. I am wondering if the spectral normalization code in it is correct at all.

1.) The example does not use HybridBlocks which shouldn't be too hard to do I would think
2.) Some of the default values do not match what they say in the description (latent_z defaults to 10 not to 100 as by description)
3.) The resu

[2019-01-11 12:58] ThomasDelteil commented on #9612
I get the same error, AUTOTUNE generate out of memory.
I tried setting the `workspace="10"` attribute on my convolutions and it does not seem respected as I get the same type of memory allocation, has this been noticed by anybody else?
By not respected I mean I see the peak allocation that seems to be always at the same peak, though during the autotune the usage seems to remain actually a bit smal

[2019-01-11 13:00] chinakook commented on #12732
I think that a good solution to support **pseudo**-dynamic (in most cases it's enough) shape is to support infer_shape_partial in HybridBlock.

[2019-01-11 15:10] cchung100m commented on #12205
Hi @vandanavk ,

Thank you for the suggestions.

I split the whole changes into multiple commits(total 20 parts and each commit contains 15 files). However, I cannot stack the PRs as below:
[code]
Therefore, I open the PRs from Github website, but I am not sure if it is stacked PRs.

https://github.com/apache/incubator-mxnet/pull/13815

https://github.com/apache/incubator-mxnet/pull/13848

I would

[2019-01-11 15:31] crmne commented on #13001
It would be great in order to more efficiently implement [Earth Mover's Loss](https://en.wikipedia.org/wiki/Earth_mover%27s_distance)

[2019-01-11 16:18] pasha76 commented on #9201
how did you download? can you please explain more- I have the same issue.

[2019-01-11 20:20] frankfliu commented on #13468
Scala doesn't support binary compatibility between major versions. It only promise source code level compatibility. Means if you want to run scala 2.12, you have to recompile our scala project.

[2019-01-11 21:30] zachgk commented on #13838
@mxnet-label-bot add [Build, OpenCV]

[2019-01-11 21:46] thomelane opened #13853 "Error while running the mxnet spark examples and test cases"
Opening issue on behalf of @adwivedi on the discussion forum (https://discuss.mxnet.io/t/error-while-running-the-mxnet-spark-examples-and-test-cases/2720).

### Quotes from the thread...

I am trying to run the mxnet in distributed mode using spark as implemented here : https://github.com/apache/incubator-mxnet/tree/master/scala-package/spark

but I am not able to run the examples and/or tests.

T

[2019-01-11 21:47] thomelane commented on #13853
@lanking520

[2019-01-11 21:47] thomelane commented on #13853
@mxnet-label-bot add [Scala]

[2019-01-11 21:50] lanking520 commented on #13853
Thanks for @thomelane raising it here. Add a bunch of Scala guru here:
@piyushghai @zachgk @andrewfayres @CodingCat
Please take a look at this issue. I also think it is a good time now to fix the flaky test on the disabled tests and allow Spark run in the CI.

[2019-01-11 21:51] zachgk commented on #13847
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it. @mxnet-label-bot add [Python, Gluon, Example]

@stu1130 Can you take a look?

[2019-01-11 22:17] zachgk commented on #13846
@stsukrov I am trying to reproduce your error. Can you run the diagnose script to provide more environment info?

[code]
@mxnet-label-bot add [Bug, Test, OSX, Backend]

[2019-01-11 22:59] thomelane opened #13854 "mx.context not found in website docs"
Can't find `mx.context` module in documentation on the website.

Some useful functions have been added there, such as `gpu_memory_info` and `num_gpus` but they can't be found, and don't show up in website search.

https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/context.py

[2019-01-11 23:00] thomelane commented on #13854
@mxnet-label-bot add [Website, Docs]

[2019-01-11 23:50] zachgk commented on #13829
Hi @jiangzhengkai, can you provide some information about your environment and the code that is not behaving deterministically (or a minimal example?

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please provide:
1. Java version: (`java -version`)
2. Maven version: (`mvn -version`)
3. Scala runtime if applicable: (`scala -version`)

F

[2019-01-12 00:39] zhreshold commented on #13792
you might want to increase the shared memory size if it's small, or you can use thread_pool=True in DataLoader if you are using the latest mxnet on master

[2019-01-12 00:48] zachgk commented on #10867
@jessebrizzi The NativeResource Management was added as part of https://github.com/apache/incubator-mxnet/pull/12647. You can find some documentation about it https://github.com/apache/incubator-mxnet/blob/master/scala-package/memory-management.md. Does this look like it fixes your problem?

[2019-01-12 00:56] lichen11 opened #13859 "Newly updated Makefile generate path errors"
I am following the steps (https://mxnet.incubator.apache.org/install/ubuntu_setup.html#install-the-mxnet-package-for-r) to update my mxnet  R version to 1.3 on my Centos 7.6. I am able to finish steps 1-4, but for step 5
    sudo make rpkg

I receive the following errors:

** testing if installed package can be loaded
[1] "Loading local: inst/libs/libmxnet.so"
Error: package or namespace load fail

[2019-01-12 01:14] lanking520 commented on #11878
@nswamy Close this since the problem is fixed. Feel free to reopen the issue if the problem persist.

[2019-01-12 01:14] #11878 closed

[2019-01-12 01:16] zachgk commented on #12140
@lanking520 @mdespriee I think this can be closed because https://github.com/apache/incubator-mxnet/pull/13039 was merged

[2019-01-12 01:17] lanking520 commented on #12140
Close it for now, if you are still facing this problem. Please raise a PR (😄) or reopen this issue

[2019-01-12 01:17] #12140 closed

[2019-01-12 01:20] lanking520 commented on #12416
@jesterhazy Let's close this issue for now since all of our new releases are static-linked. We no longer require user to install OpenCV in the system

[2019-01-12 01:20] #12416 closed

[2019-01-12 01:31] zachgk commented on #12487
@mariussoutier The PrefetchingIter has an IndexedSeq of inputs because some networks might require multiple data inputs. That is why the elements are read in parallel and there must be the same number of elements from each component iterator (since the network won't function with some inputs missing). You can see an example of the equivalent python function at https://mxnet.incubator.apache.org/ap

[2019-01-12 01:51] zachgk commented on #12568
@mariussoutier Since the last time you looked at this, we have greatly improved the scala build process (https://github.com/apache/incubator-mxnet/pull/13493 and https://github.com/apache/incubator-mxnet/pull/13626). It now just dynamically links against the libmxnet.so. All you should need to do is build the engine for osx gpu and then the maven build shouldn't have a problem with it.

[2019-01-12 07:42] SOWENKIN opened #13861 "mxnet C API gives the wrong detection results with yolo coco pretrained model exported form gluonCV"
## Description
(Brief description of the problem in no more than 2 sentences.)
mxnet C API gives the wrong detection results with yolo coco pretrained model exported form gluonCV.
## Environment info (Required)
mxnet C++=1.3.1, mxnet-cu90=1.3.1, gluoncv=0.4.0
## Minimum reproducible example
(If you are using your own code, please provide a short script that reproduces the error. Otherwise, please

[2019-01-12 08:44] mariussoutier commented on #12487
Exactly! Thanks.

[2019-01-12 12:08] larroy commented on #10856
Stuck for 46h running unit tests with the following error message:

[code]

[2019-01-12 14:55] fhieber opened #13862 "[1.4.0] unravel_index no longer works with magic '-1' in shape parameter as in 1.3.1"
## Description
The `unravel_index` op seems to no longer correctly work with 'magic' shape values, such as '-1's. The following example still works with mxnet 1.3.1, but does not on latest master (it returns all zeros in the result without throwing an error) or 1.4.0.
We have a [use case](https://github.com/awslabs/sockeye/blob/master/sockeye/inference.py#L2100) for this in Sockeye.

## Environmen

[2019-01-12 16:00] 7oud opened #13863 "Which conv layer should be selected as the last conv layer in gradcam example when using resnet50v2?"
## Description
I followed the "Visualizing Decisions of Convolutional Neural Networks", and it gives the correct output images when using vgg16 pretrained model. ThenI changed the network to ResNet50v2 with its pretrained model, but the output images looks abnormal, Some code snippet are as follow.

[code]
![figure_1](https://user-images.githubusercontent.com/7981826/51075473-f0c09780-16c6-11e9-89

[2019-01-13 01:42] 0xfiras commented on #13798
I am facing the same issue right now, but my case is a bit different.

I am training using the c++ API on the GPU. When I inspected the output values of the first batches, I can clearly see that the output is incorrect: negative prediction values after a relu.

After a lot of printing of input and output, just to make sure I am not printing or editing the labels, I concluded that the problem is mo

[2019-01-13 02:07] 0xfiras commented on #13782
By the way, c++ API inferencing does not work on the raspberry pi 3 model B (wrong output). After a lot if research, we fount that libblas is notorious for its misbehaviour on some raspberry pi models. I had to move to another [insert fruit name here] pi, where it worked as expected.

If you got your bug fixed, just make sure yours is behaving correctly.

[2019-01-13 06:57] xinyu-intel commented on #13859
Hi @lichen11 , please add `echo "USE_MKLDNN = 0" >> ./config.mk` in step 4 to fix this error.

[2019-01-13 07:17] szha commented on #12877
CUDA10 are being published now.

[2019-01-13 07:17] #12877 closed

[2019-01-13 14:34] MyraBaba commented on #13782
What I found that I need to decrease my model size . when I use mobileNet now its working

[2019-01-13 21:09] 0xfiras commented on #13782
Funny. I was using MobileNet v2. Not working on RPi3B.

[2019-01-14 03:53] PistonY commented on #13709
@eric-haibin-lin Hello?
Did you test FP16 with any Nvidia Turing™ architecture's device?
And if you do this could you please give me a test script?

[2019-01-14 04:49] saudet commented on #10549
The JavaCPP Presets for MXNet now bundle the Scala API and they work on Windows too:
https://github.com/bytedeco/javacpp-presets/tree/master/mxnet
What I ended up doing is generating the missing files that we can't generate with CMake on Windows using the Makefiles on Linux, and that's pretty much it. I think those files should be checked in the source code repository as it would help with this is

[2019-01-14 05:32] seujung commented on #13847
PR #13847

[2019-01-14 07:06] #13839 closed

[2019-01-14 07:19] fadedfat3 commented on #13337
Same for me. I reinstalled mxnet-1.3.1 and did not export MXNET_CUDNN_AUTOTUNE_DEFAULT=0, it worked to me first. But  when i run it in the second time, it did not work!

[2019-01-14 10:56] hengdos opened #13870 "[C++] Linking static library (error or bug?) to load python trained model"
Hi. I'm trying to train a simple model using python api and load the trained model for predicting using c++ api.

Following the [tutorials](http://mxnet.incubator.apache.org/versions/master/install/c_plus_plus.html), I've already built mxnet from source with `USE_CPP_PACKAGE=1` and `USE_BLAS = openblas`. Then I got `libmxnet.a libmxnet.so` files.

While I build executable program with linking to d

[2019-01-14 18:10] lanking520 commented on #10549
@saudet That's amazing! We are planning to officially support MXNet very soon from `1.4.x` and later version. Will you be interested in doing that? Currently we greatly optimized the building process and it should be very straight-forward to do so.

[2019-01-14 18:21] dabraude opened #13875 "importing mxnet causing subprocess to crash"
may be related to #13831

## Description
importing mxnet causes OSErrors in subprocess

## Environment info (Required)
Scientific Linux 7.5
Python 3.6.3
MXnet 1.5.0 (from packages)
(tried on multiple computers running different cuda builds)

## Error Message:
(Paste the complete error message, including stack trace.)

## Minimum reproducible example
Using the following script (or just using the ap

[2019-01-14 18:59] zachgk commented on #12487
If you are interested, it should not be too difficult to create something like `AppendIter(iters: IndexedSeq[IndexedSeq[DataIter]])`. The [documentation](https://mxnet.incubator.apache.org/versions/master/api/scala/docs/index.html#org.apache.mxnet.DataIter) and the [SyntheticDataIter](https://github.com/apache/incubator-mxnet/blob/master/scala-package/examples/src/main/scala/org/apache/mxnetexampl

[2019-01-14 19:37] piyushghai commented on #13861
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it. @mxnet-label-bot add [C++, C API].

@leleamol Maybe can you take a look at it ?

[2019-01-14 19:38] piyushghai commented on #13862
Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it. @mxnet-label-bot add [Python, Bug, NDArray]

[2019-01-14 19:41] piyushghai commented on #13863
For questions, please submit them on MXNet discussion forum (https://discuss.mxnet.io), where it will get a wider audience and allow other to learn as well.
Thanks!

@mxnet-label-bot add [Question, Python, Model Zoo]

[2019-01-14 19:44] piyushghai commented on #13870
@hengdos Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it. I'm also tagging C++ and MXNet Build experts to have a look at this.
@mxnet-label-bot add [C++, Build]

@leleamol @frankfliu Can you guys have a look at this ? Thanks!

[2019-01-14 19:45] lichen11 commented on #13859
@TaoLv yes it is the latest master branch.
@xinyu-intel  I added the line. But before I could verify whether the previous error can be fix, I am encountering another error:
Loading required package: devtools
Rscript -e "if(!require(devtools)||packageVersion('roxygen2') < '6.1.1'){install.packages('roxygen2', repo = 'https://cloud.r-project.org/')}"
Loading required package: devtools
Error in packa

[2019-01-14 19:48] lanking520 commented on #13859
@mxnet-label-bot add [R, installation]

[2019-01-14 19:50] lanking520 commented on #13805
Test: This is a test issue
blas
bla
bla
@mxnet-label-bot add [python]

[2019-01-14 19:53] piyushghai commented on #13875
@dabraude Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.
@mxnet-label-bot add [Build]

I tried running the script you provided locally on my Mac (So essentially non-CUDA build).
I did not face any crashes. My MXNet version is : 1.5.0b20190112.

Can you try this on your machine  and then run the script ?
Run : ```pip install -U mxnet --pre```

[2019-01-14 19:54] lanking520 commented on #12487
@mxnet-label-bot add [Call for Contribution, Good First Issue]

[2019-01-14 20:05] lichen11 commented on #13859
I changed the line Rscript -e "if(!require(devtools)||packageVersion('roxygen2') < '6.1.1'){install.packages('roxygen2', repo = 'https://cloud.r-project.org/')}"
to
Rscript -e " devtools::install_version('roxygen2',version='6.1.1',\
	    repos='https://cloud.r-project.org/',quiet=TRUE)"

I am able to perform Step 5 with no error. But when I load mxnet in R, I receive the following error:

Error: p

[2019-01-14 20:07] azai91 opened #13876 "Incorrect Conv2DTranspose behavior on CPU"
The native CPU implementation of Conv2DTranspose produces incorrect results.
[code]

[code]

The output should be
[code]

## Description
(Brief description of the problem in no more than 2 sentences.)

## Environment info (Required)

[code]

Package used (Python/R/Scala/Julia):
(I'm using ...)

For Scala user, please provide:
1. Java version: (`java -version`)
2. Maven version: (`mvn -version`)
3.

[2019-01-14 20:09] azai91 commented on #13876
@apeforest @Vikas89 tracking issue here

[2019-01-14 20:14] piyushghai commented on #13876
@azai91 Thank you for submitting the issue! I'm labeling it so the MXNet community members can help resolve it.
@mxnet-label-bot add [Bug, Operator]

[2019-01-14 20:23] mseth10 commented on #12203
@juliusshufan did you try dockerized build and test commands on your system? were you able to reproduce the failure?

[2019-01-14 21:16] vandanavk commented on #12205
@cchung100m this is great. I had a look at #13815, #13848. The changes LGTM. I have requested more reviewers to look into it. In the meantime, could you re-trigger the CI build for the 2PRs?

Also, you could submit 1 or 2 more PRs with the next batch of changes.

[2019-01-14 21:47] hetong007 commented on #13876
This is identical to https://github.com/apache/incubator-mxnet/issues/11203

[2019-01-14 21:49] azai91 commented on #13876
got it. closing this ticket since it is a duplicate.

[2019-01-14 21:49] #13876 closed

[2019-01-14 22:00] lichen11 commented on #13859
I fixed it using a very odd trick.... I noticed that when I run R in the terminal, I am able to load mxnet and train NNs. However when I use R studio server, it gives the above error. I noticed that in R studio server, the lib paths are .libPaths()
[1] "/home/username/R/x86_64-redhat-linux-gnu-library/3.5"
[2] "/usr/lib64/R/library"
[3] "/usr/share/R/library"

But in R terminal, the libPath() only

[2019-01-14 23:51] stu1130 opened #13879 "Make Spectral Normalization as HybridBlocks"
## Description
The sn-gan example use customized Conv2D block. however, it would be better to make it as HybridBlock since all the calculation there have the Symbol API. One possible solution would be seperate the SNConv2D into Conv2D and Spectral Normailization HybridBlock similar to Batch [Normalization Block](https://mxnet.apache.org/api/python/gluon/nn.html#mxnet.gluon.nn.BatchNorm)
related to

[2019-01-14 23:54] stu1130 commented on #13879
@mxnet-label-bot add [Gluon, Good First Issue, Call for Contribution]

[2019-01-14 23:56] piyushghai commented on #13161
Hi @zachgk , that's an impressive improvement in the reduction in build warnings.
Did you have a chance to revisit the build warnings to prune the list even further ?

[2019-01-14 23:58] stu1130 commented on #13847
@Mut1nyJD
1. Yes it's possible to create HybridBlocks here. Possible solution would be separate the SNConv2D into Conv2D and Spectral Normalization hybrid block. I created a issue here #13879 Sorry I got another important work to do now, call for contribution for this one.
2. Updated the doc
3. I think @seujung #13868 fix this, Thanks again!

[2019-01-14 23:59] piyushghai commented on #12553
@mariussoutier Are you seeing differences in Python API v/s Scala API as well in terms of training ?

[2019-01-15 00:00] piyushghai commented on #13765
@akond Did these instructions help you out ?

[2019-01-15 00:02] piyushghai commented on #13528
@larroy I'm suggesting to close this issue, since we've dealt with it now.
Please feel free to re-open it if closed in error.

@lanking520 Can you close this issue ?

[2019-01-15 00:03] lanking520 commented on #13528
Close it for now, please feel free to reopen if you are still seeing the same problems in the package

[2019-01-15 00:03] #13528 closed

[2019-01-15 00:05] piyushghai commented on #13308
@aaronmarkham @zachgk Did the PR : #13210 help in resolving this issue ?
If yes, can we close this issue ?

[2019-01-15 00:10] piyushghai commented on #13673
@zheng-da There haven't been more reports of such a failure for building the Scala Package and unfortunately there isn't much in the logs to help debug here.
I suggest to close this issue and re-open it, if the problem reappears.

@lanking520 Can you close this issue ?
@zheng-da Please feel free to re-open if closed in error.

Thanks!

[2019-01-15 00:15] stephenrawls commented on #12649
FYI I created a PR for this issue: https://github.com/apache/incubator-mxnet/pull/13880