[2020-05-14 19:09] leezu commented on #18314
That's because I set gc.set_debug(gc.DEBUG_SAVEALL). I want to preserve all objects found by gc, because I need to figure out where the reference cycle that prevented them from being freed by reference counting, came from.

Howeve, I find that despite gc.set_debug(gc.DEBUG_SAVEALL), the gc will still call the finalizer on the objects it finds. That's why we end up with zombie objects in gc.garbage

[2020-05-14 19:35] anirudh2290 commented on #18314
aah okay, maybe make the __del__ a no op for testing and try to see which objects are uncollectable ?

[2020-05-14 20:38] rajkinra23 commented on #13288
+1, im having the exact same problem here.

[2020-05-14 22:03] eric-haibin-lin commented on #11756
Closing this issue for now. Please feel free to reopen if you come across this again

[2020-05-14 22:03] #11756 closed

[2020-05-14 22:03] eric-haibin-lin commented on #10673
@access2rohit @apeforest can we close this issue now?

[2020-05-14 22:04] eric-haibin-lin commented on #10724
closing this for now. Please feel free to comment/reopen if the issue comes up again

[2020-05-14 22:04] #10724 closed

[2020-05-14 22:05] eric-haibin-lin commented on #11846
closing this for now since mxnet by default is built with mkldnn

[2020-05-14 22:05] #11846 closed

[2020-05-14 22:05] eric-haibin-lin commented on #14022
closing this for now. please feel free to comment/reopen if you come across this issue again

[2020-05-14 22:05] #14022 closed

[2020-05-14 22:17] apeforest commented on #10673
Please build with USE_INT64_TENSOR_SIZE flag. Closing the issue

[2020-05-14 22:17] #10673 closed

[2020-05-15 01:01] JustinhoCHN commented on #17923
yes it is

[2020-05-15 01:20] leezu commented on #18314
Let's close this issue as it's specific to the use of gc.DEBUG_SAVEALL

[2020-05-15 01:20] #18314 closed

[2020-05-15 01:43] heaseny opened #18329 "'mxnet' has no attribute 'metric'"
## Description
On master branch, when execute the below commands,
python -c "import gluoncv" or python -c "import mxnet as mx; print(mx.metric)" , an error raised with message: 'mxnet' has no attribute 'metric'

### Error Message
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/home/mxnet/anacondaenv/anaconda3_mxnet/envs/mxnet_daily_py3/lib/python3.6/site-packages

[2020-05-15 01:44] leezu opened #18330 "test_metric_performance"
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18284/runs/6/nodes/364/steps/731/log/?start=0
[code]

metric now rely on mxnet numpy implementation and may be slower until mxnet overhead is reduced.

@acphile should the timeout on this test be temporarily increased?

[2020-05-15 01:46] leezu commented on #18329
MXNet 2 moves the metric API to mx.gluon.metric
gluoncv is not yet compatible with MXNet 2, but you can use MXNet 1.x branch

Closing as this is not an issue in mxnet, but please reopen if there are further concerns

cc @zhreshold

[2020-05-15 01:46] #18329 closed

[2020-05-15 03:02] chinakook commented on #18170
@ptrendx Thank for your reply. It's solved by using right version of gfortran in Ubuntu 20.04.

[2020-05-15 03:02] #18170 closed

[2020-05-15 05:58] ChaiBapchya commented on #18330
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18326/1/pipeline
#18326 unrelated PR

[2020-05-15 06:50] leezu commented on #18330
Notice that this timeout only happens on Python3: MKL-CPU jobs. The job there times out after 1200 seconds (global timeout), whereas it finishes in under 300 seconds on the non-MKL Python 3 CPU job. So the problem is due to https://github.com/apache/incubator-mxnet/issues/18244 (now the test relies on MXNet numpy, whereas it relied on upstream numpy before)

cc @TaoLv

[2020-05-15 06:50] leezu commented on #18330
Suggest we mark this test as xfail for MKL builds for now

[2020-05-15 07:28] leezu commented on #18330
The test doesn't actually enforce anything. It's output is not monitored (AFAIK) so it may be best to simply delete this test.

[2020-05-15 07:54] xidulu commented on #18068
Thanks for your issue,
This is indeed a very interesting use case.
I noticed that this problem also occurred in PyTorch:
[code]

If we are capable of providing a solution to this case, that would be a huge advantage over PyTorch.

[2020-05-15 16:16] John1231983 opened #18333 "How to implement cross entropy for binary segmentation using symbol only?"
Given a softmax classified feature ff (`Bx2xHxW`). And a target label size of `Bx1xHxW` . I want to implement cross entropy loss using symbol only. This is my implementation
[code]
Is my implementation correct? If not, please correct it for me. Thanks in advantage

[2020-05-15 16:29] szha opened #18334 "test_numpy_ndarray.py::test_boolean_index_assign"
## Description
test_numpy_ndarray.py::test_np_ndarray_boolean_indexing

## Occurrences
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/PR-18252/runs/9/nodes/236/steps/284/log/?start=0
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/PR-18252/r

[2020-05-15 17:29] ChaiBapchya commented on #17980
Running on Ubuntu 18.04 [which doesn't have MKL installed by default] with default cmake config doesn't use MKL as blas.
Hence we can't get the above exports.

Thus for Ubuntu 18.04 base AMI, one has to install MKL in /opt/intel & update the cmake command to
[code]
This I found uses mkl as blas & export MKL_VERBOSE=1 confirms it.

With this addition to both [default & workaround] I reran the opper

[2020-05-15 18:02] kpu commented on #17980
`dot` hasn't been taken over by MKLDNN = DNNL = oneAPI yet, so you shouldn't expect to see a difference there because it never calls MKLDNN's GEMM anyway.  FullyConnected has been taken over by MKLDNN = DNNL = oneAPI.  This inconsistency is part of the bug report.  Your logs agree with these statements.

Do you really mean LHS (4, 512, 512)?  I'm talking about LHS (4,512) RHS (512, 512).

What CPU

[2020-05-15 18:09] #16822 closed

[2020-05-15 20:52] ChaiBapchya commented on #17980
Yes logs agree with these statements. But the perf difference isn't visible via opperf.
My bad, lhs, rhs wrongly interpreted. But that's for dot,batch_dot. FC values for data, weight are same as yours.

CPU : Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz
Instance p3.8xl

This instance doesn't have avx512
[code]

OMP_Threading i used was default.

However trying FC with OMP_NUM_THREADS=4, still shows t

[2020-05-15 22:04] bill10 opened #18336 "topk operation is very memory intensive"
## Description
I am not sure if this is a bug, but the topk operation has a surprisingly high memory cost compared to, e.g., pytorch.

### Error Message
This resulted in out-of-memory error for large tensors.

## To Reproduce
For mxnet 1.6.0, python 3.6
[code]
[code]
For pytorch 1.4:
[code]
[code]

If I read correctly, mxnet uses twice as much the memory as pytorch uses (977 vs 489).

## Environme

[2020-05-15 22:17] ChaiBapchya commented on #17980
Can confirm that this issue is specific to AVX512 kernels.
Tried this on c5.xl
$ lscpu
[code]
## Results
### Default [slower]
[code]
[code]
### MKL Workaround [Faster]
[code]
[code]

To reproduce
https://gist.github.com/ChaiBapchya/a849cfd566b8114e695454850b48077b
https://gist.github.com/ChaiBapchya/5f2342f75ddeb1e21f14acac665c76ad#file-benchmark_intel_mkl-py

[2020-05-15 22:37] #18004 closed

[2020-05-15 23:07] aaraujom commented on #17980
Hi thanks for checking. Let me try to reproduce this in my end and fix it.

[2020-05-16 01:09] szha commented on #18244
Any update on this?

[2020-05-16 19:09] sxjscience opened #18341 "[DLPack][Numpy] Port from_dlpack and to_dlpack to `npx`"
## Description
In the legacy NDArray API, we have the `to_dlpack` and `from_dlpack` functionality that facilitates us to convert to/from pytorch tensors. We should port these features to the new numpy interface:

[code]

Currently, we are able to workaround via

[code]
Out:
[code]

[2020-05-17 01:21] lilongyue opened #18343 "add document for fast c++ compiling"
I find that pytorch community has   two easy optimization tools to accelerate  the c++ compiling.
I really saved a lot of  time when change code-> debug .... [a lot of time]
We can put these two easy methods to the compiling document of mxnet.

1.Use CCache
"Even when dependencies are tracked with file modification, there are many situations where files get rebuilt when a previous compilation was

[2020-05-17 01:22] lilongyue commented on #18343
https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md
c++ tips

[2020-05-17 01:33] moveforever opened #18344 "Failed to train model trained by mxnet 1.0 in mxnet 2.0"
i upgrade mxnet version from 1.0 to 2.0. I load the model which is trained at 1.0  in mxnet 2.0, and when i train the model, it came across the situation that it stops after 30 epochs, which seems to be hanged.
can somebody help me?
Any help make me appreciate it.

[2020-05-17 01:56] szha commented on #18344
@moveforever in order to others to help, you will need to provide the information for others to reproduce the problem you see. Consider using the following template.

[code]

[2020-05-17 02:48] moveforever commented on #18344
## Description
i upgrade mxnet version from 1.0 to 2.0. I load the model which is trained at 1.0 in mxnet 2.0, and when i train the model, it came across the situation that it stops after 30 batches, which seems to be hanged.

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your scri

[2020-05-17 03:22] yezqNLP opened #18345 "how to hybridize this code"
When I use the following code, which cannot be hybridized as code `height, width = x.shape[2:]` which reported error that `AttributeError: 'Symbol' object has no attribute 'shape'`.
How can I change this code to hybridize?

[code]
The method that call `calc_tf_padding`
[code]

[2020-05-17 03:37] wms2537 commented on #18345
This might help you: https://mxnet.apache.org/api/python/docs/api/symbol/symbol.html?highlight=shape_array#mxnet.symbol.shape_array

[2020-05-17 03:38] moveforever opened #18346 "contribute c++ code DataIter to support multi-formated-feature and multi-storage and multi-label sample of recommend?"
In recommendation, there appear many features:
- dense features, for instance, ctr, item exposure, item click, item statis features, etc.
- one-hot categorical features, for instance, user's network, user's gender, item_id to score
- mulit-hot categorical features, for instance, user profiles which describes interest, and there exists much interests for a user. So the length of the multi-hot categ

[2020-05-17 04:44] yezqNLP commented on #18345
Thanks, I change `x.shape` to `F.shape_array`, `math.ceil` to `F.ceil`, `max` to `F.max`, and it still reports error that `pad_h//2`, `symbol and int can not calculated by //`.

[2020-05-17 05:14] yezqNLP commented on #18345
well, I solve this problem by record the padding_size in non_hybrid mode manually and discard `calc_tf_padding`.

[2020-05-17 05:15] #18345 closed

[2020-05-17 18:28] szha commented on #18244
For now I disabled the MKL/MKLDNN parallel testing and naive engine change due to the excessive testing time these builds take. for testing, revert this commit: https://github.com/apache/incubator-mxnet/pull/18252/commits/9b7b7e26e37c087f7d009006b8dea31fdaab88ca

[2020-05-17 21:45] szha commented on #18341
added

[2020-05-17 21:45] #18341 closed

[2020-05-17 21:52] szha commented on #18343
Thanks for sharing. We currently recommend that people use ccache and ninja with the cmake for building mxnet, and thus the tips on ccache and ninja should already apply. We could potentially update the installation guide to include the better linker if it makes a big difference.

[2020-05-18 11:59] ZheyuYe opened #18353 "[Numpy] Division fails for differnt floating dtypes"
## Description
The current `mx.np.ndarray` produces errors that cannot be tolerated in the face of simple division when the numerator and denominator data types have two differnt floating dtypes `np.float32` and `np.float64` such as
[code]
whereas the correct answer is obviously 2.5.

[code]
The same calculation steps are reliable under numpy, which forces us to face this problem directly.

## Com

[2020-05-18 12:25] wms2537 commented on #18120
Only the following files are in the mkldnn folder
`dnnl_config.h  dnnl_version.h
`
Is this normal?

[2020-05-18 12:50] imyaman commented on #18008
It doesn't seem solved yet.

[2020-05-18 15:45] TaoLv commented on #18120
No. It should have the following files:
[code]

[2020-05-18 18:32] leezu commented on #18120
The root cause of this issue is that there are a lot of non-standard hard-coded paths in various places of the installation script. Instead of continuing to maintain and hotpatch these, I suggest to just use the standard process and declare the files that need to be included as cmake `INSTALL` target.

Then `cmake -DCMAKE_INSTALL_PREFIX=/tmp/mxnet ..; ninja install` will place all files that need

[2020-05-18 20:00] leezu commented on #18343
Using clang compiler and it's linker makes a huge difference for developers (as after enabling ccache, the only remaining overhead is the link time). @lilongyue would you like to add a note to the build docs?

[2020-05-18 20:36] leezu commented on #18291
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18354/1/pipeline

[2020-05-18 20:43] leezu commented on #17790
Should be fixed in latest nightly builds, as https://github.com/apache/incubator-mxnet/pull/18205 enabled the cmake setup for nightly builds

[2020-05-18 20:43] #17790 closed

[2020-05-18 22:03] leezu commented on #18346
cc @zhreshold

[2020-05-18 22:05] leezu commented on #18344
@zhreshold

[2020-05-18 22:29] zhreshold commented on #18346
@moveforever Your contribution is highly appreciated! Do you already have the code available in forms that can be reviewed? Or do you have some design doc that we can view?

[2020-05-18 22:31] zhreshold commented on #18344
@moveforever Can you provide the implementation of the DataIter?

[2020-05-19 00:32] #18293 closed

[2020-05-19 01:32] yajiedesign commented on #18276
https://github.com/apache/incubator-mxnet/pull/18362

[2020-05-19 03:13] ChaiBapchya commented on #17246
All 3 links return a 403/404
#### https://s3-us-west-2.amazonaws.com/apache-mxnet/R/CRAN/
[code]
#### https://s3.amazonaws.com/mxnet-r/
[code]
#### https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/R/CRAN/
[code]

Looks like they aren't distribute / links are broken.

[2020-05-19 03:46] XiaotaoChen commented on #18296
I sovle above problems by using cuda stream from mxnet by `mshadow::Stream<gpu>::GetStream(ctx.get_stream<gpu>())`, instead of create it.  using `cuda stream` from mxnet guarantes all operations is done before doing allreduce.  And remove the safeQueue, which is not safe in this scene. Currently, **SyncBN v3 is available.** and its' performance and result as belows:

### env

**hardware**

[code]

[2020-05-19 04:55] mathephysicist commented on #13945
Can you please elaborate. I am running into a similar issue. How should I override the pickling behavior?

[2020-05-19 05:43] #18120 closed

[2020-05-19 07:11] BenjaminCHEN2016 commented on #16743
@yzhliu Issue resolved in #18313

[2020-05-19 09:27] moveforever commented on #18346
i am merging the DataIter to newest mxnet source code, and wait a minute, i will submit pull request later.

[2020-05-19 09:28] moveforever commented on #18346
@zhreshold i am merging the DataIter to newest mxnet source code, and  i will submit pull request later.

[2020-05-19 09:29] moveforever commented on #18346
@zhreshold  i am merging the DataIter to newest mxnet source code, and i will submit pull request later.

[2020-05-19 09:30] moveforever commented on #18346
i am merging the DataIter to newest mxnet source code, and i will submit pull request later.

[2020-05-19 09:44] moveforever commented on #18346
i add some code from 3rdparty/dmlc-core to mxnet/src/io.
- 1. support multi-format features
1) i add std::vector<UnitData<IndexType> > extra(a data struct to support multi-format features in a row) as followed. UnitData can support fixed length features(dense features or one-categorical features), and also can support variable length features(multi-hot features)
[code]

- support multi-label
1) we

[2020-05-19 10:56] TriLoo opened #18364 "mx.gluon.data.Dataset class not support multiprocessing.Pool()"
## Description
I installed mxnet using `cmake`, followed the tutorial: [get started-mx](https://mxnet.incubator.apache.org/get_started/ubuntu_setup.html). However, the program cannot continue execution when using followed code:

[code]
the code is intercepted from [here - yolov3](https://github.com/dmlc/gluon-cv/blob/3c4150a964c776e4f7da0eb30b55ab05b7554c8d/gluoncv/data/dataloader.py#L273)

### Er

[2020-05-19 14:57] praniidabomb commented on #7103
im getting this error ..can anyone help.......

ImportError: cannot import name 'nd' from 'mxnet' (unknown location)

[2020-05-19 15:44] leezu commented on #7103
@praniidabomb your installation is likely faulty. Try uninstalling all versions of mxnet you have (pip uninstall mxnet)

[2020-05-19 16:08] #18234 closed

[2020-05-19 16:41] ChaiBapchya commented on #17671
@fhieber has the issue been resolved?
@leezu since the pypi has been made available can we close it?

[2020-05-19 17:33] yzhliu commented on #16743
closed by #18313

[2020-05-19 17:33] #16743 closed

[2020-05-19 18:27] zhreshold commented on #13945
@mathephysicist The multiprocessing access to same recordio file is fixed already in master.
I created another PR for fixing the multithreading case: https://github.com/apache/incubator-mxnet/pull/18366

[2020-05-19 18:44] fhieber commented on #17671
Yes, this issue is resolved for me, thank you.

[2020-05-19 19:02] ChaiBapchya commented on #17671
@leezu plz close. Thanks!

[2020-05-19 19:46] ys2843 opened #18367 "Google JQuery CDN [https://ajax.googleapis.com] is banned in China"
## Description
In MXNet website, JQuery script is loaded from google CDN in `<head>`
[code]
But this CDN is known banned in China, as you can see here:
+ [Similar Github issues on other website](https://github.com/kubeflow/website/issues/81)
+ [Things to Consider When Building a Website in China](https://www.labsterx.com/blog/things-to-consider-when-building-a-website-in-china-9-shtml/)
+ [Can web

[2020-05-19 19:48] ys2843 commented on #18367
@mxnet-label-bot add [Website]

[2020-05-19 20:13] szha commented on #18367
jquery has its own CDN which isn't affected by the blocking of google CDN. so the simplest approach to try is to use that https://code.jquery.com/

could you summarize how the current website hosting works? to have more control on this we could use cloudfront, which can also improve stability.

[2020-05-19 20:17] #17671 closed

[2020-05-19 20:25] sandeep-krishnamurthy commented on #18367
@ys2843 - Thanks for looking into this, is the jquery loading time causing huge delay in loading MXNet website in China?

I remember a ticket by @aaronmarkham for Apache Infra for CDN in China was closed. @szha - Is there a way to statically host in China?

[2020-05-19 20:50] leezu commented on #18364
Should this bug be in the gluon-cv issue tracker?

cc @zhreshold

[2020-05-19 21:32] szha commented on #18367
ECharts project worked on CDN in China according to this board report: https://cwiki.apache.org/confluence/display/INCUBATOR/May2019

We may reach out to them for their experiences.

[2020-05-19 21:35] ys2843 commented on #18367
Good idea, we could simply replace google CDN with `https://code.jquery.com/`, tested with Chinese servers and it is reachable, although it is slightly slower than local CDN, but it saves the fallback time.
Currently MXNet website hosting is handled by Apache Infra team, according to [Apache infra team:](https://issues.apache.org/jira/browse/INFRA-20203)

We cannot at present get access to serve f

[2020-05-19 21:39] szha commented on #18367
@ys2843 thanks for sharing. Is the speed adequate for the items hosted locally with the website?

[2020-05-19 22:00] ys2843 commented on #18367
@szha It is hard to tell about the speed of hosting it locally with website. But currently there are complains about the loading speed (Avg 19s) of MXNet website from China. Although include it with website codebase is definitely the most reliable way.
I would say for now we replace google cdn with Jquery cdn first to fix this blocker bug, and I will do more research on CDN possibility, and reach

[2020-05-19 22:05] marcoabreu commented on #18367
Agree, I think replacing with jQuery CDN for now is the fastest and easiest way.

[2020-05-19 23:38] #18060 closed

[2020-05-20 02:26] TriLoo commented on #18364
@leezu
I tried `Makefile & make` and found no problem running the mentioned `multiprocessing.Pool(...)`,. However, a build error happened when the ` USE_INT64_TENSOR_SIZE = 1` is enabled in `config.mk`, the error info is:
[code]

I'm going to check the flag difference between `config.mk & Makefile` and `CMakeLists.txt`, or instead debug the `begin, end` not declared error.

[2020-05-20 03:20] leezu commented on #18364
You can also try delete the 3rdparty/openmp and use the cmake build.

[2020-05-20 03:23] TriLoo commented on #18364
I will try this later ~

[2020-05-20 05:00] TriLoo commented on #18364
I used system openmp instead of `3rdparty/openmp`, the problem still exists. when running into `multiprocessing.Pool(...)`, the CPU is 100% used but always cannot continue execution @leezu

[2020-05-20 05:06] leezu commented on #18364
Thanks for confirming this. You mentioned before that the bug does not exist when compiling with Makefile. Are you certain about that? If so, can you provide a minimal reproducible example?

[2020-05-20 05:15] TriLoo commented on #18364
Sure, when I compile it using `Makefile`, this bug doesn't exist, but the `USE_INT64_TENSOR_SIZE =1` would raise the `begin,end` not declared error, i found the types of these variables in corresponding function declaration is indeed missed.

Steps to reproduce: I downloaded the latest source code from master branch, compiled it with `cmake 3.16.6 and g++ 7.3.1`, and latest gluon-cv package, then

[2020-05-20 05:37] TriLoo commented on #18364
I found that the shared lib `libmxnet.so` generate by `CMakeLists.txt` did not depend on `libiomp5.so`, but depend on `libgomp.so` only.  meanwhile, the shared lib generate by `Makefile` depend on both `libiomp` and `libgomp`, but not depend on `libmkl_rt.so` althrough I set `USE_MKL=mkl` in `config.mk`. I am not sure if this caused the `dataloader` difference. @leezu

[2020-05-20 05:48] leezu commented on #18364
I suspect you're looking at transitive dependencies instead of the actual dependencies of libmxnet. Please use `readelf -d libmxnet.so | grep NEEDED` to check the direct dependencies.

For cmake, if you like to try without mkl, be sure to call cmake with `cmake -DUSE_MKL_IF_AVAILABLE=0`

[2020-05-20 05:55] TriLoo commented on #18364
The `readelf -d libmxnet.so | grep NEEDED` outputs:
`CMake`:
[code]
Makefile
[code]

Actually, I want to use `MKL`  but looks like the `Makefile` did not work. I am going to enable `libiomp5.so` to check out if it is the source of problem.

[2020-05-20 06:59] acphile opened #18372 "Question about testing weight sharing of two resnets in test_gluon_estimator.py"
https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_gluon_estimator.py#L423
Actually val_net.output does not share the same parameters with net.output in this case.
And I don't understand what the test case is aimed for. Why only share the output parameters to test weight sharing of two resnets? @liuzh91

[2020-05-20 08:37] JustinhoCHN commented on #18057
@kmfrick Hi, any update here? I can install mxnet v1.6 on jetson nano with jetpack 4.3, as link here: #17923  but I haven't try it on jetpack 4.4, I prefer building a docker image, though no luck so far.
BTW, cross compile didn't work for me.

[2020-05-20 08:51] sxjscience opened #18373 "[Numpy] The symbolic export of BatchNorm is wrong"
[code]

Output:
[code]
We can find that `eps` and `axis` are not stored.

[2020-05-20 14:20] John1231983 commented on #18333
Any suggestion?

[2020-05-20 15:48] #18367 closed

[2020-05-20 17:13] wkcn commented on #18333
Hi @John1231983 , using `mx.nd.pick` will simplify the code.
[code]

[2020-05-20 17:52] sxjscience commented on #18373
I find that issue does not only happen in numpy but also exists in ndarray:
[code]

Output:
[code]

[2020-05-20 19:13] leezu commented on #18057
@mseth10

[2020-05-20 19:23] leezu opened #18374 "Windows nightly builds broken"
Last build is from 20200504.

cc: @yajiedesign are you aware? This currently breaks the GluonNLP Windows CI
https://github.com/sxjscience/gluon-nlp/runs/687011402?check_suite_focus=true

[2020-05-20 20:06] zhreshold commented on #18364
@TriLoo I found myself that the issue is not reproducible as I am able to pass throught the pool creation code. However, due to latest weakref change(https://github.com/apache/incubator-mxnet/pull/18328).

I build from source using cmake, and from the attached log you will notice that the training already starts without stucking
[code]

[2020-05-20 21:58] yzhliu commented on #18193
should be resolved by #18200

[2020-05-20 21:58] #18193 closed

[2020-05-20 22:46] sxjscience commented on #18353
I think we should throw the error. Currently, `float64` + `float32` cannot be mixed for division and we haven't raised the error.

[2020-05-21 00:04] yzhliu commented on #18300
We might postpone to support it after 2.0. Let's still leave the v2.0 label and revisit if we have time before the release.

[2020-05-21 00:04] yzhliu commented on #18301
We might postpone to support it after 2.0. Let's still leave the v2.0 label and revisit if we have time before the release.

[2020-05-21 01:59] #18322 closed

[2020-05-21 02:22] TriLoo commented on #18364
thanks for your reply @zhreshold .
I tried again and the problem on my machine still exists, through the `libiomp5` is added. The training log does not start  in my case actually.
I will close this issue temporarily and add the details if I find out the cause of the problem on my machine ~

[2020-05-21 02:23] #18364 closed

[2020-05-21 04:08] xidulu commented on #18353
Actually, a warning would be thrown out

[code]
The reason behind the division operation's zero output is that the computation kernel is not launched.

[2020-05-21 04:40] leezu commented on #18224
Close due to lack of response

[2020-05-21 04:40] #18224 closed

[2020-05-21 05:51] yzhliu commented on #18299
@BenjaminCHEN2016 will be helping after #18277 is merged.

[2020-05-21 09:18] liuzh91 commented on #18372
What I want to do is I need estimator support `net` for training and `val_net` for validation on dev dataset. These two networks could be

- Exactly same. i.e., With the same architecture and network weights as in the first test case
- Partially same. i.e. With the same architecture and share only a subset of network parameters as in the second resnet case
- just identical in the architecture but

[2020-05-21 14:08] bgawrych commented on #18244
@szha I've done some testing in docker for parallel tests and have some overview. For testing I've used about 35 long tests.
pytest -n 4 spawns much more threads for MKL/MKLDNN built and all the time during test CPU usage is 100% (24 cores used out of 24). So it's probably starvation problem.
Threads spawned:
MKL/MKLDNN build: most of the time it was about 250, but pick was before end and it was 2

[2020-05-21 15:56] yajiedesign commented on #18374
I already know. Now there are some compilation errors.

[2020-05-21 18:21] leezu opened #18380 "Various issues on Python 3.8"
CI doesn't test Python 3.8 and in fact some things are broken. What I noticed:

- [Use of `time.clock()`](https://github.com/apache/incubator-mxnet/search?l=Python&q=time.clock) which is deprecated since Python 3.3 and not available in 3.8 in some files breaks those functionalities on 3.8

To prevent such issues, suggest to test Python 3.8 on the unix pipelines (and test the minimum supported Pyth

[2020-05-21 19:31] leezu opened #18381 "gelu_test disabled and flaky upon enabling"
## Description
https://github.com/apache/incubator-mxnet/blob/0210ce2c136afaa0f57666e5e1c659cab353f5f3/tests/python/unittest/test_gluon.py#L1423-L1434

is actually a no-op by mistake. Upon enabling the test as follows:

[code]

the tests fails frequently

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18376/ru

[2020-05-22 02:53] leezu opened #18382 "test_CSVIter"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18376/runs/8/nodes/363/steps/746/log/?start=0

cc: @zhreshold

[2020-05-22 02:58] acphile commented on #18372
So is Line 420-423 meant to share the same parameters between net.output and val_net.output (other parts are different)? If so, actually Line 420-423 fails to share parameters:
[code]

[2020-05-22 04:08] liuzh91 commented on #18372
I think as of the time of testing, you have not initialized network weights. Would you mind testing `net.output.weight.data==val_net.output.weight.data` after both `net` and `val_net` are both initialized?

[2020-05-22 04:15] leezu commented on #18282
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/windows-gpu/branches/PR-18365/runs/10/nodes/109/steps/155/log/?start=0

[2020-05-22 04:19] leezu commented on #18372
@liuzh91 these appear to be two separate parameters, as their prefixes differ: **resnetv10**_weight vs **dense0**_weight

[2020-05-22 04:30] liuzh91 commented on #18372
It should be `val_net.output = gluon.nn.Dense(10, params=net.output.collect_params())`.

[2020-05-22 05:32] TriLoo opened #18386 "the metric.py is missed in the latest master branch"
mxnet installed using latest source code from master branch complains: `AttributeError: module 'mxnet' has no attribute 'metric'`

looks like the `metric.py` is missed or moved to another package ?

[2020-05-22 05:37] TriLoo commented on #18386
It was indeed moved to `mx.gluon.metrix` ...

[2020-05-22 05:37] #18386 closed

[2020-05-22 08:56] JustinhoCHN commented on #17923
I changed the os to jetpack 4.4 DP, same issue as yours, I try to install cuda 10.0 in jetpack 4.4, but when I import mxnet, it'll just quit with "segmentation fault". I'm working on compile the cuda 10.2 python whl for jetson. I'll let you know if I make it.

[2020-05-22 12:54] TriLoo commented on #18364
Looks like some modification errors to `FindMKL.cmake` and the missed `libiomp5` caused this error, now it works.

[2020-05-22 17:48] dlearner2020 opened #18389 "Exception in thread "main" org.apache.mxnet.MXNetError--run java exmaple code error"
## Description
I want to inference a pic by java,so I've followed the official instructions (https://mxnet.apache.org/api/java.html) and configured a maven project.But when I tried to run the sample code(ObjectDetectionTutorial.java),I encountered 2 issues:
1.when I run
java -cp "target/javaMXNet-1.0-SNAPSHOT.jar:target/dependency/*" mxnet.ObjectDetectionTutorial
in terminal,it returns an error:
错

[2020-05-22 18:04] John1231983 commented on #18333
@wkcn  thanks so much for your answer. Could you please verify my implementation. Does it correct, should I use `axis=1` in `sum` and then use `.mean()`

[2020-05-22 18:30] yzhliu commented on #18213
closed by #18277

[2020-05-22 18:30] #18213 closed

[2020-05-22 18:30] yzhliu commented on #16653
closed by #18277

[2020-05-22 18:30] #16653 closed

[2020-05-22 18:30] yzhliu commented on #18068
closed by #18277

[2020-05-22 18:30] #18068 closed

[2020-05-22 18:31] yzhliu commented on #16964
closed by #18277

[2020-05-22 18:31] #16964 closed

[2020-05-22 19:03] szha commented on #18227
let's add a magic number header to the file for proper versioning and correctly handling large integer in the new version. and for files without magic number, we keep the behavior consistent with the current behavior.

[2020-05-22 20:37] leezu commented on #18382
Also failed on CD

[2020-05-23 01:42] wkcn commented on #18333
@John1231983
Your implementation is correct.
It is available to use `data.sum(axis=1).mean()`, which is equal to `data.sum() / len(data)`.

[2020-05-23 06:27] ZheyuYe commented on #18353
Actually, for this issue, we might expect a proper error that aborts the compuation.

[2020-05-23 06:51] JustinhoCHN opened #18392 "Need cuda 10.2 python prebuild wheel for nvidia jetson platform."
## Description
Currently the newest nvidia jetson jetpack version is 4.4 DP, with cuda 10.2, cudnn 8.0. I tried to install mxnet 1.6 in jetpack 4.4, following the [same pipeline as in jetpack 4.3](https://github.com/apache/incubator-mxnet/issues/17923#issuecomment-606444051) #17923 , failed to import mxnet.

Here's what I tried:
1. Install cuda 10.0 toolkit in jetpack 4.4, [reference](https://foru

[2020-05-23 07:22] leezu commented on #18392
@JustinhoCHN you need to download the Deb files via Nvidia sdk manager.. Unfortunately Nvidia hasn't made them available outside of sdk manager yet. CI uses a private copy of the files.

[2020-05-23 07:24] JustinhoCHN commented on #18392
I know, and I tried, I can only found ```cuda-repo-l4t-10-2-local-10.2.89_1.0-1_arm64.deb``` in the sdk manager download folder, ```cuda-repo-cross-aarch64-10-2-xxxxx.deb``` is missing.

[2020-05-23 10:53] JustinhoCHN commented on #18392
[code]

These are jetpack 4.4 DP deb files, download via Nvidia SDK Manager. FYI @leezu

[2020-05-23 13:56] JustinhoCHN commented on #18392
I‘m also seeking help from nvidia developer fourms: [Looking for cuda-repo-cross-aarch64-10-2 deb file for jetpack 4.4 DP to compile MXNet python wheel](https://forums.developer.nvidia.com/t/looking-for-cuda-repo-cross-aarch64-10-2-deb-file-for-jetpack-4-4-dp-to-compile-mxnet-python-wheel/124474), see if someone can provide the deb file.

[2020-05-23 15:16] paylak2002 opened #18395 "can't import mxnet"
After installing mxnet via pip I've tried to import the mxnet package, but unfortunately I've got this error message:
Illegal instruction (core dumped)
I think there are some problems with my cpu. My cpu: Intel Corporation Xeon E3-1200 v2/3rd Gen Core processor DRAM Controller

[2020-05-23 19:22] #17579 closed

[2020-05-23 21:27] JONGGON opened #18396 "Mxnet build error / c++ , python diffrent result in mxnet 1.6.0 / and so on"
1. I think mxnet1.6.0 is unstable.

As Mentioned https://github.com/apache/incubator-mxnet/issues/17874
Mxnet1.6.0 build is still incomleted. . .

2.  When I loaded 'json, params' trained in mxnet python in c++. .
Different results are shown

I'm currently testing it with a Yolov3 model.
In mxnet 1.5.1 version,  it works

3. The Operation of amp module is different for each version

4.   To use mx

[2020-05-23 21:43] nickguletskii commented on #17557
Also failed here: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-18375/7/pipeline/

[2020-05-24 01:01] szha opened #18397 "[Development] License and Trademark issues in Distributions"
Per https://lists.apache.org/thread.html/r738c102492649c754f49e2195985bc765df07df3c8a1e06942e8872f%40%3Cdev.mxnet.apache.org%3E, there are several licensing issues that we need to address and below are the issues as well as action items in each area.

## Developer pre-releases

This section tracks the problems that are related to nightly builds and developer-only pre-releases. The related issues a

[2020-05-24 01:43] #18353 closed

[2020-05-24 04:03] sxjscience opened #18398 "[Numpy] Numpy Interface does not support float16"
Reproducible example:
[code]

Error:
[code]

[2020-05-24 05:06] szha commented on #17335
@andrei5055 thanks for reporting back your finding. Sorry that I missed the part where you recreate the dataloader multiple times. It seems evident now that the problem is starvation and thrashing of the many processes that the dataloader construction creates. However, it's unclear why explicit deletion of dataloader helped, since the object is supposed to be reference counted and freed in the nex

[2020-05-24 07:35] ChaiBapchya commented on #18395
@pengzhao-intel @TaoLv for Intel CPU support, any idea?

[2020-05-24 07:46] ChaiBapchya commented on #18396
Hey @JONGGON

In that linked issue, it was found that the steps weren't followed from the correct page.
Please follow steps for Ubuntu + Cuda setup : https://mxnet.apache.org/get_started/ubuntu_setup

Can you substantiate what do you mean by this? Any reproducible steps & logs for the issue would be great too

Does this mean you get error on `mx.gpu()`? Did you verify if cuda is installed properly

[2020-05-24 07:47] pengzhao-intel commented on #18395
Which one are you installed? Could you share the CMD line?

[2020-05-24 08:56] aGiant commented on #15431
This issue came back if using mxnet 1.6 and softmax outputs
[code]

[2020-05-24 16:32] eric-haibin-lin opened #18400 "flaky test: check leak ndarray"
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18394/1/pipeline

[code]
@leezu

[2020-05-24 22:31] hsneto commented on #18224
Sorry for the late answer. Yes, I tried to increase the timeout to 300, but it didn't work.

[2020-05-24 22:45] roywei commented on #15431
Hi @aGiant , I think your issue is a different problem. Looking at the stack trace it says `(870 vs. 7105) : reshape size must match`, could you check your input and how you are reshaping it?
If you believe it's a bug, please open a new issue.
Thanks

[2020-05-25 01:36] Crissman opened #18401 "Add Optuna to MXNet Ecosystem"
Hi!

Optuna works well for optimizing hyperparameters for MXNet, and we've written an [integration module for MXNet](https://optuna.readthedocs.io/en/latest/reference/integration.html#optuna.integration.MXNetPruningCallback), and I've recently published a [blog about using MXNet with Optuna](https://medium.com/optuna/using-optuna-to-optimize-mxnet-hyperparameters-4c06518c1ec9).

Can Optuna be adde

[2020-05-25 05:20] ZheyuYe commented on #18398
And the same error was thrown facing `float64`

[2020-05-25 09:27] ZheyuYe commented on #17823
The first use case would be improved though #18319 that insipred by #17327.

[2020-05-25 16:47] yzhliu commented on #18297
closed by #18399

[2020-05-25 16:47] #18297 closed

[2020-05-25 16:51] alexsisu commented on #18321
any updates on this one?

[2020-05-25 19:43] anko-intel commented on #17971
Hi @djaym7
Thank you for your results.  I observe some similarity in the results measured locally on  Skylake-X i9-7920X   on MxNet 1.6.0 cu102mkl binary.  The only exception is the time for 512x512 tensor on MxNet(?).
MxNet compiled from master branch (on b2144777b - fix (#18313))  uses MKL if available, and the results are much better. But Mxnet is still worse than NumPy for smaller tensors.
![i

[2020-05-25 22:15] moveforever commented on #18346
my c++ code is in https://github.com/moveforever/mxnet/commits/recomm_data_iter.
i also mend part of dmlc-code where is in https://github.com/moveforever/dmlc-core-recomm_data_iter/commit/7aa77953799d0ac152ddc5d3d32bf36988bbac36.
@zhreshold

[2020-05-25 22:27] moveforever commented on #18346
The RMFIter unitest is in https://github.com/moveforever/dmlc-core-recomm_data_iter/tree/master/unitest

[2020-05-26 05:18] zhreshold commented on #18346
@moveforever Do you mind open a PR to track the discussion? BTW, the changes seems to be incompatible with the existing API in MXDataIter and c_api

[2020-05-26 07:05] BogdanovKirill commented on #17045
Same issue

[2020-05-26 09:34] Talgin commented on #15553
Hi, @pasa13142! We used numpy, scikit-learn, pandas and many other. Installation was without problems and they worked OK. Have you found something interesting? :)

[2020-05-26 12:16] pengpeg opened #18406 "How to use multiple 'Trainer' to update parameter？"
## Description
code:
        trainer_g = mx.gluon.Trainer(self.G.collect_params(), optimizer=optimizer)
        trainer_c1 = mx.gluon.Trainer(self.C1.collect_params(), optimizer=optimizer)
        trainer_c2 = mx.gluon.Trainer(self.C2.collect_params(), optimizer=optimizer)
        ...........
        trainer_g.step(1)
        trainer_c1.step(1)
        trainer_c2.step(1)
I want to train a network

[2020-05-26 17:29] #18298 closed

[2020-05-26 17:31] leezu commented on #17045
@ptrendx is working on a fix (cf https://github.com/apache/incubator-mxnet/issues/18280#issuecomment-627010252)

[2020-05-26 17:38] leezu commented on #18400
As the flakyness occurrs with `mx.autograd.Function`, which is "known to leak" (cf the `test_function` in the same file), I suggest to mark the flaky `test_function1` as "known to leak" as well. I'm not yet sure why `test_function1` leaks only sometimes.

[2020-05-26 20:44] eric-haibin-lin opened #18409 "COMMIT_HASH is missing in MXNet nightly build"
I noticed that recent version of mxnet no longer include the hash of the commit of the build. It would be good to include that for debugging purpose.

[2020-05-26 22:08] moveforever commented on #18346
i only add new
ok, i open a pr. i have a confused question:
- Part code of dmlc-core are mended, so in the pr it can't pass build.

[2020-05-26 22:18] moveforever commented on #18344
The related code is listed in https://github.com/apache/incubator-mxnet/issues/18346.
The dataiter can be iterated. however, it appear that only iterates 20-30 batch then stops when i upgradded to mxnet2.0.

[2020-05-27 04:08] #18372 closed

[2020-05-27 04:09] leezu commented on #18400
Happened also in http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18408/runs/4/nodes/364/steps/758/log/?start=0

[2020-05-27 05:36] leezu commented on #17335
There are reference leaks in the Gluon data API. See the tests marked with garbage_expected in https://github.com/apache/incubator-mxnet/blob/c3aff732371d6177e5d522c052fb7258978d8ce4/tests/python/unittest/test_gluon_data.py

These tests were marked as garbage_expected as I didn't have time looking into the root cause of their reference leaks yet. Given the impact noted by @andrei5055 , this warran

[2020-05-27 05:37] leezu commented on #17335
@andrei5055 as I fixed a few other reference leaks in the Gluon API, could you help verify if the `del` still helps improve performance on latest master?

[2020-05-27 05:45] acphile opened #18412 "Simplifying mxnet.gluon.block APIs"
## Motivations
Currently the implementation of mxnet.gluon.block is not so pythonic and there are many redundancies

### 1. overlaps between Block._params and Block._reg_params
when we want to self-define a model, we currently need to use the code as follows:
[code]
There are several shortcomings when using this form of registration:
a. adding parameter ‘a’ will lead to double recordings in both s

[2020-05-27 06:14] sxjscience opened #18414 "Type inference bug of negation"
[code]

Output:
[code]

[2020-05-27 07:46] CassiniXu commented on #18414
@sxjscience

Thanks for your issue, I was able to reproduce this issue on my device, we discovered that the cause of this problem is https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/numpy/multiarray.py#L988, where the origin tensor would be multiplied by `-1.0` when calling negation.

I believe this problem could be resolved by changing `-1.0` to `-1`, as the backend is now able

[2020-05-27 08:05] Masquerade0097 opened #18415 "error: unknown type name 'uint32_t'"
## Description
I built the MXNet C++ library and installed it on my system. Then I got the following errors when I was trying to build a project that uses MXNet C++ library using cgo.

### Error Message
[code]

## Environment
[code]

[2020-05-27 10:52] #18415 closed

[2020-05-27 12:00] ZheyuYe opened #18416 "[Numpy] np.where fails for scalar"
As title described,  a fatal error occurs when this operation encounters a scalar.  Same operation `nd.where` does not support scalar but only `nd.ndarray`.
[code]
Output:
[code]
A worse result emerged as
[code]

[2020-05-27 12:11] Masquerade0097 opened #18417 "Unable to build MXNet C++ library on s390x"
## Description
MXNet library for C++ fails to build on s390x.

### Error Message
[code]

## Environment

[code]

[2020-05-27 17:31] leezu commented on #18395
You're using a too old cpu to be supported by the existing pip package. Please compile from source.

The pip packages will be fixed in the next release.

[2020-05-27 17:31] #18395 closed

[2020-05-27 17:32] leezu commented on #18395
Reference https://github.com/apache/incubator-mxnet/pull/18408

[2020-05-27 17:36] leezu commented on #18392
@JustinhoCHN in fact Nvidia promised to me that they'll simplify the cross compile toolchain experience. Unfortunately it's taking them a long time, but the current ETA is end of next week. Once it's done, there'll be no need to rely on sdk manager (which seems to have many issues..)

[2020-05-27 17:45] leezu commented on #18395
@ciyongch please recommend if we like to backport the build improvements to 1.7 release and fix this issue for 1.7. Otherwise the pip wheels will remain broken on older cpu until 2.x release

[2020-05-27 18:11] ChaiBapchya commented on #16254
@aaronmarkham gentle ping.
Looks like we do have anchors for section headings. Any specific pages that don't?

[2020-05-27 18:12] ChaiBapchya commented on #16323
@ys2843 This is done!!!

[2020-05-27 18:18] ChaiBapchya commented on #17982
Another issue: Anchor tags are shifted.
Anchor tags exist, but they don't work properly. They are shifted by certain margin [potentially getting hidden by the header]
For ex:
1. Go to contribute page : https://mxnet.apache.org/community/contribute.html
2. Select a specific anchor : Setup MXNet for Development [https://mxnet.apache.org/community/contribute.html#setup-mxnet-for-development]
3. It ta

[2020-05-27 18:26] leezu commented on #18382
@zhreshold the test is still flaky

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/master/runs/1979/nodes/236/steps/284/log/?start=0

[2020-05-27 18:27] leezu opened #18420 "test_np_sum crash"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/master/runs/1979/nodes/236/steps/284/log/?start=0

[2020-05-27 18:28] leezu commented on #18401
Would you like to open a PR?

[2020-05-27 18:47] thomasrockhu opened #18421 "Codecov migration to marketplace app"
Hi, Tom from [Codecov](https://codecov.io) here.

We noticed that you are using Codecov with fairly high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting issues from GitHub.

**In order to prevent any future outages, we ask that you move over

[2020-05-27 19:10] leezu commented on #18421
cc @marcoabreu

[2020-05-27 19:28] szha commented on #18414
@CassiniXu thanks for finding the root cause. In terms of the solution, I'm not sure if multiply is the right way to go. After all, we don't want int8 number to be promoted to int32 when being negated. How about implementing a negation kernel?

[2020-05-27 19:59] ys2843 commented on #16323
Thanks, PR: #18288. We can close this issue now

[2020-05-27 21:15] #16473 closed

[2020-05-27 21:15] #16323 closed

[2020-05-27 21:15] #16254 closed

[2020-05-27 21:56] szha commented on #17335
cc @zhreshold

[2020-05-27 22:39] zhreshold commented on #18382
@leezu The error is `std: :bad_alloc` indicating that it's oom?

[2020-05-27 22:52] leezu commented on #18046
Closed by https://github.com/apache/incubator-mxnet/pull/18083

[2020-05-27 22:52] #18046 closed

[2020-05-27 23:42] ys2843 opened #18422 "MXNet Website 2.0 - Slow Site Speed in China"
## Summary

Due to lack of available CDN in China from Apache, MXNet website is hosted in Japan for Chinese visitors [1]. According to the Q1 2020 Google Analytics report, it took 20 second on average to load the website in such areas and the traffic from China declined by 16% compared to previous quarter. An alternative CDN solution is discussed in this proposal.

## Introduction

MXNet website i

[2020-05-28 02:29] ciyongch commented on #18395
Hi @leezu, do you mean https://github.com/apache/incubator-mxnet/pull/18408 will address this issue for the pip wheels? If so, i suggest to include this fix in v1.7.x and v1.x to make the upcoming release more stable :) Thanks.

[2020-05-28 02:50] sxjscience commented on #18416
I can confirm that there is a bug here.

[2020-05-28 02:50] sxjscience commented on #18416
@yzhliu I tagged it as 2.0 since it gives wrong result for `np.where`.

[2020-05-28 02:52] lingweiyang opened #18425 "The number of samples is batch size. How to convert the convolution to GEMM in the CPU? What is the effect of Batch size on GEMM?"
## Description
(The location and name of the flaky test.)

## Occurrences
(Links to the known occurrences.)

## What have you tried to solve it?

1.
2.

[2020-05-28 03:16] JustinhoCHN commented on #18392
nv's reply: [link](https://forums.developer.nvidia.com/t/looking-for-cuda-repo-cross-aarch64-10-2-deb-file-for-jetpack-4-4-dp-to-compile-mxnet-python-wheel/124474/6?u=coderjustin)

Not yet.
We stuck at some cuDNNv8 segmentation fault issue.
Will keep you updated.
Thanks.

Hope they can work it out soon.

[2020-05-28 05:25] ciyongch commented on #18287
Thanks @Alicia1529 to help backport the fix to v1.7.x and v1.x branches. This issue should be fixed on v1.7.x now @zheng-da .

[2020-05-28 07:20] Crissman commented on #18401
PR opened. Thanks!

[2020-05-28 13:19] bgawrych commented on #18244
Second problem is that on CI docker image, mxnet built with cmake is probably not using Intel OpenMP, but provided with GCC OpenMP :
 ![](https://i.imgur.com/aIHB0Kp.png)

But strange thing is that ldd command shows different linking:
- for make: ldd lib/libmxnet.so | grep omp shows:
                libgomp.so.1 => /usr/lib/x86_64-linux-gnu/libgomp.so.1
- for cmake: ldd build/libmxnet. so | grep o

[2020-05-28 14:29] woody-git opened #18428 "mxnet.metric documentation page is blank"
## Description
mxnet.metric documentation page is blank. All body documentation on this package is empty.
https://mxnet.apache.org/api/python/docs/api/metric/index.html

## To Reproduce
Open public documentation page at https://mxnet.apache.org/api/python/docs/api/metric/index.html

[2020-05-28 16:26] #17497 closed

[2020-05-28 16:28] leezu commented on #18428
It's due to an API change in upcoming MXNet 2. For now you can refer to the documentation of 1.6 release https://mxnet.apache.org/versions/1.6/api/python/docs/api/metric/index.html

[2020-05-28 16:29] leezu opened #18429 "Website defaults to master API documentation"
Website shows API documentation for master version by default. That's not useful, as most users will run the stable MXNet version and will be confused by breaking changes in MXNet 2 website.

Reference:
https://github.com/apache/incubator-mxnet/issues/18428

[2020-05-28 16:30] leezu commented on #18429
cc: @connorgoggins can we default to the latest stable branch?

[2020-05-28 16:34] leezu commented on #18244
cmake build uses MKL by default if available. You can look at the cmake configuration output. To force using MKL, set `cmake -DUSE_BLAS=MKL`. Reference https://github.com/apache/incubator-mxnet/blob/382279e0d5b88b2bd05e6c00105fe1e9eb2bc600/cmake/ChooseBlas.cmake#L21-L32

[2020-05-28 17:49] leezu commented on #18382
@ChaiBapchya I looked at the CloudWatch metrics but couldn't find data on the memory usage. Should we activate https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/mon-scripts.html on the instances?

[2020-05-28 21:23] andrei5055 commented on #17335
@leezu: I tested the changes you made for [PR 18328](https://github.com/apache/incubator-mxnet/pull/18328/files) by launching the same script 3 times with and without `del data_loader`. I still see that the program runs faster when `del data_loader` is used. The average run times for 1 test are
(a) with `del`:        (77.0 + 75.8 + 80.6) / 3 = 77.8 sec
(b) without `del`:  (83.2 + 84.7 + 82.5) / 3

[2020-05-28 21:42] leezu commented on #17335
Thank you for testing @andrei5055. That's encouraging. If you like, it would be great to test if https://github.com/apache/incubator-mxnet/commit/0210ce2c136afaa0f57666e5e1c659cab353f5f3 and https://github.com/apache/incubator-mxnet/commit/c3aff732371d6177e5d522c052fb7258978d8ce4 respectively further reduce the overhead

[2020-05-28 21:51] leezu commented on #18321
Are you able to provide a minimal reproducible example using only gluoncv?

[2020-05-28 21:51] leezu commented on #18321
cc @zhreshold

[2020-05-28 21:57] ChaiBapchya opened #18430 "MXNet Binary wheels don't contain certain includes"
## Description
MXNet Binary wheels released as part of  don't contain
Following 4 files

https://github.com/apache/incubator-mxnet/blob/382279e0d5b88b2bd05e6c00105fe1e9eb2bc600/tools/pip/MANIFEST.in#L18-L21

are supposed to be included but aren't

## To Reproduce
Pull the latest mxnet wheel
[code]
Unzip it into a folder "unzipped_wheel"
[code]
Search for any of these files in the unzipped wheel
[c

[2020-05-28 22:00] ys2843 commented on #18429
Please note that the traffic to 1.6 version website only account for 0.54% of total traffic according to Google Analytics.( from 01/2020 to present ).
The problem seems to be the API docs website failed to clearly showing the users what version of docs they are seeing and what is the stable version.
@sandeep-krishnamurthy

[2020-05-28 22:04] ys2843 commented on #18422
@mxnet-label-bot add [website]

[2020-05-28 22:15] ys2843 commented on #14583
@aaronmarkham This issue was resolved. We can close it.

[2020-05-28 22:17] zhreshold commented on #18321
@alexsisu I think the issue is irrelevant to mxnet, please take a look at the example in gluoncv: https://github.com/dmlc/gluon-cv/tree/master/scripts/segmentation and fill for issue if you think it still doesn't resolve your problem.

[2020-05-28 22:22] ys2843 commented on #16444
It should be fixed. Can't reproduce any more.

[2020-05-28 22:24] ys2843 commented on #17353
Can't reproduce any more. The link is good now.

[2020-05-28 23:05] zachgk commented on #14583
Thanks @ys2843. Fixed in #18182

[2020-05-28 23:05] #14583 closed

[2020-05-29 00:21] pengzhao-intel commented on #18425
Could you elaborate on why do you want to covert Conv to GEMM in CPU?

[2020-05-29 04:04] #17353 closed

[2020-05-29 07:25] wsqshiqing opened #18433 "Convert Clip Failed with "Unrecognized attribute: max for operator Clip""
Hey, I was trying convert mobilenetv3_small(from gluoncv) to ONNX, But I got these following:

    proto.SerializeToString(), ctx)
onnx.onnx_cpp2py_export.checker.ValidationError: Unrecognized attribute: max for operator Clip
==> Context: Bad node spec: input: "hardsigmoid0__plusscalar0" output: "relu60_relu6" name: "relu60_relu6" op_type: "Clip" attribute { name: "max" f: 6 type: FLOAT } attribut

[2020-05-29 10:16] Tommliu commented on #18416
I think this issue is because of the wrong param assignment in FFI

  param.x = args[2].operator double();

I will add a quick fix to that.

[2020-05-29 11:01] bgawrych commented on #18244
I discovered that slowdown is caused by ENABLE_TESTCOVERAGE=ON flag not by OpenMP.
I think overhead comes from locking some resources by injected code, because
OMP_NUM_THREADS=1 improves speed of tests.

With ENABLE_TESTCOVERAGE=1 & unset OMP_NUM_THREADS:
- test_operator.py::test_lstm_bidirectional – test time: 305s
- tests/python/unittest/test_gluon.py::test_slice_pooling2d_slice_pooling2d - test

[2020-05-29 14:22] girishkuniyal opened #18436 "import mxnet gives error : Illegal instruction (core dumped)"
## Description
After installing mxnet via command (inside new conda environment)
`$ pip install mxnet`
jupyter kernel restart on import mxnet command and python console gives error : illegal instruction (core dumped)

### Error Message
Python 3.7.6 | packaged by conda-forge | (default, Mar 23 2020, 23:03:20)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information

[2020-05-29 18:04] leezu commented on #18382
@zhreshold there seem to be more issues with the test

[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/PR-18435/runs/1/nodes/236/steps/284/log/?start=0

[2020-05-29 18:05] leezu commented on #18382
I suggest to disable it until the root cause is fixed: https://github.com/apache/incubator-mxnet/pull/18391/

[2020-05-29 18:15] leezu commented on #18244
Do you have any insights into why this only affects MKL builds?

[2020-05-29 19:05] leezu commented on #18436
Currently you need to build from source. It'll take a bit more time to fix the Pypi wheels

[2020-05-29 23:05] leezu opened #18442 "CI: tests hang during test collection stage"
## Description
[code]
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18391/1/pipeline/366

or

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/master/1969/pipeline/376

[2020-05-30 00:45] ma-hei commented on #18380
@leezu can this be reproduced locally by running python tests via nosetest?

[2020-05-30 00:47] leezu commented on #18380
Yes. You'll see an exception due to accessing an undefined function. Though note that you should use pytest instead of nosetest.

[2020-05-30 01:15] ma-hei commented on #18380
I see, so as part of this fix we would update the base image of ubuntu_cpu to 20.04. I will create a first PR in which the base image of ubuntu_cpu is updated to 20.04, to see which tests are failing.

[2020-05-30 09:23] girishkuniyal commented on #18436
@leezu  in anything can i help in this issue?

[2020-05-30 20:04] #18287 closed

[2020-05-31 02:01] shuo-ouyang opened #18447 "Question about implementation of gradient compression strategies"
Hi guys, I am currently studying gradient compression for distributed communication reduction. I found that some strategies have been implemented in MXNet, such as Signum and 2bit quantization. However, such methods are implemented at different levels. [Signum](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/optimizer/signum.py) is an optimizer while [2bit quantization](https://

[2020-05-31 02:03] shuo-ouyang commented on #18447
@mxnet-label-bot add [Question]

[2020-05-31 04:46] apeforest commented on #18165
It works with the np_shape API:

[code]

[2020-05-31 13:26] yajiedesign commented on #18430
windows includes "include" from 20200531

[2020-05-31 14:26] carpdm commented on #17045
Same issue on lastest master branch.

[2020-05-31 15:09] carpdm commented on #14263
@leezu  following your advice, the size of generated .so is reduced by 3/4, thanks.

[2020-05-31 15:31] FranciscoReveriano opened #18449 "NNVM Error when building from Source"
## Description
I am trying to build MxNet from source. I have checked and my CUDA/CUDNN is installed properly. I have tried using GCC 6 and 7.

But when I run the make command. I get the following error.
I was wondering if there is a solution to this issue.

![Screenshot from 2020-05-31 10-34-47](https://user-images.githubusercontent.com/48685139/83356188-4c2e0c80-a332-11ea-967f-18883d78c43b.png)

[2020-05-31 16:44] #18373 closed

[2020-05-31 19:54] ChaiBapchya commented on #18430
Can you point me to the PR that fixed it? So we do that for linux binaries?

[2020-06-01 03:47] FranciscoReveriano commented on #10558
I tried all this solutions but none work for me. I have the:

error: "nnvm:NodePtr' has not been declared error.

[2020-06-01 03:53] chinakook commented on #10558
@FranciscoReveriano modify all these to nnvm::ObjectPtr

[2020-06-01 06:05] ciyongch commented on #18395
Hi @leezu , would you mind to help backport the fix to v1.x and v1.7.x as well? Thanks!

[2020-06-01 09:01] bgawrych commented on #18244
@leezu

This affects CPU (openBLAS) build as well.
CPU build measurement:

With ENABLE_TESTCOVERAGE=1 & unset OMP_NUM_THREADS:
- test_operator.py::test_lstm_bidirectional – test time: 105.87s and 112.04s

With ENABLE_TESTCOVERAGE=1 & OMP_NUM_THREADS=1:
- test_operator.py::test_lstm_bidirectional – test time: 89.02s and 91.87s

Without ENABLE_TESTCOVERAGE & unset OMP_NUM_THREADS:
- test_operator.py

[2020-06-01 10:37] mseth10 opened #18454 "[Doc] "Use data from S3 for training" doc outdated"
The doc "[Use data from S3 for training](https://mxnet.apache.org/api/faq/s3_integration#step-1-build-mxnet-with-s3-integration-enabled)" on MXNet website is outdated as it refers to test_conv.py script which has been removed as part of PR #18394

[2020-06-01 13:46] kpuatamazon commented on #17006
Speed.  All those `std::string` and `std::unordered_map` objects don't come cheaply.

I compared an integrated fork with a custom operator.

https://github.com/kpuatamazon/incubator-mxnet/tree/intgemm integrated version end-to-end Sockeye performance (based on 1.6.0):
[code]
Custom operator version (based on 1.7.x. because it had to be for custom operators):
[code]
Conditions:
`unset MXNET_ENGINE_

[2020-06-01 18:35] eric-haibin-lin opened #18458 "Update MXNet examples with Gluon training APIs"
A large number of [examples](https://github.com/apache/incubator-mxnet/tree/v1.7.x/example) in the mxnet official repo is using the Module APIs for training. Since the Module APIs will be removed in mxnet 2.0 in favor of the easier-to-use Gluon APIs, it will be great to get help from the community to update/rewrite these examples using the Gluon APIs.

Below is a list of examples using Module APIs

[2020-06-01 18:41] leezu commented on #18449
Please follow https://mxnet.apache.org/get_started/ubuntu_setup

[2020-06-01 18:42] leezu commented on #18430
@ChaiBapchya, @yajiedesign manually maintains the windows binaries. But it would be good to merge the code into the public repo

[2020-06-01 20:46] szha commented on #18458
Going forward, we should have properly maintained examples that are checked by CI and rerun frequently to make sure they are function. We should probably decide on the proper infrastructure for doing that first.

Also, since the toolkits are better equipped to maintain examples for each domain, it might be a good idea to having them in the toolkits instead.

[2020-06-01 22:15] thomasrockhu commented on #18421
Hi @marcoabreu and @leezu, let me know if there's anything I can do to help here.

[2020-06-01 22:58] leezu opened #18460 "CI: flaky compilation"
## Description
Sometimes compilation on CI fails due to compiler bugs.

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-cpu/detail/PR-18455/1/pipeline/

We may reduce the number of occurrences by switching to a compiler version with stable c++17 support on the unix tests (and only test gcc7 on centos tests)

[2020-06-01 23:00] leezu commented on #18421
@thomasrockhu if you can provide more details on the existing setup, that will be helpful. Changing this may require opening a ticket with the Apache Software Foundation Infrastructure Team at https://issues.apache.org/jira/secure/Dashboard.jspa

[2020-06-01 23:21] thomasrockhu commented on #18421
Hi @leezu, thanks for getting back to me. Regarding Apache Software Foundation Infrastructure Team, we asked a [similar repository] (https://github.com/apache/skywalking/issues/4835#issuecomment-635714799) to move to the integration as well. Since access has been granted, it should only require an admin to add this repository by configuring the [integration](https://github.com/apps/codecov)

[2020-06-02 00:15] ChaiBapchya commented on #18430
Yes. @yajiedesign if you could point me to what fixed it, I can do that for other builds as well.
Thanks.

[2020-06-02 00:33] mseth10 opened #18462 "[v1.7] PyPI description of nightly wheels outdated"
The PyPI description for v1.7 nightly wheels is outdated. The wheels use the non MKL-DNN versions of doc files for each flavor.

This is where doc files are referenced:
https://github.com/apache/incubator-mxnet/blob/v1.7.x/tools/pip/setup.py#L116

The doc folder needs to be updated as per #17776 #17681
https://github.com/apache/incubator-mxnet/tree/v1.7.x/tools/pip/doc

[2020-06-02 00:46] leezu opened #18463 "julia/deps/build.jl automatically downloads non-ASF binary build"
https://github.com/apache/incubator-mxnet/blob/2be8b956bbe653ce8c1261eccc626a7190506923/julia/deps/build.jl#L113-L130

This may be in violation of ASF policy.

[2020-06-02 02:45] acphile opened #18466 "Error occurs when setting the same prefix for two SyncBatchNorm"
[code]
**it will raise error:**
[code]

I doubt that it is because two SyncBatchNorm have the same names for their parameters.

[2020-06-02 04:44] leezu commented on #10558
You probably forgot to update your submodule. Run `git submodule update --init --recursive`

[2020-06-02 05:11] eric-haibin-lin commented on #18466
Looking at its implementation, it seems that it uses the name (prefix) to decide which tensors to sync: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/contrib/nn/basic_layers.py#L235

It's better to reflect this in the documentation

[2020-06-02 05:53] vikas784 opened #18468 "I am not able to use pymc.Deterministic properly can anyone suggest me how to use it"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2020-06-02 07:01] leezu commented on #18466
I don't think this is a documentation issue. There is a bug in the backend implementation using global state wrongly where it mustn't use global state at all.

[2020-06-02 07:31] #18299 closed

[2020-06-02 11:26] alexsisu commented on #18321
@zhreshold @leezu Im not trying to make use of a segmentation model (fcn) but of a object detection model (*faster_rcnn_fpn_resnet101_v1d_coco*).
I provided an example here:

https://github.com/alexsisu/different_issues/blob/master/issues_mxnet_fpnresnet/issue1.py

Also, I dont understnad how this is NOT relevant to mxnet since the stack trace points exactly to an mxnet library.
I allready filled

[2020-06-02 12:34] marcoabreu commented on #18421
Thanks Thomas, I will check with Apache Infra in parallel.

In the meantime, could you elaborate what steps are necessary here to use the ingration? Which part of our setup is exactly being replaced - speak, which changes in our code-base have to be done? What has to be done before we make the switch and what afterwards?

Thanks for assisting us on this matter!

[2020-06-02 12:39] marcoabreu commented on #18421
From what I can see, the access for the app has already been granted. What steps are necessary for us to take here now?

[2020-06-02 13:09] thomasrockhu commented on #18421
Hi @marcoabreu, I just checked and everything looks good on our side. Thanks for the quick turnaround here!

[2020-06-02 13:12] thomasrockhu commented on #18421
As far as necessary steps, that's the only one. There is no need for code changes here. If you have been using the [team bot](https://docs.codecov.io/docs/team-bot), it can now be removed.

[2020-06-02 14:07] armdebugger commented on #17045
met the same issue
any fix or workaround for it?
I tried master branch,  v1.4.x,  v1.5.x,  got the same result
Environment:
Ubuntu 18.04
GCC 7.6
CUDA 10.2
CUDNN 7.6.5

[2020-06-02 14:35] jarlostensen commented on #15383
This is still an issue, with 1.18.4. am I right? At least I am seeing it with mxnet 1.16.

[2020-06-02 15:28] iblis17 commented on #18463
well, IIRC that code exists in the era of early stage of MXNet.jl.

I think there are two ways to provide a binary release and replace the current code
1. Just download stuff from PyPI, unpack and get the `libmxnet.so`, maybe some hacks are needed for Julia.
2. Introduce [BinaryBuild.jl](https://github.com/JuliaPackaging/BinaryBuilder.jl) to build and release binary. Here is a Julia blog post abou

[2020-06-02 15:45] #18414 closed

[2020-06-02 15:46] matteosal commented on #18078
@yzhliu
Me and @zleyk22 spent some time investigating this and tracking it down. We managed to track it down to [this line](https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/broadcast_reduce_op.h#L966).
`OP::Map(data[i], DType(out[out_idx]))` computes `DType(out[out_idx]) / data[i]`, which returns nan when `data[i]` is zero (out input is `mx.nd.array([[4, 0]])`).

The logic

[2020-06-02 16:02] leezu commented on #18463
Thanks @iblis17 for clarifying. Note that Option 1

won't work as the PyPI builds are not official ASF builds either. However, nothing of the MXNet code automatically downloads the unofficial PyPI builds. We may add an official PyPI `apache-mxnet` build in the future but that will only cover CPU builds due to issues with CUDA EULA.

For Option 2: The same route as with PyPI can be taken: Have an o

[2020-06-02 16:15] leezu commented on #18397
Another issue https://github.com/apache/incubator-mxnet/issues/18463

[2020-06-02 17:33] leezu commented on #17045
Set -DMXNET_CUDA_ARCH=7.0 or whatever arch you're targeting as workaround.

[2020-06-02 17:36] leezu commented on #18421
@marcoabreu thank you for checking with INFRA. I requested the access for the app as per the suggestions in above linked Apache repo. They stated we don't need an INFRA ticket but simply request the access with github.

@thomasrockhu thank you. So let's close this ticket.

[2020-06-02 19:11] ChaiBapchya commented on #17980
@aaraujom any update?

[2020-06-02 19:43] woreom opened #18471 "Can't install Mxnet on raspberry pi with opencv 4.0.0"
## Description
So I'm following the tutorial on : https://mxnet.apache.org/get_started/?platform=devices&iot=raspberry-pi&
I'm trying to use opencv and mxnet together for my project. I tried the prebuild whl but it uses numpy 1.12.4 or something but the opencv needs 1.16.2 or higher.
### Error Message
I tried to install with docker I get the error ModuleNotFoundError: No module named 'docker.error

[2020-06-02 20:22] leezu commented on #18471
Please use `cmake -DUSE_F16C=0 [...]`. It seems the autodetection is not working correctly.

[2020-06-02 21:16] leezu commented on #18471
@woreom you can refer to https://github.com/apache/incubator-mxnet/pull/18472 for a improved guide. If you have any issues with the updated guide, please comment on the PR.

[2020-06-03 00:01] aaraujom commented on #17980
Hi @ChaiBapchya - I was able to reproduce issue on my end. DNNL is missing some kernels for very specific problem sizes affecting the gemm size in this thread. We will address this issue in DNNL.

[2020-06-03 01:42] zhanghang1989 commented on #18466
Don't use the same prefix for two BatchNorm layer.

[2020-06-03 01:49] leezu commented on #18466
Thanks @zhanghang1989. Unfortunately that's not an acceptable workaround for the usecase.

[2020-06-03 01:56] pengzhao-intel commented on #17971
@djaym7 please take a review whether @anko-intel answered your question :)

[2020-06-03 02:06] armdebugger commented on #17045
thanks leezu
build success by setting the CUDA_ARCH

[2020-06-03 02:30] nttstar opened #18475 "BatchNorm can not converge with scale=False"
## Description
 BatchNorm operator with ``scale=False`` can not converge.

### Error Message
No error message, but loss value and training accuracy is abnormal comparing with ``scale=True`` BatchNorm.

## To Reproduce
We can try ``https://github.com/nttstar/arcface.np`` to train arcface. Add one BatchNorm op with ``scale=False`` after final embedding layer

## What have you tried to solve it?

1.

[2020-06-03 02:56] yzhliu commented on #16991
default dtype landed in https://github.com/apache/incubator-mxnet/pull/18251

[2020-06-03 02:56] #16991 closed

[2020-06-03 03:28] yzhliu commented on #17083
(Tentatively) @AntiZpvoh will be helping once he has finished ongoing tasks.

[2020-06-03 07:17] yzhliu commented on #18416
should be fixed by #18451

[2020-06-03 07:17] #18416 closed

[2020-06-03 08:06] ciyongch commented on #18463
Hi @leezu, may I know if this is an actual concern for the 1.7.0 release? Thanks!

[2020-06-03 09:03] p517332051 opened #18476 "用C接口初始化一个模型，然后多线程去调用这个模型出bug"
## Description
(A clear and concise description of what the bug is.)
用C接口初始化一个模型，然后多线程去调用这个模型出bug。
后面查出来是这个文件下src/executor/graph_executor.cc的 1398行
/*
rshape = graph_.MoveCopyAttr<mxnet::ShapeVector>("shape");
*/
他会把shape这个这个属性给erase掉，然后别的线程再跑到这行就报错，目前已经把1398行改成
/*
  if(is_train){
      rshape = graph_.MoveCopyAttr<mxnet::ShapeVector>("shape");
  }
  else{
      rshape = graph_.CopyAttr<mxnet::Sha

[2020-06-03 09:55] bgawrych commented on #18065
@pengzhao-intel Can we close this issue? Link to PR https://github.com/apache/incubator-mxnet/pull/18320

[2020-06-03 10:15] huzhouxiang commented on #18224
have you resolved this issue yet ? I also got this issue after I wrote a gluon.Dataset by myself, but I can' t figure it out

[2020-06-03 10:22] pengzhao-intel commented on #18065
closing since PR is merged.

[2020-06-03 12:05] marcoabreu opened #18477 "Have installation instructions for Android and iOS"
At the moment,our website does not give any instructions for mobile phones like Android and iOS.

[2020-06-03 14:24] ciyongch commented on #17329
Hi @szha @roywei @leezu @TaoLv  , as almost all of the listed issues here were addressed. I tried to enhance the current license check tool to cover multiple license issue in PR https://github.com/apache/incubator-mxnet/pull/18478, please help to take a review.
With this enhancement, there're several files with multiple license header were exposed on v1.7.x branch, please check below:
1. [python/m

[2020-06-03 14:28] iblis17 commented on #18463
Hi @leezu,

Sure. I'm going to survey the new artifact system in Julia 1.3+.

About the CUDA build in Python, could you show more details about the releasing process done by third-party?
And I'm not sure what is this about:
" ... need to be properly labeled as per Apache Software Foundation Trademark policy"

[2020-06-03 15:15] hanke580 commented on #18102
PR #18419, gradient fixed
All check passed.

[2020-06-03 17:12] leezu commented on #18463
@ciyongch it may be prudent to remove it for the 1.7 release.

@iblis17 we're currently clarifying the exact requirements with the Apache Software Foundation Trademark team. It'd probably boil down to building the binary from the official MXNet release tarball and clarifying in the description that it ships optional features that are https://www.apache.org/legal/resolved.html#category-x

I'll let

[2020-06-03 18:17] leezu opened #18479 "Third-party releases from Jenkins CI / CD on Dockerhub"
As of early 2019 https://hub.docker.com/u/mxnet provides automated third-party releases of the MXNet project (see [LEGAL-427](https://issues.apache.org/jira/browse/LEGAL-427)). The major change since then is that the pipeline moved to https://github.com/apache/incubator-mxnet/ via #16547 and is executed by the Jenkins Server. This may jeopardize it's status as a third-party. Note that due to inclu

[2020-06-03 19:21] leezu commented on #18479
According to Roy Fielding from the ASF Legal team, "A third party acts on its own behalf, outside our scope or direction. AWS is not a third party unless it isn't acting at our direction – with our direction, it's just a data processor, which is our responsibility as the first party."

As of #16547, the Dockerhub releases are under control of the ASF as the CD pipeline code is under PPMC control.

[2020-06-03 19:28] #18102 closed

[2020-06-03 22:14] leezu commented on #18224
@huzhouxiang I suggest you open a new issue containing a minimal reproducible example

[2020-06-03 22:18] #17971 closed

[2020-06-03 22:32] sxjscience commented on #18412
Is there a small example to showcase how we can share parameters in the new API?

[2020-06-03 22:33] leezu commented on #17329
@ciyongch in general the following applies:

https://www.apache.org/legal/src-headers.html

I would thus recommend to remove the ASF headers from the files that do not contain substantial modifications compared to their 3rd-party original. This will need to be checked for each file and can only happen with agreement of the code authors (see the respective git history who added and modified the fil

[2020-06-03 23:00] yzhliu commented on #18137
As they been well tracked by separate issues, I will close this issue.

[2020-06-03 23:00] #18137 closed

[2020-06-03 23:53] sxjscience commented on #18449
@FranciscoReveriano We have recently switched to cmake. Would you try to install via cmake again?

[2020-06-04 02:22] rsoftone opened #18481 "mx.nd.random.randint does not produce integers when using R 3.6.2 mxnet 1.5 Windows 10"
## Description
randint is not producing integers when I call it in R.  Instead I get non-integer values.  The mxnet version is 1.5.

### Error Message
None - the output in R is clearly not integers.

## To Reproduce
In R Studio:

`install.packages("https://s3.ca-central-1.amazonaws.com/jeremiedb/share/mxnet/CPU/3.6/mxnet.zip", repos = NULL)`
`library(mxnet)`

### Steps to reproduce

             [

[2020-06-04 05:06] ciyongch commented on #18463
Thanks @leezu, I'm not sure the replacement for removing it, may I know your suggestion to handle this issue for the 1.7 release? Thanks!

[2020-06-04 05:41] ciyongch commented on #17329
Thanks for your inputs and help to ping the original author @leezu!

Regarding mx2onnx stuff, the following python/license files and [claim in top level license file](https://github.com/apache/incubator-mxnet/blob/v1.7.x/LICENSE#L474-L552) were added in the very first submit https://github.com/apache/incubator-mxnet/pull/11213 by @Roshrini .

I'm wondering if it's ok to leave the following files (

[2020-06-04 05:47] yzhliu commented on #16099
@BenjaminCHEN2016 will be helping.

[2020-06-04 06:54] eric-haibin-lin commented on #9686
- mx.symbol.LogisticRegressionOutput
- mx.symbol.LinearRegressionOutput
- mx.symbol.MAERegressionOutput
- mx.symbol.LogisticRegressionOutput
- mx.symbol.LinearRegressionOutput
- mx.symbol.SVMOutput

[2020-06-04 07:56] BenjaminCHEN2016 commented on #16099
@VoVAllen It seems that this problem no longer exists? I tested on the latest master branch, asscalar() works as expected. Would you check if the problem still occurs in your environment?

[2020-06-04 11:58] VoVAllen commented on #16099
Thanks

[2020-06-04 11:58] #16099 closed

[2020-06-04 20:06] yifeim commented on #17676
Hi there, I am too a little concerned about dropping module support. Since a large percent of the user based started with module APIs, dropping that support could alienate the user base.

I got familiar around mxnet-1.3. The main functions I appreciate are:
1. sparse vector symbols - which are still best supported on module API or Symbol-Gluon;
2. control flow operators - which allow people to cre

[2020-06-04 21:34] szha commented on #17676
@yifeim module API will continue to be supported in 1.x and users are free to stay on that version. For 2.x, we will only support numpy/npx API so users who adopt those API will have to reimplement the model anyway. the main function you listed will all be available in 2.x.

[2020-06-04 21:44] szha opened #18486 "Rectified Adam"
## Description

It would be great to have the rectified Adam optimizer in mxnet

## References
- https://arxiv.org/pdf/1908.03265.pdf

[2020-06-04 23:21] leezu commented on #18463
There'd be no replacement to automatically download non-ASF binaries from our source code due to ASF policy. We can simply remove the code in question and only keep the "If not found, try to build automatically using BinDeps".

Later, @iblis17 may provide binaries that our website may link with a disclaimer in the Julia install docs.

[2020-06-04 23:55] wkcn commented on #18475
Hi @nttstar , there was a bug in BatchNorm in the previous version of MXNet. The bug was reported in #18373 , and it was fixed in PR #18377 . Could you please try the latest version of MXNet?

[2020-06-05 00:01] wkcn commented on #18373
Hi @sxjscience , is it available to delete the pre-built pip packages impacted by this issue?

BatchNorm is universally used, and this bug will not raise any exception. Users may install the previous version of MXNet with this bug, and find that the accuracy drops.

[2020-06-05 00:05] sxjscience commented on #18373
@wkcn Yes, this is a disaster for the users. However, deleting the pre-built pip packages is also not a good option because there are users that are not using BatchNorm. We will need to ensure that the official 1.7 release does not contain this bug.

[2020-06-05 00:48] szha commented on #18373
cc @ciyongch

[2020-06-05 00:54] leezu commented on #18471
Closing as the instructions were updated

[2020-06-05 00:54] #18471 closed

[2020-06-05 00:56] leezu commented on #18400
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18485/runs/2/nodes/365/steps/570/log/?start=0

[2020-06-05 02:00] acphile commented on #18412
## A example
[code]

[2020-06-05 02:11] ciyongch commented on #18373
Hi @szha, v1.7.x doesn't include the PR https://github.com/apache/incubator-mxnet/pull/17679 (it's a new feature after code freeze), so there's no such issue on this branch. While for v1.x branch, the fix were already cherry-picked.
I just check the latest commit of both v1.7.x and v1.x branches with the above reproducer, it works well. So no action is needed for this case.
[code]

[2020-06-05 02:16] ciyongch commented on #18463
Sure, no problem :)
I will submit a hot-fix to address this license issue: remove this piece of code and replace with a warning for windows platform.

[2020-06-05 03:12] ciyongch commented on #17329
Hi @zhreshold , @hzfan ,  can you help to have a check on the license header of  the following files? Thanks.
[code]

[2020-06-05 05:02] sxjscience commented on #18475
@wkcn I communicated with @nttstar offline and https://github.com/apache/incubator-mxnet/issues/18373 should not be the casue. Would you help try with `scale=False` and see if there is anything wrong?

[2020-06-05 05:23] yifeim commented on #17676
👍

[2020-06-05 09:14] wkcn commented on #18475
@sxjscience I'm sorry that I don't have any machine with GPU to check it recently.

I read the code of batch norm and its unittest.
There is a gradient check when `fix_gamma=True`:

https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_operator.py#L1777,

but no output check when `fix_gamma=True`:

https://github.com/apache/incubator-mxnet/blob/master/tests/python/unitte

[2020-06-05 09:51] wkcn commented on #18475
I try to test the batch norm with `fix_gamma=True` on GPU, the test fails on `assert_almost_equal(bn_beta.grad.asnumpy(), db.asnumpy(), atol=atol, rtol=rtol)` in [test_operator.py#L1950](https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_operator.py#L1950).

[code]

The result on CPU is correct.

[2020-06-05 09:53] woreom commented on #18471
Thank you for fast response and investigation.
but still running
`cmake \ -DUSE_SSE=OFF \ -DUSE_CUDA=OFF \ -DUSE_OPENCV=ON \ -DUSE_OPENMP=ON \ -DUSE_MKL_IF_AVAILABLE=OFF \ -DUSE_SIGNAL_HANDLER=ON \ -DCMAKE_BUILD_TYPE=Release \ -GNinja ..`
will result in the following error although use_cuda is off:

[code]

[2020-06-05 10:44] andevellicus opened #18491 "Matchall in visualize.jl has been deprecated as of Julia 1.3"
## Description
to_graphviz will no longer work.

### Error Message
ERROR: LoadError: UndefVarError: matchall not defined
Stacktrace:
 [1] _extract_shape(::String) at /home/###julia/packages/MXNet/XoVCW/src/visualize.jl:210
 [2] to_graphviz(::SymbolicNode; title::String, input_shapes::Nothing) at /home/andevellicus/.julia/packages/MXNet/XoVCW/src/visualize.jl:91
 [3] to_graphviz at /home/###/.julia

[2020-06-05 11:06] wkcn commented on #18475
I'm fixing the bug and I will submit a PR later.

[2020-06-05 14:58] andevellicus opened #18493 "3D Upsampling"
## Description
Currently MXNet does not support upsampling on 5D tensors (3D images). There is more and more work being done in the medical field where 3D images are very common. As MXNet supports 3D transposed convolutions, 3D Upsampling would be very helpful as well, since there are instances where upsampling has been shown to be as effective if not more so than a transposed convolutions.

## Re

[2020-06-05 16:34] leezu commented on #18493
If it's supported by cuDNN or Intel oneDNN, you may only need to edit a few lines to expose the feature in MXNet when built with either of the backends.

[2020-06-05 16:36] leezu commented on #18471
There's probably some cache issues. You ran cmake with a different command line options before and didn't delete the `CMakeCache.txt`

[2020-06-05 16:45] andevellicus commented on #18493
I'd be happy to give it a go, just not sure how to go about doing that. I'm using the Julia bindings, if that makes a difference.

Also, I think there's a way of using average pooling backwards to accomplish the same thing?

[2020-06-05 18:58] leezu commented on #18421
@thomasrockhu previously we only tracked codecov data without exposing it in Github PRs. Our codecov is not stable, and until then we'd like to not expose the data. Enabling the marketplace app lead to the codecov status being shown on every PR and commit. How do we disable this again?

[2020-06-05 19:08] thomasrockhu commented on #18421
Hi @leezu, if you want to disable status checks, you can update the `codecov.yml` to include

[code]

Let me know if that works for you!

[2020-06-05 20:49] zhreshold commented on #17329
@ciyongch The origin of modulated_deformable ops is from https://github.com/msracver/Deformable-ConvNets/blob/master/DCNv2_op/modulated_deformable_convolution-inl.h

[2020-06-05 23:16] wkcn opened #18499 "[BUG] The wrong gradient of Batch Norm when `grad_req = add`"
## Description
Hi there, we found that the current implementation of batch norm layer does support `grad_req = add`. If `grad_req` is set to `add`, the gradient of input data is not accumulated. Besides the gradient of gamma and beta are not assigned to any value by mistake.

## To Reproduce
[code]

It outputs the following message:
mxnet-2.0.0b20200421 installed by pip
[code]
MXNet 1.6 installed

[2020-06-05 23:55] sxjscience commented on #18499
I'm tagging it as v2.0. @ciyongch How about also tagging it as v1.7? BN is a very basic layer and it's not acceptable to have bug in BN.

[2020-06-06 01:21] wkcn commented on #18499
I'm tryining to fix it.

[2020-06-06 03:35] leezu commented on #18421
Thank you @thomasrockhu. We'll work towards making the codecov stable and then re-enable the badges.

[2020-06-06 03:35] #18421 closed

[2020-06-06 04:55] leezu commented on #18412
Thanks @acphile! I think we can consider if the `param.name` attribute is really needed. Instead we can solely rely on the structure based naming scheme. This is because I'm afraid that the `set_prefix` approach may not be completely robust (users may access the `param.name` before the prefix is set). I put an example at the code review: https://github.com/apache/incubator-mxnet/pull/18413#pullreq

[2020-06-06 05:35] wkcn opened #18501 "gcc10 memory usage regression for compiling indexing_op.o"
## Description
Hi there, I try to build MXNet2.0 (only cpu) in my laptop with 16GB memory. I found that it takes over 16GB memory to compile a single file src/operator/tensor/index_op.o. I need to create extra 8GB virtual memory for building this file.

Is it possible to divide indexing_op into multiple small files to reduce the memory cost?

## Environment
The latest code of MXNet 2.0
Arch Linux

[2020-06-06 07:43] ciyongch commented on #17329
Thanks @zhreshold for the link.
As the original file only contains **MIT License** from the link you provided, while the following MXNet's files stated **MIT License**, **ASF License** and **Caffe Copyright Notice and Disclaimer**.
Besides, the new codes in MXNet more like the majority modification to the original version, @zhreshold  can you please help to confirm this?
[code]

So the above two f

[2020-06-06 07:48] ciyongch commented on #18499
Hi @sxjscience , I got the same result as mxnet-2.0.0b20200421 with 1.7. As it's a functionality bug exposed before the final release, I do suggest to include this fix for 1.7 as well.
@wkcn would you mind to help backport the fix to 1.7.x and 1.x when it's merged to master? Thanks!

[2020-06-06 09:27] yajiedesign commented on #18430
@leezu  I'm trying to merge to CD recently,At present, the main obstacle is that there is no CD windows machine available.
@ChaiBapchya, It's modification setup.py Include "include".But I don't know which CD now use  setup.py.is https://github.com/apache/incubator-mxnet/tree/master/python/setup.py ?

[2020-06-06 09:42] wkcn commented on #18499
@ciyongch I'm glad to do it : )

[2020-06-06 09:43] woreom commented on #18471
I checked but there were no CMakeCache.txt other than the one in /build/ but I rm -rf build every time I use the command cmake

[2020-06-06 11:30] hzfan commented on #17329
@ciyongch The two files originate from https://github.com/numpy/numpy/blob/master/numpy/core/einsumfunc.py . I translated them from python to cpp. The original files are subject to the the following license: https://github.com/numpy/numpy/blob/master/LICENSE.txt

[2020-06-06 11:38] woreom commented on #18471
Okay I finally found out what was wrong  I use the command:
`cmake -DUSE_SSE=OFF -DUSE_CUDA=OFF -DUSE_OPENCV=ON -DUSE_OPENMP=ON -DUSE_MKL_IF_AVAILABLE=OFF -DUSE_SIGNAL_HANDLER=ON -DUSE_LAPACK=OFF -DUSE_F16C=0 -DCMAKE_BUILD_TYPE=Release -GNinja ..`
I add `-DUSE_LAPACK=OFF -DUSE_F16C=0` because I encounter:
[code]
but even after that I still get :
[code]
what version of python did you use to build?

[2020-06-06 15:14] yajiedesign commented on #18430
@ChaiBapchya
the key point code.but "python/setup.py" is many different to my setup.py.I'm not sure where to add it
[code]

[2020-06-06 17:14] thomasrockhu commented on #18421
@leezu great, let me know what I can do to help!

[2020-06-06 19:15] Neutron3529 opened #18506 "KLDivLoss misbehave"
## Description
In the current version of `KLDivLoss`, the return value is not the same value calculated by SoftmaxCrossEntropyLoss, which is not documented. It may due to the incorrect settings which using mean rather than sum dealing with the return value.

I have submitted a PR ( PR #18423 ) to fix such misbehave.
In addition, this PR also fix `SDMLLoss` which uses `KLDivLoss`'s result.

### Err

[2020-06-07 08:22] pengzhao-intel commented on #18425
NAB,Closing since no enough information.

[2020-06-07 08:22] #18425 closed

[2020-06-07 10:28] ciyongch commented on #17329
Thanks @hzfan for the update :)

Based on the inputs from @hzfan and @zhreshold , the following files are not minor modifications but major modification/addition compared to the origin version. Any suggestions for these files or just leave them as it is? @leezu @roywei @szha @TaoLv , thanks!
[code]

[2020-06-07 17:56] leezu commented on #18471
The error is

[code]

Try `git submodule update --init --recursive`

[2020-06-07 22:03] leezu commented on #18501
Fixing this would be a welcome improvement. Did you investigate if the high memory consumption is consistent among gcc and clang, as well as still present on gcc 9 (or 10) / clang 10?

[2020-06-07 23:12] wkcn commented on #18501
Hi @leezu , the compiler I used is the latest version of gcc, namely gcc 10.1.0.
`indexing_op.o` is the only file which takes a long time and over 16GB memory to build.
I have not yet tried clang.

[2020-06-08 05:01] alicera opened #18509 "fail to mxnet to onnx"
cause;
I convert mxnet model to onnx ,it is ok.
But when I use
`onnx2trt *.onnx -o *.trt`
the model is fail

env :
pip install mxnet-cu102
pip install onnx==1.3.0  -i https://pypi.tuna.tsinghua.edu.cn/simple

model ;
https://www.dropbox.com/s/akxeqp99jvsd6z7/model-MobileFaceNet-arcface-ms1m-refine-v1.zip?dl=0
ref : https://github.com/deepinsight/insightface

mxnet to onnx code;

import mxnet as mx

[2020-06-08 07:11] sxjscience commented on #17981
I can reproduce the error.

[2020-06-08 07:25] sxjscience commented on #17981
@chinakook Thanks for reporting this. I just simplified the example as follows. The root cause is that `conv1` is not used in the computation of `Bar` but still appears in `.collect_params()`. So the symbolic saving breaks here:
https://github.com/apache/incubator-mxnet/blob/e3493e7b47ddcaa6974280ee432c82eb89d0f756/python/mxnet/gluon/block.py#L1281-L1287

[code]
Error:
[code]

[2020-06-08 07:26] sxjscience commented on #17981
@leezu @yzhliu  I'm tagging it as `gluon`, `numpy` and `2.0` because it's the bug of Gluon and also appears in the numpy interface and should be solved in 2.0.

[2020-06-08 13:05] woreom commented on #18471
Okay so I did what you said and I got to the point that I have to run `ninja -j4` everything went fine till the last 4 builds where I got the error:
`virtual memory exhausted: Cannot allocate memory
ninja: build stopped: subcommand failed.`
I have an armv71 processor and 4gb ram
I did it on my own laptop which has an 8gb ram and it still didn't work

[2020-06-08 14:38] leezu commented on #18471
https://github.com/apache/incubator-mxnet/issues/18501

You can use swap or help fix this bug or compile the stable mxnet version

[2020-06-08 14:52] woreom commented on #18501
I believe maybe I could help since clearly we are having the same problem, I don't have a notion about cross-compiling but I have access to 16GB+ mem computer

[2020-06-08 14:56] woreom commented on #18471
I tried increasing swap but it wouldn't use it.
also it would be a great help if you reupload the prebuild mxnet-1.5.0.whl

[2020-06-08 15:43] wkcn commented on #18501
I remember that it takes fewer than 8GB memory to build the eldder version of MXNet.
In the latest version, most files still takes fewer than 4GB memory, but only a few of files (e.g. indexing_op) takes more than 16GB memory (building by g++ 10.1.0).

If we can reduce the cost of memory, it is helpful for building on laptop computer and edge machine, which own less than 8GB/16GB memory.

[2020-06-08 15:53] ngluna opened #18510 "Example of how to convert csv to mxnet recordio"
We had a customer requesting an example of how to convert a .csv file to MXNet RecordIO.

I found an example of how to convert images into a RecordIO on the MXNet's [FAQ](https://mxnet.apache.org/api/faq/recordio). But I could not find an example of the aforementioned on MXNet's site or on the internet in general.

I sent a follow-up email asking specifics of why they wanted to make said file form

[2020-06-08 15:55] woreom commented on #18501
Only 4 files take more than 8GB

[2020-06-08 16:19] leezu commented on #18501
I think we should consider this a release-critical bug. @woreom @wkcn did you try if this affects the 1.7 / 1.x branches as well?

cc: @ciyongch

[2020-06-08 16:27] leezu commented on #18471
@woreom the wheel is not compliant with ASF licensing policy and it's pointing to an older release. You can still find the link by looking at the commit (search for "whl").

[2020-06-08 17:41] #16297 closed

[2020-06-08 17:41] #18499 closed

[2020-06-08 17:41] TMVector commented on #18509
Handy dandy colab notebook reproduces a similar error in ONNX Runtime. https://colab.research.google.com/drive/163tkcoYT09Ap31vYotWlhSOshlgWd5V-?usp=sharing

[2020-06-08 17:52] szha commented on #18509
@alicera thanks for reporting this and @TMVector thanks for sharing the notebook for reproducing the issue. Would you mind trying out mxnet nightly builds for 1.7 and 2.0 and see if the issue still exists?

depending on the result, @ciyongch may need to include the fix for the upcoming 1.7 release.

[2020-06-08 17:53] szha commented on #18509
You can install 1.x nightly builds with
[code]
or 2.x nightly builds with
[code]

[2020-06-08 18:06] josephevans opened #18511 "Possible Performance Regressions"
Hi MXNet team,

We recently switched our benchmarking system to use v1.x builds (previously using builds from v2.0) and noticed some possible performance regressions. We also changed the benchmarks to only run weekly instead of daily, so unfortunately we only have 2 data points for comparison. Here are the benchmark tests with possible performance regressions:

* gnmt_result_1
* mobile_pose_mobile

[2020-06-08 19:19] szha commented on #17329
@ciyongch what are the requirements regarding modification from the original licenses of these source code?

[2020-06-08 21:51] andevellicus opened #18514 "set_optimizer does not exist in model.jl"
model.jl line 446:
set_optimizer(kvstore, optimizer)

set_optimizer is not implemented, instead changing the line to:
setoptimizer!(kvstore, optimizer)

resolves the issue.

[2020-06-08 21:53] andevellicus commented on #18491
Changing
[code]
to
[code]

will fix this error.

[2020-06-08 22:11] leezu commented on #18491
Please open a PR

[2020-06-09 00:37] wkcn commented on #18501
@leezu sorry that I did not check 1.7 anx 1.x branches.

[2020-06-09 01:07] yzhliu commented on #18281
@BenjaminCHEN2016 is helping.

[2020-06-09 02:42] zehuichen123 opened #18519 "Unknow storage type: -1 when defining custom Op"
Hi, I am trying to define a custom op to replace `SoftmaxOutput` since I want to weighted loss value before mx.make_loss. However, I encountered the Exception shown below:
[code]
The version of mxnet is 1.6.0.
Here is the custom op I defined:
[code]

[2020-06-09 03:02] wkcn commented on #18519
It works in MXNet 2.0.
It seems to be a bug in the old version of MXNet.
A temporal solution is to remove the function `declare_backward_dependency`.

[2020-06-09 03:06] zehuichen123 commented on #18519
Thanks for your reply, however this `declare_backward_dependency` function is just the same as `mx.operator.CustomOpProp` defined here: https://mxnet.apache.org/api/python/docs/api/mxnet/operator/index.html#mxnet.operator.CustomOpProp.declare_backward_dependency

[2020-06-09 03:27] wkcn commented on #18519
Similar issue: https://github.com/apache/incubator-mxnet/issues/16365
You need to comment out all `need_top_grad=False` and `declare_backward_dependency` in this project.

[2020-06-09 04:54] manaclan opened #18520 "Add model prunning"
## Description
**Model Prunning**
Pytorch and Tensorflow has already support models prunning to make the models lightweight, some even got reduction in training time.
## References
Some reference about the API could be found [here](https://pytorch.org/tutorials/intermediate/pruning_tutorial.html)

[2020-06-09 05:44] chinakook commented on #17981
@sxjscience  I made a fix as https://github.com/apache/incubator-mxnet/pull/17970. It may be ugly, but it works fine for me. It would be appreciated if you have better solution.

[2020-06-09 06:20] szha commented on #15181
@cloudrivers onnx 1.6 has a different version of opset definition than previous versions, see https://github.com/onnx/onnx/blob/master/docs/Versioning.md#released-versions

[2020-06-09 08:16] zehuichen123 commented on #18519
comment out all `need_top_grad` and `declare_backward_dependency` does work! Thanks a lot!

[2020-06-09 08:16] #18519 closed

[2020-06-09 08:36] TMVector commented on #18509
Just attaching the model zip to get a stable URL: [model-MobileFaceNet-arcface-ms1m-refine-v1.zip](https://github.com/apache/incubator-mxnet/files/4750897/model-MobileFaceNet-arcface-ms1m-refine-v1.zip)

[2020-06-09 08:40] TMVector commented on #18509
Thanks for the reply @szha. I got the same error with 1.x and 2.x nightly using the commands you provided (notebook is updated):

[2020-06-09 11:02] smileyzyw opened #18524 "Can't run YOLOv3 in gpu, not enough workspace size"
## Description
hi, guys, I recently tried to run the yolov3 example code provided in [07. Train YOLOv3 on PASCAL VOC](https://gluon-cv.mxnet.io/build/examples_detection/train_yolo_v3.html) with my own dataset. The CPU version runs pretty smoothly (comment the GPU context), but the GPU version runs with problems, saying that the workspace size is not enough. I tried to reduce the batch_size from 16

[2020-06-09 11:34] wkcn commented on #18524
I think it may be related to the driver.
Is it convenient to update the nvidia driver and cuda into the version 10.1 ?

[2020-06-09 11:55] smileyzyw commented on #18524
Thank you for replying, it is not easy to persuade my boss to give me the access, but it would be my final choice if nothing more can be done. I plan to update cuda8.0 to 9.0 first with the current driver.

[2020-06-09 13:51] ciyongch commented on #17329
Hi @szha, for the two `im2col` files, they're based on `Caffe Copyright Notice and Disclaimer` and `MIT license`, for the two `np_einsum` files, they're based on `NumPy Developers Copyright`. The common requirement of them is
[code]
Please check below details:
**Caffe Copyright Notice and Disclaimer**
https://github.com/apache/incubator-mxnet/blob/v1.7.x/src/operator/contrib/nn/modulated_deformabl

[2020-06-09 13:57] ciyongch commented on #18509
As confirmed by @TMVector both 1.x and 2.x had such issue. I'm wondering if there's anyone would help to fix this? Thanks!

[2020-06-09 16:23] xidulu opened #18527 "Weird CI failure on GPU cases"
## Description

[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-gpu/branches/PR-18403/runs/1/nodes/385/steps/478/log/?start=0

[2020-06-09 16:25] #13970 closed

[2020-06-09 16:29] szha commented on #18509
@sandeep-krishnamurthy is this something your team could help out?

[2020-06-09 16:35] szha commented on #17329
relicensing them would require approval from copyright owners. Both the MIT license and the BSD 3-clause for numpy are in category A which we can include, so there shouldn't be a requirement for relicensing them. https://www.apache.org/legal/resolved.html#category-a

[2020-06-09 17:52] leezu commented on #18509
Have you tried onnx 1.5.0? @alicera

[2020-06-09 18:03] leezu commented on #18210
Github support says:

Thank you for your continued patience while we investigated these issues.

Due to similar reliability reports and errors when using our current MacOS platform for GitHub Actions, we have decided to make larger changes that will take provide a long-term solution.

We understand that you may continue to experience reliability issues while on the current platform, and hope to pr

[2020-06-09 18:46] djaym7 commented on #17250
Getting the same error while using transpose in dataset's transform in dataloader but when transpose is moved outside the transform, the issue is not present

[2020-06-09 21:57] yzhliu commented on #16357
closed by #18286 #18371

[2020-06-09 21:57] #16357 closed

[2020-06-09 21:58] leezu commented on #18527
@xidulu shared the root cause with me offline (related to python imports and hiding of `np` symbol). I think he'll open a PR tomorrow.

[2020-06-09 22:08] leezu commented on #17329
I request a recommendation of the MXNet ASF Mentors for handling the "2 license headers" issue. According to the ASF policy, there should not be two license headers. But maybe it's fine in this case. Please see https://lists.apache.org/thread.html/r6d8f62b1ad34f6dbe109a01e715723e8996cd478a01a08498aa02a2e%40%3Cdev.mxnet.apache.org%3E

[2020-06-10 00:52] leezu commented on #18501
There are more problems with the numpy ops:

[code]

when compiling with llvm-7...

[2020-06-10 01:41] leezu commented on #18501
There seem to be some more issues. In certain build configuration with llvm 7, many of the numpy object files blow up

[code]

[2020-06-10 02:15] wkcn commented on #18475
Hi @nttstar , the bug of BatchNorm has been solved in #18492 .

[2020-06-10 02:19] wkcn commented on #16297
Hi @shesung , the bug has been fixed in #18500 .
Thank you for the report!

[2020-06-10 02:39] nttstar commented on #18475
@wkcn Thanks! I will check it in the next pip package release.

[2020-06-10 03:04] imyoungyang commented on #15181
@szha any suggestion or sample codes for this issue? Customer trained on the SageMaker but can't transform to ONNX.
Here is the repeatable issue [code](https://github.com/imyoungyang/myAWSStudyBlog/blob/master/sagemaker-image-classification-detection/8-tensort/MXNet%20to%20ONNX%20-%20issue%2015181.ipynb)

[2020-06-10 03:45] smileyzyw commented on #18524
I update my cuda to 9.0 version and also cudnn to 7.6 (follow the instruction [here](https://stackoverflow.com/questions/39379792/install-cuda-without-root/47503155#47503155?newreg=2dbf0e7336ab4d32b0d81d5d52c0906a) )

Then I run the mxnet example code `a = mx.nd.ones((2, 3), mx.gpu())`, only a warning goes like
`this mxnet has been built against cuda library version 9000, which is older than the o

[2020-06-10 03:47] #18524 closed

[2020-06-10 09:19] Talgin commented on #15553
Hi, @pasa13142
Try to directly connect your monitor to the server (not with ssh), sometimes the network can cause fluctuations.

[2020-06-11 02:25] pengzhao-intel commented on #18511
what is the backend and build?

[2020-06-11 03:28] acphile commented on #18412
Thanks @leezu . Based on the suggestions, I remove the method `set_prefix` and separate the param.name and structure based naming scheme. Here are the details
## Parameter name
Once a parameter is created, `param.name` would not be changed in the following operations. It is in the form of `param_{uuid4}_{name}`, where `name` is from `__init __` parameter. Here `name` is optional, default `weight`.

[2020-06-11 03:43] haylie-murray opened #18534 "Cant find incubator-mxnet/example/ssd/"
I was curious if there is a new place to find https://github.com/apache/incubator-mxnet/blob/master/example/ssd?

[2020-06-11 03:51] eric-haibin-lin commented on #17676
Drop the following loss operators since they are used with Module API:
- mx.symbol.LinearRegressionOutput
- mx.symbol.MAERegressionOutput
- mx.symbol.LogisticRegressionOutput
- mx.symbol.SVMOutput
- mx.symbol.SoftmaxOutput

[2020-06-11 04:07] wkcn commented on #18534
Hi @haylie-murray , the ssd example has been removed in the PR #18525, since it uses `mx.module.*`, which is deprecated in MXNet 2.0.

It can be found in the `v1.x` branch: https://github.com/apache/incubator-mxnet/tree/v1.x/example/ssd

[2020-06-11 06:46] ciyongch commented on #18501
Hi @leezu, @wkcn , as this is only a build issue when building MXNet from source on some certain machines (installed with small memory < 16GB), I suggest not to tag it a block issue for 1.7.0 and consider to include the fix if it's available before the release happened.
User still can install MXNet via binary release/nightly image or increase the virtual memory of their build machine as a workarou

[2020-06-11 06:52] ciyongch commented on #18509
Hi @sandeep-krishnamurthy @szha @leezu , may I know if this is a block issue for 1.7.0. thanks?

[2020-06-11 11:15] woreom commented on #18501
it would be great if you could make a prebuild that works on a raspberry pi with armv7 because I tried to build all versions from 1.2.1 to 1.6.0 and failed.

[2020-06-11 11:38] wkcn commented on #18501
Hi @ciyongch , I agree that we don't need to tag it a block issue, and the issue can be fixed after MXNet 1.7 releases.

After the problem addressed, we can backport the PR to 1.7.x branch.

[2020-06-11 11:48] wkcn commented on #18501
Hi @woreom , could you please create a issue about requesting pre-build MXNet on ARM?

MXNet consists of ARM build and test (#18264 , #18058 ). I don't know whether the pre-build package will be released.

[2020-06-11 11:53] woreom commented on #18501
#18741 I did but @leezu closed it. I will open another one

[2020-06-11 12:38] woreom opened #18536 "MXNET build not working on armv7 (raspberry pi 4)"
## Description
Okay this is the following of #18471 , I used the new instruction but I get an error still
the latest would be `virtual memory exhausted: Cannot allocate memory ninja: build stopped: subcommand failed.` on the last 4 files (mxnet-1.6.0). I also tried other versions from 1.2.1 to 1.6.0 and all the prebuilds that were available (I think it was mxnet-1.5.0) . the all resulted in an err

[2020-06-11 14:00] ciyongch commented on #18501
Thanks for your confirm @wkcn :)

[2020-06-11 14:13] wkcn commented on #18471
Hi @leezu , is it possible to release pre-built MXNet pacakge on ARM?

It seems that the older release could not be re-uploaded because of ASF licensing policy, but is it possible to release pre-built MXNet 1.7 and 2.0+ package on ARM?

[2020-06-11 14:19] wkcn commented on #18501
@woreom It seems that the pre-built MXNet 1.5 package will not be uploaded because of ASF licensing policy, but pre-built MXNet 1.7 and 2.0+ on ARM may be uploaded.

Before that, you can try the naive build or cross-compiling, following the instruction: https://mxnet.apache.org/get_started?platform=devices&iot=raspberry-pi&

[2020-06-11 16:20] leezu commented on #18501
I disagree. Official MXNet releases are source releases. At this point in time, there exist 0 compliant binary releases.
It's very important that we don't introduce regressions that prevent users from building MXNet.

[2020-06-11 16:31] leezu commented on #18471
Based on https://github.com/apache/incubator-mxnet/pull/18513 we can do portable and compliant binary releases later in principle. But this will require compiling the toolchain ourselves for ARM, as flang compiler binary is not available for ARM.

But for the raspberry pi setup, the portability aspect may not be so important. We can decide to publish non-portable (target one or a few select OS ver

[2020-06-11 16:37] leezu commented on #18536
For the memory issues, you need to setup swap. It's mentioned in the guide you're following.

But in general it's better to just cross compile on a powerful machine. That's tested by our CI server and I added instructions to the website recently. Did you try it?

[2020-06-11 17:20] sammieghabra commented on #5888
@zhanghang1989 in the current BatchNorm, is running_mean and running_var synchronized across all GPUs? What about in the SyncBatchNorm?

[2020-06-11 17:44] sandeep-krishnamurthy commented on #18509
I tested with MXNet 1.5.0 / 1.6.0 and unfortunately, the issue exists there as well.
This is a bug that we need to be fixed. But, I think this is not a blocker for v1.7.0 and can be listed as known issue. Suggestions @szha @leezu ?

[2020-06-11 20:35] modeste2015 opened #18539 "mxnet.executor.backward does not compute the true values of gradients at all"
`mxnet.executor.backward` gives false values of gradient. the gradient of `a` must be equal to `[2 2]` and the gradient of `b` must equal to  `[1 1]`. mxnet.executor.backward gives instead `[8 14]` and `[4 7]`. It seems the error do not come from python [file](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/executor.py). The issue comes from c++ [file](https://github.com/apache/

[2020-06-11 21:15] yzhliu commented on #18281
closed by #18523

[2020-06-11 21:15] #18281 closed

[2020-06-11 21:20] #18422 closed

[2020-06-11 23:30] leezu commented on #18501
Based on my preliminary test, the memory issue is present in 1.7.x @ciyongch
I measure the overall memory consumption during compilation using linux control group feature. https://github.com/gsauthof/cgmemtime

Results are

v1.7.x
Child user: 9731.020 s
Child sys :  280.320 s
Child wall:  286.761 s
Child high-water RSS                    :   11339504 KiB
Recursive and acc. high-water RSS+CACHE :

[2020-06-12 00:42] wkcn commented on #18539
Hi @modeste2015 ,
In the line `texec.backward(out)`, the argument of `textec.backward` is the `out_grads`. It should be `texec.backward(out.ones_like())`

[2020-06-12 00:44] wkcn commented on #18539
Another solution: add `mx.sym.MakeLoss`
[code]

[2020-06-12 01:29] leezu commented on #18501
Doing a single-threaded build (`ninja -j1`) just costs around 2 GB memory at maximum.

Child user: 4167.479 s
Child sys :  159.497 s
Child wall: 4327.964 s
Child high-water RSS                    :    1952008 KiB
Recursive and acc. high-water RSS+CACHE :    2155568 KiB

[2020-06-12 01:34] wkcn commented on #18501
I'm trying to use `ninja` to build MXNet 2.0 (the master branch) on my laptop (16 GB mem + 8GB virtual mem). I will update the log later.

[code]

[2020-06-12 01:36] leezu commented on #18501
Thanks @wkcn. I'll report the same with gcc7. You are using gcc10 right?

[2020-06-12 01:36] modeste2015 commented on #18539
thank you @wkcn

[2020-06-12 01:36] #18539 closed

[2020-06-12 01:38] wkcn commented on #18501
@leezu
Yes, gcc 10.1.0, i7-7500u (2 cores 4 theads), MXNet(master, 1bf881f381f91b157a26d9beddcaa8f4960cc038)

[2020-06-12 03:34] mikethreeacer opened #18540 "DataLoader Operator stack inferring shapes failed"
## Description
I tried to use custom dataset with dataloader to train a model.
The error appears when use dataloader to get a batch.
Images are loaded in dataset correctly but all images and labels are None in batch.

[code]

### Error Message
[code]

## Environment

mxnet-cu101mkl 1.6.0
ubuntu 18.04
cuda 10.1
python 3.6.9

[2020-06-12 04:33] wkcn commented on #18540
could you please print the image.shape and label.shape in __getitem__.

[2020-06-12 04:42] wkcn commented on #18540
The cause is that nd.stack doesn't support zero-shape array.
replacing `self.label` with `self.label = [nd.array([0]) if x.split('/')[-1] == 'test' else nd.array([1]) for x in self.files]` works.

[2020-06-12 05:43] mikethreeacer commented on #18540
Thanks a lot!

[2020-06-12 05:43] #18540 closed

[2020-06-12 05:55] sxjscience opened #18543 "Gradient checkpointing in the Gluon interface"
The backward mirroring functionality, which can greatly reduce the memory requirement in the training deep networks, is missing in the Gluon interface.

Currently, we have the support in our symbolic API but do not have the support in Gluon, see https://github.com/apache/incubator-mxnet/pull/18228. We may add the support to Gluon.

[2020-06-12 05:56] sxjscience commented on #18543
@szha @yzhliu @eric-haibin-lin Do you think it's a valid 2.0 item? PyTorch has nice support of gradient checkpointing: https://pytorch.org/docs/stable/checkpoint.html

[2020-06-12 06:07] eric-haibin-lin commented on #18543
May be enabled in the unified executor

[2020-06-12 07:14] xidulu opened #18544 "Deferred computation API returns "wrong" data type given DeepNumpy input"
[code]

Out:
[code]

Not sure what the output type from forward() is supposed to be, but it should be consistent with that from hybrid_foward()

[2020-06-12 11:05] hmf commented on #16438
Newbie to MxNet,

Can anyone tell me if it is possible to build for 2.13?

TIA

[2020-06-12 15:39] aaronmarkham commented on #11634
This is resolved on the new site.

[2020-06-12 15:39] #11634 closed

[2020-06-12 16:14] aaronmarkham opened #18547 "website redirects needed"
## Description
I'm sure there are more, but let's put them here for now (until this gets resolved and we have to open another issue)

* https://mxnet.incubator.apache.org/versions/master/faq/model_parallel_lstm.html --> https://mxnet.apache.org/api/faq/model_parallel_lstm
* https://mxnet.incubator.apache.org/versions/master/faq/multi_devices.html --> https://mxnet.apache.org/api/faq/distributed_tr

[2020-06-12 17:02] leezu commented on #18501
Single process build of MXNet master with gcc7 gives the following results:

[code]

That's a 24% increase to 1.7, but less than 3GB high-water. So I don't think we have any blocking issue here. @wkcn I suggest you reduce the number of parallel builds to stay under 16GB. Also recommend to use `ccache` to avoid rebuilding.

[2020-06-12 17:57] ys2843 opened #18548 "Merge beta.mxnet.io To MXNet Official Website"
### Introduction

MXNet developer community is committed to provide our customers the best user experience in exploring MXNet through the well maintained official website (https://mxnet.apache.org/). Given that there are several MXNet websites hosting a subset of documents, it benefits our users if we merge the good features and resources all to the official website to make it as the one stop for

[2020-06-12 17:58] ys2843 commented on #18548
@mxnet-label-bot add [website]

[2020-06-12 18:20] mseth10 opened #18549 "Removal of train_mnist.py script causes multiple dependency failures"
The script `train_mnist.py` was removed as part of this commit https://github.com/apache/incubator-mxnet/commit/fb73de7582de4e622299a4ad045e25f771568193

This used to be a common testing script used across MXNet, and thus has caused failures in CD among other places.

[2020-06-12 18:45] ys2843 commented on #18547
I will add the redirect

[2020-06-12 19:19] djaym7 opened #18551 "MXnet with cuda wont install on windows 10!"
Is gpu really supported in windows ?

tried using 1.6.0,1.5.0 with python 3.6,3.7,3.8 with cuda installed (verified using nvcc --version) and no matter what it wont impor t!

Cant find dlls, or OSError: [WinError 126] The specified module could not be found or new everytime!!

[2020-06-12 21:31] ys2843 commented on #18547
Question about the second link `multi_devices.html` => `distributed_training`. If we add this link, there will be 2 different cards link to the same content. https://mxnet.apache.org/api/python/docs/tutorials/performance/index.html

[2020-06-12 22:22] leezu commented on #18544
Thanks for reporting the issue @xidulu! I opened a PR to fix it. Please review.

[2020-06-12 23:48] wkcn commented on #18501
Hi @leezu , I am not sure that it costs less than 3GB memory to build indexing_op.o.

By building with ninja in multiple threads, It takes less than 12 GB memory.
However, it takes more than 16GB memory to build indexing_op.o by ‘make’ in single thread. I need to confirm it.

[2020-06-13 09:55] Neutron3529 commented on #18551
My MXNet with win10 is OK(although quite slow compared to Linux)
have you ever tried calling `nvidia-smi`?

[2020-06-13 10:02] wkcn commented on #18501
Hi @leezu , I found the cause.
The cost of memory depends on the compiler and the building method (ninja or make)
I build `indexing_op.o` by ninja with different version of gcc.

Compiler | The cost of memory(Child high-water RSS)
-------------|---------------------------
g++ 7.4.1 | 1.78 GB
g++ 10.1.0 | 11 GB

Besides, since the compiler flags is different in different building ways (for example

[2020-06-13 10:16] wkcn commented on #18501
Hi @leezu @woreom @ciyongch , I have found the cause.

The cause is related to the compiler. g++ 10 takes over 11 GB memory to build `indexing_op.o`, but g++ 6 and 7 take less than 2 GB.

The solution is to build MXNet with g++-6 or g++-7.

Thanks for your help!

[2020-06-13 23:32] #18544 closed

[2020-06-14 06:48] szha opened #18558 "array protocol bug in np.asarray"
## Description
there's a weird array protocol bug that adds many additional dimensions to an array when calling np.asarray on mx.np.ndarray.

## To Reproduce
[code]

[2020-06-14 06:52] szha commented on #18558
also, the time it takes to execute np.asarray for basically a no-op is linear to the size of the first dimension...
[code]

[2020-06-14 19:21] ChaiBapchya commented on #17804
This has been completed. Unix-gpu builds use G4 since May 11
https://github.com/apache/incubator-mxnet/pull/18186

[2020-06-14 19:21] ChaiBapchya commented on #18527
@leezu @xidulu Any update?

[2020-06-14 19:29] ChaiBapchya commented on #17067
Again http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18553/1/pipeline

#18553

[2020-06-14 20:50] szha opened #18561 "array protocol support on memory sharing"
## Description
For arrays that share memory, np.may_share_memory doesn't work for numpy types yet.
[code]

Then, if we call `np.may_share_memory(np_array, mx_np_array)` or `np.may_share_memory(np_array, mx_nd_array)`, it returns
[code]

It works for `_np.may_share_memory(mx_nd_array, mx_np_array)` though
[code]

[2020-06-15 02:51] yzhliu commented on #18420
@JiangZhaoh will be helping.

[2020-06-15 04:00] xidulu commented on #18527
@ChaiBapchya
At this moment, this problem would not cause CI failure if one carefully organizes the import order.

However, I still suggest fixing this issue in the future. I would create a PR when I have time.

[2020-06-15 07:33] ChaiBapchya commented on #16560
We can close this ticket. As the solution is to build with large tensor as the issue author pointed it out. An error message is already raised as part of #16570 if large array is created when large tensor support isn't enabled.

[2020-06-15 08:18] hezhujun opened #18563 "The gradient of a tensor whose elements are all the same is wrong when the tensor pass to nd.max"
## Description
The gradient of a tensor whose elements are all the same is wrong when the tensor pass to nd.max

The code like this
[code]

The output is
[code]

The version of mxnet is 1.6.0

[2020-06-15 10:04] wkcn commented on #18563
Thank you for the report!
I think it is a bug.

MXNet use the function [`ReduceAxesBackwardUseInOut<cpu, mshadow_op::eq>`](https://github.com/apache/incubator-mxnet/blob/master/src/operator/tensor/broadcast_reduce_minmax_value.cc#L43) to compute the gradient of `min` and `max`. It means that the input gradient of the location, whose output is equal to the minimal value or the maximum value, is 1.

[2020-06-15 10:12] wkcn commented on #18401
The PR has been merged : )
Thank you for the contribution of MXNet Ecosystem!

[2020-06-15 10:12] #18401 closed

[2020-06-15 14:42] Xenos24R commented on #17887
I meet the same error,have u got it?

[2020-06-15 15:54] woreom commented on #18471
@leezu after the result of #18501, I used `ninja` to make mxnet although it resulted in the error
[code]
and `libmxnet.so ` was created so I installed it on my raspberry pi and got an error like this when importing it.
[code]

[2020-06-15 15:57] woreom commented on #18536
@leezu I have tried it but the first whl I made did not work, I'm trying to make it again.
also, after the result of #18501, I used `ninja` to make mxnet although it resulted in the error
[code]
and `libmxnet.so ` was created so I installed it on my raspberry pi and got an error like this when importing it.
[code]

[2020-06-15 16:33] wkcn commented on #18471
@woreom
Could you please add `-latomic` into `LINK_LIBRARIES` of `build libmxnet.so` in the file `build/build.ninja`?

[code]

[2020-06-15 16:49] woreom commented on #18471
@wkcn I didn't understand where should I add `-latomic`

[2020-06-15 17:00] wkcn commented on #18471
@woreom
In the building directory, there is a file named `build/build.ninja`.
Open the file and search `build libmxnet.so`, append `-latomic` into the end of `LINK_LIBRARIES`. (about 4732th line).

[2020-06-15 17:36] rondogency commented on #18511
we were using nightly builds found here: https://dist.mxnet.io/python/cu101, recently switched from 2.0 to 1.7

@leezu can you show us the build options used in CD to generate those builds?

[2020-06-15 18:15] leezu commented on #18501
@wkcn thank you for investigating this. The regression in gcc is quite serious. Would you check if there is a report at https://gcc.gnu.org/bugs/ and potentially open a new bug report? Eventually gcc10 will be shipped by default on many platforms and this issue may affect more users later.

[2020-06-15 18:19] woreom commented on #18471
I did that now only file is not getting build. I get this error
[code]

[2020-06-15 18:19] leezu commented on #18471
@wkcn @woreom to avoid manually editing the `build.ninja` file, you can also specify this line

https://github.com/apache/incubator-mxnet/blob/da252734c70164a0983404de076464ba7a526a60/ci/docker/runtime_functions.sh#L235

[2020-06-15 18:34] leezu commented on #18536
@woreom are you trying to cross-compile now? I think you didn't specify the `aarch64-linux-gnu-toolchain.cmake` file to cmake correctly?

[2020-06-15 18:42] leezu commented on #18511
For master branch, the options are inhttps://github.com/apache/incubator-mxnet/tree/0b46d90/config/distribution

[2020-06-15 18:46] mseth10 opened #18564 "[Flaky Test] test_gpu_memory_profiler_gluon fails for cu* flavors on CD pipeline"
## Description
`test_gpu_memory_profiler_gluon` fails intermittently for different cu* flavors in nightly CD pipelines.

## Occurrences
1. http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/detail/mxnet-cd-release-job/1257/pipeline
2. http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/restricted-mxnet-cd%2Fmxnet-cd-release-job/

[2020-06-15 18:52] woreom commented on #18536
@leezu this error is form compiling on raspberry pi, I have and am trying to cross-compile with no luck though because I'm not sure how to cross-compile with open-cv.
should I cross-compile opencv in the same location as Openblas ie `/usr/local/aarch64-linux-gnu`

[2020-06-15 18:53] woreom commented on #18536
@leezu ps I'm sorry for my bad english, I just get overwhelmed writing :))

[2020-06-15 18:53] #17804 closed

[2020-06-15 18:53] djaym7 commented on #18551
Yes, i call it every day -l 1

[2020-06-15 19:06] leezu commented on #18536
@woreom yes, you can install the cross-compiled OpenCV to the same location as OpenBLAS.

Regarding above error: Please add the latomic as discussed in https://github.com/apache/incubator-mxnet/issues/18471#issuecomment-644292393
Currently I'm not sure why this line is needed for you on ARMv7 but our CI doesn't need it for ARMv7. Hopefully we can find a way to auto-detect it and users don't need t

[2020-06-15 19:32] sandeep-krishnamurthy opened #18566 "Merge numpy.mxnet.io to MXNet official website"
## Description

Migrate all content from numpy.mxnet.io to official mxnet website. Setup redirects appropriately to divert user traffic to mxnet official website.

@ys2843

[2020-06-15 20:31] ys2843 opened #18567 "Anchor tags are shifted."
Another issue: Anchor tags are shifted.
Anchor tags exist, but they don't work properly. They are shifted by certain margin [potentially getting hidden by the header]
For ex:
1. Go to contribute page : https://mxnet.apache.org/community/contribute.html
2. Select a specific anchor : Setup MXNet for Development [https://mxnet.apache.org/community/contribute.html#setup-mxnet-for-development]
3. It ta

[2020-06-15 20:33] ys2843 commented on #17982
Looks like a bug, moved it to another issue. Will fix this

[2020-06-15 20:44] stu1130 opened #18569 "[Numpy] softmax, logsoftmax failed on empty ndarray"
## Description
latest mxnet pip wheel
[code]
The root cause should be missing proper zero-dim ndarray handle on the kernel.

[2020-06-15 21:10] wkcn commented on #18501
@leezu Sorry that I do not know how to find the bug report in https://gcc.gnu.org/bugs/

[2020-06-15 21:43] leezu commented on #18501
@wkcn the bugtracker is linked on the page. It's https://gcc.gnu.org/bugzilla/

[2020-06-15 22:44] ys2843 commented on #18567
@mxnet-label-bot add [website, bug]

[2020-06-15 23:14] ys2843 commented on #18547
@aaronmarkham The above PR redirects the `version/master/` to a valid link. For update links in the documents, could you ask someone who is familiar with the contents to do it? Or just confirm this change and I will go ahead updating it. Thanks

[2020-06-16 01:42] wkcn commented on #18501
@leezu Thank you! I guess that the bug is memory leak of the compiler gcc 10.1.0.

[2020-06-16 02:13] #18491 closed

[2020-06-16 06:22] Mauhing commented on #18224
I solved it. I have the same problem in d2l.ai - Ch. 7.7.
Use `--shm 1024m` to lauch docker, so `docker run --shm 1024m <bla bla bla>`

*why?*
`gluon.data.DataLoader` use python multiprocess, multiprocess need shared memory. The default shared memory is 64m in docker container. You can check the shm usage by using `df -h` and find `shm`.

[2020-06-16 06:30] Mauhing commented on #13484
It may be a shared memory problem. Check shm used by using `df -h` and find shm. If it is 100%, then your multiprocess worker will just stall.

If you use docker.
Use --shm 1024m to lauch docker, so docker run --shm 1024m <bla bla bla>

why?
gluon.data.DataLoader uses python multiprocess, multiprocess need shared memory. The default shared memory is 64m in docker container. You can check the shm u

[2020-06-16 08:39] Neutron3529 commented on #18551
If nvidia-smi is callable, the CUDA should be installed properly.
(you could check the "CUDA Version") slot to ensure it.
[code]
If the CUDA is installed properly, I don't know what would cause MXNet failed to load.
maybe `pdb` could help telling you what happened.
[code]
save the following script into a `test.py` then execute `python test.py`, the python would enter pdb mode, then, using either `

[2020-06-16 13:44] anko-intel commented on #14357
Hi @adrianloy,
Your issue still exist on the 1.6 branch. On master branch „running_var” is calculated only in backward pass on CPU and GPU backend as well, so your test gives the same results on both contexts:
Batchnorm running var values [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1.

[2020-06-16 16:54] anko-intel commented on #14357
Hi @ThomasDelteil,
According to the training script from  https://github.com/apache/incubator-mxnet/issues/14357#issuecomment-497487102,
As I mentioned in previous comment on the master branch (on 8174771) running variables in BatchNorm are calculated only during the backward pass.
Still, there are some differences in the results between CPU and GPU backend. One of the reasons comes from different

[2020-06-16 22:12] anko-intel commented on #14357
Hi @ThomasDelteil ,
According to the training script from to https://github.com/apache/incubator-mxnet/issues/14357#issuecomment-497508722,
I didn’t manage to change the script to produce the same result in each run, so instead I run the test procedure 999 times and get the mean value:
[code]
It shows that statistically GPU and CPU give similar result:

[code]
Please see the log for full data: [te

[2020-06-16 23:11] eric-haibin-lin opened #18575 "while loop fails with hybridization"
[code]
python3.7 test.py
[code]

[2020-06-17 02:18] pengzhao-intel commented on #18569
Our team will take a look if this is related to MKL integration.  Thanks report the issue @stu1130

[2020-06-17 04:11] ChaiBapchya commented on #18551
@mxnet-label-bot add [windows]

[2020-06-17 04:24] ChaiBapchya commented on #18493
Great to have this use-case. @andevellicus Thanks for bringing it up. While your experience in Julie will be handy, we would still need work to be done on MXNet Backend [C/C++] because those few lines that @leezu  mentioned would go somewhere here

For Upsampling Forward & Backward
https://github.com/apache/incubator-mxnet/blob/3b23c2de950fb0e4d44560f4c7ea933a520c526c/src/operator/nn/upsampling-in

[2020-06-17 06:12] ChaiBapchya commented on #17982
Another bug I had found was table of content leaking over to the footer
Maybe you can prioritize this one too https://github.com/apache/incubator-mxnet/issues/16349

Thanks @ys2843

[2020-06-17 18:59] #18547 closed

[2020-06-17 20:00] #18567 closed

[2020-06-17 20:05] zasdfgbnm commented on #17045
We get the same issue on PyTorch on CUDA 11 recently https://github.com/pytorch/pytorch/issues/39968

[2020-06-17 21:10] GasparVardanyan opened #18581 "ImportError: cannot import name 'SyncBatchNorm'"
Hi! I've installed mxnet via the **mxnet-cu91** pip package, but running my script which has perfectly worked with the **mxnet** pip package I get this error:

Traceback (most recent call last):
  File "./main.py", line 44, in <module>
    from gluoncv import model_zoo
  File "/home/paperspace/venv/lib/python3.6/site-packages/gluoncv/__init__.py", line 9, in <module>
    from . import model_zoo

[2020-06-17 22:17] yzhliu commented on #16848
@JiangZhaoh is helping

[2020-06-17 23:58] gspell commented on #3118
Hi @ifeherva, thanks for the work you've done in making a gradient reversal layer! Do you know how I can use it while using MX-net as my backend for Keras?

[2020-06-18 00:25] ys2843 commented on #16784
This could because we were using Google CDN for JQuery, which is banned in China. Without JQuery loaded, the `get started` page displays exactly like this

Since we have already changed to host JQuery locally, this won't be a problem any more. Issue could be closed. @sandeep-krishnamurthy @aaronmarkham

[2020-06-18 00:40] #16784 closed

[2020-06-18 11:41] pierre-cordani-nerd opened #18584 "batch_dot precision issue in fp16"
Hello,
I found what seems to be a float16 precision problem when using batch_dot on the GPU
It works as expected when using nd.dot

## To Reproduce

import mxnet as mx

A = np.array([[14761, 13757, 15180],
              [14433, 13760, 14083],
              [13265, 14822, 14864]], dtype='uint16').view('float16')

B = np.array([[14770, 10304, 15142],
              [11564, 10654, 13376],

[2020-06-18 15:12] woreom commented on #15393
@cyrusbehr Hi, I'm in a similar situation and did what you said but still ended up with errors, If you remember can you tell me how you did it exactly?

[2020-06-18 22:52] ys2843 commented on #17244
@aaronmarkham @eric-haibin-lin Above PR fixed this issue, preview link attached, please feel free to verify.

[2020-06-18 23:10] ys2843 commented on #10402
@aaronmarkham @marcoabreu  Global search now supports keyboard control (up/down arrow select). This issue can be closed.

[2020-06-18 23:16] ys2843 commented on #12610
This feature will be implemented in `Merge beta.mxnet.io to Official website` project.
Mark it as duplicate of #18548

[2020-06-18 23:40] ys2843 commented on #16453
@aaronmarkham @sandeep-krishnamurthy  This was a problem about JQuery google CDN. Tested locally, without JQuery the navbar can't change background color (as shown in the screen shot). Since we removed the Google CDN and hosted JQuery locally, this problem is solved.
Issue can be closed.

[2020-06-18 23:45] ys2843 commented on #16479
@TEChopra1000 The contents on `cloud.html` was moved to aws. This issue is not reproducible any more.

[2020-06-18 23:50] #16453 closed

[2020-06-19 00:11] ys2843 commented on #16724
In https://github.com/apache/incubator-mxnet/pull/16764, this image classification link was removed. @stereomatchingkiss @TEChopra1000

[2020-06-19 00:13] ys2843 commented on #17251
Not reproducible in newest version website

[2020-06-19 01:57] Ragres opened #18590 "Can't install mxnet in R 4.0"
## Description
Hello, I'm new in R and I don't know how to fix this but my problem is that I run this line
"install.packages("https://github.com/jeremiedb/mxnet_winbin/raw/master/mxnet.zip", repos = NULL)
"
And it install the package well but when I trie to run the line
"library(mxnet)"
I receive the following message;
"Error: package or namespace load failed for ‘mxnet’:
 package ‘mxnet’ was inst

[2020-06-19 03:10] zhongqingyang opened #18591 "CPU memory leak when running inference on model with GPU"
## Description
I used cpp to inference on model with GPU in childthread.
cpu Memory increase 0.1G after 72000 execution.
cpu Memory increase 0.14G after 100000 execution.
cpu Memory increase 0.236G after 163500 execution.
cpu Memory increase 0.437G after 163500 execution.
cpu Memory increase 2G after 643100 execution.

### Here is my test code
`
#include <iostream>
#include <opencv2/opencv.hpp>
#i

[2020-06-19 03:49] terrencewayne opened #18592 "The offical page of C++ set up guide is missing"
Hi, I want to build MXNet 1.5.1 with cpp bindings on Windows.
But I found that the previous official guide ( https://mxnet.incubator.apache.org/get_started/cpp_setup ) is invalid. How can I get the instruction in detail, which prefers VS2017 and CUDA8/9.

[2020-06-19 04:24] Yiyan66 commented on #17083
fixed by #17510

[2020-06-19 04:32] xidulu opened #18593 "Deferred computation does not work in HybridSequential"
## Description

[code]

[code]

[2020-06-19 04:50] #17083 closed

[2020-06-19 04:54] leezu commented on #18593
It's "by design" as you can't call the new API from the old API: Calling a HybridBock.forward block from HybridBlock.hybrid_forward is not supported.

We can add temporary hack to HybridSequential to support this usecase if needed, as HybridSequential only passes through the arguments. In general HybridSequential will be switched to the new API together with all the other HybridBlocks in the near

[2020-06-19 05:07] leezu commented on #18592
It was merged with https://mxnet.incubator.apache.org/get_started/build_from_source

[2020-06-19 05:28] xidulu commented on #18593
@leezu
Thanks for your response, I am not in urgent need of this usecase.
But I believe it's crucial to let HybridSequential support the new API.

[2020-06-19 06:51] #18412 closed

[2020-06-19 07:17] terrencewayne commented on #18592
Thanks for reply.
It does lose something. I remember the previous guide emphasize to change the version of MSVC toolset in VS2017. Maybe there are more setting issues when building specific MXNet version but I don't remember details.

[2020-06-19 16:34] leezu commented on #18592
@terrencewayne you can find the old page at https://github.com/apache/incubator-mxnet/blob/24d88a2cdec3e0ab8f4fe0e436eb0015e9ccfd47/docs/static_site/src/pages/get_started/c_plus_plus.md

But note that it does not contain any reference to the MSVC toolchain etc. I think the merged page accurately contains the contain from the C++ page. It's merged for consistency (none of the other language binding

[2020-06-19 17:29] r0mer0m commented on #1004
The referenced notebook is no longer available. Can you post the explicit solution?

[2020-06-19 17:52] ChaiBapchya commented on #10402
Thanks for adding the functionality Yang!
Can you point to which PR added keyboard control? Was it different from the one I mentioned above?

[2020-06-19 18:56] #15341 closed

[2020-06-19 21:05] ys2843 commented on #10402
@ChaiBapchya I assume it is the dropdown of the search feature on the top navigation bar that need keyboard control. v1.6+ website has new global search feature #18288 which support navigating through results by pressing up/down arrow key.

[2020-06-19 21:51] Neutron3529 commented on #18506
merged.

[2020-06-19 21:51] #18506 closed

[2020-06-19 22:35] #10402 closed

[2020-06-19 23:06] leezu commented on #18400
And a third time. I'm not sure why this happens time to time and why it only affects test_get_symbol, but let's disable the check for test_get_symbol in favor of CI stability: https://github.com/apache/incubator-mxnet/pull/18595

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18589/runs/1/nodes/364/steps/755/log/?star

[2020-06-19 23:48] szha commented on #18400
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18562/runs/5/nodes/364/steps/758/log/?start=0

[2020-06-20 00:15] leezu opened #18596 "TestNode.test_exports fails on macOS following "Implement ONNX export for gluon LSTM""
[code]

https://github.com/apache/incubator-mxnet/pull/17734

cc @RuRo

[2020-06-20 01:28] terrencewayne commented on #18592
Thanks for help! I got the detail instruction from (https://github.com/apache/incubator-mxnet/blob/24d88a2cdec3e0ab8f4fe0e436eb0015e9ccfd47/docs/static_site/src/pages/get_started/windows_setup.md)

[2020-06-20 09:25] #18065 closed

[2020-06-20 17:44] eric-haibin-lin commented on #18596
Also happened in https://github.com/apache/incubator-mxnet/pull/18579/

[2020-06-20 20:23] #16479 closed

[2020-06-20 22:59] szha commented on #12610
Tracked in the linked issue above where there are more details

[2020-06-20 22:59] #12610 closed

[2020-06-21 00:19] ys2843 commented on #17724
Apache Infra team operates the server. If it still happens frequently, this is where we can report the problem. On our side, there is very little we can do about it.

[2020-06-21 03:07] justinmclean commented on #18397
I would not consider the issues with repo.mxnet.io and dist.mxnet.io resolved. Please see and track progress in [1].

There is a further question that need to be ask is why do these domains exist at all? Projects (with some exceptions) are generally not allowed to use domains like this see [2]. There may have been discussions about this in this as that I'm not aware of but I cannot remember it bei

[2020-06-21 03:08] #17251 closed

[2020-06-21 03:10] szha commented on #18397
@justinmclean I'm not used to using JIRA so please excuse the choice of our tools and me insisting on tracking the progress here.

[2020-06-21 03:49] szha commented on #18397
Discouraged search engine with dist.mxnet.io/robots.txt and repo.mxnet.io/robots.txt and requested removal from google
![image](https://user-images.githubusercontent.com/2626883/85216292-8b4eec80-b337-11ea-95b1-d913a0895c31.png)

[2020-06-21 04:33] ys2843 commented on #16293
This issue was solved. Search "broadcast_div" now shows multiple results as show below:

<img width="1440" alt="Screen Shot 2020-06-20 at 9 31 32 PM" src="https://user-images.githubusercontent.com/23468760/85216772-a02e7e80-b33d-11ea-9b10-c1795189198e.png">

[2020-06-21 04:36] ys2843 commented on #15742
This issue is not relating to MXNet website, remove "Website" label.
@mxnet-label-bot remove [Website]

[2020-06-21 04:40] ys2843 commented on #15730
Issue resolved, @IvyBazan could you close it? Thanks

[2020-06-21 04:42] ys2843 commented on #15409
@aaronmarkham Issue resolved, can we close it? thanks.

[2020-06-21 04:53] ys2843 commented on #15407
@aaronmarkham @ThomasDelteil  Follow up on this issue, `mxnet_java_on_intellij` java tutorial was removed on 09/19/2019 in this PR #15885. Do we want to bring that back? If not, is this issue resolved? Thanks

[2020-06-21 04:57] ys2843 commented on #15203
Looks like the benchmark numbers are up to date. Issue can be closed. @aaronmarkham

[2020-06-21 06:26] justinmclean commented on #18397
Re the domain repo.mxnet.io and dist.mxnet.io, other than their use you mean? link are provided to these pages from the getting started section of the website. I can also see the links exposed for example here [1] and here [2].

I can also see release and branding issue with 3rd parties e.g [3] which also link to those pages. You note NVIDIA is creating releases that include unreleased code. This

[2020-06-21 10:14] VisionZQ commented on #18231
Are you solved this issue? I meet the same problem.
But,  I run the official case is successful.
`print("downloading sample input")
    input_data = get_image(url)
    gluon_resnet18 = vision.resnet18_v2(pretrained=True)
    gluon_resnet18.hybridize()
    gluon_resnet18.forward(input_data)
    gluon_resnet18.export(model_file_name)
    sym, arg_params, aux_params = mx.model.load_checkpoint(model_f

[2020-06-21 13:10] VisionZQ commented on #15646
@kuonangzhe Hi,
Are you solve those problems?
I meet the same issue likes 'Cannot parse ONNX into TensorRT Engine' and 'Finding ancestor failed. There is probably a loop in the graph'
Thank you for you reply.

`from gluoncv import model_zoo, data, utils
from matplotlib import pyplot as plt
from gluoncv.utils import export_block
import mxnet as mx
from mxnet.contrib import onnx as onnx_mxnet
import

[2020-06-21 22:53] eric-haibin-lin opened #18600 "Multiple numpy tests fail with numpy 1.19"
The following four numpy op tests fails with numpy==1.19
- test_np_delete
- test_np_random_beta
- test_np_random_f
- test_np_random_chisquare

The failure happens on the master branch CI http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fwindows-cpu/detail/master/2034/pipeline and blocks recent PRs http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mx

[2020-06-21 22:54] eric-haibin-lin commented on #18600
Error Log
[code]

[2020-06-22 01:21] eric-haibin-lin commented on #18600
np.delete also fails the compatibility test:
[code]

[2020-06-22 04:56] pengzhao-intel commented on #18458
Toolkits distributed in different repos and it's hard to get by newer. I think the basic examples are still very helpful to illustrate the FWK's usage and capability.

[2020-06-22 06:03] eric-haibin-lin commented on #18600
Temporarily disabled this test in #18598

[2020-06-22 06:26] SRIJONS commented on #14468
Has this issue been solved? This mainly "float-str" conversion problem. I'm facing similar problem while trying to access index[0] for a list in Python.

[2020-06-22 08:56] ciyongch commented on #18600
The failure is observed in v1.7.x branch as well, check log http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/PR-18478/runs/2/nodes/110/steps/159/log/?start=0 from PR https://github.com/apache/incubator-mxnet/pull/18478.

[2020-06-22 16:30] ys2843 commented on #12745
Current `copycode.js` has several problems
1. mistakenly creates global variables
2. missing prompt mapping
3. the use of jquery tooltip does not work, because we are not loading jquery ui any more

I will rewrite this file and fix this prompt issue.

[2020-06-22 16:39] ys2843 commented on #15162
Is this issue still valid? Can you give more info about this requirement? thanks

[2020-06-22 17:01] connorgoggins opened #18604 "[Website] Java, Scala, C++, R, Clojure, and Julia API References redirect to 404"
## Description
Java issue: trying to access the MXNet Java API reference from [this page](https://mxnet.apache.org/api/java.html) leads to a 404. This issue also extends to all of the other language docs mentioned in the title.

### Error Message
[404 page](https://mxnet.apache.org/api/java/docs/api/#org.apache.mxnet.infer.javaapi.package)

## To Reproduce
Navigate to the [MXNet Java homepage](htt

[2020-06-22 17:02] connorgoggins commented on #18604
@mxnet-label-bot add [Website]

[2020-06-22 17:50] szha commented on #18600
@eric-haibin-lin actually we should have put constraint on the numpy version first before we can verify that the integration with the new version is functional, especially since numpy doesn't follow semantic versioning. Could you post a change to reflect this and to re-enable the test?

[2020-06-22 18:02] leezu commented on #18604
Should this have been caught by the automatic link checker?

[2020-06-22 18:58] connorgoggins commented on #18604
@leezu I'm not personally familiar with the automatic link checker, but I would assume so.

[2020-06-22 19:17] ys2843 commented on #18604
This is happening on the latest build, probably these 2 PR import the bug #18598 #18578

[2020-06-22 19:50] connorgoggins commented on #18604
Thanks @ys2843. Found what I believe to be the root cause in #18598 - merge for this PR should be reverted ASAP.

[2020-06-22 20:01] connorgoggins commented on #18604
Updated issue as it is worse than initial assessment - docs for Java, Scala, C++, R, Clojure, and Julia are not being built and are no longer available on the website.

[2020-06-22 20:05] eric-haibin-lin commented on #18604
That's correct, the PR removes the language bindings that use the old graph executor APIs. For now we need to remove them from the master version of the website until they are available in mxnet 2.0. Users can access these language binding docs in mxnet 1.6 website version. Let's work together to remove them, instead of reverting the PR.

[2020-06-22 20:06] connorgoggins commented on #18604
Was there community consensus on this change? @eric-haibin-lin

[2020-06-22 20:16] #17724 closed

[2020-06-22 20:18] leezu commented on #18592
Thanks @terrencewayne. Please post here if you run into any problems

[2020-06-22 21:09] #18581 closed

[2020-06-22 21:30] #15730 closed

[2020-06-22 21:50] leezu commented on #18604
I think this issue is duplicate of https://github.com/apache/incubator-mxnet/issues/18429 and can be closed?

[2020-06-22 22:59] ys2843 commented on #18604
@sandeep-krishnamurthy The project for merging beta website need to be rediscussed due to this change.

[2020-06-23 07:10] anko-intel opened #18610 "BatchNorm running variables are not properly synchronized on CPU"
## Description
During investigation of #14357 I have found that running_mean and running_var variables are sometimes not yet calculated when converted to NumPy.

### Error Message
When runing the python test from https://github.com/apache/incubator-mxnet/issues/14357#issuecomment-644887485 sometimes there is information that consecutive reads of the same variable differes, which means that backwar

[2020-06-23 07:23] anko-intel commented on #14357
@adrianloy, @PatricZhao,
could you close the issue as the results on master (959143696) are the same on GPU and CPU (see the comments above for details)?

[2020-06-23 09:00] RoyiAvital commented on #8382
The README file says there is MATLAB compatibility yet I can't find any documentation on how to use it?

Do you still support MATLAB?

[2020-06-23 09:31] harrysekim opened #18611 "Failed to build from source with "OSError: exception: access violation writing 0x0000000000000000""
## Description
I 'm trying to compile mxnet from source code in windows10, vs2017

1. mxnet clone tag 1.6.0
 git clone --recursive -b 1.6.0 https://github.com/apache/incubator-mxnet mxnet_1.6.0

2. set opencv, openblas env
set OpenCV_DIR=C:\opencv-3.4.1_with_freetype2
set OpenBLAS_HOME=C:\OpenBLAS-0.3.7-x64

3. cmake
cmake -G "Visual Studio 15 2017 Win64" -T cuda=10.1,host=x64 -DUSE_CUDA=1 -DBUILD

[2020-06-23 22:42] #18611 closed

[2020-06-23 22:59] szha commented on #18611
@harrysekim did you figure out what happened?

[2020-06-23 23:20] harrysekim commented on #18611
@szha
I have tried several things and copy all dependents dll(include not dependents dll) file to both folder(build/Release, cpp-package/scripts)

i check remove each dll file from floder and try build.
Finally I got the list of required dll files.

[2020-06-24 03:30] e0lithic commented on #16379
@aGiant or @pedrooct Could you kindly share the reference link for the complete set of instructions for building mxnet on raspberry pi. Thanks

[2020-06-24 09:03] #18596 closed

[2020-06-24 10:11] pedrooct commented on #16379
HI, i created this tutorial: https://medium.com/@ce4theguys/how-to-compile-mxnet-for-raspberry-pi-fast-7e397c7c8a36
Be careful, the new version of mxnet is broken on compile, use version 1.5.1

Hope this helps!

[2020-06-24 10:43] adrianloy commented on #14357
I do see that there is no difference between CPU and GPU anymore so I guess I can close this. What I dont really understand is why the accuracy outside autograd is so much lower than under autograd (for both contexts). Is this expected behaviour? Still sounds like a bug to me, but maybe I am missing something obvious.

[2020-06-24 18:49] sxjscience opened #18617 "[Numpy][Gluon] Multiple gluon loss functions do not support numpy"
For example, some losses won't support setting `batch_axis`, e.g.:
https://github.com/apache/incubator-mxnet/blob/4b86c32832a994e76b97dfc58c8a672db87e721d/python/mxnet/gluon/loss.py#L299-L302

Also, there are cases like HuberLoss that hasn’t supported numpy: https://github.com/apache/incubator-mxnet/blob/4b86c32832a994e76b97dfc58c8a672db87e721d/python/mxnet/gluon/loss.py#L604-L610

For the HuberLo

[2020-06-24 21:02] anko-intel commented on #14357
Hi @adrianloy,
Using autograd.record() with default value of train_mode = True  causes BatchNorm to use currently given batch data to calculate mean and variance values in forward pass. These values are later used to produce the output (instead of running_mean and running_var values previously calculated during training by backward propagation). This way the output is "adjusted" to the current bat

[2020-06-24 22:21] szha commented on #18617
I started working on this in #17196 but didn't get the time to finish yet. I will try to prioritize.

[2020-06-24 23:13] #16444 closed

[2020-06-24 23:13] #16293 closed

[2020-06-24 23:13] #15409 closed

[2020-06-24 23:13] #15203 closed

[2020-06-24 23:14] #16724 closed

[2020-06-24 23:32] MyraBaba commented on #15393
I succeed to compile mxnet with g++-7

g++-8 and above using too much memory.

Best

[2020-06-24 23:55] leezu commented on #18501
According to https://github.com/apache/incubator-mxnet/issues/15393#issuecomment-649127482 the leak already occurs with gcc8

[2020-06-24 23:56] leezu commented on #15393
The gcc memory leak is tracked in https://github.com/apache/incubator-mxnet/issues/18501
It would be helpful to find a minimal reproducing example and report the bug upstream so that it can be fixed by the gcc developers. Further it'd be helpful to update the indexing_op file in MXNet to workaround the gcc memory leak.

[2020-06-25 00:01] leezu opened #18618 "MXNDArraySyncCopyFromCPU timeout in test_contrib_DataLoaderIter"
[code]

http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/centos-cpu/branches/PR-18616/runs/1/nodes/209/steps/281/log/?start=0

This happened in the CD pipeline tests. FYI cc @mseth10

[2020-06-25 06:28] leezu commented on #18600
@ciyongch should this be fixed for 1.7 release? I'd expect that users would like to use latest MXNet version with latest numpy.

[2020-06-25 08:22] ciyongch commented on #18600
Hi @leezu, as the latest numpy (1.19.0) was released just for a couple of days, I think it's better but not mandatory to have this fix for 1.7 release, as numpy 1.19.0 is not fully verified with MXNet yet and it's very common to pin package A to some certain version of package B in python world.
BTW, we're planing to cut the rc0 in the following days and will consider whether to include the fix af

[2020-06-25 13:49] #14357 closed

[2020-06-25 17:17] leezu commented on #18600
@ciyongch that's not true. In fact it's easy to `pip install --upgrade numpy` on a system and get into a broken state. Users may also install other packages requiring a new version of numpy.

If we consider the numpy API experimental in MXNet 1.7, it's ok but certainly not ideal.

[2020-06-25 18:02] #17244 closed

[2020-06-25 19:19] ys2843 commented on #16802
Verified, this Python API links is fixed. Issue can be closed. @leezu

[2020-06-25 20:49] ys2843 commented on #15201
https://mxnet.apache.org/versions/1.6/api/python/docs/api/contrib/index.html, tensorrt and quantization were added to the contrib page. Issue can be closed.

[2020-06-25 22:47] MyraBaba commented on #15393
dont remember but raspi4 with latest raspian and compile mxnet with gcc8 eventually gives error.. memory not enough . using too much memory

[2020-06-25 23:42] mseth10 commented on #18618
This timeout error is flaky and has broken CD "CPU" pipeline many times in the past.
Earlier I linked a similar error in operator tests to the commit https://github.com/apache/incubator-mxnet/commit/10b6b4887ef494ea985c9ea75a393a985476d08e which used "NaiveEngine" setting to run operator tests in CD. I reverted that change in https://github.com/apache/incubator-mxnet/commit/a361f33497c8e87a4eab48a

[2020-06-26 02:44] FranciscoReveriano opened #18623 "DataParallelExecutorGroup Issue?"
Hello. I was wondering if this file was moved to a different location. I built MxNet from source and the following command no longer works:
from mxnet.executor_manager import DataParallelExecutorGroup

[2020-06-26 02:49] FranciscoReveriano commented on #18623
I am also not able to make the following imports anymore:
from mxnet.module.base_module import BaseModule, _check_input_names, _parse_data_desc

[2020-06-26 08:52] MyraBaba commented on #16380
i have the same problem...

[2020-06-26 10:15] ciyongch commented on #18600
Yes, it could be a broken issue unless there's a constraint for the numpy version for MXNet's installation. I'm not sure whether we can state numpy API as an experimental feature or not since it's already introduced in 1.6.0 release.
If this is a mandatory fix for 1.7.0, may I know if there's anyone can help on this? @szha @leezu @sandeep-krishnamurthy
Thanks.

[2020-06-26 11:14] woreom commented on #18501
@leezu I have understand that the main problem is the gcc, I used the command:
[code]
to successfully build mxnet with opencv but the both must be compiled with **gcc-4.9** but when I import mxnet I get this error:
[code]

[2020-06-26 17:02] JONGGON opened #18624 "Gluoncv HRNet Code raise error in mxnet-1.6.0 gpu hybridize mode"
## Description
In mxnet 1.6.0 gpu hybridize mode, the below code raise error .

(As a result of checking,
no problem occurs in 1.5.0 gpu mode and 1.5.0 cpu mode(hybridize or not hybridize)
no problem occurs in 1.6.0 cpu mode(hybridize or not hybridize)

The problem only occurs in version 1.6.0 gpu hybridize mode.
I have confirmed that the same error occurs in 1.7.0 gpu hybridize mode which is not

[2020-06-26 18:13] #16802 closed

[2020-06-26 18:17] leezu commented on #18624
@JONGGON can you derive a minimal example to reproduce the issue?

[2020-06-26 18:22] #17295 closed

[2020-06-26 18:32] leezu commented on #18623
You can refer to https://github.com/apache/incubator-mxnet/issues/17676 regarding these API deprecations
Does the 1.x branch or the last stable release work for you? There the APIs are available

[2020-06-26 18:32] #18623 closed

[2020-06-26 18:33] #15201 closed

[2020-06-26 19:02] ys2843 commented on #15408
Fixed this issue by adding 2 missing SVG to mxnet artifacts. Please verify here
https://mxnet.apache.org/versions/1.6/api/python/docs/tutorials/performance/backend/tensorrt/tensorrt.html.

[2020-06-26 19:18] szha commented on #18600
Is it feasible to make mxnet compatible with all versions above 1.17? If not then we definitely would need to make a choice on the numpy version to support.

[2020-06-26 19:35] leezu commented on #18600
Only deprecated APIs are removed. There's no need to support the deprecated APIs in older releases. So generally this should be possible. What do you think @yzhliu

[2020-06-27 06:51] access2rohit commented on #17331
PR: https://github.com/apache/incubator-mxnet/pull/17882 fixes regression in SSD. Following are the new results for SSD run:

Code | SSD 1 Epoch time (sec) | %age Speedup/Slowdown w.r.t Master (large tensor disabled)
-- | -- | --
Master (large tensor disabled) | 226 | 0
Master (large tensor   enabled) | 335 | 48.23% slowdown
Master + CPU Optimized broadcast_axis (large tensor disabled) | 130 | 42.

[2020-06-27 06:53] access2rohit commented on #17331
@apeforest @sandeep-krishnamurthy @szha

PR's to enable Large Tensor Support as default in master are divided into two stages:
Stage1: Unix CPU/GPU and Windows CPU/GPU https://github.com/apache/incubator-mxnet/pull/18625
Stage2: All remaining platforms https://github.com/apache/incubator-mxnet/pull/18626

[2020-06-27 11:39] AntiZpvoh opened #18627 "Symbolic indexing requires to cover boolean ndarray index"
## Description
Symbolic advanced indexing has been implemented in Pull Request #18319 . However, since in symbolic indexing case the index is symbol, we could not determine the dtype of index in Python front-end. Determining dtype must be handled by backend op.

The conditional statement for dtype determining has been implemented as below in PR #18319 (code is in file src/operator/numpy/np_indexin

[2020-06-27 21:02] MyraBaba opened #18628 "Raspberry pi 4 compile failure"
Latest Rasbian with 4gig memory Raspi 4.

I cloned mxnet repo as described compile doc .

It gives below error:

`/usr/bin/ld: CMakeFiles/mxnet_unit_tests.dir/cpp/operator/activation_perf.cc.o: undefined reference to symbol '__atomic_fetch_sub_8@@LIBATOMIC_1.0'
/usr/bin/ld: /opt/gcc-9.1.0/lib/libatomic.so.1: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit st

[2020-06-28 00:28] #8671 closed

[2020-06-28 01:59] Jerrywang959 commented on #18590
I am also new to mxnet. But I remember that mxnet only support R 3.5.x in winodws

[2020-06-28 06:27] chinakook commented on #18624
@JONGGON It's fixed by tvm https://github.com/apache/incubator-tvm/pull/5238. However, It's not merged into mxnet until now. I think you can fix it and build mxnet youself.
https://github.com/dmlc/gluon-cv/pull/1243#issuecomment-609372837

[2020-06-28 08:17] e0lithic commented on #16379
@pedrooct Thanks for the medium article, it helped a lot. I tried building mxnet on rpi itself and unfortunately it seems that the device seems to get hanged in the process and everything gets stuck. However , the process you mentioned for emulating worked perfectly. Can the build on the emulated distro be transferred to rpi directly and used as is ? Thanks

[2020-06-28 08:53] ciyongch commented on #18600
Hi @leezu @szha @yzhliu , is there any updates for this topic, we're pending on this to drop the rc tag for 1.7 release. Based on the previous discussion, seems there're two options to go,
1. Make MXNet compatible with all numpy versions or versions above 1.17.
2. Add a constraint to numpy version that MXNet supports.

Or is it necessary to raise it on dev@ ? Thanks!

[2020-06-28 09:44] pedrooct commented on #16379
HI### i'm glad it helped you. Responding to the first statement, to compile it on the rpi(1/2gb) you need to increse swap memory to 2 or 3 gb. Responding to the question, when you finish the process of building the libmxnet.so you can just copy the mxnet folder to the raspberry pi and install it with pip as in the tutorial.

Hope this helps you futher.

[2020-06-28 14:05] alinagithub commented on #17887
Hi Xenos24R,
No, not really found a perfect solution.
I use a virtual env, so I implemented a little .bat script and I basically copy the DLL to Python packages dir:

[code]
Not ideal, but functional!
AL

[2020-06-28 14:35] DeepFocuser commented on #18624
oh, thank you!!!!!

[2020-06-29 11:50] e0lithic commented on #16379
@pedrooct Thanks for the detailed instructions it worked out like a charm.

I had one additional query regarding compiling mxnet with NNPACK. According to the instructions at [here](https://mxnet.apache.org/api/faq/nnpack ), we need to make updates to the config.make file. However since you have used the cmake based flow, is there an equivalent version for compiling with NNPACK utilizing cmake ins

[2020-06-29 19:35] ChaiBapchya opened #18637 "[Nvidia][CI] Jetson toolchain files public acess"
## Description
Currently, CI for Jetson builds uses aarch64 cross depedencies package based on Jetpack 4.3

However, it needs to be manually downloaded using SDK Manager tool and placed in a private S3 bucket because we don't have license to redistribute them.

Fix would be to make it publicly available under nvidia machine learning apt repository http://developer.download.nvidia.com/compute/machi

[2020-06-29 19:37] ChaiBapchya commented on #18637
Currently, MXNet devs won't be able to reproduce CI issue for Jetson via
[code]
As it fails for
[code]

This needs access to the private mxnet CI prod account bucket which isn't feasible.

[2020-06-29 19:42] leezu commented on #18637
Thanks @ChaiBapchya for opening the tracking issue! Previously I was given an early-June 2020 ETA for public availability of the files. I just followed up with the owner. Ideally the files are available already / will be soon and we just need to update the Dockerfile.

[2020-06-29 20:16] leezu opened #18638 "mx.np.broadcast_to has undocumented features"
Following https://github.com/apache/incubator-mxnet/pull/17358, `broadcast_to` op can infer shape from input tensor with magic parameter `-2`. This is undocumented.

https://github.com/apache/incubator-mxnet/blob/cf3984bf5c67cb7d1feeb5b3cb55a41ca995e5c8/python/mxnet/ndarray/numpy/_op.py#L285-L308

[2020-06-29 20:57] MyraBaba commented on #18628
I successfully  build mx1.5.1

but not latest one.

[2020-06-29 21:25] leezu commented on #18628
@MyraBaba could you try calling cmake with the `cmake -Dmxnet_LINKER_LIBS=-latomic [...]` argument? We should auto-detect this, but it's not yet done correctly.

[2020-06-30 01:20] leezu opened #18641 "Backporting recent mx.np changes to 1.7 branch"
## Description
master branch contains many fixes for various numpy operators included in the 1.7 release. While they are experimental in 1.7, it would be helpful to include the fixes. For example, I tested running GluonNLP NumPy version with the 1.7 branch and some unittests are failing.

For example, `MXNetError: Operator _npi_unique is non-differentiable because it didn't register FGradient attr

[2020-06-30 02:41] ciyongch commented on #18641
Hi @leezu, given the fact that the current numpy operator is still in active development, there could be more defects/bugs as including more new functionalities/features in v1.7. Thus it's uncertain about how longer it will take to backport these numpy bug fixes/features from master to v1.7, I suggest to mark numpy operator as experimental feature in v1.7 release, and decide a cut off day (for exa

[2020-06-30 03:09] sandeep-krishnamurthy commented on #18641
+1 to mark this as experimental as it was not stable in 1.6 or advertised as will be stable in v1.7. We are mainly looking at numpy ops in 2.0. What do you think @leezu and @szha

[2020-06-30 03:18] sxjscience commented on #18641
@sandeep-krishnamurthy @ciyongch How about to port these two bug-fixes to 1.7?
- https://github.com/apache/incubator-mxnet/pull/18523
- https://github.com/apache/incubator-mxnet/pull/18080

[2020-06-30 05:25] szha commented on #18641
@sandeep-krishnamurthy @ciyongch I agree on marking numpy as experimental. Still, we'd really like the bug fixes that @sxjscience requests backported, so that we could use the related functionality and present them at the upcoming KDD in the summer.

[2020-06-30 06:11] ciyongch commented on #18641
Thanks @sandeep-krishnamurthy @szha , then let's take it as the experimental feature in v1.7 release. @sxjscience could you please help to backport these two PRs and tag me on the new PR? Then we'll move forward with rc0 tag and the rest of release process when they're get merged.

[2020-06-30 08:23] ciyongch commented on #18600
As discussed [here](https://github.com/apache/incubator-mxnet/issues/18641#issuecomment-651487181), we'll mark numpy operator as experimental in v1.7 release and probably will move forward by taking this as an known issue (some cases are broken with latest numpy version 1.19.0). Please let me know if you have any further concerns or suggestions!

[2020-06-30 09:48] DongfeiJi opened #18643 "ndarray.contrib.boolean_mask can not be hybridize"
## Description
ndarray.contrib.boolean_mask can not be hybridize

Gluon does not support infer shape ndarray.contrib.boolean_mask

[2020-06-30 10:45] wkcn commented on #18643
Could you provide a minimal reproduce example?

In MXNet unittest, The test of hybridized `boolean_mask` works.
https://github.com/apache/incubator-mxnet/blob/master/tests/python/unittest/test_dynamic_shape.py#L39

[2020-06-30 10:58] DongfeiJi commented on #18643
---------------------------------------------------
Thank you for your reply. Yes, I read the code before.
But in my scenario, I used it in the loss function，when i use broadcast_mul it can hybridize, use boolean_mask it does not work.

`class NewTripletLoss(Loss):
    def __init__(self, batch_size_per_gpu, margin=1, weight=None, batch_axis=0, **kwargs):
        super(NewTripletLoss, self).__init_

[2020-06-30 11:04] DongfeiJi commented on #18643
This problem will occur when this operation is used in loss

[2020-06-30 14:40] wkcn commented on #18643
Hi @DongfeiJi ,
It works for me on MXNet 2.0.
Note that `boolean_mask` doesn't work when mask are all `zero/false`, since the traditional operator doesn't support zero-size array.

[code]

[2020-06-30 15:10] xidulu commented on #18638
I believe the reason behind is that we would like to keep the documentation and feature consistent with the origin NumPy, so this magic api is not supposed to be known by users.

[2020-06-30 16:00] pedrooct commented on #16379
Sorry for the late response. I never tested NNPACK but it is something i will look into. I think rpi 3 1gb is armv6 so probably won't work, rpi4 probably will work but try it and report it :) !

[2020-06-30 21:07] stu1130 opened #18646 "BatchNorm with axis=-1 is much slower than axis=1"
## Description
[code]
MXNet version: static build with branch v1.7x commit 75ab15569bd0f20a90806ce2fc38df08be208ed7
I  got around 5 sec with axis=1 and 30 sec with axis=-1 on P3.8xlarge (V100).
Both of case are computing the 32 * 100 data for each axis
similar to https://github.com/apache/incubator-mxnet/issues/10095

## Solution
Thanks @ptrendx to point out that cudnn 7.4 (https://docs.nvidia.com

[2020-06-30 22:13] ChaiBapchya commented on #14994
PR #18597
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Funix-gpu/detail/PR-18597/9/pipeline

[2020-07-01 00:01] wkcn commented on #18646
The reason is that MKLDNN and CuDNN are only applied when axis = 1.
The open PR https://github.com/apache/incubator-mxnet/pull/18504 fixes it.

However, we will add environment variable to control whether to use MKLDNN and CuDNN, so the PR is blocked.

[2020-07-01 00:11] stu1130 commented on #18646
@wkcn Thanks for you detailed explanation.
So I think there are two phrases.
1. enable cuDNN when axis is not 1
2. use `cudnnBatchNormalizationForwardTrainingEx` for NHWC case (I checked the source code, we are all using cudnnBatchNormalizationForwardTraining)

[2020-07-01 01:45] ciyongch commented on #18641
Hi @sxjscience may I know if you're going to backport the above two PR into 1.7 as @szha suggested? We're waiting for them to be merged and tag rc0 now, thanks!

[2020-07-01 03:12] DongfeiJi commented on #18643
Thank you again for your reply. It is OK to hybridize directly. However, if the initialization of the model is delayed, there will be problems. You can run my code. I report an error because I use gluon's trainer, and the mxnet version is 1.5.
PS: This is an example of my code, for simplify, i do not use gluon.trainer.
If use nd, it is ok, when hybridize, it does not work.
`import mxnet
from mxnet

[2020-07-01 03:18] DongfeiJi commented on #18643
u can review this, i upload the example code
[https://github.com/DongfeiJi/chineseocr_lite/blob/master/jdf.py](url)

[2020-07-01 04:33] access2rohit commented on #18166
Still causing failures : http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18625/runs/7/nodes/358/steps/484/log/?start=0

[2020-07-01 05:30] sxjscience commented on #18641
@ciyongch I'm initiating the attempt. I'm able to backport https://github.com/apache/incubator-mxnet/pull/18080. But https://github.com/apache/incubator-mxnet/pull/18523 has some conflict.

[2020-07-01 05:44] ciyongch commented on #18641
Thanks @sxjscience  for your prompt help on this.  I've already ping the author for https://github.com/apache/incubator-mxnet/pull/18523, do you need any help for this PR?

[2020-07-01 05:45] sxjscience commented on #18641
@ciyongch The problem is that I think there are more numpy PRs that should may need to be backported...

[2020-07-01 05:47] ciyongch commented on #18641
Wow... can you help to evaluate how many PRs are related to enable this feature? Then we can decide the time needed and whether to include them or not? Thanks!

[2020-07-01 08:21] sxjscience commented on #18641
Attempted to backport some changes in https://github.com/apache/incubator-mxnet/pull/18648. However, there are lots of changes in numpy.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ciyong <notifications@github.com>
Sent: Tuesday, June 30, 2020 10:48:01 PM
To: apache/incubator-mxnet <incubator-mxnet@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>;

[2020-07-01 11:25] nicolaerosia opened #18650 "nightly builds for Linux"
I see that nightly builds for Linux are missing and adding them would help Linux users test before the actual release.
https://pypi.org/project/mxnet-mkl/1.7.0b20200315/#files
https://pypi.org/project/mxnet/1.7.0b20200315/#files

[2020-07-01 13:57] wkcn commented on #18643
I reproduce the bug too on MXNet 2.0.

[2020-07-01 14:33] austinmw opened #18652 "Can't use mx.np.concatenate with hybridize"
## Description
I’m trying to adapt the GoogLeNet/InceptionV1 implementation in the online book d2l.ai to be compatible with hybridization. However, I’m currently facing issues with `mx.np.concatenate`.

### Error Message

## To Reproduce

### Steps to reproduce

[code]

## What have you tried to solve it?

Also tried `return F.concat(p1, p2, p3, p4, dim=1)` which results in a different error:

##

[2020-07-01 14:43] #18569 closed

[2020-07-01 14:45] TaoLv commented on #18610
Fixed by #18064

[2020-07-01 14:45] #18610 closed

[2020-07-01 14:53] #17595 closed

[2020-07-01 16:54] leezu commented on #18652
Please use `F.np.concatenate`

[2020-07-01 17:02] leezu commented on #18650
Builds from PyPI were removed due to resource limitations of the PyPI project: https://github.com/pypa/pypi-support/issues/50#issuecomment-562811825

Also, tApache Policy states

http://www.apache.org/legal/release-policy.html#what

There are nightly releases that are not intended for the use of the general public but provided as is for the purpose of testing for MXNet and ecosystem developers at

[2020-07-01 17:02] #18650 closed

[2020-07-01 19:54] austinmw commented on #18652
Thanks, that worked! Is `F.np.<op>` the new way to do things going forward?

[2020-07-01 19:54] #18652 closed

[2020-07-01 23:38] leezu commented on #18652
@austinmw it's the correct syntax for the experimental numpy support in MXNet 1.x.  Sorry for the unclear documentation.
With the upcoming MXNet 2 release, users can directly use `np.<op>` inside `HybridBlock` and don't need `F` anymore. The documentation will be updated accordingly in time for the first "official" MXNet 2 Alpha or Beta release.

[2020-07-02 04:18] cloudhan commented on #18509
You can monkey patch the conversion script with

[code]

[2020-07-02 07:37] nicklhy commented on #3713
Do we have a better solution now ? I do not think it is a good idea to modify mxnet source code file `mxnet/python/mxnet/optimizer.py`.

[2020-07-02 09:42] tranvanhoa533 commented on #16969
How did you show this problem @oljike ?

[2020-07-02 11:49] nicolaerosia commented on #18650
Thank you, I was not aware of that.
I see that all builds from https://dist.mxnet.io/python/mkl are for macosx, all mxnet devs are using MacOS ? I'm looking for an easy way to test the latest build of mxnet MKL on Linux.
If you have a link for the job that builds the release version and pushes to pypi I could take a look and build it myself.

[2020-07-02 14:20] austinmw commented on #18652
Awesome, thanks!

[2020-07-02 14:52] leezu commented on #18650
@nicolaerosia the naming scheme for `mkl` may be confusing. There are actually no more builds with `mkl`, due to licensing issues. But all builds now by default come with `mkldnn` (or recently renamed to `onednn`). If you like to use MKL as your BLAS library, you need to build from source.

[2020-07-02 14:56] leezu commented on #18509
@cloudhan would you like to open a PR with a fix?

[2020-07-02 20:09] cosmincatalin opened #18655 "MXNet for Scala 2.12 and 2.13"
The Scala language binding is badly needed for high performance training/inference around Apache Spark. The current Scala language binding is for 2.11 and the MXNet version is 1.5.1.

Please add 2.12 and 2.13 packages for 1.6.0 and up. TF has eaplatanios/tensorflow_scala, which while being a non-official release, has a lot of traction and builds for both 2.12 and 2.13.

[2020-07-02 20:15] #12745 closed

[2020-07-02 21:23] roywei commented on #18165
I think it still fails for unknow shape case. The above code works fine for 0 dim, but use -1 to represent unknown shape still fails:
[code]

[2020-07-02 23:28] i55code opened #18657 "MXNET for cuda 11.0 Nvidia 450"
## Description
(A clear and concise description of what the bug is.)

Is there a version of MXnet for cuda 11.0, Nvidia 450 , Ubuntu 18.04? Something like pip install --pre mxnet_cu102mkl -f ... ?

Thank you!

### Error Message
(Paste the complete error message. Please also include stack trace by setting environment variable `DMLC_LOG_STACK_TRACE_DEPTH=10` before running your script.)

## To Repro

[2020-07-03 07:07] cosmincatalin commented on #18655
I would like to contribute if anyone can give me a few pointers of what is needed to have this happen.

[2020-07-03 08:59] nicklhy commented on #13054
Any updates here ? Got the same problem.

[2020-07-03 09:03] tranvanhoa533 opened #18659 "Accumulate gradient with module symbolic api"
Hello. I am trying to implement accumulate gradient via simple mlp on mnist dataset.

### Problem
My issue is that the model is not learn with _grad_req = 'add', the score is not changing. But when i train model without accumulated gradient ( _grad_req = 'write'), model is trained perfectly

## To Reproduce
Here is my code:
[code]

## Environment
mxnet-1.6.0
ubuntu 18.04

[2020-07-03 12:45] garnieje commented on #14653
I would be very interested as well.
Thank you in advance.

[2020-07-03 13:30] MoritzMaxeiner commented on #14653
This issue is not to introduce a LayerNorm operator to ONNX. This issue concerns lowering MXNet's LayerNorm operator onto ONNX's more basic operators. It would not help pytorch.

[2020-07-03 22:34] szha commented on #15925
http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/mxnet-validation%2Fcentos-gpu/detail/PR-18562/8/pipeline

[2020-07-04 02:29] SkySailing commented on #18581
how to solve this problem?

[2020-07-04 03:20] DickJC123 commented on #18657
With cuda 11.0 of course comes support for A100 and TensorFloat-32 (TF32).  FYI, I'm preparing a PR that refactors how our unittests handle tolerances, so that the proper tolerances are seamlessly applied across dtypes and contexts, including A100 contexts.  Stay tuned.

[2020-07-04 09:01] GasparVardanyan commented on #18581
I've installed the latest version of cuda and the appropriate mxnet package and the problem was solved.
Ubuntu 18's repositories contain an older vesion of cuda, and I've installed the newer version by hand.
btw I hate static release distros ))

[2020-07-04 09:50] svenstaro commented on #17791
Just to follow up on this, our intel-mkl package now has static libs so consider retesting/closing this.

[2020-07-05 10:35] MrRaghav opened #18662 "out of memory issue while using mxnet with sockeye"
## Description

When I run **sockeye.train** command with **mxnet 1.6.0** , it provides two information in logs:

1) mxnet.base.MXNetError: [09:58:26] src/storage/./pooled_storage_manager.h:161: cudaMalloc retry failed: out of memory
2) learning rate from lr_scheduler has been overwritten by learning_rate in optimizer.

Basically I submit sockeye.train as a job in my server and its output comes as

[2020-07-05 10:36] MrRaghav commented on #18662
Thank you @szha for suggestion on following link: https://github.com/apache/incubator-mxnet/pull/16487

I hope I have provided all the required information.

[2020-07-05 23:30] leezu commented on #18659
Are you able to switch to the Gluon API?

[2020-07-05 23:37] leezu commented on #18655
@cosmincatalin have you tried building from source https://github.com/apache/incubator-mxnet/tree/v1.x/scala-package#build-from-source?

Are you interested in the CPU or GPU packages? There are some licensing issues with the binaries at `org.apache.mxnet` (GPU packages may be subject to CUDA EULA and thus incompatible with Apache 2 License; CPU packages redistribute `libquadmath.so` which is GPL a

[2020-07-06 02:10] ciyongch commented on #18641
Thanks @sxjscience and @BenjaminCHEN2016 for the great effort to backport the requested fixes to v1.7, now all of them were merged into v1.7.x via the PR https://github.com/apache/incubator-mxnet/pull/18653 and https://github.com/apache/incubator-mxnet/pull/18649. I will proceed with rc0 when the night build test passed.

[2020-07-06 02:47] tranvanhoa533 commented on #18659
Switching to the Gluon API is time consuming. Can this bug be fixed with the symbolical API, @leezu?

[2020-07-06 02:54] leezu commented on #18659
Certainly it can be fixed, but you may need to help investigate the fix yourself if you require a timely fix. That's because the module api is deprecated and has been removed from mxnet master branch. The api will continue to be available in MXNet 1.x versions and a fix for that branch will be very welcome.

[2020-07-06 03:13] tranvanhoa533 commented on #18659
How can I investigate it?

[2020-07-06 03:24] lonelygo commented on #572
cp make/osx.mk ./config.mk
then, find “USE_BLAS = apple” line
add

[2020-07-06 03:54] leezu commented on #18659
Test if the bug is present on older versions; if not, find the commit that introduced the bug: https://git-scm.com/book/en/v2/Git-Tools-Debugging-with-Git (see binary search at that link); https://git-scm.com/docs/git-bisect

[2020-07-06 06:03] szha commented on #18662
@MrRaghav thanks for creating the issue. What model of GPU are you using? What's the GPU memory size?
Also, have you tried using `export MXNET_GPU_MEM_POOL_TYPE=Round`? https://mxnet.apache.org/api/faq/env_var#memory-options
[code]

[2020-07-06 08:04] cosmincatalin commented on #18655
I've tinkered a little with building from source, but wasn't very successful, I guess I need to focus on it more. To answer your second question, yes, I am interested specifically in the CPU packages.

[2020-07-06 10:04] #18030 closed

[2020-07-06 12:23] MrRaghav commented on #18662
Hello, please find the information in following points -

1) I am using **rtx2080ti**
2) To run sockeye, I used 3 GPUs and specified device ids. Memory of GPUs is as follows

    _username@server:~/username/sockeye$ nvidia-smi --format=csv --query-gpu=memory.total
    memory.total [MiB]
    11019 MiB
    11019 MiB
    11019 MiB_

3) regarding export command, I tried running sockeye.train like belo

[2020-07-06 15:03] chinakook commented on #18643
Actually, Loss is used explicitly, so it can be coded as Block, not HybridBlock.

[2020-07-06 15:09] chinakook commented on #18646
I think NHWC layout is very important in point cloud algorithms.

[2020-07-06 15:27] chinakook commented on #18591
This api may not support multi thread safety.

[2020-07-06 16:10] sammieghabra opened #18665 "Using ShiftScale operation (Similar to BatchNorm) in MXNet (Customer question/inquiry)"
## Description
Hi MXNet team,

My team wants to implement a layer in MXNet to implement a ShiftScale operator. This layer is similar to batchnorm - however, we want `moving_mean` and `moving_var` to be used instead of `data_mean` and `data_var` to compute the output of the layer. I see that batch norm has a flag `use_global_stats`, and in the [mxnet docs](http://beta.mxnet.io/r/api/mx.symbol.Batch

[2020-07-06 17:27] rondogency commented on #18665
Hi, are you using Gluon API? according to the doc it is supported https://github.com/apache/incubator-mxnet/blob/v1.7.x/python/mxnet/gluon/nn/basic_layers.py#L306, if it's not then it would be a bug in Gluon

Also which MXNet version are you using?

[2020-07-06 17:33] sammieghabra commented on #18665
@rondogency

Thank you so much for your response.

As mentioned in the description of this issue, I am aware of the `use_global_stats` flag in batch norm. However, as I stated in the description, running mean and running var do not get updated if that flag is true for [training](https://github.com/apache/incubator-mxnet/blob/master/src/operator/nn/batch_norm.cc#L260-L271). For our case, we need th

[2020-07-06 18:00] szha commented on #18662
@fhieber do you have recommendation on how to run sockeye on the above GPU?

[2020-07-06 22:22] leezu opened #18666 "Version selector install guides"
## Description
Currently the get started page points to a single build from source guide. As the get started page will be shared among all releases (https://github.com/apache/incubator-mxnet/pull/18658), the selector should be updated to include the corresponding install guide based on the user's selection.

![image](https://user-images.githubusercontent.com/946903/86656357-444e3180-bf9c-11ea-933f

[2020-07-07 00:06] ys2843 commented on #18548
Project completed. Closing the issue.
1. Created a new R docs website and merged to v1.6 website - Done
2. Created user feedback widget - Done
3. Redirect traffic from beta site to official website - Done

[2020-07-07 00:06] #18548 closed

[2020-07-07 01:31] rondogency commented on #18665
can confirm currently MXNet doesn't support both update global running mean/var and use running mean/var to calculate grads in one pass of Batchnorm, while Keras-MXNet can support it by passing mean/var as arguments to Batchnorm as a workaround

adding the support would still have constraints, especially cudnn doesn't support it so it cannot run with the best performance; some other frameworks lik

[2020-07-07 01:31] rondogency commented on #18665
@zhreshold @sxjscience FYI

[2020-07-07 07:14] tranvanhoa533 commented on #18659
Thanks @leezu . It seems very complicated.

[2020-07-07 09:07] fhieber commented on #18662
Lowering the batch size should definitely allow you to train a model. You could also try lowering the size of the model `--transformer-model-size` and `--num-embed`, or reduce the number of layers `--num-layers`.

I am also not sure whether your output of `pip3 list | grep mxnet` isn't concerning. To my knowledge it is not advisable to have 3 different versions of MXNet installed.

[2020-07-07 14:55] Masquerade0097 opened #18667 "MXNet serialization format depends on endianness"
## Description
We are working on extending MXNet support to IBM Z (s390x architecture) machines. We were able to successfully install MXNet on s390x but we encountered the following error while trying to run it.

### Error Message

[code]

## To Reproduce
1. Install MXNet from source with the flag `USE_SSE=0`.
2. Follow the tutorial to test the library - https://mxnet.apache.org/api/python/docs/tu

[2020-07-07 15:47] i55code commented on #18657
Thank you @DickJC123 !

[2020-07-07 17:59] leezu commented on #18667
The Intel x86 and AMD64 / x86-64 series of processors use the little-endian format whereas s390x architecture uses big-endian format. Current MXNet parameter serialization format is just a memory dump and can't be loaded on a system with different endianness.

For MXNet 2, we're switching to using the numpy serialization format which will prevent such issues (https://numpy.org/devdocs/reference/ge

[2020-07-07 20:03] nikudyshko opened #18668 "InferArgsMap does not infer dtype"
## Description
While creating a neural network with MXNet cpp-api, if set `dtype` of know args to `1 (corresponds float64)`, `InferArgsMap` will not transfer this type to infered args. This causes error, when creating Executor.

### Error Message
[22:30:58] C:\Users\UserName\Desktop\neural_nets\Mark1\Mark1\mxnet\include\dmlc\logging.h:429: [22:30:58] C:\Users\UserName\Desktop\neural_nets\Mark1\Mar

[2020-07-07 22:23] ys2843 commented on #18566
## Introduction

MXNet Numpy website hosts essential documents about the usage of MXNet APIs, it is important to share these contents with all MXNet community and new users. In this project, a plan for merging [numpy.mxnet.io](http://numpy.mxnet.io/) to MXNet official website is proposed to achieve above goals.

## Problems

Contents from [numpy.mxnet.io](http://numpy.mxnet.io/) should be ported t

[2020-07-07 23:52] xcgoner opened #18669 "Inconsistency of output and states in ZoneoutCell"
## Description

In the implementation of ZoneoutCell:
https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/rnn/rnn_cell.py
The output and states are using 2 different masks.
However, if we use an RNNCell (e.g., LSTMCell or GRUCell) as the base cell, output is also a part of states (typically the first element of states).
As a result, there will be cases like output is using the

[2020-07-08 01:51] Sunhil commented on #17826
Have you solved the problem? If you have soled the problem, Clould you show the solution? I have the same question, Thanks a lot!

[2020-07-08 09:50] MrRaghav commented on #18662
Hello, thank you for your suggestion. Actually, I've started working on machine translation just few days back and wanted to try all the possible scenarios before replying to you.
Before contacting to the developers, I referred https://github.com/deepinsight/insightface/issues/257 and already tried by reducing default batch size from 4096 to 2048,1024, 512 and many more (_according to the mutiple

[2020-07-08 12:54] Masquerade0097 commented on #18667
@leezu Thanks for your reply.

I think it should work. I'll give it a try.

[2020-07-08 13:08] renjiahao0928 commented on #13301
Could you please tell me how to solve the question,I got the same error.

[2020-07-08 13:58] cosmincatalin opened #18671 "Scala 2.11 binding for version 1.5.1 throws memory leak warnings"
I am using the Scala 2.11 binding in my project (🤞 for #18655) and keep getting memory leak warnings. This happens for both the MacOS and Linux builds.

It is not clear to me if these warnings are valid or not, since I would assume the issue was fixed a long time ago (#10436 and some others).

[code]

[code]

I run my code with `-Dmxnet.traceLeakedObjects=true` so that I can get the verbose trace.

[2020-07-08 16:37] szha commented on #18662
on 1.

due to the hardware and programming model design in CUDA, it's a good idea to always use a multiple of 32 in batch size.

3. looks like an integration and compatibility issue.

[2020-07-08 16:44] fhieber commented on #18662
Point 3: sacrebleu 1.4.10 requires a newer version of Sockeye. We recently published a newer version on pypi that is compatible with sacrebleu 1.4.10.

[2020-07-08 17:01] leezu commented on #18637
Nvidia helped to make the files available publicly:

[code]

Now the Dockerfile can be updated to make use of the public files and the private S3 bucket can be deleted.

[2020-07-08 17:06] ChaiBapchya commented on #18637
Yes working on that fix.

[2020-07-08 17:07] leezu commented on #18637
Thank you @ChaiBapchya!

[2020-07-08 17:32] rondogency opened #18672 "Gluon 2.0 Dataloader should support BERT training using GluonNLP"
## Description
Currently we cannot use 2.0 Dataloader to train BERT, and the reason is 2.0 Dataloader is not flexible to support the data schema used by GluonNLP BERT, specifically if passing in a nested list of variable length numpy array, the construction of dataset would fail and throw NDArray conversion errors

Here is a minimal reproducible code, which is the similar data schema BERT pre-trai

[2020-07-08 17:33] rondogency commented on #18672
@eric-haibin-lin @sxjscience @zhreshold FYI

[2020-07-08 17:37] sxjscience commented on #18672
I can reproduce this failure message:

[code]

Error message:

[code]

[2020-07-08 18:22] sammieghabra opened #18673 "batch_norm - running mean and running var dont get updated when scale and center are false"
## Description
running mean and running var dont get updated when scale and center are false in batch_norm

### Error Message
There is no error message, but the parameters `running_mean` and `running_var` don't get updated when `scale` and `center` are `False`.

## To Reproduce
[code]

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. Run the python script from above

[2020-07-08 19:07] zhreshold commented on #18672
in 2.0, if `try_nopython` is set to false, then the behavior is the same as 1.0
if `try_nopython` is true, dataset has to be converted to ndarray and the nested arrays with different types and shapes is causing the problem. If anyone can help figure out the correct layout for converting the complex bert style dataset I can help look into the fix.

[2020-07-09 01:49] wkcn commented on #18673
It is a bug and we have fixed it.
Could you please try the latest version of MXNet, like MXNet 1.7 or MXNet 2.0 in `https://dist.mxnet.io/python`?

[2020-07-09 06:04] szha commented on #18400
http://jenkins.mxnet-ci.amazon-ml.com/blue/rest/organizations/jenkins/pipelines/mxnet-validation/pipelines/unix-cpu/branches/PR-18562/runs/11/nodes/354/steps/501/log/?start=0

[2020-07-09 08:40] renjiahao0928 commented on #10076
same error,it doesn't work, Can you tell me how to solve it?

[2020-07-09 17:06] stu1130 commented on #18646
I have verified the performance is almost the same after the fix https://github.com/apache/incubator-mxnet/pull/18504. Close the issue

[2020-07-09 17:06] #18646 closed

[2020-07-09 17:29] yifeim opened #18679 "selective testing"
## Description
* Reverse-index codes by the tests that cover them.
* Run only the affected tests during code review.
* Leave broken things broken so people who contribute can unblock themselves.

## References
- https://pypi.org/project/pytest-testmon/

[2020-07-09 17:34] eric-haibin-lin commented on #18679
That will be cool. Do you know any tool to do this quickly? I usually just grep by API names in the tests/ folder.

Not sure how this can be done easily. Maybe we need a dependency graph for all modules/functions in mxnet, so that if `a` is changed, then everything depending on `a` should be tested. For instance, a change in mxnet::Engine would trigger almost all tests.

I don't quite understand w

[2020-07-09 18:01] szha commented on #10076
@renjiahao0928 could you file a new issue for how you came across the issue? thank you

[2020-07-09 18:40] icemelon9 opened #18680 "[Doc] Gluon Block/HybridBlock/SymbolBlock appears at the wrong place in the API doc"
## Description
Gluon Block, HybridBlock, SymbolBlock has an empty doc in the API doc. For example: https://mxnet.apache.org/api/python/docs/api/gluon/block.html

Their actual docs appear under `gluon.nn` domain, which IMO is a wrong place for them. For example: https://mxnet.apache.org/api/python/docs/api/gluon/nn/index.html#mxnet.gluon.nn.Block

@ys2843

[2020-07-09 18:56] AustinDoolittle opened #18681 "Infer Shape Fails for empty NDArrays"
## Description
When trying to move a tensor of size 0 to a different context than the context that it is currently on, an "inferring shapes failed" error is raised. This occurs for tensors regardless of the number of dimensions they contain. It seems that inferring the shape of an empty NDArray is not currently possible.

### Error Message
[code]

## To Reproduce
Code to reproduce is as follows
[c

[2020-07-09 18:59] szha commented on #18681
@AustinDoolittle zero size array support is not available by default and needs to be turned on manually. If you turn on `mx.set_np_shape(True)` does it resolve the issue?

[2020-07-09 19:15] AustinDoolittle commented on #18681
That does appear to resolve the issue as reported. Unfortunately that will break quite a bit of our existing code. We'll look into some temporary workarounds. Just out of curiosity, will the np_shape approach be the default in the future? Or will this continue to be opt-in only?

[2020-07-09 19:33] szha commented on #18681
You can try and mark the part of code that requires zero-size/zero-dim array with the decorator `@mx.use_np_shape` and it will only take effect for that part of code.

[2020-07-09 19:47] leezu commented on #18681
Numpy compatible mode will be default (and the only supported way) in MXNet 2

[2020-07-09 20:13] szha opened #18682 "Re-enable PR website Preview"
## Description

It would be great to re-enable the preview capability for the website and API doc in PR for the purpose of quality control. We used to have this feature and it was removed as part of restructuring the website. Specifically, it should support:
- Uploading the built preview doc in CI into a static hosting place and making it publicly available.
- Adding a link to the preview site as

[2020-07-09 20:15] szha commented on #18682
In the autogluon case, we used S3 for the static hosting, and I created the staging bucket for this purpose. The bucket is set to have a lifecycle configuration that automatically deletes files older than 30 days so that the file space doesn't blow up

[2020-07-09 20:31] ys2843 commented on #18682
For MXNet website, we need to host the preview on  an Apache v2.4 server in order to make all the redirect works the same.

[2020-07-09 20:33] AustinDoolittle commented on #18681
This works, I'll run with this for now. Since this is expected behavior, I'll close out the ticket. Thanks Sheng and Leonard for the quick help and useful information :)

[2020-07-09 20:33] #18681 closed

[2020-07-09 21:31] ChaiBapchya opened #18684 "[CI] [Bot] Enable & Disable CI on a particular PR via command"
## Description
Potential feature add to existing mxnet-bot functionality would be to enable/disable CI.

Currently, we can only trigger specific pipelines or entire pipeline with mxnet-bot. It would be good to toggle CI runs via the bot. As requested by @ptrendx

[2020-07-09 21:31] ChaiBapchya commented on #18684
@mxnet-label-bot add [CI]

[2020-07-09 21:44] ys2843 commented on #18680
Investigating, this PR #18412 import the website issue.

[2020-07-09 22:04] leezu commented on #18680
This should be due to missing use of `__all__` specifier in the `gluon.nn` namespace.

https://github.com/apache/incubator-mxnet/blob/beafba76395e75c093f99d20ac62e38f48e91012/python/mxnet/gluon/nn/__init__.py#L22

imports the Block etc into the gluon.nn namespace and now it might be undefined behavior if Sphinx will show the Block doc as part of gluon.nn or gluon namespace.

Suggest to fix the __a

[2020-07-10 00:31] sandeep-krishnamurthy commented on #18680
@leezu - Should we revert the PR ( https://github.com/apache/incubator-mxnet/pull/18413 ) if we are unable to fix the broken website issue quickly. Ideally this should have been caught before the PR was merged. We shall work on it as you suggested above to have broken link checker as part of the PR build. But, given currently Python APIs are broken, I prefer we revert and merge back with the fix.

[2020-07-10 02:32] leezu commented on #18680
I suggest we focus on ensuring our users see the stable API docs, given that most users don't use MXNet 2 at this point anyways. This PR has exposed some bugs in the Sphinx setup which need to be fixed before the release; but this is an issue with the website generation script and shouldn't delay the feature development. What do you think @sandeep-krishnamurthy

[2020-07-10 03:01] haosirong commented on #4198
How did you resolve the question, I have also encoutnered this under nvidia-docker. and my nvcc is 7.5

[2020-07-10 04:05] leezu opened #18685 "mx.symbol.numpy._Symbol.__deepcopy__ logic error"
`mx.symbol.numpy._Symbol.__deepcopy__` performs shallow copy instead of deep copy like `mx.symbol.Symbol.__deepcopy__ `.

Problem:
[code]

Expected:
[code]